[2015-07-09 09:17] gangsir commented on #81
Thanks for providing this feedback. I have added table entities operation support into our PSH feature backlog. For now, calling table entities API of the storage .net library from PSH is the only way. We have short introduction about this in this tutorial. Hope it helps.
https://azure.microsoft.com/en-us/documentation/articles/storage-powershell-guide-full/#how-to-manage-azure-tables-and-table-en

[2015-07-09 09:37] gangsir commented on #10
I can't reproduce this on a new blob. Can you check if this metadata was added on the base blob? The metadata of the base blob will be copied to its snapshot which is by design of storage rest api.

[2015-07-09 22:50] vivsriaus commented on #97
@ewisuri Apologize for the delay, and thanks for reporting this to us. This issue will be fixed in the upcoming release.

[2015-07-10 01:30] AbelHu commented on #10
It happened last year. Since you cannot repro it now, close it.

[2015-07-10 01:30] #10 closed

[2015-07-10 09:23] Makovec opened #582 "Get-AzureRoleSize doesn't report NIC count"
Hi,
is it possible to report max NIC count to *Get-AzureRoleSize* output? The same as we have now MaxDataDiskCount?

Thanks
David & Matous

[2015-07-10 22:06] stankovski commented on #485
This is implemented in the dev brunch.

[2015-07-10 22:06] #485 closed

[2015-07-10 23:04] #418 closed

[2015-07-10 23:29] devigned commented on #428
@MattAllison I've been thinking about your feedback (and others) for a bit, and it resonates with me.

Let's say that we choose to rename the ARM cmdlets and leave the ASM cmdlets alone. What would be the best noun prefix for those cmdlets? AzureRM, AzureV2, something else? Anyone have any ideas?

Upon reflecting on these changes, it seems like changing the ARM cmdlets will satisfy our existing co

[2015-07-11 03:12] DeepakRajendranMsft commented on #491
Thanks for pointing it out. These are being fixed in the upcoming release.

[2015-07-11 03:14] DeepakRajendranMsft commented on #426
Thanks for pointing out. this is being fixed in the next release.

[2015-07-13 06:35] trondhindenes commented on #428
I agree. Moving the arm cmdlets to the "*AzureRM*"-prefix will cause the least amount of disruption of current scripts. I would move quickly tho, as some customers have no doubt already started using arm cmdlets.

[2015-07-13 06:41] trondhindenes commented on #300
@singhkay I'm proposing a "-wait" switch param that will wait until the operation has actually been exectued and returned a result (such as create/delete vm, and start/stop vm).

[2015-07-13 10:47] bingosummer opened #589 "ARM: Get-AzureResourceGroupGalleryTemplate does not work"
PS C:\windows\system32> Get-AzureResourceGroupGalleryTemplate
Get-AzureResourceGroupGalleryTemplate : An error occurred while sending the request.
At line:1 char:1
+ Get-AzureResourceGroupGalleryTemplate
+ ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    + CategoryInfo          : CloseError: (:) [Get-AzureResourceGroupGalleryTemplate], HttpRequestExcept
   ion
    + FullyQualifiedErrorId : Microsoft.Azur

[2015-07-13 11:43] pzerger commented on #428
@jodoglevy renaming the ARM cmdlets was something I suggested on User Voice back in May (http://feedback.azure.com/forums/246290-azure-automation/suggestions/6634825-enable-azureresourcemanager-module-in-azure-automa) as well as our private thread with the PowerShell MVPs. Looping in @alexandair for a reminder if there was any reason this was undesirable.

[2015-07-13 13:22] slapointe commented on #392
@jodoglevy I completely agree, we don't need this if we find the right way to get the object with the right type after deserialization.

I looked around a bit using reflector which lead me to PowerShell type conversion which I didn't know about. I found this article that explain the "magic" of PowerShell type conversion:

http://blogs.msdn.com/b/powershell/archive/2013/06/11/understanding-powershe

[2015-07-13 13:57] JakobGSvendsen commented on #474
seems to be trouble with this.

If I create the automation account in the old portal, I cannot select resource group and I automatically places it in a random generated resource group, and then i need to use this auto generated resource group name in all commands.
(example: OaaSCS2WT6LFDIBA25B3YWV7UA37577W3S7SWTQ5SJVJUDRBZHKSSWDXNA-West-Europe)

When are you planning on releasing ARM cmdlets for a

[2015-07-13 15:08] pcgeek86 commented on #488
+1 to @alexandair @mukaibot

[2015-07-13 15:08] pcgeek86 commented on #582
+1 @Makovec

Cheers,
Trevor Sullivan
Microsoft MVP: PowerShell

[2015-07-13 15:11] pcgeek86 commented on #300
@singhkay @trondhindenes

Any time that you have a question about how a command should work, check out similar PowerShell core commands. For example, there is a command called `Wait-Job` that enables you to wait for PowerShell Background Jobs to complete.

You can specify that the command should wait on:

- One or more jobs
- A specific job state
- A job by name
- A job by ID
- A job by instance I

[2015-07-13 15:16] pcgeek86 commented on #428
@devigned @jodoglevy @markcowl @singhkay @ogail PowerShell has solved the conflicting command name issue since the beginning. The proper syntax to call a PowerShell command is:

`<ModuleName>\<CommandName>`

[code]

If you want to reduce the confusion and impact to customers, then separate the modules, and educate customers about how to properly call into each module. This is not a technical probl

[2015-07-13 15:45] MattAllison commented on #300
I agree that we should have a consistent way to do this.

New-AzureVM has a -WaitForBoot parameter that may address the need for creation, but I don't believe that any of the other commands do.

I don't think Wait-Job would matter as I don't think the items actually create any form of persistent running jobs; they issue the API call and return.

A behavior change that provides consistency would be

[2015-07-13 16:01] MattAllison commented on #428
I appreciate Trevor's perspective but am unsure how a non-pathed method call would be intercepted.  Would "Azure\" win or would "AzureResourceManager\" win if there was a cmdlet with the same name that existed in both.

Because we will have a hybrid environment for an unknown period of time, it would seem that this does not solve the need to go back and modify code.  This type of change wouldn't b

[2015-07-13 16:08] trondhindenes commented on #428
I'm not sure I agree with the notion of identical cmdlets in different modules, Trevor. Imagine all the confusion for people trying to get help in forums etc. I'm not opposed to shortening down the naming tho, some of them terribly long.

[2015-07-13 16:10] trondhindenes commented on #300
IMHO all cmdlets should be syncrhonous bydefault, waiting for the requested operation to complete. For async operations, the -asjob along with the *job* cmdlets could be implemented.

[2015-07-13 16:15] pzerger commented on #428
I can tell you ARM loses today as it's not the default mode.

Regards,

Pete Zerger, MVP
Founder, SystemCenterCentral.com
Azure IaaS Book (coming soon) - http://insidethemicrosoftcloud.com
On Mon, Jul 13, 2015 at 11:01 AM, MattAllison <notifications@github.com> wrote:
I appreciate Trevor's perspective but am unsure how a non-pathed method call
would be intercepted. Would "Azure\" win or would "Azu

[2015-07-13 16:16] MattAllison commented on #428
If we went with the "rename everything" option, we would get away from identical commands in different modules and setup a path for future similar problems when a hypothetical ARM upgrade/successor comes out with more breaking changes.

[2015-07-13 16:18] RobinDotNet commented on #428
I kind of like the “rename everything” option. It forces people to specify which one they are using, and removes the chance that they will try to use the wrong one and not realize it. Plus, as noted below, it sets up a future path for similar changes.

Robin

From: MattAllison [mailto:notifications@github.com]
Sent: Monday, July 13, 2015 9:16 AM
To: Azure/azure-powershell
Cc: Robin Shahan
Subject:

[2015-07-13 16:23] pzerger commented on #428
Agreed. I don't think replacing the rename approach with A massive educational
undertaking with regards to pathing is a tenable approach.

Regards,

Pete Zerger, MVP
Founder, SystemCenterCentral.com
Azure IaaS Book (coming soon) - http://insidethemicrosoftcloud.com
On Mon, Jul 13, 2015 at 11:18 AM, RobinDotNet <notifications@github.com> wrote:
I kind of like the “rename everything” option. It forc

[2015-07-13 16:45] devigned commented on #428
@pzerger @RobinDotNet I'm trimming your email responses to keep the thread readable.

[2015-07-13 17:05] devigned commented on #428
@pcgeek86 the thing about having the same name across modules that worries me is the way PowerShell loads modules in the path. See the following example from @jodoglevy. In the case where both modules which contain a cmdlet are in the path the following is likely to occur.

[code]

[code]

[code]

[code]

This illustration of PowerShell module loading is far from intuitive and something that I don

[2015-07-13 22:09] doctordns opened #595 "Deprication of Switch-AzureMode"
Two issues/questions here
1. In the current release, using this cmdlet resutls in the following Warning Message:
WARNING: The Switch-AzureMode cmdlet is deprecated and will be removed in a future release
It would useful to add to that warning some hint as to what to do instead. I, like most users, will do anything we can to elminate warnings - just tell us what to do. You could do a 1-line explana

[2015-07-13 23:34] StephenWeatherford opened #598 "New-ResourceGroup doesn't provide error code details, leaving us with cryptic error messages"
I frequently see the following very unhelpful error message:

New-AzureResourceGroup : 4:28:22 PM - Resource Microsoft.Compute/virtualMachines 'MyWindowsVM' failed with message 'The resource operation completed with terminal provisioning state 'Failed'.'

If I then go to the portal's notifications, I can find the missing information under Properties:

statusCode:Conflict

statusMessage:
[code]
Thi

[2015-07-14 02:51] pcgeek86 commented on #428
The .NET platform allows "duplicate" type names, as long as they exist in different namespaces. Think of a PowerShell module like a namespace. Look at the `System.Windows` and `System.Windows.Forms` namespaces. There are **tons** of duplicated class names, .NET enumerations, etc.

https://msdn.microsoft.com/en-us/library/system.windows(v=vs.110).aspx
https://msdn.microsoft.com/en-us/library/system

[2015-07-14 02:52] pcgeek86 commented on #428
I get the impression that people are trying to protect other people from themselves, rather than educating them. That is a scary approach, but it seems that is what the masses want.

Cheers,
Trevor Sullivan
Microsoft MVP: PowerShell

[2015-07-14 04:47] MattAllison commented on #428
I think this is where there is perhaps a MASSIVE disconnect with a lot of what Microsoft is doing in Azure.

In my experience, the majority of PowerShell users are NOT developers and.  They don't have the background, experience or skills to deal with hierarchal namespaces of methods and classes, don't understand strongly typed variables, JSON, XML, etc..  And many or most of them never truly will.

[2015-07-14 05:41] Pradebban commented on #341
This does not work! Gives the below error,
 Cannot find an overload for "Add" and the argument count: "1".

[2015-07-14 07:20] jiacfan opened #600 "Fail to add SSH Key Pair to Ubuntu 14.10 in market place, however other Azure-Endorsed distrubution such as CentOS 7.0, SUSE 12 succeeded"
When try to add SSH key pair to Azure Linux VM which using Ubuntu 14.10 in public Azure Market place using methods offered officially, we found error message in waagent log, and SSH key pair failed to be added.
What's make us think this is an issue for Ubuntu 14.10 is same method succeeded on other distributions such as CentOS 7.0 and SUSE 12

The error message in waagent log:
2015/07/14 06:15:34

[2015-07-14 07:42] chenxuandong opened #601 "Azure cmdlets initialization sometimes fails due to race condition and cannot recover"
When multiple Powershell processes try Get-AzureSubscription at the same time, some of them might return an error saying the subscription does not exist.
The root cause should be at Common/Commands.Common/AzurePSCmdlet.cs#L97.
The logic there returns an empty AzureProfile object when failing to access the subscription info file.
After this empty object is stored in static _currentProfile, cmdlets

[2015-07-14 11:31] winperec commented on #340
Any updates on this?

[2015-07-14 18:45] brandonmartinez commented on #462
Just ran into a similar issue today when trying to deploy from VSO. Found a workaround: [Resolve a "Requested value VS2015 was not found" Get-AzureWebsite Error in PowerShell](http://bmtn.us/1CC7NL8)

[2015-07-14 20:37] FuUuUuUoO commented on #462
Since nobody wants to fix this I tracked it down to a bug in azure-sdk-for-net. It should be trivial to fix now. This issue can probably be closed now but I'd like to keep it open as long as this remains unfixed to avoid reposts.

[2015-07-14 21:28] vivsriaus opened #607 "ARM: Add Complete mode when submitting resource group deployment"
Per Ryan:

1)      Update Hyak+SDK to include complete mode
2)      Update new-azureresourcegroup and new-azureresourcegroupdeployment w/optional mode flag.  incremental should be the default.

[2015-07-15 06:57] ammaroff commented on #341
@Pradebban
This because you are using old version of Microsoft.ServiceBus.dll

make sure that you've loaded the latest version of Microsoft.ServiceBus.dll 2.7.5
https://www.nuget.org/packages/WindowsAzure.ServiceBus

[code]

and you've to notice that Authorization.Add is accepting 1 parameter:
https://msdn.microsoft.com/en-us/library/microsoft.servicebus.messaging.authorizationrules.add.aspx

[2015-07-15 14:32] robplank commented on #595
see this thread for the discussion of the future of the module https://github.com/Azure/azure-powershell/issues/428

In the current version of the module you will always see the warning when you use the Switch-Azuremode cmdlet.

[2015-07-15 14:45] pcgeek86 opened #612 "Unclear error when using ARM mode against Azure Government subscription (P3)"
I've currently got an Azure Government subscription "selected" and when I attempt to call any ARM cmdlets, I receive the following exception.

![image](https://cloud.githubusercontent.com/assets/466713/8701181/7681db16-2acd-11e5-900f-f31c1539f8c9.png)

I understand that ARM isn't supported in the Azure Government cloud, but the user feedback could probably be improved here, if ARM is unavailable.

[2015-07-15 15:38] pcgeek86 commented on #428
I agree about obsoleting skills every 9 months. Rather than us arguing about a long-standing (10 year) PowerShell paradigm, let's join forces to focus improvement of major Azure PowerShell design inconsistencies, such as:

* The IaaSv2 (ARM) Virtual Machine image commands (5 instead of 1)
* The broken ARM `Get-AzureLocation` command
* The ARM `Set-AzureSubnet` command requires you specify the `-Ad

[2015-07-15 15:49] pcgeek86 opened #613 "ARM: Rename Get-AzureProvider to Get-AzureResourceProvider (P3)"
For consistency, the `Get-AzureProvider` command should be renamed to `Get-AzureResourceProvider`.

Cheers,
Trevor Sullivan
Microsoft MVP: PowerShell

[2015-07-15 16:57] MattAllison commented on #428
I agree we should join forces and push for the correct solution.  I'm not arguing the paradigm -- I'm hopefully pointing out that the implementation, while working within rather than around the architecture of PowerShell, must readily support IT staff without developer skillsets.  The paradigm supports pathed namespaces; using that is difficult and shouldn't be part of the implementation.

I whole

[2015-07-15 17:24] devigned commented on #428
Yes, each of the issues @pcgeek86 enumerated should be addressed, and it's great to bring them to light for the community to rally behind. Each should be their own issue and have a discussion for each of them.

This thread has had multiple orthogonal discussions spawn. If we can, please try to keep the focus for this thread on the topic at hand, the proposed structure of Azure PowerShell post Swit

[2015-07-15 19:17] pcgeek86 commented on #428
@devigned Good deal, well I think we know where my point stands. I would highly recommend proposing the designs to the PowerShell core team and PowerShell MVPs prior to moving forward with any particular direction.

[2015-07-15 21:36] pcgeek86 commented on #135
@gangsir Can you submit a feature enhancement internally for the Azure Storage Service?

Appreciate your workaround, but this really needs to be addressed with the Storage Service at the API level. For blob containers with very large numbers of blobs, this isn't going to be a scalable, practical solution.

Cheers,
Trevor Sullivan
Microsoft MVP: PowerShell

[2015-07-16 03:32] jachin84 commented on #428
The comment from @MattAllison resonates with me as well.

My thoughts are:
* There is huge investment in the current ASM Cmdlets, don't break them!
* A separate name for ARM Cmdlets is simple solution and simple is always good.
* I like *verb*-ARM*Noun*

[2015-07-16 14:46] doctordns commented on #595
Robplank: thanks for that reference. Very useful.

It seems to me that we could usefully use the solution sooner (ie two modules with different nounprefixes) , rather than later. It would be useful to have them side by side for say 6 months before cutting over. Assuming there is a new way to do things (ie new modules) I'd prefer moving now rather than just waiting and storing up more breaking chan

[2015-07-16 21:06] pcgeek86 opened #619 "New-AzureDnsZone is missing -Overwrite parameter"
The `New-AzureDnsZone` command is lacking the `-Overwrite` parameter that the other Azure DNS commands have. Please ensure that this parameter is added.

For an explanation of Azure DNS eTags and the `-Overwrite` parameter, see the following documentation: https://azure.microsoft.com/en-us/documentation/articles/dns-getstarted-create-dnszone/

Cheers,
Trevor Sullivan
Microsoft MVP: PowerShell

[2015-07-17 02:18] pcgeek86 opened #621 "ARM cmdlets should support filtering with wildcards"
Many of the PowerShell core commands enable filtration of objects using wildcards, for example `Get-Process -Name *svc*;`.

The Azure Resource Manager (ARM) PowerShell commands should support filtering using wildcards to provide consistency with the PowerShell "feel." As of right now, there is limited (if any) support for filtering. See screenshot below.

![image](https://cloud.githubusercontent.c

[2015-07-17 03:30] markcowl commented on #332
@chrisrpatterson yes, this is a known issue.  If you perform the above steps and then run an additional
[code]

This should work around the issue.  The underlying problem is that the token cache used when creating the profile is the default (disk) token cache, which is not propagated to commands performed on the profile.

[2015-07-17 05:58] RonakThakkar opened #622 "How do I check if Web App exists (globally) before creating that?"
Requirement:
I am writing powersheel deployment scripts. I would like to check if that WebApp already exists before creating new web app. Currently there is no powershell cmdlet to check if WebApp exists globally.

Hence to solve that problem I first use Get-AzureWebApp to check if WebApp exists or not. But the problem is that Get-AzureWebApp takes -ResourceGroupName and checks only if the Web App

[2015-07-17 06:08] NaveenGoli commented on #622
You can query all resource groups and check one group at a time,

Sent from my cool Windows Phone
________________________________
From: RonakThakkar<mailto:notifications@github.com>
Sent: ‎7/‎16/‎2015 10:58 PM
To: Azure/azure-powershell<mailto:azure-powershell@noreply.github.com>
Subject: [azure-powershell] How do I check if Web App exists (globally) before creating that? (#622)

Requirement:
I a

[2015-07-17 06:16] RonakThakkar commented on #622
Azure might have thousands of resource group and that does not seem to be a feasible idea. My script would take a long time to check if web app exists using that approach. Is that possible to have a cmdlet that can check if WebApp exists or not globally.

[2015-07-17 08:52] AlanParr commented on #342
@vivsriaus Sorry for taking so long to reply to your last statements. The only reason the lower casing causes me a problem is because I have a Powershell script that I use to update settings. This fails changing the site settings due to the casing mismatch, example below:

Add-AzureAccount

$sites = Get-AzureWebsite | ?{$_.Name -match "<site search string>"}

foreach($site in $sites) {
    Write-H

[2015-07-17 09:04] jiacfan commented on #600
Please contact me with mail if need any repo scene. Thanks!

[2015-07-17 09:22] colindembovsky opened #623 "ARM: Add-AzureVMDataDisk requires DiskSizeInGB even for CreateOption attach or fromImage"
When trying to create an Azure VM from _existing_ vhds, I create a config and use `Add-AzureVMDataDisk` to add in the disk configuration.

[code]
However, when I try to attach the existing data disk, I have to specify `DiskSizeInGB` (the parameter is mandatory):

[code]
The command succeeds, but when passing this configuration to `New-AzureVM`, the operation fails stating that the disk Uri exists

[2015-07-17 09:42] zhongyi-zhang opened #624 ""Invoke-Hive" has not "-endpoint" param"
"Invoke-Hive" has not "-endpoint" param. So the Mooncake can't use it.

[2015-07-17 13:10] nickmeldrum commented on #413
looks like this same behaviour occurs with the azure xpat cli when trying to set up github deployment. Would be great if we could have some way of automating the creation of an azure website with a github webhook and specific branch.

[2015-07-17 15:51] pcgeek86 commented on #391
@DeepakRajendranMsft Thanks -- can you please ensure that the Azure PowerShell documentation is updated to reflect this?

Cheers,
Trevor Sullivan
Microsoft MVP: PowerShell

[2015-07-17 15:52] pcgeek86 commented on #248
@vivsriaus Thank you -- appreciate this getting resolved.

Cheers,
Trevor Sullivan
Microsoft MVP: PowerShell

[2015-07-17 17:23] nmackenzie commented on #379
To move a VM using Move-AzureResourceGroup you need to move the containing cloud service and all its VMs at the same time. For example:

Get-AzureResource -ResourceGroupName OriginalResourceGroup | where { $_.ResourceType -match 'Microsoft.ClassicCompute' } | Move-AzureResource -DestinationResourceGroupName NewResourceGroup

By default, the resources in a cloud service are put in a resource group

[2015-07-17 17:52] petrsvihlik commented on #379
I just tried moving web apps across resource groups - which was the original issue - and it works fine in 0.9.4.

[2015-07-17 18:19] singhkay commented on #623
I believe this is being fixed in the upcoming release with this PR https://github.com/Azure/azure-powershell/pull/620 @huangpf can you confirm?

[2015-07-17 18:49] singhkay commented on #494
Thanks @pcgeek86. Closing the issue, @mvanotti feel free to reopen if this is still an issue

[2015-07-17 18:49] #494 closed

[2015-07-17 19:27] singhkay commented on #333
@jonasro Azure PowerShell as it stands today is a wrapper over the APIs. Any capability in the PS depends on the APIs that are exposed in the platform. As there is no API for this capability, we won't be able to implement this in PS.

[2015-07-17 19:27] #333 closed

[2015-07-17 19:31] singhkay commented on #325
@pcgeek86 Can you see if this repros still?  And please include approximate trimeframe of the failure and any operation Ids which will help in debugging since this is a platform issue.

[2015-07-17 19:33] singhkay commented on #308
@clamanna This is assigned the label "IaaS" but I'm not sure what the compute team needs to look at here. Should this be assigned to your team instead?

cc: @matt-gibbs

[2015-07-17 19:45] singhkay commented on #300
To recap: The proposed design is to implement a -Wait switch on the Start, Stop and Update-AzureVM cmdlets in ASM module?

[2015-07-17 20:51] pcgeek86 commented on #300
@singhkay Yes, this is scoped to Azure Service Management (ASM). I think the idea is that any operation on an IaaS VM in a Cloud Service, that would place a lock on the Cloud Service, should cause another operation to "wait" until it is completed. I'm guessing this would have to be achieved through long polling on the client (Azure PowerShell), but should be abstracted from the user as @trondhinde

[2015-07-17 20:54] pcgeek86 commented on #325
@devigned @singhkay Sorry I dropped the ball on this. Let me try to reproduce it again. It may take me a little time.

Cheers,
Trevor Sullivan
Microsoft MVP: PowerShell

[2015-07-17 20:59] markcowl commented on #582
@Makovec Thank you for the feedback.  Assigning to the appropriate team to investigate.

[2015-07-17 21:02] singhkay commented on #13
Looks like this breaks only in PowerShell v3.0 or 4.0. @huangpf Can you investigate why that would be the case?

[2015-07-17 21:05] singhkay commented on #65
@SherifTalaat Checked with the platform team and this is actually by design. The List Affinity Group API returns the web/worker roles but the Get Affinity Group API doesn't return those values (when you specify a name). This is the reason why it is empty in PS.

[2015-07-17 21:05] #65 closed

[2015-07-17 21:06] singhkay commented on #75
@markcowl @matt-gibbs Should this be owned by your team instead since you folks already own the other subscription cmdlets?

[2015-07-17 21:16] markcowl commented on #572
@jaredmoo We are undergoing a redesign of some of the authentication infrastructure, so that this prescise scenario won't be relevant, but you will be able to get details of the current azure endpoints.  Closing because we won't support this precisely, but you will see this functionality soon.

[2015-07-17 21:16] #572 closed

[2015-07-17 21:17] singhkay commented on #60
Closing due to no response, feel free to reopen if this is still an issue

[2015-07-17 21:17] #60 closed

[2015-07-17 21:17] markcowl commented on #571
@m-moris Thank you for the feedback.  Assigning to the service team for investigation

[2015-07-17 21:18] singhkay commented on #257
@vors In ASM mode the Remove-Extensions cmdlets only remove the extension from the local vm object. We heard feedback that this was confusing for the users and in ARM mode we've fixed this so that the Remove*Extension cmdlets actually remove the extension from the cloud VM.

[2015-07-17 21:18] #257 closed

[2015-07-17 21:20] singhkay commented on #72
@huangpf IIRC we rolled out an extension ID fix in one of the last releases. Does that fix this issue?

[2015-07-17 21:33] markcowl commented on #622
@RonakThakkar  Are you asking about resource name, or about the domain name for the web app?

[2015-07-17 21:33] MattAllison commented on #300
@pcgeek86 I think the current commands do wait until the CS lock is released, but not until the operation completes.  For example, a call to Stop a VM could complete in 2 minutes, but the VM may still be in the "Stopping" state for a few more minutes.  Similar for starting and creating VMs.

I think the desired behavior is to ensure we have a mechanism to wait until the operation is completed (VM

[2015-07-17 21:34] markcowl commented on #624
@v-zhongz Thank you for the feedback.  Assigning to the service team to investigate

[2015-07-17 21:35] MattAllison commented on #622
Does Test-AzureName not work for that service type?  I know it works for Cloud Services and Storage.

[2015-07-17 21:35] markcowl commented on #619
@pcgeek86 Thanks for the feedback, Trevor, assigning to the network team to investigate.

[2015-07-17 21:37] markcowl commented on #621
@pcgeek86 Thanks for the feedback, Trevor, assigning to the ARM team to investigate

[2015-07-17 21:41] markcowl commented on #613
@pcgeek86 Thanks for the feedback Trevor, assigning to the appropriate team to investigate

[2015-07-17 21:44] #253 closed

[2015-07-17 21:45] singhkay commented on #309
@matt-gibbs Seems like this should be assigned to @chadiel's team instead

[2015-07-17 22:10] singhkay commented on #369
I like Get-AzureVM | Stop-AzureVM. I've filed a feature request.

[2015-07-17 22:17] pcgeek86 commented on #619
Had a Yammer conversation with @jtuliani and we are resolving there. I'll file a new bug for `Remove-AzureDnsZone` needing a `-Force` parameter.

Cheers,
Trevor Sullivan
Microsoft MVP: PowerShell

[2015-07-17 22:54] singhkay commented on #582
Get-AzureRoleSize calls the List Role Sizes API but it can't return this value unless API returns this. I've filed a feature request on the compute team. Closing as this isn't purely a PS issue.

[2015-07-17 22:54] #582 closed

[2015-07-18 14:16] trondhindenes commented on #428
@jachin84 I competely agree.

[2015-07-19 16:10] jtuliani commented on #619
Closing this item.  Based on discussion with Trevor on Yammer, I think we've agreed that we shouldn't add '-Overwrite' to New-AzureDnsZone, since it risks giving a false impression that the resulting zone would be identical to a genuinely new zone (it wouldn't, pre-existing record sets would still be there).

[2015-07-19 16:10] #619 closed

[2015-07-20 01:20] clamanna commented on #308
Yes, this feels like a general template deployment cmdlet issue.

cc: @vivsriaus

[2015-07-20 19:11] singhkay commented on #571
Discussing with the platform team on who needs to fail fast here

[2015-07-20 19:25] pcgeek86 opened #629 "ARM SQL: Vague error message"
## Symptom

When you call one of the ARM `*SQLServer*` cmdlets, a vague error message is returned, if the API cannot find the SQL Server.

At line:1 char:1
+ Get-AzureSqlServer -ResourceGroupName RGName -ServerName ServerName;
+ ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    + CategoryInfo          : CloseError: (:) [Get-AzureSqlServer], CloudException
    + FullyQualified

[2015-07-20 20:35] singhkay commented on #571
Assigning to the RM team as there is work happening on the platform to solve issues related to wrong locations.

[2015-07-21 04:41] huangpf commented on #13
It's a bug in PS 3.0 and 4.0 in that it fails to load the object and/or type info, if ```TableControl``` is not correctly configured.

This will be patched on our end for 3.0/4.0 in the incoming release. Stay tune. Thanks.

[2015-07-21 05:00] gangsir commented on #135
@pcgeek86 I will log this as a feature request in our system. In the meanwhile, I suggest you to open a feedback request here http://feedback.azure.com/forums/217298-storage so that more people will see and vote for this feature.

[2015-07-21 18:07] jtuliani commented on #475
My 2c: I like the approach of using 'Confirm' to suppress confirmation prompts and 'Force' to make the behaviour more 'determined to achieve success despite obstacles'.  This has the advantage of being more in line with standard PowerShell behaviour, and enabling $ConfirmPreference to be set for an entire script.
Moving to this model should be the goal.  But it's a breaking change, which has to be

[2015-07-21 20:43] alexandair commented on #613
It's not just one cmdlet. A bunch of them use "AzureProvider" and one uses "AzureResourceProvider".

[code]

At least, the naming should be consistent.

[2015-07-21 21:57] pcgeek86 opened #633 "ARM 0.9.5 :: No documentation for Register-AzureProvider"
The `Register-AzureProvider` command has zero documentation.

![2015-07-21 15_56_50-calendar](https://cloud.githubusercontent.com/assets/466713/8813496/34ec143e-2fc1-11e5-8fd0-ed6ae987ae91.png)

Cheers,
Trevor Sullivan
Microsoft MVP: PowerShell

[2015-07-21 22:00] pcgeek86 opened #634 "ARM 0.9.5 :: Get-AzureVirtualNetwork parameter oddness"
# Symptom

The `Get-AzureVirtualNetwork` command works with no parameters, which is perfect.

If you specify the `-Name` parameter for the `Get-AzureVirtualNetwork`, then it throws an exception saying that `-ResourceGroupName` is `$null`.
# Expected Result

The `Get-AzureVirtualNetwork` command should return virtual networks matching the user-specified value in the `-Name` parameter, without compl

[2015-07-21 22:03] pcgeek86 opened #635 "ARM 0.9.5 :: Get-AzureSqlServer requires -ResourceGroupName parameter"
# Symptom

The `Get-AzureSqlServer` command requires the `-ResourceGroupName` parameter.
# Expected Results

The `Get-AzureSqlServer` command should not require the `-ResourceGroupName` parameter.

Cheers,
Trevor Sullivan
Microsoft MVP: PowerShell

[2015-07-21 22:04] pcgeek86 opened #636 "ARM 0.9.5 :: Get-AzureLocalNetworkGateway requires -ResourceGroupName parameter"
# Symptom

The `Get-AzureLocalNetworkGateway` command requires the `-ResourceGroupName` parameter.
# Expected Results

The `Get-AzureLocalNetworkGateway` command should not require the `-ResourceGroupName` parameter.

Cheers,
Trevor Sullivan
Microsoft MVP: PowerShell

[2015-07-21 22:07] pcgeek86 opened #637 "ARM 0.9.5 :: Get-AzureLocation returns confusing results"
# Symptom
The `Get-AzureLocation` command does not return objects that represent locations as top-level elements.

# Expected Results

The `Get-AzureLocation` command should return objects that represent locations (Azure regions). Any Azure services that are available in each Azure region should be exposed as properties of the object.

Cheers,
Trevor Sullivan
Microsoft MVP: PowerShell

[2015-07-21 22:10] pcgeek86 opened #638 "ARM 0.9.5 :: No documentation for -OutputObjectFormat parameter (P2)"
# Symptom

The ARM PowerShell module has several commands that throw a warning about the `-OutputObjectFormat` parameter. There is no documentation that explains what this parameter is for, and why the user should care about it.

![image](https://cloud.githubusercontent.com/assets/466713/8813739/cf3ab1ca-2fc2-11e5-9ab4-bc202d770b3e.png)

![image](https://cloud.githubusercontent.com/assets/466713/8

[2015-07-21 22:14] pcgeek86 opened #639 "ARM 0.9.5 :: Missing Test-AzureName command (P3)"
# Symptom

The ARM PowerShell module is missing the `Test-AzureName` command.
# Expected Results

The ARM PowerShell module should contain the `Test-AzureName` command.

Cheers,
Trevor Sullivan
Microsoft MVP: PowerShell

[2015-07-21 22:18] djberg96 commented on #393
I don't understand why it can't see them. I can see the classic VM's in the V2 portal, and the Virtual Machine Contributor role specifically mentions Microsoft.ClassicCompute/virtualMachines/*

[2015-07-22 00:59] singhkay commented on #393
@djberg96 Even though these cmdlets are same name, on the backend they call different APIs and work on different API responses and return different objects. Having a cmdlet like Get-AzureVM we'd need to return two different objects based on the stack and then make all the other cmdlets in the module aware of what kind of object being piped into them and make decisions on the what stack API to call

[2015-07-22 07:00] alexandair commented on #637
@pcgeek86 Is this the same issue as [#488] (https://github.com/Azure/azure-powershell/issues/488)?

[2015-07-22 12:19] hruan opened #640 "Missing documentation for managing virtual network gateways"
There seems to be commands for managing virtual network gateways, VNet gateways, and local network gateways. Only the VNet gateway commands are documented.

How are virtual network gateways different from VNet gateways? And what is a local network gateway?

[2015-07-22 17:17] pcgeek86 commented on #640
Agreed, I just looked at the docs for ARM Virtual Network Gateways, and documentation is virtually non-existent. Here are a few questions that should be answered by the documentation:

* When should I use the `-EnableBGP` parameter or not?
* Which values can I specify for the `-GatewayType` parameter? Do I need to specify it?
* How do I associate the Virtual Network Gateway with a Virtual Network?

[2015-07-22 17:20] pcgeek86 commented on #637
@alexandair Yes, but it wasn't fixed in the 0.9.5 release, as you pointed out. The issue needs visibility, and I fear that it has fallen too far down the list to be prioritized.

Cheers,
Trevor Sullivan
Microsoft MVP: PowerShell

[2015-07-22 20:57] devigned commented on #637
I agree this needs to be improved, but I don't see a point in having duplicate issues. I'm closing this due to it being a duplicate of #488.

[2015-07-22 20:57] #637 closed

[2015-07-22 20:58] devigned commented on #488
@chadiel @singhkay any comments on this one?

[2015-07-22 21:00] devigned commented on #639
@chadiel any thoughts on this one? Looks like a similar issue to #622 and #491.

[2015-07-22 21:09] devigned commented on #634
It's been tagged and it's being triaged. Thank you for the issue report.

[2015-07-22 21:09] devigned commented on #635
It's been tagged and it's being triaged. Thank you for the issue report.

[2015-07-22 21:09] devigned commented on #636
It's been tagged and it's being triaged. Thank you for the issue report.

[2015-07-22 21:11] devigned commented on #638
It's been tagged and it's being triaged. Thank you for the issue report.

Perhaps we can have a little more of the conversation around this in the gh issue rather than email. I think it would be health to have that discussion.

[2015-07-22 21:17] devigned commented on #612
@stankovski and @chadiel perhaps the cmdlets should raise a specific error upon trying to use a cloud that has no ARM support.

[2015-07-22 21:18] devigned commented on #595
Please keep the conversation in the originating thread. I'm going to close this as a duplicate.

[2015-07-22 21:18] #595 closed

[2015-07-22 21:37] pcgeek86 commented on #638
@devigned Happy to, but I think the actionable items are pretty clear.

1. Create a documentation page on Azure.microsoft.com
2. Implement appropriate portions of documentation into the built-in PowerShell help

To be completely honest with you David, there are simply too many documentation and functional gaps, and implementation inconsistencies, to spend a long time hashing each one out in a leng

[2015-07-23 04:07] gangsir commented on #386
Thanks for providing feedback to storage team. Actually changing the key names to key1 and key2 was intentional. Previously folks were getting confused whether primary key was used for primary location and secondary key was used for secondary location. This is not true, so we changed them to key1 and key2 to clear the confusion and clarify that the same keys can be used for both primary and second

[2015-07-23 07:41] alexandair commented on #639
I've filed the same issue in [#489](https://github.com/Azure/azure-powershell/issues/489) and it was closed 28 days ago without being resolved. We need to wait for Switch-AzureMode to go to history. :)

[2015-07-23 11:20] manicmonkey opened #642 "Can't specify server name in New-AzureSqlDatabaseServer"
The new Azure Preview Portal provides the ability to specify the database server name - can this be added to the Powershell cmdlet?

[2015-07-23 15:15] erichexter opened #643 "Can you publish the installer to chocolatey.org ?"
We would really appreciate that.

[2015-07-23 16:41] pcgeek86 commented on #386
@gangsir: To me, it seems as if  you fixed a training problem with a technical solution, rather than educating the users and adding clarifying documentation. The Azure Portal shows "primary" and "secondary" so the PowerShell interface should match that.

Now you have broken parity between PowerShell & the Azure Portal.

![image](https://cloud.githubusercontent.com/assets/466713/8856321/5027cc0e-31

[2015-07-23 16:44] pcgeek86 commented on #642
@manicmonkey Already exists in the Azure Resource Manager (ARM) module, which correlates to the Azure "Ibiza" Preview Portal.

![image](https://cloud.githubusercontent.com/assets/466713/8856385/c1dac72a-3127-11e5-8f8f-0fba8a66e817.png)

Cheers,
Trevor Sullivan
Microsoft MVP: PowerShell

[2015-07-23 16:53] joaoma opened #644 "cannot change endpoint to add LBSET if endpoint is already created"
Scenario: I have an endpoint created using powershell for service management public port 80 to local port 8081. I need to change that endpoint to add a load balancer set but fails using set-azureendpoint or add-azureendpoint. In order to add an lbset to an existing endpoint I will have to delete the endpoint and readd with add-azureendpoint with -lbset switch. That operation will cause downtime in

[2015-07-23 16:59] alexandair commented on #386
@gangsir I don't think naming the properties Key1 and Key2 is a solution. If someone is confused with Primary/Secondary terms, that same person wouldn't be less confused with Key1/Key2. The point is that you need to understand the technology and the purpose of those two keys. We are already familiar with Primary/Secondary keys, portals are using them, so why can't we use the knowledge we already h

[2015-07-23 18:08] manicmonkey commented on #642
Ah fantastic thank you!

[2015-07-23 18:08] #642 closed

[2015-07-24 06:06] calebdoise opened #645 "Set-AzureServiceAntimalwareExtension NullReferenceException"
Using Azure SDK 2.7, Azure PowerShell 0.9.5

Config contents:

[code]

[code]

Tried specifying StorageContext too and got the same result.

[2015-07-24 14:43] jeffyoung opened #646 "Set-AzureDeployment NullRefException"
Using Azure SDK 2.7, Azure PowerShell 0.9.5

Deploying a Cloud service with Diagnostic Extensions and the Upgrade switch causes a NullRefException.  If we don't use Diagnostic Extensions, no NullRefs.  If we don't use the Upgrade switch, no NullRefs.

(I've found the same NullRefs with SDK 2.6 and Azure PowerShell 0.9.4.  No NullRefs with 0.9.2)

Set-AzureDeployment : Object reference not set to a

[2015-07-24 21:23] DinoV opened #648 "Constructing a new image w/o a data disk set is a pain..."
When constructing a new VM image the code seems to be doing:

[code]
If you have no disk config setup though you end up getting a nasty error:

[code]

With no indication of what's going on...  The only way I've found of setting the data disk w/o actually constructing a data disk is to do:

$configSet.DataDiskConfigurations = new-object Microsoft.WindowsAzure.Commands.ServiceManagement.Model.DataD

[2015-07-25 15:04] jodoglevy commented on #474
The ASM (ADFE) cmdlets don't require you to use resource group names anywhere, so I'm not sure what you mean when you say you have to use the resource group name everywhere. Do you mean our ARM cmdlets make you do so?

To answer your question, we have just released the full set of Azure Automation cmdlets as ARM cmdlets in the last week or so. Please check WebPI for the latest.

The issues you are

[2015-07-26 01:31] rhencke commented on #648
Yeah.  We hit the same.  We ended up doing what you're doing.  It's just clumsy to work with.

[2015-07-26 11:00] marcusrobinson commented on #428
Can a -ARM or -ASM switch not be added to the current commands? If a switch isn't provided then defaults to ASM so existing scripts do not break. If a switch isn't provided give a warning to explain one should be provided?

Always the option to change the default at later point in time. Also if another change is made in the future just add another option, I.e. -AxM, otherwise this could be in this

[2015-07-27 20:59] brharr opened #653 "Add-AzureVirtualNetworkSubnetConfig Subnets are missing their IDs"
Here is the exact code that I ran and if you do either a Get on the Vnet or the Subnets, you will notice that none of the Subnets have Ids and this causes a problem when you get to create a Network Interface within one of the Subnets.

$vnet = New-AzureVirtualNetwork -Location $location -Name $vnetName -ResourceGroupName $rgName -AddressPrefix "10.2.0.0/16"
Add-AzureVirtualNetworkSubnetConfig -Vir

[2015-07-27 21:40] brharr commented on #653
The biggest part of this problem is the required Subnet parameter for the New-AzureVirtualNetworkInterface. In an ARM template you are creating the Nic, attaching it to a VM which is part of a Subnet, not making the Nic part of the Subnet before the VM is even created.

[2015-07-27 22:34] jodoglevy opened #655 "Service principal authentication fails in Azure Automation"
Currently, it is not possible to use the ARM cmdlets in Azure Automation, if authenticating with a service principal, due to the fact that Azure Automation sandboxes don't have the cred store the ARM module tries to store the SP cred in. The ARM module should be updated to not assume there is a cred store for the SP cred.

I know this is already being tracked internally by Azure PowerShell (as 439

[2015-07-27 23:02] alexandair opened #656 "ARM: issues in the Set-AzureDSCExtension help topic"
These are examples from Set-AzureDSCExtension help topic.

-------------------------- EXAMPLE 1 --------------------------
    C:\PS>Set-AzureVMDscExtension -ResourceGroupName name -VMName vm -ArchiveBlobName Sample.ps1.zip
    -ArchiveStorageAccountName stg -ConfigurationName MyConfiguration -Version 1.10 -Location 'West US'
## Description

Set the extension on the VM to download **MyConfiguratio

[2015-07-28 09:18] trondhindenes commented on #475
@jtuliani well put sir. And I 100% agree.

[2015-07-28 09:34] trondhindenes commented on #475
Any comments from the Azure team on this?

[2015-07-28 16:37] brharr commented on #653
An additional piece of information. If you run the New-AzureVirtualNetworkSubnetConfig cmdlet first and then pass the output to the New-AzureVirtualNetwork, then the Subnet ID gets populated.

This allows me to create the first subnet within the virtual network successfully, but there is no way for me to add a subnet that will be populated with an Id and I have tried every possibility.

[2015-07-28 17:32] pcgeek86 opened #659 "ASM :: Get-AzureWebsiteJob throws exception with no parameters"
# Symptom

If you run the `Get-AzureWebsiteJob` command with no parameters, you will receive an exception.

![image](https://cloud.githubusercontent.com/assets/466713/8938509/3cee2446-351c-11e5-837b-5ae2acbf8b86.png)
# Root Cause

An Azure Web Job must belong to an Azure Web App on App Service. However, the `Get-AzureWebsiteJob` does not require the user to specify the Web App `-Name` parameter (i

[2015-07-28 17:33] pcgeek86 commented on #656
Standard terminology should be used with DSC, to reduce end user / customer confusion. DSC configurations are called "*configuration documents*," not configuration *functions*, although they share a similar structure.

Cheers,
Trevor Sullivan
Microsoft MVP: PowerShell

[2015-07-28 18:35] pcgeek86 opened #661 "ARM :: Web App Web Job Cmdlets"
# Symptom

Azure Web App Web Job cmdlets are unavailable in Azure Resource Manager (ARM) PowerShell module.
# Root Cause

Azure Web App Web Job cmdlets have not been implemented in the Azure Resource Manager (ARM) PowerShell module.
# Action Items
- Implement Azure Web App Web Job cmdlets in Azure Resource Manager (ARM) PowerShell module.

Cheers,
Trevor Sullivan
Microsoft MVP: PowerShell
https://

[2015-07-29 08:31] doctordns commented on #428
Let's face it, the Two-headed API monster that is Azure is not somethign anyone would have designed from the start. From an IT Pro's point of view,  you can do the same things in each API, just in an utterly incompatible way. It's madness - and I think Matt Allison hit the nail on the head with his comment above about IT pros not being developers!  But moving on - I think we are between a bit rock

[2015-07-29 09:13] trondhindenes commented on #428
+1 and amen to that, @doctordns

[2015-07-29 12:51] pzerger commented on #428
+1 definitely time to move on a plan now before IaaS v2 sees a wide
adoption and we have two large groups (instead of one) worried about
potential breakage of their deployment scripts.

Regards,

Pete Zerger, MVP (System Center Cloud and Datacenter Management)
Founder, System Center Central: http://www.systemcentercentral.com
Azure IaaS Book (coming soon) http://InsideTheMicrosoftCloud.com

On Wed

[2015-07-29 15:36] pcgeek86 opened #667 "ASM/ARM :: Support Online Help"
# Symptom

When I run the  `Get-Help` command with the `-Online` parameter, and specify one of the Azure PowerShell commands in the `-Name` parameter, I receive an exception.

![image](https://cloud.githubusercontent.com/assets/466713/8961707/f4cc7e52-35d3-11e5-856f-6155ff3f9996.png)
# Expected Result

Since the Azure PowerShell commands are significantly lacking built-in documentation, they shoul

[2015-07-29 16:19] ciphertxt commented on #667
+1

This would be great functionality, although the MSDN documentation can often be several iterations behind the current cmdlet set. That being said, something is better than nothing.

[2015-07-30 09:00] martincostello opened #669 "webapp:Support AppOffline With Publish-AzureWebsiteProject"
Occasionally when publishing to an Azure Web App from Visual Studio Online an error similar to the following occurs:

[code]

The `Publish-AzureWebsiteProject` cmdlet should support a parameter with allows the AppOffline rule to be used, or indeed a way to pass arbitrary additional flags on to MSDeploy.

[2015-07-30 20:24] robplank commented on #428
Last I heard they are still on schedule to meet the timeline Joe Levy posted in his comment on this thread on June 11th.

[2015-07-30 20:38] vivsriaus opened #671 "ARM: New-AzureResourceGroupDeployment should use template Uri instead of downloading the file (P1)"
The current implementation downloads the file and then PUTs a deployment. Instead, use the Uri when submitting deployment

[2015-07-30 20:42] MattAllison commented on #428
Which seems insane to me considering that (AFAIK) Express Route still doesn't work with ARM VNets and there is no migration story to move from ASM to ARM that doesn't involve rm -rf *.

[2015-07-30 20:43] trondhindenes commented on #428
According to this, they were supposed to provide some info last or this week. Which means the have about 24 hours do do it: https://social.msdn.microsoft.com/Forums/azure/en-US/2e492d2d-41eb-47ef-8818-caa4581a652c/transition-existing-vmsresources-into-arm?forum=WAVirtualMachinesforWindows

[2015-07-30 21:01] jodoglevy commented on #428
@devigned and I have closed on a plan that we will officially post out soon, same timelines as before. Short version - ARM cmdlets will be renamed, ASM cmdlets will keep the same names. This will allow usage of ARM and ASM cmdlets side by side without breaking scripts that use ASM cmdlets. Scripts using ARM cmdlets will break, but only when you personally decide to move to the latest version of Az

[2015-07-30 21:36] MattAllison commented on #428
@jodoglevy Thank you very much for the update and, while I'm sure that's a bit of a pain from the development side, it sounds like you've made the right decision for your customers.

[2015-07-30 22:13] doctordns commented on #428
@jodoglevy thanks for the update. Renaming the ARM vs ASM cmdlets makes a great deal of sense. Its a MUCH better idea, imho, than the previous plan. This saves me, personally, a great deal of work.

I think we all hear you about the other issues (beyond ARM vs ASM cmdlet, their names, etc). My comments above still lagely stand - this is a large source of confusion, especially for IT Pros. We need

[2015-07-31 08:01] xingzhougmu opened #674 "Why New-AzureResource "PropertyObject" is required? It should be optional. (P1)"
Details:
I have a customer who is using New-AzureResouce command and found that the “PropertyObject” parameter is required although our MSDN states that it is optional. (The azure version is: 0.9.1)

PS C:\> New-AzureResource  -Location "CENTRAL US" -Name DSRG02 -ResourceGroupName RG2 -ResourceType "trendmicro.deepsecu
rity/accounts" -Plan @{Name="trendmicrodsplan003"; Product="accounts"; Publishe

[2015-08-01 14:38] doctordns commented on #483
Any news??

[2015-08-01 14:39] doctordns commented on #428
A further question - can we take @jodoglevy's post above as definitive - in other words is this Microsoft's final decision?

[2015-08-01 15:23] devigned commented on #428
@doctordns this is the official decision after weighing all of the feedback from the initial proposal.

I'll be updating the proposal to reflect the changes very soon.

[2015-08-01 15:26] doctordns commented on #428
@devigned Thanks. As I said above, I think this is the best of some uncomfotable choices. I look forward to it comign about swiftly and smoothly. While saying this, there is a major communication exercise to undertake - This is going to affect at least some existing scripts - and the IT Pros behind those need forewarning!

[2015-08-02 19:56] RaleS opened #683 "Get-AzureServiceDiagnosticsExtension : Object reference not set to an instance of an object."
Setting up azure diagnostics on role start using latest 0.9.5 azure ps cmdlets gives an error.

Both Set-AzureServiceDiagnosticsExtension and Get-AzureServiceDiagnosticsExtension are throwing same error, but there is no description on what the issue is.

<p>
<code>
Set-AzureServiceDiagnosticsExtension : Object reference not set to an instance
of an object.
At F:\approot\StartUp\Diagnostics.ps1:38

[2015-08-03 04:34] wasabii opened #684 "Set-AzureAvailabilitySet missing for ARM"
Unsure how to accomplish a change of AvailabilitySet on a VM. Set-AzureAvailabilitySet existed on classic resources. I see no similar thing now.

[2015-08-03 11:02] JakobGSvendsen commented on #474
Oh yes I meant the ARM cmdlets. sorry about that.

Great news about the full set of cmdlets! .. perfect timing! ;-)

Thanks!

[2015-08-03 16:10] pcgeek86 opened #685 "Azure PowerShell installer is removing critical PSModulePath value"
**FYI**: This has been a long-running problem. **A fix for this needs to be prioritized.**

# Symptom

After installing the Azure PowerShell module, the `c:\Program Files\WindowsPowerShell\Modules` folder is no longer showing up in the `PSModulePath` environment variable. This is breaking modules in that directly, including the **PSReadline** module, included out-of-box in Windows 10 RTM.

Cheers,

[2015-08-03 17:05] ivanz commented on #72
I have 0.9.5 installed here and still seeing the same error (however the "." are stripped):

[code]

[2015-08-03 17:09] huangpf commented on #72
@ivanz It seems it's because the extension ID string is too long. @hyonholee

@singhkay We shall provide an option for users to specify this value, in order to unblock similar issues.

[2015-08-03 17:11] huangpf commented on #684
I'm not sure you can update AVSet ID after the VM is created. @singhkay to help confirm the feature.

[2015-08-03 17:17] ivanz commented on #387
Is there a workaround for this that doesn't involve renaming roles?

[2015-08-03 17:32] maartenba commented on #193
Is there an ETA when this fix will be released?

[2015-08-03 17:32] singhkay commented on #13
Thanks for the update @huangpf! Closing as fixed

[2015-08-03 17:32] #13 closed

[2015-08-03 18:02] AzureRT commented on #13
@singhkay It's only fixed in the new release.

[2015-08-03 18:03] huangpf commented on #13
@singhkay It's only fixed in the new release.

[2015-08-03 20:41] roy128 commented on #549
:+1:

[2015-08-04 02:17] markcowl commented on #685
@pcgeek86 the installer only appends to the existing global environment variable psmodulepath, it does not otherwise change it.  Is there some special property of your psmodulepath variable, for example, is it very, very long?

[2015-08-04 03:01] pcgeek86 commented on #685
@markcowl  Nope, default install of Windows 10 RTM Enterprise Build 10240 off ISO.

[2015-08-04 05:16] pcgeek86 opened #691 "ARM VM Image commands are complicated and slow"
# Symptom

In the Azure Service Management (ASM) PowerShell module, I could simply call `Get-AzureVMImage`, and receive a list of the images available in the image gallery.

In the Azure Resource Manager (ARM) PowerShell module, a user must call no fewer than 4 separate commands to retrieve a publisher --> sku --> offer --> then finally, the "image details." This is not a user-friendly interface,

[2015-08-04 07:18] eegasai commented on #646
Hi Jeff,
I have the same issue power shell cmdlts in build vNext. Can you share the sample script with me?

[2015-08-04 12:29] Injac commented on #691
+1 For this proposal.

[2015-08-04 12:42] brharr opened #693 "ARM: No way to pass in an SSH key for Linux VM in Set-AzureVMOperatingSystem"
Currently the above command accepts a PSCredential which only works when you are using a username and password. However, with Linux machines, that is not the most secure practice. SSH keys are what should be used, but there is no way to pass an SSH key using the Get-Credential cmdlet, nor is there a parameter to make this happen within the New-AzureVM or Set-AzureVMOperatingSystem when the Linux f

[2015-08-04 15:19] rajinders opened #694 "ARM:Set-AzureDataDisk is missing"
I had created a DS4 Virtual Machine with 1 data disk. I wanted to change caching property for the datadisk.

This property can be found at storageProfile.dataDisks.caching
The only way to do this is to first remove the data disk with Remove-AzureVMDataDisk and Add-AzureVMDataDisk with new caching setting.

This seems cumbersome.
So I am requesting Set-AzureDataDisk cmdlet which can be used to upda

[2015-08-04 15:20] rajinders commented on #691
+1 For this proposal

[2015-08-04 15:23] rajinders commented on #667
+1

At this time one has to dig though actual code to find list of acceptable values for powershell cmdlets. So anything that can be done to improve on this would be great.

[2015-08-04 15:25] rajinders commented on #661
I was looking for this as well and I was surprised to not find it.

[2015-08-04 16:55] devigned commented on #643
We are going to be distributing to PowerShell Gallery in the near future. I don't think we are going to be adding chocolatey support.

Though, we do support anyone that would like to upkeep a chocolatey script for Azure PowerShell.

[2015-08-04 16:55] #643 closed

[2015-08-04 17:07] pcgeek86 opened #695 "Add-AzureAccount is opening/closing authentiation"
# Environment

* Windows 10 RTM Build 10240 Enterprise (fresh install from ISO)
* PowerShell ISE
* Azure PowerShell 0.9.6
* Azure Resource Manager (ARM) mode

# Symptom

The `Add-AzureAccount` command (with no parameters) is occasionally popping open the authentication dialog, but then closing it before I can type my credentials. I am assuming that it's passing through my credentials from Microsof

[2015-08-04 19:29] pcgeek86 commented on #694
+1

Cheers,
Trevor Sullivan
Microsoft MVP: PowerShell

[2015-08-04 20:24] devigned commented on #695
via @markcowl

[2015-08-04 20:43] OliverFlux commented on #379
Hey Guys .
You know if I can move this resources ?
Resources Like , Virtual networkings , Backup Vaults .

I tried using these lines:
Get-AzureResource -ResourceId $ ResourceID | Move-AzureResource -DestinationResourceGroupName $ Name

Thanks .

[2015-08-04 21:03] devigned commented on #667
We are working to address the documentation issue on a couple fronts.
- We're adding process around pull requests which will not allow pull requests which lower the documentation coverage.
- We are working internally to expedite the publication of PowerShell ref content to MSDN so that it should be up-to-date with the latest release.

We'll look at adding online help after we nail down the items a

[2015-08-05 06:55] petrsvihlik commented on #379
I haven't tried that. Check this out: http://feedback.azure.com/forums/223579-azure-preview-portal/suggestions/6178622-ability-to-move-resources-from-one-resource-group

[2015-08-05 13:00] RaleS commented on #683
In case you want to reproduce this...

The azure ps 0.9.5 is installed on role start.
I have a remote connection to machine running the cloud service.

[code]

[code]

I have noticed that SetAzureServiceDiagnosticsExtensionCommand contains properties for X509Certificate, CertificateThumbprint and ThumbprintAlgorithm. Are these required?

[2015-08-05 15:55] Maarten88 commented on #646
We also have this issue. Using Build vNext, after upgrade to Azure SDK 2.7 deployment (which worked fine on 2.5) stopped working with this error:

    Set-AzureDeployment -Upgrade -ServiceName ez-dev -Package C:\a\fb58bfdc\EigenZorg\src\EigenZorg.CloudService\bin\Release\app.publish\EigenZorg.CloudService.cspkg -Configuration C:\a\fb58bfdc\EigenZorg\src\EigenZorg.CloudService\bin\Release\app.publi

[2015-08-05 16:35] sebastus opened #700 "Publish-AzureVMDscConfiguration not parsing all requested modules"
If Import-DscResource statement contains -ModuleName item with specific version selected:

(e.g. -ModuleName @{ModuleName="xActiveDirectory"; ModuleVersion="2.5.0.0"} )

It leaves that module out of the zip file created at -ConfigurationArchivePath.

[2015-08-05 18:03] raandree commented on #685
Same here, just installed the July build and the PSModule path is gone. This is not Winodws 10 specific, I did have the same issue on Windows 8 and also with previous versions of the Azure PowerShell cmdlets.

[2015-08-06 11:01] Bustler commented on #646
Hello, same issue here.
Using VS 2013, Azure SDK 2.7, Azure Powershell from 07/20 and custom Azure powershell deployment scripts.

Thanks
Tom

[2015-08-06 17:18] dimkanewtown opened #705 "Get-AzureSchedulerJobCollection does not list WebJobs job collection"
As you can see there are two scheduled job collections.
![Job collection list](http://i.imgur.com/tqyYZS8.png)
![Job collection list in ARM](http://i.imgur.com/e553job.png)

However the Get-AzureSchedulerJobCollection only lists one
![powershell results](http://i.imgur.com/WRlHsvC.png)

[2015-08-06 18:12] devigned commented on #685
It sounds like this a reproducible issue. We will get it sorted out.

[2015-08-06 19:04] dimkanewtown commented on #705
Looks like this is the culprit. It effectively translates the region name to cs-EastUS-scheduler instead of cs-WebJobs-EastUS-scheduler.

      namespace Microsoft.WindowsAzure.Commands.Utilities.Scheduler.Common
    {
    public static class ExtensionMethods
    {
        public static string ToCloudServiceName(this string region)
        {
            return Constants.CloudServiceNameFirst + reg

[2015-08-06 23:38] vivsriaus opened #707 "ARM: Fix Get-AzureLocation and add a location filter for Get-AzureProvider (P2)"
Per Ryan,

1) Get-azure locations should really just show the list of azure locations. This is a breaking change, so we might have to add a warning message and keep the "legacy" output as is, until we decide to sunset it.
2) We add a –location filter to the get-azureprovider cmdlet which allows you to get only providers with types in the specified location.

[2015-08-08 17:01] pcgeek86 commented on #707
Also, `Get-AzureLocation` should have a `-Name` parameter that accepts wildcards.

[code]

Cheers,
Trevor Sullivan
Microsoft MVP: PowerShell

[2015-08-09 13:42] devigned commented on #428
[See wiki article for previous edits](https://github.com/Azure/azure-powershell/wiki/Deprecation-of-Switch-AzureMode-in-Azure-PowerShell)

## Executive Summary
### What is Changing:
Azure PowerShell team is removing Switch-AzureMode, which will be a breaking change to create a solid foundation for the future of Azure PowerShell. The changes are as follows and are targeted for release on 9/25/2015.

[2015-08-09 14:21] pzerger commented on #428
Have to say I am very impressed with the extended level of dialogue in gathering feedback and advance notice of changes. Hate that something has to be broken, but at least you're inconveniencing the smaller group at this point. Thanks.

[2015-08-09 14:30] devigned commented on #428
@pzerger and the rest of the community on this thread, thank you so much for caring about Azure PowerShell. It's only with direct interaction and guidance from the community that we can we hope to build a set of tools which people enjoy using.

The focus on community feedback and discussion exhibited in this thread is going to continue. We are going to do our best to make sure that any major decis

[2015-08-10 07:34] trondhindenes opened #718 "Use force/confirm correctly"
Several of the Azure cmdlets allow the use of `ConfirmPreference` (f.ex `-confirm:$false`) without this parameter having any effect. An example is
`Get-AzureSubscription -SubscriptionId <id> | Remove-AzureSubscription -Confirm:$false` (still prompts to confirm)

This is a CLEAR violation of the Powershell design guidelines. Please update the cmdlets to properly support ConfirmPreference and relate

[2015-08-10 08:21] shamglam opened #719 "Make cursor display in Azure Powershell"
I tried searching on the issue list for this, but couldn't find any reference or reason why. But would it be possible to make the cursor visible default in the azure powershell window, because it is visible by default in regular powershell windows.

If not, what is the reason for it being hidden?

I know I can probably update a profile file and make it visible but doing this many places is annoyin

[2015-08-10 08:47] #332 closed

[2015-08-10 12:23] snarasingh commented on #480
same issue exists even if we use 0.9.5

[2015-08-10 12:36] Bustler commented on #646
Hello, today I've updated both Azure SDK and Powershell to the latest versions, but still the same issue.

My configuration is as follows
 - 2 roles: web role and worker role
 - enabled plugins: diagnostics, remote desktop on both roles
 - I am providing config only for the diagnostics plugins, not for remote desktop plugins (I rely on the configuration of this in the cloud config file) -- **I thi

[2015-08-10 17:51] devigned commented on #718
Agreed. We are going to resolve this.

[2015-08-10 17:54] devigned commented on #480
@akromm any thoughts on this one?

[2015-08-10 23:20] vivsriaus opened #723 "ARM: Remove-AzureResourceLock fails when no parameter is specified (P1)"

[2015-08-10 23:27] vivsriaus commented on #607
This has been resolved, and will be included in the upcoming Azure Powershell release.

[2015-08-10 23:27] #607 closed

[2015-08-10 23:39] vivsriaus commented on #589
@bingosummer Can you please install the latest powershell version and retry? I don't see this issue.

[2015-08-10 23:39] #589 closed

[2015-08-10 23:43] vivsriaus opened #724 "ARM: Split gallery template cmdlets into its own"
1. New-AzureResourceGroupGalleryTemplate and Save-AzureResourceGroupGalleryTemplate shouldn't belong under ARM project
2. Remove options to deploy templates from New-AzureResourceGroup cmdlet

[2015-08-10 23:48] vivsriaus commented on #571
This will be fixed by the Compute team. No changes will be required in the powershell repo.

[2015-08-10 23:48] #571 closed

[2015-08-11 17:11] pcgeek86 opened #726 "ARM Resource [Group] Tags :: Usability Problem"
When you configure a resource tag, you have to specify a PowerShell `HashTable` with two keys (elements):

- Name
- Value

Since an ARM Resource Tag is simply a key-value pair, just like a single-key `HashTable`, I shouldn't have to specify **two** `HashTable` keys to declare a Resource Tag.

This is what it **should** look like:

[code]

![image](https://cloud.githubusercontent.com/assets/466713/

[2015-08-11 17:24] vivsriaus opened #727 "ARM: Add Remove-AzureResourceGroupDeployment cmdlet (P1)"

[2015-08-11 18:01] jseekamp commented on #646
I am having this same exact issue as well. I pasted a section of my deployment script.
`
Write-Host Setting Subscription...
Set-AzureSubscription -SubscriptionName $subscriptionname -SubscriptionId $sub -Certificate $cert -CurrentStorageAccount $storageaccountname

Write-Host Selecting Subscription...
Select-AzureSubscription -SubscriptionName $subscriptionname

Write-Host Setting the storage acco

[2015-08-11 18:28] pcgeek86 commented on #718
@trondhindenes @devigned

+1, here is a link to PowerShell design guidelines. Please distribute to Azure PowerShell team, and all related Microsoft buddies. Recommended reading.

https://technet.microsoft.com/en-us/library/ms714657(v=vs.85).aspx

Cheers,
Trevor Sullivan
Microsoft MVP: PowerShell

[2015-08-11 18:31] pcgeek86 commented on #719
Need clarity on this ....

- How do you reproduce the behavior?
- What does the missing cursor look like? (screenshots are often helpful)
- Why are you assuming this is a problem with Azure PowerShell?
- What other modules do you have installed and/or imported?
- Do you have a profile script(s) defined?

Cheers,
Trevor Sullivan
Microsoft MVP: PowerShell

[2015-08-11 18:33] pcgeek86 commented on #719
Test post

[2015-08-11 19:51] pcgeek86 opened #729 "New-AzureResourceGroupDeployment is missing the "Syntax" built-in help section"
Titles says it all. Screenshot offers proof.

![image](https://cloud.githubusercontent.com/assets/466713/9208286/fed0d22a-402f-11e5-9ac5-1d2772c3458d.png)

Cheers,
Trevor Sullivan
Microsoft MVP: PowerShell
http://trevorsullivan.net
http://twitter.com/pcgeek86

[2015-08-11 19:54] pcgeek86 opened #730 "New-AzureResourceGroupDeployment :: Built-in help needs organization"
The `DESCRIPTION` section of the built-in help for `New-AzureResourceGroupDeployment` is one, massive paragraph of information. This is a little daunting, especially for new users, and should probably be separated into 3-4 logical paragraphs.

![image](https://cloud.githubusercontent.com/assets/466713/9208382/68e52e68-4030-11e5-98a7-fe222d4e17be.png)

Here are some general guidelines on writing pa

[2015-08-11 21:29] pcgeek86 opened #731 "New-AzureResourceGroup missing -TemplateParameterUri parameter"
# Problem

The `New-AzureResourceGroup` command has a `-TemplateUri` parameter, to reference an ARM template at a HTTP URL, but it doesn't offer a similar `-TemplateParameterUri` parameter to point to a web-based parameter file.

# Action Item

Add a `-TemplateParameterUri` parameter to the `New-AzureResourceGroup` and `New-AzureResourceGroupDeployment` commands.

Cheers,
Trevor Sullivan
Microsoft

[2015-08-11 21:46] pcgeek86 opened #732 "ARM :: Get-AzureVM is capitalizing the ResourceGroupName property value"
# Problem

The ARM `Get-AzureVM` command is returning an object with the VM's `ResourceGroupName` property value in all caps. Looks unrefined and inconsistent with the rest of ARM.

![2015-08-11 15_43_34-start](https://cloud.githubusercontent.com/assets/466713/9211552/1751ed6a-4040-11e5-8793-517331a772e5.png)

# Expected Result

The `Get-AzureVM` should be returning an unadulterated `ResourceGroup

[2015-08-11 21:50] trondhindenes commented on #732
FYI: Looks like that's a bug in the underlying rest api and not in the Powershell Cmdlets.

[2015-08-11 22:29] pcgeek86 commented on #732
@trondhindenes Thanks!! Good call, haven't had a chance to dig into it. Too busy filing additional bug reports.

How did you find that out, out of curiosity?

Cheers,
Trevor Sullivan

[2015-08-11 22:40] pcgeek86 opened #733 "ARM :: Make Get-AzureResourceProviderLog easier to use"
# Problem

The Azure Resource Manager (ARM) PowerShell command `Get-AzureResourceProviderLog` is challenging to use in interactive PowerShell sessions.

1. Customers don't know the valid values for the `-ResourceProvider` cmdlet, without separately calling the `Get-AzureResourceProvider` command.
2. Obtaining two `[System.DateTime]` instances for the `-StartTime` and `-EndTime` parameters is quite

[2015-08-11 22:42] trondhindenes commented on #732
I was just working directly with the rest api for some side project just the other day and noticed it. I'm not able to repro 100%, but I'm seeing uper-cased resource group names from time to time when hitting https://management.azure.com{0}/providers/Microsoft.Compute/virtualmachines?api-version=2015-05-01-preview

However, the rg list api (https://management.azure.com/subscriptions/{0}/resourcegr

[2015-08-11 22:46] pcgeek86 commented on #732
:+1:

[2015-08-12 09:40] PeterSelchDahl opened #735 "Support for "Operations Management Suite" / "Operational Insights" from PowerShell"
I would like the ability to create and delete "Operations Management Suite" / "Operational Insights" from Powershell.

This feature is much needed to "managed service providers"

[2015-08-12 17:42] rjmax opened #740 "add-azureaccount for ARM doesn't support certs"
ARM and AAD both support service principal based authentication using certificates.  However, add-azureaccount does not support using certs when logging in as a service principal - it only supports user/pass combinations.

[2015-08-12 19:53] singhkay commented on #694
@rajinders @pcgeek86 Thanks guys, I've created a feature request for our dev team.

[2015-08-12 19:55] josheinstein commented on #685
Running into the same issue. What shows up in the Environment Variables dialog in Windows is a PSModulePath variable at the system level, with a value that appears to be correct. However, if I type echo %psmodulepath% at a cmd.exe prompt, I get what looks to be a truncated version of it. Simply throwing a ; at the end of the variable in the dialog (and closing/reopening command prompt) the environ

[2015-08-12 19:56] singhkay commented on #693
@brharr Have you looked at the Add-AzureVMSshPublicKey cmdlet?

[2015-08-12 19:58] singhkay commented on #691
@pcgeek86 @Injac @rajinders @trondhindenes The gallery team is aware of this. One of the things they are looking for feedback is on example usage scenarios so that the REST APIs actually support those things. It'd be great if you could share examples of how you'd expect to discover platform and user images from the Get-AzureVMImage cmdlet.

[2015-08-12 19:59] josheinstein commented on #685
Here is the system-level PSModulePath environment variable I am currently using, which is working again.

`%SystemRoot%\system32\WindowsPowerShell\v1.0\Modules\;C:\Program Files (x86)\Microsoft SQL Server\120\Tools\PowerShell\Modules\;C:\Program Files (x86)\Microsoft SDKs\Azure\PowerShell\ServiceManagement`

[2015-08-12 20:04] pcgeek86 commented on #691
[code]

Need more examples?

Cheers,
Trevor Sullivan
Microsoft MVP: PowerShell

[2015-08-12 20:11] trondhindenes commented on #691
I can only +999 what Trevor said. The gallery rest api is currently built as a hierachical api, when it should have been a search api.

[2015-08-12 20:14] pcgeek86 commented on #740
Can we please mark this as low priority?

1. There has been concerted effort to get users away from certificate authentication (PublishSettings files).
2. There are some pretty high priority issues outstanding, that should take precedence.

I don't disagree that this should be added, if it's a supported scenario in the platform, but there are much bigger fish to fry, that will likely occupy the ne

[2015-08-12 20:18] pcgeek86 opened #742 "-TemplateParameterObject on New-AzureResourceGroup is broken"
# Problem

The following code prompts me for a `locationFromTemplate` [dynamic] parameter, which shouldn't be occurring, because I'm using the `-TemplateParameterObject` parameter on the `New-AzureResourceGroup` command to pass in parameters to the ARM JSON template file.

[code]
# Expected Result

The earlier code sample should run successfully. A HashTable of parameters, passed into the `-Templa

[2015-08-12 20:23] singhkay commented on #684
Hi @wasabii, this capability is not yet available in the platform.

[2015-08-12 20:23] #684 closed

[2015-08-12 20:29] singhkay commented on #691
@pcgeek86 Thanks Trevor, this is good. Do you still expect the Get-AzureVMImage without any parameters to return all the images in the gallery (could be in thousands and increases as the platform/partners grow) ?

How about user image gallery. Do you expect a -User flag on all the above options to only search user's image gallery?

[2015-08-12 20:30] singhkay commented on #9
@AbelHu You should use the Set-AzureVMExtension -Uninstall for uninstalling the cmdlet. Remove-AzureVMExtension only removes the cmdlet from the local object for ASM module.

[2015-08-12 20:30] #9 closed

[2015-08-12 20:34] pcgeek86 commented on #691
@singhkay An alternative would be to use a `-ListAvailable` switch parameter, which can easily be tab-completed, and doesn't require much typing.

As far as user images: absolutely. A `-User` switch parameter would be great. VM images have a lot of metadata, so choosing the most common criteria that customers will want to filter on might be hard. I can appreciate that, but that is what parameter s

[2015-08-12 20:39] singhkay commented on #691
@pcgeek86 How about -Latest flag to get the latest image if timerange on the API can't be implemented?

[2015-08-12 20:41] pcgeek86 commented on #691
@singhkay Sure, build some pagination into the API. Good idea. Might want to let the user specify the data page size though [optionally]. FYI the `-ListAvailable` parameter is a precedent, set by PowerShell core's `Get-Module` command. However, I do like `-Latest`.

Cheers,
Trevor Sullivan
Microsoft MVP: PowerShell

[2015-08-14 00:31] chadiel opened #750 "Get-AzureProviderOperation is case sensistive, should not be case sensitive"
If you register an RP with one case and try to query for the operations with a different case, the operations will not return. E.g. the following will not work (but should)

Register-AzureProvider -ProviderNamespace "MICROSOFT.STORAGE"
Get-AzureProviderOperation -ActionString "microsoft.storage*"

[2015-08-14 03:50] brendangreen commented on #646
Seeing the same problem as everyone else above.

VSO build vNext, my build agent upgraded to Azure SDK 2.7 in conjunction with Azure Powershell 0.9.6.

All deployments of cloud services are now failing with the same error.  Log from most recent build:

     2015-08-14T03:37:05.3585066Z New-AzureServiceDiagnosticsExtensionConfig -Role My.Azure.Processor -StorageContext <context> -DiagnosticsConfigu

[2015-08-14 04:45] robplank opened #752 "ARM: Get-AzureAutomationRunbook"
the object that the cmdlet returns does not return data for the parameters property of the runbook

here is an example: (Powershell and Graphical runbooks with parameters exist in Azure Automation)

$runbooks = Get-AzureAutomationRunbook -ResourceGroupName mms-eus -AutomationAccountName MSDNAutomation

$runbooks | Select Parameters

Parameters
----------
{}
removed other null values to shorten res

[2015-08-14 08:50] mykolad commented on #646
Same problem for me - I'm using "Azure Cloud Service Deployment" step from Visual Studio Online (script Publish-AzureCloudDeployment.ps1 from this repository: https://github.com/Microsoft/vso-agent-tasks).
When I set "Allow Upgrade" checkbox, it fails to deploy with message:

2015-08-13T14:39:09.0113687Z ##[error]Object reference not set to an instance of an object.

[2015-08-14 13:12] tomhreb commented on #646
@brendangreen I am deploying the extensions separately, but it takes ages this way.
`Set-AzureServiceDiagnosticsExtension -ServiceName $ServiceName -Role $RoleName -StorageContext $storageContext -Slot $Slot -DiagnosticsConfigurationPath $DiagnosticConfiguration`

[2015-08-14 16:40] bmoore-msft opened #755 "Create new WebPI entry for new cmdlets when Switch-AzureMode is removed."
To ease the transition away from Switch-AzureMode we want to keep the existing WebPI entry for the last version of the cmdlets that contains the Switch-AzureMode behavior.  This will allow everyone to install those cmdlets where needed while code is being migrated.  It will also mean no one using the feed will be automatically broken unexpectedly because they we're using the "latest" feed entry.

[2015-08-14 17:55] ravbhatnagar opened #756 "Address the issue when a template parameter conflicts with a cmdlet parameter name"
Currently, in such cases we append the "fromTemplate" to the template param name. The user is prompted to provide values of such parameters. For example - If the user passes the storageAccount parameter in a parameter file, he should not be prompted for storageAccountFromTemplate. Select the PS parameters to reduce chances of such collisions.

[2015-08-17 08:22] jahmai opened #760 "Set-AzureKeyVaultSecret : Key vault cmdlet does not support account type 'AccessToken'."
When attempting to run Set-AzureKeyVaultSecret from the script Deploy-AzureResourceGroup.ps1 of a Visual Studio Azure deployment project I get the error:

Set-AzureKeyVaultSecret : Key vault cmdlet does not support account type 'AccessToken'.

All other Azure commands that I have tried work fine, and Set-AzureKeyVaultSecret works successfully from the PowerShell ISE with the same credentials.

[2015-08-17 13:28] slapointe commented on #691
I agree with most of all in here, I love parameterSets, we just need to find a good balance when there is a lot of them...

[code]

and for paging
[code]

It is mostly aligned with what have been previously proposed. What do you think?

[2015-08-17 15:00] pcgeek86 commented on #691
@slapointe Great idea, with the -NextPage parameter. FYI, when talking about data paging, PowerShell has built-in support for paging, since version 3.0. Documentation is extremely limited, if not completely non-existent, but someone posted an example of how to implement paging here:

https://github.com/uri247/Win81Desktop/tree/master/Windows%20PowerShell%20Supports%20Paging%2001%20Sample/C%23

Che

[2015-08-17 22:20] pcgeek86 opened #763 "Inconsistency :: 0.9.7 Release notes vs. reality"
# Issue

The release notes for Azure PowerShell 0.9.7 states that there is a new `-DeploymentMode` parameter on the `New-AzureResourceGroupDeployment` command in the ARM PowerShell module.

Based on my discovery methods, I do not see any such parameter. There is no documentation for it, and there is no indication that it exists, unless it's a hidden dynamic parameter.

![image](https://cloud.githu

[2015-08-17 22:52] bmoore-msft commented on #726
Actually our implementation seems of resource tags seems odd on both get and set.  A "get" of a single tag (created by json) returns to entries in the hashtable one for name and one for value.  This means the normal parsing your might do on a hashtable doesn't work, you have to understand our special implementation.

For example:
PS C:\Windows\System32\WindowsPowerShell\v1.0> (get-AzureResource -R

[2015-08-18 01:20] gangsir opened #765 "The hdinsight demo script is not working in Mooncake"
The sample script in the following hdinsight doc is not working because one cmdlet doesn’t return the storage account name as expected. It returns the storage blob endpoint instead.
https://azure.microsoft.com/en-us/documentation/articles/hdinsight-hadoop-use-mapreduce-powershell/

![image](https://cloud.githubusercontent.com/assets/6658255/9320238/31611d3a-458a-11e5-8ba6-c7ab2d4ccf84.png)
![image

[2015-08-18 04:59] hula100 opened #766 "ARM mode, storage management without AzureStorageContext parameter will fail with error “storage account not found”"
In ASM mode, storage management without AzureStorageContext parameter can success once we set CurrentStorageAccountName in current subscription:
![asmstroagesuccess](https://cloud.githubusercontent.com/assets/8871177/9322684/7e1e6eec-45a9-11e5-95a7-88ad1b341fae.PNG)
But in ARM mode, storage management without AzureStorageContext parameter will fail with error “storage account not found” even Curre

[2015-08-18 15:03] ErikCL commented on #646
I'm having the same issue as @mykolad.  Using the "Azure Cloud Service Deployment" task in a VSO vNext build I get the same error (<timestamp> ##[error]Object reference not set to an instance of an object.) when "Allow Upgrade" is checked.

I was also able to verify that @mykolad 's workaround is effective.  By unchecking the "Allow Upgrade" checkbox I was able to successfully deploy my Cloud Serv

[2015-08-18 17:07] markcowl commented on #763
@pcgeek86 The parameter is Mode, the type is DeploymentMode.  Feel free to submit a PR to correct the release notes.

[2015-08-18 17:10] markcowl commented on #763
@pcgeek86 fixed in the release notes and the dev branch.  Thanks for the heads up!  -Mark

[2015-08-18 17:10] #763 closed

[2015-08-18 17:12] markcowl commented on #760
@jahmai  Is this using a visual studio generated script?

[2015-08-18 17:24] pcgeek86 commented on #763
Thanks for fixing the release notes, Mark. When I was visually scanning for `DeploymentMode`, I completely passed up `Mode`.

Cheers,
Trevor Sullivan
Microsoft MVP: PowerShell

[2015-08-18 17:27] pcgeek86 opened #767 "The new -Mode parameter on New-AzureResourceGroupDeployment has no documentation"
# Problem

The new `-Mode` parameter for the `New-AzureResourceGroupDeployment` command, in Azure PowerShell 0.9.7 in Azure Resource Manager (ARM) "mode" does not have any documentation. The parameter supports auto-completion values of `Complete` and `Incremental`, but there is no *definition* of what these values mean.

![2015-08-18 11_23_33-new notification](https://cloud.githubusercontent.com/a

[2015-08-18 18:13] markcowl commented on #765
@gangsir Thank you for filing the issue.  Routing to the HDInsight team for resolution.

[2015-08-18 18:49] markcowl commented on #601
@chenxuandong The correct way to run multiple jobs in parallel and avoid locking issues with files is to use a stateless profile, load your subscriptions into the profile, and either pass the profile in to the cmdlets using the -Profile parameter, or use Select-AzureProfile, if you are running jobs in separate PowerShell processes.

For more information on using stateless AzureProfile, see:  https

[2015-08-18 18:49] #601 closed

[2015-08-18 18:53] markcowl commented on #462
@NaveenGoli What's the progress on this?  Do you just need to add an option to the cmdlet, or make the value a string insstead of an enum?

[2015-08-18 19:00] markcowl commented on #623
@colindembovsky Since this fix just shipped, closing the issue.  if you fidn the fix does not solve your issue, please reopen this bug.

[2015-08-18 19:00] #623 closed

[2015-08-18 19:10] markcowl commented on #646
@singhkay @huangpf Any idea on this?

[2015-08-18 19:46] markcowl commented on #719
@shamglam Closing as there has been no response.  Please reopen with additional repro dataas Trevor specifies if this is till an issue for you.

[2015-08-18 19:50] markcowl commented on #724
@vivsriaus New-AzureResourceGroup template deployment is quite a time-saving feature, especially for so fundamental a customer scenario.  I don't thinbk we want to delete this without serious thought about how it multiplies the cost of entry into ARM for customers.

@devigned Thoughts?

[2015-08-18 19:56] Stijnc opened #768 "ARM: Add-AzureVMSecret certificate doesn't appear in the store"
When using the add-azurevmsecret the Json output is not consistent with the intellisense I get in Visual Studio .

[code]

when verifying the json I get the following output

[code]

but the resource manager syntax in visual studio suggests the following:

[code]

**Note:** both work, just no consistency in the JSON template

[2015-08-18 20:03] markcowl commented on #732
@pcgeek86 Thanks for the report assigning appropriately for resolution.

[2015-08-18 20:06] markcowl commented on #726
@pcgeek86 The issue is, a tag is not simply a key/value pair.  A tag may be either a Key only or a key valur pair

as in

'Accounting'

or
'Department' = 'Accouting'

and the provided OM is actually close to the rest API.

Agreed that we should provide a better user experience, jsut allowing a dictionary / hash table for a set of tags.

[2015-08-18 21:35] crpietschmann commented on #6
What's the status on this? It doesn't look like it's been worked on yet. I'm thinking about contributing a PR in this area.

[2015-08-18 22:26] bmoore-msft commented on #726
The problem with the OM is that we say return a System.HashTable, but can't do typical operations on it like Add.  I tried updating/appending to the tags on a RG and couldn't figure it out.  I should be able to do something like:

    $t = (Get-AzureResourceGroup MyGroup).tags
    $t.Add("foo", "bar")
    $t.Add(Name="foo",Value="bar")
    $t.Add("bar")

None of that works.  I *can* set/replace th

[2015-08-19 00:13] pcgeek86 commented on #726
@markcowl What's wrong with this? /cc @bmoore-msft

[code]

Cheers,
**Trevor Sullivan**
Microsoft MVP: PowerShell
http://trevorsullivan.net
http://twitter.com/pcgeek86

[2015-08-19 00:15] pcgeek86 commented on #742
I think this is fixed in 0.9.7. Can anyone verify?

Cheers,
Trevor Sullivan
 Microsoft MVP: PowerShell
http://trevorsullivan.net
http://twitter.com/pcgeek86

[2015-08-19 05:07] pcgeek86 opened #771 "New-AzureResourceGroupDeployment hangs on creating second deployment in ResourceGroup"
# Problem

In the Azure PowerShell module 0.9.7, running on Windows 10 Enterprise RTM, the `New-AzureResourceGroupDeployment` command hangs while creating a second deployment in a given ARM ResourceGroup.

[code]
# Expected Result

The `New-AzureResourceGroupDeployment` command should not hang.

Cheers,
**Trevor Sullivan**
Microsoft MVP: PowerShell
http://trevorsullivan.net
http://twitter.com/pcge

[2015-08-19 06:27] jahmai commented on #760
@markcowl Other than Add-AzureAccount, is there another way to provide appropriate credentials in such a script for the KeyVault operations to work? Ideally any prompt would happen at the start of the long running script in which this step is somewhere in the middle.

[2015-08-19 07:35] pbevis commented on #669
Absolutely! Getting the same problem here, our build keeps randomly failing.

[2015-08-19 15:12] timfish commented on #462
I saw this issue when attempting to web deploy to Azure. I came across [this post] (http://www.brandonmartinez.com/2015/07/14/resolve-a-requested-value-vs2015-was-not-found-get-azurewebsite-error-in-powershell/) which reminded me that I'd enabled remote debugging with vs2015. Changing it back to 2012 fixed it.

[2015-08-19 22:10] robplank opened #773 "ARM:Help Content for new-AzureStorageAccount"
the Syntax shows a parameter *Name* but the actual parameter is *accountname* like shown in the example of the cmdlet

current help content
get-help New-AzureStorageAccount

NAME
    New-AzureStorageAccount

SYNOPSIS
    Allows you to create a new Storage Account

SYNTAX
    New-AzureStorageAccount [-ResourceGroupName] <String> **[-Name]** <String> [-Type] <String> [-Location] <String> [-Profile <

[2015-08-19 22:12] pcgeek86 opened #774 "Get-AzureVirtualNetworkGateway has mandatory -ResourceGroupName parameter"
# Problem
- Azure PowerShell 0.9.7
- Windows 10 Enterprise RTM

The `Get-AzureVirtualNetworkGateway` command has a mandatory `-ResourceGroupName` parameter on the default parameter set.
# Expected Result
1. The `-ResourceGroupName` parameter should be non-mandatory.
2. The `Get-AzureVirtualNetworkGateway` command should be callable with no parameters.
3. The `Get-AzureVirtualNetworkGateway` comman

[2015-08-19 22:26] pcgeek86 commented on #773
What PowerShell module version are you using? I suspect you are using an old one. The latest module is correct.

![image](https://cloud.githubusercontent.com/assets/466713/9370650/09928a72-468f-11e5-9e40-5205900b602b.png)

Cheers,
Trevor Sullivan
Microsoft MVP: PowerShell

[2015-08-20 14:37] robplank commented on #773
the 0.9.7 module doesn't have this issue

[2015-08-20 16:26] Bartthefish commented on #462
I just ran into this same issue with VS 2015 RTM and VS Online.
I followed the same steps in the 'workaround' and it resolved it. Obviously there is still a problem somewhere in the setting of the remote debugger to VS 2015

[2015-08-20 19:33] jodoglevy commented on #655
Reopening since this still repros.

[2015-08-20 20:35] vivsriaus commented on #573
@bmoore-msft Closing this issue for now, based on our email conversations regarding usability of tags. FWIW - the correct way to pass tags is this:
@(@{"Name"="foo";"Value"="bar"})

[2015-08-20 20:35] #573 closed

[2015-08-20 20:54] JECROFT opened #779 "KeyVault Commandlets missing"
The commandlets for KeyVault appear to be missing from the latest release, both my coworker and I are unable to manage the KeyVault.

[2015-08-20 23:17] Nepomuceno commented on #428
Sorry for getting to this discussion a little bit to late but I think that this decision will have a HUGE cost on the evolution of the Azure platform as a whole. The adoption of v2 that is already slow is going to be even slower. If you are geting the command in few months for the first time and you see "Get-AzureVM" and "Get-AzureVMRM" which one would you use ? The answer is simple, so we are goi

[2015-08-20 23:45] vivsriaus opened #781 "ARM: Fix error message returned when creating role assignments (New-AzureRoleDefinition) with incorrect scope"
Per Charles,
AFAICT the scope is invalid – you cannot do an assignment at an odd number of segments:
-Scope"subscriptions/$subId/resourceGroups"
it should either be:
-Scope"subscriptions/$subId "
or:
-Scope"subscriptions/$subId/resourceGroups/$name"

[2015-08-21 14:41] doctordns commented on #428
I am going to disagree with Nepomuceno. And I'll correct him that it's the RM cmdlets that are changing , not the SM ones. That approach will mean less production automation has to be recalled and reworked to cater for this change.

The root cause of this change is the two-API monster created by MS in the first place. A more sensible approach would have been to change the SM API to accommodate res

[2015-08-21 16:08] JECROFT commented on #779
PBKC issue, forgot to run  Switch-AzureMode AzureResourceManager.

[2015-08-21 16:08] #779 closed

[2015-08-21 16:37] pcgeek86 commented on #428
Once again, PowerShell already handles command name conflicts. Calling a command, with a conflicting name is done as follows: `ModuleName\CommandName`.

1. If you don't use ASM, then don't install ASM. You don't need to specify the module prefix.
2. If you don't use ARM, don't install ARM. You don't need to specify the module prefix.
3. If you use both ARM and ASM, then use module prefixes.
4. As

[2015-08-21 17:14] doctordns commented on #428
Trevor - I agree to your 1st and 2nd points.  As for point 3 - I'm not convinced forcing module name prefixes is a great solution - it makes long command lines even longer!
IMO, what should haver happened was a simpler prefix (ASM and ARM) could have been adopted from the get go with sepearate modules. I agree with you about the ugliness and less than outstanding readability. But I do think the wa

[2015-08-21 17:37] robplank commented on #428
I agree with Trevor, only install the modules you need and if using both modules use the module prefix should have been the solution, it works even in Azure Automation. I just wish we could get the new module and move past this issue and ensure all of the cmdlets have the proper documentation.

[2015-08-21 17:47] alexandair commented on #428
Don't forget that there are scenarios when you need to use both ASM- and ARM-based cmdlets, just because some of the functionalities are still not implemented as ARM cmdlets.

[2015-08-21 18:07] jeffwilcox opened #783 "Add-AzureNodeWebRole should be updated with a more modern Node.js build"
Hi,
The documentation for the Node.js `Add-AzureNodeWebRole` cmdlet has been updated recently (https://azure.microsoft.com/en-us/documentation/articles/cloud-services-nodejs-develop-deploy-app/), but one thing it does not point out is that the cmdlet generates a web role with Node.js version _0.6.20_ which was released in 2012.

Today Node is up into the _0.12.x_ territory and it has changed a lot

[2015-08-21 19:01] singhkay commented on #115
@pcgeek86 @doctordns @alexandair @robplank @pzerger  @trondhindenes @mattallison Since you folks gave great feedback on the Switch-AzureMode thread, I'd like to get your feedback as a powershell consumer here as well. I was testing this with the latest release 0.9.7 and a warning is now thrown in the above situation.

We evaluated if we should throw a ResourceNotFound exception as well and it seem

[2015-08-21 19:09] trondhindenes commented on #115
Definetely not throw an exception (terminating error) (the powershell design guidelines describe clearly what should cause a terminating error). The event Trevor is describing should clearly throw a non-terminating error. I'm not sure that the question is regarding the list of cmdlets, could you elaborate?

[2015-08-21 19:32] pcgeek86 commented on #115
I'll describe the desired outcome in code, using the core PowerShell commands as examples.

[code]

Cheers,
Trevor Sullivan
Microsoft MVP: PowerShell

[2015-08-21 19:53] MattAllison commented on #115
I have a hard time working through why get-process and get-item should behave differently.

Intuitively, I understand it - processes sometimes aren't running but files tend to be more absolute, but from a pure behavioral perspective, get-thing X should return the same type of error if X doesn't exist regardless of X being a process or file or registry key or whatever.

[2015-08-21 20:45] Nepomuceno commented on #428
The question is actually quite simple is about how the things will look in
6 months. A lot of the current services are going to be deprecates like the
cloud services. Think How it is going to be in 1 year when someone that is
starting with azure and see 2 different commands New-AzureVM and
New-AzureRMVM which one they will choose?

On 21 August 2015 at 15:41, Thomas Lee <notifications@github.com>

[2015-08-21 21:17] alexandair commented on #115
I would prefer a non-terminating error in case the resource was not found. In other words, if I perform some action against 4 VMs and I've mistyped the name of one of them, I want to get result for 3 existing VMs and error message for the forth, nonexistent, VM. If, for some reason, I want to turn that error into terminating one, I can specify -ErrorAction stop.

[2015-08-22 06:01] pzerger commented on #115
+1 to @alexandair comment.

Regards,

Pete Zerger, MVP (System Center Cloud and Datacenter Management)
Founder, System Center Central: http://www.systemcentercentral.com
Azure IaaS Book (coming soon) http://InsideTheMicrosoftCloud.com

On Fri, Aug 21, 2015 at 4:17 PM, alexandair <notifications@github.com>
wrote:

[2015-08-22 11:53] doctordns commented on #115
Kay,
First - thanks for asking. Much appreciated.

It seems to me that any get-* cmdlet should never throw a terminating error if 'object not found'. Like the existing *-item* cmdlets, any Azure cmdlet should fail gracefully as per PowerShell design guidelines. If I need the failure to lead to a terminating error (and that may be the right answer in some cases), PowerShell provides the mechanism t

[2015-08-22 17:40] pcgeek86 commented on #115
@MattAllison How do `Get-Item` and `Get-Process` work different? In the examples I provided, they work the same, which is being used as a basis for how the Azure cmdlets should work.

Cheers,
Trevor Sullivan
Microsoft MVP: PowerShell

[2015-08-22 18:16] Uriil opened #786 "New-AzureHDInsightCluster fails to create new cluster"
I am trying to create cluster using powershell. Here is script I am executing:

$containerName = "hdfiles"
$location = "Southeast Asia"
$clusterNodes = 2
$userName = "HDUser"

#Generate random password
$rand = New-Object System.Random
$pass = ""
$pass = $pass + [char]$rand.next(97,121) #lower case
$pass = $pass + [char]$rand.next(48,57) #number
$pass = $pass + [char]$rand.next(65,90) #upper case
$

[2015-08-22 18:18] pcgeek86 opened #787 "New-AzureResourceGroup complains about duplicate parameter"
# Problem

The `New-AzureResourceGroup` command is throwing an exception about a duplicate parameter, when a duplicate parameter is not specified by the user.

[code]

![image](https://cloud.githubusercontent.com/assets/466713/9425266/cb3b6376-48c7-11e5-9629-574c374da047.png)

# Expected Result

The `New-AzureResourceGroup` command should not throw an exception about a duplicate parameter being sp

[2015-08-22 18:26] pcgeek86 commented on #787
I just looked through the code for `New-AzureResourceGroup`, and noticed that the `-Name` parameter has a parameter alias called `-ResourceGroupName`. Hence, both the values passed into `-ResourceGroupName` and `-Name` were getting mapped to the same parameter.

Can we add a `-DeploymentName` parameter to the `New-AzureResourceGroup` command, to specify the name of the "deployment" object that's c

[2015-08-22 18:45] #787 closed

[2015-08-22 18:53] pcgeek86 opened #788 "ARM 0.9.7 :: Get-AzureRemoteDesktopFile missing -Launch parameter"
# Problem

In the Azure Service Management (ASM) PowerShell module, the `Get-AzureRemoteDesktopFile` command had two parameter sets:

- Download the RDP file onto the local filesystem
- Invoke the RDP file directly (`-Launch` switch parameter)

The same command in the Azure Resource Manager (ARM) PowerShell module no longer offers the `-Launch` parameter.

![image](https://cloud.githubusercontent.

[2015-08-22 18:54] pcgeek86 commented on #783
@jeffwilcox FYI, Markdown formatting isn't supported in the GitHub issue title / subject.

[2015-08-22 19:01] pcgeek86 commented on #428
@Nepomuceno +1, if they're going to destroy the command names, they should destroy the ones that are going to be deprecated, rather than ruining the "new" user experience.

Cheers,
Trevor Sullivan
Microsoft MVP: PowerShell

[2015-08-22 19:10] MattAllison commented on #115
I was perhaps taking your examples too literally.

In the first, you said non-terminating error.  In the second, you said error which I inferred to be something other than non-terminating due to the lack of specificity that accompanied the first.
________________________________
From: Trevor Sullivan<mailto:notifications@github.com>
Sent: ‎8/‎22/‎2015 10:40 AM
To: Azure/azure-powershell<mailto:azu

[2015-08-22 20:43] devigned commented on #428
Well, after the old ones are gone what stops us from aliasing the ARM cmdlets back to the "Azure" names :)?

[2015-08-22 21:07] Nepomuceno commented on #428
If we want to go back after we are going to be in danger of breaking
compatibility.  We should think in the future does who don't want to change
their old script just don't update the azure version
On 22 Aug 2015 21:43, "David Justice" <notifications@github.com> wrote:

[2015-08-22 21:21] devigned commented on #428
@Nepomuceno there are many options. That certainly is one that would work.

[2015-08-22 21:42] pcgeek86 commented on #428
@devigned Nothing stopping you from aliasing them in the future, but you might want to consider the confusion to end users before making such decisions.

[2015-08-22 21:45] pcgeek86 commented on #115
@MattAllison While I could have been more explicit, your inference is where the miscommunication stemmed from.

[2015-08-22 23:22] devigned commented on #428
@pcgeek86 any major choices will have the community involved.

[2015-08-23 01:57] MattAllison commented on #115
@TrevorSullivan I absolutely agree.

And from things like this, software bugs are born.  :)
________________________________
From: Trevor Sullivan<mailto:notifications@github.com>
Sent: ‎8/‎22/‎2015 2:45 PM
To: Azure/azure-powershell<mailto:azure-powershell@noreply.github.com>
Cc: MattAllison<mailto:mattallison@live.com>
Subject: Re: [azure-powershell] AzurePS 0.8.13 :: Azure Virtual Machine comma

[2015-08-23 04:31] pcgeek86 commented on #771
I think this is happening because the VM in both "deployments" has the same name. The second deployment, instead of creating a new VM, is trying to patch/update the existing VM, which is causing an error (see screenshot). Is this an ARM REST API issue or specific to the Resource Provider?

I would expect that the API would not hang indefinitely, but rather throw an exception.

![image](https://clo

[2015-08-23 05:31] pcgeek86 opened #789 "Feature Request: Add support for Azure Encryption Extensions for Azure Storage"
Please add support for Azure Encryption Extensions for Azure Blob storage, from the ARM PowerShell user experience. Integration with Azure Key Vault, and other key storage mechanisms should be supported.

http://blogs.msdn.com/b/partnercatalystteam/archive/2015/06/17/storing-data-securely-in-azure-blob-storage-with-azure-encryption-extensions.aspx

Cheers,
**Trevor Sullivan**
Microsoft MVP: PowerS

[2015-08-23 08:00] trondhindenes commented on #115
I seriously cannot believe we're spending time discussing what should cause terminating/non-terminating errors with a MS product group. I means, read the PowerShell design guide. It's pretty much crystal clear.

[2015-08-23 08:55] pzerger commented on #115
@tronhindenes come to the MS conference in Basel this week, we'll have a beer
with @alexandair and your frustrations will disappear.

Regards,

Pete Zerger, MVP
Founder, SystemCenterCentral.com
Azure IaaS Book (coming soon) - http://insidethemicrosoftcloud.com
On Sun, Aug 23, 2015 at 10:00 AM, Azure/azure-powershell
<reply@reply.github.com>
wrote:
I seriously cannot believe we're spending time dis

[2015-08-23 08:57] trondhindenes commented on #115
Would love to @pzerger. Didn't make it this year :-(
(btw, I hope I'm not coming across as frustrated. Puzzled, but not frustrated :-) )

[2015-08-23 14:24] hermesramos commented on #646
Samy issue. Microsoft always releasing half test products (crapware)

[2015-08-23 15:59] jseekamp commented on #646
I have found a potential solution to this:

"ExtensionConfiguration: Specifies an extension that is added to the cloud service. In Azure, a process can run as an extension of a cloud service. You must add an extension to the cloud service by using Add Extension before it can be added to the deployment during an update."
https://msdn.microsoft.com/en-us/library/azure/ee460793.aspx

From this I assu

[2015-08-23 19:37] jodoglevy commented on #428
@Nepomuceno in terms of how they'd choose between New-AzureVM and New-AzureRMVM, its the same as how they choose between New-AzureVM (ASM) and New-AzureVM (ARM) today. Except now the names will be different, so it will be less confusing in documentation and samples. On top of that, if they are just starting out with Azure, they should use New-AzureRMVM since it is the new V2 VM model in Azure. If

[2015-08-23 21:07] pcgeek86 commented on #428
I don't really think it's a "little much." I think it's an accurate assessment of how they are today, versus what they are becoming. If you tried doing the same thing in a PowerShell module that was much more popular with other PowerShell MVPs, you would have a similar uproar. The Azure PowerShell module is naturally benefitting from the lack of input from most PowerShell MVPs, who aren't using Az

[2015-08-23 22:33] brendangreen commented on #646
@jseekamp @hermesramos this has been fixed in the 0.9.7 release.

[2015-08-23 23:27] robplank commented on #115
+1 to @alexandair comment

[2015-08-24 06:07] eegasai commented on #646
Any update on when is it going to be pushed to production

[2015-08-24 11:13] jseekamp commented on #646
@eegasai Just downloaded the latest 0.9.7 from the Web Platform Installer

[2015-08-24 16:03] fabiendibot opened #790 "New-AzureResourceGroup Unauthorized error"
Hi,

I've upgraded to 0.9.7 and now impossible for me to create new resource groups.

Here is the test i've made thiis far...

New-AzureResourceGroup -Name TestSII06 -Location "North Europe" -GalleryTemplateIdentity Microsoft.WebSiteSQLDatabase.0.3.20-preview `
                -siteName TestSii06 -hostingPlanName TestPlan06 -siteLocation "North Europe" -serverName srvsii06 -serverLocation "North E

[2015-08-24 18:53] devigned commented on #646
Closing the issue since the fix in the 0.9.7 release should resolve this issue. Please reopen if this issue persists.

[2015-08-24 18:53] #646 closed

[2015-08-24 20:12] singhkay commented on #788
@DeepakRajendranMsft Can you take a look at this?

[2015-08-24 21:04] #790 closed

[2015-08-24 21:11] pcgeek86 commented on #790
Hello,

To provide some closure to this, Fabien was using the legacy "PublishSettings" file to authenticate to Azure. Since this mechanism doesn't support Azure Resource Manager (ARM), to the best of my knowledge, Fabien switched over to using Azure Active Directory (AAD) authentication via the `Add-AzureAccount` cmdlet, which successfully provided him a user token to authenticate to the ARM API.

[2015-08-24 21:37] singhkay commented on #115
Thank you all for the feedback folks!

@trondhindenes This seemed like a big enough change so I wanted to make sure I included community on this decision so that it wasn't a surprise or worse, a wrong one that breaks folks' workflows. Regarding the other cmdlets I mentioned in my question, this steps from the fact that these cmdlets are executing the base cmdlet code here

https://github.com/Azure

[2015-08-24 22:07] pcgeek86 commented on #115
@singhkay Thank you, Kay!!! Appreciate your efforts on this.

Cheers,
Trevor Sullivan

[2015-08-24 23:48] pcgeek86 opened #793 "ARM 0.9.7 :: New-AzureRoleDefinition doesn't support pipeline input"
# Problem

The ARM `New-AzureRoleDefinition` command doesn't support pipeline input.

![image](https://cloud.githubusercontent.com/assets/466713/9455406/2c3cd616-4a88-11e5-83a7-d3f966914dcd.png)
# Expected Result

The `New-AzureRoleDefinition` command should support pipeline input, either an array of JSON strings, and/or an array of `[System.IO.FileInfo]` instances.

Cheers,
**Trevor Sullivan**
Mi

[2015-08-25 00:32] pcgeek86 opened #794 "ARM 0.9.7 :: New-AzureRoleDefinition blocking issue"
# Problem

[code]

Here is my input JSON file:

[code]

What is the issue here?

Cheers,
**Trevor Sullivan**
Microsoft MVP: PowerShell
http://trevorsullivan.net
http://twitter.com/pcgeek86

[2015-08-25 01:09] pcgeek86 opened #795 "ARM 0.9.7 :: Add type casting support for PSAzureEnvironment class"
When PowerShell performs an implicit cast from `[System.String]` to `[Microsoft.WindowsAzure.Commands.Profile.Models.PSAzureEnvironment]`, it fails. Please add support for casting from `string` to `PSAzureEnvironment`.

![image](https://cloud.githubusercontent.com/assets/466713/9456332/72e771ba-4a93-11e5-971e-13c9baf173c5.png)

Cheers,
**Trevor Sullivan**
Microsoft MVP: PowerShell
http://trevorsul

[2015-08-25 01:14] pcgeek86 opened #796 "ARM 0.9.7 :: New-AzureProfile throws error when using -Environment parameter"
![image](https://cloud.githubusercontent.com/assets/466713/9456405/5490a00a-4a94-11e5-92e2-f6b476097b21.png)

Cheers,
**Trevor Sullivan**
Microsoft MVP: PowerShell
http://trevorsullivan.net
http://twitter.com/pcgeek86

[2015-08-25 11:38] vybber commented on #683
You need to connect to Azure first with Add-AzureAccount and then select subscription (if many).

[2015-08-25 17:50] pcgeek86 commented on #742
Still broken.

![image](https://cloud.githubusercontent.com/assets/466713/9474695/6afe8f6a-4b1f-11e5-938a-3a20c0a079b0.png)

[code]

[2015-08-25 18:15] akromm commented on #480
I will look into how to fix this.

[2015-08-25 19:03] jodoglevy commented on #554
This is an Azure Websites issue, not an Azure Automation issue, changing labels.

[2015-08-25 19:11] jodoglevy commented on #553
Thanks @SherifTalaat, filed an internal bug on -ContentLink/ContentLinkUri for our team.

The standard of the file having to be at an accessible URL, not UNC path, is standard for Azure ARM PowerShell. Also, the URL does not have to be public to everyone, for example you can pass a SasLink on an Azure Blob Storage blob that is not public, so that only Azure Automation can access it.

[2015-08-25 19:37] #136 closed

[2015-08-25 19:57] jodoglevy commented on #552
Connection types as not useless without modules, although modules are our main reason for them. We are adding a Remove-AzureAutomationConnectionType cmdlet to the ASM and ARM modules in the next release that will allow you to remove connection types if you don't want them anymore.

[2015-08-25 19:57] #552 closed

[2015-08-25 20:03] jodoglevy commented on #752
@robplank you are listing runbooks above. Listing runbooks does not return all data on the runbook like a get on a single instance does. Get-AzureAutomationRunbook -ResourceGroupName mms-eus -AutomationAccountName MSDNAutomation -Name "MyRunbook" will return the parameters.

If you want to get all data on all runbooks, you can pipe a list to a get, like so:

Get-AzureAutomationRunbook -ResourceGro

[2015-08-25 20:04] #752 closed

[2015-08-25 20:05] jodoglevy commented on #551
@SherifTalaat thanks for reporting this issue, I have filed an internal bug for it.

[2015-08-25 20:10] jodoglevy commented on #521
@JakobGSvendsen unfortunately, this is by design. Get-AzureAutomationDscNode returns objects with an Id property, but Get-AzureAutomationDscNodeReport takes in node ids via the NodeId parameter. The Id parameter of Get-AzureAutomationDcsNodeReport is for report id.

[2015-08-25 20:10] #521 closed

[2015-08-25 20:26] robplank commented on #752
@jodoglevy thanks for the solution to my problem, but wouldn't it make more sense to add a parameter to the cmdlet like -extendedProperties $ture  or -Properties * that way you are only enumerating the runbooks once?

[2015-08-25 20:32] jodoglevy commented on #752
This is an issue at the API level. If you do a list (don't specify a runbook name), the API will not return you all properties for all the runbooks it returns. Only the get API (where a single runbook name is provided) will return all the properties. This is for perf reasons.

[2015-08-25 20:37] pcgeek86 commented on #752
Joe,

Generally speaking, a PowerShell command shouldn't be returning two different types of objects that represent the same object. Seems like poor design to pipe the output from a PowerShell command into the *same* command.

Cheers,
**Trevor Sullivan**
Microsoft MVP: PowerShell
http://trevorsullivan.net
http://twitter.com/pcgeek86

[2015-08-25 20:46] jodoglevy commented on #752
It's the same object, some fields are just null / empty.

You wouldn't usually pipe a PS command into the same command. You also wouldn't usually need the parameters of all runbooks. The list operation gives you all the usual overview fields for runbooks. For unusual requirements, the script to use will look unusual :)

The underlying issue is due to the fact that PS uses the Get verb for get sing

[2015-08-25 20:52] robplank commented on #752
@jodoglevy  if the API issue is not going to be fixed can you please add this as an example when the help information get added to the module, most people are not going to run Get-AzureAutomationRunbook | Get-AzureAutomationRunbook because when you run Get-Process  and Get-Process | Get-Process you get the same results.

maybe the API needs to be updated to allow a control parameter to be passed t

[2015-08-25 20:55] pcgeek86 commented on #752
Joe,

I think I see where the discrepancy is. It's a misunderstanding of what your average PowerShell user "usually" expects. As a general rule, a PowerShell user expects to call a command and get results. If some object properties are empty, that should not be, then the PowerShell user will be confused. While the explanation of the underlying REST API is helpful, and I am not unfamiliar with the

[2015-08-26 21:40] jodoglevy commented on #752
I'll make sure we include notes on this in the cmdlet docs, thanks.

[2015-08-26 23:45] DeepakRajendranMsft commented on #788
added the launch option in this PR https://github.com/Azure/azure-powershell/pull/806

Thanks,
Deepak

[2015-08-27 08:30] martincostello commented on #340
Any progress on this issue?

[2015-08-27 12:06] larrywa commented on #428
To the Azure PowerShell team, where do you stand in regard to the estimated dates you had listed above, ie 'Release PowerShell 0.9.9 ~ 8/25'. Just trying to prep some customers for the change.

[2015-08-27 16:05] pcgeek86 commented on #788
@DeepakRajendranMsft Thank you -- I checked out the PR and the parameter sets look good.

However, I'm curious about the implementation of the `mstsc.exe` invocation. Is there a reason that you're wrapping the invocation inside a batch file? Isn't that going to leave a bunch of `.bat` files on the user's filesystem?

[2015-08-27 19:20] bmoore-msft opened #808 "Add a switch for template validation in New-AzureResourceGroup*"
Capturing the results of an email thread...

Currently New-AzureResourceGroup* wraps the template validation (ala Test-AzureResourceGroupTemplate) before deploying the template.  In the future, when we add more capabilities to the validate API we may want to separate validation and deployment.  Here's the scenario:

We have a script that does template deployment which includes staging of artifacts

[2015-08-27 19:38] robplank commented on #808
Will the new-azureresourcegroup cmdelt also get this change?

[2015-08-27 19:59] bmoore-msft commented on #808
New-AzureResourceGroup is an overloaded cmdlet (New-AzureResourceGroupDeployment more correctly models the service APIs and probably makes more sense for us to use) so that may be simplified in the future to deal only with group creation and not template deployment (which is just one engineer's opinion).  That said, if it remains as is I would expect that it also honors such a switch.

[2015-08-27 20:09] robplank commented on #808
I agree that the template parameters should be removed from the new-azureresourcegroup cmdelt current design is confusing what the technical difference is between cadets do there is no help content to explain when your should use one over the other

[2015-08-27 21:14] trondhindenes opened #809 "New-AzureAutomationModule (arm) should fail on non-existing contentLink"
When adding an automationmodule and pointing to a contentlink that doesn't exist, an (emtpy) module still gets created.

Expected behavior: non-terminating error.

repro: New-AzureAutomationModule -ContentLink "http://nowhere.com/nope.zip" -Name test

[2015-08-30 21:38] pcgeek86 commented on #809
Definitely agree on this feedback. Good catch, Trond.

Cheers,
Trevor Sullivan

[2015-08-31 15:34] pcgeek86 opened #818 "0.9.7 :: Docs for New-AzureSqlServer -ServerVersion parameter"
# Problem

![image](https://cloud.githubusercontent.com/assets/466713/9582570/5af869ee-4fc3-11e5-8cb6-40f9a61b7d64.png)

Cheers,
Trevor Sullivan
Microsoft MVP: PowerShell
http://trevorsullivan.net
http://twitter.com/pcgeek86

[2015-08-31 15:58] pcgeek86 opened #819 "0.9.7 ARM :: Rename -DatabaseName parameter to -Name on *SqlDatabase commands"
It's redundant to have `AzureSqlDatabase` as the command's noun, and also offer the `-DatabaseName` parameter. It should simply be `-Name`.

If you want to avoid breaking scripts:
1. Rename the parameter to `-Name`
2. Add a parameter alias for `-DatabaseName` to `-Name` parameter.

![image](https://cloud.githubusercontent.com/assets/466713/9583130/c8918244-4fc6-11e5-96be-15e63c04cb2d.png)

Cheers,

[2015-08-31 16:01] trondhindenes opened #820 "get-azurevm (arm) does not return vm state"
The arm api exposes vm status thru the "statuses" object. However, this is not included in the object returned by get-azurevm. This means that there is no way to check wether a VM is running or not thru arm powershell.

[2015-08-31 16:05] pcgeek86 commented on #820
There is a `-Status` parameter on `AzureResourceManager\Get-AzureVM`.

![image](https://cloud.githubusercontent.com/assets/466713/9583283/b26bc726-4fc7-11e5-8f76-abeb97c0d8e2.png)

Cheers,
Trevor Sullivan
Microsoft MVP: PowerShell
http://trevorsullivan.net
http://twitter.com/pcgeek86

[2015-08-31 16:06] trondhindenes commented on #820
now i just feel stupid.

[2015-08-31 16:06] #820 closed

[2015-08-31 16:10] pcgeek86 commented on #820
It's okay, I've slipped up before. It's hard to know if navigating online documentation, built-in docs, random blog entries, or looking at command metadata is the right way to go. With too many information sources, there isn't really a specific, recommended practice for discovering "how to" information.

Cheers,
Trevor Sullivan

[2015-08-31 16:41] pcgeek86 opened #821 "0.9.7 ARM :: New-AzureResourceGroup -TemplateVersion parameter not working"
# Problem
1. I have an ARM JSON template with a version of .1.0.0.0`.
2. In my invocation of `New-AzureResourceGroup`, I am specifying the `-TemplateVersion` parameter of `2.0.2.0`.
3. The command deploys the template.
4. I am concerned.

![2015-08-31 10_38_13-photos](https://cloud.githubusercontent.com/assets/466713/9584129/9ab9bdcc-4fcc-11e5-9937-e79cc9772574.png)

![image](https://cloud.githubu

[2015-08-31 18:19] pcgeek86 opened #823 "0.9.7 ARM :: New-AzureVirtualNetworkGateway :: -Location parameter should not exist"
Why does the `New-AzureVirtualNetworkGateway` command have a `-Location` parameter? The gateway is implicitly tied to the location of the Virtual Network that it is instantiated on, isn't that right?

Cheers,
Trevor Sullivan
Microsoft MVP: PowerShell
http://trevorsullivan.net
http://twitter.com/pcgeek86

[2015-08-31 18:21] pcgeek86 opened #824 "0.9.7 ARM :: New-AzureVirtualNetworkGateway :: -VnetId and -VNetName parameters"
# Problem

Why does `New-AzureVirtualNetworkGateway` have only a single parameter set, but offer **both** the `-VnetId` and `-VNetName` parameters? Shouldn't the user only specify one or the other parameter?
# Expected Result
1. `-VnetId` and `-VNetName` parameters should be broken out into parameter sets.
2. `-VnetId` and `-VNetName` parameters should use consistent capitalization rules.

Cheers,

[2015-08-31 18:23] pcgeek86 opened #825 "0.9.7 ARM :: New-AzureVirtualNetworkGateway :: Intellisense"
# Problem

The `New-AzureVirtualNetworkGateway` command does not offer Intellisense / auto-completion for the `-GatewaySKU` and `-GatewayType` parameters.

# Expected Result

The `New-AzureVirtualNetworkGateway` command should offer Intellisense / auto-completion for the `-GatewaySKU` and `-GatewayType` parameters.

Cheers,
Trevor Sullivan
Microsoft MVP: PowerShell
http://trevorsullivan.net
http:/

[2015-08-31 23:17] alexandair opened #827 "Remove-AzureResourceGroup and -Confirm parameter"
When I run Remove-AzureResourceGroup cmdlet to delete a resource group, I'm asked for a confirmation. If I specify the -Confirm switch, I'm still asked for confirmation. The -Force switch takes care of the confirmation pop-up window. Shouldn't that be the job of the -Confirm switch?

[2015-08-31 23:18] pcgeek86 commented on #827
Agreed, `-Confirm:$false`.

[2015-09-01 00:53] northtyphoon opened #832 "Support MediaLink in Set-AzurePlatformExtension"
Current Set-AzurePlatformExtension doesn't take MediaLink. I cannot publish a new version of VM extension with the new bits.

[2015-09-01 11:58] pcgeek86 commented on #788
Closing issue report, as parameter has been reimplemented.

[2015-09-01 11:58] #788 closed

[2015-09-02 22:33] bganapa opened #839 "Add-AzureAccount not honoring ActiveDirectoryServiceEndpointResourceId provided in the Add-AzureEnvironment"
To repro the issue
1. Do an Add-AzureEnvironment with a custom value('https://graph.windows.net/) for ActiveDirectoryServiceEndpointResourceId
2. Then Add-AzureAccount with ServicePrincipal like
Add-AzureAccount -ServicePrincipal -Tenant XX95704a-2e53-4e79-95dd-5f1747eb7XXXX -Credential $mycreds -Environment $CustomEnv

This fails with
{"error":{"code":"AuthenticationFailed","message":"The access

[2015-09-03 00:07] pcgeek86 opened #842 "Exception calling Remove-AzureADApplication"
1. Opened Azure Active Directory Portal interface.
2. Copied `ApplicationId`
3. Called `Remove-AzureADApplication -ApplicationObjectId <ID>`
4. Received weird exception message
5. Azure AD Application still exists.

[code]

![image](https://cloud.githubusercontent.com/assets/466713/9647745/78abb546-519d-11e5-9901-4f94317a529c.png)

Cheers,
**Trevor Sullivan**
Microsoft MVP PowerShell
http://trevor

[2015-09-03 15:18] mandrie opened #843 "New-AzureSqlDatabaseServer cmdlet should support serverName parameter"
In the new Preview Portal you can finally specify a friendly sql server name which is great! But you still can't do it from PowerShell, and if you have many sql servers to manage creating them in the UI is not an option. Would be great to see a -serverName parameter added in

[2015-09-03 16:19] yaananth commented on #719
Hey guys, I can still see the issue.
There has been solutions posted..
http://stackoverflow.com/questions/25394160/how-to-show-cursor-in-powershell

I am using azure power shell 0.9.5
Repro is just that I opened the powershell and I don't see any blinking cursor.

![image](https://cloud.githubusercontent.com/assets/12280011/9664109/edf7ca68-5235-11e5-8df1-747cbd2861e7.png)

After setting cursor si

[2015-09-03 18:56] devigned commented on #719
This happens all the time for me and is quite frustrating.

@yaananth seems like this would be a cool pull request. Are you interested?

[2015-09-04 13:59] teilmeier opened #857 "Update Microsoft.ServiceBus to an newer version"
Currently version 2.3 is referenced. This version doesn't contain newer features like the Event Hub. This may require some changes to the Service Bus Notifications because they are now part of Microsoft.Azure.NotificationHubs

[2015-09-04 17:42] vivsriaus opened #859 "ARM: Add Sku parameter for Set-AzureResource and New-AzureResource"
Expose -Sku parameter for Set-AzureResource and New-AzureResource cmdlets.

[2015-09-04 17:48] davidebbo commented on #859
Without this support, we have to rely on the `-IsFullObject` mode, which while functional, is harder to use, e.g.

[code]

[2015-09-05 12:20] pcgeek86 commented on #859
The resource commands are supposed to be generic, right? Isn't "SKU" limited to features like VM images and App Service Web Apps?

[2015-09-05 12:23] davidebbo commented on #859
It's generic. That's why it sits outside the Properties. Of course, in practice not all resource types support it, which is why it's optional.

[2015-09-05 19:44] pcgeek86 commented on #859
Right, so based on your statement, the parameter doesn't belong on the generic commands at all. The `-Sku` parameter should be added to the feature-specific PowerShell commands, to which it is applicable.

Cheers,
**Trevor Sullivan**
Microsoft MVP PowerShell
http://trevorsullivan.net
http://twitter.com/pcgeek86

[2015-09-05 20:05] pcgeek86 opened #864 "ARM PowerShell 0.9.7 :: Backup & Restore Azure SQL Database?"
Where are the PowerShell commands to backup and restore Azure SQL Databases?

![image](https://cloud.githubusercontent.com/assets/466713/9701068/3c761df0-53d7-11e5-8d74-76dcdb4402e7.png)

Cheers,
**Trevor Sullivan**
Microsoft MVP PowerShell
http://trevorsullivan.net
http://twitter.com/pcgeek86

[2015-09-05 22:13] davidebbo commented on #859
@pcgeek86 on the contrary: this is a generic pattern that can potentially be supported by any resource type. The whole point is to have a standard pattern for doing `sku` across any RP that needs it, and as such it absolutely belongs on `New-AzureResource`. In many ways, it's similar to `location`. There is a standard way to specify it, even if not all resource types support it.

Think of it this

[2015-09-06 18:57] pcgeek86 opened #865 "Default output format for Get-AzureResourceGroup should be tabular, not list"
The default output format for `Get-AzureResourceGroup` should be tabular, not list.

This can be accomplished using PowerShell "type formatting" files `<type>.format.ps1xml`.

https://technet.microsoft.com/en-us/library/Hh847831.aspx

Cheers,
**Trevor Sullivan**
Microsoft MVP PowerShell
http://trevorsullivan.net
http://twitter.com/pcgeek86

[2015-09-06 19:35] pcgeek86 commented on #859
@davidebbo Okay, well as long as it's intended to be a generic parameter. I just see very limited cases right now where the term "sku" is used. If that's going to become more standard, across Azure features, then it would be fine on here. The explanation about `-Location` was helpful, for me to see things from your perspective.

[2015-09-06 19:40] pcgeek86 opened #866 "0.9.7 ARM :: Documentation for New-AzureRedisCache"
This needs to be explained in more depth. What other versions of `-RedisVersion` can the user specify? Under what circumstances would the user specify a different version? What features are supported by different versions? Missing a lot of detail.

![image](https://cloud.githubusercontent.com/assets/466713/9706224/b8f7c02a-549c-11e5-96a8-4b3d4e7abb1c.png)

Cheers,
**Trevor Sullivan**
Microsoft MVP

[2015-09-06 19:41] pcgeek86 opened #867 "0.9.7 ARM :: New-AzureRedisCache -EnableNonSslPort should be a Switch parameter, not boolean"
![image](https://cloud.githubusercontent.com/assets/466713/9706231/fcf12f96-549c-11e5-9a02-9fbfcbfaa598.png)

Cheers,
**Trevor Sullivan**
Microsoft MVP PowerShell
http://trevorsullivan.net
http://twitter.com/pcgeek86

[2015-09-06 19:46] pcgeek86 opened #868 "0.9.7 ARM :: New-AzureRedisCache -Size parameter design problem"
Since its inception, PowerShell has had special identifiers `KB`, `MB`, `GB`, et al. to make it easy for IT admins to do number calculations in their PowerShell scripts.

The `New-AzureRedisCache` command creates ambiguity, because the `-Size` parameter accepts values such as `250MB`, `2.5GB`, and so on, which conflict with the PowerShell identifiers.

![image](https://cloud.githubusercontent.com/

[2015-09-07 08:58] jeff881208 commented on #719
I think you need to give the default Cursor size.

[2015-09-09 06:48] bingosummer opened #873 "ARM: Set-AzureVMExtension parameter confusion"
What is the difference between "-Name" and "-ExtensionType"?
Could the value of "-Name" be arbitrary?
[code]

[2015-09-09 09:17] davebrannan opened #874 "Exception calling Get-AzureSiteRecoveryProtectionEntity"
Running "Get-AzureSiteRecoveryProtectionEntity -ProtectionContainer $ProtectionContainer" produces an exception if the ReplicationProvider in the profile of the ProtectionContainer is not HyperVReplicaAzure.

Exception:
Get-AzureSiteRecoveryProtectionEntity : Operation failed.
ClientRequestId: 14063df6-dea8-433e-9e9f-545e3e13a661-2015-09-09 09:12:41Z-P
InvalidParameter: <Error xmlns:i="http://www.

[2015-09-09 11:53] ChristianRygg commented on #462
This also breaks VSO build using deployment to web site. This just fails without any indication why, as I describe here:

https://github.com/Microsoft/vso-agent-tasks/issues/526

[2015-09-09 16:03] stankovski commented on #874
@sriramvu please take a look

[2015-09-09 16:05] stankovski commented on #868
@SiddharthChatrolaMs please address

[2015-09-09 16:06] stankovski commented on #867
@SiddharthChatrolaMs please address

[2015-09-09 16:13] stankovski commented on #865
@vivsriaus please take a look

[2015-09-09 16:15] stankovski commented on #864
@akromm - can you address the question?

[2015-09-09 16:16] stankovski commented on #859
Closing the issue

[2015-09-09 16:39] davidebbo commented on #859
@stankovski I'm not clear on the resolution. Are you closing it because it is fixed? If so, can you please include the commit id? Thanks!

[2015-09-09 17:24] huangpf commented on #873
Given the premise that every Azure PS cmdlet is calling its REST API counterpart, let's refer to the VM resource extension REST API documentation: https://msdn.microsoft.com/en-us/library/azure/mt163624.aspx

The ```Name``` parameter means the name of the extension (which is a sub resource of a VM), and the ```ExtensionType``` parameter means the type of the extension, which can be found using the

[2015-09-09 21:16] stankovski commented on #859
@davidebbo - misread the thread and assumed there was no work to be done. Will re-open.

[2015-09-09 21:19] richrundmsft commented on #735
Creation and deletion via PowerShell is available
[code]
The current set of PowerShell cmdlets are documented here:
https://msdn.microsoft.com/en-us/library/mt188224.aspx

[2015-09-10 00:01] bingosummer commented on #873
Thanks

[2015-09-10 00:01] #873 closed

[2015-09-10 03:26] lebowitz opened #885 "Enable-AzureWebsiteApplicationDiagnostic failing for storage or blob mode"
The table or blob container does get created, but the wiring up of the SAS credential is broken.

[code]

[2015-09-10 05:07] sriramvu commented on #874
@davebrannan: Hi, our service handles either HyperVReplicaAzure or HyperVReplica as ReplicationProvider in the profile of the ProtectionContainer (RDFE / Azure module based cmdlets).
Can you please share the value of ReplicationProvider in the profile you are referring.

Thank you.

[2015-09-10 08:23] davebrannan commented on #874
Hi @sriramvu . The ReplicationProvider of the ProtectionContainer is currently "Other". This is from a VMWare environment but I've also hit this error in a VMM deployment

[2015-09-10 08:53] sriramvu commented on #874
As of today. Azure Site Recovery service supports HyperVReplica & HyperVReplicaAzure via RDFE PowerShell.
We should not see the same error with VMM deployment, can you please share the ClientRequestId to debug further.

[2015-09-10 09:28] davebrannan commented on #874
The last ClientRequestId I received is ClientRequestId: 33672c01-1efe-4624-b0e4-048dd3d46e4e-2015-09-10 09:27:53Z-P

[2015-09-10 09:41] darrenchuang commented on #874
I got the same error with Get-AzureSiteRecoveryProtectionEntity execution. Is there a plan to support VMWare and physical server deployment?

[2015-09-10 10:45] sriramvu commented on #874
@davebrannan: from logs (with ClientRequestId: 33672c01-1efe-4624-b0e4-048dd3d46e4e-2015-09-10 09:27:53Z-P), it seems that you are using "VMWare to Azure" technology.
Currently we are support following via RDFE /ASM based cmdlets:
* VMM to VMM
* VMM to Azure
* Hyper-V to Azure

[2015-09-10 10:47] sriramvu commented on #874
@darrenchuang: support to VMWare and physical server deployments are in our current backlog. We will be supporting them, will share the dates once they are finalized.

Thank you.

[2015-09-10 12:05] davebrannan commented on #874
@sriramvu Correct, this is from VMWare. If RDFE only supports VMM and HyperV currently does this mean that there is no alternative method for getting this data? Or is there a REST API we can call to get this data until you support it via the cmdlets?

[2015-09-10 17:03] sriramvu commented on #874
As for current public REST APIs / PowerShell, we have not added support for VMWare to Azure technology. We have plan to support VMWare and physical server deployments.
Thanks for showing interest.

[2015-09-11 23:21] SiddharthChatrolaMs commented on #867
-EnableNonSslPort is actually bool? in backend. we wanted to consider it only if value is specified. We can't do that with switch.

[2015-09-11 23:23] SiddharthChatrolaMs commented on #868
Size of redis cache can be: C0, C1, C2, C3, C4, C5, C6, 250MB, 1GB, 2.5GB, 6GB, 13GB, 26GB, 53GB
What should we use instead of MB, GB?

[2015-09-12 02:18] TravisEz13 opened #900 "Get-AzureVMDscExtensionStatus does not work when using a VM object"
Get-AzureVMDscExtensionStatus does not work when using a VM object

# Repro
1) create a VM and set the DSC extension on the VM
2) $vm = get-azurevm -ServiceName ServiceName -Name VmName
3) Get-AzureVMDscExtensionStatus -vm $vm

# Expected
Give you the status of DSC on the specified VM or an error indicating the DSC extension is not on the VM

# Actual
returns nothing

[2015-09-12 15:44] pcgeek86 commented on #868
I'd suggest using something that doesn't conflict with PowerShell commands. For example:

250 MB, 1 GB

Cheers,
Trevor Sullivan
Microsoft MVP: PowerShell

[2015-09-12 18:22] pcgeek86 opened #901 "0.9.8 ARM :: Get-AzureResourceGroupLog pipeline support is broken"
[code]

![image](https://cloud.githubusercontent.com/assets/466713/9833108/eec48660-5948-11e5-8a8f-cef60784d667.png)

Cheers,
**Trevor Sullivan**
Microsoft MVP PowerShell
http://trevorsullivan.net
http://twitter.com/pcgeek86

[2015-09-12 19:39] TravisEz13 opened #902 "Disable-azuredatacollection prompts if you want to disable azure data collection in non-interactive session"
Disable-azuredatacollection prompts if you want to disable azure data collection in non-interactive session

# Repro

[code]

# Expected results
Data collection is disabled without prompting (since there is no parameter to suppress prompting)

# Actual results

[2015-09-12 20:15] pcgeek86 commented on #707
ps. Duplicate of https://github.com/Azure/azure-powershell/issues/488

[2015-09-12 20:28] pcgeek86 commented on #707
ps. Still broken in 0.9.8, release just two days ago.

[2015-09-13 07:57] alexandair commented on #900
Is this new in 0.9.8? If I recall correctly, it's worked before.

[2015-09-14 01:30] andyliuliming opened #903 "dev branch could not be built correct now."
"C:\Personal\azure-powershell\build.proj" (BuildDebug target) (1) ->
"C:\Personal\azure-powershell\src\ResourceManager.sln" (Build target) (2) ->
"C:\Personal\azure-powershell\src\ResourceManager\Sql\Commands.Sql\Commands.Sql.csproj" (default target) (3
0) ->
(CoreCompile target) ->
  c:\Personal\azure-powershell\src\Common\Commands.ResourceManager.Common\bin\Debug\Microsoft.Azure.Command
s.Resour

[2015-09-14 19:07] singhkay commented on #694
This cmdlet is released now :)

[2015-09-14 19:07] #694 closed

[2015-09-14 19:07] #693 closed

[2015-09-14 19:08] singhkay commented on #693
Closing for now, feel free to reopen if the above cmdlet doesn't serve your purpose.

[2015-09-14 19:55] ronbok opened #906 "Test-AzureResource Depreciated?"
Just ran one of my scripts and noticed this is now depreciated?  What is replacing this??

[2015-09-14 20:15] chadiel commented on #707
I disagree with the name parameter since there is no server side support for this and the client side filtering is very straightforward

Get-AzureLocation | Where {$_.Name -like '*us*' }

[2015-09-15 16:08] devigned commented on #906
@vivsriaus any thoughts on this?

[2015-09-15 16:09] devigned commented on #903
We have been going through a major refactor. Please grab the latest and run `git clean -dfx` (warning, this will clean all non-git committed files).

[2015-09-15 16:10] devigned commented on #903
Please reopen if it still repros.

[2015-09-15 16:10] #903 closed

[2015-09-15 16:15] devigned commented on #902
We will address this issue. Thank you for reporting this issue.

[2015-09-15 16:18] devigned commented on #900
It's in the dev branch. We'll close after release of 0.9.9.

[2015-09-15 16:21] devigned commented on #843
@akromm thoughts?

[2015-09-15 16:24] devigned commented on #827
Related issue: https://github.com/Azure/azure-powershell/issues/475

[2015-09-15 16:42] devigned commented on #825
@DeepakRajendranMsft any thoughts on this?

[2015-09-15 16:43] devigned commented on #824
@DeepakRajendranMsft thoughts on this one?

[2015-09-15 16:43] devigned commented on #823
@DeepakRajendranMsft thoughts on this one?

[2015-09-15 16:44] devigned commented on #821
@vivsriaus thoughts on this one

[2015-09-15 16:45] devigned commented on #819
@akromm thoughts on this one?

[2015-09-15 16:45] devigned commented on #818
@akromm thoughts on this one?

[2015-09-15 16:46] devigned commented on #809
@jodoglevy thoughts on this one?

[2015-09-15 17:05] ronbok commented on #906
https://social.msdn.microsoft.com/Forums/en-US/cf5f7777-e5f2-4423-bdcd-db4b611e1be6/different-behavior-on-getazureresource-it-started-to-throw-resourcenotfound-exception-from-v091?forum=azurescripting&prof=required

This is a post just from June 17th, I can't believe this would be deprecated already, so I'm going to chalk it up as being a bug for now until l hear otherwise.

[2015-09-15 17:50] huangpf commented on #387
@ivanz @craig-wagner @ToonDC
The fix is in the main repo's dev branch. Please help try it out if feasible. Thanks.

[2015-09-15 18:51] DeepakRajendranMsft commented on #823
@Nilambari who owns them

[2015-09-15 18:51] DeepakRajendranMsft commented on #824
@Nilambari who owns them

[2015-09-15 18:51] DeepakRajendranMsft commented on #825
@Nilambari  who owns them

[2015-09-15 23:06] TravisEz13 commented on #900
@alexandair Yes, this is a regression in 0.9.8.  I have fix submitted for 0.9.9 as devigned mentioned.

[2015-09-16 11:16] jameshowe commented on #646
I've just started to hit this problem using the following cmdlets in 0.9.8:

New-AzureSBNamespace
Get-AzureSBAuthorizationRule

This was working and it's just suddenly stopped.

[2015-09-16 15:56] huangpf commented on #646
@jameshowe But it seems it's not related to the ```Set-AzureDeployment``` cmdlet. Could you please run yours with ```-Debug``` and help collect the logs? Thanks.

[2015-09-16 22:31] SiddharthChatrolaMs commented on #866
It will be fixed by https://github.com/Azure/azure-powershell/pull/919

[2015-09-16 23:16] vivsriaus opened #920 "Add-AzureAccount fails when subscriptions in an account doesn't have a tenant Id"
Per Mark:
The root cause is that only one of the subscriptions in the list subscriptions call (to RDFE) returns a tenant ID.  The next step is to authenticate against each provided tenant, and we attempt to acquire a token against tenant ‘’ (the tenant id for the second subscription).

Essentially, this field should not be blank – otherwise we have no way of acquiring tokens for the listed subscri

[2015-09-17 02:49] weiran-ms commented on #839
It is hardcoded the resource uri to https://management.core.windows.net/ when acquiring token in azure-sdk-for-net\src\Authentication\Common.Authentication\Authentication\ServicePrincipalTokenProvider.cs

        private AuthenticationResult AcquireToken(AdalConfiguration config, string appId, SecureString appKey)
        {
            if (appKey == null)
            {
                return Renew

[2015-09-17 05:58] jodoglevy commented on #809
I'll open a bug. One thing we're already doing to help in this area -- in our cmdlet docs we are adding this statement:

When importing a PowerShell module into Azure Automation using the New-AzureAutomationModule or Set-AzureAutomationModule cmdlets, the module import is asynchronous. Even if the cmdlet returns successfully, that does not mean module import has succeeded. To check if import has s

[2015-09-17 14:39] ronbok commented on #906
This is taking way too long to resolve.  I'm going to repeat what I said and pile onto issue #428 as another example.  Microsoft needs to get its act together as far as PowerShell & Azure are concerned.  PowerShell is just becoming so unstable and unreliable as a tool for Azure with its rapid month to month changes that folks are going to start getting turned OFF.  Meanwhile, Microsoft SALES resou

[2015-09-17 18:09] ravbhatnagar commented on #906
@ronbok - Sorry for the inconvenience that this has caused you.  Although, currently we do have the Test-AzureResource and Test-AzureResourceGroup cmdlets, they are not implemented in an ideal way which would work well for all scenarios. The plan is to deprecate it next release and later provide a way which works more reliably in all cases.

[2015-09-17 22:47] ravbhatnagar commented on #906
To add some more detail, the way the cmdlet is currently implemented does not provide a reliable way to validate if a "name" is available for a particular resource type. It currently checks if a "resource" exists or not. Even for that, in the current implementation it is not guaranteed that it will work all the time across all the different types of resources. This is the reason we are planning to

[2015-09-18 11:57] suzukidaisukesuzukidaisuke opened #931 "Powershell: Set-AzureServiceDiagnosticsExtension requires "-StorageContext" as mandatory"
I would like to transfer WAD file of cloud service in a subscription and to save it in an account storage in another subscription using PowerShell (not by Visual Studio).
When I executed Set-AzureServiceDiagnosticsExtension, it requires "-StorageContext" as mandatory.
I set storage account information in cscfg file. Set-AzureServiceDiagnosticsExtension cannot recognize storage account in a differe

[2015-09-18 12:19] ronbok commented on #906
While anyone can certainly understand wanting improved functionality, why the need to remove it, then add it back?  This approach is heavy handed in my view and is the root of my complaint.  An API/Class has a contract and by removing it entirely - breaks that contract.  Why not take the approach of leaving it in and simply enhancing it?  What am I missing here?

[2015-09-18 14:19] pcgeek86 commented on #707
One of the PowerShell principles that the Azure PowerShell team needs to get on board with is that PowerShell functionality does not necessarily need to match API functionality one-for-one. Designing a PowerShell module, based on the design of a REST API is a recipe for failure. PowerShell module design is its own topic, and a PowerShell user's interface to a REST API should be simplified. Just be

[2015-09-18 14:20] pcgeek86 opened #932 "0.9.8 ARM :: Can't associate NSG to VM"
There is no command to associate an Azure Network Security Group to an Azure Virtual Machine.

Microsoft PFE Brian Jackett originally inquired about this capability on Twitter.

https://twitter.com/BrianTJackett/status/644175358556827648

Cheers,
**Trevor Sullivan**
Microsoft MVP PowerShell
http://trevorsullivan.net
http://twitter.com/pcgeek86

[2015-09-18 18:07] pcgeek86 opened #934 "0.9.8 ARM :: New-AzureProfile problem"
The following command is not guaranteed to return an Azure Profile object that points to the correct subscription.

[code]

Cheers,
**Trevor Sullivan**
Microsoft MVP PowerShell
http://trevorsullivan.net
http://twitter.com/pcgeek86

[2015-09-18 18:09] pcgeek86 opened #935 "0.9.8 ARM :: Rename New-AzureAutomationModule"
The synopsis for the command even uses the verb "import," so why doesn't the command match the convention that is shared by other Azure Automation commands?

![image](https://cloud.githubusercontent.com/assets/466713/9967128/ef0916f4-5dfd-11e5-8f90-9f34280382ee.png)

![image](https://cloud.githubusercontent.com/assets/466713/9967152/0fd0ad16-5dfe-11e5-9044-3aac97b6bd4b.png)

Cheers,
**Trevor Sulli

[2015-09-18 19:22] ravbhatnagar commented on #906
I completely understand that breaking the contract is not good for the customers and can cause a lot of rework. And let me assure you that we don't take these decisions lightly. We do it only if such changes are for the greater good and would serve better longer term. The reason behind the plan to remove this cmdlet is that we don't want to continue shipping something and leading more customers to

[2015-09-21 20:18] jodoglevy commented on #935
Thanks, we'll add an alias for Import

[2015-09-21 23:35] stankovski commented on #719
Fixed in dev branch (#936). Will be available in the upcoming release.

[2015-09-21 23:35] #719 closed

[2015-09-22 00:01] devigned commented on #428
@larrywa we are targeting 10/01 for release at this point. We will still include 0.9.8 in the WebPI feed, so teams are not required to install the breaking changes. There will be a second feed item for this release.

[2015-09-22 08:43] bgelens opened #955 "Set-AzureVMOperatingSystem -WinRMHttps option does not enforce WinRMCertificateUrl to be specied. Error is not thrown until New-AzureVM"
When deploying a VM using ARM cmdlets, the Set-AzureVMOperatingSystem let's you specify -WinRMHttps switch. When this switch is set, WinRMCertificateUrl parameter should be set as well but it is not enforced. You won't notice this missing until New-AzureVM tells you so.

![error](https://cloud.githubusercontent.com/assets/10071039/10013967/346aea0e-6116-11e5-9fbd-ad8e57cfab31.png)

This is a bit c

[2015-09-22 13:30] erezyaron commented on #906
I am about to embark on this path to create these complex PS scripts, following blogs and articles from the last 3 months, and already finding out they are not correct as they are not guaranteed to work.
so what is the correct path to go down for checking resource existence?

[2015-09-22 14:04] mohitsriv opened #956 "Restart-AzureWebApp (and Restart-AzureRMWebApp) does not support piping in the WebApp or Resource."
From Azure MVP:

Using the ServiceManagement cmdlets I was able to do something like:
Get-AzureWebsite | Restart-AzureWebsite

While using the ARM version of the commandlets, this is not possible:
Get-AzureResource -ResourceType Microsoft.Web/sites -ResourceGroupName rg-cms-help | Restart-AzureWebApp

cmdlet Restart-AzureWebApp at command pipeline position 2
Supply values for the following paramet

[2015-09-22 14:24] mohitsriv opened #957 "Get-AzureWebApp (and Get-AzureRMWebApp) requires the name. It should not. Also, it does not support piping in the Resource Group."
PS C:\Users\mohisri> Get-AzureRMResourceGroup | Get-AzureRMWebApp

cmdlet Get-AzureRMWebApp at command pipeline position 2
Supply values for the following parameters:
(Type !? for Help.)
ResourceGroupName:
Name:

Also, why does it prompt for Name?  Shouldn’t it just enumerate all Web Apps in the Resource Group?

[2015-09-22 17:33] BenStull opened #959 "New-AzureKeyVault fails if used in Visual Studio deployproj"
New-AzureKeyVault attempts to retrieve the tenant ID, which isn't available in PowerShell sessions that are auth'd using a token, such as when deploying from within Visual Studio.  This results in the below InvalidOperationException, which isn't very helpful.

This also means you can't use the Key Vault Azure Resource Manager template in a .deployproj template if you want to actually deploy the pr

[2015-09-23 15:05] craig-wagner commented on #387
@huangpf, I'd be happy to try it out but I'm not sure how to from the dev branch. Please forgive a naive question, but I'm assuming I need to download the source from the dev branch, build it, and then what do I do with the output in order to try executing it?

[2015-09-23 17:03] huangpf commented on #387
@craig-wagner, Thanks for your information and help. After msbuild, you can find the .msi installer in the output folder. On the other hand, you can also run it via VS, and here is some guide information: https://github.com/Azure/azure-powershell/wiki/Microsoft-Azure-PowerShell-Developer-Guide. Thanks.

[2015-09-23 19:43] mrdaemon commented on #685
Just thought i'd mention this is still an issue to this day.

[2015-09-23 20:01] mrdaemon commented on #685
Also, just to confirm, manually setting the PSModulePath environment variable to the following:

[code]

Seems to resolve the issue.

[2015-09-24 19:47] jodoglevy commented on #655
FYI for anyone blocked by this issue, as a workaround you can use a hybrid runbook worker. Service principal auth should work there.

[2015-09-26 18:11] pcgeek86 commented on #932
This was my fault for not thinking it through in a bit more depth. I should have realized that the NSG is associated with the Network Interface, not the VM itself. Still getting used to the new ARM model, and this is a scenario where object models diagrams would be extremely helpful.

Cheers,
**Trevor Sullivan**
Microsoft MVP PowerShell
http://trevorsullivan.net
http://twitter.com/pcgeek86

[2015-09-26 18:15] #932 closed

[2015-09-26 21:52] pcgeek86 opened #987 "DocumentDB PowerShell commands are completely missing"
DocumentDB commands are missing from Azure Service Management & Resource Manager modules.

Cheers,
**Trevor Sullivan**
Microsoft MVP PowerShell
http://trevorsullivan.net
http://twitter.com/pcgeek86

[2015-09-28 04:48] sriramvu commented on #874
Can we close this issue? or let us know if anything else is needed.

[2015-09-28 16:31] robplank opened #989 "0.9.8 ARM: New-AzureResourceGroupDeployment -storageaccountName template locking"
please remove the lock placed on the template file once it is uploaded to the storage account.

When doing multiple deployments to the same storage account that use the same template file, this results in failed deployments

<B>Error Meesage </B>
 DeploymentActive: Unable to edit or replace deployment 'DeploymentTemplateFile': previous
deployment from '9/28/2015 4:16:21 PM' is still active

<B> De

[2015-09-28 20:39] davebrannan commented on #874
Well we can't achieve the automation we need without the VMWare/Physical server support, but as it's known and on your roadmap it can be closed. Be nice to know when this might be available though?

[2015-09-29 12:50] jkonecki commented on #669
+1 - please add support for AppOffline!

[2015-09-29 16:30] mandrie commented on #480
Any ETA on when this will be fixed? It still fails the same in version 9.8. Please let me know if you need an additional repro

Thanks!
Mark

[2015-09-30 00:08] theanandramakrishna opened #1010 "Set-AzureVNetConfig gives poor error message with LocalNetworkSite addressprefix"
Create an express route and VNET config.
In the VNET config, set the LocalNetworkSite addressprefix to the following:
    <LocalNetworkSites>
      <LocalNetworkSite name="foo">
        <AddressSpace>
          <AddressPrefix>10.0.0.0/8</AddressPrefix>
        </AddressSpace>
      </LocalNetworkSite>
    </LocalNetworkSites>

Also set the VirtualNetworkSite address prefix to something that overla

[2015-09-30 01:06] devigned commented on #428
Update is Oct. 8th release.

[2015-10-01 05:04] sriramvu commented on #874
most probably by Q1 CY16.

[2015-10-01 17:07] GraemeSMiller commented on #669
+1

[2015-10-01 19:45] Teodelas commented on #472
+1

[2015-10-02 06:50] m-moris opened #1043 "Add-AzureAccount : Sign-In dialog is too small."
I use 4K display in my laptop and size of text is 250%.(recommended)
When I use "Add-AzureAccount", sign-in dialog is displayed.
The sign-in dialog is too small and it can't change size. It's user-unfriendly.

https://yabumi.cc/150272f3db0e1eb47202608c.png

Has anyone ever had this problem?
Thanks.

[2015-10-02 09:26] SamirFarhat commented on #428
I'm really surprised why does Microsoft reports each time the new change. You should know that there are customers using Powershell and Resource Manager on production, and we spend a lot of time to prepare the switch. And then, 1 hour/day before the change release, we are informed of the report time. Please, we support Microsoft because they follow Enterprise processes which respect the customers

[2015-10-02 15:13] pcgeek86 commented on #428
@SamirFarhat To the defense of the Microsoft Azure PowerShell team, they have taken a leading approach to inviting and accepting customer feedback. In this particular case, they have not rushed into anything, and have been very solid about communicating with their customers, partners, and MVPs. I think that, in this case, the feedback is somewhat misdirected. There are plenty of other Azure featur

[2015-10-02 15:16] pcgeek86 commented on #1043
Yeah, looks like maybe the DPI scaling is interfering with the layout of the sign-in dialog. @devigned Could you assign this appropriately?

Cheers,
**Trevor Sullivan**
Microsoft MVP PowerShell
http://trevorsullivan.net
http://twitter.com/pcgeek86

[2015-10-02 16:44] devigned commented on #1043
I believe this is an ADAL issue. I've opened an issue over there. I don't believe we have much control over how ADAL surfaces the UI.

[2015-10-02 19:07] pcgeek86 commented on #1043
Good point, you're right. Thanks David.

[2015-10-02 23:17] mpiroc commented on #906
I share ronbok's concern: Why is this cmdlet being removed before its replacement is available? Even if the current cmdlet is not 100% reliable, customers are using it. Removing it next release means that customers will have a working solution 0% of the time instead of most of the time.

[2015-10-03 22:07] tujamg opened #1061 "Get-AzureResourceGroupDeployment returns only top 288 results."
We had in a resourcegroup more than 300 deployments but when we execute the 'Get-AzureResourceGroupCmdlet' it returns only the latest 288 results.

Thanks
Tushar J
(MSFT)

[2015-10-05 09:35] #874 closed

[2015-10-05 14:07] SamirFarhat commented on #428
Hi Trevor,
I was not complaining about the MS teams works, or approaches. On the contrary, i've been always their defender faced to angry customers. I know that they are spending all the efforts to provide the best solutions, and that they are giving  possibility to the community to present  ideas and feedback. In the meanwhile, when we announce that the switch to the new Azure mode will be on Oct

[2015-10-05 15:32] trondhindenes commented on #428
Valid point Samir. MS (although the do their best I'm sure) has a pretty bad track record when it comes to delivering on promised dates. We've given them a ton of feedback on this and communications in general needs improving, so we can only assume they listen.

[2015-10-05 22:00] simonsabin opened #1064 "get-azureresourcegroupgallerytemplate returning "missing api version in the query string""
Reported in the forums
https://social.msdn.microsoft.com/Forums/azure/en-US/1a5a32c8-3975-4c3e-afae-8797dba2af36/getazureresourcegroupgallerytemplate-error-missing-api-version-query-string-allowed-values-are?forum=windowsazuremanagement

Using Microsoft Azure Powershell 9.8

[2015-10-06 16:53] GillesZunino commented on #1064
Thank you for reaching out - We deprecated Get-AzureResourceGroupGalleryTemplate and removed the API that supported it too early. Please accept our apologies about this.

We are working on a replacement for these cmdlets. It will enable all the current capabilities add ability to save "non default" templates (like variations on SQL images), will not require to authenticate to save public items, am

[2015-10-06 17:07] bmoore-msft opened #1068 "enable autorefresh of creds that use a token"
Add-AzureAccount and Login-AzureRMAccount will automatically refresh the access token if creds are provided.  If a token is used for authn the refresh doesn't happen since PS doesn't have the refresh token.

We need a way to have the cmdlets do the auto refresh of token based auth, maybe by sharing a cache or providing a refresh token (if that's even possible).

[2015-10-06 23:45] PxlBuzzard opened #1072 "Build.ps1 failure"
I am cloning the repo onto a new machine and I have the [pre-reqs](https://github.com/Azure/azure-powershell/wiki/Microsoft-Azure-PowerShell-Developer-Guide#install-prerequisites) installed. The error text is:

[code]

[2015-10-08 05:57] m-moris commented on #1043
Thank you for your help!

[2015-10-08 06:01] sakshi27 commented on #428
Hi people,

I wanted to know few things-
•	Will 9.8 version continue to support Switch-AzureMode cmdlet or not? If yes, till when if anyone knows?
•	My understanding is - Switch-AzureMode functionality will stop working only if I upgrade to 9.9 and would work properly if I continue to use 9.8 version. Please correct me if I am wrong.
•	Are there any other cmdlets getting changed with 9.9 version?

[2015-10-08 15:04] stepsic-microsoft-com opened #1087 "New-AzureADApplication commandlet is missing the default set of permissions"
When you create an AzureADApplication in the Active Directory portal, a few default settings are set, including the Reply URL and permissions to Sign In to Active Directory. However, neither of these are set when you use the New-AzureADApplication commandlet. In addition, there are no flags to take these as parameters, so it's basically impossible to create the (default) App configuration in PS.

[2015-10-09 07:19] bgever opened #1095 "Publish-AzureWebsiteProject should list files synchronized like MSDeploy would do"
When executing the `Publish-AzureWebsiteProject` cmdlet, even with specifiying `-Verbose`, there is no output of what files are synchronized to the server.

This file list would show up with MSDeploy, and is useful to know what files are actually being uploaded, as it sometimes may need additional configuration to exclude or include certain files.

It would be great if the `Publish-AzureWebsitePro

[2015-10-09 07:20] ValterSantosMatos commented on #1095
+1

[2015-10-09 07:23] patrik996 commented on #428
Oct 8th is now passed, any release coming soon?

[2015-10-09 13:50] doctordns commented on #428
Sakshi:
The 0.9.8 release was put out about a month ago. It contains the Switch-AzureMode although it gives a warning message about being a depricated cmdlet.

While with GitHub one can update a version, the tradition in this project is that each changed version is a new module. So anything that works in that version will continue to work forever.

OF course, when I say forever - I mean the client

[2015-10-09 23:22] markcowl commented on #428
The new version is released: https://github.com/Azure/azure-powershell/releases/tag/v1.0.0-preview-gallery-October2015

[2015-10-09 23:22] markcowl commented on #428
Closing (!!!!)

[2015-10-09 23:22] #428 closed

[2015-10-10 01:14] markcowl commented on #1072
@PxlBuzzard This looks like a dependency not copied during the build.  Was there antyhing changed (a dll version or the like)?

Currently, the Build target builds the msi as well as the dlls, which is why you're seeing the error.

[2015-10-10 01:50] PxlBuzzard commented on #1072
I changed nothing before I ran the script. My team is seeing the same failure on 3 separate machines. @KajalPowerShell @rnikhilkumar

[2015-10-10 20:39] alexandair opened #1102 "[1.0.0-preview] Add-AzureRmAccount has mutually exclusive parameters in the same parameter set"
Add-AzureRmAccount has -SubscriptionName and -SubscriptionId parameters in the same parameter set. They are mutually exclusive and need to be separated in different parameter sets.

[2015-10-11 02:28] markcowl commented on #1102
@alexandair good catch.  In general, do you tend to use the subscription name or id to identify subscriptions?

[2015-10-11 07:47] alexandair commented on #1102
I use the subscription name.

[2015-10-12 17:03] #900 closed

[2015-10-12 19:01] mbsnl commented on #1102
"Select-AzureRmSubscription" does not have the "-Default" switch anymore. Is the idea that this is replaced by the "-SubscriptionName" and "-SubscriptionId" parameters of the "Add-AzureRmAccount" CmdLet?

[2015-10-12 20:41] AWahlqvist opened #1107 "New-AutoscaleProfile creates a TimeWindow even though StartTimeWindow and EndTimeWindow is omitted"
When creating a new autoscale profile, the object returned contains a Microsoft.Azure.Management.Insights.Models.TimeWindow-object in the property "FixedDate" even though no date was specified using the parameters. Start/End get's set to "0001-01-01 00:00:00".

You can set it to null before writing it back with Add-AutoscaleSetting though using:
$AutoScaleProfile.FixedDate = $null

So there is a w

[2015-10-12 20:51] AWahlqvist commented on #1102
The same thing goes for 'Select-AzureRmSubscription' aswell.

[2015-10-12 22:58] alexandair commented on #1102
Select-AzureRmSubscription is an alias for **Set-AzureRmContext** cmdlet, so that's the one that also need to be fixed.

[2015-10-12 23:27] BurtBiel opened #1109 "Mixed-case storage accounts can be created with VM template"
Hi,

I think I found a bug in template deployment.

Steps:
1.  Create a deployment template for a VM
2.  Set the New Storage Account name parameter to something with mixed case like MyIllegalName123
3.  Deploy template

Result: storage account is created with an illegal mixed-case name (portal only allows lower-case)

Expected: name is converted to lower case or deployment fails

[2015-10-13 19:55] PxlBuzzard commented on #1072
@markcowl Any thoughts? We just onboarded another team member and ran into this again.

[2015-10-14 01:59] bganapa opened #1114 "Login-AzureRmAccount should be able to take the Environment from pipeline"
I should be able to do this
Get-AzureRmEnvironment -Name "Abc" | Login-AzureRmAccount -Credential $Credential -Verbose

[2015-10-14 05:03] jfatticq commented on #1064
Is there a replacement command for Get-AzureResourceGroupGalleryTemplate yet? If not, can we have the old API back for now please?

[2015-10-14 09:57] adam-knights opened #1115 "Move-AzureResource will not move ServerErrors or ForbiddenRequest to new resource group"
When I created my web apps the resource group all ended up with a ServerErrors and a ForbiddenRequests resource too for each web app, i.e.

[code]

and

[code]

The web app itself sucessfully moved to my new resource group, but these will not. I get an error such as

[code]

When I run for the "ServerErrors web-app-name" resource

[2015-10-14 10:04] adam-knights commented on #957
Currently I see no way to loop through all web apps in a resource group without this change?

[2015-10-14 16:08] davidebbo commented on #957
For now, you can do this using the low level `Get-AzureResource`. e.g.

    Get-AzureResource -ResourceGroupName YourRGName -ResourceType Microsoft.Web/sites -isCollection -OutputObjectFormat New -ApiVersion 2015-08-01

[2015-10-14 19:39] robplank commented on #1064
@GillesZunino you lost a couple of underscores in the code snips you provided.

Thanks for the code snips.

the removal of an API that is still used by the most current version of the azure powershell module is very concerning, Powershell is used to automate workflows, if Microsoft is going to remove APIs like this in the future we need some notification and usable replacement API/solution and tim

[2015-10-14 22:43] bganapa opened #1117 "Select-AzureRmSubscription(Set-AzureRmContext) should just be able to take the SubscriptionName"
we cannot select a subscription just with the name now, it always asks for the SubscriptionID. Need a parameterset for these

[2015-10-14 22:51] paul-daly commented on #906
+1

Is there an ETA for Test-AzureRm* support?

[2015-10-15 05:19] tylerd opened #1121 "Get-AzureRMTenant - Wrong domain"
It is very confusing when you are trying to select the right tenant to use and they all have the same domain.

[code]

[2015-10-15 05:56] olegburov opened #1122 "Get-AzureRmSqlServerFirewallRule returns error, if specify the FirewallRuleName parameter."
The `Get-AzureRmSqlServerFirewallRule` cmdlet returns the `NotFound: Resource not found for the segment 'firewallRules'.` error, if specify the `FirewallRuleName` parameter. Using just the `ResourceGroupName` and `ServerName` parameters works fine.

**Steps to reproduce:**
[code]

**Actual Results:**
[code]

[2015-10-15 13:02] alexandair opened #1123 "What is ARM cmdlet equivalent to Get-AzureAccount?"
Azure module contains the Get-AzureAccount cmdlet. What is the equivalent ARM-based cmdlet?

[2015-10-15 13:09] alexandair opened #1124 "A parameter name for tenants should be consistent"
Is it -Tenant or -TenantId? Some cmdlets use -Tenant, some others -TenantId:

[code]

[2015-10-15 21:13] stuartpreston opened #1125 "Inconsistent cmdlet naming - Get-AzureRmVmExtensionImage"
```Get-AzureRmVmExtensionImage``` naming is inconsistent with the other cmdlets with VM in their name.

e.g.

[code]

The jury is out on ```Save-AzureRmVhd``` too but there's nothing else that has VHD in the name for me to complain about.

[2015-10-16 01:50] olegburov opened #1126 "New-AzureRmSqlServerFirewallRule return error, if specify the AllowAllAzureIPs parameter."
The  `New-AzureRmSqlServerFirewallRule` cmdlet returns the `Parameter set cannot be resolved using the specified named parameters.` error, if specify the  `AllowAllAzureIPs` parameter. Without this parameters it works fine.

**Steps to reproduce:**
[code]

**Actual Results:**

[code]

[2015-10-16 02:54] jsbrooks opened #1127 "New-AzureRmExpressRouteCircuitPeeringConfig - no sharedKey parameter"
The is no option to configure the sharedKey value for BGP peering sessions in the New-AzureRmExpressRouteCircuitPeeringConfig commandlet.
Same sharedKey parameter should also be added to the Set-AzureRmExpressRouteCircuitPeeringConfig commandlet

[2015-10-16 17:58] olegburov commented on #1126
**Workaround:**

Split the  `New-AzureRmSqlServerFirewallRule`  cmdlet on two calls as shown below:

[code]

[2015-10-16 18:29] olegburov commented on #1122
It seems the reason of the error is the empty list of Firewall Rules. If I add a rule and then ask if such a rule exists, it works fine.

[code]

However, I would expect it returns `$null` instead of throwing the error.

[2015-10-16 19:26] makhdumi opened #1128 "Get-AzureWebsite behaviour is very unclear from documentation"
Get-AzureWebsite will return a different type of object, depending on whether or not the site has deployment slots. This is not mentioned _anywhere_ in the documentation.

For a site with deployment slots, I get this when I run `Get-AzureWebsite mysite`

[code]

When it doesn't have a deployment slot, or if I specify a slot with `-Slot`, I do get the actual object. Yet what do I do when I want to

[2015-10-16 23:25] olegburov commented on #1122
Based on how the other `Get-AzureRm[Noun]` cmdlets works, it looks like it is expected that the  `Get-AzureRmSqlServerFirewallRule` throws the `Hyak.Common.CloudException`.

[2015-10-17 22:35] olegburov opened #1129 "What is ARM cmdlet equivalent to Start-AzureSqlDatabaseImport?"
Azure module contains the `Start-AzureSqlDatabaseImport` and `Start-AzureSqlDatabaseExport` cmdlets. What is the equivalent ARM-based cmdlet?

[2015-10-19 07:48] thoutekier commented on #902
Is there already any feedback on this?  In encounter the same issue when using cmdlet New-AzureStorageContext in a powershell script executed by a Team Foundation Build 2015 Powershell task.  As a consequence, the build is blocked and times out (or should be cancelled).

[2015-10-19 08:02] eosfor opened #1130 "Search for objects"
Hello Team, (Get-AzureSubscription).count returns 10 to me. And it is really frequent when during daily support and management activities we need to find objects by name or even by the list of names. There is no way do do such search fast in Powershell, because it extracts all objects from subscription first, and it is overwhelmingly slow . On the other hand portal does such searches quickly, how

[2015-10-19 09:46] OliverMartini opened #1131 "Get-AzureRmSqlDatabase does not return tags"
When a database has tags defined, the preview cmdlet Get-AzureRmSqlDatabase does not return any tags.

release-1.0.0-preview

[2015-10-19 16:54] eosfor commented on #1130
May be some REST API or something?

[2015-10-19 20:12] OliverMartini opened #1134 "Set-AzureRmSqlDatabase does overwrite existing tags"
When using the Set-AzureRmSqlDatabase cmdlet, existing tags get deleted even when Tags parameter is omitted.

release-1.0.0-preview

[2015-10-20 00:00] devigned commented on #902
@thoutekier this should not cause the build to timeout. At the worst, the cmd should prompt and wait for only 60 seconds or so.

[2015-10-20 00:00] devigned commented on #902
@thoutekier this is scheduled to be fixed in 1.0, which will be released in the coming weeks.

[2015-10-20 08:58] trondhindenes opened #1135 "Automation RM cmdlets don't adhere to erroractionpreference"
Repro:
`Get-AzureRmAutomationRunbook -Name "DoesNotExist" -ErrorAction SilentlyContinue`

Result: Throws error
Expected result: supresses error

I thought we were passed these bugs...

[2015-10-20 09:14] thoutekier commented on #902
Thanks for your reply.  You're right, there is a timeout after 60 seconds.  Apparently I didn't wait long enough and cancelled the build to fast.  I'm looking forward to get this fixed since this will save us 1 minute build time per build.

[2015-10-20 13:51] gligoran commented on #669
+1

[2015-10-20 16:43] TaraMeyer opened #1136 "Updated help.xml for ARM 1.0 Preview / AzureRM.Tags"
@Azure/adx-sdk-team  - The newly authored and updated help.xml for the AzureRM.Tags is available here:

\\wpshelpserver\cabs\AutomatedCabs\DxPowerShellBlue\1033\RMAzure_Tags\2015-10-20.09_38_28\OutPut\OnBox

Can you please add this to the code as it's the latest and greatest authored help file:

![capture](https://cloud.githubusercontent.com/assets/14112499/10614403/f4ee87dc-770e-11e5-8fae-6dc4fc2

[2015-10-20 17:27] cparker180 opened #1137 "Issue with the new Resource Manager Powershell commandlets and Resource Groups"
I recently ran into a roadblock with the new Azure RM 1.0 Powershell commandlets and our Resource Group approach.  Our plan is to have separate Resource Groups for the different towers.  This aligns with our current Managed Service Provider support model.  Basically, we have Network, Storage, and Compute Resource Groups.  We noticed through the Portal we can provision servers without any issue and

[2015-10-20 17:40] TaraMeyer commented on #1136
@Azure/adx-sdk-team  - Here is the same attached as a text file.  You will have to rename from .txt to .xml.

[2015-10-21 01:07] markcowl commented on #1117
The idea is that Set-AzureRmContext makes no Rest calls, so the -SubscriptionName parameter is just filling out the name property of the subscription in the current context.  If you want to get a subscription by name and set your context, use:

[code]

That said, this seems to be confusing to users, and we have a work item tracking this here, where you can follow the progress:  https://www.pivotal

[2015-10-21 01:08] markcowl commented on #1114
@bganapa This is a non-goal, you can pass in the environment by name

[2015-10-21 01:08] #1114 closed

[2015-10-21 01:22] markcowl commented on #1102
@alexandair  The intention is that Select-AzureRmSubscription changes the context statically, without making any calls off the box.  The -SubscriptionName parameter is meant to fill out the subscription name property of the subscription in the context.  You can do this for the functionality you want:
[code]

That said, this has proven to be somewhat confusing to users.so we are changing this cmdle

[2015-10-21 01:23] markcowl commented on #1117
Closing as duplicate of #1102

[2015-10-21 01:23] #1117 closed

[2015-10-21 01:26] markcowl commented on #1121
@tylerd Yeah, unfortunately, the tenant list API does not return the actual domain name, so this is gleaned from your account name. Do you think it would be better to omit this?

[2015-10-21 01:29] markcowl commented on #1123
@alexandair
[code]

There is only one logged in account at a time in the new model.

[2015-10-21 01:29] #1123 closed

[2015-10-21 01:32] markcowl commented on #1124
@alexandair  We can at least be consistent in the new cmdlets.

[2015-10-21 01:35] markcowl commented on #1130
@eosfor   Try using Get-AzureRmSubscription, which is lightning quick.

[2015-10-21 01:36] markcowl commented on #1136
@TaraMeyer Can you submit a PR for this change?

[2015-10-21 05:36] alexandair commented on #1124
You can fix it for old cmdlets too. Just use parameter aliases.

Sent from a toaster.

On Tue, Oct 20, 2015 at 6:32 PM -0700, "Mark Cowlishaw" <notifications@github.com> wrote:
@alexandair  We can at least be consistent in the new cmdlets.

---
Reply to this email directly or view it on GitHub:
https://github.com/Azure/azure-powershell/issues/1124#issuecomment-149753314

[2015-10-21 07:31] eosfor commented on #1130
Thanks @markcowl, let me clarify this a bit.
Lets say we have ~10 subscriptions. At some point we get a request from customer/user that some VMs experience issues or they are asking to perform some actions on some set of machines. What they provide is usually a list of VM names, sometimes they are not even aware of cloud services they are running on, mostly because those machines are not exposed t

[2015-10-21 08:22] fabiendibot opened #1143 "Register-AzureRmAutomationDscNode fails with WMF5 installation"
Hi,

i've trying the things using the portal and with PowerShell, i got the same error.

![azure_01_error](https://cloud.githubusercontent.com/assets/3489856/10631231/c0575ea8-77dc-11e5-9523-97859ce6e186.png)

If i take a look at the server, first the log directory isnt' the same as the one in error message and it says that WMF5 is installed, it reboots and retry to install WMF5.. and kaboom!

The

[2015-10-21 11:30] jakubka commented on #669
+1

[2015-10-21 14:51] eosfor commented on #1130
Another thing is to search VMs by IP

[2015-10-21 16:11] devigned commented on #1136
@markcowl we are going to take care of this. @TaraMeyer is on the content development team. We are a little better equipped to take care of the diff. In fact, I'll script it up and write up a short 'how to'.

[2015-10-21 19:44] yoavrubin opened #1145 "Test environment does not define storage endpoints suffix"
Within the class Microsoft.Azure.Test.TestEnvironment, the endpoints field is an instance of the class Microsoft.Azure.Test.TestEndpoints. This endpoints class does not define storage endpoints. Specifically, does not define a StorageEndpointSuffix.
This Sql auditing cmdlets read this value from the environment. Not having this value in the test environment causes the automated tests to fail.

[2015-10-22 07:10] softwarejc opened #1152 "Add-AzureCertificate"
Is there a equivalent Cmdlet in the pre-release version to "Add-AzureCertificate"?

I want to upload a service certificate for the specified cloud service:
https://msdn.microsoft.com/en-us/library/azure/dn495214.aspx

I can only find the "Add-AzureRmApplicationGatewaySslCertificate"  Cmdlet

[2015-10-22 07:31] todthomson commented on #756
:+1: I encountered this problem today.

[2015-10-22 07:52] matousrokos commented on #756
I believe that this is known issue (but still confusing issue). When you are using common Azure names (like storageAccount, virtualMachine and such) for parameter names this issue always appears. Rename your parameter to something that Azure is not using in naming convention like newStorageAccount

[2015-10-22 17:57] danbucholtz commented on #669
+1 - major pain for our team

[2015-10-22 19:46] eosfor commented on #1130
So what i came up with is the following. I managed to use API new portal uses to search VMs and Services. It is fast. But i could not find any documentation on this. Does anyone know something about this API?

Well, yes, i also expanded some existing Azure cmdlets with additional parameter and i'm using this trick here too

[code]

[2015-10-22 21:46] SarahRogers opened #1157 "HANDOFF: AzureRm.KeyVault for ARM 1.0 Preview"
An updated help.xml file for AzureRm.KeyVault is ready to be added to the code for Azure PowerShell 1.0 Preview.

I'm unable to attach it as an xml file or txt file. (I get a message that I need write permissions.)

You can grab the help.xml file at: \\wpshelpserver\cabs\AutomatedCabs\DxPowerShellBlue\1033\AzureKeyVault\Latest\2015-10-12.15_57_06\OutPut\OnBox

Let me know if you have any questions

[2015-10-23 06:24] iafilius commented on #1127
Hi, same over here, is there a workaround known?

[2015-10-23 08:25] trondhindenes opened #1158 "Get-AzureRmAutomationJobOutput does not return full string"
Get-AzureRmAutomationJobOutput only returns the first 83 characters of the job output. Please return the full output of the job

[2015-10-23 17:40] TaraMeyer opened #1160 "Updated help.xml for ARM 1.0 Preview / AzureRM.UsageAggregates"
A new fully-authored help.xml is available for this module.  Since I am unable to attach file because I do not have write permissions, you can find the help file here:

\\wpshelpserver\cabs\AutomatedCabs\DxPowerShellBlue\1033\RMAzure_UsageAggregat\Latest\2015-10-23.10_34_18\OutPut\OnBox

![capture](https://cloud.githubusercontent.com/assets/14112499/10700431/82df62ae-7972-11e5-8b76-a3353b072a5d.PN

[2015-10-23 18:12] hovsepm commented on #902
Fixed in dev branch.

[2015-10-23 18:12] #902 closed

[2015-10-23 18:16] hovsepm commented on #920
@vivsriaus, Could you provide a repro steps?

[2015-10-23 18:21] hovsepm commented on #931
@huangpf please have a look to the issue.

[2015-10-23 18:29] hovsepm commented on #934
@pcgeek86 , We are unable to repro it with latest Azure Powershell release (version 0.9.9). Please verify that this still occurs and reopen the issue with PS modules versions.

[2015-10-23 18:29] #934 closed

[2015-10-23 18:33] hovsepm commented on #955
@huangpf please reassign if needed.

[2015-10-23 18:33] huangpf commented on #931
@hovsepm The WAD extension cmdlet belongs to diagnostics team.

[2015-10-23 18:40] hovsepm commented on #987
@pcgeek86 We do not have current plans to add cmdlets for DocumentDB.

[2015-10-23 18:40] #987 closed

[2015-10-23 18:48] #1043 closed

[2015-10-23 18:57] hovsepm commented on #1061
@vivsriaus, Please revise paging logic and fix the issue.

[2015-10-23 20:07] tujamg commented on #1061
This was fixed in the V.0.9.8 hence closing the thread.

[2015-10-23 20:07] #1061 closed

[2015-10-23 21:09] jodoglevy commented on #1143
Thanks for reporting. This is due to an issues with the Azure VM DSC extension. We will work on a fix.

[2015-10-23 21:25] jodoglevy commented on #1158
Looking into it...ASM cmdlets should still be not truncating though, right? So you can continue to use those for now?

[2015-10-23 21:32] devigned commented on #1135
@jodoglevy can we get this fixed up prior to 1.0 release.

[2015-10-23 21:45] trondhindenes commented on #1158
Absolutely, it's a blocking bug (and these are preview bits after all). But between this and the way a lot of these cmdlets ignore erroractionpreference, I think it's safe to say that test coverage seems to be way too low.

[2015-10-23 21:49] jodoglevy commented on #1135
@trondhindenes this is specific to automation cmdlets? I don't think we're doing anything specific with error action

[2015-10-23 21:58] jodoglevy commented on #1158
This is by design in ARM cmdlets, not a bug. We are planning to expose a new cmdlet that gives you the output of a job as the full complex objects that were output, rather than as just a string. The field you are trying to use is meant to just be a summary field for the output stream record, not the full stream item itself. Please see https://social.msdn.microsoft.com/Forums/en-US/c15ebcd1-bb71-4f

[2015-10-23 22:01] trondhindenes commented on #1158
Gotcha. As long as it's documented in the cmdlet help that the field does _not_ represent the full output I'm happy. I wouldn't mind having the field indicate that it is a summary field tho.

[2015-10-23 22:02] trondhindenes commented on #1135
Hard to say - The automation cmdlets are the only ones I've been using. But you're definetely doing erroraction wrong in the current ver (and not just in the cmdlet I used in my example).

[2015-10-23 22:10] jodoglevy commented on #1135
I just tried with Get-AzureRmVM, Same issue. This is not specific to Automation cmdlets. It's a problem with all of Azure PS 1.0 preview.

[2015-10-23 22:54] devigned commented on #1135
@singhkay looks like this is happening in VM cmdlets too.

[2015-10-23 23:00] singhkay commented on #1135
@hyonholee Can you check the VM cmdlets in the preview module?

[2015-10-23 23:50] SarahRogers opened #1161 "HANDOFF: Azure.Storage help.xml"
Hi, David,

A new fully-authored help.xml is available for Azure.Storage. Since I am unable to attach the file because I do not have write permissions, you can find the help file here:

\\wpshelpserver\cabs\AutomatedCabs\dxpowershellblue-1\1033\RMAzure_Storage\Latest\2015-10-19.09_58_56\OutPut\OnBox

Let me know if you have any questions.

Thanks!
Sarah

[2015-10-24 04:05] jeffwilcox opened #1163 "Get-AzureKeyVaultSecret documentation could be improved to mention SecretValueText"
Hi,
The MSDN documentation for the `Get-AzureKeyVaultSecret` cmdlet, as well as the cmdlet help itself, could be improved.

While working on a hackathon with some people to use Key Vault, and verifying that the basics were working, we had to go to source to actually search for the model type to get the `SecretValueText` call/param for the returned secret.

Seems like the perfect kind of thing to j

[2015-10-24 10:57] trondhindenes commented on #1158
Joe, I just read thru the discussion link you sent. I can't see how they are related. I get that there are suggestions on returning objects instead of strings, but imho that's a non-issue - we've always serialized to json and then just picked up the json string when needing to get the output in a objectized way. My issue is that there is simply no way (in AzureRM) to get full outputs. The "stream

[2015-10-24 11:16] trondhindenes commented on #1158
btw @jodoglevy The bug is the same when trying from asm using the 0.9.11 version of the azure module. Making this a blocking/high-pri bug.

[2015-10-24 13:28] trondhindenes commented on #1158
As far as I can see the ASM rest api returns this in a field called "summary". IMHO that would be a much better attribute name for the cmdlet returned object as well, as it indicates that the returned value might not be the full output.

[2015-10-24 13:32] trondhindenes opened #1164 "Suggestion: Provide a way to get the Bearer token from authentication"
If the bearer token could be returned from login-azurermaccount/add-azureaccount it would be a lot easier to interact with the rest api's directly, as we wouldn't have to implement our own authentication logic. For example a "-force" param to the two cmdlets above could have the returned object contain the bearer token.

[2015-10-24 22:39] jodoglevy commented on #1158
Agree with a lot of what you're saying, Trond. I just alerted the team that we have a high-pri issue here, thanks for letting me know. We weren't aware we had accidentally changed the behavior in ASM cmdlets / API. It was meant for only ARM. We will likely rollback the truncation.

[2015-10-24 22:43] trondhindenes commented on #1158
Great! Thanks for following up so quickly!

[2015-10-25 01:37] damienpontifex opened #1165 "Request: Add ability to get existing Azure AD Application"
There are commands for new & remove AD Applications, but it would be great to be able to get an existing application. i.e. `Get-AzureRmADApplication`

Specifically to get the client id for configuring app settings when deploying web applications.

[2015-10-25 20:37] nmackenzie opened #1166 "New-AzureRmRoleAssignment: -ServicePrincipalName parameter is misnamed"
The -ServicePrincipalName parameter to the New-AzureRmRoleAssignment seems to be misnamed since the parameter takes an ApplicationId NOT a service principal name. For example, the [following](https://azure.microsoft.com/en-us/documentation/articles/resource-group-authenticate-service-principal/) comes from the official Azure documentation:

New-AzureRmRoleAssignment -RoleDefinitionName Reader **-S

[2015-10-26 00:28] clamanna opened #1167 "Remove-AzureRmResourceGroup does not print out progress / status like New-AzureRmResourceGroupDeployment"
This makes it hard to debug / understand why the cmdlet is hanging if one of the resources cannot be deleted (e.g. a VM belongs to a virtual network in a different RG).

It should print out the names of resources as they are cleaned up, and, when it fails, what resources were not successfully deleted.

[2015-10-26 20:50] hovsepm commented on #1124
Fixed in Dev branch. Will be available in the upcoming release.

[2015-10-26 20:50] #1124 closed

[2015-10-26 22:33] gcondric opened #1172 "Request- Ability to resize OS disk size using ARM commandlet"
It seems that there is no possibility to resize OS disk size using ARM PS "Set-AzureVMOSDisk"

In V1 version, this is possible using PowerShell command “Set-AzureOSDisk”   with parameter [–ResizedSizeInGB]

Can you add this to V2 commandlet version - Set-AzureVMOSDisk or somewhere else?

thanks!

[2015-10-27 02:33] ozbeanz opened #1176 "Invoke-AzureRemoteAppSessionLogoff cmdlet has a bug"
The Confirm parameter seems to be active whether it is selected or not. Need to be able to run this cmdlet without a Confirm

[2015-10-27 14:09] Kreby opened #1177 "Update-AzureVM PropertyChangeNotAllowed"
I have a number of scripts that I currently use with AzureResourceManager.  I have started having issues running Update-AzureVM cmdlet.  I'm currently using version 0.9.8.1.  The most common use case I've had issues with is adding additional disks to an existing VM.  I had been using these scripts for a couple of months without issue.  I'm not making any changes to the AdditionalUnattendContent  b

[2015-10-27 15:05] MarkMurphyInvu opened #1178 "New-AzureRmResource -ParentResource not working as documented"
I created an Azure web site using New-AzureRmResource in PowerShell ISE, v5 b10514, Azure PowerShell 1.0 Preview and then tried to create AppSettings for it in the same script but get the error:

New-AzureRmResource : A parameter cannot be found that matches parameter name 'ParentResource'.
 .....
 +     -ParentResource $parent `
 +     ~~~~~~~~~~~~~~~
     + CategoryInfo          : InvalidArgumen

[2015-10-27 15:11] MarkMurphyInvu opened #1179 "New-AzureRmResource Search sku parameter"
When creating Search Services I discovered some undocumented features ....
1. the -sku parameter works but using the $Search["Sku"] alone only raises a "sku parameter missing" error (see code below). The -sku parameter is undocumented and inconsistent with the general rule that properties are supplied in a hashtable via PropertyObject
2. -Location 'West Europe' works but the -Location 'westeurope'

[2015-10-27 19:43] robplank commented on #740
@pcgeek86 are you talking about the Import-AzurePublishSettingsFile "C:\MyPublishSettings\mysubscriptions.publishsettings" process being moved away from?

[2015-10-27 20:23] SarahRogers opened #1181 "HANDOFF: AzureRM.DataLakeStore"
Hi, David,

A new fully-authored help.xml is available for AzureRm.DataLakeStore. Since I am unable to attach the file because I do not have write permissions, you can find the help file here:

\\wpshelpserver\cabs\AutomatedCabs\DxPowerShellBlue\1033\RMAzure_DataLakeStore\Latest\2015-10-27.13_08_18\OutPut\OnBox

Let me know if you have any questions.

Thanks!
 Sarah

[2015-10-27 21:18] rjmax commented on #740
This work item is not related to the old publish settings file approach, which involves a certificate persisted in RDFE.

It is about adding support for certificate based authentication for ARM using AAD's ability to login as a user/service principal via certificate rather that user/password pair.

It is a requirement for many of our large customers who use PS/CLI to automate against ARM and canno

[2015-10-27 21:30] robplank commented on #740
@rjmax I have the need to login via powershell using a cert/service principal account. for a fortune 500 company, do we know when this will be supported?

[2015-10-27 22:46] TaraMeyer opened #1184 "New help.xml for ARM 1.0 Preview / Azure Data Lake Analytics Module - AzureRM.DataLakeAnalytics"
Hi @Azure/adx-sdk-team -

A help.xml is now available for the new Azure Data Lake Analytics module for ARM 1.0 Preview(Microsoft.Azure.Commands.DataLakeAnalytics.dll).  This is a brand new module, so no existing help.xml to diff against.

Since I'm unable to attach xmls, you can find the update file here:

\\wpshelpserver\cabs\AutomatedCabs\DxPowerShellBlue\1033\RMAzure_DataLkAnalyti\2015-10-27.15

[2015-10-28 01:31] amitsara opened #1186 "Inappropriate error message from Add-AzureVhd cmdlet"
Add-AzureVhd throws "Add-AzureVhd : The Remote server returned an error: (400) Bad Request." error message when invalid destination path (valid_blobstorage\invalid_foler) is specified.

It should say folder doesn’t exist so that user can correct the mistake.

[2015-10-28 12:21] trondhindenes opened #1190 "Add-AzureRmVMNetworkInterface has no effect"
When running `Add-AzureRmVMNetworkInterface -NetworkInterface $nic -VM $vm` no error is returned, but no change is performed on the specified vm either.

[2015-10-28 13:21] dprob commented on #1190
Corey
…I guess this is better than…

Thanks,
Rob Harryman | 515-535-8336 | rob.harryman@pioneer.com<mailto:rob.harryman@pioneer.com>
or dl-awsphioperations@pioneer.com<mailto:dl-awsphioperations@pioneer.com>

From: trondhindenes [mailto:notifications@github.com]
Sent: Wednesday, October 28, 2015 7:21 AM
To: Azure/azure-powershell
Subject: [azure-powershell] Add-AzureRmVMNetworkInterface has no eff

[2015-10-28 13:47] storafrid commented on #462
Fixing https://github.com/Azure/azure-sdk-for-net/issues/1255 should solve this so I've added a comment over there.

It could be fixed here as well by just hard-switching from unknown string values to `VS2015`, but I don't know if that's a good idea.

[2015-10-28 16:37] SarahRogers opened #1191 "HANDOFF: AzureRM.Storage"
Hi, David,

A new fully-authored help.xml is available for AzureRm.Storage. Since I am unable to attach the file because I do not have write permissions, you can find the help file here:

\\wpshelpserver\cabs\AutomatedCabs\DxPowerShellBlue\1033\RMAzure_StorageManage\Latest\2015-10-28.09_34_59\OutPut\OnBox

Let me know if you have any questions.

Thanks!
 Sarah

[2015-10-28 16:56] devigned commented on #1184
please attach as .txt

[2015-10-28 16:58] TaraMeyer opened #1192 "Updated help.xml for ARM 1.0 Preview / AzureRM.Profile"
@Azure/adx-sdk-team  - A new fully-authored help.xml is available for the ARM 1.0 Preview profile module (.\Microsoft.Azure.Commands.Profile.dll). Since I am unable to attach file because I do not have write permissions, you can find the help file here:

\\wpshelpserver\cabs\AutomatedCabs\DxPowerShellBlue\1033\RMAzure_Profile\Latest\2015-10-28.09_51_57\OutPut\OnBox

One important note:  Disable-Az

[2015-10-28 17:24] TaraMeyer commented on #1160
@Azure/adx-sdk-team - let me know if you need additional info. Thanks!

[2015-10-29 05:33] sudheer0503 opened #1198 "Azure PowerShell allows to add multiple endpoints with same private port"
Steps to repro :
1.  Create VM in Azure
2.  Add endpoint with name “Remote EndPoint” using below
a.  Get-AzureVM -ServiceName tfssdsandbox -Name tfssdsandboxv02  | Add-AzureEndpoint -Name "RemoteDesktop" -Protocol tcp -LocalPort 3389 | Update-AzureVM
3.  Add endpoint with name RemoteEndpoint using below
a.  Get-AzureVM -ServiceName tfssdsandbox -Name tfssdsandboxv02  | Add-AzureEndpoint -Name "Rem

[2015-10-29 15:03] trondhindenes opened #1200 "AzureRM Iaas Feature request: Allow async operations"
On operations such as stop-AzureRmVm it would be very helpful to have builtin support for async. This could be implemented using the "-AsJob" parameter. Since ARM supports multiple management operations, it only makes sense to surface this ability in the corresponding cmdlets.

[2015-10-29 19:04] LeviBotelho commented on #398
+1

[2015-10-29 19:13] bgelens commented on #1200
Also for cmdlets like New-AzureRmResourceGroupDeployment

[2015-10-29 19:30] TaraMeyer opened #1201 "Updated help.xml for ARM 1.0 Preview / AzureRM.Websites"
@Azure/adx-sdk-team  - A new fully-authored help.xml is available for the Azure Websites module (.\Microsoft.Azure.Commands.Websites.dll). Since I am unable to attach file because I do not have write permissions, you can find the help file here:

\\wpshelpserver\cabs\AutomatedCabs\DxPowerShellBlue\1033\RMAzure_Websites\Latest\2015-10-29.12_27_47\OutPut\OnBox

![capture](https://cloud.githubusercon

[2015-10-29 19:34] TaraMeyer opened #1202 "New help.xml for ARM 1.0 Preview / Azure Api Management Module - AzureRM.ApiManagement"
@Azure/adx-sdk-team  - A new fully-authored help.xml is available for the Azure Websites module (.\Microsoft.Azure.Commands.Websites.dll). Since I am unable to attach file because I do not have write permissions, you can find the help file here:

\\wpshelpserver\cabs\AutomatedCabs\DxPowerShellBlue\1033\RMAzure_ApiManagement\Latest\2015-10-29.12_32_50\OutPut\OnBox

![capture](https://cloud.githubus

[2015-10-29 19:44] TaraMeyer commented on #1184
I'm not able to, I get this error:

![capture](https://cloud.githubusercontent.com/assets/14112499/10830041/c4f86f2e-7e3a-11e5-8180-9352b81938fc.PNG)

[2015-10-29 21:55] TaraMeyer commented on #1184
Didn't mean to close, sorry.

[2015-10-30 17:10] joedoss opened #1213 "Remove-AzureVMImage errors when VMImage includes diskconfigset"
This behavior has been occurring for several versions, and is still present in 0.9.11:
Remove-AzureVMImage fails when the image includes a diskconfigset, with the following error:
Remove-AzureVMImage : BadRequest: This operation is not supported for image with name MyImageName.
OperationID : '8ea69bc6fe492a1bb837faecad187c64'
At Test_Azure_VMImage_Delete.ps1:33 char:5
-     Remove-AzureVMImage -Im

[2015-10-30 23:23] markcowl commented on #1102
This fix will be out in the 11/3 release.  Clopsing

[2015-10-30 23:25] markcowl commented on #1072
@PxlBuzzard This is not occurring in the current dev or releas ebranches.  Please reopen if you see this again.

[2015-10-30 23:25] #1072 closed

[2015-10-30 23:29] markcowl commented on #1135
@singhkay @hyonholee @trondhindenes @jodoglevy   This is absolutely expected.  Terminating errors should result in failures regardless of ErrorActionPreference.  Only non-terminating ewrrors should be controlled this way, see https://msdn.microsoft.com/en-us/library/ms714414(v=vs.85).aspx

[2015-10-30 23:34] trondhindenes commented on #1135
Yup, tgat makes sense. Tho I don't understand the rationale for throwing terminating errors.

[2015-10-30 23:49] hovsepm commented on #959
Thanks for reporting this. KeyVault team will have a look to the issue.

[2015-10-30 23:59] hovsepm commented on #1087
Thanks! Assigned to Authorization team.

[2015-10-31 00:17] jodoglevy commented on #1135
It appears these are exceptions, although I don't think they should be:

`try {
    Get-AzureRMVm -ResourceGroupName "dsfd" -Name "fdsfds"
}
catch
{
    "EXCEPTION!!"
}`

results in "EXCEPTION!!" but

`try {
    Get-AzureVM -Name "sdds" -servicename "fdssfd"
}
catch
{
    "EXCEPTION!!"
}`

does not.

Same with automation cmdlets:

`try {
    Get-AzureRmAutomationRunbook -ResourceGroupName "dfds" -

[2015-10-31 00:23] huangpf commented on #1125
@hyonholee

[2015-10-31 00:24] huangpf commented on #1125
@stuartpreston Do you mean ```Vm``` should be ```VM```, and ```Vhd```` shall be ```VHD```?

[2015-10-31 00:41] seanbamsft opened #1221 "Get/Set-AzureRmResource do not preserve casing for resource properties"
Azure Key Vault uses a dictionary in our permissions model and our SDK and service expects to see strings like "keys" and "secrets" as the keys in that dictionary. However, if a user uses Set-AzureRmsResource, the casing for existing entries is changed so that they are now "Keys" and "Secrets". This breaks any code that deserializes into a case-sensitive dictionary (the default in .NET).

[2015-10-31 00:54] stuartpreston commented on #1125
@huangpf I don't mind which way you go, but would suggest to make them consistent - i.e. all AzureRmVm* or AzureRmVM*

I understand the casing was done that way for readability. It would be good to be consistent everywhere.

[2015-10-31 01:04] huangpf commented on #1125
@hovsepm
Please help assign it to @hyonholee.

[2015-10-31 15:58] pcgeek86 commented on #1200
+1 to @trondhindenes idea.

Cheers,
Trevor Sullivan
Microsoft MVP: PowerShell
http://trevorsullivan.net
http://twitter.com/pcgeek86

[2015-10-31 18:55] dimkanewtown commented on #669
+1

[2015-11-01 14:31] pcgeek86 commented on #1102
Instead of querying the service, why not query the `AzureProfile` object? No REST calls would be required for that.

Cheers,
Trevor Sullivan
Microsoft MVP: PowerShell
http://trevorsullivan.net
http://twitter.com/pcgeek86

[2015-11-02 08:54] paul-sernine opened #1224 "MSI cannot be installed silently"
Because of the EULA, the MSI cannot be deployed by msiexec silently.

Please add a property ACCEPTEULA=1 or equivalent.

Better yet, allow for a oneliner to download and install the module.

[2015-11-02 13:37] avanyork commented on #1177
Kreby,

If you null out the the AdditionalUnattendContents json array Update-AzureVM may work.

[2015-11-02 19:30] akromm commented on #1122
Hi @olegburov as you mentioned this is a common behaviour for most AzureRM cmdlets.

[2015-11-02 20:57] SarahRogers opened #1225 "HANDOFF: AzureRm.HDInsight help.xml"
Hi, David,

A new fully-authored help.xml is available for AzureRm.HDInsight. Since I am unable to attach the file because I do not have write permissions, you can find the help file here:

\\wpshelpserver\cabs\AutomatedCabs\DxPowerShellBlue\1033\RMAzure_HDInsight\Latest\2015-11-02.12_51_55\OutPut\OnBox

Let me know if you have any questions.

Thanks!
 Sarah