[2017-07-17 22:26] atpham256 commented on #4291
Customer updated to the latest PowerShell version and everything worked.

[2017-07-17 22:26] #4291 closed

[2017-07-18 00:00] begoldsm opened #4322 "Resolve-AzureRMError null reference for CloudExceptions that are missing properties."
### Cmdlet(s)
Resolve-AzureRMError
### PowerShell Version
4.2.0

### Module Version
N/A
### OS Version
N/A

### Description
It looks like the command assumes that all fields are populated if the underying exception is a CloudException instead of checking to make sure they aren’t null first (things like request/response). A fix here might be to have a null validation for properties being populated.

[2017-07-18 01:28] calep commented on #955
I'm getting the same error as RanjotSingh above.
New-AzureRmVM : Certificate https://[keyvaultname].vault.azure.net/secrets/WinRMKeyUpload/[KeyID] specified in WinRM configuration is not defined in the VM model secrets.
ErrorCode: InvalidParameter

Any suggestions?

[2017-07-18 07:02] cmendible opened #4323 "New-AzureRmDataLakeStoreAccount + KeyVault throws: The service principal of the Data Lake Store account [account name] does not have access to the Key Vault [key vault id]"
### Cmdlet(s)
New-AzureRmDataLakeStoreAccount

### PowerShell Version
5.1.14393.1198

### Module Version
4.2.0

### OS Version
10.0.14393.1198

### Description
We have a script which creates a Key Vault a Key Vault Key and then a Data Lake Account encrypted with the Key Vault.

The script looks like this:

[code]
So first we create the Vault, then the Data Lake which in turns creates the **RN_$dat

[2017-07-18 08:15] binubk commented on #4317
Same issue here as well. waiting for the fix.
Is the new version out yet?

[2017-07-18 09:48] fmad commented on #3665
That's a very dumb excuse for closing a feature request. I guess, since we can do EVERYTHING using REST API calls, we should also get rid of ALL azure PowerShell cmdlets, no? After all, we don't need them, we have REST API calls... Sure, it's a neat workaround, but we're forced to mix cmdlets with REST API calls and in my first contact with this cmdlet I WAS NOT expecting it to DOWNLOAD to a file!

[2017-07-18 12:24] iamGavinJ opened #4325 "AzureRM.Profile Get-AzureRmTenant returns incorrect directory name"
### Cmdlet(s)
Get-AzureRmTenant

### PowerShell Version
5.1.15063.483

### Module Version
3.2.0

### OS Version
10.0.15063.483

### Description
When my user is a member of multiple directories/tenants, and Get-AzureRMTenant is called without any arguments, the list of available tenants returns with correct GUIDs but the directory name returns the first in the list for all subsequent GUIDs.

### De

[2017-07-18 13:56] ericcsinger commented on #4317
same here, still an issue.

[2017-07-18 16:05] cormacpayne commented on #4323
@begoldsm Hey Ben, would you mind taking a look at this issue?

[2017-07-18 16:22] jboeshart commented on #3665
I have to agree with @fmad here as well @blueww, can we get this enhancement so that it works more like Get-Content? From a usability standpoint, I think there is a good case for this.

[2017-07-18 16:51] begoldsm commented on #4323
That is indeed the case. @cmendible it looks like we missed a scenario where the service principal to use doesn't already exist during initial setup of the Data Lake store account (in that you define it's permissions after account creation). To work around this for now you can either:
* Revert back to the previous version of the ADLS cmdlets
* Configure permissions with a pre-existing key vault SP

[2017-07-18 16:53] begoldsm commented on #4323
@cmendible also, the account is successfully created (even with the failure) I believe. So you could do the following:
* After account creation "failure":
  * Run the Set-AzureRMKeyVaultAccessPolicy` cmdlet
  * Re-Run `Enable-AzureRMDataLakeStoreKeyVault` cmdlet.

[2017-07-18 19:52] cormacpayne commented on #4317
@navimondo @ShaharZuberi @binubk @ericcsinger Hey everyone, we just release version 4.2.1 of Azure PowerShell which includes a fix for this issue. You can find the different installation platforms, as well as information about the changes made, in the GitHub release: https://github.com/Azure/azure-powershell/releases/tag/v4.2.1-July2017

Please let us know if you have any other questions!

[2017-07-18 19:57] markcowl commented on #4309
Fix released in release 4.2.1: https://www.powershellgallery.com/packages/AzureRM/4.2.1.  Closing

[2017-07-18 19:58] markcowl commented on #4299
Fix released in release 4.2.1: https://www.powershellgallery.com/packages/AzureRM/4.2.1. Closing

[2017-07-18 19:58] #4299 closed

[2017-07-18 21:40] tylerl0706 opened #4328 "PowerShell Gallery does not have the correct url for the license for AzureRM.profile"
### Description
PowerShell Gallery does not have the correct url for the license for AzureRM.profile:
https://www.powershellgallery.com/packages/AzureRM.profile/3.2.0

### Script/Steps for Reproduction
go to the AzureRM.profile package in the PowerShell Gallery: https://www.powershellgallery.com/packages/AzureRM.profile/3.2.0

Click License on the left side... brings you to this:
https://raw.githu

[2017-07-19 01:51] OzBob commented on #1978
@nutts  https://docs.microsoft.com/en-us/cli/azure/image agrees with you "--source: OS disk source from the same region, including a virtual machine id or name, os disk blob uri, managed os disk id or name, or os snapshot id or name."
I'd suggest posting your query and error text in Stackoverflow https://stackoverflow.com/questions/tagged/azure

[2017-07-19 01:53] OzBob commented on #1978
Not only can you not un-generalise a VM/disk, but your can't move disks for generalised VMs from Premium Storage (very expensive!) to standard storage. Not in the portal nor via powershell.

[2017-07-19 03:55] binubk commented on #4317
Tested... Its working. Awesome !!!

[2017-07-19 06:42] cmendible commented on #4323
Hi @begoldsm,

I was actually working on a video showing the script running and didn't want any red  messages on it jejejeje.

I ended up reverting back to  the previous version of the ADLS cmdlets.

I'll keep watching the issue so as soon as you release the fix I'll give it try and come to you guys with feedback.

[2017-07-19 09:36] sandersaares opened #4330 "Enable-AzureDataCollection does not work, instead must use Enable-AzureRmDataCollection"
### Cmdlet(s)
Enable-AzureDataCollection

### PowerShell Version
5.1.14393.1480

### Module Version
Whatever `Install-Module AzureRm` gave me.

### OS Version
10.0.14393.1480

### Description
The data collection message that is displayed on first use of AzureRM says:

But in practice, this command does not work as named.

Instead, one must use `Enable-AzureRmDataCollection`.

[2017-07-19 13:58] DdenBraver opened #4331 "New-AzureRmDiskUpdateConfig gives errors when used for updating managed disks."
### Cmdlet(s)

### PowerShell Version
5.1.14409.1005

### Module Version
AzureRM 4.2.1
AzureRM.Compute 3.2.1

### OS Version
10.0.14409.1005

### Description
New-AzureRmDiskUpdateConfig gives errors when used for updating managed disks.

### Debug Output
$osdiskconfig = New-AzureRmDiskUpdateConfig -AccountType $storageType
$null = Update-AzureRmDisk -ResourceGroupName $ResourceGroupName -DiskName

[2017-07-19 14:09] eligne-pro commented on #4022
Exactly same comportment here, seems like a regression in AzureMLPS module: worked in 0.11.0, don't work in 0.15.2

[2017-07-19 14:39] MSSedusch opened #4332 "FileNotFoundException during test recording"
### Cmdlet(s)
n.a.

### PowerShell Version
Azure/azure-powershell/preview pulled on ~17/07/2017

### Module Version
n.a.

### OS Version
Win 10 Creators Update

### Description
I am trying to re-record the test for the AEM extension. If I record test by test it succeeds. When I try to record all tests at once I get the exception below starting with the second test (the first one is always green/ok

[2017-07-19 15:29] HeroSpha opened #4333 "Azure Runtime Error"
Im working on an app, i want to create database in azure. First of all i get the database and copy it to another server inside a pool. I can get the database successful, but when i create the database i get an error *Long running operation failed with status 'Failed'*. When i debugged the issue, the error comes Microsoft.Rest.ClientRuntime.azure im using version 3.38

[2017-07-19 16:54] #4254 closed

[2017-07-19 17:47] viananth opened #4335 "Define disconnected scenario functionality for AzureRm.Bootstrapper"
### Cmdlet(s)
Remove-PreviousVersions, Update-AzureRmProfile

### PowerShell Version
5.0

### Module Version
0.2.0

### Description
Enabling users remove previous versions of Azure modules is currently provided as part of Update-AzureRmProfile. Users should be able to remove previous versions even if they don't intend to update their AzureRm Profiles. This helps them to clean up even if they are d

[2017-07-19 18:18] GamerLivingWill commented on #4319
Verified.

[2017-07-19 18:34] swngdnz commented on #4319
Verified.

[2017-07-19 19:43] viananth opened #4336 "AzureRm.Bootstrapper: Install-AzureRmProfile in disconnected scenarios"
### Cmdlet(s)
Install-AzureRmProfile , Use-AzureRmProfile

### PowerShell Version
5.0

### Module Version
0.1.0, 0.2.0

### Description
For Install-AzureRmProfile in disconnected scenarios, should we advise the users to use Set-BootstrapRepo to set a local repository? Or should we just not support it in disconnected scenarios?

[2017-07-19 19:48] viananth opened #4337 "AzureRm.Bootstrapper: Install-AzureRmProfile "latest" won't install the latest versions in the profilemap's versionarry if one of the version is already installed"
### Cmdlet(s)
Install-AzureRmProfile, Use-AzureRmProfile

### PowerShell Version
5.0

### Module Version
0.1.0, 0.2.0

### Description
If one of the versions in a profilemap's module is installed, Install-AzureRmProfile skips installing that profile's latest versions.

For eg, in latest profile, if AzureRm "4.1.0" is already installed in the system, but the latest version is "4.2.0", Install-Azure

[2017-07-19 20:14] bganapa commented on #4336
With disconnected scenario, the user has no access to the blob storage where we maintain the profilemap for update scenario. One way is to expose this blob uri customizable for the disconnected scenarios.

[2017-07-19 21:29] viananth commented on #4337
The install-AzureRmProfile uses Get-AzureRmModule to find if the module version is installed. Get-AzureRmModule returns one of the versions in the profile's version array if it's installed, not necessarily the latest one. We could just use Get-Module to find if the latest version is installed instead of using Get-AzureRmModule.

[2017-07-19 21:58] rajaprad opened #4339 "Connect-AzureAD - Does not work with ServicePrincipal and password"
### Cmdlet(s)
Connect-AzureAD

### PowerShell Version
4.0

### Module Version

### OS Version
6.3.9600.18728

### Description

Unable to use Service Principal with password - instead of service principal and certificate - as described in the article: [https://docs.microsoft.com/en-us/powershell/module/azuread/connect-azuread?view=azureadps-2.0](url)

This should ideally work as Login-AzureRmAccoun

[2017-07-19 22:01] rajaprad commented on #4339
@RobdeJong , @TaraMeyer  - Please help on this.

[2017-07-19 23:53] markcowl opened #4340 "Cannot Pipe Get-AzureRmServiceBusNameSpace to remove or other cmdlets"
### Cmdlet(s)

### PowerShell Version
5.1

### Module Version
4.2.1

### OS Version
Windows 10

### Description

When attempting to pipe the output of Get-AzureRmServiceBusNamespace to Remove-AzureRmServiceBusNamespace, powershell returns an error like the following
[code]

### Debug Output
Instructions: to get Debug Output, set `$DebugPreference="Continue"` and then execute the cmdlet or script c

[2017-07-20 11:50] ericcsinger commented on #4317
Tested as well and working, thanks!

[2017-07-20 13:33] yobyot opened #4343 "404 on link in README.md"
Oooppss. Makes a noob wonder...

![2017-07-20_9-27-52](https://user-images.githubusercontent.com/14332263/28419890-71379a38-6d2e-11e7-9737-79b98f84f092.png)

[2017-07-20 16:33] cormacpayne commented on #4343
@yobyot good catch! It looks like GitHub is treating the link as a relative path in the repository. I'll update that now. In the meantime, you can navigate to that site [here](https://aka.ms/azpsdocs).

[2017-07-20 17:42] six0h commented on #1835
Get-AzureRmVirtualNetwork also seems to be affected by this issue.

[2017-07-20 22:44] rajaprad commented on #4234
@cormacpayne  - If this is something planned, could you please have this issue open so that we are informed on the timelines and the new cmdlet for the feature

[2017-07-21 06:57] pihai opened #4350 "Not possible to set multiple rights with Add-AzureRmIotHubKey"
### Cmdlet(s)
Add-AzureRmIotHubKey

### PowerShell Version
5.1.14393.0

### Module Version
2.2.1

### OS Version
10.0.14393.0

### Description
I can't create a new IoT-Hub key with multiple rights. Additionally existing keys get messed up too.
Azure Region: West Europe
Tier: F1

### Script/Steps for Reproduction

The default keys of a new IoT Hub look like this:

![iot-hub](https://user-images.git

[2017-07-21 14:41] joshuafennessy opened #4351 "Add-AzureRMHDInsightClusterConfig error with RServer parameter failing with parameter set error"
### Cmdlet(s)
Add-AzureRMHDInsightClusterConfig
### PowerShell Version
5.1.14393.1480

### Module Version
4.21

### OS Version
10.0.14393.1480

### Description
Creating an RServer HDInsight Cluster using PowerShell -- encountering an error when using the Add-AzureRMHDInsightClusterConfig cmdlet to specify that RStudio should be enabled with RServer.  The error message is: Add-AzureRmHDInsightConfi

[2017-07-22 00:15] KacperMucha commented on #1528
I'm experiencing a similar issue. I have a script that gets Azure resource properties, saves them as PSObject and then converts to hashtable with this function:
[code]
which I found here: [https://stackoverflow.com/questions/3740128/pscustomobject-to-hashtable](url)
It converts everything fine until it encounters an array. When there is an array in the object I get the same CliXml... output which

[2017-07-23 06:08] ChrisFagan commented on #1295
When adding an extension to an existing ARM vm using the SettingString parameter with the string argument type the cmdlet throws the error:
Set-AzureRmVMExtension : Invalid property identifier character: “. Path '', line 1, position 1.

Arguments:
$SettingsString = ‘{“AntimalwareEnabled”: true,“RealtimeProtectionEnabled“: true}’;
$typeHandlerVerMjandMn is 1.5.

Cmdlet invoke:
  Set-AzureRmVMExtens

[2017-07-23 09:43] sansoft59 opened #4354 "Error while deploying locally - Azure IOT remote monitoring suite"
Team,

I am a new bie on Azure IOT

We are trying out this IOT remote monitoring suite from github. We are trying to first deploy that locally instead of Azure and hence we have followed the document mentioned here https://github.com/Azure/azure-iot-remote-monitoring/blob/master/Docs/local-deployment.md

Also, we have followed the pre-requisites over here https://github.com/Azure/azure-iot-remote-

[2017-07-24 14:26] gruenerh commented on #4107
Hi, do you have some updates for that issue?
I have the same Problem in my environment!

Regards,
Hannes

[2017-07-24 15:29] franciso opened #4356 "Error : "New-AzureRmDisk : 'Location' cannot be null.""
### Cmdlet(s)
New-AzureRMDisk

### PowerShell Version
5.1.15063.483

### Module Version
AzureRM.Compute 3.2.1
AzureRM 4.2.1

### OS Version
10.0.15063.483

### Description
New-AzureRmDisk : 'Location' cannot be null. error when creating managed disk

### Debug Output
DEBUG: 11:26:58 AM - NewAzureRmDiskConfigCommand begin processing with ParameterSet '__AllParameterSets'.
DEBUG: 11:26:58 AM - using

[2017-07-24 16:07] #4356 closed

[2017-07-24 16:34] cormacpayne commented on #4343
@yobyot this has been fixed and merged!

[2017-07-24 16:34] #4343 closed

[2017-07-24 16:46] cormacpayne commented on #4351
@shefaliv Hey Shefali, would you mind taking a look at this issue?

[2017-07-24 16:48] cormacpayne commented on #4350
@rkmanda Hey Roopesh, would you mind taking a look at this issue?

[2017-07-24 16:52] cormacpayne commented on #4339
@rajaprad Azure PowerShell does not own the Azure AD cmdlets, so I'm going to close this issue.

@TaraMeyer @RobdeJong is there a separate location that this issue should be filed? We usually tell users to check out the [multiple support communities](https://azure.microsoft.com/en-us/support/forums/) we have.

[2017-07-24 16:52] #4339 closed

[2017-07-24 16:58] cormacpayne commented on #4333
@HeroSpha the description you provided sounds like you are using the Azure SDK for .NET instead of Azure PowerShell. If so, please close this issue and open a new one in the [Azure SDK for .NET repository](https://github.com/Azure/azure-sdk-for-net).

If this is an issue you are having with Azure PowerShell, please provide the script that you are running.

[2017-07-24 17:00] cormacpayne commented on #4332
@hovsepm Hey Hovsep, any idea why recording multiple tests at once would be disallowed after your changes?

[2017-07-24 17:08] cormacpayne commented on #4331
@hyonholee Hey Hyonho, would you mind taking a look at this issue?

[2017-07-24 17:09] cormacpayne commented on #4330
@sandersaares Hey Sander, thanks for filing this issue. This should be a small documentation change that we can get out in the August release of Azure PowerShell.

[2017-07-24 17:12] cormacpayne commented on #4328
@tylerl0706 Hey Tyler, thanks for filing this issue. It looks like this is a result of removing our `dev` branch after we switched to `preview`. This should be a small change that can go out in the August release.

[2017-07-24 17:32] cormacpayne commented on #4325
@iamGavinJ Hey Gavin, unfortunately this is by design. Currently, the tenant API call does not return the domain name, only the Id. If, in the future, the domain is included in the call, we will resurface this issue. Closing for now.

[2017-07-24 17:32] #4325 closed

[2017-07-24 18:50] viananth opened #4357 "AzureRm.Bootstrapper: Partial installation of AzureRm ends up in module not found error"
### Cmdlet(s)
Use-AzureRmProfile
Install-AzureRmProfile

### PowerShell Version
5.0

### Module Version
0.1.0, 0.2.0

### Description
If user had installed `AzureRm `previously but ends up only with` AzureRm.psd1 `and not `AzureRm.psm1`, this leads Bootstrapper to think AzureRm is installed but fails to load the module as `.psm1 `is not available. Because of this situation, Bootstrapper will skip

[2017-07-24 18:51] viananth commented on #4357
This is a unique situation where a user might only have AzureRm.psd1 and not AzureRm.psm1 module in AzureRm directory.

[2017-07-24 20:13] markcowl commented on #4354
@sansoft59 What OS are you running?  The error is not consistent with an ExecutionPolicy issue, and the cmdlets should work with the RemoteSigned policy in any case.

In your PowerrShell window, where you see the import failure, cna you try `Get-ExecutionPolicy`, just so we can rule out execution policy anyway.

This looks more like one of the Windows 10 / WIndows Server 2016 new group policy [res

[2017-07-24 20:37] jboeshart commented on #2581
Still seeing this issue, and it appears to be isolated to Azure PowerShell, as I can retrieve ConnectionStatus through Azure CLI so I don't think that it's on the API side...

[2017-07-24 22:08] HeroSpha commented on #4333
Yes, sorry for my mistake the issue have been resolved..

[2017-07-24 22:08] #4333 closed

[2017-07-24 23:56] #4322 closed

[2017-07-25 00:29] alexandair opened #4359 "Password parameter and other password-like parameters expect a plain-text string"
A bunch of AzureRM cmdlets that deal with secrets using -Password, -CertificatePassword and other password-like parameters (for example, for working with "keys") expect a string value instead of a SecureString value or PSCredential.

For example:
[code]

[2017-07-25 05:01] sansoft59 commented on #4354
Thanks for your reply.

OS I  am using is Windows 7 professional SP1.  When i do  Get-ExecutionPolicy, I get the "Unrestricted".

When i do Get-ExecutionPolicy -List  i get the following
        Scope ExecutionPolicy
        ----- ---------------
MachinePolicy    Unrestricted
   UserPolicy    Unrestricted
      Process       Undefined
  CurrentUser    RemoteSigned
 LocalMachine    RemoteSigned

[2017-07-25 05:13] jawandsingh commented on #639
still waiting for this functionality, any update ?

[2017-07-25 06:08] jawandsingh commented on #639
@ravbhatnagar the powershell script snippet you have shared, i do not think it checks globally for existing web app. Is there some other way to check globally if web app name exists ?

[2017-07-25 10:09] blueww commented on #3665
@fmad, @jboeshart, the task to track the change request still open.
There are 2 possible fix, which one do you like?
1. Output the blob content to a stream.  (see how to use memory stream in  [link](https://social.technet.microsoft.com/Forums/windowsserver/en-US/7d838d53-bfd5-4706-b0df-c4bee2d00412/using-memorystream-and-textreader?forum=winserverpowershell])). This can be apply to big blob.

2. O

[2017-07-25 19:06] markcowl commented on #4179
### Description

Need additional details on
 - [ ] Algorithm to use for determining MAC address to hash
 - [ ] Hash function to use for hashing this value
 - [ ] Whether we should opt in users on upgrade, and what explanatory text we need to present when

[2017-07-25 19:34] jboeshart commented on #2581
Seems to also only be if the `-name` parameter is omitted. If you specify a specific VPN connection it properly retrieves the `ConnectionStatus`.

[2017-07-25 20:38] yobyot commented on #3735
I'm an Azure newbie and my question is is this warning to be ignored or is it, in fact, stating that some artifacts are being used outside of my storage group my script is creating the VM in? IOW, do I have to clean up something else, outside of the resource group I created the VM in?

[2017-07-25 20:58] ld0614 commented on #3665
I discovered that there is actually the ability to grab the file directly into a variable it's just a little hidden:

`
$StorageAccount = Get-AzureRmStorageAccount -ResourceGroupName $ResourceGroupName -Name $StorageAccountName
$Blob = Get-AzureStorageBlob -Context $StorageAccount.Context -Container $container -Blob $Filename
$Text = $blob.ICloudBlob.DownloadText()
Write-Output $Text
`

Having a l

[2017-07-25 22:02] twitchax commented on #4179
There is no prescriptive way to "choose" the proper MAC address, but the data team defines the hash algorithm as follows (source: https://wiki.vsdata.io/sendmacaddress).

[code]

We should also opt-in users on a one-time basis when upgrading (user setting preserved in future upgrades).  The text should be as follows.

[code]

[2017-07-26 00:41] markcowl commented on #2805
Use a variable ```BuildProfile={latest | 2017-03-09-profile | All}```
- [ ] Create side-by-side build in VS for AzureStack (separate SLN + seperate output path + projects)
  - [ ] Update build path for stack modules to ```src\Stack\{Config}```
  - [ ] Copy Profile module into Stack\Config when building Stack profile or all
- [ ] Move over tests and have them build into the same directory
  - [ ] U

[2017-07-26 05:16] tylerl0706 commented on #4328
Sounds good! I know I mentioned just AzureRM.profile but it might be worth checking the other Azure PowerShell modules as well. Not too sure what the state is on those.

[2017-07-26 14:43] guidooliveira opened #4365 "New-AzureRmRoleDefinition - Name Already Exists"
### Cmdlet(s)
New-AzureRmRoleDefinition

### PowerShell Version
5.1.15063.483

### Module Version
4.2.1
### OS Version
Windows 10 x64

### Description
Can`t create new RoleDefinitions, it claims that the name already exists, same behaviour with JSON file.
### Debug Output
DEBUG: ============================ HTTP REQUEST ============================

HTTP Method:
PUT

Absolute Uri:
https://manageme

[2017-07-26 16:05] cormacpayne commented on #4328
@tylerl0706 they're all referencing the old branch, so we will make sure the change is across the board 😄

[2017-07-26 17:38] adwaitu opened #4366 "Add -ResourceId parameter for all core Get-AzureRm* commands"
### Cmdlet(s)

Any of the Get-AzureRm* commands

### PowerShell Version
Instructions: to get PowerShell version, type `$PSVersionTable` and look for the value associated with `PSVersion`
5.1.14393.1480

### Module Version
Manifest   0.4.0      AzureRM.AnalysisServices            {Resume-AzureRmAnalysisServicesServe...
Manifest   4.1.0      AzureRM.ApiManagement               {Add-AzureRmApiManagem

[2017-07-26 17:40] rkmanda commented on #4350
@chieftn who is looking into this

[2017-07-26 18:15] bganapa opened #4367 "Merge stack-dev branch modules to azure development branch as part of multiple profile support"
### Description

- [x] Test Common Runtime against azurestack

- [x] Merge the modules from stack-dev branch

    - [x] AzureStackAdmin
    - [x] AzureStackStorage
    - [x] Azure.Storage
    - [x] AzureRM.Resources
    - [x] AzureRM.Compute
    - [x] AzureRM.Network
    - [x] AzureRM.Storage
    - [x] AzureRM.Keyvault
Build output directory changes will be part of this work

- [x] Run azure stack

[2017-07-26 21:06] cdeli opened #4369 "Azure Automation DSC - Unable to pass credential from secure credentials"
attempting to pass a credential set from my Azure Automation Credentials into a DSC script running

`$Creds = Get-AzureRmAutomationCredential -ResourceGroupName "<MyResourceGroup" -AutomationAccountName "<AccountName>" -Name "<CredentialName>"`

when I compile the MOF it suspends and gives me

`Exception
The running command stopped because the preference variable "ErrorActionPreference" or common

[2017-07-26 21:06] bganapa commented on #4357
This is low pri to fix

[2017-07-26 21:21] cormacpayne commented on #4369
@cdeli Hey Corey, would you mind running `Get-Module -ListAvailable` and pasting the output here?

It seems that you may have a combination of modules from both the MSI / Web Platform Installer and the PowerShell Gallery that is causing this issue.

[2017-07-26 21:33] cdeli commented on #4369
Everything I have is from the PSGallery with the sole exception being FSRMDsc which I had to pull from Github manually.

Everything works in my script until I need to pass credentials through.

Do you want this module list from my workstation or from Azure Automation (where this is being run from).

[2017-07-26 21:40] viananth opened #4370 "AzureRm.Bootstrapper: Install-AzureRmProfile needs to prompt users if they'd like to install the latest versions in that profile"
### Cmdlet(s)
`Install-AzureRmProfile `

### PowerShell Version
5.0

### Module Version
0.1.0, 0.2.0

### Description
`Install-AzureRmProfile `will ignore installing the profile if one of the versions in that profile is already installed. Instead of this behavior, it should prompt the user if they'd like to install the latest versions in that profile if a new one is available.

For example, if use

[2017-07-27 06:43] TeppeiIshii opened #4374 "Setting timeout option in Start-AzureRmVm"
This is more a feature request.

Via Azure PowerShell, "Start-AzureRmVm" will timeout like 45 minutes in case of some issue happens (like Azure guest agent inside the guest OS does not respond.)

---------------
// Possible error message:
Failed to start virtual machine 'VMNAME'. Error: OS Provisioning for VM 'VMNAME' did not finish in the allotted time. However, the VM guest agent was detected ru

[2017-07-27 10:38] blueww commented on #3665
@ld0614  Thanks for you suggestion!
We will consider to Support File/Text/Byte Array/Stream in the Get-AzureStorageBlobContent.
But for Text / Byte Array, if we don't limit the blob size, there might be OOM issue happen. So we plan to add limitation for blob size (e.g. 100MB) if output is text/Byte Array.
For Stream, it will be a input of the cmdlet, or there will also be OOM issue.
@fmad, @jboesh

[2017-07-27 12:04] ptoluganti opened #4376 "Set-AzureRmVmDscExtension Issue"
### Cmdlet(s)
Set-AzureRmVmDscExtension

### PowerShell Version
Instructions: to get PowerShell version, type `$PSVersionTable` and look for the value associated with `PSVersion`

Powershell 5.0

### Module Version
Set-AzureRmVmDscExtension -Version 2.26

### OS Version
Instructions: to get OS version, type `$PSversionTable` and look for value associated with `BuildVersion`

### Description
1. i h

[2017-07-27 14:02] cdeli commented on #4369
All of my local modules.

Name | ProjectUri | RepositorySourceLocation | Version
-- | -- | -- | --
Azure | https://github.com/Azure/azure-powershell | https://www.powershellgallery.com/api/v2/ | 4.2.0
Azure.AnalysisServices | https://github.com/Azure/azure-powershell | https://www.powershellgallery.com/api/v2/ | 0.4.1
Azure.AnalysisServices | https://github.com/Azure/azure-powershell | https://www

[2017-07-27 17:07] sdwheeler commented on #4020
Changes merged - closing issue

[2017-07-27 17:07] #4020 closed

[2017-07-27 17:31] viananth commented on #4337
Use-AzureRmProfile is designed in such a way that if there is any version of the modules in a profile was installed, it should be loaded without blocking user. So we won't have a fix for this issue. Instead, we would prompt user if a newer version of the module in that profile is available if they'd like to install it in Install-AzureRmProfile. This is tracked in #4370

[2017-07-27 17:31] #4337 closed

[2017-07-27 20:55] viananth opened #4377 "Move AzureRm.Bootstrapper module into AzureRm.Profile"
Bootstrapper module cmdlets need to be a part of AzureRm.Profile module

[2017-07-27 21:03] viananth opened #4378 "Add-AzureRmEnvironment should set endpoints based on ARMEndpoint"
### Cmdlet(s)
Add-AzureRmEnvironment, Set-AzureRmEnvironment

### Description
Add-AzureRmEnvironment  should talk to ArmEndpoint metadata endpoint to retrieve required endpoints and set them in the environment. Similar to #4058

### Script/Steps for Reproduction
Add-AzureRmEnvironment -Name "MyAzure" -ArmEndpoint "EndpointValue"

[2017-07-28 01:52] turagittech commented on #2916
This is still happening, surprised it's not yet fixed
PS C:\Windows\system32> $PSVersionTable.PSVersion

Major  Minor  Build  Revision
-----  -----  -----  --------
5      1      14393  1480

[2017-07-28 06:47] dbuckle-ein commented on #1978
Where in the UI do I create a new VM from the image?

[2017-07-28 06:54] OzBob commented on #1978
@dbuckle-ein  I think you are wishing for too much :-) The UI does not support that. Only VM's based on Microsoft approved images in their gallery.  Maybe there is a 'personal VM image' gallery, but I haven't heard of one. All the cool kids are using Powershell.

[2017-07-28 10:56] dbuckle-ein commented on #1978
@OzBob fortunately my image was Debian8 from the gallery so after finally finding the image I managed to create a new VM from it.

[2017-07-28 11:51] CodedBeard opened #4383 "Add-AzureRmApplicationGatewayRedirectConfiguration results in 502 error and unusable portal"
### Cmdlet(s)
Add-AzureRmApplicationGatewayRedirectConfiguration
### PowerShell Version
Name                           Value
----                           -----
PSVersion                      5.1.15063.483
PSEdition                      Desktop
PSCompatibleVersions           {1.0, 2.0, 3.0, 4.0...}
BuildVersion                   10.0.15063.483
CLRVersion                     4.0.30319.42000
WSManS

[2017-07-28 13:41] towerbe opened #4384 "What happened to the Profile cmdlets?"
### Cmdlet(s)
Import-AzureRmContext, Select-AzureRmProfile

### PowerShell Version
Instructions: to get PowerShell version, type `$PSVersionTable` and look for the value associated with `PSVersion`

Major  Minor  Build  Revision
-----  -----  -----  --------
5      1      14409  1012

### Module Version

4.2.1

### OS Version
Instructions: to get OS version, type `$PSversionTable` and look for val

[2017-07-28 13:55] jboeshart commented on #3665
I agree that it should be text by default and have other options for other download formats. I think the 100MB limitation is acceptable as well to start. I would guess that if you've got a larger blob it's more efficient to download locally or leverage another mechanism to process the data. If there's a valid use case to make that number bigger down the line it could be addressed at that point via

[2017-07-28 16:23] cormacpayne commented on #4384
@towerbe Hey Brian, would you mind running `Get-Module -ListAvailable` so we can see the versions of all modules you have installed? I have the latest version of Azure PowerShell installed on my machine and am able to see `Import-AzureRmContext`. [This cmdlet is still a part of the AzureRM.Profile module](https://github.com/Azure/azure-powershell/blob/preview/src/ResourceManager/Profile/AzureRM.Pr

[2017-07-28 16:24] cormacpayne commented on #4383
@akshaysngupta Hey Akshay, would you mind taking a look at this issue?

[2017-07-28 16:36] towerbe commented on #4384
Cormac,

I think I may have a much larger issue since upgrading to 4.2.1.  I can't
even force the AzureRM.Profile module to load.  I've tried uninstalling
4.2.1 and installing an older version and things that worked before are now
failing (and modules not loading). I'm thinking I may need to completely
uninstall PowerShell, clean up a bunch of directories, and start all over.
I am going to try rei

[2017-07-28 16:46] towerbe commented on #4384
Cormac,

Here is the output from get-command -listavailable

PS C:\GIT> Get-Module -ListAvailable

    Directory: C:\Users\TowerBE\Documents\WindowsPowerShell\Modules

ModuleType Version    Name                                ExportedCommands

---------- -------    ----                                ----------------

Script     1.0        ARM                                 {Connect-ARM,
Execute-

[2017-07-28 18:07] cormacpayne commented on #4365
@guidooliveira can you run `Get-AzureRmRoleDefinition -Name 'Analysts'` to see if a role definition with that name already exists?

[2017-07-28 18:09] cormacpayne commented on #4366
@adwaitu Hey Adwait, this is an excellent suggestion and is one of the things that we are considering for cmdlet consistency this fall.

[2017-07-28 18:21] cormacpayne commented on #4374
Closing as a duplicate of https://github.com/Azure/azure-powershell/issues/1200

[2017-07-28 18:21] #4374 closed

[2017-07-28 18:25] cormacpayne commented on #4376
@singhkays Hey Kay, would you mind taking a look at this issue, or assigning it to the proper contact for extension cmdlets?

[2017-07-28 18:44] singhkays commented on #4376
Adding @narrieta

[2017-07-28 18:46] narrieta commented on #4376
@eshaparmar for follow up

[2017-07-28 20:30] SudhakaraReddyEvuri opened #4385 "Automapper errors with Azure Compute and Network modules"
We are hitting automapper errors while creating PublicIP and availability sets .  AzureRM.Network is version 4.2.1 and AzureRM.Compute is version 3.2.1

Missing type map configuration or unsupported mapping.

 Mapping types:
PublicIPAddress -> PSPublicIpAddress
Microsoft.Azure.Management.Network.Models.PublicIPAddress -> Microsoft.Azure.Commands.Network.Models.PSPublicIpAddress

 Destination path:

[2017-07-28 20:45] cormacpayne commented on #4385
@DeepakRajendranMsft Hey Deepak, would you mind taking a look at this issue? Sudhakar says that this issue is occurring during execution of `New-AzureRmPublicIpAddress`:

[code]

[2017-07-28 23:52] #4323 closed

[2017-07-29 00:37] markcowl commented on #4384
@towerbe Most likely this is a dll mismatch issue.  My suspicion is that the Azure.AnalysisServices module installed in your global modules directory (0.2.0) is the culprit.

Please remove this, and try again.  Also, running a resolve-error script like the folliwing will help in pinpointing the error if it occurs again (we ship a cmdlet that does this in the profile module, but that won't help you

[2017-07-29 04:53] adwaitu commented on #4366
@cormacpayne can't wait for it, traversing the link will be much simpler then! BTW, are you also planning to add a "Resource Type" or "Kind" to returned Resource ID for every Get-AzureRm* command? Or do I need to raise another issue?

[2017-07-29 10:28] ld0614 commented on #3665
I must admit that I'm not normally a fan of arbitrary limits to functionality.  My first thought is that does the ICloudBlob already implement similar functionality and if so what are the limits?

While I fully accept that cmdlets should be designed in a way that doesn't kill the environment by default I believe that the ability to modify the default behavior could come in very handy and shouldn't

[2017-07-29 11:45] tlisiecki commented on #3958
Hi, just to let you know - this issue is now solved.
[ #https://github.com/PowerShell/PowerShell/issues/4090#issuecomment-318788516](url)

New version of the module has been published
[https://www.powershellgallery.com/packages/AzureRM.Netcore](url)

[2017-07-29 16:24] jboeshart commented on #3665
After thinking on it a bit, I'm kinda with @ld0614 on this as well. Why the arbitrary 100MB limitation? `Get-Content` doesn't have this limitation, and the intent is to provide similar functionality. There's nothing to stop you from running `Get-Content` on a 1GB file, other than the local resources you have so I don't know why we'd need this for `Get-AzureStorageBlobContent`. I'm not even sure we

[2017-07-29 17:54] janegilring commented on #3746
Could you share the long term plan for the side by side strategy? For example, will the .Net Desktop based modules be deprecated when PS Core is released and the AzureRM.NetCore modules has feature parity with the AzureRM modules?

[2017-07-29 18:01] janegilring opened #4386 "AzureRM.Profile.Netcore\Add-AzureRmAccount does not work with PSCredential objects"
### Cmdlet(s)
Add-AzureRmAccount

### PowerShell Version
Name                           Value
----                           -----
PSVersion                      6.0.0-beta
PSEdition                      Core
GitCommitId                    v6.0.0-beta.4
OS                             Microsoft Windows 10.0.15063
Platform                       Win32NT
PSCompatibleVersions           {1.0, 2.0, 3.0,

[2017-07-29 21:46] guidooliveira commented on #4365
It Doesn't, already triple checked it

[2017-07-30 01:42] towerbe commented on #4384
Mark,

I've uninstalled the module you specified.  No change.

Here is the output of the resolve-error function.  If you can help me
understand the output and what to do, I would greatly appreciate the
assistance.

PSMessageDetails      :
Exception             :
System.Management.Automation.CommandNotFoundException: The
'Import-AzureRmContext' command was found in the module 'AzureRM.Profile',
but

[2017-07-30 23:57] kmongwa commented on #4365
@guidooliveira - Ran into the same problem.  Did some reading and found out that Roles are stored in AAD.  I suspect someone else using the same AAD has already used the 'Analysts' role name.   Try a different role name that is unique.  Unfortunately, I still haven't found the proper command to list all custom roles created in AAD.

[2017-07-31 01:42] markcowl commented on #4384
@towerbe So the key exception is, of course: System.BadImageFormatException: Could not
load file or assembly 'System.Net.Http, Version=4.0.0.0, Culture=neutral,
PublicKeyToken=b03f5f7f11d50a3a'
                              or one of its dependencies. Reference
assemblies should not be loaded for execution.  They can only be loaded in
the Reflection-only loader context.

This seems to indicate tha

[2017-07-31 02:13] towerbe commented on #4384
Mark,

Thanks so much for your assistance and willingness to stick with me on this.

Yes, this happens on both 32 bit and 64 bit versions.

I previously was running version 1.2.something of Azure Powershell.  I will
have to uninstall the current version, install the older version and try
again.  Won't be able to get that done until tomorrow.

I have disabled all modules I was loading in my profile

[2017-07-31 02:29] towerbe commented on #4384
Mark,

Apparently it was the .NET 4.7 that was required.  Everything works now.

Where should I have looked to determine this was a requirement?

Thanks again,

Brian

On Sun, Jul 30, 2017 at 9:12 PM, Brian Tower <towerbe@gmail.com> wrote:

--
bt

[2017-07-31 10:10] raandree commented on #1803
Just ran into this as well. Are there still plans to remove this restriction?

[2017-07-31 17:29] guidooliveira commented on #4365
@kmongwa I do Have a Group with the same name, but the Object IDs are Different, other than that, the subscriptions are within the same Tenant, does it not provision in the subscription but in the tenant?

[2017-07-31 18:44] markcowl commented on #4179
Opting in means the following:
- Check for the presence of the environment variable, and if it exists, opt out of data collection
- Create a new data profile file that serializes the option, with default set to true (opt in)
- Remove the old file
- If we did not find the data profile file or the environment variable print the message above

[2017-07-31 20:03] bganapa opened #4388 "Azurestack - AzureStackAdmin module fails with Null reference when user has not done Login-AzureRmEnvironment"
### Cmdlet(s)
cmdlets in AzureRM.AzureStackAdmin module

### Module Version
1.2.10 AzureRM Version, 0.10.9 version of AzureRm.AzureStackAdmin

### Description
Object reference exception when the user is not logged in with Login-AzureRmEnvironment

### Script/Steps for Reproduction
  Call Get-AzsLocation commandlet will fail if not logged in with an object reference not set to instance of an object

[2017-08-01 02:26] andrew-buckley opened #4392 "Solution/Projects will not load in Visual Studio after clean build of project."
### Cmdlet(s)
N/A

### PowerShell Version
5.1.14393.1532

### Module Version
N/A

### OS Version
10.0.14393.1532

### Description
After following all of the environment/build steps [here](https://github.com/Azure/azure-powershell/wiki/Azure-Powershell-Developer-Guide) I still cannot open the sln in Visual Studio 2015 Update 3 to develop/debug.

When trying to individually load a project after none

[2017-08-01 08:24] huajunzhao commented on #2283
@ravbhatnagar ,

Executing the New-AzureRmResourceGroupDeployment and failed with the below errors.

Encountered internal server error. Diagnostic information: timestamp '20170731T215157Z', subscription id '5546fd2b-9361-4243-815b-95911090c181', tracking id '1e517b8a-427b-431e-b449-602453472788', request correlation id '1e517b8a-427b-431e-b449-602453472788'.
Can you please check what exactly faile

[2017-08-01 10:17] blueww commented on #3665
For the size limitation, since this is a general tool for both big and small blobs, and the System might get OOM if no size limitation, I will consult more PowerShell Expert to make the decision.
Besides that,The default output of the get-AzurestorageBlobContent will be a file to avoid breaking, but user can set it as text, string or stream (stream should be provided by user) .

[2017-08-01 15:20] kmongwa commented on #4365
It provisions in the tenant, not the subscription.  If you want to reuse the same rule in multiple subscriptions, edit the "AssignableScopes" property to add the additional subscriptions.

[2017-08-01 16:27] zimmertr commented on #3958
@tlisiecki both of those links 404

[2017-08-01 16:48] tlisiecki commented on #3958
Yeah, sorry for that. Fixed now.

[2017-08-01 17:51] guidooliveira commented on #4365
@kmongwa I did that but when updating i get forbidden for every subscription.

[2017-08-01 18:20] dragav opened #4393 "KeyVault: handling of Certificate types is inconsistent with that of other KV entities"
### Cmdlet(s)
*-AzureKeyVaultCertificate*

### PowerShell Version
all
### Module Version

### OS Version
any

### Description
The type handling of certificates in the KV PSh client is inconsistent with the other entity types, as well as inconsistent within itself. For keys and secrets, the wrapper of the data plane client consumes KV models
and returns PSH models - i.e. type translation occurs in

[2017-08-01 20:51] haitch commented on #4163
fixed and wait for next release.

[2017-08-01 20:51] #4163 closed

[2017-08-01 20:51] haitch commented on #4256
fixed and wait for next release.

[2017-08-01 20:51] #4256 closed

[2017-08-02 08:41] ravbhatnagar commented on #2283
@huajunzhao - we are investigating this issue and will get back to you.

[2017-08-02 12:20] donlockhart commented on #3215
I am also trying to have a SPN create other SPN's.  Is this scenario supported?

[2017-08-02 12:51] KarlGW commented on #4385
This also happens when using `Get-AzureVm`.

`Get-AzureVM : Missing type map configuration or unsupported mapping.`
`GuestAgentStatus -> GuestAgentStatus`
`Microsoft.WindowsAzure.Management.Compute.Models.GuestAgentStatus -> Microsoft.WindowsAzure.Commands.ServiceManagement.Model.GuestAgentStatus`

[2017-08-02 13:10] BeardInASuit commented on #3073
Same thing here, in the latest Powershell version.

[2017-08-02 15:11] kmongwa commented on #4365
Try setting your Azure context to the subscription with which you originally created the role.  Make sure Get-AzureRmRoleDefinition -Name 'Analysts'  returns the role object, before attempting to modify it.

[2017-08-02 15:16] Aorimn commented on #3506
Still the same problem, also for CI purposes. Any update?

[2017-08-02 15:41] sdwheeler commented on #4025
PR#4027 has been merged. Closing issue.

[2017-08-02 15:41] #4025 closed

[2017-08-02 16:13] zimmertr commented on #3958
It really does work! Yay! One step closer to never having to use Windows again!

[2017-08-02 19:50] towerbe commented on #4384
Just thought I'd let you know that I determined that the real problem was
coming from another application.  AzureRM.Profile module was just the
victim of changes being made by this third party app.  I've uninstalled the
application and let the publisher know that his app is damaging .NET
framework files.

On Sun, Jul 30, 2017 at 9:28 PM, Brian Tower <towerbe@gmail.com> wrote:

--
bt

[2017-08-02 20:50] danybenjamin opened #4403 "Need support of AzureRM.KeyVault module for powershell core"
### Cmdlet(s)
Get-AzureKeyVaultSecret

### PowerShell Version
Powershell Core

### OS Version
Mac OS

### Description
It's a very tedious process to find all keys in key vault via azure portal.
Working on a mac, the option of using `Get-AzureKeyVaultSecret` cmdlet is not possible right now.

[2017-08-03 08:40] ravbhatnagar commented on #2283
@huajunzhao  - Will it be possible for you to share the template where you are running into this issue? It will help us identify the issue.

[2017-08-03 13:59] 488513 commented on #1978
The solution to generalized images is to download the VHD file to a local computer where HyperV is installed. Spin up the VM where you have console access, and "reconstitute" the VM by running through the sysprep provisioning process. Then move the VHD back to Azure and it will work. I have shuttled images back and forth to Azure for various reasons.

[2017-08-03 15:04] joelanders opened #4407 "Could not load type 'System.Management.Automation.PSSnapIn' during Import-Module"
### Cmdlet(s)
`Import-Module Azure`

### PowerShell Version
[code]

### Module Version
[code]

### OS Version
I don't see `BuildVersion`, but `$PSVersionTable` is above. I'm running Ubuntu 16.06 in a docker container on Debian 9.

### Description
Trying to install `Azure` and `AzureRM` on Ubuntu 16.04 and having a rough time. Found a couple of case-sensitivity-related things before getting to this

[2017-08-03 16:32] cormacpayne commented on #4403
@danybenjamin thanks for the interest! Although we do not have a set timeline, we are interested in adding a few more modules currently available in AzureRM to the AzureRM.Netcore package, including KeyVault. We will re-open this issue, or point it at a new issue that we create, when we have more information about when this work will be done. Please let us know if you have any questions!

[2017-08-03 16:32] #4403 closed

[2017-08-03 18:23] cormacpayne commented on #4392
Resolved the issue offline with @andrew-buckley

Users are unable to open the .NET Core projects using VS 2015 Update 3; they must use VS 2017.

[2017-08-03 18:23] #4392 closed

[2017-08-03 19:44] funkycoding commented on #3839
I'm experiencing the same issue as @xucong5151600

[2017-08-03 20:40] markcowl commented on #4384
Thanks, Brian, closing this as resolved for now.  Please open a new issue if you see a recurrence

[2017-08-03 20:40] #4384 closed

[2017-08-03 20:49] markcowl commented on #4407
```Azure``` is the old module for RDFE cmdlets, it is not supported on net core.  For the netcore modules, please use this: https://www.powershellgallery.com/packages/AzureRM.Netcore/0.9.1

[2017-08-03 20:49] #4407 closed

[2017-08-03 20:51] markcowl commented on #4386
@janegilring What kind of credential are you using?  You cannot use a PSCredential for live id login, it must be a work school account that does not require MFA.

If you think this is the case, please execute the cmdlet with ```$DebugPreference="Continue"```  and let us know the result.

[2017-08-03 21:27] anthonyonazure commented on #4143
I just had the same issue, different error but removing `RecoveryAzureStorageAccountId` from the list of parameters and the command runs fine.

I am using AzureRM.SiteRecovery v 4.2.1 side-by-side with 2.1.0.

`$SiteRecoveryPolicy =  New-AzureRmSiteRecoveryPolicy -Name $PolicyName -ReplicationFrequencyInSeconds $ReplicationFreq -RecoveryPoints $RecoveryPoints -ReplicationProvider HyperVReplicaAzur

[2017-08-04 15:33] arcotek-ltd opened #4409 "Find-AzureRmResource only returns 16 objects."
### Cmdlet(s)
Find-AzureRMResource
### PowerShell Version
Instructions: to get PowerShell version, type `$PSVersionTable` and look for the value associated with

    PS C:\> $PSVersionTable.PSVersion

    Major  Minor  Build  Revision
    -----  -----  -----  --------
    5      1      14409  1005

### Module Version

    PS C:\> get-command Find-AzureRmResource

    CommandType     Name

[2017-08-04 15:40] #4409 closed

[2017-08-04 15:41] arcotek-ltd commented on #4409
It's -ResourceNAMEcontains, not what I was trying to do which was to use it to list _all_ resources in a resource group. Which would be helpful if there was a command to do!!!

[2017-08-04 16:40] cormacpayne opened #4410 "Add tests for paging functionality in DSC cmdlets"
Need to add tests for paging functionality in DSC cmdlets added in PR https://github.com/Azure/azure-powershell/pull/4338

[2017-08-04 16:54] markcowl opened #4411 "Update Authorization tests to not load the resourcemanger module"
### Description

PowerShell scripts used in authorization tests contain the line

```Import-Module .\\Microsoft.Azure.Commands.Resources/dll```

This has several issues - it will make the tests fail randomly when run in parallel as the current directory can change.  Also, it should not be necessary, as module loading occurs in the test controller.

These lines should be removed form the scripts fo

[2017-08-04 17:32] craiglandis opened #4412 "Set-AzureRmVMOSDisk: CreateOption should not be a manadatory parameter"
### Cmdlet(s)

Set-AzureRmVMOSDisk

### PowerShell Version
Instructions: to get PowerShell version, type `$PSVersionTable` and look for the value associated with `PSVersion`

N/A

### Module Version

3.2.1

### OS Version
Instructions: to get OS version, type `$PSversionTable` and look for value associated with `BuildVersion`

N/A

### Description

-CreateOption should not be a mandatory parameter

[2017-08-04 17:44] jamieo-ms opened #4413 "No Provider for Microsoft.DataFactory/datafactories/pipelines"
### Cmdlet(s): Get-AzureRmResource

### PowerShell Version: 5.1.15063.483

### Module Version
Manifest   3.0.0      AzureRM.DataFactories               {Get-AzureRmDataFactory, Get-AzureRmDataFactoryActivityWindow, Get-AzureRmDataFactoryDataset, Ge...
Manifest   3.0.0      AzureRM.HDInsight                   {Add-AzureRmHDInsightClusterIdentity, Add-AzureRmHDInsightComponentVersion, Add-AzureRmHDI

[2017-08-04 18:09] markcowl commented on #4413
@jackmagic313 Can you answer about which resource provider cover DataFactories iN ARM?

[2017-08-04 18:11] markcowl commented on #4412
@singhkays This argues for having an update versus create parameter set, or splitting this into multiple cmdlets.  Can you take a look?

[2017-08-04 18:14] markcowl commented on #4369
@cdeli it seems like you are trying to use an ARM cmdlet before logging in.  If you want to log in with a service principal, you will need to know the service principal name and credentials before logging in, you will not be able to use ARM cmdlets to retrieve them unless you provide ARM with alternate credentials to use.

[2017-08-04 18:23] markcowl commented on #4010
@safeermohammed @eamonoreilly why would module loading would take so long in a runbook?

[2017-08-04 18:26] markcowl commented on #4007
@blueww These permissions are just about KeyVault data plane, not about management plane cmdlets.  In order for an SPN to have access to the KeyVault resource, it must be given role access through RBAC to the KeyVault.

Can you leas eprovide the full script of what exacly is working and what exactly isn't working?  Right now I cannpot tell if this is an expected failure, or if this is a bug.

[2017-08-06 16:41] MatthewJDavis commented on #2180
Still seeing this on version 3.2.1, parameters are visible in the portal but not returned by running:
Get-AzureRmAutomationScheduledRunbook

[2017-08-07 06:47] cadumi opened #4418 "Storage context | Missing type map configuration or unsupported mapping"
### Cmdlet(s)
Get-AzureStorageAccount ; Get-AzureStorageAccountKey
### PowerShell Version
Instructions: to get PowerShell version, type `$PSVersionTable` and look for the value associated with `PSVersion`
https://github.com/Azure/azure-powershell/releases/tag/v4.2.1-July2017
Name                           Value
----                           -----
PSVersion                      5.1.15063.483
PSEdi

[2017-08-07 09:16] nicolaigj commented on #3354
Hi! Seems like I have the same issues as @FranckSix. The result is that I can not use either runbooks or powershell to schedule runbook jobs. Is there any progress on this matter?

I get the same results, both when I run it as a runbook in Azure Automation and when I run it directly in powershell on my computer.

[code]

When I call Get-AzureRmAutomationScheduledRunbook afterwards, there's nothing

[2017-08-07 12:55] iaingblack opened #4419 "New-AzureRMDisk cmdlet says it is missing a Location on any invocation after Add-AzureRMVMDataDisk is run"
### Cmdlet(s)
New-AzureRmDiskConfig and New-AzureRmDisk

### PowerShell Version
5.0.10586.117

### Module Version
4.2.1

### OS Version
10.0.10586.117

### Description
Adding a disk to a VM works first time, but subsequent calls fail.

### Debug Output
Nothing extra interesting happens, simply gets a login token

### Script/Steps for Reproduction
Run these commands (assuming existing VM and storag

[2017-08-07 19:09] cdeli commented on #4369
I am literally following what is in this article

https://docs.microsoft.com/en-us/azure/automation/automation-dsc-compile#credential-assets

Using my AzureRMRunAsAccounts.

[2017-08-07 20:13] cdeli commented on #4369
here is my code. I am unsure what I am even doing wrong at this point. I am being told to run Login-AzureRMAccount but I never should have to.

[code]

[2017-08-07 20:35] nahalf opened #4420 "Remove-AzureRmRoleAssignment results in Invalid API error in Azure Automation"
### Cmdlet(s)
Remove-AzureRmRoleAssignment

### PowerShell Version
Instructions: to get PowerShell version, type `$PSVersionTable` and look for the value associated with `PSVersion`

### Module Version
4.2.1

### OS Version
Instructions: to get OS version, type `$PSversionTable` and look for value associated with `BuildVersion`
10.0.15063.502

### Description
I am able to successfully use Remove-A

[2017-08-07 21:14] markcowl opened #4422 "Automation: Add runOn tests to unit tests"
### Description

Unit tests do not chekc that run-on values are passed correctly to the client.  Add additional test support for runOn values.

[2017-08-07 22:31] cormacpayne commented on #4294
Compute (and possibly Network) are affected by the changes made in [this commit](https://github.com/Azure/azure-powershell/commit/75b53e9029a3a5a4e393f7a8702bae853e353501#diff-79da8537af8937bd04e6b179f14c783fL50). The `ComputeAutoMapperProfile` is no longer using a singleton for the mapper, resulting in the mapper being initialized every time a cmdlet is executed. This has resulted in certain test

[2017-08-07 22:49] cormacpayne commented on #4238
Closing this issue as it seems to have been resolved. @laxmand17 we ship a new version of Azure PowerShell every month, so you can run the following commands to get the latest bits:

[code]

Please let us know if you have any questions!

[2017-08-07 22:49] #4238 closed

[2017-08-07 23:34] cormacpayne commented on #2740
This should be resolved after the switch to markdown help. Closing.

[2017-08-07 23:34] #2740 closed

[2017-08-08 01:51] danstis commented on #1665
Is there any news on this issue?
I have been experiencing this for the last few months, it is very annoying.
I'm using the AzureRM module version 4.1.0

[2017-08-08 02:33] gregjhogan opened #4423 "Get-AzureRmResource needs -SubscriptionLevel switch"
I want to query a subscription level resource.  I can do it with -ResourceId, but since you have a -TenantLevel switch it seems logical to add a -SubscriptionLevel switch.

[code]

Thanks!

[2017-08-08 06:30] blueww commented on #4007
@markcowl

The RoleDefination for the service principle is Owner

[code]

Following is the script that can repro the failure:
[code]

[2017-08-08 08:48] lfshr commented on #4369
Hi @cdeli, does it work if you parameterize the cred parameter?

[code]

[2017-08-08 12:25] mariaesteban opened #4424 "Azure Powershell 4.2.1 - New-AzureRmDisk : 'Location' cannot be null"
**Cmdlet(s)**
New-AzureRMDisk

**PowerShell Version**
5.1.15063.483

**Module Version**
AzureRM.Compute 3.2.1
AzureRM 4.2.1

**OS Version**
Windows 10

**Description**
New-AzureRmDisk : 'Location' cannot be null. error when creating managed disk that has been previously removed

**Debug Output**
$diskConfig = New-AzureRmDiskConfig -AccountType $storageType -Location $AzureLocation -CreateOption Em

[2017-08-08 15:45] sdwheeler commented on #4286
Change merged in https://github.com/Azure/azure-powershell/pull/4394.

[2017-08-08 15:45] #4286 closed

[2017-08-08 15:56] davidhilldallas commented on #1978
I have the issue where I would like to change the number of cores on a vm that has been generalized. Is that possible? I need to decrease to free them up to use with other VMs. my stupid subscripion only allows for 10 cpus..

[2017-08-08 17:16] markcowl commented on #3437
Fixed

[2017-08-08 17:16] #3437 closed

[2017-08-08 17:45] markcowl commented on #3958
Closing as resolved.

[2017-08-08 17:45] #3958 closed

[2017-08-08 17:46] markcowl commented on #4281
Closing for lack of response.  If you see a recurrence of this problem, please file an issue and include the error and debugging information requested.

[2017-08-08 17:46] #4281 closed

[2017-08-08 17:48] markcowl commented on #4249
@mgaufman are you still seeing this issue?  A redeacted debug and error output would really help to diagnose.

[2017-08-08 17:50] #3976 closed

[2017-08-08 17:51] markcowl commented on #4179
Fixed.

[2017-08-08 17:51] #4179 closed

[2017-08-08 17:54] markcowl commented on #3924
This is a duplicate of an existing issue the fix is being tracked here: #1835

[2017-08-08 17:54] #3924 closed

[2017-08-08 17:54] mgaufman commented on #4249
I haven't tried it recently, were there any fixes to this issue?
I have already provided debug and error output, and the issue can be easily reproduced. Do you need any help with this?

[2017-08-08 17:55] markcowl commented on #3979
This should be fixed in the release going out 8/9

[2017-08-08 17:55] #3979 closed

[2017-08-08 17:56] markcowl commented on #4124
@akromm Please file this issue in the PlatyPS repo https://github.com/PowerSHell/platyPS

[2017-08-08 17:56] #4124 closed

[2017-08-08 17:57] markcowl commented on #4330
Fixed in August release (releasing 8/9)

[2017-08-08 17:57] #4330 closed

[2017-08-08 17:59] markcowl commented on #4354
@sansoft59  It sounds ;like you have group policies configured on the machine that prevent loading PowerShell modules.  This is an issue you will needd to resolve with your OS configuration

[2017-08-08 17:59] #4354 closed

[2017-08-08 18:13] darshanhs90 commented on #4420
@nahalf could you run the command with $DebugPreference="Continue" and provide the debug output.
It helps in figuring out the issue causing this error .

[2017-08-08 18:14] markcowl commented on #3436
Fixed

[2017-08-08 18:14] #3436 closed

[2017-08-08 18:16] markcowl commented on #3287
Note that making this available in the error record is the powershell standard. We have given users easier access to this (and other) important exception information in the ```Resolve-AzureRm,Error``` cmdlet

[2017-08-08 18:16] #3287 closed

[2017-08-08 18:18] markcowl commented on #4386
Looks liek this is an issue with the credential type (live id).  If you see this issue using an OrgId credential, please open a new issue, and include the debugging output of login using ```$DebugPreference="Continue"```

[2017-08-08 18:18] #4386 closed

[2017-08-08 18:20] markcowl commented on #4369
This is intended to be used in a runbook with AzureAutomation, where login has already occurred.  A login is required to use AzureRm cmdlets.

[2017-08-08 18:20] #4369 closed

[2017-08-08 18:22] cormacpayne commented on #4328
Fixed in the August release (scheduled to go out August 9th)

[2017-08-08 18:22] #4328 closed

[2017-08-08 18:28] markcowl commented on #4319
@TimCurwick  @GamerLivingWill @swngdnz   In each of these cases, an enumeration is being written to the pipeline using ```WriteObect(<collection>, enumerateCollection:true)``` .  This seems to be the correct usage to allow standard pipeline access.  Will follow up with core team.

[2017-08-08 18:48] nahalf commented on #4420
$DebugPreference was already set to Continue when I provided the previous output.

[2017-08-08 19:04] markcowl commented on #4235
@juancrl Have you loaded a different version of profile in ISE - all shells in ISE are in the same PowerShell session, so multiple versions of binary cmdlets cannot be loaded.

Meanwhile, in this case, having a better error message that points twoard how to solve the issue would be beneficial.  Assigning to the Autmation team for triage

[2017-08-08 19:05] darshanhs90 commented on #4420
@nahalf $DebugPreference="Continue"
the quotes matter  in the above statement.
After setting it,you should get something like[for example]

DEBUG: 11:36:23 AM - GetAzureRoleDefinitionCommand begin processing with ParameterSet 'RoleDefinitionNameParameterSet'.

[2017-08-08 19:05] markcowl commented on #4235
@darshanhs90 The ask here is to detect the insufficient privileges error that comes from graph API calls and suggest how the user can fix this issue in the error we throw.

[2017-08-08 19:09] markcowl commented on #4015
This should really be resolved using an InputObject parameter set.  However, there is no additional information provided from Get-AzureRmSubscription that is't available from simply displaying the returned subscription to the screen.  Closign as won't fix.

[2017-08-08 19:09] #4015 closed

[2017-08-08 19:12] markcowl commented on #4007
@blueww So then this is occurring because the ServicePrincipal does not have access to the objects in the AD graph tenant (the service principal must be assigned sufficient permissions in AD Graph to get and list graph objects for validation to work).  It would be nice to have a better error message in thei case.  Assignign to KeyVaiult team for improved errors

[2017-08-08 19:15] markcowl commented on #4007
@pomortaz @dragav Can we look at a better error message when object id validation fails - this will often happen in scenarios like this and it is unclear to the user how to correct the issue (providing sufficient graph permissions to the principal)

[2017-08-08 19:15] juancrl commented on #4235
Fixed the loading (probably something corrupt in my environment), now Resolve-AzureRMError is available.

However, it just displays the exception data, which already was available in try/catch.

Launching the previous cmdlet with -DEBUG does provide the needed troubleshooting info, but it must be explicitly redirected away from screen (too verbose). It would be nice if Resolve-AzureRMError could p

[2017-08-08 19:21] markcowl commented on #3963
@twitchax Is this about creating an auth file [including creating the service principal, adding role authorization to the service principal, and then creatign the file], accepting auth files for PowerShell authentication, or both?

[2017-08-08 19:23] markcowl commented on #3937
@singhkays this looks like a caching issue in extension cmdlets for VMS.  Can you take a look and assign appropriately?

[2017-08-08 19:30] markcowl commented on #3698
@nwarriorch Closing as expected behavior, then, this is about the behavior of your eSTS and not the cmdlet itself.

[2017-08-08 19:30] #3698 closed

[2017-08-08 19:31] mbenko commented on #4419
I am seeing the same.

[2017-08-08 19:32] markcowl commented on #3649
@letmaik @begoldsm Note that the ```Resolve-AzureRmError``` cmdlet is a patch over this problem while we look at resolving is systematically in the cmdlets

[2017-08-08 19:34] markcowl commented on #1555
The context persistence updates are a perfect time to update this documentation, for Ignite

[2017-08-08 19:42] markcowl commented on #4249
@mgaufman We need debug output that we could actually pass on to the team that would work on a fix.  If you cna get this, that would be helpful, if not, we can ask them to repro - the case is stronger if we have debug output to share.

[2017-08-08 19:47] markcowl commented on #4303
closing as duplicate of #3972

[2017-08-08 19:47] #4303 closed

[2017-08-08 19:56] markcowl opened #4427 "[PLACEHOLDER] Prepare Private for Ignite Release"
### Description

- [ ] Create branch in private repo and move Preview code there, in anticipation of release

### Cost: 4

[2017-08-08 19:58] mgaufman commented on #4249
@markcowl, Please find attached.
[New-AzureRmADAppCredential.Transcript.txt](https://github.com/Azure/azure-powershell/files/1209377/New-AzureRmADAppCredential.Transcript.txt)

[2017-08-08 20:18] mbenko commented on #4424
I am seeing something similar. Calling New-AzureRmDisk with a given -Disk diskconfig works the first time, but after calling Add-AzureRmVMDataDisk subsequent calls to New-AzureRmDisk fail with the message that -Location cannot be null.

   New-AzureRmDisk : 'Location' cannot be null.

[2017-08-08 20:31] cormacpayne opened #4428 "DataLake: Add test(s) for KeyVault regression"
### Description

Add test(s) to cover the scenarios mentioned in issue https://github.com/Azure/azure-powershell/issues/4323 and fixed in PR https://github.com/Azure/azure-powershell/pull/4371

[2017-08-08 20:53] singhkays commented on #3937
@eshaparmar from the DSC team to take a look

[2017-08-08 21:22] cdeli commented on #4369
Wait why on earth is this closed? My question still is not even answered. I am unable to pass the credentials through to DSC with the guide on the docs page. I would like some guidance to if I am doing this wrong or what. I am using Azure Automation DSC so I wouldn't expect the need to pull a credential in from the secure credential store would require logging in, which I cannot do unless I have a

[2017-08-08 21:44] lfshr commented on #4369
@markcowl runbooks do not automatically log you in, you still have to perform an 'Add-AzureRmAccount' with either a credential or a service principle with a connection. The sandbox allows you to use Get-Automation* cmdlets without authentication (as opposed to Get-AzureRmAutomation* cmdlets)

@cdeli try using `$Cred = Get-AutomationPSCredential -Name "PowerShellStore"` instead. [See Here](https://

[2017-08-08 21:48] lfshr commented on #4369
Also, I don't recommend using the 'PSDscAllowPlainTextPassword' option. Azure Automation (as far as I'm aware) should handle the encryption certificates for MOF passwords, so there should be no need to include this in your DSC script, just remove it and it should work (with encryption).

Liam

[2017-08-08 21:51] lfshr commented on #4369
Also, I just noticed you listed your local modules. Just for the sake of clarity, are you compiling this on Azure Automation? This approach will not work if you're running them locally (unless you're using the automation dev toolkit with the `Get-AutomationPsCredential` cmdlet).

[2017-08-08 22:23] cdeli commented on #4369
No I am doing all of the compiling with Azure. Was unsure which modules were needed so I did both just for sanity sake.

I will try your suggestions tonight while I do some additional work. Thank you for the input @lfshr, I will report back after to verify. I did not see the link you posted before when I was researching this so that is a big help for me.

[2017-08-08 22:40] cdeli commented on #4369
Still wants me to login. All I am trying to do is let my VM access an Azure Mapped Drive. At this point I am considering have Jenkins send the file down locally to the server.

[2017-08-09 02:38] markcowl opened #4431 "Move Add-Environment -ArmEndpoint functionality into preview branch"
### Description

Determining the environment endpoints using the ARM metadata endpoint is critical functionality for AzureStack.  Move this functionality into the preview branch from the stack-dev branch, with the following additions.
- [x] Simply use built-in environments if the ARM endpoint matches the ARM endpoint for a built-in environment
- [x] Add optional parametesr for -storagesuffix and -

[2017-08-09 02:46] markcowl opened #4432 "Add end-to-end tests with AzureStack authentication"
### Description

Since the common runtime will be used with AzureStack and Azure, and the dependency will be an open version dependency rather than a specific version dependency, we need to protect AzureStack whenever (non-breaking) common runtime changes are made by runnign end-to-end live tests including authentication.  These test shoudl include:

- [ ] Test using ADFS authentication aganst an

[2017-08-09 02:47] markcowl opened #4433 "[PLACEHOLDER]: Create AzureStack Version for Testing"
### Description

This is a placeholder for creating the first release candidate AzureStack version for testing this should be targeted for 9/18

### Cost: 0

[2017-08-09 02:49] blueww commented on #4007
One thing interesting is which kind of permission does the service principle need to have the object id validation success. Do you have any idea?

BTW, when I debug the code, I see this.ServicePrincipalName input in following API is null. I am not sure is it a bug that the input ServicePrincipalName is not correctly transferred to the API.

`objId = GetObjectId(this.ObjectId, this.UserPrincipalNam

[2017-08-09 02:55] markcowl opened #4434 "[SideBySide]: Create side-by-side VS build for Stack modules"
### Description

- [x] {Bala} Create side-by-side build in VS for AzureStack (separate SLN + seperate output path + projects)
  - [x] Update build path for stack modules to ```src\Stack\{Config}```
  - [x] Copy Profile module into Stack\Config when building Stack profile or all

### Cost: 8

[2017-08-09 02:57] markcowl opened #4435 "[SideBySide]: Move Stack tests into preview branch"
### Description

- [ ] Move over tests and have them build into ```src\Stack\<Config>```
  - [ ] Update test map to include stack packages

### Cost: 10

[2017-08-09 03:01] markcowl opened #4436 "[SideBySide]: Create side-by-side MSI build for AzureStack"
### Description
 - [x] Create Side-by-Side VS msi build for stack
   - [x] Include new StackSetup folder for MSI artifacts
   - [x] Update wxi generator to include extra parameter (BuildProfile as above) to generate Stack MSI from ```src\Stack\<config>```

### Cost: 4

[2017-08-09 03:06] markcowl opened #4437 "[SideBySide]: Create side-by-side module packaging tools for AzureStack"
### Description

- [x] {SDK}Update packaging tools for side-by-side build (from ```src\Stack\<config>```
  - [x] Include new parameter for building Azure, Stack, or all
  - [x] Create minimal signing job in Jenkins for Stack

### Cost: 6

[2017-08-09 03:07] markcowl opened #4438 "[SideBySide]: Update build.proj targets for Stack build"
### Description

- [x] Update build.proj targets to allow building both (by default), Stack, or latest [4]
  - [x] Update package targets to run latest (default), stack, or both
  - [x] Update msi targets to build latest (default), stack, or both

(Tests will be taken care of by SmartTester)

### Cost: 4

[2017-08-09 03:11] markcowl opened #4439 "Update Jenkins job to build on-schedule, share build artifacts"
### Description

- [x] Verify Jenkins CI job runs tests appropriately
- [x] ~~Update On-dmenad build to build and run all tests~~
- [x] Set up weekly schedule for runs
- [x] ~~(if time) Update Jenkins CI sign job to build latest (default), stack, or all~~

### Cost: 2

[2017-08-09 03:48] markcowl opened #4440 "Include additional information in SmartTester Maps and Items"
### Description

Based on changes, SmartTester could decide not only which tests to run, but which solutions to build and which scripts to run.
- [ ] Include and additional proeprties, includign type for each entry
  - { ] For tests, Pester, XUnit, MSTest are additioinal types
- [ ] Update MSBuild task to use Mapa and present complex list of items
- [ ] Use MSBuild item filtering to get lists of d

[2017-08-09 03:51] markcowl opened #4441 "[Placeholder]: Script Preview Module Example"
### Description

This includes moduel structure, testing, build tools, , and process documentation for building script preview modules.  Use the WebApps and Compute modules as an example

### Cost: 20

[2017-08-09 03:52] markcowl opened #4442 "[Placeholder]: Binary Preview Modules Example"
### Description

Create structure, process, documentation, for creating and releasing binary preview modules

### Cost: 20

[2017-08-09 03:59] markcowl opened #4443 "[Placeholder]: Refactor Telemetry into Helper Abstraction"
### Description

- [ ] Create abstraction for TelemetryHelper and TelemetryHelperFactory
- [ ] Have clients use TelemetryHelperFactory from session registry to get a telemetry client
- [ ] Place telemetry implementation into profile abstractions

### Cost: 8

[2017-08-09 04:07] markcowl opened #4444 "AsJob Implementation for long-running operations"
### Description

Create example AsJob implementation for long-runnign operations, using a custom implementation of Job class.  This implementation should lazily find the status whenever it is polled by the user, and be able to return the cmdlet output
  - [ ] Prototype for VM Start/Stop/Run operations
 - [ ] Create common code abstraction fro custom job for use by other RPs
 - [ ] Document the pat

[2017-08-09 06:11] lfshr commented on #1803
Why is this designed this way? I do not recall any documentation stating that this was best practice, nor do I believe it is best practise as Azure really doesn't care about the file names after import.

[2017-08-09 06:21] lfshr commented on #4369
Hi @cdeli I managed to get it working with the following code:
[code]
Uploaded and compiled manually in the portal. Can you try something similar?

[2017-08-09 15:35] ironicLemon opened #4445 "Get-AzureRmSchedulerJobCollection: Object reference not set to an instance of an object"
### Cmdlet(s)
Get-AzureRmSchedulerJobCollection

### PowerShell Version
Instructions: to get PowerShell version, type `$PSVersionTable` and look for the value associated with `PSVersion`
5.1.15063.483

### Module Version
CommandType     Name                                               Version    Source
-----------     ----                                               -------    ------
Cmdlet

[2017-08-09 15:49] cdeli commented on #4369
Tested with the same code you have here and it worked perfectly fine.

Added the whole part for Add-AzureRMAccount (including variable of $ServicePrincipalCOnnection) and it compiled properly.

Added the variable `$Cred = Get-AzureRmAutomationCredential -ResourceGroupName "Azure-Automation" -AutomationAccountName "DSC-Automation" -Name "PowerShellStore"` and it compiled properly.

Seems I am now f

[2017-08-09 15:59] lfshr commented on #4369
@cdeli Glad it worked!

`Get-AzureRmAutomationCredential` gives you the username only, it does not populate the password. Use `Get-AutomationPsCredential` as it returns both the username & password.
The reason for this is that `Get-AutomationPsCredential` is an Automation cmdlet designed for Runbook usage. `Get-AzureRmAutomationCredential`  is an AzureRM credential that can be run anywhere.

The `

[2017-08-09 16:01] cdeli commented on #4369
So I realized that immediately after hitting comment that I didnt swap out the origonal cmdlet for get-automationpscredential

I just added the module locally and in AA as well. I seem to be on the right path all around now with this, I greatly appreciate it.

Just for my own clarity, what was I doing wrong? I want to bypass this mistake in the future.

[2017-08-09 16:05] lfshr commented on #4369
@cdeli I'm not 100% sure. Did you take the `Start-AzureRmAutomationDscCompilationJob -ResourceGroupName "Contoso-Azure-Automation" -AutomationAccountName "DSC-Automation" -ConfigurationName "FileServer_Crypto_FSRM" -ConfigurationData $ConfigData` line out of your new DSC script? You could try adding this again and see if it causes the same issues. The DSC script and the compilation call are two se

[2017-08-09 16:50] cdeli commented on #4369
You know what. I did comment that out and that is when things started moving, after adding your help into it of course.

Thank you again for all of your help @lfshr. Now I can move forward with this project and really delve into Azure Automation for my company.

[2017-08-09 17:50] cormacpayne opened #4446 "Create forward link for license URI in module manifests"
Create an aka link for the license URI in module manifests to avoid `404: Not Found` errors when the default branch of the repository has changed.

[2017-08-09 22:12] pauldalyii commented on #2494
For some reason, I was not able to obtain an access token by using:

I was able to get it by doing this:
[code]

However, I am trying to use the token to authenticate with the AzureAD PowerShell module's [Connect-AzureAD](https://docs.microsoft.com/en-us/powershell/module/azuread/connect-azuread?view=azureadps-2.0) cmdlet:
`Connect-AzureAD -AadAccessToken $cacheItem.AccessToken -AccountId "<accoun

[2017-08-10 03:28] AndrewShepherd commented on #1803
It seems there are two arbitrary restrictions applied to the powershell module that are not applied to the portal:

- The node configuration name must match the file name
- The node configuration name cannot contain hyphens

Neither of these restrictions are on the portal. Can you PLEASE just remove these restrictions, there's no understandable reason for them to be there!

[2017-08-10 03:41] jodoglevy commented on #1803
I'm no longer working on this project, folks. @eamonoreilly can you take a look?

[2017-08-10 12:01] 4c74356b41 commented on #2494
@pauldalyii they shouldn't be because you are authenticating to a completely different endpoint. That being said, I would love so see a way to use AzureRM session to auth to AzureAD. Anyone?

[2017-08-10 15:29] cap273 commented on #3692
Since updating to Azure PowerShell 4.3.0, every Azure PowerShell cmdlet is returning "WARNING: System.ArgumentNullException: Value cannot be null." Further details in MSDN forum post:
https://social.msdn.microsoft.com/Forums/en-US/767c392d-d6a5-4ca9-870d-56c6c0de0ccd/azure-powershell-430-every-cmdlet-returning-warning-systemargumentnullexception-value-cannot?forum=azurescripting

[2017-08-10 16:25] jontreynes commented on #3578
I'm having a similar issue
$pw = Get-AzureRmStorageAccountKey -ResourceGroupName $resourcegroupname -Name $storage_accountname
$context = New-AzureStorageContext -StorageAccountName $storage_accountname -StorageAccountKey $pw.Value[0] -Protocol Https

$autobackupconfig = New-AzureRmVMSqlServerAutoBackupConfig -Enable `
    -RetentionPeriodInDays $retentionperiod -StorageContext $context `
    -Res

[2017-08-10 16:32] viananth commented on #4378
Closing this in favor of #4431

[2017-08-10 16:32] #4378 closed

[2017-08-10 16:35] jontreynes commented on #3979
@DdenBraver can you share that workaround?

Is this similar to your solution b/c I'm getting the storage account key to get the context, but the context is still a mismatch of type storageaccount... (Notice the "Common" part that is the mismatch)
$pw = Get-AzureRmStorageAccountKey -ResourceGroupName $resourcegroupname -Name $storage_accountname
$context = New-AzureStorageContext -StorageAccountNam

[2017-08-10 17:03] markcowl opened #4451 "[Release Automation]: Add automation to validate the regularity of built assembly names"
### Description

All assemblies built for Azure PowerShell should use the pattern Microsoft.Azure.Commands.*  .  Add a script to verify the correct assembly name pattern in .csproj files

### Cost: 1

[2017-08-10 17:07] markcowl opened #4452 "[Release Automation] Add additional signature verification script to release process"
### Description

Augment the existing script here:   to
- [x] Check the authenticode as well as strong name signature
- [x] Check authenticode signature for all .ps1 and .psm1 scripts

- [x] Add executing this script to the verification script for release candidates

### Cost: 2

[2017-08-10 17:12] markcowl opened #4453 "Change the algorithm for post-build assembly signing and verification"
### Description

The algorithm for post-build assembly signing selects assemblies using a naming pattern.  Instead, the selection task should do one of the following:

- [ ] Choose assemblies based on delay signing,, using a tool like sn
- [ ] Build up a list of built assemblies as part of scanning for solutions, and include all built assemblies explicitly for signing and verification.

### Cost:

[2017-08-10 17:18] markcowl opened #4454 "[Release Automation]: Perform release candidate tests in restricted environment"
### Description

Need to perform release candidate tests in restricted environment.  Create a VM Stamp with the following characteristics:

- [x] AllSigned execution policy
- [x] Required to run only  strong name signed bits by security policy
- [x] Required to run only authenticode signed bits, by security policy

### Cost: 4

[2017-08-10 17:31] arhadnane commented on #4032
Some help please:
Get-AzureRmResource : The 'Get-AzureRmResource' command was found in the module 'AzureRM.Resources', but the module
could not be loaded. For more information, run 'Import-Module AzureRM.Resources'.

[2017-08-10 18:00] markcowl opened #4455 "Add automation to roll back a release"
### Description

Augment current publishing scripts to use nuget to systematically delete the latest version of our released modules.  We should be able to delete the latest version of
- [x] A single module
- [x] A set of  modules
- [x] AzureRm and dependencies
- [x] Azure and dependencies
- [x] NetCore modules

### Cost: 2

[2017-08-10 18:09] markcowl opened #4456 "Set up procedures for active auditing of data streams on release day"
### Description

Actively monitor the following data streams on release day to catch issues early:

- [ ] Client-side exception telemetry
- [ ] Gallery comments
- [ ] github issues
- [ ] docs.microsoft.com comments
- [ ] Stack overflow issuses (Tag Azure or PowerShell)

### Cost: 1

[2017-08-10 19:23] markcowl commented on #4359
### Description

Per PowerShell team advice, single-value secrets (e.g. certificate passwords) whould be represented as SecureString parameters.

For each of the obove cmdlets:

- [ ] Reach out to feature team wit a recommendation to add a new secure parameter, or change the parameter type in November
  - [ ] New parameter types should be SecureString for single value secrets, or PSCredential for

[2017-08-11 06:42] dpksinghal commented on #740
I have a need of using cert based service principal to connect to classic mode of azure subscription i.e., Add-AzureAccount. Couldn't find a way yet.
Is it supported?

[2017-08-11 07:57] MarcoMol commented on #1300
For the past day I've been trying to run Set-AzureRmDiagnosticSetting wit hthe -workspaceid parameter from ISE x64.
However, PS doesn't recognize the parameter as being valid. Which is correct, it only recognizes storageaccountid and servcebusruleid as parameters.
So I figure I am missing the proper modules in powershell:
[code]

I think I do, I should have the AzureRM modules loaded.
So I have po

[2017-08-11 15:20] MarcoMol opened #4460 "Key Vault auditing logs to Operation Insights parameter not recognized"
For the past day I've been trying to run Set-AzureRmDiagnosticSetting with the -workspaceid parameter from ISE x64.
However, PS doesn't recognize the parameter as being valid. Which is correct yet also incorrect, it only recognizes 'storageaccountid' and 'servcebusruleid' as parameters from the execution window. Yet when checking for the available parameters from the code window it gives me the wo

[2017-08-11 17:36] alexmarshall132 opened #4461 "Get-AzureRMAutomationHybridWorkerGroup fails with error "Value cannot be null: parameter name format""
### Cmdlet(s)
Get-AzureRMAutomationHybridWorkerGroup

### PowerShell Version
5.0

### Module Version
3.2.1

### OS Version
Major  Minor  Build  Revision
-----  -----  -----  --------
10     0      10586  117

### Description
Calling Get-AzureRMAutomationHybridWorkerGroup with ResourceGroupName, AutomationAccount and Name parameter set consistently results in error "Value must not be null: Paramete

[2017-08-11 18:19] cormacpayne commented on #4418
@blueww Hey Wei, would you mind taking a look at this issue?

[2017-08-11 18:21] cormacpayne commented on #4419
@hyonholee @singhkays would you mind taking a look at this issue?

[2017-08-11 18:24] singhkays commented on #4419
Just tried it with the latest PS 4.3.0 and it's worked fine. Can you try with the latest bits?

[code]

[2017-08-11 18:30] cormacpayne commented on #4423
@ravbhatnagar Hey Gaurav, would you mind taking a look at this issue?

[2017-08-11 18:31] cormacpayne commented on #4424
Closing this issue as we will be tracking the status of this bug from issue https://github.com/Azure/azure-powershell/issues/4419

[2017-08-11 18:31] #4424 closed

[2017-08-11 18:35] cormacpayne commented on #4460
@RandalliLama Hey Rich, would you mind taking a look at this issue?

[2017-08-11 18:36] cormacpayne commented on #4445
@Sumanan Hey Sumanan, would you mind taking a look at this issue?

[2017-08-11 18:38] cormacpayne commented on #4461
@vrdmr Hey Varad, would you mind taking a look at this issue?

[2017-08-11 18:56] vrdmr commented on #4461
Sure. I'll start looking at it.

[2017-08-11 19:04] j4y-k commented on #4419
Same issue here with -Location being 'null'. PS ver 4.0 and AzureRM.Profile ver 3.2.1

[2017-08-11 19:08] singhkays commented on #4419
@j4y-k Please try with the latest version

[2017-08-11 19:26] mbenko commented on #4419
I found that I could call New-AzureRmDisk multiple times successfully until I call Add-AzureRmDataDisk, after which subsequent calls to New-AzureRmDisk fail with the -Location error. To work around it I have to close and restart PowerShell ISE.

My workaround currently is to call New-AzureRMDisk for all the disks I'll need, then call Add-AzureRmDataDisk for each (that works), and then update the V

[2017-08-11 19:28] pierreroman commented on #4419
updated my powershell modules this morning:

ModuleType Version    Name
---------- -------    ----
Manifest   3.2.1      AzureRM.Compute
Manifest   4.2.1      AzureRM.Network
Manifest   3.2.1      AzureRM.Profile
Manifest   4.2.1      AzureRM.Resources
Script     1.0.0.0    ISE
Manifest   3.1.0.0    Microsoft.PowerShell.Management
Manifest   3.0.0.0    Microsoft.PowerShell.Security
Manifest   3.1.

[2017-08-11 21:05] darshanhs90 commented on #4420
@nahalf I heard from Ming that the issue got resolved with the new version i.e. 4.3.0
Let us know if it happened in the new version also.

[2017-08-11 21:06] pierreroman commented on #4419
where can i find the MSI for the azure modules that where available before azure-powershell.4.2.1.msi was released?  that seems to be the build that broke the cmdlets

[2017-08-11 22:13] zimmertr commented on #3958
When will the cmdlets found in `Azure` rather than `AzureRM` be able to work on Linux?

`New-AzureAffinityGroup : The term 'New-AzureAffinityGroup'`

[2017-08-11 22:50] markcowl opened #4465 "[Insights] Need example of properly formed WorkspaceId"
From the gallery: https://www.powershellgallery.com/packages/AzureRM.Insights/3.2.1

I'm trying to use Set-AzureRmDiagnosticSetting  with the workspaceid parameter (which I got from the gui and is of the form "185*****-e8c2-49******7-d0a*****b410" but I get the error: 

Property id '************************************'' at path 'properties.workspaceId' is invalid. Expect fully 
qualified resource

[2017-08-14 10:08] blueww commented on #4418
Get-AzureStorageAccount, Get-AzureStorageAccountKey are for RDFE account.
Login-AzureRMAccount is for ARM account.

Get-AzureStorageAccount and Get-AzureStorageAccountKey won't use  the credential set with "Login-AzureRMAccount", but will use the cached credential in : "%appdata%\Windows Azure Powershell"

Would you please try:

1. Close all PowerShell console
2. Clean the cached credential file i

[2017-08-14 12:07] cadumi commented on #4418
Hi Wei,

Thanks for your input.
Unfortunately, for this customer the Add-AzureAccount login does not work as expected. See below verbose output. That's why we tried with Login-AzureRMAccount and then Select-Azuresubscription and the storage commands.
Any help is greatly appreciated on how we can work this around and log in with Add-AzureAccount.

PS C:\Windows\system32> Add-AzureAccount -Environme

[2017-08-14 13:32] MarcoMol commented on #4460
[code]

Here is the original error message I get with setting up the diagnostic setting for key vault.

[2017-08-14 13:59] MarcoMol commented on #4465
Hi Mark,

A friend of mine tested a part of my script:
[keyvault, disk encryption, audit logging](https://github.com/MarcoMol/AzureRM-PowerShell/blob/master/Azure%20Key%20Vault%20for%20Disk%20Encryption%20incl%20applying%20disk%20encryption%20to%20VM%20disk)

Section #4.
I can't run it myself, as my PS is having issues. But he tested it on an existing key vault, and with an existing workspace. He

[2017-08-14 15:52] mclark1129 opened #4470 "Error getting virtualNetworkConnection resource for an App Service Plan"
### Cmdlet(s)
Get-AzureRmResource

### PowerShell Version
5      1      14393  1198

### Module Version
4.2.1

### OS Version
10     0      14393  1198

### Description
I am unable to use `Get-AzureRmResource` in order to retrieve a virtual network connection for an App Service Plan (not App Service).  The resulting error is:

[code]

### Debug Output
There is a fair amount of sensitive informatio

[2017-08-14 20:21] nahalf commented on #4420
Yes but 4.3.0 was pulled back so not sure when it's going to be released again. So for all intents and purposes, the issue is not resolved while 4.2.1 is currently the latest version.

[2017-08-15 03:48] blueww commented on #4418
@markcowl , @cormacpayne , would you please help to look at the "Add-AzureAccount" issue the customer meet.  Or assign it to proper teams.

@cadumi, could you check the user really has Azure Access. From the error message it looks like the user don't have Azure RDFE access.

[2017-08-15 13:33] MarcoMol commented on #4460
Of course I have been troubleshooting my own issue.
The problem definately lies with my powershell, as my script got tested in its entirety and it works just as I expect it to.

I got no clue why my powershell isn't working correctly. I tried uninstalling all windows updates related to Management Framework and install them from scratch.

- 2 -> 4 -> Package Management for 4 = same result
- uninsta

[2017-08-15 20:34] rmarteleto opened #4475 "Get-AzureRMDataFactoryRun result not retrieving detail information (Properties dictionary)"
### Cmdlet(s)
Get-AzureRMDataFactoryRun

### PowerShell Version
PSVersion                      5.1.14393.1480

### Module Version
AzureRM.DataFactories  3.2.1

### OS Version
BuildVersion                   10.0.14393.1480

### Description
The PSDataSliceRun "Properties" property as a result of Get-AzureRMDataFactoryRun call is empty, when there should data in there. When I try the c# equivalent us

[2017-08-15 20:37] scgbear opened #4476 "AzureRm.Netcore Login-AzureRmAccount not working on Mac and Linux with Service Principal"
### Cmdlet(s)
Login-AzureRmAccount

### PowerShell Version
Instructions: to get PowerShell version, type `$PSVersionTable` and look for the value associated with `PSVersion`
6.0.0-beta

### Module Version
0.9.1

### OS Version
Instructions: to get OS version, type `$PSversionTable` and look for value associated with `BuildVersion`

### Description
Team is having issues executing the Login-AzureRmA

[2017-08-15 20:56] sazeesha commented on #2192
Reopening: the same issue as above but I am able to login with PoweShell but not with the Microsoft.Azure.Management.Compute.Fluent Nuget

  AzureEnvironment dogFood = new AzureEnvironment();
            dogFood.ManagementEnpoint = "https://management.core.windows.net/";
            dogFood.AuthenticationEndpoint = "https://login.windows-ppe.net/";
            dogFood.ResourceManagerEndpoint = "ht

[2017-08-15 20:57] sazeesha commented on #2192
var azure = Azure
                .Configure()
                .WithLogLevel(HttpLoggingDelegatingHandler.Level.Basic)
                .Authenticate(credentials)
                .WithDefaultSubscription();

the above code throws Argument exception: {"'authority' should be in Uri format\r\nParameter name: authority"}

[2017-08-16 06:42] cadumi commented on #4418
@blueww , customer has Azure access, as the Login-AzureRM command works just fine. only Add-AzureAccount does not work.
I alwo have this opened ICM 44106566 . but no owner.

[2017-08-16 07:16] blueww commented on #4418
@cadumi, I see a similar issue resolved in https://social.msdn.microsoft.com/Forums/en-US/e6bdb2f3-c3b0-4a99-b75d-3493cf63e03b/loginazurermaccount-vs-addazureaccount?forum=azurescripting

The issue resolved when the user was set as Co-admin on old portal on subscription.

[2017-08-16 07:20] cadumi commented on #4418
@blueww , this is happening under the German Cloud as mentioned in first posts, so there is no old portal in the german cloud only the new one.
Classic resources can only be accessed trough Powershell for Black Forest.

[2017-08-16 07:45] paulb2011 commented on #4385
PS C:\> Get-AzureVM
Get-AzureVM : Missing type map configuration or unsupported mapping.
Mapping types:
GuestAgentStatus -> GuestAgentStatus
Microsoft.WindowsAzure.Management.Compute.Models.GuestAgentStatus ->
Microsoft.WindowsAzure.Commands.ServiceManagement.Model.GuestAgentStatus
Destination path:
GuestAgentStatus
Source value:
Microsoft.WindowsAzure.Management.Compute.Models.GuestAgentStatus
At

[2017-08-16 08:28] iamshital commented on #4168
Any update on this?
We're working on [Azure Automation for Linux](https://github.com/Azure/azure-linux-automation) and this is blocking us from automating VM Log fetch process, in case of test failures.

[2017-08-16 08:53] blueww commented on #4418
@markcowl , @cormacpayne, this is a not a storage cmdlet issue, but a login issue with Add-AzureAccount. Would you please help to look at it? And remove the storage tag.

@cadumi, if there's no old portal in german cloud, then why you need use service mode account? Why not use resource mode account. You can use all service (Blob, File, Queue, Table) support in service mode account , in Resource mo

[2017-08-16 10:22] mrvladis commented on #4476
Have exactly the same issue.

[2017-08-16 13:59] dtrefilo-Quest commented on #1340
The following snippet can be used to upload a file to blob without READ access.
`$context.StorageAccount.CreateCloudBlobClient().GetContainerReference($ContainerName).GetBlockBlobReference($item.Name).UploadFromFile($item.FullName, 'Open')`

[2017-08-16 14:48] DdenBraver commented on #3979
@jontreynes I could use the StorageAccountName and StorageAccountKey parameters instead of using the Storagecontext parameters as a work-around.
You could do the same for the New-AzureRmVMSqlServerAutoBackupConfig cmdlet by using the -StorageUri -StorageKey parameters :-)

[2017-08-16 22:16] sdwheeler opened #4479 "Need documentation for AzureRM.*.Netcore modules"
These modules have been released to the PowerShell Gallery with no documentation. Need to document Installation and Getting Started scenarios. For example, these modules cannot be installed side-by-side with AzureRM. This is a common scenario on Windows.

This documentation is also needed for users of Mac and Linux. We are getting comments on the AzureRM documentation from people trying to use tho

[2017-08-17 09:56] pankajads opened #4481 "Register-AzureRmAutomationDscNode - No Progress Info when it apply the DSC configuration in backend"
### Cmdlet(s)
Register-AzureRmAutomationDscNode
### PowerShell Version
5.1

### Module Version

### OS Version
10.0.14393.1480

### Description
When I run Register-AzureRmAutomationDscNode, It register the node and execute dsc configuration. For example, If my configuration takes 30 min to apply, it won't show the dsc config apply progress until it completes.
There are some cmdlets available but c

[2017-08-17 13:03] nyanhp opened #4482 "Set-AzureRmContext fails with TaskCanceledException"
### Cmdlet(s)
Set-AzureRmContext

### PowerShell Version
5.1.15063.483

### Module Version
Name                            Version
----                            -------
AzureRM                         4.3.1
AzureRM.AnalysisServices        0.4.4
AzureRM.ApiManagement           4.3.1
AzureRM.Automation              3.3.1
AzureRM.Backup                  3.3.1
AzureRM.Batch                   3.3.1
A

[2017-08-17 13:06] hvvong opened #4483 "Verbose not showing after calling Start-AzureRMAutomationBook"
### Cmdlet(s)
Start-AzureRmAutomationBook

$result= Start-AzureRmAutomationRunbook -ResourceGroupName $rG -AutomationAccountName $Account -Name 'UpdateScript' -Parameters $params -RunOn $HybridRunbookWorker -wait

### Description
I noticed that the latest release fixed a verbose issue when using Get-AzureRmAutomationVariable and Get-AzureRmAutomationJob.  I am running into a similar issue when I u

[2017-08-17 17:11] scott1138 commented on #3988
I just ran into the same issue updating the SSL Certificate and Hostname on several listeners.  I made the change on the Production App Gateway last night and didn't use .Id on any of the parameters.  This morning I updated the Non-Production  App Gateway and ran across the issue.  To make my life easier I added .id to all of the needed parameters (cert, frontendip, frontendport) and it worked fin

[2017-08-17 18:47] singhkays commented on #4419
@pierreroman The latest PS release is now live. Please update through WebPi and try again.

[2017-08-17 19:09] sirdank commented on #3461
Gah! But what was the resolution? @mikler who were you? What did you see???

[2017-08-17 21:33] laxmand17 commented on #4238
Sent from Windows Mail

From: Cormac McCarthy<mailto:notifications@github.com>
Sent: ‎Monday‎, ‎August‎ ‎7‎, ‎2017 ‎6‎:‎50‎ ‎PM
To: Azure/azure-powershell<mailto:azure-powershell@noreply.github.com>
Cc: laxmand17<mailto:ldobbala@hotmail.com>, Mention<mailto:mention@noreply.github.com>

Closing this issue as it seems to have been resolved. @laxmand17<https://github.com/laxmand17> we ship a new vers

[2017-08-17 21:35] raandree opened #4486 "ErrorAction is not considered if there is an error with the context"
### Cmdlet(s)
All Get-AzureRm cmdlets

### PowerShell Version
5.1.14409.1012

### Module Version
4.2.1

### OS Version
10.0.14409.1012

### Description
Sometimes importing a context fails or stops working when running with jobs. If there is no context imported or no login done, this error should be treate as any other error and the ErrorAction should be considered. It is not hence this error is ig

[2017-08-17 21:39] raandree commented on #1200
Any news here? I am facing many issues running AzureRm cmdlets in background jobs. Having this feature implemented right away would make life much easier.

[2017-08-17 22:57] alexandair opened #4487 "[AzureRM.Netcore] a misleading error message when you are not logged in"
I've installed AzureRM.Netcore in Bash Cloud Shell (I've previously installed PowerShell Core 6 beta 5).
If I run any AzureRM command before I log in to Azure I get the following error message:
[code]

That error message is misleading and not very helpful, and doesn't provide a step to fix a problem.

[2017-08-17 23:27] alexandair opened #4488 "[AzureRM.Netcore] Import-AzureRmContext fails"
I have mycontext.json file that I've created using the Save-AzureRmContext cmdlet.
When I try to import it with the Import-AzureRmContext, I get:
[code]

[2017-08-18 02:26] erichexter commented on #1200
I ended up writing some methods to run all the commands in runspaces. It
took a hundred lines of code or so but works pretty well

On Thu, Aug 17, 2017 at 4:40 PM Raimund Andée [MSFT] <
notifications@github.com> wrote:

--
Eric Hexter

blog | http://Hex.LosTechies.com
info | http://www.linkedin.com/in/erichexter

[2017-08-18 02:42] pratikmehta9 commented on #2009
Did we add any English documentation for this yet?

[2017-08-18 10:27] adumont commented on #2757
This is happening to me today. Recently installed Powershell 5, on a Windows 7 machine.

PS C:\> Install-Module AzureRM
WARNING: Source Location 'https://www.powershellgallery.com/api/v2/package/AzureRM.Sql/3.3.1' is not valid.
PackageManagement\Install-Package : Package 'AzureRM.Sql' failed to download.
At C:\Program Files\WindowsPowerShell\Modules\PowerShellGet\1.0.0.1\PSModule.psm1:1375 char:21

[2017-08-18 13:35] masatosx commented on #3829
The same error occurred in my environment and the workaround @hungmai-must showed is working.
By the way, are there any plan to modify this issue?

[2017-08-18 15:56] adumont opened #4489 "Install-Module AzureRM failed ('AzureRM.Sql' failed to download)"
Steps to reproduce
------------------

[code]

Simply trying to install AzureRM.Sql also fails:

[code]

Expected behavior
-----------------

It should not fail.

Actual behavior
---------------

[code]

Environment data
----------------

[code]

[2017-08-18 16:01] migrande commented on #4419
I'm still seeing this issue on 4.3.1.  I can provide debug output if needed.

[2017-08-18 17:49] raandree commented on #1200
@erichexter Can you share the code? And what is the max number of runspaces you use?

I am using PowerShell background jobs. However if there are more than 10 jobs, AzureRm cmdlets are starting to fail with errors like 'Your Azure credentials have not been set up or have expired, please run Login-AzureRMAccount to set up your Azure credentials' and 'The process cannot access the file 'C:\\Users\\r

[2017-08-18 18:10] cormacpayne commented on #4470
@TianoMS Hey Tian, would you mind taking a look at this issue?

[2017-08-18 18:13] cormacpayne commented on #4475
@jackmagic313 Hey Jack, would you mind taking a look at this issue?

[2017-08-18 21:18] cormacpayne commented on #4481
@vrdmr Hey Varad, would you mind taking a look at this issue?

[2017-08-18 21:19] cormacpayne commented on #4483
@vrdmr Hey Varad, would you mind taking a look at this issue?

[2017-08-19 09:18] michaeljcameron commented on #1835
Now that ASR for Azure to Azure is in preview I suspect this issue may come up again.  I am trying to perform a wide range of post failover tasks and these would be ideal in parallel.  Unfortunately I see the same issue as siz0h with Get-AzureRmNetworkSecurityGroup, Set-AzureRmNetworkInterface, Get-AzureRmPublicIpAddress, Remove-AzureRmVm.  These are all in an inline script within a foreach.  When

[2017-08-19 09:28] 4c74356b41 commented on #1200
I'm using a really simple way of paralleling this out.

Save context:
Save-AzureRmContext -Path somepath -Force

and then in my background job code:
Import-AzureRmContext -Path somepath  -ErrorAction Stop
Set-AzureRmContext -SubscriptionId $subId

thats it, it works for 15 jobs(no issues so far), if you go uncapped it will fail, but can probably go higher than 15. I didn't test that as I don't nee

[2017-08-19 09:47] janus-christensen commented on #4351
Hello,

I am facing a similar issue with Add-AzureRmHDInsightConfigValues. I try to create a new HDInsight cluster using the following:

    New-AzureRmHDInsightClusterConfig `
        | Add-AzureRmHDInsightConfigValues -Core $CoreConfigValues `
    	| Add-AzureRmHDInsightMetastore `
    		-SqlAzureServerName $sqlServer `
    		-Credential $sqlServerCredential `
    		-DatabaseName $hiveDb `

[2017-08-19 17:30] janus-christensen opened #4491 ""Cannot find type" when trying to create PSADKeyCredential object"
### Cmdlet(s)
New-Object

### PowerShell Version
PSVersion                      5.1.14393.206

### Module Version

### OS Version
BuildVersion                   10.0.14393.206

### Description
I am attempting to create a new PSADKeyCredential object using New-Object, but I am running into an issue where I get the error "Cannot find type [Microsoft.Azure.Commands.Resources.Models.ActiveDirectory.PS

[2017-08-21 06:55] gulabpasha commented on #4385
I'm also facing the same issue while created Network Resources.

New-AzureRmPublicIpAddress : Missing type map configuration or unsupported mapping.

Mapping types:
PSPublicIpAddress -> PublicIPAddress
Microsoft.Azure.Commands.Network.Models.PSPublicIpAddress -> Microsoft.Azure.Management.Network.Models.PublicIPAddress

Destination path:
PublicIPAddress

Source value:
Microsoft.Azure.Commands.Netw

[2017-08-21 07:28] cadumi commented on #4418
@blueww , that is what we were trying to do, meaning login-azurermaccount then select-subscription "SubID" and manage the classic storage accounts, but then we get the error above:
Get-AzureStorageAccount : Missing type map configuration or unsupported mapping.

[2017-08-21 09:13] blueww commented on #4418
@markcowl  @cormacpayne , could you help on the login issue of “Add-AzureAccount” ?

@cadumi, Yes, the issue if cause you can't manage RDFE account with ARM credential. Before the RDFE login issue is resolved, Can use you ARM account, it also support service (Blob, File, Queue, Table)?

[2017-08-21 15:29] rmarteleto commented on #4475
Adding a little bit more of information here. It seems that the "List" extension method doesn't retrieve Properties, but "Get" does. I am not sure it is a deficiency of by design at the API level: https://docs.microsoft.com/en-us/dotnet/api/microsoft.azure.management.datafactories.dataslicerunoperationsextensions?view=azuremgmtdatafactories-4.12.1

[2017-08-21 22:03] kensykora opened #4494 "Publish-AzureRmVMDscConfiguration does not work on MacOS"
### Cmdlet(s)

`Publish-AzureRmVMDscConfiguration`

### PowerShell Version

v6.0.0-beta.5

[code]

### Module Version

[code]

### OS Version

OSX 10.12.6
`Darwin 16.7.0 Darwin Kernel Version 16.7.0: Thu Jun 15 17:36:27 PDT 2017; root:xnu-3789.70.16~2/RELEASE_X86_64`

### Description

When running the Azure commandlet to build powershell DSC manifest archives for uploading to Azure, The command fa

[2017-08-21 22:24] kensykora commented on #3506
Would love for this to not be a thing, please remove this as a requirement if it's possible.

[2017-08-22 07:26] michaeljcameron commented on #1835
Further to my last post I've abandoned using workflows within azure automation to parallelise tasks, I've started using a regular script with calls to Start-AzureRmAutomationRunbook instead.  This does mean I need to create a further check process to monitor the background jobs and harvest their output for logging to the parent process but at least it actually works.

Really disappointed with powe

[2017-08-22 12:27] JakobGSvendsen opened #4496 "Get-AzureRMAutomationCredential throw error "Automation account not found" when providing a Asset name that does not exist in the account."
### Cmdlet(s)

### PowerShell Version
PSVersion                      5.1.14393.1198

### Module Version
ModuleType Version    Name                                ExportedCommands
---------- -------    ----                                ----------------
Manifest   2.1.0      AzureRM.Automation

### OS Version
BuildVersion                   10.0.14393.1198

### Description
Get-AzureRMAutomationCred

[2017-08-22 12:39] hvvong commented on #4483
Hi!  Any update on this?

[2017-08-22 13:59] sokhals commented on #4350
Hey,

I have also been facing the same issue when trying to assign the rights.

Thanks!

[2017-08-22 16:24] abatishchev commented on #1835
Our Azure Data Factory deployment takes 10 minutes because the script deploys each dataset (of 150) sequentially while it would take just 2 minutes if we could deployment them in parallel.

[2017-08-22 17:12] michaeljcameron commented on #1835
I'd suggest using a parent script (not workflow) and use calls to start independent jobs.  Still testing but it looks far more reliable that way

[2017-08-22 19:33] abatishchev commented on #1835
Can you please post some samples once you're done with the testing?

[2017-08-22 22:40] lukeb1961 commented on #3088
is this going to be fixed?

[2017-08-23 23:23] arcotek-ltd opened #4499 "New-AzureRMAutomationCredential: backslash in -name cause "Automation Account not found" error"
### Cmdlet(s)
`New-AzureRMAutomationCredential`

### PowerShell Version
[code]

### Module Version

[code]

### OS Version
[code]
### Description

When providing the parameter -name as `domain\someuser` the use of the backslash causes the cmdlet to throw a very unhelpful and incorrect error, suggesting the

### Debug Output
I'm sorry, I don't have time to redact and add it. Just run the steps belo

[2017-08-23 23:31] arcotek-ltd commented on #4499
I've also just discovered that once the command runs successfully, if it is run again with the exact same parameters, it results in another unhelpful and misleading error:

[code]

[2017-08-24 17:39] Welasco commented on #4491
I have the same problem.
The only available workaround so far that I found is downgrading the powershell version to 4.2.1.

Install-Module AzureRM -RequiredVersion 4.2.1

Something happen after this release.

[2017-08-24 18:20] dragav opened #4500 "KeyVault: consider aligning the return types of Certificate operations with those operating on secrets/keys"
### Cmdlet(s)
*-AzureKeyVault*Certificate*

### PowerShell Version
All

### Module Version

### OS Version
any

### Description
The inner wrapper of the SDK client, IKeyVaultDataServiceClient, uses PSH-defined types for secrets and keys, but SDK-defined types for certificates.

This creates an issue in that the conversion is done outside of the client wrapper (and possibly missed altogether). Note

[2017-08-24 22:24] markcowl commented on #4319
We have the (rather simple) fix, which is that obviously, a ```PipelineStoppedException``` is a terminating exception, so allowing it to be thrown and uncaught inside ProcessRecord is the correct thing.  Simple fix, scheduled for this milestone

[2017-08-24 22:28] markcowl commented on #4249
@darshanhs90 Can you take a look at the attached transcript and debug this error?  Also, can we throw a better exception in thsi case?

[2017-08-24 22:29] markcowl commented on #4088
Fixed

[2017-08-24 22:29] #4088 closed

[2017-08-24 22:29] markcowl commented on #4434
Complete

[2017-08-24 22:29] #4434 closed

[2017-08-24 22:29] markcowl commented on #4438
Fixed

[2017-08-24 22:29] #4438 closed

[2017-08-24 22:42] markcowl commented on #4437
Fixed

[2017-08-24 22:42] #4437 closed

[2017-08-24 23:04] cormacpayne commented on #3330
@nyanhp we revisited this issue and did a little investigation into when/why PowerShell is throwing this `PipelineStoppException`. I've opened a PR to check for this type of exception (and the scenario that it would be thrown in) and made sure that it is not written to the error stream so users do not see this exception anymore. This fix should be available in our next release!

[2017-08-25 06:35] miyazawa opened #4505 "Restore-AzureRmRecoveryServicesBackupItem : 'parentResourcePath' cannot be null."
### Cmdlet(s)

Restore-AzureRmRecoveryServicesBackupItem

### PowerShell Version

5.1.14409.1012

### Module Version

AzureRM.Backup 3.3.1

### OS Version

10.0.14409.1012

### Description

    PS C:\Users\****> $vaultName = "********"
    PS C:\Users\****> $contName = "********"
    PS C:\Users\****> Get-AzureRmRecoveryServicesVault -Name $vaultName | Set-AzureRmRecoveryServicesVaultContext
    P

[2017-08-25 13:04] flikka opened #4507 "Unable to use DataLake stuff on Linux"
### Cmdlet(s)
Install-Module

### PowerShell Version
PSVersion 6.0.0-beta
PSEdition Core
GitCommitId v6.0.0-beta.5
OS Linux 4.4.0-93-generic #116-Ubuntu SMP Fri Aug 11 21:17:51 UTC 2017
Platform Unix

### Description
I've been told over at the github.com/powershell group to use AzureRM.NetCore. I am however in need for the DataLakeExport functions. The only related modules I can find is the

When

[2017-08-25 16:50] pauldalyii commented on #2494
Sharing sessions would be awesome, but ultimately, I'd just like the AzureAD module to merge with AzureRm.  There's a weird overlap of AD features and the AD module is much further ahead.

Until that day comes, I'd like the Azure PowerShell task in VSTS to load both the AzureRm and AzureAD modules, not just AzureRM.  I've got another issue regarding this here:

[https://github.com/Microsoft/vsts-t

[2017-08-25 17:39] dimitertodorov commented on #4476
Same issue on OSX.

Tried with several combinations. Succeeds on Windows.

[code]

[2017-08-25 18:12] sphibbs commented on #4507
Currently we do not have support for Datalake on PS Core. You can use the generic resource cmdlets in azurerm.resources.netcore https://docs.microsoft.com/en-us/powershell/module/azurerm.resources/?view=azurermps-4.3.1#resources

[2017-08-25 18:12] #4507 closed

[2017-08-25 18:15] sphibbs commented on #4499
@vrdmr  can you take a look at this issue

[2017-08-25 18:17] sphibbs commented on #4496
@JakobGSvendsen resolveazurermerror cmdlet will show you more details about the error.
@vrdmr can you take a look at this.

[2017-08-25 18:24] sphibbs commented on #4494
@kensykora Please open an issue in https://github.com/PowerShell/PowerShell We understand it can be confusing on which product belongs to which repo

[2017-08-25 18:24] #4494 closed

[2017-08-25 18:27] sphibbs commented on #4491
@cormacpayne please investigate

[2017-08-25 18:34] sphibbs commented on #4486
@raandree From the logs provided it looks like the first run of the cmdlet returns the correct info. The second time nothing is found and the cmd stops. We aren't sure what the issue is here. What are you expecting to happen when no results are found?

[2017-08-25 18:39] sphibbs commented on #4505
@miyazawa can you run resolve-azurermerror to help us debug the issue.
@dragonfly91 can you take a look at this issues?

[2017-08-25 20:23] markcowl opened #4508 "Deprecate PublishSettings related cmdlets"
SInce PublishSettings support is disappearing in 2018, deprecate these cmdlets in the September release.

- [ ] Deprecate Get-AzurePublishSettingsFile (let users know that this functionality will be replaced by another cmdlet)
- [x] Work with documentation team on a plan for pushing users to the Ibiza portal mechanisms for RDFE authorization control:

https://docs.microsoft.com/en-us/azure/billing

[2017-08-26 01:34] safrazhanas opened #4509 "Add-AzureRmAccount throws error in centos 7"
### Cmdlet(s)

### PowerShell Version
Name                           Value
----                           -----
PSVersion                      6.0.0-beta
PSEdition                      Core
GitCommitId                    v6.0.0-beta.5
OS                             Linux 3.10.0-514.16.1.el7.x86_64 #1 SMP Wed Apr 12 15:04:24 UTC 2017
Platform                       Unix
PSCompatibleVersions

[2017-08-26 06:18] ananimesh commented on #4505
I am getting the same error. Running 'resolve-azurermerror' cmdlet gives me the below trace
Message        : 'parentResourcePath' cannot be null.
StackTrace     :    at Microsoft.Azure.Management.Internal.Resources.ResourcesOperations.<GetWithHttpMessagesAsync>d__10.MoveNext() in
                 D:\workspace\powershell-sign\src\ResourceManager\Common\Commands.ResourceManager.Common\Generated\Reso

[2017-08-26 19:02] shland commented on #4505
Same error here trying to run this within an Azure Automation runbook... 'parentResourcePath' cannot be null.

[2017-08-27 18:42] sdwheeler opened #4510 "Get-AzureRmApiManagementUser - Parameter set name 'Find users' is not supported"
### Cmdlet(s)
Get-AzureRmApiManagementUser

### Description
Reported by a user via LiveFyre:

Reviewing the source code it looks like this is by design but the docs indicate this should work. We need to fix the code or change the documentation.

[code]

[2017-08-28 08:31] Stricnis commented on #4505
Same here. Updated Azure SDK and Azure Powershell last Friday. Keep getting this error while calling Restore-AzureRmRecoveryServicesBackupItem from a Powershell script.

    $item = Get-AzureRmRecoveryServicesBackupItem -BackupManagementType AzureVM -WorkloadType AzureVM -ErrorAction Stop
    $startDate = (Get-Date).AddDays(-1)
    $rp = Get-AzureRmRecoveryServicesBackupRecoveryPoint -Item $item -

[2017-08-28 16:24] MattAllison opened #4513 "NetworkProfile output from Get-AzureRMVM is not directly useful to get NetworkInterface"
### Cmdlet(s)

Get-AzrueRMVM

### PowerShell Version

PSVersion                      5.1.15063.296

### Module Version

3.3.1      AzureRM.Compute

### OS Version

10.0.15063.296

### Description

The "NetworkProfile" prooperty from Get-AzureRMVM is too difficult to use.

The output is only the a collection of items containing the ResourceID of the Network Interface.  This output cannot be directl

[2017-08-28 17:03] MaxFrost commented on #4491
I think I can shed some light on this. Commit https://github.com/Azure/azure-powershell/commit/fdddee667832e720213c57a6d976c474ecde9a10#diff-ae5a686d2a2de07a6f1f57fd033f7777 appears to have moved them into a different area, no longer under resources..models.activedirectory, they are now under Microsoft.Azure.Graph.RBAC.Version1_6.ActiveDirectory.

so if you were using Microsoft.Azure.Commands.Reso

[2017-08-28 17:18] sdwheeler opened #4514 "Typos in example for Set-AzureRmApplicationGatewayFrontendPort"
### Cmdlet(s)
Set-AzureRmApplicationGatewayFrontendPort

### Description
Reported by customer via LiveFyre:

There is also a problem with the value of the -Name parameter in the example.

[2017-08-28 17:19] MaxFrost commented on #4491
So knowing that, and with some help from @jaykul, sourced that we should _not_ be using this new-object, but instead be using New-AzureRmADAppCredential to generate the credential, as it's output is our PSADKeyCredential that we're looking for.

[2017-08-28 17:26] sdwheeler commented on #4514
Submitted fix in https://github.com/Azure/azure-powershell/pull/4515

[2017-08-28 17:29] Jaykul commented on #4491
@cormacpayne I'd close this. It's as-designed.

@Welasco @janus-christensen I think the intention (of this module) is that you should not use the underlying classes directly -- the team considers them a convenience for the module developers, and not an interface for users...

[2017-08-28 17:47] cormacpayne opened #4516 "Create tool to generate format.ps1xml file"
Currently there is no way to create a `format.ps1xml` file without copying an existing file and changing the types and properties.

The cmdlet should go in the Repo-Tasks module: https://github.com/Azure/azure-powershell/blob/preview/tools/Repo-Tasks.psd1

There should be a tool that accepts the .dll for a module and does the following:
- [ ] By default, creates a list and table view for each outp

[2017-08-28 17:55] wilddev65 commented on #4491
Maybe I'm misunderstanding this, but the following page talks about using the PSADKeyCredential to setup a service principal (which is replicated in webpages all over the net).
https://docs.microsoft.com/en-us/azure/azure-resource-manager/resource-group-authenticate-service-principal
The script used in that example uses New-AzureRMADServicePrincipal with the PSADKeyCredential setup by the New-Obje

[2017-08-28 19:08] MaxFrost commented on #4491
Well, you would use New-AzureRmADSpCredential instead. Create your Service Principal without a password or any credentials (so no keycredentials, , etc), then immediately run the New-AzureRmADSpCredential right after with the values you would have supplied to -KeyCredentials.

Using the Class only makes sense if the class would always remain, but if they moved it once, it'll likely get moved again

[2017-08-28 19:40] cormacpayne commented on #4491
@Jaykul that is correct, Joel! The Azure PowerShell team views these objects (returned from cmdlets) as PowerShell objects and not .NET objects - we are only concerned about the properties of a type, and not about its methods, constructor, etc. We do not intend to have objects of these types created using `New-Object`, so the documentation that @wilddev65 linked to is incorrect and will need to be

[2017-08-28 19:46] sdwheeler commented on #4491
@cormacpayne @tfitzmac is the author of the article. Tom can you remove the "New-Object" call from your article?

[2017-08-28 19:58] cormacpayne commented on #3425
Create a custom obsolete attribute that will handle the removal/deprecation of the following:
- Cmdlet
     - [ ] Whenever the cmdlet is called, a warning will be printed to the console that calls out the cmdlet name
- Parameter
     - [ ] Whenever the parameter is used in a command, a warning will be printed to the console that calls out the parameter name and the cmdlet it is being used with
- P

[2017-08-28 21:26] tfitzmac commented on #4491
Thanks for this info, I am working on a fix right now.

[2017-08-28 23:48] #1542 closed

[2017-08-29 00:27] twitchax opened #4517 "Telemetry Adjustments"
### Cmdlet(s)
All of them!

### PowerShell Version
N/A.

### Module Version
N/A.

### OS Version
N/A.

### Description
Azure PowerShell should make changes to its telemetry:
1. The `name` field is currently set to the name of the cmdlet.  The `name` field should be set to "cmdletInvocation", and the name of the cmdlet should be moved to `customDimensions.Command`.
2. The version of PowerShell shou

[2017-08-29 06:15] dirkesquire commented on #3108
I came across this same issue in 2017, 1 year later.
I find it strange that
`Login-AzureRmAccount  `
works just fine for personal (live accounts), despite all the comments above that 'the platform doesn't support this'.
However if you try to pass in $creds as a parameter, this is where it falls over:
`$creds = Get-Credential
Login-AzureRmAccount -Credential: $creds`

The error message is still jus

[2017-08-29 07:48] codegagan commented on #3692
Can this be installed on Linux (Ubuntu) ?

[2017-08-29 10:41] janus-christensen commented on #4491
The article that @wilddev65 links to is one of the articles I  originally used to figure out how to do this. I will look into how to use New-AzureRmADAppCredential.

Thank you for all the responses and help.
/Janus

[2017-08-29 11:30] michaeljcameron commented on #1835
In reply to abatishchev, this is a code snippet you could work on.  It really isn't overly complicated, one loop to make the calls and store job Ids in a hash, another to loop through the hash checking the Job Ids

[code]

[2017-08-29 13:50] Welasco commented on #4491
Hi Guys,
I found this doc that need's update as well:
https://docs.microsoft.com/en-us/azure/automation/automation-update-account-powershell

[2017-08-29 17:02] jianyunt opened #4520 "Creating aliases in ScriptsToProcess causes ipmo -force to fail"
### Cmdlet(s)
Any cmdlets under AzureRM.Websites.Netcore module

### PowerShell Version
PS C:\test\Azure> $PSVersionTable

Name                           Value
----                           -----
PSVersion                      6.0.0-beta
PSEdition                      Core
GitCommitId                    v6.0.0-beta.5
OS                             Microsoft Windows 10.0.14393
Platform

[2017-08-29 17:50] SvenAelterman opened #4521 "Set-AzureRmSqlDatabaseAuditing: Resource not found for the segment 'databases'."
### Cmdlet(s)
Set-AzureRmSqlDatabaseAuditing

### PowerShell Version
5.1.15063.483

### Module Version
4.3.1

### OS Version
10.0.15063.483

### Description
When using the Set-AzureRmSqlDatabaseAuditing cmdlet (and also the older Set-AzureRmSqlDatabaseAuditingPolicy cmdlet), I am getting this error.

### Debug Output
[code]

### Script/Steps for Reproduction
[code]

[2017-08-29 17:57] SvenAelterman commented on #4521
Never mind this... I was targeting the wrong server. Still, the error message could be more descriptive.

[2017-08-29 17:57] #4521 closed

[2017-08-29 18:11] abatishchev commented on #1835
Thanks Michael! I'll use it as a template for my own script.

[2017-08-29 19:52] sergey-shandar opened #4522 "webapp:Tests creates additional Git remotes."
### PowerShell Version

5.1.15063.502

### Module Version
preview branch

### OS Version

Windows 10.0.15063.502

### Description

Git remotes are changed after running all test.

### Script/Steps for Reproduction

[code]

### Expected Output

[code]

### Actual Output

[code]

[2017-08-29 21:29] hvvong commented on #4483
Hi!  Can someone provide an update on this?  Is there a solution or a workaround?  This is holding up my deployment to production.

[2017-08-29 22:46] twsouthwick commented on #4476
This actually does fail on Windows when running Powershell 6.0 using the AzureRM.Netcore module with the same error that I see on Linux. If you run on Powershell 5.0 using the AzureRM module, it succeeds.

[2017-08-29 22:57] twsouthwick commented on #4509
This is probably related (or a duplicate) to #4476. `Login-AzureRmAccount` is an alias for `Add-AzureRmAccount`. When you tried in windows, did you do it in Powershell 5 (the built in one), or install Powershell 6 and use the AzureRm.Netcore module?

[2017-08-30 00:38] vrdmr commented on #4483
Hi @hvvong, Apologies for the delay in the response.

We have picked this up and should be fixed in the next release. Just to understand the issue a little better, the `-Verbose` flag does not output anything? Not even the following output which contains the JobId?

[code]

[2017-08-30 00:46] twsouthwick commented on #4476
I tried cloning the project to see if it would be a trivial fix, but can't seem to get anything to compile. @markcowl do you have ideas (you're assigned to what seems a similar issue)? It fails to restore a ton of the packages. I'm using VS 2017 15.3.3, on the `preview` branch.

[2017-08-30 04:31] TechnologyAnimal commented on #4476
I am getting the same problem on OSX.  Running the cmdlet with debugging mode enabled, I noticed something interesting... it seems that it's trying to authenticate with an unknown client id?

DEBUG: 9:32:45 PM - AddAzureRMAccountCommand begin processing with ParameterSet 'ServicePrincipalWithSubscriptionId'.
DEBUG: [Common.Authentication]: Authenticating using configuration values: Domain: 'Correc

[2017-08-30 04:37] TechnologyAnimal commented on #4509
I have the same problem using dotnetcore 2.0 on PSv6 with OSX 10.12.3.

Name                           Value
----                           -----
PSVersion                      6.0.0-beta
PSEdition                      Core
GitCommitId                    v6.0.0-beta.4
OS                             Darwin 16.4.0 Darwin Kernel Version 16.4.0: T...
Platform                       Unix
PSCompatibleVer

[2017-08-30 05:55] TechnologyAnimal opened #4524 "AddAzureRMAccountCommand begin processing with ParameterSet 'UserWithSubscriptionId'"
### Cmdlet(s)
Add-AzureRmAccount
### PowerShell Version
Instructions: to get PowerShell version, type `$PSVersionTable` and look for the value associated with `PSVersion`
6.0.0-beta
### Module Version
0.9.1
### OS Version
Instructions: to get OS version, type `$PSversionTable` and look for value associated with `BuildVersion`
Darwin 16.4.0 Darwin Kernel Version 16.4.0: Thu Dec 22 22:53:21 PST 2016

[2017-08-30 12:06] Nailzy opened #4526 "Remove-AzureRMResource errors for deleting CosmosDB"
### Cmdlet(s)
Remove-AzureRMResource
### PowerShell Version
PSVersion                      5.1.15063.502
### Module Version
Major  Minor  Build  Revision
-----  -----  -----  --------
4      2      0      -1

### OS Version
BuildVersion                   10.0.15063.502
### Description
I create a standard Cosmos DB with Document DB API.

Once provisioned, I run the following commands to remove the

[2017-08-30 12:37] hvvong commented on #4483
Hi Varad.  I do get the details of my jobid as shown in your example.  It is in the log of the job that the verbose statements are missing after the call to automation.

Here how my flow works:  Runbook A runs and I can see the verbose statements in the log of the job.  In the middle of Runbook A, it does a call to Automation Runbook to kick off Runbook B.  Runbook A appears to be continuing with

[2017-08-30 15:33] gregjhogan opened #4527 "Support querying resources across multiple subscriptions"
I tried Get-AzureRmResource, but something seems to be wrong with the ODataQuery parameter

If you run this:
[code]

It builds a URL that looks like this (notice $filter was removed):
[code]

and you get this response:
[code]

Looping through and running Select-AzureRmSubscription doesn't seem ideal.

Maybe you could add the ability to pass multiple subscription IDs into Find-AzureRmResource?

[2017-08-30 16:24] solankisamir opened #4528 "Set-AzureRmApiManagementPolicy Format application/vnd.ms-azure-apim.policy.raw+xml should be default"
### Cmdlet(s)

### PowerShell Version
Instructions: to get PowerShell version, type `$PSVersionTable` and look for the value associated with `PSVersion`

### Module Version

### OS Version
Instructions: to get OS version, type `$PSversionTable` and look for value associated with `BuildVersion`

### Description
The Format application/vnd.ms-azure-apim.policy.raw+xml should be default, which require

[2017-08-31 11:48] henrytruongswo commented on #4505
Got this issue too. Updated Azure Automation modules today and now have this issue. AzureRM.RecoveryServices.Backup v3.3.1

[2017-08-31 13:49] lfshr commented on #3775
Closed by #4349

[2017-08-31 13:49] #3775 closed

[2017-08-31 16:56] 4c74356b41 commented on #3391
any updates? how is portal orchestrating something, why cant we do exactly the same calls?

[2017-08-31 17:15] jianyunt opened #4536 "Missing AzureStorageContainer, Get-AzureStorageShare cmdlets on .NetCore"
### Cmdlet(s)
Get-AzureStorageContainer, Get-AzureStorageShare... do not exist on PowerShell core yet.

### PowerShell Version
Instructions: to get PowerShell version, type `$PSVersionTable` and look for the value associated with `PSVersion`

### Module Version
Manifest 0.9.1 AzureRM.Netcore

### OS Version
PSVersion 6.0.0-beta
PSEdition Core
GitCommitId v6.0.0-beta.5
OS Microsoft Windows 10.0.143

[2017-09-01 02:02] josephsctan commented on #4418
Hi Folks,

I am running Azure Powershell 4.3.1 and having the same issue.

Get-AzureStorageAccount  was working find for me, and then suddenly stopped working.

Now it **always** returns the following:

Once this happens, it is no longer possible to manage that Classic storage account with powershell.

[2017-09-01 02:17] blueww commented on #4418
@josephsctan

The issue seems caused by use the ARM credential to manage the RDFE (class) accounts. Since the source is from "Microsoft.WindowsAzure.Management.Storage" which is from ARM accounts

To do more investigate on the issue, could you run and give the result:
Get-module
Get-AzureStorageAccount -debug

To resolve your issue, could you try:
1.Close all PowerShell console
2.Clean the cached

[2017-09-01 02:23] gotmoo commented on #1528
This isn't exactly passing a parameter of type "object" but passing an array as a parameter did the trick for me:

In PowerShell, make an array of hashtables and pass it to New-AzureRmResourceGroupDeployment
[code]

in the JSON, set the parameter as array type:
[code]

Then you can use them in your resource creation with copyindex like so:
`              "privateIPAddress": "[parameters('nicConfig

[2017-09-01 05:44] cormacpayne commented on #4536
@jianyunt we currently do not support the cmdlets from the `Azure.Storage` module in the `AzureRM.Netcore` module, but we plan on adding a bulk of the existing modules to `AzureRM.Netcore` in the future. Placing this issue in our backlog for future reference.

[2017-09-01 05:45] cormacpayne commented on #4527
@ravbhatnagar @TianoMS would you mind taking a look at this issue?

[2017-09-01 05:47] cormacpayne commented on #4526
@Nailzy the issue you are seeing with the `PipelineStoppedException` has been fixed in PR https://github.com/Azure/azure-powershell/pull/4504 and will be in the next release of Azure PowerShell that goes out on September 25th.

[2017-09-01 05:48] #4526 closed

[2017-09-01 06:17] cormacpayne commented on #4513
@DeepakRajendranMsft Hey Deepak, it looks like the request is to add a parameter set to the `Get-AzureRmNetworkInterface` cmdlet that accepts a `ResourceId` so they can pipe the result of `(Get-AzureRmVM -Name $VM -ResourceGroupName $RG).NetworkProfile` to the cmdlet.

[2017-09-01 06:18] cormacpayne commented on #4510
@solankisamir Hey Samir, would you mind taking a look at this issue?

[2017-09-01 06:20] cormacpayne opened #4537 "Add test coverage for PipelineStoppedException handling"
Add test coverage for the functionality added in PR https://github.com/Azure/azure-powershell/pull/4504

[2017-09-01 15:36] georgeedwards opened #4538 "Login-AzureRmAccount : Non-HTTPS url redirect is not supported in webview"
### Cmdlet(s)

### PowerShell Version
5.1.15063.502

### OS Version
10.0.15063.502

### Description

After installing the powershell cli for azure as per the instructions,
This is the output I get:

[code]

[2017-09-01 16:34] gregjhogan commented on #4527
To add a little more context, here is what I would like to be able to do:

I get a request to perform an action on a VM and the requester only knows the name.  I want to automate the action that needs to be taken, but the VM could be in any one of 32 subscriptions.  The script will take the VM name as a parameter, and it is painfully slow to enumerate all the subscriptions using Select-AzureRmSubs

[2017-09-01 19:22] sdwheeler opened #4542 "Start-AzureRmVM -name param should not be mandatory"
### Cmdlet(s)
Start-AzureRmVM

### Module Version
Current

### Description

Feedback from customer via LiveFyre:

Seems like a fair question. The Id should be enough to uniquely identify the VM. I reviewed the source. Part of the issue is that the parameter set definitions are split between SetAzureVMCommand.cs and VirtualMachineActionBaseCmdlet.cs.

**SetAzureVMCommand.cs**
[code]
**VirtualMachin

[2017-09-01 19:45] cormacpayne commented on #4542
@hyonholee Hey Hyonho, would you mind taking a look at this issue? It seems like the `Id` parameter is being used solely to get the resource group of the VM. If we could make another parameter set that has just the `Id` and have the code grab both the resource group and the name of the VM, then that would resolve this customer's issue. It seems like a reasonable ask since we are moving to a model

[2017-09-01 20:38] sdwheeler commented on #4542
@hyonholee @cormacpayne So the Id is for the resource group and not the VM? That is not what I would expect. What about supporting a `Get-AzureRmVM | Start-AzureRMVM` scenario? Does that work? I would think that if you have the Id of the VM already, you could start that VM.

[2017-09-02 00:14] cormacpayne commented on #26
@twitchax: "Azure PowerShell continues to maintain RDFE support on a legacy basis: new functionality and bug fixes are addressed sparingly.  This issue does not meet the current threshold for consideration."

[2017-09-02 00:14] #26 closed

[2017-09-02 00:15] cormacpayne commented on #67
@twitchax: "Azure PowerShell continues to maintain RDFE support on a legacy basis: new functionality and bug fixes are addressed sparingly.  This issue does not meet the current threshold for consideration."

[2017-09-02 00:15] #67 closed

[2017-09-02 00:15] cormacpayne commented on #70
@twitchax: "Azure PowerShell continues to maintain RDFE support on a legacy basis: new functionality and bug fixes are addressed sparingly.  This issue does not meet the current threshold for consideration."

[2017-09-02 00:15] #70 closed

[2017-09-02 00:20] cormacpayne commented on #164
@twitchax: "Azure PowerShell continues to maintain RDFE support on a legacy basis: new functionality and bug fixes are addressed sparingly.  This issue does not meet the current threshold for consideration."

[2017-09-02 00:20] #164 closed

[2017-09-02 00:20] cormacpayne commented on #166
@twitchax: "Azure PowerShell continues to maintain RDFE support on a legacy basis: new functionality and bug fixes are addressed sparingly.  This issue does not meet the current threshold for consideration."

[2017-09-02 00:20] #166 closed

[2017-09-02 00:22] cormacpayne commented on #180
@twitchax: "Azure PowerShell continues to maintain RDFE support on a legacy basis: new functionality and bug fixes are addressed sparingly.  This issue does not meet the current threshold for consideration."

[2017-09-02 00:22] #180 closed

[2017-09-02 00:23] cormacpayne commented on #218
@twitchax: "Azure PowerShell continues to maintain RDFE support on a legacy basis: new functionality and bug fixes are addressed sparingly.  This issue does not meet the current threshold for consideration."

[2017-09-02 00:23] #218 closed

[2017-09-02 00:23] #230 closed

[2017-09-02 00:23] cormacpayne commented on #273
@twitchax: "Azure PowerShell continues to maintain RDFE support on a legacy basis: new functionality and bug fixes are addressed sparingly.  This issue does not meet the current threshold for consideration."

[2017-09-02 00:23] #273 closed

[2017-09-02 00:24] cormacpayne commented on #280
@twitchax: "Azure PowerShell continues to maintain RDFE support on a legacy basis: new functionality and bug fixes are addressed sparingly.  This issue does not meet the current threshold for consideration."

[2017-09-02 00:24] #280 closed

[2017-09-02 00:25] cormacpayne commented on #290
@twitchax: "Azure PowerShell continues to maintain RDFE support on a legacy basis: new functionality and bug fixes are addressed sparingly.  This issue does not meet the current threshold for consideration."

[2017-09-02 00:25] #290 closed

[2017-09-02 00:26] cormacpayne commented on #340
@twitchax: "Azure PowerShell continues to maintain RDFE support on a legacy basis: new functionality and bug fixes are addressed sparingly.  This issue does not meet the current threshold for consideration."

[2017-09-02 00:26] #340 closed

[2017-09-02 00:27] cormacpayne commented on #341
@twitchax: "Azure PowerShell continues to maintain RDFE support on a legacy basis: new functionality and bug fixes are addressed sparingly.  This issue does not meet the current threshold for consideration."

[2017-09-02 00:27] #341 closed

[2017-09-02 00:28] cormacpayne commented on #348
@twitchax: "Azure PowerShell continues to maintain RDFE support on a legacy basis: new functionality and bug fixes are addressed sparingly.  This issue does not meet the current threshold for consideration."

[2017-09-02 00:28] #348 closed

[2017-09-02 00:29] cormacpayne commented on #391
@twitchax: "Azure PowerShell continues to maintain RDFE support on a legacy basis: new functionality and bug fixes are addressed sparingly.  This issue does not meet the current threshold for consideration."

[2017-09-02 00:29] #391 closed

[2017-09-02 00:30] cormacpayne commented on #402
@twitchax: "Azure PowerShell continues to maintain RDFE support on a legacy basis: new functionality and bug fixes are addressed sparingly.  This issue does not meet the current threshold for consideration."

[2017-09-02 00:30] #402 closed

[2017-09-02 00:31] cormacpayne commented on #413
@twitchax: "Azure PowerShell continues to maintain RDFE support on a legacy basis: new functionality and bug fixes are addressed sparingly.  This issue does not meet the current threshold for consideration."

[2017-09-02 00:31] #413 closed

[2017-09-02 00:32] cormacpayne commented on #519
@twitchax: "Azure PowerShell continues to maintain RDFE support on a legacy basis: new functionality and bug fixes are addressed sparingly.  This issue does not meet the current threshold for consideration."

[2017-09-02 00:32] #519 closed

[2017-09-02 00:35] cormacpayne commented on #551
@twitchax: "Azure PowerShell continues to maintain RDFE support on a legacy basis: new functionality and bug fixes are addressed sparingly.  This issue does not meet the current threshold for consideration."

[2017-09-02 00:35] #551 closed

[2017-09-02 00:35] cormacpayne commented on #554
@twitchax: "Azure PowerShell continues to maintain RDFE support on a legacy basis: new functionality and bug fixes are addressed sparingly.  This issue does not meet the current threshold for consideration."

[2017-09-02 00:35] #554 closed

[2017-09-02 00:38] cormacpayne commented on #553
@twitchax: "Azure PowerShell continues to maintain RDFE support on a legacy basis: new functionality and bug fixes are addressed sparingly.  This issue does not meet the current threshold for consideration."

[2017-09-02 00:38] #553 closed

[2017-09-02 00:41] cormacpayne commented on #568
@twitchax: "Azure PowerShell continues to maintain RDFE support on a legacy basis: new functionality and bug fixes are addressed sparingly.  This issue does not meet the current threshold for consideration."

[2017-09-02 00:41] #568 closed

[2017-09-02 00:42] cormacpayne commented on #624
@twitchax: "Azure PowerShell continues to maintain RDFE support on a legacy basis: new functionality and bug fixes are addressed sparingly.  This issue does not meet the current threshold for consideration."

[2017-09-02 00:42] #624 closed

[2017-09-02 00:42] cormacpayne commented on #634
@twitchax: "Azure PowerShell continues to maintain RDFE support on a legacy basis: new functionality and bug fixes are addressed sparingly.  This issue does not meet the current threshold for consideration."

[2017-09-02 00:42] #634 closed

[2017-09-02 00:42] cormacpayne commented on #636
@twitchax: "Azure PowerShell continues to maintain RDFE support on a legacy basis: new functionality and bug fixes are addressed sparingly.  This issue does not meet the current threshold for consideration."

[2017-09-02 00:42] #636 closed

[2017-09-02 00:44] cormacpayne commented on #640
@twitchax: "Azure PowerShell continues to maintain RDFE support on a legacy basis: new functionality and bug fixes are addressed sparingly.  This issue does not meet the current threshold for consideration."

[2017-09-02 00:44] #640 closed

[2017-09-02 00:46] cormacpayne commented on #644
@twitchax: "Azure PowerShell continues to maintain RDFE support on a legacy basis: new functionality and bug fixes are addressed sparingly.  This issue does not meet the current threshold for consideration."

[2017-09-02 00:46] #644 closed

[2017-09-02 00:53] cormacpayne commented on #656
@twitchax: "Azure PowerShell continues to maintain RDFE support on a legacy basis: new functionality and bug fixes are addressed sparingly.  This issue does not meet the current threshold for consideration."

[2017-09-02 00:53] #656 closed

[2017-09-02 00:54] cormacpayne commented on #659
@twitchax: "Azure PowerShell continues to maintain RDFE support on a legacy basis: new functionality and bug fixes are addressed sparingly.  This issue does not meet the current threshold for consideration."

[2017-09-02 00:54] #659 closed

[2017-09-02 00:55] cormacpayne commented on #700
@twitchax: "Azure PowerShell continues to maintain RDFE support on a legacy basis: new functionality and bug fixes are addressed sparingly.  This issue does not meet the current threshold for consideration."

[2017-09-02 00:55] #700 closed

[2017-09-02 00:57] #774 closed

[2017-09-02 01:01] cormacpayne commented on #824
Doesn't appear this is the case in `New-AzureRmVirtualNetworkGateway`. Closing this issue.

[2017-09-02 01:01] #824 closed

[2017-09-02 01:02] cormacpayne commented on #832
@twitchax: "Azure PowerShell continues to maintain RDFE support on a legacy basis: new functionality and bug fixes are addressed sparingly.  This issue does not meet the current threshold for consideration."

[2017-09-02 01:02] #832 closed

[2017-09-02 01:04] cormacpayne commented on #842
@twitchax: "Azure PowerShell continues to maintain RDFE support on a legacy basis: new functionality and bug fixes are addressed sparingly.  This issue does not meet the current threshold for consideration."

Please feel free to re-open this issue if this behavior is seen in `Remove-AzureRmADApplication`.

[2017-09-02 01:04] #842 closed

[2017-09-02 01:05] cormacpayne commented on #885
@twitchax: "Azure PowerShell continues to maintain RDFE support on a legacy basis: new functionality and bug fixes are addressed sparingly.  This issue does not meet the current threshold for consideration."

[2017-09-02 01:05] #885 closed

[2017-09-02 01:20] zakramer opened #4543 "New-AzureRelayNamespace incorrect parameter name - NamespaceName"
### Cmdlet(s)
New-AzureRelayNamespace

### PowerShell Version
PSVersion                      5.1.15063.502

### Module Version
Manifest   0.1.0      AzureRM.Relay

### OS Version
BuildVersion                   10.0.15063.502

### Description
Commandlet documentation in PS and on the web clearly state that the parameter should be NamespaceName but the actual parameter is Name:

https://github.com/A

[2017-09-02 02:47] cormacpayne commented on #959
@twitchax: "Azure PowerShell continues to maintain RDFE support on a legacy basis: new functionality and bug fixes are addressed sparingly.  This issue does not meet the current threshold for consideration."

[2017-09-02 02:47] #959 closed

[2017-09-02 02:47] cormacpayne commented on #1010
@twitchax: "Azure PowerShell continues to maintain RDFE support on a legacy basis: new functionality and bug fixes are addressed sparingly.  This issue does not meet the current threshold for consideration."

[2017-09-02 02:47] #1010 closed

[2017-09-02 02:50] cormacpayne commented on #1128
@twitchax: "Azure PowerShell continues to maintain RDFE support on a legacy basis: new functionality and bug fixes are addressed sparingly.  This issue does not meet the current threshold for consideration."

[2017-09-02 02:50] #1128 closed

[2017-09-02 02:52] cormacpayne commented on #1213
@twitchax: "Azure PowerShell continues to maintain RDFE support on a legacy basis: new functionality and bug fixes are addressed sparingly.  This issue does not meet the current threshold for consideration."

[2017-09-02 02:52] #1213 closed

[2017-09-02 02:54] cormacpayne commented on #1238
@twitchax: "Azure PowerShell continues to maintain RDFE support on a legacy basis: new functionality and bug fixes are addressed sparingly.  This issue does not meet the current threshold for consideration."

[2017-09-02 02:54] #1238 closed

[2017-09-02 02:54] cormacpayne commented on #1239
@twitchax: "Azure PowerShell continues to maintain RDFE support on a legacy basis: new functionality and bug fixes are addressed sparingly.  This issue does not meet the current threshold for consideration."

[2017-09-02 02:54] #1239 closed

[2017-09-02 03:03] cormacpayne commented on #1338
Closing as this has been the pattern for KeyVault cmdlets for over a year now.

[2017-09-02 03:03] #1338 closed

[2017-09-02 03:10] cormacpayne commented on #1364
It doesn't appear we ship this cmdlet anymore. Closing this issue as a result.

[2017-09-02 03:10] #1364 closed

[2017-09-02 03:15] cormacpayne commented on #1386
Closing as this appears to have been resolved.

[2017-09-02 03:15] #1386 closed

[2017-09-02 03:21] cormacpayne commented on #1443
@twitchax: "Azure PowerShell continues to maintain RDFE support on a legacy basis: new functionality and bug fixes are addressed sparingly.  This issue does not meet the current threshold for consideration."

[2017-09-02 03:21] #1443 closed

[2017-09-02 03:21] cormacpayne commented on #1525
@twitchax: "Azure PowerShell continues to maintain RDFE support on a legacy basis: new functionality and bug fixes are addressed sparingly.  This issue does not meet the current threshold for consideration."

[2017-09-02 03:21] #1525 closed

[2017-09-02 03:29] cormacpayne commented on #1613
@twitchax: "Azure PowerShell continues to maintain RDFE support on a legacy basis: new functionality and bug fixes are addressed sparingly.  This issue does not meet the current threshold for consideration."

[2017-09-02 03:29] #1613 closed

[2017-09-02 03:32] cormacpayne commented on #1688
@twitchax: "Azure PowerShell continues to maintain RDFE support on a legacy basis: new functionality and bug fixes are addressed sparingly.  This issue does not meet the current threshold for consideration."

[2017-09-02 03:32] #1688 closed

[2017-09-02 03:43] cormacpayne commented on #1780
Closing as this appears to be resolved.

[2017-09-02 03:43] #1780 closed

[2017-09-02 03:46] cormacpayne commented on #1823
@twitchax: "Azure PowerShell continues to maintain RDFE support on a legacy basis: new functionality and bug fixes are addressed sparingly.  This issue does not meet the current threshold for consideration."

[2017-09-02 03:46] #1823 closed

[2017-09-02 03:47] cormacpayne commented on #1824
@twitchax: "Azure PowerShell continues to maintain RDFE support on a legacy basis: new functionality and bug fixes are addressed sparingly.  This issue does not meet the current threshold for consideration."

[2017-09-02 03:47] #1824 closed

[2017-09-02 03:48] cormacpayne commented on #1942
@twitchax: "Azure PowerShell continues to maintain RDFE support on a legacy basis: new functionality and bug fixes are addressed sparingly.  This issue does not meet the current threshold for consideration."

[2017-09-02 03:48] #1942 closed

[2017-09-02 03:50] cormacpayne commented on #2037
@twitchax: "Azure PowerShell continues to maintain RDFE support on a legacy basis: new functionality and bug fixes are addressed sparingly.  This issue does not meet the current threshold for consideration."

[2017-09-02 03:50] #2037 closed

[2017-09-02 03:52] cormacpayne commented on #2109
@twitchax: "Azure PowerShell continues to maintain RDFE support on a legacy basis: new functionality and bug fixes are addressed sparingly.  This issue does not meet the current threshold for consideration."

[2017-09-02 03:52] #2109 closed

[2017-09-02 04:00] cormacpayne commented on #2279
@twitchax: "Azure PowerShell continues to maintain RDFE support on a legacy basis: new functionality and bug fixes are addressed sparingly.  This issue does not meet the current threshold for consideration."

[2017-09-02 04:00] #2279 closed

[2017-09-02 04:03] cormacpayne commented on #2532
@twitchax: "Azure PowerShell continues to maintain RDFE support on a legacy basis: new functionality and bug fixes are addressed sparingly.  This issue does not meet the current threshold for consideration."

[2017-09-02 04:03] #2532 closed

[2017-09-02 04:04] cormacpayne commented on #2608
@twitchax: "Azure PowerShell continues to maintain RDFE support on a legacy basis: new functionality and bug fixes are addressed sparingly.  This issue does not meet the current threshold for consideration."

[2017-09-02 04:04] #2608 closed

[2017-09-02 04:04] cormacpayne commented on #2629
@twitchax: "Azure PowerShell continues to maintain RDFE support on a legacy basis: new functionality and bug fixes are addressed sparingly.  This issue does not meet the current threshold for consideration."

[2017-09-02 04:04] #2629 closed

[2017-09-02 04:08] cormacpayne commented on #2945
@twitchax: "Azure PowerShell continues to maintain RDFE support on a legacy basis: new functionality and bug fixes are addressed sparingly.  This issue does not meet the current threshold for consideration."

[2017-09-02 04:08] #2945 closed

[2017-09-02 04:10] cormacpayne commented on #3034
@twitchax: "Azure PowerShell continues to maintain RDFE support on a legacy basis: new functionality and bug fixes are addressed sparingly.  This issue does not meet the current threshold for consideration."

[2017-09-02 04:10] #3034 closed

[2017-09-02 04:11] cormacpayne commented on #3038
@twitchax: "Azure PowerShell continues to maintain RDFE support on a legacy basis: new functionality and bug fixes are addressed sparingly.  This issue does not meet the current threshold for consideration."

[2017-09-02 04:11] #3038 closed

[2017-09-02 04:11] cormacpayne commented on #3054
@twitchax: "Azure PowerShell continues to maintain RDFE support on a legacy basis: new functionality and bug fixes are addressed sparingly.  This issue does not meet the current threshold for consideration."

[2017-09-02 04:11] #3054 closed

[2017-09-02 04:16] cormacpayne commented on #3464
@twitchax: "Azure PowerShell continues to maintain RDFE support on a legacy basis: new functionality and bug fixes are addressed sparingly.  This issue does not meet the current threshold for consideration."

[2017-09-02 04:16] #3464 closed

[2017-09-02 04:18] cormacpayne commented on #3646
@twitchax: "Azure PowerShell continues to maintain RDFE support on a legacy basis: new functionality and bug fixes are addressed sparingly.  This issue does not meet the current threshold for consideration."

[2017-09-02 04:18] #3646 closed

[2017-09-02 04:21] cormacpayne commented on #3844
@twitchax: "Azure PowerShell continues to maintain RDFE support on a legacy basis: new functionality and bug fixes are addressed sparingly.  This issue does not meet the current threshold for consideration."

[2017-09-02 04:21] #3844 closed

[2017-09-02 04:22] cormacpayne commented on #4137
@twitchax: "Azure PowerShell continues to maintain RDFE support on a legacy basis: new functionality and bug fixes are addressed sparingly.  This issue does not meet the current threshold for consideration."

[2017-09-02 04:22] #4137 closed

[2017-09-02 04:23] cormacpayne commented on #4174
@twitchax: "Azure PowerShell continues to maintain RDFE support on a legacy basis: new functionality and bug fixes are addressed sparingly.  This issue does not meet the current threshold for consideration."

[2017-09-02 04:23] #4174 closed

[2017-09-04 07:21] oryagel opened #4544 "New-AzureRmWebAppSSLBinding Azure Automation compatibility"
### Cmdlet(s)
New-AzureRmWebAppSSLBinding

### PowerShell Version
Instructions: to get PowerShell version, type `$PSVersionTable` and look for the value associated with `PSVersion`
5.0

### Module Version
4.3.1

### OS Version
Instructions: to get OS version, type `$PSversionTable` and look for value associated with `BuildVersion`
10.0.10105.0

### Description
We try to use `New-AzureRmWebAppSSLBi

[2017-09-04 08:16] Injac opened #4545 "AzureRM.Resources missing Output Documentation"
Hi,

looks like there is no source available for the output classes that are returned. Each CMDLet has a namespace for the output, but no link to the actual member documentation:

Sample:

https://docs.microsoft.com/en-us/powershell/module/azurerm.resources/get-azurermadgroup?view=azurermps-4.3.1

Namespace:

System.Collections.Generic.List`1[Microsoft.Azure.Graph.RBAC.Version1_6.ActiveDirectory.P

[2017-09-04 08:53] Jagadt commented on #1586
Any solution for the above issue?

[2017-09-04 10:12] Jagadt opened #4546 "Set-AzureRMResource for Microsoft.Insights/alertrules not working & has criptic Error messages"
### Description
When testing out the Set-AzureRMResource cmdlet and trying to make changes to different resources, I ran into problems when trying to change Microsoft.Insights/alertrules

### Cmdlet(s)

$propertyobject = @{'properties' = @{
'actions' = @{
'properties' = @{
sysid =123} # my custom attribute already set using ARM template
}
}
}
Set-AzureRmResource -PropertyObject $property object -R

[2017-09-04 10:38] vipshnu commented on #4255
PS C:\windows\system32> Remove-AzureRmRecoveryServicesVault

cmdlet Remove-AzureRmRecoveryServicesVault at command pipeline position 1
Supply values for the following parameters:
Vault: RecoveryServicesVault
Remove-AzureRmRecoveryServicesVault : Cannot bind parameter 'Vault'. Cannot convert the "RecoveryServicesVault" value of type "System.String" to type "Microsoft.Azure.Commands.RecoveryServices

[2017-09-05 07:11] adactitsla opened #4548 "AzureRM.OperationalInsights: Not supporting"
### Cmdlet(s)
[code]

### PowerShell Version
[code]

### Module Version
[code]

### OS Version
`BuildVersion                   10.0.15063.502`

### Description
Both _Get-AzureRmOperationalInsightsSearchResults_ and _Get-AzureRmOperationalInsightsSavedSearch_ doesn't support the Kusto query language, even though the OMS/Log Analytics workspace has been upgraded.

I run the following command to pull

[2017-09-05 10:20] omerlh opened #4550 "NullReference when running Get-AzureDeployment"
### Cmdlet(s)
Get-AzureDeployment
### PowerShell Version
 5.1.15063.296
### Module Version
4.3.1
### OS Version
 10.0.15063.296
### Description
Running:
`Get-AzureDeployment -servicename <my service name>`
Result with error:
[code]
This happens only for this cloud service, for other cloud services it is just working.
PS Z:\>
### Debug Output
[code]

### Script/Steps for Reproduction
Login-AzureAcc

[2017-09-05 11:26] arcotek-ltd opened #4551 "Microsoft.PowerShell.DSC 2.70.0.0: Additional version folder added, breaking deployment"
### Cmdlet(s)
N/A: Template deployment

### PowerShell Version
Instructions: to get PowerShell version, type `$PSVersionTable` and look for the value associated with `PSVersion`

### Module Version
2.70.0.0
### OS Version
Instructions: to get OS version, type `$PSversionTable` and look for value associated with `BuildVersion`
Server 2012 R2

### Description
Getting the following error:

[code]

Wh

[2017-09-05 11:31] RussPitcher commented on #4505
Same issue here.  Downgrading to 3.2.1 as suggested fixed the issue.  Thanks for the info.

[2017-09-05 14:12] blarsonrp commented on #1586
@jagadt - I was able to work with Microsoft support. They released an update that resolved the issue. REG:117042315637135

[2017-09-05 16:26] ondas commented on #3407
@RBACAsk - What permissions are necessary for the application to have to get around this error? The webapp/API that's running the command is an owner of the resource group and I believe it has access to the Graph API, but I get the same "Microsoft.Rest.Azure.CloudException: Exception of type 'Microsoft.Rest.Azure.CloudException' was thrown at Microsoft.Azure.Graph.RBAC" error. Running on fully upd

[2017-09-05 17:11] cormacpayne commented on #4548
@haitch Hey Haitao, would you mind taking a look at this issue?

[2017-09-05 18:59] darshanhs90 commented on #3407
@ondas could you run the command with $DebugPreference="Continue" and let us know the exact issue that comes up in that.
The issue mentioned in this thread was fixed in azure powershell V3.9+

[2017-09-05 19:02] ondas commented on #3407
I ended up finding a workaround-- the command was working but throwing an error so I put it in a try block and it fixed it.

[2017-09-05 23:32] sdwheeler opened #4552 "Need documentation for cmdlet output types"
### Description
This is a LiveFyre comment posted to the Get-AzureRmAutomationSchedule cmdlet reference.

We have had several customers ask for this information in different ways. In general I have referred them to the related .NET class but those don't always match exactly with the return types wrapped by the PowerShell provider.

[2017-09-05 23:37] sdwheeler opened #4553 "What order are events returned from Get-AzureRmLog?"
### Cmdlet(s)
Get-AzureRmLog

### Description
Is the result set always ordered by newest event first? This appears to be the case. Is that sometime that can be counted upon

[2017-09-05 23:49] sdwheeler opened #4554 "Does Set-AzureRmSqlDatabaseAuditingPolicy overwrite an existing policy?"
### Cmdlet(s)
Set-AzureRmSqlDatabaseAuditingPolicy

### Description
Documentation for [Set-AzureRmSqlDatabaseAuditingPolicy](https://docs.microsoft.com/en-us/powershell/module/azurerm.sql/set-azurermsqldatabaseauditingpolicy?view=azurermps-4.3.1) states:

This is contrary to what is stated in the [Get started with SQL database auditing](https://docs.microsoft.com/en-us/azure/sql-database/sql-datab

[2017-09-06 00:15] sdwheeler commented on #4479
@twitchax is reviewing the draft I wrote at: https://github.com/sdwheeler/azure-docs-powershell/blob/sdw-macexp/azureps-cmdlets-docs/ResourceManager/docs-conceptual/install-azurermps-maclinux.md

[2017-09-06 06:18] twitchax commented on #4479
LGTM.

Only comment would be to add the supported modules information from here (https://hub.docker.com/r/azuresdk/azure-powershell-core/).

[2017-09-06 06:22] twitchax commented on #4552
I think this may just be a matter of building a docxml for the Azure PowerShell class libraries.  We can have @dend consume those libraries with the docxml.

@markcowl, do the nugey packages for the gallery contain the docxml?

[2017-09-06 07:23] GuofuZhong opened #4555 "New-AzureRmSchedulerHttpJob API haven't retry policy setting?"
### Cmdlet(s)

### PowerShell Version
PSVersion                      5.1.14393.1532
PSEdition                      Desktop
PSCompatibleVersions           {1.0, 2.0, 3.0, 4.0...}
BuildVersion                   10.0.14393.1532
CLRVersion                     4.0.30319.42000
WSManStackVersion              3.0
PSRemotingProtocolVersion      2.3
SerializationVersion           1.1.0.1

### OS Version
Win

[2017-09-06 13:23] BrandonStiff opened #4557 "Set-AzureRmNetworkSecurityGroup - Invalid Address Prefix"
### Cmdlet(s)

Set-AzureRmNetworkSecurityGroup

### PowerShell Version

5.1.15063.502

### Module Version

ModuleType Version    Name
---------- -------    ----
Script     3.3.1      AzureRM.Automation
Script     3.3.1      AzureRM.Compute
Script     4.3.1      AzureRM.Network
Script     3.3.1      AzureRM.profile

### OS Version

10.0.15063.502

### Description

I cannot add a new Security rule u

[2017-09-06 13:43] akinsriv commented on #3979
@kfarris9- There is a workaround if you are looking for a solution to Publish-AzureVMDSCConfiguration. You may do the following:
$StorageAccount= Get-AzureStorageAccount -Name "YouStorageAccount"
$context= $StorageAccount.Context

Now you can pass this $context in any cmdlet which identifies the object type for context as Microsoft.WindowsAzure.Commands.Common.Storage.AzureStorageContext.

Worked

[2017-09-06 13:44] akinsriv commented on #3979
@kfarris9  There is a workaround if you are looking for a solution to Publish-AzureVMDSCConfiguration. You may do the following:
$StorageAccount= Get-AzureStorageAccount -Name "YouStorageAccount"
$context= $StorageAccount.Context
Now you can pass this $context in any cmdlet which identifies the object type for context as Microsoft.WindowsAzure.Commands.Common.Storage.AzureStorageContext.
Worked fo

[2017-09-06 16:03] pablojmp opened #4558 "Get-AzureWebsite : Requested value 'Isolated' was not found"
### Cmdlet(s)
Get-AzureWebsite

### PowerShell Version
5.1.14409.1005

### OS Version
10.0.14409.1005

### Description
We are using powershell to automate app services deployment.
Until today this code used to work fine:
New-AzureRmWebApp -ResourceGroupName "Default-Web-SouthCentralUS" -Name ($appName + "-" + $dirTrailer) -Location "South Central US" -AppServicePlan $serverFarm
$website = Get-Azur

[2017-09-06 16:23] sdwheeler commented on #4479
https://github.com/Azure/azure-docs-powershell/pull/401

[2017-09-06 20:33] vrdmr commented on #4483
From what I we could see, this issue was fixed in the newest release (3.3.1). Could you please update the module and try again?

[code]

[2017-09-06 21:43] sdwheeler commented on #4479
Merged - closing issue.

[2017-09-06 21:43] #4479 closed

[2017-09-06 22:37] dend commented on #4552
The process is a bit different for the PowerShell API Browser (https://docs.microsoft.com/powershell/modules). @sankethka can help with the proper onboarding steps.

[2017-09-07 06:04] omerlh commented on #4550
After talking with Azure Support turned out this is a known issue - I had a certificate config with thumbprint algorithm:
[code]
In the configuration (cscfg) of my service. After fixing it, it works.
Is it possible to have an informative error?

[2017-09-07 06:31] ShilpiRachna opened #4561 "Login-AzureRmAccount"
### Cmdlet(s)
Login-AzureRmAccount

### PowerShell Version
5.1.15063.502

### Module Version
AzureRM (4.3.1)

### OS Version
10.0.15063.502

### Description
We are using Login-AzureRmAccount -ServicePrincipal -CertificateThumbprint $certThumbprint -ApplicationId $applicationId  -TenantId $tenantId to login to Azure for our deployment.

After 1 hour, the connection times out. we are not able to log

[2017-09-07 09:34] JPallavi commented on #4505
Hi,

As a workaround, this issue can be resolved by rolling back to the previous version 4.2.1 -
https://github.com/Azure/azure-powershell/releases/tag/v4.2.1-July2017

Also, please let us know if you are not able to roll back. We are working on this issue and can help in providing private MSI if roll back is not working.

Thanks

[2017-09-07 14:51] juliekoubova commented on #4212
any updates on this?

[2017-09-07 15:37] imtiazh opened #4563 "Get-AzureDeployment throws NullReference Error, missing thumbprintAlgorithm"
### Cmdlet(s)

### PowerShell Version
Instructions: to get PowerShell version, type `$PSVersionTable` and look for the value associated with `PSVersion`

### Module Version

### OS Version
Instructions: to get OS version, type `$PSversionTable` and look for value associated with `BuildVersion`

### Description

### Debug Output
Instructions: to get Debug Output, set `$DebugPreference="Continue"` a

[2017-09-07 15:38] imtiazh commented on #4563
Get-AzureDeployment : Object reference not set to an instance of an object.
At line:1 char:1
+ Get-AzureDeployment -servicename <serviceName>
+ ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    + CategoryInfo          : CloseError: (:) [Get-AzureDeployment], NullReferenceException
    + FullyQualifiedErrorId :
Microsoft.WindowsAzure.Commands.ServiceManagement.HostedServices.Ge

[2017-09-07 16:18] omerlh commented on #4550
Root cause on #4563

[2017-09-07 16:18] #4550 closed

[2017-09-07 16:19] omerlh commented on #4563
Look to me that either the code should handle the case when `thumbprintAlgorithm` is null, or enforce that property when publishing a CloudService.

[2017-09-07 16:38] pragrawa commented on #4255
@jahongirman , you need to pass Vault object to cmdlet Remove-AzureRmRecoveryServicesVault.
You can use below cmdlet to get required vault object
Get-Get-AzureRmRecoveryServicesVault -ResourceGroupName <ResourceGroupName> -Name <VaultName>
E.g.:
    $vault = Get-Get-AzureRmRecoveryServicesVault -ResourceGroupName rg01 -Name RSVault01
    Remove-AzureRmRecoveryServicesVault -Vault $vault

[2017-09-07 16:38] #4255 closed

[2017-09-07 17:59] faridabharmal commented on #4309
Using    4.2.1      AzureRM
Still facing the error when creating a disk
New-AzureRmResourceGroupDeployment : 12:57:47 PM - Resource Microsoft.Compute/disks 'myManagedDataDisk' failed with message '{
  "error": {
    "code": "BadRequest",
    "target": "diskDescription.properties.accountType",
    "message": "Could not find member 'accountType' on object of type 'DiskProperties'. Path 'properties.a

[2017-09-07 21:42] aaron-0 opened #4564 "Get-AzureRmRoleAssignment not returning names of custom roles"
### Cmdlet(s)
Get-AzureRmRoleAssignment -ObjectId $id

### PowerShell Version
5.1.15063.502

### Module Version
4.3.1

### OS Version
10.0.15063.502

### Description
Get-AzureRmRoleAssignment -ObjectId $id doesn't return a value for RoleDefinitionName on custom role assigments:
RoleAssignmentId   : /subscriptions/###/providers/Microsoft.Authorization/roleAssignments/###
Scope              : /subsc

[2017-09-08 03:04] vrdmr commented on #4483
Resolved with updating the module to 3.3.1 from 3.1.0.

[2017-09-08 03:04] #4483 closed

[2017-09-08 07:25] ChandraKamarapu opened #4565 "Hot Add NIC in Linux VM"
### Cmdlet(s)
Add-AzureRmVMNetworkInterface
Update-AzureRmVM

### PowerShell Version
5.1.15063.502

### Module Version

### OS Version
10.0.15063.502

### Description
Trying to hot add a NIC to a running Linux VM.
First a Resource Group is deployed with a Linux VM with a single NIC. Later trying to add a second NIC while the VM is running.
Operation failed with "AddingOrDeletingNetworkInterfacesOn

[2017-09-08 08:23] cgddrd commented on #4056
I can confirm that this is also an issue for `Set-​Azure​Rm​Application​Gateway​Url​Path​Map​Config`. Although they are not documented as required parameters, if I fail to specify values for `-DefaultBackendAddressPool` and `-DefaultBackendHttpSettings`, then I receive the error: `Parameter set cannot be resolved using the specified named parameters.`

[2017-09-08 10:12] stofte opened #4566 "Get-AzureRmMetricDefinition and Service Fabric support"
### Cmdlet(s)

Get-AzureRmMetricDefinition

### PowerShell Version
5.1.15063.502

### Module Version

### OS Version
10.0.15063.502

### Description
Service Fabric support for Metric definitions (and thus usage alerts, I dont care about billing, just usage)

### Debug Output

I've snipped the relevant output (there's too much debug output in general that I feel good posting in a public forum, I ca

[2017-09-08 14:13] FeodorFitsner commented on #3967
Hi guys,

What are the current plans to update JSON library to v10?

[2017-09-08 18:13] cormacpayne commented on #4555
@Sumanan Hey Sumanan, would you mind taking a look at this issue?

[2017-09-08 18:17] cormacpayne commented on #4557
@BrandonStiff would you mind providing the debug output for this command? You can do so by setting `DebugPreference="Continue"` before executing the above script. You can also provide a more detailed error by running the `Resolve-AzureRmError` cmdlet after you see the failure.

@DeepakRajendranMsft would you mind taking a look at this issue?

[2017-09-08 18:22] cormacpayne commented on #4558
@pablojmp using a combination of RDFE and ARM cmdlets is not a supported way to manage resources. Is there a reason you would use `Get-AzureWebsite` over `Get-AzureRmWebApp`? Is there information you are getting from the RDFE cmdlet that you are not receiving from the ARM cmdlet? Also, would you mind providing the debug output from this cmdlet execution by setting `DebugPreference="Continue"` befo

[2017-09-08 18:26] cormacpayne commented on #4561
@ShilpiRachna would you mind providing the error that you are seeing when you try to login again from the same session? Providing the debug stream by setting `DebugPreference="Continue"` would also be very beneficial.

[2017-09-08 18:32] cormacpayne commented on #4563
@imtiazh @omerlh are either of you able to use the ARM cmdlets in the `AzureRM.Websites` module to perform the same actions? If not, we can look into adding this functionality in the ARM cmdlets.

[2017-09-08 18:37] russhack commented on #4385
I've noticed I get the same issue when working in Classic then RM then back to Classic commands.
4.3.1 of Azure Module.
3.3.1 of AzureRM.Compute
5.1.14393.1532 of PSVersion.

get-azurevm : Missing type map configuration or unsupported mapping.
Mapping types:
GuestAgentStatus -> GuestAgentStatus
Microsoft.WindowsAzure.Management.Compute.Models.GuestAgentStatus -> Microsoft.WindowsAzure.Commands.Ser

[2017-09-08 18:38] cormacpayne commented on #4564
@darshanhs90 would you mind looking at this issue? The suggested fix is the following:

1) Make sure the `RoleDefinitionName` is provided when a user gets the role assignment
2) Implement a new parameter set for `Remove-AzureRmRoleAssignment` that takes an `InputObject` of type `PSRoleAssignment` by value so users are enabled in the above piping scenario.

Please feel free to reach out to us if yo

[2017-09-08 18:40] cormacpayne commented on #4565
@DeepakRajendranMsft Hey Deepak, would you mind taking a look at this issue? Is this by design in the API?

[2017-09-08 18:42] cormacpayne commented on #4566
@gucalder Hey Guillermo, would you mind taking a look at this issue? If this should be assigned to the ServiceFabric team, please let us know.

[2017-09-08 18:45] cormacpayne commented on #4546
@gucalder Hey Guillermo, would you mind taking a look at this issue?

[2017-09-08 18:48] cormacpayne commented on #4544
@twitchax we should have a discussion with Azure Automation about handling certificate types

[2017-09-08 18:50] pablojmp commented on #4558
We're getting the same information from both cmdlets. We are already testing with Get-AzureRmWebApp, but Get-AzureWebsite is used in several automatic deploys, so changing every occurrence could be burdensome.
After running:
`Get-AzureWebSite -Name "cadworx-master-3-3-0"`
we get the following log:
[debug_log.txt](https://github.com/Azure/azure-powershell/files/1288834/debug_log.txt)
(authenticatio

[2017-09-08 18:51] cormacpayne commented on #4543
@v-Ajnava would you mind taking a look at this? It looks like the markdown help wasn't updated after making some changes in the last release.

[2017-09-08 18:53] cormacpayne commented on #4538
@georgeedwards what version of the `AzureRM.Profile` module are you using? You can get this by running `Get-Module -ListAvailable`. Also, would you mind providing the debug output by setting `DebugPreference="Continue"` before executing the above cmdlet?

[2017-09-08 19:13] bdanse opened #4568 "Get-AzureRmsubscription results not passing to Set-AzureRmContext"
### Cmdlet(s)
Get-AzureRmSubscription

### PowerShell Version
 5.1.14409.1012

### Module Version
4.3.1

### OS Version
10.0.14409.1012

### Description
Working with multiple subscriptions in Azure I sometimes need to switch subscriptions. I was used to do this using Get-AzureRmsubscription | Out-gridview -Passthru | Select-Azurermsubscription. But with the last version of azure powershell I am un

[2017-09-08 19:31] darshanhs90 commented on #4564
Sure will look into this and get back to you incase of any queries

[2017-09-08 20:01] bdanse commented on #4568
I tested some more. Looks like its not SubscriptionId but SubscriptionName.

`PS > Get-AzureRmSubscription | Out-GridView -PassThru | Set-AzureRmContext -Debug
DEBUG: 21:47:34 - SetAzureRMContextCommand begin processing with ParameterSet 'SubscriptionName'.`
Resulting in not selecting the correct subscription.

`Get-AzureRmSubscription | Out-GridView -PassThru |  Select SubscriptionId | Set-AzureR

[2017-09-08 20:31] darshanhs90 commented on #4564
from what i checked,we do provide the roledefinitionname in the get call,irrespective of it being a custom RD or Builtin RD
PS E:\posh code> New-AzureRmRoleAssignment -ObjectId "43440d39-6989-44d5-8129-091277366972" -RoleDefinitionName $roledefname -Scope $scope

RoleAssignmentId   : /subscriptions/4004a9fd-d58e-48dc-aeb2-4a4aec58606f/ResourceGroups/rbactest/providers/Microsoft.Authorization/roleA

[2017-09-08 21:42] imtiazh commented on #4563
We are using this cmdlet to deploy Classic PaaS cloud Services, not sure how we can use the ARM cmdlets in the  AzureRM.Websites  module. If there is an example for this, it will be helpful.

[2017-09-09 00:30] darshanhs90 commented on #4420
Closing this since the new version has been released

[2017-09-09 00:30] #4420 closed

[2017-09-09 00:36] darshanhs90 commented on #3079
Closed as this was resolved with V 4.3.1

[2017-09-09 00:36] #3079 closed

[2017-09-09 06:20] ShilpiRachna commented on #4561
Hi, I get an error "Keyset does not exist".

The debug stream:
DEBUG: [Common.Authentication]: Authenticating using configuration values: Domain:
'xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx', Endpoint: 'https://login.microsoftonline.com/', ClientId:
'xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx', ClientRedirect: 'urn:ietf:wg:oauth:2.0:oob', ResourceClientUri:
'https://management.core.windows.net/', ValidateAuth

[2017-09-09 08:58] georgeedwards commented on #4538
@cormacpayne
[code]

[2017-09-10 03:41] omerlh commented on #4563
Same here, I am using it to get details about the production deployment of Cloud Service.

[2017-09-10 04:59] mganeshphani commented on #340
Just for the sake of people who reach this thread via Google/Bing .. looks like nallurisrinu's suggestion is working out here...

$connStrings = @{ AzureWebJobsDashboard = @{ Type = "Custom"; Value = $AzureWebJobsDashboard };
AzureWebJobsStorage = @{ Type = "Custom"; Value = $AzureWebJobsStorage }};
Set-AzureRMWebApp -Name $webServiceName -ResourceGroupName $rgName -ConnectionStrings $connStrings

[2017-09-10 15:39] shurick81 commented on #4376
I tried a workaround and it worked for me: before taking an image I removed the dsc extension from the machine via Remove-AzureRmVMDscExtension command.

[2017-09-10 17:01] blackhill opened #4570 "Calculated MD5 does not match existing property when using Start-AzureStorageBlobCopy"
### Cmdlet(s)
Start-AzureStorageBlobCopy

### PowerShell Version
5.1.15063.502

### Module Version

### OS Version
10.0.15063.502

### Description
When copying a blob from one storage account to another with Start-AzureStorageBlobCopy, the calculated MD5 does not match existing property. Is this the expected behavior?

[2017-09-10 21:25] BrandonStiff commented on #4557
I captured the debug output and have it ready.  I'd rather not publicly post it.  Where can I send it?
________________________________
From: Cormac McCarthy <notifications@github.com>
Sent: Friday, September 8, 2017 2:20 PM
To: Azure/azure-powershell
Cc: Brandon Stiff; Mention
Subject: Re: [Azure/azure-powershell] Set-AzureRmNetworkSecurityGroup - Invalid Address Prefix (#4557)

@BrandonStiff<htt

[2017-09-11 05:55] markcowl opened #4571 "Run scenario tests in Azure Automation"
## Description

- Select and attribute tests from core modules to run live in Azure Automation
  - [ ] Compute
  - [ ] Storage Management
  - [ ] Storage data plane
  - [ ] Network
  - [ ] KeyVault
  - [ ] Sql
  - [ ] Websites

- Determine how tests should be represented in Azure Automation to meet the following requirements
  - [ ] Tests can be run for any build of Azure PowerShell
  - [ ] Test r

[2017-09-11 07:30] blueww commented on #4570
@blackhill, the ContentMD5 in the blob property might not match the blob content, it's just a property set by user. (only change a blob content, the ContentMD5 in the blob property won't change accordingly until user reset it).

And Start-AzureStorageBlobCopy will copy both blob content and blob properties. If the source blob content not match the blob contentMD5 in property, this can happen.  And

[2017-09-11 09:26] takekazuomi opened #4572 "remove AlloowGatewayTransit in next major release."
### Cmdlet(s)
Add-AzureRmVirtualNetworkPeering

### PowerShell Version
 5.1.15063.502

### Module Version
 4.3.1      AzureRM.Network

### OS Version
10.0.15063.502

### Description
Currently AlloowGatewayTransit is alias of AllowGatewayTransit.   Originally AlloowGatewayTransit was a typo, it was fixed in 3.1.0.

https://github.com/Azure/azure-powershell/pull/2775

https://github.com/Azure/azure-

[2017-09-11 10:20] blueelvis opened #4573 "Add more information about Suspend-AzureRMAutomationJob"
### Cmdlet(s)
Suspend-AzureRMAutomationJob
### PowerShell Version
Instructions: to get PowerShell version, type `$PSVersionTable` and look for the value associated with `PSVersion`
5.1.15063.502
### Module Version
3.3.1
### OS Version
Instructions: to get OS version, type `$PSversionTable` and look for value associated with `BuildVersion`
10.0.15063.502
### Description
I think that some documentat

[2017-09-11 10:21] blueelvis commented on #4573
I have created a commit for this in a fork over here - https://github.com/blueelvis/azure-powershell/commit/d2fc02053473cb1851e6ab1fd69f37ab44c80d39

Can I create a PR for this?

Also, I think that the Resume-AzureRMAutomationJob could have this explanation as well. What do you think?

[2017-09-11 11:13] blackhill commented on #4570
Each time I use Start-AzureStorageBlobCopy I get an invalid MD5.
As I am using the C# SDK to manipulate blobs, I can disable MD5 check with BlobRequestOptions.
In order to have a valid MD5, I have to handle the copy manually with Get-AzureStorageBlobConten and Set-AzureStorageBlobContent.

[2017-09-11 14:56] ptoluganti commented on #4376
Thank you. yes, removing dsc extension before taking snapshot did work. Also as an alternate you can have two configurations in the same .ps1 and call the first one before taking snapshot and the other one later.

[2017-09-11 14:58] ptoluganti commented on #4376
Thank you, Yes removing DscExtension before taking snapshot did work. Also as an alternate you can have two configurations in the same .ps1 and call the first one before taking snapshot and the other one later.

[2017-09-11 15:54] mxplusb opened #4574 "Installing AzureRM fails with overwrite errors"
### Cmdlet(s)

### PowerShell Version

`5.1.15063.483`

### Module Version

### OS Version

64-bit 15063.483

### Description

`Install-Module AzureRM` fails with `This module 'Azure.Storage' may override the existing commands.`

### Debug Output

[code]

### Script/Steps for Reproduction

[code]

or

[code]

[2017-09-11 16:45] cormacpayne commented on #4572
@DeepakRajendranMsft Hey Deepak, I am adding this issue to the next breaking change milestone.

[2017-09-11 17:42] markcowl commented on #4574
Why are you using Install-Package instead of Install-Module?

[2017-09-11 17:42] cormacpayne commented on #4573
@blueelvis Hey Pranav, thanks for making these changes to your documentation! Feel free to create a PR whenever you find a change that needs to be made to our documentation (or if you find any bugs/issues in general). Just as an FYI, we won't be merging in PRs in the public repository for the next two weeks as we prepare for the Ignite release.

@vrdmr would you mind looking at the commit that Pra

[2017-09-11 17:50] mxplusb commented on #4574
I get the error with both.

[code]

I think I accidentally typed `Install-Package` in the reproduction steps. The debug output uses `Install-Module`. Sorry, I'll fix it.

[2017-09-11 19:45] BrandonStiff commented on #4557
I emailed the debug output directly to @DeepakRajendranMsft.  Let me know if you need anything else or if you need me to reproduce it again.

[2017-09-11 20:26] BrandonStiff commented on #4557
@DeepakRajendranMsft found the issue.  This was on my end.  The CIDR I was using was invalid.  It should have been:

50.206.209.64/27

I'm going to close this issue.  Thanks for the prompt response and sorry for the trouble!

[2017-09-11 20:26] #4557 closed

[2017-09-11 21:23] darshanhs90 commented on #4564
Create a PR for remove-azurermroleassignment modification
https://github.com/Azure/azure-powershell/pull/4575

[2017-09-11 21:48] darshanhs90 commented on #4051
@pascalnaber This issue seems to be fixed from https://github.com/Azure/azure-powershell/issues/3407
Let us know if you are getting the same error even after using the new azure powershell version viz 4.3.1

[2017-09-11 21:49] darshanhs90 commented on #3884
Linked to https://github.com/Azure/azure-powershell/issues/4248

[2017-09-12 00:12] aaron-0 commented on #4564
If it's returning correctly for you is there any further investigation you would like me to do on my end?

[2017-09-12 02:19] blueww commented on #4570
@blackhill

Could you please give more details of your scenario and requirement? I still don't quite understand it.
1. What do you mean "I get an invalid MD5.", Do you mean PowerShell will report MD5 error , or the destination blob property ContentMD5 is not aligned with the source Blob property ContentMD5?
2. What do you mean by "But I want this MD5 validation." Do you want PowerShell help to han

[2017-09-12 17:29] rbitia commented on #2939
Hi - I'm creating a storage account and I'm getting this error: Deployment failed. The resource identifier of the KeyVault parameter 'storageaccountkey' is invalid. Please specify the value following 'subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/Microsoft.KeyVault/vaults/{vaultName}' format. See https://aka.ms/arm-keyvault for usage details.

I set myself as an owner

[2017-09-12 22:11] afengli opened #4580 "Add timeout for ARM rest requests such as set-AzureRMResource"
### Cmdlet(s)

### PowerShell Version
Instructions: to get PowerShell version, type `$PSVersionTable` and look for the value associated with `PSVersion`

5.1.14393.1480

### Module Version

4.3.1

### OS Version
Instructions: to get OS version, type `$PSversionTable` and look for value associated with `BuildVersion`
10.0.14393.1480

### Description
In current ARM rest client design, there is no ti

[2017-09-12 22:12] afengli commented on #4580
From debug, the call stack of wait is:

 # Call Site
00 Microsoft_Azure_Commands_ResourceManager_Cmdlets!Microsoft.Azure.Commands.ResourceManager.Cmdlets.RestClients.ResourceManagerRestClientBase.SendRequestAsync(System.Net.Http.HttpMethod, System.Uri, Newtonsoft.Json.Linq.JToken, System.Threading.CancellationToken)
01 Microsoft_Azure_Commands_ResourceManager_Cmdlets!Microsoft.Azure.Commands.Resou

[2017-09-13 08:26] zaidmohd opened #4581 "Azure credentials Error in Azure PS Module 3.5 and above"
### Cmdlet(s)
Publish-AzureWebsiteProject

### PowerShell Version
Instructions: to get PowerShell version, type `$PSVersionTable` and look for the value associated with `PSVersion`
PSVersion                      5.1.15063.502

### Module Version
Azure Module Version 3.5 and above

### OS Version
Instructions: to get OS version, type `$PSversionTable` and look for value associated with `BuildVersio

[2017-09-13 08:49] RonnieViklund commented on #1665
Also experiencing similar issues trying to implement Azure Powershell monitoring in SCOM against different subscriptions in the same tenant, seems you can only work against one subscription at a time.

[2017-09-13 17:08] eshaparmar commented on #4551
@arcotek-ltd - there was no change in the extension in 2.70 that would have caused this. Most likely its the packaging of the resource that must have changed. I would be curious to see the extension logs and the zip that gets packaged and fed to the extension. When you get a chance please email me @ - esparmar@microsoft.com

[2017-09-13 17:13] markcowl commented on #4581
@zaidmohd can you provide a debug log, per the instructiosn above?  This will help in debugging the issue

[2017-09-13 17:16] markcowl commented on #4319
Checked in fix will be released with Ignite (September release)

[2017-09-13 17:16] #4319 closed

[2017-09-13 18:52] FredrikGoransson commented on #1665
Not sure if this is a solution for others, but it solved the issue for me. My situation was a dual-account (Microsoft and Work account) connected to the same email (my work email). The Microsoft account was invited as a guest user in another Azure Active Directory. Up until some point in May I was able to access the Azure subscriptions in that tenant I was invited to with ```Login-AzureRmAccount``

[2017-09-13 19:33] javiermarasco commented on #3407
I'm having the same issue using a user that's owner in the subscription I'm running the command. This was working just fine a couple of months ago.

[2017-09-13 19:39] darshanhs90 commented on #3407
javiermarasco could you run the command after setting $DebugPreference="Continue" and provide us with the log, so that it will be easier to find out the issue causing this

[2017-09-13 20:24] javiermarasco commented on #3407
@darshanhs90 the command simply doesn't complete, I enabled the -debug flag in the command and only get this:
DEBUG: 05:17:28 p.m. - GetAzureRoleAssignmentCommand begin processing with ParameterSet 'EmptyParameterSet
'.
DEBUG: 05:17:30 p.m. - using account id 'user@comain.com'...

the account is edited, it shows my account.

[2017-09-13 22:54] markcowl commented on #2935
Fixed

[2017-09-13 22:54] #2935 closed

[2017-09-13 22:58] markcowl commented on #1835
Fixed for the authentication-related classes.  All AzureRm cmdlets have a -AzureRmContext parameter using types that are serializable, so, now you will be able top use:

[code]

[2017-09-13 22:58] #1835 closed

[2017-09-13 22:58] markcowl commented on #4431
Fixed.

[2017-09-13 22:58] #4431 closed

[2017-09-13 22:58] #4433 closed

[2017-09-13 22:58] #4427 closed

[2017-09-13 23:00] markcowl commented on #4486
Closign since there hasn't been a response for 19 days.  Please reopen or open a new issue if you see a recurrence.

[2017-09-13 23:00] #4486 closed

[2017-09-13 23:02] markcowl commented on #3656
Fixed

[2017-09-13 23:02] #3656 closed

[2017-09-13 23:12] markcowl opened #4584 "Investigate using ARM APIs to set up RDFE certficiates"
### Description

Investigate a client-side tool to
- [ ] Generate a self-signed certificate
- [ ] Install into appropriate certificate store
- [ ] Upload certificate to a supplied set of subscriptiosn the user has access to
- [ ] Optionally export the certificate and private key into a pkcs file and print instructiosn for deploying to other machines
- [ ] Explore whether this could be a stand-alon

[2017-09-13 23:20] markcowl opened #4585 "Update ADAL Library"
### Description

- [ ] Update Azure Authentication Library to use the latest 3.x version of ADAL
- [ ] Consume the new ADAL in Azure PowerShell
- [ ] Verify login scenarios
  - [ ] UPN + password
  - [ ] UPN with popup
  - [ ] SPN + cert
  - [ ] SPN + secret
  - [ ]  CSP scenarios
  - [ ] Verify across mooncake, BlackForest, Stack (adfs & aad)

### Cost: 8

[2017-09-13 23:25] markcowl opened #4586 "Additional Tests for Import- and Save-Context"
### Description

Perform additional validation for saving and importing contexts
- [x] Old context versus new context
- [x] Autosave and not autosave
- [x] overwriting and not overwriting data

### Cost: 2

[2017-09-13 23:37] markcowl opened #4587 "Additional tests for locks in Session, Context files"
### Description

- [ ] Add additional validation for concurrent access to azure session creation
  - [ ] Module import versus Enable/Disable Autosave cmdlets
  - [ ] Concurrent module Import
- [ ] Add additional validation for context file locking
  - [ ] Loading modules concurrently in multiple sessions
  - [ ] Making concurrent changes to context files

### Cost: 2

[2017-09-13 23:43] markcowl opened #4588 "Help Updates for new -DefaultProfile parameter"
### Description

- [x] Update cmdlet help for AzureRm cmdlets including new blurb
- [x] Add a new help topic on contexts in the AzureRM Profile, if possible
- [x] Update conceptual documentation for new cmdlets

### Cost: 4

[2017-09-13 23:46] markcowl opened #4589 "Update ClientRuntime to 2.3.10"
### Description

- [x] Update ClientRuntime in modules to 2.3.10

### Cost: 1

[2017-09-13 23:49] markcowl opened #4590 "Basic Tests for new modules on PS 3, 4, 5"
### Cost

- [x] Run smoke tests on ps 3, 4, and 5 with
  - [x] ```AppData\Windows Azure PowerShell``` directory missing and Autosave off
  - [x]  ``AppData\Windows Azure PowerShell``` directory available and Autosave off
  - [x] ```AppData\Windows Azure PowerShell``` directory missing and Autosave on
  - [x]  ``AppData\Windows Azure PowerShell``` directory available and Autosave on

### Cost: 2

[2017-09-13 23:56] markcowl opened #4591 "Refactor cmdlet model type assemblies"
### Description

- [ ] For cmdlets with model types, split implementation into model types and cmdlets assemblies
- [ ] Generate model type docuemntation and place in documentation fodler as part of build
- [ ] Create a common types assembly for use by all modules.  This should include common types for Resource, and any types to be shared between cmdlets

### Cost: 10

[2017-09-14 00:00] markcowl opened #4592 "Document common code"
### Description
- [ ] Write description for each common code assembly and when it is appropriate to use it
- [ ] Write documentation for common code types and their intended usage
- [ ] Suggest common code pieces to remoive and refactor
- [ ] Propose changes to assembly naming for increased discoverability and consistency

### Cost: 10

[2017-09-14 01:27] markcowl opened #4593 "Normalize ClientRuntime and TestFramework versions for Tests"
### Description

- [ ] Normalize versions of ClientRuntime, ClientRuntime.Azure, ClientRuntime.Azure.Authentication across test projects
- [ ] Work with feature teams to re-record any test failures caused by slight differences in the calling pattern

### Cost: 8

[2017-09-14 07:44] RonnieViklund commented on #1665
@FredrikGoransson I use SPN so that's not the same issue for me, my work around is unfortunately to do REST calls and skipping azure powershell entirely due to this issue.

[2017-09-14 08:47] ironicLemon commented on #4445
Are there any plans to investigate this? The issue is impacting us.

[2017-09-14 12:23] javiermarasco commented on #3407
@darshanhs90 Any idea on what this could be? I'm completely lost here, this worked just fine a couple of months ago.

[2017-09-14 15:19] mqlkmd commented on #4201
Hallo,
Could this be reopened?
Im seeing the exact same issue when using these cmdlets through the VSTS service principal.
Get-AzureRmRoleAssignment throws a CloudException. New-AzureRmRoleAssignment throws a Hyak.Common.CloudException when the assignment already exists and a Microsoft.Rest.Azure.CloudException if it doesn't exists. However, the assignment operation actually succeeds.

[2017-09-14 17:41] solankisamir opened #4595 "[Nov Release] Update Cmdlets to use SecureString and PsCredentialType"
### Cmdlet(s)
- New-AzureRmApiManagementBackendProxy
- New-AzureRmApiManagementUser
- Set-AzureRmApiManagementUser

### PowerShell Version
Instructions: to get PowerShell version, type `$PSVersionTable` and look for the value associated with `PSVersion`

### Module Version

### OS Version
Instructions: to get OS version, type `$PSversionTable` and look for value associated with `BuildVersion`

###

[2017-09-14 20:37] maddieclayton opened #4596 "Update Compute cmdlet to use SecureString or PSCredential types"
### Cmdlet(s)
Set-AzureRmVMAccessExtension
### PowerShell Version
Instructions: to get PowerShell version, type `$PSVersionTable` and look for the value associated with `PSVersion`

### Module Version

### OS Version
Instructions: to get OS version, type `$PSversionTable` and look for value associated with `BuildVersion`

### Description
Update Compute cmdlet to use SecureString (for a single pass

[2017-09-14 23:45] darshanhs90 commented on #3407
@javiermarasco Could you use the latest azure powershell https://github.com/Azure/azure-powershell/releases/tag/v4.3.1-August2017 and let me know if that helps.
If that doesnt work ,you can provide me with the fiddler trace or debug output for me to dig deep into the issue.

[2017-09-15 00:02] mxplusb opened #4597 "Cannot get resources using Get-AzureRmResourceProvider"
### Cmdlet(s)

`Get-AzureRmResourceProvider`

### PowerShell Version

[code]

### Module Version

Latest

### OS Version

![image](https://user-images.githubusercontent.com/7537841/30460711-5d725cb6-996d-11e7-9b76-08f727bdef9d.png)

### Description

I am trying to get a list of regions compute features are available in, but it asks me to log in each time, even though I am already logged in.

### D

[2017-09-15 19:55] vanbasten2323 commented on #4563
We have the same problem. After using the "-debug", we can see all the role instances' status. So it looks like the cmdlet successfully got the deployment info but failed to parse the output. In our cscfg, we have <Certificate name="certName" sourceLocation="locationUri">. I also tried to append the "thumbprintAlgorithm="sha1" after the sourceLocation in cscfg file but the cmdlet still failed. Any

[2017-09-16 01:24] vrdmr commented on #4573
@blueelvis Hey Pranav, Thanks for updating the documentation. Please feel free the create the PR and we'll review it to make sure it goes into next release.

[2017-09-16 01:33] #4573 closed

[2017-09-16 01:36] vrdmr commented on #4499
@arcotek-ltd Thanks for the repro steps. The issue has to do with better handling of error from our end. The "The Automation account was not found." is just the final fallback message. That needs to be fixed on our end and we have added this to our backlog. We'll try to get the issue fixed as soon as possible.

[2017-09-16 17:34] KirkMunro commented on #4035
Any movement on this issue? In the docs Example 2 (Get-AzureRmResource -ResourceGroupName ContosoRG01) fails because the parameter sets are not defined correctly. There should be no ambiguity when using this command to enumerate all resources in a resource group, and this is such a basic task that it really should be working. The alternative is ugly too: get all resources in all resource groups an

[2017-09-16 20:23] bergmeister opened #4600 "Start-AzureRmVM and Stop-AzureRmVM execution requires waiting until machine is up/down"
### Cmdlet(s)
 - Start-AzureRmVM
 - Stop-AzureRmVM
### Module Version
Current (4.3.1)
### Description
Currently the`Start/Stop-AzureRmVM` cmdlets are blocking until the VM is up/down and although one can put their execution in a `PSRemotingJob`, one still has to wait until the cmdlet has finished. If one closes e.g. the `PowerShell` window before the background job has finished (and therefore the

[2017-09-17 03:41] omerlh commented on #4563
Not sure I follow, but we are talking about an issue that is related to the certificate part of the cscfg:
[code]
Please notice the `thumbprintAlgorithm` attribute, that was the issue in my case....

[2017-09-17 15:26] gregjhogan opened #4601 "Update Get-AzureRmVMExtension to support returning all extensions for a VM"
Currently, Get-AzureRmVMExtension requires a resource group name, a VM name, and an extension name.  Sometimes you want to know if a particular extension is installed, and you have no idea what someone might have specified for a name.  If Get-AzureRmVMExtension supported returning all VM extensions for a VM (only specify a resource group name and VM name) this would be easy.

The work-around for n

[2017-09-18 01:35] markcowl commented on #4454
The new automation runbook for smoke tests is now set up

[2017-09-18 01:35] #4454 closed

[2017-09-18 01:36] markcowl commented on #4517
Fixed.