[2020-05-06 22:43] jpsebasti commented on #8570
More pathetic documentation from Microsoft

[2020-05-06 23:22] MehaKaushik commented on #11290
-Detailed parameter is going to be deprecated in future releases, following which throughput would be available in the resource's respective GetResults object.

[2020-05-06 23:22] #11290 closed

[2020-05-06 23:24] MehaKaushik commented on #11289
-Detailed parameter is going to be deprecated in future releases, following which throughput would be available in the resource's respective GetResults object.

[2020-05-06 23:24] #11289 closed

[2020-05-06 23:24] MehaKaushik commented on #11287
-Detailed parameter is going to be deprecated in future releases, following which throughput would be available in the resource's respective GetResults object.

[2020-05-06 23:24] #11287 closed

[2020-05-06 23:38] zjalexander commented on #11400
internal bugid 187182610

[2020-05-06 23:40] arcotek-ltd opened #11825 "New-AzADAppCredential certificate does not show in portal"
## Description

When attempting to create a new certificate-based credential for an _existing_ service principal, the certificate is created, but does not show in the portal (App registrations > {app_name} > certificates & secrets), whereas, using the same technique to create the certificate but generating a new service principal, the certificate shows up.

## Steps to reproduce
As per your docs:

[2020-05-07 01:40] arcotek-ltd commented on #8163
It would appear that many of the PowerShell cmdlets use the old `Azure Active Directory Graph` API as opposed to the newer `Microsoft Graph` that is supposed to replace it.

Several cmdlets from `Az.Resources` (v. 1.13.0) refuse to authenticate using `Microsoft Graph`.

Perhaps someone from @Microsoft would care to comment.

[2020-05-07 02:11] Francisco-Gamino commented on #10547
Adding support for -AsJob. However, the internal generated cmdlet does not support -NoWait.

[2020-05-07 02:13] Francisco-Gamino commented on #11319
This is tracked by https://github.com/Azure/azure-powershell/issues/11443.

[2020-05-07 02:13] #11319 closed

[2020-05-07 03:09] blueww commented on #11788
@paulomorgado
It's a good idea to add the example to help, I have updated  `Get-AzStorageBlobCopyState` help file, by 1. add description to indicate Get copy status should run on destination blob; 2. Add example for pipeline `Start-AzStorageBlobCopy` to ` Get-AzStorageBlobCopyState` in https://github.com/Azure/azure-powershell/pull/11815. The help update will be release in the next PSH rlease.

BT

[2020-05-07 06:41] janegilring commented on #11794
Sounds great, thanks!

[2020-05-07 06:41] #11794 closed

[2020-05-07 07:51] paulomorgado commented on #11788
@Blueww,

Other than copying from your comments without reading (sorry about that), I never mentioned BlobCopy. This issues has always been about FileCopy.

[2020-05-07 08:31] EmilienCourt opened #11835 "Update-AzVmss not applying NSG properly at VMSS' NIC level"
## Description

Looking at VMSS's `VirtualMachineProfile.NetworkProfile.NetworkInterfaceConfigurations` in Powershell, it seems like you can apply NSGs directly at the scale set "interface"'s level (`VirtualMachineProfile.NetworkProfile.NetworkInterfaceConfigurations[0].NetworkSecurityGroup`), which will apply the NSG to the interface of the instances of the VMSS.

However, the NSG is not applied

[2020-05-07 09:26] isra-fel commented on #9427
Az.Accounts 2.0.1-preview was out: https://www.powershellgallery.com/packages/Az.Accounts/2.0.1-preview
We've updated the version of the authentication lib we used. Could you try with it? Thanks

[2020-05-07 12:03] tgeorgiev commented on #8897
Sorry to join on this a bit late, but is there a statement how we can set proxy settings so that the Azure client will use them? Doing the same as @v-akhana as well as setting env variables HTTP_PROXY and HTTPS_PROXY, and Connect-AzAccount fails with operation cancelled

Observing the proxy server it doesn't look like any requests are being made to it.

[2020-05-07 14:40] Obiwan72 commented on #10975
Any update on this issue?

[2020-05-07 17:55] Tailslide commented on #9949
I have this error come and go.. one day my script will work fine, another day I get this error.  I don't make any changes and it just seems to randomly come up or go away.

[2020-05-07 19:07] ChrisCalzaretta commented on #9949
The execution policy has been is set correct the whole time. Cant to most of the stuff i do in a restricted mode

[2020-05-07 19:31] Tailslide commented on #9949
It doesn't seem to be execution policy.. if I reinstall Az it starts working with no other changes.
It will also start working if I wait a day or two and try it later without making any changes at all.

[2020-05-08 03:27] #11788 closed

[2020-05-08 03:31] blueww commented on #11788
@paulomorgado
The PR to update the output object of Start-AzStorageFileCopy's help docs is merged.
So the issue is closed.

Feel free to contact us again if you have any other question, or need any other assistance.

[2020-05-08 04:56] jeffpatton1971 commented on #3093
4yrs later? I guess better late than never!

[2020-05-08 04:57] jeffpatton1971 commented on #2334
Cleaning house I suppose

[2020-05-08 07:45] Catskan commented on #11653
Hi guys,

Have you any news to this issue ?

Thanks

[2020-05-08 08:41] VeryEarly commented on #11786
Hi @suhasaraos ,

It's possible the API version used in powershell cmdlet is outdated, can you please share the REST API uri/version you are using?

[2020-05-08 09:40] dingmeng-xue commented on #11835
Compute team, please look into this issue.

[2020-05-08 09:54] dingmeng-xue commented on #11822
Those test cases were skipped more than one year. It seems old cmdlets are removed. I involve Automation team to double check it.

[2020-05-08 09:54] dingmeng-xue commented on #11817
Compute team, please look into this issue.

[2020-05-08 09:56] dingmeng-xue commented on #11816
Service team, please evaluate this feature request.

[2020-05-08 09:56] dingmeng-xue commented on #11811
Involve API Management team to look into it.

[2020-05-08 09:58] dingmeng-xue commented on #11812
@eriwan, please evaluate this feature.

[2020-05-08 12:09] o-l-a-v commented on #11492
This is a real problem. I've used various output streams to get alerted about various events with Log Analytics query alerts, but with runbooks with Az module, this is now totally broken.

[2020-05-08 12:28] dingmeng-xue commented on #11492
We are still investigating it. Except runbook environment, the log works fine. We haven't figure out what difference between PowerShell and runbook environment.

[2020-05-08 12:28] o-l-a-v commented on #11439
@dingmeng-xue

Have you had the chance to look at this yet? I'm now having to create workarounds for runbooks where I'd want to use different output streams to catch different kind of events. Warning and Verbose outputs are silenced, both in test window, job output, and if sending output to log analytics workspaces.

[2020-05-08 12:29] dingmeng-xue commented on #11492
In addition, could you try Az.Accounts 2.0.x-preview?

[2020-05-08 12:38] o-l-a-v commented on #11492
I might have time to try that, but can't promise anything. Have you tested it already/ why can't you test it?

[2020-05-08 12:40] dingmeng-xue commented on #11492
Yes, I got from Automation team that they are using this approach to mitigate the issue. Currently, we are comparing 2 versions but Automation environment is very hard to be debugged.

[2020-05-08 14:51] paulomorgado opened #11851 "Get-AzStorageFileCopyState docs"
* ms.assetid: C1648DC3-8CFD-4487-A080-D9BE25DAD258
* Source: https://github.com/Azure/azure-powershell/blob/master/src/Storage/Storage.Management/help/Get-AzStorageFileCopyState.md
* Online: https://docs.microsoft.com/en-us/powershell/module/az.storage/get-azstoragefilecopystate

If the output is a `CloudFile`, how do I know the state of the file copy? Does it return null if the copy is not comple

[2020-05-08 20:14] whisper6284 opened #11852 "Build fails: Running msbuild build.proj yields a C:\o\corextpkgs\office\opt"
## Description

I forked this repo, and followed the instructions here up to Building the Environment.

In the step when running msbuild build.proj, I receive a build error.

## Steps to reproduce

1. I forked the repo Azure/azure-powershell.
2. I followed the instructions here up to Building the Environment.
3. At the step msbuild build.proj, I receive a 'File Not Found' error. Namely, C:\o\corex

[2020-05-09 01:28] jasonxdhu opened #11854 "Key Vault PowerShell cannot import openssl generated key"
## Description
This issue is reported by a customer.

Customer uses openssl to generate a key and tries to import key into key vault with PowerShell. It errors out.

The same key can be imported via Azure portal. So the key is not the issue and PS command is.

## Steps to reproduce

[1] Use openssl.exe generate key
[code]

[2]
[code]

## Module versions

[code]

## Debug output

[code]

## Error o

[2020-05-09 01:38] msJinLei commented on #11057
https://github.com/Azure/azure-powershell/pull/11707

[2020-05-09 01:38] #11057 closed

[2020-05-09 04:54] dingmeng-xue commented on #11854
@isra-fel , please evaluate this issue.

[2020-05-09 04:57] dingmeng-xue commented on #11852
@whisper6284, could you please share the instruction?

[2020-05-09 04:59] dingmeng-xue commented on #11851
Storage team, could you answer the question?

[2020-05-09 05:20] dingmeng-xue commented on #11825
@arcotek-ltd , could you use credential correctly in PowerShell?

[2020-05-09 05:47] blueww commented on #11851
For update the output type in help doc, I will update in the next or the one after next release.

For the following question, Would you please clarify what's the problem?
Both parameter set will need parameter to point to the destination file. One use a CloudFile object , another one use Sharename + FilePath. I don't see a parameterset takes input as PSshare.

[2020-05-09 07:31] #11175 closed

[2020-05-09 08:27] isra-fel commented on #11854
## How to reproduce
[code]

## Investigation
Exception thrown at https://github.com/Azure/azure-powershell/blob/master/src/KeyVault/KeyVault/Models/PfxWebKeyConverter.cs#L58

Message: "The parameter is incorrect"
Stacktrace:
[code]

[2020-05-09 08:59] isra-fel commented on #11854
@jasonxdhu
It seems the root cause is that the way dotnet parses an pfx does not work well when there's no certificate in it.
What is the reason behind `-nocerts` when generating the pfx file and is it possible for the customer to use a certificate to do it? i.e. `openssl.exe pkcs12 -in cert.pem ...`

[2020-05-09 12:53] arcotek-ltd commented on #11825
Hi @dingmeng-xue,

Thank you for your reply, however, I don't understand what you mean by "could you use credential correctly in PowerShell?" Can you elaborate, please?

Are you saying I am not using the cmdlet correctly? If so, what am I doing wrong?

I see you've added the keyvault tag. Why?

I also see you've added the More Info tag. What additional information do you require?

Many thanks

[2020-05-09 13:37] dingmeng-xue commented on #11825
Hi @arcotek-ltd , label was not correct. I removed it and wait further information.

According to your description, my understanding is you created AppCredential and can see it via PowerShell cmdlets. But Azure Portal didn't show it. I hope to check if you can use that app credential. Azure PowerShell is just client tool. We have no approach to access service code. So more information will help to

[2020-05-09 16:28] paulomorgado commented on #11851
Sorry, my mistake. Or wistful thinking.

Tell me if I'm wrong, it either requires the `-File` parameter (for the **File** parameter set) or `-Context`, `-ShareName` and `FilePath` parameters (for the **ShareName** parameter set).

Then, the inputs are:

* File
  * CloudFile
* ShareName
  * IStorageContext
  * string
  * string

I don't think the inputs section is clear to the user. PowerShell does

[2020-05-10 04:58] janegilring opened #11862 "Missing feature parity with Azure CLI for Restore-AzDeletedWebApp"
## Description

The Restore-AzDeletedWebApp should have feature parity with the Azure CLI (az webapp deleted restore).

## Background

The following article described the feature for restoring a deleted app in App Service:
https://docs.microsoft.com/en-us/azure/app-service/app-service-undelete

The relevant documentation for performing the task with the Azure CLI:
https://docs.microsoft.com/en-us/

[2020-05-10 18:45] jcravener commented on #9427
I tried the 2.0.1-preview and it's now working.  Thanks!

[2020-05-11 00:25] blueww commented on #11851
@paulomorgado
In https://docs.microsoft.com/en-us/powershell/module/az.storage/get-azstoragefilecopystate?view=azps-3.8.0
In Syntax section, you can see following. Not sure if anything not clear.
BTW, the help file is generally autogenerated from code, it must be aligned with code.
[code]

[2020-05-11 02:14] dingmeng-xue commented on #11862
Thanks for suggestion. I inolve Web App team to evaluate this feature.

[2020-05-11 07:11] katriendg opened #11867 "New-AzResourceGroupDeployment output is System.Object[] instead of PSResourceGroupDeployment"
## Description
Once upgraded to 3.8.0 (from 3.7.0), the cmdlet New-AzResourceGroupDeployment has a new output type.
Code that was working before, and following the officially documented reference page https://docs.microsoft.com/en-us/powershell/module/az.resources/new-azresourcegroupdeployment?view=azps-3.8.0, now returns 'System.Object[]'. As a result code is no longer executing when trying to pa

[2020-05-11 07:13] paulomorgado commented on #11851
@blueww, maybe I don't understand the meaning of the **Inputs** and **Outputs** sections, but I'd say that that automatic generation is flawed.

And I still don't get, from the documentation:

Maybe it would be helpful to add that that state is given by the [`CloudFile.CopyState` property](https://docs.microsoft.com/dotnet/api/microsoft.azure.storage.file.cloudfile.copystate?view=azure-dotnet-lega

[2020-05-11 08:09] blueww commented on #11851
@paulomorgado

User can easily get the output type from help file output section  (I have have PR to update it: https://github.com/Azure/azure-powershell/pull/11860), or from the cmdlet output object like following, so we generally don't include the output type in the example :

[code]

[2020-05-11 08:14] pritiherkal opened #11869 "Get-AzKeyVaultSecret : Method 'get_SerializationSettings' in type 'Microsoft.Azure.KeyVault.KeyVaultClient' from assembly 'Microsoft.Azure.KeyVault, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35' does not have an implementation"
## Description
I have a script which connects to Azure cloud using 'Connect-AzAccount' and then tries to get secrets stored in a KeyVault using 'Get-AzKeyVaultSecret'.

**Error when running 'Get-AzKeyVaultSecret' command:**
[code]

The original script was using AzureRM modules with 'Connect-AzureRmAccount' and 'Get-AzureKeyVaultSecret' commands which also threw a similar error:
[code]
## Steps to

[2020-05-11 09:28] paulomorgado commented on #11851
@blueww, I would prefer something like this:

    PS C:\temp> $state = (Get-AzStorageFileCopyState -ShareName $containerName -FilePath test1.txt -Context $ctx).CopyState

[2020-05-11 09:28] pritiherkal commented on #11869
Please note that the script was run on an environment with only Az modules installed.

[2020-05-11 09:28] pritiherkal commented on #11869
#11865

[2020-05-11 09:29] pritiherkal commented on #11869
Sorry closed the bug by mistake. The issue is still open and need to be looked at.
Thank you.

Best regards
Priti

[2020-05-11 09:35] rudfoss commented on #10029
Just chiming in with the same issue. I'm running a DevOps pipeline using task `AzurePowerShell@4` with `azurePowerShellVersion: LatestVersion` on `windows-latest` hosted agent.

The script fails on this command (name and object id omitted):
[code]

yet works fine running on my local machine. Adding `-ByPassObjectIdValidation` solves the issue when running on the build agent.

The error I'm getting

[2020-05-11 09:45] paulomorgado commented on #11851
Except that, from #11860, the output will change from `CloudFile` to `CopyState`.

This also means that I can no longer pipe the cmdlets like this:

    Start-AzStorageFileCopy ... | Get-AzStorageFileCopyState -WaitForComplete | Remove-AzStorageFile

[2020-05-11 16:46] swinster commented on #9838
Any update on getting `Get-Aztenant` to retrieve Tenant Name?

This is kind of important, especially when you are programmatically trying to figure out a UP of a user who is a guest in a Tenant.

[2020-05-11 17:31] Drewm3 commented on #11817
The error is correct here. At this time the offer type for an image cannot be modified. The only workaround is to create a new scale set. We are looking to support this functionality in the future, but we are not able to share a specific date when this feature will be available.

[2020-05-11 17:31] #11817 closed

[2020-05-11 17:31] whisper6284 commented on #11852
1. Go to https://github.com/Azure/azure-powershell.
2. Click on Fork. (And I'm successful in forking the repo under my name whisper6284)
3. In a Windows Powershell under Admin mode, in the directory where I store my repos, I cloned the forked repo by running git clone https://github.com/whisper6284/azure-powershell.git
4. At the root of the repo, I ran msbuild build.proj.

This is where I get the

[2020-05-11 17:46] Drewm3 commented on #11835
@avirishuv, could you look into this issue?

[2020-05-11 19:31] abatishchev commented on #11798
@dingmeng-xue please assign the issue to the right person. Right now the issue arrears to unnoticed.

[2020-05-11 22:24] balauppaloori commented on #10936
In 1.0.0 this is still an issue. I confirmed it in Azure Portal Cloud Shell

[2020-05-12 00:43] chiragg4u commented on #9850
The issue seems to have been resolved closing.

[2020-05-12 00:43] #9850 closed

[2020-05-12 00:51] chiragg4u commented on #11270
@slavizh the documentation is for the ARG API, and it's correct that the API returns maximum of 1000 records at a time.
Also Powershell module document is correct as it pages through the resources to serve 5000 records. Sorry if it's causing confusion for you.
Let us know if you've any suggestion for improving the product behavior or the documentation.

[2020-05-12 00:51] #11270 closed

[2020-05-12 01:34] #11851 closed

[2020-05-12 02:05] dingmeng-xue commented on #11798
Sure. I will ping them again. Service team normally check issue according to label regulatory.

[2020-05-12 02:41] dingmeng-xue commented on #11852
@whisper6284 , please try PowerShell Core to do that. Our build scripts is only verified on PowerShell Core now.

[2020-05-12 03:02] blueww commented on #11851
@paulomorgado

You might misunderstand https://github.com/Azure/azure-powershell/pull/11860
As it only change the output type of "Get-AzStorageFileCopyState", the following pipeline still work. (Actually, this output type not change, just to fix doc to make it align with the current cmdelt behavior)

[code]
And as the output of Get-AzStorageFileCopyState is already `CopyState`, it don't have a pro

[2020-05-12 05:54] dcaro commented on #11797
This is an update of the reference doc of AzureRM.  @mikefrobbins could we consider consider making a single edit on the docs repo and on the source code without rebuilding the AzureRM reference docs?

[2020-05-12 06:08] veton commented on #9654
Had the same issue.
Noticed that the SSL parameters below the On/Off switch were missing:
![image](https://user-images.githubusercontent.com/187091/81644146-de2baf00-942f-11ea-8392-11aed96e052b.png)

Opened the same in **Incognito mode** in Chrome, there it worked smooth:
![image](https://user-images.githubusercontent.com/187091/81644205-fbf91400-942f-11ea-9d75-ff09055609be.png)

[2020-05-12 06:48] owingruters opened #11878 "Unable to remove Azure services access from DB server firewall"
Hi,

using New-AzSqlServerFirewallRule -AllowAllAzureIPs you can enable the toggle to allow all Azure IP's to the database. I want to disable it, but there is no -AllowAllAzureIPs false and I cannot use Remove-AzSqlServerFirewallRule since that rule has no name

[2020-05-12 07:10] Kotasudhakarreddy commented on #11622
started looking in to it.

[2020-05-12 09:29] shemers commented on #8812
Hi Yuriy,
First let me apologize on the much delayed response,
this request went under our Radar and I hope I can now provide the needed assistance.

I have check the provided information, and I am wondering in regard this issue.
does this issue still repro? we have released new versions since and I would expect that if there was an issue it would have been resolved by now.

What I can suggest is

[2020-05-12 11:26] dingmeng-xue commented on #11867
@katrendg, I didn't find change on this cmdlet. Could you uninstall Az.Resources 1.3.0 and try again?

[2020-05-12 11:29] dingmeng-xue commented on #11878
Sql team, could you look into it? how can user remote firewall rules?

[2020-05-12 12:46] gsscoder opened #11882 "Update-AzWebAppAccessRestrictionConfig -ScmSiteUseMainSiteRestrictionConfig: mandatory?"
A switch parameter mandatory (`-ScmSiteUseMainSiteRestrictionConfig`) is a very strange case, but I know is possible to explicitly set it.

If I specify also `-InputObject` I got the following error:
[code]

What's the right way to call this function?

Thank you

[2020-05-12 13:30] slavizh commented on #11270
@chiragg4u Not sure if I understand the explanation. Search-AzGraph returns maximum 1000 entries even if you specify 5000. There is not paging there. It just returns max of 1000 entries. I have tested this where the query should have returned more than 1000. How do you get 5000 results if -First 5000?

[2020-05-12 14:23] prem9in commented on #9998
This should be assigned to @veathipa

[2020-05-12 15:41] bd1dd141-246d-48bf-af76-4a72be2621d5 opened #11884 "Issue with piping Get-AzSqlDatabaseVulnerabilityAssessmentRuleBaseline -RuleId into Set-AzSqlDatabaseVulnerabilityAssessmentRuleBaseline"
## Description

when piping Get-AzSqlDatabaseVulnerabilityAssessmentRuleBaseline into Set-AzSqlDatabaseVulnerabilityAssessmentRuleBaseline the dataset does not convert correctly.
The dataset imports are semi-colon separated in the BaselineResult Method instead of comma separated. I was able to fix this issue in powershell by running the code below. The issue seems to be in the conversion from an a

[2020-05-12 16:44] jsco2t opened #11885 "Get-AzAks is missing (many) details provided by `az aks list`"
## Description

When I issue a call to `az aks list` I get a large JSON document back with what appears to be a complete dump of the details related to the AKS cluster matching the input parameters.

When I make the same call to `Get-AzAks` I get a significantly abbreviated version of the details for the same cluster.

In particular data fields like the following appear to be missing from the outp

[2020-05-12 18:40] craig-martin commented on #10926
This cmdlet does need some work, it doesn't validate inputs but fails if it gets nulls.  Better defaults and less required parameters would make this less janky.

[2020-05-12 19:28] manorris6 commented on #11854
@isra-fel Is do you know of a workaround that would allow the customer to use powershell for a pfx like this?
Also they are using -nocerts due to Azure SQL BYOK using the an RSA to wrap the database encryption key. If the customer were to use a cert, what would happen with it in the import process to Key Vault?

[2020-05-13 01:38] VeryEarly commented on #11087
will be released in 2020-05-18

[2020-05-13 01:38] #11087 closed

[2020-05-13 05:14] blueww opened #11891 "Remove dependency of "Microsoft.Azure.Management.Storage" from 4 module test."
## Description
Currently there are 4 modules test reference "Microsoft.Azure.Management.Storage" besides Az.Storage.
- src\ApplicationInsights\ApplicationInsights.Test\ApplicationInsights.Test.csproj
- src\EventGrid\EventGrid.Test\EventGrid.Test.csproj
- src\Synapse\Synapse.Test\Synapse.Test.csproj
- src\OperationalInsights\OperationalInsights.Test\OperationalInsights.Test.csproj

Other module (ex

[2020-05-13 07:14] isra-fel commented on #11854
@manorris6  If the pfx is with a cert I'm pretty sure the current code will work (tested).

[2020-05-13 07:15] isra-fel commented on #11854
Looping in KeyVault team. Could you kindly share some insights of how to parse a pfx file with no cert in it (in dotnet)?
Thanks

[2020-05-13 11:35] JohPa8696 opened #11893 "Az.Datafactory Start-AzDataFactoryV2Trigger unable to start tumbling windows trigger"
## Description

I'm building a Azure Devops Release pipeline which deploys a datafactory using ARM template. I have an azure powershell task which to start the tumbling windows triggers in the datafactory. It doesn't seem to work and always return the exception provided below.
The powershell command works fine for scheduled triggers, however.

I then tested with the api, and found the same issue a

[2020-05-13 13:23] #11797 closed

[2020-05-13 13:29] hallgeirl commented on #11492
Hi,
I have a similar scenario - but we don't use Azure Automation. This is perfectly reproducable in plain PowerShell whenever you use powershell jobs. I'm guessing Azure Automation uses Powershell jobs as well, and that this is why it's also failing in Azure Automation(?).

Here's a simple script to reproduce this issue in Powershell. I've tried in both Powershell 7 and Windows Powershell 5.1. Sa

[2020-05-13 13:36] dingmeng-xue commented on #11492
Really appreciate. We will follow up.

[2020-05-13 13:42] ScottMetzel commented on #11492
@dingmeng-xue, @o-l-a-v  - The problem still appears to be present in [Az.Accounts v2.0.1-preview](https://www.powershellgallery.com/packages/Az.Accounts/2.0.1-preview). I imported that version to an Automation Account and had the same experience; I was only able to get any human readable results by writing everything to the output stream after calling `Connect-AzAccount`.

[2020-05-13 14:01] dingmeng-xue commented on #11882
@gsscoder, if you paste is correct, it seems there is an additional dash before ScmSiteUseMainSiteRestrictionConfig.
Following syntax of this cmdlet, you cannot use inputobject if you already set ScmSiteUseMainSiteRestrictionConfig.

[2020-05-13 14:06] dingmeng-xue commented on #11884
I involve SQL team to look into it.

[2020-05-13 14:11] dingmeng-xue commented on #11891
We will look into and breakdown them

[2020-05-13 14:12] dingmeng-xue commented on #11885
Thanks for the feedback. Azure PowerShell needs to deserialize output. It is different from Azure CLI.  We will evaluate the feature.

[2020-05-13 14:14] dingmeng-xue commented on #11893
@JohPa8696, could you share debug message after you set `$DebugPreference="Continue"`

[2020-05-13 14:31] joewashear007 opened #11895 "Get-AzWebApp - SiteConfig is null if the `-Name` parameter note given"
## Description
When ever I run the `Get-AzWebApp` with out specifying the `-Name`, the `SiteConfig` property is null. Looking at the debug information, the REST calls are never made when loading more than one application. If I give the `-Name` the `SiteConfig` property is correctly populated.

The common sense usage would be that this is populated. I use some scripts that load multiple apps and I

[2020-05-13 14:45] hallgeirl commented on #11492
I did some more testing...

By downgrading Az.Accounts to 1.7.2, it seems to work as I would expect. Here's what I did:
1. Installed Az version 3.5.0. This package requires Az.Accounts >= 1.7.2.
2. By default it will install Az.Accounts 1.7.5 (latest). Testing the script above results in only the first line being printed ("DEBUG - LOOK AT ME OVER HERE").
3. I then did Install-Module Az.Accounts -R

[2020-05-13 15:20] idear1203 commented on #11891
@blueww , I am the owner of Synapse module. Unfortunately I am not able to use `\tools\ScenarioTest.ResourceManager\AzureRM.Storage.ps1`.

The purpose to add dependency to `Microsoft.Azure.Management.Storage` is that we need to use the latest `Az.Storage` module. I need to create a ADLS Gen 2 storage account (Storage v2 account with hierarchical namespace enabled), which is not supported by `\tool

[2020-05-13 15:34] blueww commented on #11891
@dingmeng-xue

As \tools\ScenarioTest.ResourceManager\AzureRM.Storage.ps1 is originally created by Mark, not sure if your team could help to update it by support creating storage account with ADLS Gen2 (isHnsEnabled = true, would suggest to upgrade to latest API version 2019-06-01)?

@idear1203
As Az.Storage will upgrade the SDK frequently, if Synapse test project still refer the SDK, storage chan

[2020-05-13 15:56] hbuckle opened #11896 "Update-AzVmss breaks scale set storage profile"
## Description

I have a vm scale set with the following storage profile

[code]

If I run Update-AzVmss to update the image it removes the data disks and ephemeral OS disk settings from the scale set

It seems the API requires the complete storage profile to be sent but PowerShell is only sending the image reference ID. The azure cli correctly updates the image and I can see from the fiddler trac

[2020-05-13 16:41] normesta commented on #11797
@mikefrobbins  - thank you!

[2020-05-13 17:14] jasonxdhu commented on #11854
This can be done through azure portal UX:
Go to your azure portal https://portal.azure.com/ and login
Select your key-vault (create one if you do not have)
Click "Keys" under "Settings"
Click "+ Generate/Import"
"Create a key" page will be displayed.
Select "Import" under "Options"
Select your key file under "File Upload"
Type key name
Click "Create" button

It will work with pfx file with no cert

[2020-05-13 17:26] manorris6 commented on #11854
@jasonxdhu thanks for that information. Just to confirm, at this time, there is no way for a .pfx that does not contain a cert to be imported to Azure Key Vault using Powershell? This is the bug that is currently being addressed?

[2020-05-13 17:33] jasonxdhu commented on #11854
Correct. That is my understanding. UX works but not PS. This is why customer was asking this to be fixed.

[2020-05-13 18:49] qinl-li commented on #11854
Key vault portal has dependency on forgejs for this area. It is a third party library.(https://github.com/digitalbazaar/forge)
It extracts JWK object from the key file and posted to service.

[2020-05-13 18:50] dcaro commented on #11781
@vslepakov have you looked at the latest version of [Az.IotHub](https://www.powershellgallery.com/packages/Az.IotHub/2.4.0), cmdlets to invoke an edge module method in an Iot Hub have been added.

[2020-05-13 21:28] Drewm3 commented on #11106
I am going to close this one now assuming that my previous response meets the need.

[2020-05-13 21:28] #11106 closed

[2020-05-13 21:34] Drewm3 commented on #11141
Yes, this should be fixed now.

[2020-05-13 21:34] #11141 closed

[2020-05-13 21:43] Drewm3 commented on #11163
We have added details in the API documentation to clarify which properties can only be set at create time. For example note the ImageReference documentation for the [VMSS Create API](https://docs.microsoft.com/en-us/rest/api/compute/virtualmachinescalesets/createorupdate).

[2020-05-13 22:39] JohPa8696 commented on #11893
Done! Thank you

[2020-05-13 23:28] panchagnula commented on #5983
@ThejaChoudary can we start the PR for this?

[2020-05-14 00:20] dingmeng-xue commented on #11869
Thanks for reporting. We will look into it. @isra-fel please verify this one.

[2020-05-14 00:23] dingmeng-xue commented on #11812
@djj0809, `Import-AzAksCredential` is the new version of AzureRM cmdlet. Could you try the latest version Az.AKS 1.1.0-preview?
[code]

[2020-05-14 01:14] idear1203 commented on #11891
@blueww
I did some experiments. If I only upgrade "Microsoft.Azure.Management.Storage" to `16.0.0` for `Az.Storage` but not modify Synapse references, I will get the following error:

[code]

[2020-05-14 01:27] blueww commented on #11891
@idear1203
I don't see the error in your comment.
Anyway, I raise the issue because if only upgrade "Microsoft.Azure.Management.Storage" in Az.Storage, there will be error and cause the change of storage can't be merge.

[2020-05-14 01:32] idear1203 commented on #11891
@blueww sorry, I sent the comment by mistake...Updated the comment just now...Please let me know your opinions. Let's work together to find a good solution for this issue:blush:

[2020-05-14 01:57] blueww commented on #11891
@idear1203
Re-record Unit test is a must, when API version upgrade for storage. This is because the record session file contains the API version in URI, if API version upgrade and not re-record, Unit test will fail as the Uri not found.

Although currently we can simply upgrade the SDK in Synapse test, when API version upgrade, it will take a lot of trouble. So might make storage feature can't rel

[2020-05-14 01:57] VeryEarly commented on #11556
Hi @NolanCui719 ,

I tried
[code]
[code]
[code]
Didn't have any error, please see response body:
[code]
Please provide more detail how this issue can be reproduced.

[2020-05-14 02:11] idear1203 commented on #11891
@blueww
Thanks for your explanation. This makes sense to me.

[2020-05-14 02:13] isra-fel commented on #11854
Good to know. Thanks!
I was originally thinking the pfx file was uploaded to backend and parsed there by C# code :P
As Azure PowerShell is written in C# I cannot use forgejs directly, but I'll try to find a replacement.

[2020-05-14 05:09] lmy269 commented on #11893
@JohPa8696, please make sure the trigger has attached at least 1 pipeline. You can check the json file and there's a pipelines array.
"**pipelines**": [
            {
                "**pipelineReference**": {
                    "referenceName": "testpipeline",
                    "type": "PipelineReference"
                }
            }
        ],

[2020-05-14 06:52] isra-fel commented on #11869
This issue looks like an old version of `Microsoft.Azure.KeyVault` was loaded before `Az.KeyVault` was imported. @pritiherkal could there be any chance that a module that depended on `Microsoft.Azure.KeyVault` was imported in advance?

Additionally can you try installing [PowerShell Core](https://github.com/PowerShell/PowerShell/releases) and let us know if the issue persists within PowerShell Cor

[2020-05-14 07:50] alverdal commented on #11895
I have a similar issue that's breaking my deployments to new Azure slots.
I try to copy the prod-slot settings for siteConfig with function:
"siteConfig": "[reference(resourceId('Microsoft.Web/Sites', variables('cdWebAppNameTidy')), variables('webApiVersion')).siteConfig]" but this has stopped working. siteConfig seem to be en empty object. This has worked previously, last time around 30/4 if I re

[2020-05-14 09:54] vslepakov commented on #11781
I do have the latest version:

[code]

Which CMdlet would do a module deployment? `Add-AzIotHubModule` is not for that...
Looking at the docs [here](https://docs.microsoft.com/en-us/powershell/module/az.iothub/?view=azps-3.8.0)

Listing Cmdlets in the module yields strange result. I have version 2.4.0 of the Module installed but Cmdlet are 2.3.0...:

[code]

[2020-05-14 10:29] dingmeng-xue commented on #11395
@jmarti45 , is your issue disappeared?

[2020-05-14 10:34] dingmeng-xue commented on #11669
@ADataGMan, this issue is usually due to one old version assembly is loaded before import Az.Accounts. As the result, it reports the issue. It is behavior on dotnet core. We only can ensure Az modules have no that issue but the situation is complex if there are many other modules.
Do you still have any other issue?

[2020-05-14 13:00] ricohomewood commented on #9467
@isra-fel @cormacpayne I'm getting this error on the stable version of `Az.Accounts` `1.7.5` have we merged the bug into this stable version?
This error is also being thrown using the Azure DevOps Azure Powershell task ... this would denote a bigger issue as the powershell tasks can't even complete a connection to Azure Powershell task in the context of a Service Principle:

[code]

[2020-05-14 15:25] afarber opened #11901 "Question: how to pass base64 or binary content to Import-AzKeyVaultCertificate?"
Hello dear Powershell devs, I have the following question please -

With the following command I am able to generate self-signed certificate at PowerShell prompt:

    $mycert = New-SelfSignedCertificate -DnsName "myhost.westeurope.cloudapp.azure.com" -CertStoreLocation "cert:\LocalMachine\My"

Then I can export it to a PFX file:

    $mypwd = ConvertTo-SecureString -String "1234" -Force –AsPlainT

[2020-05-14 15:30] MaximSidorchuk opened #11902 "Get-AzTenant does not return tenant's domain name. Directory field is empty"
## Description
get-azdomain does not return tenant's domain name. Directory field is empty

## Steps to reproduce

[code]

## Environment data

[code]

## Module versions

[code]

## Debug output

[code]

## Error output

[code]

[2020-05-14 16:10] afarber commented on #11901
Nevermind, I have found the `-CertificateString` option, sorry - I am an inexperienced user.

[2020-05-14 16:10] #11901 closed

[2020-05-14 17:03] ADataGMan commented on #11669
At this point my issues seem to be resolved, but beyond doing the same
delete everything / reboot / reinstall everything / reboot cycle I'm not
sure why it doesn't seem to be an issue now. Maybe the installation of the
modules as an admin, and trying to use them in another context meant they
couldn't be picked up?

This can be closed, I'll submit a new issue if it comes back.

On Thu, May 14, 2020

[2020-05-14 19:16] afarber opened #11905 "Question: AzurePowerShell error because of too long line with 3700 chars?"
Good evening, I have a question please:

I am trying to deploy a self-signed certificate by using the following pipeline task:

      - task: AzurePowerShell@5
        inputs:
          azureSubscription: '${{ parameters.ArmConnection }}'
          ScriptType: 'InlineScript'
          azurePowerShellVersion: '2.6.0'
          Inline: |
          $Pwd = ConvertTo-SecureString -String '1234' -Force

[2020-05-14 20:15] hausec commented on #7479
Still getting this error on azure-cli 2.5.1

There is a subscription for the tenant.

[2020-05-14 21:49] rsegers opened #11906 "Az.Accounts 1.7.3+ Verbose Output broken for Azure Automation"
## Description
Since version 1.7.3 of Az.Accounts, the verbose output in Azure Automation is broken when using the cmdlet Connect-AzAccount
Verbose output is not recorded / displayed in Azure Automation from the moment Connect-AzAccount is used in Azure Automation on a hybrid worker.
However, it does work fine using the regular console on the same machine.

This is the case for 1.7.3 and higher, i

[2020-05-14 22:18] JohPa8696 commented on #11893
@lmy269 Yeah it's attached to a pipeline which is why I'm suspect it's an api issue.

[code]

[2020-05-15 00:57] ifeoluwaokunoren commented on #11335
PR fix: https://github.com/Azure/azure-powershell/issues/11335

[2020-05-15 00:57] #11335 closed

[2020-05-15 01:30] dingmeng-xue commented on #11669
Hi ADataGMan, it's a real issue to you and customer. Couple issues are pointing to this limitation. We had complained this issue couple time to PowerShell team and PowerShell had been investigating it for a while. We are waiting their solution.
Thanks for reporting. Please contact us if you meet the issue.

[2020-05-15 01:30] #11669 closed

[2020-05-15 04:15] gsscoder commented on #11882
@dingmeng-xue, hello thank you for replying! :)

I've tried various times, it seems I've pasted a wrong command with double 'dash'. Sorry.
OK, I've seen from the source parameters belong to different parameter sets.

For the moment I close the issue since I've solved using **Az/CLI** `az webapp config access-restriction`.
Thanks for the support.

[2020-05-15 04:15] #11882 closed

[2020-05-15 05:34] dingmeng-xue commented on #11896
Thanks for reporting. I include Compute team to look into this issue.

[2020-05-15 05:50] abatishchev commented on #11203
Hi, how can I get tracking on this issue from the service (Key Vault) team?

[2020-05-15 07:23] isra-fel commented on #11854
@grayzu @dcaro this is a feature request to Az.KeyVault, would you please consider it? Thank you

In short, the customer wants Az.KeyVault to support importing a special key, in the form of .pfx but not containing certification info, to Azure Key Vault.

[2020-05-15 07:31] isra-fel commented on #11492
Thank you very much to narrow down the root cause! It really helps.
We are working on a fix which will likely be released on the next milestone (June 2nd). Until then I'm afraid there's no workaround unless rolling back Az to 3.5.0.

(BTW @hallgeirl you are right. We merged code from stable branch to the preview branch, bringing the same issue to 2.0.1-preview)

[2020-05-15 09:42] coatesgavin commented on #10601
Hi, Apologies, i've had to work on something else recently and haven't had time to look at this.
It's a large script but essentially, for each subscription we manage we do the following:
$resources = Get-AzResource
$SAResources = resources | Where-Object{$_.ResourceType -eq "Microsoft.Storage/storageAccounts"}
ForEach($azureSA in $azureSAResources)
{
	$azureSAResource = Get-AzStorageAccount -Resou

[2020-05-15 10:34] blueww commented on #10601
@coatesgavin
Thanks for the information!

We plan to make a change in the next release to allow Get-AzStorageAccount run Async with -Asjob parameter. You might can try if it can resolve you problem after the next release is out.

For the thread exits, not see a reason why it exists, and can't repro it.
Do you have the network trace when the issue happen?
Or if the -Asjob can't resolve your issue,

[2020-05-15 12:16] mvasisht commented on #11662
@dingmeng-xue :  Debug Log is already pasted on my initial request under sub heading - Error Output

[2020-05-15 13:36] dingmeng-xue commented on #11662
CosmosDB team, please help to look into this issue.

[2020-05-15 14:00] dingmeng-xue commented on #11906
@rsegers, thanks for reporting. It should be a duplicated issue with #11492. We are fixing this issue.

[2020-05-15 14:36] afarber commented on #11905
Nevermind, I had wrong indentation. Now my task works

[2020-05-15 14:36] #11905 closed

[2020-05-15 16:49] amergey opened #11911 "Update-AzVmss: Changing property 'imageReference.sku' is not allowed."
## Description

I'd like to "upgrade" an imageReference of a scale set.
According to https://docs.microsoft.com/en-us/powershell/module/az.compute/update-azvmss?view=azps-3.8.0 and some other documentations I found, it should be possible to change imageReference sku of a scale set.

When I run following powershell

[code]

I get following error:

## Environment data

[code]

## Module versions

[c

[2020-05-15 17:32] rabbboudi opened #11912 "Error when calling Get-AzApiManagementUser"
## Description
I have an error when I try to execute this command Get-AzApiManagementUser. One of the users has 2 identities (basic and Azure AD)

## Steps to reproduce
$apimContext = New-AzApiManagementContext -ResourceGroupName "RG_Name" -ServiceName "Service_Name"
Get-AzApiManagementUser -Context $apimContext

[code]

## Environment data

[code]

## Module versions

[code]

## Debug output

[co

[2020-05-15 21:50] lmy269 commented on #11893
@spagarwa to take a look

[2020-05-16 00:05] dagasparmsft opened #11914 "AzureDatafactory Deserialization failure"
When using the pipeline1 defined below in ADF, the ADF command Get-AzDataFactoryV2Pipeline -dataFactoryName "<df>" -resourceGroupName "<rg>" fails with the error below. The issue seems to be with the line '"value": "@union(createArray('arg','arg2'))",'. This syntax creates a working pipeline. However, Get-AzDataFactoryV2Pipeline fails to deserialize it.

{
 "name": "pipeline1",
 "properties": {
 "

[2020-05-16 02:18] spagarwa commented on #11893
The error is in the payload sent in previous createOrUpdate call for trigger.
{
    "name": "CopyPipeline_TagIndex_Delta_PDM_Connector_Trigger",
    "properties": {
        "type": "TumblingWindowTrigger",
        "runtimeState": "Stopped",
        "typeProperties": {
            "frequency": "Hour",
            "interval": 24,
            "startTime": "2020-05-13T00:00:00Z",
            "delay":

[2020-05-16 07:00] dcaro commented on #11718
@nguyenlamlll the reference documentation for the [New-AzManagementGroupSubscription cmdlets] (https://docs.microsoft.com/en-us/powershell/module/az.resources/new-azmanagementgroupsubscription), indicates that the `-GroupName` parameter is expecting the "Management Group Id".
I agree that the name of the parameter is confusing and we should consider changing it to `-GroupId` for example. We will n

[2020-05-16 07:23] dcaro commented on #11326
@Virtualserve thanks for reporting this issue, it looks like your feedback is related to the article in the documentation page and in order to send it the right team, I would recommend that you open an issue at the [bottom of the page](https://docs.microsoft.com/en-us/azure/storage/files/storage-files-configure-p2s-vpn-windows#see-also) and click on the "This page" button.

[2020-05-16 07:43] aggerritsen commented on #11748
Hi All,

From 15of May this issue now became urgent, since the new version of the AZ.Network module seems to be taken into production in Azure Devops, Powershell 4.*. From that moment our deployment scripts fail systematically:

##[error]Local network gateway /subscriptions/****/resourceGroups/TransitGatewayNE-rg/providers/Microsoft.Network/localNetworkGateways/ToHbrBrokerNE-lgn BgpPeeringAddresse

[2020-05-16 15:23] katriendg commented on #11867
Changed function output to System.Object[] so it's working now.

[2020-05-16 15:23] #11867 closed

[2020-05-16 22:02] taklei opened #11916 "[Security] New cmdlets for Settings"
## Service Release Details

- **Is this an Embargoed Preview, A Public Preview, or a General Release?**
General Release

- **What is the expected service release date?**
The services are already released. These particular commands are to be released whenever the code is ready.

## Contact Information
- Main developer contacts (emails + github aliases)
taklei@microsoft.com + taklei
nibracha@microso

[2020-05-16 23:26] ashmind opened #11918 "Clarify documentation around Get/Set-AzStorageBlobContent concurrency protection"
## Description of the new feature

It is currently unclear how to implement optimistic or pessimistic concurrency using `Get-AzStorageBlobContent` and `Set-AzStorageBlobContent`.

In my understanding, Blob optimistic concurrency is implemented using `ETag` and `If-Match`, but I am not sure how to get `ETag` from `Get-AzStorageBlobContent` and how to send `If-Match` in `Set-AzStorageBlobContent`.

[2020-05-17 02:19] dingmeng-xue commented on #11902
@MaximSidorchuk, could you share me the information where describes about `Get-AzDomain`. I cannot find this cmdlet.

[2020-05-17 02:21] dingmeng-xue commented on #11322
@matt-lethargic, I am closing this issue now. User doesn't need to reply on error returns from cmdlet. It may be compatibility issue that storage cmdlet still still this parameter.

[2020-05-17 02:21] #11322 closed

[2020-05-17 02:23] dingmeng-xue commented on #11911
Thanks for reporting. I involve Compute team to look into this issue.

[2020-05-17 02:24] dingmeng-xue commented on #11912
I involve APIManagement team to look into this issue.

[2020-05-17 02:27] dingmeng-xue commented on #11735
@tnsholding, thanks for information. Since permission is not clear described on API, Azure PowerShell as client only can rely on server to check it. Please contact us if you meet any further issue.
Close current issue now.

[2020-05-17 02:27] #11735 closed

[2020-05-17 23:12] JohPa8696 commented on #11893
@spagarwa  That's the issue, and it's fixed. Thank you!

[2020-05-17 23:12] #11893 closed

[2020-05-18 02:15] dingmeng-xue commented on #11914
Data Factory team, please help to look into this issue.

[2020-05-18 02:23] dingmeng-xue commented on #11918
Storage team, please help to look into this question.

[2020-05-18 06:40] blueww commented on #11918
@ashmind

The Set-AzStorageBlobContent use [DMlib library](https://github.com/Azure/azure-storage-net-data-movement) to upload Blob parallelly for better performance. DMlib will use Etag(If-Match) inside to make sure the content upload correctly.

What's your user scenarios? Do you want to upload a blob with access condition like leaseID?
We currently don't support Lease ID in Set-AzStorageBlobCon

[2020-05-18 06:58] MaximSidorchuk commented on #11902
https://pswiki.net/get-azdomain/

[2020-05-18 07:07] ashmind commented on #11918
Thanks -- I think that's clear enough and worth to be included in the docs. At least the part about `ETag` being checked automatically -- I can guess LeaseId is not supported by looking at `Set-AzStorageBlobContent` parameters, but I would not know it checks `ETag`.

In my scenario I have several processes running in parallel during the build, and all of them might update the same blob, so I need

[2020-05-18 13:33] rabbboudi commented on #11912
A user was not correctly created (it had two basic identities). It worked fine once I've deleted it.
I will close this issue.
Thank you

[2020-05-18 13:33] #11912 closed

[2020-05-18 13:36] cj901014 commented on #11556
Hi, @VeryEarly , it is Cloud Service, not VMSS

[2020-05-18 13:48] blueelvis commented on #8531
@blueww - This is sadly still an issue when trying to upload files :(

[2020-05-18 14:41] blueww commented on #8531
@blueelvis
This is an azure automation framework issue, it doesn't happen on other platform.
As I know the Automation Runbook is fixed , and Hybrid jobs has workaround. Not sure why it's still an issue?

[2020-05-18 14:48] MonikaReddy-MSFT opened #11923 "Please explain how to handle managed identity token expiry"
Customer has reported this issue in Docs page -

When I log on with "Connect-AzureRmAccount -MSI" things eventually stop working in my long-running script because there under the hood there is an access token that expires. Even when I add an hourly "Disconnect-AzureRmAccount" and logon again with "Connect-AzureRmAccount -MSI", it sometimes continues to give exceptions saying token expired. Killing

[2020-05-18 15:09] borgewi commented on #9547
@alex-frankel Thanks for an anternative way of removing the blueprint definition. However when I use the Remove-AzResource cmdlet it still leaves the blueprint definition in draft state. How do you entirely remove the blueprint definition?

Will this be added to the Az.Blueprints Cmdlets soon?

[2020-05-18 15:15] alex-frankel commented on #9547
A [blueprint version](https://docs.microsoft.com/rest/api/blueprints/publishedblueprints/create) is a child resource of a [blueprint definition](https://docs.microsoft.com/rest/api/blueprints/blueprints/createorupdate) (which represents the latest "draft"). When you create a new version, you are taking a snapshot of the master/draft.

So to remove the draft, you must delete the blueprint definitio

[2020-05-18 15:18] jusnitlive commented on #8531
It is still an issue since any time the hybrid agent is automatically updated you must reset the workaround. Could it be packaged with the executable?_

[2020-05-18 15:56] KarenHammons commented on #11748
Hello @aggerritsen, if the issue is urgent, I suggest creating a Support case.  Support cases and their investigations have priority for our teams.

[2020-05-18 16:46] hakahlon-msft commented on #11798
Fixed as part of https://github.com/Azure/azure-powershell/pull/11917

[2020-05-18 16:46] #11798 closed

[2020-05-18 17:19] hi5ka commented on #7259
still no updates, it's always that slow

[2020-05-18 19:26] blueelvis commented on #8531
@blueww - As @jusnitlive mentioned above, it doesn't make sense to do that activity everytime the MMA agent is upgraded.

[2020-05-18 20:36] markcowl opened #11924 "Provide better fully asyncronous deployment support"
## Description of the new feature

Deployment creation cmdlets 'wait' for deployments to complete.  Even if the 'AsJob' parameter is used, the Job cointinues to poll until the deployment is complete.

Given that the ARM api allows getting the status of a deployment (Get-AzResourceGroupDeployment), and allows retrieving the deployment operation results (Get-AzResourceGroupDeploymentOperation), the

[2020-05-18 20:43] markcowl opened #11925 "Allow Refreshing Token Credentials"
## Description of the new feature

When using Connect-AzAccount -AccessToken <token>, there is no mechanism for renewing the token for long-running operations.  Allow renewing the access token, either with a new command, or by running Connect-AzAccount with new token values.

[2020-05-19 02:37] blueww commented on #11643
@warrentc3
I will close this issue as not hear from you for a long time.
BTW, as I get from feature team, the product tenants should already has this mitigated.

Feel free to contact use again if you need any further assistance for Azure PowerShell.

[2020-05-19 02:38] #11643 closed

[2020-05-19 02:39] blueww commented on #11631
@DanielLarsenNZ
I will close the issue as not hear from you for a long time.
Feel free to contact use again if you need any further assistance for Azure PowerShell.

[2020-05-19 02:39] #11631 closed

[2020-05-19 02:40] blueww commented on #11496
@himmyaggarwal
I will close the issue as not hear from you for a long time.
Feel free to contact use again if you need any further assistance for Azure PowerShell.

[2020-05-19 02:40] #11496 closed

[2020-05-19 02:41] blueww commented on #11464
@lagebj
I will close the issue as it seems the issue from you is mitigated, and not hear from you for a long time for this issue.
Feel free to contact use again if you need any further assistance for Azure PowerShell.

[2020-05-19 02:41] #11464 closed

[2020-05-19 02:42] #10987 closed

[2020-05-19 02:43] blueww commented on #9880
Close as the PR to fix this is merged.
It will be in the next PSH release.

[2020-05-19 02:43] #9880 closed

[2020-05-19 02:48] blueww commented on #11918
@ashmind

Actually, Powershell currently only support upload whole file to blob. What Powershell do is ensure the uploaded blob has same content of the source file. Etag is only one way we used to ensure that.

We currently don't think it's so necessary to document all the details we used in Powershell to ensure the content correctness, until more customer ask.

[2020-05-19 02:55] isra-fel commented on #10557
Swagger is ready: https://github.com/Azure/azure-rest-api-specs/blob/master/specification/keyvault/resource-manager/Microsoft.KeyVault/stable/2019-09-01/keyvault.json#L1134

Management SDK already generated and consumed in Azure PowerShell. Effort: low

[2020-05-19 03:00] t105362506 opened #11927 "Can't not import PSScheduledJob module"
import this module   "Import-Module PSScheduledJob"   & get this error message

i don't  know how to fix this error

Error message: Import-Module: Module 'PSScheduledJob' is blocked from loading using Windows PowerShell compatibility feature by a 'WindowsPowerShellCompatibilityModuleDenyList' setting in PowerShell configuration file.

[2020-05-19 03:38] blueww commented on #8531
@blueelvis, @jusnitlive

This is an Azure Automation issue, we are not the best person who can help you on this.

Would you mind to open a ticket to Azure Support on the Azure portal, to ask the support from portal/server side?

![image](https://user-images.githubusercontent.com/6926193/82281941-39781700-99c5-11ea-8935-364e7a2e4fa8.png)

[2020-05-19 03:38] markcowl commented on #11702
@husamhilal That is a logical request, unfortunately, the MSI service doesn't provide any way to get the token for a user-assigned managed identity without knowing the client id or object id or resource id of the identity.  If you use a System-Assigned identity, then you don't need to provide the account id.

[2020-05-19 05:00] jongio opened #11928 "Is there any way to get currently logged in user account?"
We have this in CLI, to get currently logged in user info.

az ad signed-in-user show

What is equivalent in PSH?

Jon

[2020-05-19 05:10] lmy269 commented on #11914
@shawnxzq , can you take a look?

[2020-05-19 06:10] cj901014 commented on #11556
@VeryEarly

Please try below script on the Cloud Service instance

# Get service info
$service = 'your-cloudservice'
$serviceProp = Get-AzResource -Name $service
$location = $serviceProp.location

# Setup web role
$webRole = 'WebRole1'
$prodWebRole = '/slots/production/roles/WebRole1'
$resourceGroup = $serviceProp.ResourceGroupName
$webRoleResourceId = $serviceProp.ResourceId + $prodWebRole
$webRo

[2020-05-19 06:24] taklei commented on #11916
Hi - Can someone review please? :)

[2020-05-19 07:03] AbhilashMDoijode opened #11929 "Remove-AzADServicePrincipal and New-AzADServicePrincipal Bug"
## Description
The command  Remove-AzADServicePrincipal (-DisplayName, -ApplicationId, -objectId) is not removing the service principal from the portal,When i run the command in VS code or Powershell ISE it says removed service principle but it exists in azure portal. like Remove-AzADServicePrincipal have same issue with other commands like Remove-AzADSpCredential -DisplayName ServicePrincipalName

[2020-05-19 07:08] msJinLei opened #11930 "[MySQL/MariaDB/PostgreSQL] The values to use for the SKU parameter were not intuitive"
## Description of the new feature
In module MySql, the values to use for the SKU parameter were not intuitive and if a non-supported value is used, the error should be explicit and if possible, list the authorized values

## Proposed implementation details (optional)
- Request service team to provide a new operation to get sku https://github.com/Azure/azure-rest-api-specs/issues/9537
- Implement a

[2020-05-19 07:11] msJinLei opened #11931 "[MySQL/MariaDB/PostgreSQL] The name of the server being unique globally, the resource group name should be optional"
## Description of the new feature
The name of the server being unique globally, the resource group name should be optional
## Proposed implementation details (optional)
- Request service team to provide a new url  https://github.com/Azure/azure-rest-api-specs/issues/9538
- Add a new parameter set to Update-AzMySqlFirewallRule

[2020-05-19 07:13] msJinLei opened #11932 "[MySQL/MariaDB/PostgreSQL] New-AzMySqlFirewallRule create a default name with time stamp when no name is passed"
## Description of the new feature
From @dcaro

When you add a firewall rule for a specific IP address (the add current client IP Address button) , the portal generates a rule with the name “ClientIPAddress_YYYYY-MM-DD_HH-MM-SS”.
It doe the same with the name “AllowAll_YYYYY-MM-DD_HH-MM-SS” when the range is 0.0.0.0 – 255.255.255.255 as you can see in the screenshot below.

![portal_firewall](https

[2020-05-19 07:14] msJinLei opened #11933 "[MySQL] Update-AzMySqlFirewallRule Use only one parameter when only one IP needs to be authorized"
## Description of the new feature
Use only one parameter (instead of a range) when only one IP needs to be authorized.

## Proposed implementation details (optional)

[2020-05-19 07:17] msJinLei opened #11934 "Argument completer does work in Powershell 7 for some MySql cmdlet"
## Description
Cmdlets with the issue
- Get-AzMySqlConnectionString
- Update-AzMySqlServer
Maybe more

## Cost

[2020-05-19 07:18] msJinLei opened #11935 "[MySQL/MariaDB/PostgreSQL] Get-AzMySqlConnectionString is expected to be found under “connect and query”"
## Description
The cmdlet users expect to find  Get-AzMySqlConnectionString in the conceptual documentation under “connect and query”.
The same issue for MariaDB & PostgreSQL
## Cost

[2020-05-19 07:21] msJinLei opened #11936 "[MySQL] Add ValidateSet for parameter StorageAutogrow"
## Description
Cmdlets may be affected
- Update-AzMySqlServer
- New-AzMySqlServer

## Cost

[2020-05-19 07:22] msJinLei opened #11937 "[MySql] Merge Update-AzMySqlServer & Update-AzMySqlServerConfiguration"
## Description of the new feature
It was not clear for the users what was the purpose of ‘Update-MySqlServer’ and ‘Update-MySqlServerConfiguration’. The documentation could potentially fix this along a potential change in the cmdlet name.

## Proposed implementation details (optional)
One solution is to merge these 2 cmdlets. Need further discussion.

[2020-05-19 07:23] msJinLei opened #11938 "[MySQL/MariaDB] Rename New-AzMySqlServerReplica to New-AzMySqlReplica"
## Description
The cmdlet name to get the replica is inconsistent with the cmdlet used to create the replica: ‘New-AzMySqlServerReplica’ vs ‘Get-AzMySqlReplica’.
## Cost

[2020-05-19 07:25] msJinLei opened #11939 "[MySQL] New-AzMySqlServerReplica uses “master” and “replica” to avoid confusion"
## Description
The parameter ‘Name’ is confusing in the context of this cmdlet. We should use “master” and “replica” to avoid confusion.
## Cost

[2020-05-19 07:26] msJinLei opened #11940 "[MySQL/MariaDB/PostgreSQL] Add example of how to specify InputObject without piping for New-AzMySqlServerReplica"
## Description
The users were confused with the use of the ‘InputObject’ parameter using a ‘PSObject’ object. This could be addressed with the reference doc and better examples.

Fix the similar issue in PostgreSQL & MariaDB

## Cost

[2020-05-19 07:42] OsaPL opened #11941 "Cant create Db with correct parameters."
The error contradicts with itself.
``Powershell Win10 x64``

Getting available:
[code]
Creating server:
[code]
And finally the Db:
[code]

_Originally posted by @OsaPL in https://github.com/Azure/azure-cli/issues/11926#issuecomment-630198944_

[2020-05-19 07:44] BobTheMadCow opened #11942 "Remove-AzureRmWebAppSSLBinding also removes tags"
As per issue [#5970](https://github.com/Azure/azure-powershell/issues/5970), the Remove-AzureRmWebAppSSLBinding in v5.2.0 of AzureRM.Websites removes tags on the resource.

It would appear that New-AzureRmWebAppSSLBinding is still exhibiting this behaviour too.

[2020-05-19 09:02] VeryEarly commented on #11556
Tried with cloud service,

Request from Portal:
https://management.azure.com/subscriptions/{subscription}/resourceGroups/yabo-test-group/providers/microsoft.insights/autoscalesettings/WebRole1-Autoscale-736?api-version=2015-04-01
[code]
Request from Azure-PowerShell:
https://management.azure.com/subscriptions/{subscription}/resourcegroups/yabo-test-group/providers/microsoft.insights/autoscalesetti

[2020-05-19 09:57] ashmind commented on #11918
Thanks! I see, that's not a concurrency protection logic. In that case I agree. A note that there is no support for either optimistic or pessimistic concurrency in those commands would be good, as it can save time trying to find corresponding parameters.

But up to you, I suppose any new web searches will find this ticket so maybe people won't be lost anymore.

[2020-05-19 10:41] dingmeng-xue commented on #11895
I involve AppService team to look into it.

[2020-05-19 17:07] PinewoodNut commented on #9488
@akshaysngupta  Any update on this? I'm having the same issue.

[2020-05-19 18:44] sallamounika9 commented on #11205
I faced the same problem, it is a permission issue, if you don't have access to reservation orders, you will get this error. just verify if you have access to reservation orders which is inside the reservation.

if you have access to a reservation, you will get output when you run the Get-AzReservation -ReservationOrderId "XXXXXXXX", but you will get forbidden error when you run the below command

[2020-05-19 18:48] jonarmstrong opened #11950 "Az.AlertsManagement Module is not installed with Az module"
Installing the Az module with the command

[code]

Does not install the `Az.AlertsManagement` module. As the Az.AlertsManagement module is part of the Az module, in the [reference](https://docs.microsoft.com/en-us/powershell/module/az.alertsmanagement/?view=azps-4.1.0#alerts_management) section in the documentation, I would expect that module to be installed as a dependency of the Az module.

[2020-05-19 20:55] JustinBacaAIS opened #11952 "Az.Subscription PowerShell Module API Mismatch Azure Government"
## Description
Receiving the following error when trying to create a subscription programmatically. In powershell with Az.Subscription module version 0.7.2, 0.7.2-preview, and 0.7.1-preview.

[code]

## Steps to reproduce

[code]

## Environment data

[code]

## Module versions

[code]

## Debug output

[code]

## Error output

[code]

[2020-05-19 21:13] husamhilal commented on #11702
Thanks a lot @markcowl. I deeply appreciate your response and explanation. System assigned MI are great but not scalable. For example, when you want to create KeyVault access policy, you can create one policy for one identity when using user assigned MI, vs you'll need to create N policies to N system assigned MI. Using the Client ID is not a big problem it's just storing something inside the VM,

[2020-05-20 01:53] JustinBacaAIS commented on #11952
Also tracking an issue with Azure CLI and the Offer Type support for Azure Government MS-AZR-USGOV-0017P

[#1733](https://github.com/Azure/azure-cli-extensions/issues/1733)

[2020-05-20 02:42] blueww commented on #11918
@ashmind
Thanks for you understanding!
I think you are OK with it now, so I will close this issue.
Feel free to contact us if you need further assistance on Azure Powershell.

[2020-05-20 02:42] #11918 closed

[2020-05-20 09:20] msJinLei opened #11954 "[MySQL] Provide hint in doc to use Update-AzMySqlServer & Update-AzMySqlServerConfiguration as a candidate for each other."
## Description of the new feature
Customers have difficult to choose between Update-AzMySqlServer & Update-AzMySqlServerConfiguration when they want to update setting of server.
## Proposed implementation details (optional)
Improve the docs of these two cmdlets in MySQL/MariaDB/PostgreSQL to tell users to use the other cmdlet if the current one is not right for what they want to do.

[2020-05-20 12:52] chrisedebo commented on #7358
I just came across this issue after searching for Connect-Azaccount VSCode having run in to a "hung" session when I executed connect-azaccount. Although I arrived here via two other issues:

* https://github.com/Azure/azure-powershell/issues/8476
* https://github.com/Azure/azure-powershell/issues/8649

Both of which describe the focus lost login window. I'm using powershell 5.1.18632 and vscode 1.

[2020-05-20 14:57] filizt commented on #11695
@tacerra unfortunately, we don't have plans to support 'copy' property for `outputs` in the time being.

I"m adding "Feature Request" label to the issue. It should help us track the requests coming in for this feature.

[2020-05-20 17:39] jschwanz commented on #11566
+1 this is a blocking issue for us.

[2020-05-20 19:26] anusapan commented on #11597
@jlian The issue has been fixed and released with version 2.5.0
https://www.powershellgallery.com/packages/Az.IotHub/2.5.0

[2020-05-20 19:59] MehaKaushik commented on #11381
@tylersplitt please verify if your issue is resolved in the latest version 0.1.5

[2020-05-20 23:25] erich-wang commented on #11885
@jsco2t , could you please try latest stable version Az.Aks 1.1.1? The return value is object and you could use **.** to access return object's properties.

[2020-05-21 00:12] dingmeng-xue commented on #11952
Subscription team, please consider to upgrade API version because some government cloud doesn't support older version such as current 2018-03-01-preview.

[2020-05-21 00:19] Francisco-Gamino opened #11956 "[Az.Functions] Need to add support to create PowerShell 7 function apps"
Need to add support to create PowerShell 7 function apps

[2020-05-21 00:20] Francisco-Gamino opened #11957 "[Az.Functions] Need to add support to create Java 11 function apps"
Need to add support to create Java 11 function apps

[2020-05-21 00:20] dingmeng-xue commented on #11929
Thanks for reporting. We suspect there is latency between delete call and the object is really removed. Could you check whether the object is still there after a while such as 10 minutes?

[2020-05-21 00:21] Francisco-Gamino commented on #11957
cc: @amamounelsayed @anirudhgarg

[2020-05-21 00:23] dingmeng-xue commented on #11928
Please try to use all context information using `Get-AzContext`. If account specifically, `(Get-AzContext).Account` shows login user information.

[2020-05-21 00:27] dingmeng-xue commented on #11927
Thanks for contacting us. This module doesn't belong to Azure PowerShell. Please contact PowerShell team. https://github.com/PowerShell

[2020-05-21 00:27] #11927 closed

[2020-05-21 01:01] amamounelsayed commented on #11957
Thank you so much @Francisco-Gamino
Here is the info

Set “javaVersion” site config property to “11” - Windows
Set "linuxFxVersion" site property to "java|11" - Linux

[2020-05-21 01:09] jongio commented on #11928
I actually need the objectId of the currently logged in user.  I don't see that with that command.

[2020-05-21 01:43] dingmeng-xue commented on #11928
Hi Jongio, what's the attribute of objectid? Id of account in ccontext of powershell is user's email account. If you need AD id, you can use `Get-AzADUser -UserPrincipalName (Get-AzContext).Account`

[2020-05-21 01:48] msJinLei opened #11958 "The error returned is not understandable when fail to create MySQL server"
## Description
The step to produce and error log

PS C:\Users\azureuser> New-AzMySqlServer -Name mydemoserver -ResourceGroupName labrg783 -Sku GP_Gen5_2 -GeoRedundantBackup Enabled -Location westus -AdministratorUsername myadmin -AdministratorLoginPassword $Password

New-AzMySqlServer_Create: C:\Program Files\PowerShell\Modules\Az.MySql\0.1.0\custom\New-AzMySqlServer.ps1:218
Line |
 218 |

[2020-05-21 01:51] jongio commented on #11928
Thanks, this is what I needed

(Get-AzADUser -UserPrincipalName (Get-AzContext).Account).Id

[2020-05-21 01:51] #11928 closed

[2020-05-21 03:14] dingmeng-xue commented on #11923
@MonikaReddy-MSFT, access toke normally will be expired in one hour. How long does your long running script take? Could you find if there is time consuming LRO cmdlet?

[2020-05-21 03:17] brdly-smith opened #11959 "New-AzResourceGroupDeployment -WhatIf No Results"
## Description

When running a -WhatIf of New-AzResourceGroupDeployment, the command executes and prints `What if: Performing the operation "Creating Deployment" on target "<redacted>".`

After this is printed, the command exits with no other information immediately.

## Steps to reproduce

[code]

## Environment data

[code]

## Module versions

[code]

## Debug output

[code]

## Error output
No

[2020-05-21 05:00] dingmeng-xue commented on #11959
@brdly-smith, `-WhatIf` just returns the message about the intention of this cmdlet with input parameter. It won't trigger the real activity. If you hope more information, please let us know.

[2020-05-21 05:00] dingmeng-xue commented on #11925
Let's plan it accordingly.

[2020-05-21 05:08] brdly-smith commented on #11959
Sorry I thought this was analogous to the az deployment group what-if cli.

[2020-05-21 05:08] #11959 closed

[2020-05-21 05:31] isra-fel commented on #11854
@jasonxdhu I did some research with the 3rd party library and it seemed not able to parse such special pfx file unfortunately. I'm sorry to say that we cannot support this scenario for the time being, my suggestion remains the same -- please use a pfx which contains certificate.

[2020-05-21 06:45] Drewm3 commented on #11911
@avirishuv, could you look into this please.

[2020-05-21 08:00] blueww opened #11963 "[Storage] Fix the User Agent for dataplane cmdlets"
## Description

The Storage dataplane cmdlets (not use DMlib ones) has user agent which not include word "Powershell".
Need to fix by include the word "Powershell" and version.
Like:

## Cost
TBD

[2020-05-21 12:06] dingmeng-xue commented on #11924
@markcowl , is it a blocker to user? Or which team is waiting for this feature?

[2020-05-21 12:08] dingmeng-xue commented on #11930
Can we know how Portal handles this case?

[2020-05-21 12:11] dingmeng-xue commented on #11942
@BobTheMadCow , could you try `Remove-AzWebAppSSLBinding`?

[2020-05-21 12:13] dingmeng-xue commented on #11950
Thanks for contacting us. AlertsManagement  module is still under preview. It won't be packaged Az module. Please use  below cmdlet to install it.
[code]

[2020-05-21 12:13] #11950 closed

[2020-05-21 12:15] dingmeng-xue commented on #11963
Could you share one cmdlet? We can check its client telemetry.

[2020-05-21 12:16] dingmeng-xue commented on #11958
Can we reproduce this issue?

[2020-05-21 12:17] dingmeng-xue commented on #11954
Please update doc and invite @mikefrobbins to review.

[2020-05-21 12:19] dingmeng-xue commented on #11940
Please update example.

[2020-05-21 12:20] dingmeng-xue commented on #11939
Target to S173

[2020-05-21 12:20] dingmeng-xue commented on #11938
Target to S173

[2020-05-21 12:20] dingmeng-xue commented on #11936
Target to S173

[2020-05-21 12:21] dingmeng-xue commented on #11937
@dcaro , if we provide doc update #11954, can we deprioritize this issue?

[2020-05-21 12:24] dingmeng-xue commented on #11935
@mikefrobbins , can we or some people to update doc? @dcaro , can provide more information.

[2020-05-21 12:24] dingmeng-xue commented on #11934
This is an urgent issue. Please reproduce and investigate it.

[2020-05-21 12:25] #11916 closed

[2020-05-21 12:26] dingmeng-xue commented on #11916
Close it due to incorrect request.

[2020-05-21 12:26] dingmeng-xue commented on #11931
Wait service team to provide new endpoint.

[2020-05-21 12:27] dingmeng-xue commented on #11932
Target to S173

[2020-05-21 12:28] dingmeng-xue commented on #11933
Target to S173.

[2020-05-21 12:34] Neelkamal10 opened #11970 "Error-Blank Output"
@azure-sdk ## Description
(Get-AzWebApp).SiteConfig.AppSettings
While running this cmdlet, i am getting blank output.
the below attached picture illustrate it more clearly.
![Screenshot (69)](https://user-images.githubusercontent.com/54034262/82559555-7858c900-9b8d-11ea-979d-77b23ad2e4e2.png)

## Cost

[2020-05-21 14:33] dingmeng-xue commented on #11970
@Neelkamal10 , please share debug message after set `$DebugPreference="Continue"`

[2020-05-21 15:02] blueww commented on #10601
@coatesgavin

The [latest Azure Powershell](https://github.com/Azure/azure-powershell/releases/tag/v4.1.0-May2020) is released. It support -asjob in Get-AzStorageAccount.
Would you please try to modify `$azureSAResource = Get-AzStorageAccount -ResourceGroupName $azureSA.ResourceGroupName -Name $azureSA.Name` to the following script, to make the get account won't always wait and can retry on timeou

[2020-05-21 15:13] blueww commented on #10790
The datalake gen2 cmdlets is already released in latest Az.Storage module, like Az.Storage 2.0.0

[2020-05-21 15:52] Vaibhav-Agar commented on #11549
Closing per discussion with Michael.

[2020-05-21 15:52] #11549 closed

[2020-05-21 16:37] Drewm3 commented on #10253
Updating to the new owner of this cmdlet.

[2020-05-22 02:16] blueww commented on #11963
@dingmeng-xue
Like Set-AzStorageBlobContent will use the user agent set in https://github.com/Azure/azure-powershell/blob/ce5a8b5087be6cfc3fb462a4605de879999c165a/src/Storage/Storage/Common/DataManagementWrapper.cs#L33

We have other cmdlets like Get-AzStorageContainer, still don't have "Powershell" in the user agent, I will add soon.

[2020-05-22 03:34] LucasYao93 commented on #11940
I have updated examples. PR:[https://github.com/Azure/azure-powershell/pull/11972/]

[2020-05-22 06:50] dcaro commented on #11942
@BobTheMadCow this issue has been fixed in the Az.WebSites module.
Please install the most recent version of this module or use the Az module.

[2020-05-22 06:50] #11942 closed

[2020-05-22 10:11] yuxisun1217 opened #11974 "token always expires after about 1 hour"
Hi,

Hope everything's going well! These two days I was really bothered by the token expiration issue. I have changed my Azure account password 2 days ago and run Clear-AzContext and Disable-AzContextAutosave in my win10, and then re-login through Connect-AzAccount (multi-factor auth). Then I run Enable-AzContextAutosave to keep it login and re-login through Connect-AzAccount. But after that, I fo

[2020-05-22 11:04] Voteax commented on #2414
No ETA for a Fix yet? Still unable to pass Inline parameters when TemplateUri and TemplateParameterUri are used.

[2020-05-22 11:17] pritiherkal commented on #11869
@isra-fel Thanks for your response.

My VM had AzureRM modules to start with and I uninstalled all the modules, restarted my VM and then installed the latest Az modules. I do not remember importing any modules in advance -
Is there a way to find out if that happened? and please tell me which particular module it is?

Let me install Powershell Core and give it another try.

Best regards
Priti

[2020-05-22 15:51] dingmeng-xue commented on #11974
@yuxisun1217 , could you execute `Get-AzContextAutosaveSetting` and share the result to us?

[2020-05-22 15:52] #11970 closed

[2020-05-22 18:10] rlhip opened #11976 "unable to use PS scripts after updating to AZ modules 4.1.0"
Getting the following error when running PS scripts for Azure after upgrading to Az modules 4.1.0
installed older version 3.6.1 still get same error
repaired .net still get the error.

Failed to create a 'Settings' from the text 'Assembly references and imported namespaces serialized as XML namespaces'.
At C:\Scripts\_ARM_DEPLOY_MD\CURRENT - DEPLOY-LB-MD-LAB.ps1:1 char:1
+ ########################

[2020-05-22 19:08] eosfor opened #11978 "[FEATURE REQ] Allow MSFT Fluent SDK to reuse auth context from Powershell AZ Module"
Cross-referencing [the request](https://github.com/Azure/azure-libraries-for-net/issues/1075) here: https://github.com/Azure/azure-libraries-for-net/issues/1075

We use Fluent SDK to develop some binary PowerShell modules to manage some pieces of our Azure resources. It does not mean we re-implementing the AZ module, but rather, adding some extensions to it. According to the Auth document you have

[2020-05-23 00:07] yuxisun1217 commented on #11974
PS C:\WINDOWS\system32> Get-AzContextAutosaveSetting

Mode             : CurrentUser
ContextDirectory : C:\Users\yuxisun\.Azure
ContextFile      : AzureRmContext.json
CacheDirectory   : C:\Users\yuxisun\.Azure
CacheFile        : TokenCache.dat
Settings         : {}

[2020-05-23 02:00] eosfor commented on #11978
Here is the simple test to see what is happening

[code]

Then I run the cmdlet above, it works, but then when I load the AZ module, it fails to load.

![image](https://user-images.githubusercontent.com/9363027/82719327-50856600-9c5e-11ea-8ac6-cd222e44bf97.png)

[2020-05-23 02:20] DhivyaG19 opened #11981 "Get-AzADUser -Mail option does not work, is there another way to do it. Same issue by using AAD client directly when filter set to mail"
From additional debugging, filter applied is UPN, should be mail.

I tried using AAD client directly by setting filter in it to mail, still same issue.

Also, type is always null, I thought it will be guest
[code]
When I give my full UPN it works.
[code]

[2020-05-23 06:49] Francisco-Gamino commented on #11230
This has been fixed.

[2020-05-23 06:49] #11230 closed

[2020-05-23 06:53] Francisco-Gamino commented on #11443
This issue is fixed in the latest version of Az.Functions.

[2020-05-23 06:53] #11443 closed

[2020-05-23 06:54] Francisco-Gamino commented on #11458
This is a duplicate of https://github.com/Azure/azure-powershell/issues/11956.

[2020-05-23 06:54] #11458 closed

[2020-05-23 07:31] Francisco-Gamino commented on #11566
Hello @jschwanz -- could you please describe your scenario? If you are trying to create a consumption app, you can run the `New-AzFunctionApp` cmdlet specifying the `-Location` parameter, which is the geographical location where the function app will be hosted in a consumption plan. With this option, the backend creates a consumption plan underneath for your function app.
From here, you have the o

[2020-05-23 13:10] bebaele opened #11983 "Get-AzDataFactoryV2Dataset bug when expression in CompressionType"
## Description

When I use expression in filed "Compression Type" in a DataSet, Data Factory works but Get-AzDataFactoryV2Dataset return an error

![ADF expression](https://user-images.githubusercontent.com/45361439/82731473-84689600-9d07-11ea-8a17-79846c66e9c3.png)

## Steps to reproduce

- Create a parameter "CompressionType" (type = string) in a dataSet
- Setup an expression in a binary DataSet

[2020-05-24 02:02] markcowl commented on #11702
@husamhilal Agreed on the scalability issue - user assigned msi essentially lets you set up a credential for each unique role for your automation, while system-assigned MSI requires setting the correct roles each time you create a resource for automation. For now, storing the correct identity in settings / environment variables is likely the closes thing now to having a 'default' user-assigned MSI

[2020-05-25 01:44] dingmeng-xue commented on #11906
close it and follow up on #11492

[2020-05-25 01:44] #11906 closed

[2020-05-25 01:48] dingmeng-xue commented on #11983
@bebaele, could you provide debug message after you enable `$DebugPreference="Continue"`?

[2020-05-25 02:07] dingmeng-xue commented on #11981
`-mail` parameter equals to user principal name in AAD. Current logic in Azure PowerShell is to search user by UPN or Display name via AAD rest API. Type should be guest or member. We will fix it soon.

[2020-05-25 02:17] LucasYao93 commented on #11940
PR(#11972) has been merged.

[2020-05-25 03:02] #11772 closed

[2020-05-25 03:02] dingmeng-xue commented on #11825
Hi @arcotek-ltd , is there any update?

[2020-05-25 03:13] dingmeng-xue commented on #11976
@rlhip , could you share your script? If you meet the issue even you install 3.6.1, please ensure you remove installed Az 4.1 modules at the first and restart PowerShell because PowerShell always loads the latest version.

You can find installed module via below cmdlet and then go to folder to delete them. Please note **that do not remove all** because some of them are required by PowerShell and d

[2020-05-25 03:15] dingmeng-xue commented on #11395
Close this issue. @jmarti45, please contact us if you still meet the problem.

[2020-05-25 03:15] #11395 closed

[2020-05-25 05:04] bebaele commented on #11983
Hello Dingmeng,

Here is the debug message:

applet de commande Get-AzDataFactoryV2Dataset à la position 1 du pipeline
de la commande
Fournissez des valeurs pour les paramètres suivants :
(Tapez !? pour obtenir de l'aide.)
ResourceGroupName: z-afa-socle-integration-bba-ew1-rgp01
DataFactoryName: afa-integration-ew1-bba-dfa
DÉBOGUER : 06:57:03 - GetAzureDataFactoryDatasetCommand begin processing
wi

[2020-05-25 05:35] dingmeng-xue commented on #11983
Data Factory team, please help to look into this issue.

[2020-05-25 07:05] pvrk commented on #11693
@DanteNahuel : Please share the debug trace. Otherwise, I can't keep the bug open without any debug information. Thanks for your understanding

[2020-05-25 07:20] dingmeng-xue opened #11989 "Create VM basing on parameters of one existing vm"
## Description of the new feature
Compared by customer https://twitter.com/Steve_MSFT/status/1264773780330569734?s=19

It will be nice that New-AzVM supports creating VM basing on an existing VM within on cmdlet.

## Proposed implementation details (optional)
Get existing VM configuration at the first and then create a new one using that configuration.

[2020-05-25 08:18] isra-fel commented on #11869
Hi @pritiherkal yes there is one way to verify:
1. Call `[System.AppDomain]::CurrentDomain.GetAssemblies() | ? {$_.FullName -ilike "*keyvault*"} | fl` to see if there's any keyvullt dll. It should output nothing on a fresh new powershell console.
1. `Import-Module az.keyvault`
1. Call `[System.AppDomain]::CurrentDomain.GetAssemblies() | ? {$_.FullName -ilike "*keyvault*"} | fl` again. Now the keyv

[2020-05-25 09:00] diepes commented on #5326
I just ran into this creating a vault manually and not seeing the dns for 15minutes.
Is caching on dns servers causing this to be even worse ?

Could this be exacerbated by microsoft dns setup ?
returning SOA with 6000s timeout , 100minutes !!!

From https://rule11.tech/the-dns-negative-cache/
". If server not found is the response, then negative cache timeout is locally configured. If an NXDOMAIN

[2020-05-25 09:32] luisjmlky commented on #7962
Hi, I have the same error and version 6.13.1 .

![image](https://user-images.githubusercontent.com/33203615/82798625-117f2c80-9e79-11ea-9c82-ae67ce44cec4.png)

If I use the suggestion of @rahuldutta90 "full adls account name including the domain as a workaround" ej "**myacocount**.azuredatalakestore.net"

I get other error "The remote name could not be resolved: ". Is there any other workaround?

[2020-05-25 10:51] yossi-y opened #11992 "SavedSearch create required optional property (version)"
Got an error when ran without version:
PS C:\Users\yossiy> New-AzOperationalInsightsSavedSearch -ResourceGroupName yossiy -WorkspaceName yossiy -SavedSearchId 12345678 -DisplayName myTestSS -Category Yossi -Query 'Perf | count'
New-AzOperationalInsightsSavedSearch : 'Version' is less than minimum value of '1'.
At line:1 char:1
+ New-AzOperationalInsightsSavedSearch -ResourceGroupName yossiy -Works

[2020-05-25 11:14] VeryEarly commented on #11992
Hi @yossi-y,

I tried the cmdlet you provided:
[code]

Had successful response:
[code]
Can you provide more detail how this can be re-produced?

[2020-05-25 13:45] yossi-y commented on #11992
How you can reproduce it:
1. create a Log Analytics workspace
2. run the cmdlet:
New-AzOperationalInsightsSavedSearch -ResourceGroupName {resource-group-name} -WorkspaceName {workspace-name} -SavedSearchId {unique-id} -DisplayName {saved-search-name} -Category {category-name} -Query 'Perf | count'

This should create a savesearch in your workspace.

[2020-05-25 14:27] yossi-y commented on #11992
Adding @Yoram Singer<mailto:yorams@microsoft.com>
I can reproduce on my machine.
I recorder a clip with the issue: https://microsofteur-my.sharepoint.com/:v:/g/personal/yossiy_microsoft_com/EarE-q0JdZdJqNwDL7fAiJMBBR9hurwTkJ5Q_W6RUqX7Pg?e=un7gQK

From: Yabo Hu <notifications@github.com>
Sent: Monday, May 25, 2020 2:14 PM
To: Azure/azure-powershell <azure-powershell@noreply.github.com>
Cc: Yossi Yo

[2020-05-25 16:26] lmy269 commented on #11983
@shawnxzq , can you take a look? From swagger definition it's not parameterizable, but from UI it can. We might need to change the swagger definition and update the SDK.

"DatasetCompression": {
      "discriminator": "type",
      "description": "The compression method used on a dataset.",
      "type": "object",
      "properties": {
        "type": {
          "type": "string",
          "descr

[2020-05-26 00:07] Drewm3 commented on #11989
I have opened this as a feature request in feedback.azure.com: https://feedback.azure.com/forums/216843-virtual-machines/suggestions/40509406-create-vm-basing-on-parameters-of-one-existing-vm

[2020-05-26 00:07] #11989 closed

[2020-05-26 11:48] peppekerstens commented on #10236
https://twitter.com/devblackops/status/1264799055252611072?s=19

@dingmeng-xue   You guys should talk...

[2020-05-26 11:52] ishepherd opened #11996 "New-AzPolicyAssignment: ResourceIdentityRequired ... Policy assignments must include a resource identity when assigning 'Modify' policy definitions."
## Description

I get the following error from New-AzPolicyAssignment in Azure Cloud Shell,

[code]

I don't believe the identity should be required. When I do the assignment interactively in Azure Portal, I am allowed to skip making an identity.

The managed identity is only required if you want to run a Remediation task, which I do not.

Possibly related: https://github.com/Azure/azure-cli/issue

[2020-05-26 12:13] ishepherd commented on #11996
OK, I was just mistaken. When you do it interactively, an identity is always created for you. The

```-AssignIdentity -Location xxx```

parameters are just required when using `Modify` policies, even when you don't want to do a remediation task.

Weird design; it seems like it would fill our AAD full of spam 🤷‍♂️

[2020-05-26 12:13] #11996 closed

[2020-05-26 14:53] richmintz opened #11998 "Get-AzSynapseWorkspace returns Your Azure credentials have not been set up or have expired, please run Connect-AzAccount after Connecting"
## Description
After logging into Subscription using Connect-AzAccount I am unable to perform any of the Az.Synapse Powershell Commands. I get the following error

Get-AzSynapseWorkspace : Your Azure credentials have not been set up or have expired, please run Connect-AzAccount to set up your Azure credentials.
At line:1 char:1
+ Get-AzSynapseWorkspace
+ ~~~~~~~~~~~~~~~~~~~~~~
    + CategoryInfo

[2020-05-26 17:12] filizt commented on #11695
I wanted to update this issue that the requested feature will be in included in Template Specs (announced in Build Conference '20) in the upcoming months and will not be added to Blueprints. Closing the issue.

[2020-05-26 17:12] #11695 closed

[2020-05-27 01:28] rahuldutta90 commented on #7962
@luisjmlky  can you use most updated az.datalakestore modules?

There has been number of fixes since then. Would be better to use most recent version

[2020-05-27 01:41] VeryEarly commented on #11992
Hi @yossi-y ,

Can you please share the version of Az.OperationalInsights you are using?

If you take a look at the sample response I commented, the query was saved without "-Version" and default value is "2", can you please share the version of Az.OperationalInsights or try the [latest](https://www.powershellgallery.com/packages/Az.OperationalInsights/2.0.0)?

[2020-05-27 02:17] dingmeng-xue commented on #11978
@eosfor, you need to ensure that your project is using the same version of Az.Accounts. Otherwise, dotnet core has the problem to load the different version of assembly with the same name.

[2020-05-27 02:18] markcowl commented on #9448
At least for the Foreach-Object -Parallel, this is likely the issue: #11201

[2020-05-27 05:03] DhivyaG19 commented on #11981
Thanks @dingmeng-xue for confirming for Type property.

For -mail switch, according to MS Graph [User object](https://docs.microsoft.com/en-us/graph/api/resources/user?view=graph-rest-1.0) documentation UPN and mail are different properties. Get-AzADUser powershell also have two different switch UserPrincipalName & Mail separately for user properties UPN and mail accordingly.

[2020-05-27 05:32] dingmeng-xue commented on #11981
Azure PowerShell is still using Azure AD lib. I didn't investigate further. I guess MS Graph is a little different.

[2020-05-27 05:37] FriedrichWeinmann commented on #7752
Another thing in favor of adding a command to access the token:
All the known workarounds to getting it after all break in Constrained Language Mode (Which will likely be enabled in environments that are conscious of PowerShell Threats).

As for the security concerns:

- You are using default authentication libraries. Any malicious actor that can run code as the current user can access it, there's

[2020-05-27 07:58] yuxisun1217 commented on #11974
Hi there,
I just found the root cause of this issue and it's not related to Az module itself. Apologize for the false positive and thank you for your time!

[2020-05-27 07:58] #11974 closed

[2020-05-27 07:59] yossi-y commented on #11992
I'm using:
Version    Name                                Repository           Description
-------    ----                                ----------           -----------
1.1.0      Az.OperationalInsights              PSGallery            Microsoft Azure PowerShell - Operational Insights service cmdlets for Azure Resource Manager in Windows PowerShell and PowerShell Core.

I've updated to the late

[2020-05-27 08:22] clintonturner opened #12001 "New-AzResourceGroupDeployment -WhatIf results in InternalServerError"
## Description
Running `New-AzResourceGroupDeployment -WhatIf` using an exported ARM template against the Resource Group from which the template was exported results in `InternalServerError - Long running operation failed with status 'Failed'. Additional Info:'Encountered internal server error while processing the deployment what-if request.`

## Steps to reproduce

[code]

## Environment data

[c

[2020-05-27 12:54] DreamRivulet opened #12003 "Set-AzureRmResource -Tag replaces existing tags."
Currently Set-AzureRmResource -Tag will replace existing tags instead of merging,  this may Azure managed tags overwritten, and it will be difficult to restore them.

Could we can change the default behavior to merge new tags into existing ones?

[2020-05-27 13:19] pritiherkal commented on #11869
Hi @isra-fel, I ran the below commands on Powershell console and it behaved like you mentioned - it did not output anything at first, then the keyvault dll was there after running the import command.

PS C:\Users\PHerkal2> [System.AppDomain]::CurrentDomain.GetAssemblies() | ? {$_.FullName -ilike "*keyvault*"} | fl

PS C:\Users\PHerkal2> Import-Module az.keyvault

PS C:\Users\PHerkal2> [System.AppD

[2020-05-27 13:28] amergey commented on #11911
The image I am using requires a plan
[code]
requires plan info otherwise creation of the scale set fails

[code]
It may be the plan that is preventing sku to be changed.

[2020-05-27 14:53] eosfor commented on #11978
@dingmeng-xue , that is the problem. The Az.Accounts uses Microsoft.IdentityModel.Clients.ActiveDirectory Version=3.19.2.6005. On the other hand, my cmdlet uses [Fluent SDK](https://github.com/Azure/azure-libraries-for-net), which in turn uses Microsoft.IdentityModel.Clients.ActiveDirectory/4.3.0. So when I try to load or execute my cmdlet after AZ it fails with the message above. When I do it in

[2020-05-27 15:01] dingmeng-xue commented on #11998
Involve @idear1203

@richmintz , before calling `Get-AzSynapseWorkspace`, please try to call `Get-AzSubscription` which should list all available subscriptions and check if your current Azure context is correct.
If there is still issue, please call `$DebugPreference="Continue"` and call `Get-AzSynapseWorkspace` again. You should see detail debug information and please share to us.

[2020-05-27 15:14] dingmeng-xue commented on #12003
@DreamRivulet , thanks for your feedback. Azure PowerShell cmdlet honors API of services. The set (update) operation partially updates object and the granularity is on attribute level such as Tag. If we allow merging Tag, we need to introduce additional parameter set to avoid breaking change to other customer and we need to figure out another way to support removing tag via update operation.

Invo

[2020-05-27 15:26] idear1203 commented on #11998
@richmintz we observed the issue several times before. One possible reason is that we added Synapse endpoints to Azure PowerShell underlying components. To solve the issue, please execute `Clear-AzContext`, then `Connect-AzAccount` to sign in again. Let me know if the issue still exists.

[2020-05-27 15:33] dingmeng-xue commented on #12001
I involve Resources team to look into this issue. The response from service has no clear information.

[2020-05-27 15:43] dingmeng-xue commented on #11978
@eosfor , I have no good idea to support this case. Current dotnet core cannot load the 2 assembly versions into one process. It is the one reason that current Azure PowerShell cmdlets doesn't use any Fluent SDK. For your case, Azure CLI is one option, and another one is you have to use management SDK for your module.

[2020-05-27 15:58] jschwanz commented on #11566
Our users need to transition from Consumption (Dynamic - Y1) to Premium (EP#) and back when the situation calls for it. We also have existing functions on Dedicated plans that we'll want to convert over to Premium. Historically we've been able to make these sku changes by simply calling Set-AzAppServicePlan, but the rigidity of the *-AzFunctionAppPlan cmdlets around Premium-only makes things more

[2020-05-27 16:11] jschwanz commented on #10537
This and the related https://github.com/Azure/azure-powershell/issues/11566 are very important to me.

[2020-05-27 17:26] bhanumuddhana opened #12004 "Not able to set logo for Azure AD application using Set-AzureADApplicationLogo"
I am trying to setup logo for Azure AD application using Powershell getting following error.
$AppName = "Testapp"
$ADApplication = Get-AzureADApplication -Filter "DisplayName eq '$AppName'"
$Null = Set-AzureADApplicationLogo -ObjectId $ADApplication.ObjectId -FilePath "Testpath"

set-AzureADApplicationLogo : Error occurred while executing SetApplicationMainLogo
Code: Service_InternalServerError
Me

[2020-05-27 18:28] vllama commented on #5099
I am getting this same error but in a completely different context.  I am trying to get a sas token for an appsetting for one of our functions using listAccountSas
When I add the following lines to my templates in the parameters section the error occurs;
[code]
and log_storage_sas_properties looks like :
[code]
Error details:
Tracking id: 13c60fe7-ccd3-4aa4-b171-6eb98019a3a1
[code]

[2020-05-27 19:19] Francisco-Gamino opened #12005 "Need a cmdlet to get an Azure Function master and default app keys"
Need a cmdlet to get an Azure Function master and default app keys

[2020-05-27 19:20] Francisco-Gamino commented on #12005
cc: @anthonychu @anirudhgarg

[2020-05-27 19:53] MehaKaushik commented on #11381
Closing, since the fix was checked in and released in version 0.1.5

[2020-05-27 19:53] #11381 closed

[2020-05-27 20:00] Drewm3 commented on #11297
@bilaakpan-ms, could you or someone from your team look into this issue. It seems to be a problem in the cmdlet according to @axayjo.

[2020-05-28 00:17] dingmeng-xue commented on #11992
Close this issue now. @yossi-y, please contact us if there is other question.

[2020-05-28 00:18] #11992 closed

[2020-05-28 00:35] eosfor commented on #11978
@dingmeng-xue, what do you think, in general, what is the best way to consume AZ module authentication context in some external binary module?

[2020-05-28 00:35] MattKotsenas opened #12007 "Error message when attempting to create an incompatible VM as Spot incorrectly mentions "low priority""
## Description
When attempting to create a VMSS that doesn't support Spot pricing, the error message refers to the old "low priority" naming scheme. This should be changed to avoid confusing users with the old feature naming scheme.

## Steps to reproduce

[code]

## Environment data

[code]

## Module versions

[code]

## Debug output

[code]

## Error output

[code]

[2020-05-28 00:55] dingmeng-xue commented on #11976
You also can use `Resolve-AzError` to get the list of errors during scripts execution. Please share to us.

[2020-05-28 01:37] dcaro commented on #12003
@DreamRivulet thanks for this feature request, we want to have consistency across the different cmdlet in Azure PowerShell. Such a change would imply to update all the currently released Az module. We will evaluate the possibility of this change based on its impact and the need from other customers.

In the meantime, you can use the following workaround:
[code]

[2020-05-28 05:10] erich-wang commented on #11978
@eosfor , could you please try the following two options:
 - You may try Windows PowerShell if you don't care about PowerShell platform
 - If need to stick to PowerShell 7, try Az.Accounts 2.0.1-preview which use MSAL.NET instead of ADAL.NET, it should have no version conflict with your cmdlet, but may need credential adapter as Fluent SDK use ADAL.NET

[2020-05-28 06:11] tanminator commented on #10842
Do we have any update? What should we use instead of "default"?

[2020-05-28 06:19] Kotasudhakarreddy opened #12010 "Appservices : Upgrade Appservice PS cmdlets to use Microsoft.Azure.Management.Websites 3.0 NuGet"
## Description of the new feature
upgrade Appservice PS cmdlets to use latest Microsoft.Azure.Management.Websites (3.0) Nuget

## Proposed implementation details (optional)

[2020-05-28 06:46] dingmeng-xue commented on #12007
Compute Team, please help to look into this question.

[2020-05-28 06:47] dcaro commented on #12004
@bhanumuddhana thanks for reporting the issue, we are investigating and will come back to you shortly.

[2020-05-28 07:06] dingmeng-xue commented on #12010
Could you clarify the reason that you hope to upgrade to the latest .NET CORE? (I assume "the latest .NET SDK" means dotnet core 3.1.x)

You can see the latest dotnet standard doesn't support dotnet framework. But Azure PowerShell has huge customer base who are using Windows PowerShell.

Add @dcaro , @markcowl , @erich-wang

[2020-05-28 08:39] lcchelpdesk commented on #12004
Hi, also want to report, today we were trying to run Moodle Microsoft Office 365 Integration configuration script "Moodle-AzureAD-Script". Run it from different places, domain, non domain, inside network, outside network and also always receiving this error:
[code]

[2020-05-28 12:09] bart-rosseel opened #12015 "Set-AzWebAppSlot incorrectly formats serverFarmId causing Service Plan not found error"
## Description
The Set-AzWebAppSlot incorrectly formats the serverFarmId before calling the REST API.

It only contains the service plan name, whereas the same for Set-AzWebApp contains the full path to the service plan.

Example :
[code]
This fails because the REST call to update the webappslot does not provide the full serverfarmid :
"serverFarmId": "sla-devintpic02-03"

## Steps to reproduce

[

[2020-05-28 12:47] paulomorgado opened #12016 "Considere adding DestDirectory and DestFilePath to Start-AzStorageFileCopy with SrcFile"
## Description of the new feature

If I already have a directory, I shouldn't need to decompose it to invoke Start-AzStorageFileCopy

## Proposed implementation details (optional)

Share name and context can be taken from the directory.

If DestFilePath is omitted, the name from SrcFile should be used.

[2020-05-28 14:10] rlhip commented on #11976
hi here is the output.

PS C:\Scripts\_ARM_DEPLOY_MD> Resolve-AzError
WARNING: Breaking changes in the cmdlet 'Resolve-AzError' :
WARNING:  - The `Resolve-Error` alias will be removed in a future release.  Please change any scripts that use this alias to use `Resolve-AzError` instead.

WARNING: NOTE : Go to https://aka.ms/azps-changewarnings for steps to suppress this breaking change warning, and

[2020-05-28 14:23] bart-rosseel commented on #12015
Comparing SetAzureWebAppSlot.cs and SetAzureWebApp.cs I believe the issue is because in the first case the AppServicePlan resource group is not passed into the UpdateWebApp call.

In SetAzureWebAppSlot
`                    CmdletHelpers.TryParseAppServicePlanMetadataFromResourceId(WebApp.ServerFarmId, out rg, out servicePlanName);
WebsitesClient.UpdateWebApp(ResourceGroupName, location, Name, Slot

[2020-05-28 14:55] dingmeng-xue commented on #12016
Storage team, could you help to evaluate it?

[2020-05-28 15:20] jonarmstrong commented on #11663
@VeryEarly , @dingmeng-xue

Any updates on this?

[2020-05-28 15:40] dingmeng-xue opened #12018 "Bump StackEdge version and update psd1 correctly"
## Description

Current verioncontroller tool executes incorrectly for Az.StackEdge module because it contains preserved term "Stack". We need to ensure version bump and psd1 update correctly

## Cost

[2020-05-28 15:48] dingmeng-xue opened #12019 "Avoid duplicated version during version bump"
## Description

Current version bump is just basing on API change. But new generated version may be conflicted with preview version on test gallery or psgallery

We need to check existing preview version as well during run version controller too. Below script can get the list of versions
[code]

## Cost

[2020-05-28 19:25] eosfor commented on #11978
@erich-wang , is there any adapter ready to use? In general, is it ok to pull the AZ context from it and reuse it elsewhere? Or, maybe there is another way you suggest to use?

[2020-05-28 19:51] JustinGrote opened #12021 "Feature Request: Switch-AzContext for Interactive"
## Description of the new feature
The experience for switching azure contexts is not great. You have to do Get-Azcontext, then some fancy filtering and edit to select the correct account, and then run Set-AzContext

## Proposed implementation details (optional)
Provide a menu-based option for quick selection. I've made a proof of concept here:
![image](https://user-images.githubusercontent.com/152

[2020-05-28 20:29] satyavel commented on #2283
Happy to announce that the 800 deployment issue is going to be addressed in a month. The change is getting rolled out: https://docs.microsoft.com/en-us/azure/azure-resource-manager/templates/deployment-history-deletions?tabs=azure-powershell so this issue is closed.

[2020-05-28 20:29] #2283 closed

[2020-05-28 22:59] rlhip commented on #11976
The issue doesn’t happen with 3.6.1 that I have before upgrade.  I do an update-module az   and that installs 4.6.1.  then I see the error posted about xml namespaces.

Close PowerShell and PowerShell ISE and delete all modules with an AZ
Removed all previous AZ modules here
C:\Users\c749\Documents\WindowsPowerShell\Modules
and
C:\Program Files\WindowsPowerShell\Modules

If I use Az modules v 3.6.

[2020-05-29 05:50] blueww commented on #12016
@paulomorgado

Thanks for raising the request!
We are busy on some new storage features recently, will work on this after finish the current planned features.

Several questions:
1. As you want to add directory support for destination file, do you want to add directory support for source file?
2. For "If DestFilePath is omitted, the name from SrcFile should be used.",

- if the source is a blob/Ur

[2020-05-29 06:09] erich-wang commented on #11976
@rlhip , could you please share the following info with us:
1. Please run $PSVersionTable and paste the output in the below code block
[code]
2.  Please run (Get-Module  -ListAvailable) and paste the output in the below code block
[code]
3. Set $DebugPreference='Continue' before running your script and paste the result in the below code block
[code]
4. It would be much helpful if you could share u

[2020-05-29 06:35] luisjmlky commented on #7962
Hi, I work with AzureRM not with Az modules. AzureRM will replace to Az modules isn't it?.

Regards

[cid:d2f8577d-956d-415c-8944-e0f173a2057c]

________________________________
De: Rahul Dutta <notifications@github.com>
Enviado: miércoles, 27 de mayo de 2020 3:29
Para: Azure/azure-powershell <azure-powershell@noreply.github.com>
Cc: luisjmlky <luisjmlky@hotmail.com>; Mention <mention@noreply.gith

[2020-05-29 06:37] erich-wang commented on #11978
@eosfor , per my understanding, Azure CLI exposes access token as plain text in one file and fluent SDK may reuse the access token, is this what you mean in "According to the Auth document you have already integrated with Azure CLI, which allows Fluent to reuse CLI authentication context."? Actually Azure CLI is going to retire exposing access token as there's security concern.
Currently Azure CLI

[2020-05-29 06:39] erich-wang commented on #11885
@jsco2t , have you had chance to try Az.Aks 1.1.1? Does it work for you? We'll assume the issue has been solved and will close the issue if we don't hear from you within 5 days, thanks.

[2020-05-29 07:01] bart-rosseel commented on #12015
I suspect the change needed is similar as to what was done on SetAzureWebApp.cs ... but here on line 308 change
[code]
to
[code]
passing in the AppServicePlan's resourcegroup.

[2020-05-29 07:37] codezanthor commented on #10495
I am facing same problem.  Configured Managed identity on Azure VM as per instructions. While trying to sign into powershell on the vm as instructed in

https://docs.microsoft.com/en-us/azure/active-directory/managed-identities-azure-resources/how-to-use-vm-sign-in#azure-powershell

[code]
Subsequent commands fail due to Subscription Name being null

[code]

[2020-05-29 09:08] djechelon commented on #6981
@Bartmax I had to switch to regular PowerShell (the blue-background one) for this to work. I normally use Powershell 7 (the black open source) as default

[2020-05-29 09:20] paulomorgado commented on #12016
@blueww,

1. As the user will be copying an existing file, that file can be obtained from the directory and file name from `Get-AzStorageFile`. Otherwise that would add a lot of options more:
* `Start-AzStorageFileCopy -SrcDirectory $sd -DestDirectory $dd -Name $n`
* `Start-AzStorageFileCopy -SrcDirectory $sd -SrcName $sn -DestDirectory $dd -DestName $dn`
2. What I'm proposing is short for:
* `Sta

[2020-05-29 11:39] dingmeng-xue commented on #11981
@DhivyaG19 , thanks for reporting. You are right that I have reproduced the issue. Below code is incorrect.
https://github.com/Azure/azure-powershell/blob/54851b406ee36b4384c9cee098584128ff7ca1b9/src/Resources/Resources/ActiveDirectory/Models/ActiveDirectoryClient.cs#L201

We will fix this issue soon.

[2020-05-29 11:43] dingmeng-xue commented on #10526
We will add below attributes to ADUser
- UsageLocation
- GivenName
- Surname
- AccountEnabled
- MailNickname
- Mail

[2020-05-29 11:51] dingmeng-xue commented on #11929
@AbhilashMDoijode, do you still have the issue?

[2020-05-29 11:56] dingmeng-xue commented on #11181
@mattyt0406 , do you still can see the same error? Can you see get service principal on Portal?

[2020-05-29 12:00] dingmeng-xue commented on #10326
I have to close this issue now because Azure PowerShell team has no channel to log or transfer issue to  AzureAD team. Please contact Microsoft CSS if it is serious blocker. Sorry for inconvenience.

[2020-05-29 12:00] #10326 closed

[2020-05-29 15:30] rlhip commented on #11976
Hi attached are a copy of the scripts and output.

Windows PowerShell
Copyright (C) Microsoft Corporation. All rights reserved.

Try the new cross-platform PowerShell https://aka.ms/pscore6

PS C:\WINDOWS\system32> $PSVersionTable

Name                           Value
----                           -----
PSVersion                      5.1.18362.752
PSEdition                      Desktop
PSCompatib

[2020-05-29 15:45] eosfor commented on #11978
@erich-wang , yes, this is what I meant.

Do you mean, Fluent is also moving? What do you mean by "SSO among them"?

[2020-05-29 16:01] eosfor commented on #11978
@erich-wang , and the main thing is, how do you want me to integrate to AZ auth context in a way, that I do not authenticate twice in my PowerShell binary module, which, in turn, uses Fluent. What is the correct way to do it? :)

[2020-05-29 16:03] blueww commented on #12016
@paulomorgado

1. I think your suggestion is also add directory support for source file. BTW, for the sample, File cmdlet will use Path instead of Name to specify the file location. So we won't have -Name or -DestName

2. You don't answer my question. As the Start-AzStorageFileCopy cmdlets is complex on parameterset, we need to consider all parameter sets for the change. Do you suggest we only sup

[2020-05-29 16:20] alexeyauslender commented on #11202
Running into the same issue on Azure DevOps server build agent.
I am trying to delete and create 4 database in a loop. Sporadically the same issue comes up.
My code:
`(Get-ChildItem -Directory).Name | ForEach-Object {
    $dbName = "${env:Agent_Name}_${_}_PR"

    if (Get-AzSqlDatabase -ServerName $serverName -DatabaseName $dbName -ResourceGroupName $resourceGroupName -ErrorAction SilentlyContinue

[2020-05-29 16:28] etiennehucklemarchand opened #12024 "Az.Accounts 1.8.0 having trouble to load - System.Threading.Tasks.Extensions"
## Description
Since a PowerShell Az module upgrade, the Az.Accounts module has trouble loading. The failure is caught by $ERROR environment variable. The variable gets filled-in when importing the Az.Accounts modules, when opening a PowerShell session or console. It seems to have trouble with one of its dependencies:
[code]
Getting more information on the error above by running
[code]
It outputs

[2020-05-29 18:10] #7799 closed

[2020-05-29 18:10] #7800 closed

[2020-05-29 18:35] jknowldenic opened #12025 "Update-AzWvdApplicationGroup friendlyname not changed in client"
## Description
Using the Update-AzWvdApplicationGroup cmdlet to change the Friendly Name of a Desktop Application Group is not reflected in the user's client (tested Windows 64bit Remote Desktop client and the web client).

The updated friendly name DOES show up in the properties of the application group on Azure portal or when calling Get-AzWvdApplicationGroup.  It's as though the property is bei

[2020-05-29 21:53] #11679 closed

[2020-05-29 21:56] zjalexander commented on #11679
Thanks for suggesting this feature. It has been added to the backlog.

[2020-05-29 22:11] clouditspace commented on #1626
My script here in the following link can solve this
http://cloudcompute.info/delete-azure-vm-and-all-associated-resources-using-powershell-script/

Thanks,
Manu

[2020-05-29 22:19] axayjo commented on #10860
@grizzlytheodore can you take a look?

[2020-05-30 01:25] #11056 closed

[2020-05-30 17:15] cordonsa commented on #8314
I found the following ones:

- Microsoft.Compute/restorePointCollections
- Microsoft.Automation/automationAccounts/configurations
- Microsoft.OffAzure/VMwareSites
- Microsoft.DevTestLab/schedules
- Microsoft.insights/actiongroups
- Microsoft.Automation/automationAccounts/configurations
- Microsoft.Migrate/assessmentProjects
- Microsoft.Network/networkWatchers/connectionMonitors
- Microsoft.Storage

[2020-05-30 17:52] daveneeley commented on #9078
https://github.com/PowerShell/PowerShell/issues/5239

[2020-05-31 10:34] dingmeng-xue commented on #12019
Assign to @Radium1209 and @wyunchi-ms

[2020-05-31 10:34] dingmeng-xue commented on #12018
Assign to @Radium1209 and @wyunchi-ms

[2020-05-31 10:36] dingmeng-xue commented on #12024
@erich-wang , please look this similar issue.

[2020-05-31 10:38] dingmeng-xue commented on #12021
@JustinGrote, thanks for your suggestion.

@dcaro , please help to review this request.

[2020-05-31 10:47] dingmeng-xue commented on #12025
@jknowldenic, could you enable debug via `$DebugPreference="Continue"` and share debug message for below scripts?
[code]

[2020-05-31 10:50] dingmeng-xue commented on #11923
Close this issue now. Please reopen or create new one if there is further information.

[2020-05-31 10:50] #11923 closed

[2020-05-31 10:56] dingmeng-xue commented on #10063
@autocloudarc , Was your issue resolved?

[2020-05-31 11:00] dingmeng-xue commented on #11902
This issue is due to current Get-AzTenant is using API version 2016-06-01. We need to upgrade API to newer version.

[2020-05-31 11:03] MaximSidorchuk commented on #11902
Thanks for update.
Is there any information about the terms of switching to new API?

[2020-05-31 11:13] dingmeng-xue commented on #11902
API version is hard coded in source code because we need to use model to serialize and deserialize payload. We cannot support multiple API version yet.

[2020-05-31 13:46] dingmeng-xue commented on #11202
Sql team, please help to look into this issue.

[2020-05-31 20:57] kazinad commented on #8410
I ran into this bug. Is there any chance to fix it? Thanks.

[2020-05-31 21:02] yairt1974 commented on #11158
Thanks for reporting. We will get that fixed.

[2020-05-31 21:02] #11158 closed

[2020-05-31 21:15] ecfan commented on #8410
@daviburg, @pankajsn, and @refortie,

Is there an update on fixing this bug with Set-AzureRmLogicApp? Also, related to this issue: https://github.com/Azure/azure-powershell/issues/5233

[2020-05-31 22:57] JustinGrote opened #12031 "Az Deployment Plan Whatif -ResultFormat should include JSON option"
@shenglol
## Description of the new feature
[In AZ CLI you can get a JSON representation of the whatif with the --no-pretty-print option](https://docs.microsoft.com/en-us/azure/azure-resource-manager/templates/template-deploy-what-if?tabs=azure-powershell#azure-cli). An equivalent in powershell is required so that custom output formats can be derived (for instance, doing WhatIfs on the ARM file as

[2020-06-01 02:01] dingmeng-xue commented on #12031
Thanks for your comments.

The output of PowerShell is object-based which is different from shell. In addition, there is a technical limitation because current Azure PowerShell bases on dotnet SDK. SDK already deserializes JSON object before cmdlet processes it. The output user have seen is just diagnosis information and it is not PowerShell output.

We are thinking to support it if cmdlet doesn't

[2020-06-01 02:42] JustinGrote commented on #12031
@dingmeng-xue Reading the source code it looks like you're getting the JSON and formatting it further down the road
https://github.com/Azure/azure-powershell/blob/44d6cef0a24721571a720c745b8ac61dd9102a63/src/Resources/ResourceManager/SdkClient/ResourceManagerSdkClient.cs#L1353-L1355

Why not just have an additional ExecuteDeploymentWhatIf override that returns the raw json rather than the formatte

[2020-06-01 03:27] #9532 closed

[2020-06-01 03:28] dingmeng-xue commented on #9532
Duplicate issue #11981

[2020-06-01 03:30] dingmeng-xue commented on #9272
@dcaro and @mikefrobbins , how can we get the permission information?

[2020-06-01 03:38] znrk opened #12033 "Add-AzApplicationGatewayBackendAddressPool : "BackendIPConfigurationIds" is not implemented."
"Example 3" is an example of "BackendIPConfigurationId" option, but isn't this option implemented?
I think you should remove "Exapmle 3" in this document or link to the content of "Set-AzNetwork InterfaceIpConfig".

## Steps to reproduce

[code]

## Environment data

$PSVersionTable

Name                           Value
----                           -----
PSVersion                      7.0.1
PSEd

[2020-06-01 05:07] dingmeng-xue commented on #12033
Network team, please help to review this question on reference example.

[2020-06-01 05:19] dingmeng-xue commented on #12031
@JustinGrote , my understanding is SDK API of IResourceManagementClient cannot return json string. It already returns csharp object WhatIfOperationResult and WhatIfChange.
https://github.com/Azure/azure-sdk-for-net/blob/ddf2da6a8212a0d3adb361c5f90d433d3663791b/sdk/resources/Microsoft.Azure.Management.Resource/src/Generated/Models/WhatIfChange.cs#L47

This deserialization is handled by SDK and Azur

[2020-06-01 05:45] dingmeng-xue commented on #10559
Close this issue because service is not available. The project will be removed too.

[2020-06-01 05:45] #10559 closed

[2020-06-01 05:51] #10526 closed

[2020-06-01 05:51] #11981 closed

[2020-06-01 06:20] dingmeng-xue commented on #10060
Due to Monitor module won't be auto generated in the near future, close this request.

[2020-06-01 06:20] #10060 closed

[2020-06-01 06:20] dingmeng-xue commented on #10059
Due to Storage module won't be auto generated in the near future, close this request.

[2020-06-01 06:20] #10059 closed

[2020-06-01 14:40] grizzlytheodore commented on #10860
bringing this to my team's attention

[2020-06-01 14:53] JustinGrote commented on #12031
@dingmeng-xue You can pass it a custom HTTPClientHandler when creating the resourcemanagementclient and intercept the responses. You can add a handler that saves off the whatif responses to a variable and then return that if requested, among many other options.

https://docs.microsoft.com/en-us/dotnet/api/microsoft.azure.management.resourcemanager.resourcemanagementclient?view=azure-dotnet
https:/

[2020-06-01 15:44] KarenHammons commented on #12033
@surajmb can you assist?

[2020-06-01 16:35] paulomorgado commented on #12016
1. Yes. `Path` makes more sense.

2. `Start-AzStorageFileCopy -SrcFile $sf -DestDirectory $dd` would be short for `Start-AzStorageFileCopy -SrcFile $sf -DestDirectory $dd -DestFilePath $sf.Name`. Which, in hindsight, doesn't seem to worth the trouble.

[2020-06-01 16:39] jknowldenic commented on #12025
DEBUG: 12:30:14 PM - GetAzureRMContextCommand begin processing with ParameterSet 'GetSingleContext'.
DEBUG: 12:30:14 PM - using account id '<user id>'...
DEBUG: AzureQoSEvent: CommandName - Get-AzContext; IsSuccess - True; Duration - 00:00:00.0063961;
DEBUG: Finish sending metric.
DEBUG: 12:30:14 PM - GetAzureRMContextCommand end processing.
DEBUG: CmdletBeginProcessing:
DEBUG: CmdletProcessRecord

[2020-06-01 17:33] mattyt0406 commented on #11181
@dingmeng-xue - this appears to have been fixed.  What was the resolution or what caused the break?

[2020-06-01 18:57] zjalexander commented on #10063
Yes, it's definitely the ":".
internal bug tracking ID: 7341857

simpler repro
[code]
[code]

but remove the :
[code]
[code]

[2020-06-01 19:00] bhanumuddhana commented on #12004
Any Updates on this ?

[2020-06-01 23:00] dcaro commented on #11326
@Virtualserve closing this issue as this is related to the documentation. Feel to add a comment if you feel otherwise.

[2020-06-01 23:00] #11326 closed

[2020-06-01 23:12] dcaro commented on #11768
@wmgries this seems to be related to the AzFilesHybrid module, can you please have a look?

[2020-06-01 23:18] dcaro commented on #9833
@krysickij1 can you please let me know if you are still facing this issue?
Generally speaking we are recommending to use the Az module since this is the generation of modules that receive the improvements from Azure.

[2020-06-01 23:21] dcbrown16 opened #12038 "New-AzDatalakeGen2FileSystem is undocumented"
This example is given in the Data Lake docs.
[code]
https://docs.microsoft.com/en-us/azure/storage/blobs/data-lake-storage-directory-file-acl-powershell

But this command is not listed in the reference docs.
https://docs.microsoft.com/en-us/powershell/module/az.storage/?view=azps-4.1.0

Please add documentation when possible.

[2020-06-01 23:26] dcaro commented on #10359
@SumanthMarigowda-MSFT this content is relevant for those who still need to manage resources exposed by the Azure Service Management.
I am closing this issue, feel free to comment if you feel otherwise,

[2020-06-01 23:26] #10359 closed

[2020-06-01 23:33] dcbrown16 commented on #12038
For that matter, it looks like there are Get-AzDatalakeGen2FileSystem and Remove-AzDatalakeGen2FileSystem commands at least as well. Please add all related commands.

[2020-06-01 23:37] dcaro commented on #10435
@lazyruss thanks for reporting this issue, since this will introduce a breaking change we will not be able to address this before the next breaking change window.

[2020-06-01 23:59] Francisco-Gamino commented on #10573
In Az.Functions we are using the built-int AsJob support, so this type converter is not longer required.

[2020-06-01 23:59] #10573 closed

[2020-06-02 00:03] pmozbert commented on #10216
looks like Azure still hasn't fixed this.  just about any response from an azure powershell command can be converted to json without a problem.  Why not fix this instead of blaming powershell. converting to json is very valuable in cases where the azure docs are lacking, and you have to do some sleuthing to figure out how how things work. This is especially true with the scant ARM documentation re

[2020-06-02 00:05] pmozbert commented on #10216
and the workaround doesn't work.

[2020-06-02 00:06] Francisco-Gamino commented on #9239
Hello @Fyzxs and @tcsdmaic -- To add an existing application insights project to a function app, run either 1 or 2:

1)  `Update-AzFunctionApp -Name <functionAppName> -ResourceGroupName <resourceGroupName> -ApplicationInsightsName <projectName>`
2) `Update-AzFunctionApp -Name <functionAppName> -ResourceGroupName <resourceGroupName> -ApplicationInsightsKey <key>`

The `Update-AzFunctionApp` cmdlet

[2020-06-02 00:07] Francisco-Gamino commented on #10537
cc: @anirudhgarg @anthonychu @eamonoreilly for FYI

[2020-06-02 00:14] Francisco-Gamino commented on #10547
We only support `-AsJob` on long running operations like New and Update. In order to enable this, we need to write a customer type converter to support the serialization and deserialization ISendAsyncStep for the `-HttpPipelineAppend` and `-HttpPipelinePrepend` parameters. Fore more info, please see https://github.com/Azure/azure-powershell/issues/10573. Moving to backlog.

[2020-06-02 00:18] Francisco-Gamino commented on #4690
Hello @panchagnula -- I am reassigning this issue back to you as this code path in on web apps.

cc: @anirudhgarg @eamonoreilly @anthonychu

[2020-06-02 00:24] Francisco-Gamino commented on #10756
Hello @dingmeng-xue -- this issue is in the infrastructure from the generated code. Could you please take a look? This only repros on Windows PowerShell 5.1.

[2020-06-02 00:26] Francisco-Gamino commented on #11698
This issue has been fixed.

[2020-06-02 00:26] #11698 closed

[2020-06-02 00:27] Francisco-Gamino commented on #11699
This work has been completed. Closing issue.

[2020-06-02 00:27] #11699 closed

[2020-06-02 00:27] Francisco-Gamino commented on #11700
This issue has been fixed in the latest version of the module.

[2020-06-02 00:27] #11700 closed

[2020-06-02 00:53] Francisco-Gamino commented on #11566
Adding @anthonychu @eamonoreilly @anirudhgarg

Customer would like to change plan sku from dynamic (Dynamic - Y1) to Premium (EP#) and vise-versa. Currently, New/Update-AzFunctionAppPlan only support Premium plans.

[2020-06-02 01:38] panchagnula commented on #4690
@Francisco-Gamino the issue was assigned to you change the implementation to work for slots, the current implementation will not work for slots, that's the reason functionapp has its own creates without sharing code with webapps. Webapps code will not support functions, please consider as a new task to create. Thanks!

[2020-06-02 03:31] dingmeng-xue commented on #11181
@mattyt0406, I believe it was server side issue. We have no information because no service API is changed. I close this issue and please contact if you have any further question.

[2020-06-02 03:31] #11181 closed

[2020-06-02 04:51] dingmeng-xue commented on #10756
@dolauli , please look into this issue.

[2020-06-02 08:15] wahyuen opened #12042 "New-AzManagedApplication - Object reference not set to an instance of an object"
## Description
When attempting to create a new Managed Application, the command returns with `Object reference not set to an instance of an object`

## Steps to reproduce

[code]

## Environment data

[code]

## Module versions

[code]

## Debug output

[code]

## Error output

[code]

[2020-06-02 08:24] #11812 closed

[2020-06-02 08:33] krysickij1 commented on #9833
@dcaro we change the way of importing modules so I'm not sure whether this is still an issue.

[2020-06-02 09:33] n0thingness commented on #9716
Would appreciate an update on this. As far as I can tell, this is still absent in in az ps 4.2.0

[2020-06-02 10:12] spaelling commented on #9110
the cmdlet uses an old version of the [API](https://docs.microsoft.com/en-us/rest/api/consumption/usagedetails/list) which does not include the same consumption data as when using the newest version of the API (the old version provides less data, ie. is missing data), or when looking in the Azure portal.

That version of the API however does not support filtering on date, so that you are basically

[2020-06-02 14:41] dingmeng-xue commented on #11854
Close this issue because there is a no ready solution to support this case.

[2020-06-02 14:41] #11854 closed

[2020-06-02 18:21] haagha commented on #11297
[https://github.com/Azure/azure-powershell/blob/master/src/Compute/Compute/Extension/CustomScript/VirtualMachineCustomScriptExtensionContext.cs](url)
Mapping from PSVirtualMachineExtension  to VirtualMachineCustomScriptExtensionContext does not map Substatuses.
 @bilaakpan-ms

[2020-06-02 22:06] dcaro commented on #9833
Thanks @krysickij1 i will close this issue. Feel free to open a new one if needed.

[2020-06-02 22:06] #9833 closed

[2020-06-02 23:04] MS-syh2qs commented on #10860
@kiazhi, I tested this with 4.1.0 Compute module and it worked as intended. I was able to see more than 50 results. Perhaps updating the compute module will fix this issue.

[2020-06-03 03:07] kiazhi commented on #10860
@MS-syh2qs, Thank you for investigating. Not sure where the problem is but cleanly uninstalling `Az` module and install the latest `Az` module resolved the issue. I think I will close this issue now.

[2020-06-03 03:07] #10860 closed

[2020-06-03 03:14] clintonturner commented on #12001
Hi, any update on this issue? Is there any more information I could provide that would help diagnose the problem?

[2020-06-03 04:16] Drewm3 commented on #12007
We will review the existing error messages and make sure none of them refer to "Low Priority".

[2020-06-03 04:28] #11201 closed

[2020-06-03 05:20] isra-fel commented on #11869
It seems Microsoft.Azure.KeyVault is loaded from somewhere else.
You may try removing the folder `C:\Windows\Microsoft.Net\assembly\GAC_MSIL\Microsoft.Azure.KeyVault`.

[2020-06-03 05:38] dingmeng-xue commented on #12042
I include Managed Applicatoins team to look into this issue.

[2020-06-03 06:06] dingmeng-xue commented on #12038
@dcbrown16 , thanks for your feedback. `New-AzDatalakeGen2FileSystem` is an alias and formal name is `New-AzStorageContainer`. You can find their mapping via `Get-Command new-AzDatalakeGen2FileSystem | fl` or `Get-Help New-AzDatalakeGen2FileSystem`. Online doc only use formal name.

Online doc should use formal name instead of alias. I have raised issue to msdoc. https://github.com/MicrosoftDocs/a

[2020-06-03 06:06] #12038 closed

[2020-06-03 06:14] dingmeng-xue opened #12047 "Telemetry: some data are missed in new modules"
## Description

The subscription-id is not reported
The module name is “Az.{module}.private”
The commandinvocationname is off
The powershellversion does not seems right

[2020-06-03 07:01] dcbrown16 commented on #12038
I see, thanks for the info!

[2020-06-03 07:59] isra-fel commented on #8812
@YuriySamorodov please feel free to reopen the issue if you are still facing the problem. Thanks

[2020-06-03 07:59] #8812 closed

[2020-06-03 09:04] cb55555 opened #12050 "Invoke-AzVMRunCommand FileNotFoundException when running from Azure Automation Runbook"
## Description

Invoke-AzVMRunCommand FileNotFoundException when running from Azure Automation Runbook

## Steps to reproduce

1. Create a runbook with the Powershell script below.
2. Create a Powershell test Powershell script on the VM to run this script against.
3. Start the runbook

[code]

## Environment data

[code]

## Module versions

[code]

## Debug output

[code]

## Error output

[code]

[2020-06-03 09:12] theheatDK opened #12051 "Remove-AzStorageAccountNetworkRule - optional parameters are required?"
## Description
Hi,
I am a little confused and it might be me that does not understand enough about Powershell :-)

[code]
To me the above means that there is only one required parameter (-IPRule), but when I try to call the cmdlet it only works if I also supply -ResourceGroupName and -Name.

Is this expected behavior?

Regards Peter

## Steps to reproduce

[code]

## Environment data

[code]

## M

[2020-06-03 09:24] dingmeng-xue commented on #12047
The generated module has those issues.

[2020-06-03 09:50] yossi-y commented on #8993
This API was deprecated on 2017 as Log Analytics upgraded its data store and query engine. This cmdlet will be removed shortly so it won't confuse users.

The way to execute queries is via [invoke-azoperationalinsightsquery ](https://docs.microsoft.com/en-us/powershell/module/az.operationalinsights/invoke-azoperationalinsightsquery?view=azps-4.2.0&viewFallbackFrom=azps-4.1.0)

[2020-06-03 10:39] blueww commented on #12051
@theheatDK
`-ResourceGroupName` and `-Name` are required.
From the cmdlet Syntax ` [-ResourceGroupName] <string> [-Name] <string>`, you can see the value of the 2 parameter are not with [], only the parameter name with [], this means you can provide the 2 required parameter without parameter name, but only parameter value in the specific position. like:
[code]

[2020-06-03 10:47] theheatDK commented on #12051
Thanks @blueww :-)

[2020-06-03 10:47] #12051 closed

[2020-06-03 10:53] suman5488 commented on #8473
Hi All,

How to fix this illegal path issue? I am facing this issue when I trying to call Get-AzureStorageBlobContent. Please suggest to me. Recently I have uninstalled AzureRm and installed Az Module with Enable AzureRM Alias.  Thanks

[2020-06-03 11:18] jethrovaneetvelde commented on #12024
Same for version 1.8.1

[2020-06-03 12:06] JAK1047 commented on #12024
I've ran into the exact same issue and had to downgrade. Been blowing up my PoSH Transcripts.

[2020-06-03 14:13] VeryEarly commented on #11285
fixed in [S170 (2020-06-02)](https://github.com/Azure/azure-powershell/milestone/104)

[2020-06-03 14:13] #11285 closed

[2020-06-03 15:52] panchagnula commented on #7297
@raohri3 any update on this? Thanks!

[2020-06-03 16:11] raohri3 commented on #7297
Taking care in next spring starting coming monday (8 June)

[2020-06-03 16:46] cb55555 commented on #12050
I found out that the file in question needs to exist on the local machine--not the remote machine.

[2020-06-03 16:46] #12050 closed

[2020-06-03 18:14] karthick3d commented on #8473
Bit frustrated after spending almost a day to get this working in hybrid Worker. I tried all the options mentioned here, i.e. update the registry and updated the powershell.exe.config file as well. none of this worked for me. Raised a formal ticket to Microsoft.

[2020-06-03 18:24] dillonredding opened #12058 "Unable to Remove Product SubscriptionLimit"
## Description

If `SubscriptionLimit` is already set (i.e., isn't the default "None" value), there is no way to remove the subscription limit through `Set-AzApiManagementProduct`.

## Steps to Reproduce

[code]

Neither of the following commands will unset the product's subscription limit:

[code]

[code]

## Environment data

[code]

## Module versions

[code]

[2020-06-03 21:25] balauppaloori opened #12059 "Get-AzApplyUpdate ResourceType not found"
## Description
Running Get-AzApplyUpdate throws error 'Resource Type' is invalid. This is a text value that's being passed, taken straight from docs. It appears the module expects parameters in a particular order, but it isnt mentioned anywhere. the docs order is not working.

Get-AzApplyUpdate : The resource type could not be found in the namespace 'Microsoft.Compute' for api version '2018-06-01-

[2020-06-03 21:34] balauppaloori commented on #12059
I have noticed in the source [here](src/Maintenance/Maintenance/ApplyUpdate/ApplyUpdateGetMethod.cs) that some parameters are positioned, and some not. Supplying in this order also fails.
[code]

[2020-06-04 00:30] dingmeng-xue commented on #12059
@balauppaloori , could you share debug message after you enable `$DebugPreference="Continue"`?

Basing on error message, it seems cmdlet is trying to fetching a VM named as hosts. Please check if VM is accessible.

[2020-06-04 00:31] dingmeng-xue commented on #12058
Thanks for reporting. I include service team to look into it.

[2020-06-04 00:41] dingmeng-xue commented on #12031
The suggested approach should work. I involve service team to look into this feature request. It needs to add new parameter set to return json string and avoid breaking change to other customer.

[2020-06-04 00:47] dingmeng-xue commented on #12015
Service team, please help to look into it.

[2020-06-04 00:47] dcaro commented on #12021
@JustinGrote we are evaluating the possibility to add this request in our backlog.

[2020-06-04 00:51] dcaro commented on #12004
@bhanumuddhana sorry for the delay, can you fill an issue here: https://www.powershellgallery.com/packages/AzureAD/2.0.2.76/ContactOwners

[2020-06-04 00:51] JustinGrote commented on #12021
Since Set-AZContext -Name supports argument completion, I would actually consider that good enough as long as there were stronger "getting started" docs that explain contexts and how to use ctrl-space to complete this command.

[2020-06-04 02:34] balauppaloori commented on #12059
Hi @dingmeng-xue, No the command isnt looking for a VM called hosts. We are specifying -ResourceType as hosts (this is directly from documentation [here](https://docs.microsoft.com/en-us/powershell/module/az.maintenance/get-azapplyupdate?view=azps-3.8.0). ) We are trying to get the last update applied on a dedicated host.
Below is the debug output. i have removed all subscripiton, tenant and other

[2020-06-04 02:58] erich-wang commented on #12024
In this case you could safely ignore the LoaderExceptions in $Error variables since the missing assembly will be loaded just after the error, it should not affect any other cmdlets. We understand you may check $Error in your script, we'll address this issue in the near future and will update the progress in this thread, thanks.

[2020-06-04 05:16] panchagnula commented on #12015
Thanks for reporting we will take a look at this.

[2020-06-04 05:32] dingmeng-xue commented on #12059
@gautamd-ms, Please help to look into this issue.

[2020-06-04 05:37] #11492 closed

[2020-06-04 05:39] dingmeng-xue commented on #11262
I'd like to revisit impact of this change. Please set up a conversation with @erich-wang and me.

[2020-06-04 05:41] dingmeng-xue commented on #11176
Close this one and we will track internally.

[2020-06-04 05:41] #11176 closed

[2020-06-04 05:43] dingmeng-xue commented on #10924
Close it and will track internally.

[2020-06-04 05:43] #10924 closed

[2020-06-04 05:43] dingmeng-xue commented on #10921
Close it and will track internally.

[2020-06-04 05:43] #10921 closed

[2020-06-04 05:46] #10920 closed

[2020-06-04 05:57] dingmeng-xue commented on #9097
close it due to priority.

[2020-06-04 05:57] #9097 closed

[2020-06-04 06:02] #9427 closed

[2020-06-04 09:47] holylander commented on #11446
Same issue here. Same scenario, I can run the connect `Connect-AzureAD`  from powershell terminal but not from the VS CODE powershell terminal :(

[2020-06-04 09:48] holylander commented on #11446
did it work?

[2020-06-04 12:48] mattpound808 opened #12061 "Get-AZVirtualnetwork : The resource type 'virtualNetworks' could not be found in the namespace 'Microsoft.Network' for api version '2020-04-01'"
## Description

When I have version 3.0.0 of the Az.Network installed I get the error:

get-azvirtualnetwork : The resource type 'virtualNetworks' could not be found in the namespace 'Microsoft.Network' for api version '2020-04-01'. The supported api-versions are '2014-12-01-preview,2015-05 -01-preview,2015-06-15,2016-03-30,2016-06-01,2016-07-01,2016-08-01,2016-09-01,2016-10-01,2016-11-01,2016-12-

[2020-06-04 12:53] etiennehucklemarchand commented on #12024
@erich-wang , Thanks for your reply! You're right, the LoaderExceptions don't affect other cmdlets; our scripts are running fine (nothing has been reported so far). We actually check the $Error variable in some of our scripts, so we have to ensure the variable's empty prior execution.

[2020-06-04 13:01] mattpound808 commented on #12061
I forgot to say that this was working before 10AM GMT+1

[2020-06-04 13:21] Collisionc commented on #12061
Having the same error with anything inside the Microsoft.Networks namespace while deploying new VMs with powershell. I'm not able to find a way to force a specific apiversion at the moment, either.

[2020-06-04 13:51] dillonredding commented on #12058
I found that this _does_ work through the [Management API](https://docs.microsoft.com/en-us/rest/api/apimanagement/). That is, either of the following will remove/unset the subscription limit of a [product](https://docs.microsoft.com/en-us/rest/api/apimanagement/2019-12-01/product/createorupdate):

[code]

[code]

[2020-06-04 13:53] mattpound808 commented on #12061
If I rollback to version 2.5.0 all is working again.

[2020-06-04 13:54] matthewdfuller commented on #12061
Same issue. Started affecting all of the Microsoft.Networks namespace right around `09:03:32` UTC for me.

[2020-06-04 14:18] matthewdfuller commented on #12061
FYI - looks like Azure is reporting an incident:
<img width="835" alt="Screen Shot 2020-06-04 at 10 13 12 AM" src="https://user-images.githubusercontent.com/1226686/83768437-c7523400-a64c-11ea-9259-d261ab0fff01.png">

[2020-06-04 18:48] Xergy opened #12063 "Please add a new example of Add-AzVMDataDisk with -ManagedDiskId"
Please add a new example to:

```https://github.com/Azure/azure-powershell/blob/master/src/Compute/Compute/help/Add-AzVMDataDisk.md```

Something that shows off -ManagedDiskId  when you add a existing non-generalized data disk to an existing VM.

Something better, but like below...

```Add-AzVMDataDisk -VM $ResultVM -Name $DataDisk.Name -ManagedDiskId $DataDisk.Id -LUN $Lun -Caching ReadWrite -Dis

[2020-06-04 20:33] kunalwadhwa commented on #11056
The issue still exists. I tried using Az PowerShell module 3.5.0 and Az Datafctory 1.7.0

[2020-06-04 21:55] tgossler commented on #10349
I don't understand how Select-AzContext could be used for that. Can someone please post example code how to go iterate over 100 subscriptions in parallel and get the number of resource groups in each?

Something like:

$allSubscriptions | ForEach-Object -Parallel {
    Write-Output "Processing subscription '"$_.Name"'"
    Select-AzContext ...     # select the subscription $_ only for the current

[2020-06-04 22:05] RStoddart opened #12065 "Cannot verify the Microsoft .NET Framework version 4.7.2 because it is not included in the list of permitted versions."
## Description

Verbose mode returns
Cannot verify the Microsoft .NET Framework version 4.7.2 because it is not included in the list of permitted versions.

## Steps to reproduce

[code]

## Environment data

[code]

## Module versions

[code]

## Debug output

[code]

## Error output

[code]

[2020-06-05 08:13] shawnxzq commented on #11983
This is a bug, we opened a work item to track and fix it.

[2020-06-05 08:13] #11983 closed

[2020-06-05 08:20] shawnxzq commented on #11914
This is by design for now, we will monitor and see whether support this new functionality.

[2020-06-05 08:24] dingmeng-xue commented on #12061
It is service side incident. I add network team and close this issue. If you still hit the same issue, please update here and report issue to Azure Portal.

[2020-06-05 08:24] #12061 closed

[2020-06-05 08:25] dingmeng-xue commented on #12063
Add compute team to check reference doc.

[2020-06-05 08:35] #11914 closed

[2020-06-05 08:46] shawnxzq commented on #10242
@prabhu130986 This is by design for now, we hear your feedback and we will prioritize this in product team, thanks for the feedback.

[2020-06-05 08:46] #10242 closed

[2020-06-05 08:56] dingmeng-xue commented on #12065
@RStoddart , thanks for your reporting. It seems a question to Windows PowerShell and issue is during  psd1 is being importing. Could you run windows powershell as administrator?

[2020-06-05 15:16] #11627 closed

[2020-06-05 17:35] alex-frankel commented on #4615
This is a good suggestion, but this is not something we are likely to get to soon. This might be a good item for external contribution.

[2020-06-05 17:54] kilasuit commented on #9838
as a consultant in many tenants this is well over due for being needed

@markcowl / @msJinLei what is the new timeline for this as there isn't one listed?

[2020-06-05 18:05] anuragdalmia commented on #11952
Investigating.

[2020-06-05 20:26] ajlam commented on #11931
Linked to Azure/azure-rest-api-specs#9538 and following up there.

[2020-06-06 01:03] sotaneja commented on #12059
@balauppaloori  in the debug trace you provided, the URI (copied below) should have the hostgroups parameter but it missing from your output. Is this because of the edits you made to the text or was it not in the URI originally? because I see you have correctly passed in the parameter -ResourceParentType hostGroups

Absolute Uri:
https://management.azure.com/subscriptions/<SubscriptionId>/resource

[2020-06-06 01:15] balauppaloori commented on #12059
Turns out, it was my issue after all. I passed in a wrong parameter in the original. Thanks for the resolution.

[2020-06-06 01:15] #12059 closed

[2020-06-06 01:16] balauppaloori commented on #12059
Turns out, it was my issue after all. I passed in a wrong parameter in the original. Thanks for the resolution.

[2020-06-06 07:03] Castermeek commented on #6981
Azure RM PowerShell is not compatible with Windows PowerShell 6 and I believe the latest PS 7 too.

https://docs.microsoft.com/en-us/powershell/azure/azurerm/install-azurerm-ps?view=azurermps-6.13.0#requirements

The module described in this document, AzureRM, uses .NET Framework. This makes it incompatible with PowerShell 6.0, which uses .NET Core. If you are using PowerShell 6.0, follow the inst

[2020-06-06 08:10] swinarko commented on #10242
We'll add this in our feature backlog.  As a workaround for now, you can create an Azure Automation PowerShell runbook that starts/stops your SSIS IR and then asynchronously invoke its webhooks from your automation, see https://docs.microsoft.com/azure/data-factory/how-to-schedule-azure-ssis-integration-runtime#create-and-schedule-azure-automation-runbook-that-startsstops-azure-ssis-ir.

[2020-06-07 10:19] mprabhu11 opened #12081 "Get-AzADGroup needs feature to search group by name"
## Description of the new feature
The Get-AzADUser lets you find a user using their email name…
    E.g., Get-AzADUser -UserPrincipalName corm@microsoft.com

However, the Get-AzADGroup does not have a similar capability. Moreover, the “-SearchString” option does not search the mail nick name for the group. This basically means that just knowing the mailing-id is not sufficient to search for a grou

[2020-06-07 21:32] #5099 closed

[2020-06-08 01:33] dingmeng-xue commented on #12081
Updated the title and add feature request label

[2020-06-08 01:38] dingmeng-xue commented on #11929
@AbhilashMDoijode, hope your issue was already disappeared. I'm closing this issue. Please contact us if you meet new issue.

[2020-06-08 01:38] #11929 closed

[2020-06-08 01:40] dingmeng-xue commented on #11998
@richmintz, was your issue resolved according to @idear1203 's suggestion?

[2020-06-08 01:41] dingmeng-xue commented on #11825
@arcotek-ltd , I'm closing this issue now. Please contact us if you meet issue again.

[2020-06-08 01:42] dingmeng-xue commented on #11852
@whisper6284 , do you still hit the issue?

[2020-06-08 01:46] dingmeng-xue commented on #11780
We didn't figure out how this incorrect name is created. It may due to old version of client. Close this issue now. Please contact us if you hit the issue again.

[2020-06-08 01:46] #11780 closed

[2020-06-08 04:20] erich-wang commented on #11976
@rlhip , sorry for late response, could you please share minimal script that could reproduce the error?

[2020-06-08 04:27] erich-wang commented on #12024
Yes, I'm sure, and you may verify that all assemblies should be loaded after import-module. Anyhow, we'll eliminate the LoaderExceptions errors in the near feature and will update this thread.

[2020-06-08 05:45] pvrk commented on #10546
@peppekerstens : Another gentle reminder.

[2020-06-08 05:48] pvrk commented on #9580
@vidyadharijami : Can you please check on this?
@mganeshphani : We tested this internally and this works. Can you please share the version number and more details?

[2020-06-08 05:54] vidyadharijami commented on #9580
@mganeshphani  Can you please use windows powershell instead of powershell core to check this.

[2020-06-08 06:02] vidyadharijami commented on #9580
Please refer below documentation to download vault cred file https://docs.microsoft.com/azure/backup/backup-client-automation#registering-using-the-ps-az-module

[2020-06-08 06:57] dingmeng-xue commented on #11692
Root cause is below code.
https://github.com/Azure/azure-powershell-common/blob/84adc2e8e833a22caa8ea714cd5c367e63da227c/src/ResourceManager/Version2016_09_01/Utilities/Models/ResourceIdentifier.cs#L46

Correct logic should be
[code]

[2020-06-08 07:02] dingmeng-xue commented on #11692
We'd better to reduce duplicate code from Resources module.
https://github.com/Azure/azure-powershell/blob/master/src/Resources/ResourceManager/Components/ResourceIdentifier.cs

[2020-06-08 09:43] dingmeng-xue opened #12086 "Set-AzOperationalInsightsWorkspace misses Sku option "pergb2018""
One Sku value `PerGB2018` is missed in Set cmdlet.

https://github.com/Azure/azure-powershell/blob/bcbbd1f9483354c25d0c74d69c1ab79224789ee8/src/OperationalInsights/OperationalInsights/Workspaces/SetAzureOperationalInsightsWorkspaceCommand.cs#L44

Please reference to New cmdlet.

https://github.com/Azure/azure-powershell/blob/bcbbd1f9483354c25d0c74d69c1ab79224789ee8/src/OperationalInsights/Operatio

[2020-06-08 10:47] o-l-a-v opened #12087 ""Get-AzManagedServicesDefinition" returns wrong error message, "Conflict""
## Description
I ran ```Get-AzManagedServicesDefinition``` and got the error ```Get-AzManagedServicesDefinition : Operation returned an invalid status code 'Conflict'```. But when enabling debug I can see that the error is that Managed Service service principal does not have read permissions on the subscription in question.

Please give us more helpfull error messages by default, without having to

[2020-06-08 12:52] #12018 closed

[2020-06-08 14:09] erwinkramer opened #12090 "PsApiManagementSubscription object doesn't contain the AllowTracing property"
## Description

`PsApiManagementSubscription ` object doesn't contain the AllowTracing property when calling `Get-AzApiManagementSubscription`. This is a default property which is also defined [in the ARM template definition](https://docs.microsoft.com/en-us/azure/templates/microsoft.apimanagement/2019-12-01/service/subscriptions#SubscriptionCreateParameterProperties).

## Steps to reproduce

[cod

[2020-06-08 14:15] haagha commented on #11297
https://github.com/Azure/azure-powershell/pull/12089
PR for bug fix
@bilaakpan-ms
@Drewm3

[2020-06-08 14:37] dingmeng-xue commented on #12087
Managed Service team, please help to look into it and check what permission is required.

[2020-06-08 14:39] dingmeng-xue commented on #12090
APIManagement team, please help to look into this issue.

[2020-06-08 14:39] dingmeng-xue commented on #12086
Please evaluate those 2 issues.

[2020-06-08 15:06] rlhip commented on #11976
Ok I opened an issue.

thanks

From: erich-wang <notifications@github.com>
Sent: Monday, June 8, 2020 2:18 AM
To: Azure/azure-powershell <azure-powershell@noreply.github.com>
Cc: rlhip <rlhip@outlook.com>; Mention <mention@noreply.github.com>
Subject: Re: [Azure/azure-powershell] unable to use PS scripts after updating to AZ modules 4.1.0 (#11976)

@rlhip<https://github.com/rlhip>, the issue seems

[2020-06-08 15:47] hausec opened #12091 "List the Certificate Thumbprint of an Application"
## Description of the new feature

Get-AzADAppCredential does not list the certificate thumbprint, it only lists the KeyID.

## Proposed implementation details (optional)

Add another property that lists the thumbprint of the certificate.

[2020-06-08 16:01] EmilienCourt commented on #11732
Hi @Drewm3 and @axayjo
Would you have any updates on this issue ?
Regards,
Emilien

[2020-06-08 16:01] EmilienCourt commented on #11835
Hi @Drewm3 and @avirishuv
Would you have any updates regarding this issue ?
Regards,

[2020-06-08 16:09] MonikaReddy-MSFT opened #12092 "Set-AzSqlDatabaseVulnerabilityAssessmentRuleBaseline not working properly with single rule"
The BaselineResult parameter cannot accept single line of input. Say
Set-AzSqlDatabaseVulnerabilityAssessmentRuleBaseline -ResourceGroupName $rgname
-ServerName $serverName -DatabaseName $databasename
-RuleId "VA2108" `
-BaselineResult @( 'Principal1' , 'db_ddladmin', 'SQL_USER','DATABASE')

Result showing in portal is not parsing correctly
https://user-images.githubusercontent.com/37126106/837152

[2020-06-08 19:06] anuragdalmia commented on #9998
Thank you for your feedback. We have added this to our backlog. We will plan on evaluating this with our other items and prioritize accordingly. Please let us know if you believe this is an urgent request that blocks any of your customer scenario and we will prioritize this higher. For now, I will be closing this thread. Please re-active if you disagree.

[2020-06-08 19:06] #9998 closed

[2020-06-08 19:09] anuragdalmia commented on #11952
We are in the process of updating our latest version of powershell SDK to fix this. The current target for this is end of July. We will keep this thread updated.

[2020-06-08 19:17] whisper6284 commented on #11852
I still did. Ultimately I re-imaged my machine, and the problem is gone. I never found out what configuration attributed to the issue that I saw.

[2020-06-08 19:30] o-l-a-v commented on #12087
@dingmeng-xue

As mentioned in the OP, I know what permissions was missing. The problem is the error message, it alone is not even close to describing what's the actual problem. AFAIK, theres no "conflict".

[2020-06-09 02:09] dingmeng-xue commented on #12092
I have added SQL team. @MonikaReddy-MSFT , could you share the debug message for `Set-AzSqlDatabaseVulnerabilityAssessmentRuleBaseline`? You need to set `$DebugPreference="Continue"` and execute your cmdlet again.

[2020-06-09 02:24] #11471 closed

[2020-06-09 05:41] dingmeng-xue commented on #11852
Thanks for your confirmation. May I close this issue? You can contact us any time if you still meet the problem.

[2020-06-09 05:44] dingmeng-xue commented on #12087
@o-l-a-v , sure. I added service team's label and service team will look into how to improve it.

[2020-06-09 06:00] erich-wang commented on #11978
SSO means single sign on. Currently Azure PowerShell doesn't suppprt to integrate Az module and your module based on fluent. Just curious, is there any particular reason that you need to use .net fluent sdk to develop powershell module? Is there any functionality you need that does not exist in Az modules?

[2020-06-09 08:30] dingmeng-xue commented on #11649
Thanks for reporting. ApiServerAccessProfile was supported since Az.Aks 1.1.1. PR is #11595

Below is sample code.
[code]

Please raise your issue if you have further ask.

[2020-06-09 08:32] #11649 closed

[2020-06-09 08:34] dingmeng-xue commented on #11885
Close this issue and required attributes are added.

[2020-06-09 08:34] #11885 closed

[2020-06-09 08:38] dingmeng-xue commented on #6972
@erich-wang , please check if we have provide parity in `Start-AzAksDashboard`.

[2020-06-09 08:56] dingmeng-xue commented on #7436
The new Az version script should be
[code]

[2020-06-09 09:02] dingmeng-xue commented on #6943
@justinhauer , we are revisiting this issue. Could you try new version of Azure PowerShell docker images? https://hub.docker.com/_/microsoft-azure-powershell

[2020-06-09 09:07] dingmeng-xue commented on #11361
Close it as duplicate with #11361

[2020-06-09 09:29] dingmeng-xue commented on #11492
Could you share your Az.Account version?

[2020-06-09 10:37] dqureshi515 opened #12097 "AzCopy command not working in azure function"
I am trying to run an AzCopy command in azure function. The command works perfectly fine in local powershell as well as in azure cli but gives error in the azure function.

**Error:**
2020-06-09T10:35:59.587 [Error] ERROR: azcopy : The term 'azcopy' is not recognized as the name of a cmdlet, function, script file, or operable program.
Check the spelling of the name, or if a path was included, veri

[2020-06-09 10:58] pritiherkal commented on #11869
Sure will try this out and get back @isra-fel

[2020-06-09 11:08] isra-fel commented on #9448
The `foreach-object -parallel` issue was fixed in #12041 and the fix will be in our next release, but the original issue seemed to have a different root cause. Still digging into it.

[2020-06-09 13:29] cwbuege opened #12098 "Add new value to -TimeGrain parameter of New-AzConsumptionBudget -> BillingCycle"
## Description of the new feature
While having the options of Monthly, Quarterly, and Annual for the TimeGrain parameter of New-AzConsumptionBudget makes sense, how about adding in 'BillingCycle' as another parameter?  We monitor our billing usage on a billing cycle basis, not monthly and having these budgets follow that cycle would be exceptionally beneficial.  Since our billing cycle isn't Month

[2020-06-09 13:51] stephenfroggatt opened #12099 "Get-AzDataFactoryV2Pipeline: AzureDatafactory Deserialization failure"
## Description

When using a valid pipeline with WAIT object as defined below in ADF, the ADF command Get-AzDataFactoryV2Pipeline -dataFactoryName "" -resourceGroupName "" fails with an error " Unable to deserialize the response".
The issue seems to be with the line '"value": "@if(variables('lcFailFlag'),300,0)". This syntax creates a working pipeline. However, Get-AzDataFactoryV2Pipeline fails to

[2020-06-09 14:46] dingmeng-xue commented on #12097
All Azure PowerShell cmdlets are following pattern {Verb}-Az{Noun}. We have no idea about AzCopy.

If you have an environment which supports AzCopy, please share us the result of below script. It can help to identify its module.
[code]

[2020-06-09 14:48] dingmeng-xue commented on #12098
Include Consumption team to look into it.

[2020-06-09 14:50] dingmeng-xue commented on #12099
Thanks for reporting. I involve Data Factory team to look into this issue.

[2020-06-09 15:49] hausec opened #12101 "Feature Request: Add a cmdlet to gather the Azure AD role"
## Description of the new feature
Similar to the Get-AzureADDirectoryRole cmdlet in AzureAD module, it will
## Proposed implementation details (optional)

[2020-06-09 15:50] panchagnula commented on #11622
We need new SDK & swagger updates that will release in early September we will take a new SDK after this & release this along with the other breaking changes release in October.

[2020-06-09 15:53] erich-wang commented on #11976
@rlhip, we found that the issue could be worked around by defining workflow in the very beginning of your script, i.e. before importing Az.Accounts module. Meanwhile we'll fix this issue in next Az release (6/23), thank you for your patience.

[2020-06-09 15:54] panchagnula commented on #11862
@janegilring please check https://docs.microsoft.com/en-us/powershell/module/Az.Websites/Restore-AzDeletedWebApp?view=azps-4.2.0

[2020-06-09 15:55] rlhip commented on #11976
Ok so I just need to move the workflow section?  Can you provide some more detail?

From: erich-wang <notifications@github.com>
Sent: Tuesday, June 9, 2020 8:54 AM
To: Azure/azure-powershell <azure-powershell@noreply.github.com>
Cc: rlhip <rlhip@outlook.com>; Mention <mention@noreply.github.com>
Subject: Re: [Azure/azure-powershell] unable to use PS scripts after updating to AZ modules 4.1.0 (#119

[2020-06-09 15:55] panchagnula commented on #11672
@btardif do you know if we are planning on fixing this property return value with upcoming changes?

[2020-06-09 15:57] panchagnula commented on #10724
@Kotasudhakarreddy can you check if we actually have a 90sec wait here.

[2020-06-09 16:46] cwbuege opened #12102 "Unable to create a Budget for a Resource Group using New-AzConsumptionBudget"
## Description
Unable to create a Budget using New-AzConsumptionBudget.
This is true in both PowerShell 5.1 for Windows 10 and PowerShell 7.0.1 for CentOS 7.
I have attempted doing this, in both Windows and Linux, by also removing the reference to the resource group so it would attempt to assign it to the subscription, but that was unsuccessful also.

## Steps to reproduce

[code]

## Environment

[2020-06-09 16:50] janegilring commented on #11862
@panchagnula I checked the link, but couldn't see any parameter for specifying the id of a deleted site. If something changed recently I suppose i might not have propagated yet.

[2020-06-09 19:37] dcousino commented on #12099
I had the exact same error in C#, I had to bump my version of Microsoft.Azure.Management.DataFactory for 4.8 -> 4.9. I don't understand why they have a versioned API if they are not going to use it, this was a major breaking change for us.

[2020-06-09 20:25] grayo24 opened #12104 "Set-AzFrontDoor Does NOT Accept Force Parameter"

[2020-06-09 21:13] treymcs commented on #9949
I'm currently having this issue, having spent most of a day trying in vain to figure out why.

Environment:

Name                           Value
----                           -----
PSVersion                      5.1.18362.752
PSEdition                      Desktop
PSCompatibleVersions           {1.0, 2.0, 3.0, 4.0...}
BuildVersion                   10.0.18362.752
CLRVersion                     4

[2020-06-09 21:15] MonikaReddy-MSFT commented on #12092
@dingmeng-xue - This information is provided to us - This is a potential issue with the following cmdlet Set-AzSqlDatabaseVulnerabilityAssessmentRuleBaseline where the cmdlet requires at least two parameters for the BaselineResult. Customer has been requested to open an issue on this repository specifically, as it is a PowerShell issue and not an issue with the MicrosoftDocs page (per issue 56304)

[2020-06-09 21:23] sumantmehtams commented on #10496
Closing this issue based on above verifications. Please reopen if needed.

[2020-06-09 21:24] #10496 closed

[2020-06-09 21:26] panchagnula commented on #11862
For PS you need to give the name of the deleted app you want to restore, instead of the full resource Id -is that not working? This I believe came down to the fact that in PS Name is the common parameter & hence was done this was for consistency.

[2020-06-09 22:38] dcaro commented on #11123
@axelgMS the -comandId support the following:
RunPowerShellScript, DisableNLA, DisableWindowsUpdate, EnableAdminAccount, EnableEMS, EnableRemotePS, EnableWindowsUpdate, IPConfig, RDPSettings, ResetRDPCert, SetRDPPort.

Please use the cmdlet `Invoke-AzVMRunCommand` from the latest Az module to be able to use the above values.

The cmdlet documenation is here: https://docs.microsoft.com/en-us/powers

[2020-06-09 22:38] #11123 closed

[2020-06-10 01:15] sandeepkv93 commented on #12007
We have a PR out internally to fix these error messages in the service.

[2020-06-10 02:16] dingmeng-xue commented on #12102
Thanks for reporting. I include Consumption team to look into it.

[2020-06-10 02:21] dingmeng-xue commented on #12101
Thanks reporting. We will consider this feature. In general, Az PowerShell only covers the basic functions of Azure Ad. We suggest user to try the AzureAD for advance features.

[2020-06-10 02:22] dingmeng-xue commented on #12091
We will evaluate this feature.

[2020-06-10 02:25] dingmeng-xue commented on #12104
Thanks for reporting. I will forward this issue to service team.

[2020-06-10 02:50] dcaro commented on #12021
@JustinGrote we are adding this feature to our backlog. We'll be changing the iteration when we start working on the implementation.
Our current consideration for implementation is to rely on autocompleters on top of existing cmdlet:
[code]

[2020-06-10 04:41] 0xW1sKy commented on #4186
it looks like the specification for a parameter file != the actual json->hashtable format you are looking for in the command.

based on reading this thread it looks like for the json file you accept the following format:
[code]

when directly translated to a hashtable this would look like:
[code]

however, it appears that the command asks us to supply our parameter object like so:
[code]
which whe

[2020-06-10 08:36] #12019 closed

[2020-06-10 09:14] #10868 closed

[2020-06-10 11:45] janegilring commented on #11862
Specifying the name works, but that will always restore the latest version. It is not possible to restore the app from a specific date like we can in Azure CLI with the –deleted-id parameter (for specifying the site id corresponding to the timestamp one would want to restore from).

[2020-06-10 16:54] jberezanski-mdg opened #12113 "Get-AzReservationCatalog fails with 'BadRequest', debug log shows 'SubscriptionNotRegistered'"
## Description

I am unable to retrieve the available reservation options for virtual machines because the `Get-AzReservationCatalog` cmdlet fails with status code 'BadRequest'. The debug output shows error code SubscriptionNotRegistered, message "Subscription is still pending registration or not registered.".

The subscription in question is a regular Pay-As-You-Go subscription, created over a ye

[2020-06-11 01:54] dingmeng-xue commented on #12113
I include service team to look into this issue. @corquiri , if there is a general problem from customer, we prefer to updating online help and help user to know what is missed. Please let us know your suggestion.

[2020-06-11 02:32] blueww commented on #9389
@jwashbur79
As $folder is a file directory, not a file, it should use cmdlet: Remove-AzStorageDirectory, instead of remove-azstoragefile.

[2020-06-11 03:54] sean-nixon opened #12121 "Type cast error in Site Recovery cmdlets when setting -DefaultProfile"
## Description

The Azure Site Recovery cmdlets do not seem to support passing in `-DefaultProfile` in the same manner that every other cmdlet allows. It results in a type cast error:

[code]

I am trying to use the context object that is returned from the `Set-AzContext` or `Select-AzSubscription` cmdlets. This seems to work for every other cmdlet that I've tested except Site Recovery cmdlets. Th

[2020-06-11 07:56] Ralmenar commented on #12004
We've been following this issue for some days because we have the same problem in our product and now we are getting a bad request when using this command with a png or a jpg file. I've tried with -FilePath and -FileStream and I get the same error:

Set-AzureADApplicationLogo : Error occurred while executing SetApplicationMainLogo
Code: Request_BadRequest
Message: Logo must be an image and Content

[2020-06-11 13:09] FingerlessGlov3s opened #12126 "[Add-Type], ReflectionTypeLoadException error on Az.Storage 2.1.0"
## Description
When checking $error for errors at the end of a script Az.Storage reports same error 3 times. Easy to reproduce.
Get the error on all our devices on our estate. Been erroring for months, thought it would be fixed by now but no, so I made this.

## Steps to reproduce

[code]

## Environment data

[code]

## Module versions

[code]

## Debug output

[code]

## Error output

[code]

[2020-06-11 13:21] alainbryden commented on #11039
No worries. Full disclosure: I stumbled on this while considering reporting a similar issue (which I've done here: https://github.com/Azure/azure-powershell/issues/12115)

This genre of issue seems a bit pervasive in Az, so it might need solving at a lower level.

[2020-06-11 16:02] pritiherkal commented on #11869
Hi @isra-fel

Removing the dll from GAC did work with Az scripts.

What I observed was that the ```Microsoft.Azure.KeyVault.dll``` in GAC and in Az.KeyVault module folder are both v3.0.0.0 but file versions are different.
This dll in ```GAC is 3.0.3``` whereas the one in ```Az.KeyVault module folder is 3.0.1```.
Though the dll in GAC is higher version, the method 'get_SerializationSettings' behave

[2020-06-11 17:31] calecarter commented on #11039
I looked into it and it is indeed a bigger impact than you would think.  It is still on my backlog of things to improve, but it may take some time to address.

[2020-06-11 18:27] amjads1 commented on #11732
@EmilienCourt I have assigned this issue to myself. Let me look into this issue and update back soon.

[2020-06-11 19:01] #11043 closed

[2020-06-11 19:15] ajlam commented on #11931
Closing this issue as won't fix.

[2020-06-11 19:15] #11931 closed

[2020-06-11 19:30] Drewm3 commented on #11557
We are investigating the work to change not only this cmdlet, but also the ~50 additional cmdlets that also take a parameter in the form of "VMName" which could take the output from Get-AzVM as input into the cmdlet. Based on the outcome of our investigation into updating all of the relevant cmdlets we will provide an update on if/when this feature request will be taken.

[2020-06-11 20:03] shenglol commented on #11959
Hi @brdly-smith , if you update to the latest Az module you can actually get the ARM template What-If output.

[2020-06-11 20:13] shenglol commented on #12031
Hi @JustinGrote , you can actually achieve that by piping the What-If result to ConverTo-Json:
[code]

[2020-06-11 20:13] #12031 closed

[2020-06-11 20:14] #12001 closed

[2020-06-11 20:15] shenglol commented on #10619
We implemented it.

[2020-06-11 20:15] #10619 closed

[2020-06-11 20:16] asheniam commented on #11556
This is currently a doc bug.  For Cloud Services (Microsoft.ClassicCompute), we only support a minimum of 5 minutes (PT5M) and for others, we support a minimum of 1 minute (PT1M).

[2020-06-11 20:16] #11556 closed

[2020-06-11 21:13] amjads1 commented on #11732
@EmilienCourt Based on our initial findings, looks like you are using an older version of CSE. Can you try with latest version of CSE 1.10 instead of 1.8? You can update that explicitly or by setting autoUpgradeMinorVersion to true.

[2020-06-12 02:29] JustinGrote commented on #12031
@shenglol did you actually test this before you recommended it and closed the issue? It doesn't work with Whatif Specifically (works fine for other commands) because Whatif just outputs to write-host, it doesn't generate an object that's convertable to json.

Please reopen this issue unless you can show me something I may be missing.

![image](https://user-images.githubusercontent.com/15258962/844

[2020-06-12 02:42] dingmeng-xue commented on #12126
I involve Storage team to look into this issue.

[2020-06-12 02:45] dingmeng-xue commented on #12121
@sean-nixon , could you uninstall Az.Accounts 1.6.6, restart powershell and try again?

[2020-06-12 02:53] blueww commented on #12126
@erich-wang
This look like related with your code change.
Would you like help to look?

[2020-06-12 03:11] btardif commented on #11672
@panchagnula  There are plans to store the configured dot-net version for windows. today this is not being stored by backend since platform can auto-detect at runtime. There is no timeline for this change.

[2020-06-12 03:51] erich-wang commented on #12126
It is duplicate issue to #12024 , we'll address it in the coming release.

[2020-06-12 07:17] Kotasudhakarreddy commented on #10724
Looking in to it.

[2020-06-12 09:10] stephenfroggatt commented on #12099
Thanks for the reply, i'll try this out and let you know

[2020-06-12 09:24] EmilienCourt commented on #11732
Trying with the last version of CSE turned out to work.
My guess is that I used [this guide](https://docs.microsoft.com/en-us/azure/virtual-machine-scale-sets/quick-create-powershell#deploy-sample-application) from Azure to deploy the custom extension, but the guide specifies 1.8. I should have tested with the last version.
Sorry for the incovenience !

[2020-06-12 09:41] yuu045-ran opened #12134 "Get-AzFunctionAppSetting generating unneeded information in Azure portal"
## Description

When running`Get-AzFunctionAppSetting` command in Azure function app(powershell), it is working as expected but generating a lot of information below(in portal console and in Application insights)

` "INFORMATION: Microsoft.Azure.PowerShell.Cmdlets.Functions.Runtime.EventData"`

We want to get rid of such information since logging such information is not an expected behavior.
In ad

[2020-06-12 11:32] stephenfroggatt commented on #12099
I'm relatively new to this, would be great if someone could advise how i update Microsoft.Azure.Management.DataFactory from 4.8->4.9

[2020-06-12 12:14] JorgeDios opened #12135 "Set-AzNetworkWatcherConfigFlowLog - Cannot bind parameter 'Workspace'"
The cmdlet **Set-AzNetworkWatcherConfigFlowLog** fails with the following error when using the parameter **workspace**:

##[error]Cannot bind parameter 'Workspace'. Cannot convert the "Microsoft.Azure.Commands.OperationalInsights.Models.PSWorkspace" value of type "Microsoft.Azure.Commands.OperationalInsights.Models.PSWorkspace" to type "Microsoft.Azure.Management.Internal.Network.Common.IOperation

[2020-06-12 12:54] tariqaliuk commented on #10821
hi
i am having the same issue, when i disable daily backup and just use weekly (montly, yearly set to null)using powershell. i get exact same error as mentioned above, this is vor IaaS VM backup. what is the fix for this please.

[2020-06-12 12:59] tariqaliuk opened #12136 "hi"
hi
i am having the same issue, when i disable daily backup and just use weekly (montly, yearly set to null)using powershell. i get exact same error as mentioned above, this is vor IaaS VM backup. what is the fix for this please.
this both schedule and retention days are same days  i.e Saturday
if i ,however, set the scheduleRunDay to "Sunday" it just works but not any other day.

_Originally poste

[2020-06-12 13:43] #12136 closed

[2020-06-12 15:37] sean-nixon commented on #12121
@dingmeng-xue I uninstalled Az.Accounts 1.6.6 and retried. Same results.

[code]

[2020-06-12 15:39] panchagnula commented on #10724
@justinjstark can you let us know what is the health check time out you are referring to here? Thanks

[2020-06-12 15:43] panchagnula commented on #11895
Closing since fix is now merged

[2020-06-12 15:43] #11895 closed

[2020-06-12 15:44] panchagnula commented on #5983
The fix is now merged.

[2020-06-12 15:44] #5983 closed

[2020-06-12 16:46] amjads1 commented on #11732
No problem. I'm glad that it worked out.

[2020-06-12 16:50] #11732 closed

[2020-06-12 17:19] JustinGrote commented on #12031
@shenglol do you have a response?

[2020-06-13 02:37] dingmeng-xue commented on #12135
@JorgeDios , each Az major release will introduce breaking changes due to service upgrade or deprecated.  We will look into you case and understand the root cause.

@VeryEarly , please check this question.

[2020-06-13 02:40] dingmeng-xue commented on #12134
Functions team, could you help to look into this issue?

[2020-06-13 12:38] coreskov commented on #11642
I have the same issue on my tenant, My tenant is created under the Microsoft Online Services Program.

The error message above states that the subscription is not associated with an Enterprise Agreement offering.

[code]

So it seems only EA offerings are allowed to create consumption budgets programmatically. I would be nice if that was stated explicitly in the documentation: https://docs.microso

[2020-06-13 18:57] aubrey-y opened #12142 "ERROR: Get-AzApiManagementProduct : The pipeline has been stopped. when adding api management user in Azure PS Function"
## Description

I have been trying to automate this [sample script](https://docs.microsoft.com/en-us/azure/api-management/scripts/powershell-add-user-and-get-subscription-key?toc=/powershell/module/toc.json) in Azure Functions but am running into an error at the `Get-AzApiManagementProduct` step.

Here is the specific error:

[code]

## Steps to reproduce

I did the following things in Azure:

1.

[2020-06-14 01:32] sandeepkv93 commented on #12007
The PR is completed. The changes will be reflected in the next release.

[2020-06-14 01:32] #12007 closed

[2020-06-14 04:55] jonsamwell commented on #8930
@lsmith130 any progress with PowerShell support for enabling HTTPS using certificates from KeyVault?

[2020-06-14 14:47] romanryasne2 opened #12145 "Publish-AzWebApp: Unable to upload zip"
https://github.com/Azure/azure-powershell/blob/c786a0b4fbd11e44c2faae33a66724f2d81957b9/src/Websites/Websites/Cmdlets/WebApps/PublishAzureWebApp.cs#L75

https://docs.microsoft.com/en-us/dotnet/api/system.net.http.httpclient.timeout?view=netcore-3.1#remarks

When uploading big zip (.Net Core 3 self contained app), publishing fails after 100 seconds. This is due to default HttpClient timeout.

Is th

[2020-06-14 16:40] romanryasne2 commented on #12145
Using Invoke-RestMethod instead.

[2020-06-14 16:40] #12145 closed

[2020-06-14 19:07] michaelatvaronis opened #12147 "New-AzBatchTask fails when using OutputFile with SAS URL"
## Description

When calling **New-AzBatchTask** using the **OutputFile** switch, passing a BlobContainerDestination SAS token, the CMDLET fails with error:

New-AzBatchTask: HttpStatusCode: **BadRequest**
StatusMessage: **The specified Request Body is not syntactically valid.**
Error code: **InvalidRequestBody**
Message: The specified Request Body is not syntactically valid.
Error details:
Reason

[2020-06-15 05:24] aim-for-better commented on #10522
Customer error

[2020-06-15 05:24] #10522 closed

[2020-06-15 05:33] whizneel opened #12150 "could not load authentication module in Az ASR powershell"
I am getting the following error while trying the following commandlet
$vault = Operation:CreateVault -Name $vaultName -ResourceGroupName $vaultRgName -Location $vaultLocation

error: Could not load file or assembly 'Microsoft.Azure.PowerShell.Authentication, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35' or one of its dependencies. The system cannot find the file specified.

p

[2020-06-15 06:23] aubrey-y commented on #12142
Update: Someone came up with a solution on stack overflow: https://stackoverflow.com/a/62381496/8652920

Wrt next steps, if this isn't just a localized problem that I'm facing, it would be helpful to update the "Add a user" documentation that was linked initially.

[2020-06-15 07:02] yuu045-ran commented on #12134
Hi @ahmedelnably, @fabiocav, could we have any mitigations for this issue? Since we are just looking forward to a workaround that has the same affect as `| Out-Null` on `Get-AzFunctionAppSetting`.

We understand the product could not be changed immediately, but if there's a way to remove these system generated `"INFORMATION: Microsoft.Azure.PowerShell.Cmdlets.Functions.Runtime.EventData"` it will

[2020-06-15 07:53] mcalnd70 opened #12151 "AzApiManagementAuthorizationServer cmdlets - Use of hashtable for TokenBodyParameters reduces functionality"
## Description
**AzApiManagementAuthorizationServer** cmdlets (New-AzApiManagementAuthorizationServer and Set-AzApiManagementAuthorizationServer) support the use of a hashtable to allow changes to the **_TokenBodyParameters_**.

This limits the ability to enter more than one entry of the same named type, as it is possible in the Azure Portal GUI

## Steps to reproduce
Using the instructions from t

[2020-06-15 09:27] tomkerkhove opened #12154 "Set-AzIoTDeviceProvisioningServiceEnrollmentGroup does not assign linked IoT Hubs"
## Description

When assigning new IoT hubs it will not assign them and even remove the value before running the update.

**Before:**
[code]

**After:**
[code]

It looks like for addition it will copy the assign:
https://github.com/Azure/azure-powershell/blob/master/src/DeviceProvisioningServices/DeviceProvisioningServices/Cmdlet/IotDpsDataPlane/EnrollmentGroup/AddAzIotDeviceProvisioningServiceEnr

[2020-06-15 09:39] VeryEarly commented on #12135
fixed in #12155

[2020-06-15 09:45] tomkerkhove commented on #12154
Happy to send a PR but I'm wondering if this is on purpose and why.

[2020-06-15 10:58] mikeblakeuk commented on #10340
Please reopen this. thanks

[2020-06-15 12:22] simondmorias opened #12158 "Import-AzDataLakeStoreItem fails parsing date"
## Description
Import-AzDataLakeStoreItem is a returning an error about date format. My request is not passing any date information.

## Steps to reproduce

[code]

You can just run the command ```Import-AzDataLakeStoreItem ``` with no params and you also receive the error.

## Environment data

My machine is running a British Locale (so date format will be different to the US). I suspect this is

[2020-06-15 14:01] klinki opened #12160 "Set-AzureRmApplicationGateway - cannot update certificates for gateway with Minimum scale units 0"
## Description
I'm trying to automate Let's encrypt certificate renewal. I'm using following script: https://github.com/intelequia/letsencrypt-aw/blob/master/letsencryptaw_v2.ps1

to renew the certificate. Problem is when I call `Set-AzureRmApplicationGateway` - it fails with error message:

[code]

I don't change the `MinCapacity` anywhere, I don't touch it.

If I modify the gateway in Azure port

[2020-06-15 14:13] prasad-sunkara commented on #11202
I am encountering a very similar issue with New-AzSqlDatabaseCopy command.  Sporadically I see a timeout issue. However, the command seem to succeed in creating the database copy.

[2020-06-15 17:23] Panzerbjrn opened #12165 "Set-AzDiagnosticSetting gives a storage not provisioned error"
## Description
I'm trying to set up some diagnostic logging for a Power BI Embedded capacity via this PowerShell command, but it isn't working.

The command I'm running is:
`Set-AzDiagnosticSetting -ResourceId "/subscriptions/1fa2b345-67c2-890d-1ef2-aded8b8bc224/resourceGroups/LPTestRG/providers/Microsoft.PowerBIDedicated/capacities/pbiewi38848" -StorageAccountId "/subscriptions/1fa2b345-67c2-890d

[2020-06-15 17:49] blueelvis opened #12166 "Set-AzSqlServerActiveDirectoryAdministrator should not ask for a Display Name when objectId is provided"
## Description of the new feature
As of now, `Set-AzSqlServerActiveDirectoryAdministrator` requires a compulsory Display Name even when the Object Id is specified. I think the latter is much better since it doesn't have the chance of duplicates or ambiguity. The commandlet should be able to function without the Display Name when only the Object Id is provided.

Documentation also needs to be added

[2020-06-15 18:06] shenglol commented on #12031
@JustinGrote If you need to programmatically interrogate the results, you would do
[code]
instead of
[code]

The former returns a PS object so you can change the format with pipe. The latter is useful when you want to run What-If interactively and only care about text-based results.

[2020-06-15 18:28] JustinGrote commented on #12031
I get it with both. Can you show me an example *with json output* of how it works for you?

[2020-06-15 21:33] JustinGrote commented on #12031
@shenglol I did manage to finally get it to work, this can remain closed, thanks.

[2020-06-15 22:42] MrMCake commented on #11497
Just came across the same issue:

[code]

[2020-06-16 02:12] #12135 closed

[2020-06-16 04:09] hihorika opened #12168 "Webapp:Add-AzWebAppAccessRestrictionRule cannot find resourceGroup/vnet/subnet in other subscription."
## Description
Executing `Add-AzWebAppAccessRestrictionRule` with subnet in other subscription as value of `-SubnetId`, powershell tries to find the resource group of the subnet in a **subscription which Web App belongs in**, then it is failed.

## Steps to reproduce

[code]

## Environment data

[code]

## Module versions

This is reproducable on Cloud Shell.

[code]

## Debug output

[code]

##

[2020-06-16 06:32] dingmeng-xue commented on #12168
Thanks for reporting. I include WebApp team to look into this issue.

[2020-06-16 06:37] dingmeng-xue commented on #12166
Service team, description about object id is "If the display name is not unique, you must specify a value for this parameter." I think additional parameter set should be introduced. `-DisplayName` should be omit and object id is mandatory.

[2020-06-16 06:56] dingmeng-xue commented on #12154
@tomkerkhove , thanks for your question.

@anusapan , could you look into this issue?

[2020-06-16 07:01] dingmeng-xue commented on #12142
API management team, please help to look into this question.

[2020-06-16 07:03] isra-fel commented on #11869
Sorry but I have no idea... the AzureRM.Profile version you are using is too old. Some suggestions:

1. `Get-Module AzureRM.profile -ListAvailable` Make sure you've installed only one version
1. Reinstall AzureRM.profile
1. Update AzureRM.profile
1. Switch to Az.Accounts

[2020-06-16 07:11] lilyjma commented on #9639
@ToMakeSense  are you still experiencing this problem?

[2020-06-16 07:20] tomkerkhove commented on #12154
Happy to help!

[2020-06-16 07:51] dingmeng-xue commented on #12158
@simondmorias , I tried this cmdlet on PowerShell 7 and get below message. Could you share what message you get when you execute without parameter?

[code]

[2020-06-16 07:53] dingmeng-xue commented on #12147
Batch team, please look into this issue.

[2020-06-16 07:56] dingmeng-xue commented on #12150
Hi @Whizneel, could you clarify "Operation:CreateVaul"? Which cmdlet are you using?

[2020-06-16 07:58] dingmeng-xue commented on #12151
Thanks for reporting. I invite API management team to look into it.

[2020-06-16 08:00] dingmeng-xue commented on #12160
I include network team to look into it.

[2020-06-16 08:02] dingmeng-xue commented on #12165
@Panzerbjrn , according to the response from server, the provision of storage account was not finished yet. Did you try it after a while? Could you share the debug message further?

[2020-06-16 08:04] dingmeng-xue commented on #12010
@Kotasudhakarreddy, any update?

[2020-06-16 08:21] Panzerbjrn commented on #12165
Thanks @dingmeng-xue , asI worte, although it was mangled a bit by formatting:
Running `Get-AzStorageAccount` and looking in the portal, I can see that provisioning has succeeded, and I have a bunch of blobs and tables in there anyway, so I know that it works.

The Storage account I tried first had been in use for a few months, and I also created a brand new one, added some tables and blobs, and t

[2020-06-16 08:28] dingmeng-xue commented on #12025
@datr93, could you help to look into this issue? It seems server already returns correct value.

[2020-06-16 08:34] simondmorias commented on #12158
On PS Core 7.0.1, I get:
[code]

Using Windows PowerShell I get:
[code]
On the same machine running a container under WSL2 with Core 7.0.1 I get the same prompt as you. I does feel like a Windows regional settings issue?

[2020-06-16 08:37] dingmeng-xue commented on #12158
could you try `Get-Command Import-AzDataLakeStoreItem | fl`?

[2020-06-16 08:42] sanjeevdhavala commented on #11129
Facing same issue, it worked until 06/12/2020 and it started failing from 06/13/2020

"User does not have required permissions to view usage details for Billing Account"

[2020-06-16 09:41] brettmillerb opened #12177 "Set-AzDiagnosticSetting doesn't disable diagnostic setting as expected"
## Description
I previously opened issue #11523 where there were some issues with the preview module so I reverted to using the non-preview version.

I was able to enable dianostics for my Elastic Pools and Datbases as required but I am not not able to disable diagnostics on those resources.

When I run Set-AzDiagnosticSetting to disable the diagnostic settings that I set previously, the output sh

[2020-06-16 12:01] Kotasudhakarreddy commented on #12010
@dingmeng-xue - its about upgrading the  Appservice PS cmdlets to use latest Microsoft.Azure.Management.Websites (3.0) Nuget.

[2020-06-16 12:29] Evogelpohl commented on #11129
Follow up from my original issue: We opened a ticket w/ MS. Got this response.

"**Symptom**: When you used Get-AzConsumptionUsageDetail the operation returned an invalid status code 'BadGateway'.
**Cause**:  The reporting APIs are currently restricted to accounts with enterprise agreements"

This wasn't well-documented at the time the API stopped working for me, ~feb 2020.

[2020-06-16 12:29] #11129 closed

[2020-06-16 12:51] Kotasudhakarreddy commented on #12015
@bart-rosseel - Based on the log provided what I observed it is failing when both ASP and SLOT are in different `Resource Groups` (RG). Please confirm me. Below are your slot and ASP RG details
 **Slot RG Name**: RGP-FT-SITECORE-01
**ASP RG Name** : RGP-WWEBDEV-01

[2020-06-16 12:56] bart-rosseel commented on #12015
Indeed the error is caused when the ASP and SLOT are in different RG’s.

There has been a fix applied to the commandlet for webapps to solve the same issue. ( see mentions in the issue ). I suppose applying the same change in the webappslot cmdlet will be sufficient to resolve the problem for webappslots.

From: Kota Sudhakar Reddy <notifications@github.com>
Sent: Tuesday, 16 June 2020 14:52
To: A

[2020-06-16 13:27] RStoddart commented on #12065
I repeated the test just now, and it is the same.

Tried again in regular mode.
SO both Admin and regular mode i show the same error in verbose.

[2020-06-16 15:18] Kotasudhakarreddy commented on #12015
yes there is fix and I have give it for WebApp. will do the same for Slot as well. Just to make sure both the Slot and the ASP are different RGs i have ask for the confirmation. Thanks for confirming. Will give the fix.

[2020-06-16 15:35] panchagnula commented on #11862
Thanks for the feedback let me check with the feature owners and get back to you on this. Thanks.

[2020-06-16 15:38] panchagnula commented on #10724
ping @justinjstark any updates?

[2020-06-16 15:46] panchagnula commented on #10614
@gesturer121 are you still seeing this? if so do let us know. @Kotasudhakarreddy can you check if this still repros with the latest version of PS? Thanks!

[2020-06-16 16:24] joshluth opened #12181 "WebApp:AppSettingsOverrides in New-AzWebAppSlot are ignored"
## Description
When creating a new web app slot using New-AzWebAppSlot and the AppSettingsOverrides parameter, the app settings are ignored.

## Steps to reproduce

[code]

## Environment data

[code]

## Module versions

[code]

## Debug output

[code]

## Error output

[code]

[2020-06-16 17:30] justinjstark commented on #10724
I'll try to find some time to reproduce this and give you some more information. In my app, I had to start the app manually, do manual health checks until it is available, and then swap in the deployment slot. This workaround has been working.

[2020-06-16 17:33] rthorn17 commented on #10300
@Grayer123 - Can we please take a look to see what is happening here?

[2020-06-16 17:34] blueelvis commented on #12166
@dingmeng-xue - I also get a Forbidden error when I try to run this in an Azure DevOps pipeline which uses an App Registration/Service Principal to deploy stuff. This same app registration has the Contributor rights (same as me) on the SQL server and also has the Admin Consent for searching the Directory for all users and has been granted the permission for the Graph Api. All I get is the followin

[2020-06-16 18:13] raohri3 commented on #7297
@panchagnula Actually its already supported but in case of cross resource group clone with serverfarm we need to provide complete serverFarmID of form of form "/subscription/{subscriptionId}/resourceGroup/{resourceGroup}/serverFarm{serverFarmName}"

which is added in error message of clone operation :
https://github.com/Azure/azure-powershell/pull/12176

[2020-06-16 18:44] anusapan commented on #12154
ack

[2020-06-16 18:49] brettmillerb commented on #12177
I also tried:

[code]

Just in case this was a parameterset issue but the Diagnostic settings still remain enabled.

[2020-06-16 21:00] datr93 commented on #12025
We tried this:
Update-AzWvdApplicationGroup -Name {} -ResourceGroupName {} -FriendlyName "new name"
Get-AzWvdApplicationGroup -ResourceGroupName {} -Name {} | format-list

Works

[2020-06-17 00:27] dingmeng-xue commented on #12104
@jessicl-ms, please help to look into this issue

[2020-06-17 01:52] #11297 closed

[2020-06-17 03:24] dingmeng-xue commented on #12166
@blueelvis, please raise your question in a new issue with debug message. We can track them better.

[2020-06-17 03:38] ahamad-MS opened #12186 "Allow service teams to combine GA'ed features and previewed features in the same GA'ed Powershell Module without the need to use separate private PowerShell module"
## Description of the new feature

This request is officially from all Azure Messaging services team, including, Azure Event Grid, Eventhub, Service bus, and Relay teams. However, we are aware of other service teams who have the same problem and will benefit from the same request.

In a nutshell, we would like a mechanism that allows us to add support for both GA’ed and previewed features in the s

[2020-06-17 06:25] abatishchev commented on #11203
@dingmeng-xue, please ping the service team.

[2020-06-17 06:33] dingmeng-xue commented on #12186
@dcaro , let's consider how to support it better.

[2020-06-17 07:48] dingmeng-xue commented on #12181
@joshluth , According to the logic of implementation, AppSettingsOverrides is applied when SourceWebApp is set. Could you check again?

https://github.com/Azure/azure-powershell/blob/d17d1e7d6fea6fe828e3f8eea6798bc3f6a0ffd4/src/Websites/Websites/Cmdlets/DeploymentSlots/NewAzureWebAppSlot.cs#L169

[2020-06-17 07:55] dingmeng-xue commented on #12177
@VeryEarly , please look into it.

[2020-06-17 08:26] BasSmuldersCZ opened #12189 "Documentation not correct for New-AzStorageAccount"
## Description
-Kind
The default value is StorageV2.
Default value in the table is specified as None.

## Steps to reproduce

[code]

## Environment data

[code]

## Module versions

[code]

## Debug output

[code]

## Error output

[code]

[2020-06-17 08:51] itfranck opened #12190 "Az.Keyvaut - SecretManagement - Modification to Secret parameter and support for SecureStringSecret"
## The implementation of the Microsoft.Powershell.SecretManagement module helper have a SecretValue parameter that accept a secure string.

It would be nice for the implementation to match the SecretManagementModule.

Powershell implementation of the module have 2 parameters

-SecretValue accept object (supported are)
ByteArray
String
PSCredential
Hashtable

-SecureStringSecret accept a secure str

[2020-06-17 08:52] simondmorias opened #12191 "Remove-AzDataFactoryV2IntegrationRuntime returns InternalServerError"
## Description

Trying to remove a Shared IR from the PRIMARY ADF Instance via PowerShell fails with:

[code]

This is the equivalent command of going into the ADF UI that owns the IR, going to the Sharing tab and deleting the ADF instance that was previously granted permission.

## Steps to reproduce

You must have two ADF instances running, one with the IR setup as the owner, and the second inst

[2020-06-17 08:52] brettmillerb commented on #12177
Oddly,  I got this error when trying to use Azure CLI to do the same thing. I updated azure-cli just in case it was fixed in a newer version but the same issue persists.

[code]

[2020-06-17 09:01] blueww commented on #12189
@BasSmuldersCZ

In https://docs.microsoft.com/en-us/powershell/module/az.storage/new-azstorageaccount?view=azps-4.2.0, we have specify -Kind: "The default value is StorageV2."
And in the cmdlet code, the default value is Storagev2.

Not sure where you see "Default value in the table is specified as None."

[2020-06-17 10:12] pvrk commented on #11693
@DanteNahuel: If you are not comfortable sharing the debug trace in this channel, please open a support case and then share. We will resolve this issue if it reappears.

Closing the case since the required information to debug is not present.

[2020-06-17 10:12] #11693 closed

[2020-06-17 10:18] amolagar5 opened #12192 "Graph.Rbac/Version1_6/ActiveDirectory/ActiveDirectoryClient.cs does not handle guest users by mail"
Set-AzSqlServerActiveDirectoryAdministrator -ServerName guestusertest -ResourceGroupName sqldbca -DisplayName "<guest user email>" - Debug

make calls to upn rather than mail

## Description

## Steps to reproduce

[code]

## Environment data

[code]

## Module versions

[code]

## Debug output

[code]

## Error output

[code]

[2020-06-17 10:42] pritiherkal commented on #11869
There is only one version of it installed for sure. Will give a try on updating the AzureRM modules or else will switch to Az.

Thank you @isra-fel for your help in finding the issue with the dll version of Az Keyvault.

[2020-06-17 11:53] DenBir commented on #9339
Any new updates? I've the same issue.

[2020-06-17 12:49] blueelvis opened #12195 "Set-AzSqlServerActiveDirectoryAdministrator returns Forbidden"
## Description
We are using an Azure AD App Registration to do the deployments using Azure DevOps. When trying to run the `Set-AzSqlServerActiveDirectoryAdministrator` using this app registration, I get the following for a specified ObjectId and DisplayName -
[code]
But, when I try to use a user account using Active Directory authentication in the Devops pipeline, it works without any issues for t

[2020-06-17 12:49] blueelvis commented on #12166
@dingmeng-xue - Done - https://github.com/Azure/azure-powershell/issues/12195

[2020-06-17 14:03] dingmeng-xue commented on #12195
SQL team, could you help to check what permission is required?

[2020-06-17 14:06] #12192 closed

[2020-06-17 14:55] guidooliveira commented on #10434
This would be really useful, and reduce the amount of secrets stored.

[2020-06-17 15:13] dingmeng-xue opened #12199 "Could not find EXAMPLES header in file Get-AzAppConfigurationStore.md"
## Description

It has below error when validating all docs.
Could not find EXAMPLES header in file Get-AzAppConfigurationStore.md

## Steps to reproduce

[code]

## Environment data

[code]

## Module versions

[code]

## Debug output

[code]

## Error output

[code]

[2020-06-17 15:15] dingmeng-xue commented on #12199
@dolauli , please help if there is issue in Get-AzAppConfigurationStore.md?

[2020-06-17 15:29] dingmeng-xue opened #12200 "example of New-AzImageBuilderCustomizerObject needs to remove Sha256Checksum parameter"
## Description

`New-AzImageBuilderCustomizerObject’ cmdlet requires to use a Sha256 checksum however this is not possible in the case of an inline script. We need to docs as well.

## Steps to reproduce

[code]

## Environment data

[code]

## Module versions

[code]

## Debug output

[code]

## Error output

[code]

[2020-06-17 15:56] bganapa commented on #9339
@DenBir Are you hitting this issue against Azure or AzureStack environment? Could you please clarify?

[2020-06-17 16:42] jknowldenic commented on #12025
To be clear: the problem is with what gets displayed to the client, not the response from the server.

[2020-06-17 17:15] DenBir commented on #9339
@bganapa on Azure Stack 2002 (disconnected with ADFS). Tested with actual PS modules how is described here https://docs.microsoft.com/en-us/azure-stack/operator/azure-stack-powershell-install?view=azs-2002.

[2020-06-17 17:23] MonkeyTennis commented on #6461
I am intermittently also getting this problem. I have a ps1 script called from the AzurePowerShell@4 YAML task that simply does the following:

Remove-AzSqlInstanceDatabase -ResourceGroupName $AzureResourceGroupName -InstanceName $AzureSqlServerResourceName -Name $DatabaseName -Force;

New-AzSqlInstanceDatabase -ResourceGroupName $AzureResourceGroupName -InstanceName $AzureSqlServerResourceName -N

[2020-06-17 17:32] datr93 commented on #12025
@jknowldenic oh if you want to change the friendly name for desktop app in **powershell** please using Update-AzwvdDesktop -ApplicationGroupName {} -Name {} -ResourceGroupName {} -FriendlyName "new name"

[2020-06-17 17:42] bganapa commented on #9339
@DenBir Your -ApplicationId should be a GUID as in the workaround mentioned above

New-AzureRmRoleAssignment -ApplicationId "b3fa7ab4-f7db-46bd-ae05-417c2b02b359" -Scope /subscriptions/6eeed9ed-5300-45a7-94d4-93582306b369/resourceGroups/sfpsfclusterrg -RoleDefinitionName Contributor

[2020-06-17 17:46] DenBir commented on #9339
@bganapa this works inly for spn but not for user or groups in adfs.
We need a possibility to add user and groups from adfs.

[2020-06-17 17:51] jknowldenic commented on #12025
Ah that gives the desired result, thanks!

[2020-06-17 17:51] #12025 closed

[2020-06-17 19:54] Shanfang opened #12201 "New-AzPrivateLinkServiceConnection not able to parse multiple line input with backticks"
If input parameters are separated into multiple lines using back-ticks. It is not able to parse the input. Sample input and err message is as follows,
[code]
The term '-GroupId' is not recognized as the name of a cmdlet, function, script file, or operable program. Check the spelling of the name, or if a path was included, verify that the path is correct and try again..