[2019-10-31 02:42] wyunchi-ms commented on #10432
Hi @craiglandis thanks for your feedback. Cound you please provide more info for us? You can get the debug info by open the debug switch
[code]

[2019-10-31 02:46] wyunchi-ms commented on #10434
Hi @buchs thanks for your recommendation. We will consider it.

[2019-10-31 03:22] wyunchi-ms commented on #10435
Hi @lazyruss thanks for your feedback.
This is my output:
[code]
What's resource type you queried? Could you please give us more debug info?

[2019-10-31 03:46] lazyruss commented on #10435
repros on types

- Microsoft.Web/serverFarms
- Microsoft.Web/sites
- Microsoft.Web/sites/slots
- Microsoft.ServiceBus/namespaces
- Microsoft.EventHub/namespaces
- Microsoft.DocumentDb/databaseAccounts
- Microsoft.Cache/Redis

maybe few more (i dont have that many resource types available)

[2019-10-31 04:40] archmangler opened #10437 "New-AzSqlDatabaseInstanceFailoverGroup : Grace period value should not be provided when failover policy Manual is selected for the read-write endpoint"
## Description

In configuring SQL MI failover with the following command:

[code]

We get this error:

[code]

However we're clearly not specifying a Grace Period, so the powershell module appears buggy.

## Steps to reproduce

[code]

## Environment data

[code]

## Module versions

[code]

## Debug output

[code]

## Error output

[code]

[2019-10-31 04:48] #10263 closed

[2019-10-31 08:06] dingmeng-xue commented on #9815
Move to next milestone to verify.

[2019-10-31 10:35] dingmeng-xue opened #10443 "Setup sign pipeline for Az 4.0"
## Description
-  Sign pipeline: https://dev.azure.com/azure-sdk/internal/_apps/hub/ms.vss-ciworkflow.build-ci-hub?_a=edit-build-definition&id=218
   - sign one module, multiple modules, or all modules

## Cost

[2019-10-31 10:36] dingmeng-xue opened #10444 "Setup security tools pipeline for Az 4.0"
## Description of the new feature

- Security tools pipeline: please refer to https://dev.azure.com/azure-sdk/internal/_apps/hub/ms.vss-ciworkflow.build-ci-hub?_a=edit-build-definition&id=248

[2019-10-31 10:37] #10269 closed

[2019-10-31 11:06] flixman commented on #10383
for a specific machine, similar to the one I reported the issue for, I am getting the following:

UsageStart             UsageEnd               BillingPeriodName InstanceName       UsageQuantity        BillableQuantity PretaxCost            MeterId
----------             --------               ----------------- ------------       -------------        ---------------- ----------            -------

[2019-10-31 14:47] bytejunkie commented on #10309
has anyone been able to repeat this issue?

[2019-10-31 16:57] SahinOzdemir commented on #6261
I have installed latest 6.13.1 AzureRM Module and the issue with Basic still persists. Any update on this?

[2019-10-31 18:09] craiglandis commented on #10432
@wyunchi-ms debug output below, you can see part of the problem is that it's still using the old API version 2019-03-01 and the exactVersion property was added to version 2019-07-01

[code]

[2019-11-01 02:08] archmangler commented on #10437
Additional information:

Setting Automatic failover, then manually setting to Manual in the portal is not an option because the solution we're working on requires fully automatic deployment of SQL MI with no further platform modifications.

[2019-11-01 13:23] DanteNahuel opened #10457 "No more Resource Group Name for Service Vault Containers?"
## Description

I've been using a self made script to recollect information about VM Backups and last week I started to get $null errors for the containers of the Backups.

When I debugged my code this was the part that was getting $null values:

`$container = (Get-AzRecoveryServicesBackupContainer -ContainerType "AzureVM" -Status "Registered" -VaultId $VaultID | where-object {$_.FriendlyName -eq

[2019-11-01 15:04] MrCNeale opened #10458 "Expose the kernel version as a property of VMimages"
## Description of the new feature
3rd Party programs, such as AV software describes it's pre-requisites as Kernel Versions, not just OS versions and never in terms of Azure VM Image SKUs
e.g. RHEL 7.7 kernel 3.10.0-1062

## Proposed implementation details (optional)
get-azvmimage -Location eastus -PublisherName Redhat -Offer RHEL -Skus 7.7
should return an object with a property named KernelVersio

[2019-11-01 15:26] tcsdmaic commented on #9350
I am glad this workaround works, but I want to note, not only is it convoluted just to set a flag to 'false', but the MS documentation on Set-AzApiManagement (https://docs.microsoft.com/en-us/powershell/module/az.apimanagement/set-azapimanagementapi?view=azps-2.8.0) Does not specify that you have to include the Name, ServiceURL, and Protocols in order for that to work....otherwise you get an error

[2019-11-01 18:58] kgehmlich commented on #10029
I'm encountering the same issue as @sasanmcp. Is there an ETA on this?

[2019-11-01 20:45] tcsdmaic opened #10460 "Adding an API to an API Management Service via Backend ID"
## Description of the new feature
When I manually add an API to my API Management Service (APIMS), I click "Add API", go to "API App", and select an existing web application from the dropdown.  Adding an API this way automatically adds the operations to that API, adds the web application as a backend to that APIMS, and sets that as the backend for that API in the policies.

But when I want to add

[2019-11-02 00:54] jzkornbluh commented on #9827
I'm trying to make automated decisions based on the results of the 'Invoke-AzVmssVMRunCommand'. The 'value' property of the returned 'PSRunCommandResult' object is where I'm seeing those results, but 'Value.Message' is just a string... Is there a way to preserve the full object in the output of this command?

![image](https://user-images.githubusercontent.com/49572515/68063739-a8637c00-fcd0-11e9-8

[2019-11-02 01:28] marckassay commented on #3318
I believe this is fixed. Although, I'm creating my hashtable using `ConvertFrom-Json` which is different than how @kfrajtak has shown. The following condensed code hopefully highlights the essentials:

app-keyvault.parameters.json
[code]
In the preceding file, `"<key-vault-resource-id>"` is the actual value in the file. It gets replaced in PowerShell code below. Also `DOCKER-REGISTRY-SERVER-PASSWO

[2019-11-04 11:24] dansos opened #10468 "Get-AzConsumptionUsageDetail: A task was canceled."
We're experiencing intermittent issues with Get-AzConsumptionUsageDetail cmdlet since roughly last week. The task will fail seemingly at random and display the message "A task was canceled."

I've included a screenshot showing the results of us debugging one of our scripts which uses this specific function. It shows that the error we're experiencing is a direct response from the cmdlet.

![image (

[2019-11-04 11:35] sambitratha commented on #10457
Hi @DanteNahuel There was a bug within the service that changed the case of the RG being returned. That basically broke the pattern matching and extraction and hence the columns are returning null. This will be fixed in the next release i.e. 26th november.

However as a workaround, you can also use
**$regex = "*;" + $rg + ";*"
$container = (Get-AzRecoveryServicesBackupContainer -ContainerType "Azu

[2019-11-04 12:58] dansos commented on #10468
![image (2)](https://user-images.githubusercontent.com/43034860/68122628-aed93a00-ff02-11e9-9642-5ae13bd3bb4e.png)

Have been debugging further, just got the above error.

[2019-11-04 14:58] mikes-gh opened #10470 "New-AzDiskConfig with -CreateOption Empty gives Breaking Change Message"
## Description

Unwanted breaking change warning when using
[code]
with
[code]
AFAIK this breaking change only applies to `-CreateOption Upload`

## Steps to reproduce

[code]

gives

[code]

## Environment data

[code]

## Module versions

[code]

[2019-11-04 18:46] ikanni commented on #5862
@andreesteve  Please use Az.Automation -RequiredVersion 1.3.0

[2019-11-04 22:03] MECHANDR commented on #5321
Planning to close this issue due to lack of repro steps.
@maddieclayton ,@bsiegel, Let me know if you have the repro steps.

[2019-11-04 22:15] cormacpayne commented on #5321
@MECHANDR Hey there, I'm no longer a part of the Azure PowerShell team, but I can give some insight as to what this issue is about: in the RedisCache tests, the location value is hard-coded (_e.g._, [here](https://github.com/Azure/azure-powershell/blob/master/src/RedisCache/RedisCache.Test/ScenarioTests/RedisCacheTests.ps1#L10)), which can cause issues if another user recording these tests does no

[2019-11-04 23:02] dcbrown16 opened #10472 "New-AzApiManagementProduct -SubscriptionsLimit documentation"
The -SubscriptionsLimit parameter of New-AzApiManagementProduct is described with "The default value is 1" and then "Default value: None". In testing it seems that none is correct. Please remove or change the document referring to default value of 1.

I don't know where to file this but the API subscription for the same parameter also needs an edit to remove the extraneous "Whether" at the beginni

[2019-11-05 04:49] IronmanM opened #10475 "Automation Run book Storage Account key"
The below command is not working from azure automation run book to get the storage account key.

$storageAccountKey = Get-AzureRmStorageAccountKey –Name $storageAccount –ResourceGroupName $resourceGroup)[0].value

Link: https://docs.microsoft.com/en-us/powershell/module/azurerm.storage/New-AzureRmStorageAccountKey?view=azurermps-6.13.0

-------------------------------------------------------------

[2019-11-05 05:22] IronmanM commented on #10475
https://imgur.com/6FeYcsW

[2019-11-05 05:27] isra-fel commented on #10470
Hi @mikes-gh thanks for your feedback!
I can confirm this breaking change has been removed in Az 3.0. The reason you were still getting this message was because you have 2 versions of Az (aka 2 versions of Az.Compute) installed, and the old version was called.
You can remove the old version and the problem should be fixed.

[code]

(Closing the issue for now. Feel free to reopen if you have furthe

[2019-11-05 05:27] #10470 closed

[2019-11-05 05:33] isra-fel commented on #10468
By the way @dansos , could you share us with these info about your environment:

## Environment data

Please run $PSVersionTable and paste the output below

## Module versions

Please run (Get-Module  -ListAvailable) and paste the output below

## Debug output

Set $DebugPreference='Continue' before running the repro and paste the resulting debug stream below

## Error output

Please run Resolve-A

[2019-11-05 06:31] infy-vijayaraghavanl commented on #10349
I have run into the same problem. When can we expect a fix for this problem?

[2019-11-05 06:34] isra-fel commented on #10475
@IronmanM thanks for you feedback!
1. The error is about not being able to login, did you met any errors when the `Add-AzureRMAccount` cmdlet was run?

Besides, could you share with us below information about your environment?

## Module versions

Please run (Get-Module  -ListAvailable) and paste the output below

## Debug output

Set $DebugPreference='Continue' before running the repro and paste

[2019-11-05 06:34] dingmeng-xue opened #10476 "Acceptance test for Autorest.PowerShell"
## Description

Acceptance test is required to prove the progress of autorest.powershell including

- Test server
- Swagger test cases running on test server

Deliverable are wiki page about steps and a demo to team.

## Cost

10

[2019-11-05 06:42] dingmeng-xue opened #10477 "Side-by-side validation for data plane SDKs of Azure Core"
## Description
We need to verify the path 1 and path 2 of data plane can run side-by-side in one process. It will be helpful to consider the path to migrate to Azure Core

Sample test code needs to be shared and reviewed.

## Cost
2

[2019-11-05 07:18] IronmanM commented on #10475
ModuleType Version    Name                                ExportedCommands
---------- -------    ----                                ----------------
Script     1.6.3      Az.Accounts                         {Disable-AzDataCollection, Disable-AzContextAutosave, Enable-Az...
Script     1.0.1      Az.Advisor                          {Get-AzAdvisorRecommendation, Enable-AzAdvisorRecommendation, D...

[2019-11-05 07:20] IronmanM commented on #10475
Could you share with us the below information about your environment?

I'm trying to create/delete the HDInsight cluster using with Automation Run book.
please refer the below link:
https://linuxacademy.com/guide/19376-leverage-azure-automation-and-automatically-shut-down-vms/

[2019-11-05 07:24] IronmanM commented on #10475
Where should i have to add  the below commands :
(Add-AzureRMAccount
Set $DebugPreference='Continue' before running the repro and paste the resulting debug stream below)
I'm passing this script in Automation Run book.

Thank you.

[2019-11-05 08:20] dingmeng-xue opened #10478 "[HanaOnAzure] Generate cmdlets based on Swagger spec"
## Description of the new feature
Generate and customize modules for the Azure HanaOnAzure  service

- [x] Generate, build, and examine API surface
- [x] Ensure that New/Set/Update cmdlets use only expanded variants
- [x] Ensure that all POST operations use only expanded variants
- [x] Change Cmdlet, Parameter, and property names for consistency and clarity
- [ ] Write CRUD tests for top-level res

[2019-11-05 09:25] Wand3rvogel opened #10480 "Get-AzRecoveryServicesVault give only 200 vaults"
## Description

Get-AzRecoveryServicesVault give only 200 vaults, but we have more.
And therefore Get-AzRecoveryServicesVault -Name "SomeName" can't find vault "SomeName".

## Steps to reproduce

[code]

## Environment data

[code]

## Module versions

[code]

## Debug output

[code]

## Error output

[code]

[2019-11-05 09:51] dingmeng-xue opened #10481 "Add static analysis job in pipelines for Az 4.0"
## Description

Current PipeLine for Az 4.0 requires static analysis job

## Cost

[2019-11-05 19:40] IAlamElexio opened #10482 "Set-AzWebApp errors on operations for App Services not in the same resource group as the App Service Plan"
## Description

Set-AzWebApp errors on operations for App Services not in the same resource group as the App Service Plan.

This used to work, but broke at some point in the past two months (with one of the Az releases).

I suspect that the problem is that the fully qualified App Service Plan ID is no longer included in the request (see the debug information included).

## Steps to reproduce

[cod

[2019-11-05 20:42] danwkennedy opened #10483 "Can't manage "converged" AD Application secrets"
## Description

I need to be able to programatically rotate an AAD application's password. However, I keep getting an "Updates to converged applications are not allowed in this version." error.

## Steps to reproduce

Run the following:
[code]

I receive the following:
[code]

## Environment data

[code]

## Module versions

[code]

## Debug output

[code]

## Error output

[code]

[2019-11-05 21:22] MECHANDR commented on #9217
@MiYanni Can we close this issue? Based on the previous responses converting connection string to be a securestring isnt helping, and connection from local machine to ARM is HTTPS only.

[2019-11-05 22:43] MiYanni commented on #9217
@MECHANDR I'm no longer on the Azure PowerShell team. It is up to the Redis Cache team to decide if they want to close the issue as they own their cmdlets.

[2019-11-05 23:21] #9217 closed

[2019-11-06 05:30] isra-fel opened #10485 "`Get-AzSqlDatabaseReplicationLink` errors out when not specifying `-PartnerServerName`"
## Description

One of our customer ran `Get-AzSqlDatabaseReplicationLink` without specifying `-PartnerServerName`, he got an error:
![PS screenshot](https://user-images.githubusercontent.com/17446043/68262248-50967f00-0008-11ea-9be0-625568ab9cec.png)

Original issue: #10350

## Steps to reproduce

[code]

## Root cause
https://github.com/Azure/azure-powershell/blob/master/src/Sql/Sql/Replication/

[2019-11-06 06:52] VeryEarly commented on #10168
Hi @KirillOsenkov
Based on your description, your new "ServicePrincipalName" should be "http://FooPrincipal",
"FooPrincipal" should be the "DisplayName",

after you did
New-AzADServicePrincipal -DisplayName FooPrincipal -PasswordCredential $credentials
there should be a json object showed up which contains those information

it should work if you try:
Remove-AzAdServicePrincipal -ServicePrincipalN

[2019-11-06 06:55] isra-fel commented on #10485
## Suggested work items

[ ] Fix the error
[ ] Add a test case that cover when `-PartnerServerName` is not specified
[ ] Do a search in the module to find other possible similar mistakes

Thanks

[2019-11-06 07:05] dingmeng-xue opened #10486 "Generate common code for graph"
## Description
We need to generate common code for graph service. The code will be used by other modules internally.

- Validate current API and ensure everything can be generated correctly
- Provide list of existing resources and methods. Filter out low priority resources and methods
- Provide basic test cases

## Cost

[2019-11-06 09:37] lubaihua33 opened #10487 "executing Remove-AzResourceGroup lead to powershell ISE restart"
## Description
 Create a Linux VM. And use Set-AzVMExtension command to send a shell script to the VM, and run this script. After a few seconds, execute "Stop-Job $job" command to stop the job of "Set-AzVMExtension". Then execute "Remove-AzResourceGroup -Name $rg -Force" command, about 5 minutes later, the powershell ISE restarts.
![image](https://user-images.githubusercontent.com/56374758/6828944

[2019-11-06 12:24] pvrk commented on #10255
@DenisMunns: Thanks for the feedback. We have improved the error message and it should be reflected in the next release. Closing this issue.

[2019-11-06 12:25] #10255 closed

[2019-11-06 14:23] jakobli commented on #9074
any update would be appeciated, implementing a new automation flow, would be great to be able to use the new Az module

[2019-11-06 15:49] KirillOsenkov commented on #10168
Thanks, I’ll try that, but the code should never be throwing NullReferenceExceptions on invalid inputs. It should validate the inputs and give a clear error message about why the inputs are wrong. I read the docs and I came up with these inputs based on the docs. If a principal engineer at Microsoft is unable to correctly call the command line with the right arguments after carefully studying the

[2019-11-06 17:27] erich-wang commented on #8963
Based on the statement from user:

IMO, the error is expected because user copied the AzureRMContextSettings.json from old dir, but didn't modify ContextDirectory in that file, which result in Azure PowerShell to read context file from old ContextDirectory. The correct way to fix it is to delete AzureRMContextSetttings.json or modify its ContextDirectory and CacheDirectory in AzureRMContextSetttin

[2019-11-07 02:21] mbreakey3 commented on #4481
Register-AzureRmAutomationDscNode (or Register-AzAutomationDscNode as it's now called) is meant to just register the node with the automation pull server. To get the status of the applied configuration you should use Get-AzAutomationDscNode

[2019-11-07 02:21] #4481 closed

[2019-11-07 03:23] isra-fel commented on #10487
Hello @lubaihua33 , thank you for submitting the issue. We are currently investigating it. Will let you know when we have progress 😀

[2019-11-07 03:25] isra-fel commented on #10475
Hello @IronmanM , thank you for submitting the issue. We are currently investigating it. Will let you know when we have progress 😀

[2019-11-07 03:40] IronmanM opened #10491 "Need Power shell Script to get the reports from Pass services"
- Get the Firewall and Virtual Network rules details all (Key Vault, Storage Accounts, Data Lake Store, Data Lake Analytics, Event Hubs, Function Apps, Web Apps, Logic Apps)
- Get all users/apps that have access reports

Thank you.

[2019-11-07 05:17] isra-fel commented on #10491
Hello @IronmanM , could you describe more details about
- your scenarios
- how current Az cannot solve your problem
- and how do you think we can improve
Thanks

[2019-11-07 05:25] IronmanM commented on #10491
we are using the below commands to get the resource information.
Connect-AzureRmAccount
Set-AzureRmContext -SubscriptionId 4e3b720e-12X3-4XXXc-a35a-bXYXYXXXXbYYX
Get-AzureRmResource | Export-Csv -Path "C:\azureinventory.csv" ###AzureInventory

For VMs inventory below command ;
  [string]$tenantId="",
    [string]$file="Azure-ARM-VMs.csv"
)

if ($tenantId -eq "") {
    login-azurermaccount
    $sub

[2019-11-07 06:17] isra-fel commented on #10259
I'm trying to log things here:

### DLL dependency issue of MSAL extensions
When doing validation on windows powershell, after importing the module, when I try to run `connect-azaccount`, it errored out saying cannot find the dll of msal.
This is not an issue on powershell core.

We include both msal and msal extensions in the accounts project. msal extensions depends on msal, but with the differe

[2019-11-07 06:27] isra-fel commented on #10259
### net standard version of msal extensions not working properly

After solving the dependency issue, `connect-azaccount` can be executed. New error is: it cannot get token for each tenant, because the client cannot get account info (from the cache), because there is no cache!

Mark suggested we try their net45 version, instead of the default netstandard one. And the problem is gone.

Sent msal te

[2019-11-07 06:32] archmangler commented on #10437
Hi Any response on this ?

[2019-11-07 07:01] isra-fel commented on #10259
### Cannot login to China and Germany cloud

While we can login China and Germany portal, when logging in interactively, the web page errors out:
![msal-test-azure-german-01](https://user-images.githubusercontent.com/11371776/68366802-26ab9c80-016f-11ea-9289-768efdb124d1.png)

We suspect the error is because our configuration of the redirect uri of our first-party software azure powershell, which

[2019-11-07 07:14] isra-fel commented on #10259
### Cannot login us gov cloud
Our credential is out of date. But I guess even if it's not, I'd get the same result as China cloud

[2019-11-07 09:21] isra-fel commented on #10259
Today: testing msi
https://docs.microsoft.com/en-us/powershell/azure/authenticate-azureps?view=azps-2.8.0#sign-in-using-a-managed-identity
https://docs.microsoft.com/en-us/azure/active-directory/managed-identities-azure-resources/how-to-use-vm-token#get-a-token-using-azure-powershell

[2019-11-07 09:28] nielsvbrecht commented on #8828
Is there any progress on this? I'd like to upload my ARM template from the pipeline to the gallery, but seems to be quite difficult without available cmdlets :)

[2019-11-07 10:02] VeryEarly opened #10493 "New-AzRoleAssignment throw null reference when tenant has no subscription"
## Description
when trying to assign role to service principal which created under tenant that has no subscription, null reference exception will be thrown.

Caused by [https://github.com/Azure/azure-powershell/blob/master/src/Resources/Resources/RoleAssignments/NewAzureRoleAssignmentCommand.cs#L153](url), "Scope" assigned to "Scope" was null'

## Steps to reproduce
* login to azure portal with te

[2019-11-07 10:11] VeryEarly commented on #10346
similar issue, will be fixed all together
#10270
#9478

[2019-11-07 10:11] VeryEarly commented on #10270
similar issue, will be fixed all together
#9478
#10346

[2019-11-07 10:11] VeryEarly commented on #9478
similar issue, will be fixed all together
#10270
#10346

[2019-11-07 15:56] erich-wang opened #10495 "SubscriptionName is not returned when calling connect-azaccount -identity"
## Description
From IcM https://icm.ad.msft.net/imp/v3/incidents/details/155872990/home
When login in with managed identity, SubscriptionName is not returned.

## Steps to reproduce
Create VM and enable system managed identity, then execute following cmd within VM:
[code]

## Environment data

[code]

## Module versions

[code]

## Debug output

[code]

[2019-11-07 20:47] lotsahelp opened #10496 "Import-AzDataLakeStoreItem can't find System.Buffers"
## Description
Calling Import-AzDataLakeStoreItem v1.2.4 gives this error: Could not load file or assembly 'System.Buffers, Version=4.0.1.0, Culture=neutral, PublicKeyToken=cc7b13ffcd2ddd51' or one of its dependencies.

## Steps to reproduce

[code]

## Environment data

[code]

## Module versions

[code]

## Debug output

[code]

## Error output

[code]

[2019-11-07 20:56] lotsahelp commented on #10496
Version 1.2.3 does not have this issue.

[2019-11-07 22:11] seanmcne opened #10497 "Get-AzADUser missing properties"
## Description of the new feature
I'm attempting to get our team to use azure cloud shell and when attempting to query userinformation we've found get-azaduser to be a fairly worthless command as it doesn't appear to return any information about the user (like department, usage location, office info, or basically any properties on the user).

Hopefully I'm just missing something super obvious, but

[2019-11-08 02:38] ziwa-msft commented on #10437
Ack. Investigating now

[2019-11-08 02:46] ziwa-msft commented on #10437
turns out to be a case sensitivity bug. The program was expecting Manual instead of manual. I will have a fix for it to be case insensitive.

[2019-11-08 02:59] n0thingness commented on #9716
@niander @markcowl Any update on this? This functionality still appears to be absent in azps 3.0.0

[2019-11-08 05:25] dingmeng-xue opened #10501 "Generate common code for storage"
## Description of the new feature
We need to generate common code for graph service. The code will be used by other modules internally.

- Validate current API and ensure everything can be generated correctly
- Provide list of existing resources and methods. Filter out low priority resources and methods
- Provide basic test cases

## Proposed implementation details (optional)

[2019-11-08 05:28] dingmeng-xue opened #10502 "Generate common code for network"
## Description of the new feature
We need to generate common code for graph service. The code will be used by other modules internally.

- Validate current API and ensure everything can be generated correctly
- Provide list of existing resources and methods. Filter out low priority resources and methods
- Provide basic test cases

[2019-11-08 08:20] ramu20061992 commented on #9957
@lsmith130 Do you have any update on this issue ?

[2019-11-08 12:46] deepaksahu-perficient opened #10503 "Azure Arm Template Deployment Issue App Setting WEBSITE_NODE_DEFAULT_VERSION Creates Conflict Error."
Hi team,
I am trying to deploy the 'node js function app' in 'azure portal' using  'arm templates' from 'Git repo'. When i include "WEBSITE_NODE_DEFAULT_VERSION : 8.11.1" in template app Settings. It throws me 'conflict' issue while deploying, but as i remove this from template app setting it deploys successfully; but after that function app not works properly giving '500 internal server error' on

[2019-11-08 12:54] ramakrishnagith opened #10504 "issue with Get-AzRoleAssignment -SignInName xxx -ResourceGroupName xxx"
Its not showing any result while using Get-AzRoleAssignment -SignInName xxx -ResourceGroupName xxx

[2019-11-08 16:02] mjannapureddy07 opened #10505 "Az Command for adding VNetGateway Point to Site Client config"
We have an automation to integrate our Azure App Service plan with Azure VNet. For that we use Virtual Network Gateway Based integration which requires a point to site connection. We are in the process of migrating our scripts from using AzureRM module to Az Module. We are unable to find the cmdlet to replace the below command.

**Set-AzureRmVirtualNetworkGatewayVpnClientConfig -VirtualNetworkGate

[2019-11-08 16:03] aorlenko83 opened #10506 "No ActionGroup parameter in Add-AzWebtestAlertRule"
## Description
I want to create the AppInsights with Availability test (WebTest), and attach email alert rule to it using Azure Powershell. And I'd like to attach the already existing ActionGroup with needed email addresses to the alert rule.

According to latest `Add-AzWebtestAlertRule` method documentation, there is no ActionGroup parameter. However, in Azure portal we can attach the existing ac

[2019-11-08 16:34] eanest commented on #10029
i am unabl eto add accesspolciy toAKV using SPN used for service connection in Azure Devops, but using the same SPN i am able to add access policy through ARM, very strange

[2019-11-08 17:25] rjmholt commented on #7752
I've just run into a need for this too, for an API that not exposed by either Azure PowerShell or `az`.

While I understand the reasoning for not exposing a way to get a token, there are a few reasons I can see to do it:

- The `az` CLI already has this capability, so this is a parity question
- There is a workaround to get this in plaintext today with a few lines of PowerShell, so the security cu

[2019-11-08 21:53] adjohns commented on #10196
@msJinLei I am experiencing the same behavior for the command as saach11 . The identity will be created following the assignment name but then has no role assignments made. When you perform a remediation action it will fail since the assignment powershell did not give the identity any permissions.

I have sent you an email with the requested debug information.

[2019-11-08 22:24] aorlenko83 commented on #10506
After some digging into Add-AzWebtestAlertRule I made it work this way:
[code]
However, with this method the only option is to set the custom email and attaching ActionGroup is still not available.
Also after adding alert rule using this method, I have the following UI:

![image](https://user-images.githubusercontent.com/49045994/68514062-5cdb4000-0285-11ea-8515-286339fe21e0.png)

Whereas if I cre

[2019-11-08 22:35] beavel commented on #9485
Ran across this issue while I was trying to do something similar. Copy a cert from one KeyVault to another and not touch disk. I was getting an error on upload about a BadRequest, so I started searching and found this issue. After reviewing this issue and I was able to find a solution. One caveat is that I am using the new `Az` module instead of the `AzureRm`. I haven't had time to test the old mo

[2019-11-09 10:28] wonderplayer commented on #9682
Default example, which is in official documentation is not working too with this error.

[Url to official documentation](https://docs.microsoft.com/en-us/powershell/module/az.websites/new-azwebappsslbinding)

Or even when adding it without thumbprint. The certificate gets uploaded, but still get the error response:
`New-AzWebAppSSLBinding -ResourceGroupName "rolands-sandbox" -WebAppName "rolands-s

[2019-11-11 01:39] isra-fel commented on #10504
Hi @ramakrishnagith , thanks for submitting the issue. Could you please share below information with us? Thanks

## Environment data

Please run $PSVersionTable and paste the output below.

## Module versions

Please run (Get-Module  -ListAvailable) and paste the output below.

## Debug output

Set $DebugPreference='Continue' before running the repro and paste the resulting debug stream  below.

#

[2019-11-11 02:24] thecherrytree commented on #9682
@wonderplayer - can you move your comment to: #9485

[2019-11-11 03:05] IronmanM commented on #10491
@KarenHammons , @sfiguemsft  @isra-fel Just checking is there any update on it.

[2019-11-11 03:05] IronmanM commented on #10475
@isra-fel @investigate, Just checking is there any update on it.

[2019-11-11 05:21] isra-fel opened #10511 "Add a customer-facing preview release doc"
## Description

We have a `AzureRM` version of preview release doc covering the customer-facing topics about preview release. But it's old and requires updates.

## Cost

1

[2019-11-11 05:34] wonderplayer commented on #9485
Default example, which is in official documentation is not working too with this error.

[Url to official documentation](https://docs.microsoft.com/en-us/powershell/module/az.websites/new-azwebappsslbinding)

Or even when adding it without thumbprint. The certificate gets uploaded, but still get the error response:
`New-AzWebAppSSLBinding -ResourceGroupName "rolands-sandbox" -WebAppName "rolands-s

[2019-11-11 08:03] ramakrishnagith commented on #10504
Hi isra,

Thanks for responding my query,

  And here I am sending snap shots, and list of modules. Please find the attached file.

![image](https://user-images.githubusercontent.com/44571731/68570757-603e1980-0487-11ea-8afd-c04939e51494.png)

Name
----
Az.Accounts
Az.Accounts
Az.Advisor
Az.Advisor
Az.Aks
Az.AnalysisServices
Az.ApiManagement
Az.ApiManagement
Az.ApplicationInsights
Az.Automation
Az

[2019-11-11 08:35] isra-fel opened #10512 "Modules to go to stable"
## Description

`Az.SqlVirtualMachine` and `Az.DataBoxEdge`.

Sub-tasks:

- [ ] Update the version in `.psd1`
- [ ] Update `Az.psd1` to include this module
- [ ] Run version tool and check in the serialized cmdlet json

## Cost

1

[2019-11-11 18:07] jn-altius opened #10514 "Get-AzBatchNodeFile does not respect the ComputeNode parameter"
Following Example 5 in the documentation here:
https://github.com/Azure/azure-powershell/blob/master/src/Batch/Batch/help/Get-AzBatchNodeFile.md

### Setup
I have 3 Pools named LargePool, MediumPool and SmallPool.  LargePool does not contain any Nodes, MediumPool contains 1 dedicated node, and SmallPool contains 1 low priority node.
Both MediumPool and SmallPool have run at least once and there is

[2019-11-11 23:10] tcsdmaic commented on #9239
I am also trying to associate a Web App to an existing Application Insights via a Powershell script.  I did find a blog post about a way to accomplish this that is newer than this issue:  https://www.linkedin.com/pulse/enable-application-insights-azure-web-app-powershell-dries-venter
But it seems like it ought to be way easier and more straight-forward than this.  Especially since at least API Man

[2019-11-11 23:18] tcsdmaic opened #10517 "Setting runtime stack for web app"
## Description of the new feature
When you manually create a new web app in Azure, one of the selections is “Runtime stack”, which I can set to “.NET Core 2.2”.
But when I create a new web app via a powershell script, or even try to set its settings after the fact, there is no parameter for this.  Going into it in Azure after it’s created, I see it has defaulted to “.NET” with a framework version

[2019-11-12 01:02] panchagnula opened #10518 "webapp: Support the new appservice Managed certificates (preview)"
## Description of the new feature
Appservice released the new preview feature at Ignite 2019 https://azure.github.io/AppService/2019/11/04/Announcing-Managed-Certificates.html
We need first class command support for this feature using CLI

## Current workaround script to use with PowerShell
Required:  custom domain www.<your domain>.com  should be assigned to your websites.

[code]

ARM Template:

[2019-11-12 02:06] bganapa opened #10519 "[Az Preview][Hybrid] Missing cmdlets in Az.Dns module in hybrid profile"
## Description
Az.Dns module currently has only four cmdlets, Get-AzDnsRecordSet, Get-AzDnsZone, Remove-AzDnsRecordSet, Remove-AzDnsZone. Only these files are present in the exports folder as well.

The New/Set cmdlets of DnsZone and DnsRecordSet are missing. I believe there are other cmdlets as well. I will update the complete set needed

[2019-11-12 02:10] bganapa opened #10520 "[Az Preview][Hybrid] Missing cmdlets in Az.Keyvault module in hybrid profile"
## Description

Only the Get/new/Remove-Azkeyvault and Set-AzKeyvaultAccessPolicy cmdlets are present in the hybrid profile.
The data plane cmdlets are missing. There should be more management related cmdlets as well

Module version - 4.0.1-preview

[2019-11-12 06:26] Drewm3 commented on #8458
I am closing this issue because it does appear that the API is working as expected.

[2019-11-12 06:26] #8458 closed

[2019-11-12 06:38] peppekerstens opened #10521 "Get-AzRecoveryServicesBackupItem not able to show WorkloadType Windows"
## Scenario
https://docs.microsoft.com/en-us/azure/backup/backup-configure-vault

## Goal
Get a overview of the succeeded/failed backups

## Description
In order to get the information I am using the following example as a code baseline:
https://docs.microsoft.com/en-us/powershell/module/az.recoveryservices/get-azrecoveryservicesbackuprecoverypoint?view=azps-3.0.0#examples

## Steps to reproduce
C

[2019-11-12 06:39] Drewm3 commented on #8666
@barakAtSoluto, I apologize for missing this earlier this summer when I started tracking these issues. The error you are seeing is due to the fact that the certificate is still in use by a deployment. You will need to remove this certificate from the deployment, and then you will be able to delete the certificate.

[2019-11-12 06:39] #8666 closed

[2019-11-12 06:43] Drewm3 commented on #9148
@ld0614, Is this a problem you are still seeing? I just realized that this issue was assigned to someone who had left Microsoft. So I need to get someone new looking into this issue if it is still impacting you.

[2019-11-12 06:50] Drewm3 commented on #9487
This has been fixed.

[2019-11-12 06:50] #9487 closed

[2019-11-12 06:53] UmairSyed commented on #8371
I am facing a similar issue when i am trying to use ARM template to deploy NSG rule "allowInternetInbound" and the protocol is "Any". The template uses "protocol": "*". I am getting the following error during deployment
"message": "Required security rule parameter Protocol is missing for security rule with Id: /subscriptions/xx/resourceGroups/xx/providers/Microsoft.Network/networkSecurityGroups/xx

[2019-11-12 07:01] Drewm3 commented on #10235
I have updated this to be assigned to the owners of the AntiMalware extension to consider this feature request. In the near term they have provided a recommendation to view the following blog post for guidance on using this extension without the helper cmdlet: https://blogs.msdn.microsoft.com/azuresecurity/2016/02/24/update-on-microsoft-antimalware-and-azure-resource-manager-arm-vms/

[2019-11-12 07:32] IronmanM opened #10522 "Runbook HDCluster Creation"
@Ilavelan Kanniappan , @ikanni
Please refer the below link I have a comment.

I got the below error after the last command.

New-AzureRmHDInsightCluster : BadRequest: DeploymentDocument 'AmbariConfiguration_1_7' failed the validation. Error: 'Error while checking for -wx permissions on (/clusters) : DataLake
storage account not configured properly. Please check if the folder exists.'
At line:1 cha

[2019-11-12 07:33] wyunchi-ms commented on #10309
Hi @bytejunkie , this is because the `universaldashboard` use a older version of `Microsoft.Extensions.Caching.Abstractions` which is 2.1.2, but azure powershell use 2.2.0. It seems that `universaldashboard-2.7.0` now upgrade the version of `Microsoft.Extensions.Caching.Abstractions`. Please update your version of `universaldashboard`.

[2019-11-12 07:50] peppekerstens commented on #10521
This is needed functionality (also able to produce result with this commando);
https://docs.microsoft.com/en-us/rest/api/backup/backupprotecteditems/list

[2019-11-12 09:01] bytejunkie commented on #10309
thanks for the update @wyunchi-ms  but i still dont see it working on UD 2.7. I get the very same error message.

[code]
I've updated both the modules involved and am now running
Universal Dashboard 2.7.0
Az 3.0.0

Can you help me by showing how you've managed to get this working?

[2019-11-12 14:40] erich-wang commented on #10520
@bganapa, thank you for reporting the issue. The reason that there're no cmdlets for the data plane cmdlets of keyvaults in hybrid is: [latest profile](https://github.com/Azure/azure-rest-api-specs/blob/master/profiles/definitions/latest-2019-04-30.md) contains data-plane operations, e.g. **/keys/{key-name}/create**, but [hybrid profile](https://github.com/Azure/azure-rest-api-specs/blob/master/pr

[2019-11-12 15:04] erich-wang commented on #10519
@bganapa , thank you for reporting the issue. Looks the cmdlets are hidden in hybrid by specific configuration, I'll figure out whether it is on purpose or just a bug within team.

[2019-11-12 15:06] ld0614 commented on #9148
Hi @Drewm3, I have just retested and I am still seeing this behaviour if I don't use the workaround

[2019-11-12 16:16] nikydobrev commented on #2617
Hello, any update about this topic? When using "New-AzWebAppSlot" I am getting the same error "New-AzWebAppSlot : Long running operation failed with status 'InternalServerError'"

[2019-11-12 19:21] bganapa commented on #10519
Thanks @erich-wang  for looking at these issues. We should prioritize these issues over bringing more modules in to Az 4.x preview. Thanks!

[2019-11-12 19:23] bganapa opened #10524 "[Az Preview][Hybrid] Missing cmdlet New-AzStorageAccount in Az.Storage module for hybrid profile"
## Description
The cmdlet New-AzStorageAccount is missing in Az.Storage module for the hybrid-2019-03-01 profile

[2019-11-12 21:03] mbreakey3 commented on #4752
The problem is that the parameter is getting passed in as an array of PSCustomObjects rather than a hashtable through the cmdlet, so the object doesn't have a type: "keys". This is due to how the C# cmdlet code is processing the parameters, that's why you don't see this issue when you compile the configuration on your local box.

[2019-11-12 21:03] #4752 closed

[2019-11-12 21:30] k0rtina opened #10526 "Get-AzADUser (BlockCredential)"
The Get-AzADUser command does NOT have an attribute to show the 'BlockCredential' status.

EG:
Get-AzADUser -UserPrincipalName fred@here.com
UserPrincipalName : fred@here.com
ObjectType        : User
DisplayName       : Andrew AZURE
Id                : 8xxxxxx7-axxx-4xxx-8xxx-exxx7xxxac
Type              :

This data is available from MsolUser
EG:
Foreach ($User in (Get-MsolUser -All))
{
If ($User

[2019-11-12 21:45] k0rtina commented on #9074
I am also planning to use the MSInvitation commands, any update on when they will make it into the Az module?

[2019-11-12 23:38] yinqchen commented on #10235
Please try to install use:
https://docs.microsoft.com/en-us/powershell/module/azurerm.compute/set-azurermvmextension?view=azurermps-6.13.0  (you can follow the exmaple @Drewm3 mentioned)
Or
Set-AzVMExtension, which is a general cmdlet for any extension.

[2019-11-12 23:38] #10235 closed

[2019-11-13 03:49] dcbrown16 commented on #10472
Further feedback here.
For New-AzApiManagementProduct, if you specify NEITHER -SubscriptionRequired NOR -SubscriptionsLimit, the default values leave you with required=true and limit=null. However, if you do specify only -SubscriptionRequired (as $True), but don't specify -SubscriptionsLimit, the limit value becomes 1. I guess that's how the -SubscriptionsLimit section of the doc says both "The de

[2019-11-13 06:20] wsganesan opened #10529 "AzureRM to Azure module migration"
We are migrating AzureRM script to Azure module, we have updated the commands based on breaking changes given in microsoft docs. But we could not ge that libraries which were used in the AzureRM script, Please provide us any docs do you have for the below type for Azure module,

"Microsoft.Azure.Commands.Common.Authentication.Abstractions.AzureRmProfileProvider"

Error
Unable to find type [Microso

[2019-11-13 06:21] #10529 closed

[2019-11-13 06:23] vaidhycloud opened #10530 "AzureRM to Azure module migration"
We are migrating AzureRM script to Azure module, we have updated the commands based on breaking changes given in microsoft docs. But we could not ge that libraries which were used in the AzureRM script, Please provide us any docs do you have for the below type for Azure module,

"Microsoft.Azure.Commands.Common.Authentication.Abstractions.AzureRmProfileProvider"

Error
Unable to find type [Microso

[2019-11-13 09:22] aperisic commented on #2278
I cannot believe that I am reading this. You export a template and when you try to run it, it gives you something is bad. You read and find that "it is as it is" and that you have to patch it yourself.

The issue is very simple for me. Azure is supposed to give a developer power to deploy effortlessly. This is a classical operational task of fixing a script for whatever reason.

I am not even worr

[2019-11-13 11:18] bgelens opened #10531 "ARM template deployment at ManagementGroup and Tenant scope"
## Description of the new feature

I'd like to have cmdlets that can deploy ARM templates to the ManagementGroup and Tenant scope.
The apis for these are in production. Right now I'm using custom functions to deploy at ManagementGroup level where I'd much rather used cmdlets coming from Az.*

* [ManagementGroup scope](https://docs.microsoft.com/en-us/rest/api/resources/deployments/createorupdateat

[2019-11-13 11:48] AshokPadarthi commented on #8240
@JohannesHoppe  @tspring418 passing $WebAppConfig.Properties rather than $webAppConfig for -Properties fixed the issue , please find the details
AzureRM Version: 6.7.0
$ApiVersion = "2018-11-01"
$WebAppConfig = (Get-AzureRMResource -ResourceType Microsoft.Web/sites/config -ResourceName $webapp.Name -ResourceGroupName $ResourceGroupName -ApiVersion $ApiVersion)

        $rule = [PSCustomObject]@{

[2019-11-13 13:09] jn-altius opened #10532 "Get-AzBatchNodeFile does not return file Properties"
## Description
When querying Batch nodes for the output files, Get-AzBatchNodeFile *does* return a list of the files, but *doesn not* return the file properties.
I can see these properties populated correctly in the Portal, but cannot access them programatically via powershell.

## Steps to reproduce

[code]

## Environment data

[code]

## Module versions

[code]

Thanks,

[2019-11-13 15:13] PerninManon opened #10533 "Get-AzManagementGroup doesn't list all Management Groups"
## Description
The command Get-AzManagementGroup is supposed to list all Management Group.

However, it only lists Management Groups for which the current account has direct role assignment:
- The account can access directly to a Management Group with "Get-AzManagementGroup -GroupeName [group ID]"
- The same Management Group isn't list with "Get-AzManagementGroup"

It seems to be related to "Creat

[2019-11-13 16:21] ThejaChoudary commented on #10224
Taking a look at this..

[2019-11-13 16:27] kilasuit commented on #10531
I believe that we will see this functionality come in the `New-AzDeployment' cmdlet that should be coming with additional parameter to define which scope it gets deployed to as per the changes I can see in https://github.com/Azure/azure-powershell/pull/9707

@markcowl @sphibbs or @cormacpayne may be able to divulge better info on this though

[2019-11-13 16:55] cormacpayne commented on #10531
@bgelens @kilasuit I'm no longer working on Azure PowerShell, but from what I remember about the PR linked by Ryan, the changes made to the `New-AzDeployment` cmdlet include the requested features in this issue -- there are now four scopes in this single cmdlet: subscription, resource group, management group and tenant.

I believe that this functionality was released in the [2.0.0-preview](https:/

[2019-11-13 17:00] frenky29a commented on #10184
perfect !

[2019-11-13 18:29] bgelens commented on #10531
I searched the issues, both open and closed for terms as "managementgroup template" and some variations but was not able to find it. Should have extended my search to PRs...

Is there some doc that I've missed maybe that lays out all preview modules and their release notes?

Thanks @kilasuit and @cormacpayne for this info. Hopefully [Az 4.0](https://github.com/Azure/azure-powershell/tree/generatio

[2019-11-13 21:32] Francisco-Gamino opened #10534 "Get-command -module Az.Functions should only display customer facing cmdlets"
## Description
Get-command -module Az.Functions should only display customer facing cmdlets. However, this is not the case. This issue is caused by how the tooling packages/creates the module.

The cmdlets that should be exported to the user are defined in **CmdletsToExport** in Az.Functions.psd1:
https://github.com/Azure/azure-powershell/blob/generation/src/Functions/Az.Functions.psd1

[code]

##

[2019-11-13 21:34] Francisco-Gamino opened #10535 "[Az.Functions] New-AzFunctionApp and New-AzFunctionAppPlan need to support -AsJob"
## Description
Creating a function app is a long running operation and both New-AzFunctionApp and New-AzFunctionAppPlan need to support -AsJob.

~~This work item has a dependency on #10573.~~

[2019-11-13 21:35] Francisco-Gamino opened #10536 "[Az.Functions] New-AzFunctionApp and New-AzFunctionAppPlan need to support -Nowait"
## Description
Creating a function app is a long running operation and both New-AzFunctionApp and New-AzFunctionAppPlan need to support -Nowait.

[2019-11-13 22:01] yeswps commented on #8531
Opps... apparently when i created Orchestrator.Sandbox.exe.config in notepad, it appended .txt extension which got hidden in explorer view... such a newbie mistake...

I can now confirm the workaround works in my scenario.

[2019-11-13 22:43] Francisco-Gamino opened #10537 "[Az.Functions]: Need to support switching between a Premium plan and Consumption."
## Description
Need to support switching between a Premium plan and Consumption.

## Steps to reproduce

[code]

## Environment data

[code]

## Module versions

[code]

## Debug output

[code]

## Error output

[code]

[2019-11-13 22:49] Francisco-Gamino opened #10538 "[Az.Functions]: Remove-AzFunctionApp and Remove-AzFunctionAppPlan cmdlets need to support -Force"
## Description
Remove-AzFunctionApp and Remove-AzFunctionAppPlan cmdlets need to support -Force

[2019-11-13 23:28] Francisco-Gamino opened #10539 "[Az.Functions] New-AzFunctionApp needs to ensure that the storage account ProvisioningState is 'Succeeded' before creating the function app"
## Description
New-AzFunctionApp needs to ensure that the storage account ProvisioningState is 'Succeeded' otherwise the operation will fail on the back end.

[2019-11-14 01:38] #10493 closed

[2019-11-14 01:39] #10444 closed

[2019-11-14 01:39] #10346 closed

[2019-11-14 01:40] #10270 closed

[2019-11-14 01:40] #10168 closed

[2019-11-14 01:40] #9478 closed

[2019-11-14 02:28] dingmeng-xue commented on #10182
@jlongo62 thanks for your finding. We can reproduce this issue and will do the further investigation and log a new issue why module are not installed to correct location.

It seems all modules are copied to F:\WindowsPowerShell, but they should be under %ProgramFiles%\WindowsPowerShell\Modules. Could you just copy modules to there and double check. Another workaround is setting ROOTDRIVE explicitl

[2019-11-14 02:28] #10182 closed

[2019-11-14 02:41] KirillOsenkov commented on #10168
@VeryEarly would it make more sense to keep this issue open until the overall user experience is improved? Would be nice to either get a better error message or better documentation or ideally both.

[2019-11-14 04:07] #9510 closed

[2019-11-14 05:25] wyunchi-ms commented on #10309
Here is my steps:
1. Create a clean VM and install latest powershell core(I try both windows 10 and ubuntu 18.04)
[code]
Here is my environment variables:
[code]

[2019-11-14 06:23] #9601 closed

[2019-11-14 10:29] scuderig commented on #10039
But at the end, what permission are required to be granted to an app which is used to run that command?

I got the same issue and I can't see it mentioned in the documentation page

[2019-11-14 10:47] bytejunkie commented on #10309
@wyunchi-ms thanks for continuing this discussion on.
unfortunately I get very different results to you.

I too built a new Windows 10 VM, using Hyper-V and the Dev image that MSFT supply.
Then I installed Az (3.0.0), Universal Dashboard (2.7.0) and tried to run my example script. I get the same clashes listed above.

[code]

[2019-11-14 14:00] jkewley commented on #10039
It feels like it should be this
![image](https://user-images.githubusercontent.com/1148930/68863047-30c02480-06b4-11ea-9131-3aa24bd33623.png)

but it's not. It's this:
![image](https://user-images.githubusercontent.com/1148930/68863099-4d5c5c80-06b4-11ea-8396-fba5b943fb64.png)

This is a gap in the team's documentation

[2019-11-14 14:07] erich-wang commented on #10524
it is hidden by configuration, and only expose to latest profile.

[2019-11-14 14:29] scuderig commented on #10039
Do you know exactly which permissions are required? Directory.Read.All  as mentioned? (seems pretty extensive in terms of access it would get, if this is the case..)

[2019-11-14 15:01] jkewley commented on #10039
That's what I used because the available permission set on the legacy API is fairly small

[2019-11-14 16:11] tkumark opened #10544 "Powershell script for Add-AzServiceFabricReverseProxyCertificate"
## Description of the new feature
For service fabric we have 2 command for managing certificate for Client and Cluster but there is no powershell command for Reverse Proxy certificate.
Like
Add-AzServiceFabricClientCertificate
Add-AzServiceFabricClusterCertificate
I would be nice to  have
Add-AzServiceFabricReverseProxyCertificate
instead of relying on ARM template.
## Proposed implementation deta

[2019-11-14 16:48] vpaluch commented on #9566
Any update on this? it's a pain removing the rule after the data refresh.

[2019-11-14 18:08] Francisco-Gamino opened #10545 "[Az.Functions] New-AzFunctionApp needs to support creating a function app with a custom Docker image"
## Description
New-AzFunctionApp needs to support creating function apps with Docker containers (custom and with our defined images).

[2019-11-14 18:20] peppekerstens opened #10546 "Get-AzRecoveryServicesBackupProtectionPolicy - improper time display"
## Description
When using Get-AzRecoveryServicesBackupProtectionPolicy to display the existing policies, it displays wrong time.

I am aware of the fact that time displayed is universal time. The issue is that two different policies, created via the Azure Portal GUI with **same** start time and timezone show a **different** time when queried by Get-AzRecoveryServicesBackupProtectionPolicy.

## Ste

[2019-11-14 18:48] peppekerstens commented on #10326
@chrsdrhm a few questions
1. Has Install-Module been working correct on your system so far?
2. Have you recently updated the nuget and/or packagemanagement module ?
3. could you please check your packageprovider versions?

I had all kinds of strange behaviour for a while too: https://github.com/OneGet/oneget/issues/462
re-install machine helped in my case ... :|

[2019-11-14 19:03] MECHANDR commented on #9923
Issue fixed as part of PR #10510. Closing this issue.

[2019-11-14 19:03] #9923 closed

[2019-11-14 19:03] MECHANDR commented on #5321
Issue fixed as part of PR #10510. Closing this issue.

[2019-11-14 19:03] #5321 closed

[2019-11-14 19:24] TylerLeonhardt opened #10547 "[Az.Functions] Remove-AzFunctionApp needs to support -AsJob and -NoWait"
## Description

Related to https://github.com/Azure/azure-powershell/issues/10535 but a different cmdlet. This cmdlet (much like how `Remove-AzVM` does) should support `-AsJob` and `-NoWait`.

## Module versions

[code]

[2019-11-15 01:10] isra-fel commented on #10530
Hello @vaidhycloud could you share more info with us:
- Which document are you following to migrate? [this one?](https://docs.microsoft.com/en-us/powershell/azure/migrate-from-azurerm-to-az?view=azps-3.0.0)
- When did you get this error? When you import your module, or call your cmdlet?
Thanks!

[2019-11-15 05:17] #10475 closed

[2019-11-15 07:45] #9396 closed

[2019-11-15 07:55] jtuliani opened #10548 "[Az.Blueprint] Artifact cmdlets don't return DependsOn"
## Description

I am using New-AzBlueprintArtifact to create an artefact.
I am specifying DependsOn
I can see that DependsOn is working by checking the HTTP traffic using $DebugPreference="continue" (output below)
However, the object returned by this cmdlet does not populate the DependsOn property (also in output below)

Likewise, Get-AzBlueprintArtifact doesn't show DependsOn

## Steps to reprodu

[2019-11-15 08:21] isra-fel commented on #9396
GJ @VeryEarly

[2019-11-15 09:21] msJinLei commented on #9838
## Issue Breakdown

- [ ] Ask Bganapa whether subscription version 2018-06-01 can be supported by azure stack.
    - In latest hybrid profile the supported version is 2018-05-01.
- [ ] Regenerate ResourceManager to contains all the parts of update.
    - For resources.json update & subscription.json update not in the same version.
- [ ] Update related codes in AzAccounts
   - Update TenantId setti

[2019-11-15 10:09] dingmeng-xue commented on #6748
NA to current code

[2019-11-15 10:09] #6748 closed

[2019-11-15 10:31] prak2419 commented on #3407
Ran into the same issue today using the latest AZ.Resources module.

[code]
![image](https://user-images.githubusercontent.com/41781768/68936180-052a6080-07c0-11ea-8620-41b5375aa3b1.png)

The service principal has all rights to AAD and Graph API. The issue is encountered while using a release pipeline, Powershell and an automation runbook. Get-AZRoleDefinition and New-AZRoleDefinition along with N

[2019-11-15 10:35] dcasota opened #10549 "Add-azvhd on PSCore fails with Operation is not supported on this platform"
Add-azvhd fails on PSCore.
It starts with MD5 hash is being calculated/hash calculation is completed/Detecting the empty data blocks in the local file./Detecting the empty data blocks completed. Right after that it throws the error message below.

## Steps to reproduce

[code]

## Environment data
[code]

## Module versions
[code]

## Error output
[code]

[2019-11-15 11:08] prak2419 opened #10550 "Get-AzRoleAssignment doesn't work when running with Service Principal"
Ran into the same issue today using the latest AZ.Resources module as mentioned in the following github issue,

https://github.com/Azure/azure-powershell/issues/3407

[code]
![image](https://user-images.githubusercontent.com/41781768/68939235-19715c00-07c6-11ea-9fa1-ccc8d466e069.png)

The service principal has all rights to AAD and Graph API. The issue is encountered while using a release pipeline

[2019-11-15 15:28] isra-fel commented on #10535
Hi @Francisco-Gamino . If you need help or answers from azure powershell team please let us know.

[2019-11-15 15:47] Kumoservices commented on #7551
+1 same issue today :

Terraform 0.12.12 + azurerm provider 1.36.1

recoveryservices.VaultsClient#CreateOrUpdate: Failure sending request: StatusCode=409 -- Original Error: autorest/azure: Service returned an error. Status=<nil> Code="Conflict" Message="{\"ErrorCode\":\"CreateResourceFailedDueToInvalidCache\",\"Message\":{\"Language\":\"en-US\",\"Value\":\"Create Resource Failed as name is already

[2019-11-15 17:53] pragnagopa opened #10551 "[Az.Functions] Update Linux Dedicated create flow to set linuxFxVersion to runtime|runtimeVersion"
cc @ankitkumarr @Francisco-Gamino

After ANT87 deploys, please update the create flow for linux dedicated apps.

[2019-11-17 15:36] dingmeng-xue opened #10554 "[KeyVault] Enable soft-delete by default when creation"
## Description of the new feature
Soft-delete option will be enabled by default when creation

## Proposed implementation details (optional)
This would involve syntax breaking change:
Old: `[-EnableSoftDelete]`
New: `[-DisableSoftDelete]`

[2019-11-17 15:44] dingmeng-xue opened #10555 "[KeyVault] Support for soft-delete on/off/null as a one time operation"
## Description of the new feature

Keyvault team are changing the default behavior that when creating a new keyvault, it's soft-delete is on.
We need to make sure:

- [ ] The default behavior remains the same (soft delete is off) so as to keep it compatible
- [ ] Provide a one-time operation to enable soft delete (this cannot be undone)

## Proposed implementation details (optional)

Since the req

[2019-11-17 15:46] dingmeng-xue opened #10556 "[KeyVault] Support for making purge protection on/off as a one time only operation"
## Description of the new feature
- [x] Enable purge protection on an existing vault (#11530)
- [x] Update purge protection retention days

## Proposed implementation details (optional)

[2019-11-17 15:52] dingmeng-xue opened #10557 "[KeyVault] Enable/disable RbacAuthorization during creating or updating"
## Description of the new feature
A new key vault property is added and called RbacAuthorizationEnabled. When this is set to true the key vault will use Rbac to authorize, otherwise(false or null) it still use the legacy access policy authorization.
The flag to set this including both creating new and update.

## Proposed implementation details (optional)

[2019-11-17 16:12] dingmeng-xue opened #10558 "Generate common code for keyvault"
## Description of the new feature
We need to generate common code for keyvault. The code will be used by other modules internally.

- Validate current API and ensure everything can be generated correctly
- Provide list of existing resources and methods. Filter out low priority resources and methods
- Provide basic test cases

## Proposed implementation details (optional)

[2019-11-18 02:26] VeryEarly opened #10559 "New-AzMlOpCluster/Get-AzMlOpCluster not working"
## Description
New-AzMlOpCluster/Get-AzMlOpCluster not working, seems like resource
"subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/test_group_yabo/providers/Microsoft.MachineLearningCompute/operationalizationClusters/new_cluster?api-version=2017-08-01-preview"
uri doesn't exist.

## Steps to reproduce

[code]
error will be thrown
[code]
error will be thrown
[code]

## Environme

[2019-11-18 04:17] prak2419 commented on #10550
Adding the below permissions in the AD graph resolved the issue. It is looking for "Application Permissions" rather than the "Delegated Permissions"

![image](https://user-images.githubusercontent.com/41781768/69024332-4c933580-09e8-11ea-92e9-390c5de12f83.png)

[2019-11-18 07:03] kdevesh commented on #7166
Is there any update on this issue. I am still not able to see ILB ip with the above command.
In ARM template also i am not able to retrieve it.

[2019-11-18 09:05] msJinLei opened #10560 "In some test cases TenantId is not recorded when required"
## Description
In the case  where "RequestUri" contains "TenantId", TenantId is expected to be recorded in the record mode. However, in TestManager, the field is not recorded.  As a result, the tests that using TestManager while require TenantId in Uri are going to fail.

Fix it by either use ResourcesController or add these variables recording in TestManager.

## Cost

[2019-11-18 09:12] isra-fel opened #10561 "Inconsistent on static analysis and design guideline"
## Description
Our design guideline states that there should be <= 4 positional parameters
https://github.com/Azure/azure-powershell/blob/master/documentation/development-docs/design-guidelines/parameter-best-practices.md#positional-parameters-limit
but in the static analysis, we check if there's a parameter with position >=4
https://github.com/Azure/azure-powershell/blob/master/tools/StaticAnalys

[2019-11-18 12:33] frbar commented on #8700
Hi, can we get an update? Is there a workaround besides `<failover group name>.database.windows.net`?

[2019-11-18 14:56] mathwro commented on #9566
For those running into the same problem of missing the "Allow access from azure services"

I've created a runbook script that can be used to automatically process the analysis server.
Automatically gets the IP the runbook is running from and updates the firewall accordingly.
https://github.com/mathwro/Scripts/blob/master/Azure/AllowAzure-AnalysisServer.ps1

[2019-11-18 18:28] mrblackistone opened #10564 "Set-AzOperationalInsightsSavedSearch doesn't update an existing saved search"
## Description
The Set-AzOperationalInsightsSavedSearch cmdlet fails and returns only the message 'Conflict' when attempting to update an existing object.  The version of the Az.OperationalInsights module I am using is 1.3.3.  The SavedSearchId, ResourceGroupName, WorkspaceName, Category,  DisplayName, and even the Query itself are all the same (same result is returned if a different query is pass

[2019-11-18 19:03] #10249 closed

[2019-11-18 19:05] erich-wang commented on #10080
it is available at Az.Aks 4.0.0-preview

[2019-11-18 19:05] #10080 closed

[2019-11-18 19:12] erich-wang commented on #10330
move to S162 since need context from damien

[2019-11-18 20:39] alex-frankel commented on #2278
I sincerely apologize for this longstanding issue not being addressed for such a long time. We have a PR out with the fix, so this issue should be gone in the next release of the Microsoft.Resources module. FWIW, this issue does not eseem to exist in Az CLI if you would prefer to go that route.

cc @shenglol

[2019-11-18 20:51] cormacpayne commented on #10561
@isra-fel this seems correct -- since the `Position` argument in the parameter attribute is zero-indexed, if a parameter had position "4", it would be the fifth positional parameter and would be flagged ☺️ However, I do think that the logic of this should be updated since it's totally valid for someone to mark the positions of their parameters as "1", "2", "3", "4" and there would only be four pos

[2019-11-19 01:07] isra-fel commented on #10561
Totally agreed. 1,2,3,4 was the exact case we met this time😂

[2019-11-19 04:50] KylePolansky opened #10567 "Unable to save CDN Rule Conditions"
## Description

I'm attempting to migrate from AzureRm to Az. In AzureRm, I was using the following (likely overly verbose) code to create a CDN Rule Condition, specifically for adding a custom caching rule to bypass the default cache policy for the hypothetical file `/foo.bar`:

[code]

However, in powershell Az, even with aliases, neither `PSDeliveryRuleUrlPathCondition` or `PSUrlPathConditionPa

[2019-11-19 07:12] msJinLei opened #10569 "Fix ActiveDirectroy secenario test"
## Description
Test-NewADServicePrincipalWithoutApp in ActiveDirectroy secenario test is legary now.

[code]
When role is not specified explicitly,  New-AzADServicePrincipal has a default role, which is "Contributor". And so the $role is not nul in the test case.
## Cost

[2019-11-19 07:20] msJinLei opened #10570 "FileUtilities is not correctly used"
## Description
FileUtilities has a static member DataStore, which refers to the target storage for the methods to call upon. And so to use FileUtilities,  DataStore shall be assigned before any methods called.
In solution, compute, recoveryservices and resources, FileUtilities  is not used properly.

## Cost

[2019-11-19 08:37] msJinLei commented on #9815
https://github.com/Azure/azure-powershell/pull/10393 PR merged.

[2019-11-19 08:37] #9815 closed

[2019-11-19 09:20] dolauli commented on #9884
Suggest moving the issue to next sprint since the PR is still in review.

[2019-11-19 09:20] dolauli commented on #10478
Not started yet, suggest moving to next sprint.

[2019-11-19 12:29] jn-altius opened #10572 "Get-AzBatchNodeFile does not respect the ComputeNode parameter"
## Description
Following Example 5 in the documentation here:
https://github.com/Azure/azure-powershell/blob/master/src/Batch/Batch/help/Get-AzBatchNodeFile.md
### Setup
I have 3 Pools named LargePool, MediumPool and SmallPool. LargePool does not contain any Nodes, MediumPool contains 1 dedicated node, and SmallPool contains 1 low priority node.
Both MediumPool and SmallPool have run at least once

[2019-11-19 19:55] kartikshah9 commented on #9880
@blueww can you please provide an update on this? Has the bug #10396 been fixed and merged. Can this GitHub issue be closed?

[2019-11-19 21:12] bgklein commented on #10532
This seems like a bug @matthchr is looking into it

[2019-11-19 22:49] shiwani commented on #7639
@HsiaoH ,I am facing th esame issue .How did you manage to solve this?

[2019-11-19 22:51] Francisco-Gamino opened #10573 "Need ISendAsyncStep type converted to support -AsJob. This is required in order to support the parameter -HttpPipelineAppend"
## Description
Need ISendAsyncStep type converted to support -AsJob. This is required in order to support the parameter ```-HttpPipelineAppend```
[code]

## Steps to reproduce

Run New-AzFunctionApp with -AsJob inside Pester. Here is the error I am getting:

**Email to Mark:**
I am working on implementing AsJob for New-AzFunctionApp. However, I am hitting a serialization issue, which we briefly ta

[2019-11-19 23:03] tarikguney opened #10574 "Comparing -ErrorVariable of Get-AzRedisCache call returns nothing"
## Description

When there is a resource existing for the following call, the error variable comparison to `$null` returns nothing, and I would expect it to return `False` for a comparison like `$resourceExists -eq $null`, but it literally returns nothing. This does not look right since the `$resourceExists` is of type `ArrayList`, and comparing an instance of that with `$null` should at least ret

[2019-11-19 23:23] erich-wang commented on #10534
The cmdlets that are not exported in psd1 should not be listed during get-module

[2019-11-20 01:25] Drewm3 commented on #10253
This was incorrectly closed.

[2019-11-20 01:31] Drewm3 commented on #10549
@hyonholee, could you please take a look at this issue.

[2019-11-20 01:42] gbuktenica opened #10575 "Get-AzLocation : Object reference not set to an instance of an object"
I am getting the error:
[code]
Related to https://github.com/Azure/azure-powershell/issues/9991
## Steps to reproduce
[code]
## Environment data
Tested on three environments
1.
Name                           Value
----                           -----
PSVersion                      5.1.18362.145
PSEdition                      Desktop
PSCompatibleVersions           {1.0, 2.0, 3.0, 4.0...}
BuildVersi

[2019-11-20 02:35] VeryEarly commented on #10575
Hi @gbuktenica ,

Thanks for reporting, I'll look into this issue.

[2019-11-20 02:53] blueww commented on #9880
This has not been fixed.
For current breaking change process, We need fix it in a major release, and need add warning message for it several release before the major release.
https://github.com/Azure/azure-powershell/pull/10396 is no merged, and rejected since need add warning several release before the major release.

[2019-11-20 02:54] VeryEarly commented on #10550
Hi @prak2419 ,

Thanks for the feedback and resolve.
are there anything else we can help?

[2019-11-20 03:01] VeryEarly commented on #10575
Hi @gbuktenica,

"Connect-AzSession" is not a valid powershell cmdlet, please try "Connect-AzAccount" instead.

If it still won't work please provide error output since your "Error output" section was incomplete.

[2019-11-20 03:30] gbuktenica commented on #10575
Sorry that was a typo.
Here is the debug output from the start:
PS C:\Users\glen> $DebugPreference='Continue'                                                                           PS C:\Users\glen> Connect-AzAccount                                                                                     DEBUG: 11:28:16 - ConnectAzureRmAccountCommand begin processing with ParameterSet 'UserWithSubsc

[2019-11-20 03:32] gbuktenica commented on #10575
Resolve-AzError                                                                                       DEBUG: 11:31:28 - ResolveError begin processing with ParameterSet 'AnyErrorParameterSet'.
DEBUG: 11:31:28 - using account id '00103481@uwa.edu.au'...
WARNING: Breaking changes in the cmdlet 'Resolve-AzError' :
WARNING:  - The `Resolve-Error` alias will be removed in a future release.  Please chang

[2019-11-20 05:54] VeryEarly commented on #10575
Hi @gbuktenica,

for your side:
can you double check if you have any subscription on this account you've login? If you do not have any subscription then you cannot get the location.

from our side:
yes this is a bug, you should never expect "Object reference not set to an instance of an object", some different error should be thrown in this scenario.

[2019-11-20 06:14] gbuktenica commented on #10575
Yes that is it, it looks like my rights to a subscription have been lost.
[code]
Also true, a better error message is desirable.

[2019-11-20 06:16] VeryEarly commented on #10575
I'm working on the error message bug, should be a simple fix. Meanwhile, if you have problem with your subscription, you can raise another ticket to track.

[2019-11-20 06:16] andyKalman opened #10577 "New-AzSubscription: Operation returned an invalid status code 'Unauthorized'"
## Description
Not sure if this belongs here or with the azdo pipelines group but since its a preview still I thought I'd start here. I am trying to use the programmatic subscription creation in an Azure DevOps pipeline but am getting the error _Operation returned an invalid status code 'Unauthorized'_. I'll do my best to fill in all areas of the template with the understanding its in a pipeline.

[2019-11-20 07:55] dcaro commented on #8739
@sachidanand we have published couple of weeks ago a first preview of the Az.Functions module for PowerShell. Please give it a try and let us know what you think.
`Install-Module -Name Az.Functions -AllowPrerelease`

[2019-11-20 08:19] VeryEarly commented on #7639
Hi @shiwani ,

since this issue was already closed, can you raise a new issue include all the required information and a "triage" label?

[2019-11-20 09:57] VeryEarly commented on #10575
fixed in pr
#10580

[2019-11-20 15:37] helloyesthisisdave opened #10581 "Add-AzIoTDeviceProvisioningServiceLinkedHub allows creation of duplicate links"
## Description
Using the Add-AzIoTDeviceProvisioningServiceLinkedHub cmdlet, it is possible to create the same link twice.  These are both visible within the Azure Portal and via Powershell.  Trying to create a third identical link throws a `bad request` error.

View in the Azure Portal:
https://i.imgur.com/Fj4z5fg.png

## Steps to reproduce

[code]

## Environment data

[code]

## Module versions

[2019-11-20 16:01] andyKalman commented on #10577
Well, I feel quite silly. The service principal that I used for the service connection in azdo was not the one that I granted the role assignment to in order to create subscriptions. I mistakenly let azdo create the service principal for me thinking that the `-OwnerObjectID` somehow made use of the role assignment I created.

[2019-11-20 16:01] #10577 closed

[2019-11-20 16:52] bgklein commented on #10572
Are you able to share either the requestID or the responses (feel free to redact sensitive information)? That should aide in debugging whether its an issue in the sample or the SDK. Did a quick look over the cmdlet and looked to be specifying poolId parameter correctly, but open to looking further with additional information.

[2019-11-20 17:00] jn-altius commented on #10572
Hi, which requestID?  I can't see a specification for that in Get-AzBatchNodeFile :-?

[2019-11-20 17:41] bgklein commented on #10572
Hmm, looks like the powershell cmdlets don't have it in the response. You can get it from the network traces if you have  a tool like Fiddler on your machine.

[2019-11-20 17:55] badbob001 opened #10583 "Get-AzureRmRecoveryServicesBackupContainer has empty resourcegroupname output"
## Description
The output of get-AzureRmRecoveryServicesBackupContainer is empty for the resourcegroupname property. azurerm module used is 6.13.1.

## Steps to reproduce

[code]

## Module versions

[code]

## Debug output

[code]

## Error output

[code]

[2019-11-20 18:12] heaths opened #10584 "DateTime attributes for Key Vault resources display UTC"
## Description

`Get-AzKeyVaultSecret` and other cmdlets returning Key Vault resources return raw `DateTime` properties that are in UTC. This differs from the az CLI that converts to local time.

## Steps to reproduce

1. Create or use a Key Vault in which you have secret/set access.
2. Run the following:
[code]

Notice the Created and Updated times. These are UTC, while my local system time was 1

[2019-11-20 20:54] jschwanz commented on #10326
As far as I know the "stable" version of that module is not Core compatible. I've been successfully using this one (https://www.poshtestgallery.com/packages/AzureAD.Standard.Preview/0.0.0.10) for a while now.

[2019-11-20 23:29] jn-altius commented on #10572
Hiya, what happens next?  Are there plans to get these values returned by the cmdlet?

[2019-11-20 23:38] matthchr commented on #10572
Hey @jn-altius - I will do some testing and review of the code and get back to you.

Do you know if this issue reproduces if you just do `Get-AzBatchNodeFile` a single time (i.e. you're not calling it in a for-loop?) Or does it only happen to you in the context of the loop(s) you shared?

[2019-11-20 23:55] kenieva commented on #3336
We have full support of "-paramaters" today in more definitions and assignment PS commands.

[2019-11-20 23:55] #3336 closed

[2019-11-21 02:01] VeryEarly commented on #10583
Hi @badbob001 ,

Can you try the newest Az 3.0 instead of AzureRM?

[2019-11-21 02:14] VeryEarly commented on #9949
Hi @MarvTheRobot ,

Can you open a new issue with detail? We will look into it.

[2019-11-21 07:58] VeryEarly commented on #10581
Hi @anusapan ,

Saw your name in the history of "AddAzureRmIotDeviceProvisioningServiceLinkedHub.cs", thought you could be the right person for this issue.

Because the request sent from azure-powershell client seems like consistent, this behavior looks more like was happened on server side, could you please take a look?

[2019-11-21 10:16] vigneshrams opened #10587 "New-AzADServicePrincipal : Object reference not set to an instance of an object."
## Description
I am trying to create a Service Principal Using New-AzADServicePrincipal. But I get error as "Object reference not set to an instance of an object."

DEBUG: 3:40:23 PM - NewAzureADServicePrincipalCommand begin processing with ParameterSet 'SimpleParameterSet'.
DEBUG: 3:40:23 PM - using account id 'kameshwaran.ramachandran@vembu.com'...
DEBUG: Caught exception, type: System.NullRefer

[2019-11-21 11:05] bergmeister opened #10588 "-Confirm parameter value not respected by Remove-AzResourceGroup"
#10471  Description

When passing in `-Confirm:$false` it should override confirmation prompts so that one does not need to the use the `-Force` parameter which is very overloaded and dangerous. However, it still prompts and I have to use the `-Force` parameter

## Steps to reproduce

[code]

Example in CloudShell:
![image](https://user-images.githubusercontent.com/9250262/69332339-5fa73f00-0c4e-1

[2019-11-21 11:17] VeryEarly commented on #10587
Hi @vigneshrams ,

This issue was fixed already, please checkout the upcoming release on 11/26

[2019-11-21 15:48] jn-altius commented on #10572
I tested Get-AzBatchNodeFile outside of the loop passing in "SmallPool" as the PoolId and this time it only returned values for the SmallPool.

But inside the loop it returned the files for all the pools.

[2019-11-21 22:32] KarenHammons commented on #9660
@Nilambari - can we get an update please?

[2019-11-21 22:38] Nilambari commented on #9660
@ritwikbasu is going to fix it.

[2019-11-21 22:43] Nilambari commented on #823
Taking a look.

[2019-11-21 22:49] Nilambari commented on #1918
Thanks @EvgenyAgafonchikov Yes it is mandatory to have VpnClientAddressPool to be able to add any p2s specific parameters. We do no fail the call as customer can create gw for site to site connectivity as well. I can fix in PS to show proper error.

[2019-11-21 22:53] Nilambari commented on #3823
Is it across clouds? Public cloud(West Europe) and Mooncake(China East)? We dnt support that. @esnijder If its from public cloud, let me know if it still reproducible and provide timestamp for latest repro.

[2019-11-21 22:53] daveneeley commented on #8898
@Drewm3 the docs are not up to date as of pwsh 6.2.3.

[2019-11-21 22:56] Nilambari commented on #4714
@SlothCroissant still facing this issue? If yes, let me know the timestamp when you tried latest.

[2019-11-21 22:59] Nilambari commented on #5214
Will take a look at Brooklyn related command lets.

[2019-11-21 23:02] Nilambari commented on #6322
Will take a look at it.

[2019-11-21 23:30] darrellenns commented on #10203
I am getting similar errors, but the status code changes semi-randomly. So far I've seen 'BadRequest", '422', and 'UnprocessableEntity'.

Local powershell session:
[code]

Cloud shell:
[code]

[2019-11-22 01:30] anusapan commented on #10581
Acknowledge.
Let me check on this.

[2019-11-22 03:17] Jayes90 commented on #7602
Hi, so what is the solution or workaround for this?

[2019-11-22 03:26] VeryEarly commented on #7602
Hi @Jayes90 ,

This issue was already closed, to have a better track of your problem, please open another issue with detailed provided.

You can also link this one to your new opened issue.
Thanks

[2019-11-22 03:59] jschwanz commented on #10496
+1 getting a similar issue with this

[2019-11-22 09:55] robliv opened #10592 "Implement functionality of New-AzureADUserAppRoleAssignment in Az module"
It seems like it is not possible to assign users to AzureAD enterprise apps using Az module.

This was possible with AzureAD module using 'New-AzureADUserAppRoleAssignment'
The functionality is important to be able to automate the assignment process in current PS Core versions.

[2019-11-22 14:13] kilasuit opened #10593 "Please improve output from Az Policy commands"
## Description
The items returned from Azure Policy commands are horrific to work with because of how the underlying service has been implemented with a name of a policy not matching the actual name you'd see in the portal.

As per the below you can see that there is a `Name` which is really an ID and the `displayName` is a sub property of Properties that really should be properly exposed at the t

[2019-11-22 15:51] jschwanz commented on #10496
I've also confirmed it is broken with 1.2.4, but works with 1.2.3.

[2019-11-22 18:08] akshaykg commented on #9547
Hey Filizt, the feature still seems to be missing. if this is already done can you kindly share details and close this thread if not can you share any timelines for the fix?

[2019-11-22 19:12] filizt commented on #9547
Unfortunately, this feature has been cut for the time. Please use Portal or the direct API call to delete blueprint versions.

[2019-11-22 21:40] MECHANDR commented on #10574
@VeryEarly @tarikguney
 Can you please provide cmdlet which exhibits intended behavior of returning null for ErrorVariable.

[2019-11-23 10:15] dcasota commented on #10549
On PSCore I'd tried to use add-azvhd to upload a .vhd'fied iso, as a prerequisite to attach it to a VM and boot from the .vhd'fied bootable ISO (non Windows-Image, some sort of specialized image).

On PSCore 6.0.5 and a "mixture of Azure Logins" using Azure CLI and Az module ```connect-azaccount``` it ended up with the error message above. I've attached the tech findings script file. [upload-AzISO

[2019-11-23 10:15] #10549 closed

[2019-11-23 20:01] stephenfrichardson opened #10595 "Issue with context after running new-azsubscription"
Hi,

Our build servers are Windows 2016 Server and are installed as per this script:

install-packageprovider -name NuGet -MinimumVersion 2.8.5.201 -force
Install-Module -Name PowerShellGet -RequiredVersion 2.0.1 -Force
Install-Module -Name Az -RequiredVersion 3.0.0 -Force
Install-Module -Name AzureAD -Force
Enable-AzureRmAlias -Scope LocalMachine
Install-Module -Name Az.Subscription -RequiredVers

[2019-11-23 20:02] stephenfrichardson commented on #10595
We have the same issue with  0.7.1-preview too

[2019-11-24 05:56] russellds2w commented on #9547
I understand that the feature has been cut for the time being, but why did you close the issue? The issue is still valid and will hopefully be addressed in the future.

[2019-11-24 06:49] ramaganesan-rg commented on #10149
Team is investigating this. will share updates.  thanks for your patience.

[2019-11-25 00:47] peterennis commented on #9949
I just ran into this error and then
VS Code prompted for an update to PS.
Result after update:

[code]

I still had the error and needed to reinstall/update Az.

[code]

After this it worked again.

[2019-11-25 02:11] VeryEarly commented on #9949
Hi @peterennis ,

Thanks for the feedback, if you are still blocked with related problem, please open a new issue and we will look into it.

[2019-11-25 03:21] filizt commented on #9547
Apologies for closing the issue. Reopened it.

[2019-11-25 06:48] VeryEarly commented on #10595
Hi @stephenfrichardson ,

I tried these steps you provided but failed to reproduce the same error, looks like it was specific to your tenant or subscription, can you provide more detail?

[2019-11-25 07:47] pvrk commented on #10546
@siddharth7 : Can you please check this?

[2019-11-25 07:49] pvrk commented on #10480
@siddharth7 : Can you please look into this?

[2019-11-25 07:51] pvrk commented on #10166
Please refer to documentation here:

https://docs.microsoft.com/azure/backup/backup-client-automation#registering-using-the-ps-az-module

[2019-11-25 08:06] pvrk commented on #9533
@viverm : Can you please take a look?

[2019-11-25 08:16] pvrk commented on #8336
Unfortunately, due to underlying platform limitations, Az module requires a certificate whereas AzureRM does not. While we are pursuing this PS team, request you to kindly take a look at documentation where we provided an example and re-try (I understand the use case is in Site-recovery but this example is in Backup documentation)

https://docs.microsoft.com/azure/backup/backup-client-automation#r

[2019-11-25 08:17] stephenfrichardson commented on #10595
Hi,  we have an enterprise agreement account and the behaviour is the same across all engineering, test and production tenants.

We recently switched to using the az modules, there are no problems using the new-azurermsubscription command on the azurerm modules.

I can do a screen sharing demo if you need more information .

[2019-11-25 08:25] pvrk commented on #10457
Also, we have fixed in the bug in the service and the fix is scheduled to be completed by Nov 29th. With that fix, even if you are not updating to latest PS version, this error should be fixed.

P.S: We generally recommend you to update with latest PS version, always.

[2019-11-25 08:31] pvrk commented on #10521
@peppekerstens: Thanks for the clarity you provided with the statement:

"I just need to be able to provide a status report; same as the Azure portal GUI is able to produce".

I need more clarification on the command themselves. You gave the command for getting containers but the API listed is protecteditems (get-AzRecoveryServicesBackupItems). So, are you looking for retrieval in both? or for jus

[2019-11-25 09:11] santo2 commented on #9948
Hi guys, maybe not completely the same, but I'm trying to add an appRole to an app registration using Powershell core 6, (Set-AzureADApplication -ObjectId $app.ObjectId -AppRoles $appRoles)

The console cannot find the type Microsoft.Open.AzureAD.Model.AppRole, I can also not find any documentation on how to do that?
Installed az module 3.0.0 and AzureAD 2.0.2.61

Seems like you are already past t

[2019-11-25 09:17] isra-fel opened #10596 "OOB release in S162"
## Description
Az.Blueprint
Az.Resavation
Az.RecoveryServices
## Cost

[2019-11-25 09:54] pvrk commented on #10521
@peppekerstens: For containers protected using Microsoft Azure Backup agent at least, you can get unblocked by running the command with "-ContainerType Windows"

[code]

[2019-11-25 10:09] pvrk commented on #7533
@markcowl: A gentle reminder. Any update on this? Actually this is causing a lot of pain for our PS users who are not shifting to Az module but remaining on AzureRM module due to this issue. Can we discuss on how to solve this once and for all?

[2019-11-25 10:11] pvrk commented on #10521
@peppekerstens: Apologize. I have gone through the details once again. Looks like you are good with container but require backup item specifically. We acknowledge the request. Please give me few days to update the thread with the plan.

[2019-11-25 10:17] saiganeshdk commented on #6223
Hi,

Also facing the same issue. Its happening with W2012 R2 DC machine also.

[2019-11-25 10:30] fluffydice commented on #2414
Still seems to be an issue as I am unable to discover parameters located in JSON file when using -templateURI parameter.  Is the only workaround to use the templatefile parameter?

[2019-11-25 11:10] siddharth7 commented on #10546
@peppekerstens I believe it has to do something with daylight saving time settings as the dates being shown in backup time column are on 2 different sides of 27th October

[2019-11-25 11:11] siddharth7 commented on #10480
@Wand3rvogel The SDK currently doesn't provide the capability to fetch next set of vaults. @pvrk Can you check with the SDK team about this being added from their end?

[2019-11-25 11:34] siddharth7 commented on #10133
@placidseven This is a service side error. Please reach out to support if it is still persistent. @pvrk please add any relevant information.

[2019-11-25 11:40] siddharth7 commented on #9255
@sean-nixon @horpek The `-VaultID` parameter is not being removed, we will update the error message in the subsequent release

[2019-11-25 11:41] siddharth7 commented on #7534
@MiYanni please assign this to someone from the azure site recovery team. They would have more context on it as they own this command as well as the changes.

[2019-11-25 11:45] #5331 closed

[2019-11-25 12:13] pvrk commented on #10133
Apologies for the delay, @placidseven. We couldn't figure out the root cause with the data that is given. It would really help if you can file a support case if you are still getting this error.

[2019-11-25 13:33] ecurti commented on #9533
Same problem... any solution? Thanks.

[2019-11-25 13:37] ThejaChoudary commented on #10482
Please try out with the latest versions as we are able to do it from our end.

[2019-11-25 13:46] mstair opened #10598 "Set-AzureRmNetworkWatcherConfigFlowLog does not support disabling Traffic Analytics"
## Description
Unable to disable traffic analytics for a Network Security Group that has it enabled via Set-AzureRmNetworkWatcherConfigFlowLog. This is being executed from an Automation Account runbook, but I replicated locally on Mac workstation to capture debug information.

EnableTrafficAnalytics is a switch parameter for Set-AzureRmNetworkWatcherConfigFlowLog, so cannot set to false. Even atte

[2019-11-25 14:38] o-l-a-v opened #10599 "Connect-AzAccount session persist when closing PowerShell, even over multiple days."
## Description
Session/ token persist when closing the PowerShell session. Even days after, if you haven't run Disconnect-AzureAD until it stops outputing objects, you're still logged in and can do stuff with the Az module. No Microsoft PowerShell module has worked like this previously, is it by design?

So, summary:
* Az sessions persist when closing the PowerShell terminal, unlike how AzureAD an

[2019-11-25 15:03] humer commented on #10517
same here, but with a node app.
please add the option to set the stack using the pwsh.
thank you,

[2019-11-25 15:52] erich-wang commented on #10588
@bergmeister , this cmdlet is implemented with both ShouldContinue and ShouldProcess, -Confirm:$false can only override ShouldProcess, you have to specify -Force to override ShouldContinue.
Please let us know if any comment, thanks.

[2019-11-25 16:09] amerghazal opened #10601 "Get-AzStorageAccount hangs unpredictably"
## Description

When making the `Get-AzStorageAccount` on both 2.6.0 and 3.0, we've found that unpredictably (once every ~100-150 runs) it hangs. By hangs, I mean the Powershell terminal becomes unusable and the process cannot be Ctrl-C'd.

## Steps to reproduce

[code]

## Environment data

[code]

## Module versions

[code]

## Debug output

[code]

## Error output

[code]

[2019-11-25 17:04] dapontin opened #10602 "New-AzBatchPool does not create pool with prefetched private container image"
## Description
I am attempting to create a Azure Batch Pool with a custom container configuration pointing to a docker image store in a Azure Container Registry. When the cmdlet **'New-AzureBatchPool**' is run, the command completes successfully and the batch pool is created. However, the batch pool **does not** have the correct virtual machine configuration as there is no container registry or co

[2019-11-25 18:50] mentat9 commented on #10593
Sorry that the naming is confusing. For policy objects, the "Name" property displayed by the portal is actually the "displayName" property as implemented by the service. The fields provided by the Powershell cmdlets and all other SDKs match what is actually implemented by the service. The portal chose to present displayName instead of name. We definitely understand this is confusing at first, but

[2019-11-25 18:50] #10593 closed

[2019-11-25 21:01] vinyar commented on #8898
@Drewm3 / @cormacpayne - docs are not updated, and CLI does not throw errors.
This issue is not resolved.

[2019-11-25 21:28] IAlamElexio commented on #10482
I am able to still replicate the error, using the sample code posted in the issue.

It is not limited to my workstation. I am able to replicate the error on Microsoft-hosted Azure DevOps agents as well.

[2019-11-25 22:23] vinyar commented on #8898
@Drewm3  - https://docs.microsoft.com/en-us/powershell/module/az.compute/add-azvmsshpublickey?view=azps-3.0.0 claims otherwise.

Please provide an update on expected behavior.

[2019-11-25 22:43] panchagnula commented on #10482
@IAlamElexio thanks for the quick response, can you confirm the powershell version you are using 'Get-InstalledModule ' i believe Theja used the latest version to verify & wasn't able to repro. Thank you.

[2019-11-25 23:07] tarikguney commented on #10574
@MECHANDR For instance, the following Cmdlet returns `$null` when there is no error occurred:
[code]

[2019-11-25 23:47] MECHANDR commented on #10574
@tarikguney I don't see any difference in the ErrorVariable returned for Get-AzApplicationInsights. It has the same behavior as Get-AzRedisCache cmdlet.

![image](https://user-images.githubusercontent.com/30642185/69587572-c1dba900-0f9a-11ea-839f-306e79095004.png)

[2019-11-26 00:14] tarikguney commented on #10574
Why does the error variable returns nothing when compared to `$null` even though it is clearly not `null`?

[2019-11-26 00:24] jmarstonsl commented on #8531
The **Orchestrator.Sandbox.exe.config** was removed when the agent was automatically updated. Here is a quick PowerShell script you can run on Hybrid runbook workers to re-add the workaround.

[code]

[2019-11-26 00:27] MECHANDR commented on #10574
Im not sure why error variable doesn't return true or false when comparing with `$null`. I think it might be something related comparison of ArrayList type elements.

@VeryEarly, Do you know any reasons for this comparison behavior? Also, I see this behavior is not limited to Redis cmdlets so updating the tags.

[2019-11-26 00:28] Francisco-Gamino opened #10604 "[Az.Functions] Need a cmdlet to install the Core Tools"
## Description
In order to do local development for functions, the customer needs the Az.Functions module + Core Tools. Need a cmdlet that installs the Core Tools.

[2019-11-26 05:24] VeryEarly commented on #9948
Hi @santo2 ,

could you please open a new issue since this one was closed already?

[2019-11-26 07:28] tarikguney commented on #10574
I think I got my answer from `help about_comparison_operators`

[2019-11-26 07:30] #10574 closed

[2019-11-26 07:45] VeryEarly commented on #10602
Hi @dapontin ,

since you already have Az.Batch-2.0.1, would you like to try "New-AzBatchPool" instead of azureRM

[2019-11-26 07:48] sscchh2001 opened #10607 "Enable-AzContextAutosave -Scope Process set mode as CurrentUser"
## Description
Enable-AzContextAutosave -Scope Process set mode as CurrentUser

## Steps to reproduce

[code]

## Environment data

[code]

## Module versions

[code]

## Debug output

[code]

## Error output

[code]

[2019-11-26 08:36] blueww commented on #10601
@amerghazal

I have tried to repro the issue with Az.Storage 1.9.0, but not repro.

I use Powershell 5.1 (5.1.18362.145), and run the Get-AzStorageAccount 100, 200, 1000 times , for several rounds, but not repro. Powershell always can finish the following script successfully.
`0..1000 | % { Write-Host "Iteration $_"; Get-AzStorageAccount -ResourceGroupName $rgname -StorageAccountName $accountName

[2019-11-26 09:06] dapontin commented on #10602
@VeryEarly Thanks for pointing my mistake out! I was actually using the Az module, however for some reason I mentioned the AzureRM modules in the description/title. I have now edited this.

[2019-11-26 09:30] santo2 commented on #9948
Thanks for the comment, I opened a ticket via the documentation portal, to find the correct information

[2019-11-26 16:20] jmarstonsl commented on #8531
Is there another issue open for the Hybrid Worker?

[2019-11-26 17:56] matthchr commented on #10572
I've looked in to this. I believe that the issue is not with the cmdlets in question, but with Powershell's behavior when objects are pipelined.

Specifically, this call you're making
`Get-AzBatchNodeFile -ComputeNodeId $node.Id -PoolId $pool.Id -BatchContext $batchContext -Filter "startswith(name, '$folderFilter')" -Recursive` does not actually _print_ the objects. It just writes them to Powershe

[2019-11-26 17:57] matthchr commented on #10572
Going to close this as I think my response above should be sufficient - if it's not you can reopen it.

[2019-11-26 17:57] #10572 closed

[2019-11-26 17:58] matthchr commented on #10514
This is a duplicate of #10572

[2019-11-26 17:58] #10514 closed

[2019-11-26 18:43] chinchalupa commented on #10601
@blueww

We were able to further isolate the issue and explain why you may not be seeing this issue. The problem occurs only for storage accounts in the 'CentralUS' region. We tested our script above on a storage account created in 'EastUS2' and had no issue. However, if the storage account was located in 'CentralUS' (with same region, resource group, subscription, tenant, etc.), we would observe

[2019-11-26 19:14] jn-altius commented on #10572
Hmmmmm, that doesn't really solve my problem.  I was calling Get-AzBatchNodeFile to populate a variable, and then running further logic on that variable.  Would Out-Host help with that?

However it's a moot point now because I have given up on Powershell for this task.  I have a separate ticket open for the missing file properties, and the combination of the two issues led me to conclude that the

[2019-11-26 20:43] rohinkoul commented on #8402
@karravi-msft any updates on this?

[2019-11-26 21:57] JohnDelisle commented on #10574
I have the same issue with Get-AzAppServicePlan.  If I execute that against a non-existent target, rather than setting my ErrorVariable with something like "can't find that", it sets to an empty ArrayList.

This makes testing for the presence of an App Service Plan inconsistent with testing for the presence of other Azure resource types, like e.g. VMs, where "Get-AzVm" will set my ErrorVariable wh

[2019-11-26 22:34] tarikguney commented on #10574
@JohnDelisle The solution for such comparison is to swap the places of the operands. If you look at my previous post, PowerShell documentation explains why comparing an array list to `$null` works differently than how we expect from a regular programming language.

The solution is: `$null -eq $errorVariable` rather than `$errorVariable -eq `$null`. They look similar but they are different. The for

[2019-11-27 01:24] matthchr commented on #10532
Hey @jn-altius I haven't been able to reproduce this behavior:

Here's my take at your repro code:
[code]

I've confirmed my enviornment and yours are pretty similar (slightly different versions of Windows but I don't think that's likely to matter).

I'm wondering if the Powershell SDK is actually fine and something is going on service side. Could you possibly reproduce this again and share the na

[2019-11-27 01:46] dingmeng-xue commented on #10544
We will priority this feature request soon.

[2019-11-27 03:38] dingmeng-xue opened #10613 "The mapping between cmdlet and service in index.json is incorrect"
DataBoxEdge cmdlets are mapped to DataBox incorrectly. As the result, doc team generates wrong mapping file and table of content.

incorrect content in index.json
[code]

Potential problem should come from https://github.com/Azure/azure-powershell/blob/master/tools/CreateMappings_rules.json
[code]
Databox and DataBoxEdge drop into the same bucket.

[2019-11-27 03:51] VeryEarly commented on #10599
Hi @o-l-a-v ,

the "no expiration" login state and the "one for one" disconnect are by design.

[2019-11-27 04:15] gesturer121 commented on #2617
I too am facing the same issue .Can someone from MS take the accountability and fix this.We understand that we need to migrate to Az module but this has to be smooth.You just cannot stop support for AzureRM like that.

[2019-11-27 04:47] gesturer121 opened #10614 "webapp: Restore-AzWebAppBackup cmdlet used to restore site to corresponding slots fails with error:Long running task failed with status 'Internal Server Error'"
## Description

While trying to deploy to our Azure App services using Azure DevOps Hosted Agent, we are successfully able to backup our services using the Az module commands but while trying to restore the backups to the slots, then it fails every now and then stating that Long running task failed with error 'Internal Server error' .

Command that is being used:

Restore-AzWebAppBackup -Name $Web

[2019-11-27 05:46] panchagnula commented on #2617
@thejachowdary can you check using the equivalent az command you get the same error? if so then work on a fix & work with the neceesary teams to understand what it takes to port the fix to AzureRM module. Thanks!

[2019-11-27 06:25] govindagoudpatil opened #10615 "webapp:Adding New App setting key/value without pulling down existed one."
In order to add extra app setting to web app via powershell is there any way to added app setting without pulling down existed app setting and adding new one then updating back to web app.

I want to simply add new one as we do in portal via powershell.

Is there any other than below

 $webapp=Get-AzWebApp -ResourceGroupName $resourceGroupName  -Name $appName
 $appSettings=$webapp.SiteConfig.AppSe

[2019-11-27 06:28] VeryEarly commented on #10614
forwarded to website team

[2019-11-27 06:31] VeryEarly commented on #10615
forwarded to websites team

[2019-11-27 07:08] shiwani commented on #7639
@HsiaoH , I was able to fix this issue as in creating Namespace via C# I as passing" _" .It got solved once I removed it. Posting it here if someone can find it helpful.

[2019-11-27 07:26] VeryEarly commented on #10607
Hi @sscchh2001 ,

looks like set mode to "CurrentUser" is the default behavior, what is your expectation?

[2019-11-27 07:31] iceyokuna opened #10616 "Get Auto shutdown time from Az command"
## Description of the new feature
Get-AzVm command that can list other VM properties eg.AutoShutdown time, VM current status (running or stop).

## Proposed implementation details (optional)
I need to check VM status and Auto shutdown time because i can not remediate some policy that required VM to be running. So that, i can calculate the time that i should remediate those VM.

If there is an exis

[2019-11-27 07:38] dolauli commented on #10478
[hanadocs.zip](https://github.com/Azure/azure-powershell/files/3895649/hanadocs.zip)

[2019-11-27 07:39] dolauli commented on #10478
Above zip file contains the cmdlets of Hana for review.

[2019-11-27 07:40] VeryEarly commented on #10616
forwarded to compute - vm team

[2019-11-27 07:41] sscchh2001 commented on #10607
Hi @VeryEarly ,
My expectation is that "Enable-AzContextAutosave -Scope Process" parameter could set the mode to "Process" instead of "CurrentUser", or else there would be no meaning for the parameter "Process".

[2019-11-27 08:36] dolauli commented on #10478
[hanadocs.zip](https://github.com/Azure/azure-powershell/files/3895862/hanadocs.zip)

[2019-11-27 08:57] blueww commented on #10601
@chinchalupa
I have created an account in 'CentralUS' region, and rerun Get-AzStorageAccount 1000 times on it, still not repro the issue.
See the test log: [1000.txt](https://github.com/Azure/azure-powershell/files/3895924/1000.txt)

Besides that, if you really concern the Get-AzStorageAccount can't be be Ctrl-C'd in this scenario, you might can try to run the cmdlet asynchronously.

[code]

[2019-11-27 09:26] VeryEarly commented on #10607
Hi @sscchh2001 ,

You can open another powershell session and run
[code]
you were suppose to get:
Mode             : Process
ContextDirectory : None
ContextFile      : None
CacheDirectory   : None
CacheFile        : None
Settings         : {}

and also under "C:\Users\<username>\.Azure\AzureRmContextSettings.json" you can find the same information.

About the output message, I'll discuss with team

[2019-11-27 09:48] sscchh2001 commented on #10607
Hi @VeryEarly ,
Thank you, I have verified that "Enable-AzContextAutosave -Scope Process" only affect current process.
It would be great if you could improve the output in this sceanrio so people don't get confused.
Thanks.

[2019-11-27 09:50] VeryEarly commented on #10607
Sure I'll keep this issue open and discuss with team, thanks for the feedback.

[2019-11-27 10:27] VeryEarly commented on #10595
after discussion, Az.Subscription-0.7.1-preview works, close this issue for now.

[2019-11-27 10:27] #10595 closed

[2019-11-27 11:30] o-l-a-v commented on #10599
Ait, thanks for the info. While I can see why this is useful, I think the potential dangers outweights the benefits. It's easy for unexperienced users or just people not knowing about this design desition (me until now), to do stuff on the wrong tenant and/ or subscription. Maybe one should consider to hide this functionality behind some switches or something?

[2019-11-27 11:33] VeryEarly commented on #10599
Hi @o-l-a-v ,

Thanks for the suggestion, you can create another issue with label "feature request" and detail provided, we will have a discussion with our PM to see if and how we can do it.

will close this issue for now.

[2019-11-27 11:38] VeryEarly commented on #10599
Sorry, delete incorrect context, you can try "Disable-AzContextAutosave" or "Enable-AzContextAutoSave -Scope Progress" to disable this feature or apply it to current powershell session only.

[2019-11-27 11:39] dingmeng-xue commented on #10526
In AAD, it is property accountEnabled. Please wait service team to confirm that.

[2019-11-27 11:41] dingmeng-xue commented on #10503
@deepaksahu-perficient, is it Azure PowerShell related? I didn't get your point.

[2019-11-27 11:47] deepaksahu-perficient commented on #10503
@dingmeng-xue: Thanks , But the issue has been fixed now, just by the prefixing ~
like
{
"name": "WEBSITE_NODE_DEFAULT_VERSION",
"value": "~10"
}

[2019-11-27 11:49] dingmeng-xue commented on #10503
That's great. I will close this issue now.

[2019-11-27 11:49] #10503 closed

[2019-11-27 11:51] Sujata-sampa opened #10618 "New-AzResourceLock"
## Description

Not able to create lock on the resources through powershell. Tried from both Powershell Ise and Azure Shell.

## Steps to reproduce

[code]

## Environment data

[code]

## Module versions

[code]
PS C:\Users\Administrator> Get-Module  -ListAvailable

    Directory: C:\Program Files\WindowsPowerShell\Modules

ModuleType Version    Name                                ExportedCommand

[2019-11-27 17:54] radwiv commented on #10150
This should be fixed now. Can you please recheck and confirm.

[2019-11-27 20:12] eladperets commented on #7650
This PS command is deprecated. Tested with the new version (Get-AzPolicyDefinition) and it seemed to work

[2019-11-27 20:12] #7650 closed

[2019-11-27 22:45] tcsdmaic commented on #10618
What exactly is the command you are trying to use?
I can set a lock on the resource group like this and it works for me:
New-AzResourceLock -LockName "LockGroup" -LockLevel CanNotDelete -ResourceGroupName "[my RG]" -Force
(The "-Force" will set the lock without requiring a confirmation)

[2019-11-27 22:49] oising opened #10619 "New-AzDeploymentWhatIf should be -WhatIf switch, not new cmdlet"
Whomever suggested "WhatIf" behaviour for New-AzDeployment most likely did not envisage a new cmdlet, but rather the addition of the far more idiomatic -WhatIf switch to the existing cmdlet where 99% of PowerShell users would expect to find it.

TL;DR

Surface this as a -WhatIf switch and parameterset on existing New-AzDeployment. Do not create a new cmdlet.

UPDATE: Alternatively, as @bgelens has

[2019-11-27 22:56] tcsdmaic opened #10620 "Turn on Application Logging for Web Apps"
## Description of the new feature

Is there no way to turn on Application Logging (either Filesystem or Blob) for a Web App using Az.Websites??

I looked in the list [here,](https://docs.microsoft.com/en-us/powershell/module/az.websites/?view=azps-3.1.0) but don't see anything that looks like that's what it's for.

I did find `Enable-AzureWebsiteApplicationDiagnostic`, but it looks like this is fo

[2019-11-27 23:21] vexx32 commented on #10619
Yes please! Following the established PowerShell patterns and practices from base PowerShell modules and the wider community will make for far less mistakes, especially where implementing `ShouldProcess` support comes in.

And just to be clear -- this should _not_ be a custom `-WhatIf` switch; the automatic switch that comes with `[Cmdlet(SupportsShouldProcess = true)]` or `[CmdletBinding(Supports

[2019-11-27 23:33] ahmedelnably opened #10621 "[Az.Functions] Add the ability to create v3 function apps"
## Description of the new feature
Add the ability to choose a host version, with a default of ~2 (to be changed in the future to ~3)

## Proposed implementation details (optional)
Add a parameter called `version` that would accept an integer - supported values 1, 2, 3

[2019-11-28 00:45] kenieva commented on #7824
Hi,

Thanks for your input. We understand the struggle there is in finding aliases and how that affects the experience in authoring custom policies. This is a continued effort on our part. We actually newly released a VS Code extension that helps you look up aliases for resources by hovering over properties. This is just a first step as continue to solve this issue. If there is a particular featur

[2019-11-28 00:45] #7824 closed

[2019-11-28 01:26] VeryEarly commented on #10618
Hi @Sujata-sampa ,

Can provide more detail how to reproduce your issue?

[2019-11-28 01:34] dcaro commented on #10340
Hello @chaami , I'm sorry that you have been waiting on this issue for so long.
Just to make sure that I understand your issue well, you are trying to create an Azure Web app using PowerShell? Have you had a look at the tutorials here: https://docs.microsoft.com/en-us/azure/app-service/samples-powershell
Please let me know.

[2019-11-28 01:37] VeryEarly commented on #10620
forwarded to Websites team

[2019-11-28 01:38] dcaro commented on #10365
@DanteNahuel  I'm sorry that it took so long for me to get back to you on this.
Have you had a look at the following implementation that we are considering?
https://github.com/Azure/azure-powershell/blob/generation/documentation/RFC/RFC0002-SubscriptionList-in-Get.md
If this is something that you are interested, please let us know or make a comments on the RFC.
Thanks

[2019-11-28 01:42] dcaro commented on #10316
@buchs thanks for submitting this inconsistency between the two tools. Our strategy is to reduce the differences between them and this falls in this category.

[2019-11-28 01:43] VeryEarly commented on #10621
Hi @ahmedelnably ,

can you specify which cmdlet should this new parameter be added to?

[2019-11-28 01:56] dcaro commented on #10316
@ravbhatnagar, @ Tiano2017  can you please have a look?

[2019-11-28 02:08] billkindle commented on #10619
Gonna toss in my opinion here as well. Not using existing patterns and practices sets a bad precedent. What happens here is we are tossing out a decade of existing scripting knowledge that many a sysadmin like myself know by now but may not have begun using Azure just yet. I for one expect some consistency with my parameter sets, and -WhatIf is one I expect to always be there.

Besides, if someone

[2019-11-28 03:33] VeryEarly commented on #10619
Hi thanks for the feedback, we will take a look into this request.

[2019-11-28 03:37] MSNina123456 opened #10622 "cmdlet get-azroleassignment still use old AAD graph API and don't have any doc mentioned"
Hi Team,
We already move all to Microsft graph API but this cmdlet is still using old AAD Graph API: https://graph.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47/getObjectsByObjectIds?api-version=1.6 , which caused permission failure in many customers side.
Please help:
1. modify functions of this cmdlet from old AAD Graph API to new Microsoft Graph API;
2. add such permission required in relate

[2019-11-28 03:46] MSNina123456 commented on #10622
scenario: cx is using service principal to run this cmdlet in Azure automation runbooks

[2019-11-28 06:24] isra-fel commented on #10555
## Scenario tests

- .NET SDK
  - Create a new keyvault without `enableSoftDelete`, the keyvault should enable soft-delete
  - Create a new keyvault with `enableSoftDelete = false`, the keyvault should not enable soft-delete
- PowerShell cmdlet
  - `New-AzKeyVault` without `-EnableSoftDelete`, the keyvault should not enable soft-delete
  - `New-AzKeyVault` with `-EnableSoftDelete`, the keyvault sh

[2019-11-28 06:48] VeryEarly commented on #10622
Hi @MSNina123456 ,

Can you please provide detail of the module versions/ps version/how to reproduce information?

[2019-11-28 06:55] MSNina123456 commented on #10622
module version: any module version, ps version: any az ps version;
in my environment: Az.Accounts = 1.6.4, Az.Resources=1.8.0
reproduce steps:
1. create automation account with runas account in Azure portal;
2. create powershell runbook and test below script:
import-module az.resources

$connection = Get-AutomationConnection -Name AzureRunAsConnection
while (!($connectionResult) -And ($logonAttemp

[2019-11-28 06:57] rkmanda commented on #10581
This has been identified as a bug on the service. Currently there is no ETA for the fix. We will post an update when this gets prioritized.

[2019-11-28 07:22] MSNina123456 commented on #10622
[Common.Authentication]: Checking token expiration, token expires '11/28/2019 08:14:57 +00:00' Comparing to '11/28/2019
07:14:58 +00:00' With threshold '00:05:00', calculated time until token expiry: '00:59:59.2031175'
============================ HTTP REQUEST ============================

HTTP Method:
POST

Absolute Uri:
https://graph.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47/getObjectsByO

[2019-11-28 07:41] patrickjlee commented on #9949
I had the same problem. However, Connect-AzAccount (without any space after Connect) worked!

[2019-11-28 07:43] VeryEarly commented on #9949
Hi @patrickjlee ,

Thanks for the feedback, if you are still blocked with related problem, please open a new issue and we will look into it.

[2019-11-28 10:07] erich-wang opened #10624 "Incorrect deprecation message for Add-AzApplicationGatewayBackendHttpSetting"
WARNING: Breaking changes in the cmdlet 'Add-AzApplicationGatewayBackendHttpSetting' :
WARNING:  - Add-AzApplicationGatewayBackendHttpSettings alias will be removed in an upcoming breaking change release
WARNING: change is expected to take effect from the   '2.0.0' .

We could verify that this was released as a part of Version 1.7.0 and related to PR https://github.com/Azure/azure-powershell/pull/

[2019-11-28 12:26] bremnes opened #10626 "Get-AzApiManagementApiSchema cmdlet failing on schema type of OpenApi"
## Description
When running the cmdlet `Get-AzApiManagementApiSchema` on an API with a content type of `application/vnd.oai.openapi.components+json` (OpenAPI v3), the command fails:
[code]

## Steps to reproduce
If you need to create an OpenApi v3 api, uncomment the line below to import the petstore example
[code]

## Environment data

[code]

## Module versions

[code]

## Debug output

(subset a

[2019-11-28 12:45] kilasuit commented on #10593
@mentat9 - what I am asking for is that the displayname come up a level in the properties returned to the user from the API call that is completed.

That's easily enough done in powershell anyway as an additional step that I really should not need to do on every single use of these API's

It's not a great UserExperience and that's what I am asking to change. If that needs to change in the SDK then

[2019-11-28 12:49] bremnes commented on #10626
See method [Microsoft.Azure.Commands.ApiManagement.ServiceManagement.Utils.GetSchemaDocumentValue](https://github.com/Azure/azure-powershell/blob/master/src/ApiManagement/ApiManagement.ServiceManagement/Helpers/Utils.cs#L390) for where the error is. We've seen the same errors in the APIM DevOps project.

The json returned by Azure's rest api is different for openapi because it doesn't return the "

[2019-11-28 13:34] vexx32 commented on #10588
@erich-wang why are you using ShouldContinue? In the vast majority of use cases ShouldProcess is more than sufficient. If you need to prompt by default, typically setting `ConfirmImpact = "High"` is the recommended route.

`ShouldContinue` and `-Force` are generally a bad pattern to follow, not least because the prompts generated by `ShouldContinue` are indistinguishable from `ShouldProcess`.

[2019-11-28 14:40] VLoub commented on #10404
+1

I am experiencing same issue, only -Latest works here

Also with added start and end time dosen't work

    Get-AzAutomationDscNodeReport @GetAzAutomationDscNodeReportParams -StartTime ([DateTimeOffset]::Now.AddDays(-1)) -EndTime ([DateTimeOffset]::Now)

[2019-11-28 14:48] bgelens commented on #10619
How about `New-AzDeploymentPlan` or `Get-AzDeploymentPlan` (I like the Get a little bit better)? It would follow the Terraform terminology (what people who are looking for it are expecting I think).

As a side note, I'm not sure if the command currently returns only text or objects? I hope an object is part of what is returned as I imagine some programmatic usecases for it. E.g.

[code]

[2019-11-28 16:29] oscarmelo2 commented on #10326
Hi there

I'm having problems installing Azure AD, someone who's been through something like this?

PS /Users/XXXXXXXX> Install-Module AzureADPreview

Untrusted repository You are installing the modules from an untrusted repository. If you trust this repository, change its InstallationPolicy value by running the Set-PSRepository cmdlet. Are you sure you want to install the modules from 'PSGallery'

[2019-11-28 19:10] oising commented on #10619
@bgelens I could definitely get behind `Get-AzDeploymentPlan` if this whole naming thing is constrained to some kind of autogenerated-from-api cmdlet issue, as some have suggested. `Get` is a better verb than `New` in this case, as it really should represent an idempotent, non-destructive/side-effect free action.

[2019-11-29 01:59] VeryEarly commented on #10626
thanks for the feedback, forwarded to api management team

[2019-11-29 07:23] erich-wang commented on #10331
The fix is ready and should be available in next Az 4.0 preview release.

[2019-11-29 07:23] #10331 closed

[2019-11-29 14:08] chaami commented on #10340
Hi @dcaro ,
No worries,
I am actually trying to deploy an application that is labeled as a "Cloud services (classic)" in the Azure portal using the Az PowerShell module.
For now my workaround is to continue to use the older Azure module to deploy "Could Services (classic)" applications and deploy "Azure App services" through a [WAWSDeploy](https://github.com/davidebbo/WAWSDeploy).
Thanks.

[2019-11-29 16:08] thelethalkind opened #10634 "Remove-AzEventHubNamespace with ResourceId errors with Object reference not set to an instance of an object."
## Description
When trying to remove an event hub namespace using Remove-AzEventHubNamespace with the namespace resource Id, it returns the error: Object reference not set to an instance of an object.

## Steps to reproduce

[code]

## Environment data

[code]

## Module versions

[code]

## Debug output

[code]

## Error output

[code]

[2019-11-30 20:15] peppekerstens commented on #10326
In my experience, PS7 works fine. PS6 is FUBAR with this module (both on my system)

[2019-11-30 20:19] peppekerstens commented on #10546
@siddharth7 that is/was my guess too. You are correct when assuming these two items have been made before and after daylight saving time.

Do I assume correct that PS eventually makes the same API calls as the GUI does? If yes, then PS should provide same result, which it does not :(

[2019-12-01 22:03] drewkg opened #10635 "Request query contains more than one $expand"
## Description

Running Get-AzBlueprint and then Get-AzManagementGroup results in an error of Request query contains more than one $expand.  The issue is Get-AzBlueprint as this is reproducible with storage modules as well.

## Steps to reproduce

[code]

## Environment data

[code]

## Module versions

[code]

## Debug output

[code]

## Error output

[code]

[2019-12-02 01:53] VeryEarly commented on #10634
Thanks for our feedback, forwarded to event hub team

[2019-12-02 02:58] VeryEarly commented on #10635
Hi @drewkg ,

Can you provide the required information?

Environment data/MOdule versions/Debug output/Error output

[2019-12-02 06:50] erich-wang commented on #9467
Assign to Yeming to track the release of MSAL

[2019-12-02 06:51] erich-wang commented on #9568
Assign to Yeming to track  the release of MSAL

[2019-12-02 06:52] #10477 closed

[2019-12-02 07:04] isra-fel commented on #10555
https://github.com/Azure/azure-sdk-for-net/pull/8956

[2019-12-02 13:48] sopelt opened #10638 "Inconsistent implicit resource creation (e.g. New-AzWebApp)"
## Description
The Az.Websites module (and it looks like AzureRM.Websites as well) behaves in an unexpected/undocumented way when creating certain resources. Furthermore the behavior is not consistent with azure CLI. The [documentation of New-AzWebApp](https://docs.microsoft.com/en-us/powershell/module/az.websites/new-azwebapp?view=azps-3.1.0), the [documentation of New-AzureRmWebApp](https://docs

[2019-12-02 16:12] bgklein commented on #10602
Hello, I was able to repro this so it looks like a bug. @matthchr do you have any ideas what could cause this?

[2019-12-02 16:22] matthchr commented on #10602
@bgklein - I'm not sure what could cause this but will look in to it.

[2019-12-02 16:38] bgklein commented on #10602
[code]

but when created no errors and get

[code]

[2019-12-02 16:43] Akreddy123 opened #10640 "Secure environment variables in Azure container instances"
What is the equivalent of below Azure CLI command in PowerShell?
az container create -g <> -n <> --secure-environment-variables

[2019-12-02 19:02] matthchr commented on #7512
Reactivating this - these tests still pass in `Record` mode but fail in `Playback`. Interestingly the error is different than Cormac shared above.

[code]

@markcowl - it would be nice to get this looked at and at least understand if this is some expected limitation of the recording framework, or a bug.

[2019-12-02 19:47] dcaro commented on #10340
@chaami in order to deploy a "Cloud Service (classic)" you would have to use the [Azure](https://www.powershellgallery.com/packages/Azure/5.3.0) PowerShell module. Note that this module does not work cross platform (must be installed in Windows PowerShell) and is not supported with the current Az module.
If you need both on the same machine, you can install the current Az in PowerShell core and in

[2019-12-02 19:53] shenglol commented on #10619
Hi @bgelens , the command does return objects. You can get the json object with pipeline:
[code]

[2019-12-02 19:54] Drewm3 commented on #10616
I have opened this feature request in our User Voice forum here: https://feedback.azure.com/forums/216843-virtual-machines/suggestions/39168472-include-auto-shutdown-time-to-get-azvm-cmdlet

We will use that item to track the feature request going forward. Please upvote that feature request.

[2019-12-02 19:54] #10616 closed

[2019-12-02 19:57] dcaro commented on #8581
Closing this issue as the information above seems to have provided the answer to the question. Feel free to comment and reopen if not the case.

[2019-12-02 19:57] #8581 closed

[2019-12-02 19:58] Drewm3 commented on #10458
I have created the following feature request in our UserVoice for VMs: https://feedback.azure.com/forums/216843-virtual-machines/suggestions/39168511-expose-the-kernel-version-as-a-property-of-vmimage

The product team will use that item to track this feature request going forward. Please upvote that feature request.

[2019-12-02 19:58] #10458 closed

[2019-12-02 20:05] dcaro commented on #8513
@VeryEarly I have sent you the information over email.

[2019-12-02 20:24] Drewm3 commented on #8898
@danielsollondon, could you take a look at this and update the documentation to clarify the expected behavior? I believe the Add-AzVMSshPublicKey documentation is incorrect in two ways.

First, I believe this cmdlet only adds the public key details to the client side variable for the VM. It does not send anything to the REST APIs to create a VM or attempt to update an existing VM. I believe if the

[2019-12-02 20:54] andyw248 commented on #7003
Not a P1, as well as fairly straightforward (as compared to creating or updating where properties are required). Closing for this reason.

[2019-12-02 20:54] #7003 closed

[2019-12-02 21:10] jfggdl commented on #10634
@thelethalkind, we will try to reproduce the error and we will be taking actions according to our findings. If we confirm that we have a problem with our PS cmdlet, we will schedule a fix for it. Thanks for reporting this issue.

[2019-12-02 21:24] dcaro commented on #8670
Has been fixed in [Az 3.1.0](https://github.com/Azure/azure-powershell/releases/tag/v3.1.0-November2019)

[2019-12-02 21:24] #8670 closed

[2019-12-02 21:24] #8756 closed

[2019-12-02 21:40] anzaman commented on #10505
Please see https://docs.microsoft.com/en-us/azure/vpn-gateway/vpn-gateway-howto-point-to-site-rm-ps for all related PowerShell commands

[2019-12-02 21:43] sopelt opened #10645 "New-AzWebApp does not set LinuxFxVersion from ContainerImageName"
## Description
[New-AzWebApp](https://docs.microsoft.com/en-us/powershell/module/az.websites/new-azwebapp?view=azps-3.1.0) (as well as Set-AzWebApp) should allow directly provisioning linux app services from private or public docker images.

Looking at the ARM HTTP requests it looks like the `LinuxFxVersion` is not sent and no container image is configured.

Looking at [the source](https://github.

[2019-12-02 23:44] Sumitkakra opened #10646 "`Set-AzVirtualNetworkGatewayConnection` is not recognizing `-IpsecPolTrafficSelectorPolicy` parameter."
## Description
`Set-AzVirtualNetworkGatewayConnection` is not recognizing `-IpsecPolTrafficSelectorPolicy` parameter.
 - I have Az version i.e. 3.1.0
 - Az.Network version is 2.1.0

cmdlet documentation is linked [here](https://docs.microsoft.com/en-us/powershell/module/az.network/set-azvirtualnetworkgatewayconnection?view=azps-3.1.0)

## Steps to reproduce
Assuming `s2svpn` a site to site vpn con

[2019-12-03 02:09] VeryEarly commented on #10640
Thanks for the feedback, forwarded to container instances team

[2019-12-03 02:14] VeryEarly commented on #10638
Thanks for the feedback, forwarded to App Services team.

[2019-12-03 02:18] VeryEarly commented on #10645
Thanks for the feedback, forwarded to App Services team

[2019-12-03 02:28] VeryEarly commented on #10646
Thanks for the feedback, forwarded to Network team.

[2019-12-03 04:31] dzemp opened #10648 "Remove-AzBlueprintAssignment in DevOps Pipelines - Azure PowerShell task"
## Description
When using the Remove-AzBlueprintAssignment in an Azure PowerShell task in DevOps Pipelines, the assignment cannot be deleted, although the task succeeded. Or the task returns a PowerShell error.
- With the parameter -Confirm - task returns "PowerShell is in NonInteractive mode. Read and Prompt functionality is not available."
- With the parameter -Confirm:$false - task succeeds but

[2019-12-03 06:45] VeryEarly commented on #10648
Thanks for the feedback, forwarded to Blueprint team.

[2019-12-03 07:01] erich-wang commented on #10330
The fix has been merged into master branch, the fix will be ready in next release of Az 4.0 preview

[2019-12-03 07:01] #10330 closed

[2019-12-03 08:23] blueww commented on #10298
Discussed with @paulmrozowski in mail:
1. Paul don't have time to repro it, and switch to AzCopy instead
2. Powershell team can't repro the issue

So we will close the issue now.

[2019-12-03 08:23] #10298 closed

[2019-12-03 08:53] blueww commented on #10601
@chinchalupa
Do you have any update or further questions for this issue?

[2019-12-03 08:55] yevster opened #10650 "Inconsistent behavior with the PrivateIpAddress parameter on New-AzNetworkInterfaceIpConfig"
## Description
When no subnet is provided, `New-AzNetworkInterfaceIpConfig` simply ignores the `-PrivateIpAddress` parameter. There's no error message, it's simply not applied. However, any requirement to to ensure a subnet is specified when setting a private IP can be easily circumvented by setting the field after the fact:

[code]

If IP address must not be set without a subnet present, then con

[2019-12-03 09:16] #9300 closed

[2019-12-03 09:18] #10550 closed

[2019-12-03 09:19] #10575 closed

[2019-12-03 09:20] #10596 closed

[2019-12-03 09:20] #10599 closed

[2019-12-03 09:21] VeryEarly commented on #10607
Discussed with team, will keep this output for now

[2019-12-03 09:21] #10607 closed

[2019-12-03 09:30] csmurthy commented on #10101
Any ETA for the fix

[2019-12-03 13:13] bobbytreed opened #10651 "Get-AzStorageAccount : Could not load file or assembly 'Newtonsoft.Json, Version=9.0.0.0"
Get-AzStorageAccount : Could not load file or assembly 'Newtonsoft.Json, Version=9.0.0.0, Culture=neutral, PublicKeyToken=30ad4fe6b2a6aeed' or one of its dependencies. The system cannot find the file specified.
At line:1 char:12
+ $account = Get-AzStorageAccount -Name "gitado" -ResourceGroupName Git ...
+            ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    + CategoryInfo

[2019-12-03 15:58] chaami commented on #10340
Hi,
Could you please just make sure not to cut the older Azure PowerShell ability to deploy Cloud services (classic) before porting (or deprecating) the feature  before ?
Thanks.

[2019-12-03 16:14] jn-altius commented on #10532
Hi Matt,
Sorry for slow response - I have got this code working in C# now so am only checking back here on an as-and-when basis.

Yeah, I was stripping out the directories in the Where clause.

Based on your suggestion above I have amended my PS code to pick out the Properties values to separate variables (e.g. $lastModified = $firstFile.Properties.LastModified etc ), and then put those variables

[2019-12-03 16:26] Sumitkakra commented on #10646
Thanks for your attention.
Also, its not a blocker for me, as I re-deployed the connection using template, after adding traffic selector policies in the template.

[2019-12-03 19:54] maboja-msft commented on #8700
The workaround mentioned by @frbar is the correct one. Alternatively, you can retrieve data about the server FG is located on and then replace server name with FG name in the FQDN of a server.
Currently the work to fix this issue is scheduled for early 2020.

[2019-12-03 19:56] dcaro commented on #10340
@chaami we do not have any plans to remove the [Azure](https://www.powershellgallery.com/packages/Azure/5.3.0) PowerShell module from the gallery.

Closing this issue now, feel free to reopen if needed.

[2019-12-03 19:56] #10340 closed

[2019-12-03 22:24] chaami commented on #10340
@dcaro I was not thinking about the removal of the PowerShell module from the gallery, but of a cut of functionality like in #7558.

[2019-12-04 02:50] blueww commented on #10651
@bobbytreed
You might not use the latest Az.Storage module.
In your issue, I see you use 1.3.0 Az.Storage, but the latest is 1.9.0.

Besides that, The "Get-AzStorageTable" failure should be related with the before "Get-AzStorageAccount" failure. since it's caused by $ctx is not created correctly in before step.

Would you please:
1. Upgrade to latest Az.Storage module and try again. (better remove

[2019-12-04 05:41] Robzilla opened #10654 "New-AzDeployment missing parameter TemplateFile"
# Description
Trying to reference an ARM template that the DevOps Azure Powershell task downloads from the git repo as the TemplateFile param when deploying a new resource group. I know the file is there as I list all the files before passing the absolute path in. I have tried escaping the directory backslashes as well but still get the same error.

## Steps to reproduce

[code]
[tasklog_5.log](ht

[2019-12-04 06:04] VeryEarly commented on #10654
Hi @Robzilla ,

Can you try the latest Az version [3.1.0](https://github.com/Azure/azure-powershell/releases/tag/v3.1.0-November2019)?

[2019-12-04 08:26] isra-fel commented on #10259
### Browser implementation

We implement a browser control because the .netstandard version of msal didn't have one.
Msal team suggested they should provide the impl and we should use that instead.

[2019-12-04 08:27] isra-fel commented on #10259
### SSO scenarios

- [ ] Add account, no existing cache
- [ ] Add account, existing cache
- [ ] Remove account, existing cache
- [ ] Clear existing cache
- [ ] Account added to cache outside of PowerShell
- [ ] Account removed from cache outside of PowerShell (not default context)
- [ ] Account removed from cache outside of PowerShell (default context)

[2019-12-04 09:48] erich-wang commented on #10624
network team, the deprecation message is incorrect, please fix it either by change version to next major version (3.0.0) in deprecation message or remove the deprecation message if don't have deprecation plan.

[2019-12-04 13:42] HQJaTu commented on #9598
Well ...
[code]

[2019-12-04 15:14] HQJaTu commented on #9598
Finally figured this out. The problem is with previous package metadata. Manually deleting the `Az`-subdirectories solved the problem. Now 3.1.0 installs without problems.

[2019-12-04 16:06] marckassay opened #10656 "Az.ManagedServiceIdentity is not installed with Az module"
## Description

Az.ManagedServiceIdentity module is not installed with Az. Although its latest version number is 0.7.2, its not in 'preview' and should be included when Az is installed.

Previous related issue: #8555

## Steps to reproduce

[code]
The last line, the containment operator, returns False.

## Environment data

[code]

## Module versions

[code]

## Debug output

na

## Error output

[2019-12-04 16:08] marckassay commented on #10656
#8555

[2019-12-04 17:47] ajpatterson7 opened #10657 "Az.KeyVault Get-AzKeyVault return object always includes VaultUri"
## Description of the new feature
Currently, there is some logic which creates two different possible returns when calling Get-AzKeyVault. The only way to get a complete object is to call the command providing a full 'VaultName' parameter, and not using wildcards in the 'ResourceGroupName' parameter, if you choose to provide it. A call which does not meet this criteria returns a lesser object whic

[2019-12-04 20:56] chaami commented on #10340
Incidentaly @dcaro, when you close an issue like this as a repo collaborator, only repo collaborators can re-open it.

[2019-12-04 21:32] Robzilla commented on #10654
Sorry guys, my mistake. Just needed to enclose the params with double quotes.

[2019-12-04 21:32] #10654 closed

[2019-12-04 22:21] nkiest commented on #7873
A destination is required, which is what the message is saying. Please specify a workspace, storage account, or eventhub.
Also, AzureRM is deprecated, and you should use Az.
If you are seeing an issue with set-AzDiagnosticSetting, and specifying a destination, please report back with your error.

[2019-12-04 22:23] nkiest commented on #7873
@bwarren18, Get-AzDiagnosticSetting does not work on VMs. It works on the resources listed here: https://docs.microsoft.com/en-us/azure/azure-monitor/platform/diagnostic-logs-schema

[2019-12-04 22:24] nkiest commented on #10101
This has been merged into the latest powershell release. When that is published, it should have the property.

[2019-12-04 22:30] nkiest commented on #10101
It has been merged into the latest powershell (https://github.com/Azure/azure-powershell/pull/10248). It should be in the next release.

[2019-12-04 22:30] #10101 closed

[2019-12-04 23:27] dcaro commented on #10621
@Francisco-Gamino FYI, this may be something to consider for the Az.Functions module

[2019-12-04 23:29] dingmeng-xue commented on #10619
@oising could you show the version of Az.Resources and Az? You can use below cmdlet to get all information.
[code]

[2019-12-04 23:39] dingmeng-xue commented on #10618
@Sujata-sampa could you share us your scripts? and let us know what resource type is you are trying to lock.

[2019-12-05 01:04] mattpurnell commented on #8697
Definitely makes ISE unworkable with Azure..!

[2019-12-05 01:06] allegradomel commented on #8365
@spaelling,
Thank you for bringing this to our attention - we're currently looking into this issue and will update soon.

[2019-12-05 01:09] allegradomel commented on #8735
@ChristopherGLewis,
Thank you for your patience - I'm looking into the issue and will update soon.

[2019-12-05 01:12] allegradomel commented on #9026
@mikew1927, I'm taking a look at this issue and will update soon. Thank you for your patience.

[2019-12-05 01:13] allegradomel commented on #9246
@theheatDK ,
Thanks for your patience - I'm looking into this and will update soon. Stay tuned!

[2019-12-05 01:16] allegradomel commented on #9296
@ryanmajidi, thanks for your patience. We're looking into this and will update soon.

[2019-12-05 01:25] VeryEarly commented on #10656
Hi @marckassay ,

Az.ManagedServiceIdentity is a preview version means it won't be packaged with Az, you can install it separately from [PSGallery](https://www.powershellgallery.com/packages/Az.ManagedServiceIdentity/0.7.2)

[2019-12-05 01:31] allegradomel commented on #9875
@MSSedusch, thanks for bringing this to our attention. Working on updating this soon.

[2019-12-05 03:08] allegradomel commented on #10066
@jispar - do we have an update on this yet?

[2019-12-05 03:09] allegradomel commented on #10099
Hi @AviBhavsar, thanks for your patience. Working on updating this soon.

[2019-12-05 06:51] spaelling commented on #8365
Better late than never 😄

[2019-12-05 07:35] wyunchi-ms commented on #10309
HI @bytejunkie , do I need to create a ElasticPool to reproduce this issue? Because what I see about universaldashboard in the example script is to stop the dashboard.

[2019-12-05 07:49] dalibormesaric commented on #10051
What is the status of this?

[2019-12-05 08:15] #9508 closed

[2019-12-05 08:27] wyunchi-ms commented on #10349
Hi @dansos @infy-vijayaraghavanl , could you please provide more detail about your scenario?  Because `Set-AzContext` will set the `TokenCache` which is a singleton instance in a azure session. And `Foreach-Object -parallel` is base on thread model. So it's expected that `$context` leaks. If you just want to get content, you can use `Select-AzContext`.

[2019-12-05 08:38] VeryEarly commented on #10657
Hi @ajpatterson7 ,

Thanks for your feedback, we are investigating on this request.

[2019-12-05 11:23] bytejunkie commented on #10309
the issue happens when trying to load the modules, i doubt that its even getting as far as looking for the elastic pools.

[2019-12-05 11:52] dingmeng-xue commented on #10657
@ajpatterson7 it is by design according to current API of Keyvault service. If there is no vault name, Keyvault service returns the list of vaults with limited properties. If Azure PowerShell iterates list and populates full result, it may have performance concern to current other customers.

One workaround is using pipeline, such as
[code]

[2019-12-05 11:52] #10657 closed

[2019-12-05 15:08] marckassay commented on #10656
Ah, thanks @VeryEarly! Although it clearly conforms to SemVer by definition, the documentation from the links below lack this clarity. Especially since this module, Az.ManagedServiceIdentity, is listed as part of Az module which currently has a SemVer value of 3.1.0. I'm referring to the reference list that can be seen from the first link below.

- [Az PowerShell Module Reference version 3.1.0](ht

[2019-12-05 15:16] dingmeng-xue commented on #8513
Duplicate of #7302

[2019-12-05 15:16] #8513 closed

[2019-12-05 15:20] dingmeng-xue commented on #8739
Close it because of new Az.Functions module

[2019-12-05 15:20] #8739 closed

[2019-12-05 15:23] dingmeng-xue commented on #9039
Thanks for your proposal. We will consider and prioritize it.

[2019-12-05 15:31] dingmeng-xue commented on #9074
This issue has to be closed because it is by design and Az module just focuses on its major functions. In short term, we have no plan to expand the scope. Sorry for inconvenience.

[2019-12-05 15:31] #9074 closed

[2019-12-05 15:37] dingmeng-xue commented on #10226
Close it due to inactivity. Please create new issue if issue occurs.

[2019-12-05 15:43] dingmeng-xue commented on #5882
It should be supported by Gallery related cmdlets.

[2019-12-05 15:43] #5882 closed

[2019-12-05 17:07] Francisco-Gamino commented on #10051
Hi @dalibormesaric, this is to be able to select the Host (runtime) version to either 2 or 3 (which is currently in Preview).

[2019-12-05 17:25] dcaro commented on #10340
@chaami thanks, my bad regarding reopening the issue, feel free to ask to have the issue reopened.
Regarding the classic cloud services, they are not supported in the Az module and unfortunately we have not received enough requests to do so that would justify the effort needed.

[2019-12-05 17:29] ApbBeach opened #10661 "Set-AzAutomationWebhook: Add parameter to set ExpiryTime"
Please add -ExpiryTime parameter to Set-AzAutomationWebhook

[2019-12-05 18:04] #9001 closed

[2019-12-05 18:06] bhaskar39 opened #10662 "Get-AzLog/Get-AzureRMLog doesn't give the Resource Health Events in the output"
## Description

## Steps to reproduce

Connect-AzAccount
Get-AzLog -ResourceId "<>" -StartTime ($(Get-Date).AddHours(-26)) -EndTime (Get-Date)
Get-AzLog -CorrelationId c76d608d-e8de-4d0e-b496-53fa36a3a589 -StartTime ($(Get-Date).AddHours(-26)) -EndTime (Get-Date)

## Environment data

PS C:\windows\system32> $PSVersionTable

Name                           Value
----                           -----

[2019-12-05 18:23] alex-frankel commented on #10619
FWIW, we are going to work on -WhatIf being the way to trigger this API instead of a new cmdlet. Having said that, I'm confused as to why Get-AzDeploymentPlan is so much more tolerable than New-AzDeploymentWhatIf. Is it purely a naming issue or is it also the fact that it is a separate cmdlet?

[2019-12-05 18:47] shurd commented on #3650
Hi all, thank you for raising this issue. As of February of this year, this operation now returns connection strings for all API types (originally it was only valid for MongoDB accounts).

[2019-12-05 18:47] #3650 closed

[2019-12-05 20:36] bgelens commented on #10619
As @oising explains very well I think, it is something you Get from an external API that does not result in any change. New implies a New Resource is created

![image](https://user-images.githubusercontent.com/10071039/70269576-f7567280-17a2-11ea-96c7-afa60ea675bb.png)

What I would expect from `New-AzDeployment -WhatIf` is something like `WhatIf Deploying Template x at scope Management Group with

[2019-12-05 21:28] PlagueHO opened #10664 "webapp:Add support for Slot Traffic Routing to AzWebApp"
## Description of the new feature

Add support for configuring traffic routing percentages to AzWebApp cmdlets.

This functionality is supported in Az CLI with https://docs.microsoft.com/en-us/cli/azure/webapp/traffic-routing?view=azure-cli-latest

## Proposed implementation details (optional)

Possibly implement:
[code]

[2019-12-06 00:56] jeroenterheerdt commented on #6211
@nivimsft any update here?

[2019-12-06 01:08] jeroenterheerdt commented on #9695
@petrajkogit - any update here?

[2019-12-06 01:08] jeroenterheerdt commented on #9694
@petrajkogit can you have a look at this as well?

[2019-12-06 01:10] oising opened #10665 "webapp: Consider adding functionality equivalent to "az webapp vnet-integration" to dump vnet integration info"
## Description of the new feature

Neither `Get-AzWebApp` nor any related cmdlets seem to return any information about VNET integration. The information is available via `az webapp vnet-integration list --name $name --resource-group $rg` using the azure CLI, but it would be preferable to have a native powershell cmdlet to avoid having to parse output with `ConvertFrom-Json`.

## Proposed implement

[2019-12-06 02:13] jeroenterheerdt commented on #9881
Closing this issue. @artisticcheese do not hesitate to respond if you need more help.

[2019-12-06 02:13] #9881 closed

[2019-12-06 02:30] dingmeng-xue opened #10666 "Add preview warning note on module homepage if it is in preview"
## Description
To avoid confuse, we'd better to show a warning message on module homepage if module is in preview version.

For example:
[code]

[2019-12-06 03:05] VeryEarly commented on #10656
Hi @marckassay ,

We create another issue #10666 to fix this, will close this for now.

[2019-12-06 03:05] #10656 closed

[2019-12-06 03:10] VeryEarly opened #10667 "One test case of DataLakeStore module constantly fails randomly at linux environment only."
## Description
This single test case `Microsoft.Azure.Commands.DataLakeStore.Test.ScenarioTests.AdlsAliasTests.TestAdlsFileSystem`, fails randomly time and time again. This affects our efficiency to review PRs.

Need to investigate.

Sample PR: https://github.com/Azure/azure-powershell/pull/10755
CI job: https://dev.azure.com/azure-sdk/public/_build/results?buildId=231953
Log: https://dev.azure.co

[2019-12-06 03:32] dolauli commented on #10060
@niander

- Get-AzMetric

 While the swagger type of -Aggregation is a string, in the current cmdlet it is of type AggregationType which is defined in another resource spec (MetricDefinition).

[Derek] This looks has been fixed.
`PS C:\Users\xidi\src\azure-powershell\src\Monitor [Az.Monitor]> get-help Get-AzMetric

NAME
    Get-AzMetric

SYNOPSIS
    **Lists the metric values for a resource**.

SY

[2019-12-06 04:22] VeryEarly commented on #10662
Thanks for you feedback, forwarded to monitor team

[2019-12-06 05:43] ToMakeSense commented on #6913
similar question https://github.com/Azure/azure-powershell/issues/6913

[2019-12-06 09:01] msJinLei opened #10669 "Improve CreateMappings.ps1"
## Description
Inspired by the issue https://github.com/Azure/azure-powershell/issues/10613

It is found that CreateMappings.ps1 generates help file to alias mapping using CreateMappings_rules.json.
It searches for the keywords of different rules in help file's path and file, if any match, choose a best one.

When more than one rules are hit, the current solution is ordering rule according to prio

[2019-12-06 09:03] msJinLei commented on #10613
Fixed in https://github.com/Azure/azure-powershell/pull/10623
More followup refers to https://github.com/Azure/azure-powershell/issues/10669

[2019-12-06 09:03] #10613 closed

[2019-12-06 10:33] petrajkogit commented on #9695
@jeroenterheerdt Yes, this was done. Take a look at:

https://docs.microsoft.com/en-us/azure/sql-database/sql-database-aad-authentication-configure?tabs=azure-powershell#powershell-for-sql-managed-instance

[2019-12-06 10:33] #9695 closed

[2019-12-06 11:01] petrajkogit commented on #9694
@talhers Can you help with above answer?

[2019-12-06 12:02] isra-fel commented on #10259
### Login using personal account

When testing the second scenario of SSO, I first login as microsoft account, then my personal account. But the second request failed when refreshing context from cache. The exception was: Microsoft.Identity.Client.MsalUiRequiredException 'No Refresh Token found in the cache'.

Did a test on my repro https://github.com/isra-fel/test-msal , MSAL can handle personal

[2019-12-06 15:58] matthchr commented on #10602
The fix for this is merged - it should be included in the next release of powershell.

[2019-12-06 15:58] #10602 closed

[2019-12-06 15:58] matthchr commented on #10532
Are you unable to reproduce this issue anymore? What if you change back to how you had it before, is it still working?

[2019-12-06 16:07] OlliePythagoras opened #10670 "PowerShell Hangs when running Connect-AzAccount After Creating Windows Form Object"
## Description
I am a having a freezing issue when trying to connect to Azure with PowerShell after creating a new windows form object variable. The freezing occurs after completing the sign in window.

This appears to have been reported before (https://github.com/Azure/azure-powershell/issues/8566) but was closed in favor of an existing, but seemingly unrelated ticket).

I can currently work arou

[2019-12-06 16:09] jn-altius commented on #10532
Hi Matt, when I tried it 3 days ago I **did** get the file properties.  But I am not actively working with this powershell code any more (I've rewritten the job in C#) so haven't delved any further.

Feel free to close this ticket.

Thanks for your help :-)

[2019-12-06 16:12] #10532 closed

[2019-12-06 16:52] dlepow opened #10671 "New-AzContainerRegistry: `sku` parameter description doesn't list all allowed values"
## Description

Help text for `sku` parameter in `New-AzContainerRegistry` is incomplete because it lists only the Basic SKU. Should list all available SKUs: Basic, Standard, Premium

## Steps to reproduce

[code]
## Expected

[code]
## Environment data

[code]

## Module versions

[code]

## Debug output

[code]

## Error output

[code]

[2019-12-06 17:15] calecarter opened #10672 "Getting "Invalid API version" error using Get-AzKeyVaultManagedStorageSasDefinition"
## Description
Using v1.3.1 of Az.KeyVault module

## Steps to reproduce

Create a Key Vault and Storage Account
Configure the Key Vault to Manage the Storage Account
Create a SAS definition on the KeyVault for the Storage Account
Try to get the defintion:

Get-AzKeyVaultManagedStorageSasDefinition -VaultName WUSAzGovINTPassVault -AccountName govintpolicyrp -Name SAS -Debug

## Environment data
[c

[2019-12-06 17:18] jeroenterheerdt commented on #10437
closing this issue as it was fixed in #10516

[2019-12-06 17:20] jeroenterheerdt commented on #10437
oops ,PR was not closed yet. reopening.

[2019-12-06 19:00] andyw248 commented on #7048
Fixed with the PR from Jun 17.

[2019-12-06 19:00] #7048 closed

[2019-12-06 19:03] andyw248 commented on #7661
Edge case: As per the description, a user would have to create a schedule with "none" as the scheduled time, which appears to be a very uncommon scenario. Closing.

[2019-12-06 19:03] #7661 closed

[2019-12-06 19:10] andyw248 commented on #7688
I disagree with the prior assessment. It is common knowledge that webhooks contain a URI; the error message saying that this URI cannot be updated expresses this appropriately. Closing.

[2019-12-06 19:10] #7688 closed

[2019-12-06 19:16] andyw248 commented on #7705
Active, pinging owner.

[2019-12-06 19:20] andyw248 commented on #7844
Assigned to SME for triage.

[2019-12-06 19:33] andyw248 commented on #7989
Needs investigation.

[2019-12-06 19:40] andyw248 commented on #8200
Needs investigation.

[2019-12-06 19:42] andyw248 commented on #8238
Needs investigation.

[2019-12-06 19:46] andyw248 commented on #8486
By design. Runbooks should retrieve passwords from a credential shared resource by using Get-AutomationCredential.

[2019-12-06 19:46] #8486 closed

[2019-12-06 19:49] andyw248 commented on #8530
Feature request, please add to user voice.

[2019-12-06 19:49] #8530 closed

[2019-12-06 19:52] #6836 closed

[2019-12-06 19:52] andyw248 commented on #5862
Fixed.

[2019-12-06 19:52] #5862 closed

[2019-12-06 19:59] andyw248 commented on #7705
Preview test issue that eventually got replaced with Az modules.

[2019-12-06 19:59] #7705 closed

[2019-12-06 20:38] mentat9 commented on #9747
This is working fine in the current version of New-AzPolicyAssignment and Set-AzPolicyAssignment. I'm only guessing, but I suspect the problem may have occurred at *Adding two entries as [String[]] to an array and passing it to the New command*. The correct way is to create an array using ```$array = @("string1", "string2", "string3")```.

As the below console log shows, an array is created, passe

[2019-12-06 20:38] #9747 closed

[2019-12-06 20:45] Skuldo opened #10673 "New-AzKeyVault / Remove-AzKeyVault name attribute inconsistency"
The primary name attribute is inconsistent between these 2 modules, on the former it is "Name", on the latter it is "VaultName".

[2019-12-06 20:47] #7903 closed

[2019-12-06 21:19] mentat9 commented on #10593
@kilasuit, thanks for clarifying. Unfortunately, what you are asking for is a significant breaking change. The object layout is basic to the operation of policy and is consistent with many/most of the other ARM cmdlets, so changing it for client-side convenience is a big deal.

I've investigated this further and have some ideas how we might improve in this area; however, even if it works out it wi

[2019-12-06 23:06] nkiest commented on #10662
Service Health events are not currently surfaced through the current API. We are working on a convergence story to fix this, and it is on our backlog, but I do not have a ETA. However, you can access this data by exporting using subscription diagnostic settings, https://docs.microsoft.com/en-us/azure/azure-monitor/platform/diagnostic-settings-subscription.

[2019-12-06 23:06] #10662 closed

[2019-12-06 23:19] markcowl commented on #10281
Cannot validate - there is a credential field displayed, but no secret text is displayed.  Closing as no repro.

[2019-12-07 00:00] jispar commented on #10066
Discovery API content was updated.
Also, [documentation ](https://docs.microsoft.com/en-us/azure/virtual-network/service-tags-overview#service-tags-in-on-premises) was updated to include warning "While in Public Preview, the Discovery API may return information that is not as current as the JSON downloads"

[2019-12-07 00:00] #10066 closed

[2019-12-07 02:56] dingmeng-xue commented on #10661
Below is one example of HTTP GET. According to spec, it is not supported by API https://github.com/Azure/azure-rest-api-specs/blob/2b6274e2c029298c8ac17980fa2ea705f202b4b8/specification/automation/resource-manager/Microsoft.Automation/stable/2015-10-31/webhook.json. Need service team's confirmation.
[code]

[2019-12-07 16:00] slavizh commented on #6032
It has been year and so and in Az 3.1 this bug is still present.

[2019-12-07 19:46] alexandair commented on #10226
@dingmeng-xue Why is this issue closed? How can I test if it's fixed if there is not newer version?
"due to inactivity"? On MSFT-side or mine?

[2019-12-08 02:57] dingmeng-xue commented on #10226
Closed by mistake. Open it

[2019-12-08 03:07] dingmeng-xue commented on #10673
"Name" has alias "VaultName" on New-AzKeyVault. But no alias for "VaultName" on Remove-AzKeyVault.

[2019-12-08 12:59] dingmeng-xue commented on #10670
Loaded dlls have no difference between with and without new-object. It means no dependency conflicts. We need to look into if there is problem between new Textbox and AAD login window.

[2019-12-08 15:37] murdockcrc commented on #7166
I concur. I am trying to get the `internalIpAddress` from resource `/capacities/virtualip`, but ARM deployment fails with error `The response for resource had empty or invalid content.` I am using the following method to try to retrieve this value:

[code]

[2019-12-08 15:59] kdevesh commented on #7166
@murdockcrc /capacities/virtualip won't work due to the above issue.You can get the ip after deploying appservice in ase plan.This is kind a workaround

[2019-12-08 16:29] murdockcrc commented on #7166
@kdevesh do I have to deploy a web app, or would an app service plan suffice?

[2019-12-08 16:42] kdevesh commented on #7166
@murdockcrc in order to deploy a web app you need an app service plan.You can create the app service plan in the ASE and then create the web app from there you can get the IP address

[2019-12-08 16:55] angeloedades commented on #2278
YAY! @alex-frankel

[2019-12-08 18:08] yugangw-msft commented on #10671
@VeryEarly, the [source](https://github.com/Azure/azure-powershell/blob/master/src/ContainerRegistry/ContainerRegistry/Commands/NewAzureContainerRegistry.cs#L41) here clearly calls out the rightful sku list. so does the [help](https://github.com/Azure/azure-powershell/blob/master/src/ContainerRegistry/ContainerRegistry/help/New-AzContainerRegistry.md#-sku). Could you please tell me what else is mi

[2019-12-09 02:14] VeryEarly commented on #10671
Kindly ping @dlepow

[2019-12-09 02:41] dingmeng-xue commented on #10326
AzureAD module is not owned by Az PowerShell or installed with Az PowerShell. Needs ADD team's further check.

[2019-12-09 02:46] dingmeng-xue commented on #10268
It is completed using Blockchain as example.

[2019-12-09 02:46] #10268 closed

[2019-12-09 04:39] #10512 closed

[2019-12-09 04:51] dingmeng-xue opened #10677 "Move publish jobs to Azure DevOps"
## Description
Move Jenkisn publish job for powershell-common into internal ADO (https://azuresdkci.westus2.cloudapp.azure.com/view/PowerShell/job/ps-common-publish/)

## Cost
3

[2019-12-09 04:52] dingmeng-xue commented on #9727
Split publish jobs to another issue #10677

[2019-12-09 06:26] #10239 closed

[2019-12-09 06:26] #10502 closed

[2019-12-09 06:26] #10501 closed

[2019-12-09 06:27] #10053 closed

[2019-12-09 11:11] pvrk commented on #10133
@placidseven : Can you please let us know if this is happening consistently? If yes, can you please file a support ticket for this?

[2019-12-09 13:19] xTeKillax opened #10680 "Importing Az from C# and session initialization"
## Description
Hello, im currently trying to launch a script to restart a webapp from PowerShell. It rely on Restart-AzWebApp cmdlet to do so.
This PowerShell script is getting called in C# using the PowerShell SDK and im importing all the Az modules (just in case).
Despite all of this, Im still getting stuck with the following error :

Exception Type: System.InvalidOperationException
Exception Me

[2019-12-09 13:44] rnowosielski commented on #9654
I am having exactly the same issue on the newest version of th Az module. This is definitely not solved.

[2019-12-09 13:45] rnowosielski commented on #9957
I am having exactly the same issue on the newest version of th Az module. This is definitely not solved.

[2019-12-09 15:15] dingmeng-xue opened #10681 "Data type of some input parameter on doc is not friendly"
### Description
The type of some input parameter on public doc is not friendly. For instance, the one of input type of Set-AzAutomationWebhook is below:
[code]

### Expected Result
[code]
Nullable and Boolean should link to struct description of .NET API doc.
https://docs.microsoft.com/en-us/dotnet/api/system.boolean
https://docs.microsoft.com/en-us/dotnet/api/system.nullable-1

[2019-12-09 19:17] jeroenterheerdt commented on #10122
@maboja-msft

[2019-12-09 19:18] jeroenterheerdt commented on #6461
@maboja-msft

[2019-12-09 19:18] rthorn17 commented on #2278
@alex-frankel - Is this item closed now?

[2019-12-09 19:18] jeroenterheerdt commented on #5630
@maboja-msft

[2019-12-09 19:34] aperisic commented on #2278
Closed merged fixed done and completed

[2019-12-09 19:37] dpolivy commented on #10640
+1 for this. Is it possible to pass secure environment variables to a container from PowerShell?

[2019-12-09 19:43] dlepow commented on #10671
@VeryEarly @yugangw-msft - Apologies if my report isn't clear. There are actually two issues, I think:

1. The "accepted values" in sku list in source and in the help should no longer include "Classic". Classic is now deprecated. Only the following values should be accepted: `Accepted values: Basic, Premium, Standard`
2. The short description of the `sku` parameter in the help currently states: **

[2019-12-09 21:11] anzaman commented on #10505
#close

[2019-12-09 21:11] #10505 closed

[2019-12-09 22:31] dcaro commented on #10365
@DanteNahuel we have the plan to support this capability in a future release of Azure PowerShell hence I am closing this issue, feel free to comment and ask to have the issue reopened.

[2019-12-09 22:31] #10365 closed

[2019-12-10 00:30] heldchen commented on #9533
same here on a fresh Windows Server 1910 instance.
[code]
[code]

[2019-12-10 02:00] msJinLei commented on #10680
@xTeKillax

Could you provide the following information. You may add these statements into your ps script.

## Environment data

Please run $PSVersionTable and paste the output in the below code block

[code]

## Module versions
Please run (Get-Module  -ListAvailable) and paste the output in the below code block

[code]

## Debug output
Set $DebugPreference='Continue' before running the repro and

[2019-12-10 03:31] msJinLei commented on #10672
@calecarter Thank you for reporting the issue. We will investigating it and let you know if any progress.

[2019-12-10 06:40] VeryEarly commented on #10672
Thanks for the feedback, we are investigate this issue

[2019-12-10 08:21] Rajeswari-Mamilla commented on #9255
@MiYanni Can you please update the label? This is related to Azure Backup

[2019-12-10 08:22] Rajeswari-Mamilla commented on #5641
This has been fixed

[2019-12-10 08:22] #5641 closed

[2019-12-10 08:52] dzempms commented on #10648
Hi, any update on this issue?

[2019-12-10 09:21] ecurti commented on #9533
This a a known issue.
I've tried this workaround and it works!

[2019-12-10 12:22] tomerrt commented on #9694
ack, we're working on supporting that.

[2019-12-10 12:24] blueelvis opened #10686 "Add-AzLogProfile adds bogus locations when specified"
## Description
The `Add-AzLogProfile` does not verify the locations which have been passed to it and happily accepts whatever has been passed to it and returns a successful status which is wrong.

## Steps to reproduce

[code]

## Environment data

[code]

## Module versions

[code]

## Debug output

[code]

## Error output

There is no exception after running the above command.
[code]

[2019-12-10 16:32] jeroenterheerdt commented on #9934
this should have been resolved. closing the issue @lehtope1 do not hesitate to reach out if you need more help.

[2019-12-10 16:32] #9934 closed

[2019-12-10 16:37] panchagnula commented on #10224
@markcowl is there any reason -Force parameter wouldn't work from Devops pipeline.
@ThejaChoudary tried this from cloudshell & local and we are able to successfully use this parameter. Thanks!

[2019-12-10 17:06] panchagnula commented on #9895
@ThejaChoudary good next task to try.

[2019-12-10 17:07] panchagnula commented on #6130
@ThejaChoudary when you get a chance take a look at adding these properties to SetAzWebApp

[2019-12-11 03:58] blueww commented on #10651
@bobbytreed
Do you have any update per my last comments?

[2019-12-11 04:00] blueww commented on #10601
@chinchalupa
I will close the issue since not get any update from you for a long time.
Feel free to contact us if you need any further assistance.

[2019-12-11 04:00] #10601 closed

[2019-12-11 06:45] dingmeng-xue opened #10690 "Support AzureStack for JEDI"

[2019-12-11 07:08] isra-fel commented on #9727
Verified `azure-powershell-common-publish` today. It can build and publish, to both myget and github release.

[2019-12-11 07:10] isra-fel commented on #10677
Verified the pipeline [azure-powershell-common-publish](https://dev.azure.com/azure-sdk/internal/_build?definitionId=709) today. It can build and publish, to both myget and github release.
Closing it.

[2019-12-11 07:10] #10677 closed

[2019-12-11 08:54] dingmeng-xue opened #10692 "Sign .psd1 file during release"
PSD1 file needs to be signed according to compliance. Expected behavior is similar to psm1.

[2019-12-11 09:54] dingmeng-xue opened #10695 "Update ResourceManager version to 2018-06-01"
According to AzureStack requirements, Azure PowerShell needs to upgrade its common module to support version 2018-06-01 including 2018-05-01.

[2019-12-11 14:13] kattamudi-karthik opened #10696 "Not able to build the solution"
Hi Team ,

When I am trying to clone and build the solution facing the below error

**Your project does not reference ".NETFramework,Version=v4.5.2" framework. Add a reference to ".NETFramework, Version=v4.5.2" in the "TargetFrameworks" property of your project file and then re-run NuGet restore.    Commands.Common.Authentication.ResourceManager**

I have seen already reference in each project as

[2019-12-11 19:46] ikiris04 opened #10698 "new-azmangementgroup allows MG creation under tenant without RBAC perms"
## Description
New-azmanagementgroup allows for creation of a management group under Tenant Root even if the user doesn't have any RBAC permissions (such as management group create or owner) on the Tenant Root

## Steps to reproduce

[code]

## Environment data

[code]

## Module versions

[code]

## Debug output

[code]

## Error output

[code]

[2019-12-11 23:11] Am018 commented on #8735
Assigning to ServiceEndpoint owner

[2019-12-12 01:00] afedyashov commented on #9531
Hi @murakest, when AFS Cloud Endpoint is being created - corresponding Az Cmdlet (as well as Portal) would perform storage account permissions setup (RBAC).

It is mentioned in the [Storage Sync Troubleshooting](https://docs.microsoft.com/en-us/azure/storage/files/storage-sync-files-troubleshoot?tabs=portal1%2Cazure-portal#common-troubleshooting-steps) guidance, paragraph “Ensure Azure File Sync h

[2019-12-12 01:34] andyw248 commented on #8753
Feature request to bring Update Mgmt cmdlet to parity with Rest API and portal.

[2019-12-12 01:39] andyw248 commented on #8921
Closing as this is not an SDK issue - this is a backend issue with running Automation jobs. This is tracked by product bugs for fixing these.

[2019-12-12 01:39] #8921 closed

[2019-12-12 01:44] andyw248 commented on #9002
See https://docs.microsoft.com/en-us/azure/automation/az-modules. Replacing AzureRm modules with Az modules by default is in the backlog but not highest priority.

[2019-12-12 01:44] #9002 closed

[2019-12-12 01:56] andyw248 commented on #9172
Change not made by automation team.

[2019-12-12 01:56] #9172 closed

[2019-12-12 02:09] andyw248 commented on #9497
As per the original description, a workaround exists: Get all job schedules first, and then get the parameters for the relevant job schedule with a second get operation.

[2019-12-12 02:09] #9497 closed

[2019-12-12 03:13] dcaro commented on #10673
@Skuldo thanks for submitting the PR, we are considering this change for this sprint.

[2019-12-12 03:15] msJinLei commented on #10696
@kattamudi-karthik Is your question that you cannot build our existing solution or you cannot build your new added solution?
If the first one, this may caused by your local dot framework.
 If the second one, you should use Az.props and no target framework is required specifying explicitly.
[code]

[2019-12-12 03:24] dingmeng-xue commented on #10670
Can this issue be reproduced in Az.Account 2.0.0-preview?

[2019-12-12 03:35] msJinLei commented on #10102
@DanteNahuel We are going to close the issue if no update for this issue for a long time. You can submit a new one when you have further update.

[2019-12-12 03:42] msJinLei commented on #10284
@jopels Could you provde the cmdlet you used to create the resources?

[2019-12-12 03:43] dingmeng-xue commented on #10618
@Sujata-sampa we cannot repreduce this issue in house and are looking forward to your input. Without activity, we will close it in 7 days.

[2019-12-12 03:44] satjinder opened #10700 "Unable to specify the workpsace as a scope for the Action Rule"
Log analytics workspace does not have 9 parts, as expected by the following code:

Workspace name format: "/subscriptions/{subscription-id}/resourceGroups/{resource group name}/providers/Microsoft.OperationalInsights/workspaces/{workspace name}"

https://github.com/Azure/azure-powershell/blob/ea903d3e9dea32bd1ff8ad6dbfec22420cc9c6c2/src/AlertsManagement/AlertsManagement/ActionRuleCommands/SetAzure

[2019-12-12 03:50] #10700 closed

[2019-12-12 05:32] msJinLei commented on #10231
@DanteNahuel We are going to close the issue soon since no update for a long time. If you have further update, you can reply here before it is closed or submit a new one after the current one is closed.

[2019-12-12 05:41] eglibecerra commented on #9141
Has anyone found how to get more than 30 entries?

[2019-12-12 06:28] GitMaggie opened #10703 "Unable to specify the workpsace as a scope for the Action Rule Set-AzActionRule"
## Description
Set-AzActionRule -ResourceGroupName 'xxx' -Name 'xxx' -Scope '/subscriptions/xxx/resourceGroups/xxx/providers/Microsoft.OperationalInsights/workspaces/xxx' -Description 'xxx' -Status 'Enabled' -ActionRuleType 'Suppression' -ReccurenceType 'Weekly' -SuppressionStartTime '01/01/2020 06:00:00' -SuppressionEndTime '12/07/2020 06:00:00' -ReccurentValue 1,4,6  -DEBUG -VERBOSE

The default

[2019-12-12 07:13] dingmeng-xue commented on #10673
Another concern is Name is specific to name of key in KeyVault domain such as Name and VaultName used by KeyGet-AzKeyVaultSecret. New-AzKeyVault using Name as default one may be historic reason.

[2019-12-12 10:24] OlliePythagoras commented on #10670
I get the same result with Az.Account 2.0.0-preview

[2019-12-12 10:56] isra-fel commented on #10259
### SSO test
Case "Account added to cache outside of PowerShell" failed. Here's how to repro:

1. delete cache
1. add a account from another app
1. call `get-azresource`

It errored out with "The default context can no longer be found; please run &apos;Get-AzContext -ListAvailable&apos; to see all available contexts, &apos;Select-AzContext&apos; to select a new default context, or &apos;Connect-Az

[2019-12-12 12:26] murakest commented on #9531
Thank you for explanation.

[2019-12-12 14:23] dhruvmodi13 opened #10704 "No Powershell Command-let for AzureBatch to sync Keys for the Attached Storage Account"
Could not find any PowerShell commandlet for the SyncKeys option which syncs the Azure storage accounts keys in Batch.

https://docs.microsoft.com/en-us/rest/api/batchmanagement/batchaccount/synchronizeautostoragekeys#code-try-0

https://docs.microsoft.com/en-us/cli/azure/batch/account/autostorage-keys?view=azure-cli-latest

Rest API call and CLI commands are present.
Was wondering why PS commands

[2019-12-12 15:37] dingmeng-xue commented on #10686
It is monitor related issue. Require Monitor team for further investigation.

[2019-12-12 16:04] dingmeng-xue commented on #10703
@GitMaggie Could you share scripts in PowerShell you are executing? Error comes from server. It seems target object is no resource group but parameter of cmdlet claims it is a resource group.

[2019-12-12 18:07] amac44 commented on #9141
Can use the [REST API](https://docs.microsoft.com/en-us/rest/api/logic/workflowruns/list#examples) instead, as this is what the cmdlets use under the hood anyway . Until someone improves the cmdlet(s).

[2019-12-12 18:18] rthorn17 commented on #10698
Hi @ikiris04  - This is by design.  Management groups allows for any AAD user to create MGs within a AAD tenant.  This enables customers to start leveraging the benefits of MGs without needing the involvement of the Tenant Admin to give access.  There are checks when moving the subscriptions to see if the user is able to change the parents of the subscriptions.  [https://docs.microsoft.com/en-us/a

[2019-12-12 18:18] #10698 closed

[2019-12-12 18:39] jlian commented on #3268
@anusapan do you know what @rkmanda is referring to in this issue and if it's still valid? Since this is a very old issue

[2019-12-12 18:42] vinyar commented on #9448
I'm on a Mac in powershell and every single time I switch context I have to reauthenticate. 100% of the time. It's very frustrating - the docs outline switching context being a seamless experience, but it doesn't seem to work as intended.

[2019-12-12 19:29] apraovjr commented on #10634
@jfggdl  @thelethalkind PR is already out and fix should be out in the next release.

[2019-12-12 19:45] murdockcrc commented on #7166
I managed to use a workaround with powershell. But if the internal private frontend IP address is already available in the portal and in resources.azure.com, I believe this same value should be retrievable via ARM. I'd suggest for the team to take a look at this and extend the functionality of the ARM RP. Thx.

[2019-12-12 19:55] v-Ajnava commented on #10301
the fix is available in latest release, Relese Notes : https://docs.microsoft.com/en-us/powershell/azure/release-notes-azureps?view=azps-3.1.0

closing the issue.

[2019-12-12 19:55] #10301 closed

[2019-12-13 01:26] GitMaggie commented on #10703
Set-AzActionRule -ResourceGroupName 'rg-mel-npi-austin-1' -Name 'Test-AR' -Scope '/subscriptions/xxx/resourceGroups/xxx/providers/Microsoft.OperationalInsights/workspaces/xxx' -Description 'Test description' -Status 'Enabled' -ActionRuleType 'Suppression' -ReccurenceType 'Weekly' -SuppressionStartTime '01/01/2020 06:00:00' -SuppressionEndTime '12/07/2020 06:00:00' -ReccurentValue 1,4,6

[2019-12-13 01:47] msJinLei commented on #10704
@dhruvmodi13 Thank you for proposal. We will make a plan on it and let you know if any progress.

[2019-12-13 03:15] ToMakeSense commented on #9141
@amac44 No, REST API you mentioned only return up to 30 records, you need use the `nextLink` in the response for more data.
[code]

@eglibecerra  you can put your Query cmdlets in a for-loop to achieve it.

[2019-12-13 03:21] erich-wang commented on #10588
From @markcowl:

-Confirm is an automatic parameter completely handled by PowerShell.  It impacts the display of ShouldProcess prompts without intervention from the cmdlet.

-Force is a parameter that is defined by convention for any cmdlet that also implements ShouldContinue prompts, and avoids the Should continue prompts.

It is entirely expected that settings to the -Confirm parameter have no i

[2019-12-13 03:27] erich-wang commented on #10588
@vexx32, we'll close this issue as by design because of it is recommended implementation by PowerShell team. Please let us know if any concern, or you could raise one discussion with powershell team at https://github.com/PowerShell/PowerShell/issues, thanks.

[2019-12-13 03:33] eglibecerra commented on #9141
Thanks so much :)

[2019-12-13 03:40] bgklein commented on #10704
@matthchr Is there a reason for this?  Is SetBatchAccountCommand meant to fill this role (set  account with same storage account)?

[2019-12-13 04:15] vexx32 commented on #10588
@erich-wang Guidance in the listed article is from 2016. I've not seen a cmdlet introduced since well before that point that implements a `-Force` parameter.

Unlike `-Confirm` and `-WhatIf`, `-Force` is not an automatic parameter that is bundled with `ShouldProcess`. It's a kludge, at best, in my opinion. `ShouldContinue()` is not a necessary method, and -- again, in my opinion -- is best left as

[2019-12-13 05:21] dingmeng-xue commented on #10703
To service team, all examples around Set-AzActionRule are using resource group as scope. No further explanation about scope. If scope can support resource, [this check](https://github.com/Azure/azure-powershell/blob/ea903d3e9dea32bd1ff8ad6dbfec22420cc9c6c2/src/AlertsManagement/AlertsManagement/ActionRuleCommands/SetAzureActionRule.cs#L562) may have problem.

[2019-12-13 06:46] msJinLei opened #10708 "Upgrade reference to azure powershell common from version 1.3.2 to 1.3.4"
## Description
To support new added endpoint, we need to upgrade reference from azure powershell common from 1.3.2 to 1.3.4
## Cost

[2019-12-13 08:35] HQJaTu commented on #7166
As I'm failing to get the addresses after creating ASP and Azure Portal has the IPv4-addresses on newly created ASE without ASP, I'm getting the values from API https://docs.microsoft.com/en-us/rest/api/appservice/appserviceenvironments/getvipinfo.

The obvious problem is to gain access to the required bearer token. As I need the token for other API-calls which are not available as PowerShell cmdl

[2019-12-13 08:52] bergmeister commented on #10588
Yes, I agree with @vexx32 that although this used to be a recommendation from the PowerShell team, the practical experience from various cmdlets (the most famous one being install-module) showed that the original recommendation has some downsides that only showed up over time as functionality of cmdlets grew and I think most people would agree that it's now more of an anti-pattern that should not

[2019-12-13 10:09] isra-fel commented on #10260
## Cannot switch to another port if 8400 is already occupied

When testing the logic of picking ports (in case the port is occupied), I found an issue that azure powershell should print a warning saying something like "port  occupied, trying another one", but instead, when it tried to print the warning, it errored out with:
[code]

Ref:
- https://stackoverflow.com/questions/34407018/c-sharp-powers

[2019-12-13 11:03] kattamudi-karthik commented on #10696
It the first one .

[2019-12-13 15:40] tcsdmaic commented on #10051
Will the runtime parameter support "dotnetcore" as an option?

[2019-12-13 18:08] bgklein commented on #10704
Sorry about the assignment spam. It looks like this API was missed when writing the Powershell commands.We will look to add it when we start our next release cycle.

[2019-12-13 18:24] Francisco-Gamino commented on #10051
Hi @tcsdmaic, the purpose of this parameter was to set the runtime version. However, in the preview version of the [Az.Functions](https://www.powershellgallery.com/packages/Az.Functions/0.0.1-preview) module, both the `runtime name` and `runtime version` are specified via the `Runtime` parameter. These are the values that we support, which get autocompleted for the user: `DotNet, Node_8, Node_10,

[2019-12-13 21:30] JamesWTruher commented on #10588
I think @erich-wang has it right - `shouldprocess` and `shouldcontinue` have distinct uses. ShouldProcess is used for _normally_ state changing operations, but ShouldContinue is set by the developer on operations which are _especially_ sensitive (or destructive). I think our guidance is still valid and the discussion here seems to me suggests that in this case `shouldcontinue` should not be used.

[2019-12-13 22:13] Francisco-Gamino commented on #10604
Make sure we have a way to upgrade to the next version.

[2019-12-13 22:19] Francisco-Gamino commented on #10536
This work item has a dependency on https://github.com/Azure/azure-powershell/issues/10573.

[2019-12-13 22:19] Francisco-Gamino commented on #10547
This work item has a dependency on https://github.com/Azure/azure-powershell/issues/10573.

[2019-12-13 22:27] Francisco-Gamino commented on #10535
This work item has a dependency on #10573.

[2019-12-14 13:23] brunoscota commented on #10034
still happening.

[2019-12-14 14:50] gfurtadoalmeida commented on #9654
I'm having the same problem. I've created the cdn, cdn endpoint and added a custom domain using PowerShell. It fails when trying to enable https for the custom domain.

[2019-12-15 11:03] murdockcrc commented on #7166
I can still repro the error, even though there is already an app service plan and a web app deployed on the ASE. The following Posh command returns empty:

[code]

The same value can be retrieved with azcli successfully. Seems to be indeed a bug in powershell:
[code]

[2019-12-16 02:50] dingmeng-xue commented on #9726
Close it as pipeline is available.

[2019-12-16 02:50] #9726 closed

[2019-12-16 02:57] dingmeng-xue commented on #10443
Close it as pipeline is available.

[2019-12-16 02:57] #10443 closed

[2019-12-16 05:52] msJinLei commented on #10708
https://github.com/Azure/azure-powershell/pull/10709
done

[2019-12-16 05:52] #10708 closed

[2019-12-16 08:15] VeryEarly commented on #9727
close as moved and verified

[2019-12-16 08:15] #9727 closed

[2019-12-16 08:49] #10102 closed

[2019-12-16 08:49] #10231 closed

[2019-12-16 08:53] msJinLei commented on #10696
Can you run this command and paste result here?
[code]

The output should something like
[code]

[2019-12-16 10:03] bufferwolfa opened #10719 "Cannot unregister backup vault container : type "AzureVM""
# Steps to reproduce
![prob3](https://user-images.githubusercontent.com/13571179/70859979-35dff000-1f4e-11ea-808c-d26c331c88b3.PNG)
![prob2](https://user-images.githubusercontent.com/13571179/70859920-42177d80-1f4d-11ea-86fa-080c6fd3b3a6.PNG)
![prob1](https://user-images.githubusercontent.com/13571179/70859921-480d5e80-1f4d-11ea-8001-126bb5df50af.PNG)

# Expected behavior
No Error and show success

[2019-12-16 10:07] kattamudi-karthik commented on #10696
Please find the output below :

.NET Core SDK (reflecting any global.json):
 Version:   3.0.100
 Commit:    04339c3a26

Runtime Environment:
 OS Name:     Windows
 OS Version:  10.0.18363
 OS Platform: Windows
 RID:         win10-x64
 Base Path:   C:\Program Files\dotnet\sdk\3.0.100\

Host (useful for support):
  Version: 3.0.0
  Commit:  7d57652f33

.NET Core SDKs installed:
  1.1.14 [C:\Program

[2019-12-16 12:07] kattamudi-karthik opened #10720 "New Service On boarding"
Hi Team,

We are new to the Azure Powershell repository. We are planning to develop new commands for a service called Region Move Service.  We have questions to set up the solution for the same. For some of the questions we have found in the documentation but some of them we have ambiguity . and for some of the questions, we don't have the answers. Can you please address these questions.

Can you

[2019-12-16 12:09] blueelvis commented on #6292
@rthorn17 @SteveL-MSFT @maddieclayton  - This still hasn't been resolved :(

[2019-12-16 13:19] kratker commented on #10397
I also have the same issue. Is there a known workaround?

[2019-12-16 13:48] darivuki opened #10721 "New-AzOperationalInsightsSavedSearch is missing -FunctionAlias parameter"
## Description of the new feature
I would like to be able to pass in the FunctionAlias to the saved search in the New-AzOperationalInsightsSavedSearch / Set-AzOperationalInsightsSavedSearch cmdlets. It is possible to POST this FunctionAlias using the Azure Monitor REST API: https://docs.microsoft.com/en-us/rest/api/loganalytics/savedsearches/createorupdate, but not with the cmdlet

## Proposed imp

[2019-12-16 13:54] o-l-a-v commented on #10347
Any update on this?

[2019-12-16 14:14] thelethalkind opened #10722 "Set-AzEventHubAuthorizationRule only applying Listen rights, fails with error Assigning 'Manage' to rights requires ‘Listen and ‘Send' to be included with. e.g. @("Manage","Listen","Send")"
## Description
When running Set-AzEventHubAuthorizationRule on an existing access policy on an event hub in an event hub namespace, I can't apply "Listen" only rights.  I've tried "Send", "Send, Listen", "Manage, Send, Listen" with no issue.  However just "Listen" errors saying I'm trying to apply "Manage".

## Steps to reproduce

[code]

## Environment data

[code]

## Module versions

[code]

##

[2019-12-16 18:38] KarenHammons commented on #10347
@allegradomel can you help with this one?

[2019-12-16 19:18] jeroenterheerdt commented on #10089
Closing this as it was fixed.

[2019-12-16 19:18] #10089 closed

[2019-12-16 19:21] #8700 closed

[2019-12-16 19:27] justinjstark opened #10723 "Cancel a "Swap with Preview" deployment swap after ApplyConfig"
## Description of the new feature
From #3667. I'd like to be able to cancel a "Swap with Preview" deployment swap after the -ApplyConfig step. This does not appear to be supported with Azure Powershell.

My deployment process is:
1) Create a new deployment slot
2) Deploy to deployment slot
3) Apply production config to deployment slot (swap with preview)
4) Wait for deployment slot to become healt

[2019-12-16 19:28] justinjstark commented on #10723
The current error I get on the next ApplyConfig is:
[code]

[2019-12-16 21:07] justinjstark opened #10724 "webapp: Add health check timeout parameter to Switch-AzureRmWebAppSlot"
## Description of the new feature
There is a default health-check timeout for Switch-AzureRmWebAppSlot (something like 90 seconds). My app takes 4-5 minutes to start so I cannot use it.

## Proposed implementation details (optional)
Add a command line parameter for the health check timeout.
OR Allow setting an app setting on the deployment slot specifying the health check timeout.

[2019-12-16 23:30] dcaro commented on #10588
Thanks @bergmeister for taking the time to open this issue and all for the follow-up discussion. As indicated by @erich-wang this behavior has a by design aspect.

Below you describes how the implementation is done based on the current conventions commonly adopted by PowerShell that we are following for consistency and usability:

-Confirm is an automatic parameter completely handled by PowerShell

[2019-12-16 23:30] #10588 closed

[2019-12-17 00:02] Francisco-Gamino commented on #10534
This issue was fixed when I replaced `CmdletsToExport` for `FunctionsToExport` in `Az.Functions.psd1` file.

After this change, I am getting the expected behavior. See below:

[code]

To fix this for all modules generated from Swagger, the only change required will be in `build-module.ps1`, to put the customer facing cmdlets in `FunctionsToExport` instead of `CmdletsToExport`.

[2019-12-17 02:10] dingmeng-xue commented on #10476
Close it due to schedule of https://github.com/Azure/autorest.powershell/issues/165 is not confirmed.

[2019-12-17 02:10] #10476 closed

[2019-12-17 03:31] msJinLei commented on #10722
@thelethalkind  "Send" is a must-have right. Exception will be thrown without it.

[2019-12-17 05:20] msJinLei commented on #10719
@bufferwolfa  Could you provide the following information?

## Debug output
Set $DebugPreference='Continue' before running the repro and paste the resulting debug stream in the below code block

[code]

## Error output
Please run Resolve-AzError and paste the output in the below code block

[code]

[2019-12-17 05:28] msJinLei commented on #10720
@kattamudi-karthik Could you provide you microsoft email? We can reply you by email

[2019-12-17 05:30] Felivel commented on #9116
@cormacpayne , Do you know if this fix as been released? I am still not able to set the `CustomKeyIdentifier` property on fresh AZ PWSH SDK install.

[2019-12-17 07:07] kattamudi-karthik commented on #10720
my email is kakattam@microsoft.com

[2019-12-17 07:10] kattamudi-karthik opened #10729 "Cmdlets review link"
Cmdlets review link is broken (https://github.com/Azure/azure-powershell-cmdlet-review-pr)
Can you please provide us the exact URL.

![404page](https://user-images.githubusercontent.com/6092656/70972858-6056b800-20ca-11ea-969e-54e164de37d9.PNG)

[2019-12-17 08:03] isra-fel commented on #10260
Sent Bala a test build

[2019-12-17 09:29] dingmeng-xue commented on #10729
@kattamudi-karthik are you from Microsoft or official partners? It's a private repo and you need to apply access permission.

[2019-12-17 09:35] xTeKillax commented on #10680
Hello @msJinLei
Thank's for your reply ! I couldn't get any output from the Resolve-AzError or DebugPreference but here are the other outputs :

### Environment data ($PSVersionTable)

[code]

### Module versions (Get-Module -ListAvailable)

[code]

### C# Part
Also here is how I run the script from C# (simplified)

[code]

[2019-12-17 10:26] kattamudi-karthik commented on #10729
Hi ,

I am internal employee and my alias is kakattam. Can you please let me know in email how to apply access permission .

[2019-12-17 10:30] dingmeng-xue commented on #10729
Resolve it by internal email.

[2019-12-17 10:30] #10729 closed

[2019-12-17 13:44] jacksilverton commented on #10496
Same error here using Az.DataLakeStore 1.2.5.

[2019-12-17 14:04] jopels commented on #10284
@msJinLei Sorry for the late response. The resources actually existed already. In my case these are 'microsoft.insights/metricalerts'. As far as I can see there is no limitation regarding spaces in the resource name if you create them on the Azure portal
![test resource](https://user-images.githubusercontent.com/16117940/71001859-6fdffc00-20de-11ea-87f9-0a3b86d9cab0.png)

[2019-12-17 15:24] stefanstranger commented on #9547
I create a gist on how to remove an Azure Blueprint Definition using the REST API in PowerShell. Check https://gist.github.com/stefanstranger/822e45ca6d815422dd0b756d9c71ec32

HTH
Stefan

[2019-12-17 16:29] thespooler commented on #10587
Is it fixed?
If it is, in what version?
I'm on Az.Resources 1.9.0 and I still get

[code]

[code]

[2019-12-17 17:04] thespooler opened #10733 "New-AzRoleAssignment : Object reference not set to an instance of an object"
## Description

Unable to create a new role assignment with New-AzRoleAssignment. Fails with NullReferenceException.

## Steps to reproduce

[code]

## Environment data

[code]

## Module versions

[code]

## Debug output

[code]

## Error output

[code]

[2019-12-17 22:31] tcsdmaic opened #10735 "New-AzFunctionApp -ErrorAction Stop parameter error"
## Description
I am using the `Az.Functions` module, currently in prerelease (preview).  In my powershell script I am trying to create a new function app like so:
[code]

But when I run this, I get an error:

  Not very helpful, since it doesn't specify what key it's trying to add and where.

So I stepped through it, and realized the issue is in New-AzFunctionApp.ps1, line 335,
`$null = $PSBoundPa

[2019-12-18 05:11] msJinLei commented on #10733
@thespooler Can you ensure the result of Get-AzADServicePrincipal -DisplayName "Some App" is not null?

[2019-12-18 06:42] Akreddy123 commented on #10640
@VeryEarly: By when can we expect this? If there is a workaround using azure APIs, could you please provide?

[2019-12-18 06:43] msJinLei commented on #10735
Thank you for reporting the issue. We will investigate it and let you the progress soon.

[2019-12-18 10:00] hkharan commented on #10733
I also get the same error and the results of Get-AzADServicePrincipal -DisplayName "Some App" is not null

[2019-12-18 13:43] thelethalkind commented on #10722
@msJinLei That is not true, in the portal and through azure cli I can set Listen only SAS policies against an event hub resource.

[2019-12-18 13:48] thelethalkind commented on #10722
I believe this fix maybe related: [https://github.com/Azure/azure-powershell/pull/9548](https://github.com/Azure/azure-powershell/pull/9548)

[2019-12-18 15:15] Ikaro0 commented on #7551
+1

[2019-12-18 16:52] dcaro commented on #9858
The documentation should be updated to include / mention the following command
`New-AzVM -Name myLinuxVM -ResourceGroupName testlinux -Image UbuntuLTS -Location Eastus -Credential (Get-Credential)`
The following articles are good places to start:
https://docs.microsoft.com/en-us/azure/virtual-machines/linux/tutorial-manage-vm
https://docs.microsoft.com/en-us/azure/virtual-machines/windows/quick-cr

[2019-12-18 17:00] Elestriel commented on #10404
Hello!

I can confirm this issue. The only way this Cmdlet works is with -Latest. Without it, or with -EndTime instead, I get:
`Get-AzAutomationDscNodeReport : Value cannot be null.
Parameter name: stringToEscape`

I tried adding a -stringToEscape parameter, but that, unsurprisingly, led to
`Get-AzAutomationDscNodeReport : A parameter cannot be found that matches parameter name 'stringToEscape'.`

[2019-12-18 17:11] dcaro commented on #7800
@MaximoTrinidad thanks for reporting this issue and sorry that it has been sitting for long.
It looks like the function provided has some bugs and we'll have a look soon.

[2019-12-18 19:13] jfggdl commented on #10722
Thanks for creating this issue. The referred fix seem to be related to this problem. We are investigating and we will get back to you soon. Would please confirm that you just wanted to set a policy with Listen privileges?

[2019-12-18 19:18] markcowl commented on #10735
@Francisco-Gamino Looks like this is caused by this line: https://github.com/Azure/azure-powershell/blob/generation/src/Functions/custom/New-AzFunctionApp.ps1#L335  in the case where ErrorAction is already bound.

Can you take a look and provide a fix - short term, it would be correct to simply set this value in the BoundParameters dictionary.

[2019-12-18 19:37] thelethalkind commented on #10722
That is correct, just listen privileges for a policy.

[2019-12-18 20:45] MaximoTrinidad commented on #7800
No Worries!
Thanks for getting back!
:)

[2019-12-18 22:06] xTeKillax commented on #10680
I found that the message "**The Azure PowerShell session has not been properly initialized. Please import the module and try again.**" is most probably returned by the property **IAzureContextContainer DefaultProfile**

Here is the link:
https://github.com/Azure/azure-powershell-common/blob/db33cc2f29dd8453369747eed3a8eb484cd3a992/src/ResourceManager/Version2016_09_01/AzureRMCmdlet.cs#L72

Im stil

[2019-12-18 23:07] dingmeng-xue commented on #10720
Close this issue and further discussion via email.

[2019-12-18 23:07] #10720 closed

[2019-12-18 23:13] dingmeng-xue commented on #10672
@calecarter please share which cloud environment you are using? The public cloud or sovereign cloud

[2019-12-18 23:14] dingmeng-xue commented on #10618
Close it due to inactivity. If there is the same issue, please create a new open.

[2019-12-18 23:14] #10618 closed

[2019-12-18 23:25] dingmeng-xue commented on #10560
We need to get more detail information such as which test cases are impacted, or all.

[2019-12-19 01:44] VeryEarly commented on #10640
Hi @maertendMSFT @edyoung , can you please take look ?

[2019-12-19 03:17] edyoung commented on #10640
Neither I nor @maertendMSFT own the ACI functionality in azure powershell I am afraid. @juhacket may be able to point the way.

[2019-12-19 04:21] anwather opened #10746 "Set-AzAutomationWebhook - add parameter to update Hybrid Worker Group name"
## Description of the new feature
The REST api allows you to specify properties.runOn in the body of a request to update the hybrid worker group for a webhook. The cmdlet should have the same functionality.

## Proposed implementation details (optional)
Add a parameter as below which accepts a string
[code]

[2019-12-19 06:46] msJinLei commented on #10733
You can provide your error & debug output here.

[2019-12-19 08:22] msJinLei commented on #10284
@jopels
- Could you provide detailed steps to reproduce your error?
   For example how you use New-AzResource
- Could you provide the error output & debug output of azure powershell  rather portal?
- I will check whether space is support in azure powershell for resource name.

[2019-12-19 08:44] #10587 closed

[2019-12-19 10:25] msJinLei commented on #10746
@anwather thanks for your proposal. We will evaluate it and let you know if any progress.

[2019-12-19 10:36] msJinLei commented on #10680
@xTeKillax Try import Az.Accounts explicitly
[code]

[2019-12-19 10:40] msJinLei commented on #10696
The .net environment looks OK.
- And then how do you run the build process?
- Do you have any other local change in your local machine?
- what about the other environment information? Please run $PSVersionTable in powershell and paste the output in the below code block

[2019-12-19 10:45] msJinLei commented on #10196
Sorry, which address you emailed to?

[2019-12-19 12:01] varleg commented on #2605
Getting the error in runbook as of 12/19-19

[2019-12-19 14:04] oising commented on #7752
So, there are other far more visible use cases for wanting a `get-access-token` equivalent in the Az powershell module. Only yesterday I was figuring out how to publish an azure sql dacpac in an azure devops pipeline without using a username/password. I needed an access token representing the service connection between devops and azure cloud (it's essentially a service principial in AAD), and I ha

[2019-12-19 14:05] thespooler commented on #10733
It is not null.

[code]

[2019-12-19 16:00] xTeKillax commented on #10680
Hello, @msJinLei
That is exactly what I did and that is the way I import other Azure modules. They seems to load fine, even Az.Accounts, but there is no command found on Az.Accounts.
For Az.Websites for example, I do find the commands

[2019-12-19 18:13] kartikshah9 commented on #9880
@blueww is there a timeline for fixing the above issue in a major release. Request if you can provide an update on the same

[2019-12-19 18:46] kartikshah9 commented on #10651
@bobbytreed can you provide inputs to the above query? if issue is resolved let us know and we will close this issue

[2019-12-19 18:50] calecarter commented on #10672
This was public cloud.   It looks like this only is an issue with Managed Storage accounts that were setup a while ago.  When I create a new storage account and have the KV manage it everything works.  So it appears to be a back compatibility issue.  I have a consistent repro if needed.

From: Dingmeng Xue <notifications@github.com>
Sent: Wednesday, December 18, 2019 3:13 PM
To: Azure/azure-powers

[2019-12-19 19:13] jayaamamidala opened #10750 "Get-AzDataLakeGen2Item : The 'Get-AzDataLakeGen2Item' command was found in the module 'Az.Storage', but the module could not be loaded. For more information, run 'Import-Module Az.Storage'."
I have imported and still facing the same issue

PS C:\WINDOWS\system32> Import-Module Az.Storage
PS C:\WINDOWS\system32> Get-AzDataLakeGen2Item -Context $ctx -FileSystem $filesystemName -Path $dirname
Get-AzDataLakeGen2Item : The 'Get-AzDataLakeGen2Item' command was found in the module 'Az.Storage', but the module could not be loaded. For more information, run
'Import-Module Az.Storage'.
At line:

[2019-12-19 21:08] tcsdmaic commented on #10534
Is it known yet when the Az.Functions module will be "in production", with the inclusion of the other commands that are currently internal (like "Set-AzFunctionApp")??

[2019-12-20 02:18] msJinLei commented on #10750
@jayaamamidala could you provide the following information

## Steps to reproduce

[code]

## Environment data
 Please run $PSVersionTable and paste the output in the below code block

[code]

## Module versions
Please run (Get-Module  -ListAvailable) and paste the output in the below code block

[code]

## Debug output
Set $DebugPreference='Continue' before running the repro and paste the resulti

[2019-12-20 02:57] blueww commented on #9880
It should be fixed in the next major release.
I will raise a PR for warning message before that.

@kartikshah9  BTW, when will be the next major release?

[2019-12-20 03:21] msJinLei commented on #10733
Do you connect AzAcdount before you run new role assignment?

[2019-12-20 03:27] msJinLei commented on #10680
Do you have any problem in using AzAccount in your powershell console? Or this problem only exists  in your code?

[2019-12-20 03:59] jayaamamidala commented on #10750
@msJinLei , Please find output below

PS C:\WINDOWS\system32> $PSVersionTable

Name                           Value
----                           -----
PSVersion                      5.1.18362.145
PSEdition                      Desktop
PSCompatibleVersions           {1.0, 2.0, 3.0, 4.0...}
BuildVersion                   10.0.18362.145
CLRVersion                     4.0.30319.42000
WSManStackVersi