[2016-03-30 19:25] pcgeek86 opened #2036 "Remove-AzureRmResourceGroup -Name parameter is not positional"
[code]

'CS-WebJobs-WestEurope-scheduler'.
At line:1 char:1
+ Remove-AzureRmResourceGroup CS-WebJobs-WestEurope-scheduler -force
+ ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    + CategoryInfo          : InvalidArgument: (:) [Remove-AzureRmResourceGroup], ParameterBindingException
    + FullyQualifiedErrorId : PositionalParameterNotFound,Microsoft.Azure.Commands.Resources.R

[2016-03-30 19:50] markcowl commented on #2033
@akurmi Can you take  a look?

[2016-03-30 19:59] markcowl commented on #2036
@vivsriaus This seems like a really simple fix, can we get it in for the next release?

[2016-03-30 20:47] vivsriaus commented on #2036
@markcowl Agree, this should be in the next release. cc: @ravbhatnagar

[2016-03-31 05:03] Vijayaraghavanl opened #2037 "Add-AzureRemoteAppUser examples Incorrect"
Add-AzureRemoteAppUser KB @ https://msdn.microsoft.com/en-us/library/mt428029.aspx gives incorrect examples.

Below is one of the examples from the KB

PS C:> Add-AzureRemoteAppUser -CollectionName "Contoso" -UserType MicrosoftAccount -UserUpn "PattiFuller@contoso.com"

Please note that there is no parameter "-UserType" instead it is "-Type".

Kindly update the examples please.

[2016-03-31 05:30] pcgeek86 commented on #2036
Please assign to the appropriate milestone. /cc @ravbhatnagar

[2016-03-31 07:00] MikalJ commented on #2033
I'm no longer seeing the problem.

[2016-03-31 09:51] mayurdhingra commented on #290
I've been struggling with the same issue. I don't know why there is no fix for this issue till now.

[2016-03-31 10:33] EmFl opened #2038 "Get-AzureStorageBlobCopyState in different session than the start-azurestorageblobcopy"
Hello,
I find a lot of documentation on using get-azurestorageblobcopy working like t

[code]

This works fine. However, if you lose that powershell session, how can I get back the state of the copy ?
At this time the only thing I can do is a get-azurestorageblob and check if the last modified time stops moving to consider the copy as done.

I've tried

Get-AzureStorageBlobCopyState -Container  $d

[2016-03-31 11:00] EASTMANDEM commented on #639
Are there any workarounds? I'm trying to write all my scripts in ARM and I just want to test for the existence of a site before I create it. Is Azure still in beta or what?

[2016-03-31 11:59] bunceg commented on #290
I think it's because these scripts are probably going to be deprecated. ARM is way forward and there is a "hidden" ARM script to create service bus namespaces now

[2016-03-31 16:50] OJDUDE commented on #1929
Hello,
I will be making an update to add this to the RM version of the cmdlets.

[2016-03-31 20:45] hovsepm opened #2039 "Add-AzureAccount fails if user has subscriptions in disabled state that does not contain AADTenantID field in server response"

[2016-03-31 21:42] EmFl commented on #2038
It turns out I can do this :
Get-AzureStorageBlob -Prefix "myprefix" -Context $DestinationContext -Container "mycontainer" | Get-AzureStorageBlobCopyState
and it works :

[code]

But I can't do this :

[code]

bug ?

[2016-04-01 02:22] blueww commented on #2038
Hi EmFI,

The "-blob" parameter in Get-AzureStorageBlobCopyState cmdlet is used to set the blob name, and it will be taken as a string. (You can see it by run "get-help Get-AzureStorageBlobCopyState -full")
You need to use "-CloudBlob" to set the blob object.

Following cmdlets works on my side, you can try it:
[code]
(As the $blob object already contains container and context information, you don

[2016-04-01 04:46] EmFl commented on #2038
Thanks it works, however I had to specify the context using -context otherwise I would get this :
Get-AzureStorageBlobCopyState : Could not get the storage context.  Please pass in a storage context or set the current storage context.

Sorry for the issue opened by mistake.

[2016-04-01 04:46] #2038 closed

[2016-04-01 06:45] v-zhongz opened #2042 "Set-AzureRmNetworkInterface fails"
Our CloudFoundry customers want load balancers to balance both public ip addresses and private ip addresses.

So we created two load balancers, public and internal.

After the NICs were successfully added to the backend address pool of the public LB,
we used following commands to add a NIC to the internal LB:
[code]

Then got following error messages:
[code]

According to the messages, though igno

[2016-04-01 15:42] m-moris opened #2043 "Get-AzureRmVirtualNetworkGatewayConnection got authorization error with custom roles."
I'm trying to define custom roles in RBAC. For example, I'd like to permit a minimum of authority for `Get-AzureRmVirtualNetworkGatewayConnection` command and I tried these steps.
1. Define following action in custom role.
   `
   "Microsoft.Network/virtualNetworks/read"
   `
2. Execute `Get-AzureRmVirtualNetworkGatewayConnection` commnand.
3. Got following error.
   `
   Get-AzureRmVirtualNetwork

[2016-04-02 20:50] ronbok opened #2046 "VM Extensions?"
https://blogs.msdn.microsoft.com/azuresecurity/2016/02/24/update-on-microsoft-antimalware-and-azure-resource-manager-arm-vms/

There appears to be a large gap here for VM ARM extensions.  First we need the ability to query a region and get a list of available extensions to be applied to a VM.  Then we need a much simpler method to apply them.  Right now the Portal UI doesn't even have the ability

[2016-04-04 05:59] mkherani commented on #1358
@ivanignatiev. Thanks for using the product. This is known issue. Issue is with Azure table. Azure table doesn't provide case-insensitive search hence we need to pass the Name in correct case to service. To avoid this you can directly pass the Get-AzureVM output to the cmdlet. it will have correct case and will work fine.

[2016-04-04 13:20] pcgeek86 opened #2048 "Positional parameter doesn't work for Login-AzureRmAccount"
This should be a simple fix.

![image](https://cloud.githubusercontent.com/assets/466713/14249182/bc6f55da-fa35-11e5-8b19-47c2275d3b21.png)

Cheers,
**Trevor Sullivan**
https://trevorsullivan.net
https://twitter.com/pcgeek86

[2016-04-04 22:16] jodoglevy commented on #655
Creation of a service principal / service principal certificate, and authentication with it from the Automation service, is now much easier. Please see https://azure.microsoft.com/en-us/documentation/articles/automation-sec-configure-azure-runas-account/ for more details.

[2016-04-04 22:16] #655 closed

[2016-04-05 01:55] EmmaZhu commented on #1930
@quoctruong
You can specify to use https protocol to make transfer more secure like following:
`$ctx = New-AzureStorageContext -Protocol Https -StorageAccountName *** -StorageAccountKey ***`
`Set-AzureStorageBlobContent -File "sourcefilepath" -Container "containername" -Blob "blobname" -Context $ctx`

[2016-04-06 08:43] tmds commented on #1665
Hi, I created an automation user and I also get `WARNING: Unable to acquire token for tenant 'Common'`. My automation user is not using MFA. I have tried executing `Login-AzureRmAccount` the specifying `-TenantId` and without. I get the same message every time.

[2016-04-06 09:02] EmmaZhu commented on #1371
@bradfulton I've tried several times but failed to get a reproduce. Could you share your storage account name and detailed time (better be UTC time) when you do the operation for us to do troubleshooting with it?

[2016-04-06 09:03] EmmaZhu commented on #1371
@bradfulton I've tried several times but failed to get a reproduce. Could you share your storage account name and detailed time (better be UTC time) when you meet the same issue again to us to do troubleshooting with it?

[2016-04-06 12:54] nicolasbrigodiot commented on #1665
The same powershell commands I use to log in successfully on many VMS do not work on a specific VM, even though all VMs were created based on the same image (so they all have the powershell version etc.).

Also

The exact same commands work fine on all my other VMs... Any advice?

[2016-04-06 13:35] SimonT-STHS commented on #1665
Hi.

I have the same issue. When an account has permission on multiple subscriptions, if you only run Add-AzureRmAccount and Save-AzureRmProfile, the Profile Save by the Save-AzureRmProfile is not completed. After, when you load this profile, you can’t loop throw AzureRmSubscription with the Select-AzureRmSubscription command.

In my case, the workaround has to save connect to Azure (Add-AzureRmAc

[2016-04-06 13:57] nicolasbrigodiot commented on #1665
In my case, my account only has access to one subscription.

[2016-04-06 15:33] Pradebban commented on #2009
@pomortaz With no plans in place, should i assume its not going to make it for at least 2 years ? Can someone give a timeline on when a plan would be in place. We need to convey the same to the customer

[2016-04-06 20:37] Aendapally commented on #1944
Export-AzureVM was failing for me so I have got the config XML file by Get-AzureVM -ServiceName foo -Name bar | ConvertTo-Xml).Save("c:\output-file.xml") and after that ----
Import-AzureVM is not working.. any suggestions on this ?

PS C:\WINDOWS\system32> Import-AzureVM -Path c:\temp\VM.xml
Import-AzureVM : There was an error reflecting type
'Microsoft.WindowsAzure.Commands.ServiceManagement.Mode

[2016-04-06 20:37] Aendapally commented on #1944
PS C:\Users\akhileshwar\Desktop> Import-AzureVM -Path 'C:\Users\akhileshwar\Desktop\HAYSTATTC02.xml' | New-AzureVM -ServiceName 'Activate-Test-Public' -Location 'East US'
Import-AzureVM : There was an error reflecting type 'Microsoft.WindowsAzure.Commands.ServiceManagement.Model.PersistentVM'.
At line:1 char:1
+ Import-AzureVM -Path 'C:\Users\akhileshwar\Desktop\HAYSTATTC02.xml' | ...
+ ~~~~~~~~~~

[2016-04-06 20:40] singhkay commented on #1944
This was fixed in #2045. Please give it a try and let us know.

[2016-04-06 20:40] singhkay commented on #1945
This was fixed in #2045. Please give it a try and let us know.

[2016-04-06 20:40] #1945 closed

[2016-04-06 21:15] singhkay commented on #1944
Reopening since this is still broken. @hyonholee Can you take a look?

[2016-04-06 21:18] #1944 closed

[2016-04-07 01:44] AbelHu commented on #2042
Ping

[2016-04-07 09:12] MikalJ opened #2065 "Feature request: Query status of sql server deletion operation"
When deleting a sql server via powershell (or the portal) success is indicated fairly quickly, and the sql server disappears from all listings (including Get-AzureRmSqlServer cmdlet). However in reality it seems the sql server has just been queued for deletion. A process which it seems can take upwards to 15 minutes.

This is evident if you attempt to create a new sqlserver with the same name.
New

[2016-04-07 12:20] tbrowningcds commented on #1812
I am getting the same error when I use New-AzureRmVirtualNetworkGatewayConnection.

[2016-04-07 15:01] Dicoz commented on #1812
Same issue on:
OS: 7 64-bit
PS: 4      0      -1     -1
Azure module: 1.0.5

[2016-04-07 16:23] nicolasbrigodiot commented on #1665
Ok so it turned out that in my case it was the DNS of my server that was wrong. My server was unable to resolve addresses and I found it out by upgrading Azure Powershell from 1.1.0 to 1.3.0. In 1.1.0 I was getting that error I mentioned previously (Provided subscription does not exist) and in 1.3.0 the error was slightly more helpful (something along the lines of "cannot resolve login.microsofton

[2016-04-07 17:53] Blackbaud-PaulSebestyen opened #2067 "Unable to use Get-AzureRmResourceGroup in Azure automation using service principal"
I can't seem to get Get-AzureRmResourceGroup to work in Azure automation when using the service principal credentials.  My code:

	$azureCred = Get-AutomationPSCredential -Name '<CredentialName>'

	Login-AzureRmAccount -Credential $azureCred -ServicePrincipal -TenantId '<TenantID>'

	Get-AzureRMVM		#This works!
	Get-AzureRMResourceGroup -Name '<ExistingRGName>'

This is the error I am getting:

Ge

[2016-04-07 18:27] ravbhatnagar commented on #1975
@philmea - You can use Find-AzureRmResource to enumerate all resources in a resource group. Piping also works for this scenario.

[2016-04-07 18:46] ravbhatnagar commented on #1961
@Pradebban - If I specify a Sku for the IOT hub, the hub gets created successfully.
 New-AzureRmResource -ResourceName IotHubSample111 -ResourceType Microsoft.Devices/IotHubs -ResourceGroupName test111 -Location EastUs -Properties @{Location="EastUS"} -SkuObject @{name="s1"; tier="standard"; capacity="1"} -Debug

[2016-04-07 19:22] Pradebban commented on #1961
@ravbhatnagar - Thanks, But the error is misleading and has no mention that the -SkuObject missing

[2016-04-07 21:31] ravbhatnagar commented on #1961
Agreed that the error message is not helpful. I will see what we can do to improve in this scenario. II will update the title to accurately reflect what needs to be fixed.

More info - SkuObject is not a required parameter and so the cmdlet does not fail for that reason. It happens that the Sku seems to be required when creating a resource of this type. In most cases we should return the error we

[2016-04-07 21:35] ravbhatnagar commented on #397
#726

[2016-04-07 21:40] ravbhatnagar commented on #230
Similar to #726 , #397 . Moreover querying through tags in not supported in the Find-AzureRmResource* cmdlets. There is a related bug on that too.

[2016-04-07 22:12] ravbhatnagar commented on #425
Both the above issues have been fixed.

[2016-04-07 23:51] pomortaz commented on #2009
@Pradebban, there is no plan, timeline or discussion on supporting premium vault in China.

[2016-04-08 00:47] hovsepm commented on #2067
@Blackbaud-PaulSebestyen please run following cmdlet after the failure and post here results.
[code]

[2016-04-08 14:32] Blackbaud-PaulSebestyen commented on #2067
Name: AzureRM.Compute

Name                                                         Path
----                                                         ----
AzureRM.Compute                                              C:\Modules\User\AzureRM.Compute\AzureRM.Compute.psd1
d1

   Name: AzureRM.profile

Name                                                         Path
----

[2016-04-08 23:53] ravbhatnagar commented on #1840
This is an RP bug and not an ARM bug. Service needs to be fixed.

[2016-04-11 08:56] websolut opened #2074 "Unable to deploy an ARM template with a reference to keyvault secret"
When trying to deploy a template file with a parameters file referencing a keyvault secret via powershell we are getting this error:

InvalidDeploymentParameterValue: The value of deployment parameter 'adminPassword' is null. Please specify the value or use the parameter reference. See http://aka.ms/arm-deploy/#parameter-file for details.

CLI can deploy the template without any issues.

[2016-04-11 17:26] gregjhogan opened #2075 "Add cmdlet to create runbook webhook"
Please add a way to programatically create runbook webhooks

[2016-04-11 17:29] gregjhogan commented on #2075
My bad, found it:
https://msdn.microsoft.com/en-us/library/mt574326.aspx

[2016-04-11 17:29] #2075 closed

[2016-04-11 17:45] wbrophy commented on #1316
1.       Create the VM using the image (with JoinAD previously applied)
2.       Start the VM
3.       Remove the "JoinAD" Extension from the VM (Can be done in RM Portal)
4.       RDP to the Internal IP Address of the VM and log in using the appropriate credentials
5.       On the VM - Navigate to:
     a.       C:\WindowsAzure\Logs\Plugins
               i.      Delete
                         1

[2016-04-11 18:00] gregjhogan opened #2076 "Incorrect error reported by New-AzureRmAutomationWebHook"
If I attempt to create a webhook for a runbook and I specify an invalid runbook name
[code]

I get the following error:
[code]

The automation account does exist, but the runbook does not, so the error is misleading.

[2016-04-11 18:42] ravbhatnagar commented on #2074
Which version of PS and CLI are you using? Two things to check from PS-
1. Can you retrieve the value of the admin password using Get-AzureKeyVaultSecret
2. When you set the access policy on the keyvault, did you enable it for deployment and template deployment.

If you run your deployment with a debug switch, we can have some more details to debug this issue.

[2016-04-11 21:12] CaryJ opened #2080 "Start-AzureRmHDInsightJob won't accept query with quotes"
The following query string worked with Start-AzureHDInsightJob.

[code]

When I try to use it with Start-AzureRmHDInsightJob I get the exception

`Start-AzureRmHDInsightJob : {"error":"Passed in parameter is incorrectly quoted: ..."}
`

I'm attempting to call it now as follows:

[code]

[2016-04-11 21:16] androidtopp commented on #1316
@wbrophy, I need to go through and try again with your steps, but I think you're basically removing more files than I am (or, rather, more files than are automatically removed, since I did not manual removal steps) and maybe going through an extra reboot cycle. Could it be that the extension is detecting the presence of specific files and assuming it's already installed?

[2016-04-11 21:25] wbrophy commented on #1316
Not my extension - so I don't know what is really going on behind the scenes.  The extra reboot cycle......I think it's cleanup  .....or I'll just call it something that seems stabilizing......  I don't know.  All I know is - I ran through the 10 step program and was able to successfully remove and reapply the extension.....jumping through hoops - but Azure RM has been an obstacle course.

[2016-04-11 22:32] CaryJ opened #2081 "Start-AzureRmHDInsightJob won't accept query from file"
In attempting to work around another issue, I thought I'd try reading a query from a file instead of passing it in as a parameter.  But, I get a null exception.

[code]

Note that I've tried utf8 encoding and the default, with no difference.

[code]

[2016-04-12 06:23] tellotim commented on #1316
FYI, How to fix the ADJOIN custom extension issue when rebuilding an image.

Regards,
Cuauhtémoc Timo Tello
Infrastructure Platform Services
Hilti Befestigungstechnik AG
Grünaustrasse 1A
9470 Buchs, SG Switzerland
P +423 234 3036 I F 918-461-6632 I  M +41 78 637 4469
E Timo.Tello@Hilti.com<mailto:Timo.Tello@Hilti.com>
www.Hilti.com<http://www.hilti.com/>

From: wbrophy [mailto:notifications@github

[2016-04-12 09:02] websolut commented on #2074
Thanks for looking into this.
1. The version was 1.1 and 1.2. We upgraded to 1.3 and seems it is fine.

2. Checking the properties of the keyvault:
SKU                              : Standard
Enabled For Deployment?          : True
Enabled For Template Deployment? : True

[2016-04-12 09:02] #2074 closed

[2016-04-12 13:22] GamerLivingWill opened #2085 "Please Update New-AzureRmAutomationModule to Allow Upload From Local Source"
The New-AzureRmAutomationModule appears to only take a URI (-ContentLink) location to upload zipped modules from.  Can we please get an update to allow an upload from a local directory (-Path)?  You are currently able to do this from the Azure Automation DSC UI.

Many thanks!

[2016-04-12 13:33] one-harsh opened #2086 "Issue with resource group being fetched when the resource group name is same across subscriptions."
When there are multiple subscriptions under an account and there is a resource group whose resource group name is same across these, no matter what the default or current subscription is, in Azure Powershell, the resource group fetched on `Get-AzureRMResourceGroup` is always from the first subscription fetched by `Get-AzureSubscription`.

[2016-04-12 13:42] pcgeek86 opened #2087 "Test-AzureRmResourceGroupDeployment doesn't support -TemplateParameterObject parameter"
The `Test-AzureRmResourceGroupDeployment` command  doesn't support the `-TemplateParameterObject` parameter. This should be added, in order to be consistent with the other template deployment commands.

[2016-04-12 13:49] pcgeek86 commented on #2087
Disregard -- I missed the parameter somehow.

[2016-04-12 13:49] #2087 closed

[2016-04-12 13:55] wbrophy commented on #1316
@tellotim - So the steps worked for you as well?

[2016-04-12 15:06] tellotim commented on #1316
@wbrophy I hope to test this next week. I'll send an update as soon as I get a chance to test. Thanks.

[2016-04-12 15:57] pcgeek86 opened #2088 "Can we refrain from creating global variables?"
https://github.com/Azure/azure-powershell/blob/8bcf538af27c06588bf75854a99c309a43b21744/src/ResourceManager/Profile/CheckVersions.ps1

[code]

[2016-04-12 15:58] pcgeek86 commented on #2088
@markcowl @ravbhatnagar Please advise.

[2016-04-12 17:06] pcgeek86 opened #2089 "New-AzureRmResourceLock: Useless help for -LockLevel parameter"
![image](https://cloud.githubusercontent.com/assets/466713/14468797/9697e7ea-009e-11e6-83c8-86487e81aa0d.png)

`New-AzureRmResourceLock`

[2016-04-12 18:04] bmoore-msft opened #2090 "installation duplicates entries in PSModulePath (which breaks DSC)"
Installing the cmdlets appends a duplicate entry for one of the paths in the PSModulePath.  When duplicates are present DSC cannot find modules in that path and the duped entry is the default location for DSC modules.  For example, before install I have:

C:\Users\bmoore\Documents\WindowsPowerShell\Modules;**C:\Program Files\WindowsPowerShell\Modules**;C:\Windows\system32\WindowsPowerShell\v1.0\Mo

[2016-04-12 18:18] ravbhatnagar commented on #2086
Which version of PS are you currently on? Can you run Get-Module or Get-InstalledModule to verify the version of AzureRm.Profile and AzureRm.Resources?

[2016-04-12 18:38] ravbhatnagar commented on #2067
It is not clear from above which version of AzureRM, AzureRm.Profile and AzureRm.Resources do you have on your machine? Can you please verify and let us know the version with Get-InstalledModule?

[2016-04-13 00:02] alexandair commented on #2090
It's hard to believe we still have an issue with PSModulePath. :-1:
One more reason for WebPI and .msi to install to proper paths (like Install-Module) instead of modifying PSModulePath.

[2016-04-13 00:30] ravbhatnagar opened #2093 "Resource type and resource name should not be a valid Parameter set for Get-AzureRmResource"

[2016-04-13 13:38] Blackbaud-PaulSebestyen commented on #2067
@ravbhatnagar - this is in **AzureAutomation**, not locally

[2016-04-13 15:29] pcgeek86 opened #2097 "Get-AzureRmResourceGroupDeploymentOperation doesn't offer useful help"
![image](https://cloud.githubusercontent.com/assets/466713/14499113/280e46f4-015a-11e6-95ff-816e63bed708.png)

[2016-04-13 15:40] pcgeek86 commented on #726
@ravbhatnagar @bmoore-msft Will we see this in the May 2016 release?

[2016-04-13 17:21] ravbhatnagar commented on #726
@pcgeek86 This is definitely one of the top items on the list for the May release.

[2016-04-13 18:11] Stijnc commented on #2067
I see that you are using the add-azureRmaccount using serviceprinciple and credentials.
Currently the cmdlet uses the credential store, wich is not available in azure automation. if using a service principle you need to authenticate using a certificate.
see issue #655 . the issue is marked as closed, as a workaround is provided.

[2016-04-13 22:33] colemickens commented on #639
Is there any update on this issue?

[2016-04-13 23:02] colemickens opened #2100 "Should we have AzureRM* aliases for data plane cmdlets?"
Where are the commandlets related to Storage containers?

Where is an example of "here's how to upload a blob to a ARM storage container"?

[2016-04-13 23:03] colemickens commented on #2100
Just saw this: https://github.com/Azure/azure-powershell/issues/1908

But that's not really sufficient. Why do I have New-AzureRmStorageAccount but not New-AzureRMStorageContainer available in my current PS session?

[2016-04-13 23:04] colemickens commented on #2100
Moreover,

[code]

[2016-04-13 23:12] colemickens commented on #2100
CC @alexandair

[2016-04-13 23:14] colemickens commented on #2100
https://blogs.msdn.microsoft.com/cloud_solution_architect/2016/01/04/fun-with-azure-storage-and-powershell/

Not cool, discoverable or documented as far as I can tell.

[2016-04-14 00:50] abatishchev commented on #669
Will `Additional Arguments: -enableRule:AppOffline` work for this?

[2016-04-14 01:22] ravbhatnagar commented on #2067
@Blackbaud-PaulSebestyen Can you try the solution mentioned in the article here - https://azure.microsoft.com/en-us/documentation/articles/automation-sec-configure-azure-runas-account/
cc jodoglevy

[2016-04-14 12:30] brentdavid2008 commented on #669
I think so, as long as that's also available as some type of drop down in the build step, so the argument is added to the vNext builds automatically based on that.

[2016-04-14 18:40] mason-mcglothlin opened #2103 "Get-AzureStorageFileContent needs option to disable MD5 checksum checking"
The [Get-AzureStorageBlobContent](https://msdn.microsoft.com/en-us/library/mt603508.aspx) cmdlet has [-CheckMd5](https://github.com/Azure/azure-powershell/blob/dev/src/Storage/Commands.Storage/Blob/Cmdlet/GetAzureStorageBlobContent.cs#L89) parameter to disable checking of the MD5 checksum. However, this option is not present on the [Get-AzureStorageFileContent](https://msdn.microsoft.com/en-us/lib

[2016-04-14 19:10] mason-mcglothlin commented on #2103
Ah, nevermind, it looks like I was using an older version of the tools and this was [already added](https://github.com/Azure/azure-powershell/commit/0c73afe99619d14a7150a715be5cde4144356f17).

[2016-04-14 19:10] #2103 closed

[2016-04-14 21:41] vsilgalis-rise commented on #2067
Seeing a similar issue here with AzureRM.Profile 1.0.6 in AzureAutomation.

When using the default version it was fine, AzureRM.Profile 1.0.3, once I upgraded to 1.0.6 I started seeing this issue:
Unexpected exception: Run Login-AzureRmAccount to login. (Unexpected exception: Run Login-AzureRmAccount to login.)

[2016-04-14 22:03] ravbhatnagar opened #2104 "Update help for New-AzureRmResourceGroupDeployment"
Example shows Template version parameter
Add examples for templateURI and template param object
Verify description text too

[2016-04-14 22:10] ravbhatnagar commented on #308
Works now.

[2016-04-14 22:10] #308 closed

[2016-04-14 22:15] #425 closed

[2016-04-14 22:22] ravbhatnagar commented on #639
No new update, we are still considering a few design options. Please note that we are trying to make it work consistently across the numerous resource providers in Azure. While we get there, you can handle this in user scripts. Albeit hacky but you can do something like below-

$resource = Find-AzureRmResource -ResourceNameContains ravtestws101 -ResourceType Microsoft.Web/sites
if($resource -eq $n

[2016-04-14 22:29] ravbhatnagar commented on #865
@pcgeek86 - Can you please provide more insight into your recommendation here? We do have the option of using the built in PS output formatting options?

[2016-04-14 22:30] ravbhatnagar commented on #906
#639

[2016-04-14 22:30] ravbhatnagar commented on #920
@vivsriaus - Please confirm if its still an issue

[2016-04-14 22:36] ravbhatnagar commented on #1299
Was able to get more feedback on this from the Advisors group. We plan to fix this for May release.

[2016-04-14 22:52] seanbamsft opened #2105 "Key Vault cmdlets fail when run in non-interactive environment"
ADAL fails to get a token for AAD Graph or Key Vault service when the Key Vault cmdlets are run from Azure Automation. The trace logs show:

`Microsoft.IdentityModel.Clients.ActiveDirectory Error: 4 :  AsyncMethodBuilderCore:
System.EntryPointNotFoundException: Unable to find an entry point named 'GetPerAdapterInfo' in DLL 'iphlpapi.dll'.
at System.Net.NetworkInformation.UnsafeNetInfoNativeMethods

[2016-04-14 22:57] seanbamsft commented on #2105
[This change](https://github.com/seanbamsft/azure-powershell/commit/bbbe209f585ba1fd3559293409ec355e29e19b12) appears to fix the issue. Due to the regression risk in changing authentication code, I'll need to test this with a variety of subscriptions, account types, and interactive/non-interactive sessions before submitting a PR.

[2016-04-15 15:58] aizumoff opened #2107 "New-AzureRmADApplication does not support setting ReplyUrls"
I saw in https://github.com/Azure/azure-powershell/pull/1564/files PR that new properties: IdentifierUris , ReplyUrls  were added, but for New-AzureRmADApplication cmdlet only IdentifierUris option was added, not ReplyUrls

We're trying to automate ADApp creation and lack of ReplyUrls forces as to do that manually.
But it's very error prone.

And is it possible to set Policies for AdApp via Cmdlet

[2016-04-15 16:48] mthenot-msft opened #2108 "Feature Request: create a New-AzureRmWebAppCertificate"
In order to authenticate web apps to other Azure Services using AAD, we often use certificate based authentication.
Today, we can add a certificate in /providers/Microsoft.Web/certificates using New-AzureRmWebAppSSLBinding but an AuthN cert is not linked to a valid CNAME/Hostname so although the certificate is uploaded, the cmdlet returns a nasty error.
Looking @ https://github.com/Azure/azure-pow

[2016-04-15 21:50] markcowl commented on #2076
@jodoglevy Joe, can you take  alook at this?

[2016-04-15 21:51] markcowl commented on #2080
@shefaliv can you take a look.

[2016-04-15 21:55] markcowl commented on #2067
@vsilgalis-rise Unfortunately, there are assembly dependency issues that require you to use trhe specific version of AzureRM.Profile with the matching version of the AzureRM.Resources module.  If you update one mnodule to the latest version, you must update the others.

This is a point in time issue, but this is the current advice.

[2016-04-15 21:56] markcowl commented on #2081
@shefaliv Can you take a look?

[2016-04-15 21:57] markcowl commented on #2085
@jodoglevy Can you take a look?

[2016-04-15 22:21] markcowl commented on #2100
@colemickens Documentation in  general is an issue that we are working to resolve.  The difference between Management plane and data plane cmdlets was covered in the v1.0 blog post, but that is just a blog post and is not a substitute for official documentation.

Note that, the storage data plane cmdlets (like ```Get-AzureRMStorageAccount```) actually have a Context property which contains a Stora

[2016-04-15 22:26] markcowl commented on #2100
@colemickens Just to be clear, the idea is that data plane cmdlets use the Azure prefix and Management plane cmdlets use the AzureRm prefix.  It may *not* be clear that creating a container is a management plane cmdlet.  IMO, this is part of the discoverability issue.  It is important that the Storage data plane cmdlets have their own module, so they can be used with both RDFE and ARM cmdlets, but

[2016-04-15 22:29] markcowl commented on #2107
@shuagarw Any chance of adding these properties to the cmdlet?

[2016-04-15 22:32] markcowl commented on #2090
@bmoore-msft @alexandair moving the installation directory so that PSModulePath updates is not required is in plan, and being tracked in #685

 Closing this issue as a duplicate

[2016-04-15 22:32] #2090 closed

[2016-04-15 22:42] alexandair commented on #2100
@markcowl Would aliases help with discoverability? For example, if you introduce New-AzureRmStorageContainer alias, users will get what they expect and you will still have New-AzureStorageContainer in Azure.Storage module (used by both RDFE and ARM cmdlets).

[2016-04-15 22:56] markcowl commented on #2108
@naveedaz can you take a look

[2016-04-15 22:59] shuagarw commented on #2107
@aizumoff Yes. We have it in our task list. No concrete ETA yet.

[2016-04-15 22:59] naveedaz commented on #2108
@akurmi owns Websites powershell cmdlets
Ashish can you take a look?

[2016-04-15 23:59] markcowl commented on #1068
@bmoore-msft Per today's discussion, this is no longer in plan

[2016-04-15 23:59] #1068 closed

[2016-04-16 00:00] markcowl commented on #1308
Fixed see https://azure.microsoft.com/en-us/blog/azure-powershell-1-3-0-gallery-improvements/

[2016-04-16 00:00] #1308 closed

[2016-04-16 19:07] daviderickson commented on #1896
Between this and https://github.com/Azure/azure-xplat-cli/issues/2709 I literally cannot create a keyvault, it would be nice to get this fixed before June.

[2016-04-16 21:51] TravisEz13 commented on #1919
I figured out what happened here.  There was an error when I ran update-azurerm and the profile module was in use in another window.  install-module was called with -force, so it attempted to re-install an already up-to-date module.  The module being in use and a C# module.  It was not able to update it, but it had already deleted some of the files.

As a workaround, I've written my own update scr

[2016-04-18 04:22] colemickens commented on #2100
@markcowl That makes some sense to me, and I sort of inferred as much after getting it working, but it was still confusing, even as someone who sits 30 feet away from the ARM team.

RE @alexandair's suggestion, I don't know if aliases are the right way to go about it, but it would have helped in my case. Even if it immediately errored and pointed me to an external documentation page, that's better

[2016-04-18 06:20] winperec commented on #1896
@markcowl Thanks Mark for response. I hope you will fix that.
because the issue blocks some our automation scenarios.

[2016-04-18 06:58] peterschen commented on #1804
Additionally the current directory should be respected. When I execute the command in `D:\mydscstuff` and use `.\mysuperconfiguration.ps1` I'll receive the same message as Trevor although the file does exist. Using `(Get-Item .\mysuperconfiguration.ps1).FullName` does the trick.

[2016-04-18 07:41] mthenot-msft opened #2109 "2 small "bugs/inconsistency" with Websites / Commands.Websites / Cmdlets / Certificates / NewAzureWebAppSSLBinding.cs"
- If you look at https://resources.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/aname/providers/Microsoft.Web/certificates, one can see that the CertNamePostFixSeparator is a "#" and not a "_" for **Name *_& *_ID** as defined in NewAzureWebAppSSLBinding.cs when the certificate is uploaded via the portal. Shouldn't we be consistent here?
- Again, if a WebApp is in an

[2016-04-18 10:27] pcgeek86 commented on #865
@ravbhatnagar grab the most important properties from the object and emit those formatted as a table, instead of list form. As a general rule, customers don't need the full ResourceId, and just want to see basic user-defined data, such as Resource Group Name, Location, and Tags. This is much more human-consumable in tabular form.

[2016-04-18 15:56] akurmi commented on #2108
Thanks for your feedback @mthenot, we already have this item in our backlog. + @ahmedelnably for visibility.

[2016-04-18 16:07] vsilgalis-rise commented on #2067
@markcowl Looks I missed one of the modules when I was upgrading them (would be nice to get the dependencies across all the libraries).  Thanks for the help.

[2016-04-18 16:43] markcowl commented on #2100
@colemickens @alexandair Will discuss this with the team.  To me, having aliases to AzureRM for all the Azure* data plane cmdlets makes sense, as it allows the user to use whichever prefix makes the most sense to them.  I have to admit that I often type New-AzureRm before tab completion kicks in.

[2016-04-18 16:44] markcowl commented on #2109
@naveedaz Can you take a look?

[2016-04-18 18:32] singhkay commented on #1316
@tellotim @wbrophy @androidtopp @sye79 @VincentK76 @VincentK76 @Vijayaraghavanl @D-DRMZ  Folks a newer version of the extension with a few bug fixes from this thread is now live in "East Asia" region for testing. Can you folks give your scenarios a try there and see if they are working?

[code]

[2016-04-18 20:09] naveedaz commented on #2109
@akurmi  (Powershell cmdlet owner)

[2016-04-18 21:12] akurmi commented on #2109
This is actually by design so that one can easily find out if the cert was uploaded through PowerShell ('_' in the resource name) or portal ('#' in the resource name). That being said, a certificate uploaded through PowerShell should work fine in the portal and vice versa. Are you facing any issues with this naming convention?

[2016-04-18 21:26] mthenot commented on #2109
No, I’m not facing issues, was just wondering why the “#” & the “_”.
What about the trailing info though?
It looks like it’s set to “-“ + if(deployed in ASE) {ASE name + “appse”} + trim($location) + webspace
Why is it different?

From: Ashish Kurmi [mailto:notifications@github.com]
Sent: Monday, April 18, 2016 11:13 PM
To: Azure/azure-powershell <azure-powershell@noreply.github.com>
Cc: Marc Theno

[2016-04-18 21:55] jodoglevy commented on #2076
I can repro this. Will open a bug internally to fix this. Thanks.

[2016-04-18 22:01] jodoglevy commented on #2085
You can use the Azure Storage cmdlets to upload a local module zip to Azure Blob Storage, and then pass the URI to that module in Azure Blob Storage via New-AzureRmAutomationModule.

That said, I will open an internal bug to track this.

[2016-04-18 22:04] jodoglevy commented on #1994
Hi Ben - this is by design. We want to make sure the user consciously considers whether the value they are giving us should be kept secret or not. We don't want users to accidentally forget to include this parameter and end up exposing secrets to our service in plain text.

[2016-04-18 22:04] #1994 closed

[2016-04-19 01:36] ronbok commented on #1494
So this post was made back in December of 2015 and yet the documentation on this cmdlet still has not been updated with even one example:  https://msdn.microsoft.com/en-us/library/mt603772.aspx

[2016-04-19 07:36] Stijnc commented on #2067
@vsilgalis-rise  update-azureRM should do the trick to keep your modules into sync. (http://www.powershellgallery.com/packages/AzureRM/1.3.0 or Install-Module -Name AzureRM ).

[2016-04-19 09:49] slavizh opened #2113 "Get-AzureRmRecoveryServicesVault has spelling error in returned results"
Get-AzureRmRecoveryServicesVault has spelling error in returned results

the cmdlet returns object ResouceGroupName instead of ResourceGroupName

[2016-04-19 12:32] theobolo opened #2114 "[get-AzurermNetworkInterface] on a ScaleSet fails, cannot add a ScaleSet at Backendpool on a LB"
Hello guys,

I'm trying to work with a ScaleSet and the Azure Loadbalancer.
I deployed a cluster with one Master and a ScaleSet for the workers (kubernetes).
On my deployment all the ScaleSet interfaces share the same name : kube-20160413-121210-node-nic

so i tried to work with -VirtualMachineScaleSetName to add the Scale set's NIC to the backendpool.

When i try to do :

[code]

it's not working

[2016-04-19 13:04] theobolo commented on #2114
![sans titre](https://cloud.githubusercontent.com/assets/7281773/14640040/e3442602-063f-11e6-9692-a36329213522.png)

How can i get the NICs separately ?

[2016-04-19 13:17] GamerLivingWill commented on #2085
Thanks for the quick response Joe.  The use case I have would involve customers that are disinclined to publish their custom modules to a location that's publicly viewable and anonymously accessible.  Rather, they would prefer to store their modules in their internal environment and publish directly from there using either a local or UNC path.

[2016-04-19 14:26] tellotim commented on #1316
@wbrophy - I recreated the image based on an existing imaged and followed your steps to uninstall the JSONADDomainExtension, but I ran into an issue during the deployment. The VM fails during deployment and when I check the boot diagnostics I can see the VM sitting at the Settings screen waiting for someone to select the Region, Language, and KB layout (see attachment). Sysprep took ~40 minutes to

[2016-04-19 22:10] jodoglevy commented on #2085
In terms of the ContentLink to the module zip needing to be public, that is not that case. Azure Blob Storage supports SAS links. Using SAS links, you can give temporary, read-only access to a private blob only to those who pass the correct SAS key. For more info please see: https://azure.microsoft.com/en-us/documentation/articles/storage-dotnet-shared-access-signature-part-1/

[2016-04-19 23:56] ericgrover commented on #2108
Is there a REST API endpoint we can use to do this in the meantime?  I don't see the REST api documentation for web apps online anywhere right now.

[2016-04-20 00:38] markcowl commented on #2114
@DeepakRajendranMsft Can you take a look?

[2016-04-20 01:08] markcowl commented on #2088
@pcgeek86 Will do.

[2016-04-20 05:54] antmeehan opened #2120 "New-AzureRMResourceGroupDeployment fails with DeploymentNotFound for nested deployment"
We have a fairly complex set of linked ARM template deployments, which we use `New-AzureRMResourceGroupDeployment` to deploy (both locally and in Visual Studio Team Services).

We've started getting fairly regular failures while deploying:

[code]

The deployment resource `createbusbooking-0.0.194.0` definitely exists, and even succeeds despite `New-AzureRMResourceGroupDeployment` throwing this ex

[2016-04-20 06:17] ravbhatnagar commented on #1299
@pcgeek86 @MaxTrinidad - Below is the proposed output from the Get-AzureRmLocation cmdlet -
Location - Name of the region (EastUS)
Display Name - Display Name of the region (Ex- East US)
Providers - Lists of resource providers supported in that region (ex- Microsoft.Web, Microsoft.Sql etc.)

Please let me know if this is reasonable.

[2016-04-20 09:20] mtowse commented on #771
It hangs for me also using this example.

https://azure.microsoft.com/en-gb/documentation/articles/hdinsight-hadoop-create-linux-clusters-arm-templates/

[2016-04-20 12:58] mthenot commented on #2108
Well I have been trying 2 alternative options, only one working.

1.      Use New-AzureRmResource.
I can create the certificate but I haven’t found a way to link it to the correct web app ☹

2.      Use New-AzureRmWebAppSSLBinding
It works but I have to suppress warning & error.

function New-CertificateName {
      param(
<# to be used only with method
#>
            [Parameter(Mandatory = $True)

[2016-04-20 16:20] pcgeek86 commented on #1299
Yes

[2016-04-20 16:49] markcowl commented on #2120
@antmeehan If you set ```$DebugPreference="Continue"``` before running the failing script, this should provide additional debugging information, including the traffic between client and server, which will tell us if we're getting throttled.

@vivsriaus Anything else we can do to take a look?

[2016-04-20 17:06] pcgeek86 opened #2121 "Get-AzureRmResourceProvider -ProviderNamespace parameter should be [string[]] instead of [string]"
![image](https://cloud.githubusercontent.com/assets/466713/14683411/d818f4b2-06e7-11e6-9048-5c5cea2471b7.png)

Cheers,
**Trevor Sullivan**
Microsoft MVP: PowerShell
https://trevorsullivan.net
https://twitter.com/pcgeek86

[2016-04-20 18:04] pcgeek86 opened #2123 "Formatting issue with template deployment output"
As you can see in the screenshot, longer property names on ARM JSON Templates are causing the output from a Resource Group deployment to get formatted incorrectly.

![image](https://cloud.githubusercontent.com/assets/466713/14685040/f6664cbe-06ef-11e6-855c-6f5393951d8d.png)

Cheers,
**Trevor Sullivan**
https://trevorsullivan.net
https://twitter.com/pcgeek86

[2016-04-20 18:11] vivsriaus commented on #2120
@antmeehan Can you please help us with these?
1. Ensure you're running the latest version of Azure powershell. I vaguely recall seeing this issue before and fixing it by end of last year. Irrespective, please install the latest Azure powershell and re-try the deployment.
2. If the issue still persists, please send us the actual cmdlet you're running and as Mark pointed out above, please run it wit

[2016-04-20 18:11] ericgrover commented on #2108
Thanks for the tip @mthenot !

[2016-04-20 19:20] DeepakRajendranMsft commented on #2114
Hi @theobolo,

To get a standalone nic that was generated using a scaleset, you would have to use "Get-AzureRmNetworkInterface -VirtualMachineScaleSetName -VirtualMachineIndex -Name -ResourceGroupName"

However, even if you get the NIC, the service does not allow you to modify a NIC that was generated using a VirtualMachineScaleSet. So you cannot add a backendaddress pool to just one of the nics o

[2016-04-20 19:35] akurmi commented on #2108
Once you upload a certificate, you can use 'AzureRmWebAppSSLBinding' command to update the SSL bindings (use -Thumbprint option instead -CertificateFilePath and -CertificatePassword)

[2016-04-20 22:11] cleverguy25 commented on #1812
Same issue on Get-AzureRmApplicationGateway in AzurePs 1.3.0

[2016-04-21 01:21] antmeehan commented on #2120
@vivsriaus We're only seeing this on Visual Studio Team Services, and the agent has:

[code]

We can't upgrade, as the agent tasks are only compatible with that version as far as I'm aware.

I'll try the `$DebugPreference="Continue"` setting now and let you know.

Thanks for your help.

[2016-04-21 06:53] ravbhatnagar opened #2126 "Bubble up nested deployment errors during validate deployment"

[2016-04-21 11:04] theobolo commented on #2114
@DeepakRajendranMsft thx, it's a little bit more clear for me.

BTW i'm not a big expert of the Azure API, do you have an example or something to add all the VMScaleSet NICs using the PUT  VMScaleSet API ?

I also tried to put my Loadbalancer directly inside my Json ARM Template and the result was a "Timeout Deploiement" for the ScaleSet.

Théo

[2016-04-21 17:06] bmoore-msft commented on #2126
Just wanted to clarify what "nested" means - are you talking about bubbling up errors from deployment resources (nested templates) or the details property of an error response?  (we need both :))

It looks like (at least some) of the details also have details...

`{
  "error": {
    "code": "InvalidTemplateDeployment",
    "message": "The template deployment 'storage' is not valid according to the

[2016-04-21 17:09] ravbhatnagar commented on #2126
Yes, the details section is where the preflight validation errors typically end up. We are already bubbling those up, if you don't see this for any case, please let us know.
This was more about the nested templates, which we were not bubbling up.

[2016-04-21 17:28] bmoore-msft commented on #2126
Ok, glad I asked - that case that I pasted in is not being bubbled up.  We catch the first "details" property but not the second.  Here's the PS output:

New-AzureRmResourceGroupDeployment : Error 1: Code=InvalidTemplateDeployment; Message=The template deployment 'storage' is not valid according to the validation procedure. The tracking id is '49adf810-0385-4c10-889a-577e986d7273'. See inner
error

[2016-04-21 20:05] markcowl commented on #2121
@pcgeek86 I like this suggestion.  @vivsriaus thoughts?

[2016-04-21 20:07] markcowl commented on #2123
@pcgeek86 Do you think this would be better in a list format?

[2016-04-21 20:36] pcgeek86 commented on #2123
@markcowl Hmmm, not entirely sure what you're proposing. Do you have an example?

[2016-04-21 20:48] ravbhatnagar commented on #723
@gandhiniraj - Can you please take a look at this?

[2016-04-21 21:55] ravbhatnagar commented on #1980
Couldnt get to it for the May release

[2016-04-22 05:21] avishnyakov commented on #1665
Having the same issue. Inconsistently on various VMs/laptops.
Also, we run various PS scripts under CI and have that issue happening pretty much randomly. Most of the times works, then suddenly stops working.

[code]
What would be the troubleshooting and workaround?
Seems that issue been reported in Jan, yet can't see any suggestions on the resolution.

[2016-04-22 06:19] ravbhatnagar opened #2128 "Unable to suppress the confirmation dialogs when running New-AzureRmResourceGroupDeployment with debug switch"
$ConfirmPreference or $DebugPreference don't work

[2016-04-22 11:18] jberezanski opened #2130 "Do not close running PowerShell processes when installing"
What is the reason for the installer to close the running PowerShell processes?

We have an automated workstation setup solution based on PowerShell. When the Azure Tools are installed (using webpicmd), the Azure PowerShell installer kills all running PowerShell processes, which breaks our configuration workflow and even terminates the Azure Tools installation itself (because the owner of the cons

[2016-04-22 14:54] bmoore-msft commented on #2128
Would like to use the debug output in automation

[2016-04-22 15:25] fabiendibot opened #2131 "New-AzureRMVirtualNetwork fails"
Hello,

I had a script which has been worked peacefully for months, but now i enter this commands
`$Subnet  = New-AzureRmVirtualNetworkSubnetConfig -Name Subnet -AddressPrefix 10.0.0.0/24
$Network = New-AzureRmVirtualNetwork -Name Eru -ResourceGroupName "colVMs" -Location 'West Europe' -AddressPrefix 10.0.0.0/16 -Subnet $Subnet`

I have the following error

Obviously, RG is created :)

Thanks for

[2016-04-22 16:57] mossywell opened #2132 "AzureRM.Network 1.0.8"
New-AzureRmVirtualNetworkGatewayConnection errors with "missing types"

Downgrading back to 1.0.7 fixes the problem.

Apologies, I don't have a screenshot as I close the PS window. However, I got it many times so it is easy to reproduce.

[2016-04-22 17:43] SavindraSingh commented on #68
For me 'GatewaySku' parameter is still not available for New-AzureRmVirtualNetworkGateway Cmdlet.
![gatewaysku](https://cloud.githubusercontent.com/assets/16442754/14749906/c20d37e2-08df-11e6-8212-569b02ac9b29.PNG)

[2016-04-22 18:33] ravbhatnagar commented on #726
Folks - The current usability of tags in ARM PowerShell is not so great. We are planning to improve the experience around how you create a tag object, how its outputted and how it can be updated. I have consolidated the feedback from above. Please provide any feedback on the proposed design. Thanks for your help on this.

**Current Design:**
1. To specify a tag object, I have to do the following-

[2016-04-22 18:46] pcgeek86 commented on #68
@SavindraSingh Make sure you're running the latest version of the module.

[2016-04-22 18:51] bmoore-msft commented on #726
This looks right to me @pcgeek86 should add $0.02.  We should also make sure that the GET will return the same hash table passed in on the SET.  I think that's what you meant but code disambiguates everything :)

[2016-04-22 19:05] pcgeek86 opened #2133 "New-AzureRmVirtualNetwork: -AddressPrefix parameter is non-mandatory"
It should be mandatory

Cheers,
**Trevor Sullivan**
https://trevorsullivan.net
https://twitter.com/pcgeek86

[2016-04-22 19:06] SavindraSingh commented on #68
Yeahh.. I just updated the module from Git hub. Now it is working as expected.

Thank you for the inputs.

[2016-04-22 19:07] pcgeek86 commented on #726
The proposal matches my original proposal.

[2016-04-22 19:18] ravbhatnagar commented on #726
@pcgeek86 - Do I take that as a yes :).
Another thing I would like to point out is that the below will still work -
@{Name='tagName1'; value='tagValue1'} as its still a valid key value pair.
 I guess we will have to give good examples in PS help and update our other documentation to point out how to use tags.

[2016-04-22 19:35] pcgeek86 commented on #726
@ravbhatnagar yes

[2016-04-22 20:07] pcgeek86 opened #2134 "New-AzureRmVM error"
New-AzureRmVm : Parameter 'osDisk.osType' is not allowed.
StatusCode: 400
ReasonPhrase: Bad Request
OperationID : ''
At C:\Users.......ps1:248
char:1
- New-AzureRmVm @NewVm;

[2016-04-22 22:07] markcowl commented on #2130
@jberezanski Sorry for the bad experience.  The reason is that we are deleting modules and updating the PSModulePath.  Open PowerShell sessions could have dlls loaded that would prevent the deletion, and would be in an inconsistent state after install, because they would not have the PSModulePath change.

This is planned for a fix in one of the next two releases, when we change the installation lo

[2016-04-22 22:10] markcowl commented on #2131
@fabiendibot Can you set $DebugPreference="Continue" and execute - this will hopeflully provide some more information on the error.

[2016-04-22 22:11] markcowl commented on #2132
@mossywell Did you install via the msi, did you use ```Install-Module AzureRM.Network```, or did you use ```Install-Module AzureRM```

[2016-04-22 22:12] markcowl commented on #2133
@depakrajendranmsft can you take a look

[2016-04-22 22:13] markcowl commented on #2134
@pcgeek86 Can you include the debug stream messages (which include the server traffic)?

[2016-04-22 22:16] markcowl commented on #2123
@pcgeek86 I'm just trying to get at what the preference would be.  I wasn't sure if this was about the bad spacing or the cut off value for the Uri. If the issue is just that the spacing is incorrect, then disregard.

[2016-04-22 22:44] ravbhatnagar commented on #726
@pcgeek86 @bmoore-msft - Since this will be a breaking change and we don't want to catch any customer off guard, we will add a deprecation message this release and the actual change will ship in the next one. Its unfortunate since we have the PR ready with this change, but we have decided against it for this release.

[2016-04-22 23:14] ravbhatnagar commented on #1368
Change in ownership of this.

[2016-04-23 00:15] markcowl opened #2138 "Add support for Azure German National Cloud"

[2016-04-23 02:38] pcgeek86 commented on #2123
It's just incorrect spacing, that's all. I'm not sure what the best solution would be for this one.

[2016-04-23 02:40] pcgeek86 commented on #2134
@markcowl It's due to the fact that I specified the `Windows` switch parameter on `Set-AzureVMOSDisk`, when it wasn't appropriate. I was creating a new VM from an image, instead of creating one from a "specialized" disk, in which case, this parameter isn't necessary or appropriate.

The error handling / messaging needs to be improved on the Compute provider.

[2016-04-23 08:20] mossywell commented on #2132
Originally, Install-Module AzureRM (which installed 1.0.8). Then,
removed AzureRM.Network
with -Force. Finally Install-Module AzureRM.Network -version 1.0.7 -Force

On 22 April 2016 at 23:11, Mark Cowlishaw <notifications@github.com> wrote:

[2016-04-24 06:51] vinayakmanda1 commented on #634
I am seeing error , what version of ARM i should have ?

PS C:\working> Get-AzureVirtualNetwork
Get-AzureVirtualNetwork : The term 'Get-AzureVirtualNetwork' is not recognized as the name of a cmdlet, function, script file, or operable program. Check the spelling of the name, or if a
path was included, verify that the path is correct and try again.
At line:1 char:1
+ Get-AzureVirtualNetwork
+ ~~~~~

[2016-04-24 20:20] pcgeek86 commented on #634
You're using the classic command. The ARM version is `Get-AzureRmVirtualNetwork`.

[2016-04-25 03:08] craiglandis commented on #1948
It's worse than that. Out of the 23 *Azure*NetworkSecurity* cmdlets (get-command *azure*networksecurity*) only the 3 *-AzureNetworkSecurityGroupAssociation cmdlets have even a single example populated. The other 20 have no examples at all.

These 3 have 1 example each:

get-help Get-AzureNetworkSecurityGroupAssociation -examples
get-help Remove-AzureNetworkSecurityGroupAssociation -examples
get-he

[2016-04-25 04:41] reddaiahnethi opened #2140 "New-AzureRmADApplication is throwing an exception with Powershell deploment from VS 2015"

[2016-04-25 04:46] reddaiahnethi commented on #2140
New-AzureRmADApplication is throwing an error as below, if we deploy Powershell from Visual Studio 2015.
Please see the error details below

New-AzureRmADApplication -DisplayName "AADforOMSExtraction" -HomePage $AADURL -IdentifierUris $AADURL -Password $Password

New-AzureRmADApplication : Unable to cast object of type 'Microsoft.Azure.TokenCloudCredentials' to type 'Microsoft.Azure.Common.Authent

[2016-04-25 16:25] pomortaz commented on #1163
Thanks @jeffwilcox. We tried to addressed this by adding an example of SecretValueText to the MSDN documentation: https://msdn.microsoft.com/en-us/library/dn868047.aspx

[2016-04-25 19:04] ravbhatnagar commented on #726
Moving this to June milestone.

[2016-04-25 19:07] ravbhatnagar commented on #230
We have a PR ready for fixing the usability of tags. This will be addressed as part of that. Since it was a breaking change we have postponed it to June release and added a deprecation message to state about the coming changes.

[2016-04-25 19:07] ravbhatnagar commented on #397
We have a PR ready for fixing the usability of tags. This will be addressed as part of that. Since it was a breaking change we have postponed it to June release and added a deprecation message to state about the coming changes.

[2016-04-25 19:10] ravbhatnagar opened #2141 "Fix the output of Get-AzureRmResourceGroupDeploymentOperation"
1. Show the result as list by default so that it becomes more human readable.
2. Expand all top level properties by default.

[2016-04-25 19:15] ravbhatnagar commented on #309
See if this still repros

[2016-04-25 20:38] ravbhatnagar commented on #723
Fixed in May release.

[2016-04-25 20:38] #723 closed

[2016-04-25 20:50] gandhiniraj commented on #1980
Gaurav is going to get a repro

[2016-04-25 22:11] singhkay commented on #1316
@tellotim @wbrophy @androidtopp @sye79 @VincentK76 @VincentK76 @Vijayaraghavanl @D-DRMZ  Update v1.2 is now available

[code]

[2016-04-25 22:46] vivsriaus commented on #920
Not an issue anymore

[2016-04-25 22:46] #920 closed

[2016-04-25 22:52] singhkay commented on #1978
@olgamatoula When you run sysprep on the VM, it resets the VM back to original state and probably also removes the files needed for provisioning the VM successfully on Azure which is why it doesn't boot back up. I wasn't aware that you can boot the VM back up. Do you have a link to documentation that says it should start back up?

[2016-04-25 22:54] singhkay commented on #2021
@markcowl Can you take a look at @huangpf's suggestion that this comes from base cmdlet?

[2016-04-25 22:55] singhkay commented on #1946
Closing as this was online few releases ago. Thanks for reporting! @philmea

[2016-04-25 22:55] #1946 closed

[2016-04-25 22:56] singhkay commented on #1820
Closing for now as platform needs to support this first.

[2016-04-25 22:56] #1820 closed

[2016-04-25 22:57] #1480 closed

[2016-04-25 22:58] singhkay commented on #387
@huangpf I see you linked PR #1792. Can this be closed now?

[2016-04-25 23:28] singhkay commented on #300
Sorry folks, will have to close this. This was brought up in SDK triage but didn't make the cut for investment due to resource constraints and the need to focus on investing in new RM cmdlet and improvements.

[2016-04-25 23:28] #300 closed

[2016-04-26 02:06] ravbhatnagar commented on #2036
Also fixing this for Get and New.

[2016-04-26 03:46] pcgeek86 opened #2145 "No help for New-AzureRmAppServicePlan"
![image](https://cloud.githubusercontent.com/assets/466713/14806321/256f3eec-0b2f-11e6-8ea3-20c9441a62a7.png)

Cheers,
**Trevor Sullivan**
https://trevorsullivan.net
https://twitter.com/pcgeek86

[2016-04-26 03:47] pcgeek86 opened #2146 "No help for New-AzureRmWebApp"
![image](https://cloud.githubusercontent.com/assets/466713/14806341/4d78af22-0b2f-11e6-95a0-47e042479232.png)

Cheers,
**Trevor Sullivan**
https://trevorsullivan.net
https://twitter.com/pcgeek86

[2016-04-26 03:48] pcgeek86 opened #2147 "No help for Start-AzureRmWebApp"
![image](https://cloud.githubusercontent.com/assets/466713/14806353/664c784e-0b2f-11e6-8a8f-cde75cf8da64.png)

Cheers,
**Trevor Sullivan**
https://trevorsullivan.net
https://twitter.com/pcgeek86

[2016-04-26 03:48] pcgeek86 opened #2148 "No help for New-AzureRmWebAppSSLBinding"
![image](https://cloud.githubusercontent.com/assets/466713/14806362/812c7a1a-0b2f-11e6-96fb-f3a3c3c11bbc.png)

Cheers,
**Trevor Sullivan**
https://trevorsullivan.net
https://twitter.com/pcgeek86

[2016-04-26 03:49] pcgeek86 opened #2149 "No help for New-AzureRmWebAppSlot"
![image](https://cloud.githubusercontent.com/assets/466713/14806368/909828e6-0b2f-11e6-8853-1cf7bcf5fa9e.png)

Cheers,
**Trevor Sullivan**
https://trevorsullivan.net
https://twitter.com/pcgeek86

[2016-04-26 03:50] pcgeek86 opened #2150 "No help for New-AzureRmWebAppBackup"
![image](https://cloud.githubusercontent.com/assets/466713/14806381/abb5f84c-0b2f-11e6-8e37-699bd4828927.png)

Cheers,
**Trevor Sullivan**
https://trevorsullivan.net
https://twitter.com/pcgeek86

[2016-04-26 03:51] pcgeek86 opened #2151 "No help for Reset-AzureRmWebAppPublishingProfile"
![image](https://cloud.githubusercontent.com/assets/466713/14806390/c948a26a-0b2f-11e6-974e-bd28f58fb28c.png)

Cheers,
**Trevor Sullivan**
https://trevorsullivan.net
https://twitter.com/pcgeek86

[2016-04-26 03:51] pcgeek86 opened #2152 "No help for Reset-AzureRmWebAppSlotPublishingProfile"
![image](https://cloud.githubusercontent.com/assets/466713/14806396/db62a61c-0b2f-11e6-9575-7114b2af0258.png)

Cheers,
**Trevor Sullivan**
https://trevorsullivan.net
https://twitter.com/pcgeek86

[2016-04-26 06:05] Rogn commented on #669
+1

[2016-04-26 08:40] antmeehan commented on #2120
I've had this fail with `$DebugPreference="Continue"` now:

[code]

So it doesn't look like rate-limiting. As previously mentioned, the deployment does succeed and I can actually hit that URL using armclient and get a valid response.

`armclient get https://management.azure.com/subscriptions/9e3012dd-f3e1-4d83-****/resourcegroups/au-sdx-integration-apps-dev/deployments/invoicescreated-0.0.1230.0/o

[2016-04-26 08:40] jberezanski commented on #2130
Thanks for the explanation.

I'd much prefer if the installer acted like a lot of other installers do:
1) detect if the files being replaced are actually in use; if not - there is no problem, so do nothing
2) if some files are in use and the installation is interactive, warn the user and present a choice: either the user closes the specified applications or the installer schedules the files to be

[2016-04-26 13:46] rwakefie commented on #1812
Same issue with New-AzureRmVirtualNetworkGatewayConnection on Azure Module 1.3.0

[2016-04-26 21:09] singhkay commented on #96
Closing at this point as we're looking into investing resources on the ARM cmdlets. We'll look into doing something similar for Get-AzureRmVm

[2016-04-26 21:09] #96 closed

[2016-04-26 21:11] #115 closed

[2016-04-26 21:11] #387 closed

[2016-04-26 21:14] #600 closed

[2016-04-26 21:16] singhkay commented on #1982
@matousrokos Completely understand the frustration! Unfortunately, there is currently not an API available that allows us to do this. There are folks working on improving the image/extension APIs at which point we'll be able to deliver a better experience.

[2016-04-26 21:16] #1982 closed

[2016-04-26 21:17] singhkay commented on #2023
Closing as fixed in upcoming (May) release. Please reopen if this is still an issue.

[2016-04-26 21:17] #2023 closed

[2016-04-26 21:17] #325 closed

[2016-04-26 21:23] singhkay commented on #2046
@ronbok Completely understand the frustration! Unfortunately, there is currently not an API available that allows us to do this. There are folks working on improving the image/extension APIs at which point we'll be able to deliver a better experience.

Extensions are documented here https://azure.microsoft.com/en-us/documentation/articles/virtual-machines-windows-extensions-features/

You can add

[2016-04-26 21:23] #2046 closed

[2016-04-26 22:04] TianoMS commented on #1785
This issue is actually about relative path. When we input a relative path (which contains spaces or not), it fails when resolving the path. Fix is checked in.

[2016-04-27 00:01] ravbhatnagar commented on #1221
We should preserve the property names specified by the user. Currently we convert to Pascal case which we should not be doing.

[2016-04-27 00:01] ravbhatnagar commented on #2022
Addressed by #1221 hence closing this one.

[2016-04-27 00:01] #2022 closed

[2016-04-27 00:13] ravbhatnagar commented on #2120
@antmeehan - A related issue on this was fixed. Can you please try and verify this using the latest PS (1.0.7) maybe?

[2016-04-27 00:15] ravbhatnagar commented on #2126
Fixed in May release

[2016-04-27 00:15] #2126 closed

[2016-04-27 00:16] ravbhatnagar commented on #1299
Fixed in May 2016 release.

[2016-04-27 00:16] #1299 closed

[2016-04-27 00:16] ravbhatnagar commented on #488
Fixed in May 2016 release

[2016-04-27 00:16] #488 closed

[2016-04-27 00:16] ravbhatnagar commented on #2141
Fixed in May 2016 release

[2016-04-27 00:16] #2141 closed

[2016-04-27 01:14] antmeehan commented on #2120
@ravbhatnagar We're only seeing this on Visual Studio Team Services, and the agent has PS 1.0.4
We can't upgrade, as the agent tasks are only compatible with that version as far as I'm aware.

We've not seen this on our local machines, using 1.3 (that's what `(Get-Module Azure).Version` returns).

[2016-04-27 03:36] vivsriaus commented on #2120
@antmeehan This was an issue that was already fixed last December. The fix was made to not do a GET on nested deployments before they start running (ARM returns a 404 in this case). The commit for this fix is [here](https://github.com/Azure/azure-powershell/commit/ba086e8e576126a857ef556a34f2ba806d75c6c7).

As you mentioned, this error doesn't appear if you use the latest powershell version, or an

[2016-04-27 06:13] avishnyakov commented on #1542
Same-same, unable to update tags for the giving VM.

Not only a single tag overrides all tags resetting it to one tag only and multiple tags update gives an error but also tags cannot be saved to the VM at all. Simple saying,  Update-AzureRMVm -VM $vm -Tags $tag does not save the value.

[2016-04-27 06:34] huangpf commented on #1542
Add @hyonholee

[2016-04-27 18:23] ravbhatnagar commented on #2104
Fixed May 2016

[2016-04-27 18:23] #2104 closed

[2016-04-27 18:23] ravbhatnagar commented on #2097
Fixed May2016

[2016-04-27 18:23] #2097 closed

[2016-04-27 18:23] ravbhatnagar commented on #2089
Fixed May 2016

[2016-04-27 18:23] #2089 closed

[2016-04-27 18:23] ravbhatnagar commented on #2036
Fix May 2016

[2016-04-27 18:23] #2036 closed

[2016-04-27 18:24] ravbhatnagar commented on #1420
Fixed May 2016

[2016-04-27 18:24] #1420 closed

[2016-04-27 18:24] ravbhatnagar commented on #236
Fixed May 2016

[2016-04-27 18:24] #236 closed

[2016-04-27 19:43] markcowl commented on #2140
@reddaiahnethi This is an issue with VS integration with Azure PowerShell.  The problem is that the token provided by VS cannot be used with the graph API cmdlets, as it has the wrong audience

[2016-04-27 19:54] markcowl commented on #2145
@pcgeek86 the help is here:   https://github.com/Azure/azure-powershell/blob/dev/src/ResourceManager/Websites/Commands.Websites/Microsoft.Azure.Commands.Websites.dll-Help.xml#L297   How did you install?

[2016-04-27 20:07] markcowl commented on #2152
@pcgeek86 OK, it looks like at some point, the dll-Help.xml stopped being copied into the output directory.  Thanks for the heads up, investigating.  Also, this seems to be a cleever way to defeat the static help check.  Will close off that issue as well.

[2016-04-27 20:17] markcowl commented on #2152
@Nking92 It looks like we stopped copying the websites help xml sometime last year (between 1.00-preview and 1.00-preview2).  We need to add this back to the csproj and update the wxi file.  Do you have bandwidth for this today?  Otherwise, I will do it.

[2016-04-27 20:31] Nking92 commented on #2152
I have time to do this today. Should I add something like what's below to the csproj? I'm not 100% sure of what the proper fix is.

` <None Include="Microsoft.Azure.Commands.Websites.dll-Help.xml" /> `

[2016-04-27 20:35] ahmedelnably commented on #2152
adding @akurmi for FYI

[2016-04-27 20:43] pcgeek86 commented on #2145
@markcowl I used the `Install-Module` command on Windows 10 RTM.

[2016-04-27 20:46] pcgeek86 commented on #2152
@markcowl Thanks for checking into this.

[2016-04-27 21:41] MattAllison commented on #685
@markcowl I noticed you closed the issue related to duplicate PSModulePath variables as a "duplicate" of this.  I don't believe that is correct, nor do I believe that removing the reliance on PSModulePath is exactly the same thing.

The simple fact is that the Azure module appears to modify the PSModulePath - inserting a duplicate entry for "C:\Program Files\WindowsPowerShell\Modules".   As stated

[2016-04-27 21:43] markcowl commented on #2152
@Nking92 Yes, with 'Copy If Newer' selected.  Meanwhile I am fixing the bug in the static analysis tools that allowed this to slip through

[2016-04-27 21:44] markcowl commented on #2152
@Nking92 Since this is  a small, targeted fix, it doesn't have to be ready today, we can take this change against the release branch post code complete

[2016-04-27 22:09] markcowl commented on #2145
@pcgeek86 We have the root cause.  Those cmdlets which had help before will be restored.  Will work to add help for new cmdlets in the next release.

[2016-04-27 22:19] pcgeek86 commented on #2145
@markcowl :+1:

[2016-04-28 00:38] kuangweizhang commented on #1773
Please update document for this change:
https://azure.microsoft.com/en-us/documentation/articles/powershell-install-configure/

[2016-04-28 09:00] antmeehan commented on #2120
@vivsriaus We've updated to the latest powershell and it was looking okay, but now we've hit the error again.

[code]

[code]

I noticed in the [commit](https://github.com/Azure/azure-powershell/commit/ba086e8e576126a857ef556a34f2ba806d75c6c7) you referenced that it was ignoring a `BadRequest` (ie 400), but in our case it is actually returning a `NotFound` (404).

[2016-04-28 09:33] weiil opened #2165 "Login failed using Add-AzureAccount with service principal on azure powershell"
** AzureEnvironment: AzureChinaCloud

I created a service principal under my subscription, and attempt to login with it using "Add-AzureAccount", scripts as below:

$ServicePrincipalClientID = "xxxxxx"
$ServicePrincipalTenantID = "xxxxxx"
$ServicePrincipalkey = "xxxxxx"
$securePasswd = ConvertTo-SecureString -String $ServicePrincipalkey -AsPlainText -Force
$cred = New-Object System.Management.Auto

[2016-04-28 15:02] vivsriaus commented on #2120
@antmeehan can you please share the template and the parameters used in this deployment?

[2016-04-28 15:12] antmeehan commented on #2120
@vivsriaus Can I email it to you?

[2016-04-28 15:47] vivsriaus commented on #2120
@antmeehan yes please. Feel free to omit any sensitive information

[2016-04-28 16:33] markpjohnson opened #2167 "SQL Data Warehouse compute usage"
Is there a way to retrieve the current (or average) DWU usage for a SQL DW via Powershell?

From the Azure Portal:

![image](https://cloud.githubusercontent.com/assets/469737/14893444/0c13fb92-0d35-11e6-9ab5-9a9791a2d0bb.png)

[2016-04-28 16:51] androidtopp commented on #1316
@singhkay Is this only available in EastAsia for now? I feel like an idiot, but I can't figure out how to get PowerShell to tell me what the current version of the extension is for a given region.

Thanks,
Andrew

[2016-04-28 17:06] singhkay commented on #1316
@androidtopp Yep, only EastAsia for now for testing. Use this cmdlet below and don't worry it isn't very easy to find this out. Unfortunately that's the way the API is currently designed :( I'm pushing for the API to be simplified.

[code]

[2016-04-28 17:26] singhkay commented on #1384
Update on this, in the upcoming release we worked with the PowerShell team to define a custom format for displaying the output for the Get cmdlets. There are a host of changes to the Get cmdlet returns for VM and VMSS cmdlets. There are still a few oddities with the custom format that need to be cleaned/polished up but this sets the stage for those.

First up, *Get-AzureRmVm* and *Get-AzureRmVmss*

[2016-04-28 17:29] DeepakRajendranMsft commented on #2133
@pcgeek86  Thanks for the feedback. Fixing this now. Will update with PR

[2016-04-28 17:45] pcgeek86 commented on #2133
@DeepakRajendranMsft @markcowl Thanks guys!

[2016-04-28 17:46] pcgeek86 commented on #1384
Thank you!

[2016-04-28 18:21] ravbhatnagar commented on #1221
We are changing the casing on Get. Hence if someone pipes that object to a Set, it will be broken.

[2016-04-28 21:56] jeffpatton1971 commented on #1384
@singhkay This looks neat, and I'm glad you talked with the PowerShell guys. Although I think you may still be missing the point. In your output you appear to be expanding out the properties of nested objects. I'm going to pick on osprofile as it's the first one I have in my example with a nested property.

$VM.OSProfile

ComputerName         : server
AdminUsername        : root
AdminPassword

[2016-04-28 22:43] singhkay commented on #1384
@jeffpatton1971 PowerShell needs to work for a broad set of customers, experts and beginners so it's always a fine line to balance the both. Let's look at some example Q&A

## I want my Linux VM to be secure and only accessible through SSH. Is password authentication disabled?

### Current scenario
The answer would be

1. Run `Get-AzureRmVm -ResourceGroupName <rgname> -Name <vmname>`
2. Look under

[2016-04-28 23:59] #1785 closed

[2016-04-29 00:09] ravbhatnagar commented on #1368
@markcowl - This is now not owned by the ARM team. PAS team owns this (Shubham)

[2016-04-29 00:09] antmeehan commented on #2120
Sorry what's your email address?

[2016-04-29 00:15] ravbhatnagar commented on #1365
This is now owned by the PAS team. @rashidqureshi @shuagarw

[2016-04-29 00:16] vivsriaus commented on #2120
@antmeehan visriniv@microsoft.com

[2016-04-29 01:19] markcowl opened #2174 "Update AzureRM to use RequiredVersion instead of version range dependencies"
- also remove the CheckVersions script

[2016-04-29 12:21] kilasuit commented on #1384
@singhkay - Again you seem to have missed the point completely and let me explain my thoughts why.

As a new user to PowerShell by having to learn early on about the notion of Objects and Object discovery they will become more proficient in using PowerShell and much quicker than if they get "Hand Held" in this manner with the suggested manner.

What you need to do instead of rewriting the output l

[2016-04-29 12:21] damienthiery opened #2175 "Unsuported embedded browser version when login"
Our corporate proxy is filtering http requests by user-agents. IE8 and lowers are blocked for security reasons.
My problem is that the command Add-AzureAccount opens a window for login with an embedded browser with a IE6 user agent !
Is there a way to change this version, or to use my default browser which is IE11 ?

[2016-04-29 13:56] pcgeek86 commented on #1365
@ravbhatnagar What is "PAS?"

[2016-04-29 13:57] pcgeek86 commented on #1368
@ravbhatnagar What is "PAS?"

[2016-04-29 15:03] trondhindenes commented on #1384
I have to agree with @kilasuit on this one. Please look at history, and the disasterous results from every attempt the Azure team has made in coming up with something "new and easy". This is the exact line of thought that lead to the "Switch-AzureMode" fiasco. Please just give us plain PowerShell objects. Look at the object output from a VM in System Center VMM (which is also a very complex type).

[2016-04-29 15:32] pcgeek86 commented on #1384
Honestly, I'm not terribly concerned about this anymore, since I started an external project to simplify formatting of output from the Azure PowerShell module. One of the `format.ps1xml` formatting file that I intend to add is for ARM Virtual Machines. I've already got one for Resource Groups.

https://github.com/pcgeek86/azure-powershell-extensions

[2016-04-29 15:52] pcgeek86 commented on #1384
Tracking the issue here. It's already been fixed.

https://github.com/pcgeek86/azure-powershell-extensions/issues/2

[2016-04-29 15:55] trondhindenes commented on #1384
Nice one @pcgeek86. Tho I'd still like to have correct formatting in-box without any dependencies.

[2016-04-29 16:05] jeffpatton1971 commented on #1384
@pcgeek86 that's amazing, but honestly you shouldn't have to do something like that just to make the azure flavor of powershell...gee...look like powershell.

@trondhindenes makes an excellent point, we appreciate the idea of helping out the new guy but I think the @singhkay is proposing is wrong. help the new guy but fixing the documentation. One of the ABSOLUTE worst things about powershell is t

[2016-04-29 18:59] pcgeek86 commented on #1384
Thanks guys. I've spent so many (multiple hundreds?) of hours giving feedback that gets ignored, that I've taken it upon myself to solve problems. Better to spend the time writing things that work, instead of influencing others to make good decisions, that they ultimately don't make. I'm just shifting my time investment to something that's ultimately more positive, and that's something that @trond

[2016-04-29 20:32] markcowl commented on #1384
@jeffpatton1971 I *think* we have heard this feedback loud and clear. Are you specifically talking about the help documentation?  The msdn reference documentation, or conceptual documentation?

Help documentation is on GitHub now, just not in a form that would encourage anyone to edit it, and this content is actually used for the reference documentation.  At //BUILD, we showed an early version of

[2016-04-29 20:40] markpjohnson opened #2177 "Output class makes data inaccessible"
This script retrieves detailed metrics for an Azure resource.

[code]

But the actual numbers in the `$metricValues` object cannot be accessed because its class (`PSMetricValuesCollection`) doesn't have any accessors for its data and doesn't inherit from `IEnumerable<>` or `IList<>`. The [`PSMetricValuesCollection`](https://github.com/Azure/azure-powershell/blob/dev/src/ResourceManager/Insights/Co

[2016-04-29 21:50] crshnbrn66 opened #2179 "Can't schedule a Job via Azure automation (get-AzureRmAutomationSchedule,new-azurermAutomationschedule, register-AzureRmAutomationScheduledRunbook)"
I have a Azure automation script that I'm using to schedule Azure jobs.

Also Written up here: http://powershell.org/wp/forums/topic/scheduling-azure-rm-automation-schedule/

When I run the script under my own credentials and session it works fine.
When I attempt to use this with a webhook that calls script that then in turn logs in as the user specified. then attempts to run anyone of the followi

[2016-04-29 21:51] jeffpatton1971 commented on #1384
@markcowl I am talking about a number of things, but the effort here seems to be to try and simplify something for users when it's not needed. My solution to this over-simplification of powershell cmdlets is to create more extensive documentation.

Specifically I talking about PowerShell documentation, when this all started with PowerShell v1 the documentation wasn't too bad. There was the regular

[2016-04-29 21:58] crshnbrn66 opened #2180 "get-AzureRmAutomationScheduledRunbook Parameters are blank"
after scheduling a run book and then attempting to get back the passed parameters.  The value for the parameters are blank

get-AzureRmAutomationScheduledRunbook -RunbookName check4alerts -ScheduleName check4alertsadhoc -ResourceGroupName $resoureGroupName -AutomationAccountName $AutomationAccountName

ResourceGroupName     : AzureTesting
AutomationAccountName : AutomationAccountTest
JobScheduleId

[2016-04-29 22:09] jeffpatton1971 commented on #1384
@markcowl let me come back to this and approach it this way. If PowerShell wasn't such an excellent tool, if many of us didn't (quite literally) use it as a source of our livelihood, then we wouldn't have this passion about it. We wouldn't care. You want to output unicorns on the pipe? meh...whatev

But it's an amazing and powerful tool, it's a credit to Mr. Snover and all the programmers who work

[2016-04-29 22:11] ravbhatnagar commented on #1394
@TianoMS lets see if we can get a repro on this.

[2016-04-29 22:16] ravbhatnagar commented on #334
#1167

[2016-04-29 22:16] ravbhatnagar commented on #1167
@TianoMS - Please check with Laveesh on this one. He will have pointers for you.

[2016-04-29 22:19] pcgeek86 commented on #1384
Nicely said, sir. It's because we want to work together to make it to succeed, and invest a lot of personal effort in order to make that happen.

[2016-04-30 00:18] lukeb1961 commented on #1384
Kay have you guys thought about chatting with Bruce Payette to get his feedback?

Luke

Sent from my Windows Phone
________________________________
From: Kay Singh<mailto:notifications@github.com>
Sent: ‎29/‎04/‎2016 8:43
To: Azure/azure-powershell<mailto:azure-powershell@noreply.github.com>
Cc: lukeb1961<mailto:lukebrennan@outlook.com>; Mention<mailto:mention@noreply.github.com>
Subject: Re: [Azu

[2016-04-30 01:46] seanbamsft opened #2185 "RP auto-registration should occur when calls fail in new Azure regions"
RPRegistrationDelegatingHandler automatically handles the case where a customer cannot use an ARM RP due to a missing registration. However, the error message it looks for does not match the one that occurs if they are missing a registration in a new region. That error message looks like:

`New-AzureRmKeyVault : MissingRegistrationForLocation: The subscription is not registered for the resource ty

[2016-04-30 04:03] chevalpartners opened #2186 "HDInsight HBase cluster ARM deployment fails"
I tried creating HDInsight Hbsae cluster using this template.
I am using azure powershell idk 1.3.2

https://azure.microsoft.com/en-us/documentation/articles/hdinsight-hadoop-create-linux-clusters-arm-templates/

This template worked for a spark cluster but failed for a Hbase cluster.

Here is the error message:

statusMessage:{"status":"Failed","error":{"code":"ResourceDeploymentFailure","message

[2016-04-30 15:10] trondhindenes commented on #1384
@singhkay just an additional comment on the examples you've provided above: There's an object attribute called "ProvisioningState", however, the format-table output shows this as "Provisioning State". This is _exactly_ what we're talking about: Design decisions that are not thought thru. I'm pretty sure everyone in this thread agrees with me when I say that formatters that rename the "true" attrib

[2016-04-30 17:21] pcgeek86 commented on #1384
In most cases, yes, I agree with that. There are some rare cases where renaming a property in the formatted output is appropriate, but it should be thought through prior to making a decision.

@trondhindenes

[2016-04-30 18:01] pcgeek86 opened #2187 "Change Import-AzureRmAutomationRunbook -Type parameter value from "Graph" to "Graphical""
The `-Type` parameter on `Import-AzureRmAutomationRunbook` has a value of `Graph` instead of `Graphical`. This should be fixed for consistency of user experience.

![image](https://cloud.githubusercontent.com/assets/466713/14937634/21f3a22c-0ecb-11e6-8efb-d8f47bdcca48.png)

Cheers,
**Trevor Sullivan**
https://trevorsullivan.net
https://twitter.com/pcgeek86

[2016-04-30 18:30] pcgeek86 opened #2188 "-Tags parameter is broken on New-AzureRmAutomationAccount"
1. It's a Dictionary, but should be a HashTable array instead, just like all other ARM resources.
2. Consider keeping `-Tag` or `-Tags` consistent amongst all ARM commands

![image](https://cloud.githubusercontent.com/assets/466713/14937774/0ee34cf6-0ecf-11e6-906a-0bc129f54ceb.png)

![image](https://cloud.githubusercontent.com/assets/466713/14937783/33d26c86-0ecf-11e6-9057-2959f6dd6195.png)

@mark

[2016-05-01 02:34] pcgeek86 opened #2189 "Design problem with ARM Resource Lock commands"
The commands in the `AzureRM.Resources` PowerShell module use the `-LockName` parameter, instead of the `-Name` parameter, thereby making it redundant. Please change `-LockName` to  `-Name`. This is a long-standing principle in PowerShell command design.

![image](https://cloud.githubusercontent.com/assets/466713/14939766/ccf6fa60-0f12-11e6-9d98-91eac9377a8e.png)

Cheers,
**Trevor Sullivan**
https

[2016-05-01 02:43] pcgeek86 opened #2190 "Help issues with Remove-AzureRmResourceLock"
1. Syntax section doesn't mention `-LockName` parameter
2. `-LockName` help is completely missing from help
3. Syntax Section: Some parameters are shown as mandatory, that aren't
4. Parameter help needs more work / clarity

![image](https://cloud.githubusercontent.com/assets/466713/14939805/295cf6c8-0f14-11e6-9ac8-3bccbf17ef1c.png)

Cheers,
**Trevor Sullivan**
https://trevorsullivan.net
https://tw

[2016-05-01 04:12] pcgeek86 opened #2191 "The -LockLevel parameter on New-AzureRmResourceLock shouldn't be mandatory"
This parameter only has **one** value that can be specified, for the time being. Let's make this non-mandatory, and set a default value, instead of making it a mandatory parameter. A rather poor user experience right now, but an easy fix thankfully! :smile: @markcowl

![image](https://cloud.githubusercontent.com/assets/466713/14940040/8cb8c1e6-0f20-11e6-8629-106088c43ba1.png)

Cheers,
**Trevor Sul

[2016-05-02 10:34] hallatore commented on #1736
@hovsepm Any idea of the scope of this? Or any workaround?

[2016-05-02 10:45] vicperdana opened #2192 "Authenticate as service principal with certificate"
Encountered this issue when using the following PS cmdlet (version 1.3.2) to authenticate with cert
Login-AzureRmAccount -CertificateThumbprint $cert.Thumbprint -ApplicationId $appId -ServicePrincipal -TenantId $subscription.TenantId

I got this error instead:
Login-AzureRmAccount : 'authority' should be in Uri format
Parameter name: authority
At line:1 char:1
- Login-AzureRmAccount -CertificateTh

[2016-05-02 14:58] crshnbrn66 commented on #2179
Is this what I need to do to allow for scheduling jobs?
https://blogs.msdn.microsoft.com/cloud_solution_architect/2015/05/14/using-a-service-principal-for-azure-powershell-authentication/

[2016-05-02 18:14] TianoMS commented on #1167
Had a conversation with Laveesh, this requires server side change. I'll look into that.

[2016-05-02 18:51] markcowl commented on #2192
@vicperdana Azure PowerShell requires that the certificate is installed in the Current User or LocalMachine 'My' store (which is obviously not available for a cross-platform cli).

If you have done this and are still seeing issues, please rerun your login with $DebugPreference="Continue" and include the resulting debug log.

[2016-05-02 18:58] gregjhogan opened #2194 "Add Application Insights configuration support"
Please add a way to configure the following attributes of an app insights instance:
* pricing tier
* auto-pay for overage
* proactive detection e-mail notifications
* continuous export configuration

[2016-05-02 19:03] markcowl commented on #2179
@crshnbrn66 Using ServicePrincipal is suggested for automating azure activities in powershell (or any of the Azure SDKs). User authentication will work using PSCredential, but only for OrgID accounts, and only if multi-factor authentication is not turned on for those logins.

Note that there is a much simpler script for setting up service principal certificate authenticatiuon here: https://azure.m

[2016-05-02 19:16] crshnbrn66 commented on #2179
Awesome thank you for the feed back Mark.

[2016-05-02 19:50] markcowl commented on #2185
@seanbamsft That would be an interesting enhancement.

[2016-05-02 19:54] markcowl commented on #2188
@pcgeek86 @jodoglevy We're looking at normalizing the Tags parameters across the AzureRM cmdlets in 2 releases.

[2016-05-02 19:55] markcowl commented on #2189
@ravbhatnagar Can you take a look?

[2016-05-02 19:56] markcowl commented on #2190
@ravbhatnagar Can you take a look?

[2016-05-02 19:56] markcowl commented on #2191
@ravbhatnagar Can you take a look?

[2016-05-02 19:58] markcowl commented on #2175
@damienthiery Which version of the Azure cmdlets are you using?

[2016-05-02 20:12] pcgeek86 opened #2195 "Import-AzureRmAutomationDscConfiguration exception"
- Azure Automation is in GA, not Preview
- DSC Configurations (AFAIK) don't have a "published" state like Runbooks do

Cheers,
**Trevor Sullivan**
https://trevorsullivan.net
https://twitter.com/pcgeek86

[2016-05-02 20:20] pcgeek86 opened #2196 "Import-AzureRmAutomationDscConfiguration Exception: "Invalid argument specified""
[code]

**NOTE**: Needs better validation and error handling when invalid path specified for `-SourcePath` parameter.

Cheers,
**Trevor Sullivan**
https://trevorsullivan.net
https://twitter.com/pcgeek86

[2016-05-02 20:24] pcgeek86 commented on #1803
That's a nice thought, but probably better for the user to make that decision, or at least be consistent between interfaces. If you support it via the Portal, then why not via automation interfaces?

[2016-05-02 20:27] pcgeek86 opened #2197 "Inconsistency :: Start-AzureRmAutomationRunbook has -Wait parameter, but Start-AzureRmAutomationDscCompilationJob doesn't"
# Issue

Start-AzureRmAutomationRunbook has -Wait parameter, but Start-AzureRmAutomationDscCompilationJob doesn't
# Root Cause

Inconsistency between commands managing various job types in Azure Automation.
# Expected Result

Consistency between commands in Azure Automation. Commands that invoke a background job should all share a somewhat similar interface. If `-Wait` is supported on one `Start`

[2016-05-02 20:33] crshnbrn66 commented on #2179
One comment... this command doesn't seem to work but on Windows 10:
$thumb = (New-SelfSignedCertificate -CertStoreLocation cert:\localmachine\my -DnsName com.foo.bar -KeyExportPolicy Exportable -Provider "Microsoft Enhanced RSA and AES Cryptographic Provider" -NotAfter $notAfter).Thumbprint

Because of the KeyExportPolicy param and -NotAfter param switches.  I had to use Makecert.

:)

[2016-05-02 21:06] vicperdana commented on #2192
Just installed the cert in My store (run get-childitem -path cert:\currentuser\my\ to confirm), still rendered the same result. Here's the Debug log.

BUG: 7:02:03 AM - AddAzureRMAccountCommand begin processing with ParameterSet 'ServicePrincipalCertificate'.
DEBUG: Microsoft.IdentityModel.Clients.ActiveDirectory Information: 2 :
DEBUG: 2/05/2016 9:02:03 PM:  - TokenCache: Deserialized 3 items to

[2016-05-02 22:50] markcowl commented on #2174
Fixed in this PR: #2183

[2016-05-02 22:50] #2174 closed

[2016-05-02 22:52] markcowl commented on #2149
Fixed in #2163

[2016-05-02 22:52] #2149 closed

[2016-05-02 22:52] markcowl commented on #2147
Fixed in #2163

[2016-05-02 22:52] #2147 closed

[2016-05-02 22:52] markcowl commented on #2146
Fixed in #2163

[2016-05-02 22:52] #2146 closed

[2016-05-02 22:53] markcowl commented on #2145
Fixed in #2163

[2016-05-02 22:53] #2145 closed

[2016-05-02 22:54] markcowl commented on #2138
Fixed in #2137

[2016-05-02 22:54] #2138 closed

[2016-05-02 22:55] markcowl commented on #1865
Fixed in #2183

[2016-05-02 22:55] #1865 closed

[2016-05-02 22:57] markcowl commented on #2039
Fixed in #2161

[2016-05-02 22:57] #2039 closed

[2016-05-02 23:08] markcowl commented on #2165
### Root Cause
RDFE does not support service principal credentials. Therefore logins will fail

### Proposed Solution
Remove ServicePrincipal related parameter sets from Add-AzureAccount.  This will be a non-breaking change, because these parameter sets cannot work as is.

[2016-05-02 23:11] markcowl commented on #2140
@reddaiahnethi The solution is to log in with standard PowerShell credentials.  Putting on the backlog (no solution expected in next 3 releases)

[2016-05-02 23:14] markcowl commented on #1555
@pcgeek86 This is planned for the *next* blog release, which is targeted for second week of May release.

[2016-05-02 23:14] markcowl commented on #1555
### Cost (work units): 4

[2016-05-02 23:16] markcowl commented on #2088
@pcgeek86 Fixed by: #2183

[2016-05-02 23:16] #2088 closed

[2016-05-02 23:19] markcowl commented on #2034
###Root Cause
No ValueFromPipeline* parameter on the parameter in any parameter set

###Proposed Solution
Add ValueFromPipeline parameter to Profile parameter in all parameter sets
Add mocked unit test coverage to verify

### Cost (work units): 1

[2016-05-02 23:29] markcowl commented on #1889
### Proposed Solution
- Automatically save and read the profile from ~/AppData/AzurePowerShell/defaultprfile.json
- Add a -SessionOnly parameter to Add-AzureRmAccount, Set-AzureRmContext, Select-AzureRMProfile cmdlets which saves the profile only to the current session
- flesh out design details

### Cost (work units): 8

[2016-05-02 23:34] markcowl commented on #1835
### Root Cause
AzureProfile, AzureContext, AzureAccount, AzureSubscription, and AzureStorageContext cannot be deserialized using PowerShell default serialization.  Update properties to use types that are easily PowerShell serializable (remove reliance on dictionaries for hashtables, remove private properties necessary for serialization)

### Proposed Solution
Update the data contract for the profi

[2016-05-02 23:51] markcowl commented on #1665
### Root Cause
The DisplayableId in the token for some tenants does not match the login id.  This causes the token not to be retrieved if we set RequiredDisplayableId as the user identifier type when making calls to ADAL.

### Proposed Solution
- Change AzureContext so that the Account contains a mapping from tenant to user id for each tenant
- Make the saved user id in this mapping a UniqueId and

[2016-05-02 23:55] markcowl commented on #1654
### Root Cause
RDFE cmdlets do not check for null or empty subscription list

### Proposed Solution
Check for no subscriptions in list in ```Add-AzureAccount``` and print a helpful error message like "No subscriptions are associated with the logged in account in Azure Service Management (RDFE).  This means that the logged in user is not an administraotr or co-administrator for any account. Did you

[2016-05-03 00:38] psap opened #2198 "Get-AzureRMTrafficManagerProfile returns Endpoints as string"
**Version: 1.3.2**
# What I am trying to do:  Get the Azure TrafficManager profile and query the status of each endpoint

$profile = Get-AzureRmTrafficManagerProfile -Name "myProfileName" -ResourceGroupName "myResGroup"

$ep = $profile.Endpoints[0]
$ep.endpointStatus
#

I get the profile, but the endpoints are being returned as "Strings" and not as objects. Running my script in debug mode, I am ab

[2016-05-03 00:40] markcowl commented on #1639
### Root Cause
get-azureRmSubscription does not display the name in the current display format.  Update the display format to list both the ID and the name for the subscription (in most cases, the name is more useful to the user)

### Proposed Solution
- Display the Subscription Id and Subscription Name in the context
- Ensure that Subscription Name is populated during Add-AzureRmAccount and Set-A

[2016-05-03 00:42] markcowl commented on #1255
... and moving again.

[2016-05-03 00:48] markcowl commented on #1255
### Root Cause
Common cmdlet code implements this pattern incorrectly.  Pattern is implemented as:
[code]
 which is just wrong.  Need ti implement both standard ShouldProcess and ShouldProcess with additional ShouldContinue+Force implementation.

Notew that also, not enough cmdlets implement ShouldProcess, which will be dealt with separately

### Proposed Solution
- Add common code methods to impl

[2016-05-03 00:54] markcowl commented on #2198
@psap Can you please add in the debug stream messages you captured, this will go a long way toward pinpointing the issue

[2016-05-03 00:58] markcowl commented on #1200
### Proposed Solution
This is dependent on changing the PSAzureProfile type to be serializable #1835

As described by @trondhindenes implement the ```AsJob``` parameter to run a cmdlet invocation in a background job.

### Cost (work units): 4

[2016-05-03 01:06] markcowl commented on #1135
### Root Cause
Common cmdlet does not place ty/catch around cmdlet execution and write exceptions as ErrorRecords, and ProcessRecord is simply throwing an exception.  This also prevents gatrhering good data about exceptions in telemetry.

### Proposed Solution
- Wrap ProcessRecord execution in base cmdlet, and write error records with caught exception details.  terminating errors in ProcessRecord

[2016-05-03 01:12] psap commented on #2198
[debugResponse.txt](https://github.com/Azure/azure-powershell/files/246188/debugResponse.txt)
attached. I have masked some of the subscription details

[2016-05-03 01:12] markcowl commented on #429
### Root Cause
Mismatch in output properties in Get-AzureSubscription and input parameters for Set-AzureSUbscription

### Proposed Solution
- Add an alias to each Parameter to support tne new output object properties for Get-AzureSubscription
- Add a mocked scenario test to verify the functionality

### Cost (Work Units): 2

[2016-05-03 01:17] markcowl commented on #1742
### Root Cause
Exceptiosn caught by PowerShell instead of cmdlet code

### Proposed Solution
-  Dependent on #1135
- Once ProcessRecord exceptions are caught, output a meaningful ErrorRecord that conatins the RequestId (and ClientRequestId if available) from the response.

### Cost (Work Units): 2

[2016-05-03 01:20] markcowl commented on #1344
### Root Cause
Some cmdlets have 'Dont'Show' as a property in the parameter attribute declarasion

### Proposed Solution
- Check for this property in static analysis and reporta P1 (build break) issue if found
- Remove Dont'sSHow from cmdlets that have it through filling issues with their owners

### Cose (Work Units): 1

[2016-05-03 01:24] markcowl commented on #2132
@mossywell What is the version of the AzureRM module on your machine?  The module is being updated on Wednesday, which should clear up the issue.

[2016-05-03 01:25] seanlarge opened #2199 "Wrong Path for 'New-AzureServicePorject' cmdlet"
Hi,

Following this tutorial: https://azure.microsoft.com/en-us/documentation/articles/cloud-services-nodejs-develop-deploy-express-app/

When running the 'New-AzureServiceProject' it looks for the scaffold.xml in path

[code]

however it is not there. Looking at the comments from this post: https://azure.microsoft.com/en-us/documentation/articles/cloud-services-nodejs-develop-deploy-app/

I find

[2016-05-03 01:26] markcowl commented on #1919
@TravisEz13 I believe this is resolved by the current version of AzureRM, which uses exact version dependencies.  Please re-open this issue if you see a recurrence.

[2016-05-03 01:26] #1919 closed

[2016-05-03 01:28] markcowl commented on #2048
### Proposed Solution
Add a Position tag to PSCredential in the 'OrigId login' parameter set

### Cost (Work Units): 1

[2016-05-03 01:29] seanlarge commented on #2199
the version is 1.3.2
Microsoft Azure Powershell -- April 2016

[2016-05-03 01:31] markcowl commented on #2067
@vsilgalis-rise @Stijnc ```Update-AzureRM``` was removed in the last release.  Now use Install-Module AzureRM for the correct dependencies.

[2016-05-03 01:40] markcowl commented on #2130
@jberezanski Unfortunately, it is difficult due to sharing installation between an msi installer and the PowerShell Gallery modules to use the standard installer mechanisms that can require a reboot when removed files are in use.  This is because the file names and paths installed by Install-Module are not predictable, and the msi attempts to clean them up.

This will be resolved in the installer

[2016-05-03 01:43] markcowl commented on #2179
@crshnbrn66 Thanks, can you leave that comment on the blog post - we can add some extra notes about downlevel OS's (and how to acquire MakeCert).  Will leave this open, as that blog post is due to be updated.

[2016-05-03 01:51] markcowl commented on #2192
@vicperdana Can you provide the command line that you used for this as well? It looke liek the tenant id is in the wrong format, from this value in the trace:

```string[]9966bc97-2bd3-4d2c-b85c-455673bfb10d ab1cb3b4-b195-48d8-a359-8ce84148f5f4.TenantId'```

[2016-05-03 01:53] markcowl commented on #2199
@seanlarge Thanks.  This is actually *not* the correct path, the path should be in the Azure service management cmdlets. WIll take a look.

[2016-05-03 05:05] vicperdana commented on #2192
@markcowl saw that and modified the command, and here's the command and resulting debug logs.
Login-AzureRmAccount -CertificateThumbprint $cert.Thumbprint -ApplicationId $azurermAdApplication.ApplicationId -ServicePrincip
al -TenantId $str

DEBUG: 2:33:08 PM - AddAzureRMAccountCommand begin processing with ParameterSet
'ServicePrincipalCertificate'.
DEBUG: Microsoft.IdentityModel.Clients.ActiveDir

[2016-05-03 12:00] MartinDiewald commented on #1812
I cannot create a new Gateway Connection. Same error:
PS C:\WINDOWS\system32> New-AzureRmVirtualNetworkGatewayConnection -Name "osr-sec01-ERConnect" -ResourceGroupName "osr-sec01-network" -Location "West Europe" -VirtualNetworkGateway1 $gw -PeerId $circuit.Id -ConnectionType ExpressRoute

New-AzureRmVirtualNetworkGatewayConnection :
Mapping types:
UInt64 -> Nullable`1
System.UInt64 -> System.Nulla

[2016-05-03 14:53] vsilgalis-rise commented on #2067
My issues weren't local but in Azure Automation when updating the modules there.

[2016-05-03 17:52] solankisamir opened #2200 "Need Cmdlet to enable REST API access"
Customers needs a Cmdlet to enable REST API access. Currently this can only be done from the Portal.

This way customer can write their own automation.

[2016-05-03 18:46] hyonholee opened #2202 "AzureRM.Storage.ps1is missing Set-AzureRmStorageAccount cmdlet."
Also, Type parameter for New-AzureRmStorageAccount does not set the type properly.  (It always set the type Standard_LRS.

This missing feature causes VMDynamic live test in Compute test project, because this test contains the following lines.

New-AzureRmStorageAccount -ResourceGroupName $rgname -Name $stoname -Location $loc -Type $stotype;
Set-AzureRmStorageAccount -ResourceGroupName $rgname -Na

[2016-05-03 20:37] colemickens commented on #1278
@markcowl If SP auth doesn't work with ASM then why is it explicitly listed in the `get-help` for `Add-AzureAccount`?

[2016-05-03 20:59] markcowl commented on #2202
### Proposed Solution

Add minimal support for account type and tags  in Set-* and New-AzureRmStorageAccount

### Cost (Work Units): 2

[2016-05-03 21:47] ckarras opened #2206 "The output object type of this cmdlet will be modified in a future release."
I'm running a script that uses several Azure PowerShell commands (for example Get-AzureRmResourceGroup) which display this warning: "The output object type of this cmdlet will be modified in a future release.". This warning is not useful, it's only suggesting that there will be new breaking changes at an undetermined time but does not say what changes I can do to avoid these breaking changes.

The

[2016-05-03 21:54] mossywell commented on #2132
Originally, Install-Module AzureRM (which installed 1.0.8). Then,
removed AzureRM.Network
with -Force. Finally Install-Module AzureRM.Network -version 1.0.7 -Force

[2016-05-03 21:54] crshnbrn66 commented on #2179
I updated the code for it and created a pull request.

One other question I've now created the connection and followed the instructions in this post:
https://azure.microsoft.com/en-us/documentation/articles/automation-sec-configure-azure-runas-account/

I'm still getting errors when I attempt to get-automationscheduling information

    $verbosePreference = 'continue'
    $Conn = Get-AutomationCon

[2016-05-03 21:56] crshnbrn66 commented on #2179
Here is the updated pull request I did for the Service Principal script
https://github.com/Azure/azure-content/pull/6478

[2016-05-05 00:19] hovsepm opened #2209 "Get-AzureRmSubscription outputs the same information twice"
Here is my output:
[code]

Repro steps:
1. Login-AzureRmAccount SubscriptionId 0b1f6471-1bf0-4dda-aec3-cb9272f09590 -TenantId AzureSDKTeam.onmicrosoft.com
2. use corp credentials
3. Get-AzureRmSubscription

[2016-05-05 00:20] markcowl commented on #2206
@ckarras Sorry you didn't find that helpful.  Our release cadence is on the first Wednesday of each month, and since we use semantic versioning, you should be able to avoid consuming breaking changes using version dependencies.

[2016-05-05 00:34] jodoglevy commented on #1803
In addition to my above reason, script runbooks don’t have a name declaration within the file like workflows / configurations do. The file name is used as the script name. I’d think we’d want to be consistent across all runbook / config types as to where the item name comes from (to be the file name).

Also, referencing a child script runbook from a runbook inline uses the file name (just like scr

[2016-05-05 02:18] ckarras commented on #2206
Do you have any references on what kind of changes are planned for these commands?

How should I enforce version dependencies? Is there a standard way to declare a script's dependencies and declare that any version >= 1.3.0 < 2.0 should be used? How can multiple versions of Azure Powershell be deployed side-by-side? (According to https://azure.microsoft.com/en-us/documentation/articles/powershell-

[2016-05-05 05:30] pcgeek86 opened #2212 "Can't index into Storage Account Keys using string"
# Issue

The output from `Get-AzureRmStorageAccountKey` clearly indicates that there are two "keys" along with their corresponding values. When I try to index into the dictionary, it fails to retrieve the value.

[code]

![image](https://cloud.githubusercontent.com/assets/466713/15036683/d6c1102c-124f-11e6-98bc-54bf62cf4ef9.png)

# Expected Result

I should be able to index into the array of keys,

[2016-05-05 14:29] crshnbrn66 commented on #2179
I'm able to Query other cmdlets using the Service principal setup... However when I try and get an automation schedule or the others identified in this issue I get the same login error.

[2016-05-05 17:40] ravbhatnagar opened #2213 "Update help for Get-AzureRmResourceGroupDeploymentOperation to help people understand how and when to use it"
Add examples and update description.

[2016-05-05 20:29] #2133 closed

[2016-05-05 23:21] markcowl commented on #2179
@crshnbrn66 This looks more like an issue specific to those cmdlets.  @jodoglevy Any insight into why these three cmdlets might be different than others?

[2016-05-05 23:22] markcowl commented on #2179
@crshnbrn66 If you run the cmdlets with ```$DebugPreference="Continue"``` and include the log, I'd be curious to see the ADAL logs for these calls.

[2016-05-06 00:03] jodoglevy commented on #2179
@crshnbrn66 what module versions do you have in your automation account? What does get-module -listavailable return in a runbook?

[2016-05-06 01:55] crshnbrn66 commented on #2179
running this:
    $verbosePreference = 'continue'
    $DebugPreference = 'Continue'
    $Conn = Get-AutomationConnection -Name AzureRunAsConnection
    write-output $Conn.TenantID
    write-output $Conn.ApplicationID
    write-output $Conn.CertificateThumbprint

    $Conn = Get-AutomationConnection -Name AzureRunAsConnection
    Add-AzureRMAccount -ServicePrincipal -Tenant $Conn.TenantID -Applicat

[2016-05-06 01:59] jodoglevy commented on #2179
Can you run just the get module line and see what comes out?
On May 5, 2016 6:55 PM, "Thom Schumacher" <notifications@github.com> wrote:

[2016-05-06 02:23] crshnbrn66 commented on #2179
Only thing I ran was:

get-module -ListAvailable

Suspended
The job action 'Activate' cannot be run, because the process stopped unexpectedly. The job action was attempted 3 times.

I ran from the original run book and then from a new run book and both times it tried to run it three times to list out the modules and gave me the error above.

   Directory: C:\Program Files\WindowsPowerShell\Modules

[2016-05-06 02:52] markcowl commented on #1368
@shuagarw can you comment?

[2016-05-06 04:37] jodoglevy commented on #2179
According to that list you only have the Azure Insights and Profile modules in your account...are you sure that's the whole list?

[2016-05-06 05:25] bgelens opened #2214 "Version property on objects returned from Get-AzureRmVMExtensionImage are of the wrong type"
The version property of the PSVirtualMachineExtensionImage objects is if type system.string. We need to convert it to system.version to have proper sorting or else results are unexpected (see screenshot)
![untitled2](https://cloud.githubusercontent.com/assets/10071039/15064990/e987d14e-135a-11e6-9854-ebba327abc48.png)

[2016-05-06 07:07] vinjiang commented on #1814
Feel free to try the newly released version and let us know if you have further questions.

[2016-05-06 07:07] #1814 closed

[2016-05-06 07:08] vinjiang commented on #1696
Feel free to try the newly released version and let us know if you have further questions.

[2016-05-06 07:08] #1696 closed

[2016-05-06 07:08] vinjiang commented on #1685
You may want to try the newly released version and let us know if you have further questions.

[2016-05-06 07:08] #1685 closed

[2016-05-06 11:11] Koteswararaojonnalagadda opened #2216 "Azuredata factory creation issue"
I am trying to create azure data factory through azure power shell as per below link facing the issues
can some one help me?

https://azure.microsoft.com/en-us/documentation/articles/data-factory-monitor-manage-using-powershell/

New-AzureRmDataFactory : HTTP Status Code: BadRequest
Error Code: DataFactoryCreationNotAllowed
Error Message: Data Factory creation is temporarily disabled for tenant 72

[2016-05-06 14:14] crshnbrn66 commented on #2179
Ok this morning this ran and didn't time out here is an update:

get-module -ListAvailable

    Directory: C:\Program Files\WindowsPowerShell\Modules
ModuleType Version    Name                                ExportedCommands
---------- -------    ----                                ----------------
Binary     1.0.0.0    PackageManagement                   {Find-Package, Get-Package, Get-PackagePro

[2016-05-06 14:32] votavaz commented on #1918
I am getting the same exception after trying to upload the client cert on exist VPN GW (created by Portal)

[code]

and when I am trying view by Get-AzureRmVpnClientRootCertificate

[code]

When upload client root cert at the time of creating Gateway (by New-AzureRmVirtualNetworkGateway), it's ok.

[2016-05-06 15:29] ashleywb opened #2217 "Create Resource Manager VM with Window Updates disabled"
I'm trying to disable windows update to a newly created VM, this VM was created from an image using the following:
Set-AzureRmVMOperatingSystem -VM $vmConfig -Windows -ComputerName $computerName -Credential $cred -ProvisionVMAgent -EnableAutoUpdate:$false

When I look at the OSProfileText I see the following:
{
  "computerName": "machine1",
  "adminUsername": "admin",
  "adminPassword": "tp{.}D>nM

[2016-05-06 15:48] pcgeek86 commented on #1814
@EmmaZhu @vinjiang @markcowl  Thanks, looks good to me!

![image](https://cloud.githubusercontent.com/assets/466713/15078284/b2187e60-136f-11e6-97d8-25589c353f14.png)

[2016-05-06 16:44] shuagarw commented on #1368
@pcgeek86 - PAS is Policy Administration Service - this provides Role Based Access Control on Azure.
@rashidqureshi to follow-up on this change.

[2016-05-06 17:57] ravbhatnagar opened #2218 "Get-AzureRmResourceProvider does not handle bad input for location param"
If an invalid location is specified the cmdlet still succeeds and returns some results. It should fail with a meaningful error.

[2016-05-06 18:08] hovsepm commented on #2216
@Koteswararaojonnalagadda this is a server side incident. Please contact Microsoft support to get help. https://azure.microsoft.com/en-us/support/faq/

[2016-05-06 18:08] #2216 closed

[2016-05-06 18:19] jodoglevy commented on #2179
I still only see the Azure insights and profile modules. If you go in to your automation account to Assets -> Modules -> <each module> what Azure/AzureRM modules show up, and what is the version listed for each?

[2016-05-06 18:47] crshnbrn66 commented on #2179
Azure 1.0.3
Azurerm.computer 1.2.1
Auzrerm.Automation 1.0.3
Azurerm.Insights 1.0.6
Azurerm.profile 1.0.6
Azurerm.resources 1.0.3
Azurerm.SQL 1.0.3
Azurerm.storage 1.0.3

I see what you are getting / driving at I'll make some updates.

[2016-05-06 20:14] markcowl opened #2219 "Evaluate new format for platyPS"
### Description
When PlatyPS becomes available, evaluate:
* generation of markdown
* Ability to combine existing markdown help with changed cmdlet source
* generation of dll-Help.xml
* validation of desired help parts
  * cmdlet output types correct
  * parameter settings and signature correct
  * Synopsis and Description fro cmdlet
  * Help for each parameter
  * Examples

Then file issues with p

[2016-05-06 20:19] markcowl opened #2220 "Use Install-Module in the installer"
### Description
- Prototype including nugget packages for the cmdlets in a temporary directory and using a custom action to install using Install-Module on install and Uninstall-Module on remove.
- Evaluate Install and Update scenarios on Win 7, Win 8, Win 8.1, WIn10
- Integrate into repo
### Cost (Work Units): 4

[2016-05-06 20:27] markcowl opened #2222 "Documentation: Write standards document on ARM cmdlet signatiure and ARM RP functionality minimums"
### Description

Write up the standard signature for ARM cmdlets, with types, parameter names, and aliases required.
Standard parameter names for:
- resource group
- resource name
- location
- resource identity
- tags

Specify correct Parameter bindings and Output types
Also write up minimum functionality per RP (especially list functionality expectations)
### Cost (Work Units): 2

[2016-05-06 20:28] markcowl opened #2223 "Enumerate CmdletsToExport in Module Build"
### Description
Use a powershell script during build to get the cmdlets in a module and update the module manifest with the cmdlet list.   Script could be like the following:
[code]

* Add to build
* Verify correct output

### Cost (Work Units): 1

[2016-05-06 20:41] jodoglevy commented on #2179
Yes looks like your Azure/AzureRM modules are not of the same version. AzureRM PowerShell modules can run into issues if they are using mismatched versions. Try updating all your Azure/AzureRM modules to the latest version.

[2016-05-06 20:41] markcowl opened #2224 "[Spike]: Move Azure and RP modules to nuget dependency on common libraries"
### Description
Identify common libraries and move into common projects.  Publish common projecst as nuget package, and use Nuget Package depeencency in each library.
* Data Contract for types shared between modules and between versions of modules
* Common dependencies (Newtonsoft.Json and the like) that do not change

Add publishing common package (uninstallable) as part of the build

Evaluate.

[2016-05-06 20:43] markcowl opened #2225 "Update all cmdlets that make changes to support ShouldProcess"
### Description
* Write static analysis rule to identify cmdlets by verb that must support shoudl process
* File issues for cmdlet owners to add SHouldProcess to these cmdlets, with guidelines
* Track Progress

### Cost (Work Units): 4

[2016-05-06 20:46] markcowl opened #2226 "[Spike]: Design and prototype standard mechanism for showing progress in LRO operations"
### Description
- Look at standard mechanisms in task-based asynchronous libraries for reporting progress, and spike on changign code generation to use these.  Evaluate against mechanisms using traces and DelegatingHandlers for the same purpose
- Recommend a strategy to use for all clients
- File issues for necessary changes in .Net, runtime, PowerShell to support
### Cost (Work Units): 6

[2016-05-06 20:47] markcowl opened #2227 "[Spike] Design document for removing statics"
### Cost (Work Units): 4

[2016-05-06 21:27] ravbhatnagar commented on #1394
@wahidsaleemi @Vijayaraghavanl @unisol14 - Can you please share the template? It will help us investigate this issue? Feel free to omit any sensitive information.

[2016-05-06 21:28] markcowl opened #2228 "Identify and fix or remove flaky tests in CI build"
### Description

### Cost (Work Units): 2

[2016-05-06 22:49] #270 closed

[2016-05-06 22:50] ravbhatnagar commented on #358
Fixed

[2016-05-06 22:50] #358 closed

[2016-05-06 22:50] ravbhatnagar commented on #1221
Fixed

[2016-05-06 22:50] #1221 closed

[2016-05-06 22:57] ravbhatnagar commented on #334
Need some work on the server side. Blocked as of now so moving to backlog.

[2016-05-06 22:58] ravbhatnagar commented on #334
Dupe of 1167 so closing this one.

[2016-05-06 22:58] #334 closed

[2016-05-06 23:22] timomta opened #2230 "Get-AzureRmResource Does Not Default to Latest API Version"
The docs specify that -ApiVersion is optional, but if you don't specify it, Get-AzureRmResource defaults to an invalid API version '2015-01-01'. Example below:

PS D:> Get-AzureRmResource -ResourceId $ip.IpConfiguration.id
Get-AzureRmResource : NoRegisteredProviderFound : No registered resource provider found for location 'eastus2' and API version '2015-01-01' for type 'networkInterfaces'. The sup

[2016-05-07 00:33] markcowl opened #2231 "[SPIKE]: Design document for side-by-side module versioning"
### Description

Delineate how to change module versions and release and tag modules to support side-by-side versioning

### Cost: 4

[2016-05-07 00:36] markcowl opened #2232 "[SPIKE]: Design document for partner self-servicing"
### Description

Delineate how to update build and test projects to allow independent release of modules
### Cost: 4

[2016-05-07 00:40] markcowl opened #2233 "[Spike]: Evaluate AppVeyor for check-in ci builds"
### Description

CI builds are opaque for contributors outside the org.  Using a service like AppVeyor could open test results and logs to make contributions easier for external users.
- Prototype moving the check-in build to AppVeyor
  - How much customization is required
  - Is it fast enough
  - What does it cost
  - Is it reliable enough?

Make a recmmendation on whether gating ci builds can b

[2016-05-07 00:42] markcowl opened #2234 "Clean up tools scripts in the repo"
Remove unneeded scripts from the tools directory

[2016-05-07 00:45] markcowl opened #2235 "Allow builds without msi and static analysis"
### Description

Add a build proeprty to allow not building the installer - this enables adding or renaming dlls and regenerating the installer without a build failure

Add a separate build task for analyzing the code - this allows building successfully and dealing with analysis failures later.
### Cost: 2

[2016-05-07 00:48] markcowl opened #2236 "Plan for CoreCLR Port"
### Description

Write plan and file issues for CoreCLR Port

### Cost: 4

[2016-05-07 01:01] markcowl commented on #2227
Covered by #2231

[2016-05-07 01:01] #2227 closed

[2016-05-07 02:11] markcowl commented on #2220
This would fix #685

[2016-05-07 02:17] markcowl commented on #2192
@vicperdana This looks like an error with the certificate itself.  Is the private key included and is it accessible to the logged-on user?

[2016-05-07 02:24] markcowl commented on #2067
@vsilgalis-rise Yes, unfortunately the easiest solution nis to use the latest version of the module and/or to match based on the AzureRM.profile dependency.  If we could use the new module manifest format, then this error would be easier to discover, as we could make the version depednency explicit.  However, this would preclude compatibility with WMF4 and PowerShell 3.

[2016-05-07 16:12] gregjhogan commented on #2206
@markcowl please explain the desired effect of introducing this warning (what do you want people to do when they see it?).  Thanks!

[2016-05-08 18:35] damienthiery commented on #2175
Azure PowerShell 1.3.2

2016-05-02 21:58 GMT+02:00 Mark Cowlishaw <notifications@github.com>:

[2016-05-09 10:03] AndreaPic commented on #669
-1

[2016-05-09 16:16] crshnbrn66 commented on #2179
Joe thank you very much for your time and insight.

[2016-05-09 16:16] #2179 closed

[2016-05-09 17:31] rashidqureshi commented on #1368
Thanks for the feedback Trevor. The ownership has recently transitioned over to my team. We'll look into it and make it more intuitive for PowerShell users.

[2016-05-09 17:51] solankisamir opened #2237 "Get-AzureRmApiManagement throws exception about subscription when there is no API Managemen"
There is a problem with the PowerShell commandlet: 'Get-AzureRmApiManagement'. When using it in a subscription that does not have any API Management instances, it throw an exception: SubscriptionNotFound: Subscription does not exist.

This is wrong because the subscription does exist. The exception stops happening when there is an existing API Management instance. The expectation is that the resul

[2016-05-09 20:38] crshnbrn66 commented on #2179
For what its worth. I could have saved myself 5 days if I'd have updated the modules first. NOw it works with Azure ad and you don't have to use a Service principal.

[2016-05-09 21:47] vicp-iq commented on #1919
This issue just came up for me.  I ran `update-module AzureRM -force.`  The message says that C:\Program Files\WindowsPowerShell\Modules\azurerm.profile\1.0.8\.\Microsoft.Azure.Commands.Profile.format.ps1xml is missing, and it is.

[2016-05-09 22:01] vicp-iq commented on #1919
Interesting, I re-ran `install-module azurerm -Verbose -Force` and it populated all the missing files and the issue is resolved.

[2016-05-09 22:38] pcgeek86 commented on #1368
@rashidqureshi Thank you!!

[2016-05-10 07:19] blueww commented on #2212
Which version of PowerShell are you using?
If it's the latest one, the return value from Get-AzureRmStorageAccountKey are list of keys. each key has KeyName and Value.
So you can get the key value by:
$storageKey = (Get-AzureRmStorageAccountKey -StorageAccountName $storageAccountName -ResourceGroup $ResourceGroupName).Value[0]

Value[0] is key1, and Value[1] is key2

[2016-05-10 09:08] saurabhgodhwani commented on #1087
Any updates on this if its possible today. I am looking for a way to set Reply URLs to the new Application using New-AzureADApplication cmndlet or any other if possible to solve the issue..

[2016-05-10 16:42] mthenot-msft opened #2243 "get-azurermkeyvault does not return "display name" when the object is a group"
Create a group in AD
Grant permission to the group to your vault (keys and/or secrets)
Run get-AzureRmKeyVault
Expected: for permission listing on the group, a valid display name
Actual: nothing

[2016-05-10 17:55] pcgeek86 commented on #2212
I'm using PowerShell 5.0.

Yes, your example would theoretically work, but that's indexing into an array. The output of `Get-AzureRmStorageAccountKey` is *displaying* an object that "looks and feels" like a dictionary, but actually isn't. If it were actually a dictionary, then I could index into it using the key. The problem is that there's a disparity between what's being displayed to the end use

[2016-05-10 19:49] cohowap opened #2244 "Can't provide waagent CustomData file using PS ARM"
Hello,

With Azure CLI, you can provide custom data to a VM (https://azure.microsoft.com/en-us/documentation/articles/virtual-machines-windows-classic-inject-custom-data/)

With Azure Classic/Service Manager you can do provide it via Add-AzureProvisioningConfig https://msdn.microsoft.com/en-us/library/azure/dn495299.aspx?f=255&MSPPError=-2147217396

However, with ARM, there doesn't seem to be any

[2016-05-11 03:31] blueww commented on #2212
If you look at the SRP SDK code, you can see the return value is in type:
`IList<StorageAccountKey>`

And StorageAccountKey class has following members:
[code]

In out code, we just print the returned value without any wrap like following (@markcowl does one SDK team do any wrap?), I am not sure why you think it look like a dictionary.

[code]

[2016-05-11 05:51] blumu opened #2246 "Select-AzureRmProfile should throw if profile file is missing"
`Select-AzureRmProfile` does not throw if the filepath passed as parameter does not exist. This makes it hard to diagnose issues when loading Azure profiles as part of large scripts:

    $ErrorActionPreference='stop'
    Select-AzureRmProfile -FilePath c:\SomeInvalidFilePath

Expected result: an exception thrown
Actual output:

    Environment           :
    Account               :
    TenantId

[2016-05-11 07:31] slavizh opened #2247 "Azure Automation - Add option for adding webhook to Hybrid Worker Group"
Add option for adding webhook to Hybrid Worker Group to New-AzureRmAutomationWebhook. Add cmdlet for getting existing Hybrid worker groups.

[2016-05-11 08:57] SimoneBWS commented on #669
+1

[2016-05-11 18:22] pcgeek86 commented on #2212
Sorry, this might be me misunderstanding something, but I think the solution here would be to implement the `IDictionary` interface, which would enable indexing via the key.

To me, it _looks_ like a Dictionary, because it has a "key" and a "value." Given this, we should probably make sure that it functions similar to a dictionary. Can we get the `IDictionary` interface implemented for this class?

[2016-05-11 18:47] solankisamir commented on #2237
We have updated the Message to be returned in such a case with
"Subscription <SubscriptionId> not registered with provider "Microsoft.ApiManagement" ". The fix will be deployed in week of 5/16/2016

[2016-05-11 18:47] #2237 closed

[2016-05-11 19:51] markjbrown commented on #2132
@mossywell can you let us know if this new build resolved your issue?

Thanks.

[2016-05-11 20:34] markjbrown commented on #1948
Yes, it's actually much worse than even that. There are very few examples for Network in PS across all of it. This is a backlog issue which we hope to start addressing but no dates. I will leave this open for now and update after we get through vNext planning.

[2016-05-11 20:43] markjbrown commented on #1927
This issue is duplicated in #1928

[2016-05-11 20:43] #1927 closed

[2016-05-11 20:53] markjbrown commented on #1818
Will put on list for vNext planning

[2016-05-11 20:56] markjbrown commented on #1812
Will take a look.

[2016-05-12 01:08] blumu opened #2249 "Set-AzureRmKeyVaultAccessPolicy removes all existing tags associated with the keyvault"
**Repro**
- Create a keyvault in Azure with associated tags
- Update access policy for the keyvault with Set-AzureRmKeyVaultAccessPolicy
- Get the resource tags with Get-AzureRmResource

**Expected**: the tags should still be listed
**Actual**: the tags have been removed

[2016-05-12 01:17] ravbhatnagar opened #2250 "Remove unnecessary deprecation warnings for ARM management cmdlets"
There might be a few which might not be needed anymore.

[2016-05-12 01:18] ravbhatnagar commented on #2250
Ex- New-AzureRmResourceGroupDeployment when used with DeploymentDebugLevel switch shows the warning.

[2016-05-12 02:23] blueww commented on #2212
Generally, PowerShell don't wrap the output from SDK for extendable and maintainable consideration. (And for customer who are family with SDK, it might be wired to wrap the output)
We don't receive other customer feedback to make the output like Dictionary till now.
If we change that, other customer might will complain.

And for "key" and "value", they are actually "KeyName" and "Value", and has a

[2016-05-12 07:13] slavizh opened #2251 "Get-AzureRmRecoveryServicesBackupContainer value for parameter -Name is case sensitive"
Get-AzureRmRecoveryServicesBackupContainer value for parameter -Name is case sensitive

Value should not be case sensitive. I should be getting results no matter if I've wrote the VM name with capital or small letters.

[2016-05-12 07:36] slavizh opened #2252 "Get-AzureRMRecoveryservicesBackupJob - getting job by jobid fails"
$job = Backup-AzureRmRecoveryServicesBackupItem -Item $item;
PS C:\WINDOWS\system32> $joblist = Get-AzureRMRecoveryservicesBackupJob -JobId $job.JobId
Get-AzureRMRecoveryservicesBackupJob : CloudInternalError: Microsoft Azure Backup encountered an internal error.
Wait for a few minutes and then try the operation again. If the issue persists, please contact Microsoft Support.
At line:1 char:12
- $j

[2016-05-12 10:14] mossywell commented on #2132
Hi gents, yes, I can confirm that using 1.0.9 no longer errors. Cheers for that!

[2016-05-12 10:37] flytzen opened #2254 "Login-AzureRmAccount UI problem on high-dpi display"
If you use Login-AzureRmAccount without parameters you get a window up that asks you to login.
That window cannot be resized or scrolled and on a high-DPI display, such as on a surface book, only shows the right-hand half of the login screen. This makes it very difficult to use, in particular as it is impossible to read any error messages. Also, if you use the same email address for a Microsoft ac

[2016-05-12 13:21] alexandrev opened #2255 "Error executing New-AzureRmApplicationGateway"
I'm trying to execute the New-AzureRmApplicationGateway but I'm facing the following issue:

[code]

The commands I'm executing are these:

[code]

If I try to create the Application Gateway using the template on GitHub and try to execute the commands with the -force option, I'm getting the following error:

[code]

What am I missing here? Am I doing something wrong or is there any problem with th

[2016-05-12 17:06] pcgeek86 commented on #2212
Shouldn't we call `KeyName` just `Name` instead? The data model is named `Microsoft.Azure.Management.Storage.Models.StorageAccountKey`, so it is redundant to have a property `KeyName`, when it's really just the `Name` of the object.

Same goes for Storage Accounts. The Storage team seems to be doing things differently than other Azure teams, and we need some consistency. For example, when you call

[2016-05-12 17:48] markjbrown commented on #2132
great thanks

[2016-05-12 17:48] #2132 closed

[2016-05-12 17:49] markjbrown commented on #1955
Chester, you can contact me and Deepak.

[2016-05-12 17:49] #1955 closed

[2016-05-12 17:51] markjbrown commented on #1928
@Pradebban please contact me via GitHub email.

[2016-05-12 17:51] #1928 closed

[2016-05-12 18:22] markjbrown commented on #1913
Will put on backlog.

[2016-05-12 18:22] #1913 closed

[2016-05-12 18:26] pomortaz commented on #2243
@mthenot thanks for reporting this issue. To clarify, can you make an example?

[2016-05-12 20:18] markcowl commented on #2255
@deeprajendranmsft can you take a look?

[2016-05-12 20:20] markcowl commented on #2254
### Action
Investigate options for improving the default size of the window on high dpi displays with ADAL.Net

### Cost: 2

[2016-05-12 20:38] markjbrown commented on #1626
Closing this issue as this has been answered and works as designed.

[2016-05-12 20:38] #1626 closed

[2016-05-12 20:47] markjbrown commented on #1546
Closing issue. This is not an issue we can fix from NRP.

[2016-05-12 20:52] markjbrown commented on #1505
This is documented here, https://msdn.microsoft.com/en-us/library/mt653593.aspx

[2016-05-12 20:52] #1505 closed

[2016-05-12 20:55] pcgeek86 commented on #1546
@markjbrown Hi Mark, this is a design issue with PowerShell, not with the Resource Provider. If a resource doesn't exist, then the PowerShell command should throw an exception. Otherwise, the user presumes that the command executed successfully, even if they made a typo. That isn't good PowerShell behavior.

[2016-05-12 22:04] mark-wilson commented on #1295
@mortenlerudjordet Are you still experiencing issues with this?  I'm seeing similar behaviour but am not a developer so don't have a clue how to fix it!

[2016-05-13 02:07] blueww commented on #2212
The "KeyName" is from SRP SDK, I will forward the issue to SRP SDK team.
Thanks for your consideration!

[2016-05-13 03:23] ColdHarbour opened #2258 "Move-AzureRmExpressRouteCircuit doesn't parse -name"
I can rename, or continue to use, an incorrect name for an ExpressRoute circuit when utlising the Move-AzureRmExpressRouteCircuit cmdlet.

for instance, this command would be valid - notice the spaces in the name:
Move-AzureRmExpressRouteCircuit -Name "My Azure Circuit" -ResourceGroupName "exprtrg" -Location " Australia East" -ServiceKey 12343434-23232323-23232323

However, if I then try to update

[2016-05-13 09:47] blueww commented on #2212
The "KeyName" is from Rest API, so SRP SDK also can't change it.
And we don't receive other customer feedback on the "KeyName", so we won't change it now since it might break other customers. If we receive more, we might will consider to change it in the future.

This is the reply from SRP SDK team:

[2016-05-13 10:06] mskutin opened #2259 "Set-AzureRmResource - "Cannot find User with name XXXXXXX""
Unable to set `Microsoft.Web/sites/sourcecontrols` settings always get into the same error:

[code]

[code]

[code]

[2016-05-13 11:11] pcgeek86 opened #2260 "ResourceGroupName parameter should not be mandatory for Get-AzureRmSqlServer"
ResourceGroupName parameter should not be mandatory for Get-AzureRmSqlServer

Cheers,
**Trevor Sullivan**
Microsoft MVP: Cloud & Data Center Management
https://trevorsullivan.net
https://twitter.com/pcgeek86

[2016-05-13 11:56] mortenlerudjordet commented on #1295
Have not tried again, just gave up. Though Set-AzureRmVMDiagnosticsExtension works on the latest version, so maybe Set-AzureRmVMExtension is fixed too?

[2016-05-13 17:33] GamerLivingWill commented on #2085
Alrighty.  So I have this working.  But doesn't it still seem redundant to have to upload the files to a blob store to be moved over to where Azure Automation stores the modules?  This seems like additional work that doesn't need to be added from an automation perspective.

[2016-05-13 19:00] alancastellanos opened #2263 "TenantLevel switch in Invoke-AzureRmResourceAction command is ignored."
It looks like the switch gets ignored, which is evident by the confirmation.

`Are you sure you want to invoke the 'action' action on the following resource: /subscriptions/B5D6D8E5-12C9-4772-966C-1C8433BBED45/providers/Microsoft.Powerapps`

The `subscription/guid` part shouldn't be included.

[2016-05-14 00:40] ravbhatnagar commented on #1283
@alfhenrik - Are you still running into this issue after moving your SSL to CLoudFlare?

[2016-05-14 12:31] pcgeek86 opened #2265 "Confusing error message when Azure Automation credential already exists"
I'm getting a weird exception when an Azure Automation credential already exists. This should be updated to more accurately reflect what's going on, instead of the vague message below.

[code]

Cheers,
**Trevor Sullivan**
Microsoft MVP: Cloud & Data Center Management
https://trevorsullivan.net
https://twitter.com/pcgeek86

[2016-05-14 14:21] alexandrev opened #2267 "Https Forward using Azure Application Gateway"
I'm trying to configure an Application Gateway to redirect all the traffic that matches a particular path (for example: "/register") to an existing external site. When I do this configuration and I redirect the traffic to a HTTP Endpoint there is no problem and everything works as expected.

But I cannot do the same if the endpoint is HTTPS instead of HTTP. I tried to configure the BackendHttpSett

[2016-05-15 09:23] sjwaight commented on #2258
We currently have a support ticket open precisely due to this issue. The circuit stays up but becomes effectively unmanageable due to the invalid ARM EXR curcuit name.

[2016-05-15 11:38] vicperdana commented on #2192
@markcowl I have granted full access to the logged on user to the cert's private key but unfortunately stll getting the same error.

[2016-05-16 16:53] markcowl commented on #2258
@deepakrajendranmsft can you route this issue appropriately to the ExpressRoute team?

[2016-05-16 16:57] markcowl commented on #2259
@akurmi can you advise on the appropriate way to set sourcecontrols?

[2016-05-16 16:59] markcowl commented on #2260
@akromm Please route to the appropriate person on the Sql team.  This will soon be a requirement for Get cmdlets for RPs.

[2016-05-16 16:59] markcowl commented on #2265
@jodoglevy Can you take a look?

[2016-05-16 17:00] markcowl commented on #2267
@deepakrajendranmsft Can you take a look?

[2016-05-16 18:28] DeepakRajendranMsft commented on #2267
@markjbrown could you please help in routing.

[2016-05-16 18:31] amitsriva commented on #2267
HTTPS to the backend is not supported currently. We are working on enabling this.

[2016-05-16 18:34] alexandrev commented on #2267
Thanks for the information @amitsriva. That really explains the issue. But, I don't understand one thing. Could you share the ETA of this feature or a feature roadmap for the component?

Thanks in advance, I'm going to close the issue.

[2016-05-16 18:35] markcowl commented on #2267
@alexandrev Reopening the issue, this way it can be added to a milestone as appropriate for planned delivery.

[2016-05-16 18:43] jodoglevy commented on #2265
Thanks. I am able to reproduce this. Have filed a bug internally to track it.

[2016-05-16 18:44] DeepakRajendranMsft commented on #2258
@amitsriva please take a look at his

[2016-05-16 18:48] alexandrev commented on #2267
Perfect!

[2016-05-16 20:03] pcgeek86 commented on #2212
You guys already broke the API in the latest release. I used to be able to do `$StorageKey.Key1` or `$StorageKey.Key2`, but now all of these scripts are broken.

I'm asking you to fix it, please.

[2016-05-16 21:25] hovsepm opened #2268 "Move TestController to a shared class and get rid of custom controllers per test project in ARM"
Right now almost every test project under ResourceManager uses copied and slightly modified code from shared TestController. We need to get rid of code duplication.

[2016-05-16 21:28] #2236 closed

[2016-05-17 03:32] chezhang opened #2272 "Get-AzureStorageAccount fails if there are lots of storage accounts"
My subscription has more that 100 storage accounts.
In previous version (0.9.0 or 1.0.3 etc.), Get-AzureStorageAccount works well.
In current version (1.3.2 or later), the command always fails with error:

It seems that the command in newer version requests more info(keys) after receiving the storage accounts info, which leads to a lot of requests(related with the number of storage accounts in my

[2016-05-17 05:17] antmeehan opened #2273 "AzureRMAD* cmdlets fail when using token based authentication"
`New-AzureRmADApplication : Unable to cast object of type 'Microsoft.Azure.TokenCloudCredentials' to type 'Microsoft.Azure.Common.Authentication.AccessTokenCredential'.`

From http://stackoverflow.com/a/36068690/1462905

Are you able to share how this fix is going?

[2016-05-17 08:10] blueww commented on #2212
Hi Trevor,
You can do a simple fix on your script to make it work again. Please let us know if you meet any issue to fix it, and we are glad to help you on this.
 $StorageKey.Key1  ->  $StorageKey.Value[0]
 $StorageKey.Key2  ->  $StorageKey.Value[1]

And currently we don't plan to change it back since:
1. We have released the new build with output as key list, if we change back, it will also take

[2016-05-17 13:11] tclaypool commented on #1918
I encountered the same issue when attempting to add a Root Certificate to an existing virtual network gateway.

After some troubleshooting I was able to add the root certificate after first setting the virtual network vpn client config.

$Gateway = Get-AzureRmVirtualNetworkGateway -Name "VirtualGateway" -ResourceGroupName "ResourceGroup"
Set-AzureRmVirtualNetworkGatewayVpnClientConfig -VirtualNetw

[2016-05-17 15:08] carlocardella commented on #1975
Still, it does not seem to work as one would expect: below I'm looking for a specific resource type with FindAzureRmResource and piping the output to Get-AzureRmResource to get those resource details. Anyway I get a bunch of errors the the entire list of resoruces is returned, not the ones coming from Find-AzureRmResource:

PS 08:03:05 > $s = Find-AzureRmResource -ResourceType microsoft.classiccom

[2016-05-17 17:54] gregjhogan commented on #1316
Looks like there is a v1.3 available everywhere now?  I see lots of linux extensions open sourced, it would probably be helpful if this extension was open sourced, too.

[2016-05-17 18:14] singhkay commented on #1316
@gregjhogan - Sure, I can propose the idea to the owning team.

[2016-05-17 23:05] thehuxman opened #2276 "Re-open of #1312"
Bug 1312 was raised for a missing cmdlet of get-azurermdatadisk or get-azurermdisk.  It was noted in the closure that disks are a property of the VM object.

This still leaves a gap where "get-azuredisk | where attachedto -eq $null" used to work.  Was particulaly useful for find unused disks or in one instance a VM was deleted and we could find the disks quickly and restore service.

[2016-05-17 23:20] singhkay commented on #1384
@lukeb1961 This was checked with the PS team but I'll check with Bruce as well although it looks like he's been OOF for a while.

@kilasuit @trondhindenes @jeffpatton1971 It'd be good for the team to see an example of the Get-AzureRmVm output you are proposing. I think that might make things more clearer of what the community expectations are around the amount of information returned.

[2016-05-18 04:29] gregjhogan opened #2278 "New-AzureRmResourceGroupDeployment with -TemplateParameterObject doesn't support parameter named "name""
ARM template with parameter named `name`

[code]

Causes a prompt for a parameter `nameFromTemplate`

[code]

If you give it an object representing all the template parameters, it seems like it shouldn't be getting confused.

[2016-05-18 08:49] cg6 opened #2279 "Reset-AzureLocalNetworkGateway XML generated for address space is wrong"
This should work: Reset-AzureLocalNetworkGateway -GatewayId $lg.GatewayId -AddressSpace '10.5.8.0/22','10.5.66.0/25' -debug

It results in a request with Body:

[code]

The command completes without errors but doesn't work. Querying Get-AzureLocalNetworkGateway shows the address space has not been updated.

If I capture the HTTP request, edit it as below and then replay it, the command works and u

[2016-05-18 08:55] cg6 opened #2280 "Definition of New-AzureVirtualNetworkGatewayConnection shows EnableBgp parameter is optional, but command fails if it is not specified"
This code has worked in a previous version
[code]

Now it returns:

This worked
[code]

The definition shows EnableBgp is optional:
[code]

[2016-05-18 14:45] kilasuit commented on #1384
@singhkay - I've given my example above numerous times so I'm struggling with this

Seriously I would suggest having a full re-read of this thread and having a look at the suggestions given prior including these ones that **_clearly_** point out what you guys need to be doing as these are a few of the points that others have made

So the format that I expect as default output would be

[code]

As

[2016-05-18 17:18] markjbrown commented on #1812
Hi folks. We have released a hotfix to NRP which should fix this. Please try again and report back.

thanks.

[2016-05-18 18:03] singhkay commented on #1384
@kilasuit Thanks Ryan

@trondhindenes @jeffpatton1971 @lukeb1961 @pcgeek86 Are you agreed on the above format?

[2016-05-18 20:36] markcowl commented on #1384
Personally, I think striking a balance between displaying the most useful information by default and leaving other information in the default format makes sense, but it seems like that isn't the consensus view on this thread.

[2016-05-18 20:52] jeffpatton1971 commented on #1384
@markcowl I think all we're trying to say is let PowerShell be PowerShell, it outputs objects. I really like the JSON and I get why it's there, why not allow the object output from get-azurermvm be passed into convertto-json so that it outputs the proper json azure needs.

But most of us who have been griping in this thread have been using powershell since before it was called powershell. We see a

[2016-05-18 21:01] trondhindenes commented on #1384
@singhkay I agree with the proposed format from @kilasuit  (which is basically no format at all)
@jeffpatton1971 well put, I completely agree.

[2016-05-18 21:51] vhusker opened #2282 "Would like a Get-AzureRMResourceTypes cmdlet"
I have been driving myself crazy trying to find a list of AzureRMResourceTypes to use in cmdlets like New-AzureRMResource.  Having this cmdlet just list them for users would be very beneficial I think.  If there is already something similar to this please let me know because I can't seem to find it.

[2016-05-18 23:55] ravbhatnagar commented on #1442
@markcowl - I believe we need to consistently support this across cmdlets. It is not specific to ARM. Hence removing the ARM label and assigning it to your team. Please let me know if you feel otherwise.

[2016-05-18 23:57] ravbhatnagar commented on #2282
Get-AzureRmResourceProvider is your friend here.

[2016-05-19 00:00] ravbhatnagar commented on #2278
This is currently by design. If a parameter name used in the template conflicts with the name of an inline parameter (Name is a valid parameter for this cmdlet), then we append the keyword fromTemplate to distinguish between the two.
Please let me know if this sounds reasonable and I will close the issue.

[2016-05-19 00:04] ravbhatnagar commented on #2273
Seems like a VS issue. @bmoore-msft to comment on this.

[2016-05-19 00:06] ravbhatnagar commented on #1940
Fixed for June PS release

[2016-05-19 00:06] #1940 closed

[2016-05-19 00:06] ravbhatnagar commented on #1808
Fixed for June PS release

[2016-05-19 00:06] #1808 closed

[2016-05-19 00:07] ravbhatnagar commented on #674
Fixed for June PS release

[2016-05-19 00:07] #674 closed

[2016-05-19 00:11] ravbhatnagar commented on #1394
Closing this due to lack of repro. @wahidsaleemi @Vijayaraghavanl @unisol14 - We have fixed a bunch of related issues recently. If you run into this again using the latest version of Azure PowerShell, please open this issue again.

[2016-05-19 00:11] ravbhatnagar commented on #373
Fixed for the June release of Azure PS.

[2016-05-19 00:11] #373 closed

[2016-05-19 00:19] ravbhatnagar commented on #384
Add all the lock levels that are supported by API. Portal has already added ReadOnly. PS and CLI should support the same.

[2016-05-19 00:28] ravbhatnagar commented on #559
Haven't heard this request from the customers. Closing this for now. Feel free to re-open if you feel otherwise.

[2016-05-19 00:28] #559 closed

[2016-05-19 00:29] ravbhatnagar commented on #639
Update: Working on the design for this. We should have this functionality in the clients soon.

[2016-05-19 00:30] ravbhatnagar commented on #756
Closing this as this is by design.

[2016-05-19 00:30] #756 closed

[2016-05-19 00:36] ravbhatnagar commented on #1115
This should already be fixed. Following up with the Insights team to confirm

[2016-05-19 00:44] ravbhatnagar commented on #1179
Removing ResourceManager label. Seems like RP issue. @markcowl - please assign to MIcrosoft.Search RP

[2016-05-19 00:46] ravbhatnagar commented on #1856
@San7hos  - Can you please share the resource provider type which was failing?

[2016-05-19 00:51] ravbhatnagar commented on #1817
@markjbrown - Any ideas on this issue?

[2016-05-19 00:53] ravbhatnagar commented on #1897
Looks like the expected behavior. @jamie94bc - Please open this issue again if you feel otherwise. Thanks!

[2016-05-19 00:58] ravbhatnagar commented on #1975
@carlocardella - Can you please explain your scenario? What information were you trying to get when you were piping the result of Find-AzureRmResource to Get-AzureRmResource?

[2016-05-19 01:01] ravbhatnagar commented on #2086
@one-harsh - You will have to run Select-AzureRmSubscription and provide a subscriptionId. All the subsequent cmdlets you run will target that subscription.

[2016-05-19 01:04] ravbhatnagar commented on #2120
@antmeehan - Are you fine with us closing the issue now? You can re-open if you still see this issue when you migrate to 1.4.0 on VSTS. Or you can set up custom build servers and install 1.4.0 on that.

[2016-05-19 01:07] ravbhatnagar commented on #2191
#384
@pcgeek86 - We are planning to support other lock levels in the client as well as mentioned in the referenced issue. So I am closing this issue. Please let me know if you think otherwise

[2016-05-19 01:07] #2191 closed

[2016-05-19 01:09] antmeehan commented on #2120
@ravbhatnagar I'm happy to have it closed. I can't test on 1.4.0 since the Azure File Copy Task on VSTS doesn't work on 1.4.0 (https://github.com/Microsoft/vsts-tasks/issues/1660). As soon as that is resolved I'll let you know here if we still hit the issue. Thanks.

[2016-05-19 01:28] ravbhatnagar commented on #2213
Already fixed.

[2016-05-19 01:28] #2213 closed

[2016-05-19 01:34] ravbhatnagar commented on #2120
Closing this issue. Please re-open if this still repros on 1.4. Thanks!

[2016-05-19 01:34] #2120 closed

[2016-05-19 04:12] akuryan commented on #1817
Also, I shall note, that provisioning ends with error in powershell console, but in portal it demonstrates that deployment was ok

[2016-05-19 05:21] cg6 commented on #2280
This bug was introduced here:
https://github.com/Azure/azure-powershell/commit/659f2cf0243decaa898afa632498bb4d5eac175c

The EnableBgp parameter was changed from a boolean to a string, then later bool.Parse(EnableBgp) is called. bool.Parse returns the "Value cannot be null" error if EnableBgp is null.

bool.Parse could also return an unhandled exception if EnableBgp is not equivalent to TrueString

[2016-05-19 07:21] antmeehan opened #2283 "New-AzureResourceGroupDeployment fails with "Task was cancelled" when too many Microsoft.Resources/deployments in the resource group"
I'm not sure what the hard limit is but I've definitely been able to recreate this issue. If you have a large number of `Microsoft.Resources/deployments` resources in a resource group, the `New-AzureResourceGroupDeployment` command fails:

[code]

With `$DebugPreference="Continue"` turned on I can see it is failing on the validate step:

[code]

(The response is never received).

If I delete all t

[2016-05-19 12:16] vhusker commented on #2282
I eventually figured that out.  On some level it makes sense, but someone just starting out who is relatively unfamiliar with Azure and the ResourceManager is going to have a hard time figuring that out.  The goal should be to make things as easy as possible on the users, and this is just much more difficult than it needs to be.

[2016-05-19 14:10] iricigor opened #2284 "Get-AzureRmVMImage Name property of returned object(s) is wrong"
Currently, Get-AzureRmVMImage returns object in which Name and Version have the same values. You may check the example below, but it will be the same for all images.

Get-AzureRMVMImage -location "Central us" `
                   -publisherName "MicrosoftWindowsServer"`
                   -sku "2012-R2-Datacenter" `
                   -Offer windowsserver`
                   -Version 4.0.20160229

[2016-05-19 14:39] iricigor commented on #2284
Returned object is also missing properties **Label** and **PublishedDate** which were very useful in old Azure PoSh.

[2016-05-19 14:59] markjbrown commented on #825
Confirmed this is fixed. Closing issue.

![it works](https://cloud.githubusercontent.com/assets/800166/15398185/9558267c-1d97-11e6-81a6-4e3de529ef5a.PNG)

[2016-05-19 14:59] #825 closed

[2016-05-19 15:40] markjbrown commented on #461
Closing issue. If this is still an active issue please reopen.

[2016-05-19 15:40] #461 closed

[2016-05-19 16:08] markjbrown commented on #460
Closing issue. If this is still an active issue please reopen.

[2016-05-19 16:08] #460 closed

[2016-05-19 16:09] markjbrown commented on #459
Closing issue. If this is still an active issue please reopen.

[2016-05-19 16:09] #459 closed

[2016-05-19 16:20] markjbrown commented on #372
Echoing Trevor's comments. We are not going to add new features to ASM and are focusing efforts on building out ARM functionality and fidelity.

[2016-05-19 16:20] #372 closed

[2016-05-19 16:23] markjbrown commented on #365
Closing. If still active issue please reopen.

[2016-05-19 16:23] #365 closed

[2016-05-19 16:25] markjbrown commented on #359
This feature is GA. Closing.

[2016-05-19 16:25] #359 closed

[2016-05-19 17:20] markjbrown commented on #2267
will get a date.

[2016-05-19 17:22] markjbrown commented on #2258
I'll investigate.

[2016-05-19 17:41] markjbrown commented on #1494
Previously reported https://github.com/Azure/azure-powershell/issues/70 Will track from that issue. Thanks.

[2016-05-19 17:41] #1494 closed

[2016-05-19 18:02] gregjhogan commented on #2278
@ravbhatnagar but why is that necessary in my situation?

What you are saying makes sense when passing the template parameters as additional cmdlet parameters
[code]

But why should there be any confusion when it is getting passed through `-TemplateParameterObject`?
[code]

The current design is functionally complete, but it doesn't seem ideal because it was pretty confusing initially when it star

[2016-05-19 18:55] CraigWiand opened #2286 "Timing issue between creation of service principal and delegation on Azure subscription"
The open source PowerShell script [here ](https://raw.githubusercontent.com/cf-platform-eng/bosh-azure-template/master/create_azure_principal_powershell.txt) is used to create an Azure AD Application associate it with a new service principal via [New-AzureRmADServicePrincipal](https://msdn.microsoft.com/en-us/library/mt678994.aspx)  and then delegate that service principals rights on a target Azur

[2016-05-19 19:01] ravbhatnagar commented on #2278
I agree, it can be confusing. Let me see if we can solve this for TemplateParameterObject.

[2016-05-19 19:04] amitsriva commented on #566
There are two versions of Gateway API (functionally same) in ASM. The Get-AzureVNetGateway caters to earlier version created via netcfg xml files/portal and hence interacts via vnet names. The Get-AzureVirtualNetworkGatewbut ay version is the second version in ASM which works without netcfg files and works with gateway ids. The gateways created via either APIs are visible to the other.

[2016-05-19 19:04] ravbhatnagar commented on #2282
Agreed, and we do have a few other features inflight which will help with such things. In addition, you should be able to quickly figure this out from the docs. So may be there is an opportunity to improve that as well. Closing this issue for now. Please re-open if you think otherwise. Thanks!

[2016-05-19 19:04] #2282 closed

[2016-05-19 19:06] ravbhatnagar commented on #1115
This should be fixed now and hence closing this. Please let us know if you still see this issue. Thanks!

[2016-05-19 19:06] #1115 closed

[2016-05-19 19:10] ravbhatnagar commented on #906
Update: We are working on a solution for this. Will provide ETA through the milestone soon.

[2016-05-19 20:23] bmoore-msft commented on #2273
The latest I see is tracked here: https://github.com/Azure/azure-powershell/issues/2140  - let's track the work in that issue.

[2016-05-19 20:23] #2273 closed

[2016-05-19 20:27] markjbrown commented on #566
Thanks @amitsriva for the clarification. Closing issue.

[2016-05-19 20:27] #566 closed

[2016-05-19 20:31] markjbrown commented on #2267
Update: No dates to share on this. As @amitsriva  mentioned this is on our roadmap. Will update this when there is new information.

[2016-05-19 21:26] gregjhogan commented on #2278
@ravbhatnagar looks like there is actually a bug.  I can't find a way to use `-TemplateParameterObject` and pass a parameter named `name`.

The following doesn't prompt for any parameters
[code]

and throws an error saying `nameFromTemplate` is not a valid parameter name.
[code]

[2016-05-19 21:31] hovsepm commented on #2246
Fixed in dev branch, will be available in June release

[2016-05-19 21:31] #2246 closed

[2016-05-19 21:31] hovsepm commented on #1654
Fixed in dev branch, will be available in June release

[2016-05-19 21:31] #1654 closed

[2016-05-19 21:31] hovsepm commented on #1639
Fixed in dev branch, will be available in June release

[2016-05-19 21:31] #1639 closed

[2016-05-19 21:31] hovsepm commented on #429
Fixed in dev branch, will be available in June release

[2016-05-19 21:31] #429 closed

[2016-05-19 21:36] lamchester commented on #2280
Thanks for catching this!

When working on BGP over IPsec cmdlets, I originally started with EnableBgp as a bool. But then specifying -EnableBgp 1 or -EnableBgp 0 just felt funny (PS wouldn't accept true or false strings for a boolean), so I made it a string instead and called bool.Parse.

Yeah...this needs to get fixed.
https://github.com/Azure/azure-powershell/pull/2287

[2016-05-19 22:59] blumu opened #2290 "Save-AzureRMProfile should support exporting profile to in-memory object"
Azure access tokens are not preserved across Azure Powershell jobs (Start-Job). This makes it hard to automate certain Azure tasks (e.g. like parallel replication of files to storage accounts).
The only workaround is to use `Save-AzureRmProfile` to export the context to disk and import it back in the children jobs using `Select-AzureRmProfile`. This is unsecure however as the profile file containi

[2016-05-20 00:05] ravbhatnagar commented on #2278
@gregjhogan The current issue is that if you use a parameter name like "name" and specify the value in the parameter Object, it is ignoring that and asking you for the value again. It appends FromTemplate to the param (called name in this case). But in the output, you can see the value you provide for nameFromTemplate is actually used to update the value of "name" parameter.

In above example you

[2016-05-20 04:47] cwe1ss commented on #1639
Awesome, thank you!

[2016-05-20 06:03] ravbhatnagar commented on #2283
@antmeehan - Can you please share the co-relation ID/trackingID for this deployment?

[2016-05-20 06:09] antmeehan commented on #2283
@ravbhatnagar There is no response from the HTTP POST so I can't see a `x-ms-correlation-request-id` header. Is that what I should be looking for?

[2016-05-20 14:40] carlocardella commented on #1975
I was trying to read the cscfg settings (the "Property" value) returned for a PaaS cloud service; I need to get all cloud services in a given subscription and read some value from the cscfg.
It seemed natural to get the list of services (with Find-AzureRmResource) and pipe it to get what I need (if I explicitly pass the resource name to Get-AzureRmResource I get what I need).
According to https://

[2016-05-20 15:01] Pradebban opened #2294 "Unable to Upgrade RedisCache in AzureChina to Premium from Standard"
Hi,

When trying to upgrade a RedisCache from Standard to premium in AzureChina, am facing the below error. When will be "Premium Redis Cache available in China"?

$UpgradeRedis = Set-AzureRmRedisCache -ResourceGroupName "pradebban" -Name "pradebban" -Size P1 -Sku Premium -Verbose
Set-AzureRmRedisCache : **BadRequest**: The requested update to the resource is not permitted. The following propertie

[2016-05-20 22:36] pcgeek86 opened #2297 "-ResourceGroupName parameter should not be mandatory for Get-AzureRmDnsZone"
-ResourceGroupName parameter should not be mandatory for Get-AzureRmDnsZone

Cheers,
**Trevor Sullivan**
Microsoft MVP: Cloud & Data Center Management
https://trevorsullivan.net
https://twitter.com/pcgeek86

[2016-05-20 22:57] markcowl commented on #2284
@singhkay can you take a look?

[2016-05-20 22:59] markcowl commented on #2272
@blueww Using this to track the current fix.

[2016-05-20 22:59] markcowl commented on #2276
@sighkay can you take a look?

[2016-05-20 23:00] markcowl commented on #2279
@deepakrajenfranmsft can you take a look

[2016-05-20 23:01] markcowl commented on #2280
@deepakrajendranmsft can you take a look

[2016-05-20 23:05] lamchester commented on #2280
That pull request linked above (https://github.com/Azure/azure-powershell/pull/2287) should have fixed it, and has already been merged. I've validated the fix locally. There shouldn't be any need for Deepak to look, unless it didn't fix the issue?

[2016-05-20 23:06] markcowl commented on #2290
@blumu Note that ```Add-AzureRmAccount``` returns a profile

[2016-05-20 23:11] blueww commented on #2272
This is Known bug: RDBug 6413346:[PSH] Get-AzureStorageAccount failed with TooManyRequests when there are 85+ accounts in a subscription

There is also a candidate fix targeted for this release.

David Berg has give a workaround :
Workarounds are going back to an earlier version of PowerShell, using REST API directly, or using Find-AzureRMResource to get the list of storage accounts, and then look

[2016-05-20 23:30] singhkay commented on #2284
Repro'd as a bug, thank you for reporting! Added to our backlog.

[2016-05-20 23:51] blumu commented on #2290
@markcowl `Add-AzureRmAccount` and `Get-AzureRmContext` return an object of type PSAzureContext which is not serializable and therefore cannot be passed as a parameter to `Start-Job`.

[2016-05-21 00:44] markcowl commented on #2290
@blumu Correct.  This is being tracked in a separate issue..  Right now the best way to do start job is to save the profile to a file and then select it as part of your job script.  Once this is resolved, we will start implementing -AsJob for long-running cmdlets.

[2016-05-21 00:45] markcowl commented on #2290
Add-AzureRMAccount returns a PSAzureProfile - only the context is displayed on the screen

[2016-05-21 03:05] blumu commented on #2290
@markcowl Could you add a link to the separate issue you are referring to?
You are right: Add-AzureRMAccount returns a PSAzureProfile but it's still unclear how to serialize it to string and deserialized it back while preserving the underlying Azure token.

[2016-05-21 17:36] neaorin commented on #1724
One limitation of this approach is getting a list of your VMs together with their current status (running or not).

It's a common scenario especially for people with many VMs. Unless I am missing something, they now need to do one API call for each VM which is time consuming especially compared to the single old ASM call `Get-AzureVM | FT Name, Status`.

Please consider allowing `GetAzureRmVM -Sta

[2016-05-21 18:47] lawrencegripper commented on #2206
@markcowl I second this can you provide some reference to docs on what will change? The output object is core to a release pipeline I use.

It's running in Release Manager in VSTS and there doesn't appear to be anyway to set the Azure Powershell task to use a specific version of the AzureRM cmdlets so semantic version doesn't help me :(

[2016-05-22 08:08] alfhenrik commented on #1283
I haven't tested it after that, but I'll close this issue and if I run in to the issue again, I'll reopen it.

[2016-05-22 08:08] #1283 closed

[2016-05-23 12:39] jtuliani commented on #2297
Agree 100%.  We're already tracking this, it will be fixed in a future release.

[2016-05-23 17:21] markjbrown commented on #2131
@markcowl Looks like customer's PS MSI is missing a library. Removing Networking tag.

[2016-05-23 17:22] markjbrown commented on #2131
@markcowl can you remove Networking tag? Can't seem to update issue. thanks.

[2016-05-23 17:25] markjbrown commented on #2114
@theobolo Check out the example here for how to include the LB, https://msdn.microsoft.com/en-us/library/mt697562.aspx

Closing. Please reopen if needed.

[2016-05-23 17:25] #2114 closed

[2016-05-23 17:29] markjbrown commented on #2042
You cannot use the same backend IP for both Load balancers.

lbruletcp22 use the same backend port (22) and protocol (Tcp), and must not be used with the same backend ip

Create a different backend port. This is a service limitation. If you create a unique one for each it will work fine.

[2016-05-23 17:29] #2042 closed

[2016-05-23 17:34] #1812 closed

[2016-05-23 17:36] markcowl opened #2300 "Fix Flaky tests in on-demand test run"
### Description
Identify flaky tests and remove or correct

### Size: 2

### Details

(1)
Microsoft.Azure.Commands.Resources.Test.Models.ResourceClientTests.NewResourceGroupUsesDeploymentNameForDeploymentName
Moq.MockException : \r\nExpected invocation on the mock once, but was 0 times: f => String.Format("Resource {0} '{1}' provisioning status is {2}", "Microsoft.Website", .resourceName, "Succeed

[2016-05-23 17:44] markjbrown commented on #1551
@DarrylvanderPeijl name is required to identify the subnet to be changed.

@pcgeek86 Trevor. Been discussing this. Can you email me directly? thanks.

[2016-05-23 17:46] markcowl opened #2301 "Identify issues with Microsoft.Web.Deployment and Microsoft.Web.Hosting in installer build"
### Description
Microsoft.Web.* assemblies are copiued in the build on some systems and not on others.  Identify the cause for this and fix so that all appropriate assemblies are included in the cmdlet packages (and in wxi file generation).

### Size: 1

[2016-05-23 17:56] markjbrown commented on #491
Fixed in prior release. Closing.

[2016-05-23 17:56] #491 closed

[2016-05-23 17:58] markjbrown commented on #472
Duplicate from https://github.com/Azure/azure-powershell/issues/1551 closing, will track from #1551

[2016-05-23 17:58] #472 closed

[2016-05-23 18:00] markjbrown commented on #351
We don't support renaming of endpoints. not on our roadmap either.

[2016-05-23 18:00] #351 closed

[2016-05-23 18:02] markjbrown commented on #282
Need more information. Please specify cmdlets and reopen issue. thanks.

[2016-05-23 18:02] #282 closed

[2016-05-23 18:15] blumu commented on #1530
@markcowl Note that `$ErrorActionPreference` does work in this case, it's the `-ErrorAction` parameter which does not work. This is clearly a bug, not a feature, there is no reason why this particular cmdlet should behave differently from other `Get-*` Azure PS cmdlets.

@slapointe Here is the workaround I'm using:

    $currentActionPreference = $ErrorActionPreference
    $ErrorActionPreference =

[2016-05-23 18:31] kilasuit opened #2302 "Please add Azure & module type Tags when published to the PowerShell Gallery"
Example of the issue would be when you run the below

[code]
You only get the below modules show up
[code]
which doesn't include the Azure Modules

I would also expect that using the AzureRM.SQL module as an example that there should be at minimum the following tags Azure, AzureRM & SQL

This should be an easy addition to all of the modules and in my opinion should just be there.

[2016-05-23 18:32] frachel opened #2303 "Login-AzureRmAccount UI - We require a web browser plugin but it won't install here."
For our corporate SSO, every time we connect with an unregistered browser we have to get a security code from Symantec Validation and ID protection. We have the option of saving/remembering the browser. If we do that it needs to download the "Symantec Authentication Client Plugin". The file downloads and I get a popup about running or saving the file. If I hit "Run", Powershell immediately gives m

[2016-05-23 22:23] markjbrown commented on #2280
@cg6 Please Closing as issue is reported fixed. If not please reopen. Thanks.

[2016-05-23 22:23] #2280 closed

[2016-05-23 22:24] hovsepm opened #2306 "AzureResourceManager.psd1 is included in several PS packages"
### Description
AzureRM.Compute, AzureRM.KeyVault, AzureRM.LogicApp, AzureRM.Network, AzureRM.Sql, AzureRM.Storage, AzureRM.Websites packages include AzureResourceManager.psd1. This should be removed. AzureResourceManager.psd1 package is used in couple of tests that needs to import specific modules instead. After that this file should be deleted from repo and wxi file should be regenerated.

### C

[2016-05-23 22:40] kokajambo opened #2307 "Get-AzureRmResource by ResourceName and Type doesn't work"
Get-AzureRmResource by ResourceName and Type doesn't work: it gives me an error **"Get-AzureRmResource : ResourceNotFound : The Resource 'xxxxxxxx' under resource group '<null>' was not found."**
Basically it says it requires ResourceGroupName, but that's not what I'm looking for. Msdn documentation mentions this set of parameters as acceptable: "Parameter Set: Get a resource by name and type."

A

[2016-05-24 00:36] ravbhatnagar commented on #2086
@one-harsh - Are you still running into the above issue?

[2016-05-24 00:38] ravbhatnagar commented on #1886
@TianoMS - Please check if we can improve the error message here

[2016-05-24 00:39] ravbhatnagar commented on #1778
@TianoMS - Can you please take a look?

[2016-05-24 00:40] ravbhatnagar commented on #309
@TianoMS - Can you please see if this still repros.

[2016-05-24 03:09] Pradebban opened #2309 "Move-AzureRmResource: Ordering of Parameters incorrect/misleading"
Move-AzureRmResource -DestinationResourceGroupName "DestinationRGRP" -DestinationSubscriptionId "123456" **-Force** -ResourceId "abcdef/12345"

The positional parameter "**Force**" is made before "**ResourceId**", Which is not a standard in AzurePowershell commands.

Also "**ResourceId**" is a mandatory- critical parameter for this command and would like it to take precedence over "-**Force**"

Th

[2016-05-24 13:00] Nightsmark opened #2312 "Start-AzureRmAutomationRunbook Memory Leak"
Disclaimer: This maybe be a Powershell ISE memory leak, but I'm starting here first.

I'm running Start-AzureRmAutomationRunbook with the parameters:
-AutomationAccountName
-Name
-Parameters
-ResourceGroupName
-Verbose

Memory use is increasing on average about 30-40 MB per second and the command never finishes running if you let it sit. Below is a snippet just taken from task manager that shows t

[2016-05-24 16:18] Pradebban commented on #2294
Had another check on this Bug and i was able to Upgrade a Standard Redis Cache to Premium.
Closing the bug as am not able to repro.

[2016-05-24 16:18] #2294 closed

[2016-05-24 16:28] markjbrown commented on #2297
This is a dup for #1396. Closing, will track from that one. Thanks Trevor for reporting.

[2016-05-24 16:28] #2297 closed

[2016-05-24 17:12] akurmi commented on #2259
Adding @davidebbo as he may know how these APIs work.

[2016-05-24 18:07] davidebbo commented on #2259
@mskutin are you using a service principal identity? If so, I think there may be some limitations around that. @suwatch is the expert.

[2016-05-24 20:35] suwatch commented on #2259
Correct, we don't support service principal identity.

If you were just using typical user account, make sure you log on to  [portal](https://portal.azure.com) with this same account and setup deployment of any webapp with Github once (involving OAuth flow).

[2016-05-25 01:13] #2301 closed

[2016-05-25 01:23] TianoMS commented on #309
This issue no longer repros. I tried:

new-azurermresourcegroupdeployment -ResourceGroupName "tiano309" -TemplateFile "t1.json" -TemplateParameterObject @{storageAccountName="verylongname111111111111111111"},

and we could get the error message.

[2016-05-25 01:45] markcowl commented on #2302
A good suggestion.  we have some other uses in mind for tags, but these should be no-brainers.

[2016-05-25 01:49] markcowl commented on #2303
@frachel The only thing I can immediately offer is using an alternate authentication mechanism, like service principal.  I have not seen this error, and we do not control the display of this dialog, (adal.net does).  WIll ask around and cross-post this in their repo.

[2016-05-25 01:54] markcowl commented on #2307
@ravbhatnagar can you take  a look?

[2016-05-25 01:54] markcowl commented on #2309
@ravbhatnagar can you take a look?

[2016-05-25 01:57] markcowl commented on #2312
@Nightsmark off the top of my head, this is likely traffic that is being written to the debug stream.  As an experiment, can you try runnign with ```$DebugPreference="Continue"```` and see if the same behavior occurs.

[2016-05-25 06:40] markcowl commented on #2272
fixed in #2298

[2016-05-25 06:40] #2272 closed

[2016-05-25 06:50] LiliDeng opened #2326 "Get-AzureRmStorageAccount const much longer time when update into lateast version"
We run Get-AzureStorageAccount against azure PS using version 0.9.8 cost 1 second.
Run Get-AzureRmStorageAccount against azure PS using version 1.4.0 cost 1.5 mins. Also it brings in some exception if we delete storage account during the 1.5 mins.

[2016-05-25 07:45] ravbhatnagar commented on #2307
@kokajambo - This is by design. As mentioned in issue #2093 , Resource type and resource name should not be a valid parameter set for this cmdlet. We will fix that in code and also the documentation would be update. For this scenario, please use Find-AzureRmResource cmdlet

[2016-05-25 13:19] Nightsmark commented on #2312
It doesn't look like that is the issue. I let it run for 5-6 minutes and it used ~2 GB of memory but it didn't output any more debug information than this.

![runbookdebuganonymized](https://cloud.githubusercontent.com/assets/10898395/15541244/d1a64374-2248-11e6-8374-51946f1e8595.png)

[2016-05-25 14:21] pcgeek86 opened #2328 "Remove-AzureRmDnsRecordSet doesn't accept pipeline input"
# Issue

Remove-AzureRmDnsZone doesn't accept pipeline input

[code]

# Expected Result

`Remove-AzureRmDnsZone` should accept pipeline input.

Cheers,
**Trevor Sullivan**
Microsoft MVP: Cloud & Data Center Management
https://trevorsullivan.net
https://twitter.com/pcgeek86

[2016-05-25 14:54] kokajambo commented on #2307
Thanks for answer @ravbhatnagar!
I have my concerns about using Find-AzureRmResource as a workaround, I'll explain them in #2093 discussion thread

[2016-05-25 15:00] kokajambo commented on #2093
Hi @ravbhatnagar,
I've been using Find-AzureRmResource as a workaround for this, but it has a bit of an overhead: it returns a collection of resources with names that contain input name. And then I have to iterate thru it and see if one of them matches precisely. It's doable, but certainly not convenient.
Also, Get-AzureRmResource by type and name make perfect sense semantically. Why not support i

[2016-05-25 16:59] memark commented on #726
I'm not sure I understand the point of the warning I'm currently getting (which brought me here). Even if I have the time now to fix it, there is nothing I can do? I still have to wait for the new API? And when it arrives, what will happen, will I get an error?

[2016-05-25 17:53] ravbhatnagar commented on #1886
Fixed for the June release.

[2016-05-25 17:53] #1886 closed

[2016-05-25 17:54] ravbhatnagar commented on #309
Closing as this doesn't repro. Feel free to reach out or reopen if you feel otherwise.

[2016-05-25 17:54] #309 closed

[2016-05-25 17:54] xt0rted opened #2330 "Is this project available on NuGet?"
I'm running powershell scripts inside my c# code using [Microsoft.PowerShell.5.ReferenceAssemblies](https://www.nuget.org/packages/Microsoft.PowerShell.5.ReferenceAssemblies/) and one of the responses I get back is for [PSResourceGroupDeployment.cs](https://github.com/Azure/azure-powershell/blob/83203f0c2ab4988661f570991b4b26a6c8ee8338/src/ResourceManager/Resources/Commands.Resources/Models.Resour

[2016-05-25 17:57] ravbhatnagar commented on #2250
Fixed for June 2016 release

[2016-05-25 17:57] #2250 closed

[2016-05-25 18:21] ravbhatnagar commented on #2206
@lawrencegripper @ckarras  - This particular change is for the Resource Group and Resource Group Deployment cmdlets where the output object will change to the standard PSObject from the current type which is a custom object (PSResourceGroup and PSResourceGroupDeployment respectively).

I understand that although the current warning lets customers know about an upcoming breaking change, it doesn't

[2016-05-25 18:24] markcowl commented on #2330
Modules are available from the PowerShell Gallery: https://www.powershellgallery.com/ which is sessentially NuGet (OneGet) for PowerShell

[2016-05-25 18:24] #2330 closed

[2016-05-25 18:26] markcowl commented on #2312
@jodoglevy can you take  a look?

[2016-05-25 18:29] markcowl commented on #2326
@LiliDeng This was just fixed in the dev branch (see #2272) and the fix will be out in next releas (6/1)

[2016-05-25 18:29] #2326 closed

[2016-05-25 18:33] markcowl commented on #2328
@jtuliani can you take a look

[2016-05-25 19:20] suwatch commented on #2259
A few corrections.

  - Looking at the error above, this implied that user did not use Service Principal.  It is interact user (with PUID: 100300XXX) account.   @mskutin, try logon to [portal](https://portal.azure.com/) and perform [setup continuous deployment](https://azure.microsoft.com/en-us/documentation/articles/web-sites-publish-source-control/) thru portal ui once.   Then retry your scenari

[2016-05-25 19:41] energizedtech opened #2331 "Add-AzureRMAccount gives Password error which is not good in a security context"
If you Use Add-AzureRMAccount and supply an old password it will actually produce an error which says so.   It would be better to simply show "Access Denied".
If the credentials were compromised it validates to an attacker they have found an old but valid set of keys from those credentials.
Such information would allow an attacker to attempt additional attacks on other targets in an organization a

[2016-05-25 20:36] #2202 closed

[2016-05-25 23:11] jodoglevy commented on #1257
+1! Here's my reasoning on why this is needed ( @markcowl already sent you this, just putting it here so its tracked along with the issue):

I think the problem is that the profile is still singular, it’s just now been moved from being in a file to being in memory. If script A is running against subscription A, and another script B comes along and overwrites the in memory profile using Add-AzureRM

[2016-05-25 23:56] alexandair opened #2334 "Fixing the names for Operational Insights cmdlets"
IMO, it would make sense to create aliases that will use "LogAnalytics" instead of "OperationalInsights".

"IntelligentPack" should be also changed to "Solution". For example:
[code]
Also, there is a bunch of wrongly named cmdlets that use a plural nouns instead of singular nouns:
[code]

[2016-05-25 23:57] hovsepm opened #2335 "Commands.ScenarioTests.ResourceManager.Common project contains ps1 files that have the same name as product packages"
### Description

We need to disambiguate names for easier maintenance by adding "Test" suffix to the name of the script file:
- AzureRM.Storage.ps1
- AzureRM.Resources.ps1
### Cost (Work Units): 1

[2016-05-26 02:15] ravbhatnagar commented on #726
@memark -   The intent of adding the warning is to raise awareness about an upcoming breaking change. Seeing it the customers would know that such a change is coming in future and they might have to update the scripts. They can plan to move to the version containing the breaking change accordingly.
When you start using the release which contains this change, your existing scripts using Tags might

[2016-05-26 02:19] ravbhatnagar commented on #726
Since this turned out to be a change impacting a lot of cmdlets from different teams, we are pushing this out by a month. The reason is to fix this across the board for all Azure cmdlets and give some warning about the upcoming change to customers of all those different cmdlets. The warning we added in added the last release was only to a subset of these cmdlets.

So in the June release, all the c

[2016-05-26 02:19] ravbhatnagar commented on #397
Since this turned out to be a change impacting a lot of cmdlets from different teams, we are pushing this out by a month. The reason is to fix this across the board for all Azure cmdlets and give some warning about the upcoming change to customers of all those different cmdlets. The warning we added in added the last release was only to a subset of these cmdlets.

So in the June release, all the c

[2016-05-26 02:20] ravbhatnagar commented on #230
Since this turned out to be a change impacting a lot of cmdlets from different teams, we are pushing this out by a month. The reason is to fix this across the board for all Azure cmdlets and give some warning about the upcoming change to customers of all those different cmdlets. The warning we added in added the last release was only to a subset of these cmdlets.

So in the June release, all the c

[2016-05-26 02:20] ravbhatnagar commented on #2189
There are some other issues we encountered while fixing this. We will fix this along with the other issues in the July release.

[2016-05-26 02:21] ravbhatnagar commented on #2190
There were some other issues encountered with the Lock cmdlets. We will fix those and update the help in the next release.

[2016-05-26 04:46] gregjhogan opened #2336 "Add support for passing keyvault secrets through TemplateParameterObject"
It looks like when [template parameters are assembled for trasmission](https://github.com/Azure/azure-powershell/blob/dev/src/ResourceManager/Resources/Commands.ResourceManager/Cmdlets/Implementation/CmdletBase/ResourceWithParameterCmdletBase.cs#L139) only a template parameter file supports keyvault references.  This means dynamic parameters and -TemplateParameterObject does not support keyvault r

[2016-05-26 05:15] pcgeek86 commented on #1257
Thanks for your input, Joe. To build on that a little bit, it kind of goes back to the old `Switch-AzureMode` days. Remember when he had to "switch" between module contexts? It was painful. In a similar vein, I think that users shouldn't be *required*, but still have the option of, switching Azure subscription contexts.

The nice thing about using the `-Profile` parameter universally on AzureRM co

[2016-05-26 05:17] pcgeek86 commented on #230
That's interesting. I wonder why the warning was only added to a subset of cmdlets, instead of all affected ones.

[2016-05-26 06:43] andyliuliming opened #2337 "Get-AzureRmStorageAccount failed at mooncake."
C:\Users\andliu\Documents\GitHub\MooncakeImageService\StarDustV2\AutoDeploy [master ↑]> Get-AzureRmStorageAccount
Get-AzureRmStorageAccount : The resource type 'storageAccounts' could not be found in the namespace 'Microsoft.Storage' for api version '2016-01-01'. The
supported api-versions are '2015-06-15,2015-05-01-preview'.
At line:1 char:1
+ Get-AzureRmStorageAccount
+ ~~~~~~~~~~~~~~~~~~~~~~~~~

[2016-05-26 06:44] ravbhatnagar commented on #230
@pcgeek86 - Well, you can say that it took a little longer to get everyone on board with this breaking change :). But also, we wanted to do such breaking changes in a major version upgrade for Azure PS and club as many of such changes together. This was another major reason to push it out.

[2016-05-26 11:08] Students commented on #1309
Hi All,

Had just the same issue.

In my case - account was valid OrgID User.

Stupid mistake, but I saw in original request it as well.

Password contains $ sign
In powershell you need to escape it using ` sign :)

Not $MyAzurePassword = ConvertTo-SecureString '$myPassw0rd1' -AsPlainText -Force;
But $MyAzurePassword = ConvertTo-SecureString '`$myPassw0rd1' -AsPlainText -Force;

ToanNN's code work

[2016-05-26 14:36] jtuliani commented on #2328
I updated the title of the issue to refer to DNS record sets instead of zones, since that's what you gave in your description.  However I see the same behaviour for both record sets and zones.

It works when you want to delete a single record set or a single zone:

[code]

However, if the 'Get' command is scope more broadly, so it returns an array of results, this doesn't work:

[code]

Trevor, pl

[2016-05-26 15:48] jeffpatton1971 commented on #2334
I like that idea @alexandair but maybe instead of operational insight (old name as I recall) perhaps replace all that with just OMS.

Set-AzureRMOMSIntelligencePack

I like the intelligence pack more than your suggestion of log analytics, because not all of the IP's are log analytics. but I could totally be wrong.

[2016-05-26 16:57] pcgeek86 commented on #2328
@jtuliani Yes, it is because I needed to delete the entire zone, and first had to delete the record sets. Rare scenario or not, customers should have the flexibility to run the commands that they need to. The basic expectation here, from a typical PowerShell user, is that they can pipe objects from a `Get` command, into an equivalent `Remove` command, and it should simply do what they asked it to.

[2016-05-26 17:01] pcgeek86 commented on #230
It's interesting how some engineering teams (eg. Storage) make breaking changes without any warning, but when external customers ask for breaking changes, there are many barriers to get through. Double standards? :smile:

I understand the desire to clump changes together. It's not a big deal, just interesting that it wasn't handled the first time. Good job being a "gatekeeper" and ensuring standar

[2016-05-26 17:02] pcgeek86 commented on #2260
@akromm @markcowl This is still a problem. Has anyone started work on this?

[2016-05-26 17:03] pcgeek86 commented on #2197
@jodoglevy @markcowl Any thoughts folks?

[2016-05-26 17:05] pcgeek86 commented on #2212
Okay, but there was no warning put in place to inform customers that this would break, was there? I'm just trying to understand why these breaking changes are released without communicating to customers. When customers ask for logically-supported, breaking changes to components, they are often pushed back on, so I'm trying to understand why there's a double standard. :smile:

@markcowl Do we have

[2016-05-26 17:29] pcgeek86 opened #2340 "Bug: Can't create SQL Server with a tag"
![image](https://cloud.githubusercontent.com/assets/466713/15583894/05e38830-2335-11e6-981a-72593bf755a3.png)

Cheers,
**Trevor Sullivan**
Microsoft MVP: Cloud & Data Center Management
https://trevorsullivan.net
https://twitter.com/pcgeek86

[2016-05-26 18:00] jtuliani commented on #2328
Thanks Trevor for the feedback.  The reason we ask about end-to-end scenarios is that otherwise it's too easy to make the mistake of delivering a basket of features that doesn't enable customers to actually complete any scenarios!  We like to understand the context behind the features and how they are used.

That said, I agree completely that interoperation between features is important, as is con

[2016-05-26 18:09] ravbhatnagar commented on #230
Yes, I hear you. We are driving towards a more uniform standard across all teams in this respect too. Hopefully we will get better at this soon.

[2016-05-26 18:26] pcgeek86 commented on #2328
Here you go, @jtuliani

[code]

**NOTE**: This has very little to do with building off of Azure PowerShell design principles, but rather following PowerShell core design principles. 😄 Pipelining collections of objects is one of the most core use cases in core PowerShell (outside of any third-party modules).

[2016-05-26 18:37] timomta opened #2342 "Get-AzureRmTrafficManagerProfile With only -Name argument just returns, no error"
If you enter the Traffic Manager profile name without the resource group name, like this:
 Get-AzureRmTrafficManagerProfile -Name myprofilename
The cmdlet simply returns to the cmd prompt with no indication of success or failure.
It appears that Get-AzureRmTrafficManagerProfile requires both -Name and -ResourceGroupName to work properly, but it doesn't enforce that or give the user feedback.

[2016-05-26 18:39] jodoglevy commented on #2197
I don't disagree @pcgeek86, but this is currently low priority I think, because you can do the same waiting with a while loop. I will open a bug internally to track though.

[2016-05-26 19:43] jodoglevy commented on #2312
I was not able to repro this:

[code]

Memory use only increased a few MB, and went back down after command ended.

Can you try updating to the latest version of the AzureRM cmdlets? Also, do other AzureRM cmdlets (or other cmdlets in general) cause memory issues for you?

[2016-05-26 22:05] hovsepm opened #2345 "Add test coverage for Linux VM disk encryption in Compute Extensions"
Discovered test coverage issue in PR #2313. This should be fixed by next release.

[2016-05-27 03:31] blueww commented on #2212
Hi Trevor,
The change is caused by the SDK change, but not PowerShell intend to change it.
Yes, we will do more review on the SDK upgrade and other interface change in the future to avoid such breaking change.
Thanks!

[2016-05-27 05:27] tohling opened #2349 "Get-AzureRmResource returns strange error"
I have a script that uses service principal to execute Azure PowerShell cmdlets.  Most of the other cmdlets are working except for **Get-AzureRmResource**.  Here's a sample snippet of my script code:

$secpasswd = ConvertTo-SecureString "somePassword" -AsPlainText -Force;
$mycreds = New-Object System.Management.Automation.PSCredential ("someUsername", $secpasswd)
Add-AzureRmAccount -ServicePrincip

[2016-05-27 05:46] avishnyakov opened #2350 "Get-AzureRmVm -Status returns empty values"
Calling Get-AzureRmVm -Status within Azure Automation returns empty .Statuses prop. The objects are there yet Code / Level / DisplayStatus props are empty. Calling same Get-AzureRmVm -Status from the local laptop works well.

All packaged were uploaded to Azure automation from the local laptop.

Any ideas how to troubleshoot that?

[2016-05-27 08:01] miquelcv opened #2353 "Get-AzureRmAutomationSchedule Requested value 'Week' was not found."
I have an schedule asset that is using weekly schedules, it seems that Get-AzureRMAutomationSchedule can't handle this kind of schedules.

**Module Version**
Azure 1.4.0
AzureRM.Automation 1.0.8

**Error**
Get-AzureRmAutomationSchedule : Requested value 'Week' was not found.
At line:1 char:62
- Get-AzureRmAutomationSchedule -ResourceGroupName $Automat ...
-                 ~~~~~~~~~~~~~~~~~~~~~~~~

[2016-05-27 15:00] jtuliani commented on #2328
OK, you convinced me.  I'll file a bug internally to track, but I want to set a realistic expectation that it might take some time to get to this.  In the meantime, Azure PowerShell is open source and open to community contributions...:)

[2016-05-27 18:59] wbrophy opened #2354 "Save-AzureRmVMImage"
Save-AzureRmVMImage
https://msdn.microsoft.com/en-us/library/mt619423.aspx

Documentation identifies an Output property containing a json template.  However, this does not seem to be the case:  Here is what is returned from "Save-AzureRmVMImage":

RequestId IsSuccessStatusCode StatusCode ReasonPhrase
--------- ------------------- ---------- ------------
                         True         OK OK

[2016-05-27 23:05] wbrophy commented on #2354
the following works:

write-output "Imaging $VMName"
$JSONRESULT = [System.IO.Path]::GetTempFileName()
$VMImage = Save-AzureRmVMImage -DestinationContainerName "images" -Name $VMName -ResourceGroupName $rg.ResourceGroupName -VHDNamePrefix $vhdPrefix -Path $JSONRESULT
$result = Get-Content -Path $JSONRESULT | ConvertFrom-Json
$OSDiskURI = $result.resources.properties.storageProfile.osDisk.image.uri

[2016-05-27 23:05] #2354 closed

[2016-05-27 23:23] #1897 closed

[2016-05-27 23:25] ravbhatnagar commented on #2218
@TianoMS - Please take a look. Thanks!

[2016-05-27 23:28] ravbhatnagar commented on #2309
@TianoMS - lets fix this.

[2016-05-27 23:29] ravbhatnagar commented on #2230
@TianoMS - Lets investigate this.

[2016-05-27 23:30] ravbhatnagar commented on #1961
@tianoMs - please see if we can improve the message in this case? Why is it showing a Task was cancelled message. Are we not getting a better error from the RP?

[2016-05-27 23:53] hovsepm commented on #2349
@tohling Please make sure you do not have powershell gallery modules installed along with general MSI

[2016-05-28 00:43] TianoMS commented on #1778
@hovsepm I checked the other cmdlets on how to handle similar cases, and the practice seems to be throwing exception.

Get-Process -Id 1234, throws ObjectNotFound exception.
Get-AzureRmSubscription -Id "non-existing-Id", throws PSArgumentException.

I think I'll resolve this one as won't fix.

[2016-05-28 13:21] ned1313 commented on #1724
Ain't pretty, but you can do this: `Get-AzureRmVM -ResourceGroupName [RG] | get-azurermvm -Status | ?{$_.statuses.displaystatus -eq "VM running"} | select name`

[2016-05-28 19:43] RamjotSingh commented on #955
The script given above to upload cert to KeyVault and use that url is not working and hrows the same "specified in WinRM configuration is not defined in the VM model secrets.". Has the format changed?

[2016-05-29 08:20] alecor191 commented on #2107
Hi @shuagarw. Do you have an update on when ReplyUrls will be added to New-AzureRmADApplication? I'm in the same situation as @aizumoff.

[2016-05-29 09:15] Nepomuceno opened #2361 "On version 1.4 the validation for the templates is wrong"
When I try to validate a template that has a Servicebus Namespace on it the validation got rejects if the name of the namespace contains dashes on it (-) what is incorrect since servicebus namespaces can have dashes on it.

To reproduce just try to deploy the template

[code]

[2016-05-30 03:34] vinjiang commented on #2337
This is a backwards comp issue caused by the lower SRP API version supported by Mooncake. Please try the older version before Mooncake supports latest API version.

[2016-05-31 03:28] xqiu commented on #2212
Yes, please fix it, I just found that the issue broke the script I downloaded from https://github.com/fullscale180/asm2arm

[2016-05-31 03:58] blueww commented on #2212
@xqiu
You can do a simple fix on your script to make it work again. Please let us know if you meet any issue to fix it, and we are glad to help you on this.
$StorageKey = Get-AzureRmStorageAccountKey -ResourceGroupName foo -Name bar;
Change:
$StorageKey.Key1 -> $StorageKey.Value[0]
$StorageKey.Key2 -> $StorageKey.Value[1]

[2016-05-31 05:37] Pradebban opened #2364 "No documentation for Available Azure Services is China"
There is no mention of AzureChina Region in the official "Azure Services Region page"
[https://azure.microsoft.com/en-us/regions/#services]

It will be helpful to know what are the services available in Azure China.

Thanks,
Pradebban Raja

[2016-05-31 05:44] Pradebban opened #2366 "New-AzureRmStorageAccount - not working for Location - China East/ China North"
New-AzureRmStorageAccount -ResourceGroupName SAMPLE1 -Name "Sample" -Type Standard_GRS -Location "**China East**"

New-AzureRmStorageAccount : Specified argument was out of the range of valid values.
Parameter name: accountName
At line:1 char:1
+ New-AzureRmStorageAccount -ResourceGroupName SAMPLE1 -Name "Sample" -Type Standa ...
+ ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

[2016-05-31 05:49] Pradebban opened #2367 "New-AzureRmApiManagement not supported for China Regions"
New-AzureRmApiManagement -ResourceGroupName SAMPLE1 -Name "sampleapim" -Location "**China East**"
New-AzureRmApiManagement : Cannot validate argument on parameter 'Location'. The argument "China East" does not belong to the set
"North Central US,South Central US,Central US,West Europe,North Europe,West US,East US,East US 2,Japan East,Japan West,Brazil
South,Southeast Asia,East Asia,Australia East,

[2016-05-31 13:30] pcgeek86 commented on #2366
The error is complaining about your invalid Storage Account Name, not the `-Location` parameter. Storage Account names must be lowercase.

[2016-05-31 14:53] Pradebban commented on #2366
Got it, thanks @pcgeek86

[2016-05-31 14:53] #2366 closed

[2016-05-31 18:57] markcowl commented on #2364
@Pradebban This is the repo for azure-powershell, not for the azure web pages.  Can you please place a comment directly on that page?

The page may also be here: https://github.com/Azure/azure-content

[2016-05-31 18:57] #2364 closed

[2016-05-31 18:59] markcowl commented on #2367
@Pradebban Note that you can get a list of services and supported regions using
[code]

[2016-05-31 18:59] #2367 closed

[2016-05-31 19:34] Pradebban commented on #2367
@markcowl Below is the error which am getting. Between please let me know on what basis the issue is closed?

Get-AzureRMLocation
Get-AzureRMLocation : The term 'Get-AzureRMLocation' is not recognized as the name of a cmdlet, function, script file, or operable
program. Check the spelling of the name, or if a path was included, verify that the path is correct and try again.
At line:1 char:1
+ Get-A

[2016-05-31 21:10] pcgeek86 opened #2370 "New-AzureRmResourceGroupDeployment should throw exception if value specified for -TemplateParameterFile parameter is missing"
`New-AzureRmResourceGroupDeployment` should throw exception if value specified for `-TemplateParameterFile` parameter is invalid. Filesystem path should be tested. If missing, throw an exception.

Cheers,
**Trevor Sullivan**
Microsoft MVP: Cloud & Data Center Management
https://trevorsullivan.net
https://twitter.com/pcgeek86

[2016-05-31 22:40] suwatch commented on #2259
@mskutin are you still having issue?  If yes, first please clarify whether you were using service principal?   Also do include time frame of the failure and site name (here or [indirectly](https://github.com/projectkudu/kudu/wiki/Reporting-your-site-name-without-posting-it-publicly)).

[2016-05-31 22:55] krkhan opened #2371 "Run disk encryption tests as part of on-demand job"
Currently, `TestAzureDiskEncryptionExtension()` is marked with `Category.LiveOnly`. Use `Category.CheckIn` attribute.

[2016-05-31 22:57] #2371 closed

[2016-05-31 23:51] singhkay commented on #1724
@neaorin @ned1313 We could explore calling both APIs (model and instance view) and display the most important VM properties + VM status for a vanilla `Get-AzureRmVm` call (without any parameters). However, this will mean more time to return the result since more API calls need to be made esp. if you have a large number of VMs in your subscription. Will the performance hit be acceptable?

[2016-06-01 02:48] mskutin commented on #2259
@suwatch, whether or not service principle I still have.

I thought we discuss this by email, ticket number is [216051214155825001]

Here is what I have:

[2016-06-01 07:57] loekd commented on #1736
$ParametersObject = @{targetSlot  = "[slot name – e.g. “production”]"}
Invoke-AzureRmResourceAction -ResourceGroupName [resource group name] -ResourceType Microsoft.Web/sites/slots -ResourceName [web app name]/[slot name] -Action applySlotConfig -Parameters $ParametersObject -ApiVersion 2015-07-01

from
https://azure.microsoft.com/nl-nl/documentation/articles/web-sites-staged-publishing/

[2016-06-01 09:34] hallatore commented on #1736
Thanks. This works perfectly.

[2016-06-01 11:26] neaorin commented on #1724
The performance hit might be fine for some users (myself included) and not acceptable for others. In my view, if the performance hit is significant then it would be better to have the user opt-in by explicitly requesting instance information - for instance `GetAzureRmVM -Status`.

[2016-06-01 12:52] GamerLivingWill opened #2373 "Get-AzureRmAutomationDscCompilationJobOutput Summary does not display entire summary text"
This is what is displayed when you run Get-AzureRmAutomationDscCompilationJobOutput
ResourceGroupName     : azdsc
AutomationAccountName : dscdemo
JobId                 :
StreamRecordId        :
Time                  : 5/31/2016 2:44:08 PM -04:00
Summary               : <jobid>:[localhost]:The 'Microsoft.PowerShell.Manag...
Type                  : Warning

If you view the Summary property, you get

[2016-06-01 16:54] ned1313 commented on #1724
I'd like to see it scoped to a VM or ResourceGroup, so if you want to use the -Status switch it either requires a VM name or ResourceGroup name.

[2016-06-01 17:14] suwatch commented on #2259
@mskutin Sorry I must have missed that conversation on the mail thread.

My apology as I wasn't being clear about `try logon to portal and perform setup continuous deployment thru portal ui once`.   What I meant was you must go thru portal with that same account and try to setup `GitHub` (not External) continuous integration (hilited below) once.  This will lead you to perform the OAuth flow with

[2016-06-01 20:42] markcowl commented on #2302
The azure tagis added by the command line, moved this into tags in the manifest candidate fix #2363   This is on hold pending the UpdateModuleManifest bug with formats/types

[2016-06-01 20:43] hovsepm commented on #2254
This is ADAL related issue and AD team is working on the fix.

[2016-06-01 20:43] #2254 closed

[2016-06-01 20:46] markcowl commented on #2223
Candidate fix in #2363 waiting for work from posh core tea,m on Update-ModuleManifest