[2018-04-24 09:03] foxxhot opened #6030 "Start-AzureRmVM : No status info"
### Description
We are using status info as following to judge if the command runs correctly in automation runbook,  but with AzureRM.Compute 4.6.0 nothing returns from Start-AzureRmVM.

$result = $vm | Start-AzureRmVM
$result.Status

With AzureRM.Compute 4.5.0 and before this issue did not exist.  Could you fix this issue? Thanks.

### Script/Steps for Reproduction
$vm = get-azurermvm -ResourceGr

[2018-04-24 09:43] KrishnaAdityaB opened #6031 "'Get-AzureRMResource' cmdlet fails with "InvalidApiVersionParameter : The api-version '2018-05-01' is invalid""
Since few hours, AzureFileCopy VSTS Task started failing for customers using certain versions of Azure PowerShell. https://github.com/Microsoft/vsts-tasks/issues/7059

The failure is with _Get-AzureRMResource_ cmdlet.
It is passing with 4.4.1. But failing with 2.1.0 (and few other versions).

Execution of the cmdlet from PowerShell directly is also failing with the same error.

**Here is the error

[2018-04-24 11:10] slavizh opened #6032 "Invoke-AzureRmOperationalInsightsQuery returns any data as string"
### Description

When run Invoke-AzureRmOperationalInsightsQuery and get .Results from the object all data is returned as string. According to the official documentation the Log Analytics Search API returns the types of the different columns. The Enumerable that is returned for results should honer the data types and return them as the output of the query rather returning every column as string.

[2018-04-24 13:42] mulaysmara commented on #2617
I am also experiencing the same issue when cloning **AppSlot** from existing One.

[2018-04-24 15:28] cormacpayne commented on #6030
@hyonholee @nibhat hey guys, would you mind taking a look at this issue? Do you know of any issues with the server not returning data for these types of operations?

[2018-04-24 15:33] cormacpayne commented on #6012
@surlypants Hey Robin, do you happen to know the last version of `AzureRM.Compute` that above command(s) worked for you, and what version you are currently using?

CC: @hyonholee @gatneil

[2018-04-24 15:41] cormacpayne commented on #6031
@KrishnaAdityaB Hey Krishna, this has been identified as an issue in the ARM service, which they are currently working on getting a hotfix out. I will update this issue with more information as it comes out.

[2018-04-24 16:25] JaDevGuy commented on #6031
@cormacpayne any idea of an ETA to get this fixed?

[2018-04-24 16:29] mbcooper commented on #6031
+1

[2018-04-24 17:01] surlypants commented on #6012
non-functional posh
[code]

functional posh
[code]

I believe this indicates the break was introduced in 4.6.0 (where the ZoneBalance parameter is introduced).

For those following along, the storage sku naming is also changed between 4.5.0 and 4.6.0.

[2018-04-24 17:13] maddieclayton opened #6034 "Improve documentation for VNet creation"
Current documentation for Add-AzureRmKeyVaultNetworkRule is missing some of the setup steps, cause it to fail when you follow the steps.  This documentation should be improved before the cmdlet is released.

[2018-04-24 18:37] newguyneal commented on #6021
@maddieclayton  I don't think the linked issue and what I was asking is the same as that issue. The linked issue is creating a base class for all resources to inherit from and gaining the ability to pipe whatever azure resource you want because they stem from the same parent class. I am talking about adding relevant self referencing methods to specific Azure resources so that you do not have to pi

[2018-04-24 19:52] maddieclayton commented on #5896
Fixed.

[2018-04-24 19:52] #5896 closed

[2018-04-24 19:55] maddieclayton commented on #6021
@newguyneal Is this requested feature for the SDK or for PowerShell?

[2018-04-24 21:00] gatneil commented on #6012
@surlypants could you share the REST API parts from the debug output?

[2018-04-24 21:05] markcowl commented on #6017
@Ajay-MS Please provide the output of 'Get-Module -ListAvailable' on the machien that has the issue.  Also, what cmdlets were executed before this cmdlet, and, if available, what is the content of ```\Users\<username>\AppData\Roaming\Windows Azure PowerShell\AzureRMContext.json```

[2018-04-24 21:06] markcowl commented on #6007
@lesterw1 This is unfortunately by design, there is no API that returns this value, so the cmdlet makes a 'best guess' from the login name

[2018-04-24 21:06] #6007 closed

[2018-04-24 21:16] markcowl commented on #6000
@jianyunt Thanks, plans are to move this directory (we are considering   .Azure as it is for CLI), but this is considered a low priority item at this point, as normally users do not need to worry about the directory.

[2018-04-24 21:24] singhkays commented on #2685
Checked with the Cloud Services PaaS team. There are no plans to implement this.

[2018-04-24 21:24] #2685 closed

[2018-04-24 21:53] surlypants commented on #6012
this was the tail of the debug JSON:

[code]

let me know if you need for me to capture the entire bit again.

[2018-04-24 22:10] sphibbs commented on #6011
Let's look into ways to change the default job name to fix the described scenario above.

[2018-04-24 22:28] sphibbs commented on #5171
No need to move desktop. Net Standard 2.0 project will move to vs 2017

[2018-04-24 22:28] #5171 closed

[2018-04-24 22:28] sphibbs commented on #5173
obsolete

[2018-04-24 22:28] #5173 closed

[2018-04-25 01:01] vladimir-shcherbakov opened #6044 "[webapp] TestWebAppSwapWithPreviewResetSlotSwap needs to be re-implemented."
The test needs to be re-written as follows : http://ruslany.net/2016/10/using-powershell-to-manage-azure-web-app-deployment-slots/

[2018-04-25 04:03] montyaahad commented on #5841
@vladimir-shcherbakov any update?

[2018-04-25 04:27] KrishnaAdityaB commented on #6031
@cormacpayne Back to normal. Thanks.

[2018-04-25 04:27] #6031 closed

[2018-04-25 05:24] sushant147 commented on #6031
I am also receiving the same error but on Azure File Copy since yesterday (24 Apr). I tried to add this PowerShell before the File Copy however it didn't solve my problem and gave me a new error. I don't even have analysis services in my release pipeline.

Install-Module -Name AzureRM -AllowClobber -Force

The error...
The specified module 'Azure.AnalysisServices' with version '0.5.0' was not load

[2018-04-25 05:35] sushant147 opened #6047 "HostedVS2017 - FileCopy - InvalidApiVersionParameter : The api-version '2018-05-01' is invalid."
Since mid-night (24-Apr-2018 - after 12AM) India Time I have started receiving below error when using the Azure File Copy task in my Release pipeline of CI/CD with Hosted VS2017 agent.

InvalidApiVersionParameter : The api-version '2018-05-01' is invalid. The supported versions are '2018-02-01,2018-01-01,2017-12-01,2017-08-01,2017-06-01,2017-05-10,2017-05-01,2017-03-01,2016-09-01,2016-07-01,2016-0

[2018-04-25 06:05] twitchax commented on #5183
@markcowl and I will do some interviews on this.

[2018-04-25 08:14] KrishnaAdityaB commented on #6031
@sushant147
As the issue was fixed few hours ago - please try without any workaround. It should work.

For further debugging with AzureFileCopy task: We can discuss on the Microsoft/vsts-tasks repo.. here is the corresponding thread from there https://github.com/Microsoft/vsts-tasks/issues/7059.

[2018-04-25 09:03] sushant147 commented on #6031
The issue has been fixed. I am now able to run my pipeline normally. Thank you.

[2018-04-25 09:04] sushant147 commented on #6047
The issue has been fixed by the PG team. I am now able to run my pipeline normally.

[2018-04-25 09:04] #6047 closed

[2018-04-25 09:58] dalibormesaric opened #6049 "New-AzureRmSqlDatabaseCopy -Tags not working"
### Description

New-AzureRmSqlDatabaseCopy ignores -Tags and the new database is created without any tags. I ran the script from powershell window and checked the tags in Azure portal.

### Script/Steps for Reproduction

[code]

### Module Version

[code]

### Environment Data

[code]

### Debug Output

[code]

[2018-04-25 13:14] surlypants commented on #6012
re-ran (with AzureRM.Compute 4.6.0)
complete (semi redacted) debug

[code]

[2018-04-25 14:04] JaDevGuy commented on #6031
Thanks! the issue is fixed now.

[2018-04-25 15:27] mrvladis commented on #5938
Got  the same issue.

[2018-04-25 16:01] bcreynolds commented on #5982
This issue ended up breaking quite a few of our Azure runbooks after an automation account PowerShell module update.

Troubleshooting finding: When only AzureRM.profile v4.5.0 and AzureRM.Compute v4.5.0 modules are imported in an Azure runbook or interactive PowerShell v5.1 session, the issue does not occur until only the AzureRM.profile module version is updated to v4.6.0. At that point, all prop

[2018-04-25 20:59] gatneil commented on #6012
So, at the REST API level, any value is invalid for zoneBalance if one or zero zones are specified. So the REST API PUT above is invalid (since it doesn't specify zones but has a value for zoneBalance). I'll start discussions with the server-side folks, and we will address this. I'll post back here once fixed :)

[2018-04-25 21:59] maddieclayton commented on #6049
@jaredmoo @akromm Can you take a look at this issue?

[2018-04-25 22:02] gatneil commented on #6012
Actually, the fix for this has already been merged: https://github.com/Azure/azure-powershell/pull/5992. It should be in the next powershell release :)

[2018-04-25 22:02] #6012 closed

[2018-04-25 23:22] MaximoTrinidad opened #6052 "AzureRM.Sql.Netcore - Get-AzureRmSqlDatabase is not working."
### Description

The Get-AzureRmSqlDatabase cmdlet is not working when providing the required parameters.
ServerName, ResourceGroupName, and even with Databasename.

### Script/Steps for Reproduction

Execute the following command:
[code]
Gives the following error:
[code]
### Module Version

[code]

### Environment Data

Ubuntu: 17.10
[code]
Azure Cloud Shell - Bash/pwsh
[code]
[code]

### Debug O

[2018-04-25 23:40] MaximoTrinidad commented on #6052
FYI - Of course! Works on both Windows PowerShell and PowerShell Core in Windows.
But not in Linux!!

😀
![get-azurermsqldatabase_02_2018-04-25_18-58-33](https://user-images.githubusercontent.com/19892435/39278320-7d153ce8-48c0-11e8-9e4a-8be5c9e1374e.jpg)

[2018-04-26 00:58] jaredmoo commented on #6049
Acknowledged. Tags aren't being copied from input model to PUT object at https://github.com/azure/azure-powershell/blob/preview/src/ResourceManager/Sql/Commands.Sql/Replication/Services/AzureSqlDatabaseReplicationAdapter.cs#L107

[2018-04-26 01:26] jaredmoo commented on #6049
Tags are also missing from create secondary ( https://github.com/azure/azure-powershell/blob/preview/src/ResourceManager/Sql/Commands.Sql/Replication/Services/AzureSqlDatabaseReplicationAdapter.cs#L167 ) and restore ( https://github.com/azure/azure-powershell/blob/preview/src/ResourceManager/Sql/Commands.Sql/Database%20Backup/Services/AzureSqlDatabaseBackupAdapter.cs#L552 ).

We are currently in t

[2018-04-26 07:12] omnoms commented on #5099
I've reproduced this behaviour by doing a PUT request to the Azure REST api through postman as if it was a PATCH it will produce this result. A proper PUT request with the full object in the request through postman will succeed. So I am suspecting that it's trying to behave as if it was a PATCH request, while actually sending a PUT request.

I will check with fiddler next.

Oh and passing the full

[2018-04-26 07:24] omnoms commented on #5099
Also noted that despite having added the ips so that they look proper in the object and when checking $config.properties.ipSecurityRestrictions, what it sends in the request is not what should be there. So there's also an issue with serializing.

[code]

[2018-04-26 07:31] michaelthyregod commented on #5826
Any update on this? It's preventing me from using newest version of AzureRM, and I was hoping it would be fixed soon as part of the "Build" release I'm expecting will be there as well :-) I can't use the preview version since I'm doing a powershell module that has a dependency on AzureRM, and I really don't want to mangage all modules one by one in the AzureRM module...

[2018-04-26 07:34] omnoms commented on #5099
So I got this to work with some adjustments.

First, to strictly cast the passed String object to string when adding the IPs from the comma-delimited string with [string]$_. That fixes the issue with String Object serialization in the request

Secondly, since it's behaving as PATCH regardsless of being a PUT or PATCH, use the flag -UsePatchSemantics and it sends a proper patch request instead.

[2018-04-26 07:43] omnoms commented on #5099
Final script

[code]

[2018-04-26 12:12] bcreynolds commented on #5982
Returns output in an Azure runbook of type Powershell (not workflow) when the AzureRM.profile module is v4.5. Does not return output in the same PowerShell runbook after update of AzureRM.profile module to v4.6.

[2018-04-26 15:28] KirkMunro opened #6054 "How do limit the scope of my Azure connection inside of Azure functions?"
This is not a bug report (yet). It is an important security related question that so far I cannot figure out on my own.

The scenario is simple:

I have a C# Azure Function that internally invokes the latest release of Azure PowerShell. If you provide the endpoint with the appropriate information, it will log you into Azure using `Connect-AzureRmAccount -Scope Process`, and then run a script you p

[2018-04-26 15:43] nboettcher commented on #4445
@Sumanan I'm running into this same issue. Simply trying to do the 'Get-AzureRmSchedulerJobCollection' command against my subscription from the Azure Portal PowerShell shell. Can you please provide assistance?

[2018-04-26 15:48] luuksommers commented on #2617
Yep can confirm it's broken again.

[2018-04-26 16:00] missbruni commented on #669
+++++++++1

[2018-04-26 16:07] russellds opened #6055 "Error using Set-AzureRmPolicyAssignment to set -Sku"
### Description

When attempting to set the -Sku for an existing Azure Policy assignment using Set-AzureRmPolicyAssignment I am getting the following error:

[code]

**Note:** If the Policy doesn't have parameters, setting the -Sku works successfully.
### Script/Steps for Reproduction

[code]

### Module Version

[code]

### Environment Data

[code]

### Debug Output

[code]

[2018-04-26 16:27] cormacpayne commented on #6054
@KirkMunro Hey Kirk, thanks for filing this issue. This is something that we'll need to spend some time investigating. In the meantime, would you mind providing some (or all) of the C# code that you're using to invoke PowerShell so we are able to keep the repro consistent with what you are doing? I assume that we don't need anything in your PowerShell script outside of `Connect-AzureRmAccount` and

[2018-04-26 17:08] KirkMunro commented on #6054
@cormacpayne I'll see what I can do. Very busy, and this isn't just in a public repo, so I'll have to build a separate example.

Worth sharing, I've been digging more into this, because I need to resolve this ASAP, and I've determined the following:

- Connect-AzureRmAccount currently offers process or user-level scoping of persisted session data;
- multiple invocations of an Azure Function endpoi

[2018-04-26 17:27] KirkMunro commented on #6054
@jeffhollan Adding you for visibility, and also in hopes that you have a solution for this.

[2018-04-26 21:40] toddfoust commented on #5812
Is there an ETA to get this cmdlet fixed to support Basic tier too?

[2018-04-26 22:34] jeffhollan commented on #6054
Yes generally for something like a client (HttpClient / EventHubClient / whatever) in something like this we'd recommend instantiating a new client per execution to make sure each execution (even concurrently) has its own isolated client.  However that also has some tradeoffs in that you are limited to how much you can scale on a single instance of an app because of how many sockets / connections.

[2018-04-27 00:37] cormacpayne commented on #5065
I believe this will be resolved in PR https://github.com/Azure/azure-powershell/pull/6008

[2018-04-27 00:39] cormacpayne commented on #3778
I believe this is resolved in PR https://github.com/Azure/azure-powershell/pull/6008

[2018-04-27 00:41] cormacpayne commented on #1442
I believe this will be resolved in PR https://github.com/Azure/azure-powershell/pull/6008

[2018-04-27 00:43] KirkMunro commented on #6054
Thanks for replying @jeffhollan. Eliminating concurrency isn't an option for us. The issue comes down to PowerShell's caching, which prevents any possibility of concurrency even across multiple runspaces. That is the change that I need needs to happen to AzureRM, with options for no caching, as well as support for runspace-level caching to maintain the ease of use that they built into AzureRM whil

[2018-04-27 00:50] alexeldeib commented on #6032
@slavizh appreciate you giving feedback on this -- definitely makes sense. I'm taking a look at modifying the cmdlet to return the values as their proper data types.

[2018-04-27 01:08] marknettle commented on #4047
Also `New-AzureRmDNSZone`. I've taken to adding `-WarningAction SilentlyContinue` when calling this, which at least means I don't end up with the warnings in the logs (this is part of a VSTS release pipeline).

[2018-04-27 02:09] KirkMunro commented on #6054
[These lines](https://github.com/Azure/azure-powershell/blob/f34c546fea58d48819e968cab9ac3dd5c50551f3/src/Common/Commands.Common.Authentication.Abstractions/AzureSession.cs#L29-L30) in AzureSession.cs seem to be the root cause of the current behavior.

That's a shame, because I was thinking as a workaround I might just be able to clear out the file system cache and mark that folder as read-only, e

[2018-04-27 02:31] alexeldeib commented on #4548
@FirestormAngel if you're not specifically targeting saved searches, you can use Invoke-AzureRmOperationalInsightsQuery to use Kusto query language. Otherwise, probably the REST API for saved search is currently your best bet.

[2018-04-27 02:49] markcowl commented on #6054
@KirkMunro

I would need to understand the relationship between requests and process/AppDomains/runspaces in your implementation to advise you properly on this, but you should be able to easily isolate authentication to a single AppDomain like this:

[code]

This ensures that an in-memory token cache is used. This also happens automatically if the user's AppData\Roaming directory is inaccessible

[2018-04-27 06:35] slavizh commented on #6032
Thanks @alexeldeib . I am currently using workoaround by querying the API with my own function but as soon as the data is returned according to the LA schema I will switch back to the cmdlet.

[2018-04-27 09:01] JamesDLD commented on #5759
Hello
I did face the same issue with the following version **AzureRM.RecoveryServices 4.1.0**

Then I upgraded to the following and it's now ok :thumbsup: **AzureRM.RecoveryServices 4.1.2**
If it can help ..
Bye

[2018-04-27 09:31] benbelow commented on #4938
@kristofdaems were you using partitioned topics? I've run into a similar confusion, and it's the same creating a topic from the portal itself - selecting 1GB will show up as 16GB.

I believe this is because partitioned topics are split into 16 partitions, each with the max size specified. See https://docs.microsoft.com/en-us/azure/service-bus-messaging/service-bus-partitioning for confirmation 😄

[2018-04-27 13:05] KirkMunro commented on #6054
@markcowl This looks very helpful, thank you! Please do share the C# extensibility points. I'm working with C# Azure Functions that internally invoke PowerShell, so I'm definitely interested. I'm going to explore what you shared so far right now, and I'll keep an eye out for the C# extensibility information.

Using $PSDefaultParameterValues to pass a DefaultProfile is exactly what I was trying to

[2018-04-27 13:27] KirkMunro commented on #6054
Regarding autosaving and scope, I can see where the profile autosave settings are stored (ApplicationData environment folder, under "Windows Azure PowerShell"), but I don't seem to be able to find where user scoped settings are stored. If you invoke Disable-AzureRmContextAutosave -Scope CurrentUser, where is that information stored?

[2018-04-27 19:40] panchagnula opened #6066 "Websites: Set-AzureRmWebApp & Set-AzureRmWebApp properties should be switchParameter type instead of bool"
https://docs.microsoft.com/en-us/powershell/module/azurerm.websites/set-azurermwebapp?view=azurermps-5.7.0&viewFallbackFrom=azurermps-5.0.0
& https://docs.microsoft.com/en-us/powershell/module/azurerm.websites/set-azurermwebappslot?view=azurermps-5.7.0

Change the properties to be a switch parameter

[2018-04-27 19:59] markcowl commented on #6054
This is in memory.  Whenever you use the -Scope Process parameter, it it swapping out the provider for the Profile.

We don't have any good documentation on creating profiles, and we likely need to have an additional cmdlet to make it easier (New-AzProfile).

[2018-04-27 22:35] henrik-me commented on #5785
**This flow not supported in ADAL for .net core:**
https://github.com/AzureAD/azure-activedirectory-library-for-dotnet/wiki/Acquiring-tokens-with-username-and-password
**AquireToken overview can be found here:**
https://github.com/AzureAD/azure-activedirectory-library-for-dotnet/wiki/Acquiring-a-token-return-AuthenticationResult-and-possibly-UserInfo

[2018-04-27 23:13] cblackuk commented on #5785
@henrik-me Which I hope I explained why above ;-)

[2018-04-27 23:52] henrik-me commented on #5785
@cblackuk you did, thanks for the detailed explanation. I just wanted to point directly to the source.

[2018-04-28 01:40] MiYanni opened #6067 "Resources: Tests using static RoleDefinitionNames, cannot run in parallelization"
In .NET Core, the Xunit flag `[assembly: CollectionBehavior(DisableTestParallelization = true)]` does not function (referenced [here](https://github.com/jcansdale/TestDriven.Net-Issues/issues/5#issuecomment-232082643) and [here](https://github.com/xunit/xunit/issues/1541#issue-270429442)). So, tests always run in parallel. All `RoleDefinition` tests and 1 `RoleAssignment` test (RaPropertiesValidat

[2018-04-28 19:12] chamikasandamal commented on #669
+1

[2018-04-29 10:30] PirateBread commented on #2617
Still happening here.

It's worth noting that the clone operation still completes in all situations I have tried it. I have successfully cloned production apps many times for migrations and they have all worked.

My script just catches the error and ignores it.

[2018-04-29 22:38] YoannGUILLO commented on #5918
@markcowl can you give us the exact permissions needed please ?

[2018-04-30 08:15] gvee-uk commented on #5631
Hi @ms-premp - how are you getting along with this?

[2018-04-30 09:09] michaelthyregod commented on #5826
@markcandelora - I'm getting the method not found error you also described in the beginning. My problem is that I'm doing a PS module, where AzureRM is a dependency in a given version (5.4.1 now since I can't upgrade). If I solve it on my machine it might be okay, but I can't rely on the fact that the consumers of my module can do it in that way as well, and therefore I'm not able to upgrade until

[2018-04-30 09:54] juancrl commented on #4715
I'm having the same issue in 5.7.0.
Importing the context from JSON file, my 3 subscriptions seem ok.
Then selecting the needed subscription with Set-AzureRMContext or its alias  Select-AzureRMSubscription, and I've tried all parameter sets (by name, id or object).
In all cases, first call succeeds (selecting the right subscription), but second and subsequent calls fail (always leaving in the defa

[2018-04-30 12:04] markcandelora commented on #5826
Alternatively, you can try loading the AzureRm.WebSites DLL before importing the AzureRm module.

Of course, these are just workarounds - this will remain an issue as long as the WebSites and LogicApps modules use different versions of the AzureRm.WebSites DLL.

On Apr 30, 2018, at 5:11 AM, Michael Thyregod <notifications@github.com<mailto:notifications@github.com>> wrote:

@markcandelora<https://

[2018-04-30 19:02] russellds opened #6073 "Feature Request: Add -Scope to *-AzureRmPolicyDefinition"
### Description

With the addition of Management Groups, *-AzureRmPolicyDefinition needs a -Scope parameter in order to be able to create or manage Policy Definitions at the Management Group level.

### Module Version

[code]

### Debug Output

[code]

[2018-04-30 22:47] markcowl commented on #6055
@cormacpayne @darshanhs90 can you take a look?

[2018-04-30 22:48] markcowl commented on #6073
@cormacpayne @darshanhs90 can you take a look?

[2018-04-30 23:02] cormacpayne commented on #6073
It looks like the Resource Manager SDK allows users to [provide a scope for the creation of a policy assignment](https://github.com/Azure/azure-sdk-for-net/blob/psSdkJson6/src/SDKs/Resource/Management.ResourceManager/Generated/PolicyAssignmentsOperationsExtensions.cs#L65-L88), so we can look into adding this functionality when we migrate the remaining Resource Manager cmdlets to using the SDK rath

[2018-05-01 03:07] arnabganguly opened #6076 "Install all available Powershell modules from Mac OSX"
To install individual modules , I am aware that we could use Install-Module <Module_Name> on MacOSX. Is there a command to install all available modules at once ? I have followed the steps highlighted in https://docs.microsoft.com/en-us/powershell/scripting/whats-new/what-s-new-in-powershell-core-60?view=powershell-6 to install powershell 6 on MacOSX.

[2018-05-01 08:49] mrvladis commented on #6076
@arnabganguly
find-Module  azurerm.netcore | install-module
or
install-module azurerm.netcore
This will do what you want.

[2018-05-01 08:50] ranisha2 commented on #4974
@mvoltchenko
Did you set an empty set of audit actions or action groups previously with a disabled policy? If you do so, and then you try to enable the policy without providing audit actions or action groups, the request will fail, as it will send the previously set value. This value is only being validated when the policy is enabled.
To solve this, please provide actions.

[2018-05-01 14:05] andyjballgit commented on #3318
Hi All,

Just hit this  - any update please ?

thanks in advance,
Andy

[2018-05-01 14:15] AndyHerb commented on #3318
@ravbhatnagar - is there any way someone at MS can provide an update?  It's been around for a little while without any obvious action being taken, and it's painful for people to dynamically create template files just because we can't pass in the reference in the TemplateParameterObject ;)

Cheers

[2018-05-01 15:35] cormacpayne commented on #6076
@arnabganguly Hey Arnab, the `AzureRM.Netcore` module is the rollup module containing all of the .NET Core modules for Azure PowerShell, and as @mrvladis mentioned above, you can install all of these bits at once by running `Install-Module -Name AzureRM.Netcore`. Please let us know if this does not solve your issue, or if you have any further questions!

[2018-05-01 15:35] #6076 closed

[2018-05-01 20:06] praries880 opened #6081 "Need to fix the error message returned by Compute when creating a vm using an image that is not in the same region"
As of now when i try to create a vm with an image that is in a different region,the cmdlet fails with the following error :
[code]

We need to fix the error message to something that is more informative and accurate ,something like :
[code]

Heres the complete command :
[code]

[2018-05-01 20:08] praries880 commented on #5830
created issue https://github.com/Azure/azure-powershell/issues/6081 to track the error message fix required on the Compute service side.

[2018-05-01 23:57] markcowl commented on #5895
done

[2018-05-01 23:57] #5895 closed

[2018-05-01 23:58] markcowl commented on #5907
Fixed

[2018-05-01 23:58] #5907 closed

[2018-05-02 00:01] markcowl commented on #5903
Fixed

[2018-05-02 00:01] #5903 closed

[2018-05-02 00:01] markcowl commented on #5806
Fixed.

[2018-05-02 00:01] #5806 closed

[2018-05-02 00:01] markcowl commented on #5902
Fixed.

[2018-05-02 00:01] #5902 closed

[2018-05-02 00:02] markcowl commented on #5819
Fixed.

[2018-05-02 00:02] #5819 closed

[2018-05-02 00:04] markcowl commented on #2121
Fixed

[2018-05-02 00:04] #2121 closed

[2018-05-02 03:03] maddieclayton commented on #5650
@sergey-shandar Is this completed?

[2018-05-02 08:07] LockTar commented on #2494
@bretthackermsft Nice code, my token cache was only filled when I first tried to get something via the RM commands like `Get-AzureRmADApplication`. Only strange enough the right permission aren't in the token. So managing AD groups doesn't work...
I always get the error _Insufficient privileges to complete the operation_.

    $TenantId = ""
    $ApplicationId = ""
    $ServicePrincipalKey = Conve

[2018-05-02 09:59] vmarquez2 commented on #5830
Hello,

I have the same error, was solved with AzureRm Powershell Version 5.7.0

regards

[2018-05-02 18:01] markcowl opened #6085 "Republish Hyak Libraries for netstandard"
- Update non-code rependencies and retarget Hyak management libraries at Netstandard for the following modules:

- [ ] AzureRM.ApiManagement
- [ ] AzureRM.Automation
- [ ] AzureRM.DataFactories
- [ ] AzureRM.HDInsight: HDInsight.Job management
- [ ] AzureRM.Scheduler
- [ ] AzureRM.UsageAggregates

Incorporate new libraries into the build

[2018-05-02 18:02] markcowl opened #6086 "Investigate non-netstandard dependencies for NetCore modules"
- AzureRM. DataFactories & DataFactoriesV2
  - [ ] Microsoft.AspNet.WebApi.Client v5.2.2
  - [ ] Microsoft.AspNet.WebApi.Core v 5.2.2
  - [ ] Microsoft.DataTransfer.Gateway.Encryption v3.4.6604.1
- AzureRM.DataLakeStore
  - [ ] System.Net.Http 4.3.2
- Microsoft.RedisCache
  - [ ] Microsoft.Azure.Insights (sotrage dependency)

[2018-05-02 18:39] #5624 closed

[2018-05-02 18:43] MiYanni opened #6089 "Version update tool for NetCore"
- [x] Script or tool to update psd1 and profile/storage across the board for NetCore

[2018-05-02 19:30] bretthackermsft commented on #2494
Also, I just realized you are logging in with an SP. The SP doesn't have any user rights so can't ask for things you as a user can. I was using this to login to ARM as myself in PSH, then use that token to connect as myself to AzureAD without having to go through the dance again.

[2018-05-02 20:42] cormacpayne commented on #1442
The fix for this should be available on May 7th in version 6.0.0 of `AzureRM` (version 6.0.0 of `AzureRM.Resources`). Please re-open this issue if the problem persists.

[2018-05-02 20:42] #1442 closed

[2018-05-02 20:42] cormacpayne commented on #4035
The fix for this should be available on May 7th in version 6.0.0 of `AzureRM` (version 6.0.0 of `AzureRM.Resources`). Please re-open this issue if the problem persists.

[2018-05-02 20:42] #4035 closed

[2018-05-02 20:43] cormacpayne commented on #3539
The fix for this should be available on May 7th in version 6.0.0 of `AzureRM` (version 6.0.0 of `AzureRM.Resources`). Please re-open this issue if the problem persists.

[2018-05-02 20:43] #3539 closed

[2018-05-02 20:43] cormacpayne commented on #3173
The fix for this should be available on May 7th in version 6.0.0 of `AzureRM` (version 6.0.0 of `AzureRM.Resources`). Please re-open this issue if the problem persists.

[2018-05-02 20:43] #3173 closed

[2018-05-02 20:43] cormacpayne commented on #2405
The fix for this should be available on May 7th in version 6.0.0 of `AzureRM` (version 6.0.0 of `AzureRM.Resources`). Please re-open this issue if the problem persists.

[2018-05-02 20:43] #2405 closed

[2018-05-02 20:43] cormacpayne commented on #5065
The fix for this should be available on May 7th in version 6.0.0 of `AzureRM` (version 6.0.0 of `AzureRM.Resources`). Please re-open this issue if the problem persists.

[2018-05-02 20:43] #5065 closed

[2018-05-02 20:43] cormacpayne commented on #3778
The fix for this should be available on May 7th in version 6.0.0 of `AzureRM` (version 6.0.0 of `AzureRM.Resources`). Please re-open this issue if the problem persists.

[2018-05-02 20:43] #3778 closed

[2018-05-02 20:44] #5898 closed

[2018-05-02 21:03] camillemarie commented on #6055
This looks like a bug in the policy cmdlets. The parameters are getting stripped out on the  Set-AzureRmPolicyAssignment and  Get-AzureRmPolicyAssignment . We've created a tracking task to investigate and fix it.

[2018-05-02 21:14] cormacpayne commented on #5159
@maddieclayton this has been resolved in the latest changes to `Get-AzureRmResource`, so we should look into updating the ARM call that KeyVault is using to get the above information for `Get-AzureRmKeyVault`

[2018-05-02 21:28] uday31in commented on #3407
'''
DEBUG: ============================ HTTP REQUEST ============================

HTTP Method:
POST

Absolute Uri:
https://graph.windows.net/<aad-tenant-id>/getObjectsByObjectIds?api-version=1.6

Headers:
x-ms-client-request-id        : cdf7915c-f189-4f50-bf87-307769971872
accept-language               : en-US

Body:
{
  "objectIds": [
    "c15807e8-e800-4aab-bf3c-2d7b42ec915b"
  ],
  "includeDir

[2018-05-02 21:36] cormacpayne commented on #4741
This will be fixed in version 6.0.0 of `AzureRM` (version 6.0.0 of `AzureRM.Resources`) that is released on May 7th. Please feel free to re-open this issue if the problem persists.

[2018-05-02 21:36] #4741 closed

[2018-05-02 21:37] cormacpayne commented on #5161
This will be fixed in version 6.0.0 of `AzureRM` (version 6.0.0 of `AzureRM.Resources`) that is released on May 7th.

[2018-05-02 21:37] #5161 closed

[2018-05-02 21:40] cormacpayne commented on #3088
This should be fixed in version 6.0.0 of `AzureRM` (version 6.0.0 of `AzureRM.Resources`) that will be released on May 7th. Feel free to re-open this issue if the problem persists.

[2018-05-02 21:40] #3088 closed

[2018-05-03 15:58] MiYanni opened #6098 "Clean up wiki"
- [ ] Link appropriate wiki pages to documentation fodler items
- [ ] Remove outdated wiki items

[2018-05-03 16:38] meetamitbhatia commented on #5924
@maddieclayton : Hi Maddie, could you please confirm progress on this request?

[2018-05-03 19:12] twitchax commented on #5924
@meetamitbhatia, I will pass on this request to the ARM team, but a resolution to this request is unlikely since ASM is so heavily deprioritized.  Closing and following up with ARM.

[2018-05-03 19:12] #5924 closed

[2018-05-03 21:24] cormacpayne commented on #4903
@sdwheeler @blueww okay, it looks like this will finally be resolved in the upcoming release of Azure PowerShell (version 6.0.0) 😀

[2018-05-03 21:24] #4903 closed

[2018-05-03 21:48] markcowl opened #6103 "Restructure Release Process on Daily Drops"
- [x] Automate all post-check-in validation to run after daily drops run, including smoke test
  - Created a [daily-smoke-test pipeline](https://dev.azure.com/azure-sdk/internal/_build?definitionId=2213&_a=summary), it is automatically triggered by [daily-build pipeline](https://dev.azure.com/azure-sdk/internal/_build?definitionId=1869)
- [x] Automate release tooling (versioning) to run as part of

[2018-05-03 21:51] maddieclayton commented on #4727
Fixed

[2018-05-03 21:51] #4727 closed

[2018-05-03 21:52] markcowl opened #6104 "Refactor Common Libraries as Nuget Package"
- [ ] Refactor the common libraries and dependencies as a Nuget Package
- [ ] Consider wither an additional package is needed for tests

[2018-05-03 21:55] markcowl opened #6105 "Verify Test with Live Rerecording Job / Ensure All Tests Can Run Live (Core)"

[2018-05-03 21:57] markcowl opened #6106 "Bots for repetitive Issue and PR tasks"
- [ ] Assign Issues / apply labels after activity
- [ ] Verify checklist
- [ ] Verify license headers
- [ ] Automatically assign labeled  issues & PRs

[2018-05-03 21:59] markcowl opened #6107 "SHorten and Improve Test Logs"
- Build Log should have less data and be more segmented
- Test logs should only be kept for failed tests
- Test logs for failed tests should contain the PowerShell Streams

[2018-05-03 22:00] markcowl opened #6108 "Measure and gate on Code Coverage in Tests"

[2018-05-03 22:15] raghushantha opened #6109 "Bug in HttpClientWithRetry Logic - referencing invalid HttpContent after Request is disposed"
### Description

Here you are referencing an invalid HttpContent after Request is disposed (HTTPClient always disposes upon sending)

https://github.com/Azure/azure-powershell/blob/8b467df53bf1b79144afb1250221ec7e6b3a8b44/src/Common/Commands.Common.Authentication/Utilities/HttpClientWithRetry.cs#L77

You are currently not seeing the issue since only GETs are performed against MSI endpoint (no Cont

[2018-05-03 22:25] maddieclayton opened #6110 "Investigate moving build to VSTS"
Task

[2018-05-03 22:31] maddieclayton commented on #6098
note: make sure Mohammed and twitchy are in the loop about changes to the wiki.

[2018-05-03 22:38] maddieclayton commented on #4786
@twitchax ping

[2018-05-03 22:38] maddieclayton commented on #4585
Will happen automatically when we convert to NetStandard.

[2018-05-03 22:39] #4585 closed

[2018-05-03 22:40] #4116 closed

[2018-05-03 22:40] #3967 closed

[2018-05-03 22:41] #5974 closed

[2018-05-03 22:55] maddieclayton commented on #3237
Will be fixed in Net Standard issue.

[2018-05-03 22:55] #3237 closed

[2018-05-03 23:02] #6107 closed

[2018-05-03 23:10] maddieclayton opened #6112 "Splitting up Static Analysis Exceptions files into RP folders."
### Description

### Script/Steps for Reproduction

[code]

### Module Version

[code]

### Environment Data

[code]

### Debug Output

[code]

[2018-05-03 23:11] maddieclayton opened #6113 "Generating psd1, format.ps1xml, and psm1 at build time."
- [ ] Determine metadata file contents/format
- [ ] Modify build processes (project-level) to generate these files
  - Allows those developing in VS to build the project and run it appropriately

[2018-05-03 23:12] maddieclayton opened #6114 "Reduce size of build log"
### Description

### Script/Steps for Reproduction

[code]

### Module Version

[code]

### Environment Data

[code]

### Debug Output

[code]

[2018-05-03 23:41] cormacpayne opened #6115 "Populate contexts when logging in for first time"
When a user logs in for the first time with no existing contexts, we need to create a context for each of their subscriptions.

This functionality was removed in commit https://github.com/Azure/azure-powershell/pull/6080/commits/a1304acc745453e3febeba3c0151906bc3c7eb4b -- this commit incorrectly created a context with the same tenant for all subscriptions regardless of the tenant they were found i

[2018-05-04 00:13] MiYanni opened #6119 "Change AssemblyName for Automation"
[code]
change to
[code]

This is for consistency. Nearly all other modules follow this convention.

[2018-05-04 01:07] solankisamir commented on #5812
We are actively working on this. Should be out within the next month.

[2018-05-04 05:09] twitchax commented on #4786
The method that you describe is the preferred way to indicate event source.  Closing as by design.

[2018-05-04 05:09] #4786 closed

[2018-05-04 08:56] sepharg commented on #5324
+1 to this, i spent a lot of time trying to figure out what was wrong until i realised my key vault wasn't enabled for template deployment

[2018-05-04 11:42] dalibormesaric opened #6122 "Issue with Get-AzureRmSqlDatabase Remove-AzureRmSqlDatabase New-AzureRmSqlDatabaseCopy"
### Description

During our release in VSTS we temporary create another database that goes with our slot swapping strategy. To run azure powershell commands we use "Run Inline Azure Powershell" (https://marketplace.visualstudio.com/items?itemName=petergroenewegen.PeterGroenewegen-Xpirit-Vsts-Build-InlinePowershell).

Early in the release process we have the following step:
1. Check if COPY databas

[2018-05-04 15:27] andikrueger commented on #3318
I just came across this issue my self and did find a nice workaround, that did the trick for me.

I did follow this [docs section "Use Azure Key Vault to pass secure parameter value during deployment"](https://docs.microsoft.com/en-us/azure/azure-resource-manager/resource-manager-keyvault-parameter#reference-a-secret-with-dynamic-id) on how to reference a secret with dynamic ID. This way I achieve

[2018-05-04 16:05] 4c74356b41 commented on #3318
well, this was there for ages, literally, but its extremely clunky and doesnt really help, i mean, it might be acceptable in some situations, but i'd rather have the real deal, instead of this half baked solution

[2018-05-04 19:08] LizMS commented on #6073
Programmatically creating policy definitions and assignments for Management Group are not supported today. We have an engineer who's working on an implementation plan.

[2018-05-04 19:57] cormacpayne commented on #6122
@jaredmoo @akromm hey guys, would you mind taking a look at this issue when you get the chance?

[2018-05-04 22:18] MiYanni commented on #6104
## Main Steps

### Construction
- Make a 'static' version of Common that will be used in ServiceManagement
  - ServiceManagement will not rely on the Common NuGet package. It will be completely independent of our current work projects.
- Remove any ServiceManagment-only code from Common
- Move/merge ResourceManager -> Common into Common
- If Common has any dependencies on code/projects outside of

[2018-05-04 22:20] MiYanni opened #6128 "Refactor Common Libraries: Construction"
From here: https://github.com/Azure/azure-powershell/issues/6104#event-1608851189

- ~~Make a 'static' version of Common that will be used in ServiceManagement~~
  - ~~ServiceManagement will not rely on the Common NuGet package. It will be completely independent of our current work projects.~~
- ~~Remove any ServiceManagment-only code from Common~~
- [x] Move/merge ServiceManagment -> Common into

[2018-05-04 22:21] MiYanni opened #6129 "Refactor Common Libraries: Separation"
From here: https://github.com/Azure/azure-powershell/issues/6104#event-1608851189

- [x] Determine name for this repo
  - azure-powershell-common(?), something along those lines
- [x] Create new public GitHub repo using the Common code
  - Make sure it is in the Azure org
- [x] Create ReadMe.md for the repo
- [x] Create ~~Jenkins~~ VSTS project to target and build the repo
  - Start by only making

[2018-05-05 00:53] MiYanni commented on #5354
## Primary Concept
### Separation
- 3 different repos
- one for modules (azure-powershell), one for common (azure-powershell-common), and one for service management (azure-powershell-servicemanagement)
- https://softwareengineering.stackexchange.com/a/263787/108631
- Service teams only work in azure-powershell. We (scottphers 😉) work within azure-powershell and azure-powershell-common, primarily.

[2018-05-06 15:39] panchagnula opened #6130 "webapp:Add support to disable FTP & force FTPS for web app"
Navigate to the site -> config -> web node. Toward the bottom of the json pane, they should see ftpsState property. The default is AllAllowed. They can try to change to FtpsOnly or Disabled. Hopefully, these should be self-explanatory.

image
![image](https://user-images.githubusercontent.com/13839372/39674961-e93aaaa2-5108-11e8-8269-04c3adb8300b.png)

[2018-05-06 19:05] ms-premp commented on #5631
Hi @gvee-uk, due to unforeseen reasons we are pushing this to end of May. I will update this conversation as soon as this is released.

[2018-05-07 06:02] davidbairdala commented on #2872
Is this still the case? It looks like the documentation now indicates that VMWare to Azure is now supported via PowerShell: [vmware-physical-azure-support-matrix](https://docs.microsoft.com/en-us/azure/site-recovery/vmware-physical-azure-support-matrix#mobility-service), although I am getting the same error when trying to use the REST API

[2018-05-07 10:11] schwasam commented on #5990
[code]

[2018-05-07 23:05] maddieclayton opened #6142 "Refactor Common Code: Commands.Common.Abstractions, Commands.Common.ResourceManager"
## Description

- [ ] Suggest common code functions to remove or refactor
- [x] Propose changes to assembly naming for increased discoverability and consistency

[2018-05-07 23:11] #4918 closed

[2018-05-07 23:13] maddieclayton opened #6143 "Document Common Code"
## Description

Create a new development doc with the following information:
- [ ] Write a description for each common code assembly and when it is appropriate
- [ ] Write documentation for common code types/functions and their intended usage

[2018-05-07 23:13] maddieclayton commented on #4592
split into two issues: https://github.com/Azure/azure-powershell/issues/6142, https://github.com/Azure/azure-powershell/issues/6143

[2018-05-07 23:13] #4592 closed

[2018-05-07 23:41] MiYanni commented on #5939
This will be fixed in the 0.12.0 build.

[2018-05-07 23:50] MiYanni commented on #5938
You can't do that call in the current (6.0) release of Azure PowerShell (for desktop), so it won't be supported in the next release for NetCore. Instead, you'd call:

[code]

That will list all the resource groups from the current context. However, I have tested a few different calls for both `Get-AzureRmResource` and `Get-AzureRmResourceGroup` and can no longer produce the issue. So, this will be

[2018-05-08 00:21] ravilolam opened #6146 "Unable to find type [Microsoft.Azure.Commands.Profile.Models.AzureContextConverter]"
### Description

Installed the AzureRM version 6.0.0 and then trying to login to azureRM account using Login-AzureRmAccount. Getting the following error.

Import-Module : The following error occurred while loading the extended type data file: ,
C:\Users\v-ralola\Documents\WindowsPowerShell\Modules\AzureRM.profile\4.2.0\Microsoft.Azure.Commands.Profile.types.ps1xml(85) : Error: Unable to find type

[2018-05-08 01:56] whoggett commented on #2085
+1

[2018-05-08 03:17] maddieclayton opened #6149 "Restructure test logging"
## Description

- [x] Create a new file for each test log
- [x] Only create files for tests that have failed

[2018-05-08 03:18] maddieclayton opened #6150 "Normalize Test Logging"
## Description
- [x] Use a consistent logging mechanism across xunit tests
- [x] Ensure that logs contain full debug messages

[2018-05-08 03:19] maddieclayton commented on #5362
created two new issues: https://github.com/Azure/azure-powershell/issues/6150, https://github.com/Azure/azure-powershell/issues/6149

[2018-05-08 03:19] #5362 closed

[2018-05-08 04:46] maddieclayton opened #6152 "Unit/Scenario tests for KeyVault Provider"
## Description
- [ ] Write scenario test for management calls
- [ ] Write unit tests for dataplane calls
- [ ] Write live test for dataplane calls

[2018-05-08 06:29] maddieclayton opened #6154 "Add documentation for KeyVault provider"
## Description

- [ ] Identify and target KeyVault PowerShell conceptual documentation for refactoring using the new paradigm
- [x] Add provider documentation
    - [x] GetMamlHelp
    - [x] Online provider docs

[2018-05-08 06:33] maddieclayton opened #6155 "Implement KeyVault features in KeyVault provider for functional parity"
Finish implementing KeyVault features in KeyVault provider:

# Implemented
## Vaults
### Get-AzureRmKeyVault
[code]
[code]
[code]
### New-AzureRmKeyVault
[code]
### Remove-AzureRmKeyVault
[code]
### Set/Remove-AzureRmKeyVaultAccessPolicy (ForVault parameter set)
[code]
[code]

## Certificates
### Add-AzureKeyVaultCertificate
[code]
### Get-AzureKeyVaultCertificate
[code]
[code]
[code]
[code]
### R

[2018-05-08 06:35] maddieclayton commented on #5117
Closing in favor of: https://github.com/Azure/azure-powershell/issues/6155

[2018-05-08 06:35] #5117 closed

[2018-05-08 06:36] maddieclayton commented on #6155
Related issues: https://github.com/Azure/azure-powershell/issues/6152, https://github.com/Azure/azure-powershell/issues/6154

[2018-05-08 09:28] liminany commented on #5956
I have same problem,Is there any update?

[2018-05-08 09:33] erichste commented on #3069
This still happens when resource ids have characters that need to be url encoded.

I had this issue with a resourceId that contained a hash symbol (**#**) - so, I replaced it with **%23** (Url Encoded) and it worked without specifying the api version parameter.

[2018-05-08 11:49] GuofuZhong opened #6157 "Add-AzureRmAccount : A task was canceled"
Troubleshooting
Checkout how to troubleshoot failures and collect debug logs: https://docs.microsoft.com/en-us/vsts/build-release/actions/troubleshooting

Environment
VSTS
release definition:https://msasg.visualstudio.com/Bing_Ads/AdsUCM/_release?_a=releases&definitionId=447
release:
https://msasg.visualstudio.com/Bing_Ads/AdsUCM/_apps/hub/ms.vss-releaseManagement-web.cd-release-progress?releaseId

[2018-05-08 12:52] rokmicrosoft commented on #6157
This is same [issue ](https://github.com/Microsoft/vsts-tasks/issues/7049) created on azure powershell task team. Can you please look into this one why Login-AzureRmAccount is failing ?

[2018-05-08 13:04] GuofuZhong commented on #6157
we tested on one VM. if we run 6 jobs in parallel with calling Add-AzureRmAccount and same service principal. we always hit this error.

[2018-05-08 14:56] ankhuve commented on #3410
I'm having the same problem, any update to the situation?
At first, I tried using the "Change app service plan" functionality in Azure, but it's not listing the service plan I want, so I'm trying to use the CLI to change the app service plan of a web app to one located in another resource group. Currently getting `Set-AzureRmWebApp : Cannot find ServerFarm with name APP_SERVICE_PLAN_NAME`.

@panch

[2018-05-08 15:15] uday31in opened #6159 "Connect-AzureRmAccount : Guid should contain 32 digits with 4 dashes (xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx)."
[code]

[2018-05-08 15:28] uday31in opened #6160 "Get-AzureRmEnrollmentAccount : Guid should contain 32 digits with 4 dashes"
[code]

[2018-05-08 15:33] cormacpayne commented on #6159
This appears to be a duplicate of https://github.com/Azure/azure-powershell/issues/3974 (user can only specify tenant id and not the domain). Closing this issue in favor of the other one.

[2018-05-08 15:36] cormacpayne commented on #6160
@uday31in would you mind providing the following information:
- the versions of the `AzureRM*` modules you have installed (you can get this information with `Get-Module -Name AzureRM* -ListAvailable`
- the debug output when running this command (you can get this by setting `$DebugPreference="Continue"` and then running the command again)

CC: @wilcobmsft

[2018-05-08 15:36] uday31in commented on #6159
It is failing when specifying GUID too.
[code]

[2018-05-08 15:39] uday31in commented on #6160
[code]

[2018-05-08 15:39] cormacpayne commented on #6159
@uday31in would you mind providing the following information:
- the versions of the `AzureRM*` modules you have installed (you can get this information with `Get-Module -Name AzureRM* -ListAvailable`
- the debug output when running this command (you can get this by setting `$DebugPreference="Continue"` and then running the command again)

[2018-05-08 15:42] uday31in commented on #6160
[code]

[2018-05-08 15:43] uday31in commented on #6159
[code]

[2018-05-08 16:16] adumont commented on #3410
@ankhuve You will only be able to move a webapp to a Destination App Service Plan if and only if the Destination App Service Plan is in the same Resource Group as the Origin App Service Plan (where the WebApp is currently deployed).

So first rule of managing WebApps: place all your Service Plans in a unique resource group "RG_ServicePlans" and there you go: you'll be able to move WebApps between

[2018-05-08 16:36] maddieclayton commented on #5956
@hyonholee @huangpf Is there any update on this issue?

[2018-05-08 17:15] hyonholee commented on #5956
There is an issue with the Swagger spec and client library.   We will fix it soon.  Thanks.

[2018-05-08 17:27] raghushantha commented on #6109
I would suggest creating a clone of HttpRequestMessage

Here is the sugggested CopyRequest implementation:

[code]

[2018-05-08 19:27] MiYanni commented on #6052
Even on my test branch (for the 0.12.0 upcoming build), this issue still exists. I get similar errors when creating a database, too (but the database creation does succeed).

[code]
![image](https://user-images.githubusercontent.com/17788297/39776240-0fc03c0c-52b5-11e8-98b3-b071e0d21c2a.png)

From the Get:

[code]
![image](https://user-images.githubusercontent.com/17788297/39778307-cac72cfe-52ba-1

[2018-05-08 19:28] jaredmoo commented on #6052
Thanks for the report! I believe #5949 should fix this.

[2018-05-08 19:31] MaximoTrinidad commented on #6052
Awesome guys!! I'm looking forward to the fix.
:)

[2018-05-08 19:36] v-tisheg commented on #5896
This is marked as fixed.  Does that mean that the Invoke-AzureRmVMRunCommand using the -AsJob parameter should now work in the production environment or just that the fix is now ready to be released as part of the Milestone 5/01 release?

I just need to know whether I can tell my customer to give this a try.

[2018-05-08 19:40] maddieclayton commented on #5896
Yes! The fix has been released, please let me know if your customers continue to see an issue (be sure to use the latest version of AzureRM).

[2018-05-08 19:58] cormacpayne commented on #5560
This has been fixed in version 5.2.0 of `Azure`

[2018-05-08 19:58] #5560 closed

[2018-05-08 20:48] MiYanni opened #6161 "DataFactories: Microsoft.DataTransfer.Gateway.Encryption has no NetCore build"
Currently, your management library (Microsoft.Azure.Management.DataFactories) does not have a NetCore version. However, we are updating that currently.

The main problem is that another dependency (Microsoft.DataTransfer.Gateway.Encryption) does not have a netcore build. The dependencies for this library (Microsoft.AspNet.WebApi.Client and Microsoft.AspNet.WebApi.Core) have NetCore builds. So, eit

[2018-05-08 21:10] cormacpayne commented on #5727
This was fixed in version 6.0.1 of `AzureRM`

[2018-05-08 21:10] #5727 closed

[2018-05-08 21:53] cormacpayne commented on #6146
@ravilolam would you mind providing the result of `Get-Module -Name AzureRM* -ListAvailable`?

Also, you may want to check out our [troubleshooting guide for module loading](https://aka.ms/azps-version-error).

[2018-05-08 22:10] cormacpayne commented on #5901
This will happen with the generated cmdlet work.

[2018-05-08 22:10] #5901 closed

[2018-05-08 23:01] markcowl commented on #6157
@GuofuZhong Please provide the debug logs requested in the issue template.,.  Also, please provide your module layout on this machine:

[code]

without this information, it will be difficult to rproduce or diagnose this issue.

[2018-05-08 23:04] cormacpayne opened #6164 "Add test coverage for Service Fabric cluster cert creation"
Missing test coverage for PR https://github.com/Azure/azure-powershell/pull/6127

[2018-05-08 23:06] markcowl opened #6165 "Select-AzureRMSubscription <string>: A Task Is Canceled"
In some prallel execution environments (like Azure Automation) customers are reporting an issue with selecting subscription by name.

## Debug Log
[code]

## Local Repro
[code]

[2018-05-08 23:11] markcowl commented on #3425
Fixed

[2018-05-08 23:11] #3425 closed

[2018-05-08 23:12] markcowl commented on #5879
Completed

[2018-05-08 23:12] #5879 closed

[2018-05-08 23:32] markcowl commented on #5918
@YoannGUILLO You would need to have Read and rite directory data permissions within the tenant

[2018-05-08 23:33] markcowl commented on #5970
@panchagnula Was this fixed.

[2018-05-08 23:39] markcowl commented on #5955
@twitchax Adding to our next issue triage so we can decide how / when to address

[2018-05-08 23:42] panchagnula commented on #5970
@markcowl  no not yet.

[2018-05-08 23:43] praries880 commented on #3187
[The cmdlet](https://github.com/Azure/azure-powershell/blob/ffb67e35469d82760e7dcae4feaece9bc9605dee/src/ResourceManager/Compute/Commands.Compute/Generated/VirtualMachineScaleSet/VirtualMachineScaleSetUpdateMethod.cs#L120) is autogenerated.

@gatneil can you take a look?

[2018-05-08 23:51] bgsky commented on #5444
We have the latest cmdlet Get-AzureRmConsumptionUsageDetail based on API version 2018-01-31. Please refer to the pull request just merged.
https://github.com/Azure/azure-powershell/pull/6023
Will close the issue.

[2018-05-08 23:51] #5444 closed

[2018-05-08 23:56] bgsky commented on #5631
We have the latest cmdlet Get-AzureRmConsumptionUsageDetail based on API version 2018-01-31. Please refer to the pull request just merged.
https://github.com/Azure/azure-powershell/pull/6023
Will close the issue.

[2018-05-08 23:56] #5631 closed

[2018-05-09 00:01] MiYanni opened #6166 "Implement ADAL logging callback for NetCore"
Currently, there is a bug in the version of ADAL (3.19.2) we are using for NetCore.
https://github.com/AzureAD/azure-activedirectory-library-for-dotnet/issues/1028

This version is resolved directly from `Common.Authentication.Abstractions.Netcore` via `Microsoft.ClientRuntime.Azure.Authentication` which uses ADAL 3.19.2. For now, to avoid this issue, we have disabled logging for ADAL via `LoggerC

[2018-05-09 02:43] zgf commented on #6157
@markcowl  add debug log
2018-05-09T00:15:22.6956489Z ##[debug]Evaluating condition for step: 'Apply Key Vault On Config'
2018-05-09T00:15:22.6957281Z ##[debug]Evaluating: succeeded()
2018-05-09T00:15:22.6957645Z ##[debug]Evaluating succeeded:
2018-05-09T00:15:22.6958585Z ##[debug]=> (Boolean) True
2018-05-09T00:15:22.6959883Z ##[debug]Expanded: True
2018-05-09T00:15:22.6960345Z ##[debug]Result: T

[2018-05-09 02:44] zgf commented on #6157
https://msasg.visualstudio.com/Bing_Ads/_build/index?buildId=2181950&_a=summary

[2018-05-09 02:55] zgf commented on #6157
https://msasg.visualstudio.com/Bing_Ads/UCM%20Team/_apps/hub/ms.vss-releaseManagement-web.cd-release-progress?releaseId=63626&_a=release-environment-logs&environmentId=347425

2018-04-23T14:33:24.8801839Z ##[debug]Evaluating condition for step: 'UCM-PreloadKeyVault'
2018-04-23T14:33:24.8803305Z ##[debug]Evaluating: succeeded()
2018-04-23T14:33:24.8804335Z ##[debug]Evaluating succeeded:
2018-04-23T

[2018-05-09 02:56] zgf commented on #6157
https://msasg.visualstudio.com/Bing_Ads/UCM%20Team/_apps/hub/ms.vss-releaseManagement-web.cd-release-progress?releaseId=63844&_a=release-environment-logs&environmentId=348366

2018-04-24T05:51:42.3355664Z ##[debug]Evaluating condition for step: 'Download ProdBits API FT Binaries from Azure Blob'
2018-04-24T05:51:42.3357761Z ##[debug]Evaluating: succeeded()
2018-04-24T05:51:42.3359078Z ##[debug]Eva

[2018-05-09 06:30] ankhuve commented on #3410
@adumont The weird thing is when I try to use the Azure "Change app service plan" functionality, I get suggestions for other app service plans in different resource groups than the app I'm trying to move.

After doing more digging into this, it seems my web app and my destination app service plan are in different "webspaces", and that is probably what is currently limiting my from moving the web a

[2018-05-09 06:48] bsiva commented on #2872
@davidbairdala Yes, VMware to Azure is supported via PowerShell. The PowerShell module and cmdlets to use are different from the ones this thread was originally opened for. PowerShell support for the VMware to Azure scenario is delivered via the AzureRm.RecoveryServices.SiteRecovery module.

Here is a tutorial on how to use Azure PowerShell to start replicating VMware virtual machines to Azure: ht

[2018-05-09 11:25] ashishsingh-banaras commented on #661
Can someone let me know why Invoke-RestMethod delete the existing job/files when adding new web job. Can someone guide me to prevent the deletion of exiting jobs/files.

[2018-05-09 11:39] yiqzhou commented on #6157
Result of gmo-ListAvailable:

    Directory: C:\Program Files\WindowsPowerShell\Modules

ModuleType Version    Name                                ExportedCommands
---------- -------    ----                                ----------------
Script     5.0.0      Azure                               {Get-AzureAutomationCertificate, Get-AzureAutomationConnection, New-AzureAutomationConnection, Remove-A

[2018-05-09 13:39] daozha opened #6172 "Azs.Backup.Admin: Set-AzsBackupShare should make EncryptionKey parameter non-mandatory"
@deathly809
To align with that cmdlet in Azure Stack tools, we should make EncryptionKey parameter non-mandatory. This allows customers to change the backup share without changing encryption key, or provide the key again.

[2018-05-09 13:45] daozha opened #6173 "Azs.Backup.Admin: Modfiy parameter name in Get-AzsBackup and Restore-AzsBackup"
@deathly809
Currently Get-AzsBackup and Restore-AzsBackup take "Name" as parameter. After the fix of nested resource name issue, the Name of backup resource will become {region}/{backupId}.

While Get-AzsBackup and Restore-AzsBackup actually take backupId as its parameter input:
Get-AzsBackup -Name {backupId}
Restore-AzsBackup -Name {backupId}

This can be a little confusing so how about change pa

[2018-05-09 13:49] daozha opened #6174 "Azs.Backup.Admin: Rename Get-AzsBackupLocation and Set-AzsBackupShare"
@deathly809
The two cmdlet names are confusing. We're thinking about change them to Get-AzsBackupConfiguration / Set-AzsBackupConfiguration.

[2018-05-09 13:54] daozha opened #6175 "Azs.Backup.Admin: Modify parameter name in Start-AzsBackupShare"
@deathly809
NIT, but it might be better to change param name "BackupShare" to "BackupSharePath" to make it clearer.

[2018-05-09 13:58] daozha opened #6176 "Azs.Backup.Admin: Expose backup scheduler and retention parameters in Set-AzsBackupShare"
@deathly809
To allow customers configure backup scheduler and retention policy, we need to expose related parameters isBackupSchedulerEnabled/backupFrequencyInHours/backupRetentionPeriodInDays in Set-AzsBackupShare.

The parameters are already in spec and SDK.

Basically, we want them exposed:

- In a private build for now for preview purpose

- Officially exposed together with Azure Stack 1806 re

[2018-05-09 14:42] jrochet commented on #5941
MeasureUP practice exams still ask about this cmdlet.  Any idea if the real exams are still asking about the non-ARM cmdlets?

[2018-05-09 14:55] ggirard07 opened #6177 "#Requires on an AzureRM.* module fails due to silent errors"
### Description

When using `#Requires` directive to declare dependency on an AzureRM.* module, the autoload of the module fails silently.
After replacing `#Requires` by `Import-Module AzureRM.TheModule -Verbose`, the reported error preventing `#Requires` to run properly appears in the output.

This behavior cause a real problem when developing a module with references to AzureRM.* modules. I need

[2018-05-09 15:32] deathly809 commented on #6173
We will leave it as name and introduce a fix which will extract the correct values when using the Name property of your resource.  All requests should be using the ARM resource properties and none of the underlying RP resource properties, excluding passing objects around of course.

[2018-05-09 15:36] deathly809 commented on #6175
Will be a breaking change.  We will have to add an alias and a message saying that we will remove the old parameter in a future update and to use the newer parameter.

[2018-05-09 15:37] deathly809 commented on #6174
This will be a breaking change.  We will have to add a cmdlet alias and a message to let users know the cmdlet will be replaced with the new name.

[2018-05-09 15:39] deathly809 commented on #6172
Will be a breaking change.  Will make field optional with a message and then we will remove this once it has been removed from the UI.

[2018-05-09 15:39] rifaterdemsahin commented on #317
are we also including the retention date here ? the script works but we are not getting the errors.

[2018-05-09 17:09] AnatoliB commented on #6165
Please note the issue is reproduced on a standalone VM that has nothing to do with Azure Automation, with a single instance of this script running in a single PS console process.

[2018-05-09 17:47] markcowl opened #6180 "Change TestController implementation for Profile and StorageManagement Scenario Tests"
- [x] Create new Mock IClientFactory implementation that creates clients at test runtime
- [x] Rework test setup to change the HttpRecorder settings only before running a test
- [x] Apply these settings to the Profile Project
- [x] Apply these changes to the storage management project
- [ ] Add necessary changes to control tenant id in ResourceManager calls
  - [ ] Ensure that Mock ProfileProvider

[2018-05-09 17:50] markcowl opened #6181 "Apply new ClientFactory and Test Controller to Core projects"
- [x] Compute
- [x] Network
- [x] Automation
- [x] KeyVault
- [ ] Sql

### Cost: 20

[2018-05-09 17:52] markcowl opened #6182 "Apply new ClientFactory / Test Controller to non-core projects"
- [x] Advisor
- [ ] Aks
- [ ] AnalysisServices
- [ ] ApiManagement
- [ ] ApplicationInsights
- [ ] Batch
- [ ] Billing
- [ ] Cdn
- [ ] CognitiveServices
- [ ] ContainerInstance
- [ ] ContainerRegistry
- [ ] DataFactory
- [ ] DataLakeAnalytics
- [ ] DataLakeStore
- [ ] DataMigration
- [ ] DeviceProvisioningServices
- [ ] DevSpaces
- [ ] DevTestLabs
- [ ] Dns
- [ ] EventGrid
- [ ] EventHub
- [ ] Fro

[2018-05-09 18:00] vladimir-shcherbakov opened #6183 "On-boarding format.ps1xml generation mechanism."
To meet our [MVP's request](https://github.com/Azure/azure-powershell/issues/865) (Default output for cmdlets should be displayed in table view) our team has worked out a mechanism.  Details on the mechanism you can find [here](https://github.com/Azure/azure-powershell/blob/preview/documentation/development-docs/generate-format.ps1xml-file.md) and it introduces 3 main steps:
1. Mark output types p

[2018-05-09 18:14] #2268 closed

[2018-05-09 18:14] #6010 closed

[2018-05-09 19:04] markcowl commented on #6017
This was fixed in version 6.0.1 of AzureRM - please have the customer update

[2018-05-09 19:04] #6017 closed

[2018-05-09 19:06] markcowl commented on #5990
This is because the Automation executor automatically loads Newtonsoft.Json 6.0.5 in the AppDomain, which does not have some of the APIs exepcted.  The Automation team plans to deploy a new service executor that allows using the latest 6.x version of Newtonsoft.Json.

[2018-05-09 19:06] #5990 closed

[2018-05-09 19:11] markcowl commented on #3806
@leftler HttpClient has a larger array of options for controlling the Http communication.

[2018-05-09 19:13] #5357 closed

[2018-05-09 19:26] markcowl opened #6185 "Update User Documentation to Include Additional Details about Contexts, Scopes, and the AutoSave feature"
New user-facing documentation should include

- [ ] Description of What a Context and ContextContainer are
- [ ] Differences between CurrentUser and Process scopes for Profile cmdlets
- [ ] When it is appropriate to use Context AutoSave and when (and  how) it should be disabled

[2018-05-09 19:29] markcowl opened #6186 "Create New-AzureRmContext cmdlet, update Select-AzureRmContext cmdlet"
New cmdlet

```New-AzureRmContext``` allows user to create a new, blank context container to pass in to other cmdlets.

- [ ] Create a new context that is disconnected from the saved profile
- [ ] Select this context as the default context for a session using ```Select-AzureRmContext``` or ```Set-AzureRmContext```

[2018-05-09 19:31] markcowl commented on #6054
Filed two issues to address this formally:
#6186 Introduces a new cmdlet to create an isolated context
#6185 Adds new conceptual documentation fro these concepts

[2018-05-09 19:31] #6054 closed

[2018-05-09 19:39] markcowl commented on #6157
@GuofuZhong These are not debug logs for the actual azure powershell cmdlets, and so are useless for debugging the issue.  You will need to turn on the debug stream for the powershell session you are runnign these cmdlets in.

Also, it looks like you have unprotected data in this issue, which may have broadcast a credential.  Please ensure that this credential is no longer valid, as this could be

[2018-05-09 19:41] markcowl commented on #5918
These are 'AzureAD Graph' permissions, not Microsoft.Graph permissions.  They should be listed as 'Application Permissions' under 'Windows Azure Active Directory '

[2018-05-09 19:44] markcowl commented on #6011
@MaximoTrinidad We feel that this is an additional parameter that makes the experience a bit more complex for average users.  We will instead create a better default name for the job in this case.

In the meantime, you should be able to use Start-Job with the cmdlet and give the job whatever name you like.

[2018-05-09 19:53] maddieclayton commented on #6011
Fixed - The long running operation will now try to decipher the name of the resource based on 1) a parameter called "Name" 2) The inputobject parameter 3) The ResourceId parameter.  All cmdlets should have one of these three parameters in every parameter set.

[2018-05-09 19:53] #6011 closed

[2018-05-09 20:18] avelis26 commented on #5728
**I can confirm... having similar issue.**

#### Input:
[code]

#### Output:
ResourceGroupName  |  Name  |  PowerState
-----------------  |  ----  |  ----------
foo  |  bar  |  running

**When I try to assign or output the "*PowerState*" property, I get a slightly different result.**

#### Input:
[code]

#### Output:
`VM running`

[2018-05-09 22:41] MiYanni opened #6191 "AzureBackup: Missing NetCore builds of dependencies"
AzureBackup has 2 dependencies that do not have NetCore builds:

- [Microsoft.Azure.Management.BackupServices](https://www.nuget.org/packages/Microsoft.Azure.Management.BackupServices/1.0.5-preview)
- [Microsoft.WindowsAzure.Management.Scheduler](https://www.nuget.org/packages/Microsoft.WindowsAzure.Management.Scheduler/)

For us to have Backup modules in .NET Core, these dependencies need to be u

[2018-05-09 23:44] vladimir-shcherbakov commented on #6183
Cmdlet design review should require output types propertes attributing at some point.

[2018-05-10 01:58] robdmoore commented on #4715
+1 I have a similar issue (I think)

I load my profile using `Select-AzureRmProfile` and then do a `Select-AzureRmSubscription` and it will intermittently either select the subscription I give it or give me the default subscription for my account (which is different to the sbuscription ID I pass to `Select-AzureRmSubscription`.

I'm on version 5.1.1 of the commandlets.

[2018-05-10 07:46] juancrl commented on #4715
I've got it working by now.

With AzureRM 5.7.0 and probably 5.x  -> you have to provide **BOTH parameters** to Select-AzureRMProfile (Set-AzureRMContext, better use the cmdlet, not the alias).  SubscriptionID and SubscriptionName.  Only SubscriptionID DOES NOT CHANGE THE CONTEXT NOR GIVES AN ERROR.
Be careful, as they have changed the parameter names, -SubscriptionID and -SubscriptionName are ALI

[2018-05-10 12:28] rokmicrosoft opened #6194 "Unable to find environment with name 'AzureCloud' with Add-AzureRMAccount"
Agent: - Private Agent
Affected machine count :- only 1 VM
AzureRM version :- 5.7.0
Tried with un-installation of azure powershell  module and installed fresh azure powershell 5.7.0.
Get-AzurermEnvironment returns empty but Get-AzureEnvironment contains azurecloud.

Add-AzureRMAccount works fine when removed -Environment parameters from it.

I am also attaching machine description.
Windows spec
Ed

[2018-05-10 15:58] kcighon commented on #5939
Great news - what's the ETA for 0.12.0?

[2018-05-10 16:52] MiYanni commented on #5939
@kcighon Soon™️
But actually... probably next week. We are doing some //BUILD related activities at the moment.

[2018-05-10 20:52] #5891 closed

[2018-05-10 20:53] maddieclayton commented on #5890
Fixed.

[2018-05-10 20:53] #5890 closed

[2018-05-10 20:56] maddieclayton commented on #5433
From the conversation, it seems that this issue has been resolved.  If not, please let me know and I will reopen the issue.

[2018-05-10 20:56] #5433 closed

[2018-05-10 21:01] maddieclayton commented on #4460
@MarcoMol Are you still having this issue in the current version of Azure PowerShell?

[2018-05-10 22:35] bganapa commented on #5596
Closing this issue

[2018-05-10 22:35] #5596 closed

[2018-05-10 22:37] bganapa commented on #5237
done

[2018-05-10 22:37] #5237 closed

[2018-05-10 22:39] bganapa commented on #5235
This is done

[2018-05-10 22:39] #5235 closed

[2018-05-10 22:49] cormacpayne commented on #6194
@rokmicrosoft would you mind updating to the latest version of `AzureRM` (6.0.1) and seeing if the issue still occurs? If so, would you mind running the command with `$DebugPreference="Continue"` set before and sending us the corresponding debug output?

[2018-05-10 23:20] ohwellwhatever opened #6199 "Get-AzureRmResource returns wrong Type for Tags Property"
### Description

Get-AzureRmResource returns:

Tags              Property   System.Collections.Generic.IDictionary[string,string] Tags {get;set;}

Should be a hash table per https://docs.microsoft.com/en-us/azure/azure-resource-manager/resource-group-using-tags

### Script/Steps for Reproduction

[code]

### Module Version

ModuleType Version    Name
---------- -------    ----

[2018-05-11 00:14] cormacpayne commented on #6199
@ohwellwhatever thanks for catching this -- looks like this is a result of a recent change we made to `Get-AzureRmResource` in `AzureRM` 6.0.1. We will update the corresponding docs as soon as we can to reflect these changes; have you ran into any other docs where you found this type of issue?

As a workaround in the meantime, you can run the following:

[code]

[2018-05-11 00:26] ohwellwhatever commented on #6199
Get-AzureRmResourceGroup still returns the correct Type:

PS C:\source\AzurePosh> $rg = Get-AzureRmResourceGroup -ResourceGroupName TestRG
PS C:\source\AzurePosh> $rg.Tags.GetType()

IsPublic IsSerial Name                                     BaseType
-------- -------- ----                                     --------
True     True     Hashtable                                System.Object

We're a

[2018-05-11 00:53] cormacpayne commented on #6199
@ohwellwhatever this change was made as a part of the [breaking change release for `AzureRM`](https://github.com/Azure/azure-powershell/blob/preview/documentation/migration-guides/migration-guide.6.0.0.md#breaking-changes-to-azurermresources-cmdlets), which allowed us to update the API used for `Get-AzureRmResource` and `Get-AzureRmResourceGroup`. It looks like the `Tags` property that is returned

[2018-05-11 07:38] SomilGanguly opened #6201 "Subnet Creation Issue through Powershell"
We are facing issues while creating a subnet. PFB the case analysis:

Policy Description:

1. Enforce NSG - Makes sure that a particular NSG is added while creating subnet, without which it doesn't allow to create subnet
2. Enforce UDR - Makes sure that a particular UDR is added while creating subnet, without which it doesn't allow to create subnet

1.	Scenario 1: User has been added to the role -

[2018-05-11 10:45] rokmicrosoft opened #6202 "Storage account: xxxxxxxxx not found. Selected Connection 'ServicePrincipal' supports storage account of Azure Resource Manager type only."
Customer is getting this issue Storage account: xxxxxxxxx not found. Selected Connection 'ServicePrincipal' supports storage account of Azure Resource Manager type only.
It happened after installing the updated version of Azure RM. After uninstall it started working fine.
Version -  PowerShell 6.0
Can you please look into it?

[2018-05-11 13:58] sepharg commented on #6202
Started happening on an "Azure File Copy" TFS task to me as well

[2018-05-11 15:06] v-tisheg commented on #5896
My Customer just tried using the -ASJob on his command and he says:

Can you test on your end? The job seems stuck in a running state. I did a simple write-host $env:computername for my powershell script I passed in.

I will try to get the exact syntax he used.

[2018-05-11 16:06] kwill-MSFT opened #6203 "No provider for Microsoft.Web/hostingEnvironments/capacities"
### Description

Get-AzureRmResource for -ResourceType **Microsoft.Web/hostingEnvironments/capacities** does not return an object.  The underlying REST API does correctly return the JSON body, but Powershell does not convert the response into a PSObject.

PS C:\Users\kwill> (Get-AzureRmResourceProvider -ProviderNamespace Microsoft.Web -Pre).ResourceTypes.ResourceTypeName
...
hostingEnvironments
ho

[2018-05-11 18:37] maddieclayton commented on #5896
@v-tisheg Please open a new issue with all the relevant issue if you can get the exact syntax he used

[2018-05-11 19:53] sergey-shandar commented on #5871
Example output:

[code]

[2018-05-11 21:00] v-tisheg commented on #5896
Thank you, will do.

Timothy Shegrud

Support Engineer
Cloud & Infrastructure Solutions
Customer Services & Support | Microsoft Corporation
(425) 706-4408; * v-tisheg@microsoft.com<mailto:v-tisheg@microsoft.com> | Hours: Sun - Thur, 8:00am-5:00pm PST
Need help outside of my working hours for a technical issue?
*: AzBackup@microsoft.com<mailto:AzBackup@microsoft.com>

Meeting and exceeding your exp

[2018-05-11 22:28] v-tisheg opened #6205 "Customer still having issue with -AsJob switch on Invoke-AzureRmVMRunCommand"
<!--

If this issue is a bug report:
- Upgrade to the latest version of AzureRM and verify you are able to reproduce the issue
    - You can install the latest version of AzureRM from the PowerShell Gallery
        - https://www.powershellgallery.com/packages/AzureRM
    - You can also install the latest version from the Releases section
        - https://github.com/Azure/azure-powershell/releases

[2018-05-11 22:44] v-tisheg commented on #5896
Please see https://github.com/Azure/azure-powershell/issues/6205

Timothy Shegrud

Support Engineer
Cloud & Infrastructure Solutions
Customer Services & Support | Microsoft Corporation
(425) 706-4408; * v-tisheg@microsoft.com<mailto:v-tisheg@microsoft.com> | Hours: Sun - Thur, 8:00am-5:00pm PST
Need help outside of my working hours for a technical issue?
*: AzBackup@microsoft.com<mailto:AzBackup@m

[2018-05-11 23:32] maddieclayton commented on #6205
@v-tisheg Please add more information as you get it - Invoke-AzureRmVMRunCommand works for me, so I'll need more detailed steps to repro your issue.

[2018-05-14 06:40] blueww commented on #6202
@rokmicrosoft  @sepharg

I tried to repro the issue with Azure Powershell 6.0.0 (AzureRm.Storage Version 5.0.0), and the latest Azure RM.storage 5.0.1, But both not reproed. The Start-AzureStorageFileCopy work fine on my machine.

Could you give more detail for how  to repro the issue (hide credential if any)?
1. Run "Get-module" after the issue repro, and give the result. We need the module versi

[2018-05-14 06:52] sepharg commented on #6202
Sure, here's the log I get from TFS (stripped out of credentials)

2018-05-11T13:35:56.5068549Z Executing the powershell script: C:\Install\agent-03\tasks\AzureFileCopy\1.0.42\AzureFileCopy.ps1
2018-05-11T13:35:56.8349887Z Looking for Azure PowerShell module at C:\Program Files (x86)\Microsoft SDKs\Azure\PowerShell\ServiceManagement\Azure\Azure.psd1
2018-05-11T13:35:58.2568820Z AzurePSCmdletsVersi

[2018-05-14 07:36] blueww commented on #6202
@markcowl , @cormacpayne

It seems the issue does not come from storage cmdlets, but from Get-AzureRmResource.

https://github.com/Microsoft/vsts-tasks/blob/master/Tasks/AzureFileCopy/AzureUtilityGTE1.0.ps1#L27

I see this line of code filter account with "ResourceName" But actually the output of the cmdlet has property "Name", but not property "ResourceName"

[2018-05-14 07:44] GuofuZhong commented on #6157
@markcowl we have updated AzureRM to latest. but we still see this exception.
How to enbable debug stream for powershell session?

[2018-05-14 07:45] GuofuZhong commented on #6157
2018-05-14T05:27:00.5653823Z ##[debug]Evaluating condition for step: 'Apply Key Vault On Config'
2018-05-14T05:27:00.5655000Z ##[debug]Evaluating: succeeded()
2018-05-14T05:27:00.5655371Z ##[debug]Evaluating succeeded:
2018-05-14T05:27:00.5655935Z ##[debug]=> (Boolean) True
2018-05-14T05:27:00.5656378Z ##[debug]Expanded: True
2018-05-14T05:27:00.5656769Z ##[debug]Result: True
2018-05-14T05:27:00.5

[2018-05-14 08:54] axelgMS commented on #6030
Possible workaround seems to be a Get-AzureRMVM with -Status parameter to get the empty fields.

[2018-05-14 10:37] fbodmer commented on #6055
Having a similar issue. Attempting to assign a single region results in an error. Easy to reproduce, just use example in documentation and set filter to result in single hit, e.g. "*southeast asia*" instead of "*southeast asia*".

[2018-05-14 12:29] rokmicrosoft commented on #6202
@blueww  Thanks ..In azure powershell version 6.0 in Get-AzureRmResource ResourceName is not supported this is the reason our task is failing. We will update this in our task.

[2018-05-14 14:27] NeilBird commented on #5835
@carlneal - I had the same problem today, but after updating my "AzureRM.Compute" module to v5.0.0 by running "Update-Module -Name AzureRM" and closing and re-opening PowerShell it has resolved the issue. Hope this is useful.

Get-Module -Name AzureRM -ListAvailable
6.0.1      AzureRM

ReleaseNotes                : 6.0.0 - May 2018

[2018-05-14 15:29] v-tisheg commented on #6205
I am not sure what exact information you need for this.

The customer’s first email in its entirety:

            Can you test on your end? The job seems stuck in a running state. I did a simple write-host $env:computername for my powershell script I passed in.

When I asked exactly what command he used and it’s syntax he sent this email in its entirety:

            Invoke-AzureRmVMRunCommand -Re

[2018-05-14 15:55] DirkMSFT opened #6208 "get-azurermdiagnosticsetting does not recognize Diagnostic settings from resources created by ARM template"
### Description

get-azurermdiagnosticsetting does not show settings (LogAnalytics Workspace ID etc., see pictures) for resources created by ARM template. Via REST API these settings are available though.
Resources created manually via Portal are shown correctly.

### Script/Steps for Reproduction

Does not work:
PS> $randomresourcecreatedbyARMtemplate | get-azurermdiagnosticsetting

Does work:
PS

[2018-05-14 16:20] markcowl commented on #6202
Sounds like this is resolved, closing

[2018-05-14 16:20] #6202 closed

[2018-05-14 16:26] v-tisheg commented on #6205
Thank you so much for the follow up.  This is the first time I have submitted an issue.  I thought the directions said to include this information of a Hi Pri issue.  But I am sure I miss read.  Let me see what I can get from the customer.

What command can he run to get the Azure Module Version number?

Thank you,

Timothy Shegrud

Support Engineer
Cloud & Infrastructure Solutions
Customer Servic

[2018-05-14 16:37] jeanfrancoislarente commented on #5956
This just started happening for me. Is there a workaround?

$osSAS = Grant-AzureRmSnapshotAccess -ResourceGroupName $snapshotResourceGroupName -SnapshotName $osSnapshotName  -DurationInSecond $sasExpiryDuration -Access Read

I get a null AccessSAS result.

[2018-05-14 16:50] v-tisheg commented on #5956
I was getting this recently as well.

None of my team was able to get it to work either.

Timothy Shegrud

Support Engineer
Cloud & Infrastructure Solutions
Customer Services & Support | Microsoft Corporation
(425) 706-4408; * v-tisheg@microsoft.com<mailto:v-tisheg@microsoft.com> | Hours: Sun - Thur, 8:00am-5:00pm PST
Need help outside of my working hours for a technical issue?
*: AzBackup@microso

[2018-05-14 16:57] ikiris04 commented on #5956
You can call az cli from within powershell to get the sas

https://docs.microsoft.com/en-us/cli/azure/snapshot

I tested this but didn’t work thron ugh the whole syntax

[2018-05-14 17:09] praries880 commented on #5956
@hyonholee  Is there a known workaround for the issue?

[2018-05-14 17:18] kfehribach opened #6209 "Set-AzureRmSchedulerStorageQueueJob does not update StorageQueueMessage"
### Description

When trying to update the StorageQueueMessage using Set-AzureRmSchedulerStorageQueueJob the StorageQueueMessage does not seem to get updated

### Script/Steps for Reproduction
[code]

### Module Version

[code]

### Environment Data
[code]

### Debug Output

Lot of private data in there, if needed I can send outside of the ticket or work to sanitize. The issue that I see is that w

[2018-05-14 17:41] pshahid786 commented on #6202
@rokmicrosoft  do you know how are we going t this fixed and anyway to get us informed if its fixed? is there any alternative that we can use until this is fixed?

[2018-05-14 18:26] jeanfrancoislarente commented on #5956
Thanks for the workaround @ikiris04, I (temporarily) changed my script to:

$osSAS=$(az snapshot grant-access -g $snapshotResourceGroupName -n $osSnapshotName --duration-in-seconds $sasExpiryDuration -o tsv)

[2018-05-14 19:49] panchagnula commented on #3633
Our preview version is now released so please update to the latest stable version & let us know if this still occurs. Thank you

[2018-05-14 19:55] MiYanni commented on #6208
@gucalder @micongjie Can one of you take a look at this?

[2018-05-14 19:58] MiYanni commented on #6205
@v-tisheg Please tell him run `Get-Module -Name AzureRM -ListAvailable` to get the version(s) of AzureRM installed on his machine.

[2018-05-14 20:04] panchagnula commented on #5969
@TsuyoshiUshio  can you re-try with our latest release please? This should now be fixed

[2018-05-14 20:14] v-tisheg commented on #6205
Good enough… Will do.

Timothy Shegrud

Support Engineer
Cloud & Infrastructure Solutions
Customer Services & Support | Microsoft Corporation
(425) 706-4408; * v-tisheg@microsoft.com<mailto:v-tisheg@microsoft.com> | Hours: Sun - Thur, 8:00am-5:00pm PST
Need help outside of my working hours for a technical issue?
*: AzBackup@microsoft.com<mailto:AzBackup@microsoft.com>

Meeting and exceeding your e

[2018-05-14 21:20] MiYanni commented on #6209
@kfehribach Can you update your version of AzureRM and check if you still have the issue?
https://www.powershellgallery.com/packages/AzureRM/6.0.1

[2018-05-14 22:07] MiYanni commented on #6201
@SomilGanguly What is the cmdlet and parameters used? What version of AzureRM are you using? Is this desktop or netcore?

It looks like this was copy/paste from an email. Any way we could have those details in this this issue?

[2018-05-14 22:48] MiYanni commented on #6177
@ggirard07 You can't `Remove-Module` and then import it again. It still exists within the PS session. As per [the doc](https://docs.microsoft.com/en-us/powershell/module/microsoft.powershell.core/remove-module?view=powershell-6):

I'm not sure the steps/info provided has to do with the `Requires` issue you're having. Could you try updating to the latest AzureRM and see if the issue persists?
https

[2018-05-15 00:25] payiAzure opened #6211 "Test ServerKeyVaultKeyTests needs to be fixed."
### Description

In the Old ServerKeyVaultKeyTests, the test is hard coded and not re-recordable. Needs to update the test to be dynamically: configure the test environment in the test itself, but not pre-created in the test clusters.
Create-ServerKeyVaultKeyTestEnvironment

### Script/Steps for Reproduction

When setting up the KeyVaultKey test environment, error happened when call "Create-Server

[2018-05-15 00:51] chris-bowman commented on #5835
I confirm that this also now works for me in 6.01 as well, in fact the CreationData property populated with CreateOption Restore as well:

`$disk.CreationData

CreateOption     : Restore
StorageAccountId :
ImageReference   :
SourceUri        :
SourceResourceId : /subscriptions/xxxxxxxxxxxxx/resourceGroups/bowmanlabs-rg/providers/Microsoft.Compute/disks/bowmandc_osdisk_1_f0d0dd33c79d4acf93f68280aab

[2018-05-15 02:29] hectoralinares commented on #6173
I think this change makes sense.

[2018-05-15 02:32] hectoralinares commented on #6174
Daotian, I think we should align this work with support for Azure storage in [Ti]

[2018-05-15 02:33] hectoralinares commented on #6175
BackupShare makes it seem like its an object that I get using "Get-BackupShare." Since the input is text, this should either be Path, LiteralPath, or BackupSharePath. I prefer we use backupsharepath. Which means we will need the alias. I think we should make this change for clarity.

[2018-05-15 05:50] rokmicrosoft commented on #6202
@pshahid786  Please downgrade AzureRm version to 5.7.0 . If you still face any issue feel free to ping us.

[2018-05-15 05:58] TsuyoshiUshio commented on #5969
Thank you @panchagnula, I'll try that. :)

[2018-05-15 05:59] rokmicrosoft commented on #6202
We had already identified the issue.
We will hotfix this task Till then you can downgrade your AzureRm module to 5.7.0 it should work.
If you still face any issue feel free to contact us.

[2018-05-15 09:41] daozha commented on #6173
OK then we can close this as Won't fix.

@deathly809 I think there'll be similar changes to extract values across different modules, right? Is there a bug tracking this fix?

[2018-05-15 09:57] JonJam commented on #6194
Hi @cormacpayne, I already reported this issue to @rokmicrosoft. After updating AzureRM to version 6.0.1 I can confirm I no longer see this issue.

[2018-05-15 11:58] whiggs opened #6214 "Azurerm.profile not being imported into powershell session when module installed on clean vm"
### Description

I have a powershell script which has a gui and uses background jobs in order to ensure that the gui remains responsive when the events associated with its controls are being executed. When the GUI loads, the GUI_loads event is supposed to install the azurerm module on the machine, connect to it with a set of credentials, and access some values in a key vault. However, when the pro

[2018-05-15 12:07] kfehribach commented on #6209
Verified that I still see the same results on version 0.16.4

[2018-05-15 12:12] kfehribach commented on #6209
And updating the entire AzureRM package didn't make a difference either.

[2018-05-15 13:06] alfredknoest commented on #3393
What was the solution? @mclark1129

[2018-05-15 13:40] #6194 closed

[2018-05-15 14:01] YoannGUILLO commented on #5918
Still the same error that @yassirkachri, I have a service principal used as a run as account to execute my runbooks on Automation, my runbook execute the command New-AzureRmRoleAssignment to apply a specific user as reader on a resource group.
My service principal is owner of my subscription and permissions below has been applied :
![image](https://user-images.githubusercontent.com/14802708/400613

[2018-05-15 14:28] v-tisheg commented on #6205
I have sent an email to the customer requesting the information you have detailed.

I will get that information to you as soon as I get it.

Timothy Shegrud

Support Engineer
Cloud & Infrastructure Solutions
Customer Services & Support | Microsoft Corporation
(425) 706-4408; * v-tisheg@microsoft.com<mailto:v-tisheg@microsoft.com> | Hours: Sun - Thur, 8:00am-5:00pm PST
Need help outside of my worki

[2018-05-15 15:11] strtdusty opened #6215 "New-AzureKeyVaultCertificateOrganizationDetails example shows parameters that do not exist"
### Description
Example 1 on the New-AzureKeyVaultCertificateOrganizationDetails.md page shows the commandlet allowing you to set Name, Address1, City, State etc. Those properties don't exist in the commandlet. I wish they did, but they don't. If you run the example verbatim you will get an error about missing parameters.

https://github.com/Azure/azure-docs-powershell/blob/38f06bfa6d78bf80660e6da

[2018-05-15 17:48] MiYanni commented on #5565
Changes here:
https://github.com/MiYanni/azure-powershell/tree/NetCoreWarningRemoval

[2018-05-15 18:07] nonik0 opened #6219 "Credential objects missing CustomKeyIdentifier property, causes issues"
Hi,

I've determined that the [PSADPasswordCredential](https://github.com/Azure/azure-powershell/blob/f34c546fea58d48819e968cab9ac3dd5c50551f3/src/Common/Commands.Common.Graph.RBAC/ActiveDirectory/PSADPasswordCredential.cs) and [PSADKeyCredential](https://github.com/Azure/azure-powershell/blob/f34c546fea58d48819e968cab9ac3dd5c50551f3/src/Common/Commands.Common.Graph.RBAC/ActiveDirectory/PSADKeyCre

[2018-05-15 21:15] square10 opened #6223 "Start-AzureRmVM cmdlet stuck in running state for hours"
### Description

I'm trying to turn on a VM via PowerShell but I'm running into an odd issue.  I'm using Start-AzureRmVm to start the machine.  The command will run with no errors however even after the VM starts the cmdlet never finishes.  It's almost like its waiting for a running status that never gets passed.  I have to either stop the script using crtl+c or close the shell.  While the command

[2018-05-15 21:47] deathly809 commented on #6173
@daozha This is probably not the best place to discuss this.  But we will use the azure-powershell issue tracker.  We will probably keep a task per month for "Azure-Powershell" bug fixes and add external links.

[2018-05-15 21:49] deathly809 commented on #6175
Would BackupShareURI more accurate?

[2018-05-15 21:57] deathly809 commented on #6172
@hectoralinares We should setup a meeting to discuss this.

[2018-05-15 22:14] #3695 closed

[2018-05-15 22:14] #4591 closed

[2018-05-15 22:25] MiYanni commented on #5955
@twitchax Kick

[2018-05-15 22:39] MiYanni commented on #3806
Bulk of code here:
https://github.com/MiYanni/azure-powershell/blob/RestCmdlet/src/ResourceManager/Profile/Commands.Profile/Rest/InvokeAzureRmRestMethod.cs

Branch is:
https://github.com/MiYanni/azure-powershell/tree/RestCmdlet

[2018-05-15 22:52] MiYanni opened #6224 "Separate GitHub checks into each process of the build"
Currently, we display 3 checks:
- `continuous-integration/travis-ci/pr`
- `default`
- `license/cla`

These encompass the processes of:
- Entire netcore build including test
- Entire desktop build including test, static analysis, breaking changes, help generation, etc.
- CLA Requirement Check

The proposal is to split each potential failure process into separate checks. Something like this:
- NetCo

[2018-05-16 04:17] twitchax commented on #5955
@markcowl @MiYanni, sorry...I got stuck in another meeting today.

Should this be an investigation for @gucalder?  Or. did we determine that this is on DevEx?

[2018-05-16 06:42] sepharg commented on #6202
Many thanks @rokmicrosoft ! do you have an approx ETA on the hotfix?

[2018-05-16 08:01] rokmicrosoft commented on #6202
@sepharg  This error usually happened when importing multiple versions of AzureRM.Profile.
[Stack-overflow solution link](https://stackoverflow.microsoft.com/questions/96243/use-management-group-commandlet-in-vsts-azure-powershell-task-the-typeconverte/96245#96245 ).

[2018-05-16 08:03] sepharg commented on #6202
@rokmicrosoft that's a private (enterprise) stackoverflow link, can't access it :(

[2018-05-16 08:16] rokmicrosoft commented on #6202
@sepharg

Error:-
VERBOSE: Module 'AzureRM.ManagementGroups' was installed successfully to path
VERBOSE: 'C:\Users\VssAdministrator\Documents\WindowsPowerShell\Modules\AzureRM.ManagementGroups\0.0.1'.

The following error occurred while loading the extended type data file:
Error in TypeData "Microsoft.Azure.Commands.Common.Authentication.Abstractions.IAzureContextContainer":
The TypeConverter was

[2018-05-16 08:50] MetehanBolat commented on #1833
It seems like github link for AzureDiskEncryptionPreRequisiteSetup.ps1 link is not alive and I am having the same retryable error issue.

[2018-05-16 13:14] kirankumargollapelly commented on #5324
Can you please let me know, how to enable the key vault for template deployment ?

[2018-05-16 13:44] sepharg commented on #5324
It's a "hidden" setting you can set when under **Access Policies -> Click to show advanced access policies**
As shown here:

![image](https://user-images.githubusercontent.com/3963438/40120617-ee15a864-591f-11e8-9354-d1fd51cfaa7d.png)

[2018-05-16 14:07] sepharg commented on #6202
Thing is, I'm not importing anything myself, it's all done by the TFS task

C:\Install\agent-03\tasks\AzureFileCopy\1.0.42\AzureFileCopy.ps1

Are you suggesting I edit this manually?

[2018-05-16 16:07] #4440 closed

[2018-05-16 16:14] MiYanni opened #6231 "VersionController throws exception if changelog entry contains double quotes"
It happens in the method `UpdateOutputModuleManifest`. Basically, the script becomes malformed and then sends it to PowerShell which throws a fatal error when trying to execute the script. This happened when trying to do the AzureRM 6.1.0 release.

[2018-05-16 16:17] cormacpayne opened #6232 "Add build filter for solutions"
### Description

Leverage the existing functionality of the test filter ("smart tester") to filter solutions to build

- [ ] Abstract out the functionality of the test filter task so that a new filter task can easily be created and added
- [ ] Similar to [`TestMappings.json`](https://github.com/Azure/azure-powershell/blob/preview/TestMappings.json), create a `SolutionMappings.json` file that maps

[2018-05-16 16:18] MiYanni commented on #6177
@ggirard07 If you're repackaging your .dll that you want to test, then yes, you'd need a new session each time. It is the appdomain that remains the same in the session, so you can't remove the already loaded .dll from an appdomain.

For testing, it is easiest to just set up Visual Studio to run PowerShell and then load your module. This is how we do it for testing our module projects:
![image](ht

[2018-05-16 16:53] cormacpayne commented on #6223
@hyonholee @nibhat hey guys, have you seen this issue before?

@square10 as a potential workaround, you can provide the `-AsJob` parameter to run the command as a job in the background of your PowerShell process so the shell isn't locked from you running any additional commands

[2018-05-16 16:57] cormacpayne commented on #6215
@RandalliLama @maddieclayton @dragav would one of you mind taking a look at this quick documentation update?

[2018-05-16 19:32] square10 commented on #6223
Update on the job status....It took almost an hour for the job to finish.

PS C:\Users\JesseRunowski\OneDrive - Square10 Solutions LLC\Scripts> Get-Job | Select *
State                : Completed
HasMoreData          : True
Location             : localhost
StatusMessage        : Completed
CurrentPSTransaction :
Host                 : System.Management.Automation.Internal.Host.InternalHost
Command

[2018-05-16 19:40] vladimir-shcherbakov opened #6234 "[Compute] Add resource id parameter set."
## Introduction
AzurePs Team is working on applying the resource-id [tab completer](https://github.com/Azure/azure-powershell/issues/5415) to Compute **action cmdlets** having a resource-id parameter referencing a  **top level resources**:

**top level resource** id pattern :
[code]
**action cmdlets**: get, set, remove.

Three services were selected to apply the tab completer:
* AvailabilitySets
*

[2018-05-16 22:39] MiYanni commented on #6177
@ggirard07 I've had similar experiences with VSCode and PowerShell. I generally use VSCode to edit scripts, but not to debug them. There should be a way to launch the exe directly using `launch.json`, but I haven't looked into it.

I'd suggest submitting that VSCode PowerShell issue into their repo here:
https://github.com/PowerShell/vscode-powershell

If I've helped you get past your Azure PowerS

[2018-05-17 00:13] MiYanni commented on #5449
Keep this as a separate task that is part of: https://github.com/Azure/azure-powershell/issues/6129

[2018-05-17 00:22] MiYanni opened #6241 "RedisCache: Update Microsoft.Azure.Insights dependency"
This was originally investigated back when I was looking at `WindowsAzure.Storage` dependent modules. Updating the version of this dependency for RedisCache removes the dependency on `WindowsAzure.Storage` and updates to allow the same version of `Newtonsoft.Json` to be used.

There is work currently being done to update their module to use this new dependency. I'm using this issue to track this p

[2018-05-17 01:38] ankitmundra88 commented on #4130
I am also facing the same issue

From within an Ubuntu 16.04
Azure CLI version 2.0.32

[2018-05-17 01:41] MiYanni opened #6242 "Remove excess module loading in test controllers"
There is a `SetupModules` step that is in the test controller for each module. It seems that... if the RP uses the management library from another RP, they were also loading in the module of that RP. This is not correct. In 95% of these cases, they don't need to load the module of the other RPs, since they usually aren't doing direct calls in the PowerShell test scripts to the cmdlets of those oth

[2018-05-17 06:44] bramvdklinkenberg commented on #4130
@ankitmundra88 , make sure you use "--publisher Microsoft.Azure.Diagnostics"

[2018-05-17 15:32] ggirard07 commented on #6177
@MiYanni You nailed it, thanks for the help :)

[2018-05-17 16:35] #6177 closed

[2018-05-17 18:37] praries880 opened #6246 "Remove-AzureRmServiceFabricNodeType fails with a null pointer exception..."
While recording the tests for Service fabric, the cmdlet "Remove-AzureRmServiceFabricNodeType" kept failing with a null pointer exception.

The exception happens at the following [line of code]( https://github.com/Azure/azure-powershell/blob/preview/src/ResourceManager/ServiceFabric/Commands.ServiceFabric/Commands/RemoveAzureRmServiceFabricNodeType.cs#L97)

issue is the UpgradeDescription is null.

[2018-05-17 20:37] juhacket commented on #6246
We will investigate.

[2018-05-17 22:50] theczorn opened #6250 "[Bug] Unable to Generate Storage Account Table in Azure; Missing Newtonsoft.JSON"
### Description
Attempting to connect to Azure to Generate an empty Table under a Storage Account. Appears to be unable to reference Newtonsoft.JSON v10.0.0.0

I can't seem to find anything in the existing issues or across the web on this problem. Any help/guidance would be much appreciated. Thanks.

### Script/Steps for Reproduction
1. Execute below script
2. Enter Azure credentials
3. Receive fa

[2018-05-18 01:02] MiYanni opened #6251 "Have Strategy library use common management dependencies"
Currently, the Strategy library is using direct management library dependencies. It should, instead, use the Common versions of those libraries.

- [ ] Use `Commands.ResourceManager.Common` instead of `Microsoft.Azure.Management.ResourceManager`
- [ ] Use `Commands.Common.Compute` instead of `Microsoft.Azure.Management.Compute`
- [ ] Use `Commands.Common.Network` instead of `Microsoft.Azure.Manage

[2018-05-18 01:36] blueww commented on #6250
@thezero

I can't repro the issue on my machine. Seems there's some problem in you machine with the module load.
Would you please run following command and show the result when get the issue reproed?
`get-module -Name Azure* | format-table name,version,path`

And would you please check if there's some dll with following name in current folder when you run the command.
Microsoft.WindowsAzure.Comman

[2018-05-18 01:37] ankitmundra88 commented on #4130
@bramvdklinkenberg Thanks for the response. I managed to get it working.

Below is the observation ::

- I already had the Linux Diagnostics Extension Enabled on the VM. That extension was from the provider Microsoft.OSTCExtensions and the extension version 2.*.
- After uninstallation of the previous extension I was able to successfully install the 'LinuxDiagnostic' version 3.0.0 extension.

I thi

[2018-05-18 13:34] andyk1989 commented on #6250
I was able to reproduce on Windows 10 Version 1803 with AzureRM 6.0.1.

[code]

This is a regression since AzureRM v5.7.0 as the command `New-AzureStorageTable -Name "testTable"` works on that version.

[2018-05-18 16:51] theczorn commented on #6250
1. Remove any previous installations of Microsoft Azure PowerShell from the 'Add/Remove programs' control panel
    2. Remove all Azure* modules from %Program Files%\WindowsPowerShell\Modules
    3. Run: Install-Module -Name AzureRM -Repository PSGallery -Force

@blueww Before creating this issue report I had attempted the steps you listed above^
Not seeing any change in behaviour.

```get-module

[2018-05-18 20:58] mihymel commented on #6211
Reassigning to Nikhil

[2018-05-18 21:26] cormacpayne commented on #6199
@ohwellwhatever update: our team discussed this issue and decided that we are going to keep the functionality as it is and look to see if we want to change it back to a `Hashtable` in the next breaking change release. Please feel free to contact me with any questions.

[2018-05-18 21:26] #6199 closed

[2018-05-18 21:31] cormacpayne commented on #6199
@ohwellwhatever also, as an FYI, the document you linked to above has been updated to reflect the changes in the 6.0.0 release of `AzureRM.Resources`. Thanks for bringing this to our attention 😀

[2018-05-18 21:53] cormacpayne commented on #6203
@kwill-MSFT Hey Kevin, would you mind running the same `Get-AzureRmResource` command without the `ApiVersion` parameter? I am curious to see if the SDK we are now using for listing generic resources picks up this resource type

[2018-05-18 23:17] cormacpayne commented on #3459
@mrdenny please upgrade to the latest version of `AzureRM.Compute` and let us know if you are still seeing this issue. If so, please let us know and we will re-open this issue.

[2018-05-18 23:17] #3459 closed

[2018-05-18 23:19] cormacpayne commented on #3474
@joshuapetryk please upgrade to the latest version of `AzureRM.TrafficManager` and see if the issue persists. If so, let us know and we will re-open this issue.

[2018-05-18 23:19] #3474 closed

[2018-05-18 23:39] cormacpayne commented on #3585
@pankajsn any updated on this? You can now use our generic paging mechanism that involves the [`GenericPageEnumerable`](https://github.com/Azure/azure-powershell/blob/preview/src/ResourceManager/Common/Commands.ResourceManager.Common/Paging/GenericPageEnumerable.cs) class. You can see it being used [here](https://github.com/Azure/azure-powershell/blob/preview/src/Common/Commands.Common.Graph.RBAC/

[2018-05-18 23:43] cormacpayne commented on #3623
@solankisamir do you know if this issue has been resolved?

[2018-05-18 23:59] solankisamir commented on #3623
@cormacpayne no, I did not address this issue.

[2018-05-20 01:10] eugsf commented on #5763
Just use
Set-ExecutionPolicy -ExecutionPolicy Unrestricted -force
Then
Import-Module Azure

[2018-05-21 05:54] Maqsoodp commented on #1288
With Azure Powershell 4.4.1 onwards , Microsoft has **Enable-AzureRmContextAutosave**

Refer::
https://docs.microsoft.com/en-us/powershell/azure/context-persistence?view=azurermps-4.4.1#how-the-context-autosave-setting-is-remembered

[2018-05-21 08:49] twitchax opened #6260 "`New-AzureRmAks` should declare proper output type."
### Description

`Get-AzureRmAks` declares `List<PSKubernetesCluster>` as its output type, and it should not be a concrete list (see [here](https://github.com/Azure/azure-powershell/blob/preview/src/ResourceManager/Aks/Commands.Aks/Commands/GetAzureRmAks.cs#L28)).

### Module Version

6.0.0

[2018-05-21 08:53] EdisonDa commented on #6260
Thank you Aaron. When the bug get fixed, we may have to manually sync [this doc](https://docs.microsoft.com/en-us/powershell/module/azurerm.aks/Get-AzureRmAks?view=azurermps-6.0.0) from source to docs repo.

[2018-05-21 09:51] ToMakeSense opened #6261 "Unable to deserialize the response"
I have encountered this issue on VSTS for Azure resources deployment with azure PowerShell recently, the script doesn’t work for one resource group, but it works for others, strange.  It seemed the same issue as #5835 , I  tried the solution given in my local machine, it's not work for me.
[code]

[2018-05-21 10:29] KanikaGMS opened #6262 "'Get-AzureRMResource' cmdlet fails with "InvalidApiVersionParameter : The api-version '2018-05-01' is invalid". Microsoft/vsts-tasks#7059 and https://github.com/Azure/azure-powershell/issues/6031"
'Get-AzureRMResource' cmdlet fails with "InvalidApiVersionParameter : The api-version '2018-05-01' is invalid". Microsoft/vsts-tasks#7059 and https://github.com/Azure/azure-powershell/issues/6031

The failure is with Get-AzureRMResource cmdlet.

Execution of the cmdlet from PowerShell directly is also failing with the same error.

Here is the error message for 2.1.0

Grant-AzureRmDiskAccess : The

[2018-05-21 15:21] v-tisheg commented on #6205
Hello All,

The customer has responded to my request for more information.:

Hi Tim,

Unfortunately, this issue has taken way too long to resolve. With it being a new case with the product team and if the product team cannot ty to repo on their side, please close it. I’ll figure out another workaround.

Thanks

It looks like the customer is frustrated.

Please let me know if there is any more info

[2018-05-21 15:26] markcowl commented on #6030
This is a dupliacte of #5982 [even though the title is different, the underlying issue is the same]. Closing

[2018-05-21 15:26] #6030 closed

[2018-05-21 17:09] cormacpayne commented on #6219
@darshanhs90 Hey Haridarshan, would you happen to know why the above scenario is disallowed? I am able to reproduce the above exception, but am unsure why the server would return a `BadRequest`.

[2018-05-21 17:14] cormacpayne commented on #5940
@kwill-MSFT Hey Kevin, we made some changes to object returned from `Get-AzureRmResource` in the 6.0.0 release of Azure PowerShell; would you mind updating to the latest version and see if you still get the above error?

However, I'm seeing an issue with this piping scenario you've provided when trying to reproduce this exception, so I will keep this issue open regardless to track the progress of

[2018-05-21 17:20] v-tisheg commented on #5763
Making this change to my profile seems to have provided the mitigation I needed.  No errors now.

Timothy Shegrud

Support Engineer
Cloud & Infrastructure Solutions
Customer Services & Support | Microsoft Corporation
(425) 706-4408; * v-tisheg@microsoft.com<mailto:v-tisheg@microsoft.com> | Hours: Sun - Thur, 8:00am-5:00pm PST
Need help outside of my working hours for a technical issue?
*: AzBackup

[2018-05-21 20:54] maddieclayton commented on #4745
Fixed!

[2018-05-21 20:54] #4745 closed

[2018-05-21 21:48] maddieclayton commented on #6262
@cormacpayne Can you take a look?

[2018-05-21 21:55] maddieclayton commented on #6260
@twitchax Actually, we don't need to have a "list" output for the output type at all - all that output type does is allow the user to tab through properties.  I'll update the file to ```[OutputType(typeof(PSKubernetesCluster)))]``` - looks like the help file is fine, unless you guys think otherwise.

[2018-05-21 21:59] twitchax commented on #6260
@maddieclayton, sorry, my comment was a little confusing.  I just meant that it should not be a concrete list, even if we did need it to be a list, which we don't. :)

[2018-05-21 22:16] maddieclayton commented on #6261
@ToMakeSense Can you give us the current modules you are running by giving us the output of "Get-Module -ListAvailable"?  It looks like some people were not seeing this issue anymore in AzureRM 6.0.1, so if you have not updated to 6.0.1 can you update and let me know if you still see this issue?

[2018-05-21 23:31] cormacpayne commented on #5159
@maddieclayton

https://github.com/Azure/azure-powershell/blob/preview/src/ResourceManager/Resources/Commands.ResourceManager/Cmdlets/Implementation/Resource/GetAzureResourceCmdlet.cs#L191-L199

[2018-05-22 02:40] ToMakeSense commented on #6261
I had updated to the latest version
[code]

[2018-05-22 04:11] blueww commented on #6250
I tried to repro it with 6.0.1, and it really repro When open a new PowerShell Console, and run

[code]

After I see the module and assembly, only the json dll from AzureRm.Profile is loaded:
[code]

While all 3 module are loaded:

[code]

But if I run "New-AzureStorageTable" first (althrough it will fail since no context), then run the script, it can success.
[code]

And the module not change, bu

[2018-05-22 04:58] theczorn commented on #6250
@blueww Thank you for following up. I'll try those workarounds out and see if I can't reach a solution.

Sincerely,

CZ

[2018-05-22 05:50] thwpike opened #6269 "AzureDiskEncryptionPreRequisiteSetup.ps1 doesn't handle regions with spaces in name"
### Description

When trying to enable Azure Disk Encryption, the the Virtual machine reports its' region without a space, whilst the keyVault does resulting in the following error:

[code]
This appears to be an issue with [this line](https://github.com/Azure/azure-powershell/blob/45c4e123694ef8b3cd0eaf19f1e95bbe7b07b424/src/ResourceManager/Compute/Commands.Compute/Extension/AzureDiskEncryption/Sc

[2018-05-22 10:34] dalibormesaric commented on #6122
ping @jaredmoo @akromm

[2018-05-22 14:36] JamesDLD commented on #1665
Thanks @markcowl for this explanation.

When you say that "SPN + Secret in Automation doesn't work", is this something that is considered as a bug or is this something official that is by designed?

If it's by design it would be great to have a page explaining the authentication method we have when using Azure Automation.
Personally I use to recommend authentication through Service Principe & Cert

[2018-05-22 15:24] jaredmoo commented on #6122
This looks like an issue where Azure Resource Manager (the frontend for Azure management API's) has cached that the database does not exist (you cannot see it directly using `Get-AzureRmSqlDatabase -DatabaseName foo`, but you can see it if you list all databases in the server using `Get-AzureRmSqlDatabase`. As a result, `Remove-AzureRmSqlDatabase` does nothing (it thinks the database is already de

[2018-05-22 17:16] solankisamir commented on #5812
This is now supported with release https://github.com/Azure/azure-powershell/releases/tag/v6.1.0-May2018

[2018-05-22 17:16] #5812 closed

[2018-05-22 17:17] solankisamir commented on #5437
This is now supported with https://github.com/Azure/azure-powershell/releases/tag/v6.1.0-May2018

[2018-05-22 17:17] #5437 closed

[2018-05-22 17:17] solankisamir commented on #5724
This should not be an issue now with https://github.com/Azure/azure-powershell/releases/tag/v6.1.0-May2018

[2018-05-22 17:17] #5724 closed

[2018-05-22 17:18] solankisamir commented on #5021
Powershell cmdlets for Api Revisions and Versions are now supported with
https://github.com/Azure/azure-powershell/releases/tag/v6.1.0-May2018

[2018-05-22 17:18] #5021 closed

[2018-05-22 17:25] solankisamir commented on #4528
This would be a breaking change. We have improved the parameter and documentation with `ValidateSet` attribute for `Format`

[2018-05-22 18:22] juhacket commented on #5998
The fix for this issue has been released with Azure PowerShell 6.1.0.
https://github.com/Azure/azure-powershell/releases/tag/v6.1.0-May2018

[2018-05-22 18:22] #5998 closed

[2018-05-22 18:44] juancrl commented on #2915
It fails in 6.0.1.
"Sequence Contains no Elements" error after a Connect-AzureRMAccount with a Hotmail.com account :-(

[2018-05-22 20:08] praries880 commented on #4965
Talked to @twitchax, We don't want invocationname since users could be using a user defined aliasa and that could have uniquely identifying information in there.

[ExceptionType and stack trace](https://github.com/Azure/azure-powershell/blob/2af05ef7a6f271cc8e8fb416d97ea34f79bb8009/src/Common/Commands.Common/MetricHelper.cs#L227) already exist.

[2018-05-22 21:36] maddieclayton commented on #6269
@ejarvi @SudhakaraReddyEvuri Can you take a look at this issue?

[2018-05-22 22:00] maddieclayton commented on #6201
Closing for inactivity.  Please reopen if you continue to see this issue, and please provide the information @MiYanni listed above.  Thanks!

[2018-05-22 22:10] #6106 closed

[2018-05-22 22:50] praries880 commented on #4965
Update, we are going to support "invocationname"..

[2018-05-22 22:53] VahidJ66 commented on #5295
Hello i have the exact same issue. There are several subscriptions that the command works with but 2 that return this error. I have updated Azure and AzureRM modules which didn't fix the issue.
PSVersion                           5.1.16299.431
Azure module version        5.2.0
AzureRM module version   6.1.0

I believe this is the latest AzureRM version. Do you have any idea how to fix this?

[2018-05-22 23:04] maddieclayton commented on #6181
This task should be done at the same time: https://github.com/Azure/azure-powershell/issues/6242

[2018-05-22 23:05] maddieclayton commented on #6242
Closing, as this will be part of the new centralized Test Controller.

[2018-05-22 23:05] #6242 closed

[2018-05-22 23:13] maddieclayton commented on #5295
@VahidJ66 Can you open a new issue with all of the information asked for in the issue template? I will redirect it to the correct team.

[2018-05-22 23:15] maddieclayton commented on #6261
@ToMakeSense Thanks for the confirmation.  Can you print the output of running ```Get-AzureRmIntegrationAccount``` as well as the output of Resolve-AzureRmError (run after you get this deserialization error).  This will help us narrow down where the error is coming from. Thanks!

[2018-05-22 23:19] maddieclayton commented on #6160
@wilcobmsft Can you take a look at this issue?

[2018-05-22 23:21] maddieclayton commented on #6146
Closing for inactivity. If you are still seeing this error in the newest version of AzureRM, please let me know and I will reopen the issue.

[2018-05-22 23:22] #6146 closed

[2018-05-22 23:27] maddieclayton commented on #5918
@cormacpayne Can you take a look at this issue?

[2018-05-22 23:29] maddieclayton commented on #5578
@vrdmr Can you take a look at this issue?

[2018-05-23 02:48] blade-feng-wang commented on #6202
it's a very critical bug for us. we're using the ADF2.0 powershell, I updated the powershell version from 4.x to 5.x. But after that, the file copy task doesn't work. If I uninstall the version 5, the ADF2.0 API will not work, can you please fix this bug ASAP.

[2018-05-23 08:26] ToMakeSense commented on #6261
[code]

[2018-05-23 11:10] davidobrien1985 commented on #3088
@cormacpayne Could you please update the documentation then as well? https://docs.microsoft.com/en-us/powershell/module/azurerm.resources/new-azurermaduser?view=azurermps-6.1.0
Because the doco says that `MailNickname` is not required, whereas it seems it absolutely is.

[2018-05-23 11:14] dalibormesaric commented on #6122
Before the first release step I described there was no COPY database in the resources, but then I saw these timestamps:

From VSTS release log:
2018-05-23T10:53:36.5803689Z Checking if database exists ...
2018-05-23T10:53:37.5934282Z Copying database ...
2018-05-23T10:53:40.1697156Z ##[error]45138: The destination database name 'sqldb-databasename-copy' already exists on the server 'sql-servername

[2018-05-23 11:26] dalibormesaric commented on #6122
Possibly related #5630 or https://social.msdn.microsoft.com/Forums/lync/en-US/fdc93d4c-c907-4635-9a25-48cb9494e813/the-destination-database-name-copyofxxxxxxxxxx-already-exists-on-the-server-xxxxxxxx?forum=ssdsgetstarted

[2018-05-23 12:44] square10 commented on #6223
Hello,

I was wondering if anyone was able to find anything on this issue?  I'm going to try creating a new storage account to host the vhd file to see if that helps.

Thanks!

[2018-05-23 14:32] thdotnet opened #6278 "Error when trying to subscribe to Storage Account events"
I'm trying to subscribe to Storage Account Events using Event Grid. This is storage account was originally on classic mode. After I've migrated to ARM, and then to GPV2, it offers me the "Events" on the portal.

I was trying thourgh the portal, but in the end runs powershell, so I think this is the right place to put this issue.

On the log details I'm getting:

The attempt to configure storage no

[2018-05-23 17:34] JRDD opened #6280 "URL provided by Get-AzureRmApiManagementUserSsoUrl does not override logged in user."
### Description
When using url provided by Get-AzureRmApiManagementUserSsoUrl. if a user already logged on to the portal the SSO Url will not sign you in with the intended user.

### Script/Steps for Reproduction

[code]

### Module Version

[code]

### Environment Data

[code]

[2018-05-23 18:18] markcowl commented on #6185
Specifically, we should have a guide for running automation versus interactive use on your local box

[2018-05-23 18:39] maddieclayton commented on #6261
@pankajsn @daviburg Can you take a look at this issue? Looks like an account with skuname "Basic" is being returned, but cannot be parsed because it is not one of the enum types (NotSpecified, Free, Standard).

[2018-05-23 18:58] MiYanni commented on #6086
### DataFactories:
- https://github.com/Azure/azure-powershell/issues/6161

### DataLakeStore:
- `System.Net.Http` is not referenced in this project

### RedisCache:
- https://github.com/Azure/azure-powershell/issues/6241

[2018-05-23 18:58] #6086 closed

[2018-05-23 19:00] MiYanni commented on #6089
https://github.com/Azure/azure-powershell/pull/6116

[2018-05-23 19:00] #6089 closed

[2018-05-23 20:07] MiYanni commented on #5899
Closing since HDInsight was handled (republish of HDInsightJob). The other problem has an issue created already.

[2018-05-23 20:07] #5899 closed

[2018-05-23 20:31] MiYanni commented on #5965
This guy: https://github.com/Azure/azure-powershell/pull/6281

[2018-05-23 20:31] #5965 closed

[2018-05-23 22:26] maddieclayton commented on #6278
@blueww Can you take a look at this issue? If you believe this is an EventGrid issue, please let me know and I'll reassign to the EventGrid team.

[2018-05-24 00:51] dufc1923 opened #6289 "Select-AzureRMSubscription does not change the subscription from the default"
### Description

i set $subscriptionid to a specific subscription that exists..
but when I exectute Select-AzureRmSubscription -SubscriptionId $subscriptionid it doesnt set me to be using that subscription and I am left in my default subscription..

I've been using the command succesfully for months..
and even yesterday I used it about 3 or 4 times and it worked, then all of a sudden it stopped wo

[2018-05-24 01:21] solankisamir commented on #6280
@JRDD this is not a PowerShell cmdlet issue. Please raise a support case on the service or question on the https://stackoverflow.com/questions/tagged/azure-api-management

[2018-05-24 01:21] #6280 closed

[2018-05-24 01:41] SudhakaraReddyEvuri commented on #6269
@thwpike  , @maddieclayton this is fixed now. Please get the latest script. Thanks for pointing this to us.

[2018-05-24 01:41] #6269 closed

[2018-05-24 09:21] sg84 commented on #4035
Hi, this issue still exists in 6.0.1.

Get-AzureRmResource -ResourceGroupName rg3
Get-AzureRmResource : Parameter set cannot be resolved using the specified named parameters.
At line:1 char:1
+ Get-AzureRmResource -ResourceGroupName rg3
+ ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    + CategoryInfo          : InvalidArgument: (:) [Get-AzureRmResource], ParameterBindingException
    + FullyQualifi

[2018-05-24 11:54] blueelvis opened #6292 "Splatting issues with complex PowerShell objects in New-AzureRmResourceGroupDeployment"
### Description

Whenever we try passing complex objects (Like SecureString or array of hashtables etc), splatting does not work correctly for `New-AzureRmResourceGroupDeployment` & 'Test-AzureRmResourceGroupDeployment'

### Script/Steps for Reproduction
1. Create an ARM template. You can have a basic template accepting just a single "securestring" parameter.
2. Use the below code and refer the te

[2018-05-24 16:27] AndyHerb opened #6293 "Get-AzureRmRecoveryServicesAsrEvent - String was not recognized as a valid DateTime"
### Description

Get-AzureRmRecoveryServicesAsrEvents appears not to work when you provide a value for the StartTime or EndTime parameters.  This appears to be the case whether a text date is provided, or a datetime object.

### Script/Steps for Reproduction

[code]

### Module Version
AzureRM 6.1.0

### Environment Data
PSVersion                      5.1.17134.48
PSEdition                      De

[2018-05-24 16:32] primodg opened #6294 "Set-AzureRmWebApp used with AppSettings and AssignIdentity parameters ignores the AppSettings"
### Description

Running Set-AzureRmWebApp with both AppSettings and AssignIdentity parameters leads to having the cmdlet run the operations related to AssignIdentity and ignore the AppSettings update.

To have both executed is necessary to run the cmdlet twice; the first time with AssignIdentity and a second time to have the AppSettings set.

### Script/Steps for Reproduction

[code]

### Module

[2018-05-24 16:43] cormacpayne commented on #6293
@viverm Hey Vipin, would you mind taking a look at this issue?

[2018-05-24 17:59] maddieclayton commented on #6260
Fixed

[2018-05-24 17:59] #6260 closed

[2018-05-24 19:33] jeffgebhardt commented on #5918
I am also running into this same issue. When running locally the command works fine, but when I connect to Azure using the following:

$ServicePrincipalConnection = Get-AutomationConnection -Name "AzureRunAsConnection"
Add-AzureRmAccount
   -ServicePrincipal
   -TenantId $ServicePrincipalConnection.TenantId
   -ApplicationId $ServicePrincipalConnection.ApplicationId
   -CertificateThumbprint $Serv

[2018-05-24 21:06] MiYanni commented on #5939
@kc786 Just to give an update. I have the PR ready, but our team has to review it before we can make the 0.12.0 build. There were a number of issues and other things that I had to fix, so that's why it took longer than expected. You can track the PR here:
https://github.com/Azure/azure-powershell/pull/6281

[2018-05-24 22:19] viananth commented on #4335
If we make the "ProfileMap" url customizable, the users can define the url and can update their profile map in disconnected scenario.
Decoupling Remove-PreviousVersions from Update-AzureRmProfile gives more flexibility for the use of this function

[2018-05-24 23:33] dufc1923 commented on #6289
Hi there,

I've updated the module, its now showing version 5.1.0 and it does now seem to be working.
Thanks for the suggestion..
I'll keep an eye on it.

Cheers,
Craig

    Directory: C:\Program Files\WindowsPowerShell\Modules

ModuleType Version    Name                                ExportedCommands
---------- -------    ----                                ----------------
Script     5.1.0

[2018-05-25 00:04] SenthuranSivananthan opened #6297 "Get-AzureRmRoleDefinition should return the full definition, not truncated list"
### Description

Cmdlet truncates the output which can give the wrong impression to an IT admin.  Effectively, remove the ellipses in **Actions** and **NotActions** lists and expand the full permission lists.

### Script/Steps for Reproduction

[code]

Converting to JSON produces the full output, so how do we get this as the default?

[code]

CLI produces the desired output without additional comm

[2018-05-25 01:57] blueww commented on #6278
@thdotnet

I have try to contact feature team for the issue, and we will need the storage account name and request time/details to investigate further. (better with request ID)

[2018-05-25 03:42] marknettle commented on #1833
Try https://github.com/Azure/azure-powershell/blob/master/src/ResourceManager/Compute/Commands.Compute/Extension/AzureDiskEncryption/Scripts/AzureDiskEncryptionPreRequisiteSetup.ps1

[2018-05-25 03:53] EdisonDa opened #6299 "`Get-AzureRmIotHubCertificate` should declare the output type"
### Description

- The GitHub source file:

- https://raw.githubusercontent.com/Azure/azure-powershell/preview/src/ResourceManager/IotHub/Commands.IotHub/help/Get-AzureRmIotHubCertificate.md.

It defines the output type like this:
`
System.Collections.Generic.IList`1[[Microsoft.Azure.Commands.Management.IotHub.Models.PSCertificateDescription, Microsoft.Azure.Commands.IotHub, Version=3.0.0.0, Cultu

[2018-05-25 03:54] EdisonDa commented on #6299
@twitchax could you please take a look at this?

[2018-05-25 05:04] kalyanaj commented on #6278
Thanks @blueww. We are in an e-mail conversation with @thdotnet and the Storage team has made a change that should resolve this.  Thiago will be re-attempting the command to check if the issue is resolved.

[2018-05-25 05:26] blueww commented on #6278
Good to know that.
Thanks for the update!

Please update if the issue is resolved.

[2018-05-25 06:41] slavizh opened #6300 "Get-AzureRmResource returns Get-AzureRmResource : Invalid format of the resource identifier. Parameter name: idFromServer on some resources"
### Description

I am trying to use

[code]

To get list of Advisor recommendations but I get an error. This command was running fine wiht 5.X versions.

[code]

### Script/Steps for Reproduction

[code]

### Module Version

[code]

### Environment Data

[code]

### Debug Output

I've removed some values for privacy reasons

[code]

[2018-05-25 07:06] YoannGUILLO commented on #5918
Error resolved, I updated the modules under my Azure Automation Account.

For information it works with just "Read directory data"

[2018-05-25 07:30] mykovalenko commented on #4351
Just had the same issue myself. You can solve it by adding **-Spark2Defaults** parameter (no need to specify any values though):
... | Add-AzureRmHDInsightConfigValues **-Spark2Defaults @{}** -RServer @{"RStudio"="true"}

[2018-05-25 10:59] alexandair opened #6302 "Invoke-AzureRmVMRunCommand doesn't return any output"
### Description

I've tried Invoke-AzureRmVMRunCommand with "Ipconfig" and "RDPSettings" command IDs and those commands didn't return any output. Including the -Debug switch, I've noticed that info about an IP config and RDP settings are there but only in debug stream. They don't go into output stream and that's why we don't see anything.

### Script/Steps for Reproduction

[code]

### Module Vers

[2018-05-25 11:42] viverm commented on #6293
looking in it.

[2018-05-25 12:09] viverm commented on #6293
hi  AndyHerb

can you try passing the date in string "MM/dd/yyyy hh:mm:ss AM"

PS C:\Users\viverm> Get-AzureRmRecoveryServicesAsrEvent -StartTime "5/18/2018 2:05:00 AM" -EndTime "5/23/2018 2:21:47 PM"| select TimeOfOccurence,eventCode

TimeOfOccurence       EventCode
---------------       ---------
5/23/2018 2:01:00 PM  EA0430
5/23/2018 1:24:27 PM  EA0431
5/23/2018 12:58:55 PM EA0430
5/23/2018 12:

[2018-05-25 12:54] mosharafMS commented on #5938
I got the same issue on this code snippet on this line
`$nicObject=Get-AzureRmResource -ResourceId $vmNic.id | Get-AzureRmNetworkInterface `

The same script is working on the PS desktop module but doesn't work on core module.
Do we have a timeline for the fix to be released?

[code]

[2018-05-25 15:53] MiYanni commented on #5938
@raghushantha @mrvladis @mosharafMS I'm currently trying to get the 0.12.0 build of the NetCore modules merged. Please keep in mind that Azure PowerShell for .NET Core is in preview. We are currently in the process of reviewing my PR for the changes. This `Get-AzureRmResource` issue will be fixed in that PR. You can track the PR here: https://github.com/Azure/azure-powershell/pull/6281

[2018-05-25 17:10] jeffgebhardt commented on #5918
@YoannGUILLO - Can you post an image of your modules and their versions?

[2018-05-25 18:09] cormacpayne commented on #6262
@KanikaGMS would you mind providing the script that you are running, or the line of the script that is throwing the above error?

[2018-05-25 18:22] maddieclayton commented on #6297
@cormacpayne Can you take a look at this issue?

[2018-05-25 18:23] maddieclayton commented on #6300
@cormacpayne Can you take a look at this issue?

[2018-05-25 19:54] panchagnula commented on #4680
@Nking92 assigning this to you since this is backups related - i haven't verified if this is still an issue with the latest updates to backup though.

[2018-05-25 19:56] #3657 closed

[2018-05-25 20:15] panchagnula commented on #5760
@naveedaz  can you help me with debugging this. The issue reported is that Get-AzureRmWebApp is not returning 'ResourceGroup' & 'DefaultHostName' when run using the ServicePrincipal (Add-AzureRMAccount -ServicePrincipal) is there any known issue here with the way our APIs work with servicePrincipal?

[2018-05-25 20:19] panchagnula commented on #669
@ahmedelnably this is an issue from 2015, can you please comment on this feature request?

[2018-05-25 22:47] markcowl opened #6313 "Update Newtonsoft.Json 10 dependency in profile psd1"
- Change the newtonsoft.json 10 file shipped with profile to newtonsoft.json.10.dll
- Update the psd1 reference

[2018-05-25 23:16] maddieclayton commented on #6302
@ejarvi @hyonholee Can you take a look?

Related (duplicate?) issue: https://github.com/Azure/azure-powershell/issues/5982

[2018-05-25 23:49] #6231 closed

[2018-05-25 23:51] twitchax commented on #6299
Fixing here: Azure/azure-powershell#6301.

[2018-05-25 23:51] #6299 closed

[2018-05-26 00:01] ejarvi commented on #6302
@hyonholee  I'm not currently working in this area, could you take a look?   I could be reading this issue wrong but it seems that both the remote stdout and stderr output (captured in the "message" fields seen in the output above) would be relayed and echoed to the local console by the cmdlet.

[2018-05-26 06:42] danbyrne commented on #6250
Hi @blueww,
I am having the same problem as originally described by @theczorn.
On the machine we are running these scripts, I am unable to use PowerShellGet, so I cannot try workaround#2.
I was able to successfully use workaround #1, although in a different order (only because we are not explicitly calling Connect-AzureRmAccount directly, as this is running within Octopus Deploy):

#(Implicitly ca

[2018-05-26 07:34] gunnarstolz commented on #6262
We're having the same issue but with a different CmdLet! (on Azure Germany)
We use the latest version of the Azure CmdLets: 6.x
Since there is no possibility for a workaround we hope there will be a solution in the upcoming version.

PS C:\Users\user> **Get-AzureRmKeyVault** -VaultName kv-name -ResourceGroupName rg-name
Get-AzureRmKeyVault : **No registered resource provider found for location 'ge

[2018-05-27 05:53] darrenjrobinson commented on #5490
I ended up getting this working.
I wrote it up here, hoping it will help others trying to use this cmdlet.
https://blog.darrenjrobinson.com/exporting-iot-device-information-from-azure-iot-hubs-using-powershell/

[2018-05-28 00:38] dufc1923 commented on #6289
Issue has returned..
I have the latest version installed..

same issue as before..

PS C:\> get-module azureRM.Profile -listavailable

    Directory: C:\Program Files\WindowsPowerShell\Modules

ModuleType Version    Name                                ExportedCommands
---------- -------    ----                                ----------------
Script     5.1.0      AzureRM.profile

[2018-05-28 06:55] blueww commented on #6250
@danbyrne  Good to know that you workaround this issue.
But it seems the fix of issue not work as I expected, so I need more time to discuss the issue with OneSDK team to get a fix for it.

@markcowl , @cormacpayne
This issue not happen on Powershell 5.7.0, but happen on Powershell 6.0.0.
Since Storage Team don't have any code change after 5.7.0, this should be caused by some change from framework

[2018-05-28 10:00] kdships opened #6318 "Set-MsolGroup and Set-AzureADGroup -ObjectID XXXXX -ProxyAddresses isn't available"
Using Set-AzureADGroup or Set-MsolGroup -ObjectID XXXXX -ProxyAddresses is still not available for removing Azuregroup proxyaddresseses.

Any idea when this functionality will be available? We are unable to remove a domain from an Office 365 tenant without deleting these groups. We do not want the group deleted. Is there a workaround for this?

[2018-05-28 16:00] legapat commented on #3077
Hi @cormacpayne,

I got the same issue with S4.

Is there a solution?

[2018-05-29 06:20] ToMakeSense commented on #6261
@daviburg @pankajsn any feedback?

[2018-05-29 08:16] Emrikol01 opened #6320 "Powershell ISE Crashes - Intellisense broken"
My Powershell environment is vital to my work and unfortunately has become very unstable.

The intellisense is now completely broken.
If I type ctr-space the ISE crashes out everytime.

Please provide steps to repair my environment (yes I already ran repair etc. etc. etc.)?

Get-Module -Name AzureRM -ListAvailable
ModuleType Version    Name   ExportedCommands
---------- -------    ----     -------

[2018-05-29 10:17] gstolz opened #6321 "Get-AzureRmKeyVault uses latest API, which is not compatible to Azure Germany"
### Description

After upgrading to the latest CmdLet set (6.1.0) we now have problems when calling Get-AzureRmKeyVault.

### Script/Steps for Reproduction
on an existing KeyVault we run the following command:

Get-AzureRmKeyVault -VaultName dev2-kv -ResourceGroupName dev2-rg -Debug

### Module Version

Script     5.0.0      AzureRM.KeyVault                    {Add-AzureKeyVaultCertificate, Update

[2018-05-29 12:05] kilasuit commented on #6320
Have you recently updated to the 1803 Windows 10 release? (looks like it from the build version) There's been some issues with PowerShell ISE on that build but I believe there was a recent KB that was released that should have fixed this

[2018-05-29 14:32] kahsky opened #6322 "New-AzureRmVirtualNetworkGateway -GatewaySku Basic -VpnClientProtocol "IKEv2""
### Description

New-AzureRmVirtualNetworkGateway  -GatewaySku Basic -VpnClientProtocol "IKEv2"
This command should return an error as only SSTP protocal is allowed for SKU Basic.
Only allowed Protocol :
New-AzureRmVirtualNetworkGateway  -GatewaySku Basic -VpnClientProtocol "SSTP"
If you define IKEv2 with Basic SKU, your deployement will stay in "failed state" and the only way to repair is to dele

[2018-05-29 14:42] kalyanaj commented on #6278
@thdotnet confirmed offline that the fix is working for him, hence closing this issue.

[2018-05-29 14:42] #6278 closed

[2018-05-29 15:55] AndyHerb commented on #6293
That doesn't seem to have resolved anything unfortunately
[code]

Interestingly, the below does work:
[code]

[2018-05-29 17:52] cormacpayne commented on #6320
@Emrikol01 Hey Norman, this repository is for Azure PowerShell modules and cmdlets; I would recommend posting this question in the [PowerShell repository](https://github.com/PowerShell/PowerShell) (or trying Ryan's fix mentioned above 😀)

[2018-05-29 17:52] #6320 closed

[2018-05-29 18:25] maddieclayton commented on #6321
@RandalliLama @schaabs Is this a known issue in the new API version?

[2018-05-29 18:46] maddieclayton commented on #6321
Thanks @schaabs! Please let me know when the fix is deployed, and I will then close this issue.

[2018-05-29 19:04] markcowl commented on #6250
@danbyrne @cormacpayne @blueww This is unfortunately a known issue, that is due to be fixed this release #6313 . It has to do with the order of loading modules.

There are a couple of known workarounds:

- Import Azure.Storage *first* in your session (```Import-Module Azure.Storage```)
- If running in a script, use #Requires to load modules in the proper order
[code]

Closing this as a duplicate o

[2018-05-29 19:04] #6250 closed

[2018-05-29 20:11] markcowl opened #6328 "[CloudShell]: Investigate token expiry issues in CloudShell LRO"
Some reports of token expiry in requests for long-runnign operations, as below:

- [ ] Obtain a repro of failed requests for this token expiry issue
- [ ] Add additional tracing as necessary to determine root cause
- [ ] Fix inline, or file issue for fix in next PowerShell release.

[2018-05-29 20:38] iyerusad commented on #1122
**Note:** Ran into similar error when using `Set-AzureRmSqlServerFirewallRule` to create a new firewall rule instead of `New-AzureRmSqlServerFirewallRule`. Minor annoyance... seems like both should be able to handle either scenario.

[2018-05-29 20:45] ridhoq commented on #5324
+1. This error needs to be more clear from the error output without having to set `$DebugPreference="Continue"`.

[2018-05-29 21:41] #6313 closed

[2018-05-29 21:57] maddieclayton commented on #6214
@whiggs Sorry for the late response.  What is the purpose of this part of the script?

[code]

I'm guessing this is the error - if you don't want your credentials saved, you can run ```Disable-AzureRmContextAutosave```, but otherwise you should not be changing the azure.json file.

Also, powershell should autoimport the necessary modules when called, so you can remove ```Import-Module AzureRM```.

[2018-05-29 21:58] sphibbs commented on #6203
@kwill-MSFT if this is still an issue please let us know, if not we will be closing this issues end of week.

[2018-05-29 22:03] sphibbs commented on #6157
duplicate of https://github.com/Azure/azure-powershell/issues/6165

[2018-05-29 22:12] sphibbs commented on #5928
closing per @twitchax

[2018-05-29 22:12] #5928 closed

[2018-05-30 00:23] kalyanaj opened #6331 "Update-AzureRmEventGridSubscription doesn't allow updating subjectBeginsWith/subjectEndsWith to empty strings."
### Description

Update-AzureRmEventGridSubscription doesn't allow updating subjectBeginsWith/subjectEndsWith to empty strings.

### Script/Steps for Reproduction

[From customer]
When value is not null or empty then it works fine. But when it needs to be set to '' it throws
"Cannot validate argument on parameter 'SubjectBeginsWith'. The argument is null or empty. Provide an argument that is not n

[2018-05-30 00:42] cormacpayne commented on #6219
@darshanhs90 gentle ping

[2018-05-30 00:57] darshanhs90 commented on #6219
+ @RBACAsk

[2018-05-30 03:07] twitchax opened #6335 "`Invoke-AzureRmResourceAction` missing examples."
### Description

From MicrosoftDocs/azure-docs#9364 :

https://docs.microsoft.com/en-us/powershell/module/azurerm.resources/invoke-azurermresourceaction?view=azurermps-6.1.0

[2018-05-30 03:09] twitchax commented on #6335
@cormacpayne for FYI and assignment to ARM.

[2018-05-30 04:45] mganeshphani commented on #6335
Thankyoi

[2018-05-30 08:03] SvetlanaPan commented on #5326
Any progress on this issue?
Still faced with the same behavior

[2018-05-30 08:39] thwpike opened #6337 "Azure Disk Encryption extension version '2.2' is not supported."
### Description

When attempting to enable disk encryption the following error is shown:

[code]

### Script/Steps for Reproduction

Having run [this script](https://github.com/Azure/azure-powershell/blob/master/src/ResourceManager/Compute/Commands.Compute/Extension/AzureDiskEncryption/Scripts/AzureDiskEncryptionPreRequisiteSetup.ps1), specifically this line:

[code]

We get this error:
[code]

##

[2018-05-30 09:37] blueelvis commented on #6292
@cormacpayne - Any idea what could be happening in this case?

[2018-05-30 10:05] mcrsw commented on #5202
+1 too.  June is fast approaching. @panchagnula , @Nking92  is there an answer yet please?

[2018-05-30 11:14] iricigor opened #6339 "Enable-AzureRmContextAutosave documentation is unclear"
### Function Description

[Description ](https://docs.microsoft.com/en-us/powershell/module/azurerm.profile/enable-azurermcontextautosave) of **Enable-AzureRmContextAutosave** command says:

`Allow the azure credential, account and subscription information to be saved and automatically loaded when you open a PowerShell window.`

But later, description for `-Scope` parameter says

`Determines the s

[2018-05-30 11:58] iricigor opened #6340 "Enable-AzureRmContextAutosave fails with different PowerShell editions (Full and Core)"
### Description

Function **Enable-AzureRmContextAutosave** on Windows machines (regardless of Full or Core PowerShell) uses following file for saving token: `C:\Users\<Username>\AppData\Roaming\Windows Azure Powershell\TokenCache.dat`.

This is creating problems as Full and Core versions are using **different mechanisms for login**.

### Script/Steps for Reproduction

[code]

It does nothing and

[2018-05-30 12:52] dalibormesaric commented on #6122
ping @jaredmoo @akromm (hope that it is ok if I ping you if there is no response within a week :))

[2018-05-30 14:28] andersonpatricio opened #6341 "Multiple Diagnostic Settings using PowerShell"
### Description
Using PowerShell we can manage a single diagnostic setting called "Service". It would be nice to expose the **-Name** in PowerShell to allow multiple diagnostic settings.

Also, there is no way to view multiple diagnostic settings using PowerShell.

[2018-05-30 16:39] muntaserq opened #6343 "Error running Invoke-AzureRmVmRunCommand: VM has reported a failure when processing extension 'RunCommandWindows'"
### Description

We are trying to run Invoke-AzureRmVmRunCommand on some of our VMs. The command words on most of the VMs but on some of them we are getting a really weird error. We just started seeing it recently 05/29/2018 and it is consistent on the particular VMs.

ErrorMessage: VM has reported a failure when processing extension 'RunCommandWindows'. Error message: "Finished
executing command"

[2018-05-30 16:46] akromm commented on #6122
@dalibormesaric  We will take a look at our sever side logs and see if we can determine what is happening.

[2018-05-30 17:10] muntaserq commented on #5725
I'm seeing this issue as well. I am running the command right now and it hasn't come back. Has anyone seen this as well?

[2018-05-30 17:37] #6112 closed

[2018-05-30 18:06] markcowl commented on #6340
@iricigor It's unclear from your decription whether this has anything to do with context autosave, or this has to do with your permissions using the different login mechanisms.

The warning about tenants, for example, has nothign to do with context autosave.  Can you include the Debug log when executing these commands (set ```$DebugPreference="Continue"```) this captures the communication with  th

[2018-05-30 18:13] markcowl commented on #6339
- Thanks for the feedback on documentation, we will update, and there are plans for a new conceptual document on managing contexts in the next few weeks.

- Scope does have a default value (CurrentUser).  Any changes made with Scope CurrentUser will impact all powershell sessions started by this user, by default.  Any particular session could exempt itself from teh CurrentUser default by using ```

[2018-05-30 18:50] jimoha commented on #6122
@dalibormesaric Adam raised the issue to our team as we handle geo-replication of databases. Would it be possible for you to create a support ticket with information about the server and database names, and a timestamp of when the issue was observed so that we can investigate.
Additionally if you have a repro that is less that 7 days old, it would help as the logs are significantly easier to acces

[2018-05-30 19:11] iricigor commented on #6340
Hi Mark,

Here is additional information how I was testing this. I will post debug log in next comment. The first letter in a row indicates if the step was done in (W) Windows PowerShell or in (C) PowerShell Core.

### Test 1
- (W) I open **Windows** PowerShell console and login with **myaccount1**. I run test command to confirm.
- (W) Then I open another Windows PowerShell window just to confirm

[2018-05-30 20:00] #4965 closed

[2018-05-30 20:27] maddieclayton commented on #6337
@ejarvi @hyonholee Can you take a look at this issue?

[2018-05-30 20:27] Sergmis commented on #5540
So Set-AzureRmActivityLogAlert takes the SDK type for -Action instead of the PowerShell type and only Set-AzureRmActionGroup returns the proper type?  What about Get-AzureRMActionGroup?  I don't think we should have to create a new Action Group for every alert.

[2018-05-30 20:29] maddieclayton commented on #6341
@frankguodongchen @DaleKoetke Can you take a look at this feature request?

[2018-05-30 20:30] maddieclayton commented on #6343
@koralski @savyasachisamal Can you take a look at this issue?

[2018-05-30 20:37] frankguodongchen commented on #6341
@andersonpatricio Could you give more information on which command do you mean? And what you expected the command would like to be? thanks!

[2018-05-30 20:53] MiYanni commented on #5540
@Sergmis It looks like `Get-AzureRmActionGroup` returns a **list** of the PowerShell type, `Microsoft.Azure.Commands.Insights.OutputClasses.PSActionGroupResource`. You can do the same workaround that @AngshumanNayakMSFT did above, except use `Get-AzureRmActionGroup` instead of `Set-AzureRmActionGroup`.

[2018-05-30 20:54] viananth opened #6344 "[stack] Rename client cmdlets to have "Az" prefix"
### Description

### Script/Steps for Reproduction

[code]

### Module Version

[code]

### Environment Data

[code]

### Debug Output

[code]

[2018-05-30 20:57] andersonpatricio commented on #6341
Hi Frank,

Sure, I can send them over.

By any chance, are you a Microsoft employee? If yes, I described the commands in our internal DL.

Anyways, here are the threads:

My bad, here is the PowerShell that I used first to configure Event Hubs.

Set-AzureRmDiagnosticSetting -ResourceId '/subscriptions/12439741-0c0d-4de0-aca0-72249fed3346/resourceGroups/AP-CaC-EventHubc/providers/Microsoft.Network/

[2018-05-30 21:28] maddieclayton commented on #6341
Reassigning to the Insights team.

@gucalder Can you take a look at this issue?

[2018-05-30 22:18] Sergmis commented on #5540
Thanks @MiYanni got it to create a new ActivityLog alert using $AGOnlyEmail = Get-AzureRmActionGroup -Name 'MyTeamAlerts' -ResourceGroup 'my-rg' .  Used same parameters for New-AzureRmActivityLogAlertCondition.  Now just need to find out how to set conditions and find out what -fields are available.  Look specifically to set for category "Administrative", Event level "All", Status Level "All" for

[2018-05-31 00:48] RandalliLama commented on #5326
There is a fix in the latest preview version of the .NET SDK which will GA no earlier than July.  The latest Azure PowerShell cmdlets have the fix.  The Azure GoLang SDK does not yet have the fix and won't get it until at least July.  Once the Azure GoLang SDK is updated, Terraform would then need to take a dependency on the newer SDK.

@schaabs fyi

[2018-05-31 02:04] panchagnula commented on #5202
@ahmedelnably can you add details here on what the work entitles, AFAIK there is no ARM API equivalent for this. Thanks!

[2018-05-31 03:06] pafnow commented on #5956
Same issue here, any workaround?

[2018-05-31 06:31] pixelicous commented on #5326
@RandalliLama Actually terraform has solved this issue with their previous azurerm provider version, the new change might break things on terraform's end.

Please revisit this issue and update once this problem is fixed on Microsoft's side.. can't understand how come a resource has such a fundamental flow for so long without a quicker fix.

Thanks for your time and response, appreciated.

[2018-05-31 06:57] amoghnatu opened #6349 "Get-AzureRmSchedulerJobCollection is throwing NullReferenceException"
### Description

Get-AzureRmSchedulerjobCollection cmdlet is throwing a NullReferenceException when trying to retrieve the scheduler job collection details.

[code]

I'm getting the exception AFTER receiving the HTTPResponse as seen from the debug stream screenshot below

![image](https://user-images.githubusercontent.com/2187662/40766478-3c84bc2a-64cd-11e8-84a1-d40674747529.png)

### Script/Steps

[2018-05-31 09:00] DdenBraver commented on #6289
I have exactly the same issue after updating to azurerm version 6.1.1.
I will for now be reverting back to version 6.0.1

[2018-05-31 10:03] gunnarstolz commented on #6321
Thanks for the feedback!
In the meantime we switch back to the previous version of AzureRM.KeyVault, which seems to be 4.3. This works ok

`
Uninstall-Module -Name AzureRM.KeyVault -AllVersions -Force
Install-Module -Name AzureRM.KeyVault -MaximumVersion 4.9
`

[2018-05-31 10:22] praveendhac opened #6350 "New-AzureRmRoleDefinition throws error, "Cannot deserialize the current JSON array""
### Issue Description
Issue is seen on Azure cloud Powershell provided on Azure Portal.
[code]

### Module Version

[code]
    Directory: C:\Program Files\WindowsPowerShell\Modules
ModuleType Version    Name                                ExportedCommands
---------- -------    ----                                ----------------
Script     6.1.0      AzureRM
### Environment Data

[code]
Name

[2018-05-31 12:59] jtorresc commented on #4801
Have the same problem with RHEL7.4, PowerShell v6.1.0-preview.2 y AzureRM.Netcore 0.11.0

Message        : Object reference not set to an instance of an object.
StackTrace     :    at Microsoft.WindowsAzure.Commands.Sync.ServicePointHandler.GetWebProxy()
                    at Microsoft.WindowsAzure.Commands.Sync.ServicePointHandler..ctor(Uri uri, Int32 connectionLimit)
                    at Micr

[2018-05-31 13:36] dalibormesaric commented on #6122
Thanks @jimoha ! Support request ID is 118053118293243.

[2018-05-31 14:28] gabe-rivera opened #6352 "WebApp: Get-AzureRmWebAppMetrics & Get-AzureRmAppServicePlanMetrics documentation example is incorrect"
### Description

I'm seeing an issue using the Get-AzureRmWebAppMetrics cmdlet on the latest version of the AzureRM module. Other cmdlets I've tried finish without any issues. My issue is similar to #6261 however I am getting different errors when running "Resolve-AzureRmError". The full debug output makes it seem like an issue parsing the XML response to JSON.

### Error
[code]

### Module Versio

[2018-05-31 14:36] gabe-rivera commented on #6352
It appears downgrading the module to 5.7.0 fixes this issue. I still had issues with 6.0.1.

[2018-05-31 15:16] seckin92 opened #6353 "Connect-AzureRmAccount silently fails to log in when using -ServicePrincipal flag"
### Description

I'm trying to connect to my subscription so that I can create resources and deploy web applications through PowerShell.

I'm using `Connect-AzureRmAccount` cmdlet with `-ServicePrincipal` switch and `-Credential` and `-TenantId` arguments. The command does not throw an error and says the login was successful, but it does not return any information about the account / subscription

[2018-05-31 16:19] seckin92 commented on #6353
After adding the line `Import-Module -Name AzureRM.Profile` before the script, it started to use my work account by default as this is my work machine.

I ran "Remove-AzureRmAccount" and re-run my script and it worked fine.

[2018-05-31 16:19] #6353 closed

[2018-05-31 18:15] NateB2 commented on #6289
I'm experiencing the same issue with 6.1.0.

[2018-05-31 18:35] markcowl commented on #6289
@ateB2 @DdenBraver @dufc1923  Can you execute:

[code]

Also, try typing ```Select-AzureRmContext <space>``` and then tabbing through the available contexts to see if anything else is there.

You can also always use
```Clear-AzureRmContext```

Whenever there appears to be a problem with the saved context, And then open a new session, and log in again.

[2018-05-31 19:30] rdtechie commented on #6202
When will the hotfix for this be implemented? Any ETA?

[2018-05-31 19:50] abatishchev commented on #2278
What worked for me: don't have a parameters called "name", this will cause the prompt. Use something else, e.g. resourceName.

[2018-05-31 20:47] nmallick1 opened #6354 "Creating a new binding via New-AzureRmWebAppSSLBinding uploads the certificate to incorrect webspace if the site has been migrated from its original resource group"
### Description

Creating a new binding via New-AzureRmWebAppSSLBinding uploads the certificate to incorrect webspace if the site has been migrated from its original resource group

### Script/Steps for Reproduction
1. Create a website and an ASP
2. Migrate both the website and ASP to a different resource group under the same subscription
3. Use the  New-AzureRmWebAppSSLBinding to create an SSL bi

[2018-05-31 22:02] maddieclayton commented on #6354
@panchagnula Can you take a look at this issue?

[2018-05-31 22:20] NateB2 commented on #6289
@markcowl - we're seeing the problem on VSTS build agents when running the Azure PowerShell task. Some of our subscriptions work great and others don't.  It appears to be random.

[2018-05-31 22:35] RandalliLama commented on #5326
@pixelicous I will be sure to followup on this issue when the fix is GA'ed.

I would be surprised if the change breaks Terraform.  Current clients return success as soon as the Key Vault service acknowledges that it has received the request.  The fix causes the synchronous forms of the vault creation API to wait until Key Vault acknowledges not just that it has received the request, but that the v

[2018-06-01 00:32] markcowl commented on #6350
@praveendhac So, I think the issue is that your json file is presenting an array and it needs to present a definition object - can you try removing the outer brackets ```[]```

[2018-06-01 00:33] markcowl commented on #6128
Note: for existing modules, common has to remain backward compatible, which means we cannot make breaking changes, such as moving types between assemblies.

[2018-06-01 00:36] panchagnula commented on #6354
@naveedaz , this is the other issue with SSL certs & migration, that might need the API to be updated for.

[2018-06-01 00:56] markcowl opened #6356 "Enable use of Auxiliary tokens for VNet Peering cmdlets"
- Add common code to look up tenant id for a given resource id (should return nothing if it is in the current tenant)
- Update VNet Peering cmdlets (Get-, Set-, Remove- AzureRmVirtualNetworkPeering) to
  - Identify the resource references in a call
  - Use the new common infrastructure and IAuthenticationFactory to retrieve tokens for the given tenants
  - Convert VNet peering cmdlets to add the A

[2018-06-01 05:06] peppekerstens opened #6358 "Update-AzureRmProfile - Error: UseBasicParsing"
### Description

While trying steps following: https://docs.microsoft.com/en-us/azure/azure-stack/user/azure-stack-version-profiles-powershell.

Having multiple issues:
1. (get-azurermprofile).module claims that not all modules are installed
2. Install-AzureAzureRmProfile does not seem to work/respond at all/do what it is supposed to do
3. Update-AzureRmProfile throws errors on needing Internet Ex

[2018-06-01 06:30] #6034 closed

[2018-06-01 06:31] maddieclayton commented on #6215
Done

[2018-06-01 06:31] #6215 closed

[2018-06-01 06:49] maddieclayton commented on #6358
@bganapa Can you take a look at this issue?

[2018-06-01 11:53] praveendhac commented on #6350
Below is the error after removing outer [], also tried with one action instead of two and still get below error.
[code]

[2018-06-01 11:55] diegopietruszka opened #6359 "Problems with 'invoke-command' with parameters running as a job - Powershell"
I was dealing with this for a couple of days already, so I guess I need some help (Anything would be really appreciate it).

I can run the below command without any problem:

`Invoke-Command -ScriptBlock { param($rgName,$VMname) Get-AzureRmVM -Name $VMname -ResourceGroupName $rgName} -ArgumentList $rgname,$vmname`

But what I really need is to be able to run the command as a job, so I tried the be

[2018-06-01 11:58] praveendhac commented on #6350
"actions": [
                                "Microsoft.Authorization/roleAssignments/*"
],

DEBUG: AzureQoSEvent: CommandName - New-AzureRmRoleDefinition; IsSuccess - False; Duration - 00:00:00.0095130; Exception - System.ArgumentException: Invalid value for Actions

[2018-06-01 14:03] slapointe opened #6360 "New-AzureRmResourceGroupDeployment -TemplateParameterObject do not support KeyVault reference"
### Description

It is possible since KeyVault secret reference beginning (+2 years ago) to define parameter reference in a parameter file using the -TemplateParameterFile parameter but not when using -TemplateParameterObject.

See #3318

### Script/Steps for Reproduction

[code]

### Module Version

[code]

### Environment Data

[code]

### Suggestion

What I propose is to update the GetTemplateP

[2018-06-01 15:00] malhovic opened #6361 "Azure Disk Encryption Pre-Req Error on Values not Implemented for Enabling SoftDelete"
### Description

When running the pre-req script, the process for enabling soft delete on the Secrets fails with:

Exception getting "Values": "The method or operation is not implemented."

### Script/Steps for Reproduction

Just run the script on its own and this error is received.

### Module Version

ModuleType Version    Name                                ExportedCommands
---------- -------

[2018-06-01 16:41] markcowl commented on #6289
@NateB2 So, if the issue is with VSTS, it seems unrelated to the above issue, and may be related to the change in context autosave settings.  You should likely turn off context autosave for the user running the VSTS powershell scripts. (i.e. ```Disable-AzureRmContextAutosave```)

[2018-06-01 16:51] bganapa commented on #6358
@peppekerstens  Thanks for bringing this up. Looking in to this. @viananth FYI

[2018-06-01 16:53] maddieclayton commented on #6359
Hi @diegopietruszka! This looks to be an issue with the underlying powershell command “invoke-command”.  When looking at the [cmdlet page](https://docs.microsoft.com/en-us/powershell/module/microsoft.powershell.core/invoke-command?view=powershell-6) I see that the default parameter set (the first) doesn’t have -AsJob, so your first command runs without problem, choosing the default. However, with

[2018-06-01 16:54] maddieclayton commented on #6359
Closing this issue as it is a PowerShell cmdlet issue rather than an Azure PowerShell cmdlet issue.

[2018-06-01 16:54] #6359 closed

[2018-06-01 16:59] maddieclayton commented on #6352
@gabe-rivera Will look into this to see if it’s an issue with the cmdlet or an issue with common code - as this has been popping up in multiple places I’m guessing this is likely a common code issue.

[2018-06-01 17:02] maddieclayton commented on #6360
@vivsriaus This is the issue linked to PR #6362

[2018-06-01 17:04] maddieclayton commented on #6203
Closing for inactivity, @kwill-MSFT please reopen if you are still seeing this issue with the suggestion Cormac made above.

[2018-06-01 17:04] #6203 closed

[2018-06-01 17:05] maddieclayton commented on #6262
Closing for inactivity - @KanikaGMS please feel free to reopen if you are still seeing this issue and able to provide the information listed above.

[2018-06-01 17:05] #6262 closed

[2018-06-01 17:20] malhovic commented on #6361
https://github.com/Azure/azure-powershell/blob/master/src/ResourceManager/Compute/Commands.Compute/Extension/AzureDiskEncryption/Scripts/AzureDiskEncryptionPreRequisiteSetup.ps1

Specifically the line of code is 160 for the published script, my output reads line 161 because i added the extra debug output as requested when creating the issue report.

[2018-06-01 18:00] ahmedelnably commented on #3201
Hello @milannankov is this still happening?

This blog post explains how to set slot settings (a.k.a sticky settings)

[http://ruslany.net/2016/10/using-powershell-to-manage-azure-web-app-deployment-slots/](http://ruslany.net/2016/10/using-powershell-to-manage-azure-web-app-deployment-slots/)

Here is how to set them.

Set-AzureRmWebAppSlotConfigName -ResourceGroupName $rg -name $site -AppSettingN

[2018-06-01 18:00] #3201 closed

[2018-06-01 18:43] ahmedelnably commented on #3410
To achieve what you want, you need to pass the App Service plan as a resource ID

use:
Get-AzureRmAppServicePlan -name AlexIssueTestPlan

Then use the ServerFarmId that is being returned as the -AppServicePlan parameter in New-AzureRmWebApp

[2018-06-01 18:43] #3410 closed

[2018-06-01 19:31] katomel4 commented on #5956
same issue
tried to update to 6.0.1 - no help
https://www.powershellgallery.com/packages/AzureRM/6.0.1

[2018-06-01 21:21] arluca opened #6363 "Managed Identity/IMDS auth: Configurable retry time-out"
Currently, the retry logic in the Azure SDKs for Managed Identity token generation can make the current thread wait for as long as 15 minutes. For response time sensitive services this might not be acceptable. It could also result in service unavailability if all threads are blocked for a token to be generated when a sudden burst arrives after a cold start.
The developer may want to fast fail afte

[2018-06-01 22:08] iyerusad opened #6364 "Start-AzureStorageBlobCopy accept arrays? Or new bulk copy container command"
**Goal:** Trying to copy blob container to separate container in case storage account gets deleted/snapshot in time/off account copy.
**Env:** Azure Automation Account/Powershell Workflow

**Limitation:** AzCopy appears to allow single request transfer container. AzCopy is not supported in Azure Automation jobs (unless using own hosted worker).

Following command appears to execute one by one:
[co

[2018-06-01 23:52] iyerusad commented on #6364
Workaround: I was able to workaround this by:
1. Not outputting `Start-AzureStorageBlobCopy` to console, via `Measure-Command`
1. Appending `-ConcurrentTaskCount 100` to following commands: `Start-AzureStorageBlobCopy` and `Get-AzureStorageBlobCopyState` #used when checking status

This cut the whole extent of my job in Azure Automation account from seemingly endless hours to 4 minutes. ~10k files

[2018-06-02 00:26] jianyunt opened #6366 "Too slow respones from Get-AzureStorageTable, Queue, Share, Blob if they do not exist"
### Description

If a storageaccount does not have table, queue or fileshare, and you run Get-AzureStorageTable, Get-AzureStorageShare, Get-AzureStorageQueue, you will see each cmdlet take about 27 seconds and then return not found.  It seems to be too long.

Here is our user scenario:
In our cloudshell Azure navigation, we are calling the above cmdlets and show Blob, File, Queue, and Table direct

[2018-06-02 16:37] EricSten-MSFT commented on #5202
@panchagnula You might also check out this [background article](https://github.com/aelij/azure-content/blob/master/articles/app-service-web/app-service-web-arm-with-msdeploy-provision.md) describing how to use the MSDeploy ARM API: https://github.com/aelij/azure-content/blob/master/articles/app-service-web/app-service-web-arm-with-msdeploy-provision.md

[2018-06-02 18:26] sburkart80 opened #6367 "Set-AzureRmResource sets tags in lowercase for Microsoft.NotificationHubs/namespaces"
Cmdlet(s)
Set-AzureRmResource

PowerShell Version
5.1.15063.1112

Module Version
6.0.1

OS Version
1703
15063.1112

###Description
When I use the Set-AzureRmResource cmdlet to configure tags on Microsoft.NotificationHubs resources (eg. namespaces) in Azure, the tag names are always set in lowercase. For example, when executing the command below, the tag name 'MyTag' will actually be configured in

[2018-06-03 09:12] pixelicous commented on #5326
@RandalliLama Hey, yes i thought about it afterwards, it shouldn't break, worst comes to worst it would be latency increase. Thanks for the update.

[2018-06-03 09:23] amoghnatu opened #6368 "Export-AzureRmAutomationRunbook cmdlet exports Python2 runbook as PowerShell runbook"
### Description

I'm trying to export an azure automation runbook of type "Python2" using the **Export-AzureRmAutomationRunbook** cmdlet. However, I'm seeing that the exported runbook in the folder is with extension ".ps1". Tried the same from portal but there it exports correctly as a Python runbook with the extension ".py".

### Script/Steps for Reproduction

[code]

### Module Version

[code]

[2018-06-04 02:07] blueww commented on #6366
@jianyunt

Since the account don't have Queue/Table/File, when you use get-AzureStorageQueue, it will try to access the queue endpoint which not exist, so the DNS resolving will need some time to fail.

You can use following command to decide if the account has Queue/Table/File:
[code]

[2018-06-04 02:26] blueww commented on #6364
@iyerusad

Good to know that you have workaround the issue.

For Blob Copy, in PowerShell it's server side async copy, which has no SLA. The default ConcurrentTaskCount is 10 and only allows 10 network connection. When you change it to 100, and if the network on you machine is good enough, it will make the copy request send fast.

For AzCopy, default it will also use AsyncCopy, but you can switch

[2018-06-04 05:02] blueww commented on #6250
Thanks @markcowl  and @cormacpayne  help to fix this!
I have verified the RC of 6.2.0 and the issue is fixed.

[2018-06-04 05:03] blueww commented on #6250
on-Demand: https://azuresdkci.westus2.cloudapp.azure.com/job/powershell-demand/904/

[2018-06-04 07:13] ToMakeSense opened #6370 "Import-AzureRmApiManagementApi can't set displayName of an SOAP API"
[code]
I am trying to import an SOAP API with [Import-AzureRmApiManagementApi](https://docs.microsoft.com/en-us/powershell/module/azurerm.apimanagement/import-azurermapimanagementapi?view=azurermps-6.1.0), It seems that there's no place to set the name(displayName) of the SOAP API, as a result, the name(displayName) is actually the value of   **WsdlServiceName**
[code]
Then I try to modify it with

[2018-06-04 07:41] rupeshtech opened #6371 "Get-AzureRmResource -ResourceGroupName Test | ft --> throws error"
### Description

 Get-AzureRmResource -ResourceGroupName Test | ft --> throws error

Get-AzureRmResource : Parameter set cannot be resolved using the specified named parameters.
At line:1 char:1
+ Get-AzureRmResource -ResourceGroupName Test | ft
+ ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    + CategoryInfo          : InvalidArgument: (:) [Get-AzureRmResource], ParameterBindingException

[2018-06-04 07:46] yuhaii opened #6372 "Set-AzureRmApiManagementApiRevision and Update-AzureRmApiManagementApiRelease not work."
### Description

Set-AzureRmApiManagementApiRevision and Update-AzureRmApiManagementApiRelease not work.
I have installed latest 6.1.0 packages https://github.com/Azure/azure-powershell/releases/tag/v6.1.0-May2018

### Script/Steps for Reproduction

PS C:\Users\yuhai> Login-AzureRmAccount

PS C:\Users\yuhai> $ApiMgmtContext = New-AzureRmApiManagementContext -ResourceGroupName "YhTestResourceGroup"

[2018-06-04 07:50] rupeshtech commented on #6371
Sorry.. you can clsoe this issue.  all I had to do was update Azure Powershell.. So all it took was following command
`Update-Module AzureRM`

[2018-06-04 07:50] #6371 closed

[2018-06-04 09:06] DdenBraver commented on #6289
@NateB2, the original issue we had was indeed also with an account that is also being used in VSTS.
I will do some additional testing with Clear-AzureRmContext & Disable-AzureRmContextAutosave.
Will keep you updated.

[2018-06-04 11:57] DdenBraver commented on #6289
@markcowl Our issue seems to be related to a double login.
We use Account A to handle action A, and another Account B handle action B.

It seems that when we connect with account B, and connect to a context that is also available in Account A that we cannot connect to its context.

For some reason this always worked when using the older AzureRm module. And the latest combination where this still w

[2018-06-04 14:33] whiggs commented on #6214
The purpose for that portion of the script is to "refresh" the Azure session context file.  I found out the hard way in a previous script that I wrote that the session which is stored in the azurerm context file which does eventually expire, and trying to import an expired session context using import-azurermcontext (which is used throughout the rest of the script to quickly authenticate to azure

[2018-06-04 14:36] whiggs commented on #6214
@MiYanni @maddieclayton Please see previous comment about how your theory cannot be the reason the code is not working.  Please re-apply "investigation" tab and remove the "more info" (unless you need it) tag to reflect its current status.

[2018-06-04 14:51] whiggs opened #6373 "see still open issue #6214"
The response to this issue I submitted indicates to me that the person responding either did not correctly read the code or does not know how the azurerm module loads profiles and is not in any way shape or form satisfactory.

[2018-06-04 15:22] kilasuit commented on #6373
#6214 is still open and therefore there is no need to open an additional issue for this and therefore this issue should be closed

[2018-06-04 15:51] iyerusad commented on #6364
Thanks @blueww , this is good to know. It might be the cpu core (4) * 8 = 24 in AzCopy was enough to better take advantage of the machine's network vs the default 10 in the `Start-AzureStorageBlobCopy` cmdlet.

I think it would be helpful to have a "CopyBlobContainer" cmdlet. `Start-AzureStorageBlobCopy`  is focused on blobs, where as I think there is a strong case for cmdlet specific for the cont

[2018-06-04 17:03] cormacpayne commented on #6373
@whiggs Hey William, @kilasuit is correct, since there is already an open issue tracking the status of this module loading issue, we should keep the discussion and investigation within https://github.com/Azure/azure-powershell/issues/6214 and close this issue in favor of it. Our team will respond to that issue within the next day 😀

[2018-06-04 17:03] #6373 closed

[2018-06-04 17:21] jianyunt commented on #6366
Thank you @blueww for your recommendation. we will try out your approach. Thanks again!

[2018-06-04 19:11] ahmedelnably commented on #4779
@sphibbs as @panchagnula said this is not related to App Service, removing the label, and the assignment.

Relabeling it to Resource Manager

[2018-06-04 19:14] ahmedelnably commented on #4816
This command uses the webdeploy endpoint, so this is more a question about webdeploy handling of compression tools, @EricSten-MSFT do you mind commenting about this?

[2018-06-04 19:27] ahmedelnably opened #6374 "[Webapp] Create a command that deploy to webapp using zip deployment"
Create a command that deploy to webapp using zip deployment feature, this will replace the Publish-AzureWebsiteProject command.

Command design: TBD

[2018-06-04 19:28] ahmedelnably commented on #5202
After internal team discussions, we are opting to create a new command that will use Zip deployment mechanism.
Closing this, as we are tracking the new command here: https://github.com/Azure/azure-powershell/issues/6374

[2018-06-04 19:29] #5202 closed

[2018-06-04 19:30] ahmedelnably commented on #669
With the deprecation of our RDFE commands, this command will stop working, we are going to replace it with a new command - Tracked here: https://github.com/Azure/azure-powershell/issues/6374

[2018-06-04 20:03] maddieclayton commented on #6361
@malhovic Thanks for the info!

@ejarvi @hyonholee Can you take a look or assign to the correct team?

[2018-06-04 20:20] EricSten-MSFT commented on #4816
PowerShell's zip functionality is incompatible with WebDeploy.  You should use MSDeploy to create the .zip package.  Other archivers, like 7Zip, have been used to successfully create an archive for use with WebDeploy.

[2018-06-04 21:31] MiYanni opened #6376 "NuGet warning when packaging DLLs"
When we do a build that creates NuGet packages, we get this warning:
[code]

This happens for every external DLL in our NuGet packages. We should determine if there is a way to suppress these specific messages, since this will always be the case, as PowerShell needs them to be at the top level of the project to load.

[2018-06-04 21:34] markcowl commented on #6214
This immediate problem is either
- A module layout issue (possibly caused by older chocolatey versions of cmdlets still being installed on the machine), as described [here](https://github.com/Azure/azure-powershell/blob/preview/documentation/troubleshoot-module-load.md).  The full results from ```gmo -listavailable``` should tell us if this is the issue.
- An issue with the context used with the c

[2018-06-04 21:38] markcowl commented on #6214
SO in case the info we are asking for isn't clear, please run:

```gmo -listavailable``` on the machine where you are seeing this issue and share the results

Then, please run the Connect-*  and KeyVault cmdlets with ```$DebugPreference="Continue"``` and share the results (you may want to redact subscription and tenant IDs.

Finally, please seriously consider only importing the modules that you ne

[2018-06-04 22:38] ejarvi commented on #6361
@SudhakaraReddyEvuri can you please take a look?

[2018-06-04 22:44] SudhakaraReddyEvuri commented on #6361
@malhovic please test with AzurePS 6.2.0. https://github.com/Azure/azure-powershell/releases/tag/v6.2.0-June2018 .  This was a breaking change in Set-AzureRMResource cmdlet and was fixed in AzurePS6.2.0. @cormacpayne  for further questions on this.

[2018-06-04 23:01] maddieclayton opened #6379 "Run mstest in ServiceManagement CI"
When we split the repo into ServiceManagement and ResourceManager, we should move the mstests from on-demand to regular CI build.

Parent issue: https://github.com/Azure/azure-powershell/issues/3029

[2018-06-04 23:03] maddieclayton commented on #6129
Issue related to this: https://github.com/Azure/azure-powershell/issues/6379

[2018-06-04 23:04] maddieclayton commented on #5354
Please include this issue in the creation of the service management repo: https://github.com/Azure/azure-powershell/issues/6379

[2018-06-04 23:05] maddieclayton commented on #3126
Will not remove test, but rather will move it to ServiceManagement checkin CI once the repo has been separated: https://github.com/Azure/azure-powershell/issues/6379

[2018-06-04 23:05] #3126 closed

[2018-06-04 23:40] maddieclayton commented on #3132
Closing - will open a new issue for remaining flaky tests.

[2018-06-04 23:40] #3132 closed

[2018-06-04 23:40] maddieclayton commented on #3133
Done: https://github.com/Azure/azure-powershell/pull/6377

[2018-06-04 23:40] #3133 closed

[2018-06-04 23:41] maddieclayton commented on #3134
Done: https://github.com/Azure/azure-powershell/pull/6377

[2018-06-04 23:41] #3134 closed

[2018-06-04 23:41] maddieclayton commented on #3137
Done - will open a new issue for the flaky test.

[2018-06-04 23:41] #3137 closed

[2018-06-04 23:41] maddieclayton commented on #3138
Done. Will be doing an investigation into the test times on our side.

[2018-06-04 23:41] #3138 closed

[2018-06-04 23:44] maddieclayton commented on #3029
All tests are moved except for flaky tests and mstests.  MSTests will be moved into CI when ServiceManagement is split into a separate repo, and issues for the flaky tests will be opened against the correct teams:

Batch
Compute (strategies)
Resources: Microsoft.Azure.Commands.Resources.Test.ScenarioTests.RoleAssignmentTests.RaPropertiesValidation

[2018-06-04 23:47] maddieclayton commented on #4460
Closing for inactivity - feel free to reopen if you are still seeing this issue, or open an issue with PowerShell here: https://github.com/PowerShell/PowerShell as it seems like from your errors that your PowerShell is not configured correct.

[2018-06-04 23:47] #4460 closed

[2018-06-05 00:07] hyonholee commented on #5956
We expect the fix would be included in the next Powershell release (6/15).  Thanks.

[2018-06-05 01:51] MiYanni opened #6382 "Sql: Test-GetReplicationLink and Test-CreateSecondaryDatabase fail to Get-Location appropriately"
Previously, these Sql tests were ran using the `Management.ResourceManager` client. Now, they are using the `Management.Internal.Resources` client. `Get-Location` in each of these tests calls `Get-AzureRmResourceProvider` that is within `AzureRM.Resources.ps1`. The provider call here returns $null as the Result. Following the calls, the actual call to `GetWithHttpMessagesAsync` for `ProviderOperat

[2018-06-05 02:32] wellsluo opened #6383 "Save-AzureRMVMImage throw exception " Object reference not set to an instance of an object" when adding parameter "-Path"."
### Description

Save-AzureRMVMImage throw exception " Object reference not set to an instance of an object" when adding parameter "-Path".

### Script/Steps for Reproduction

[code]
### Troubleshooting

Reviewed the following source code:
[SaveAzureVMImageCommand.cs](https://github.com/Azure/azure-powershell/blob/master/src/ResourceManager/Compute/Commands.Compute/VirtualMachine/Action/SaveAzureV

[2018-06-05 03:05] blueww commented on #6364
@iyerusad
For Copy the whole container, Azcopy should be a better choice then powershell.
For powershell, we providet the basic function for blob operation, and user can unitlize the powershell script to copy whole container, or some blobs with specific pattern in the container, or even copy to different account/container.

Anyway, this is the first feature request we see for container copy. As we

[2018-06-05 07:30] amoghnatu commented on #5726
I figured it out. The script is downloaded in the location /var/lib/waagent/run-command/download/{someNumber} on linux VMs.
@marinnedea , @sdwheeler , @cormacpayne

[2018-06-05 10:56] bytemech commented on #6337
Same issue happening to my environment as well. Have version 6.1.1 of AzureRM module installed, version 5.0.0 of the AzureRM.Compute module.

Decompiled and took a look at the Microsoft.Azure.Commands.Compute dll and it looks to me that it's not the powershell module that's the cause, and the 409 response is coming from Graph.

[2018-06-05 11:14] praveendhac commented on #6350
closed the issue by mistake.

[2018-06-05 13:45] pish181 opened #6384 "Versioning scheme - path not available"
### Description
Azure Management API
Where is no any option to automate creation of API versions  using powershell or RM template since versioning scheme 'path'  is not available and not even present in JSON schemas for both solutions.

Announcement from 01/11/2018 says what path should be there
https://blogs.msdn.microsoft.com/apimanagement/2018/01/11/versions-revisions-general-availibility/

In

[2018-06-05 15:49] craiglandis commented on #5956
In the meantime a workaround that doesn't require Azure CLI is to set **$DebugPreference = 'Continue'** before calling **Grant-AzureRmSnapshotAccess**, redirect the **Grant-AzureRmSnapshotAccess** output by adding **5>&1** at the end of the line, then parse out the **accessSAS** value.

[code]

[2018-06-05 16:23] andersonpatricio commented on #6341
Hi guys,

Do you need my help with anything?

Sent from my iPhone

On May 30, 2018, at 17:29, Maddie Clayton <notifications@github.com<mailto:notifications@github.com>> wrote:

Reassigning to the Insights team.

@gucalder<https://github.com/gucalder> Can you take a look at this issue?

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub<https://gith

[2018-06-05 16:53] sptramer opened #6385 "Save-AzureRmVMImage.md needs more detailed description of "-Path" parameter"
Via @wellsluo , https://github.com/Azure/azure-docs-powershell/issues/603

----
In the doc of Save-AzureRMVMImage has following description of "-Path" parameter, which is very confusing:
[Save-AzureRmVMImage.md](https://github.com/Azure/azure-docs-powershell/blob/master/azurermps-6.2.0/AzureRM.Compute/Save-AzureRmVMImage.md)
[code]
Question is: what is the "path" of VHD? local path to save VHD cop

[2018-06-05 18:01] iyerusad commented on #6364
There are multiple stackoverflow [(1)](https://stackoverflow.com/questions/36579080/use-azcopy-in-azure-automation-job) [(2)](https://stackoverflow.com/questions/29881948/start-azurestorageblobcopy-vs-azcopy-which-one-takes-lesser-time/50651544) questions around this scenario. With containers containing many (10k+) small blobs, it doesn't make much sense to iterate through them one by one to initi

[2018-06-05 18:30] sergey-shandar commented on #5650
@maddieclayton yes

[2018-06-05 18:30] #5650 closed

[2018-06-05 18:32] sergey-shandar commented on #5872
PR #6268

[2018-06-05 21:53] markcowl commented on #6350
@darshanhs90 @cormacpayne Can you take a look?

[2018-06-05 21:54] maddieclayton commented on #6352
@panchagnula Can you take a look at this issue?

[2018-06-05 21:55] markcowl commented on #6363
@arluca This is the repository for Azure PowerShell, you can find repositories for the authentication libraries in the AzureAD org: https://github.com/AzureAD

[2018-06-05 21:57] maddieclayton commented on #6349
@derek1ee Can you take a look at this issue?

[2018-06-05 21:58] markcowl commented on #6366
@jianyunt did this resolve your issue?

[2018-06-05 21:59] arluca commented on #6363
@Mark<mailto:Mark.Cowlishaw@microsoft.com> & @Yugang<mailto:yugangw@microsoft.com> : which is the correct repo to open this item on? I thought it would be the powershell one.

-Arturo

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: Mark Cowlishaw <notifications@github.com>
Sent: Tuesday, June 5, 2018 2:56:29 PM
To: Azure/azure-powershell
Cc: Arturo Lucatero; Ment

[2018-06-05 22:04] panchagnula commented on #6352
Yes will look into this.

[2018-06-05 22:06] panchagnula commented on #6352
@maddieclayton just to be sure 6.0.1 version has websites-preview included, correct?

[2018-06-05 22:09] markcowl commented on #6372
@yuhaii To get the debug output, please set this value before executing any powershell cmdlets:

[code]

and then execute your script or run your cmdlets.

[2018-06-05 22:18] markcowl commented on #6384
@solankisamir Can you take a look?

[2018-06-05 22:19] markcowl commented on #6385
@sptramer We accept pull requests :-)

[2018-06-05 22:29] Xergy commented on #2197
I'd really this functionality too.  I wasted time researching this and writing a work around.  I really like the -wait command.

[2018-06-05 22:29] sptramer commented on #6385
@wellsluo - The engineering team has requested that you submit your fix as a pull request.

@markcowl Please do not close this issue until it is actually fixed.

[2018-06-05 22:29] markcowl commented on #6335
@ravbhatnagar @vivsriaus Can you guys add the suggested examples?

[2018-06-05 22:29] pish181 commented on #6384
yeap, make sense now, but still no sense to the deployment process since if you fetch API details you can push changes to specific version e.g. I have operation policy which needs to be applied to specific version of the API
any suggestions?
Thank you

[2018-06-05 22:30] markcowl commented on #6376
deferring until we change the way packages are built

[2018-06-05 22:30] #6376 closed

[2018-06-05 22:31] solankisamir commented on #6370
@ToMakeSense have you tried the option with
`Set-AzureRmApiManagementApi  -InputObject <PsApiManagementApi>`

[2018-06-05 22:34] darrelmiller commented on #6384
@pish181 Sorry, I don't understand the question.  APIs with a different version have a different API Id so you should be able to update them independently like any other API.

[2018-06-05 23:01] maddieclayton commented on #6352
AzureRM will never have preview modules - it will always include the latest stable release.

[2018-06-05 23:07] arluca commented on #6363
So, from the description in the issue, it sounds like you are asking about the azure sdk.

PowerShell is using its own authentication mechanism for MSI. If you are asking about powershell authentication, you will need to be more specific about how you arrived at this conclusion.

From: Arturo Lucatero
Sent: Tuesday, June 5, 2018 3:00 PM
To: Yugang Wang <yugangw@microsoft.com>; Mark Cowlishaw <Mark

[2018-06-05 23:18] maddieclayton commented on #6382
I am guessing that this has to do with the changed ResourcesClient.  I couldn't find any doubling of Get-Location or Get-AzureRmResourceProvider that would usually cause Get-Location to fail.

[2018-06-05 23:28] maddieclayton opened #6392 "Fix flaky Compute tests"
Currently there are a few tests marked as "flaky" in the simple vm and vmss tests.  We need to fix these in order to remove the need for running the on-demand CI.

Microsoft.Azure.Commands.Compute.Test.ScenarioTests.StrategiesVirtualMachineTests
Microsoft.Azure.Commands.Compute.Test.ScenarioTests.StrategiesVmssTests

[2018-06-05 23:30] maddieclayton opened #6393 "Fix flaky Resource test"
Currently there is one Resources test marked as flaky.  In order to remove the need to run on-demand CI for every build, we need to fix this test:

Microsoft.Azure.Commands.Resources.Test.ScenarioTests.RoleAssignmentTests.RaPropertiesValidation

Parent issue: https://github.com/Azure/azure-powershell/issues/3029

[2018-06-05 23:34] MiYanni opened #6395 "Refactor azure-powershell (RM modules) folder structure"
Design based on: https://github.com/Azure/azure-powershell/issues/5354#issuecomment-394893920

- This should be done post-Common (azure-powershell-common) separation
- Restructuring should be done on the new (develop) branch
- CI process would be done as new CI projects (VSTS???)

[2018-06-05 23:37] MiYanni opened #6396 "Migrate SM modules to azure-powershell-servicemanagement"
Design based on: https://github.com/Azure/azure-powershell/issues/5354#issuecomment-394893920

- This should be done post-Common (azure-powershell-common) separation
- Minimize the amount of restructuring required
- Make sure CI process works with current (Jenkins) build tooling for the new repo

[2018-06-05 23:37] MiYanni commented on #5354
Here is the basics of restructuring the repo layout. There is definitely more to be fleshed out as the work is being done, but this is a good starting point.

In terms of work items,
- Common (2 items linked inside): https://github.com/Azure/azure-powershell/issues/6104
- RM: https://github.com/Azure/azure-powershell/issues/6395
- SM: https://github.com/Azure/azure-powershell/issues/6396

# Reposi

[2018-06-05 23:38] #5354 closed

[2018-06-05 23:39] MiYanni commented on #6104
Separated into:
https://github.com/Azure/azure-powershell/issues/6128
https://github.com/Azure/azure-powershell/issues/6129

[2018-06-05 23:39] #6104 closed

[2018-06-05 23:56] maddieclayton commented on #3029
For documentation, these skipped tests were moved from on demand into CI, so we don't know how much time they take:

Microsoft.Azure.Commands.Sql.Test.ScenarioTests.ServerDisasterRecoveryConfigurationTests.TestServerDisasterRecoveryConfiguration

Microsoft.Azure.Commands.Compute.Test.ScenarioTests.AEMExtensionTests.TestAEMExtensionAdvancedWindows
Microsoft.Azure.Commands.Compute.Test.ScenarioTests

[2018-06-06 00:34] darshanhs90 commented on #6350
@praveendhac The attribute name is case sensitive and it should be **Actions**

[2018-06-06 00:34] #6350 closed

[2018-06-06 00:41] cormacpayne commented on #6300
@slavizh Hey Stanislav, we made some changes to `Get-AzureRmResource` in the 6.0.0 release of Azure PowerShell. Would you mind using the `ResourceType` parameter to perform the desired action?

[code]

[2018-06-06 02:15] markcowl opened #6398 "Clear-AzureRmContext -Scope CurrentUser corrupts the state of the token cache for the current process"
Clear-AzureRMContext both clears the context and 'deletes' the cache file.  This causes other processes to be unable to use the disk token cache.

Most cmdlets simply default to using the in memory token cache, however, cmdlets that manipulate the context (Set-AzureRmContext, Select-AzureRmSubscription) will recreate the token cache file, with **no contents**.  Once this occurs, the user would nee

[2018-06-06 02:30] blueww commented on #6364
@iyerusad

I will open a work item for Powershell cmdlet of copy a container. And we will evaluate it according to user request and our bandwidth.

But if there are many (10k+) blobs in a container, user can list the blobs in batches and then copy one by one. You can find how to list blobs in batches in last help Example of cmdlet Get-AzureStorageBlob.

For AzCopy, it has cross platform version: h

[2018-06-06 02:51] MiYanni commented on #5565
NetCore 0.12.0 has the warning removal merged into it. And it is merged into preview.

[2018-06-06 02:51] #5565 closed

[2018-06-06 03:02] yuhaii commented on #6372
@markcowl got it. below is the cmd with debug info

PS C:\Users\yuhai> Set-AzureRmApiManagementApiRevision -Context $ApiMgmtContext -ApiId "echo-api" -ApiRevision "3" -Name
 "Echo API" -ServiceUrl "http://echoapi.cloudapp.net/api" -Protocols @('http') -Path "echo" >> .\Desktop\powershell_debu
g_output.txt
DEBUG: 11:01:11 AM - SetAzureApiManagementApiRevision begin processing with ParameterSet 'Exp

[2018-06-06 03:05] blueww commented on #789
This still not in Powershell.

But since CMK feature added in server side, now the blob data in server is already encrypted, and user can configure to use Keyvault for the encryption.

So it might not be so necessary to add the feature now.

[2018-06-06 03:53] yugangw-msft commented on #6363
The relevant PR is #5771 and it means the code change should occur in POSH

[2018-06-06 06:55] slavizh commented on #6300
@cormacpayne  Hey Cormac, I've tried that option and it runs without error but unfortunately does not return results where with the previous command I am getting results. Any other options?

[2018-06-06 07:37] Ajay-MS opened #6402 "Get-AzureRmPolicyAssignment cmdlet failing with SPN over management group"
### Description

### Script/Steps for Reproduction

1. Create an SPN with permission from the management group  ( instead of subscription )
2. Invoke PS cmdlet `Add-AzureRmAccount` with above created SPN.
3. Run cmdlet to fetch policy over management group `Get-AzureRmPolicyAssignment`
4. Policy cmdlet is failing with following error
`Get-AzureRmPolicyAssignment : Object reference not set to an in

[2018-06-06 11:26] wkasdorp commented on #5982
I confirm this breaking change, or bug if you will. In my particular case it breaks a VSTS provisioning pipeline where we verify the output before moving to the next step. I also confirm that moving back to 5.6.0 is a workaround.

From the context of this issue I cannot really tell what is being done and when it will be fixed. Any update that you can share?

[2018-06-06 11:33] amoghnatu commented on #5982
There was a new release yesterday and the **AzureRM.Compute** module was also released as part of that. However, **this issue still exists** even in the latest release. We're also waiting for this to be fixed.

[2018-06-06 12:09] rkluijt commented on #6337
Hi thwpike,

Did you found any resolution yet?
I have the same error message during disk encryption on my Windows 2016 VM in Azure.

Thanks

Kind regards
Robin

[2018-06-06 14:11] spireob commented on #5363
Hello,
Did you found any resolution on that problem?
running scripts locally is working properly but using invoke-command it fails when using service principal. I have w problem on creating keys in keyvault.

[2018-06-06 15:00] mrwalters1988 commented on #3896
Still seeing this bug and wondering if it'll be fixed any time soon.

[2018-06-06 15:34] cormacpayne commented on #4245
This has been fixed.

[2018-06-06 15:34] #4245 closed

[2018-06-06 15:36] juneeighteen commented on #5363
I had a similar issue, KeyVault doesn't play well with service principals for some reason.  In my case, I modified the script so the local PowerShell machine ran the key-vault commands and passed PowerShell objects to the remote worker.

[2018-06-06 16:21] spireob commented on #5363
In my case we have problems only with creating key in keyvault but only while executing by invoke-command in scriptblock. When executing the same script with the same credentials but locally everything works fine. So the problem is only while using psession.

[2018-06-06 16:45] winperec commented on #661
Service Management APIs support for Azure App Services is almost deprecated but no RM analogue for old cmdlets ?
https://blogs.msdn.microsoft.com/appserviceteam/2018/03/12/deprecating-service-management-apis-support-for-azure-app-services/
It is not fare :)

[2018-06-06 16:51] whihathac opened #6406 "Set-AzureRmKeyVaultAccessPolicy parameter PermissionsToKeys does not accept All"
### Description

Did we change the behavior? My scripts I created few weeks back no longer work and give me this error -
ParameterArgumentValidationError,Microsoft.Azure.Commands.KeyVault.SetAzureKeyVaultAcces
   sPolicy
Set-AzureRmKeyVaultAccessPolicy : Cannot validate argument on parameter 'PermissionsToKeys'. The argument "All" does
not belong to the set
"decrypt,encrypt,unwrapKey,wrapKey,verif

[2018-06-06 17:00] juneeighteen commented on #5363
That was my problem too. There's definitively a bug in there somewhere. You can try using `PsExec.exe` to run the remote commands instead of Invoke-Command.  It should play nicer with the service principals, even though it's a very different workaround.

[2018-06-06 17:52] whihathac commented on #6406
Looked at the Microsoft.Azure.Commands.KeyVault.dll, and looks like this parameter option was supported in module version 4.1.1 but I don't see this in version 5.0.0

[2018-06-06 18:02] ejarvi commented on #6337
Took a look at this issue.

The ability to add encryption without specifying AAD credentials is new and still requires an opt-in from some subscriptions until full rollout is complete.   In support of earlier comments this would also support why the failure was seen coming from Graph rather than the powershell module.

Two potential workarounds for this would be to either reverting back to using t

[2018-06-06 18:12] maddieclayton commented on #6406
@whihathac Yes, in the KeyVault breaking change release in May, we removed the "all" permission for Keys, Secrets, Certificates, and Storage (as seen in the migration guide [here](https://github.com/Azure/azure-powershell/blob/preview/documentation/migration-guides/migration-guide.6.0.0.md)).  You can keep your exact functionality by expanding the list from "all" to the list of all permissions for

[2018-06-06 18:12] #6406 closed

[2018-06-06 19:10] gucalder opened #6407 "[Insights] Set-AzureRmDiagnosticSetting cmdlet fails to update a setting for the first time"
### Description

Set-AzureRmDiagnosticSetting cmdlet fails to update a setting if the metrics or logs is being configured for the first time, i.e. if the current properties.Logs / properties.Metrics is null.

### Script/Steps for Reproduction

The reproduction is fairly complicated. First a setting must be created without specifying Logs or Metrics and verify that they are returned as empty or nul

[2018-06-06 22:37] jasonpnnl opened #6410 "Guid Error on connect-azurermaccount and others"
### Description

Receive Guid should contain 32 digits with 4 dashes when running some azure powershell commands, including connect-azurermaccount with cert auth.

### Script/Steps for Reproduction

[code]

It does not happen all the time. Unknown what causes it to start working again and then break again.

### Module Version

[code]

### Environment Data

[code]

### Debug Output

[code]

[code]

[2018-06-07 00:55] anils1974 commented on #6250
Where can I find this new release candidate of version 6.2.0. When I try to install this specific version of azureRM.storage, it throws. I checked at powershellgallery.com too and the latest version available there is 5.0.3. Please help.

[2018-06-07 02:07] blueww commented on #6250
The latest PowerShell version which have this resolve can be found in https://github.com/Azure/azure-powershell/releases/tag/v6.2.1-June2018

[2018-06-07 05:45] DanielHWe opened #6413 "New-AzureRmVmss show incorect message HealthProbe resource missing"
### Description

I create first a Network Load Balancer include HealthProbe etc. and then on create the according Vm Scale Set with New-AzureRmVmss, I got the message that the HealthProbe is missing. But by checking on the azure portel the HealthProbe was correctly create within the Load Balancer resource.

### Script/Steps for Reproduction

[code]

### Module Version

6.2.1

### Environment Data

[2018-06-07 06:02] ToMakeSense commented on #6370
@solankisamir  Can you give a example? I'm not that familiar with PowerShell.

[2018-06-07 06:50] konstantin-fugue commented on #3074
@pauldalyii, have you ever get this resolved (other than waiting a month)? I am having the same issue and waiting a month does not seem like an option...

[2018-06-07 08:27] codeevaluator opened #6414 "New-AzureRmWebAppSlot returns an error if I don't add the Optional parameter AppServicePlan"
### Description

New-AzureRmWebAppSlot returns an error if I don't add the Optional parameter AppServicePlan
[code]
Adding the parameter -AppServicePlan makes the command work.
### Script/Steps for Reproduction

[code]

### Module Version

[code]
### Environment Data

[code]
### Debug Output

[code]