[2022-06-16 04:43] isra-fel commented on #18590
Good point to advertise this new feature!

[2022-06-16 05:00] AaronCreighton commented on #18581
@dingmeng-xue, thank you for responding... When you say API version.. which API?

There is the API version associated with the Alert Resource, which is the same for both; 2018-03-01,. But I guess you might mean a different API?

![image](https://user-images.githubusercontent.com/36865006/173994582-893ea3de-74af-498a-a3b8-007796dddcbb.png)

[2022-06-16 05:26] dcaro opened #18594 "[Feature]: [ContainerApp] Add `Get-AzContainerAppRevisionReplica` in Az.ContainerApp"
### Description of the new feature

The implementation of `Get-AzContainerAppRevisionReplica` cmdlet based of Swagger definition is currently facing issue. We have removed it from the first preview of the module.
We will add this cmdlet once the issue has been identified by service team.

### Proposed implementation details (optional)

_No response_

[2022-06-16 06:09] spissay opened #18595 "Az management group cmdlet not working."
### Description

Hello Team,

I am trying to create AD groups on the Management group hierarchy using the below script. For some reason ,the Get-Azmanagementgroup is not accepting TenantID as param. I need to query from Tenant root group till the bottom. Please let me know how to do it.

## creates azuread RBAC groups
$mgs = Get-AzManagementGroup -TenantId $tenid
foreach ($mg in $mgs) {
    $mgnam

[2022-06-16 07:54] navba-MSFT commented on #18569
@langstonj Thanks for reaching out to us and sharing this feedback. We are looking into this issue and we will provide an update.

[2022-06-16 10:02] navba-MSFT commented on #18569
@langstonj If the database is in an elastic pool, `Invoke-AzSqlDatabaseFailover `command will failover the given database without affecting the other databases in the same elastic pool.

Could you please use the most recent version of [Az.SQL]([Az.Sql](https://docs.microsoft.com/en-us/powershell/module/az.sql/?view=azps-8.0.0)) and try executing the below command ?

If you still dont get any respo

[2022-06-16 10:24] vidai-msft opened #18599 "[Feature]: PrivateEndpoint in Network will show ResourceGuid when running Get-AzPrivateEndpoint"
### Description of the new feature

Currently Get-AzPrivateEndpoint cmdlet does not show the value of the property ResourceGuid.
The feature request will make ResourceGuid for the specific private endpoint visible after executing the cmdlet Get-AzPrivateEndpoint.

### Proposed implementation details (optional)

Azure SDK need first implement this property in the model and then we can include it in

[2022-06-16 13:26] langstonj commented on #18577
It doesn't help.

Respectfully, the documentation reference needs to state exactly what to execute to delete one of the pending requests, especially when the current documentation states "...Query sys.dm_operation_status for operation status. Wait until pending requests are complete or delete one of your pending requests..."

Multiple members of our team searched the documentation for the command

[2022-06-16 13:39] JoshuaKaluski opened #18606 "[Doc]: Az.AlertsManagement / Get-AzAlert"
### Description

In the [Az.AlertsManagement>Get-AzAlert page](https://docs.microsoft.com/en-us/powershell/module/az.alertsmanagement/get-azalert?view=azps-8.0.0), there is a minor typo under the **_Parameters_** definition of _-MonitorService_. The definition currently reads:
![image](https://user-images.githubusercontent.com/46460752/174082373-dd6b033a-9a2e-416b-8e12-f413bb76b1a0.png)

Whereas t

[2022-06-16 14:12] Triamus commented on #13920
It seems to be a permission issue. It doesn't work for me but it works for a colleague with global permissions, exact same subscription and setup. Why would this be tied to any permission? It's public info. Not helpful.

`az network list-service-tags --location westeurope` also returns empty values.

[2022-06-16 14:28] chrismihm-ms opened #18607 "[Doc]: Register-AzProviderFeature documentation clarification"
### Description

I'm working with a customer and they had questioned some of the areas in the documentation for "Register-AzProviderFeature"

https://docs.microsoft.com/en-us/powershell/module/az.resources/register-azproviderfeature?view=azps-8.0.0

They were asking if this registers globally for all subscriptions or at a single subscription. The documentation says "Registers an Azure provider fea

[2022-06-16 15:03] DavisHenckel opened #18608 "Az Commands are not Consistently working. Method not Found 'Void Microsoft.Identity.Client.Extensions.Msal.MsalCacheHelper.RegisterCache(Microsoft.Identity.Client.ITokenCache)'"
### Description

I have run into an issue where, more often than not, I am not able to connect to use the Az modules in my user management module. I have a function to run Get-AzContext, and if not null, prompt user to sign in using the interactive popup window. This command fails more often than not. When I exit the module and try using any of the commands `Get-AzContext`, `Clear-AzContext`, or `

[2022-06-16 15:56] lroan commented on #18495
@dingmeng-xue Thanks for looking at this!

I tested the engineering package, and it works with that build.

[2022-06-16 16:50] langstonj commented on #18569
PS C:\Users\langstonj> $DebugPreference="Continue"
PS C:\Users\langstonj> Invoke-AzSqlDatabaseFailover -ResourceGroupName pscrsgsql02 -ServerName pscsqlsrv02 -DatabaseName sqldb2021
DEBUG: 11:26:21 AM - InvokeAzureSqlDatabaseFailover begin processing with ParameterSet '__AllParameterSets'.
DEBUG: 11:26:21 AM - using account id ***@***.***'...
DEBUG: [Common.Authentication]: Authenticating using Ac

[2022-06-17 03:35] navba-MSFT commented on #18577
@langstonj Thanks for getting back. I will do some research on this and get back with an update.

[2022-06-17 05:12] #17978 closed

[2022-06-17 06:12] #18567 closed

[2022-06-17 07:28] #17454 closed

[2022-06-17 07:48] #15067 closed

[2022-06-17 07:48] #18249 closed

[2022-06-17 08:31] isra-fel commented on #18494
Hi @cveld we want to know more about your scenario - were you importing a pre-created certificate to Azure KeyVault, or trying to create a new certificate in KeyVault?
I asked because both scenarios involve importing a cert, but their implementation is totally different.

[2022-06-17 12:38] MarcSteene opened #18619 "[Cmdlet reference doc]: Incorrect cmdlet name Get-AzRecoveryServicesBackupRecommendedArchivableRPGroup"
### Description

https://docs.microsoft.com/en-us/powershell/module/az.recoveryservices/get-azrecoveryservicesbackuprecommendedarchivablerpgroup

This docs page describes the Get-AzRecoveryServicesBackupRecommendedArchivableRPGroup cmdlet.

The text in example 1 references a cmdlet that does not exist (Get-AzRecoveryServicesRecommendedArchivableRPGroup) - perhaps a typo or previous version of the

[2022-06-17 13:13] dingmeng-xue commented on #18607
It maps to https://docs.microsoft.com/en-us/rest/api/resources/features/register. It should be `Registers the preview feature for the subscription.` It needs CXP or service team to confirm it.

[2022-06-17 13:13] dingmeng-xue commented on #18606
@CaptainFanZzz , please help to correct it.

[2022-06-17 13:18] chrismihm-ms commented on #18607
My customer is questioning what "Account" means in this document. If it registers to the subscription it should say that so its clear to the customer. Their change advisory board wont let them make a change due to this language in this document as its vague and they are interpreting it as a global (across all subscriptions) registration.

Additionally, what they are registering isn't a preview fea

[2022-06-17 13:20] dingmeng-xue commented on #18608
Thanks for reporting. Normally, it is due to another version of MSAL has been imported into your current PowerShell process. Once you meet the issue again, could you please execute `Get-Module` and `[System.AppDomain]::CurrentDomain.GetAssemblies() | Where-Object Location | Sort-Object -Property FullName | Select-Object -Property FullName, Location` before close PowerShell. Then, please try `Get-A

[2022-06-17 14:09] JoshuaKaluski commented on #18606
Just to add, it appears the typo also appears in the [Az.AlertsManagement>Measure-AzAlertStatistic page](https://docs.microsoft.com/en-us/powershell/module/az.alertsmanagement/measure-azalertstatistic?view=azps-8.0.0) as well. Most likely due to a copy-paste replication accross pages.
![image](https://user-images.githubusercontent.com/46460752/174314825-ca80d7e6-2002-4395-89a5-ebbdce5e3de1.png)

[2022-06-17 17:09] ojintoad commented on #17005
I hit this again and remembered. What is the expectation here of who will change their code to fix this? Is this waiting on VSCode to make a change or on PowerShell AZ?

[2022-06-17 21:04] dagoroz opened #18621 "What is the difference between ShouldProcess and ConfirmAction?"
### Description

I've been reading the [documentation regarding ShouldProcess and ConfirmAction](https://github.com/Azure/azure-powershell/blob/main/documentation/development-docs/design-guidelines/should-process-confirm-impact.md).
It is not clear to me what is the difference between the two and/or is there some strong guidance/preference for one or the other.

### Script or Debug output

_No res

[2022-06-17 22:25] SatishBoddu-MSFT commented on #18346
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

Please also do visit [Microsoft Q&A](https://docs.microsoft.com/en-us/answers/index.html) the home for technical questions and answers at Microsoft.

[2022-06-17 22:25] #18346 closed

[2022-06-18 08:03] #18294 closed

[2022-06-19 04:22] fenwickt opened #18622 "PSNoteProperty doesn't allow empty string as a key"
### Description

Hi PowerShell team,

I'm from ARG team who support ResourceGraph module in PowerShell. We have Search-AzGraph cmdlet that allows users to query their Azure resources. Resources can be of different types and contain different properties, so the cmdlet returns to the user list of PSObject objects. Resource properties inside the PSObject [get converted to PSNoteProperty](https://gith

[2022-06-19 16:16] dingmeng-xue commented on #18622
Thanks for contacting us.

[PSMemberInfo](https://docs.microsoft.com/en-us/dotnet/api/system.management.automation.psmemberinfo?view=powershellsdk-7.0.0) doesn't allow empty string as key name. If it's not easy to change the data type of return object, you can consider to add a dummy string as its key. Otherwise skip that property if it is invalid from ARG perspective.

[2022-06-20 03:11] blueww commented on #17005
@dingmeng-xue
Would you please help to look at this assembly load issue?

@ojintoad
I just test on VS code 1.67.1 ([release on Apr, 2022](https://code.visualstudio.com/updates/v1_67) )
New-AzStorageContainer runs successfully.

following is the Az.* module load on my machine (by "get-module" after run New-AzStoragecontainer)
[code]

[2022-06-20 05:51] #18495 closed

[2022-06-20 06:20] navba-MSFT commented on #18569
@langstonj Could you please use test the Powershell Script shared in [this article ](https://docs.microsoft.com/en-us/azure/azure-sql/database/auto-failover-group-configure-sql-db?view=azuresql&tabs=azure-powershell&pivots=azure-sql-elastic-pool)and check if that helps ? Awaiting your reply.

[2022-06-20 08:15] BethanyZhou commented on #16854
I'm sorry for that. What's your runbook environment? @obayesshelton

[2022-06-20 08:24] #17088 closed

[2022-06-20 08:24] dingmeng-xue commented on #17088
Close it because the update was added in Feb release.

[2022-06-20 08:28] #18317 closed

[2022-06-20 09:17] VeryEarly opened #18634 "[Eng]: ambiguity in clientfactory.CreateArmClient"
### Description

To create track1 SDK client, we use method
[code]
the endpoint passed in will be used to
- as endpoint: construct base uri (``` var baseUri = context.Environment.GetEndpointAsUri(endpoint);```)
- as resourceId: retrieve access token (```var creds = AzureSession.Instance.AuthenticationFactory.GetServiceClientCredentials(context, endpoint);```)

there are two part of authenticate fl

[2022-06-20 09:22] zioalex commented on #18424
Hi @dingmeng-xue ,
follow the info required:
[code]
For the test purpose I am running it from a Linux container with `pwsh`. But the problem is reproducible on Linux Azure Devops agent that uses Terraform to run some powershell tasks.

[2022-06-20 09:47] PramodValavala-MSFT commented on #18619
@MarcSteene Thanks for catching this! We will work up a PR to fix the typo.

[2022-06-20 10:21] BethanyZhou commented on #18392
Add example first. The Naming of Register-AzKeyVault is under discussion.

[2022-06-20 12:17] Gill-Bates opened #18639 "[Feature]: Get-AzADGroupMember should deliver the Property "UserPrincipalName""
### Description of the new feature

Currently `Get-AzADGroupMember`  delivers only the Properties

[code]

I would really appreachiate the property `"UserPrincipalName"`

[code]

### Proposed implementation details (optional)

_No response_

[2022-06-20 15:20] ojintoad commented on #17005
@blueww will try when back at work, thanks for responding

[2022-06-20 17:27] mikefrobbins opened #18641 "Get-AzQuota error: Resource type 'Locations' could not be found in the namespace 'Microsoft.Network'"
### Description

The following error is returned when attempting to use `Get-AzQuota` with the first example in its reference doc:

[code]

Output:
Get-AzQuota_List: The resource type 'locations' could not be found in the namespace 'Microsoft.Network' for api version '2021-03-15-preview'. The supported api-versions are '2014-12-01-preview,2015-05-01-preview,2015-06-15,2016-03-30,2016-06-01,2016-07

[2022-06-20 21:07] jdatsh commented on #18641
I get the same output. Perhaps MS deprecated "2021-03-15-preview"?

[2022-06-20 21:14] jdatsh commented on #18641
![image](https://user-images.githubusercontent.com/107890680/174678456-ee3073df-0c53-4005-8f4a-fa8cde408244.png)

[2022-06-20 21:20] DavisHenckel commented on #18608
Hello dingmeng-xue, thanks for the reply. I regenerated the error, here is the output for `Get-Module`
[code]
Here is the output of the 2nd command
[code]
Next, I ran `Get-AzSubscription` followed by `Get-AzAccount` and this was the output:
[code]

[2022-06-20 22:31] DavisHenckel commented on #18608
It seems like you were onto something with duplicate MSAL. I have been unable to replicate the issue after I re-ordered the `RequiredModules` variable in my module manifest. I re-arranged the `RequiredModules` from this:
[code]
to this:
[code]
I guess I didn't realize the `RequiredModules` was importing every time. TIL. This information aligns with the blogpost I mentioned in the original post. Th

[2022-06-21 05:37] navba-MSFT commented on #18577
@langstonj Customers can cancel ongoing copy operations by dropping the target database. This has been documented [here](https://docs.microsoft.com/en-us/azure/azure-sql/database/database-copy?view=azuresql&tabs=azure-powershell#monitor-the-progress-of-the-copying-operation).

I understand that the above mentioned documentation is misleading in that it suggests that there's a way to "delete" any m

[2022-06-21 05:48] navba-MSFT commented on #18577
@langstonj The above PR has been created for to address this ask and it is currently under Review phase. In the meantime, if you have any questions, please feel free to ask.

[2022-06-21 06:29] #18105 closed

[2022-06-21 08:01] #18606 closed

[2022-06-21 08:39] cveld commented on #18494
@isra-fel We pre-created it with the openssl tooling.

New-Item -Path $OutputPath -ItemType Directory -Force
openssl genrsa -aes256 -passout pass:1234 -out $OutputPath\root.key.pem 2048

[code]

[code]

[2022-06-21 09:09] RakeshMohanMSFT commented on #18595
@spissay https://docs.microsoft.com/en-us/powershell/module/az.resources/get-azmanagementgroup?view=azps-8.0.0#parameters do not support TenantID as a parameter. But you can filter the returned response of the command using PowerShell utilities https://docs.microsoft.com/en-us/powershell/module/microsoft.powershell.utility/?view=powershell-7.2

[2022-06-21 09:10] isra-fel commented on #18494
Got it @cveld , thanks. @BethanyZhou is working on this. We are targeting the July 5th release.

[2022-06-21 11:35] langstonj commented on #18577
We know on our end there is a way to remove/delete the management operations shown in the as this was suggested to me by one of the support engineers and was ultimately performed by a member of the Product Group.

If this is not possible for a regular user because the operation performed is only available to MS personnel , then "yes" the documentation is misleading in suggesting there is a way for

[2022-06-21 12:53] Hooloovoo opened #18650 "Azure Powershell should alias UbuntuLTS as 18.04 to match azure-cli and the API"
### Description

Azure Powershell:
[code]
creates an Ubuntu Server 16.04 LTS instance when the az-cli:
[code]
creates an Ubuntu Server 18.04 LTS instance.

This appears to be because this alias is defined as 16.04 for PowerShell:
https://github.com/Azure/azure-powershell/blob/4668bff1cc4ed6510d9b0d4c6ec289ab27f04241/src/Compute/Compute/Strategies/ComputeRp/Images.json#L42
but as 18.04 for az cli:

[2022-06-21 13:49] PCSshell opened #18651 "Get-AzExpressRoutePortsLocation for location CDC-Canberra-CBR20 hangs and eventually errors out after 15 minutes"
### Description

If you execute "Get-AzExpressRoutePortsLocation -LocationName CDC-Canberra-CBR20" in a PowerShell session, the command hangs for over 15 minutes before it errors out and you cannot stop execution of the command by executing ctrl+c. The only course of action to recover is to close the PowerShell session or wait for the command to error out. This issue is specific to location "CDC-C

[2022-06-21 20:24] VigneshB-AzurePaaS opened #18655 "Keep getting key missing error while using Approve-AzPrivateEndpointConnection."
### Description

Keep getting key missing error while using Approve-AzPrivateEndpointConnection. What is the parameter actually missing here?

Approve-AzPrivateEndpointConnection -Name "privateEndpointName" -ResourceGroupName "resourceGroupName" -ServiceName "storageAccountName"

Is there anything missing or wrong in the way I am giving this request?

![image](https://user-images.githubusercontent

[2022-06-22 01:30] dingmeng-xue commented on #18495
@robinmalik , the link is expired. But no worries. The change is merged into main. The next release is July 5. https://github.com/Azure/azure-powershell/milestones

[2022-06-22 02:21] dingmeng-xue commented on #17005
@ojintoad , integrated console in vs code can be configured by user. Please check which version you are using.

[2022-06-22 05:22] Ellestad1995 commented on #10733
For others stumbling across this.
If you want to assign rbac but don't have any subscriptions. E.g. if you want to assign permissions at scope '/'.
You can use az cli and login with --allow-no-subscriptions.

[code]

[2022-06-22 06:14] BethanyZhou commented on #16854
@obayesshelton , @baldwicc, @jucabot  , To clear the environment, did you meet this issue on Azure Automation Runbooks 7.1?

[2022-06-22 06:35] dingmeng-xue commented on #18639
@VeryEarly , is it possible that we support it?

[2022-06-22 06:38] Xingbin-Li opened #18658 "[Feature]: Need AvailabilityZone parameter for New-AzAksCluster"
### Description of the new feature

As per [official AKS document](https://docs.microsoft.com/en-us/azure/aks/availability-zones#create-an-aks-cluster-across-availability-zones), it is stated that

So we need **AvailabilityZone** parameter for **New-AzAksCluster** as well in order to spread control plane across the available zones when use powershell commands to create the cluster.

### Proposed i

[2022-06-22 06:49] dingmeng-xue commented on #18655
Thanks for contacting us. `Approve-AzPrivateEndpointConnection` supports 2 types of input. You need to either provide resource id of private endpoint connection, or provide name of connection and its `PrivateLinkResourceType`. `PrivateLinkResourceType` indicates resource provider and resource type of connection. We have provided autocompleter to show you possible value.

We need to change PrivateL

[2022-06-22 08:29] #18439 closed

[2022-06-22 13:22] Micael-stack commented on #17503
Still a problem. By the way, AzureRM, it was working nicely so to replace something, it should do all the basic features!

[2022-06-22 13:42] DanielWep opened #18669 "[Feature]: Get-AzWvdSessionHost - Why is no information about the individual session hosts displayed other than the names?"
### Description of the new feature

The ps function "Get-AzWvdSessionHost" has frustrated me because it only shows me the name of the session host (in combination with the name of the hostpool).

Why doesn't it show more information about each session host (status, size, OS, assigned user, drain mode, etc.)? I can get all this information via an API request.

**Powershell:**

PS C:\Users\XXXXX> Ge

[2022-06-22 14:49] dingmeng-xue commented on #14085
@JustinGrote @mabster ,

When `Connect-AzAccount` on behalf a user, user cannot see "approval required" or "permission request" page because Azure PowerShell is the first party app and different from the third party app such as MSGraph PowerShell module. For MSGraph features, as third party app, msgraph module can gradually get consent from user. However, as first party app, Azure PowerShell doesn

[2022-06-22 15:04] dingmeng-xue commented on #18495
My pleasure. Please try below code. Please uninstall Az.Accounts in advance just in case.
[code]

[2022-06-23 01:56] dingmeng-xue commented on #18658
@wyunchi-ms , please help to look into this requirement.

[2022-06-23 02:26] dingmeng-xue commented on #18641
The interest thing is it works in one of my subscription but doesn't work in others. Let me involve service team.

[2022-06-23 02:38] dingmeng-xue commented on #18608
@DavisHenckel , thanks for sharing. You are right that ideally there shouldn't have breaking change across versions. Because we cannot detect the change in assembly, we cannot prevent it happen when we update api version of assembly. Current workaround is just re-order module importing and ensure the correct version is imported. Sorry for inconvenience.

[2022-06-23 03:00] dingmeng-xue commented on #18590
@isra-fel , below recommended wording
[code]

@dcaro , @mikefrobbins FYI.

[2022-06-23 06:51] navba-MSFT commented on #18607
@chrismihm-ms The above PR has been filed and it is currently under review. In the meantime, if you have any questions, please feel free to ask.

[2022-06-23 07:07] VeryEarly opened #18689 "[Feature]: Parameter validation"
### Description of the new feature

analyze parameter name, report illegal characters like white space during static analysis (or build)

### Proposed implementation details (optional)

_No response_

[2022-06-23 08:08] hbuckle opened #18691 "Get-AzResourceLock : NoRegisteredProviderFound"
### Description

Running `Get-AzResourceLock` with the scope set to a role assignment ID returns an error

[code]

### Issue script & Debug output

[code]

### Environment data

[code]

### Module versions

[code]

### Error output

[code]

[2022-06-23 11:24] #18607 closed

[2022-06-23 11:29] #16581 closed

[2022-06-23 12:05] navba-MSFT commented on #18569
@langstonj Thanks for your reply. A failover group in Azure SQL Database can include one or multiple databases.

The [Add-AzSqlDatabaseToFailoverGroup](https://docs.microsoft.com/en-us/powershell/module/az.sql/add-azsqldatabasetofailovergroup?view=azps-8.0.0) PS cmdlet Adds **one or more databases** to a failover group. The databases must not be secondary databases in existing replication relation

[2022-06-23 16:15] dagoroz commented on #18425
This issue has been solved.
vidai pointers unblocked testing

[2022-06-23 16:15] #18425 closed

[2022-06-23 17:14] DavisHenckel commented on #18608
Thanks for pointing me in the right direction on this. Hopefully this will be helpful to others who may encounter the issue. Also thank you for pointing out how `Remove-Module` doesn't work for C# cmdlets.

[2022-06-23 17:14] #18608 closed

[2022-06-23 17:26] jberry777 opened #18696 "[Doc]: Start-AzPolicyComplianceScan; Management Group Scope?"
### Description

This question/feedback is related to the Azure PowerShell cmdlet [Start-AzPolicyComplianceScan](https://docs.microsoft.com/en-us/powershell/module/az.policyinsights/start-azpolicycompliancescan?view=azps-8.0.0). The documentation mentions that calling the cmdlet with no parameters will only evaluate the compliance of the current subscription as the scope. The only scope parameter

[2022-06-23 20:39] pjmvp opened #18700 "Enable-AzCdnCustomDomainCustomHttps - Bad Request (Property 'CustomHttpsParameters.CertificateSourceParameters.CertificateType' is required but it was not set)"
### Description

I'm trying to enable HTTPS in my CDN custom domain. I want it to have a CDN-managed certificate.

I get the Cdn Custom Domain using **Get-AzCdnCustomDomain** and pipe the result to **Enable-AzCdnCustomDomainCustomHttps**.

I pass a hash table to **Enable-AzCdnCustomDomainCustomHttps**' CustomDomainHttpsParameter.

The hash table is defined as:

[code]

But the response is a BadReq

[2022-06-23 21:03] langstonj commented on #18569
***@***.***
The script  errors out, not finding an existing resource group (red error) and that resource group is present.  The high-lighted variable is never referenced which gives me pause for concern.

***@***.***

Not wishing to be impolite, but this is all getting away from the original point about the command Invoke-AzSqlDatabaseFailover not working as documented.
I ran it a second time (PS

[2022-06-23 22:33] bretboss opened #18701 "Connect-AzContinerRegistry writes [docker-credential-desktop][I] set path configuration to OnHost directly to $Error"
### Description

I'm wanting to fail if the connection fails - but using -ErrorAction Stop is not working.  If I exclude -ErrorAction then the script continues even though an error has been put in the $Error variable.

`Connect-AzContainerRegistry -Name [Name] -ErrorAction Stop;`

Execution stops with the following error:
`Connect-AzContainerRegistry : [Date-Time][docker-credential-desktop][I] set

[2022-06-23 23:23] danpousson commented on #6550
hello any updates on allowing context to see multiple/all subscriptions?

[2022-06-24 05:42] aelij opened #18704 "[Feature]: `Install-AzAksKubectl` improvements"
### Description of the new feature

Catch up to `az aks install-cli`:

* Install `kubelogin` in addition to `kubectl` as it will become the default auth provider. From AKS's release notes:

* Change default install location to `/usr/local/bin` and also `chmod +x` both executables

### Proposed implementation details (optional)

_No response_

[2022-06-24 07:16] navba-MSFT commented on #18569
@langstonj Apologies for deviating from your reported issue with [Invoke-AzSqlDatabaseFailover] command. As suggested earlier, did you upgrade your Az.SQL command and test ? I see from the debug output that you are using 3.6 version of Az.Sql module.

I am also discussing this with the Product Owners if there are any known issues with this PS command.

[2022-06-24 08:47] caosborn opened #18707 "Get-AzApplicationInsights errors when passing ResourceId"
### Description

Get-AzApplicationInsights is erroring when passing the ResourceId parameter saying an internal function could not be found.

The expected result would be the Application Insights resource object.

Works as expected when passing the SubscriptionId, ResourceGroupName and Name values extracted from the resource Id value.

### Issue script & Debug output

[code]

### Environment data

[2022-06-24 16:39] navba-MSFT commented on #18569
@langstonj While you follow my above action plan to update your Az.SQL and test again, I wanted to check if you are trying to failover the Geo replica or just want to failover locally?
Did you check on the activity log in the portal for that SQL resource? You should find an entry like the below as an evidence that the failover occurred.

![image](https://user-images.githubusercontent.com/57353862/

[2022-06-24 18:42] langstonj commented on #18569
The attached Word document lists the debug output (showing Module Az.Sql 3.9.0, PSVersion 7.2.4) and several output snippets including one like the one below.  Trying to fail the Geo replica (snippet included reflecting this relationship between databases in the Word doc.)

From: navba-MSFT ***@***.***>
Sent: Friday, June 24, 2022 11:40 AM
To: Azure/azure-powershell ***@***.***>
Cc: John Langston

[2022-06-24 19:25] craiglandis opened #18721 "GenericArguments[0] ... violates the constraint of type 'T' error since PowerShell 7.3.0.5 preview"
### Description

Az.Compute 4.27.0/PS 7.3.0.5 - Get-AzVM, Stop-AzVM, and Start-AzVM always fail with error:

GenericArguments[0], 'Microsoft.Azure.Management.Compute.Models.VirtualMachine', on 'T MaxInteger[T](System.Collections.Generic.IEnumerable`1[T])' violates the constraint of type 'T'.

This issue started after installing PS preview 7.3.0.5 - these cmdlets were working fine on PS preview 7.3

[2022-06-24 20:46] rezarms opened #18722 "Remove-AzADSpCredential doesn't remove credentials"
### Description

I'm using Remove-AzADSpCredential to remove password credentials but it doesn't do anything.
I don't receive any error but when check credentials they are still there.

In debug mode I see it's calling correct API and the body doesn't contain the deleted one.
It’s happened only for an old spn.
For this spn ,keyid for password and certificate is the same.

It seems it can be the AP

[2022-06-25 02:19] adamasmar commented on #15181
Oh boy, I really wish this would work using Azure Powershell. Using Azure CLI as a workaround really doesn't work too well when trying to integrate with other scripts.

In my example, my Microsoft account is linked with my personal e-mail address. It produces a UPN that looks something like
`{my email}_gmail.com#EXT#@{my email}gmail.onmicrosoft.com` with a user type of `Member` on the Azure portal

[2022-06-25 20:59] chaoscreater commented on #16381
Is this ready now, or still being implemented?

[2022-06-25 23:08] JustinGrote commented on #14085
@dingmeng-xue thank you for taking your valuable time for a detailed explanation, it is appreciated, and I hope others find it useful as well.

[2022-06-26 15:17] dingmeng-xue commented on #18701
@VeryEarly , could you help to verify it?

[2022-06-26 15:20] dingmeng-xue commented on #18707
@VeryEarly , please look into this issue.

[2022-06-26 15:22] dingmeng-xue commented on #18722
@VeryEarly , please look into this one.

[2022-06-27 01:56] VeryEarly commented on #18722
please use Remove-AzADAppCredential, these sp credential APIs won't do anything

[2022-06-27 02:05] dingmeng-xue commented on #14085
This feature will be discussed again when Azure PowerShell can work using the 3rd party app id. Closing this request now. Your thought is welcome.

[2022-06-27 02:08] dingmeng-xue commented on #15181
@adamasmar , thanks for contacting us. Please try to use `Get-AzAdUser -SignedIn`. If you still cannot get expected result, please create a Github issue.

[2022-06-27 02:08] #15181 closed

[2022-06-27 02:23] AaronCreighton commented on #18581
This is an access issues. I could not see alert information as I did not have permission in test to see the metrics on the target resource.

To fix, add either reader access to the resource group or "monitoring reader" access to the resource group.

[2022-06-27 02:24] #18581 closed

[2022-06-27 04:16] navba-MSFT commented on #18700
@pjmvp Apologies for the late reply. Thanks for reaching out to us and reporting this issue. We are looking into this issue and we will provide an update.

[2022-06-27 04:18] navba-MSFT commented on #18696
@jberry777 Apologies for the late reply. Thanks for reaching out to us and reporting this issue. We are looking into this issue and we will provide an update.

[2022-06-27 04:25] navba-MSFT commented on #18319
@mrdenny Apologies for the late reply. Thanks for reporting this issue and sharing the feedback. We will create a PR by end of day today to improvise this documentation.

[2022-06-27 06:04] dingmeng-xue commented on #18721
Thanks for reporting. Please share debug log after setting `$DebugPreference = "Continue"`.

[2022-06-27 06:15] #18619 closed

[2022-06-27 06:29] VeryEarly opened #18742 "[Az.RecoveryServices] Typo in RecoveryServices/RecoveryServices.SiteRecovery/Models/PSObjects.cs"
### Description

Properties name "ResourceType" is misspelled:
https://github.com/Azure/azure-powershell/blob/main/src/RecoveryServices/RecoveryServices.SiteRecovery/Models/PSObjects.cs#L75

Please plan to fix it in next major release.

### Issue script & Debug output

[code]

### Environment data

[code]

### Module versions

[code]

### Error output

_No response_

[2022-06-27 06:50] rezarms commented on #18722
The other problem is Get-AzAdAppCrednetial returns empty result but Get-AzAdSpCredential returns correct result.
I also called Remove-AzADAppCredential and it didn't do anything either.
I ran it in debug and found out it calls api to get credentials which is empty.
I think it's related to #16983 and #21195

[2022-06-27 07:25] navba-MSFT commented on #18319
@mrdenny The above PR has been created to address this ask and it is currently under review. In the meantime, if you have any questions please feel free to ask.

[2022-06-27 08:14] VeryEarly opened #18749 "[Cdn] Parameter OptimizationType for New-AzCdnEndpoint mandatory"
### Description

Thanks @jack-cloud-platform catching this bug, parameter OptimizationType for New-AzCdnEndpoint is actually mandatory, please plan to fix this in next major release.
@ChenglongLiu

### Issue script & Debug output

[code]

### Environment data

[code]

### Module versions

[code]

### Error output

_No response_

[2022-06-27 08:23] #18244 closed

[2022-06-27 08:53] #18658 closed

[2022-06-27 12:12] m-soltani commented on #17702
Hi @Team,

Any activity on this ?

[2022-06-27 14:45] KelvinTegelaar opened #18758 "Az.Account and Az.Resources Heavy writes when using on Azure functions/Azure Durable Functions"
### Description

When using Az.Account and Az.Resources on Azure functions, the writes go explosive; a single import-module generates over 500 writes. Azure file shares which Azure functions run have quite expensive writes.

The writes seem to not make any sense as each import it tries to create folders or files that already exist. Included is a screenshot as an example:
![image](https://user-imag

[2022-06-27 14:56] hugocal opened #18759 "The -Tag parameter doesn't work."
### Description

The -Tag parameter doesn't work.

Example:

$UtcTime = Get-Date -Date "2022-06-22 11:15:00Z"

$Database = Get-AzSqlDatabase -ResourceGroupName "rgHCtest" -ServerName "srv-hc-test" -DatabaseName "dbTag05"

$tags = @{"environment"="Prod"; "CostCenter"="00123"; "Team"="Web"}

Restore-AzSqlDatabase -FromPointInTimeBackup -PointInTime $UtcTime.ToUniversalTime() -ResourceGroupName $Data

[2022-06-27 14:59] ishmeet177 opened #18760 "[Doc]: https://docs.microsoft.com/en-us/powershell/module/az.cdn/enable-azcdncustomdomainhttps?view=azps-7.5.0"
### Description

The example 1 mentions below command which has a syntax error.
Enable-**AzCdnCustomDomainHttps** -ResourceGroupName $resourceGroupName -ProfileName $profileName -EndpointName $endpointName -CustomDomainName $customDomainName

Error:
Enable-AzCdnCustomDomainHttps: The term '**Enable-AzCdnCustomDomainHttps**' is not recognized as a name of a cmdlet, function, script file, or executa

[2022-06-27 18:19] dagoroz commented on #14632
Still relevant

[2022-06-27 19:17] SatishBoddu-MSFT commented on #18651
Hello @PCSshell Thanks for reporting this issue.

We need to check if this location ("CDC-Canberra **-CBR20** ") is actually available or not. Please stay tuned on this page for further updates.

[Azure regions to ExpressRoute locations within a geopolitical region.](https://docs.microsoft.com/en-us/azure/expressroute/expressroute-locations#locations)

<img width="436" alt="image" src="https://use

[2022-06-27 19:21] PCSshell commented on #18651
If you perform a Get-AzExpressRoutePortsLocation this location is returned in the results from the Get-AzExpressRoutePortsLocation command.

[2022-06-27 19:23] SatishBoddu-MSFT commented on #18651
Yes, I agree and I too can see the list contains this location "CDC-Canberra -CBR20 ", but the documentation never shows that location and the exclusive Get call on the location ("CDC-Canberra -CBR20 ") is not returning anything....!

[2022-06-27 19:30] dcaro commented on #15575
We should sign the included script and package before making this an official installation method.

[2022-06-27 20:55] sgiddings-kunzleigh opened #18765 "New-AzWebAppSlot -SourceWebApp Bug"
### Description

When running `New-AzWebAppSlot` using a source web app, it creates the new web app fine, but it changes all of the source web app's connection strings to uncheck `DeploymentSlotSetting`.

### Issue script & Debug output

[code]

### Environment data

[code]

### Module versions

[code]

### Error output

_No response_

[2022-06-27 21:49] mikefrobbins commented on #18590
Product short link: [https://go.microsoft.com/fwlink/?linkid=2200610](https://go.microsoft.com/fwlink/?linkid=2200610)

[2022-06-28 00:45] mikefrobbins commented on #18590
Message to use:

WARNING: TenantId '***' contains more than one active subscription. First one has been selected for this session. Use 'Set-AzContext' to select another subscription or 'Update-AzConfig -DefaultSubscriptionForLogin ***' to set the current subscription as default. Go to https://go.microsoft.com/fwlink/?linkid=2200610 for more information.

[2022-06-28 00:47] BethanyZhou commented on #15575
The script has already been signed. And we calculate SHA256 of Az-Cmdlets-x.x.x.tar.gz to allow customer verify the tarball.

[2022-06-28 01:19] iotmani commented on #13143
Hello,

I had the same issue. I can see this was closed but not sure if it's invalid to have `expressionEvaluationOptions` in this situation.

My deployment which worked only by moving the URI from a variable definition:
CorrelationId: 8575d73f-851f-4d27-998b-613f067d96d4

Regards,
IO.

[2022-06-28 02:15] #16777 closed

[2022-06-28 02:17] #18350 closed

[2022-06-28 02:17] #18707 closed

[2022-06-28 03:17] navba-MSFT commented on #18691
@hbuckle Apologies for the late reply. Thanks for reaching out to us and reporting this issue. We are looking into this issue and we will provide an update.

[2022-06-28 04:28] navba-MSFT commented on #18569
@langstonj Could you please share the word doc in this github thread ? Seems like the attachment from your email didn't make it in my inbox.

[2022-06-28 04:38] navba-MSFT commented on #18696
@jberry777 It is not possible to trigger the policy compliance scan at a management group level through PS/CLI/API. This is **by design** due to the amount of time it takes for a management group scan to kick off and complete. Hope this answers. Please feel free to reopen this thread if you need any further assistance on this.

[2022-06-28 04:38] #18696 closed

[2022-06-28 04:46] #18590 closed

[2022-06-28 04:47] navba-MSFT commented on #18700
@pjmvp Could you please try this ?

[2022-06-28 05:04] #18321 closed

[2022-06-28 05:25] #18494 closed

[2022-06-28 08:17] navba-MSFT commented on #18691
@hbuckle Could you please run the below command in order and check if that helps? Awaiting your reply.

[2022-06-28 08:27] JerryZhangMS opened #18777 "New-AzPolicyDefinition document error"
### Description

https://docs.microsoft.com/en-us/powershell/module/az.resources/new-azpolicydefinition?view=azps-8.0.0#example-1-create-a-policy-definition-by-using-a-policy-file

In the above document, first example description, it's like:
_Three file content formats are supported:

- Policy rule only (example above).
- Policy properties object. This format is displayed in the portal when editin

[2022-06-28 10:11] obayesshelton commented on #16854
On both @BethanyZhou

[2022-06-28 12:06] AdamFields1 opened #18781 "AZ Module does not find the class module when trying to execute Update-AzRoleManagementPolicy cmdlet"
### Description

I am trying to update Azure PIM role policy settings with Update-AzRoleManagementPolicy since this seems easier than working with ARM templates. However, when I go to execute the examples found here https://docs.microsoft.com/en-us/powershell/module/az.resources/update-azrolemanagementpolicy?view=azps-8.0.0 they do not work and throw an error that the class RoleManagementPolicyExp

[2022-06-28 12:31] jan-isacsson opened #18782 "[Doc]:"
### Description

I the Azure CLI documentation all CLI commands should have a comment showing which permissions are required for executing the command. Otherwise it is impossible to write CustomBuilt Roles to be used in a real RBAC implementation.

//Thanks Jan

[2022-06-28 15:33] diecknet commented on #16381
Should be available in newer Az.Compute versions. Not sure since when, but I had 4.26.0 installed and the parameter is available.

[2022-06-28 15:35] ppaschedag opened #18783 "Get-AzAutomationJob (Az.Automation 1.7.3): Conversion from JSON failed with error: Unexpected character encountered while parsing value"
### Description

`Get-AzAutomationJob` fails on the latest version of Az.Automation with an error about JSON parsing. This error is identical to #15707 which was closed without actually resolving the issue, we have seens this issue for months and on all machines that I have tried it on (5+)

This error happens on windows 11 while using PowerShell 7. However Get-AzAutomationJob works correctly when

[2022-06-28 17:09] TheSirLan opened #18784 "Get-AzActivityLog - Logs missing for activity initiated by an MSI."
### Description

When running Get-AzActivityLog, I noticed that logs are missing which are visible within the portal.

After looking into this, I noticed that all of the logs that are missing from the CMDlet output are all initiated by one of my MSI's (This is attached to one of my Azure Functions). All other activity initiated by users show as expected.

Example command:
[code]

I get an output l

[2022-06-28 17:16] jgscherber opened #18785 "[Doc]: Document available options for -Environment flag of Connect-AzAccount"
### Description

I can't find where the options for the -Environment flag of Connect-AzAccount are listed. I've only been able to find a couple of the options through other MS docs ([for example](https://docs.microsoft.com/en-us/azure/azure-government/documentation-government-get-started-connect-with-ps))

Is there a list anywhere with all the options? Or a command to retrieve possible options?

T

[2022-06-28 17:44] Drewm3 commented on #18650
@jaylabell, could you please work with the dev team to get this alias updated to Ubuntu 20.04 LTS which should be the current LTS to be using for the Ubuntu alias.

[2022-06-28 19:43] PICBrahma opened #18787 "Get-AzRecoveryServicesBackupProtectionPolicy"
### Description

Using v5.4 Az.RecoveryServices module

Get-AzRecoveryServicesBackupProtectionPolicy

FullBackupRetentionPolicy.MonthlySchedule.RetentionScheduleType nor FullBackupRetentionPolicy.YearlySchedule.RetentionScheduleType cannot be expressed programmatically with PowerShell even though it has a value.

As in the following;

 $VaultPoliciesList.FullBackupRetentionPolicy.MonthlySchedule.R

[2022-06-28 19:47] PICBrahma commented on #18787
$PolicySchedule =  Get-AzRecoveryServicesBackupProtectionPolicy -VaultId $Vault.Id | select-object -ExpandProperty FullBackupRetentionPolicy output:

IsDailyScheduleEnabled   : True
IsWeeklyScheduleEnabled  : True
IsMonthlyScheduleEnabled : True
IsYearlyScheduleEnabled  : True
DailySchedule            : DurationCountInDays: 30, RetentionTimes: {6/28/2022 9:00:00 PM}
WeeklySchedule           : Dura

[2022-06-28 20:42] #18577 closed

[2022-06-28 21:47] nikhilpatel909 commented on #16936
@SirMrDexter , Were you able to resolve the issue using above commands provided?

[2022-06-29 03:22] navba-MSFT commented on #18182
@bdschaap Apologies for the late reply. Thanks for reaching out to us and reporting this issue. We are looking into this issue and we will provide an update.

[2022-06-29 03:31] navba-MSFT commented on #18562
@cveld Apologies for the late reply. Thanks for reaching out to us and reporting this issue. We are looking into this issue and we will provide an update.

[2022-06-29 06:04] navba-MSFT commented on #18562
@cveld I have 2 actions plans to isolate this issue:

Plan 1:
Could you please grant the right permissions to the certificate in key vault then test it again?

Plan 2:
If the above plan doesnt help, could you download the same certificate from keyvault to your local machine and then run the below command ?

Awaiting your reply.

[2022-06-29 07:43] Rusty-Shackleford opened #18810 "Listing all groups for a user?"
### Description

I have had terrible luck searching for any way to do this with the Az module.  Plenty of help for the AzureAD module, but I understand that's essentially dead and I don't want to touch it for all the dire warnings found in Microsoft's documentation.  Unclean!

I don't see a command that would provide this data at all other than iterating every single group in the directory and loo

[2022-06-29 12:44] dingmeng-xue commented on #18758
@isra-fel , does it relate to configuration? If yes, can user disable it?

[2022-06-29 12:45] dingmeng-xue commented on #18759
Route to support team to look into it.

[2022-06-29 12:47] dingmeng-xue commented on #18760
Involve CXP team to look into it.

[2022-06-29 12:48] dingmeng-xue commented on #18765
Involve CXP team to look into it.

[2022-06-29 12:57] dingmeng-xue commented on #18777
Involve CXP team to look into it.

[2022-06-29 13:06] dingmeng-xue commented on #18782
@jan-isacsson , could you give us couple cmdlet names? The permission varies per service. There is no easy way to show that. We only can resolve it one by one.

[2022-06-29 13:10] dingmeng-xue commented on #18784
Thanks for reporting. Could you provide a list of steps to help us create the similar environment? We need to look into their API call to understand the root cause.

[2022-06-29 16:23] jberry777 commented on #18696
Thanks for the response @navba-MSFT! That makes sense for limiting from PS/CLI/API. Does that imply that it is possible through the Azure Portal?

My use case is that I've defined a policy in a customer tenant and assigned it at the root management group level. The policy registers subscriptions to our Azure Lighthouse offering and is configured with "deployIfNotExists" as well as a remediation ta

[2022-06-29 17:04] robinmalik commented on #18495
Thanks. I'll test this tomorrow when a colleague returns.

[2022-06-29 18:09] SatishBoddu-MSFT commented on #18759
Hello @hugocal Thanks for reaching out to us.

Could you please let us know the exact documentation link which you have referred for this command and the parameters?

[2022-06-29 18:53] SatishBoddu-MSFT commented on #18651
Hello @PCSshell Thanks for asking this query.

We have got a confirmation on this issue!

_CBR20 is not a valid location. Below are the ER D locations for Canberra and Canberra2._

**CDC-Canberra
CDC-Canberra2**

Get call will be fixed soon.

[2022-06-29 19:30] langstonj commented on #18569
[FailoverMessages20220624.docx](https://github.com/Azure/azure-powershell/files/9013633/FailoverMessages20220624.docx)

[2022-06-29 19:30] langstonj commented on #18569
closed inadvertently.

[2022-06-29 19:32] langstonj commented on #18569
It's there.

From: navba-MSFT ***@***.***>
Sent: Monday, June 27, 2022 11:29 PM
To: Azure/azure-powershell ***@***.***>
Cc: John Langston ***@***.***>; Mention ***@***.***>
Subject: Re: [Azure/azure-powershell] [Doc]: Invoke-AzSqlDatabaseFailover (Issue #18569)

Warning: This email was sent from a source external to eLynx Technologies. Please use caution when opening attachments or clicking links.

[2022-06-29 21:49] hugocal commented on #18759
Hello,

This is the official documentation:

https://docs.microsoft.com/en-us/powershell/module/az.sql/restore-azsqldatabase?view=azps-8.0.0

***@***.***

***@***.***

Best Regards,

Hugo Calzada

Support Engineer
Data & Enterprise Cloud Team
Customer Service & Support

Office: +34 (91) 3919301
***@***.******@***.***>
Working Hours: Mon-Fri: 9:00-18:00h / Fri: 9:00-15:00h (CEST-UTC+2)
***@***.***

[2022-06-30 01:51] dingmeng-xue commented on #18787
Involve CXP team to look into it.

[2022-06-30 02:38] dcaro commented on #17742
It makes sense to bring parity across the tools. Let's add this feature.

[2022-06-30 02:39] VeryEarly commented on #18722
Hi @rezarms ,

Can you describe how Get-AzADAppCredential doesn't work? Just ran a quick test and it worked for me:
[code]

[2022-06-30 05:37] navba-MSFT commented on #18319
The above PR has been merged now. Closing this thread for now.

[2022-06-30 05:37] #18319 closed

[2022-06-30 07:06] rezarms commented on #18722
I already raised the issue for Get-AzADAppCredential.
It's the Graph api bug  in both Azure AD graph and Microsoft graph.
I'm not saying for all apps it doesn't work.
For some apps it doesn't return anything so I should use Get-AzAdSpCredential but after renewing the secrets Get-AzAdSpCredential works.

[2022-06-30 07:06] navba-MSFT commented on #18569
@langstonj I had a look at the word doc which you had shared. Since you are trying to fail the Geo-replica then the PS command you are using may not help here. `Invoke-AzSqlDatabaseFailover` is for testing failover within database’s local high-availability replicas.

Here is the right docs:
https://docs.microsoft.com/en-us/powershell/module/az.sql/set-azsqldatabasesecondary?view=azps-8.0.0#example

[2022-06-30 09:22] dolauli commented on #18781
I think we will need to add the namespace to make it work.
[code]

[2022-06-30 09:23] navba-MSFT commented on #18691
@hbuckle Thanks for the update. The above PR is also merged now to use the version'2017-04-01' for the locks.
Did you also test using the [az lock list](https://docs.microsoft.com/en-us/cli/azure/lock?view=azure-cli-latest#az-lock-list) CLI command or [az lock show](https://docs.microsoft.com/en-us/cli/azure/lock?view=azure-cli-latest#az-lock-show) CLI command and check if that works ?

[2022-06-30 09:32] KenSpur commented on #16539
Hey, I have also noticed that the Get-AzNetworkServiceTag function does not return the region specific tags for LogicApps

[2022-06-30 09:34] isra-fel commented on #18758
Hi @KelvinTegelaar , have you been experiencing the same issue on previous versions of Azure PowerShell (Az.Accounts)?

[2022-06-30 16:26] robinmalik commented on #18495
@dingmeng-xue After testing some working code on a development system with your patched module, we moved the code to the production system using the standard unpatched module and it worked. No patch needed for us then, in this case. Thanks for your help.

[2022-06-30 17:06] langstonj commented on #18569
[FailOverMessages20220630.docx](https://github.com/Azure/azure-powershell/files/9021923/FailOverMessages20220630.docx)

[2022-06-30 19:44] ohadschn commented on #18142
@dingmeng-xue this doesn't work for built-in environments:

Set-AzEnvironment: **Cannot change built-in or discovered environment AzureCloud.**

I guess we can duplicate the environments but that won't be ideal...

[2022-06-30 19:59] Luiz-Monad opened #18846 "Internal Server Error when using Enable-AzAksAddOn"
### Description

I'm converting a script from `az` to `az module`

<details>
  <summary>Creating the cluster</summary>

[code]

</details>

This script bellow works.
[code]

This doesn't work. Both should produce the same result.
[code]

### Script or Debug output

[code]

### Environment data

[code]

### Module versions

[code]

### Error output

[code]

[2022-06-30 20:23] jaylabell commented on #18440
@vivlingaiah This item has been added to the CPlat PS backlog. Thank you.

[2022-06-30 20:32] jaylabell commented on #18650
Dev team has been notified

[2022-06-30 20:39] jaylabell commented on #17683
@tanmaygore can you please take a look into this issue?

[2022-06-30 22:20] InformTechPro opened #18849 "Remove-AzSqlInstanceDatabase : Long running operation failed with status 'Forbidden'" error."
### Description

When running "Remove-AzSqlInstanceDatabase -Name ..."  seeing "Remove-AzSqlInstanceDatabase : Long running operation failed with status 'Forbidden'" error. The database does get removed, but we do not log completed message in the Azure Activity Log (only started and accepted) . The command is using managed identity that has SQL Managed Instance Contributor role to the resource gro

[2022-07-01 01:04] pdhimate opened #18851 "[Doc]: How do you specify "anyOf" condition?"
### Description

The ARM template suppports a nested **_anyof_**  condition as shown below. How do we set it if we are to use **_New-AzActivityLogAlertCondition_**

![image](https://user-images.githubusercontent.com/1121826/176802517-cf8c526e-41ea-43d9-b5f9-fb658bfe5a49.png)

[2022-07-01 02:46] ziyuezh576 commented on #17656
Hello. Your command is correct, but the content in your portal.txt is used for -DashboardPath parameter. The JSON, which would be converted to Hashtable, then to IDashboardPropertiesLenses automatically, should be like this.

[code]

[2022-07-01 04:02] navba-MSFT commented on #18569
@langstonj Thanks for getting back and sharing the docx file again.

Regarding your error related to resource group, this seems to be due to not selecting the _right subscription_ context. Could you please run either of the below command to set your right Subscription ID before you execute the PS script.

Awaiting your reply.

[2022-07-01 04:25] langstonj commented on #18569
[FailOverMessage20220630_2.docx](https://github.com/Azure/azure-powershell/files/9025061/FailOverMessage20220630_2.docx)

[2022-07-01 04:34] langstonj commented on #18569
This author appears to have solved the "issue":

https://rahulrandive09.medium.com/error-40926-the-operation-cannot-be-performed-because-the-geo-replication-link-is-part-of-a-bdbe51bed773

1) Remove the database from the FG then run the commands
2) Failover the entire group

Will try in the morning...

[2022-07-01 04:35] navba-MSFT commented on #18569
@langstonj  Thanks for getting back and sharing the update. Please monitor and let us know if you face any issues. We would be happy to help.

[2022-07-01 05:01] navba-MSFT commented on #18700
@pjmvp I wanted to do quick follow-up to check if you had a chance to look at my above comment. Please let us know if you need any further assistance on this. Awaiting your reply.

[2022-07-01 06:17] Khurshied opened #18855 "[Feature]: Multiple resource group deletions with -Force option"
### Description of the new feature

While azure deletes the resource groups sequentially when invoked through the command - Get-AzResourceGroup | Remove-AzResourceGroup, it prompts for confirmation for each resource group.  We need to have a command to Force delete all resource groups in a single command.

### Proposed implementation details (optional)

_No response_

[2022-07-01 06:37] isra-fel opened #18856 "[Eng]: Remove the warning messages for MSGraph migration"
### Description

We have added these warning messages since Az 7.0 for MSGraph migration. It's time to remove them.

[code]

[2022-07-01 06:47] Khurshied commented on #18855
I tried the commmand :Get-AzResourceGroup | Remove-AzResourceGroup -Force . Official docs(https://docs.microsoft.com/en-us/powershell/module/az.resources/remove-azresourcegroup?view=azps-8.0.0#example-2-remove-a-resource-group-without-confirmation) does not mention it exclusively

[2022-07-01 06:47] #18855 closed

[2022-07-01 07:21] dingmeng-xue commented on #18846
@Luiz-Monad , thanks for reporting issue. Could you help to share the output of cli script execution?

[2022-07-01 17:37] cutecycle opened #18858 "Implicit calls to AAD/Graph APIs in multiple modules"
### Description

There seem to be a few modules involving Azure Resources-based role assignments that end up implicitly making calls to AAD/graph to read/validate the display name of a Principal.

But this isn't necessary in many cases: specifically, when there is a service principal or identity that hasn't been given "Read.All" on a directory,but does have the objectId. It seems somewhat common:

[2022-07-01 18:24] langstonj commented on #18569
[FailOverMessages_20220701.docx](https://github.com/Azure/azure-powershell/files/9030932/FailOverMessages_20220701.docx)

[2022-07-01 18:27] langstonj commented on #18569
The Word doc contains my latest attempt and a recent link whose author appears to have gone down the path I have attempted to go down.  Sorry I did not find their work sooner.

Hopefully you'll be able to examine it as they received the same error I did (40926).

[2022-07-01 18:36] JAK-Insight opened #18859 "Version Information for Sentinel Analytics not Available When Using Az.SecurityInsights Module"
### Description

Microsoft recently (last 6 months) started versioning analytic rule templates, in an effort to provide updates to the rules when available.  This attribute is not visible to the powershell module Az.SecurityInsights.  Viewing the version is not possible, and deployed rules with the module omit this attribute.  This breaks the newly introduced functionality in Sentinel to streamlin

[2022-07-01 19:23] langstonj commented on #18569
I removed the sqldb3091 database from the failover group and was able to execute the two commands which made North Central  database primary, the South Central version secondary.  An UPDATE in the North Central database was successful and failed in South Central (message was the database was read-only).  Ran the commands again to revert to original relationship.

**My conclusion is that I am not a

[2022-07-01 23:29] pjmvp commented on #18700
@navba-MSFT, thanks for reaching out.

It works when I run it locally (my laptop).

- The fact that one can/should use 'New-AzCdnManagedHttpsParametersObject' is not [properly documented.](https://docs.microsoft.com/en-us/powershell/module/az.cdn/enable-azcdncustomdomaincustomhttps?view=azps-8.0.0)

However, if I **run it in Azure DevOps**, using the AzurePowerShell@5

[code]

it fails with

Sound

[2022-07-02 05:28] #18691 closed

[2022-07-02 06:55] dcaro commented on #18758
@KelvinTegelaar there is a chance that this issue is related to https://github.com/Azure/Azure-Functions/issues/1307 and https://github.com/Azure/Azure-Functions/issues/2231
We are monitoring this with the functions team and please provide the information asked in the previous comment.

[2022-07-04 03:01] navba-MSFT commented on #18182
@bdschaap Apologies for the late reply. This Azure powershell command does is that it imports (creates) a cert on Azure SQL Managed Instance for the purpose of using two functinalities - MI link and MI service broker.

Could you please provide the answers to my below questions ?

•	Could you please let me know what is your use case ? what are you trying to accomplish ?
•	For which feature/function

[2022-07-04 03:29] navba-MSFT commented on #18562
@cveld I wanted to do quick follow-up to check if you had a chance to look at my above comment. Please let us know if you have tried the above suggesstion. Awaiting your reply.

[2022-07-04 03:46] navba-MSFT commented on #18569
@langstonj [This](https://docs.microsoft.com/en-us/azure/azure-sql/database/active-geo-replication-overview?view=azuresql#preparing-secondary-database-for-failover) articles talks about this issue.

[2022-07-04 04:20] langstonj commented on #18569
Yes, I figured that out and confirmed it. Thank you.

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: navba-MSFT ***@***.***>
Sent: Sunday, July 3, 2022 10:47:00 PM
To: Azure/azure-powershell ***@***.***>
Cc: John Langston ***@***.***>; Mention ***@***.***>
Subject: Re: [Azure/azure-powershell] [Doc]: Invoke-AzSqlDatabaseFailover (Issue #18569)

Warning: This emai

[2022-07-04 04:21] navba-MSFT commented on #18569
@langstonj Thanks for getting back. We will now proceed with closure of this GitHub issue. If you need any further assistance on this issue in future, please feel free to reopen this thread. We would be happy to help.

[2022-07-04 04:21] #18569 closed

[2022-07-04 11:04] #18112 closed

[2022-07-05 04:16] dingmeng-xue commented on #18859
Involve CXP team to look into it.

[2022-07-05 04:43] dingmeng-xue commented on #18858
Hi @cutecycle , thanks for raising the questions.

Cmdlets have been implemented by multiple teams. Developer hope to provide convenience to end user but may not consider all scenarios. For instance, creation of dummy object requires a service principal. Its cmdlet design contains below scenarios:

* New-AzDummy -name <> -sp <GUID>
  * MSGraph call is not required if client doesn't want to validat

[2022-07-05 05:14] VeryEarly commented on #18328
available now: https://review.docs.microsoft.com/en-us/powershell/module/az.cdn/new-azfrontdoorcdnsecuritypolicy?view=azps-8.1.0&branch=CI

[2022-07-05 05:14] #18328 closed

[2022-07-05 05:16] VeryEarly commented on #17185
fixed in #18324

[2022-07-05 05:16] #17185 closed

[2022-07-05 08:32] Kotasudhakarreddy commented on #18765
looking in to it

[2022-07-05 09:31] Kotasudhakarreddy commented on #18765
@sgiddings-kunzleigh If I understand the issue correctly, you have connections strings marked as `Deployment slot settings` in the source app. But the `Deployment slot settings` property of the source app was unchecked after the slot creation. please correct me if my understanding is incorrect.

[2022-07-05 10:56] navba-MSFT commented on #18700
@pjmvp Could you please ensure that you are using Azure Powershell task and not plain powershell task? Did you try with the Azure Powershell Script:Inline task ? Awaiting your reply.

[2022-07-05 13:35] sgiddings-kunzleigh commented on #18765
Yes, we have a production app that has the production slot and staging slot. When we deploy code, we delete the staging slot and recreate it with `New-AzWebAppSlot -SourceWebApp` with the source being the production slot. The production slot does indeed have `deployment slot settings` checked on the production slot. When the command is run to create the staging slot, it unchecks the `deployment sl

[2022-07-05 14:10] igorjanevski commented on #11205
@ms-premp any update on this issue?
we experience the same thing.. using AAD user for authentication, but both Az CLI and Powershell fail with the same error:

[code]
even-though the user has Owner role.

[2022-07-05 16:57] Kotasudhakarreddy commented on #18765
Thanks for the clarification. It helps me to understand the issue better.

[2022-07-05 18:07] pjmvp commented on #18700
@navba-MSFT, I am indeed using the Azure PowerShell task (`AzurePowerShell@5`, as shown in my previous comment's code snippet), which reads the script content from a **.ps1** file specified in ScriptPath.

However, `New-AzCdnManagedHttpsParametersObject` doesn't seem to be available in that task. I'd imagine the task is using an older version of Azure PowerShell (e.g. 7.5.0) which doesn't have tha

[2022-07-05 22:26] SaurabhSharma-MSFT commented on #18760
@ishmeet177 Enable-AzCdnCustomDomainHttps is older version available for `Az Powershell 7.5.0 version` whereas `Enable-AzCdnCustomDomainCustomHttps` is newer version.
Please refer to the below documentations
- [Az.Cdn - 7.5.0](https://docs.microsoft.com/en-us/powershell/module/az.cdn/enable-azcdncustomdomainhttps?view=azps-7.5.0)
- [Az.Cdn - 8.1.0](https://docs.microsoft.com/en-us/powershell/modul

[2022-07-06 03:05] benoithamet opened #18873 "No MSI package for Azure PowerShell 8.1.0?"
### Description

Hi team

you used to provide an MSI package to deploy Azure PowerShell modules but the latest release - 8.1.0 - does not provide it
are you getting ride of the MSI package?
this is quite useful to deploy on managed devices with SCCM and/or Intune
thanks

### Script or Debug output

_No response_

### Environment data

_No response_

### Module versions

_No response_

### Error ou

[2022-07-06 03:29] navba-MSFT commented on #18182
@bdschaap Could you please look into the above questions and get back to me with the answers ? That will help us in assisting you better. Awaiting your reply.

[2022-07-06 06:31] BethanyZhou commented on #18251
Hi @odegroot , thank you for reporting. I have updated the example with a more concise way. Please have a try.

[2022-07-06 07:13] #18251 closed

[2022-07-06 07:25] adityabalaji-msft commented on #16636
It is not available in CLI unfortunately. Will update this thread once the issue is fixed in PS

[2022-07-06 07:25] adityabalaji-msft commented on #16850
Awaiting user response

[2022-07-06 09:03] BethanyZhou commented on #18782
@jan-isacsson haven't found an API similar with `***@***.***/resource/subscriptions/0000/resourceGroups/0000/providers/Microsoft.KeyVault/vaults/0000/networking`. Could you provide more information like cli documentation, cli command or PowerShell command to identify a specific command?

[2022-07-06 10:08] johnsrsly opened #18880 "Import-AzApiManagementApi: AuthorizationServerId is reset when importing an API."
### Description

Step 1: Run New-AzApiManagementApi and specify -AuthorizationServerId. Authorization is set as expected.
Step 2: Run Import-AzApiManagementApi. Authorization is being set to null.

I would expect the import to not have any effect on the AuthorizationServerId, since i cannot specify it in the parameters of Import-AzApiManagementApi.

### Issue script & Debug output

[code]

### Env

[2022-07-06 12:13] dingmeng-xue commented on #18873
@VeryEarly , please check pipeline and upload all required artifacts to Github release.

[2022-07-06 12:20] VeryEarly commented on #18873
Hi @benoithamet ,
Thanks for noticing, please check updated release:
https://github.com/Azure/azure-powershell/releases/tag/v8.1.0-July2022

[2022-07-06 12:30] bdschaap commented on #18182
Sorry for the delay.  I suspect my use case is different than the intended use case of this feature.  I was trying to get a SQL CLR function hosted on MI to access a https endpoint on our private network but receiving an error message stating that it didn't trust the certificate.

[2022-07-06 12:35] bdschaap commented on #18182
Probably not unless you think there is a way to cover my use case as well using this feature.  Otherwise, the issue can be closed.

[2022-07-06 12:48] navba-MSFT commented on #18182
@bdschaap Could you paste that error message in this GitHub thread ? That will help us to assist you better.

[2022-07-06 15:34] KingBain opened #18884 "Note parameter for New-AzADServicePrincipal does not set Note field in Enterprise App"
### Description

When creating a new SPN account using the powershell modules. Setting the -Note parameter does not translate to the note field being set in the Enterprise Application. |

$spn = New-AzADServicePrincipal -DisplayName "Fish Sauce" -Note "FishSauce note" -Description "FishSauce description"

DisplayName Id                                   AppId
----------- --

[2022-07-06 16:20] Nickcandy commented on #18701
@bretboss Hi, do you mean after the log in "Issue script & Debug output", you can still see "Login Succeeded"? Cause I don't see "login succeed" in the log.

[2022-07-06 17:26] Francisco-Gamino commented on #18563
This issue has been fixed.

[2022-07-06 17:26] #18563 closed

[2022-07-06 18:21] dalehhirt opened #18887 "New-AzResourceGroupDeployment -WhatIf does not act the same as New-AzDeployment -Whatif"
### Description

When deploying a subscription-based deployment via New-AzDeployment -Whatif, the following is a sample of what is generated:

[code]

When deploying to a resource group using New-AzResourceGroupDeployment -Whatif, the following results:

[code]

I don't know if this is a bug or a feature request.

### Issue script & Debug output

[code]

### Environment data

[code]

### Module ve

[2022-07-06 21:52] benoithamet commented on #18873
thanks team
all good now

[2022-07-06 21:52] #18873 closed

[2022-07-06 23:23] maxserg commented on #18641
Confirm, I'm experiencing the same issue. Btw where can we get a full list of supported providers?

[2022-07-07 02:23] dingmeng-xue commented on #18887
Hi @dalehhirt , when you execute `New-AzResourceGroupDeployment -WhatIf`, cmdlet should call `\whatif` API to validate your input. The output should not like you posted. Could you share what parameters and values you are using?

[2022-07-07 02:26] dingmeng-xue commented on #18884
@KingBain , thanks for reporting. According to the UI of portal, note value is set to application. Could you try `New-AzADApplication`?

[2022-07-07 02:38] dalehhirt commented on #18887
Here's an example command line:

[code]

I am using Deploy-AzTemplate.ps1 from here: https://github.com/Azure/azure-quickstart-templates/blob/master/Deploy-AzTemplate.ps1

After looking at the script, I realize that it calls -Force.  If I remove that flag, then it does the right thing.

Closing as it's a different issue.

[2022-07-07 02:38] #18887 closed

[2022-07-07 04:02] navba-MSFT commented on #18204
@OrlandoAMunoz Apologies for the late reply. Thanks for reaching out to us and reporting this issue. We are looking into this issue and we will provide an update.

[2022-07-07 04:49] navba-MSFT commented on #18562
@cveld The action is pending on you to follow the above suggestion and get back to us with an update. We will now proceed with closure of this GitHub issue. If you need any further assistance on this issue in future, please feel free to reopen this thread. We would be happy to help.

[2022-07-07 04:49] #18562 closed

[2022-07-07 04:58] navba-MSFT commented on #18700
@pjmvp The command is introduced in Az PowerShell 8.0, that might explain why this command couldn't be find in AzurePowerShell@5 task.

You could actually specify the target Azure PowerShell version in the task: [[https://docs.microsoft.com/en-us/azure/devops/pipelines/tasks/deploy/azure-powershell?view=azure-devops]](https://docs.microsoft.com/en-us/azure/devops/pipelines/tasks/deploy/azure-power

[2022-07-07 08:03] #18457 closed

[2022-07-07 08:12] navba-MSFT commented on #18204
@OrlandoAMunoz Could you please test with the below command and check:

$vmSecurityProfile = Set-AzVmSecurityProfile -VM $VM -SecurityType "TrustedLaunch"
$vmSecurityProfile.SecurityProfile

The first command gets the virtual machine named ContosoVM07 by using Get-AzVm. The command stores it in the $VM variable. The second command sets the SecurityType enum to "TrustedLaunch"

Please test this and

[2022-07-07 09:09] OrlandoAMunoz commented on #18204
Hi,

It is not clear on the documentation that once you apply -SecurityType "TrustedLaunch", you cannot revert it back to -SecurityType "None".
It is a one way road.
There's no going back.

It was not clear to the customer why using the -SecurityType "None" after enabling "TrustedLaunch" was not possible.
The note I was asking is to clarify this, so the customer doesn't ask why he has to recreate

[2022-07-07 09:18] navba-MSFT commented on #18204
@OrlandoAMunoz Thanks for getting back. I am able to switch between SecurityType "TrustedLaunch" to "None" and vice versa. See below:

![image](https://user-images.githubusercontent.com/57353862/177738103-8dc303a7-9da8-4df8-9aa6-5daaacc5a639.png)

If it is failing for the customer, then ensure that they are using the most recent version of the [Az.Compute ](https://www.powershellgallery.com/packag

[2022-07-07 09:42] OrlandoAMunoz commented on #18204
Hi,

That setting will show ok ("None"), but try to open the VM again and look at the setting.
You will see the setting reverted back to TrustedLaunch.

Kind regards,

Orlando Muñoz
Support Engineer
Microsoft Azure Technical Support
Customer Service and Support
Office: +351 (21) 0491844
***@***.******@***.***>
Working hours: Mon-Fri, 8:30 - 17:30 UTC+1
If you need to work with another Support Engi

[2022-07-07 10:12] navba-MSFT commented on #18204
@OrlandoAMunoz The "None" value doesn't seem to be applicable here as the accepted value for the **SecurityType** should be  either of the below:

Name | Type | Description
-- | -- | --
**ConfidentialVM** | string |  
**TrustedLaunch** | string

Did you check if these settings persists after running the command ? Awaiting your reply.

More Info [here](https://docs.microsoft.com/en-us/rest/api/comp

[2022-07-07 10:20] OrlandoAMunoz commented on #18204
Hi,

From https://docs.microsoft.com/en-us/powershell/module/az.compute/set-azvmsecurityprofile?view=azps-7.5.0

***@***.***
A note should be added stating this is irreversible.
That way the customer wouldn’t open a case asking how can they revert 😉

Kind regards,

Orlando Muñoz
Support Engineer
Microsoft Azure Technical Support
Customer Service and Support
Office: +351 (21) 0491844
***@***.******

[2022-07-07 13:29] dingmeng-xue commented on #18887
Thanks for sharing.

[2022-07-07 16:36] jfitch11 opened #18896 "Publish-AzWebApp reports deployment failure, Portal/Kudu reports successful deployment"
### Description

When performing a zip deploy via `Publish-AzWebApp `the cmdlet reports a deployment failure however the Deployment Center on the Azure Web App reports a success (and I confirmed my code updated sucessfully). `Publish-AzWebApp` is run following an ARM template deployment of the web app + appsettings + connectionstrings

### Issue script & Debug output

[code]

### Environment data

[2022-07-07 21:37] ShikeChen-MS opened #18900 "Start-AzImageBuilderTemplate still throw error and end the script even -ErrorAction SilentlyContinue is specified"
### Description

I am writing a powershell script to automating the Azure Image Builder template creation and image building process. My intention is after executing Start-AzImageBuilderTemplate (synchronously), whenever the image building fails, the Powershell would not throw the exception and carry on executing the rest of script, hence, I specified -ErrorAction SilentlyContinue, but it doesn't

[2022-07-07 23:24] SaurabhSharma-MSFT commented on #18849
@InformTechPro Did you try creating an Azure support case from Azure portal, so that an engineer can look into your backend logs to identify the cause ?

[2022-07-08 03:18] InformTechPro commented on #18849
@SaurabhSharma-MSFT we noticed that the command was accessing Resource Group/Providers/Microsoft.sql/locations... when double checking permissions realized that the role was assigned at the resource and not the resource group. Once we made sure that the account had SQL Managed Contributor role at the Resource Group, the command worked ok. Thank you for looking into it!

[2022-07-08 03:41] navba-MSFT commented on #18700
@pjmvp Thanks for getting back. I am glad that the issue is addressed. I will create a PR to enhance [this](https://docs.microsoft.com/en-us/powershell/module/az.cdn/enable-azcdncustomdomaincustomhttps?view=azps-8.0.0#description) documentation.

[2022-07-08 04:23] navba-MSFT commented on #18700
@pjmvp Seems like the fix for the examples has been committed already. see [here](https://github.com/Azure/azure-powershell/commit/6b2487b93576d5b86f82ab050a89bae79eaaf7e5). So this should be fixed in next release. With that we will proceed with closure of this GitHub thread. If you have any follow-up queries, please feel free to reopen this thread. We would be happy to help.

[2022-07-08 04:23] #18700 closed

[2022-07-08 05:35] navba-MSFT commented on #18204
@OrlandoAMunoz The above PR has been created to address this.

[2022-07-08 06:17] Kotasudhakarreddy commented on #18765
I am unable to repro the issue with the mentioned sequence of steps. `deployment slot settings` are still exists even after removing and creating staging slot from production slot as source. Please retry and let me know with more and exact steps to reproduce the issue.

[2022-07-08 07:56] dingmeng-xue commented on #18900
@ShikeChen-MS , could you share your input value and debug log? You can get debug log after setting `$DebugPreference = "Continue"`.

[2022-07-08 08:03] #18423 closed

[2022-07-08 08:04] #18204 closed

[2022-07-08 12:47] SnehaSudhirG commented on #17798
Thank you for the feedback. The info is live and here is the live link - https://docs.microsoft.com/en-us/powershell/module/az.automation/get-azautomationdscnodeconfiguration?view=azps-8.0.0

[2022-07-08 12:47] SnehaSudhirG commented on #17798
#please-close

[2022-07-08 14:32] nambonumestinvisibili commented on #14023
The same thing is happening with `Az.Accounts 2.9.0`. Identical experience as folks above me.
The error: `Unable to acquire token for tenant 'organizations' with error 'InteractiveBrowserCredential authentication failed: Method not found: 'Void Microsoft.Identity.Client.Extensions.Msal.MsalCacheHelper.RegisterCache(Microsoft.Identity.Client.ITokenCache)'.'
Please run 'Connect-AzAccount -DeviceCode

[2022-07-08 17:27] SaurabhSharma-MSFT commented on #18849
@InformTechPro Great. Thanks for the confirmation. We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2022-07-08 17:27] #18849 closed

[2022-07-08 19:19] #18651 closed

[2022-07-09 08:03] KelvinTegelaar commented on #18758
Working with the azure functikn dev team to resolve this.

[2022-07-11 03:27] navba-MSFT commented on #18182
@bdschaap Please let us know if you had a chance to look at my above comment. Please share the certificate related error message here. Awaiting your reply.

[2022-07-11 05:58] navba-MSFT commented on #18696
@jberry777 Apologies for the late reply. I somehow missed replying to this. To answer your question:
No, it not possible to trigger a compliance scan through the portal (since we do not have the capability through API).
The engine will run a delta scan when it gets triggered on a change along with the daily scan (every 24 hours).

[2022-07-11 09:12] dduede opened #18910 "Get-AzNotificationHub fails in AzureChinaCloud"
### Description

When running the cmdlet `Get-AzNotificationHub` in an `AzureChinaCloud` environment, the cmdlet fails with `Get-AzNotificationHub: Value cannot be null. (Parameter 'source')`.

The cmdlet is working as expected in our european subscriptions.

### Issue script & Debug output

[code]

### Environment data

[code]

### Module versions

[code]

### Error output

[code]

[2022-07-11 09:49] enlinting opened #18912 "[Doc]: https://docs.microsoft.com/en-us/powershell/module/az.dataprotection/suspend-azdataprotectionbackupinstancebackup?view=azps-8.1.0"
### Description

The description of this cmdlet isn't clear.

I've checked with the PG and below is a table for a quick comparison of the 2 Powershell cmdlets:

Powershell Cmdlet | Description
-- | --
[Suspend-AzDataProtectionBackupInstanceBackup](https://docs.microsoft.com/en-us/powershell/module/az.dataprotection/suspend-azdataprotectionbackupinstancebackup?view=azps-8.1.0) | Stops Backup for a

[2022-07-11 13:42] guyrleech opened #18913 "[Doc]: Typo on cmdlet reference page"
### Description

I suspect  that this text "Force flag to login off userSession" for the -force parameter should be "Pass force flag to the logging off of the user session" or similar where the word "login" is incorrect as the cmdlet is about logging a user off who has already logged in

[(https://docs.microsoft.com/en-gb/powershell/module/az.desktopvirtualization/remove-azwvdusersession?view=azps

[2022-07-11 20:55] bdschaap commented on #18182
Unfortunately I won't have time to revisit for a few weeks.  Can close this and will reopen if it's still an issue at that time.

[2022-07-11 20:55] #18182 closed

[2022-07-12 08:56] dingmeng-xue commented on #18912
Involve CXP team to look into it.

[2022-07-12 08:57] dingmeng-xue commented on #18913
Thanks for contacting us. Involve CXP team to look into it.

[2022-07-12 09:32] dduede commented on #18910
I've just attempted running the same cmdlet again and it seems its working now. Can this happen from an outage in china? We had this issue for a few days (over the weekend), so I wasn't sure if this was just an outage. We'll keep an eye on it but it seems to working fine now.

[2022-07-12 09:32] #18910 closed

[2022-07-12 15:05] BethanyZhou commented on #16484
Close as fixed.

[2022-07-12 15:50] johncrim commented on #14207
We're seeing the same issue.

[2022-07-12 17:33] nzthiago commented on #18758
I investigated with Kelvin and our team. The key mitigation was to use the legacy v1 general purpose storage accounts. Standard general purpose Azure Storage accounts are required when using the Azure Storage provider for Durable Functions. All other storage account types are not supported. We highly recommend using legacy v1 general purpose storage accounts because the newer v2 storage accounts c

[2022-07-12 17:33] #18758 closed

[2022-07-12 20:08] bferg317 opened #18924 "Issues using New-AzImageBuilderTemplate to load from json"
### Description

I'm having trouble using New-AzImageBuilderTemplate to load my json templates. The error seems to indicate the module cannot extract parameters. Specifically, it seems to fail at extracting the ```replicationRegions``` parameter. The parameter is filled correctly (and is the same region as the target gallery per [doc](https://docs.microsoft.com/en-us/azure/virtual-machines/linux/i

[2022-07-12 21:01] Francisco-Gamino opened #18925 "New-AzFunctionApp should support creating Java 17 (preview) function apps"
### Description

New-AzFunctionApp should support creating Java 17 (preview) function apps

### Issue script & Debug output

[code]

### Environment data

[code]

### Module versions

[code]

### Error output

[code]

[2022-07-13 08:03] #18595 closed

[2022-07-13 11:35] Davidh-claranet opened #18928 "Connect-AzAccount: The term 'Connect-AzAccount' is not recognized as a name of a cmdlet"
### Description

Hello
The Connect-AzAccount is correctly recognized :
[code]

But when using http_proxy, https_proxy, HTTP_PROXY and HTTPS_PROXY environment variables, the Connect-AzAccount is no more recognized :

[code]

The Az.accounts module does not export commands :
[code]

### Issue script & Debug output

[code]

### Environment data

[code]

### Module versions

[code]

### Error output

[2022-07-13 15:07] cutecycle commented on #18858
@dingmeng-xue yeah, that makes sense; different services have different priorities for convenience and different implementations.

It may make sense to use a shared facade for GraphClient calls across Az, and force cmdlets that make graph calls to use it, then build fallbacks into that, though it may be more trouble than it's worth.

Right now we're just onboarding our service principal for direct

[2022-07-13 20:34] padeshaies opened #18930 "Get-AzApplicationGateway doesn't return RequestRoutingRules priority if the AppGateway name isn't provided"
### Description

As mentioned in the issue's title, there's a discrepancy between the two implementations of the Get-AzApplicationGateway function.

If the Resource Group and the Resource Name parameters are both provided:
=> The RequestRoutingRules will have a value in their priority property

If only the Resource Group parameter is provided:
=> The RequestRoutingRules priority is null

![image](

[2022-07-14 02:36] dingmeng-xue commented on #18928
Thanks for reporting. Could you check the output of `$Error[0].Exception | fl -f *` after you tried to import module `Import-Module Az.Accounts`? It will share the detailed error message. `Resolve-AzError` cannot work because module is not imported.

[2022-07-14 02:51] dingmeng-xue commented on #18858
Sure. We have shared GraphClient across Az modules. Your team can reference https://github.com/Azure/azure-powershell/blob/76b66604c112ce193e46ed4952e998bda99d7610/src/KeyVault/KeyVault/Models/KeyVaultManagementCmdletBase.cs#L63. Keyvault module creates GraphClient internally and fetch information for keyvault purpose.

FYI, Azure PowerShell is the first party app. The consent grant flow is differ

[2022-07-14 03:09] dingmeng-xue commented on #18722
Mark it as service side issue. Close current issue now. Please contact us if you need further help.

[2022-07-14 03:09] #18722 closed

[2022-07-14 05:08] dingmeng-xue commented on #18924
Thanks for reporting. We suspect it is due to Az.ImageBuilder module is using old API version. We will upgrade API version and please try again. You can expect new version of that at the beginning of September.

[2022-07-14 06:02] #13434 closed

[2022-07-14 06:11] jayendranarumugam commented on #18435
Hi @dingmeng-xue , Is there any update on the issue ? We are currently unable to move forward with this bug. Is there any workaround for this ?

[2022-07-14 08:03] #18332 closed

[2022-07-14 09:15] TwoPatient opened #18937 "Set-AzDiagnosticSetting failing to modify diagnostic setting with one or more category groups selected because it is using an old api-version."
### Description

When running Set-AzDiagnosticSetting on the master database for Azure SQL I am getting the following error:

##[error]Exception type: ErrorResponseException, Message: Invalid API version used to modify diagnostic setting with one or more category groups selected: audit, please use version higher than: 2021-05-01-preview, Code: BadRequest, Status code:BadRequest, Reason phrase: Bad

[2022-07-14 09:25] zakimal opened #18938 "Question: Export-AzResourceGroup does not output the latest settings. Is it correct?"
### Description

Hi all,

I would like to ask a question about the output of `Export-AzResourceGroup` command.

As an example, consider a Node.js web on Windows on App Service. I have observed no change in the output JSON of `Export-AzResourceGroup` between before and after updating the Node.js version using at the web app.
The command appears to output the settings at the time the resource was cr

[2022-07-14 11:47] mtwelve commented on #14207
We're seeing the same issue.

Any updates on a resolution or workarounds other than @odero's?

[2022-07-14 12:08] dingmeng-xue commented on #14207
@johncrim and @mtwelve , I am reading this issue https://github.com/Foundry376/Mailspring/issues/681. Could you try whether `sudo apt install gnome-keyring` can solve this issue?

[2022-07-14 12:57] isra-fel commented on #14207
We are currently experiencing this issue in [our pipeline](https://dev.azure.com/azure-sdk/internal/_build?definitionId=2213&_a=summary) since this week.
After investigation we found out that the only difference between a successful and a failed wrong is the vm image version.

[Successful run](https://dev.azure.com/azure-sdk/internal/_build/results?buildId=1695603&view=results), Environment: ubunt

[2022-07-14 19:30] padeshaies commented on #18930
@navba-MSFT I'm still able to reproduce the error after doing a Install-Module Az.Network.

![image](https://user-images.githubusercontent.com/10930774/179067741-98742013-86f5-4fd5-adb1-4530f00e70d7.png)

[2022-07-14 20:30] johncrim commented on #14207
@dingmeng-xue - thank you for the possible patch. It's not convenient to test that out right now, but I can confirm that switching to ubuntu 20.04 makes the error go away.

[2022-07-14 22:53] SaurabhSharma-MSFT commented on #18760
@ishmeet177 We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2022-07-14 22:53] #18760 closed

[2022-07-15 01:31] dingmeng-xue commented on #18424
@zioalex and @RickBankers , I suspect this issue is due to required lib is not available on host machine. What's your OS and version running docker?

[2022-07-15 03:03] navba-MSFT commented on #18435
@jayendranarumugam Apologies for the late reply. Thanks for reaching out to us and reporting this issue. We are looking into this issue and we will provide an update.

[2022-07-15 04:04] navba-MSFT commented on #18930
@padeshaies Thanks for getting back. Could you please run the command `$DebugPreference="Continue" `and then run your above PS command with resource name and without resource name and share the output here ? Awaiting your reply.

[2022-07-15 06:01] Davidh-claranet commented on #18928
[code]

[2022-07-15 08:03] #18622 closed

[2022-07-15 08:17] tianputao opened #18945 "New version Az module cannot use in Azure China."
### Description

Hi, I found some Az module API is too new to use in Azure China. I tested Eventhub and ADF can't use.

### Issue script & Debug output

[code]

### Environment data

[code]

### Module versions

[code]

### Error output

_No response_

[2022-07-15 09:19] navba-MSFT commented on #18435
@jayendranarumugam Could you please confirm if you are using [3.10.0 version of the Az.SQL ](https://www.powershellgallery.com/packages/Az.Sql/3.10.0)module ? If not, Could you please upgrade your Az.SQL module to this version and test again ? Awaiting your reply.

[2022-07-15 16:15] juliamaureen opened #18949 "Unable to append variable to url"
### Description

I am writing an action that grabs the object id of an Azure User and adds it as owner of an AD group. The variable is set properly but when I add it to the body, or Invode-RestMethod objects the variable breaks the URL and I am unable to POST my body

$guidfull = Invoke-RestMethod  "$guidurl" -Method 'GET' -Headers $headers > guid.txt
$guidparse = Get-Content guid.txt | Select -Fi

[2022-07-15 17:59] viananth opened #18951 "New-AzVMSS: Flexible orchestration mode fails to create VMSS in EdgeZone"
### Description

EdgeZone now supports Flexible orchestration VMSS. But while using Azure PowerShell to create Flexible orchestration VMSS in EdgeZone, it fails with the following error:

Basically, LB creation does not carry EdgeZone during Flex VMSS orchestration.

https://github.com/Azure/azure-powershell/blob/404ae3b0f4a1c3501ff452b096d8be6ef978af73/src/Compute/Compute/Manual/VirtualMachineSca

[2022-07-16 05:30] agr opened #18954 "New-AzureKeyVaultCertificatePolicy DnsNames parameter must be non-empty if specified"
### Description

When calling `New-AzureKeyVaultCertificatePolicy` cmdlet I have an option to specify `-DnsNames` parameter or not. If I don't specify one, it works fine creating a policy object with an empty `DnsNames` property (well, it actually defaults to `$null` it seems). However, if I do specify one, I cannot supply an empty list. Having empty `DnsNames` is a perfectly valid setup and we ne

[2022-07-16 15:05] RickBankers commented on #18424
That doesn't make sense to me. Docker containers are self contained and shouldn't depend on host machine libs. Unfortunately I don't have any more time to focus on this and have moved away from powershell.

[2022-07-17 15:40] dingmeng-xue commented on #18945
@tianputao , the service version in China cloud is running behind the public cloud. Please use the older version of module. If you want to use the latest version of feature of service, please let us know. We will involve each service team to provide update.

[2022-07-17 15:42] dingmeng-xue commented on #18938
Thanks for reporting. I involve team to look into it. Meanwhile, @zakimal , could you provide debug log of Azure PowerShell? You can turn on it via `$DebugPreference = "Continue"`

[2022-07-17 15:42] dingmeng-xue commented on #18937
Thanks for reporting. We are working on new version of Diagnostic settings.

[2022-07-17 15:48] dingmeng-xue commented on #18949
Thanks for contacting us. I haven't got your point. The guid of ADuser is using hyphen. Why do you mean "underline dissapears"?

[2022-07-17 15:52] dingmeng-xue commented on #18954
@BethanyZhou , please look into this parameter.

[2022-07-18 02:25] dingmeng-xue commented on #18424
Our test environment shows the issue since the last week. It seems relate to a version upgrade of Ubuntu. We are looking into it.

@RickBankers , although docker uses the resource isolation features, it doesn't mean docker container self contains everything it needs. It still requires Linux machine to run the containers. For instance, if you run docker container on MacOS or Windows, they actually

[2022-07-18 03:17] yifanz0 opened #18958 "Output section is not shown in Auto-generated cmdlets' examples in PowerShell"
### Description

For auto-generated cmdlets, the output section is not shown when running the command `Get-Help <Cmdlet Name> -Full`.

[code]

The expected behavior is to have the output printed under the example as input.

[code]

[code]

### Issue script & Debug output

[code]

### Environment data

[code]

### Module versions

[code]

### Error output

_No response_

[2022-07-18 03:28] navba-MSFT commented on #18945
@tianputao Apologies for the late reply. Thanks for reaching out to us and reporting this issue. We are looking into this issue and we will provide an update.

[2022-07-18 04:33] navba-MSFT commented on #18435
@jayendranarumugam I wanted to do quick follow-up to check if you had a chance to look at my above comment. Please let us know if you are facing the same issue after upgrading to [3.10.0 version of the Az.SQL ](https://www.powershellgallery.com/packages/Az.Sql/3.10.0)module. Awaiting your reply.

[2022-07-18 04:52] jayendranarumugam commented on #18435
Yep will test this today and let you know

[2022-07-18 05:06] jerEspresso opened #18959 "Invoke-AzRestMethod doesn't throw any confirmation when the -Confirm option is supplied"
### Description

When I use `Invoke-AzRestMethod` with the `-Confirm` option to purge key vault, I don't get any confirmation before the API request is executed. However, the [documentation](https://docs.microsoft.com/en-us/powershell/module/az.accounts/invoke-azrestmethod?view=azps-8.1.0) shows it does support the `-Confirm` option.

### Issue script & Debug output

[code]

### Environment data

[2022-07-18 05:23] navba-MSFT commented on #18930
@padeshaies I wanted to do quick follow-up to check if you had a chance to look at my above comment. Please let us know if you  have any update on this. Awaiting your reply.

[2022-07-18 05:52] navba-MSFT commented on #18945
@tianputao Did you get a chance to look at the above command? As a next action plan, please test with the older version of the Az module so that it uses the older api-version. Awaiting your reply.

[2022-07-18 06:15] jayendranarumugam commented on #18435
@navba-MSFT I can see this was fixed with https://github.com/Azure/azure-powershell/pull/18475 and working as expected now. Feel free to link/close this issue

[2022-07-18 06:17] navba-MSFT commented on #18435
@jayendranarumugam Thanks for getting back. We will now proceed with closure of this GitHub issue. If you need any further assistance on this issue in future, please feel free to reopen this thread. We would be happy to help.

[2022-07-18 06:17] #18435 closed

[2022-07-18 06:31] Kotasudhakarreddy commented on #18765
closing due to lack of response. Please file a new issue if this is still a problem.

[2022-07-18 06:31] #18765 closed

[2022-07-18 12:26] padeshaies commented on #18930
@navba-MSFT here is the debug for the problematic case.

[code]

[2022-07-18 12:59] CloudDevDan opened #18963 "New-AzFunctionApp PowerShell Core on Linux, FunctionsVersion 4 not supporte"
### Description

Running PowerShell 7.2.4 and Az version 8.1.0.

I'm trying to create a PowerShell Core based Azure Function App with RuntimeVersion 7.2 and FunctionsVersion 4 on Linux.

I receive the error: ```Functions version not supported. Currently supported version are: 2 and 3.```

### Issue script & Debug output

[code]
[code]

### Module versions

[code]

### Error output

[code]

[2022-07-18 15:44] JamesDLD opened #18965 "[Feature]: Support accessControl Allowed Caller IpAddresses on AzLogicApp"
### Description of the new feature

accessControl manage allowedCallerIpAddresses for the following usages:
- actions
- contents
- triggers
- workflowManagement

Reference: [Microsoft.Logic workflows](https://docs.microsoft.com/en-us/azure/templates/microsoft.logic/workflows?WT.mc_id=AZ-MVP-5003548)

### Proposed implementation details (optional)

Get-AzLogicApp -Name $logicApp.Name | Select-Objec

[2022-07-18 21:22] joshfria commented on #10645
Hard to believe this has been open for over 2.5 years for such a basic ask.

[2022-07-19 00:22] #7358 closed

[2022-07-19 02:31] craiglandis commented on #18721
@dingmeng-xue I sent you the log via internal mail

[2022-07-19 03:03] navba-MSFT commented on #18721
@craiglandis Apologies for the late reply. Thanks for reaching out to us and reporting this issue. I have got the debug traces which you had shared with @dingmeng-xue.  We are looking into this issue and we will provide an update.

[2022-07-19 05:55] navba-MSFT commented on #18721
@craiglandis This exception seems to be related to the AutoMapper package and has been reported here https://github.com/AutoMapper/AutoMapper/issues/3988 . A PR was also filed and merged as a fix for this: https://github.com/AutoMapper/AutoMapper/pull/3999 whose fix is included in this milestone with no ETA mentioned: https://github.com/AutoMapper/AutoMapper/milestone/42

Until then as a workaroun

[2022-07-19 07:21] navba-MSFT commented on #18930
@padeshaies Thanks for your reply. I ran the same command again on my AppGateway resource (in CanadaEast location) with only Resource Group name and compared with your debug output. I see the difference here:

            "name": "rule3",
            "id": "/subscriptions/XXXXXXXX/resourceGroups/XXX/providers/Microsoft.Network/applicationGateways/XXXXX/requestRoutingRules/rule3",
            "etag

[2022-07-19 08:03] #14085 closed

[2022-07-19 11:40] AHallqvist opened #18974 "[Doc]: Get-AzSubscription"
### Description

Example 3: Get all subscriptions in the current tenant seems to be missing a parameter:
Get-AzSubscription should be Get-AzSubscription -TenantId

As is now Example 1 and Example 3 gives the same code example, but says they do different things. and show different output.

[2022-07-19 11:53] jainrohitk opened #18975 "Not getting expected result via Get-AzVM commandlet"
### Description

Sometimes, we are not getting the expected outcome from the Get-AzVM commandlet.

For e.g.
my VM names follow some naming conventions.

- rkjsas-svhapa001
- rkjsas-svhapa002
- rkjsas-svhapc001
- rkjsas-svhapc002

$projectCode="rkj"
$app="sas"

Below command does not  return anything.
Get-AzVM "$projectCode*$app*hap*"

But if I make changes to my command like below one. I get the c

[2022-07-19 13:16] dingmeng-xue commented on #18959
Thanks for reporting. I think it's a cmdlet design issue that `Invoke-AzRestMethod` should not support `ShouldProcess` or offer parameter `-Confirm`. This cmdlet is for general purpose and allows user to send request directly to Azure. It cannot predict the request will change remote resource or not and what impact will be. We will remove `ShouldProcess` in major release.

[2022-07-19 13:26] dingmeng-xue commented on #18958
@yifanz0 , could you share the generated help markdown file?

[2022-07-19 13:31] dingmeng-xue commented on #18974
Thanks for reporting. `Get-AzSubscription` without additional parameter can list all subscriptions under all available tenants in context. The third example doesn't make sense. We will remove it. If feature of listing all subscriptions under current tenant, please let us know.

[2022-07-19 14:01] russhenderson86 commented on #18017
Appears this is still an issue. This makes large scale tasks difficult due to this issue and the functionality does not yet exist in the Azure CLI. Is there a known workaround?

[2022-07-19 14:41] padeshaies commented on #18930
@navba-MSFT The Application Gateway was created way back before Rule Priority were a thing (back in 2020 if I remember correctly).

It does work if I create a brand new Application Gateway since I have to define a Priority in the Routing Rules.
![image](https://user-images.githubusercontent.com/10930774/179778329-3972eefe-01c2-4213-8981-867dbf6bc265.png)

If I understand you correctly, it might be

[2022-07-19 15:17] Kotasudhakarreddy commented on #18896
Unable to Repro the issue when performing zip deployment. Is it occurring continuously or sporadically?

[2022-07-19 16:23] RickBankers commented on #18928
This may be related to [#18424](https://github.com/Azure/azure-powershell/issues/18424).

We set proxy environment variables as well however if we just pull the image from mcr without setting proxy vars it fails outright. Everything worked properly in 2.7.6.

[2022-07-19 17:09] craiglandis commented on #18721
@navba-MSFT - Will that Automapper fix come in a future release of Az.Compute or in a future PS 7 Preview release?

**7.3.0.6** fails the same way for me, and unlike you, I don't get any VM details in addition to the exception - I just get the exception.

So this issue is a blocker for me using **7.3.0.5+** versions until the Automapper fix is included in some future release.

[2022-07-19 21:53] viananth opened #18978 "New-AzVM: Does not create VM in EdgeZone (SimpleParameterSet)"
### Description

VM cannot be created in an edgezone using latest Azure PowerShell. Though the parameter "-EdgeZone" is used, it is not being passed on to create the VM in edgezone and instead, creates the VM in azure region. I think "EdgeZone" is not included in case of simple parameter set and this information falls through during execution.

### Issue script & Debug output

[code]

### Environm

[2022-07-20 01:21] zakimal commented on #18938
I ran it in debug mode and did not see any errors. I am afraid to paste the output as is because it contains all the details of the resource group. What should I do?

In addition, I believe `"nodeVersion"` in the following sections should be updated.
[code]

[2022-07-20 01:32] yifanz0 commented on #18958
@dingmeng-xue  Sure, the generated markdown help looks like this -

# Get-AzStorageMover

## SYNOPSIS
...

## SYNTAX
...
## DESCRIPTION
...

## EXAMPLES

### Example 1: Get all Storage movers in a subcription
[code]

[code]

This command gets all the Storage movers in a subscription.

### Example 2: Get all Storage movers in a resource group
[code]

[code]

This command gets all the Storage movers

[2022-07-20 01:48] dingmeng-xue commented on #18938
Thanks @zakimal . that attribute belongs to website config. You can check the property of website directly rather than exporting it. If the value in website object is correct, it should be issue in export resource group API on service side. If value in website object is incorrect, it should be issue on web resource provider. Please let us know your result.

[2022-07-20 03:59] navba-MSFT commented on #18721
@craiglandis I will check this with the product owners and get back to you with an update.

[2022-07-20 04:40] navba-MSFT commented on #18930
@padeshaies Thanks for getting back. Since the PS cmdlet is working fine for the newly created Application Gateway resource, I don't see any issue with the cmdlet per say. AFAIK, it seems like the issue is only with the GW resource which was created way back.

[2022-07-20 04:44] zakimal commented on #18938
I confirmed that the value `nodeVersion` does not change before and after updating the application setting named `WEBSITE_NODE_DEFAULT_VERSION` in the web app.
I have confirmed that the Node.js version is updated directly from Kudu.

[2022-07-20 04:50] navba-MSFT commented on #18945
@tianputao I wanted to do quick follow-up to check if you had a chance to look at my above comment. Please let us know if you have any follow-up questions on this. Awaiting your reply.

[2022-07-20 09:50] arpitmishra-eaton opened #18987 "Import-AzApiManagementApi"
### Description

Import-AzApiManagementApi :
Error Code: ResourceGroupNotFound

i'm trying to import function app to apim using below script and getting above error. though already set the subscription but still getting it. please help

 Import-AzApiManagementApi -Context $context -SpecificationFormat OpenApi -SpecificationUrl https://xyz.azurewebsites.net/items -Path "dev"

### Issue script & Deb

[2022-07-20 11:07] tyeth opened #18988 "[Doc]: Code doesn't return all operations for all databases in SQL Pool, instead asks for single database name"
### Description

https://docs.microsoft.com/en-us/powershell/module/az.sql/get-azsqldatabaseactivity?view=azps-8.1.0&tryIt=true&source=docs#code-try-1

Code doesn't return all operations for all databases in SQL Pool, instead asks for single database name.

[2022-07-20 11:08] tyeth commented on #18988
![image](https://user-images.githubusercontent.com/6692083/179967793-0c861e73-6e66-4cc6-9fb7-06e8b3716de3.png)

[2022-07-20 13:08] padeshaies commented on #18930
@navba-MSFT Is it planned for old AppGateway to be supported? The cmdlet that uses both parameters (resource group and name) works properly with my old Application Gateway. It seems like it's only the cmdlet with only the resource group as parameter that have this issue.

[2022-07-20 15:10] JustinGrote opened #18989 "[Doc]: Invoke-AzRestMethod: Add example for "name" parameterset"
### Description

Missing example for:

[code]

[2022-07-20 15:43] RobertKustra opened #18990 "Get-AZConsumptionBudget - Didn't get all budgets"
### Description

Get-AZConsumptionBudget - Didn't get all budgets for subscription...
Budgets created with specific filters will not showed up on Get-AZConsumptionBudget
![image](https://user-images.githubusercontent.com/35372157/180019711-f228d891-e415-4cbe-a107-260483cf2800.png)
![image](https://user-images.githubusercontent.com/35372157/180020383-862ca96b-b9c5-4c1e-af4c-c17255c056e4.png)

Power

[2022-07-20 16:34] tdubois-Insight opened #18991 "New-AzRecoveryServicesBackupProtectionPolicy - ScheduleRunTimeZone input doesn't work"
### Description

New-AzRecoveryServicesBackupProtectionPolicy doesn't apply the TimeZone value under ScheduleRunTimeZone.
It always set the TimeZone to UTC and ignores any input.

Az Version 8.1.0
Az.RecoveryServices 5.4.1

### Issue script & Debug output

[code]

### Environment data

[code]

### Module versions

[code]

### Error output

_No response_

[2022-07-20 18:55] ntwilson opened #18993 "Publish-AzWebApp fails silently"
### Description

I can run Publish-AzWebApp and fail to publish, but without any errors thrown, and the output looks normal.  I've observed this multiple times when publishing an Azure Function that exceeds the max deployment size of 1 GB.  I've also observed this when publishing an Azure App Service when (I believe) the App Service Plan was saturated (publishing succeeded when I moved the App Ser

[2022-07-21 05:25] ShilpaVVV commented on #16032
Is there any update/ETA or workaround for this issue?

[2022-07-21 05:33] dingmeng-xue commented on #18989
@VeryEarly , please provide 2 examples. One is for operation to one resource type instance. Another one is for list operation. The size of resource types is larger than the size of names in latter case.

[2022-07-21 06:35] LucasYao93 opened #18998 "MS.Authorization not support three cmdlets"
### Description

The module do not have any implementation for below 3 cmdlets

[New-AzRoleManagementPolicyAssignment.md](https://github.com/Azure/azure-powershell/blob/generation/src/Resources/Authorization.Autorest/examples/New-AzRoleManagementPolicyAssignment.md)
[Remove-AzRoleManagementPolicy](https://github.com/Azure/azure-powershell/blob/generation/src/Resources/Authorization.Autorest/exampl

[2022-07-21 07:45] dingmeng-xue commented on #18998
Service team is working on those three operations. Open this issue for tracking.

[2022-07-21 08:04] zakimal commented on #18938
@dingmeng-xue is there any update?

[2022-07-21 08:28] dingmeng-xue commented on #18938
If the property is not change in the webapp, it should be the issue on AppServices. Let me notify service team.

[2022-07-21 08:36] dingmeng-xue commented on #18928
@Davidh-claranet , @RickBankers , it seems relate to issue https://github.com/Azure/azure-powershell/pull/18312. This issue has been fixed in the latest version of Az.Accounts 2.9.0. Could you update the version and try again?

[2022-07-21 08:58] zakimal commented on #18938
Thanks, @dingmeng-xue
 I have confirmed that the result of `node --version` on debug console in Kudu changes following `WEBSITE_NODE_DEFAULT_VERSION`.
On the other hand, the output of `Export-AzResourceGroup` does not seem to follow the change of `WEBSITE_NODE_DEFAULT_VERSION`.

[2022-07-21 10:30] navba-MSFT commented on #18930
@padeshaies I just wanted to re-confirm if the below commands works fine for the old App Gateway ?

$values=(Get-AzApplicationGatewayRequestRoutingRule -ApplicationGateway $AppGW).Priority
$values

[2022-07-21 15:08] ACountyMike opened #19004 "Set-AzApplicationGatewayWebApplicationFirewallConfiguration PowerShell command not working as documented"
### Description

I'm building Az Application Gateway WAF's via Powershell and I'm attempting to save the configuration with **Set-AzApplicationGatewayWebApplicationFirewallConfiguration**, but the **-RuleSetVersion** parameter won't set to a value other than 3.0 and **-DisabledRuleGroups** won't properly set New-AzApplicationGatewayFirewallDisabledRuleGroupConfig objects on the gateway. These para

[2022-07-21 15:09] odegroot commented on #18251
Thank you, but I don't believe this is right. ([link to updated example](https://github.com/Azure/azure-powershell/blob/main/src/KeyVault/KeyVault/help/Get-AzKeyVaultCertificate.md#example-2-get-cert-and-save-it-as-pfx))

When I try this, `$secret` contains a long Base64 string. Simply writing it to a .pfx-file does not yield anything valid. I do need the Base64-decode step.

Note that the example

[2022-07-21 15:30] ACountyMike commented on #19004
Adding a snippet of my script
`$941120 = New-AzApplicationGatewayFirewallDisabledRuleGroupConfig -RuleGroupName "REQUEST-941-APPLICATION-ATTACK-XSS" -Rules 941120

$AppGw = Add-AzApplicationGatewayUrlPathMapConfig -ApplicationGateway $AppGw -Name $routingRule -DefaultBackendAddressPool $pool -PathRules $SecTest_test_dev -DefaultBackendHttpSettings $SecTest_HTTP_Settings
$AppGw.FirewallPolicy = $fi

[2022-07-21 16:00] Davidh-claranet commented on #18928
Hello
I use the lastest version of the mcr.microsoft.com/azure-powershell image

It still provides Az.Accounts 2.8.0, and not 2.9.0.

[code]

I tried to force the version  :
[code]

I don't know how import Az.Accounts 2.9.0

[2022-07-21 16:46] mbourgon opened #19007 "[Doc]: Set-AzKeyVaultAccessPolicy - Example 7, have to use ObjectId, not ServicePrincipalName"
### Description

For some reason, I couldn't use the set-azkeyvaultpolicy the way Example 7 does on https://docs.microsoft.com/en-us/powershell/module/az.keyvault/set-azkeyvaultaccesspolicy?view=azps-8.1.0.  specifically, I grabbed the identity thus:

`$identity = Get-AzSqlServer -ServerName myservernamehere
`
but I had to use -ObjectId instead of ServicePrincipalName to update my permissions (min

[2022-07-21 19:27] priyankn opened #19008 "New-AzRoleAssignmentScheduleRequest fails on Secure Admin Workstation"
### Description

`New-AzRoleAssignmentScheduleRequest` works totally fine on regular connection, but fails on the SAW device. To limit the sensitive information, I am only sharing the correlation Id here. Feel free to reach out on internal teams if more information is required.

7fbaa4f8-d990-429c-9129-934c566f9b51

### Issue script & Debug output

[code]

### Environment data

[code]

### Module

[2022-07-21 19:38] bretboss commented on #18701
Sorry for the delayed response - I was pulled onto another task.

When I use `-ErrorAction Stop` it doesn't show the Login Succeeded.

If I remove `-ErrorAction Stop` then it shows Login Succeeded.

[code]

[2022-07-21 19:52] jaylabell commented on #18951
Looking into this issue

[2022-07-21 23:26] zakimal commented on #18938
@dingmeng-xue
You have said that

Just to confirm, I understand that if I change WEBSITE_DEFAULT_NODE_VERSION (say from ~10 to ~14) the nodeVersion should also be updated from ~10 to ~14, am I wrong?

Put another way, are you saying that WEBSITE_DEFAULT_NODE_VERSION and nodeVersion should always be the same value?

[2022-07-22 01:39] dingmeng-xue commented on #19008
@priyankn , you can find my email address from my profile. Please send the email and contact us directly.

Due to you cannot share detailed information on github, we will close this one and let us sync offline.

[2022-07-22 01:39] #19008 closed

[2022-07-22 01:43] dingmeng-xue commented on #19007
Thanks for contacting us. service principal name may not be the same as resource name. So, your script is correct. Example 7 may not good option to you. If you want to find its sp name, you can search that in Azure AD using object's Principalid.

Please let me know if you have further question.

[2022-07-22 01:44] BethanyZhou commented on #18251
Thanks for your contribution. I will review your PR.

[2022-07-22 01:49] dingmeng-xue commented on #18959
@jerEspresso , we had an internal discussion. We are thinking to check `-confirm` option according to HTTP method. If it is just GET, -confirm is not required. For other cases that cmdlet execution may change remote resource, Invoke-AzRestMethod will check user's confirmation. what's your thought?

[2022-07-22 02:04] dingmeng-xue commented on #18958
We will work with PlatyPS team and reference doc team to figure out a total solution because the format is used by online doc and local doc both.

[2022-07-22 02:22] dingmeng-xue opened #19014 "[Feature]: Support NodeResourceGroup of AksCluster"
### Description of the new feature

We need to provide equivalent feature to AksCluster to support `--node-resource-group` like Azure CLI.

### Proposed implementation details (optional)

_No response_

[2022-07-22 05:28] navba-MSFT commented on #18930
@padeshaies I have discussed this issue with the product owners. This is bug/by design in Network Resource Provider.

When you run Get-AzApplicationGateway -ResourceGroupName <resourceGroup> (without specifying a particular gateway name) - we call this endpoint:

https://management.azure.com/subscriptions/<>/resourceGroups/<>/providers/Microsoft.Network/**applicationGateways**?api-version=2021-08-

[2022-07-22 06:37] plainEYA opened #19018 "[Eng]:"
### Description

UI:ayaurc

[2022-07-22 06:37] #19018 closed

[2022-07-22 08:04] sajalnigam commented on #8467
Hey People, I wish to run Get-AzVMExtension for all the vms in the environment, can anyone please help me with any kind of script

[2022-07-22 09:40] t-bzhan opened #19021 "Update-AzCosmosDBAccount unable to disable virtual networks and firewall setting"
### Description

We tried to disable the virtual networks and firewall setting using Az Powershell.
![image](https://user-images.githubusercontent.com/61817681/180407772-00c5d4e9-42b9-4651-96f8-cecd6e9d88b3.png)

We tired below command first and it reported error:

![image](https://user-images.githubusercontent.com/61817681/180409261-d472b046-0c22-4d9c-9b4a-e3e2e0e149a4.png)

From the debug output

[2022-07-22 10:05] Nickcandy commented on #15883
@joellopes03 Sorry for the delayed response. We've recently discovered that this is the problem within ADO pipeline. When using connect-azcontainerregestry in pipeline of Windows-2019 and Windows-2022, it would not work, and we have reported to ADO team. The workaround here is changing your agent to Ubuntu or other OS , or using a service connection to login azure container registry. We'll inform

[2022-07-22 12:11] mbourgon commented on #19007
Thanks for the quick response! My concern was that I had the ID and it really wasn’t obvious where to go from there without doing a lot more reading. I’m trying to prevent the next person from getting frustrated.

---
Sent from my ekranoplan

[2022-07-22 15:39] JohnMiner3 opened #19022 "[Doc]: Set-AzResource example"
### Description

https://docs.microsoft.com/en-us/powershell/module/az.resources/set-azresource?view=azps-8.1.0

The second example will not work for all Azure Objects since the $_.Tags property might return a null value.

The PowerShell code below will work since it uses both the list and set cmdlets.

# https://docs.microsoft.com/en-us/powershell/module/az.resources/set-azresource?view=azps-8.1.

[2022-07-22 16:19] Borgquite commented on #4844
In terms of problem 1), the names of the compiled configurations (including version numbers) can be listed using Get-AzAutomationDscNodeConfiguration

[2022-07-22 16:51] SaurabhSharma-MSFT commented on #18987
@arpitmishra-eaton  Please use `Connect-AzAccount -Subscription "subscription-id" -Tenant "tenant-id"` to connect first to respective subscription and try above cmdlets again.

[2022-07-22 17:47] SaurabhSharma-MSFT commented on #18988
@tyeth We are looking into it and get back to you for any additional information.

[2022-07-23 08:03] #18846 closed

[2022-07-23 14:02] larswurm opened #19024 "Az.App (Container App) feature - Secrets handling with cmdlets new-azcontainerappsecretobject & update-azcontainerapp"
### Description

How should one append a additional secret to an existing container app that is already one or several secrets assigned to it? If I manually configure multiple secrets to one container app - I can retrieve it using the corresponding get-azcontainerappsecret cmdlet. However, if I try to build a new secret object and then insert that secret using the update-azcontainerapp -Configurat

[2022-07-23 15:24] dariusonsched commented on #12627
@Kotasudhakarreddy @KranthiPakala-MSFT @ThejaChoudary This problem persists to this day (July 23, 2022).  Why isn't this being resolved?

[2022-07-23 16:44] Nickcandy commented on #18701
After checking, I think it is a bug of docker according to this issue: https://github.com/docker/for-win/issues/12701. Maybe it is some log info of docker. Could you help run `docker version` to check the version of docker and update the docker version to  Docker Desktop 4.10.0 (82025) if it's convenient?

[2022-07-23 16:52] dariusonsched commented on #12627
The work-around proposed by @rmarr2 worked.

For those of you like I who have lost faith in Microsoft resolving this issue, but do not understand the work-around.  Here is a guide to help you out:

1. Ensure you run the **New-AzWebApp** statement with the additional **-debug** parameter.  This will output the ARM template(s) being executed which you will need in a subsequent step.  Note: You will

[2022-07-24 23:32] jerEspresso commented on #18959
Hi @dingmeng-xue , it sounds much better than removing `ShouldProcess` for all HTTP methods in `Invoke-AzRestMethod`. Thank you!

[2022-07-24 23:52] zakimal commented on #18938
Can anyone answer my question? @dingmeng-xue @antcp @AzureAppServiceCLI

[2022-07-25 03:38] KlutzyBubbles commented on #12121
Is there an update on the status of this, i am running Az.Accounts 2.8.0 and Az.RecoveryServices 5.4.0 and it still seems to be an issue.

[2022-07-25 03:38] navba-MSFT commented on #18963
@CloudDevDan Apologies for the late reply. Thanks for reaching out to us and reporting this issue. We are looking into this issue and we will provide an update.

[2022-07-25 05:28] navba-MSFT commented on #18945
@tianputao The action is currently pending on you test with older version since the service version in China cloud is running behind the public cloud. We will now proceed with closure of this GitHub issue. If you need any further assistance on this issue in future, please feel free to reopen this thread. We would be happy to help.

[2022-07-25 05:28] #18945 closed

[2022-07-25 06:05] dingmeng-xue commented on #19022
@JohnMiner3 , thanks for your suggestion. We hope to provide brief example to help user understand the usage of cmdlet. The example cannot cover all corner cases. It makes example wordy when we add more checks. In this case, we just hope user know how to modify common attribute of all resources.

[2022-07-25 06:07] dingmeng-xue commented on #19024
@lijinpei2008 , could you help to look into it?

[2022-07-25 07:11] #18028 closed

[2022-07-25 07:37] Kotasudhakarreddy commented on #12627
@dariusonsched - Sorry for the inconvenience caused here and thanks for the solution proposed. But Microsoft is always giving its best to the customers. Regarding this issue, the reported user is using the old version( `1.5.0`) of `Az.Websites` modules and hope it is same with you. With the current version `2.11.2` of `Az.Websites`, the reported issue is not reproducible. issue is fixed. please ch

[2022-07-25 08:15] denisdm91 commented on #14871
Hi, I have the same problem.

[2022-07-25 08:19] #18959 closed

[2022-07-25 08:20] #18989 closed

[2022-07-25 09:15] navba-MSFT commented on #18963
@CloudDevDan While I ran the same above PS script it worked fine on my box. Could you please try with the most recent PS preview version https://github.com/PowerShell/PowerShell/releases/tag/v7.3.0-preview.6 ? Awaiting your reply.

[2022-07-25 09:29] CloudDevDan commented on #18963
@navba-MSFT You're not going to believe this, but it works now (even without testing the most recent PS preview version).

I swear that I've not changed a thing since I last tested this!

I received a Verbose output which was different to before - it's nothing to be worried about, but I never received that last week. I'm confident nothing has changed on my system, my PS and module versions are all

[2022-07-25 09:37] BartDecker opened #19035 "Get-AzPolicyExemption -Scope <resourceid of a resource> gives subscription exemptions"
### Description

One can programmatically (ARM) set exemptions on resources instead of subscription & resourcegroups. But Get-AzPolicyExemption doesn't allow to retrieve an exemption on a resource by using:

* in case test24 storage account **has no exemptions** for the resource itself

Get-AzPolicyExemption -Scope "/subscriptions/xxxxxxxxxxeb4299f3f0/resourceGroups/rg-decker/providers/Microsoft.S

[2022-07-25 09:38] isra-fel opened #19036 "[Eng]: CreateMappings_rules.json should be updated when moving code to main"
### Description

https://github.com/Azure/azure-powershell/blob/fdf679c138510c50d4463ca35a1174fd51c68cda/tools/Gen2Master/MoveFromGeneration2Master.ps1#L354

This code should update `CreateMappings_rules.json` file whenever moving a module from generation to main, but it's not, for example https://github.com/Azure/azure-powershell/pull/19031

[2022-07-25 09:48] navba-MSFT commented on #18963
@CloudDevDan We didn't receive any issues being reported on this AzPowershell repo other than your ticket. So unlikely anything changed at our end. Like I mentioned above, The same above command worked for me in the first attempt. Seems like a transient issue to me. Nonetheless, if the same issue resurfaces again in future feel free to reopen this thread. We would be happy to work with you again.

[2022-07-25 09:48] #18963 closed

[2022-07-25 11:53] jossemann88 opened #19037 "new-AzAutomationRunbook/import-AzAutomationRunbook type error"
### Description

Hi,

I'm unable to create new Powershell runbooks with Powershell.
I do deploy them with Bicep, but when trying to import new script with "Import-AzAutomationRunbook" I got the error:
{"Message":"The request is invalid.","ModelState":{"runbook.properties.runbookType":["The field runbookType is invalid."]}}

I then tried to create the PS runbook entirely with PS, and the same error

[2022-07-25 12:34] JamesDLD commented on #18965
I was searching for a workaround but I don't see any [Azure Logic Apps REST Operation Groups](https://docs.microsoft.com/en-us/rest/api/logic/?WT.mc_id=AZ-MVP-5003548) that could help here, do you confirm?
Thanks.

[2022-07-25 13:33] Sandido commented on #18217
[ADO item ](https://msazure.visualstudio.com/One/_workitems/edit/15046519)tracking this work.

[2022-07-25 16:16] rcampos-knowmadmood opened #19040 "Add-AzIotHubDevice not set ParentDeviceId"
### Description

All adding an edge device with its parent device using the Add-AzIothubDevice, performs the operation but does not put it as parent.
There is also no other SetParentDevice method for Edge devices.

### Issue script & Debug output

[code]

### Environment data

[code]

### Module versions

[code]

### Error output

[code]

[2022-07-25 16:35] Kotasudhakarreddy commented on #18896
closing due to lack of response. Please file a new issue if this is still a problem.

[2022-07-25 16:35] #18896 closed

[2022-07-25 17:32] SaurabhSharma-MSFT commented on #19037
@jossemann88 We are looking into it and get back to you for any additional information.

[2022-07-25 17:53] oortizmcp commented on #10231
I was having the same issue, you can try the following:

$priFabric = (Get-AzRecoveryServicesAsrFabric | Where-Object {$_.FabricSpecificDetails.Location -like $RecoveryRegion -or $_.FabricSpecificDetails.Location -like $RecoveryRegion.Replace(' ', '')}).Name

$priContainer = Get-AzRecoveryServicesAsrProtectionContainer -Fabric $priFabric

$recFabric = (Get-AzRecoveryServicesAsrFabric | Where-Objec

[2022-07-25 20:46] SatishBoddu-MSFT commented on #18783
We are routing this to the service team's attention for further action!

[2022-07-25 20:47] SatishBoddu-MSFT commented on #18777
We are routing this to the Service Team's attention for further action!

[2022-07-25 20:48] SatishBoddu-MSFT commented on #18759
We are routing this to the Service Team's attention for further action.

[2022-07-25 23:15] jojohpm commented on #18990
We recommend that you use REST APIs to create, update & GET budgets because CLI commands might not support the latest version of the APIs.
https://docs.microsoft.com/en-us/azure/cost-management-billing/costs/tutorial-acm-create-budgets#create-and-edit-budgets-with-powershell

[2022-07-25 23:41] dariusonsched commented on #12627
@Kotasudhakarreddy We are using CloudShell within the Azure Portal.  The following is the version of `Az.Websites`:

```2.11.2               Az.Websites                         /usr/cloudshell/temp Microsoft Azure PowerShell - App Service (Web Apps) service cmdlets for Azure Resource Manager in Windows PowerShell and PowerShell Core.…```

Which matches your required version.  Yet, we are experienc

[2022-07-26 03:46] Kotasudhakarreddy commented on #12627
@dariusonsched - I have followed the steps given in the issue description. Yet, I am unable to see the issue. Below is FYR.
if you can provide the exact scenario/steps you are failing with, will help us for further analysis.
![image](https://user-images.githubusercontent.com/60102891/180918465-0fb3b68b-9949-4e54-bb27-dbbd92e911fe.png)

[2022-07-26 06:18] zakimal commented on #18938
I think it would be useful to have an API that can also retrieve application settings in bulk.
The documentation for the `Export-AzResourceGroup` command could state that configuration values cannot be retrieved.

[2022-07-26 07:26] Oscar114 commented on #16807
@bshamster1  Your reply solve my problem. Thanks

[2022-07-26 07:38] Kotasudhakarreddy commented on #12627
@dariusonsched My understanding of the issue is that you are unable to create a new App service with the deployment slots from
the existing app service. If this is the issue, I am unable to reproduce from cloud shell. Please find the below repro steps I have followed.
![image](https://user-images.githubusercontent.com/60102891/180950508-b95f03a5-5f27-4849-8865-3e4a3c5aedf5.png)

[2022-07-26 07:42] shiftychris opened #19052 "Az.CDN - Recreate DeliveryRuleCacheExpirationActionParameters Rule"
### Description

Documentation is a bit short of examples for 8.1.0 Az.CDN but I think its other missing a function compared to the older version.

How do you create a CacheExpirationAction using this version? I have attempted to use New-AzCdnDeliveryRuleResponseHeaderActionObject and this creates the correct header but this is different to creating via the UI.

What is the recommended way to set

[2022-07-26 09:21] lijinpei2008 commented on #19024
Hi @larswurm,
You can solve the issue by using the following example:
[code]

[2022-07-26 09:29] ArmaanMcleod opened #19055 "Remove-AzRoleDefinition does not format WhatIf message correctly"
### Description

If you run `Remove-AzRoleDefinition -WhatIf`, the message is outputted as:

[code]

Which looks like an issue with the formatting of the resource string.

### Issue script & Debug output

[code]

### Environment data

[code]

### Module versions

[code]

### Error output

_No response_

[2022-07-26 12:24] jossemann88 commented on #19037
-Type is case sensitive.
PowerShell works.

[2022-07-26 12:24] #19037 closed

[2022-07-26 14:40] Sandido commented on #18140
This is the output:

PS /home/adam> $dedicatedHost = Get-AzHost -ResourceGroupName $rgname -HostGroupName $hostGroupName -Name $hostName;
PS /home/adam> $dedicatedHost.Id
/subscriptions/e37510d7-33b6-4676-886f-ee75bcc01871/resourceGroups/rgname/providers/Microsoft.Compute/hostGroups/rgnamehostgroup/hosts/rgnamehost
PS /home/adam> $host2 = Get-AzHost -ResourceId $dedicatedHost.Id;
Get-AzHost: 'host

[2022-07-26 17:49] rahuls-microsoft commented on #18641
The QuotaRP is in private preview. The subscription registered for QuotaRP are manual through ACIS actions by the QuotaRP Team.
We have enabled few subscriptions for testing.
Please wait for QuptaRP public Preview. If you need to use it urgently, then please send us the subscription IDs, we can enable only few subscriptions, as the QuotaRP is in Private preview, by invitation only.

[2022-07-26 17:49] rahuls-microsoft commented on #18641
The QuotaRP is in private preview. The subscription registered for QuotaRP are manual through ACIS actions by the QuotaRP Team.
We have enabled few subscriptions for testing.
Please wait for QuptaRP public Preview. If you need to use it urgently, then please send us the subscription IDs, we can enable only few subscriptions, as the QuotaRP is in Private preview, by invitation only.

[2022-07-27 02:16] Nickcandy opened #19063 "[Feature]: automatically verify version of images in mcr"
### Description of the new feature

Set up a new pipeline to verify the version of images in MCR when release, so that can ensure the images contain the right version AZ.

### Proposed implementation details (optional)

_No response_

[2022-07-27 02:42] t-bzhan commented on #18353
Examples added now

[2022-07-27 02:42] #18353 closed

[2022-07-27 03:22] isra-fel opened #19067 "[Eng]: Result of daily smoke test is incorrect when a module is going to GA"
### Description

If a module is going to GA, we will add it to `Az.psd1` in advance, which will cause `RunVersionController.ps1` to fail in daily build, because [it is required to install the last version before version bump up](https://eng.ms/docs/cloud-ai-platform/azure/azure-core-compute/control-plane-bburns/azure-cli-tools-azure-cli-powershell-and-terraform/azure-cli-tools/teams_docs/azps_docs

[2022-07-27 06:09] psdgal opened #19069 "Update-AzADApplication : Cannot bind argument to parameter 'Id' because it is an empty string."
### Description

Hi,

while updating this service principal I get the following error.

### Issue script & Debug output

[code]

### Environment data

[code]

### Module versions

[code]

### Error output

[code]

[2022-07-27 06:23] LindaTJ28 commented on #7330
@blueelvis were you able to find any solution for this?

[2022-07-27 13:37] jrussellaz opened #19072 "OSDisk.DeleteOption Property"
### Description

Hello,

Can the OSDisk.DeleteOption Property be inspected and set via the Azure PowerShell module? If not, can this feature be added?

https://docs.microsoft.com/en-us/dotnet/api/microsoft.azure.management.compute.models.osdisk.deleteoption?view=azure-dotnet

### Script or Debug output

_No response_

### Environment data

_No response_

### Module versions

_No response_

### Err

[2022-07-27 15:01] jrussellaz commented on #19072
Please disregard. I found the DeleteOption parameter of Set-AzVMOSDisk in the documentation. [Set-AzVMOSDisk (Az.Compute) | Microsoft Docs](https://docs.microsoft.com/en-us/powershell/module/az.compute/set-azvmosdisk?view=azps-8.1.0)

[2022-07-27 15:01] #19072 closed

[2022-07-27 16:54] CallumCrowley commented on #9160
I would really like to see this functionality! Are there any updates on this?

[2022-07-27 17:33] Nagesh29 commented on #12840
@navba-MSFT :
[https://techcommunity.microsoft.com/t5/microsoft-entra-azure-ad-blog/end-of-support-for-azure-ad-graph-permission-sign-up-through/ba-p/2464404]
I believe Azure Active Directory Graph permissions are deprecating and "Get-AzRoleAssignment" doesn't work without those permissions. Could you please suggest any alternate powershell module/library with which we can work on az role assignme

[2022-07-28 02:52] dingmeng-xue commented on #19069
@psdgal , I tried the same script with the same version but cannot reproduce it. Could you check the value of id in the output of `$sp | fl`? BTW, your app id is very special. Is it mock one?

[2022-07-28 03:09] dingmeng-xue commented on #19024
3 things we have learned from this case.
1. We will add example to tell user how to use that.
2. Cmdlet of Get should return a non-fixed size array. Then user can add new property just in one line.  https://github.com/Azure/autorest.powershell/issues/978
3. We will look into the usage of secret. If usage is high, we should introduce additional cmdlet to serve `Add-AzContainerAppSecret` and `Remove

[2022-07-28 03:30] wyunchi-ms opened #19080 "[Az.ConnectedKubernetes] Cannot access connected kubernetes from azure arc"
### Description

After created a azure arc resource successfully. Cannot the kubernetes from azure arc.

### Issue script & Debug output

[code]

### Environment data

[code]

### Module versions

[code]

### Error output

_No response_

[2022-07-28 05:07] BethanyZhou commented on #18954
Hi @agr , could you share your way to set DnsName as empty list via `Set-AzureKeyVaultCertificatePolicy`

[2022-07-28 05:27] psdgal commented on #19069
@dingmeng-xue, the Id is present and it's a GUID. I confirm that the app is "special" and I am not mocking it. We need to add new reply url sometime.

By the way... The same script works with AzureAD module (which is being deprecated):

[code]

[2022-07-28 06:27] dingmeng-xue commented on #19069
I found the root cause. Application of "00000015-0000-0000-c000-000000000000" is inaccessible to user. Current `Set-AzADServicePrincipal -InputObject` internally updates app and sp both. The logic is blocked by failure of application update.

If we want to keep consistent with previous implementation, cmdlet needs to check existing of app at the first.
https://github.com/Azure/azure-powershell/blo

[2022-07-28 07:54] wyunchi-ms commented on #17808
Sorry, AKS doesn't support run a command as admin now.

[2022-07-28 09:05] Dylan-Prins opened #19086 "[Feature]: Support multiple parameter files in New-AzResourceGroupDeployment"
### Description of the new feature

Support multiple parameter files in New-AzResourceGroupDeployment like with 'az deployment group create'

### Proposed implementation details (optional)

_No response_

[2022-07-28 10:15] CallumCrowley commented on #9160
@bingbing8 were you able to find a suitable solution to this problem?

[2022-07-28 10:32] dingmeng-xue commented on #9160
How can script access Keyvault?

[2022-07-28 10:35] dingmeng-xue commented on #9160
We are still waiting someone to explain the whole scenario and how to handle question about cert persistence.

[2022-07-28 10:35] CallumCrowley commented on #9160
You could connect to the Key Vault using managed identity, get the certificate and then need to use this certificate (which is now in memory) to connect to another tenant via Connect-AzAccount. Sadly, this isn't possible with Connect-AzAccount and storing the certificate in local store isn't as secure as using a Key Vault.

[2022-07-28 11:47] CallumCrowley commented on #9160
I've explained in my comment above. We need this for multitenant situations where we've fetched the certificate from the Key Vault via managed identity and need to connect to other tenants using the certificate object.

[2022-07-28 12:09] rezarms opened #19087 "Invoke-AzVMRunCommand for powershell removes caret character"
### Description

invoke-azcommand removes caret character .
I tried to call invoke-azcommand to run a powershell script but my script receives parameter with deleted caret character.

$password="test^123456"

Invoke-AzVMRunCommand -ResourceGroupName $rg  -VMName  $vm -CommandId 'RunPowerShellScript'   -ScriptPath './test.ps1'    -Parameter @{"password"=$password}

in my script I print out the valu

[2022-07-28 13:24] SoundaryaDurai opened #19088 "New-AzUpgradeModulePlan : Cannot validate argument on parameter 'ToAzVersion'. The argument "5.2.0" does not belong to the set "8.0.0""
### Description

When I try to upgrade AzureRM powershell scripts to Az Module by following the steps in https://docs.microsoft.com/en-us/powershell/azure/quickstart-migrate-azurerm-to-az-automatically?view=azps-8.1.0 , I get the following error

New-AzUpgradeModulePlan : Cannot validate argument on parameter 'ToAzVersion'. The argument "5.2.0" does not belong to the set "8.0.0"

### Script or Deb

[2022-07-28 14:23] rezarms opened #19089 "invoke-azcommand on encrypted disk doesn't run"
### Description

I have a linux vm with host encryption enabled.
I ran the invoke-azcommand and receiving below error:
`
Azure Disk Encryption cannot be enabled on disks that have encryption at host enabled
`
I'm not enabling ADE on the vm and it's just running a simple script.
I guess the error is misleading .
What's more, having host encryption enabled  shouldn't cause any issue with running scr

[2022-07-28 14:35] rezarms commented on #19089
It's host encryption with customer key.

[2022-07-28 14:48] DexterPOSH commented on #18781
Either using the full namespace as mentioned by @dolauli or use the using statement in the PowerShell script.

`using namespace Microsoft.Azure.PowerShell.Cmdlets.Resources.Authorization.Models.Api20201001Preview;`

Note - The module `Az.Resources` need to be loaded in the PowerShell session before using the above statement.

[2022-07-28 14:54] apoorva-kamath-maersk opened #19090 "Az.ServiceBus:1.8.0; Remove-AzServiceBusNamespace not deleting namespace"
### Description

When I run Remove-AzServiceBusNamespace command it does not delete the namespace but I get a successfully deleted message without any error. Refer below the complete command and the debug logs for your reference.

### Issue script & Debug output

[code]

### Environment data

[code]

### Module versions

[code]

### Error output

[code]

[2022-07-28 19:11] jaylabell commented on #18978
We are looking into this issue!

[2022-07-28 19:14] jaylabell commented on #16793
@ziyuezh576 are you still experiencing this issue?

[2022-07-28 19:27] PramodValavala-MSFT commented on #18851
@pdhimate Apologies on the delay here! Looks like the current models here don't support that. We are assigning this issue to the concerning team to update.

In the meantime, you can make the required requests using the [`Invoke-AzRestMethod` cmdlet](https://docs.microsoft.com/en-us/powershell/azure/manage-azure-resources-invoke-azrestmethod?view=azps-8.1.0), which is essentially calling the corres

[2022-07-28 21:47] mikemadeja opened #19093 "Set-AzSqlDatabase -ReadScale Enabled, ReadScale still shows Disabled"
### Description

I have a Hyperscale DB, when I try to set it up with ReadScale as Enabled, the command works, but it is still disabled. I have other Hyperscale DBs that are Enabled for ReadScale

Set-AzSqlDatabase -DatabaseName "sqldb" -ServerName "sqlserver" -ResourceGroupName "sqlrg" -ReadScale Enabled

### Issue script & Debug output

[code]

### Environment data

[code]

### Module versions

[2022-07-28 22:06] mikemadeja commented on #19093
Well, I made a mistake, I have no replicas set.. but I would say that the output of this should somewhat show that instead of just committing? Thoughts?

[2022-07-29 00:14] flash-me commented on #9199
Hi @jespernohr,

does this mean that a rule "*google.com" will also match something like "drive.google.com" even though there is a dot?

If yes, this is totally not what we would expect. For certificates for example, if you have a wildcard domain like "*.mydomain.com", this will not match "subsub.*.mydomain.com", but the azure firewall will?

cheers
flash ⚡

[2022-07-29 01:11] sirfamelin opened #19094 "[Az Compute] Include Trusted Launch related flags to Simple Parameter Set for New-AzVm and New-AzVmss"
### Description of the new feature

We would like to include Trusted Launch related flags be included into the Simple Parameter Set for the following reasons:

- Parity with Az Cli, configuring Trusted Launch features is available through the Az Cli simple parameter set.

- Lower bar of entry for Az Ps, today customers have to use the Default Parameter Set which requires a whole script to set up s

[2022-07-29 05:41] dingmeng-xue commented on #19086
Hi @Dylan-Prins , I didn't see multiple parameter files example in `az deployment group create`. Could you provide one example to us? In addition, what's the reason the parameters are defined in multiple files?

[2022-07-29 06:25] Dylan-Prins commented on #19086
You can see it here in example 3: https://docs.microsoft.com/en-us/cli/azure/deployment/sub?view=azure-cli-latest

I use bicep with multiple modules. this means that I have a large main file and would like to split my parameter file according to my modules. Otherwise my parameter files would be to big to maintain

[2022-07-29 08:14] t-bzhan commented on #19052
@shiftychris , there are indeed some commands missing, we are planning to bring them back in next releases. As a workaround, could you try to use below commands to create a CacheExpirationAction:

A complete working example is as follow:

![image](https://user-images.githubusercontent.com/61817681/181715246-1453f386-cddd-449a-9993-f2d61cb45f0d.png)

You could find all the underlying model definiti

[2022-07-29 09:27] BethanyZhou opened #19099 "[Doc]: Example issues in Network"
### Description

Following issues must be fixed

[code]

  Following are warning issues. It is recommended to correct them as well.
[code]

[2022-07-29 12:46] Kotasudhakarreddy commented on #12627
closing as unable to repro the issue. Please file a new issue if this is still a problem.

[2022-07-29 12:46] #12627 closed

[2022-07-29 12:51] padeshaies commented on #18930
Excellent thank you @navba-MSFT

[2022-07-29 13:26] dingmeng-xue commented on #19099
@BethanyZhou , could you and team review the errors? Some errors do not make sense from my perspective. For instance, unassigned_variable error of `Update-AzRouteServer`. Shall it be fixed for the time being?

[2022-07-29 13:28] dingmeng-xue commented on #19093
@mikemadeja , could you share debug log of `Set-AzSqlDatabase`? You can turn on it via `$DebugPreference = "Continue"`

[2022-07-29 13:39] dingmeng-xue commented on #19088
Thanks for reporting. The latest Az.Tools.Migration targets to Az 8.0.0. Please update your script. We will update online docs. Thanks again.

[2022-07-29 14:11] dingmeng-xue commented on #19088
PR is raised. Closing this issue. Welcome to contact us if you any issue.

[2022-07-29 14:11] #19088 closed

[2022-07-29 15:29] w3bward opened #19100 "Invoke-AzAksRunCommand uses an out of date version of kubectl"
### Description

I'm not sure where to raise this issue, but I believe the way that Invoke-AsAksRunCommand works is that it spins up a pod from a Microsoft maintained image to actually execute the command. Currently it looks like this container image has kubectl version 1.20.13, which may have compatibility issues depending on the Kubernetes version running on your AKS cluster.

In my use case, I'

[2022-07-29 16:00] SaurabhSharma-MSFT commented on #19087
@rezarms We are looking into it and get back to you for any additional information.

[2022-07-29 21:02] Joe-Zer0 opened #19104 "Unable to get AppRoleAssignedTo Data"
### Description

Running `Get-AzADServicePrincipal -ObjectId XXX` returns MicrosoftGraphServicePrincipal which has an AppRoleAssignedTo property.  But this property is empty.  Trying to encourage the retrieval of AppRoleAssignedTo data I tried `Get-AzADServicePrincipal -ObjectId XXX -Select AppRoleAssignedTo`.  This resulted in a Request Uri of https://graph.microsoft.com/v1.0/servicePrincipals/XX

[2022-07-29 21:21] SaurabhSharma-MSFT commented on #19087
@rezarms I am able to reproduce this and looks like issue at service end. Hence, redirecting this to respective team to look into.

[2022-07-29 21:32] Luiz-Monad commented on #18846
The only output I have is that `Output error`.

[2022-07-29 22:26] rezarms commented on #19087
It seems other special characters would cause different issue. For example < character would fail script call.

[2022-07-30 00:15] MatiRizzi opened #19105 "New-AzEventGridSystemTopicEventSubscription looks not available"
### Description

When I try to use New-AzEventGridSystemTopicEventSubscription not recognize the comand

### Issue script & Debug output

[code]

### Environment data

[code]

### Module versions

[code]

### Error output

[code]

[2022-07-31 17:43] SaurabhSharma-MSFT commented on #19090
@apoorva-kamath-maersk We are looking into it and get back to you for any additional information.

[2022-08-01 03:13] navba-MSFT commented on #18721
@craiglandis We appreciate your patience on this. I have looped you in an email thread with the Compute PM team. Awaiting their reply now.

@jaylabell for awareness

[2022-08-01 03:17] navba-MSFT commented on #18930
@padeshaies Thanks for getting back. As mentioned earlier the PG has confirmed this bug and the workitem is in place for the fix with no ETA. We will now proceed with closure of this GitHub issue. If you need any further assistance on this issue in future, please feel free to reopen this thread. We would be happy to help.

[2022-08-01 03:17] #18930 closed

[2022-08-01 06:59] arpitmishra-eaton commented on #18987
helped. Thanks!

[2022-08-01 07:02] arpitmishra-eaton commented on #18987
also, i'm trying to import the function app api to apim with below command and getting 401 error.

Import-AzApiManagementApi -Context $context -SpecificationUrl https://publiclyaccessibleurl.com/test/items -SpecificationFormat OpenApi -Path deployCD

Response status code does not indicate success: 401 (Access
Denied).., Target= representation]
At line:1 char:1
+ Import-AzApiManagementApi -Context

[2022-08-01 07:49] larswurm commented on #19024
As per testing solution, I get error:
InvalidOperation: Method invocation failed because [Microsoft.Azure.PowerShell.Cmdlets.App.Models.Api20220301.ContainerAppSecret] does not contain a method named 'op_Addition'.

Checking on $secretObject | gm

   TypeName: Microsoft.Azure.PowerShell.Cmdlets.App.Models.Api20220301.ContainerAppSecret

Name         MemberType Definition
----         ---------- --

[2022-08-01 09:02] CallumCrowley commented on #9160
@dingmeng-xue is there an update on this?

[2022-08-01 09:15] #18954 closed

[2022-08-01 10:04] emil-hedemalm-sj opened #19113 "Get-AzFirewall not including privateIpAddress"
### Description

We noted that the _az network firewall show_ command will display _privateIpAddress_ of the Firewall instance, while the Get-AzFirewall command will not.

Example outputs:
[code]

[code]

Based on the debug output below it would seem that the _Microsoft.Azure.Commands.Network.Models.PSAzureFirewallHubIpAddresses_ object perhaps is outdated...? or anyway fails to parse the _private

[2022-08-01 10:22] emil-hedemalm-sj commented on #19113
I saw there is a 4.18.0 version of Az.Network as well. I tried updating and can still reproduce the same issue.

[2022-08-01 11:59] larswurm opened #19114 "[Feature]: Az.App powershell module - enable/disable single container app for Dapr"
### Description of the new feature

I am using Az.App powershell module version: 0.1.0 as in:
CommandType     Name                                               Version    Source
------------------------------------------------------------------------------
Function                various cmdlets                                0.1.0      Az.App

I am able to "enable" a container app for DAPR usage

[2022-08-01 12:43] dingmeng-xue commented on #9160
@CallumCrowley , we haven't made the decision yet. The whole end-to-end scenario required client authentication twice. User needs to fetch cert from cloud using different credential and then authenticate again. We are thinking a comprehensive way to support more cases.

FYI @dcaro @Alex-wdy

[2022-08-01 13:03] CallumCrowley commented on #9160
@dingmeng-xue thanks for the update, this is definitely something that is required for people building multitenant solutions. Managed identity doesn't support multitenant scenarios, so our only option is to use app registration. Storing the certificate for this app registration in the Azure Key Vault is also something that many clients are going to require their solution providers do and is far mo

[2022-08-01 16:48] kwill-MSFT opened #19115 "[Feature]: Get-AzSubscription with SubscriptionId parameter should internally only get a single subscription instead of listing all subs then searching"
### Description of the new feature

When calling Get-AzSubscription using the SubscriptionId parameter:
`Get-AzSubscription -SubscriptionId "123582cb-b98a-4200-a7a5-edee9045a123"`

Internally, this executes [(GetAzureRMSubscription.cs):](https://github.com/Azure/azure-powershell/blob/4668bff1cc4ed6510d9b0d4c6ec289ab27f04241/src/Accounts/Accounts/Subscription/GetAzureRMSubscription.cs#L91)
`this._c

[2022-08-01 19:37] swettstein commented on #19105
i think it's supposed to be part of version 2.0.0 of Az.EventGrid but i see no clue as to when that will be released.

supposedly it's part of Az 8.1.0 but that still uses 1.3.0 of Az.EventGrid: https://docs.microsoft.com/en-us/powershell/module/az.eventgrid/new-azeventgridsystemtopiceventsubscription?view=azps-8.1.0

[2022-08-01 23:34] SaurabhSharma-MSFT commented on #19090
@apoorva-kamath-maersk I do not see any issues with the cmdlet and it removes the Service Bus namespace without any issues.

[2022-08-02 02:57] navba-MSFT commented on #19052
@shiftychris Thanks for reaching out to us and reporting this issue. I hope you had a chance to look at the above suggestion provided by @t-bzhan and check if that helps.. Please let me know if you have any follow-up questions on this. Awaiting your reply.

[2022-08-02 04:25] Jassingh819 commented on #13325
It appears user wants to suspend the schedule instead of a job but is using the command to suspend a job and also has hard coded the job ID, AzAccounts mentioned by the user are working now and AzureRmAccount has already working for him but not giving him the desired output( seems to be a logical error on his end ).

Please use this to disable the schedule -
https://docs.microsoft.com/en-us/azure/

[2022-08-02 04:25] #13325 closed

[2022-08-02 04:34] Jassingh819 commented on #13104
Tested the stated issue, it can not be recreated now. It has been fixed as mentioned by @jaspkaur28 in above comment.

[2022-08-02 04:34] #13104 closed

[2022-08-02 04:48] Jassingh819 commented on #11822
We can use the Import-AzAutomationRunbook with -force switch to overwrite the existing runbook definition. https://docs.microsoft.com/en-us/powershell/module/az.automation/import-azautomationrunbook?view=azps-8.1.0 https://github.com/elvg/azure-powershell/blob/20ef290c3d1a65f082cc817675d02758b64bc5a0/src/ServiceManagement/Automation/Commands.Automation/Cmdlet/SetAzureAutomationRunbookDefinition.cs

[2022-08-02 04:48] #11822 closed

[2022-08-02 05:13] Jassingh819 commented on #14614
It is supported now. https://docs.microsoft.com/en-us/powershell/module/az.automation/set-azautomationaccount?view=azps-8.1.0

[2022-08-02 05:13] #14614 closed

[2022-08-02 05:45] isra-fel commented on #18742
If we are going to fix this issue in the upcoming breaking change, we should put the warning message on in the current milestone. @dingmeng-xue please prioritize. Thanks.

[2022-08-02 05:55] shiftychris commented on #19052
Perfect. Worked like a charm! Thank you.

[2022-08-02 05:55] #19052 closed

[2022-08-02 06:09] isra-fel commented on #18749
If it's a bug, we don't have to wait until next major release to fix it, we can do it in any release.
@ChenglongLiu  Hi Chenglong, can you prioritize this? Thanks

[2022-08-02 06:43] PowerShellToday commented on #17222
Version 0.13.0 was released just now, still expiring this bug.

[2022-08-02 08:37] jiasli commented on #14482
Possibly related. I noticed Azure PowerShell doesn't get all subscriptions in the second tenant `72f988bf-86f1-41af-91ab-2d7cd011db47` I pass to `Connect-AzAccount`. `72f988bf-86f1-41af-91ab-2d7cd011db47` contains several subscriptions, but only one is populated as a context.

[code]

[2022-08-02 09:04] dingmeng-xue commented on #19105
@BethanyZhou , please contact developer to correct their changelog. Az.EventGrid doesn't have release because of changelog missing.

[2022-08-02 09:07] dingmeng-xue commented on #19100
@wyunchi-ms , please help to look into this item.

[2022-08-02 09:10] dingmeng-xue commented on #19104
@VeryEarly , please look into this question.

[2022-08-02 09:13] dingmeng-xue commented on #19114
Thanks for reporting. Due to `-DaprEnabled` is a switch parameter, could you try `-DaprEnabled:$false`?
https://docs.microsoft.com/en-us/powershell/module/microsoft.powershell.core/about/about_functions_advanced_parameters?view=powershell-7.2#:~:text=%2DMySwitch%3A%24boolValue

[2022-08-02 09:20] VeryEarly commented on #19104
Hi @Joe-Zer0 ,
This is service behavior not return some properties for service principal, for Azure-PowerShell we generate cmdlets respect the API definition.

Hi @adamedx , please help evaluate will this be fixed from Microsoft Graph.

[2022-08-02 09:44] aggerritsen opened #19119 "Unsupported API Dns Resolver"
### Description

Hi,

(see also https://github.com/MicrosoftDocs/azure-docs/issues/96533)

When trying to create a DNS resolver with Powershell Module Az.DnsResoler v 0.2.1 I get this error:

New-AzDnsResolver_CreateExpanded: No registered resource provider found for location 'westeurope' and API version '2022-07-01' for type 'dnsResolvers'. The supported api-versions are '2020-04-01-preview'. The

[2022-08-02 09:50] Mrkokoo commented on #16874
I'm also running to same issue with Get-AzADUser cmdlet. Any estimates on fix timeline?

[2022-08-02 09:51] larswurm commented on #19114
Thanks for enlightening me @dingmeng-xue - yes, worked as intended with -DaprEnabled:$false

[2022-08-02 09:51] #19114 closed

[2022-08-02 10:14] DevBear85 commented on #18990
Any chance you can post a link to a documentation that references the APIs you mention, rather than the PowerShell that is not recommended ?

[2022-08-02 11:29] pmarguerite-kayentis opened #19120 "New-AzTag : Operation returned an invalid status code 'Accepted' on SQL database"
### Description

I have a script creating and updating tags on it and and for the last few days , the New-AzTag command failed on a Ms Sql database resource with the message
_New-AzTag: Operation returned an invalid status code 'Accepted'_
The tags are however correctly created.

I works fine on the other resource,  i am updating and it was previously working  there was no change on the script, no

[2022-08-02 12:19] fluffy-cakes commented on #16399
@fullmetalcache ; please, how the heck do i send a PowerShell JSON payload? what was your `$scriptContent`?

[2022-08-02 14:40] Nickcandy commented on #15883
The ADO pipeline team replied right here:
It seems that the problem here is related not to the task itself, but to specifics of the Powershell behavior on the hosted Windows agents. Passing password via pipeline in Powershell task works well on Ubuntu agents because they are provided with the PSCore instead of native Windows Powershell, so as a workaround you can switch the task to use preinstalle

[2022-08-02 16:44] erwinkramer opened #19122 "Get-AzADAppCredential > MSGraph.Autorest: Object reference not set to an instance of an object"
### Description

I've hit `Object reference not set to an instance of an object.` on a script. But I have a hard time reproducing it. All runs are doing fine today.

I'm using module `Az` version `8.1.0` as you can see in the trace.

### Issue script & Debug output

[code]

Line 170 in `somescript.psm1` is: ` $oldCredentials = Get-AzADAppCredential -ApplicationId $adApplicationObject.AppId | Where

[2022-08-02 19:01] viananth commented on #18951
@jaylabell Any updates on this?

[2022-08-02 20:28] jojohpm commented on #18990
https://docs.microsoft.com/en-us/rest/api/consumption/budgets/create-or-update?tabs=HTTP

[2022-08-02 21:10] ChristopherGLewis opened #19124 "New-AzRecoveryServicesAsrReplicationProtectedItem -VMwareToAzure requries a -ProcessServer of type Microsoft.Azure.Commands.RecoveryServices.SiteRecovery.ASRProcessServer, but the FabricObject only has Microsoft.Azure.Commands.RecoveryServices.SiteRecovery.ASRProcessServerDetails"
### Description

Based off this article: https://docs.microsoft.com/en-us/azure/site-recovery/vmware-azure-disaster-recovery-powershell

I should be able to retrieve an ASRProcessServer object from the $ASRFabricObject.FabricSpecificDetails.ProcessServers.

[code]
There doesn't seem to be

### Issue script & Debug output

[code]

### Environment data

[code]

### Module versions

[code]

### Error

[2022-08-02 23:16] AaronCreighton opened #19125 "[Feature]:"
### Description of the new feature

In short I would want Set-AzActivityLogAlert, to be on par with New-AzMetricAlertRuleV2Criteria. I assume once it does it will get it's own page in Azure Service Health alerts.

In the Portal & ARM you can assign any ActionGroup to an Health Service Alert / ActivityLog Alert. But in powershell ActivityLogAlertActionGroup is the only ActionGroup type that works w

[2022-08-03 01:47] #15081 closed

[2022-08-03 02:07] dingmeng-xue commented on #19125
@VeryEarly , please check whether the latest preview version can support this scenario.

[2022-08-03 02:15] VeryEarly commented on #19125
Hi @AaronCreighton ,

do you have some action group other than "ActivityLogAlertActionGroup" need to be assign to an alert rule? please try to set the property "ActivityLogAlertActionGroup.ActionGroupId" to the resource Id of the actual action group you created.

[2022-08-03 02:37] VeryEarly commented on #16874
We will expose parameter: "Count" in [2022-09-06](https://github.com/Azure/azure-powershell/milestone/139) release

[2022-08-03 02:52] AaronCreighton commented on #19125
Hi @VeryEarly,

thank you for responding.

My apologies I clearly needed to make it clear. "ActivityLogAlertActionGroup" is a type of action group there are at least 2-3 types of Action groups.

New-AzActionGroup creates the the "ActivityLogAlertActionGroup" which is the only type that you can give the -ActionGroup parameter for Set-AzActivityLogAlert.

Non of the documentation for Set-AzActivityL

[2022-08-03 04:22] navba-MSFT commented on #19113
@emil-hedemalm-sj Thanks for reaching out to us and reporting this issue. We are looking into this issue and we will provide an update.

[2022-08-03 07:01] SoundaryaDurai commented on #19088
Thanks dingmeng-xue. It works after modifying the script like you told.

[2022-08-03 07:17] fschmied opened #19133 "How to deal with Invoke-AzAksRunCommand failing with "Long running operation failed with status 'Failed'" with no additional details?"
### Description

I'm calling `Invoke-AzAksRunCommand` with a command that can take a long time to complete. (It's `kubectl drain` which can potentially run forever, so I'm giving it a timeout of 1h.) After some time, `Invoke-AzAksRunCommand` will fail with the error message _"Long running operation failed with status 'Failed'."_ with no additional details. (I'm currently using version 7.5.0 of the

[2022-08-03 08:00] RobHofmann commented on #19120
I'm running into the same issue with Azure CLI `az tag create`.

The REST api seems to have changed.

[2022-08-03 08:02] navba-MSFT commented on #19113
@emil-hedemalm-sj Could you please try to use the below workaround and check if that helps ?

$auth=Get-AzAccessToken
$authHeader= $auth.token
$subscriptionId='XXXXXXXXXXXXX
$resourceGroupName='RGName'
$firewallName='FirewallName'

$uri= "https://management.azure.com/subscriptions/" + $subscriptionId + "/resourceGroups/" + $resourceGroupName + "/providers/Microsoft.Network/azureFirewalls/" + $fire

[2022-08-03 09:15] JurrianAK commented on #19120
Ran into the same issue as well.

[2022-08-03 09:35] Denjaa commented on #19120
I ran into same issue also. Previously it worked fine but now this Accepted issue is appearing.

[2022-08-03 10:36] rezarms commented on #19089
After speaking to Microsoft it seems the issue is from vm hardware side and they suggested to redeploy vm to new host.

[2022-08-03 10:36] #19089 closed

[2022-08-03 11:45] SetTrend opened #19136 "[Doc]: Test-AzDeployment: Return value not specified"
### Description

The [documentation on `Test-AzDeployment`](https://docs.microsoft.com/en-us/powershell/module/az.resources/test-azdeployment?view=azps-8.2.0#description
) lacks a clear explanation of what to expect in case of success and what to expect in case of error.

So, one has to try-and-error to get acquainted with the different results. This is not desirable.

A documentation should give

[2022-08-03 11:57] SetTrend opened #19137 "[Doc]: Get-AzDeploymentWhatIfResult: Wrong default values in Get-Help output"
### Description

The documentation for the `Get-AzDeploymentWhatIfResult` returns unsatisfying details about it's parameters.

For instance, calling `Get-Help 'Get-AzDeploymentWhatIfResult' -Parameter 'ResultFormat'` [returns](https://docs.microsoft.com/en-us/powershell/module/az.resources/get-azdeploymentwhatifresult?view=azps-8.2.0#parameters):

[code]

… which isn't true for an enumeration para

[2022-08-03 12:06] steveaf commented on #8770
I get this error when using the Microsoft Quickstart templates, https://docs.microsoft.com/en-us/azure/templates/microsoft.datalakestore/accounts?tabs=bicep

This seems to be a live bug that was incorrectly closed.

This thread identifies the C# line that may cause the issue.
[martgras](https://github.com/martgras) commented [on Mar 19, 2019](https://github.com/Azure/azure-powershell/issues/8770#i

[2022-08-03 13:49] silverl commented on #19120
Also experiencing this with `Update-AzTag` in pwsh `Az.Resources` v 6.0.1

[2022-08-03 17:19] SaurabhSharma-MSFT commented on #19120
@pmarguerite-kayentis We are looking into it and get back to you for any additional information.

[2022-08-03 18:38] SaurabhSharma-MSFT commented on #18988
@tyeth I could see the same behavior in my environment and redirecting this to services team to fix this. Thanks

[2022-08-03 20:19] SaurabhSharma-MSFT commented on #18975
@jainrohitk I see the results are same for both cmdlets.  Cmdlet is trying to look for variable named **$apphap** and not for **$app** and thus you won't get the desired results.
For example -
Here the cmdlet will return all the VMs starting with "Azure*" and will not look "azure*testvm2"
![image](https://user-images.githubusercontent.com/38112130/182699371-adc2a269-19fc-4499-a3b7-4ea9ca8a9581.png

[2022-08-03 23:20] ArmaanMcleod opened #19140 "Get-AzResourceGroup -Tag does not accept more than one tag"
### Description

Get-AzResourceGroup -Tag does not accept more than one tag.

[code]

### Issue script & Debug output

[code]

### Environment data

[code]

### Module versions

[code]

### Error output

[code]

[2022-08-04 00:34] SaurabhSharma-MSFT commented on #19120
@pmarguerite-kayentis I am seeing the same behavior and looking into this.
![image](https://user-images.githubusercontent.com/38112130/182738241-71bf4d63-1c00-4dd7-8ece-cdf004d4fd05.png)

[2022-08-04 02:47] blueww commented on #17005
@ojintoad

I will close this issue as not see your responds for a long time.
Feel free to contact us again if you need any further assistance on Azure Powershell.

[2022-08-04 02:47] #17005 closed

[2022-08-04 06:25] JoVuon commented on #19120
Same here for using Update-AzTag with the 'Merge' operation.

[2022-08-04 08:03] #18900 closed

[2022-08-04 08:03] #18884 closed

[2022-08-04 08:03] #18858 closed

[2022-08-04 09:19] VeryEarly commented on #19125
Hi @AaronCreighton ,

In your case you might want to

1. create the actual action group by using `[Set-AzActionGroup](https://docs.microsoft.com/en-us/powershell/module/az.monitor/set-azactiongroup?view=azps-8.2.0)`
2. get the resource Id from the action group from step 1
3. create a `ActivityLogAlertActionGroup` by using `[New-AzActionGroup](https://docs.microsoft.com/en-us/powershell/module/az.m

[2022-08-04 11:22] dingmeng-xue commented on #19120
It should be ARM regression issue. Service team is fixing it.

[2022-08-04 16:18] dingmeng-xue commented on #19122
@VeryEarly , do you have any insight to this error message?

[2022-08-04 17:25] Oakyden opened #19146 "Where to find 'backendId' of API management instance?"
### Description

I've just been following https://docs.microsoft.com/en-us/azure/api-management/api-management-howto-mutual-certificates#add-a-key-vault-certificate to set up my Azure API management instance so that it's certificate secured against our backend.

The only problem is the final step says

[code]

I am doing the above albeit running `Set-AzApiManagementBackend` on the 2nd command inst

[2022-08-04 18:28] SetTrend opened #19147 "`New-AzSubscriptionDeployment` is lacking `Mode` parameter, right?"
### Description

According to @alex-frankel's answer to [my original question](https://github.com/Azure/bicep/issues/7819#issuecomment-1205194305), a `subscription` Bicep file may load and execute a `resouceGroup` Bicep file in order to (re-)create a resource group and all resources contained therein.

While the [`New-AzResourceGroupDeployment`](https://docs.microsoft.com/en-us/powershell/module/a

[2022-08-04 19:45] TravisCragg-MSFT commented on #17236
@dikethir I am closing this issue. If you are still having this issue and the above workaround does not resolve the problem let me know.

[2022-08-04 19:45] #17236 closed

[2022-08-04 21:32] AaronCreighton commented on #19125
@VeryEarly

Thank you for this. It is good to know a new set of cmdlets are coming. They are a bit of a mess. The portal and cmdlet are both way behind the templates.

My solution for now was to give up on using the cmdlet and just use an ARM template.

[2022-08-04 23:11] ChristopherGLewis opened #19148 "New-AzRecoveryServicesAsrInMageRcmDiskInput object is not compatible w/ -InMageRcmDiskInput parameter of New-AzRecoveryServicesAsrReplicationProtectedItem"
### Description

Using this URL for reference: https://docs.microsoft.com/en-us/azure/site-recovery/vmware-azure-disaster-recovery-powershell

I'm trying to replicate a VM to azure with an OS disk set to standard_ssd and data disk set to premium_ssd and it looks like the only way to do this is via the -InMageRcmDiskInput parameter of this parameter set:

[code]

However, building up a disk object

[2022-08-05 01:28] VeryEarly commented on #19122
Hi @erwinkramer
this looks related with PowerShell "ForEach-Object -Parallel", we cannot identify the root cause from Get-AzADAppCredential if no further detail provided.

[2022-08-05 02:48] navba-MSFT commented on #19004
@ACountyMike Apologies for the late reply. Thanks for reaching out to us and reporting this issue. We are looking into this issue and we will provide an update.

[2022-08-05 03:15] #19080 closed

[2022-08-05 03:24] BethanyZhou commented on #16004
Hi @dingmeng-xue , I can't reproduce this issue on my local. Could you provide more information for your scenario? Or we can assume this issue is gone.

[2022-08-05 03:33] yeseo1018 opened #19149 "Get-AzureRmWebApp not showing result"
### Description

Newly created function apps are not showing up on the Get-AzureRmWebApp, but when I try Set-AzureRmWebApp result is showing.

### Issue script & Debug output

[code]

### Environment data

[code]

### Module versions

[code]

### Error output

_No response_

[2022-08-05 05:15] navba-MSFT commented on #19113
@emil-hedemalm-sj Could you please let me know if you had a chance to follow the above workaround ? Awaiting your reply.

[2022-08-05 06:02] #19105 closed

[2022-08-05 06:06] BethanyZhou commented on #19105
Change log is added, these features will come around 9/10

[2022-08-05 07:41] emil-hedemalm-sj commented on #19113
That works locally, yes! Will try using it in the function/pipeline as well.

[2022-08-05 07:43] navba-MSFT commented on #19113
@emil-hedemalm-sj Thanks for the update. Let me know once that works in the function / pipeline. Awaiting your reply.

[2022-08-05 08:13] emil-hedemalm-sj commented on #19113
The work-around works fine in our functions and running them in Azure Pipelines.
Do we know when the Cmdlet would be updated with a fix?

[2022-08-05 08:44] navba-MSFT commented on #19004
@ACountyMike Could you please try with the [most recent version (4.19.0)](https://www.powershellgallery.com/packages/Az.Network/4.19.0) version of the Az.Network module and check if that helps ? I  was running the below command in my box and it had worked.

[code]

[2022-08-05 08:50] jdoblams opened #19157 "[Feature]: Enable PATCH operation on Set-AzApiManagement -InputObject"
### Description of the new feature

**Related command**
`Set-AzApiManagement -InputObject`

**Is your feature request related to a problem? Please describe.**
Scenario: APIM with VNET Injection
When you want to perform some update operation into the APIM such as change the SKU and you only have RBAC permissions on the APIM, you cannot update it due permissions missing as below

`Code: LinkedAuthor

[2022-08-05 10:28] Oakyden commented on #19146
OK so i realise the 'backend' it is after is what is listed in 'backends' for that API management instance. However, the way we have set up our Azure API management instances is without using this feature so we technically have no 'backends'

We just add 'APIs' to the instance and those policies and setting in turn forward to our backend service.

I will close this as my original question is answe

[2022-08-05 10:28] #19146 closed

[2022-08-05 10:39] SecuritasMachina opened #19159 "[Feature]: Encrypt bacpak file"
### Description of the new feature

When using New-AzSqlDatabaseExport the resulting bacpac file is not encrypted.  My requirement is that the bacpak file be encrypted on blob storage in case someone gains access to the blob storage or keyvault.

### Proposed implementation details (optional)

Add new encryption key parameter and use aes/pgp to encrypt the bacpak file as [filename].bacpak.encrypte

[2022-08-05 10:46] ElvenSpellmaker commented on #18928
I've got a very similar issue currently regarding Azure DevOps builds which don't run as a root user.

The module location has _moved_ from `/usr/local/share/powershell/Modules` to `/root/.local/share/powershell/Modules` in a recent build of the image.

This means any user running as _non-root_ no longer has access to this module as they can't read `/root/...`

SHAs of a build that works and doesn

[2022-08-05 10:56] SetTrend opened #19160 "[Feature]: Deprecate `New-AzDeployment` in favor of `New-AzSubscriptionDeployment`"
### Description of the new feature

Currently, there are four different ARM deployment Cmdlets in the `Az` PowerShell module, all with their individual scopes:

- [New-Az***Tenant***Deployment](https://docs.microsoft.com/de-de/powershell/module/az.resources/new-aztenantdeployment)
- [New-Az***ManagementGroup***Deployment](https://docs.microsoft.com/de-de/powershell/module/az.resources/new-azmanage

[2022-08-05 11:58] jberezanski-mdg commented on #15882
We have recently started seeing a similar issue on build servers in my company. The KeyNotFoundException gets thrown from a call to `Disconnect-AzAccount` (which is called automatically by the AzurePowerShell pipeline task).

After instrumenting the pipeline task with some logging, I got these error details, in particular the stack trace:

[code]

It leads to [this code in SurveyHelper](https://gi

[2022-08-05 12:52] Jassingh819 commented on #11101
Closed with above PR.

[2022-08-05 12:52] #11101 closed

[2022-08-05 12:53] Jassingh819 commented on #12322
Closed with above PR.

[2022-08-05 12:53] #12322 closed

[2022-08-05 15:20] ArmaanMcleod commented on #19140
closed as duplicate of #15485

[2022-08-05 15:20] #19140 closed

[2022-08-05 18:09] smorasoto commented on #19120
customers are also experiencing this issue using Tags - Update At Scope:

Azure SDk to remove tags using UpdateAtScope API on disk. The tags on the disk were removed successfully but it raises an exception=Microsoft.Rest.Azure.CloudException: Operation returned an invalid status code 'Accepted'.

ARM is showing 202

[2022-08-05 21:31] SaurabhSharma-MSFT commented on #19090
@apoorva-kamath-maersk Please let me know if you any questions else we will proceed with the closure of this issue.

[2022-08-05 23:48] nzthiago opened #19165 "Introduce Site Config configuration, especially for Pre-Warmed Instances and Always Ready settings (minimumElasticInstanceCount)"
### Description

Customers that want to configure the Always Ready and Pre-Warmed Instances settings of their Premium function apps using this PowerShell module have to currently configure it using the Get-AzResource and Set-AzResource approach as currently [documented here](https://docs.microsoft.com/en-us/azure/azure-functions/functions-premium-plan?tabs=azure-powershell#always-ready-instances).

[2022-08-06 00:38] dingmeng-xue commented on #19160
Thanks for reporting. We are also thinking a different approach. Those 4 cmdlets are used for the same purpose but various scope. If the parameters are vey close, we can merge them together and only expose New-AzDeployment for 4 types of scopes.

The change requires documentation update. We will raise this question to service team and content developer.

[2022-08-06 00:48] dingmeng-xue commented on #19149
Thanks for reporting. Could you just execute cmdlet `Get-AzureRmWebApp -Name [EDIT]` again after you turn on debug log? There is request and response in log. Please share it to us.

Another possibility is due to API version. Could you try `Get-AzWebApp` using the latest Az.Websites?

[2022-08-06 00:58] dingmeng-xue commented on #19137
@SetTrend , thanks for reporting it. Current PowerShell `Get-Help` doesn't return the `Accepted values` likes its online doc.

There are 2 possibilities to the default value of optional parameter. One is it is empty/none that user doesn't need to provide any value. Another one is cmdlet implementation set default value by developer but they forgot to describe it on doc. Let we check the implementa

[2022-08-06 01:04] dingmeng-xue commented on #19133
@wyunchi-ms , could you check this cmdlet? We need to provide more information based on cmdlet logic.

[2022-08-06 01:17] dingmeng-xue commented on #19122
If the issue comes from line of `Get-AzAdAppcredtial | Where-Object`, I believe other Get-{} cmdlet with the same pattern should have similar issue.

@erwinkramer , let's keep this issue open for a while. If you hit the issue again, please share to us.

[2022-08-06 09:33] SetTrend commented on #19160
Excellent suggestion. I'm looking forward to it.

Thank you.

[2022-08-06 10:04] SetTrend commented on #19137
Thank you, @dingmeng-xue. I guessed it's the implementation that's lacking the correct default value, and that you're dragging the `Get-Help` Cmdlet info here.

I'm looking forward to your findings.

[2022-08-06 10:30] kaushal087 opened #19166 "[Feature]: Pagination nextLink Validation with empty string"
### Description of the new feature

Currently in List API where pagination is being used, nextLink validation is done.

Currently, it has a check like this:

`
if nextLink != null
    call next page url
 `

Many services use nextLink="" when there are no more page, in this case it enters in `if` and calls the empty URL.

The feature request is to change it to:

`
if nextLink != null and nextLink !

[2022-08-08 00:01] yeseo1018 commented on #19149
`DEBUG: AzureQoSEvent: CommandName - Get-AzureRmWebApp; IsSuccess - True; Duration - 00:00:02.5039407; Exception - ;
DEBUG: Finish sending metric.
DEBUG: 9:53:36 AM - GetAzureWebAppCmdlet end processing.
DEBUG: 9:53:36 AM - GetAzureWebAppCmdlet end processing.`

This is all I could share as tonnes of other app removed the first log.

Get-AzWebApp this worked

[2022-08-08 01:40] BethanyZhou commented on #19099
Removed warning issues from current list.

[2022-08-08 01:53] dingmeng-xue commented on #19149
Thanks for sharing. It should relate to API version. How did you create the WebApp?

[2022-08-08 02:00] yeseo1018 commented on #19149
I have created through pipeline just like other apps

[2022-08-08 02:04] yeseo1018 commented on #19149
Here is the task
task: AzureResourceGroupDeployment@2
      displayName: Deploy App Service
      condition: and(eq(variables['doWebApp'], '1'), eq(variables['parameterFileExists'], true))
      inputs:
        azureSubscription: $(Subscription)
        resourceGroupName: $(ResourceGroupName)
        location: $(Location)
        csmFile: ARMTemplates/AppService/fa-template.json
        csmParamet

[2022-08-08 02:22] dingmeng-xue commented on #19149
Got it. I believe Webapp is created using the new API but AzureRm module still uses old version. Please consider to upgrade your module to the latest Az. I'm not sure service team plans to make API consistent.

[2022-08-08 04:12] navba-MSFT commented on #19004
@ACountyMike I wanted to do quick follow-up to check if you had a chance to look at my above comment. Please let us know if you have any queries on this. Awaiting your reply.

[2022-08-08 06:04] wyunchi-ms commented on #19100
Hi @w3bward , could you please share some more error message of your command? What's the compatibility issues looks like? Is it reject by service or some result is not as expected?

[2022-08-08 06:06] wyunchi-ms commented on #19036
Fixed by updating the codegen pipeline.

[2022-08-08 06:06] #19036 closed

[2022-08-08 06:18] dingmeng-xue commented on #19166
@kaushal087 , could you share the name of service and resource type? We will look into it with priority.

[2022-08-08 06:34] Jassingh819 commented on #10404
Thanks @BCOps for looking into this. It was a typo. Fixed in the above PR.

[2022-08-08 06:34] #10404 closed

[2022-08-08 07:43] bgawale commented on #18858
Is there any workaround for the issue apart from onboarding the SPN with directory readers permission? This still is an issue and becomes more visible while running commands from DevOps where it expects DevOps SPN to have the directory users reader permission which I find is too wide.

[2022-08-08 07:56] Nagesh29 commented on #12840
@navba-MSFT
Any updates on the above?

[2022-08-08 07:59] navba-MSFT commented on #12840
@Nagesh29 This is pending on Service Team.

@darshanhs90 @AshishGargMicrosoft Could you please look into this ask and provide an update. Thanks in advance.

[2022-08-08 08:03] #18949 closed

[2022-08-08 08:16] dingmeng-xue commented on #18858
@bgawale , ideally, cmdlet should provide one parameter set which doesn't require MSGraph call when SPN has limited permission. Could you let us know which cmdlet may have the problem?

[2022-08-08 08:26] isra-fel opened #19173 "[Eng]: module not built in CI"
### Description

There is a special case that a modified module may not be built in CI. For example, [this PR](https://github.com/Azure/azure-powershell/pull/19154) moved StorageMover module from generation branch to main branch, but the CI [did not build StorageMover](https://dev.azure.com/azure-sdk/public/_build/results?buildId=1763843&view=logs&j=2f7369d1-fb97-5262-a571-f4e9c996b7d1&t=c65099ae-

[2022-08-08 08:26] kaushal087 commented on #19166
Network Security Perimeter (it's in private preview)

[2022-08-08 08:34] bgawale commented on #18858
It is while using Set-AzSqlServerActiveDirectoryAdministrator

[2022-08-08 08:39] dingmeng-xue commented on #19166
Got it. Following practice of Azure, service should return null rather than empty string if there is no the next page. For the time being, you can manually change generated cmdlet to mitigate it. We will plan this work but it requires couple months.

[2022-08-08 09:22] navba-MSFT commented on #19149
@yeseo1018 Apologies for the late reply. Thanks for reaching out to us and reporting this issue.

Our recommendation is to use [Get-AzWebApp](https://docs.microsoft.com/en-us/powershell/module/az.websites/get-azwebapp?view=azps-8.2.0) PS cmdlet. Because we'll retire AzureRM PowerShell modules on 29 February 2024. Az PowerShell modules now have all the capabilities of AzureRM PowerShell modules and

[2022-08-08 10:12] pmarguerite-kayentis opened #19176 "Set-AzWebApp: Unable to deserialize the response. on setting AzureStoragePath"
### Description

I try to  link an Application Service with an AzureBlobStorage.
I run the Set-AzWebApp command with the AzureStoragePath parameter, but  command fails with a ' Unable to deserialize the response' error:

_Requested value 'NotValidated' was not found._

### Issue script & Debug output

[code]

### Environment data

[code]

### Module versions

[code]

### Error output

[code]

[2022-08-08 11:11] ElvenSpellmaker opened #19177 "Connect-AzAccount: "The term 'Connect-AzAccount' is not recognized as a name of a cmdlet" when run as a non-root user in Azure DevOps"
### Description

Azure DevOps uses the `vsts_azpcontainer` user which it directly injects into the container at run-time.

This breaks the build as the module seems to have moved from `/usr/local/share/powershell/Modules` to `/root/.local/share/powershell/Modules`.

The container that works:
![image](https://user-images.githubusercontent.com/2286713/183404111-e35665f8-e593-406b-b688-626b79d3ac54.p

[2022-08-08 12:58] ACountyMike commented on #19004
@navba-MSFT Parts of this appear to work, but I have trouble validating the configuration. If I set the firewall up the way we are both doing it and use PowerShell to get the configuration via `Get-AzApplicationGatewayWebApplicationFirewallConfiguration` then what is returned is an object that has the right ruleset version and DisabledRuleGroupsText that match the disabled rules, but the Azure web

[2022-08-08 13:54] SaurabhSharma-MSFT commented on #19119
@aggerritsen I could see the same behavior and checking internally on this issue.

[2022-08-08 16:44] MrFly72 commented on #19120
Same here with PWSH/Update-AZTag. We have to work around this issue by using PWSH -ErrorAction SilentlyContinue, which is risky as normal problems will now not popup anymore.
AZ.Resources is 6.1.0

[2022-08-08 21:11] PhelixPhoenix opened #19181 "Import-AzBlueprintWithArtifact not finding artifact's folder and not importing artifacts"
### Description

When running the command Import-AzBlueprintWithArtifact and pointing it to the folder containing blueprint.json the blueprint is imported, confirmed by the creation of the RG defined in the blueprint, but none of the artifacts are created, confirmed by looking at the blueprint definition in the portal.

### Issue script & Debug output

[code]

### Environment data

[code]

### Mod

[2022-08-08 22:18] wilbertduenk opened #19182 "[Doc]: Construct Hash table into EnvironmentVariable"
### Description

Constructed the following Hash table to use as EnvironmentVariable:

`$envVars = @{
               AZP_URL        = "https://dev.azure.com/TestProject/";
               AZP_TOKEN_FILE = "/azp/.token";
               AZP_POOL       = "IaCS Container Agent Pool";
               AZP_AGENT_NAME = "testagent"
             }`

However after creating $container with:
`$container = New-Az

[2022-08-08 23:27] SaurabhSharma-MSFT commented on #19119
@aggerritsen I have got the confirmation that he API version ‘2022-07-01’ is not ready yet. This will be the GA version of managed resolver once it is announced. Most probably this month end or beginning of the next month.
Product team is working internally with with the powershell team to remove the 0.2.1 PS version from PSGallery which is using the ‘2022-07-01’ API version. This will prevent oth

[2022-08-09 01:14] ejizba opened #19184 "[Feature]: New-AzFunctionApp should support creating Node 18 (preview) function apps"
### Description of the new feature

Related to https://github.com/Azure/azure-functions-nodejs-worker/issues/562

Node 18 is ready to be shown as a Preview stack for functions

### Proposed implementation details (optional)

Example PRs I did for stacks API:
- Preview & Hidden PR was already merged: https://github.com/Azure/azure-functions-ux/pull/6752
- Removing Hidden flag should be merged soon:

[2022-08-09 05:33] navba-MSFT commented on #19004
@ACountyMike Thanks for getting back. I am putting this all together now since I am not able to reproduce this issue. The output I received and the setting I have on the Azure Web UI ( Azure portal) matches.

I ran the below commands first to set the new rules:

Then I ran the below commands to fetch the firewall configuration details:

$FirewallConfig = Get-AzApplicationGatewayWebApplicationFirew

[2022-08-09 06:20] dingmeng-xue commented on #19120
The issue will be fixed on service side within one week.

[2022-08-09 08:55] tkudya opened #19187 "Connect-AzureAD BADrequest 400"
Recent issue with Connect Az-Accounts -credential. I have been getting the following error message below
![image](https://user-images.githubusercontent.com/78653328/183607853-18f7f3c0-2e83-4733-bf60-82d637d6c894.png)

Any ideas on how to resolve this?

[2022-08-09 09:14] aggerritsen commented on #19119
Hi Saurabh. OK. That worked well. Thx
I'll be looking forward to see this in GA soon.

Kind regards, Arjen

[2022-08-09 09:14] #19119 closed

[2022-08-09 12:48] ACountyMike commented on #19004
I'm not sure, I haven't seen the PowerShell I've applied reflected properly in the UI yet. It might be that I'm applying something incorrectly. I will test more and keep this issue updated. Thank you.

[2022-08-09 13:09] austvik opened #19188 "Very slow Import-Module when you have Hyper-V with several switches"
### Description

It takes a lot of time to Import-Module Az. Our support claim this is a known issue when you are running Hyper-V with more than one switch, but I don't see it mentioned here.

Other modules seem to load in reasonable time, so I believe it is an Az issue.

PS C:\> Measure-Command {Import-Module Az}

Days              : 0
Hours             : 0
Minutes           : 6
Seconds

[2022-08-09 18:26] ACountyMike commented on #19004
It looks like I was leaving out the last step of `Set-AzApplicationGateway -ApplicationGateway $AppGw`, but adding it to my script to configure the WAF throws an error that says "WebApplicationFirewallConfiguration cannot be changed when there is a WAF Policy <resource identifier> associated with it." I'm not exactly sure what that means or how to correct it.

[2022-08-09 21:04] PhelixPhoenix commented on #19181
I worked with a MSFT Support engineer with Azure and got this working, however working from the documentation https://docs.microsoft.com/en-us/azure/governance/blueprints/ there is inadequate information to actually deploy a Blueprint with Artifacts.
I was directed here https://docs.microsoft.com/en-us/azure/templates/microsoft.blueprint/blueprints/artifacts?pivots=deployment-language-arm-template

[2022-08-10 01:54] navba-MSFT commented on #19176
@pmarguerite-kayentis Thanks for reaching out to us and reporting this issue. We are looking into this issue and we will provide an update.

[2022-08-10 02:54] navba-MSFT commented on #19004
@ACountyMike Could you please confirm the sku you are using ? I believe it is set to WAFv2. Awaiting your confirmation.

![image](https://user-images.githubusercontent.com/57353862/183800063-fdc1e020-e148-403e-af74-0b38bd5648f5.png)

[2022-08-10 03:29] navba-MSFT commented on #19113
@emil-hedemalm-sj I am checking this with the Azure Firewall Product owners. Awaiting their reply now.

[2022-08-10 07:12] vibangadeveloper opened #19189 "Cannot update PublicNetworkAccess flag in Update-AzMySqlServer command"
### Description

Hi team, I was checking the commands for Azure SQL, Azure Postgress and storage and all of them has an option to change the PublicNetworkAccess however for [Az.MySql](https://docs.microsoft.com/en-us/powershell/module/az.mysql/?view=azps-8.2.0) module, the command Update-AzMySqlServer that updates the server parameters does not expose that as an input parameter. We are writing Azu

[2022-08-10 10:20] JakubLizinczyk commented on #18990
This is all great but if I understand it correctly all REST API usages require us to create an App Registration / Service Principal, which by default will allow us to only check a specific subscription and we need to work with the whole directory. While this is okay, because we're switching Context in PowerShell anyway to talk to subsequent subscriptions, that option doesn't require us to create o

[2022-08-10 10:37] paul-e-martin opened #19193 "[Doc]: Pretask/Posttask documentation for New-AzMaintenanceConfiguration"
### Description

The pre/post task documentation is a little lacking on how runbooks are passed through via PowerShell.
Please could this be expanded upon.

https://docs.microsoft.com/en-us/powershell/module/az.maintenance/new-azmaintenanceconfiguration?view=azps-8.2.0

[2022-08-10 10:50] navba-MSFT commented on #19176
@pmarguerite-kayentis Could you please follow the below action plan and let me know if that helps ?

**Plan 1:**
Please try to update your [Az.Websites module](https://www.powershellgallery.com/packages/Az.Websites/2.11.3) to the most recent version.

**Plan 2:**
Could you please confirm if you ran the [New-AzWebAppAzureStoragePath](https://docs.microsoft.com/en-us/powershell/module/az.websites/ne

[2022-08-10 12:27] shannonlowder opened #19194 "Remove-AzTag cannot delete"
### Description

When trying to remove an unused tag or tag value, I get an error saying the tag and value cannot be deleted. It is associated to one or more resources.  I can run Get-AzResource and confirm the tag and tag value are not in use.

![Screen Shot 2022-08-10 at 8 21 51 AM](https://user-images.githubusercontent.com/2295514/183899874-8e8cbf13-1ea7-4975-9031-c8ad27937abc.png)

### Issue s

[2022-08-10 12:36] wimmatthyssen commented on #19120
Thanks for the update, facing the same issue at the moment.

[2022-08-10 12:39] ACountyMike commented on #19004
Thanks, I will test that out.

[2022-08-10 13:26] JakubLizinczyk commented on #18990
This is all great but if I understand it correctly all REST API usages require us to create an App Registration / Service Principal, which by default will allow us to only check a specific subscription and we need to work with the whole directory. While this is okay, because we're switching Context in PowerShell anyway to talk to subsequent subscriptions, that option doesn't require us to create o

[2022-08-10 14:37] mrblackistone opened #19195 "Get-AzConsumptionUsageDetail uses an old API version (2018-01-31) and does not return all data"
### Description

Get-AzConsumptionUsageDetail uses an old API version (2018-01-31), and does not return all data.  Specifically billing charges with a Part Number of "-2" are excluded from the results.  However, when I construct a custom REST API call using a newer API version of "2021-10-01" works fine and returns all data.

This does not retrieve all data:
HTTP Method:  GET
Absolute Uri:  https:

[2022-08-10 15:27] dingmeng-xue commented on #19187
@tkudya , thanks for reporting. Could you check your admin whether tenant still allows user name + password login? If yes, please turn on the debug log with setting `$DebugPreference = "Continue"` and share log to us. In addition, please share version of Az.Accounts.

[2022-08-10 15:31] dingmeng-xue commented on #19189
Thanks for reporting. We will look into it.

[2022-08-10 15:42] #19176 closed

[2022-08-10 15:43] dingmeng-xue commented on #19188
@austvik , thanks for reporting. Below is my local test. It takes 1.4 minutes to load 77 Azure PowerShell modules. It's really slow in your environment. I'm not sure meaning of `running Hyper-V with more than one switch`. One known issue is speed is slow if module is imported from remote disk for instance from NAS because importing module requires lots of disk IO.

[code]

[2022-08-10 15:46] dingmeng-xue commented on #19194
@shannonlowder , according to message returned from service, `ClusterId` is not predefined id or you cannot access it. Could you double check?

[2022-08-10 15:53] dingmeng-xue commented on #19177
@ElvenSpellmaker , do you know base image of non-working environment? Could you help check version of Linux distro? We are not familiar to vsts_azpcontainer. Please share us how you use it in ADO. We will try to reproduce it.

[2022-08-10 15:59] dingmeng-xue commented on #19182
Thanks for reporting. `New-AzContainerInstanceObject` is a cmdlet for constructing in-memory object which will be used for resource creation or update.  So, you need to call New-AzContainerGroup to create resource on Azure. Here is one example https://docs.microsoft.com/en-us/powershell/module/az.containerinstance/new-azcontainergroup?view=azps-8.2.0#example-1-create-a-container-group-with-a-conta

[2022-08-10 16:19] ElvenSpellmaker commented on #19177
Hi there, AzDo runs the container and then injects its own user into the container and runs the tasks under that user.

This is roughly how it's used in AzDo in the Pipeline:
[code]

And then it's called via a task:
[code]

I hope that helps a bit

[2022-08-10 17:44] ACountyMike commented on #19004
Unfortunately, `$AppGw.webApplicationFirewallConfiguration = $null` completely cancels out my command of `Set-AzApplicationGatewayWebApplicationFirewallConfiguration -ApplicationGateway $AppGw -Enabled $true -FirewallMode Prevention -RuleSetVersion 3.1 -RuleSetType OWASP -DisabledRuleGroups $941120,$942110`. So, this can't be a fix.

[2022-08-10 21:00] harre096 opened #19199 "[Doc]: More description and code sample on how to use INPUTOBJECT"
### Description

The notes say
To construct, see NOTES section for INPUTOBJECT properties and create a hash table.
Looking in the list, I see the property I'd like to edit

- INPUTOBJECT <ISite>
- then [Config <ISiteConfig>]: Configuration of the app
- then [NetFrameworkVersion <String>]: .NET Framework version.

Only I don't know how to build the hashable and Get-Help about_Hash_Tables isn't much

[2022-08-10 21:24] drmrldhr opened #19200 "Az.ServiceFabric Can not perform requested operation on nested resource. Parent resource 'SF clustername' not found"
### Description

I get the error below when use the cmdlet. but my SF cluster exists
Get-AzServiceFabricManagedNodeType : Code: ParentResourceNotFound, Message: Can not perform requested operation on nested resource. Parent resource '' not found.
At C:\Users\muralird.REDMOND\OneDrive - Microsoft\1Murali\1Azure\AFS\PowerShellScripts\Deployment PowerShell\SF Cluster deployment\Restart-SFNode.ps1:9 c

[2022-08-10 23:11] alex-frankel commented on #19147
Only Resource Group scoped deployments support `Mode`, so the issue is not that the command is missing a parameter set, but that the functionality at those deployments scopes does not exist. We are in a private preview of a new way of deploying bicep/template code which is called [Deployment Stacks](https://www.youtube.com/watch?v=-4E5DsC-RcU&t=1657s) that among other things is kind of like comple

[2022-08-11 01:36] dingmeng-xue commented on #19199
Thanks for reporting. It's a really good suggestion. We will consider to provide conceptual doc to tell user how to use InputObject for resource creation and update.

[2022-08-11 01:50] #12778 closed

[2022-08-11 03:50] navba-MSFT commented on #19004
@ACountyMike I guess there is some confusion. I am pasting the PS script in order so that you are clear on how to run the script.

**Firstly you need to run the script to nullify the WAF config:**

[code]

**Then run the below commands to set the new rules:**

[code]

**Wait for sometime for the changes to reflect. Then to fetch the firewall configuration details, run the below PS script:**
[code]

[2022-08-11 03:55] navba-MSFT commented on #19149
@yeseo1018 I wanted to do quick follow-up to check if you had a chance to look at my above comment. Please let us know if you need any further assistance on this. Awaiting your reply.

[2022-08-11 05:02] yeseo1018 commented on #19149
Updating to the latest version of AzureRm.Websites still did not worked.
Will upgrade to AZ modules as they work fine.
Thhank you

[2022-08-11 05:02] #19149 closed

[2022-08-11 05:04] isra-fel opened #19204 "[Eng]: fill in the placeholders in help documents"
### Description

The help documents introduced by #18557 contains placeholders which should be replaced by real cmdlet descriptions/synopsis/examples.

Here's an example of placeholder being in our online help: [Add-AzApplicationGatewayBackendSetting](https://docs.microsoft.com/en-us/powershell/module/az.network/add-azapplicationgatewaybackendsetting?view=azps-8.2.0)

@gdhillon24 hi, you were the

[2022-08-11 05:08] gdhillon24 commented on #19204
Acknowledged

[2022-08-11 05:37] #18655 closed

[2022-08-11 05:54] dingmeng-xue commented on #16004
Close it because it cannot be reproduced.

[2022-08-11 05:54] #16004 closed

[2022-08-11 07:39] tkudya commented on #19187
Please see attached
[logs.txt](https://github.com/Azure/azure-powershell/files/9306987/logs.txt)

Module is 2.9.1

[2022-08-11 08:13] tkudya commented on #19187
That's fixed now. it was TLS 1.2 we were just missing one registry key

[2022-08-11 09:11] BethanyZhou commented on #17351
Met in https://github.com/Azure/azure-powershell/pull/19023

[2022-08-11 12:03] SetTrend commented on #19147
Interesting video (though I'm not sure how stacks are going behave if the same resource will be assigned to two different stacks at the same time).

Yet, I'm referring to the following [comment you made](https://github.com/Azure/bicep/issues/7819#issuecomment-1205242644) in [#7819](https://github.com/Azure/bicep/issues/7819):

So, when I launch a deployment, I will start-off with a Subscription sc

[2022-08-11 15:52] Devvox93 opened #19208 "Get-AzStorageTable not using AD credentials"
### Description

Run the following command:
[code]

Expected result:
A table object is returned (either printed to console or put in a variable).

Actual result:
Error in console:
`Get-AzStorageTable: Key based authentication is not permitted on this storage account.`

### Issue script & Debug output

[code]

### Environment data

[code]

### Module versions

[code]

### Error output

[code]

[2022-08-11 16:26] ACountyMike commented on #19004
I tried this workaround, I set the firewall configuration to null and ran the command to set the app gateway. If I run the command to get the gateway again, the object I get back has a blank value for `WebApplicationFirewallConfiguration :`, but a waf policy remains associated with the gateway in the ui and trying to set a new configuration with `Set-AzApplicationGatewayWebApplicationFirewallConfi