[2020-03-26 03:50] dingmeng-xue commented on #11353
What we are trying is below code. I'm not sure if it is the same case.
[code]

[2020-03-26 03:55] datr93 opened #11420 "Cmdlet errors requiring at least one optional property to be passed."
## Description
Cmdlet errors requiring at least one optional property to be passed.

## Steps to reproduce

[code]

New-AzWvdWorkspace : ActivityId: dba6f10b-ea30-44bd-8769-74775f2844fd Error: Workspace properties are missing
At line:1 char:1
+ New-AzWvdWorkspace -SubscriptionId 292d7caa-a878-4de8-b774-6890976662 ...
+ ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
+ Categor

[2020-03-26 04:14] dingmeng-xue commented on #11322
@matt-lethargic, ideally Get-AzStorageAccount shouldn't throw error when there is no existing account. Could you share us the debug message of Get-AzStorageAccount after setting `$DebugPreference = "Continue"`

[2020-03-26 04:48] TylerLeonhardt commented on #11353
Yep, that does fail... In PS 6.2+ we use Newtonsoft and even that handles your code correctly:

[code]

Can you open an issue in https://github.com/PowerShell/PowerShell ?

I still think using `new` is quite dangerous because via reflection (which PowerShell uses _heavily_) you get 2 values for the same property... and would really strongly encourage changing what I've outlined above... but `Conve

[2020-03-26 06:28] dingmeng-xue commented on #11353
Sure. I have created it https://github.com/PowerShell/PowerShell/issues/11910

[2020-03-26 07:00] iceyokuna opened #11421 "[New-AzPolicyAssignment] Assignment name length 24 problem"
## Description
New-AzPolicyAssignment is failed, when we assign the policy at "ManagementGroup" level with assignment name length more then 24 characters.

However, its work!! when we assignment the policy at "Subscription" level with assignment name more than 24 characters.

If its because MS backend design, is there any reason behind that it work when we assign at subscription level, but not Man

[2020-03-26 08:43] blueww commented on #11419
@manomar01
Which version of Powershell Az.Storage module do you use?
Would you like to use the latest Az.Storage 1.13.1-preview, it should can print the requestID, and it can help us to investigate what the error is.
Else, would you like to run following command just after the error happen? And we might can also see the request ID in it.

[code]
If there's still no request ID, would you please sha

[2020-03-26 12:23] plzm opened #11422 "Update-AzCosmosDBAccount does not enable IP firewall rules on an account to be removed"
Reference
https://github.com/Azure/azure-powershell/blob/master/src/CosmosDB/CosmosDB/CosmosDBAccount/UpdateAzCosmosDBAccount.cs#L175

For a scenario such as document at https://docs.microsoft.com/en-us/azure/cosmos-db/how-to-configure-vnet-service-endpoint#migrate-from-firewall-to-vnet, existing IP firewall rules need to be removed from a Cosmos DB account.

Currently Update-AzCosmosDBAccount onl

[2020-03-26 12:33] plzm opened #11423 "Update-AzCosmosDBAccount is missing ability to set disable key based metadata write access property"
To complete the scenario documented in https://docs.microsoft.com/en-us/azure/cosmos-db/how-to-restrict-user-data, the "disableKeyBasedMetadataWriteAccess" account property must be set.

Update-AzCosmosDBAccount does not accept a parameter for this and does not internally operate on this property.

The corresponding Azure CLI command does expose this argument (disable-key-based-metadata-write-acce

[2020-03-26 13:39] dingmeng-xue commented on #11418
Involve Network team to look into this issue.

[2020-03-26 13:49] dingmeng-xue commented on #11421
It needs service team's further explanation. Involve Resources team.

[2020-03-26 16:20] panchagnula commented on #11374
@zeeshan-aym no we haven't made any updates/ changes to AzureRM Module. IP restrictions was never supported with AzureRM module.

[2020-03-26 17:06] allegradomel commented on #11418
Hi @PleaseStopAsking, looking into this!

[2020-03-26 19:04] manomar01 commented on #11419
Hi Wei,
I tried to load Az.storage 1.13.0 and ran and still same error. Can you ping me in Teams so I can provide the storage account?

Thanks,
Mano
From: Wei Wei <notifications@github.com>
Sent: Thursday, March 26, 2020 1:44 AM
To: Azure/azure-powershell <azure-powershell@noreply.github.com>
Cc: Manoharan Mariappan <manomar@microsoft.com>; Mention <mention@noreply.github.com>
Subject: Re: [Azure/

[2020-03-26 21:28] kenieva commented on #11421
Hi, the limit should be on the resource name due to a storage key requirement. This a limitation by design.

[2020-03-26 21:28] #11421 closed

[2020-03-26 21:38] pholden77 commented on #10564
If anybody is looking for a possible solution to this, add **-Etag "*"** as a parameter, it worked for me.

I've got no idea what Etag is or does, but I did find this Tech Community post where the answer pointed me in the right direction, https://techcommunity.microsoft.com/t5/azure-log-analytics/update-saved-search/m-p/328553

The last part of Stanislav's answer in the link above says, **"It is i

[2020-03-26 23:08] axayjo commented on #11297
The service works fine - this is a PowerShell issue. Substatuses are actually being returned when command is run in debug mode - confirmed by @gaburn on an email thread. Removing service attention flag. Adding @hyonholee to take a look at the PowerShell issue.

[2020-03-27 00:29] blueww commented on #11419
@manomar01
I don't know your ID on teams, so can't ping you on teams.
And for 1.13.1-preview, per my before comments, it's for more log. Would you please give the output of the failure cmdlets?
And please run the following 2 command just after the error in same PSH console and give me the output.

[code]

If they can give enough information, we don't need account name and time. else please give me

[2020-03-27 00:34] henrylyons opened #11431 "Set-AzApiManagementApi does not persist changes from pipeline input object"
## Description
I am trying to change API properties by retrieving an API object with Get-AzApiManagementApi, changing property values, and piping the changed API object to Set-AzApiManagementApi.

I am trying to set these API property values:
AuthorizationScope = ""
SubscriptionRequired = False

However, these changes are not persisted in the service.  Retrieving the same object again with Get-AzA

[2020-03-27 00:56] manomar01 commented on #11419
My id Manoharan Mariappan <manomar@microsoft.com>. If you can ping me now, we can quickly have a working session.

From: Wei Wei <notifications@github.com>
Sent: Thursday, March 26, 2020 5:30 PM
To: Azure/azure-powershell <azure-powershell@noreply.github.com>
Cc: Manoharan Mariappan <manomar@microsoft.com>; Mention <mention@noreply.github.com>
Subject: Re: [Azure/azure-powershell] Error renaming A

[2020-03-27 06:30] dingmeng-xue commented on #11431
Thanks for reporting. Involve API Management team.

[2020-03-27 07:01] erich-wang opened #11435 "[Aks] Start-AzAksDashboard doesn't open AKS dashboard correctly"
## Description
After creating AKS, could not open k8s dashboard using Start-AzAksDashboard.

## Steps to reproduce

[code]

## Environment data

[code]

## Module version

[code]

## Azure Profile

[code]

## Debug output

[code]

## Error output

[code]

[2020-03-27 11:03] dingmeng-xue commented on #11398
As subscription admin, I cannot reproduce this issue within my tenant. User is using the latest resource module.

[2020-03-27 12:47] blueww commented on #11419
@manomar01
The error is from server, and I have send the related server log to feature team to investigate it.
Will update you if feature team has any responds.

[2020-03-27 13:37] o-l-a-v opened #11439 "Az.Accounts commands messes up verbose output stream in Azure Automation Account"
## Environment

### Shared info
* Az.Accounts v1.7.3 both locally (PowerShell ISE) and in Automation Account

### $PSVersionTable - Locally (PowerShell ISE)

[code]

### $PSVersionTable - Automation Account

[code]

## Description
For whatever strange reason, doing anything with Az.Accounts module in Azure Automation Account breaks verbose output stream. It causes no problems locally, but if tryin

[2020-03-27 15:18] iceyokuna commented on #11421
Thank you. I know this limitation by design.

But why it works when we assign it at "subscription level" but not "ManagementGroup level". And the whole Assignment ID for subscription level is even longer than Assignment ID of managementgroup level. ??  Thanks!

[2020-03-27 16:46] nezoic commented on #9122
Why is this closed? I still have this issue, has anyone been able to resolve it?

[2020-03-27 17:15] dcaro commented on #11322
@matt-lethargic we should be consistent across the different Azure PowerShell modules and we are working on it. However this would create a breaking change that we want to carefully address, including proper documentation and warnings ahead of time before this gets implemented.
Close this issue for the moment since this will not be implemented before few months.

[2020-03-27 21:19] darkweb-123 commented on #9078
is there any solution , im facing the same issue on a powershell docker container

[2020-03-27 21:54] pragnagopa opened #11443 "[Az.Functions] Update linuxFxVersion for dotnet function apps"
- For V3 linux function apps - set linuxFxVersion to `dotnet|3.1`
- For V2 linux function apps - set linuxFxVersion to `dotnet|2.2`

[2020-03-27 21:56] pragnagopa commented on #11443
cc @ankitkumarr @divyagandhii

[2020-03-28 02:11] dingmeng-xue commented on #11046
Hi John,

I can reproduce your issue now. The error message hints there is no certificate in store. You need to import pfx into your keychain. But I didn’t figure out how to import certificate in your format on Macos. It’s out of Azure PowerShell’s scope.

Thanks,
Dingmeng

From: John McCrae <notifications@github.com>
Reply-To: Azure/azure-powershell <reply@reply.github.com>
Date: Tuesday, March 2

[2020-03-28 14:49] dingmeng-xue commented on #11439
Thanks for reporting. We will look into it.

[2020-03-28 22:01] johnmccrae commented on #11046
Trying that now. I also reverted to just basic PFX format and not JSON for the cert.

[2020-03-29 02:23] Francisco-Gamino commented on #11443
Hello @pragnagopa, this is just for Linux app, correct?

[2020-03-29 02:26] Francisco-Gamino commented on #10621
This issue has been fixed in the latest module release.

[2020-03-29 02:26] #10621 closed

[2020-03-29 02:26] Francisco-Gamino commented on #10735
This issue has been fixed in the latest module release.

[2020-03-29 02:26] #10735 closed

[2020-03-29 02:27] Francisco-Gamino commented on #11227
This issue has been fixed in the latest module release.

[2020-03-29 02:27] #11227 closed

[2020-03-29 02:27] Francisco-Gamino commented on #11235
This issue has been fixed in the latest module release.

[2020-03-29 02:27] #11235 closed

[2020-03-29 02:27] Francisco-Gamino commented on #11236
This issue has been fixed in the latest module release.

[2020-03-29 02:27] #11236 closed

[2020-03-29 02:28] Francisco-Gamino commented on #10539
This issue has been fixed in the latest module version.

[2020-03-29 02:28] #10539 closed

[2020-03-29 02:28] Francisco-Gamino commented on #10545
This issue has been fixed in the latest module version.

[2020-03-29 02:28] #10545 closed

[2020-03-29 02:29] Francisco-Gamino commented on #11112
This issue has been fixed in the latest module version.

[2020-03-29 02:29] #11112 closed

[2020-03-29 02:29] Francisco-Gamino commented on #11148
This issue has been fixed in the latest module version.

[2020-03-29 02:29] #11148 closed

[2020-03-29 15:33] fuentej commented on #8410
not sure if it helps, but I have the same issue when using Set-AzlogicApp

Set-AzLogicApp : The workflow '/subscriptions/<subID>/resourceGroups/trm-1staff-dev-rg/providers/Microsoft.Logic/workflows/trm-1staff-rmx-cand-dev' is associated with integration service
environment '/subscriptions/<subID>/resourceGroups/infrastructure-engineering-rg/providers/Microsoft.Logic/integrationServiceEnvironments/

[2020-03-29 16:09] iampeterdaniels commented on #10750
Thought maybe all previews would have the DataLakeGen2 cmdlets, so I installed 4.0.2-preview.  Not seeing any gen2.  Can anyone verify which preview version we should use for latest that has ADLS Gen2 cmdlets?

[2020-03-29 21:13] ziesemer opened #11446 "Unable to Connect-AzureAD with Az.Accounts imported under PS 7.0."
## Description

Unable to use Connect-AzureAD with Az.Accounts imported under PowerShell 7.0.

(Yes, I realize the AzureAD module is owned by another team / @AzureAD, so it was a toss where to open this first.  Opted for here, as arguably Az is breaking AzureAD.)

References:
* Looks like @devblackops ran into something similiar back in September: https://gist.github.com/devblackops/b734801c2379e6

[2020-03-30 03:07] blueww commented on #10750
4.0.2-preview is not for latest Storage feature.
Please install 1.13.3-preview, this is the latest version for datalake gen2. (Anyway, it has some change from 1.13.1-preview and before, espically on the output object properties. We will update the doc soon.)

[2020-03-30 04:27] manomar01 commented on #11419
Hi Wei,
Thanks for your call working on the issue. After you provided the new Az.Storage module (1.13.3) , there was no error for the folder rename but I see that there are two folders in ADLS- one source folder and target folder name which I wanted to rename.
This should only have new folder ‘landing20200329’. Is it still in the process of moving the data? This folder has about 7TB data. Would it

[2020-03-30 06:30] dolauli commented on #11420
The error is from the service side.

[2020-03-30 06:36] dolauli commented on #11420
Please let me if you have further questions.@datr93

[2020-03-30 09:57] dingmeng-xue commented on #11446
This is a known limitation on .NET CORE that new version assembly cannot be loaded if old version is already loaded. PowerShell is considering module isolation but so far there is no good solution yet.

Suggestion is to change the import order. If reversing order cannot work in VS code, it means some others load this old assembly too. Another alternative way is `Add-Type` in advance such as exampl

[2020-03-30 10:24] o-l-a-v opened #11449 "Az.DevOps.Blueprint won't install"
## Error description
"Az.DevOps.Blueprint" v1.0.3 won't install due to "Az.Blueprint" v0.2.9 not being catalog signed, according to the error message.

## Module:

* https://www.powershellgallery.com/packages/Az.DevOps.Blueprint

## Reproduce

[code]

## Error message:

![image](https://user-images.githubusercontent.com/6450056/77900069-c7653a80-727d-11ea-99fc-8c3060ad29be.png)

[code]

## Environ

[2020-03-30 11:01] himmyaggarwal opened #11450 "Error while running ADLS Gen2 Commands in Powershell"
Hi,

I am using powershell to run ADLS gen2 command. I want to create release pipelines in Azure DevOps to automate creation of ADLS gen 2 filesystem and folders and provide them required permissions.

I am using this article https://docs.microsoft.com/en-us/azure/storage/blobs/data-lake-storage-directory-file-acl-powershell

and getting error as in screenshot attached.
![image](https://user-image

[2020-03-30 11:54] dingmeng-xue commented on #11449
This issue is due to the psd1 in old version of Az.Blueprint 0.2.9 was not signed. The latest version 0.2.11 is signed. User has to use -SkipPublisherCheck parameter.

[2020-03-30 11:55] #11449 closed

[2020-03-30 12:01] dingmeng-xue commented on #11450
Add storage team to check it.

[2020-03-30 12:17] dingmeng-xue commented on #10871
The similar issue normally is due to Service side's change. It is out of Azure PowerShell's scope. If you still have problem, please share parameter you are using. We will investigate further.

[2020-03-30 13:33] henning-krause commented on #3012
I would also like to have this feature.

[2020-03-30 15:42] o-l-a-v opened #11455 "[Az.ManagedServices] Updating existing Managed Services Definition creates a new definition"
## Resources

* Documentation - https://docs.microsoft.com/en-us/powershell/module/az.managedservices/New-AzManagedServicesDefinition?view=azps-3.6.1#description
* Module (with version I used): https://www.powershellgallery.com/packages/Az.ManagedServices/1.0.2

## Description

According to linked documentation, you can use "New-AzManagedServicesDefinition" to create or update existing registratio

[2020-03-30 16:08] o-l-a-v commented on #11455
According to the API documentation:

* https://docs.microsoft.com/en-us/rest/api/managedservices/registrationdefinitions/createorupdate

One should probably provide an existing ```{registrationDefinitionId}``` if you'd want to update an existing one. There is no switch for that in "New-AzManagedServicesDefinition".

[code]

[code]

[2020-03-30 17:16] syim1 commented on #9116
anyone find a solution to this? just tried and I can't supply a description/customkeyidentifier for the client secret I want to set

[2020-03-30 17:34] luanshixia commented on #4246
Reply from Azure PowerShell team:

[2020-03-30 17:37] syim1 opened #11457 "New-AzADAppCredential cannot supply customkeyidentifier/description for client secret"
Using the Az module command New-AzADAppCredential I am unable to add a client secret customkeyidentifier like when using the New-AzureADApplicationPasswordCredential.

this is the code I ran

`
$startDate = Get-Date
$endDate = $startDate.AddYears(2)
$SecureStringPassword = ConvertTo-SecureString -String "password" -AsPlainText -Force
New-AzADAppCredential -ObjectId (Get-AzADApplication -DisplayNam

[2020-03-30 18:22] datr93 commented on #11420
@dolauli The server accepts no parameters. As you can see here. Does this the generated powershell will not support this case?
![MicrosoftTeams-image (6)](https://user-images.githubusercontent.com/43795914/77947293-920a1e00-7278-11ea-9b4e-43d149bf0c9c.png)

[2020-03-30 18:25] MehaKaushik commented on #11423
Targeting either S168 or S169.

[2020-03-30 18:26] MehaKaushik commented on #11422
Targeting either S168 or S169.

[2020-03-30 18:40] #4246 closed

[2020-03-30 18:54] dcaro commented on #5983
A potential workaround is described here:
https://stackoverflow.com/questions/59719532/how-to-create-a-linux-appservice-plan-with-new-azappserviceplan

[2020-03-30 19:22] panchagnula commented on #5983
@Kotasudhakarreddy and @ThejaChoudary can you look at this .

[2020-03-30 23:36] Francisco-Gamino opened #11458 "[Az.Functions] Add support for PowerShell 7 function apps"
Need to add support for PowerShell function apps
Rename runtime version for PowerShell 6 to 6.2

[2020-03-30 23:37] Francisco-Gamino commented on #11458
cc: @AnatoliB @eamonoreilly @anirudhgarg

[2020-03-30 23:38] Francisco-Gamino commented on #11458
This work item has a dependency on https://github.com/Azure/azure-rest-api-specs/pull/8681.

[2020-03-31 00:36] kesane-msft opened #11459 "Get-AzServiceBusTopic throws an exception if MaxCount exceeds 1000."
## Description
Get-AzServiceBusTopic throws an exception if MaxCount exceeds 1000.
Exception: 'top' exceeds maximum value of '1000'.

## Steps to reproduce
Execute the cmdlet -
`Get-AzServiceBusTopic -ResourceGroup $ResourceGroup -NamespaceName $OldNamespaceName -MaxCount 2000`

There is no way even to skip some topics, so in case we have > 1000 topics, there is no way to access the topics after t

[2020-03-31 02:03] dolauli commented on #11420
Your request body is not correct. First, "name" is in URL not in the requestbody. Second, if none of the optional parameters are provided, the request body will not contains "properties". And it is as below.
{
  "location": "canadaeast"
}

[2020-03-31 02:53] blueww commented on #11450
@himmyaggarwal

What's the Az.Storage module on your machine?
You can get by run "get-Module" after repro this issue. And if you follow the issue template, you can give the necessary information of the issue include the module version.

DatalakeGen2 feature, only available in Az.Storage preview module , the latest version in 1.13.3-preview. You can install with following command. (the output objec

[2020-03-31 03:39] dingmeng-xue commented on #11459
Involve ServceBus team to check if it is a limitation.

[2020-03-31 06:28] LiliDeng opened #11460 "How to filter SKUs API from PowerShell to a specific region?"
## Description of the new feature
Get-AzVMSize return the max NICs that for VM can attach. If we already have this, could you please share it with me?  Thanks.
## Proposed implementation details (optional)

[2020-03-31 14:34] ivanrvf commented on #11377
Hi @rthorn17 - Thanks for the info.

[2020-03-31 14:48] ThejaChoudary commented on #5983
Taking a look into this.

[2020-03-31 15:23] iampeterdaniels commented on #10750
Thank you, Wei Wei.  That is the conclusion I came to as well.  I'm using 1.13.3-preview and making some progress.  Now, I'm getting "Server encountered an internal error" when running `New-AzDataLakeGen2Item`, but methinks this might be cranky Azure due to load right now rather than an issue with the cmdlet.

[2020-03-31 16:19] panchagnula commented on #9895
closing since the PR with the fix is merged https://github.com/Azure/azure-powershell/pull/11189

[2020-03-31 16:19] #9895 closed

[2020-03-31 16:19] panchagnula commented on #10422
Fixed by PR https://github.com/Azure/azure-powershell/pull/11189

[2020-03-31 16:19] #10422 closed

[2020-03-31 16:20] panchagnula commented on #10482
Fixed by PR https://github.com/Azure/azure-powershell/pull/11189

[2020-03-31 16:20] #10482 closed

[2020-03-31 16:20] panchagnula commented on #10794
Fixed by PR https://github.com/Azure/azure-powershell/pull/11189

[2020-03-31 16:20] #10794 closed

[2020-03-31 16:25] panchagnula commented on #7682
Fixed by PR https://github.com/Azure/azure-powershell/pull/11271

[2020-03-31 16:25] #7682 closed

[2020-03-31 16:26] panchagnula commented on #7297
@ThejaChoudary what is the update on this - was this something the API team was looking at?

[2020-03-31 16:27] panchagnula commented on #10224
@ThejaChoudary/ @Kotasudhakarreddy did you make a fix for this already and so can you add a link to this PR here and close?

[2020-03-31 16:28] panchagnula commented on #10517
@ThejaChoudary / @Kotasudhakarreddy  what is the update on this issue?

[2020-03-31 17:15] panchagnula commented on #11410
az CLI doesn't support run as package either - we have an open issue on CLI to support run as package. Zip deploy is the current mechanism used in both commands

[2020-03-31 17:16] panchagnula commented on #11374
closing this since to use IPRestrictions or any new properties using Az CLI is the way to go.

[2020-03-31 17:16] #11374 closed

[2020-03-31 17:19] panchagnula commented on #10645
We need first class support for Linux on our commands for this to work.

[2020-03-31 19:13] ofirmanor commented on #10703
Hey, I acknowledge, thanks for raising this.
This is a known bug, where scope is currently only resource group - internal work item is 6012387.

[2020-03-31 19:13] #10703 closed

[2020-03-31 19:14] alex-frankel commented on #11291
The fix for this has been checked in, but we are waiting for this to get deployed. It should be deployed in 2-3 weeks.

[2020-03-31 19:14] #11291 closed

[2020-03-31 20:46] allegradomel commented on #11300
Looking into it...

[2020-03-31 21:01] lagebj opened #11464 "Issue copying managed disk incremental snapshot to page blob"
## Description
I am trying to copy incremental snapshots of a managed disk to a page blob using Start-AzStorageBlobIncrementalCopy. This fails with error 'The specified operation is not allowed on an incremental copy blob. HTTP Status Code: 409 - HTTP Error Message: The specified operation is not allowed on an incremental copy
blob.'

The goal is to be able to create snapshots of one managed disks

[2020-03-31 21:30] jaredr80 commented on #10160
There was an issue with the underlying API, not the PS cmdlet. #please-close

[2020-03-31 21:35] #10160 closed

[2020-03-31 22:53] m0ntl opened #11466 "Missing -asjob in command Set-AzVMDiskEncryptionExtension"
## Description
Missing -asjob flag in Az.Compute Set-AzVMDiskEncryptionExtension

## Module versions
Az.compute version: 3.7.0

[2020-03-31 23:13] cconrado opened #11467 "Az Storage Update Blob Metadata Command Missing"
## Description of the new feature
We need to update blob metadata via ps. It already exists for cli & rest.

## Proposed implementation details (optional)
It's so blobs can be updated while they are copied from ADF from FTP.

[2020-04-01 03:51] Ayanmullick commented on #10915
@Francisco-Gamino & @david-peden-q2 , Would this function be added to the next version of the module?

[2020-04-01 04:55] ivanignatiev commented on #10890
@dcaro Amazing proposal! It will solve my issue for sure, thank you!

At the same time, adding `-ResourceId` parameter to Az cmdlets could resolve the issue, as well.

[2020-04-01 05:47] dcaro commented on #10890
@ivanignatiev thanks for the feedback, since we have this effort in our backlog, I'm closing the issue for now. Feel free to ping again if you have any further question or comments.

[2020-04-01 05:47] #10890 closed

[2020-04-01 07:21] tj-jyk commented on #10517
I have the same problem.
this code sets current stack as metadata and it's work. (but you need always use New-AzResource!)

$propertiesObject = @{"CURRENT_STACK" =  "dotnetcore"}
New-AzResource -PropertyObject $propertiesObject -ResourceGroupName $resourceGroupName -ResourceType Microsoft.Web/sites/config -ResourceName "$appName/metadata" -ApiVersion 2018-02-01 -Force

[2020-04-01 15:03] KarenHammons commented on #11265
@BernieWhite thanks for reporting this issue.  This issue was fixed in a release late March.  Please let us know if you're still experiencing the issue.  Thank you!

[2020-04-01 15:03] #11265 closed

[2020-04-01 17:00] creadle opened #11471 "Add-AzKeyVaultNetworkRule: Can't add network rule for Key Vault."
## Description
Cannot create network rule for KeyVault with private IP space.  Running this in the cloud shell today, 4/1/2020.  This also doesn't work with a single IP if it's within any of the IANA private IP ranges.

## Steps to reproduce

[code]

## Environment data

[code]

## Module versions

[code]

## Debug output

[code]

## Error output

[code]

[2020-04-01 17:01] bradcstevens commented on #8701
Is there any way to force the removal of the user object that is disabled in one of those tenants? I am currently dealing with the login loop mentioned here due to my user object being disabled in a customer tenant. It's completely blocking my ability to login with my credentials via Az PowerShell even for purposes unrelated to the tenant my object is disabled in....

[2020-04-01 18:35] ThejaChoudary commented on #10224
Fixed by PR [#11196](https://github.com/Azure/azure-powershell/pull/11196)

[2020-04-01 18:36] #10224 closed

[2020-04-01 22:05] vinay-koganti opened #11473 "Set-AzDiagnosticSetting is not working when try to set for subscription"
## Description
Trying to enable diagnostic settings for my subscription through powershell. But getting the below error

Set-AzDiagnosticSetting : Exception type: ErrorResponseException, Message:
Microsoft.Azure.Management.Monitor.Models.ErrorResponseException: Operation returned an invalid status code 'BadRequest'
   at Microsoft.Azure.Commands.Insights.Diagnostics.SetAzureRmDiagnosticSettingComm

[2020-04-01 23:08] marknettle commented on #11205
Not quite the same issue, but similar, and it's what I got a hit on when searching for my problem, and could give hints as to where the issue lies.

I can view reservations in the Azure portal, and have Owner on the relevant subscriptions, but can't see them with these Cmdlets. I can see that portal is calling
`https://management.azure.com/api/invoke`
with
`x-ms-path-query: /providers/Microsoft.Ca

[2020-04-02 07:08] dingmeng-xue commented on #11466
Involve Compute team to look into it.

[2020-04-02 07:09] dingmeng-xue commented on #11467
Involve Storage team to evaluate this feature request.

[2020-04-02 07:11] dingmeng-xue commented on #11471
@creadle , could you confirm the same configuration can be added before April 1?

[2020-04-02 07:22] paulanguiano commented on #10533
We're using `Get-AzManagementGroup -GroupName $tenantGUID -Expand -Recurse` and then using a recursive function call to dive down through all the children to get a hold of management groups.  It's bad enough that subscriptions have no knowledge at all of the management group they're in, but this api limitation practically makes management groups unusable in any kind of automation.

If you know of

[2020-04-02 07:30] dingmeng-xue commented on #11457
@syim1, Azure PowerShell supports basic functions on Azure AD. The feature scope is less than AzureAD module. Could you use AzureAD to meet your requirement?

[2020-04-02 07:34] xuhaohems opened #11475 "Can't find the right resource type to list VM's in a classical cloud service roles"
## Description
Can't find the right resource type to list VM's in a classical cloud service roles in the new Az PowerShell module and I have to use the old version, e.g.

Get-AzureRole -ServiceName $_.ServiceName -InstanceDetails
## Cost

[2020-04-02 07:49] dingmeng-xue commented on #11475
Compute team, please help to answer this question.

[2020-04-02 07:52] dingmeng-xue commented on #11460
Compute team, please help to look into this question.

[2020-04-02 07:55] dingmeng-xue commented on #11455
Involve ManagedService team to look into it.

[2020-04-02 07:56] dingmeng-xue commented on #11473
@VeryEarly , please investigate this issue.

[2020-04-02 07:58] dingmeng-xue commented on #11464
Involve Storage team to help on it.

[2020-04-02 08:19] bgelens commented on #10531
Closing this as this was introduced in 3.5.0

[2020-04-02 08:19] #10531 closed

[2020-04-02 09:25] blueww commented on #11467
@cconrado
I am not very sure about your user scenario.
If you just want update the metadata of an exsiting blob, we support run Storage client library APIs with the object from Az.Storage cmdlet output. So you can do it by:
[code]

If you want to upgrade a blob with metadata, you can run:
[code]

[2020-04-02 13:38] cconrado commented on #11467
@blueww But thats not in the docs? using `Set-AzStorageBlobContent` isnt that reuploading the file because thats how the docs describes that cmdlet

is `$blob.ICloudBlob.SetMetadata()` in powershell? cause I saw that reference but for c#

[2020-04-02 13:49] blueww commented on #11467
@cconrado
Set-AzStorageBlobContent is used to upload a blob. It can also overwrite exist blob with -Force.

$blob.ICloudBlob.SetMetadata() is a .NET SDK API, you can run .NET SDK API in Powershell by nature.
As there are so many .NET SDK API can run, we don't doc all of them.

[2020-04-02 14:05] cconrado commented on #11467
@blueww `$blob.ICloudBlob.SetMetadata()` if i can use that without installing anything other than the module then we are good.

But I would document that as theres no cmdlet that just updates metadata without the file upload

[2020-04-02 15:49] dcaro opened #11477 "Deprecation message for use of AccessToken in Az.Accounts"
## Description
Implement a deprecation message in Az.Accounts when the AccessToken parameter is used.
We should also hide the -AccessToken parameter.

[2020-04-02 17:37] rthorn17 commented on #10533
@paulanguiano - Our API's offer more options on pulling the hierarchy details which is something we are working on fixing to create parity between all the interfaces.

The GET call on subscriptions can include "$expand=ancestors" which will give you the parent paths back to the root.
![image](https://user-images.githubusercontent.com/19830578/78279641-afcfc100-74cc-11ea-91b1-ca7e11f61e5e.png)

For

[2020-04-02 18:23] aladdindoc opened #11479 "The examples in the document Remove-AzKeyVaultManagedStorageSasDefinition uses a different command"
This is the document in question: src/KeyVault/KeyVault/help/Remove-AzKeyVaultManagedStorageSasDefinition.md

It's about the command Remove-AzKeyVaultManagedStorageSasDefinition
But the examples are using Remove-AzKeyVaultManagedStorage.

That'll cause confusion.
This is the screenshot of get-help Remove-AzKeyVaultManagedStorageSasDefinition
The command of the examples are wrong.

![image](https:/

[2020-04-02 19:57] paulanguiano commented on #10533
Thank you, that's very helpful.  I had taken the early comment about the error being "sourced from the REST API itself" to mean that I couldn't depend on the REST api to give me a complete listing of management groups either.

For now I think we'll run automation to tag the subscriptions with their management group to ease the way of other groups in our tenant that can't easily employ the REST api

[2020-04-02 22:34] manomar01 opened #11483 "Az Module offline version terminating immediately"
When offline Az modules are launched as Admin user or not, it terminates

![az_module_install_error](https://user-images.githubusercontent.com/62667075/78306124-7791a800-74f7-11ea-8023-76748fe8d377.PNG)

[2020-04-02 22:35] Tiano2017 commented on #5100
Closing the issue as I'm unable to get a repro. Please open a new issue with repro steps, if you see this happens.

[2020-04-02 22:35] #5100 closed

[2020-04-02 22:55] Tiano2017 commented on #7259
@migrande I tried the same command but the result I got on a VM resource is: `TotalSeconds      : 10.1508879`. Not sure if it's specific to your subscription. Is it possible to capture your client logs with a `-debug` option and share that with us?

[2020-04-02 23:45] MehaKaushik commented on #11383
To address issues like this in the Set-AzCosmosDB* cmdlets, we are introducing New-AzCosmosDB* and Update-AzCosmosDB* cmdlets which will have dedicated tasks of creating new and updating the existing resource objects.

[2020-04-02 23:45] #11383 closed

[2020-04-03 01:20] dolauli commented on #11420
Solution has been provided to David through email.

[2020-04-03 01:20] #11420 closed

[2020-04-03 02:15] Actual commented on #11205
I can confirm that this issue still exists as of today on version 0.8.2 of the Az.Reservations module. In trying to retrieve a list of reservations with  `Get-AZReservation -ReservationOrderID  $id` returns forbidden on three of our reservations. The account being used has owner permissions on all subscriptions.

[2020-04-03 02:38] blueww commented on #11467
@cconrado
You can use the .net Storage client library API with the output object from storage cmdlet,  by just install Az.Storage module.

for the doc, would you please help to update what's the doc?
It might be better to say to just update metadata with Az.Storage, user need get the blob object with Get-AzStorageBlob, and then user .NET Storage client library API to update it. You can also attach

[2020-04-03 08:03] lostcase commented on #9838
please address "Update Get-AzTenant to return the domain name"

[2020-04-03 08:16] houghtp commented on #11205
I did speak to support reagding this and they confirmed its a permissions issue. When calling the cmdlet the user either has to be an EA, or own the actual reservation.

So running under a user which has owner on the subscription, but not the rservation, will generate the error. Not sure why its this way, but thats the answer I recieved and my testing confirmed this,

[2020-04-03 10:20] dingmeng-xue commented on #11483
@manomar01 , could you share your environment information? What's the version of your OS?

[2020-04-03 10:29] dingmeng-xue commented on #11361
@Gill-Bates , could you share out put of below command?
[code]

[2020-04-03 10:30] dingmeng-xue commented on #11483
@manomar01 , could you share out put of below command?
[code]

[2020-04-03 10:33] dingmeng-xue commented on #11479
Thanks for reporting. We will verify and fix this doc issue.

[2020-04-03 10:53] shivakumarg06 opened #11491 "Get-AzDataFactoryv2Pipeline doesn't work"
Unable to fetch the Information of the Pipeline from the CMD Get-AzDataFactoryV2Pipeline -ResourceGroupName "ADF" -DataFactoryName "WikiADF"

Please refer the Screenshot for more information.

![Get-AzDataFactoryV2Pipeline issue](https://user-images.githubusercontent.com/15355596/78353704-24d3f100-75c8-11ea-8541-ad7a0c849a0f.png)

[2020-04-03 12:05] mahakjain314 opened #11492 "Disable-AzContextAutosave cmdlet skips logging of warnings subsequently"
## Description
This issue is specific to PowerShell scripts running in [Azure Automation](https://docs.microsoft.com/en-us/azure/automation/automation-intro). Azure Automation run PowerShell/PowerShell Workflow scripts at scale for customers.

Recently, we have observed issues while running PowerShell automation job which uses Disable-AzContextAutosave cmdlet.

After { Disable-AzContextAutosave -S

[2020-04-03 12:44] mahant-desai commented on #4820
Facing same issue. Actually i am trying to run powershell script from ARM template, using the resource "Microsoft.Resources/deploymentScripts" and trying to pass my id as Identity just like below
[code]

[2020-04-03 12:51] dingmeng-xue commented on #11492
We will try the same in automation.

[2020-04-03 12:56] dingmeng-xue commented on #11491
Involve Data Factory team to look into it.

[2020-04-03 15:07] manomar01 commented on #11483
Here is the info. Server is running Windows Server 2016 DataCenter.

C:\windows\system32>Dism /online /Get-FeatureInfo:NetFx3

Deployment Image Servicing and Management tool
Version: 10.0.14393.3241

Image Version: 10.0.14393.3241

Feature Information:

Feature Name : NetFx3
Display Name : .NET Framework 3.5 (includes .NET 2.0 and 3.0)
Description : .NET Framework 3.5 (includes .NET 2.0 and 3.0)
R

[2020-04-03 15:23] creadle commented on #11471
Unfortunately, I don't believe I tried to do it before April 1.

[2020-04-03 16:18] blueww commented on #11464
@lagebj

This error can report when the destination blob already exist before the IncrementalCopy, and is not created with IncrementalCopy.

Would you please check if the destination blob already exist, before you run the IncrementalCopy?

[2020-04-03 20:19] archunz commented on #11455
Ack. Azure Lighthouse team is reviewing and will revert.

[2020-04-03 20:29] npalmer1452 commented on #8473
This still is not working for me.  How do you fix with Get-AzStorageBlobontent?  I removed the powershell.exe.config file as stated in https://blogs.msdn.microsoft.com/jeremykuhne/2016/06/09/new-net-path-handling-sneak-peek/.  Perhaps i am missing something but when i run:
PS C:\GitHub\Enterprise-Cloud-Services> $x = "false"
PS C:\GitHub\Enterprise-Cloud-Services> $setting = [ref]$x
PS C:\GitHub\E

[2020-04-03 20:46] Drewm3 commented on #11460
The number of NICs allowed for a specific VM size is available in the API [Resource Skus - List](https://docs.microsoft.com/en-us/rest/api/compute/resourceskus/list) under the property **MaxNetworkInterfaces**.

Let me know if this answers your question.

[2020-04-03 20:49] Drewm3 commented on #11466
@vaibhav-agar, could you take a look at this feature request? If a new feature is needed to meet this request, then please open a feature suggestion in [Azure User Voice for VMs](https://feedback.azure.com/forums/216843-virtual-machines).

[2020-04-03 20:54] Drewm3 commented on #11475
The newer Az cmdlets do not support classic resources. For managing classic resources the older cmdlets, Azure*, must be used.

[2020-04-03 20:54] #11475 closed

[2020-04-04 02:33] LiliDeng commented on #11460
Thanks @Drewm3 , my request is not based on the created VM, but based on the size, like add another property for the return of get-azvmsize.

MaxDataDiskCount     : 64
MemoryInMB           : 2199023
Name                 : Standard_M192s_v2
NumberOfCores        : 192
OSDiskSizeInMB       : 1047552
ResourceDiskSizeInMB : 15393163
**MaxNicCount: XX**

[2020-04-04 10:19] himmyaggarwal commented on #11450
Hi

facing the below error while running same command.

![image](https://user-images.githubusercontent.com/62174568/78424513-c83a0a00-768b-11ea-9790-7ef45a183f7f.png)

[2020-04-04 10:27] himmyaggarwal opened #11496 "Azure devops archive files and upload to storage error"
Hi,

I have few folders in my repository feature branch and i want to upload those folders in azure storage after compressing them using archive agent in release pipeline.

1. i don't wanna save those folders in my feature branch and want to make it a single run in a fly . zip and upload. I tried to run archive agent and that agent is saving the file at $(Build.ArtifactStagingDirectory)/Azurefunct

[2020-04-04 10:27] blueww commented on #11450
The powershellGet on your machine is too old.
Please follow the doc to upgrade PowershellGet and install the module:
https://docs.microsoft.com/en-us/azure/storage/blobs/data-lake-storage-directory-file-acl-powershell

[2020-04-04 10:32] himmyaggarwal commented on #11496
Installed latest version now.

still facing the same issue. Am i missing something?

![image](https://user-images.githubusercontent.com/62174568/78424820-93c74d80-768d-11ea-8f67-da8e558573fc.png)

[2020-04-04 10:33] himmyaggarwal commented on #11450
Updated with latest module as updated in document but still facing the same issue.

![image](https://user-images.githubusercontent.com/62174568/78424847-b5c0d000-768d-11ea-89ac-b65744ab17a2.png)

[2020-04-04 10:48] blueww commented on #11464
@lagebj
Thanks for the detail!
I can also repro the same issue by create a normal page blob, delete it and then try to Incremental Copy to it. I have contact feature team to look is any server issue on that.

Anyway,  Incremental Copy to a blob which never exist before, still work fine on my test account. So would you like to change the destination blob name to a blob which never exist before, to

[2020-04-04 10:56] blueww commented on #11450
You don't follow the doc after install PowershellGet: "Then, close and reopen the PowerShell console."

You need to close and reopen PSH console to load the new installed powershellGet

[2020-04-04 11:05] blueww commented on #11496
@himmyaggarwal

Please follow the issue template, or we can't find enough information for investigate.
Please give the detail script, and which line reported the error.

For the error, it might because $ has special meaning in Powershell, if a file name has $, you need to replace it to $$.
[code]

[2020-04-04 11:15] himmyaggarwal commented on #11496
@blueww
I am not using any powershell script for the same. i used azure devops release pipeline agent.

I have attached yaml for the same.

![image](https://user-images.githubusercontent.com/62174568/78434143-92008880-7693-11ea-8efc-d336f3c5a058.png)
![image](https://user-images.githubusercontent.com/62174568/78434514-b197b100-7693-11ea-96a7-bdb36fdf6dbf.png)

[2020-04-04 11:20] blueww commented on #11496
If you don't use Azure Powershell cmdlets, you might should not open issue here.
This repo is for Azure Powershell issues.

And please follow the Issue template to open the issue.

[2020-04-04 11:25] himmyaggarwal commented on #11496
i have also written this below script and it also didn't work for me. it's pushing the file in application/octet-stream content type only rather compressed.

param
(
   [Parameter(Mandatory=$True, HelpMessage = "specify the parameter file")]
   $parameterFile

)

Write-Verbose "PSScriptRoot is: $PSScriptRoot"
$devOpsProjectFolder = (Get-Item -Path $PSScriptRoot).Parent.FullName
Write-Verbose "DevO

[2020-04-04 11:36] himmyaggarwal commented on #11450
but if i follow the same commands in my powershell scripts on azure devops. How can i restart

[2020-04-04 11:36] #11450 closed

[2020-04-04 13:15] SafwanHussain commented on #11381
Any update on this issue?
I am getting the same error when AzCosmosDBSqlContainer, however Get-AzCosmosDBAccount and Get-AzCosmosDBSqlDatabase commands are working fine.

[2020-04-04 13:57] blueww commented on #11496
@himmyaggarwal

If your only concern for the PSH script is application/octet-stream content type, you can specify the content type in Set-AzStorageBlobContent, see example #6 in https://docs.microsoft.com/en-us/powershell/module/az.storage/set-azstorageblobcontent?view=azps-3.7.0

If you don't specify content type, application/octet-stream is the default content type.

[2020-04-04 14:07] lagebj commented on #11464
@blueww

When copying to a page blob with another name I am able to copy the first snapshot. I then created a new snapshot of the managed disk and ran the same script again to copy the second snapshot to the same page blob and encountered a different error.

#### Error

[code]

[2020-04-04 14:49] rahalan opened #11497 "PowerShell Test-AzDeplyoment is missing a name parameter"
## Description of the new feature
When you run a PowerShell New-AzDeplyoment on Azure and you don’t specify a deployment name, the deployment will be named after the file, like “deploy” if you use a “deploy.json”. What is happening in the background is, that this deployment name for that tenant gets linked to the deployment region. This link is not changeable. So if you deploy the same file to a d

[2020-04-04 15:25] blueww commented on #11464
@lagebj
This is not a  Powershell issue, this is server issue (actually the before error is also server issue).
For server issue, would you please create an incident on https://icm.ad.msft.net/imp/v3/incidents/create, you can assign it to Team: Xstore/FE.

Please include the detail repro steps,  and the request ID/error message as following in the incident:
#### Current Issue
Message        : Serv

[2020-04-04 17:01] himmyaggarwal commented on #11496
using the "ContentType" = "application/x-zip-compressed" in command will compress the file?

[2020-04-04 18:04] MehaKaushik commented on #11381
Please expect this to be resolved in the upcoming version of Az.CosmosDB 0.1.4

[2020-04-05 08:06] SafwanHussain commented on #11381
@MehaKaushik
Thanks for the update.
When is this version getting released any idea?

[2020-04-05 09:18] Amethi opened #11499 "Connect-AzAccount Not Working on macOS"
Installed the latest v7 PowerShell for macOS and Connect-AzAccount does not work. I get the following error in the terminal after what looks like a successful browser experience:

[code]

AAD Signin info:

[code]

[2020-04-05 14:52] lagebj commented on #11464
@blueww I cannot access that site. Can you create the incident?

[2020-04-05 18:24] karthick3d commented on #11381
I do face the same problem, Is there any Quick hack for us to proceed until you release 0.1.4?

[2020-04-05 19:15] MehaKaushik commented on #11381
The ETA for the 0.1.4 is around two weeks from now. For the time being you can use this cmdlet: https://docs.microsoft.com/en-us/powershell/module/az.resources/get-azresource?view=azps-3.7.0

[2020-04-06 10:47] Kotasudhakarreddy commented on #7297
@panchagnula - We have raised a clarification to cloning team and waiting to hear back from them.

[2020-04-06 10:57] plzm commented on #11381
@karthick3d @SafwanHussain To expand on @MehaKaushik's suggestion to use Get-AzResource, here is a full implementation that both lists containers in a database, as well as retrieves a specified one.

# ---------------------------------------------------
# Replace "my***Name" with your own values
$resourceGroupName = "myResourceGroupName"
$accountName = "myAccountName"
$databaseName = "mYDatabaseNa

[2020-04-06 11:40] plzm commented on #11336
Can no longer reproduce this issue as of Az.CosmosDB 0.1.3.

Tested/confirmed Set-AzCosmosDBGremlinGraph correctly updates existing graph's provisioned dedicated throughput when database also has shared provisioned throughput. Tested/confirmed both graph scale up (increase RU) as well as scale down (decrease RUs).

Thank you - closing issue.

[2020-04-06 11:40] #11336 closed

[2020-04-06 12:11] dingmeng-xue commented on #11497
Add Resources team to evaluate this feature request.

[2020-04-06 12:33] dingmeng-xue commented on #11499
Thanks for reporting. We will try to reproduce it on PowerShell 7.

[2020-04-06 14:36] karthick3d commented on #11381
Thank you @plzm  and @MehaKaushik . It worked for me that saved few days of blocker :).

[2020-04-06 14:59] fmicle commented on #8473
The script above returns true for me as well, but the actual problem got fixed for me a while ago. Try creating this registry key:

$registryPath = "HKLM:\SOFTWARE\Microsoft\.NETFramework\AppContext"
New-Item -Path $registryPath
New-ItemProperty -Path $registryPath -Name "Switch.System.IO.UseLegacyPathHandling" -Value "false"

[2020-04-06 16:34] panchagnula commented on #7297
@raohri03 can you please update this issue with your findings? Thank you.

[2020-04-06 16:57] jeffwmiles opened #11504 "Get-AzAutomationScheduledRunbook missing parameters when array"
## Description
When using Get-AzAutomationScheduledRunbook, for a JobSchedule that contains an array in a parameter, the output of the Parameter property is missing for that specific parameter.

## Steps to reproduce

[code]
Result is that in the Portal, the parameter is created as an array properly:
![portal](https://user-images.githubusercontent.com/40004712/78583851-9b553680-77f4-11ea-96b8-f836

[2020-04-06 17:09] lmy269 commented on #11491
@shivakumarg06  Most likely you should upgrade your factory module. There's some unknown property to the old module. Can you try that first? If it doesn't work, can you try with adding parameter "-debug"? You should be able to see the Json file and share that to us for trouble shooting.

[2020-04-06 17:11] jeffwmiles commented on #11504
This is the Debug output from PowerShell 5.1
## PowerShell Version
`Name                           Value
----                           -----
PSVersion                      5.1.18362.628
PSEdition                      Desktop
PSCompatibleVersions           {1.0, 2.0, 3.0, 4.0...}
BuildVersion                   10.0.18362.628
CLRVersion                     4.0.30319.42000`

## Azure Module
`
Module

[2020-04-06 18:09] rahalan commented on #11497
As this is a PS feature, I think the PS team should handle it. Thanks, Rainer

[2020-04-06 21:15] Francisco-Gamino commented on #10915
Hello @Ayanmullick,

Thank you for your feedback. We are trying to not replicate functionality in our tooling. Currently, to create a function there are two ways: 1) Azure Portal 2) Azure Core Tools.

The Az.Functions module has been created to manage function apps and function app plans. The Azure Core Tools let you create functions locally and then publish them to Azure. These two (Az.Functions

[2020-04-06 22:59] Drewm3 commented on #11460
@LiliDeng, you can get the number of NICs allowed for any VM Size (aka SKU) in the Resource SKUs API. If you want to get the count of NICs available for an existing VM you would need to get the size of the existing VM, and then lookup the max NIC count in the SKUs API.

We have tried to move to one location that provides all information for SKUs instead of having multiple APIs that provide details

[2020-04-07 02:19] blueww commented on #11496
@himmyaggarwal

No, This is just a blob property change, not change the blob content.
If you want to compress it, You need to compress it then upload with  Set-AzStorageBlobContent.

[2020-04-07 02:28] LiliDeng commented on #11460
Thanks @Drewm3 , I found it. But Get-AzComputeResourceSku command cost 15 seconds to return, is it expected?

[code]

[2020-04-07 03:02] #11238 closed

[2020-04-07 03:03] #10941 closed

[2020-04-07 03:03] #10940 closed

[2020-04-07 03:03] #11221 closed

[2020-04-07 03:04] erich-wang commented on #11183
resolved in az.aks 1.1.0-preview

[2020-04-07 03:04] #11183 closed

[2020-04-07 03:05] #8960 closed

[2020-04-07 03:06] erich-wang commented on #10759
Provided Get-AzAksVersion in az.aks 1.1.0-preview

[2020-04-07 03:06] #10759 closed

[2020-04-07 04:06] jeffwmiles commented on #11504
I've been trying to dig a little deeper on this with my limited knowledge of debugging PowerShell.
If I hit the API directly with the URI given in the debug output, I get the exact same response between PowerShell 5.1 and 7.

`
#https://gallery.technet.microsoft.com/scriptcenter/Easily-obtain-AccessToken-3ba6e593
. .\Get-AzCachedAccessToken.ps1
$BearerToken = ('Bearer {0}' -f (Get-AzCachedAccessTo

[2020-04-07 07:03] dcaro opened #11507 "Resolve-AzError displays wrong URL"
## Description
The Resolve-AzError cmdlet should display the following url:  https://aka.ms/azpssurvey?Q_CHL=ERROR and not https://aka.ms/azpssurvey?Q_CHL=FEEDBACK.

[2020-04-07 08:12] Lingxi-Li commented on #9448
Same issue here. Randomly encounter the expired Azure credential issue in background jobs started  with `Start-Job`. Not necessarily the first one that finishes.

[2020-04-07 08:50] dingmeng-xue commented on #11504
@jeffwmiles, thanks for reporting. We will look into it

[2020-04-07 09:26] #11178 closed

[2020-04-07 09:45] dingmeng-xue commented on #10904
@JS-Jake , After our investigation, it is a limitation in SDK https://github.com/Azure/azure-sdk-for-net/blob/dce345426d8ab57a611c1faadfc15d4ff51890f4/sdk/operationalinsights/Microsoft.Azure.Management.OperationalInsights/src/Generated/DataSourcesOperations.cs#L154

Currently, user cannot input name with slash. If it is mandatory requirement, please create a feature request.

[2020-04-07 09:45] #10904 closed

[2020-04-07 09:50] dingmeng-xue commented on #11046
@johnmccrae, do you have any update?

[2020-04-07 10:28] #11507 closed

[2020-04-07 10:51] KasperHoldum commented on #10029
I had this problem as well. I tried the -ByPassObjectIdValidation, which allowed the code to run. It did, however, not fix the issue since the desired object did still not have desired permissions.

In my case I had used the wrong object ID. In the enterprise application page in Azure there is a link on the overview page labeled 'Managed application in local directory'. When using the object ID fr

[2020-04-07 11:16] blueww commented on #11464
@lagebj
I have contact feature team again, and they suggest to follow this issue in mail first.
BTW, for the 500 error, it should be retryable.
Have you retry it, do you meet same issue with retry?
If so, would you please give the PSH output with retry?

[2020-04-07 11:48] lagebj commented on #11464
@blueww
Thank you, I will test again and report the results.

[2020-04-07 13:23] dingmeng-xue commented on #11483
After the call, the issue is mitigated after copying az modules to Windows PowerShell module folder. One potential issue in user's environment is current user has no enough permission to program folder.

Close this issue and please create a new one if the similar issue shows again.

[2020-04-07 13:23] #11483 closed

[2020-04-07 13:37] lagebj commented on #11464
@blueww
I deleted all snapshots and page blobs, created a new snapshot and created a new page blob (creating a random guid name that has not been used before) by incremental copying new snapshot. Same error.

Here is the debug and Resolve-AzError output:

#### Debug output

[code]

#### Resolve-AzError output

[code]

[2020-04-07 13:51] dingmeng-xue commented on #11133
@egulatee, is there any progress on your side? Service principle or certificate are recommended instead of username and password.

[2020-04-07 16:04] Kotasudhakarreddy commented on #10517
we have identified the issue. With the current available API we can set the runtime for Linux stack. We are checking with API team on ETA for the API to support Windows. Will start working on it based on the ETA provided by API team.

[2020-04-07 17:47] Francisco-Gamino opened #11512 "`Connect-MicrosoftTeams -Identity` should support managed identities to interact with Azure Services"
##  Description

Functions customer is trying to use the MicrosoftTeams (https://www.powershellgallery.com/packages/MicrosoftTeams/1.0.5) module in PowerShell 6.2

`Connect-MicrosoftTeams -Identity` should support managed identities to interact with Azure Services

## Steps to reproduce

1) Create script to to be run on the cloud (in this case, the script is hosted in the Azure Functions service)

[2020-04-07 17:52] Francisco-Gamino commented on #11512
cc: @eamonoreilly @anirudhgarg @AnatoliB @joeyaiello @dcaro @markcowl @tameemansari @brandber

[2020-04-07 23:20] MehaKaushik commented on #11381
Root Cause: The issue reproduces on Containers created using Portal, the containers created using Portal do not have an empty UniqueKeyPolicy object, which is the case for containers created using mangement sdk(consumed by powershell). The issue was not reproducible for containers created using Powershell/Mangement SDK.

[2020-04-08 00:19] Ayanmullick commented on #10915
@Francisco-Gamino , As an IT Pro I've created a lot of PowerShell scripts over the years for my personal use and gotten used to the syntax. This would enable integrating AzFunctons into my existing PowerShell scripts more easily.

[2020-04-08 04:07] blueww commented on #11464
@lagebj

Thanks for the quick responds and details!
The feature team is looking at it and have some finding, but do need more time.

And, it seems the source account is already deleted, so there might be not enough info to investigate. We might will need a repro without delete source account later. (Not now, I will inform you if need).

BTW, we only need the Start-AzStorageBlobIncrementalCopy cmdl

[2020-04-08 05:31] dcaro commented on #10963
@bgawale @wahyuen thanks for reporting the issue and I'm sorry that it took so long but be assured that we are now actively working on fixing this.

[2020-04-08 05:47] abatishchev commented on #11203
@dingmeng-xue hi, do you know if there is a chance this to be addressed in a near future?

[2020-04-08 06:54] #11280 closed

[2020-04-08 06:54] #11423 closed

[2020-04-08 07:11] MehaKaushik commented on #11287
Wrongly linked with PR

[2020-04-08 07:41] dingmeng-xue commented on #11203
Since functions provided by service team, we need to talk with KeyVault team to understand the example.
Docs for Azure PowerShell are synced from azure-powershell repo. If there is any question to docs, feel free to raise issue to this repo.

[2020-04-08 08:50] lagebj commented on #11464
@blueww

Please let me know if/when you want me to supply additional information.

[2020-04-08 13:51] brettmillerb opened #11523 "Set-AzDiagnosticSetting Parameter Syntax incorrect."
## Description
Set-AzDiagnosticSetting parameter syntax is showing incorrectly compared to the non-preview version and the documentation.

## Steps to reproduce
**4.0.2-preview**
[code]
It only shows one parameter set with Namer and ResourceId as default parameters
[code]

Whereas the 1.4.0 version shows two different parametersets with only one mandatory parameter per parameterset which is consis

[2020-04-08 14:58] aydeisen opened #11524 "Cmdlet to create empty Diagnostic Settings object"
## Description of the new feature
As there are different schemas for diagnostic logs depending on the service it's being implemented against, is there a way to have a PowerShell cmdlet create an empty `Microsoft.Azure.Management.Monitor.Models.DiagnosticSettingsResource` object with the logs and metrics pre-populated so they can be created an manipulated directly from PowerShell without having to

[2020-04-08 17:06] SafwanHussain opened #11526 "Set-AzActionGroup command from Azure Function App gives "ERROR: Set-AzActionGroup : Exception type: ErrorResponseException, Message: Microsoft.Azure.Management.Monitor.Models.ErrorResponseException: Operation returned an invalid status code 'Forbidden""
I am running a powershell script in Azure function App. The script creates an action group and metric alerts on a cosmosDB container, But the action group creation command fails, i tried with both resourceGroup name and ResourceId , it still fails.

command :

$RID = (Get-AzResource -ResourceType $containerResourceType -ApiVersion $apiVersion -ResourceGroupName $ResourceGroup -Name $containerResou

[2020-04-08 18:17] Francisco-Gamino commented on #11512
Hello @tameemansari and @brandber,

Is this the correct location for this issue? if not, could you please point me to the correct repo.

Thanks,
Francisco

[2020-04-08 18:44] avirishuv commented on #11354
The fix to resolve this issue has been deployed. Closing the issue.

[2020-04-08 18:44] #11354 closed

[2020-04-08 18:44] avirishuv commented on #11257
The fix has been deployed, closing the issue.

[2020-04-08 18:44] #11257 closed

[2020-04-08 23:30] axayjo commented on #9148
@Bhargava-Chary-Chollaty did some further investigation and this is the expected behavior. The workaround provided in the repro is not a workaround, but the right way of using the command.

Here are the findings:

•	“ConfigurationArgument” is an argument of type hashtable for command “Set-AzVMDscExtension”. I believe there is a difference in PowerShell behavior when it passes on arguments to under

[2020-04-08 23:31] #9148 closed

[2020-04-09 00:20] dingmeng-xue commented on #11322
@matt-lethargic, we have verified Get-AzStorageAccount that it has no error if resource is not existing. Could you double check your module version and debug output? If the issue is mitigated, we will close this issue soon.

[2020-04-09 00:24] Drewm3 commented on #11315
@DanteNahuel, I have verified with the cmdlet owners that the behavior you are seeing is the expected behavior. The cmdlet will return either the model view or the instance view, but it is not expected to return both.

I have asked @hyonholee to update the description of the cmdlet to make the behavior clear that only the model or instance view will be returned based on the inclusion of the '-stat

[2020-04-09 01:36] JBrLloyd opened #11528 "New-AzADApplication (NewAzureADApplicationCommand.cs) should use SwitchParameter"
## Description of the new feature
AvailableToOtherTenants parameter currently take an unnecessary Boolean that can become more powershell native using SwitchParameter. This, in my opinion, is also is less error prone

## Proposed implementation details (optional)
AvailableToOtherTenants should be declared of type SwitchParameter from System.Management.Automation
`public SwitchParameter AvailableTo

[2020-04-09 06:24] isra-fel commented on #10556
The "making soft-delete on as an one time operation" part of the issue is covered by #11530
For the "configurable retention" part, since it requires a SDK update, I'll do it in S169

[2020-04-09 09:10] Neelkamal10 opened #11531 "ERROR - Defining Policy -New-AzPolicyAssignment - Can't use inline policy defination"
Encountered following error, while creating new policy defining:
![Screenshot (2)](https://user-images.githubusercontent.com/54034262/78878398-f8105580-7a6f-11ea-8fa3-5db5802916e2.png)

[t1.txt](https://github.com/Azure/azure-powershell/files/4455128/t1.txt)

[2020-04-09 13:26] dingmeng-xue commented on #11523
Thanks for reporting. We will look into it.

[2020-04-09 13:32] dingmeng-xue commented on #11524
Below method can create an empty object. Please try if it can resolve your issue.
[code]

[2020-04-09 13:57] dingmeng-xue commented on #11526
@SafwanHussain, thanks for reporting. Could you please share below information?
- Please run `Get-Module  -ListAvailable` and paste the output
- Set `$DebugPreference='Continue'` before running the repro and paste the resulting debug stream

[2020-04-09 14:02] dingmeng-xue commented on #11528
@JBrLloyd, thanks for suggestion. Changing it into switch will introduce breaking change. So, we have to keep it there due to its impact.

It's right that switch is native in PowerShell. We will review new cmds and parameters carefully and suggest to use switch.

[2020-04-09 14:02] #11528 closed

[2020-04-09 14:04] dingmeng-xue commented on #11531
Involve Resources team to look int this issue.

[2020-04-09 14:07] kgalic commented on #8555
Additional comment, in case someone finds this discussion because of `Connect-AzAccount` command. In order to import `Az.Accounts` it is required to install:
`Install-Module -Name Az.ManagedServiceIdentity -AllowClobber`

[2020-04-09 14:13] #10879 closed

[2020-04-09 15:32] SafwanHussain commented on #11526
![Module-List2](https://user-images.githubusercontent.com/17927947/78911738-57885880-7aa4-11ea-962d-381dce68065f.PNG)
![Module-List1](https://user-images.githubusercontent.com/17927947/78911742-58b98580-7aa4-11ea-8d4d-f3b1154f0e8b.PNG)
![Module-List3](https://user-images.githubusercontent.com/17927947/78911744-59521c00-7aa4-11ea-84cc-31d1f8761349.PNG)
[FA_logs.docx](https://github.com/Azure/azure-

[2020-04-10 01:21] Manishd79 opened #11542 "Setup: Az installed (msi) failing a check for .Net framework on machine with .Net 4.7.2"
## Description
Az installer (.msi) is failing to install on a machine with .Net framework 4.7.2. The installer log has following details for the failure

MSI (s) (10:4C) [17:34:00:094]: Doing action: InstallerChecks
MSI (s) (10:4C) [17:34:00:094]: Note: 1: 2205 2:  3: ActionText
Action 17:34:00: InstallerChecks.
Action start 17:34:00: InstallerChecks.
MSI (s) (10:A0) [17:34:00:094]: Invoking remot

[2020-04-10 06:40] dcaro commented on #11523
@brettmillerb thanks for reporting this issue.
For this preview, we expected some inconsistencies with the existing reference documentation. We soon will have an update and the corresponding reference documentation will be fixed.

[2020-04-10 06:40] #11523 closed

[2020-04-10 06:47] dcaro commented on #11471
Thanks @creadle this is a restrictions imposed by the service (the portal has the same restrictions).
We will update the reference documentation accordingly.

[2020-04-10 09:05] phanisowjanyavutukuri commented on #8970
Hi,
I am getting the empty output for the (Get-AzMetric -ResourceId $myre  -MetricNamespace sql_elastic_pool_standard_metrics -MetricName cpu_percent -DetailedOutput).MetricValues
![Capture](https://user-images.githubusercontent.com/32537760/78978983-86500e80-7b38-11ea-8ed1-7eb0b6d91235.PNG)

[2020-04-10 12:32] SafwanHussain commented on #11526
Update : I figured out the issue.
I was assigning the Role for the Azure function at the CosmosDb resource level manually,which would give function access to just CosmosDB, but to reach that resource it also needs access to Resource Group .
i then assigned the role at the Resource group level , which cosmodb resource would automatically inherit it.
This solved the problem.
Thank you

[2020-04-10 15:03] SafwanHussain opened #11547 "Azure Storage Lifecycle management is not available for Hierarchical Namespaces"
I am exploring the Azure Storage Lifecycle management on Azure portal, currently i am using Free trail,
i observed that Lifecycle Management isn't available when the hierarchical namespaces is enabled on storage account but in the Microsoft documentation mentioned below it states that the lifecycle management is supported when hierarchical namespaces is enable on storage.
I also read that only del

[2020-04-10 15:04] syim1 commented on #11457
@dingmeng-xue sorry for the late reply, we are actually using AD modules currently and I don't believe you can use both at the same time right? although I wasn't able to add a description, I still got it to work for our purposes, but it would be nice to be able to add a description.

[2020-04-10 16:27] blueww commented on #11547
@SafwanHussain

Please give the detail for "Lifecycle Management isn't available when the hierarchical namespaces ", is there any error reported?

And ,please follow the issue template to raise the issue, or we can't get enough information to investigate.

[2020-04-10 18:05] rossarg commented on #6944
I'm confused about the listed fix here, as it doesn't seem to incorporate any method to attach a time zone using the New-AzureRmRecoveryServicesBackupProtectionPolicy (or the New-AzRecoveryServicesBackupProtectionPolicy) cmdlets. Documentation shows that we can force the backup schedule to use either the issuing computer's time zone ("$BackupSch.ScheduleRunTimes.Add($Date.ToLocalTime())") or UTC (

[2020-04-10 18:11] bganapa commented on #4919
@darshanhs90 is this issue fixed in Az? we still hit this issue. cc: @dingmeng-xue

[2020-04-10 18:37] TheOnlyWei commented on #4919
Sorry clicked close issue by accident. Meant to reply that the work-around is just to remove the Ad application since I could not find it in the Azure Portal.

Get-AzADApplication -IdentifierUri <ID_URI> | Remove-AzADApplication

The ID_URI is the ID_URI that it is complaining is being used.

[2020-04-10 21:04] mbiver opened #11549 "New-AzSnapshot : Required parameter 'storageAccountId' is missing (null)"
## Description

I'm running a script that used to work.  the script takes a snapshot of a VM's disks, copies them over to a storage account in a new resource group, snapshots it again, creates a managed disk and then mounts the disks to a new VM...essentially copying the VM.  For some reason the new-azsnapshot command is now broken and asking for a parameter that I don't see in any documentation.

[2020-04-11 04:24] vinjiang commented on #11464
Thanks for your patience and support on the t-shooting, @lagebj . We are working actively with backend service team on this issue, and will keep you updated with the progress. If you do want, you may also open a ticket to Azure Support on the Azure portal and quote the analysis we've done from PSH cmdlet side to indicate it could be a service issue, that way, you can also track the issue from serv

[2020-04-11 15:03] wjdavis5 commented on #10601
Hello - I would like to get this reopened, as we are seeing the same problem. I can reproduce locally by using a similar method as the OP. However, this mainly bites in the context of Azure Dev Ops Pipelines. Sporadically we'll get a day were we experience Agent Exhaustion and we'll find that numerous agents are hung on a task that calls:
[code]

Consider this output:

[code]

I just happen to get

[2020-04-11 17:35] murtazahussain88 opened #11551 "Error: Cannot convert value "2.0.0-preview" to type "System.Version"."
### Need help with the error below. Its showing despite me having the updated version of PowershellGet.

 PS C:\windows\system32> Install-Module -Name Az -AllowClobber

Untrusted repository
You are installing the modules from an untrusted repository. If you trust this repository, change its InstallationPolicy value by running the Set-PSRepository cmdlet. Are you sure you want to
 install the modul

[2020-04-11 17:50] azMantas commented on #10533
that works for me. Just change "xxxx" to your root tenant id
`(Get-AzManagementGroup -Expand xxxx).Children | Where-Object {$_.Type -like "/providers/Microsoft.Management/managementGroups"}`

[2020-04-11 17:53] #11551 closed

[2020-04-12 00:20] johnmccrae commented on #11046
Ok, I think you can close this. It appears that it was related to not being properly installed in keychain. We're all good. Thanks!

[2020-04-12 00:20] #11046 closed

[2020-04-12 09:56] dingmeng-xue commented on #11457
Thanks. I will add it as a feature request and plan it accordingly.

[2020-04-12 14:32] dingmeng-xue commented on #11549
Involve Compute team to look into it.

[2020-04-12 14:33] dingmeng-xue commented on #11542
many MSI issues depend on environment and cannot be reproduced locally . We have to collect more information before fix. One proven workaround is copy modules from an installed machine to airgapped machine. The modules are installed under %USER_DOCUMENTS%\WindowsPowerShell\Modules for Windows PowerShell or %USER_DOCUMENTS%\PowerShell\Modules for PowerShell Core.

[2020-04-12 15:21] blueww commented on #10601
@wjdavis5

I can't repro this issue by run the following command.
The time to run the cmdlet can change with network status, server behavior, ... On my macine, each cmdlet runs: 15ms to more than 900ms.
[code]
If you don't want the hang happen, you can use following command to limit the time of run the command. Following command will report error when it runs > 10s. You can use a longer time for s

[2020-04-12 16:23] wasabii opened #11552 "Import-AzBlueprintWithArtifact fails with resource group name longer than 90 characters, even with expansion"
## Description
`Import-AzBlueprintWithArtifact` fails when processing a `ResourceGroupDefinition.name` property longer than 90 characters, even if that name is an expansion function that will not expand beyond 90 characters.

## Steps to reproduce

Create a Blueprint file with a `resourceGroup` like the following:

[code]
Run `Import-AzBlueprintWithArtifact` against the blueprint.

You will receiv

[2020-04-12 16:35] wasabii commented on #11552
I believe this issue is actually in the Azure SDK at `https://github.com/Azure/azure-sdk-for-net/blob/master/sdk/blueprint/Microsoft.Azure.Management.Blueprint/src/Generated/Models/ResourceGroupDefinition.cs`.

[2020-04-12 16:41] wasabii commented on #11552
The error is in `blueprint/Microsoft.Azure.Management.Blueprint/src/Generated/Models/ResourceGroupDefinition.cs:Validate`. I would love to fix it, but since the file is generated, I'm not sure of the best way to approach it. I do not know how it was generated, or what the proper procedure to override it is.

[2020-04-12 18:49] wjdavis5 commented on #10601
There is obviously something strange going on. As I said we see this problem from time to time in ADO and it causes our agents to hang until we terminate the job.

[2020-04-13 01:52] blueww commented on #10601
To avoid the hang of you agent, would you like to use the suggested way in my before comments to limit the time to run the cmdlet? You can retry if the output is null (which mean the cmdlet not finish in the timeout). So your agent won't be hang. Let me know if you see any issue to use it.

Besides that, I have tried to run > 1000 times, still not repro this issue.
If you can give a network trace

[2020-04-13 01:55] wyunchi-ms commented on #11552
Hi @wasabii , thanks for your feedback! This makes sense to me. I'm forward this issue to BluePrint team.

[2020-04-13 04:40] t-bzhan opened #11554 "Get-AzCdnProfileSupportedOptimizationType output did not match with docs example"
## Description
The output of Get-AzCdnProfileSupportedOptimizationType did not match with the [docs example](https://docs.microsoft.com/en-us/powershell/module/az.cdn/get-azcdnprofilesupportedoptimizationtype?view=azps-3.7.0).
I guess we could override the ToString method of the PSOptimizationType to fix that, but I did not know how to verify the PS output using the assert statements described [he

[2020-04-13 06:53] #11479 closed

[2020-04-13 07:33] amankohli opened #11555 "Invoke-AzVMRunCommand order the parameter passed to the shell script"
Hi,

I am using the below powershell command to invoke a shell scirpt:
Invoke-AzVMRunCommand -ResourceGroupName  $RGResourceGroupName `
            -VMName $VMName `
            -CommandId RunShellScript `
           -ScriptPath .\test.sh  -Parameter @{"arg1" = $1;"arg2"=$2";arg3"=$3;"arg4"=$4}

How can I order the Parameter passed to the script i.e {"arg1" = $1;"arg2"=$2";arg3"=$3;"arg4"=$4}

Cur

[2020-04-13 08:15] dingmeng-xue commented on #11554
It needs CDN team to review this issue.

[2020-04-13 08:19] dingmeng-xue commented on #11555
@erich-wang , can we support this approach?

[2020-04-13 08:27] amankohli commented on #11555
If we don't support the approach can you suggest me an alternative please

[2020-04-13 08:27] erich-wang commented on #11555
@amankohli, the type for **Parameter** is Hashtable, so the order won't be respected in Hashtable. Could you let us know why do you need ordered parameters?

[2020-04-13 08:46] blueww commented on #11467
@cconrado
I will close this issue as not heard from you for a long time.
Fell free to contact us if you need further assistance for Storage PowerShell cmdlets.

[2020-04-13 08:46] #11467 closed

[2020-04-13 08:48] blueww commented on #11174
@mganeshphani

I will close this issue as not heard from you for a long time.
Feel free to contact us if you need further assistance.

[2020-04-13 08:48] #11174 closed

[2020-04-13 08:49] NolanCui719 opened #11556 "AutoScale Issue"
## Description
Symptom:

The grain time cannot be set  to 1 min in PS cmdlet "Add-AzAutoscaleSetting" . The minimum with this PS command  is 5 minutes, but 1 min should be supported according to the doc and the deault value in portal .

Regarding https://docs.microsoft.com/en-us/azure/azure-monitor/platform/powershell-quickstart-samples#create-and-manage-autoscale-settings

## Steps to reproduce
W

[2020-04-13 08:50] blueww commented on #10987
@ehuggz
I plan to close this issue, and Powershell support do it by call storage client library API. And this is documeted.
Let me know if you have any concent.

[2020-04-13 08:57] blueww commented on #11464
@lagebj
I have get update from feature team:
1. for the first "OperationNotAllowedOnIncrementalCopyBlob" error: This is a bug on server, and will be fixed in a future release.

2. For the 2nd "InternalError":
There's a SAS issue is specific to incremental copy and the fact that we are returning snapshot SAS. So unfortunately, user cannot use incremental copy (from managed snapshots) until the issu

[2020-04-13 09:43] skmkzyk opened #11557 "enable pipe between Get-AzVM and Get-AzVMExtension"
## Description of the new feature

Currently, Get-AzVM returns VM name with column name 'Name'.
But Get-AzVMExtension requires 'VMName' to specify VM name.
So, below cmdlet pipe is not working for now.
[code]
Is it happy to enable this type of cmdlet chaining?
This kind of disconnection will be occur other VM extension cmdlets.

## Proposed implementation details (optional)

[2020-04-13 09:52] dingmeng-xue commented on #11542
@Manishd79, please me know your OS version. In addition, does current user have admin permission?

[2020-04-13 10:24] SafwanHussain commented on #11547
Hi@blueww,
I am not facing any error but issue is at the very early stage of accessing Lifecycle Management.
What i meant by 'Lifecycle Management isn't available when the hierarchical namespaces' is that, when i create my storage account and enable the Hierarchical Namespaces, then i am unable to see the 'Lifecycle Management' option under 'Blob services' section on that storage, whereas when i a

[2020-04-13 12:31] plzm opened #11560 "Update-AzCosmosDBAccountRegion fails with "List of supplied locations is invalid" when passing String[]"
When attempting to update an account from one region (e.g. East US) to two regions (e.g. East US, West US) using string array parameter set, getting "List of supplied locations is invalid error".

[2020-04-13 12:34] plzm commented on #11560
![Update-AzCosmosDBAccountRegion](https://user-images.githubusercontent.com/35011873/79120731-98f95c00-7d61-11ea-9e8b-31e7d0e17ca9.png)

[2020-04-13 13:04] plzm commented on #11560
Note that Update-AzCosmosDBAccountRegion succeeds as expected if PSLocationObject[] is passed instead of the array of string location names.

[2020-04-13 14:05] plzm commented on #11422
The updated (0.1.3) version of Update-AzCosmosDBAccount still does not allow for an existing IpRangeFilter on an account to be removed entirely.

Azure portal scenario:
- Account has firewall rules; "Firewall and Virtual Networks" blade shows "Selected Networks" and various network rules
--- Get-AzCosmosDBAccount shows IpRangeFilter corresponding to portal
- To remove rules, switch to "All network

[2020-04-13 14:05] plzm commented on #11422
![Update-AzCosmosDBAccount](https://user-images.githubusercontent.com/35011873/79126647-5ab66980-7d6e-11ea-91d5-2984efe81710.png)

[2020-04-13 14:11] MehaKaushik commented on #11422
Hey these changes would be reflected in the upcoming version, the current version of Az.CosmosDB was build before these changes were checked in. Upcoming version should be out in a week, would update here once it is.

[2020-04-13 14:48] wyunchi-ms commented on #11556
Hi @NolanCui719 , thanks for your feedback. I'm forwarding this issue to service team.

[2020-04-13 16:26] sdg002 opened #11564 "How to pass a value to the 'name' parameter of an ARM template using New-AzResourceGroupDeployment"
## Description of the new feature
Hi All,
My ARM template generated from the portal has a parameter `name`

![image](https://user-images.githubusercontent.com/20245330/79137905-7e4bd500-7dab-11ea-94b9-3edba260d6d1.png)

While deploying using `New-AzResourceGroupDeployment`, I am unable to pass a value using the `-name` switch. The switch `-name` is being used for the name of the deployment and not

[2020-04-13 17:04] SafwanHussain opened #11565 "Unable to run a powershell script from Azure function app within ADF"
I have a powershell script which will create metric alerts on a cosmos container, i am running this script from an Azure Function app. While this works fine but when i want to invoke the function app from azure data factory using Function Activity, it throws the following error:
"Response Content is not a valid JObject. "
i have tried converting the function return type to Json using ConvertTo-Jso

[2020-04-13 17:36] wjdavis5 commented on #10601
Invoking as workflow is really a solution. I'm going to work on getting more detailed tracing info

[2020-04-13 20:12] Francisco-Gamino opened #11566 "[Az.Functions] New-AzFunctionAppPlan needs to support creating consumption plan"
## Description
New-AzFunctionAppPlan needs to support creating consumption plans. We need this to let Functions customers switch between Premium and Consumption and hosting options.

[2020-04-13 20:13] Francisco-Gamino commented on #11566
cc: @eamonoreilly

[2020-04-13 20:17] Francisco-Gamino opened #11568 "[Az.Functions] Az.Function cmdlets that take a -Location parameter should support regions with no spaces, e.g., centralus"
## Description
Az.Function cmdlets that take a -Location parameter should support regions with no spaces, e.g., centralus

Cmdlets:
* Get-AzFunctionApp
* Get-AzFunctionAppPlan
* New-AzFunctionApp
* New-AzFunctionAppPlan

[2020-04-13 21:50] markcowl commented on #11512
@Francisco-Gamino Unfortunately, it is not.  The MicrosoftTeams module is not a module that we manage.

[2020-04-13 21:50] #11512 closed

[2020-04-13 22:56] blueww commented on #11547
For "see the Lifecycle Management section under Blob services." , what do you mean?
I think this is not in Powershell?

Please give each tool you use in each step, and the detail display/output. (hide any credentail)
Also the Powershell module version. (Get-Module)

[2020-04-14 02:33] wyunchi-ms commented on #11557
Hi @skmkzyk thanks for your feedback! I'm forwarding this issue to Compute team.

[2020-04-14 02:39] wyunchi-ms commented on #11565
Hi @SafwanHussain thanks for your feedback! I'm finding some team members from Function team to help you.

[2020-04-14 05:57] amankohli commented on #11555
@erich-wang   I am passing parameter to the script as arguments like 1st parameter goes to the first variable. I resolved the issue by making my parameters as ordered hash list and just passing one argument to the script. Can we not make the hash table on the command ordered hash table?

[2020-04-14 07:41] lagebj commented on #11464
Thanks @vinjiang @blueww .
1. What is ETA on future release?
2. ETA on fix? Is this related to same 'future release' as 1.?

I have attempted to use `GetPageRangeDiff` method with Powershell as well, but without luck. The [Github example](https://github.com/Azure-Samples/managed-disks-dotnet-backup-with-incremental-snapshots) uses prerelease versions of `Microsoft.Azure.Storage.Blob` and `Microsof

[2020-04-14 08:05] blueww commented on #11464
@lagebj

1. Do you have an NDA signed with Microsoft? If so, please send a mail to me (weiwei@microsoft.com), and I will include feature team to answer the detail fix ETA.

2. @ramankumarlive Would you please help to answer it?

For how to call the APIs in Powershell , following command works on with latest Az.Storage 1.13.0 on my storage account:
[code]

[2020-04-14 08:14] lagebj commented on #11464
Thank you @blueww . I will go over my `GetPageRangeDiff` version of the script and test again.

My VSE subscription is provided to me by my employer, so I don't know anything about any NDA unfortunately.

I will update here after testing the `GetPageRangeDiff` route.

[2020-04-14 09:01] blueww commented on #11464
@lagebj
I tried to run GetPageRangeDiff with blob in snapshot sas credential, and it failed with 403 on my account. (might because the SAS don't have read access to another snapshot)

Let's wait for @ramankumarlive comment how to do it.

[2020-04-14 09:09] lagebj commented on #11464
@blueww Yes, that is the same problem I have as well.

[2020-04-14 13:06] Neelkamal10 commented on #11531
any updation ?

[2020-04-14 13:06] dingmeng-xue commented on #11164
@kalalvishal, is there any update?

[2020-04-14 13:09] dingmeng-xue commented on #11202
@omerzubair, is there any update?

[2020-04-14 13:12] dingmeng-xue commented on #11145
The return of `Get-Secret` is System.Object. Normally, it is string, or credential string. You cannot use it as input of PSCredential. Please check your script.

[2020-04-14 13:14] dingmeng-xue commented on #11133
@egulatee, close this one due to inactivity. If you have further issue or question, please create a new issue.

[2020-04-14 13:14] #11133 closed

[2020-04-14 13:15] dingmeng-xue commented on #11125
@ntbprentice, is there any update?

[2020-04-14 13:17] dingmeng-xue commented on #11075
@sumitraj0103, could you share the log? the log will help us to triage the issue.

[2020-04-14 13:28] dgard1981 commented on #9957
I was able to get this working via the REST API using an old API - **2017-10-12**. All newer API's yield the error as described in the OP.

[code]

In my case I am enabling HTTPS on a (CDN managed) custom domain as part of an Octopus deployment, but beware that even if it's already enabled, making the above request will start the process again and you'll lose HTTPS during the re-provisioning of a

[2020-04-14 16:55] cobdev commented on #10497
Are there any updates on this feature request?  Currently, we can only pull "DisplayName" and "ObjectId" for a user with this cmdlet.  Right now this makes it not very useful other than confirming that a particular user's account exists.

[2020-04-14 17:41] aydeisen commented on #11524
While that will create an empty object, it's not going to tell me the names of the [resource logs](https://docs.microsoft.com/en-us/azure/azure-monitor/platform/diagnostic-logs-schema#service-specific-schemas-for-resource-logs) or [metric names](https://docs.microsoft.com/en-us/azure/azure-monitor/platform/metrics-supported) that I can enable for a resource.  Right now, the only way for me to do t

[2020-04-14 17:55] brucedkyle opened #11579 "Array fails when using @paramObject on New-AzResourceGroupDeployment with ConvertFrom-Json"
I'm trying to pass in a $paramObject into a new ARM template deployment.

(My goal in all this... I want copy the parameter values shown in the portal and pass them for a deployment using a template that is also generated in the portal, but without using a param file.)

I think I am missing something in my PowerShell to correctly convert the arrays so they can be used in the template.

[code]
It s

[2020-04-14 18:37] Francisco-Gamino commented on #11225
This issue has been addressed in https://github.com/Azure/azure-powershell/pull/11485.

[2020-04-14 18:37] #11225 closed

[2020-04-14 20:17] Drewm3 commented on #11557
We will look into this request. Currently the cmdlet Get-AzVMExtension is auto-generated from the API specs. So we will need to augment the auto-generated cmdlet to also support an input object of type Microsoft.Azure.Commands.Compute.Models.PSVirtualMachine.

[2020-04-14 20:44] Drewm3 commented on #11549
Vaibhav, could you please look into this issue.

[2020-04-14 21:04] omerzubair commented on #11202
Hi
Thanks for the follow up
We have put retry logic to come around it for now

[2020-04-14 21:09] Drewm3 commented on #11460
Yes that is the correct cmdlet, and yes, it does take a bit of time to complete. The actual API for GetREsourceSku allows for a filter that filters to a specific region that enables a much faster run time when looking at only a single region.

Let me look into the possibility of exposing the region filter into the Get-AzComputeResourceSKU in order to make the cmdlet faster when looking up a SKU in

[2020-04-14 21:45] mikefrobbins commented on #11316
#11543 Added a note to the tenant parameter about having to use a tenant ID instead of a tenant name when connecting with a business-to-business (B2B) account due to a limitation with the current API.

[2020-04-14 21:45] #11316 closed

[2020-04-14 22:46] TheOnlyWei opened #11581 "Username/Password login in Powershell Core"
## Description
I was advised I should create a bug report for not being able to log in using username and password in Powershell core. This makes things difficult when we port our tests from Windows Powershell to Powershell Core since we rely on authenticating in Azure Stack using username and password before we can create service principals to use. Even then, service principals are limited in pri

[2020-04-14 22:53] keystroke commented on #11581
My guess is that this code was added to "preemptively fail" the auth scenarios where the account has something like MFA enabled, and the authentication requires interactivity for some UI like a browser. However, this is only the case for accounts with those security properties enabled. For user accounts that do not require MFA, they can successfully authenticate using their username and password.

[2020-04-14 23:54] ramandhillon84 commented on #11025
Hi @guidovbrakel, VNet is a regional construct and Accelerated Networking is not available in all the hosts in a data center. If your VM lives on a host without AN capability, you won't be able to enable AN on the VM. That is why your script is failing for some VMs, and succeeding for others.

[2020-04-14 23:54] #11025 closed

[2020-04-15 00:15] shashankrudroju commented on #9847
Is the issue fixed? I am able to reproduce the issue.

[2020-04-15 00:18] ramandhillon84 commented on #11300
@arpitjain099 - you are right. The example should either clarify that the VNet has more than one Subnets and we're referring to 2nd subnet, or just do a get Subnet with name and use that. We'll get this updated.

[2020-04-15 05:22] AdrianSanguineti opened #11589 "Set-AzDiagnosticSetting - impossible to set RentionInDays for individual categories"
## Description

I'm trying to set diagnostic settings via the Set-AzDiagnosticSetting commandlet for an Azure Front Door resource.

I've tried a number a ways, but I have not been able to set a separate Retention policy per category. I can easily do this via the Azure portal, but I want to automate it with PowerShell. No matter how I call/chain the calls to `Set-AzDiagnosticSetting` command togeth

[2020-04-15 08:26] paulomorgado opened #11596 "Piping a Directory into Remove-AzStorageDirectory doesn't remove directory"
## Description

When piping a Directory into Remove-AzStorageDirectory doesn't remove the directory and doesn't fail.

## Steps to reproduce

I have some code like this:

[code]

## Environment data

Azure DevOps Azure PowerShell deploy task:

[code]

## Verbose output

[code]

## Workaround

Changing the invocation to `Remove-AzStorageDirectory -Directory $_, I get this output and the directory i

[2020-04-15 09:15] VeryEarly commented on #11102
cmdlet:
[code]
create object in memory not resource on server, can you confirm if this action group exists in server side already?

If no, they can be create via Set-AzActionGroup;

If yes, portal is using `/providers/microsoft.insights/scheduledqueryrules/{ruleName}?api-version=2018-04-16`
(Azure Portal -> metric -> new alert rule)

while powershell cmdlet is using `/providers/Microsoft.Insights/

[2020-04-15 09:50] vslepakov opened #11597 "Add-AzIotHubDevice fails to create Edge Enabled Device without child devices"
## Description

Running `Add-AzIotHubDevice` to create an Edge device throws NullReferenceException

Looking at the code [here]( https://github.com/Azure/azure-powershell/blob/master/src/IotHub/IotHub/IotHub/DataPlane/Device/AddAzIotHubDevice.cs#L75):

`Children` property is used in `foreach` but is never instantiated.

## Steps to reproduce

[code]

## Environment data
[code]

## Module versions

[2020-04-15 09:59] #11096 closed

[2020-04-15 10:24] Neelkamal10 commented on #11531
@ dingmeng-xue Have you got any solution yet?

[2020-04-15 10:48] dingmeng-xue commented on #11531
@Neelkamal10 , I had involve service team to look into it. Please wait their response.

[2020-04-15 11:12] dingmeng-xue commented on #9848
@RoshanKumarMicrosoft, could you provide update?

[2020-04-15 11:28] egilh commented on #11499
Just started working with Azure again from my mac.
Updated to PowerShell v7 and I am experiencing the same error.
[code]
I have tried using different browsers with same results, after entering the code I receive a successful result in browser, PowerShell reports 401 error.
This is a major blocker for me.

[2020-04-15 11:30] dingmeng-xue commented on #9578
@c4rlosmarin, could you check if there is the same issue on portal? or could you get error message?

[2020-04-15 11:56] egilh commented on #11499
Quick update: Strangely enough I just tested against a different customers AAD tenant, and that worked without issues.
I don't have admin access to AAD in either of those I have testet, so I have no idea what different settings there are. I have confirmed with colleagues using the az module on Windows and they don't experience the same problem.

[2020-04-15 11:58] dingmeng-xue commented on #11589
Thanks for reporting. @VeryEarly , please check this issue.

[2020-04-15 12:15] dingmeng-xue commented on #11597
Involve IoTHub team to look into it.

[2020-04-15 12:58] dingmeng-xue commented on #11596
Involve Storage team.

[2020-04-15 13:32] dingmeng-xue commented on #11564
My understanding is you need to use `-TemplateParameterObject`. Please try.

[2020-04-15 13:59] jberezanski-mdg commented on #11439
I have just encountered the same problem. In my case, once I invoke any cmdlet from Az.Accounts, not only the Verbose stream gets silenced, but the Warning stream stops being displayed as well.

[2020-04-15 14:36] dingmeng-xue commented on #11439
We get the similar report too., #11492. Please check and we will close this one as duplicated.

[2020-04-15 15:33] blueww commented on #11596
@paulomorgado

Thanks for reporting the issue!
This looks  a bug for the pipeline of this cmdlet, we will investigate how to fix it.

As there's easy workaround, I think you should not be blocked by it.

[2020-04-15 16:42] paulomorgado commented on #11596
I think there's more than one bug here. One is the pipeline failure and the other is the failure to throw an error when it fails.

Yes. I'm not blocked now.

[2020-04-15 17:15] eamonoreilly commented on #10915
We currently advise using the core tools & function app cmdlets to develop and deploy apps & functions. At the moment, the function code is considered content and is designed to be deployed with core tools / GithHub actions, Azure DevOps so is not included with the app management capabilities that the cmdlets offer.
Are there specific scenarios that are not enabled with the above tools? We could l

[2020-04-15 17:29] jlian commented on #11597
@anusapan would you know?

[2020-04-15 17:52] Ayanmullick commented on #10915
Can one or can one not do `Hello World` in **PowerShell** Functions **only** thru PowerShell?

[2020-04-15 18:50] anusapan commented on #11597
@jlian
Acknowledged, I am working on this and will update this once ready to release.

[2020-04-15 19:02] jberezanski-mdg commented on #11439
Yes, that issue seems to describe the same problem (although it does not mention the Verbose stream, only Warning).

[2020-04-15 19:52] dcaro commented on #11579
@brucedkyle I have been able to do your deployment using the following code, can you please confirm if this fix your issue?

[code]

[2020-04-15 20:21] kenieva commented on #11531
"type" is not valid in a policy definition. What are you trying to achieve with that?

[2020-04-15 21:38] brucedkyle commented on #11579
That's an awesome fix for this particular issue. Many thanks. And it helps me understand the PowerShell object array/hashtable/object ideas.

If I understand your response correctly, are you telling me that  `ConvertFrom-Json` is the wrong tool? Or is there perhaps there is a parameter that I am missing? Are you saying that there is not a Cmdlet that can help me automate my task in taking Json and

[2020-04-16 00:08] axayjo commented on #9911
Closing this since there has been no response for more than a month. Assuming resolved. Please re-open the issue if you still encounter the error.

[2020-04-16 00:08] #9911 closed

[2020-04-16 00:50] dingmeng-xue commented on #11439
Thanks. we will verify verbose stream too.

[2020-04-16 00:50] #11439 closed

[2020-04-16 00:51] dingmeng-xue commented on #11492
According to #11439, verbose stream has the similar issue. We need to verify that too if there is a fix.

[2020-04-16 01:29] erich-wang commented on #11555
@amankohli, thanks for your feedback, I'm routing this request to compute team.

[2020-04-16 01:33] VeryEarly commented on #11070
Azure Portal is using
`/subscriptions/{subscriptionId}/providers/microsoft.insights/eventtypes/management/values?api-version=2017-03-01-preview`
to query activity logs while in powershell it's
`/subscriptions/{subscriptionId}/providers/microsoft.insights/eventtypes/management/values?api-version=2015-04-01`

[2020-04-16 01:54] VeryEarly commented on #11589
It seems like each settings is identified by its "Name", since your two settings have identical name, the previous one will be overwrite by the later one.

Can you try give different names for these two settings?

[2020-04-16 02:13] VeryEarly commented on #11473
this cmdlet failed at trying to get supported categories for the target resource which is your subscription, and subscription doesn't have a supported category.

Can you set the diagnostic settings via azure portal?
If yes, can you show me how to do it?

[2020-04-16 03:31] AdrianSanguineti commented on #11589
@VeryEarly, yes that _might_ be a workaround, but it will still mean that this commandlet can't reproduce behaviour that is possible from the Azure Portal, and Azure CLI (based on the reading I've done, not actually tested Azure CLI because it's a pain to get working through an authenticated proxy which I can't bypass in my environment.)

Here's a screenshot of the Azure Portal that shows that I c

[2020-04-16 03:47] AdrianSanguineti commented on #11589
@VeryEarly, and to confirm: different names for the Diagnostic Settings (pointing to different storage accounts) produces the following results, when viewed in the Azure Portal

![image](https://user-images.githubusercontent.com/9954734/79411941-8db76200-7fe7-11ea-9b0c-ceb86ebf353d.png)

![image](https://user-images.githubusercontent.com/9954734/79411992-aaec3080-7fe7-11ea-8247-5e6667cd0132.png)

[2020-04-16 04:04] AdrianSanguineti commented on #11589
For reference, with the [Azure CLI](https://docs.microsoft.com/en-us/cli/azure/monitor/diagnostic-settings?view=azure-cli-latest#az-monitor-diagnostic-settings-create), its syntax allows for in **a single Diagnostic Setting** the retention policies independently for each category can be independently set:

[code]

[2020-04-16 04:07] blueww commented on #11596
@paulomorgado

When I run you script in local powershell 5.1, the error can be pops up.
I think you don't get the error might be related with the running environment.

Anyway, I will think of how to fix it.

[2020-04-16 05:41] SafwanHussain commented on #11565
update : I have found the solution
The Azure function activity expects a JObject response from the function, when i was passing the function return value as response, it was a JArray object.
So i created a json string that dynamically take values based on attributes from the above jarray, and then pass this json string as the response object.

[2020-04-16 05:41] #11565 closed

[2020-04-16 06:06] SafwanHussain commented on #11547
@blueww you are right,i am not doing this exercise from powershell, i am doing this directly from the portal, and also the blob services is a section (pane) on the portal for a particular storage, under which is your lifecycle management option.

I have attached screenshot of the Storage(portal) showing the blob service section having Lifecycle management when Hierarchical namespaces is disabled.

[2020-04-16 06:46] Neelkamal10 commented on #11531
@kenieva I am trying to restrict pip.

[2020-04-16 07:08] WYarde commented on #9537
I'm facing the same issue.. I've tried waiting for several days, but still no luck.
@lukeb1961 Your link is no longer working unfortunately. Do you have any more detail on this?

[2020-04-16 07:11] Marc-013 commented on #9911
Apologies!

Yes, the issue is solved.
I have been informed the correct way to modify the update replica.

[code]

[2020-04-16 08:26] dingmeng-xue commented on #11117
Involve ContainerInstances team to evaluate this feature.

[2020-04-16 08:36] #11298 closed

[2020-04-16 09:12] WillyMoselhy opened #11605 "Set-AzVirtualNetworkGateway piplelining issue"
## Description
Inconsistent experience when GW name is/not specified

## Steps to reproduce
Running this command fails
[code]
Fails with below error
[code]

However, this one works
[code]

## Environment data

[code]

## Module versions

[code]

[2020-04-16 09:50] dingmeng-xue commented on #11605
@WillyMoselhy, Get-Az* cmdlets may return single or array of PSVirtualNetworkGateway. Please check the return type in your first case. Normally, it is an array if name is not specified. If it is an array, please use  $GW[0] for further piping.

[2020-04-16 10:37] #11300 closed

[2020-04-16 10:40] ghost opened #11608 "user session control ?"
How to maintain the session timeout?

[2020-04-16 10:52] WillyMoselhy commented on #11605
I think you are correct and the workaround of using [0] would work. However, in a pipeline we normally expect array items to be passed without the need for [0]. Also, I noticed that the $GW object in fact gets updated with the custom route definition, but nothing applied on the actual GW.

From: Dingmeng Xue <notifications@github.com>
Sent: Thursday, April 16, 2020 11:51 AM
To: Azure/azure-powersh

[2020-04-16 10:58] dingmeng-xue commented on #11605
`Set-AzVirtualNetworkGateway` only accepts one object. If you expect to do batch update, you need to iterate array. I didn't get your second question. Could you share your code and expected result? In addition, please share debug message by setting `$DebugPreference="Continue"`

[2020-04-16 11:16] dingmeng-xue commented on #11608
@VGSandZ, could you show your detail issues?

[2020-04-16 11:19] WillyMoselhy commented on #11605
HYG,

PS C:\Users\XXX> $GW | Set-AzVirtualNetworkGateway -CustomRoute "192.168.0.0/16"
DEBUG: 11:07:29 AM - SetAzureVirtualNetworkGatewayCommand begin processing with ParameterSet 'Default'.
DEBUG: 11:07:29 AM - using account id 'XXX@XXX.com'...
DEBUG: [Common.Authentication]: Authenticating using Account: 'XXX@XXX.com', environment: 'AzureCloud', tenant: 'XXX'
DEBUG: [Common.Authentication]: Auth

[2020-04-16 11:47] SafwanHussain opened #11610 "Equivalent commands in AZ powershell for New-CosmosDbContex and Get-CosmosDbDocument"
i have a requirement to read the cosmosdb document from a container using a powershell script. I have Az module installed.
i came across some commands like New-CosmosDbContex and Get-CosmosDbDocument but soon realized that they are part of AzureRM module, i was not able to find equivalent commands in Az Module.
Also i came across this command which if i understood correctly would enable AzureRM al

[2020-04-16 11:51] helderpinto opened #11611 "Get-AzConsumptionUsageDetail - Expand MeterDetails not being honored when using IncludeAdditionalProperties"
## Description

When calling `Get-AzConsumptionUsageDetail` with the `IncludeAdditionalProperties` flag, `Expand MeterDetails` is not being honored. This happens no matter I use or not the `IncludeMeterDetails` flag.

## Steps to reproduce

[code]

## Environment data

[code]

## Module versions

[code]

## Debug output

For simplicity, I am only including one of the elements of the results array.

[2020-04-16 14:21] VGSandZ commented on #11608
i have colleagues working on shared systems and want the timeout the session stays once the user is done. if the Logout-AZAccount is not done. I mean one user session could be easily hijackd. As everyone is admin on the shared systems.

[2020-04-16 14:34] ramankumarlive commented on #11464
@lagebj Please use GetManagedDiskPageRangesDiffAsync.

Link to the rest API document: https://docs.microsoft.com/en-us/dotnet/api/azure.storage.blobs.specialized.pageblobclient.getmanageddiskpagerangesdiffasync?view=azure-dotnet

Here is the link to the .Net SDK: https://www.nuget.org/packages/Azure.Storage.Blobs/

We are in the process of updating the sample published in the Github with the new m

[2020-04-16 15:20] dingmeng-xue commented on #11608
For this case, Disconnect-AzAccount is required. Or, you can Disable-AzContextAutosave and only keep context in memory.

[2020-04-16 21:56] dcaro commented on #11579
`Convert-FromJson` convert a JSON object into a PowerShell custom object as per https://docs.microsoft.com/en-us/powershell/module/microsoft.powershell.utility/convertfrom-json?view=powershell-7 but the template is expecting arrays.

`$addressPrefixes = '["10.0.0.0/24"]' | ConvertFrom-Json` returns a string and the deployment template is expecting an array.
The subnet was understood as a PSObject

[2020-04-16 23:54] Drewm3 commented on #11555
@mayanknayar, could you please take a look at this one.

[2020-04-17 00:11] mayanknayar commented on #11555
@amankohli

Can you try passing named parameters ?
These parameters are parsed and added at the top of your script and you can reference the named parameters in your script run.

You can SSH to your VM and see how you script is modified before execution.

[2020-04-17 01:36] #10963 closed

[2020-04-17 03:45] wahyuen commented on #10963
so instead of 'fixing' the issue, you choose to update documentation instead.....would of been nice had this been communicated as previously asked multiple times >_>

[2020-04-17 06:00] bgawale commented on #10963
Can someone help us understand how this documentation fix should be called as 'fix' when Rm equivalent of same command functions differently?
If the documentation is the fix for this az command, then does this mean Rm equivalent of same command has a bug?

[2020-04-17 06:50] lagebj commented on #11464
Thanks @ramankumarlive

I will give this a try.
Can we expect this assembly as part of an upcoming Az.Storage pwsh module?

[2020-04-17 07:06] blueww commented on #11464
@lagebj
I will update you when get the new assembly is in Az.Storage module.
Anyway, it's already referenced by Az.Storage preview module, the latest version is 1.13..4-preview.

[2020-04-17 07:18] #10554 closed

[2020-04-17 07:18] #10555 closed

[2020-04-17 07:51] #11526 closed

[2020-04-17 09:02] dingmeng-xue commented on #11608
@VGSandZ, do you still need further clarification?

[2020-04-17 09:04] dingmeng-xue commented on #11610
Included Cosmos team to look into this issue.

[2020-04-17 09:32] dingmeng-xue commented on #11611
Involving Billing team to look into this issue.

[2020-04-17 10:03] vslepakov commented on #11597
So, what version should I use to have this fix?

[2020-04-17 14:53] SKKK0405 commented on #11542
I would like to know more detail of this workaround.
Is it need to change any "Environment Variables" or "Registry" setting?
I am concerned that it will impact to delete or upgrade Powershell AZ module, because we do not use PowershellGet and Installer.

[2020-04-17 14:59] Manishd79 commented on #11542
Hello Dingmeng

Apologies for late reply.

This was attempted on a win 2016 server with .Net 4.7.2

Yes, the logged in user is an admin on the machine.

Thx
Manish

Sent from my iPhone

[2020-04-17 16:29] Nalith commented on #9448
Had the same issue here with a "ForEach-Object -Parallel" loop. However, interestingly enough if I add a "Start-Sleep -Seconds (Get-Random -Maximum 10)" to my loop I'm not getting this anymore so wondering if its not something causing some form of block either locally or on the Azure APIs.

[2020-04-17 17:10] varnav commented on #1803
Please remove this restriction, file name should not matter here.

[2020-04-17 17:17] raandree commented on #1803
I want to vote to get this fixed as well. There is no advantage keeping the restriction in place.

[2020-04-17 17:18] GoEddie commented on #1803
It is beyond a joke, four and a half years for a check that isn’t even necessary

[2020-04-17 17:31] raandree commented on #1803
@andyw248, can you have a look at this, please? It would be great if you can reconsider if this issue should be really closed.

[2020-04-17 19:06] panchagnula opened #11622 "webapp: support connecting privately to a Web App using Azure Private Endpoint"
## Description of the new feature
The following feature is supported in preview on portal https://docs.microsoft.com/en-us/azure/private-link/create-private-endpoint-webapp-portal
and needs PowerShell equivalent.

## Proposed implementation details (optional)
Here are the details on the commands to support from feature crew

Command | CLI | PowerShell | Description
-- | -- | -- | --
Get Private En

[2020-04-17 19:08] panchagnula commented on #11622
@btardif FYI

[2020-04-17 20:42] EmilienCourt opened #11624 "Add-AzStorageAccountNetworkRule is not idempotent"
## Description

This issue is the exact same issue as [this one](https://github.com/Azure/azure-cli/issues/10673), whcih could be found in Azure CLI and was fixed.

Once `Add-AzStorageAccountNetworkRule` is executed to authorize a virtual network to access a Storage Account, if you use that exact same command you get this error :

[code]

As for Azure CLI, I believe the subsequent operations shoul

[2020-04-17 21:29] dcaro commented on #10963
When the Azure PowerShell modules switched from the AzureRM generation to Az, we aimed at having the default behavior of the cmdlets aligned with the most common scenarios.
A common scenario when creating a service principal is to have the contributor role, so when we we created the Az generation we changed the default behavior in `New-AzADServicePrincipal` to assign the contributor role. The inte

[2020-04-18 00:25] danielsollondon commented on #8898
Hi @Drewm3 - sorry for the delay, you are correct, i have raised a PR for a doc change, and I did also try to use this with a New-AzVm, but could not get it to work, so I will report back here on that too.

[2020-04-18 22:58] himmyaggarwal opened #11627 "[error]Exception calling "ExecuteNonQuery" with "0" argument(s): "Incorrect syntax near 'GO'."
## I am trying to automate to create DDLs in azure sql database using azure powershell.
i am using below script
param
(
    [parameter(Mandatory = $false)] [String] $server,
    [parameter(Mandatory = $false)] [String] $database,
    [parameter(Mandatory = $false)] [String] $adminName,
    [parameter(Mandatory = $false)] [string] $adminPassword

)
$connectionString = "Server=$server;Database=$data

[2020-04-19 14:39] dingmeng-xue commented on #11624
Involve Storage team to look into this issue.

[2020-04-19 14:43] dingmeng-xue commented on #11627
@himmyaggarwal , I didn't get which cmdlet of Azure PowerShell is used. Could you clarify further?

[2020-04-20 00:23] DanielLarsenNZ opened #11631 "New-AzStorageAccount -Force"
## Description of the new feature
`-Force` switch for `New-AzStorageAccount` to allow the cmdlet let to be idempotent / used in scripts that are re-runnable (without checking if Storage Account exists). This behaviour would then be consistent with `New-AzResourceGroup`, `New-AzVirtualNetwork` and several other cmdlets.

## Proposed implementation details (optional)
[code]

When `-Force` switch is

[2020-04-20 01:59] VeryEarly commented on #11589
Got it, I'm working on the fix.

[2020-04-20 02:34] VeryEarly commented on #11589
Hi, I can make fix to have what you desired, set retention policy per Metric/Log
but still it would be different behavior from the Azure Portal. Because in the portal, retention days for each category need to be provided while in current retention policy is "one for all" per setting.

[2020-04-20 05:08] blueww commented on #11631
@DanielLarsenNZ

Server will report error when create account on an existing account name, so from Powershell, we can't make it success to create account with existing account name.
Besides that, as the parameter input in create account cmdlet might be different than existing account with same name, so we also can't report success in this case.
So we have to report failure as the account already e

[2020-04-20 05:11] blueww commented on #11624
@EmilienCourt

Please include the full script to repro this, like how to get $vnsg object with PSH script.

And please include the debug log of Add-AzStorageAccountNetworkRule (hide any credential), I would like to see the request ID and the Network rule format in the request.

[2020-04-20 07:50] #11597 closed

[2020-04-20 08:05] EmilienCourt commented on #11624
@blueww

You will find below a script which will create a resource group, a virtual network, a subnet config, a storage account, deny access to this storage account, add a rule to allow access to the storage account from the subnet, and add it again.

This is what triggers the error, which, according to me (and the issue i've linked in the first post) should return a warning saying that the subnet

[2020-04-20 08:20] blueww commented on #11624
@EmilienCourt
Thanks for the information!

We can set several VirtualNetworkResourceId  with a string[] in Add-AzStorageAccountNetworkRule, so when part of the Ids are duplicated with original Ids from server, do you think we should report warning for each duplicated ID, or just skip adding the duplicated ones without any notification?

[code]

[2020-04-20 08:31] EmilienCourt commented on #11624
@blueww

Personally I would prefer to have a warning saying that the rule already exists on the server. This could point to potential security issues ("How is this subnet already authorized ?") or useless lines in a script.

But to be consistent with [this commit](https://github.com/Azure/azure-cli/pull/12327/commits/462b8a5aa8f960f818760b7abe9989915c39d153) from Azure-CLI (which is the fix for th

[2020-04-20 08:37] blueww commented on #11624
@EmilienCourt
I would prefer not show the warning, as:
1. not matter the ID is already in server or added by the cmdlet, the final rule is same.
2. There can be many warnings, when add many duplicated ID with same command.

So I will not show the warning, but just skip adding the duplicated ID without notification.

[2020-04-20 08:42] EmilienCourt commented on #11624
@blueww

Alright, that makes sense too

[2020-04-20 11:43] himmyaggarwal commented on #11627
powershell version - 4.167.0

[2020-04-20 12:10] deep-mm commented on #11043
Any updates on this issue? It is still a SwitchParameter

[2020-04-20 12:14] deep-mm commented on #11043
Any updates on this issue? It is still a SwitchParameter

[2020-04-20 13:32] yossi-y commented on #10564
This is correct. To ensure that deployments don't override saved searches accidentally, an eTag property should be added in the "savedSearches" resource to override and maintain the idempotency of saved searches. You can see example in the template here: https://docs.microsoft.com/azure/azure-monitor/platform/template-workspace-configuration#configure-a-log-analytics-workspace

[2020-04-20 13:53] rahulnandan opened #11642 "New-AzConsumptionBudget : Operation returned an invalid status code 'BadRequest'"
## Description

I am getting BadRequest error while creating Budget from Azure powershell

## Steps to reproduce
Execute below command, after Login into Azure account and select your desired subscription context.
[code]

## Environment data

[code]

## Module versions

[code]

## Debug output

[code]

## Error output

[code]

[2020-04-20 15:06] warrentc3 opened #11643 "Unable to list blobs in a container"
## Description

Get-AzStorageBlob : Server encountered an internal error. Please try again after some time. HTTP Status Code: 500 - HTTP Error Message: Server encountered an internal error. Please try again after some time.
ErrorCode: InternalError
ErrorMessage: Server encountered an internal error. Please try again after some time.

## Steps to reproduce

$StorageAccountName = "TEST"
$StorageAcco

[2020-04-20 19:06] bganapa commented on #7602
If anyone is hitting this issue in AzureStack ADFS environment with Az modules, please make sure that you are using 2.0.1-preview+ Az.Accounts module.
1.7.2 az.accounts module is not supported for ADFS environments

[2020-04-20 19:39] haxxorsid commented on #11043
@deep-mm Tries this workaround
https://github.com/Azure/azure-powershell/issues/9350#issuecomment-502833214

[2020-04-20 22:38] kenieva commented on #11531
I have taken a look and found some problems with deployment.

1. Type is not supported within a policy definition. Please remove. If you are looking to add a category, please use the metadata category.
2. When deploying using PS, the -Policy parameter only takes in the rule so starting with {"if"... please remove the rest. (https://docs.microsoft.com/en-us/powershell/module/az.resources/New-AzPoli

[2020-04-20 22:38] #11531 closed

[2020-04-21 01:49] #11624 closed

[2020-04-21 03:20] dingmeng-xue commented on #11642
Thanks for reporting the issue. Involve Billing service team to look into it.

[2020-04-21 03:34] dingmeng-xue commented on #11643
Thanks for reporting. Involve storage team to look into it.

[2020-04-21 06:01] pvrk commented on #10546
@peppekerstens : Sincere apologies for the delay here. In retrospect, I am not sure I understand the issue. I understand that we have 2 policies created for the same time but 1 before the daylight savings and 1 after. The portal displays the local time using the browser and PS always shows the UTC time.  They are different in this aspect. So, can you please let us know what is the behavior you see

[2020-04-21 08:27] hawesr opened #11648 "New-AzureRMRoleAssignment reporting 404 not found for ADFS group"
## Description

Unable to add via ADFS Azure Stack setups

## Steps to reproduce

Add-AzureRmEnvironment -name admin -ARMEndpoint https://adminmanagement.local.azurestack.external

Add-AzureRmAccount -Environment admin

#Connect to AD to create the universal AD Group and add a User
$cred=get-credential
winrm s winrm/config/client '@{TrustedHosts="x.x.x.x"}'
$group=invoke-command -ComputerName x.x.

[2020-04-21 10:47] dingmeng-xue commented on #11075
@sumitraj0103 , thanks for your reporting. We will close this issue due to inactivity. If you meet the same issue, please raise a new issue with debug messages. Thanks.

[2020-04-21 10:47] #11075 closed

[2020-04-21 10:48] ElvenSpellmaker opened #11649 "Get-AzAks is missing the `apiServerAccessProfile` which is in `az aks show`"
## Description of the new feature
It seems the `apiServerAccessProfile` returned by `az aks show` isn't in the output for `Get-AzAks`, is this correct?

From `az aks show` as an example
[code]

Using `-Debug` shows this key isn't coming back on the `Get-AzAks` call, whereas it does for the generic resource call.

Further to this by doing a generic `Get-AzResource` the profile _is_ available in the

[2020-04-21 10:49] dingmeng-xue commented on #11102
@sbhuttan , could you help to check @VeryEarly 's question?

[2020-04-21 10:59] dingmeng-xue commented on #11202
Thanks @omerzubair . Please contact us if you meet any issue. Close this issue now.

[2020-04-21 11:01] hobbesuk commented on #8371
Thanks for the workaround, the docs really need updating as they don't work

[2020-04-21 11:01] dingmeng-xue commented on #11145
@jkavanagh58, do you need further clarification?

[2020-04-21 11:16] williamayerst commented on #11649
This would be very useful for me.

[2020-04-21 12:42] smneti opened #11651 "Unable to import AzResourceGraph module"
## Description
Unable to import AzResourceGraph module

I have tried to install the AzResourceGraph module through the command:
"Install-Module -Name Az.ResourceGraph -RequiredVersion 0.7.1"
but cannot proceed further with installation.

Error:
PS C:\Users\user1>Install-Module -Name Az.ResourceGraph -RequiredVersion 0.7.1 -scope currentuser
WARNING: Source Location 'https://www.powershellgallery.c

[2020-04-21 13:08] Catskan-zz opened #11653 "New-AzScheduledQueryRule - Alerts created not fired while successded and enabled in Azure."
## Description
Hello Everyone,
I'm trying to deploy Azure Alerts Log with Powershell with cmdlets but doesn't work in Azure.
My script seems good and my alerts was created in Azure Alerts (Enabled, ...), but never fired and not receive any emails alert (in Action group).
But, If a update this alert by adding any character (for exemple "1") in my alert description and update, alert fired and send e

[2020-04-21 14:25] abell27 commented on #3391
It has been a year since this was closed. Has this functionality been added? I am having this issue still today.

[2020-04-21 16:34] dcaro commented on #8739
Hi @sachidanand

The Azure PowerShell product team is looking for customers who are willing to try some of the newest Azure PowerShell features for Azure Functions and provide feedback.

If you are interested in talking with Azure PowerShell product team on this topic, fill out this short survey (https://microsoft.qualtrics.com/jfe/form/SV_0PATZ9XFWS8S82V?Q_CHL=github) and include your email at th

[2020-04-21 16:35] dcaro commented on #7147
Hi @KasperHoldum, @KirkMunro

The Azure PowerShell product team is looking for customers who are willing to try some of the newest Azure PowerShell features for Azure Functions and provide feedback.

If you are interested in talking with Azure PowerShell product team on this topic, fill out this short survey (https://microsoft.qualtrics.com/jfe/form/SV_0PATZ9XFWS8S82V?Q_CHL=github) and include you

[2020-04-21 20:26] sbhuttan commented on #11102
To confirm ActionGroup already existed, while we tried creating AlertRule to use the group.

[2020-04-21 20:43] MehaKaushik commented on #11422
0.1.4 released https://www.powershellgallery.com/packages/Az.CosmosDB/0.1.4

[2020-04-21 20:43] #11422 closed

[2020-04-21 20:45] MehaKaushik commented on #11381
Hey @karthick3d @SafwanHussain Az.CosmosDB 0.1.4 is released https://www.powershellgallery.com/packages/Az.CosmosDB/0.1.4

Please verify that the issue is resolved.

[2020-04-21 20:48] MehaKaushik commented on #11560
This should have been resolved in Az.CosmosDB 0.1.4 https://www.powershellgallery.com/packages/Az.CosmosDB/0.1.4

[2020-04-21 23:28] AdrianSanguineti commented on #11589
@VeryEarly, that merged change you have made is an improvement, so thank you!

However, I still would like to see this function match the Azure Portal behavior, but also understand that requires a major rewrite as the function's parameters have to be completely redesigned to cater for the scenario.

Therefore it would be great if the documentation for `Set-AzureDiagnosticSettings` is also updated

[2020-04-22 01:23] #11596 closed

[2020-04-22 02:01] VeryEarly commented on #11589
Thanks for your feedback.
I'll update documents and demonstrate how this cmdlet can be properly used.

[2020-04-22 03:30] dingmeng-xue commented on #11651
@smneti , The URL `https://www.powershellgallery.com/api/v2/package/Az.ResourceGraph/0.7.1` is accessible. Could you try the link using browser? or is there any special network constrains?

BTW, what version of Windows PowerShell is? The version of PowerShellGet is very old. You can try after upgrade that module.

For second question, please restart powershell and import again. If you still has is

[2020-04-22 03:33] dingmeng-xue commented on #11648
@bganapa, could you help to check if we support this case?

[2020-04-22 03:41] miksan92k opened #11656 "Errors when attempting to install PowerShellGet"
## Description
If I run an Update-Modoule PowerShellGet -force
I receive the error that PowerShellGet was not installed using Install-Module

If I try to install PowerShellGet using -allowclobber and -force
I receive the error that states:
The module 'PowerShellGet' cannot be installed because the catalog signature in 'PowerShellGet.cat' does not match the hash generated from the module.
## Cost

[2020-04-22 04:05] dingmeng-xue commented on #11653
Thanks for reporting. We will look into it.

[2020-04-22 04:17] dingmeng-xue commented on #11656
@miksan92k, thanks for your try. PowerShellGet doesn't belong to Azure PowerShell. Please raise your issue to https://github.com/PowerShell/PowerShellGet/issues.

Sorry for inconvenience.

[2020-04-22 04:17] #11656 closed

[2020-04-22 05:51] jc3300 commented on #10383
Any update??? I get the same thing... Not Cost

[2020-04-22 05:57] Aleksanderis opened #11658 "Get-AzBatchApplication doesn't returnt ApplicationPackages"
## Description
We had a script to apply retention policy for Batch application packages (to solve quota limitations). We were using AzureRM module for that - `Get-AzureRmBatchApplication` and it was working good. Lately we migrated to Az PowerShell modules and there are issues with - it works a bit differently.

## Steps to reproduce

[code]
`ApplicationPackages` property is null/empty in the resp

[2020-04-22 08:05] blueww commented on #11643
@warrentc3
This is not a Powershell code issue, this error is from server.
Would you mind to open a ticket to Azure Support on the Azure portal, to ask the support from server side? (Please indicate the storage account has enabled HierarchicalNamespace.)

[2020-04-22 08:50] #10881 closed

[2020-04-22 09:08] smneti commented on #11651
- The URL () is accessable from browser, as it downloads the package file as and when hit, hence we could rule out the network issue.
- PSVersion is : 5.1.16299.1146

- Powershell Get module version is 1.0.0.1
Packagemenagement version is : 1.0.0.1

- Tried to upgrade the Powershell Get module (through command :  Find-Module powershellget | Install-Module) and I see the same error:

WARNING: Sourc

[2020-04-22 09:23] dingmeng-xue commented on #11651
@smneti, thank for the information. PowerSHellGet is too old and you can not use it to upgrade itsself.

Just want to double confirm your issue. Do you still have the same issue that ResourceGraph cannot be imported on PowerShell 7?

[2020-04-22 09:30] smneti commented on #11651
It is good that I now know that the issue is caused due to older version of PowershellGet. Thanks for providing a confirmation on this,

With Powershell 7 I am good, with no issues in using the Az.ResourceGraph module.

I thank you once again on checking this.

[2020-04-22 09:35] v-hhk opened #11659 "WebApp:deployments are running on Azure DevOps Hosted Agents is failing intermittent for different application on one resource group"
## Description
deployments are running on Azure DevOps Hosted Agents
¬The deployment script is very complicated but it ultimately comes down to one line:

`$null = Publish-AzWebApp -Name $AppName -ResourceGroupName $ResourceGroupName -ArchivePath $ZipPath -Force`
The customer run a new deployment against the problematic resource group (xxxxxxx)
with `-Verbose` appended and the $DebugPreference set

[2020-04-22 09:42] dingmeng-xue commented on #11651
Great. Welcome contacting us if you meet any issue. Close this issue now.

[2020-04-22 09:42] #11651 closed

[2020-04-22 19:02] lavermil commented on #5885
As far as I can find NSGs are not applicable to Storage Accounts. The only firewall option is IP addresses. Am I missing something?

[2020-04-22 19:16] mvasisht opened #11662 "Set-AzCosmosDBSqlContainer throwing exception"
Set-AzCosmosDBSqlContainer gives below error even though container is created in CosmosDB. It fails after around 50 seconds.
CloseError: (:) [Set-AzCosmosDBSqlContainer], HttpRequestException
All other CosmosDB az scripts work fine.

PSVersion                      5.1.14393.3053

## Steps to reproduce
[code]

## Module versions
[code]

## Debug output
[code]

## Error output
[code]

[2020-04-22 19:41] jonarmstrong opened #11663 "Invoke-AzOperationalInsightsQuery task cancelled before -Wait time elapsed"
## Description
Using `Invoke-AzOperationalInsightsQuery` will throw an **A task was cancelled** exception before the timeout specified by -Wait has elapsed, ~ 120 seconds until the thread task is cancelled.

## Steps to reproduce

Use Invoke-AzOperationalInsightsQuery with a query that takes a long time to complete. The thread task will be cancelled before the timeout specified by -Wait. I can't s

[2020-04-22 23:34] Vaibhav-Agar commented on #11549
Reached out to Michael via internal channel and working offline to debug this.

[2020-04-22 23:45] Vaibhav-Agar commented on #11466
Thanks for bring this to our attention @m0ntl .Opened a new feedback item [here](https://feedback.azure.com/forums/216843-virtual-machines/suggestions/40243945-support-asjob-in-command-set-azvmdiskencryptionex).

[2020-04-22 23:45] #11466 closed

[2020-04-23 00:07] dingmeng-xue commented on #11663
@VeryEarly , please look into it.

[2020-04-23 00:09] dingmeng-xue commented on #11662
@mvasisht , Could you share more information about debug log after you enable `$DebugPreference="Continue"`?

[2020-04-23 00:21] msJinLei commented on #11034
Deisgn review https://github.com/Azure/azure-powershell-cmdlet-review-pr/issues?page=2&q=is%3Aissue+is%3Aopen
PR:
https://github.com/Azure/azure-powershell/pull/11519
https://github.com/Azure/azure-powershell/pull/11536

[2020-04-23 00:21] #11034 closed

[2020-04-23 00:25] dingmeng-xue commented on #11659
@v-hhk, could you share version of Az, DeployHelpers.ps1, and DevOps task information to us? Could you confirm if there is issue when you try the same scripts locally?

[2020-04-23 00:36] dingmeng-xue commented on #11605
For further route definition question, I involve Network team to look into it further.

[2020-04-23 04:32] ADataGMan opened #11669 "The Azure PowerShell session has not been properly initialized."
## Description
I'm at my wit's end for trying to figure how to use PowerShell and Azure together. I've uninstalled every trace of PS7 I could find and did everything else I could think of to remove old modules and disable the PowerShell 2.0 engine in windows features. I've turned off my machine, rebooted it, and tried to remove any hint of PowerShell existing.

Then I installed Powershell 7 as of

[2020-04-23 04:55] taeb96 opened #11670 "Getting subscription and service limits via Powershell"
## Description of the new feature
We have a list of our subscription and service limits for various resources at: https://docs.microsoft.com/en-us/azure/azure-resource-manager/management/azure-subscription-service-limits
It would be great to be able to query these limits directly to compare them against current usage at a subscription or resource level.

## Proposed implementation details (optiona

[2020-04-23 07:13] jrgithub opened #11672 "webapp:Get-AzResource lookup on Azure App Service does not return accurate NetFrameworkVersion"
When assigning a variable to this:

$enumAppService = Get-AzResource -ResourceGroupName $resName -ResourceType Microsoft.Web/sites/config -ResourceName $website.Name -ApiVersion 2018-02-01

And then writing to screen like this:
Write-host $enumAppService.Properties.NetFrameworkVersion

The output is always v4.0 (this may align to what is seen via resource.azure.com). However, this is inaccurate as

[2020-04-23 09:29] lagebj commented on #11464
Thank you @blueww and @ramankumarlive for your support. I will wait for the release of the Az.Storage module with this functionality built-in and have decided to go another route this time, but I appreciate the help.

I will be interested in taking a look at this sample when available, can you link it here when available?

[2020-04-23 10:07] blueww commented on #11464
@lagebj
Powershell just released with new new assembly (Az.Storage 1.14.0)
You can try the following script to get the page difference. (I have not successfully run it as I currently don't have managed Disk Uri, and it only works on Managed Disk.)
[code]

[2020-04-23 10:09] lagebj commented on #11464
@blueww Very nice! Thanks you :)

[2020-04-23 10:17] dingmeng-xue commented on #11658
@Aleksanderis , could you share debug message output of `Get-AzureRmBatchApplication`?

[2020-04-23 10:22] Aleksanderis commented on #11658
Hmm, it seems I included, or do you need something more?
Actually it should be really easily reproducible, just with one command call with any Azure Batch application. If it's not reproducible, then I try provide more details.

[2020-04-23 10:41] deep-mm commented on #11043
Yeah that works @haxxorsid
Thanks for the help :)

[2020-04-23 12:20] v-hhk commented on #11659
The same scripts locally are working every single time without error. Let me get back to you with the Az version and DeployHelpers.ps1.

Thank you,
Hristo

[2020-04-23 15:22] AndrewSmithRS opened #11679 "Get-AZAutomationUpdateManagementAzureQuery"
## Description of the new feature
Get-AZAutomationUpdateManagementAzureQuery - retrieve AzureQueries that have been used.
## Proposed implementation details (optional)
I'm trying to obtain the content of existing Deployment configurations that have been created however Get-AzAutomationSoftwareUpdateConfiguration does not contain any reference to the query that has been used. If this is stored can

[2020-04-23 15:30] blueww commented on #11547
@SafwanHussain
This repo is for Powershell Issue.
As your issue is not related with Powershell, we are not the best person who can help you on this.

Would you mind to open a ticket to Azure Support on the Azure portal, to ask the support from protal/server side?
![image](https://user-images.githubusercontent.com/6926193/80117815-35212f80-85ba-11ea-8614-2933fe4c4f40.png)

[2020-04-23 17:50] pcgeek86 opened #11680 "Missing command to publish custom metric to Azure Monitor service"
I can't seem to find a PowerShell command to publish a custom metric to the Microsoft Azure Monitor service. Is there a command to do this in the Azure PowerShell module? If not, why is it missing and when can it be added?

The documentation doesn't mention any PowerShell commands.

https://docs.microsoft.com/en-us/azure/azure-monitor/platform/metrics-store-custom-rest-api

[code]

Cheers,
Trevor

[2020-04-23 17:57] #11477 closed

[2020-04-23 20:50] TechNosisDerek commented on #11446
I know this is an old closed issue and can stay closed, but at this point I am going to have to abandon using AZ keyvault. I cannot manage AIPService, or azureAD after loading the module because of these issues.

[2020-04-23 21:04] bgklein commented on #11658
Hi @Aleksanderis,

The form of the underlying Application object changed as you correctly observed in one of the past breaking change updates. Get-AzBatchApplication no longer has application packages as a sub-object so you must use the Get-AzBatchApplicationPackage to retrieve applicationPackages.

This also had a change at the same time where -ApplicationId became -ApplicationName in the Get-AzB

[2020-04-23 21:05] bgklein commented on #11658
@Aleksanderis if you have any further questions let me know, otherwise I am closing the issue as it appears to be working as designed

[2020-04-23 21:05] #11658 closed

[2020-04-23 21:12] Aleksanderis commented on #11658
Ok, thank you.

However I tried to execute (with changed `-ApplicationName` parameter):
[code]
And still gettins same error: `Nullable object must have a value.`

##Rezolve-AzError output
[code]

[2020-04-23 21:31] ziesemer commented on #11446
@TechNosisDerek - not even a month old.  I think this needs to be tracked as an open issue, somewhere...  if not here, where?

I'm thinking there is more that Az.Accounts can or should need to be doing here.  Update the included version of Microsoft.IdentityModel.Clients.ActiveDirectory ?  Implement lazy loading, or defer loading somehow?

[2020-04-23 21:39] TechNosisDerek commented on #11446
I'm just started on learning more powershell and before Monday didn't even know what assemblies in powershell were. As a start I would expect the current versions of all of the official Azure modules to call the same versions of assemblies. Then the the core powershell team wanted to properly wall off modules from each other so collisions didn't happen that would be great.

I simply wanted to secu

[2020-04-24 00:00] dingmeng-xue commented on #11446
Thanks for feedback. We will evaluate upgrading `Microsoft.IdentityModel.Clients.ActiveDirectory` to the latest version.

[2020-04-24 00:23] TechNosisDerek commented on #11446
The other problem I have seen is:
Az.Accounts\1.7.5\Microsoft.WindowsAzure.Storage.dll is version 9.3.0.0
AIPService\1.0.0.1\Microsoft.WindowsAzure.Storage.dll is version 9.3.2.0
and should also be looked at.

[2020-04-24 01:27] dingmeng-xue commented on #11669
@ADataGMan , could you try below code and check if there is any problem?
[code]

[2020-04-24 01:31] dingmeng-xue commented on #11670
Thanks for your feedback. We will evaluate if service has provided API with those information.

[2020-04-24 03:20] blueww commented on #11547
@SafwanHussain
I will close this issue as it's not Powershell related.
Feel free to contact use again if you need any assistant on Azure Powershell.

[2020-04-24 03:20] #11547 closed

[2020-04-24 09:59] SafwanHussain commented on #11547
@blueww Yes , you can close this issue.
I will take it up with the Azure support team.
Thanks

[2020-04-24 10:00] SafwanHussain commented on #11610
Hi,
Any update on this issue?

[2020-04-24 10:21] coatesgavin commented on #10601
I think this needs to be re-opened. I'm seeing the same issue. I have a script that loops through all storage accounts to get info. I've seen persistent hanging on my runs since morning of 23/4. A workaround doesn't address the root cause.

`Name                           Value
----                           -----
PSVersion                      5.1.17763.771
PSEdition                      Desktop

[2020-04-24 13:48] lukaszgx opened #11692 "Get-AzResource -Name filtering doesn't work with nested databases for Azure SQL"
## Description

Not sure if that's intended change but running Get-AzResource with the correct value for Name filter doesn't bring any results if its nested resource eg. database under azure sql server

## Steps to reproduce

[code]

**Input:**

[code]

**Comment:**
Above command below doesn't bring any results although the value for "Name" is correct. That's working correctly with previous versio

[2020-04-24 13:51] AlexKeySmith commented on #10601
Hi same here from a MS hosted agent and a storage account in UK South. In particular Get-AzRoleAssignment on an existing storage account, it hangs indefinitely. However it runs fine ok on a newly deployed storage account, when executed locally.

I'll share some diagnostic details if I can get any where with it.

[2020-04-24 13:58] DanteNahuel opened #11693 "Get-AzRecoveryServicesBackupRecoveryPoint Not working for old points"
## Description

Im trying to get very old Recovery Points using powershell and a Start Date of 1 year or more but the result is empty.
The recovery points are there and I can check them by the Portal.

## Steps to reproduce

[code]

[2020-04-24 14:00] blueww commented on #10601
@coatesgavin
Would you please give the repro script?  (hide any credential)
And if the hang on  `Get-AzRoleAssignment`  or `Get-AzStorageaccount`?

[2020-04-24 14:28] AlexKeySmith commented on #10601
Thanks for getting back to us so quickly @blueww

I stand corrected, it was New instead.

$blobDelegatorArgs = @{
                        ObjectId = $principalId
                        ResourceGroupName = $ResourceGroupName
                        ResourceName = $deployment.Outputs.storageAccountName.value
                        RoleDefinitionName = "Storage Blob Delegator"

[2020-04-24 14:32] blueww commented on #10601
@AlexKeySmith
As the hang is in 'New-AzRoleAssignment', it's actually a new issue.
Would you please open a new issue, and the proper team will help you on this.

Please follow the issue teamplate and include you repro script, debug info ... in the new issue.

[2020-04-24 15:01] matthchr commented on #11658
That's a bug which we will fix in the next release - it's not supposed to return ApplicationPacakges anymore.

[2020-04-24 17:30] tacerra opened #11695 "Import-AzBlueprintWithArtifact fails when using copy in outputs"
Getting this error when calling Import-AzBlueprintWithArtifact:

This is the blueprint template that is failing:
[code]

Same template deployed with New-AzResourceGroupDeployment works fine.
[code]

[2020-04-24 17:43] sedeuce-dawg opened #11696 "Add-AzApplicationGatewayRequestRoutingRule throws "Set-AzApplicationGateway : Cannot parse the request.""
**Cmdlet(s)**
$applicationgateway = Get-AzApplicationGateway -Name "apgw"

$frontendipconfig   = Get-AzApplicationGatewayFrontendIPConfig -ApplicationGateway $applicationgateway -Name "appGwPublicFrontendIp"

$frontendport80     = Get-AzApplicationGatewayFrontendPort -ApplicationGateway $applicationgateway -Name "port_80"

$frontendport443    = Get-AzApplicationGatewayFrontendPort -ApplicationGate

[2020-04-24 18:18] AlexKeySmith commented on #10601
Ah yes fair point, thanks, of course it'll be different endpoints underneath. I'll raise a new issue, have a nice weekend.

[2020-04-24 22:41] Francisco-Gamino opened #11698 "[Az.Functions] PlanType and OSType in Get-AzFunctionAppAvailableLocation should be optional"
`-PlanType` and `-OSType` in `Get-AzFunctionAppAvailableLocation` should be optional.

Going forward, we will default OSType to 'Windows' and PlanType to `Premium`. The experience will look like this:

[code]

[2020-04-24 22:42] Francisco-Gamino commented on #11698
cc: @anirudhgarg @eamonoreilly

[2020-04-24 22:46] Francisco-Gamino opened #11699 "[Az.Functions] Remove profile support from Az.Functions"
Remove profile support from Az.Functions.

[2020-04-24 22:49] Francisco-Gamino opened #11700 "[Az.Functions] New-AzFunctionAppPlan and New-AzFunctionApp -Location should allow locations that contain no spaces, e.g., "CentralUS""
New-AzFunctionApp -Location should allow locations that contain no spaces, e.g., "CentralUS". Currently, this is not supported.

[2020-04-25 00:44] husamhilal opened #11702 "Enable New-AzStorageContext to leverage Managed Identity"
## Description of the new feature
Currently, there is no existing way to use PowerShell to leverage a User Assigned Managed Identity linked to a VM in Azure.

## Proposed implementation details (optional)
Add a new parameter like this **New-AzStorageContext -UseManagedIdentity** which in background will perform a token request to Managed Identity endpoint from Azure VM: http://169.254.169.254/meta

[2020-04-25 04:54] Francisco-Gamino commented on #11568
This work is being tracked by https://github.com/Azure/azure-powershell/issues/11700.

[2020-04-25 04:54] #11568 closed

[2020-04-25 06:56] blueww commented on #11702
@husamhilal

From storage side, we are not clear about what do you mean by "User Assigned Managed Identity", and can't open http://169.254.169.254/metadata/identity/oauth2/token?api-version=2018-02-01.

But `New-AzStorageContext` do support oauth. You can use following command to create a storage context with oauth credential, after login with `Connect-AzAccount`
[code]

[2020-04-25 10:23] schittli commented on #10497
Microsoft has not even considered it worth planning: `Assignees: No one assigned`

#### It's a shame that M$ propose to use the AZ Modul
… and it's still missing and ignoring the most basic features for many months.

[2020-04-25 13:19] dingmeng-xue commented on #11679
I include Automation team to evaluate this new feature.

[2020-04-25 13:21] dingmeng-xue commented on #11680
@VeryEarly , could you check if there is cmdlet supporting it.

[2020-04-25 13:24] dingmeng-xue commented on #11692
@lukaszgx, could you share the debug output after set `$DebugPreference = "Continue"`?

[2020-04-25 13:27] dingmeng-xue commented on #11693
@DanteNahuel, thanks for your reporting.
Could you share debug output after you set `$DebugPreference="Continue"`?

[2020-04-25 13:30] dingmeng-xue commented on #11696
Involve Network team to look into this issue.

[2020-04-25 13:33] dingmeng-xue commented on #11695
Involve Blueprint team to look into it.

[2020-04-25 13:48] lukaszgx commented on #11692
Debug updated. Azure SQL Database with the name of "sqlServerName/DatabaseName" exists and it's listed when I run command "Get-AzResource -ResourceGroupName 'TestResourceGroup'".

[2020-04-25 14:42] mgaufman commented on #11245
Hi,

Any updates/workarounds please? My customer is going to provision a number of tenants in an automated manner and this limitation is quite annoying as it breaks or complicates the whole provisioning workflow.

Thank you.

[2020-04-25 17:16] filizt commented on #11695
@tacerra could you provide the version of the Blueprint PS module you are using?

[2020-04-25 17:21] ScottMetzel commented on #11492
@dingmeng-xue - Yes, the verbose stream has the same issue, though in my experience it is not limited to `Disable-AzContextAutosave`.

I've seen the same effect mentioned in #11439 after calling `Connect-AzAccount` and writing something to the verbose stream via `Write-Verbose`. In my case, I'm having problems while executing a runbook in an Azure Automation Account with 'Az.Accounts' v1.7.5 insta

[2020-04-26 01:48] dingmeng-xue commented on #11395
@jmarti45 , is there any update?

In addition, Get-AzureRmVM doesn't support piping $vm. you need to use name of $vm as one input parameter like something as below code.
[code]

[2020-04-26 01:49] dingmeng-xue commented on #11320
@EngJameter, I'm closing this issue due to inactivity. Please contact us if you have further issue.

[2020-04-26 01:49] #11320 closed

[2020-04-26 01:51] dingmeng-xue commented on #11322
@matt-lethargic, could you double check `Get-AzStorageAccount`?

[2020-04-26 02:17] #11209 closed

[2020-04-26 06:44] matt-lethargic commented on #11322
[code]

Hope this is what you need. Sorry for the delay

[2020-04-26 09:21] isra-fel commented on #11708
Transferring this issue from .net SDK repo since it's related to `Az.Security` module

[2020-04-26 11:25] tacerra commented on #11695
PS C:\WINDOWS\system32> Get-Module Az.Blueprint

ModuleType Version    Name                                ExportedCommands

---------- -------    ----                                ----------------

Script     0.2.11     Az.Blueprint
 {Export-AzBlueprintWithArtifact, Get-AzBlueprint, Get-AzBlueprintArtifact,
Get-AzBlueprintAssignment...}

On Sat, Apr 25, 2020 at 1:16 PM Filiz Topatan <notificati

[2020-04-26 13:07] sriram-d opened #11710 "Add-AzureRmAutoscaleSetting cmdlet fails with TargetResourceNotFound error"
When attempting to add new autoscale setting for classic cloud service (Microsoft.ClassicCompute/domainNames), Add-AzureRmAutoscaleSetting cmdlet fails with TargetResourceNotFound error. The resourceId passed in for -TargetResourceId argument was obtained from Get-AzureRmResource cmdlet, so the resource does exist.

Same error is seen with AzureRM module version 6.13.1 and 6.2.0

Response headers

[2020-04-26 19:20] HammadKamran opened #11712 "Export-AzResourceGroup NOT generating the proper ARM template"
## Description

On 23rd April 2020 I noticed that the cmdlet **Export-AzResourceGroup** stopped generating the ARM template that it was generating before 23rd April 2020. I am trying to export the ARM template of a Logic App from my RG. Please note that no change was done to the powershell script or the Logic App itself before or after the issue occurred.

## Steps to reproduce

[code]

## Environ

[2020-04-27 02:17] dingmeng-xue commented on #11710
@sriram-d , could you share the debug error after set `$DebugPreference = "Continue"`?

[2020-04-27 02:36] dingmeng-xue commented on #11712
Logic App team, this issue can be reproduced in my sub. Portal has the same issue too. The definition of workflows becomes empty.

[2020-04-27 03:05] bganapa opened #11714 "AzureStack-Storage Module - Any commands in the storage module prompts for user inputs"
## Description

Executing any commands in the storage admin module prompts for user inputs. This is an issue as the module has reverted to use an older version of PsSwaggerUtilty.  This was an user error while generating the module. The error happens when we install it afresh, storage admin module verification missed this obvious error may be due to the presence of existing module

PS C:\> Get-Azs

[2020-04-27 03:11] wyunchi-ms opened #11715 "[Tools] Add verb check for cmdlets"
## Description
Add a check in StaticAnalysis to check the verb is approved in our whitelist.

## Cost

[2020-04-27 03:36] sriram-d commented on #11710
@dingmeng-xue, please find below
DEBUG: 08:43:29 - AddAzureRmAutoscaleSettingCommand begin processing with ParameterSet 'CreateAutoscaleSetting'.
DEBUG: 08:43:29 - using account id 'xxxx@yyyy.com'...
WARNING: 08:43:29 - *** The namespace for all the model classes will change from
Microsoft.Azure.Management.Monitor.Management.Models to Microsoft.Azure.Management.Monitor.Models in future releases.
W

[2020-04-27 03:57] ADataGMan commented on #11669
I didn't see any errors, this is the result of what I received when I ran it.

Afterwards I tried running Connect-AzAccount and it seemed to work fine. Maybe I just needed a few hard shutdowns, updates, and restarts to get it to download?

Az.Storage results in:
[code]

The Az.Accounts results in:
[code]

[2020-04-27 07:20] nguyenlamlll opened #11718 "`GroupName` property of New-AzManagementGroupSubscription should be updated to match its meaning"
## Current implementation
Currently, `New-AzManagementGroupSubscription` accepts a parameter called `GroupName`, depicted as "Management Group Id". This is quite confusing (at least, to me, when I read the [docs](https://github.com/Azure/azure-powershell/blob/master/src/Resources/Resources/help/New-AzManagementGroupSubscription.md)).

`GroupName` is confusing because, on the Azure Portal, we have

[2020-04-27 09:26] lgmorand commented on #2286
same issue today with CLI. a 4 years old bug :-/

[2020-04-27 15:00] bjoernhoeferacp commented on #11418
Same issue here - any news about a solution @PleaseStopAsking

[2020-04-27 15:05] bjoernhoeferacp commented on #11418
Get-AzNetworkProfile : Error mapping types.
Mapping types:
NetworkProfile -> PSNetworkProfile
Microsoft.Azure.Management.Network.Models.NetworkProfile -> Microsoft.Azure.Commands.Network.Models.PSNetworkProfile
Type Map configuration:
NetworkProfile -> PSNetworkProfile
Microsoft.Azure.Management.Network.Models.NetworkProfile -> Microsoft.Azure.Commands.Network.Models.PSNetworkProfile
Property:
Con

[2020-04-27 15:56] PleaseStopAsking commented on #11418
@bjoernhoeferacp I have heard nothing since opening the issue. My workaround was to complete the same steps via Azure CLI instead.

[2020-04-27 17:11] bjoernhoeferacp commented on #11418
@PleaseStopAsking - Worked around it with Get-AzResource -ResourceId - as Azure CLI is not an option in Azure Automation
@allegradomel any progress on this issue?

[2020-04-27 22:03] bouchaet commented on #10651
Hello,

I do have the same error by running this sample:

[code]

The error is reproduced from both my dev workstation and from a Azure Powershell Task in DevOps Release Pipeline.

Error as seen on a DevOps task:

[code]

The library Microsoft.Azure.DocumentDB.Core does in fact depend on Newtonsoft.Json 9.0 based on dotPeek but the library cannot be found under `C:\Program Files\WindowsPowerShell\

[2020-04-27 23:15] tylersplitt commented on #11381
@MehaKaushik When using Az.CosmosDB version 0.1.4 I have found the issue remains.

`Get-AzCosmosDBSqlContainer : Object reference not set to an instance of an object.`

[2020-04-27 23:20] MehaKaushik commented on #11381
@tylersplitt  Do you mind sharing the details of the container, for further debugging.

[2020-04-27 23:29] tylersplitt commented on #11381
Here are the debug logs (sanitized)
[code]
[code]

[2020-04-28 01:28] dingmeng-xue commented on #11141
@Drewm3  and @hyonholee , I see one PR was merged for this issue. Was this issue resolved?

[2020-04-28 04:31] blueww commented on #10651
@erich-wang ， @markcowl
Would you please help to look at the issue?
As I know, Newtonsoft.Json should be load from Az.Accounts which is Az.Storage depedency.

@bouchaet
Would you please run Get-module after repro the issue? And show us the output?
I don't repro the issue on my test machine with lastest Az module on PowerShell 5.1.

[2020-04-28 04:59] dingmeng-xue commented on #11715
The interesting thing is that we have verb check in signature verifier. But no idea why some issue are not detected. I will look into it.

[2020-04-28 06:44] msJinLei opened #11725 "Remove SkuSize in MySQL"
## Description
We set the size of sku and then try to get the value. We find the field is not retrieved, but it is listed in the related swagger spec, postgresql.json/mysql.json/mariadb.json and so autorest.powershell generate it as an output field as well as an input parameter.

We need confirmation from service team whether to remove it in the azure powershell.
Refer to https://github.com/Azure/

[2020-04-28 07:26] dingmeng-xue commented on #11145
@jkavanagh58, thanks for your question. I am closing this issue now and please raise new issue if you need any further support.

[2020-04-28 07:26] #11145 closed

[2020-04-28 07:28] dingmeng-xue commented on #11164
@kalavishal, thanks for your question. I am closing this issue now and please raise new issue if you need any further support.

[2020-04-28 07:28] #11164 closed

[2020-04-28 07:28] dingmeng-xue commented on #11125
@ntbprentice , thanks for your question. I am closing this issue now and please raise new issue if you need any further support.

[2020-04-28 07:28] #11125 closed

[2020-04-28 07:31] msJinLei commented on #10932
@shleiAmy Can we close this issue now?

[2020-04-28 08:16] dingmeng-xue commented on #11718
@nguyenlamlll, thanks for your reporting. It seems all AzManagementGroup related cmdlets have the similar issues. Could you help to confirm format of ID you are using? Does its format like `/subscriptions/{sub}/resourceGroups/groupname`?

[2020-04-28 08:22] dingmeng-xue commented on #11714
@bganapa , is it autorest related issue?

[2020-04-28 11:51] dingmeng-xue commented on #11710
@sriram-d , please try `Add-AzAutoscaleSetting`. Before it, please try to get resource id via `Get-AzResource`

[2020-04-28 12:03] gkostal commented on #10932
@msJinLei - we had another user hit this issue on 4/1/20.  See bug # 6943285 in msazure VSTS for details.

[2020-04-28 13:41] DanteNahuel commented on #11693
@dingmeng-xue Hi
I didn't share it because this happens in many different environments, no matter if I run it from my Laptop, a workstation or the Cloud shell

[2020-04-28 13:56] bouchaet commented on #10651
Good morning,

A call to Get-Module from a Azure Powershell task in a release pipeline  on dev.azure.com returns this information:

[code]

[2020-04-28 14:11] dingmeng-xue commented on #11693
Hi DanteNahuel, "result is empty" is a little general. Debug message will show many information including request from client and response from server. It is helpful for service team to narrow down the root cause.

[2020-04-28 14:39] bouchaet commented on #10651
... and on my workstation

[code]

[2020-04-28 14:55] EmilienCourt opened #11732 "Add-AzVmssExtension/Set-AzVMExtension won't take fileUris inside ProtectedSetting"
## Description

Please note I'm not a 100% sure this is not just a Documentation Issue.

However, I have checked all Microsoft documentations available on the topic ([doc](https://docs.microsoft.com/en-us/powershell/module/az.compute/add-azvmssextension?view=azps-3.8.0), [doc](https://docs.microsoft.com/en-us/powershell/module/az.compute/set-azvmextension?view=azps-3.8.0), [doc](https://docs.micro

[2020-04-28 15:34] bganapa commented on #11714
No it is not. This is with our AzureRM compatible modules. We used to generate them with another tool called PsSwagger and its an issue with that. I have schedule d a meeting today to discuss this issue

[2020-04-28 15:49] rahalan commented on #11497
Any update? Tnx, Rainer

[2020-04-28 17:32] Japeth commented on #10517
Any updates on this?

[2020-04-28 17:46] mganeshphani commented on #9580
@pvrk it is again broken.. not sure why this is soo much unreliable
Get-AzRecoveryServicesVaultSettingsFile: X509Certificate is immutable on this platform. Use the equivalent constructor instead.

[2020-04-28 18:12] tnsholding opened #11735 "New-AzADServicePrincipal - Insufficient privileges to complete the operation"
## Description

Trying to use cmdlet New-AzADServicePrincipal from Azure DevOps Pipeline - with  AzurePowerShell@4 task.
Getting error "Insufficient privileges to complete the operation." unless granting Azure service connection principal the role "Global administrator", which seems a bit excessive.

According to https://docs.microsoft.com/en-us/powershell/azure/create-azure-service-principal-azur

[2020-04-28 18:20] sriram-d commented on #11710
@dingmeng-xue, it is still failing

Name              : foocloudservice
ResourceGroupName : foocloudservice
ResourceType      : Microsoft.ClassicCompute/domainNames
Location          : southcentralus
ResourceId        : /subscriptions/{scrubbed}/resourceGroups/foocloudservice/providers/Microsoft
                    .ClassicCompute/domainNames/foocloudservice
Tags              :

Add-AzAutoscaleSet

[2020-04-28 18:26] sriram-d commented on #11710
@dingmeng-xue , below is relevant Debug information

DEBUG: ============================ HTTP REQUEST ============================

HTTP Method:
PUT

Absolute Uri:
https://management.azure.com/subscriptions/{scrubbed}/resourcegroups/{scrubbed}/providers/m
icrosoft.insights/autoscalesettings/{scrubbed}?api-version=2015-04-01

Headers:
x-ms-client-request-id        : 7767900a-e76c-42f1-ba6d-077bd80b

[2020-04-29 01:56] blueww commented on #10651
@bouchaet
Thanks for the update!
What's the version of your Powershell, you can get by run "$PSVersionTable"?

@erich-wang , @markcowl
Would you please help to check why the "Newtonsoft.Json" not load properly in the above scenario? (Anyway, I can't repro it.)

[2020-04-29 03:05] dingmeng-xue commented on #11725
Swagger issue and wait service team's update.

[2020-04-29 03:07] dingmeng-xue commented on #11715
Enable signature verifier now.

[2020-04-29 03:07] #11715 closed

[2020-04-29 07:21] theadzik opened #11744 "Add a comment option to Update-AzAlertState"
## Description of the new feature
Through Azure Portal, when changing an alert state in Monitor, we can add an optional comment. It would be nice to have this parameter in Update-AzAlertState.

Update-AzAlertState -AlertId xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx -State "Acknowledged" -Comment "I will handle the alert"

[2020-04-29 08:33] ramakrpr opened #11746 "Get-AZResource no more works for Azure Machine Learning"
## Description
 Get-AzResource -Name <<MLInstanceName>> -ResourceGroupName <<Resourcegroupname>> -ResourceType "Microsoft.MachineLearningServices/workspaces"

This command all of a sudden has started throwing exception as below

Get-AzResource : api-version query parameter has an incorrect value.

Same is applicable to Remove-AZResource

This was working fine till last Friday, not sure what happen

[2020-04-29 10:09] aggerritsen opened #11748 "New-AzLocalNetworkGateway issue in Az.Network 2.5.0 BGP Peer Address issue"
## Description
New-AzLocalNetworkGateway with BGP configuration returns error in Az.Network 2.5.0 (which previously worked fine in 2.3.1)
**ErrorCode: LocalNetworkGatewayBgpPeeringAddressesMustbeNull
ErrorMessage: Local network gateway /subscriptions/***/resourceGroups/TransitGatewayNE-rg/providers/Microsoft.N
etwork/localNetworkGateways/ToHbrBrokerNE-lgn BgpPeeringAddresses in BgpSettings must no

[2020-04-29 11:28] blueww commented on #11702
@husamhilal

Does the storage context with oauth credential work for you?
Do you still have any issue need assistance from us?

[2020-04-29 12:07] aim-for-better commented on #10522
@isra-fel  From HDInsight side, it is customer error.  The root error is caused by Set-AzureRmDataLakeStoreItemAclEntry.

[2020-04-29 13:01] lelloz0 commented on #10326
Same Issue here. Apparently neither the AzureAD and AzureADPreview module can get installed on PowerShell Core (tried on PS7 for Mac). And this is the only module that allows to grant a user assigned managed identity permissions to Microsoft Graph ([info here](https://blog.bredvid.no/accessing-apis-using-azure-managed-service-identity-ff7802b887d)) - this is a serious blocker!

[2020-04-29 13:13] bouchaet commented on #10651
Hi,

On my workstation:

[code]

[2020-04-29 13:20] AlexKeySmith commented on #10601
For those debugging similar things, my actual problem was serialising the exception for logging!
After spending some time creating a repro locally (I only saw it on our build agent originally). The problem was:

Write-Host ($_.Exception | ConvertTo-Json -Depth 10)

Where I suspect there's a circular reference inside the .net types within Microsoft.Rest.Azure.CloudException, changing to -Depth 2 wa

[2020-04-29 13:43] grahambunce commented on #11102
FYI: I also get something similar in the Azure CLI 2.3.1 except in my case the action group is in the same subscription (but different resource group) to the alert I'm creating.

Also tried with full action group name

result:

[2020-04-29 14:25] shama-git opened #11751 "getting blank page when trying to enter password to login to azure account. I have installed latest Az module in powershell and trying to connect using "login-azaccount" command. This pops up a window to enter email address. Once email is entered it should ask for password but im getting blank page instead. Please help!"
## Description

## Steps to reproduce

[code]

## Environment data

[code]

## Module versions

[code]

## Debug output

[code]

## Error output

[code]

[2020-04-29 14:28] shama-git commented on #11751
![Capture](https://user-images.githubusercontent.com/60743784/80608017-d6453580-8a53-11ea-8a0e-415b3e5d9c6c.JPG)

[2020-04-29 14:39] blueww commented on #10651
@bouchaet
Thanks for the info!
I also use Powrshell 5.1, but the issue not repro on my machine.

Anyway, I think you are not blocked now.
Let's see if @erich-wang , @markcowl  has any idea on this.

[2020-04-29 14:55] mlopandic commented on #11627
You have a quote at the end of password

I believe that will fix your problem.

[2020-04-29 15:58] husamhilal commented on #11702
Hello @blueww, thanks for the information.
I'm talking about Azure Managed Identities to allow the VM in Azure to retrieve blobs from Azure Storage account. Similar to this tutorial, (the goal to make this tutorial possible with PowerShell):
https://docs.microsoft.com/en-us/azure/active-directory/managed-identities-azure-resources/tutorial-vm-windows-access-storage
This is why I think we should ha

[2020-04-29 16:05] husamhilal commented on #11702
The link "http://169.254.169.254/metadata/identity/oauth2/token?api-version=2018-02-01" should be only accessible from a VM in Azure. Take a look at this example:
https://docs.microsoft.com/en-us/azure/active-directory/managed-identities-azure-resources/tutorial-windows-vm-access-nonaad#access-data

[2020-04-29 18:32] melissa306HC opened #11754 "Restore-AzRecoveryServicesBackupItem vague error"
## Description
Running Restore-AzRecoveryServicesBackupItem and passing in  the config file returns an generic error: UserErrorOperationFailedInvalidParameters. The configuration parameter used to work just fine and suddenly stopped working last fall. The error does not specify what parameter(s) are invalid. A more specific error would be helpful.

## Steps to reproduce
Use Get-AzRecoveryServicesB

[2020-04-29 21:25] himannetwork commented on #1385
https://docs.microsoft.com/en-us/skypeforbusiness/troubleshoot/server-install-or-uninstall/get-vm-not-recognized-during-install-cloud-connector

[2020-04-29 22:02] abatishchev commented on #11751
All fields in the issue template is there on purpose.

[2020-04-29 22:12] abatishchev opened #11756 "No way to opt-out from device code authentication in Connect-AzAccount"
## Description

Currently there is a way to opt-**in**: the flag `UseDeviceAuthentication` but there is no way to opt-**out**.

## Actual behavior

1. Create PowerShell script having single line `Connect-AzAccount`
2. Save it to login.ps1
3. Run it from PowerShell Core console: ./login.ps1
4. Observer warning message

## Expected behavior

There is a way (a flag?) that would allow to force interac

[2020-04-29 23:45] donovan-dd opened #11757 "Get-AzureSubscription Error"
## Description

I am able to login to Azure using Connect-AzAccount.  My account is tied to multiple subscriptions.  When I run Get-AzureSubscription I get:
Get-AzureSubscription: Object reference not set to an instance of an object.

I went ahead and updated from v7.0.0-preview-rc1 to the stable release 7 version and reinstalled the Az module from PSGallery, updating from 3.3.0 to 3.8.0, but am s

[2020-04-30 00:09] dingmeng-xue commented on #11754
I involve Recovery Service team to look into this issue.

[2020-04-30 00:12] dingmeng-xue commented on #11748
Network team please look into this issue.

[2020-04-30 00:14] dingmeng-xue commented on #11732
Compute team, please look into this issue.

[2020-04-30 00:19] dingmeng-xue commented on #11757
@donavan-dd, Once you have installed Az, please try cmdlet `Get-AzSubscription` once you login via `Connect-AzAccount`.
For debug message, you can execute `$DebugPreference="Continue"` and then execute `Get-AzSubscription`. You will see debug message including HTTP communication.

[2020-04-30 00:23] dingmeng-xue commented on #11756
@abatishchev , thanks for feedback. `Connect-AzAccount` has couple parameter sets. You can try service principal using below syntax.
[code]

BTW, the approach mentioned on Stackoverflow using user name and password is not supported on PowerShell Core.

[2020-04-30 00:28] dingmeng-xue commented on #11751
@abatishchev , could you share information about yours OS, and version of PowerShell, and version of Az modules?
[code]

[2020-04-30 00:29] donovan-dd commented on #11757
Okay, using Get-AzSubscription instead of GetAzureSubscription seems to work.

Issue resolved, thanks.

[2020-04-30 00:34] dingmeng-xue commented on #11746
I reported the issue to machine learning service team. Please wait their feedback.

[2020-04-30 00:36] dingmeng-xue commented on #11744
@VeryEarly , please evaluate if this ask can be reached on current SDK version.

[2020-04-30 00:45] dingmeng-xue commented on #11735
@tnsholding , could you show us debug message of `New-AzADServicePrincipal` after executing `$DebugPreference="Continue"`?

[2020-04-30 00:48] abatishchev commented on #11756
Hi, I don't have service principal.
I want a pop-up window to enter my login. That's what I'd have if rung the command interactively.
That was the behavior of AzureRM from the script too. But Az is "smart", detects non-interactive mode and kicks-off device auth.
I want a way to opt-out from that, hence the title of the issue.

[2020-04-30 00:49] abatishchev commented on #11751
I'm not the author of the issue. @shama-git is.

[2020-04-30 01:02] dingmeng-xue commented on #11757
Great. Thanks for your feedback. Closing this issue now.

[2020-04-30 01:02] #11757 closed

[2020-04-30 01:16] sriram-d commented on #11710
The issue was with metricResouceUri, rather than targetResourceUri. The former needs to qualify the role within the cloudservice.

[2020-04-30 01:16] #11710 closed

[2020-04-30 01:16] abatishchev commented on #11756
What's not a good practice, can you explain? I'm writing local devbox automation and want the user to enter their credentials.
From my perspective, it's a regression: the behavior was changed between AzureRM and Az. Modern Microsoft product must provide flexibility and allow the engineer to choose the model suiting the best their needs.
Makes sense?

[2020-04-30 02:35] dingmeng-xue commented on #11756
I meant user name and password approach is not recommended from security perspective. User name and password information may be shared in automation environment. It is not supported since PowerShell Core. I already asked security team to provide more explanation.
In automation environment, user can use service principal and certificate for logging in. Tenant admin has the permission to create it.

[2020-04-30 02:37] abatishchev commented on #11756
I'm running a script locally towards a resource in Azure, such as a Key Vault. I want to automate some steps but keep the script in the interactive mode.
There are no service principals, certificates, tenant admins, or credentials in play.

[2020-04-30 03:28] isra-fel commented on #10556
Configurable retention period was done in #11469

[2020-04-30 03:28] #10556 closed

[2020-04-30 05:34] KorKiak opened #11764 "Get-AzVM PowerState value returns "Provisionning succeeded""
## Description
One of my VM has **PowerState** value of "Provisioning succeeded". Not sure if this is because of the command or Azure itself.

## Steps to reproduce

[code]

## Environment data

[code]

## Module versions

[code]

## Debug output

[code]

## Error output

[code]

[2020-04-30 05:35] dingmeng-xue commented on #11659
According to the log below, the first step of fetching credentials works in `Publish-AzWebApp`. But others logic contains error. Please check if URL returned in scmUri (I have masked below but user can find it in debug message) can be accessed in DevOps environment.
[code]

[2020-04-30 05:49] VeryEarly commented on #11556
Hi @NolanCui719

Thanks for your report, I'll look into it.

[2020-04-30 06:57] shama-git commented on #11751
![1](https://user-images.githubusercontent.com/60743784/80681247-e86bb600-8add-11ea-84b4-f5d83c503b75.JPG)
![2](https://user-images.githubusercontent.com/60743784/80681260-edc90080-8add-11ea-85c5-bf3f69862ac9.JPG)
![3](https://user-images.githubusercontent.com/60743784/80681270-f3bee180-8add-11ea-9a2b-4bdd019f1c02.JPG)

[2020-04-30 06:59] shama-git commented on #11751
Hi , Im using 32 bit windows 7 OS.

[2020-04-30 07:02] dingmeng-xue commented on #11764
@KorKiak , the significant part is hidden by `# {vmobject}`. You can read server response. if display status is "Provisionning succeeded", the result in powershell is expected result.

[2020-04-30 08:19] KorKiak commented on #11764
I'll have a look. But what I'm trying to say is, can the **_PowerState_** value be "Provisioning succeeded"?
I believe itcan only be VM Deallocated, VM Deallocating, VM Running, VM Starting, VM Stopped, VM Stopping, Unknown. Or am I wrong?

[2020-04-30 08:22] dingmeng-xue commented on #11764
Compute team, could you clarify this question?

[2020-04-30 08:55] ivanignatiev opened #11765 "Get-AzStorageAccount : Unable to deserialize the response."
## Description

Not sure where to report this bug to Azure Storage or Az.

I do not how but I succeed to deploy a Storage Account with wrong `accessTier` property value.  After I execute `$st = Get-AzStorageAccount -ResourceGroupName $ResourceGroupeName -Name $StorageAccountName` I got:

[code]

## Steps to reproduce

Deploy a storage account with template and `"accessTier": "0",`
[code]

## Envir

[2020-04-30 09:25] sunsw1994 opened #11766 "Fill in the online version automatically when using the PlatyPS to generate help doc"
## Description

New command's help doc generated by PlatyPS doesn't include online version, but the CI has a check about this.

![MicrosoftTeams-image](https://user-images.githubusercontent.com/63389531/80694699-76a86200-8b07-11ea-9a8a-58c0731e239a.png)

That generates a common type of error. Although the solution is described in the troubleshoot, I think that automatically filling in the online v

[2020-04-30 10:18] blueww commented on #11702
@markcowl, @erich-wang
Can powershell Connect-AzAccount login with the User Assigned Managed Identity (credential of an Azure VM)?
If so, Storage can also login with it.

[2020-04-30 10:37] blueww commented on #11765
@ivanignatiev
From the log, it looks like the error is caused by ""accessTier": "Invalid"" in your account.
I will contact feature team to see if it's a server issue , or swagger issue.

For the work around, would you like to update the account Acces tier to Hot or Cool, then list again?
[code]

[2020-04-30 11:51] ivanignatiev commented on #11765
@bluewwThank you! I confirm that with correctly set Access Tier everything is working good

[2020-04-30 11:55] tnsholding commented on #11735
It seems that the service principal was missing permissions for API access:
Microsoft Graph: Application.ReadWrite.OwnedBy and Windows Azure Active Directory: Application.ReadWrite.OwnedBy

After this only "Application Developer" role is needed.

[2020-04-30 11:57] dingmeng-xue commented on #11766
@sunsw1994, Thanks for the suggestion. We will include this feature soon.

[2020-04-30 12:01] dingmeng-xue commented on #11322
@matt-lethargic, you can see cmdlet is executed correctly. So you just need to check `$sa` instead of `$noStorageAccount`

[2020-04-30 14:30] husamhilal commented on #11702
@blueww Great point!
I was able to create the context, but for some reason the RBAC doesn't seem to be working properly, I've assigned the Managed Identity different permissions on the storage account "Storage Blob Data Contributor", "Storage Blob Data Reader", and "Owner"

However, I receive this error when accessing a blob or trying to list blobs.
This request is not authorized to perform this o

[2020-04-30 15:28] ChrisCalzaretta commented on #9949
As soon as i ran the file storage preview all went down the drain
Set-ExecutionPolicy -ExecutionPolicy Unrestricted -Scope CurrentUser

# Navigate to where AzFilesHybrid is unzipped and stored and run to copy the files into your path
.\CopyToPSPath.ps1

#Import AzFilesHybrid module
Import-Module -Name AzFilesHybrid

[2020-04-30 15:41] ChrisCalzaretta opened #11768 "AZ connect module not working"
As soon as i ran the file storage preview all went down the drain
Set-ExecutionPolicy -ExecutionPolicy Unrestricted -Scope CurrentUser

# Navigate to where AzFilesHybrid is unzipped and stored and run to copy the files into your path
.\CopyToPSPath.ps1

#Import AzFilesHybrid module
Import-Module -Name AzFilesHybrid

i am unable to use connect-azconnect

Ran these commands
PS C:\WINDOWS\system32> I

[2020-04-30 16:55] Petapacket commented on #10550
I have the same problem and i have added the following application permissions in Azure Active Directory for the application registration.

![image](https://user-images.githubusercontent.com/47110445/80737703-cdb03600-8b0b-11ea-9c13-a23825fcedbc.png)

[2020-04-30 17:30] nguyenlamlll commented on #11718
Hi @dingmeng-xue, I don't quite get what you need me to do here.

In my scenario, I create a new "Management group". There is one field called "Management group ID" (user-provided) and "Management group display name". So, let's say I create a management group call "My Group" with an Id "c4be30d9-e22b-475b-af49-a6cf6230a114".

Next, I move my existing subscriptions to the newly created management g

[2020-04-30 18:33] zjalexander commented on #11679
The product group does look at feature requests over on https://feedback.azure.com/forums/905242-update-management so I would suggest cross-posting there to track and get upvotes.

[2020-04-30 20:19] montereyharris opened #11772 "Az module Install fails from Powershell Gallery Save or Install"
PackageManagement\Save-Package : Unable to save the module 'Az'.
At C:\Program Files\WindowsPowerShell\Modules\PowerShellGet\1.0.0.1\PSModule.psm1:1561 char:21
+             $null = PackageManagement\Save-Package @PSBoundParameters
+                     ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    + CategoryInfo          : InvalidOperation: (Microsoft.Power...ets.SavePackage:SavePackage)

[2020-04-30 20:25] montereyharris commented on #11772
Failure with PowershellGet 2.2.4 as well
PackageManagement\Install-Package : Cannot convert value "2.0.1-preview" to type "System.Version". Error: "Input
string was not in a correct format."
At C:\Program Files\WindowsPowerShell\Modules\powershellget\2.2.4.1\PSModule.psm1:9807 char:50
+ ... talledPackages = PackageManagement\Install-Package @PSBoundParameters
+                      ~~~~~~~~~~~~~~~

[2020-04-30 20:32] montereyharris commented on #11772
Also doesn't work after updating to PackageManagement

[2020-04-30 23:57] husamhilal commented on #11702
@blueww
Quick update, when providing **AccountId** parameter to Connect-AzAccount things work fine (as expected), without it, I get the Error I stated in the previous context:
[code]

[2020-05-01 01:11] stephenwheet opened #11775 "Get-AzNetworkServiceTag does not return all servicetags"
## Description
When using Get-AzNetworkServiceTag it does grab all TAG types.  It's missing "WindowsVirtualDesktop" for one.  I don't know how many others

## Steps to reproduce
PS /home/stephen/clouddrive> $ServiceTags = get-aznetworkservicetag -Location westus2
PS /home/stephen/clouddrive> $AzureCloudIP = ($serviceTags.Values | Where-Object { $_.Name -like "AzureCloud.westus2" }).Properties.Addr

[2020-05-01 08:28] danielbrookes commented on #11775
I have the same issue. If it helps you can download the JSON file from here which does include the WindowsVirtualDesktop tag.

[2020-05-01 09:06] blueww commented on #11765
@ivanignatiev
Thanks for the update!
I think you are not blocked now.

And as "0" is not a valid "Accesstier", do you mind to change the deployment template, by remove following line, and see if any issue?

Besides that,I have contact featture team, and they agree server should not allow set "0" to accesstier. They will see how to fix it on server.

Since there seems nothing we can do from Powersh

[2020-05-01 11:35] ivanignatiev commented on #11765
@blueww thank you ! I do not have any blocker. We can close the issue if it is ok for you.

[2020-05-01 11:37] blueww commented on #11765
@ivanignatiev
Thanks for confirmation!
I will close the issue.
Feel free to contact us if you need any further assistance on Azure Powershell.

[2020-05-01 11:37] #11765 closed

[2020-05-01 12:05] shama-git commented on #11751
The issue has been resolved by upgrading the internet explorer in my local system.

[2020-05-01 12:05] #11751 closed

[2020-05-01 12:22] andreasmarx commented on #11492
Hi.
Any progress on this? I got the same issues. Is there any workaround?
Thanks in advance.
Andreas

[2020-05-01 12:43] blueww commented on #11702
@husamhilal
Thanks for the update!

@markcowl, @erich-wang
Would you please see the Connect-AzAccount cmdlet issue?

[2020-05-01 13:13] dingmeng-xue commented on #11768
@ChrisCalzaretta, what's module of AzFilesHybrid? Could you try to import Az.Accounts at the first and check if Az.Accounts can be loaded successfully?

[2020-05-01 13:17] dingmeng-xue commented on #11775
Thanks for the feedback. I will involve Network team to look into it.

[2020-05-01 13:29] dingmeng-xue commented on #11772
@montereyharris, could you share what script is when you are install az module?

[2020-05-01 15:04] montereyharris commented on #11772
Find-module Az|Install-Module -force

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: Dingmeng Xue <notifications@github.com>
Sent: Friday, May 1, 2020 8:29:37 AM
To: Azure/azure-powershell <azure-powershell@noreply.github.com>
Cc: Monterey Harris <montereyharris@gmail.com>; Mention <mention@noreply.github.com>
Subject: Re: [Azure/azure-powershell] Az module Insta

[2020-05-01 15:57] dingmeng-xue commented on #11772
Hi @montereyharris, I tried your script and works. Could you try 2 steps separately? Check the ouput of `Find-module Az`. And then check `Install-Module -Name Az`. In addition, please restart Windows PowerShell before trying those steps.

[2020-05-01 17:39] theheatDK commented on #11335
Hi @ifeoluwaokunoren,
You never answered my question from 19 of Marts? :-)
Should I close the issue?
Regards Peter

[2020-05-01 18:08] ChrisCalzaretta commented on #11768
The azfileshybrid
https://github.com/Azure-Samples/azure-files-samples

This module is to allow you to enable RBAC on file storage. However my
machine got hosed from it :(

On Fri, May 1, 2020 at 12:06 PM Chris Calzaretta <chriscalzaretta@gmail.com>
wrote:

[2020-05-01 18:58] ifeoluwaokunoren commented on #11335
Hi @theheatDK,
Thanks so much for following up.
Yes, the fix would address the other lock cmdlets as well.
I'd close this issue once we check-in the fix.

Thanks :)

[2020-05-01 19:01] theheatDK commented on #11335
Super. Thanks @ifeoluwaokunoren

[2020-05-01 19:15] specialforest opened #11780 "Remove-AzureRmResourceGroupDeployment cannot delete a deployment with "." at the end of the name"
## Description

Remove-AzureRmResourceGroupDeployment cannot delete a deployment with "." at the end of the name because it thinks it doesn't exist.

## Steps to reproduce

[code]

## Module versions

[code]

## Debug output

[code]

## Error output

[code]

[2020-05-01 20:01] vslepakov opened #11781 "Create IoT Edge Deployments"
It would be nice to have a way to create IoT Edge deployments in IoT Hub similar to [az iot edge deployment create](https://docs.microsoft.com/en-us/cli/azure/ext/azure-cli-iot-ext/iot/edge/deployment?view=azure-cli-latest#ext-azure-cli-iot-ext-az-iot-edge-deployment-create).

Is there a workaround for doing so, other than mixing azure powershell and az cli?

[2020-05-01 20:27] Drewm3 commented on #11764
@avirishuv, could you look into this.

[2020-05-01 20:35] ChrisCalzaretta commented on #11768
No i am not able to import the module.. It does error on newtonsoft dll v 10.0.0 not being in place anymore

[2020-05-01 22:14] ifeoluwaokunoren commented on #7827
Resolving issue since PR fix has been merged.

[2020-05-01 22:14] #7827 closed

[2020-05-01 22:16] ifeoluwaokunoren commented on #9882
Closing issue since PR with fix has been merged.

[2020-05-01 22:16] #9882 closed

[2020-05-01 23:29] allegradomel commented on #11775
@stephenwheet - thanks for bringing this to our attention - I'm forwarding this to engineering to take a look....

[2020-05-02 00:14] allegradomel commented on #11775
Update: It looks like the data behind the API has not been updated in some time. We will make sure the data updates regularly when this is released for GA.

Thanks for catching this - I hope you can make use of the JSON file for the most up to date data until we move forward with our GA changes.

[2020-05-02 00:14] #11775 closed

[2020-05-02 00:35] TheOnlyWei opened #11782 "context mismatch while logged in to multiple environments"
## Description
HTTPS call is not calling to the right endpoint. We had this issue before that was reportedly fixed, but the issue is popping up again in Azs modules in PSGallery. Basically, admin-only commands such as Get-AzsUserSubscription or Get-AzsNetworkAdminOverview that should be called through the admin arm endpoint is being routed to the public arm endpoint.

The Az/Azs modules to install

[2020-05-02 01:02] dingmeng-xue commented on #11768
The error seems different from previous. Could you share the full error message?

[2020-05-02 13:36] stephenwheet commented on #11775
What part is still in preview?  The api doesn’t look like it’s in preview and I was running this from the azure console which isn’t running a preview version of powershell.

[2020-05-02 17:12] #10564 closed

[2020-05-02 21:43] Get-Ryan opened #11783 "[Az.Accounts] Get-AzSubscription Lighthouse inclusion of origin TenantId"
## Description of the new feature
The current functionality of Get-AzSubscription when used in a Lighthouse scenario seems to result in all PSAzureSubscription objects being returned with an associated TenantID where the account being used to retrieve the info is receiving its permission to access that info.

While this is useful, some very useful information that is missing is the TenantID that a

[2020-05-03 05:29] dingmeng-xue commented on #11783
Thanks for reporting. This is a feature and Azure PowerShell needs to upgrade API version to fetch projected subscription. We are working on it.

[2020-05-03 05:31] dingmeng-xue commented on #11782
@TheOnlyWei, what change is required on Azure account module?

[2020-05-03 05:37] dingmeng-xue commented on #11781
@dcaro , do you know if we have module support IoTEdge?

[2020-05-03 05:39] dingmeng-xue commented on #11780
@specialforest, could you share the debug info? You can enable it via `$DebugPreference="Continue"`

[2020-05-03 05:54] yossi-y commented on #9916
This is correct, the maximum number of records returned in a single query is limited to 500,000.

You can see [Log queries and language](https://docs.microsoft.com/en-us/azure/azure-monitor/service-limits#log-queries-and-language) for General query limits and throttling.

See *Search API* under [Log Analytics workspaces](https://docs.microsoft.com/en-us/azure/azure-monitor/service-limits#log-analy

[2020-05-03 06:05] #10721 closed

[2020-05-04 00:55] suhasaraos opened #11786 "Get-AzAutoscaleSetting doesnt produce a detailed output even when -DetailedOutput flag is specified"
The REST API seems to be returning the required resultset, but the following command
Get-AzAutoscaleSetting -ResourceGroup "Default-Web-EastUS" -DetailedOutput

doesnt produce detailed output including metric details.

Checked on Az module v3.8

Refer: https://docs.microsoft.com/en-us/powershell/module/az.monitor/get-azautoscalesetting?view=azps-3.8.0#code-try-1

PS: While result output displays t

[2020-05-04 12:59] williamsr1978 commented on #11754
Hello melissa306HC, I encountered the same error, I managed to get around this by performing the following:

# overwrite if present
$AnotherInstanceWithFullConfig.OverwriteWLIfpresent = "Yes"

# change the name of the database
$AnotherInstanceWithFullConfig.RestoredDBName = "MSSQLSERVER/newtestdatabase_renamed"

# Change the data file paths
$AnotherInstanceWithFullConfig.targetPhysicalPath[0].Targ

[2020-05-04 13:30] yanivlavi commented on #9238
We are planning to align with metric alerts semantics on all the interfaces.
That includes PS. I'm not sure we will invest in the old cmdlets because of that.
I'll make sure this requirement is included there.

[2020-05-04 13:30] #9238 closed

[2020-05-04 14:33] melissa306HC commented on #11754
thank you for the reply Ray - i found out that it didn't like the restored database name i was passing in. I removed the "MSSQLSERVER/" from the name and the script worked.

[2020-05-04 16:02] dingmeng-xue commented on #11786
@VeryEarly , please look into this issue.

[2020-05-04 18:08] paulomorgado opened #11788 "Consider having Start-AzStorageFileCopy return something to invoke Get-AzStorageFileCopyState"
## Description of the new feature

Consider having `Start-AzStorageFileCopy` return something to invoke `Get-AzStorageFileCopyState`.

The documentation for `Get-AzStorageFileCopyState` doesn't mention what state should be checked. Is it the source or the destionation?

[2020-05-04 18:24] markcowl commented on #11782
@TheOnlyWei Need a bit more detail on what is meant by 'Connect to the service admin account' is this runnign connect-azaccount using a different environment, or is the same environment used throughout?  @bganapa Need soem context on what this particular issue entails.

[2020-05-04 18:26] HammadKamran commented on #11712
Logic App Team, I can see that it is generating the proper ARM template for resources. Will close this issue now. Thanks.

[2020-05-04 18:26] #11712 closed

[2020-05-04 18:28] markcowl commented on #11783
This work is being tracked in this issue: #9838 closing this as a duplicate.

[2020-05-04 18:28] #11783 closed

[2020-05-04 18:31] markcowl commented on #11788
@paulomorgado  Thanks for your feature suggestion.  We will get back to you shortly with a detailed reponse.

[2020-05-04 18:45] specialforest commented on #11780
I tried. The output was the same as without.

[2020-05-04 18:59] specialforest commented on #11780
FYI, I switched to use Azure CLI and it doesn't have this bug.

[2020-05-04 19:20] TheOnlyWei commented on #11782
@markcowl  I think the issue is caused by Enable-AzContextAutoSave. I am getting the following error trying to call Get-AzsUserSubscription after logging into the admin arm endpoint with context auto save enabled:

[code]

[2020-05-04 19:30] bganapa commented on #11782
@TheOnlyWei , lets follow up internally on email with proper repro steps. Thanks

[2020-05-05 04:28] dingmeng-xue commented on #11780
@specialforest, once you turn on debug, it will show HTTP communication including request and response. We need to know what URL was sent to server. Below is what I got.

How did you create a deployment which name ends with dot? When I create deployment, the dot is filtered out.

[code]

[2020-05-05 06:49] timbehh commented on #9983
I had problems creating a schedule in UTC+2 for a fixed day of the month. The desired time (01:00) would be set to 23:00 when being converted to UTC while the day would stay the same since it is fixed (second Thursday of the month). That would result in the schedule time being 2020-05-14 23:00 instead of 2020-05-14 01:00.
Here is my solution, maybe it will help someone else:
[code]

[2020-05-05 10:49] pvrk commented on #11754
@melissa306HC : Sorry for the delay in response. While it is good to know that things have worked for you, I agree that the response message can be more specific here. Will look into this and let you what we can do about this.

[2020-05-05 10:50] pvrk commented on #11693
@DanteNahuel : As mentioned above, need the debug trace to do accurate troubleshooting. If you have the trace @sambitratha  can look into this.

[2020-05-05 12:21] janegilring opened #11794 "Documentation on how to use the Azure Key Vault extension for PowerShell Secrets Management"
## Description of the new feature

In the latest release of the Az.KeyVault module the following was added:
•	_Added support to Microsoft.PowerShell.SecretManagement ([link](https://github.com/Azure/azure-powershell/issues/11178))_

However, there are no documentation available on how to use this extension.

My initial experimenting:

Install-Module Microsoft.PowerShell.SecretManagement -AllowPrer

[2020-05-05 15:00] debugthings opened #11795 "Update Set-AzApplicationInsightsPricingPlan.md to include details about Application Insights Enterprise"
## Description of the new feature
The Set-AzApplicationInsightsPricingPlan.md lists out all of the possible pricing plans for Application Insights including two older plans which are no longer offered to new resources. There are still customers who can switch to this plan as they are grandfathered

Please include a note that links to our billing document about the [Legacy Enterrpise](https://docs.

[2020-05-05 16:00] VeryEarly commented on #11795
Hi @debugthings

Thanks for the information, will take care.

[2020-05-05 16:34] specialforest commented on #11780
I already deleted all deployments with "." at the end in name. Feel free to reproduce the issue yourself.

[2020-05-05 17:14] dingmeng-xue commented on #11780
It will be great if you can share us how "." was appended.

[2020-05-05 17:46] normesta opened #11797 "Should update Powershell doc to make clear that it applies onlyt to Data Lake Storage Gen1"
## Description
Hello - the doc https://docs.microsoft.com/en-us/powershell/module/azurerm.datalakestore/?view=azurermps-6.13.0 should make clear that this documentation applies only to Data Lake Storage Gen1 so that folks don't get confused. I'm an author with the Data Lake Storage Gen2 team and I received this request from Brian Roder. I can't edit these docs so I'm filing this request via this c

[2020-05-05 18:30] Drewm3 commented on #11732
@axayjo, could you look into this?

[2020-05-05 20:17] abatishchev opened #11798 "Remove-AzPrivateDnsRecordSet outputs unformatted verbose string"
## Description

Calling `Remove-AzPrivateDnsRecordSet` with `-Verbose` outputs the format string, not a formatted string.

## Steps to reproduce

[code]

## Actual outcome

VERBOSE: Success!
VERBOSE: Record set '{0}' was removed from Private DNS zone '{1}'.

## Expected outcome

VERBOSE: Success!
VERBOSE: Record set 'contoso' was removed from Private DNS zone 'example.local'.

## Environment data

[2020-05-05 23:01] built2order commented on #9427
This issue is evident in macOS Powershell 7.0.0.

`Connect-AzAccount: AADSTS50097: Device authentication is required.
Trace ID: 83130c43-ccfe-45c8-9e0a-xxxxxxxxxxxx
Correlation ID: 54d1bb35-7671-4328-b0ba-xxxxxxxxxxxx
Timestamp: 2020-05-05 22:58:32Z: Response status code does not indicate success: 401 (Unauthorized).`

[2020-05-05 23:53] J1BLB commented on #11772
I also have this error - a clean PowerShell and wanting to install the -az module.  First had to install NuGet provider version '2.8.5.201' ,
`PS C:\windows\system32> Find-module Az

Version    Name                                Repository           Description
-------    ----                                ----------           -----------
3.8.0      Az                                  PSGallery

[2020-05-06 00:20] montereyharris commented on #11772
What’s your build of powershell?

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: J1BLB <notifications@github.com>
Sent: Tuesday, May 5, 2020 6:54:02 PM
To: Azure/azure-powershell <azure-powershell@noreply.github.com>
Cc: Monterey Harris <montereyharris@gmail.com>; Mention <mention@noreply.github.com>
Subject: Re: [Azure/azure-powershell] Az module Install fails f

[2020-05-06 01:14] dingmeng-xue commented on #11772
@J1BLB, you need to upgrade PowerShellGet. The version of 1.0.0.1 is a very old version and cannot work PSGallery correctly according to my experience.

[2020-05-06 01:41] J1BLB commented on #11772
Thanks, that has worked.
Step 1: Update NuGet
" Install-PackageProvider -Name NuGet -Force

Step 2: Update PowerShellGet
"Install-Module -Name PowerShellGet -Force"
Then install AZ module.

PowerShell build 5.1.16299

[2020-05-06 03:16] dingmeng-xue commented on #11798
Thanks for your reporting.

The issue is around below code. PrivateDns team, please resolve it.
https://github.com/Azure/azure-powershell/blob/2b5dc2c493333db129b352340a16ba9e9b54d6e4/src/PrivateDns/PrivateDns/Records/RemoveAzurePrivateDnsRecordSet.cs#L140

[2020-05-06 03:17] blueww commented on #11797
@normesta
This doc is for [very old module ](https://github.com/Azure/azure-powershell/releases/tag/v6.13.0-November2018) which released on 2018/11.

Tha lastest version has specify this is only for datalake gen1, see https://docs.microsoft.com/en-us/powershell/module/Az.DataLakeStore/?view=azps-3.8.0

@dingmeng-xue , @markcowl , any idea in it? Should we change the old PSH doc, since new feature

[2020-05-06 03:22] dingmeng-xue commented on #11797
@mikefrobbins, @dcaro, can we update old version of doc?

[2020-05-06 03:28] dingmeng-xue commented on #11794
@janegilring , You need provide some parameters when register it. there is a test case for your reference
https://github.com/Azure/azure-powershell/blob/master/src/KeyVault/KeyVault.Test/ScenarioTests/SecretManagementExtensionTests.ps1

[2020-05-06 03:30] blueww commented on #11788
@paulomorgado

For 'Get-AzStorageFileCopyState', is should run on the dest blob.
Following example shows how to get the copy status from output of Start-AzStorageFileCopy

[code]

[2020-05-06 07:50] janegilring commented on #11794
Thanks, adding the additional vault parameters did the trick.

However, what kind of parameters which is expected inside of the -VaultParameters hash table is not very obvious. Are there any reason not to expose the parameters as regular cmdlet parameters?

For example:
Register-SecretVault -Name AzKeyVault -ModuleName Az.KeyVault -AZKVaultName 'xdmkv' -AZKSubscriptionId  '<sub>'

Or maybe adding

[2020-05-06 08:41] nareshbonagiri opened #11811 "provision to add query parameters while creating api operation using Set-AzApiManagementOperation"
## Description of the new feature
At present there is no provision to add query parameters using Set-AzApiManagementOperation command, only template parameters can be added.
## Proposed implementation details (optional)
Provision to add query parameters using Set-AzApiManagementOperation, while creating operation.

[2020-05-06 09:22] paulomorgado commented on #11788
@blueww,

Not according to [the docs](https://docs.microsoft.com/powershell/module/az.storage/start-azstoragefilecopy#outputs):

And that would be a great example to add to `Get-AzStorageBlobCopyState` docs.

[2020-05-06 10:23] djj0809 opened #11812 "Call new credential api for Import-AzAksCredential"
## Description of the new feature
Similar change with azure cli: https://github.com/Azure/azure-cli/pull/7002/files

Currently the ImportAzureRmAksCredential command uses old GetAccessProfile api of AKS, which is not accessible if you are cluster user role.

## Proposed implementation details (optional)

[2020-05-06 11:14] dingmeng-xue commented on #11794
Thanks. I guess secret management extension has not idea how many attributes need to be supported because it wants to support many type of secret vault. So there is no syntax to describe it. We are considering to add an article to describe this feature.

[2020-05-06 13:16] SamirFarhat opened #11816 "Get-AzConsumptionBudget does not support management group level budgets"
## Description of the new feature
The powershell command Get-AzConsumptionBudget does not support management group level budgets.
You should add support for management groups
## Proposed implementation details (optional)
Get-AzConsumptionBudget -scope {scope}
where scope can be Subscription, ManagementGroup or ResourceGroup
a Recursive switch will be good so that we cave all child budgets

[2020-05-06 13:37] liuxiaopiao commented on #11025
@ramandhillon84, how can we know if the VM lives on a host without AN capability? Or how can we check the host? Thanks a lot.

[2020-05-06 14:38] ankitkotnala opened #11817 "Update-AzVmss : The Image type for a Virtual Machine Scale Set may not be changed"
**When I run command** :

 _Get-AzVmss -ResourceGroupName 'abc-rg' -Name testvmss | Update-AzVmss -ImageReferenceId '/Subscriptions/28e1f188-21a7-4ab2-8d0c-a2c92ee73c0e/Providers/Microsoft.Compute/Locations/SouthIndia/Publishers/canonical/ArtifactTypes/VMImage/Offers/Ubuntu_Core'_

**I get below error:**

![image](https://user-images.githubusercontent.com/31920677/81190097-000ed700-8fd5-11ea-8168-

[2020-05-06 14:51] ankitkotnala commented on #11817
I think it cannot be done as I am modifying a create time property : Offer

https://docs.microsoft.com/en-us/azure/virtual-machine-scale-sets/virtual-machine-scale-sets-upgrade-scale-set#create-time-properties

Is there any alternative beside deleting Scale set and creating again ?

[2020-05-06 22:32] AzureAzim opened #11822 "Set-AzAutomationRunbookDefinition is not a valid cmdlet"
Tryign to research how to update a runbook without deleting and recreating in powershell, i came acros this script with the -overwrite parameter. This cmdlet is in this script, but its a cmdlet that does not exist:

https://github.com/Azure/azure-powershell/blob/master/src/Automation/Automation.Test/ScenarioTests/AutomationTests.ps1