[2021-10-01 11:41] Gill-Bates opened #15997 "Get-AzADApplication should deliver "Created on" Information"
Running `Get-AzADApplication` should deliver the "Created On" Timestamp

![image](https://user-images.githubusercontent.com/25774289/135614103-c95da9a7-3353-446e-a2ef-8297f70b89cb.png)

From the Portal, I get the information. Why not also from the cmdlet?

![image](https://user-images.githubusercontent.com/25774289/135614187-c5af0767-7c88-4cf4-aecd-c331101665cf.png)

[code]

[2021-10-01 13:06] saurabhvyas9 opened #15998 "Set-AzApiManagement not working with API Management deployments into Virtual Network : External"
## Description
`Set-AzApiManagement` is not working with API Management (APIM) service once APIM is configured with a Public IP. Debug response suggests to use API version which is not used in cmdlet.
It could be that Powershell module `Az.ApiManagement` is not as updated as the REST API wherein the API version is passed as a query string.

This blocks from scaling APIM post upgrading APIM service

[2021-10-01 13:55] stevemorris1106 opened #15999 "Remove-AzVMBackup documentation is not correct"
## Description
When trying to look up what the value for "tag" is, this is not documented.

## Module versions

6.4.0

[2021-10-01 16:27] mimckitt commented on #15704
@amjads1 @koralski does the powershell update look correct?

https://github.com/Azure/azure-powershell/pull/16000/files

[2021-10-01 17:59] tomasrudh commented on #12561
That do not work for me. The error message says the called API is of the wrong version, so I actually don't think it is a problem with date format. But glad it worked for you!

[2021-10-01 18:25] dcaro opened #16001 "[AKS] Add support for Public IP per node in node pool"
## Description of the new feature
Support "Assign a public IP per node for your node pools" in Az.AKS module
https://docs.microsoft.com/en-us/azure/aks/use-multiple-node-pools#assign-a-public-ip-per-node-for-your-node-pools

## Proposed implementation details (optional)
This seems to be the property in Swagger: https://github.com/Azure/azure-rest-api-specs/blob/main/specification/containerservice/

[2021-10-01 20:52] mwsutherland commented on #15959
Very interesting. At the moment,
the RecoveryPointTime of the last recovery point is Friday, October 1, 2021 7:34:07 PM
the backup Item LatestRecoveryPoint is also Friday, October 1, 2021 7:34:07 PM
but the Log chain End time is Friday, October 1, 2021 7:32:11 PM

At this point, I'm sure you will not be surprised that trying to restore at the PIT of 7:34:07 fails while restoring to a PIT of 7:32:1

[2021-10-01 21:30] allegradomel commented on #15818
Also, quick update on the timeline, you should see these tags added back to the results in the next 2-2.5 weeks. Thanks for your patience!

[2021-10-02 05:59] dcaro commented on #15997
@Gill-Bates thanks for reporting this issue. The AzADApplication cmdlets are currently using the AzureAD Graph API and we are in the process of switching to MS Graph, this should be fixed with the new version.

[2021-10-02 15:38] dingmeng-xue commented on #15999
Compute team, the example and description are not clear.
https://docs.microsoft.com/en-us/powershell/module/az.compute/remove-azvmbackup?view=azps-6.4.0

[2021-10-03 11:18] reijoh commented on #15876
I can confirm the same behavior. In my case I noticed this when using New-AzResourceGroupDeployment version 4.3.1 to deploy the IaaSAntimalware VM extension. I send in the settings as a parameter. Command I used:

[code]

In vmextension.parameters.json I send in:

[code]

I received the error:
VM has reported a failure when processing extension 'IaaSAntimalware'. Error message: "The configuration

[2021-10-03 15:27] dingmeng-xue opened #16004 "RunVersionController.ps1 deletes psd1 and psm1 of Az.KeyVault.Extension"
## Description

The execution of `RunVersionController.ps1` deletes the `Az.KeyVault.Extension.psd1` and `Az.KeyVault.Extension.psm1` under folder `artifacts\Az.KeyVault\Az.KeyVault.Extension`. It leads `RunVersionController.ps1` is not idempotent. Developer needs to build all modules again if they want to execute `RunVersionController.ps1` again

## Cost

[2021-10-04 01:29] jasonhornatcrowe opened #16007 "New-AzConsumptionBudget (Az.Billing) fails with invalid status code 'NotFound'"
## Description
I am wanting to create a Consumption Budget for our sandbox Enterprise Dev/Test subscriptions.  Trying to leverage the [New-AzConsumptionBudget](https://docs.microsoft.com/en-us/powershell/module/az.billing/new-azconsumptionbudget) powershell module to accomplish this task.  I am currently receiving the following output when attempting to perform this activity:

`New-AzConsumptionBu

[2021-10-04 03:27] hiaga commented on #15812
Hello @mwsutherland : I tried reproducing this, can you once try with below command for fetching workload config:

$config = Get-AzRecoveryServicesBackupWorkloadRecoveryConfig -RecoveryPoint $RecoveryPoint -TargetItem $TargetInstance -AlternateWorkloadRestore -TargetContainer $TargetContainer

i.e. without "-Item $BackupItem" parameter

[2021-10-04 05:38] nidiculageorge commented on #15976
@dingmeng-xue

![image](https://user-images.githubusercontent.com/43850474/135799389-8b6b8ee7-80ea-4ef8-999f-d2276a58ea78.png)

When i run the get-module i am getting the above .

Can you please share the command to Install in cludshell

[2021-10-04 07:50] hiaga commented on #15812
@mwsutherland :  the above command should honor the RecoveryPoint param for a discreet RecoveryPoint based restore

[2021-10-04 12:55] chibs89 opened #16009 "Az.Resources Api Calls move to Microsoft Graph"
The Az.Resources commands target the Azure Active Directory Graph which is deprecated and the api permissions can not be granted to new app registrations anymore.
So with new Azure Automation Accounts you can not read Users or Groups unless the CMDlets target the Microsoft Graph API.

[2021-10-04 13:21] dimaMo9494 opened #16013 "New-AzResourceLock"
## Description
we're using the below function to return the value of object as 10 , when we used it with AzResourceLock
# Repro script

#Requires -Modules Az.Resources

function getNumber($number) {
    New-AzResourceLock -LockName testlock -ResourceGroupName pictime-dev -ResourceName pictime-dev-B -LockLevel CanNotDelete -LockNotes 'test lock' -ResourceType 'Microsoft.Compute/cloudServices' -Forc

[2021-10-04 13:24] mwsutherland commented on #15959
The solution has been found to my RecoveryPoint restore issue (I was including an unnecessary parameter, causing things not to work), so now I am able to restore to a recovery point. It works in my test case at least at the moment. I'll update my evening job and see how they like it.

[2021-10-04 14:29] dimaMo9494 opened #16014 "$ErrorActionPreference = "Stop""
## Description
The issue only reproduces when running from powershell console. Not when running from VSCode. Which is interesting by itself.
Repro script:
[code]
![roman](https://user-images.githubusercontent.com/72008838/135869731-f9437487-29ae-480a-8caf-bd049e5b6ceb.png)

The issue only reproduces when running from powershell console. Not when running from VSCode. Which is interesting by itself.

[2021-10-04 14:37] dingmeng-xue commented on #15976
You can use below script to install the latest version of Az.Accounts for current user. You need to restart CloudShell after installing module
[code]

[2021-10-04 14:43] dingmeng-xue commented on #16009
Thanks for reporting. As far as we know, AAD Graph API will be deprecated at the mid of the next year. But tenant admin may disable it in advance. If your script is blocked, please contact admin of tenant.

Azure PowerShell team is migrating features from AAD graph to MSGraph. It will take couple months.

Could you share us the list of cmdlets? We will prioritize it.

[2021-10-04 14:52] dingmeng-xue commented on #16013
Thanks for reporting. But I didn't get your question. Could you explain further how `$number` is used in function `getNumber`? what's the relationship between `$number` and `New-AzResourceLock`?

[2021-10-04 15:28] chibs89 commented on #16009
I found an MS Doc Entry where it is stated that Microsoft from now on deactivates the grant of the needed API-Permissions.
https://docs.microsoft.com/en-us/graph/migrate-azure-ad-graph-faq
So it is not deactivated by me or anyone from my team. But we can not open a request for every new customer I set up
In this case we are using following commands:
Get-AzADGroup, Get-AzADGroupmemb, Get-AzADUser

[2021-10-04 15:28] dingmeng-xue commented on #16014
Thanks for reporting. This is a general issue to all autogen based cmdlets. I have created one issue to autorest.powershell tool.

https://github.com/Azure/autorest.powershell/issues/846

[2021-10-04 15:30] dingmeng-xue commented on #15781
Created issue in autorest.powershell repo. https://github.com/Azure/autorest.powershell/issues/846

[2021-10-04 15:32] #16014 closed

[2021-10-04 15:38] dingmeng-xue commented on #16009
HI @chibs89 , could you point out "on deactivates the grant of the needed API-Permissions" in FAQ? According to our test, our test environment can still allow us grant API permission.

@dcaro , could you help confirm whether it is a tenant admin setting?

[2021-10-04 15:44] chibs89 commented on #16009
![image](https://user-images.githubusercontent.com/60780618/135881300-9360a716-9761-4639-83ed-939dcb771987.png)
![image](https://user-images.githubusercontent.com/60780618/135881426-b6c4fae8-47ed-4b6e-bbbf-3baadd13c97e.png)
So I can't add the Api Permission to the newly created Appregistration and also I can't add the Permission to long existing Appregistrations.

[2021-10-04 15:56] nidiculageorge commented on #15976
@dingmeng-xue

![image](https://user-images.githubusercontent.com/43850474/135883937-c05efab7-02e4-44f1-9277-5fe141c137e2.png)

I tried closing the powershell and tried again same issue

[2021-10-04 16:54] joellopes03 commented on #15883
I did tried running script as myself then running it as system account. Both time it worked. But when I run same script as ADO pipeline it fails. Did you tried running your script in ADO pipeline?

[2021-10-04 21:39] Tas12345 opened #16016 "Zx"
## Description

## Steps to reproduce

[code]

## Environment data

[code]

## Module versions

[code]

## Debug output

[code]

## Error output

[code]

[2021-10-04 21:39] Tas12345 opened #16017 "Zx"
## Description

## Steps to reproduce

[code]

## Module versions

[code]

## Debug output

[code]

## Error output

[code]

[2021-10-04 21:39] Tas12345 opened #16018 "Zx"
## Description

## Steps to reproduce

[code]

## Environment data

[code]

## Module versions

[code]

## Debug output

[code]

## Error output

[code]

[2021-10-04 21:40] Tas12345 opened #16019 "Zx"
## Description

## Steps to reproduce

[code]

## Environment data

[code]

## Module versions

[code]

## Debug output

[code]

## Error output

[code]

[2021-10-04 21:40] Tas12345 opened #16020 "Zx"
## Description

## Steps to reproduce

[code]

## Environment data

[code]

## Module versions

[code]

## Debug output

[code]

## Error output

[code]

[2021-10-04 21:40] Tas12345 opened #16021 "Zx"
## Description of the new feature

## Proposed implementation details (optional)

[2021-10-04 21:40] Tas12345 opened #16022 "Zx"
## Description

## Cost

[2021-10-04 21:40] Tas12345 opened #16023 "Zx"

[2021-10-04 22:34] mwsutherland commented on #15959
Both jobs started tonight!

[2021-10-04 23:02] dcaro commented on #16016
@Tas12345  can you please update your issue?

[2021-10-05 01:06] Ayanmullick commented on #13168
https://github.com/Azure/azure-powershell/pull/16011 created

[2021-10-05 08:57] dimaMo9494 commented on #15781
Hello @dingmeng-xue do we have any workaround for this issue? and what is the expected ETA for fix ?

[2021-10-05 11:53] hiaga commented on #15959
@mwsutherland : Please keep us posted and let us know if you could restore to both 1) Recovery Point 2) Log Point-In-Time

[2021-10-05 12:34] mwsutherland commented on #15959
When I found the differing times times above (recovery points being after log chain end time), the point-in-time restore to the recovery times failed while the restore to the end of long chain worked. My recovery point restores are working now that the problem with creating a proper config is resolved.

Adding a mention about how to get the valid range of times to the documentation about the -Poin

[2021-10-05 12:38] mwsutherland commented on #15812
I removed the -Item parameter and things work as expected. Adding that to the documentation or having an error saying so, if both are supplied, would be very useful. Currently, the cmdlet completes "successfully," but returns bad data.

[2021-10-05 13:38] dimaMo9494 commented on #16013
Hello @dingmeng-xue
getNumber is just a simple function that returns what it gets.
The issue is that call to New-AzResourceLock modifies the return value of this simple function, which it should not do in any way.
Expected behavior is that function that returns 10 should return 10, no matter of I call New-AzResourceLock from it or not.
Instead, calling New-AzResourceLock from within simple functio

[2021-10-05 14:20] dingmeng-xue commented on #15781
Hi @dimaMo9494 , the workaround is you can append `-ErrorAction Stop` on Start-AzCloudService. If there is error, it should be stop. Please let us know if it works in your script.

[2021-10-05 14:29] hiaga commented on #15812
Thanks @mwsutherland for your valuable feedback, I'll bring it with my team!

[2021-10-05 14:49] dingmeng-xue commented on #15976
Warning message can be ignored. You need to restart CloudShell and check the version of Az.Accounts.

[2021-10-05 15:26] #16017 closed

[2021-10-05 15:26] #16018 closed

[2021-10-05 15:26] #16019 closed

[2021-10-05 15:26] #16020 closed

[2021-10-05 15:26] #16021 closed

[2021-10-05 15:26] #16022 closed

[2021-10-05 15:26] #16023 closed

[2021-10-05 15:27] mittalpri commented on #15047
We have another docs page where it is explained in more details: https://docs.microsoft.com/en-us/azure/cost-management-billing/reservations/manage-reserved-vm-instance?toc=/azure/cost-management-billing/reservations/toc.json

[2021-10-05 20:32] andymcadam opened #16024 "When I request cost recommendations on VM right-sizing using get-azadvisorrecommendation no savings values are returned"
When using the Azure portal, VM Right-sizing advice shows the potential savings for each recommendation. However, requesting the same data using the Powershell cmdlet doesn't show annual savings potential amounts. there is the extendedProperties object, but that only shows the machine resize details, not the cost savings.

---
#### Document Details

⚠ *Do not edit this section. It is required for

[2021-10-05 22:10] dcaro commented on #15845
@alvarofont-cloudeq from the error message, it seems that you are trying to invoke the RunCommand on a VM where a previous execution is still in progress.
You could improve your script by adding a retry logic when this message is returned and pause before trying to run the command again.
The debug log asked above would be helpful to confirm this assessment.

[2021-10-06 01:15] Ayanmullick opened #16026 "New-AzKustoScript examples missing"
## Description of the new feature
The examples are missing. Is there any other documentation  for the examples for `New-AzKustoScript`?
## Proposed implementation details
Add the relevant examples. @mikefrobbins mentioned he could get examples from the AI tool for the predictor.

---
#### Document Details

* Content: [New-AzKustoScript](https://docs.microsoft.com/en-us/powershell/module/az.kusto/n

[2021-10-06 10:26] stefanpetter opened #16027 "Add option to create Workspace based Application Insights resource through New-AzApplicationInsights"
## Description of the new feature
Currently it is only possible to create a Classic Application Insights resource through the New-AzApplicationInsights cmdLet. As soon as you access the resource through the portal, you get a message that "Classic Application Insights is deprecated and will be retired in February 2024.". It would be nice to also create a Workspace based Application Insights through

[2021-10-06 11:15] J-a-k-o-b opened #16028 "Parameter -AssignSystemIdentity is not available"
Hi,
the mentioned Parameter -AssignSystemIdentity is not available in the latest AZ.Accounts Module (2.5.3)

![image](https://user-images.githubusercontent.com/46894290/136192428-b9ac4185-aa53-4703-94fe-22639e332d08.png)

![image](https://user-images.githubusercontent.com/46894290/136192520-7a6d249e-8736-4843-8cf3-7bb3282fb6b9.png)

---
#### Document Details

⚠ *Do not edit this section. It is req

[2021-10-06 11:44] #15906 closed

[2021-10-06 14:14] abarqawi opened #16032 "Get-AzContainerRegistryTag for ACR return max 100 although from Azure portal more tags there"
## Description

from Azure poral ACR

![image](https://user-images.githubusercontent.com/16225699/136219845-66fb10f3-94a2-414f-a4ff-e4cf2288b218.png)

## Steps to reproduce

from powershell return only 100 !

![image](https://user-images.githubusercontent.com/16225699/136220538-cd121561-3eb9-4f2f-833f-0a072d550205.png)

[code]

[2021-10-06 14:39] abarqawi commented on #16032
## Module versions

ModuleType Version    PreRelease Name                                PSEdition ExportedCommands
---------- -------    ---------- ----                                --------- ----------------
Script     6.4.0                 Az                                  Core,Desk
Script     2.5.3                 Az.Accounts                         Core,Desk {Disable-AzDataCollection, Dis

[2021-10-06 16:50] alexandair commented on #16028
@J-a-k-o-b Do you have the latest Az modules (6.4.0)?

![image](https://user-images.githubusercontent.com/3135708/136248507-eebc4df7-612d-4b68-b9fd-ad999247debc.png)

[2021-10-06 17:46] hankwojteczkodki opened #16035 "Error - A parameter cannot be found that matches parameter name 'StorageAccount' on MAC OS with Powershell AZ V 6.4.0"
[Enter feedback here]
Parameter name -StorageAccount is not accepted by applet New-AzStorageShare on MAC OS.
Versions installed:

Powershell V7.1.4
Az 6.4.0

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bf0a00d2-4fe9-77ab-0f65-6838bcef7edc
* Version Independent ID: a3680af1-7d12-1275-c563-0648947c60da
* Content: [New-

[2021-10-06 23:21] DaveRuijter opened #16036 "Role Definition Name 'Synapse Apache Spark Administrator' does not exist"
## Description
I suspect that the Synapse Analytics role `Synapse Apache Spark Administrator` is still called `Apache Spark Administrator` in the Az.Synapse module ([it has been renamed](https://docs.microsoft.com/en-us/azure/synapse-analytics/security/synapse-workspace-synapse-rbac-roles)).

## Steps to reproduce
Run the following command (providing the correct workspace name of course):
[code]

[2021-10-07 00:54] avirishuv commented on #15999
Thanks @dingmeng-xue I'll follow up for this.

[2021-10-07 01:00] avirishuv commented on #15566
Closing this issue, please feel free to reopen if you have additional questions on this topic, thanks.

[2021-10-07 01:00] #15566 closed

[2021-10-07 08:01] #15869 closed

[2021-10-07 10:14] sdn77 opened #16039 "Zone Redundancy for ServiceBus"
**## Description**
It appears that the cmd New-AzServiceBusNamespace does not seem to explicitly provide a parameter to request Zone Redundancy as the cmd New-AzEventHubNamespace does. One can assume that like the Portal, selecting Premium Tier automatically turns on Zone Redundancy, but that does not happen either.

I noticed a posting in 2019 that this was being addressed and the parameter ZoneR

[2021-10-07 15:45] dcaro commented on #16009
@chibs89  We are investigating the issue with the identity team.
@LockTar we are actively working on the migration to MS Graph. Our plan is to have soon a preview of the Azure PowerShell module that uses Microsoft Graph and a GA shortly after.
I have a blog post in review that will give more details about our roadmap.

[2021-10-08 01:16] #16028 closed

[2021-10-08 01:19] blueww commented on #15968
@thkn-hofa

Do you have any update for this issue?

[2021-10-08 01:46] dingmeng-xue opened #16041 "Parameter to name a Invoke-AzVMRunCommand job"
### Discussed in https://github.com/Azure/azure-powershell/discussions/15917

<div type='discussions-op-text'>

<sup>Originally posted by **KrzysztofR79** September 21, 2021</sup>
I run quite a lot of jobs with Invoke-AzVMRunCommand, and ATM, there's no way to tell what VM a given job runs against.
What I'm missing is a parameter to name the job so I can name it accordingly to VM I run it against.

[2021-10-08 02:30] dingmeng-xue commented on #15841
@KorKiak , we heard from some users that similar issue cannot be reproduced anymore. Could you reproduce the issue again? So far, as the team of client side tool, we have no idea what happened. The error message is strange to us. Azure PowerShell has regression test before each PR is merged. The test case on New-AzResourceGroupDeployment didn't detect this problem. More information will be helpful

[2021-10-08 03:21] changov commented on #13145
Hit the same issue with a fresh, first-time install of VS Code, the PowerShell extension, and the latest Azure PowerShell module.
Following Mark's debugging suggestion, I found the assembly "already loaded" error was likely due to System.Management.Automation. I worked around this by finding the Az.Automation and AzureRM.Automation modules and moving them outside the respective Modules folder.

Up

[2021-10-08 05:18] akashkeshari opened #16042 "Update Az.ConnectedKubernetes powershell module"
## Description

The current powershell module Az.ConnectedKubernetes fails when using the helm 3.7
Below is the error message received:

New-AzConnectedKubernetes
Supply values for the following parameters:
ClusterName: powershellcc1
ResourceGroupName: akkeshar
Location: eastus
Error: release: not found
**Error: unknown command "chart" for "helm"**
Run 'helm --help' for usage.
Error: unknown comma

[2021-10-08 08:00] dingmeng-xue opened #16046 "Get-AzContainerRegistryTag should support pagination"
## Description of the new feature

This cmdlet may return the long list of tags of one registry. It should support pagination and `-First` and `-Skip` parameters.

## Proposed implementation details (optional)

[2021-10-08 08:21] thkn-hofa commented on #15968
I'm getting the KeyCreationTime property now, even on my oldest storage account (although empty because it was never rotated before). My best guess is that the old "Az.Storage" module wasn't unloaded properly after updating it (I should have been smart enough to restart my powershell console though).

I'm sorry to have wasted your time and have you waiting for a reply.

Thank you very much for you

[2021-10-08 08:46] dingmeng-xue commented on #16032
The fix is not complicated. Currently, team is working on MSGraph migration now. We will plan the work once we are available. Will keep you updated.

[2021-10-08 10:54] J-a-k-o-b commented on #16028
Hi @alexandair,
yeah, you're completely right... I've mixed up the modules, my fault... After updating the module az.automation I was able to use this parameter.
@dingmeng-xue, you do not need to forward it.

[2021-10-08 14:17] rjallaMSFT opened #16047 "Get-AzDataLakeGen2ChildItem - Example# 3 recursive will not if the MaxCount meets a folder"
Hello Team,

"if($items.Length -le 0) { Break;}" - This code line will break if ALL items in a batch are directories and the total length of a directory is zero. So the loop will not continue further.

**Right code:**
`$MaxReturn = 1000
$FileSystemName = "filesystem1"
$Total = 0
$Token = $Null
do
 {
     $items = Get-AzDataLakeGen2ChildItem -FileSystem $FileSystemName -Recurse -MaxCount $MaxReturn

[2021-10-08 16:45] jikuja commented on #13573
This thread has now multiple problems:

1. Using the API that is being deprecated soon
  * > Microsoft will continue technical support and apply security fixes for Azure AD Graph until June 30, 2022 when all functionality and support will end.
  * Is there already a dedicated ticket, plans, or ETA for a rewrite?
2. Using the API that requires extra permission
3. Having a logic bug that makes reque

[2021-10-08 20:13] pshelton-skype commented on #15970
@dingmeng-xue - any updates from the Key Vault team?

[2021-10-08 22:12] avirishuv commented on #16041
@oriwolman could you please take a look at this issue?

[2021-10-08 22:53] sarajag opened #16051 "Az.Synapse - Set linkedService cmd not working"
## Description
The Set-AzSynapseLinkedService command fails in Powershell with the error -  Object reference not set to an instance of an object. The same JSON file is copied from the Synapse workspace, tested, and successfully running (when created manually in the synapse workspace) but fails with the Powershell cmd.

## Steps to reproduce

[code]

## Environment data

[code]

## Module versions

[2021-10-09 02:19] dingmeng-xue opened #16052 "Bump API version of Az.Databricks to preview/2021-04-01-preview"
## Description of the new feature

It is expected that API version of Az.Databricks needs to be updated to preview/2021-04-01-preview.  https://github.com/Azure/azure-rest-api-specs/blob/main/specification/databricks/resource-manager/Microsoft.Databricks/preview/2021-04-01-preview/databricks.json.

The important features are:
* `PublicNetworkAccess` and `requiredNSGRules` of workspace should be ex

[2021-10-09 04:21] Yuiheart opened #16053 "Error in creating pipeline with New-AzResource"
## Description
Hello team!
I encountered the error 'BadRequest : Data Factory is not authorized to use Scope Activity;' when creating pipeline with New-AzResource. I'm using New-AzResource because the Set-AzDataFactoryV2Pipeline command will automatedly change the activity type 'DataLakeAnalyticsScope' to 'activity' and raise error in functioning.
Could you please help me with the correct authorit

[2021-10-09 07:25] dingmeng-xue opened #16054 "New-AzRoleAssignment should use suitable Graph API according to user's input"
Copy the discussion from https://github.com/Azure/azure-powershell/issues/13573#issuecomment-788183419

For `New-AzRoleAssignment`: Some folks won't be able to easily get `Graph.Read.All` for their SPN, and may only have `Graph.Read.User` and the ability to perform role assignments in a limited context. For them, the issue is `ToPSRoleAssignments` -> `POST getObjectsByObjectId` (even for a single

[2021-10-09 07:28] dingmeng-xue commented on #13573
We are asking MS Identity team to provide the workaround. Azure PowerShell module doesn't support to add or grant API permission. I find AzureAd module support adding permission but no grant. For the time being, the only way in my mind is leveraging Azure CLI [az ad app permission add](https://docs.microsoft.com/en-us/cli/azure/ad/app/permission?view=azure-cli-latest#az_ad_app_permission_add) to a

[2021-10-10 03:50] oriwolman commented on #16041
@amjads1 could you please take a look at this issue?

[2021-10-10 10:35] orhasban commented on #16026
@Ayanmullick you can take a look at ARM template example for Script resource:

https://docs.microsoft.com/en-us/azure/data-explorer/database-script

You can use it to understand how to use it in PowerShell SDK

[2021-10-10 19:01] jikuja opened #16055 "New-AzResourceGroupDeployment print misleading error message when bicep build fails"
## Description
New-AzResourceGroupDeployment prints misleading error message when bicep build fails

## Steps to reproduce
create main.bicep
[code]

then running command
[code]
gives misleading error message `New-AzResourceGroupDeployment: Cannot retrieve the dynamic parameters for the cmdlet. Cannot find path '/var/folders/xy/kd548pyn3bjbzp70k88x680sqt9mmj/T/353d2738-f052-49cc-87cd-faf61bc7637b/m

[2021-10-10 20:10] orhasban commented on #16026
@Ayanmullick
This is the first version of script resource.

We plan to support inline script but currently this is not supported.
Pay attention that we provide an example how to do it inline with ARM template - but the template creates AzBlob on your behalf, and you should delete it afterwards.

[2021-10-11 01:56] dingmeng-xue commented on #16055
@jikuja , thanks for your detailed steps.

@BethanyZhou , please look into this issue.

[2021-10-11 13:00] lucabovo opened #16061 "New-AzNetworkWatcherPacketCapture - TotalBytesPerSession with incorrect data type"
Good morning,
I'm getting an error with "New-AzNetworkWatcherPacketCapture" command, in detail with this parameter:     [-TotalBytesPerSession Int32]   -->   Cannot convert value "4294967295" to type "System.Int32". Error: "Value was either too large or too small for an Int32."Exception  --> screenshot:   ![image](https://user-images.githubusercontent.com/77054756/136792756-c7e3b378-37be-4bd8-807d

[2021-10-11 14:12] JegaThambirajah opened #16062 "Az.Batch 3.1.0 reference versions of DLLs with known high vulnerabilities"
When installing Az Powershell, the modules Az.Batch and Az.Accounts are installed. The latest packages of these modules reference two different DLLs with security vulnerabilities against them:
**Az.Batch 3.1.0**: _System.Text.Encodings.Web.dll_ version 4.6.26515.06, with a high CVSS3 alert against it (CVE-2021-26701)
**Az.Accounts 2.5.3**: _System.Private.ServiceModel.dll_ version 4.6.26013.11, wi

[2021-10-11 14:43] dingmeng-xue opened #16063 "Az.Accounts 2.5.3 reference versions of DLLs with known medium vulnerabilities"
Split from https://github.com/Azure/azure-powershell/issues/16062

Az.Accounts 2.5.3: System.Private.ServiceModel.dll version 4.6.26013.11, with a medium CVSS3 vulnerability alert against it (CVE-2018-8356)

[2021-10-12 08:59] dingmeng-xue opened #16067 "Workaround of Adding permission of AAD Graph API"
Following the announcement of the [Azure Active Directory Graph retirement](https://techcommunity.microsoft.com/t5/azure-active-directory-identity/update-your-applications-to-use-microsoft-authentication-library/ba-p/1257363), users cannot add permissions of AAD Graph API to AD application via Azure Portal [Tweeter](https://twitter.com/Microsoft365Dev/status/1432810426442649603?s=20).

![image](ht

[2021-10-12 09:57] YuKogasaka opened #16068 "The content of the command in Example 3 is incorrect"
The content of the command in Example 3 is incorrectly described as 'EventGrid' instead of 'ServiceBus'.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a592952f-bd5d-082c-a3aa-2f53df9739a9
* Version Independent ID: 1d8de5a6-8de9-31cc-fb25-01ad858009ef
* Content: [New-AzDigitalTwinsEndpoint (Az.DigitalTwins)](https://do

[2021-10-12 17:42] DivyaKalikiri opened #16069 "Cannot find the Azure Active Directory object"
## Description

Unable to update azure sql server password with the below command when logging to azure using service principle
Set-AzSqlServer -ResourceGroupName $DatabaseRg `
 -ServerName $DatabaseServerName `
 -SqlAdministratorPassword $dbapw
Cannot find the Azure Active Directory object ''. Please make sure that the user or group or application you are authorizing is registered in the current

[2021-10-12 19:11] LockTar commented on #16009
@dcaro thank you for the link of the blog. I asked a question beneath the blog.

[2021-10-12 21:03] johnnycchapman opened #16070 "Set-AzAutomationAccount : Operation returned an invalid status code 'BadRequest'"
## Description
I am getting a BadRequest error when trying to run Set-AzAutomationAccount to add customer managed keys to my automation account. When running with the -debug, I get the response below.

[code]

## Steps to reproduce
Login to Azure Government and run the command below.
[code]

## Environment data

[code]

## Module versions

[code]

## Debug output

[code]

## Error output

[code]

[2021-10-12 23:35] DevonK3 opened #16072 "Get-AzConsumptionBudget not showing Terraform-created Budgets"
## Description

When I create a budget from PowerShell or Azure Portal, I can see them via the portal, PowerShell, or az. But, if I use Terraform `azurerm_consumption_budget_resource_group`, I see them in the Azure Portal and can even successfully edit them. But I cannot see them if I run `Get-AzConsumptionBudget -ResourceGroupName $rg` or even `Get-AzConsumptionBudget`.

## Steps to reproduce

[c

[2021-10-13 03:21] Scarlettliuyc opened #16074 "AzDanglingDomain| only could display 1000 resources in powershell"
## Description
Hi team,
We have customer has a issue with
AzDanglingDomain module.
Get-DanglingDnsRecords -FetchDnsRecordsFromAzureSubscription

Using AZDanglingDomain
https://www.powershellgallery.com/packages/AzDanglingDomain/0.0.7
![image](https://user-images.githubusercontent.com/69622329/137061111-b69b74e0-b740-4392-be18-2e1b8f5c6404.png)

In Azure Cloud Shell it could get all resources 4000+

[2021-10-13 06:24] #16068 closed

[2021-10-13 13:45] ykuijs opened #16082 "New-AzContainInstanceObject has a localization issue"
## Description
When using the Dutch regional settings, decimals are written using a comma instead of a dot. When I want to create a new container and specify a decimal number for memoryInGB using the below cmdlets, I am getting an error message.

[code]

When I use the ToJsonString method for the container object, I am getting this (see the two commas in memoryInGB):
[code]

## Steps to reproduce

[2021-10-13 15:10] dingmeng-xue commented on #16072
@DevonK3 , please share the debug log after setting `$DebugPreference = "Continue"`. I suspect it is related to API version or logged in user's permission.

[2021-10-13 15:51] Yuiheart commented on #16053
@shawnxzq @kalyanrk61
I copied the pipeline settings in json format from a running pipeline in our ADF. When I use 'Set-AzDataFactoryV2Pipeline' command, it will automatedly change my activity type from ''DataLakeAnalyticsScope' to 'activity'. So I use New-AzResource as a substitute, and reported the error above.

This is the Scope activity of our running pipeline. So I think I can manage to gain

[2021-10-14 00:44] johncrim commented on #15841
@dingmeng-xue - This issue just started happening using standard ubuntu-18.04 Azure DevOps agents, with the `New-AzResourceGroupDeployment` running in a script within the Azure Powershell task, version 5.*, using Azure Powershell Version: "Latest installed version". The issue didn't happen before and there were no changes to the deploy script.

The fix was to specify Azure Powershell Version: (Spe

[2021-10-14 12:37] johnnycchapman commented on #16070
@jaspkaur28, If you see the screenshot below these were already enabled. I also tried reenabling them programmatically and still got the same error.
![key-vault-properties](https://user-images.githubusercontent.com/27022573/137318476-611f57a0-17a0-41b5-9eaa-24c2fd9599cf.png)

[2021-10-14 15:24] Gill-Bates opened #16095 "Get-AzStorageShare ignores Fileshares with AccountKind "StorageV2 (general purpose v2)""
When running `Get-AzStorageShare` against an Account Kind `StorageV2 (general purpose v2)` Storage-Account - which can contain a Fileshare, it will return nothing.

The cmdlet works only against Storage-Accounts with Account Kind `FileStorage`

Bug or Feature?

**Updating to Module Version 3.12 solved this issue!  - PLEASE CLOSE THIS ISSUE!**

[2021-10-14 23:02] dcaro opened #16097 "Error: New-AzADServicePrincipal: Values of identifierUris property must use a verified domain of the organization or its subdomain"
## Context

Error `New-AzADServicePrincipal: Values of identifierUris property must use a verified domain of the organization or its subdomain' is displayed when running `New-AzADServicePrincipal` or `New-AzADApplication`.

Due to the Azure Active Directory breaking change requiring [AppId Uri in single tenant applications to require use of default scheme or verified domains](https://docs.microsof

[2021-10-15 02:06] blueww commented on #16095
Close this issue ad @Gill-Bates 's comments.

[2021-10-15 02:06] #16095 closed

[2021-10-15 08:26] marcosdiasfte commented on #7780
@blueww

OK, got it. Thank you for your reply and clarification.

[2021-10-15 14:43] bgelens opened #16104 "Invoke-AzAksRunCommand"
## Description of the new feature

Expose new AKS run command ([see rest docs](https://docs.microsoft.com/en-us/rest/api/aks/managed-clusters/run-command)) functionality via PowerShell. Already existing in [Az cli](https://docs.microsoft.com/en-us/cli/azure/aks/command?view=azure-cli-latest)

It would also be nice to have the Get-AzAksRunCommandResult cmdlet to wrap that [corresponding api](https:

[2021-10-16 20:56] gokusupa opened #16109 "Since upgrade to AZ.Accounts module version 2.5.4. AZ cmdlets cannot be run within workflow scripts."
When nesting AZ cmdlets within PS workflows, this error is returned.

"Failed to create a 'Settings' from the text 'Assembly references and imported namespaces serialized as XML namespaces'."

This issue does not happen with version 2.5.3 of the AZ.Accounts Module.

Unfortunately when we try to downgrade to 2.5.3, this causes issues with other modules like the AZ.Storage module preventing cmdlets

[2021-10-17 15:05] dingmeng-xue commented on #16104
Thanks. We will prioritize this work.

[2021-10-17 15:13] dingmeng-xue commented on #16109
Thanks for reporting. The issue can be reproduced. I suspect this issue is related to https://github.com/Azure/azure-powershell/issues/15841. We will look into it.

[2021-10-18 07:54] pvrk commented on #15959
@mwsutherland : Apologies for the delay in response and thanks for the feedback. We have 2 actions items from this investigation:
1) Clearly mention in the documentation about how to get log point-in-time restores and the required combinations - This is taken up and will be reflected by Oct 19th. In the long run, we will try to see if we can throw an error (by using parameter sets or just throw an

[2021-10-18 07:54] #15959 closed

[2021-10-18 07:56] pvrk commented on #15812
As mentioned in the other item (#15959), the documentation is updated as a short term action item and in the long term we will thrown an error when wrong inputs are given AND throw a relevant error when right inputs are given but given point-in-time is NOT present in the log chain.

Please feel free to re-open if the action items are not enough.

[2021-10-18 07:56] #15812 closed

[2021-10-19 02:11] Ayanmullick commented on #15654
@ivapplyr , is there any documentation around version release cadence? Version '20**20**-05-01' [was released on Jun 9, 2020](https://github.com/Azure/azure-rest-api-specs/commits/main/specification/network/resource-manager/Microsoft.Network/stable/2020-05-01). Would version `05-01-2021` be released this year?

[2021-10-19 03:00] ivapplyr commented on #15654
Apologies, the date formatting is, "2021-05-01", it is available for private preview testing with ARM Templates. Just need a valid test subscription.

[2021-10-19 04:08] dingmeng-xue commented on #15654
Network relies on Azure PowerShell team to expose this feature. We plan to complete this work in this year.

[2021-10-19 06:35] emmily opened #16119 "New-AzResourceGroupDeployment- Cannot retrieve the dynamic parameters for the cmdlet. Illegal characters in path"
## Description

New-AzResourceGroupDeployment failed with error "Cannot retrieve the dynamic parameters for the cmdlet. Illegal characters in path" while using -WhatIf parameter. It works fine without -whatif.

I suspect it is related to https://github.com/Azure/azure-powershell/issues/15841

## Steps to reproduce
[code]
## Environment data
PSVersion                      5.1.14393.4402
PSEdition

[2021-10-19 06:43] emmily commented on #16119
@dingmeng-xue Can you help clarify if it is related to https://github.com/Azure/azure-powershell/issues/15841

[2021-10-19 07:12] jaspkaur28 commented on #14735
@CurtMiller66 : Automation provides a native option to update Az modules as described here : https://docs.microsoft.com/en-us/azure/automation/automation-update-azure-modules#update-az-modules
Closing the thread .

[2021-10-19 14:55] gh-anton commented on #10497
So Microsoft is going to retire the Azure AD-module next year and expects us to use this module instead?

https://techcommunity.microsoft.com/t5/office-365/microsoft-lays-out-future-for-azure-ad-powershell-module/m-p/2411780

As for now this module isn't even close in terms of features compared to the current AzureAD-module in the aspects of user management. Just tried to update the CompanyName at

[2021-10-19 16:23] mblaschke opened #16121 "Get-AzRoleAssignment fails in AzureChinaCloud (invalid ApiVersion)"
## Description

`Get-AzRoleAssignment ` is using ApiVersion `2020-08-01-preview` which is not supported in AzureChinaCloud.

## Steps to reproduce

[code]

response body:
[code]

supported apiversions:
[code]

## Environment data

[code]

## Module versions

[code]

[2021-10-20 00:39] dcaro commented on #661
@seligj95 can you please share an update about cmdlets to mange webjobs in Azure PowerShell?

[2021-10-20 01:04] panchagnula commented on #661
@dcaro from the conversation on the thread the PS team was going to offer auto-generated commands for web jobs. Is that not the case anymore?
<img width="1020" alt="image" src="https://user-images.githubusercontent.com/13839372/138010996-d4fd3b32-0120-4ee4-89b7-73f62ad254aa.png">

[2021-10-20 03:59] itoc-dw opened #16130 "New-AzADDomainService - [BadRequest] : Unable to find Vnet provided in the SubnetId"
## Description

Cannot enable AADDS service for subscription. Unable to find Vnet provided in the SubnetId when running New-AzADDomainService. Copying the subnet ID into a browser works successfully and matches what is showing in the Azure portal.

## Steps to reproduce

$replicaSet = New-AzADDomainServiceReplicaSet -Location "australiaeast" -SubnetId "/subscriptions/HiddenID/resourceGroups/iton-c

[2021-10-20 04:33] srinutamada opened #16131 "New-AzBotService command is not working"
I am trying to create Azure bot service using below PowerShell and its failing with below error. Please help, how to proceed

$Securekey = ConvertTo-SecureString "<key value>" -AsPlainText -Force
New-AzBotService -ResourceGroupName <rg name> -Name <bot name> -ApplicationId <bot id> -Location northeurope -Sku S1 -Description <bot description> -Webapp -ApplicationSecret $Securekey

![image](https://

[2021-10-20 05:54] dingmeng-xue commented on #16119
Thanks. Space character should not be mandatory. I rely on module owner to look into it.

[2021-10-20 06:01] dingmeng-xue commented on #16131
Thanks for reporting. @srinutamada .

That issue is because the version of ConvertFrom-SecureString. We will address this issue. For the time being, could you use PowerShell 7 which supports `-AsPlainText` switch.

[2021-10-20 08:53] #12378 closed

[2021-10-20 09:28] srinutamada commented on #16131
Thanks for response, I am able to create bot instance. Can you improvise existing commands to accept key vault name as one of the parameter? Why because from UI, Microsoft is creating one key vault when we are creating new bot resource and there is no option to choose existing key vaults.

I don't have any other feedback. You can close this issue, if you can handle reported issue in later version.

[2021-10-20 09:57] pemontto commented on #15718
Thanks @dicolanl, do these new updates/cmdlets include support for:

- [automation rules](https://docs.microsoft.com/en-us/azure/sentinel/automate-incident-handling-with-automation-rules)
- [new entity mappings](https://docs.microsoft.com/en-us/azure/sentinel/map-data-fields-to-entities)
- [custom event details](https://docs.microsoft.com/en-gb/azure/sentinel/surface-custom-details-in-alerts)
- [c

[2021-10-20 10:34] abarqawi commented on #16032
@dingmeng-xue  is there any workaround?

[2021-10-20 11:47] edtorresco commented on #15712
Any update about this issue?

[2021-10-20 22:19] avirishuv commented on #15999
quick note: we will be fixing the documentation, and provide an update here once it is done.

[2021-10-21 00:47] itoc-dw commented on #16130
Thank you. Greatly appreciated.

[2021-10-21 01:11] SaurabhSharma-MSFT commented on #16121
@mblaschke We are currently investigating this and get back to you.

[2021-10-21 03:58] sandersaares commented on #15970
@jlichwa If in the most recent Az module (6.5.0), the version of Az.KeyVault is 3.6.0. What is this 5.0 you speak of and what is the process to install it?

With 6.5.0 and 3.6.0, the problem reproduces for me exactly as in the OP.

[2021-10-21 04:39] srinutamada opened #16149 "New-AzBotService: Additional command line parameter for"
## When we create chatbot instance from UI, its creating new keyvault internally. There is no option to specify keyvault name. Its being taking dynamically. So, if AZ commands has a option to provide keyvault as command line argument then it can help in filling the gap.

The main reason for this ask is, we have seen organizations are having policies around Azure resource naming conventions, which

[2021-10-21 04:54] Sharmistha-Rai commented on #15712
@edtorresco
We haven't received this request before. I will add it to our feedback log. If we received significant customer demand, then we can add this item to our roadmap.

[2021-10-21 05:39] VeryEarly commented on #15882
one possible cause could be that I used concurrentdictionary.Item[] to access data which might not be thread-safe.
I'll try switch to thread-safe methods instead.

[2021-10-21 06:30] YuKogasaka opened #16153 "An error will occur without the optional parameter "-ResourceGroupName" in the Get-AzEffectiveRouteTable syntax."
## Description
In the Get-AzEffectiveRouteTable [documentation](https://docs.microsoft.com/en-us/powershell/module/az.network/get-azeffectiveroutetable?view=azps-6.5.0) and Get-help content, "-ResourceGroupName" is not required but an optional parameter (\[-ResourceGroupName\]), but when I run the command that get the error "Get-AzEffectiveRouteTable: 'resourceGroupName' cannot be null.".

I would

[2021-10-21 08:14] BethanyZhou opened #16154 "Version bumper didn't get latest Az.Accounts version when bumping a single module"
## Description
Version bumper didn't get latest Az.Accounts version when bumping a single module. See PR: https://github.com/Azure/azure-powershell/pull/16100/files.

If current Az.Accounts bumps from 2.5.3->2.5.4
while Az.Storage.ps says it requires Az.Accounts 2.5.1, no replacement happens.

It's weird since we already have fixed it in https://github.com/Azure/azure-powershell/blob/93a2d435d1952

[2021-10-21 08:22] scuthber commented on #12417
Still a bug in PSVersion 7.1.5...

[2021-10-21 11:25] gh-anton commented on #10497
@jmlatov Well, thats what i'm complaining about. Still not possible with this module... It would probably be possible to update these attributes via Graph API. However, really shouldn't be down to us to write our own modules to preform these simple tasks.

[2021-10-21 13:22] bytepl opened #16158 "Az.Tools.Predictor fails to install, with no error message"
## Description

Az.Tools.Predictor fails to install, with no error message.

## Steps to reproduce

[code]

## Environment data

Name                           Value
----                           -----
PSVersion                      7.1.5
PSEdition                      Core
GitCommitId                    7.1.5
OS                             Microsoft Windows 10.0.19043
Platform

[2021-10-21 13:31] HamudiLeon commented on #10300
eventually I've decided to post something :)
---
to find all Tags on Tenant and with multi Subscription Env, I've wrote this small PowerShell.
`$debugLimit = ""#" | limit 2"
$extendedDebug = ""#"| where name contains('Sartorius')"
$newCsv = @()
$csvRow = [PSCustomObject] @{
    'SubscriptionId' = $null
    'SubscriptionName' = $null
    'Tag' = $null
    'Value' = $null

}

$subscriptions =  Searc

[2021-10-21 22:09] saldroubi commented on #16097
Still getting same error:

I have upgraded to AZ version 6.5.0

Get-InstalledModule -Name az

Version              Name                                Repository           Description
-------              ----                                ----------           -----------
6.5.0                Az                                  PSGallery            Microsoft Azure PowerShell - Cmdlets to manage r

[2021-10-23 02:05] noureddineennacir opened #16183 "Whatif is not working as expected when running New-AzNetworkInterface"
I am MSFT internal ARR IaaS TA. I was asked to open a Github issue to identify if this is a potential bug.

Customer is creating a network interface without accelerated networking and manually enables accelerated networking using the Azure Portal. Then they run whatif to understand what the Azure PowerShell cmdlet is going to simulate. In the HTTP response, it clearly shows it will not make any ch

[2021-10-24 00:50] SatishBoddu-MSFT commented on #10936
Hello @balauppaloori , @ghost, @dingmeng-xue
I see that this issue is opened a long time ago and no further activity had taken place. So wanted to check if you are still looking for assistance on this query? Please let us know.

[2021-10-24 00:58] SatishBoddu-MSFT commented on #13682
Hello @coulsonr @webguynj Apologies for the delayed response. I see that this issue is opened a long time ago and no further activity had taken place. So wanted to check if you are still looking for assistance on this query? Please let us know.

[2021-10-24 01:00] SatishBoddu-MSFT commented on #13685
Hello @alexandair Apologies for the delayed response. I see that this issue is opened a long time ago and no further activity had taken place. So wanted to check if you are still looking for assistance on this query? Please let us know.

[2021-10-24 01:01] yvesgermain commented on #12815
As for me, you can close the case.

Thanks!

Yves Germain

Get Outlook for Android<https://aka.ms/AAb9ysg>
________________________________
From: msftbot[bot] ***@***.***>
Sent: Saturday, October 23, 2021 8:55:19 PM
To: Azure/azure-powershell ***@***.***>
Cc: yvesgermain ***@***.***>; Mention ***@***.***>
Subject: Re: [Azure/azure-powershell] New-AzRoleAssignment error: string format is incorrect

[2021-10-24 01:02] SatishBoddu-MSFT commented on #12815
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

Please also do visit [Microsoft Q&A](https://docs.microsoft.com/en-us/answers/index.html) the home for technical questions and answers at Microsoft.

[2021-10-24 01:02] #12815 closed

[2021-10-24 01:03] SatishBoddu-MSFT commented on #13855
Hello @w3bward @pfeileon
Apologies for the delayed response. I see that this issue is opened a long time ago and no further activity had taken place. So wanted to check if you are still looking for assistance on this query? Please let us know.

[2021-10-24 01:05] SatishBoddu-MSFT commented on #14450
Hello @kuchatur-ms @akata72 @elzinc85 Apologies for the delayed follow-up. I see that this issue is opened a long time ago and no further activity had taken place. So wanted to check if you are still looking for assistance on this query? Please let us know.

[2021-10-24 01:12] SatishBoddu-MSFT commented on #14552
Hello @timpoth Apologies for the delayed response. I see that this issue is opened a long time ago and no further activity had taken place. So wanted to check if you are still looking for assistance on this query? Please let us know.

[2021-10-24 01:15] SatishBoddu-MSFT commented on #14588
Hello @dlindblom Apologies for the delayed response. I see that this issue is opened a long time ago and no further activity had taken place. So wanted to check if you are still looking for assistance on this query? Please let us know.

[2021-10-24 01:39] Francisco-Gamino commented on #14423
Hello @gzuber -- Do you know why we need this work around for the dotnet-isolated runtime https://github.com/Azure/azure-cli/blob/dev/src/azure-cli/azure/cli/command_modules/appservice/custom.py#L2964?

[2021-10-24 01:45] Francisco-Gamino commented on #14423
@anthonychu -- what should it be the default OS for `dotnet-isolated`? Here is the current supported mapping: https://github.com/Azure/azure-powershell/blob/generation/src/Functions/custom/HelperFunctions.ps1#L13

[2021-10-24 02:02] SatishBoddu-MSFT commented on #14606
Hello @Francisco-Gamino, @prawnz  Could you please let us know if this issue is good to be closed?

Apologies for the delayed response. I see that this issue is opened a long time ago and no further activity had taken place. So wanted to check if you are still looking for assistance on this query? Please let us know.

[2021-10-24 02:06] SatishBoddu-MSFT commented on #14633
Hello @stefanushinardi Could you please help us in this matter?

I see that this issue is opened a long time ago and no further activity had taken place. So wanted to check if you are still looking for assistance on this query? Please let us know.

[2021-10-24 02:08] SatishBoddu-MSFT commented on #14695
Hello @mepand , @Manbearpiet Please let us know if we are good to close this issue?
I see that this issue is opened a long time ago and no further activity had taken place. So wanted to check if you are still looking for assistance on this query? Please let us know.

[2021-10-24 02:09] SatishBoddu-MSFT commented on #14703
Hello @jon-grey Apologies for the delayed response. I see that this issue is opened a long time ago and no further activity had taken place. So wanted to check if you are still looking for assistance on this query? Please let us know.

[2021-10-24 02:11] SatishBoddu-MSFT commented on #14721
Hello @castillog Please let us know if this issue still persists?

Apologies for the delayed response. I see that this issue is opened a long time ago and no further activity had taken place. So wanted to check if you are still looking for assistance on this query? Please let us know.

[2021-10-24 02:12] SatishBoddu-MSFT commented on #14733
Hello @pmsousa Apologies for the delayed response. I see that this issue is opened a long time ago and no further activity had taken place. So wanted to check if you are still looking for assistance on this query? Please let us know.

[2021-10-24 02:14] SatishBoddu-MSFT commented on #14774
Hello @jaspkaur28 @achimismaili Apologies for the delayed response. I see that this issue is opened a long time ago and no further activity had taken place. So wanted to check if you are still looking for assistance on this query? Please let us know.

Please let us know if we are good to close this issue?

[2021-10-25 04:47] AvinashMitta opened #16192 "Az.Imagebuilder Module Issue"
When installing Az.ImageBuilder module in the Microsoft Self hosted agents using command  "Install-Module -Name Az.ImageBuilder -Force" it is installing two modules by default
1.Az.Accounts
2.Az.ImageBuilder

May i know why the Az.Accounts module is needed ? This is creating an issue in Microsoft Hosted agents ,creating a duplicate version of Az.Accounts module.

## Steps to reproduce

``
Run this

[2021-10-25 16:26] DavidAtImpactCubed opened #16199 "Get-AzSqlServerFirewallRule firewallrulename wildcard filtering returns all IP rules"
## Description
The docs suggest that you can filter firewall rules with a prefix and a wildcard:
https://docs.microsoft.com/en-us/powershell/module/az.sql/get-azsqlserverfirewallrule?view=azps-6.5.0#example-2--get-all-rules-for-a-server-using-filtering

When using this syntax, _all_ firewall rules are returned, even those that don't match the prefix.

## Steps to reproduce

[code]

## Environment

[2021-10-26 04:52] dingmeng-xue opened #16207 "Promote Az.StackHCI to GA and include it into Az"
We are OK to bump Az.StackHCI to 1.0.0 and add it into Az.

[2021-10-26 06:51] Jasonlhy opened #16214 "Get-AzWebApp only retrieves 100 web app when there are more than"
## Description
Get-AzWebApp only retrieve 100 web apps by using an app service plan

## Steps to reproduce

1. Create an app service plan
2. Create more than 100 websites with the app service plan
3. Run following powershell scripts

[code]

## Environment data

[code]

## Module versions

[code]

## Debug output

It logs the HTTP response to the Azure, the returned JSON contains 100 websites.

[c

[2021-10-26 09:15] BethanyZhou opened #16226 "Az.Advisor is not signed"
## Description
Az.Advisor is not signed
![image](https://user-images.githubusercontent.com/19869716/138848571-4e7c3f94-fb42-4732-aefe-a538cb07a3e9.png)

![image](https://user-images.githubusercontent.com/19869716/138848631-2dcef479-9ca6-45fb-8b71-285929b1545d.png)

## Cost

[2021-10-27 04:54] LifeRyuto opened #16239 "New-AzPostgreSqlServerReplica is missing."
## Description
I have followed the [article](https://docs.microsoft.com/en-us/azure/postgresql/howto-read-replicas-powershell), but it seems New-AzPostgreSqlServerReplica is missing.

## Steps to reproduce

[code]

Error message
[code]

## Environment data

[code]

## Module versions

I also specified -Force option after the error, so there are 2 versions of the module.
[code]

## Debug output

[c

[2021-10-27 12:01] cbmetri opened #16244 "Error in creating Azure Function app"
Creating Azure app service using `New-AzFunctionApp` is not working anymore.
This seems to be the issue with Powershell version as explained in [this thread](https://github.com/Azure/azure-powershell/issues/13379).
We are using Azure Powershell task on Azure DevOps to deploy the service. The Powershell task does not have an option to select latest version (7.1.4).

**Here is service deployment scr

[2021-10-28 09:24] BethanyZhou opened #16258 "The test cases of referred EventHub SDK services need be re-recorded"
## Description

Many services referred the SDK of EventHub. EventHub SDK was updated in https://github.com/Azure/azure-powershell/pull/15960. Its API version changes. So these services' test cases need be re-recorded.

To catch up 11/02 release, we skipped it temporarily. Need finish this job in the future.

## Cost

[2021-10-28 13:11] dingmeng-xue opened #16261 "Promote Az.Synapse to GA and include it into Az"

[2021-10-28 16:23] rachaelsingleton opened #16262 "Add-AzMetricAlertRuleV2 alerts do not show up in resource graph or Get-AzScheduledQueryRule"
## Description
When creating a metric alert through PowerShell, the created alerts to not show up in resource graph or Get-AzScheduledQueryRule like they do when creating through the portal. The properties and configs appear to be the same.

If I modify one property (a condition operator for example), of an alert created via PS and save it in the portal, the alert will show up.

## Steps to reprod

[2021-10-28 22:23] jack-cloud-platform opened #16266 "New-AzStorageContainerSASToken does not allow ExpiryTime parameter although expiry time not set on associated access policy"
## Description

Running New-AzStorageContainerSASToken to generate a container SAS token with Policy and ExpiryTime parameters returns an error of `New-AzStorageContainerSASToken: This expiry time field must be omitted if it has been specified in an associated stored access policy.` even though the expiry time has not been configured for the shared access policy.

## Steps to reproduce

[code]

##

[2021-10-28 23:59] DaeunYim opened #16267 "Promote Az.MySql to GA and include it into Az"

[2021-10-29 00:00] DaeunYim opened #16268 "Promote Az.PostgreSql to GA and include it into Az"

[2021-10-29 06:56] BethanyZhou opened #16275 "The windows-2016 environment used by pipeline (at least smoke test) is going to be deprecated and removed"
## Description
##[warning]The windows-2016 environment will be deprecated on November 15, 2021, and removed on March 15, 2022. Migrate to windows-latest instead. For more details see https://github.com/actions/virtual-environments/issues/4312

https://dev.azure.com/azure-sdk/public/_build/results?buildId=1167885&view=logs&j=2f7369d1-fb97-5262-a571-f4e9c996b7d1
## Cost

[2021-10-29 07:11] akata72 opened #16276 "Disktype 'Premium_SSD' in New-AzMigrateServerReplication is only applied to OSDisk, not Datadisks"
When setting the disktype parameter to "Premium_LRS" , this is only applied to the OSDisk, the Datadisks are still replicated as Standard_HDD.  I am expecting that this setting is applied to all disks.

## Steps to reproduce

[code]

## Environment data

[code]

## Module versions

[code]

## Debug output

[code]

## Error output

[code]

[2021-10-29 19:21] Karishma-Tiwari-MSFT commented on #16244
Can you please try the following and share the results?

Set-PSRepository -Name PSGallery -InstallationPolicy "Trusted"
Install-Module -Name Az.Functions -Repository PSGallery -Force

[2021-10-29 19:59] bsod99 opened #16286 "Get-AzPolicyStateSummary does not return compliant resource count, only noncompliant ones"
Per the [docs](https://docs.microsoft.com/en-us/powershell/module/az.policyinsights/get-azpolicystatesummary?view=azps-6.5.0#description) this is by design, but why?

For metric/KPI purposes it is required to know both compliant and noncompliant totals for a given assignment. The equivalent azcli command (az policy state summarize) returns both values, but PowerShell does not.

[2021-10-29 22:14] sebansal commented on #15844
this is by design that 'purge' permission should be granted with caution.

[2021-10-29 22:21] SaurabhSharma-MSFT commented on #11248
@imeya Following up again to know if you still need help on this issue.

[2021-10-29 22:23] jlichwa commented on #15844
@sebansal the problem here is that even when customer wants to set purge for their administrator it does not work through our API.

[2021-10-29 22:24] SaurabhSharma-MSFT commented on #11884
Hello @bd1dd141-246d-48bf-af76-4a72be2621d5  Apologies for the delayed response. I see that this issue is opened a long time ago and no further activity had taken place. So wanted to check if you are still looking for assistance on this query? Please let us know.

[2021-10-29 22:38] SaurabhSharma-MSFT commented on #12058
Hello @dillonredding Apologies for the delayed response. I see that this issue is opened a long time ago and no further activity had taken place. So wanted to check if you are still looking for assistance on this query? Please let us know.

[2021-10-29 22:39] SaurabhSharma-MSFT commented on #12142
@aubrey-y Apologies for the delayed response. I see that this issue is opened long time ago and no further activity had taken place. So wanted to check if you are still looking for assistance on this query? Please let us know .

[2021-10-29 22:41] SaurabhSharma-MSFT commented on #12262
@MonikaReddy-MSFT Apologies for the delayed response. I see that this issue is opened long time ago and no further activity had taken place. So wanted to check if you are still looking for assistance on this query? Please let us know .

[2021-10-29 22:43] SaurabhSharma-MSFT commented on #12344
@WilfriedWeidner Apologies for the delayed response. I see that this issue is opened long time ago and no further activity had taken place. So wanted to check if you are still looking for assistance on this query? Please let us know .

[2021-10-29 23:33] ericshape opened #16291 "Provide an interface to append az powershell sub-module version to the telemetry log"
## Description of the new feature

We would like to have an interface to append the additional Azure SQL PowerShell (sub-module) version to the telemetry log.
i.e. Microsoft.Azure.Management.Sql.SqlManagementClient/1.56.0.0 PSVersion/v5.1.17763.2183 **AzurePowershell/v0.0.0** **az.sql/v3.5.0**

The expected format should be Az.{ModuleName}/{version}. there is a space character as a delimiter betwe

[2021-10-30 00:01] SaurabhSharma-MSFT commented on #12385
@AgelM Apologies for the delayed response. Following up to check if you need any further help on this issue.

[2021-10-30 00:05] SaurabhSharma-MSFT commented on #13656
@trindels Apologies for the delayed response. I see that this issue is opened long time ago and no further activity had taken place. So wanted to check if you are still looking for assistance on this query? Please let us know .

[2021-10-30 00:08] SaurabhSharma-MSFT commented on #13665
@jonathanmedd Apologies for the delayed response. I see that this issue is opened long time ago and no further activity had taken place. So wanted to check if you are still looking for assistance on this query? Please let us know .

[2021-10-30 00:20] SaurabhSharma-MSFT commented on #13802
@motim6026 Apologies for the delayed response. I see that this issue is opened long time ago and no further activity had taken place. So wanted to check if you are still looking for assistance on this query? Please let us know .

[2021-10-30 00:22] SaurabhSharma-MSFT commented on #10300
@DanteNahuel Apologies for the delayed response. I see that this issue is opened long time ago and no further activity had taken place. So wanted to check if you are still looking for assistance on this query? Please let us know .

[2021-10-30 00:51] dingmeng-xue commented on #16286
Policy Insights team, please look into this feature question.

[2021-10-30 01:02] dingmeng-xue commented on #16239
Close current issue and new issue is created https://github.com/MicrosoftDocs/azure-docs/issues/83176

[2021-10-30 01:02] #16239 closed

[2021-10-30 01:42] SaurabhSharma-MSFT commented on #13989
@richardhauer Apologies for the delayed response. I see that this issue is opened long time ago and no further activity had taken place. So wanted to check if you are still looking for assistance on this query? Please let us know .

[2021-10-30 01:45] SaurabhSharma-MSFT commented on #14012
@sebansal Do you have any updates on this issue.

[2021-10-30 01:48] SaurabhSharma-MSFT commented on #14083
@henriblMSFT Apologies for the delayed response. I see that this issue is opened long time ago and no further activity had taken place. So wanted to check if you are still looking for assistance on this query? Please let us know .

[2021-10-30 01:52] richardhauer commented on #13989
@SaurabhSharma-MSFT
I don't know if there has been any updates to the API in the preceding 10 months to address this issue, probably not but worth a look.

We worked around the issue by using the HTTP API directly and bypassing the PowerShell commandlet.  That's painful, so not really a "fix" insofar as "it doesn't work so we fixed it by not using it".

[2021-10-30 01:59] SaurabhSharma-MSFT commented on #11026
@mialdrid Do you have any updates on this issue.
@Zsoldier Apologies for the delayed response. I see that this issue is opened long time ago and no further activity had taken place. So wanted to check if you are still looking for assistance on this query? Please let us know .

[2021-10-30 02:00] SaurabhSharma-MSFT commented on #11027
@Burnett2k Apologies for the delayed response. I see that this issue is opened long time ago and no further activity had taken place. So wanted to check if you are still looking for assistance on this query? Please let us know .

[2021-10-30 02:01] SaurabhSharma-MSFT commented on #11251
@rthorn17 Do you have updates on this issue.

[2021-10-30 07:18] jlichwa commented on #14012
@saurabhsensharma the diagnostic settings are in separate service and they don't handle ARM delete requests. There is nothing on Key Vault side we can do.

[2021-10-30 09:28] AgelM commented on #12385
@SaurabhSharma-MSFT, the issue has been resolved. We haven’t faced with the most recent versions.

[2021-10-30 09:28] #12385 closed

[2021-10-30 22:51] SaurabhSharma-MSFT commented on #12304
@viniciusvillas Apologies for the delayed response. I see that this issue is opened long time ago and no further activity had taken place. So wanted to check if you are still looking for assistance on this query? Please let us know .

[2021-10-30 22:53] SaurabhSharma-MSFT commented on #12331
@samuelkoppes Do you have any updates on this issue.
@andreasschild Apologies for the delayed response. I see that this issue is opened long time ago and no further activity had taken place. So wanted to check if you are still looking for assistance on this query? Please let us know .

[2021-10-30 23:32] SatishBoddu-MSFT commented on #13350
Hello @jaspkaur28 Could you please help us in this matter? Please advice us if twe good to close this issue?

Thanks for your help!

[2021-10-30 23:57] SatishBoddu-MSFT commented on #13364
Hello @andrewliu0612 , @linehammer    Apologies for the delayed response. I see that this issue is opened a long time ago and no further activity had taken place. So wanted to check if you are still looking for assistance on this query? Please let us know.

[2021-10-31 00:02] SatishBoddu-MSFT commented on #13418
Hello @promm1983 @ThejaChoudary @Kotasudhakarreddy
Sorry for the delayed follow-up, please let us know if this issue is fixed or any workaround is suggested, so that we close this issue.

[2021-10-31 00:08] SatishBoddu-MSFT commented on #13425
Hello @wembleyford @dcaro @ChristopherGLewis Apologies for the delayed response. I see that this issue is opened a long time ago and no further activity had taken place. So wanted to check if you are still looking for assistance on this query? Please let us know.

[2021-10-31 00:11] SatishBoddu-MSFT commented on #13432
Hello @mslentz @mrpullen Apologies for the delayed response. I see that this issue is opened a long time ago and no further activity had taken place. So wanted to check if you are still looking for assistance on this query? Please let us know.

[2021-10-31 00:49] SatishBoddu-MSFT commented on #13448
Hello @solankisamir @msJinLei Could you please let us know if this issue still persists? Are we good to close or any workarounds?

[2021-10-31 00:54] SatishBoddu-MSFT commented on #13855
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

Please also do visit [Microsoft Q&A](https://docs.microsoft.com/en-us/answers/index.html) the home for technical questions and answers at Microsoft.

[2021-10-31 00:54] #13855 closed

[2021-10-31 01:13] SatishBoddu-MSFT commented on #9326
Hello @midgleyc @markcowl @jaredmoo Apologies for the delayed response. I see that this issue is opened a long time ago and no further activity had taken place. So wanted to check if you are still looking for assistance on this query? Please let us know if we are good to close this issue?

[2021-10-31 01:18] SatishBoddu-MSFT commented on #10485
Hello @isra-fel @maboja-msft @jaredmoo Please let us know if we are good to close this issue? Please let us know if additional help is needed in this matter?

[2021-10-31 01:22] SatishBoddu-MSFT commented on #10783
Hello @eosfor @JohnLBevan @isra-fel Could you please let us know if we are good with closing this issue or do we need further investigation?

[2021-10-31 01:23] SatishBoddu-MSFT commented on #14143
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

Please also do visit [Microsoft Q&A](https://docs.microsoft.com/en-us/answers/index.html) the home for technical questions and answers at Microsoft.

[2021-10-31 01:23] #14143 closed

[2021-10-31 01:25] SatishBoddu-MSFT commented on #11110
Hello @Kotasudhakarreddy Could you please let us know if we are good to close this issue or any further action is needed?

[2021-10-31 01:31] SatishBoddu-MSFT commented on #11202
Hello @ajayvedwa @omerzubair @prasad-sunkara @cubikca Apologies for the delayed response. I see that this issue is opened a long time ago and no further activity had taken place. So wanted to check if you are still looking for assistance on this query? Please let us know.

[2021-10-31 01:52] SatishBoddu-MSFT commented on #12087
Hello @o-l-a-v  Apologies for the delayed response. I see that this issue is opened a long time ago and no further activity had taken place. So wanted to check if you are still looking for assistance on this query? Please let us know.

[2021-10-31 02:08] SatishBoddu-MSFT commented on #12158
Hello @simondmorias Just checking if this issue still persists? Please let us know if your need further help or we good to close this issue?

[2021-10-31 02:12] SatishBoddu-MSFT commented on #12214
Hello @MrCaedes Apologies for the delayed response. I see that this issue is opened a long time ago and no further activity had taken place. So wanted to check if you are still looking for assistance on this query? Please let us know if we are good to close this issue? @brianlehr

[2021-10-31 02:15] SatishBoddu-MSFT commented on #12762
Hello @Kotasudhakarreddy Please let us know if are good to close this issue?

[2021-10-31 02:26] SatishBoddu-MSFT commented on #12811
Hello @robertleelarson Apologies for the delayed response. I see that this issue is opened a long time ago and no further activity had taken place. So wanted to check if you are still looking for assistance on this query? Please let us know.

[2021-10-31 02:31] SatishBoddu-MSFT commented on #12823
Hello @jaspkaur28 Please let is know if we have further time or good to close this issue?

[2021-10-31 02:32] robertleelarson commented on #12811
I was forced to move on with minimal time available to come back. To be fair, as a customer i can't keep taking time to follow up with all the updates to see if it's going to work. I'd ask Microsoft to take a look and verify if they've resolved it and post back the results whether it's resolved in a future update that was made available.

[2021-10-31 02:35] SatishBoddu-MSFT commented on #12843
Hello @Kotasudhakarreddy Please let us know if we can close this issue?

[2021-10-31 02:38] SatishBoddu-MSFT commented on #12902
Hello @tomkerkhove Apologies for the delayed response. I see that this issue is opened a long time ago and no further activity had taken place. So wanted to check if you are still looking for assistance on this query? Please let us know.

[2021-10-31 02:39] SatishBoddu-MSFT commented on #12875
Hello @aconn21 Apologies for the delayed response. I see that this issue is opened a long time ago and no further activity had taken place. So wanted to check if you are still looking for assistance on this query? Please let us know.

[2021-10-31 02:43] SatishBoddu-MSFT commented on #12908
Hello @rvbaast Apologies for the delayed response. I see that this issue is opened a long time ago and no further activity had taken place. So wanted to check if you are still looking for assistance on this query? Please let us know.

[2021-10-31 02:45] SatishBoddu-MSFT commented on #12964
Hello @oWretch Apologies for the delayed response. I see that this issue is opened a long time ago and no further activity had taken place. So wanted to check if you are still looking for assistance on this query? Please let us know.

[2021-10-31 02:52] SatishBoddu-MSFT commented on #12987
Hello @datr93 Please suggest if we are good to close this issue?

[2021-10-31 02:56] SatishBoddu-MSFT commented on #12990
Hello @mremkiewicz Please let us know if you need further help in this matter or we are good to close this issue?

[2021-10-31 03:01] SatishBoddu-MSFT commented on #14706
Hello @sergekozh  Apologies for the delayed response. I see that this issue is opened a long time ago and no further activity had taken place. So wanted to check if you are still looking for assistance on this query? Please let us know.

[2021-10-31 03:04] SatishBoddu-MSFT commented on #14778
Hello @tylerforaie  Apologies for the delayed response. I see that this issue is opened a long time ago and no further activity had taken place. So wanted to check if you are still looking for assistance on this query? Please let us know.

[2021-10-31 03:06] SatishBoddu-MSFT commented on #14854
Hello @Francisco-Gamino Please let us know if we are ok to close this issue?

[2021-10-31 03:08] SatishBoddu-MSFT commented on #15024
Hello @rajakcava Apologies for the delayed response. I see that this issue is opened a long time ago and no further activity had taken place. So wanted to check if you are still looking for assistance on this query? Please let us know.

[2021-10-31 03:42] panchagnula commented on #15024
@SatishBoddu-MSFT & @rajakcava  WebApp commands are not meant for FunctionApp - I will let the function App folks comment on an alternate command but this is by design.

[2021-10-31 04:31] KranthiPakala-MSFT commented on #13509
@Kotasudhakarreddy - Following up to see if there is any update on this issue? - Thank you

[2021-10-31 04:35] KranthiPakala-MSFT commented on #13544
@alphasteff Thanks for confirming here.

@trindels - Could you please confirm if this issue can be closed.

Thank you

[2021-10-31 04:43] KranthiPakala-MSFT commented on #13573
@wmengmsft , @MehaKaushik , @shurd, @anfeldma-ms - Could you please have a look at this issue and share your thoughts. Thank you

[2021-10-31 05:15] KranthiPakala-MSFT commented on #13588
@dingmeng-xue - Following up to see if there is any update on this fix? - Thank you

[2021-10-31 05:20] KranthiPakala-MSFT commented on #8836
@yangyuan - Following up to see if there is any update on this? - Thank you

[2021-10-31 05:22] KranthiPakala-MSFT commented on #10063
@vikram-m Following up to see if there is any update on this? - Thank you

[2021-10-31 05:25] KranthiPakala-MSFT commented on #10483
@danwkennedy Following up to see if the above workarounds was helpful or you still need assistance on this query? Do let us know if this can be closed? -Thank you

[2021-10-31 05:28] KranthiPakala-MSFT commented on #10871
@FranckSix We still have not heard back from you. Are you still experiencing the issue or please confirm if this issue can be closed? - Thank you

[2021-10-31 05:29] KranthiPakala-MSFT commented on #11101
@vikram-m Following up to see if there is any update on this issue? - Thank you

[2021-10-31 05:31] KranthiPakala-MSFT commented on #11390
@mjconnection, @dingmeng-xue - Following up to see if there is any update on this issue? - Thanks

[2021-10-31 05:56] KranthiPakala-MSFT commented on #12417
@@azureSQLGitHub - Could you please have a look in to this issue and provide an update? - Thank you

[2021-10-31 06:08] KranthiPakala-MSFT commented on #12431
@armleads-azure - Following up to see if there is any update on this issue? - Thank you

[2021-10-31 06:10] KranthiPakala-MSFT commented on #12440
@AddySanto - Following up to see if there is any update on this issue? - THank you

[2021-10-31 06:44] o-l-a-v commented on #12087
@SatishBoddu-MSFT

Have efforts been made to make the error message of this cmdlet more telling of what was the actual problem?

[2021-10-31 08:18] midgleyc commented on #9326
Checking the documentation, the issue in the first paragraph (`Set-AzSqlSyncMember` does not exist) has been fixed, but the other two issues have not.

[2021-10-31 09:23] MrCaedes commented on #12214
@SatishBoddu-MSFT -
This appears to now be implemented, going by the [Az PowerShell 6.5.0](https://docs.microsoft.com/en-us/powershell/module/az.network/new-azloadbalancerfrontendipconfig?view=azps-6.5.0#:~:text=-PublicIpAddressPrefix%20%3CPSPublicIpPrefix%3E) reference. Going by the history on the documentation, this appears to have been added on the [13th November](https://github.com/Azure/azure

[2021-10-31 09:23] #12214 closed

[2021-10-31 11:43] dedbit commented on #10871
For my part i found a solution, ensuring that the publishContentLink points to a valid valid file. So i don't have this problem anymore.

[2021-10-31 13:44] jaspkaur28 commented on #14774
@SatishBoddu-MSFT It seems the issue has been fixed already as I could not repro it , hence closing the issue.
@achimismaili Could you please confirm ? If you still see an issue , we could re-open it.

[2021-10-31 13:44] #14774 closed

[2021-10-31 13:52] jaspkaur28 commented on #16070
@johnnycchapman Automation team has identified it as issue and we've created a work item to fix it in the coming month. I will share an update once the fix is deployed.

[2021-10-31 17:11] brianlehr commented on #12214
Yes - this was implemented.  @MrCaedes - apologies that this issue wasn't updated appropriately when the change was made.

[2021-10-31 18:56] JohnLBevan commented on #10783
Thanks @SatishBoddu-MSFT; I just ran `Update-Module AZ.Resources` putting me on v4.4.0; and can confirm that this issue is now resolved.

[2021-11-01 02:18] isra-fel commented on #15844
I'm pretty sure the issue was portal GUI cannot handle the combination of "all" and "purge". While the API handled it well.

[2021-11-01 02:23] isra-fel commented on #14012
Looping in diagnostic team.

[2021-11-01 02:25] isra-fel commented on #16275
We are most likely to replace all `windows-2016` to `windows-2019` in our pipelines.

[2021-11-01 02:47] sakkuntyo opened #16298 "Set-AzOperationalInsightsLinkedService cannot link Automation account."
## Description
Log Analytics workspace and automation account cannot be linked in Set-AzOperationalInsightsLinkedService.
Set-AzOperationalInsightsLinkedService cannot link Log Analytics workspace and automation account.
However, in both cases, the Log Analytics Workspace and Automation Account cannot be linked.

## Steps to reproduce

[code]

## Environment data

[code]

## Module versions

[code

[2021-11-01 02:54] isra-fel commented on #10485
After searching I found it's already fixed by #13433
Closing now.

[2021-11-01 02:54] #10485 closed

[2021-11-01 03:06] qinl-li commented on #15844
Yes. Portal doesn't understand when it returned keys: ["all"]. It expects an array with each permission listed. I will get it fixed.

[2021-11-01 08:49] Kotasudhakarreddy commented on #13418
closing due to lack of response. Please file a new issue if this is still a problem.

[2021-11-01 08:49] #13418 closed

[2021-11-01 08:50] Kotasudhakarreddy commented on #11110
closing due to lack of response. Please file a new issue if this is still a problem.

[2021-11-01 08:50] #11110 closed

[2021-11-01 08:52] Kotasudhakarreddy commented on #12762
Will be taking for current release.

[2021-11-01 08:55] Kotasudhakarreddy commented on #12843
@Kitwradr please let us know if you are still facing this issue in the latest PS version.

[2021-11-01 09:07] pvrk commented on #14695
@SatishBoddu-MSFT, @Manbearpiet :  Sincere apologies for the delay. We are following up with the platform team and will come back with an ETA for the fix. Thanks for your patience.

[2021-11-01 09:08] pvrk commented on #14695
Also, assigned this to the relevant engineer.

[2021-11-01 09:11] #13509 closed

[2021-11-01 11:07] desmphil opened #16306 "Invoke-AzStorageSyncChangeDetection"
## Description

When running the following script in Windows11 or W2022 or W2019 to trigger the manual detection job, the invoke expression mandatory request the **-directorypath**

- If the parameter is skipped the command failed.
- If the parameter is left blank (null) the sync job doesn't work.

[code]

On **Azure Automation Accounts**, the process runs just fine.

## Steps to reproduce

[code]

[2021-11-01 12:34] Aviv-Yaniv commented on #15749
Hey @jmyerscough and thank you for contacting
What is the `kind` parameter you have specified?
The `EventHubResourceId` is supported if `kind` parameter is in `{ EventHub , EventGrid }`

[2021-11-01 13:24] tomkerkhove commented on #12902
We abandoned this route because we were blocked because of it but still believe it would be nice to have this addition.

[2021-11-01 14:38] KranthiPakala-MSFT commented on #12451
@cairneym I see that this issue is opened long time ago and no further activity had taken place. So wanted to check if any of the workarounds helped to resolve you issue or you are still looking for assistance on this query? Please let us know .

[2021-11-01 14:39] KranthiPakala-MSFT commented on #12500
@@aznetsuppgithub - Following up to see if there is any update on this issue? - Thank you

[2021-11-01 14:41] KranthiPakala-MSFT commented on #12529
HI @jfggdl Following up to see if there is any update on this issue? - Thank you

[2021-11-01 14:43] KranthiPakala-MSFT commented on #12534
@QingChenmsft, @vaishnavk , @juhacket - Could you please have a look at the above feedback and share your thoughts? - Thank you

[2021-11-01 14:45] KranthiPakala-MSFT commented on #12552
@jaspkaur28 - Following up to see if there is any update on this issue? - Thank you

[2021-11-01 15:00] SatishBoddu-MSFT commented on #12762
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

Please also do visit [Microsoft Q&A](https://docs.microsoft.com/en-us/answers/index.html) the home for technical questions and answers at Microsoft.

[2021-11-01 15:00] #12762 closed

[2021-11-01 16:50] KranthiPakala-MSFT commented on #12610
@brianlehr - Following up to see if there is any update on this issue? - Thank you

[2021-11-01 16:55] KranthiPakala-MSFT commented on #12626
@antcp, @AzureAppServiceCLI - Could you please have a look at the above feedback and share your thoughts? - Thank you

[2021-11-01 16:56] KranthiPakala-MSFT commented on #12627
@Kotasudhakarreddy , @ThejaChoudary - Following up to see if there is any update on this issue? Thank you

[2021-11-01 17:00] brianlehr commented on #12610
@MattVevang @KranthiPakala-MSFT - If I'm reading this correctly, there is no error with the current command.  The difference between CLI and PS is that CLI expects a String, whereas PS expects a PSPublicIpPrefix object.

In other words, if you want to use the command, it should look something like this:
**$publicIpPrefix** = Get-AzPublicIpPrefix -ResourceGroupName myRg -Name myPublicIpPrefix1
$pub

[2021-11-01 17:00] #12610 closed

[2021-11-01 22:17] KranthiPakala-MSFT commented on #12706
@miaojiang - Following up to see if there is any update on this issue? - Thank you

[2021-11-01 22:25] KranthiPakala-MSFT commented on #14326
@tariqaliuk  Following up to see if you still have this issue? Please confirm if you still blocked because of this or if this issue can be closed?  Thank you

[2021-11-01 22:25] KranthiPakala-MSFT commented on #14332
@armleads-azure Following up to see if there is any update on this issue? - Thank you

[2021-11-01 22:31] brianlehr commented on #14326
@KranthiPakala-MSFT @tariqaliuk This issue should now be remediated in PowerShell.

[2021-11-01 23:09] KranthiPakala-MSFT commented on #14445
@anavinahar Following up to see if there is any update on this issue? - Thank you

[2021-11-01 23:15] KranthiPakala-MSFT commented on #14561
@AzMonEssential Following up to see if there is any update on this issue? - Thank you

[2021-11-01 23:16] KranthiPakala-MSFT commented on #14563
@dagoroz Following up to see if there is any update on this issue? - Thank you

[2021-11-01 23:19] KranthiPakala-MSFT commented on #14604
@riva-yadav , @jaspkaur28 Following up to see if there is any update on this issue? - Thank you

[2021-11-01 23:20] #14563 closed

[2021-11-01 23:21] KranthiPakala-MSFT commented on #14647
@shijojoy Following up to see if there is any update on this issue? - Thank you

[2021-11-01 23:21] dagoroz commented on #14563
this was solved long time ago
closing

[2021-11-01 23:23] KranthiPakala-MSFT commented on #12181
@Kotasudhakarreddy  Following up to see if there is any update on this issue? - Thank you

[2021-11-01 23:24] KranthiPakala-MSFT commented on #12228
@kristofferpagels We still have not heard back from you. Just wanted to check if you are still facing the issue or need assistance on this? Please let us know if this issue can be closed

[2021-11-01 23:24] dingmeng-xue opened #16312 "New-AzRedisCache is not shown up on online doc"
## Description

New-AzRedisCache.md in Az 6.6 release cannot be indexed or shown up on cmdlet reference due to pipeline issue.
https://raw.githubusercontent.com/Azure/azure-powershell/release-2021-11-02/src/RedisCache/RedisCache/help/New-AzRedisCache.md

The root cause is unknown. It should be updated once the issue in doc is fixed.

[2021-11-01 23:25] KranthiPakala-MSFT commented on #15612
@armleads-azure, @dingmeng-xue  Following up to see if there is any update on this issue? - Thank you

[2021-11-01 23:28] KranthiPakala-MSFT commented on #15789
We will now proceed to close this thread as we have not heard back from you. If there are further questions please feel free to open a new issue. We will gladly continue the discussion.

[2021-11-01 23:28] #15789 closed

[2021-11-01 23:33] KranthiPakala-MSFT commented on #14563
Thanks for the update @dagoroz

[2021-11-02 00:14] Karishma-Tiwari-MSFT commented on #16244
@cbmetri Did you get a chance to look into the suggestion in the comment above? Please let me know. Thanks.

[2021-11-02 00:28] Karishma-Tiwari-MSFT commented on #16199
Thanks for bringing this to our attention. This has been fixed with the PR referenced above. We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2021-11-02 00:28] #16199 closed

[2021-11-02 01:50] Karishma-Tiwari-MSFT commented on #16130
@itoc-dw Can you please check the following with your subscription and let me know. Thanks.

This was the resolution for one of the customers who experienced this earlier:
`The deployment failed because you were trying to deploy the resource with a directory which is not linked with the subscription. You could only manage the resources tied to the subscription from your directory, but note that th

[2021-11-02 02:44] Kotasudhakarreddy commented on #12627
Will look in to it.

[2021-11-02 02:47] Kotasudhakarreddy commented on #12181
Will look in to this.

[2021-11-02 04:26] VeryEarly opened #16315 "[Az.Resources] Support Msgraph in non azure public cloud"
## Description of the new feature
Az.Resources cmdlets now only work for azure public cloud. We need to

- extra authorize required
- fix patch url for msgraph resourceid
- handle msgraph in accesstokenauthenticator

## Proposed implementation details (optional)

[2021-11-02 04:29] VeryEarly opened #16316 "[Az.Resources] Remove "-OrderBy" parameter from MSGraph list cmdlets"
## Description
"Orderby" doesn't work for MSGraph list operations, remove them from cmdlets.

## Steps to reproduce

[code]

## Environment data

[code]

## Module versions

[code]

## Debug output

[code]

## Error output

[code]

[2021-11-02 04:34] VeryEarly opened #16317 "[Az.Resources] Add "ImmutableId" to New-AzAdUser"
## Description of the new feature
Parameter ImmutableId is missing from New-AzAdUser, will

- add OnPremesisImmutableId property in swagger
- regenerate msgraph cmdlets
- add parameter "ImmutableId" to New-AzAdUser,
- convert ImmutabeId to OnPremisesImmutableId

## Proposed implementation details (optional)

[2021-11-02 06:12] WilfriedWeidner commented on #12344
Thanks a lot, after the pull request was published the cmdlet works again.

[2021-11-02 06:12] #12344 closed

[2021-11-02 06:20] Agazoth opened #16319 "New-AzRoleAssignment not working with ServicePrincipal"
## Description
Running New-AzRoleAssignment in the context of a ServicePrincipal targeting a resource group on a subscription the Service Principal has Owner rights on fails.

## Steps to reproduce

[code]

Running the same command when connected with a user account with owner rights on the subscription does not produce this error.

## Environment data

Tis error persists both on my dev box and in

[2021-11-02 06:29] mbentancour commented on #13245
Since it's been over a year since this was reported I went ahead and opened s pull request with a fix for this issue. I hope #16308 gets merged soon.

[2021-11-02 12:49] dingmeng-xue commented on #16298
Thank you for your reporting. Tagging and routing to the team member best able to assist.

[2021-11-02 12:50] dingmeng-xue commented on #16306
Thank you for your reporting. Tagging and routing to the team member best able to assist.

[2021-11-02 14:05] dingmeng-xue opened #16324 "PSAzureEnvironment has no link to its dotnet reference"
## Description
There is no link to dotnet reference of `Microsoft.Azure.Commands.Profile.Models.PSAzureEnvironment`
https://docs.microsoft.com/en-us/powershell/module/az.accounts/set-azenvironment?view=azps-6.5.0

## Steps to reproduce

[code]

## Environment data

[code]

## Module versions

[code]

## Debug output

[code]

## Error output

[code]

[2021-11-02 15:26] danwkennedy commented on #10483
@KranthiPakala-MSFT I don't think we use this flow anymore so I can't test the workarounds. I'm fine with closing this issue for now.

[2021-11-02 15:26] #10483 closed

[2021-11-02 16:23] DrorOzgaon opened #16325 "Set-AzWebApp: Expose HealthCheckPath SiteConfig"
## Description of the new feature
The current Set-AzWebApp does not expose the SiteConfig "HealthCheckPath" parameter. We want to automate setting the "HealthCheckPath".

Note: there is a bug open because the "HealthCheckPath" remains null in the SiteConfig despite having a value:
https://github.com/Azure/azure-powershell/issues/14624

## Proposed implementation details (optional)

[2021-11-02 16:47] HarshitaSingh-MSFT commented on #16276
@akata72, just checking in to see if you got a chance to check my last response.

[2021-11-02 17:17] Francisco-Gamino commented on #14854
Hello @SatishBoddu-MSFT -- Yes, we are. Closing issue.

[2021-11-02 17:17] #14854 closed

[2021-11-02 18:31] Agazoth commented on #16319
@dingmeng-xue yes, but that has been disabled in our tenant:
![Deprecated](https://i.imgur.com/dZFOfX2.png)

[2021-11-02 19:44] mslentz commented on #13432
No, the issue has been resolved.

On Sat, Oct 30, 2021 at 5:11 PM SatishBoddu ***@***.***>
wrote:

[2021-11-02 23:26] brianlehr commented on #14445
@KranthiPakala-MSFT This is now remediated and the PowerShell commands to "set" should work as expected.  Closing out issue.

[2021-11-02 23:26] #14445 closed

[2021-11-03 00:03] KranthiPakala-MSFT commented on #14445
Thanks for the update @brianlehr !

[2021-11-03 00:52] bganapa commented on #16097
The issue is applicable to AzureRM.Resources module and New-AzureRMAdServicePrincipal as well. (recommended to move to Az, as AzureRM is on deprecation path)

[2021-11-03 00:54] bganapa commented on #16097
The issue is applicable to AzureStack specific Az modules as well. The workaround mentioned in the issue description will work against azure stack. we do plan to release a new Az.Resources module for AzureStack

[2021-11-03 04:29] dingmeng-xue commented on #16319
Microsoft Identity team had disabled AAD Graph on Portal. We provide a solution as workaround please reference https://github.com/Azure/azure-powershell/issues/16067

[2021-11-03 06:20] Agazoth commented on #16319
Thanks, @dingmeng-xue  - any ETA on when the cmdlet is updated to support MSGraph?

I managed to solve the issue by using this REST API: https://docs.microsoft.com/en-us/rest/api/authorization/role-assignment-rest-sample

[2021-11-03 08:01] #15979 closed

[2021-11-03 08:01] #15965 closed

[2021-11-03 08:01] #15891 closed

[2021-11-03 08:01] #15839 closed

[2021-11-03 08:02] dingmeng-xue commented on #16319
My understanding is your solution can grant the rbac permission to your SP. For the time being, some management cmdlets calls AAD graph internally besides AAD cmdlets. for instance, New-AzAksCluster and Get-AzKeyVault, New-AzRoleAssignment. If you hope SP can use those cmdlets, required API permission is still needed.

We plan to support MSGraph at the beginning of the next month. The preview vers

[2021-11-03 08:04] SatishBoddu-MSFT commented on #13432
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

Please also do visit [Microsoft Q&A](https://docs.microsoft.com/en-us/answers/index.html) the home for technical questions and answers at Microsoft.

[2021-11-03 08:04] #13432 closed

[2021-11-03 10:07] andreasschild commented on #12331
@SaurabhSharma-MSFT: Thanks for comming back to me. I shorten the name of the event hub to 50 characters. With that, the issue was solved. But it would be good if this is documented anywhere.

[2021-11-03 10:32] Shawn-Yuen opened #16332 "How to improve copy file performance"
Hi, I have met a problem about copying file in ADLS gen2 using Start-AzStorageBlobCopy. I need to copy 20000 files from one folder to another folder in same container in ADLS gen2 and it could use about more than one hour to finish.  Is there any command or code demo could do the copy file in batch or pipeline or multithread to shorten the time it used? My expectation is that it could copy 20000 f

[2021-11-03 11:41] Agazoth commented on #16319
That is good news. Thanks again.

The permission I needed for New-AzRoleAssignment to work was: Directory.Read.All

The workaround in #16067 gave my service account delegated access, but it also gave me a link to the deprecated portal menu, and I was able to grant application access from there:
![image](https://user-images.githubusercontent.com/15127301/140053932-debb05f6-8099-418b-a388-9afcc74a79

[2021-11-03 11:41] #16319 closed

[2021-11-03 13:51] RyanD2596 commented on #16097
Can someone confirm if you will still be able to use any domain without it being verified in AAD as long as you update the module?

The way it's worded makes it sound as if the workaround is to verify the domain in AAD if you can't update your modules, therefore if you update you can continue using as is.

We use dev.azure.com in these fields and obviously can't add this to our AAD tenant.

[2021-11-03 14:47] HarshitaSingh-MSFT commented on #16276
@akata72, just checking in to see if you got a chance to check my last response.

[2021-11-03 15:38] dcaro commented on #16097
AzureAD imposes the `identifierUris` to use the default scheme or verified domain, Az.Resources has been updated to reflect this new requirement.
The updated module, does not set any value for the `identifierUris` property for the application associated with the service principal.

@RyanD2596 we provided the workaround in the case of updating the module is a problem but not to the new requirement.

[2021-11-03 18:14] MonikaReddy-MSFT opened #16333 "Connect-AzAccount using service principal times out on version 2.6.1, but works on 1.9.5"
Customer has raised an issues in Microsoft Q&A https://docs.microsoft.com/en-us/answers/questions/614480/index.html

and below is the issue they are facing :

Hi All,

I will try to keep it simple, been trying to figure this out for days. Migrating a CI/CD pipeline to a new runner on a new server. Install Azure PowerShell (all worked before on AzureRM) Any suggestions are appreciated!

@{Name=Conn

[2021-11-03 19:08] BhargaviAnnadevara-MSFT opened #16334 "Incorrect property values in Get-AzPrivateDnsZone cmdlet results"
## Description
We've had reports from a customer of late about `NumberOfVirtualNetworkLinks` property having incorrect values when executed without `-Name` and `-ResourceGroupName` parameters.

## Steps to reproduce
- Run `Get-AzPrivateDnsZone` with and without `-ResourceGroup` and `-Name` parameters and note the difference in output.

`NumberOfVirtualNetworkLinks` property in `Get-AzPrivateDnsZon

[2021-11-04 00:37] dingmeng-xue commented on #16334
Thank you for your reporting. Tagging and routing to the team member best able to assist.

[2021-11-04 00:45] dingmeng-xue commented on #16333
Thanks for reporting. Az.Accounts 1.9.5 was using ADAL which will be deprecated soon. According to the error from the latest Az.Accounts, it seems the network cannot be established correctly. Is there proxy on machine? Please reference https://docs.microsoft.com/en-us/powershell/azure/az-powershell-proxy?view=azps-6.6.0 to check proxy setting.

[2021-11-04 00:47] dingmeng-xue commented on #16332
Thank you for your reporting. Tagging and routing to the team member best able to assist.

[2021-11-04 00:48] dingmeng-xue commented on #16325
Thank you for your reporting. Tagging and routing to the team member best able to assist.

[2021-11-04 00:50] dingmeng-xue commented on #16324
Fixed it.

[2021-11-04 00:50] #16324 closed

[2021-11-04 04:14] Karishma-Tiwari-MSFT commented on #16298
Can you please try with the latest version of Azure Az PowerShell module as described here a and let me know the results:

https://docs.microsoft.com/en-us/powershell/azure/install-az-ps?view=azps-6.6.0

Install the [latest version of PowerShell](https://docs.microsoft.com/en-us/powershell/scripting/install/installing-powershell) available for your operating system.

[2021-11-04 05:05] itoc-dw commented on #16130
Hi Karishma, Appreciate the response.

I just kicked off the command without a PowerShell windows not using lighthouse and using tenant admin. Its been sitting there for a while so I think its actively working this time.

Is there a way to use our partner / lighthouse account to switch the directories instead of having to do something like Disconnect-AzAccount and do a new Connect-AzAccount using

[2021-11-04 07:17] #16226 closed

[2021-11-04 08:21] #16312 closed

[2021-11-04 14:08] kristofferpagels commented on #12228
Hi, thanks for your reply.
I have changed project since the creation of the issue and is currently not working with technology related to it. So its not relevant for me at the moment and can be closed.

[2021-11-04 14:08] #12228 closed

[2021-11-04 14:11] JCW-USDA commented on #16333
Yes, there is a proxy.  Yes, I created those environment variables but no luck.  For the 1.9.5 module that works, the proxy is configured in code.  With the latest version, I get the time out.   If I call out az.accounts -required version 1.9.5 all works.  Be mindful that this is the only change to the pipeline/script.  This makes me think the Microsoft.Azure.PowerShell.Cmdlets.Accounts.dll of the

[2021-11-04 14:26] dingmeng-xue commented on #16333
Please try to update proxy setting following our doc. It's due to our dependencies which cannot be controlled by Azure PowerShell layer.

[2021-11-04 14:59] JCW-USDA commented on #16333
Hi - tried again - here are the results

PS 7 with No code to call proxy / added  2 ENV sys variables - HTTP_PROXY http://server:port & HTTPS_PROXY http://server:port
  netsh winhttp show proxy command shows correct proxy server as server:port
  ClientSecretCredential authentication failed: Retry failed after 2 tries. Retry settings can be
       | adjusted in ClientOptions.Retry. (A connection at

[2021-11-04 15:57] Francisco-Gamino commented on #10756
Adding work item to enable validating Az modules from the generation branch against PowerShell 5.1. For more information, please see https://github.com/Azure/azure-powershell/issues/16265

[2021-11-04 16:53] amjads1 commented on #14415
I have reached out to PowerShell team to understand if they have all the information needed to implement this feature request and should have more updates to share in a week or so.

[2021-11-04 17:25] #16062 closed

[2021-11-04 17:51] koralski commented on #14415
Parameter name should be an alpha-numeric string. You your case '-a' has a special character that confuses the parsing.
Correct usage is: -Parameter @{'a' = 'hello'; 'b'='world'; 'c'='!'}
This will define env variables and set arguments in the begining of your script:
export a=hello b=world c=!
set -- hello world !

echo All params: $@
echo a=$a
echo b=$b
echo c=$c

[2021-11-04 19:11] Drewm3 commented on #14551
This fix is taking a little longer than initially expected, but it is scheduled to be fixed in the current sprint. I'll update this thread when I have a better ETA from development on when the fix will be rolled out.

[2021-11-04 19:16] amjads1 commented on #15888
Engaged with the ADE team and investigation in progress.

Reference document: https://docs.microsoft.com/en-us/azure/virtual-machines/windows/disk-encryption-sample-scripts#sample-powershell-scripts-for-azure-disk-encryption

[2021-11-04 19:21] amjads1 commented on #14415
@vivere-dally Can you try using the above correct syntax and confirm if that resolves the issue?
We will also work on improving the documentation with some clear examples to avoid these issues in the future.

[2021-11-04 20:35] jiaczh commented on #12964
Hey, Your sas  urlshould be the **sas of that exact file, not container or the storage**

[2021-11-04 23:39] oWretch commented on #12964
@SatishBoddu-MSFT While I no longer have a need to resolve this issue (we were testing the P2S gateway feature and have now decommissioned it) my original comment still stands. I ran the commands _as provided in the documentation_ (plus adding the required commands to get the storage context) and it failed.

@jiaczh I am requesting a SAS URL for a specific file - note the `-Blob emptyfile.txt` par

[2021-11-05 00:19] markr-rpc opened #16340 "Connect-AzAccount doesn't work in Visual Studio Code integrated console when using PowerShell 5.1"
There is an active issue in VS Code PowerShell that they requested to create a link with the Azure-Powershell group. Their ticket is at:
https://github.com/PowerShell/vscode-powershell/issues/3633

It looks like there is a dependency issue, this issue started arising after the update to Az.Accounts version 2.60, specifically when using Windows PowerShell 5.1 inside the Visual Studio Code Integrate

[2021-11-05 07:24] vivere-dally commented on #14415
Hello.
I don't know if that solves the issue because I can see in the post that I mentioned trying the syntax mentioned by @koralski. It's at the part: *I'm running it as follows... Expected result... Actual result*

I see that you mention the variables are exported as `environment variables`. In the script that I was using to test how parameters are passed, I was expecting them to be passed follo

[2021-11-05 08:43] FingerlessGlov3s commented on #16340
I too and getting this issue.

[2021-11-05 11:00] blueww commented on #16332
@Shawn-Yuen
Start-AzStorageBlobCopy  will do server side async copy. It doesn't aim for performance.
If you would like to copy the blobs faster, you can try to use [AzCopy ](https://docs.microsoft.com/en-us/azure/storage/common/storage-use-azcopy-v10)(by call it in PSH script), AzCopy is designed for performance.

[2021-11-05 11:40] Shawn-Yuen commented on #16332
We used Azcopy before, but I need to copy some files between different containers at the same time. Azcopy seems can't do that so we use powershell instead of azcopy. Should I use both methods depends on different situations？But honestly, I prefer use powershell cos it is much more flexible. Could you provide some suggestions on powershell coding, for example, use runspace pool to improve powershe

[2021-11-05 12:48] JCW-USDA commented on #16333
Can we put the label needs triage back?

[2021-11-05 13:14] dingmeng-xue commented on #16340
Thanks for reporting. We have got the similar issue recently. My speculation is due to the combability between Azure.Core 1.20.0 and Azure.Identity 1.4.0. This issue is just on .Net framework.

Could you help to execute `[System.AppDomain]::CurrentDomain.GetAssemblies() | Where-Object Location | Sort-Object -Property FullName | Select-Object -Property FullName, Location, GlobalAssemblyCache, IsFul

[2021-11-05 13:22] dingmeng-xue commented on #16333
Hi JCW-USDA, triage label means owner team is not clear. Currently, this issue doesn't belong to any service team. It's just usage question.

Does "No code to call proxy" mean proxy server doesn't receive any request?

[2021-11-05 13:28] JCW-USDA commented on #16333
Thanks for clearing up the definition of triage.   No code means I followed your suggestion.  I am not calling the proxy in code, but am doing it with an ENV system variable as reported. I get the same.  If I run netsh winhttp show proxy, the output is correct.  If I make the script use az.account 1.9.5 there are no time outs and I can get to the tenant successfully.  Leads me to believe I do not

[2021-11-05 14:32] ChristopherGLewis commented on #8735
This bug is over two years old - @allegradomel @Am018 any updates on this?

[2021-11-05 15:13] gelarkin opened #16345 "[Feature]: Add EndTime Parameter to the cmdlet Get-AzAutomationJobOutput"
### Description of the new feature

Add an EndTime Parameter for the cmdlet Get-AzAutomationJobOutput. This will allow customers to filter date ranges much easier.

### Proposed implementation details (optional)

_No response_

[2021-11-05 15:45] ShilpiGautam commented on #16007
Closing this as it has been 8 days since last comment. from team and the thread seems to be inactive  @jasonhornatcrowe pls feel free to reactivate this thread if you need more help,

[2021-11-05 15:45] #16007 closed

[2021-11-05 17:08] NickDorak opened #16346 "The Get-AzVM doesn't have consistent output"
### Description

The Get-AzVM returns different results depending if the ResourceGroupName parameter is included. This is undocumented and confusing to users. The command should return at least same column names for predictable results.
i.e.
Get-AzVM -Name "VMName1" -ResourceGroupName "NGName2" -Status | FL
Get-AzVM -Name "VMName1" -Status | FL

### Issue script & Debug output

[code]

### Environ

[2021-11-05 17:46] JCW-USDA commented on #16333
Also, can you further explain: "Az.Accounts 1.9.5 was using ADAL which will be deprecated soon"  - Is the service principal related to this?  Are there any specific requirements for > 1.9.5 in regards to app service principal? I am having trouble finding a good resource on that.
Thank you,

[2021-11-05 20:00] cahaseler commented on #16340
Also seeing this issue.

[2021-11-05 20:09] cveld commented on #8412
So the current `*AzAD` cmdlets are still using the deprecated Azure AD Graph endpoint?

[2021-11-05 20:16] dcaro commented on #8412
We just released a preview of Az.Resources that uses MS Graph.
Can you try it and share your feedback?
More info here: https://techcommunity.microsoft.com/t5/azure-tools/azure-powershell-ignite-release/ba-p/2907139

[2021-11-05 20:28] Azarian24 commented on #16340
### Environment:
[code]
### Modules

[code]

### Error
Connect-AzAccount -Debug

[code]

### Corrective Steps

1. Removed AzureRmContext.json and AzureRmContextSettings.json

It does work when not in Integrated Shell or in ISE

[2021-11-05 20:48] DevonK3 commented on #8412
Thanks, @dcaro. I cannot install preview as I use Homebrew to install PowerShell. But I will once GA.

One question, I don't see changes for providing PowerShell function for the AAD Group Owners in [Az.Resources 5.0.0-preview changes][https://docs.microsoft.com/en-us/powershell/azure/azps-msgraph-migration-changes?view=azps-6.6.0)

Currently, just these functions: Get-AzADGroup, Get-AzADGroupMemb

[2021-11-05 23:07] Ayanmullick commented on #13168
Thanks to @grizzlytheodore , one can now use the code below to `Set-AzVMBootDiagnostic` to `managed storage account` using `Az.Compute v4.19.0`.

[code]

I think it should be added to the [cmdlet reference](https://docs.microsoft.com/en-us/powershell/module/az.compute/set-azvmbootdiagnostic?view=azps-6.6.0#examples) too.

@mikefrobbins

[2021-11-05 23:34] DiscoveringWorld commented on #15430
If you don't want to fix that on  PowerShell 5.1 it's fine. We can close that.

I just use PowerShell 7.1.4 and later now.

[2021-11-06 02:05] aubrey-y commented on #12142
your documentation is inaccurate, see the stack overflow post

[2021-11-06 02:47] pragnagopa opened #16349 "[Functions] Add support to create dotnet-isolated apps"
### Description of the new feature

https://github.com/Azure/azure-powershell/blob/main/src/Functions/custom/FunctionsStack/WindowsFunctionsStacks.json and  https://github.com/Azure/azure-powershell/blob/main/src/Functions/custom/FunctionsStack/LinuxFunctionsStacks.json are missing options to create `dotnet-isolated` apps.

Please see https://github.com/Azure/azure-functions-ux/blob/dev/server/src

[2021-11-06 03:37] dingmeng-xue commented on #16340
Thanks. we need the output message of `[System.AppDomain]::CurrentDomain.GetAssemblies() | Where-Object Location | Sort-Object -Property FullName | Select-Object -Property FullName, Location, GlobalAssemblyCache, IsFullyTrusted` after you hit the issue when executing `Connect-AzAccount`

[2021-11-06 15:20] markr-rpc commented on #16340
Before running Connect-AzAccount:
FullName                                                                                                                        Location
--------                                                                                                                        --------
AutoMapper, Version=6.0.2.0, Culture=neutral, PublicKeyToken=be96cd2c38ef1005

[2021-11-06 15:21] markr-rpc commented on #16340
After running Connect-AzAccount:
FullName                                                                                                                        Location
--------                                                                                                                        --------
AutoMapper, Version=6.0.2.0, Culture=neutral, PublicKeyToken=be96cd2c38ef1005

[2021-11-07 09:12] rvbaast commented on #12908
I have since then learned that the SQL server and log analytics were in a different tenant. So no this is no longer relevant. Thanks for following up on this question.

[2021-11-07 18:25] akata72 commented on #16276
Yes. I got this sorted out. This can be closed.

[2021-11-07 22:16] viniciusvillas commented on #12304
Hi Sharma! Thanks for the reply! Better late than never, I think ;)
I've been using the REST interface - I copied the calls from the Azure Portal - to dismiss these classification suggestions, so I can't say if this is fixed or not on the cmdlet. To be honest, I lost faith that this would ever be responded - which is odd, given the size of the company behind Azure and the annual profit they get fr

[2021-11-08 02:36] blueww commented on #16332
@Shawn-Yuen

Could you please share more details for you scenarios?

- Does the copy inside same storage account, but in different containers? Or between different account?
- Will you copy all files in the container, or part of the files?
- The normal file size, file count in a copy?

For "I need to copy some files between different containers at the same time. Azcopy seems can't do that ", would

[2021-11-08 04:18] Shawn-Yuen commented on #16332
Yeah sure.
- Does the copy inside same storage account? Or between different accounts?
   A: Same storage account.
- Will you copy all files in the container, or part of the files? Any pattern?
   A: part of them,
   FROM: halley-etl-sl-parallel-th  202101/PAS/EGTD    TO: halley-etl-sl-p01-land	  WRK/TH/PAS/EGTD
- The normal file size, file count in a copy?
   A: The file size is diverse, the tota

[2021-11-08 05:13] fowl2 commented on #12823
this issue still exists..

[2021-11-08 05:18] #15802 closed

[2021-11-08 06:09] Karishma-Tiwari-MSFT commented on #16298
Did you get a chance to look into the suggestions provided above? Please let me know. Thanks.

[2021-11-08 06:49] #14583 closed

[2021-11-08 07:01] blueww commented on #16332
@Shawn-Yuen

From the [Azcopy doc](https://docs.microsoft.com/en-us/azure/storage/common/storage-use-azcopy-blobs-copy#copy-a-directory), it looks you should set the source as a Uri of source blob Dir with SAS token, and destination should also be a Uri of dest Blob Dir. So it looks your  usage of Azcopy above is not correct. Would you like to change the source and dest to Uri and try again? (If y

[2021-11-08 07:44] jjindrich commented on #15802
@wyunchi-ms I tested it but ResourceGroupName property is still missing. I used Install-Module -Name Az.Aks with latest version (2.5.0).
I run
`$c = Get-AzAksCluster
$c[0].Id
$c[0].ResourceGroupName
`

Getting Id works. But getting ResourceGroupName failed.

Please can you check it ?

[2021-11-08 08:10] Shawn-Yuen commented on #16332
@blueww
As you suggested, I generate a SAS token using SP in my code, but it raise some error. It looks like the value of the $sas_token variable have been changed when I pass to azcopy command.

Code:
$storage_context = New-AzStorageContext -StorageAccountName $storage_account_name -UseConnectedAccount
$sas_token=New-AzStorageContainerSASToken -Name "halley-etl-sl-sit" -Permission rwdl -context $

[2021-11-08 08:38] dingmeng-xue commented on #16346
Thank you for your reporting. Tagging and routing to the team member best able to assist.

[2021-11-08 09:07] blueww commented on #16332
@Shawn-Yuen

For AzCopy failures, my team doesn't own AzCopy so we might not be the best person to answer it.
Would you like to raise an issue for AzCopy in https://github.com/Azure/azure-storage-azcopy/issues?
Please indicate how the SAS is generated, and how you run AzCopy, and the failure.

Besides that, from the above error, it looks fail since try to GetAccountInformation on dest with Oauth b

[2021-11-08 09:27] Shawn-Yuen commented on #16332
Thanks WEIWEI, I  will raise a ticket to AzCopy team then and will update this issue when I receive feedback.

[2021-11-08 11:12] PramodValavala-MSFT commented on #16346
@NickDorak Without the resource group name, you can't really pinpoint a particular VM (since they are not required to be unique across resource groups). The docs cover [this scenario which allows to filter through all available VMs in a subscription](https://docs.microsoft.com/en-us/powershell/module/az.compute/get-azvm?view=azps-6.6.0#example-6--get-all-virtual-machines-using-filtering).

[2021-11-08 11:25] #16276 closed

[2021-11-08 13:57] JapNolt commented on #13887
This issue can probably be closed. It's been so long ago that I can't remember but I vaguely remember that the deployments just magically started working again.

[2021-11-08 13:57] #13887 closed

[2021-11-08 15:16] YogiPanchanathan opened #16353 "Failed to create a 'Settings' from the text 'Assembly references and imported namespaces serialized as XML namespaces'."
### Description

Recently we are getting this error

"Failed to create a 'Settings' from the text 'Assembly references and imported namespaces serialized as XML namespaces'."

More details step on reproducing this issues  is Given in the below link
https://developercommunity.visualstudio.com/t/PowerShell-script-with-workflow-stopped/1564277?space=21&entry=problem&q=PowerShell+workflow+&moreInfo=tr

[2021-11-08 15:51] JCW-USDA commented on #16333
Could there be issues since this is gov environment?

[2021-11-08 15:57] henriblMSFT commented on #14083
The bug does not appear to be fixed. Do you need any additional information from me here?

[2021-11-08 16:17] Manbearpiet commented on #14695
Please don't.

[2021-11-08 16:50] MariaLysik commented on #16340
In my case the only difference between these two was this assembly being added after running Connect-AzAccount:

`System.Collections, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a`

[2021-11-08 16:54] ErnieBot opened #16354 "Get-AzSentinelAlertRuleTemplate "Tactics" value always empty"
### Description

The "Tactics" value appears to be always empty when retrieving all rule templates using Get-AzSentinelAlertRuleTemplate.

There do appear to be tactics associate with the templates when using the API or manually viewing the templates in the interface. (Sentinel => Configuration => Analytics => Rule templates)

### Issue script & Debug output

[code]

### Environment data

[code]

[2021-11-08 17:08] madbrenner commented on #15940
Update: I have tried upgrading to PowerShell 7.2.0 and Az 6.6.0 now, and see the same problem.

[2021-11-08 17:16] rajakcava commented on #15024
Thank You @panchagnula we are currently using the work around suggested in earlier comment by @pointsbet-preston . Please let me know the alternate command/approach that we can use. Thank You !

[2021-11-08 17:17] tylerforaie commented on #14778
I believe I got the answer to my question and at this time I have no follow up questions. This can be closed off

[2021-11-08 17:17] #14778 closed

[2021-11-08 17:26] panchagnula commented on #15024
@Francisco-Gamino what is the command in PS to use for Function Apps here, the customer is using WEbApp commands which is not recommended for function apps.

[2021-11-08 18:42] JCW-USDA commented on #16333
Solved the issue - the GitLab runner process was not calling the proxy, even though the ENV variable and scripting was setting it and working in the older module.  This certainly put me in another direction when working with older module.  Sorry for the mix up.  Please close

[2021-11-08 18:51] #12987 closed

[2021-11-08 19:14] KennethOyibo opened #16355 "Failed to create a 'Settings' from the text 'Assembly references and imported namespaces serialized as XML namespaces'."
### Description

I got this error when running a powershell script task in the Azure pipeline. This task has ran successfully in the past and the only difference I noticed is that the agent's PS module was upgraded from 6.4.0 to 6.5.0. Also, the powershell script uses workflow. I could not reproduce this error locally.
This issue is linked to: https://github.com/Azure/azure-powershell/issues/16353

[2021-11-08 22:10] ericcsinger commented on #15869
Just wanted to add there is plenty of metadata you're not pulling back in this command that could be pulled back, or at least I'm not seeing it.

For example, look at the API request [here](https://docs.microsoft.com/en-us/rest/api/resources/subscriptions/list-locations)

[2021-11-08 23:35] Azarian24 commented on #16340
[code]

[2021-11-09 00:26] Paxilein opened #16356 "get-azalertrule not showing all Alert Rules"
### Description

I'd expect to get all alert Rules of the subscription when running get-azalertrule without any parameters like the Get-AzMetricAlertRuleV2 does...

Or it should at least show some useful information instead of this default error... Like which parameters are mandatory etc.

### Issue script & Debug output

[code]

### Environment data

[code]

### Module versions

[code]

### Error

[2021-11-09 01:20] dingmeng-xue commented on #16333
Thanks for the information. It's really hard when handling multiple products and components. I'm closing this issue. Please contact us if you need further assistant.

[2021-11-09 01:20] #16333 closed

[2021-11-09 02:07] markcowl commented on #16355
One thing:  Set-AzContext may have unintended side-effects, as it sets the property of the current context.  Consider using Set-AzContext with the -Name parameter (which creates anew context and selects it), or using Select-AzContext (which selects among existing contexts).  This behavior is the same between all versions of the Az modules, however.

[2021-11-09 03:03] VeryEarly opened #16357 "[Az.Resources]: implement passthru for update-AzAdApp/SP"
### Description of the new feature

implement passthru for update-azadapplication, update-azadserviceprinicpal, return true when parameter "passthru" was provided.

### Proposed implementation details (optional)

_No response_

[2021-11-09 03:46] brianlehr commented on #14326
#please-close

[2021-11-09 06:43] dingmeng-xue commented on #16354
Thank you for your reporting. Tagging and routing to the team member best able to assist.

[2021-11-09 08:46] PramodValavala-MSFT commented on #16354
@ErnieBot I can confirm the same. Looks like it does populate for the Fusion Kind of the Rule Templates but not for the others. We are routing this to the appropriate team.

[2021-11-09 09:37] imeya commented on #11248
@SaurabhSharma-MSFT , thank you. it can be closed.

[2021-11-09 09:41] dingmeng-xue commented on #16109
@gokusupa , is the issue still there? I cannot reproduce this issue. I tried Az.Accounts 2.5.3 and Az.Resources 4.3.0. Could you share detailed information and what module has installed on your machine?

[2021-11-09 10:07] koenig-thomas opened #16362 "New-AzEventHubKey always generates a new primary key instead of a secondary key since version 1.9.0"
### Description

Since version 1.9.0 from module Az.EventHub the command `New-AzEventHubKey` always generates a new primary key - no matter if `PrimaryKey` or `SecondaryKey` is used for `RegenerateKey`-switch.

Our script needs to re-generate the Event Hub-keys (not namespace keys) by using this command:

New-AzEventHubKey -ResourceGroupName X -Namespace X -EventHub X -Name X -RegenerateKey Second

[2021-11-09 11:05] NimalDas commented on #14885
@theheatDK  - I think Az Migrate module is used for agentless scenario (vmware). For migrating of physical and hyper-v workloads it still uses ASR in the backend, hence you should be using Az.RecoveryServices cmdlets

[2021-11-09 12:24] nidiculageorge commented on #15976
Hi Team,

@dingmeng-xue

Sorry for the late reply i have tried restarting the cloudshell and ran the command below command.The same issue

![image](https://user-images.githubusercontent.com/43850474/140923734-60f660c1-4c32-4533-896c-a005e9088e03.png)

[2021-11-09 12:27] nidiculageorge commented on #15976
![image](https://user-images.githubusercontent.com/43850474/140924189-97e3088a-84d0-4743-b689-bfe267527648.png)

[2021-11-09 14:29] dingmeng-xue commented on #15976
Hi @nidiculageorge , the message shows you have already installed and imported the latest Az.Accounts. Why do you need to install it again in CloudShell?

[2021-11-09 14:30] dingmeng-xue commented on #16362
Thank you for your reporting. Tagging and routing to the team member best able to assist.

[2021-11-09 14:34] dingmeng-xue commented on #16356
Thanks for reporting. It should be due to missing default parameter set when this cmdlet has multiple parameter sets.

https://github.com/Azure/azure-powershell/blob/40b58bc55a742d2fa92ca2020cbc3ef54428f043/src/Monitor/Monitor/Alerts/GetAzureRmAlertRuleCommand.cs#L29

[2021-11-09 14:35] brianstringfellow opened #16364 "Template Spec with Relative Ancestor Path"
### Description

@dingmeng-xue @dcaro
From discussion: https://github.com/Azure/azure-powershell/discussions/16106

Is it possible to specify a templateLink with a relativePath that traverses the parent or further ancestor folders?

[code]
The error message I see indicates it is not possible.
`"message": "The artifact path '..\\Resources\\resourceGroups.json' is not supported. Artifact paths canno

[2021-11-09 14:39] dingmeng-xue commented on #16364
Thank you for your reporting. Tagging and routing to the team member best able to assist.

[2021-11-09 15:07] DevonK3 commented on #16072
Any updates on this?

[2021-11-09 15:27] nidiculageorge commented on #15976
@dingmeng-xue

Then why i am getting the following error while opening the cloudshell every time

Import-Module: /opt/microsoft/powershell/7-preview/profile.ps1:13
Line |
  13 |  Microsoft.PowerShell.Core\Import-Module -Name PSCloudShellUtility
     |  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
     | This module requires Az.Accounts version 2.6.0. An earlier version of Az.A

[2021-11-09 16:17] dingmeng-xue commented on #15976
is it due to the scope of `Microsoft.PowerShell.Core\Import-Module -Name PSCloudShellUtility` is incorrect? Could you manually execute import-module and set scope to currentuser as well?

In addition, you can use `Get-Module Az* -ListAvailable` to get all installed Az.Accounts.

If Az.Accounts only has the latest version but Import-Module still shows error, you need to raise the question to PowerS

[2021-11-09 16:56] FingerlessGlov3s opened #16367 "[Microsoft.WindowsAzure.Commands.Common.Storage.ResourceModel.AzureStorageTable] does not contain a method named 'Execute'"
### Description

I'm trying to update a single row in my Storage account table but I'm hitting the below error.

I've tried both `$storageTablesRow | Update-AzTableRow -Table $storageTable` and `Update-AzTableRow -Table $storageTable -entity $storageTablesRow`

### Issue script & Debug output

[code]

### Environment data

[code]

### Module versions

[code]

### Error output

[code]

[2021-11-09 18:53] SaurabhSharma-MSFT commented on #11248
@imeya Thanks for the confirmation.

[2021-11-09 19:06] pccrdotnet commented on #16340
I have the same problem:

Connect-AzAccount : Method 'GetTokenAsync' in type 'Azure.Identity.ClientSecretCredential' from assembly 'Azure.Identity, Version=1.4.0.0,
Culture=neutral, PublicKeyToken=92742159e12e44c8' does not have an implementation.
At
+     $user = Connect-AzAccount -ServicePrincipal -Subscription $subcri ...
+             ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

[2021-11-09 19:10] Karishma-Tiwari-MSFT commented on #16298
Thanks for bringing this to our attention. We will now close this issue. Please share the updates when you get a chance and if there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2021-11-09 19:12] SaurabhSharma-MSFT commented on #16153
@aznetsuppgithub Can you please look into this.

[2021-11-09 19:15] Karishma-Tiwari-MSFT commented on #13379
@Francisco-Gamino A customer is seeing this issue when they are using Azure Powershell **task** on **Azure DevOps** to deploy the service. The Powershell task does not have an option to select latest version (7.1.4), thus they are still seeing this error. More details provided in this issue: https://github.com/Azure/azure-powershell/issues/16244

Can you please share your insights on how this can

[2021-11-09 19:23] Francisco-Gamino commented on #16244
Hello @cbmetri -- This issue is happening because you are running the task in PowerShell 5.1. Would it be possible to run the same script using PowerShell Core (pwsh) 7.0 or higher? This should fix the issue.

[2021-11-09 21:05] theheatDK commented on #14885
@NimalDas - You are right that ASR are used in the backend, but I do not believe you can do anything via Az.RecoveryServices. I created a support ticket regarding some problems with Azure Migrate on Hyper-v and they asked if I had done anything via ASR, because this could cause problems. Everything should be done via Azure Migrate.

Since Az.Migrate only supports VMware this should be stated in th

[2021-11-09 21:41] ccmaxpcrew commented on #16072
Hi @DevonK3 , the power shell SDK for consumption is using an version of the budgets API, which works on an older format of filters i.e. the 'filters' property. On the other hand, Azure portal uses the latest API version where this property has been replaced with 'filter'. This new property supports many more dimensions for filtering. Since 'filter' is not backward compatible with 'filters', budge

[2021-11-09 21:49] DevonK3 commented on #16072
Understood. I rewrote my scripts using Python SDK and it works fine. It doesn't make sense to use REST or ARM as I am trying to use PowerShell to get all Budgets for my Subscription.

Can you add this note in the Consumption SDK so others don't suffer the same issue?

[2021-11-09 22:40] Sandido commented on #16041
@dingmeng-xue ,
The Invoke-AzVMRunCommand does have the VMName parameter to indicate which CM the script is to be run on. I'm guessing the primary ask is for Get-Job and the content in the VMRunCommand.

How is the user using Get-Job?
From reading its public docs, seems like a core cmdlet that returns properties about generic background jobs.
Does Get-Job just return all properties of a background

[2021-11-09 23:10] SaurabhSharma-MSFT commented on #16362
@koenig-thomas I have checked this in my environment and you are correct that the command is always generating a Primary Key regardless of `RegenerateKey` option. I have tested this with few other versions like  1.7.2 and 1.8.0 and I could see the same behavior.
**Before -**
![image](https://user-images.githubusercontent.com/38112130/141020098-387289e2-ef68-47be-a012-3623380fd2ce.png)

**After - N

[2021-11-09 23:55] dillonredding commented on #12058
@SaurabhSharma-MSFT, since I'm no longer working with Azure APIM and this was about a year ago, I'm unsure whether this is still an issue.

[2021-11-10 01:15] Karishma-Tiwari-MSFT commented on #16130
I am glad that your issue is resolved.

The Azure PowerShell Get-AzSubscription cmdlet will show the TenantId for the managing tenant by default. You can use the HomeTenantId and ManagedByTenantIds attributes for each subscription, allowing you to identify whether a returned subscription belongs to a managed tenant or to your managing tenant.

Similarly, Azure CLI commands such as az account list

[2021-11-10 01:15] #16130 closed

[2021-11-10 01:52] sarajag opened #16368 "Start-AzSynapseTrigger throws error but starts the trigger"
### Description

When using the {Start-AzSynapseTrigger} PS cmd in Azure Powershell 5.0 task in Azure DevOps pipeline, the cmd fails with the error
"Request operation requires element of type Object byt target is String"
However, in the background it would have started the trigger.

### Issue script & Debug output

[code]

### Environment data

[code]

### Module versions

[code]

### Error output

[2021-11-10 02:57] blueww commented on #16367
@FingerlessGlov3s

Please use "$storageTable.CloudTable" instead of "$storageTable" in following command :
`$storageTablesRow | Update-AzTableRow -Table $storageTable.CloudTable`

Like in your script, in "Get-AzTableRow", you already use "$storageTable.CloudTable"
`Get-AzTableRow -Table $storageTable.CloudTable -PartitionKey $partitionKey1 -RowKey ("CA")`

For all cmdlets from AzTable (like Update

[2021-11-10 03:12] brwilkinson commented on #15619
Commenting to follow.

@dingmeng-xue is this something that has being considered, I assume closed because this is not a current priority?

[2021-11-10 03:24] dingmeng-xue commented on #15619
We have priority to improve `Invoke-AzRestMethod`. It will analyze user's input URL and figure out correct resource name (scope) according to Azure environment variables for further authentication. Since your endpoint cannot be recognized by Azure PowerShell, it cannot be supported even we improve it as I mentioned above.

[2021-11-10 06:32] cbmetri commented on #16244
Hello @Francisco-Gamino , that's exactly what I mentioned in issue description :)

There is no option for us to change the version to 7 or higher on Azure PowerShell task.
![image](https://user-images.githubusercontent.com/6189344/141061401-873ad11f-3857-4f94-b363-c34759999424.png)

Any workaround to point to higher version?

[2021-11-10 08:14] jmyerscough commented on #15749
Hi @Aviv-Yaniv ,

I set -Kind to EventGrid. Here is the code I used.

`$location = "west europe"
**$connectionKind = "EventGrid"**

$dataFormat = "JSON"
$blobEventType = "Microsoft.Storage.BlobCreated"

$consumerGroup = '$Default'

$eventHubName = "adxeventhubmyerscough"
$eventHubNamespace = "adxeventhubnamespacemyerscough"
$eventHubId = (Get-AzEventHub -ResourceGroupName $resourceGroup -Namespace

[2021-11-10 08:42] Aviv-Yaniv commented on #15749
Hey @jmyerscough and thank you with providing more details!

The location parameter is passed as:
[code]
Instead of:
[code]

Could you please invoke as:
[code]

[2021-11-10 09:45] FingerlessGlov3s commented on #16367
Silly me, I see where I went wrong now. I should of really noticed that, thanks for your help.

[2021-11-10 09:45] #16367 closed

[2021-11-10 10:32] #15990 closed

[2021-11-10 13:52] dingmeng-xue commented on #16291
Below is an example for upcoming change

User-Agent: FxVersion/6.0.21.25307 OSName/Windows OSVersion/Microsoft.Windows.10.0.22000 Microsoft.Azure.Management.Sql.SqlManagementClient/1.56.0.0 **Az.Sql/3.5.1** PSVersion/v7.2.0-preview.6 AzurePowershell/v0.0.0

[2021-11-10 14:21] MariaLysik commented on #16340
Today it started to for for me, no workarounds needed.
Guys, did you fix it??? Why not bragging about it? ;-)

[2021-11-10 15:34] dingmeng-xue commented on #16340
We don't know which module or assembly creates this incompatibility issue. Current speculation is Azure.Identity 1.4.0 is not compatible with Azure.Core 1.20.0 when one unknown dependency is loaded at first in Dotnet framework. Another case shows System.Threading.Tasks.Extensions but it is not the root cause of current case.
We will provide an engineering build which seems fix this issue. We will

[2021-11-10 16:10] isra-fel commented on #16275
Tested pipeline builds:

- [ ] Az sign: https://dev.azure.com/azure-sdk/internal/_build/results?buildId=1188903&view=results
- [ ] Common sign:

[2021-11-10 16:11] isra-fel commented on #16054
@BethanyZhou Hi Beisi, please also consider this issue when verifying Az.Resources. Thanks

[2021-11-10 16:31] PramodValavala-MSFT commented on #16346
@NickDorak Just following up here... Hope my previous comment clears things up.

[2021-11-10 16:48] brwilkinson commented on #15619
Thank you @dingmeng-xue

Using invoke-AzRestMethod would work for my needs if it was generating it's own scoped token based on the resource, good to know.

[2021-11-10 17:34] mr-scripting commented on #9160
This would be especially useful when using Azure Functions and service principal with certificate stored in Keyvault. The use of certificates is preferable to passwords.

[2021-11-10 17:44] nitedani commented on #1978
I just want to create a generalized image from the Windows VM but Azure provides no easy way to do this.
I understand how generalizing a VM works and I have no problem with that. My issue is that other platforms provide simple solutions for the user to do this, but Azure, the one being developed by Microsoft, the same company that made Windows, doesn't.

[2021-11-10 17:50] NickDorak commented on #16346
@PramodValavala-MSFT, your response doesn't explain why **totally** different results are returned.
I understand that you may not be able to pinpoint a single resource, but in the cause where there is a unique resource and the one item is returned, the information is not consistent.

[2021-11-10 18:46] mileee6 commented on #16097
Hi,

I'm having the same issue, I have az.resource 4.4.1 and its  asking me to fill up identifierUris, can you confirm is this will be mandatory?

[2021-11-10 18:58] dcaro commented on #16097
It depends on the configuration of your tenant, if your tenant does not allow empty identifiedUris, you will have to specify a valid value when creating a service principal or an application. The [Azure Active Directory documentation](https://docs.microsoft.com/en-us/azure/active-directory/develop/reference-breaking-changes#appid-uri-in-single-tenant-applications-will-require-use-of-default-scheme

[2021-11-10 19:23] SaurabhSharma-MSFT commented on #12058
@dillonredding  Thanks for the confirmation.  We will close this issue for now.

Thanks.

[2021-11-10 19:23] #12058 closed

[2021-11-10 21:03] akata72 commented on #14450
This can be closed.

[2021-11-10 21:58] kevindstanley1988 commented on #16340
I am having the same issue here.

Connect-AzAccount : Method 'GetTokenAsync' in type 'Azure.Identity.ClientSecretCredential' from assembly 'Azure.Identity, Version=1.4.0.0,

[2021-11-10 22:10] Francisco-Gamino commented on #16244
Hello @cbmetri -- In that same task, what options do you see under the `Advance` tab?

Do you see the option to `Use PowerShell Core`?

![image](https://user-images.githubusercontent.com/12720858/141201746-986eff56-2d78-43e4-ba80-f014efdef916.png)

[2021-11-10 23:43] anwather opened #16370 "Get-AzPolicyAlias - value cannot be null"
### Description

Running Get-AzPolicyAlias - error is generated Value cannot be null. (Parameter 'source')

Running with debug seems to return results up to a certain point and then it errors out

### Issue script & Debug output

[code]

### Environment data

[code]

### Module versions

[code]

### Error output

[code]

[2021-11-11 02:15] parkybyang opened #16372 "[Doc]: Import-AzureRMApiManagementApi"
### Description

-SpecificationFormat   parameter,
acceptable value should include "OpenApi" and "OpenApiJson".

[2021-11-11 02:42] dingmeng-xue commented on #16368
Thanks for reporting. Could you try the latest version of Az.Synapse?

[2021-11-11 02:44] dingmeng-xue commented on #16353
Thanks for reporting. Could you provide more information about reproduce step?

[2021-11-11 03:37] dcaro commented on #16372
@parkybyang thanks for reporting this issue, the accepted values for the `-SpecificationFormat` parameter are up to date in the reference documentation of the [Az.ApiManagement module](https://docs.microsoft.com/en-us/powershell/module/az.apimanagement/import-azapimanagementapi?view=azps-6.6.0).

Since the [AzureRM modules will retire by February 2024](https://azure.microsoft.com/en-us/updates/upd

[2021-11-11 03:42] cbmetri commented on #16244
Blame me! I overthought these two combination.
![image](https://user-images.githubusercontent.com/6189344/141232330-bbdf9443-3a0f-4018-aea4-fda70f6443ba.png)

Deployment succeeded after selecting "Use PowerShell Core" option.

FYKI, all our pipelines are failing in recent times due to this breaking change. It would  have been really helpful if MS sends a notification mail to all PowerShell task us

[2021-11-11 03:42] #16244 closed

[2021-11-11 07:20] pshelton-skype commented on #15970
A valid workaround is to add a Policy with a [`Modify` effect](https://docs.microsoft.com/en-us/azure/governance/policy/concepts/effects#modify) in addition to the built-in `Deny` policy. Per the [order of operations](https://docs.microsoft.com/en-us/azure/governance/policy/concepts/effects#order-of-evaluation), this Policy will be evaluated first and always set the payload's value for `enableSoft

[2021-11-11 08:31] PramodValavala-MSFT commented on #16368
@sarajag The error you are seeing is from the `ForEach-Object` cmdlet since the [output of the `Start-AzSynapseTrigger`](https://docs.microsoft.com/en-us/powershell/module/az.synapse/start-azsynapsetrigger?view=azps-6.6.0#outputs) cmdlet is a Boolean value.

[2021-11-11 08:31] wyunchi-ms commented on #15802
The PR is merged but not released. This issue will be fixed when next release arount 2021-12-08.

[2021-11-11 08:49] mileee6 commented on #16097
Thanks, so its only mandatory when its created thought powershell because when I create through portal is not mandatory.

[2021-11-11 08:53] mileee6 commented on #16097
Also I looking for help about the right API permissions that a serviceprincipal must have to register new app.
I already give this permissions but I'm still having having error : Resource not found for the segment 'me'.

Do you know where can I address this? Thanks in advance
Application.ReadWrite.All
Application.ReadWrite.OwnedBy
Directory.ReadWrite.All

[2021-11-11 08:54] Francisco-Gamino commented on #15430
/cc @AnatoliB @stefanushinardi @michaelpeng36

[2021-11-11 08:56] Francisco-Gamino commented on #16244
@cbmetri -- Thank you for the update. I am glad the workaround was able to unblock you.

Apologies that one of our updates broke your deployment pipelines. This issue happened because our test infrastructure was not validating against Windows PowerShell 5.1. I have opened https://github.com/Azure/azure-powershell/issues/16265 to get this fixed. In addition, I have a fix for the `New-AzFunctionApp`

[2021-11-11 11:00] g7cnp opened #16375 "Az.Storage on Windows 11"
### Description

On machines running Windows 11 (22000) with Az.Storage 3.12.0 i'm getting an error importing the module.

This seems to be the import of Microsoft.Azure.PowerShell.Cmdlets.Storage.dll

### Issue script & Debug output

[code]

### Environment data

[code]

### Module versions

[code]

### Error output

[code]

[2021-11-11 12:35] Ohad-Fein opened #16378 "Invoke-AzOperationalInsightsQuery: Missing error property"
### Description

Error property is missing from the QueryResults class and therefore, PartialError errors cannot be detected.
The [Error property was added to the .NET SDK ](https://github.com/Azure/azure-sdk-for-net/pull/25180)so it should be added to Microsoft Azure PowerShell as well.

### Issue script & Debug output

[code]

### Environment data

[code]

### Module versions

[code]

### Error

[2021-11-11 12:56] dingmeng-xue commented on #16355
We are sharing an engineering build of Az.Accounts https://azposhpreview.blob.core.windows.net/public/Az.Accounts.2.6.1.nupkg.

Please download and install it following instruction.
* Download and save Az.Accounts.2.6.1.nupkg to local folder, for instance C:\Dev\testrepo
* Register local folder as local repository following instruction https://docs.microsoft.com/powershell/scripting/gallery/how-to

[2021-11-11 12:56] dingmeng-xue commented on #16353
We are sharing an engineering build of Az.Accounts https://azposhpreview.blob.core.windows.net/public/Az.Accounts.2.6.1.nupkg.

Please download and install it following instruction.
* Download and save Az.Accounts.2.6.1.nupkg to local folder, for instance C:\Dev\testrepo
* Register local folder as local repository following instruction https://docs.microsoft.com/powershell/scripting/gallery/how-to

[2021-11-11 12:57] dingmeng-xue commented on #16340
We are sharing an engineering build of Az.Accounts https://azposhpreview.blob.core.windows.net/public/Az.Accounts.2.6.1.nupkg.

Please download and install it following instruction.
* Download and save Az.Accounts.2.6.1.nupkg to local folder, for instance C:\Dev\testrepo
* Register local folder as local repository following instruction https://docs.microsoft.com/powershell/scripting/gallery/how-to

[2021-11-11 13:13] dingmeng-xue commented on #16375
Thanks for reporting. We got couple similar issues. Current observation is one or some loaded assemblies from non-Azure PowerShell modules or environment have disturbed compatibility between the latest version of Azure.Core and old version of Azure.Identity on .NET framework. For instance, if Windows PowerShell imports System.Threading.Tasks.Extensions, Version=4.2.0.0 for some reasons, I hit the

[2021-11-11 13:13] dingmeng-xue commented on #16375
We are sharing an engineering build of **Az.Accounts 2.6.2** https://azposhpreview.blob.core.windows.net/public/Az.Accounts.2.6.2.nupkg.

Please download and install it following instruction.
* Download and save Az.Accounts.2.6.2.nupkg to local folder, for instance C:\Dev\testrepo
* Register local folder as local repository following instruction https://docs.microsoft.com/powershell/scripting/gall

[2021-11-11 13:37] g7cnp commented on #16375
Was reading 16340 when your post came in, whilst I'm sure there must be a link, your modified Az.Accounts didn't fix the issue importing Microsoft.Azure.PowerShell.Cmdlets.Storage.dll, perhaps the same issue exists in both?

[2021-11-11 14:38] KirstenBurnett-weir commented on #16368
Hello.
Having the same issue as @sarajag all of a sudden on disabling a trigger - was this resolved or is there a workaround?

[2021-11-11 14:51] mileee6 commented on #3215
@mail-lwang have you found the solution? Since Azure Active Directory Graph is deprecated my automation is also not working... Im receiving error Resource not found for the segment 'me'

[2021-11-11 15:08] DrReedo commented on #16097
Hi @mileee6

We have Files.ReadWrite.All and AllowedMemberTypes contains 'Application' as permissions for our serviceprincipal to register the new app.

[2021-11-11 15:30] ykardziyaka opened #16379 "Import-AzApiManagementApi cmdlet drops OpenAPI properties during import"
### Description

OpenAPI contracts imported via Import-AzApiManagementApi cmdlet and then exported from dedicated API Management service manually (via Azure Portal) show that some parameter’s schema properties like `minLength`, `maxLength`, `format`, `pattern` disappear during import process. On the other hand, manual import via Azure Portal doesn’t cause disappearance of mentioned properties, alt

[2021-11-11 15:56] FelixBorst opened #16380 "Invoke-AzRestMethod cannot be used when calling Microsoft.Authorization/roleAssignments"
### Description

Since the recent events of the switched off (at least in the UI) Azure AD Graph API, I wanted to find a way to not use pre-release powershell modules (e.g. Az.Resources 5.0.0) but still be able to distribute access to certain users. I tried running it with and without the preview module loaded.

So I went ahead and tried out Invoke-AzRestMethod. Here are my issues with it:

When c

[2021-11-11 16:18] FelixBorst commented on #16380
the flag '?apiversion=xxx' needs to be escaped with a `

[2021-11-11 16:18] #16380 closed

[2021-11-11 16:27] evandeworp commented on #16340
Az.Accounts 2.6.2 fixed the issue for me - I can successfully use Connect-AzAccount inside VIsual Studio Code's PowerShell  5.1 Integrated Console using Az 6.6.0 from PSGallery and Az.Accounts 2.6.2 from LocalPSRepo.

[2021-11-11 16:59] JustinGrote commented on #6550
I usually just use a `ForEach-Subscription` utility function I made that finds all subscriptions that match the same account as the current az context, and then runs the provided script block after setting the context each time. It's not great but it works.

[2021-11-11 17:01] JustinGrote opened #16381 "[Feature]: Get-AzVm should accept ID and ResourceID on the pipeline"
### Description of the new feature

Currently you cannot get an Az VM via its resource ID, even though most references to a Az VM are via the refid for instance NetworkInterface `VirtualMachine` property. This should be easier.

Example:
[code]

### Proposed implementation details (optional)

Utility function that implements what I'm talking about:

[code]

[2021-11-11 17:30] sarajag commented on #16368
@dingmeng-xue - Thanks for the reply. Reverted back to version 0.7.0 and that worked well.

@PramodValavala-MSFT  - Thanks for the reply. I do not think that is the issue, the ForEach takes object from the $trigs and applies it on the  Start-AzSynapseTrigger cmd. And this cmd had been working well for more than a month until yesterday. Figured out that it is the problem in the module version

@Kir

[2021-11-11 18:17] irrogozh opened #16382 "[Feature]: Get-AzBackendAddressInboundNatRulePortMapping"
### Description of the new feature

We need to implement a new cmdlet for the new feature introduced in https://github.com/Azure/azure-rest-api-specs/pull/16334#issuecomment-939683645 (2021-05-01 release)

This cmdlet allows querying individual inbound nat rule port mappings per LB backend address in the pool which customer can specify either by IP or by resourceId of IpConfiguration.

### Propose

[2021-11-11 23:44] jlichwa commented on #15970
@pshelton-skype above should work, but it seems like it is impossible to create Key Vault with soft delete disabled. Does deny for soft-delete makes sense? This policy only applies to existing vaults at this moment.

[2021-11-11 23:49] pshelton-skype commented on #15970
It's not impossible. Azure doesn't fully enforce this on the service side yet, so there are legacy clients and API versions that explicitly pass `enableSoftDelete` set to `false`, or allow you to do so. We tested whether our `DeployIfNotExist` and `Modify` effects were working properly by using old AzureRm cmdlets.

[2021-11-12 00:12] jlichwa commented on #15970
@pshelton-skype you can pass false, but service will change it to true . I just tested on old ARM templates from 2018. Are you saying that you are able to create vault with soft-delete false (after vault creation you see soft delete disabled)?
If that is the case then you are right, but I have trouble to reproduce it.

[2021-11-12 00:26] jlichwa commented on #15970
@pshelton-skype  I was able to reproduce it outside of microsoft tenant. It seems your option is the only one

[2021-11-12 01:08] anthonychu opened #16383 "[Eng]: Az.Functions - unhide Node.js 16 preview"
### Description

Unhide Node.js 16 preview

[2021-11-12 01:57] PramodValavala-MSFT commented on #16368
@sarajag You are right. Not sure what I was thinking earlier. I am going to reopen this and have the concerning team take a look.

[2021-11-12 05:55] meCoding commented on #16340
I can confirm that that provided engineering build fixed problem on my machine. Thanks!

[2021-11-12 06:56] #15919 closed

[2021-11-12 08:27] vidai-msft commented on #16356
@Paxilein the maximum scope of the command Get-AzAlertRule is at resource group level. So you need to provide at least the resource group name. PR has been raised to prompt for input instead of throwing the exception. You can try it out after rolled out in the next release. Thanks!

[2021-11-12 09:00] #16356 closed

[2021-11-12 09:09] Yuiheart opened #16393 "Error in creating Function App"
### Description

Hi team!

I was trying to create Azure Function App via PowerShell. The command is:
`New-AzFunctionApp -Name $ProdConfig.AzureFunctionNameforTiermapping -ResourceGroupName $ProdConfig.ResourceGroupName -StorageAccount $ProdConfig.StorageAccountNameforTiermapping -Runtime Python -FunctionsVersion 3 -RuntimeVersion 3.8 -Location $ProdConfig.LocationforCAInfo -OSType Linux`

And I'm

[2021-11-12 09:12] Yuiheart opened #16394 "Error in creating Function App"
### Description

Hi team!

I was trying to create Azure Function App via PowerShell. The command is:
`New-AzFunctionApp -Name $ProdConfig.AzureFunctionNameforTiermapping -ResourceGroupName $ProdConfig.ResourceGroupName -StorageAccount $ProdConfig.StorageAccountNameforTiermapping -Runtime Python -FunctionsVersion 3 -RuntimeVersion 3.8 -Location $ProdConfig.LocationforCAInfo -OSType Linux`

And I'm

[2021-11-12 09:12] #16393 closed

[2021-11-12 17:14] hilari0n commented on #16032
The same problem seems to be also affecting `Get-AzContainerRegistryManifest`. It may even be more widespread (e.g. affect `Get-AzContainerRegistryRepository` and other commands/API-s returning paged lists), but I don't have means to test it all.

The "workaround" I have is not to use those affected commands, but call the container [registry API-s](https://docs.microsoft.com/en-us/rest/api/contain

[2021-11-12 18:51] zzgzy opened #16395 "Unable to get automation account managed identity object Id with Get-AzAutomationAccount"
### Description

We use an AAD service principal to log onto Azure and are able to get the object id of Azure Data Factory managed identity using
`(Get-AzDataFactoryV2 -ResourceGroupName "xxxx" -Name "xxx").Identity.PrincipalId`

However, we cannot do the same for automation account managed identity
`(Get-AzAutomationAccount -ResourceGroupName $rgName -Name $name).Identity.PrincipalId`
where `Get-

[2021-11-12 18:53] zzgzy commented on #16395
I am an internal user and this above script is running under Ev2

[2021-11-12 21:59] mwc360 opened #16397 "Az.Synapse Set-AzSynapsePipeline - Ignores literal nulls (value = null) in json definition"
### Description

This module has a bug when using the Set- cmdlets to publish json definition objects to Synapse.

If the JSON source file contains elements specified as literal nulls when the definition is published to Synapse it ignores the JSON elements that were literal nulls (i.e. value = null). This causes the use of the 'Treat as Null' Stored Procedure activity to not be publishable from th

[2021-11-13 02:35] dingmeng-xue commented on #16397
Thank you for your reporting. Tagging and routing to the team member best able to assist.

[2021-11-13 02:36] dingmeng-xue commented on #16395
Thank you for your reporting. Tagging and routing to the team member best able to assist.

[2021-11-13 02:39] dingmeng-xue commented on #16394
Thank you for your reporting. Tagging and routing to the team member best able to assist.

[2021-11-13 02:39] Francisco-Gamino commented on #16383
/cc @AnatoliB @stefanushinardi @michaelpeng36

[2021-11-13 02:39] dingmeng-xue commented on #16381
Thank you for your reporting. Tagging and routing to the team member best able to assist.

[2021-11-13 02:40] dingmeng-xue commented on #16379
Thank you for your reporting. Tagging and routing to the team member best able to assist.

[2021-11-13 02:41] dingmeng-xue commented on #16370
Thanks for reporting. We will look into it.

[2021-11-13 02:51] dingmeng-xue commented on #9751
Revisiting above feature request. If application ID doesn't exist, there are 2 potential reasons. Either application id is invalid or non-existing, or current user has no permission to access it. The current philosophy is we should not create Azure resource if user provide information. So, we have no plan to support above feature that we create application if input value is non-existing.

Keeping

[2021-11-13 02:55] dingmeng-xue commented on #12081
Hi @mprabhu11 , we have released the preview version of Az.Resources 5.0.0 https://www.powershellgallery.com/packages/Az.Resources/5.0.0-preview

Could you check whether existing parameter set can meet your requirement?

[2021-11-13 02:57] dingmeng-xue commented on #11029
Hi @jasonnutter  , we have released the preview version of Az.Resources 5.0.0 https://www.powershellgallery.com/packages/Az.Resources/5.0.0-preview

Could you check whether existing parameter set can meet your requirement?

[2021-11-13 03:00] dingmeng-xue commented on #15997
Hi @Gill-Bates  , we have released the preview version of Az.Resources 5.0.0 https://www.powershellgallery.com/packages/Az.Resources/5.0.0-preview

Could you check whether existing parameter set can meet your requirement?

[2021-11-13 23:27] silverl opened #16399 "Cannot upload Powershell 7.1 module with Set-AzAutomationModule"
### Description

I can't figure out how to use `Set-AzAutomationModule` to upload a module that targets Powershell 7.1.

Our module .psd1 contains:

[code]

Modules uploaded using `Set-AzAutomationModule` are showing up in the module list targeting 5.1 instead of 7.1.

I don't see any cmdlet parameters that would be relevant to specifying the target platform.

Is there some way to make this work?

[2021-11-14 10:23] NimalDas commented on #14885
@theheatDK - I agree that this should be made clear in the documentation. However it is not clear when you say "if I had done anything via ASR, because this could cause problems. Everything should be done via Azure Migrate." Can you explain a bit more on what you were trying to achieve?

[2021-11-14 12:00] theheatDK commented on #14885
@NimalDas - When you use Azure Migrate to migrate Hyper-V guests to Azure you configured Azure Migrate to do the migration. You do everything via Azure Migrate in the Azure Portal. Behind the scene, ASR is configured in Azure. You install an ASR agent on each node of the Hyper-V cluster, but otherwise, you are not aware that ASR is used. Since ASR is used you can go to the ASR in the Azure Portal

[2021-11-15 02:01] dingmeng-xue commented on #16399
Thank you for your reporting. Tagging and routing to the team member best able to assist.

[2021-11-15 02:41] dingmeng-xue commented on #16042
link to PR #16303

[2021-11-15 03:27] dingmeng-xue commented on #16375
Hi @g7cnp , since we are using the same version of Windows PowerShell and module, this issue may be related to other loaded module?

Please execute below code within the same PowerShell process when you reproduce the issue
[code]

[2021-11-15 05:25] Sharmistha-Rai commented on #15712
Closing this issue for now. Please feel free to reopen for any queries.

[2021-11-15 05:25] #15712 closed

[2021-11-15 06:04] wonner commented on #16368
Hi @sarajag @PramodValavala-MSFT @KirstenBurnett-weir , thanks for your feedback. It's a known issue which is caused by the backend return with an unexpected response. The service team has started to fix this bug. Here is the related IcM ticket: https://portal.microsofticm.com/imp/v3/incidents/details/271676115/home

[2021-11-15 11:18] WilfriedWeidner opened #16403 "Module Az.ServiceBus failed several cmdlets if execute again china environment AzureChinaCloud (invalid ApiVersion)"
### Description

If you execute several cmdlets from the module Az.ServiceBus you get this error:

FullyQualifiedErrorId : No registered resource provider found for location 'chinaeast2' and **API version '2021-06-01-preview'** for type '...'. The supported api-versions are **'2014-09-01, 2015-08-01, 2017-04-01, 2018-01-01-preview, 2021-01-01-preview'.**

I get this error for the cmdlets (other I

[2021-11-15 13:48] rachaelsingleton commented on #16262
I will get this to you today

[2021-11-15 14:29] ParthPurani commented on #16306
Seems like DirectoryPath is a mendatory parameter. According to documentation I want to invoke share-level changes which is not working while this parameter is passed.

`Invoke-AzStorageSyncChangeDetection -ResourceId $storageSync.ResourceId`
_Invoke-AzStorageSyncChangeDetection: Parameter set cannot be resolved using the specified named parameters. One or more parameters issued cannot be used tog

[2021-11-15 14:41] markr-rpc commented on #16340
I can confirm that Az.Accounts version 2.6.2 from the LocalPSRepo does solve the problem with VS Code 1.62.2 and Az module 6.6.0.
Thanks for the quick resolution!

[2021-11-15 14:45] dingmeng-xue commented on #16340
link with PR #16337. We will publish new version of Az.Accounts soon.

[2021-11-15 15:06] RobARichardson commented on #16368
We've been seeing this same problem for several weeks. Glad to hear a fix is being worked on. Thank you!

[2021-11-15 15:08] markr-rpc commented on #16340
I found that I have a problem with New-AzStorageContext, is this command in the Az.Accounts module as well? I only get this in the VS Code Integrated Console as well, when running my script from a normal PowerShell window it works.
Note that I am currently on vacation, but let me know if I should be creating another bug report for this, which I can do in a couple weeks if needed.

Error:
The term

[2021-11-15 20:59] rachaelsingleton commented on #16262
`EBUG: 3:55:52 PM - GetAzureOperationalInsightsWorkspaceCommand begin processing with Pa
rameterSet '__AllParameterSets'.
DEBUG: 3:55:52 PM - using account id ''...
DEBUG: [Common.Authentication]: Authenticating using Account: '',
environment: 'AzureCloud', tenant: ''
DEBUG: 3:55:52 PM - [SilentAuthenticator] Calling SharedTokenCacheCredential.GetTokenAsy
nc - TenantId:'', Scopes:'https://manageme

[2021-11-15 21:00] rachaelsingleton commented on #16262
[code]

[2021-11-15 21:48] glloyd2010f commented on #14523
Any update on this?

[2021-11-15 23:34] SaurabhSharma-MSFT commented on #9983
@vikram-m Do you have any updates on this issue.

[2021-11-15 23:40] SaurabhSharma-MSFT commented on #8659
@rarayudu Do you have any updates on this issue.

[2021-11-15 23:41] #13038 closed

[2021-11-15 23:53] AartiGorade opened #16405 "Error while fetching key credential information from certificate in Keyvault with Az module"
### Description

I am using below Powershell commands to retrieve key credentials from Certificate. I tried two solutions but none of them worked with Az module. It was working with AzureRM module earlier.

### Issue script & Debug output

[code]

### Environment data

[code]

### Module versions

[code]

### Error output

[code]

[2021-11-16 00:14] unruledboy commented on #14275
@alex-frankel  you are right! it works! curious to see where you found that syntax/documentation, which I could not find.

[2021-11-16 00:20] SaurabhSharma-MSFT commented on #16394
@Yuiheart I have tried the command with Az 6.4.0 version and I am able to create the function without any issues.
![image](https://user-images.githubusercontent.com/38112130/141872743-2c2d00eb-c72f-42de-a259-3e431002c53a.png)
Are you using Service principal login before executing the cmdlet ?
Also, can you please check Az.Functions function by using `Get-Module Az`.
![image](https://user-images.gi

[2021-11-16 01:23] Syedahmad75 commented on #10620
@panchagnula When will this feature will be available for Az-module? I am still not able to set Application Logging settings with Az commands. Thanks.
![image](https://user-images.githubusercontent.com/63304762/141878596-b15f40cb-bb9d-4983-a33f-53ee6a12f61b.png)

[2021-11-16 02:20] SaurabhSharma-MSFT commented on #16395
@zzgzy I have tried the same and I am able to see the PrincipalId by using both ServicePrincipal and individual login.  Please see below screenshot -
![image](https://user-images.githubusercontent.com/38112130/141883896-9ccb9e10-970a-4429-a755-7f31e3c9af69.png)
What version of Az.Automation Module you are using. I have tried with 1.7.1
![image](https://user-images.githubusercontent.com/38112130/14

[2021-11-16 02:45] SaurabhSharma-MSFT commented on #10842
@aws-scripting-guy Following up to know if you still are facing this issue.

[2021-11-16 02:46] SaurabhSharma-MSFT commented on #11188
@vnetsuppgithub Do you have any updates on this issue ?

[2021-11-16 02:48] SaurabhSharma-MSFT commented on #10722
@thelethalkind Following up to know if you still need help on this issue as a fix has been provided earlier to address your issue. Please let us know.

[2021-11-16 03:28] wyunchi-ms opened #16407 "[Feature]: Create a private Azure Kubernetes Service cluster"
### Description of the new feature

Support private Azure Kubernetes Service cluster in Az.Aks

### Proposed implementation details (optional)

https://github.com/Azure/azure-cli/blob/f4428d4ca813c0d16cb5da576979c40e4671939c/src/azure-cli/azure/cli/command_modules/acs/custom.py#L2383

[2021-11-16 03:51] Yuiheart commented on #16394
@SaurabhSharma-MSFT Yes I login with prompt before execution.
And this is my version of Az.Functions and seems the same as yours.
![image](https://user-images.githubusercontent.com/37691347/141891718-0fb71410-96bc-4eea-8b66-14ebd09bd6b0.png)

By the way, the error message mentions 'Parameter ServerFarm' which I haven't found any documents about it. Is there anything I'm missing that causes this pa

[2021-11-16 03:52] yuaw opened #16408 "Failed to create a 'Settings' from the text 'Assembly references and imported namespaces serialized as XML namespaces'."
### Description

Using workflow in Az PowerShell but get the following error.

Failed to create a 'Settings' from the text 'Assembly references and imported namespaces serialized as XML namespaces'.

Per https://github.com/Azure/azure-powershell/issues/16353, I have installed the local PS module Az.Accounts 2.6.2 but the issue still persists.

### Issue script & Debug output

[code]

### Environme

[2021-11-16 05:36] BethanyZhou opened #16410 "[Az.Resources] Get-AzDenyAssignment -DenyAssignmentName $name returns empty while it exists when operate list action."
### Description

issue:
Get-AzDenyAssignment -DenyAssignmentName $name returns empty while it exists while operate list action.

expected result:
Get-AzDenyAssignment -DenyAssignmentName $name returns correctly.

### Issue script & Debug output

[code]

### Environment data

[code]

### Module versions

[code]

### Error output

_No response_

[2021-11-16 06:12] jagratimodi commented on #15571
@KranthiPakala-MSFT Hey Thanks for the reply. I am confused with deployment tags. Otherwise I am aware of tags for Resource Groups and other resources. But my query is what is use of applying tags to deployment as I have explained in my question?

[2021-11-16 06:34] wonner commented on #16397
Hi @mwc360 , Thanks for your feedback. I can reproduce this problem. I would like to know will it cause any problems if it strips away the literal null?

[2021-11-16 06:35] o-l-a-v commented on #11188
I thought you were the ones to tell me. I haven't scripted NSGs in a while. :)

[2021-11-16 06:44] candybaby407 commented on #16340
Any other operations needed? I installed 2.6.2 but still seeing the issue.

Version    Name                                Repository
-------    ----                                ----------
2.6.2      Az.Accounts                         LocalPSRep
5.1.2      Azure                               https://ww
6.6.0      Az                                  PSGallery
1.1.1      Az.Advisor

[2021-11-16 06:50] Drewm3 commented on #16381
Let me work with the team to see where this could fit into the backlog.

[2021-11-16 06:58] Drewm3 commented on #16381
Let me check with the dev team to see if this feature request could be added to the backlog.

[2021-11-16 07:34] dingmeng-xue commented on #16340
@candybaby407 , have you restarted console once Az.Accounts is installed? If yes but there is still issue, please use `Get-Module` to list all modules which are imported into process.

[2021-11-16 10:23] PramodValavala-MSFT commented on #16368
@wonner Looks like this has been fixed on the service end. Thanks!

@sarajag @RobARichardson @KirstenBurnett-weir Could you confirm if you are still facing this issue?

[2021-11-16 10:27] vivere-dally opened #16413 "[Az.DeviceProvisioningServices] Get-AzIoTDeviceProvisioningServiceCertificate throws error"
### Description

I'm trying to list all my certificates from the DCP resource but running `Get-AzIoTDeviceProvisioningServiceCertificate` raises an error.

As you can see in the `Issue script & Debug output` section, the certificates are in fact fetched correctly, but after that, some processing is executing which causes a conversion error `'Microsoft.Rest.Serialization.DateTimeRfc1123JsonConverte

[2021-11-16 10:50] PramodValavala-MSFT commented on #16346
@NickDorak Looks like this is [by design](https://github.com/Azure/azure-powershell/blob/main/src/Compute/Compute/VirtualMachine/Operation/GetAzureVMCommand.cs#L106). The `-Status` flag includes extra information when able to pinpoint a particular VM otherwise it just fetches the `PowerState` for the VMs return in the list (so just the `PowerState` for the one VM returned)

[2021-11-16 11:51] dingmeng-xue commented on #16403
Thank you for your reporting. Tagging and routing to the team member best able to assist.

[2021-11-16 11:55] dingmeng-xue commented on #16405
Please share how you created keyvaultsecret using Azure PowerShell. What's the parameter used?

[2021-11-16 12:40] dingmeng-xue commented on #16408
We are still researching the root cause. It seems there is conflict between Az.Accounts and PSWorkflow on Windows PowerShell.

I found one workaround is to add below script at the beginning to import PSWorkflow at the first. Please try and let us know whether it works in user's environment.
[code]

[2021-11-16 12:43] dingmeng-xue commented on #16355
Please append `Get-Module` at the end of script. We need to know which modules have been loaded into process.

[2021-11-16 12:43] dingmeng-xue commented on #16353
Please append `Get-Module` at the end of the script. We need to know which modules have been loaded into process.

[2021-11-16 13:31] stvpwrs commented on #16067
I am facing the same issue, however the Permission IDs do not work in my tenant. Is there a way to find these IDs? I can only add Directory.ReadWrite.All. Is there PowerShell or someway to find these IDs?

[2021-11-16 13:43] dingmeng-xue commented on #16067
Those IDs should be the same. Please share the error message when you set permission id.

[2021-11-16 13:57] stvpwrs commented on #16067
@dingmeng-xue thanks for the fast response. So the following code will add a permission, but there is no description, it's listed as a GUID and then when trying to grant permissions I get the following error:

`az ad app permission add --id <AppId> --api 00000002-0000-0000-c000-000000000000 --api-permissions c582532d-9d9e-43bd-a97c-2667a28ce295=Role`

`Grant consent failed with error: Claim is inv

[2021-11-16 14:04] dingmeng-xue commented on #16067
Please follow this page https://docs.microsoft.com/en-us/cli/azure/ad/app/permission?view=azure-cli-latest#az_ad_app_permission_add . Normally you need to add delegated permission, the type value in api-permissions should be Scope instead of Role.

If it is specific to Azure CLI, please raise the question to Azure CLI project.

Another reason is you have no permission to grant consent.

[2021-11-16 14:42] stvpwrs commented on #16067
Doesn't Using delegated permissions cause an issue with running the PowerShell as an app though?

[2021-11-16 15:51] RobARichardson commented on #16368
@PramodValavala-MSFT As of 2 minutes ago, I'm still seeing the issue

[2021-11-16 16:00] MPowellFDB opened #16414 "New-AzRoleAssignment HTTP 403 error when running as Service Principal"
### Description

I'm trying to deploy a policy assignment via a GitHub Actions pipeline using a Service Principal. The Policy Assignment requires both Contributor and User Access Administrator permissions for remediation, so I'm trying to assign both roles within the same script. However, the deployment is receiving the following error on New-AzRoleAssignment:

Error:
{
  "odata.error": {
    "cod

[2021-11-16 16:01] zahraasaleh opened #16850 "unexpected output from Get-AzRecoveryServicesVaultProperty"
[trying to get the Azure recovery services vault storage setting from PowerShell is not working and gives an empty result
PS /home/zahraa> $vault = Get-AzRecoveryServicesVault -ResourceGroupName "zahraasaleh" -Name "zahraasaphana2"
PS /home/zahraa> $vaultProperty = Get-AzRecoveryServicesVaultProperty -VaultId $vault.Id
PS /home/zahraa> $vaultProperty

![image](https://user-images.githubusercontent

[2021-11-16 16:50] mwc360 commented on #16397
@wonner Yes, it undoes the 'Treat as Null' feature (checkbox on the parameter mapping pane) for the Stored Procedure and other activities where you map values or expressions to parameters. If the 'Treat as Null' checkbox was checked as true in ADF (value = null in JSON) it results in the box being unchecked and no value being passed into the parameter, however since the parameter is still defined

[2021-11-16 17:29] NickDorak commented on #16346
Event with the `-Status` flag, both commands still return completely different fields. It's like as if two different PS commands are being used.
In all scenarios tested, only a particular VM is returned as we are using a unique VM name.

[2021-11-16 17:50] zzgzy commented on #16395
@SaurabhSharma-MSFT Thank you for checking! I would need to check what version is used in Ev2. Is 1.7.1 the minimum requirement of Az.Automation?

[2021-11-16 18:28] ShiningCreek opened #16415 "Get-AzStorageBlobContent reports illegal char in file path with Windows 11"
### Description

First of all, I understand it is better to always have latest Az and my Az might not be the latest one, but compatibility should be supported. I have searched internet and tried to change powershell.exe.config and registry per some discussion, but they don't fix the issue. Some discussions are here https://github.com/Azure/azure-powershell/issues/12220.

Get-AzStorageBlobContent :

[2021-11-16 18:47] AartiGorade commented on #16405
I resolved the issue with following change:
$cert = Get-AzKeyVaultSecret -VaultName $vaultname -Name $certSecretName **-AsPlainText**
$certBytes = [System.Convert]::FromBase64String($cert)

[2021-11-16 18:47] #16405 closed

[2021-11-16 19:00] SaurabhSharma-MSFT commented on #16394
@Yuiheart
Can you please share your code you are using to login.  I have used the below code to login with a Service Principal and it worked fine-
[code]
Also, I could see Azure function getting provisioned in the portal without any issues.
![image](https://user-images.githubusercontent.com/38112130/142048506-b1c5ff84-cc62-4a3b-a3ea-55a4ea7d3ecb.png)

[2021-11-16 19:07] andschwa commented on #16340
Thanks for getting this fixed @dingmeng-xue! Sure appreciate it. 😊

[2021-11-16 20:21] stvpwrs commented on #16067
So as a quick follow-up to this, not using the application permissions causes an error when using a certificate.

`Message: Resource '1608649b-20e0-4859-bf6f-561771e91071' does not exist or one of its queried reference-property objects are not present.`

It seems there needs to be different GUIDs for the app permissions needed for this.

[2021-11-16 21:04] dvelovic commented on #16097
Try using @{add="https://identifierURL"}

$app1 | Set-AzureADApplication -IdentifierUris @{add="http://adapplicationregistry.onmicrosoft.com"}

[2021-11-17 02:06] SaurabhSharma-MSFT commented on #11194
@allegradomel Do you have any updates on this issue.

[2021-11-17 02:32] blueww commented on #16415
@ShiningCreek
The Az.Storage you use is a little too old.
This is a known issue and has been fixed in Az.Storate 2.6.0 and later.
Please upgrade to latest Az.Storage and try again.

[2021-11-17 02:47] SaurabhSharma-MSFT commented on #11188
@o-l-a-v Previous message was intended for the services team and not for you :)

[2021-11-17 04:52] #16291 closed

[2021-11-17 05:36] jun110 opened #16422 "[Doc]: Request for revision of Remove-AzAutomationHybridWorkerGroup document"
### Description

Hi team, I found the wrong part in the following document.
https://github.com/Azure/azure-powershell/blob/main/src/Automation/Automation/help/Remove-AzAutomationHybridWorkerGroup.md

The Force parameter is not present in this command. So I think we need to fix it.
![image](https://user-images.githubusercontent.com/25476639/142140979-4efa770d-4f3f-420e-970b-426e32d4f8b8.png)

[2021-11-17 08:01] #16158 closed

[2021-11-17 08:01] #15845 closed

[2021-11-17 08:01] #14721 closed

[2021-11-17 08:01] #14703 closed

[2021-11-17 08:02] #14618 closed

[2021-11-17 08:02] #14405 closed

[2021-11-17 08:02] #14348 closed

[2021-11-17 08:02] #14336 closed

[2021-11-17 08:02] #14273 closed

[2021-11-17 08:02] #14169 closed

[2021-11-17 08:02] #14081 closed

[2021-11-17 08:02] #13964 closed

[2021-11-17 08:02] #13896 closed

[2021-11-17 08:02] #13682 closed

[2021-11-17 08:02] #13247 closed

[2021-11-17 08:02] #10936 closed

[2021-11-17 08:18] Daniellezha commented on #12627
@Kotasudhakarreddy  the issue still continues, could you please update when the template will be fixed

[2021-11-17 08:36] wyunchi-ms commented on #14385
Hi @SatishBoddu-MSFT , @vivere-dally , could you use
[code]
to see whether the operation is registered to your subscription and use
[code]
to see the location and api-version of `cloudServices`.

[2021-11-17 09:01] #14196 closed

[2021-11-17 10:26] KirstenBurnett-weir commented on #16368
@PramodValavala-MSFT I have just tested and still have the same issue:
![image](https://user-images.githubusercontent.com/72784477/142183207-43af706c-2c3d-49b4-86a9-3776df6e1d7d.png)

[2021-11-17 12:17] Yuiheart commented on #16394
@SaurabhSharma-MSFT
I use `Connect-AzAccount` to login manually with the asm account provided by my team and I'm not sure whether I can login with Service Principal as the asm account need Torus elevation.
Actually, I was able to create Azure Function App with dotnet runtime. The issue only happens when I create Python Function.

[2021-11-17 12:21] gelarkin commented on #16345
Hi Team I just wanted tor reach out to see if the EndTime Parameter is being considered to be added to the Get-AzAutomationJobOutput cmdlet.

[2021-11-17 13:23] Yuiheart commented on #16394
By the way, could location of Azure Function have any influence on the creation?

[2021-11-17 16:08] PramodValavala-MSFT commented on #16399
@silverl Support for 7.1 is in preview and currently uses a separate API for managing modules via the portal. The existing PowerShell cmdlets are not updated to support them.

You could however make leverage the [`Invoke-AzRestMethod`](https://docs.microsoft.com/en-us/powershell/azure/manage-azure-resources-invoke-azrestmethod?view=azps-6.6.0) cmdlet to perform the same calls as the portal in the

[2021-11-17 16:08] nathanmitten commented on #13579
Has the fix been rolled out? We are still seeing some issues with the command.

[2021-11-17 16:52] kolodziejczyk0 commented on #15875
Hello, is there any progress in the investigation?

[2021-11-17 18:23] lucabovo commented on #16061
Good morning,
any news about this case?

Thanks a lot

@dcaro
@netwatchsuppgithub

[2021-11-17 19:16] SaurabhSharma-MSFT commented on #16395
@zzgzy I do not think 1.7.1 as minimum requirement but I will check and get back to you.

[2021-11-17 20:31] zzgzy commented on #16395
@SaurabhSharma-MSFT I have
2021-11-17 20:25:35.914646: Az.Automation version is 1.3.7
2021-11-17 20:25:37.256014: Az.Accounts version is 1.9.2
and looks like Az.Automation has dependency on Az.Accounts which I haven't figured out how to l a newer version in Ev2, as I always get `Assembly with same name is already loaded` when doing so.

[2021-11-17 20:57] anaismiller commented on #13573
There is also this issue with Remove-AzRoleAssignment. Is there a known workaround without querying Graph API like the New-AzRoleAssignment query provided by jikuja?

[2021-11-17 22:27] Francisco-Gamino opened #16426 "[Breaking change] Set the FunctionsVersion to 4 for FunctionApp creation"
### Description

Currently, in the `New-AzFunctionApp` cmdlet, the default value of `FunctionsVersion` is set to `3` when it is not specified. We will change this value to `4` for the breaking change release.

### Issue script & Debug output

[code]

### Environment data

[code]

### Module versions

[code]

### Error output

[code]

[2021-11-17 22:40] Francisco-Gamino commented on #16426
/cc @AnatoliB @michaelpeng36 @stefanushinardi @apawast

[2021-11-17 22:52] dicolanl commented on #16354
Hi @ErnieBot
We are aware of this issue.  The API version used by the PowerShell client does not always return tactics.  Updated APIs are coming and we will be updating the module to use them.

[2021-11-18 02:00] dingmeng-xue commented on #16414
Hi @MPowellFDB , you could check couple things in your environment.
1. Could you reproduce the issue in your local environment instead of GH Action using the same service principal and secret?
2. You need to grant API permission to your SP to allow calling AAD Graph API? Permission type should be delegated permission. You can reference this one https://github.com/Azure/azure-powershell/issues/1606

[2021-11-18 02:03] dingmeng-xue commented on #16413
Thank you for your reporting. Tagging and routing to the team member best able to assist.

[2021-11-18 02:35] isra-fel opened #16428 "Use "module" instead of "regex" when updating "CreateMappings_rules.json""
When moving a new module from generation to main we update `CreateMappings_rules.json` to add a new entry like this:

[code]

However it is discouraged to use "regex" because Azure PowerShell have so many modules and cmdlets and their names are easy to overlap each other. The recommended way is to use "module".

[2021-11-18 02:42] isra-fel opened #16429 "CI Validation (static analysis)"
The proposal of this issue is to add a static analysis CI to PRs of generation branch to check problems which:

- can be hard to find during human review
- will cause the CI to fail, but the error message cannot be understood

## Check for syntax of comment-based documentation of customized functions

Problem: In a customized powershell function, if the number of empty lines between comment-based

[2021-11-18 02:43] dingmeng-xue commented on #16429
I'd like to create another issue in autorest.powershell to improve the error message and readme.md validation.

[2021-11-18 06:25] ShiningCreek commented on #16415
Thanks for your quick reply. The issue is resolved after updating the module.

[2021-11-18 06:25] #16415 closed

[2021-11-18 07:27] #16275 closed

[2021-11-18 08:01] #16192 closed

[2021-11-18 08:01] #14409 closed

[2021-11-18 08:25] MPowellFDB commented on #16414
Apologies, I thought I'd closed this issue as I managed to fix it.

I did indeed follow the workaround mentioned in #16067, but I had to change the AAD Graph permission from Delegated to Application after running the workaround

[2021-11-18 08:25] #16414 closed

[2021-11-18 08:33] PramodValavala-MSFT commented on #16422
@jun110 Thanks for catching that! We worked up a PR to fix the same.

[2021-11-18 08:40] dingmeng-xue commented on #16340
Thanks for everyone's feedback. We have published Az.Accounts 2.6.2.

Assembly conflicts issue is a common problem on PowerShell. We will continue researching root cause and reduce the occurrence. If you meet any problem, please let us know.

[2021-11-18 11:41] gokusupa commented on #16109
We have retired the use of workflows as a result of this sudden change.

[2021-11-18 11:41] #16109 closed

[2021-11-18 12:02] macux commented on #15793
For info, if anyone comes across this. You need to separate your command into component parts for this to work, e.g. rather than:

    $container = New-AzContainerInstanceObject -Name <container-name> -Image <image-name> `
        -Command "this is my long command"

Use:

    $container = New-AzContainerInstanceObject -Name <container-name> -Image <image-name> `
        -Command "this", "is", "my"

[2021-11-18 18:55] qinl-li commented on #15844
The fix is rolling to prod.

[2021-11-18 18:55] #15844 closed

[2021-11-18 21:59] KranthiPakala-MSFT commented on #16368
@RobARichardson , @KirstenBurnett-weir  - Thanks for getting back and sorry for your inconvenience. We are looking into it and will get back to you as soon as we have an update.

We appreciate your patience.

[2021-11-19 05:53] abatishchev opened #16445 "How to remove classic administrator using any Az command?"
### Description

Command `Get-AzRoleAssignment` has a parameter `IncludeClassicAdministrators`. However its counterpart `Remove-AzRoleAssignment` doesn't seem to be aware of classic roles model.

Is there a way remove a user from classic administrators programmatically, especially if it bulk when using the Azure Portal is not applicable?

### Environment data

PSVersion 7.1.4

PSVersion 5.1.19041.

[2021-11-19 07:23] keith-knight opened #16448 "New-AzFunctionApp always returns "Function name... is not available'"
### Description

I have been trying to create an Azure Function App (version 4) using New-AzFunctionApp for example:

`New-AzFunctionApp -Name MyFunctionAppNameHere -ResourceGroupName MyResourceGroupNameHere -Location australiaeast -StorageAccount MyStorageAccountNameHere -Runtime "dotnet-isolated"-FunctionsVersion 4`

Every time it returns the following error:

[code]

I have been able to success

[2021-11-19 08:01] #15818 closed

[2021-11-19 08:01] #15682 closed

[2021-11-19 08:01] #15399 closed

[2021-11-19 08:02] #15370 closed

[2021-11-19 08:02] #15369 closed

[2021-11-19 08:02] #15170 closed

[2021-11-19 08:02] #15311 closed

[2021-11-19 09:37] scratch85 commented on #15828
Any update would be much appreciated!

[2021-11-19 09:52] catalinpopa247 commented on #13573
@dingmeng-xue did anything change recently? Seems like the workaround you mentioned is not valid anymore. It fails with the following error:

Set-AzureADApplication : Error occurred while executing SetApplication
Code: Request_BadRequest
Message: Property requiredResourceAccess.resourceAccess is invalid.
RequestId: 9617d8c8-febc-44cc-a57b-9d9c197558bc
DateTimeStamp: Fri, 19 Nov 2021 09:47:16 GMT
D

[2021-11-19 10:14] #15833 closed

[2021-11-19 13:26] dingmeng-xue commented on #13573
Hi @catalinpopa247 , is it possible that you share the debug log of AzureAD cmdlet? The module is not owned by Azure PowerShell team. We didn't know whether there is anything change.

[2021-11-19 14:56] dingmeng-xue commented on #16445
Thank you for your reporting. Tagging and routing to the team member best able to assist.

[2021-11-19 14:56] dingmeng-xue commented on #16448
Thank you for your reporting. Tagging and routing to the team member best able to assist.

[2021-11-19 18:45] sqlpadawan opened #16450 "Exception calling "DownloadBlockList" with "3" argument(s): "One of the request inputs is not | valid."
### Description

Issue previoulsy reported here: https://github.com/Azure/azure-powershell/issues/13636 and closed as abandoned.

Trying to run the script available here --> https://docs.microsoft.com/en-us/azure/storage/scripts/storage-blobs-container-calculate-billing-size-powershell but am getting the error below:

Line |
101 | … ion) return $Blob.ICloudBlob.DownloadBlockList([Microsoft.Azure.S

[2021-11-19 19:03] silverl commented on #16399
I see. Is implementing support for 7.1 on the roadmap? Any ETA on adding that to the PowerShell cmdlets?

Do we leave this open until it's resolved?

[2021-11-19 20:50] Sandido opened #16451 "New-AzVm with VMConfig object without a DiagnosticsProfile causes the cmdlet to use any Storage Account in the entire subscription"
### Description

This [ICM ](https://portal.microsofticm.com/imp/v3/incidents/details/267887250/home) was created because when New-AzVm has a VMConfig object passed to it with a null DiagnosticsProfile, then the cmdlet [searches for any storage account in the entire subscription](https://github.com/Azure/azure-powershell/blob/main/src/Compute/Compute/VirtualMachine/Operation/NewAzureVMCommand.cs#L

[2021-11-19 22:16] alex-frankel commented on #14275
https://docs.microsoft.com/en-us/rest/api/blueprints/assignments/create-or-update#secretvaluereference

[2021-11-19 23:16] shanhix1 commented on #15828
Hi @scratch85 - our team is looking into this and will get back to you when we have an answer. I will keep you updated. Thank you!

[2021-11-19 23:35] unruledboy commented on #14275
ah right, that's not so clear, your sample really save my day! thanks a lot!

[2021-11-20 14:15] L-P-G opened #16452 "[Doc]: New-AzApplicationInsightsContinuousExport parameters"
### Description

On this page https://docs.microsoft.com/en-us/powershell/module/az.applicationinsights/new-azapplicationinsightscontinuousexport?view=azps-6.6.0&viewFallbackFrom=azps-6.3.0

The example shows -StorageLocation sourcecentralus, the param description states:

-StorageLocation
Destination Storage Location Id.

Which doesn't really describe what information we need to pass the paramete

[2021-11-20 18:21] jaspkaur28 commented on #13350
@SatishBoddu-MSFT The ETA for this issue is 11/30.

[2021-11-20 18:25] jaspkaur28 commented on #16345
@gelarkin - Automation team is prioritizing other GitHub issues for the month of November. This issue is set to be triaged next month , Dec CY20. We will provide an ETA by early Dec.

[2021-11-20 18:26] jaspkaur28 commented on #12823
@fowl2 ETA for fixing this issue would be 11/30.

[2021-11-20 18:30] jaspkaur28 commented on #10063
@KranthiPakala-MSFT  The ETA for this issue is 11/30.

[2021-11-21 08:01] #13802 closed

[2021-11-21 08:01] #13665 closed

[2021-11-21 08:01] #13656 closed

[2021-11-21 08:01] #13448 closed

[2021-11-21 08:01] #13425 closed

[2021-11-21 08:01] #13364 closed

[2021-11-21 08:02] #12262 closed

[2021-11-21 08:02] #11884 closed

[2021-11-21 08:02] #11202 closed

[2021-11-21 08:02] #11027 closed

[2021-11-21 08:02] #10300 closed

[2021-11-21 14:03] dingmeng-xue commented on #16452
Thanks for reporting. @L-P-G , Swagger explains it as "The location ID of the destination storage container." https://github.com/Azure/azure-rest-api-specs/blob/88e7838a09868a51de3894114355c75929847a46/specification/applicationinsights/resource-manager/Microsoft.Insights/stable/2015-05-01/componentContinuousExport_API.json#L257

Is it better version?

[2021-11-21 15:41] L-P-G commented on #16452
Somewhat, but it still doesn't really tell me if I should use the container name or a different ID for said container.

Looking at the example I can see the container name (test container) in the output but it was not passed to the cmdlet in a param. I think this is also what's adding to the confusion.

The output example has mismatched data from the inputs passed to the cmdlet.

[2021-11-22 02:16] dingmeng-xue commented on #15754
link PR #16350

[2021-11-22 03:22] #16340 closed

[2021-11-22 04:49] wonner commented on #16368
Hi all, before the bug is fixed, you could try to use below script as workaround.
[code]

[2021-11-22 04:59] wonner commented on #16397
Hi @mwc360 , We are looking into it and will get back to you as soon as we have an update. Sorry for your inconvenience.

[2021-11-22 08:01] #13544 closed

[2021-11-22 08:01] #12990 closed

[2021-11-22 08:01] #12875 closed

[2021-11-22 08:01] #12158 closed

[2021-11-22 08:01] #10871 closed

[2021-11-22 08:01] #10783 closed

[2021-11-22 08:43] #16001 closed

[2021-11-22 09:04] #16378 closed

[2021-11-22 10:42] #16422 closed

[2021-11-22 16:06] SaurabhSharma-MSFT commented on #16450
@sqlpadawan We are looking into it and get back to you.

[2021-11-22 16:37] PramodValavala-MSFT commented on #16399
@jaspkaur28 Could you share insights on any ETA for the above?

[2021-11-22 19:17] SaurabhSharma-MSFT commented on #16394
@Yuiheart Great to hear that your issue got resolved. I do not think so of any limitations as such but I will check internally and get back to you.

[2021-11-22 19:34] ccmaxpcrew commented on #16072
@DevonK3, team is currently working on addressing this change in our documentation.

Will provide an update once this is done.

[2021-11-22 22:06] shanhix1 commented on #15828
Hello @scratch85,

The -notScope parameter does not currently allow for an empty collection, which we are working on changing. In the meantime, there is a workaround you can use by following the below process:

$assignment = Get-AzPolicyAssignment . . .
$assignment.Properties.NotScopes = @()
$assignment | Set-AzPolicyAssignment

This is similar to your Testcase2, but it will take the already const

[2021-11-23 03:51] SaurabhSharma-MSFT commented on #16448
@keith-knight Have you tried executing `New-AzFunctionApp` multiple times with the same function name or is this the first time you run with the same name and got this error ?

[2021-11-23 05:31] claudio-ss opened #16466 "PowerShell ISE more "az.storage" cmdlet as Visual Studio Code"
### Description

I have just installed the latest 6.6.0 version of the Az Module. Now I noticed that there are more cmdlets in the PowerShell ISE than in the Visual Studio code.

Example "az.storage"

PowerShell ISE
PS C:\Users\user> Get-Command -Module az.storage
CommandType     Name                                               Version    Source
-----------     ----

[2021-11-23 05:56] vidai-msft commented on #15911
@Jaykul The Get-AzLog command issue caused by the output of the LocalizableString object has been resolved. Please refer to the issue #15833. The fix will be included in the next release. Thanks!

[2021-11-23 05:56] #15911 closed

[2021-11-23 06:29] wyunchi-ms commented on #12382
Cli will keep the sp there. We can close this issue now.

[2021-11-23 06:30] #12382 closed

[2021-11-23 08:01] #12843 closed

[2021-11-23 08:01] #12451 closed

[2021-11-23 08:21] Yuiheart opened #16472 "Problems when creating linked service via PowerShell"
### Description

I was trying to create linked service via PowerShell. I selected the Service Principal as authentication method as follows.
<img width="439" alt="1637655359(1)" src="https://user-images.githubusercontent.com/37691347/142989892-e45db6a3-0451-4f35-a668-1bce6863b0a6.png">

However, in the json file of linked service which I copied from an existing linked service, there is no support

[2021-11-23 12:16] keith-knight commented on #16448
Hi @SaurabhSharma-MSFT, I'm unsure what changed but after coming back to it after the weekend it is now working fine. I needed to change a few of the other parameter values (e.g. the runtime) but have not since run into the issue with the function name being in use.

`New-AzFunctionApp -Name $ServicesFunctionAppName -ResourceGroupName $ResourceGroupName -Location $GeoLocation -StorageAccount $Stor

[2021-11-23 13:00] davecader opened #16475 "The Set-AzAutomationConnectionFieldValue cmdlet fails with 'Invalid argument specified' error."
### Description

The Set-AzAutomationConnectionFieldValue cmdlet fails with the following error:

Invalid argument specified. Argument ConnectionFieldDefinitionData.Value cannot be null.

Interestingly, I get a similar error when running the AzureRm version of this cmdlet.

### Issue script & Debug output

[code]

### Environment data

[code]

### Module versions

[code]

### Error output

_No res

[2021-11-23 13:55] jspc0 opened #16476 "[Feature]: Open-AzureADMSPrivilegedRoleAssignmentRequest does not support scoped assignments"
### Description of the new feature

The cmdlet does not support creating assignments that are scoped to Administrative Units, this is a critical feature when using PIM for granular delegation.

Looks like Graph exposes the necessary property for that "directoryScopeId"

https://docs.microsoft.com/en-us/graph/api/resources/unifiedroleassignmentscheduleinstance?view=graph-rest-beta

### Proposed imp

[2021-11-23 13:56] jaromirk opened #16477 "Az.StackHCI Register-AzStackHCI ignores custom resource group for Arc initialization"
### Description

When custom resource group is specified in Register-AzureStackHCI parameter, it will likely result in error registering arc agent.

[code]

![powershell36](https://user-images.githubusercontent.com/9829838/143036654-0ee7b636-552b-487d-a59c-3513f652a8a1.png)

![image](https://user-images.githubusercontent.com/9829838/143036420-dd58af88-4b43-46f6-9914-dd8008e3abcd.png)

### Issue sc

[2021-11-23 19:53] SaurabhSharma-MSFT commented on #16448
@keith-knight ok, got it. It is weird, I tried it earlier yesterday and it was giving me runtime not supported but good to hear that your issue is resolved now.
We are closing this issue for now.  Thank you.

[2021-11-23 19:53] #16448 closed

[2021-11-23 19:58] SaurabhSharma-MSFT commented on #16395
@zzgzy Can you please try `Update-Module Az.Accounts -RequiredVersion 2.6.2`.

[2021-11-23 21:45] zzgzy commented on #16395
Issue is resolved by updating the shell extension container version used in Ev2 https://ev2docs.azure.net/features/extensibility/shell/intro.html#linux (MS internal link)

Thanks @SaurabhSharma-MSFT for your help! It looks like the container had some Az update that would be a prerequisite here.

[2021-11-23 21:45] #16395 closed

[2021-11-24 01:50] SaurabhSharma-MSFT commented on #16413
@vivere-dally Can you please share what value you are passing against `-DpsObject $dps` ?

[2021-11-24 01:54] BethanyZhou opened #16479 "Upgrade MSAL library (Microsoft.Identity.Client) to v4.38.0"
### Description

Following issue https://github.com/Azure/azure-powershell/issues/15587, it has been fixed in MSAL side https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/issues/2839.

To do: Upgrade MSAL library (Microsoft.Identity.Client) to  v4.38.0

### Issue script & Debug output

[code]

### Environment data

[code]

### Module versions

[code]

### Error output

_No resp

[2021-11-24 07:41] BethanyZhou opened #16484 "[Eng]: AzPreview is not updated when a single module's version is bumped (OOB release)"
### Description

Before bumping: Az.Compute is 4.18.0
In 2 OOB releases: Az.Compute is 4.20.0
After merge code into main branch: Az.Compute is 4.20.0, Az.Compute is AzPreview.psd1 4.18.0

If we run azure-powershell-sign pipeline in this scenario, publish task fails as Az.Compute 4.18.0 doesn't exist, please refer to: https://dev.azure.com/azure-sdk/internal/_build/results?buildId=1212233&view=resu

[2021-11-24 10:32] Yuiheart opened #16485 "Problems when creating linked service via Az.DataFactory"
### Description

I was trying to create linked service via PowerShell. I selected the Service Principal as authentication method as follows.
![image](https://user-images.githubusercontent.com/37691347/143220766-f93590d2-288d-42b0-b94e-ec6522bf16b2.png)

However, in the json file of linked service which I copied from an existing linked service, there is no support for Service Principal Key field an