[2018-03-09 23:06] panchagnula commented on #3117
@jonsabo  this has been fixed a while back. I tested with our preview-version https://github.com/Azure/azure-powershell/releases/tag/v5.0.0-preview-AzureRM.Websites

[2018-03-09 23:06] #3117 closed

[2018-03-09 23:20] panchagnula commented on #3340
@Weishaupt  @totkeks I am closing this since i cannot repro it. Please do test this using preview to validate https://github.com/Azure/azure-powershell/releases/tag/v5.0.0-preview-AzureRM.Websites & re-activate if needed

[2018-03-09 23:20] #3340 closed

[2018-03-09 23:23] panchagnula commented on #1286
@maddieclayton  this has been active for a while now & i can still repro it on websites-preview as well . Are you planning to look into this?

[2018-03-09 23:29] panchagnula commented on #1544
Please websites-preview for this https://github.com/Azure/azure-powershell/releases/tag/v5.0.0-preview-AzureRM.Websites

![image](https://user-images.githubusercontent.com/13839372/37234765-9545348a-23ae-11e8-93cb-e24d49cd537d.png)

[2018-03-09 23:29] #1544 closed

[2018-03-09 23:32] panchagnula commented on #1633
Sorry this was confusing, this was a brand change for our service we will be cognizant not making such brand changes in the future & we even if we do we will have proper documentation supporting & explaining this.

[2018-03-09 23:32] #1633 closed

[2018-03-09 23:40] markcowl commented on #5460
@rsmccall33 So, I think you have the answer on this, right?  You need to add the correct permissions to your application in order to read the graph objects  that are contained in the role assignments.

[2018-03-09 23:43] markcowl commented on #4561
@ShilpiRacha This is a very old version fo the cmdlets - cna you try updating and see if this fixes the issue?

@vancourse - I don't think this issue is similar to the one you are reporting.  Access tkens by default last for an hour, so Shilpi's issue is likely related to being unable to refresh the access token.  If your authentication lasted for a week, you were able to renwe the token - this co

[2018-03-09 23:43] #4561 closed

[2018-03-09 23:50] markcowl commented on #5636
@JohnNilsson Yes, this is unfortunately correct.  This should be fixed by this issue: https://github.com/Azure/azure-powershell/issues/5365 which is schedule for next sprint.  Closing this bug in favor of that one.

In the meantime, you should be able to fix this in the interim by loading the KeyVault module first

[2018-03-09 23:50] #5636 closed

[2018-03-10 00:03] panchagnula commented on #2410
I can repro this on WebApp after migrating the Serverfarm to a different resource than the app. Assigning to myself to investigate.

[2018-03-10 00:07] panchagnula commented on #4808
This is fixed on our website-preview module you can follow instruction here to install https://github.com/Azure/azure-powershell/releases/tag/v5.0.0-preview-AzureRM.Websites

[2018-03-10 00:07] #4808 closed

[2018-03-10 00:09] #5711 closed

[2018-03-10 00:14] panchagnula commented on #2985
Assigning to myself to fix

[2018-03-10 00:21] panchagnula commented on #3098
@ipinak i cannot repro this on the latest websites-preview module can you please re-try & re-activate if needed https://github.com/Azure/azure-powershell/releases/tag/v5.0.0-preview-AzureRM.Websites

[2018-03-10 00:21] #3098 closed

[2018-03-10 00:35] maddieclayton commented on #1087
@darshanhs90 @cormacpayne Is this an issue in the AzureRM cmdlets?  If this is just Azure SM, are we planning to update this cmdlet in the future?

[2018-03-10 00:35] maddieclayton commented on #793
@darshanhs90 @cormacpayne Is this an issue in the AzureRM cmdlets?  If this is just Azure SM, are we planning to update this cmdlet in the future?

[2018-03-10 00:37] maddieclayton commented on #4684
@vrdmr Can you take a look at this documentation issue?

[2018-03-10 00:39] maddieclayton commented on #4410
@vrdmr Can you ping the correct person on your team regarding this test debt issue?  It has been open since August.

[2018-03-10 00:40] maddieclayton commented on #3776
@safeermohammed Any update on this issue?

[2018-03-10 00:41] maddieclayton commented on #2750
@vrdmr Can you take a look at this feature request?

[2018-03-10 00:42] maddieclayton commented on #2634
@vrdmr Can you take a look at this doc request?  Should be a simple fix.

[2018-03-10 00:43] maddieclayton commented on #2373
@vrdmr Can you take a look at this issue? Is it still an issue in today's version of AzureRM?

[2018-03-10 00:44] panchagnula commented on #3390
@hbaumhardt i am closing as we don't have a repro. Make sure that you are using the ResourceGroupName associated with the AppServicePlan. Tested on this version https://github.com/Azure/azure-powershell/releases/tag/v5.0.0-preview-AzureRM.Websites

[2018-03-10 00:44] #3390 closed

[2018-03-10 00:44] darshanhs90 commented on #2286
Looks like this has to do with the caching withing the service/ARM

[2018-03-10 00:44] maddieclayton commented on #2353
@vrdmr Can you take a look at this issue and close if it is no longer an issue in today's version of AzureRM?

[2018-03-10 00:45] maddieclayton commented on #2265
@vrdmr Was this bug ever resolved? The internal bug filed by @jodoglevy was not linked.

[2018-03-10 00:46] maddieclayton commented on #2197
@vrdmr @jodoglevy Was this issue resolved?  If you do not plan to fix this, please close this issue.

[2018-03-10 00:48] maddieclayton commented on #2195
@vrdmr Is this still an issue in today's version? If not, please close this issue.

[2018-03-10 00:50] maddieclayton commented on #2180
@vrdmr Can you take a look at this issue and close if it is fixed in the current version of AzureRM

[2018-03-10 00:52] maddieclayton commented on #2085
@vrdmr Can you take a look at this feature request?

[2018-03-10 00:53] maddieclayton commented on #2076
@vrdmr @jodoglevy Was this bug fixed? If so, please close this github issue.

[2018-03-10 00:54] cormacpayne commented on #1087
@maddieclayton this looks to be resolved in the latest version of `AzureRM.Resources`

@darshanhs90 let me know if this is not the case

[2018-03-10 00:54] #1087 closed

[2018-03-10 00:54] maddieclayton commented on #1804
@vrdmr Can you take a look at this feature request?

[2018-03-10 00:56] maddieclayton commented on #1803
@vrdmr @eamonoreilly Can you take another look at this issue?

[2018-03-10 00:57] bill-dall commented on #4818
@markcowl - Sure it's really easy to reproduce in about 2 minutes using the code snippet I provided earlier. But with the debug option option I got a bunch of logs, here are the somewhat sanitized version:

DEBUG: Microsoft.IdentityModel.Clients.ActiveDirectory Information: 2 :
DEBUG: 03/10/2018 00:48:49:  - TokenCache: Serializing token cache with 0 items.
DEBUG: Microsoft.IdentityModel.Clients.A

[2018-03-10 00:58] maddieclayton commented on #1791
Closing in favor of: https://github.com/Azure/azure-powershell/issues/2265

[2018-03-10 00:58] #1791 closed

[2018-03-10 01:02] maddieclayton commented on #1640
@vrdmr @eamonoreilly Are you planning to implement this feature in the future? If not, please close this issue.

[2018-03-10 01:08] maddieclayton commented on #1286
@panchagnula This is currently on my backlog as I have a couple other issues I am working on.  The change is very simple, so if you would like to implement it on Websites it would be a quick and simple fix.

[2018-03-10 01:08] cormacpayne commented on #3045
@jlaherran it looks like this issue has been resolved. Please re-open this issue if you are still having this problem.

[2018-03-10 01:08] #3045 closed

[2018-03-10 01:11] MiYanni opened #5719 "Failed NetCore conversions"
Using the PSD1 and CsProj conversion tools, the projects generated for NetCore could not build successfully. Here are the reasons that I logged for the build failures. These would need to be investigated further and see if simple resolutions are possible. If not, the service teams may need to be involved.

# Not Working
### ~~Commands.AnalysisServices.Dataplane~~
- ~~'Detected package downgrade' i

[2018-03-10 01:15] maddieclayton commented on #4789
@singhkays @hyonholee Any update on this issue?

[2018-03-10 01:17] maddieclayton commented on #4301
@danielsollondon Can you take a look at this issue?

[2018-03-10 01:18] maddieclayton commented on #4130
@danielsollondon Any update on this issue?

[2018-03-10 01:18] panchagnula commented on #3996
Sorry this is not something we currently support on our backend & currently we have no plans to support this. NOTE: this is the same behavior on portal as well

[2018-03-10 01:18] #3996 closed

[2018-03-10 01:25] maddieclayton commented on #3730
@singhkays Can we close this issue?

[2018-03-10 01:26] maddieclayton commented on #2685
@singhkays If you are not planning to do this work, please close this issue.

[2018-03-10 01:32] cormacpayne commented on #3088
We are working on refactoring the AD cmdlets so they conform with our [Azure PowerShell design guidelines](https://github.com/Azure/azure-powershell/blob/preview/documentation/development-docs/azure-powershell-design-guidelines.md).

I have added the `MailNickname` parameter to the [`New-AzureRmADUser`](https://github.com/cormacpayne/azure-powershell/blob/resources-improvements/src/ResourceManager

[2018-03-10 01:33] maddieclayton commented on #2399
Closing this as most of the output models that I am looking at now have name properties.  Please reopen if this is still an issue.

[2018-03-10 01:33] #2399 closed

[2018-03-10 01:35] panchagnula commented on #4779
@ahmedelnably can you look at this - i believe this should be assigned to the Insights service, but given this is an year old now - i might be missing some context here

[2018-03-10 01:36] maddieclayton commented on #2134
@hyonholee Can you take a look at this issue and see if it still an issue in the current version?

[2018-03-10 01:37] maddieclayton commented on #2284
@singhkays Was this fixed? If so, can you close the issue?

[2018-03-10 01:37] cormacpayne commented on #3686
Closing this issue as it appears this issue has been resolved according to https://github.com/Azure/azure-powershell/issues/1896. Please feel free to re-open this issue if that is not the case.

[2018-03-10 01:37] #3686 closed

[2018-03-10 01:38] cormacpayne commented on #3866
Closing due to lack of activity. Please feel free to re-open this issue if you are still facing this issue.

[2018-03-10 01:38] #3866 closed

[2018-03-10 01:39] panchagnula commented on #4816
@ahmedelnably can you comment on this please? I am not sure what this command is.

[2018-03-10 01:40] maddieclayton commented on #4413
@hvermis Can you answer this customer question?

[2018-03-10 01:40] cormacpayne commented on #4741
@leowumsft @darshanhs90 I fixed this issue in my development branch for the AD cmdlets that we are looking to get into Azure PowerShell for the May release. I made the [`ApplicationId`](https://github.com/cormacpayne/azure-powershell/blob/resources-improvements/src/ResourceManager/Resources/Commands.Resources/help/Get-AzureRmADAppCredential.md#-applicationid) parameter accept a `Guid` instead of a

[2018-03-10 01:42] hvermis commented on #4475
@rmarteleto This is by design, if you need more detailed information you will need to use our Get- methods instead of List-

[2018-03-10 01:42] #4475 closed

[2018-03-10 01:44] cormacpayne commented on #5161
@markcowl this is fixed in the working [development branch](https://github.com/cormacpayne/azure-powershell/tree/resources-improvements) I have for AD cmdlets -- the paging functionality is supported, but if the user were to not provide `First` or `Skip`, it will enumerate all pages

[2018-03-10 01:45] panchagnula commented on #4841
Adding siteConfig to the SiteObject is going to bloat up the payload & this behavior is consistent with our Arm calls & Azure CLI as well. We can add a new command for returning the configsettings of an App if needed

[2018-03-10 01:45] #4841 closed

[2018-03-10 01:49] panchagnula commented on #5372
This has already been merged & released in websites-preview

[2018-03-10 01:49] #5372 closed

[2018-03-10 01:54] cormacpayne commented on #5530
@darshanhs90 do you know if this is information we can send to the server? Right now, the `PasswordCredentialsUpdateParameters` object that we send (and the corresponding `PasswordCredential` object it contains) does not contain a property for `Description`.

[2018-03-10 02:00] panchagnula commented on #3245
The change pertains to this change list will run the Validate-ServiceMarkdownHelp with platyPSHelp to figure this out & fix

[2018-03-10 13:25] rsmccall33 commented on #5460
@markcowl I opened a MS case too, and was told that apparently there is a random Enterprise App that requires a permission change to allow the Run As account to read it's properties.  However, it is the Azure Portal Fairfax app and it appears that it handles logons...?  We aren't sure the ramifications of what this action will be i.e. removing it as an Ent App, making the permission change, and ma

[2018-03-10 13:32] rsmccall33 commented on #5460
The problem can be seen in Packet 62 with the following call:

Absolute Uri:
https://graph.windows.net/{.......}/getObjectsByObjectIds?api-version=1.6

You get the error:

Body:
{
  "odata.error": {
    "code": "Authorization_RequestDenied",
    "message": {
      "lang": "en",
      "value": "Insufficient privileges to complete the operation."
    }
  }
}

The problem can be found in the access t

[2018-03-11 02:35] cpumanaz commented on #5099
I am having this same error when attempting to update resources. Outside the template using
Set-AzureRmResource

$AppConfig | Set-AzureRmResource  -ApiVersion $APIVersion -Force | Out-Null

Using API 2016-08-01

Using the Microsoft.Web/sites/config Resource Type
Get-AzureRmResource -ResourceType Microsoft.Web/sites/config

[2018-03-11 18:11] berndku opened #5724 "[ApiManagement] Exception in Get-AzureRmApiManagementBackend"
### Description

Get-AzureRmApiManagementBackend throws exception "Cannot convert object to string", if a Service Fabric backend exists.

### Script/Steps for Reproduction
Create Service Fabric Backend in API Management first.

[code]
### Module Version

[code]
ModuleType Version    Name                                ExportedCommands
---------- -------    ----                                -----

[2018-03-11 22:56] rajcheval opened #5725 "Invoke-azurermvmruncommand takes 90 minutes on the first run"
### Description

I have latest PowerShell SDK installed.
I am executing a simple bash script in Ubuntu 16.04 VM.
This VM did have custom extension attached to it.
I am execute a simple command via bash script.
It takes 90 minutes to execute the script the very first time it is run.
Any subsequent runs take a few seconds.

### Script/Steps for Reproduction

created a simple bash script.

#!/bin/bas

[2018-03-11 23:49] maddieclayton commented on #5724
@solankisamir Can you take a look at this issue?

[2018-03-12 02:21] rajcheval commented on #5725
It turns out this issue was only happening on 1 specific VM. I tried the same command on 2 other VM's and the command worked in less than a minute in the first run so this issue can be closed.

[2018-03-12 02:21] #5725 closed

[2018-03-12 09:52] gvee-uk commented on #5631
@cormacpayne @Panda-Wang any movement on this one?

[2018-03-12 11:59] bramvdklinkenberg commented on #4130
Got it to work with a shell script (I know, not powershell.. ;) )
But wanted to share any way how to do it with the azure cli.

`#!/bin/bash

RG="$1"
STORAGE_ACCOUNT="$2"
VM=$(az vm list --resource-group ${RG} | grep node | awk '{ print $1 }')

for i in ${VM}; do
    VM_ID=$(az vm show -g ${RG} -n $i --query "id" -o tsv)
    wget https://raw.githubusercontent.com/Azure/azure-linux-extensions/maste

[2018-03-12 14:49] sdwheeler opened #5726 "Need list of valid values for CommandId in Invoke-AzureRmVMRunCommand"
Reported via LiveFyre - https://docs.microsoft.com/en-us/powershell/module/azurerm.compute/invoke-azurermvmruncommand

### Description

CommandId is an important parameter. The list of allowed values for this parameter is not documented.
Please update your documentation and list these values.

- EnableRemotePS - Configure the machine to enable remote PowerShell. (Windows)
- Ipconfig - List IP conf

[2018-03-12 17:29] YoannGUILLO commented on #5690
Perfect ! When this candidate fix will be released ?

[2018-03-12 17:44] MiYanni commented on #5626
Over half of these are covered here:
https://github.com/Azure/azure-powershell/pull/5718

[2018-03-12 17:46] MiYanni commented on #3746
Automation covered here: https://github.com/Azure/azure-powershell/pull/5718

[2018-03-12 17:48] MiYanni commented on #5621
This is covered by: https://github.com/Azure/azure-powershell/pull/5718

[2018-03-12 19:36] tfitzmac commented on #5182
@MiYanni - I made a bunch of changes to [this doc](https://docs.microsoft.com/en-us/azure/azure-resource-manager/resource-group-authenticate-service-principal) that will get published this afternoon. To avoid duplication, I removed the section about authenticating with a password. For password, it now directs users to the [article](https://docs.microsoft.com/en-us/powershell/azure/create-azure-ser

[2018-03-12 20:45] panchagnula commented on #3934
@carlwoodhouse  yes during create all settings including the sticky settings are cloned.

[2018-03-12 20:45] #3934 closed

[2018-03-12 21:02] gsacavdm opened #5727 "Fix PublicEnvironments initialization when context is autosaved"
### Description
Running `Enable-AzureRmContextAutosave` breaks support for sovereign clouds. After running that command, `Get-AzureRmEnvironment` returns no results and `Login-AzureRmAccount -Environment AzureUSGovernment` errors out with *"Unable to find environment with name 'AzureUSGovernment'"*

### Script/Steps for Reproduction

[code]

### Module Version

5.4.1

### Environment Data

|Name|V

[2018-03-12 21:50] gzaika opened #5728 "Get-AzureRmVM with -Name and -Status parameters does not show PowerState property"
### Description

It is easier to get status for all VMs in Resource Groups in one shot, using simple, top level property PowerState, than either loop through all VMs, or dig it out from somewhere in Statuses property.

### Script/Steps for Reproduction

[code]
Output display 2 different set of properties. Most important, PowerState in $myVM output is missing.
### Module Version

[code]

### Enviro

[2018-03-13 00:35] sergey-shandar opened #5730 "New-AzureRmVMSS/VM should support zones."
### Description

https://docs.microsoft.com/en-us/azure/virtual-machine-scale-sets/virtual-machine-scale-sets-use-availability-zones#use-azure-powershell

### Scenarios

|cmdlet|parameter|type    |main resource(VM/VMSS)|PublicIP                                        |LoadBalancer        |
|------|-----------|--------|----------------------------|------------------------------------|--------------

[2018-03-13 01:41] sergey-shandar commented on #5661
@iainfoulds @gatneil How should calculate LUN? In examples, the first data disk has Lun value 1. Does it mean Lun 0 is OS disk? What happen if image has already several disks? Should I start with Lun = # of OS disks?

[2018-03-13 01:52] sergey-shandar commented on #5661
@iainfoulds @gatneil Currently, partition appears as RAW and there is no disk in Windows Exporer. Should we also format the data disk?

[2018-03-13 03:08] vsadams opened #5733 "Odd error when using the JsonADDomainExtension"
I am at a loss here. Some times (not all the time) our vms will fail to join the domain
The error we get is super odd...

**"message": "Handler 'Microsoft.Compute.JsonADDomainExtension' has reported failure for VM Extension 'ADDomainJoin' with terminal error code '1007' and error message: 'Install failed for plugin (name: Microsoft.Compute.JsonADDomainExtension, version 1.3) with exception Value w

[2018-03-13 03:48] gatneil commented on #5661
@yugangw-msft I think in the CLI, we just do LUN 1 for the first data disk, LUN 2 for the second, etc. right? @sergey-shandar: technically this could potentially have a conflict if the custom image already has data disks in the image, but there's no way for us to inspect the image, so there's no way to know. So I think this behavior should be fine.

@sergey-shandar yup, it's fine to leave the data

[2018-03-13 04:54] yugangw-msft commented on #5661
Actually, CLI starts LUN from 0. For managed images, CLI also retrieves the image resource to count the data disk number and adjusts the LUN for user supplied data disks accordingly.

[2018-03-13 04:57] yugangw-msft commented on #5661
And  as far as i know, os disk has no concept of LUN, and that is revealed in the swagger spec as well.

[2018-03-13 12:28] totkeks commented on #3340
Running the 5.0.0 version I get the same results as before. Maybe it is not just the AzureRM.Websites module that needs to be updated?
As you can see in my screenshot, the progress bars stay open after the Get Cmdlet has finished. Even multiple of them.

[code]

![2018_03_13_13_24_15_windows_powershell](https://user-images.githubusercontent.com/2941389/37341598-4408f25c-26c2-11e8-8eba-765d4e562dcf

[2018-03-13 12:38] zimmermannb commented on #5444
@MiYanni @Panda-Wang Are there any updates on this topic? I did not expect it to be such a tough task to switch to a more recent API-Version?! Or am I missing something?!

[2018-03-13 13:58] aobi1 commented on #5674
Pre v5.4.0:
https://www.powershellgallery.com/packages/AzureRM/4.4.1/Content/AzureRM.psm1
https://www.powershellgallery.com/packages/AzureRM/5.0.1/Content/AzureRM.psm1
https://www.powershellgallery.com/packages/AzureRM/5.0.0/Content/AzureRM.psm1
https://www.powershellgallery.com/packages/AzureRM/5.2.0/Content/AzureRM.psm1
https://www.powershellgallery.com/packages/AzureRM/5.3.0/Content/AzureRM.psm

[2018-03-13 15:15] iainfoulds commented on #5661
@sergey-shandar As @gatneil notes, it's fine to leave the raw disks. We have a couple of example scripts, such as https://github.com/Azure-Samples/compute-automation-configurations/blob/master/prepare_vm_disks.ps1, that prepare the disks. For Linux customers, they may want a different partition layout or filesystem, so it's best not to make those decisions for them.

[2018-03-13 15:58] MiYanni commented on #5182
Since @tfitzmac has done a great job and updated this document, additionally including links to follow-up actions and possible debug messages, I feel this is in a much better state than it was previously. I'm closing this issue.

[2018-03-13 15:58] #5182 closed

[2018-03-13 16:16] MiYanni commented on #5444
@zimmermannb It can be quite complicated to upgrade API versions. Each service has their own team that manages their own cmdlets/SDK. So, they decide when they want to update their SDK, and that SDK is what the cmdlets are built on.

The good news is that it looks like the [Consumption SDK](https://github.com/Azure/azure-sdk-for-net/tree/psSdkJson6/src/SDKs/Consumption) has been updated to API ver

[2018-03-13 17:29] cormacpayne commented on #5726
@hyonholee Hey Hyonho, would you mind taking a look at this doc issue?

[2018-03-13 17:40] cormacpayne commented on #5728
@gzaika is the property missing in _just_ the output displayor is it also missing from the returned object as well? (_i.e._, can you do `$myVM.PowerState`?)

CC: @hyonholee

[2018-03-13 17:42] cormacpayne commented on #5733
@vsadams Hey Vincent, would you mind providing the full script that you are running that is failing for you?

[2018-03-13 19:34] MiYanni commented on #5719
## WIP
- [ ] Commands.AnalysisServices.Dataplane
- [ ] Commands.ApiManagement
- [ ] Commands.AzureBackup
- [ ] Commands.Batch
- [ ] Commands.ContainerInstance
- [ ] Commands.DataFactories
- [ ] Commands.DataLakeStore
- [ ] Commands.DataMigration
- [ ] Commands.Dns
- [ ] Commands.HDInsight
- [ ] Commands.Insights
- [ ] Commands.LocationBasedServices
- [ ] Commands.ManagedServiceIdentity
- [ ] Comma

[2018-03-13 20:33] maddieclayton commented on #5496
## Breaking Changes

### General
- **Make nullable parameters not nullable**
- **Figure out which cmdlets are asynchronous, add asjob, and update in the breaking change release**.
- **Remove ConfirmImpact (possibly add shouldcontinue in its place)**
- **Remove ValueFromPipelineByPropertyName where necessary to enable piping**

### Add-AzureKeyVaultCertificate
- **Change from asynchronous operation

[2018-03-13 21:21] maddieclayton commented on #5548
@MarvTheRobot I just got a chance to look at this again.  It looks like the issue is not with splatting, but rather with dynamic parameters.  I am getting the same issue when running:

```New-AzureRmResourceGroupDeployment -Name asdf -ResourceGroupName maddie1 -TemplateUri https://raw.githubusercontent.com/Azure/azure-quickstart-templates/master/101-hdinsight-rserver/azuredeploy.json -TemplatePara

[2018-03-13 21:31] vsadams commented on #5733
We are actually deploying our arm template using VSTS.  I can give you the full template from our azure arm deployment, if you would like.

[2018-03-13 21:44] #5692 closed

[2018-03-13 21:55] cormacpayne commented on #5733
@vsadams just for my understanding, you are not running any Azure PowerShell cmdlets, correct? If you are having issues with the deployment of an ARM template, I would recommend filing an issue in the Azure Quickstart Template repository: https://github.com/Azure/azure-quickstart-templates/issues

[2018-03-13 22:02] cormacpayne commented on #5460
Closing this issue as it is a permissions issue rather than an issue with the `Get-AzureRmRoleAssignment` cmdlet. The service principal that gets created can be assigned proper permissions through the portal.

@darshanhs90 we should look into fixing this error message so it is clear what is happening rather than throwing the null-reference error.

[2018-03-13 22:02] #5460 closed

[2018-03-13 22:05] cormacpayne commented on #2188
Closing as this is fixed.

[2018-03-13 22:05] #2188 closed

[2018-03-13 22:17] cormacpayne commented on #5639
@sdwheeler can you take a look?

[2018-03-13 23:54] tanmaysingh2257 commented on #5053
@blueww  - This does not seems to be fixed, I was already using 5.4.1 and have updated it to 5.5.0 but still I am getting the same error. See below:

[code]

![image](https://user-images.githubusercontent.com/37352744/37375826-dae36cf4-26f7-11e8-8c5c-5dd4ab3010dd.png)

[2018-03-13 23:55] vsadams commented on #5733
I would normally file this with the Azure Quickstart however, its the JsonADDomainExtension that is failing specifically, which is in this repo. I can file it in the other repo though, if you think that is a better place for this. I am honestly not sure which repo to post this against.

[2018-03-13 23:55] MiYanni opened #5737 "NetCore conversion tools"
- [x] Create tool to convert desktop PSD1 file information to NetCore PSD1 files
- [x] Create tool to convert desktop CsProj file information to NetCore CsProj files (with VS 2017 CsProj formatting)

[2018-03-13 23:56] MiYanni commented on #5737
### Related PRs
PSD1 tool: https://github.com/Azure/azure-powershell/pull/5697
CsProj tool: https://github.com/Azure/azure-powershell/pull/5717

[2018-03-13 23:56] #5737 closed

[2018-03-13 23:59] MiYanni opened #5738 "NetCore project generation/conversion"
- [x] Create PSD1 and CsProj files for NetCore
- [x] Validate build-able projects
- [x] Create PR of currently building projects
- [x] Create issue of non-building projects

[2018-03-14 00:01] MiYanni commented on #5738
PR: https://github.com/Azure/azure-powershell/pull/5718
Non-building projects: https://github.com/Azure/azure-powershell/issues/5719

### Build-able projects
- Commands.AnalysisServices
- Commands.ApiManagement.ServiceManagement
- Commands.ApplicationInsights
- Commands.Automation
- Commands.Billing
- Commands.Cdn
- Commands.Management.CognitiveServices
- Commands.Compute.ManagedService
- Commands

[2018-03-14 00:01] #5738 closed

[2018-03-14 01:07] markcowl commented on #5273
Complete

[2018-03-14 01:07] #5273 closed

[2018-03-14 01:11] markcowl commented on #5081
closing

[2018-03-14 01:11] #5081 closed

[2018-03-14 01:27] markcowl commented on #5727
@gsacavdm Good catch, it looks like environment initialization with built-in environments does not happen until you login once.

Note that you should be able to add the environments, or , if you have an azure login, you can work around this by:
- logging into Azure
- closing the session
- in the new session the get-environment cmdlet should work

[2018-03-14 01:29] markcowl commented on #5727
Fix: Ensure that public environments are properly copied into the context during first execution of the cmdlet

[2018-03-14 01:45] markcowl commented on #5705
@huntr01 Good catch - it looks like this particular cmdlet is trying to usethe context before the parameter is bound here: https://github.com/Azure/azure-powershell/blob/preview/src/ResourceManager/Resources/Commands.ResourceManager/Cmdlets/Implementation/CmdletBase/ResourceManipulationCmdletBase.cs#L123

Need to move this code into BeginProcessing or ProcessRecord

[2018-03-14 01:53] markcowl commented on #3433
Closign as duplicate

[2018-03-14 01:53] #3433 closed

[2018-03-14 02:40] blueww commented on #5053
@tanmaysingh2257
For list containers of a Storage account, server request the SAS token must be an Account SAS, but can't be a container/blob SAS. And the SAS token need at least: -Service Blob -ResourceType Service -Permission l (list).

Following Powershell cmdlets works on 5.5.0, to create an account SAS and list container with it., let me know if you have any problem to use it.

[code]

[2018-03-14 06:10] hermot commented on #5679
Out of curiosity, what happens to an existing runbook when the import of a new runbook failed?
I am doing an import over an existing one with the force flag, but would like to know if Azure ensures the integrity of the original version of the runbook in the case that the import of a new version thereof fails?

[2018-03-14 11:28] sivajibhai commented on #1819
Register-AzureRmAutomationDscNode -AutomationAccountName "DSC-Automation" -AzureVMName "Dscnode1" -ResourceGroupName "ComputeriZation"-NodeConfigurationName "Testauto.localhost"

while iam trying to register the node to azure automation by using above command but iam facing the below error

Register-AzureRmAutomationDscNode : The term 'New-AzureRmResourceGroupDeployment' is not recognized as the n

[2018-03-14 11:31] sivajibhai commented on #1819
This is the full powershell command i tried so far.

 Register-AzureRmAutomationDscNode -AutomationAccountName "DSC-Automation" -AzureVMName "DscPullnode1" -AzureVMResourceGroup "DSC-Machines" -AzureVMLocation "Southeast Asia"
 -ResourceGroupName "ComputeriZation" -NodeConfigurationName "Testauto.localhost"

[2018-03-14 14:36] jsandersrocks opened #5740 "Get-AzureRmKeyVault does not return all items (ignores "nextLink" parameter) when >1000 items"
### Description

Get-AzureRmKeyVault does not return all items (ignores "nextLink" parameter) when >1000 items
Get-AzureRMKeyVault -VaultName 'MYVAULT' also does not work because internally the cmdlet calls Get-AzureRmKeyVault first and does not fine the name.

### Script/Steps for Reproduction

Create > 1000 KeyVault entries in your subscription.

Call Get-AzureRmKeyVault

### Module Version

###

[2018-03-14 15:23] cormacpayne commented on #5740
@maddieclayton would you mind taking a look at this?

[2018-03-14 15:52] MiYanni opened #5741 "Compute test, Test-VirtualMachine, failing on nightly live run"
- [ ] Investigate Compute test failures on nightly live smoke test runs
- [ ] Fix Compute tests

### Info
- Fails on `Test-VirtualMachine`
- Has been failing since Friday, 3/9/2018
- Error shown:
[code]

[2018-03-14 17:49] MiYanni opened #5742 "DataLakeStore: Change FileSystemCmdletProviderEncoding usage to System.Text.Encoding"
Currently, these cmdlets use `FileSystemCmdletProviderEncoding` for their `Encoding` parameter:
- [New-AzureRmDataLakeStoreItem](https://docs.microsoft.com/en-us/powershell/module/azurerm.datalakestore/new-azurermdatalakestoreitem?view=azurermps-4.4.1)
- [Add-AzureRmDataLakeStoreItemContent](https://docs.microsoft.com/en-us/powershell/module/azurerm.datalakestore/add-azurermdatalakestoreitemconten

[2018-03-14 18:21] jsandersrocks commented on #5740
Workaround:

# Get-AzureRMKeyVault only successfully processes 1000 KeyVaults due to a bug in the cmdlet
# https://github.com/Azure/azure-powershell/issues/5740
# this is a workaround...

$subsName = "Jsanders Cases Microsoft Azure Internal Consumption"

if ([string]::IsNullOrEmpty($(Get-AzureRmContext).Account)) {Login-AzureRmAccount}

#select a subscription
Select-AzureRmSubscription -Subscripti

[2018-03-14 18:28] corydwood opened #5743 "Some cmdlets aren't passing the token parameter after using the Add-AzureRmAccount cmdlet with the AccessToken parameter."
### Description

When I authenticate to Azure using the **Add-AzureRmAccount** cmdlet with the **AccessToken** parameter and use certain cmdlets such as **Get-AzureRmRoleAssignment**, **New-AzureRmRoleAssignment**, or any of the **Get-AzureRmAd...** cmdlets, I receive the error below.

This is similar to #3088.

### Script/Steps for Reproduction

[code]

### Module Version

[code]

### Environment

[2018-03-14 19:46] rohansahai commented on #2576
Getting this error in a cloud shell session started from Azure Portal. Specifically, when running:

`New-AzureADMSInvitation` and passing required arguments.. the result is:

[code]

Anyone have a work around? I don't have a windows computer which is why I opted for the cloud shell, but my next step will be to cancel that subscription and try on my own windows device.

[2018-03-14 21:21] #5586 closed

[2018-03-14 22:09] MaximoTrinidad opened #5744 "Get-AzureRmSqlServer cmdlet - Should provide an "Client IP Address" property."
### Description

Not getting the **_Azure SQL Client IP_** in PowerShell its been bothering me since the Azure Classics, and it still an issue in the AzureRM Sql cmdlets.

I just can't find this information.  It force me to use the Azure Portal disrupting my script automation steps.

Of course, If there's a cmdlet that can provide me this information, then let me know. I have searched on "How to g

[2018-03-15 00:39] thebigmoosey opened #5745 "Minimum PowerShell version 5.1"
### Description

Your [powershellgallery](https://www.powershellgallery.com/packages/AzureRM.Resources/5.4.0) states that the "Minimum PowerShell version" required is 3.0, but we've found we required a minimum version of 5.1.

### Script/Steps for Reproduction

With PowerShell 3.0 installed, we were getting failures calling `Login-AzureRmAccount`:

[code]

Once we installed PS 5.1, these errors st

[2018-03-15 06:27] blueww commented on #4807
@utripathi  @rgathub

Would you please share the scenario of why use FIPS? It can help us to decide the priority of the issue. Do you enable it just for security reason, or to meet some policy requirement?

I have raise a PR for this issue, but please note:
1. The fix just use the native MD5 function, which can pass FIPS check, but actually the native MD5 function use same algorithm with managed M

[2018-03-15 07:06] bgelens opened #5747 "Get-AzureRmPolicyDefinition cannot get builtin policies by using name parameter"
### Description

Right now you cannot use ```Get-AzureRmPolicyDefinition``` with the ```-Name``` parameter to get a specific builtin policy definition as it will throw a not found exception. Instead you need to run the cmdlet and pipe it to ```Where-Object```  which is not optimal.

The reason this happens is that the builtin policies are not exposed through the subscriptions route but actually th

[2018-03-15 09:04] rgathub commented on #4807
@blueww I  use FIPS as a policy mandate as I work in a federal agency and there is no scope for getting exceptions.

[2018-03-15 09:08] arcotek-ltd commented on #5586
A note to readers. Although this has been closed by MS, it hasn't been resolved. MS seem unwilling to consider it as a bug or feature request.

In my mind, the decryption logic is moved resulting in the same number of API calls to decrypt secrets and therefore the same "cost", however, moving the decryption process into the loop logic means that the API has to initiate from scratch for each secret

[2018-03-15 14:22] glloyd2010f commented on #5596
Has there been any update regarding this? I am getting the same error, something to note is that I get it outside of pester.

[2018-03-15 16:37] gsacavdm commented on #5727
Workaround worked awesome! Though so that other's that leverage sovereign clouds don't get stuck, it would be ideal to get this fixed. Is this relatively straight forward that you'll be able to address soon? Or maybe provide some guidance so that I can fix it? :)

[2018-03-15 16:53] daviburg commented on #4953
Had this issue. Upgraded to Azure RM 5.5 per https://docs.microsoft.com/en-us/powershell/azure/install-azurerm-ps?view=azurermps-5.5.0
Issue is resolved after upgrade and restart PowerShell console.

[2018-03-15 17:13] praries880 commented on #5744
@jaredmoo Can you comment on this?

[2018-03-15 17:25] ro-joowan commented on #5742
@rahuldutta90 Can you incorporate this when we make the SDK switch?

[2018-03-15 17:37] jaredmoo commented on #5744
This is a great suggestion, thank you! :)

One challenge here is that powershell cmdlets connect to our REST API which is a different endpoint than the server itself, and these two endpoints may have different opinion of what your IP address is depending on virtual networks, etc.

For now, the most accurate solution is to actually try connecting to the server using command line tools such as sqlcm

[2018-03-15 17:48] cormacpayne commented on #5747
@darshanhs90 Hey Haridarshan, would you mind taking a look at this issue? We were able to reproduce this issue locally, so it looks like a bug in the API

[2018-03-15 18:15] safeermohammed commented on #5679
if the existing runbook remains intact if the new runbook publish fails.

[2018-03-15 18:17] safeermohammed commented on #5679
assigning to @najams

[2018-03-15 20:26] maddieclayton commented on #5596
@bganapa Can you take a look at this issue?

[2018-03-15 21:01] MaximoTrinidad commented on #5744
@jaredmoo

Greatly appreciate your suggestion! I have no problem connecting.

The main issue is, automating the steps for creating a Azure SQL Server asset.  If the initial Client IP is available after creating the Azure SQL Server, why not saving into a property value. This way when the asset is created, I can provide the IP address to create the initial Firewall rule. All in one shot! Then, I ca

[2018-03-15 21:04] bganapa commented on #5596
@ChrisLGardner  Is this an ADFS AzureStack environment by any chance?. Can you open a new session and try this?

In AzureStack ADFS environment the refreshToken obtained expires within 8 hours. We have an issue to increase the refresh token expiry.

[2018-03-15 21:26] ChrisLGardner commented on #5596
@bganapa it is an ADFS AzureStack environment.

I have a step in my test script which runs Login-AzureRmAccount before it runs any tests so I can't imagine it's a refreshToken issue, especially as all my other AzureRM cmdlets work fine before and after it.

I'll test again tomorrow when I can access the Stack and update with what I find.

[2018-03-15 21:59] tlisiecki opened #5751 "AzureRM >= 5.0.0 modules autoloading vs powershell runspaces"
### Description
Hello :)
We are desperate for your help :)
A brief description :)
We have a custom wrapper/solution to deploy ARM Templates via New-AzureRmResourceGroupDeployment powershell cmdlet.
We needed the wrapper as the goal was to use a single VSTS Azure Powershell Task to deploy multiple ARM Templates. The wrapper takes a dictionary of Resource Groups with corresponding ARM templates to d

[2018-03-15 21:59] bganapa commented on #5596
It happens like this. You get an AccessToken + RefreshToken when you do a Login-AzureRmAccount initially

Subsequent Login-AzureRmAccount will fetch the AccessToken from the TokenCache as long as it is not expired. If the AccessToken is expired, ADAL is supposed to get a new AcesssToken and RefreshToken.  This happens fine with AAD, with ADFS we are only getting a new AccessToken and not a new Ref

[2018-03-15 23:05] cormacpayne commented on #4629
@bmcdfc instead of using `foreach -Parallel` to start the VMs, try kicking off a job for each VM using the `-AsJob` parameter:

[code]

[2018-03-15 23:57] MiYanni opened #5753 "AnalysisServices.DataPlane: Dependency on non-NetCore Microsoft.IdentityModel.Clients.ActiveDirectory version"
Currently, the DataPlane project for AnalysisServices relies on [version 2.28.3 on Microsoft.IdentityModel.Clients.ActiveDirectory](https://www.nuget.org/packages/Microsoft.IdentityModel.Clients.ActiveDirectory/2.28.3). This works for the .NET Framework build of this project, but not for .NET Core. For .NET Core, we want to use [version 3.13.8 of Microsoft.IdentityModel.Clients.ActiveDirectory](ht

[2018-03-16 00:24] RandalliLama commented on #4818
@markcowl ?

[2018-03-16 00:50] MiYanni opened #5756 "Remove dependency on Security.Cryptography"
In the project folder, the Utilities folder contains a dll, `Security.Cryptography.dll`. The code for this library is [no longer maintained](https://archive.codeplex.com/?p=clrsecurity). The library itself was added to [NuGet](https://www.nuget.org/packages/Security.Cryptography/) using the last version that was created. That version is 1.7.2. The dll in the Utilities folder is 1.6.0.

#### Projec

[2018-03-16 01:25] dkmisra commented on #1978
Time to clone a machine on AWS: 5min
Time to clone a machine on Azure: 4hours and counting

[2018-03-16 01:33] jaredmoo commented on #5744
I understand and agree that this would greatly improve automation of the crease server experience.

The problem is that the cmdlets and the REST endpoint that the cmdlets connect to actually don't know what your IP address is. It's true that the portal does this, but the portal implementation is not accessible by cmdlets at the moment.

This is really great feedback and I would love to address thi

[2018-03-16 01:42] MaximoTrinidad commented on #5744
Thanks again @jaredmoo!

I will patiently wait for for it.  And, If I can help in any way, let me know.
:)

[2018-03-16 04:54] thisSIDEofRANDOM opened #5757 "Invoke-AzureRmVMRunCommand returns cached output on reruns with linux VMs"
### Script/Steps for Reproduction

Create a script file with one command inside it I chose the below to illustrate the issue:

date.sh contains:
```date```

Next we run the script to execute the above command on a Linux VM.
[code]

I get the following back first run:
```Output    : {"code": "ProvisioningState/succeeded" "level": "Info" "displayStatus": "Provisioning succeeded" "message": "Enable s

[2018-03-16 05:18] thisSIDEofRANDOM commented on #5757
For what its worth this is also happening in azurecli - https://github.com/Azure/azure-cli/issues/5833

[2018-03-16 05:28] benPearce1 commented on #5745
I was also able to recreate this issue using a 2012 R2 Server with latest updates, and installing the Azure Powershell 5.4.0 MSI.

Got the following output:
`C:/>Login-AzureRmAccount
WARNING: PowerShell version 3 and 4 will no longer be supported starting in May 2018. Please update to the latest
version of PowerShell 5.1
Login-AzureRmAccount : The term 'Login-AzureRmAccount' is not recognized as t

[2018-03-16 10:09] dragonfly91 opened #5759 "Set-AzureRmRecoveryServicesVaultContext is not working in 5.5.0"
### Description
With the latest update, 5.5.0, Set-AzureRmRecoveryServicesVaultContext cmdlet is not working.

This means that the Set-AzureRmRecoveryServicesVaultContext cmdlet was unable to initialize the Vault parameter correctly. Based on the changeset, this seems to be introduced by some of the changes from the platform team.

One observation is that our internal BVT was not able to catch thi

[2018-03-16 11:23] ChrisLGardner commented on #5596
Testing this and it seems to work correctly now.

Is there any way to clear down the TokenCache or is it cleared when closing the PS window?

[2018-03-16 12:25] frankvaneykelen opened #5760 "Get-AzureRmWebApp does not always return ResourceGroup and DefaultHostName properties"
### Description

Get-AzureRmWebApp does not return ResourceGroup and DefaultHostName properties when run from a script inside a TFS Build step (that uses Add-AzureRMAccount -ServicePrincipal).
When I run Get-AzureRmWebApp from the PowerShell command line on the build server that runs that build (where I authenticate via Login-AzureRmAccount) it does returns these properties.

### Script/Steps for

[2018-03-16 12:56] frankvaneykelen commented on #5760
Some more background: this difference did not happen with older an version (<5) of AzureRM.

[2018-03-16 13:00] hrboyceiii commented on #5745
+1
My customer ran into this 14 Mar 2018 as well.  We downloaded the 5.3.0 MSI and found aliases were broken; tried to download 5.5.0, would not install on Server 2012 R2 and PowerShell 4.0.

Is there a link to timeline for deprecating < PowerShell 5.x?  My customer has significant investment in automation and that deprecation has a huge impact on regression testing for them.

[2018-03-16 17:16] cormacpayne commented on #5760
@frankvaneykelen Hey Frank, just a couple of clarification questions:

(1) You are running `Get-AzureRmWebApp` with the same set of parameters in both cases, correct?

(2) Are the missing properties still available on the object that you get back from the `Get-AzureRmWebApp` call? I would be curious if you were able to do the following:

[code]

These properties should still show up in the output,

[2018-03-16 18:06] cormacpayne commented on #5757
@koralski @hyonholee @savyasachisamal would you mind taking a look at this issue?

[2018-03-16 18:51] v-tisheg opened #5763 "Import Azure Module Errors"
PS C:\WINDOWS\system32> Import-Module -Name AzureRM
Import-Module : Could not load file or assembly 'Microsoft.Azure.Commands.ResourceManager.Cmdlets, Version=5.2.0.0, Culture=neutral,
PublicKeyToken=31bf3856ad364e35' or one of its dependencies. The system cannot find the file specified.
At line:1 char:1
+ Import-Module -Name AzureRM
+ ~~~~~~~~~~~~~~~~~~~~~~~~~~~
    + CategoryInfo          : NotS

[2018-03-16 19:48] ian-a-anderson commented on #5674
Having the same issue on a brand new build server and version 5.5.0.

[2018-03-16 21:00] maddieclayton commented on #5759
@dragonfly91 Working on a fix now, will add you on the review once it is done.

[2018-03-16 23:46] solankisamir commented on #5021
The .NET nuget https://www.nuget.org/packages/Microsoft.Azure.Management.ApiManagement/4.0.0-preview which support Api Version is out. Powershell built on this .net sdk is being worked upon.

[2018-03-17 00:13] maddieclayton commented on #2773
@matt1883 Are you still seeing this issue?

[2018-03-17 00:16] maddieclayton commented on #2439
@ryanvog Can you take a look at this?

[2018-03-17 00:21] PlagueHO commented on #5021
Thanks for the update @solankisamir - this is great news.

[2018-03-17 00:22] matt1883 commented on #2773
I don't see this issue anymore. Thanks, @maddieclayton!

[2018-03-17 00:22] #2773 closed

[2018-03-17 00:23] maddieclayton commented on #4642
@hyonholee @nibhat Can one of you add the example to this file?

@rkyttle I think the second issue you mention has been fixed, as I am now prompted for VM when I run the command.  Please let me know if this continues to be an issue for you.

[2018-03-17 00:26] maddieclayton commented on #4553
@gucalder Ping

[2018-03-17 00:34] maddieclayton commented on #4376
@eshaparmar Can you take a look at this issue?

[2018-03-17 00:34] maddieclayton commented on #3937
@eshaparmar Any update on this issue?

[2018-03-17 14:02] #5733 closed

[2018-03-19 13:27] chhabaramesh commented on #5187
@cormacpayne , I missed your message. I will update you on this in day or two.

[2018-03-19 13:53] turowicz commented on #3391
It's been a while since the issue was created, is the problem still there?

[2018-03-19 14:10] axelgMS commented on #5728
quicly reproduced that
so $myVM.Powerstate doesn't work, but the following shows the VM's PowerState

$myVM = Get-AzureRmVM -ResourceGroupName $RGName -Status -Name $vmname
$myvm.Statuses[1].Code
$myvm.Statuses[1].DisplayStatus

[2018-03-19 14:22] sdwheeler commented on #4553
In general, events are returned in newest first order. However, the order is dependent on the order in which the event provider was able to write the events to the event log. The event providers try to write events in chronological order but there is no 100% guarantee.

[2018-03-19 14:22] #4553 closed

[2018-03-19 14:23] digitus0 commented on #5759
I have a similar problem as well. If you try to run through the steps here: https://docs.microsoft.com/en-us/azure/backup/backup-azure-vms-automation then it looks as if the Get-AzureRmRecoveryServicesVault -Name "testvault" | Set-AzureRmRecoveryServicesVaultContext command completes OK, but the next command then fails stating that you first need to set the vault context. Effectively that makes al

[2018-03-19 16:13] glloyd2010f commented on #5596
So I was trying to test again today and I am still having issues.

I did some manual walk through and got these results. I did use two separate PowerShell windows for these tests.

Figured I'd mention this before this issue was closed.

**Login-AzureRmAccount Method**
1. Login-AzureRmAccount
2. Set-AzureRmContext -Subscription $subscriptionId
3. $kvName = 'vaultName'
4. $test = (Get-AzureKeyVaultS

[2018-03-19 16:24] JaDevGuy commented on #5652
If you guys need me to provide anything here just let me know.

[2018-03-19 18:03] praries880 commented on #5763
@v-tisheg
We would need the following from you to be able to get to the bottom of whats goin on here :
*  Full log from the command "Get-Module -ListAvailable"

[2018-03-19 19:57] maddieclayton commented on #5745
The issue with alias importing was a bug in the 5.3.0 and 5.4.0 versions, and was fixed in 5.5.0.  We have deprecated support for PowerShell 3 and 4 in the MSI starting in version 5.5.0, and will deprecate support for PowerShell 3 and 4 altogether in May.

There a few possible workarounds for this issue:
1) Install 5.5.0 from PSGallery (https://www.powershellgallery.com/packages/AzureRM/5.5.0).  T

[2018-03-19 19:58] #5745 closed

[2018-03-19 20:56] maddieclayton commented on #2661
@darshanhs90 Can you take a look at this issue?

[2018-03-19 20:59] carlwoodhouse commented on #3934
hmm ok, seems wrong as those settings are supposed to be sticky to a particular slot .. imo :)

[2018-03-19 20:59] MiYanni opened #5768 "RecoveryServices project consolidation"
- [ ] Consolidate the following modules into 1-2 projects, depending on what logically makes sense to be grouped together
  - AzureBackup
  - RecoveryServices
  - RecoveryServices.Backup (all projects therein)
  - RecoveryServices.SiteRecovery
  - SiteRecovery

There is duplicate code within multiple projects and it is difficult to maintain outdated projects. Please review all projects and remove

[2018-03-20 00:06] MiYanni opened #5769 "Sql: Update LegacySdk to no longer rely on Microsoft.Bcl.Async"
- [ ] LegacySdk (`SqlManagement.csproj`) uses `TaskEx`. Replace with `Task` usage.

This is a stopgap instead of removing usage of LegacySdk. Instead, simply allow `TaskEx` to no longer be used so this project does not rely on a non-NetCore library, `Microsoft.Bcl.Async`. Usage of `TaskEx` was replaced with `Task` in later versions of the framework, and exist in .NET Core.

**Note**: To allow the

[2018-03-20 00:42] darshanhs90 commented on #2661
@mrvamsidhar Could you check if this issue persists with the latest version of powershell.If i remember correctly I had fixed this a month or two back.

[2018-03-20 00:42] darshanhs90 commented on #2661
Linked to  https://github.com/Azure/azure-powershell/issues/5673

[2018-03-20 07:23] jaredmoo commented on #5769
Is this just find-replace TaskEx -> Task?

[2018-03-20 10:44] rnwood commented on #5202
+1 on this. We just received notification that the non RM API for App Service is shutting down in a few months and believe that therefore this cmdlet will stop working. It's therefore important for us and others that we understand what we can replace use of this cmdlet with.

[2018-03-20 11:28] soulseak commented on #5743
Hit the same Issue any workarround suggested? (except using the rest api directly)

[2018-03-20 14:36] vinayakmoh commented on #2723
@ravbhatnagar are you able to help me out. Have got the same problem when using Visual Studio ARM template

[2018-03-20 14:41] jackfruh commented on #5719
I appreciate the work you're doing on this!

[2018-03-20 15:59] MiYanni commented on #5769
@jaredmoo Potentially. I'd rather not use `LegacySdk`, but it has hundreds of references in the Commands.Sql project. I'm generally keeping track of what may cause failures when running the cmdlets in .NET Core. So, this is one of those potential issues.

[2018-03-20 16:34] jaredmoo commented on #5769
LegacySdk is just the Hyak client. Does Hyak support .net core client generation now?

[2018-03-20 16:52] MiYanni commented on #5769
@jaredmoo AFAIK, Hyak is no longer used in favor of [AutoRest](https://github.com/Azure/autorest). This creates the [Azure .NET SDK](https://github.com/Azure/azure-sdk-for-net) which is what most services use. You reference your [Azure Sql SDK](https://github.com/Azure/azure-sdk-for-net/tree/psSdkJson6/src/SDKs/SqlManagement/Management.Sql) from here, which is what should be used instead of `Legac

[2018-03-20 17:03] MiYanni opened #5775 "ContainerRegistry: Decouple reliance on Commands.Resources.Rest"
Currently, there is a direct dependency on `Commands.Resources.Rest` for `Commands.ContainerRegistry` to build. On my current .NET Core conversion branch, I've decoupled reliance on it down to a single file, `ResourceManagerClient.cs`. This is a derived class from the `ResourceManagerSdkClient` found in `Commands.Resources.Rest`.

- [ ] Determine what functionality is needed from `ResourceManagerS

[2018-03-20 17:15] #5506 closed

[2018-03-20 17:45] maddieclayton commented on #5682
Fixed in PR linked above.  @HemantMahawar Please let me know if this does not fix the issue on CloudShell when the release is deployed on next Tuesday.

[2018-03-20 18:21] sergey-shandar commented on #4772
Pull request #5734

[2018-03-20 18:21] #4772 closed

[2018-03-20 18:22] #5661 closed

[2018-03-20 18:22] #5660 closed

[2018-03-20 18:37] HemantMahawar commented on #5682
@maddieclayton Shouldn't the fix be specific to AzurePSDrive in Cloudshell instead of all up across Cloudshell? The way I understand the fix is to ignore setting PSDefaultParameterValues for AzureRM cmdlets in Cloudshell all up.

[2018-03-20 18:45] HemantMahawar commented on #5682
Moreover, [AzurePSDrive](https://www.powershellgallery.com/packages/AzurePSDrive) ships for non-Cloudshell scenarios as well. And it would be applicable for those scenarios as well [see here](https://github.com/PowerShell/AzurePSDrive/blob/development/AzurePSDrive.psm1#L18)

[2018-03-20 18:59] sergey-shandar opened #5776 "New-AzureRmVm/Vmss ImageName should also support VHD."
### Description

Currently, New-AzureRmVm/Vmss supports an image id as an image name. New-AzureRmVm also supports uploading VHD to Azure storage and then creating VM from the storage. It should be easy to implement support for creating VM/VMSS from VHD in Azure Storage.

### Script/Steps for Reproduction

[code]

### Module Version

[code]

### Environment Data

[code]

### Debug Output

[code]

[2018-03-20 19:32] HemantMahawar commented on #5682
@maddieclayton Thinking a bit more on this and talking to folks who owns AzurePSDrive module, looks like the fix should be done at AzurePSDrive layer as it sits on top of AzureRM* module and SHiPS provider. Do you agree? /cc @raghushantha.

[2018-03-20 19:39] maddieclayton commented on #5682
@HemantMahawar Do you know of an easy way to determine whether or not the user is running on the scenarios that we want to disable Set-AzureRmDefault for?  Aaron told me that the ACC_CLOUD environment variable was the correct way to determine that, but it seems like this is incorrect.

[2018-03-20 20:10] bganapa commented on #5596
@glloyd2010f  It could be the case that when you do a Import-AzureRmContext , the loaded file has the  expired RefreshToken. ( I thought of trying out the scenario, but has not got a chance yet)

@ChrisLGardner
You can do Clear-AzureRmContext  specifying the -Scope. You can look in to the cache by doing [Microsoft.Azure.Commands.Common.Authentication.AzureSession]::Instance.TokenCache.ReadItems()

[2018-03-20 20:46] tomkerkhove opened #5777 "Output types are not clearly documented"
### Description
First of all, I like the way that all AzureRM commands are documented and come with examples out of the box. This makes it easy to get started and you do not need to be an expert to use them.

However, the only problem I have at the moment is that some/all documented outputs are simply types. This is fine for built-in types but if they are custom types it is hard to know what to ex

[2018-03-20 21:01] praries880 commented on #5728
@hyonholee Can you have a look at this?

[2018-03-20 21:14] cormacpayne commented on #5777
@tomkerkhove Hey Tom, thanks for the feedback and the suggestion ☺️

This is something that has been discussed internally and with the docs team a couple of times before. For this scenario to be enabled, we need proper XML documentation for all model types we're using in Azure PowerShell, which would take a good amount of time to do manually. We are looking into ways that we can pull the proper in

[2018-03-20 22:07] MiYanni commented on #4545
Closing this in favor of: https://github.com/Azure/azure-powershell/issues/5777

[2018-03-20 22:07] #4545 closed

[2018-03-20 22:14] MiYanni commented on #4593
This will be resolved with ClientRuntime updates: https://github.com/Azure/azure-powershell/issues/5380

[2018-03-20 22:14] #4593 closed

[2018-03-20 22:19] maddieclayton commented on #5682
Summary of offline discussion: we should only disable Set-AzureRmDefault when we are within PSDrive.  Current fix disables Set-AzureRmDefault in PowerShell, but this is not a permanent fix because PSDrive is available outside of CloudShell and not all CloudShell is run within PSDrive.  CloudShell team will work on their side to disable/remove PSDefaultParameterValues set by Set-AzureRmDefault when

[2018-03-20 22:22] MiYanni commented on #5603
This (psd1) will be generated when cmdlets are autogenerated

[2018-03-20 22:22] #5603 closed

[2018-03-20 22:24] MiYanni commented on #5674
Closing since this is a VSTS issue: https://github.com/Microsoft/vsts-tasks/issues/6720

[2018-03-20 22:24] #5674 closed

[2018-03-20 22:28] MiYanni commented on #5684
@twitchax Do we want to do anything...

[2018-03-20 22:37] MiYanni commented on #5741
@hyonholee Can you take a look at this?

[2018-03-20 22:58] v-tisheg commented on #5763
PS C:\WINDOWS\system32> Get-Module -ListAvailable

    Directory: C:\Program Files\WindowsPowerShell\Modules

ModuleType Version    Name                                ExportedCommands
---------- -------    ----                                ----------------
Script     5.1.1      Azure                               {Get-AzureAutomationCertificate, Get-AzureAutomationConnection, New-AzureAutomatio

[2018-03-20 23:27] juhacket commented on #4708
It was decided that this issue would not be fixed at this time because it requires changes across several cmdlets. The supported way to perform this type of update is to use an ARM template deployment.

[2018-03-21 00:30] smaine commented on #5560
Any updates on this issue? It's blocking our ability to move to new versions of the Azure Powershell cmdlets. I've already highlighted the change that broke the scenario; can anyone provide context on why it was removed and what the workaround is?

[2018-03-21 07:44] gvee-uk commented on #5631
@cormacpayne @Panda-Wang any chance of an update on this, please?
It's been over 3 weeks without any feedback.

[2018-03-21 12:50] ikanni commented on #5607
The Get-Content C:\test\test.txt was returning objects which have a lot of extra metadata added by Get-Content.  Please check https://github.com/PowerShell/PowerShell/issues/6388 The  relevant ConvertTo-Json cmdlet call with -Depth 10  was hanging and causing the issue.

To fix this issue
1. We will change the ConvertTo-Json call depth value from 10 to 4.
2. We will add a 30 sec timeout for Conver

[2018-03-21 13:33] dulfer commented on #3118
There is an error in the ProbeID parameter of Add-AzureRmLoadBalancerRuleConfig.
The parameter accepts an ID, you now pass the full object.

I highlighted the fix below.

$LoadBalancer | Add-AzureRmLoadBalancerRuleConfig ... -ProbeId $LoadBalancer.Probes[0]**.Id** -Protocol Tcp -FrontendPort 443 -BackendPort 443

[2018-03-21 14:27] artisticcheese commented on #5607
I don't understand why ConvertTo-Json is used on incoming string[] in a first place? I assumed variable is just storing string array.

[2018-03-21 14:47] tevert commented on #5760
I believe I'm seeing the same issue; AzurePSCmdletsVersion=5.3.0

Doing a `Get-Member` on the returned object doesn't even show a ResourceGroup or DefaultHostName property defined.

I'm running a custom task type on a custom agent in VSTS, inheriting from the Azure RM Powershell task. It's authenticating via SPN. I *can* make those properties work running locally, using interactive authentication.

[2018-03-21 14:48] frankvaneykelen commented on #5760
@cormacpayne

Re 1) Yes, that correct

Re 2) When I run this script from the command line on the build server..

[code]

.. this is the result:
[code]
When the same code is run as part of a build this is the result:
[code]
So I am able to do `.ResourceGroup`, but I'm not sure how that relates to how "they show up as properties on the object with the values you expect"?

[2018-03-21 17:13] inverted360 commented on #3118
Thank you @dulfer

[2018-03-21 18:00] maddieclayton commented on #5759
Closing as fixed as I cannot reproduce the error after the fix linked above. @dragonfly91 please reopen if you continue to see the issue.

[2018-03-21 18:00] #5759 closed

[2018-03-21 18:08] markcowl commented on #4818
@bill-dall On premise, for this to work, you would need to provide tokens for Graph as well as ARM in the Connect-AzureRmAccount invocation.  This *should* be working in CloudShell, as they should be providing ARM, Graph, and KeyVault tokens as part of login.  Will take a look.

[2018-03-21 18:24] maddieclayton commented on #4740
@iricigor I am looking at the piping scenarios now, and I am curious about this one:
[code]
What does this accomplish that ```Get-AzureKeyVaultSecret -VaultName a ``` does not?  I am looking to enable Get-AzureRmKeyVault | Get-AzureKeyVaultSecret, but would be interested to see what other piping scenarios you think are useful.

[2018-03-21 18:33] markcowl commented on #1064
The Gallery service is no longer supported.  If you are having issues with templates, please file an issue for the particular problem you are experiencing.

[2018-03-21 18:33] #1064 closed

[2018-03-21 18:34] ikanni commented on #5607
In order to support different data types of the input object, we convert the input object as json string using ConvertTo-Json and store the json string in database.

[2018-03-21 21:14] dotnetgator commented on #4708
Even though I worked around this issue months ago when it was initially reported, I'm disappointed by the decision - the cmdlet functions incorrectly - period, regardless of how many/few people need the actual functionality.  The fix can be isolated to adding a parameter so that existing functionality is retained intact.  At a minimum, please be sure to update the documentation to state the cmdlet

[2018-03-21 21:51] bmoore-msft commented on #5433
@EwanNoble @gr4per - the way you can do this is by nesting both deployments.  In the KV deployment you provide an output of the resourceId and then reference that in the SQL deployment.  That will short-circuit the validation call...

That said, I'm interesting in learning more about your scenario...  The KeyVault feature was meant to help avoid putting secrets into the source code.  When you setu

[2018-03-21 22:20] sergey-shandar commented on #5658
Fixed.

[2018-03-21 22:20] #5658 closed

[2018-03-21 23:15] ikanni commented on #5607
Once the current hang issue is fixed.

To store the strings alone from **Get-Content** object to automation variable then please use `Out-String` option as you suggested earlier. The relevant cmdlet and output screen shot is :

![image](https://user-images.githubusercontent.com/16600949/37741973-e43580e2-2d20-11e8-9cb9-6b7d0cd34bb8.png)

Please note that the **Get-Content** returns a complex objec

[2018-03-21 23:38] vaishnavk commented on #4708
@dotnetgator  - Thank you for the feedback. We take feedback from all customers seriously. We understand the limited functionality the PowerShell cmdlet provides and we are constantly working on improving it. The decision was to work on few high priority work items immediately and work on PS cmdlet improvements in the next semester. We will update the documentation to explicitly call out that the

[2018-03-22 00:06] maddieclayton commented on #4465
@gucalder Looks like the help was never updated to reflect this customer question.  Can you please take a look?

[2018-03-22 00:07] maddieclayton commented on #2807
@gucalder Can you take a look at this issue?

[2018-03-22 00:08] maddieclayton commented on #4546
Closing in favor of https://github.com/Azure/azure-powershell/issues/1586, and will ping.

[2018-03-22 00:08] #4546 closed

[2018-03-22 00:11] maddieclayton commented on #1586
@ravbhatnagar @gucalder Can you verify whether this has been fixed, and if so can we close the issue?

[2018-03-22 00:25] #4853 closed

[2018-03-22 00:27] maddieclayton commented on #4743
Issue fixed.

[2018-03-22 00:27] #4743 closed

[2018-03-22 08:30] gr4per commented on #5433
Nesting the deployments worked for me.
My scenario is about post installation custom scripts that download stuff from private github repos, so the github key is in the vault in my case to ensure scaling the vm set later each new vm deployment has access to the secret.

[2018-03-22 09:47] cblackuk opened #5785 "Connect-AzureRmAccount : Remove Credential parameter from User login parameter set"
### Description

Login-AzureRMAccount when using PowerShell Core and AzureRM.Netcore cannot accept PSCredentials.
Using interactive login via browser works fine however.
[code]
### Script/Steps for Reproduction
It was run from Docker: docker run -ti microsoft/powershell

[code]

### Module Version

[code]

### Environment Data

[code]

[2018-03-22 12:02] pixelicous commented on #5030
Breaking change again courtesy of Microsoft..

I am using microsoft's own cmdlet and it breaks, what can i do to solve it?

[2018-03-22 12:32] iricigor commented on #4740
Hi Maddie,

`Get-AzureKeyVaultSecret -VaultName a` returns an array of **SecretIdentityItem** objects, while piping scenario should return array of **Secret** objects. In API terminology the first command does simple `List Objects`, while the second one does `Get Object(s)` (one by one).

The main difference between these two is with a **SecretValue** property. Listing command is not returning a s

[2018-03-22 14:57] bmoore-msft commented on #5433
@gr4per - thx... so in your case you're adding the key to the vault in the same deployment where the VM will consume it?

[2018-03-22 15:32] EthanEiter commented on #5053
@blueww Even after updating to version 5.5.0, I am still getting a 403 response using an SAS. Could it still be broken?
![image](https://user-images.githubusercontent.com/10080179/37780231-8f600e80-2dab-11e8-9065-d27b96b1201c.png)

[2018-03-22 15:43] kringen opened #5786 "AzureRM.Profile AcquireTokenAsync Issue"
### Description

Before installing AzureRM.Profile, and when using the following assembly in the AzureAD module, acquireTokenAsync works as expected.

[code]
However, if I install AzureRM.Profile, I get the following error.

Cannot find an overload for "AcquireTokenAsync" and the argument count: "5"

What makes it even more confusing is when I run the script in PowerShell ISE, it works OK but the

[2018-03-22 15:51] bmoore-msft commented on #5433
makes sense, but in that case, why not just pass the key through the template?  (you can email me if you want to take it off line bmoore at microsoft)

[2018-03-22 16:18] phsphoenix commented on #5763
I have the same error. I have the AzureRM module installed both via the Web Platforms Installer and via Install-Module. I can use the commands of AzureRM even though I have problems importing it. I think the Web Platforms Installer has added AzureRM into the global PowerShell "scope."

[2018-03-22 16:30] #4712 closed

[2018-03-22 17:03] maddieclayton commented on #3988
Closing as the parameters state that they take an id - if the incorrect type is passed it will fail.

[2018-03-22 17:03] #3988 closed

[2018-03-22 17:11] maddieclayton commented on #3588
Looks like test is no longer skipped, closing.

[2018-03-22 17:11] #3588 closed

[2018-03-22 17:30] ro-joowan commented on #5742
@rahuldutta90 Please ack

[2018-03-22 18:06] maddieclayton commented on #2910
Closing - there is no parameter "BackendIpConfiguration".

[2018-03-22 18:06] #2910 closed

[2018-03-22 18:08] rahuldutta90 commented on #5742
Acknowledge. Talked with @MiYanni offline and will make this fix as  apart of a new PR after https://github.com/Azure/azure-powershell/pull/5787/files goes through.

[2018-03-22 18:10] maddieclayton commented on #2628
Closing in favor of: https://github.com/Azure/azure-powershell/issues/3030.

[2018-03-22 18:10] #2628 closed

[2018-03-22 18:12] ro-joowan commented on #5742
👍

[2018-03-22 18:12] leonovss commented on #5759
Hi everyone,
Today I faced with the same issue during the working with Set-AzureRmRecoveryServicesVaultContext cmdlet. I have used the same steps for reproduction and implemented the fix provided by @maddieclayton but unfortunately it didn't work out.

[2018-03-22 18:18] maddieclayton commented on #2419
Closing - improving error messaging across the board is covered by other issues in our repo, and looks like the error here was resolved.

[2018-03-22 18:18] #2419 closed

[2018-03-22 18:23] maddieclayton commented on #1551
@markjbrown @DeepakRajendranMsft Can you close this issue if you are not planning to implement this feature?

[2018-03-22 18:25] maddieclayton commented on #3625
@smithab Can you close this issue if you are now enabled on China cloud?

[2018-03-22 18:36] markjbrown commented on #2267
@DeepakRajendranMsft Deepak, can you assign amitsriva? For some reason I'm unable to.

[2018-03-22 18:40] markjbrown commented on #1551
Adding Anavi from the SDN team to review and comment on this.

[2018-03-22 20:43] maddieclayton commented on #5759
@leonovss The fix will not be released until next Tuesday.  In the meantime, you can either downgrade to 5.4.1, or uninstall your modules downloaded using Install-Module, and reinstall using the MSI: https://github.com/Azure/azure-powershell/releases

[2018-03-22 20:56] maddieclayton commented on #5332
Looks like this was fixed here: https://github.com/Azure/azure-powershell/pull/5334

[2018-03-22 20:56] #5332 closed

[2018-03-22 21:32] aarsan commented on #5733
@vsadams Were you able to figure this out? I am getting the same error on another DSC extension. If not, did you end up opening a ticket on another repo?

[2018-03-22 22:21] maddieclayton commented on #2249
This seems to have been fixed - cannot repro in 5.5.0.  If this continues to be an issue, please reopen.

[2018-03-22 22:21] #2249 closed

[2018-03-22 22:54] markcowl commented on #5730
I think we need to understand the interaction between PIP.SKU and the Zone settings - is it acceptable to use Standard Sku whenever Zone is specified (VM or VMSS)?

[2018-03-22 22:55] markcowl commented on #5730
Are there any other resources that require special settings if one or more zones are specified?

[2018-03-22 22:59] maddieclayton commented on #3702
Fixed.

[2018-03-22 22:59] #3702 closed

[2018-03-22 23:01] cormacpayne commented on #5159
@vivsriaus Hey Vivek, it looks like this issue stems from the underlying ARM API; I'm able to reproduce the same thing when I use `Find-AzureRmResource`:

[code]

It seems that the response is different when sending a request with a filter containing "name" and a filter containing "tagname". Is this a known issue?

[2018-03-22 23:24] maddieclayton commented on #4393
@dragav Do you want me to fix this in the upcoming breaking change PR? Should be a very simple fix.

[2018-03-22 23:32] maddieclayton commented on #3559
Closing - PermissionsToSecrets is a list of strings, so it is not expected to parse a single string into a list - we could not do both this and keep the validateset, which is much more crucial for users.

[2018-03-22 23:32] #3559 closed

[2018-03-22 23:34] maddieclayton commented on #2336
Closing in favor of https://github.com/Azure/azure-powershell/issues/3318 which is assigned to the correct team.

[2018-03-22 23:34] #2336 closed

[2018-03-22 23:39] maddieclayton commented on #4161
@mkosieradzki I cannot repro this issue - if you are still having this issue, please reopen and provide the output of running Get-AzureKeyVaultCertficate with -Debug specified, as well as the output of Resolve-AzureRmError.

[2018-03-22 23:39] #4161 closed

[2018-03-22 23:53] maddieclayton commented on #4067
Closing - many Get cmdlets follow the pattern of not throwing when the resource is not found, for example: ```Get-AzureRmADServicePrincipal -ServicePrincipalName <SPName>```

Additionally, changing the behavior of all of KeyVault cmdlets to throwing an error in a case where an error was not previously thrown is a breaking change, and could have a negative impact on user's scripts with little addit

[2018-03-22 23:53] #4067 closed

[2018-03-23 00:02] maddieclayton commented on #3086
@dragav Do you guys still plan to fix this issue, or should I close?

[2018-03-23 00:07] maddieclayton commented on #3283
@176coding Could not repro with the steps above - if you are still seeing this issue, please reopen and provide more specific steps on how to reproduce this issue.

[2018-03-23 00:07] #3283 closed

[2018-03-23 00:16] dragav commented on #3086
I would prefer to leave this type of verification to the service. Please go ahead and close it. Thanks.

[2018-03-23 00:17] #3086 closed

[2018-03-23 00:21] maddieclayton commented on #4740
@dragav @RandalliLama Do we want to enable this scenario for listing secrets (including secretvalue) by piping Get-AzureRmKeyVault -VaultName <VaultName> | Get-AzureRmKeyVault?  From previous conversations, it seems like we would not want to enable this scenario for the same reason that we don't include the secretvalue when running Get-AzureRmKeyVault -VaultName <VaultName>.

[2018-03-23 00:37] dragav commented on #4740
I understand the need for consistency, but this would effectively trivialize mass-exporting of all the secrets in a vault, and so I am against this change; I just don't see the scenario, aside from the aforementioned wish for consistency.

For KeyVault, the SecretGet permission is highly privileged, whereas SecretList is non-disclosing. The difference in return types (and the current behavior of t

[2018-03-23 00:42] maddieclayton commented on #4740
I will close this issue as will not fix.  The breaking change release will also remove ValueFromPipelineByPropertyName from VaultName and Name, and add piping by InputObject/ResourceId for Vault.

[2018-03-23 00:42] #4740 closed

[2018-03-23 00:54] maddieclayton commented on #5714
Fixed (have another issue covering the release)

[2018-03-23 00:54] #5714 closed

[2018-03-23 00:55] praries880 commented on #5786
@kringen Hi Erik,
Can you paste the output logs for "Get-Module -Name AzureRM -ListAvailable"

It will be helpful for us to see which version of the modules you have on your system.

[2018-03-23 00:57] praries880 commented on #5785
@MiYanni  can you look at this issue?

[2018-03-23 01:17] eamonoreilly commented on #4544
This can be accomplished in the following ways:

1.  Import a pfx certificate into the Automation service and mark as exportable. (You could name this "WebAppCertificate")

2. Create a secure variable in the Automation service to hold your password (You could call this "WebAppPassword")

3. Run the below PowerShell code from a runbook in the Automation service

[code]

[2018-03-23 01:43] blueww commented on #5053
@EthanEiter

As my before reply in this issue, please check how the sas is created.
Since list containers is an account wide operation (no matter you just get one account or list all accounts), you must run it with account sas instead of container sas, and the account sas needs at least: -Service Blob -ResourceType Service -Permission l (list).

You can see sample for how to create such a sas in m

[2018-03-23 01:55] eamonoreilly commented on #4544
Closing this issue with the above resolution. Please reopen if this does not work for you.
Thanks,
Eamon

[2018-03-23 01:55] #4544 closed

[2018-03-23 02:01] blueww commented on #5030
@pixelicous
Thanks for reporting this! We need more information to investigate this issue.
1. Which version of AzureRM.Storage module are you using? (run `Get-module` after the issue happen)
2. Which version of Microsoft.WindowsAzure.Storage did you loading? (Run following command after the issue happen)
`[appdomain]::currentdomain.getassemblies() | ? {$_.Location -like "*Microsoft.WindowsAzure.St

[2018-03-23 05:27] iricigor commented on #4740
I think reason for closing is wrong. Briefly, you have not answered why passing vault name and exactly one secret name to this command should return all secrets list?
[code]

Difference in return types is understandable and also excluding slow operation from default scenario is OK. Parameter **Name** is accepting **single string** only and it should stay like that exactly for the reasons mentioned

[2018-03-23 05:54] Yohmura opened #5793 "error : Import-Module -Name AzureRM"
### Description

I could not load AzureRM using 'Import-Module'.
I would like to know how to solve this issue.
Thank you.

### Script/Steps for Reproduction

[code]

### Module Version

[code]

### Environment Data

[code]

### Debug Output

[code]

[2018-03-23 06:02] Yohmura commented on #5793
Hello, markcowl,
I have tried to step refer to "https://docs.microsoft.com/en-us/powershell/azure/install-azurerm-ps?view=azurermps-5.5.0" to use Azure PowerShell. but the error has been occurred in "Step 3: Load the AzureRM module".
I can't go through next steps...

[2018-03-23 08:24] ehrnst commented on #2140
I am trying to programmatic add an application and a service pricipal in multiple tenants. Authentication is done with a multi tenant app and user, getting token from Rest.

I am facing the same issue here when creating the app using New-AzureRmADApplication. I am trying to understand if this is by design, or was the intention to fix it?

[2018-03-23 08:39] twitchax commented on #5730
@gatneil and @iainfoulds for visibility into these questions on Zones.

[2018-03-23 15:16] kringen commented on #5786
Hi @praries880 , Here are the modules you requested:

    Directory: C:\Program Files (x86)\PowerShell Community Extensions\Pscx3

ModuleType Version    Name                                ExportedCommands
---------- -------    ----                                ----------------
Script     3.2.0.0    Pscx                                {Add-PathVariable, Clear-MSMQueue, ConvertFrom-Base64, Conver

[2018-03-23 15:34] EthanEiter commented on #5053
@blueww I just created an SAS with the permissions shown in this photo:
![image](https://user-images.githubusercontent.com/10080179/37838292-c64dd30e-2e74-11e8-829f-b7f44d512c15.png)

I still receive a 403 error:
![image](https://user-images.githubusercontent.com/10080179/37838383-fa60cec6-2e74-11e8-8cf8-0c39dd1259f7.png)

[2018-03-23 15:46] praries880 commented on #5793
@Yohmura Can you kihdly  provide the full log of the following command :
"Get-Module -ListAvailable"

[2018-03-23 15:51] sdwheeler commented on #5639
These appear to be fixed in the current version of the docs.

[2018-03-23 15:51] #5639 closed

[2018-03-23 16:15] markcowl commented on #5793
@Yohmura Are you able to load any previous versions of Azure PowerShell?  That file contains a type converter that is required for Azure PowerShell.

BTW - you should not have to load the 'AzureRM' module - powershell automatically discovers all cmdlets in modules installed on the PSModulePath.

[2018-03-23 17:44] maddieclayton commented on #4740
Unfortunately the failure of ```[pscustomobject]@{VaultName='a';Name='b'} | Get-AzureKeyVaultSecret``` is due to the way PowerShell selects parameter sets, and cannot be easily fixed.  You could likely use splatting to get the correct result.

In the future, ValueFromPipelineByPropertyName will be removed from both parameters, so this scenario will explicitly not be supported.

[2018-03-23 18:04] sergey-shandar commented on #5730
@yugangw-msft could you have a look and confirm the behavior?

[2018-03-23 19:25] yugangw-msft commented on #5730
@markcowl, when zone is specified, VMSS should use Standard PIP to work with Standard LB. Basic LB is pretty dead for zonal VMSS
For a VM, if it is put into the BE pool of Standard LB, then it should use Standard PIP

[2018-03-23 19:43] panchagnula commented on #4779
@sphibbs , this is not a websites command, i had assigned to @ahmedelnably  14 days ago to follow up & find the right owner. Thank you.

[2018-03-23 20:02] vsadams commented on #5733
@aarsan  I didnt end up opening this up in another repo. However, I did find a work around.

What I found was that if I created an image from a vm that joined the domain by using that extension.  Then created another vm (with that extension) from that image...I would intermittently get the issue.
Problem steps
1: Deploy Vm (With extension)
2: Do stuff
3: Remove extension
4: sysprep
5: Create image

[2018-03-23 21:42] gatneil commented on #5730
If using standard LB, must also have NSG with incoming allow rules with backend port 22 for linux; 3389 for windows; additionally, you need a load balancer rule on port 80 (and also open this on the NSG).

[2018-03-24 00:41] #2661 closed

[2018-03-25 23:41] markcowl opened #5806 "Validate documentation generated from index json"
### Description

Create a tool that creates a documentation index file file for a release.  The tool should use the form:

[code]

And should
- Collect all of the help files that are part of the AzureRM module in a release
- Use data from the mappings file to group the help files by category: https://github.com/Azure/azure-powershell/blob/preview/tools/CreateMappings_rules.json
- Output an index j

[2018-03-25 23:52] markcowl commented on #5763
@v-tisheg are you trying to import the module after running commands in the same session? Note that, once you have loaded any of the modules into the session (which occurs when you run any of the cmdlets) you would need to open a new session to import a different version.

Note that there is *no need* to import AzureRM, you can simply execute the cmdlet you want to execute, and powershell will aut

[2018-03-26 00:06] markcowl commented on #5751
@tlisiecki The main difference between 4.x and 5.x versions of PowerShell is that there is a common, backward compatible version of AzurerM.Profile that all modules depend on.  Because of this, and scripts that use these modules *should* import only needed modules, and not the entire AzureRM module (which includes over 40 dependent modules).

I don't quite understand the above debug stream, becaus

[2018-03-26 00:08] Yohmura commented on #5793
@praries880 Thank you for your response. the result of command is below.
PS C:\Windows\system32> Get-Module -ListAvailable

    Directory: C:\Program Files\WindowsPowerShell\Modules

ModuleType Version    Name                                ExportedCommands
---------- -------    ----                                ----------------
Script     0.5.0      Azure.AnalysisServices              {Add-Azur

[2018-03-26 00:10] markcowl commented on #5743
@corydwood @soulseak The role assignment cmdlets also need to have a token for graph.  To use all the cmdlets, you should pass tokens for graph, (and keyvaule if you are going to use keyvault data plane cmdlets): https://github.com/Azure/azure-powershell/blob/99a4b52c20dac795a360cb33a64c451aef5ee133/src/ResourceManager/Profile/Commands.Profile/help/Connect-AzureRmAccount.md#accesstokenwithsubscrip

[2018-03-26 00:10] #5743 closed

[2018-03-26 00:11] markcowl commented on #5501
Completed

[2018-03-26 00:11] #5501 closed

[2018-03-26 00:11] Yohmura commented on #5793
@markcowl Thank you for your response.
This is first time to try to load Azure PowerShell. I have not yet to load any previous versions of Azure PowerShell.

[2018-03-26 00:14] markcowl commented on #5512
Completed

[2018-03-26 00:14] #5512 closed

[2018-03-26 01:13] markcowl commented on #5267
Completed

[2018-03-26 01:13] #5267 closed

[2018-03-26 01:14] markcowl commented on #5267
VSTS issue here: https://microsoftgraph.visualstudio.com/onboarding/Pre-authorized%20clients/_workitems/edit/566

[2018-03-26 09:37] gvee-uk commented on #5631
@cormacpayne @Panda-Wang 👋

[2018-03-26 12:08] eransha opened #5809 "AzureRm.KeyVault - Remove-AzureKeyVaultCertificate does not respect -Force parameter"
### Description

AzureRm.KeyVault - Remove-AzureKeyVaultCertificate does not respect -Force parameter hence making unusable in automation - it fails since there is no input available
### Script/Steps for Reproduction

Login-AzureRmAccount
Remove-AzureKeyVaultCertificate -VaultName [vaultName] -Name [CertName] -Force
### Module Version
4.2.0
### Environment Data

[code]

### Debug Output

 Remove-A

[2018-03-26 12:10] eransha opened #5810 "AzureRm.KeyVault - Remove-AzureKeyVaultSecret does not respect -Force parameter"
### Description

AzureRm.KeyVault - Remove-AzureKeyVaultSecret does not respect -Force parameter hence making unusable in automation - it fails since there is no input available
### Script/Steps for Reproduction

Login-AzureRmAccount
Remove-AzureKeyVaultSecret  -VaultName [vaultName] -Name [CertName] -Force
### Module Version
4.2.0
### Environment Data

[code]

### Debug Output

 Remove-AzureKeyVa

[2018-03-26 12:53] mguirao commented on #4818
Using Apis and refresh token i'm able to do what i wanted to do :

On one side :

[code]

On the other side :

[code]

This way i'm able to use all the functionnality of KeyVault powershell module.
Thank you for your help

[2018-03-26 13:38] DuncanMillard opened #5811 "GetAzureRmRoleAssignment -ExpandPrincipalGroups doesn't expand groups"
### Description

I'm trying to find out if I, as the currently logged in user, have the Owner role in my current subscription via a group membership.

For example the user is a member of "Resource Access Permissions" group in AAD and "Resource Access Permissions" group has been added as Owner via the Azure Portal -> Subscriptions -> Subscription -> IAM page.

**Expected**
GetAzureRmRoleAssignment

[2018-03-26 14:43] mbsnl opened #5812 "Get-AzureRmApiManagement Fails for Basic SKU Instance"
### Description

Get-AzureRmApiManagement Fails for Basic SKU Instance

### Script/Steps for Reproduction

On a Basic SKU Instance, perform this command:
[code]

### Module Version

[code]

### Environment Data

[code]

### Debug Output

[code]

[2018-03-26 15:48] kwill-MSFT opened #5814 "Enable $expand for List Resources (Get-AzureRmResource or Find-AzureRmResource)"
It is currently not possible to get the createdTime or changedTime properties using Powershell.  The List Resources API (https://docs.microsoft.com/en-us/rest/api/resources/resources/list) accepts a parameter $expand that can be used to specify createdTime and/or changedTime, but this expand parameter is not accessible with Powershell.

[2018-03-26 15:54] v-tisheg commented on #5763
Hello Mark,

Thank you for taking a look at this.

Let’s take a step back.

The following are the entries in my PowerShell profile.:

Set-ExecutionPolicy -ExecutionPolicy Unrestricted -force
Import-Module c:\GetSub\FcShell\fabric.psd1
Import-Module c:\GetSub\FcShell\fabric.psm1
#Import-Module C:\FcShell\FcShell.Release.132.857.28.0\lib\net45\fabric.psm1
#C:\FcShell\FcShell.Release.132.857.28.0\lib

[2018-03-26 16:17] markcowl commented on #5809
@eransha  This is because that operation is marked as 'High' confirm impact, meaning that you either have to respond to the prompt, or pass ```-Confirm:$false``` in scripts.

Agreed that it is simpler if there is a consistent usage of ShouldContinue prompts in these instances.

@maddieclayton Is this one of the things slated for change at the next major release?

[2018-03-26 16:33] markcowl opened #5815 "Manual Validation for new NetCore modules"
### Description

Manual validation of new modules on linux.

- [ ] Validate CRUD for top level resources
- [ ] Identify cmdlets that use the file system (e.g. import/export) and validate that these work on linux
- [ ] Prioritize new core modules (add checklist for all new modules below)
  - [ ] Azure.Storage
  - [ ] AzureRM.Sql
  - [ ] AzureRM.Automation

[2018-03-26 16:41] markcowl opened #5816 "Automation infrastructure for NetCore scenario tests"
### Description

Determine how to run scenario test validation in NetCore (WIndows / Linux)
- Create new NetCore packages
  - [x] Microsoft.Rest.ClientRuntime (2.3.12)
  - [x] Microsoft.Rest.ClientRuntime.Azure (3.3.13)
  - [x] Microsoft.Azure.Test.HttpRecorder (1.8.2)
  - [x] Microsoft.Rest.ClientRuntime.Azure.TestFramework
  - [x] Hyak Runtime and TestFramework

- Update scenario test setup for

[2018-03-26 16:41] cormacpayne commented on #5814
@vivsriaus Hey Vivek, would you mind taking a look at this issue?

[2018-03-26 16:42] cormacpayne commented on #5812
@solankisamir Hey Samir, would you mind taking a look at this issue?

[2018-03-26 16:46] cormacpayne commented on #5811
@darshanhs90 Hey Haridarshan, would you mind taking a look at this issue?

[2018-03-26 16:47] cormacpayne commented on #5810
Similar to issue https://github.com/Azure/azure-powershell/issues/5809

[2018-03-26 16:50] markcowl opened #5817 "Validate Compute Tests against live run recording jenkins job"
### Description

Prepare and validate the usage of the live tests recording Jenkins job against Compute tests

- [x] Update job definition as appropriate to allow running compute (as well as network) tests
- [x] Execute a run and work with compute team to analyze failures
  - [x] Test setup missing
  - [x] Features that should be enabled on the subscription
  - [x] Test or product issues
- [ ] Fil

[2018-03-26 17:24] MattAWilliams opened #5818 "Certificate from file without password"
https://github.com/Azure/azure-powershell/blob/8278e9301047c7aa096f4b08ce9d4f9bf0f1e8a2/src/ResourceManager/KeyVault/Commands.KeyVault/Commands/ImportAzureKeyVaultCertificate.cs#L131-L151

Can't import certificate from file without a password, can only merge pending. Suggest removing Password != null if statement unless this is by design.

[2018-03-26 18:26] cormacpayne commented on #5818
@maddieclayton would you mind taking a look?

[2018-03-26 20:19] sergey-shandar opened #5819 "New-AzureRmVmss/Vm (simple parameter set) should support MSI"
### Description

Adding parameters to be able to enable adding system assigned, user assigned or both types of MSI identities to the VM / VMSS when creating new virtual machines or scale sets.

We will be adding the following parameters
[code]
to the two cmdlets :
 - [NewAzureRmVmss](https://github.com/Azure/azure-powershell/blob/preview/src/ResourceManager/Compute/Commands.Compute/Manual/VirtualM

[2018-03-26 20:28] sergey-shandar commented on #5819
@gatneil @yugangw-msft MSI for VM and VMSS.

[2018-03-26 20:57] maddieclayton commented on #5809
Yes, this will be removed in the upcoming breaking change release in early May.  Closing as this PR is already pending here: https://github.com/Azure/azure-powershell/pull/5799

@eransha Thank you for pointing this out, please let us know if you find any other inconsistent behavior that you want us to fix.

[2018-03-26 20:57] #5809 closed

[2018-03-26 20:57] maddieclayton commented on #5810
Closing as a dup of: https://github.com/Azure/azure-powershell/issues/5809

[2018-03-26 20:57] #5810 closed

[2018-03-26 20:58] maddieclayton commented on #5818
@dragav Can you take a look at this bug?

[2018-03-26 21:01] cormacpayne commented on #5631
@wilcobmsft Hey Wilco, would you mind taking a look at this issue?

[2018-03-26 21:09] vladimir-shcherbakov commented on #5786
Please try to run a new Powershell session(new Powershell window) before running the script. If you import Azure Powershell into session you can't use previous version because it' impossible to unload the dll from the application domain by design.

[2018-03-26 21:09] #5786 closed

[2018-03-26 21:47] #2423 closed

[2018-03-26 21:47] #2386 closed

[2018-03-26 23:15] darshanhs90 commented on #5811
@somefella123 Can you use the latest powershell version and let me know if the error persists.
So that if it still persists,it will be easier to figure out and rule out the earlier issues with the previous versions

[2018-03-26 23:43] ms-premp commented on #5444
@zimmermannb .. thanks for bringing this .. yes, we are actively working on upgrading the PowerShell cmdlets to our new Api Version. I will update and close this issue, when we have a new version published.

[2018-03-27 00:34] MiYanni commented on #5626
Other half are covered here: https://github.com/Azure/azure-powershell/pull/5782

[2018-03-27 00:34] #5626 closed

[2018-03-27 00:36] #5621 closed

[2018-03-27 00:37] MiYanni commented on #5620
Part of: https://github.com/Azure/azure-powershell/pull/5782

[2018-03-27 00:37] #5620 closed

[2018-03-27 00:41] #5623 closed

[2018-03-27 00:42] MiYanni commented on #3746
The rest covered here: https://github.com/Azure/azure-powershell/pull/5782

[2018-03-27 00:42] #3746 closed

[2018-03-27 11:12] KrishnaPaudel opened #5823 "SecureExecution not working on Azure Runbook while creating CustomScriptExtension"
### Description

Unable to use the -SecureExecution paramenter in Set-AzureRMVMCustomScriptExtension in Azure Runbook
### Script/Steps for Reproduction

Set-AzureRmVMCustomScriptExtension -ResourceGroupName $vm.ResourceGroupName
                                                                   -VMName $vm.Name
								   -Location $vm.Location
								   -FileName $Filename
								   **-Run $Com

[2018-03-27 11:27] KrishnaPaudel commented on #5823
![image](https://user-images.githubusercontent.com/34114687/37964609-bb499308-31df-11e8-8d9e-e577c0009f26.png)

If it is not a bug and cannot be used then,
Is there any other way of passing confidential parameters while using Set-AzureRmVMCustomScriptExtension from Azure Runbook?

[2018-03-27 14:07] solankisamir commented on #5812
@cormacpayne we are working on the update to the cmdlets which will fix this issue.

[2018-03-27 15:10] cormacpayne commented on #5823
@danielsollondon would you mind taking a look at this issue?

[2018-03-27 17:08] maddieclayton commented on #4608
Task for //Build: remove module from AzureRM

[2018-03-27 17:14] sphibbs commented on #5256
@derek1ee can you take a look at this. thanks

[2018-03-27 18:08] sureshpagidipati commented on #5763
I am having same issue since yesterday

[2018-03-27 18:18] ahmedelnably opened #5824 "Set-AzureRmWebApp -HostNames doesn't support root domains"
### Description

The Powershell command Set-AzureRmWebApp -Name $webappname -ResourceGroupName $webappname `
-HostNames @(domain1, domain2, etc) only works for Subdomains which are registered on the DNS server with a CNAME. If you configure your root domain(contoso.com) with an A record the above command will not add the root domain.

### Script/Steps for Reproduction

[code]

### Module Version

[2018-03-27 18:39] maddieclayton commented on #5492
Released here: https://www.powershellgallery.com/packages/AzureRM.Aks/0.0.1-preview

[2018-03-27 18:39] #5492 closed

[2018-03-27 18:53] derek1ee commented on #5256
+ @Max Shao<mailto:yisha@microsoft.com>/ @Javed Akhter<mailto:Javed.Akhter@microsoft.com>

________________________________
From: Scott Phibbs <notifications@github.com>
Sent: Tuesday, March 27, 2018 10:15:03 AM
To: Azure/azure-powershell
Cc: Derek Li (AZURE); Mention
Subject: Re: [Azure/azure-powershell] New-AzureRmSchedulerStorageQueueJob - missing Https action type (#5256)

@derek1ee<https://na

[2018-03-27 18:54] sergey-shandar commented on #5730
@yugangw-msft @gatneil I've tried VMSS with zones and without NSG, it works. I mean, I was able to connect using SSH, run a webservice and connect to the website.

[2018-03-27 18:56] gatneil commented on #5730
@sergey-shandar can you share a repro?

[2018-03-27 19:29] vladimir-shcherbakov commented on #5824
@panchagnula, Could you take a look?

[2018-03-27 19:44] #5775 closed

[2018-03-27 20:49] sergey-shandar commented on #5730
@gatneil yes. I'm working on scenario test right now, I will share it soon.

[2018-03-27 21:04] sergey-shandar commented on #5730
## 1. Create Ubuntu VMSS, two instances, two zones
[code]

## 2 Connect to each VM and run simple webservice
[code]

## 3 Connect to website

http://zxc-8ef2bd.westeurope.cloudapp.azure.com

[2018-03-27 21:19] jugheadny commented on #5733
I wanted to comment on this as I had a similar issue with the DSC extension.  This is for any future viewers benefits.  Hopefully it helps.

I had a ticket opened with MSFT support.  It seems that this is a known issue.  Here are some of the comments from the ticket:

This is caused due to the VM agent version made available to the VM from the host. We have recently made a change on the Guest agen

[2018-03-27 21:24] markcandelora opened #5826 "Error calling New-AzureRmWebApp - "Method not found""
### Description
Calling cmdlet throws error:
Method not found: 'System.String Microsoft.Azure.Management.WebSites.Models.Site.get_ResourceGroup()'.

### Script/Steps for Reproduction
[code]

### Module Version

[code]

### Environment Data

[code]

### Debug Output
See logs:
[debug.txt](https://github.com/Azure/azure-powershell/files/1853851/debug.txt)
[err.txt](https://github.com/Azure/azure-powe

[2018-03-27 21:35] cormacpayne commented on #5826
@markcandelora Hey Mark, would you mind providing a list of all of the modules that you have installed on your machine? You can run `Get-Module -ListAvailable` to get this information

[2018-03-27 21:44] cormacpayne commented on #5760
@frankvaneykelen Hey Frank, can you run `Get-Module -ListAvailable` in both environments and provide the logs for both? We are trying to rule out version differences across the environments

[2018-03-27 21:53] cormacpayne commented on #1636
@khiraha this has been fixed. The customer can use the `-WhatIf` and `-Confirm` parameters for additional alerts

[2018-03-27 21:53] #1636 closed

[2018-03-27 21:58] cormacpayne commented on #2214
Closing since there can be suffixes on extension images that cannot be handled properly by `System.Version`

[2018-03-27 21:58] #2214 closed

[2018-03-27 22:01] cormacpayne commented on #2361
Closing as this is a service issue. Please re-open if you continue to see this problem.

[2018-03-27 22:01] #2361 closed

[2018-03-27 22:03] cormacpayne commented on #2482
@z01c can you take a look at this? Does it still apply to the HDInsight tests?

[2018-03-27 22:04] cormacpayne commented on #2548
@RandalliLama @dragav would you mind taking a look? Is this still an issue?

[2018-03-27 22:07] cormacpayne commented on #2655
Closing.

[2018-03-27 22:07] #2655 closed

[2018-03-27 22:09] cormacpayne commented on #2839
Closing since this module is being deprecated.

[2018-03-27 22:09] #2839 closed

[2018-03-27 22:10] maddieclayton commented on #2459
Closed, as ServerManagement is being removed.

[2018-03-27 22:10] #2459 closed

[2018-03-27 22:12] cormacpayne commented on #2834
@bganapa what is the status of this issue?

[2018-03-27 22:13] cormacpayne commented on #2850
@derek1ee Hey Derek, would you mind taking a look at this issue?

[2018-03-27 22:14] cormacpayne commented on #789
@blueww Hey Wei, what is the status of this issue? We should close it if it's not a planned change.

[2018-03-27 22:17] cormacpayne commented on #1394
@ravbhatnagar can you take a look?

[2018-03-27 22:18] cormacpayne commented on #3006
@ravbhatnagar is this still an issue?

[2018-03-27 22:19] cormacpayne commented on #3062
@darshanhs90 would you mind taking a look at this?

[2018-03-27 22:22] darshanhs90 commented on #3062
@alpinemountain Can you repro the same using the new azure powershell release?
Since a bunch of issues were resolved

[2018-03-27 22:27] cormacpayne commented on #2080
Closing.

[2018-03-27 22:27] #2080 closed

[2018-03-27 22:29] cormacpayne commented on #3232
@danielsollondon Hey Daniel, would you mind taking a look at this feature request?

[2018-03-27 22:32] cormacpayne commented on #2278
@ravbhatnagar any update on this issue?

[2018-03-27 23:29] #3232 closed

[2018-03-28 00:29] cormacpayne commented on #3543
Closing. Feel free to re-open this issue if you are still hitting issues with VM creation in other clouds.

[2018-03-28 00:29] #3543 closed

[2018-03-28 00:30] cormacpayne commented on #3541
Closing. Feel free to re-open this issue if you are still having issues accessing VMs in other clouds.

[2018-03-28 00:30] #3541 closed

[2018-03-28 00:36] cormacpayne commented on #3227
Closing as this no longer seems to be an issue. Please feel free to re-open this issue if you are still seeing the same problem.

[2018-03-28 00:36] #3227 closed

[2018-03-28 00:37] cormacpayne commented on #3175
@bganapa Hey Bala, is this still an issue?

[2018-03-28 00:38] cormacpayne commented on #3376
This appears to have been fixed. Closing.

[2018-03-28 00:38] #3376 closed

[2018-03-28 00:39] bganapa commented on #3175
@cormacpayne Nope, Closing it

[2018-03-28 00:39] #3175 closed

[2018-03-28 00:39] cormacpayne commented on #3297
This appears to have been fixed. Closing.

[2018-03-28 00:39] #3297 closed

[2018-03-28 00:39] bganapa commented on #2834
@cormacpayne  We have automation in place

[2018-03-28 00:39] #2834 closed

[2018-03-28 00:42] cormacpayne commented on #3397
@twitchax: "Azure PowerShell continues to maintain RDFE support on a legacy basis: new functionality and bug fixes are addressed sparingly.  This issue does not meet the current threshold for consideration."

[2018-03-28 00:42] #3397 closed

[2018-03-28 00:44] cormacpayne commented on #3380
@athipp @taiwu any update on this issue?

[2018-03-28 00:46] cormacpayne commented on #3336
@darshanhs90 any idea if we are able to support this functionality?

[2018-03-28 01:38] blueww commented on #5053
@EthanEiter

Would you please share the SAS string (hide sig, since it's credential), then I can check if the SAS is OK? And please make sure the SAS is created with same storage account with the storage account name set in New-AzureStorageContext.
And please add -debug to the failed cmdlets, and show the result, then we can see the server request ID and do more investigation.

[2018-03-28 04:43] yugangw-msft commented on #5730
@sergey-shandar, to save the time, would be great if you could just share the the response payload of VMSS GET and paste here. I have a x-zone vmss, w/o nsg, i can `never` connect to it

[2018-03-28 04:51] yugangw-msft commented on #5730
Also, by looking at ` Qwerty@zxc-8ef2bd.westeurope.cloudapp.azure.com`, did you enable instance level of pip and dns label? Just make sure the connection did go through the LB...

[2018-03-28 13:52] frankvaneykelen commented on #5760
From the console:

[code]

[2018-03-28 13:54] frankvaneykelen commented on #5760
From the build:
[code]

[2018-03-28 13:57] frankvaneykelen commented on #5760
Unsurprisingly the results are the same because the environment is the same for both: the on-premise build server. The difference is is the way the script is run: directly from a PowerShell command line vs from a TFS build.

[2018-03-28 14:05] frankvaneykelen commented on #5760
![log-compare](https://user-images.githubusercontent.com/525891/38034089-c5dda74c-32a1-11e8-8e2a-b296954c8a03.PNG)

[2018-03-28 15:40] EthanEiter commented on #5053
Ok, I created an SAS with the following credentials (all of them) on the same account that I am using in New-AzureStorageContext
![image](https://user-images.githubusercontent.com/10080179/38039807-e8e0b98a-3262-11e8-983c-fdf9f3ae2d1e.png)

This is the resulting SAS (with sig scrubbed)

Again, here is the result:
![image](https://user-images.githubusercontent.com/10080179/38040090-9e9bc4e0-3263-11

[2018-03-28 16:00] iainfoulds commented on #5730
If I follow https://docs.microsoft.com/en-us/azure/virtual-machine-scale-sets/quick-create-powershell but add `-Zone "1", "2"`, the scale set and network resources are correctly created as zone-redundant, but I can't connect to the web application via the public IP of the load balancer. I have to create a NSG that allows TCP port 80 and create a load balancer health probe before traffic flows corr

[2018-03-28 17:02] yugangw-msft commented on #5730
@sergey-shandar , JFYI, below is the sample VMSS profile with required nsg at the bottom. W/o that connection won't work with instances
[code]

[2018-03-28 17:02] sergey-shandar commented on #5730
NSG

|cmdlet|parameter|type    |main resource(VM/VMSS)|PublicIP                                        |LoadBalancer        |NSG|
|------|-----------|--------|----------------------------|------------------------------------|--------------------|---|
|VM    |               |           |                                          |PIP.Sku = Basic                             |

[2018-03-28 17:43] cormacpayne commented on #5380
- `Microsoft.Rest.ClientRuntime` has been updated to 2.3.11 across all projects
- `Microsoft.Rest.ClientRuntime.Azure` has been updated to 3.3.12 across all projects
- [`Common.Dependencies.Test.targets`](https://github.com/Azure/azure-powershell/blob/preview/tools/Common.Dependencies.Test.targets) added to every test project, which references both of the above packages

[2018-03-28 17:43] #5380 closed

[2018-03-28 17:44] cormacpayne commented on #4593
This has been resolved with the [`Common.Dependencies.Test.targets`](https://github.com/Azure/azure-powershell/blob/preview/tools/Common.Dependencies.Test.targets) file.

[2018-03-28 19:48] sergey-shandar commented on #5730
@iainfoulds @gatneil @yugangw-msft right, I can't connect to my VMSS anymore. I was able to do this before today.

[2018-03-28 20:07] corydwood commented on #5743
@markcowl - That did the trick. Thanks!

[2018-03-28 20:11] vladimir-shcherbakov opened #5830 "[Compute] New-AzureRmVm cmdlet needs improvement."
### Description

1. If not loged in, the cmdlet reports a confusing error:
[code]
2. The cmdlet parameter name **ImageName** is misleading and should be renamed to **ImageId**.

3. To successfully find an image the correct **-Location** parameter should be provided. So, the Location param should be mandatory in case of creating a VM from an image.

### Script/Steps for Reproduction

[code]

### Mo

[2018-03-28 20:51] RandalliLama commented on #2548
This was fixed by #4102

[2018-03-28 21:14] cormacpayne commented on #2548
@RandalliLama Awesome, thanks for the update, Rich. Closing.

[2018-03-28 21:14] #2548 closed

[2018-03-28 23:33] Nking92 opened #5833 "webapp: Edit-AzureRmWebAppBackupConfiguration always sets Enabled to True"
### Description

The Edit-AzureRmWebAppBackupConfiguration cmdlet will always set the backup configuration with enabled = true, even if the supplied configuration has enabled = false. There are scenarios where a user might need to edit the backup configuration without actually enabling it. Here, "enabled" means that web app backups will be processed based on the configured schedule.

The root caus

[2018-03-29 02:31] blueww commented on #5053
@EthanEiter
The same sceanrio works well in my test. I also created a  SAS with storage explorer.
`?sv=2017-04-17&ss=bfqt&srt=sco&sp=rwdl&st=2018-03-24T09%3A54%3A00Z&se=2018-03-30T09%3A54%3A00Z&sig=***`

Then it works well in Get-AzureStorageContianer:
![image](https://user-images.githubusercontent.com/6926193/38066556-1502e7b2-333b-11e8-926e-f91a152b1bce.png)

Please make sure:
1. Can the SAS be

[2018-03-29 04:25] chris-bowman opened #5835 "Get-AzureRMDisk: Unable to deserialize the response ("createOption": "Restore")"
Calling Get-AzureRmDisk with no parameters is failing to deserialize the json response. It doesn't seem to like "createOption": "Restore", which is what you'd get when you do a failover from ASR A2A with Managed Disks.

Using ASR replicate and failover a VM from region A to region B, then run Get-AzureRmDisk on any of the disks that have been created.
[code]
Exception - Microsoft.Rest.Serializatio

[2018-03-29 05:19] meetamitbhatia opened #5836 "Documentation for Set-AzureRmSqlDatabase misses to document parameter MaxSizeGB"
Documentation for Set-AzureRmSqlDatabase defines MaxSizeBytes as:
“Specifies the new maximum size for the database in bytes. You can specify either this parameter or MaxSizeGB. See the MaxSizeGB parameter for acceptable values per edition.”

However, there is no MaxSizeGB parameter defined on this page, and there is nothing on this page that provides the information about acceptable values.

[2018-03-29 15:44] EthanEiter commented on #5053
Sorry, I completely forgot about the -debug param
![image](https://user-images.githubusercontent.com/10080179/38098170-296317b8-332c-11e8-8165-c228a735598c.png)

1. No, I cannot make a new container either
![image](https://user-images.githubusercontent.com/10080179/38098517-222ae5ec-332d-11e8-951e-1e9df13af212.png)
2. The installed version of Azure.Storage is 4.2.0
![image](https://user-images.git

[2018-03-29 16:48] vladimir-shcherbakov commented on #5835
@praries880 Could you take care of the issue?

[2018-03-29 16:51] vladimir-shcherbakov commented on #5836
@akromm Could you take a look?

[2018-03-29 16:59] MiYanni commented on #5785
@cblackuk This will be a bit before I investigate specific netcore issues. I'm nearly done getting the rest of the [module projects building properly in netcore](https://github.com/Azure/azure-powershell/pull/5782). So, I'll be doing a lot of testing in the next few weeks. I'll make sure to check this issue during that timeframe.

[2018-03-29 17:11] uday31in commented on #4248
Still having same issue

[code]

[2018-03-29 18:30] nathannfan commented on #5836
This parameter is defined here: https://github.com/Azure/azure-powershell/blob/preview/src/ServiceManagement/Sql/Commands.SqlDatabase/Database/Cmdlet/SetAzureSqlDatabase.cs#L136

Perhaps we need to regenerate our documentation.  @vladimir-shcherbakov , any idea whom we contact to update that?

[2018-03-29 18:39] markcowl commented on #5836
@nathannfan ALl you need to do is update the documentation in the repo, and it will automatically be picked up at the next release.  See: https://github.com/Azure/azure-powershell/blob/preview/documentation/development-docs/help-generation.md for instructions

[2018-03-29 19:59] nathannfan commented on #5836
@markcowl This is in our markdown file, https://github.com/Azure/azure-powershell/blob/preview/src/ResourceManager/Sql/Commands.Sql/help/Set-AzureRmSqlDatabase.md, but re-generating through PlatyPS didn't change it, and I don't see the string anywhere in our code.  Is this pulling directly from the Documentation tag of the MaxSizeBytes Property?

[2018-03-29 20:49] deyjcode opened #5838 "New-AzureRMVM fails when using a packer image from Azure Marketplace ISO"
### Description

Followed the guide here for the packer image;
https://docs.microsoft.com/en-us/azure/virtual-machines/windows/build-image-with-packer

Running the below script results in timeout for extension writing. Some cursory research indicates that custom images may not have the extension installed or a firewall rule enabled - however we are using the build from the Azure marketplace. Am I

[2018-03-29 21:20] nathannfan commented on #5836
Pull request to fix this: https://github.com/Azure/azure-powershell/pull/5839

[2018-03-29 22:00] vladimir-shcherbakov commented on #5838
@praries880 Could you take a look?

[2018-03-29 22:35] maddieclayton commented on #5836
Fixed, and will be included in the next release. Closing.

[2018-03-29 22:35] #5836 closed

[2018-03-30 02:07] darshanhs90 commented on #4248
@uday31in you need to update to the new azure powershell available from here https://github.com/Azure/azure-powershell/releases

[2018-03-30 03:41] milope opened #5840 "Importing AzureRM.ServiceFabric before AzureRM.KeyVault causes KeyVaultSecret cmdlets to fail"
### Description

In the latest version of AzureRM.KeyVault and AzureRM.ServiceFabric, if AzureRM.ServiceFabric is imported before AzureRM.KeyVault, cmdlets like Get-AzureKeyVaultSecret and Set-AzureKeyVaultSecret fail with the following:

[code]
This appears to happen because AzureRM.ServiceFabric loads a pre-built Microsoft.Azure.KeyVault.dll for which its Microsoft.Azure.KeyVault.Models.SecretAt

[2018-03-30 05:35] KrishnaPaudel commented on #5823
Any updates here?

[2018-03-30 08:51] blueww commented on #5053
@EthanEiter ,  Since the SAS not work in other scenarios, it looks like the SAS is not valid. Would you please help to verify if the SAS works in other storage tools like Storage Explorer?

Besides that, you hide the server request ID in the output, so I can't find the server log to do more investigation. Would you please don't hide the server request ID in the output. I only need output on Get-Az

[2018-03-30 09:31] montyaahad opened #5841 "Get-AzureRmWebAppSlotPublishingProfile FTP for ILB ASE"
### Description
I am using **Get-AzureRmWebAppSlotPublishingProfile** to get FTP publish credentials. The command working correct for azure multi-tenant applications. But recently we are working with **ILB ASE**, deployed all our apps inside that. Now that command is not working as expected.

For ILB ASE app, suppose the app name is **aa-api** and internal domain name is **aa-internal.com**. It is

[2018-03-30 15:56] vladimir-shcherbakov commented on #5841
@montyaahad  Could you provide more info:
1. Module Version
2. Environment Data
3. Debug Output

[2018-03-30 15:58] vladimir-shcherbakov commented on #5840
@maddieclayton Could you take a look?

[2018-03-30 16:12] EthanEiter commented on #5053
@blueww

Thank you so much for your help, that was the issue. Rather strange that the SAS has to be generated on the machine that you are going to use it on...

[2018-03-30 18:45] sergey-shandar commented on #5730
Merged.

[2018-03-30 18:45] #5730 closed

[2018-03-30 19:37] vladimir-shcherbakov commented on #4516
https://github.com/Azure/azure-powershell/pull/5666

[2018-03-30 19:42] vladimir-shcherbakov commented on #4516
PR merged - closing.

[2018-03-30 19:42] #4516 closed

[2018-03-30 21:06] cormacpayne commented on #5840
@maddieclayton this is a result of the issue outlined in https://github.com/Azure/azure-powershell/issues/5365

To workaround this issue for now, we should ensure that `AzureRM.KeyVault` and `AzureRM.ServiceFabric` are using the same version of the underlying KeyVault SDK.

[2018-03-31 09:56] KrishnaPaudel commented on #5823
@danielsollondon @cormacpayne
Could you guys please take a look and let me know if this is expected? Or is this a known issue/bug?

[2018-03-31 20:55] balasbm commented on #2180
Any further updates on this? I do have the same requirement and blocked now. Any help would be really appreciated.

[2018-03-31 21:53] Anmolgan81 commented on #3633
Please fix this??

[2018-03-31 22:36] balasbm commented on #3354
Anyone found any solution to get the parameeters value(s) using Get-AzureRmAutomationScheduledRunbook? I am blocked and looking for some input on this...

[2018-04-02 05:26] markcowl opened #5851 "Fix Issues with netcore 0.11.0 build"
- [ ] Module definition for Azure.Storage.Netcore (dependencies, psm1 file)
- [ ] AzureRM.Sql - fix loading issues
- [ ] AzureRM.Storage - fix loading issues for WindowsAzure.Storage dll (related to first issue)

[2018-04-02 08:48] montyaahad commented on #5841
@vladimir-shcherbakov I have added more info above.
Just to make it specific again, I am using **Azure App Service Environment with Internal Load Balancer (ILB ASE)**.

[2018-04-02 09:06] michaelthyregod commented on #5826
I can confirm this also happens in AzureRM 5.6.0. Attached is output from `Get-Module -ListAvailable`
[InstalledModules.txt](https://github.com/Azure/azure-powershell/files/1867683/InstalledModules.txt)

[2018-04-02 15:20] MiYanni commented on #5719
These projects have been merged

[2018-04-02 15:20] #5719 closed

[2018-04-02 15:39] marinnedea commented on #5726
When running scripts for Linux VMs, there's no clear description of where the script should be located ( on the machine running the PS or on the Linux VM ??). So.. can we get a sample "scriptpath" usage for linux?

[2018-04-02 16:10] MiYanni commented on #4807
The fix has been merged here: https://github.com/Azure/azure-powershell/pull/5746

[2018-04-02 16:10] #4807 closed

[2018-04-02 16:46] vladimir-shcherbakov commented on #5826
@panchagnula Could you please take a look?

[2018-04-02 16:52] vladimir-shcherbakov commented on #5841
@panchagnula Could you please take a look?

[2018-04-02 16:59] MiYanni commented on #5622
Merged in via https://github.com/Azure/azure-powershell/pull/5829

[2018-04-02 16:59] #5622 closed

[2018-04-02 17:03] MiYanni commented on #5753
Merged in via https://github.com/Azure/azure-powershell/pull/5782

[2018-04-02 17:03] #5753 closed

[2018-04-02 20:21] maddieclayton commented on #5840
Fixed

[2018-04-02 20:21] #5840 closed

[2018-04-02 20:22] maddieclayton commented on #5496
All related issues merged into KV preview. Closing.

[2018-04-02 20:22] #5496 closed

[2018-04-02 20:23] maddieclayton commented on #2243
Fixed. Will be included in the next AzureRM release.

[2018-04-02 20:23] #2243 closed

[2018-04-02 20:45] bmanikm opened #5856 "Cannnot login to AzureRM Account from Mac PowerShell"
_From @pkbelidha on March 31, 2018 23:11_

_Copied from original issue: PowerShell/PowerShellGet#252_

[2018-04-02 21:07] maddieclayton commented on #4393
Done

[2018-04-02 21:07] #4393 closed

[2018-04-02 21:42] bmanikm commented on #5856
@vladimir-shcherbakov This issue was initially created in PowerShell/PowerShellGet repo. I moved it to the correct repository. Please work with @pkbelidha to get the required data to investigate this issue.

[2018-04-02 21:47] vladimir-shcherbakov commented on #5760
@panchagnula Could you please take a look?

[2018-04-02 21:51] vladimir-shcherbakov commented on #5856
@pkbelidha Could you please provide more info or create a new issue in this repo and fill out the entry form?

[2018-04-03 00:14] MiYanni opened #5858 "NetCore 0.11.0 issues"
- [ ] `New-AzureRmAutomationRunbook` DLL loading issue
![image](https://user-images.githubusercontent.com/17788297/38222383-474a1202-3699-11e8-97aa-da7884b3cccc.png)
- [ ] `New-AzureRmSqlDatabase` unexpected character issue
![image](https://user-images.githubusercontent.com/17788297/38401309-d60ea8c8-3909-11e8-80a2-624f733290b4.png)
  - The database is still generated, but that error occurs anyway

[2018-04-03 01:31] adhamod commented on #3407
Same error when I use the command with my Automation Account (Run As Account created by default with my Automation account). I also went to the permissions under App Registration and added Microsoft Graph and Windows Azure Active Directory.
Get-AzureRmRoleAssignment : Exception of type 'Microsoft.Rest.Azure.CloudException' was thrown.
My modules have been updated, AzureRM.Resources : version 5.5.1

[2018-04-03 01:55] adhamod commented on #5192
What privileges to graph are required? I'm using a Run As Account created by default with my Automation account. However, I also went to the permissions under App Registration and added Microsoft Graph and Windows Azure Active Directory.

 I attached output from Resolve-AzureRMError.
[RBACCloudExceptionError.txt](https://github.com/Azure/azure-powershell/files/1869928/RBACCloudExceptionError.txt)

[2018-04-03 07:42] okhoma opened #5859 "Error installing AzureRM.Network 5.4.1"
### Description

Error installing AzureRM.Network 5.4.1 to try out private DNS (https://docs.microsoft.com/en-us/azure/dns/private-dns-getstarted-powershell)

### Script/Steps for Reproduction

[code]

### Module Version

[code]

### Environment Data

[code]

### Debug Output

[code]

[code]

[2018-04-03 07:44] okhoma commented on #5859
It seems the module was eventually installed:
[code]

[2018-04-03 09:52] felixwa commented on #5423
https://github.com/Azure/azure-powershell/pull/5794

[2018-04-03 12:32] pixelicous commented on #955
Same here.. new issues.. this is closed, so ms wont even glance at it 👎

[2018-04-03 16:57] glloyd2010f commented on #5596
@bganapa Turns out I was being foolish, the account I was leveraging had it's settings changed and the password expired. Once I got that corrected I no longer had issues. Sorry all for the hijacking the thread.

[2018-04-03 16:59] KrishnaPaudel commented on #5823
Awaiting you ACK on this issue.

[2018-04-03 18:05] webbermt opened #5862 "Set-AzureRmAutomationConnectionFieldValue cmdlet is adding double quotes to the field value"
### Description

The Set-AzureRmAutomationConnectionFieldValue cmdlet is adding double quotes to the field value.  In the debug output you will notice that it's adding \" around the field value.

### Script/Steps for Reproduction

Set-AzureRmAutomationConnectionFieldValue -Name BLAH -ConnectionFieldName SubscriptionId -Value ABC -ResourceGroupName myRg -AutomationAccountName myAutoBlah

### Module

[2018-04-03 20:46] v-tisheg commented on #5502
Has this been mitigated?  My customer is still unable to invoke the command with the AsJob parameter.

[2018-04-03 21:03] somefella123 commented on #5811
Just to confirm I see the same behaviour on AzureRM.Resources 5.5.1 (the version from Install-Module -Name AzureRM -Repository PSGallery -Force)

[2018-04-03 21:45] dragav commented on #5818
https://github.com/Azure/azure-powershell/pull/5864

[2018-04-03 21:47] balasbm commented on #2180
Alright I found the solution for this. You need to get the JobScheduleId and the pass it to the below cmdlets will get the parameter values nicely!

Get-AzureRmAutomationScheduledRunbook -JobScheduleId <Guid> [-ResourceGroupName] <String> [-AutomationAccountName] <String>

[2018-04-03 21:50] dragav commented on #5740
There were a couple of bugs here, both manifesting themselves in subscriptions with >1k resources:
- finding a vault without providing a RG name returns null
- listing all vaults is truncated to 1,000 records

The KV cmdlets implement pagination correctly. Both issues were caused by a limitation/bug in the ARM client - it returns at most 1k items with a null nextLink; this is being looked at by th

[2018-04-03 21:57] sphibbs commented on #5830
1) Update error when not signed in to conform to the rest of our cmdlets "run Connect-AzureRmAccount" @praries880
2) @twitchax Spec this out ImageName parameter.
3) @twitchax spec it out send it to @praries880

Put it //build for both spec and coding.. @praries880 don't let twitchy keep you down

[2018-04-03 22:02] sphibbs commented on #5684
For Stack users they will need to use the bootstrapper, no need to 'find' the supported api version.

For other clouds that have been a version behind since the begging of time, we haven't heard customer issues here. If we do we can figure out a way to bubble up this info.

@twitchax is in the room and approves this text / action

[2018-04-03 22:02] #5684 closed

[2018-04-03 22:33] maddieclayton commented on #5423
Closing as fixed.

[2018-04-03 22:33] #5423 closed

[2018-04-04 01:05] ctro commented on #5826
I'm seeing the same issue in `5.6.0`

[2018-04-04 05:25] DanielNeedles commented on #5826
I'm seeing the same behavior in 5.6.0 currently.

[2018-04-04 07:36] frankvaneykelen commented on #5760
Some more info: a colleague just told me that in the return value of Set-AzureRmWebApp the properties that are missing from the result of a Get-AzureRmWebApp are present! He thinks that these results should be the same, and I agree. Did not test it myself though!

[2018-04-04 07:41] twitchax commented on #5830
Ok, here it goes.

2. Rename `-ImageName` to `-Image`, and alias to `-ImageName`.  Next, allow `-Image` to properly take a resource id for an image.  Fail gracefully, otherwise.
3. Due to the design of (2), this is unneeded.  If an image cannot be found, or if it is not specified with the fully qualified resource id, then we should fail.  Please find me if this needs more discussion.

[2018-04-04 18:20] sergey-shandar commented on #5657
@gatneil could you help with this? Currently, we use the magic constants in VMSS and they are based on our experience instead of explanations from the Compute team.

[2018-04-04 18:31] sergey-shandar commented on #5708
@gatneil @iainfoulds we would like to create default availability set if an availability set name is specified but the availability set doesn't exist. What's the default availability set should be?

[2018-04-04 18:38] praries880 commented on #5835
issue is because the generated code does not seem to have a valid value for CreationOption :
[code]

Which is a part of :
[code]

@hyonholee  can you take a look?

[2018-04-04 22:08] safeermohammed commented on #3197
Support was added a while back, seems like the issue is not closed. Register-AzureRmAutomationScheduledRunbook supports RunOn

[2018-04-04 22:08] #3197 closed

[2018-04-04 22:13] safeermohammed commented on #3082
Support was provided a while back, seems like the issue is not closed

[2018-04-04 22:13] #3082 closed

[2018-04-04 22:17] safeermohammed commented on #4461
Does not repro, can you activate if still an issue?

[2018-04-04 22:17] #4461 closed

[2018-04-04 22:45] cormacpayne commented on #5649
https://docs.microsoft.com/en-us/powershell/module/azurerm.compute/new-azurermvm

[2018-04-04 22:54] maddieclayton commented on #2180
Closing as will not fix, as this is part of the design.

[2018-04-04 22:54] #2180 closed

[2018-04-04 23:06] safeermohammed commented on #5647
The cmdlet appears to be doing the right thing by letting the user know that an invalid parameter is passed to the runbook that does exists. We have not heard from any users that this validation is causing the issue. In fact the cmdlet is using a fail fast approach, lets say a user creates a schedule and forgets to pass a mandatory parameter. If there is no check the Job will fail with validation

[2018-04-04 23:10] sergey-shandar opened #5871 "New-AzureRmVm\VMSS (and WebAPI): should support `AsArmTemplate` parameter"
### Description

New-AzrureRmVm\VMSS (and WebAPI): should support `AsArmTemplate` parameter

### Script/Steps for Reproduction

[code]

### Module Version

[code]

### Environment Data

[code]

### Debug Output

[code]

[2018-04-04 23:11] sergey-shandar opened #5872 "Strategy library should have nice interface :-)"
### Description

### Script/Steps for Reproduction

[code]

### Module Version

[code]

### Environment Data

[code]

### Debug Output

[code]

[2018-04-04 23:13] sergey-shandar opened #5873 "New-AzureRmVm/Vmss: Scenario test debt"
### Description

New-AzureRmVm/Vmss: Scenario test debt
- [ ] ImageName as
  - [ ] an id,
  - [ ] a name of id in the same resource group
- [x] DataDisks
- [ ] Zones

### Script/Steps for Reproduction

[code]

### Module Version

[code]

### Environment Data

[code]

### Debug Output

[code]

[2018-04-04 23:37] gatneil commented on #5708
If the customer is using managed disk, the defaults above of Aligned, 2, and 2 make sense. If the customer is using unmanaged disks, then 2 and 2 still make sense, but you'll need to provide something instead of Aligned. @chagarw would know what the other value should be :)

[2018-04-04 23:41] gatneil commented on #5657
@sergey-shandar

The port range is multiplied by 2 due to overprovisioning: https://docs.microsoft.com/en-us/azure/virtual-machine-scale-sets/virtual-machine-scale-sets-design-overview#overprovisioning. If overprovisioning is off, then the larger port range is unnecessary (unless the customer scales out later, in which case the port range has to be large enough to hold all the new VMs, plus the ov

[2018-04-05 01:02] MiYanni commented on #5647
To add, I'll also have [Invoke-AzureRmRestMethod](https://github.com/Azure/azure-powershell/issues/3806) sometime after //build. That would allow them to easily do direct REST API calls for Azure in PowerShell.

[2018-04-05 07:01] clericc commented on #5647
@safeermohammed i agree with you, the cmdlets behaviour with the check is totally fine. i work around this by redesigning our services to not create empty parameters.

Could we still get `-JobParameters` as an alias for `-Parameters` in `Start-AzureRmAutomationRunbook`?

[2018-04-05 07:52] cblackuk commented on #5785
@MiYanni Thanks a lot! Really appreciate, please keep us posted :)

[2018-04-05 13:26] cblackuk opened #5876 "Cannot Import any modules in azuresdk/azure-powershell-core but Profile.Netcore - Version 0.10 is required."
### Description
Multiple issues really.
Automatic import of modules does not work and manual does not work either:

When you try to use any AzureRM functions they are not found:

[code]

Therefore, you have to import the modules yourself:
[code]

Problem is that modules are listed with version 0.0 instead of 0.10
[code]

Also it does work fine on *docker run -ti microsoft/powershell* as it lists m

[2018-04-05 15:13] cormacpayne commented on #5876
@twitchax would you mind taking a look at this issue?

[2018-04-05 18:51] nitishmani07 commented on #5826
Any resolution for this issue?

[2018-04-05 18:59] dragav commented on #5740
Transferring to Jianping.

[2018-04-05 19:00] #5818 closed

[2018-04-05 19:02] panchagnula commented on #5826
Hi folks, I have been on vacation, I can take a look & update.
In the meanwhile, moving forward we suggest using the websites preview extension instead of the stable version. is this issue reproing with this as well? https://github.com/Azure/azure-powershell/releases/tag/v5.0.0-preview-AzureRM.Websites

[2018-04-05 19:14] MaximoTrinidad opened #5878 "AzureRM.Profile.Netcore - Missing Connect-AzureRMAccount cmdlet?"
### Description
Just before updating to **_AzureRm.Netcore_** version 0.10.0, I use work with the **Connect-AzureRMAccount** cmdlet. Now, this cmdlet was dropped and its Alias **Login-AzureRMAccount** points to **Add-AzureRMAccount** cmdlet, which I'm not adding an account. I just want to connect.

### Script/Steps for Reproduction

Executing this command won't work:
[code]

### Module Version

[c

[2018-04-05 19:55] twitchax commented on #5876
Closing this, as it is an issue with the `latest` tag which should be updated early next week.

@cblackuk, can you try the preview images that have the latest bits?

[code]

[2018-04-05 19:55] #5876 closed

[2018-04-05 20:29] praries880 opened #5879 "Replace hardcoded passwords in NewAzureVMVm and NewAzureRMVMSS tests with a utility that returns a ranomly generated pasword"
This issue came out of the PR : https://github.com/Azure/azure-powershell/pull/5845#discussion-diff-178967795R312.

We need to create a utility function that can generate a random password that can be used while recording tests.

[2018-04-05 22:10] safeermohammed commented on #5647
Sure, we will do that in next release and add alias -JobParameters.

[2018-04-05 22:30] gvee-uk commented on #5631
@cormacpayne @wilcobmsft 👋
Any update on this, this week?

[2018-04-05 23:08] sergey-shandar commented on #5776
Need a discussion with Compute team about sharing images/vhds.

[2018-04-05 23:13] sergey-shandar commented on #5873
@gatneil could you help with automating image creations.

[2018-04-05 23:44] gatneil commented on #5873
@sergey-shandar I thought you had some initial scripts, right? Did those not work out?

[2018-04-05 23:47] sergey-shandar commented on #5871
- Rename the parameter `TemplateFile`.
- Additional template parameters
  - `username`
  - `vmname`
  - `location`
- null state
- do the operation (unless whatif)

[2018-04-05 23:57] sergey-shandar commented on #5675
Definitely, PowerShell Core should support it.
No key generation.
Parameter `KeyFile`.
Confirm with Compute team.

[2018-04-06 00:04] sergey-shandar commented on #5708
@gatneil how is easy to change the availability set parameters after it's created?

[2018-04-06 00:07] gatneil commented on #5708
the only changeable property is tags :)

[2018-04-06 00:17] sergey-shandar opened #5882 "A cmdlet for getting marketplace images"
### Description

### Script/Steps for Reproduction

[code]

### Module Version

[code]

### Environment Data

[code]

### Debug Output

[code]

[2018-04-06 03:58] sergey-shandar commented on #5873
@gatneil it's not stable because during sysprep generalization sometimes an agent became irresponsive, even if we do `quit` instead of `shutdown`. My current idea is to run sysprep in background so the agent can report `done`. Then, we will need to wait when the machine is shutdown.

[2018-04-06 08:03] cblackuk commented on #5876
@twitchax
Progress for sure but regress at the same time:

[code]

[2018-04-06 08:04] cblackuk commented on #5876
@twitchax Can we re-open this or do you want me to open new issue for 0.11 module?

[2018-04-06 08:09] twitchax commented on #5876
Those issues are covered in #5851, which is not docker-specific.

[2018-04-06 08:13] cblackuk commented on #5876
@twitchax Hmm there is a generic
" Fix 'Assembly already loaded 'loading issues with modules (ApiManagement, Sql, etc.)"

So do you need me to post that in there or we are happy to leave it as is for the moment?

[2018-04-06 08:18] twitchax commented on #5876
That item is referring to this issue you are seeing, and it is being addressed shortly.

[2018-04-06 08:30] bebeo92 commented on #661
Any news :(

[2018-04-06 17:09] juhacket commented on #4926
This is fixed starting in AzureRM.ServiceFabric 0.3.2 (Azure PowerShell 5.5.0).
https://github.com/Azure/azure-powershell/pull/5576

[2018-04-06 17:09] #4926 closed

[2018-04-06 17:09] safeermohammed commented on #5679
Fix was in b/e and it is deployed. Can you please try now? Please reopen the issue if it still repro's.

[2018-04-06 17:09] #5679 closed

[2018-04-06 17:12] carlneal commented on #5835
I get the same issue even when I just do PS C:\Windows\system32> Get-AzureRmDisk

Get-AzureRmDisk : Unable to deserialize the response

[2018-04-06 17:55] panchagnula commented on #661
We don't have an ETA for this support. @ahmedelnably as FYI

[2018-04-06 18:29] arcotek-ltd opened #5885 "New-AzureRmAutomationModule fails when Storage Account Firewall is enabled"
### Description

If the "Firewall" is enabled on the storage account holding the content (zip file of module), I get the following error:
[code]
The "Allow trusted Microsoft services to access this storage account" option is ticked, but unfortunately this doesn't do what one would hope.

If I enter the URL provided in the error, into a browser, I can access the file and the content is as expected.

[2018-04-06 19:47] arcotek-ltd commented on #5885
There is a feature request that will go some way to resolving this. Basically getting the "Allow trusted Microsoft services to access this storage account" checkbox to do what it should: [https://feedback.azure.com/forums/34192--general-feedback/suggestions/33462937-whitelist-all-microsoft-services-in-storage-accoun](https://feedback.azure.com/forums/34192--general-feedback/suggestions/33462937-wh

[2018-04-06 20:51] arcotek-ltd commented on #5885
This cmdlet must also be very "Request-Intensive". Over the last two years of working solidly with ARM via REST and PS, I have never hit the "[throttling request limit](https://docs.microsoft.com/en-us/azure/azure-resource-manager/resource-manager-request-limits)"

[2018-04-06 21:00] arcotek-ltd commented on #5885
OK, so I've found a work-around. As I said, I added all the UK South and UK South 2 datacenter IP ranges to the firewall, which didn't work. Whilst preparing the debug output, I noticed the location was `westeurope` and not UK. I've now added the West Europe IP ranges and it works.

I had to remove the UK South and UK South 2 IPs first (which took a long time as I hit the throttling request limit

[2018-04-06 22:14] arcotek-ltd commented on #5885
Just added IP address for  `uksouth.management.azure.com` to the firewall. No cigar.

[2018-04-06 23:44] dragav opened #5890 "KeyVault: remove the Permissions parameter from Set-Sas cmdlet"
### Description

The Set-AzureKeyVaultManagedStorageSasDefinition cmdlet still prompts for the now-deprecated Permissions parameter.

### Script/Steps for Reproduction

[code]

### Module Version

4.3.0

[code]

### Environment Data

[code]

### Debug Output

[code]

[2018-04-06 23:46] dragav opened #5891 "KeyVault - fix removal of managed storage accounts to allow purge"
### Description

The Remove-AzureKeyVaultManagedStorageAccount cmdlet does not expose the InRemovedState parameter, thus hiding the purge functionality.

### Script/Steps for Reproduction

(assuming an existing storage account)
Remove-AzureKeyVaultManagedStorageAccount -VaultName kvsdkpsh-samples -Name $storage.StorageAccountName

[code]

### Module Version

4.3.0

[code]

### Environment Data

[c

[2018-04-07 00:43] maddieclayton commented on #5649
Fixed.

[2018-04-07 00:43] #5649 closed

[2018-04-07 02:44] MaximoTrinidad opened #5892 "AzureRM.Netcore - Get-AzureRMVMImage not providing ImageName property to create VM"
### Description

I got a concern in regards to a documentation sample of creating an AzureRM VM where it's using the "ImageName" in order to create build the Windows Server.

The sample works as long as you only create a Windows Server using the provided _"ImageName = 'Win2016Datacenter'"_.

But, I can't find no documentation in how to extract the property **ImageName** from the **Get-AzureRMVMIma

[2018-04-07 04:00] markcowl opened #5893 "NetCore: Fails to add git remote to local repository in new-azurermwebapp"
Adding the git remote always gracefully fails on linux when trying to add the azure remote to a local repository.
WARNING: Failed to add git remote to directory '/home/markcowl/mystuff' with error 'No such file or directory'

This is likely because the git executable cannot be found.

[2018-04-07 17:30] brwilkinson opened #5894 "New-AzureRMResourceGroup clears Tags on execution"
### Description

Running New-AzureRMResourceGroup clears the tags if the resource group already exists

I can't see this being the expected behavior ?

### Script/Steps for Reproduction

[code]
**Note: The Tags are now blank.**

### Module Version

[code]

### Environment Data

[code]

### Debug Output

[code]

[2018-04-08 01:55] vsadams commented on #5733
The ticket we had opened with microsoft ended with the same results as @jugheadny. The steps ended up working for us as well.

[2018-04-08 19:31] rgathub commented on #4807
@MiYanni Thanks for fixing this.

[2018-04-09 01:08] markcowl commented on #5785
This is by design.  Usename + Password authentication is not supported in NetCore - you must use device login or service princpal login

[2018-04-09 01:10] markcowl commented on #5793
@Yohmura Unfortunately, you need to allow type converters to use Azure PowerShell, this is unfortunately by design.

[2018-04-09 01:10] #5793 closed

[2018-04-09 01:13] markcowl commented on #4818
Verified that these tokens are automatically provided inside CloudShell, so not sure what scenario is missing.  Closing as not repro

[2018-04-09 01:13] #4818 closed

[2018-04-09 01:35] markcowl opened #5895 "Allow using existing module versions in AzureRM builds for Azure Stack"
### Description

AzureStack should be able to use existing versions of modules in the sign job.

- [ ] Add a script to the sign build that finds versions of modules referenced from AzureRM and copies them from PSGallery into the path (either PSModulePath or the temporary repository where modules are built).

### Cost: 2

[2018-04-09 01:40] markcowl commented on #5894
@brwilkinson Is the ask that the cmdlet simply throws when the resource group already exists?  Other than not throwing for existence, I would expect that a PUT request to an existing resource would replace all properties with the properties provided.

[2018-04-09 01:42] markcowl commented on #5894
@cormacpayne We should make sure we have a consistent experience for New-* cmdlets

[2018-04-09 01:46] markcowl commented on #5892
@MaximoTrinidad The Get-AzureRMVMIamge cmdlet does not return strings that are used with the New-AzureRMVM ImageName parameter.  This is being tracked here: #5882

Meanwhile, you can use the tab completer in New-AzureRmVM to tab through the most populare image names.

[2018-04-09 01:46] #5892 closed

[2018-04-09 01:47] markcowl commented on #5891
@dragav can you put this into a milestoen (or backlog if this will not be in one of the next 3 milestones)

[2018-04-09 01:47] markcowl commented on #5890
@dragav can you put this into a milestoen (or backlog if this will not be in one of the next 3 milestones)

[2018-04-09 01:48] markcowl commented on #5885
@vrdmr can you take a look?

[2018-04-09 01:49] markcowl commented on #5878
@MaximoTrinidad This change has been checked in, will be available publically week of 5/9

[2018-04-09 01:49] #5878 closed

[2018-04-09 01:53] brwilkinson commented on #5894
Well this one is interesting, since the resource group is a container.

All of the resources in the resource group don't get deleted /removed if it already exists.

So I guess a consistent behavior might be expected with the tags.

Tags is the only other parameter that is set on the Cmdlet. Perhaps it should be removed...

[2018-04-09 01:54] markcowl commented on #5859
@okhoma The above module layout means that you have an old msi version of Azure PowerShell installed and you have installed a new version of AzureRM.Network on top of this version.  This will not work.  You should uninstall the msi, then install AzureRM from the gallery.  This will clear up any issues.

See [this doc](https://github.com/Azure/azure-powershell/blob/preview/documentation/troubleshoo

[2018-04-09 01:54] #5859 closed

[2018-04-09 01:54] markcowl commented on #5858
Fixed.

[2018-04-09 01:54] #5858 closed

[2018-04-09 01:55] markcowl commented on #5856
Any mac login issues should be resolved in the version that will be released next week (week of 5/9).  Closing.

[2018-04-09 01:55] #5856 closed

[2018-04-09 02:09] markcowl opened #5896 "Fix PSCmdlet properties without setters in AsJob scenarios"
### Description

Some properties (dynamic parameters, SessionState.Path) are not copied into the target cmdlet when creating a cmdlet copy when executed using AsJon.

- [ ] Identify properties with no setters in PSCmdlet that are used by our cmdlets (at least SessioNState.Path, and DynamicParameters
- [ ] For each property, create a common code mechanism for accessing the exposed functionality in

[2018-04-09 02:10] markcowl commented on #5548
Closing as duplicate of #5896 which has the general solution for this

[2018-04-09 02:10] #5548 closed

[2018-04-09 02:11] markcowl commented on #5502
Closing as duplicate of #5896 which has the general solution for this

[2018-04-09 02:11] #5502 closed

[2018-04-09 02:15] markcowl opened #5897 "Remove adapter code for Argument Completers"
### Description

- [x] Update all cmdlet references to S.M.A 5.1
- [x] Change existing argument completers to extend the SMA 5.1 ArgumentCompleter attribute
- [x] Remove code from build scripts that injects script argument completers for cmdlets
- [x] Add new minimum PS version to psd1 definitions
- [x] Validate argument completers with new signed build

### Cost: 6

[2018-04-09 02:18] markcowl opened #5898 "Track intended breaking changes"
### Description

Go through existing plans for breaking changes and existing breaking change warnings in the codebase and
- [ ] Ensure that there is a good upcomign breaking change document for each
- [ ] Work with feature teams (and us) to ensure that breaking changes are made (list each here:
  - [ ] Remove ServerManagement cmdlets
  - [ ] Remove SiteRecovery cmdlets

### Cost: 8

[2018-04-09 02:22] markcowl opened #5899 "Fix module dependency issues for non-included modules"
### Description

A few modules were not included in the 0.11.0 drop due to unresolvable dependency issues, fix these issues and release the modules ASAP:

- [ ] RecoveryServices.* cmdlets (multiple dependencies)

### Cost: 2

[2018-04-09 02:26] markcowl opened #5900 "Adapt validator for assembly dependencies to NetCore build"
### Description

The desktop build uses a DependencyAnalyzer based on reflection over assembly dependencies to ensure all non-franmework dependencies are included, either in the common runtime, or in individual module directories,

Write a post-package validator to ensure that all required assemblies outside the netcoreapp2.0 set are included in the module package.

- [ ] Appropriate assemblies ar

[2018-04-09 02:36] markcowl opened #5901 "Add base Resource Type for AzureRM cmdlets"
Add base IResource type for generic cmdlets, and ensure piping into core cmdlets.

Size this work to ensure it is doable for //BUILD

### Cost: 8

[2018-04-09 02:41] markcowl opened #5902 "Turn on Context Autosave By Default"
### Desciprtion

- Turn on Context AutoSave by default
- Ensure graceful transition to non-autosaved context on permission failures

### Cost: 6

[2018-04-09 02:43] markcowl opened #5903 "Updates for AD and RM cmdlets (placeholder)"
<Placeholder>

[2018-04-09 03:55] blueww opened #5904 "Storage cmdlets fail message change, not contain detail failure reason in Powershell 5.7.0"
### Description

This is a regression from PowerShell 5.7.0, caused by change Sync Storage API to Async API in following commit.
https://github.com/Azure/azure-powershell/commit/11871280e3d0b771576049374131b0936f919981#diff-92a0f382067082707e33fd2b7ed83d1b
https://github.com/Azure/azure-powershell/pull/5869/commits/5a35790592dfe05c5a05973f4c9da9145486b2f0

In before build, when the cmdlets failed

[2018-04-09 03:57] blueww commented on #5904
There's a workaround to get the detail error message.
when see "One or more errors occurred.", means it's an AggregateException , you can use following command to get the detail exception information:
[code]

[2018-04-09 03:59] blueww commented on #5904
@cormacpayne , @MiYanni

I have raise an option to fix the issue in the description of the issue.
Could you help to fix the issue?
Let me know if you want me to raise a PR to fix it.
Thanks!

[2018-04-09 04:27] MaximoTrinidad commented on #5892
@markcowl

Ok! Sorry for not explaining better but I know that Get-AzureRMVMImage will not return the ImageName string.

I'm looking for an explanation where it was gotten for the example provided in the documentation. (See link URL)

**_You're closing this before giving an explanation!_** And, I don't think this is a duplicate issue at all.

How the example script works providing the **ImageName*

[2018-04-09 10:37] swatiraut14 opened #5906 "Error running command Install-Module -Name AzureRM.....Import-Module : File C:\Program Files\WindowsPowerShell\Modules\AzureRM.Profile\4.5.0\AzureRM.Profile.psm1 cannot be loaded"
### Description

### Script/Steps for Reproduction

[code]

### Module Version

[code]

### Environment Data

[code]

### Debug Output

[code]

[2018-04-09 15:12] markcowl opened #5907 "Investigate Docker build issues"
### Description

Docker cleanup script is failing, and docker image contains old modules and not the complete module set.
- [x] Fix cleanup script
- [ ] Refactor build targets so netcore build builds the same modules as Signed build

### Cost: 2

[2018-04-09 16:44] bill-dall commented on #4818
@markcowl - thanks for looking into this but I'm fairly sure the scenario I was tracking (and need) is not resolved.

As per this comment - https://github.com/Azure/azure-powershell/issues/4818#issuecomment-369735450 if you run those three lines of code (substituting in resource group name, key vault name, and the oid of a user in the directory) from PowerShell in a 'PowerShell ISE' session from W

[2018-04-09 16:59] MiYanni commented on #5785
@markcowl If that is true, we shouldn't expose the `-Credential` parameter in NetCore.

[2018-04-09 18:33] andyKalman commented on #5826
Hello @panchagnula - Followed this as I had an issue with this in 5.6.0 as well. Just installed the preview for AzureRM.Websites and my initial test seems to have worked. I ran a very similar command to what you did @markcandelora which went through this time for me:

[code]

[2018-04-09 20:00] MaximoTrinidad commented on #5892
@markcowl !

Apologies!  I talked to @joeyaiello  and he explained to me what's going on.

Now, I understand about the marketplace issue.

So, Joey found the answer I was looking for...  End up been the "ImageName" shorthand came from the Azure Cli command:
[code]
So, the UrlAlias is missing from the Get-AzureRMVMImage cmdlet.

Got my answer!

Thanks for your patience,
Max

[2018-04-09 20:26] yochaude opened #5910 "Implement certificate-based service principal authentication support in AzureRM.Netcore"
### Description

Latest release of the AzureRM.Netcore module does not support certificate-based service principal authentication.

I don't know if ADAL supports it already, but an [exception is thrown anyway](https://github.com/Azure/azure-powershell/blob/8b467df53bf1b79144afb1250221ec7e6b3a8b44/src/Common/Commands.Common.Authentication/Factories/AuthenticationFactory.cs#L112).

### Script/Steps

[2018-04-09 21:25] DanielNeedles commented on #5826
I uninstalled and reinstalled Azure and AzureRM and the problem disappeared.  Whatever the cause, in my case, it appears corrected.

[2018-04-09 21:34] arcotek-ltd commented on #5885
@vrdmr What does the "automation-elephant" tag mean please?

[2018-04-09 21:47] vrdmr commented on #5885
@arcotek-ltd I assigned it to the internal team in automation which takes look at the Modules.

[2018-04-09 21:52] panchagnula commented on #5826
@DanielNeedles thanks for the update. Can you confirm that the version your re-installed is 5.6.0?

[2018-04-09 22:33] panchagnula commented on #3657
@jskii, i am following with our backend folks if this a possible breaking change they will take on our end . Will update once i get more info from them.

[2018-04-09 22:56] panchagnula commented on #3657
@naveedaz this issue talks about the inconsistency in the ResourGroup property between webapp & other azure resources, example, storage calls this ResourceGroupName - do we have plans of changing this?

[2018-04-09 23:16] naveedaz commented on #3657
We do not have any plans of changing this property in the pay load AFAIK. What is the customer scenario on depending on the resourceGroup property to begin with? There are no official conventions for names of properties within the "properties" property. It really is up to the resource provider to define them. In fact, we should probably not expose it at all, since the resource group is already par

[2018-04-09 23:29] MiYanni commented on #5904
@blueww Creating a PR for it would be great. We needed to make these changes for .NET Core as the synchronous calls are no longer supported. It made sense to simply replace the synchronous calls with async ones, but this is a good catch of the side effects of doing those changes.

I'd suggest doing a conditional catch with pattern matching instead:
[code]

[2018-04-09 23:41] MaximoTrinidad commented on #5878
Thanks @markcowl !!
:)

[2018-04-10 08:27] amoghnatu commented on #5726
@marinnedea The script should be located on the machine running the PS. That script gets copied to the VM and gets executed there.

[2018-04-10 09:50] marinnedea commented on #5726
@amoghnatu thank you! Well.. I figured it out myself in the meantime. Nevertheless.. there should be a mention on this in the documentation.

[2018-04-10 13:50] frankvaneykelen commented on #5760
The same colleague was told by someone at Microsoft that it should have been fixed, but unfortunately the problem has not gone away. This is what she wrote: "I followed up with our team of experts on this unusual behavior and they reported that it was due to the ServerFarmCacheEnabled feature on the Geomaster. ResourceGroup is not persisted as part of CacheResponse, and therefore further requests

[2018-04-10 15:10] yassirkachri opened #5918 "New-AzureRmRoleAssignment problem with Azure Service Principal"
Hi
   I'm using Powershell to Assign Roles to users. When I use Login-AzureRmAccount all goes well but when I try with Connect-AzureRmAccount -servicePrincipal  I got the error

   The servic Prinicipal is Owner of the subscription and have all permissions on Graph API

Thanks for help
[code]

Powershell

[code]

[2018-04-10 15:11] dufain commented on #4804
Any updates on this? I'm running into the same problem.

[2018-04-10 17:10] maddieclayton commented on #4608
Done

[2018-04-10 17:10] #4608 closed

[2018-04-10 19:39] MiYanni commented on #4804
@dufain We don't have this feature scheduled, so no update at the moment. The main workaround is to determine which resource types have issues when the RG is trying to be deleted, and delete those prior to trying to delete the RG.

[2018-04-10 19:44] markcowl commented on #5918
@yassirkachri Can you turn on $DebugPreference="Continue" before runnign this script 0- this will give us the requests and responses with the server and help to diagnose what the issue might be.  The error message indicates that the SignInName was not found, but the server response messages will tell us for sure.

[2018-04-10 19:48] markcowl commented on #5906
@swatiraut14 Can you please provide more data about what commands you are running and wht the error you are seeing is?

Please at least include

- The command(s) you are running that produce a failure
- The exact text of the failure
- The result of running Resolve-AzureRmError after the failure (if available)
- If this is a module loading issue, the resul;t of running ```gmo -ListAvailable```

[2018-04-10 20:21] craiglandis opened #5920 ""Update-Module AzureRM" doesn't remove previous version"
[code]

[2018-04-10 20:43] cormacpayne commented on #5920
@craiglandis this is not an issue with the `AzureRM` module, but with how `PowerShellGet` installs/updates modules -- `Update-Module` simply installs the module side-by-side with existing modules without replacing any of the old modules. There is an issue in the `PowerShellGet` repository that tracks this problem: https://github.com/PowerShell/PowerShellGet/issues/130

[2018-04-10 20:43] #5920 closed

[2018-04-10 21:54] markcowl commented on #5871
Cut in Triage

[2018-04-10 22:05] markcowl commented on #639
There are not any planned new cmdlets for RDFE, so closing this as won't fix.

[2018-04-10 22:05] #639 closed

[2018-04-10 22:07] markcowl commented on #906
We are looking at this and will provide equivalent functionality soon

[2018-04-10 22:08] markrad commented on #5490
Hi @darrenjrobinson,

This may not be your issue but I came across this page while researching the same error message. It appears that the documentation page for New-AzureRmIotHubExportDevices is inaccurate. In the example it provides it does not specify the blob name in the -ExportBlobContainerUri parameter. When one uses a storage account you need to create the blob first and then include it as

[2018-04-10 22:10] markcowl commented on #1167
This functioinality is not provided service side, closing as won't fix.

[2018-04-10 22:10] #1167 closed

[2018-04-10 22:13] markcowl commented on #1394
Closing since there has been no update since 2016.  If this is still a problem, please file a new issue.

[2018-04-10 22:13] #1394 closed

[2018-04-10 22:14] panchagnula commented on #5760
@frankvaneykelen please ensure that you repro the issue with $DebugPreference = "Continue" & share the details here.

[2018-04-10 22:16] markcowl commented on #1665
Cost: 8

[2018-04-11 00:45] sergey-shandar commented on #5873
Data Disk scenario test is here #5867

[2018-04-11 03:04] meetamitbhatia opened #5924 "Missing documentation on an equivalent in REST API for Move-AzureReservedIP cmdlet"
Customer wants to automate the migration of Classic environments to ARM, part of which includes migrating a few public IP addresses from Classic to ARM.
We see that there's documentation for Move-AzureReservedIP PowerShell cmdlet at https://docs.microsoft.com/en-us/powershell/module/azure/move-azurereservedip?view=azuresmps-4.0.0, but we could not find any documentation on the equivalent in the RE

[2018-04-11 05:37] AMoghrabi commented on #4715
I dug into why this is happening and I found that `Import-AzureRmContext` is the cmdlet that may have a bug in it.

Lets say the profile you're loading in has Subscription A (or Context A) saved in it. You load the profile using `Import-AzureRmContext -Path ...` and then call `Get-AzureRmContext -ListAvailable`, which outputs:

[code]

In the same session, you then select a different context:`Sele

[2018-04-11 07:15] frankvaneykelen commented on #5760
Running  this

[code]

produces the same result as above

[code]

[2018-04-11 12:55] fbuser1 commented on #4383
+1

[2018-04-11 16:45] vladimir-shcherbakov commented on #5498
https://github.com/Azure/azure-powershell/pull/5922

[2018-04-11 17:25] aljo-microsoft opened #5927 "storageAccountType::allowedValues::Standard_GRS needs updated to Premium_LRS"
### Description

Template has an invalid allowed value, and is missing a valid value.

### Script/Steps for Reproduction

File that needs to be changed on line 116:

https://github.com/Azure/azure-powershell/blob/preview/src/ResourceManager/ServiceFabric/Commands.ServiceFabric/Template/Windows/template.json

Reference document for allowed values:

https://docs.microsoft.com/en-us/dotnet/api/micros

[2018-04-11 17:34] yugangw-msft opened #5928 "msi/imds auth: retry on a few more error codes"
We are retrying on 429. MSI team recommends also retry on 404 and all 5xx’s.

[2018-04-11 17:34] yugangw-msft commented on #5928
//cc: @markcowl @twitchax

[2018-04-11 18:44] maddieclayton commented on #5897
Merged.

[2018-04-11 18:44] #5897 closed

[2018-04-11 20:14] sourabhguha commented on #5885
This is a feature request for the Azure Storage Account. Please open the issue with them.

[2018-04-11 20:24] sourabhguha commented on #5253
Does your scenario require you to do an explicit Import module of AzureRm.Network

[2018-04-11 20:31] sourabhguha commented on #5064
Evaluating the issue - will report back with the proposed change and ETA.

[2018-04-11 20:33] sourabhguha commented on #4010
This (slowness to load storage cmdlets) appears to be caused by the verbose logging that is enabled in the runbook. Please try again by disabling the verbose logging.

[2018-04-11 20:34] arcotek-ltd commented on #5253
I'm no longer in a position to work on this issue. Closing...

[2018-04-11 20:34] #5253 closed

[2018-04-11 20:36] sourabhguha commented on #3773
good feature request. evaluating it.

[2018-04-11 20:40] sourabhguha commented on #2085
Evaluating this feature. will be making it part of the team backlog.

[2018-04-11 20:42] sourabhguha commented on #2076
Will add this part of the team backlog.

[2018-04-11 20:43] arcotek-ltd commented on #5885
@sourabhguha, How, exactly, is this a feature request? Enabling the firewall breaks the cmdlet, The features already exist!!! This cmdlet and the SA firewall simply don't work together, as I have gone to great lengths to prove to you.

You seem to be saying that you are not prepared to "fix" an _**existing**_ feature, compounded by the fact that your list of published UK South IP address is incomp

[2018-04-11 20:44] sourabhguha commented on #178
Evaluating the feature request.

[2018-04-11 23:41] mvoltchenko commented on #4974
Hi. I am getting an error when running the following command:
az sql db audit-policy update -g "ECL-GIO-AZURE-COSTING" -s  jdlsql01 -n "AzureInventory_CN" --state Enabled --storage-account ecljdlds04
Invalid audit actions or action groups.
I am not specifying any actions or action groups, just trying to enable auditing policy with the default settings. According to the documentation --actions is a

[2018-04-12 00:10] sourabhguha commented on #5885
Let me elaborate - The setting in the storage account has the following option "Allow trusted Microsoft services to access this storage account". This option does not seem to recognize cmdlet calls coming from Azure Automation which is hosted in Microsoft datacenters. This would be a issue request to the Azure Storage team to ensure that calls coming from Azure Automation is recognized as trusted

[2018-04-12 01:13] rgathub commented on #4807
Then many thanks to @blueww .

[2018-04-12 07:27] darrenjrobinson commented on #5490
Thx Mark. I was creating the blob, but not referencing it in the ExportBlogContainerUri.
I've tried that and it gets a little future but still fails with
New-AzureRmIotHubExportDevices : Operation returned an invalid status code 'InternalServerError'

I'll do some more digging/testing.

[2018-04-12 08:57] yassirkachri commented on #5918
After  $DebugPreference="Continue"
I have  more information and  it seems that the problem is here 👍
`
DEBUG: Microsoft.IdentityModel.Clients.ActiveDirectory Information: 2 :
DEBUG: 04/12/2018 07:22:30:  - TokenCache: Serializing token cache with 2 items.
DEBUG: ============================ HTTP REQUEST ============================

HTTP Method:
GET

Absolute Uri:
https://graph.windows.net/XXXXXXX

[2018-04-12 12:37] KirkMunro commented on #4804
@MiYanni That's not really an easy or viable workaround.

[2018-04-12 17:08] MiYanni commented on #4804
@KirkMunro If you don't want to figure out each problematic resource, you can just do the brute force method. It should just be a single line of script:
[code]
This will remove everything from the resource group. Then, remove the resource group.

[2018-04-12 17:15] MiYanni opened #5937 "ChangeLog.md check build step"
- Create requirement for successful build where changes to ChangeLog.md are required for all RP changes
  - This could be a blanket check when the repos are split. Until then, specific logic could be made for it.

[2018-04-12 17:30] raghushantha opened #5938 "[NetCore 0.11.0] AzureRM.NetCore\Get-AzureRMResource -ResourceId without APIVersion fails"
### Description

[NetCore 0.11.0] AzureRM.NetCore\Get-AzureRMResource -ResourceId without APIVersion fails

### Script/Steps for Reproduction

[code]

### Module Version

[code]

### Environment Data

[code]

### Debug Output

[code]

[2018-04-12 19:40] tiwood opened #5939 "[AzureRm.Automation.Netcore 0.11] - Import-AzureRmAutomationRunbook fails with DllNotFoundException"
### Description

Import-AzureRmAutomationRunbook fails with DllNotFoundException. I'm getting this error on macOS.

### Script/Steps for Reproduction

Try to import a Runbook to an existing Automation account

[code]

### Module Version

[code]

### Environment Data

[code]

### Debug Output

[code]

[code]

[2018-04-12 19:50] hobpet commented on #2278
It would be a good enough solution to check this during the template validation and provide a meaningful error message.

[2018-04-12 19:55] markcandelora commented on #5826
This appears to still be happening for me with a freshly installed AzureRM 5.7.0: [azure.modules.txt](https://github.com/Azure/azure-powershell/files/1904745/azure.modules.txt)

[2018-04-12 20:03] kwill-MSFT opened #5940 "Get-AzureRmResource followed by Set-AzureRmResource changing JSON data type"
### Description

Get-AzureRmResource followed by Set-AzureRmResource is changing the 'number' JSON data type returned from the GET call to a 'string' data type in the JSON body sent with the PUT call.  This causes Set-AzureRmResource to fail for some resource providers that have strict type checking.

### Script/Steps for Reproduction

Using a Stream Analytics Job:

[code]

### Module Version

[co

[2018-04-12 21:06] DanielNeedles commented on #5826
@markcandelora Here's the commands I used:
    PS C:\WINDOWS\system32> uninstall-module AzureRM
    PS C:\WINDOWS\system32> uninstall-module Azure
    PS C:\WINDOWS\system32> install-module Azure
    Untrusted repository
    You are installing the modules from an untrusted repository. If you trust this repository, change its
    InstallationPolicy value by running the Set-PSRepository cmdlet. Are

[2018-04-12 21:08] DanielNeedles commented on #5826
When I ran it, AzureRM was on 5.6.0 instead of 5.7.0
[PowershellAzureRMModules.txt](https://github.com/Azure/azure-powershell/files/1905023/PowershellAzureRMModules.txt)

[2018-04-12 21:28] andyKalman commented on #5826
Did you try updating AzureRM.Websites to the preview release? I had the issue with AzureRM 5.6 & 5.7. This method was successful for me.

[2018-04-12 22:01] panchagnula commented on #5826
@markcandelora thanks for this info. this is helpful. Did you try uninstalling & re-installing the LogicApps Module & see if that fixes it?

[2018-04-12 22:15] ahmedelnably opened #5941 "webapp:Create the equivalent of Save-AzureWebSiteLog, in App Service ARM module"
We don't have the equivalent of Save-AzureWebSiteLog under our AzureRM App Service module

[2018-04-12 23:54] MiYanni commented on #5756
I spent the last 2 days looking at solutions for this. Unfortunately, self-signed certificates are OS dependent. For Windows, it using the Windows API, [CertEnroll](https://msdn.microsoft.com/en-us/library/windows/desktop/aa374863(v=vs.85).aspx). The only implementations I've found for C#/PowerShell using CertEnroll ([here](https://gist.github.com/jimmyca15/8f737f5f0bcf347450bd6d6bf34f4f7e) and [h

[2018-04-13 00:09] cormacpayne commented on #5939
@MiYanni would you mind taking a look at which this assembly is?

[2018-04-13 00:13] cormacpayne commented on #5927
@juhacket Hey Justin, would you mind taking a look at this issue?

[2018-04-13 00:13] MiYanni commented on #5939
Reported here https://github.com/Azure/azure-powershell/issues/5858 but it seems we didn't fix it yet.

[2018-04-13 00:26] cormacpayne commented on #5918
@yassirkachri does the service principal you are signing in with have the appropriate permissions to assign roles in the given scope? Based on the returned message (`Insufficient privileges to complete the operation`), it would seem that the service principal itself doesn't have the correct permissions to assign out roles.

CC: @darshanhs90

[2018-04-13 00:26] MiYanni commented on #5899
- HDInsight has a merged HyakNetCore library for HDInsightJob that will need to be built and published prior to fixing the module
- RecoveryServices cannot be fixed without changing the implementation to no longer rely on self-signed certificates being generated during cmdlet invocation. More details here: https://github.com/Azure/azure-powershell/issues/5756

[2018-04-13 00:31] cormacpayne commented on #5910
@yochaude Hey Yoann, we don't quite have a mechanism in .NET Core to retrieve local certificates. We are looking to enable this functionality by the time the `AzureRM.Netcore` modules GA (as there are other stable modules we package with `AzureRM.Netcore` that use this certificate retrieval functionality). We will use this issue to track the progress on this work moving forward.

[2018-04-13 05:42] amoghnatu commented on #5726
Just curious, does anyone here know where in the VM does the script actually get downloaded to before it runs?
@marinnedea , @sdwheeler , @cormacpayne

[2018-04-13 06:25] AMoghrabi commented on #4715
I looked further and it looks like [this commit and method call](https://github.com/Azure/azure-powershell/commit/032d6b451143b36fba56592895c023fe5cca93f8#diff-46b12ce309eeaf70ec78f1137d2a6b04R66) which was introduced in version 4.4.0 is causing the issue.

As I understand it, the method clears the current contexts loaded and tries to create a new `AzureContext`. During instantiation, it sets all

[2018-04-13 07:39] gvee-uk commented on #5631
@cormacpayne @wilcobmsft 👈 a weekly nudge for a progress update 👋
Having no communication isn't fun. Throw me a bone here!

Our internal work on this is still blocked by this bug but is appearing on the horizon again so I would like to let the PO know if we should wait for a resolution to this issue or look in to other alternative solutions?

[2018-04-13 08:14] vitocaresimodevops commented on #3757
tried the template but keep getting the following error - Template deployment returned the following errors: 09:06:11 - "code": "VMExtensionProvisioningError", 09:06:11 - "message": "VM has reported a failure when processing extension 'joindomain'. Error message: \"Exception(s) occured while joining Domain

[2018-04-13 08:46] yassirkachri commented on #5918
the Service Principal is Owner of the subscription and have all permissions
![image](https://user-images.githubusercontent.com/614980/38725540-efea43de-3f07-11e8-9ae3-7e721d12de33.png)

[2018-04-13 15:06] markcandelora commented on #5826
I've reinstalled both modules:
[code]

but now I'm getting a different error when attempting to set the $app.SiteConfig.AppSettings after the app service has been created (it looks like the SiteConfig comes back as $null from the initial New-AzureRmWebApp command:
[code]

I've resolved this issue for now by adding a Get-AzureRmWebApp call after the New call:
[code]

Although I feel like this issue

[2018-04-13 17:57] juhacket commented on #5927
@aljo-microsoft The default value is Standard_LRS, which is a supported storage account type value and used by the New-AzureRmServiceFabricCluster cmdlet. This will not impact customers as they would need to modify the template to change the value used by the cmdlet, which would also allow them to specify Premium_LRS. We will cleanup the bad enum value in our next template update.

[2018-04-13 19:16] aydeisen opened #5952 "New Cmdlet request: AzureRMAutomationHybridWorkerGroup"
Can cmdlets please be created that wrap around the [Update](https://docs.microsoft.com/en-us/rest/api/automation/hybridrunbookworkergroup/update) and [Delete](https://docs.microsoft.com/en-us/rest/api/automation/hybridrunbookworkergroup/delete) REST Methods for a Hybrid Runbook Worker Group?  Currently, there's only a Get cmdlet

[2018-04-13 19:31] ms-premp commented on #5631
Hi @gvee-uk .. apologies for delay in response here. We will have a resolution by end of April, 2018.

[2018-04-13 23:09] SenthuranSivananthan opened #5955 "Set-AzureRmDiagnosticSetting does not have parameter 'EventHub Name'"
### Description

We are unable to set the Event Hub name when streaming diagnostic data into Event Hubs.  Setting a predefined Event Hub is required when streaming all diagnostics data into a single destination regardless of resource or event types.

This is possible through Azure Portal and [CLI](https://docs.microsoft.com/en-us/cli/azure/monitor/diagnostic-settings?view=azure-cli-latest#az-monit

[2018-04-13 23:39] ikiris04 opened #5956 "grant-azurermsnapshotaccess returning null accesssas"
### Description

grant-azurermsnapshotaccess returns an object with accesssas equal to null in azurerm.compute 4.0.0 and up (including 4.6.0). Last version that works correctly is 3.4.1

Debug shows that http response contains accesssas but the cmdlet is not returning it

### Script/Steps for Reproduction
#create storage snapshot
$debugpreference = 'Continue'
$returnsas=Grant-AzureRmSnapshotAccess

[2018-04-15 05:56] jefffanjoy commented on #3776
This still seems to be an issue but doesn't necessarily require a credential parameter to generate an issue.  I see the same problem if I try to use the cmdlet to get the ScheduledRunbook object from an Update Management schedule.

There seems to be no traction to this issue at all in over a year.  Any plans to address this?

[2018-04-15 20:32] jefffanjoy commented on #5241
There is a workaround to this which is to pipe the entries back through Get-AzureRmAutomationJob as that will provide the id which in turn populates all fields.  It is horribly slow and should not be considered a resolution, but it does work.

Example:

`Get-AzureRmAutomationJob -ResourceGroupName RGNAME -AutomationAccountName AANAME | Get-AzureRmAutomationJob`

[2018-04-16 03:52] jefffanjoy opened #5959 "Get-AzureRmAutomationHybridWorkerGroup needs to be updated to reflect new properties"
### Description

Get-AzureRmAutomationHybridWorkerGroup needs to be updated to reflect new properties that have been added such as last seen timestamp, credential and group type.  These properties are all available from the REST API today but are not included in the PowerShell cmdlet results.

### Script/Steps for Reproduction

[code]

### Module Version

[code]

### Environment Data

[code]

###

[2018-04-16 04:30] AMoghrabi commented on #4715
https://github.com/Azure/azure-powershell/pull/5958

[2018-04-16 13:46] tomkerkhove commented on #5386
Any update on this?

[2018-04-16 15:16] pauldalyii commented on #3074
`Get-AzureADUserCreatedObject -All $true -ObjectId "<Alias or ObjectId of Owner>"` seems to work...

I found that the cause of this issue for me was testing a script that tore down and rebuilt environments.  I was deleting and creating applications at a somewhat rapid pace.  Deleted objects still count towards your 250 object limit.

I attempt to remove the deleted applications using the correspon

[2018-04-16 16:58] markcowl commented on #5785
-Credential is used with Service Principal as well as User Principal login.  We should likely remove Credential from user parameter set, but the parameter itself will remain.

[2018-04-16 17:00] markcowl commented on #5906
Closing as there has been no response to queries.  Please open a new issue with the requested data if you are still seeing an issue.

[2018-04-16 17:00] #5906 closed

[2018-04-16 17:02] markcowl commented on #5918
@yassirkachri What are the permissions the service prinpal has under graph for the associated tenant?  The 'application permissions'  will need to include the ability to list directory contents and view user data.

[2018-04-16 17:14] markcowl commented on #5955
@SenthuranSivananthan Is the issue that this is not possible, or that it requires creating an eventhub rule first and is therefore less usable?

@twitchax @gucalder Can you take a look?  Unsure if this is missing functionality, or this is a needed usability improvement.  It seems like this would also apply to other event targets.

[2018-04-16 17:29] SenthuranSivananthan commented on #5955
@markcowl Cmdlet is missing the property.  Therefore, individual event hubs are created to send data by each service.  For example, SQL Database can create 3 or 4 event hubs to send telemetry.  I want to force all telemetry to be in a single event hub.  It'll make it easier to process by 3rd party tools such as SIEMs.

The only way I was able to get it to work is through the UI, thus making this u

[2018-04-16 17:59] cormacpayne commented on #5898
- ServerManagement removed in PR https://github.com/Azure/azure-powershell/pull/5913
- SiteRecovery removed in PR https://github.com/Azure/azure-powershell/pull/5962

[2018-04-16 19:18] cblackuk commented on #5785
@MiYanni @markcowl
As I am sure you know the issue here actually is with ActiveDirectory DLL that does not support Password in its class on .NETCore but that is only the beginning of the problem... See below:

What I mean by that is:

docker run -ti azuresdk/azure-powershell-core

[code]
If you just take this:
[code]
You can see above that it does not allow second Argument to be passed in the clas

[2018-04-16 20:43] markcowl opened #5965 "Convert test projects to Netcore for core modules"
### Convert the test projects for the following Core modules:

- [x] Azure.Storage (Yanni)
- [x] AzureRM.Automation (Mark/Yanni)
- [x] AzureRM.Compute (Mark)
- [x] AzureRM.KeyVault (Yanni)
- [x] AzureRM.Network (Yanni)
- [x] AzureRM.Resources (Yanni)
- [x] AzureRM.Sql (Yanni)
- [x] AzureRM.Storage (Yanni)
- [x] AzureRM.Websites (Yanni)

### Additionally, convert the projects for these modules as t

[2018-04-16 21:49] dragav commented on #5891
Fixed by https://github.com/Azure/azure-powershell/pull/5963/commits/c98279e7274aa0aa29d47f4ee5a4f95422ce27f2 of #5963

[2018-04-16 22:31] cormacpayne commented on #5898
Full list of potential breaking changes:

ApiManagement
- New-AzureRmApiManagement
	- The parameter alias Tags is being removed
- New-AzureRmApiManagementProperty
	- The parameter alias Tags is being removed
- Set-AzureRmApiManagementProperty
	- The parameter alias Tags is being removed

Automation
- Set-AzureRmAutomationRunbook
	- The parameter alias Tags is being removed

Cdn
- New-AzureRmCdnEnd

[2018-04-16 23:32] maddieclayton commented on #5959
@vrdmr Can you take a look at this issue?

[2018-04-17 12:44] TsuyoshiUshio opened #5969 "Set-AzureRmWebApp -AppSetting doesnt' work"
### Description

I try to update AppSettings of my Function App (beta), It doesn't seem to update App Settings.
I wrote a  these codes to update App Setings, However, it doesn't work.
I double check the `$appSettings` is correctly set.

[code]

[code]

### Script/Steps for Reproduction

I upload all file on the gist.

* [scripts](https://gist.github.com/TsuyoshiUshio/5824fd418ad2e56cb85335bc9565c8

[2018-04-17 17:56] FirePho opened #5970 "New-AzureRmWebAppSSLBinding clears tags and possibly some other settings"
### Description

**New-AzureRmWebAppSSLBinding** clears tags and possibly some other settings

### Script/Steps for Reproduction

[code]

### Module Version

[code]

### Environment Data

[code]

### Debug Output

[code]

[2018-04-17 18:45] maddieclayton commented on #5969
@panchagnula Can you take a look at this issue?

[2018-04-17 18:46] maddieclayton commented on #5970
@panchagnula Can you take a look at this issue?

[2018-04-17 18:48] maddieclayton commented on #5956
@hyonholee @huangpf Can you take a look at this issue?

[2018-04-17 18:49] panchagnula commented on #5969
@TsuyoshiUshio there is no KeyValut property in the website AppSettings to support this. If you are looking for identity property then use the websites-preview module. Note: in general AppSettings allows the properties that are available on resourceExplorer.

[2018-04-17 18:55] panchagnula commented on #5970
This does indeed looks like a bug on our end. Will debug further & get it fixed for our next release.

[2018-04-17 19:56] darshanhs90 commented on #5696
@everettsouthwick This issue is fixed in the service,you should be able to get it working

[2018-04-17 19:56] #5696 closed

[2018-04-17 20:12] maddieclayton commented on #5969
Closing this - @TsuyoshiUshio please reopen if you have additional questions.

[2018-04-17 21:24] MiYanni opened #5974 "Update CI for C# 7.x"
- [ ] Update build machines (CI) to allow using C# 7.x features

[2018-04-17 21:25] MiYanni commented on #5904
PR to fix the issue is merged

[2018-04-17 21:25] #5904 closed

[2018-04-17 22:12] maddieclayton commented on #5924
We do not have complete documentation on RDFE REST API.  Please either use the PowerShell cmdlet, or the equivalent cmdlet in XPlat CLI. @twitchax Can you confirm that we do not want to add documentation for this migration scenario?

[2018-04-17 22:16] maddieclayton commented on #2693
Done, or covered by other issues.

[2018-04-17 22:16] #2693 closed

[2018-04-17 22:17] maddieclayton commented on #2925
Closing in favor of the current migration guide.

[2018-04-17 22:17] #2925 closed

[2018-04-17 22:17] #3023 closed

[2018-04-17 22:19] TsuyoshiUshio commented on #5969
Thank you @panchagnula,

I’m using website-preview.  I just add one element to AppSettings named ‘KeyValueHost’. The value is properly taken. I also try to set a fixed value with ‘KeyVaultHost’ However the result is the same. Is it not allowed the AppSettings property named ‘KeyVault*’ ?

[2018-04-17 22:26] maddieclayton commented on #3928
Closing as duplicate

[2018-04-17 22:26] #3928 closed

[2018-04-17 22:32] maddieclayton commented on #4366
Closing in favor of: https://github.com/Azure/azure-powershell/issues/5901.  This will cover both InputObject and ResourceId piping scenarios.

[2018-04-17 22:32] #4366 closed

[2018-04-18 00:05] maddieclayton commented on #5498
Done.

[2018-04-18 00:05] #5498 closed

[2018-04-18 00:27] cormacpayne commented on #2121
This is fixed in the `resources-improvements` branch

[2018-04-18 10:35] chaheti29 commented on #5759
Hi,
I am facing the same issue while running cmdlet Get-AzureRmRecoveryServicesBackupProtectionPolicy. Below is the entire error:
Get-AzureRmRecoveryServicesBackupProtectionPolicy : Set vault context first using cmdlet Set-AzureRmRecoveryServicesVaultContext
At line:1 char:11
+ $policy = Get-AzureRmRecoveryServicesBackupProtectionPolicy  -Name 'D ...
+           ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

[2018-04-18 12:27] chaheti29 opened #5981 "Get-AzureRmRecoveryServicesBackupProtectionPolicy not working in automation runbook"
Hi,

I am facing below issue when I am trying to run Get-AzureRmRecoveryServicesBackupProtectionPolicy through automation runbook.(This works fine when I run on poershell ISE)

Get-AzureRmRecoveryServicesBackupProtectionPolicy : Method not found: 'Newtonsoft.Json.Serialization.IAttributeProvider
Newtonsoft.Json.Serialization.JsonProperty.get_AttributeProvider()'.
At line:7 char:11
+ $policy = Get-

[2018-04-18 12:57] mcocak opened #5982 "Invoke-AzureRmVMRunCommand returns empty"
### Description

Invoke-AzureRmVMRunCommand started returning empty after execution. Until last week, the command printed the stdout of the remotely executed command on the VM. However, it is now returning empty string.

As you see in the debug output below, I'm executing a basic "docker ps" command on the remote Linux VM. The command is for sure executed remotely and the output of the command is

[2018-04-18 15:30] MiYanni commented on #5769
The PR has been merged.

[2018-04-18 15:30] #5769 closed

[2018-04-18 16:00] cormacpayne commented on #5981
@chaheti29 this appears to be a similar issue to https://github.com/Azure/azure-powershell/issues/5977, so I will close this issue in favor of that one to track the progress of the fix there.

Quick question, was this script working previously for you in Azure Automation? If so, do you remember which version of `AzureRM.RecoveryServices.Backup` that you used?

[2018-04-18 16:00] #5981 closed

[2018-04-18 16:02] cormacpayne commented on #5982
@mcocak Hey Mert, quick clarifying question: when you say that this was working last week, do you know if that was before or after you updated `AzureRM.Netcore` to the new `0.11.0` version?

[2018-04-18 17:01] maddieclayton commented on #5759
@chaheti29 What version of AzureRM are you currently running? This should be fixed in 5.6.0 and greater.

[2018-04-18 17:11] chaheti29 commented on #5981
@cormacpayne thanks for quick reply.
The current version I am using for AzureRM.RecoveryServices.Backup is 4.1.2.
I have same versions on azure and local. Local seems to work fine but azure automation is not working

[2018-04-18 17:14] #5816 closed

[2018-04-18 17:32] panchagnula opened #5983 "New-AzureRmAppServicePlan: Support creating an appservice plan for Linux app"
The current cmdlet 'New-AzureRmAppServicePlan' https://docs.microsoft.com/en-us/powershell/module/azurerm.websites/new-azurermappserviceplan?view=azurermps-5.7.0 , does not have an option to create an appservice plan for Linux.
This is currently available only in CLI https://docs.microsoft.com/en-us/cli/azure/appservice/plan?view=azure-cli-latest#az-appservice-plan-create

[2018-04-18 17:33] panchagnula commented on #5983
@LukaszStem, FYI

[2018-04-18 19:29] AMoghrabi commented on #2342
@cormacpayne Do you mind if I take a stab at this?

[2018-04-18 20:07] cormacpayne commented on #2342
@AMoghrabi feel free to open a pull request whenever you'd like ☺️

[2018-04-19 02:29] ShuheiUda commented on #2581
@DeepakRajendranMsft
Is there any updates for this issue?
I faced with the same issue on Azure PowerShell 5.6 (AzureRM.Network 5.4.1).

[2018-04-19 05:45] chaheti29 commented on #5759
@maddieclayton I am using the latest version 5.7.0. Also AzureRM.RecoveryServices version is 4.1.2

[2018-04-19 06:39] mcocak commented on #5982
I didn't do an intended update to `AzureRM.Netcore` but I uninstalled my existing version and reinstalled the module recently. So if there was a new version released meanwhile, the newer version was installed I suppose, where I started having this issue.

[2018-04-19 10:33] FirestormAngel commented on #4548
What is the status on this feature request. I'm having exactly the same problem with our Splunk Microsoft OMS application. Making the REST API query, I'll get the same body

Body:
{
  "__metadata": {
    "resultType": "error"
  },
  "error": {
    "type": "QuerySyntax",
    "message": "Invalid syntax.",
    "line": 1,
    "column": 36,
    "text": "="
  }
}

[2018-04-19 11:55] steve-hawkins commented on #3633
@Nking92 and @panchagnula I can confirm this is still an issue on PowerShell version:-

Major  Minor  Build  Revision
-----  -----  -----  --------
5      1      16299  251

Any further news?

[2018-04-19 12:30] schwasam opened #5990 "Issue with Stream Analytics Cmdlets and Newtonsoft.Json"
### Description

Get-AzureRMStreamAnalyticsJob, Get-AzureRMStreamAnalyticsInput and Get-AzureRMStreamAnalyticsOutput do not work when used in the context of an Azure Automation Account.

### Script/Steps for Reproduction

[code]

### Module Version

AzureRM.Profile 4.6.0
AzureRM.StreamAnalytics 4.0.4

### Environment Data

[code]

### Debug Output

[code]

[2018-04-19 14:17] NeilBird commented on #3896
Any update on this issue, in 2 weeks it will have been open a year?

[2018-04-19 15:11] panchagnula commented on #3633
@steve-hawkins websites has a websites-preview module that has the major bug fixes. Please use this module https://github.com/Azure/azure-powershell/releases/tag/v5.0.0-preview-AzureRM.Websites

[2018-04-19 15:37] jlarrow commented on #2278
I've also encountered this bug.  Not sure why data **inside** a parameter of type Hashtable would conflict with a named parameter.  Is this because "-TemplateParameterObject" has ValueFromPipelineByPropertyName on it?   In the mean time, I guess I'll rename my parameter.  I'd be interested in having a deeper understanding though.

[2018-04-19 16:02] MaximoTrinidad opened #5991 "PSCloud Shell - Bash Pwsh not update to latest AzureRM.Netcore v.0.11.0"
### Description

I finally started to use CloudShell and love the fact that has the AzureRM.Netcore module installed in the Bash pwsh side.  The problem is that is not updated to the latest version which is v0.11.0.

This new version has more modules that version 0.10.0.

I realized that we have no way to update the modules ourselves!

It would be Great if we could installed new modules ourselves,

[2018-04-19 16:27] cormacpayne commented on #5991
@MaximoTrinidad Hey Maximo, thanks for filing this issue

@HemantMahawar Hey Hemant, it looks like the previous version of `AzureRM.Netcore` was shipped with Bash in Cloud Shell -- would you mind taking a look?

[2018-04-19 17:27] mikepowell commented on #3665
Here's my method, using `ICloudBlob.DownloadToByteArray()` to simplify a bit:
[code]

[2018-04-19 19:35] HemantMahawar commented on #5991
@MaximoTrinidad Thanks for reporting the issue. You are correct that we do not have latest version (0.11) of AzureRM*.NetCore module on Cloudshell Linux environment, whereas it is present in Cloudshell Windows environment. We will get it fixed soon.

In the meantime, you can workaround this issue by installing the latest version manually using **Install-Module** cmdlet. Manually installed modules

[2018-04-19 20:29] MaximoTrinidad commented on #5991
Hi @HemantMahawar,

OK! It's a workaround and I know you guys will eventually will update to v.0.11.0.

During this exercise I found our the PowerShell "sort" shorthand doesn't work in Linux. I had to type the full cmdlet name Sort-Object.

:)

[code]

![sort_01_2018-04-19_16-26-22](https://user-images.githubusercontent.com/19892435/39016454-83dcecf0-43ee-11e8-9948-7f6370cf545f.jpg)

![sort_02_201

[2018-04-19 20:54] MaximoTrinidad opened #5997 "PSCloudShell - Would be nice to be provide a target folder when uploading files."
### Description

I would love to be able to either type or select an existing target folder when uploading files to the Cloud Shell.

### Script/Steps for Reproduction

See attached image.

![uploadfile_01_2018-04-19_16-48-08](https://user-images.githubusercontent.com/19892435/39017767-215d0944-43f2-11e8-9f6a-92069b487271.jpg)

### Module Version
No Module issues

### Environment Data

[code]

###

[2018-04-19 20:56] meetamitbhatia opened #5998 "Post installing SF runtime 6.1.480.9494, Add-AzureRmServiceFabricClusterCertificate adds bad certificate with Intended purposes 'Client Authentication' only"
I recently installed SF Runtime v6.1.480.9494. Then today tried adding secondary certificate using Add-AzureRmServiceFabricClusterCertificate. However, it adds bad certificate with Intended purposes 'Client Authentication' only!!

This causes failing to authenticate to Service Fabric Explorer, so unable to login to Service Fabric Explorer anymore.

PS Module AzureRm.ServiceFabric version is 0.3.4

[2018-04-19 21:24] arluca opened #5999 "Update-AzureRmVmss switching IdentityType from 'SystemAssigned,UserAssigned' to 'SystemAssigned'"
### Description

Update-AzureRmVmss needs to be updated to support switching the IdentityType from 'SystemAssigned,UserAssigned' to just 'SystemAssigned'

### Script/Steps for Reproduction

[code]

### Module Version

[code]

### Environment Data

[code]

### Debug Output

[code]

[2018-04-19 22:01] cormacpayne commented on #5998
@juhacket Hey Justin, would you mind taking a look at this issue?

[2018-04-19 22:05] HemantMahawar commented on #5991
@MaximoTrinidad, yes its by design because some of the PowerShell aliases conflict with Linux commands.
Missing aliases (by design) is discussed/commented in  https://github.com/PowerShell/PowerShell/issues/6684

[2018-04-19 22:18] jianyunt opened #6000 "Update NetStandard PowerShell to use ~/.azure directory by default for context persistence"
Thank you @alexandair for reporting this issue.On Linux bash cloudshell, we are seeing **Windows\Azure\Powershell** folder containing info for whether enable or disable datacollection.  I am seeing a few issues:
1) As AzureRM modules are supported on CoreCLR now, we install them on PowerShell core. Thus "Windows" word is not applicable on Linux. Suggestion: remove it.
2)  "Powershell": should be "

[2018-04-19 22:38] MaximoTrinidad commented on #5991
Thanks @HemantMahawar !

I will take a look at the list. I got the modules installed.
Of course, I would like to have only one version but I can work with it.

:)

[2018-04-19 23:00] juhacket commented on #5998
Yes, we are aware of this issue and are working on a fix. This is a bug in the PS cmdlet, not related to the SF runtime version.

[2018-04-19 23:11] singhkays commented on #3730
@mcollier The value for BlobUri is only set when the image source is a native blob.

[2018-04-19 23:11] #3730 closed

[2018-04-20 00:29] vladimir-shcherbakov commented on #5594
the same for **Test-CreateNewAppServicePlanInAse**

[2018-04-20 13:58] lesterw1 opened #6007 "Get-AzureRmTenant returns incorrect Directory when user is connected to multiple tenants."
### Description

Get-AzureRmTenant returns the wrong directory name when the user is connected to two different tenants.  For example, if the user has access to tenant A (ABC.com) and tenant B (XYZ.com) as a guest user, then Get-AzureRmTenant will return two entries. However, both entries will indicate a directory name of ABC.com.  The second entry should be XYZ.com:

Id        : a603898f-7de2-45b

[2018-04-20 14:03] lesterw1 commented on #6007
It should be noted that the REST API did not appear to return the Directory name... so it's unclear how  the cmdlet is populating the Directory property.

[2018-04-20 17:08] cormacpayne commented on #2121
The fix for this can be found in PR https://github.com/Azure/azure-powershell/pull/6008

[2018-04-20 18:00] manalotoj opened #6009 "Set-AzureRmAutomationWebhook: Add option to set ExpiryTime"
Please add -ExpiryTime parameter to Set-AzureRmAutomationWebhook.

[2018-04-20 18:41] cormacpayne commented on #4035
This will be resolved in PR https://github.com/Azure/azure-powershell/pull/6008

[2018-04-20 18:41] cormacpayne commented on #3539
This will be resolved in PR https://github.com/Azure/azure-powershell/pull/6008

[2018-04-20 18:42] cormacpayne commented on #3173
This will be fixed in PR https://github.com/Azure/azure-powershell/pull/6008

[2018-04-20 18:47] maddieclayton commented on #6009
@vrdmr Can you take a look at this feature request?

[2018-04-20 18:49] cormacpayne commented on #2405
This should be fixed in PR https://github.com/Azure/azure-powershell/pull/6008

[2018-04-20 22:44] MiYanni opened #6010 "Remove SetupSomeOfManagementClients and MockClientFactory throwIfClientNotSpecified=false logic"
In the `Commands.ScenarioTests.ResourceManager.Common` project:
- [ ] Replace all calls to `SetupSomeOfManagementClients` with `SetupManagementClients` from EnvironmentSetupHelper.cs
- [ ] Remove logic using `throwIfClientNotSpecified`/`throwWhenNotAvailable` in MockClientFactory.cs (this means it should always throw if the management client was not supplied to the `MockClientFactory`)

[2018-04-21 01:03] #5625 closed

[2018-04-22 15:57] MaximoTrinidad opened #6011 "Improve default name for Jobs created by 'AsJob' parameter (include necessary identifiers)"
### Description

During this weekend Global Azure Boot Camp event I had a lab going with the exercise on provisioning VM's using the New-AzureRmVM cmdlet with the parameter '-AsJob'.

As I'm working the lab many attendees mention that would be nice if the 'AsJob' parameter would have the option to include the JobName.  This will make it more practical use when provisioning big number of VM's.

###

[2018-04-22 17:56] ljt91 commented on #5982
Also encountering this with the AzureRM modules (5.7.0 - April 2018).

[2018-04-22 20:28] surlypants opened #6012 "New-AzureRmVmss : The value of parameter zoneBalance is invalid."
previously functioning posh script (without reference to AZs) now returns:

New-AzureRmVmss : The value of parameter zoneBalance is invalid.

[code]

I've looked over the new docs here
https://docs.microsoft.com/en-us/azure/virtual-machine-scale-sets/virtual-machine-scale-sets-use-availability-zones
and here
https://docs.microsoft.com/en-us/rest/api/compute/virtualmachinescalesets/createorupdate

[2018-04-23 09:13] Ajay-MS opened #6017 "For a customer, Get-AzureRmEnvironment cmdlet returning empty result"
### Description

It's specific to the customer, _Get-AzureRmEnvironment_ cmdlet is returning an empty result.

### Script/Steps for Reproduction

* Customer installed Azure PS 5.6 using MSI
* Executed cmdlet Get-AzureRmEnvironment and cmdlet returning empty result.

[code]

### Module Version

Azure PS version 5.6

[code]

### Environment Data

PS version 5.1

[code]

### Debug Output

Debug outpu

[2018-04-23 11:58] erossini commented on #1442
Hi guys,
I have the same error. Also, when I create a new db, there is a question that I must respond to continue.

<img width="680" alt="error" src="https://user-images.githubusercontent.com/9497415/39125155-f2ab356a-46f5-11e8-9cc3-e72d59ca3eff.png">

How can I skip programmatically this prompt? Thanks

[2018-04-23 13:07] omnoms commented on #5099
I am also having this issue when trying to update iprestriction on a website, also Microsoft.Web/sites/config  Resource Type.

[code]

[2018-04-23 18:33] ahmedelnably opened #6020 "webapp:Add the ability to upload a certificate to app service"
Need the equivalent of "az webapp config ssl upload"

[2018-04-23 18:46] newguyneal opened #6021 "Feedback - Add Relevant Methods to the Azure Objects"
Have Azure SDK objects be able to pass reference to themselves into relevant CMDlets.

for example:

$VM = Get-AzureRMVM -ResourceGroupName "myresourcegroup" -Name "myvm"

$VM.Stop()

$VM.Start()

$VM.Update()

etc...

in addition to:
$VM = Get-AzureRMVM -ResourceGroupName "myresourcegroup" -Name "myvm"

$VM | Start-AzureRMVM

$VM | Stop-AzureRMVM

$VM | Update-AzureRMVM

etc...

PowerShell Object

[2018-04-23 19:39] surlypants commented on #6012
debug output

[code]

[2018-04-23 22:46] erick-thompson commented on #661
This is something I need as well, in order to get slot swaps working the way I want to (stopping jobs in the non-production slot).

[2018-04-23 23:32] jeffgebhardt commented on #1803
I also ran into this issue. Another note through trial and error, it turns out uppercase letters are also not allowed.

[2018-04-23 23:58] VaperWare opened #6026 "new-azurermresourcegroupdeployment"
### Description

### Script/Steps for Reproduction

PS C:\Azure_Source\Solutions> $DebugPreference = "continue"
PS C:\Azure_Source\Solutions> New-AzureRmResourceGroupDeployment -Name
 test01 -TemplateParameterFile .\Solution1_parameters.json -TemplateFile .\Solution1_template.json
DEBUG: 7:53:21 PM - GetAzureRMContextCommand begin processing with ParameterSet 'GetSingleContext'.
DEBUG: 7:53:21 PM

[2018-04-24 00:40] maddieclayton commented on #6026
@VaperWare Looks like the -Name parameter has an alias to "DeploymentName", so this name cannot be used as a parameter in your template.  If you rename the parameter in your template file, this issue should be resolved.  Please let me know if you have further questions.

[2018-04-24 00:40] #6026 closed

[2018-04-24 00:50] maddieclayton commented on #6021
@newguyneal Thanks for the feature request! We require all new cmdlets to have the ability to pipe either the object or the output of Get-AzureRmResource into cmdlets (using two new parameter sets that accept either an InputObject or a ResourceId).  We are working on implementing these parameter sets into existing cmdlets, but with the number of cmdlets currently in AzureRM, it will take a while f

[2018-04-24 00:50] #6021 closed

[2018-04-24 04:17] irrogozh opened #6029 "Output in some of the network watcher cmdlets doesn't correspond output in description"
### Description

### Script/Steps for Reproduction

Returned type in the following cmdlets:
New-AzureRMNetworkWatcherPacketCapture
Get-AzureRmNetworkWatcherTroubleshootingResultStart-AzureRmNetworkWatcherResourceTroubleshooting
Stop-AzureRmNetworkWatcherPacketCapture is not the same as in description
[code]

### Module Version

[code]

### Environment Data

[code]

### Debug Output

[code]