[2018-08-28 12:11] AWahlqvist commented on #7082
Seems this was possibly duplicating the following issue:
https://github.com/Azure/azure-powershell/pull/7021

Sorry about that!

[2018-08-28 12:11] #7082 closed

[2018-08-28 14:36] deathly809 opened #7083 "[Azure Stack] Cannot load Compute Admin Module, Add-Type fails"
### Description

The error is :

[code]

After investigation, it failed to call the following command to load module:

Add-Type -Path Microsoft.Azure.Commands.Common.Authentication.dll. I check all the dll dependencies. And it looks good to me.

If I call [System.Reflection.Assembly]::LoadFrom($dll), it works fine too.

It is introduced by the new Azure code change in Commands.Profile.

### Script

[2018-08-28 16:39] solankisamir commented on #6879
This is fixed in
https://github.com/Azure/azure-powershell/releases/tag/v6.8.0-August2018
https://www.powershellgallery.com/packages/AzureRM/6.8.0

[2018-08-28 16:39] #6879 closed

[2018-08-28 16:40] solankisamir commented on #6853
This is fixed in
https://github.com/Azure/azure-powershell/releases/tag/v6.8.0-August2018
https://www.powershellgallery.com/packages/AzureRM/6.8.0

[2018-08-28 16:40] #6853 closed

[2018-08-28 16:40] solankisamir commented on #6814
This is fixed in
https://github.com/Azure/azure-powershell/releases/tag/v6.8.0-August2018
https://www.powershellgallery.com/packages/AzureRM/6.8.0

[2018-08-28 16:40] #6814 closed

[2018-08-28 16:40] solankisamir commented on #6603
This is fixed in
https://github.com/Azure/azure-powershell/releases/tag/v6.8.0-August2018
https://www.powershellgallery.com/packages/AzureRM/6.8.0

[2018-08-28 16:40] #6603 closed

[2018-08-28 17:58] hansze opened #7084 "New-AzureRmADApplication needs support (parameter) for creating V2.0 Application EndPoints"
Version 6.4.1 of AzureRm.Resources Module Cmdlet New-AzureRmADApplication currently only seems to create V1.0 Endpoint Applications. The only way of I have found to  create V2.0 Endpoint is either using Graph API POST or to go to the new apps.dev.micorosoft.com portal. This addition would be welcome in next version.

[2018-08-28 18:13] maddieclayton commented on #7039
Done

[2018-08-28 18:13] #7039 closed

[2018-08-28 19:48] MiYanni commented on #7057
Changes here: https://github.com/Azure/azure-powershell-common/pull/31
I've updated the CI job for it: https://azuresdkci.westus2.cloudapp.azure.com/view/PowerShell/job/ps-common-sign/

[2018-08-28 19:54] MiYanni commented on #7060
We have a MyGet account already. It was the one for Autorest: https://myget.org/users/azuresdkci

[2018-08-28 20:31] praries880 commented on #7036
@gmcfrear  The new-azurermvmss simple param set creates NAT pools with mappings for the RDP port on all the vms.

Take my example below :
[code]

[2018-08-28 20:37] #7036 closed

[2018-08-28 20:49] markcowl commented on #7061
@alexandair Unfortunately, there isn't a good API call that provides this data.  Do you think it would be more appropriate to simply remove the cmdlet?

[2018-08-28 21:04] alexandair commented on #7061
I don't think you can remove it. It's used in PowerShell Cloud Shell. And some other users probably use it.
The way how they used it is an assumption that the first element [0] of the output IDs represents the default tenant. That's almost like a lucky guess just looking at all those IDs without any other info.

[2018-08-28 22:01] maddieclayton commented on #7044
Unfortunately this change would be a breaking change so we cannot make this change in PowerShell.  Agreed that it is not the correct English, so it was unfortunate that it was created this way.

Thanks for opening this issue.

[2018-08-28 22:01] #7044 closed

[2018-08-28 22:05] maddieclayton commented on #7061
Adding this to the backlog to take a look at after Ignite.

[2018-08-28 22:07] maddieclayton opened #7086 "Remove the DomainName property from the output of Get-AzTenant"
### Description
- [x] Remove the Tenant property from output
- [ ] Put this breaking change into the migration guide

### Cost: 2

[2018-08-28 22:09] maddieclayton commented on #7084
@darshanhs90 Can you take a look at this feature request?

[2018-08-28 23:21] maddieclayton opened #7088 "Update Resource strings"
Go through all Resources.rex and update cmdlet names to reflect new Az naming.

[2018-08-28 23:26] deathly809 commented on #6869
The PR #7065 has this fix.

[2018-08-29 01:47] ScottMetzel commented on #1200
Are there any plans to add the ability to initiate an asynchronous resource group deployment via “New-AzureRmResourceGroupDeployment”?

I understand a deployment can be started as a job, but seeing as that’s not quite the same, for instance, I’m mostly interested in the ability to initiate a new deployment & close the console / session... Perhaps I’ll check on the status later on via some other wa

[2018-08-29 07:06] DirkBrinkmann commented on #6833
@markcowl : Just updated to Insights Module 5.1.2  It seems to work, BUT: After using the Cmdlet, you don't see any Diagnostic Setting in the Portal OR can retrieve it via get-azurermdiagnosticsettings ....
See attached Screenshot
![image](https://user-images.githubusercontent.com/19854016/44771253-cda7a800-ab6a-11e8-8302-e274f5d76965.png)

[2018-08-29 16:03] KirkMunro commented on #6711
Pkcs12 is set to the same enumerated value as Pfx, so this would not have any impact whatsoever because it would be doing the same thing. See [here](https://referencesource.microsoft.com/#mscorlib/system/security/cryptography/x509certificates/x509certificate.cs,27).

[2018-08-29 17:57] iamshital commented on #4168
Ping!!!

[2018-08-29 18:28] markcowl commented on #6833
@alexandair The proper verbage should have been 'this will be in one of the next two releases'.  This fix came in during the middle of a release process, so it was unclear if it would be included in that release or the next one when merged.

Up until now, we have resolved issues as the fixes are merged.  Given that we release every two weeks, this has so far been sufficient.  If people feel that t

[2018-08-29 18:30] markcowl commented on #6833
@DirkBrinkmann The new module should be out today.  If this doesn't appear to fix your problem, please let us know and we will reopen and prioritize a fix for the next release.

[2018-08-29 18:45] praries880 commented on #7036
@gmcfrear I set up the vmss with the simple param set.

Heres what I see :

[code]

For me the ping fails but mstsc works (I got prompted for creds n upon entering the correct creds I was inside the vm...)

[2018-08-29 19:39] maddieclayton commented on #6790
Done

[2018-08-29 19:39] #6790 closed

[2018-08-29 22:04] praries880 commented on #6933
Done... created a new CI infra one note page with instructions on how to create a worker with the new image.

[2018-08-29 22:04] #6933 closed

[2018-08-29 23:05] maddieclayton commented on #7079
Done

[2018-08-29 23:05] #7079 closed

[2018-08-30 00:07] maddieclayton commented on #6999
Closing as I have tested and verified that it is fixed by the PR.

[2018-08-30 00:07] #6999 closed

[2018-08-30 01:12] markcowl commented on #6937
@slavizh if you are using CSP to gain access to subscriptions, you must use the tenant Id and *not* the domain name to log in.  does this scneario work when you provide the actual tenant id instead of domain name?

[2018-08-30 01:13] michaelsync opened #7096 "webapp:Why Linux related command are not available in Azure Powershell?"
I noticed that some commands related to Linux are not available in Azure Powershell.

For example:

1. az webapp --multicontainer-config-type compose --multicontainer-config-file  (Note: New-AzureRmWebApp doens't have any option to pass the multicontainer config )
2. creating the Linux app plan using powershell (New-AzureRmAppServicePlan doesn't have any option to say 'Linux'.  I can workaround by

[2018-08-30 01:14] markcowl commented on #6936
@maddieclayton This looks like a logic error when determining the paramneter set - these parameters shoudl result in an interactive login, but instead are resulting in an attempt at SPN login.

[2018-08-30 04:27] mattduguid commented on #661
I concur...

[2018-08-30 06:18] slavizh commented on #6937
@markcowl Using Tenant ID works fine. OK if this is limitation than it should be documented somewhere. I couldn't find such limitation so I thought the domain will be find in whatever scenario. In that case I am not using exactly the CSP functionality (adminagent) but more of Azure B2B (Guest access) . As I didn't see that this functionality basically works only on domains from where the user is I

[2018-08-30 16:32] markcowl commented on #3954
@v-sirebb  Please open a new issue rather than commenting on closed issues. It is not supported to move a context from one machine to another.

[2018-08-30 17:15] MiYanni commented on #7057
The changes have been merged.

[2018-08-30 17:15] #7057 closed

[2018-08-30 18:17] maddieclayton commented on #7096
I'm going to assign this to the App Service team regarding the first two bullet points. @michaelsync Can you open a new issue for bullet point three? I assume that is for the AzureRM.Search team, but want to be sure.

[2018-08-30 18:18] maddieclayton commented on #7096
@panchagnula Can you take a look at the first two bullet points of this issue?

[2018-08-30 18:26] MiYanni commented on #7060
Based on conversations, created a new user. Here is the public info:
**User**: https://www.myget.org/users/azure-powershell
**Feed URI**: https://www.myget.org/F/azure-powershell/api/v3/index.json
**Push URI**: https://www.myget.org/F/azure-powershell/api/v2/package

[2018-08-30 18:32] ScottMetzel commented on #1200
@4c74356b41

Thank you. After weighing options, and even though it took a little more work, I opted to go the REST API route & have it working; I’m creating deployments via runbook in Azure Automation, so going the API route allows a clean exit, & the runbook to complete. A job might work as well, but it may have unexpected / inconsistent behavior given the sandbox / environment.

[2018-08-30 18:36] markcowl opened #7100 "Create Common encapsulation for WIndowsAzure.Storage library"
### Description

The storage data plane library WindowsAzure.Storage is used by multiple cmdlet modules (Compute, Network, Sql, Storage, etc.), largely to access estorage blob services.  Unfortunately, the storage library frequently changes, and these changes may be breaking. To allow libraries to take a storage dependency regardless of the storage version, we should provide a backwards compatible

[2018-08-30 18:51] panchagnula commented on #7096
@michaelsync , short answer is that for Linux, CLI was prioritized over Powershell. I am adding the Linux feature owner to comment on this.

@rramachand21 - can you share the timelines if any we have for having this support on Powershell as well.

[2018-08-30 21:02] #6241 closed

[2018-08-30 21:43] #6946 closed

[2018-08-30 22:27] Ahwleung opened #7102 "Set-AzureRmDiagnosticSetting for KeyVault failing to recognize category AuditEvent"
### Description

After [issue 6833](https://github.com/Azure/azure-powershell/issues/6833) was resolved I am trying to enable KeyVault logging following the documentation [here](https://docs.microsoft.com/en-us/azure/key-vault/key-vault-logging).  However the cmdlet is now failing with an unrecognized category error, even though this should be the only category available for Key Vaults per both th

[2018-08-30 23:12] maddieclayton commented on #7102
@gucalder Can you take a look at this issue?

[2018-08-31 11:33] najgel commented on #6261
We encountered the same problem and it still persists, a workaround seems to be to set the powershell version to 2.1.0

[2018-08-31 12:00] MiYanni commented on #6436
The changes for this issue have been merged.

[2018-08-31 12:00] #6436 closed

[2018-08-31 14:52] tylerd commented on #6521
Tested release 6.8.1 -- no longer an issue

[2018-08-31 14:52] #6521 closed

[2018-08-31 16:40] MiYanni commented on #6967
This was merged in https://github.com/Azure/azure-powershell-common/pull/29
Closing.

[2018-08-31 16:40] #6967 closed

[2018-08-31 16:56] FonsecaSergio opened #7110 "Your Azure credentials have not been set up or have expired, please run Connect-AzureRmAccount to set up your Azure credentials"
### Description

### Script/Steps for Reproduction

[code]

### Module Version

[code]

### Environment Data

[code]

### Debug Output

[code]

[2018-08-31 17:28] maddieclayton commented on #6787
Done

[2018-08-31 17:28] #6787 closed

[2018-08-31 18:04] OShevnin-Quest commented on #7110
We experience the same issue with the version
Seems like TokenCache is not deserialized/set correctly when importing context from file

[2018-08-31 19:49] markcowl commented on #7110
@FonsecaSergio @leowumsft @OShevnin-Quest Is there a reason why you are not using automatic context persistence?  If you just use ```Enable-AzureRmContextAutsave -Scope CurrentUser``` your context will always be active whenever you open a PowerShell window.

[2018-08-31 19:56] FonsecaSergio commented on #7110
@markcowl this is for a job that will run unattended using Windows scheduled task

[2018-08-31 20:08] leowumsft commented on #7110
@markcowl, please correct me if I am wrong.   That autosave feature only keep the last context but I keep flipping between multiple accounts (commercial and gov) so that feature is not helpful for me.

[2018-08-31 20:08] OShevnin-Quest commented on #7110
@markcowl in our scenario, we may have several activities running in parallel using different credentials (i.e. different default contexts). And each of thouse activities can spawn several parallel workloads.
Please suggest a better solution if exists, instead of saving/restoring the context.

Thank you

[2018-08-31 21:07] cormacpayne opened #7114 "Enable use of multiple tenants in test framework"
Currently, the test framework only supports a single tenant in the connection string, which prevents some tests, such as [`TestVirtualNetworkPeeringCRUD`](https://github.com/Azure/azure-powershell/blob/preview/src/ResourceManager/Network/Commands.Network.Test/ScenarioTests/VirtualNetworkTests.cs#L57-L63), from being recorded.

Need to investigate how we can enable this scenario in the test framewo

[2018-09-01 00:04] claudiafergus opened #7116 "Select-AzureRmSubscription : The input object cannot be bound to any parameters for the command either because the command does not take pipeline input or the input and its properties do not match any of the parameters that take pipeline input"
Issue with cmdlet. It used to work, however it no longer works and you need to revise your scripts. The following command throws an error.
Get-AzureRmSubscription -SubscriptionName $SubscriptionName | Select-AzureRmSubscription

Error: Select-AzureRmSubscription : The input object cannot be bound to any parameters for the command either because the command does not take pipeline input or the input

[2018-09-01 08:51] #669 closed

[2018-09-02 01:53] Karishma-Tiwari-MSFT commented on #6847
@hyonholee @singhkays  Is there an update on this issue? Many customers are still facing the same issue. Is there a timeline on when this be fixed? Thanks.

[2018-09-03 08:47] jurjenoskam opened #7119 "Remove-AzureRmResource returns Not Found error when deleting an AKS cluster, but deletion completes successfully (eventually)"
### Description

Removing an AKS cluster using the cmdlet Remove-AzureRmResource works, but the cmdlet returns a Not Found error early in the deletion process (in the background, Azure is still deleting it and eventually succeeds).
This happened multiple times, and it was consistent: each attempt had the same result.

### Script/Steps for Reproduction

On an existing AKS cluster:

[code]

This res

[2018-09-03 11:06] DaanWasscher opened #7120 "Add-AzureKeyVaultKey, support encrypted .pem file format and .pfx with only a private key"
Only pfx and byok file formats are supported in AzureRM version 6.8.1.

The Azure Portal supports importing keys from encrypted .pem files. It would be great if this powershell commandlet would get feature parity with the portal.

If I create a pfx file with only the private key and no certificates, then that pfx can be used through the Azure Portal to import my private key. Yet, using that same .

[2018-09-03 14:17] AlexKeySmith commented on #5099
I'm seeing something similar using Azure RM 6.2.1, we end up with the IP restrictions in an odd state, in the portal the rules have no names and oddly the http AlwaysOn request seems to be blocked.

[2018-09-03 18:32] AWahlqvist commented on #7110
Just want to chime in and say that we're also experiencing this, or at least a similar issue, especially when we have multiple processes running in parallel. Even if we run Connect-AzureRmAccount first, specifying a credential and subscription id the subsequent cmdlet intermittently fails with the "credentials have expired" error (it's quite rare though, but it does happen often enough to be real

[2018-09-04 07:38] shashikrish commented on #5540
Thanks a lot Angshuman!! The Cmdlet works fine to create ActivityLogAlert to use an existing Action Group.

[2018-09-04 09:31] AkshayAzure opened #7122 "Azcopy on Automation Runbook"
When will Azcopy for Azure Automation runbook available?

[2018-09-04 11:09] JulianRosBcn opened #7123 "Issues invoking Register-AZureRMAutomationDSCNode after AzureRM.Automation upgrade to 5.1.1"
### Description

After upgrading AzureRM.Automation module to 5.1.1 (and all depending as AzureRM.Profile) all our DSC processes are failing with an strange pending parameter output. Tested from Azure DSC and local with same modules version and we get the same response

### Script/Steps for Reproduction

Register-AzureRmAutomationDscNode -ResourceGroupName $DSCRGName -AutomationAccountName $Automa

[2018-09-04 11:30] luisarnauth commented on #5098
Hello all,
Just noticed that AAD B2C also has the same behavior, ie, the first character of all tags (key/name) is converted to lowercase or If the tag (key/name) is all uppercase, then its converted to all lower case. The value remains as expected.
This can be tested either via PowerShell or directly in the Portal.
Any workaround?
Thank you all!
Luis

[2018-09-04 19:53] MicahMcKittrick-MSFT commented on #2605
@vivsriaus seems people are still having issues. Can you reopen and take a look?

[2018-09-04 20:26] maddieclayton commented on #7122
@vrdmr Can you take a look at this feature request?

[2018-09-04 20:27] maddieclayton commented on #7123
@vrdmr Can you take a look at this issue?

[2018-09-04 20:30] maddieclayton commented on #7119
@mboersma Can you take a look at this issue?

[2018-09-04 21:38] maddieclayton commented on #6474
@praries880 Please split this into two issues.

[2018-09-04 21:53] #7059 closed

[2018-09-04 21:54] #7038 closed

[2018-09-05 02:21] majesticpancake opened #7128 "Set-AzureRmSiteRecoveryVaultSettings won't accept ASRVault object"
### Description

I am unable to to use Set-AzureRmSiteRecoveryVaultSettings cmdlet.  When I pass the cmdlet an ASR vault object as documented I receive an error.

### Script/Steps for Reproduction

Set-AzureRmSiteRecoveryVaultSettings -ARSVault (Get-AzureRmRecoveryServicesVault -Name $VN -ResourceGroupName $RG)

### Module Version

    Directory: C:\Program Files\WindowsPowerShell\Modules

ModuleT

[2018-09-05 06:38] pratnala commented on #5814
Any update on this?

[2018-09-05 09:14] GenesisCoast opened #7129 "Register-AzureRmAutomationDscNode - Asks for 'ResourceGroupName' and 'TemplateFile' when they are already Provided"
### Description

When trying to register a new node in an Azure Automation account I get the following error message:

[code]

Even when all the madatory parameters according to the documentation [here](https://docs.microsoft.com/en-us/powershell/module/azurerm.automation/register-azurermautomationdscnode?view=azurermps-6.8.1#required-parameters) are fulfilled.

### Script/Steps for Reproduction

[2018-09-05 09:48] kumammanish commented on #2286
Any luck in getting this issue resolved ? facing the same issue.

[2018-09-05 10:19] michaelsync commented on #7096
@panchagnula Thanks. Someone in Powershell advisor said that there are some missing things in CLI too. Example: https://feedback.azure.com/forums/169401-azure-active-directory/suggestions/34835497-manage-owner-of-groups-through-az-cli

Can we say some features are available in CLI only and some are available in Powershell only? (not in sync basically).

Do we have any documentation on what feature

[2018-09-05 10:24] michaelsync opened #7130 "getting the query key of azure search using powershell"
This issue is opened as requested in this issue https://github.com/Azure/azure-powershell/issues/7096#issuecomment-417417813.

I am able to get the query key of search easily using CLI.  but I am not able to find a way to do it in Powershell.

`: az search query-key list --resource-group "mssql16ag" --service-name "mstestsearch"`

Does it support in Powershell? if not, please let us know the timel

[2018-09-05 10:42] chlillelund opened #7131 "Missing context in Connect-AzureRMAccount on clean Windows 10"
### Description

On a fresh installation of Windows 10, Connect-AzureRMAccount does not return a context. The function runs, but returns the following output.

[code]

The tenant I am connecting to does not have any Azure subscriptions per se. It is an Office 365 subscription, with a related Azure AD that I need to log in to, in order to create an application, assign permissions, and grant admin c

[2018-09-05 14:27] mboersma commented on #7119
The cmdlets poll until the DELETE operation succeeds and at least at first glance, the interactions look correct to me except of course for the final 404 result. We should have returned information on the operation still in progress (it takes a few minutes to completely delete an AKS cluster).

The other thing that jumps out at me is that the cmdlets are still using the old API of 2017-08-31. I do

[2018-09-05 15:15] CraigWiand commented on #2286
Sadly I do not have a great resolution.  I believe the issue has also been seen in the cli utility as reported [here](https://github.com/Azure/azure-cli/issues/1332) and there was a PR [here](https://github.com/Azure/azure-cli/pull/1499).  From quick glance it looks like they used a combination of passing the OID instead of the resolved name and doing a sleep if the specific error was returned.

[2018-09-05 15:53] panchagnula commented on #7096
@michaelsync i can speak regarding the AppService Linux commands availability on CLI & PowerShell only, the other feedback link you provided is group management commands so i cannot comment on those.
Your best place for documentation is https://docs.microsoft.com/en-us/cli/azure/webapp?view=azure-cli-latest & https://docs.microsoft.com/en-us/powershell/module/azurerm.websites/set-azurermwebapp?vie

[2018-09-05 16:19] blueelvis opened #7132 "Unable to setup Diagnostic Settings for a NSG using Set-AzureRmDiagnosticSetting"
### Description
I am unable to set diagnostic settings for an NSG using `Set-AzureRmDiagnosticSetting`

Whenever the commandlet runs, all I get is the following 3 warnings and not a single error -
[code]

### Script/Steps for Reproduction
[code]

### Module Version
[code]

### Environment Data

[code]

### Debug Output
[code]

As per the description of the commandlet over [here](https://docs.micro

[2018-09-05 16:30] ahmelsayed opened #7133 "Lacking Azure Powershell cmdlet to deploy function apps"
_From @brandonh-msft on August 31, 2018 17:49_

There are things we can do with Azure PowerShell that we can't do with Azure CLI - for instance, [create Application Insights resources](https://docs.microsoft.com/en-us/azure/application-insights/app-insights-powershell) in Azure.

This means to automate the deployment of a Function app + Application Insights, I've got to use two different CLIs; Azu

[2018-09-05 16:30] ahmelsayed commented on #7133
/cc @ahmedelnably

[2018-09-05 18:28] cormacpayne commented on #7008
This has been fixed

[2018-09-05 18:28] #7008 closed

[2018-09-05 18:30] brandonh-msft commented on #7133
I have worked around this by using the [Run-From-Zip functionality and its associated REST deployment capability](https://docs.microsoft.com/en-us/azure/azure-functions/deployment-zip-push#rest). However this is 100% outside the func cli which begs the question why have build/deploy capabilities even in it.

[2018-09-05 18:39] bganapa commented on #7008
@cormacpayne @markcowl Thanks!

[2018-09-05 22:46] maddieclayton commented on #7129
@vrdmr Can you take a look at this issue?

[2018-09-05 22:48] maddieclayton commented on #7130
@felixwa Can you take a look at this issue?

[2018-09-05 22:52] felixwa commented on #7130
$queryKey1 = $newSearchService | Get-AzureRmSearchQueryKey
		$queryKey2 = Get-AzureRmSearchQueryKey -ParentResourceId $newSearchService.Id
		$queryKey3 = Get-AzureRmSearchQueryKey -ResourceGroupName $rgname -ServiceName $svcName

[2018-09-05 23:03] maddieclayton commented on #7130
@michaelsync Does this answer your question?

[2018-09-05 23:07] maddieclayton commented on #7132
@gucalder Can you take a look at this issue?

[2018-09-05 23:27] michaelsync commented on #7096
@panchagnula Thanks.  For documentation, it doesn't say what is missing or in the pipeline.  That's why I think it would be really helpful for us if there is a doc about whats' missing in CLI/Powershell.

Eg:
Title: Web App
Commands/Parameters                  |    CLI                  | Powershell Azure
----------------------------------------------------------------------------------------------

[2018-09-06 08:39] blueww opened #7143 "[Storage] for a breaking release, Should Change the default parameterSet for New-AzureStorageContext to"
Use the issue to track ：
We have added Oauth support to Powershell, but left a change need breaking change.
We should add the change when a release allows breaking comes.

The change is:
To Support create Oauth storage context with only storage account name as following, we should change the default parameterSet to "OAuthParameterSet"

1.	$ctx = New-AzureStorageContext -StorageAccountName $account

[2018-09-06 13:00] janegilring opened #7144 "New-AzureRmOperationalInsightsSavedSearch not able to create searches for new query language"
### Description

I`ve exported the following Saved search in Log Analytics from a workspace to a JSON-file:
Category : Active Directory
DisplayName : Domain and Built-in Administrators Membership Changes
Query : SecurityEvent | where EventID==4728 or EventID==4729 or EventID==4732 or EventID==4733 or EventID==4756 or EventID==4757 or EventID==
632 or EventID==636 or EventID==660 | project InvokedB

[2018-09-06 13:43] slashP commented on #6573
@panchagnula Do you have an update for us?

[2018-09-06 14:15] KirkMunro opened #7145 "Need better async support for New-AzureRmResourceGroupDeployment"
I have an issue with New-AzureRmResourceGroupDeployment that I'm hoping someone can help me with. I use PowerShell in Azure Functions, where the maximum amount of time that a function can run is 10 minutes (5 by default, but extensible). In some of the scripts I run through Azure Functions, I invoke New-AzureRmResourceGroupDeployment, which may take a really long time depending on what is being de

[2018-09-06 15:01] KirkMunro opened #7147 "functionapp:Add az function to Azure PowerShell that mimics az command functionality"
Related issue: https://github.com/Azure/azure-cli/issues/7218.

It would be very useful to have an az function in PowerShell that mimics the az CLI functionality, internally invoking the equivalent PowerShell command to get the task done, and showing the PowerShell command(s) that are invoked when run with -WhatIf.

For example, a long time ago I built a dir function (not an alias, a function) in

[2018-09-06 15:06] AuroraBrignola commented on #2605
+1 for re-opening

[2018-09-06 18:30] deathly809 commented on #6870
Fixed with PR https://github.com/Azure/azure-powershell/pull/7076

[2018-09-06 18:30] deathly809 commented on #6850
Fixed with PR https://github.com/Azure/azure-powershell/pull/7076

[2018-09-06 18:30] #6850 closed

[2018-09-06 18:32] deathly809 commented on #5698
Done!

[2018-09-06 18:32] #5698 closed

[2018-09-06 20:00] deathly809 commented on #6174
Fix is in.  https://github.com/Azure/azure-powershell/pull/7067

[2018-09-06 20:00] #6174 closed

[2018-09-06 20:00] deathly809 commented on #6719
Fix is in. https://github.com/Azure/azure-powershell/pull/7067

[2018-09-06 20:00] #6719 closed

[2018-09-06 21:38] MiYanni opened #7151 "Incorrectly checking generic type arguments in breaking change tool"
The breaking change tool is only checking nested types by name. It should do the same property-style check it does for non-generics.

See:
https://github.com/Azure/azure-powershell/blob/preview/tools/StaticAnalysis/BreakingChangeAnalyzer/TypeMetadataHelper.cs#L478-L481

Should be using this method to compare types:
https://github.com/Azure/azure-powershell/blob/preview/tools/StaticAnalysis/Breakin

[2018-09-06 22:13] #6869 closed

[2018-09-06 22:13] deathly809 commented on #6872
https://github.com/Azure/azure-powershell/pull/7087

[2018-09-06 22:13] #6872 closed

[2018-09-06 22:13] deathly809 commented on #6873
https://github.com/Azure/azure-powershell/pull/7087

[2018-09-06 22:13] #6873 closed

[2018-09-06 22:14] deathly809 commented on #7083
https://github.com/Azure/azure-powershell/pull/7087

[2018-09-06 22:14] #7083 closed

[2018-09-06 23:09] deathly809 commented on #6863
Done.

[2018-09-06 23:09] #6863 closed

[2018-09-06 23:10] deathly809 commented on #5224
@cormacpayne Done.

[2018-09-06 23:10] #5224 closed

[2018-09-06 23:10] deathly809 commented on #6868
Done.

[2018-09-06 23:10] #6868 closed

[2018-09-06 23:59] ioanapop opened #7153 "New-AzureRmVM : Id - is not a valid resource reference."
### Description
When trying to create a new VM without an availability set I get this error: Id - is not a valid resource reference.

This is the output from Resolve-AzureRmError -Last
ServerMessage    :
ServerResponse   :
RequestMessage   :
RequestId        :
InnerException   : False
Exception        : Microsoft.Azure.Commands.Compute.Common.ComputeCloudException: Id - is not a valid resource ref

[2018-09-07 12:57] johnnephin commented on #2723
Workaround does't seem to work for me with TemplateParameterUri when trying to pass a SAS token.  Passing the parameters as TemplateParameterFile and then passing in the SAS token as an additional parameter works.

[2018-09-07 13:44] Meyce opened #7161 "AzureRM.ServiceBus no option to set Action when creating service bus rule"
The cmdlet New-AzureServiceBusRule has a parameter `-SqlExpression` that sets a the SQL filter expression, but there is no option for setting a Sql Action on a rule.

[2018-09-07 17:11] NelsonDaniel opened #7162 "Shared resources for storage data plane tests."
### Description

- [ ] Share resource group and storage account for every test. Probably sharing context between tests with  [class fixture](https://xunit.github.io/docs/shared-context.html).

Minor Improvement:

- [ ]  Set properties and add CORS rules together, and run a wait function for the change updated in server.

### Cost: TBD

[2018-09-07 18:06] juancrl commented on #7110
Update. Step 3 is needed, Step 4 is NOT needed.
The file contains
{
  "DefaultContextKey": "Default",
  "EnvironmentTable": {},
  "Contexts": {},
  "ExtendedProperties": {}
}
I don't know if Clear-AzureRMContext or some similar cmdlet could do the same trick...

jc

[2018-09-07 19:41] KirkMunro commented on #7145
Aside from a webhook (which I think would be the best approach, where the command returns once the task has been successfully launched without waiting for it to complete), another useful possibility would be to receive the URL for the deployment, so that I can invoke this cmdlet, and once the deployment has sucessfully started (not completed, I just need to know it launched properly, and if not re

[2018-09-07 21:06] juancrl commented on #6988
Hi Maddie,
Please check https://github.com/Azure/azure-powershell/issues/7110, I've found a workaround which seems to work with 6.8.1.
Now it wold be great to find a more logical/evident way to fix this issue... and probably document which .NET object can be used to see the cache again (as the previously used method now always returns $null)
jc

[2018-09-07 21:08] juancrl commented on #6988
$cache= [Microsoft.IdentityModel.Clients.ActiveDirectory.TokenCache]::DefaultShared
$cache.ReadItems()
# Now empty in 6.7.x and 6.8.x

[2018-09-07 23:41] v-Ajnava commented on #7161
right now, you can set the action using set cmdlet with updated Rule object. we will update the New cmdlet to support action. will update the thread once its done.

[2018-09-07 23:44] lwajswaj opened #7166 "Unable to retrieve "Microsoft.Web/hostingEnvironments/capacities""
### Description

No Provider for "Microsoft.Web/hostingEnvironments/capacities"; unable to retrieve ASE ILB Private IP. If I include -ApiVersion, the body contains the information but it isn't parsed; otherwise, the body is empty.

### Script/Steps for Reproduction

[code]

### Module Version

[code]

### Environment Data

[code]

### Debug Output

[code]

[2018-09-08 00:00] MiYanni commented on #6129
Completed all the tasks for this work item.

[2018-09-08 00:00] #6129 closed

[2018-09-08 06:04] KirkMunro opened #7167 "Disconnect-AzureRmAccount should never fail when you are not connected"
### Description

If you are not connected to Azure with Azure PowerShell, and you invoke Disconnect-AzureRmAccount, you get an error telling you that you need to connect first.

This is a poor design that encourages invocation with -ErrorAction Ignore. You would never, ever connect just to disconnect, and when all you want to do is make sure you are disconnected, you should be able to invoke this

[2018-09-08 08:56] MiYanni commented on #6191
@dragonfly91 Ping. Also, this specifically applies to [Backup](https://github.com/Azure/azure-powershell/tree/preview/src/ResourceManager/AzureBackup), not [RecoveryServices.Backup](https://github.com/Azure/azure-powershell/tree/preview/src/ResourceManager/RecoveryServices/Commands.RecoveryServices.Backup).

[2018-09-08 08:59] MiYanni commented on #5212
@bganapa Ping. Checking if this was done as part of the recent set of Stack PRs.

[2018-09-08 09:27] jayendranarumugam commented on #7048
@maddieclayton  @vrdmr @eamonoreilly  @safeermohammed Could you please help me on this?

[2018-09-08 16:02] seanfarmar commented on #2278
Is this going to be fixed? This is a real bummer, in order for this to work I need to modify all the json files generated for each deployment...

[2018-09-08 23:38] chiweihuang opened #7169 "Get-AzureRmResource does not return roleInstances of cloud service after 6.0.0"
### Description

The following Get-AzureRmResource commands returns nothing after version 6.0.0. It works fine with AzureRm.Resource version 5.5.2. Verified that the latest AzureRM returns nothing as well.

The Request absolute uri has changed:
5.5.2:
GET /subscriptions/f1ea63de-afc7-4dc5-90cb-c7d1d39e3e1f/resourceGroups/NoREv2Test/providers/Microsoft.ClassicCompute/domainNames/MyNoR/slots/staging

[2018-09-09 23:53] michaelsync commented on #7096
Hi @rramachand21 Any update on the timeline?

Hi all, It would be great if someone can help me to get a hold of Ranjith. :-) Thanks.

[2018-09-10 00:06] michaelsync commented on #7130
@maddieclayton @felixwa

I see. I wasn't aware of this command. It doesn't show up in my current azure module. I will do the upgrade to see. Thanks.

[2018-09-10 03:43] panchagnula commented on #7096
we don't have a timeline to share at this point - we will update the thread when we have more details here. Thanks!

[2018-09-10 06:16] ponsakthi opened #7175 "Invoke-AzureRmVmCommand Port"
What port of the target VM is used to run InvokeAzureRmVmCommand? What underlying protocol is used?
I am locking down all ports on my VM for security purposes in production network. I wanted to know if I had to open any extra ports/protocols on NSG to allow InVokeAzureRmVM command.

[2018-09-10 12:02] Meyce commented on #7161
@v-Ajnava could you provide an example of how to do this with Set-AzureRmServiceBusRule?  I've tried but I keep getting back a Bad Request(400) error.

[2018-09-10 14:19] deathly809 commented on #5212
@MiYanni yeah we made the change.

[2018-09-10 14:19] #5212 closed

[2018-09-10 15:34] dedreira opened #7177 "New-AzureBatchPool reference example 2 not working"
Hi all,

I'm trying to make work the example number 2 of the New-AzureBatchPool powershell command reference help page:

Get-Help New-AzureBatchPool -Examples

 $imageReference = New-Object -TypeName "Microsoft.Azure.Commands.Batch.Models.PSImageReference" -ArgumentList @("WindowsServer", "MicrosoftWindowsServer", "2016-Datacenter", "*")
 $configuration = New-Object -TypeName "Microsoft.Azure.Comm

[2018-09-10 16:30] MicahMcKittrick-MSFT commented on #7177
Following :)

[2018-09-10 17:56] cormacpayne commented on #7177
@matthchr  Hey Matthew, would you mind taking a look at this issue?

[2018-09-10 18:11] YazanMSFT opened #7178 "New-AzureRmTrafficManagerProfile throws null ref exception when splatting and ProfileStatus is not specified"
### Description

When running New-AzureRmTrafficManagerProfile without passing in a ProfileStatus in the splatting arguments, it fails with a null reference exception

### Script/Steps for Reproduction

[code]

### Module Version
Directory: C:\Program Files\WindowsPowerShell\Modules

ModuleType Version    Name                                ExportedCommands
---------- -------    ----

[2018-09-10 18:13] matthchr commented on #7177
@brnleehng looked into this and I believe the theory is that the sample is using `small` as a VM size, but you actually can't use `small` you have to use `standard_a1` or `standard_d1` (`small` is for CloudServiceConfiguration).

I'll fix this shortly in the actual documentation but in the meantime it sounds like you can just use a different VM size and it should work.

[2018-09-10 18:48] dedreira commented on #7177
Hey! It worked!! thanks for the info, I truly appreciate it :)

One more thing, I had to modify another line of the example, because I was having this error:

**New-Object : Cannot find type [Microsoft.Azure.Commands.Batch.Models.VirtualMachineConfiguration]**: verify that the assembly containing this type is loaded.
At ...\CreateBatchPool.ps1:33 char:18
+ ... iguration = New-Object -TypeName "Mic

[2018-09-10 18:58] ravbhatnagar commented on #2605
reopening, will investigate and get back. @Tiano2017 FYI.

[2018-09-10 18:58] markcowl commented on #7178
@Mikhail, cna you assign to the appropriate contact in Network to investigate?

[2018-09-10 19:00] markcowl commented on #7175
@ponsakthi I believe that this is done through the resource manager endpoint, meaning that no open ports are required.

Adding @hyonholee to confirm

[2018-09-10 19:09] markcowl commented on #7169
@chiweihuang I don't see any registration for domainNames/slots/roles/roleInstances  when I run

[code]

DO you have available API versions for this resource type when you run the cmdlet for your subscription?

[2018-09-10 19:11] markcowl commented on #7167
@KirkMunro Agreed

[2018-09-10 19:15] markcowl commented on #7166
@lwajswaj  I don't see the error mentioned in this repro - is this the cmdlet invocation that produced the error?

Also, after producing the error, in addition to the Debug log, can you provide the results of runnign Resolve-AzureRmError

[2018-09-10 19:17] markcowl commented on #7153
@hyonholee Can you take a look?

[2018-09-10 19:18] markcowl commented on #7147
@JasonRShaver @panchagnula Can you folks fill Kirk in on current plans for implementing Azure Functions in Azure PowerShell?

[2018-09-10 19:27] markcowl commented on #7133
@JasonRShaver @panchagnula Can you folks comment on the plans for Azure PowerShell support for Azure functions?

[2018-09-10 19:30] panchagnula commented on #7147
@KirkMunro we do have plans to add FunctionApp creation & management commands that CLI currently supports. i.e these https://docs.microsoft.com/en-us/cli/azure/functionapp?view=azure-cli-latest

Don't have a firm ETA to share at this point. CCing Functions PM as well @dariagrigoriu

[2018-09-10 19:30] markcowl commented on #7131
@chlillelund Generally, you need to have some authorization to RM resources in order to use the Azure PowerShell cmdlets.  The ADS functionality we provide is tightly coupled with usage of AD objects inside Azure Resource Manager.

The AzureAD cmdlets porvide more general functionality for manipulating AAD and Graph objects: https://www.powershellgallery.com/packages/AzureAD/2.0.1.16

[2018-09-10 19:31] markcowl commented on #7128
@viverm Can you take a look?

[2018-09-10 19:43] KirkMunro commented on #6186
@markcowl Here's another example showing how this could be solved that I think is very elegant and intuitive:

[code]

It's similar to your job example above, but without needing to start a job and invoke Set-AzureRmContext to set the context over a bunch of commands where you want it used. I think it's more intuitive as well, and could have an -AsJob parameter to launch the commands in the script

[2018-09-10 19:55] mikhail commented on #7178
Nope, but maybe @MikhailTryakhov can?

[2018-09-10 20:00] KirkMunro commented on #7147
@panchagnula: Thank you, that will be very useful for PowerShell.

@markcowl: While I appreciate you passing that request on (which I was curious about), it wasn't the actual ask here. What I'm requesting is the addition of a PowerShell function to Azure PowerShell that would be named "az" that maps the az CLI to PowerShell cmdlets. This would provide three benefits:

1. It would allow end users t

[2018-09-10 21:49] lwajswaj commented on #7166
It's not an actual error, it's that I don't get anything. when I run this line

[code]

I get nothing although in the response the data is there, it doesn't get processed

[2018-09-10 22:39] chiweihuang commented on #7169
From the successful call using version 5.5.2, the absolute uri is the following:
GET /subscriptions/f1ea63de-afc7-4dc5-90cb-c7d1d39e3e1f/resourceGroups/NoREv2Test/providers/Microsoft.ClassicCompute/domainNames/MyNoR/slots/staging/roles/NotificationReceiver/roleinstances?api-version=2016-11-01 HTTP/1.1

Is this "api-version=2016-11-01" in uri what you are referring to?

[2018-09-10 22:40] praries880 commented on #6989
PR : https://github.com/Azure/azure-powershell/pull/7186

[2018-09-10 23:40] addycluri commented on #5956
I updated the AzureRM* modules to the latest and able to access the SAS URL using `Grant-AzureRmDiskAccess`

[code]

[code]

Thanks everyone who helped with the interim workaround and the final fix.

[2018-09-11 00:26] v-Ajnava commented on #7161
@Meyce, please find the example below,  compatibilityLevel is default set to 20 and its hardcoded for now, don't update it.

$createdrule1 = New-AzureRmServiceBusRule -ResourceGroupName v-ajnavtest -Namespace pwrtesting -Topic topictest -Subscription testsub -Name testrule1 -SqlExpression "myproperty='test'"

$createdrule1.Action.RequiresPreprocessing = $True
$createdrule1.Action.SqlExpression = "

[2018-09-11 00:58] chiweihuang commented on #7169
Our goal is to monitor the instances status, and to move on to further operations only when all the instances are up & running. If this does not work, could you please suggest an alternate way to do so?
I tried something like below:
    $staging = Get-AzureRmResource -Verbose -ResourceId ($ResourceId+'/slots/staging') -ApiVersion '2016-11-01'
    if ($staging.Properties.status -ne 'Running')
but s

[2018-09-11 04:45] viverm commented on #7128
@majesticpancake

[code]
try through pipelining ::
`Get-AzureRmRecoveryServicesVault -Name $VN -ResourceGroupName $RG | Set-AzureRmSiteRecoveryVaultSettings`

[2018-09-11 09:13] pnatraj opened #7194 "New-AzureRmADApplication equivalent of New-AzureADApplication -RequiredResourceAccess"
I am able to set the azure application ("Read Directory Data") permissions using the below but how can i set the same using New-AzureRmADApplication.
`$appPermission1 = New-Object -TypeName "Microsoft.Open.AzureAD.Model.ResourceAccess" -ArgumentList "5778995a-e1bf-45b8-affa-663a9f3f4d04","Role" #Read Directory data

$reqGraph.ResourceAccess = $appPermission1

$myApp = New-AzureADApplication -Displ

[2018-09-11 09:18] pnatraj commented on #7194
[Issue with replacing New-AzureADApplication to New-AzureRmADApplication #6926
](https://github.com/Azure/azure-powershell/issues/6926)

The issue is discussed in more detailed here.
http://www.redbaronofazure.com/?p=7197

[2018-09-11 09:44] Adrian89 opened #7195 "New-SqlColumnEncryptionKey fails with generic error on first execution"
### Description

I'm having a problem using SQL Server Always Encrypted with Azure Sql Databases. I have an Azure Key Vault set up and the powershell script to create the CMK executes without error. The powershell script to create the CEK fails when executing the cmdlet 'New-SqlColumnEncryptionKey'.

The error output is:

[code]

### Script/Steps for Reproduction

The following script fails the fi

[2018-09-11 14:14] blueelvis opened #7196 "Get-AzureRmVirtualNetworkSubnetConfig not retrieving the NSG Name & other properties associated with the subnet"
### Description
The above commandlet doesn't retrieve all the properties of the NSG which is associated with it. Only the ID is returned but other properties like Name, Rules are empty.

### Script/Steps for Reproduction
1. Have a VNET with Subnet and NSGs associated to the subnet
[code]

### Module Version
[code]

### Environment Data

[code]

### Debug Output

[code]

Thanks,
Pranav

[2018-09-11 14:37] viverm commented on #3617
@dragonfly91  do you know why we have cmdlet SetAzureRmRecoveryServicesVaultContext and SetAzureRmRecoveryServicesBackupProperties in recoveryservices module.

In ASR we are not using them , if it is not needed in backup we can clean them up in upcoming breaking release.

[2018-09-11 14:40] viverm commented on #4893
closing thread . Not active from long time.

[2018-09-11 14:40] #4893 closed

[2018-09-11 14:42] viverm commented on #4950
@shubhamgupta514  any update on this?

[2018-09-11 14:56] viverm commented on #6293
@cormacpayne  can you help with this . Autoboxing of date from above "5/18/2018 2:05:00 AM" is not happening in andyherb's PS but working fine in mine

$PSVersionTable.psVersion   5.1.17134.228

[2018-09-11 16:25] deathly809 opened #7198 "Opposite of Import-AzureRmContext should be Export-AzureRmContext, not Save-AzureRmContext"
This was brought up during a bug bash for the new PowerShell for Azure Stack.  Since this is in AzureRM.Profile we don't own that.

[2018-09-11 16:43] deathly809 opened #7199 "AzureRM.Profile: Importing a context does not replace the token cache"
### Description

When using Save-AzureRMContext in one PowerShell window and Import-AzureRMContext in another window does not allow me to call commands.

### Script/Steps for Reproduction

[code]

[code]

### Module Version

[code]

### Environment Data

[code]

### Debug Output

**Save**
[code]

**Load**
[code]

[2018-09-11 17:02] markcowl commented on #6191
AzureBackup is not needed in Az, so closing

[2018-09-11 17:02] #6191 closed

[2018-09-11 21:40] maddieclayton opened #7205 "Put AzureRM.psm1 on the .gitignore list"
### Description

### Script/Steps for Reproduction

[code]

### Module Version

[code]

### Environment Data

[code]

### Debug Output

[code]

[2018-09-11 21:43] neaggarwMS opened #7206 "Powershell for Virtual Network Taps"
### Description

### Script/Steps for Reproduction

[code]

### Module Version

[code]

### Environment Data

[code]

### Debug Output

[code]

[2018-09-11 22:11] maddieclayton commented on #7206
@neaggarwMS Closing because there is no description.  Please reopen with a full description of what this issue is about.

[2018-09-11 22:11] #7206 closed

[2018-09-11 22:12] maddieclayton commented on #7195
@jaredmoo Can you take a look at this issue?

[2018-09-11 22:13] maddieclayton commented on #7196
@chandrasekarsrinivasan Can you take a look at this issue?

[2018-09-11 22:46] huang91shu opened #7207 "DMS: Add powershell support for synchronous migrations for api version 2018-07-15-preview"
# Feature Name

## Planned PowerShell Release Milestone

- Please see the [release milestones](https://github.com/azure/azure-powershell-cmdlet-review-pr/milestones) for a full list of upcoming milestones

    - ` 2018-09-17 - Ignite `

## Service Release Details

- Is this an Embargoed Preview, A Public Preview, or a General Release?

    - ` Public Preview `

- What is the expected service relea

[2018-09-11 23:06] maddieclayton commented on #7207
Please move this here: https://github.com/Azure/azure-powershell-cmdlet-review-pr

[2018-09-11 23:06] #7207 closed

[2018-09-12 04:34] imeya opened #7215 "Add-AzureRmWebtestAlertRule with -disableRule throw an error"
Add-AzureRmWebtestAlertRule with -disableRule throw an error, details below:

my code:

$alert = Get-AzureRmAlertRule -ResourceGroupName $resourceGroup `
        | Where-Object {$_.Name -like '*isalive*'} `
        | Where-Object {$_.Name -like "*$vmName*"}

Add-AzureRmWebtestAlertRule -Name $alert.Name `
    -Location $alert.Location `
    -ResourceGroupName $resourceGroup `
    -WindowSize $aler

[2018-09-12 09:20] slashP commented on #6573
We are still waiting for an update to this issue @cormacpayne @panchagnula and yes, it is still very annoying 😄

[2018-09-12 10:47] SMGonc commented on #6916
**Problem solved in AzureRM module version 6.8.1!**

![2018-09-12_11h38_41](https://user-images.githubusercontent.com/42805372/45419975-bc898b80-b680-11e8-990d-fac1381b871b.png)

# Variables
$rgName="RG-DataDisks"
$rgName2="RG-VMs"
$locName="West Europe"
$vmName = "DC01"

$mdDataDiskName01="DC01_DataDisk02"
$mdTypeDiskName01="Standard_LRS"
$mdSizeDiskName01="32"

# Create Data Disk
$MDdiskConfig01

[2018-09-12 14:40] thomasddn commented on #6965
I see the same unexpected behavior when running this cmdlet from an Azure PowerShell task (version 3.*) in VSTS (Azure DevOps). We're using a private agent which has **AzureRM v6.4.0** installed.

Running the same script on my local machine executes successfully without any complaints about the `Path` parameter being null. My local machine has **AzureRM v5.7.0**.

The API's in the APIM instance al

[2018-09-12 16:43] panchagnula commented on #6573
don't have an update on this - we will update this with the milestone & other details when we are close to a fix for this. Thanks!

[2018-09-12 20:17] maddieclayton commented on #6916
Closing as fixed.

[2018-09-12 20:17] #6916 closed

[2018-09-12 22:05] johnsimons commented on #5760
We also experiencing the same issue when using the c# api `WebSiteManagementClient.WebApps.List()`.
@panchagnula any news on solving this issue ?

[2018-09-12 22:58] MiYanni commented on #5183
Recently found out that `DataMigrationService` has similar polling logic. Their cmdlet ends in `Task`, so that might be another good search term. Info from this review: https://github.com/Azure/azure-powershell-cmdlet-review-pr/issues/155

Example:
[code]

[2018-09-12 23:38] johnsimons commented on #5760
@panchagnula the issue is random, if I run the same code multiple times, we get different results, see https://github.com/OctopusDeploy/Issues/issues/4844#issuecomment-420728673

[2018-09-12 23:48] johnsimons commented on #5760
@panchagnula same issue using cli - `az webapp list | ConvertFrom-Json | ForEach-Object { $_ | Format-List -Property id, name, resourceGroup, kind, type, location, defaultHostname }`
First run no resourcegroups, 2nd run includes resourcegroups!

[2018-09-12 23:51] johnsimons commented on #5760
@panchagnula the code we are executing from c# is https://github.com/OctopusDeploy/Calamari/blob/d2769b1017e23372186ee68443d6b8e0e076e763/source/Calamari.Azure/Integration/Websites/Publishing/ResourceManagerPublishProfileProvider.cs#L40

[2018-09-12 23:52] johnsimons commented on #5760
And yes we are using ServicePrincipal

[2018-09-13 05:49] #7177 closed

[2018-09-13 07:36] ToMakeSense commented on #6261
@najgel thanks for your workaround, it works for me.

PS: If you use the hosted agent pool, you can try "**Hosted VS2017**", "**Hosted**"is not working i without extra configration.

![image](https://user-images.githubusercontent.com/6244148/45473818-a0621900-b76a-11e8-9b0a-f1c21adb516a.png)

Log for version-2.1.0 with “Hosted” Agent pool
[code]

[2018-09-13 09:27] nciacrklo commented on #7110
+1 👍 currently scratching my head for 3 days now.

[2018-09-13 09:40] nciacrklo commented on #7110
Thanks a lot man! For me only steps **1** & **2** were needed. I was able to import the saved context again. Will inform after a few days of observation.

[2018-09-13 10:00] juancrl commented on #7110
Happy to know it works !
Now let's hope Microsoft documents better all the Context idea, as promised.
jc

[2018-09-13 11:39] FirePho opened #7233 "Set-AzureRmTrafficManagerProfile does not work after adding endpoint"
### Description

### Script/Steps for Reproduction

[code]
Error:
[code]

### Module Version

[code]

### Environment Data

[code]

### Debug Output

[code]

[2018-09-13 15:10] KirkMunro opened #7235 "New-AzureRmResourceGroupDeployment fails in Azure Function when using a securestring parameter"
### Description

I have a C# HTTP Azure Function that deploys an ARM template from GitHub by invoking New-AzureRmResourceGroupDeployment as part of a PowerShell script that it runs.  The template being deployed is this one: https://raw.githubusercontent.com/Azure/azure-quickstart-templates/master/vm-simple-sles/azuredeploy.json. Internally, the script passes in a secure string to the adminPassword

[2018-09-13 17:04] COMikaze commented on #2605
I have same issue, got around it by using oDataQuery parameter.

[2018-09-13 18:11] MiYanni opened #7236 "Consolidate signing in Common"
This is to make the signing task (sign.proj) only run the sign task once for all things that need signed.

[2018-09-13 20:12] maddieclayton commented on #7233
@MikhailTryakhov Can you assign this to the correct dev? Thank you.

[2018-09-13 20:14] maddieclayton commented on #7215
@gucalder Can you take a look at this issue?

[2018-09-13 20:15] maddieclayton commented on #7235
@Tiano2017 @ravbhatnagar Can you take a look at this issue?

[2018-09-13 20:15] cormacpayne commented on #7151
Also need to improve how we compare output and parameter types when the name changes (_e.g._, going from `Site` to `PSSite` is flagged as a breaking change immediately without comparing the properties).

[2018-09-13 20:16] maddieclayton commented on #7194
@darshanhs90 Can you take a look at this issue?

[2018-09-13 20:30] MiYanni commented on #7060
Single package building will be done separately.

[2018-09-13 20:30] #7060 closed

[2018-09-13 21:13] maddieclayton opened #7238 "Change mechanism for determining version of Azure PowerShell for telemetry"
This file should be in the azure-powershell repo instead of azure-powershell-common

[2018-09-13 21:29] MiYanni commented on #5756
This was fixed in https://github.com/Azure/azure-powershell/pull/6975

[2018-09-13 21:29] #5756 closed

[2018-09-13 23:08] markcowl commented on #7198
Won't fix

[2018-09-13 23:08] #7198 closed

[2018-09-13 23:08] markcowl commented on #7032
Fixed

[2018-09-13 23:08] #7032 closed

[2018-09-13 23:09] markcowl commented on #7062
Fixed

[2018-09-13 23:09] #7062 closed

[2018-09-13 23:11] markcowl commented on #6000
Fixed

[2018-09-13 23:11] #6000 closed

[2018-09-13 23:11] markcowl commented on #6788
Fixed.

[2018-09-13 23:11] #6788 closed

[2018-09-13 23:26] markcowl commented on #7169
@chiweihuang The generic cmdlets are really the only way to deal with classic resources.  Is this still working in 5.5.2?  Tryign to determine if this was a resource3 chnage on the service, or a change in the cmd,et.

[2018-09-14 03:35] fabfella opened #7245 "Connect-AzureRmAccount causes a powershell to crash. Error message see "Could not load type 'System.Drawing.Icon'""
### Description

Im learning Azure with Powershell and went through the steps to get all the pakages and modules. I even got the latest version of Powershell.
However, when I run the Connect-AzureRMAccount, an error message is shown and then Powershell closes

### Script/Steps for Reproduction

1) Open Powershell 6.0.4 as administrator
2) Enter "Connect-AzureRmAccount" and press enter
3) Error mes

[2018-09-14 10:03] amoghnatu commented on #2286
Hello @maddieclayton / @darshanhs90 , Is there any update or an ETA for this fix? Currently one of our customer is seeing the same problem even after putting a sleep in the code for 30 seconds! Is there any alternate for this?

Thank you.

[2018-09-14 13:01] manericstam commented on #7129
Any clue when a corretion will come?
Br
Manuel

[2018-09-14 16:56] MiYanni opened #7251 "Add ChangeLog.md information to dev guide"
Our dev guide doesn't have information mentioning that they need to update their ChangeLog.md. Only our CONTRIBUTING.md mentions it. We don't have information mentioning that you need to add a line(s) under the `Current Release` header.

[2018-09-14 17:52] markcowl commented on #7245
AzureRM is a desktop only module (you can always tell this by the CompatiblePSEdition setting in the module manifest).

The module that supports PowerShell core is called 'Az'.  It also has shorter cmdlet names, but you can enable compatibility for existing scripts using 'Enable-AzureRmAlias' cmdlet.

Find Az here: https://www.powershellgallery.com/packages/Az/0.1.0

[2018-09-14 17:52] #7245 closed

[2018-09-14 21:52] migrande opened #7259 "Set-AzureRmResource Slow for VMs"
### Description

I'm using the Set-AzureRmResource command in a loop to inherit Resource Group tags down to the inner resources.  This is working well, except that it takes 60+ seconds to run the Set-AzureRmResource command against virtual machines.  When run against other resources, it takes anywhere from 2 - 10 seconds.  The results are very consistent across my entire subscription, which consis

[2018-09-14 22:19] markcowl opened #7260 "[Test Debt]: Re-record CortexCrudTests"
### Description:

Test needs to be re-recorded and marked as a check-in test

[2018-09-14 23:42] chiweihuang commented on #7169
What I found out is that it works with AzureRM 5.7.0 (AzureRM.Resources 5.5.2) but starting from AzureRM 6.0.0 (AzureRM.Resources 6.0.0), the same command stopped working.
Yes the /slots/$slot/roles/$roleName/roleinstances' is simplified from my actual query. The exact step to reproduce:
Get-AzureRmResource -Verbose -ResourceId '/subscriptions/f1ea63de-afc7-4dc5-90cb-c7d1d39e3e1f/resourcegroups/te

[2018-09-15 06:33] maddieclayton opened #7263 "webapp:Add example output to new DeletedApp cmdlets"
Please add example output to the help files for new DeletedApp cmdlets.  Creating this issue so that the release is not blocked.

[2018-09-15 16:55] johnwc commented on #2605
@COMikaze apricate the workaround, but this issue is about getting it fixed and not finding a work around.

[2018-09-16 13:11] blueelvis commented on #6335
@markcowl @cormacpayne - I think we really need these examples. One particular is how to setup diagnostics on an NSG when `Set-AzureRmDiagnostics` is not working ;)

[2018-09-16 13:29] blueelvis commented on #3806
@MiYanni @markcowl  - Was this ever released to the public? If not, any idea when this could be released?

[2018-09-16 14:34] blueelvis commented on #6833
Meanwhile, you guys can set up diagnostics by something like -

[code]

If the API Version is incorrect, you would receive something like Path not found. To get the latest version, just refer to the API Reference of Azure RM. But, yes, this needs to be fixed...

[2018-09-16 23:28] kilasuit commented on #6550
Hey @cormacpayne, do you knwo if there is any update on this at all?

[2018-09-16 23:31] Negwoh commented on #6595
I have just stumbled across this little issue myself and would be very greatful for a fix as we use powershell as our reporting/monitoring platform and have recently added in some VMWare servers that are being backed up into ARS.

[2018-09-17 05:04] v-shresh commented on #6595
Hi All

Please stop marking me in this email. I have got almost 2185 emails and my email account has been clogged now.

Thanks
Shreya

From: Negwoh <notifications@github.com>
Sent: Monday, September 17, 2018 5:02 AM
To: Azure/azure-powershell <azure-powershell@noreply.github.com>
Cc: Subscribed <subscribed@noreply.github.com>
Subject: Re: [Azure/azure-powershell] Unable to retrieve MARS backup ite

[2018-09-17 05:10] MiYanni commented on #3806
@blueelvis It was not. I started making this and then was working on moving the codebase NetStandard since then. So, it has not been a priority.

[2018-09-17 08:46] MarkDordoy opened #7267 "New-AzureRmAutoscaleRule not setting Direction"
### Description
This issue has been visible to me within the AzureRM 6.8.1 update

Running the cmdlet `New-AzureRMAutoscaleRule` fails to set the scale direction. Both Increase and Decrease seem to set the object property to `None`
### Script/Steps for Reproduction

[code]

### Module Version

5.1.3      AzureRM.Insights
5.5.1      AzureRM.Profile
5.0.9      AzureRM.Websites
6.8.1      AzureRM

##

[2018-09-17 10:31] DrEight opened #7268 "Start-CopyAzureStorageBlob does not update the Metadata"
Step to reproduce the problem:
1) write a file with metadata to a blob
2) copy the file with Start-CopyAzureStorageBlob  to a destination Blob
3) update the file and the metadata in source
4) overwrite the file with Start-CopyAzureStorageBlob -force
5) the metadata in destination blob stays with the original value, but the file is overwritten

So the result is that you have in the destination blob

[2018-09-17 12:35] weyfonk opened #7269 "Invoke-AzureRmVMRunCommand and spaces in parameters"
### Description

When running `Invoke-AzureRmVMRunCommand`, if the `-Parameter` hash table contains values with embedded spaces, only the part of said values left of the first space seem to be taken into account.

### Script/Steps for Reproduction

1. Create a local script (`dummy_script.ps1`) with the following:

[code]
2. Create a test VM (the one used here runs Windows Server 2012 R2, in case t

[2018-09-17 15:39] cormacpayne commented on #6550
@kilasuit Hey Ryan, we haven't made any progress on this item yet -- our focus since May has been on engineering tasks and preparing the new `Az` module built for .NET Standard. Once this module is out (and fine-tuned 😀), we will turn our attention to items in the backlog (such as this) and prioritizing them. We'll make sure to update this issue appropriately during our upcoming planning.

[2018-09-17 17:33] cormacpayne commented on #7269
@koralski @hyonholee @nibhat @savyasachisamal would one of you be able to verify the behavior above and comment on it?

[2018-09-17 17:34] cormacpayne commented on #7268
@blueww Hey Wei, would you mind taking a look at this issue?

[2018-09-17 17:35] cormacpayne commented on #7267
@gucalder Hey Guillermo, would you mind taking a look at this issue?

[2018-09-17 17:50] hyonholee commented on #7175
@koralski

[2018-09-17 21:44] markcowl opened #7274 "Add Explicit NetStandard dependency to ADAL v3.19.2"
### Description
- [x] Update loading mechanism to load 3.14.0 in netfull and 3.19.2 in netstandard
- [x] Test on netcoreapp2.1, netcoreapp2.0, and net472
- [x] Test in powershell core and desktop
- [x] Publish Az to test gallery
- [x] Publish Az to the PSGallery on 9/24

[2018-09-17 21:54] deathly809 opened #7275 "[Azure Stack] New-AzsStorageQuota does not fill in default values."
### Description

We were checking if bound parameters were set, need to replace with this as we have default values

[code]

Need to also add tests for default values.

### Script/Steps for Reproduction

[code]

[2018-09-17 21:59] maddieclayton commented on #7116
@claudiafergus I am not able to replicate this in the current version of AzureRM.  When I run this:
```Get-AzureRmSubscription -SubscriptionName "Test Account" | Select-AzureRmSubscription```
I successfully change subscriptions.  What do you get as the output of ```Get-AzureRmSubscription -SubscriptionName $SubscriptionName```?

[2018-09-17 23:14] bganapa opened #7278 "Alias TenanId param to be Tenant in Connect-AzureRmAccount"
### Description

Since the -TenantId parameter could be a string now like azurestack.onmicrosoft.com  instead of GUID, it would make sense to call the Param simply -Tenant

[2018-09-18 08:36] blueww commented on #7268
@DrEight

Powershell blob Copy is actually server side blob copy. Powershell only send the copy request to server, and server will do the real copy. So the current behavior is from server.

I see there's already a bug for it, please wait for the server bug fix and deployed to product.

And since this is not a powershell code bug, and can't be fixed in Powershell code, do you mind if I close the is

[2018-09-18 12:31] alvipeo opened #7283 "Can't upload blob with SAS"
I'm leaving a link to my SO question because apparently no one knows how to do it. And to me it doesn't make sense as I'm sure it's possible with REST API.

[SO question](https://stackoverflow.com/q/52338480/2896495)

[2018-09-18 12:59] DrEight commented on #7268
This bug caused us a lot of problems during a migration. The migration is done and so I don't care anymore.
I reported so you can fix it and I hope others will not have the same troubles we had.

[2018-09-18 16:51] cormacpayne commented on #7283
@blueww Hey Wei, would you mind taking a look at this issue?

[2018-09-18 17:02] alvipeo commented on #7283
Thank you! This is extremely important for scenarios with VSTS or external system/customer uploading something.

[2018-09-18 18:00] mentat9 commented on #6055
Closing, fix has been shipping for a while.

[2018-09-18 18:00] #6055 closed

[2018-09-18 21:21] alexandair opened #7286 "azuresdk/azure-powershell-core:preview Dockerfile should be updated to use "pwsh" instead of "pwsh-preview" command"
azuresdk/azure-powershell-core:preview Docker image has been built using a Dockerfile that has a bug.

Image is using the stable version of PowerShell Core 6.1.0, but has a CMD line "pwsh-preview".

[2018-09-18 21:45] cormacpayne commented on #6474
Issue for updating reference doc: https://github.com/Azure/azure-powershell/issues/6989

[2018-09-18 21:47] #6474 closed

[2018-09-18 21:57] cormacpayne commented on #7162
Closing as won't fix 🗡

[2018-09-18 21:57] #7162 closed

[2018-09-18 22:10] cormacpayne commented on #7251
Change the header from `Current Release` to something that is more noticeable

[2018-09-18 23:42] hamsome commented on #2605
Yup, having the same problem when I use
Get-AzureRmResource -ResourceType Microsoft.Web/sites

Please fix.

[2018-09-19 01:15] wolfen351 commented on #1648
Please can you supply the name of the RM version? I'm having this issue too..

[2018-09-19 01:31] blueww commented on #7268
@DrEight
Thanks for reporting this! Will use the issue to track the fixing.

[2018-09-19 02:37] blueww commented on #7283
@alvipeo
There are 2 issues:
1. Please use the latest Azure Powershell from https://github.com/Azure/azure-powershell/releases (currently is 6.9.0)
2. If you need upload blob with SAS without Read permission, please add -Force to Set-AzureStorageBlobContent cmdlets. This is because by default we will check if the dest blob exist (need read permission), and remind user weather to overwrite if dest

[2018-09-19 09:38] imeya commented on #7215
@maddieclayton, @gucalder  , is there any feedback? thanks.

[2018-09-19 13:45] maxgaulhofer commented on #4917
+1

[2018-09-19 15:15] RussellMaycock opened #7293 "Set-AzureRmActivityLogAlert and -action"
Hi,
I'm really struggling to use your command, the documentation is very poor and the example doesn't work.
I'm wondering if you can help explain your work?

I'm trying to use powershell to create an alert please see below. Here is what I have so far.

$email = New-AzureRmActionGroupReceiver -Name 'user1' -EmailReceiver -EmailAddress 'username@outlook.com'
$AG1 = Set-AzureRmActionGroup -Name 'Emai

[2018-09-19 15:50] cormacpayne commented on #7293
@gucalder Hey Guillermo, would you mind taking a look at the above issue?

[2018-09-19 17:01] iamshital commented on #4168
Ping !!!

[2018-09-19 17:39] saeohioalpha commented on #2617
Just a heads up, this still exists. I was trying to clone a webapp to a new slot and it failed. Both locally with PS and remotely on the Azure portal with Azure PS.

[2018-09-19 17:56] YazanMSFT commented on #7233
I'm running into this as well. Are there any work arounds?

[2018-09-19 18:01] bganapa commented on #6628
We have a new version of AzureRm 2.3.0, AzureRm.Resources 6.0.2 released, I believe the original issue of Get-Assignment should not repro.

[2018-09-19 18:04] bganapa commented on #4784
This is fixed with AzureRm 2.3.0 release fo azurestack, AzureRm.Resources module version is 6.0.2

[2018-09-19 18:04] #4784 closed

[2018-09-19 18:04] bganapa commented on #5213
AzureRm.Insights is part of 2.3.0

[2018-09-19 18:04] #5213 closed

[2018-09-19 18:06] bganapa commented on #5229
This is fixed with AzureRM 2.3.0 release and AzureRm.Resources module version is 6.0.2

[2018-09-19 18:06] #5229 closed

[2018-09-19 18:30] bganapa opened #7296 "Rename Send-Feedback to Send-AzFeedback"
### Description
The cmdlet Send-FeedBack should have its typical prefix Az or AzureRm, Otherwise it could collide with any other modules that are installed on the system with the generic name 'Send-Feedback' . There is no reason to omit the Az or AzureRM from this cmdlet IMO

[2018-09-19 19:03] jocawtho opened #7297 "webapp:Support cloning into a RG and ASP combination where ASP !in RG. Portal supports this."
### Description
If we have RG3, and RG2 and ASP2 in RG2
Powershell should allow cloning into RG3 and ASP2

### Script/Steps for Reproduction

[code]

### Module Version

[code]

### Environment Data

[code]

### Debug Output

[code]

[2018-09-19 19:14] panchagnula commented on #7297
@Nking92 can you please take a look at this issue reported in cloning. Thank you.

[2018-09-19 19:19] maddieclayton commented on #1648
@panchagnula Can you take a look at this issue?

[2018-09-19 19:52] bganapa opened #7298 "[Azure Stack] ADFS : New-AzureRmRoleAssignment fails with 'The provided information does not map to an AD object id'"
### Description
The following command
New-AzureRmRoleAssignment -ApplicationId $ServicePrincipal.ApplicationIdentifier -RoleDefinitionName Contributor

fails with

New-AzureRmRoleAssignment : The provided information does not map to an AD object id.
At line:1 char:1
New-AzureRmRoleAssignment -ApplicationId $ServicePrincipal.Applicatio
 CategoryInfo          : CloseError: (:) [New-AzureRmRoleAssign

[2018-09-19 20:11] alvipeo commented on #7283
Sorry, how do I install this latest version?

[2018-09-19 21:27] sdavis3 opened #7302 "First class Docker support for Az"
The images in Docker Hub do not have the AzureRM.NetCore pre-installed.

To reproduce issue the following command:
docker run -it azuresdk/azure-powershell-core:latest

Then, once connected to the container, issue the following command:
Import-Module AzureRM.NetCore

The command will return an error. Then, issue the following command:
Install-Module AzureRM.NetCore

After installation completes, y

[2018-09-19 21:47] zacharyhumphrey commented on #4698
how is this stilllllll not fixed?

[2018-09-19 21:54] praries880 commented on #4698
@MikhailTryakhov  can you take a look at this issue?

[2018-09-19 22:49] sptramer opened #7305 "Documentation needs to be updated to support Az modules"
### Description

The `Az` module does not include the `Connect-AzureRmAccount` command. See https://github.com/Azure/azure-docs-powershell/issues/732 for the initial report.

### Script/Steps for Reproduction

Attempt to run the `Connect-AzureRmAccount` command.

[code]

### Module Version

[code]

### Environment Data

[code]

This test was run on the officially maintained Docker container image

[2018-09-20 00:33] djmoore711 commented on #4476
I know this is a very old thread. I just installed PowerShell Core on my Mac via Brew and when I install the AzureRM module, I also cannot authenticate to Azure.

This is the error I receive:

Login-AzureRmAccount : The term 'Login-AzureRmAccount' is not recognized as the name of a cmdlet, function, script file, or operable program.         Check the spelling of the name, or if a path was included

[2018-09-20 00:43] cormacpayne commented on #4476
@djmoore711 did you install the `AzureRM` or `AzureRM.Netcore` module? The `AzureRM` module is meant for desktop (PowerShell 5 / 5.1) and `AzureRM.Netcore` is meant for .NET Core (PowerShell 6). In the upcoming months we will be releasing an `Az` module that will work on both of these platforms so separate modules won't be needed.

[2018-09-20 01:03] djmoore711 commented on #4476
I installed `AzureRM`, based on some older training modules made in a Windows environment. I just found the documentation on using `AzureRM.Netcore`. I am working on removing `AzureRM` and installing the `AzureRM.Netcore` edition. Thanks for the quick reply!

[2018-09-20 01:31] blueww commented on #7283
@alvipeo
Per https://github.com/Azure/azure-powershell/releases :

To install AzureRM from the PowerShell Gallery, run the following command:
`Install-Module -Name AzureRM -Repository PSGallery -Force`
To update from an older version of AzureRM, run the following command:
`Update-Module -Name AzureRM`

[2018-09-20 07:17] EvgenyAgafonchikov commented on #4972
@ShuheiUda, could you please re-check is there is repro? I cannot repro this on a pair on NICs I have on my subscription.
In case the issue is still reproed, please provide more details on repro steps (e.g. how to create configuration that would have this issues)

[2018-09-20 07:27] msgerneu opened #7309 "set-azurermcontext is not switching context"
### Description

At a specific point of time, the command is not working anymore.
After this, only working solution is:
- closing all PS windows
- complete delete content of C:\Users\gerneu\AppData\Roaming\Windows Azure Powershell
- hope it will work, if not try reboot and repeat these steps

Disabling Context Save with Disable-AzureRmContextAutoSave helps in making the time until it is happening

[2018-09-20 07:29] ShuheiUda commented on #4972
Hi @EvgenyAgafonchikov
This issue looks like already fixed. (I checked with Azure PowerShell 6.5.0)
Please close.

[2018-09-20 08:29] lukeb1961 opened #7310 "VMSS with Public IPs on VMs - howto in PowerShell required"
I have searched high and low for examples on how to create a VM ScaleSet using PowerShell, whereby I can have the VMs with public IPs assigned.

Can do it in ARM.
Can do it via AZ CLI.

can it be done with AzureRM powershell?

[2018-09-20 08:48] madsd commented on #3215
The environments and customers I work with do not have the same amount of trust as @sebbrochet. Did anyone manage to figure out the least privilege approach to creating App Reg and Svc Principal through a VSTS Pipeline?

[2018-09-20 09:03] vinaydam commented on #6783
Do you have any update on this? It's already been 2 months since we raised this issue.

[2018-09-20 12:13] EvgenyAgafonchikov commented on #4972
Thanks for the update. Closing as "no repro".
@markcowl, @maddieclayton, @MikhailTryakhov as FYI

[2018-09-20 12:13] #4972 closed

[2018-09-20 12:30] EvgenyAgafonchikov commented on #4698
+Adding some details on the initial message, i.e.
[code]

This is expected behavior as there is no way to delete the resource A until it is used by another resources. So first you would need to delete or update (remove references) the resource which depends on the resource A. Otherwise there would be invalid references pointing to nowhere.

[2018-09-20 13:32] iyoumans opened #7313 "Login-AzureRmAccount no longer working when updating from Core 6.0.4 to 6.10.0"
### Description
When I updated from PowerShell Core 6.0.4 to 6.1.0, Login-AzureRmAccount stopped working (AzureRM.Profile.Netcore)

### Script/Steps for Reproduction
Error received:

[code]

### Module Version
[code]

### Environment Data
[code]

[2018-09-20 13:53] zacharyhumphrey commented on #4698
@EvgenyAgafonchikov that works for me and was successful! Could you kindly provide the article your referencing in your post?

[2018-09-20 14:53] EvgenyAgafonchikov commented on #4698
Sure. I believe you mean "blog post" I mentioned. It is created by @rwwilden and referred in this comment above: https://github.com/Azure/azure-powershell/issues/4698#issuecomment-364391184
Other PowerShell things are just results of investigation based on the blog post's approach.

[2018-09-20 15:29] zacharyhumphrey commented on #4698
@EvgenyAgafonchikov anyway to get a legit MSDN article? Your outline of the needed commands in powershell was the last piece that I needed assistance being outlined. I do know w/o your post here I would've been stuck. :)

[2018-09-20 16:45] #4698 closed

[2018-09-20 16:58] nachakra commented on #6783
+Hanyun – who added this support .

@Hanyun – is this done and checked in?

Thanks
Nandita

From: vinaydam [mailto:notifications@github.com]
Sent: Thursday, September 20, 2018 2:06 AM
To: Azure/azure-powershell <azure-powershell@noreply.github.com>
Cc: Nandita Chakraborti <Nandita.Chakraborti@microsoft.com>; Assign <assign@noreply.github.com>
Subject: Re: [Azure/azure-powershell] Error "Requested

[2018-09-20 17:01] cormacpayne commented on #7313
@iyoumans would you mind running `Get-Module -ListAvailable`? Also, we are in the process of replacing the `AzureRM.Netcore` module with the `Az` module, which will work on desktop and .NET Core versions of PowerShell, so I would recommend using that module rather than `AzureRM.Netcore` moving forward.

[2018-09-20 17:05] iyoumans commented on #7313
Here you go (currently have 6.0.4 installed so I can work but the module list is the same):

[code]

[2018-09-20 17:09] cormacpayne commented on #7310
@singhkays Hey Kay, do you know if we have this documentation anywhere?

CC: @praries880 @hyonholee

[2018-09-20 17:13] cormacpayne commented on #7309
@msgerneu Hey Gerrit, would you mind updating to the latest version of `AzureRM` and seeing if you're able to reproduce this error? We made some changes to context persistence in the recent versions of `AzureRM.Profile` that should fix the exception that you're seeing.

[2018-09-20 17:15] cormacpayne commented on #7305
@sptramer Hey Stephen, since this is an entirely new module, there will be breaking changes when migrating from `AzureRM` to `Az`; however, we added an `Enable-AzureRmAlias` cmdlet that will create an alias for each of the new `*-Az*` cmdlets to the corresponding `*-AzureRm*` cmdlet, which will mitigate this issue.

[2018-09-20 17:19] singhkays commented on #7310
Sorry I don't work on VMSS. Will make the owners aware of this ask.

[2018-09-20 19:58] KirkMunro commented on #7145
Related to this issue, I was just watching someone try to kick off a bunch of jobs asynchronously, each of which would deploy multiple ARM templates in sequence (one is dependent on another, which is dependent on another) from local files into different Azure subscriptions, and eventually they just threw up their arms in frustration and decided to do the entire task sequentially. The issues here w

[2018-09-20 21:27] nachakra commented on #6783
Hi,

Changes for Standard_Microsoft sku has been checked in.

Thanks,
Hanyun
From: Nandita Chakraborti
Sent: Thursday, September 20, 2018 9:58 AM
To: Azure/azure-powershell <reply@reply.github.com>; Azure/azure-powershell <azure-powershell@noreply.github.com>; Hanyun Tao <Hanyun.Tao@microsoft.com>
Cc: Assign <assign@noreply.github.com>; Azure CDN Engineering Team <cdneng@microsoft.com>
Subject: RE

[2018-09-20 22:08] garrysinghMS opened #7318 "Select-AzureRMContext not working for cmdlet "Get-AzureRmSqlDatabaseBackupLongTermRetentionPolicy""
I have a script that select a subscription from my account and get Resource Group and for each server/database in the RG, it pulls retention policy.

This works fine for whatever subscription context I select first but when I change context to second subscription, all cmdlets works such as "Get-AzureRMResourceGroup", "Get-AzureRMSQLServer" but does not change the context for "Get-AzureRmSqlDatabas

[2018-09-20 22:14] cormacpayne commented on #7318
@jaredmoo @dealaus would you mind taking a look at this issue?

[2018-09-20 22:22] fearthecowboy opened #7319 "Add Required "Common" support to PowerShell and Core PowerShell AzureRM.Profile modules"
@markcowl  gave me the initial implementation for the common authentication for generated powershell modules.

It is getting to the point where I'm going to need that added in the released versions.

(I'll update this with more details shortly)

[2018-09-20 22:48] MikhailTryakhov commented on #4698
@zacharyhumphrey  I'll take a look at the way to create MSDN article or something like that. I'll keep you updated here

[2018-09-20 22:55] afengli opened #7321 "Get-AzureRMVM -ResourceGroupName is not enumerating nextlink"
### Description

command
Get-AzureRMVM -ResourceGroupName XXX

does not try enumerate nextlink when ARM/CRP started paging

At the same time, this command

Get-AzureRMVM | ?{$_.ResourceGroupName -eq "xxx"}

worked just fine, with Azure powershell try to enumerate nextlink.

### Script/Steps for Reproduction

[code]

### Module Version

[code]

### Environment Data

[code]

[code]

missing the 51th

[2018-09-20 23:02] dealaus commented on #7318
@garrysinghMS what version of AzureRM.Sql are you using? We had a client caching issue in the past that would explain this problem. That was fixed with [4.7.0-preview](https://www.powershellgallery.com/packages/AzureRM.Sql/4.7.0-preview)

[2018-09-20 23:56] dealaus commented on #7318
@cormacpayne Interesting. latest AzureRM.Sql in [AzureRm 6.8.1](https://github.com/Azure/azure-powershell/blob/v6.8.1-Auust2018/src/ResourceManager/Sql/Commands.Sql/Database%20Backup/Services/AzureSqlDatabaseBackupCommunicator.cs) does not include the fix for this issue.

My commit is here https://github.com/Azure/azure-powershell/commit/72ece705

[2018-09-21 00:06] jaredmoo commented on #7318
AzureRM.Sql.STR (public preview) branch is not and should not be merged to preview (GA) branch. You should make this commit into preview branch.

[2018-09-21 00:11] dealaus commented on #7318
Yeah, sorry what I meant was merge this commit, aka cherry pick.

[2018-09-21 00:51] MiYanni opened #7323 "Register-AzureRmAutomationDscNode relies on Resources module"
The code is here:
https://github.com/Azure/azure-powershell/blob/9241c6a9efba0628a20201af2ed3c627b237b9c9/src/ResourceManager/Automation/Commands.Automation/Common/AutomationClientDSC.cs#L847-L860

As you can see, this cmdlet is actually trying to run the Resources module to deploy a resource group. This is not allowed in any of our modules. Instead, the code needs to use our internal Resources SD

[2018-09-21 04:44] vinisoto opened #7326 "Add tests for New-AzureRmWebAppContainerPSSession"
### Description

Add tests for New-AzureRmWebAppContainerPSSession

[2018-09-21 05:27] vinaydam commented on #6783
@nachakra @hanyun We are still seeing the issue. Can you please check once again?

[2018-09-21 10:39] MiYanni opened #7327 "Consolidate XUnit test traits"
- Determine a consistent set of traits to use for all modules/tests
  - Keep in mind there are a lot of custom traits among certain RPs. This makes it difficult to filter/execute these tests appropriately in VS since VS can only filter by a single trait at a time; not a combination of them.
  - Having a single-trait-per-test design would be fantastic, but may not be feasible.
- Replace/update/remo

[2018-09-21 11:57] gursin opened #7329 "Unable to update custom headers and Expected Status code range"
Describe the bug
I am trying to change the custom headers and expected status code range for the monitoring setting for my ATM through azure cloud shell and i get the following error:
Set-AzureRmTrafficManagerProfile : Endpoint name '' is invalid. Endpoint names cannot be empty or all whitespace, and must be up to 260 alphanumeric characters long. The type '' specified for endpoint '' is invalid.

[2018-09-21 12:09] EvgenyAgafonchikov commented on #4714
Hi @Nilambari, I'm getting empty output for some gateways and non-empty for other. Could you please share what parameters gateway need to have to produce non-empty output? Let's check could this be expected behavior?

[2018-09-21 14:16] blueelvis opened #7330 "Add ability to run scripts from remote HTTP sources in Invoke-AzureRmVMRunCommand"
### Description

Right now, the `ScriptPath` parameter of this commandlet expects a Filesystem path only. As in, if I pass a Blob Storage URL with SAS token, it doesn't give out any output. When launched with `Debug` switch, I get the following.

This commandlet would be a much nicer alternative to a "Custom Script Extension" which differs for both Windows & Linux. Even in this case, the CommandID

[2018-09-21 14:22] blueelvis opened #7331 "Add documentation about possible values of CommandId for Invoke-AzureRmVMRunCommand"
### Description
The documentation should be updated for the `CommandId` for `Invoke-AzureRmVmRunCommand`. I know we can note down the available `CommandId`(s) from the Azure Portal but this should be in the documentation as well. These differ for both Windows & Linux.

Documentation Link -- https://docs.microsoft.com/en-us/powershell/module/azurerm.compute/invoke-azurermvmruncommand?view=azurermps

[2018-09-21 14:33] kb321 commented on #7110
Did not work for me. Unable to quickly import and toggle through saved credentials as of latest update. Tried above fix.

[2018-09-21 15:09] garrysinghMS commented on #7318
Sorry I seems to have deleted your comment by mistake. So the AzureRM.SQL version I am using is as follows.
I believe this is the latest.

CommandType     Name                                               Version    Source
-----------     ----                                               -------    ------
Cmdlet          Get-AzureRmSqlDatabaseBackupLongTermRetentionPo... 4.11.3     AzureRM.Sql

[2018-09-21 15:37] cormacpayne commented on #7331
@koralski @hyonholee @nibhat @savyasachisamal would you mind taking a look at this issue?

[2018-09-21 15:38] cormacpayne commented on #7330
@koralski @hyonholee @nibhat @savyasachisamal would you mind taking a look at this issue?

[2018-09-21 15:46] cormacpayne commented on #7329
@gursin would you mind providing the versions of the `AzureRM` modules you have on your machine? You can do so by running `Get-Module -Name AzureRM* -ListAvailable`

[2018-09-21 15:57] dealaus commented on #7318
@garrysinghMS ok, I have a PR out, but if you'd like an immediate temporary fix you can install 4.7.0-preview which won't have this issue.

[2018-09-21 16:03] RussellMaycock commented on #7293
Hi,
Thanks for taking a look. Is there any update available?

Many Thanks
Russell

[2018-09-21 16:08] garrysinghMS commented on #7318
Thanks Austin, let me test out (4.7.0-Preview) and update you.

[2018-09-21 16:52] mkusmiy commented on #6202
After upgrading AzureRM from v5.7.0 to v6.8.1 we ran into this very problem with Azure File copy task in our TFS. Issue can be fixing by merging following line in the very same file from v2 of the task:
$azureStorageAccountResourceDetails = (Get-AzureRMResource -ErrorAction Stop) | Where-Object { ($_.ResourceType -eq $ARMStorageAccountResourceType) -and ($_.Name -eq $storageAccountName)}
https://g

[2018-09-21 17:46] gursin87 commented on #7329
@cormacpayne  : Apologies. But i am running this from the Azure Cloud Shell from the azure portal. Running this on the cloud shell doesn't list any modules.

![image](https://user-images.githubusercontent.com/18685917/45897298-5e814480-bdf4-11e8-899c-18926a33dc0d.png)

[2018-09-21 18:17] cormacpayne commented on #7329
@gursin ah, got it. Cloud Shell has the `Az` modules installed, so you would have to change `AzureRM*` to `Az*` if you wanted to list the modules on there, but it's currently shipping with version 0.1.0. Let me loop in the contacts we have for Traffic Manager to take a look.

[2018-09-21 19:19] garrysinghMS commented on #7318
I was able to use 4.7.0-preview as a workaround. Looking forward to the permanent fix on this issue.
Thanks again Austin.

[2018-09-21 19:43] #7318 closed

[2018-09-21 19:52] cormacpayne commented on #7205
This has been fixed.

[2018-09-21 19:52] #7205 closed

[2018-09-21 20:35] maddieclayton commented on #6941
@wsmelton Apologies for the long wait, got wrapped up in Ignite related tasks.  I have a proposed fix for this here: https://github.com/Azure/azure-powershell/pull/7332.  Instead of just checking if the exact default parameter value exists, I am now checking to see if there are any default parameter values that would possibly conflict with the one about to be set.  I need to do some additional tes

[2018-09-22 17:49] jrgithub commented on #6833
Is there an expected ETA to address the issue with

[2018-09-22 17:57] jrgithub commented on #6833
There still seems to be an issue with getting diagnostics settings for Azure Storage, Azure Application Gateway, Network Security Groups when running AzureRM 6.8.1 and Azurerm.Insights 5.1.3 (no conflicting module versions as far as I can tell). Key Vault and Azure Service Bus are working properly.

Please advise (output when running against Azure Storage and Azure Application Gateway respectively

[2018-09-24 03:41] markcowl opened #7338 "Breaking Change checks for common modules"
### Description
- [ ] Add automation to the CI Process for azure-powershell-common to check for breaking changes in any proposed changes to the following packages:
  - [ ] Microsoft.Azure.PowerShell.Aks
 - [ ] Microsoft.Azure.PowerShell.Authentication.Abstractions
 - [ ] Microsoft.Azure.PowerShell.Authorization
 - [ ] Microsoft.Azure.PowerShell.Common
 - [ ] Microsoft.Azure.PowerShell.Compute
 - [

[2018-09-24 03:44] markcowl opened #7339 "Move some Common modules into PowerShell repo"
### Description
Move:
 - [x] Microsoft.Azure.PowerShell.Authentication
 - [x] Microsoft.Azure.PowerShell.Authentication.ResourceManager

Into the powershell repository.  Validate whether moving
 - [x] Microsoft.Azure.PowerShell.ScenarioTest

into the powershell repository is feasible

### Cost: 4

[2018-09-24 03:47] markcowl opened #7340 "Refactor Telemetry to take data from code in powershell repo"
### Description

The powershell version from telemetry comes from the common module.  Slightly refactor telemetry metadata to override values in code in the powershell repo.

Look at telemetry metadata to determine which other data (if any) should be determined by code in the powershell repo rather than common repo.

### Cost: 4

[2018-09-24 03:51] markcowl opened #7341 "Move test coverage for common code into powershell-common repo"
### Description

- [ ] Move any common code unit tests (esp. in profile) from powershell to powershell-common repo

[2018-09-24 03:55] markcowl opened #7342 "Add runtime checks for AzureRM module installation in Az"
### Description

- [x] Write fast runtime checks for AzureRM installation on Az load
- [ ] ~~Write troubleshooting guide for Az migration, including steps to replace AzureRm with Az~~
- [ ] ~~Add aka link for this document~~
- [x] Add link to migration guide, and cmdlet to remove AzureRM
- [x] Provide good error message and reference to aka link if AzureRm is detected when Az is loading

### Cost:

[2018-09-24 03:57] markcowl opened #7343 "Check Az side-by-side execution with Azure"
### Description

- [x] Verify whether Az can be executed side-by-side with Azure module
- [x] If not add runtime checks to Az similar to the checks for AzureRM installation
- [ ] Document what changes would be necessary if the AzureRM.Profile dependency is removed from Azure

### Cost: 2

[2018-09-24 04:04] markcowl opened #7344 "Republish Management libraries using Newtonsoft.Json 10 in NetStandard"
### Description
- [x] Create .NetSDK runtime and test libraries using Newtonsoft.Json 10 in NetStandard
  - [x] Create branch with current runtime test libraries, just using 10.0.3 as lowest Newtonsoft version in netstandard
  - [x] Create private signed librareis for each and publish to yGet gallery
- [x] Gather current set of management libraries used in azure-powershell
- [x]  For each library

[2018-09-24 04:07] markcowl opened #7345 "Drive moving signing jobs to ADO (VSTS) signing process"
### Description

- [ ] Determine necessary permissions for team members to sign bits using ADO process
- [ ] Drive process for team to get appropriate accouts / permissions
- [ ] Convert all sign processes to ADO as ready
- [ ] Prototype sign process to use ADO

### Cost: 4

[2018-09-24 04:10] markcowl opened #7346 "Set up automatic alias updates for AzureRM -> Az"
### Description
- [x] Automate creation of AzureRM aliases for Az
- [ ] Add ci failures for invalid aliases and process for debugging fixing
- [ ] Document any additional developer steps

### Cost: 2

[2018-09-24 04:12] markcowl opened #7347 "Drive conceptual and migration document updates for Az"
Placeholder

[2018-09-24 04:15] markcowl opened #7348 "Drive migration process for AzureRm.Netcore -> Az"
### Description
Placeholder, including

- [x] Metadata updates to gallery
- [x] Articles / partner communciations about the deprecation / migration
- [x] Updates to Readme, netcore / cloudshell docs / docker images

### Cost: 8

[2018-09-24 04:18] markcowl opened #7349 "Update net472 test build to not duplicate assembly references"
### Description
- [ ] Update build of net472 test packages to not require deplicated dependencies
  - [ ] Could take management dependencies from targets file, and condition on project-specific properties

### Cost: 2

[2018-09-24 04:23] markcowl opened #7351 "VS Extension for new PowerShell netcore project"
Create a VISIX or similar template developers can use to create a new PowerSehll module and tests

[2018-09-24 06:16] nciacrklo commented on #7110
Update: Sadly, reusing the saved context via _Import_ and then _Save_ still gives out errors. In order to renew it I had to manually login and save it again, as a worked around we decided to use cred manager and just call it for automation purposes.

[2018-09-24 07:54] jtorresc commented on #4801
The problem continues, even with the PowerShell version v6.1.0 and AzureRM.Netcore 0.13.1. No one has solved it?

Thanks...

[2018-09-24 15:03] Mahalaxmi1994 opened #7354 "Invoke-AzureRmVMRunCommand returns empty output"
I am trying to run Invoke-AzureRmVMRunCommand PowerShell command to get the status of a service running in a Linux VM.  Below is the command I used.

Invoke-AzureRmVMRunCommand -ResourceGroupName xxxxx -Name xxxxx  -CommandId 'RunShellScript' -ScriptPath 'C:\Users\xxxx\Desktop\sample.sh'

Note: In the sample.sh file I have a command as “systemctl status dnsmasq”

This is not displaying any output

[2018-09-24 15:29] etfong commented on #7110
This works for me on build 6.8.1

[2018-09-24 16:17] markcowl commented on #6302
actually closing, this was fixed in #6720

[2018-09-24 16:17] #6302 closed

[2018-09-24 16:18] markcowl commented on #7354
@Mahalaxmi1994 Can you please try with the latest version?  This was fixed in #6720 and should be available in the versio9n released this morning.

Please re-open if you are still seeing this issue.

[2018-09-24 16:20] markcowl opened #7356 "Az : Graceful error if correct PS / .Net version not available"
### Description

Ensure that a graceful error message is printed when the hosting environment on desktop does not meet the requirements of the module

- [ ] Insufficient version of .Net (4.7.2)
- [ ] Insufficient version of PowerShell (-ge 5.1)
- [ ] Azure/AzureRm modules loaded in the session

### Cost: 4

[2018-09-24 16:22] markcowl opened #7357 "AzureRM: Graceful error if Az is detected"
### Description
- [x] Add runtime code to AzureRM.Profile to fail to load with a graceful error if any Az module is found in the loaded modules
- [x] Point to the migration document in the graceful error

### Cost: 2

[2018-09-24 16:37] markcowl commented on #7274
Fixed

[2018-09-24 16:37] #7274 closed

[2018-09-24 16:39] markcowl commented on #5667
Closing

[2018-09-24 16:39] #5667 closed

[2018-09-24 16:40] markcowl commented on #6743
Fixed

[2018-09-24 16:40] #6743 closed

[2018-09-24 16:52] markcowl opened #7358 "[Placeholder]: Implement interactive user credential login in Az"
### Description

Work with cli team to design interactive experience for user login with device auth with fallback to current device auth browser experience

- [ ] Write up / prototype design of new functionality
- [ ] Fil;e issues for implementation

### Cost: 8

[2018-09-24 16:57] markcowl opened #7359 "Fix assembly dependency checks in Az"
### Description

Assembly dependency checking does not catch missing dependenct assemblies in Az

For example: Microsoft.WIndowsAzure.Storage, Microsoft.WindowsAzure.Storage.DataMovement were both not caught as dependencies, even though they are used in storage cmdlets.

This could largely be because we clean up assembly dependencies in the sign build, but not before running the dependency analyze

[2018-09-24 17:02] markcowl opened #7360 "Fix multi-tenant login subscription list in CloudSHell"
### Description

CloudShell uses a special implementation of MSI credentials, which have permissions across multiple tenants.  Unfortunatey, the MSI endpoint does not allow listing getting tokens for multiple tenants.  WHen listing subscriptions, this causes the subscriptions in the current tenant to be listed multiple times.

- [ ] Skip listing subscriptions for each tenant in MSI - list subscrip

[2018-09-24 17:33] markcowl opened #7361 "Document Release Procedure for Az"
### Description

Document Az release as part of end-of-release activities

### Cost: 2

[2018-09-24 17:43] markcowl opened #7362 "Placeholder: Stack Release for Az"
### Description

Do we need to have stack bits available for netcore soon after Az goes 1.0, or can we defer until BUILD, when we can have generated cmdlets?

[2018-09-24 17:52] Ahwleung commented on #7102
Confirmed this is working now.  Thanks for the fix!

[2018-09-24 17:52] #7102 closed

[2018-09-24 18:11] markcowl opened #7364 "Update NetCore conversion tool for new Az modules"
### Description
Update project conversion tool for AzureRM -> Az to include latest build changes

### Cost: 4

[2018-09-24 18:47] Mahalaxmi1994 commented on #7354
Thanks Mark !! I downloaded the latest Azure RM Modules and it's working. I could see the output.

[2018-09-24 19:44] jsnikhil opened #7367 "Missing aliases for AzureRM.DataFactoryV2 in Az module"
### Description

I have installed PowerShell v6.1.0 on MacOSX and the Az module 0.2.2. However there is no equivalent of the AzureRM.DataFactoryV2 module in the Az module. Is this something in the works or not supported? Is there any other way to get it?

### Module Version

[code]

### Environment Data

[code]

[2018-09-24 20:01] maddieclayton commented on #7367
@jsnikhil To enable aliases to the old "AzureRM" cmdlet names, please run "Enable-AzureRmAlias".  You can scope this using the -Scope parameter (Process, CurrentUser, LocalMachine), and you can select certain modules using the -Module parameter.  Please let me know if you have any issues running this cmdlet.

[2018-09-24 22:48] sptramer opened #7370 "Run Enable-AzureRmAlias as part of Docker builds"
In order to get the correct AzureRM command backwards compatibility and so people do not need to rewrite their scripts (at least now), running the `Enable-AzureRmAlias` cmdlet should be part of the Docker build process if it isn't already. See also #7305.

[2018-09-24 23:12] maddieclayton commented on #6941
Fixed! Will be released 10/9

[2018-09-24 23:12] #6941 closed

[2018-09-25 00:06] MiYanni opened #7372 "Allow net452/netstandard2.0 obj side-by-side"
Basically, take the obj structuring from azure-powershell-common and use it in azure-powershell for all projects.

[2018-09-25 00:30] ChristopherGLewis opened #7373 "Get-AzureRMAD* and GetAzureAD* commands have different parameters"
### Description

Why don't the Get-AzureRMAD* (get-azurermaduser et al.) commands don't support the same parameters as the Get-AzureAD* commands?
I'm specifically trying to port a -Filter parameter (Specifies an oData v3.0 filter statement) and am surprised this functionality didn't get ported.
The basic search functionality offered in Get-AzureRMAD* is pretty slim.

### Module Version
latest Azur

[2018-09-25 00:45] jsnikhil commented on #7367
Thanks for the reply @maddieclayton.

Tried this
[code]
However I am getting this error while executing one of the cmdlet
[code]

[2018-09-25 00:58] maddieclayton commented on #7367
Just reread your module output above and checked with the team - turns out there an issue with one of the libraries that DataFactories/DataFactoryV2 uses in the NetStandard build, so they are not available in NetStandard rollup module yet.  They will hopefully be added soon - likely within the next month.  For the moment, you will need to use the Desktop "AzureRM.DataFactoryV2" module.

The releva

[2018-09-25 00:59] maddieclayton commented on #7367
Closing as we have a duplicate issue with more details.

[2018-09-25 00:59] #7367 closed

[2018-09-25 01:08] maddieclayton commented on #6755
Find-Module -Name AzureRM.* -Repository PSGallery | Where-Object {$_.Name -notlike "*Netcore*"} |
Where-Object {$_.Author -eq "Microsoft Corporation"} | ForEach-Object {Find-Module -Name $_.Name -Repository PSGallery -
AllVersions -AllowPrerelease} | Where-Object {$_.Version -like "*preview"}

Version              Name                                Repository           Description
-------

[2018-09-25 01:23] MiYanni opened #7374 "Rename Az module assemblies"
Let's do either:
[code]
or:
[code]

[2018-09-25 01:27] jrgithub opened #7375 "App Service - Web Site Netframeworkversion property inaccurately reported"
Hi,

### Description

When running the following the netFrameworkVersion property is being reported as v4.0 (also appears inaccurate when browsing via Resource Explorer so assuming Powershell is relying on the same) even though it is set properly to a higher version on the Azure Portal (Powershell script and output below where the version on Azure Portal has been set via App Service - Application

[2018-09-25 08:18] sepharg commented on #6202
thanks @mkusmiy
We recently updated to TFS 2018 and I've also had to apply your change, since azure file copy started to fail once again
It'd be great if someone from Microsoft can acknowledge this issue and create a permanent fix, because the error keeps coming back to haunt us

[2018-09-25 08:19] sepharg commented on #6202
it's not really resolved

[2018-09-25 09:16] feynman11 commented on #6202
We are having the same issue ##[error]Storage account: XXXXXXX not found.

[2018-09-25 16:08] cormacpayne commented on #7375
@jrgithub would you mind setting `$DebugPreference = "Continue"` and running the above command again? This will give us the debug output with the request and response from the API call.

[2018-09-25 17:17] cormacpayne commented on #7151
Both issues mentioned above have been fixed.

[2018-09-25 17:17] #7151 closed

[2018-09-25 17:51] MiYanni commented on #6755
Modified it to get only the latest preview version of each:

[code]

[2018-09-25 18:03] #7346 closed

[2018-09-25 18:03] maddieclayton commented on #7346
done

[2018-09-25 20:48] Mahalaxmi1994 commented on #7354
Hi,
This is working in Powershell, but not in Powershell Workflow. Still, the same issue raises while running this command in workflows.

[2018-09-25 20:49] Mahalaxmi1994 opened #7381 "@Mahalaxmi1994 Can you please try with the latest version? This was fixed in #6720 and should be available in the versio9n released this morning."
Please re-open if you are still seeing this issue.

_Originally posted by @markcowl in https://github.com/Azure/azure-powershell/issues/7354#issuecomment-424034455_

[2018-09-25 20:49] Mahalaxmi1994 commented on #7354
Hi,
This is working in Powershell, but not in Powershell Workflow. Still, the same issue raises while running this command in workflows.

[2018-09-25 21:03] cormacpayne commented on #7381
Closing in favor of https://github.com/Azure/azure-powershell/issues/7354

[2018-09-25 21:03] #7381 closed

[2018-09-25 21:36] cormacpayne commented on #2757
@rachelgshaffer would you mind running the following two commands and returning the results?

- `Get-Module -ListAvailable`
- `Install-Module -Name AzureRM -Repository PSGallery`

[2018-09-25 21:38] cormacpayne commented on #7305
Updated title to reflect the work we're tracking with docs

[2018-09-25 21:41] cormacpayne commented on #7321
@huangpf @hyonholee is this issue resolved with PR https://github.com/Azure/azure-powershell/pull/7365?

[2018-09-25 21:43] cormacpayne commented on #7354
@Mahalaxmi1994 can you verify the version of `AzureRM` that is being used by PowerShell Workflow? You can do this by running `Get-Module -Name AzureRM* -ListAvailable`

[2018-09-25 21:55] cormacpayne commented on #7364
Closing as we decided against this.

[2018-09-25 21:55] #7364 closed

[2018-09-25 22:47] MiYanni commented on #7345
## Notes
- VSTS build definitions require approval, so it isn't based on direct user permissions. It is based on who has access to modify/run build definitions.

[2018-09-26 01:47] sptramer commented on #7305
Title seems more appropriate since I double-checked, it looks like Connect-AzureRmAccount is included in the aliases. I have no idea why it wasn't loading/running correctly in the Docker container. Possibly related to #7370.

This issue can either be kept open or migrated back to azure-docs-powershell.

[2018-09-26 01:47] Leon99 commented on #3679
@makhdumi what do you mean? I can certainly set different hosts for different slots of one web app. In fact, the post linked from the OP shows a workaround for it.

[2018-09-26 01:58] brendan-sherrin commented on #1543
Workaround by @EmmaZhu works, however it's 2018 and still occuring for me (Azure module 5.3.0 & AzureRM module 6.8.1 ...

[2018-09-26 04:51] darshanhs90 commented on #7373
@RBACAsk

[2018-09-26 07:49] RussellMaycock commented on #7293
Hi @cormacpayne, @gucalder,
Would it be possible to get an update on how to get it to work, please?
Thanks
Russell

[2018-09-26 09:54] LRSFC-DanJ opened #7389 ""Offer id MS-AZR-0017P is not supported" error from Get-AzureRMBillingInvoice"
### Description

When attempting to get a list of Azure billing invoices using Get-AzureRmBillingInvoice, I receive an error as follows:

"WARNING: Offer id MS-AZR-0017P is not supported."

### Script/Steps for Reproduction

I connect to AzureRM on our Azure tenant using Connect-AzureRmAccount and a previously created PSCredential object which contains the credentials for our tenant administrator

[2018-09-26 11:28] blueelvis commented on #6833
The latest Azure RM 6.9.1 fixes this issue!

[2018-09-26 11:29] blueelvis commented on #7132
@maddieclayton @gucalder - This issue is fixed in the latest `6.9.1` Azure RM PowerShell release. Related bug -- https://github.com/Azure/azure-powershell/issues/6833

Closing this issue.

[2018-09-26 11:29] #7132 closed

[2018-09-26 11:36] GenesisCoast commented on #7129
@maddieclayton @vrdmr Has there been any update? Is there anything I can do to help?

[2018-09-26 12:30] blueelvis commented on #6833
@DirkBrinkmann - Yea. I just upgraded my Azure PowerShell from `6.8.1` to the newer version and the commandlet started working. You can download the latest release which I have over [here](https://github.com/Azure/azure-powershell/releases/tag/v6.9.0-September2018). I had opened [another issue](https://github.com/Azure/azure-powershell/issues/7132) as well when I didn't know about this issue over

[2018-09-26 13:02] DirkBrinkmann commented on #6833
@blueelvis : 6.9.0 means 5.1.4 Insights module. The Cmdlet in this module does not work IMHO
![image](https://user-images.githubusercontent.com/19854016/46081566-1ae45d00-c19d-11e8-9be5-fe688a2837b7.png)

[2018-09-26 13:55] LRSFC-DanJ commented on #7389
The issue also occurs if I just use ```Connect-AzureRmAccount``` by itself and use an interactive login, then try to do ```Get-AzureRmBillingInvoice```.

[2018-09-26 14:18] Mahalaxmi1994 commented on #7354
I am using AzureRM module version 6.9.0

[2018-09-26 14:38] EvgenyAgafonchikov commented on #4989
@cormacpayne, AFAIK this was fixed in [documentation](https://docs.microsoft.com/en-us/azure/network-watcher/network-watcher-nsg-flow-logging-overview), could we close it?
@irrogozh, @junyezhu FYI

[2018-09-26 14:41] Mahalaxmi1994 commented on #7354
@cormacpayne And I used inlinescript also in the workflow to run the invoke command but no luck.

[2018-09-26 15:56] cormacpayne commented on #7389
@wilcobmsft would you mind taking a look at this issue?

[2018-09-26 17:01] blueelvis commented on #6833
@DirkBrinkmann - It is working fine for me.
1. Notice that the diagnostics are turned off.
![image](https://user-images.githubusercontent.com/6985763/46095636-a6c8aa00-c1da-11e8-9ab2-42771f0b9b35.png)
2. I run the following code -
[code]
3. Portal shows the configuration is complete -
![image](https://user-images.githubusercontent.com/6985763/46095914-60277f80-c1db-11e8-9b29-19aa80796450.png)

4.

[2018-09-26 18:05] MaximoTrinidad opened #7392 "AzureRM.Netcore including apparent wrong naming modules (?)"
### Description

Check image posted.  Installation of AzureRM.Netcore is including two Azure.* modules:

Azure.AnalysisServices.Netcore
Azure.Storage.Netcore

I'm not sure is they belong there or it was named wrong.

:)
![azureorazurerm_2018-09-26_13-57-27](https://user-images.githubusercontent.com/19892435/46099503-f1bfce80-c194-11e8-9184-cb778c98f0b1.jpg)

### Script/Steps for Reproduction

Afte

[2018-09-26 19:27] DirkBrinkmann commented on #6833
@blueelvis : Strange. I have the same module versions and have tested it with KeyVault and SQL DB. Cmdlet completed succesfully, but no settings were written… It seems, that it does not work with all Resource Types… BTW: Have you tried specifying a name for the setting, so that the cmdlet does not use "service" as the default?

[2018-09-26 20:21] cormacpayne commented on #7392
@MaximoTrinidad Hey Maximo, those modules include data plane cmdlets for the respective service, so they won't leverage the management SDK that you find the cmdlets use in the `AzureRM.*.Netcore` modules. In the new [`Az`](https://www.powershellgallery.com/packages/Az) module, we consolidated these modules into one (_i.e._, `Az.AnalysisServices` and `Az.Storage`), so hopefully this will resolve th

[2018-09-26 20:21] #7392 closed

[2018-09-26 20:46] CHDAFNI-MSFT opened #7397 "Set-AzureRMRouteTable - Missing 'DisableBgpRoutePropagation' parameter"
AzureRM.network 6.8.0

The ability to set the 'DisableBgpRoutePropagation' is missing from the 'Set-AzureRMRouteTable' cmdlet. The parameter exists with the New-AzureRMRouteTable cmdlet.
You are allowed to change this setting via Portal therefore it is a setting that can be figured post deployment.
See schema reference: https://docs.microsoft.com/en-us/azure/templates/microsoft.network/routetables

[2018-09-26 21:12] MiYanni commented on #7375
@cormacpayne Wasn't something like this discussed in that big TLS thread?

[2018-09-26 23:20] EricBourland opened #7400 "Get-AzureRmContext : Could not load file or assembly 'System.Net.Http, Version=4.1.1.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a' or one of its dependencies. The system cannot find the file specified."
### Description

Running Get-AzureRmContext in the same working directory as Microsoft.Rest.ClientRuntime.dll throws an error:

Get-AzureRmContext : Could not load file or assembly 'System.Net.Http, Version=4.1.1.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a' or one of its dependencies. The system cannot find the file specified.

### Script/Steps for Reproduction
cd into a directory containi

[2018-09-27 00:32] jkwon2013 opened #7402 "Unable to 'get-azurermresource' nested resources"
### Description

I'm trying to get the list of nested resources ('labs') under the Azure resource called lab account. PowerShell is returning null, even though I can see in Azure Lab Services that the resources exist.
I tried to get nested resources under a lab in DevTest Labs, and I'm unable to see them there either.
This issue started occurring when I updated to the latest version of Azure Power

[2018-09-27 07:57] aatif912 commented on #7129
Facing the same issue. Waiting for some update.

[2018-09-27 12:36] MaximoTrinidad commented on #7392
Thanks @cormacpayne!

I know this will keep changing and it's getting better.  I'll keep an eye on the updates!

:)

[2018-09-27 13:45] tobias-geiser opened #7406 "Add-AzureRmVirtualNetworkPeering "The object reference was not set to an object instance.""
### Description

Add-AzureRmVirtualNetworkPeering does not work and gives an error. The object reference was not set to an object instance.

### Script/Steps for Reproduction

[code]

### Module Version

[code]

### Environment Data
[code]

### Debug Output

[code]

[2018-09-27 15:40] cormacpayne commented on #7397
@neaggarwMS would you mind taking a look at this issue?

CC: @MikhailTryakhov

[2018-09-27 15:57] cormacpayne commented on #7406
@avijitgupta @chandrasekarsrinivasan would you mind taking a look at this issue?

[2018-09-27 16:08] cormacpayne commented on #7400
@EricBourland would you mind providing the full list of `AzureRM` modules you have installed on your machine? You can get this information by running `Get-Module -Name AzureRM* -ListAvailable`

[2018-09-27 17:51] maddieclayton commented on #6949
Fixed

[2018-09-27 17:51] #6949 closed

[2018-09-27 18:58] amjad commented on #4983
@asheniam Is there an update on this?

[2018-09-27 20:47] neaggarwMS commented on #7397
@CHDAFNI-MSFT Set-* calls accepts the resource as a parameter. If the resource object has any changes then those will be updated. Similarly Set-AzureRMRouteTable accepts RouteTable resource as a parameter. If you update RouteTable.DisableBgpRoutePropagation and pass this RouteTable to Set-AzureRMRouteTable, then it should have a updated DisableBgpRoutePropagation  value.

[2018-09-27 21:29] corydwood commented on #6300
I worked around this issue by replacing
[code]
with
[code]
though it would be nice to get the pipeline fixed since it was working in a previous version. It's still broken in version 6.9.0.

[2018-09-27 22:44] cormacpayne commented on #7361
The release document in the private repository has been updated with information regarding `Az`

[2018-09-27 22:44] #7361 closed

[2018-09-27 23:12] wpbrown opened #7413 "Get-AzureRmCdnEdgeNodes Results Missing Attributes"
### Description

The PSEdgeNode class only provides the IpAddressGroups attribute from the REST API [EdgeNode](https://docs.microsoft.com/en-us/rest/api/cdn/edgenodes/list#edgenode) object. Without the Name or ID attribute there is no way to distinguish what CDN SKU the PSEdgeNode is.

### Script/Steps for Reproduction

[code]

### Module Version

See latest source: [PSEdgeNode.cs](https://github.

[2018-09-28 04:46] ravensorb commented on #1978
There needs to be a better option for this.  It seems I cannot even create a new VM and then attach the new disk to the old VM configuration.  The result is I need to reconfigure everything.  This is VERY frustrating and is a pretty serious loss in terms of time/effort.

[2018-09-28 04:48] ravensorb commented on #1978
Hard part is -- you need to reconfigure things like network segments, public IP addresses, etc.  Large hassle if you ask me all caused by a VERY POORLY designed user experience

[2018-09-28 12:16] quartelh commented on #4938
The factor 16 in the MaxSizeInMegabytes property valueis very confusing, and not really functional.

I specify a queue with partitioning with 1024 MB max size (using -MaxSizeInMegabytes 1024), the resulting object shows the 16 fold value in MaxSizeInMegabytes.  That is not what I provided.

[2018-09-28 14:26] lstyles opened #7416 "Set-AzureRmVMChefExtension BootstrapOptions not working"
### Description

Set-AzureRmVMChefExtension - Data provided in -BootstrapOption parameter is not serialized correctly.
The cmdlet runs and finishes correctly, but the generated 0.settings file contains incorrect value for "bootstrap_options" key.

Current (incorrect):
"publicSettings": {"bootstrap_options":"{'chef_node_name':'dksapi01as-02','environment':'development'}"

Expected (correct):
"publi

[2018-09-28 15:25] JillRebecca opened #7417 "Linux Powershell Login issues"
### Description

I am trying to log into my Azure account from Linux and receive an error message.
Note that this previously worked but has now stopped working.

### Script/Steps for Reproduction

From Linux environment, Launch Powershell
Run Connect-AzureRmAccount
Open a browser (this is done in Windows), enter the code to authenticate, select the correct account to log in, receive a message "You

[2018-09-28 16:13] Am018 commented on #7354
I am seeing same issue while running a simple command like 'ipconfig'. Its not showing anything in output.

[2018-09-28 16:41] cormacpayne commented on #7417
@JillRebecca would you mind uninstalling the `AzureRM.Netcore` modules and install the new `Az` module? This is the .NET Standard module that we recommend using moving forward. Would you mind installing this module and verifying that the same behavior occurs?

[2018-09-28 17:08] cormacpayne commented on #7416
@hyonholee would you mind taking a look?

[2018-09-28 17:12] cormacpayne commented on #7413
@hytao do you know who would be the proper contact from Cdn to take a look at this issue?

[2018-09-29 00:02] MiYanni opened #7428 "Common: Fix symbol package publish process"
Right now, the symbols packages are uploaded, but not correctly to MyGet. Update the process to use the MyGet symbols feed correctly.

[2018-09-29 15:35] slavizh opened #7430 "Connect-AzureRmAccount with user credential login does not work in Az 0.2.2"
### Description

Connect-AzureRmAccount does not work in Az 0.2.2 with credentials specified. It asks for ServicePrincipal which is not correct as I use user credentials.

### Script/Steps for Reproduction

[code]

### Module Version

[code]

### Environment Data

[code]

### Debug Output

Debug cannot be run as the cmdlet does not allows you to start.

[code]

[2018-09-29 15:56] stuartpreston commented on #7416
@hyonholee @cormacpayne I've also asked our engineering team if we know of the correct workaround here as I feel we must have encountered it before, please let us know how we can support.

[2018-09-29 19:16] mosharafMS opened #7431 "New-AzVirtualNetworkSubnetConfig doesn't have parameter for virtualNetwork"
### Description

In the new Az module, the cmdlet New-AzVirtualNetworkSubnetConfig doesn't have parameter called -VirtualNetwork to bind the VirtualNetwork to submit

### Script/Steps for Reproduction

[code]

### Module Version

[code]

### Environment Data

[code]

### Debug Output

[code]

[2018-09-30 02:01] CHDAFNI-MSFT commented on #7397
@neaggarwMS ahh I understand now. This behavior (of just changing the object's attribute) is a bit different from most of the AzureRM cmdlets. The norm (from my perspective) is for a parameter (or separate cmdlet) to exist for configurable items. Is it possible to add 'DisableBGPRoutePropagation' as a boolean parameter? I'd imagine this confusion would be common as most Azure cmdlet ensure all not

[2018-09-30 17:51] pshahid786 commented on #6202
Hi,
If you have vats build agent installed in your own server than u have to update azure powercli, and also update vsts agent. Once its all updated, restart your agent and server. Make sure you are using latest version in you azcopy, and azure download vsts build tasks.  This should resolve the issue.

Shahid Patel

[2018-10-01 00:53] alexandair commented on #7431
@mosharafMS What previous version of the New-AzureRMVirtualNetworkSubnetConfig has had the VirtualNetwork parameter?

[2018-10-01 00:59] alexandair opened #7432 "[Az] Metadata in the Az module manifest file is not correct"
In Az.psd1 file:
`# Module manifest for module 'PSGet_Az'`
Why **PSGet-Az**?

In Az.psm1:
`# Module manifest for module 'Az' `
.psm1 is not a module manifest file.

[2018-10-01 01:03] alexandair opened #7433 "[Az] Rebranding happened a years ago, Connect-AzAccount still lands on Windows Azure page"
A picture is worth a thousand words. Two pictures even more. :)

<img width="290" alt="windowsazurepowershell" src="https://user-images.githubusercontent.com/3135708/46265382-f9180c80-c4f3-11e8-8934-702804a4161a.png">
<img width="291" alt="windowsazurepowershell2" src="https://user-images.githubusercontent.com/3135708/46265383-f9180c80-c4f3-11e8-9445-d2b75c854093.png">

[2018-10-01 01:33] EricBourland commented on #7400
ModuleType Version    Name
---------- -------    ----
Script     6.3.0      AzureRM
Script     0.6.8      AzureRM.AnalysisServices
Script     6.1.0      AzureRM.ApiManagement
Script     0.1.4      AzureRM.ApplicationInsights
Script     5.0.0      AzureRM.Automation
Script     4.0.5      AzureRM.Backup
Script     4.1.0      AzureRM.Batch
Script     0.14.2     AzureRM.Billing
Script     5.0.0      A

[2018-10-01 02:30] phillipsj commented on #7417
I have confirmed that the Az module on Linux works and does not produce this error.

[2018-10-01 02:59] hatted commented on #7406
I am not sure if this is the same issue.  I am running the lab of 20533 Lab2 and got this message.

PS C:\WINDOWS\System32> $rg = New-AzureRMResourceGroup -Name '20533E0204-LabRG' -Location 'West US'

PS C:\WINDOWS\System32> $vnet = New-AzureRmVirtualNetwork -ResourceGroupName $rg.ResourceGroupName -Name '20533E0204-vnet' -AddressPrefix '10.11.0.0/16' -Location $rg.Location

WARNING: Breaking chan

[2018-10-01 07:11] Karthik-41 opened #7434 "Get-AzureRmADServicePrincipal : Access denied to the specified API version."
### Description

Got below error while trying to get SP details using **Get-AzureRmADServicePrincipal** on Automation Account Runbook.

[code]

But the same **Get-AzureRmADServicePrincipal** returning proper values when we ran in PowerShell ISE.

### Script/Steps for Reproduction
[code]

### Module Version

Automation Account-Runbook

### Environment Data

[code]

### Debug Output

[code]

[2018-10-01 08:59] sqlrohit commented on #7267
I'm also facing the similar issue with both
New-AzureRmAutoscaleRule
New-AzureRmAutoscaleProfile
I've tried to explain this issue in below post
https://social.microsoft.com/Forums/en-US/2460a419-813c-4749-b86c-75cd883c7671/creating-scale-out-rules-for-app-service-plans-using-powershell?forum=AzureAPIApps

In order to understand the issue try below
--------------
#Create Rule1
$AutoScaleRule1 = New

[2018-10-01 09:37] meanin opened #7436 "New-AzureRmAks appends subscription id part to the resource group"
### Description
I am trying to create an Azure Kubernetes Service cluster through a powershell. After some fight, I've installed a module AzureRM.Aks with version 0.0.5.  Script below does not get the job done. No resources were created. Checked through portal. The same operations works from an Azure CLI. Am I doing something wrong? Strange is that, when I am passing an original resource group (oR

[2018-10-01 09:39] sqlrohit opened #7437 "New-AzureRmAutoscaleProfile is not updating Operator Property & Direction"
### Description

### Script/Steps for Reproduction
$DebugPreference = "Continue"
$subid=[guid]::newguid()
$RsgName='my-RSG'

$AutoScaleRule1 = New-AzureRmAutoscaleRule -MetricName 'CpuPercentage' -MetricResourceId "/subscriptions/$subid/resourceGroups/$RsgName/providers/Microsoft.Web/serverFarms/$CurrASP" -MetricStatistic Average -Operator GreaterThanOrEqual -Threshold 80 -TimeGrain 00:01:00 -Scal

[2018-10-01 13:14] blueelvis commented on #6833
@DirkBrinkmann - Yes sir. It is working fine for me. Screenshot below -

![image](https://user-images.githubusercontent.com/6985763/46290620-f972df00-c5a9-11e8-8d1e-e318af9b8eef.png)

[2018-10-01 17:17] matthchr commented on #7005
@maddieclayton @cormacpayne - I am looking at this and it seems to me that the "missing examples" are actually for cmdlets that don't exist?

There is no `Get-AzBatchAccountKeys`, only `Get-AzureRmBatchAccountKeys`. Similarly with the others:
`Remove-AzBatchJobSchedule` is actually `Remove-AzureBatchJobSchedule`, and `Set-AzBatchJobSchedule` is actually `Set-AzureBatchJobSchedule`.

There is docum

[2018-10-01 17:41] StefH opened #7438 "The command Get-AzureRmVmDiskEncryptionStatus has a spelling mistake?"
### Description

When running this command like:
[code]

The output is:
[code]

I guess the `ProgressMessage` should be "No Encryption extension or metada**ta** found on the VM" ?

### Environment Data

[code]

[2018-10-01 18:06] nirmalpavan opened #7439 "Powershell error while sending more than 16K records to OMS"
HI Team

We are getting below error while sending more than 16K records data from SQL to OMS using powershell. Please help.

[code]

COde:
[code]

[2018-10-01 18:25] vinisoto opened #7440 "webapp:Expected PsVersion in Travis is 6.1.0. Expected is 6.0.4"
### Description

PowerShell version in Travis should be the same than CloudShell (6.1.0) causing some tests involving New-PsSession to fail (related [PR](https://github.com/Azure/azure-powershell/pull/7423).

As part of the tests that I submitted in the PR I validate that Enter-PsSession can at least be launched (I couldn’t find a way to validate that the PsSession was successfully established wit

[2018-10-01 20:08] MiYanni commented on #7440
Info from email chain:

- Net472 (PowerShell Core on Windows)
- NetCoreApp 2.0 (PowerShell Core 6.0)
- NetCoreApp 2.1 (PowerShell Core 6.1)

So, if your test is failing, that is because our default Travis run is NetCoreApp 2.0. That build depends on Microsoft.PowerShell.SDK 6.0.4. We cannot upgrade that dependency because that’s what PowerShell Core 6.0 supports. For our NetCoreApp 2.1 tests, it d

[2018-10-01 21:08] MiYanni opened #7441 "Fix Microsoft.Azure.ServiceManagemenet typo in namespace in Common"
It is spelled wrong: Microsoft.Azure.ServiceManagemen`e`t
Fix prior to Az? It is in Common and ScenarioTest.ResourceManager (for some reason).

![image](https://user-images.githubusercontent.com/17788297/46315842-5effa500-c583-11e8-86f4-cf56315f3fe3.png)

[2018-10-01 21:44] MiYanni commented on #6959
@markcowl
Any chance we could also add to this:
- Combine some modules that are logically similar (as long as service teams agree)
  - Ex: `EventGrid` + `EventHub` + `IoTHub`
  - We should investigate others like this. No reason to have so many different modules.

[2018-10-01 22:57] darshanhs90 commented on #6976
Have created the PR for the fix https://github.com/Azure/azure-powershell/issues/6976

[2018-10-01 23:15] jkwon2013 commented on #7402
hi @cormacpayne do you have any updates on this issue?

[2018-10-01 23:28] cormacpayne commented on #7430
@slavizh whoops, I should've just looked at the blame for the lines highlighted above 😀 we added this if-def due to the following issue: https://github.com/Azure/azure-powershell/issues/5785

In this issue, a comment was made by @markcowl that will clarify the above error:

You can find more information in the issue linked above, but as a result, I'm going to close this as "by design".

[2018-10-01 23:30] cormacpayne commented on #7431
@mosharafMS same question as @alexandair: which version of `AzureRM.Network` contained the `-VirtualNetwork` parameter that you are referencing?

[2018-10-01 23:44] cormacpayne commented on #7432
@alexandair

(1) Good question -- it appears that most (if not all) of our `AzureRM.*.psd1` files have this `PSGet` prefix in their header, and most (if not all) of our `Az.*.psd1` files reference their corresponding `AzureRM` module in their header. We'll need to clean this metadata up.

(2) It looks like this is coming from [this template `.psm1` file](https://github.com/Azure/azure-powershell/b

[2018-10-01 23:52] cormacpayne commented on #7433
@sphibbs @JasonRShaver do we know what the status of this is?

[2018-10-01 23:59] cormacpayne commented on #7434
@Karthik-41 would you mind providing the versions of `AzureRM` that are installed on each of your machines?

You can get these values by running `Get-Module -Name AzureRM* -ListAvailable`.

[2018-10-02 00:02] cormacpayne commented on #7436
@mboersma Hey Matt, would you mind taking a look at this issue?

[2018-10-02 00:03] cormacpayne commented on #7437
@gucalder Hey Guillermo, would you mind taking a look at this issue?

[2018-10-02 00:06] cormacpayne commented on #7438
@ejarvi Hey Eric, would you mind taking a look at this issue?

[2018-10-02 00:09] cormacpayne commented on #7439
@nirmalpavan are you using any of the `AzureRM` or `Az` cmdlets? I want to make sure this issue should remain in this repository and not be moved to https://github.com/PowerShell/PowerShell

[2018-10-02 00:18] ejarvi commented on #7438
Typo exists on this line:  https://github.com/Azure/azure-powershell/blob/8dbd634657a3bc2567390019290d195d2cc913a0/src/ResourceManager/Compute/Commands.Compute/Extension/AzureDiskEncryption/GetAzureDiskEncryptionStatus.cs#L650

[2018-10-02 02:18] passerby2014 commented on #7233
Same error for me

[2018-10-02 03:06] nciacrklo commented on #7110
@etfong  have you checked again after a few days if the saved context is still reusable?

[2018-10-02 06:15] slavizh commented on #7430
@cormacpayne OK but as far as I understand Az is replacement of AzureRM. Shouldn't that grantee backwards compatibility? in you Az document you say "To make it easier for existing scripts to migrate from AzureRM to Az, we have provided cmdlets to create aliases that map the cmdlet names in AzureRM into the appropriate cmdlets in Az. When the aliases are enabled, any script that uses AzureRM cmdlet

[2018-10-02 11:08] jeyoung opened #7446 "Set-AzureRmApplicationGatewaySslCertificate help text is not clear"
### Description

The help text for `Set-AzureRmApplicationGatewaySslCertificate` is not clear at all. The text

does not explain what a "goal state" is.

### Script/Steps for Reproduction

[code]

### Module Version

[code]

### Environment Data

[code]

[2018-10-02 11:43] jseerden commented on #7430
I agree with @slavizh. In the https://github.com/Azure/azure-powershell/blob/preview/documentation/announcing-az-module.md docs you state:

In the current AzureRM module, you can use User Credentials for non-interactive logins. In the current Az module, with the aliasses enabled (`Enable-AzureRmAlias`), this will break, so they require modification. This is not in line with the documentation.

[2018-10-02 15:27] cormacpayne commented on #7446
@akshaysngupta Hey Akshay, would you mind taking a look at this issue?

[2018-10-02 16:49] nirmalpavan commented on #7439
No Cormac we are not using any Azure powershell cmdlets.

[2018-10-02 17:07] cormacpayne commented on #7439
@nirmalpavan if you aren't using any Azure PowerShell cmdlets, I would recommend opening an issue in the previously mentioned [PowerShell repository](https://github.com/PowerShell/PowerShell), and they should be able to help you out.

[2018-10-02 17:07] #7439 closed

[2018-10-02 18:27] vinisoto commented on #7440
UPDATE: 6.0.4 on Windows throws the expected error(s): _The WinRM client cannot process the request because the server name cannot be resolved or The WinRM client sent a request to an HTTP server and got a response saying the requested HTTP URL was not available_

Will try 6.0.4 in 14.04.1-Ubuntu next

[2018-10-02 22:02] cormacpayne commented on #6402
Closing due to lack of response. Please feel free to re-open this issue if you are still seeing this issue.

[2018-10-02 22:02] #6402 closed

[2018-10-02 23:57] bganapa opened #7453 "Connect-AzureRmAccount returns empty response when there are no subscriptions"
### Description

With the latest 5.6.0 azurerm.profile module we see that, connect-azurermaccount returns empty response like below when there are no subscriptions associated with the account logged in.  This is a regression from the earlier version that azurestack is using.

The response from the latest AzureRm.Profile

[code]

Response from 3.4.1 version of the AzureRm.Profile

[code]

### Modul

[2018-10-03 01:09] cormacpayne commented on #7430
@slavizh @jseerden thanks for the comments and concerns over this issue. One thing I want to make sure is noted is that we are working to convert as much as the previous functionality from `AzureRM` to the `Az` module, but we are limited in some aspects due to the new target framework (.NET 4.5.2 --> .NET Standard 2.0). One place where this affects us is the use of the Active Directory Authenticat

[2018-10-03 05:30] slavizh commented on #7430
@cormacpayne I appreciate the detailed explanation. I hope you will be able to understand the CSP scenarios as currently we are locked to using user name and password credentials. As soon as that situation changes for CSPs we will of course move to service principals. It will be easier for us as well to manage SPs rather user credentials.

[2018-10-03 06:33] Layanshafaamri opened #7454 "Azure Rm and Az Failure"
### Description

### Script/Steps for Reproduction

[code]

### Module Version

[code]

### Environment Data

[code]

### Debug Output

[code]

[2018-10-03 07:18] EvgenyAgafonchikov commented on #5051
Networking monthly branch has [fix for this](https://github.com/Azure/azure-powershell/blob/network-october-release/src/ResourceManager/Network/Commands.Network/NetworkSecurityGroup/SetAzureNetworkSecurityGroupCommand.cs#L25)
Need to be closed after merging in preview.

[2018-10-03 11:52] SyedK1987 commented on #5540
Hi Angshuman,

Thank you for the reference. I tried below query in my environment but getting bad request error. Any suggestion where i am doing mistake.

`Connect-AzureRmAccount
Select-AzureRmSubscription -SubscriptionName "subscription name"
$location = 'Global'
$alertName = 'Critical Power Off - Alert'
$resourceGroupName = 'Resource Group name'
$wHook = New-AzureRmActionGroupReceiver -Name "WHo

[2018-10-03 12:18] adsifi commented on #7293
Hi. Can you please share an update about this issues.

Regards,

Adlene Sifi

[2018-10-03 13:53] pixelicous commented on #3954
@Markcowl i think that since your fix you broke some other thing

All of the sudden my scripts started throwing errors that are related to my profile timing out.
I save my profile then reuse it on the same machine in a job, not sure what is the trigger, where it is time, the way i use or maybe the number of times used, but all the scripts crash.. i wish i had the exact wording in the error, but it

[2018-10-03 15:39] cormacpayne commented on #7454
@Layanshafaamri please re-open this issue with sufficient information about the issue you are having with either the `AzureRM` or `Az` module -- the template the provided in the issue body has a description of the information we will need.

[2018-10-03 15:39] #7454 closed

[2018-10-03 18:41] markcowl commented on #7110
@etfong  I am not sure why steps 3 and 4 would be needed, I think these steps should have the same effect

- Disable-AzureRmContextAutosave -Scope Process
- Clear-AzureRmContext
- then do the import

The issue is that, when importing a context, there is no way to merge tokens from any existing context and the context you are importing.  The Import *should* simply overwrite any existing tokens.

Al

[2018-10-03 18:51] juancrl commented on #6988
Thanks !
I was now using (Get-AzureRMContext).TokenCache which probably points to the same place...

[2018-10-03 19:04] markcowl opened #7456 "Fix TokenCache initialization when importing a context"
### Description

When importing a saved context container with multiple contexts, the existing token cache should be overwritten with the token cache for the default context.

Instead, the token cache is cleared and the user must log in again.

- [x] Fix import logic to always overwrite token cache for the default context, if it is non-null
- [ ] Add regression tests to ensure that non-empty conte

[2018-10-03 19:05] markcowl commented on #7110
Opened issue: #7456 which identifies the actual bug.  If you are seeing a separate issue with authentication, please file another issue.

[2018-10-03 19:15] markcowl commented on #7110
Closing this issue in favor of #7456 which should resolve the underlyign issue.  Meanwhile, please follow the advice above, and please file issue if you are having specific problems, or need specific advice on your authentication scenario.

[2018-10-03 19:15] #7110 closed

[2018-10-03 19:15] markcowl commented on #6990
Closing for lack of response

[2018-10-03 19:15] #6990 closed

[2018-10-03 19:19] markcowl commented on #6937
@slavizh The issue is that there is no API to determine the tenant id given a domain name.  We have some logic that allows you so use domain name in many situations, but in some it will not work.  Agreed that this should be better documented, and that certain ly for CSP, we shopuld be explicit about the limitations in docs.  Updating this issue to pertain to CSP documentation.

[2018-10-03 19:21] markcowl commented on #6937
### Description
- [ ] Update docs.microsoft.com login page with information on CSP login (specifically that it requires tenant id)
- [ ] Add some explanatory text to reference documentation for ```Connect-AzureRmAccount``` to clarify that domain name login may not work in all situations, and what to do if it doesn't.

### Cost: 2

[2018-10-03 22:01] MiYanni opened #7460 "Travis (Docker image) needs to update Profile psd1 to have RootModule on build"
During our signed build, we update Profile's psd1 to contain a RootModule entry for the psm1. This allows us to load the correct `Microsoft.IdentityModel.Clients.ActiveDirectory` version. We need to do this as part of the Travis build, or else the Docker images we create will not be usable.

[2018-10-03 22:16] darshanhs90 commented on #6976
Closing this issue,since a fix is merged for this in https://github.com/Azure/azure-powershell/pull/7442

[2018-10-03 22:16] #6976 closed

[2018-10-03 23:09] markcowl commented on #7453
In this case, we should create a context with account/environment/tenant

Note that we should also have a regression test for this behavior

[2018-10-03 23:30] kilasuit commented on #7430
@cormacpayne - DeviceLogin isn't scale able when you have multiple accounts or any automation usecases that are outside of azure talking into azure. Especailly on the Windows side, where you will be breaking peoples workflows for interacting with Azure.

Please provide this critical core functionality back in if you want any real adoption of Az

Otherwise I'll recommend users stick to AzureRM

[2018-10-03 23:37] rahuldutta90 opened #7462 "MSI with ADLS gives invalid resource"
### Description

Usi MSI with ADLS gives an error with an invalid resource

### Script/Steps for Reproduction

1.	Go to https://rc.portal.azure.com.
2.	Click the top right powershell-looking icon to launch Cloud Shell:
o
3.	If you see a Bash window open at the bottom, toggle from Bash to PowerShell.
4.	Try running the following cmdlet:
o	$files = Get-AdlStoreChildItem -Account sandboxadl -Path / -

[2018-10-04 00:18] rjmholt opened #7463 "Support for devtest lab operations?"
Hi, I'm trying to create and manage a VM within a devtest lab.

I've found:
- [How to create a VM using the Azure Portal UI](https://docs.microsoft.com/en-us/azure/lab-services/devtest-lab-create-first-vm)
- [How to create and manage VMs using the Azure CLI](https://docs.microsoft.com/en-us/azure/lab-services/devtest-lab-vmcli)

But I'd really like to use PowerShell to do this (since I'm trying to

[2018-10-04 00:41] marknettle commented on #6833
The errors I am getting imply that API expects a subscription ID, which is not being provided by the cmdlet.

[code]

[2018-10-04 10:11] mihai-dinculescu opened #7467 "Role permissions error: "conatins invalid character(s)""
### Description

I'm attempting to add Actions to custom roles. It all works well until I try to add actions that contain dashes, like `Microsoft.ApiManagement/service/api-version-sets/read`.

### Script/Steps for Reproduction

[code]

### Module Version

[code]

### Environment Data

[code]

### Debug Output

[code]

[2018-10-04 16:15] hallgeirl commented on #6542
Hi,
Just experienced the exact same issue. I did found a workaround, that I'd like to share with anyone that's still struggling. My scenario is updating webtests using the same powershell version as is used with Azure Stack (we deploy resources in Azure Stack, but use availability tests in Azure).

(Using a simplified version of the OP's example)
[code]

I hope this can be of help to someone.

[2018-10-04 17:29] Mahalaxmi1994 commented on #7354
Any updates on the issue?

[2018-10-04 19:00] darshanhs90 commented on #7467
@mihai-dinculescu Thanks for the stack trace,we will look into that

[2018-10-04 19:03] darshanhs90 commented on #7467
@RBACAsk

[2018-10-04 19:39] Simon687 opened #7469 "webapp: New-AzureRmWebAppSSLBinding needs support for KeyVault certificates & 3rd party certificates through script"
### Description
New to PowerShell. Failed to upload CA certificate to web app through powershell script New-AzureRmWebAppSSLBinding, but can manually upload private certificate through SSL settings->Private Certificates->Upload Certificate. Prefer to do this through script as there are over 10 of 3rd party certificates.

This is occurred during the process of deployment to azure. Even though it wi

[2018-10-04 20:32] cormacpayne commented on #7463
@rjmholt Hey Robert, it appears that we don't have any cmdlets around this functionality in the `AzureRM.DevTestLabs` module, but the [operations are in the SDK used by this module](https://github.com/Azure/azure-sdk-for-net/blob/psSdkJson6/src/SDKs/DevTestLabs/Management.DevTestLabs/Generated/VirtualMachinesOperations.cs).

@ryanvog Hey Ryan, do you know if there are plans for the DevTestLabs tea

[2018-10-04 20:44] cormacpayne commented on #7469
@panchagnula @Nking92 would you mind taking a look at this issue?

[2018-10-04 21:31] macdealbh commented on #6833
Having the same issue where the process runs and appears to succeed, but nothing is created.

PowerShell Version Info:

Name                           Value
----                           -----
PSVersion                      5.1.15063.1266
PSEdition                      Desktop
PSCompatibleVersions           {1.0, 2.0, 3.0, 4.0...}
BuildVersion                   10.0.15063.1266
CLRVersion

[2018-10-04 22:04] cormacpayne commented on #7402
@jkwon2013 Hey Ji Eun, this issue is a result of the change we made back in May when going from version 5.5.2 to 6.0.0 of `AzureRM.Resources` -- previously the `Get-AzureRmResource` cmdlet was making calls using a generic HttpClient, but we switched to having it use, for most calls, their management SDK, which slightly changed how users could retrieve resources using this cmdlet.

Since we've seen

[2018-10-05 02:02] Cozza38 commented on #6833
I managed to get the module to work yesterday with all of my resources then this morning I accidentally deleted all the code before pushing to vsts :(

I've found that the categories and metrics are required for it to actually work, the "Set-AzureRmDiagnosticSetting" kb article states that if you don't declare any categories or metrics then they are all enabled and that does not appear to be the c

[2018-10-05 07:45] imeya opened #7474 "Get-AzureSubscription always get the Free Trial subscription"
I have two azure subscription, one is free trial, the other is named mySub.
I used this cmdlet to login: Login-AzureRmAccount -SubscriptionName "mySub".

Then use Get-AzureSubscription, it always only show me the Free Trial subscription.
When I use the subscriptionName parameter with "mySub", returns nothing.

can somebody tells me why?

[2018-10-05 17:08] cormacpayne commented on #7474
@imeya it looks like you're using the `Get-AzureSubscription` cmdlet, which targets RDFE, rather than `Get-AzureRmSubscription`, which targets ARM. Would you mind trying this cmdlet and seeing if your other subscriptions appears?

[2018-10-05 17:19] rjmholt commented on #7463
Hey @cormacpayne, thanks for that info. I was actually playing around with exactly the source you linked when you responded. (For anyone curious, made a dummy dotnet core project with that as a dependency, published it and `Add-Type`d it).

Using the SDK directly with PowerShell isn't terribly ergonomic at present though, since it makes heavy use of partial classes and extension methods. I also no

[2018-10-05 18:16] markcowl commented on #6833
@Orange-MM @DirkBrinkmann @CoryManson @macdealbh That is correct - the root issue is that id you do not provide any categories, the Set cmdlet succeeds, but does not create the resource.  The workaround for now is to add at least one categoryto the diagnosticsetting.

@gucalder Can you update this thread with an ETA for a permanent fix for this?

[2018-10-05 18:32] markcowl opened #7479 "Get-RoleDefinition cmdlet throws null reference when there is no context"
[code]

[2018-10-05 20:55] maddieclayton commented on #7344
List of Management Clients
"Microsoft.Azure.Management.Analysis" Version="2.0.3"
"Microsoft.Azure.Management.ApiManagement" Version="4.0.4-preview"
"Microsoft.Azure.Management.ApplicationInsights" Version="0.1.1-preview"
"Microsoft.Azure.Management.Automation" Version="2.0.6"
"Microsoft.Azure.Management.BackupServices" Version="1.0.5-preview"
"Microsoft.Azure.Management.Batch" Version="4.2.0"
"Mic

[2018-10-05 21:17] cormacpayne commented on #7400
@EricBourland I'm unable to reproduce this error when running on my machine:

[code]

Would you mind mind updating to the latest version of `AzureRM` and validating that you see this error? I would recommend removing all `AzureRM` modules on your machine and validating with a fresh install of `AzureRM`.

[2018-10-05 21:29] knithinc commented on #7453
@markcowl , not sure I understood who has the AI and what it is, could you please clarify? We have at least 3 customer ICMs currently because of this regression.

[2018-10-05 21:38] cormacpayne commented on #7166
@Tiano2017 looking at the first scenario, where the user is providing both the `-ResourceId` and `-ApiVersion` parameters, the generic HttpClient is used to make the call rather than the ARM SDK (second scenario), and a resposne is received, but is not parsed. Would you know why this would occur?

[2018-10-06 00:04] matthchr commented on #7005
I fixed this issue in our private release branch. It should get merged next month. @maddieclayton do you want to close this now or leave it open until it's merged to mainline?

[2018-10-06 00:09] maddieclayton commented on #7005
Good to close! Thanks @matthchr

[2018-10-06 00:09] #7005 closed

[2018-10-06 15:42] dfinke opened #7484 "Launch a browser to login - nice to have"
The `az login` now launches a browser to login, one less copy/paste is nice to have. Don't know if it is on the road map.

![image](https://user-images.githubusercontent.com/67258/46572965-8d52fb00-c95c-11e8-9c19-76b7a8e00a93.png)

[2018-10-08 02:53] blueww commented on #7283
@alvipeo
If your issue is resolved?
I will close the issue now, as not see more request from you.
Feel free to contact us if you need more assistant from us.

[2018-10-08 02:53] #7283 closed

[2018-10-08 08:16] EdisonDa opened #7486 "Please provide an example of the disable function of Add-AzureRmWebtestAlertRule cmdlet"
This was copied from the user feedback: https://github.com/MicrosoftDocs/feedback/issues/744, user is asking an example of how to disable the function of Add-AzureRmWebtestAlertRule cmdlet.

### Description

### Script/Steps for Reproduction

[code]

### Module Version

[code]

### Environment Data

[code]

### Debug Output

[code]

[2018-10-08 15:42] cormacpayne commented on #7484
@dfinke Hey Doug, we are working on a similar experience for the `Az` module, as outlined in this issue: https://github.com/Azure/azure-powershell/issues/7358

We will track the progress of this work in that issue, so I'm going to close this one in favor of it. Thanks!

[2018-10-08 15:42] #7484 closed

[2018-10-08 18:16] nipunsahni commented on #7132
Hello, I am experiencing the same issue while running the Set-AzureRmDiagnosticSetting command for enabling the diagnostic setting to send data to Log anlytics. There is no error that we receive. I tried finding the Azure RM PowerShell version 6.9.1 but was unable to find one.

[2018-10-08 18:42] nipunsahni commented on #6833
@gucalder - We are experiencing the same behavior whey attempting to enable diagnostic setting for SQL DB. Is there any ETA for permanent fix for this

[2018-10-08 20:42] markcowl commented on #7486
@gucalder can you take a look?

[2018-10-09 00:53] imeya commented on #7474
get-azureRmSubscription works correctly. thank you.

[2018-10-09 05:17] imeya commented on #7486
@markcowl , @gucalder , actually, I have submitted this issue a few days before, but still no feedback, please help me figure it out. thank you very much.

[2018-10-09 07:14] CPeacockSoltec opened #7499 "New-AzureRmPolicyAssignment - Can't use URL with -PolicyParameter"
When using the following I can only use a local .json file for the -PolicyParameter. If I use a URL it shows the following error:

New-AzureRmPolicyAssignment : Unexpected character encountered while parsing value: h. Path '', line 0, position 0.
At line:1 char:1
+ New-AzureRmPolicyAssignment `
+ ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    + CategoryInfo          : CloseError: (:) [New-AzureRmPolicyAssignme

[2018-10-09 08:38] DirkMSFT commented on #6833
Hi @markcowl @gucalder : Unfortunately your suggestion does not work for every Azure Resource and causes a lot of pain: Let me take an example of a Keyvault. First of all: We need to find the right Category name, which is quite painful. According to the documentation, the only Category supported for this resource is AuditEvents (https://docs.microsoft.com/en-us/azure/key-vault/key-vault-logging).

[2018-10-09 11:01] CoryManson commented on #6833
@DirkMSFT take a look at my example above. "AllMetrics" needs to come under the ``` -MetricCategory ``` parameter.

[2018-10-09 11:16] DirkMSFT commented on #6833
@CoryManson : You are absolutely right. Stupid me! Thanks for pointing me towards that.

[2018-10-09 11:17] CoryManson commented on #6833
@DirkBrinkmann no worries mate, I've been able to enable Diagnostics on all resources I've come across, just gathering up the Categories is a bit painful.

[2018-10-09 14:03] MaximoTrinidad commented on #7417
@JillRebecca,

In my case I use WSL - Ubuntu on the latest Windows 10 with the latest Azure modules, which are no longer labeled AzureRM just Az version 0.2.2.

Az module is replacing the AzureRM module.

Everything seems to work fine.

![azmoduleconnect_01_2018-10-09_9-51-37](https://user-images.githubusercontent.com/19892435/46674348-e1065400-cba9-11e8-8736-43eaf9f69f08.jpg)

[code]

Now, there

[2018-10-09 15:36] #7474 closed

[2018-10-09 16:18] CHDAFNI-MSFT commented on #7397
@neaggarwMS  follow up on the above. If the parameter cannot/will not be added, could an 'Example' instead be added to the Help file to show how 'DisableBGPRoutePropagation' can be altered?

[2018-10-09 19:42] MiYanni commented on #3430
Storage management plane is handled here: https://github.com/Azure/azure-powershell/issues/5365
Storage dataplane is handled here: https://github.com/Azure/azure-powershell/issues/7100

[2018-10-09 19:42] #3430 closed

[2018-10-09 21:05] marknettle commented on #7406
Same behavior after updating to
[code]

[2018-10-09 21:36] marknettle commented on #7406
az cli works. https://docs.microsoft.com/en-us/cli/azure/network/vnet/peering?view=azure-cli-latest#az-network-vnet-peering-create

[2018-10-09 22:36] MiYanni opened #7506 "SiteRecovery: Test-AsrEvent (V2AEvent) fails on NetCoreApp2.0, Get-AzRecoveryServicesAsrEvent encodes StartTime incorrectly"
For the SiteRecovery tests in `ScenarioTests\Common`, there is a test called *V2AEvent* (the PS function is *Test-AsrEvent*). This test fails in NetCoreApp2.0 because it cannot find the matching call when `-StartTime` is provided. The date provided in the test has 4 digits in the year (2017). The recording also has 4 digits in the year. However, it seems that when `Get-AzureRmRecoveryServicesAsrEv

[2018-10-09 23:42] MiYanni commented on #6161
@jsnikhil It sounds like it will be a bit before DataFactories/DataFactoryV2 will be included in Az.

[2018-10-10 00:42] MiYanni commented on #7345
Awaiting https://github.com/Azure/azure-powershell/pull/7457 to be merged prior to making a new branch for testing MicroBuild in our ADO process.

[2018-10-10 08:32] aleksandardasic commented on #7215
@gucalder are there any news on the issue? thanks

[2018-10-10 10:42] sdementen opened #7508 "in Set-AzureRmApiManagementApi, how to set IsCurrent and IsOnline fields?"
### Description

I want to change the flags/fields IsCurrent and IsOnline of a specific Revision of an API in the APIM via powershell.

### Module Version

[code]

[2018-10-10 13:28] Cefranlly opened #7509 "Powershell task fail to init Azure Subcription"
### Description
Hi guys, I'm running a powershell that need to connect to Azure, I'm using Import-AzureRmContext and works fine, but when I used Select-AzureRmSubscription throws error tenantid or sucription not valid!

Note: I ran my script on powershell_ise and works fine, but in powershell fails!

### Script/Steps for Reproduction

[code]

### Module Version

[code]

### Environment Data

[code

[2018-10-10 19:07] brwilkinson commented on #7019
Also if there was a -persist switch that would be great.

[2018-10-10 19:09] vandreytrindade opened #7510 "Install-Module Az suggestion"
Hi,
I've tried today to remove the AzureRM module and install the Az module.
What I've missed is the module appearing on **Get-Module -ListAvailable Az** command.
I have a function that checks for updates on modules and with AzureRM was easier to check because of that.
Also, is there a way to keep the modules folder organized? I think that is terrible to have a lot of folders on the Windows Powers

[2018-10-10 19:29] maddieclayton commented on #7019
@maddieclayton If you use the -Scope parameter, you can turn aliases on for either the CurrentUser or the LocalMachine. This will enable aliases for all future sessions until Disable-AzureRmAlias is run (with that scope).  Would this work for you?

[2018-10-10 19:59] cormacpayne commented on #7510
@vandreytrindade thanks for opening this issue -- just a few questions for you:

(1) What do you currently see when you run `Get-Module -Name Az* -ListAvailable`? This should list all modules installed on your machine (at least those in a folder mentioned in `$env:PSModulePath`) that being with `Az`.

(2) What functionality do you find missing for checking updates between the `AzureRM` and `Az` mo

[2018-10-10 21:30] cormacpayne commented on #7508
@solankisamir Hey Samir, would you mind taking a look at this issue?

[2018-10-10 21:44] cormacpayne opened #7512 "Investigate Batch test failures with new HttpRecorder"
With the latest version of `HttpRecorder`, there are two failing Batch tests:

- `TestGetNodeFileContentByComputeNode`
- `TestGetNodeFileContentByTask`

Both tests succeed during re-record and when run live, but fail in playback locally and on Jenkins. This issue is to investigate the cause of these failures and provide a fix in whatever framework the issue was introduced into.

The current failur

[2018-10-10 23:59] knithinc commented on #7199
@cormacpayne , @markcowl , any update on this bug yet? Wanted to get a sense of what the issue is, and if you guys had an ETA for the fix. We have a couple of our customers try to use this functionality.

[2018-10-11 00:12] gucalder opened #7513 "[Insights] Set-AzureRMDiagnosticSetting requires explicit specification of categories during creation of setting"
### Description

Set-AzureRMDiagnosticSetting requires explicit specification of categories during creation of setting. If the list of categories is not included, the cmdlet does not report any error, but the backend will ignore the request since it is enabling no category.

### Script/Steps for Reproduction

Run the following command using the SDK version 6.9. For previous versions and exception

[2018-10-11 00:57] solankisamir commented on #7508
The way to make a specific Api Revision current and Online is to create a new Release.
See test [here](https://github.com/Azure/azure-powershell/blob/preview/src/ResourceManager/ApiManagement/Commands.SMAPI.Test/ScenarioTests/ApiManagementTests.ps1#L2345)

[2018-10-11 00:57] #7508 closed

[2018-10-11 02:32] blueww commented on #7268
This is already fixed in the last release: https://github.com/Azure/azure-powershell/releases/tag/v6.10.0-October2018
Please check and feel free to inform us if you need more assitance.

[2018-10-11 02:32] #7268 closed

[2018-10-11 03:11] sdementen commented on #7508
Thank you @solankisamir , this clarifies how to make a revision the current one.
However, for the Online flag, I see it is set by default when creating a new revision and I cannot find a way to make an API offline.

I'd like to see if adding operations to an offline API is faster than to an online API, as today, adding ten to hundred operations to an online API takes a long time (from 1min to 20mi

[2018-10-11 05:07] brwilkinson commented on #7019
@maddieclayton yes I will give scope a try and see if it persists. Thank you.

[2018-10-11 08:11] blueww opened #7515 "Need upgrade "Microsoft.Rest.ClientRuntime" and "Microsoft.Rest.ClientRuntime.Azure" in Powershell netcore build."
Since the lastest release of "Microsoft.Azure.Management.Storage" library has upgrade the depended "Microsoft.Rest.ClientRuntime" and "Microsoft.Rest.ClientRuntime.Azure" version, we need to upgrade the version for the 2 dll in Powershell netcore build, or the new storage feature support will be blocked.

Following is the powershell netcore build failure on new "Microsoft.Azure.Management.Storage"

[2018-10-11 12:06] vandreytrindade commented on #7510
@cormacpayne Hi again!
(1) It lists all the Az.* modules in 0.3.0 version
(2) My function checks the local version and the PowerShell Gallery version of AzureRM, if the PowerShell Gallery is newer, then it asks if it should be updated. With the **Get-Module -ListAvailabe Az** command it doesn't show anything. But I have checked now that with **Get-InstalledModule Az** command I'm able to see the c

[2018-10-11 14:45] glaisne opened #7516 "Get-AzKeyVault error: Method 'get_SerializationSettings' ... does not have an implementation."
### Description

using 0.3.0 of az modules, running 'Get-AzKeyVault' or 'Get-AzKeyVault -vaultName <VaultName> -ResourceGroupName <ResourceGroupName>' result in the following error:

writeErrorStream      : True
PSMessageDetails      :
Exception             : System.TypeLoadException: Method 'get_SerializationSettings' in type 'Microsoft.Azure.Management.KeyVault.KeyVaultManagementClient' from ass

[2018-10-11 16:05] MurrayFoxcroft commented on #6485
This seems to still be an issue on 6.10.0 is there any work around?

[2018-10-11 16:10] MurrayFoxcroft commented on #6485
I am seeing
Add-AzureRmADGroupMember : The URI 'https://graph.windows.net//Microsoft.Azure.Commands.Common.Authentication.Abstractions.AzureTenant/directoryObj
ects/1062c690-55dd-477b-97ee-9dd13cc4b72a' is not valid since it is not based on 'https://graph.windows.net/62368045-c91f-477d-a117-8432f56a91e4/'.
At line:3 char:1

[2018-10-11 16:15] seanbruck opened #7517 "After upgrading AzureRM from 6.8.1 to 6.10.0, cmdlets hang when script uses Windows Forms"
### Description

AzureRM cmdlets hang when script uses Windows Forms

### Script/Steps for Reproduction

Import-Module AzureRM
Connect-AzureRmAccount
Get-AzureRmVMSize -Location "eastus"

^^SUCCESS - returns values

Import-Module AzureRM
Connect-AzureRmAccount
[void] [System.Reflection.Assembly]::LoadWithPartialName("System.Drawing")
[void] [System.Reflection.Assembly]::LoadWithPartialName("System

[2018-10-11 16:16] gbrueckl commented on #6485
for me this worked once I used the latest version of AzureRM.Resources
You also need to have the latest AzureRM.Profile

[2018-10-11 18:40] bganapa opened #7518 "Connect-AzAcount , The ServicePrincipal parameter should not be mandatory when -TenantId is specified"
### Description

Connect-AzAccount -EnvironmentName AzureStack -Credential $creds -TenantId db-1df7-4a5e-a06c-1ab

should work without prompting for -ServicePrincipal parameter

Rightnow it prompts for ServicePrincipal paramater, This should not be mandatory

Version
0.3.0

[2018-10-11 19:52] jsheetzati commented on #3667
It seems impossible at this point to cancel a swap through AzurePS. I am not deleting any slots between these steps.

`Switch-AzureRmWebAppSlot -Name $app.appName -ResourceGroupName $ResourceGroupName -SourceSlotName deploy -DestinationSlotName production -SwapWithPreviewAction ApplySlotConfig -verbose`

Then, I run:
`Switch-AzureRmWebAppSlot -Name $app.appName -ResourceGroupName $ResourceGroupNam

[2018-10-11 20:57] MiYanni commented on #7515
This will be handled in these 2 PRs:
https://github.com/Azure/azure-powershell-common/pull/57
https://github.com/Azure/azure-powershell/pull/7316

[2018-10-11 21:00] #7515 closed

[2018-10-11 22:00] daspo opened #7520 "GetAzureRmMetric command is failing when getting executed on Windows 2016"
### Description

GetAzureRmMetric command is failing when getting executed on Windows 2016

It works when running on other Windows versions PowerShell

Updated module to latest version, 6.10, still same issue

The command only works if provided a "TimeGrain" parameter of 1 hour or less. Anything higher than that fails with this error:

[code]

We found this bug reported twice:

https://social.tech

[2018-10-11 22:30] MiYanni commented on #7520
@daspo Can you please provide the information requested from our issue template?
- Please run `Get-Module -ListAvailable` to get the version(s) of all modules, including Azure installed on your machine
- Please run $PSVersionTable to get the necessary environment data
- Please run the above script with $DebugPreference='Continue' and paste the resulting debug stream in the below code block

[2018-10-11 23:49] daspo commented on #7520
Is not clear, should we run first $DebugPreference='Continue' and then Get-Module -ListAvailable and next $PSVersionTable and send you the results?

Damian Spoltore

Azure Technical Support | Microsoft Corporation | daspolto@microsoft.com<mailto:daspolto@microsoft.com> | Working hours: Mon-Fri 12:00 pm – 9:00 pm UTC
If you need to work with another Azure Technical Support Engineer outside of my wo

[2018-10-11 23:53] CHDAFNI-MSFT opened #7521 "Az Policy cmdlets set to newer API not available in US Gov"
### Description

*-Policy*Definition are coded to a newer api than what's available in Azure US Government which causes the cmdlets to fail unless an older API is explictly specified

### Script/Steps for Reproduction

Get-AzPolicySetDefinition

### Module Version

[code]

### Environment Data

[code]

### Debug Output

[code]

[2018-10-12 00:00] CHDAFNI-MSFT opened #7522 "Az Policy - retrieves built-in defs when specifying 'custom' - Azure Government"
### Description

Within Azure Government, retrieving policy definitions and specifying 'Custom' still retrieves the built-in definition initiatives as well

### Script/Steps for Reproduction

Get-AzPolicySetDefinition -ApiVersion '2018-03-01' -Custom

### Module Version

[code]

### Environment Data

[code]

### Debug Output
[code]

[2018-10-12 00:10] MiYanni commented on #7520
@daspo
Run `$DebugPreference='Continue'` prior to running the cmdlet you're testing (aka, before `Get-AzureRmMetric`). You can run `Get-Module -ListAvailable` and `$PSVersionTable` at any point in time on the machine.

[2018-10-12 01:02] MiYanni commented on #7499
@CPeacockSoltec Can you please provide the information requested from our issue template?
- Please run `Get-Module -ListAvailable` to get the version(s) of all modules, including Azure installed on your machine
- Please run `$PSVersionTable` to get the necessary environment data
- Please run `$DebugPreference='Continue'`, run `New-AzureRmPolicyAssignment` with the parameters that show the issue, a

[2018-10-12 01:10] MiYanni commented on #7509
@Cefranlly  Can you please provide the information requested from our issue template?
- Please run `Get-Module -ListAvailable` and provide the **version(s) of all modules**
- Please run `$DebugPreference='Continue'`, run `Select-AzureRmSubscription` with the parameters that show the issue, and paste the resulting debug stream in the below code block

[2018-10-12 01:17] MiYanni commented on #7516
@glaisne `Az` does not support side-by-side loading with `AzureRM`. Can you please remove **all AzureRM modules** and try again? Additionally, if it still fails, can you try installing [PowerShell Core](https://github.com/PowerShell/PowerShell/releases/tag/v6.1.0) and let us know if the issue persists within PowerShell Core?

[2018-10-12 04:09] Cefranlly commented on #7509
Hi MiYanni, I resolved the issue, I think the problem was I had two versions of Azure SDK in my VM. I unnistalled and installed again a specific version of the sdk (5.1.1) and the problem never came again. Thanks!

[2018-10-12 04:09] #7509 closed

[2018-10-12 08:29] blueww commented on #6812
This should already been fixed in the latest Powershell release.

[2018-10-12 08:29] #6812 closed

[2018-10-12 08:46] CPeacockSoltec commented on #7499
@MiYanni

As requested:

# ----- Get-Module -ListAvailable -----

    Directory: C:\Program Files\WindowsPowerShell\Modules

ModuleType Version    Name                                ExportedCommands
---------- -------    ----                                ----------------
Script     5.1.2      Azure                               {Get-AzureAutomationCertificate, Get-AzureAutomationConnection, New

[2018-10-12 08:49] CPeacockSoltec commented on #7499
@MiYanni

Code + Debug:

`# ----- New-AzureRmPolicyAssignment -----

$client="cmp"
$env="prd"
$businessUnit="sss"

$subscriptionid="<subID>"

$storageAccountUrl = "https://<SAName>.blob.core.windows.net/policies"
$storageAccountSasToken = "<SASToken>"

# ----- Location -----

$policyName = "allowedLocations"
$policyDisplayName = "Allowed locations"
$policyDescription = "Policy to restrict the loca

[2018-10-12 08:50] CPeacockSoltec commented on #7499
azurepolicy.rules.json:

`{
  "if": {
    "not": {
      "field": "location",
      "in": "[parameters('listOfAllowedLocations')]"
    }
  },
  "then": {
    "effect": "Deny"
  }
}`

[2018-10-12 11:09] tom-stones opened #7524 "Get-AzureRmVirtualNetworkPeering : RemoteVirtualNetworkAddressSpace is null"
### Description

Upgraded to AzureRm module 6.10.0 and AzureRm.Network module 6.9.0

I have a Vnet that is peered with another Vnet.

When I use Get-AzureRmVirtualNetworkPeering the returned object does not show the address range for the remote vnet.

If I use the -Verbose -Debug switches I can see the remote vnet address range in the underlying REST response.

### Script/Steps for Reproduction

-

[2018-10-12 12:42] daspo commented on #7520
See attached the results for 3 commands.

Two things I noted now:

  1.  It is failing also in my Windows 10 October update
  2.  With this debug enabled now I see the full error message:

  "code": "BadRequest",
  "message": "Invalid time grain duration: PT3H, supported ones are: 00:01:00,00:05:00,00:15:00,00:30:00,01:00:00,06:00:00,12:00:00,1.00:00:00"

But I’ve seen this command running in othe

[2018-10-12 14:08] mguirao opened #7525 "No RefreshToken in TokenCache with Ps Core and Az module"
### Description

Not able to get a refresh token from the token cache.
It is available when using AzureRm modules.

### Script/Steps for Reproduction

[code]

### Module Version

[code]

### Environment Data

[code]

### Debug Output

[code]

[2018-10-12 14:09] mguirao commented on #7525
Could you provide a workaround to get a refresh token somehow ?

[2018-10-12 14:30] corystein opened #7526 "Get-AzureRmPolicyAssignment returns no results"
### Description

Executing Get-AzureRmPolicyAssignment cmdlet does not return any results.  I've tried with a privileged account as well as my global admin.  We do have policies that have been assigned to management groups, so I know there should be data to return.

### Script/Steps for Reproduction

[code]

### Module Version

[code]

### Environment Data

[code]

### Debug Output

[code]

[2018-10-12 16:13] Komodoro opened #7527 "Powershell AzureRm Resources Autocompletion Not Syncing"
I think this is a bug. And I've searched for this and I haven't found anything about this. Maybe I'm querying this wrong in google or in github.

### Description

I've been attending this week a azure course where I work.
And in those labs I've noticed something.

Side-Info (Motivational Cheer):
This is not a big issue, nor will I die or anything but I think you guys did so much work and did a goo

[2018-10-12 16:36] #7526 closed

[2018-10-12 16:41] trevor-schmidt commented on #2196
Trying to use a blob within a storage account as the -SourcePath but receiving the BadRequest: {"Message":"Invalid argument specified. Argument script cannot be null."}

[2018-10-12 17:42] MiYanni commented on #7520
Damian's output:

[code]

[code]

[code]

[2018-10-12 17:48] markcowl opened #7530 "Add message to deprecation warnings with instuctions on how to turn off warnings"
### Description
- Add additional details to the warning messages for deprecation
  * To stop display of deprecation warnings, set the environment variable <variable name> to "true", using Set-Item Env:\<variablename> true.  Add this line to your user profile to alaways disable these warnings.
  * Consider adding a cmdlet to enable and disable deprecation warnings:
  - Enable-AzDeprecationWarnings

[2018-10-12 18:37] jeffpatton1971 commented on #5645
Team,

FWIW I'm getting a similar response, but I'm running Get-AzureRmResource -ExpandProperties. I'm at a loss as to what the problem is, via the portal, everything "looks" fine, but the powershell is not happy.

Get-AzureRmResource : {"code":"NotFound","message":"Resource not found for the segment \u0027databases\u0027.","target":null,"details":[],"innererror":[]}

The OP talks about case sensi

[2018-10-12 20:36] MiYanni opened #7533 "RecoveryServices.Backup: TestAzureVMPolicy failing for Az"
Currently, we are skipping this test for Az as part of this PR: https://github.com/Azure/azure-powershell/pull/7497

I found that, for this test, it seems to require loading multiple versions of the same SDK for it to work properly. My analysis my be incorrect, but it was the best approximation to why this test was failing for Az.

[2018-10-12 20:41] MiYanni opened #7534 "RecoveryServices: TestGetRSVaultSettingsFile failing for Az"
This test was skipped for Az as part of this PR: https://github.com/Azure/azure-powershell/pull/7497

This test requires a cmdlet that has been changed for Az. This cmdlet used to have a `-Certificate` parameter, but that is no longer supported in Az. So, this test fails. It needs to be changed and re-recorded to work for Az.

[2018-10-12 20:47] MiYanni opened #7535 "Add RecoveryServices to Az.psd1"
RecoveryServices is currently missing from the roll-up module.

[2018-10-12 21:32] MiYanni commented on #7516
Closing since issue has been worked-around.

[2018-10-12 21:32] #7516 closed

[2018-10-12 21:45] MiYanni commented on #7499
@ravbhatnagar @Tiano2017 Can one of you take a look at this? Thanks.

[2018-10-12 22:22] maddieclayton opened #7536 "Add test coverage for Get-AzureRmSubscription list call"
Add test coverage for this PR: https://github.com/Azure/azure-powershell/pull/7493

[2018-10-12 22:34] nmallick1 opened #7537 "New-AzureRmWebAppSSLBinding when used with -CertificateFilePath on ASE uploads the certificate to incorrect webspace"
### Description

Using New-AzureRmWebAppSSLBinding against a site hosted on an App Service Environment (ASE) along with  -CertificateFilePath parameter to upload the certificate as well, causes the certificate to be uploaded in incorrect webspace. This subsequently causes the binding assignment to fail. New-AzureRmWebAppSSLBinding does not take the HostingEnvironmentProfile into consideration. The

[2018-10-12 22:42] MiYanni opened #7538 "Az Transition: Rename Az csproj files, Create Az sln files, Rename AzureRM sln files"
- Rename:
  - `Commands.[ModuleName].Netcore.csproj` and `Commands.[ModuleName].Netcore.Test.csproj` files to:
  - `[ModuleName].csproj` and `[ModuleName].Test.csproj` respectively
- Rename:
  - `[ModuleName].sln` to `AzureRM.[ModuleName].sln`
- Create:
  - `[ModuleName].sln` that are used as the Az solution files for each module
- Change tooling to work with the new names
  - StaticAnalysis
  - V

[2018-10-12 22:59] markcowl commented on #7521
@CHDAFNI-MSFT This is, unfortunately by design for now.  Az represents the latest API versions, which generally take a few months to reach the sovereign clouds.  It is in plan to produce 'profile' versions of Az that will support all of the clouds, but there is not a firm release date yet.

[2018-10-12 23:07] markcowl commented on #7522
@CHDAFNI-MSFT I believe the issue is that the cmdlet should have returned only the last policy set definition, is that correct?

[2018-10-12 23:08] markcowl commented on #7522
@Tiano2017 Can you take  a look?

[2018-10-12 23:13] markcowl commented on #7524
@MikhailTryakhov This looks like it could be an automapper issue, could you assign to the appropriate network folks

[2018-10-12 23:21] markcowl commented on #7525
Unfortunately, this is just the policy for later versions of the ActiveDirectory Authentication library - they don't make Refresh tokens available publically anymore.

If you have some authentication task to perform, there are several higher-level objects you could use that automatically refresh themselves, or can be used to obtain tokens with different audiences.  If you share your end-to-end sce

[2018-10-12 23:37] MiYanni commented on #7537
@ahmedelnably @panchagnula Can one of you take a look at this issue? Thanks.

[2018-10-12 23:39] markcowl commented on #7527
@Komodoro One thing that you should address is the mix of powershell modules in your user scope

(Directory: C:\Users\<username>\Documents\WindowsPowerShell\Modules)

and your Global scope: (Directory: C:\Program Files\WindowsPowerShell\Modules)

There are some potential issues because of the way PowerShell cmdlet resolution and module laoding works - PowerShell favors modules in the User scope be

[2018-10-12 23:40] markcowl commented on #7537
@nmallick1 Can you try this with the latest version of AzureRM modules?

[2018-10-12 23:44] panchagnula commented on #7537
@nmallick1 : Webspaces is not a concept that we expose to on our API level so we never use this property on CLI or PS - so this should be something the API should handle or at least, there should be someother property we might be missing here  to set, but webspace is not something we will be able to set from OS, I am closing this - since we cannot fix this. If this is not an API level issue & we n

[2018-10-12 23:44] #7537 closed

[2018-10-12 23:48] MiYanni commented on #6931
All PRs have been merged.

[2018-10-12 23:48] #6931 closed

[2018-10-12 23:49] nmallick1 commented on #7537
@Sisira Panchagnula<mailto:sisirap@microsoft.com> The property we miss adding is the HostingEnvironmentProfile within the properties of the certificate PUT call. If the HostingEnvironmentProfile is present then the webspace is properly assigned by the backend API.

I actually wanted to request a means to specify the HostingEnvironmentProfile  in this cmdlet.

________________________________
From:

[2018-10-12 23:50] Komodoro commented on #7527
@markcowl not that I'm getting what you are saying but... this is as it was when they gave this laptop.
I figure the IT folk should've known better.

I'm going to do what you are saying since you guys are the ones behind all this.

When I recorded the little video I was like, I'm just testing this on ISE and not on the normal bash. Either way I dunno what the difference might they be despite the f

[2018-10-13 00:03] markcowl commented on #7116
Closing as no repro.  If you are still seeing this issue, please open a new issue.

[2018-10-13 00:03] #7116 closed

[2018-10-13 00:05] markcowl commented on #2757
Closing as no repro

[2018-10-13 00:05] #2757 closed

[2018-10-13 00:05] markcowl commented on #7400
Closing as no repro - please open a new issue if you are still experiencing this

[2018-10-13 00:05] #7400 closed

[2018-10-13 00:11] MiYanni commented on #7520
@gucalder Can you take a look at this issue? Thanks.

[2018-10-13 00:16] markcowl commented on #6936
### Description

The message returned when domain lookup fails should look at the accoutn type, rether than assuming it is an SPN
- Change the message to make the account type variable

### Cost: 1

[2018-10-13 00:19] markcowl commented on #7259
@Tiano2017 @hyonholee Can you take a look?

[2018-10-13 00:32] markcowl commented on #7199
@knithinc @deathly809  Yes, the issue is that, if there is an existing context, the token cache from the imported context does not overwrite it - this is because we cannot combine two token caches.

If the TokenCache is completely new, then the problem does not occur, however, we are not checking for an existing but empty token cache.  The right fix is to replace the token cache in all cases, but

[2018-10-13 00:38] markcowl commented on #6880
@Tiano2017 please take a look

[2018-10-13 00:44] markcowl commented on #6757
Complete

[2018-10-13 00:44] #6757 closed

[2018-10-13 00:45] markcowl commented on #6164
Closing as 'won't fix'

[2018-10-13 00:45] #6164 closed

[2018-10-13 00:46] markcowl commented on #4537
Closing as won't fix

[2018-10-13 00:46] #4537 closed

[2018-10-13 00:47] markcowl commented on #6513
Completed

[2018-10-13 00:50] maddieclayton commented on #6513
Only one piece of this was finished - still need to do the shortened resourceId experiments.

Reopening.

[2018-10-13 00:50] markcowl commented on #6186
@KirkMunro  This looks really nice if you're a C# user for sure

[2018-10-13 00:51] markcowl commented on #6186
Targeting this for 1.0 release of Az

[2018-10-13 00:52] markcowl commented on #7296
Won't fix

[2018-10-13 00:52] #7296 closed

[2018-10-13 00:58] markcowl commented on #6930
Fixed

[2018-10-13 00:58] #6930 closed

[2018-10-13 01:05] MiYanni commented on #7374
Discussed with Mark. Going with:
[code]

[2018-10-13 01:05] bganapa opened #7540 "Connect-AzAccount fails to login for foreign principals"
### Description

I have an account sa@abc.onmicrosoft.com added to another tenant directory xyz.onmicrosoft.com. AzureStack is configured on the xyz.onmicrosoft.com

Connect-Az Account fails with
Application with identifier 'sa' was not found in the directory '3-a7a2-4cdd-eae33-3'. This can happen if the application has not been installed by the administrator of the tenant or consented to by any u

[2018-10-13 01:09] markcowl commented on #6989
Closed

[2018-10-13 01:09] #6989 closed

[2018-10-13 01:30] #7535 closed

[2018-10-13 01:39] markcowl commented on #6549
@maddieclayton Post Resource completer - Get cmdlets for top level resources that:
(1) Allow providing a resource name or wildcard to list all VMs with that name

[2018-10-13 19:50] kentstroker opened #7541 "Command Fails"
PS C:\Windows\system32> **Update-Module -Name AzureRM**
PackageManagement\Install-Package : Unable to find repository 'https://www.powershellgallery.com/api/v2/'. Use
Get-PSRepository to see all available repositories.
At C:\Program Files\WindowsPowerShell\Modules\PowerShellGet\1.0.0.1\PSModule.psm1:2089 char:20
+ ...           $sid = PackageManagement\Install-Package @PSBoundParameters
+

[2018-10-14 07:47] lukeb1961 opened #7551 "New-AzureRmRecoveryServicesVault - 'Please provide a different resource name or try again after 24 hours'"
### Description
If I say Get-AzureRmRecoveryServicesVault it says there is NO vault. OK, so I then create it and it FAILS.
'Please provide a different resource name or try again after 24 hours'

No dammit. It either exists or it doesn't! Why the heck should I wait 24 hours to recreate a vault I deleted 15 minutes ago?

$PSVersionTable

Name                           Value
----

[2018-10-14 09:13] mattjlubbers opened #7552 "AzureRM.Security - Azure Security Center"
Hey there,

Just curious on if we are continuing to develop the AzureRM.Security module. As a security engineer, it would be amazing to start integrating events into automation runbooks, and security playbooks.

[Malware Alert > ASC Alert > Created Runbook / Automation > Pull Alert Info > Run Runbook / Script]

Just a line of thinking. If this is still being developed, what is the timeframe for GA

[2018-10-14 11:05] lukeb1961 opened #7553 "Get-Module -ListAvailable -name AZ - returns nothing, even though it IS installed."
Get-Module -ListAvailable  fails to find the AZ module.

Get-Module -ListAvailable -All     # *does* show Az.aks, etc. but not Az

PS> Get-Module -ListAvailable -name AZ   # nothing returned...

PS> Import-Module -Name AZ
PS> (get-module -Name AZ).ModuleBase
C:\Program Files\WindowsPowerShell\Modules\AZ\0.3.0

PS> Get-Module -ListAvailable -name AZURERM

    Directory: C:\Program Files\WindowsPowe

[2018-10-14 13:07] MaximoTrinidad commented on #7553
Workaround!!  The following will display all new Az* modules installed.
[code]
![azmodule_issue_00_2018-10-14_9-02-58](https://user-images.githubusercontent.com/19892435/46917048-86e20600-cf90-11e8-9de0-34f982b486df.jpg)

Also, you need to use the "-ListAvailable" parameter and not the '-Name' to display the ModuleBase information.
[code]
![azmodule_issue_01_2018-10-14_9-02-58](https://user-images

[2018-10-14 13:28] MaximoTrinidad opened #7554 "Import-AzContext - Previously create Json file won't connect to Azure."
### Description
I use the Import-AzContext to streamline my azure connection by using the Json file I create after using the Connect-AzAccount cmdlet.

Now, I've created a new Json file using the Save-AzContext, then realized that is not accepting the credential stored in the file

### Script/Steps for Reproduction

Here's the steps reproduce:
[code]
![azureimportcontext_01_2018-10-14_8-53-52](htt

[2018-10-15 05:44] lukeb1961 commented on #7129
STILL waiting?  I had a perfectly functional script that is now toast.  :-(

[2018-10-15 06:22] lukeb1961 opened #7556 "New-AzureRmVmssConfig The request content was invalid and could not be deserialized: 'Required property 'type' not found in JSON"
[code]
I had a perfectly functional script, but with a recent update to AzureRM I have a broken script..
One of the new errors:
ErrorMessage: The request content was invalid and could not be deserialized: 'Required property 'type' not found in JSON. Path

Regardless of what I put for -IdentityType, via New-AzureRmVmssConfig
New-AzureRmVmss complains about some aspect.
I never had this parameter  b

[2018-10-15 07:37] mguirao commented on #7525
Here is the script i'm trying to convert to PSCore with Az module.
I try to get (using api because not available in the module) the origin of the AAD account, if it comes from another AAD or MSA.
I what to use the refresh token to get a token with "resource=74658136-14ec-4630-ad9b-26e160ff0fc6"

[code]

[2018-10-15 10:56] carlmwright opened #7558 "Webapp:Set-AzureWebsite - 410 Response during site update"
### Description

We are trying to use existing scripts to update AppSettings and ConnectionStrings on production and staging slots of our application.

We are getting the following error message:

Set-AzureWebsite : <string xmlns="http://schemas.microsoft.com/2003/10/Serialization/">Request to a downlevel service
failed.</string>
At F:\Scripts\xxx-Production-settings.ps1:199 char:1
+ Set-AzureWebs

[2018-10-15 13:32] MaximoTrinidad commented on #7553
Hi @lukeb1961,

First, I'm not missing the point, the last paragraph I was trying to say that you are right.  It's broken!
I AGREE WITH YOU 100%!

I'll be meeting with the Microsoft PowerShell Team in Singapore this week and will discuss it with them.  They are normally good in responding quick on Github issues but I'm guessing that are traveling.

Both PowerShell Core and Azure will keep sufferin

[2018-10-15 13:35] MaximoTrinidad commented on #7554
Hum!! I was polishing some demos when I came up with this issue.

Thinking more... What about if the issue more with the Save-AzContext?  As it's the file was newly created with that cmdlet.

:)

[2018-10-15 14:27] leowumsft opened #7560 "Unable to retrieve action groups using the cmdlet "Get-AzureRmActionGroup""
### Description

Unable to retrieve action groups using the cmdlet "Get-AzureRmActionGroup".

Message:
"The resource type 'actiongroups' could not be found in the namespace 'microsoft.insights' for api
version '2018-03-01'. The supported api-versions are '2017-04-01'."

### Script/Steps for Reproduction

[code]

### Module Version

[code]

### Environment Data

[code]

### Debug Output

[code]

[2018-10-15 16:02] markcowl opened #7562 "Create Signed Hyak Libraries with Newtonsoft.Json 10"
### Description

These libraries are in [this tag](https://github.com/markcowl/azure-sdk-for-net/tree/v0.2.2-September2018)
- [ ] Hyak.Common
- [ ] Microsoft.Azure.Common
- [ ] ApiManagement
- [ ] Automation
- [ ] Commerce/UsageAggregates
- [ ] DataFactory

### Cost 6

[2018-10-15 16:05] markcowl commented on #7238
Closing as duplicate of #7340

[2018-10-15 16:05] #7238 closed

[2018-10-15 16:45] markcowl opened #7563 "Fix module definition for Az"
### Description

'Az' is only effective currently as a package for modules, there are several problems with the definition which shoudl be addressed:
- [x] Az.psm1 is not listed as the RootModule
- [x] Az.psm1 is not signed (change the msbuild itesm in the signing job)
- [ ] Az does not show up in the list of modules when using Get-Module -ListAvailable

### Cost 4

[2018-10-15 16:48] markcowl commented on #7554
The issue is here: #7456

We will fix it, but out of curiosity, whey are you uaing save/import context rather than the context autosave feature.  If you just turn on context autosave, your contexts are automatically saved and are available every time you open a new session

[2018-10-15 16:48] markcowl commented on #7554
Closing as duplicate of #7456

[2018-10-15 16:48] #7554 closed

[2018-10-15 16:49] markcowl commented on #7553
So, I think the issue is this: #7563

We will fix this part of the roll-up module definition in the next release, which will hopefully resolve this problem.  If not, we will investigate and fix the underlying issue in the following release.

[2018-10-15 16:51] markcowl commented on #7553
Closing as duplicate of #7563 You can track the fix there.

[2018-10-15 16:51] #7553 closed

[2018-10-15 16:55] markcowl commented on #7525
@mguirao Got it, so if we gad an Invoke-AzRestMethod cmdlet, that might be attractive to you?

I think you can use the AuthenticationFactory to get back an IToken that you can use in the same way - this API is also not subject to breaking changes, so it would be more secure.  Will respond with more details after I have verified the specific API you want to use.

[2018-10-15 17:04] markcowl commented on #7541
@kentstroker So, the issue appears to be that you have a definition of the PSGallery repository that uses a trailing '/', which is failing using the latest Nuget provider.

You can use ```Resgister-PSRepository -Default``` to create the default PSGallery repository registration (with no trailing slash).  You might need to remove the previous registration first.

Meanwhile, the PowerShellGet module

[2018-10-15 17:04] #7541 closed

[2018-10-15 17:04] Falconwmua commented on #7267
This is also occurring in version 5.1.4. The system accepts the rule as is and defaults to Decrease.

[2018-10-15 17:05] MiYanni commented on #7323
Fix in: https://github.com/Azure/azure-powershell/pull/7505

[2018-10-15 17:06] markcowl commented on #7540
This is by design - ADAL 3.0 does not support non-interactive user login

[2018-10-15 17:06] #7540 closed

[2018-10-15 17:09] markcowl commented on #7517
@senabruck  Can you please provide the entire module list returned from Get-Module -ListAvailable?

[2018-10-15 17:09] bganapa commented on #7540
Thanks!, I was about to close this one:)

[2018-10-15 17:10] bganapa commented on #7518
https://github.com/Azure/azure-powershell/issues/7540

Closing this, by design This is by design - ADAL 3.0 does not support non-interactive user login

[2018-10-15 17:10] #7518 closed

[2018-10-15 17:12] markcowl commented on #7551
@dragonfly91 Can you please take a look and get back to the customer with a response?  From the log, this looks like a service-side issue with a service-side cache

[2018-10-15 17:15] markcowl commented on #7552
@sphibbs @JasonRShaver Can we find an appropriate security centrer contact to respond to this query

[2018-10-15 17:28] markcowl commented on #7556
@lukeb1961 Can you please share the relevant contents of the VMSS Config?  This looks like an issue with an empty Managed Service Identity - I assume you are not using ManagedServiceIdentity in the conguration.

@hyonholee @praries880 Can you guys take a look?

[2018-10-15 17:32] markcowl commented on #7558
@carlmwright Can you please share the details of how you are setting the ApPSettins and Configuration in SiteConfig?

@panchagnula Can you take a look?

[2018-10-15 17:47] sphibbs commented on #7552
@chlahav can you take a look at this issue

[2018-10-15 17:47] dguertin opened #7564 "Get-AzureRmRecoveryServicesAsrProtectableItem fails with "Sequence contains more than one matching element""
I'm trying to get a list of servers protected/unprotected with ASR, using PowerShell 5.1 and AzureRM 6.10.0. I'm running the commands:
[code]
$container is an array of protection containers, and all is fine if I run the command:

`$container[x] | Get-AzureRmRecoveryServicesAsrProtectableItem`

where x is anything other than the element $container[1]. But $container[1] fails with the error "Sequenc

[2018-10-15 17:50] markcowl commented on #7560
Unfortunately, I believe this is by design - this API version isn't available in the government cloud.  This version should work: https://www.powershellgallery.com/packages/AzureRM.Insights/5.0.0

[2018-10-15 17:52] markcowl commented on #7560
Note that, to use this version, you would need to either remove the previous version of this module, or specifically Import this version at the beginning of your session:

[code]

[2018-10-15 17:52] #7560 closed

[2018-10-15 17:59] leowumsft commented on #7560
Hi @markcowl, I appreciate your guidance and I will follow your instructions.

[2018-10-15 18:02] markcowl commented on #7527
@Komodoro I am not sure that the completer isn't the same in ISE as in a shell, however, ISE is managing powershell processes in the background, and it is common practice to do some kinds of caching when implementing a GUI to make user interaction appear faster.

PowerShell ISE is still supported, but it is not how the powershell team suggests that you develop scripts going forward - the latest re

[2018-10-15 18:16] markcowl opened #7566 "[Placeholder]: Validation for Generator ' Support in Az"
### Description

Multi-spring placeholder for validating support for generated cmdlets in Az

- [ ] Automation for common methods used by generator
- [ ] Developer experience for generated and task-based cmdlets
- [ ] Developer experience for testing

### Cost: 20

[2018-10-15 18:22] markcowl opened #7567 "[PlaceHolder]: Multi-Api Prototype for Profiles"
### Description
Build multi-api-versio9n prototype modules for Az
- [ ] Client package
  - [ ] Profile
  - [ ] ResourceManager with Authorization
  - [ ] Compute
  - [ ] Network
  - [ ] Storage w/data plane
- [ ] Profiles package
  - [ ] Latest
  - [ ] Hybrid
  - [ ] Stack
  - Allows the user to load cmdlets for a specific profile

### Cost: 60

[2018-10-15 18:31] wacsintegra commented on #5342
It is stuff like this ticket that makes companies be very cautious to using Azure and "features". It appears there is no concern for security by default with your systems.. Why the heck would you ever default to allowing public access to a VM that is created without being specified?! Some admins actually like to have security via NAT and Gateway to lock down systems. I am constantly finding stuff

[2018-10-15 18:34] MiYanni commented on #7564
@viverm Can you take a look at this? It looks like your constructor for `ASRProtectableItem` is expecting there to only be one of something, but in @dguertin's case, it is returning more than one; so, the call to `SingleOrDefault` fails. Did you mean to use `FirstOrDefault` instead?

[2018-10-15 18:45] markcowl opened #7568 "[Placeholder]: Az Version for Hybrid Profile"
### Description

Create an Az module version for the published Hybrid Profile
- [ ] Determine module versiosn for each API (<= Profiel version)
- [ ] Ensure that common code modules conform with Profile
  - [ ] Add new api-version for ResourceManager common module
- [ ] Create branch with Hybrid profile version, with floating profile dependency
- [ ] Publish manageemnt clients as appropriate - det

[2018-10-15 18:50] markcowl opened #7570 "[Placeholder]: Determine breaking common code changes for Az 1.0"
### Description

- Determine necessary common code breaking changes
~~- [ ] Normalize dependencies on non-framework assemblies - one dependency per common assembly (excepting common management assemblies)~~
~~- [ ] Minimize non-breaking surface~~
- [x] Remove SM-specific types
- [x] Add 'AzContext' parameter alias to 'AzureRmContext' parameter

### Cost: 2

[2018-10-15 18:55] bganapa commented on #7199
@markcowl
We also have reports saying  passing the Context to a Job is also broken.. root cause is likely the same?

Agree that enabling context auto  save will make this pattern unnecessary and we have suggested the same.

$context = Get-AzureRMContext;

$vms = get-azurermvm | where {$_.Tags.pool -eq $vmPool} | where ResourceGroupName -eq $rg | sort Name
[code]

[2018-10-15 19:06] markcowl opened #7571 "[Placeholder]: Restructure Repo for Az build"
### Description

This should be executed so as not to interfere with releasing Az 1.0

- [ ] Remove unnecessary files from the preview branch
- [ ] Restructure build arch for developer ease for NetCore

### Cost: 25

[2018-10-15 19:08] MaximoTrinidad commented on #7553
Thx @markcowl!!

[2018-10-15 19:08] markcowl opened #7572 "[Placeholder]: Move all build targets into csproj files"
### Description

All static analysis, packaging, and generation of delivered artifacts should be moved into csproj file, so it cna be accomplished from VS, and so all metadata for a module resides in one place.

### Cost: 40

[2018-10-15 19:12] markcowl opened #7573 "[Placeholder]: Blogging Plan"
### Description

Come up with several topics for team blogs and a plan for driving interest.  The idea is to have a regular cadence of blog posts (1 per sprint or 1 per month).  To let people know about new features.

Consider advertising through Azure Blog, What's new functionality, and other mechanisms

#$## Cost: 8

[2018-10-15 19:40] maddieclayton commented on #7019
Okay let me know if there's anything I can do to help you - it does indeed write to the PowerShell profile.  It creates the alias mapping from Az to AzureRM regardless of whether the module is loaded, and importing the azure modules should not overwrite these aliases.

[2018-10-15 20:03] seanbruck commented on #7517
@markcowl Here you go:

PS C:\Windows\system32> Get-Module -ListAvailable

    Directory: C:\Program Files\WindowsPowerShell\Modules

ModuleType Version    Name                                ExportedCommands
---------- -------    ----                                ----------------
Script     5.3.0      Azure                               {Get-AzureAutomationCertificate, Get-AzureAutomationConnec

[2018-10-15 20:06] maddieclayton commented on #7360
Done

[2018-10-15 20:11] mcruz-QS commented on #7129
Is this an issue with the Module or is it on the back end? I am also experiencing this issue.
6.10.0     AzureRM
5.1.1      AzureRM.Automation
5.6.0      AzureRM.profile

[2018-10-15 20:41] nmallick1 opened #7577 "New-AzureRmWebAppSSLBinding when used with -CertificateFilePath on ASE, uploads the certificate however it is inaccessible to the site."
### Description

Using New-AzureRmWebAppSSLBinding against a site hosted on an App Service Environment (ASE) along with -CertificateFilePath parameter to upload the certificate as well, causes the certificate to be uploaded however it remains inaccessible to the webapp. This subsequently causes the binding assignment to fail.

### Script/Steps for Reproduction

[code]

### Module Version

[code]

[2018-10-15 20:42] MaximoTrinidad commented on #7417
And, the latest release of Az module is now version 0.3.0.

[2018-10-15 20:47] tr1al3x commented on #2605
same..

[2018-10-15 20:53] MaximoTrinidad commented on #7554
Hi @markcowl,

Hum!! Autosave! I'll try that one.

Thanks,
Max

[2018-10-15 21:36] vrdmr commented on #7129
Fix in: #7505.

FYI @avkaur

[2018-10-16 00:13] MiYanni commented on #7577
@nmallick1 Can you try updating to the latest AzureRM and see if the issue persists?

[2018-10-16 08:18] mguirao commented on #7525
@markcowl thanks for your help, an Invoke-AzRestMethod where you can specify the audience, and that generate an access token with that audience would be the best !

The API i'm using "https://main.iam.ad.ext.azure.com/api/UserDetails" is not properly documented, but this is a call that the Azure Portal is doing, so i just mimic it in my script. I have no idea if this is subject to breaking changes

[2018-10-16 08:56] number213 commented on #7524
Yes, it was a mapping issue. Opened PR with fix: https://github.com/Azure/azure-powershell/pull/7585

[2018-10-16 10:47] ShubhamThakkar commented on #2757
I tried to install AzSk with the following command : iwr 'https://aka.ms/azsk/install.ps1' -UseBasicParsing | iex

I am getting the following error :

![image](https://user-images.githubusercontent.com/20641150/47011228-01f91700-d15f-11e8-981a-f038b08f17bd.png)

[2018-10-16 11:51] PoetzelsbergerFranz opened #7587 "Get-AzureRmRoleDefinition : Object reference not set to an instance of an object"
### Description

I'm trying to create custom roles, but it isn't possible to query for AzureRmRoleDefinition.
AzureRMVersion 6.10.0

Issue is the same if I log on with an federated ore an inCloud User (all Global Administrators)
occurs on multible installations
We got the same "Object reference not set to an instance of an object" also for other azurRM CMDLets

Is there an issue with our installat