[2017-03-04 07:37] #2014 closed

[2017-03-04 07:44] cormacpayne commented on #1929
Closing this issue as it appears to have been fixed.

@MasayukiOzawa please feel free to reopen this issue if this is still a problem.

[2017-03-04 07:44] #1929 closed

[2017-03-04 07:45] cormacpayne commented on #1911
Closing as this issue has been resolved.

[2017-03-04 07:45] #1911 closed

[2017-03-04 07:47] cormacpayne commented on #1909
Closing as this has been fixed.

[2017-03-04 07:47] #1909 closed

[2017-03-04 07:59] cormacpayne commented on #1371
Closing this issue due to lack of activity in the last year.

@bradfulton please feel free to reopen this issue if you have any other questions.

[2017-03-04 07:59] #1371 closed

[2017-03-04 08:15] cormacpayne commented on #3487
It looks like the fix is in PR https://github.com/Azure/azure-sdk-for-net/pull/2892

[2017-03-04 08:20] #3446 closed

[2017-03-04 08:23] cormacpayne commented on #3442
Fix has been merged in PR https://github.com/Azure/azure-powershell/pull/3458

[2017-03-04 08:23] #3442 closed

[2017-03-05 08:56] andyjballgit commented on #3180
just restested this and works fine now on v. 3.5.0 of AzureRM.Network 👍

[2017-03-05 22:43] rfunaki opened #3578 "Storage Context Parameter Binding Error with Start-AzureVNetGatewayDiagnostics, Start-AzureVirtualNetworkGatewayDiagnostics"
Cmdlets: Start-AzureVNetGatewayDiagnostics, Start-AzureVirtualNetworkGatewayDiagnostics
PSVersion: 5.1.14393.693
OS Version: 10.0.14393.693
Module Version: 3.5.0

I am trying to initiate a Diagnostics session for a VNet gateway that I am attempting to use for a Site to Site connection, utilizing the Static/Policy type gateway in order to be compatible with a Cisco ASA Peer endpoint.

However, when

[2017-03-05 22:55] rfunaki commented on #3578
As an amendment to the above, I also have tried using different storage containers (one originating from creation with Resource Model, the other created via Service Management/Classic model) - both produced the same results.

[2017-03-06 06:20] Pradebban opened #3579 "AzureChina : New-AzureRmNotificationHubsNamespace fails with Resource unavailable error"
### Cmdlet(s)
New-AzureRmNotificationHubsNamespace

### PowerShell Version
4.0

### Module Version
6.3.9600.17400

### OS Version
6.3.9600.17400

### Description

New-AzureRmNotificationHubsNamespace command fails with **below** error,

New-AzureRmNotificationHubsNamespace : **The resource namespace 'Microsoft.NotificationHubs' is invalid.**
At line:1 char:1
+ New-AzureRmNotificationHubsNamespace

[2017-03-06 06:57] markcowl opened #3580 "BootStrapper module uses AllowClobber with Install-Module, even though it does not existi in all versions of 5.0"
### Description

```Use-AzureRmProfile``` uses ```Install-Module -AllowClobber``` The AllowClobber parameter did not appear until the windows anniversary edition update, so we must make provision for versions of PowerShell 5 that do not have the parameter

[2017-03-06 08:10] weznagwama commented on #1064
Bump for this. Currently, saving custom templates is broken in the portal and non-existent via powershell et .

[2017-03-06 08:35] philhack commented on #3410
@Nking92 have you had any luck with resolving this bug in Powershell?

[2017-03-06 16:10] #1948 closed

[2017-03-06 20:26] markcowl opened #3583 "Update online help system to generate help dlls"
### Description

Need to remove the  dll-Help.xml files from the repo and use the markdown files as the source of truth.

- [x] Add to BUILD target so that dll-Help.xml files are correctly generated and delivered to the correct directory as part of each build.
- [x] Ensure that dll-Help.xml files are also built as part of VS builds.
- [x] Ensure that Validation methods still work, so that we can c

[2017-03-06 20:28] cormacpayne commented on #2922
Closing in favor of https://github.com/Azure/azure-powershell/issues/3583

[2017-03-06 20:28] #2922 closed

[2017-03-06 20:39] cormacpayne commented on #3532
This should be resolved when the fix for https://github.com/Azure/azure-powershell/issues/3583 goes in next release

[2017-03-06 20:40] venky085 commented on #3443
I'm too facing same issue. If I install azure powershell using powershell, New-AzureRmServiceBusNamespace works but Login-AzureRmAccount doesn't. If I install azure powershell using web platform installer or MSI, Login-AzureRmAccount works but New-AzureRmServiceBusNamespace doesn't.

[2017-03-06 22:16] daviburg opened #3585 "[Logic] Get-AzureRmIntegrationAccountCertificate does not support paging"
### Cmdlet(s)
Get-AzureRmIntegrationAccountCertificate

### PowerShell Version
Instructions: to get PowerShell version, type `$PSVersionTable` and look for the value associated with `PSVersion`
February 2017

### Module Version
not relevant

### OS Version
Instructions: to get OS version, type `$PSversionTable` and look for value associated with `BuildVersion`
any

### Description
Get-AzureRmInteg

[2017-03-07 02:53] markcowl commented on #3555
Fixed

[2017-03-07 02:53] #3555 closed

[2017-03-07 02:53] markcowl commented on #3556
Fixed

[2017-03-07 02:53] #3556 closed

[2017-03-07 02:54] markcowl commented on #3557
Fixed.

[2017-03-07 02:54] #3557 closed

[2017-03-07 02:54] markcowl commented on #3302
Fixed.

[2017-03-07 02:54] #3302 closed

[2017-03-07 06:18] lamchester opened #3588 "Need to record tests for BGP route APIs"
## Cmdlet(s)

### PowerShell Version
5.1.14393.206

### Module Version
3.5.0

### OS Version
10.0.14393.206

### Description
Need to record BGP route API test, for https://github.com/Azure/azure-powershell/pull/3553

[2017-03-07 13:25] IoBebe commented on #3391
i'm running into the same issue here. any updates ?

[2017-03-08 18:14] SquirrelAssassin commented on #1896
Azure Automation: Get-AzureRmRoleAssignment with an normal user account that has read permission on  the subscription.

DEBUG: ============================ HTTP REQUEST ============================

HTTP Method:
POST

Absolute Uri:
https://graph.windows.net/0f6687b5-c8f2-4e2e-941a-afe3fe1f2d8e/getObjectsByObjectIds?api-version=1.6-internal

Headers:
x-ms-client-request-id        : 3d1da0fd-19c4-45

[2017-03-08 20:16] iamGavinJ opened #3598 "Set-AzureRmApplicationGatewayBackendAddressPool missing documented param"
### Cmdlet(s)
Set-AzureRmApplicationGatewayBackendAddressPool
New-AzureRmApplicationGatewayBackendAddressPool

### PowerShell Version
5.1.14393.693

### Module Version
3.6.0

### OS Version
10.0.14393.693

### Description
As is currently available via the ARM portal and is documented in Example 3 of the doco https://docs.microsoft.com/en-us/powershell/resourcemanager/azurerm.network/v3.4.0/set-azu

[2017-03-09 02:32] RBACAsk commented on #1896
+ Daniel

Hi,
Are you running this as a  Service Principal or User Account? This is a  known issue when executing using a Service Principal. We are working on a fix.

Thx
Surabhi

From: SquirrelAssassin [mailto:notifications@github.com]
Sent: Wednesday, March 8, 2017 10:15 AM
To: Azure/azure-powershell <azure-powershell@noreply.github.com>
Cc: RBAC Ask <RBACAsk@microsoft.com>; Mention <mention@nor

[2017-03-09 03:15] RBACAsk commented on #1896
+Jean-Marc

From: Surabhi Pandey
Sent: Wednesday, March 8, 2017 6:33 PM
To: Azure/azure-powershell <reply@reply.github.com>; Azure/azure-powershell <azure-powershell@noreply.github.com>; Daniel Dobalian <dadobali@microsoft.com>
Cc: RBAC Ask <RBACAsk@microsoft.com>; Mention <mention@noreply.github.com>
Subject: RE: [Azure/azure-powershell] New-AzureRmADApplication: Access denied to the specified AP

[2017-03-09 14:29] edevil opened #3604 "AzureRM.NetCore.Preview does not have all needed cmdlets"
### Cmdlet(s)

Get-AzureRmAvailabilitySet

### PowerShell Version

Name                           Value
----                           -----
PSVersion                      6.0.0-alpha
PSEdition                      Core
PSCompatibleVersions           {1.0, 2.0, 3.0, 4.0...}
BuildVersion                   3.0.0.0
GitCommitId                    v6.0.0-alpha.16
CLRVersion
WSManStackVersion

[2017-03-09 14:31] RBACAsk commented on #1896
Also, did you try if you have the same issue with the AzureAD PowerShell Module (v2.0) instead of the AzureADrm ones?
(In case you are not familiar with them, here is a script using the AzureAD PowerShell module which automates one of our samples: https://github.com/Azure-Samples/active-directory-dotnet-daemon-certificate-credential/blob/master/Configure.ps1)

I’m not sure if this will help you bu

[2017-03-09 16:17] Fizz-Mo commented on #3578
I can't get it to work either

[2017-03-09 17:53] RBACAsk commented on #1896
To avoid confusion, the cmdlets below deal with directory application roles. The AzureRmRoleAssignment ones deal with Azure RBAC roles.

From: Jean-Marc Prieur
Sent: Thursday, March 9, 2017 6:31 AM
To: Daniel Dobalian <dadobali@microsoft.com>; Surabhi Pandey <Surabhi.Pandey@microsoft.com>; Azure/azure-powershell <reply@reply.github.com>; Azure/azure-powershell <azure-powershell@noreply.github.com>

[2017-03-10 19:02] cormacpayne commented on #3547
Fixed.

[2017-03-10 19:02] #3547 closed

[2017-03-10 19:10] cormacpayne commented on #3426
@twitchax @AWahlqvist Aaron please setup a meeting to discuss current issues with the Azure Automation team

[2017-03-10 19:19] cormacpayne commented on #3425
- Need to update the breaking change document to include this new standard.
- Define a new attribute for obsolete properties that has a message with ample amount of information that reflects the breaking change that will be made in the future
- Replace existing obsolete attributes with this new attribute

[2017-03-11 01:35] #3306 closed

[2017-03-11 01:36] markcowl commented on #3580
Fixed

[2017-03-11 01:36] #3580 closed

[2017-03-11 02:12] markcowl commented on #3544
@ibenbouzid What is the azure powershell cmdlet you are using in this case?

[2017-03-11 02:16] markcowl commented on #3549
@pascalnaber This is due to the whitelisting of the api-version used by the graph client in the cmdlet.  Whitelisting means that only first party applications are allowed to use the api, so that the cmdlets work with user credentials, but not application credentials. This is a duplicate of this issue:  #3407

This is due to be fixed as the new graph api service is pushed out in a few weeks.  Cloai

[2017-03-11 02:16] #3549 closed

[2017-03-11 02:21] markcowl commented on #3550
There are likely two issues at play here.  The first is this issue: #3407.  This is dues to be fixed when a new graph service rolls out in a few weeks.  The second is that your application needs to be authorized to use the graph api.

Note that, if you have the graph object id for the given object, you can bypass this issue by using the object id directly.  You may be able to work around this issu

[2017-03-11 02:21] #3550 closed

[2017-03-11 02:23] markcowl commented on #3578
@rfunaki which version of the storage cmdlets are you using?  This is likely a type version mismatch

[2017-03-11 02:26] markcowl commented on #3579
@Pradebban I believe this is by design.  Either NotificationHubs is not available in Mooncake, it is not available in the rgion you have supplied, or you need to register the resource provider for your subscription.

[2017-03-11 02:26] #3579 closed

[2017-03-11 02:27] markcowl commented on #3585
@pankajsn Please take a look

[2017-03-11 02:29] markcowl commented on #3598
@DeepakRajendranMsft Please take a look

[2017-03-11 02:32] markcowl commented on #3604
You can list availability sets using Get-AzureRmResource, using the resource namespace for availability sets.

Full typed versions of Core cmdlets are coming in the first half of this year.

[2017-03-11 02:32] #3604 closed

[2017-03-11 02:37] markcowl commented on #3501
@karlti The issue is here:

[code]

[2017-03-11 12:06] ibenbouzid commented on #3544
Hi Mark I'm using azure dsc handler is it the right group to ask the question? my DSC module is in the first post.On 11 Mar 2017 2:12 a.m., Mark Cowlishaw <notifications@github.com> wrote:@ibenbouzid What is the azure powershell cmdlet you are using in this case?

—You are receiving this because you were mentioned.Reply to this email directly, view it on GitHub, or mute the thread.

[2017-03-12 05:12] Roblarson opened #3615 "New-AzureRmVirtualNetworkGateway requires you to specify the VPNType parameter for a Ultraperformance ExpressRoute gateway"
### Cmdlet(s)

### PowerShell Version
Instructions: to get PowerShell version, type `$PSVersionTable` and look for the value associated with `PSVersion`

Name                           Value
----                           -----
PSVersion                      5.1.14393.693
PSEdition                      Desktop
PSCompatibleVersions           {1.0, 2.0, 3.0, 4.0...}
BuildVersion                   10

[2017-03-12 07:07] robdmoore commented on #2494
The following worked for me:

[code]

Main issue I have is that I can't seem to use that token for a call to the Azure AD Graph API unless Iset the version to `1.42-previewInternal`, but there is a bug in that version of the API if you use a service principal :P

[2017-03-13 00:40] dvdobrovolskiy commented on #669
+1

[2017-03-13 15:54] MattAllison opened #3617 "Set-AzureRmRecoveryServicesVaultContext is inconsistent with how other services are managed and is also missing a "Get-" partner"
### Cmdlet(s)

Set-AzureRmRecoveryServicesVaultContext

### PowerShell Version

5.1.14409.1005

### Module Version

AzureRM.RecoveryServices 2.6.0

### OS Version

10.0.14409.1005

### Description

The Set-AzureRMRecoveryServicesVaultContext command is inconsistent with other "Context" commands such as Azure Storage.   This pattern doesn't seem to be consistent with most other Azure commands as we

[2017-03-13 18:52] cormacpayne commented on #3615
@DeepakRajendranMsft Hey Deepak, would you mind taking a look at this issue?

[2017-03-13 18:56] cormacpayne commented on #3617
@pragrawa would you mind taking a look at this issue?

[2017-03-13 18:59] cormacpayne commented on #3615
@Roblarson I spoke with Deepak offline - this is a known issue that the Gateway team is working on. We will keep this issue open to track the status of the fix.

[2017-03-13 20:47] markcowl opened #3619 "AzureRM.BootStrapper displays installation message when run in user scope, if modules installed globally"
After installing modules globally, runnign use-azurermprofile from a non-elavated PowerShell window produces this query:

Windows PowerShell
Copyright (C) 2016 Microsoft Corporation. All rights reserved.

PS C:\Users\markcowl> Use-AzureRmProfile -Profile '2017-03-09-profile'
Loading Profile 2017-03-09-profile

Detected AzureRM cmdlets
The Cmdlets from module AzureRM are already present on this dev

[2017-03-13 22:38] twitchax opened #3622 "Autogenerate cmdlet category file."
### Cmdlet(s)
All of them‽

### Description
Generate a mapping file to place cmdlets in categories.

Start with these categories (and add or remove as needed): https://docs.microsoft.com/en-us/cli/azure/.

Use this format as best we can for a mapping file: https://github.com/Azure/azure-docs-cli-python/blob/master/titleMapping.json.

[2017-03-14 00:14] cormacpayne commented on #2861
Fix has been merged into `preview` branch.

[2017-03-14 00:14] #2861 closed

[2017-03-14 00:15] cormacpayne commented on #3186
Fix is in PR: https://github.com/Azure/azure-powershell/pull/3466

[2017-03-14 00:58] solankisamir opened #3623 "Path parameter is optional in Azure powershell but if omitted causes internal server error"
### Cmdlet(s)
Import-AzureRmApiManagementApi

### Module Version

### OS Version
Instructions: to get OS version, type `$PSversionTable` and look for value associated with `BuildVersion`

### Description

### Debug Output
Instructions: to get Debug Output, set `$DebugPreference="Continue"` and then execute the cmdlet or script causing the issue

### Script/Steps for Reproduction

[2017-03-14 12:47] Pradebban opened #3625 "AzureChina : New-AzureRmNotificationHubsNamespace fails with Resource unavailable error"
**Creating this issue, as the original was closed without helping get more information.**

1. Please point to the official documentation which states "Either NotificationHubs is not available in Mooncake, it is not available in the rgion you have supplied"
2. When will this be available in China?

### Cmdlet(s)
New-AzureRmNotificationHubsNamespace

### PowerShell Version
4.0

### Module Version
6.

[2017-03-14 12:52] Pradebban opened #3626 "[AzureChinaCloud] [Re-open]: Get-AzureRmUsage failes with "No Registered Providers" for APIManagement Service"
Old Issue: [https://github.com/Azure/azure-powershell/issues/3204](url)

### Cmdlet(s)
Get-AzureRmUsage

### PowerShell Version
4.0

### Module Version
Module: Manifest 2.0.1 AzureRM.ApiManagement

### OS Version
6.3.9600.17400

### Description

Was able to provision API Management instance, but on the same session am unable to determine the RMUsage with Get-AzurerRMUsage commandlet.

PS C:> **New

[2017-03-14 12:54] Pradebban opened #3627 "[Re-Open] Get-AzureRmResource command does not fail/error out for random Resource Names"
Cmdlet(s)

Get-AzureRmResourceProvider

PowerShell Version

4.0

Module Version

2.0.1 (Azure)
3.0.1 (AzureRM.Resources)

OS Version

6.3.9600.17400

Description

Am trying to use Get-AzureRmResource command to get information on a particular resource.

_Get-AzureRmResource -ResourceType Microsoft.Devices -ResourceName "**Anything**"_

ResourceId                      ResourceName

[2017-03-14 12:55] Pradebban commented on #3627
@markcowl, I disagree with terming this as accepted powershell behavior,

Few examples where the results is not empty (and has meaningful error) when the query fetched nothing.

1. Get-AzureRmResource -ResourceType microsoft.web/sites -ResourceName "12345"
Get-AzureRmResource : ResourceNotFound : The Resource 'microsoft.web/sites/12345' under resource group '' was not found.

2. Get-AzureRmResourc

[2017-03-14 16:33] cormacpayne commented on #3625
@smithab Hey Smitha, would you mind taking a look at this issue?

[2017-03-14 16:47] cormacpayne commented on #3626
@Pradebban I'm going to close this issue and reopen the [previous issue](https://github.com/Azure/azure-powershell/issues/3204) since the appropriate team members are a part of the conversation.

In the future, whenever you would like to reopen a closed issue, you don't have to copy the contents from the old issue and put them into a new one, you can click the "Reopen issue" button at the bottom o

[2017-03-14 16:47] #3626 closed

[2017-03-14 16:52] cormacpayne commented on #3204
Reopening the issue at the [request of the owner](https://github.com/Azure/azure-powershell/issues/3626).

@Pradebban would you mind providing the information that Mark and Samir have requested above?

[2017-03-14 16:55] cormacpayne commented on #3627
@Pradebban I'm going to close this issue and reopen the [previous issue](https://github.com/Azure/azure-powershell/issues/3018)

[2017-03-14 16:55] #3627 closed

[2017-03-14 16:55] cormacpayne commented on #3018
Reopening this issue at the [request of the owner](https://github.com/Azure/azure-powershell/issues/3627).

@markcowl ping

[2017-03-14 19:59] minoseah629 opened #3630 "How to get valid -operationstatuslink to use get-azurermsqldatabaseimportexportstatus"
### Cmdlet(s)
https://github.com/Azure/azure-powershell/blob/fb3835c3a98dfb71b6e305be550c5f73f11cb3d0/src/ResourceManager/Sql/Commands.Sql/help/Get-AzureRmSqlDatabaseImportExportStatus.md#get-azurermsqldatabaseimportexportstatus
### PowerShell Version
Instructions: to get PowerShell version, type `$PSVersionTable` and look for the value associated with `PSVersion`
Name                           Va

[2017-03-14 20:36] amarzavery opened #3631 "Get-AzureRMVM in Azure Stack throwing error as api version imcompatible"
Get-AzureRmVM : The resource type 'virtualMachines' could not be found in the namespace 'Microsoft.Compute' for api
version '2016-03-30'. The supported api-versions are '2015-06-15'.
StatusCode: 404
ReasonPhrase: Not Found
OperationID : '812d1a79-5d4a-4dd2-b4ff-f2b98355bd84'
At line:1 char:1
+ Get-AzureRmVM
+ ~~~~~~~~~~~~~
    + CategoryInfo          : CloseError: (:) [Get-AzureRmVM], ComputeCloud

[2017-03-14 20:37] amarzavery commented on #3631
Originally the customer filed this in xplat cli. So filing one over here.

https://github.com/Azure/azure-xplat-cli/issues/3521

[2017-03-14 21:10] jskii opened #3633 "webapp:Get-AzureRmWebAppSlot parameter "-WebApp" fails due to type"
### Cmdlet(s)
Get-AzureRmWebAppSlot
Get-AzureRmWebApp

### PowerShell Version
PSVersion                      5.1.14393.693

### Module Version
Azure Powershell 3.7.0 release

### OS Version
BuildVersion                   10.0.14393.693

### Description
Attempting to use output object from Get-AzureRmWebApp to direct Get-AzureRmWebAppSlot fails due to a typing issue, although both types appear to b

[2017-03-14 21:42] smithab commented on #3625
We are not enabled in China cloud. It should get enabled later part of May-June time frame this year.

[2017-03-14 23:46] cormacpayne commented on #3630
@akromm Hey Adam, would you mind taking a look at this issue?

[2017-03-14 23:53] cormacpayne commented on #3633
@Nking92 Hey Nicholas, would you mind taking a look at this issue?

[2017-03-14 23:54] akromm commented on #3630
@minoseah629 @cormacpayne If I understand correct you are using a template to do an ARM deployment and you want to determine how much of the deployment is left?

Are you interested in the time left for the entire deployment template, or are you interested in how much time is left for just the SQL database?

[2017-03-15 06:19] janegilring opened #3635 "Get-AzureADUser should return a WhenCreated property"
### Cmdlet(s)
Get-AzureADUser

Let me know if this is not the appropriate place for feedback about the Azure AD module, as I couldn`t find any other feedback channels.

### PowerShell Version
5.1.14393.953

### Module Version
2.0.0.71 (AzureAD)

### OS Version
10.0.14393.953

### Description
No property for the creation date exists on the objects output by Get-AzureADUser. In the older MSOnline mo

[2017-03-15 11:13] tyconsulting commented on #2067
I'm having the same problem when signing in using Service Principal and credential. all AzureRM modules are up to date as of March 2017. According to @Stijnc 's comment on 14th April 2016, this is not supported. are there any plans to support this in the future?

[2017-03-15 12:54] marioinz opened #3636 "Get-AzureRmDisk ignores -ErrorAction SilentlyContinue parameter"
### Cmdlet(s)

$disk = Get-AzureRmDisk -ResourceGroupName $ResourceGroupName -DiskName $Name -ErrorAction SilentlyContinue

### PowerShell Version
5.1.14393.693

### Module Version
3.5.0

### OS Version
10.0.14393.693

### Description

shows error message if not exists (ignoring parameter of silient continue)

[2017-03-15 16:41] cormacpayne commented on #3635
@janegilring Hey Jan, we do not own these cmdlets, but I was able to find a forum where you could potentially post this issue: https://social.msdn.microsoft.com/forums/azure/en-US/home?forum=WindowsAzureAD

Let me know if you need anything else!

[2017-03-15 16:41] #3635 closed

[2017-03-15 16:44] cormacpayne commented on #3636
@hyonholee @singhkays would you mind taking a look at this issue?

[2017-03-15 17:08] inverted360 commented on #3118
I can repro this as well:

New-AzureRmLoadBalancer -Name $lbname `
            -ResourceGroupName $ResourceGroupName `
            -Location $Location `
            -FrontendIpConfiguration $frontendIP `
            -InboundNatRule $inboundnatrule1,$inboundnatrule2 `
            -LoadBalancingRule $lbrule `
            -BackendAddressPool $beaddresspool `
            -Probe $healthProbe

WARNING:

[2017-03-15 22:04] cormacpayne commented on #3630
@vivsriaus Hey Vivek, would you mind taking a look at this issue?

[2017-03-15 22:45] julioct opened #3637 "Get-AzureRmStorageAccountKey always returns "A task was canceled""
### Cmdlet(s)
Get-AzureRmStorageAccountKey

### PowerShell Version
5.1.14393.693

### Module Version

### OS Version
10.0.14393.693

### Description
Calling Get-AzureRmStorageAccountKey -StorageAccountName <storageaccountname> -ResourceGroupName <resourcegroupname> consistently returns this error:

Get-AzureRmStorageAccountKey : A task was canceled.

### Debug Output
DEBUG: 3:41:48 PM - GetAzureSt

[2017-03-15 22:49] coryallegory commented on #3539
`FindAzureRmResource -ResourceGroupNameEquals jobs`

also fails. Current workaround is to make a naked `Get-AzureRmResource` call which returns A LOT of resources, and manually filter clientside.

[2017-03-15 23:00] ravbhatnagar commented on #3539
@coryallegory - This is the solution for this scenario going forward. We don't plan to add support for getting collections using Get-AzureRmResource. For any querying, please use the Find-AzureRmResource. For getting a single resource, please use Get-AzureRmResource.

[2017-03-15 23:03] coryallegory commented on #3539
Can we get the documentation updated to reflect that we can't use the ResourceGroupName parameter by itself for Get-AzureRmResource? That would have saved me a great deal of time as the examples are misleading.

https://docs.microsoft.com/en-us/powershell/resourcemanager/azurerm.resources/v2.0.3/get-azurermresource

[2017-03-15 23:04] coryallegory commented on #3539
Or at least calling `Get-AzureRmResource -?` specifically states that "By default, it gets all resources in the subscription, but you can use the parameters in the cmdlet to filter the results."

[2017-03-15 23:05] ravbhatnagar commented on #3539
yes, I will have the docs updated. Apologies for this. @tfitzmac @vivsriaus @tianoms - Another example where the docs don't match the functionality. Lets fix this.

[2017-03-15 23:06] coryallegory commented on #3539
Thanks! Also I am impressed by the speed of responses :+1:

[2017-03-15 23:06] cormacpayne commented on #3637
@blueww Hey Wei, would you mind taking a look at this issue?

[2017-03-15 23:45] coryallegory opened #3638 "Find-AzureRmResource arbitrarily returns api-version parameter requirement error"
### Cmdlet(s)
`Find-AzureRmResource`

### PowerShell Version
`5.0.10586.494`

### Module Version
`3.7.0`

### OS Version
Windows 10.0.10586.494

### Description
I have a series of resource groups I loop through and call out to `Find-AzureRmResource -ResourceGroupNameEquals $rg.ResourceGroupName -ExpandProperties`. Sometimes, randomly, I will get the following error as a response:

[code]

I can re

[2017-03-15 23:58] coryallegory commented on #3638
I also can't figure out an apiversion that satisfies all the resource types. One version works for one resource trying to get expanded, while fails for another, and vis versa.

[2017-03-16 00:01] coryallegory commented on #3638
This may not be so arbitrary- will need to get more details tomorrow.

[2017-03-16 00:03] coryallegory commented on #3638
Closing this issue since it appears some resource types require that an api-version is specified, but others do not.

Find-AzureRmResource appears to be a bit of a minefield of a call due to this. No idea how one would adequately document it.

[2017-03-16 00:03] #3638 closed

[2017-03-16 03:03] blueww commented on #3637
@julioct :
This issue can't repro with my own account.

I tried to search the server log with the following request id and time in the debug information, but find nothing. (For my own request I can search out on server.)

- x-ms-request-id : d11e8738-20a4-4256-be58-d2224f6398ed
-  Date : Wed, 15 Mar 2017 22:43:08 GMT

The error message is "BadGateway". It seems there are some network issue with yo

[2017-03-16 04:07] Pradebban commented on #3204
Closing this as not-repro / inappropriate as APIManagement does not have VM Core limits.

[2017-03-16 04:07] #3204 closed

[2017-03-16 04:09] Pradebban commented on #3625
@smithab, could you please point me an official document/ link which states this isnt available in China, so that i can share it with the team.

[2017-03-16 04:10] Pradebban commented on #3054
@cormacpayne could you please help on this one.

[2017-03-16 15:42] Pradebban opened #3640 "Get-AzureADUser : Unable to filter certain UserPrincipalName"
### Cmdlet(s)

Get-AzureADUser

### PowerShell Version

4.0

### Module Version

6.3.9600.17400

### OS Version

6.3.9600.17400

### Description

Get-AzureADUser with filter does not work for certain ids.
The same works for few ids randomly.

PS C:\Windows\system32> Get-AzureADUser | ? {$_.UserPrincipalName -eq "Pradebban@hidden.onmicrosoft.com"}
PS C:\Windows\system32> Get-AzureADUser | ? {$_.Use

[2017-03-16 16:25] julioct commented on #3637
It looks like this was related to the recent Azure Storage outage that was resolved a few hours ago. Get-AzureRmStorageAccountKey is now working properly for me. It would be great to present a more meaningful message when this happens as opposed to **A task was canceled**, which is very confusing.

[2017-03-16 22:10] cormacpayne commented on #3640
@Pradebban we do not own these cmdlets (they are found in the `AzureAD` module), but I was able to find a forum where you could potentially post this issue: https://social.msdn.microsoft.com/forums/azure/en-US/home?forum=WindowsAzureAD

Also, you could post this issue here: https://azure.microsoft.com/en-us/support/forums/

Let me know if you need anything else!

[2017-03-16 22:10] #3640 closed

[2017-03-17 02:58] blueww commented on #3637
@julioct

Thanks for the update! It's good to know the issue is resolved.

I agree the error is not easy to understand. But PowerShell itself can't determine why the error happen, and will just report the error from Server or Client library directly.
Thanks for your understanding!

[2017-03-17 02:59] blueww commented on #3637
@cormacpayne
Could you help to close the issue and it's already resolved?
Thanks!

[2017-03-17 04:04] Pradebban commented on #3640
@cormacpayne , thanks for the help!

[2017-03-17 04:10] #3637 closed

[2017-03-17 16:25] pburkholder opened #3642 "FIPS mode breaks AzureRM"
### Cmdlet(s)

Almost all

### PowerShell Version

5.1.14409.1005

### Module Version

2.7.0      AzureRM.profile

3.7.0      AzureRM.Resources

### OS Version

Windows 10
Windows 2012R2

### Description

This works:  `Add-AzureRmAccount -EnvironmentName AzureUSGovernment`

Then pretty much every other command fails like this:

[code]

### Debug Output
 Using `$DebugPreference="Continue"` or `-Ver

[2017-03-17 16:54] cormacpayne commented on #3642
@pburkholder Hey Peter, thanks for filing this issue - we will look into this.

As a follow up, would you mind sending us the debug log you get when you run `Get-AzureRmResourceGroup` (or any of the failing cmdlets) in the session after you enable FIPS? You can do so by setting `$DebugPreference="Continue"`.

[2017-03-17 17:01] markcowl commented on #3642
@pburkholder Please also try this script to get the exact error details:

[code]

Then simply execute ResolveError to get full exception details

[2017-03-17 17:46] pburkholder commented on #3642
Resolve-Error output follows. As noted in the original ticket, `$DebugPreference="Continue"` has no effect:
[code]

[2017-03-17 17:48] pburkholder commented on #3642
(That Resolve-Error function is super-useful! It's going in my $profile)

[2017-03-17 18:16] markcowl commented on #3642
@pburkholder Got it.  This is related to client-side telemetry.  Can you see if you can execute ```Disable-AzureRmDataCollection```  and if so, whether this fixes the issue?

If you can't run the cmdle, you can place a file that looks like this:
[code]

and place it here: ```%AppData%\Roaming\Windows Azure Powershell\AzureDataCollectionProfile.json```

[2017-03-17 18:23] markcowl commented on #3642
@pburkholder On second thought, looking at the code, that isn't going to work, it looks like the hash is created regardless.

[2017-03-17 20:30] cormacpayne commented on #3583
Adding `GenerateHelp.ps1` script to build that does the following:

- Copies the `help` folder (containing the markdown files) for each RP to the output directory
- Generates a new `temp_help` folder for each RP, which contains markdown files generated from `Update-MarkdownHelpModule` (uses the markdown found in `help` and the cmdlet code to create the updated markdown)
- Compares the markdown fil

[2017-03-17 20:35] pburkholder commented on #3642
Ok. Thanks for digging in. We'll wait with bated breath....

[2017-03-18 23:36] rajaprad opened #3644 "Add-AzureRmSqlServerKeyVaultKey : Unable to add KV to sqlserver - NoRegisteredProviderFound"
### Cmdlet(s)
Add-AzureRmSqlServerKeyVaultKey

### PowerShell Version
5.0.10586.117

### Module Version
2.7.0

### OS Version
10.0.10586.117

### Description
Unable to use BYOK for SQL Server as per the changelog: [https://github.com/Azure/azure-powershell/blob/master/ChangeLog.md](url)

Add-AzureRmSqlServerKeyVaultKey : This cmdlet adds an Azure Key Vault key to a Sql Server.

### Error

**Add-Az

[2017-03-20 06:28] niadak opened #3645 "Deploy webjob using resource manager"
Can somebody guide us on the following:

1.	How can I add a new Web Job to an existing Azure ARM Web app using SPN based authentication?

I am able to do the same with certificate based authentication and using New-AzureWebsiteJob command, which is Azure-Service management command.
2.	Can I execute a Service-Management command using SPN based authentication? If so how?
3.	If No, Is there any equiv

[2017-03-20 07:01] markcowl commented on #3525
@SAPIENTechnologies Pester is a test framework, so I guess, inasmuch as testing is sort of prescribed dynamic analysis, that is true.  Static analysis is sufficient to determine whether cmdlets have help.  New-AzureSiteRecoverySite is indeed on the grandfathered list.  Unfortunately, it looks like the duplicated help is really duplicated, and not just misnamed.

[2017-03-20 07:02] markcowl commented on #3525
@sriramvu Can you take a look?  It looks liek help for the ```New-AzureSiteRecoveryVault``` cmdlet was duplicated, adn no help was provided for ```New-AzureSiteRecoverySite```.

[2017-03-20 07:03] markcowl commented on #3532
Closing as duplicate for #3583

[2017-03-20 07:03] #3532 closed

[2017-03-20 07:05] markcowl commented on #3501
@karlti  Closing, as this should be the issue.  If you close all powershell windows first and still see the issue, please reopen.

[2017-03-20 07:05] #3501 closed

[2017-03-20 07:06] markcowl commented on #3487
Fixed

[2017-03-20 07:06] #3487 closed

[2017-03-20 07:07] markcowl commented on #3335
I believe this is fixed now, please reopen if not

[2017-03-20 07:07] #3335 closed

[2017-03-20 07:13] #2391 closed

[2017-03-20 07:20] markcowl commented on #1530
The fix here is to have the cmdlet override the DefaultContext property from AzureRmCmdlet so that it writes the message to the Error stream rather than throwing a terminating error.

[2017-03-20 07:24] markcowl commented on #1826
I believe that, with the YouTube announcements we are doing with each release, this is done now.

[2017-03-20 07:24] #1826 closed

[2017-03-20 07:27] #2393 closed

[2017-03-20 07:31] markcowl commented on #3407
@gitralf This looks unrelated to the issue at hand - the issue you are seeing is likely that you have incompatible versions of the cmdlets installed.  Normally you can resolve this by:

(1) Installing the latest MSI -or-
(2) Updating to the latest AzureRM and Azure modules from the PSGallery.

If you'd like to confirm this is the issue, run

```Get-Module -ListAvailable```

And send the output - m

[2017-03-20 07:33] markcowl commented on #3407
This issue is due to be resolved when the newest version of AAD Graph is released. This is due to heppen in the May release, so moving this to May

[2017-03-20 13:29] andystumph commented on #1327
I'm having a very similar issue. Is this a known bug?

PS C:\Windows\system32> $NGC[1].RoutingWeight = 50

PS C:\Windows\system32> Set-AzureRmVirtualNetworkGatewayConnection -VirtualNetworkGatewayConnection $NGC[1]
Set-AzureRmVirtualNetworkGatewayConnection : 'GatewayType' cannot be null.
At line:1 char:1
+ Set-AzureRmVirtualNetworkGatewayConnection -VirtualNetworkGatewayConnection $NGC ...
+ ~~~~

[2017-03-20 13:40] kpantos opened #3646 "SetAzureDiskEncryption issue"
### Cmdlet(s)
SetAzureDiskEncryption

### PowerShell Version
PSVersion                      5.1.14393.953

### Module Version
Version           : 2.1.0
Name              : Azure
Author            : Microsoft Corporation

### OS Version
BuildVersion                   10.0.14393.953

### Description
When running the command on an already existing RHEL 7.2 VM OS disk the response returned is "Install

[2017-03-20 16:22] pburkholder commented on #3642
Based on https://blogs.technet.microsoft.com/secguide/2014/04/07/why-were-not-recommending-fips-mode-anymore/ and the stack trace, can we change

https://github.com/Azure/azure-powershell/blob/master/src/Common/Commands.Common/MetricHelper.cs#L208

to use something other than `SHA256Managed`? Or do we then run into a slew of Md5 or SHA1 calls that just throw the same error?

[2017-03-20 18:58] markcowl commented on #3642
@pburkholder This is the only place that we use cryptographic functions directly in the common code, and there is a simple fix for this one (using ```Sha256CryptographicProvider``` directly, or using ```Sha256Cng```).

But the issue is that this change has been shipping for about a year, so that it's possible that some specific cmdlets use other Cryptographic functions that are not FIPS compliant.

[2017-03-20 19:02] markcowl opened #3648 "Add Get-AzureRmErrorDetails script to profile module"
### Description

Add a script that would print relevant error details for all errors, and relevant information (like request and response info) to the scrteen.  The script should take an error record as input and default to $Error if no input is specified.  The following script is a good start for general errors:

[code]

Note that for AutoRest and Hyak Errors, we should attempt to get additional

[2017-03-20 19:05] cormacpayne commented on #3644
@akromm Hey Adam, would you mind taking a look at this issue?

[2017-03-20 19:06] markcowl opened #3649 "In default exception handling code for AzureRM, attempt to print better exception message by default"
### Description

By default we simply print the exception message from the exception we catch to the error record.  We want to continue to print this, but we may want to replace the message printed as part of the exception to take into account AUtoRest exception details.  For example, the response information is normally included in the exception, and the message from the response is usually more

[2017-03-20 19:10] cormacpayne commented on #3646
@krkhan @singhkays would you guys mind taking a look at this issue?

[2017-03-20 19:27] akromm commented on #3644
@mihymel Can you please take a look.

[2017-03-20 19:30] rajaprad opened #3650 "Invoke-AzureRmResourceAction returns empty for -Action listConnectionStrings -ResourceType "Microsoft.DocumentDb/databaseAccounts""
### Cmdlet(s)

Invoke-AzureRmResourceAction

### PowerShell Version

5.0.10586.117

### Module Version

2.7.0

### OS Version

10.0.10586.117

### Description

Invoke-AzureRmResourceAction -Action **listConnectionStrings** does not return anything for -ResourceType "Microsoft.DocumentDb/databaseAccounts". There is no error either.

The response body is empty as seen in DEBUG below.

Note: This is

[2017-03-20 20:42] markcowl opened #3651 "Use FIPS-Compliant Sha256 hash function in QOS functions in AzureSMCmdlet and AzureRmCmdlet"
### Description

Short term fix for #3642.

- [x] Use Sha256CryptoProvider or Sha256Cng directly in Qos handling code here: https://github.com/Azure/azure-powershell/blob/dev/src/Common/Commands.Common/MetricHelper.cs#L210
- [x] Verify correct execution of general cmdlets (```Get-AzureRmSubscription```, ```Get-AzureRmStorageAccount```) with FIPS mode enabled

### Cost: 2

[2017-03-20 20:57] markcowl opened #3652 "Design Changes to ServiceManagement library for May release"
### Description

In the May release, the ServiceManagement library must be loadable side-by-side with AzureRM libraries
- [x] No pinned dependency on AzureRM.Profile
  - Create abstractions library and module
  - Place SM adependency on abstractions library
  - Alter SM dependency on Storage to be a minimum version dependency
- [x] Common libraries used by both modules have different assembly iden

[2017-03-20 21:08] markcowl opened #3653 "Require Version change for each change to cmdlet code"
### Description
Document new advice or updating versions, place in documentation folder, and reference from the pull request template.  This advice should include
- [ ] For authentication common code, changes must be additive and change only file version (also change profile module version). Shoudl result in a re-release of profile
- [ ] For cmdlet common code, any change changes assembly identity

[2017-03-20 21:20] markcowl opened #3654 "Update build to use script for documentation mapping file"
### Description

- [ ] Create docuemntation mapping file as part of the Publish build target.
- [ ] Fail the build if a cmdlet without a category is checked in.
- [ ] Create docuemntation for dealing with failures and add to documentation folder.

[2017-03-20 23:07] Pradebban commented on #3644
Thanks for the inputs, I don't see this instructions in the release highlights ( 3.7.0 )/ nor any documentation. Is this available in AzureChinaCloud​ as well as Private preview?

[2017-03-20 23:54] bganapa opened #3656 "[Add-AzureRmEnvironment] Save Environment and context information for another session use"
### Cmdlet(s)
Add-AzureRmEnvironment
### PowerShell Version
V5

### Module Version
1.0.04.3 (Azurestack version)

### Description
Azurestack customers need to do Add-AzureRmEnvironment in each session before they could interact with the cloud. It is a pain to do Add-AzureRmEnvironment (with so many parameters) in each session

The environment info should be persisted in a file by default for loadi

[2017-03-21 04:29] sriramvu commented on #3525
Submitted PR for this issue: https://github.com/Azure/azure-powershell/pull/3647
Have removed the redundant help for New-AzureSiteRecoveryVault and added the required help content for "New-AzureSiteRecoverySite".

[2017-03-21 14:18] jskii opened #3657 "Get-AzureRmWebApp returns "ResourceGroup" string; elsewhere usually "ResourceGroupName""
### Cmdlet(s)
Get-AzureRmWebApp

### PowerShell Version
PSVersion 5.1.14393.693

### Module Version
Azure Powershell 3.7.0 release

### OS Version
BuildVersion 10.0.14393.693

### Description
Generally in using Azure Powershell so far, most objects return "ResourceGroupName" as a string property.  Get-AzureRmWebApp returns the same information as "ResourceGroup" string.  Should be more consistent

[2017-03-21 16:25] cormacpayne commented on #3657
@Nking92 Hey Nicholas, would you mind taking a look at this issue? We have a breaking change release scheduled for the beginning of May, so that would be a good time to make this change if your team decides to do so.

[2017-03-21 16:33] cormacpayne commented on #3650
@vivsriaus Hey Vivek, would you mind taking a look at this issue?

[2017-03-21 17:56] viananth opened #3658 "Module AzureRM.BootStrapper: Get-AzureRmProfile should return an object"
### Cmdlet(s)
Get-AzureRmProfile

### PowerShell Version
Instructions: to get PowerShell version, type `$PSVersionTable` and look for the value associated with `PSVersion`
5.0

### Module Version
0.1.0

### Description
Get-AzureRmProfile [-ListAvailable]

It displays the profiles & associated modules installed (or) available for install. It should return an object that the user can pipe out and wo

[2017-03-21 17:56] viananth commented on #3658
@viananth, @markcowl
Vishnu to work on it.

[2017-03-21 19:14] mathieu-benoit commented on #3389
Agree with @LoulG, could be great if we could have some documentation about how you used and fixed that please @zechariahks or @pomortaz. Thanks!

[2017-03-21 19:26] viananth commented on #3619
@viananth to work on it.

[2017-03-21 19:35] viananth opened #3659 "Module AzureRM.BootStrapper: Design incorporating version schema to ProfileMap.json"
Design adding a version schema to profilemap.json so that if there was any code changes in future, it doesn't break existing code.

For example, if we make some code changes in the bootstrapper module and ship it, it shouldn't break already existing code. ProfileMap.json should have a schema version with which the bootstrapper module should decide which version it should work on.

[2017-03-21 19:35] viananth commented on #3659
Please assign it to @viananth

[2017-03-21 20:19] vivsriaus commented on #3650
@Pradebban It is not clear from the debug traces if the http response body returned from the RP is empty. If it is, please follow up with Microsoft.DocumentDb RP on this, since the powershell cmdlet doesn't control what gets returned by the RP.

[2017-03-21 21:53] jensmh commented on #1817
I'm having the same issue trying to create multiple subnets in an ARM template copy loop- randomly fails on one or more subnets with the "AnotherOpertionInProgress" error message. Looks like there is a maximum concurency of around 4 writes, as mentioned by @nik-shornikov above.

[2017-03-22 00:24] subramp commented on #1068
Did you find any answers to get auth tokens for long running services?

[2017-03-22 00:39] jahmai commented on #1068
I ended up using a Service Principle account instead for operations that take a long time, and a User Account for operations that require it (AzureRmAD operations seem to require a user account since service principles can't be assigned domain admin permissions in the AD).

Add-AzureRmAccount -ServicePrincipal -TenantId $TenantId -ApplicationId $ApplicationId -CertificateThumbprint $CertificateThu

[2017-03-22 01:15] Pradebban commented on #3650
@vivsriaus , i cannot share the debug trace as is due to Client agreements.

Can you please repro this in a test environment may be.

I tried this one too, by changing **_listkeys to listConnectionStrings and nothing gets returned_**. [http://stackoverflow.com/questions/36544224/get-azure-documentdb-primary-key-using-powershell](url)

**Working:**
[System.String]::Format("https://management.azure.

[2017-03-22 01:21] subramp commented on #1068
I did create an SPA to start my operations in Azure.

However, the authentication token I receive via C# is valid just for an
hour. After that, I have to create new token, otherwise my deployments fail
in Azure with the below exception

DEBUG SAT.AutoFLEX.Platform.Azure.AzureRunner - NetworkInterface creation
for VM <> error Microsoft.Rest.Azure.CloudException: The access token
expiry UTC time '3/

[2017-03-22 01:27] jahmai commented on #1068
Sorry I am not sure. I used the creds with Powershell commands and it seems to auto refresh principle tokens so it must be possible.

[2017-03-22 02:06] bmoore-msft commented on #1068
Tokens are good for an hour - the refresh token (which can be used to refresh that hourly token) has a longer lifetime.  When PowerShell does authn with creds, it gets the refresh token and automatically refreshes the auth token when needed.  Visual Studio does the same thing, portal, etc.  And client doing auth, could follow the same pattern.

This issue is about when PowerShell does authn withou

[2017-03-22 02:17] jahmai commented on #1068
Actually this is not what I've observed.

If I use Add-AzureRmAccount and enter credentials at a prompt (I assume this is what you are referring to when you 'authn with creds'), and then execute some very long running task, like deploying a Redis cache, after 1 hour of polling the status of that command it will timeout.
If I use Add-AzureRmAccount -ServicePrincipal which doesn't prompt and uses a

[2017-03-22 02:21] Pradebban commented on #3337
@cormacpayne, any updates on this one please ?

[2017-03-22 02:24] Pradebban commented on #2024
@markcowl  , please let us know if there is an update. Its been nearly an year. Thanks

[2017-03-22 02:25] Pradebban commented on #1793
@markcowl, please let me know if there is any update on this. Thanks

[2017-03-22 02:54] vivsriaus commented on #3337
@pradebban is the resource group under the destination subscription id? Are you trying to move this resource from one subscription to another, or within the same subscription, but across a different resource group?

[2017-03-22 02:56] Pradebban commented on #3337
@vivsriaus, i was trying to move to a different RG within the same subscription.

[2017-03-22 03:01] vivsriaus commented on #3650
@pradebban just to confirm - are you saying that if you make a REST call to list connection strings (without using the Invoke-AzureRmResourceAction cmdlet), you're getting an empty response as well? As I mentioned, the powershell cmdlet just wraps the response to a PSObject and returns; if the REST response is empty, it returns an empty/null object.

[2017-03-22 03:07] vivsriaus commented on #3337
@pradebban if that's the case, why are you specifying the -DestinationSubscriptionId parameter? This link has examples for moving resources within the same sub using powershell: https://docs.microsoft.com/en-us/azure/azure-resource-manager/resource-group-move-resources

[2017-03-22 03:07] Pradebban commented on #3650
@vivsriaus Yes, thats correct.

[2017-03-22 03:20] Pradebban commented on #3337
@vivsriaus , do you mean i cannot use -DestinationSubscriptionId  for moving withing the same subscription?
I dont see that there is any restrictions using this parameter for movements with the same subscription.

[2017-03-22 03:57] vivsriaus commented on #3337
If the destination sub id is the same as the source sub id, then it should work. But if you're just moving within the same sub, you don't need to specify the DestinationSubscriptionId parameter.

[2017-03-22 03:59] vivsriaus commented on #3650
@cormacpayne can you please pull in a document db powershell dev on this? This is clearly not an ARM cmdlet issue based on @pradebban response above

[2017-03-22 04:42] Pradebban commented on #3337
Sure, it was by mistake i used the parameter when trying to move inside the same subscription.
Also i checked the movemen in AzureChinaCloud and it passed. Should have been fixed during the course of this bug.

Closing the issue.
@vivsriaus, Thanks for the quick responses.

[2017-03-22 04:42] #3337 closed

[2017-03-22 05:04] subramp commented on #1068
I am trying to deploy VMs on demand-> Run some activity -> Tear down the
VMs on activity completion.

This happens over and over, within and beyond an hour. All on Azure .net!

After an hour my access tokens expire :(
This requires me to reauthenticate before I proceed.

Any pointers for my scenario would be appreciated.
On Mar 21, 2017 7:17 PM, "jahmai" <notifications@github.com> wrote:

[2017-03-22 15:43] jaredmoo opened #3662 "SQL: missing license headers"
Missing license headers in `src/ResourceManager/Sql/Commands.Sql/Common/Constants.cs` and `src/ResourceManager/Sql/Commands.Sql.Test/Common/Constants.cs`

[2017-03-22 15:49] bmoore-msft commented on #1068
@subramp - if you're acquiring the token yourself (via C#) then that code is responsible for refreshing the token or getting a new one - you can take a look at how the cmdlets do it here: https://github.com/Azure/azure-powershell/tree/dev/src/Common/Commands.Common.Authentication/Authentication

[2017-03-22 18:19] jskii commented on #3633
Note:  This also occurs in other cases I'm finding.

[code]

So looking at this as a problem with the specific case above might be incorrect; something's mishandling the typing of the Get-AzureRmWebApp cmdlet itself somewhere along the way.

[2017-03-22 20:35] jboeshart opened #3665 "Get-AzureStorageBlobContent to variable (Feature Request)"
### Cmdlet(s)
Get-AzureStorageBlobContent
### PowerShell Version
Instructions: to get PowerShell version, type `$PSVersionTable` and look for the value associated with `PSVersion`
all
### Module Version
all
### OS Version
Instructions: to get OS version, type `$PSversionTable` and look for value associated with `BuildVersion`
all
### Description
Currently, you can only use this command to download

[2017-03-22 21:37] ljt91 commented on #3088
+1 - Just hit this bug.

[2017-03-22 21:53] subramp commented on #1068
Just to make sure I am looking at the right file. Are we talking about

https://github.com/Azure/azure-powershell/blob/dev/src/Common/Commands.Common.Authentication/Authentication/ServicePrincipalTokenProvider.cs ?

[2017-03-23 01:41] blueww commented on #3514
@cormacpayne  Would you please help to close this issue, as it's not PowerShell issue, but by design behavior of server.
Thanks!

[2017-03-23 02:41] #3514 closed

[2017-03-23 06:13] takekazuomi commented on #2873
hi there,
Today I got this error. Why has this problem been left for such a long time?

I went on a long journey. Follow me, If you like :D

It seems to be falling here.
Https://github.com/Azure/azure-powershell/blob/dev/src/ResourceManager/Network/Commands.Network/VirtualNetworkGatewayConnection/VirtualNetworkGatewayConnectionBaseCmdlet.cs#L66

Mapping was defined here.
Https://github.com/Azure/a

[2017-03-23 13:35] AWahlqvist opened #3667 "Switch-AzureRmWebAppSlot can't cancel a swap if the slot has been deleted [Need to support cancel Swap if a two phase swap is initiated]"
### Cmdlet(s)
Switch-AzureRmWebAppSlot

### PowerShell Version
5.1.14393.953

### Module Version
AzureRM.WebSites 2.5.0

### OS Version
Azure Automation/Windows 10

### Description
Consider the following scenario:
1. You create a new slot
2. You initiate a swap with preview process (Switch-AzureRmWebAppSlot -SwapWithPreviewAction ApplySlotConfig)
3. The new slot get's deleted for whatever reason

[2017-03-23 13:58] pburkholder commented on #3642
I’ve discovered that I could not reproduce the FIPS error for AzureRM with Win10 Anniversary edition.  This raises several questions:

1.	Have enabled FIPS algorithms changed between Win2012R2 Win10 and Win2016/Win10Anniversary Edition?
2.	If so, how can I find the documentation on what algorithms are available on each platform and
3.	Can the enabled algorithms be back-ported to Win2012R2/Win10.

[2017-03-23 14:15] pburkholder commented on #3642
FYI:  A member of Microsoft support suggested I try the following workaround:

Create a file named powershell.exe.config and place this file where the PowerShell.exe executable is located. It is in %WinDir%\system32\WindowsPowerShell\v1.0 in my computer. The content of this file should look as follows:

[code]

This workaround fails as follows:

[code]

[2017-03-23 16:45] cormacpayne commented on #3665
@blueww would you mind taking a look at this feature request?

[2017-03-23 16:46] cormacpayne commented on #3667
@Nking92 Hey Nicholas, would you mind taking a look at this issue?

[2017-03-23 20:39] bganapa opened #3668 "Save-AzureRmProfile collides with the naming of AzureRm.BootStrapper cmdlets"
### Cmdlet(s)
Save-AzureRmProfile

### Module Version
1.0.4.3 (AzureStack version)

### Description
Get-AzureRmProfile, Install-AzureRmProfile cmdlets are part of AzureRm.BootStrapper

Save-AzureRmProfile is part of AzureRm.Profile

The naming is  confusing

[2017-03-23 20:40] bganapa commented on #3668
cc:@markcowl

[2017-03-23 23:46] bganapa opened #3669 "Azure PS module directory is not included in $env:PSModulePath"
### PowerShell Version
V5

### Module Version
1.2.9 (azurestack version)
### OS Version
Windows server 2016 data center

### Description

After installing the MSI , we see that Azure PS module directory is not included in $env:PSModulePath
We are in need of explicitly loading the modules  specifying the full path

As @markcowl  mentioned the work aoround is to restart the powershell windows as adm

[2017-03-24 00:04] ljt91 commented on #1742
+1 - Just hit this with New-AzureRmRoleAssignment.

[2017-03-24 01:32] blueww commented on #3665
I will look at it and update later.

[2017-03-24 09:16] rolandoldengarm commented on #3386
Seems fixed in current Azure Powershell?

[2017-03-24 10:32] DdenBraver commented on #1803
This restriction still seems to be in place.
Is there any update on this? It feels a bit strange, that the ps1 name and the configuration name should be the same.

[2017-03-24 14:19] sam-cogan commented on #1896
Any update on when we might see a fix for this? We need to be able to create a service principal using a service principal.

[2017-03-24 16:00] RBACAsk commented on #1896
+Surabhi, Hari

The necessary changes in the AAD Graph service have made it into PPE/Dogfood. Our team is working on updating the Powershell cmdlets.

Stefan

From: Sam Cogan [mailto:notifications@github.com]
Sent: Friday, March 24, 2017 7:20 AM
To: Azure/azure-powershell <azure-powershell@noreply.github.com>
Cc: RBAC Ask <RBACAsk@microsoft.com>; Mention <mention@noreply.github.com>
Subject: Re: [

[2017-03-24 17:44] viananth opened #3671 "Module Bootstrapper: checking for the presence of the modules from the msi installer"
### Cmdlet(s)
Uninstall-AzureRmProfile

### PowerShell Version
5

### Module Version
0.1.0

### Description
If Azure Modules were installed using MSI installer, uninstalling via PowerShell console will throw error "No module found that matches the criteria". Uninstall-AzureRmProfile should detect this scenario and provide a friendly error message like "Uninstall using MSI"

[2017-03-24 17:44] viananth commented on #3671
@viananth to work on it.

[2017-03-24 18:47] markcowl commented on #3650
@vivsriaus @ravbhatnagar If this is a service side issue, then you guys on the ARM team, who are responsible for onboarding ARM services,  need to follow up with the service team.  It does not make sense to contact the powershell team for this.

[2017-03-24 18:49] markcowl commented on #3650
@ravbhatnagar Assignign to you as this looks like a service side issue, and we do not ship any DocumentDB cmdlets.  Looks like you guys need to follow upo with the DocumentDB service team on why their service isn't meeting your requirements.

[2017-03-24 18:55] markcowl commented on #3649
@markcowl please add more detail on user scenarios and a candidate design for the new feature

[2017-03-24 23:54] neetus15 opened #3673 "Update-ModuleManifest didn't work as expected."
### Cmdlet(s)

### PowerShell Version
 5.1.14409.1005
Instructions: to get PowerShell version, type `$PSVersionTable` and look for the value associated with `PSVersion`

### Module Version

### OS Version
10.0.14409.1005
Instructions: to get OS version, type `$PSversionTable` and look for value associated with `BuildVersion`

### Description
I added some new cmdlets to an existing project but even

[2017-03-25 01:29] rijethma commented on #3088
facing the same issue, is there any workaround? Please suggest.

[2017-03-27 01:38] wbreza commented on #1524
+1

[2017-03-27 04:55] shuagarw commented on #3088
@danieldobalian Can you please take a look and add the owners for the AD cmdlets.

[2017-03-27 06:54] talido007 opened #3674 "Set-AzureRMVMExtension : Long running operation failed with status 'Failed'."
I am currently trying to add my VM 'atesteu2003' to the domain 'adminsys' for Germany Location and i am getting below error. For Other locations, the code working fine. Kindly help me.

Set-AzureRMVMExtension : Long running operation failed with status 'Failed'.
ErrorCode: VMExtensionProvisioningError
ErrorMessage: VM has reported a failure when processing extension 'atesteu2003dj'. Error message:

[2017-03-27 14:55] jskii opened #3675 "No ability to set "Slot Setting" flag for app settings in Set-AzureRmWebApp"
### Cmdlet(s)
Set-AzureRmWebApp

### PowerShell Version
PSVersion 5.1.14393.693

### Module Version
Azure Powershell 3.7.0 release

### OS Version
BuildVersion 10.0.14393.693

### Description
There appears to not be an option for setting the toggle "Slot Setting" on application settings in the Azure Web Apps through AzureRM powershell.  It would be nice to have that option.

### Debug Output
N/A

[2017-03-28 01:00] glen-richards-aranzgeo commented on #3391
I've hit the same problem trying to automate an upgrade process for our infrastructure.

[2017-03-28 02:05] Pradebban commented on #3650
@cormacpayne @ravbhatnagar, please let us know if there is an update.

[2017-03-28 09:23] kabirbaidhya commented on #1978
This is really crazy.

If the process of generalizing a vm is irreversible, then why isn't there any note on the tutorial that you have in the official docs https://docs.microsoft.com/en-us/azure/virtual-machines/virtual-machines-windows-capture-image. I had to come into this issue to find out that it's irreversible.

The user following these tutorials might not be aware of each and every terminol

[2017-03-28 10:09] MAPMA commented on #1978
Well, "generalize" is not an Azure-specific term, Microsoft always referred to Sysprep as the method to "generalize" a VM. The term itself is a bit of self-explanatory - you're making something that used to be specific to something general, generic.

Recreating the VM using the option -CreateOption Attach on the OS disk should fix this if you didn't run sysprep on the OS.

If you want to create a

[2017-03-28 14:35] YoannGUILLO opened #3677 "Executing New-AzurermResourceLock on Azure Automation results in an error"
### Cmdlet(s)
New-AzurermResourceLock (executed as Service Principal) on Azure Automation

### PowerShell Version
Azure Automation Runbook (PowerShell)

### Module Version
AzureRM.Resources
Version: 3.6.0

### Description
When executing New-AzurermResourceLock in an Azure Automation Runbook an error occured.

### Debug Output
Logging in to Azure...
New-AzurermResourceLock : The pipeline has been s

[2017-03-28 16:02] torbad commented on #3646
I am struggling with the same

[2017-03-28 17:04] makhdumi opened #3679 "No HostNames parameter for Set-AzureRmWebAppSlot"
`Set-AzureRmWebApp` has a HostNames parameter.
`Set-AzureRmWebAppSlot` does not.

Please consider adding it. It defeats the purpose of having these cmdlets if we have to call `Set-AzureRmResource` for everything.

I'd imagine this is a very common scenario when provisioning new Web Apps. See:
http://stackoverflow.com/questions/42209472/azurerm-powershell-how-to-set-a-custom-domain-onto-a-web-app-d

[2017-03-28 17:28] twitchax opened #3680 "Get-AzureRmSubscription should return "enabled" subscriptions only, by default."
### Cmdlet(s)
Get-AzureRmSubscription.

### PowerShell Version
3.7.0.

### Module Version
AzureRM.profile at 2.5.0.

### OS Version
Windows 10.0.15063.0.

### Description
We should add a flag (e.g., `-All` or `-Full`) that lists "disabled" accounts along with "enabled" accounts, but the default should only list "enabled" accounts.

[2017-03-28 17:53] markcowl commented on #3680
What about 'warned' accounts?  What is the rationale for us redacting information by default, rather than allowing the user to filter? It is really, really easy for a user to do somethign liks this:

```Get-AzureRmSubscription | Where {$_.Status -eq "enabled"}```

Note that we already limit the subscriptions that a user can select to those that are 'enabled' or 'warned'.  Also, can you please shar

[2017-03-28 17:55] markcowl commented on #3680
If we decide that we want to do this, we should let customers know ASAP, and then make the change in the next release.

[2017-03-28 18:06] makhdumi commented on #3679
This isn't actually an issue, because HostNames aren't specific to slots.

[2017-03-28 18:06] #3679 closed

[2017-03-28 18:41] twitchax commented on #3680
Makes sense.  Azure CLI 2.0 will likely display a warning.

https://github.com/Azure/azure-cli/issues/2645

[2017-03-28 21:17] viananth commented on #3671
`Uninstall-AzureRmProfile `will attempt to uninstall a module only if it finds it installed (using `get-module`). So "No module found" error means uninstallation failed due to some other reason, not because it's not found. As per discussion with Igor, the error message should be something like "Unable to uninstall module as we did not install it". This covers all the scenarios including modules in

[2017-03-28 21:48] jskii commented on #3675
This is blocking the use of our production workflow, and it would be really nice if somebody from the team could look into whether we're doing something wrong, or a possible workaround.  Thank you!

[2017-03-29 09:03] xingyu217 opened #3686 "Get-AzureRmADApplication Access denied to the specified API version"
VSTS Azure PowerShell step run Get-AzureRmADApplication, it throws {"odata.error":{"code":"Authentication_Unauthorized","message":{"lang":"en","value":"Access denied to the specified API version."}}}.
I found similar issue [New-AzureRmADApplication: Access denied to the specified API version](https://github.com/Azure/azure-powershell/issues/1896), but it closed without solution.

[2017-03-29 09:06] jmprieur commented on #3088
Indeed the **New-AzureRmADUser** cmdlet does not have many parameters. The underlying object model does not seem as rich as the AzureAD one.

For now, I suggest you use the [New-AzureADUser](https://docs.microsoft.com/en-us/powershell/azuread/v2/new-azureaduser) cmdlet which has all the possible parameters.

For this you will need the AzureAD module (not the AzureRM module)
**Install-Module AzureA

[2017-03-29 11:38] randomnote1 opened #3687 "Start-AzureRmVM - Start VMs in Parallel"
### Cmdlet(s)
Start-AzureRmVM

### PowerShell Version
5.1.15063.0

### Module Version
2.8.0

### OS Version
10.0.15063.0

### Description
It would be nice if Start-AzureRmVM could start VMs in parallel. This could be accomplished in one of a few ways:

- Add a wait parameter to the command similar to Restart-Computer.
- Have the Name parameter accept a string array and process the supplied VM name

[2017-03-29 13:19] shenhaizhilong opened #3688 "Get-AzureRmHDInsightJobOutput issue"
### Cmdlet(s)

### PowerShell Version
Instructions: to get PowerShell version, type `$PSVersionTable` and look for the value associated with `PSVersion`

### Module Version

HDInsight 2.7/2.6
### Description
when I execute this cmd in Mooncake, I got below error.

### Debug Output
profile": {
    "user": "admin",
    "jobFile": "wasb://huihdoop-2017-03-29t07-41-13-873z@test.blob.core.chinacloudapi

[2017-03-29 21:07] #3022 closed

[2017-03-29 21:08] #2828 closed

[2017-03-30 15:07] ronbok opened #3691 "Set-AzureRmRecoveryServicesVaultContext -Vault $RSVault"
Deleted.

[2017-03-30 18:25] #3691 closed

[2017-03-30 18:26] twitchax opened #3692 "Azure PowerShell Improvement Discussion"
This issue is meant to evaluate community needs and wishes.  Please comment with suggestions and upvote (thumbs up) comments which we should pay special attention to.

[2017-03-30 18:31] cormacpayne commented on #3675
@Nking92 Hey Nicholas, would you mind taking a look at this issue?

[2017-03-30 18:34] cormacpayne commented on #3677
@ravbhatnagar Hey Gaurav, would you mind taking a look at this issue?

[2017-03-30 18:38] cormacpayne commented on #3686
@shuagarw Hey Shubham, would you mind taking a look at this issue?

CC @RBACAsk

[2017-03-30 19:47] viananth opened #3694 "Module Bootstrapper: Refactoring: Update module to use versions as an array which will have earlier versions"
### Cmdlet(s)
Update-AzureRmProfile, Uninstall-AzureRmProfile

### PowerShell Version
5

### Module Version
0.1.0

### Description
Remove-PreviousVersion & Uninstall functions in the module can be simplified if we refactor them to use profilemap versions as array. This means we will always work with one up-to-date profilemap in cache. This reduces the complexity of maintaining multiple profilemaps

[2017-03-30 19:48] viananth commented on #3694
@viananth to work on it

[2017-03-30 21:02] cormacpayne opened #3695 "Change CmdletToExport and ReleaseNotes in module manifest"
- [ ] Revert changes made to `CmdletToExport` where _every_ cmdlet in a module is listed, rather than "*"
- [x] Make `ReleaseNotes` section empty and populate it with information from the change log during the build (preventing the step that is taking to copy the module manifest from the debug folder back into the repository during the release)

[2017-03-30 23:36] nwarriorch opened #3698 "Login-AzureRmAccount interactive doesn't work on windows server R8"
### PowerShell Version
3.0
### Module Version
3.7.0
### OS Version
Instructions: to get OS version, type `$PSversionTable` and look for value associated with `BuildVersion`
6.2.9200.16481
### Description
Interactive Login does not work. Login seems successful but power shell doesn't login.

### Debug Output
Login-AzureRmAccount : Service returned error. Check InnerException for more details: The u

[2017-03-30 23:57] rajaprad opened #3699 "Get-AzureRmIotHubConnectionString returns bad/incorrect connection string"
### Cmdlet(s)

Get-AzureRmIotHubConnectionString

### PowerShell Version

5.0.10586.117

### Module Version

2.7.0

### OS Version

10.0.10586.117

### Description

Get-AzureRmIotHubConnectionString -ResourceGroupName hidden -Name hidden -KeyName service

**Returns primary connection string which is incorrect**
HostName=hidden.azure-devices.net;**ShareAccessKeyName**=service;SharedAccessKey=axhidd

[2017-03-31 00:11] Pradebban commented on #3699
source of bug: [https://github.com/Azure/azure-powershell/blob/027dcc5c93c78bf6ac744f1ddf0a44bde4b96856/src/ResourceManager/IotHub/Commands.IotHub/Common/IotHubUtils.cs](url)

**IotHubUtils.cs**:
const string IotHubConnectionStringTemplate = "HostName={0};**_ShareAccessKeyName_**={1};SharedAccessKey={2}";

[2017-03-31 02:35] spainja opened #3700 "New-AzureRmApplicationGateway AutoMapperMappingException ApplicationGatewayBackendHttpSettings"
**Cmdlet:** New-AzureRmApplicationGateway

**PowerShell Version:** 5.1.14393.953

**Module Version:** AzureRM 3.7.0

**OS Version:** 10.0.14393.953

**Description:** `New-AzureRmApplicationGateway` generates an `AutoMapperMappingException` as follows:
[code]
The problem appears to be related to the type of the object returned by `New-AzureRmApplicationGatewayBackendHttpSettings` and subsequently p

[2017-03-31 03:09] pshelton-skype commented on #2243
The first access policy below is a user-specific policy, the second is a group-specific policy, and the third is a service-principal-specific policy:
[code]

The group entry doesn't have a `Display Name` property even though the correct name of the AAD group name appears in the portal for all three types of AAD objects:

![keyvault](https://cloud.githubusercontent.com/assets/8740771/24534575/ae217

[2017-03-31 04:13] zteffwong commented on #2661
To Remove assignment need to switch to the desired subscription
 let say I am on subscription A, I can assign role to different resource evening the resource is at subscription B,  but I cannot remove an assignment when I am not at the same subscription with the resource,  Means I selected on subscription  "A" but the resource is at subscription "B", I cannot delete the role assignment which sit o

[2017-03-31 05:27] sriramvu commented on #3525
Closing the issue as PR got merged.
Please let us know if something is missing.
Thank you.

[2017-03-31 05:27] #3525 closed

[2017-03-31 14:38] lpalgarvio commented on #1978
it's not crazy, it's a big f*** up.

[2017-03-31 14:50] jskii commented on #3698
@nwarriorch have you tried logging in using Add-AzureRMAccount?  Does that give the same behavior?

[2017-03-31 17:55] nwarriorch commented on #3698
Yep. Similar error.

Add-AzureRMAccount : Service returned error. Check InnerException for more details: The underlying connection was
closed: An unexpected error occurred on a receive.
At line:1 char:2
+  Add-AzureRMAccount
+  ~~~~~~~~~~~~~~~~~~
    + CategoryInfo          : CloseError: (:) [Add-AzureRmAccount], AadAuthenticationFailedException
    + FullyQualifiedErrorId : Microsoft.Azure.Comman

[2017-03-31 17:59] rohmano opened #3702 "New-AzureKeyVaultCertificatePolicy ignores KeyUsage"
### Cmdlet(s)
New-AzureKeyVaultCertificatePolicy

### PowerShell Version
Instructions: to get PowerShell version, type `$PSVersionTable` and look for the value associated with `PSVersion`

### Module Version

### OS Version
Instructions: to get OS version, type `$PSversionTable` and look for value associated with `BuildVersion`

### Description
New-AzureKeyVaultCertificatePolicy ignores KeyUsage p

[2017-03-31 20:57] erictorbenson commented on #2809
Sorry about the delay - I actually needed to try this again and got debug info this time. Here's the relevant part -- the

[2017-04-01 07:49] takekazuomi commented on #2873
# Shortest reproduction step. #

1. Start new PowerShell session
2. Login-AzureRmAccount
3. Get-AzureRmVM -ErrorAction SilentlyContinue | Out-Null
4. Get-AzureRmVirtualNetworkGatewayConnection -ResourceGroupName *****

I got following errors.
[code]
When not execute step 3 'Get-AzureRmVM'. Everything works fine.

# Root cause: #
AzureRm.Network and AzureRm.Compute use AutoMapper 3.1.1, but AzureRm

[2017-04-01 12:55] yermakovv opened #3716 "Azure Automation Account"
Hi I saw you solved issue from here

https://github.com/darkoperator/Posh-SSH/issues/43

Can you help me with it, I alweys get a same error

New-SSHSession : Session operation has timed out
At line:20 char:15
+ ... shSession = New-SSHSession -ComputerName "40.71.216.**" -Port 22 -Cre ...
+                 ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    + CategoryInfo          : Opera

[2017-04-02 20:52] rodius opened #3717 "webapp:Azure deployments - Slot swapping failed to apply changes to all instances of scaled up AppService"
Our team have came across with 404 responses while running integration tests after a fresh deployment of our API
I have been investigating it and I have found following issues.

I used fiddler to query the endpoint and could reproduce the bug, below are the responses
Fiddler Request

[code]

Success

[code]

Failed

[code]

As you can see, the requests that are failing are hitting another instance

[2017-04-03 13:15] jboeshart commented on #3665
Sorry for the delay, missed your comment here @blueww. In my case I wanted to get JSON content straight out of an NSG Flow Log that is sitting on Azure Storage, parse through the JSON and then upload it to OMS. Presently, I have to send that blob content to a local file, read it back in and then do the parsing. If I could get that blob content straight to a variable it would save the step of havin

[2017-04-03 14:57] lfshr opened #3719 "Some cmdlets return List objects which does not pass through the pipeline 'cleanly'"
### Cmdlet(s)
Get-AzureRmDisk
Get-AzureRmStorageAccountKey

### PowerShell Version
PSVersion                      5.1.14393.953
PSEdition                      Desktop
PSCompatibleVersions           {1.0, 2.0, 3.0, 4.0...}
BuildVersion                   10.0.14393.953
CLRVersion                     4.0.30319.42000
WSManStackVersion              3.0
PSRemotingProtocolVersion      2.3
SerializationVe

[2017-04-03 15:21] mjyeaney opened #3720 "Get-AzureRmResource incorrectly handles Runbook content"
### Cmdlet(s)
`Get-AzureRmResource`

### PowerShell Version
Instructions: to get PowerShell version, type `$PSVersionTable` and look for the value associated with `PSVersion`

[code]

### Module Version
[code]
### OS Version
Instructions: to get OS version, type `$PSversionTable` and look for value associated with `BuildVersion`
[code]
### Description
When running the following command to retreive

[2017-04-03 16:02] ronbok opened #3721 "New-AzureRmAutomationAccount"
### PowerShell Version
Instructions: to get PowerShell version, type `$PSVersionTable` and look for the value associated with `5.1.14393.953`

Can we get some consistency on the naming of resources both in the Portal UI and in PowerShell? Often you can create things in PowerShell that won't validate in the Portal UI. Worse there's no consistency between resources with respect to naming. When a res

[2017-04-03 18:37] AWahlqvist commented on #3675
This functionality is available using [Set-AzureRmWebAppSlotConfigName](https://docs.microsoft.com/en-us/powershell/resourcemanager/azurerm.websites/v2.1.0/set-azurermwebappslotconfigname).

Just add all the app settings (names) you want to make "slot-sticky" as an array in the AppSettingNames-parameter and you're done.

[2017-04-03 18:43] #3186 closed

[2017-04-03 21:40] AlexanderTroup commented on #3692
It would be good to get parity on the Mac version of powershell.  I have a lot of trouble using the cmdlets on mac, and I'm trying to make platform agnostic deployment scripts.

[2017-04-03 23:01] danielstocker opened #3723 "Get-AzureRmRoleAssignment | Access denied to the specified API version | when running as Service Principal"
### Cmdlet(s)
Get-AzureRmRoleAssignment

### PowerShell Version                                                                                                                    5.1.14393.693

### Module Version
2.7.0      AzureRM.Profile
3.7.0      AzureRM.Resources

### OS Version
10.0.14393.693

### Description
When running as a Service Principal Get-AzureRmRoleAssignment yields a cloud except

[2017-04-03 23:06] cparker4486 commented on #3692
I'd like to be able to import/export whole zones with the import being idempotent.

I want to be able to maintain a zone file and just import it any time I need to make a change.

`PS> MyZone_com.dns | Import-AzureRmDnsZone -Zone $zone` would be nice.

[2017-04-03 23:15] markcowl commented on #3723
Duplicate of #3407. Note that you can work around this be rewriting the api version in a DelegatingHandler, by providing the delegating Handler to the client factory like this:

[code]

Here is a sample delegating handler that shows the method - the detection mechanism for requests that need to be rewritten could be more selective:

[code]

Note that, this is due for a permanent fix when the next

[2017-04-03 23:15] #3723 closed

[2017-04-03 23:32] waghpravin14 commented on #3506
I am getting also same error. Any update here. Not sure how logged-in session removing.

**Publish-AzureRmVMDscConfiguration : Run Login-AzureRmAccount to login.**
At line:1 char:1
+ Publish-AzureRmVMDscConfiguration -ConfigurationPath "C:\Personal\Pro ...
+ ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    + CategoryInfo          : InvalidOperation: (:) [Publish-AzureRmVMD

[2017-04-03 23:45] bganapa commented on #3407
@shuagarw  We need the fix for azurestack in the stack-dev branch

[2017-04-04 06:09] intotskie opened #3725 "Unable to work Get-AzureRmRecoveryServicesBackupJob in Powershell"
### Cmdlet
Get-AzureRmRecoveryServicesBackupJob

### PowerShell Version
5

### Modules Version
| ModuleType  | Version | Azure |
| ------------- | ------------- | ------------- |
| Manifest | 1.2.3 | Azure |
| Script | 2.7.0 | AzureRM.profile |
| Script | 2.7.0 | AzureRM.RecoveryServices |
| Script | 2.7.0 | AzureRM.RecoveryServices.Backup |
| Manifest | 3.1.0.0 | Microsoft.PowerShell.Management |

[2017-04-04 12:12] #3674 closed

[2017-04-04 12:12] talido007 commented on #3674
Since i didnt get any response, i am closing this ticket

[2017-04-05 09:13] blueww commented on #3665
@jboeshart
We have opened a task to track the issue and will triage it according to our bandwidth.

Please note, as the blob content might be very big, we will consider to transfer it to a stream (e.g. memory stream) instead of put the text to a variable

[2017-04-05 13:28] YoannGUILLO commented on #3677
Hello, some news about this problem ? It looks like to that problem :
https://github.com/Azure/azure-powershell/issues/3549

[2017-04-05 14:32] alexandair opened #3728 "Is the proper parameter name -Tag or Tags?"
### Cmdlet(s)
AzureRM cmdlets

### PowerShell Version
5.1.14393.953

### Module Version
AzureRM 3.7.0 modules

### OS Version
10.0.14393.953

### Description
 I think we moved from -Tags to -Tag and the majority of cmdlets support both parameter names (parameter alias was a fix), but there is still a bunch of cmdlets with wrong parameter name. "Script/Steps for Reproduction" section contains the l

[2017-04-05 15:04] jboeshart commented on #3665
Thanks @blueww. I'm not familiar with using a stream, how does that impact the usability of the data that is in the blob?

[2017-04-05 18:12] mcollier opened #3730 "Get-AzureRmImage fails to set BlobUri"
The Get-AzureRmImage cmdlet fails to set the StorageProfile.OsDisk.BlobUri property value for an Image based on a VM using Managed Disks.

### PowerShell Version
5.1.15063.0

### Module Version
3.7.0 - AzureRM
2.8.0 - AzureRM.Compute

### OS Version
10.0.15063.0

### Description
The Get-AzureRmImage cmdlet fails to set the StorageProfile.OsDisk.BlobUri property value for an Image based on a VM usi

[2017-04-06 11:03] axelgMS opened #3735 "incorrect warning "Since the VM is created using premium storage....""
### Cmdlet(s)
New-AzureRMVM

### PowerShell Version
Instructions: to get PowerShell version, type `$PSVersionTable` and look for the value associated with `PSVersion`
PSVersion                      5.1.14393.953

### Module Version

### OS Version
Instructions: to get OS version, type `$PSversionTable` and look for value associated with `BuildVersion`
BuildVersion                   10.0.14393.953

[2017-04-06 13:21] sabbadino opened #3736 "Test-AzureRmResourceGroupDeployment validation error when array has a single element"
### Cmdlet(s)
Test-AzureRmResourceGroupDeployment
### PowerShell Version
  5.1.15063.0
### Module Version
(get-module  AzureRM.Resources).Version
3      4      0      -1
### OS Version
  10.0.15063.0
### Description
Given this parameter
 "parameters": {
        "subscribers": {
            "value": [
                {
                    "name": "monitoringSubscription",
                    "filte

[2017-04-06 14:58] jskii commented on #3675
@AWahlqvist so would the desired path be to configure the settings using Set-AzureRmWebApp, and then run them through Set-AzureRmWebAppSlotConfigName afterwards?  Thanks for your help on this.

[2017-04-06 15:29] AWahlqvist commented on #3675
You can do it either way AFAIK. I haven't done extensive testing on this but I know you can:
First add the name of the app setting you want sticky using Set-AzureRmWebAppSlotConfigName (it doesn't validate if the setting actually exists or not, which I think is deliberate for this scenario), and then create the actual setting using Set-AzureRmWebApp and it will become "slot sticky" right away.

or

[2017-04-06 17:14] markcowl commented on #3651
Fixed

[2017-04-06 17:14] #3651 closed

[2017-04-06 17:15] markcowl commented on #3578
Closing for lack of response.  If you are still seeing this issue, please reopen

[2017-04-06 17:15] #3578 closed

[2017-04-06 17:34] jskii commented on #3675
Perfect.  I'll close this issue for now to get it out of the list, and if something misbehaves or needs follow up, I will reopen a ticket.  Thanks again!

[2017-04-06 17:34] #3675 closed

[2017-04-07 06:22] sabbadino commented on #3735
well , close this issue .. instead of removing the second item , I had commented it out .. and this generated the error

[2017-04-07 07:00] axelgMS commented on #3735
@Sabbadino - your comment might not apply to this issue

[2017-04-07 09:19] Zenuka commented on #661
Almost 2 years later, any suggestions to manage webjobs via powershell?

[2017-04-07 18:12] cormacpayne commented on #3642
@pburkholder the fix has been merged and should be available in the latest release of Azure PowerShell (3.8.0)

[2017-04-07 18:12] #3642 closed

[2017-04-07 18:20] cormacpayne commented on #3669
This will be cleared as a part of the msi cleanup.

[2017-04-07 19:01] shahabhijeet commented on #3730
@mcollier I have asked our service team to take a look at this issue.

[2017-04-07 19:03] shahabhijeet commented on #3728
@alexandair thank you so much for reporting this. This is going to help us a lot in drive consistency across our cmdlets.
Assigning to our PM for driving it across RPs

[2017-04-07 20:07] shahabhijeet commented on #3725
@intotskie as you mentioned that this does work sometimes. Could you do the following:
1) Could you try with the latest release of Azure PowerShell 3.8.0

[2017-04-07 20:28] viananth opened #3739 "Module AzureRM.Bootstrapper: Profile returned from Get-AzureRmProfile should be piped to other cmdlets"
### Cmdlet(s)
Get-AzureRmProfile, Update-AzureRmProfile, Use-AzureRmProfile, Uninstall-AzureRmProfile

### PowerShell Version
5

### Module Version
0.1.0

### Description
Get-AzureRmProfile should return profile object that can be consumed by Update, Use & Uninstall cmdltes through piping.

### Script/Steps for Reproduction
Example usage:
Get-AzureRmProfile | Uninstall-AzureRmProfile
Get-AzureRmPr

[2017-04-07 20:40] viananth commented on #3739
@markcowl

[2017-04-07 20:56] degant commented on #3012
Yes this seems like a very useful feature. We just encountered the same and tried using Start Date & End Date for comparison as a workaround.

Would be great to have the ability to check thumbprints of all uploaded certificates on an AAD resource, preferably as a member in the response for Get-AzureRmADAppCredential.

[2017-04-07 21:50] shahabhijeet commented on #3719
@lfshr I believe you were wondering about Get-AzureDisk and not Get-AzureRmDisk (typo maybe?)

[2017-04-07 21:58] lfshr commented on #3719
@shahabhijeet this refers to AzureRm.Storage\Get-AzureRmDisk. Not the classic portal equivalent.

https://docs.microsoft.com/en-gb/powershell/module/azurerm.compute/get-azurermdisk?view=azurermps-3.7.0

[2017-04-08 09:58] lfshr commented on #3719
Beg your pardon. After searching, it's in Compute, not Storage. https://github.com/Azure/azure-powershell/blob/6732a078940ffda7e2a7b47ca7699af925a5deb7/src/ResourceManager/Compute/Commands.Compute/Generated/Disk/DiskGetMethod.cs

[2017-04-08 12:34] lfshr commented on #3719
@shahabhijeet got a fix for Get-AzureRmDisk locally. I'll create a PR for it.

[2017-04-09 18:45] anyasabo opened #3744 "azauto schedule json conversion"
### Cmdlet(s)
`Get-AzureRmAutomationScheduledRunbook`

### PowerShell Version
`5.1.14393.693 `

### Module Version
AzureRM 3.8.0, or rather AzureRM.Automation 2.8.0
### OS Version
10.0.14393.693

### Description
When retrieving a specific azure automation runbook schedule, it appears the cmdlet sometimes has difficulty parsing the returned JSON. The json looks to be valid, so seems to be an issue

[2017-04-09 18:54] jonsabo commented on #3744
Update:
I was trying to create an easy script to reproduce it, and I noticed I was unable to. It looks like if you create it a schedule with a parameter like `"04:00:00"`, the posh sdk escapes it at least and actually sends `"\"04:00:00\""`. This does not error out and the json returned from the service when pulling it is also escaped. This seems silly though, I can't see a reason for why these mu

[2017-04-09 19:04] jonsabo commented on #3744
Also verified that if you schedule a runbook in the portal, when you retrieve it via the api it comes as a nested string
[code]

So at this point I am not sure if it is a bug in the SDK, or a bug with the service. It seemed at first like a bug with the SDK, since the JSON the service was returning was valid. But maybe the service specifies that parameter values need to be nested strings, and is ju

[2017-04-10 02:56] mcollier commented on #3730
@shahabhijeet The more I think about this, the more I think it is **not** a bug (esp. as it relates to Manged Disks). For an Managed Disk Image, you shouldn’t really be concerned with the underlying blob. The blob is only necessary when you need to copy the Image to another region or subscription. And for that scenario, one would likely be better off (currently) working with snapshots.

[2017-04-10 06:43] markcowl opened #3746 "NetCore conversion for core modules"
### Description

Move core set of modules to build side-by-side in .Net Core and .Net Desktop.  Core modules include:

- [x] Profile
- [x] Resource Manager
- [x] Storage Management (not data plane)
- [x] Websites
- [x] Compute
- [x] Network
- [ ] Sql
- [ ] Storage Data
- [x] KeyVault
- [ ] Batch
- [x] Automation

The work should begin with updating the psm1 module definition to allow loading neces

[2017-04-10 17:14] gangadhar01a opened #3747 "Service Principle"
### Cmdlet(s)
I am using Azure CLI from powershell and able to log into azure account using service principle, this avoids me to access account interactively.
Can I get the same functionality using Azure-powershell?
We run most of the Azure scripts using Rundeck which runs the Azure scripts without user intervention. Therefore, it's significant for me to access Azure account and run the commands/s

[2017-04-10 21:47] 4c74356b41 commented on #3318
no answer?

[2017-04-10 21:49] 4c74356b41 commented on #1968
I honestly don't see value in this, maybe for small templates, but I have templates at 500 lines and more, it would be a nightmare to construct them in PS + I have some pretty weird login in most of those so, I see why they are hesitating to work on this, would be nice to have, but meh

[2017-04-10 22:14] cormacpayne commented on #3699
@rkmanda Hey Roopesh, would you mind taking a look at this issue?

There is a [pull request](https://github.com/Azure/azure-powershell/pull/3743) opened by @totosan that has a potential fix for this issue. Would you mind taking a look at that as well?

[2017-04-10 22:20] cormacpayne commented on #3700
@DeepakRajendranMsft Hey Deepak, would you mind taking a look at this issue?

[2017-04-10 22:23] cormacpayne commented on #3702
@pomortaz Hey Pooneh, would you mind taking a look at this issue?

[2017-04-10 22:29] cormacpayne commented on #3716
@yermakovv the cmdlets `Invoke-SSHCommand` and `New-SSHCommand` that you mentioned are not located in this repository - they can be found in the [Posh-SSH repository](https://github.com/darkoperator/Posh-SSH).

Please feel free to open an issue in the `Posh-SSH` repository with this information.

[2017-04-10 22:29] #3716 closed

[2017-04-10 22:33] cormacpayne commented on #3719
@lfshr thanks for creating pull requests to fix these issues! We will make sure the teams who own these cmdlets take a look at these changes and sign-off

[2017-04-10 22:35] cormacpayne commented on #3720
@ravbhatnagar Hey Gaurav, would you mind taking a look at this issue?

[2017-04-10 22:38] cormacpayne commented on #3735
@singhkays Hey Kay, would you mind taking a look at this issue?

[2017-04-10 22:39] cormacpayne commented on #3736
@ravbhatnagar Hey Gaurav, would you mind taking a look at this issue?

[2017-04-10 22:53] rkmanda commented on #3699
fix looks good.

[2017-04-10 23:51] cormacpayne commented on #259
Closing this issue due to a lack of activity. Please feel free to re-open this issue if you are still using the RDFE-based Website cmdlets and continue to see the same issue.

[2017-04-10 23:51] #259 closed

[2017-04-10 23:55] cormacpayne commented on #186
Closing this issue as `New-AzureRoleAssignment` is no longer a cmdlet. Please check out the `New-AzureRmRoleAssignment` cmdlet, which has `PrincipalId` as a parameter.

[2017-04-10 23:55] #186 closed

[2017-04-11 00:04] cormacpayne commented on #347
Closing this issue as `Get-AzureADGroup` is no longer a supported cmdlet. Please feel free to try the [`Get-AzureRmADGroup`](https://github.com/Azure/azure-powershell/blob/dev/src/ResourceManager/Resources/Commands.Resources/help/Get-AzureRmADGroup.md) cmdlet and see if the problem has been resolved.

[2017-04-11 00:04] #347 closed

[2017-04-11 00:04] cormacpayne commented on #336
Closing this issue as `Get-AzureADGroup` is no longer a supported cmdlet. Please feel free to try the [`Get-AzureRmADGroup`](https://github.com/Azure/azure-powershell/blob/dev/src/ResourceManager/Resources/Commands.Resources/help/Get-AzureRmADGroup.md) cmdlet and see if the problem has been resolved.

[2017-04-11 00:04] #336 closed

[2017-04-11 00:05] cormacpayne commented on #366
Closing this issue as `Get-AzureADGroup` is no longer a supported cmdlet. Please feel free to try the [`Get-AzureRmADGroup`](https://github.com/Azure/azure-powershell/blob/dev/src/ResourceManager/Resources/Commands.Resources/help/Get-AzureRmADGroup.md) cmdlet and see if the problem has been resolved.

[2017-04-11 00:05] #366 closed

[2017-04-11 00:11] cormacpayne commented on #458
Closing this issue due to a lack of activity. Please feel free to re-open this issue if you are still having issues with `Get-AzureApplicationGatewayConfig`

[2017-04-11 00:11] #458 closed

[2017-04-11 00:12] cormacpayne commented on #97
This appears to have been fixed. Closing the issue.

[2017-04-11 00:12] #97 closed

[2017-04-11 00:16] cormacpayne commented on #622
Closing this issue due to a lack of activity. Please feel free to re-open the issue if you still have any questions.

[2017-04-11 00:16] #622 closed

[2017-04-11 00:24] cormacpayne commented on #564
Closing this issue due to a lack of activity. If you are still seeing this error, please feel free to re-open this issue.

[2017-04-11 00:24] #564 closed

[2017-04-11 00:24] cormacpayne commented on #564
Closing this issue due to a lack of activity. If you are still seeing this error, please feel free to re-open this issue.

[2017-04-11 00:29] cormacpayne commented on #857
Closing this issue as EventHub has released their own set of cmdlets. Please feel free to re-open this issue if you have any other questions.

[2017-04-11 00:29] #857 closed

[2017-04-11 00:33] cormacpayne commented on #867
The cmdlet `New-AzureRedisCache` no longer exists, but `New-AzureRmRedisCache` does, and has `EnableNonSslPort` as a `bool` parameter instead of a switch. I am going to close this issue due to a lack of activity; @pcgeek86 please let me know if this should be re-opened and we will contact the corresponding team to take a look.

[2017-04-11 00:36] cormacpayne commented on #868
The cmdlet `New-AzureRedisCache` no longer exists, but `New-AzureRmRedisCache` does, and has the same sizes mentioned above in the validate set for the `Size` parameter. I am going to close this issue due to a lack of activity; @pcgeek86 please let me know if this should be re-opened and we will contact the corresponding team to take a look.

[2017-04-11 00:36] #868 closed

[2017-04-11 00:38] cormacpayne commented on #866
@pcgeek86 Hey Trevor, it appears that this parameter will be [deprecated in an upcoming release](https://github.com/Azure/azure-powershell/blob/dev/src/ResourceManager/RedisCache/Commands.RedisCache/Commands/NewAzureRedisCache.cs#L86), so I am going to close this issue 😄

[2017-04-11 00:38] #866 closed

[2017-04-11 02:39] cormacpayne commented on #1166
This has been fixed. Closing this issue.

[2017-04-11 02:42] intotskie commented on #3725
For now I am not getting the error. I don't know what is the cause of the issue. But will get back if the error occurs.

[2017-04-11 02:50] cormacpayne commented on #1357
This has been fixed. Closing this issue.

[2017-04-11 02:50] #1357 closed

[2017-04-11 02:54] cormacpayne commented on #1549
This has been fixed. Closing this issue.

[2017-04-11 02:54] #1549 closed

[2017-04-11 03:01] cormacpayne commented on #1095
It appears this issue has been resolved. Closing this issue.

[2017-04-11 03:01] #1095 closed

[2017-04-11 03:02] cormacpayne commented on #1715
The documentation for these cmdlets have been updated to reflect the valid values for the `Protocol` parameter. Closing this issue.

[2017-04-11 03:02] #1715 closed

[2017-04-11 03:05] cormacpayne commented on #1759
Closing this issue as it seems this has been resolved. Please feel free to re-open this issue if you have any other questions.

[2017-04-11 03:05] #1759 closed

[2017-04-11 03:07] cormacpayne commented on #6
Closing this issue as there appears to be `*-AzureRmServiceBusSubscription` and `*-AzureRmServiceBusTopic` cmdlets available in the `AzureRM.ServiceBus` module

[2017-04-11 03:07] #6 closed

[2017-04-11 03:17] cormacpayne commented on #1885
Closing this issue as this seems to have been resolved. Please feel free to re-open this issue if you have any other questions.

[2017-04-11 03:20] cormacpayne commented on #765
Closing this issue due to a lack of activity. Please feel free to re-open this issue if the problem has not been solved or you have any other questions.

[2017-04-11 03:20] #765 closed

[2017-04-11 03:29] cormacpayne commented on #1840
Closing this issue due to lack of activity. Please feel free to re-open this issue if you have any questions.

[2017-04-11 03:29] #1840 closed

[2017-04-11 03:36] cormacpayne commented on #1163
This has been fixed. Closing this issue.

[2017-04-11 03:36] #1163 closed

[2017-04-11 06:57] cormacpayne commented on #645
Closing this issue due to lack of activity. Please feel free to re-open this issue if you are still having this problem or have any questions.

[2017-04-11 06:57] #645 closed

[2017-04-11 10:14] sabbadino commented on #3736
Well, it turns out I did not actually removed the second item .. but I just commented it out .. (using vs studio editor) .. and this was the reason of the error.
Enrico

[2017-04-11 13:59] shenhaizhilong commented on #3688
@cormacpayne  @shefaliv   any  progress?

[2017-04-11 16:53] #2638 closed

[2017-04-11 16:54] cormacpayne commented on #2837
This has been fixed.

[2017-04-11 16:54] #2837 closed

[2017-04-11 16:59] cormacpayne commented on #2927
I believe this issue has been resolved with the addition of the breaking change tool in StaticAnalysis.

[2017-04-11 16:59] #2927 closed

[2017-04-11 17:35] cormacpayne commented on #1901
[This has been fixed.](https://github.com/Azure/azure-powershell/blob/dev/src/ResourceManager/Profile/Commands.Profile/Context/SaveAzureRMContext.cs#L34)

[2017-04-11 17:35] #1901 closed

[2017-04-11 17:46] letmaik opened #3749 "Use Azure Batch with account key only without login"
### Cmdlet(s)
Get-AzureRmBatchAccountKeys

And in extension:
New-AzureBatchJob
New-AzureBatchTask
...

### PowerShell Version
5

### Module Version
3.8

### OS Version
10.0.14393.953

### Description
It is not possible to use the Azure Batch cmdlets just with an account name and key. Instead `Get-AzureRmBatchAccountKeys` has to be invoked which requires that there is an active login session.

To m

[2017-04-11 18:08] MattAllison commented on #906
Update?

[2017-04-11 19:04] rajaprad opened #3751 "Get-AzureRmTrafficManagerProfile does not expose tags / Unable to add tags to Traffic Manager Profiles"
### Cmdlet(s)
Get-AzureRmTrafficManagerProfile

### PowerShell Version
5.0.10586.117

### Module Version
2.7.0

### OS Version
10.0.10586.117

### Description
1. Get-AzureRmTrafficManagerProfile does not expose tags.
2. Adding tags from the portal does not work for Traffic Manager Profiles.
3. Set-AzureRmTrafficManagerProfile, do not have tags parameter exposed.

PS C:\Windows\system32> Get-AzureR

[2017-04-11 19:17] shefaliv commented on #3688
This is assigned to @epkalyanr.

[2017-04-11 19:38] bmilbauer opened #3752 "Get-AzureRMOperationalInsightsSavedSearchResults doesn't return full search results when retrieving ServiceMap data."
### Cmdlet(s)
Get-AzureRmOperationalInsightsSavedSearchResults

### PowerShell Version
Instructions: to get PowerShell version, type `$PSVersionTable` and look for the value associated with 5.1.14409.1005

### Module Version
3.8.0

### OS Version
10.0.14409.1005

### Description
Get-AzureRMOperationalInsightsSavedSearchResults doesn't return full search results when retrieving ServiceMap data. I'm

[2017-04-11 20:16] Keldandorin commented on #3578
I do have the same problem trying to do the logging described in link in first post.
Azure.Storage is version 2.8.0 and AzureRM.Storage is version 2.8.0.

[2017-04-11 21:13] lonnieherring opened #3753 "Get-AzureRmStorageAccountKey"
### Cmdlet(s) Get-AzureRmStorageAccountKey

### PowerShell Version
Instructions: to get PowerShell version, type `$PSVersionTable` and look for the value associated with `PSVersion`
PSVersion 5.1.14393.206
 PSEdition Desktop
 PSCompatibleVersions {1.0, 2.0, 3.0, 4.0...}
 BuildVersion 10.0.14393.206
 CLRVersion 4.0.30319.42000
 WSManStackVersion 3.0
 PSRemotingProtocolVersion 2.3
 SerializationVers

[2017-04-11 21:18] lonnieherring commented on #3753
Cmdlets Get-AzureRmStorageAccountKey
PowerShell Version
Name                           Value
----                           -----
PSVersion                      5.1.14393.206
PSEdition                      Desktop
PSCompatibleVersions           {1.0, 2.0, 3.0, 4.0...}
BuildVersion                   10.0.14393.206
CLRVersion                     4.0.30319.42000
WSManStackVersion              3.0
PSR

[2017-04-11 22:59] kpratik16 commented on #1524
+1

[2017-04-11 23:03] kpratik16 commented on #1524
It was due to invalid dns cache for me. Flushing out dns cache fixed it.

Command:   ipconfig /flushdns

[2017-04-11 23:39] solankisamir opened #3755 "Add Support for Adding AAD Groups in ApiManagement"
### Cmdlet(s)

### PowerShell Version
3.8

### Module Version

### OS Version

### Description
New-​Azure​Rm​Api​Management​Group is missing support for creating AAD Groups

### Debug Output

### Script/Steps for Reproduction

[2017-04-12 11:21] doctordns commented on #1885
Well - it has NOT actually been resolved. There is an issue,  Get-AzureResourceGroupGalleryTemplate is gone. There is vague mention of new cmdlets, but I can't see them.

Feel free to close an issue when it's resolved. It may not really be appropriate until the actual new cmdlet5s are delivered.

[2017-04-12 11:25] guillemsola opened #3757 "JsonADDomainExtension cannot join domain, Error code 1332"
### Cmdlet(s)
Set-AzureRMVMExtension

### PowerShell Version
5.1.14393.953

### Module Version

### OS Version
10.0.14393.953

### Description
I have an VNet with a DC server and I'm creating new VM that I want to join to the domain. The machine creation has nothing in particular but is attached to this case. [template.json.txt](https://github.com/Azure/azure-powershell/files/916286/template.json.

[2017-04-12 11:26] doctordns commented on #1885
And as an aside, shouldn't the closing of an issue be agreed top by the person who raised it?
I raised it because there was MSFT material that referenced a now-removed cmdlet.
Do I need to re-open this issue?

[2017-04-12 13:47] Keldandorin commented on #3578
Found the problem. Hade some older modules installed.

[2017-04-12 16:25] letmaik opened #3758 "Retrieve Batch job preparation task execution info"
### Cmdlet(s)
Get-AzureBatchJob

### PowerShell Version
5

### Module Version
3.8

### OS Version
Windows 10

### Description
https://docs.microsoft.com/en-us/rest/api/batchservice/list-the-status-of-the-job-preparation-and-job-release-tasks-for-a-job

I'd like to access the information described on that page but could not find a way to do that. Is that correct and can that be implemented?

[2017-04-12 23:06] dchauran opened #3760 "Create NuGet package for Commands.Common.Authentication"
### Cmdlet(s)
N/A

### PowerShell Version
N/A

### Module Version
N/A

### OS Version
N/A

### Description
We have a significant dependency on the Microsoft.Azure.Common.Authentication from the old SDK, however that is no longer being maintained and the functionality has moved here. I would like to see a NuGet package of the libraries that were moved from that SDK to this project, as updates to th

[2017-04-13 13:55] smereczynski commented on #2554
Hi,
This issue is still present in 6.0.0-alpha18 (MacOS X 10.12.4). Not clean install (update).

[2017-04-13 15:07] ronbok opened #3763 "Test-AzureRmDnsAvailability"
Something broke for sure.  This cmdlet has been working fine until today. v.3.6

$CheckDNS = Test-AzureRmDnsAvailability -DomainNameLabel $Name.ToLower() -Location $AzureRegion -Verbose

Now it keeps returning this error when PowerShell is called from a batch file:

powershell.exe -ExecutionPolicy bypass -file ....

Test-AzureRmDnsAvailability : Run Login-AzureRmAccount to login.
At C:\GitHub\...\

[2017-04-13 15:48] ronbok commented on #3763
This is the direct result of how you install v3.6.  If you install it from PSGallery instead of the .msi this error will occur.  If you install v3.6 from the .msi its not an issue.  I'm looking for an explanation of why this should be different depending on the install method.  Thanks.

[2017-04-13 15:55] baseif commented on #2336
+1
The obvious problems with this way of doing things are:
Someone needs to type the cleartext password which means:
it needs to be known to anyone who provisions the environment and how do I feed it into an automated environment deployment?  If I store the password in a parameter… ???????

[2017-04-13 16:38] sdwheeler opened #3764 "Missing cmdlet help files in 3.8 release"
### Cmdlet(s)
Obsolete: Save-AzureRmProfile is renamed to Save-AzureRmContext
Obsolete: Select-AzureRmProfile is renamed to Import-AzureRmContext

The Markdown files were never generated for the new cmdlet names.

### Module Version
AzureRM 3.8.0
AzureRM.Profile 2.8.0

[2017-04-13 16:39] SquirrelAssassin commented on #1665
Im seeing this issue from Azure Automation only.  From my local machine it works fine.  I tried different version of azurerm.profile module version 2.5 and 2.8 in Azure Automation.  This was working then it seems yesterday it stopped working across multiple tenants.  I have tested this in 3 different automation accounts across two completely separate tenants.   Both SPN's only have access to a sin

[2017-04-13 16:41] sdwheeler opened #3765 "Release notes for AzurePS 3.8.0 are unclear"
The release notes say the following:

ServiceManagement
- Add initiate maintenance PowerShell cmdlet.
- Add Maintenance Status field to Get-AzureVM response

It sounds like there is a new cmdlet but it is not named. It is actually a new parameter for existing cmdlets.

[2017-04-13 17:15] markcowl commented on #3699
@rkmanda, please reply with a review on the fix - we cannot merge this without approval from the iothub team

[2017-04-13 17:18] ronbok opened #3766 "New-AzureRmLoadBalancer"
-Tag is the wrong object type of HASHTABLE and needs to be updated to be compliant with all the other ARM Resources.

Sorry, this is wrong.  Everything is fine.

[2017-04-13 19:13] markcowl commented on #3765
Fixed.

[2017-04-13 19:13] #3765 closed

[2017-04-13 20:56] inverted360 commented on #3118
Hi Deepak,

I upgraded to AzureRM 3.8 today and still receiving error:

$lb = AzureRM.Network\New-AzureRmLoadBalancer `
                    -Name $lbname1 `
                    -ResourceGroupName $ResourceGroupName `
                    -Location $Location `
                    -FrontendIpConfiguration $frontendIP `
                    -BackendAddressPool $beaddresspool `
                    -Prob

[2017-04-13 21:16] cormacpayne opened #3770 "webapp:Fix skipped test "Test-CloneNewWebAppAndDeploymentSlots""
Skipping [Test-CloneNewWebAppAndDeploymentSlots](https://github.com/Azure/azure-powershell/blob/dev/src/ResourceManager/Websites/Commands.Websites.Test/ScenarioTests/WebAppTests.cs#L75) test in the Websites module due to a known issue with the clone feature that causes this test to fail.

The test is failing when trying to create a cloned web app from the [Websites client](https://github.com/Azure

[2017-04-13 21:26] nwarriorch opened #3771 "New-AzureRmRoleAssignment doesn't throw an error when subnet doesnt exist."
### Cmdlet(s)
New-AzureRmRoleAssignment

### PowerShell Version
3.0

### Module Version
3.7.0

### OS Version
6.2.9200.16481

### Description
Tried to assign a role to a scope at subnet. When the subnet doesn't exist the role assignment doesn't throw an error.
### Debug Output
none
### Script/Steps for Reproduction
New-AzureRmRoleAssignment -ServicePrincipalName $applicationname  -RoleDefinitionNa

[2017-04-13 22:27] DeepakRajendranMsft commented on #3118
Spoke to @ljt91 offline and is resolved. @inverted360, i believe yours is a different issue. Could you please open a new ticket. Also, can you tell how how you are creating the $frontendip, beaddrespool. inboundnatrule etc.

We should do a better job at error message here. but as a self help, can you reduce the number of parameters and try. it will easier to figure out what is causing the error.

[2017-04-13 22:27] #3118 closed

[2017-04-14 10:06] lfshr commented on #2085
+1 this request. The portal supports this feature, so I think the Cmdlet should support it.

[2017-04-14 10:29] lfshr opened #3773 "Request: Add-AzureRmAutomationModule, Remove-AzureRmAutomationModule and Set-AzureRmAutomationModule should support Wait parameter"
### Cmdlet(s)
`Set-AzureRmAutomationModule`

### PowerShell Version
|Name|Value|
|------|-------|
|PSVersion          |            5.1.14393.1066|
|PSEdition            |          Desktop|
|PSCompatibleVersions     |      {1.0, 2.0, 3.0, 4.0...}|
|BuildVersion         |          10.0.14393.1066
|CLRVersion           |          4.0.30319.42000
|WSManStackVersion      |        3.0
|PSRemotingProtoco

[2017-04-14 11:24] ronbok opened #3774 "Add-AzureRmAutoscaleSetting"
v3.6

Add-AzureRmAutoscaleSetting -Location $AzureRegion -Name "AutoScale" -ResourceGroup $AzureRGName -TargetResourceId $VMScaleSet.Id -AutoscaleProfiles $VMSSProfileCfg

Why can we not create more than one VMSS rule, on separate scale sets, with the same name?  This will fail if you have two VMSS instances and name the rule "AutoScale" the same name.

[2017-04-14 12:52] ronbok commented on #3774
Additionally why are these rules not deleted when you delete a scale set?  They hang around and the prevent you from using the same name.

[2017-04-14 14:08] lfshr opened #3775 "Add-AzureRmAutomationModule and Set-AzureRmAutomationModule 'ContentLink' parameters should have the same name."
### Cmdlet(s)
`Add-AzureRmAutomationModule`
`Set-AzureRmAutomationModule`
### PowerShell Version
|Name|Value|
|--------|--------|
|PSVersion|5.1.14393.1066|
|PSEdition|Desktop|
|PSCompatibleVersions|{1.0, 2.0, 3.0, 4.0...}|
|BuildVersion|10.0.14393.1066|
|CLRVersion|4.0.30319.42000|
|WSManStackVersion|3.0|
|PSRemotingProtocolVersion|2.3|
|SerializationVersion|1.1.0.1|

### Module Version
| Name |

[2017-04-14 14:49] blarsonrp commented on #1586
I am getting this same error.

`start-azurerm
Select-AzureRmSubscription -subscriptionname "Test OMS"
$airesources = Get-AzureRmResource -ResourceGroupName testgroup-oms-rg -ResourceType microsoft.insights/alertrules

$properties = Get-AzureRmResource -ResourceGroupName testgroup-oms-rg -ResourceType microsoft.insights/alertrules -ResourceName catalogs-wbtst-testgroup-oms-ai-b16b2acd-fbb1-4f17-aed

[2017-04-14 16:05] silverl opened #3776 "GetAzureAutomationScheduledRunbook fails when schedule has credential parameters"
### Cmdlet(s)
`Get-AzureRmAutomationScheduledRunbook`

### PowerShell Version
[code]
### Module Version
`Get-Module` reports version of `AzureRM.Automation` is 2.7

### OS Version
`10.0.15063.138`

### Description
[I logged this](https://github.com/azureautomation/runbooks/issues/14) because the Automation Team's script was failing on `Get-AzureRmAutomationScheduledRunbook` when the schedule had a

[2017-04-14 16:11] jonsabo commented on #3776
I ran into the same issue recently as well in https://github.com/Azure/azure-powershell/issues/3744

In both cases it looks like the the sdk is expecting nested strings for the values.

[2017-04-14 16:14] silverl commented on #3776
Hi, @jonsabo. Thanks. Looks like we're both hitting the same issue.

[2017-04-14 16:45] cormacpayne commented on #3747
@gangadhar01a there are a few of parameter sets for `Add-AzureRmAccount` that allow you to login using a service principal (with or without a certificate, and with or without a subscription name/ID)

[Here is an example from the help for `Add-AzureRmAccount` showing how to use service principal to login](https://github.com/Azure/azure-powershell/blob/dev/src/ResourceManager/Profile/Commands.Profil

[2017-04-14 16:48] cormacpayne commented on #3751
@vladca Hey Vlad, would you mind taking a look at this issue?

[2017-04-14 17:05] cormacpayne commented on #3753
@lonnieherring would you mind installing the latest version of Azure PowerShell and try to repro this error? When you do, please set `$DebugPreference="Continue"` so we are able to get the debug output from the calls

[2017-04-14 17:09] cormacpayne commented on #3757
@singhkays Hey Kay, would you mind taking a look at this issue?

[2017-04-14 17:10] cormacpayne commented on #3758
@matthchr Hey Matt, would you mind taking a look at this issue?

[2017-04-14 17:15] cormacpayne commented on #3764
@sdwheeler help for these cmdlets have been added in PR https://github.com/Azure/azure-powershell/pull/3655

[2017-04-14 17:16] #3766 closed

[2017-04-14 17:36] cormacpayne commented on #3771
@shuagarw Hey Shubham, would you mind taking a look at this issue?

[2017-04-14 17:47] matthchr commented on #3758
Hi @letmaik - we don't currently have a cmdlet that provides this information, but we can look into adding it for the next release which should be in roughly 1 month.

Until then if you need a workaround you can call the API using the C# code (see [here](https://docs.microsoft.com/en-us/dotnet/api/microsoft.azure.batch.joboperations.listjobpreparationandreleasetaskstatus?view=azurebatch-6.1.0#Micr

[2017-04-14 17:48] cormacpayne commented on #3775
@safeermohammed Hey Safeer, would you mind taking a look at this issue?

[2017-04-14 17:58] cormacpayne commented on #3744
@safeermohammed Hey Safeer, would you mind taking a look at this issue?

[2017-04-14 17:58] cormacpayne commented on #3776
@safeermohammed Hey Safeer, would you mind taking a look at this issue?

[2017-04-14 18:11] sphibbs commented on #3763
@ronbok can you run the following script and paste the output after the error. This will help us diagnose the issue. Thanks

[code]

[2017-04-14 18:13] sphibbs commented on #3760
We are not going to update or release an old hyak based SDK. We are looking into adding some of this functionality to the new auth sdk.

Check out microsoft.rest.clientruntime.azure.authentication. It has some of the functionality you are looking for.

[2017-04-14 18:13] #3760 closed

[2017-04-14 18:16] sphibbs commented on #3753
@lonnieherring can you run get-module -listavailable. It appears you have multiple versions of the profile module so you could have a dependency mismatch.

[2017-04-14 18:19] sphibbs commented on #3752
@twitchax we need a contact for operational insights.

[2017-04-14 18:21] #3747 closed

[2017-04-14 18:24] sphibbs commented on #3668
Fixed in 3.8

[2017-04-14 18:24] #3668 closed

[2017-04-14 18:24] dchauran commented on #3760
Thanks, will take a look. We mostly use the region URL helpers as we have not found another library that serves that function. Do you happen to know if it is implemented there or elsewhere/

From: Scott Phibbs [mailto:notifications@github.com]
Sent: Friday, April 14, 2017 11:14 AM
To: Azure/azure-powershell <azure-powershell@noreply.github.com>
Cc: Derek Chauran <dchauran@microsoft.com>; Author <a

[2017-04-14 18:25] sphibbs commented on #3656
Context persistence.

[2017-04-14 18:26] singhkays commented on #3774
Sorry @sphibbs, I don't own this area. Adding @gatneil & @gbowerman since this seems related to VMSS.

[2017-04-14 18:36] gatneil commented on #3774
You can't have two autoscale settings of the same name in the same resource group because an autoscaleSetting is a resource just like any other: it must be unique per its type within the resource group.

And the reason they don't get deleted when the target resource is deleted is similar: it's its own separate resource. Some folks would want the settings deleted along with the target resource, whi

[2017-04-14 20:24] twitchax commented on #3752
Sent mail!

[2017-04-14 20:30] singhkays commented on #3757
@cormacpayne This should be looked at by the extension team

[2017-04-14 21:32] guillemsola commented on #3757
Hi guys,

To my surprise I recreates machines and then adding them to the domain using the azure template join-domain several times with success. I launched the join domain template from the github link directly in azure and filling values in the UI.

As said this works well after creating machines but I couldn't make it work either as a json template or PS command.

In any way logs don't really h

[2017-04-15 04:15] safeermohammed commented on #3744
REST API expects the Parameter values to be json serialized object. The reason for this is the parameter value can be a PSObject which can be deserialized in runbook.

The first case the cmdlet failed with error "Invalid JSON primitive:" because it tried to deserialize primitive string expecting the value to be json. Ideally the return value from Service for this case should have been json and the

[2017-04-15 04:21] safeermohammed commented on #3776
Yes, looks like the cmdlet was expecting json value and was trying to deserialize the value (Convert-FromJson) hence the error "Invalid JSON primitive"

Will take a look

[2017-04-15 04:24] safeermohammed commented on #3775
@vrdmr Lets try to get this change with your updates

[2017-04-15 05:01] rajaprad opened #3778 "ErrorAction preference does not take effect for Get-AzureRmResource of ResourceType Microsoft.DocumentDb/databaseAccounts"
### Cmdlet(s)

Get-AzureRmResource

### PowerShell Version

4.0

### Module Version

### OS Version

6.3.9600.17400

### Description

Error action preference does not take effect in Get-AzureRmResource of ResourceType Microsoft.DocumentDb/databaseAccounts.

PS C:\Windows\system32> Get-AzureRmResource -ResourceType Microsoft.DocumentDb/databaseAccounts -ResourceName "pradebban
" -ResourceGroupName

[2017-04-15 05:03] Pradebban commented on #3751
@cormacpayne , @markcowl  - is there any update on this pls

[2017-04-15 05:04] Pradebban commented on #3650
@cormacpayne @ravbhatnagar , is there any update ?

[2017-04-17 04:31] mathieu-benoit opened #3779 "New-AzureRmWebAppSlot - "New-AzureRmWebAppSlot : Cannot find ServerFarm with name ." error"
### Cmdlet(s)
New-AzureRmWebAppSlot

### PowerShell Version
5.1.14393.1066

### Module Version
(Get-Module AzureRM.Websites).Version
2      2      0      -1

### OS Version
10.0.14393.1066

### Description
My goal is to duplicate a WebApp on one new Slot (under this same WebApp). The associated App Service plan has its SKU as Premium.
For that, when I run the cmdlet New-AzureRmWebAppSlot I got thi

[2017-04-17 04:34] mathieu-benoit commented on #3779
Any idea what I missed?

[2017-04-17 13:03] ronbok commented on #3774
This is the standard Microsoft mantra and talking out of both sides of their mouth.  First there's an 800 limit in the number of RG's per subscription.  Then the mantra is to limit the number of subscriptions.  Then there's the management and naming of all of these RGs from an RBAC perspective in an automated fashion.  Most clients end up with simple RGs like 'Development','Test', 'QA', 'Productio

[2017-04-17 13:05] ronbok commented on #3774
My point being...RGs are MORE about RBAC than they are about Life Cycle of the resources within them.

[2017-04-17 13:49] sdwheeler commented on #3765
@markcowl - when will this show up in the current release notes (both the master changelog and the release notes for the release)? We also need to update the release notes in the docs repo.

[2017-04-17 16:34] SeanFeldman opened #3780 "New-​Azure​Rm​Service​Bus​Namespace doesn't allow messaging units for the premium tier"
### Cmdlet(s)
`New-​Azure​Rm​Service​Bus​Namespace`

### PowerShell Version
5.1.15063.0

### OS Version
Windows 10, 10.0.15063.0

### Description

It it possible to set the messaging units value when creating a new ASB namespace on a premium tier, but impossible to accomplish the same using [PS cmdlet](https://docs.microsoft.com/en-us/powershell/module/azurerm.servicebus/new-azurermservicebusnames

[2017-04-17 16:42] cormacpayne commented on #3779
@mathieu-benoit Hey Mathieu, this is a known issue and has been reported to the Websites team. They are hoping to get a fix out for the next Azure PowerShell release on May 10th. I am going to close this issue in favor of the few issues (that I'll link to below) that we currently have open that are tracking this bug. Please let me know if you have any questions.

_Opened issues:_
https://github.co

[2017-04-17 16:42] #3779 closed

[2017-04-17 17:01] cormacpayne commented on #3475
Fixed in https://github.com/Azure/azure-powershell/pull/3777

[2017-04-17 17:01] #3475 closed

[2017-04-17 18:33] gatneil commented on #3774
So, folks can always choose to use resource groups in whatever way they see fit, but their use as a lifecycle management tool is an explicit benefit and design decision (see number 1 in the list of important factors to consider when defining your resource group): https://docs.microsoft.com/en-us/azure/azure-resource-manager/resource-group-overview#resource-groups. This is probably one of the reaso

[2017-04-17 18:39] mathieu-benoit commented on #3779
Looks good, thanks @cormacpayne for these details. Look forward for this fix, thanks!

[2017-04-18 01:40] gregjhogan opened #3790 "Add -IsFullObject to Set-AzureRmResource"
I want to pass a complete object into `Set-AzureRmResource` (don't wrap it in an object with a property "properties").  This isn't currently supported for `Set-AzureRmResource` but it is supported for `New-AzureRmResource` by specifying `-IsFullObject`

Here is what I am trying to call (which works if I reply the HTTP request without the "properties" wrapper):
[code]

[2017-04-18 07:23] twitchax commented on #1463
Closing in favor of [Azure/azure-docs-powershell#274](https://github.com/Azure/azure-docs-powershell/issues/274).

[2017-04-18 07:23] #1463 closed

[2017-04-18 10:03] jmarsik opened #3792 "Publish-AzureRmVMDscConfiguration creates unusable ZIP archive when module is present in multiple PSModulePath directories"
### Cmdlet(s)
Publish-AzureRmVMDscConfiguration

### PowerShell Version
5.1.14393.953

### Module Version
AzureRM.Compute version 2.9.0

### OS Version
10.0.14393.953

### Description
When you try to create ZIP archive with resources (modules, configuration itself, ...) for DSC configuration using the Publish-AzureRmVMDscConfiguration (or try to create ZIP archive and publish it to Azure storage)

[2017-04-18 10:06] jmarsik commented on #3792
There is another description of the same issue here: http://stackoverflow.com/questions/35604231/publish-azurermvmdscconfiguration-create-archive-with-duplicate-and-nested-modul

And possible workaround solution here (not tried): http://www.codegist.net/snippet/powershell/publish-cazurermvmdscconfigurationps1_ivnovi_powershell

[2017-04-18 12:49] guillemsola commented on #3757
Still working on this. If I create two separate and disconnected templates I can first, provision machines and then launch another JSON template to join in the domain. I orchestrate both from a single PS1 script with two New-AzureRmResourceGroupDeployment one for each template.

It may be that it is not possible to do this in a single execution?

[2017-04-18 14:42] TaraMeyer commented on #1463
@twitchax  why is this an issue in the docs repo?  This fix must be made upstream in the MDs in your source repo in order for this fix to flow into future releases.  Additionally, I don't even know who the contact is for this module or what module this cmdlet belongs to.

[2017-04-18 16:56] cormacpayne commented on #3523
Removed in PR https://github.com/Azure/azure-powershell/pull/3565

[2017-04-18 16:56] #3523 closed

[2017-04-18 18:35] cormacpayne commented on #3362
Closing in favor of https://github.com/Azure/azure-powershell/issues/3583

[2017-04-18 18:35] #3362 closed

[2017-04-18 19:15] ikanni opened #3793 ""Login-AzureRmAccount -ServicePrincipal -Credential" is not working in AzureAutomation sandbox"
### Cmdlet(s)
Login-AzureRmAccount -ServicePrincipal -Credential

### PowerShell Version
PSVersion                      5.0.10514.2

### Module Version
CommandType     Name                                               Version    Source
-----------     ----                                               -------    ------
Alias              Login-AzureRmAccount                               2.8.0

[2017-04-18 19:24] markcowl commented on #3010
We are moving toward requiring PowerShell 5, so requiring PowerShell Gallery should not eb an issue

[2017-04-18 19:24] #3010 closed

[2017-04-18 19:24] twitchax opened #3794 "Create a feedback cmdlet similar to `az feedback`."
### Cmdlet(s)
N/A.

### PowerShell Version
N/A.

### Module Version
N/A.

### OS Version
N/A.

### Description
Four questions:
1. On a scale from 0 (lowest) to 10 (highest), how likely are you to recommend Azure PowerShell to a friend or colleague?
2. What does Azure PowerShell do well?
3. Where could Azure PowerShell improve?
4. If you would like to join our insiders program and receive tips, tri

[2017-04-18 19:28] markcowl commented on #796
Closing for lack of response.  Please reopen if yoiu are still seeing this issue.

[2017-04-18 19:28] #796 closed

[2017-04-18 19:32] markcowl commented on #3673
WIll be resolved in #3695

[2017-04-18 19:32] #3673 closed

[2017-04-18 19:37] markcowl opened #3795 "Break up module assemblies with more than one RP"
### Description

Break up the AzureRM.Resources module into AzureRM.Resources and AzureRM.Authorization
AzureRM.Authorization should contain Authorization and Graph cmdlets

### Cost: 4

[2017-04-19 07:12] adityapenmetsa opened #3800 "Set-AzureRmApplicationGateway throws "Object reference not set to an instance of an object" the first time it runs after "Add-AzureRmApplicationGatewayHttpListener""
### Cmdlet(s)
$appgateway = Add-AzureRmApplicationGatewayHttpListener -ApplicationGateway $appgw -Name $backendAddressPoolName -FrontendIPConfiguration $fipconfig01 -FrontendPort $fp01 `
												      -Protocol Https -HostName $hostName -RequireServerNameIndication true -SslCertificate $cert

 $UpdatedAppGw = Set-AzureRmApplicationGateway -ApplicationGateway $appgateway
### PowerShell Version

[2017-04-19 13:06] martimartin commented on #3735
i just add this line on my script before deploy vm;

$stDiagName="StorageAccountNameForDiagnostic"
Set-AzureRmVMBootDiagnostics -VM $VirtualMachine -Enable -ResourceGroupName $resourceGroupName -StorageAccountName $stDiagName

[2017-04-19 18:05] doctordns commented on #1885
Will the **Get-AzureResourceGroupGalleryTemplate ** cmdlet come back in some form or another?

[2017-04-19 23:44] seansaleh commented on #1166
@cormacpayne Can you please link to the commit where it was fixed and what it was changed to?

[2017-04-19 23:47] cormacpayne commented on #1166
@nmackenzie @seansaleh oops, I misread the issue and thought it had been resolved. That's my fault. Let me re-open the issue.

[2017-04-20 08:59] LukeDearden commented on #1524
I use this to trap it. Seems to be an intermittent problem
[code]

[2017-04-20 10:21] erobinson-pb opened #3802 "Package 'xxx' failed to be installed because: The process cannot access the file 'xxxxx' because it is being used by another process."
### Cmdlet(s)
Install-Module AzureRM

### PowerShell Version
5.0.10586.117

### Module Version
ModuleType Version    Name
---------- -------    ----
Manifest   3.1.0.0    Microsoft.PowerShell.Management
Manifest   3.1.0.0    Microsoft.PowerShell.Utility
Binary     1.0.0.1    PackageManagement
Script     1.0.0.1    PowerShellGet

### OS Version
10.0.10586.117

### Description
Failure on installatio

[2017-04-20 10:23] erobinson-pb commented on #3802
Those files that are 'in use' can be deleted manually without any issue, but the problem persists.  I've tried clearing temp files, rebooting, etc.  FWIW, I seem to get the same issue when running Update-Module but with other files.  I am running powershell as administrator.

[2017-04-20 17:17] mrichman opened #3803 "Get-AzureRMWebApp fails when running from TFS release task"
Getting this error, even though `Get-AzureRMWebApp` works on the build agent machine from the PS command prompt:

`2017-04-20T17:06:11.8602453Z ##[error]The term 'Get-AzureRMWebApp' is not recognized as the name of a cmdlet, function, script file, or operable program. Check the spelling of the name, or if a path was included, verify that the path is correct and try again...[sic]`

Installed on the

[2017-04-20 20:03] markcowl commented on #3654
Close as duplicate

[2017-04-20 20:03] #3654 closed

[2017-04-20 20:06] markcowl commented on #3425
Will make this so post-build, since this will be the next opportunity for obsoleting parts of the API

[2017-04-20 20:09] markcowl commented on #3753
Closing for lack of response.  Please reopen if you see a recurrence

[2017-04-20 20:09] #3753 closed

[2017-04-20 20:18] markcowl opened #3804 "Update Release Tools to Release only modules that have changed"
### Description

- [ ] Decide on a mechanism for determining whether a module has changed or not
  - Current Version in target gallery versus module version
- [ ] Update Publish script to push modules only if there is a change
- [ ] Add pester tests for script publishing

### Cost: 6

[2017-04-20 20:39] markcowl commented on #3434
closing as absolete

[2017-04-20 20:46] markcowl opened #3805 "Additional Testing for Authentication Scenarios and cmdlet loading"
### Description

- [ ] Rerun all live authentication scenarios
- [ ] Verify offline scenarios for storage and other data planes
- [ ] Create multiple dummy versions of modules and verify authentication
- [ ] Beef up installation smoke tests to include one live cmdlet invocation from each ARM RP
- [ ] Bug Bash?

### Cost: 4

[2017-04-20 20:48] markcowl commented on #3656
### Cost: 6

[2017-04-20 20:52] markcowl opened #3806 "Add Invoke-AzureRmRestMethod cmdlet"
### Description

Cmdlet in the AzureRm.Profile module to use the ClientFactory to make authenticated calls to an endpoint in the environment using HttpClient (we *do not* want this cmdlet to wrap the Invoke-RestMethod cmdlet)

- [ ] Cmdlet allows setting characteristics of the Http Request per Invoke-RestMethod
  - [x] Method
  - [x] Uri
  - [x] Body
  - [x] Headers
  - [x] Include default headers

[2017-04-20 20:58] markcowl commented on #3656
- [ ] Use the new facility for named contexts to allow saving multiple contexts to a known location
- [ ] New cmdlets for removing a named context
- [ ] New cmdlet to select a context
- [ ] Cmdlets that change the context automatically write to known location
- [ ] Profile provider reads the context from the known location
- [ ] Cmdlets take a context object, or a context name

[2017-04-20 21:46] markcowl opened #3807 "Implement set validation for location parameter"
### Description

Obtain the provider namespace and type to get the list of available locations, and provide these as a validationset for the Location parameter in the base cmdlet.

- [x] Create caching dictionary for provider locations in an environment
- [x] Get locations at runtime and add as a validate set on the Location parameter through dynamic parameters
- [x] Add tests using cached data to

[2017-04-20 21:56] markcowl opened #3808 "Implement Default Resource Group"
### Description

Add a cmdlet to set the default resource group, and dynamically make resource group parameter optional if a default resource group is set.

- [x] Add Set-AzureRmResourceGroup to set a default resource group
- [x] Automatically set default resource group when a new resource group is created
- [x] Make resource group optional if a default resource group is set through dynamic parame

[2017-04-20 22:00] markcowl opened #3809 "Add ResourceId parameter set to each cmdlet"
### Description

Define a 'ById' parameter set for all ARM cmdlets that take values from the pipeline by resource id.  Implement in AzureRmCmdlet and create this parameter set side-by-side with parameter sets that accept RG and resource name.

### Cost: 4 (for common code portion)

[2017-04-20 22:01] markcowl opened #3810 "Shorten cmdlet names"
### Description

Shorten cmdlet nouns, add the default noun through module defintion, and look at a consistent aliasing structure

### Cost: 4

[2017-04-20 23:27] markcowl commented on #2873
This should be fixed by #3715.  The fix will go out in the May release.

[2017-04-20 23:55] cormacpayne commented on #3617
@MattAllison would you mind providing more details about the pattern you mentioned previously?

[2017-04-21 14:26] lfshr opened #3814 "Import-AzureRmAutomationDscConfiguration timeout with 'Import-DscResource -Name'"
### Cmdlet(s)
Import-AzureRmAutomationDscConfiguration

### PowerShell Version
Name           |                Value
----                |           -----
PSVersion       |               5.1.14393.1066
PSEdition                      Desktop
PSCompatibleVersions      |     {1.0, 2.0, 3.0, 4.0...}
BuildVersion         |          10.0.14393.1066
CLRVersion           |          4.0.30319.42000
WSManSt

[2017-04-21 14:32] lfshr commented on #3773
@markcowl @safeermohammed @eamonoreilly any thoughts?

[2017-04-21 16:55] markcowl opened #3815 "Create Migration Guide and Breaking Changes list for May Release"
### Description

Since there are breaking changes in this release, we ened to prepare for them:

- [x] Go through the current Obsolete attributes in the repo and ping each service team about whtehter the break is happening this release
- [x] Make sure that RPs with breaking changes add the appropriate sections to the braking changes section of their docuemntation
- [ ] Create a migration guide for

[2017-04-21 17:23] pburkholder commented on #2494
Just to be explicit for the noob, here's how to get a token to make a call to list all the resourceGroups (you'd normally use `Get-AzureRMResourceGroup`, but just showing a simple example in this case:

[code]

[2017-04-21 18:15] cormacpayne commented on #3669
Closing this issue in favor of https://github.com/Azure/azure-powershell/issues/2220

[2017-04-21 18:15] #3669 closed

[2017-04-21 19:27] markcowl opened #3816 "Update clientruntime and build targets for PowerShell this release"
### Description

Need to update to client runtime version 2.3.6 and need to update the build target for all of our projects to 4.5.2

### Cost: 4

[2017-04-21 19:44] TheDude72 opened #3817 "Set-AzureRmApiManagementPolicy : ValidationError: Resource was modified since last retrieval"
### Cmdlet(s)
Set-AzureRmApiManagementPolicy

### PowerShell Version
3.7.0
### Module Version

### OS Version
Windows 10

### Description
When I try to call the Set-AzureRmApiManagementPolicy PowerShell commandlet to update a policy in Azure API Management, I get the following error:

Set-AzureRmApiManagementPolicy : ValidationError: Resource was modified since last retrieval.

This error only occ

[2017-04-21 21:47] solankisamir commented on #3817
The issue is due to the Headers in the request missing **If-Match** Header.  It should be set to `*`
`Headers:
If-Match                      : *`

$PSVersionTable
`PSVersion                      5.1.15063.138`
`BuildVersion                   10.0.15063.138`
`CLRVersion                     4.0.30319.42000`
`WSManStackVersion              3.0`
`PSRemotingProtocolVersion      2.3`
`SerializationVersi

[2017-04-21 22:34] TheDude72 commented on #3817
I believe it's version 1.0.1.  Here's all of the info I get back when I run that "Get-Module" commandlet:

**_Environment           : AzureCloud
Account               : b3b0d268-0d04-4b9a-9bd6-01d74a373f8c
TenantId              : 067e9632-ea4c-4ed9-9e6d-e294956e284b
SubscriptionId        : 13cac5cb-2ec6-48c6-9a90-5a776f6aed90
CurrentStorageAccount :
Account      : b3b0d268-0d04-4b9a-9bd6-01d74a373

[2017-04-21 22:36] TheDude72 commented on #3817
I'm running this through the PowerShell that comes with Octopus, btw.

[2017-04-21 22:45] TheDude72 commented on #3817
Did something change on Microsoft's side today?  This was actually working for the past several weeks.  It just stopped working today.  Which is why I'm beginning to wonder if some validation rule was changed on the APIM REST API side of things.

[2017-04-21 23:52] twitchax commented on #3407
@shuagarw, any update on this?

[2017-04-23 00:08] solankisamir commented on #3817
@TheDude72 There was a bug in the Version of the Cmdlet you are using, which was fixed in https://github.com/Azure/azure-powershell/commit/871c779bb6c9088f15b210b1dfe0a08151a0a7c6#diff-72bf21c9cbd6229758d241b15cb6a595R1042

Suggest you upgrade the AzureRm.ApiManagement module to 2.2.0 and let me know if you can still reproduce it.

[2017-04-23 09:03] 4c74356b41 commented on #3814
Import-DscResource -Module PSDesiredStateConfiguration, xPSDesiredStateConfiguration, xNetworking, xWebAdministration

this is what I'm using and it works perfectly fine

using PS 5.1 Azure PS 3.8

[2017-04-23 11:48] lfshr commented on #3814
@4c74356b41 that is not the issue. I'm aware of the module workaround.

[2017-04-24 01:24] markcowl commented on #3778
@ravbhatnagar Can you take a look?  Note that, AzurePSCmdlet automatically writes exceptions to the error stream in ProcessRecord,, which is the right thing to do in this case

[2017-04-24 01:31] markcowl commented on #3780
@aimankhan Can you take a look?

[2017-04-24 01:33] markcowl commented on #3790
@ravbhatnagar Can you take a look?

[2017-04-24 01:34] markcowl commented on #3792
@singhkays Can you take a look?

[2017-04-24 01:36] markcowl commented on #3793
@ikanni Thanks for the issue.  Can you tell me if this was working in previous versions?  My recollection is that your sandbox does not allow CredManCache access, meanign that the default mechanism for storing the secret securely will not work, and that certificate credentials should be used instead, if that is the case.

[2017-04-24 01:38] markcowl commented on #3800
@DeepakRajendranMsft Can you take a look?

[2017-04-24 01:40] markcowl commented on #3802
@erobinson-pb Can you please file this issue here:  https://github.com/PowerShell/PowerShellGet I believe this is a general INstall-Module problem

[2017-04-24 01:40] #3802 closed

[2017-04-24 01:41] markcowl commented on #3803
@mrichman How are you importing the module?  It's possible there is soemthign int he AppDomain that keeps the module from importing - the errors return from Import-Module would likely point to the underlying issue.

[2017-04-24 01:42] markcowl commented on #3814
@singhkays can you take a look?

[2017-04-24 09:49] blueww commented on #3665
You can new an System.IO.MemoryStream object in PowerShell, and we will download blob content to the memory stream, and you can read from the memory steam.
You can see some sample to use memory stream in PowerShell in :
https://social.technet.microsoft.com/Forums/windowsserver/en-US/7d838d53-bfd5-4706-b0df-c4bee2d00412/using-memorystream-and-textreader?forum=winserverpowershell

[2017-04-24 12:21] TheDude72 commented on #3817
@solankisamir Actually, as it turns out, Octopus (the platform I'm using to execute PowerShell commandlets) is using the latest version of AzureRM.ApiManagement (version 3.5.0).  Could there be a bug introduced with the latest version?:

_**Name              : AzureRM.ApiManagement
Path              : C:\Program Files\WindowsPowerShell\Modules\AzureRM.ApiManag
                    ement\3.5.0\Azure

[2017-04-24 16:00] richrundmsft commented on #3752
When using the API it is important to make sure that if the result set is "Pending" you query again to get the remaining results - refer to Example #3 on https://docs.microsoft.com/en-us/powershell/module/azurerm.operationalinsights/get-azurermoperationalinsightssearchresults?view=azurermps-3.8.0

The UI will automatically wait for all results to return which can be why you see a difference betwee

[2017-04-24 17:57] MattAllison commented on #3617
Sorry for the delay.

As I'm sure you know, current Azure Backup cmdlets work using a model similar to Set-AzureRMContext.

Backup is the only service that uses this model - all other Azure services work by passing a variable to set their scope.  For example, Add-AzureRMNetworkInterface has a -VM parameter for the VM to interact with and Azure Storage commands use a Context object passed as a para

[2017-04-24 18:00] twitchax commented on #3752
Thanks, @richrundmsft!  Closing...

[2017-04-24 18:00] #3752 closed

[2017-04-24 18:13] shuagarw commented on #3771
@Rbacask for FYI
We on PAS side don't do resource validation when creating a roleAssignment. ARM does access check and we have reached out to them to confirm if they check for resource existence or not.

[2017-04-24 18:31] shuagarw commented on #3407
@rbacask for FYI
+ @darshanhs90 as he is working on this fix in master branch.  @afshins to port the fix in AzureStack once it is completed in master branch.

[2017-04-24 18:44] shahabhijeet commented on #3645
@niadak there is no service principal support for in RDFE.
Is there a reason you have not moved to ARM?

[2017-04-24 18:44] #3645 closed

[2017-04-24 18:54] shahabhijeet commented on #3721
@ronbok -Tag is getting across all RPs.
regarding account names, this is a restriction across all resource names in azure.
If you are asking to have consistency across service and client tools, we have taken the approach to let service dictate and avoid adding more validation at the client level (in case things change from service side)
Closing as there isn't anything powershell team can do for th

[2017-04-24 18:54] #3721 closed

[2017-04-24 18:59] shahabhijeet commented on #3774
@ronbok hope this clarifies. Closing it.

[2017-04-24 18:59] #3774 closed

[2017-04-24 19:01] shahabhijeet commented on #3719
@huangpf this issue also requires similar fix for AzureRmDisk

[2017-04-24 19:01] shahabhijeet commented on #3687
@signhkays this is a feature request. I will let you comment on this one.

[2017-04-24 19:03] shahabhijeet commented on #3018
@twitchax there are couple issues very similar. Let's discuss if we can come to a resolution on this one.
Will add another issue that is very similar.

[2017-04-24 19:57] markcowl commented on #1885
@doctordns The service itself is defunct and has not been revived, so there is no basis for new cmdlets.  Closing, because there is no action that azure powershell can take here.

If you want to ask about the gallery service, please ask in the azure support forums.

[2017-04-24 19:57] #1885 closed

[2017-04-25 08:25] lfshr commented on #3719
@huangpf here's a quote from @markcowl on #3741

@markcowl  should this issue be closed at this point or shall we leave it open until the generator is fixed?

[2017-04-25 12:55] letmaik opened #3821 "Occasional stale progress bar entries with Set-AzureStorageBlobContent"
### Cmdlet(s)
Set-AzureStorageBlobContent

### PowerShell Version
5.1.14393.1066

### Module Version
3.8.0

### OS Version
10.0.14393.1066

### Description
When uploading many files via `Set-AzureStorageBlobContent` in a for loop then the progress bar sometimes gets cluttered up with old finished entries like:

[code]
(I renamed the filenames here)

[2017-04-25 18:38] cormacpayne commented on #3821
@blueww Hey Wei, would you mind taking a look at this issue?

[2017-04-25 21:00] letmaik opened #3822 "AzureRM 3.8 breaks backwards compatibility contrary to changelog (Save-AzureRmProfile / Select-AzureRmProfile)"
### Cmdlet(s)
Save-AzureRmProfile (now Save-AzureRmContext)
Select-AzureRmProfile (now Import-AzureRmContext)

### Module Version
3.8

### Description
The changelog says:

However, there is no alias. Besides, removing the alias in the following release is a really bad idea in my opinion as it violates semantic versioning. Backwards compatibility should only be broken with major releases, so 4.0.

[2017-04-25 21:28] letmaik commented on #3822
Also, when using `Import-AzureRmContext` it spits out the following wrong warning:

Two things:
1. It refers to the wrong command in the first sentence.
2. The rename already happened in 3.8.

[2017-04-25 21:50] solankisamir commented on #3817
@TheDude72 we tried to reproduce it on latest PowerShell version, but there is no issue on the service side.

You are using a very old version of the Module. From the Debug logs, I can see that you are using
`api-version=2014-02-14`
`https://management.azure.com/subscriptions/13cac5cb-2ec6-48c6-9a90-5a776f6aed90/resourceGroups/dev-ims-eus/providers/Microsoft.ApiManagement/service/DevImsApim/produc

[2017-04-25 22:04] solankisamir commented on #3817
If you were using the 3.5.0 cmdlet, then the api-version would have been `2016-10-10`

[2017-04-25 22:04] #3817 closed

[2017-04-25 22:16] TheDude72 commented on #3817
We're using whatever version is being hosted on the Azure VM.  Octopus deployment runs on top of the Azure VM.  When I run "Get-Module", it shows 3.5

But I see that your are correct about the debug information.  Whatever version it is, it's translating into REST api call with the older api version.  I think I should probably just scrap the idea of using a PowerShell commandlet and call the REST A

[2017-04-25 22:32] esnijder opened #3823 "New-AzureRmVirtualNetworkGatewayConnection Vnet2Vnet error"
Hi,
I'm trying to establish vnet2vnet connection between West Europe Subscription and China East subscription. Following the guide on:
https://docs.microsoft.com/en-us/azure/vpn-gateway/vpn-gateway-vnet-vnet-rm-ps:

Add-AzureRmAccount -EnvironmentName AzureCloud -SubscriptionId 7abdac23-f45e-4cc0-a9e6-6652ac9cf1a7 -TenantId 62105228-2a82-465c-ad18-278cc6455cb5

$vnet1gw = Get-AzureRmVirtualNetwork

[2017-04-25 22:52] markcowl commented on #3822
Yes, the aliases were not added.  Good catch.

The next version *is* 4.0, which is why this would be removed next release. Unfortunately, the Obsolete attribute prints messages this way.  The first sentence is just boiler plate

[2017-04-25 23:11] letmaik commented on #3822
Poor man's work-around:
[code]

[2017-04-26 00:07] solankisamir commented on #3817
@TheDude72 can you point me to their documentation. If its Azure, maybe I can get in touch with them and see where the issue is.

[2017-04-26 00:34] TheDude72 commented on #3817
I can point you to the forum where an Octopus support member explained to me that Octopus always uses the latest available version of PowerShell in the VM.  As for the modules, he says they come bundled with Octopus.  Although, that still doesn't explain why it was coming back as version 3.5 when I ran Get-Module on it:

http://help.octopusdeploy.com/discussions/questions/11450-how-is-powershell-a

[2017-04-26 00:36] solankisamir commented on #3817
I have opened an issue http://help.octopusdeploy.com/discussions/problems/54000-using-old-cmdlets-for-azurermapimanagement

[2017-04-26 00:43] TheDude72 commented on #3817
I wonder if the "Get-Module" commandlet I was running in Octopus was actually pulling the version that came with the VM (which is 3.5).  But then when Octopus executes, it uses the older (hidden) version that comes bundled with it.  Just a thought...

[2017-04-26 00:50] begoldsm commented on #3079
I am getting the same issue for New-AzureRMRoleAssignment and Get-AzureRMRoleAssignment when I am trying to assign the "Contributor" role.

Here is the full error output:
DEBUG: ============================ HTTP REQUEST ============================

HTTP Method:
GET

Absolute Uri:
https://management.azure.com//subscriptions/04319d6d-4a66-4701-bb2f-e7dbbd9ae4db/resourceGroups/begoldsmadlsrg01/begol

[2017-04-26 01:20] RBACAsk commented on #3079
The highlighted part in the Uri could be the issue.

https://management.azure.com//subscriptions/04319d6d-4a66-4701-bb2f-e7dbbd9ae4db/resourceGroups/begoldsmadlsrg01/begold<https://na01.safelinks.protection.outlook.com/?url=https%3A%2F%2Fmanagement.azure.com%2F%2Fsubscriptions%2F04319d6d-4a66-4701-bb2f-e7dbbd9ae4db%2FresourceGroups%2Fbegoldsmadlsrg01%2Fbegold&data=02%7C01%7CSurabhi.Pandey%40micros

[2017-04-26 01:42] blueww commented on #3821
@letmaik
Would you like to share the script to repro the issue? (please hide the credential)
And the file count and file size to upload.

I can't repro this locally, the information will help me to repro and investigate this issue.
Thanks!

[2017-04-26 08:49] PeterParker1234 opened #3829 "Start-AzureSqlDatabaseExport -Cannot bind parameter 'StorageContainer'"
### Cmdlet(s)
Start-AzureSqlDatabaseExport

### PowerShell Version
 5.0.10240.17146

### Module Version
Script     3.8.0      AzureRM

### OS Version
 10.0.10011.16384

### Description

### Debug Output

DEBUG: 10:31:06 AM - AddAzureRMAccountCommand begin processing with ParameterSet 'UserWithSubscriptionId'.
DEBUG: Microsoft.IdentityModel.Clients.ActiveDirectory Information: 2 :
DEBUG: 04/26/2017

[2017-04-26 10:05] letmaik commented on #3821
There is really nothing special about it:
[code]

The file count is a few thousand, where the majority are small files around 20-100KB with 10% around 15-20MB.

[2017-04-26 16:35] cormacpayne opened #3831 "Add switch to allow skipping help generation during build"
Give users the ability to skip help generation when building locally due to the large amount of time it can take to create the MAML files.

Follow a model similar to [CodeSign](https://github.com/Azure/azure-powershell/blob/preview/build.proj#L16) when adding the switch for `SkipHelp`

[2017-04-26 17:37] markcowl commented on #3822
@letmaik Yep.  Because next release is a breakign change release, we will have to release a version of 3.x that fixes the break - this would likely happen after the BUILD conference.

[2017-04-26 17:43] markcowl commented on #3829
@PeterParker1234 That is a very sad error message.  There should be a common type that represents storage containers, or simply a storage container name to make this work across modules

[2017-04-26 17:44] markcowl commented on #3829
@akromm Can you take a look?

[2017-04-26 17:49] markcowl commented on #3671
Fixed.

[2017-04-26 17:49] #3671 closed

[2017-04-26 18:06] markcowl commented on #3432
Closing as a duplicate

[2017-04-26 18:06] #3432 closed

[2017-04-26 22:24] viananth opened #3835 "Module AzureRM.Bootstrapper: Use-AzureRmProfile: New parameter set"
### Cmdlet(s)
Use-AzureRmProfile

### PowerShell Version
5

### Module Version
0.1.0

### Description
Retrieve Profile Name from ARM Template json file and pass it on to Use-AzureRmProfile

### Script/Steps for Reproduction

[2017-04-26 22:27] viananth opened #3836 "Add-AzureRmEnvironment: New Parameter set"
### Cmdlet(s)
Add-AzureRmEnvironment

### PowerShell Version
5

### Module Version

### Description
Add-AzureRmEnvironment should support parameter "ArmEndpoint" and should register the environment using it.

### Script/Steps for Reproduction
Add-AzureRmEnvironment -Name "MyAzure" **-ArmEndpoint** "EndpointValue"

[2017-04-27 05:53] xucong5151600 opened #3839 "Run 'Add-AzureRmMetricAlertRule' failed"
### Cmdlet(s)
Add-AzureRmMetricAlertRule

### PowerShell Version
5.0.10586.672

### Module Version
AzureRM 3.8.0

### OS Version
10.0.10586.672

### Description
When i runned the command
'Add-AzureRmMetricAlertRule -Name "metricRule5" -Location "East US" -ResourceGroup "Default-Web-EastUS" -Operator GreaterThan -Threshold 1 -TargetResourceId "/subscriptions/b93fb07a-6f93-30be-bf3e-4f0deca15f4f/res

[2017-04-27 10:09] pratiksharma897 opened #3842 "Get-AzureRmResource -ParentResource"
### Cmdlet(s)
Get-AzureRmResource
### PowerShell Version
5.1.14393.953

### Module Version
3.8.0
### OS Version
Instructions: to get OS version, type `$PSversionTable` and look for value associated with `BuildVersion`
10.0.14393.953
### Description
Get-AzureRmResource -ParentResource fails with error parameter 'ParentResource' not found
### Debug Output
PS C:\Users\localadmin> $DebugPreference="Co

[2017-04-27 11:07] blueww commented on #3821
@letmaik
I will try to repro the issue and update you later.

[2017-04-27 14:31] yshahin opened #3844 "[error]Move-AzureDeployment : InternalError : The server encountered an internal error. Please retry the request."
### Cmdlet(s)

### PowerShell Version
Instructions: to get PowerShell version, type `$PSVersionTable` and look for the value associated with `PSVersion`

The version deployed on VSTS

### Module Version

### OS Version
Instructions: to get OS version, type `$PSversionTable` and look for value associated with `BuildVersion`

The version deployed on VSTS Host Machine

### Description

### Debug Outp

[2017-04-27 16:42] markcowl opened #3846 "Fix subscription display in adalref branch"
SubscriptionName is not being properly shown.  Fix the format files to show the correct property

[2017-04-27 16:51] henry416 commented on #2873
@markcowl Was this fix included in PS 3.8 gallery release? We are still seeing issues with nullable and uint casting in 3.8.

[2017-04-27 17:02] takekazuomi commented on #2873
@henry416  It is not included in 3.8. I think it will be in the next release.

## Workaround
It can be avoided by copying AutoMapper.Net4.dll from AzureRm.Network directory to AzureRm.Compute directory .

In my environment, modules are installed in the following directories.
[code]

[2017-04-27 17:03] henry416 commented on #2873
@takekazuomi Okay thanks. I actually read the comment wrong. I will forward this information to others who are experiencing this issue.

[2017-04-27 18:15] ikanni commented on #3793
@markcowl  Thank you for adding the details about CredManCache access.

I tested with AzureRM module version 1.0.3 and it did not work for any cmdlets.

But with AzureRM.Profile (2.8.0) and  AzureRM.Resources (3.8.0) the cmdlet Get-AzureRmResourceGroup works fine and cmdlet Find-AzureRmResource fails. **How it is working for cmdlet  Get-AzureRmResourceGroup? Why cmdlet Find-AzureRmResource  is not

[2017-04-27 19:05] markcowl commented on #3829
@PeterParker1234 One issue: it looks like you are mixing RDFE cmdlets for Sql with an ARM login.  The likely issue here is a mismatch between the Azure and Azure.Storage versions you are using.  Can you run

```Get-Module -ListAvailable```

And this will tell us whether there is such an issue.

[2017-04-27 19:33] markcowl commented on #3583
Fixed

[2017-04-27 19:33] #3583 closed

[2017-04-27 20:18] robplank opened #3850 "Start-AzureRMAutomationRunbook -RunOn Poor Error Message When HW does not exist"
### Cmdlet(s)
Start-AzureRMAutomationRunbook
### PowerShell Version
5.1.15.06.168
### Module Version
2.8
### OS Version
10.0.15063.168

### Description
if you use a value that is not resolved as a hybrid worker for the RunOn Parameter the error message provided leads you to think there is a problem with finding the automation account when that is not the case.

Please update the exception message

[2017-04-27 20:24] viananth opened #3851 "Module AzureRM.Bootstrapper: Blocking user from importing different versions of modules to the same session"
### Cmdlet(s)
Use-AzureRmProfile

### PowerShell Version
5

### Description
While importing a profile using Use-AzureRmProfile cmdlet, we are checking if other modules of a different profile is imported in the session. Does it also apply to different versions of the module of the same profile?

For example, profile 'latest' might have module 'AzureRm' versions '3.7.0', '3.8.0'

Should we check and

[2017-04-28 02:13] v-Ajnava commented on #3443
The issue is fixed in March Release - MSI:  https://github.com/Azure/azure-powershell/releases/tag/v3.7.0-March2017 .

The Web platform installer is not updated after Feb. we will work on fixing it in web platform installer.

[2017-04-28 02:13] #3443 closed

[2017-04-28 02:54] nshampur commented on #2873
Surprised how this wasn't caught by the tests. Thanks @takekazuomi  for the workaround

[2017-04-28 11:34] davenewza opened #3861 "Get-AzureWebsite performance"
### Get-AzureWebsite

### PS Version
5.0.10586.494

### OS Version
10.0.10586.494

### Description
It seems to take a consistent 1 to 2 minutes (sometimes more) to return from the `Get-AzureWebsite` cmdlet. We use a lot of Azure powershell in our automation processes but these slow queries really hamper progress. Can anything be done to improve performance?

[2017-04-28 13:27] f000 commented on #3667
Same error here but I found something interesting:

If I initiate swap like this:

    Switch-AzureRmWebAppSlot -ResourceGroupName $group -Name $app -SourceSlotName $stage -DestinationSlotName $master -SwapWithPreviewAction ApplySlotConfig

then I expect this should work:

    Switch-AzureRmWebAppSlot -ResourceGroupName $group -Name $app -SourceSlotName $stage -DestinationSlotName $master -SwapWit

[2017-04-28 13:39] letmaik opened #3863 "Add support for partial download (range) in Get-​Azure​Batch​Node​File​Content"
### Cmdlet(s)
Get-​Azure​Batch​Node​File​Content

### Module Version
3.8

### Description
As described in the [Batch REST API docs](https://docs.microsoft.com/en-us/rest/api/batchservice/get-data-from-a-file-on-a-compute-node) it is possible to partially download a file from a Batch node by using the `ocp-range` header.

I implemented a stdout.txt/stderr.txt monitoring script which currently fetch

[2017-04-28 18:12] cormacpayne commented on #1546
This service does not return a 4xx response, so it would be inappropriate for us to write an error in this case. If some other service _does_ return a 4xx error, then we should write the error to the error stream. Closing this issue.

[2017-04-28 18:12] #1546 closed

[2017-04-28 18:13] cormacpayne commented on #1555
Assining to @twitchax to work with documentation/Sean to resolve this

[2017-04-28 18:20] cormacpayne commented on #3018
@ravbhatnagar Hey Gaurav, should this be a change in ARM behavior?  PowerShell is just reflecting what ARM is returning in this case.

[2017-04-28 18:27] cormacpayne commented on #3793
@ikanni if you do not support CredManCache, then you should use certificates instead of secrets for ServicePrincipal authentication

[2017-04-28 18:27] #3793 closed

[2017-04-28 21:17] PropertyOfTuckerSystems opened #3866 "New-AzureRmRoleAssignment throws KeyNotFoundException when ran on VSTS"
### Cmdlet(s)
`New-AzureRmRoleAssignment`

### PowerShell Version
`5.1.14393.1066`

### Module Version
[code]

### OS Version
`10.0.14393.1066`

### Debug Output
[code]

### Issue

When ran on VSTS, our script crashes with

[code]

at `New-AzureRmRoleAssignment` call

Same exact script executes successfully if ran locally. VSTS Azure AD App Principal has been granted "Owner" permission for the sub

[2017-04-28 21:36] viananth commented on #3851
@bganapa @vikasnav: thoughts?

[2017-04-29 00:31] markcowl opened #3868 "Update changelog for RecoveryServices.Backup cmdlets"
### Description

The Changelog should contain a detailed description, by cmdlet of whayt changed.  For example, when mentioning a client update, what are the additional features this provides to customers.  When mentioning that ShouldProcess is supported for some cmdlets, mention which ones are supported by name.  Customers use the changelog to decide whether to download a particular module.

[2017-04-29 00:40] cormacpayne opened #3869 "Add missing modules to AzureRM"
Add the following modules to AzureRM.psd1

- Consumption
- ContainerRegistry
- Relay
- ServiceFabric

[2017-04-29 16:16] PeterParker1234 commented on #3829
Hi

2.6.0      Azure.Storage
3.5.0      Azure

Thank you

[2017-05-01 00:03] leeberg commented on #3850
+1 - Thanks for submitting!

[2017-05-01 00:44] markcowl opened #3872 "Update Changelog for ServiceBus cmdlets"
### Description

Changelog comments should not mention Swagger spec.

[2017-05-01 16:40] markcowl commented on #3846
Fixed

[2017-05-01 16:40] #3846 closed

[2017-05-01 16:40] markcowl commented on #3831
fixed

[2017-05-01 16:40] #3831 closed

[2017-05-01 16:41] markcowl commented on #1530
Fixed

[2017-05-01 16:42] markcowl commented on #1530
Fix checked in, will be out with next release

[2017-05-01 16:42] #1530 closed

[2017-05-01 16:42] markcowl commented on #3622
Fixed.

[2017-05-01 16:42] #3622 closed

[2017-05-01 16:43] markcowl commented on #3764
Fix checked in

[2017-05-01 16:52] markcowl commented on #3794
Duplicate of #3873 closing

[2017-05-01 16:52] #3794 closed

[2017-05-01 16:54] #3764 closed

[2017-05-01 16:58] markcowl opened #3875 "Serialization Test for Storage Context"
### Description

Verify that the output of New-AzureStorageContext can be roundtripped through the CliXml cmdlets  and used as input to storage cmdlets.

If not, change the storage context to a concrete type

### Cost: 1

[2017-05-01 17:53] pomortaz opened #3876 "Set-AzureRmKeyVaultAccessPolicy sometimes resolves the UPN to a different account"
### Cmdlet(s)
Set-AzureRmKeyVaultAccessPolicy

### Description
The Set-AzureRmKeyVaultAccessPolicy -UserPrincipalName xx@y.com ... CmdLet sometimes resolves the UPN to the wrong user object ID and add that to the access policy list. This happens because the UPN is also added as an alternative email address to a different user account in the tenant active directory and the code picks the first user

[2017-05-01 18:53] ravbhatnagar opened #3878 "Update the help for New-AzureRmTag cmdlets"
As per the help here - https://docs.microsoft.com/en-us/powershell/module/azurerm.tags/get-azurermtag?view=azurermps-3.8.0
_If the subscription includes any predefined tags, you cannot apply undefined tags or values to any resource or resource group in the subscription_.”
 The above is not accurate. Please revisit the help for the related cmdlets and fix.

[2017-05-02 04:28] Roblarson opened #3884 "Get-AzureRMRoleAssignment does not respect scope parameter"
### Cmdlet(s)
Get-AzureRmRoleAssignment -Scope /subscriptions/74b4f341-d9fd-4ef6-8f57-xxxxxxxxxx/resourceGroups/TestRG2

ignores the resource group scope and returns all assignments at the subscription level

### PowerShell Version
Instructions: to get PowerShell version, type `$PSVersionTable` and look for the value associated with `PSVersion`

Name                           Value
----

[2017-05-02 09:10] letmaik commented on #3649
+1 The exception messages thrown by the Azure Batch cmdlets for example are pretty much useless. I always have to try-catch everything and print error messages myself with something like:
[code]
The exception messages should contain all information that is necessary for a human to interpret the error completely.

[2017-05-02 16:53] SeanFeldman commented on #3780
cc @jtaubensee

[2017-05-02 17:08] sdwheeler opened #3885 "AzureRM.psd1 contains function and alias exports that are not implemented."
AzureRM Module

### Module Version
This problem has existed for several releases. You can see it in 3.8.0 release of the AzureRM module.

### Description
The module manifest contains the following lines:

FunctionsToExport = 'Update-AzureRM', 'Import-AzureRM', 'Uninstall-AzureRM'
AliasesToExport = 'Install-AzureRM'

Those items are not defined anywhere in any module or script.

[2017-05-02 18:49] viananth commented on #3851
@markcowl: Should we check and block user from importing AzureRm 3.8.0 if '3.7.0' is already imported in the session?

[2017-05-02 19:04] #3755 closed

[2017-05-02 19:17] viananth commented on #3851
@igorse

[2017-05-02 23:07] cormacpayne commented on #3885
@sdwheeler previously, these cmdlets were used to install/uninstall/update the AzureRM module, but these cmdlets were deprecated in favor of the PowerShell gallery. [Here](https://github.com/Azure/azure-powershell/blob/preview/tools/AzureRM/AzureRM.psm1) is the file where the cmdlets were defined, and you can see [here](https://github.com/Azure/azure-powershell/blob/preview/tools/AzureRM/AzureRM.p

[2017-05-03 08:55] guillemsola commented on #3757
I'm glad I found that I was wrongly referencing the dependensOn field

I changed from

[code]
to
[code]
Exactly matching the virtual machine

[2017-05-03 08:55] #3757 closed

[2017-05-03 12:55] f000 commented on #3667
unfortunately that workaround doesn't work for the production slot:

    Switch-AzureRmWebAppSlot -ResourceGroupName example -Name example -SourceSlotName production -SwapWithPreviewAction ResetSlotSwap

Error:

The Resource 'Microsoft.Web/sites/example/slots/production' under resource group 'example' was not found.

[2017-05-03 13:40] sdwheeler commented on #3885
@cormacpayne The AzureRM.psm1 that ships does not contain these function and alias definitions.

[2017-05-03 15:59] danielstocker opened #3896 "Get-AzureRMVM -Status yields different result when running against a single machine rather than a pool of machines"
### Cmdlet(s)
Get-AzureRMVM -Status
Get-AzureRMVM -ResourceGroupName "MyName" -Name "MyVM" -Status

### PowerShell Version
Instructions: to get PowerShell version, type `$PSVersionTable` and look for the value associated with `PSVersion`
5.1.14393.1066

### Module Version
2.8.0      AzureRM.Compute

### OS Version
Instructions: to get OS version, type `$PSversionTable` and look for value associate

[2017-05-03 18:14] markcowl opened #3898 "NetworkWatcher: add test automation for Test-AzureRmNetworkWatcherConnectivity"
### Description

The tests for this feature are currently skipped.  Record the tests and unskip

[2017-05-03 18:15] markcowl opened #3899 "Add test automation for Test-AzureRmNetworkWatchConnectivity"
### Description

The tests for this feature are currently skipped.  Record the tests and unskip

[2017-05-03 19:41] markcowl opened #3900 "Update module manifests for new runtime version (4.5.2)"
### Description

Update the dot net framework version in module manifests (https://github.com/Azure/azure-powershell/blob/preview/src/ResourceManager/Compute/AzureRM.Compute.psd1#L45)

To be 4.5.2

[2017-05-03 22:39] markcowl commented on #3652
Completed

[2017-05-03 22:39] #3652 closed

[2017-05-03 22:40] markcowl commented on #3429
Completed

[2017-05-03 22:40] #3429 closed

[2017-05-04 01:36] markcowl opened #3903 "Subscription name not displayed in context for new installer"
### Description

The SubscriptionName is not showing up in the context, need to update the format file

[2017-05-04 10:15] sam-cogan commented on #1896
Any update on this, really holding back our automated deployments

[2017-05-04 12:36] mariotoffia commented on #3665
I'm facing the same scenario where I use the blob store with lots of JSON documents that I read and take actions on. It being implemented in azure functions and would like to have the ability to read in memory. If I may - it would be nice to use e.g. a switch like `-AsString` that will pass on the contents of the blob as a string and thus can pipe it to convertfrom-json directly and thus do e.g. l

[2017-05-04 14:35] hadware commented on #1978
Same problem here, generalized a VM and unknowingly lost stuff stored on it in my /home/ folder. No warning telling me this was explicitly displayed on the Azure documentation : https://docs.microsoft.com/en-us/azure/virtual-machines/linux/capture-image

[2017-05-04 15:30] RBACAsk commented on #1896
@Haridarshan Hosakere Sudhakar<mailto:hahosake@microsoft.com> – can you provide an update?

From: Sam Cogan [mailto:notifications@github.com]
Sent: Thursday, May 4, 2017 3:16 AM
To: Azure/azure-powershell <azure-powershell@noreply.github.com>
Cc: RBAC Ask <RBACAsk@microsoft.com>; Mention <mention@noreply.github.com>
Subject: Re: [Azure/azure-powershell] New-AzureRmADApplication: Access denied to t

[2017-05-04 17:55] RBACAsk commented on #1896
Hi Stefan,
The Fix has been merged to the azure-powershell repo https://github.com/Azure/azure-powershell/pull/3892.
The PowerShell release with this fix is scheduled for 05/10.

Thanks,
Haridarshan H.S.

From: Stefan Miltchev
Sent: Thursday, May 4, 2017 8:30 AM
To: Azure/azure-powershell <reply@reply.github.com>; Azure/azure-powershell <azure-powershell@noreply.github.com>; Haridarshan Hosakere S

[2017-05-04 20:17] cormacpayne commented on #3900
Fix is in PR https://github.com/Azure/azure-powershell/pull/3901

[2017-05-04 20:17] #3900 closed

[2017-05-04 20:17] cormacpayne commented on #3869
Fix is in PR https://github.com/Azure/azure-powershell/pull/3901

[2017-05-04 20:17] #3869 closed

[2017-05-04 22:47] kmchannon commented on #3578
what module were old? I'm having the same issue

[2017-05-05 03:00] blueww commented on #3665
@mariotoffia
As you know, PowerShell is a common tool, so we need to consider many facts when convert blob content to string, like big blob, string encoding ...

I will add your comments to the track item for this issue.
Before we get a solution on this, can you use:
[code]

[2017-05-05 09:19] hermot commented on #3821
I have also encountered this exact same issue and look forward to a fix for it.

[2017-05-05 12:25] FredrikGoransson commented on #1665
What is that status of this issue? I am seeing the same behavior without MFA for a specific customer.

The outputs from the cmdlets is very contradictory, Login- or Add-AzureRmAccount will show me the tenant and subscription I want to get, but when trying to get it I get the warning ```Unable to acquire token for tenant``` and then it claims the subscription does not exist in the tenant. It does e

[2017-05-05 14:08] mariotoffia commented on #3665
@blueww Yes, that exactly what I've done - a custom commandlet for this :)

I understand that you've targeting a broad audience - but if you use a flag that indicates a `In-Memory` (maybe with a constraint of maximum 4096/8192 bytes or so) I don't see the problem. Or will this drive support issues due to people don't read the help text?

It actually would ease the load on azure-functions on Micros

[2017-05-05 14:27] jboeshart commented on #3665
How does reading the blob content straight to memory differ from writing it to a file then reading it back in if we're talking about a large blob file? Wouldn't the same concerns around memory apply here, just that you're pushing the problem to `Get-Content` instead of 'Get-AzureStorageBlobContent`?

I need to play around with writing to a memory stream to see if that works. It does add some code

[2017-05-05 16:22] sdwheeler commented on #3885
I think I found the issue. tools/UpdateModules.ps1 script in tools overwrites the AzureRM.psm1 file with the blank template. It is not using the file tools/AzureRM/AzureRM.psm1.

[2017-05-05 18:11] #3898 closed

[2017-05-05 18:16] cormacpayne commented on #3896
@singhkays Hey Kay, would you mind taking a look at this issue? Looks like a difference in the output display for the two calls that can be fixed in the format.ps1xml file. Table (first image in the issue) should be the default view when the output is returned.

[2017-05-05 18:18] cormacpayne commented on #3885
These cmdlets have been removed for the 4.0.0 release, so this is fixed.

[2017-05-05 18:18] #3885 closed

[2017-05-05 18:20] cormacpayne commented on #3884
@darshanhs90 would you mind taking a look at this issue?

[2017-05-05 18:21] cormacpayne commented on #3878
@ravbhatnagar Hey Gaurav, would you mind putting this issue into a milestone?

[2017-05-05 18:22] singhkays commented on #3896
@danielstocker Thanks for the report. @hyonholee looks like we just need to parse the string correctly in the latter

[2017-05-05 18:24] cormacpayne commented on #3875
This has been confirmed. Need to file a new issue for the June release work.

[2017-05-05 18:24] #3875 closed

[2017-05-05 18:35] cormacpayne commented on #3866
@TarasRoshko the issue is that the user credentials you are using do not have sufficient privileges to access the ADGraph API for the given tenant, and the command is not reacting well to the response.

@darshanhs90 would you mind taking a look at this issue? It appears the error message needs to be improved to handle the given response.

[2017-05-05 18:36] cormacpayne commented on #3863
@matthchr Hey Matt, would you mind taking a look at this issue?

[2017-05-05 18:38] cormacpayne commented on #3861
@davenewza Hey Dave, are you using `Get-AzureWebsite` or `Get-AzureRmWebsite`?

[2017-05-05 18:39] cormacpayne commented on #3861
@davenewza in addition, what is the full command that you are running, and how many items are being returned from these calls?

[2017-05-05 18:43] cormacpayne commented on #3850
@eamonoreilly @safeermohammed would you mind taking a look at this issue?

[2017-05-05 18:46] cormacpayne commented on #3844
@singhkays Hey Kay, would you mind taking a look at this issue?

[2017-05-05 18:48] cormacpayne commented on #3842
@pratiksharma897 this parameter was removed, you should use the `ResourceId` parameter instead

[2017-05-05 18:48] #3842 closed

[2017-05-05 18:50] cormacpayne commented on #3839
@xucong5151600 can you run the same command with `$DebugPreference="Continue"` set?

Also, can you run the script found in [this issue](https://github.com/Azure/azure-powershell/issues/3648) to get more details regarding the error?

[2017-05-05 20:32] viananth commented on #3851
Mark & I had an offline discussion about it. The way AzureRm profile is supported right now, we need to leave blocking user if any version other than the latest one as it is. But for future, we should let the user load modules from any version of that profile (if that profile supports it) because it is consistent with that profile.

[2017-05-05 20:32] #3851 closed

[2017-05-05 20:34] vhusker opened #3914 "Cannot process argument transformation on parameter 'InstalledModuleInfo'"
### Cmdlet(s)

### PowerShell Version
Name                           Value
----                           -----
PSVersion                      5.1.14393.1066
PSEdition                      Desktop
PSCompatibleVersions           {1.0, 2.0, 3.0, 4.0...}
BuildVersion                   10.0.14393.1066
CLRVersion                     4.0.30319.42000
WSManStackVersion              3.0
PSRemotingProtocolV

[2017-05-05 20:38] vhusker commented on #3914
Interestingly enough, I just ran the command as Install-Module AzureRM -AllowClobber and everything is installing fine.

[2017-05-05 23:29] singhkays commented on #3844
@yshahin Please file a support request for this. This is most likely not a PS bug and something that needs to be investigated withing the platform.

[2017-05-06 09:59] RuiRomano opened #3920 "Upgrading Tier (Sku) via Set-AzureRmAnalysisServicesServer not working and executing without error"
### Cmdlet(s)
Set-AzureRmAnalysisServicesServer

### PowerShell Version
Instructions: to get PowerShell version, type `$PSVersionTable` and look for the value associated with  5.1.14393.1066

### Module Version
0.2.0

### OS Version
10.0.14393.1066

### Description

### Debug Output
Instructions: to get Debug Output, set `$DebugPreference="Continue"` and then execute the cmdlet or script causing t

[2017-05-06 15:58] pasky commented on #1978
I'm also frustrated that there isn't a straightforward parallel to creating an AMI in Azure. I haven't figured out a way yet to create an image that *keeps* the content of user home directory...

[2017-05-06 17:44] masnider commented on #3118
Was there some solution to this that can be shared? I am also getting this with both possible syntaxes (piping in lb vs using the named parameter). I have verified that there is data in $lb and that it is usable in other commands

`Set-AzureRmLoadBalancer -LoadBalancer $lb  `

[2017-05-06 21:15] rneeft opened #3921 "Create existing SQL server in different resource group gives incorrect error message"
I don't know where to create this issues but since I'm using the PowerShell cmdlet I post it here.

### Cmdlet(s)
New-AzureRmSqlServer

### PowerShell Version
PSVersion: 5.1.15063.138

### Module Version
|ModuleType|Version|Name
|---|---|---|
|Manifest|3.7.0|Azure|
|Manifest|2.7.0|AzureRM.Sql|

### OS Version
BuildVersion: 10.0.15063.138

### Description
When creating a SQL Server with a server na

[2017-05-08 03:01] TechnologyAnimal opened #3923 "New-AppServicePlan gives error"
### Cmdlet(s)
New-AzureRmAppServicePlan
### PowerShell Version
PSVersion                      5.0.10586.672

### Module Version
3.8.0
### OS Version
2012 R2
### Description

### Debug Output
DEBUG: ============================ HTTP REQUEST ============================

HTTP Method:
PUT

Absolute Uri:
https://management.azure.com/subscriptions/$SubscriptionId/resourceGroups/$ResourceGroupName/provi

[2017-05-08 03:07] TechnologyAnimal commented on #3923
Oh, I see what's going on.  When it tries to make a REST call to create the ASP, instead of using the name of the hostingEnvironmentName (ASE), it's trying to use the name of the App Service Plan you are trying to create.

I modified the URI and it works no problem.

[2017-05-08 03:20] TechnologyAnimal commented on #3923
Workaround:  Pass the $AppServiceEnvironmentName for both the 'Name' and 'AseName' parameters of New-AzureRmAppServicePlan

[2017-05-08 03:56] mosharafMS opened #3924 "Select-AzureRmSubscription fails when run on a remote computer using invoke-command"
### Cmdlet(s)
When running Select-AzureRmSubscription on a remote computer using invoke-command, it fails with error
Provided subscription <valid subscription id> does not exist
    + CategoryInfo          : CloseError: (:) [Set-AzureRmContext], ArgumentException
    + FullyQualifiedErrorId : Microsoft.Azure.Commands.Profile.SetAzureRMContextCommand
    + PSComputerName        : azLogIntegrator
##

[2017-05-08 18:41] cormacpayne commented on #3921
@akromm Hey Adam, would you mind taking a look at this issue?

[2017-05-08 18:42] cormacpayne commented on #3920
@athipp Hey Arun, would you mind taking a look at this issue?

[2017-05-08 18:46] cormacpayne commented on #3914
@vhusker Hey Jacob, in the May release (4.0.0) we're fixing the issue with needing `-AllowClobber` when installing from the gallery; hopefully this will resolve the issue above (without needing that parameter). I'm going to close this issue for now, but please feel free to reopen this issue if you have this problem when installing 4.0.0

[2017-05-08 18:46] #3914 closed

[2017-05-08 20:13] akromm commented on #3921
Ack.  We will look into the issue.

[2017-05-08 21:16] cormacpayne commented on #2917
Fix in PR https://github.com/Azure/azure-powershell/issues/3882

[2017-05-08 22:03] munsora opened #3928 "Create common code and pattern for handling many pages of list data. Use Get-AzureRmAdApplication as one of the examples"
### Cmdlet(s)
Get-AzureRmADApplication
### PowerShell Version
5.1.14409.1005
### Module Version
AzureRM.Resources  3.7.0
### OS Version
10.0.14409.1005
### Description
Calling commandlet wide open (without any parameters) returns exactly and only 100 objects.  Documentation specifies "If no parameter is provided, it fetches all applications under the tenant".
### Debug Output

### Script/Steps for

[2017-05-08 23:02] BurtHarris commented on #2878
+1 for populating the HelpUri field for all Azure commands.

I ran into the same problem for the Add-AzureRmAccount command.   Do you want a separate bug, or to generalize this one?

[2017-05-09 03:46] consultguru opened #3931 "The 'Set-AzureRmSqlDatabaseTransparentDataEncryption' command was found in the module 'AzureRM.Sql', but the module could not be loaded. For more information, run 'Import-Module AzureRM.Sql'."
### Cmdlet(s)

### PowerShell Version
Name                           Value
----                           -----
PSVersion                      5.1.15063.168
PSEdition                      Desktop
PSCompatibleVersions           {1.0, 2.0, 3.0, 4.0...}
BuildVersion                   10.0.15063.168
CLRVersion                     4.0.30319.42000
WSManStackVersion              3.0
PSRemotingProtocolVer

[2017-05-09 05:19] jan-wang opened #3932 "How to get the owner of a VM in an Enterprise account"
HI,
We are using an Azure Enterprise account. There are many users under this enterprise account.
I want to get the owner who create one VM. Is there any commands for this?

[2017-05-09 09:50] letmaik commented on #2803
Is the Core edition maintained? Last update was 2016-08-19

[2017-05-09 11:05] davenewza commented on #3861
@cormacpayne the full command is simply `Get-AzureWebsite -Name myappname` with one item returned.

[2017-05-09 16:04] carlwoodhouse opened #3934 "New-​Azure​Rm​Web​App​Slot clones slot sticky app settings"
The cmdlet New-​Azure​Rm​Web​App​Slot clones all the appsettings from the production slot, even ones which are marked as sticky to the production slot.

Not sure this is the desired behaviour?

[2017-05-09 17:09] cormacpayne commented on #3928
@munsora [the cmdlet does not appear to do any paging](https://github.com/Azure/azure-powershell/blob/preview/src/ResourceManager/Resources/Commands.Resources/Models.ActiveDirectory/ActiveDirectoryClient.cs#L694), so it is going to return only the first page of applications. We are looking to implement [`SupportsPaging`](https://github.com/Azure/azure-powershell/blob/preview/src/ResourceManager/Re

[2017-05-09 17:10] cormacpayne commented on #3934
@Nking92 Hey Nicholas, would you mind taking a look at this issue?

[2017-05-09 17:11] cormacpayne commented on #3932
@singhkays Hey Kay, is this functionality supported in any cmdlet?

[2017-05-09 17:17] singhkays commented on #3932
@jan-wang @cormacpayne Nothing specific to VMs in this case but you can try looking at Audit logs to see which user called the API to create the VM.
https://docs.microsoft.com/en-us/azure/azure-resource-manager/resource-group-audit
https://azure.microsoft.com/en-us/blog/analyze-azure-audit-logs-in-powerbi-more/

[2017-05-09 20:42] mbenaven opened #3936 "New-AzureServiceProject: "Could not find a part of the path""
### Cmdlet
New-AzureServiceProject

### PowerShell Version
5.0.10586.672

### Module Version
3.8.0

### OS Version
10.0.10586.672

### Description
I was completing the following tutorial: [Build a Node.js Chat Application with Socket.IO on an Azure Cloud Service](https://docs.microsoft.com/en-us/azure/cloud-services/cloud-services-nodejs-chat-app-socketio#prerequisites)

I was unable to execute th

[2017-05-09 21:26] cormacpayne commented on #3936
@mbenaven Hey Matt, I'm going to close this issue as it is a duplicate of an existing issue (that was closed a few months ago): https://github.com/Azure/azure-powershell/issues/2199

[2017-05-09 21:26] cormacpayne commented on #3936
@mbenaven please feel free to re-open this issue if you still have any questions about this cmdlet

[2017-05-09 21:55] brantb opened #3937 "Publish-AzureRmVmDscConfiguration remembers current subscription for the entire session"
### Cmdlet(s)
Publish-AzureRmVmDscConfiguration

### PowerShell Version
5.1.15063.138

### Module Version
[code]

### OS Version
10.0.15063.138 (Windows 10)

### Description
The current Azure subscription at the time `Publish-AzureRmVMDscConfiguration` is first run in a session becomes "sticky" and subsequent calls to `Set-AzureRmContext` do not change the subscription used by subsequent calls to

[2017-05-10 07:03] markcowl opened #3939 "Azure.Storage v 3.0.0 - New-AzureStorageContext: InvalidOperationException using storage account name and key"
### Description

When executing ```New-AzureStorageContext -StorageAccountName <name> -StorageAccountKey <key>```

If the user is unauthenticated, the cmdlet will throw an ```InvalidOperationException``` like the following:
[code]
You can work around this issue using one of these two methods:

* Add ```-Endpoint ".core.windows.net"``` to the cmdlet invocation:

[code]
* log in to the session as di

[2017-05-10 14:48] mbenaven commented on #3936
@cormacpayne  Could you please re-open this issue? A team member of mine would like to additional information.

P.S.  I tried to re-open this myself but found that I am unable to re-open issues which have been closed by the repo collaborator.

[2017-05-10 16:30] RandalliLama commented on #3876
@cormacpayne Please assign this issue to me.

[2017-05-10 17:03] markcowl commented on #3903
Fixed

[2017-05-10 17:03] #3903 closed

[2017-05-10 17:04] markcowl commented on #2917
This is fixed in the module just released.  No more ```-AllowClobber``` yay!

[2017-05-10 17:04] #2917 closed

[2017-05-10 17:11] markcowl commented on #3937
@brantb Have you set up a currentstorageaccount in your context?

[2017-05-10 17:13] markcowl commented on #3872
Completed

[2017-05-10 17:13] #3872 closed

[2017-05-10 17:13] markcowl commented on #3868
Completed

[2017-05-10 17:13] #3868 closed

[2017-05-10 17:13] markcowl commented on #3816
Completed

[2017-05-10 17:13] #3816 closed

[2017-05-10 17:14] markcowl commented on #3815
Closed

[2017-05-10 17:14] #3815 closed

[2017-05-10 17:15] markcowl commented on #3805
Closed

[2017-05-10 17:15] #3805 closed

[2017-05-10 17:15] markcowl commented on #3407
This should be fixed.  Please let us know if you see a recurrence

[2017-05-10 17:15] #3407 closed

[2017-05-10 17:58] brantb commented on #3937
@markcowl I repeated the test and used `Set-AzureRmCurrentStorageAccount` to set a CurrentStorageAccount, but it didn't seem to fix the issue.

[2017-05-10 19:19] mbenaven commented on #3936
- We did see issue #2199 and see how it is similar, but thought they are different issues since they have different path problems.
   - I don’t fully understand the resolution.
       ○ Is the resolution to copy and paste files from one folder to another?
       ○ Is the resolution to run in debug mode and import the module? If so, what module do we need to import?
   - I’ve also noticed that ther

[2017-05-10 21:39] jcyang75 commented on #3921
Looked into this and found that there’s a defect in the code throwing wrong error message in this condition. I’ve created a defect and one of our engineers will be working on the fix soon.

[2017-05-11 06:33] atkinsroy commented on #1428
Thanks for this. I did discover something weird:
$VM = Add-AzureRmVMSshPublicKey -VM $AzureVM -Path "/home/roy/.ssh/authorized_keys" -KeyData "ssh-rsa AAAAB3+..."

works fine. Using single quotes around path and keydata values does not work. Spent an hour or so banging my head on this. These values are literal (in my case), so single quotes are actually correct and should be accepted. Putting it d

[2017-05-11 09:12] cob999 opened #3945 "Set-AzureRmVMDiskEncryptionExtension fails on single VM with managed disks, works for others"
### Cmdlet(s)
Set-AzureRmVMDiskEncryptionExtension

### PowerShell Version
5.1.15063.296

### Module Version
3.8.0      AzureRM
2.9.0      AzureRM.Compute
2.8.0      AzureRM.profile

### OS Version
10.0.15063.296

### Description
Following the steps in the following page https://docs.microsoft.com/en-us/azure/security-center/security-center-disk-encryption I create all the prerequisites for disk e

[2017-05-11 12:21] jtuliani commented on #3692
Good feedback, thank you. I'll track on our backlog.

[2017-05-11 12:45] eosfor opened #3946 "ODataQuery parametr of Get-AzureRmResource still fails to add $filter properly"
### Cmdlet(s)

### PowerShell Version
PSVersion                      5.0.10586.117

### Module Version
Get-AzureRmResource : 4.0.0 : AzureRM.Resources
### OS Version
10.0.10586.117
### Description
[code]

This fails with Get-AzureRmResource : {"Message":"Invalid query specified. Please specify a valid filter in format of $filter"}

### Debug Output
in the debug output I see the following
the reque

[2017-05-11 17:14] markcowl commented on #3937
@brantb I didn't mean this was a requirement, merely that it might be a necessary precondition for the issue.

[2017-05-11 20:03] markcowl commented on #3936
#2199 was closed as 'won't fix'

The ServiceProject cmdlets represent a very old way to deploy apps to a very old RDFE service hosting mechanism.  Our best advice it so migrate to a VM, Website, or Conatiner -based hosting for your application - long term you will need to do this.

In the short term, these commands are fully supported in previous versions [like 0.9.8.1: https://aka.ms/azure-powers

[2017-05-11 20:03] #3936 closed

[2017-05-12 00:20] markcowl commented on #3937
@brantb Looking at the code, it appears that the cmdlet is incorrectly caching a storage management client, so that, the first timeyou call Publish or Set DSC Extension cmdlets in a session, it will retain that same client throughout the session, which caches the subscription, regardless of whether you login or switch subscriptions later in the session.

Let me know if this sounds like your scenar

[2017-05-12 00:57] brantb commented on #3937
Yeah, that sounds like what might be happening here. I haven’t tested any other *-AzureRmVmDscConfiguration cmdlets to see if they exhibit the same behavior, so I’ll take your word that the Set- version has the same issue.

From: Mark Cowlishaw
Sent: May 11, 2017 7:21 PM
To: Azure/azure-powershell
Cc: Brant Bobby; Mention
Subject: Re: [Azure/azure-powershell] Publish-AzureRmVmDscConfigurationremem

[2017-05-12 02:56] kuomingwu opened #3954 "Import-AzureRmContext unable to use"
### Description
We unable to use  Import-AzureRmContext but show failed and we found this function should able to implement on ver 3.8.0 (https://docs.microsoft.com/en-us/powershell/azure/release-notes-azureps?view=azurermps-4.0.0)

Error message as below :

+ Import-AzureRmContext
+ _____________________
    + CategoryInfo          : ObjectNotFound: (Import-AzureRmContext:String) [], CommandNotFo

[2017-05-12 08:38] jan-wang commented on #3932
Thanks!
I suggest Azure add such info to the property of a VM. It's truly useful for Enterprise account administrator.
Sometimes we need find the owner of a VM and ask he/she do some operations.

[2017-05-12 08:43] jan-wang commented on #3932
@singhkays, But how should I mapping the operation to a VM?
E.g. one user can create multiple VMs, how should I get the corresponding logs to a specific VM?

[2017-05-12 09:30] Marc013 commented on #3954
Regarding version 4.0.0

Cmdlet 'Import-AzureRmContext' does not have an alias, neither is this cmdlet functional.
When I save the AzureRmContex I am able to save data to the defined JSON file. However when I import this JSON file (which is successful) I get an error message when running cmdlet 'Get-AzureRmResourceGroup'!

==== NO ALIAS ========================================================

C:\

[2017-05-12 09:46] takekazuomi commented on #2873
@markcowl  I confirmed the fix in 4.0.0.
Thank you.

[2017-05-12 10:58] PaulVoyager commented on #3665
@mariotoffia thanks for that.  it even works from an azure runbook which was my particular problem :)

[2017-05-12 11:53] leovms commented on #3946
I see the same problem, accept I don't get any errors. In my case the `$filter=` is just removed. However, you can trick it to work. This is what I did: `$foo=bar&$filter=`. It seems the filter is busted only when it is the first parameter.

[2017-05-12 13:14] letmaik opened #3956 "New-AzureStorageContext requires account context (4.0 regression)"
### Cmdlet(s)
New-AzureStorageContext

### PowerShell Version
5.1.14393.1066

### Module Version
4.0

### OS Version
Win 10

### Description
In AzureRM < 4.0 it was possible to use this cmdlet without establishing an Azure login. You could use it just by supplying a storage account name and key, which makes sense. In 4.0, you get the error:

for Azure Resource Manager or Add-AzureAccount for Azure

[2017-05-12 16:11] singhkays commented on #3932
@jan-wang That will involve digging through the logs but the other solution I think will work for you is using a combination of tags + policies. Here's an example of how to enforce each resource in your org is created with a tag. The example below talks about costCenter but that property can be anything that makes sense for your use case

https://docs.microsoft.com/en-us/azure/azure-resource-manag

[2017-05-12 16:29] cormacpayne commented on #3956
@letmaik Hey Maik, this is a known issue that is being tracked here: https://github.com/Azure/azure-powershell/issues/3939

We plan on releasing 4.0.1 (containing this fix) to the gallery by the end of the day.

[2017-05-12 17:02] markcowl commented on #3956
@letmaik Closing as duplicate of #3939 (see the release notes for the storage module here: https://www.powershellgallery.com/packages/Azure.Storage/3.0.0, for a desciption of the bug and a workaround)

In the interim, you can work around this by adding the appropriate  -Endpoint string (```-Endpoint ".core.windows.net") for global Azure.

[2017-05-12 17:03] #3956 closed

[2017-05-12 17:08] markcowl commented on #3954
@Marc013 Can you run Get-Module -ListAvailable and provide the set of installed modules?

Import-AzureRmContext is indeed, not an alias.

[2017-05-12 17:10] markcowl commented on #3954
@kuomingwu Yes, the unfortunate obsolete warning is a known issue:  https://github.com/Azure/azure-powershell/issues/3822

However the cmdlet does exist - I'm not clear on exactly the behavior you are seeing with 3.8 when you type

```Import-AzureRmContext -Path <path to file> ```

[2017-05-12 17:11] singhkays commented on #3735
@hyonholee Can you take a look at the logic used to determine this?

[2017-05-12 17:12] singhkays commented on #3319
@ward0 I'm not sure I understand the issue. Which information panel doesn't know what?

[2017-05-12 17:29] Marc013 commented on #3954
@markcowl Herewith the information you requested + the PowerShell version I have on my Windows 10 system.

I adjusted the outcome so it is readable.

C:\> $PSVersionTable

Name                           Value
----                           -----
PSVersion                      5.1.14393.1198
PSEdition                      Desktop
PSCompatibleVersions           {1.0, 2.0, 3.0, 4.0...}
BuildVersion

[2017-05-12 17:35] johndehavilland opened #3957 "Get-AzureRmLog maxevents not honored"
Running into a mismatch of behavior with the [Get-AzureRmLog](https://docs.microsoft.com/en-us/powershell/module/azurerm.insights/get-azurermlog?view=azurermps-4.0.0) cmd and the documentation.

If I run Get-AzureRmLog it seems to return 200 events regardless whether I specify a higher -MaxEvents property. According to the docs, the default is 1000 but that does not seem to be the case.

[code]
It

[2017-05-12 18:29] shahabhijeet commented on #3803
@mrichman please reopen this issue, once you can provide more information.

[2017-05-12 18:29] #3803 closed

[2017-05-12 18:33] shahabhijeet commented on #3861
@davenewza can you use Get-AzureRmWebSite to retrieve website info.
Please let us  know if you see perf. issues with Get-AzureRmWebSite.

[2017-05-12 18:35] shahabhijeet commented on #3839
@xucong5151600 please provide us more information to get traction on this issue.
If you we dont' hear from you in next 7 days, we will close it.

[2017-05-12 18:37] #3725 closed

[2017-05-12 19:04] JamesWTruher opened #3958 "import-module AzureRM.Profile.NetCore.Preview on OSX returns an error"
### PowerShell Version
[code]

### Module Version
[code]

### Script/Steps for Reproduction
[code]

[2017-05-12 19:39] BenedekFarkas commented on #1129
I guess this issue was kind of left alone to age. We now have an answer though: `New-AzureRmSqlDatabaseImport` and `New-AzureRmSqlDatabaseExport`.

[2017-05-12 19:43] BenedekFarkas commented on #3829
I can confirm that this is an issue with the latest (4.0.0) Azure PowerShell as well (Azure: v4.0.0, Azure.Storage: v3.0.0).

[2017-05-12 20:25] jmarsik commented on #3792
@singhkays @markcowl Any news?

We have solved the problem by using Git submodules in our Git repository with the DSC configuration and by modifying PSModulePath just before calling Publish-AzureRmVMDscConfiguration to include directory containing those Git submodules. We also must ensure that the user doesn't have any of the modules used installed locally (or change PSModulePath to include ONLY t

[2017-05-12 21:07] shahabhijeet commented on #1980
@ravbhatnagar can you take a look at this again and see if you can address this.
If not please close this.

[2017-05-12 21:22] #1129 closed

[2017-05-12 23:17] markcowl commented on #3954
@Marc013 I don't see any problems there.  I'm kind of baffled by the message, I can't reproduce this issue - are you using live id or org id credentials?

Can you repro with ```$DebugPreference="Continue"```  and send the debug log (for the login and the failure)

[2017-05-12 23:20] markcowl commented on #3957
@gucalder can you take  a look?

[2017-05-13 09:00] Marc013 commented on #3954
@markcowl herewith the information you requested.

The Visual Studio subscription is linked to a Live ID however I do not use that ID to login to Azure. I have created an Azure AD account with _owner_ access to the subscription that I use.
The other account is also an Azure AD account which has access _owner_ access to the CSP subscriptions owned by my employer.

I did not experience these issues

[2017-05-13 10:33] Marc013 commented on #3954
@markcowl Update.

As you mentioned you can not reproduce my reported issue I installed the latest version of PowerShell module, Azure (4.0.1), AzureRM (4.0.1), and AzureAD (2.0.0.115) on a vanilla virtualized Windows Server 2016 server I installed, and patched, yesterday (May 12 2017).
I executed the following actions:

|action|result|comment|
|:---|:---|:---|
|Connect to Visual Studion Enterpris

[2017-05-14 18:24] Keldandorin commented on #3578
check all your installed modules and make sure they are on latest version. For em it was the Storage module that was for some reason on a old version

[2017-05-14 23:31] twitchax opened #3963 "Obtaining an auth file should be easier."
### Cmdlet(s)
N/A.

### PowerShell Version
N/A.

### Module Version
N/A.

### OS Version
N/A.

### Description

Creating an auth file should be easier (one cmdlet).  For example, the file created here
(https://docs.microsoft.com/en-us/dotnet/azure/dotnet-sdk-azure-get-started?view=azure-dotnet#set-up-authentication) could be embeddedi n a cmdlet.

### Debug Output
N/A.

### Script/Steps for Reprod

[2017-05-15 06:40] ward0 commented on #3319
@singhkays When you update a VM V2 trough AzureRm powershell, when you do a refresh in the Azure Portal the Datadisk is not there.. It will arrive after x time.

Also it would be nice to see it in the status of the Portal, 'Adding Datadisk' like you have when you create a disk with the GUI.

[2017-05-15 10:29] davenewza commented on #3861
@shahabhijeet I assume you meant `Get-AzureRmWebApp` (and not `WebSite`).

This is indeed much quicker - it seems to complete at around 18 seconds consistency from my location.

[2017-05-15 17:44] markcowl commented on #3114
@pcgeek86 @kilasuit The PowerShell team has moved to a new mechanism (a label) as the standard mechanism for designating NetCore modules.  We cannot add support for ComptiblePSEdition until we require PowerShell 5.1 as a minimum platform, which is not in the short term future.

[2017-05-15 17:44] #3114 closed

[2017-05-15 17:45] #2926 closed

[2017-05-15 17:54] markcowl opened #3967 "Update Newtonsoft.Json to version 10.0"
### Description

Once Newtonsoft.Json -compatible version of Hyak.Common has been released for netcore, update Newtonsoft.Json to 10.0 in the common runtime.

- [ ] Determine which modules must be republished and start notifying partners aoub the change
- [ ] Update references to All ARM modules to new test management packages
- [ ] Storage (if any depednency)
- [ ] Run tests with new runtimes and

[2017-05-15 18:06] markcowl opened #3968 "Add live run for package smoke test cmdlets"
### Description

Add a daily live run for smoke test installation scripts, using the latest bits in the preview branch

- [x] Clean up and check-in installation test scripts

- Compute
  - VM
  - **VMSS** - This test takes 35 minutes or more, currently excluding it, needs revision
  - https://github.com/Azure/azure-powershell/issues/5306
- **KeyVault**
  - **Secrets (Data Plane)** - Hard-coded key