[2019-03-13 09:54] blueww opened #8767 "Az.StorageSync Test project should not reference Az.Storage project"
## Description
Currently, Az.StorageSync Test project references Az.Storage project. This takes issue in SDK upgrade of Az.Storage, like following 2 PRs, and will continually take issue in the future.

https://github.com/Azure/azure-powershell/pull/8624

https://github.com/Azure/azure-powershell/pull/8748

So it's must to remove the reference of storage project from StorageSync Test, or it will ta

[2019-03-13 14:04] martgras opened #8770 "ValidateLength error when using securestrings"
## Description
When using the min/maxLength attreibutes for securestring  parameters  we fail with
"Cannot validate argument on parameter 'SecurePass'. The ValidateLength attribute cannot be applied to a parameter that is not a string or string[] parameter. Make the parameter a string or string[] parameter."

Note: this only happens if the parameter values are not supplied and powershell prompts f

[2019-03-13 19:42] AnatoliB commented on #8531
The fix for **cloud** Azure Automation jobs is rolled out to all regions.

**Hybrid** jobs need to be handled separately. We are working on getting the timeline for the fix on the Azure Automation side. In the meantime, the temporary workaround could be to create a file named OrchestratorSandbox.exe.config with the following content:
[code]
Put this file to the same folder on the Hybrid Runbook Wo

[2019-03-13 21:41] cormacpayne commented on #8675
@groovy-sky Hey Jurijs, it looks like you're getting the value for `$Thumbprint` by the following:

[code]

and this value is being used for both `New-AzADServicePrincipal` and `Connect-AzAccount`. Do you see the same error when you do the following:

[code]

[2019-03-13 22:50] brjohnstmsft commented on #8690
@RichardMisiak Glad to hear it's working for you. I'm going to close this issue now.

[2019-03-13 22:50] #8690 closed

[2019-03-13 23:11] maddieclayton commented on #8765
Hey @alexandair - Just wanted to let you know that I've had a bit of a setback here due to a bug in platyPS: https://github.com/PowerShell/platyPS/issues/202. Hoping to take a look at the platyPS bug later this release, and get the docs properly updated after that.

[2019-03-13 23:29] alexandair commented on #8765
@maddieclayton Good luck with that. That bug is known for more than 2 and a half years, and no one cared enough to fix it. People will surely appreciate your work.

[2019-03-14 02:14] blueww commented on #8473
@ronhowe , @fmicle , @mprabhu11

The fix for cloud Azure Automation jobs is rolled out to all regions.
Hybrid jobs need to be handled separately. Automation team is working on getting the timeline for this. In the meantime, the temporary workaround idea: https://github.com/Azure/azure-powershell/issues/8531#issuecomment-472576182

And the automation runbook is fixed, I plan to close the issue. Let

[2019-03-14 02:19] blueww commented on #8531
@yeswps , @brent-robinson, @ronhowe , @skaarup1986
As the Automation Runbook is fixed , and Hybrid jobs has workaround, I will close the issue now.
Feel free to contact us if you need any more assistant from us.

[2019-03-14 02:19] #8531 closed

[2019-03-14 04:22] jontreynes commented on #7778
Update:

I see that the recommendation for backup has changed. Before it was recommended to trigger up to 100 vms at a time in one Recovery Vault.
This recommendation is in referance to this doc (https://docs.microsoft.com/en-us/azure/backup/backup-azure-vms-introduction#best-practices) during this date 8/28/2018. I do not see this recommendation anymore.

May you please advise if it is best pract

[2019-03-14 06:14] abatishchev opened #8777 "Azure Portal auto-generated samples use AzureRM and not Az"
## Description

Go to Azure Portal -> any resource group having recent deployment -> Deployments -> (select one) -> Template -> PowerShell. You'll see something like this:

[code]
Note that all cmdlets are form AzureRM, rather than Az.

[2019-03-14 07:48] groovy-sky commented on #8675
@cormacpayne thank you very much. Now it works. The only thing is that from the portal and powershell I don't see the associated certificate.

Updated script looks following:
[code]

[2019-03-14 15:29] cormacpayne commented on #8675
@groovy-sky (I'm going to close this issue since it was resolved, but we can continue any further discussions in the comments of this issue)

I believe it's by design that you don't see any information about the certificate on the portal or PowerShell -- that information should be secured in the same fashion that a password isn't visible on the portal after it has been set. Let me know if you're r

[2019-03-14 15:29] #8675 closed

[2019-03-14 16:06] lacipap opened #8781 "New-AzureADGroupAppRoleAssignment"
## Description
I use AzureAD module
I ran New-AzureADGroupAppRoleAssignment to assign an app role to a security group. The call returned with insufficient privileges error but the app role assignment has happened despite of the error message.
I don't have permission to modify security groups but I have permission to assign app roles to security groups.

## Steps to reproduce

[code]

## Environmen

[2019-03-14 18:06] #8603 closed

[2019-03-14 18:34] alexandair commented on #8603
@maddieclayton Thank you.

[2019-03-15 13:39] JohannesHoppe opened #8784 "Set-AzResource is not working at all to set ipSecurityRestrictions"
## Description

I updated the Az module, in the hope that my bug #8240 was fixed.
Nope, i still can't set any firewall rules.

## Steps to reproduce

[code]

All right, let's try to set up a firewall rule. There are already four rule existing. I want to add a 5th one.

[code]

This gives no error message but also absolutely nothing happens.
Same issue reported [here](https://github.com/Azure/azure

[2019-03-15 13:41] JohannesHoppe commented on #8240
@cormacpayne I reported my issue in #8784. Unfortunately 1.5.0 had no effect to my issue. 😞

[2019-03-15 13:51] JohannesHoppe commented on #8784
By the way, we have a similar `Set-AzureRmResource` against API `2018-02-01` on a windows machine, that works! So it's definitely related to the AZ. It's completely broken here.

Just for fun.
Now trying this with ApiVersion = "2018-11-01".

[code]

That `Deny`-Rule in the HTTP-Request is new with that API-Version, but the effect is the same. Nothing happens. I am frustrated...

[2019-03-15 15:20] krottiers opened #8785 "New-AzStorageContext -UseConnectedAccount different output"
## Description
When creating a storage context using the New-AzStorageContext command with parameter -UseConnectedAccount set it gives a different output then using the command with parameter -StorageAccountKey. More specifically it doesn't show accountname and accountkey in the connectionstring property when using -UseConnectedAccount

## Steps to reproduce

[code]

## Environment data

[code]

#

[2019-03-15 15:25] cormacpayne commented on #8240
@JohannesHoppe thanks for filing the separate issue -- I just want to mention that 1.5.0 _shouldn't_ have any effect on the issue you're seeing with certain properties not getting updated, since we only fixed the broken piping scenario, but we will investigate the issue you (and others) are seeing that's outlined in the issue you opened.

[2019-03-15 16:11] cormacpayne commented on #8678
This has been fixed.

[2019-03-15 16:11] #8678 closed

[2019-03-15 17:13] berridgd opened #8787 "Get-AzRoleDefinition Returns Role Definition after Role has been Removed"
## Description
When deleting a role in azure and then immediately running Get-AzRoleDefinition the role definition is returned. This can be an issue if you want to first see if a role exists prior to setting any role assignments because if the role is deleted and the role definition is returned with the old role Id you can end up attempting to perform a role assignment on a non-existent role.

The

[2019-03-15 20:05] markcowl commented on #8701
@v-gonzaron The latest version os Az has some additional traces which may help AD folks to pinpoint the STS issue.

Turning on $DebugPreference=”Continue” before logging in will print out all the traces from the AD authentication library, which should show communication with the STS.  Once we have this, AD folks ought to be able to help with diagnosing the STS issue.

[2019-03-16 04:05] hyonholee commented on #8601
Cmdlet does save a log file of Linux VM to a local path.  It usually takes several minutes until the log file is stored in a blob storage.   This cmdlet copies the log file from a blob storage to a local path.   The parameter is optional for Linux VM.

[2019-03-16 04:05] #8601 closed

[2019-03-17 14:03] mantakaras commented on #8742
How to get a debug and error output?
P.S. I have the same issue

[2019-03-17 17:54] 4c74356b41 commented on #8742
why do you need that? this issue says it all, you just need to pass in the proper version of k8s and it will work. surprisingly, you will get a debug output if you add `-Debug`.

[2019-03-18 00:32] brent-robinson commented on #5530
This is an issue in the `Az` module's `New-AzADAppCredential` too.

When listing keys in the Azure Portal, there is a `Description` column. This can be set when creating a key from the Azure Portal or from the `AzureAD` PowerShell module.

![image](https://user-images.githubusercontent.com/6666613/54500371-6586ab00-4970-11e9-9314-aeed114243be.png)

The [`AzureAD` PowerShell Module has the `CustomK

[2019-03-18 00:57] brent-robinson commented on #5530
Looks like `customKeyIdentifier` is a field in the **beta** [Microsoft Graph API](https://docs.microsoft.com/en-us/graph/api/resources/passwordcredential?view=graph-rest-beta) (application support doesn't exist in 1.0). It also exists in the old [Azure AD Graph API](https://docs.microsoft.com/en-au/previous-versions/azure/ad/graph/api/entity-and-complex-type-reference#passwordcredential-type). It'

[2019-03-18 02:19] blueww commented on #8785
@krottiers
When you use "-UseConnectedAccount", the authentication for the storage Context is from Oauth.
When you use "-StorageAccountKey",  the authentication for the storage Context is from Storage Account Name/Key.

For Oauth, it's authentication is based on access token, and not support connectionString, so the connection string don't contains Account name and key.
So the behavior you observe

[2019-03-18 08:32] krottiers commented on #8785
@blueww
Thanks for the info! Will there be integration into other commands for Oauth support? For example New-AzStorageContainer needs a context with a connection String.

[2019-03-18 09:05] blueww commented on #8785
@krottiers
New-AzStorageContainer can run with an Oauth StorageContext.
If you get 403 with an Oauth StorageContext, you might don't configure the right permission to the logon Azure Account (logon with Connect-AzAccount).
See https://docs.microsoft.com/en-us/azure/storage/common/storage-auth-aad-rbac for more details. You need configure role `Blob Data Contributor (Preview)` for New-AzStorageCont

[2019-03-18 09:33] krottiers commented on #8785
@blueww
I indeed get a 403 but I'm an owner on the subscription so as well on the storage account. Shouldn't this work as well?

[2019-03-18 09:56] blueww commented on #8785
Please check the doc https://docs.microsoft.com/en-us/azure/storage/common/storage-auth-aad-rbac , you need add role `Blob Data Contributor (Preview)` for your account.

The owner role is for mangement, it doesn't not work for blob container now.

[2019-03-18 10:09] krottiers commented on #8785
Ok, thank you for the explanation.

[2019-03-18 10:09] #8785 closed

[2019-03-18 10:40] viktors-telle commented on #5970
Is this issue also fixed for `AzureRm` module?

[2019-03-18 11:01] iricigor commented on #2910
This is weird. How do you specify BackendIpConfiguration if there is no such parameter? Where Load Balancer will send traffic matching this rule?

Here is a screenshot from the portal which is using backend IP configuration
![image](https://user-images.githubusercontent.com/15923171/54525908-7f76bc80-4975-11e9-94b7-9da2f9874994.png)

[2019-03-18 11:45] JohannesHoppe commented on #661
Just for the records, and for search engines:

Automation Accounts with Runbooks are pretty useless for this task, because they only have PowerShell support. CLI scripts in __Azure Automation__ are not supported.

see here: https://feedback.azure.com/forums/246290-automation/suggestions/36791101-add-support-for-azure-cli-runbooks-in-automation

_PS. I'm fascinated that I always run into struggles

[2019-03-18 12:54] iricigor opened #8794 "Add-AzLoadBalancerInboundNatRuleConfig not working"
## Description

Commandlet `Add-AzLoadBalancerInboundNatRuleConfig` and others related to NAT rules are strange. They throw an error about missing non-existing parameter (probably something internal).

Also, you cannot specify backend IP configuration in any of them, but it is required in reality. How the load balancer will know where to send traffic that is matching this rule?

This is valid also

[2019-03-18 13:33] iricigor commented on #8794
And if adding inbound NAT rule configuration requires some other commands also, it might be good to mention it in the [help page for the commandlet](https://docs.microsoft.com/en-us/powershell/module/az.network/add-azloadbalancerinboundnatruleconfig).

[2019-03-18 13:58] EZhao-Quest opened #8795 "Enable-AzureRmAlias doesn't work"
Enable-AzureRmAlias doesn't work , when I create a powershell class,  I have a AzureRm Call in the class, I want to Enable-AzureRmAlias , but always told me the  : The term 'Get-AzureRmResourceLock' is not recognized as the name of a cmdlet, function, script file, or operable program.

[2019-03-18 15:03] jsnikhil commented on #8513
An official docker image per release will be very useful for us. We try to use a consistent environment across our development, production and deployment environments, and docker gives that flexibility quite easily. Having the need to install powershell-core on all diff local platforms MacOS, Linux and Windows and keep it consistent is too much overhead for developers.

Right now we use a tag from

[2019-03-18 15:26] cltews opened #8796 "Get-AzStorageContainer shows HTTP 403 when getting containers of SA"
## Description

## Steps to reproduce

Create a script with AzureRM module like this:

## Environment data

[code]

## Module versions

[code]

## Debug output

[code]

## Error output

[code]

[2019-03-18 15:26] #8796 closed

[2019-03-18 18:20] panchagnula commented on #5970
Correct - all changes are on AzureRm module

[2019-03-18 18:36] dagiro opened #8797 "Issues when secure transfer is enabled"
`Get-AzureRmHDInsightCluster` and `Get-AzHDInsightCluster` do not return `DefaultStorageAccount` and `DefaultStorageContainer` when secure transfer is enabled on the storage account.

[2019-03-19 02:37] blueww opened #8800 "Adjsut the Output format for Lifecycle objects"
## Description
The objects include:
Microsoft.Azure.Commands.Management.Storage.Models.PSManagementPolicy
Microsoft.Azure.Commands.Management.Storage.Models.PSManagementPolicyRule
Microsoft.Azure.Commands.Management.Storage.Models.PSManagementPolicyActionGroup

We should decide tableview of list view, and how to show the properties in the view

## Cost
If the design is done, the change cost should

[2019-03-19 09:03] kapolb commented on #2014
still not working, debug:

DEBUG: 9:55:48 - SetAzureSqlServerFirewallRule begin processing with ParameterSet '__AllParameterSets'.
DEBUG: 9:55:48 - using account id 'blah'...
DEBUG: [Common.Authentication]: Checking token expiration, token expires '03/19/2019 09:47:51 +00:00' Comparing to '03/19/2019 08:55:48 +00:00' With threshold '00:05:00', calculated time until token expiry: '00:52:02.5172227'

[2019-03-19 09:11] KrishnaG-MSFT commented on #8738
@markcowl @safeermohammed @eamonoreilly @vrdmr Any update on this please ?

[2019-03-19 13:10] brendonthiede commented on #7761
I am seeing this exact same behavior. Did anyone identify where the issue resides? (I believe that it's not here, just can't find where)

[2019-03-19 15:38] vladimir-shcherbakov commented on #8787
@darshanhs90 Could you please take a look?

[2019-03-19 15:46] vladimir-shcherbakov commented on #8795
@EZhao-Quest Please do not ignore the issue entry form - data requested in the form is very important for identifying the issue. I'll add the form in the next comment - feel free to click on the `Edit` menu and fill out the form.

[2019-03-19 15:46] vladimir-shcherbakov commented on #8795
## Description

## Steps to reproduce

[code]

## Module versions

[code]

## Debug output

[code]

## Error output

[code]

[2019-03-19 15:51] vladimir-shcherbakov commented on #8794
@gmainar Could you please take a look?

[2019-03-19 16:04] vladimir-shcherbakov commented on #8770
@martgras Could you please provide full Debug and Error output:
1. Debug output:
    * Set `$DebugPreference='Continue'` before running the repro
    * Run the repro and paste the resulting debug stream in the below code block (click edit to see):
[code]
2.  Error output:
    * Run `Resolve-AzureRmError` and paste the output in the below code block:
[code]

[2019-03-19 16:14] vladimir-shcherbakov commented on #8766
@ranokarno
Could you please provide full Debug output:
1. Debug output:
    * Set `$DebugPreference='Continue'` before running the repro
    * Run the repro and paste the resulting debug stream in the below code block (click edit to see):
[code]

[2019-03-19 16:27] martgras commented on #8770
Debug output shows the same outout as without using the debug option
From what I can see the problem is in line  265 [TemplateUtility.cs](https://github.com/Azure/azure-powershell/blob/c444100ed18d235a87adb69bbeba9df23ad146e4/src/Resources/ResourceManager/Utilities/TemplateUtility.cs)   - the ValidateLengthAttribute is applyed to a securestring type but powershell allows the ValidateLengthAttribut

[2019-03-19 16:27] solankisamir opened #8802 "[ApiManagement] Missing Example showing how to add an operation to ApiRevision"
## Description
We are missing an example showing how the customer can use New-AzApiManagementOperation to add operation to a Revision
https://docs.microsoft.com/en-us/powershell/module/az.apimanagement/New-AzApiManagementOperation?view=azps-1.5.0#examples

[2019-03-19 20:03] vrdmr commented on #8738
@avkaur @mgreenegit Can you please take a look?

[2019-03-19 21:38] darshanhs90 commented on #8787
@vladimir-shcherbakov Custom roles are cached, due to that you will be seeing that in the Get-Azroledefinition results.
If you log out and login ,the cache should become expired and you should no longer be seeing the deleted role in the result

[2019-03-19 21:38] #8787 closed

[2019-03-19 21:58] vladimir-shcherbakov commented on #8763
@ravbhatnagar Could you please take a look?

[2019-03-19 22:19] RPCMarkR opened #8805 "Add-AzAutoscaleSetting gives error"
I am unable to use the **Add-AzAutoscaleSetting**, it only produces an error which is non-descriptive. All the examples I have found on the internet are old and the parameters are no longer valid. I tried the sample provided on Microsoft's website and received the same error.

Error Message:
WARNING: 6:08:52 PM - *** The namespace for all the model classes will change from Microsoft.Azure.Manageme

[2019-03-19 22:24] #8805 closed

[2019-03-19 22:25] RPCMarkR commented on #8805
Sorry, I see the error in the Rule setting now.

[2019-03-20 04:16] laurencee opened #8807 "Missing "subscription required" flag for import/set api management api calls"
## Description

None of the API Management powershell cmdlets expose a way to set the "subscription required" flag for an API.

Everytime you import/set the api it will overwrite the flag back to the "true" state.

These were the cmdlet tested:

`Import-AzureRmApiManagementApi`
`Import-AzApiManagementApi`
`Set-AzureRmApiManagementApi`
`Set-AzApiManagementApi`

## Steps to reproduce

1. Import an A

[2019-03-20 08:09] viktors-telle commented on #5970
The issue is still present in `6.13.1` version.
![image](https://user-images.githubusercontent.com/3688279/54668710-3602aa80-4af8-11e9-895b-2c878b6cfc1a.png)

[2019-03-20 09:16] blueww opened #8808 "Update Migration Guide for Storage Table cmdlets output type change"
## Description
In the upcoming release ( Az 1.6.0) , Az.Storage module (Az.Storage 1.1.0) Table cmdlets output Type will change, so some customer script need change the name space:
From `Microsoft.WindowsAzure.Storage.Table`
To `Microsoft.Azure.Cosmos.Table`

Open this issue for provide resolution for potential issue in upcoming Azure Powershell release.

## Steps to reproduce

[code]

## Environm

[2019-03-20 09:19] blueww commented on #8808
The issue is caused by with upgrade Storage Client Library from 9.3.* to 9.4.2, table is removed from Storage Client Library, and Powershell need Manage Table with "Microsoft.Azure.Cosmos.Table" library.

The resolution is change all the object namespace
From `Microsoft.WindowsAzure.Storage.Table`
To `Microsoft.Azure.Cosmos.Table`

Like following script worked with Az.Storage 1.1.0:
[code]

[2019-03-20 17:20] ranokarno commented on #8766
@vladimir-shcherbakov ,
please see edited output. there is no issue executing the script.
however in Azure portal it is showing that `automatic tuning configuration is not specified`.
![image](https://user-images.githubusercontent.com/41361957/54704988-cb448400-4b76-11e9-9c04-3fed2b7cf798.png)

if i run rest-api, it is showing `desiredState: Unspecified`

REST-API output
[code]

[2019-03-20 18:11] abatishchev commented on #8777
@RandalliLama @markcowl ping. do you know who to talk to about this?

[2019-03-20 18:48] DCtheGeek opened #8809 "Search-AzGraph is in the wrong node"
## Description

`Search-AzGraph` is showing up under 'Search' instead of 'Resource Graph'. It looks like the mappings was incorrectly changes and that the search entry is overly broad of mapping cmdlets to the node. This also means when you click on the Az.ResourceGraph module there is no entry in the Reference TOC.

cc @markcowl @sptramer

[2019-03-20 19:12] bholzmmc opened #8810 "get-azsubscription returns no results"
Running Powershell as Adminstrator, using Azure account with Global Administrator role, successfully Connect-AzAccount but Get-AzSubscription returns to the command prompt with no results and no error messages.  Running with -debug does not seem to incur any errors.  In Azure portal there at least 15 on the License -Overiew -> Products page.

[2019-03-20 20:20] toddrob opened #8811 "Cannot Set-AzContext to another tenant"
## Description
In the AzureRM version of this command we could change our context to be within the customer tenant for a subscription.  Now it looks like we are not able to.  This is a problem because we don't have an identity in the other tenant, but rather permissions are assigned to us and our identity is that of a guest user.

## Steps to reproduce

[code]

When I run the above look at the out

[2019-03-20 20:51] YuriySamorodov opened #8812 "Invoke-AzOperationalInsightsQuery : An error occurred while sending the request"
## Description
When running a query against Log Analytics it would error out eventually:

![image](https://user-images.githubusercontent.com/5260172/54717688-df35b900-4b69-11e9-9187-74fb8b676590.png)

## Steps to reproduce

[code]

## Environment data

[code]

## Module versions

[code]

## Debug output

[code]

## Error output

[code]

[2019-03-21 08:46] Leon99 opened #8818 "Distribution of Azure CLI via package manager on Windows"
I don't think that distributing a CLI tool via a GUI installer makes much sense. Besides, while on Linux there are officially supported ways to install it via package managers, there is none on Windows. This creates an impression that Microsoft doesn't back their own products.
I'm aware of the existance of an unofficial Chocolatey package, but it's clearly not a first-class citizen and official do

[2019-03-21 10:51] rageshm110 opened #8819 "Az.ResourceGraph Search-AzGraph command not returning Load balancer details"
## Description
I am using Az module version 1.5.0
Az.ResourceGraph module version 0.7.1
While trying to get info on Azure resources I used below query (reference: https://docs.microsoft.com/en-us/azure/governance/resource-graph/samples/starter)

[code]

Result:
[code]

Which is not giving me any information on Load Balancers and Application gateways in my azure environment.

While trying the below

[2019-03-21 11:44] brendonthiede commented on #8226
Is there an easy way to toggle the aliases on and off within a single script?

The situation I'm seeing is that the Get-AzureRmWebApp uses older behavior that can't get the Identity, so I'd like to use Get-AzWebApp, but I still would like to use the aliases for some shared scripts that are built for AzureRm 6.12 or 6.13. The only way that I've seen to disable the aliases involves starting a new Po

[2019-03-21 13:30] robert-hanekom opened #8820 "Export-AzAutomationDscConfiguration trying to export as JSON"
## Description
When running the Export DscConfiguration, I get an error that it cannot deserialize the response.  From debug it looks like it's assuming the configuration file is in JSON format rather than PowerShell.

## Steps to reproduce

Export-AzAutomationDscConfiguration -Name $configurationName -ResourceGroupName $resourceGroupName -AutomationAccountName $automationAccountName -OutputFolder

[2019-03-21 13:37] ChrisLGardner commented on #8226
You can use Remove-Item to get rid of an alias you don't like/need, `Remove-Item:\Get-AzureRmWebApp`.

I'm surprised you're seeing a difference in behavior since they'll both be calling exactly the same command (since that's the point of aliases).

Do you have any repro steps?
________________________________
From: Brendon Thiede <notifications@github.com>
Sent: Thursday, March 21, 2019 4:45:50 AM

[2019-03-21 14:33] asbjorn-wiik opened #8821 "Get-AzsVolume not reporting correctly when monitoring repair status after node reboots"
Hi

I decided to try using Get-AzsVolume
Get-AzsVolume -ScaleUnit S-Cluster -StorageSubSystem S-Cluster.InternalAzureStackFQDN | Select-Object VolumeLabel, OperationalStatus, HealthStatus, RepairStatus | sort VolumeLabel to monitor status of Azure Stack Volumes when draining and rebooting nodes, instead of using PEP session and running get-virtualdisk -cimsession s-cluster; get-virtualdisk -cimses

[2019-03-21 16:08] RobertoBorges commented on #8638
Same error, any workarounds ?

[2019-03-21 16:18] vladimir-shcherbakov commented on #8810
@bholzmmc Please fill out  the `Az module bug report` form to help us investigate the issue. Fill free to click `Edit` and fill out the form bellow:

## Description

## Steps to reproduce

[code]

## Environment data

[code]

## Module versions

[code]

## Debug output

[code]

## Error output

[code]

[2019-03-21 16:28] maddieclayton commented on #8226
You can also use the "Disable-AzureRmAlias" which will basically run Remove-Item over all of the aliases that were created (you can scope down using -Module)

[2019-03-21 16:28] vladimir-shcherbakov commented on #8812
@xizhamsft Could you take a look?

[2019-03-21 19:11] avkaur commented on #8738
investigating it

[2019-03-21 21:02] bholzmmc commented on #8810
**Description**
get-azsubscription returns no results

**Steps to reproduce**
connect-azaccount
get-subscription

**Environment data**
PS C:\WINDOWS\system32> $PSVersionTable

Name                           Value
----                           -----
PSVersion                      5.1.14393.2636
PSEdition                      Desktop
PSCompatibleVersions           {1.0, 2.0, 3.0, 4.0...}
BuildVersi

[2019-03-21 21:28] vladimir-shcherbakov commented on #8807
@laurencee
The AzureRM cmdlets are no longer in active development, so you may want to try Az cmdlets first.
If Az cmdlets don't work for you - please fill out the `Az module bug report` entry form that helps us to investigate the issue:

## Description

## Steps to reproduce

[code]

## Environment data

[code]

## Module versions

[code]

## Debug output

[code]

## Error output

[code]

[2019-03-21 23:24] laurencee commented on #8807
@vladimir-shcherbakov My bug report includes the az commands, neither az or azurerm include this flag.

[2019-03-22 01:28] brendonthiede commented on #8226
Steps to reproduce would be install Az module on a fresh system and enable aliases:

[code]

Now look at the version of a command, such as `Get-AzureRmWebApp`:

[code]

Now on a different system with AzureRM installed (in my case, version 6.12.0 on a local build server) and run the same command:

[code]

Another example is `Get-AzureRmADServicePrincipal`, where the alias in Az behaves like version

[2019-03-22 08:45] sndkr commented on #8638
@RobertoBorges
Hello, no workarounf for this bug at the moment of my site. I hope of the next release.

[2019-03-22 09:13] polischuk opened #8826 "Microsoft.WindowsAzure.Commands.Websites.GetAzureWebsiteCommand Request to a downlevel service failed."
Hi starting from today my script stop working, script start and stop my app service.
Error
`Get-AzureWebsite : <string xmlns="http://schemas.microsoft.com/2003/10/Serialization/">Request to a downlevel service  failed.</string> At start-stop-appservice:29 char:29 +      + CategoryInfo          : CloseError: (:) [Get-AzureWebsite], CloudException     + FullyQualifiedErrorId : Microsoft.WindowsAzure

[2019-03-22 10:11] jgoyvaerts commented on #8826
Same issue here!

[2019-03-22 10:36] polischuk commented on #8826
@jgoyvaerts  where?

[2019-03-22 10:54] pedrocarvalhoclaranet commented on #8336
Same issue here. Is anyone working on this ?

[2019-03-22 10:58] jgoyvaerts commented on #8826
A call to Get-AzureWebsiteJob stopped working in our Azure DevOps release pipeline

[2019-03-22 11:11] pedrocarvalhoclaranet opened #8827 "Set-AzRecoveryServicesAsrReplicationProtectedItem System.NullReferenceException on GetValueFromArmId"
## Description
Running Set-AzRecoveryServicesAsrReplicationProtectedItem on a ASR Vault using Managed Disks, for a Vmware->Azure DR solution, yields "Object reference not set to an instance of an object"

## Steps to reproduce

[code]

## Environment data

[code]

## Module versions

[code]

## Debug output

[code]

## Error output

[code]

[2019-03-22 12:43] polischuk commented on #8826
@jgoyvaerts  ![image](https://user-images.githubusercontent.com/6980161/54823542-de5b6f00-4cb0-11e9-9fe1-7782e3983f31.png)

[2019-03-22 13:30] CHDAFNI-MSFT opened #8828 "Get/Save-AzResourceGroupGalleryTemplate - missing from Az module"
Per help file for 'New-AzResourceGroupDeployment' - references are made to cmdlets "**Get-AzResourceGroupGalleryTemplate**", "**Save-AzResourceGroupGalleryTemplate**", however these cmdlets do not exist. [https://docs.microsoft.com/en-us/powershell/module/az.resources/new-azresourcegroupdeployment?view=azps-1.5.0#parameters](https://docs.microsoft.com/en-us/powershell/module/az.resources/new-azres

[2019-03-22 15:25] brendonthiede commented on #8226
I was confused... Somehow I had AzureRM installed on my system _as well as_ Az. This should have been obvious from the result of `Get-Command`, as it did not show as an alias. I closed all PowerShell Windows, opened an Admin instance, and ran `Uninstall-AzureRm`. After opening a new PowerShell window and enabling aliases, CommandType when calling `Get-Command Get-AzureRmWebApp` is now "Alias". Sor

[2019-03-22 16:33] cormacpayne commented on #5551
This functionality will be added when the cmdlets are [generated using AutoRest](https://devblogs.microsoft.com/powershell/cmdlets-via-autorest/) later this year.

[2019-03-22 16:33] #5551 closed

[2019-03-22 19:34] #2626 closed

[2019-03-22 19:44] markcowl commented on #8638
@RobertoBorges @sndkr  This has to do with the underlying Trust connection with your local STS - this is the token service in your AD domain.  Based on the error, this could be a configuration issue, or it could be soem issue with the request, for example that your directory does not allow user authentication without multi-factor auth.  Forwarding this to the AD team, who may be able to help diagn

[2019-03-22 21:09] vladimir-shcherbakov commented on #8827
@siddharth7 Could you take a look?

[2019-03-22 21:20] vladimir-shcherbakov commented on #8826
@polischuk Please fill out the `Az module bug report` entry form. The data of this form is essential for the investigation process.

## Description

## Steps to reproduce

[code]

## Environment data

[code]

## Module versions

[code]

## Debug output

[code]

## Error output

[code]

[2019-03-22 21:38] vladimir-shcherbakov commented on #8828
@ravbhatnagar Could you take a look?

[2019-03-22 21:42] vladimir-shcherbakov commented on #8820
@vrdmr  Could you take a look?

[2019-03-22 21:50] vladimir-shcherbakov commented on #8821
@bganapa Could you take a look?

[2019-03-22 22:03] vladimir-shcherbakov commented on #8819
@demyanenko Could you take a look?

[2019-03-22 22:27] vladimir-shcherbakov commented on #8797
@dagiro Can you help us to get more context and fill out the `Az module bug report`:

## Description

## Steps to reproduce

[code]

## Environment data

[code]

## Module versions

[code]

## Debug output

[code]

## Error output

[code]

[2019-03-22 22:35] vladimir-shcherbakov commented on #8811
@cormacpayne  Could you take a look?

[2019-03-22 22:37] dagiro commented on #8797
Create a storage account through portal which will make secure transfer enabled by default. Else just set it to enabled after creation.  Create cluster using that storage account.  Connect, Connect-AzAccount.  Then execute. Get-AzHDInsightCluster -ClusterName <clusterName>. Executes without error.  However, there are no values for DefaultStorageAccount and DefaultStorageContainer.

[2019-03-22 22:38] vladimir-shcherbakov commented on #8764
@ravbhatnagar Could you take a look?

[2019-03-22 23:04] bganapa commented on #8821
Thanks @vladimir-shcherbakov  for looping me in @zyxyoshine Can you please comment and track a bug internally as well?

[2019-03-22 23:12] jixer commented on #8826
We are running into this same issue in one of our TFS builds.  Not sure when the issue started, but we had a successful build as of 5 days ago and now none of the builds using the Azure Web App Deployment build task are working.

We are using the out-of-the-box Azure Web App Deployment build task from TFS 2015 Update 4.

Here is the output from the build server task.
![tfs_error](https://user-imag

[2019-03-22 23:34] vladimir-shcherbakov commented on #8781
@lacipap Unfortunately, the New-AzureADGroupAppRoleAssignment cmdlet belongs to AzureAD module which is not our area of responsibility and we can't point you to the right place to submit the issue since AzureAD is not  an open source project and doesn't have a GitHub repository like this one. Please try Microsoft support.

[2019-03-22 23:34] #8781 closed

[2019-03-23 00:42] maddieclayton opened #8834 "Add cross tenant support for image gallery in New-AzVM"
Hyonho's PR for complex parameter set: https://github.com/Azure/azure-powershell/pull/8824

[2019-03-23 01:12] snorrk opened #8835 "NullReferenceException in Az.Storage if user has not authenticated"
## Description
If `New-AZStorageContext -UseConnectedAccount -StorageAccountName $storageAccountName` is called before Add-AzAccount is called a NullReferenceException is thrown.

This doesn't help the user understand the actual issue. A message indicating that "Add-AzAccount" needs to be called first should be shown.

## Steps to reproduce

[code]

## Environment data

[code]

## Module versions

[2019-03-23 12:08] PrajithB opened #8836 "couldn't create QnA and bot app using powershell"
I'm trying to create QnA using powershell command - New-AzCognitiveServicesAccount, but I get the error shown below. I'm not sure to which parameter the runtimeendpoint needs to passed. Guess it also needs search instance, appservice, appserviceplan and web app bot to be created. Not really sure how these parameters can be passed to PS command. Using JSON it works fine. I do have same issue in cre

[2019-03-24 03:38] vladimir-shcherbakov commented on #8770
@ravbhatnagar Could you take a look?

[2019-03-25 03:06] blueww commented on #8835
@snorrk
Thanks for report the issue!
I have filed a PR to fix it. https://github.com/Azure/azure-powershell/pull/8837

[2019-03-25 05:02] zyxyoshine commented on #8821
Thanks @bganapa, I've filed a bug to our team.
This inconsistent issue may be caused by the storage controller cache (5 mins life cycle), @asbjorn-wiik Did the Get-AzsVolume always return repair status 98%? (or just in a short time window?)
I will update status here when our team investigate more.

[2019-03-25 08:43] asbjorn-wiik commented on #8821
Hi @zyxyoshine
There was a delayed response al trough out the volume rebuilds and after I filed the bug I did see the Get-AzsVolume update to a healthy state. I can’t for sure say the time window of the delay

[2019-03-25 08:57] polischuk commented on #8826
@vladimir-shcherbakov @jgoyvaerts as I described before: it's running as
### Steps to reproduce
Azure workbook
### Environment data
azure

### Error output
[code]

[2019-03-25 11:07] ninocrudele commented on #7787
Hi, any update on this? the module still missing
Thanks
Regards
Nino

[2019-03-25 13:06] gbaman commented on #8348
Still radio silence on this issue @markcowl @dragonfly91?

[2019-03-25 15:21] arestarh opened #8841 "Get-AzWebApp returns 'PSSite' object with empty 'kind' property"
## Description
Get-AzWebApp returns 'PSSite' object with empty 'kind' property while Get-AzResource for resourceType "Microsoft.Web/sites" returns 'PSSite' object with 'kind' property with correct value.

## Steps to reproduce

[code]

## Environment data

[code]

## Module versions

[code]

[2019-03-25 16:34] YuriySamorodov opened #8842 "Get-AzOperationalInsightsSavedSearchResults Saved search result not supported for the new query language"
## Description
It looks like Get-AzOperationalInsightsSavedSearchResults does not support Kusto
Getting the following error:
Saved search result not supported for the new query language.
Similar issues:
#4548
#7144

## Steps to reproduce

Write a query in Azure Log Analytics with Kusto
Save a query in portal
Run command similar to the one below

[code]

## Environment data

[code]

## Module versi

[2019-03-25 17:23] tonjohn commented on #7558
Publish-AzureWebsiteProject has been hitting the 'downlevel service failed' error since Friday. Why does this issue keep randomly cropping up?

[2019-03-25 17:24] tonjohn commented on #8826
We started hitting this error on Friday with the Publish-AzureWebsiteProject command.

[2019-03-25 17:28] eyccli commented on #7558
I bet it's been disabled again like what they did in December. They're supposed to be rolling out AzureRM to replace Azure Powershell functions but last I recall they didn't have a "publish-azurewebsiteproject" equivalent in place.

[2019-03-25 17:39] markcowl commented on #8836
@felixwa Can you take a look?

[2019-03-25 17:42] markcowl commented on #8841
@arestarh Can you provide a debug stream example for this (run Get-AzWebsite showing the issue, with $DebugPreference set to "Continue")?

[2019-03-25 17:55] markcowl commented on #8842
@xizhamsft Please respond on whether runnign saved Kusot Queries thtorugh the API is planned for (or should be) support.

[2019-03-25 17:57] ruslany commented on #7558
@tonjohn @eyccli - There is a new cmdlet - Publish-AzWebApp that is a replacement for the Publish-AzureWebSiteProject. (https://github.com/Azure/azure-powershell/pull/8250). Since the new cmdlet is available we've resumed blocking of the deprecated APIs.

[2019-03-25 18:00] markcowl commented on #8808
@blueww The ask from us here is to update the migration guide to include this information as part of your PR, as well as putting this in release notes and changelog:  https://github.com/Azure/azure-powershell/blob/master/documentation/migration-guides/Az.1.0.0-migration-guide.md

[2019-03-25 18:01] markcowl commented on #8802
@solankisamir Can you put this issue into the milestone you plan to fix it in (or backlog if not in the next 4 milestones)

[2019-03-25 18:03] markcowl commented on #8777
@sphibbs Shoudl figure out who owns this script and the right way to migrate.

[2019-03-25 18:04] eyccli commented on #7558
@ruslany   I just read Ticket 8250 above and seems to be the case.  Are there any documentation on how to get this to work with a CI so users do not need to interact with deployment, similar to the old Azure cmdlets? Or do we have to use a service principle?  Thanks.

[2019-03-25 18:04] YuriySamorodov commented on #8842
Thank you @markcowl In addition I would really love to know which language I am supposed to be using in case of Get-AzOperationalInsightsSavedSearchResults

[2019-03-25 18:13] panchagnula commented on #7558
@Nking92 can you please comment on the above query.  @eyccli this is the only documentation I am aware of https://docs.microsoft.com/en-us/powershell/module/Az.Websites/Publish-AzWebApp?view=azps-1.5.0

[2019-03-25 18:14] markcowl commented on #8628
@dalibormesaric This is not a related issue then.  Logging in with new credentials simply adds any new subscriptions to your context - your 'default' context isn't changed unless you change it.

You can either logout when you are finished using a set of credentials Disconnect-AzAccount  or Clear-AzContext, or you can keep those credentials around and use select-AzContext to select between the  use

[2019-03-25 18:20] markcowl commented on #8628
@ericame Is this the result of logging in with your hotmail credentials?  Or your Microsoft.com credentials?

[2019-03-25 18:24] markcowl commented on #8695
Closing for lack of comment.  Please reopen if you see this issue in Az

[2019-03-25 18:24] #8695 closed

[2019-03-25 18:30] tonjohn commented on #7558
@ruslany why do the errors in the deprecated APIs not make this clear? Instead of a confusing error, they should point me to the new API...

[2019-03-25 18:34] markcowl commented on #8716
@panchagnula This looks like a valid request in which the query parameters are incorrectly encoded.  Can you take  alook?

[2019-03-25 18:47] markcowl commented on #8638
@sndkr So it looks like you are seeing this issue with username + Credential - are you also seeing it with interactive login (i.e. just running Connect-AzAccount, without parameters)?

The error indicates an issue with one of the initial protocol seteps with your eSTS, this coule be improperly url-encoding a special character in your password - if you're able to log in interactively, that would he

[2019-03-25 18:48] dalibormesaric commented on #8628
@markcowl thanks for answering! My issue was that I ran a powershell script from visual studio code starting with `Connect-AzAccount`. First I was logged in with my company account when I entered the code. The second time I ran the script, it was another browser with a session logged in to my MSDN account. Third time I went back and wanted to enter the code in the first browser with my company acc

[2019-03-25 18:49] markcowl commented on #8726
Closing

[2019-03-25 18:49] #8726 closed

[2019-03-25 18:51] markcowl commented on #8557
@artisticcheese Are you able to log in using the interactive flow (i.e. Connect-AzAccount with no credentials)?  This will help narrow down this error early in the protocol between your machine and the STS.

[2019-03-25 18:53] artisticcheese commented on #8557
Yes I can connect via UI, issue is with module above. It's not my machine either, since another user above reported the same issue.

[2019-03-25 18:55] markcowl commented on #8565
Seeme liek the issue at this point is updating resource manager docs to use ```ExpanProperties``` and properly document the usage of ```Api-Version```

[2019-03-25 19:08] panchagnula commented on #8716
Please use this new API instead all metrics are now supported with this API only, webapps won't be supporting metrics anymore https://docs.microsoft.com/en-us/powershell/module/azurerm.insights/Get-AzureRmMetric?view=azurermps-6.13.0. I believe we have an outstanding issue to mark the webapps API deprecated

[2019-03-25 21:34] markcowl commented on #8516
Closing in favor of similar documentation for the generated cmdlets

[2019-03-25 21:34] #8516 closed

[2019-03-25 21:37] markcowl commented on #8466
Scope of this fix:  Default to first available location if 'East Us' is not available

Cost: 2

[2019-03-25 21:38] markcowl commented on #8440
Tying to generated cmdlets

[2019-03-25 21:40] markcowl commented on #8412
05 -21 Milestone for cmdlet customizations on generated cmdlet code

[2019-03-25 21:45] markcowl commented on #7567
Out of date

[2019-03-25 21:45] #7567 closed

[2019-03-25 21:46] markcowl commented on #7568
Obsolete

[2019-03-25 21:46] #7568 closed

[2019-03-25 21:51] markcowl commented on #7338
Closing as obsolete

[2019-03-25 21:51] #7338 closed

[2019-03-25 21:52] #6792 closed

[2019-03-25 21:54] markcowl commented on #6186
Demo'd at MVP Summit, targeting for next release

[2019-03-25 21:56] markcowl commented on #5583
Clsoing ans s this should be hanlded by design for generated cmdlets with ResourceId type conversion

[2019-03-25 21:56] #5583 closed

[2019-03-25 21:57] #4668 closed

[2019-03-25 21:57] #4667 closed

[2019-03-25 21:59] #8423 closed

[2019-03-25 21:59] #8291 closed

[2019-03-25 22:09] markcowl opened #8846 "NoWait Support for Compute LRO Cmdlets"
## Description

For Compute LRO Cmdlets, other than the simple parameter set for VM and VMSS, add the option -NoWait, which calls the 'Begin<Operation>' call in the underlying SDK, and returnes on the ACCEPTED returned from the SDK

This should return a type which has only tracking information

## Cost
8

[2019-03-25 22:18] cblackuk opened #8847 "AzureStack Module 1.7.0 is broken in PowerShell Gallery as it the AzureRM.Resources dependencies are incorrectly set to 6.0.2 on 10 out of 13 AzS modules."
## Description

I could not decide what type of issue is it so I left it as AzureRM - hope it is ok.

AzureStack module has got wrong dependencies in PowerShell Gallery but they are correct in GitHub - not sure how to raise an issue for PowerShell Gallery so I am raising it here.

Effectively when you follow install Azure Stack PowerShell guide - <https://docs.microsoft.com/en-us/azure/azure-stack

[2019-03-25 22:34] bingbing8 opened #8848 "Invoke-AzVMRunCommand/Invoke-AzureRMRunCommand does not return the output"
## Description
I saw some previous bugs about no output were resolved. But still don't get any output in latest build for 'RunPowerShellScript'
Invoke-AzVMRunCommand/Invoke-AzureRMRunCommand does not return the output

the script to run on remote machine is:
Write-output $env:COMPUTERNAME

## Steps to reproduce

[code]

## Environment data

[code]

## Module versions

[code]

## Debug output

[cod

[2019-03-25 23:01] sean-nixon commented on #8629
Any updates on when there will be a fix for this?

[2019-03-25 23:06] sean-nixon commented on #8336
I'm also experiencing this issue and it's blocking us upgrading to the AZ module. Is anyone working on this?

[2019-03-25 23:08] sean-nixon commented on #8827
I'm also experiencing this same error (with the same stacktrace) when using the `Update-AzureRmRecoveryServicesAsrProtectionDirection` cmdlet for AzureToAzure replication

[2019-03-25 23:09] bganapa commented on #8847
@cblackuk Thanks. looking at this issue

[2019-03-25 23:28] ebmarquez opened #8850 "https://aka.ms/azps-migration-guide link is broken, leads to Microsoft homepage"
received this warning
WARNING: AzureRM.Profile already loaded. Az and AzureRM modules cannot be imported in the same session or used in the same script or runbook. If you are running PowerShell in an environment you control you can use the 'Uninstall-AzureRm' cmdlet to remove all AzureRm modules from your machine. If you are running in Azure Automation, take care that none of your runbooks import

[2019-03-25 23:31] cormacpayne commented on #8850
@ebmarquez Hey Eric, would you mind trying the link again? I just clicked on the link that you provided in the issue body above and it leads me to [this page](https://github.com/Azure/azure-powershell/blob/master/documentation/migration-guides/Az.1.0.0-migration-guide.md), which is the correct redirect destination.

[2019-03-25 23:54] #8848 closed

[2019-03-26 00:44] imeya commented on #8716
@panchagnula , the new api you mean get-AzureRmMetric?
and could you please point out which issue to mark the webapps API deprecated? Thanks.

[2019-03-26 01:46] blueww commented on #8808
@markcowl

This issue is opened by me to track the namespace change of Table.

How could we change the release note for this?
The link you send it for Az.1.0.0, should we just update this link, or add one for the new Az.1.6.0?
Will someone from your team help to update the doc, or should I update the doc?

For change log, I have added the following line to it. Should we also add the namespace samp

[2019-03-26 06:26] rageshm110 commented on #8819
You may close this as it may have been caused as I did not explicitly pass `-First` parameter with `Search-AzGraph`

[2019-03-26 07:46] SRoy23 opened #8851 "The 'Get-azVM' command was found in the module 'Az.Compute', but the module could not be loaded."
I have used Az module in powershell script which is getting executed from powershell core but getting error while executing the script from application (.Net core SDK 2.1).
### $VMExistanceCheck = Get-azVM -ResourceGroupName $VMResourceGroup -Name $NewComputerName -ErrorAction SilentlyContinue
 I checked that Az.Compute module had been imported there . I added 'Import-Module Az.compute -verbose -f

[2019-03-26 07:58] Hamdansultan opened #8852 "Example Headers are wrongly placed for Get-AzureRmDataFactoryV2Trigger"
## Description
In blog, Example Headers are wrongly placed for Get-AzureRmDataFactoryV2Trigger
## Cost

[2019-03-26 10:38] arestarh commented on #8841
@markcowl You can find debug stream below. I've only removed all [ADAL] info, renamed subscription ID, App Name and Resource group:

## Debug output
[code]

[2019-03-26 12:29] ebmarquez commented on #8850
Thanks it woks now.

Sent from Mail<https://go.microsoft.com/fwlink/?LinkId=550986> for Windows 10

________________________________
From: Cormac McCarthy <notifications@github.com>
Sent: Monday, March 25, 2019 4:32:43 PM
To: Azure/azure-powershell
Cc: Eric Marquez; Mention
Subject: Re: [Azure/azure-powershell] https://aka.ms/azps-migration-guide link is broken, leads to Microsoft homepage (#8850)

[2019-03-26 19:56] demyanenko commented on #8819
Closing per customer request.

[2019-03-26 19:56] #8819 closed

[2019-03-26 20:24] #8850 closed

[2019-03-26 20:58] SeanEGray opened #8857 "Set-AzApiManagementProperty Secret parameter is bool, but New-AzApiManagementProperty Secret parameter is switch"
## Description
The parameter -Secret on Set-AzApiManagementProperty is a bool, but the parameter -Secret on New-AzApiManagementProperty is a switch.
These parameters should be the same type, and should probably both be switches.

## Steps to reproduce

[code]

## Environment data

Name                           Value
----                           -----
PSVersion                      6.1.3
PSEditi

[2019-03-26 21:16] bganapa commented on #8847
Ack on the issue and thanks for reporting it.  The issue is easily reproed with -Force flag on Install-Module AzureStack -RevquiredVersion 1.7.0 -Force, I suggest not to use the -Force flag for now. Evaluating the options for the next release..

[2019-03-26 21:41] cblackuk commented on #8847
Thanks @bganapa  for now I removed `-Force` as I stated in my known workarounds but it would be great to get it fixed :-) as all it requires really is to be recompiled from GitHub into PS Gallery, happy for it to be fixed in 1.8.0 or whatever you guys have planned :-)

[2019-03-26 21:47] jeff-block opened #8859 "new-AZVirtualNetwork -Dnsserver parameter does not accept more than a single address"
## Description

-Dnsserver parameter will not accept a comma or ;  delimited list of dnservers. Will only accept a single ip address

## Steps to reproduce

[code]

## Environment data

Name                           Value
----                           -----
PSVersion                      5.1.17763.316
PSEdition                      Desktop
PSCompatibleVersions           {1.0, 2.0, 3.0, 4.0...}
B

[2019-03-26 21:57] markcowl commented on #8851
@SRoy23 We need the information asked for in the template here, in the context of your application.  Patrticularly (1) The set of loaded modules; (2) The set of Modules on the PSModulePath; (3) The set of assemblies loaded in the app domain before using the compute cmdlet.

[2019-03-26 22:01] markcowl commented on #8857
@SeanEGray Yes, will follow up with the service team.  Either the Set- cmdlet should eb Update, or both New- and Set- should use switches.

[2019-03-26 22:05] markcowl commented on #8859
@jeff-block are you providing the parameter as ```-DnsServer val1, val2``` or as ```-DnsServer "val1, val2"```

[2019-03-26 22:08] solankisamir commented on #8857
@markcowl so this will require a breaking change in the cmdlets or we can do without that? When is the next breaking change scheduled?

[2019-03-26 22:13] markcowl commented on #8765
@joeyaiello Any chance we can prioritze this fix for platyPS? https://github.com/PowerShell/platyPS/issues/202

[2019-03-26 22:19] markcowl commented on #8565
Closing as won't fix

[2019-03-26 22:19] #8565 closed

[2019-03-26 22:19] #8422 closed

[2019-03-26 22:20] #7904 closed

[2019-03-26 22:21] #7900 closed

[2019-03-26 22:22] #7899 closed

[2019-03-27 00:06] markcowl opened #8863 "Create Instructions for Generating using the new Generator"
## Description
Create a document describing
- [x] The layout of a generated module
- [ ] How to generate / configure for generation
- [ ] General steps in verifying modules
- [ ] How to customize
- [ ] How to test
## Cost: 3

[2019-03-27 00:08] markcowl opened #8864 "Check Compute generated cmdlets in to sample branch"
## Description
- Create a sample folder containing Compute generated cmdlets
  - Include customization example
  - Include tests
## Cost: 2

[2019-03-27 00:11] markcowl opened #8865 "Network Module"
## Description
Generate Network Module
- [ ] Configuration
- [ ] Simple customizations
- [ ] Help
- [ ] File issues for new bugs / new patterns for AutoRest
- [ ] File issues for needed test or customization infrastructure
- [ ] Estimate additional customization necessary
## Cost: 10

[2019-03-27 00:15] markcowl opened #8866 "Resources Module"
## Description
Generate Resources Module
- [x] Configuration
- [x] Simple customizations
- [x] Help
- [x] File issues for new bugs / new patterns for AutoRest
- [x] File issues for needed test or customization infrastructure
- [x] Determine which cmdlets should be hand-written and which can use generator
- [x] Estimate additional customization necessary

## Cost: 16

[2019-03-27 00:17] markcowl opened #8867 "Storage (Management) Module"
## Description
Generate Storage (Management) Module
- [x] Configuration
- [x] Simple customizations
- [x] Help
- [x] File issues for new bugs / new patterns for AutoRest
- [x] File issues for needed test or customization infrastructure
- [x] Estimate additional customization necessary

## Cost: 8

[2019-03-27 00:19] markcowl opened #8868 "Storage (Data Plane)"
## Description
Generate Storage (DataPlane) Module
- [ ] Configuration
- [x] Simple customizations
- [x] Help
- [x] File issues for new bugs / new patterns for AutoRest
- [x] File issues for needed test or customization infrastructure
- [x] Estimate additional customization necessary

## Cost: 2
 - Remaining items
  - [x] Move cmdlet source into storage project
  - [x] Add Profile attributes at al

[2019-03-27 00:26] markcowl opened #8869 "KeyVault Module"
## Description
Generate SKayVault Module
- [ ] Configuration
- [ ] Simple customizations
- [ ] Help
- [ ] File issues for new bugs / new patterns for AutoRest
- [ ] File issues for needed test or customization infrastructure
- [ ] Estimate additional customization necessary

## Cost: 10

[2019-03-27 00:27] markcowl opened #8870 "Monitor Module"
## Description
Generate Insights Module
- [x] Configuration
- [ ] Simple customizations
- [ ] Help
- [ ] File issues for new bugs / new patterns for AutoRest
- [ ] File issues for needed test or customization infrastructure
- [ ] Estimate additional customization necessary

## Cost: 10

[2019-03-27 00:28] markcowl opened #8871 "AppService Module"
## Description
Generate AppService Module
- [x] Configuration
- [x] Simple customizations
- [x] Help
- [x] File issues for new bugs / new patterns for AutoRest
- [x] File issues for needed test or customization infrastructure
- [x] Estimate additional customization necessary

## Cost: 12

[2019-03-27 00:30] markcowl opened #8872 "ServiceBus Module"
## Description
Generate ServiceBus Module
- [x] Configuration
- [x] Simple customizations
- [x] Help
- [x] File issues for new bugs / new patterns for AutoRest
- [x] File issues for needed test or customization infrastructure
- [x] Estimate additional customization necessary

## Cost: 10

[2019-03-27 00:31] markcowl opened #8873 "Media Module"
## Description
Generate Media Module
- [ ] Configuration
- [ ] Simple customizations
- [ ] Help
- [ ] File issues for new bugs / new patterns for AutoRest
- [ ] File issues for needed test or customization infrastructure
- [ ] Estimate additional customization necessary

## Cost: 10

[2019-03-27 03:29] lukeb1961 commented on #8742
#8526

[2019-03-27 05:50] SRoy23 commented on #8851
1.  Get-Module -ListAvailable

ModuleType Version    Name                                PSEdition ExportedCommands
---------- -------    ----                                --------- ----------------
Manifest   2.0.2      Posh-SSH                            Desk      {New-SSHRemotePortForward, Get-SFTPLocation, Start-SSHPortForward, New-SSHDynamicPortForward…}

    Directory: C:\Program Files\Pow

[2019-03-27 06:30] jeff-block commented on #8859
as -DnsServer “val1, val2”

Jeff Block || Private Equity | Healthcare | Manufacturing
(Big) Data Driven Technology and Business Leader | IN:fluencer, Presenter
+1.312.927.1590 || +1.312.604.7381 || jmblock@outlook.com ||Skype: jmblock@outlook.com || @bigDataDictum ||

________________________________
From: Mark Cowlishaw <notifications@github.com>
Sent: Tuesday, March 26, 2019 3:08 PM
To: Azure/az

[2019-03-27 08:04] zyxyoshine commented on #8821
Hi @asbjorn-wiik
My team confirmed it's by design, Get-AzsVolume or get other storage objects will have a delayed update (up to 5mins). We are implementing a new feature which will improve the inconsistent issue and will be released with new admin powershell in the future.
@bganapa I've closed the internally bug, should we close this issue?

[2019-03-27 08:46] asbjorn-wiik commented on #8821
Hi
Could you change that design?
The utility of adding 5 minutes for each node when needing to power cycle all node will add an hour to the maintenance of a 12 node Azure Stack.
So, will I choose Get-AzsVolume or will I choose to logon to the PEP and do get-virtualdisk -cimsession s-cluster; get-virtualdisk -cimsession s-cluster | get-storagejob and save an hour.
I was glad when I found the Get-Az

[2019-03-27 09:12] KacperMucha commented on #4186
The issue is quite old, so I'm not sure if the method for passing passing TemplateParameterObject hasn't changed etc., but I have never created an object that has properties like contentVersion, $schema, parameters and then in parameters property all the params that I need. I'm always just providing a plain hashtable to this parameter, so it looks like this:
[code]
I don't recall having any proble

[2019-03-27 09:46] zyxyoshine commented on #8821
@asbjorn-wiik
We are working on use SDDC Management which will keep consistent with OS portal, I think that will be what you want.

[2019-03-27 10:55] GitHubAre opened #8875 "Login to Azure from WinRm session doesnt work"
## Description
I have a script that is logging to azure, fetching some data from Key Vault and some other resources, it then outputs it to Json file.
This script is working fine locally and on destination server where its executed by hand (from powershell.exe).
Problem occurs when I invoke script from WinRM (ansible), but I managed to reproduce it also creating the session by hand from my local co

[2019-03-27 14:00] inazir opened #8876 ""Get-AzureRmConsumptionUsageDetail" does not return the values of 'Tags' anymore"
`Get-AzureRmConsumptionUsageDetail` module does not return the values of `Tags` anymore. The corresponding `az consumption usage list` also does not return the `Tags` values anymore. We know it was listing all the tags and also deployed a script in our test environment with this command. Now, we wanted to deploy that in our production environment and noticed it's not working anymore. We find only

[2019-03-27 14:00] iqbal-nazir commented on #8876
https://github.com/Azure/azure-cli/issues/8651

[2019-03-27 14:00] jcwrights opened #8877 "FormatVersion 2 switch not working in Set-AzNetworkWatcherConfigFlowLog"
## Description
When using the Set-AzNetworkWatcherConfigFlowLog cmdlet, I am unable to get the -FormatVersion 2 switch to set the NSG flow logs to Version 2.  Running the command against any NSG will set Version 1.  I verified that I can set this in the portal without issue.  I have tested this with all versions of Az.Network 1.0.0 and up to the latest release.

## Steps to reproduce

PS C:\> $NW

[2019-03-27 16:34] toddrob commented on #8811
Sorry, I have one typo in my issue.  This currently reads:
Subscription f04d0c9e-0618-429b-b989-078a49c71ef3 should be set to tenant df4602a3-920c-435f-98c4-49ff031b9ef6. It's not, it's set to the tenant my account is a part of, 72f988bf-86f1-41af-91ab-2d7cd011db47. This is the issue.

It should be:
Subscription e1d9c474-a5eb-4f26-9c61-1d6e326a5fd3 should be set to tenant df4602a3-920c-435f-98c4-4

[2019-03-27 17:12] bganapa commented on #8821
@asbjorn-wiik Thanks for the feedback. It seems @zyxyoshine team is working on a solution to this. @zyxyoshine please feel free to elaborate the solution and close this issue

[2019-03-27 20:29] constantinhager opened #8878 "Az PowerShell module not importing correctly with PowerShell Core"
## Description
Az PowerShell Module not importing correctly.
This was reported in issue #8327

@markcowl told me that this Microsoft.WindowsAzure.Storage.dll should not
be in the GAC.

I can now tell where this old DLL in the GAC comes from. If I do a backup of an Azure VM
the DLL in the GAC gets created. I was able to reproduce this on two Server 2019 as well as Server 2016 VMs in Azure.

After t

[2019-03-27 21:11] bganapa commented on #8847
@cblackuk  The issue will not happen if you use the PowershellGet version 2.1.2.The issue reproes only with the powershellget version 1.0.0.1.  Install-Module -Force should not have replaced the 6.0.3 module contents with 6.0.2.  Can you try the latest Powershellget version?. we are still looking at fixing the issue though

[2019-03-27 21:31] KevinMarquette opened #8880 "Get-Module Az -ListAvailable doe not work on Windows Powershell 5.1"
## Description
When running `Get-Module Az -ListAvailable` on Windows PowerShell 5.1, no modules are listed and the end user is not able to detect the version of that module that is loaded. This is creating a poor user experience.

This appears to be fixed in PowerShell 6.2 but I do not see any discussion or resolution for this on Windows PowerShell 5.1.

Other issues related to this issue
#7510
#

[2019-03-27 22:58] sphibbs commented on #8880
Thanks for the detailed issue. There are no plans to release PowerShell 5.2 or port the fix back to PowerShell 5.1. The fix is available if PowerShell releases 5.2. More in [this](https://github.com/PowerShell/PowerShell/pull/8777) PR in the PowerShell repo.

[2019-03-27 22:58] #8880 closed

[2019-03-27 23:18] sphibbs commented on #8777
We are talking to our partners to update the script on the Portal.

@abatishchev they have the updated script on github, you can find it [here](https://github.com/Azure/azure-quickstart-templates/blob/master/Deploy-AzTemplate.ps1)

[2019-03-27 23:38] cblackuk commented on #8847
@bganapa It did not work sadly, not that it matters as it would be just another workaround and we need a fix :-)

[code]

[2019-03-27 23:43] D1v38om83r opened #8881 "Azure RM modules are unable to retrieve jobs with job name"
The command

Get-AzureRmAutomationJob cannot get job by using Job name as parameter.

It doesn't have a parameter by which we can pass job name
and if we use -Id or -JobId it throws errors that don't make sense.

e.g.

[code]

[2019-03-27 23:47] D1v38om83r opened #8882 "Get-AzAutomationJob does not return job name"
If I use the Az command, I can use the job name, but then it is confusing because the result returned to me has a JobId that is different than what I passed in.  Here is the output from using the new Az command:

PS Azure:\> Get-AzAutomationJob -ResourceGroupName miromanrunas -AutomationAccountName miromanrunas -Id de83c45e-ec5f-4624-934d-3a4bbfba7572
ResourceGroupName      : miromanrunas
Automati

[2019-03-28 01:25] crazyxy opened #8884 "Set-AzureRmWebApp doesn't handle existing Tags when updating web site"
## Description

The existing tags will be remove after running `Set-AzureRmWebApp`

https://github.com/Azure/azure-powershell/blob/3ef406acd59be744bcc345631b10f464a1d53bf9/src/Websites/Websites/Utilities/WebsitesClient.cs#L99

`CreateOrUpdate` will `PUT` the new web app object which will remove the exisitng tags.

## Steps to reproduce

[code]

## Module versions

[code]

## Debug output

[code]

[2019-03-28 02:23] #8821 closed

[2019-03-28 04:29] RayBrindley opened #8885 "Unable to use Get-AzRecoveryServicesVaultSettingsFile No explanation of the Certificate Parameter"
## Description
Azure Site Recovery Services examples are incorrect, unable to download the Vault Settings File.

Certificate is a required parameter, but no explanation on what the certificate should be. Parameter type is a String but no clarification of what to enter. Example in documentation therefore does not work

Also if using the parameter -SiteRecovery, it is unable to determine the Paramet

[2019-03-28 05:46] msrini-MSFT opened #8886 "Location Doesn't"
https://github.com/MicrosoftDocs/azure-docs/issues/27583

Few commands doesn't accept location which has space in between.

It is referenced in the issue mentioned above.

[2019-03-28 08:27] polischuk commented on #8826
note: start working now, but it's strange, when same code work/ not work/ and now start working :/

[2019-03-28 11:08] venugopalreddyk opened #8889 "Get-AzureRmDataFactoryPipeline has no -Force or -Confirm to avoid Confirm prompt"
## Description of the new feature
Get-AzureRmDataFactoryPipeline has no -Force or -Confirm to avoid Confirm prompt
## Proposed implementation details (optional)

i am trying to iterate thru my ADFV1 to get the details of piplines and everytime it is prompting the confirm buttion which I can't bypass it with any option. do we have any alternative to do that?

[2019-03-28 16:23] bholzmmc commented on #8810
Closing issue.  Did not realize that subscription RBAC was preventing my account from being able to read them.

[2019-03-28 16:23] #8810 closed

[2019-03-28 16:48] cormacpayne commented on #8811
@toddrob Hey Todd, my assumption is that this is an issue with clashing context names that we generate for users based on user id, subscription name, and subscription id. It looks like subscription "TestEA Towboat Customer" is in two different tenants, which shouldn't be possible (the subscription may have moved tenants and the old context may not have been deleted).

The guidance here would be to

[2019-03-28 17:14] cormacpayne commented on #8784
@panchagnula Hey Sisira, would you know why the `ipSecurityRestrictions` property isn't being updated on the server? I'm able to reproduce this locally:

HTTP Request:

<details><summary>Click to expand request</summary>
<p>

[code]

</p>
</details>

HTTP Response:

<details><summary>Click to expand response</summary>
<p>

[code]

</p>
</details>

In the request, you can see that the `ipSecurityRe

[2019-03-28 17:21] dlepow commented on #8643
@hyonholee @cormacpayne - Any advice on this? The short summary of this issue: What is the required/expected format of the `-FilterExpression` parameter in `Get-AzVmImage`? Thanks for clarifying.

[2019-03-28 17:44] cormacpayne commented on #8476
I'm going to close this issue in favor of https://github.com/Azure/azure-powershell/issues/7358 for now -- I'll update this issue when the fix is out and will re-open it if it's determined that the browser prompt does not fix the problem. Please feel free to comment here (or the linked issue) if you have any additional questions!

[2019-03-28 17:44] #8476 closed

[2019-03-28 17:45] J0R3D1N opened #8892 "Get-AzStorageAccount does not work for AzureUSGovernment regions"
## Description
When using Get-AzStorageAccount, the cmdlet errors due to API versioning mismatches.

## Steps to reproduce

[code]

## Environment data

[code]

## Module versions

[code]

## Debug output

[code]

## Error output

[code]

[2019-03-28 18:00] panchagnula commented on #8784
@cormacpayne this is new - I am not aware any backend issues on our end, let me investigate futher.

[2019-03-28 18:27] fepere commented on #8770
I have the same issue, can you please take a look ?

[2019-03-28 18:53] panchagnula commented on #8784
Looking at our Kusto logs @cormacpayne we are receiving null for IPRestrictions property, so looks like PowerShell issue
"RequestContent": "<string xmlns=\"http://schemas.microsoft.com/2003/10/Serialization/\">f21249a2-8c83-4229-a791-deecc16c5ba5</string><string xmlns=\"http://schemas.microsoft.com/2003/10/Serialization/\">corm-test-webapp</string><string xmlns=\"http://schemas.microsoft.com/2003/

[2019-03-28 19:41] cormacpayne commented on #8784
@panchagnula Great, thanks for taking a look and verifying 😁

[2019-03-28 19:52] cormacpayne commented on #8784
@JohannesHoppe Hey Johannes, one thing I just noticed when looking at your script again is that you're providing `$WebAppConfig` to the `-Properties` parameter rather than `$WebAppConfig.Properties`. I've verified this scenario now works with either of the below commands:

[code]

Please let me know if either of these commands works for you!

[2019-03-28 20:22] jixer commented on #8826
@polischuk Thanks for the update.  I confirmed that the TFS 2015 "Azure Web App Deployment" build task we have (that uses this same function) is also working as of now with no changes made.  It was not working about 16 hours ago when I last tried.

There's some additional information here that is related to the issue we ran into: https://github.com/Azure/azure-powershell/issues/7558

[2019-03-28 20:27] jixer commented on #7558
I believe this error may go away for most of us as reported by polischuk here: https://github.com/Azure/azure-powershell/issues/8826

Not sure if this will crop up again at some point, but the "request to a downlevel service failed" error when I call Get-AzureWebSite went away today on my side and I made no changes to the script we're using.

[2019-03-28 21:20] markcowl opened #8895 "Switch to embedded license file for Module Packages"
## Description
See: [license url deprecation](https://aka.ms/deprecateLicenseUrl) and [Embedded licenses](https://github.com/NuGet/Home/wiki/Packaging-License-within-the-nupkg-(Technical-Spec))

- [ ] Determine how to reperesnt license correctly in the nuget package
- [ ] Determine whether this can be reflected in PSD1 or must be a post-pack step
- [ ] Update packages or package build tools to use

[2019-03-28 23:08] bganapa commented on #8847
@cblackuk if you open a new session and load the PowershellGet 2.1.2(instead of doing a remove-module), the issue wont repro.  i will open a powershellget issue shortly to understand the issue better.

The release AzureStack 1.7.1 is out with the fix. you should be able to consume it now, Our doc pages will be updated tomorrow. Thanks for reporting this one

[2019-03-28 23:12] cblackuk commented on #8847
That is some excellent news :-) @bganapa  Thank you ever so much for working with me on this and for such a swift resolution :-) Cannot wait to test :)

[2019-03-29 00:24] v-akhana opened #8897 "How to connect with proxy and PowerShell 6.x"
## Description
My customer raised a request about failure “Connect-AzAccount” command let using PowerShell 6.x

Below is my customer’s comment.

--------
We connect to Azure from internal network through authentication proxy server.  In case of using PowerShell version 5.1, proxy settings can be done as below.

[code]

In terms of PowerShell 6.x, my customer would like to use proxy as well, but ca

[2019-03-29 00:48] markcowl commented on #8875
How is the login occurring in this case?  From the message, it sounds like you may be using SPN + Secret login, which would require having access to the Windows Credential Store in the remote session.  This means you will either need to create a session using an authentication mechanism that allows access to the credential store on the remote machine (using -CredSSP auth, or -EnableNetworkAccess w

[2019-03-29 00:59] markcowl commented on #8876
@iqbal-nazir The link above is not the Az module - that is the azure cli.  Have you tried the Az module? https://www.powershellgallery.com/packages/Az/1.6.0

[2019-03-29 01:01] markcowl commented on #8876
@ms-premp Can you take  a look?

[2019-03-29 01:05] markcowl commented on #8877
@irrogozh Looks like the Format Version is not being sent in the request.  Can you please take a look?

[2019-03-29 01:24] markcowl commented on #8878
@constantinhager Please provide the *entire output* of Get-Module -ListAvailable

Also, I am baffled as to how this assembly would be loaded from the GAC in NetCore, when you see this error, can you show some details of what's loaded in the AppDmain with a command like this?

[code]

[2019-03-29 01:28] markcowl commented on #8881
@D1v38om83r You cna use -RunbookName to filter jobs by runbook - other than that, what's an example of a job name you would liek to retrieve?

[2019-03-29 01:32] markcowl commented on #8882
@vrdmr @safeermohammed @eamonoreilly Can you take  a look?

[2019-03-29 01:33] markcowl commented on #8885
@viverm can you take a look?

[2019-03-29 01:35] markcowl commented on #8886
@msrini-MSFT Which command are you saying does not accept the canonical display form "West US"?  From the documentation issue, it is unclear which command you are referring to.

[2019-03-29 01:35] blueww commented on #8892
@J0R3D1N
This is caused by AzureUSGovernment regions still Not support API version 2018-11-01.
I have sent mail to SRP team to confirm it.

The api version 2018-11-01 currently is only in the latest Powershell version 1.6.0 (Az.storage 1.1.0), would you please use an early version like Az.Storage 1.0.3, this use apiversion 2018-07-01.

You can install Az.Storage 1.0.3 by:
1. Remove the Az.Storage

[2019-03-29 01:46] irrogozh commented on #8877
@markcowl , I reassigned this issue to Wen @zwswim , who was working on this cmdlet.

[2019-03-29 07:24] GitHubAre commented on #8875
Hello,
Thanks for feedback!

I am using ansible with Kerberos authentication.
Therefore the actual creation of connection is "blackbox" for me.
I have already started rewriting from AzureRM to Az.
Based on yours feedback it will most likely solve the issue.
I will update this GitHub issue once I migrate to Az to confirm that with Az over WinRm it works.

[2019-03-29 07:32] constantinhager commented on #8878
The output of ```Get-Module -ListAvailable``` in WindowsPowerShell

[code]

The output of ```Get-Module -ListAvailable``` in PowerShell Core

[code]

If I do ```Import-Module Az``` in PowerShell Core and get the error and ran you command I get the following output:

[code]

[2019-03-29 08:01] constantinhager commented on #8878
Update: If I Install PowerShell Core 6.2 witch is now GA the import of the Az module works. I do not see the problem as solved though because the DLL schould not be in the GAC

[2019-03-29 08:50] constantinhager commented on #8878
Output of ```[System.AppDomain]::CurrentDomain.GetAssemblies() | Where {$_.FullName -like "*Storage*"} | select -Property FullName, Location, CodeBase | fl ``` in PowerShell Core 6.2:

[code]
Is this a PowerShell Core bug of previous version 6.1.3?

[2019-03-29 10:19] GilchristT opened #8898 "Add-AzVMSshPublicKey not adding key to VM"
## Description

Trying to use Azure PowerShell to deploy Ubuntu 18.04 VMs. 'Add-AzVMSshPublicKey' does not appear to be adding the public key as expected.

After deployment (or running separately) the 'authorized_keys' file is empty.

## Steps to reproduce

[code]
This runs correctly and I can inspect the VM, perform other operations, etc.
[code]
This returns almost immediately (less that 1 sec) w

[2019-03-29 10:21] #8826 closed

[2019-03-29 10:23] jwikman commented on #5291
Well, this behavior was sure annoying and unexpected.
Any progress on fixing this issue?

[2019-03-29 13:31] J0R3D1N commented on #8892
This work around works.  I saw the note to SRP, thanks!  Any chance there are other cmdlets affected similarly like Az.Storage where the API version isn't available in specific regions?

[2019-03-29 14:14] blueww commented on #8892
I owns Az.Storage. I don't know if other cmdlets will be affect by that. But the api version 2018-11-01 currently should only be used by Az.Storage module.

[2019-03-29 16:11] cormacpayne commented on #5291
@MikhailTryakhov Hey Mikhail, would you mind making sure that the proper team has a chance to look at this issue?

[2019-03-29 20:03] zwswim commented on #8877
It looks like currently, we have problem if the user only give -FormatVersion but not give -FormatType. Still looking for the root causing.  To get around the problem, Please ask user to add -FormatType when they call Set-AzNetworkWatcherConfigFlowLog

Set-AzNetworkWatcherConfigFlowLog -FormatVersion '2' -FormatType Json -NetworkWatcher $NW -TargetResourceId $nsg.Id -EnableFlowLog $true -StorageAc

[2019-03-29 21:26] cormacpayne commented on #8889
@venugopalreddyk what is your `$ConfirmPreference` variable set to in PowerShell? The default value is `High`, and this will allow you to run almost every `Az` cmdlet with no problem.

[2019-03-29 21:36] cormacpayne commented on #8897
@v-akhana we will need some additional information from the customer:

- What is the full script that they are running? In the script above, I don't see any `Az` cmdlets being executed, even the mentioned `Connect-AzAccount` cmdlet
- What is the error that the user is seeing when they run `Connect-AzAccount`? You can paste the error message they see after the cmdlet fails, or they can run `Resolve

[2019-03-29 21:38] cormacpayne commented on #8898
@hyonholee Hey Hyonho, would you mind taking a look at this issue?

[2019-03-29 23:23] zwswim commented on #8877
PR https://github.com/Azure/azure-powershell/pull/8902 to fix the bug

[2019-03-30 02:48] vaughngit commented on #5704
Is there a resolution or workaround for this? Still cant use WindowsServer property

[2019-03-30 02:57] rivir commented on #5704
Need to use Get-OBJob for getting azure backup information from onprem servers

[2019-03-30 03:11] vaughngit commented on #5704
These servers no longer exist onprem. I am not sure I understand how the Get-OBJOb command fits within the context of the Azure powershell model? If it does please provide an example of such, and in particular how it provides a solution to set Get-AzureRmRecoveryServicesBackupItem when the workloadtype is the WindowsServer option

[2019-04-01 09:22] clericc commented on #8859
`PS C:\> get-help New-AzVirtualNetwork -Parameter DnsServer

-DnsServer <System.String[]>
    Specifies the DNS server for a subnet.

    Required?                    false
    Position?                    named
    Default value                None
    Accept pipeline input?       True (ByPropertyName)
    Accept wildcard characters?  false`

Powershell Arrays are given by comma-separating the va

[2019-04-01 09:59] RoshanKumarMicrosoft opened #8907 "New-AzureRmWebAppSlot returns an error "The parameter javaVersion has an invalid value""
New-AzureRmWebAppSlot returns an error "The parameter javaVersion has an invalid value"

Cmdlets we are running : **New-AzureRmWebAppSlot -Name L2JavaLinuxAppJupiter -ResourceGroupName L2TestAppServiceRG -Slot kvfgpwjj**

We are using **AzureRm Module 6.7.0** : C:\Modules\azurerm_6.7.0
I also tried by passing AppServicePlan parameters but we are getting same error.

In past this was working fine.

[2019-04-01 15:01] eosho opened #8908 "System Error using Get-AzDisk"
## Description
When using the current version of Az powershell 1.6.0, I am getting a system error while running the Get-AzDisk cmdlet. I have powershell running as both admin and current user without any luck.

## Steps to reproduce

[code]

## Environment data

[code]

## Module versions

[code]

## Debug output

[code]

## Error output

[code]

[2019-04-01 15:24] cormacpayne commented on #8907
@panchagnula Hey Sisira, would you mind taking a look at this issue?

[2019-04-01 15:43] cormacpayne commented on #8908
@eosho Hey Ernest, would you mind providing the following pieces of information:

(1) The debug trace -- this can be obtained by setting `$DebugPreference = "Continue"` and running the above commands again

(2) The detailed error trace -- this can be obtained by running `Resolve-AzError` after the above commands have failed

[2019-04-01 15:49] markcowl commented on #8878
@constantinhager Generally, NetCore applications should not be loading modules from the .Net Framework GAC, and there is no GAC equivalent in NetCore yet.

However, looking at this issue: https://github.com/PowerShell/PowerShell/issues/4062 it looks like there may be some facility for searchign the GAC on Windows.  Have a query in to the PowerSHell team to find out.

[2019-04-01 16:00] markcowl opened #8909 "Investigate Nuget package signing for PS"
## Description
Microsoft Requires NuGet packages to be signed, and the PowerShell Gallery supports this now, we should explore
- [ ] How to support creating signed Nuget packages for PowerShell (can you use PowerShell tooling)
- [ ] Whether we can use existing .Net tools for signing Nuget packages
- [ ] File detailed issues for any requires signing tasks/tools
## Cost: 2

[2019-04-01 16:05] mklement0 commented on #4600
As an aside: `Start-AzureVM` is a misnomer in that PowerShell's nomenclature calls for the `Start` verb to exhibit _asynchronous_ behavior:

From https://docs.microsoft.com/en-us/powershell/developer/cmdlet/approved-verbs-for-windows-powershell-commands (emphasis added):

The `Invoke` verb is used to perform an operation that is generally a synchronous operation, such as running a command. The **`

[2019-04-01 16:07] markcowl commented on #8557
@artisticcheese I am not sure by your response if you have attempted logging in using Connect-AzureRmAccount without additional parameters.  This would pop up your STS dialog asking for username/password / MFA.  Can you verify wherther logging in using ```Connect-AzAccount``` without parameters works in this case?

I have seen other reports of a similar issue, but is appears that this only occurs

[2019-04-01 16:12] markcowl commented on #8628
@dalibormesaric The solution is that if you are routinely runnign scripts using different credewntials, you shouls begin such scripts with

[code]

then do your login and run the script.  This will prevent the credentials in the script from leaking into other processes on the machine.

[2019-04-01 16:16] markcowl commented on #8638
Closing for lask of response in the last 10 days.  Please reopen or open a new issue if this issue persists for you, and include the asked-for information.

[2019-04-01 16:16] #8638 closed

[2019-04-01 16:38] eosho commented on #8908
Updated initial comment above.

Based on that, I noticed the issue might be because of this (commenting the last two lines below doesn't show that error):

[code]

Can you provide best method for handling this in the future ?

[2019-04-01 16:48] chixcancode commented on #5885
@csand-msft for now, what would be the work-around?  We have a customer with storage service endpoints enabled and we need our DSC in Azure Automation to access files in blob storage.

[2019-04-01 16:52] cormacpayne commented on #8908
@eosho if commenting the last two lines above doesn't give an error, then I would try a null-check on both `$validate` and `$validate.Tags` to ensure that you can add key-value pairs:

[code]

[2019-04-01 17:00] markcowl opened #8910 "Update ADAL to use 3.19.2 in WIndowsPowerShell"
## Description
We currently use version 3.19.2 in PowerShellCore, update common libraries and library folder to use the 3.19.2 version in Full desktop as well as core
- [x] UUpdate authentication library
- [x] Update Desktop ChainOfResponsibility implementation for username/password and interactive flows
- [x] Validate correct ADAL tracing in Desktop versions
- [x] Update to use new tracing delega

[2019-04-01 17:07] markcowl opened #8911 "Move CorporateValidation tools into ADO Build"
## Description
We currently run the following tools in Jenkins, because tools are resident in the ci-signing repo.  Allow runnign these tools in the ADO build (on windows platform)
- [x] PoliCheck
- [x] BinScope
- [x] CredScan
## Cost: 8

[2019-04-01 17:20] panchagnula commented on #8841
@Nking92 can you take a look at this.

[2019-04-01 17:28] eosho commented on #8908
thanks, I used the method you provided to check for the two tag values & return if true else use the tags.add. I will now close this.

[2019-04-01 17:28] #8908 closed

[2019-04-01 17:51] ruslany commented on #7558
@jixer - even though those cmdlets work temporarily I strongly recommend to move away from using them as soon as possible.

[2019-04-01 18:08] SteveL-MSFT commented on #8878
@adityapatwardhan can you take a look at this?

[2019-04-01 18:13] Karishma-Tiwari-MSFT commented on #7629
Is there any update on this issue? Customers following [this doc](https://docs.microsoft.com/en-us/azure/virtual-machine-scale-sets/tutorial-create-and-manage-powershell) are not able to RDP to VMSS as NSG is not created automatically.
Issue opened by customers: https://github.com/MicrosoftDocs/azure-docs/issues/28077

[2019-04-01 18:19] markcowl opened #8912 "Update Get-AzProfile and Select-AzProfile cmdlets"
## Description
- [x] Create protected branch for Profile cmdlets
- [x] Update Get-AzProfile per feedback
  - [x] Return an object instead of a string, which includes profile type and description (this can be boiler plate based on the name)
  - [x] Return all profiles by default
  - [ ] Remove ListAvailable and add ```Selected``` parameter that returns the currently selected profile
  - [ ] Investi

[2019-04-01 20:01] Niladri24dutta commented on #8851
@markcowl I am also having the same issue, it's not working from .NET Core. The application is hosted in IIS with .NET Core SDK 2.1. The same powershell script runs fine from the pwsh prompt.

[2019-04-01 21:04] panchagnula commented on #8907
@RoshanKumarMicrosoft  - looks like you hit this because of an ongoing platform deployment, which caused a  mismatch in an API . Please re-try & let us know if you still see this.

[2019-04-01 21:16] lukeuhren commented on #8697
I'd say just close this off.... I'm just going to start using Visual Studio Code with Powershell extension and retire ISE from my work dev tools.

[2019-04-01 21:37] #8697 closed

[2019-04-01 21:59] adityapatwardhan commented on #8878
I will have a look at this by end of day tomorrow.

[2019-04-01 22:34] MikhailTryakhov commented on #5291
@chandrasekarsrinivasan @avijitgupta  owns this issue

[2019-04-02 03:09] trolleyboy opened #8921 "Start-AzAutomationDscNodeConfigurationDeployment - Job with specified id already exists"
## Description
When running the Start-AzAutomationDscNodeConfigurationDeployment cmdlet, the first time runs OK, but second and subsequent attempts fail with the following error message:

Job with specified id already exists. Job id: 252a0236-3628-4132-a952-76abdd418cf2

This now seems to be stuck - I've not been able to run the command successfully again since running it the first time.  This inc

[2019-04-02 03:20] trolleyboy commented on #8921
I thought I might be able to work-around this by running a scheduled job as per Example 2 at [https://docs.microsoft.com/en-us/powershell/module/az.automation/start-azautomationdscnodeconfigurationdeployment?view=azps-1.6.0#examples](url).

Unfortunately, I get a different error...
[code]

The schedule indicates it is attached to a runbook named "Deploy-NodeConfigurationToAutomationDscNodesV1", ho

[2019-04-02 06:01] kaushalp opened #8922 "Setting the NumberOfWorkers property on Azure Web App returns "Bad Request" error"
**Describe the bug**
For a web app inside a Linux ASP with **perSiteScaling** enabled, setting the **NumberOfWorkers** property throws **bad request** error.

**To Reproduce**
I followed the instructions in the article and tried to enable the NumberOfWorkers to 2 and it is throwing an error

[code]

**Expected behavior**
The NumberOfWorkers should be set successfully.

**Environment summary**
I am

[2019-04-02 11:16] GitHubAre commented on #8875
@markcowl  I have migrated to Az and it works over WinRm without additional handling of user profile / tweaking access to windows credentials store.
Thanks for clarification why the error occurred :)
Closing this issue.

[2019-04-02 11:16] #8875 closed

[2019-04-02 14:13] gonzalre commented on #8557
Do we have an update about this? I am using Login-AzAccount for automation.

[2019-04-02 15:21] cormacpayne commented on #8921
@vrdmr Hey Varad, would you mind taking a look at this issue?

[2019-04-02 15:24] cormacpayne commented on #8922
@kaushalp Hey Kaushal, would you mind providing the debug trace from the cmdlet execution? You can get this by setting `$DebugPreference = "Continue"` before running the set of commands that you have above. This will return the HTTP request and response to/from the server.

CC: @panchagnula

[2019-04-02 16:25] kaushalp commented on #8922
Here it is:
`PS Azure:\> Set-AzWebApp $newapp -debug
DEBUG: 4:24:29 PM - SetAzureWebAppCmdlet begin processing with ParameterSet 'S2'.

Confirm
Continue with this operation?
[Y] Yes  [A] Yes to All  [H] Halt Command  [S] Suspend  [?] Help (default is "Y"): A
DEBUG: 4:24:32 PM - using account id 'MSI@50342'...
DEBUG: [Common.Authentication]: Authenticating using Account: 'MSI@50342', environment: '

[2019-04-02 16:30] toddrob commented on #8811
OK, I am doing this from a fresh VM and fresh load of Az.  I did the Clear-AzContext -Soce CurrentUser command as well, but I still get the same behavior.  I think I know why, but it's an internal piece of information.  Is there any way we can have a private thread?

[2019-04-02 16:42] panchagnula commented on #8922
@kaushalp this error here is "The parameter javaVersion has an invalid value." & this occurs only on JAVA apps -> because during deployment there is a mismatch in runtime versions of Java with the old version & the new, the Java team has a know bug to track this. Please feel free to open a CRI if you want more details on this as well. As per the internal bug tracking this -> this will be resolved

[2019-04-02 16:53] kaushalp commented on #8922
@panchagnula Thank you. You are right, I see this behavior in the Azure Resource Explorer too. We can close this one. I have a CRI open for this, I will add these details there.

[2019-04-02 16:56] panchagnula commented on #8922
thanks for the update,

[2019-04-02 16:56] #8922 closed

[2019-04-02 18:06] Atchub opened #8924 "Add-AzureRmAccount is throwing PSInvalidOperationException"
## Description
Hi I am from  Azure Automation and we have a customer who is executing the below script and received
 PSInvalidOperationException.

We suggested the customer to do a module upgrade but customer is really interested in the root cause before doing a module upgrade.

## Steps to reproduce

[code]

## Module versions

[code]

## Debug output

[code]

## Error output

[code]

[2019-04-02 18:36] maddieclayton commented on #8750
@techmechnegi Ping on the comment above.

[2019-04-02 18:38] maddieclayton commented on #8766
@jaredmoo Can you take a look at this issue and assign it to the correct team?

[2019-04-02 18:39] maddieclayton commented on #8784
Closing as fixed - @JohannesHoppe Please let us know if you are continuing to see an issue and we will reopen this. Thanks!

[2019-04-02 18:39] #8784 closed

[2019-04-02 18:39] maddieclayton commented on #8795
@EZhao-Quest Ping on the comment above.

[2019-04-02 18:42] maddieclayton commented on #8807
@solankisamir Can you take a look at this issue?

[2019-04-02 18:45] maddieclayton commented on #8859
Closing as resolved - please let us know if you are still seeing an issue after applying the fix above.

[2019-04-02 18:45] #8859 closed

[2019-04-02 18:45] maddieclayton commented on #8881
@D1v38om83r Ping on the question above.

[2019-04-02 18:46] maddieclayton commented on #8886
@msrini-MSFT Ping - please let us know which cmdlet you are seeing this issue with.

[2019-04-02 18:47] maddieclayton commented on #8889
@venugopalreddyk Ping on the question above

[2019-04-02 18:47] maddieclayton commented on #8897
@v-akhana Ping on the questions above

[2019-04-02 18:52] msrini-MSFT commented on #8886
This is the script that was ran by the customer:

# Enter a new user name and password to use as the local administrator account
    # for remotely accessing the VM.
    $cred = Get-Credential

    # Name of the storage account where the VHD is located. This example sets the
    # storage account name as "myStorageAccount"
    $storageAccName = "myStorageAccount"

    # Name of the virtual machine

[2019-04-02 19:22] vinhent commented on #8557
I am having the same issue using the Credential parameter with the Connect-AzAccount cmdlet, but I am able to sign in interactively without the parameter. Is there a link with the fact that I'm using a username/password credential authorization instead of a service principal credential?

[2019-04-02 19:36] tinodo opened #8926 "Regex problem in Set-AzVMAEMExtension causes installation failure when managed disk name contains hyphen."
## Description

Due to a RegEx problem in https://github.com/Azure/azure-powershell/blob/master/src/Compute/Compute/Extension/AEM/AEMHelper.cs (line 93 and 105) you cannot install the AEM Extension when you use a managed disk and the disk name contains hyphen. Example disk id that would fail but should succeed:

/subscriptions/xxx/resourcegroups/yyy/providers/Microsoft.Compute/disks/DRIVE0-SRV1

T

[2019-04-02 19:37] tinodo opened #8927 "Regex problem in Set-AzureRmVMAEMExtension causes installation failure when managed disk name contains hyphen."
Same as https://github.com/Azure/azure-powershell/issues/8926, but now in AzureRM.

[2019-04-02 19:39] adityapatwardhan commented on #8878
We had an issue where we were loading the module from GAC before looking at the module folder. It was fixed by PR https://github.com/PowerShell/PowerShell/pull/8073

It was first released in [6.2.0-preview.2](https://github.com/PowerShell/PowerShell/blob/master/CHANGELOG.md#breaking-changes-4) and hence the problem repros in `6.1.3` and not in `6.2.0`.

As to why the DLL makes it to GAC, it is unr

[2019-04-02 19:58] migrande commented on #8352
This is a blocker for me right now.  It's not practical to require netcore PowerShell for the users that will be running the script I'm writing.  Can this be resolved?

[2019-04-02 20:20] rahuldutta90 commented on #8352
@migrande What is the blocker for you in using netcore powershell?

Otherwise you can use AzureRm.DataLakeStore module in windows powershell.

Currently we have a SDK that can fix it, but it is beta version: https://www.nuget.org/packages/Microsoft.Azure.DataLake.Store/1.2.0-alpha , This is alpha not a major release because of a .net issue with one of the core components (whicn wont be fixed).

Po

[2019-04-02 21:16] migrande commented on #8352
@rahuldutta90 We are passing off a script to a client for use in DR scenarios.  Requiring that they procure and install netcore PowerShell isn't really viable.  Outside of hardcore PowerShell/Azure folks, I don't think netcore PS is widely known.

I could revert these scripts to AzureRM but that presents a development issue.  I intentionally don't have the AzureRM modules anymore, and the scripts

[2019-04-02 21:30] solankisamir commented on #8807
The [subscription required](https://github.com/solankisamir/azure-rest-api-specs/blob/master/specification/apimanagement/resource-manager/Microsoft.ApiManagement/preview/2018-06-01-preview/apimapis.json#L4773) flag was introduced in API version `2018-06-01-preview`. The PowerShell cmdlets target API version `2018-01-01`. When we move to a newer .NET version for PowerShell, which supports `2019-01-

[2019-04-02 21:37] solankisamir commented on #8728
@dpbevin the `Import-AzApiManagementApi` is supposed to work in 2 cases
1. When you just want to import an Openapi spec into a brand new API (don't care of the ApiId)
2. When you want to import an Openapi spec into an existing API

The common denominator for these 2 cases is `-ApiId` parameter is `optional`.
When importing an API `name` parameter is derived from the OpenApi spec. The `name` in an

[2019-04-02 21:42] solankisamir commented on #8528
Does this help in the meantime https://github.com/Azure/api-management-samples/blob/master/scripts/Get_AzureRmApiManagementGitCredentials.ps1

[2019-04-02 22:03] cormacpayne commented on #8924
@Atchub the root cause of this issue is the default version of Azure PowerShell installed on Azure Automation is an unsupported version. Our advise in this case is to update to the latest version of `AzureRM`, or switch to the new `Az` module, which is now supported in Azure Automation.

[2019-04-02 22:03] #8924 closed

[2019-04-02 22:05] cormacpayne commented on #8926
@MSSedusch Hey Sebastian, would you mind taking a look at this issue?

[2019-04-02 22:09] cormacpayne commented on #8927
@tinodo as of December 2018, we moved to shipping the `Az` module every two weeks, and the `AzureRM` module is only being released in cases where a hot fix is needed. As a result, we don't plan on fixing this issue in `AzureRM`, but we brought in the necessary parties for the `Az` issue that you opened.

[2019-04-02 22:09] #8927 closed

[2019-04-02 22:13] cormacpayne commented on #7133
Closing, this is currently in our backlog.

[2019-04-02 22:13] #7133 closed

[2019-04-02 22:28] cormacpayne commented on #8777
The script above linked by @sphibbs is a workaround, and the Portal team has been notified of this issue and it is on their backlog. Closing this issue as a result.

[2019-04-02 22:28] #8777 closed

[2019-04-03 02:09] marckean commented on #8763
Any update on this yet?

[2019-04-03 02:10] marckean commented on #8764
Any update on this yet?

[2019-04-03 07:55] codecontemplator commented on #6461
We experience this problem as well in Azure West Europe.

[2019-04-03 08:07] paragbharne opened #8930 "Powershell / Rest commands for Enabling custom Domain using own certificates"
I want to use my own SSL certificates for the enabling CDN custom domain store in the Azure Keyvault.

I used the below PowerShell commands to do that but that enable the default CDN managed certificates.
"Enable-AzureRmCdnCustomDomain"

I am trying it to achieve through the rest followed below docs,
https://docs.microsoft.com/en-us/rest/api/cdn/customdomains/enablecustomhttps#usermanagedhttpspara

[2019-04-03 08:41] constantinhager commented on #8878
Thank you for the information. Updating to 6.2.0 fixed the problem. Case closed.

[2019-04-03 08:41] #8878 closed

[2019-04-03 12:27] ernesto-arm commented on #8907
Hi, I'm starting to get this problem too.
For a linux Java SE web application deployed by the azure-webapp-maven-plugin 1.4.0
I tried to update to 1.5.3 and still getting the error.

[2019-04-03 12:36] abhaydaga opened #8931 "Get-AzDataLakeStoreItemAclEntry errors out"
## Description

Get-AzDataLakeStoreItemAclEntry cmd errors out.

## Steps to reproduce

[code]

## Environment data

[code]

## Module versions

[code]

## Debug output

[code]

## Error output

[code]

[2019-04-03 13:24] migrande commented on #6292
I'm having this same issue with version 1.2.1 of Az.Resources (with Az 1.6.0).  I'm working around the issue with the `$params.Add("paramname", $secretValue)` method.

[2019-04-03 14:19] blueelvis commented on #6292
@cormacpayne @maddieclayton -- Is there any update on this issue?

[2019-04-03 15:21] panchagnula commented on #8907
@ernesto-arm the deployment on our scale units is still in progress as per the team all deployment will complete on 4/4 EOD (PST), the work around suggested was to use pick an older version of Java if possible.

[2019-04-03 15:40] cormacpayne commented on #8931
@abhaydaga Hey Abhay, I believe this is a duplicate of issue https://github.com/Azure/azure-powershell/issues/8352 -- @rahuldutta90 would you mind confirming this is a duplicate?

[2019-04-03 15:51] irateadmin commented on #8348
I am also interested in this issue as I have the same problem.

[2019-04-03 16:14] rahuldutta90 commented on #8931
@cormacpayne  this is a duplicate. @abhaydaga we are trying to resolve the issue. Till then can you please run these on net core?

[2019-04-03 16:21] #8931 closed

[2019-04-03 16:54] clebarge commented on #5704
Hello, this issue appears to effect the new AZ.recoveryservices module as well. I've tested with the 1.1 and 1.2 versions of those modules.

[2019-04-03 17:54] ryanspletzer opened #8933 "Question on Azure OAuth Resource guid 74658136-14ec-4630-ad9b-26e160ff0fc6"
This is simply a question.

Please forgive the strange issue title, but I wanted this to be more google-able for others.

I am looking into a script to create app registrations + assign OAuth permissions to app registrations + grant admin consent to them, along the lines of what is shown here:

http://www.lieben.nu/liebensraum/2018/04/how-to-grant-oauth2-permissions-to-an-azure-ad-application-usin

[2019-04-03 18:05] SriHarsha001 opened #8934 "Set-AzureRmAks : A new agent pool was introduced. Adding agent pools to an existing cluster is not allowed at this time."
## Description
Scale up/down an AKS cluster with the command Set-AzAks -NodeCount as documented [here](https://docs.microsoft.com/en-us/powershell/module/azurerm.aks/set-azurermaks?view=azurermps-6.13.0 )

## Error

[code]

## Steps to reproduce

[code]

## Environment data

[code]

## Module versions

[code]

## Error output

[code]

[2019-04-03 18:08] Placid7 commented on #653
@DeepakRajendranMsft I think this needs to be reopened. I can confirm the same issue and I am using `Set-AzVirtualNetwork -VirtualNetwork $virtualNetwork`....

`    Add-AzVirtualNetworkSubnetConfig -Name $newSubnetName -VirtualNetwork $virtualNetwork -AddressPrefix $resources.SubnetAddressSpace -NetworkSecurityGroup $networkSecurityGroup
Set-AzVirtualNetwork -VirtualNetwork $virtualNetwork`

My re

[2019-04-03 18:53] dankwok opened #8935 "New-AzBlueprintAssignment forbidden error using service principal"
## Description
I am experiencing an error while running this command in an Azure Automation runbook. I am first connecting to Azure using the Run As account.

The Run As service principal is a Contributor is part of a custom role where I created to assign Blueprint.

## Steps to reproduce

[code]
[code]

## Module versions

[code]

## Debug output

[code]

[2019-04-03 19:39] jasonvriends commented on #3043
I don't think Microsoft have addressed this issue in Azure Cloud Shell as of yet. I am still getting an error saying that schedules must be 5 minutes ahead when using a Time Zone.

[2019-04-03 21:48] cormacpayne commented on #8935
@filizt Hey Filiz, would you mind taking a look at the above issue? Is there any additional permissions needed by the user to run the Blueprint cmdlets?

[2019-04-03 21:50] cormacpayne commented on #8934
@mboersma Hey Matt, would you mind taking a look at this issue?

[2019-04-03 22:08] cormacpayne commented on #8933
@ryanspletzer Hey Ryan, I _think_ that this GUID points to the URI `https://management.core.windows.net` as the resource client URI, but I will double-check.

[2019-04-03 23:39] v-akhana commented on #8897
Thank you for your response Cormac!
And apologies for the delay.

#1 What is the full script that they are running?
#2 What is the error that the user is seeing when they run Connect-AzAccount?

[2019-04-03 23:42] v-akhana commented on #8897
Thank you for your response Cormac!
And apologies for the delay

#1 What is the full script that they are running?
#2 •What is the error that the user is seeing when they run Connect-AzAccount?

  ---------------
PS C:\> $DebugPreference = "Continue"
PS C:\> Connect-AzAccount
DEBUG: 9:53:48 - ConnectAzureRmAccountCommand begin processing with ParameterSet 'UserWithSubscriptionId'.
DEBUG: 9:53:48 -

[2019-04-03 23:43] filizt commented on #8935
@dankwok The error is expected when running the New-AzBlueprintAssingment cmdlet as a service principal with system-assigned identity (which is the default for the New- cmdlet). This is due to some limitations we have querying AAD as the SP, however we're currently working on a fix which should be in the next release of Blueprint AZ module. In the mean time, one way to run this cmdlet with a servi

[2019-04-03 23:45] v-akhana commented on #8897
#3 What is the debug trace when they run Connect-AzAccount?

Please confirm the attached file (119031126000112_Debug.txt)
[119031126000112_Debug.txt](https://github.com/Azure/azure-powershell/files/3041141/119031126000112_Debug.txt)

[2019-04-04 06:29] slavizh opened #8940 "Login-AzAccount clears Credentials in PowerShell 5.1"
## Description

When using Login-AzAccount(Connect-AzAccount) in PS 5.1 and the credentials are passed as PowerShell Credentials object the password is cleared after the object is used. Strangely I have seen this bug in AzureAD module several months ago and they have fixed it.

## Steps to reproduce

Start new PowerShell 5.1 session without any context
[code]

If you do the same but you use the cr

[2019-04-04 10:53] paragbharne commented on #8930
@ravindp if you look into the above issue it would be a great help to us.

thanks

[2019-04-04 11:40] SRoy23 commented on #8851
I checked the log of PowerShellCore/Operational from Event viewer and found the following error:

Error Message = Could not load file or assembly 'Microsoft.WindowsAzure.Storage, Version=9.3.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35'. Could not find or load a specific file. (Exception from HRESULT: 0x80131621) Fully Qualified Error ID = System.IO.FileLoadException,Microsoft.PowerShell.

[2019-04-04 11:40] #8851 closed

[2019-04-04 15:28] cormacpayne commented on #8940
@slavizh thanks for filing this issue -- my initial reaction is that the version of ADAL that we're using in our desktop build of Azure PowerShell is older than the one used by AzureAD, and doesn't contain this necessary bug fix. As far as I can tell, we don't do anything additional with the credential users provide to this cmdlet other than pass it to the ADAL call to acquire the token. It could

[2019-04-04 15:32] hoppyluke opened #8942 "Storage queues: AddMessageAsync fails with MethodCountCouldNotFindBest"
## Description

On a fresh install of PowerShell Core 6.2 and the Az module, I am getting conflicts between assembly versions of the Storage client libraries.

This prevents running the example to add a message to a queue in https://docs.microsoft.com/en-us/azure/storage/queues/storage-powershell-how-to-use-queues#add-a-message-to-a-queue. I have found a workaround by passing a fully qualified ass

[2019-04-04 16:20] dankwok commented on #8935
Thanks @filizt. I am able to run the command you provided in my PowerShell console from my local, but when I use the same command in Azure Automation, it seems to be completely using a different identity.

The Object ID in the error below is not the same object ID specified in my UserAssignedIdentity. Am I doing something incorrectly while running this in Azure Automation runbook?

Thanks!

[code]

[2019-04-04 17:33] dankwok commented on #8935
Thanks @filizt! After some hiccups with my runbook, I was able to run the command you provided to resolve my issue.

[2019-04-04 17:33] #8935 closed

[2019-04-04 18:30] grecoe commented on #7780
This still seems like an issue. I had an exception with Get-AzureRmStorageAccount not specifying any parameters. Found this post and looked at my version:

ModuleType Version    Name                                ExportedCommands
---------- -------    ----                                ----------------
Script     6.13.1     AzureRM
Script     5.7.0      AzureRM

So, thought I might be behind, ev

[2019-04-04 18:59] SRoy23 opened #8944 "Powershell script which is getting triggered from .net core application terminates before completing the execution"
## Description
When the powershell script is getting invoked from .net core application it is terminating before completing the execution. Same script is successfully executing from powershell core. Inside the script a vm restore operation is there, as it takes almost 55 minutes I have put while loop with thread sleep for few minutes to check the job restore status. Code snippet is given here. Ela

[2019-04-04 20:53] axorth opened #8946 "Serialization error on Select-AzureRmSubscription"
After just installing the AzureRM, I am unable to change subscriptions with following error:
Select-AzureRmSubscription : Method 'get_SerializationSettings' in type 'Microsoft.Azure.Management.Internal.Resources.ResourceManagementClient' from assembly 'Microsoft.Azure.Commands.ResourceManager.Common, Version=4.0.0.0,
Culture=neutral, PublicKeyToken=31bf3856ad364e35' does not have an implementation

[2019-04-04 20:53] axorth commented on #8946
PS C:\Users\adc09> Get-InstalledModule -Name Az -AllVersions | select Name,Version

Name Version
---- -------
Az   1.6.0

[2019-04-04 20:54] axorth commented on #8946
Any relation to having installed Visual Studio 2019?

[2019-04-04 21:10] cormacpayne commented on #8942
@blueww Hey Wei, would you mind taking a look at this issue?

[2019-04-04 21:35] cormacpayne commented on #6856
A fix for this has been merged and will be available in the next release of `Az` (April 9th)

[2019-04-04 21:35] #6856 closed

[2019-04-05 06:29] slavizh commented on #8940
@cormacpayne Yep. Thanks! Unfortunately I cannot remember in which build of Azure AD module this was fixed but you could probably check their release notes.

[2019-04-05 07:56] tanay1307shah commented on #8907
Hello, I have a web-app as well an till now it was working correctly but just recently i an just getting this errors..

Failed to execute goal com.microsoft.azure:azure-webapp-maven-plugin:1.5.3:deploy (default-cli) on project Server: Status code 400, {"Code":"BadRequest","Message":"The parameter javaVersion has an invalid value.","Target":null,"Details":[{"Message":"The parameter javaVersion has

[2019-04-05 09:39] tinodo opened #8950 "Az.Storage 1.1.1-preview does not include Microsoft.Azure.Cosmos.Table.dll"
## Description

In Az.Storage 1.1.0 a new namespace, Microsoft.Azure.Cosmos.Table was introduced and this version therefore included Microsoft.Azure.Cosmos.Table.dll
In Az.Storage 1.1.1-preview this DLL is missing, causing all sorts of issues with, for example, AzureRmStorageTable

Is this "on-purpose" and did I miss anything or is this regression?

[2019-04-05 09:55] arjundg commented on #8907
We are facing this issue with an Azure Web App - Java 8 + Tomcat.
We are not able to deploy the application.
Not able to set IP restriction, error is -
Edit IP Restriction Failed.:
The parameter javaVersion has an invalid value.
"properties": {
        "statusCode": "BadRequest",
        "serviceRequestId": null,
        "statusMessage": "{\"Code\":\"BadRequest\",\"Message\":\"The parameter javaVe

[2019-04-05 16:36] markcowl commented on #8950
@blueww can you take  alook?

[2019-04-05 16:46] danabrash commented on #8634
I get this error with 1.5.1904.1

I'm attempting to connect with TenantID and SubscriptionID.  I get the gui prompt for creds and MFA challenge on my Authenticator, followed by:

Connect-AzureRmAccount : Exception has been thrown by the target of an invocation.

Still searching for an answer.

thanks!

[2019-04-05 16:46] markcowl opened #8952 "Compute Module"
## Description
Generate AppService Module
- [x] Configuration
- [x] Simple customizations
- [x] Help
- [x] File issues for new bugs / new patterns for AutoRest
- [x] File issues for needed test or customization infrastructure
- [x] Estimate additional customization necessary
## Cost : 6

[2019-04-05 16:47] markcowl opened #8953 "Dns Module"
## Description
Generate Dns Module
- [x] Configuration
- [x] Simple customizations
- [x] Help
- [x] File issues for new bugs / new patterns for AutoRest
- [x] File issues for needed test or customization infrastructure
- [ ] Estimate additional customization necessary
## Cost: 6

[2019-04-05 16:48] markcowl opened #8954 "Billing Module"
## Description
Generate Billing Module
- [x] Configuration
- [x] Simple customizations
- [x] Help
- [x] File issues for new bugs / new patterns for AutoRest
- [x] File issues for needed test or customization infrastructure
- [x] Estimate additional customization necessary
## Cost: 6

[2019-04-05 17:05] panchagnula commented on #8907
We have a regression on our API end during deployment that is still causing this - below is the update from the feature crew on this. The current ETA is 4/8

[2019-04-05 17:23] JoeRistine opened #8957 "API Management ARM Deployment - Cannot create an API with the same Path unless it's a part of the same version set"
## Description

Azure returns an error when deploying an ARM template for an API Management defintion. This happens with existing API definitions that are being updated, but only when the URL path is "". The same deployment runs fine for definitions with a path other than "". The API is not versioned.

I've tested with ARM ApiVersion 2018-01-01 and 2018-06-01-preview

## Steps to reproduce
ARM tem

[2019-04-05 18:19] perreaultd commented on #6443
I was able to get properties this way... dunno why... first call does not fetch properties but second yes... si i would be able to Enable/Disable all my availabilityTest at deploy time.

$AvailabitlyTests = Get-AzureRMResource -ResourceGroupName "myRG" -ResourceType microsoft.insights/webtests

foreach($Test in $AvailabitlyTests)
{
    $WebTest = Get-AzureRMResource -ResourceGroupName "myRG" -Reso

[2019-04-06 06:33] markcowl commented on #8795
Closing for lack of comment

[2019-04-06 06:33] #8795 closed

[2019-04-06 06:38] markcowl commented on #8897
Here is some info on connecting with a default proxy: https://github.com/dotnet/corefx/issues/28780

[2019-04-06 06:40] markcowl commented on #8557
So, yes, we have a repro and a candidate fix for this, which should ship with the next release, see: #8910

The short answer is that this is related to special characters in passwords, and only impacts those using username/password auth under ADFS

[2019-04-06 06:41] markcowl commented on #8557
Closing, as we will track the solution to thsi in #8910

[2019-04-06 06:41] #8557 closed

[2019-04-06 06:59] markcowl commented on #8910
branch with this change:https://github.com/markcowl/azure-powershell/tree/new-adal

Just needs update to common code libraries to also update to this version:

[2019-04-06 07:01] markcowl commented on #8864
Complete

[2019-04-06 07:01] #8864 closed

[2019-04-06 07:02] markcowl commented on #8863
Complete

[2019-04-06 07:02] #8863 closed

[2019-04-06 07:02] markcowl commented on #8463
Fixed

[2019-04-06 07:02] #8463 closed

[2019-04-06 07:06] markcowl opened #8960 "Update Private Repo and Enable CI runs against it"
## Description
- [x] Update privatre repo master branch to match master branch
- [x] Add ADO pipeline info
- [ ] Add updatign private master branch to end-of-release activities
## Cost: 4

[2019-04-07 21:01] koder101 commented on #4186
But the same syntax is not working for me. I am getting error - "**_Missing an argument for parameter 'TemplateParameterObject'. Specify a parameter of
type 'System.Collections.Hashtable' and try again._**"

[2019-04-07 21:03] alexandair commented on #7977
@lwajswaj @cormacpayne This bug is still present in Az 1.6.0.

[2019-04-08 01:20] blueww commented on #8950
Az.Storage 1.1.1-preview is puclished before Az.Storage 1.1.0, and it's based on old Storage Client library [WindowsAzure.Storage](https://www.nuget.org/packages/WindowsAzure.Storage/) .
Az.Storage 1.1.0 is based on Microsoft.Azure.Cosmos.Table and New Storage Client library [Microsoft.Azure.Storage.Blob/Queue/File](https://www.nuget.org/packages/Microsoft.Azure.Storage.Blob/)

@markcowl,  we shou

[2019-04-08 02:20] blueww commented on #8942
@hoppyluke
Thanks for reporting the issue!
In my testing, seems this only happen on Powershell 6.*, but not in Powershell 5.1.

The issue might can be resolved after upgrade to a future release Storage Client library (Microsoft.Azure.Storage.Queue/Blob/File).  Will update the issue when get any progress.

Anyway, the [doc ](https://docs.microsoft.com/en-us/azure/storage/queues/storage-powershell-h

[2019-04-08 02:53] blueww commented on #7780
@grecoe

It seems the module on you machine is old, and not contain the fix.

You can install the latest Azure powershell by "install-module Az"
(And the latest Storage module names "Az.Storage", the new cmdlet name is Get-AzStorageAccount )

Please note:
- You need remove the old modules AzureRm from you machine before install Az module.
For Powershell 5.1, you can just delete AzureRm* from C:\Pr

[2019-04-08 03:44] blueww commented on #8892
@J0R3D1N

As this issue is on server, and can't fix by Powershell cmdlets side, do you mind we close the issue now, and keep tracking the deployment of 2018-11-01 api version with the mail?

[2019-04-08 04:25] pvvdurgaprasad commented on #6443
I am facing similar issue, the following command does not fetch "Sku" properties for a specific app service plan resource (while all other resources seem to get this info), have observed this behavior from last few months

[2019-04-08 05:16] pvvdurgaprasad commented on #6443
- AzureRm.Resources module is already available in 6.7.3

- By looking at suggestion given in #6300 , have updated logic to use additional ResourceType input parameter to get Sku information and it worked!

[2019-04-08 08:19] SychevIgor commented on #8934
The same issue with AZ module.
Get-AzAks -ResourceGroupName $ResourceGroup.ResourceGroupName -Name $aks.Name | Set-AzAks -NodeCount $NodeCount

[2019-04-08 08:56] cblackuk commented on #8847
Hi @bganapa I forgot to post it here but 1.7.1 works as expected. Thanks again for looking at it.

I will close this now.

[2019-04-08 08:56] #8847 closed

[2019-04-08 11:03] pedrocarvalhoclaranet commented on #8885
Same problem here. Documentation is also buggy….

[2019-04-08 13:41] Strandfelt opened #8963 "Cannot import Az module on new profile"
## Description
At work, we recently joined our workstations to Azure AD. This meant that I got a new account on my workstation. However, it seems that something in the Azure Powershell module is still pointing towards my old user profile - even after uninstalling both the Azure CLI and Azure Powershell.

My old local username was "xxx" and my new local username is "xxx.COMPANY"

## Steps to reprod

[2019-04-08 14:06] J0R3D1N commented on #8892
Yes, you can close this and keep me updated in e-mail.

[2019-04-08 14:18] pedrocarvalhoclaranet commented on #8885
Managed to solve this issue with the following code....

$dt = $(Get-Date).ToString("M-d-yyyy")
$cert = New-SelfSignedCertificate -DnsName $($vault.Name+$subscriptionid+'-'+$dt+'-vaultcredentials') -CertStoreLocation cert:\CurrentUser\My -NotAfter $(Get-Date).AddHours(2)
$certficate = [Convert]::ToBase64String($cert.RawData)
$VaultFile = Get-AzRecoveryServicesVaultSettingsFile -SiteRecovery -Vault

[2019-04-08 14:50] kvattikuti opened #8964 "how to apply TTL using New-AzureRmServiceBusSubscription in seconds?"
It is not clear from documentation how to apply DefaultMessageTimeToLive in seconds. Is it always in Days? Is it not possible to specify units?

https://docs.microsoft.com/en-us/powershell/module/azurerm.servicebus/new-azurermservicebussubscription?view=azurermps-6.13.0#examples

[2019-04-08 16:48] rcarboneras commented on #8934
Hello, a colleague and me openned the case.
capturing the data, we saw that the Set-Aks is PUTting to azure RM two agent profiles, the one that already exists and the "default" one:

      "agentPoolProfiles": [
        {
          "name": "agentpool",
          "count": 2,
          "vmSize": "Standard_D2_v2",
          "osDiskSizeGB": 30,
          "ports": [],
          "storageProfile": "Manag

[2019-04-08 18:17] SychevIgor commented on #8934
Interesting, that this code was last time edited a year ago based on git blame
![image](https://user-images.githubusercontent.com/578954/55746910-a770b180-5a43-11e9-9cb9-99511b1c048d.png)

[2019-04-08 20:06] dvmorris commented on #7269
I'm having this issue as well. Any idea on how to fix this?

[2019-04-08 21:09] maddieclayton commented on #8946
@axorth Please run Get-Module directly after getting your error so we can see what is currently loaded on your machine. Please also fill out the issue template found here: https://github.com/Azure/azure-powershell/issues/new?assignees=&labels=&template=azurerm-module-bug-report.md&title=, so we can use that information to diagnose your issue.

[2019-04-08 21:11] maddieclayton commented on #8957
@solankisamir Can you take a look at this issue?

[2019-04-08 21:16] maddieclayton commented on #8963
@cormacpayne Hey Cormac, could you take a look at this issue and see if there is an easy way to reset where we look for the .azure folder?

[2019-04-08 21:17] maddieclayton commented on #8964
@v-Ajnava Can you take a look at this issue?

[2019-04-08 21:20] maddieclayton commented on #8628
Closing as Mark provided a solution above. Please let us know if you continue to see an issue after applying the solution above.

[2019-04-08 21:20] #8628 closed

[2019-04-08 21:21] maddieclayton commented on #8750
Closing for inactivity, please let us know if you are still seeing this issue and we will reopen.

[2019-04-08 21:21] #8750 closed

[2019-04-08 21:21] solankisamir commented on #8957
This error is raised when you have an existing API with the path set to "" and you are trying to create another API with the same Path. API Management cannot have 2 Apis with the same `path`. We have made this validation strict, hence you are receiving this error.

[2019-04-08 21:23] maddieclayton commented on #8797
@momusoru @z01c Can you take a look at this issue?

[2019-04-08 21:24] maddieclayton commented on #8811
@cormacpayne @toddrob Was this resolved offline?

[2019-04-08 21:24] maddieclayton commented on #8881
Closing for inactivity, please let us know if you are unable to use the suggestion above, and we will reopen this issue.

[2019-04-08 21:24] #8881 closed

[2019-04-08 21:25] Strandfelt commented on #8963
It might be worth noting, that I copied over my `C:/Users/xxx` folder content into `C:/Users/xxx.COMPANY`.

As a temporary workaround, I have moved back my .Azure directory to the old location.

[2019-04-08 21:27] maddieclayton commented on #8889
Closing for inactivity, please let us know if the suggestion above does not work for you and we will reopen the issue.

[2019-04-08 21:27] #8889 closed

[2019-04-08 21:28] maddieclayton commented on #8897
@v-akhana Please let us know if the resource Mark provided above solves the issue. Thanks!

[2019-04-08 21:28] JoeRistine commented on #8957
I am not trying to create another API, I’m using the same API ID in the request and am trying to update the API definition with Swagger import. The same process works for an API with any path, I’m able to update it with the same path. It’s only when the API is the root path that it’s returning an error for.

On Apr 8, 2019, at 5:24 PM, Samir Solanki <notifications@github.com<mailto:notifications@g

[2019-04-08 22:50] dagiro commented on #8797
Get-AzHDInsightJobOutput also appears to be affected by secure transfer. Did not test the similar cmdlet from AzureRM - Get-AzureRmHDInsightJobOutput. For repro, I was running the 1st example from https://docs.microsoft.com/en-us/azure/hdinsight/hadoop/apache-hadoop-use-hive-powershell. When secure transfer is enabled on the storage account, I receive the following:
[code]

[2019-04-08 23:20] solankisamir commented on #8957
Can you open a support case? This might require some investigation on our end.

[2019-04-08 23:37] #8809 closed

[2019-04-09 01:38] #8892 closed

[2019-04-09 07:38] PraveenGururaj opened #8969 "Stop-AzureRmVM: -AsJob parameter is not working in runbooks"
Hi,

I was trying to stop multiple VM's using Azure runbook so I was using set PowerShell cmdlets which I used in my local machine.

Script which I used:

Clear-Host
$csv = Import-Csv $env:USERPROFILE\downloads\srv1.csv
foreach($line in $csv)
{
Start-AzureRmVM -Name $line.name -ResourceGroupName $line.rg -AsJob -Verbose
}

when I tried to integrate this in Azure - PowerShell runbook, I was getting

[2019-04-09 12:08] artisticcheese opened #8970 "Get-AzMetric returns empty results randomly"
## Description
Executing Get-AzMetric fails to return results to query randomly. Per Microsoft employee it's a known issue
https://social.msdn.microsoft.com/Forums/en-US/fd21e2cb-622f-4eb7-a068-9c140edd6e87/getazmetric-sporadically-refuses-to-return-results?forum=windowsazuredata

## Steps to reproduce

[code]

## Environment data

[code]

## Module versions

and paste the output in the below code

[2019-04-09 12:10] Oechiih opened #8971 "Get-AzConsumptionUsageDetail does not honor 'Tag' parameter"
## Description

Related [#8876](https://github.com/Azure/azure-powershell/issues/8876)

When using [Get-AzConsumptionUsageDetail](https://docs.microsoft.com/en-us/powershell/module/az.billing/get-azconsumptionusagedetail?view=azps-1.6.0) with the 'Tag' parameter it is still returning all resources. According to documentation the parameter should be a string value. Digging a little deeper, into the

[2019-04-09 12:36] JoeRistine commented on #8957
Sure, I'll open one now.

[2019-04-09 12:36] #8957 closed

[2019-04-09 15:03] JoeRistine commented on #8957
@AbhishekTripathi In your example, did you pass an -ApiId argument? If so, did it match the Id of the existing API?

[2019-04-09 15:04] JoeRistine commented on #8957
This is a separate bug, but when I use the PowerShell cmdlet I get a GatewayTimeout error. I'm guessing it's because my Swagger definition is very large (about 1.5Mb).

[code]

[2019-04-09 15:08] AbhishekTripathi commented on #8957
Hey @JoeRistine , thanks for your quick response. That indeed was the issue. Using correct ApiId fixed it. However, I think the error message or the verbose log could be a little more descriptive to point in the correct direction.

[2019-04-09 15:29] AbhishekTripathi commented on #8957
@JoeRistine, you may try to import it from the UI in APIM and observe the behavior.

If you are doing through powershell, try executing this on your shell before invoking your Azure commandlets. This will hopefully give you more descriptive information on which operation is causing the timeout and if you can try to remove that and see the issue is operation specific.

`  $DebugPreference = "Contin

[2019-04-09 15:40] JoeRistine commented on #8957
I have also imported the API definition through the Azure Portal using "Update" (not "Append") and it does complete successfully, but it takes about 6-7 minutes. It seems like the commandlet may have a default timeout of 5 minutes or so since that's about when I get the error. I'll try getting more details about the error when I resume testing and post my findings here.

[2019-04-09 15:55] chaami commented on #7558
@ruslany I am in the process of migrating deployment scripts to the latest [Az PowerShell kit](https://docs.microsoft.com/en-us/powershell/module/az.websites/publish-azwebapp?view=azps-1.6.0) as expected.
I now have the [Publish-AzWebApp](https://docs.microsoft.com/en-us/powershell/module/az.websites/publish-azwebapp?view=azps-1.6.0) and everything I need to push App Services.
However, I fail to f

[2019-04-09 16:12] panchagnula commented on #7558
@chaami Is this the command you are referring to https://docs.microsoft.com/en-us/powershell/module/servicemanagement/azure/set-azuredeployment?view=azuresmps-4.0.0

can you tell us exactly what is that in this command that is required for your deployment purposes? The Publish-AzWebApp uses ZipDeployment for the deployment purposes. Thank you.

[2019-04-09 17:44] niander opened #8974 "Create README.md for every folder in development-docs"
## Description
Some folders inside the development-docs folder does not have a readme file with a table of contents. This would facilitate the navigation through our docs. It is better than navigating through file names.

## Cost
1

[2019-04-09 17:47] maddieclayton commented on #8969
@PraveenGururaj Can you please upgrade your runbook to Az and rerun the command? I believe that the version of AzureRM that you are using may not contain the -AsJob functionality.

[2019-04-09 17:49] maddieclayton commented on #8970
@gucalder Can you take a look at this issue?

[2019-04-09 17:50] maddieclayton commented on #8971
@ms-premp Can you take a look at this issue?

[2019-04-09 18:27] dagiro commented on #8797
Also add `Invoke-AzHDInsightHiveJob` to the list.  For repro steps, followed 2nd PowerShell example in the same article referenced earlier. Did not test `Invoke-AzureHDInsightHiveJob`.

[2019-04-09 19:43] maddieclayton commented on #8599
Will be released on 4/23

[2019-04-09 19:43] #8599 closed

[2019-04-09 19:44] maddieclayton commented on #6549
Applied to all core cmdlets, the rest will be taken care of with the generator

[2019-04-09 19:44] #6549 closed

[2019-04-09 19:44] panchagnula opened #8975 "appservice: Get-AzAppServicePlanMetrics & Get-AzWebAppMetrics should be marked deprecated"
Azure AppService no longer supports these command & should be marked deprecated . The recommended command is Get-AzMetric, https://docs.microsoft.com/en-us/powershell/module/Az.Monitor/Get-AzMetric?view=azps-1.7.0

## Description

## Steps to reproduce

[code]

## Environment data

[code]

## Module versions

[code]

## Debug output

[code]

## Error output

[code]

[2019-04-09 19:45] panchagnula commented on #8716
@imeya there was GitHub issue tracking this change - here is the issue i created to track the change https://github.com/Azure/azure-powershell/issues/8975

[2019-04-09 21:08] hlarrymorepremera opened #8977 "Get-AzRoleDefinition -Name "Contributor" should be able to return the complete Actions list, not solely "*""
When performing the following, users who may be Azure Administrators attempting to have fine-grained permissions/control of their users' experiences, should have **full visibility of the full list of Actions**, rather than simply "*" by performing:

Get-AzRoleDefinition -Name "Contributor"  **-Verbose true** | ConvertTo-Json

(This request doesn't have anything to do with the Json conversion or fo

[2019-04-09 22:10] maddieclayton commented on #8944
@SRoy23 To help us debug and get the appropriate people engaged, please provide the following information:
- What is the c# code for instantiating the PowerShell session?
- What C# PowerShell library are you using to instantiate the Powershell session?
- How are you authenticating against Azure in the PowerShell session?
- Just to clarify, you are receiving 55 minutes worth of logs when run in Pow

[2019-04-09 22:22] alexandair commented on #8599
@maddieclayton Excellent. Thank you.

[2019-04-10 00:43] jzuchora87 commented on #8670
Hi all - has anyone been able to create a VM from a shared image gallery in a different subscription using Az? I've recently updated my Az modules and still no luck being able to leverage this functionality.

[2019-04-10 01:00] cynthn commented on #8670
I've done it several times. But, I am the owner of multiple subscriptions in my tenant. If you aren't the owner of both subscriptions, you might not have the correct permissions.

Have you tried granting yourself permission directly to the Gallery?

[2019-04-10 01:08] jzuchora87 commented on #8670
Hello, yes I am an owner on both.
![image](https://user-images.githubusercontent.com/34356109/55844357-e3227e80-5b0a-11e9-9838-fe595870c947.png)

Also, for what it's worth I'm getting the same error: _New-AzVm : The image subscription doesn't match the current subscription._   Are you using a template, CLI or Az?

[2019-04-10 01:28] cynthn commented on #8670
I've created VMs across subscriptions using both CLI and the Az version of PowerShell. I've never done it with a template.

What syntax are you using to create the VM? Maybe drop using a variable and just put directly use the ID of the image version.

You can use `$imageVersions = Get-AzResource -ResourceType
 Microsoft.Compute/galleries/images/versions` and then `$imageVersions.Id` to see the dif

[2019-04-10 01:29] #8807 closed

[2019-04-10 07:11] blueww commented on #8950
@tinodo
[Az.Storage 1.2.1-preview](https://www.powershellgallery.com/packages/Az.Storage/1.2.1-preview) has been released, which already reference Microsoft.Azure.Cosmos.Table.dll. It can be used together with latest AzureRmStorageTable module.
So I will close the issue.

Feel free to let me know if you need further assistant.

[2019-04-10 07:11] #8950 closed

[2019-04-10 08:21] PraveenGururaj commented on #8969
After updating the module relevant parameters are working. Closing this thread.

How to Update Azure PowerShell Module?
[https://docs.microsoft.com/en-us/azure/automation/automation-update-azure-modules#update-azure-modules-in-the-azure-portal]

[2019-04-10 08:21] #8969 closed

[2019-04-10 08:35] chaami commented on #7558
Hi @panchagnula,
Sorry I didn't make myself clear. I am searching for an equivalent command of (Set-AzureDeployment) that is used for Cloud Services deployment (as opposed to App Services).

[2019-04-10 11:35] SomilGanguly opened #8980 "Policy Assignment Update not working - Powershell Command"
The Set-AzureRmPolicyAssignment does currently not support a "PolicyParamater" or "PolicyParameterObject" (https://docs.microsoft.com/en-us/powershell/module/azurerm.resources/set-azurermpolicyassignment?view=azurermps-6.13.0).

[2019-04-10 13:00] jlarrow commented on #8531
Actually, the filename is Orchestrator.Sandbox.exe which may help people find the file to apply this fix.  I ended up finding it with
[code]

This did correct my issue on my Hybrid Runbook Worker — thanks!

[2019-04-10 15:09] panchagnula commented on #7558
@chaami got it. I am aware of the cloud services commandlets, @cormacpayne is there an equivalent AZ command for Set-AzureDeployment???

[2019-04-10 23:05] eamonoreilly opened #8983 "Update ManagedAppServiceToken constructor to accept and correctly process resource Id"
## Description
Managed identity within function application is not getting token automatically for vault.azure.net when using *-AzKeyVaultSecret cmdlets.  If you set / retrieve a secret from key vault, it will return an unauthorized message.

## Steps to reproduce
Enable managed identity on a function application.
Grant access to a secret for this managed identify
Run the following from a PowerShe

[2019-04-10 23:08] TylerLeonhardt commented on #8983
cc @joeyaiello @daxian-dbw for awareness

[2019-04-10 23:17] carlocardella commented on #8167
Is this fix going to be release soon?

[2019-04-11 02:18] RayBrindley commented on #8885
Perfect that's what was missing. Thanks @pedrocarvalhoclaranet

[2019-04-11 04:17] wayno4 commented on #7844
I have also just encountered this issue.  Can we please get an update on this

[2019-04-11 05:57] viverm commented on #8885
Set-AzRecoveryServicesAsrVaultContext -vault $vault
will do the same time as above.

[2019-04-11 13:05] jcwrights commented on #8877
Thanks zwswim.  This workaround of adding -FormatType does resolve this issue.

[2019-04-11 19:27] markdebruijne commented on #8416
@maddieclayton I can confirm I face the same issue within the same setup @RoshanKumarMicrosoft is mentioning
- Azure DevOps Release pipeline
  - Service connection based on AAD App Registration with `Azure Active Directory Graph (1)` > `User.Read` API permissions, and `Reader` RBAC role applied to the target resource group the KeyVault is added to.
- Azure PowerShell task, version `3.x` with inlin

[2019-04-11 19:30] markdebruijne commented on #8416
Might be related to: https://github.com/Azure/azure-powershell/issues/8592

[2019-04-11 20:24] maddieclayton commented on #8416
@markdebruijne Can you try this command again with the most recent version of Az and let me know if you are still seeing this error? I made a fix a little while back that hopefully should at least throw a good error message if not succeed.

[2019-04-11 21:31] maddieclayton commented on #8980
@cormacpayne It seem like we are missing an inputobject piping parameter set for this cmdlet. If we don't have bandwidth to fix this can you assign to the correct person on the Resources team?

[2019-04-12 06:35] LukeDearden commented on #2617
I been trying to migrate sites from Standard App Service to Premv2 using clone via powershell. I've had an SR open with Azure Support for the past 2 weeks. Seems a bit flakey to say the least

[2019-04-12 06:53] ncmpuolitaival opened #8992 "New-AzPolicyAssignment to management group, assignment name limited to 24 characters"
## Description

When trying to create a policy assignment to management group, the policy assignment name is limited to 24 characters.

## Steps to reproduce

[code]

## Environment data

[code]

## Module versions

[code]

## Debug output

[code]

## Error output

[code]

[2019-04-12 09:28] KrishnaG-MSFT opened #8993 "Get-AzOperationalInsightsSearchResults : Operation returned an invalid status code 'Gone'"
## Description

Get-AzOperationalInsightsSearchResults cmdlet execution fails with the error "Operation returned an invalid status code 'Gone'"

## Steps to reproduce

[code]

## Environment data

[code]

## Module versions

[code]

## Debug output

[code]

## Error output

[code]

[2019-04-12 09:54] deepakagra opened #8994 "Azure CLI: Az works for some commands and not for others"
[code]

Above block shows that Az is installed.. But following block says otherwise:

[code]

[2019-04-12 10:24] paragbharne commented on #8930
@ravindp @cormacpayne  I have not heard anything from you guys, I am waiting for your reply.

[2019-04-12 11:59] chperich commented on #8907
We are still running to this failure. Any update on when the fix might be available?

[2019-04-12 12:05] markdebruijne commented on #8416
@maddieclayton Do you have a pointer how to enforce the _"the most recent version of Az"_ within the Azure Powershell `v4.x preview` version within an Azure DevOps Release pipeline step/tasks?

[2019-04-12 13:04] ja-andrija commented on #8766
@ranokarno thanks for reporting! I tried to reproduce your issue but couldn't - on my end everything's working fine. I'm thinking it could be something specific to your server/DB. Can you ping me on email (anjov@microsoft) so we can take a closer look?

[2019-04-12 15:23] craigeaw commented on #5862
Any updates on this?  The workaround of removing and re-creating the connection is fine, but the ability to use the set cmdlet would be preferred.

[2019-04-12 16:54] bmoore-msft commented on #8770
I've added this item to our backlog.

[2019-04-12 16:57] maddieclayton opened #8997 "PSArgumentCompleter does not work for strings with spaces"
There is no good way currently to complete values with spaces. Ideally the completer would be able to detect spaces and add quotes around those values.

[2019-04-12 18:15] panchagnula commented on #8907
@chperich ,This issue was hotfixed earlier this week - can you please re-run & check. Thank you.

[2019-04-12 18:30] jdennis17 commented on #7955
the link is broken champ

[2019-04-12 19:01] samsmithnz commented on #6461
This just started for me in the last week too. Something has recently changed.

[2019-04-12 19:37] #8997 closed

[2019-04-12 19:52] maddieclayton commented on #8993
@xizhamsft Can you take a look at this issue?

[2019-04-12 19:59] maddieclayton commented on #8992
@cormacpayne Can you assign this to the correct service team? This seems like expected behavior but I'd like to confirm this with them.

[2019-04-12 20:02] maddieclayton commented on #8994
Due to this warning "Unable to resolve package source 'https://www.powershellgallery.com/api/v2'.", I believe you are having an issue with PowerShellGallery rather than the specific Az package. Can you try to install a different package from the gallery and let me know if that works?

[2019-04-12 20:05] maddieclayton commented on #8811
I will close this assuming that it was resolved offline - please let me know if this is not the case and I will reopen.

[2019-04-12 20:05] #8811 closed

[2019-04-12 20:05] maddieclayton commented on #8897
Closing - if the above comment did not resolve your issue please let me know and I will reopen.

[2019-04-12 20:05] #8897 closed

[2019-04-12 20:33] cormacpayne commented on #7955
@jdennis17 weird, it looks like the name of the article has changed since November -- I updated the above hyperlink with the correct URL (found [here](https://docs.microsoft.com/en-us/powershell/azure/uninstall-az-ps))

[2019-04-12 22:04] sadman-work opened #9001 "Getting replacement Az or AzureRM command for the Set-AzureReservedIPAssociation ASM command."
The specific issue is related to ASM commands:

The issue that I’m having is that there is no replacement call in the Az (or ARM) module library for  the following command.
Set-AzureReservedIPAssociation.

I realize that Reserved IP is a classic component, however, it is required for part of our application to work correctly.

I need the replacement AzureRM or Az command for changing my script.

[2019-04-13 01:24] deepakagra commented on #8994
Yes, there was issue with PowerShell Gallery.. De-registering and registering it back solved it. Thanks.

[2019-04-13 01:24] #8994 closed

[2019-04-13 10:56] barracud commented on #4980
@gsingla294  SAME PROBLEM.  Any fixes?

[2019-04-13 11:20] jackvandeur opened #9002 "Azure automation scripts still on AzureRM"
I just read the article where the AZ module for powershell is introduced as the successor of AzureRM. It furthermore tells you to get rid of AzureRM as soon as possible and to reewrite your scripts using the new AZ commands. It is kind of strange though that Microsoft Azure still spits out automation scripts using AzureRM commands. How come?

[2019-04-13 11:22] barracud commented on #4980
**Same problem** with the new `Add-AzVhd` !  :-1:

See here
[Add-AzVhd : The pipeline was not run because a pipeline is already running. Pipelines cannot be run concurrently.](https://github.com/MicrosoftDocs/azure-docs/issues/29267)

[2019-04-14 00:54] vany0114 commented on #8416
I'm facing exactly the same issue on my CD pipeline in Azure Devops, I need to grant perms to the slot which I create for deployment in the pipeline, @markdebruijne any luck on that?

[2019-04-14 06:26] arjundg commented on #8907
It is fixed for me.

[2019-04-14 08:11] borys86 opened #9004 "New-AzADGroup missing setting Description property on the group as in New-AzureRmADGroup"
Dear Az package development team

I started using Azure PowerShell az module but found that using cmdlet New-AzADGroup it is not possible to set a Description property. I assume that Az module is a replacement of previous PowerShell module AzuereRM.  According to https://docs.microsoft.com/en-us/powershell/azure/new-azureps-module-az?view=azps-1.7.0 we all should migrate to the new az module as th

[2019-04-15 04:29] AnatoliB commented on #8531
Thank you, **Orchestrator.Sandbox.exe** and **Orchestrator.Sandbox.exe.config** are the correct names.

[2019-04-15 06:59] skmkzyk opened #9007 "Please fix -VaultId option support to Restore-AzRecoveryServicesBackupItem"
## Description

As far as I tested, most of cmdlets in Az.RecoveryServices supports -ValutId option.
But Restore-AzRecoveryServicesBackupItem doesn't support it.
More accurately, Restore-AzRecoveryServicesBackupItem does receive -ValutId option but seems not recognized.

Since Set-AzRecoveryServicesVaultContext cmdlet is declared as deprecation, please add -VaultId option support to Restore-AzReco

[2019-04-15 07:51] DennisGoss commented on #8509
Seeing same behavior with ISE and connection to Azure Internal subscription - switching to VSCode.

[2019-04-15 08:47] MSSedusch commented on #8926
Issue should be fixed with PR #8972

[2019-04-15 08:47] #8926 closed

[2019-04-15 09:55] bgelens commented on #7145
We are now creating `Invoke-RestMethod` wrapper functions for long running tasks and return the operationId and correlationId from the response headers. EventGrid subscriptions kick off the next task as we can correlate based on correlationId. I'd like to have a switch on all Az cmdlets to just give back the CorrelationId and OperationId if applicable and let me decided how to handle progress moni

[2019-04-15 10:49] samhodgkinson opened #9010 "New-AzResourceGroupDeployment - References Get-AzureRmMarketplaceTerms"
## Steps to reproduce

[code]

## Environment data

[code]

## Module versions

[code]

## Debug output

[code]

## Error output

[code]

[2019-04-15 11:15] shammyowens opened #9011 "get-azlog -Maxrecord example should be changed"
The webpage for get-azlog shows examples which use -maxevents.  The actual parameter you need is -maxrecord as stated further down in the document.

 https://docs.microsoft.com/en-us/powershell/module/az.monitor/get-azlog?view=azps-1.7.0

## Description

## Steps to reproduce

[code]

## Environment data

[code]

## Module versions

[code]

## Debug output

[code]

## Error output

[code]

This is

[2019-04-15 11:27] RichShillingtonMSFT opened #9012 "Set-AzPolicySetDefinition & Set-AzureRmPolicySetDefinition fail with parameters"
## Description
When running Set-AzPolicySetDefinition with parameters it fails every time. Assigning the same policy directly with parameter works without an issue. It only fails when adding it to an initiative using  Set-AzPolicySetDefinition. The same issue occurs with Set-AzureRMPolicySetDefinition.

## Steps to reproduce

[code]

## Environment data

[code]

## Module versions

[code]

## Debu

[2019-04-15 11:49] RichShillingtonMSFT commented on #9012
Update: This also fails when setting this directly using Rest API. So the module may be ok, but it cannot be processed.

[2019-04-15 17:14] maddieclayton commented on #9007
@siddharth7 Can you take a look at this issue?

[2019-04-15 17:57] maddieclayton commented on #8944
@SRoy23 Ping on the questions above

[2019-04-15 17:57] maddieclayton commented on #8946
@axorth Ping on the questions above

[2019-04-15 17:59] maddieclayton commented on #9001
@MikhailTryakhov Can you take a look at this feature request and direct it to the correct Network team to comment?

[2019-04-15 18:01] maddieclayton commented on #9002
@vrdmr Can you direct this to the correct Automation team?

[2019-04-15 18:03] maddieclayton commented on #9004
Hey @borys86, it looks like the New-AzureRmADGroup does not have a description parameter: https://docs.microsoft.com/en-us/powershell/module/azurerm.resources/new-azurermadgroup?view=azurermps-6.13.0. Can you describe what you are running in AzureRM that allows you to set the description?

[2019-04-15 18:09] maddieclayton commented on #9012
@cormacpayne Hey Cormac, can you take a look at this issue and direct to the Resources team if appropriate?

[2019-04-15 18:12] maddieclayton commented on #9010
@ankitsud @prbansa Can you take a look at this issue?

[2019-04-15 18:13] axorth commented on #8946
Sorry out sick, I will take a look at it when I get back into the office

On Mon, Apr 15, 2019, 1:00 PM Maddie Clayton <notifications@github.com>
wrote:

[2019-04-15 18:27] weyfonk commented on #7269
If I remember correctly, we ended up escaping spaces in variables using backticks (`` ` ``).

[2019-04-15 18:29] borys86 commented on #9004
hi @maddieclayton
I checked and I am using New-AzureADGroup cmdlet that allows setting a description.

[2019-04-15 18:44] maddieclayton commented on #9004
@darshanhs90 Can you comment on bringing this Description functionality from the AD module to the Az AD cmdlets?

[2019-04-15 18:48] cormacpayne commented on #9012
@mentat9 Hey Chris, would you mind taking a look at this issue?

[2019-04-15 18:49] cormacpayne commented on #8992
@mentat9 Hey Chris, would you mind letting us know if this is the expected behavior on the server?

[2019-04-15 18:53] cormacpayne commented on #8980
@mentat9 Hey Chris, would your team be able to incorporate these changes into the `*-AzPolicy*` cmdlets?

[2019-04-15 18:58] mentat9 commented on #8992
Yes, this is expected and by design, not anything to do with Powershell. Expanding this would be a major redesign of the policy backend, which isn't likely to happen soon without a demonstrable customer requirement that can't be worked around some other way.

[2019-04-15 19:08] mentat9 commented on #9012
The parameters of the policy set are determined at the time it is created. You cannot add or remove parameters to/from it afterward, which is effectively what is happening when adding another policy that has parameters. This is the behavior of the policy backend by design, not related to Powershell. You will see the same thing if you try from the portal.

[2019-04-15 19:36] mentat9 commented on #8980
Yes, good suggestion. I've created a work item on our team to add this capability.

[2019-04-15 20:15] maddieclayton commented on #9012
Closing as by design.

[2019-04-15 20:15] #9012 closed

[2019-04-15 20:16] maddieclayton commented on #8992
Closing as by design.

[2019-04-15 20:16] #8992 closed

[2019-04-15 20:39] cormacpayne commented on #8963
@Strandfelt Hey Andreas, just to confirm, on your machine you are now logging in as `xxx.COMPANY` rather than `xxx`, correct? We are using the path `Environment.SpecialFolders.UserProfile` as the directory to house this `.Azure` folder that the `AzureRmContext.json` file is then written to. It may be the case that your machine still thinks you're logged in as the `xxx` account and is trying to rea

[2019-04-15 20:41] markcowl commented on #8983
@eamonoreilly @TylerLeonhardt Do you have a debug trace of a failed request?  There are some KeyVaule cmdlets that also require Graph access.

[2019-04-15 20:53] markcowl commented on #8886
@msrini-MSFT What version of the cmdlets are you using when you see this issue?  (Get-Module -ListAvailable will show).

[2019-04-15 22:34] eamonoreilly commented on #8983
Here is the debug information Mark.

2019-04-15T22:30:30.217 [Debug] DEBUG: 10:30:30 PM - GetAzureKeyVaultSecret begin processing with ParameterSet 'ByVaultName'.
2019-04-15T22:30:30.219 [Debug] DEBUG: 10:30:30 PM - using account id 'MSI@50342'...
2019-04-15T22:30:30.703 [Debug] DEBUG: [ADAL]: Information: 2019-04-15T22:30:30.6080621Z: 00000000-0000-0000-0000-000000000000 - LoggerBase.cs: Serializ

[2019-04-15 22:36] eamonoreilly commented on #8983
@markcowl I added a debug trace. Hopefully this is enough information to isolate what might be happening.
Thanks,
Eamon

[2019-04-15 22:56] maddieclayton commented on #8167
Common code change is here: https://github.com/Azure/azure-powershell-common/tree/RDFE, all that needs to be done is to release a new version of Microsoft.Azure.Common and Hyak.Common that can be loaded side by side with the version used in Az. After that, the changes for the AzureRM branch in azure-powershell can be found here: https://github.com/maddieclayton/azure-powershell/tree/releaseazure.

[2019-04-16 02:40] vany0114 commented on #8416
@maddieclayton can you open the issue again, please? The error is still there.

[2019-04-16 10:41] RichShillingtonMSFT commented on #9012
@mentat9 I am adding a policy to an initiative not adding parameters to the policy. This is allowed in the portal. It just doesn't work with PowerShell. I don't think this is an issue with the cmdlet. The issue appears to be that the portal sends and resource manager accepts an invalid JSON.

The portal submits this with a single pair of quotes surrounding both resources:
"parameters": {"listOfRes

[2019-04-16 11:06] ValenAko commented on #8670
I hate to do "me too"'s, but I am running up against (I think) exactly the same problem.
2 subscriptions, in the same Azure tenant.  Logged in as the "Global Admin"/"Account owner" so I think RBAC is not an issue?
Shared Gallery is created in Southeast Asia (subscription 1), and an image version is stored in Southeast Asia, and replicated to East US 2.
When trying to create an new VM with New-AzVM

[2019-04-16 11:08] simonsabin commented on #1528
Ditto, I'm finding that using TemplateParameterObject with a hashtable containing a securestring fails with error saying the parameter (that is a secure string) is invalid. Using the @parameters, instead of TemplateParameterObject works

[2019-04-16 13:17] iyoumans opened #9019 "Ability to remove old SQL Auditing method"
Our environment currently has all of the SQL Servers auditing (and threat detection from back when) pointed at storage accounts. We want to convert all of them to point to Log Analytics (in order to get rid of dozens of storage accounts). However, Set-AzSqlServerAuditing to enable Log Analytics doesn't remove the auditing to the storage account, and there is no Remove auditing cmdlet any more. How

[2019-04-16 14:15] kilasuit commented on #6550
@cormacpayne / @sphibbs - any updates on this at all?

[2019-04-16 16:35] maddieclayton commented on #9019
@jaredmoo Can you take a look at this feature request?

[2019-04-16 16:48] iyoumans commented on #9019
Addendum - using Set -State Disabled and then again to enabled Log Analytics worked for me. So this can probably be closed (in fact I will close it). Note, however, that this is very confusing and doesn't match how the Threat Detection APIs work (they have a Remove). Plus, it is not documented well, and after enabling Log Analytic logging, the Get-AzSqlServerAuditing still shows as Disabled even t

[2019-04-16 16:48] #9019 closed

[2019-04-16 16:56] cynthn commented on #8670
@ValenAko Thanks for the feedback! Just to make sure, have you followed the part of the article that shows you how to register your subscription for the feature? Have you done it for both subscriptions? And, is PowerShell up-to-date?

I'm actually thinking you might need to register each subscription for the feature, and that may be the issue (which would need to be clarified in the docs). Can you

[2019-04-16 17:56] daxian-dbw commented on #8983
@eamonoreilly Why is this issue closed?

[2019-04-16 18:12] eamonoreilly commented on #8983
@daxian-dbw Closed by mistake!. Thanks for the ping and I'm reopening.

[2019-04-16 18:15] markcowl commented on #8983
@eamonoreiily Thanks, that pinpoints exactly what the error is and where it occurs in the code.  We will take a look.

[2019-04-16 18:24] camillemarie commented on #9012
@RichShillingtonMSFT

`Set-AzPolicySetDefinition` does not add a policy definition to an initiative. It updates the whole initiative.
The `-Parameters` flag on `Set-AzPolicySetDefinition` is used to define parameters for the whole initiative, not for setting the parameter values for an individual definition in the initiative. This is why you're seeing the error `Could not find member 'value' on ob

[2019-04-16 18:26] markcowl commented on #8983
### Description
ManagedAppServiceToke does not accept resource (token audience) and so cannot be used to authenticate data plane calls.

- [ ] Update ManagedAppServiceToken to accept resource (as geenric ManagedServiceToken does)
- [ ] Ensure that references to https://management.core.windows.net continue to be transformed into the resource manager audience (https:// manage,windowsazure.net)
- [ ]

[2019-04-16 18:31] markcowl commented on #8946
@axorth to reiterate the template, we need the following pieces of information

- installed modules (Get-Module -List Available)
- Debug trace of the error (set $DebugPreference="Continue" before executing the failing cmdlet)
- Detailed error information (run Resolve-AzError afeter the failure)
- PowerShell version information ($PSVersionTable)

[2019-04-16 20:27] jzuchora87 commented on #8670
I can confirm that for both of the subscriptions under my test tenant have been set using the following:

Register-AzProviderFeature -FeatureName GalleryPreview -ProviderNamespace Microsoft.Compute
Register-AzResourceProvider -ProviderNamespace Microsoft.Compute

I also have Az 1.5 installed.

[2019-04-16 21:39] maddieclayton commented on #8886
@msrini-MSFT Please fill out this template so we can see the debug trace:

## Description

## Steps to reproduce

[code]

## Environment data

[code]

## Module versions

[code]

## Debug output

[code]

## Error output

[code]

[2019-04-16 21:42] maddieclayton commented on #8933
Closing as the answer above is correct :)

[2019-04-16 21:42] #8933 closed

[2019-04-16 21:51] #5678 closed

[2019-04-16 21:51] #5817 closed

[2019-04-16 21:51] #6105 closed

[2019-04-16 21:52] #6181 closed

[2019-04-16 21:52] #6182 closed

[2019-04-16 21:53] #7958 closed

[2019-04-16 21:58] #5663 closed

[2019-04-16 22:03] #5873 closed

[2019-04-16 22:40] #8884 closed

[2019-04-17 00:09] axayjo commented on #8670
Adding @vanbasten2323 to take a look into this.

[2019-04-17 00:12] axayjo commented on #8670
Adding @hyonholee from Azure PowerShell team as well.

[2019-04-17 05:03] RoshanKumarMicrosoft commented on #8907
We are still facing same issue

[2019-04-17 06:03] ValenAko commented on #8670
Yes, I ensured that I ran both commands on both subscriptions.  I have also
verified that Get-AzProviderFeature has a Registered status.

Sorry, I dont know how to get version information for the az cmdlets.

PS C:\> Get-AzProviderFeature

FeatureName    ProviderName      RegistrationState
-----------    ------------      -----------------
GalleryPreview Microsoft.Compute Registered

PS C:\> $PSVe

[2019-04-17 06:12] ValenAko commented on #8670
Figured out how to give you version info -

PS C:\> Get-InstalledModule -Name Az -AllVersions | select Name,Version

Name Version
---- -------
Az   1.5.0
Az   1.7.0

On Wed, Apr 17, 2019 at 8:14 AM Akshay Joshi <notifications@github.com>
wrote:

[2019-04-17 07:56] bashahee commented on #9019
@iyoumans
Audit logs destination is determined by specifying one of the following switch parameters: `BlobStorage`, `LogAnalytics` or `EventHub`, if none is specified, the default is `BlobStorage` (This is documented under cmdlet description section when running `Get-Help Get-AzSqlServerAuditing`). This is also true for `Set-AzSqlServerAuditing` cmdlet.
Running `Get-AzSqlServerAuditing` without pr

[2019-04-17 09:44] clericc commented on #5647
alias is present in new Az command

[2019-04-17 09:44] #5647 closed

[2019-04-17 11:36] iyoumans commented on #9019
Thank you, that worked! I must say, however, that the behavior doesn't match other Az Get cmdlets. For example, I don't have to pass a -Linux or -Windows switch to Get-AzVm.

[2019-04-17 12:14] jzuchora87 commented on #8670
Very helpful, thank you for sharing. Turns out I actually had 1.7 installed.

[2019-04-17 13:03] ValenAko commented on #8670
Is there a workaround for this?  I understand it is still in preview and
hence no promises made, but its kinda useless at the moment if I cant share
with another subscription in the same tenant.

The portal doesnt show the gallery either - so Im not sure its only a
powershell issue?

On Wed, Apr 17, 2019 at 8:18 PM jzuchora87 <notifications@github.com> wrote:

[2019-04-17 14:17] panchagnula commented on #8907
@RoshanKumarMicrosoft the root cause of this issue has already been fixed. One thing to try is use resources.azure.com directly or portal to see if you face the same problem.
 If you are still seeing this can you please file a CRI on the AppService team & servicing folks will take a look.

[2019-04-17 14:46] bashahee commented on #9019
@iyoumans
User can set, **simultaneously**, blob storage, event hub, and log analytics as targets of audit logs. Hence, there is a need to specify the destination when retrieving auditing settings.

[2019-04-17 14:57] mohatb commented on #8934
Hello Team - any update on this ?

[2019-04-17 15:25] tcanelas opened #9022 "New-AzVirtualNetworkSubnet"
## Description of the new feature
Add the possibility to manage subnets when the user doesn't have the Microsoft.Network/virtualNetworks/write permission
Actually, creating a subnet from the portal, an IaC tool, az CLI, etc (API) doesn't require the Microsoft.Network/virtualNetworks/write permission.
Whereas in powershell it's done with
Get-AzVirtualNetwork | Add-AZVirtualNetworkSubnetConfig | Set

[2019-04-17 15:29] yourekillingmesmalls commented on #1597
Sorry to revive this old thread, but as I am having this issue, here we go.
I am in fact creating a new VM, I'm using an existing specialized VHD which I imported, but we are creating a *new* VM.

[2019-04-17 19:23] maddieclayton commented on #9022
@avijitgupta @chandrasekarsrinivasan Can you take a look at this issue?

[2019-04-17 19:54] maddieclayton commented on #6155
Branch with provider code: https://github.com/Azure/azure-powershell/tree/KVprov1

[2019-04-17 19:55] maddieclayton commented on #6154
Provider code here: https://github.com/Azure/azure-powershell/tree/KVprov1

[2019-04-17 19:55] MiYanni opened #9023 "Static Analysis: Breaking change when default parameter set added"
## Description
Shows something like this: (from here: https://github.com/Azure/azure-powershell/pull/9018)
[code]

`__AllParameterSets` is the default parameter set name when none is specified. This is seen as a breaking change because that parameter set no longer exists after you add a default parameter set. This condition should not be flagged as a breaking change.

## Cost
1

[2019-04-17 19:55] maddieclayton commented on #6152
Provider code here: https://github.com/Azure/azure-powershell/tree/KVprov1

[2019-04-17 19:57] maddieclayton commented on #8595
Code for this can be found here: https://github.com/maddieclayton/azure-powershell/tree/uninstallaz/src/ModuleManagement

[2019-04-17 20:01] markdebruijne commented on #8416
@vany0114 I've implemented the workaround by using the `-BypassObjectIdValidation` switch
[code]

To get the respective ObjectId for the deployment slot, you can use the `Get-AzureRmWebAppSlot -ResourceGroupName "Default-Web-WestUS" -Name "WebAppStandard" -Slot "Slot001"` and then the `.Identity.PrincipalId` property
https://docs.microsoft.com/en-us/powershell/module/AzureRM.Websites/Get-AzureRmWe

[2019-04-17 20:13] MiYanni opened #9024 "Static Analysis: Breaking change when parameter set is removed from parameters, but is the default parameter set"
## Description
Looks something like this: (from here: https://github.com/Azure/azure-powershell/pull/9018)
[code]

Basically, if the parameter set was stated explicitly on a parameter and now, no longer is explicitly stated, it says there was a breaking change. However, the parameter set still does exist because, in this case, `Default` is still the default parameter set (which means it does exist

[2019-04-17 20:21] maddieclayton commented on #8765
This is fixed here: https://github.com/Azure/azure-powershell/pull/9016 with a private copy of platyPS, and the fix will be released in platyPS on Friday (PR here: https://github.com/PowerShell/platyPS/pull/462)

[2019-04-17 20:21] #8765 closed

[2019-04-17 20:37] MiYanni opened #9025 "Static Analysis: Not recognizing 'ValueFromPipelineByPropertyName = true' removal as breaking change"
## Description
(from here: https://github.com/Azure/azure-powershell/pull/9018)
When `ValueFromPipelineByPropertyName = true` is removed (or changed to false), it should be recognized as a breaking change. Right now, it doesn't seem to recognize this situation. Existing scripts could be passing values in the pipeline by property name. Thus, removing this would break them.

## Cost
1

[2019-04-17 23:13] sphibbs commented on #6550
We have begun design discussions for how we'd handle running cmds across multiple subscriptions. We will also be adding subscriptionid and resourceid parameters to cmds where it makes sense.

[2019-04-17 23:35] maddieclayton commented on #8846
What needs to be done:

- [ ] Cmdlets that currently do not output some sort of OperationResult:
DisableAzureVmssDiskEncryption.cs
SetAzureVmssDiskEncryptionExtension.cs
ContainerServiceCreateOrUpdateMethod.cs
DiskCreateOrUpdateMethod.cs
DiskGrantAccessMethod.cs
DiskUpdateMethod.cs
GalleryCreateOrUpdateMethod.cs
GalleryImageCreateOrUpdateMethod.cs
GalleryImageVersionCreateOrUpdateMethod.cs
ImageCr

[2019-04-18 02:01] mikew1927 opened #9026 "Get-AzNetworkSecurityGroup help Examples results show a networkInterface not a networkSecurityGroup"
## Description

The help text for Get-AzNetworkSecurityGroup is wrong - the Examples show the returned result as if for Get-AzNetworkInterface

## Steps to reproduce

[code]

## Environment data

[code]

## Module versions

[code]

## Debug output

[code]

## Error output

[code]

[2019-04-18 08:18] Voteax commented on #1597
Same Problem here. We want to create the Disc Object before we create the VM itself, so we have better Control over the Disc Tags. The Disc is created From Image und afterwards attached to the VM.
Everything works as expected, but we cannot issue "Set-AzureRMVMOperatingSystem" and therefore cannot set the VM-Admin Credentials nor everything else what this Cmdlet does.

[2019-04-18 09:03] #8886 closed

[2019-04-18 12:09] kilasuit commented on #6550
@sphibbs that sounds like a good start but would this be possible to move these calls to being tenant level by default and then allowing subscriptionID & SubscriptionName as parameters so I could do a series of PowerShell commands like the below

Get all Vm's with APP* in the name across all subscriptions in the tenant
[code]
or

Get all Vm's with APP* in the name in the Dev Subscription
[code]

[2019-04-18 12:57] tinodo opened #9029 "Documentation for Get-AzRecoveryServicesVaultSettingsFile is incorrect"
## Description

The documentation for Get-AzRecoveryServicesVaultSettingsFile is incorrect.
Today, the **-Certificate** parameter is mandatory and not present in any examples. Also, there is no description for this parameter.

Can this be modified for clarity?

[2019-04-18 17:47] Virepri opened #9032 "New-AzStorageAccount can produce HNS (ADLSG2) storage accounts of an incompatible configuration"
## Description

While not exactly a bug, the Powershell cmdlet `New-AzStorageAccount` can produce a ADLSG2 account with an incompatible configuration, leading to a ADLSG2 account without a DFS endpoint, making it fully inoperable.

The expected behavior is to error out when an incompatible configuration is selected-- much akin to the Azure Portal.

## Steps to reproduce

[code]

## Environment dat

[2019-04-18 18:35] ikiris04 commented on #8541
Any update? Also the -alertadmin and -notifyonalert are required switches even though you can set them to false in the portal

[2019-04-18 20:25] ikiris04 commented on #9029
+1, I just ran into this. There is also no description of what the certificate is used for. I ended up generating a self-signed cert in keyvault, grabbing that data and base64 encoding it to pass to -certificate

[2019-04-18 23:32] maddieclayton commented on #8869
Played a little with this here: https://github.com/maddieclayton/azure-powershell/tree/kvgeneration

[2019-04-19 04:24] blueww commented on #9032
@Virepri
Thanks for report this issue!
Generally, Powershell depends on server error for incompatible configuration is selected, so the issue is Server should report an error when use both Kind=Storage and EnableHierarchicalNamespace=true.

I will contact SRP team for it, and update the issue when get responds from them.

Anyway, before this is fixed on server, Would you please workaround this iss

[2019-04-19 12:23] o-l-a-v opened #9039 "Login with Az module with read only permissions for one session only"
## Description of the new feature
I often find myself browsing around in customer tenants in order to either solve problems or doing assessments. I often use my CSP admin for this, much better than creating a dedicated user per tenant I work in. It has happened before that I've modified or deleted resources by mistake.

With a "read only" option for current session, you'd have one more safety barr

[2019-04-19 17:04] dagiro commented on #4351
I encountered the same issue while following the second PowerShell code example at [Customize HDInsight clusters using Bootstrap](https://docs.microsoft.com/en-us/azure/hdinsight/hdinsight-hadoop-customize-cluster-bootstrap#appendix-powershell-sample). I was able to resolve the issue following @mykovalenko suggestion. Could you update the documentation for `Add-AzHDInsightConfigValues`? I do note

[2019-04-19 17:11] dagiro commented on #8797
In [Manage Apache Hadoop clusters in HDInsight by using Azure PowerShell](https://docs.microsoft.com/en-us/azure/hdinsight/hdinsight-administer-use-powershell#find-the-default-storage-account) I have added an [!IMPORTANT] stating, "The values for `DefaultStorageAccount`, and `DefaultStorageContainer` are not returned from `Get-AzHDInsightCluster` when secure transfer is enabled on the storage acco

[2019-04-19 17:17] zaphodtx commented on #7707
I am seeing this same error message.

PS C:\WINDOWS\system32> $myAppIDString = '80ad9f13-c920-4243-a11d-123456d9c0aa'

PS C:\WINDOWS\system32> New-AzADServicePrincipal -ApplicationId $myAppIDString
New-AzADServicePrincipal : Object reference not set to an instance of an object.
At line:1 char:1
+ New-AzADServicePrincipal -ApplicationId $myAppIDString
+ ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

[2019-04-19 18:30] markcowl commented on #6550
I think that by default, at least for Get-* cmdlets, ```-Subscription``` should take a list of subscriptions.  This would enable  users to use PSDefaultParameterValues to define a default subscription set.

We would then need to consider whether to allow selecting multiple subscriptions in a context, and then whether the selected context after login should allow access to all available subscriptio

[2019-04-19 18:47] markcowl commented on #6550
Generally, we like using ```-Subscription``` which can accept either names of IDs, rather than explicitly using SubscriptionName and SubscriptionId as separate parameters, but if it's helpful, parameter aliases to -Subscription would also work.

[2019-04-19 19:08] markcowl commented on #6550
BTW, right now, this can be done somewhat awkwardly using the ```-DefaultProfile``` parameter

[code]

[2019-04-19 20:26] kilasuit commented on #6550
@markcowl - if we got `Connect-AzAccount -AllSubscriptions` and could choose between this and `Connect-AzAccount -Subscription 'Sub1', 'Sub2', 'Sub3'` & `Connect-AzAccount -DefaultSubscription ` that would offer a good experience that allows me as a user the most flexibily and also aligns close to the current experience in the Portal too, as I can choose a default subscription to view, I just used

[2019-04-19 21:09] yangyuan commented on #8836
PowerShell is missing `ApiProperties` support. The support will be added in the upcoming few weeks.

Please consider to use Azure CLI as temporary solution,
https://github.com/Azure/azure-cli/issues/6888#issuecomment-417817480

[2019-04-21 00:06] solankisamir commented on #8728
Provided input, please open if you feel the information is incorrect

[2019-04-21 00:06] #8728 closed

[2019-04-22 12:05] avirup28 opened #9045 "Set-AzSqlElasticPool : Invalid SKU name 'GP' | Vcore not getting changed from PS"
## Description

Trying to change dtu of Elastic pool which is in Vcore model from Powershell, but it is throwing error. Same behavior from runbook also.
When I'm doing the same with Az CLI it is working.

## Steps to reproduce

[code]

## Environment data

[code]

## Module versions

ModuleType Version    Name                                ExportedCommands
---------- -------    ----

[2019-04-22 12:09] avirup28 commented on #9045
Closing this

[2019-04-22 12:09] #9045 closed

[2019-04-22 12:10] avirup28 opened #9046 "Set-AzSqlElasticPool : Invalid SKU name 'GP' | Vcore not getting changed from PS"
## Description

Trying to change dtu of Elastic pool which is in Vcore model from Powershell, but it is throwing error. Same behavior from runbook also.
When I'm doing the same with Az CLI it is working.

## Steps to reproduce

[code]

## Environment data

[code]

## Module versions

[code]

## Debug output

[code]

## Error output

[code]

[2019-04-22 14:27] MasterKuat opened #9048 "New-AzKeyVaultCertificatePolicy KeySize"
## Description of the new feature
When creating certificate in Azure Portal, advanced polivy configuration allow us to choose Key Size (2048, 3072, 4096).
Should be great if AzKeyVaultCertificatePolicy can reflect these options.

[2019-04-22 15:33] MasterKuat opened #9049 "Add-AzKeyVaultCertificate"
## Description
When generating a self signed certificate, NotBeforeDate is set with Local datetime. TimeZone seems not to be included in date so, using fresh certificat for an automation account as AzureRunAs lead to a "The key used is expired." error.

Exemple :
`Add-AzureRmAccount : AADSTS700027: Client assertion contains an invalid signature. [Reason - The key used is expired.,
Thumbprint of ke

[2019-04-22 16:29] niander commented on #9026
@avijitgupta @chandrasekarsrinivasan Could you take a look at this issue?

[2019-04-22 18:29] markcowl commented on #6550
@kilasuit Yes, agreed, I am just wondering if 'all subscriptions in tenant' should be the default -this is a breaking change, but for most users this would be the same as current behavior.  Then users can opt out of this using ```-subscription [string[]] ```

Doing this change in the current codebase would be a medium-large change, but it would be a big change in user experience (a simplifying one

[2019-04-22 21:21] niander commented on #8846
PR #9051

[2019-04-22 21:57] timomta opened #9052 "Consider Taking -WorkspaceKey Arg for Log Analytics Cmdlets"
## Description of the new feature
Would love to see the option of -WorkspaceKey in addition to -WorkspaceId for Log Analytics cmdlets
## Proposed implementation details (optional)
Log analytics cmdlets appear to rely on a user to log in with Connect-AzAccount. However, in situations where you'd like to automate with script, it would be very helpful if these cmdlets would take the WorkspaceId/Works

[2019-04-23 00:28] harre096 opened #9055 "Import-AzureRmDataLakeStoreItem command does not work with destination '/' (root) as described in the docs."
## Description
[Import-AzureRmDataLakeStoreItem](https://docs.microsoft.com/en-us/powershell/module/azurerm.datalakestore/import-azurermdatalakestoreitem?view=azurermps-6.13.0) command does not work with destination '/' (root) as described in the docs.

## Steps to reproduce

[code]

## Module versions

[code]

## Debug output

[code]

## Error output

[code]

[2019-04-23 04:16] ValenAko commented on #8670
Sorry to be a pain, but how did we do this (copying an image from one subscription to another within the same tenant) before Image Sharing?  If I cannot share the image, then I'm fine with copying it over to the other subscription in my tenant.

Thank you for any guidance.

[2019-04-23 05:53] msnnpatel opened #9057 "Get-AzSecurityTask doesn't provide Severity information"
## Description of the new feature
Currently when running Get-AzSecurityTask it doesn't provide information about severity of the task/recommendation. This information is visible in Azure Portal.
As you can understand that this will be vital information for customer to prioritize their remediation of all the recommendations.
## Proposed implementation details (optional)

[2019-04-23 05:53] i255d commented on #7032
Fixed?  Get-AzKeyVaultSecret : Could not load file or assembly 'Newtonsoft.json'.  Version=9.0.0.0, Culture=neutral, PublicKeyToken=xxxxxxxxxxxxxxx' or one of its dependencies.  So what do we do?  Running on Windows 10 Desktop.

[2019-04-23 07:21] bgelens commented on #8846
related issue #7145.

Please make sure that **correlationId** and **operationId** information is made part of the [PSAzureOperationResponse](https://github.com/Azure/azure-powershell/blob/master/src/Compute/Compute/Models/PSAzureOperationResponse.cs). AFAICT it currently is not (unless RequestId is actually CorrelationId?) but it is crucial information.

This information is send as response header

[2019-04-23 07:39] Strandfelt commented on #8963
I login with my Azure AD-user xxx@COMPANY.com, yes. That user is mapped to the xxx.COMPANY folder in C:/Users.

[2019-04-23 08:34] Mohammad-Moussa-Haidar opened #9058 "Get-AzApiManagementPolicy"
## Description
Hi,
We have a problem with Get-AzApiManagementPolicy where it does not get the operators correctly and and reruns them encoded.

For example id you have a policy that contains the greater than operator then instead of ">>" it returns "&gt;&gt.

We have open and an issue with the Azure APIM back-end team but below was their response

## Steps to reproduce

Open Azure Portal => API Ma

[2019-04-23 15:05] hc-hchen opened #9060 "Get-AzExpressRouteGateway API version incorrect"
## Description
When running Get-AzExpressRouteGateway, got an error with the following message "Get-AzExpressRouteGateway : The resource type could not be found in the namespace 'Microsoft.Network' for api version
'2018-12-01'."

## Steps to reproduce

[code]

## Environment data

[code]

## Module versions

[code]

## Debug output

[code]

## Error output

[code]

[2019-04-23 15:11] hc-hchen commented on #9060
This command might have been deprecated, the command can be used as a substitute is Get-AzVirtualNetworkGateway

[2019-04-23 17:37] hyonholee commented on #4980
Thanks for reporting the issue.  We will investigate it.  Thanks.

[2019-04-23 18:29] v-Ajnava commented on #8964
@kvattikuti , will take look and update the thread.

[2019-04-23 19:25] bgklein commented on #8655
@matthchr I believe this is better in the AzRM documentation. You are able to walk the path down method returns/inputs

[2019-04-23 20:19] bganapa commented on #4633
CLosing this. This is not applicable as we move to Az in future

[2019-04-23 20:19] #4633 closed

[2019-04-23 20:27] bganapa opened #9063 "Remove the need of -BypassObjectIdValidation parameter in Set-AzureRmKeyvaultAccessPolicy"
## Description
The parameter is being needed only for the Azurestack ADFS environments
Keyvault module uses this latest version of graphclient https://www.nuget.org/packages/Microsoft.Azure.ActiveDirectory.GraphClient .

This Graphclient uses ODATA 3. It works fine against AAD and not against ADFS as it supports only ODATA 4. So KV team introduced a parameter -ByPassObjectIdValidation in Set-Azure

[2019-04-23 21:37] niander commented on #8846
Hello @bgelens, could you file an issue with this request?

[2019-04-23 21:43] markcowl commented on #9029
@siddharth7 @pvrk Can you take a look?

[2019-04-23 21:49] markcowl commented on #9046
@jaredmoo Can you take a look?

[2019-04-23 21:54] markcowl commented on #9055
@harre096 There are 3 different versions of the Azure cmdlets installed in your PSModulePath.  Can you remove the older versions from your path to ensure that this issue occurs with the latest version?

[2019-04-23 22:10] markcowl commented on #9025
here is an example: https://github.com/Azure/azure-powershell/pull/9018/files/32a73607e13184e65874a75b5442d8584aff54fa#diff-24497f874e4beee9808ecb3bf90f4535

[2019-04-23 22:14] markcowl commented on #9024
won't fix, this is a false positive that we don't want to avoid.

[2019-04-23 22:14] #9024 closed

[2019-04-23 22:15] markcowl commented on #9023
this is a false positive we won't change for now

[2019-04-23 22:15] #9023 closed

[2019-04-23 22:19] markcowl commented on #8440
We should incorporate this investigation with the Graph client update

[2019-04-23 22:41] dawwa commented on #2286
do we have a solution yet, this seems a very basic scenario broken right? creating the MSI as the Principle and assign some roles to it.

[2019-04-23 23:07] jaredmoo commented on #9046
What is the elastic pool's current edition?

[2019-04-23 23:14] MiYanni commented on #7572
Closing as generated cmdlets do not need this depth as part of their csproj files.

[2019-04-23 23:14] #7572 closed

[2019-04-23 23:18] MiYanni commented on #7345
Created both current azure-powershell signing build pipeline (does not do MSI generation, however), and generated cmdlets signing build pipeline.
https://dev.azure.com/azure-sdk/internal/_build

[2019-04-23 23:18] #7345 closed

[2019-04-24 00:13] markcowl commented on #8910
Fix is in #8906

[2019-04-24 00:15] #8808 closed

[2019-04-24 01:18] blueww opened #9066 "[Az.Storage] Need migration Guild for namespace change for upgrade to XSCL 10.0.1"
## Description
We need to write a migration Guild for B/Q/F namespace change for upgrade to XSCL 10.0.1
The details are given below.

After the migration Guild is added, we should also update the link to src/Storage/Storage.Management/ChangeLog.md

## Cost
TBD. One SDK team will help to update it.

[2019-04-24 01:22] jaredmoo commented on #9046
I think what's happening is that the pool is currently GeneralPurpose, and you are attempting to set its Dtu. However GP is a VCore based edition, so it doesn't have DTU - this is an invalid operation.

If you want to change its VCores then use `-VCore` parameter. If you want to set it to some DTU, then you will have to change it to a DTU based edition such as Basic, Standard, or Premium.

I will

[2019-04-24 02:20] ikanni opened #9067 "Set-AzResource fails for ResourceType "microsoft.insights/scheduledqueryrules""
## Description
Set-AzResource fails for ResourceType  "microsoft.insights/scheduledqueryrules" with error "value": "Value cannot be null.\r\nParameter name: 'properties' property must be specified"

## Steps to reproduce

[code]

## Environment data

[code]

## Module versions

[code]

## Debug output

[code]

## Error output

[code]

[2019-04-24 02:26] ikanni opened #9068 "Set-AzResource fails while updating tags for ResourceType Microsoft.OperationsManagement/solutions"
## Description

Set-AzResource fails  while updating tags for ResourceType Microsoft.OperationsManagement/solutions with error Endpoint not found

## Steps to reproduce

[code]

## Environment data

[code]

## Module versions

[code]

## Debug output

[code]

## Error output

[code]

[2019-04-24 02:27] blueww commented on #9066
## For //Build  PSH release:

### 1. By upgrade to Storage Client Library 10.0.1, the namespace for Blob/Queue/File are changed from "Microsoft.WindowsAzure.Storage.*" to "Microsoft.Azure.Storage.*".

#### Example 1:  Add message to Queue (change CloudQueueMessage object namespace)
Before:
[code]
After:
[code]

#### Example 2:  Fetch Blob/File Attributes with AccessCondition (change AccessConditio

[2019-04-24 02:52] blueww commented on #9066
@markcowl
I have added all the information need for the migration Guild.
Would you or one of your team member help to write the migration guild, (and better add the link to Storage change log)?
Thanks!

[2019-04-24 06:02] bgelens opened #9070 "Return CorrelationId and OperationId when NoWait switch is used"
related issue #7145, #8846

Awesome NoWait is being implemented!

Please make sure that **correlationId** and **operationId** information is made part of the PSAzureOperationResponse. AFAICT it currently is not (unless RequestId is actually CorrelationId?) but it is crucial information to handle followup activities.

e.g. monitor based on operationId or have EventGrid subscription trigger some fun

[2019-04-24 06:02] bgelens commented on #8846
@niander done!

[2019-04-24 06:17] leifyumel commented on #7977
Is there any update on this issue?

[2019-04-24 08:46] 8 commented on #8513
Hi, I've got the same problem - the docker image just doesn't work.

Why would you not support the image?
1) The user azuresdk (https://hub.docker.com/u/azuresdk) sure looks official.
2) The documentation doesn't say anything different (https://hub.docker.com/r/azuresdk/azure-powershell-core)
3) The last image was pushed 10 hours ago, so it's even recent.

About the question why we would use it:
B

[2019-04-24 09:43] bgelens opened #9073 "NoWait for Az.Resources LRO"
## Description of the new feature

Like for Compute LRO cmdlets (#8846), add NoWait switches for Az.Resources LRO cmdlets

* [ ] New-AzResourceGroupDeployment
* [ ] New-AzDeployment

## Proposed implementation details (optional)

Return PSAzureOperationResponse with CorrelationId and OperationId

[2019-04-24 09:53] avirup28 commented on #9046
Hey Jared,
It works, Actually for CLI the parameter is dtu so it was a bit confusing. Also I was not able to see the vcore paramaters. I just updated the PS module and now able to see and did the testing and it worked.
Thanks for your support!!!

[2019-04-24 13:43] JHCessna opened #9074 "Az Module is missing AAD commands (Including B2B and User Settings)"
Az Module is missing equivalent of New-AzureADMSInvitation.

This command is still only found in the AzureAD module. If Az is supposed to be the one stop shop module for all things Azure, then B2B controls need to be added.

[2019-04-24 13:43] harre096 commented on #9055
Umm, not really. I am using [Azure DevOps Azure Powershell Step](https://docs.microsoft.com/en-us/azure/devops/pipelines/tasks/deploy/azure-powershell?view=azure-devops) so I don't really have control of the environment. This leaves us dependent on Microsoft to keep their agents/tools updated... There is a preview version which supports the newer Az library, but again, this is in preview.

Regardl

[2019-04-24 14:02] SquirrelAssassin opened #9075 "Ridiculous"
There are breaking changes every few months with azure modules for powershell now your telling us there your going to stop supporting azure rm.   Go ahead tell a .net developer that they have to change there code every year .... you know what they are going to say ... I'm going to go learn Java.  You guys gotta stop this.

[2019-04-24 16:01] axorth commented on #8946
Modules:

Version    Name                                Repository           Description
-------    ----                                ----------           -----------
1.6.0      Az                                  PSGallery            Microsoft Azure PowerShell - Cmdlets to manage r...
1.4.0      Az.Accounts                         PSGallery            Microsoft Azure PowerShell - Accounts cred

[2019-04-24 16:02] axorth commented on #8946
Version:

Name                           Value
----                           -----
PSVersion                      5.1.17134.590
PSEdition                      Desktop
PSCompatibleVersions           {1.0, 2.0, 3.0, 4.0...}
BuildVersion                   10.0.17134.590
CLRVersion                     4.0.30319.42000
WSManStackVersion              3.0
PSRemotingProtocolVersion      2.3
SerializationV

[2019-04-24 16:02] axorth commented on #8946
Error:

   HistoryId: 7

Message        : Method 'get_SerializationSettings' in type
                 'Microsoft.Azure.Management.Internal.Resources.ResourceManagementClient' from assembly
                 'Microsoft.Azure.Commands.ResourceManager.Common, Version=4.0.0.0, Culture=neutral,
                 PublicKeyToken=31bf3856ad364e35' does not have an implementation.
StackTrace     :    at Micr

[2019-04-24 16:04] axorth commented on #8946
I am also getting the following error when trying to publish an Azure Function from VS2019
4/24/2019 9:40:44 AM
System.AggregateException: One or more errors occurred. ---> System.Exception: Publishing failed.
   --- End of inner exception stack trace ---
   at System.Threading.Tasks.Task.ThrowIfExceptional(Boolean includeTaskCanceledExceptions)
   at System.Threading.Tasks.Task.Wait(Int32 millise

[2019-04-24 16:13] markcowl commented on #9075
@SquirrelAssassin Agreed that breaking changes are always painful.  We have taken quite a few steps to limit customer exposure to breaking changes despite a rapidly chaning API surface for Azure, including:

- Breaking changes are limited to at maximum 2 releases per year (Spring around BUILD and Fall)
- We use semantic versioning for each module, so that you can know whether a module update will

[2019-04-24 16:19] markcowl commented on #9074
Az is supposed to be the one stop shop for all things in managing azure resources.  Since AD is used for more than just Azure, we don't completely cover the AD cmdlet surface area.

Can you elaborate on some scenarios you are unable to implement based on the absence of these commands?

@dcaro as FYI

[2019-04-24 16:32] jaredmoo commented on #9046
I see. PowerShell has parameter sets, so were able to make `-VCore` and `-Dtu` distinct from one another. For CLI on the other hand, we try to be a little closer to the underlying REST API,  so `--dtu` is just an alias (for backward compatibility purposes) for `--capacity`. Sorry for the confusion.

I am reopening the incident because the error message should be better here.

[2019-04-24 16:45] mxroo commented on #6595
Is there any other way to delete individual backup recovery points other than using a script that depends on Get-AzureRmRecoveryServicesBackupItem? I followed several instructions on technet and otherwise and all seem to rely on that command. I see the other ways to delete the entire vault through the web interface as others have linked to above.

[2019-04-24 17:18] SquirrelAssassin commented on #9075
Lets go down a story book line here:
Once upon a time in 2019 Jimmy wrote code using azurerm, a lot of it.  Behind the scenes big brother MS was working hard on a new platform rather then fixing their current one because they didn't come together to fully understand how to future proof their initial work by making modular code modular.  Forcing a "new product".
Fast forward to 2021, new management

[2019-04-24 17:53] markcowl commented on #9075
@SquirrelAssassin Design issues aside, it was our intention that, at the beginning of 2019, it would be obvious to Azure PowerShell users that they should be doing new development in Az.  If this was not the case for you, then we should explore how we could have made this information more clear.

I am not sure what is meant by Microsoft not supporting Enable-AzureRmAlias and the old command names

[2019-04-24 17:57] markcowl commented on #9067
@ikanni Can you run Resolve-AzError: it looks like you are runjnign Resolve-AzureRmError from AzureRM.Profile

[2019-04-24 18:02] JHCessna commented on #9074
We're trying to add B2B guest users that could use anything from O365 to PowerBI or even custom applications created in our Azure Tenant.

If we wanted to do any kind of automation to add guest users into AAD with PowerShell, we have to revert to the AzureAD module and use the New-AzureADMSInvitation command.

If we use the New-AzUser, that is making a new User Object under our domain.

A current

[2019-04-24 18:40] markcowl commented on #9073
In the fullness of time, this will be supported across long-running cmdlets for all services.  We should have a preview of this for a large number of services later this year.

[2019-04-24 18:57] Deepudev13 commented on #5363
Still issue is not resolved ?
At least provide some workaround?

[2019-04-24 19:05] Deepudev13 commented on #5363
I have tried to import module in Script block....
then, error got changed as
`Cannot invoke method. Method invocation is supported only on core types in this language mode.
    + CategoryInfo          : InvalidOperation: (:) [], RuntimeException
    + FullyQualifiedErrorId : MethodInvocationNotSupportedInConstrainedLanguage
    + PSComputerName        : localhost
`

[2019-04-24 19:07] markcowl commented on #9070
@bgelens There is also the x-ms-client-request-id which is often used for client-side correlation of responses / response traces.

In the case of AzureOperationResponse itself, the response headers are available in the object.  Agreed that known headers used for corralting requests and retrieving logs should eb first class properties of the returned object in this case.

RequestId is populated fro

[2019-04-24 19:15] #8975 closed

[2019-04-24 20:46] johncrim opened #9078 "sudo (install Az) creates user .Azure directory which user can't access"
## Description
Installing the Az module on Linux within `sudo` (to complete a global install) creates an `~user/.Azure` directory owned by `root`. Subsequently the user account cannot access files in the directory, causing errors connecting to Azure.

This problem did not exist before 4/8. I suspect that a new version of Az was released on 4/8, causing this regression.

I have provided complete de

[2019-04-24 22:23] dcaro commented on #9074
@JHCessna thanks for the additional inputs on this, unfortunately, at this point, you still have to use the two modules.

[2019-04-24 23:58] markcowl commented on #9078
Module installation wouldn't cause this to happen, but module loading might, as there are some checks of the .Azure folder in the psm1 script for the module (so likely, this occurs in Get-Command Uninstall-AzureRm).

[2019-04-25 00:15] ikanni commented on #9068
### Correct Error output
PS C:\Users\ikanni> Resolve-AzError

   HistoryId: 2

Message        : <?xml version="1.0" encoding="utf-8"?>
                 <!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
                 <html xmlns="http://www.w3.org/1999/xhtml">
                   <head>
                     <title>Service</ti

[2019-04-25 00:23] ikanni commented on #9067
### Correct Error output

PS C:\Users\ikanni>  Resolve-AzError

   HistoryId: 1

Message        : {
                   "error": {
                     "code": "Value cannot be null.",
                     "message": {
                       "lang": "en-US",
                       "value": "Value cannot be null.\r\nParameter name: 'properties' property must be specified"
                     },

[2019-04-25 00:24] ikanni commented on #9067
@markcowl Updated below

[2019-04-25 03:52] johncrim commented on #9078
@markcowl  - that makes sense. I suppose I could skip the `Uninstall-AzureRm` command, but it seems to be recommended to remove AzureRm if using Az.

[2019-04-25 06:43] bgelens commented on #9070
@markcowl  Thanks for the additional information. I was not yet aware yet that OperationId is specific to Network and Compute.

We cannot use AsJob as we are running in Azure Functions and don't want to be blocked handling the next request or keep paying (as the function is monitoring) for something the platform (Azure) can do for us in another way (EventGrid). This is why I'm celebrating this NoW

[2019-04-25 06:48] bgelens commented on #9073
Awesome! You can close this issue if you like or keep it open if you want to track priorities based on customer feedback? For me these are the most important ones!

[2019-04-25 09:09] IanHopkinson opened #9081 "Add AzureRM depreciation messages to documentation"
As per this blog post AzureRM is now depreciated in favour of the Az module:

https://azure.microsoft.com/en-gb/blog/how-to-migrate-from-azurerm-to-az-in-azure-powershell/?cdn=disable

This post indicates that AzureRM code should be migrated to Az where possible.

Please could you add a depreciation notice to the AzureRM documentation pages, and possibly add redirects to the new Az module equivale

[2019-04-25 10:14] siddharth7 commented on #9007
@skmkzyk You also have to use `VaultLocation` parameter in restore command

[2019-04-25 10:16] siddharth7 commented on #9029
@viverm Can you update this?

[2019-04-25 10:17] siddharth7 commented on #8827
This is owned by ASR team, adding @viverm

[2019-04-25 12:42] blueww commented on #5409
This Code is added, so the issue can be closed.

[2019-04-25 12:42] #5409 closed

[2019-04-25 12:50] #8473 closed

[2019-04-25 12:52] #8626 closed

[2019-04-25 12:54] blueww commented on #8835
Close the issue and it's already fixed.

[2019-04-25 12:54] #8835 closed

[2019-04-25 12:54] ikanni commented on #9067
@markcowl , Could u please update Az New Issue template? It has ""

[2019-04-25 12:57] blueww commented on #8942
@hoppyluke
the [doc ](https://docs.microsoft.com/en-us/azure/storage/queues/storage-powershell-how-to-use-queues) is already updated for the issue.
So I will close the issue now.

Feel free to contact us if you need any further assistant.

[2019-04-25 12:57] #8942 closed

[2019-04-25 15:56] SquirrelAssassin commented on #9075
https://docs.microsoft.com/bs-latn-ba/azure/sql-database/scripts/sql-database-sync-update-schema
"This article has been updated to use the new Azure PowerShell Az module. You can still use the AzureRM module, which will continue to receive bug fixes until at least December 2020."  This still means you will still support the old commands?

I would also suggest go out to all the sites with AzureRM e

[2019-04-25 15:58] markcowl commented on #9081
@dcaro As the cmdlets in Az diverge from AzureRM, this becomes more necessary, I think

[2019-04-25 16:21] dcaro commented on #9081
@IanHopkinson thanks for the suggestion, I'll work on this with our docs team.

[2019-04-25 17:07] mgfink opened #9086 "Get-AzResource fails with 400/Invalid URL when -ExpandProperties flag is used"
## Description
When running Get-AzResource in the Azure Portal cloud shell, the command will fail if the -ExpandProperties flag is used.  The command seems to correctly output the default info whether or not the -ExpandProperties flag is used; however, when it IS used additional errors are generated when gathering the expanded properties.  For example:

[code]

## Steps to reproduce

This command

[2019-04-25 17:54] markcowl commented on #9086
@mgfink Can you provide a debug trace of this error?  You can get this using ```$DebugPreference="Continue"``` before runnignt eh cmdlet.  If you are runnign in Azure Automation, executing in the test pane with this setting will get you debug output.

[2019-04-25 18:09] rahuldutta90 commented on #8352
@migrande  we have fixed this issue. Apologize for the inconvenience. It will be released as part of next release.

[2019-04-25 18:53] danieldude15 opened #9087 "needs updating"
add to instructions the following command
Set-ExecutionPolicy -ExecutionPolicy RemoteSigned