[2022-01-20 02:53] dingmeng-xue commented on #16851
Thanks for reporting. We will look into it.

[2022-01-20 03:10] dingmeng-xue commented on #16846
@obayesshelton , sorry for the late response. Could you turn on debug `$DebugPreference = "Continues"` and share debug information?

In addition, could you share how container instance is created? what base image is used?

[2022-01-20 03:16] dingmeng-xue commented on #16838
Service team, if service is deprecated, please consider to remove those cmdlets.

[2022-01-20 03:17] dingmeng-xue commented on #16814
@CaptainFanZzz , it is due to the subscription should be whitelisted. Please try again now.

[2022-01-20 05:06] #15991 closed

[2022-01-20 08:19] hanshoekselwerk commented on #16612
Hi @SatishBoddu-MSFT , is there any information when this will be resolved ?

[2022-01-20 08:56] utkarshmsf commented on #16509
Hey @obesser, thank you for your patience.
Please use the cmdlet like : **Get-AzAutomationJobOutput -AutomationAccountName "Contoso17" -Id 2989b069-24fe-40b9-b3bd-cb7e5eac4b64 -ResourceGroupName "ResourceGroup01" -Stream "Any"**
**_It works for PowerShell runbooks running on Hybrid Runners as well_**, I am attaching screenshots of my output.
![Screenshot 2022-01-20 at 2 15 34 PM](https://user-imag

[2022-01-20 09:02] Lddeiva commented on #16565
@yanjungao718 , I can confirm that this is working fine.

[2022-01-20 09:02] mr-oliva commented on #16867
@dingmeng-xue I got it. Thank you for answering this question.

[2022-01-20 09:05] jaspkaur28 commented on #10063
The fix has been deployed.

[2022-01-20 09:05] #10063 closed

[2022-01-20 09:11] jaspkaur28 commented on #12823
@fowl2  : Import-AzAutomationModule is an alias for New-AzAutomationModule . Aliases are not documented yet , PowerShell team is working on it .

[2022-01-20 09:11] #12823 closed

[2022-01-20 09:12] BethanyZhou commented on #16854
Thank you @obayesshelton for your information.

- I'm sorry for that. I do understand the inconvenience. We need more time to construct your environment and reproduce this issue.

- Could you please reproduce this issue with following command in your script and paste debug message here?
`Invoke-AzContainerInstanceCommand -ContainerGroupName byob-feature-product-engine -ContainerName byob-feature-p

[2022-01-20 09:20] wyunchi-ms commented on #16804
Hi @accampos , the cmdlet will help you zip the folder. So you do not need to zip the folder yourself. Please try to just input the folder name.

[2022-01-20 10:06] acscampos commented on #16804
Hi @wyunchi-ms, it worked with your tip. Thank you!

[2022-01-20 10:17] isra-fel commented on #16568
About the **performance** part, since smoke test only depends on a few files instead of the whole big repo, it would save a lot of time to just clone the needed files.

Here's how to disable cloning the repo: https://docs.microsoft.com/en-us/azure/devops/pipelines/repos/github?view=azure-devops&tabs=classic#dont-sync-sources

Here's how to clone only selective directories. The following script onl

[2022-01-20 10:49] muzzar78 commented on #16865
This is the work around I'm using for the moment

[code]

[2022-01-20 12:39] dingmeng-xue commented on #12881
@alexandair , @ohadschn , when `-Identity` switch presents, the logic is going to parameter set of managed service login. If `-Identity:$false` what's the next step? default behavior?

[2022-01-20 13:43] mosharafMS opened #16883 "Azure Firewall allocate method failing"
### Description

Azure firewall allocate method used to work with two parameters, the vnet and the public IP as per the documentation

https://docs.microsoft.com/en-us/powershell/module/az.network/set-azfirewall?view=azps-7.1.0

Now using two parameters resulting in error
"MethodException: Cannot find an overload for "Allocate" and the argument count: "2"."
checking the method help found that the

[2022-01-20 14:01] alexandair commented on #12881
@dingmeng-xue

`Connect-AzAccount ... -Identity:$false` should behave exactly the same as `Connect-AzAccount ...`.

`-SwitchParameter:$false` should produce the same result as when you don't specify that parameter at all.

[2022-01-20 16:52] That-Zebra commented on #16807
It is still the issue I have global admin permission, am the owner of subscription, yet I get the forbidden issue.

Sent from my iPhone

On Jan 20, 2022, at 3:02 AM, msftbot[bot] ***@***.***> wrote:

﻿

Hi, we're sending this friendly reminder because we haven't heard back from you in a while. We need more information about this issue to help address it. Please be sure to give us your input within

[2022-01-20 20:23] MsGabsta commented on #15888
@desmphil do you require any more assistance on this issue?

[2022-01-20 21:00] adriancuadrado opened #16887 "Connect-AzAccount doesn't work but Login-AzAccount does"
### Description

I just installed Azure Powershell following these instructions: https://docs.microsoft.com/en-us/powershell/azure/install-az-ps?view=azps-7.1.0#sign-in

However, when I run "Connect-AzAccount" I get this error:
[code]
Running "Login-AzAccount" instead doesn't output any error.

### Issue script & Debug output

[code]

### Environment data

[code]

### Module versions

[code]

###

[2022-01-20 21:26] NowinskiK commented on #16368
If you are struggling to apply the above code - you can use this module: [azure.synapse.tools](https://www.powershellgallery.com/packages/azure.synapse.tools/)
Then start or stop all triggers:
[code]

[2022-01-20 22:42] adriancuadrado commented on #16887
Ok The problem was that I was using the old version of Powershell that comes with Windows 10: Powershell 5.1.
Installing Powershell 7 and reinstalling the Azure Powershell module fixed the problem.

[2022-01-20 22:42] #16887 closed

[2022-01-21 01:19] dolauli commented on #16865
Just found an issue in autorest.powershell. We used base64 instead of base64url to encode the content. And I made a fix for that in https://github.com/Azure/autorest.powershell/pull/900. And @VeryEarly will verify whether the fix works in our next patch release.

[2022-01-21 01:45] BethanyZhou commented on #16807
Could you set $DebugPreference="Continue" and re-run your command in terminal to show us the debug log?

[2022-01-21 03:21] #16063 closed

[2022-01-21 05:22] dcaro commented on #16848
@damienpontifex can you confirm if you are trying to use Azure PowerShell cmdlets to create *Federated identity credentials* as described in the [Overview of federated identity credentials in Azure Active Directory](https://docs.microsoft.com/en-us/graph/api/resources/federatedidentitycredentials-overview?view=graph-rest-beta&preserve-view=true) document ?

[2022-01-21 05:40] navba-MSFT commented on #8857
@markcowl Could you confirm if this bug has been fixed ? cc: @solankisamir

[2022-01-21 07:38] navba-MSFT commented on #8930
@paragbharne Apologies for the delayed response. I see that this issue thread is open for quite sometime now and there has been no progress. So wanted to check if you are still looking for assistance on this query? Please let us know.

Also I wanted to check if you if you are able to achieve the ask using [this](https://docs.microsoft.com/en-us/rest/api/cdn/custom-domains/enable-custom-https#userm

[2022-01-21 08:00] VeryEarly commented on #16870
Hi @muzzar78 ,

After tried above scripts, I fixed the -Displayname scenario bug, however the -ApplicationId works fine in my environment, please verify, also the -ObjectId also works.

Thanks

[2022-01-21 08:55] timmkrause commented on #8930
As said. Solved via plain REST API calls. Az module + native ARM support would be greatly appreciated.

[2022-01-21 09:22] VeryEarly commented on #16865
Hi @muzzar78 ,

It looks like the logo can only be updated by the "https://graph.microsoft.com/v1.0/applications/$($myApp.Id)/logo" api instead of the put application api

[2022-01-21 09:48] CaptainFanZzz commented on #16837
@MughundhanRaveendran-MSFT Sorry for the delay response. Report to my manager and reply you later.

[2022-01-21 10:50] navba-MSFT commented on #8770
@martgras Apologies for the delayed response. I see that this github issue thread is open for quite sometime now. So I wanted to do a quick follow-up to check if you are still looking for assistance on this issue. Awaiting your reply.

[2022-01-21 11:34] redelf11 commented on #16306
Agree this is annoying as the documentation suggests you can use this without this parameter to force sync the whole share, which you can't currently

[2022-01-21 11:37] baaschi commented on #16612
This issue hit use after Az 7. was released on Microsoft Hosted Azure agents. I hope there will be a fix for this soon.

[2022-01-21 11:49] richard-sistern commented on #16795
`Also seeing this when trying Update-AzADUser -UPNOrObjectId "<UPN>" -EnableAccount $false`

**Resolve-AzError**

Message        : A parameter cannot be found that matches parameter name 'EnableAccount'.
StackTrace     :    at System.Management.Automation.ExceptionHandlingOps.CheckActionPreference(FunctionContext
                 funcContext, Exception exception)
                    at System.Mana

[2022-01-21 14:52] Gill-Bates opened #16892 "Get-AzADUser missing Property "onPremisesLastSyncDateTime""
### Description

Since changing to Az.Resources 5.2. I am missing attributes like `onPremisesLastSyncDateTime` when I perform `Get-AzADUser`

![image](https://user-images.githubusercontent.com/25774289/150547484-471c9f02-5378-4230-a9fe-29240b8e5ac6.png)

https://docs.microsoft.com/en-us/graph/migrate-azure-ad-graph-property-differences#device-property-differences

### Issue script & Debug output

[2022-01-21 15:48] csahut commented on #13762
Ok, so Search-AzGraph implements a subset of ARG KQL (https://docs.microsoft.com/en-us/azure/governance/resource-graph/concepts/query-language#supported-tabulartop-level-operators) which is already a subset of KQL (https://docs.microsoft.com/en-us/azure/data-explorer/kql-quick-reference)

That's a nightmare. Is there any plan to at least have ARG KQL working with Search-AzGraph? I have now a query

[2022-01-21 15:56] nluxford-aba commented on #14871
Hi, I have encountered this same issue.
Please advise.
Thanks

[2022-01-21 16:44] Sandido commented on #16041
As per the email thread with @amjads1  and @dingmeng-xue , the preferred behavior is to keep this item open until the PS team has time to investigate it.

[2022-01-21 16:56] piroinno opened #16893 "Datafactory PublicNetworkAccess error"
### Description

When setting the PublicNetworkAccess property an error is encountered. the expected result is that publicnetworkaccess is able to be set.

### Issue script & Debug output

[code]

### Environment data

[code]

### Module versions

[code]

### Error output

[code]

[2022-01-21 17:11] wtnlee commented on #14871
The propagate default route flag is a property of the hubvnetconnection object and **NOT** the routing  configuration associated to the connection. Please see this documentation reference.

https://docs.microsoft.com/en-us/powershell/module/az.network/new-azvirtualhubvnetconnection?view=azps-7.1.0

You can set the label to be "none" and that would propagate that connection to none.

Please email a

[2022-01-21 17:32] nluxford-aba commented on #14871
I think I may have not expressed myself correctly.

I followed the steps outlined in the below guide:
https://docs.microsoft.com/en-us/azure/virtual-wan/cross-tenant-vnet
However, via the GUI I am unable to edit the object due to permissions issues.
It appears I have to make the changes via the CLI just like how I created the object.

The configurational elements I am trying to adjust are:

- Asso

[2022-01-21 17:47] v-royavinash opened #16894 "Az.Network | New-AzFirewallPolicyApplicationRule does not allow Mssql as the protocol"
### Description

Az.Network | New-AzFirewallPolicyApplicationRule does not allow Mssql as the protocol.

On Azure portal there are 3 supported protocols i.e. http, https, mssql.
![image](https://user-images.githubusercontent.com/94480537/150575154-932b1e0b-69d1-45b3-8c30-7a6d35051ad4.png)

### Issue script & Debug output

[code]

### Environment data

[code]

### Module versions

[code]

### Error

[2022-01-21 20:33] jaylabell commented on #16843
Looking into this issue.

[2022-01-21 20:34] jaylabell commented on #16844
Looking into this issue.

[2022-01-22 08:02] #16262 closed

[2022-01-22 11:27] jaspkaur28 commented on #16509
Closing the issue. Feel free to re-open if the above solution doesn't work.

[2022-01-22 11:27] #16509 closed

[2022-01-22 18:32] desmphil commented on #15888
No

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: Gabby ***@***.***>
Sent: Thursday, January 20, 2022 3:23:17 PM
To: Azure/azure-powershell ***@***.***>
Cc: Philippe Desmarais ***@***.***>; Mention ***@***.***>
Subject: Re: [Azure/azure-powershell] azure-powershell/src/Compute/Compute/Extension/AzureDiskEncryption/Scripts/Find_1passAdeVersion_VM.ps1 (#15888)

CA

[2022-01-22 21:52] damienpontifex commented on #16848
@dcaro I am using azure powershell cmdlets, although I couldn't see any reference to them on the page following your link.

An overview of what I'm doing:

[code]

This creates the app, enterprise app/spn and sets up the federation credentials as desired, but it also creates a secret within the app as seen if I run:
[code]

The desire here was to be able to run these commands, but for them not to

[2022-01-23 00:26] dingmeng-xue commented on #16892
@VeryEarly , can we add `onPremisesLastSyncDateTime` and `onPremisesSyncEnabled` to User model in this month?

[2022-01-23 02:59] mingsoap commented on #8659
I think this issue still exists. I use New-AzLogicApp and Set-AzLogicApp commands to create and update logic apps with -Parameters. It does not work.
I store the parameter value in a json file and use -ParameterFilePath argument instead

[2022-01-23 05:11] That-Zebra commented on #16807
I get this error the person who is running the script is a global admin, owner and has user access admin role, he was able to grant one reservation manually. But Since there are many, I wanted the script to run and grant permission for all the reservations and more over I was granted billing administrator , still I cannot see the other  reservations except the one granted manually.
DEBUG: ========

[2022-01-23 13:40] msJinLei commented on #16768
@SQLCanuck We want to unify the behavior of  Az.Tools.Installer in PowerShell core and Windows Powershell. It would be easier to remember and use. Do you have any concern?

[2022-01-23 13:57] msJinLei commented on #16766
@alexandair
I believe cloud shell disables CAE

[2022-01-23 14:31] alexandair commented on #16766
@msJinLei
You are right that a token in Cloud Shell doesn't contain xms_cc claim.
It's just not clear how it's disabled. Environment variable `AZURE_IDENTITY_DISABLE_CP1` is not set.

[2022-01-24 02:41] dingmeng-xue commented on #12881
Parameter sets introduced by PowerShell enable user to write a single function that can do different actions for different scenarios

`-Identity` is specifically used for log in with managed identity. Azure PowerShell introduces this switch parameter to emphasize that purpose. Although technically respecting $false is achievable, it will confuse implementation when parameters working with `-Identi

[2022-01-24 03:08] dingmeng-xue opened #16898 "[Feature]: lazy initialize MSGraph client in Az.Resources"
### Description of the new feature

Some cmdlets in Az.Resources relies on MSGraph feature. Currently, Az.Resources module creates MSGraph client and fetch access token during module is being loaded. We need to design better way to create MSGraph client just when it is required.

### Proposed implementation details (optional)

_No response_

[2022-01-24 04:08] peter-bertok commented on #3318
Over 5 years and no progress on this issue?

[2022-01-24 05:56] jaspkaur28 commented on #16070
@johnnycchapman The issue has been addressed and the fix has been deployed. Could you please retry and check?

[2022-01-24 07:34] Dblakhokage commented on #16869
Any update on this please?

[2022-01-24 08:40] navba-MSFT commented on #8857
@SeanEGray Apologies for the delay in getting this issue fixed. I wanted to do a quick follow-up to check if you are still waiting for the assistance on this issue. I am following up with @markcowl on this. I will update this thread once I have more details.

[2022-01-24 10:09] Kruti-Joshi opened #16901 "KeyVault stopped returning access policies using (Get-AzKeyVault -VaultName "xxx").AccessPolicies"
### Description

I have the below script which I have been using for several months to clean up unknown access policies on the KeyVault, but recently this script has stopped fetching any access policies from the KeyVault. It always returns 0. There has been no change in the script. Is there a known issue with this module?

Here is the script I used -

[code]

I tried listing all access policies an

[2022-01-24 10:31] Kruti-Joshi commented on #16901
This script started working as expected once I changed
`az account set --subscription "xxx-xxxx-xxx-xxxx"`
to
`Set-AzContext "xxx-xxxx-xxx-xxxx"`

Does the above command not work anymore?

[2022-01-24 11:05] ohadschn commented on #12881
For us the use case is pretty common - we have multiple scripts we want to be able to run both locally and during deployment on some VM / container. So ideally each such would do something like `Connect-AzAccount ... -Identity:$isLocalRun` (instead we have to `if/else` and duplicate all the parameters we pass).

As @alexandair mentioned, specifying `$false` really should behave exactly the same as

[2022-01-24 11:23] MughundhanRaveendran-MSFT commented on #16883
@mosharafMS , Thanks for reporting this issue.

It works for me in 4.10.0  version of   Az.Network module. I will try the 4.14.0 and let you know.
If you need to be unblocked from this issue, please try 4.10.0 version

[2022-01-24 11:24] abu3lia opened #16902 "Start-AzStorageBlobCopy"
### Description

How many copy operation can Start-AzStorageBlobCopy command handle in parallel?
https://docs.microsoft.com/en-us/powershell/module/az.storage/start-azstorageblobcopy?view=azps-7.1.0

We have did some test and noticed that 2 blobs are getting copied at a time, once finished another blobs start the copy.
Can you please mention how the copy operation is being handled by this command

[2022-01-24 11:37] Dblakhokage commented on #16869
@VeryEarly please tell this is being worked on? please
its really urgent!

[2022-01-24 12:03] ohadschn commented on #12881
OK so I'm guessing the code in question is here: https://github.com/Azure/azure-powershell/blob/b1b93080bf4029f7b5e15b92ffcba838f80217ed/src/Accounts/Accounts/Account/ConnectAzureRmAccount.cs#L331

I couldn't find anything official, but a few places mentioned that switching on `ParameterSetName` is somewhat of an anti-pattern. Checking the values of the actual parameters instead (e.g. `if (Identit

[2022-01-24 13:20] chwilfing commented on #8659
What a shame, this issue is open since... nearly 3 years.

[2022-01-24 13:34] dingmeng-xue commented on #12881
Here is one common example. One cmdlet Test-AzResource has 2 parameter sets.
One, default parameter set, just has mandatory parameter `-name`
[code]
Another one has switch parameter with couple additional parameters
[code]

If design is already as it is, how to  handle `-Identity:$false`?

[2022-01-24 14:06] VeryEarly commented on #16869
Hi @Dblakhokage ,

Thanks for reporting this issue, I'm working on the fix, new version of Az.Resources will be available early next month.

[2022-01-24 14:08] oalimerko opened #16904 "get-azadserviceprincipal -displayname <some name> | get-azadspcredential"
DEBUG: [CmdletBeginProcessing]: Starting command
DEBUG: CmdletBeginProcessing:
DEBUG: CmdletProcessRecordStart:
DEBUG: Client side pagination is enabled for this cmdlet
DEBUG: [CmdletProcessRecordAsyncStart]: Created new QosEvent for command 'Get-AzADServicePrincipal_List'
DEBUG: CmdletProcessRecordAsyncStart:
DEBUG: CmdletGetPipeline:
DEBUG: CmdletBeforeAPICall:
DEBUG: URLCreated: /servicePrincip

[2022-01-24 15:13] SQLCanuck commented on #16768
@msJinLei I understand wanting to unify between PowerShell and Windows PoweShell.  Though the reality is they are different and trying to avoid those differences may produce greater user confusion.  Ultimately, the choice of how to handle it is up to the Az.Tools.Installer team.  If you continue this course, please just be sure to fully document this unexpected behavior for Windows PowerShell.

[2022-01-24 15:18] #16904 closed

[2022-01-24 16:18] chris5287 commented on #16698
This has just tripped us up on existing deployment scripts, what is the ETA of the staged rollout that will mean they will returned in the results again?

[2022-01-24 16:52] msJinLei commented on #16766
@alexandair There are other ways to disable CAE https://github.com/msJinLei/azure-sdk-for-net/blob/main/sdk/identity/Azure.Identity/CHANGELOG.md#new-features-2

[2022-01-24 19:41] happywino commented on #16869
@VeryEarly, this appears to be a duplicate of an issue I opened #16795, can you confirm that this is a bug?

I initially reported similar strange behavior with -EnableAccount but added the -Password issue to the same report, is the -EnableAccount issue a bug too?

[2022-01-24 19:58] dcaro commented on #8857
@navba-MSFT this is still the design in Az 7.1.0 but please note that the cmdlet are now [`Set-AzApiManagementNamedValue`](https://docs.microsoft.com/en-us/powershell/module/az.apimanagement/set-azapimanagementnamedvalue?view=azps-7.1.0) and [`New-AzApiManagementNamedValue`](https://docs.microsoft.com/en-us/powershell/module/az.apimanagement/new-azapimanagementnamedvalue?view=azps-7.1.0).

[2022-01-24 20:16] krispenner commented on #16698
@dcaro This has also broken our Azure DevOps deployment scripts that required service principals to be returned in the list. Can you provide any alternative workarounds until this is fixed?

[2022-01-24 22:33] mstxsun opened #16906 "Missing serverFarmId in New-AzWebAppSSLBinding"
### Description

certificate call: **https://management.local.azurestack.external/subscriptions/{SubscriptionId} /resourceGroups/{ResourceGroupName} /providers/Microsoft.Web/certificates/{ThumbPrint} __local_{ResourceGroupName}?api-version=2016-03-01** made by New-AzWebAppSSLBinding is missing serverFarmId in body in Azure Stack.
In Azure, same call includes serverFarmId in body.
Missing serverFar

[2022-01-25 01:20] SaurabhSharma-MSFT commented on #16893
@piroinno I am seeing the same behavior and it looks like issue at the service end.  I am checking internally on this issue. Meanwhile I suggest you to use `Set-AzDataFactoryV2` to update the adf.  This command creates a new ADF, but if the ADF already exist, it will overwrite to update/refresh its properties. Please refer to the [documentation](https://docs.microsoft.com/en-us/powershell/module/a

[2022-01-25 01:33] bganapa commented on #16906
0.11.0 version of Az.Websites is specific to AzureStack.

We will need webapps team's help to find out whethr this issue got fixed in a later version.  IF yes, we could possibly use a later version of the az.websites module in AzureStack

[2022-01-25 01:41] SaurabhSharma-MSFT commented on #16894
@v-royavinash I could see the same and it looks like this is not supported and redirecting this to service team to provide their inputs.

Thanks
Saurabh

[2022-01-25 03:00] VeryEarly commented on #16847
Hi @vexingpos ,

Thanks reporting this bug, the fix will be available early next month.

[2022-01-25 03:02] VeryEarly commented on #16841
Hi @alexv-be , fix will be available early next month.

[2022-01-25 03:12] blueww commented on #16859
@jitandrasngh
start-azstorageblobcopy will trigger server side blob sync copy, and Blob Async Copy is all handled by server, PowerShell can’t change it .
And Blob Async Copy don’t have any SLA when the source/dest blob are in different account. (In same account, SLA is 90s )
So it’s by design if customer see cross account blob async copy is slow, or only have small count of copies run parallelly.

[2022-01-25 03:14] blueww commented on #16859
@jitandrasngh
We have another issue to track doc update for cmdlet start-azstorageblobcopy: https://github.com/Azure/azure-powershell/issues/16902
So I will close this issue, and track the doc update with https://github.com/Azure/azure-powershell/issues/16902.
Feel free to let me know if you have any concern.

[2022-01-25 03:14] #16859 closed

[2022-01-25 03:14] blueww commented on #16902
@abu3lia
start-azstorageblobcopy will trigger server side blob sync copy, and Blob Async Copy is all handled by server, PowerShell can’t change it .
And Blob Async Copy don’t have any SLA when the source/dest blob are in different account. (In same account, SLA is 90s )
So it’s by design if customer see cross account blob async copy is slow, or only have small count of copies run parallelly.

See

[2022-01-25 03:15] blueww commented on #16902
I will update the help doc of start-azstorageblobcopy for that information.
And will update this issue after the doc update is merged.

[2022-01-25 03:24] alexv-be commented on #16841
thank you!

[2022-01-25 03:46] navba-MSFT commented on #8857
Thanks @dcaro for your reply.
@SeanEGray Please check the above comment from @dcaro. Please let us know if you have any further queries on this.

[2022-01-25 05:53] mearvind opened #16908 "[Eng]: Get-AzRecoveryServicesBackupProtectionPolicy not listing all the policies"
### Description

When i want to list all the policy in the vault it throws below error

Get-AzRecoveryServicesBackupProtectionPolicy -WorkloadType "AzureVM" -VaultId $vault.Id
WARNING: Data truncated. Please upgrade to latest version of Azure Powershell
Get-AzRecoveryServicesBackupProtectionPolicy: Object reference not set to an instance of an object.

When I enter policy name then it works:

Get-

[2022-01-25 06:31] VeryEarly commented on #16892
Hi @Gill-Bates ,

Thanks for reporting this bug, fix will be available early next month.

[2022-01-25 07:28] abu3lia commented on #16902
Thanks @blueww for your help on this :)

[2022-01-25 07:37] VeryEarly commented on #16795
Hi @happywino @richard-sistern ,

Thanks for reporting this bug, fix will be available soon early next month.

[2022-01-25 08:02] #16647 closed

[2022-01-25 08:02] #16506 closed

[2022-01-25 08:14] MughundhanRaveendran-MSFT commented on #16840
@durayakar , The correct parameter should be -InputObject . I have updated the document, it will be published soon.

[2022-01-25 08:37] CaptainFanZzz commented on #16837
@MughundhanRaveendran-MSFT We will mention the way to get PatchSettings on its example. Thanks.

[2022-01-25 08:58] MughundhanRaveendran-MSFT commented on #16837
@CaptainFanZzz , Thanks for the update. I will close the case. Feel free to reopen if you have any queries

[2022-01-25 08:58] #16837 closed

[2022-01-25 09:02] alexandair commented on #12881
@dingmeng-xue is right.
@ohadschn You'll have to use a conditional statement and 2 commands.

Setting a switch parameter value to $false doesn't undo the parameter set determination.

[2022-01-25 09:11] navba-MSFT commented on #8770
@martgras I have got an update from the Product owners that the issue is not yet fixed and there is no ETA for the fix as of now. In the meantime, if you have any questions on this, please feel free to post it here. We would be happy to address it

[2022-01-25 09:22] wyunchi-ms commented on #16805
Hi @MattJeanes `Get-AzAksCluster` is the new cmdlet. And `Get-AzAks` will be its alias and be removed in the next major release. So please ignore this warning if you are using `Get-AzAksCluster` now.

[2022-01-25 09:33] navba-MSFT commented on #15790
@athipp, @taiwu @minghan This is a follow-up to check if you had a chance to look into this documentation issue. Please update this thread once you get a chance.
@loweyson Apologies for the delay in the response. While we wait for their reply, please let us know if you have any further questions on this. We would be happy to address it.

[2022-01-25 09:38] blueww commented on #16902
Pr https://github.com/Azure/azure-powershell/pull/16914 is raised to update doc for this issue.

[2022-01-25 09:56] navba-MSFT commented on #15702
@Brendan510 I see that you have been able to address this issue yourself. This github thread is open for quite sometime now with no activity. Could you please let us know if you are still looking for some assistance on this or we can proceed with closure of this issue ? Awaiting your reply.

[2022-01-25 10:18] navba-MSFT commented on #15571
@jagratimodi Apologies for the late reply. Here is the answer to your query on the deployment tags:

Deployment tags and resource tags both of these provide an easy way to organize your Azure resources and Resources Groups _(Deployment resource groups)_, by allowing you to tag your resources with name/value pairs to further categorize and view resources across resource groups and across subscripti

[2022-01-25 12:49] Brendan510 commented on #15702
Please close
I solved with ps script
Cleaned up script and works a treat

Sent from my iPhone

[2022-01-25 12:51] #15702 closed

[2022-01-25 13:13] dingmeng-xue commented on #16805
@wyunchi-ms , can we make the error message friendly?

[2022-01-25 22:08] dcaro commented on #16698
@krispenner we are working on providing a workaround in our official docs using the `Invoke-AzRestMethod`.

[2022-01-26 02:19] BethanyZhou commented on #16807
Hi @That-Zebra , please make sure you are User Access Administrator or Owner with Microsoft.Graph. You can check your role assignment by following command.
[code]

[2022-01-26 05:24] #16733 closed

[2022-01-26 06:25] tdihp opened #16920 "[Feature]: AKS cmdlet to expose AKS node-image-only upgrade"
### Description of the new feature

Currently AKS cmdlet doesn't support flag --node-image-only which is supported in azure-cli.

Ref: https://docs.microsoft.com/en-us/azure/aks/node-image-upgrade

### Proposed implementation details (optional)

_No response_

[2022-01-26 08:10] susrutpatnaik opened #16927 "[Eng]: Issue in (CI/CD) Deploying Integration Account Artifacts(Maps & Schemas) via Self hosted Runner using PowerShell Ad-Hoc commands/steps."
### Description

Hi Team,

Agenda: Issue in (CI/CD) Deploying Integration Account Artifacts(Maps & Schemas) via Self hosted Runner using PowerShell Ad-Hoc commands/steps.

Details:

As part of automation, we have been successfully deploying Maps-Schemas(in an Integration Account), Logic Apps & Function Apps via GitHub hosted runners for various interfaces.

The command below invokes/calls a PowerS

[2022-01-26 09:59] JsAndDotNet commented on #16698
Just to add weight to this, it's breaking our scripts too. Have subscribed in hope of finding a resolution.

[2022-01-26 17:31] nsg74 commented on #16766
The easiest workaround for now is to create a new conditional access rule applying to **all cloud apps** but no other conditions, and under the **session** access controls set the **customise continuous access evaluation** to **disable**.  After disconnecting and re-connecting the az powershell session the commands ran without error for me.  You can disable/delete the conditional access rule when

[2022-01-26 21:43] johnnycchapman commented on #16070
I just tried re-running it and when running with the debug flag I still get the same error response below.

Body:
{
  "code": "BadRequest",
  "message": "'Soft Delete’ and 'Do Not Purge' feature is not enabled on the key vault. To use Azure Automation with customer managed keys, both of these features must be turned on t
o allow for recovery of keys in case of accidental deletion. For more details

[2022-01-27 00:16] theelderwand commented on #16072
The documentation has been updated to reflect this aspect here : https://docs.microsoft.com/en-us/powershell/module/az.billing/get-azconsumptionbudget?view=azps-7.1.0#notes

[2022-01-27 00:16] #16072 closed

[2022-01-27 01:42] SaurabhSharma-MSFT commented on #16908
@mearvind I have checked it and it worked fine for me.
![image](https://user-images.githubusercontent.com/38112130/151276300-bdb894a0-eb09-4b49-9c7e-4d0e35a6651d.png)

I could see that you have two different versions (5.0.0 and 3.4.1) of Az.RecoveryServices module installed in your environment. Can you please remove and uninstall the older version of the module using `Remove-Module` and `Uninstall

[2022-01-27 01:47] dingmeng-xue commented on #16901
Thanks for the information. `az account set` and `az login` are Azure CLI command. Azure PowerShell and Azure CLI don't share the context.

[2022-01-27 01:47] #16901 closed

[2022-01-27 02:38] SirMrDexter opened #16936 "Clear Run Command state in VM"
### Description

After provisioning VM from a custom Image, we noticed that the output from Run Commands were in correct. On closer inspection, we noticed that the version of RunCommand plugin inside the Image was 1.1.8 and it got updated to 1.1.9. Looks like update operation happens on its own after the VM is created and it resets the index.

But this doesn't clear the previous run/status data. S

[2022-01-27 03:49] SirMrDexter commented on #16936
Temporary workaround we managed to figure out is to delete the contents of `C:\Packages\Plugins\Microsoft.CPlat.Core.RunCommandWindows\1.1.*\Status` folders right after the VM create command is complete.

[2022-01-27 04:38] navba-MSFT commented on #15212
@chchadha Apologies for the late reply. Could you please run the below PS command before running the Register-AzAutomationDscNode cmdlet ?

More info about this command is [here](https://docs.microsoft.com/en-us/powershell/module/microsoft.powershell.utility/write-debug?view=powershell-7.2#example-2--change-the-value-of--debugpreference).

By doing this, you will get a verbose output with the unde

[2022-01-27 04:54] navba-MSFT commented on #8930
@timmkrause @paragbharne CDN PS cmdlet doesn’t support user managed certificate currently.  The CDN engineering group is aware of this and they are working on this ask.

So until the fix is released, as a workaround you can use CLI [az cdn custom-domain | Microsoft Docs ](https://docs.microsoft.com/en-us/cli/azure/cdn/custom-domain?view=azure-cli-latest#az-cdn-custom-domain-enable-https). Hope thi

[2022-01-27 05:30] BethanyZhou commented on #14436
Technically, yes. But we are unable to ensure the quality of user-specified API version.

[2022-01-27 06:01] navba-MSFT commented on #9931
@leowu-msft Apologies for the late reply. I just tried to run the command _Get-AzNotificationHubsNamespace -Namespace 'nothing'_ and see that the issue still occurs. I am looking into this internally and I will update this thread once I have more info. In the meantime, If you have any further queries around this please feel free to post it here. We would be happy to address it.

[2022-01-27 07:00] #16763 closed

[2022-01-27 07:03] dingmeng-xue commented on #16052
Working on it and waiting feedback from service

[2022-01-27 07:38] navba-MSFT commented on #9931
@tjsomasundaram-zz The issue is still occurring. Could you please look into this and let us know when this would be fixed ? Thanks in advance.

[2022-01-27 07:39] navba-MSFT commented on #10232
@faultoverload Apologies for the delay in getting back. I tried to run the same PS script but couldn't reproduce the issue. Could you please confirm if you are still facing the same issue with this PS command ? Awaiting your reply.

[2022-01-27 07:58] dingmeng-xue commented on #14436
Even registered API version, we cannot ensure the quality of service. Service may be outage even though we have verified them. Let's just provide possibility and sufficient information to user.

[2022-01-27 08:01] #16697 closed

[2022-01-27 08:04] navba-MSFT commented on #10645
@sopelt Apologies for the delay. We are looking into this ask and we will update this thread once we have more details on this.

@panchagnula @btardif @seligj95 This github thread has been idle while we were waiting for the update on the ask. Could you please let us know if there has been any progress on this ? Any ETA on when the Linux support will be added for the New-AzWebApp PS ? Awaiting your

[2022-01-27 08:12] mattboothman commented on #10645
Same, update please. Should be Linux first by now, really.

[2022-01-27 09:15] navba-MSFT commented on #15024
@rajakcava Apologies for the delay in response. Could you please leverage the PS command [Update-AzFunctionAppSettings ](https://docs.microsoft.com/en-us/powershell/module/az.functions/update-azfunctionappsetting) and see if that helps ? Awaiting your reply.

[2022-01-27 09:37] isha199409 opened #16949 "azure namespace stuck on registering"
### Description

I am trying to register Microsoft.MachineLearningServices through powershell. However its stuck on registering since the last few hours. I ran the commands:
Connect-AzAccount
Set-AzContext -Subscription "<sub-name>"
$DebugPreference = "Continue"
Register-AzResourceProvider -ProviderNamespace Microsoft.MachineLearningServices

### Issue script & Debug output

[code]

### Environmen

[2022-01-27 09:43] navba-MSFT commented on #14450
@akata72 Thanks for your reply. As per your request we will now close this thread. Please feel free to reopen this thread if you need any further assistance on this in future.

[2022-01-27 09:43] #14450 closed

[2022-01-27 11:07] jaromirk opened #16951 "az.OperationalInsights code checks for version as code in psm1"
### Description

The module itself has code to test for required Az.Accounts version. If Az.Accounts contains multiple versions, and one module is lower, the code positively tests and returns error.

I use old module az.accounts in this version (2.2.4) because it's is required by newest 'AksHci' module.

The best practice is to include Az.Accounts required version in psd1 and not as psm code

Az.O

[2022-01-27 12:39] mattboothman commented on #8348
Our workflow is removing whatever someone else has set up as part of training, so I can't really be specific because training could touch many different areas of Azure Recovery Services. I was trying to remove SQL containers at the time but I believe thats fixed in a more recent version.

Thanks for your response, I appreciate you taking the time to give such a detailed response.

[2022-01-27 13:28] ohadschn commented on #12881
Indeed, which is why I said:

So if we take the currently discussed `Connect-AzAccount` as an example, instead of
[code]

You would do
[code]

The point is, parameter set resolution is nice for user parameter validation, but it should not determine your logic.

[2022-01-27 13:32] juergenbr opened #16952 "[Feature]: Get-AzBlueprintAssignment should return version of assigned blueprint"
### Description of the new feature

**Problem:**
Az.Blueprint is currently not able to return the version of the blueprint used in an assignment.
[code]

**Expected return:**
Powershell should return the same data as the Azure CLI. If I use `az blueprint assignment show` for the same assignment, I get the full blueprint id including the version used:

[code]

### Proposed implementation details (o

[2022-01-27 13:44] dingmeng-xue commented on #12881
Hi Ohadshn, I agree that current `Connect-AzAccount` can change the logic as you described. But it will introduce problem in future. For instance, Default parameter set of `Connect-AzAccount` is below for the time being (I remove some parameters and simplify example)
[code]
the syntax of ManagedServiceParameterSet is
[code]
Since both parameter sets share the same parameters, we can fallback `-Ide

[2022-01-27 14:03] Gill-Bates opened #16953 "Get-AzAdvisorRecommendation omits "resourceMetadata""
### Description

The cmdlet `Get-AzAdvisorRecommendation` does not deliver the Metadata from the GraphAPI

https://docs.microsoft.com/en-us/rest/api/advisor/recommendations/list

![image](https://user-images.githubusercontent.com/25774289/151373906-8ce967b5-f26f-4758-bd26-3df8923ae4e8.png)

### Issue script & Debug output

[code]

### Environment data

[code]

### Module versions

[code]

### Erro

[2022-01-27 16:13] Truzi commented on #9102
Is there any progress/update on that?
I'm currently trying to retrieve some part of almost 300 resources, so it would be really helpful if some kind of flag would exclude _hidden_ resources

[2022-01-27 18:24] MsGabsta commented on #15888
Closing issue as there are no further questions from the customer.

[2022-01-27 18:24] #15888 closed

[2022-01-27 19:15] KingBain commented on #16340
having a similar issue now , but the fix no longer works
![image](https://user-images.githubusercontent.com/367922/151428047-6ade699b-f74a-4119-bcec-036ab2acc08d.png)

[2022-01-27 21:56] ohadschn commented on #12881
Sorry not sure I follow, you're saying you'll add a new parameter set that looks like this:
`Connect-AzAccount [-Environment <String>] [-Tenant <String>] [-AccountId <String>] -Dummy`

And then a call like this will fail parameter set resolution?
`Connect-AzAccount ... -Dummy:$false -Identity:$true`

[2022-01-27 22:05] markr-rpc commented on #16340
I have version 2.7.1 of Az.Accounts installed and it seems to work fine with the latest version of Visual Studio Code (version 1.63.2) on Windows 11.

[2022-01-28 00:41] SaurabhSharma-MSFT commented on #16927
@SaurabhSharma-MSFT I suggest you please open a support ticket so that an engineer could look into environment and dig further to find the root cause.

Thanks
Saurabh

[2022-01-28 01:31] BethanyZhou commented on #14436
Sure.

[2022-01-28 02:32] navba-MSFT commented on #15571
@jagratimodi Hope you had a chance to look at my above comment. This github thread has been inactivity for quite sometime. So for now we will proceed with closure of this thread. If you have any follow-up questions on this, please feel free to reopen this thread we would be happy to answer those.

[2022-01-28 02:32] #15571 closed

[2022-01-28 04:01] #16908 closed

[2022-01-28 05:31] dingmeng-xue commented on #12881
You are right. If `-Dummy` parameter doesn't belong to ManagedServiceParameterSet, `Connect-AzAccount ... -Dummy:$false -Identity:$true` will return error immediately because PowerShell cannot determine parameter set.

[2022-01-28 08:02] #16757 closed

[2022-01-28 08:30] MughundhanRaveendran-MSFT commented on #16883
@mosharafMS , I tried to reproduce the issue with the same environment as yours but I am unable to reproduce the issue. How frequently are you getting this issue?

[2022-01-28 09:20] navba-MSFT commented on #11101
@AndreasMWalter Apologies for the delay in response. This github thread has been open for quite sometime now. I just wanted to check if you still need assistance on this issue. Awaiting your reply.

@vikram-m Could you please update us regarding the status of the fix ?

[2022-01-28 10:36] dannyger97 commented on #16306
I have the same issue. PowerShell 5.1 and 7.2. Is there a fix for this coming soon?
The -Path and -DirectoryPath also don't provide any feedback and in the portal the job only runs every 24 hours.

@dingmeng-xue @SaurabhSharma-MSFT

[2022-01-28 10:41] navba-MSFT commented on #12534
@pdonovan Thanks for raising the issue. Apologies for the delay in response. Firstly, we should not stop the underlying the VMs specially the SF seed nodes as there are high chances that it might destroy the SF cluster. To turn off cluster/VMs occasionally, you can read [this](https://docs.microsoft.com/en-us/azure/service-fabric/service-fabric-common-questions#can-i-turn-off-my-cluster-at-nightwe

[2022-01-28 11:17] navba-MSFT commented on #8836
@PrajithB Apologies for the delayed response. Could you please run [New-AzCognitiveServicesAccountApiProperty ](https://docs.microsoft.com/en-us/powershell/module/az.cognitiveservices/new-azcognitiveservicesaccountapiproperty?view=azps-7.1.0) command and check if that helps? Awaiting your reply.

[2022-01-28 11:58] navba-MSFT commented on #10661
@ApbBeach Thanks for reporting the issue. We will look into this issue and get back to you.

@vikram-m Could you please update this thread once you get a chance?

[2022-01-28 12:47] nyanhp opened #16963 "Connect-AzAccount uses Warning stream to convey Sign-In URL and token"
### Description

Connect-AzAccount uses Warning stream to convey Sign-In URL and token. In sessions that choose to set the WarningActionPreference to SilentlyContinue or Ignore, this means that their script will hang indefinitely without any indication.

To me this is not the ideal behavior. The login information should not be a warning. The cmdlet should either attempt to detect if the Warning st

[2022-01-28 13:21] rokuUK opened #16964 "Get-AzSqlDatabase limit of returned databases"
### Description

I noticed that Get-AzSqlDatabase returns only the first 100 databases, even if I use an additional filter, the filtering is still in the range of these 100 databases. Is it possible to change the size of the recordset

### Script or Debug output

_No response_

### Environment data

_No response_

### Module versions

_No response_

### Error output

_No response_

[2022-01-28 16:46] danewalton commented on #16842
Pinging this again. How do we properly either retry this operation without it exiting the script or properly wait for the Hub to be active?

[2022-01-28 18:11] AHelsby commented on #14885
Even with 20 machines that's a lot of manual migration steps and then the jobs also have to be completed one by one in the gui :-(

[2022-01-28 20:05] bewithers commented on #14561
Following up since I just ran into the same issue... it appears that the "preview" version of the API
https://github.com/Azure/azure-rest-api-specs/blob/b0f48ad950e29525d407607c336b549bcfb15333/specification/monitor/resource-manager/Microsoft.Insights/preview/2021-05-01-preview/autoscale_API.json
does have ServiceAllowedNextValue defined, so when will the Az.Monitor module be updated to use this v

[2022-01-29 02:22] dingmeng-xue commented on #16306
Hi @dannyger97 , @geolivo 's team is working on it.

[2022-01-29 02:44] dingmeng-xue commented on #16951
Thanks for the suggestion. This approach has been used for very long time because of compatibility consideration.

[2022-01-29 02:45] dingmeng-xue commented on #16949
notify service team and it is being fixed.

[2022-01-29 02:55] dingmeng-xue commented on #16963
Thanks for reporting. It is good question. I believe the original design of using warning instead of information helps user to pay more attention on message with URL. I don't think it's good idea to downgrade message level from warning to information. But we should check warning preference and show message as information if user ignore/skip the warning.

@dcaro what's your thought?

[2022-01-29 23:57] brwilkinson opened #16974 "[Feature]: -VaultId <string> -SecretName <string> [-SecretVersion <string>] missing from Enable-AzCdnCustomDomainHttps"
### Description of the new feature

The FrontDoor and the CDN module share similar Cmdlets

e.g.
[code]

The FrontDoor cmdlet allows you to setup a Custom DNS with a cert from the keyvault.

[code]

**I was looking for similar functionality on the CDN Cmdlet.**

[code]

There is no way to do this at the moment..

here is the same with the FD cmdlet

[code]

i.e. `-VaultId <string> -SecretName <str

[2022-01-30 00:07] brwilkinson commented on #16974
First references in: https://github.com/Azure/bicep/discussions/5567

[2022-01-30 00:27] SeanEGray commented on #8857
Hello @navba-MSFT,

I submitted this issue almost three years ago; since then I've changed job twice and lived through a pandemic, so I'm afraid I have absolutely no idea what the original problem I had was :)

It's not really affecting me anymore, so I'm not going to complain if you don't fix it at this point, but from an objective view, it is very clearly wrong and does hurt the usability of the

[2022-01-30 03:29] oising opened #16975 "Get-AzADApplication regression on IdentifierUri - invalid filter clause"
### Description

In az 6.3.0, I could use "Get-AzADApplication -IdentifierUri ..." but in 7.1.0, I get "invalid filter clause."

### Issue script & Debug output

[code]

### Environment data

[code]

### Module versions

[code]

### Error output

[code]

[2022-01-30 06:39] #16870 closed

[2022-01-30 08:53] nellya-alf opened #16980 "Select-AzSubscription to specific account"
### Description

We are using Select-AzSubscription to set a relevant subscription context; however, recently, we added multiple accounts with different permissions levels in the same subscription. Is there a way to set the context with Select-AzSubscription  to a specific account ID ?

### Script or Debug output

_No response_

### Environment data

_No response_

### Module versions

_No respons

[2022-01-30 19:26] brwilkinson opened #16981 "Get-AzRoleAssignment no longer reports Orphaned Role Assignments"
### Description

With previous versions of the Az.Resources Module, it was possible to report and cleanup orphaned role assignments.

In the newer versions this is no longer possible.

[code]

The above shows that the ObjectType is 'Unknown', which also matches what we see in the portal

![image](https://user-images.githubusercontent.com/3605266/151712914-181e6747-4415-4eab-9d1b-15ff7687fb03.png)

[2022-01-30 22:43] pdonovan commented on #12534
@navba-MSFT We no longer use SF, so this isn't an issue for us any more.

[2022-01-31 03:56] navba-MSFT commented on #12534
@pdonovan Thanks for getting back. Since this github thread is open for a long time now, we will proceed with closure. In future, if you need any further assistance on this, please feel free to reopen this thread. We would be happy to address your issues.

[2022-01-31 03:56] #12534 closed

[2022-01-31 04:04] navba-MSFT commented on #8857
@SeanEGray Thanks for getting back. Apologies for the delay in getting this addressed. Our engineering team is aware of this issue and they will update this github thread if they have any plans to change the design. cc @dcaro

[2022-01-31 04:21] yangyuan commented on #8836
`ApiProperty` is required for certain Account kinds (types).
Here is an sample of how to carry `ApiProperty` when creating an account.

$apiProperties = New-AzCognitiveServicesAccountApiProperty
$apiProperties.QnaRuntimeEndpoint = "https://sdk-test-qna-maker.azurewebsites.net"

New-AzCognitiveServicesAccount -ResourceGroupName $rgname -Name $accountname -Type 'QnAMaker' -SkuName $skuname -Location

[2022-01-31 04:21] #8836 closed

[2022-01-31 04:33] navba-MSFT commented on #15024
@rajakcava Hope you had chance to look at my above comment. Please run the PS command [Update-AzFunctionAppSettings ](https://docs.microsoft.com/en-us/powershell/module/az.functions/update-azfunctionappsetting?view=azps-7.1.0) to update the app settings in function app and that should serve your requirement. With that, I am proceeding with closure of this github thread. If you need any further ass

[2022-01-31 04:33] #15024 closed

[2022-01-31 07:17] navba-MSFT commented on #16952
@juergenbr Thanks for reaching out to us. Apologies for the late reply. To get the version of the assigned blueprint you can run the below Powershell command:
More Info [here](https://docs.microsoft.com/en-us/powershell/module/az.blueprint/get-azblueprintassignment?view=azps-7.1.0)

$blueprintAssignment.BlueprintId

Output returned:

Hope this helps. Please let me know if you face any issues while

[2022-01-31 09:30] navba-MSFT commented on #16964
@rokuUK Thanks for reaching out to us. Apologies for the late reply.
 I will be doing some research around the PS command which is limiting to 100 results. In the meantime, Could you please test the behavior with the Azure CLI to perform the list database operation? This will help us to isolate the issue.

az account set --subscription "123435-***-***-***-12345"
az sql db list --resource-group MyR

[2022-01-31 10:02] rokuUK commented on #16964
sorry, my mistake, I should have written from the beginning that Az it returns me the full list of databases

[2022-01-31 12:16] navba-MSFT commented on #16964
@rokuUK Thanks for getting back. While I am doing research on this, Could you please test with the below Powershell script and let me know if that helps ?

$authHeader= $auth.token
$subscriptionId='1234-****-****-1234'
$serverName="myServerName"
$resourceGroupName='myRgName'
$uri= "https://management.azure.com/subscriptions/" + $subscriptionId + "/resourceGroups/" + $resourceGroupName + "/provider

[2022-01-31 13:00] rokuUK commented on #16964
the script returned 100 lines

[2022-01-31 13:03] rezarms opened #16983 "Get-AzADSpCredential doesn't show latest password dates"
### Description

I'm trying to check if a password for spn has expired or not.
I'm calling below method to get expiry date for the spns:
`Get-AzADSpCredential -ServicePrincipalName {name} `
or
`Get-AzADSpCredential -objectId {object id}`
I recently renewed  a password but whenever I call the above method it still shows me the old one but using azure cli it works perfectly and display latest expiry

[2022-01-31 13:15] jaspkaur28 commented on #16070
@johnnycchapman Could you please give it another try? The fix was not rolled out in the region you tried 5 days back. The deployment has successfully completed in all the regions today.

[2022-01-31 21:29] johndowns opened #16984 "Get-AzPrivateEndpointConnection with -ResourceId argument supports Microsoft.Network/privateLinkServices"
### Description

When using the `Get-AzPrivateEndpointConnection` cmdlet with the `-ResourceId` argument, it expects that the value of the `-ResourceId` argument is the resource ID of a specific private endpoint connection.

if you specify the resource ID of an Azure resource that contains private endpoints (e.g. an App Service app or a storage account), the following error message is returned:

[

[2022-02-01 00:45] jaknigh opened #16987 "Remove-AzSynapsePipeline Pipeline Dependency Bug"
### Description

Trying to delete a pipeline with a dependency is not throwing an error like it does for ADF.  Instead it returns as a sucess and leaves the pipeline in the workspace.  This is occurring for both Remove-AzSynapse and invoking via synapse API.

Repro steps –
      i.    Create Empty Pipeline with single Task
     ii.    Create Second pipeline that executes the first pipeline
    iii

[2022-02-01 04:14] navba-MSFT commented on #16368
@sarajag @gfree76 Apologies for the late reply. The Engineering team is aware of this issue and a workitem has been created to prioritize the fix. The only workaround as of now is to invoke this REST API directly using [this](https://github.com/Azure/azure-powershell/issues/16368#issuecomment-975110601) Powershell sample script provided by @wonner. We will update this thread once we have more deta

[2022-02-01 04:36] navba-MSFT commented on #15212
@chchadha Could you please let us know if you had a chance to follow the plan suggested in my above comment? Awaiting your reply.

[2022-02-01 04:39] navba-MSFT commented on #9931
As per @tjsomasundaram-zz , adding @aimankhan for visibility.
Could you please let us know when this issue would be fixed and update this thread once you get a chance?

[2022-02-01 04:46] navba-MSFT commented on #10232
@faultoverload  This thread is open for quite sometime, so wanted to follow-up again on this github thread to check if you are still facing this issue. If you don't need any assistance on this, we will proceed with the closure of the thread. You may feel free to get back to us. We would be happy to assist you further.

[2022-02-01 07:02] navba-MSFT commented on #11390
@erwinkramer Apologies for the delay in getting back. Since this issue has been open for quite sometime, I wanted to follow-up with you to check if you still require assistance on this.

 @miaojiang Could you please let us know if you have any update on this issue ?

[2022-02-01 07:23] navba-MSFT commented on #13685
@Francisco-Gamino @stefanushinardi I was able to repro this issue and we still see blank results for OSType, Runtime, and AppServicePlan properties. Could you please let us know the update on the fix ? Awaiting your reply. cc @fabiocav

[2022-02-01 07:34] erwinkramer commented on #11390
Yes that would be nice

[2022-02-01 07:42] Saglodha commented on #12331
Hi @andreasschild , Apologies for delay in response here.

I had been reviewing the issue and could conduct some tests, I was able to set the event hub name to be within limit of 256 characters (using Azure Portal, ARM template and PS as well). Below is the snip:

ARM Template:
![EventhubnaminginARM](https://user-images.githubusercontent.com/62641016/151929131-18678373-a942-4519-b34f-943e86a3320d.

[2022-02-01 07:55] navba-MSFT commented on #10998
@paulhasell Apologies for the late reply. Could you run[ this Az CLI command ](https://docs.microsoft.com/en-us/cli/azure/functionapp/function/keys?view=azure-cli-latest) to manage the function app keys and let us know if that serves your requirement ?

@Francisco-Gamino @stefanushinardi Could you please let us know the update on the fix ? Awaiting your reply. cc @fabiocav @dcaro

[2022-02-01 08:01] #16183 closed

[2022-02-01 08:09] navba-MSFT commented on #14606
@prawnz Apologies for the late reply. I was able to run this PS command and get the Default and master keys. Could you please run [New-AzFunctionApp ](https://docs.microsoft.com/en-us/powershell/module/az.functions/new-azfunctionapp?view=azps-7.1.0) command and test the behavior again ? Awaiting your reply.

[2022-02-01 08:34] Saglodha commented on #15809
Hi @fillip1983, thank you for bringing this to our attention and apologies for delay here.

I would be reviewing the API structure for the above operation and would keep you posted.

[2022-02-01 08:55] navba-MSFT commented on #15484
@vrdse Apologies for the late reply. Could you please try to update the function app using Azure CLI [command](https://docs.microsoft.com/en-us/cli/azure/functionapp?view=azure-cli-latest#az-functionapp-update-examples) and test the behavior ?

@Francisco-Gamino I was able to repro the issue with Update-AzFunctionApp PS command. Could you please provide an update on when this would be fixed in [Up

[2022-02-01 09:14] paulhasell commented on #10998
Hi @navba-MSFT, we resolved this by using the REST API for which we already had authentication sorted.

We have recently started investigating Bicep for our deployments but are running into other issues of usability with that platform too. It seems that direct REST API is the best option in almost all circumstances but is sadly the most tricky to use.

[2022-02-01 09:48] navba-MSFT commented on #12331
@andreasschild When I used the most recent version of the Az.EventHub I didn't face this issue. [This](https://docs.microsoft.com/en-us/azure/event-hubs/event-hubs-quotas#common-limits-for-all-tiers) article talks about name limit being 256 characters. Could you please test the behavior with the most [recent version](https://www.powershellgallery.com/packages/Az.EventHub/1.9.1) of the Az.EventHub?

[2022-02-01 10:22] maksiml2014 opened #16989 "New-AzConfigurationAssignment uses an unsupported API version in GCCH"
### Description

In ADO release stage NewAzureRmConfigurationAssignment uses API version '2021-09-01-preview', but it is not available in GCCH release pool.

### Issue script & Debug output

[code]

### Environment data

[code]

### Module versions

[code]

### Error output

_No response_

[2022-02-01 10:34] Truzi commented on #10365
Is there any progress in implementing solution where I could skip hidden resources?

[2022-02-01 10:54] navba-MSFT commented on #14178
@henriblMSFT Apologies for the delayed response. Could you please test using the below PS command ?

New-AzRoleAssignment -RoleDefinitionName "Reader" -ApplicationId $servicePrincipal.ApplicationId

You can use the [New-AzRoleAssignment ](https://docs.microsoft.com/en-us/powershell/module/az.resources/new-azroleassignment?view=azps-7.1.0#syntax) command with -RoleDefinitionName and -ApplicationId

[2022-02-01 11:15] prawnz commented on #14606
@navba-MSFT

Same function used last time no longer works
![image](https://user-images.githubusercontent.com/3827044/151958854-9fbafd15-c248-47b4-ad3c-ef14fba86d9e.png)

[2022-02-01 11:22] navba-MSFT commented on #15749
@jmyerscough Could you please let us know if you had a chance to follow the above plan suggested by @Aviv-Yaniv ? This github thread has been open for quite sometime without any activity. Please let us know if you need any further assistance on this. Awaiting you reply.

[2022-02-01 13:13] RuvdH opened #16991 "Get-AzRoleAssignment shows empty RoledefinitionName for custom roles when not using Scope or ResourceGroup parameter"
### Description

Since the change of the Powershell module to version 7.X the Get-AzRoleAssignment cmdlet shows a blank RoledefinitionName for role assignments that target a custom role created at Subscription or Resource Group scope. When the cmdlet is executed with the use of the Scope or ResourceGroup parameter it does show it.

[code]

Also when the parameter RoleDefinitionName is used in comb

[2022-02-01 14:22] Agazoth opened #16992 "Start-AzStorageBlobCopy to storage account scrabmles content"
### Description

We are collecting several csv files once a week and store them on a storage account. This has been working just fine for months.

Now the files delivered to the storage account are scrambled. If the same files are downloaded locally with `InvokeWebRequest` , the file is fine.

There are no errors when running the command

The command executes as expected and `Get-AzStorageBlobCopy

[2022-02-01 14:40] Agazoth commented on #16992
The file is zipped. 7-Zip reveals the file with the data I want. How do I avoid this compression?

[2022-02-01 14:50] MrCNeale opened #16993 "get-azresource fails to return resource with tags in pwsh linux"
### Description

When running get-azresource against a resource (tested on Automation Account AND KeyVault resource types) which has tags applied.
Pwsh core on windows returns the resource
In linux it does not.
If the tags are removed, linux returns the resource.

### Issue script & Debug output

[code]

### Environment data

[code]

### Module versions

[code]

### Error output

[code]

[2022-02-01 15:10] jaylabell commented on #13168
Closing out because the issue has been resolved. Customer is able to point the boot diagnostics to a Microsoft-managed account.

The reference documentation will be updated accordingly.

[2022-02-01 15:10] #13168 closed

[2022-02-01 17:22] JustinGrote commented on #16874
It absolutely requires the `$count` parameter but there's no way in the current parameters to do this short of a convoluted httppipelineprepend. In the graph SDK there is a -countvariable parameter that sets $count and returns the count to that set variable, these Az commands should replicate that behavior.

[2022-02-01 20:39] SaurabhSharma-MSFT commented on #16772
@gpsarkar You not passing the correct operation id and thus you are getting error.  You need to pass Operation Id something like below  -
![image](https://user-images.githubusercontent.com/38112130/152046940-d1dd0d9a-5af7-4794-81b0-9707a4b2ed68.png)

You can get a list of operation Ids available by your APIM by executing the below cmdlet -
`Get-AzApiManagementOperation -Context $apimContext -ApiId

[2022-02-01 20:51] SaurabhSharma-MSFT commented on #16927
@susrutpatnaik Please let me know if you need any help creating a support ticket.

[2022-02-01 23:37] Francisco-Gamino commented on #14338
We should support updating the following properties:

https://docs.microsoft.com/en-us/cli/azure/functionapp/config?view=azure-cli-latest

az functionapp config set [--always-on {false, true}]
                          [--auto-heal-enabled {false, true}]
                          [--ftps-state {AllAllowed, Disabled, FtpsOnly}]
                          [--generic-configurations]

[2022-02-02 03:40] navba-MSFT commented on #16964
@rokuUK Thanks for getting back. The support for pagination was added to Get-AzSqlDatabase PS command as per [this](https://github.com/Azure/azure-powershell/commit/6f3647d507ac253472e41d3b65daa1ee8027e01a) thread. Also refer #15772

Remove the existing module and please install the most recent version of [Az.sql](https://www.powershellgallery.com/packages/Az.Sql/3.7.0) module and test the behavio

[2022-02-02 06:26] navba-MSFT commented on #10661
I am following up with the engineering team regarding this issue. This thread will be updated once we have more details.

[2022-02-02 06:28] navba-MSFT commented on #11101
I am following up with the Engineering team regarding the fix. This thread will be updated once we have more details.

[2022-02-02 08:41] navba-MSFT commented on #10404
@NolanCui719 Apologies for the late reply. Please let us know if you had a chance to follow the workaround suggested [here](https://github.com/Azure/azure-powershell/issues/10404#issuecomment-873013514). Also this github thread has been open for quite sometime. Could you please let us know if you still need assistance on this issue ? Awaiting your reply.

[2022-02-02 09:06] DamolAAkinleye opened #16997 "New-AzDataShareDataSet Does not support Azure Synapse Analytics Dataset"
### Description of the new feature

The New-AzDataShareDataSet Does not support Azure Synapse Analytics Dataset as source. This is currently supported in the az cli and also in the portal but there is not option for it in the cmdlets.

### Proposed implementation details (optional)

_No response_

[2022-02-02 09:36] navba-MSFT commented on #16861
@bernharddick Did you get a chance to follow the action plan suggested by @blueww ? Please let us know if you face any issues. Awaiting your reply.

[2022-02-02 13:56] navba-MSFT commented on #15890
@teknofobia Apologies for the delayed reply. We are looking into this issue and we will update this thread once we have more details. In the meantime, if you have any questions, please feel free to ask.

[2022-02-02 14:09] johnnycchapman commented on #16070
I was just able to run it all the way through. Thank you making this fix. I will go ahead an close this issue.

[2022-02-02 14:09] #16070 closed

[2022-02-02 14:17] Saglodha commented on #11459
Hi @kesane-msft and @itsmaryann , Apologies for delay here.

@kesane-msft ,I reviewed the latest cmdlet for listing topics and could see that we have a -MaxCount switch provided. Can you please try using the switch and confirm if it helps you to fetch all the topics?

Additionally, Bare REST API is also supporting $top and $skip query parameters to manage the result set.

**Helpful Links:**
https:

[2022-02-02 14:26] itsmaryann commented on #11459
Hi @Saglodha I had already used the MaxCount switch when I commented on this issue. As you can see in the original post, the exception is raised after using MaxCount.

[2022-02-02 14:31] schuitenk opened #16998 "Cannot remove azure firewall with powershell commands"
### Description

Since monday 31-1-2021 I cannot remove our Azure firewall in our test environment with powershell commands.
There was no problem before 31-1-2021 and nothing has changed.

### Issue script & Debug output

[code]

### Environment data

[code]

### Module versions

[code]

### Error output

[code]

[2022-02-02 15:25] Saglodha commented on #12760
Hi @thelethalkind, Apologies for delay here.

I wanted to check if you are still facing null reference exceptions so that we could look at the occurrences. Kindly let us know if you are observing any such failures with latest PS module.

[2022-02-02 15:28] Saglodha commented on #11459
Thanks for feedback @itsmaryann , can you confirm if you have an environment with such number of queues/topics handy? If yes, I would like to look at the debug trace for the cmdlet execution.

[2022-02-02 15:31] jelleholtkamp opened #16999 "Get-AzAccessToken -ResourceTypeName MSGraph returns expired access token"
### Description

Get-AzAccessToken -ResourceTypeName MSGraph returns a token that is immediately expired. Same thing happens with Get-AzAccessToken -ResourceUrl 'https://graph.microsoft.com/'

### Issue script & Debug output

[code]

### Environment data

[code]

### Module versions

[code]

### Error output

[code]

[2022-02-02 18:07] grizzlytheodore commented on #15081
this is powershell issue. will need to fix this from our team

[2022-02-02 18:22] kesane-msft commented on #11459
@Saglodha - we have transitioned to Event Hubs. So I am afraid I won't be able to verify on my end. Looking at the comments that others are still facing this issue, I will not close it for now.

[2022-02-02 18:47] git-thomasdolan opened #17001 "Bump API version to latest (2021-04-01) for Resources/Management Group"
### Description

Hello,

I am from the Management Groups dev team and I want to update our PowerShell commands to the latest API version and I would like to know how I can get started. I took a look at the Resource/ManagementGroups and it seems to point to our dotnet sdk which does not look like it was updated for a while: [ManagementGroups Dotnet SDK](https://github.com/Azure/azure-sdk-for-net/tr

[2022-02-02 20:03] bganapa commented on #16639
Az.Resources module of AzureStack needs update to fix this issue. The current azurestack specific module version 0.12.0 does not support it.
The workaround is to use the CLI

[2022-02-02 20:06] SaurabhSharma-MSFT commented on #16508
@corquiri Any suggestions on this issue are much appreciated.

[2022-02-02 20:56] atedsimple commented on #16865
Do you know when a fix for this will be released as I too have encountered this issue?

[2022-02-02 21:21] Francisco-Gamino commented on #13685
Is this blocking any scenarios? A simple workaround is to do a Get-AzFuncitonApp call after the function app is created.

We plan to invest in adding new functionality to the Az.Functions module, but we are considering scenarios for which there is no workaround.

[2022-02-02 21:22] Francisco-Gamino commented on #14407
This is duplicate of https://github.com/Azure/azure-powershell/issues/14338.

[2022-02-02 21:22] #14407 closed

[2022-02-02 21:27] Francisco-Gamino commented on #14542
@cjmakwana -- Thank you for reporting this issue.

This issue is a dup of https://github.com/Azure/azure-powershell/issues/14166. All information regarding enabling this scenario will be tracked at the linked issue.

[2022-02-02 21:27] #14542 closed

[2022-02-02 21:34] Francisco-Gamino commented on #14606
This issue does not repro. When you create a new function app via the `New-AzFunctionApp` cmdlet, I do see the `_master` and `default` key being generated.  Please reopen if you still see the issue on your side. Thank you.

[2022-02-02 21:34] #14606 closed

[2022-02-02 23:28] SaurabhSharma-MSFT commented on #16572
@CCostaT I was able to get confirmation internally that it looks like a bug as it errors out when “accountKey” property is not provided and products team will internally work on fix. However, you can go past this error by adding the “accountKey” property to datasource.json like below-
![image](https://user-images.githubusercontent.com/38112130/152254546-b4b99102-8bbc-4799-aa8e-6f7d7a559bb8.png)
It

[2022-02-03 05:18] Agazoth commented on #16992
It seems to be related to the endpoint I get the file from. I just did a test between 2 storage accounts I control. It seems to be something on the source location doing the compression. It is a Microsoft endpoint: https://pxanltx.blob.core.windows.net/programmatic-export-pi

How can I ensure that I get the CSV file and not the zipped version? I need to add un-zipping to my code for the zipped ver

[2022-02-03 05:59] navba-MSFT commented on #12331
@andreasschild [This](https://docs.microsoft.com/en-us/azure/azure-resource-manager/management/resource-name-rules#microsofteventhub) docs has been updated with the right character length for the event hub name. see [#87316](https://github.com/MicrosoftDocs/azure-docs/pull/87316) Please let us know if you need any further assistance on this issue.

[2022-02-03 08:40] AndrevdG commented on #16998
I can confirm this happening in a different tenant / subscription:

`
PS C:\Users\andre> $resource

Name              : test-azfw
ResourceGroupName : ago-cse-tst
ResourceType      : Microsoft.Network/azureFirewalls
Location          : westeurope
ResourceId        : /subscriptions/<subscriptionId>/resourceGroups/ago-cse-tst/providers/Microsoft.Network/azureFirewalls/test-azfw
Tags              :

P

[2022-02-03 09:37] andreasschild commented on #12331
@navba-MSFT: I tested the method 'Get-AzEventHub' with Az.EventHub Version 1.8.0 and the error message about the limitation of 50 characters are no showing up. With this, I am going to close this issue

[2022-02-03 09:37] #12331 closed

[2022-02-03 09:47] alexandair commented on #13685
I don't know if it's blocking any scenarios, but that output is incomplete. It's hard to believe that after more than a year we need to discuss should the properties be populated or not.

If they are not needed, why are these properties part of the default formatting?

Does a similar Azure CLI command outputs these values?

With that "Is it blocking any scenarios?" logic, we might get output objec

[2022-02-03 10:55] jelleholtkamp commented on #16999
Some additional information: I use a service principal to connect using Connect-AzAccount.

[2022-02-03 12:15] navba-MSFT commented on #16952
@juergenbr I wanted to follow-up on this github issue and check if you had a chance to follow the action plan suggested in my previous comment. Awaiting your reply.

[2022-02-03 12:26] dingmeng-xue commented on #16984
@johndowns , this cmdlet doesn't support to list private endpoint connections of network private link. We will verify it and add support.

[2022-02-03 12:30] dingmeng-xue commented on #16983
Thanks for reporting. We will look into it.

[2022-02-03 12:38] dingmeng-xue commented on #16975
@VeryEarly , please look into it.

[2022-02-03 12:41] MrMCake commented on #16998
I can back this up. We see the same problem. My attempt to switch over to the REST call:

[code]

resultet into the same error that we see with the PowerShell cmdlet:

[2022-02-03 12:48] KamranKhan-Dev commented on #13133
@jportugal0 - any ETA on when this will be available in the API?  This is a real blocker for us at the moment.  It's crazy to think that the information is available in the portal but not through the API.

[2022-02-03 12:49] dingmeng-xue commented on #16874
@JustinGrote , According to API spec of MSGraph, `count` is not required parameter.

When I tried `GET https://graph.microsoft.com/v1.0/users?$filter=Department%20ne%20null&$count=true`, I got
[code]

[2022-02-03 13:16] juergenbr commented on #16952
@navba-MSFT my apologies as well for not replying sooner.
Yes I was able to implement it as you described. Thanks a lot, I'll close the issue.

[2022-02-03 13:16] #16952 closed

[2022-02-03 13:23] dingmeng-xue commented on #16980
@nellya-alf , thanks for contacting us. Please check whether `Select-AzContext` https://docs.microsoft.com/en-us/powershell/module/az.accounts/select-azcontext?view=azps-7.1.0 can meet your requirement or not. The input of `Select-AzContext` is the name of context including subscription name, tenant id and account name.

[2022-02-03 13:28] TiagoCrewGitHubIssues commented on #12561
we still have this in our backlog and have started the design for this. We'll keep this updated.

[2022-02-03 13:28] dingmeng-xue commented on #16989
@maksiml2014 , thanks for reporting. Could you let me know the cmdlet of Azure PowerShell you are using?

[2022-02-03 13:28] TiagoCrewGitHubIssues commented on #8971
we still have this in our backlog and have started the design for this. We'll keep you updated

[2022-02-03 13:30] maksiml2014 commented on #16989
its
New-AzConfigurationAssignment

[2022-02-03 13:32] dingmeng-xue commented on #16991
@RuvdH  and @rzilahi , could you check current account has sufficient permission to access MSGraph?

Since Az 7.0, we migrated AAD feature to MSGraph API. If client has no permission, the property from MSGraph API won't be shown up. We have listed used MSGraph API on doc https://docs.microsoft.com/en-us/powershell/module/az.resources/get-azroleassignment?view=azps-7.1.0

[2022-02-03 13:56] dingmeng-xue commented on #16993
@MrCNeale , thanks for reporting.

I believe this question is PowerShell general question. I tried Alpine with PowerShell 7.2.1 but cannot reproduce it.

Could you try below code?
[code]
If above code can get the correct result on WSL, please check whether return result of `Get-AzResource` is expected or not on WSL?

[2022-02-03 14:46] MrCNeale commented on #16993
I only filtered to make it easier to see what was and wasn't returned.
The problem happens even if you run Get-AzResource on it's own

pwsh in windows 10 terminal
$all = get-azresource
$all.count
319

pwsh in ubuntu in wsl terminal
$all = Get-AzResource
$all.count
310

As you can see 9 less resources are returned in linux/ubuntu
This behaviour is also seen in DevOPs Ubuntu hosts.

[2022-02-03 14:56] MrCNeale commented on #16993
Within seconds of each other I can run get-azresource multiple times and get differing counts?

PS /mnt/c/Users/xxx/Release/yyy> (Get-AzResource).count
295
PS /mnt/c/Users/xxx/Release/yyy> (Get-AzResource).count
310
PS /mnt/c/Users/xxx/Release/yyy> (Get-AzResource).count
295
PS /mnt/c/Users/xxx/Release/yyy> (Get-AzResource).count
295
PS /mnt/c/Users/xxx/Release/yyy>

[2022-02-03 15:00] krokofant commented on #16032
Quite disastrous to trust the Azure PowerShell module with this. Assuming the results you get back are the only one causes a lot of confusion...

[2022-02-03 15:20] JustinGrote commented on #16874
Your query is not the same as my query. You did a ne filter, not an eq filter, and it is also not clear if you specified ConsistencyLevel eventual header. You need *both*

[2022-02-03 15:20] jelleholtkamp commented on #16999
I figured out I was doing something wrong. I was using an MS Graph token as input for the -AadAccessToken parameter for the Connect-AzureAd cmdlet. It produced no error, but what I needed to do is generate an Azure AD graph token and use it as input for the -AadAccessToken parameter, and generate an MS graph access token and use it as input for the -MsAccessToken parameter.

[2022-02-03 15:20] #16999 closed

[2022-02-03 15:56] rezarms commented on #16983
I spotted that azure cli is using below api format
https://graph.windows.net/{tenantid}/servicePrincipals?$filter=servicePrincipalNames/any(c:c eq 'spnid')&api-version=1.6

but azure powershell is using
https://graph.windows.net/tenantid/servicePrincipals/{spnid}/keyCredentials

What's more, first time before renewing password the azure cli doesn't return anything but azure PowerShell works fine b

[2022-02-03 16:06] Jackldam opened #17005 "New-AzStorageContainer : Method not found:"
### Description

When creating new container in Powershell 5.1 using New-AzStorageContainer an error is thrown.

Command used
New-AzStorageContainer -Name "test"

### Issue script & Debug output

[code]

### Environment data

[code]

### Module versions

[code]

### Error output

[code]

[2022-02-03 16:23] rzilahi commented on #16991
Is Global Admin high enough :)
No really, I don't get this info back with custom roles even if I am a global admin.
That app that we also used to test has Directory.Read.All permission.

[2022-02-03 16:28] Tetradeus commented on #13964
Hi @PaulVrugt , have you been able to make it work at the end ? I have exactly the same issue ...

[2022-02-03 17:08] PaulVrugt commented on #13964
No we implemented a workaround for this if I remember correctly. Has this still not been implemented in AZ?

[2022-02-03 17:12] bowlerma commented on #16993
Not sure if it's related to this or not, but we're recently seeing odd behaviour from Get-AzResource.  The list of resources being returned appears to be out of date.

We have created some new web apps, and deleted some old web apps.  When we run Get-AzResource, none of the new web apps are being returned, but some of the web apps that no longer exist are being returned in the results.  They're sh

[2022-02-03 17:42] MrCNeale commented on #16993
I believe I have found the issue.
running get-azlogicapp with -debug (I know it's a different command...stay with me)
and running it frequently I could get fails regularly and passes equally as regularly

I spotted one commonality

The headers of the failed/empty returns came back with an empty body and were "x-ms-routing-request-id" UKSOUTH
The headers of the working/non-empty returns came back w

[2022-02-03 19:11] amjads1 commented on #16041
@Sandido Following up to check if you have any updates to share post your investigation.

[2022-02-03 19:13] amjads1 commented on #14415
@ozruxo Following up to check if you have any updates to share or if you need any further help.

[2022-02-03 19:15] juliamaureen opened #17006 "Publish-AzWebApp throws NullReferenceException"
### Description

While trying to deploy an azure function with github actions using the following commands:

Connect-AzAccount -Identity -Subscription ${{ inputs.subscription }} -Tenant ${{ inputs.tenant }}
Publish-AzWebApp -ResourceGroupName ${{ inputs.rg-name }} -Name ${{ inputs.app-name }} -ArchivePath .\build_artifacts.zip

The error we are getting is:
Publish-AzWebApp : Object reference not s

[2022-02-03 19:32] johndowns commented on #16984
@dingmeng-xue It feels weird to have to treat one PL resource type differently from another. I still think it's a reasonable feature request to make this behave consistently across all PL resource types.

[2022-02-03 23:00] dcaro commented on #16848
@damienpontifex can you confirm that the goal is to create federated identity credentials?

[2022-02-04 04:10] navba-MSFT commented on #15212
@chchadha Since this github thread is inactive we will proceed with the closure. If you need any further assistance feel free to reopen this issue and we will be happy to help you.

[2022-02-04 04:10] #15212 closed

[2022-02-04 04:12] navba-MSFT commented on #10232
@faultoverload I hope you had a chance to look at my above comment. Please reopen this thread if you need any further assistance on this issue. We would be happy to help.

[2022-02-04 04:12] #10232 closed

[2022-02-04 04:30] navba-MSFT commented on #10998
@Francisco-Gamino Please let us know if you had a chance to look into this.

[2022-02-04 05:41] navba-MSFT commented on #15890
@adrianhall Could you please look into this issue once you get a chance and update this thread? Awaiting your reply.

[2022-02-04 06:14] navba-MSFT commented on #11390
@erwinkramer Thanks for getting back. We are aware of this issue and this is being worked upon. The fix should be released soon. We will keep you posted about this. cc @adrianhall

[2022-02-04 07:17] MughundhanRaveendran-MSFT commented on #16883
@mosharafMS , Did you get a chance to look into my previous comment?

[2022-02-04 07:18] navba-MSFT commented on #13133
@mehowq Apologies for the late reply. While I called the [REST API ](https://docs.microsoft.com/en-us/rest/api/advisor/recommendations/list) for the Advisor Recommendations using the _api-version=2020-01-01_, it worked fine. So you can test with this and check.

Also as a workaround, could you please run [this Azure CLI](https://docs.microsoft.com/en-us/cli/azure/advisor/recommendation?view=azure-

[2022-02-04 07:21] navba-MSFT commented on #16024
@andymcadam Apologies for the late reply. While I called the [REST API ](https://docs.microsoft.com/en-us/rest/api/advisor/recommendations/list) for the Advisor Recommendations using the _api-version=2020-01-01_, it worked fine. So you can test with this and check.

Also as a workaround, could you please run [this Azure CLI](https://docs.microsoft.com/en-us/cli/azure/advisor/recommendation?view=az

[2022-02-04 08:31] SSKLCP opened #17008 "New-AzStorageAccountSASToken doesn't work with -UseConnectedAccount"
### Description

I'm trying to generate a SAS token through PowerShell but keep running into this error:

This is happening when I run the commands:

`Connect-AzAccount`
`$cont = New-AzStorageContext -StorageAccountName $SA_name -UseConnectedAccount  `
`New-AzStorageAccountSASToken -Service blob -ResourceType object -Permission racwdlup -ExpiryTime (get-date).addhours(1)
 -Context $cont`

But if I

[2022-02-04 08:39] navba-MSFT commented on #13989
@richardhauer Thanks for your reply. You can try the test using the [CLI command ](https://docs.microsoft.com/en-us/cli/azure/cdn/endpoint/rule/condition?view=azure-cli-latest#az-cdn-endpoint-rule-condition-add) and check if that helps. Since this github thread is idle, we will proceed with closure. If this issue is a blocker and causing an impact feel free to reopen this thread. We would be happy

[2022-02-04 08:39] #13989 closed

[2022-02-04 08:56] navba-MSFT commented on #12811
@robertleelarson Apologies for the delayed response. We are looking into this issue and will get back once we have an update.

[2022-02-04 09:38] navba-MSFT commented on #8930
@paragbharne Hope you had a chance to look at the above reply. Please feel free to reopen this thread if you have any pending questions. We would be happy to address those.

[2022-02-04 09:38] #8930 closed

[2022-02-04 11:39] navba-MSFT commented on #10704
@dhruvmodi13 Apologies for the delayed response. I will do some research on this and then get back to you once I have an update.

@bgklein Could you please let us know if this issue has been fixed ? Awaiting your reply.

[2022-02-04 13:25] premfix opened #17010 "New-AzADApplication returns Az.MSGraph.internal\New-AzADApplication : Insufficient privileges to complete the operation"
### Description

Hello.
I want to create a SAML app using application template ID for custom apps - 8adf8e6e-67b2-4cf2-a259-e3dc5476c621, I use
`New-AzADApplication -DisplayName test-ag-asdsa2 -ApplicationTemplateId 8adf8e6e-67b2-4cf2-a259-e3dc5476c621` but receive  this error:
[code]

New-AzADApplication work well if I don't use -ApplicationTemplateId parameter. So I'm not sure what privileges ar

[2022-02-04 13:32] KamranKhan-Dev commented on #13133
@navba-MSFT can you please share the API call you made and the response that was returned?  Please feel free to obfuscate any sensitive information.  Personally, I am not able to see any cost savings information in the response.

[2022-02-04 14:38] navba-MSFT commented on #13133
@KamranKhan-Dev My bad. I should have been more specific in my previous comment about my observation. So I have edited it. I will update my findings once I get more details on this.

[2022-02-04 18:04] bgklein commented on #10704
https://docs.microsoft.com/en-us/powershell/module/az.batch/new-azbatchaccountkey?view=azps-7.1.0

[2022-02-04 18:04] #10704 closed

[2022-02-04 19:56] danewalton commented on #16842
Pinging. What is the best way to retry this operation? `$DebugPreference = Continue` doesn't seem to work and adding `-ErrorAction Continue` doesn't work either.

The error output says
[code]
but how can we retry if it fails the script?

[2022-02-04 20:09] danewalton commented on #16842
@c-ryan-k sorry to call you out but you seem to have contributed to the IoT Hub code base. Any ideas here?

[2022-02-04 20:34] tujamg commented on #12561
we still have this in our backlog and have started the design for this. We'll keep this updated.

[2022-02-04 20:36] tujamg commented on #8971
we still have this in our backlog and have started the design for this. We'll keep this updated.

[2022-02-04 21:19] Francisco-Gamino commented on #15706
@david-peden-q2 -- thank you for reporting this issue. The work to enable this scenario is being tracked by https://github.com/Azure/azure-powershell/issues/14338.

[2022-02-04 21:19] #15706 closed

[2022-02-04 22:35] Francisco-Gamino commented on #12559
This is duplicate of https://github.com/Azure/azure-powershell/issues/14682.

[2022-02-04 22:35] #12559 closed

[2022-02-04 23:42] SaurabhSharma-MSFT commented on #16997
@DamolAAkinleye It looks only data sets of type Blob, ADLS Gen2 and ADLS Gen1 are supported using New-AzDataShareDataset cmdlet.  I am checking internally with the products team though.

[2022-02-05 00:35] SaurabhSharma-MSFT commented on #16987
@jaknigh Thanks for providing details.  I am able to reproduce this issue and redirecting this to respective team to take it forward.

Thanks
Saurabh

[2022-02-05 00:45] damienpontifex commented on #16848
Exactly @dcaro
Goal is to create a federated identity credentials and with that, have the app with no secrets in AD

[2022-02-05 01:16] ozruxo commented on #14415
@amjads1 Apologies for the late reply. I have not been able to run the parameter, and I will be changing my method to achieve similar results. I do not need further help. Thanks.

[2022-02-05 06:26] brwilkinson commented on #16981
@BethanyZhou let me know if there is any further logs or info that I can provide?

[2022-02-05 09:40] navba-MSFT commented on #8770
@martgras Since this thread has been open for quite sometime, we will proceed with closure. If you need any updates on this or have any follow-up questions, please feel free to reopen this thread. We would be happy to assist you further.

[2022-02-05 10:08] navba-MSFT commented on #14178
@henriblMSFT Could you please let me know if you had a chance to try the action plan suggested in my above comment ? Awaiting your reply.

[2022-02-05 10:16] navba-MSFT commented on #15749
@jmyerscough This is a quick follow-up to check if you have any update on this. Please let us know if you have any follow-up question on this. We would be happy to assist you further.

[2022-02-05 11:35] vexingpos opened #17013 "Unsuppressable warnings when using Get-AzMetric"
### Description

When using `Get-AzMetric`, every invocation of the cmdlet carries the following warning message:

This is despite the fact that my script contains the following:
[code]

### Issue script & Debug output

[code]

### Environment data

[code]

### Module versions

[code]

### Error output

[code]

[2022-02-05 20:45] noamaster opened #17014 "New-AzADAppCredential doesn't work for certificate creation when using -KeyCredentials in a parameter set."
### Description

Hey folks,

I've been struggling for a few hours to get New-AzADAppCredential to work to automate cert creation after the switch over to Microsoft Graph, but it keeps failing for me. Here's what I'm noticing so far:

If I use the following code:
[code]

It "works" in the sense that the certificate gets deployed to my AAD application represented by $applicationObj and I can see the

[2022-02-06 04:09] #16783 closed

[2022-02-06 13:29] Aviv-Yaniv commented on #16703
@CaptainFanZzz Thank you for contacting!
The `GetOperation` is defined in the swagger and useful for async operations
We see indeed that the specific operation Id was not found, altogether why should it this operation be removed?

[2022-02-06 14:01] dingmeng-xue commented on #17001
Management Group cmdlets were developed by original service team couple years ago. We have no their contact information. Let's discuss it further in email.

[2022-02-06 14:09] dingmeng-xue commented on #17013
Incorrect code is from below. Besides this cmdlet, we need to check which cmdlet is using this super method and we need to use correct approach.
https://github.com/Azure/azure-powershell/blob/2834e8d3ba198ad6e1582befc9a8eb9c6c61a0ff/src/Monitor/Monitor/Metrics/GetAzureRmMetricCommand.cs#L130

[2022-02-06 14:10] dingmeng-xue commented on #17014
@VeryEarly , could you look into this issue?

[2022-02-06 14:14] dingmeng-xue commented on #17010
Thanks for contacting us. Could you share where app template 8adf8e6e-67b2-4cf2-a259-e3dc5476c621 is stored? Can current account access that template?

[2022-02-07 01:54] blueww commented on #17008
@SSKLCP

With "-UseConnectedAccount", will create a storage context with AAD credential.
But Account sas does not support AAD credential. Only User delegation SAS support AAD credential, and it applies to Blob storage only.
See details in https://docs.microsoft.com/en-us/azure/storage/common/storage-sas-overview

[2022-02-07 02:04] Frey-Wang commented on #16893
Hi @piroinno, we are fixing this and the ETA will be early March.

[2022-02-07 02:16] blueww commented on #17005
@Jackldam
I can't repro this issue on my  machine with same Powershell version, same module version, and same command.
Following is my repro script:

[code]

Would you please:
1. Share more details about how you repro this issue? like the connection string you use (hide credentail), the full module list, OS version ...
2. As the missing method is in Azure.Core, would you please share the Azure.Cor

[2022-02-07 02:18] blueww commented on #17005
@dingmeng-xue
It looks the error from customer is orginally from Az.Accounts.psm1, like following error from customer.
Would you please help to look?

[code]

[2022-02-07 02:38] dingmeng-xue commented on #16902
Close this issue as #16914 is merged.

[2022-02-07 02:38] #16902 closed

[2022-02-07 02:40] dingmeng-xue commented on #16808
I have updated the doc and provided information about those variables. Close this issue now.

[2022-02-07 02:40] #16808 closed

[2022-02-07 03:27] navba-MSFT commented on #16964
@rokuUK This is a quick follow-up to check if you had a chance to follow the action plan suggested in my above comment. Awaiting your reply.

[2022-02-07 04:55] navba-MSFT commented on #17006
@juliamaureen Apologies for the late reply. Looking at the [source code](https://github.com/Azure/azure-powershell/blob/2834e8d3ba198ad6e1582befc9a8eb9c6c61a0ff/src/Websites/Websites/Cmdlets/WebApps/PublishAzureWebApp.cs#L113) in PublishAzureWebApp.cs there is a check done for the -Force parameter before the content is deployed. The examples mentioned [here](https://docs.microsoft.com/en-us/powers

[2022-02-07 05:54] dingmeng-xue commented on #16984
We will verify it. If PL resource is consistent with others, we can add it.

[2022-02-07 06:03] dingmeng-xue commented on #16993
I believe it is due to the problem on service side.  @armleads-azure , please share more information if any.

[2022-02-07 06:13] dingmeng-xue commented on #16032
@VeryEarly , please revisit this issue again. In addition, we need to check whether ContainerRegisty service supports AAD access token now.

[2022-02-07 06:58] VeryEarly commented on #17014
Hi @noamaster ,

Thanks for reporting this bug, however
[code]
is not related to the issue you've seen, please try latest version of Az.Resources
https://www.powershellgallery.com/packages/Az.Resources/5.3.0

the keycredential issue should be fixed already.

[2022-02-07 07:13] VeryEarly commented on #16975
Hi @oising ,
Thanks for reporting this bug, I have made fix please expect new version of Az.Resources on 2022-03-01 PST

[2022-02-07 07:24] VeryEarly commented on #16869
Yes and it should be fixed in https://www.powershellgallery.com/packages/Az.Resources/5.3.0

[2022-02-07 07:29] VeryEarly commented on #16983
Hi @rezarms ,

Thanks for reporting this, as you have already found out, the API we are using does not return the up-to-date credentials, please try "Get-AzADAppCredential -ApplicationId $appid"

[2022-02-07 07:30] #16869 closed

[2022-02-07 07:49] rezarms commented on #16983
@VeryEarly  that's another issue.
If I use  "Get-AzADAppCredential -ApplicationId $appid" doesn't show expiry date if the password hasn't been renewed. It will work after renewing password but _Get-AzAdSpCredential_ shows it correctly before renewing.
It seems the issue is actually from api itself.

[2022-02-07 08:01] #16847 closed

[2022-02-07 08:01] #16841 closed

[2022-02-07 08:02] #16795 closed

[2022-02-07 08:09] #16764 closed

[2022-02-07 08:15] navba-MSFT commented on #12811
@t-bzhan Please update this github thread once you get a chance.

[2022-02-07 08:57] navba-MSFT commented on #10581
@helloyesthisisdave Apologies for the late reply. We are looking into this issue and I will update this thread once I have more details.

@anusapan @rkmanda Could you please provide an update on the fix ? Awaiting your reply.

[2022-02-07 09:01] VeryEarly commented on #16784
Hi @MikeBakerSAV ,

The parameter "MailEnabled" is a switch parameter, please use it as below:

- if you do not need mail to be enabled, do not provide this parameter
- if you want the mail to be enabled, provide "-MailEnabled" (no value needed)

[2022-02-07 09:19] VeryEarly commented on #16865
Hi @atedsimple ,
please try this work around

[2022-02-07 09:29] atedsimple commented on #16865
Thanks @VeryEarly this works but would be nice to do it all in the one command. I'm also planning to run this in a runbook and not sure if this appoach will support Managed Identity like I know the Az powershell modules do

[2022-02-07 09:38] PramodValavala-MSFT commented on #16842
@danewalton Apologies for the silence here. I am checking with the IoT Hub team for more insights.

I couldn't reproduce the same behavior, so I didn't find a workaround either. I suppose one way would be to run another cmdlet that requires an active instance to work (it might get the same error) and you could double check using that.

This can be achieved by checking the value of the `$?` variabl

[2022-02-07 10:52] rokuUK commented on #16964
`PS C:\windows\system32>
$databases = Get-AzSqlDatabase -ServerName "myservername" -ResourceGroupName "myresourcegroupname" #| Format-Table -AutoSize
$databases.count
WARNING: Upcoming breaking changes in the cmdlet 'Get-AzSqlDatabase' :
- The output type 'Microsoft.Azure.Commands.Sql.Database.Model.AzureSqlDatabaseModel' is changing
- The following properties in the output type are being deprecat

[2022-02-07 10:55] navba-MSFT commented on #16964
@rokuUK Thanks for getting back. We will now proceed with closure of this github thread. Feel free to reopen this thread if you need any further assistance. We would be happy to assist you further on this.

[2022-02-07 10:55] #16964 closed

[2022-02-07 11:09] blueww commented on #16992
@Agazoth

I might don't understand the issue clearly from the description.
Do you mean:
-  when you use `InvokeWebRequest` on the source file, the content of the file is fine.
- When you run Start-AzStorageBlobCopy to copy the file from source to the dest account, then use `InvokeWebRequest` to download the dest file, the content of the file is scrambled.
- The same scenario works well before on y

[2022-02-07 11:38] juliamaureen commented on #17006
Thank you. We ended up figuring it out but couldn't find it documented anywhere that you had to use -force.

Classified - Confidential
From: navba-MSFT ***@***.***>
Sent: Sunday, February 6, 2022 11:56 PM
To: Azure/azure-powershell ***@***.***>
Cc: Julia Vaughn ***@***.***>; Mention ***@***.***>
Subject: Re: [Azure/azure-powershell] Publish-AzWebApp throws NullReferenceException (Issue #17006)

AT

[2022-02-07 14:42] dingmeng-xue commented on #17005
I cannot reproduce this issue but I recollect there was an issue due to Azure.Core. Its dependency is changed and cannot work with old version of Az.Storage. Please try to use the latest version of Az.Storage 4.2.0

[2022-02-07 14:46] #12092 closed

[2022-02-07 18:04] Agazoth commented on #16992
@blueww

* When downloading the file from https://pxanltx.blob.core.windows.net/programmatic-export-pi directly to my local machine by either `Invoke-WebRequest` or just by pasting the link in the browser, the downloaded file is a csv with the expected data.

* When using `Start-AzStorageBlobCopy` to copy the csv file from https://pxanltx.blob.core.windows.net/programmatic-export-pi to my own stor

[2022-02-07 18:36] MrCNeale commented on #16993
Hi @dingmeng-xue this has been resolved now.
No code changes were made by us but whatever back end routing/caching/API issue was causing the problem appears to have been fixed

[2022-02-07 18:36] #16993 closed

[2022-02-07 21:37] dcaro commented on #16698
Once the rollout has been completed by Microsoft Graph the cmdlet behavior will be addressed.
In the meantime, we are exploring the possibility of having a preview module that would use the beta version of the API.

[2022-02-08 01:43] dingmeng-xue commented on #16993
Thanks for the information. I heard Azure service side may out-of-sync sometimes and make the result different. But as client, Azure PowerShell and our team have no insight on that. We can help to raise the problem to service team. Welcome to contact us.

[2022-02-08 01:56] SaurabhSharma-MSFT commented on #8410
@nidhi-pathak Do you have any updates on this issue ?

[2022-02-08 02:51] VeryEarly commented on #16865
Hi @atedsimple ,
Fact is the option "logoInputFile" is not supported by the PUT API for application, we will discuss with microsoft graph team about their plan but can't give a commitment from Azure-PowerShell side so far.

[2022-02-08 03:38] Frey-Wang commented on #15705
Still working on this.

[2022-02-08 04:22] blueww commented on #16992
@Agazoth

If the blob copy from https://pxanltx.blob.core.windows.net/programmatic-export-pi  to your storage account, change the content from plain csv to compressed, this looks more like a server side issue.

Would you:
1. Please make sure when you download dest blob from the dest account , you don't compress the downloaded blob on client side (like you just use `Invoke-WebRequest` to download t

[2022-02-08 04:32] dingmeng-xue opened #17034 "[Feature]: Add docker image based on Ubuntu 20.04"
### Description of the new feature

PowerShell base image supports Ubuntu 20.04 LTS. We should support it as well.

Alpine 3.14 is expected too.

### Proposed implementation details (optional)

_No response_

In addition, we need to verify Az is installed correctly or script of build should fail when docker build is failed.

[2022-02-08 04:37] dingmeng-xue opened #17035 "[Feature]: Tag latest to Ubuntu 20.04 docker image"
### Description of the new feature

Ubuntu 20.04 has released for almost 2 years (since 2020-04-23). Once we support 20.04, we need to consider to switch latest tag from ubuntu 18.04 to 20.04. We need to be consistent with PowerShell (it's 18.04 for the time being) and change it at Az major release.
 https://hub.docker.com/_/microsoft-powershell

### Proposed implementation details (optional)

_No

[2022-02-08 04:39] navba-MSFT commented on #10847
@MissaouiChedy Apologies for the delayed response. We are looking in this github issue. We will update this thread once we have more details on this.

@zakimaksyutov @pdrayton Could you please provide an update on this feature-request ask once you get a chance ? Awaiting your reply.

[2022-02-08 07:04] Agazoth commented on #16992
@blueww I'm ahead of you :-) - I have this case already: TrackingID #2202030040001772.

They told me to post the issue here. I have linked this thread in the case too.

[2022-02-08 08:04] blueww commented on #16992
@Agazoth

Powershell don't touch the blob content during the copy of Start-AzStorageBlobCopy , and there's not flag to indicate the blob content should be compressed or not in copy.
Powershell just send request to server to tell the copy should start. And server will handle all copy progress. So this is a server issue. We can't fix this from powershell code.

I can't see  the issue with the Tracki

[2022-02-08 08:09] navba-MSFT commented on #11680
@pcgeek86 Apologies for the late reply. Thanks for reaching out to us. I am doing some research on this issue. In the meantime, I wanted to check if you have tried invoking [this](https://docs.microsoft.com/en-us/azure/azure-monitor/essentials/metrics-store-custom-rest-api) REST API from the powershell and checked if that helps.
Awaiting your reply.

[2022-02-08 08:21] navba-MSFT commented on #11744
@theadzik Apologies for the late reply. We are looking into this issue. We will get back on this github thread once we have an update.

@ofirmanor Could you please update this github thread once you get chance ?

[2022-02-08 08:59] navba-MSFT commented on #15863
@Gill-Bates Apologies for the late reply. I did some research on this and below are my findings:

More Info [here](https://docs.microsoft.com/en-us/azure/storage/files/storage-files-monitoring-reference#capacity-metrics)

So I am assuming that might be the reason you are getting blank values. To workaround the issue, you could try to tweak the TimeGrain, mention the StartTime, Endtime too and run

[2022-02-08 10:59] navba-MSFT commented on #14178
@henriblMSFT Thanks for getting back. Please let us know if you have any further questions on this or are we good to proceed with closure of this github issue. Awaiting your reply.

[2022-02-08 11:02] navba-MSFT commented on #15749
@jmyerscough We will proceed with the closure of this github issue. If you need any further assistance on this, Please feel free to reopen this thread. We would be happy to help.

[2022-02-08 11:02] #15749 closed

[2022-02-08 12:26] navba-MSFT commented on #16024
@andymcadam The product owners are aware of this issue and they plan to work on it. There is no ETA for this feature yet. We will update this thread once we have more details.

[2022-02-08 12:38] matsest opened #17040 "[Az.Resources 5.3.0] New-AzADServicePrincipal throws error 'cannot call method on a null-valued expression'"
### Description

Error when running:

[code]

Verified with 5.2.0 (previous version) that this works.

### Issue script & Debug output

[code]

### Environment data

[code]

### Module versions

[code]

### Error output

[code]

[2022-02-08 12:52] matsest commented on #17040
Looks like the issue from Resolve-AzError lists that the `$PSBoundParameters['StartDate']` cannot be found.

Looking at #16924 it looks like the logic introduced with $param['StartDate'] and $PSBoundParameters['StartDate'] is nonconsistent and causes a reference to a null expression when the StartDate and EndDate is not set @veryearly @wyunchi-ms

[2022-02-08 13:31] SSKLCP commented on #17008
Happy to accept that the [REST API documentation supports this answer](https://docs.microsoft.com/en-us/rest/api/storageservices/create-account-sas).
That said, the PowerShell documentation / error message could be updated to reflect this.

[2022-02-08 15:40] t-bzhan commented on #12811
Hi @robertleelarson, Az.Cdn module added support for multiple origin since 1.6.0. The per-origin level origin host header update is supported as part of the implementation.

I tested with my local installed Az.Cdn 1.8.1, that works as expected.
[code]

Please update the Az.Cdn module version to see whether the issue is addressed.

[2022-02-08 22:52] SaurabhSharma-MSFT commented on #16953
@Gill-Bates As per internal discussions with the products team, there is no missing data in PS vs the REST API response and it seems that the resourceId is the only component of resourceMetadata and is indeed present.

Only thing is the naming convention is inconsistent i.e. it is "Metadata” in PS and “resourceMetadata” REST.  Please let me know if I am missing something.

Thnaks
Saurabh

[2022-02-09 02:25] t-bzhan commented on #6783
The commands works with no error with "Az.Cdn 1.8.1".
[code]
Please try upgrade the Az.Cdn module to see whether the issue is addressed.

[2022-02-09 02:25] #6783 closed

[2022-02-09 02:28] BethanyZhou commented on #16981
Hi @brwilkinson , thank you for your patience. Could you check your http response from
GET /subscriptions/xxxxxxx/resourceGroups/xxx/providers/Microsoft.Authorization/roleAssignments?api-version=2020-08-01-preview HTTP/1.1

We obtain the object type information from that API:
![image](https://user-images.githubusercontent.com/19869716/153110155-98460048-e3c3-4cee-ad0c-293de505eaa4.png)

[2022-02-09 02:46] brwilkinson commented on #16981
Hi @BethanyZhou I will get you to create a role assignment, then I will delete the service principal, then we can test.

in the microsoft tenant, can you search for this service principal  "ADF-AZC1-ADF-RG-G0" with objectId '5bde6791-c827-4321-8398-ccee461cf9e2' then perhaps just create some role assignment on some resource that you have?

![image](https://user-images.githubusercontent.com/3605266

[2022-02-09 03:05] BethanyZhou commented on #16984
Private link services provides:
- Get "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/privateLinkServices/{serviceName}/privateEndpointConnections"
- Get     "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/privateLinkServices/{serviceName}/privateEndpointConnections/{peConnectionName}"

Doesn't provide:

[2022-02-09 03:19] PramodValavala-MSFT commented on #16602
@marlobello Apologies for the lack of an update here! We are working with the team to get this feedback.

In the meanwhile, you can loop over the APIs and do a get for each, as a workaround. This returns the authentication settings as expected.

[2022-02-09 03:22] noamaster commented on #17014
Thanks @VeryEarly . I updated by Az module but I'm hitting a different error when I try the commandlet now. Note that I also updated my PowerShell version to 7.2.1.

Error:
[code]

This is when I use the commandlet like so:
[code]

Here's my installed modules after running Update-Module on Az:
[code]

Thanks for the help so far! I'll try to dig in more this weekend if you aren't seeing any other i

[2022-02-09 04:16] dingmeng-xue commented on #16984
Thanks @BethanyZhou ,

@johndowns , you have to use `Get-AzPrivateLinkService` to achieve your requirement. `{}-AzPrivateEndpointConnnection` and `{}-AzPrivateLinkResource` are cmdlets for all private link resources which have the same design pattern of API. But  `Microsoft.Network/privateLinkService` is not using the same design which doesn't have API of fetching private link resource. We cannot

[2022-02-09 04:23] t-bzhan commented on #13052
Hi @timpoth, service team has refined the certificate validation logic to reject the invalid operation earlier. Most of the validation errors (including the one you encountered) should be detected in the API call to trigger the https deployment now. Front Door service used to accept those invalid requests and fail the operation in the backend, you have to poll the operation status to get the exact

[2022-02-09 04:23] #13052 closed

[2022-02-09 05:18] navba-MSFT commented on #16286
@evanrappe Apologies for the late reply. Could you please use the [Get-AzPolicyState](https://docs.microsoft.com/en-us/powershell/module/az.policyinsights/get-azpolicystate?view=azps-7.2.0) cmdlet and test if that serves your requirement ?

Awaiting your reply.

[2022-02-09 06:07] thiruma0203 opened #17043 "Starting ACI container group with Invoke-AzResourceAction cmdlet with -ApiVersion "2021-09-01" sends unnecessary GET request, that leads to an error"
### Description

Starting Azure Container Instance container group with combination of Invoke-AzResourceAction and -ApiVersion "2021-09-01" causes an error.

`Invoke-AzResourceAction -ResourceGroupName myResourceGroup -ResourceName mycontainer -ResourceType Microsoft.ContainerInstance/containerGroups -Action Start -Force -ApiVersion "2021-09-01" -debug -verbose`

**Invoke-AzResourceAction : {"mess

[2022-02-09 06:17] DmitryMashkov-DM commented on #4649
Az.Storage 4.2.0, issue still present: >40% CPU usage on 24-core machine.

[2022-02-09 06:26] wyunchi-ms commented on #16804
You are welcome.

[2022-02-09 06:26] #16804 closed

[2022-02-09 06:39] t-bzhan commented on #13157
[Get-AzFrontDoorFrontendEndpoint](https://docs.microsoft.com/en-us/powershell/module/az.frontdoor/get-azfrontdoorfrontendendpoint?view=azps-7.2.0) is the suggested way to get the https status and settings for a front door frontend endpoint.

[code]

[2022-02-09 06:39] #13157 closed

[2022-02-09 06:45] blueww commented on #4649
@DmitryMashkov-DM

Please give more details for your repro, or better open a new issue and the original one is fixed, you issue might have different root cause, and following the issue template normally can get most information needed for investigation.

Please give :

1. The size/Count of file(s) that you upload/download?
2. Your repro script, hide credential
3. Please confirm the CPU usage > 40%

[2022-02-09 06:57] BethanyZhou commented on #16981
Thanks @brwilkinson  for your help. I have reproduced this issue on my local.

We get the object type is ServicePrincipal from GET /subscriptions/xxxxxxx/resourceGroups/xxx/providers/Microsoft.Authorization/roleAssignments?api-version=2020-08-01-preview.

[code]

Get-AzRoleAssignment gets basic directory object information from the API above, and queries further information about the directory obj

[2022-02-09 07:00] brwilkinson commented on #16981
Thank you @BethanyZhou for the update and summary information.

[2022-02-09 08:12] #16805 closed

[2022-02-09 10:08] rselie commented on #16612
I face still this issue. Is there already any news?

[2022-02-09 11:40] abbgrade commented on #14419
This is still broken in version 1.16.3 of Az.DataFactory @shawnxzq

[2022-02-09 11:41] premfix commented on #17010
I suppose this and other templates are stored here
`https://graph.microsoft.com/v1.0/applicationTemplates`

And yes, my account has acess to templates, because I can instantiate the app using Graph explorer (where I consented to delegated type permission Application.ReadWrite.All)
`https://graph.microsoft.com/v1.0/applicationTemplates/8adf8e6e-67b2-4cf2-a259-e3dc5476c621/instantiate`

According to

[2022-02-09 13:21] gautamdsheth commented on #17040
Yeah, a different but related error occurs when you `-ApplicationId` or `-ApplicationObject` params as well.
It is throwing

`New-AzADServicePrincipal: A parameter cannot be found that matches parameter name 'ApplicationId'.`

[2022-02-09 13:23] AjKundnani opened #17054 "New-AzADServicePrincipal: A parameter cannot be found that matches parameter name 'ApplicationId'."
### Description

When running cmdlet **New-AzADServicePrincipal** with Az.Resource Module version 5.3.0, updated from 5.2.0, I keep getting below error:
New-AzADServicePrincipal: A parameter cannot be found that matches parameter name 'ApplicationId'.

This happens whether I am trying with -ApplicationID Parameter or -ApplicationObject parameter.

### Issue script & Debug output

[code]

### Envir

[2022-02-09 13:49] matsest commented on #17040
@gautamdsheth Yes, it looks related to the [same change](https://github.com/Azure/azure-powershell/commit/ef08df65c2d6179d9a0bc067a5b8327efe1dbcd7#diff-ab37a5c642d1dde89af58c9c1b2ca18c864e7555c1e290e27de7488abcdad255L719) to New-AzAdServicePrincipal.

[2022-02-09 14:09] chris5287 commented on #16698
Is there an ETA for the MS Graph rollout?

[2022-02-09 14:45] tldevops commented on #17054
I'm experiencing the same issue with 5.3.0 of Az.Resources.

[2022-02-09 14:53] Jackldam commented on #17005
@dingmeng-xue

I have performed an module update but even with 4.20 i am getting this error.
[code]

[2022-02-09 14:56] Jackldam commented on #17005
@blueww

as requested

[code]

[2022-02-09 15:10] matsest commented on #17054
Related to #17040

[2022-02-09 16:15] evanrappe commented on #16286
@navba-MSFT I think with a bit of local filtering and counting I could get to where we needed for this, but it feels inefficient. It would be great if `Get-AzPolicyStateSummary` reported both compliant/noncompliant counts for a given assignment ID like `az policy state summarize`

Am I missing something, are these two not supposed to be equivalent commands?

[2022-02-09 17:00] pemontto commented on #15718
@dicolanl are we any closer to supporting the new APIs? I've been monitoring the releases, but the only reference to SecurityInsights is in v6.4.0 from September 2021.

Is there a better place to track updates and features?

[2022-02-09 17:02] dicolanl commented on #15718
Hi @pemontto  yes.  hoping to get out the door by the end of the month.  FYI, it will not cover watchlist due to an issue in the API, which will be fixed in the next version.

@tianderturpijn FYI.

[2022-02-09 18:36] kenieva commented on #16286
@evanrappe At what scope are you making this request? and its just for one particular assignment ID? I want to see if I can reproduce the issue on my side.

[2022-02-09 18:46] evanrappe commented on #16286
@kenieva Yeah, it's just for one assignment ID, but I'm making this request on a management group above all subscriptions, so there's unfortunately far more than 1000 results.

[2022-02-09 19:06] kenieva commented on #16286
Can you post the full query you are using? (expect for any MGNames, or other customer data).

[2022-02-09 20:19] evanrappe commented on #16286
To see that `Get-AzPolicyState` was capped at 1000 results, I used:
[code]

To see that `Get-AzPolicyStateSummary isn't returning the noncompliant count like az policy state summarize does, I used:
[code]

[2022-02-09 21:50] Tbohunek commented on #16381
@Drewm3 Imagine this worked for every `Get-AzSomething`, not just `-Vm`. Imagine also parity between `PowerShell` and `CLI`. 😉

[2022-02-10 00:30] jrdnbradford commented on #17054
I'm experiencing the same issue with `Az.Resources 5.3.0` except with the `CertValue` parameter instead of `ApplicationId`. I can file a separate issue if necessary.

[2022-02-10 00:31] cpdohert commented on #13158
Still occurs in PowerShell 7.2.1 and Az.Websites 2.8.3

[2022-02-10 02:01] dingmeng-xue commented on #17043
While ARM team look into the service error, I recommend that you can try `Start-AzContainterGroup` https://docs.microsoft.com/en-us/powershell/module/az.containerinstance/start-azcontainergroup?view=azps-7.2.0. It should support your requirement.

[2022-02-10 02:03] gavinbarron commented on #6843
I'm adding to this request.
It's a real struggle to create least privilege roles for background automation tasks that leverage Azure PowerShell or the az cli commands.
I mean the current state of play makes it attractive to do less secure things like give the identities running these automations much higher levels of permission than they need.

[2022-02-10 02:06] BethanyZhou commented on #16981
Deleting the orphaned accounts is important business case, and we supported this feature before. we consider this issue as regression. Will fix it.

[2022-02-10 02:10] dingmeng-xue commented on #17013
We need to try to search all warning message in Monitor module and avoid the same issue in other cmdlets.

[2022-02-10 03:13] #17006 closed

[2022-02-10 03:32] blueww commented on #17005
@Jackldam
 Would you please give the result of "Get-Module" after the issue repro?
And is the error detail is same as before.

@dingmeng-xue  Would you please help to look? Per the customer, has upgrade to Az.Storage 4.2.0 & Az.Account 2.7.2, but still meet the issue. And it looks the issue is from Az.Accounts.psm1.

[2022-02-10 04:17] yanjungao718 commented on #16987
Hi all, we have a work item tracking this issue, and will fix it ASAP.

[2022-02-10 04:49] MughundhanRaveendran-MSFT commented on #16883
Closing this issue as there is no response. Feel free to reopen

[2022-02-10 04:49] #16883 closed

[2022-02-10 05:48] dingmeng-xue commented on #16514
Let's close this one and revisit this feature after 7.2 has been largely adopted.

[2022-02-10 05:48] #16514 closed

[2022-02-10 06:02] navba-MSFT commented on #16998
@schuitenk Apologies for the late reply. Could you please leverage the PS [Remove-AzFirewall ](https://docs.microsoft.com/en-us/powershell/module/az.network/remove-azfirewall?view=azps-7.2.0#examples) cmdlet to remove the Azure Firewall ?

[code]

Please let me know if you face any issues with this. Awaiting your reply.

[2022-02-10 08:01] #16510 closed

[2022-02-10 08:55] dingmeng-xue commented on #17013
For reference
https://github.com/Azure/azure-powershell/blob/4668bff1cc4ed6510d9b0d4c6ec289ab27f04241/src/Monitor/Monitor/MonitorCmdletBase.cs#L90

[2022-02-10 09:30] #17034 closed

[2022-02-10 09:44] dingmeng-xue opened #17066 "[Feature]: Cover data plane cmdlets in Smoke test"
### Description of the new feature

The majority of data plane cmdlets are not covered by smoke test. We need to cover them. We just need to ensure the cmdlet can be loaded correctly using below example
[code]
`Invoke-AzOperationalInsightsQuery` is data plane cmdlet. If module is partially imported, data plane cmdlet cannot be found by `Get-Command`.

### Proposed implementation details (optional)

[2022-02-10 11:21] obayesshelton commented on #16846
@dingmeng-xue that didn't make any difference. Sorry. This is my code

[code]

[2022-02-10 11:22] obayesshelton commented on #16846
@dingmeng-xue hopefully this is how you expected me to use `$DebugPreference = "Continues"`

[2022-02-10 11:29] obayesshelton commented on #16854
Hey @BethanyZhou as per the other ticket. This doesn't work.

The script finishes and completes as I can see things in the database etc but PowerShell doesn't know it has completed.

[2022-02-10 12:14] schuitenk commented on #16998
Remove-AzFirewall gives the same result as Remove-AzResource

[2022-02-10 12:33] dingmeng-xue commented on #16846
Sorry. there is a typo. It should be `$DebugPreference = "Continue"`. Then, you should see the debug message during cmdlet execution.

[2022-02-10 13:25] Jackldam commented on #17005
@dingmeng-xue  as requested my output below.

[code]

[2022-02-10 13:26] cvs79 commented on #17040
Get-AzADApplication -IdentifierUri also doenst return the app registration anymore. It errors out with

Az.Resources\5.3.0\MSGraph.Autorest\internal\ProxyCmdletDefinitions.ps1:874:23
Line |
 874 |          $scriptCmd = {& $wrappedCmd @PSBoundParameters}
     |                        ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
     | Invalid filter clause

[2022-02-10 13:46] navba-MSFT commented on #16998
@schuitenk Thanks for getting back. I created a new Az Firewall resource in WestEurope region (same location as that of your resource). I was successfully able to perform the Remove operation using [Remove-AzFirewall ](https://docs.microsoft.com/en-us/powershell/module/az.network/remove-azfirewall?view=azps-7.2.0#examples)cmdlet and also using [Remove-AzResource](https://docs.microsoft.com/en-us/p

[2022-02-10 14:17] larsvillaume commented on #17054
same here issue here with 5.3.0 of Az.Resources.

[2022-02-10 20:02] JustinGrote commented on #16874
Still an issue.

[2022-02-11 01:39] bganapa commented on #11384
This is fixed in the recent versions of Azs.Storage.Admin module

[2022-02-11 01:39] #11384 closed

[2022-02-11 01:41] bganapa commented on #9063
This is fixed in Az version of the modules. The latest Azurestack specific 2020-09-01-hybrid profile Az modules have the fix

[2022-02-11 01:41] #9063 closed

[2022-02-11 01:42] #9253 closed

[2022-02-11 02:27] VeryEarly commented on #17040
Hi @cvs79 ,
This issue is fixed in https://www.powershellgallery.com/packages/Az.Resources/5.3.1, please try this latest version.
Thanks for reporting.

[2022-02-11 02:29] VeryEarly commented on #17054
Hi @jrdnbradford @larsvillaume @tldevops ,

Please find the hotfix https://www.powershellgallery.com/packages/Az.Resources/5.3.1,
Thanks for reporting.

[2022-02-11 07:11] #15654 closed

[2022-02-11 10:35] obayesshelton commented on #16846
@dingmeng-xue which screen / tab do you need the output from?

[2022-02-11 11:43] LukeDearden commented on #15848
Same issue here

Also I found the same problem when attempting this deployment though a WebApp ARM Template.

Interestingly it does create the certificate if you check with Get-AzWebAppCertificate -ResourceGroupName $AppServicePlanResourceGroupName

[2022-02-11 12:00] hansatpm commented on #15848
@LukeDearden
You are correct the same happens if you deplay from ARM template. This is to be expected because the ARM template and New-AzWebAppCertificate Geet both use the same REST API.

[2022-02-11 12:31] HarriJaakkonen commented on #12431
Completely agreed, the following error message "should have even number of parts" don't give any ideas on what wrong.

[2022-02-11 13:16] AndrevdG commented on #16998
This logic is part of an Azure Devops Pipeline running on hosted agents, so presumably this should not be a module issue. But, I have updated my local machine again just with the last possible modules. When trying from my local powershell terminal:

![image](https://user-images.githubusercontent.com/16894144/153597451-e27f0b15-bc01-41f7-a8aa-2f8420e85ff2.png)

I tried to use the try-it link you pr

[2022-02-11 13:22] julian-wendt opened #17086 "Get-AzAutomationRunbook not returning runbook description"
### Description

Not sure if this is a bug. I am wondering that `Get-AzAutomationRunbook` only returns a runbook description if a single runbook is explicit mentioned with `-Name`.

For example, this would not return a runbook description:
[code]

Instead I have to loop through all previously received runbooks and once again run Get-AzAutomationRunbook -Name:
[code]

### Script or Debug output

_N

[2022-02-11 13:25] navba-MSFT commented on #16998
@AndrevdG Thanks for your reply. I tried to run the same from cloud shell and I faced the same issue. I am checking this internally with our Product Owners. I will get back on this thread once I have more details on this. cc @schuitenk

[2022-02-11 13:44] KakuBB opened #17087 "Az.Accounts 2.7.2 missing dlls"
### Description

In Az.Accounts module version 2.7.2 the 'System.ServiceModel.Primitives.dll' and the 'System.Private.ServiceModel.dll' are missing from the PreloadAssemblies folder, causing depended functions (e.g. Save-AzVhd) to fail with the following error:

Could not load file or assembly 'System.ServiceModel.Primitives, Version=4.2.0.0, Culture=neutral,
PublicKeyToken=b03f5f7f11d50a3a' or on

[2022-02-11 15:33] dingmeng-xue commented on #17087
Thanks for reporting. The problem should be related to #16063 . We will work with compute team to know which version is required. For the time being, please use old version of Az.Accounts.

[2022-02-11 17:24] felickz commented on #17054
Holy cow did i jump down the rabbit hole by updating Az modules :(

Similar but different - is ROLE now deprecated?  Still showing in docs: https://docs.microsoft.com/en-us/powershell/module/az.resources/new-azadserviceprincipal?view=azps-7.2.0

`New-AzADServicePrincipal: A parameter cannot be found that matches parameter name 'Role'.`

[2022-02-11 20:22] dcaro commented on #17054
@felickz the '-Role' parameter is still present and should work in any parameter set.
For example: `New-AzADServicePrincipal -DisplayName 'myserviceprincipal' -Role Reader`
Please make sure that you have Az.Accounts v2.7.2 and Az.Resources 5.3.1

[2022-02-11 20:51] felickz commented on #17054
thanks 5.3.0 to 5.3.1 was issue for me there

[2022-02-11 20:55] felickz commented on #17054
Thanks, i dont know how to powershell .. this was my issue:

[code]

[2022-02-11 20:58] dcaro commented on #17054
The parameter is optional (marked between [] in the doc), if the role is not needed, you can omit the parameter in the command.

[2022-02-11 21:01] danwkennedy opened #17088 "Breaking Change: New-AzAdSpCredential and New-AzAdAppCredential overwrite existing secrets in 7.x.x"
### Description

We use `New-AzAdSpCredential` to rotate our SP/application certificates and recently upgraded our `Az` module from `v6.6.0` to `7.2.0`. Prior to our upgrade, calls to `New-AzAdSpCredential` would simply add a new certificate to the SP's credentials. After the upgrade, calls to `New-AzAdSpCredential` started overwriting the existing certificates on the SP in favor of the one. This

[2022-02-11 21:06] danwkennedy commented on #17088
This behavior is mentioned [here](https://github.com/Azure/azure-powershell/issues/17014) in passing but this is a big enough change in behavior to warrant its own issue.

[2022-02-11 21:09] jrdnbradford commented on #17054
I'm still having issues with the `CertValue` parameter:
[code]
## Versions
[code]

## Error Output
[code]

[2022-02-11 22:34] SaurabhSharma-MSFT commented on #17043
@thiruma0203 I see the same behavior in my environment as well as in Cloud Shell on Azure portal and redirecting this to service team to look into.
![image](https://user-images.githubusercontent.com/38112130/153679812-9e8c9d10-a499-40be-a74b-edda28fd584c.png)

[2022-02-11 23:06] SaurabhSharma-MSFT commented on #17086
@julian-wendt This behavior looks like correct as when you are using `Get-AzAutomationRunbook` with `AutomationAccountName" and "ResourceGroupName" parameters, you are going to get all runbooks in the Azure Automation account (which you are passing through **AutomationAccountName**). Also, if you want to get any specific runbook, you need to specify its name by using the `-Name` parameter.
Please

[2022-02-12 00:56] daveops1 commented on #17054
Will this also get ported to the Azure Cloud shell as well?

[2022-02-12 06:27] navba-MSFT commented on #16998
@AndrevdG @schuitenk I have discussed this issue with the Azure Firewall Product Group team and they will check this in the background. Could you please create a support ticket and let me know the ticket # ? So that I can have them prioritize it internally to find the root cause. Awaiting your reply.

[2022-02-13 18:47] vexingpos opened #17090 "Cannot set 'accessTokenAcceptedVersion' for app registration"
### Description

I am trying to use PowerShell to configure the `accessTokenAcceptedVersion` property of my app registration but not able to.

# Error
[code]

### Issue script & Debug output

[code]

### Environment data

[code]

### Module versions

[code]

### Error output

[code]

[2022-02-14 02:59] johndowns commented on #16984
@dingmeng-xue I understand that this is currently the behaviour based on the underlying APIs. However, I think there should be two actions here:

1. We should ask the Private Link Service team to support the same APIs as other Private Link resources, so you can make this work consistently.
2. In the meantime, can the CLI provide a better error message than `Object reference not set to an instance

[2022-02-14 03:09] dingmeng-xue opened #17091 "Get-AzPrivateEndpointConnection shows friendly message if rp and resource is not supported"
### Description

From #16984

Azure PowerShell provides error message `Object reference not set to an instance of an object` when rp or resource is not supported. Cmdlet should show better message to end user.

Besides `Get-AzPrivateEndpointConnection`, other cmdlets relying on configuration list should show better message as well.

### Issue script & Debug output

[code]

### Environment data

[c

[2022-02-14 03:16] dingmeng-xue commented on #16984
I changed the title to reflect the first requirement. It means that Az.Network needs to add flag to indicate RP/resource is not private link resource but supports PrivateEndpointConnection.

[2022-02-14 03:18] dingmeng-xue commented on #14399
It sounds the same issue as #16984. Please confirm

[2022-02-14 03:31] johndowns commented on #14399
Originally this was a different issue, but based on the information you've provided in #16984 I think we can consider this to be a duplicate.

[2022-02-14 03:50] francisferreira commented on #17054
Same question as @daveops1 here... The fix is not very helpful if it is not ported to Azure Cloud Shell.

[2022-02-14 05:09] dingmeng-xue commented on #14399
We will consider to all Get-AzPrivateEndpointConnection supports network/privatelinkservice. Close this one and track requirement by #16984

[2022-02-14 05:09] #14399 closed

[2022-02-14 07:01] g-raskar commented on #16612
I am also facing this issue. However, pinning Az.Sql to version `3.5.0` works.
`
Install-Module -Name Az.Sql -RequiredVersion 3.5.0 -Force
#Import-Module SQLServer
Import-Module -Name Az.Sql -RequiredVersion 3.5.0
`

[2022-02-14 07:14] AndrevdG commented on #16998
@navba-MSFT :
@schuitenk already created the support request on the 3rd of Februari: #2202030050001635

[2022-02-14 07:22] VeryEarly commented on #17054
Hi @jrdnbradford

The above Az.Resources 5.3.1 fixed the reported issue only,
However the CertValue parameter was fixed already and will be available on 2022-03-01.

Sorry for the inconvenience.

[2022-02-14 07:24] navba-MSFT commented on #16998
@AndrevdG @schuitenk I just looked at the status of the support ticket. I see that currently we are waiting for the update from the Product Group team on the fix. I have followed-up again with them for the fix. I will update this thread once I have more details on this. We appreciate your patience on this.

[2022-02-14 07:29] wyunchi-ms commented on #17035
We need to wait PowerShell team to modify the tag to `ubuntu-20.04` first

[2022-02-14 09:26] Aurilium opened #17103 "Commands run once only, then throw error sending the request"
### Description

Hi, I'm not sure if this fits better into bug reports or questions to Az but I'm facing severe problems with the Az module preventing me to use Azure with PowerShell.
My problem:
I installed the Az module (details below at "What I did") and started testing the connection testing some basic cmdlets for querying resources lists and similar. Everything was fine until I executed one c

[2022-02-14 11:37] sarah026 opened #17104 "Connect-AzAccount -Tenant <ID> connects with wrong account"
### Description

Hi

I have two tenants, if I try to connect to each other with each other's accounts, I don't get an error... it seems to tell me it is all fine. I expect it to say "this account doesn't belong to this tenant, bugger off"

This is what I'm doing.

`Disconnect-AzAccount `
`Clear-AzContext -Scope CurrentUser -Force`
`Connect-AzAccount -Tenant $tenant2 -WarningAction SilentlyContinue

[2022-02-14 11:58] navba-MSFT commented on #11390
@erwinkramer Apologies for the late reply. Could you please test this and let us know if you are still facing this issue ? Awaiting your reply.

[2022-02-14 15:05] reidcurry commented on #9122
Did anyone find a solution to this?

[2022-02-14 15:15] iBowler1995 opened #17105 "Add-AzMetricAlertRuleV2 - Issue trying to create memory alert"
### Description

When trying to create a memory alert I get the following error:

Add-AzMetricAlertRuleV2 : Exception type: ErrorResponseException, Message: You can't define a scope that is different from the selected target resource type.

Here is the following code I use:

[code]

The weird thing is, I can set CPU and disk alerts just fine on the same server in the same group. Below is the code

[2022-02-14 15:47] jrdnbradford commented on #17054
No worries, thanks for the info!

[2022-02-14 16:13] pinakighatak commented on #9122
Yes, you use Azure Bicep templates like this

[code]

[2022-02-14 16:23] lukinsb commented on #16450
### Description

I am having the same issue reported under the same conditions, my tools versions are:
Blob: Microsoft.Azure.Storage.Blob.CloudBlockBlob, Microsoft.Azure.Storage.Blob, Version=11.2.2.0
BlockListingFilter: Microsoft.Azure.Storage.Blob.BlockListingFilter, Microsoft.Azure.Storage.Blob, Version=11.2.2.0

I also tried passing $null on the requestOption field to see if the error should c

[2022-02-14 16:39] felickz commented on #17014
I can reproduce the same:

[code]

running:
[code]

[2022-02-14 19:54] dcaro opened #17107 "[Eng]: Update reference doc for Invoke-AzRestMethod"
### Description

Update the -Path description in the reference documentation for `Invoke-AzRestMethod` to indicate that it should not include the management API endpoint URL (ex: ''https://management.azure.com')

[2022-02-15 00:40] SaurabhSharma-MSFT commented on #16953
@Gill-Bates We are proceeding with the closure of this case. Please let us know in case any other questions arise. Thanks

[2022-02-15 00:40] #16953 closed

[2022-02-15 01:23] dingmeng-xue commented on #17035
Below content on DockerHub needs to be updated
[code]

[2022-02-15 01:44] SaurabhSharma-MSFT commented on #9248
@daviburg @pankajsn  Do you have any updates on this.

[2022-02-15 01:48] SaurabhSharma-MSFT commented on #9046
@jaredmoo Do you have any updates on this issue.

[2022-02-15 01:52] SaurabhSharma-MSFT commented on #9413
@vivlingaiah @mgreenegit Do you have any updates.

[2022-02-15 03:49] navba-MSFT commented on #9931
@leowu-msft Apologies for the delay in getting back. I have heard back from the Product Owners. This issue will be worked on in April and should be out by May. In the meantime, you can follow the workaround suggested [here](https://github.com/Azure/azure-powershell/issues/9931#issuecomment-528091457). If you face any issues or have any questions please reach out to us. Awaiting your reply.

[2022-02-15 08:20] poikjo commented on #17014
I'm seeing same issue of "Cannot convert the literal... to the expected type 'Edm.Binary'" while using New-AzADApplication with KeyCredentials. Module versions are same as above.

[2022-02-15 10:11] hatvik commented on #11293
@Sharmistha-Rai Still no update on this?

[2022-02-15 10:53] Sharmistha-Rai commented on #11293
@hatvik - no, but our next semester planning is coming up. We will try to prioritize this item.

[2022-02-15 11:08] thiruma0203 opened #17123 "[Doc]: New-AzContainerInstanceVolumeMountObject should be called before creating a ACI container group with New-AzContainerGroup to mount Azure File share"
### Description

https://docs.microsoft.com/en-us/powershell/module/az.containerinstance/new-azcontainergroup?view=azps-7.1.0#example-6--create-a-container-group-that-mounts-azure-file-volume

Cmdlet reference for New-AzContainerGroup shows how to create a container group that mounts Azure Files with below sequence.

` $volume = New-AzContainerGroupVolumeObject -Name "myvolume" -AzureFileShareName

[2022-02-15 11:26] JeKlSt opened #17125 "Az modules remain after successful uninstallation"
### Description

I try to clean up my outdated Az Versions and want to uninstall them. I tried a lot of things already. All of the approaches use the

`Uninstall-Module` command, which seems to uninstall the respective modules successfully (based on the output of the command). However the modules reside on the PC and with

`Get-Module -ListAvailable` they will still be listed in the output.

Even

[2022-02-15 12:25] rezarms commented on #16983
I called the api directly in Azure AD graph and Microsoft graph and it seems it's a bug.
I already raised it to Microsoft and waiting for their confirmation.

https://docs.microsoft.com/en-us/answers/questions/730637/microsoft-graph-doesn39t-show-latest-service-princ.html

[2022-02-15 13:07] erwinkramer commented on #11390
@navba-MSFT it does return external groups now, tested with **Az.ApiManagement 2.3.1** so this issue is solved, thanks.

[2022-02-15 13:07] #11390 closed

[2022-02-15 13:11] muzzar78 commented on #16870
Hi @VeryEarly, I have just tested with Az.Resources 5.3.0 and can confirm this is now working.
[code]

Thanks.

[2022-02-15 15:13] mgreenegit commented on #9413
@nitinbps

[2022-02-15 16:03] UJJAVALKR commented on #16368
@navba-MSFT Workaround provided by  @wonner  is just to start or stop single trigger at a time, but as part of Synapse Workspace deployment we need to stop all the triggers and start is back once the deployment is succeeded.
Let me know if your team has a workaround for this.

[2022-02-15 19:54] SatishBoddu-MSFT commented on #16740
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

Please also do visit [Microsoft Q&A](https://docs.microsoft.com/en-us/answers/index.html) the home for technical questions and answers at Microsoft.

[2022-02-15 19:54] #16740 closed

[2022-02-15 22:17] iBowler1995 commented on #17105
I'm so dumb. I had a type. Microsoft.Computer is what I used instead of Microsoft.Compute.

[2022-02-15 22:17] #17105 closed

[2022-02-15 23:49] SaurabhSharma-MSFT commented on #9022
@vnetsuppgithub @avijitgupta  @chandrasekarsrinivasan Do you have any updates on this issue.

[2022-02-16 02:58] dapt1989 opened #17131 "Error when attempting to create New-AzADApplication"
### Description

We have a script that creates a Azure AD Application using the following command:
New-AzAdApplication -DisplayName $AppDisplayName -IdentifierUris $IdentifierURI -CertValue $secret -StartDate $CertObj.StartDate -EndDate $CertObj.EndDate

The Cert value we pass in is generated in a previous step in an Azure Key Vault which is signed with a OneCert issuer. This value is then pulled

[2022-02-16 04:21] navba-MSFT commented on #16368
@wonner @zesluo Please let us know if you have an update on the permanent fix. Awaiting your reply.

[2022-02-16 07:27] BethanyZhou commented on #16991
Thanks for reporting @RuvdH and @rzilahi .

We are fixing this issue and new release will be available in next version (about 03/01).
In new version,
- RoleDefinitionName will show correctly for custom roles
- RoleDefinitionId will be unified as GUID.

[2022-02-16 07:34] MathanRamadurai commented on #14017
Hi shawnxzq,
Good day, we are also facing the same issue, does this being resolved. Any updated would be much appreciated.

Kind Regards
Mathan R

[2022-02-16 08:01] #16794 closed

[2022-02-16 08:20] navba-MSFT commented on #14385
@vivere-dally Apologies for the late reply. Could you please follow [this](https://docs.microsoft.com/en-us/azure/cloud-services-extended-support/deploy-powershell) article and let us know if you are still facing this issue ? Awaiting your reply.

[2022-02-16 08:30] vivere-dally commented on #14385
No worries! I am not facing this issue anymore. I think I will close it.

[2022-02-16 08:30] #14385 closed

[2022-02-16 08:54] dingmeng-xue commented on #17090
Hi @vexingpos , the service doesn't support that property. https://github.com/microsoftgraph/msgraph-sdk-powershell/blob/dev/openApiDocs/v1.0/Applications.yml
Could you check further?

[2022-02-16 09:09] dingmeng-xue commented on #17103
Hi @Aurilium , thanks for contacting us.

According to the debug message, module is installed successfully and HTTP request is created. But request cannot be sent out due to unknown reason.  Could you things you can check?
1. Is there proxy setting?
2. Could you leverage HTTP traffic monitor tool at client such as Fiddler? Fiddler might show more information about HTTP communication.
3. Try this c

[2022-02-16 09:15] dingmeng-xue commented on #17104
Thanks for contacting us.

Empty subscription is one valid case in special scenario. The latest `Connect-AzAccount` allows user to specify account id. Could you append `-AccountId` when you use `Connect-AzAccount`?

[2022-02-16 09:21] dingmeng-xue commented on #17131
@VeryEarly , please look into it.

[2022-02-16 09:34] navba-MSFT commented on #12776
@RishiMaini Apologies for the late reply. Could you please let us know if you are still facing this issue ?

[2022-02-16 09:45] Manbearpiet opened #17142 "[Feature]: Update API-versions referenced retrieved with Get-AzResourceProvider"
### Description of the new feature

Get-AzResourceProvider returns old API-versions of resources, but not newer resources.
Same with az provider list.

i.e. resource group:

[code]
With this output, the latest Resource API-version seems to be 2019-05-01
While the reference has at least 10 new versions (previews not included):

![image](https://user-images.githubusercontent.com/43993129/154238098-0

[2022-02-16 09:59] navba-MSFT commented on #13579
@Tornhoof Apologies for the late reply. We are looking into this issue and we will update this thread once we have more details.

@avirishuv Could you please provide an update on this issue ? Awaiting your reply.

[2022-02-16 10:07] navba-MSFT commented on #13815
@airwalk-neilashbysenior Apologies for the late reply. We are looking into this issue. We will update this thread once we have more details.

@jaylabell Could you please share an update on this once you get a chance ? Awaiting your reply.

[2022-02-16 10:14] navba-MSFT commented on #14000
@Henryzhaoheran Apologies for the late reply. We are looking in to this issue and we will provide an update once we get a chance.

@jaylabell I see the work item is still active. Could you please let us know the ETA for the fix ? Awaiting your reply.

[2022-02-16 11:50] navba-MSFT commented on #14415
@vivere-dally Apologies for the late reply. We are looking into this issue. We will update this thread once we have more details. In the meantime, if you need any further assistance on this issue, do let us know.

@amjads1  Could you please provide an update on the docs update request ? Awaiting your reply.

[2022-02-16 12:05] navba-MSFT commented on #14551
@olandese Apologies for the late reply. We are looking into this issue. We will update this thread once we have more details. In the meantime, if you need any further assistance on this issue, do let us know.

@Drewm3 Could you please provide an update on the fix ? Awaiting your reply.

[2022-02-16 12:06] navba-MSFT commented on #15526
@bjosafa Apologies for the late reply. We are looking into this issue. We will update this thread once we have more details. In the meantime, if you need any further assistance on this issue, do let us know.

@jaylabell Could you please provide an update on this issue ? Awaiting your reply.

[2022-02-16 12:07] navba-MSFT commented on #15617
@JustinGrote Apologies for the late reply. We are looking into this issue. We will update this thread once we have more details. In the meantime, if you need any further assistance on this issue, do let us know.

@jaylabell Could you please provide an update on this issue ? Awaiting your reply.

[2022-02-16 12:08] navba-MSFT commented on #15942
@Gill-Bates Apologies for the late reply. We are looking into this issue. We will update this thread once we have more details. In the meantime, if you need any further assistance on this issue, do let us know.

@Drewm3 Could you please provide an update on this issue ? Awaiting your reply.

[2022-02-16 12:14] navba-MSFT commented on #15999
@stevemorris1106 Apologies for the late reply. We are looking into this issue. We will update this thread once we have more details. In the meantime, if you need any further assistance on this issue, do let us know.

@avirishuv Could you please provide an update on the fix ? Awaiting your reply.

[2022-02-16 12:19] LukeDearden commented on #17014
Same issue trying to push new certs using New-AzADAppCredential

I had to roll back to AZ 7.1.0 which provides AZ.Resources 5.2.0 to get this working again

[2022-02-16 13:57] JeKlSt commented on #17125
I tried the approach given here and it seems to work:
https://techcommunity.microsoft.com/t5/azure/redirection-of-the-documents-windowspowershell-folder-to/m-p/2390961

[2022-02-16 13:57] #17125 closed

[2022-02-16 14:21] jackfruhecolab opened #17143 "Get-AzContext is unable to detect password changes to account and is unreliable"
### Description

Get-Azcontext cannot be reliably used as a way to determine if the user is connected to azure.

I believe the problem may involve accounts with auto rotating passwords.

Example:
Monday: Connect-azaccount, then do work as normal.
Monday at midnight - account password is reset in AAD.
Tuesday: Run Get-AzContext to see if account is logged in - This command returns information, as i

[2022-02-16 15:36] Aurilium commented on #17103
Hi @dingmeng-xue thank you for your response!
There are proxy settings but they work for the other scripts I developed or used currently, e.g. for SPO using the PnP module and even with the problematic Az it does work the first time I execute any command. Could it be a proxy problem anyway? (Odds are not too bad for that, because I work in a quite restricted network environment but the behaviour d

[2022-02-16 15:41] dingmeng-xue commented on #17143
Thanks for reporting. It is be design. In the most cases, credential won't be changed with high frequency but check all context is expensive. We rely on customer to make the call. If credential might be changed, calling `Connect-AzAccount` or `Get-AzResourceGroup` can detect kind of error.

[2022-02-16 15:53] dingmeng-xue commented on #17142
Hi Manbearpiet, I believe it is a service bug. I checked the response of providers API about resourceGroup, Its return doesn't contains new API version newer than 2019-05-01. If it blocks you, I will include service team.

[2022-02-16 17:07] dcorbin-wintellect commented on #14508
As of today (in a fresh environment, so everything should be up to date)... still getting the cryptic error of
`New-AzDeployment: Cannot retrieve the dynamic parameters for the cmdlet. Cannot find path 'C:\Users\David.Corbin\AppData\Local\Temp\59950199-84c1-4b09-ac62-c8a015a13fc9\Create-Infrastructure.json' because it does not exist.`
under various error conditions...

[2022-02-16 17:18] sagarkalangi opened #17144 "Unable to install azure powershell using "install-module" command"
### Description

Am trying to install azure module using below command and facing multiple errors on diff submodules. whereas individual submodules are installing correctly.

Install-module -name az

![image](https://user-images.githubusercontent.com/28378322/154318335-63499a79-209f-42bd-8f86-d214b7e4a541.png)
![image](https://user-images.githubusercontent.com/28378322/154318504-e97f39ab-5a1b-4cef

[2022-02-16 19:04] vexingpos commented on #17090
Hi @dingmeng-xue

The property is called `requestedAccessTokenVersion` and is defined here:

https://github.com/microsoftgraph/msgraph-sdk-powershell/blob/dev/openApiDocs/v1.0/Applications.yml#L7418

[2022-02-16 19:49] azurekid commented on #15718
@pemontto I'm working on a new Microsoft Sentinel PowerShell module
You can follow this on my GitHub [SecureHats - MsSentinel](https://github.com/SecureHats/MsSentinel )

[2022-02-16 20:05] felickz commented on #17131
Same as reported in #17014

[2022-02-16 20:53] Francisco-Gamino commented on #10998
To enable this scenario, we need the equivalent to these https://docs.microsoft.com/en-us/cli/azure/functionapp/keys?view=azure-cli-latest#commands commands in `Az.Functions`.

List keys:
[code]

Update/set keys:
[code]

Delete keys:
[code]
Delete keys needs to support `ShouldContinue` and `ShouldProcess` to ask for confirmation before deleting the key. To bypass this, the user can specify `-Force

[2022-02-16 21:34] Francisco-Gamino commented on #10998
Hello @navba-MSFT -- We have a plan as shown above. We are trying to schedule the work in the next few months.

[2022-02-17 01:56] dingmeng-xue commented on #17144
Thanks for contacting us. It seems an issue on your environment and network connection. My suggestion is please remove all azure powershell modules and install them again after PowerShell is restarted. In addition, please try PowerShell 7.

[2022-02-17 02:04] BethanyZhou commented on #14508
Thanks for reporting @dcorbin-wintellect . What's your Az.Resources version. Please try to get that by `Get-Module`

[2022-02-17 02:10] VeryEarly commented on #17131
Hi @dapt1989 @felickz
this was caused by incorrect swagger definition:
https://github.com/microsoftgraph/msgraph-sdk-powershell/blob/dev/openApiDocs/v1.0/Applications.yml#L6910
should be "byte" instead of "base64url"

I have fixed it in Az.Resources, will be available on 2022-03-01

[2022-02-17 02:11] VeryEarly commented on #17014
Hi @LukeDearden @poikjo @noamaster
this was caused by incorrect swagger definition:
https://github.com/microsoftgraph/msgraph-sdk-powershell/blob/dev/openApiDocs/v1.0/Applications.yml#L6910
should be "byte" instead of "base64url"

I have fixed it in Az.Resources, will be available on 2022-03-01

[2022-02-17 02:26] dingmeng-xue commented on #17090
The inconsistency between Portal and other client tools is known problem. Sometime it's really confusing user. Azure PowerShell respects swagger definition and ensure consistency with other client tools.

Once you use `requestedAccessTokenVersion`, does it work now?

[2022-02-17 03:38] navba-MSFT commented on #10998
Thanks for the update @Francisco-Gamino.

[2022-02-17 04:29] navba-MSFT commented on #16381
@JustinGrote Apologies for the late reply. We are looking into this issue and we will update this thread once we have moe details.

@Drewm3 Could you please provide an update on this feature ? Awaiting your reply.

[2022-02-17 04:39] navba-MSFT commented on #16566
Thanks @grizzlytheodore for looking into this.

@yordanbechev Could you please let us know if you have any further queries on this or need any further assistance ?

[2022-02-17 04:53] navba-MSFT commented on #16597
@MrFly72 Apologies for the late reply. The similar issue was reported here #16689 too. Seems like using the [latest version ](https://www.powershellgallery.com/packages/Az.Compute/4.23.0) resolves the issue. Could you please try that let us know if that helps ? Awaiting your reply.

[2022-02-17 05:54] VeryEarly commented on #17088
Hi @danwkennedy ,

Thanks for reporting this bug, I have made fix and new version of Az.Resources should be available on 2022-03-01 PST.

[2022-02-17 06:06] navba-MSFT commented on #12142
@aubrey-y Apologies for the late reply. Thanks for raising this issue. We have filed a PR #17149 to include an example as mentioned in your comment. In the meantime, if you have any questions on this, do let us know. We could be happy to help. Awaiting your reply.

[2022-02-17 06:17] navba-MSFT commented on #12090
@erwinkramer Apologies for the late reply. Refer the sample [output](https://docs.microsoft.com/en-us/powershell/module/az.apimanagement/get-azapimanagementsubscription?view=azps-7.2.0#example-6--get-all-subscriptions-for-a-product-and-user-scope) given under the examples. This issue is open for quite sometime now. Please let us know if you have any questions or need any assistance on this. Awaiti

[2022-02-17 06:35] navba-MSFT commented on #11811
@nareshbonagiri Apologies for the late reply. Could you please refer [this](https://docs.microsoft.com/en-us/powershell/module/az.apimanagement/new-azapimanagementoperation?view=azps-7.2.0#example-2--create-an-api-management-operation-with-request-and-response-details) article for using the QueryParameters for the APIM operation and see if that helps ? Also this issue is open for quite sometime. P

[2022-02-17 06:54] dingmeng-xue opened #17150 "ConnectedPrivateLinkScope should be ConnectedMachinePrivateLinkScope"
### Description

Below cmdlets in Az.ConnectedMachine should be renamed and use ConnectedMachine as prefix.

Get-AzConnectedPrivateLinkScope
New-AzConnectedPrivateLinkScope
Remove-AzConnectedPrivateLinkScope
Set-AzConnectedPrivateLinkScope
Update-AzConnectedExtension
Update-AzConnectedPrivateLinkScopeTag

### Issue script & Debug output

[code]

### Environment data

[code]

### Module versions

[

[2022-02-17 07:20] dcaro commented on #17143
@jackfruhecolab the Azure PowerShell context is an object used to hold subscription information and authentication information like account name and the intent of the `Get-AzContext` cmdlet is to obtain the metadata of the context used but not to verify its validity. Making a validation of the context would induce unnecessary calls in a vast majority of cases and in configurations using a lot of s

[2022-02-17 07:24] navba-MSFT commented on #11397
@erwinkramer Apologies for the delay in getting back. We are looking into this issue and we will get back once we have more details.

@adrianhall Could you please look into this issue and provide an update on this ? Awaiting your reply.

[2022-02-17 07:45] navba-MSFT commented on #11396
@erwinkramer Apologies for the late reply. We will provide an update on this one we have more details.

@adrianhall Could you please provide an update on this feature request ? Awaiting your reply.

[2022-02-17 07:57] navba-MSFT commented on #11391
@erwinkramer Apologies for the late reply. We are looking into this issue. We will provide an update on this once we have more details on this.

@adrianhall Could you please provide an update on this request ? Awaiting your reply.

[2022-02-17 08:09] #16991 closed

[2022-02-17 08:15] catalinpopa247 commented on #16612
I can also confirm that this issue is still happening.
It would be great if this would be addressed properly soon.

[2022-02-17 08:15] #12142 closed

[2022-02-17 08:48] navba-MSFT commented on #10460
@tcsdmaic Apologies for the late reply. Did you try the samples mentioned [here](https://docs.microsoft.com/en-us/powershell/module/az.apimanagement/new-azapimanagementapi) ? Could you please use the most recent version of the [Az APIM PS module](https://www.powershellgallery.com/packages/Az.ApiManagement/2.3.1) and let us know if you are still seeing this issue ? Awaiting your reply.

[2022-02-17 09:08] navba-MSFT commented on #12151
@mcalnd70 Apologies for the late reply. Could you please let us know if you are still facing this issue ? This issue is open for quite sometime. Please let us know if you still need assistance on this. Awaiting your reply.

[2022-02-17 09:13] mcalnd70 commented on #12151
Hi @navba-MSFT - honestly since I wasn't able to achieve this I moved on and didn't end up using it. It's been a long time since looked into this, I'd suggest if the cmdlet hasn't been updated since then it is still an issue yes

[2022-02-17 09:24] blueww opened #17157 "Az.Accounts 2.7.1 or later not work in dogfood environment with autorest generated cmdlet, but Az.Accounts 2.2.3 works"
### Description

Az.Accounts 2.7.1 or later not work in dogfood environment with autorest generated cmdlet (like Get-AzDatabricksWorkspace), but Az.Accounts 2.2.3 works well.

This is because with az.Accounts 2.2.3 the token can sign with correct audience "https://management.core.windows.net/"
But with Az.Accounts 2.7.1 or later the token will be signed with wrong audience "https://api-dogfood.res

[2022-02-17 09:25] navba-MSFT commented on #12151
@mcalnd70 Thanks for getting back. We will look into this issue and update this thread once we have more details on this.

@adrianhall Could you please look into this issue and provide an update on this ? Awaiting your reply.

[2022-02-17 09:40] Manbearpiet commented on #17142
Hi @dingmeng-xue, thanks for your swift response!
This is indeed a blocker (not only this resource type but others as well).
Can you point the service team to https://github.com/Azure/bicep-types-az.
The bicep team builds the API-versions direct from the definitions, that way if new API-versions are published they are available immediately. It would be a more structural fix. I hope that will be po

[2022-02-17 09:47] navba-MSFT commented on #12706
@AUsfy Apologies for the late reply. We are looking into this issue. We will provide an update once we have more details on this.

@adrianhall Could you please provide an update on this ? Awaiting your reply.

[2022-02-17 11:22] dcorbin-wintellect commented on #14508
PS D:\Data-Lakes-Factories-Bricks> Get-Module Az.Resources

ModuleType Version    PreRelease Name                                ExportedCommands
---------- -------    ---------- ----                                ----------------
Script     5.3.0                 Az.Resources                        {Export-AzResourceGroup, Export-AzTemplateSpec, Get-AzDenyAssignment, Get-AzDeployment…}

***@***.*

[2022-02-17 11:38] navba-MSFT commented on #13084
@chrispiasecki Apologies for the late reply. We are looking in this issue. We will update this thread once we have more details on this.

@adrianhall Could you please provide an update on this ? Awaiting your reply.

[2022-02-17 11:55] navba-MSFT commented on #14430
@Mpmdg Apologies for the late reply. We are looking in this issue. We will update this thread once we have more details on this.

@adrianhall Could you please look into this and provide an update on this ? Awaiting your reply.

[2022-02-17 12:11] navba-MSFT commented on #15494
@moebius87 Apologies for the late reply. Could you please check if the examples shared [here](https://docs.microsoft.com/en-us/powershell/module/az.apimanagement/new-azapimanagementkeyvaultobject?view=azps-7.2.0#example-1---create-a-keyvault-namedvalue) and [here](https://docs.microsoft.com/en-us/powershell/module/az.apimanagement/new-azapimanagementnamedvalue?view=azps-7.2.0#example-3---create-a-

[2022-02-17 12:46] navba-MSFT commented on #15569
@fleed Apologies for the late reply. Could you please run **$DebugPreference="Continue"**
 and then share the output of the PS command ? You can remove the sensitive information from the output while sharing. Awaiting your reply.

[2022-02-17 13:02] dingmeng-xue opened #17162 "[Feature]: Customize HTTP message when a token is received"
### Description of the new feature

https://docs.microsoft.com/en-us/azure/active-directory/develop/msal-net-web-browsers#customizing-the-experience

MSAL supports to customize http message when a token is received. We need to design a HTML page and show use when login is completed.

### Proposed implementation details (optional)

_No response_

[2022-02-17 14:37] danwkennedy commented on #17088
@VeryEarly Awesome! Thanks! Could you link the PR in this ticket?

[2022-02-17 15:04] danwkennedy commented on #17088
Looks like it's here:
https://github.com/Azure/azure-powershell/pull/17156

[2022-02-17 16:44] adrianhall commented on #14430
We are currently in the process of updating the powershell module to support the latest GA release of our API, which will then cover this issue.  I'll update when the PowerShell module gets updated.

[2022-02-17 16:46] #13084 closed

[2022-02-17 19:19] vexingpos commented on #17090
Error messages for each property:

`requestedAccessTokenVersion` ➡️ `An item with the same key has already been added. Key: requestedAccessTokenVersion`

`accessTokenAcceptedVersion` ➡️`Expected property 'accessTokenAcceptedVersion' is not present on resource of type 'ApiApplication'`

[2022-02-17 20:02] sagarkalangi commented on #17144
Hello, Thanks for your response.. I tried as per your inputs on a brand new machine (without any azure powershell modules installed) and this time on powershell7. It failed with same issue and errors.

[2022-02-17 22:40] ngelotte opened #17166 "Get-AzureRmStorageAccount Error converting value "FileStorage" to type 'System.Nullable`1[Microsoft.Azure.Management.Storage.Models.Kind]"
### Description

After added a new Storage account with the type of FileStorage in our azure subscription the command  Get-AzureRmStorageAccount is now failing. It is used by the AzureFileCopyV4 in Azure Devops so I cannot switch to a different command. I found a the same issue a few years back but it was supposed to be resolved  but this is with the latest version of the AzureRM module and it is

[2022-02-17 23:14] dcaro commented on #16777
@VeryEarly seems that we should follow this https://docs.microsoft.com/en-us/azure/role-based-access-control/role-assignments-rest#new-service-principal

[2022-02-18 01:24] dingmeng-xue commented on #17144
Thanks @sagarkalangi . Did the issue occur only when you downloaded Azure PowerShell module? Or was there the same issue with other module?

[2022-02-18 01:30] dingmeng-xue commented on #17090
HI Vexingpos, is there any detailed doc about `requestedAccessTokenVersion`? Couple you share us debug message? You can turn on it via `$DebugPreference = "Continue"`

[2022-02-18 01:40] #17107 closed

[2022-02-18 02:06] blueww commented on #17166
@ngelotte

Please use the latest Az.Storage module.
The module you use is too old, and its depends on a .net SDK which not work with some new storage account kind like FileStorage.

Please update to latest Az.Storage module and try again.
They are very similar in usage, although there are some changes like cmdlet name. see the migration guild [here](https://docs.microsoft.com/en-us/powershell/azur

[2022-02-18 02:42] BethanyZhou commented on #16981
Hi @brwilkinson , we are fixing this issue and new version of Az.Resources will be available in next release (About 03/01).

Please notice that this cmdlet will mark `ObjectType` as `Unknown` if the object of role assignment is not found or current account has insufficient privileges to get object type.

[2022-02-18 02:43] JustinGrote commented on #16874
@dingmeng-xue  still an issue.

[2022-02-18 02:54] brwilkinson commented on #16981
Thanks @BethanyZhou for the update.

I am happy with the options there, assuming some extra step will always be required to validate that you have permission to the directory.

- I know I always have several steps of reporting and validation prior to removing any role assignment, and this will be an increased requirement now this has moved to msgraph.

[2022-02-18 05:33] Agazoth commented on #16992
@blueww

I agree with you on both notions. The issue is not with `Start-AzStorageBlobCopy`. I guess I got it backwards because the file I started working with, when I used `Invoke-WebRequest` was not compressed.

I use no settings other then -outfile when running `Invoke-WebRequest` with the url for the compressed blob.

`Invoke-WebRequest` and common browsers seems to have a setting that automati

[2022-02-18 05:40] navba-MSFT commented on #16998
@AndrevdG @schuitenk Apologies for the delay in getting back. I have got an update from the Product Team that they have found a defect in one of the underlying packages used in ARM code which causes issue on the Content-Length header handling. At the moment the workaround is to send _Content-Type_ header with value ‘application/json’ or Content-Length header with value of 0 as part of the request.

[2022-02-18 06:07] blueww commented on #16992
@Agazoth

If you use "no settings other then -outfile when running Invoke-WebRequest with the url for the compressed blob". it looks you run a Get Blob request to download the blob.
The related rest API is:  https://docs.microsoft.com/en-us/rest/api/storageservices/get-blob
But I don't see a parameter can decompress the file in the rest API.

If you can write code to download the blob with decompr

[2022-02-18 06:31] Agazoth commented on #16992
@blueww

"But I don't see a parameter can decompress the file in the rest API." That is my point exactly. How come the file gets decompressed, when running `Invoke-WebRequest`?

The reason for implementing `Start-AzStorageBlobCopy` in my current code was to avoid the decompressed file in my Azure Function. The workaround in regards to the production setup will be to handle decompression in the dat

[2022-02-18 07:13] navba-MSFT commented on #16379
@Dumpling545 Apologies for the late reply. We are looking into this issue. We will provide an update on this thread once we have more details.

@adrianhall Could you please provide an update on this issue once you get a chance ? Awaiting your reply.

[2022-02-18 08:33] Gill-Bates opened #17177 "[Feature]: Add "-asJob" Parameter to "New-AzOperationalInsightsWorkspace""
### Description of the new feature

I would like to have the option to create an Workspace with the option "-AsJob".

[code]

### Proposed implementation details (optional)

_No response_

[2022-02-18 08:38] navba-MSFT commented on #15759
@omkarg81 Apologies for the late reply. We are looking into this issue. We will provide an update once we have more details on this.

@adrianhall Could you please provide an update on this once you get a chance ? Awaiting your reply.

[2022-02-18 08:47] AndrevdG commented on #16998
@navba-MSFT Thank you for the update. We got this information from support as well and have updated our (cleanup) script to use Invoke-RestMethod for deleting the Azure Firewall. Initial tests indicate this works as intended

[2022-02-18 09:05] navba-MSFT commented on #15998
@saurabhvyas9 @Cavematt Apologies for the late reply. We are looking into this issue. We will provide an update once we have more details.

@adrianhall Could you please provide an update on this once you get a chance ? Awaiting your reply.

[2022-02-18 11:01] Kuanming3 commented on #17040
Use `Install-Module -Name Az.Resources` to update the latest Az.Resources

[2022-02-18 17:13] sagarkalangi commented on #17144
Tried installing "powershellget" which was successful and immediately failed on 'AZ" module. Refer the screenshots

![image](https://user-images.githubusercontent.com/28378322/154730312-1b608622-cb62-4c78-83f6-e50745bfc2ab.png)

[2022-02-18 19:48] nathan-given-health-catalyst opened #17183 "New-AzStorageContainerSASToken intermittently failing with "The value for one of the XML nodes is not in the correct format.""
### Description

I'm trying to get a SASToken:

[code]

But `New-AzStorageContainerSASToken` is failing intermittently with this error:

[code]

If I wait a few seconds and try again, it works.

I'm able to workaround this issue by wrapping my code in a for loop (with and appropriate try/catch), however, this seems like I problem I should report.

### Issue script & Debug output

[code]

### Envir

[2022-02-18 19:54] Xingyixzhang opened #17184 "[Doc]: Get-AzWebApp needs to make -ResourceGroupName a required parameter for optimal results"
### Description

### Document Link
https://docs.microsoft.com/en-us/powershell/module/az.websites/get-azwebapp?view=azps-7.2.0&viewFallbackFrom=azps-7.2

### Issue
The command below with and without the -ResourceGroupName parameter returns different results, yet the document does not specify that the -ResourceGroupName should be a required field.
[code]

### Demonstration on Expected Results (with

[2022-02-18 22:44] krispenner commented on #9336
@solankisamir you closed this after updating the documentation but I don't see any comment of the bug being actually fixed. Can you provide confirmation this was fixed? Thank you.

PUT https://management.azure.com/subscriptions/subid/resourceGroups/rgName/providers/Microsoft.ApiManagement/service/testapiservice5/apis/b21793f6af4149ceb0c28fc20164eec8?api-version=2019-01-01
[code]

[2022-02-20 08:01] #16951 closed

[2022-02-20 09:52] martingbrown commented on #10256
@SaurabhSharma-MSFT I'm failing to see from the above, what's actually been done? The [documentation for the New-AzSqlDatabaseImport](https://docs.microsoft.com/en-us/powershell/module/az.sql/new-azsqldatabaseimport?view=azps-7.2.0#parameters)  has no mention of a -WaitForComplete switch.

[2022-02-20 17:34] jg-cloudzbridge opened #17185 "New-AzBotService requires -Location, while New-AzResourceGroupDeployment does not have -Location"
### Description

New-AzBotService -ResourceGroupName "Vision" -Name "SomeBot" -ApplicationId "DUMMY ID" -location global -ApplicationSecret $d -Sku S0 -Webapp
New-AzResourceGroupDeployment : A parameter cannot be found that matches parameter name 'Location'.
At C:\Program Files\WindowsPowerShell\Modules\Az.BotService\0.3.2\custom\New-AzBotService.ps1:242 char:93
+ ... oupDeployment -ResourceGroupN

[2022-02-20 20:20] vexingpos commented on #17090
Hi @dingmeng-xue

`$DebugPreference = "Continue"` doesn't do anything.

If you look at my original post, my repro steps include the Debug variable, but the output when I run the command is the error I posted originally.

Here is some info from the MS Graph docs about the `requestedAccessTokenVersion` property:

https://docs.microsoft.com/en-us/graph/api/resources/apiapplication?view=graph-rest-1.0

[2022-02-20 23:55] amishra-dev commented on #17183
@blueww can correct me, but to me its looking like your -ExpiryDate part  (where you add 7 days) of the commandlet is not working
can you try  changing ==> -ExpiryTime (Get-Date).AddDays(7)
to --> -ExpiryTime $(get-date).AddDays(7).ToString("yyyyMMdd")

[2022-02-21 00:23] blueww commented on #17183
Please change “  -ExpiryTime (Get-Date).AddDays(7)”   to “-ExpiryTime (Get-Date).AddDays(6)”.

 To get user delegate key, the expire time should be in 7 days after request time. But since the client and server has a little time difference, the request time is “2022-02-18T19:32:06.8505837Z”, but the expire time is “ 2022-02-25T19:32:07Z“, which is 7 days+1s late than request time. So the error happ

[2022-02-21 00:27] amishra-dev commented on #16332
closing this issue here. Please file a new issue if you need further assistance.

[2022-02-21 00:27] #16332 closed

[2022-02-21 01:20] kristopherjturner commented on #17040
I am running into this same error using CloudShell in Azure Gov.

[2022-02-21 01:23] #16266 closed

[2022-02-21 02:33] dingmeng-xue opened #17186 "Get-AzKeyVault should not use List API twice when only vault name is specified"
### Description

When vault name is specified, Get-AzKeyVault doesn't call Keyvault API but ARM API `https://management.azure.com/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resources?$filter=resourceType eq 'Microsoft.KeyVault%2Fvaults'&api-version=2016-09-01`

The shortage is client filtering is not accurate when query result is big and it increases additional burden to ARM.

In addition,

[2022-02-21 03:01] BethanyZhou commented on #14508
Thanks for your help. @dcorbin-wintellect
- Do you mind providing your bicep version by running `bicep --version` in powershell console?
- Could you reproduce your issue and turn on Verbose and Debug? Like following command `New-AzDeployment -TemplateFile test.bicep -ResourceGroup xxx-rg -Verbose -Debug`. It will provide more information.

[2022-02-21 03:02] VeryEarly commented on #17088
Hi @danwkennedy , changes will be migrated to main branch today, I'll link the PR later

[2022-02-21 03:13] msJinLei commented on #16766
@jameslj @alexandair @nsg74
We have released an engineering version of [Az.Accounts](https://azposhpreview.blob.core.windows.net/public/Az.Accounts.2.7.99.nupkg) which includes CAE support. You can download and try it.

You can install it using Az.Tools.Installer
[code]

Let us know if any feedback. Thanks

[2022-02-21 05:09] #16981 closed

[2022-02-21 06:46] navba-MSFT commented on #17184
@Xingyixzhang Apologies for the late reply. I am looking into this issue. I will get back on this thread once I have more details on this.

[2022-02-21 07:23] navba-MSFT commented on #17184
@Xingyixzhang Please check the similar issue being reported here #9168.

As a workaround, you can get the consistent result using the [Get-AzResource](https://docs.microsoft.com/en-us/powershell/module/az.resources/get-azresource?view=azps-7.2.0) PS cmdlet.

cc: @panchagnula

[2022-02-21 08:04] fleed commented on #15569
hi @navba-MSFT
Thank you for the follow up.

Please give me some days to reproduce the issue and provide the required logs

[2022-02-21 08:06] navba-MSFT commented on #15569
@fleed Thanks for getting back. We shall wait for the requested logs.

[2022-02-21 10:06] dingmeng-xue opened #17203 "Upgrade version of Microsoft.Azure.Cosmos.Table"
### Description

Microsoft.Azure.Cosmos.Table 1.0.8 is old assembly. Please upgrade or migrate in new release.

https://github.com/Azure/azure-powershell/blob/f3b9e1c47149a3eb015a4eafdf7a161e75ac9c1c/src/Storage/Storage/Storage.csproj#L20

[2022-02-21 10:07] Aurilium commented on #17103
Hi, sorry it took so long, it's quite busy here at the moment. So I tried to do steps 3 and 4 but found that I can't send any cmdlet/request anymore and get the same error message immediately.
#4 threw some other errors. I think your assumption for the cause to be in the network was right and will try to figure something out with the networks department. Thank you.

[2022-02-21 10:44] dcorbin-wintellect commented on #14508
@BethanyZhou  -- It was an old install of bicep ....  Had not realized that "c:\>bicep" and "c:\>az bicep" invoked completely different installations...

[2022-02-21 13:26] dingmeng-xue commented on #17103
@Aurilium , thanks for the information. Please contact us if you have further update. I will keep this issue open for a while.

[2022-02-21 13:46] premfix commented on #17010
Hello. Any updates?

[2022-02-21 14:50] nrobert commented on #8412
Hello Damien @dcaro ,

I understand that the target was to add Azure AD command in Az.Resources calling Ms Graph behind the scenes, and that it is the case from a specific release (Az 7 given this [article](https://techcommunity.microsoft.com/t5/azure-tools-blog/why-is-az-7-an-important-release-for-azure-powershell/ba-p/3035513), and Az.Resources from 5.1.0 given [this one](https://docs.microsoft.

[2022-02-21 15:06] julian-wendt commented on #17086
Thanks for your feedback but unfortunately this is not what I meant.

If I use `Get-AzAutomationRunbook` without the `-Name` parameter to get a list of all runbooks, the description is missing for every runbook. My question is if that is by design?

I need a complete list of all runbooks including the description. Currently I have to run `Get-AzAutomationRunbook` once without the name parameter an

[2022-02-21 20:47] arphox opened #17210 "Install-Module -Name Az hangs for long without progress and makes sounds"
### Description

Hi,

I was actually creating a bug report in this repository because the install module command took so much time before actually reporting progerss, but then it started showing symptoms of doing something so I decided to raise this problem instead.

Steps I took:
1. Start PowerShell 7.2.1 as administrator in Windows Terminal
2. Run `Set-ExecutionPolicy -ExecutionPolicy RemoteSign

[2022-02-21 20:58] arphox commented on #17210
Also, the installation tutorial lacks a part of "how to tell if you have it installed already". e.g. I don't know that.

[2022-02-22 01:40] #17157 closed

[2022-02-22 01:44] BethanyZhou commented on #14508
Ok, could you run your command with -Verbose -Debug to show us more information?

[2022-02-22 01:58] dcaro commented on #8412
@nrobert starting with Az 7, we are using the Microsoft Graph API for the operations pertaining to AzureAD.
We do not return group owners in the current version and do not have this work planned at this time.
We will prioritize according to the demand from the community or if this is needed to support an important Azure scenario.

Using `Invoke-AzRestMethod` is the best workaround at this time, he

[2022-02-22 02:35] blueww commented on #17203
Add @PaulCheng , as Paul's team owns the table cmdlet of Powershell.

Microsoft.Azure.Cosmos.Table 1.0.8 is the latest GA version of this SDK (2.0.0-preview has breaking change). So there's not proper new version of SDK can be upgraded to.
@dingmeng-xue  Could you give more hint why need to upgrade it?

[2022-02-22 04:16] blueww commented on #16992
@Agazoth

Please contact the server team (with the support ticket you have filed) to see why the copied blob is compressed on part of your account. Per my understanding, this should not happen.
From PSH side, as the copy is all handled by server side, we can't change the compress/decompress.

[2022-02-22 05:01] Agazoth commented on #16992
@blueww I am in dialog with both the server team and the Partner API team on this case. I will post findings in this tread.

Fact ifs that the file is decompressed using Invoke-WebRequest but not using Start-AzStorageBlobCopy.

[2022-02-22 05:42] #17040 closed

[2022-02-22 05:42] #17054 closed

[2022-02-22 05:43] #17087 closed

[2022-02-22 06:09] blueww commented on #16992
@Agazoth
Thanks for the info :

Invoke-WebRequest and Start-AzStorageBlobCopy (I suspect you mean first copy, then download) are 2 different rest API, so they might can have different behavior (not expected) from server, the difference is not coming from Powershell per what I can see.
However, server team should know why copy blob from specific account will make the dest blob be compressed.

[2022-02-22 06:29] BethanyZhou commented on #17186
Correct, `Get-AzKeyVault` should not call ARM API twice. But once is necessary when only vault name is specified.

- Vaults_Get operation requires parameter resourceGroupName and vaultName both.
- When only vault name is specified, `Get-AzKeyVault` call ARM API to query the resource group for specified vault.
- If successes, `Get-AzKeyVault` will call Vaults_Get to get key vault's further informat

[2022-02-22 07:37] #17103 closed

[2022-02-22 08:37] PowerShellToday opened #17222 "Search-AzGraph is not using the tenant scope!"
### Description

Issue when querying in tenant-scope (have not defined managementgroup or subscription), the scope is wrongfully set to all my subscriptions instead of being unaltered.

### Expected result

The query `policyresources | where type == 'microsoft.authorization/policydefinitions' | limit 1 |project id ` in portal gives me one built-in policydefinition if i have scope set to tenant.
Wh

[2022-02-22 09:54] nrobert commented on #8412
Thanks for the clarification, it's clear now and we have implemented the workaround yesterday.

To help you understand our scenario: we are creating Azure "environments" for projets. This means creating management groups, subscriptions, AAD groups to set RBAC roles on subs... by code. As we want to let our project teams be autonomous, we are only asking for a list of project owners, and we are set

[2022-02-22 10:55] tim-krehan opened #17225 "[Feature]: Implement domain join Setting to Add-AzVMAdditionalUnattendContent"
### Description of the new feature

Hello Together :)

I currently try to set up an automated way to join a newly created VM to an active directory, using an offline domainjoin.
Currently I am using the command "djoin" to request the local (newly created) vm to perform said domain join.

Isn't it possible to add another settings section to the command [Add-AzVMAdditionalUnattendContent](https://gi

[2022-02-22 10:59] tim-krehan commented on #17225
The Syntax of the relevant part of the [unattend.xml](https://docs.microsoft.com/en-us/previous-versions/windows/it-pro/windows-server-2008-R2-and-2008/dd392267(v=ws.10)?redirectedfrom=MSDN) should be as follows:
[code]

[2022-02-22 11:42] dcorbin-wintellect commented on #14508
@BethanyZhou - The machine has since been updated.

[2022-02-22 11:55] pmatsconsulting commented on #12561
Facing the same issue:

[code]

When this will be fixed?

[2022-02-22 11:58] jH- commented on #13964
@PaulVrugt I've kept an eye on the release blog, as well as planned preview releases since the response from @shkale-msft ; no mention of this feature being publicly available yet.

[2022-02-22 12:48] scerazy commented on #17210
It does indeed take "forever" to install!

[2022-02-22 14:54] ghubz commented on #17210
Same here. Linux install, it's been stuck here for I don't know how long..

`PS /root> Install-Module -Name Az -Scope CurrentUser -Repository PSGallery -Force`

[2022-02-22 14:59] SteveNewa commented on #14035
The documentation here: https://docs.microsoft.com/en-us/powershell/module/az.support/new-azsupportticket?view=azps-7.2.0

Is still very vague on this point.

[2022-02-22 17:45] adrianhall commented on #15998
We are currently working on new powershell cmdlets that work with the latest GA API version.  Once those are released, this problem will go away.  I'll keep this open as a mechanism to track and will close when the new powershell cmdlets are released.

[2022-02-22 17:55] #15759 closed

[2022-02-22 18:02] adrianhall commented on #16379
This is a deeper issue than just the PowerShell cmdlet.  Let me get an engineer to take a look at the export and render an opinion.

[2022-02-22 19:27] FabianGonzalez-MSFT commented on #17186
@BethanyZhou I think there's another issue apart from the API being called twice. It looks like when **Get-AzKeyVault** is run without the ResourceGroupName it executes a Vaults_Get request (which according to your explanation is expected), however, it looks like PS is not able to handle paging... If the customer has too many KVs in the subscription, API response will contain a limited number of K

[2022-02-22 23:01] brwilkinson opened #17228 "[Feature]: Azure Bastion Native Client Support in PowerShell"
### Description of the new feature

AzureCLI has an option to connect to a VM on port 3389 or 22 for RDP or SSH, using the 'Native Client'.

https://docs.microsoft.com/en-us/azure/bastion/connect-native-client-windows

[code]

We have a few Bastion Network Cmdlets. These would also need updates to allow for the extra settings on the bastion that are in preview at the moment.

[code]

![image](http

[2022-02-23 05:46] dikethir opened #17236 "Get-AzRestorePointCollection should return the list of restore points inside it"
### Description

Problem: I have 3 RestorePoints created inside my RestorePointCollection however, Get-AzRestorePointCollection is returning empty list for RestorePoints.

Expected results: Get-AzRestorePointCollection should return all the RestorePoints under it.

### Issue script & Debug output

[code]

### Environment data

[code]

### Module versions

[code]

### Error output

[code]

[2022-02-23 07:07] BethanyZhou commented on #17186
Thanks for reminding me. I'm fixing the paging issue. We have identified its root cause. will provide a engineer build FOR.

[2022-02-23 07:13] BethanyZhou commented on #17186
Thanks for reminding me. I'm fixing the paging issue. We have identified its root cause.

There are our internal engineer builds for fixing this issue. Could you access these packages and let customer to try these new packages whether fix the paging issue?
https://azposhpreview.blob.core.windows.net/public/Az.Accounts.2.7.2.nupkg
https://azposhpreview.blob.core.windows.net/public/Az.KeyVault.4.2.1

[2022-02-23 08:01] #16927 closed

[2022-02-23 08:04] LukeDearden commented on #15848
Just wondering when this is likely to be resolved?

[2022-02-23 10:12] HoLengZai commented on #10885
Do you have an update regarding the more than 25 subscriptions issue?
I don't have the issue on my local computer but when I'm using Get-AzContext (same Az PowerShell version: Az.Accounts v2.7.2) on Azure on my Durable Function with System Managed Identity to all my subscriptions with Reader permission, I can only retrieve 25 AzContext within my 32 Azure subscriptions.

As mentioned by @MattKotsen

[2022-02-23 11:54] jformacek commented on #13573
Tested with new module and works. Closing the issue.

[2022-02-23 11:54] #13573 closed

[2022-02-23 13:04] dingmeng-xue commented on #10885
`-MaxContextPopulation` of `Connect-AzAccount` determines the total number of context populated. Default value is 25. Please try it.

[2022-02-23 13:06] dingmeng-xue commented on #17185
We will look into it.

[2022-02-23 13:09] dingmeng-xue commented on #17210
Install-Module doesn't belong to Azure PowerShell. In my experience, the problem usually is due to the network or performance of PSGallery. You can measure the performance via
[code]

[2022-02-23 13:36] AlexJPawlak opened #17253 "Get-AzWebAppSnapshot fails to convert DateTime if console is in different Culture"
### Description

When running the cmdlet with non en-US (at least, in pl-PL culture) the cmdlet fails with example error:

 String '01/24/2022 22:52:39' was not recognized as a valid DateTime.

 Output of:
[system.threading.thread]::CurrentThread.CurrentCulture
LCID             Name             DisplayName
----             ----             -----------
1045             pl-PL            Polish (Pola

[2022-02-23 15:14] Proxicon opened #17254 "New-AzMonitorLogAnalyticsSolution: The server responded with an unrecognized response, Status: OK"
### Description

As per Microsoft sample code  [SentinelallInOne.ps1](https://github.com/Azure/Azure-Sentinel/blob/master/Tools/Sentinel-All-In-One/Powershell/SentinelallInOne.ps1)

Line 87 to 92
`if (($solutions | Where-Object Name -eq 'SecurityInsights').Enabled) {
    Write-Host "Azure Sentinel is already installed on workspace $($Workspace)"
}
else {
    New-AzMonitorLogAnalyticsSolution -Type

[2022-02-23 16:29] leandiez commented on #10592
Hi! Just here to ask about the status of this issue. Would be really useful to have this command on Az module since the user assignment to Enterprise Apps can't be fully automated other way by now.
Specially when you don't have enough P2 licences to use groups on EA.

[2022-02-23 17:27] akashsawant1992 commented on #12220
@[blueww](https://github.com/blueww) , I got same issue of "illegal path" while uploading .json file into blob. I was using az.storage 1.5.0 , as suggested above try installing az.storage 2.6.0 ( also tried latest 4.2.0 ) and imported module from there while I was uploading and didnt fix the issue.

Only issue got fixed after registry hack  and az.storage 1.5.0:
HKEY_LOCAL_MACHINE\SOFTWARE\Microso

[2022-02-23 20:17] SaurabhSharma-MSFT commented on #17222
@PowerShellToday We are looking into it and get back to you for more information.

[2022-02-23 23:26] smithg6 opened #17256 "New-AzADServicePrincipal: A parameter cannot be found that matches parameter name 'EndDate' or 'StartDate'"
### Description

When running cmdlet New-AzADServicePrincipal with Az.Resource Module version 5.3.1 and Az Module 7.2.1, I keep getting below error:
New-AzADServicePrincipal: A parameter cannot be found that matches parameter name 'EndDate'.

This happens whether I am trying with -ApplicationId Parameter or -ApplicationObject parameter.

### Issue script & Debug output

[code]

### Environment dat

[2022-02-24 01:14] SaurabhSharma-MSFT commented on #17222
@PowerShellToday I have checked this in my environment, and it is working fine.  Also, the payload contains `subscriptions` like in your payload. (See below)
![image](https://user-images.githubusercontent.com/38112130/155438110-6806ef21-7bb3-441d-9e11-b489b29e0241.png)
![image](https://user-images.githubusercontent.com/38112130/155437835-32045a28-51d6-48e6-bf1c-5e82d5c3c828.png)

Also, I have also

[2022-02-24 01:27] #16772 closed

[2022-02-24 01:38] dingmeng-xue commented on #17256
@VeryEarly , could you look into it?

[2022-02-24 01:43] dingmeng-xue commented on #17254
We will look into it.

[2022-02-24 01:53] VeryEarly commented on #17256
Hi @smithg6 ,

When creating serviceprincipal with startdate/enddate, the legacy behavior is to set a passsword with startdate/enddate for a new created application (which associate service principal),
while you provided application ID already, startdate/enddate should not be needed, however the error message doesn't make sense here, I already made fix and will be out on 2022-03-01 PST.

Thanks

[2022-02-24 01:55] blueww commented on #17203
@PaulCheng
Would you please help to look at this issue?

Microsoft.Azure.Cosmos.Table 1.0.8 depends on deprecated https://www.nuget.org/packages/Microsoft.Azure.DocumentDB.Core/2.11.2, so it's asked to be upgraded.

[2022-02-24 01:55] dingmeng-xue commented on #17144
Thanks @sagarkalangi , please raise create an issue to https://github.com/PowerShell/PowerShellGet/issues. I cannot help to transfer it because that repo is in the different Github org.

@SydneyhSmith fyi.

[2022-02-24 01:59] dapt1989 commented on #17131
For the time being the work around is to use a previous version of Powershell when using the command, and I have seen the fix work in later versions I believe this issue is closed

[2022-02-24 01:59] #17131 closed

[2022-02-24 01:59] blueww commented on #17166
@ngelotte
Thanks for the update!
I will close this issue.

[2022-02-24 01:59] #17166 closed

[2022-02-24 02:08] blueww commented on #12220
@akashsawant1992
This issue is fixed in Az.Storage 2.6.0 and later. (You can use the latest Az.Storage)
Please make sure you have close and reopen the Powershell session, the correct version of Az.Storage is loaded, the test again.

The workaround from you also works, since the root cause is: the .net API System.IO.Path.GetFullPath(), it should support UNC path from .net 4.6.2 framework per [link]

[2022-02-24 02:16] blueww commented on #17203
@dingmeng-xue

Would you please help to give the urgency and timeline of this issue?
@PaulCheng  will need this info.

[2022-02-24 06:40] PowerShellToday commented on #17222
@SaurabhSharma-MSFT
Hi, thanks for looking into this. Let me first apologize for my bad question. I was looking for a built-in policy and I see you have policy's put on your subscriptions, the one you got returned was a custom policy. So please test with this question:
`policyresources | where type == "microsoft.authorization/policydefinitions" | where id startswith "/providers/Microsoft.Authoriza

[2022-02-24 08:54] navba-MSFT commented on #17253
@AlexJPawlak Thanks for reaching out to us and sharing this feedback. We are looking into this issue and we will update this thread once we have more details on this.

[2022-02-24 09:59] UJJAVALKR commented on #16368
@wonner @navba-MSFT  This workaround is not working with the Storage events trigger.

[2022-02-24 10:05] navba-MSFT commented on #8659
@mehowq Apologies for the late reply. We are looking into this issue and we will update this thread once we have more details on this.

@Azure/azure-logicapps-team Could you please provide an update on this ? Awaiting your reply.

[2022-02-24 10:12] navba-MSFT commented on #8740
@cluppino Apologies for the late reply. We are looking into this issue. We will provide an update once we have more details on this.

@avijitgupta @chandrasekarsrinivasan Could you please provide an update on this ? Awaiting your reply. cc @vnetsuppgithub

[2022-02-24 10:17] navba-MSFT commented on #8971
@Oechiih Apologies for the late reply. As mentioned by @tujamg, we will update this thread once this issue is addressed.

[2022-02-24 12:31] janegilring opened #17263 "[Feature]: Az.PostgreSql - Add option to enable/disable public network access"
### Description of the new feature

An option to enable/disable public network access for Azure PostgreSQL Servers would be useful, as this is a common setting to configure. As far as I can see, it is not possible to configure this setting in the 1.0.0 version of the Az.PostgreSql module.

### Proposed implementation details (optional)

One option could be adding a new parameter, -PublicNetworkAcc

[2022-02-24 12:43] odero commented on #14207
For anyone else looking into this, try installing the following packages
`sudo apt install gnupg2 pass`

[2022-02-24 12:50] scratch85 commented on #15828
Hi, tested it today with Az.Resources v5.3.1 and can confirm the issue is solved!

[2022-02-24 12:53] #15828 closed

[2022-02-24 12:58] dingmeng-xue commented on #17263
[API](https://github.com/Azure/azure-rest-api-specs/blob/429a7ea873cc1bbd4df133f71427162e15e258b1/specification/postgresql/resource-manager/Microsoft.DBforPostgreSQL/stable/2017-12-01/postgresql.json#L1882)  defined it but parameter was removed from implementation https://github.com/Azure/azure-powershell/blob/main/src/PostgreSql/custom/Update-AzPostgreSqlServer.ps1

@msJinLei , do you recollect t

[2022-02-24 15:44] sagarkalangi commented on #17144
Raised the issue as directed - https://github.com/PowerShell/PowerShellGet/issues/614

[2022-02-24 15:58] DSpirit commented on #10460
@navba-MSFT this is not a bug, we just want to create API's by using backends via script and there is still no option for it (from: https://docs.microsoft.com/en-us/powershell/module/az.apimanagement/new-azapimanagementapi?view=azps-7.2.0):
[code]

[2022-02-24 16:24] 1stewart opened #17265 "Get-AzDiagnosticSetting using old/limited API version"
### Description

Using the latest version of Az.Monitor (3.0.0) installed by Az 7.2.1, the `Get-AzDiagnosticSetting` still uses the API version `2017-05-01-preview`, that doesn't support retrieving diagnostic settings against LogAnalytics workspace resources. `2021-05-01-preview` returns the expected result, as can be tested by querying that version directly, or at: https://docs.microsoft.com/en-u

[2022-02-24 16:37] vrdse commented on #15484
@navba-MSFT Thank you for the suggestion, however the issue with `Update-AzFunctionApp` exists nonetheless and personally I don't need a workaround right now. Just wanted to let you know about this bug.

[2022-02-24 17:07] jackfruhecolab commented on #17143
Thanks @dcaro

I'm looking for a way to determine if connect-azaccount needs to be run.

Basically we want a single script with logic that will allow it to run either automated or on a users PC.

Ideally we need this logic in the script:
[code]

These are the scenarios we want to account for in our scripts, thanks!

[2022-02-24 17:21] smithg6 commented on #17256
Thanks, I'll make sure and get the latest next week and try it out. FWIW the creation does seem to work fine when both StartDate and EndDate aren't present.

So just wanted to confirm this real quick: you're saying that since the legacy password creation is no longer happening, we are not going to be able to set an enddate since the credential is made server side?

[2022-02-24 21:04] Drewm3 commented on #17225
@avirishuv, could you please look into this one.

[2022-02-24 21:05] Drewm3 commented on #17236
@TravisCragg-MSFT, could you look into this issue.

[2022-02-24 23:57] SaurabhSharma-MSFT commented on #17222
@PowerShellToday ok, got it.  I could see the same behavior in my environment and redirecting this to services team to look into it.

[2022-02-25 03:50] navba-MSFT commented on #10460
@DSpirit Thanks for your reply. We are looking into this and we will update this thread once we have more details on this.

@adrianhall Could you please provide an update on this once you get a chance ? Awaiting your reply.

[2022-02-25 04:01] navba-MSFT commented on #15484
@vrdse Thanks for the feedback. We are investigating this. We will be updating this thread once we have more details on this.

**cc** @Francisco-Gamino

[2022-02-25 07:36] e-karlsson commented on #17265
+1

[2022-02-25 07:59] yanjungao718 commented on #16987
Issue is fixed so close it.

[2022-02-25 08:00] #16987 closed

[2022-02-25 08:01] #16980 closed

[2022-02-25 08:09] navba-MSFT commented on #16653
@cblackuk Apologies for the late reply. We are looking into this issue and we will provide an update once we get more details on this.
@rpsqrd @edyoung Could you please look into this feature request once you get a chance ? Awaiting your reply.

[2022-02-25 08:15] cblackuk commented on #16653
No worries :D thanks for looking into it :-)

[2022-02-25 08:41] yanjungao718 commented on #16368
@UJJAVALKR  It would be helpful if you can provide detail messages about what scenario and what kind of error you met.

[2022-02-25 08:43] navba-MSFT commented on #14117
@alexandair Apologies for the late reply. Please refer [this](https://docs.microsoft.com/en-us/powershell/module/az.connectedmachine/get-azconnectedmachineextension?view=azps-7.2.0#outputs) article. This issue is open for quite sometime. Could you please let us know if you need any further assistance on this ? Awaiting your reply.

[2022-02-25 09:16] navba-MSFT commented on #10988
@Makovec Apologies for the late reply. Until the fix is available, Could you please test with [Get-AzVmSize](https://docs.microsoft.com/en-us/powershell/module/az.compute/get-azvmsize?view=azps-7.2.0#example-3--get-sizes-for-an-existing-virtual-machine) and let us know if that serves your requirement ? Awaiting your reply.

[2022-02-25 12:53] navba-MSFT commented on #11377
@ivanrvf Apologies for the late reply. I hope your question is answered. This issue is open for quite sometime. Please let us know if you need any further assistance on this issue. Awaiting your reply.

[2022-02-25 14:15] rpsqrd commented on #16653
@cblackuk thanks for the feedback! We'll take a look at this and get back to you.

[2022-02-25 14:18] dingmeng-xue commented on #17265
Thanks for reporting. We will evaluate effort and breaking change.

[2022-02-25 15:44] Adriana171 opened #17268 "Get-AzAksVersion Results in Access Token Exception"
### Description

I am running the following command:
            Get-AzAksVersion -Location westeurope -SubscriptionId $subscriptionId | ConvertTo-Json -Depth 3.

I have checked the scope of the access token and should have the ability to use this cmdlet.

"token_type": "Bearer",
    "scope": "user_impersonation",
    "expires_in": "5235",
    "ext_expires_in": "5235",
    "expires_on": "164580152