[2022-10-11 17:24] SaurabhSharma-MSFT commented on #19320
@lostsole I have submitted a PR to included PausedDate and ResumeDate as Get-AzSqlDatabase output.
We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2022-10-11 17:24] #19320 closed

[2022-10-12 02:04] dingmeng-xue commented on #19576
Let me contact Automation team to get more information.

[2022-10-12 03:31] navba-MSFT commented on #19671
@piroinno The action is currently pending on you follow the above action plan. If the issue still persists, please feel free to reopen this thread. We would be happy to help.

[2022-10-12 03:31] #19671 closed

[2022-10-12 03:35] navba-MSFT commented on #19688
@jmpompeo The action is currently pending on you to follow the above action plan. If you still encounter this issue, please feel free to reopen this thread. We would be happy to help.

[2022-10-12 03:35] #19688 closed

[2022-10-12 09:48] Jassingh819 commented on #19576
@bballpaul4work This seems like a module version conflict issue. Could you provide us more info like the sub id, account name, runbook name, job id for successful and failed instances so that we check in my telemetry which modules are loaded for each case.?

[2022-10-12 11:53] feliasson opened #19789 "[Feature]: Add VNET connectivity status output for Get-AzVirtualHubVnetConnection"
### Description of the new feature

Sample output from `Get-AzVirtualHubVnetConnection`

[code]

Currently this do _not_ include the _connectivity status_ of the VNET connection, including this would be a big improvement as it would open up possibilities for more automation to such as handling VNETs that are in a disconnected state.

![image](https://user-images.githubusercontent.com/45947114/1953

[2022-10-12 12:09] ville87 opened #19790 "Connect-AzAccount hangs"
### Description

I built a script which connects to Azure using the `Connect-AzAccount -TenantID <tenantID>` command.
However, it often hangs after providing the (valid) credentials in the credential popup...
Sometimes it works, but most often it hangs.
I tried on a freshly installed Windows 11 with all Windows Updates, where I installed the Az module from scratch (from PSGallery) and there the sa

[2022-10-12 12:18] v-yuanren opened #19791 "Publish-AzWebApp with war deployment including jsp file"
### Description

By using Publish-AzWebApp with war deployment. Azure unpacks incorrectly if there are jsp files in war. Other files (e.g. css, png, folders etc) will not be copied to local tomcat correctly in kudu.

**Reproduce**
1. Get a java project with some jsp files
2. Generate war file
3. Deploy to a web app with tomcat server by using Publish-AzWebapp -ResourceGroupName <group-name> -Name

[2022-10-12 16:56] MSIH opened #19792 "Get-AzureADApplicationPasswordCredential goes not show password"
### Description

Get-AzureADApplicationPasswordCredential goes not show password. The value field is blank.

### Issue script & Debug output

[code]

### Environment data

[code]

### Module versions

[code]

### Error output

_No response_

[2022-10-12 17:38] Francisco-Gamino commented on #19667
This issue has been fixed.

[2022-10-12 17:38] #19667 closed

[2022-10-12 17:44] Francisco-Gamino commented on #19383
Hello @panchagnula -- You're team owns the Az.Websites cmdlets, I am assigning this issue to you for triage.

[2022-10-12 17:45] Francisco-Gamino commented on #19184
This issue has been fixed.

[2022-10-12 17:45] #19184 closed

[2022-10-12 17:49] Francisco-Gamino commented on #19165
Hello @panchagnula / @StrawnSC -- Do you plan to support this in the Az CLI?

[2022-10-12 18:51] vivlingaiah commented on #19468
Hi @jaylabell , could you let me know on this ? What release is this targeted for ? We will need this by 10/31

[2022-10-12 20:51] rakku-ms opened #19793 "New-AzRoleAssignment failing with error 'Object reference not set to an instance of an object' in Az.Resources 6.3.0"
### Description

SP role assignment is failing in the latest version of Az.Resources (6.3.0) module

PS C:\WINDOWS\system32> New-AzRoleAssignment -RoleDefinitionName Reader -ApplicationId $sp.AppId
New-AzRoleAssignment : Object reference not set to an instance of an object.
At line:1 char:1
+ New-AzRoleAssignment -RoleDefinitionName Reader -ApplicationId $sp.Ap ...
+ ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

[2022-10-12 21:04] jesshaines opened #19794 "[Feature]: Restore deleted managed HSM"
### Description of the new feature

It appears no cmdlet currently exists that will recover a soft-deleted HSM via Powershell

Documentation --> https://learn.microsoft.com/en-us/azure/key-vault/managed-hsm/recovery?tabs=azure-powershell#managed-hsms-powershell

There is no option to restore Managed HSM via PowerShell --> Reference https://github.com/MicrosoftDocs/azure-docs/issues/99621

Undo-AzK

[2022-10-13 02:31] dingmeng-xue commented on #19792
@MSIH , AzureAD module is not in Azure PowerShell. For the time being, you have to leverage MS support team to get better answer. You also can try to contact this repo https://github.com/microsoftgraph/msgraph-sdk-powershell.

[2022-10-13 02:40] dingmeng-xue commented on #19790
@ville87 , thanks for your reporting. I suspect there is problem in [Microsoft Authentication Library (MSAL)](https://learn.microsoft.com/en-us/azure/active-directory/develop/msal-overview). We just released the new version of Az.Accounts 2.10.2 which includes the new version of MSAL and its dependencies. Could you try that again?

If issue is still there, please turn on the log via `$DebugPrefere

[2022-10-13 05:34] VeryEarly commented on #12923
Hi @pcgeek86 @matsest ,

I'm not able to find the public API for Microsoft.Insights/workbooks: https://learn.microsoft.com/en-us/rest/api/monitor/
please try deploy it with ARM template using  new-azresourcegroupdeployment:
https://learn.microsoft.com/en-us/powershell/module/az.resources/new-azresourcegroupdeployment?view=azps-9.0.0

[2022-10-13 05:35] blueww commented on #19282
Close this issue as the help already updated.

[2022-10-13 05:35] #19282 closed

[2022-10-13 05:45] ville87 commented on #19790
Hi @dingmeng-xue, I installed the new version but same issue still appears :(
**Debug output**
[code]
**Modules**
[code]
My Windows 11 installation is in a VMWare Workstation VM on my local notebook.

[2022-10-13 06:16] matsest commented on #12923
@VeryEarly that is my current workaround for automation but there are issues with parsing long workbook files using this method, as well as issues with declaratively updating the content using ARM/Bicep.

Having it in pwsh/azcli would allow for more flexibility in deployments for my part.

(I'm also unable to find the api, but since it's available through ARM it *should* be available for pwsh?)

[2022-10-13 07:42] erwinkramer opened #19800 "Get-AzADGroup with -Count error: "Parameter set cannot be resolved using the specified named parameters.""
### Description

Get-AzADGroup returns
[code]

with the new `-Count` parameter (implemented since https://github.com/Azure/azure-powershell/issues/19476#event-7466016397), like so

[code]

### Issue script & Debug output

[code]

### Environment data

[code]

### Module versions

[code]

### Error output

[code]

[2022-10-13 09:33] andrePKI commented on #19793
Same here. I have a workaround:
`$RA = New-Object -TypeName psobject -Property @{
RoleAssignmentName = '3e8bd263-caef-4a96-9d59-fcb9a3059a67'
RoleAssignmentId   ='/subscriptions/<redacted>/resourceGroups/resgroup/providers/Microsoft.Authorization/roleAssignments/3e8bd263-caef-4a96-9d59-fcb9a3059a67'
Scope              ='/subscriptions/<redacted>/resourceGroups/resgroup'
DisplayName        ='my-lov

[2022-10-13 11:02] ran-ten21 commented on #19466
any update?

[2022-10-13 11:31] connorourke opened #19801 "Set-AzContext not working for managed identity in automation account runbook"
### Description

I am trying to execute a runbook in an automation account within azure.

I have set a managed identity following the instructions [here](https://learn.microsoft.com/en-us/azure/automation/enable-managed-identity-for-automation), then i issue the following in my runbook:

[code]
As instructed [here](https://connect-azaccount%20-identity%20set-azcontext%20-subscription%20subscriptio

[2022-10-13 12:41] ville87 commented on #19790
I did some more testing and ran ProcMon while doing so.
It seems, that when I remove the "Az.Sql" module from being imported, it does not hang anymore...

My code responsible for loading the modules looks as follows:

[code]

[2022-10-13 13:55] Kotasudhakarreddy commented on #19383
will take a look

[2022-10-13 15:28] andrePKI commented on #19793
I got the same/very similar errors. Not when I run with a user account from a powershell session (`Connect-AzAccount/set-AzContext/New-AzRoleAssignment`), but when I run exact same script from Azure DevOps pipeline I get this error. Build agent has  az.Resources version 6.3.0 and Powershell
[code]

[2022-10-13 17:51] eugeneogongo commented on #19730
@dingmeng-xue  Our team works with Azure Cloud Service Extended.

We are looking for a Azure cmdlet to delete a role when its state is unhealthy.

Currently, we use a post request to https://management.core.windows.net/<subscription-id>/services/hostedservices/<cloudservice-name>/deploymentslots/<deployment-slot>/roleinstances/ https://learn.microsoft.com/en-us/rest/api/compute/cloudservices/rest-

[2022-10-13 18:43] kenieva commented on #19309
Please use  -Expand "PolicyEvaluationDetails" to get evaluation details.

[2022-10-13 18:43] #19309 closed

[2022-10-13 19:27] MsGabsta commented on #19466
Hello @ran-ten21 please open a support ticket using the Azure Portal selecting the VM that is having the issue.

When opening the ticket there will be a drop-down menu where you can select what type of issue you are having. Select "VM Extensions not operating correctly" after that you can select "Qualys Extension (non-Microsoft) extension issue" and the ticket will be routed to the correct support

[2022-10-13 19:31] ran-ten21 commented on #19466
We already have a support ticket... 2208290040003534

RayAnn Long
O (469) 775-3714 | Email: ***@***.******@***.***> | Working Hours: Mon.-Fri. 7:00AM to 4:00PM CST

From: Gabby ***@***.***>
Sent: Thursday, October 13, 2022 2:28 PM
To: Azure/azure-powershell ***@***.***>
Cc: RayAnn Long ***@***.***>; Mention ***@***.***>
Subject: Re: [Azure/azure-powershell] run 'Get-AzVMExtension' via powershell,

[2022-10-14 03:58] navba-MSFT commented on #19745
@alexandair They provide the same functionality. We recommend using [Get-AzAutomationHybridRunbookWorkerGroup](https://learn.microsoft.com/en-us/powershell/module/az.automation/get-azautomationhybridrunbookworkergroup?view=azps-9.0.0) and [Remove-AzAutomationHybridRunbookWorkerGroup](https://learn.microsoft.com/en-us/powershell/module/az.automation/remove-azautomationhybridrunbookworkergroup?view=

[2022-10-14 03:58] #19745 closed

[2022-10-14 08:09] woter1832 commented on #16704
I'm seeing this issue too. In my case the management group does not exist. The command does create the group.

[code]

`Az.Resources` module, version `6.2.0`, running in PS 7.2:

[code]

Thanks

[2022-10-14 14:08] theboojit commented on #19454
Hi @SaurabhSharma-MSFT  -- just checking in. Any movement on this?

[2022-10-14 14:30] RakeshMohanMSFT commented on #19800
@erwinkramer Thank you for reaching out, we are looking into it.

[2022-10-14 16:04] quartelh opened #19808 "Powershell 5 - Connect-AzAccount returns 'Unable to read beyond the end of the stream'"
### Description

Hi, I have a strange situation where using Connect-AzAccount on Windows Powershell (5) returns 'Unable to read beyond the end of the stream'. This happens on a server where we also host build agents for ADO, so due to this issue we cannot let out pipelines use the agents on this server.

On another server it works like a charm. (same Az.Accounts version, same Powershell profile)

[2022-10-14 18:09] MasterKuat commented on #19652
Hi @Francisco-Gamino , I do not use az cli.
But as per documentation on [az functionapp create](https://learn.microsoft.com/fr-fr/cli/azure/functionapp?view=azure-cli-latest#az-functionapp-create) yes as you can spupply an app service plan resource id with the --plan parameter.
It's even specified "If using an App Service plan from a different resource group, the full resource id must be used and

[2022-10-14 18:38] MsGabsta commented on #19466
Thank you @ran-ten21, I will get engaged on the support case and help get this driven forward.

[2022-10-14 21:18] mialtamo commented on #19386
@dingmeng-xue any status on this?

[2022-10-15 02:02] dingmeng-xue commented on #19386
@navba-MSFT , could you ask team to look into it? Or involve service team.

[2022-10-15 19:48] Petri-X commented on #19246
Hi @vidai-msft
I'm sorry, it took a bit time until I got a blank machine to troubleshooting this more as well.

After step 4 you do not need to use `import-module` but just run the command: `Connect-AzAccount` or `Connect-Graph`. When those modules are available, then PS is enough cleaver to use the depended modules.

But now I have found the way how to get this solved, and I'm not sure if this is

[2022-10-16 07:33] dingmeng-xue commented on #19808
@quartelh , thanks for contacting us. The error comes from authentication lib when reading certificate. Could you reimport cert to host machine and try again? If it doesn't work, you need to use the latest version of Az.Accounts. The version you are using depends on deprecated authentication libs. We cannot get support from owner team for those libs.

[2022-10-16 07:37] dingmeng-xue commented on #19801
@connorourke , once you set managed identity, you need to provide subscription access permission to that identity. You can use `Get-AzContext -ListAvailable` to get all accessible contexts. Then, use `Set-Context` to select context you want to use. If the list is empty, it means the permission is incorrect.

[2022-10-16 21:32] MariuszFerdyn opened #19811 "ApplianceProvisioningFailed in New-AzManagedApplication"
### Description

`New-AzManagedApplication -Name "$NewManagedApp" -ResourceGroupName "$NewManagedApp" -ManagedResourceGroupName "$NewManagedApp-mrg" -ManagedApplicationDefinitionId "$ManagedAppDefinition" -Location "$ResourceLocation" -Kind "ServiceCatalog" -Parameter "C:\Users\aaa\Documents\managedappparameters.json"`

returns:

`ApplianceProvisioningFailed The request content was invalid and cou

[2022-10-17 03:12] navba-MSFT commented on #19386
@dingmeng-xue Thanks for letting me know.

@mialtamo Apologies for the late reply. Thanks for reaching out to us and reporting this issue. We are looking into this issue and we will provide an update.

[2022-10-17 03:30] mialtamo commented on #19386
Awesome if you need any further details or help with the problem just let me know!

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: navba-MSFT ***@***.***>
Sent: Sunday, October 16, 2022 8:12:51 PM
To: Azure/azure-powershell ***@***.***>
Cc: Mike Altamore (AZURE,M365) ***@***.***>; Mention ***@***.***>
Subject: Re: [Azure/azure-powershell] New-azdisk / new-azdiskc

[2022-10-17 05:49] yanjungao718 commented on #19441
@daj102 sorry for late response.
about the -Force parameter, it means to execute the cmdlet without confirmation, and will do nothing to the cmdlet itself on the logical layer(for example, stop an started trigger before deleting)

for deleting started triggers, the cmdlet now gives out detail messages shown below, you need to upgrade your Az.Synapse module version to latest

![image](https://user-

[2022-10-17 06:49] vidai-msft commented on #19246
@Petri-X Thanks for your efforts and great to know you have found the workaround. 😃 I also noticed the issue only happens on Windows PowerShell but not reproducible on PowerShell core. If possible, you can consider switching to the core version which supports cross-platforms.
Please let us know if you have any further questions or concerns.

[2022-10-17 07:04] Saglodha commented on #11459
Thanks for your feedback @itsmaryann, this has been fixed in our latest release. You can use Skip and Top operators to get more than 1000 entities now.

[2022-10-17 07:14] Petri-X commented on #19246
@vidai-msft
Yes, that might be the next step. :)
But there are some services needing still 5.1.

And btw, the solution is not the "dot", but the length of the folder. It is just enough if the folder is having three or more characters.

[2022-10-17 07:14] #19246 closed

[2022-10-17 14:15] dingmeng-xue commented on #19793
We have published https://www.powershellgallery.com/packages/Az.Resources/6.3.1. Please try it. Close this issue now.

[2022-10-17 14:15] #19793 closed

[2022-10-17 16:38] robpukdf opened #19823 "Start-AzAutomationRunbook swallows error returned from service"
### Description

I am trying to call an Azure Automation Hybrid Worker Runbook from another Azure Automation Runbook, but I keep receiving a null reference error. To start, I was just trying to call one Runbook from another:

Parent:

Start-AzAutomationRunbook -AutomationAccountName "XXX" -Name "ChildToCallFromParent" -ResourceGroupName "YYY" -Parameters @{"userDataDiffs"="testString"}

Child:

pa

[2022-10-17 19:28] robpukdf commented on #19823
I managed to get it to work using this code:

$adminCredential = Get-AutomationPSCredential -Name 'test@test.com'
$creds = New-Object -TypeName System.Management.Automation.PSCredential -argumentlist $adminCredential.UserName, $adminCredential.Password
$conn = Connect-AzAccount -Credential $creds

$azureContext = Set-AzContext -Tenant <Tenant ID> -Subscription <Subscription ID>

Start-AzAutomation

[2022-10-18 02:15] Francisco-Gamino opened #19828 "[Get-AzFunctionApp] Write warning message when the application setting cannot be retrieved"
### Description

Currently, `Get-AzFunctionApp` makes three calls to the backend. In the first call, we get the function app definition, the second and third are to get the app settings and site config. When this cmdlet was first introduced, there were instances where retrieving the application settings and site config would returns null. As a workaround, we change the Az session context to the gi

[2022-10-18 07:04] Qarthak commented on #19605
@dingmeng-xue I have built the environment on local without any errors. How should I proceed after this? Is there a particular file or directory that I should look for the bug in?

[2022-10-18 07:12] dingmeng-xue commented on #19605
@Qarthak , what file do you need? How to develop/debug Azure PowerShell cmdlet? or just source code around this bug?

[2022-10-18 07:15] Qarthak commented on #19605
Both would be helpful

[2022-10-18 07:33] dingmeng-xue commented on #19605
@Qarthak , please reference https://github.com/Azure/azure-powershell/blob/main/documentation/development-docs/azure-powershell-developer-guide.md. For this issue, I don't have insight yet. I believe it should come from below files or related files

- https://github.com/Azure/azure-powershell/blob/f296d277004fa0a99fa0c9dfa49696bec9763f2d/src/Resources/Resources/Models.Authorization/AuthorizationCl

[2022-10-18 08:50] sajithmuh opened #19834 "[Feature]: azure-powershell container on arm64 hosts"
### Description of the new feature

Currently we use mcr.microsoft.com/azure-powershell:latest on amd64 hosts, it works perfectly fine. We would like to like to have a similar container image that would run on an arm64 host.

### Proposed implementation details (optional)

_No response_

[2022-10-18 08:57] clowa opened #19835 "[Get-AzPrivateDnsZone] doesn't found existing subscriptions"
### Description

The cmdlet `Get-AzPrivateDnsZone` sometimes returns the error `The specified subscription <SUBSCRIPTION_ID> does not exist` on existing subscriptions.

I discovered this behavior when listing all private dns zones in all subscriptions of a tenant using a service principal using the code [below](#test-code).

### Expected Result
Returning `$null`.

### Test Code
[code]

### Issue s

[2022-10-18 09:09] #18928 closed

[2022-10-18 12:22] ran-ten21 commented on #19466
do you needed to be added in an email? just need to know if this is supported or not. this is qualys byol.

[2022-10-18 16:30] mialtamo commented on #19386
Great news!

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: navba-MSFT ***@***.***>
Sent: Tuesday, October 18, 2022 2:22:25 AM
To: Azure/azure-powershell ***@***.***>
Cc: Mike Altamore (AZURE,M365) ***@***.***>; Mention ***@***.***>
Subject: Re: [Azure/azure-powershell] New-azdisk / new-azdiskconfig fails in powershell workflow (Issue #19386)

@mialtamo<https://n

[2022-10-18 17:34] dcaro opened #19839 "[Feature]: Improve error message for Az.Tools.Installer"
### Description of the new feature

Error message with Az.Tools.Installer should be improved.
For example, when `-Repository` is missing:

![image](https://user-images.githubusercontent.com/6418658/196503269-7f28819b-24aa-470b-8157-3589c5e33d72.png)

The error message is present at the beginning but then is buried with other error messages.
The modules should catch those errors and provide a simpl

[2022-10-18 17:47] dcaro opened #19841 "[Az.Tools.Installer] Update-AzModule fails on Az.ApiManagement"
### Description

`Update-AzModule -Repository PSGallery` failed to upgrade Az.ApiManagement to version 4.0.0 on the first execution.

[code]

All other modules got upgraded correctly

[code]

### Issue script & Debug output

[code]

### Environment data

[code]

### Module versions

[code]

### Error output

_No response_

[2022-10-18 17:48] JohnDelisle opened #19842 "[Get-AzManagementGroup] Works using GroupName, fails with GroupId"
### Description

Querying a Management Group by GroupName works.  Querying for that same Management Group by its GroupId fails.  Oddly, querying by GroupId and passing the name works.

repro as follows:
[code]

### Issue script & Debug output

[code]

### Environment data

[code]

### Module versions

[code]

### Error output

[code]

[2022-10-18 18:17] quartelh commented on #19808
Hello @dingmeng-xue ,

thank you for your directions.

The certificate was not the issue (the Connect-AzAccount worked on Powershell 7).
After updating the Az.Accounts module for Windows Powershell the issue was gone.

Again, many thanks!

[2022-10-18 18:17] #19808 closed

[2022-10-19 03:59] navba-MSFT commented on #19466
@MsGabsta @Drewm3, @avirishuv, @Vaibhav-Agar, @amjads1 Could you please share some pointers on this ? Any help on this is much appreciated.

[2022-10-19 05:00] RakeshMohanMSFT commented on #19811
@MariuszFerdyn Thank you for reaching out, we are looking into it.

[2022-10-19 05:32] kongou-ae opened #19849 "Get-AzNetworkInterface raises Error mapping types when NIC chains GWLB"
### Description

Get-AzNetworkInterface raises "Error mapping types" when NIC chains GWLB. There are no error when NIC doesn't chain GWLB.

### Issue script & Debug output

[code]

### Environment data

[code]

### Module versions

[code]

### Error output

[code]

[2022-10-19 15:40] dingmeng-xue commented on #19835
Thanks for reporting. @clowa , can you get private DNS zone when you specify issue subscription id to `Get-AzPrivateDnsZone`?

[2022-10-19 15:51] #19801 closed

[2022-10-19 17:20] SquirrelAssassin opened #19857 "Get-AzKeyVaultCertificate -VaultName $akvName -Name $cert.name -IncludePending"
### Description

$policy = Get-AzKeyVaultCertificatePolicy -VaultName $akvName -Name $cert.Name
'adding'
Add-AzKeyVaultCertificate -VaultName $akvName -Name $cert.name -CertificatePolicy $policy
'trying to get pending which just returns the current'
Get-AzKeyVaultCertificate -VaultName $akvName -Name $cert.name -IncludePending
'sleeping'
Start-Sleep -Seconds 20
'regetting which shows the new thumb

[2022-10-19 23:53] grizzlytheodore commented on #14025
being addressed in this PR: https://github.com/Azure/azure-powershell/pull/19862

[2022-10-19 23:54] grizzlytheodore commented on #14532
being addressed in this PR: https://github.com/Azure/azure-powershell/pull/19862

[2022-10-20 01:39] dingmeng-xue commented on #19857
Thanks for reporting. We will consult service team to understand the flow from API perspective.

[2022-10-20 01:48] dingmeng-xue commented on #19842
Thanks for contacting us. `-GroupId` is alias of `GroupName`. It should be the name of resource. So please try below code.

`Get-AzManagementGroup -GroupId 'mg7-lvl3'`

[2022-10-20 01:55] dingmeng-xue commented on #19834
It requires PowerShell support it. We will follow up.

[2022-10-20 03:06] JohnDelisle commented on #19842
That's very misleading - management groups have both ID and name properties, with different values.

I cannot think of any other Az command with this behavior, they all distinguish (correctly) between resource IDs and Names.

I'd recommend you remove the -GroupId parameter, you're going to waste a lot of people's time tripping over this inconsistent situation.  Imagine if "Get-AzSubscription" did

[2022-10-20 03:15] dingmeng-xue commented on #19842
We should remove `GroupId`. I guess it is there due to historical reason. Service team renames it to GroupName and add alias to mitigate breaking change. But they forget to remove `GroupId`. Alias is not obvious to user. Are your referencing doc or tutorial which uses `GroupId`?

[2022-10-20 03:17] dingmeng-xue opened #19866 "Is it possible to start a Pipeline from a Collaboration branch ?"
### Discussed in https://github.com/Azure/azure-powershell/discussions/19846

<div type='discussions-op-text'>

<sup>Originally posted by **stetou** October 19, 2022</sup>
We do have needs to start Synapse Pipelines but from the Collaboration branch (or any other branch), instead of  using the pipelines that are in the Workspace ?
Is it possible using PowerShell ?</div>

[2022-10-20 03:46] navba-MSFT commented on #19866
@dingmeng-xue @stetou Thanks for reaching out to us and reporting this issue. We are looking into this issue and we will provide an update.

[2022-10-20 03:55] JohnDelisle commented on #19842
Looking at a PSManagementGroup object for my MG, its Name and ID properties are:

[code]

Developers will naturally pass `-GroupName mg1-lvl1` and `-GroupId /providers/Microsoft.Management/managementGroups/mg1-lvl1` and expect that to work. That's what I did.

The [Get-AzManagementGroup documentation](https://learn.microsoft.com/en-us/powershell/module/az.resources/get-azmanagementgroup?view=azps-

[2022-10-20 05:33] dingmeng-xue commented on #19842
Sure. Basing on the convention of Azure PowerShell, all management plane resource types use name and id. Id should be resource id which format is `[/subscriptions/{}/resourceGroups/{}]/providers/{}/{resource-type}/{name}[/{sub-resource-type}/{sub-name}...]`.  Management group has special design and uses [id from the beginning](https://github.com/Azure/azure-rest-api-specs/blob/8d9e22058eb70f4d20ba

[2022-10-20 09:17] kmoninsis opened #19879 "[Feature]: Deploy and retrieve Datafactory with Purview configuration using DatafactoryV2 cmdlets"
### Description of the new feature

The AzDatafactoryV2 cmdlet does not reflect the current configuration of Datafactory as it is deployed in Azure.  Get-AzDatafactoryV2 doesnt retrieve the Purview configuration. Likewise, the Set-AzDatafactoryV2 cmdlet cannot deploy a Datafactory with a Purview configuration.

### Proposed implementation details (optional)

Add propertie to cmdlets
[code]

[2022-10-20 09:29] fluffydice opened #19880 "get-azaccesstoken -resourceURL "https://graph.microsoft.com/" error 400 - unauthorized"
### Description

Following doc here - https://learn.microsoft.com/en-us/powershell/module/az.accounts/get-azaccesstoken?view=azps-9.0.0#example-3-get-the-access-token-for-microsoft-graph-endpoint.

command used as GA account within tenant;
get-azaccesstoken -resourceURL "https://graph.microsoft.com/"
Get-AzAccessToken: ManagedIdentityCredential authentication failed: Service request failed.

_Stat

[2022-10-20 13:21] #19695 closed

[2022-10-20 13:56] alexangas commented on #13868
Would like this as well please. Just hit a timeout in `Set-AzSqlElasticPool` when setting a maintenance window. The Azure Portal states this could take several minutes. A timeout of 100 seconds is not going to be enough. So I'd like to be able to configure it.

[2022-10-20 19:18] nikhilpatel909 commented on #16041
@dingmeng-xue @Sandido Please provide any update on the investigation. Do we need to close this issue?

[2022-10-20 19:29] jared-koiter opened #19892 "Get-AzMetric on SQL Server Database intermittenly doesn't find all valid metrics"
### Description

When attempting to run `Get-AzMetric -MetricName 'storage'` against a SQL Server Database resource, the call intermittently fails with a "BadRequest" response and the following message:

[code]

This list of valid metrics is much smaller than it should be, as in usual cases the list of valid metrics looks something more like the following:

[code]

Repeated attempts to run the com

[2022-10-20 19:34] nikhilpatel909 commented on #17534
we won't return protected parameters as part of GET or PUT. The goal of parameters and protectedParameters is to make them available within the script. not for display. RunAsUser functionality will be fixed as part of GA in next two weeks

[2022-10-20 19:36] MsGabsta commented on #19466
@navba-MSFT, I will get with the case owner on this to assist getting this resolved.

[2022-10-20 20:03] MsGabsta commented on #19466
@navba-MSFT we do own this specific issue.  I'll work with you through the support case to get this resolved.

[2022-10-20 20:14] C-Meinert opened #19893 "[Feature]: Enhance Get-AzAksNodePool to return current node image version"
### Description of the new feature

Update `Get-AzAksNodePool` to also return the current node image version. I would like to use this data along with data from `Get-AzAksNodePoolUpdateProfile` to determine if there is an update available for the node image.

Looking at the debug output the data already seems to be returned on the api request as `nodeImageVersion` but it is not part of the PS Obje

[2022-10-20 22:13] MariuszFerdyn commented on #19811
The solution is - the parameter file should be like:

`{
        "virtualMachinePrefix": {
            "value": "mftde"
        },
        "virtualNetworkRange": {
            "value": "192.168.1.0/24"
        }
    }`

[2022-10-20 22:14] #19811 closed

[2022-10-20 22:23] JohnDelisle commented on #19842
Thank you - I appreciate your assistance. Just hoping for consistency. :)

[2022-10-20 22:33] PwshPally commented on #16298
I just tried this using Set-AzOperationalInsightsLinkedService v3.1.0 and it had the same issue.

I then tried this using Set-AzOperationalInsightsLinkedService v3.2.0 and it worked.  It has been fixed.

[2022-10-20 23:33] PwshPally opened #19896 "Splatting with New-AzMonitorLogAnalyticsSolution succeeds with an error"
### Description

When I use splatting with New-AzMonitorLogAnalyticsSolution v0.1.0, I get:
"The server responded with an unrecognized response, Status: OK".

The command creates the solution, but also returns the error.

### Issue script & Debug output

[code]

### Environment data

[code]

### Module versions

[code]

### Error output

[code]

[2022-10-21 02:41] navba-MSFT commented on #19835
@clowa Apologies for the late reply. Thanks for reaching out to us and reporting this issue. We are looking into this issue and we will provide an update.

[2022-10-21 07:24] #19317 closed

[2022-10-21 08:02] #19535 closed

[2022-10-21 08:24] clowa commented on #19835
Hey @dingmeng-xue
I'm not 100 % sure what you mean.
The cmdlet `Get-AzPrivateDnsZone` doesn't allow to set a specific subscription so I tried `Set-AzContext -SubscriptionId <SUBSCRIPTION_ID>; Get-AzPrivateDnsZone` but the same error occurred.

Just to make sure, the affected subscriptions doesn't contain an active Azure private dns zone. On other subscriptions, also without any Azure private dns z

[2022-10-21 09:55] RakeshMohanMSFT commented on #19800
Issue fixed PR Merged

[2022-10-21 09:55] #19800 closed

[2022-10-21 09:59] RakeshMohanMSFT commented on #19896
@PwshPally Thank you for reaching out, we are looking into it.

[2022-10-21 10:18] navba-MSFT commented on #19835
@clowa I am unable to reproduce this issue at my end. So while enumerating through each of the subscriptions, Could you run the below command and check if the same issue occurs ?

Awaiting your reply.

[2022-10-21 11:37] clowa commented on #19835
Hey @navba-MSFT

too bad you can't reproduce it ...

I have run the following code. The Subscription was selected and the context was set without errors. The `Get-AzPrivateDnsZone` failed as expected.

[code]

I'm also able to receive other resources from the effected subscription eg. Resource Groups.

I don't know if it is important but as far as I can remember the effected subscription has never

[2022-10-21 14:46] dingmeng-xue commented on #19880
@fluffydice , `Get-AzAccessToken` is used for token redeem. It is not only for MSI and also support other auth approach. But user needs to ensure account has enough permission to redeem it.

[2022-10-21 14:54] dingmeng-xue commented on #19892
@jared-koiter , thanks for reporting. As you mentioned, the issue occurs in some resource but cannot occur in others. You need to provide resource information to Microsoft support to get further assistance. From client side, it doesn't have further information.

[2022-10-21 14:55] dingmeng-xue commented on #19893
We will evaluate this feature request.

[2022-10-21 15:04] dingmeng-xue commented on #19896
This should be a bug on service side. According to our test when module was implemented, HTTP status of return should be 201 rather than 200. Due to it is different from expectation, the error shows up.

[2022-10-21 15:58] RakeshMohanMSFT commented on #6367
Please use [Set-AzResource](https://learn.microsoft.com/en-us/powershell/module/az.resources/set-azresource?view=azps-9.0.1#examples)

[2022-10-21 15:58] #6367 closed

[2022-10-21 16:46] jared-koiter commented on #19892
I have contacted Microsoft support as suggested and will see if they can provide any insight into what's going on with these databases.

[2022-10-21 17:17] RakeshMohanMSFT commented on #7235
Please try using New-AzResourceGroupDeployment

[2022-10-21 17:17] #7235 closed

[2022-10-21 17:25] grizzlytheodore commented on #19689
addressed by https://github.com/Azure/azure-powershell/pull/19862/

[2022-10-21 17:25] grizzlytheodore commented on #19689
closing this issue

[2022-10-21 17:25] #19689 closed

[2022-10-21 23:38] PwshPally commented on #19896
201 would make more sense.  I'll reach out via my Azure support channel.  Thank you.

[2022-10-21 23:38] #19896 closed

[2022-10-22 01:07] 906657 opened #19909 "New-AzVirtualNetworkSubnetConfig Upcoming Breaking Changes Warning."
### Description

Running command in Cloud CLI PS, $datasubnet = New-AzVirtualNetworkSubnetConfig -Name 'Data-subnet' -AddressPrefix '10.0.1.0/24' throws warning, not using updated Cmdlet changes(ResourceId or InputObject). Yesterday the command work as expected.

### Issue script & Debug output

[code]

### Environment data

[code]

### Module versions

[code]

### Error output

[code]

[2022-10-22 17:48] PhilKri opened #19911 "[Feature]: total/summarized file share, queue, table and blob usage amounts per storage account"
### Description of the new feature

I would like to have the ability to get total/summarized file share, queue, table and blob usage amounts per storage account.
 This would be the same as what the Azure Portal storage accounts insights supplies.

### Proposed implementation details (optional)

You could consider implementing this with a parameter or maybe new metric names (e.g., TotalFileShareUse

[2022-10-23 03:16] michael-crawford commented on #19086
I just hit this issue too, where I'm trying to create equivalent "wrapper" scripts to handle complex deployments, which consist of a baseline repository containing templates and configuration files, which can be overridden by a customization repository which can then augment and/or override the templates and configuration files. This has an additional complication, in that in both the baseline and

[2022-10-24 04:25] RakeshMohanMSFT commented on #19399
This is Fixed.

[code]
![image](https://user-images.githubusercontent.com/49954584/197448365-512625e5-7cd3-43e5-a64a-289aec4ffb7f.png)

[2022-10-24 04:25] #19399 closed

[2022-10-24 05:17] #19630 closed

[2022-10-24 06:04] VeryEarly commented on #12923
Hi @matsest ,
As far as I know there are no shortcuts for pwsh/azcli to access private APIs.

Hi @asheniam do you have any idea when is this API going to be public?

[2022-10-24 09:42] marshalexander99 opened #19923 "Blank/Null values now allowed in templated New-Azresourcegroupdeployment parameters"
### Description

With the following code

`New-AzResourceGroupDeployment -ResourceGroupName $rgname -TemplateFile $templatefile  -storage_account_name $storage_account_name  -storage_account_kind $storage_account_kind  -storage_account_sku $storage_account_sku  -container_name $container_name  -avdvnetname $avdvnetname  -avdvnetrg $avdvnetrg  -avdvnetsub $avdvnetsub  -allowedip1 $allowedip`

if $a

[2022-10-24 13:36] pekohub commented on #16476
@jspc0 So, did you open up a ticket with MS, or did you create/find a workaround?

[2022-10-24 13:39] pekohub commented on #16476
@dingmeng-xue Can you please elaborate on where and how to open such a feature request ticket with MS? Is it something I can do in our company support contract? Or is there a special place for requesting features for code, in this case Powershell cmdlets?

[2022-10-24 17:40] tannerjonj opened #19926 "Set-AzVMOperatingSystem docs state -AssessmentMode is a valid parm but the command returns parameter cannot be found"
### Description

Trying the following PowerShell commands to set the OS Profile on an Azure VM.

$SecurePassword = ConvertTo-SecureString "Password" -AsPlainText -Force
$Credential = New-Object System.Management.Automation.PSCredential ("azroot", $SecurePassword);
$VirtualMachine = New-AzVMConfig -VMName "us-grr-ap0308" -VMSize "Standard_A1"
$ComputerName = "us-grr-ap0308"
$VirtualMachine = Set-Az

[2022-10-24 20:15] kwill-MSFT commented on #12550
This still needs to be fixed in the Powershell cmdlet to not throw the error.  I am managing a large number of subscriptions where I don't control how resources get created.  Part of managing these subs is deleting unused data factories, which requires removing ADF LinkedServices.  To do this I am trying to use Get-AzDataFactoryV2LinkedService, but since that cmdlet fails my script is not able to

[2022-10-24 22:59] ouaesjamali opened #19927 "Unable to create Log Alert using New-AzActivityLogAlert"
### Description

We are trying to automate the creation of log alerts using the Az.Monitor library and getting the following error New-AzActivityLogAlert : The module 'Az.Monitor.internal' could not be loaded. For more information, run 'Import-Module Az.Monitor.internal'. At E:\Code\Code\ManageLogAnalyticsAlerts.ps1:28 char:5 New-AzActivityLogAlert -Name 'sometest' -ResourceGroupName $logWo ... Ca

[2022-10-25 01:51] #19794 closed

[2022-10-25 03:25] BethanyZhou commented on #19794
Hi @jesshaines , you can expect a cmdlet named `Undo-AzKeyVaultManagedHsmRemoval` to recover a deleted managed HSM on Nov 1st.

[2022-10-25 03:56] navba-MSFT commented on #19386
@mialtamo I am following up with the Product Owners and yet to hear from them. I will keep you posted. We appreciate your patience on this.

[2022-10-25 03:57] mialtamo commented on #19386
Sounds good thanks for the update!

Michael R Altamore
Senior Cloud Solution Architect -Engineering - Azure & SharePoint & Project Server | Microsoft Federal
Office/Cell: (305) 219-5245
Corporate E-Mail: ***@***.******@***.***> | Federal Email: ***@***.******@***.***>

US Time Zone: PST

[Microsoft logo, gray text version]

From: navba-MSFT ***@***.***>
Sent: Monday, October 24, 2022 8:57 PM
To: A

[2022-10-25 04:31] #14532 closed

[2022-10-25 04:31] #14025 closed

[2022-10-25 06:05] #19791 closed

[2022-10-25 07:42] navba-MSFT commented on #19835
@clowa Thanks for your reply. Apologies for my late reply. It took sometime for me to fetch the right subscription and reproduce this issue at my end.

I have an interesting observation to share. I have a working scenario where the cmdlet **doesn't** throw any `Bad Request `error on the subscription where there are **no** Azure private dns zone resources.

Also I was able to get another subscripti

[2022-10-25 08:46] VeryEarly opened #19938 "[Doc]: Improve doc for Az.Functions"
### Description

Corrected invalid links, Please see detail in #19890

[2022-10-25 11:03] XRTce commented on #18017
Still getting the issue in 3.1.1
I helped myself and wrote a function which uses the rest api to unassign a session host:
[code]
an access token can be generated with the following command out of the Az POSH Module:
`connect-azaccount -tenant "$tenantID"`
`$Token = (Get-AzAccessToken).Token`

[2022-10-25 12:09] FriedrichWeinmann opened #19940 "Start-AzAutomationRunbook from Azure Functions with more than one parameter fails with "Invalid runbook parameters""
### Description

When calling an Automation Account Runbook from within an Azure Function App, the command `Start-AzAutomationRunbook` fails when offering more than one parameter.

Setup:

+ Function App, PowerShell 7.2 Runtime
+ Automation Account Runbook, 5.1 Runtime (_it will work with the 7.1 runtime!_)
+ Authorize the Function App Identity to start the runbook
+ Call `Start-AzAutomationRunboo

[2022-10-25 12:14] kaiaschulz commented on #19940
Unfortunately, I have the same issue and can reproduce it. Please investigate.
Thanks a lot.

[2022-10-25 16:33] Ralms opened #19942 "SetWebApp wipes AppSettings after suppressed exception from GetWebAppConfiguration"
### Description

This is a silent bug due to the fact that GetWebApp section, where it retrieves the AppSettings, is absorbing all exceptions.

While using a service account which only has Global Read + PIM, there is the possibility where the App Settings for an app are wiped if the PIM permission request hasn't fully replicated yet.

Timeline:

1. Elevate permissions with a PIM request to have Co

[2022-10-25 21:28] dcaro opened #19943 "[AKS] New-AzAKSCluster does not generate SSH key pair"
### Description

The following command does not generate the SSH Key for AKS Cluster

[code]
(Note: code wrapped for readability)

### Issue script & Debug output

[code]
[code]
[code]

### Error output

[code]

[2022-10-26 05:12] navba-MSFT commented on #18880
@johnsrsly Apologies for the late reply. Thanks for reaching out to us and reporting this issue. We are looking into this issue and we will provide an update.

CC @RakeshMohanMSFT

[2022-10-26 06:17] navba-MSFT commented on #19866
@dingmeng-xue @stetou We cannot start a Pipeline from a Collaboration branch by PowerShell cmdlet, it can be only done in live mode for now. Hope this answers.

[2022-10-26 06:34] SnehaSudhirG commented on #16399
The workaround has been provided in this PR

[2022-10-26 06:34] SnehaSudhirG commented on #16399
#please-close

[2022-10-26 06:36] RakeshMohanMSFT commented on #17254
Duplicate of https://github.com/Azure/azure-powershell/issues/19896

[2022-10-26 06:36] #17254 closed

[2022-10-26 06:46] YanaXu commented on #19751
Hi @JG-Spring ,

Sorry for the late response. I'm trying to understand your issue but I still have some questions. Hope you can check them and help me understand it better.

- What do you mean by "get 60% of the information needed" with the code `$vm.StorageProfile.ImageReference`?

Do you mean you can't get image information with this code for some special VM images  (e.g. **ImageReferenceis** is

[2022-10-26 06:55] RakeshMohanMSFT commented on #19927
@ouaesjamali
Thank you for reaching out, we are looking into it.

[2022-10-26 07:07] #16399 closed

[2022-10-26 07:54] fluffy-cakes commented on #16399
@SnehaSudhirG ; what PR? i don't see any link. this is an issue, not a PR

[2022-10-26 13:38] stetou commented on #19866
thanks for your answer

[2022-10-26 15:13] RakeshMohanMSFT commented on #19728
@plm
![image](https://user-images.githubusercontent.com/49954584/198065310-3ca57419-e4be-4c6b-86a2-d3384fc19917.png)

[2022-10-26 15:56] navba-MSFT commented on #19866
@stetou Thanks for getting back. We will now proceed with closure of this GitHub issue. If you need any further assistance on this issue in future, please feel free to reopen this thread. We would be happy to help.

[2022-10-26 15:56] #19866 closed

[2022-10-26 16:06] RakeshMohanMSFT commented on #19403
@frizzleqq Thank you for reaching out, we are looking into it.

[2022-10-26 16:13] plmcgrn commented on #19728
Az.Account updates to 2.10.2 but Az.Resources updates to 6.2.0 not 6.3.0, for me.
[code]

Regardless, retrying gives same results.
[code]
The results do not contain givenName or country.

[2022-10-26 16:19] grizzlytheodore commented on #19468
it is addressed in the PR and will GA nov 1. closing this issue

[2022-10-26 16:32] clowa commented on #19835
Hey @navba-MSFT,

great to hear you were able to reproduce the issue - it's super weird isn't it ?

I have no clue, my first guess was the API is messing up this. Looking forward to hear from you. Again - let me know if I can help!

Really appreciate your effort!

[2022-10-26 18:57] Sandido commented on #18978
This issue should be fixed in the November PS release: https://github.com/Azure/azure-powershell/milestone/137

[2022-10-26 18:58] #18978 closed

[2022-10-26 22:06] jlichwa commented on #19623
@lee27350 Add-AzKeyVaultKey is for cryptographic keys not certificates. You mentioned you are tried import certificate in Key Vault Portal, correct?

[2022-10-26 22:52] JG-Spring commented on #19751
Hello There,

This is my experience. This is the code:
$vms = Get-AzVM -ResourceGroupName EntInfra-VMs-Dev-ussc-01-rg

This is the value of $vms:
[cid:3ae993e0-57fb-4d6e-bc6b-90c62e5c2efc]

Now, if I execute this:
[cid:caf38e03-e335-4d5f-93e8-a4205fe341b4]
That is the only value I get out of 10+ vms.

Thanks for your assistance.

________________________________
From: Yan Xu ***@***.***>
Sent: Wed

[2022-10-26 22:59] KrisSodroski opened #19955 "Azure.CLI Authentication timeout"
### Description

When using Azure.Powershell > 7.5.0, downstream systems attempting to obtain a token from ManagedIdentityCredential sometimes times out.

In example using Azure.identity 1.7.0 from a c# program shows the following:

`Azure PowerShell authentication timed out.`

Downgrading to 7.5.0 seems to resolve the issue.

Follows from this issue:

https://github.com/Azure/azure-sdk-for-net/is

[2022-10-27 01:28] YanaXu commented on #19751
Hi @JG-Spring ,

Could you check if my below description is correct?

`
If (Get-AzVM -Status).OsName and (Get-AzVM -Status).OsVersion can return same result as (Get-AzVM -ResourceGroupName <resourceGroupName> -Name <vmName> -Status).OsName and (Get-AzVM -ResourceGroupName <resourceGroupName> -Name <vmName> -Status).OsVersion, are your problems all solved?
`

[2022-10-27 01:47] dingmeng-xue commented on #19923
Thanks for reporting. We will try to reproduce this issue. The question from our side is whether you can remove `-allowedip1` if it is empty?

[2022-10-27 01:54] dingmeng-xue commented on #19866
@navba-MSFT , is there way to allow @stetou to raise feature request to Synapse?

[2022-10-27 01:55] dingmeng-xue opened #19956 "vWAN vHub address space update"
### Discussed in https://github.com/Azure/azure-powershell/discussions/19564

<div type='discussions-op-text'>

<sup>Originally posted by **caofuuwe79qqvb** September 22, 2022</sup>
![image](https://user-images.githubusercontent.com/114128190/191657164-83f56539-05e3-4fb5-82b0-d45f9cfe6b58.png)</div>

[2022-10-27 03:20] rachelxj-ms commented on #19940
Hi @FriedrichWeinmann, I followed the steps you shared and tested the same code on Automation Runbook 5.1 Runtime. I created exact 3 parameters as the
I didn't reproduce the issue.
I looked into the logs further. I found this could be the cause:
In runbook parameters, "data" is lower case, but when you call Start-AzAutomationRunbook, the parameter name is "Data", first letter is uppercase.
"parame

[2022-10-27 03:28] JG-Spring commented on #19751
hello There,

Those commands are not returning any information:
[cid:5ac9b4bd-58ae-41b3-bbf1-319948080daa]

Thanks
________________________________
From: Yan Xu ***@***.***>
Sent: Wednesday, October 26, 2022 8:28 PM
To: Azure/azure-powershell ***@***.***>
Cc: JG-Spring ***@***.***>; Mention ***@***.***>
Subject: Re: [Azure/azure-powershell] How to get OS version of VM using PowerShell (Issue #1975

[2022-10-27 04:58] navba-MSFT commented on #19866
Yes @dingmeng-xue .

@stetou Please post and share this idea with the Synapse Analytics team here: https://feedback.azure.com/d365community/forum/9b9ba8e4-0825-ec11-b6e6-000d3a4f07b8

[2022-10-27 06:47] FriedrichWeinmann commented on #19940
Heya,
thanks for reproducing this and finding the issue.
Now, when I change the casing to lowercase, it works just fine ... but:
This is the test code in the Runbook (and already was before):

[code]

So the Runbook reported the wrong casing, which then caused the command to fail it.
Moreover, it reports the same when I call `Start-AzAutomationRunbook` locally, but does not mind me specifying `Dat

[2022-10-27 07:57] Matteo-T opened #19963 "[Doc]: Clarify the use for the "-Zone" parameter in New-AzVm"
### Description

Could you kindly clarify what the "-Zone" parameter in the New-AzVM cmdlet is about?

The documentation states what is kind of obvious ("Specifies the zone list of the virtual machine.") which is... not super helpful without the proper context. Also, the fact that it's just an array of strings does not help me figure out what values I should pass in.

So, my suggestion would be to

[2022-10-27 08:37] rachelxj-ms commented on #19940
When I tested in my lab, the parameters are case insensitive, it doesn't have to exactly match with Runbook parameter's name.  Not sure if there is any change in Automation service in last 2 days, as I tested since yesterday and I didn't reproduce the issue no matter what I tried on the naming style. But I'm glad you solved this issue.

[2022-10-27 08:40] FriedrichWeinmann commented on #19940
I would not call it "solved" ... but at least we have a workaround.
Happy to do a screenshare and demonstrate it, as it still reproduces for me :) (you can find me in Teams)

[2022-10-27 09:03] lee27350 commented on #19623
Hi @jlichwa

I am trying to use Add-AzKeyVaultKey to import a key. I am simply using a PFX as a convenient container for the private key. I am not trying to import a certificate. This should be possible according to the documentation. See

https://learn.microsoft.com/en-us/powershell/module/az.keyvault/add-azkeyvaultkey?view=azps-9.0.1#example-6-import-a-software-protected-key

![image](https://us

[2022-10-27 14:15] marshalexander99 commented on #19923
The point of having a deployment script is to allow for values to be added in as required. There shouldn't need to be a modification to remove the parameter should it not be required.
Currently I have to set the IP address to 0.0.0.0 if it's to be excluded and utilise some additional logic within the bicep code to ignore it. It would just be easier if it would allow null/blank values

[2022-10-27 16:11] cnash-reply opened #19965 "Get-AzStorageContainer requires access to 'Microsoft.Storage/storageAccounts/listKeys/action' in order to list containers"
### Description

Is there a way in PowerShell to allow users with the Reader role to get a list of storage account containers and properties?  Get-AzStorageContainer seems to require key access, but that will give full access to the container.

For Context...
Due to security guidelines, can't allow some accounts to see the contents of storage containers, but we do have the need for those users to

[2022-10-27 17:17] SaurabhSharma-MSFT commented on #19965
@cnash-reply We are looking into it and get back to you for any additional information.

[2022-10-27 17:32] jlichwa commented on #19623
@lee27350  thank you for clarification. You mentioned that you use password and tried exact same through Portal UX and it worked, but there is no password in Import Key UX, only in certificate UX:
<img width="959" alt="image" src="https://user-images.githubusercontent.com/52512203/198358521-a23e209d-9927-42de-811a-d65d7c46ae77.png">

[2022-10-27 18:30] jackchenwork commented on #10497
@gh-anton MSGraph works better than AZ. I was trying to find some Azure Device information, only to find out get-AzADDevice doesn't even exist ( can't understand why the PM think get-AzureADDevice is necessary, but get-AzADDevice is not)?

for Get-MgUser  ,  one thing I found is many properties will just return empty if not added in -property attribute.

"(get-MgUser -userid <userid> ).ProxyAddres

[2022-10-27 19:27] jaylabell commented on #16793
@ziyuezh576  I assume that you are no longer experiencing this issue. Please re-open if you have any additional questions. Closing for now.

[2022-10-27 19:27] #16793 closed

[2022-10-27 19:30] jaylabell commented on #18217
This item is still pending for updates

[2022-10-27 19:55] Francisco-Gamino commented on #19828
This issue has been fixed.

[2022-10-27 19:55] #19828 closed

[2022-10-27 19:59] Francisco-Gamino commented on #19383
@Kotasudhakarreddy -- Could you please move this to the Az.WebSites cmdlets issues? Thanks.

[2022-10-28 01:24] dingmeng-xue commented on #19623
Azure PowerShell team will evaluate this requirement.

[2022-10-28 02:59] navba-MSFT commented on #19372
Adding Service team to assist on this.

@Sharmistha-Rai Could you please look into this once you get a chance ? Thanks in advance.

[2022-10-28 03:06] rachelxj-ms commented on #19940
I checked Az.Automation Start-AzAutomationRunbook implementation, it uses OrdinalIgnoreCase to compare the parameter's name. It should be case insensitive.

[2022-10-28 04:38] navba-MSFT commented on #19835
@clowa After looking at the backend logs, I could identity the cause of this issue.

The subscription that is "Not Registered" for the Microsoft.Network resource provider will result in this issue. You can check this for your failed subscription from Azure portal.
Navigate to that failing **Subscription** in Azure Portal --> Select **Resource providers** --> Search for **Microsoft.Network** Resour

[2022-10-28 05:17] dingmeng-xue commented on #19955
@KrisSodroski , Could you confirm what you have got is "Azure CLI authentication timed out." or "Azure PowerShell authentication timed out."?

[2022-10-28 06:17] KANNIBALAMK commented on #19177
Hi

I don't want to pass the ClientId/SecretID as parameters.
Want to get it dynamically while deploying through CI CD.
How to achieve it?

[2022-10-28 06:24] sibendu21 opened #19973 "Support GraphQL in Automated Deployment - Azure Powershell"
### Description

We are trying to deploy GraphQL through automated deployment process using powershell. But We have received below error message. We are using Azure Powershell task (- task: AzurePowerShell@5) for this deployment process. Your microsoft document says azure powershell version 8.3 supported GraphQL but none Microsoft agent pool have latest powershell installed. Then I tried my Privat

[2022-10-28 06:57] RakeshMohanMSFT commented on #18880
@johnsrsly We are unable to reproduce this issue at our end. Please see image below. 1) We created an API with a auth server. 2) We imported an API without specifying any auth server.
![image](https://user-images.githubusercontent.com/49954584/198523222-5582cf12-8e84-4bd8-9319-53b309837d51.png)

![image](https://user-images.githubusercontent.com/49954584/198523253-d8fed24b-93fb-48d8-bc62-a96a90c30

[2022-10-28 06:57] dingmeng-xue commented on #19177
@ElvenSpellmaker , My understanding is task `PowerShell` still runs on agent pool image `ubuntu-20.04`. Please install Azure PowerShell module at first. You also can leverage another ADO task `AzurePowerShell` which will handle authentication `Connect-AzAccount` internally.

[2022-10-28 07:00] ElvenSpellmaker commented on #19177
@dingmeng-xue Not quite as the job is run under the container:
[code]

[2022-10-28 07:06] dingmeng-xue commented on #19177
@KANNIBALAMK , 2 choices in my mind if you are using Azure DevOps

1. You need to create a service connection to target subscription, and then create a task `AzurePowerShell` with that connection. Task will help you to handle authentication. You only need to add azure powershell cmdlet to do operations on Azure.

2. Define appid and secret as pipeline variable. and use them in your script. Here is

[2022-10-28 07:12] RakeshMohanMSFT commented on #4779
Classic cloud service is deprecated, if you still need help. Please reopen this

[2022-10-28 07:12] #4779 closed

[2022-10-28 07:22] RakeshMohanMSFT commented on #19909
@906657 Its a new config change, documented [here](https://learn.microsoft.com/en-us/powershell/azure/release-notes-azureps?view=azps-9.0.1)

**`[Breaking Change] Changed default value of '-PrivateEndpointNetworkPoliciesFlag' to 'Disabled' in 'Add-AzVirtualNetworkSubnetConfig' and 'New-AzVirtualNetworkSubnetConfig'`**

[2022-10-28 07:38] RakeshMohanMSFT commented on #19403
@frizzleqq Yes, it is expected.  its documented [here ](https://learn.microsoft.com/en-us/powershell/module/az.synapse/update-azsynapsesparkpool?view=azps-9.0.1) **This command enables dynamic executor allocation and specify min executor count and max executor count for an Apache Spark pool in Azure Synapse Analytics.**

[2022-10-28 08:47] kaiaschulz commented on #19940
Hi,
at my side, it is case sensitive!

The powershell code (5.1) parameter in my **AutomationAccount**:
![image](https://user-images.githubusercontent.com/58422100/198544556-1ef698f6-6cbb-41b4-a6be-c4c923d34b85.png)

The feedback from the **FunctionApp** where I am trying to call the AutomationAccount:
[code]
Now, if I do the call with the following adjusted parameter of the output from the Functi

[2022-10-28 09:21] RakeshMohanMSFT commented on #19035
@BartDecker Thank you for reaching out, we are looking into it.

[2022-10-28 09:40] laurikoobas commented on #16450
I've run into the same error described here.
Is there any other tools that would help do what this script does? As in - tools that actually work?

[2022-10-28 09:51] navba-MSFT commented on #16450
@laurikoobas

Do you have the failure `x-ms-request-id ` response header from the most recent occurrence of the issue ?

[2022-10-28 10:06] lee27350 commented on #19623
Hi @jlichwa

The Azure Portal does allow keys to be imported from password-protected PFX files.

In the same way that the portal UI changes if you select "Import" rather than "Generate", it also changes when you upload a password-protected PFX file:

![image](https://user-images.githubusercontent.com/114397039/198558671-8056b1cc-d595-48af-a171-d0d464c92409.png)

i.e. If you actually upload a passw

[2022-10-28 12:02] laurikoobas commented on #16450
[code]

[2022-10-28 14:12] lucabovo commented on #16061
Good morning,
@dingmeng-xue
@dcaro
@netwatchsuppgithub
@msftbot

this issue is already 1 year old...

Any news?

Thanks,
Luca Bovo

[2022-10-28 14:50] dingmeng-xue commented on #16061
Sorry for slow response. I pinged owner team just now. Let's wait their response. Ping me again please if there is no update in the next week.

[2022-10-28 16:15] larswurm opened #19979 "[Doc]: https://learn.microsoft.com/en-us/powershell/module/az.app/new-azcontainerapptemplateobject?view=azps-9.0.1 - elaborate on how to constructe Probe hash table for multiple probes at once"
### Description

Hi - I am able to construct a valid probe (singular) which I pass to the image. However - i don't seem to be able to push "all" of the probes I want, in a single go - using this documentation at https://learn.microsoft.com/en-us/powershell/module/az.app/new-azcontainerapptemplateobject?view=azps-9.0.1 - section where it "documents" complex probe hash tables, providing multiple pro

[2022-10-28 22:17] rhavenn opened #19982 "AzSecurityInsights - Get-AzSentinelIncident - Top parameter doesn't work"
### Description

The `-Top` parameter for `AzSecurityInsights - Get-AzSentinelIncident` module command doesn't work. Log into Az, changed context to your Sentinel subscription and run `Get-AzSentinelIncident` as per below.

### Issue script & Debug output

[code]

You just get ALL (open, closed, whatever) incidents from the workspace. I killed it after running for 10  minutes.
[code]

### Module v

[2022-10-28 22:22] rhavenn opened #19983 "AzSecurityInsights - Get-AzSentinelIncident - Filter doesn't work"
### Description

The `-Filter` parameter for the `AzSecurityInsights - Get-AzSentinelIncident` module command doesn't seem to be implemented / documentation isn't clear on how to make it work.

Run it without the requested "string" input and you get a warning to supply a "string". Okay, so I supply a "string" and then you get a warning that the `Get-AzSentinelIncident_List` isn't found.

### Issue

[2022-10-29 07:59] frizzleqq commented on #19403
@RakeshMohanMSFT The numbering of the examples has unfortunately changed with this commit: https://github.com/Azure/azure-powershell/commit/80a34f264ef9054019b3e4af6a78588d8b6d50d5

So my link to the example is outdated.

It changed from 9 to 11. But from the issue description it should be clear that the Commando in question is:
[code]

[2022-10-29 10:17] itsamemarkus commented on #7553
I don't know if this helps anyone after this is closed, but I noticed that all my WinRM modules got installed by Visual Studio Enterprise 2022 Preview -> Azure development and it caused the error `may override the existing commands.` when trying to install Az from gallery.

[2022-10-29 12:04] RakeshMohanMSFT commented on #19983
@rhavenn Thank you for reaching out, we are looking into it.

[2022-10-29 12:04] RakeshMohanMSFT commented on #19982
@rhavenn Thank you for reaching out, we are looking into it.

[2022-10-29 12:24] RakeshMohanMSFT commented on #19982
@rhavenn Can you please try this rest API? https://learn.microsoft.com/en-us/rest/api/securityinsights/preview/incidents/list?tabs=HTTP#code-try-0, with TOP parameter as shown below. Because i see no issue from the client the debug log is showing that powershell does pass the top to the service. Perhaps the service is not honoring it.
![image](https://user-images.githubusercontent.com/49954584/198

[2022-10-29 12:27] RakeshMohanMSFT commented on #19983
@rhavenn You need to pass a value to it, like -Filter "status = Closed"

[2022-10-29 14:17] thaiolivia opened #19984 "[Feature]: SKR Policy Location"
### Description of the new feature

Today default CVM SKR Policy is stored as a blob in a test subscription - https://cvmprivatepreviewsa.blob.core.windows.net/cvmpublicpreviewcontainer/skr-policy.json

This is risky as anyone in the subscription can modify the file and cause CVM CMK scenario to fail. Currently, PowerShell reads from this storage account which we would like to avoid.

We have deci

[2022-10-30 23:41] rhavenn commented on #19983
Is this documented anywhere on what to pass to it or what's possible? Is it just passing  items to the API? So, the API docs would be applicable?  I will try as you suggest and see what I get, but in reading the documents there is no indication that's how you set it to filter stuff or what values can be passed.

[2022-10-31 01:23] vivlingaiah opened #19985 "Set-AzVMRunCommand, Set-AzVmssVMRunCommand with -ScriptLocalPath parameter not working as expected"
### Description

Set-AzVMRunCommand, Set-AzVmssVMRunCommand with -ScriptLocalPath parameter not working as expected. They are failing due while reading the script file. Please refer to Issue script and debug output for cases that fail, only one case passes.

### Issue script & Debug output

[code]

### Environment data

[code]

### Module versions

[code]

### Error output

_No response_

[2022-10-31 03:15] blueww commented on #19965
@cnash-reply

Would you please give more details to help investigation of the issue?
1. After repro this issue , run `get-command Get-AzStorageContainer`. We would like to see where the cmdlet come from. Because from the cmdlet code, we don't see a logic to list key of the account.
2. The full script to repro this issue (hide credential), include how you prepare each parameter of `Get-AzStorageCon

[2022-10-31 04:37] bniranjanbhat opened #19987 "Connect-AzAccount expects Tenant-ID if account is available in multiple tenants [Breaks Backward Compatibility]"
### Description

Using Connect-AzAccount with only subscription ID switch used to work earlier.
However, with the latest version (2.10.2), it expects the TenantID also if the account is part of multiple tenants, this breaks backward compatibility.

NOTE:  I have also seen another behavior:
1. Perform Connect-AzAccount with -Subscription and -TenantId parameters.
    - User logs in successfully
2.

[2022-10-31 05:44] navba-MSFT commented on #19835
@clowa I wanted to do quick follow-up to check if you had a chance to look at my above comment. Please let us know if you had any updates on this. Awaiting your reply.

[2022-10-31 05:56] Saglodha commented on #17688
@HarukaMatsumura, this should be fixed in the latest release which should be out by next week. Could you please retry and confirm if you face any issues? Thanks

[2022-10-31 07:34] RakeshMohanMSFT commented on #19728
@plmcgrn Its actually as designed. You can use this command as a word around to get the GivenName and country
`Get-AzADGroupMember -ObjectId a5819190-0f06-45c6-bcf2-434a119225ed | where-object {$_.OdataType.Contains("user")} | foreach-object {Get-AzADUser -ObjectId $_.Id -Select Id,displayName,userPrincipalName}`

[2022-10-31 09:56] bemokraig commented on #19987
I also ran into this, took some time to sort out when things that used to work suddenly don't.

[2022-10-31 10:42] larswurm commented on #19979
hi - solve it. It was enought to add the "multiple probe" object into an array, and send the Array to the cmdlet for processing. Hence, might want to update the documentation text where it states it should be of type "HashTable"... change to Array instead.
Code worked:

@arr = @()
@arr += $probe
@arr += $probe1
@arr += $probe2

[2022-10-31 12:35] dingmeng-xue commented on #19973
@sibendu21 , thanks for contacting us. The Azure PowerShell task in ADO is supported by another team and repo. Please raise your ask to https://github.com/microsoft/azure-pipelines-tasks/tree/master/Tasks/AzurePowerShellV5

If you know how to implement your requirement in PowerShell script, you can achieve it in ADO as well. You need to use PowerShell task and execute script directly. The only inc

[2022-10-31 13:03] sjmoden opened #19990 "[Doc]: add-azmetricalertrulev2 Example Not Valid"
### Description

Example 4 in the documentation https://learn.microsoft.com/en-us/powershell/module/az.monitor/add-azmetricalertrulev2?view=azps-9.0.1 is not valid code and will fail when executed in Az version 9.0.1.

The example code is:
[code]

However this is no longer valid due to `New-AzActionGroup` being removed in 9.0.1

[2022-10-31 14:08] ahmad-masalha opened #19991 "Set-AzKeyVaultSecret Socket Exception and timeout"
### Description

When trying to execute Set-AzKeyVaultSecret PS command, I consistently get a timeout/socket exception. Retries do not help. I usually have to wait multiple hours before retying and succeeding,

### Issue script & Debug output

[code]
[code]

### Module versions

[code]

### Error output

[code]

[2022-10-31 15:30] ouaesjamali commented on #19927
Any update on this issue?

[2022-10-31 15:39] RakeshMohanMSFT commented on #19990
@sjmoden Thank you for reaching out, we are looking into it.

[2022-10-31 16:23] bniranjanbhat commented on #19987
hey @dingmeng-xue
I had mentioned this already:

The issue stops occurring if you did like below already once on the machine:

1. Perform Connect-AzAccount with -Subscription and -TenantId parameters.
    - User logs in successfully
2. Perform Disconnect-AzAccount
    - User logs out successfully
3. Now, perform Connect-AzAccount with -Subscription only.
    **-  User can now login successfully.**

[2022-10-31 17:17] rhavenn commented on #19982
Yes, adding top 1 or top 10 in the rest API portal still just returns way more than that. 50 to be exact. The query that was run was:
[code]
or
[code]

[2022-10-31 17:19] RakeshMohanMSFT commented on #19982
@rhavenn Thank you for your confirmation. The issue is not at the client side but at the Service end. Therefore I suggest you open a support ticket for further assistance.

[2022-10-31 17:37] rhavenn commented on #19982
Thank you. I opened a ticket with support.

[2022-10-31 17:41] RakeshMohanMSFT commented on #19982
@rhavenn Thank you. I will close this issue.

[2022-10-31 19:04] rhavenn commented on #19982
So, this was my bad. I guess the 'top' needs to be `$top`  and then the API works fine. ie. the query should end up being:
[code]

So, we're back to the PS module not working right.

[2022-10-31 21:29] #14021 closed

[2022-10-31 22:45] fluffydice commented on #19880
I am trying to use a service principal to attempt to obtain ms graph access token.  What permissions are required and which resource are these scoped to?  Docs advise using a dedicated app registration to manage graph API resources, but this cmdlet can be used with Https://graph.microsoft.com Uri, which is a little confusing.

Thanks

[2022-10-31 23:41] stetou commented on #19866
Thank you
Here is my request to Synapse
https://feedback.azure.com/d365community/idea/97433269-7559-ed11-a81b-000d3ae5ae95

[2022-11-01 03:24] RakeshMohanMSFT commented on #19982
@rhavenn Oh, i think i missed that. Let me look into it.

[2022-11-01 04:00] dingmeng-xue commented on #19880
@fluffydice , OAuth2 protocol used by MS has 2 steps. The first step is login azure using user account or service account to get refresh token.  The second step is to redeem access token for specific endpoint based on refresh token.

For your case,
1. You need to login Azure using `Connect-AzAccount -ServicePrincipal ......`. Once it is succeeded, refresh token is fetched.
2. When you call `Get-Az

[2022-11-01 07:03] VeryEarly commented on #12923
Hi fellas,
Just found it
https://learn.microsoft.com/en-us/rest/api/application-insights/workbooks
https://github.com/Azure/azure-rest-api-specs/blob/main/specification/applicationinsights/resource-manager/Microsoft.Insights/stable/2021-08-01/workbooks_API.json#L36

Will support from Azure-PowerShell soon

[2022-11-01 08:32] dingmeng-xue commented on #19987
@bniranjanbhat ,

After `Disconnect-AzAccount` and `Clear-AzContext` are executed, you can assume environment is clean. I cannot see the error after it.

The log shows below error. It's the reason I'd like to get your confirmation that you cannot see the same problem when you use old version. Your answer will help me to provide further analysis.
[code]

[2022-11-01 08:39] fluffydice commented on #19880
Thanks for the advice.  I have tried what you have described and I am still struggling to identify how the graph API scopes are being applied as I am seeing that even without any permissions applied to the spn, I am still able to make changes to an aad group membership i.e. add/remove a device object from a group.  My requirement is to use automation (azdo agent using application spn) and graph AP

[2022-11-01 08:55] isra-fel opened #19997 "Error when importing Az.DataProtection v1.0.0 in Windows PowerShell"
### Description

When I import Az.DataProtection v1.0.0 in **Windows PowerShell** I got the following error:
[code]

### Issue script & Debug output

[code]

### Environment data

[code]

### Module versions

[code]

### Error output

[code]

[2022-11-01 08:57] isra-fel commented on #19997
@hiaga this issue should be related to [this line](https://github.com/Azure/azure-powershell/blob/main/src/DataProtection/custom/Cmdlets/Platform/Vault/Set-AzDataProtectionMSIPermission.ps1#L180). Removing the line-break before the pipeline operator ("|") should fix it.

[2022-11-01 10:15] Kotasudhakarreddy commented on #19942
@Ralms Can you please update the issue with **Module Versions** and **Environment Data**

[2022-11-01 15:45] jaylabell commented on #15183
These items have been updated. Please let me know if you have any additional questions.

[2022-11-01 15:45] #15183 closed

[2022-11-01 15:49] RakeshMohanMSFT commented on #19983
Its a simple json filter. I will add an example in the documentation.

[2022-11-01 15:49] jaylabell commented on #15574
This item was completed https://msazure.visualstudio.com/One/_workitems/edit/14469917

[2022-11-01 15:49] #15574 closed

[2022-11-01 16:01] grizzlytheodore commented on #15025
https://msazure.visualstudio.com/One/_workitems/edit/15445644/?triage=true

[2022-11-01 18:03] thaiolivia commented on #19984
Update: This is more urgent for PowerShell since public access of storage account blobs are listed as SEV1 concern

[2022-11-01 20:24] Sandido commented on #18951
Confirmed with @viananth  that this issue does not repro anymore.

[2022-11-01 21:24] DevonK3 opened #19999 "Timeline for Az.Consumption Update"
### Description

I've been using Az.Consumption but was told a new version would be available in 2022 that uses the updated API and includes items such as $budget.Scope, $budget.ResourceGroup, etc. As it is now, I cannot determine from a budget what its scope is.
[code]

### Script or Debug output

_No response_

### Environment data

_No response_

### Module versions

_No response_

### Error ou

[2022-11-02 09:26] fluffydice commented on #19880
Hi again,

Just to add a bit more detail to help progress my issue.

I have followed both step 1 and step 2 above.  I just don't understand how in the service principal azure context I am able to read/write to aad groups using Microsoft graph.  I have inspected the bearer token returned from 'get-azaccesstoken -resourceurl 'https://graph.microsoft.com'' cmdlet call and what is interesting is that

[2022-11-02 09:29] dingmeng-xue commented on #19880
@fluffydice , you can find my email address from my profile. Could you email me decoded token? You can decode token via https://jwt.ms/

[2022-11-02 09:30] fluffydice commented on #19880
Yes of course.  I have been using that resource already to decode the token.

[2022-11-02 09:58] rachelxj-ms commented on #19940
In azure function powershell host, it uses Microsoft.Powershell.SDK 7.2.6 to run powershell cmdlet. On local machine, it's executable Powershell to run the same command. The code base is the same, but Powershell is built for each different platform (https://github.com/PowerShell/PowerShell/tree/v7.2.6). This case sensitive issue in Azure function is platform specific. I would suggest you raise a t

[2022-11-02 10:14] fluffydice commented on #19880
Sent over a ma

Sent over info to your mail.  Please can you let me know if you have received this?

Thanks

[2022-11-02 10:34] fluffydice commented on #19880
@and-digital-gc

[2022-11-02 11:28] syunwei commented on #15038
The command of `UpdateAzFunctionAppSetting` works for me to updating logic app app settings!!
https://learn.microsoft.com/en-us/powershell/module/az.functions/update-azfunctionappsetting?view=azps-9.1.0

[2022-11-02 12:32] dingmeng-xue commented on #19987
@bemokraig , please check whether your account can access multiple tenant. If one tenant requires stricter authentication approach than the first tenant picked up by Azure PowerShell, you will hit the problem.

So far, this issue can not be resolved on client side because AzureAD determines authN approach according to tenant setting and access policy. Client cannot determine it or predict which te

[2022-11-02 12:34] dingmeng-xue commented on #19991
@ahmad-masalha , thanks for reporting. What's  X.X.X.X:443? Is it the proxy server owned by your organization?

[2022-11-02 12:43] dingmeng-xue commented on #19979
Close this issue. Please contact us if you need further help.

[2022-11-02 14:42] ahmad-masalha commented on #19991
@dingmeng-xue This was the keyvault's IP address as I recall, hence why I scrubbed it.

[2022-11-02 16:13] #19792 closed

[2022-11-02 16:32] hckenmiller opened #20006 "Issues with Az module 9.1.0"
### Description

Issues with Az 9.1.0 running Install-Module -Name Az -Scope CurrentUser -Repository PSGallery -Force -AllowClobber

### Issue script & Debug output

[code]

### Environment data

[code]

### Module versions

[code]

### Error output

[code]

[2022-11-03 00:29] Francisco-Gamino opened #20009 "Remove Preview flag for Java 17 function apps"
### Description

Remove Preview flag for Java 17 function apps

### Issue script & Debug output

[code]

### Environment data

[code]

### Module versions

[code]

### Error output

[code]

[2022-11-03 00:55] dingmeng-xue commented on #19991
@ahmad-masalha , normally, the request should go to `https://{vault-name}.vault.azure.net//keys/{keyname}/?api-version=7.0`. If you get the message like that, it may be either your request goes to proxy and blocked, or keyvault service outage. The former one has high possibility. You can append `-Debug` to get more information.

It is out of our knowledge.  Please check whether your team mates hav

[2022-11-03 01:13] dingmeng-xue commented on #20006
@hckenmiller , thanks for reporting. Could you share exact script you are using on PowerShell@2 task and parameters of that task?

[2022-11-03 01:40] BethanyZhou commented on #19984
please expect this feature has been supported in next release (Dec 6th).

[2022-11-03 01:46] #19751 closed

[2022-11-03 03:22] navba-MSFT commented on #19999
@DevonK3 Thanks for reaching out to us and reporting this issue. We are looking into this issue and we will provide an update.

[2022-11-03 04:06] navba-MSFT commented on #19835
@clowa The action is currently pending on you to test the above suggestion. If you need any further assistance on this issue in future, please feel free to reopen this thread. We would be happy to help.

[2022-11-03 04:06] #19835 closed

[2022-11-03 07:28] HUMBERP opened #20011 "[Doc]: Version 9.1.0 not present in versions-manifest.json"
### Description

Latest version 9.1.0 ist not present within https://raw.githubusercontent.com/Azure/az-ps-module-versions/main/versions-manifest.json.
If trying to add this version 9.1.0 to runner-images execution the creation of the image fails.

[2022-11-03 07:43] navba-MSFT commented on #19999
@DevonK3 May I know from where did you get an update on the newer version of the Consumption APIs?

[2022-11-03 08:21] dingmeng-xue commented on #20011
Hi @HUMBERP , thanks for reporting. We are not working on repo Azure/az-ps-module-versions. Please raise your request to that repo. Thanks.

[2022-11-03 08:38] dingmeng-xue opened #20013 "[Feature]: Optimize SPN authentication flow"
### Description of the new feature

Following this article https://learn.microsoft.com/en-us/azure/active-directory/develop/msal-net-acquire-token-silently

Azure PowerShell needs to use `AcquireTokenSilent` method to fetch access token for SPN authentication flow. If it fails, Azure PowerShell needs to acquire access token using secret, cert, or other credentials.

### Proposed implementation det

[2022-11-03 08:40] pierrejeandev opened #20014 "[Doc]: Add-AzKeyVaultNetworkRule: example wrongly use IP in 10/8 when document says 10/8 cannot be used"
### Description

Document says that IP range inside 10/8 cannot be used but the example 3 lines bellow uses IP 10.0.1.0/24

[2022-11-03 09:22] jiasli commented on #20013
Azure CLI worked on this before in https://github.com/Azure/azure-cli/issues/13276

[2022-11-03 11:51] erwinkramer opened #20017 "Set-AzApiManagementApiVersionSet does not output the PsApiManagementApiVersionSet object"
### Description

According to the docs https://learn.microsoft.com/en-us/powershell/module/az.apimanagement/set-azapimanagementapiversionset?view=azps-9.1.0#outputs `Set-AzApiManagementApiVersionSet` should output a version set object, but it doesn't return anything when running succesfully.

### Issue script & Debug output

[code]

### Environment data

[code]

### Module versions

[code]

### Er

[2022-11-03 14:31] DevonK3 commented on #19999
I was referring to PWSH, but thanks for the `az consumption` reference. I'll use this instead since PWSH doesn't support full Budget object operations. I try to not use `az` unless I have to since it is ... [redacted] ... not an enjoyable experience.

I received the Consumption API update some time back during another MSFT conversation about "Create Budget" being broken in az, pwsh, and Terraform,

[2022-11-03 17:44] jaylabell commented on #19963
HI @Matteo-T - Thank you for the insight. We will work on this request for an update.

[2022-11-03 19:44] jaylabell commented on #14206
@navba-MSFT this item is being investigated. Updates are coming.

[2022-11-03 19:56] Sandido commented on #14206
[ADO item](https://msazure.visualstudio.com/One/_workitems/edit/15445621) tracking this work.

[2022-11-03 20:03] jaylabell commented on #15526
@bjosafa can you please clarify what you mean by SKU code? Is this related to billing?

[2022-11-03 21:38] bjosafa commented on #15526
@jaylabell yes... e.g.: Virtual Machines (West US - VM 1 D2 v3) = AAA-44930 (Sku code) <- that information that I want

[2022-11-04 04:22] navba-MSFT commented on #19386
@mialtamo Apologies for the late reply. Workflow commonly deserializes objects, which then makes the method unavailable. Do should put the two lines in an **InlineScript** like below :

[code]

More Info [**here**](https://learn.microsoft.com/en-us/azure/automation/automation-powershell-workflow#deserialized-objects). Please test this and let us know the update.

[2022-11-04 04:39] Drewm3 commented on #15526
@bjosafa, could you provide a URL or additional context on where you are seeing "AAA-44930"? Generally the compute resource provider layer of the platform doesn't have these specific billing related items. We provide the commerce system with the VM details and the region in which the VM is running, and then that information is translated into billing codes. So, I do not believe we are going to be

[2022-11-04 04:52] Jassingh819 commented on #19576
Closing with no updates from the Cx. Hope the issue is resolved.

[2022-11-04 04:52] #19576 closed

[2022-11-04 05:25] jaehwanjoa commented on #19299
2022-11-04:
New-AzEventGridSystemTopic: The term 'New-AzEventGridSystemTopic' is not recognized as a name of a cmdlet, function, script file, or executable program.
Check the spelling of the name, or if a path was included, verify that the path is correct and try again.

[2022-11-04 07:45] wonner commented on #19441
Close as it's by design. Please feel free to reopen it if you have other question. Thanks.

[2022-11-04 07:46] #19441 closed

[2022-11-04 12:49] jared-koiter commented on #19892
I still have a ticket open with Microsoft support, who themselves appear to be waiting on a response from an internal product team. I'll provide an update here as soon as I get an answer from Microsoft.

[2022-11-04 16:43] hckenmiller commented on #20006
It doesn't matter which powershell task, they all fail the same way. Here is one of the powershell tasks.

  - task: PowerShell@2
    displayName: Deploy Databricks Workspace
    inputs:
      #verbosePreference: 'default' # Optional. Options: default, stop, continue, silentlyContinue
      #verbosePreference: 'continue'
      filepath: "$(System.DefaultWorkingDirectory)/deployment/scripts/Deploy-

[2022-11-04 17:14] Ralms commented on #19942
@Kotasudhakarreddy Could you please elaborate on the relevance in the module Versions and Environment Data considering I explained where the bug in the code is located? Doesn't really matter where the cmdlet is called, as long as it's using the last available version.

Is a logic issue, where exceptions are being silently absorbed, causing bad behavior higher up in the code.

I've already shared l

[2022-11-05 00:26] PramodValavala-MSFT commented on #18375
@litian1992 Considering the cmdlet simply calls the corresponding ARM REST API, it is likely this was an intermittent issue at the time. This could at times just be temporary since ARM data is being synced internally when the resource is just created.

If this is a consistent issue, it would be best to create a support ticket to troubleshoot from the backend. Closing since no change in the cmdlet

[2022-11-05 00:26] #18375 closed

[2022-11-05 00:59] agr opened #20029 "[Doc]: "Example 1" script no longer works"
### Description

Pretty sure it worked in the past, but with the latest version of Az module the [example script](https://learn.microsoft.com/en-us/powershell/module/az.keyvault/Set-AzKeyVaultManagedStorageSasDefinition?view=azps-9.1.0#example-1-set-an-account-type-sas-definition-and-obtain-a-current-sas-token-based-on-it) no longer works. More precisely, the script itself works, but the SAS token

[2022-11-05 01:02] agr commented on #20029
Why this happens: it seems one no longer can use `New-AzStorageContext` cmdlet to generate SAS token definition templates as it produces with with `sv` parameter set to `2021-10-04` (as of writing) and key vault [seem](https://learn.microsoft.com/en-us/azure/key-vault/secrets/overview-storage-keys-powershell#account-sas-parameters-required-in-sas-definition-template-for-key-vault) to expect nothin

[2022-11-06 07:33] harelbr commented on #10907
Just to close this thread:
The Add-AzWebtestAlertRule cmdlet is relevant for the classic alerts feature, which is already retired on public cloud, and will be fully retired on other national clouds by Feb 2024.

To set up a metric alert rule on a webtest, please use the [Add-AzMetricAlertRuleV2](https://learn.microsoft.com/en-us/powershell/module/az.monitor/add-azmetricalertrulev2?view=azps-9.1.0)

[2022-11-06 07:33] #10907 closed

[2022-11-06 09:13] clowa commented on #19835
Hey @navba-MSFT,
I'm sorry for my late reply! I can confirm the issue is resolved by registering the `Microsoft.Network` provider on the affected subscriptions.

Big thank's for your assistance!

[2022-11-06 15:36] dingmeng-xue commented on #20006
@hckenmiller , It seems `Deploy-Databricks-Workspace.ps1` contains API call to `Set-AzDataProtectionMSIPermission.ps1`. If yes, please share snippet of your script.

[2022-11-06 15:38] dingmeng-xue commented on #20014
@BethanyZhou , please help look into this example.

[2022-11-07 01:50] dingmeng-xue commented on #19790
@ville87 , According to debug log, it seems `Connect-AzAccount` is hanging and waiting browser popping up for interactive login. Browser showing up depends on .NET Framework API. So far, I don't have idea which part blocks this logic. I looked into Sql module but don't find special setting in Az.Sql. Could you try below 2 approaches.

1. Please use `Connect-AzAccount -DeviceCode` to switch logic a

[2022-11-07 01:53] dingmeng-xue commented on #19842
Update to this issue. Manage group has different definition of id and name from other services. It is not easy to change because of concern of breaking change. We will improve docs in future.

Thanks for reporting. Close this issue now.

[2022-11-07 01:53] #19842 closed

[2022-11-07 02:09] dingmeng-xue commented on #19778
@mr-oliva , it is by design. Context in Azure PowerShell indicates which user account, tenant and subscription are being used by current script. It is related to login but not equal to login status and token cache. By default, once PowerShell process is started, context is loaded into memory of current process. It is only updated when context in current process is changed. Login status is stored t

[2022-11-07 04:35] riyaz78 commented on #19997
@isra-fel @hiaga we are facing the similar issue. Could you please provide any update on this bug

[2022-11-07 08:03] #11459 closed

[2022-11-07 08:10] RakeshMohanMSFT commented on #19892
@jared-koiter Thank you, we will wait for your update.

[2022-11-07 08:26] Nickcandy commented on #19923
@marshalexander99  Hi, for now I've tested it's not available if we set allowedip to $null, but we can set it to '', like this:
`$allowedip=''`
`New-AzResourceGroupDeployment -ResourceGroupName $rgname -TemplateFile $templatefile -storage_account_name $storage_account_name -storage_account_kind $storage_account_kind -storage_account_sku $storage_account_sku -allowedip1 $allowedip -location $locati

[2022-11-07 11:44] sandeep10au commented on #19997
@isra-fel @hiaga we are also getting this issue since last Wednesday. Any update will be much appreciated.

[2022-11-07 15:32] RakeshMohanMSFT commented on #19200
@drmrldhr Apologies for the delay. Are you still facing this issue? I believe, because i am able to reproduce this issue at my end and i see that the error 404 is returned by the Service. it is a service side issue and not client per se (PowerShell). Therefore i suggest you open a support ticket for further investigation.

[2022-11-07 17:57] eladperets commented on #19997
@hiaga @isra-fel Any ETA for a fix?

[2022-11-07 20:37] pgbfnf opened #20043 "[Doc]: Question about New-AzApplicationGatewayProbeConfig"
### Description

Can you please clarify the difference (if any) between the following 2 commands, on each of their respective pages?
Add-AzApplicationGatewayProbeConfig
New-AzApplicationGatewayProbeConfig

The only difference I can find is that "New-" has an additional "-Port" option.

If one of these commands only works on V2 gateways (as opposed to V1), if would be useful to call that out. The "

[2022-11-07 22:37] charliekunkel opened #20044 "Get-AzMetric returns no data"
### Description

This DOES work from the Azure Portal CLI.  Just not from any of the VMs and I need to run it on the VMs as part of a scheduled task.  I tried capturing the results in a variable and outputting .Data.Average property (per https://github.com/Azure/azure-powershell/issues/19997), but that doesn't work either for me.  I've already spent 4 hours on this with no results.  Yes, I've comp

[2022-11-08 02:42] rachelxj-ms commented on #19605
@dingmeng-xue this is centralized place to make the http request.
https://github.com/Azure/azure-sdk-for-net/blob/main/sdk/authorization/Microsoft.Azure.Management.Authorization/src/Generated/RoleAssignmentsOperationsExtensions.cs#L277
https://github.com/Azure/azure-sdk-for-net/blob/main/sdk/authorization/Microsoft.Azure.Management.Authorization/src/Generated/RoleAssignmentsOperations.cs#L1058
![i

[2022-11-08 04:08] LowyNBK opened #20045 "Update-AzScheduledQueryRule can not disable on ver 9.1"
### Description

On execute az version 9.1
[code]
It can be succeed on az version 8.3

For official document, it was written on "Value should be true or false", but I can not use it.
It was succeed just write -Enabled without value. But this operation can not be disabled.
Is it bug?

### Issue script & Debug output

[code]

### Environment data

[code]

### Module versions

[code]

### Error outpu

[2022-11-08 04:10] hiaga commented on #19997
PR is merged for the fix - https://github.com/Azure/azure-powershell/pull/20035

[2022-11-08 04:13] hiaga commented on #19997
@isra-fel : this could be released in upcoming milestone - https://github.com/Azure/azure-powershell/milestone/136 (06/12) or earlier with an OOB release !

[2022-11-08 06:03] LowyNBK commented on #20045
I resolved below
[code]

[2022-11-08 06:03] #20045 closed

[2022-11-08 06:51] rachelxj-ms commented on #19605
https://github.com/Azure/azure-sdk-for-net/blob/main/sdk/authorization/Microsoft.Azure.Management.Authorization/src/Generated/Models/ErrorResponseException.cs
There is property named "body" in this class, but it doesn't overwrite ToString() and print all details.

I raised a ticket in azure-sdk-for-net, https://github.com/PowerShell/PowerShell/issues/18485

[2022-11-08 09:05] VeryEarly commented on #19927
fixed in #20048 , will be released on 2022-12-06

[2022-11-08 13:40] craiglandis opened #20055 "[Az.Tools.Installer] Typo: "packagkes" should be "packages""
### Description

When running **Install-AzModule -Repository PSGallery** it displays - "Installing packagkes".

There is a typo in "packagkes", it should be "packages".

### Issue script & Debug output

[code]

### Environment data

[code]

### Module versions

[code]

### Error output

_No response_

[2022-11-08 14:00] #19927 closed

[2022-11-08 14:47] dingmeng-xue commented on #20044
@charliekunkel could you share detail steps of creating vm and how to get data from Portal CLI? We need to compare the difference.

[2022-11-08 14:49] dingmeng-xue commented on #20055
@msJinLei , please fix this issue.

[2022-11-08 15:02] emil-hedemalm-sj commented on #19113
Hi! Is there any update on this issue?

[2022-11-08 15:05] amitdwivedi-broadcom opened #20056 "DeliveryAttributeMapping in New-AzEventGridSubscription gives request is invalid error"
### Description

I am trying to create an event subscription by using New-AzEventGridSubscription. i have to use DeliveryAttributeMapping to pass token so that my webhook can authenticate the request

### Issue script & Debug output

[code]

### Environment data

[code]

### Module versions

[code]

### Error output

[code]

[2022-11-08 16:11] #15942 closed

[2022-11-08 19:45] charliekunkel commented on #20044
The VMs have existed for years.  They were created via the Azure portal GUI via going to the VMs resource page, then clicking +Create.

If I go to the Azure portal and click the Cloud Shell icon, then enter this:

PS /home/ckunkel> $webserver = "fuzeweb01"
PS /home/ckunkel> $st = (get-date).addminutes(-1)
PS /home/ckunkel> $et = (get-date)
PS /home/ckunkel> $timeg = '00:01:00'
PS /home/ckunkel> $c

[2022-11-08 19:57] CodeCyclone commented on #19997
This needs to be an out of band release as it breaks environments when this module gets loaded.

[2022-11-08 20:22] hiaga commented on #19997
As a workaround can use Powershell 7 (Powershell core) to import the Az module or can fallback to the previous Az module - https://www.powershellgallery.com/packages/Az/9.0.1

**Steps to uninstall and install the latest module** -

1) Uninstall-Module -Name Az

2) install-module -name Az -Repository PSGallery  -AllowClobber -RequiredVersion 9.0.1 -Force

3) Import-module -Name Az

[2022-11-08 20:23] hiaga commented on #19997
@isra-fel can we plan to fix the import command in Powershell 5 with the updated module released

[2022-11-09 02:28] BethanyZhou commented on #20029
Hi @agr , thanks for reaching out to us.

You're correct. New-AzStorageAccountSASToken will generate a SAS with a newer API version than what [Key Vault supports](https://learn.microsoft.com/en-us/azure/key-vault/secrets/overview-storage-keys-powershell#account-sas-parameters-required-in-sas-definition-template-for-key-vault) (2018-03-28 or older). So we need to remove New-AzStorageAccountSASToken

[2022-11-09 02:50] StephanTLavavej opened #20059 "PowerShell 7.3.0 rejects New-AzNetworkSecurityGroup with a constraint violation"
### Description

With PowerShell 7.3.0 and Azure PowerShell 9.1.0, `New-AzNetworkSecurityGroup` fails with:

[code]

Downgrading PowerShell to 7.2.7, but keeping Azure PowerShell 9.1.0, succeeds. I'm unsure if this is a regression in PowerShell, or a bug in Azure PowerShell that is newly being diagnosed.

### Issue script & Debug output

[code]

### Environment data

[code]

### Module versions

[

[2022-11-09 03:19] #19943 closed

[2022-11-09 04:46] navba-MSFT commented on #19283
Adding Service team to look into this.

@jaspkaur28 Could you please look into this issue and provide an update ? Thanks in advance.

[2022-11-09 04:53] SaurabhSharma-MSFT commented on #20043
@pgbfnf Thanks for your feedback! We will investigate and update as appropriate.

[2022-11-09 05:15] #19496 closed

[2022-11-09 06:01] rachelxj-ms commented on #19605
@dingmeng-xue I got reply from azure-sdk-for-net:  The library you are using is our track 1 SDK and it is deprecated, please check our [deprecation announcement](https://azure.microsoft.com/en-us/updates/update-your-azure-sdk-libraries-of-net-and-golang-by-30-september-2023/).
As a replacement, you can use this package: https://www.nuget.org/packages/Azure.ResourceManager.Authorization

Not sure i

[2022-11-09 06:32] hiaga commented on #19997
OOB request - https://msazure.visualstudio.com/One/_workitems/edit/16195225

[2022-11-09 07:33] dingmeng-xue commented on #19605
I believe current change doesn't require changes in SDK. We will work on it and you can reference it.

[2022-11-09 08:47] dingmeng-xue commented on #19605
It's long story. Upgrading to new version of SDK will make more potential issues and problems. It's not our direction now.

[2022-11-09 08:50] rachelxj-ms commented on #19605
Agreed. I have noticed the difficulty in upgrading to new SDK. It's much easier to fix case by case in each module, although it's not very decent.

[2022-11-09 09:37] JelleBroekhuijsen commented on #20059
I am experiencing the same issue with the Get-AzVirtualNetwork cmdlet:

[code]

[code]

[code]

[2022-11-09 12:02] mrhvid commented on #18721
After updating to official Powershell 7.3.0 (pushed by VSCode this morning). I'm seeing the same error
[code]

[2022-11-09 12:13] chesterbeckett commented on #18721
Same here

[2022-11-09 12:28] mpjtaylor commented on #18721
Same issue!

[2022-11-09 13:02] ChrisSommers commented on #15202
It appears that the 'Tool' parameter option (for the MS tool) is 'ServerAssessment'. I derived this by deploying it using the Portal and then looking at the Migrate Project's ARM template

[2022-11-09 13:36] #20014 closed

[2022-11-09 13:44] dingmeng-xue commented on #18721
Reopen it because it becomes critical.

[2022-11-09 14:22] Kaloszer commented on #3318
Have hit the same issue again, due to this to parallelize a solution we have to create temporary template files - because New-AzResourceGroupDeployment locks the template file for some reason...

[2022-11-09 15:24] PaulCardus commented on #18236
The above script works for me also but why can't we now use the powershell command?

[2022-11-09 16:23] jmdwv commented on #18721
Same issue - guess it is time to go back to 7.2.

PS C:\Users\jmdwv> get-azvm
Get-AzVM: GenericArguments[0], 'Microsoft.Azure.Management.Compute.Models.VirtualMachine', on 'T MaxInteger[T](System.Collections.Generic.IEnumerable`1[T])' violates the constraint of type 'T'.
PS C:\Users\jmdwv> $PSVersionTable

Name                           Value
----                           -----
PSVersion

[2022-11-09 16:36] jkav58 commented on #20059
Same issue with `get-azvm`; code works without issue in 7.2.7

[2022-11-09 16:44] craiglandis commented on #18721
As of yesterday Nov 8, 7.3.0 is the latest release version of PowerShell. It's no longer in preview.

But this issue still repros 100% of the time with 7.3.0 -

[code]

[2022-11-09 17:54] nanunna opened #20074 "[Eng]: User feedback from AKS blade of Azure portal"
### Description

Powershell side bug for - https://github.com/Azure/azure-cli/issues/24594

[2022-11-09 18:03] #18880 closed

[2022-11-09 21:15] tracsman commented on #20059
Same issue for me with ```Get-azExpressRouteCircuit``` and ````Get-azExpressRoutePort```` on PS 7.3.0.

[2022-11-09 22:34] erwynNL commented on #20059
Same issue for me on `Get-AzVM` after updating to 7.3.0:

[code]

[2022-11-10 01:34] dingmeng-xue commented on #20074
@nanunna , could you explain further about the feature gap?

[2022-11-10 01:37] dingmeng-xue commented on #20059
It's the same issue as #18721. Close this one and please track progress on #18721

[2022-11-10 01:37] #20059 closed

[2022-11-10 01:49] dingmeng-xue commented on #18721
FYI, Below modules may be impacted.
- Monitor
- Maintenance
- ApiManagement
- Peering
- Aks
- Network
- RecoveryService
- Resources
- Compute
-

[2022-11-10 02:00] jpfocus commented on #18721
same err！

[2022-11-10 02:11] nanunna commented on #20074
Just want to relay the feedback from user on azure portal to your team. It seems users would like to see kubernetes objects data that is currently available on azure portal in Az cli/powershell.

[2022-11-10 02:26] JohnDelisle opened #20075 "Get-AzTenant fails to return tenant details when using Service Principal"
### Description

Using an SP, I cannot retrieve any details about the AAD Tenant via Get-AzTenant.  I've granted the SP literally ALL graph API rights, but I don't think that's relevant since the call is to management.azure.com/tenants.

I just get this:
[code]

### Issue script & Debug output

[code]

### Environment data

[code]

### Module versions

[code]

### Error output

[code]

[2022-11-10 03:23] #19983 closed

[2022-11-10 04:04] SaurabhSharma-MSFT commented on #20056
@amitdwivedi-broadcom Thanks for your feedback! We will investigate and update as appropriate.

[2022-11-10 05:09] #19200 closed

[2022-11-10 07:23] mr-oliva commented on #19778
@dingmeng-xue

Thank you for your answer.

I understood below:

In my scenario, I'm gonna consider using `Disable-AzContextAutosave`

[2022-11-10 07:23] #19778 closed

[2022-11-10 09:42] RakeshMohanMSFT commented on #19990
@sjmoden This is fixed already, should be updated in our next release.

[2022-11-10 12:03] #20011 closed

[2022-11-10 12:36] szpeter80 commented on #18721
Happening here too... yesterday it was working, now updated and cant create VM :/

[2022-11-10 13:00] 1stewart commented on #18721
Same issue with Get-AzVmss. Broke our pipelines (our fault for not version pinning) so had to switch to the lts/stable channel.

[code]

[2022-11-10 15:48] Kaloszer commented on #18334
@dingmeng-xue

That month can't come soon enough 🤣, still facing this issue. Any timeframe for a fix?

[2022-11-10 16:35] JustinGrote opened #20082 "[Az.Network] [PS7.3] Get-AzVirtualNetwork fails on security rule generic with PowerShell 7.3"
### Description

CC @SteveL-MSFT

Was trying to fetch all subscriptions, this happened on a couple vnets, I think it may be related to the new generic type arguments in PS 7.3, or maybe something in .NET 7. Works fine on 5.1 and 7.2.6.
![image](https://user-images.githubusercontent.com/15258962/201153587-33fe32af-7602-4e8a-86f8-7e43111ae642.png)

### Issue script & Debug output

[code]

### Enviro

[2022-11-10 17:25] JustinGrote commented on #20082
Closing as dupe of https://github.com/Azure/azure-powershell/issues/18721

[2022-11-10 17:25] #20082 closed

[2022-11-10 18:03] xiwenchenzoey opened #20083 "Core Cost related"
### Description

Can I please ask how can I get the core cost through az module? I have tried couple ways but still cannot figure it out.
<img width="668" alt="image" src="https://user-images.githubusercontent.com/46794297/201172070-41478912-5131-4bca-8357-9341ecd4e28f.png">
<img width="695" alt="image" src="https://user-images.githubusercontent.com/46794297/201172166-19f219b0-9fc9-4d15-bd3e-cbaf3

[2022-11-10 21:33] Get-Ryan opened #20084 "Get-AzComputeResourceSku encounters error and returns no data in latest Powershell 7.3.0 version"
### Description

After updating to Powershell version 7.3.0, I noticed that Get-AzComputeResourceSku started returning the error listed and did not return any data.

I had a colleague of mine who hadn't updated to 7.3.0 yet run the same command and he obtained the expected return data.

### Issue script & Debug output

[code]

### Environment data

[code]

### Module versions

[code]

### Error ou

[2022-11-10 23:52] ktremain commented on #20084
this is probably #18721

[2022-11-11 00:15] Get-Ryan commented on #20084
It is. I didn't find that issue until a couple hours after posting. Hopefully having 7.3.0 go into general release will cause a bit more priority into this issue, as it seems to affect quite a number of cmdlets.

[2022-11-11 00:17] Get-Ryan commented on #20084
Did not intend that closure. Goes to show how often I use Github.

[2022-11-11 02:31] RakeshMohanMSFT commented on #20084
@dingmeng-xue for awareness

[2022-11-11 02:33] dingmeng-xue commented on #20084
The same one. Let's us track #18721. Close this one now.

[2022-11-11 02:33] #20084 closed

[2022-11-11 02:34] RakeshMohanMSFT commented on #20083
@xiwenchenzoey Thank you for reaching out, we are looking into it.

[2022-11-11 02:36] dingmeng-xue commented on #18721
Hi All,

We are trying to fix this issue. Here is an release candidate. Please [download it](https://azposhpreview.blob.core.windows.net/public/Az.Compute.5.2.0.nupkg) and install it using local repository. Or you can install it using Az.Tools.Installer.

[code]
Your feedback is very helpful to us. Thanks.

[2022-11-11 09:16] plhandfield commented on #18721
@dingmeng-xue I can confirm this fixed the issue for me.

[2022-11-11 09:28] bencurrandev commented on #18721
@dingmeng-xue Confirmed that the fix for Az.Compute 5.2.0 works for Get-AzVM. Is there also a release candidate fix for Az.Network that can be tested as well?

[2022-11-11 09:46] amassno commented on #18721
Now i get this error:
Get-AzResourceGroup: The 'Get-AzResourceGroup' command was found in the module 'Az.Resources', but the module could not be loaded due to the following error: [Assembly with same name is already loaded]
For more information, run 'Import-Module Az.Resources'.

Get-AzVM is working well. Thanks

[2022-11-11 10:20] FredrikDahlberg opened #20089 "AzureRM interfering with Az"
### Description

We migrated to Az years ago but it won't work for some reason if AzureRm is still installed. Unistalling AzureRM does not change this. The only way seems to be to delete the AzureRM files manually. Is there a complete list of all the files that belongs to AzureRM that needs to be removed for Az to work?

### Issue script & Debug output

[code]

### Environment data

[code]

### Mo

[2022-11-11 10:40] shwetayadkikar commented on #18721
Do you have any timeline for the fix or OOB release for Az.Network?

[2022-11-11 12:29] ammarhasan76 opened #20090 "[Doc]: Set-AzAlertProcessingRule has misnamed parameter"
### Description

https://learn.microsoft.com/en-us/powershell/module/az.alertsmanagement/set-azalertprocessingrule?view=azps-9.1.0

The *Syntax* parts of the page have a misnamed parameter.
AlertProcessingRule**Rule**Type is incorrect, whereas it should be AlertProcessingRuleType.

[2022-11-11 12:30] ja-iris commented on #10645
This is a gotcha and could waste a lot of time for people following tutorials on MS Learn etc.
It cost me a few hours until I found this post.
If it's not going to be changed, then the MS articles need to change to mention it.

[2022-11-11 12:31] lemsa opened #20091 "New-AzVM with parameter "PublicIpSku" parameter fails with an exception - both with "Standard" nor "Basic""
### Description

### If I use the following command the New-AzVM command fails badly

- New-AzVM -ResourceGroupName $resourceGroupName -Location $location -VM $vm -PublicIpSku Basic

**However if I use the following it works, but it gives me a warning and kind of tells me to use either the "PublicIpSku" parameter or the "Zone" parameter because of the change in May 2023:**

- New-AzVM -ResourceGro

[2022-11-11 12:33] ja-iris commented on #10645
thanks for the work around sopelt

[2022-11-11 12:34] dingmeng-xue commented on #18721
@shwetayadkikar , It contains another problem. Hopefully, I can find solution in weekend.

[2022-11-11 13:44] NiallP98 commented on #18721
I'm receiving this error now trying to download the fix,
"Exception calling "Download" with "2" argument(s): " is not a valid Az module nuget package name for installation."

[2022-11-11 16:17] chillyjim commented on #18721
I am not able to install this on my Mac. I get:

Install-AzModule -Path https://azposhpreview.blob.core.windows.net/public/Az.Compute.5.2.0.nupkg
Install-Package: Unable to find dependent module(s) (Az.Accounts)

$PSversionTable
Name                           Value
----                           -----
PSVersion                      7.3.0
PSEdition                      Core
GitCommitId

[2022-11-11 16:39] gdrozario commented on #18721
Same issue with 7.3.0

[2022-11-11 16:52] craiglandis commented on #18721
The release candidate fixed it for me.

[2022-11-11 19:16] artisticcheese opened #20093 "Az.Quota module is missing from PS Gallery"
### Description

![image](https://user-images.githubusercontent.com/13176884/201414126-9bdac07f-1d78-4f74-9d93-914fce04f763.png)

### Script or Debug output

_No response_

### Environment data

_No response_

### Module versions

_No response_

### Error output

_No response_

[2022-11-11 19:21] ymadghe commented on #18721
Still getting same error.

Get-AzVM: GenericArguments[0], 'Microsoft.Azure.Management.Compute.Models.VirtualMachine', on 'T MaxInteger[T](System.Collections.Generic.IEnumerable`1[T])' violates the constraint of type 'T'.

$PSVersionTable
PSVersion                      7.3.0
PSEdition                      Core
GitCommitId                    7.3.0
OS                             Darwin 21.6.0 Darwin

[2022-11-11 19:26] chillyjim commented on #18721
Same as @ymadghe on Darwin 21.6.9/Mac OS 13.0.1 if it matters

[2022-11-11 20:09] brandonlinton3 opened #20094 "New-AzVM Error The VM extension with publisher 'Microsoft.Azure.Security.WindowsAttestation' and type 'GuestAttestation' could not be found."
### Description

When creating a new Vm in Azure Powershell wiht Trusted Launch configured i get the below error.  I have validated that i get this with version 9.1.0 of the module but do not with version 8.0.0.  I have also verified that the Azure Cloud Shell also produces the same error taking my environment out of the picture.

### Issue script & Debug output

[code]

### Environment data

[cod

[2022-11-11 20:14] mbrat2005 opened #20095 "Get-AzVmss Accepts Empty Values for -ResourceGroupName and -VMScaleSetName"
### Description

The 'Get-AzVMSS' command accepts empty strings for the -ResourceGroupName and -VMScaleSetName parameters and proceeds as if those parameters were not provided. This is inconsistent with other Az module commands.

For example, this is how I'd expect the cmdlet to repond to a blank value:
Get-AzVM -ResourceGroupName "rg-vmss" -Name ''
Get-AzVM: Cannot validate argument on parameter

[2022-11-11 23:43] x-delfino commented on #18334
@Kaloszer - looks like this was fixed in [v9.0.1](https://github.com/Azure/azure-powershell/releases/tag/v9.0.1-October2022).

[2022-11-12 00:44] dingmeng-xue commented on #18721
@ymadghe , could you share the output of `Get-Module` in the same console after you hit that error?

[2022-11-12 00:48] hillsrobin commented on #18721
This fixes the issue for me on Linux as well:

[code]

[2022-11-12 08:42] dingmeng-xue commented on #18721
Hi All, here is new version of fix and covers all impacted modules. Originally, I just upgraded the version of AutoMapper and disabled method mapping. However models in Network module heavily use method mapping. I have to select another approach. I forked AutoMapper 8.1.1 and backport fix in AutoMapper 12 to 8.1.1. It requires extra couple days to include requires files into our pipeline and repo.

[2022-11-13 13:58] dingmeng-xue commented on #20075
CXP team, please help to look into this issue.

[2022-11-13 14:23] dingmeng-xue commented on #20093
@artisticcheese , thanks for reporting. Az.Quota is existing in Azure PowerShell repo. It had been published but hidden because this service is under private preview and limited user can access its feature. The module will be shown up again once it is public preview or GA.

If you want to try this module, you can install hidden module using its name and version directly
[code]

[2022-11-13 14:32] dingmeng-xue commented on #20089
@FredrikDahlberg , thanks for contacting us. You can try and adjust below code in Windows PowerShell. Please ensure you execute script before any AzureRM is imported. Once module is imported, it cannot be deleted because .NET framework doesn't allow to unload loaded assembly.

[code]

[2022-11-13 19:56] #20093 closed

[2022-11-13 22:46] backerman commented on #18721
Works on my machine (PS 7.3.0, Win11 22621.819, ARM64).

[2022-11-14 02:47] navba-MSFT commented on #20090
@ammarhasan76 Apologies for the late reply. Thanks for reaching out to us and reporting this issue. We are looking into this issue and we will provide an update.

[2022-11-14 03:27] SaurabhSharma-MSFT commented on #20095
@mbrat2005 Thanks for your feedback! We will investigate and update as appropriate.

[2022-11-14 04:23] navba-MSFT commented on #19999
@DevonK3 Apologies for the late reply. I have got the confirmation from the Product Owners that, currently there are no plans to update the PS cmdlets for Az.Billing module. So the action plan is to invoke the [Budget List REST API](https://learn.microsoft.com/en-us/rest/api/consumption/budgets/list?tabs=HTTP) directly from PowerShell. This Rest APi will lists all budgets for the defined scope.

N

[2022-11-14 05:29] RakeshMohanMSFT commented on #20091
@lemsa Thank you for reaching out to us, we are looking into it.

[2022-11-14 05:31] RakeshMohanMSFT commented on #20094
@brandonlinton3 Thank you for reaching out to us, we are looking into it.

[2022-11-14 05:32] RakeshMohanMSFT commented on #20017
@erwinkramer Thank you for reaching out, we are looking into it.

[2022-11-14 05:47] amassno commented on #18721
Hello @dingmeng-xue, thank's for your work over the weekend. Unfortunately I still have problems with the modules.

`Line |
  55 |      $net = Get-AzNetworkInterface
     |             ~~~~~~~~~~~~~~~~~~~~~~
     | Error mapping types.  Mapping types: NetworkInterface -> PSNetworkInterface Microsoft.Azure.Management.Network.Models.NetworkInterface ->
     | Microsoft.Azure.Commands.Network.Models.

[2022-11-14 05:57] dingmeng-xue commented on #18721
Thanks @amassno . I can reproduce it. It seems breaking change between AutoMapper 6.2.2 and 8.1.1. Let us look into it.

[2022-11-14 06:41] ville87 commented on #19790
Looks like with the `-DeviceCode` approach, the issue does not appear. I didn't make a lot of test runs though...
You can close this if you want, I have my workaround with importing the Az.Sql later on in the script.
Thanks for your help!

[2022-11-14 07:30] Kaloszer commented on #18334
Cool! I don't think it's implemented in the current version of ADO yaml inline powershell core pipelines then yet as I was looking at the same issue on Friday, just went with the azrestmethod delete method to work around the issue.

[2022-11-14 08:03] #19100 closed

[2022-11-14 08:33] dingmeng-xue commented on #19790
Thanks @ville87 , this kind of issue normally relates to environment. It's hard to collect more information. I will close it now.

Please let us know if you meet issue again in other machines.

[2022-11-14 08:35] isra-fel commented on #19997
Hi all, we have released [Az.DataProtection v1.0.1](https://www.powershellgallery.com/packages/Az.DataProtection/1.0.1) to address this issue. Please upgrade it to the latest version by
[code]

The "Az" rollup module will be updated early December.

[2022-11-14 08:35] #19997 closed

[2022-11-14 09:17] lemsa commented on #20091
Updated the description with information that there is also an issue regarding creating storage account for boot diagnostics when using the New-AzVM command:

`WARNING:` Error occurred when creating storage account for boot diagnostics. Keep creating a VM with disabling boot diagnostics. :
Microsoft.Rest.ValidationException: 'Kind' cannot be null.`

[2022-11-14 09:40] dlg-leeej84 commented on #17683
This has been pending for quite a while right now and it makes quite a difference to things like AVD automation. Please respond to this issue.

[2022-11-14 12:23] x-delfino commented on #18334
I think the recommended method for Azure PowerShell on ADO pipelines is `AzurePowerShell@5` which has the `preferredAzurePowerShellVersion` property, but for some reason, docs list that as only supporting `1.0.0, 1.6.0, 2.3.2, 2.6.0, and 3.1.0` with the latest being released in  26/11/2019 . So either docs or module support are v outdated. ref: https://learn.microsoft.com/en-us/azure/devops/pipeli

[2022-11-14 12:56] Andertius opened #20108 "Cannot use the PsAzureApiManagementContext object with any command"
### Description

When I try using the PsAzureApiManagementContext object with any command (in this case Get-AzApiManagementApiRevision) I get a vague error:
`The type initializer for 'Microsoft.Azure.Commands.ApiManagement.ServiceManagement.ApiManagementClient' threw an exception.`

### Issue script & Debug output

[code]

### Environment data

[code]

### Module versions

[code]

### Error output

[2022-11-14 13:07] Kaloszer commented on #18334
It's actually just outdated, I'm using
 azurePowerShellVersion: LatestVersion

 In the pipeline so...

[2022-11-14 14:08] joselcaguilar commented on #18721
Thanks for the quick fix @dingmeng-xue, unfortunately I'm still see the issue with `Get-AzBastion` + Pwsh 7.3.0:
[code]

[2022-11-14 14:54] Roni44 commented on #18721
The same for my any idea?

Get-AzImage : GenericArguments[0], 'Microsoft.Azure.Commands.Compute.Automation.Models.PSVirtualMachineScaleSetExtension', on 'T MaxInteger[T](System.Collections.Generic.IEnumerable`1[T])' violates the constraint of type 'T'.

[2022-11-14 15:16] gdrozario commented on #18721
There is a fix which will take a couple of days to be officially released according to @dingmeng-xue 2 days ago.

In the meantime, rolling powershell back from 7.3.0 to 7.2.7 should allow any existing scripts you have to function correctly.

[2022-11-14 16:11] jreinmilleratmosera opened #20109 "Get-AzUserAssignedIdentity ignores the -DefaultProfile Subscription"
### Description

In the current version of Get-AzUserAssignedIdentity, the subscription information provided via the -DefaultProfile parameter is ignored. This breaks with the behavior of all other Az commands.
The Subscription must be provided by the -SubscriptionId parameter, otherwise the current Subscription is used.
The documentation indicates that the -SubscriptionId parameter defaults to th

[2022-11-14 16:24] dingmeng-xue commented on #18721
Hi All,

For saving time, I published the engineering build before I triggered test. Thanks for your information again. We had found the same issue in our test environment as well. It seems AutoMapper 8.1.1 cannot work with current modules. I have to back port fix to AutoMapper current used version 6.2.2. Pull request is https://github.com/Azure/azure-powershell/pull/20110. If all tests are execut

[2022-11-14 16:58] adrianhall commented on #20017
Cc: @KedarJoshi

[2022-11-14 17:51] AdamTheManTyler commented on #18721
How does stuff like this get posted for public download?  Is there any QA process in place?  Az module completely broken after PowerShell 7.3 upgrade.  Uninstalled and back to 7.2.7.

Regards,
Adam Tyler

[2022-11-14 19:06] #19999 closed

[2022-11-14 21:01] nrobert opened #20112 "Az.Blueprint command 'Get-AzBlueprintArtifact' not returning more than 100 items (pagination issue)"
### Description

When using Get-AzBlueprintArtifact (https://learn.microsoft.com/en-US/powershell/module/az.blueprint/get-azblueprintartifact?view=azps-9.1.0) on a blueprint containing more than 100 artifacts, only 100 top artifacts are returned.

I tested it by calling directly the REST API: the call is paginated, so it looks like I only got the top 100 items through the PS operation call.

See b

[2022-11-14 22:34] ezam-ws opened #20113 "Get-AzVM and Get-AzDisk returns an error with or without parameters"
### Description

Running Get-AzVm returns this error:
Get-AzDisk: GenericArguments[0], 'Microsoft.Azure.Commands.Compute.Automation.Models.PSVirtualMachineScaleSetExtension', on 'T MaxInteger[T](System.Collections.Generic.IEnumerable`1[T])' violates the constraint of type 'T'.

I also specified the resource group name or a known VM and the error is the same.

### Issue script & Debug output

[code

[2022-11-15 01:57] RakeshMohanMSFT commented on #20017
@erwinkramer Can you please try the command with -PassThru param?
[code]

[2022-11-15 02:11] RakeshMohanMSFT commented on #20083
@xiwenchenzoey Can you please use Az-PowerShell module Get-AzMetric to access resource metrics?

[2022-11-15 03:01] bencurrandev commented on #18721
Installed the above and most things are working again, just a few odd ones out, similar to the Error mapping types others are also seeing, linked to AutoMapper.

`❯ Get-AzVirtualHub -ResourceGroupName pdw-usw2-sbx-arg-vwan-1
Get-AzVirtualHub: Error mapping types.

Mapping types:
HubVirtualNetworkConnection -> PSHubVirtualNetworkConnection
Microsoft.Azure.Management.Network.Models.HubVirtualNetwor

[2022-11-15 04:54] ksaffarian commented on #17536
Hi @Nickcandy @dingmeng-xue
Is this fixed? I could not understand why it is marked as completed.
I am seeing this issue in Azure DevOps when using AzurePowerShell tasks both v4 and v5 (https://learn.microsoft.com/en-us/azure/devops/pipelines/tasks/deploy/azure-powershell?view=azure-devops)

I took my hair out until I found this page. My script works locally, when reading `pairedRegion` but it fail

[2022-11-15 05:13] RakeshMohanMSFT commented on #20113
@ezam-ws Thank you for reaching out, we are looking into it.

[2022-11-15 06:49] #20090 closed

[2022-11-15 07:04] dingmeng-xue commented on #18721
Hi All,

Due to behavior change between AutoMapper 6.2.2 and 8.1.1, we have to back port fix to AutoMapper 6.2.2. Please uninstall your modules and install below module for verification.
[code]
In previous version, I shared binaries after I tested VM and VirtualNetwork. But I didn't check the result of scenario test and other resources. Current version has passed our scenario test. It should cover

[2022-11-15 09:08] Nickcandy commented on #17536
@ksaffarian Hi, I've checked this issue was fixed in Az.Resources 6.0.0. We would check with Azure DevOps if they should upgrade the version. Thanks.

[2022-11-15 09:09] joselcaguilar commented on #18721
At least, `Get-AzBastion` is now working like a charm @dingmeng-xue, thanks for the update! 🚀

[2022-11-15 09:11] RakeshMohanMSFT commented on #20108
@Andertius Thank you for reaching out, we are looking into it. It seems to be an issue with Powershell 7.3+ and not the previous versions. Let me update you further.

[2022-11-15 09:16] nicolashemery commented on #18721
Hi,
I add also the issue mentionned by @amassno on New-AzPrivateLinkServiceConnection ( and other function of Az.Network) , i uninstalled, reinstalled and now is working. Thanks.
Let us know when the release will be official.

Have a nice day

[2022-11-15 09:44] lemsa commented on #20091
Hi

I see there is a fix for the storage account coming.
That's good. Thank you :).

Just want to mention if you're not aware of it that there still is another issue related to the use of the "PublicIpSku" parameter as mentioned already in this issue.

[2022-11-15 10:05] RakeshMohanMSFT commented on #20091
@lemsa I am looking into that as well.

[2022-11-15 10:39] lemsa commented on #20091
Thanks :)

[2022-11-15 11:57] Gheedit opened #20139 "Why does Get-AzNetworkingServiceTag not have same change number as weekly JSON file?"
### Description

I am trying to get the current change number of service tag "AzureFrontDoor.Backend". In the [weekly JSON](https://www.microsoft.com/en-us/download/details.aspx?id=56519), the change number for this service tag is "13". Though, when getting it via Get-AzNetworkServiceTag cmdlet, it returns "10". How is it, that the number returned from the cmdlet, is behind 3 change cycles compare

[2022-11-15 12:52] FredrikDahlberg commented on #20089
/unresolve

[2022-11-15 12:57] FredrikDahlberg commented on #20089
`Get-Module AzureRm* -ListAvailable`

This does not list the modules since they are "uninstalled". The problem is that they still somehow gets loaded. The fix seems to be to delete the actual files. The question was how to find every file that belongs to AzureRM so they can be deleted.

[2022-11-15 13:18] vincebowdren opened #20142 "[Doc]: Backup-AzKeyVaultCertificate example mistakenly uses Backup-AzKeyVaultkey"
### Description

The help documentation for the Backup-AzKeyVaultCertificate has an example where it uses the wrong cmdlet, using Backup-AzKeyVaultKey where it should be Backup-AzKeyVaultCertificate.

![image](https://user-images.githubusercontent.com/13331337/201929095-38b1f7f4-3c16-4be4-b261-82a28ba7c28a.png)

(my highlight)

If you try to run this example, it fails with an error:

[2022-11-15 13:21] dingmeng-xue commented on #20089
If you believe its file are still loaded, you can execute below code after module is loaded. The script lists all assemblies and their path. You can get where they come from.

[code]

Another potential reason is AzureRM module was installed by your script or dependent modules. Please double check.

[2022-11-15 13:30] dingmeng-xue commented on #20109
@jreinmilleratmosera , thanks for contacting us. New generation of Azure PowerShell doesn't rely on default profile or context. It is breaking change. So we upgrade modules to new design gradually. `Az.ManagedServiceIdentity` starts using this design since 1.0.0. This change based on what we had learned from Azure PowerShell users. if user can access multiple subscriptions, switching subscriptions

[2022-11-15 13:34] dingmeng-xue commented on #20113
@ezam-ws , please help to verify engineering build mentioned by https://github.com/Azure/azure-powershell/issues/18721#issuecomment-1314864891

I believe it is the same issue. Please track #18721 .

[2022-11-15 13:54] dingmeng-xue commented on #20112
Thanks for reporting. It seems client side doesn't implement pagination. We will look into it.

[2022-11-15 13:57] dingmeng-xue commented on #20142
@BethanyZhou , please correct example

[2022-11-15 14:05] RakeshMohanMSFT commented on #20108
@Andertius  please help to verify engineering build mentioned by https://github.com/Azure/azure-powershell/issues/18721#issuecomment-1314864891

I believe it is the same issue. (VerificationException: Method System.Linq.Enumerable.MaxInteger: type argument 'System.String' violates the constraint of type parameter 'T') Please track https://github.com/Azure/azure-powershell/issues/18721 .

[2022-11-15 14:05] #20108 closed

[2022-11-15 14:36] wimmatthyssen commented on #18721
Hi,

Also having the above issues at the moment, as a temporary fix I reverted my PowerShell version back to v7.2.7

https://github.com/PowerShell/PowerShell/releases/tag/v7.2.7

Hope the issues will be fixed soon, so we can update to the latest PowerShell version.

[2022-11-15 14:42] RakeshMohanMSFT commented on #19403
@frizzleqq Apologies for the delay, let me look into it.

[2022-11-15 15:01] jreinmilleratmosera commented on #20109
/unresolve Thanks for the information. Can you direct me to where this design change is documented? I reviewed all of the release notes and KBs before posting the bug, and couldn't find anything, so it would be helpful to review the documentation to prepare for this change impacting other areas of our code. Thanks.

[2022-11-15 15:08] dingmeng-xue commented on #20109
HI @jreinmilleratmosera , the design of Az.ManagedServiceIdentity has been changed since preview version 0.8.0. The module under preview indicts it may introduce breaking change in any release according to user's feedback. Preview version is not included into Az package. As the result, it is not mentioned in migration guide of Az. Currently, its version is 1.1.0. It is stable version and packaged

[2022-11-15 15:29] jreinmilleratmosera commented on #20109
@dingmeng-xue That is disappointing to learn. I don't see this change listed in any release notes for Az.ManagedServiceIdentity or the Microsoft.ManagedIdentity API. It would seem that at least the page on using Contexts should be updated to reflect this new design as it is no longer accurate. https://learn.microsoft.com/en-us/powershell/azure/context-persistence

[2022-11-15 15:33] dingmeng-xue commented on #20109
Sorry for that. That doc is still valid to classic modules such as Az.Compute, Az.Storage, and Az.Network, We should improve it and let user know the difference.

@mikefrobbins , @dcaro @Alex-wdy , FYI

[2022-11-15 15:44] ezam-ws commented on #20113
Will do, thanks.

Walt Sutton III
***@***.***
865.548.4710

On 11/15/22 08:34, Dingmeng Xue wrote:

[2022-11-15 15:54] Kaloszer opened #20143 "Get-AzSentinelAlertRuleAction - simply does not work"
### Description

Get-AzSentinelAlertRuleAction does not work

When invoked it attempts to use an API that is not available:
Get-AzSentinelAlertRuleAction_List: No registered resource provider found for location 'westeurope' and API version '2021-09-01-preview' for type 'workspaces'.

![image](https://user-images.githubusercontent.com/62133917/201963927-00c6dc1d-1c06-46cd-b8b5-81f1e064c0cf.png)

Is

[2022-11-15 15:55] seanmcne commented on #10497
@VeryEarly - After reviewing all the comments it appears the PR does not address the missing properties and scenarios.  Is there a measure of feature parity that is shared somewhere? Also, are the gaps with this specific action being addressed to achieve parity? It seems like most people commenting in this issue (and I can assume many who find this issue and decide not to comment) are looking for

[2022-11-15 15:57] Kaloszer commented on #20143
Issue also appears in az cli (https://github.com/Azure/azure-cli/issues/24661) - so there's no way to use CLI to access these at the moment - I guess Invoke-AzRestMethod would be the only way?

[2022-11-15 16:27] RakeshMohanMSFT commented on #19403
@frizzleqq I am still unable to reproduce the issue, please look at the below image. One difference is the synapse module version. Can you please upgrade it and retry?
![image](https://user-images.githubusercontent.com/49954584/201972751-16dae4ba-4714-4d5d-85a4-95dad3c275f9.png)

![image](https://user-images.githubusercontent.com/49954584/201973060-3d11418d-2b26-4b7f-8c82-1e86cead8646.png)

[2022-11-15 16:50] frizzleqq commented on #19403
@RakeshMohanMSFT I can confirm that after updating modules the issue has been resolved.

[2022-11-15 20:54] sinaya-nudel commented on #18721
Get-AzApplicationGateway still broken after installing these builds

[2022-11-15 21:15] krispenner commented on #18721
We are experiencing these errors in our Azure DevOps hosted pipelines. I'm not sure what control I have in uninstalling and reinstalling these modules mentioned above. Below is my task setup and its build log. We are calling the `Get-AzVirtualNetwork` command which is throwing the error. My hope is that someone here will know exactly what to do or do I need to raise this issue with the Azure DevOp

[2022-11-16 01:14] #19892 closed

[2022-11-16 02:37] navba-MSFT commented on #20139
@Gheedit Apologies for the late reply. Thanks for reaching out to us and reporting this issue. We are looking into this issue and we will provide an update.

[2022-11-16 02:47] #6546 closed

[2022-11-16 02:56] dingmeng-xue commented on #18721
@sinaya-nudel , Please uninstall all Az.Network module from your environment and install the latest engineering build again. `Get-AzApplicationGateway` works well on PowerShell 7.3 now.

[2022-11-16 03:06] dingmeng-xue commented on #18721
@krispenner , Your PowerShell version in ADO seems upgrade to PowerShell 7.3. I tried Azure pipeline in ADO with below setting. It is good because PowerShell is 7.2. Could you check your pipeline setting that whether there is step to install the latest PowerShell? You also can check version via `$PSVersionTable`

[code]

[2022-11-16 03:06] RakeshMohanMSFT commented on #9412
This is working fine now.

![image](https://user-images.githubusercontent.com/49954584/202073820-eaf7bc94-fe0b-45a4-aa1a-3f4c3b935ce0.png)

[2022-11-16 03:06] #9412 closed

[2022-11-16 03:14] RakeshMohanMSFT commented on #9766
This is fixed

[2022-11-16 03:14] #9766 closed

[2022-11-16 03:32] #13391 closed

[2022-11-16 05:10] krispenner commented on #18721
@dingmeng-xue thanks for helping, unfortunately I cannot see anywhere that I'm installing a different version. Following your isolation of the issue in a very simple pipeline, I have done the same. Below is the most basic form of the pipeline, very similar to yours but I'm specify image of ubuntu-latest and I'm hosted in Canada Central (maybe 7.3 is being rolled out here?). I output the `$PSVersio

[2022-11-16 07:07] szymonos commented on #18721
@krispenner, the issue happens on PowerShell v7.3, so it is "expected" behavior until the Az module will get an update with the fix. Please try to specify v7.2 in your step definition, like:
[code]

[2022-11-16 08:33] Roni44 commented on #18721
when will MS fix this?
cant take so long

[2022-11-16 10:02] rwaal commented on #18721
We are experiencing the same problems as everyone else. We use GitHub Actions for most of our automation. Unfortunately, it seems the public runners have been updated to the latest PowerShell version (7.3.0). Our workflows that use the Az PS module are now failing.

I'm sure the engineering team is doing the best they can. But this issue has allot of impact and this needs to be fixed asap. Thanks

[2022-11-16 10:47] RakeshMohanMSFT commented on #20143
@Kaloszer Let me check further

[2022-11-16 12:40] dingmeng-xue commented on #18721
We are still waiting confirmation in this thread. If no navigate feedback, we will publish modules on Friday.

[2022-11-16 14:11] joebhatti-teamvalue commented on #18721
This issue is currently also affecting our pipelines at the moment, hope they are able to fix it soon.

[2022-11-16 14:15] dingmeng-xue commented on #18721
Sure. I will talk to team and do OOB release as soon as possible. I am also asking engineering team of Azure PowerShell ADO Task team how to upgrade module in task or downgrade PowerShell. I don't think all users can upgrade Azure PowerShell modules to the latest version immediately.

[2022-11-16 14:52] Tiberriver256 commented on #18721
For Azure DevOps people adding this tasks seems to be working for me:

[code]

[2022-11-16 15:33] JacobStruiksma commented on #18721
if you using the windows 2019 hosted agents you also need to install .net 6:
[code]

[2022-11-16 16:27] s890542 commented on #20113
Getting this error with : New-AzLoadBalancer `
     |            ~~~~~~~~~~~~~~~~~~~~
     | GenericArguments[0],
     | 'Microsoft.Azure.Management.Network.Models.SecurityRule', on 'T
     | MaxInteger[T](System.Collections.Generic.IEnumerable`1[T])' violates the
     | constraint of type 'T'.
Error: Error: The process '/usr/bin/pwsh' failed with exit code 1

[2022-11-16 17:12] bwarren18 opened #20151 "Remove-AzDataProtectionBackupInstance returns true but the object is not removed"
### Description

Good day.  When using Remove-AzDataProtectionBackupInstance with the PassThru parameter, the command returns "True" however the instance remains in the portal.  There is no error.  I do see in the Activity Log in the Portal Operation: Delete Backup Instance with Status Succeeded.

### Issue script & Debug output

[code]

### Environment data

[code]

### Module versions

[code]

#

[2022-11-16 17:18] Thaval commented on #17090
Well.. im facing a problem where I want to change the authentication (because the default changed?) and run az rest PATCH with `requestedAccessTokenVersion`. It does not change the `accessTokenAcceptedVersion`, it remains "null".
Calling it like this in powershell 7:
`az rest --method PATCH --uri https://graph.microsoft.com/v1.0/applications/$objectId --headers Content-Type="application/json" --bo

[2022-11-16 17:50] amolagar5 commented on #19454
Hello @theboojit ,

Can you please latest version of Az.SQL and validate. I fix was made in that release for this issue.

 Get-Module -Name Az.Sql -ListAvailable

ModuleType Version    Name                                ExportedCommands
---------- -------    ----                                ----------------
Script     3.12.0     Az.Sql                              {Get-AzSqlDatabaseTransparent

[2022-11-16 19:01] PlateSpinner opened #20152 "[Doc]:"
### Error in command in Example 1

In Example 1, the password profile command references "IMicrosoftGraphPasswordProfile" space but that doesn't work. The one that works is "MicrosoftGraphPasswordProfile" (minus the preceeding 'I').

[2022-11-16 19:44] chetan341 commented on #19438
Hi
What work around you did to fix this issue?

[2022-11-16 20:01] cnash-reply commented on #19965
@blueww Thnaks for your patients on my response.  Here are the additional details you asked for:

1. Here is the results I get when I run 'get-command Get-AzStorageContainer'
[code]

2. Here is a script that demonstrates what I am seeing:
[code]

3. Debug Output
[code]
4. The use has 'Read' role only.

Thanks for the help on this.

[2022-11-16 20:47] TitusZorg commented on #18721
Works for me also.
Thank you VERY MUCH.  :)

[2022-11-16 22:34] ScotRoss2 commented on #18721
Awesome! I can also confirm that in versions 7.3.0+ this bug exists. I downgraded to 7.2.7 and all AZ module functions work as intended. I also do not have this "AutoMapper" as described in #3988.
Thanks!

[2022-11-16 22:44] Welasco commented on #9485
I tried to load a certificate into a KeyVault using the parameter -CertificateString from Import-AzureKeyVaultCertificate it never worked. I was able to make it work when loading the PFX from -FilePath parameter.
I debug the problem using fiddler and did a code review and looks like -FilePath will load the file from the file system using the library X509Certificate2Collection Reference: (https://g

[2022-11-16 23:17] kilasuit commented on #18721
To all on this thread - if you use Self hosted agents with Azure DevOps you can control better the version of PowerShell that is used in the task, although you have to do some hackery to get it working.

I have however raised for the Pipeline-tasks team this [Feature request](https://github.com/microsoft/azure-pipelines-tasks/issues/17219) as to hopefully enable us in future to help mitigate break

[2022-11-17 02:45] MattJeanes commented on #18721
This should use `powershell` instead of `pwsh` as that also seems to work on Windows agents from my testing while `pwsh` only works on Ubuntu agents

[2022-11-17 02:51] blueww commented on #19965
@cnash-reply

Thanks for the reply!

From the sciprt, I see you created the storage context from `$storageAccount.Context`. The storage account property Context is created with Shared key credential, Powershell need get the storage account key in the backend to create it (the get storage account key need perform action 'Microsoft.Storage/storageAccounts/listKeys/action').
And `$storageAccount.Cont

[2022-11-17 03:05] RakeshMohanMSFT commented on #20152
@PlateSpinner Thank you for reaching out, we are looking into it. Are you referring to New-MgUser commandlet?

[2022-11-17 03:30] dingmeng-xue opened #20157 "New-AzPublicIpAddress and -zone = {}"
### Discussed in https://github.com/Azure/azure-powershell/discussions/20141

<div type='discussions-op-text'>

<sup>Originally posted by **chillyjim** November 15, 2022</sup>
With the upcoming New-AzPubLicIpAddress wanting a "-Zone =" argument for a "-SKU = Standard" but blows up if you include it in a "Basic" SKU is it possible to so something like:

I would like to pass an argument as a variabl

[2022-11-17 03:31] dingmeng-xue opened #20158 "Az.DnsResolver with peered vnets in a separate tenant"
### Discussed in https://github.com/Azure/azure-powershell/discussions/20098

<div type='discussions-op-text'>

<sup>Originally posted by **AnikaAaron** November 13, 2022</sup>
I was checking out the Az.DnsResolver PowerShell command "New-AzDnsForwardingRulesetVirtualNetworkLink" (and in the portal) and was noticing that I'm unable to create a virtual network link to a peered vnet that is a separa

[2022-11-17 04:45] navba-MSFT commented on #20139
@Gheedit I am able to reproduce this issue at my end. I also tried to invoke [this REST API](https://learn.microsoft.com/en-us/rest/api/virtualnetwork/service-tags/list?tabs=HTTP) directly using (api-version=2022-07-01). Even this results in the same issue. I believe this might be expected, since the JSON is updated weekly, but our rest api releases with new api-versions are delayed by a few month

[2022-11-17 04:57] dingmeng-xue commented on #17090
Thanks @vexingpos . `apiApplication` resource page is a little weird to me. I cannot get its parent resource from TOC on left panel. It seems an orphan page. Azure PowerShell supports [application](https://learn.microsoft.com/en-us/graph/api/resources/application?view=graph-rest-1.0) and [service principal](https://learn.microsoft.com/en-us/graph/api/resources/serviceprincipal?view=graph-rest-1.0)

[2022-11-17 06:03] #19909 closed

[2022-11-17 08:26] JacobStruiksma commented on #18721
Azure powershell module uses automapper, for example the [monitor](https://github.com/Azure/azure-powershell/blob/927bce6a006d6302a31598a0ed79726a0dfd2118/src/Monitor/Monitor/Monitor.csproj#L15) cmdlets

[2022-11-17 08:35] SaurabhSharma-MSFT commented on #19506
@zqyAmy ,
Can you please latest version of Az.SQL and validate. A fix was made in that release for this issue.

Get-Module -Name Az.Sql -ListAvailable
ModuleType Version Name ExportedCommands
Script 3.12.0 Az.Sql {Get-AzSqlDatabaseTransparentDataEncryption, Get-AzSqlData...

We apologize for any inconvenience this caused to your team.

[2022-11-17 09:23] SaurabhSharma-MSFT commented on #20043
@pgbfnf Regarding these two commands, I think a better way to understand will be via this [tutorial ](https://learn.microsoft.com/en-us/azure/application-gateway/application-gateway-create-probe-ps#create-an-application-gateway)
The difference I think here is New-AzApplicationGatewayProbeConfig is used when you are creating a New Application Gateway
![image](https://user-images.githubusercontent.c

[2022-11-17 09:26] Roni44 commented on #18721
And on Linux Agents ?

[2022-11-17 09:32] TitusZorg commented on #18721
Yes. My pipes use Ubuntu latest.

[2022-11-17 09:57] maeganda11 commented on #17455
hello.. wondering if this has been answered already? :)

[2022-11-17 10:15] maeganda11 opened #20163 "Is there any other way to retrieve all the data (aggregation) when using Get-Azmetric command in powershell?"
### Description

Hi, does anyone able to retrieve all the data when using Get-AzMetric command in powershell?
By default, it will only shows the **Average** but not the **Minimum** ,**Maximum**,  **Total** and **Count**
.. unless specify the Aggregation type on the command.

Would like to ask if it is possible to show all data in one run (Average, Maximum, Minimum, Total and Count). Thank you.

He

[2022-11-17 11:08] rdtechie commented on #18721
We're using this controller script now in our environment as a workaround:

[code]

[2022-11-17 12:03] #19990 closed

[2022-11-17 12:21] dingmeng-xue commented on #20163
Hi @Maeganda11 , for VM resource, aggregation type only supports average. Please reference https://learn.microsoft.com/en-us/azure/azure-monitor/essentials/metrics-supported#microsoftcomputevirtualmachines

[2022-11-17 15:57] dingmeng-xue commented on #18721
Hi All,

We have published Az 9.1.1 which just contains below 8 updated modules due to AutoMapper issue. Others are the same as Az.9.1.0.
- Az.Aks 5.0.1
- Az.ApiManagement 4.0.1
- Az.Compute 5.1.1
- Az.Maintenance 1.2.1
- Az.Monitor 4.2.1
- Az.Network 5.1.2
- Az.RecoveryServices 6.1.1
- Az.Resources 6.4.1

Az.Peering 0.3.1 is preview version and has been published as well.

Please note previous ve

[2022-11-17 16:01] MattJeanes commented on #18721
We're now seeing Azure DevOps agents rolling back as per https://github.com/actions/runner-images/issues/6586 but I was able to fix the script on Windows agents too for anyone still hitting this while the rollback is ongoing:

[code]

This should work on both Ubuntu and Windows hosted agents and uninstalls the built-in pwsh on Windows agents (on Ubuntu installing it is enough to override). It also

[2022-11-17 19:44] Jaykul commented on #16974
It looks like this got done in 2.0 -- but at the cost of **removing** the old functionality?

[2022-11-17 22:34] grizzlytheodore commented on #18721
Thank you @dingmeng-xue

[2022-11-17 22:49] PramodValavala-MSFT commented on #20157
@chillyjim What you are looking for is called [splatting](https://learn.microsoft.com/en-us/powershell/module/microsoft.powershell.core/about/about_splatting) where you can pass an object or array parameters to a cmdlet.

So, for your case, it would be something like this

[code]

[2022-11-17 23:37] hckenmiller commented on #20006
I'm not calling it in my code, I don't know what it is for.

[2022-11-18 03:11] PlateSpinner commented on #20152
I'm referring to the line that says

That "`IMicrosoftGraphPasswordProfile`" is wrong. PS throws an error when you try and use it.
But it works when I use "MicrosoftGraphPasswordProfile" (minus the preceeding 'I')

On Wed, Nov 16, 2022, at 10:06 PM, RakeshMohan-MSFT wrote:

[2022-11-18 03:30] RakeshMohanMSFT commented on #20094
@brandonlinton3 Are you getting the same issue from Powershell 7+ also?

[2022-11-18 06:53] yanjungao718 commented on #19452
I will take a look and give you feedback asap.

[2022-11-18 08:16] #7006 closed

[2022-11-18 17:00] mialtamo commented on #19386
Apologies for late reply so yea in line scripting will work however in line doesn't woke in azure powershell runbook unless it's a workflow run book which i suppose is doable but a lot of things then don't work comparative in wf runbooks to graphical runbooks.

So, it would be nice for a more complete solution to the problem but understand if this isn't possible.

Get Outlook for iOS<https://aka.m

[2022-11-18 17:17] pheeling opened #20183 "New-AzADAppCredential Property Key expects System.Byte Value instead of System.String Base64"
### Description

When creating new app credential from Powershell 7.2 Az.Resources 6.4.1. For certificate it expects in the properties a System.Byte value and not System.String Base64 encoded string. The example is wrongly written.

### Issue script & Debug output

[code]

### Environment data

[code]

### Module versions

[code]

### Error output

[code]

[2022-11-18 17:32] Ayanmullick commented on #18721
Thank you @dingmeng-xue

[2022-11-19 09:00] hanhsia commented on #20163
From this link, every metric supports only one Aggregation Type. But it's not correct. We can specify Aggregation type to get Maximum, Maximum and other aggregation type data. And if you call Get-AzMetricDefinition, you can get which aggregation type is supported for a specified resource. here is an example:
PrimaryAggregationType    : Average
SupportedAggregationTypes : {Average, Maximum, Minimum

[2022-11-19 09:01] hanhsia commented on #20163
From this link, every metric supports only one Aggregation Type. But it's not correct. We can specify Aggregation type to get Maximum, Maximum and other aggregation type data. And if you call Get-AzMetricDefinition, you can get which aggregation type is supported for a specified resource. here is an example:
PrimaryAggregationType    : Average
SupportedAggregationTypes : {Average, Maximum, Minimum

[2022-11-19 11:01] BohrenAn commented on #16399
Hi All,

I would like to see, that we can manage the Powershell Modules with the AZ PowerShell Module.

Until then, here is how you can Manage the PowerShell 7 Modules until then
https://blog.icewolf.ch/archive/2022/11/19/how-to-manage-powershell-5-and-7-modules-on-azure.aspx

Regards
Andres

[2022-11-19 15:05] paulaustin-automutatio opened #20185 "[Feature]: New-AzCostManagementExport using unambiguous ISO 8601 dates"
### Description of the new feature

Could you make it possible on the Cost Management reports to select the date format used in the CSV exports. Currently it uses the US centric format MM/DD/YYYY which is abiguous? Ideally it should use the ISO 8601 YYYY-MM-DD format which is unabbiguous and also allows for sorting of dates.

At a minimum providing a dateFormat configuraion option where you could

[2022-11-20 14:30] BJarkowski opened #20186 "Get-AzSynapsePipeline fails when Data Flow activity uses expression to define staging area"
### Description

Both Get-AzSynapsePipeline and Set-AzSynapsePipeline fail when Data Flow activity in the pipeline uses expression to define staging area.
Error: Exception has been thrown by the target of an invocation
The requested operation requires an element of type 'String', but the target element has type 'Object'.

### Issue script & Debug output

[code]

### Environment data

[code]

### M

[2022-11-20 14:41] dingmeng-xue commented on #20163
Hi @hanhsia , Azure PowerShell's implementation bases on public API and doc. For further clarification, please wait support team or service team's answer.

[2022-11-20 14:49] dingmeng-xue commented on #20185
Hi, @paulaustin-automutatio , this is a feature request to service team and out of scope of Azure PowerShell. I'm not sure whether service team can pay more attention to Github. Please raise this requirement to support team too.

[2022-11-20 15:06] dingmeng-xue commented on #20183
@pheeling , according to API description, it seems need a bytes array representing base64 encoded. Please try
[code]

@VeryEarly , please look into it as well.

[2022-11-21 03:45] RakeshMohanMSFT commented on #20186
@BJarkowski Thank you for reaching out, we are looking into it.

[2022-11-21 07:15] RakeshMohanMSFT commented on #19035
@BartDecker It seems to be a service end issue and not client (PowerShell). Can you please check the exemption blade in the portal and see if you see similar issues there as well? https://ms.portal.azure.com/#view/Microsoft_Azure_Policy/PolicyMenuBlade/~/Exemptions

[2022-11-21 07:32] yanjungao718 commented on #19452
@ClintHuijbers  I saw you were using version 1.3.0, please upgrade your Az.Synapse module version to latest and try again and feel free to contact us if there is any other problem. Thanks.

[2022-11-21 08:34] #19035 closed

[2022-11-21 10:52] Ralms commented on #19942
Fixed on PR #20159
Closing.

[2022-11-21 10:52] #19942 closed

[2022-11-21 11:28] Quixotical commented on #10998
was this work ever completed? It's been nearly a year

[2022-11-21 13:13] maiknagy opened #20189 "Since we've updated the Az..Accounts Module to version 2.10.2 we receiving errors when trying to connect to Azure by using a SPN and certificate thumbprint."
### Description

Since we've updated the Az..Accounts Module to version 2.10.2 we receiving errors when trying to connect to Azure by using a SPN and certificate thumbprint.

[code]

Nevertheless an elevated CLI allowes the connection by using the same certificate and SPN. But we require to have this working with an non elevated CLI as well. .NET version was checked and is not the cause.

Problem

[2022-11-21 19:24] kingwang-git opened #20190 "Get-AzApiManagementDiagnostic not retrieve diagnostic configurations"
### Description

we like to do the following:
1.	Manually add a custom diagnostic for APIM instance in DEV.
2.	Attempt to export/extract the configuration via the script/api
3.	Using the exported file (json) as the base to automate it into the parameterized terraform script, and make is as part of the IaC.
4.	Apply the diagnostic changes to other APIM instances like TEST, STAGING and PROD.

![imag

[2022-11-21 21:30] JohnDelisle commented on #20075
Hello - Just following up on this.  Still looking for resolution please.  Thank you.

[2022-11-22 02:00] dingmeng-xue commented on #20189
@maiknagy, thanks for contacting us.

Azure PowerShell already upgraded MSAL lib to .NET 461. The stack trace from your code is showing .NET 45. I suspect assembly is imported by other modules. Could you share the output of below script after the issue is occurred?
[code]

[2022-11-22 05:39] maeganda11 opened #20195 "Is there a Powershell Command that will collect data by filtering disk metrics by "LUN" on Azure Performance Metrics?"
### Description

Is it possible to collect the performance metric data of VM with attached disk (LUN) using Powershell command?

As of now, I am just checking the Azure Portal to get the information. I am thinking if it can also be collected by using Get-AzMetric Powershell command.

![image](https://user-images.githubusercontent.com/108807464/203233447-c20681a1-c28d-4b61-b65d-c52b377ee1df.png)

#

[2022-11-22 06:03] #20083 closed

[2022-11-22 06:03] #20017 closed

[2022-11-22 08:02] #19973 closed

[2022-11-22 08:02] #17688 closed

[2022-11-22 09:26] maiknagy commented on #20189
Hello,

thanks for checking. Please find attached output of the provided script

regards
Maik
________________________________
Von: Dingmeng Xue ***@***.***>
Gesendet: Dienstag, 22. November 2022 03:00
An: Azure/azure-powershell ***@***.***>
Cc: Maik Nagy ***@***.***>; Mention ***@***.***>
Betreff: Re: [Azure/azure-powershell] Since we've updated the Az..Accounts Module to version 2.10.2 we receiv

[2022-11-22 10:47] Po46n2 opened #20205 "[Doc]: Enable-AzRecoveryServicesBackupProtection page"
### Description

The Enable-AzRecoveryServicesBackupProtection page:
https://learn.microsoft.com/en-us/powershell/module/az.recoveryservices/enable-azrecoveryservicesbackupprotection?view=azps-9.1.0

Needs updating.

Description says:
Set the vault context by using the Set-AzRecoveryServicesVaultContext cmdlet before you use the current cmdlet.

But Set-AzRecoveryServicesVaultContext is being depr

[2022-11-22 10:58] OneAndOnlySeabass opened #20207 "Malformed URI used in Az.Monitor Remove-AzDataCollectionRuleAssociation cmdlet"
### Description

We tried using the cmdlet Remove-AzDataCollectionRuleAssociation from the Az.Monitor module, but it threw a Bad Request error when trying this operation. From the debug logging, we discovered that the absolute request URI is malformed:
`https://management.azure.com//subscriptions/[sub-id]/resourcegroups/[rg-name]/providers/microsoft.compute/virtualmachines/[vm-name]/providers/micr

[2022-11-22 13:55] paulaustin-automutatio opened #20208 "[Doc]: Az.Storage summary page general usage instructions"
### Description

On the summary page for the Az.Storage module could you provide general instructions on creating a context that is then used for the other commands.

The documentation Get-AzStorageBlob page doesn't show the fact that you need to create a context at all. If you put the general instructions on the main page then in the Get-AzStorageBlob just include -Context $ctx in the examples

[2022-11-22 14:54] msJinLei opened #20209 "[Eng]: Installation and Update Fail When Repository is not provided for Az.Tools.Installer"
### Description

If only one repository is registered in PowserShell, the customer is allowed not to provide with Repository when they install or update modules using Az.Tools.Installer.
But Actually an error is reported
[code]

[2022-11-22 16:40] dingmeng-xue commented on #20189
@maiknagy , I believe it is due to regression issue when we upgraded Microsoft.Identity.Client. We should use version for net461 rather than net45.

Could you uninstall Az.Accounts and try below engineering build? You can install engineering build via module `Az.Tools.Installer`.
[code]

[2022-11-22 17:20] bwarren18 commented on #20151
FYI this worked after using Stop-AzDataProtectionBackupInstanceProtection first to disable the protection.
The cmdlet should still be fixed to throw an error when it fails.

[2022-11-22 20:47] AlexImray opened #20211 "[Feature]: Get-AzConsumptionBudget should have a parameter for management group scopes"
### Description of the new feature

Since azure budgets can be created at the management group scope, the Get-AzConsumptionBudget cmdlet should be able to retrieve and edit budgets that are only visible from management groups as well. Currently, it's only possible to access budgets that are at the subscription or resource group scope. This is true for the intended effects of the other *-AzConsumpt

[2022-11-22 23:03] mbiver opened #20212 "[Doc]: Some bugs in PowerShell example New-AzVMSS"
### Description

Hello, team.  Was testing the "Example 2: Create a VMSS using the DefaultParameterSet" PowerShell and found several errors.  I've placed the problem lines below as well as the error and a potential resolution.  Let me know if you have any questions.  Thanks.

here is a direct link to the PowerShell example.

https://learn.microsoft.com/ja-jp/powershell/module/az.compute/new-azvmss

[2022-11-23 00:54] afedyashov opened #20213 "Typo in AddAzServiceFabricManagedNodeTypeVMExtension.cs and RemoveAzServiceFabricManagedNodeTypeVMExtension.cs: "Extenions" instead of "Extensions""
### Description

There is typo in Add/Remove-AzServiceFabricManagedNodeTypeVMExtension cmdlets.
Word "Extensions" is spelled without first "s": "Extenion"

In file `src/ServiceFabric/ServiceFabric/Commands/ManagedClusters/NodeTypes/AddAzServiceFabricManagedNodeTypeVMExtension.cs`

    if (ShouldProcess(target: this.Name, action: string.Format("Add Extenions {0} with type {1} to node type {2}", thi

[2022-11-23 01:11] dingmeng-xue commented on #20207
It's a bug in below code. It analyze resource id in case sensitive way. It should be insensitive.
https://github.com/Azure/azure-powershell/blob/9c9a4eaa2b64a23629aa6ede13dee00be2abc756/src/Monitor/Monitor/DataCollectionRules/RemoveAzureRmDataCollectionRuleAssociationCommand.cs#L91

Before we fix it, please construct id as
[code]

[2022-11-23 01:17] dingmeng-xue commented on #20195
Thanks for reporting. We will contact Portal developer to understand which API they are using.

[2022-11-23 03:22] msJinLei commented on #19115
Resolved in Az.Accounts 2.10.3

[2022-11-23 03:22] #19115 closed

[2022-11-23 05:36] SaurabhSharma-MSFT commented on #20212
@mbiver We are looking into it and get back to you for any additional information.

[2022-11-23 05:38] SaurabhSharma-MSFT commented on #20205
@Po46n2 We are looking into it and get back to you for any additional information.

[2022-11-23 06:55] wangken82 opened #20218 "Get-AzReservationQuote could not work"
### Description

cx using the example got error
https://learn.microsoft.com/en-us/powershell/module/az.reservations/get-azreservationquote?view=azps-9.1.0#examples

Get-AzReservationQuote -AppliedScopeType 'Shared' -BillingPlan 'Upfro …

     | The resource type 'calculatePrice' could not be found in the namespace 'Microsoft.Capacity' for api version '2022-03-01'. The
     | supported api-versions

[2022-11-23 06:58] wangken82 commented on #20218
PS C:\> resolve-azerror
DEBUG: 2:56:59 PM - ResolveError begin processing with ParameterSet 'AnyErrorParameterSet'.
DEBUG: 2:56:59 PM - using account id 'mingchunwang@cciccat.partner.onmschina.cn'...
DEBUG: 2:56:59 PM - [ConfigManager] Got nothing from [DisplayBreakingChangeWarning], Module = [], Cmdlet = []. Returning default value [True].
WARNING: Upcoming breaking changes in the cmdlet 'Resolve

[2022-11-23 08:44] dingmeng-xue commented on #20218
@wangken82 , I believe the new API version has not been deployed to Azure China Cloud. You can try to use `Invoke-AzRestMethod` to send request to corresponding API version in your environment.

[2022-11-23 10:09] blueww commented on #20208
@paulaustin-automutatio

Thanks for the request!

What do you mean by "summary page for the Az.Storage module"? Would you please give a page link?

And for "instructions on creating a context", you can find in : https://learn.microsoft.com/en-us/powershell/module/az.storage/new-azstoragecontext?view=azps-9.1.0#examples

BTW, there are several way to set storage context, like with set-azcurrentstor

[2022-11-23 13:27] paulaustin-automutatio commented on #20208
At the top of each module is a summary page which currently only includes a list of all the commands., It would be useful if that page gave an overview of using the module.

https://learn.microsoft.com/en-us/powershell/module/az.storage/?view=azps-9.1.0#storage

Here is an example from the https://learn.microsoft.com/en-us/powershell/module/az.storage/get-azstorageblob?view=azps-9.1.0 page

PS C:\

[2022-11-23 15:46] Flightdeck73 opened #20224 "Cannot create a Virtual wan: New-AzVirtualWan"
### Description

Cannot create a virtual wan with PowerShell, can do it through the ui with same values

GenericArguments[0], 'Microsoft.Azure.Management.Network.Models.SecurityRule', on 'T MaxInteger[T](System.Collections.Generic.IEnumerable`1[T])' violates the constraint of type 'T'.

### Issue script & Debug output

[code]

### Environment data

[code]

### Module versions

[code]

### Error ou

[2022-11-23 16:00] Alex-wdy commented on #20224
Could you attach the PowerShell command line you used?

[2022-11-23 16:03] Flightdeck73 commented on #20224
New-AzVirtualWan -ResourceGroupName "V5aJ-rg" -Name "V5aJ-vwan" -Location "USGov Arizona"

Its saying the resource group is not found, but i see it.

full error: didnt paste it all in original defect
----------------------------------------------------------------------------------
DEBUG: [Common.Authentication]: Authenticating using Account: 'onmicrosoft.com', environment: 'AzureUSGovernment', te

[2022-11-23 16:43] mbiver commented on #20212
Sounds good, thanks.

[2022-11-23 20:24] psinnathurai commented on #13618
Is there an update to this? I think this feature will be a big improve for Azure Arc.

[2022-11-23 22:41] agr opened #20225 "Can't filter results of Get-AzApplicationInsights"
### Description

We have a lot of Application Insights instances in Azure and in our configuration files we refer them by their instrumentation keys. Occasionally I need to query certain AI instance interactively for which I know such key. There seem to be no way to look up AI instance in Azure portal by instrumentation key, so Powershell to the rescue. `Get-AzApplicationInsights` returns me a lis

[2022-11-24 01:50] dingmeng-xue commented on #20225
Thanks for reporting. We can reproduce this issue as well. We will contact PowerShell team to understand what root cause it is.

You can try below script to workaround
[code]

[2022-11-24 03:20] dingmeng-xue commented on #18721
Close this issue now.

[2022-11-24 03:20] #18721 closed

[2022-11-24 03:44] wangken82 commented on #20218
@dingmeng-xue
<img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAABsAAAAFoCAYAAADpUT5zAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAP+lSURBVHhe7P139GzHcd+L7sk5h184ERkESJAiaYm2ZF+/t7z8lt+9XpZtyaICM5EDkQPBgAwcZIAESII5iZRkWfZ1urbveqRFZVEkwZxzQM6kJV+vVa8+1VMz+zdnZvbvnEMKqf/4zu7dobq6urt2ddf03kmz2ZRGoyHValU++9nPSqlUkk6nI5VKRbrdrmwn/WBRbg0k6eyV193wQUk2XySn3vDbcsYtvycnX/s+SQbHSt

[2022-11-24 04:58] blueww commented on #20208
@paulaustin-automutatio
Thanks for the suggestion!

How about we change the error message when the cmdlet misses "-Context" to make it more actionable, so user don't need web search how to use it:

- Current error message:
"Could not get the storage context.  Please pass in a storage context or set the current storage context."
- Changed Error message:
"Could not get the storage context. Please pa

[2022-11-24 05:14] RakeshMohanMSFT commented on #20213
@afedyashov Thank you for reaching out, we are looking into it.

[2022-11-24 05:19] RakeshMohanMSFT commented on #20190
@kingwang-git Thank you for reaching out, we are looking into it.

[2022-11-24 06:26] #20213 closed

[2022-11-24 07:44] RakeshMohanMSFT commented on #20152
@PlateSpinner Thank you, I understand. Can you share of the link of the document you are referring to here?

[2022-11-24 08:02] #19991 closed

[2022-11-24 09:47] maiknagy commented on #20189
Hello,

that worked! It seems that the engineering build was capable to solve my issue. there are still ongoing tests which needs to be performed, but at this stage I am satisfied.

Thanks very much for your actions.

Regards
Maik

Next absence: 28.11.2022 – 08.12.2022
________________________________
Von: Dingmeng Xue ***@***.***>
Gesendet: Dienstag, 22. November 2022 17:41
An: Azure/azure-powers

[2022-11-24 12:03] #20043 closed

[2022-11-24 13:46] RakeshMohanMSFT commented on #20190
@kingwang-git These are the APIM diagnostic information you can expect from any client tools (CLI, PowerShell) considering the fact that they all depend on the [REST API](https://learn.microsoft.com/en-us/rest/api/apimanagement/current-ga/diagnostic/get?tabs=HTTP). Here you will find all the setting that you do in the portal.

[Here](https://learn.microsoft.com/en-us/rest/api/apimanagement/current

[2022-11-24 14:56] dlg-leeej84 commented on #17683
I updated to the latest version PowerShell Modules and the issue is now resolved.

My code snippet:
`$vNet = Get-AzVirtualNetwork -Name $virtualNetwork -ResourceGroupName $vnetResourceGroupName
    $subnetId = $vNet.Subnets | Where-Object Name -eq $subnet | Select-Object -ExpandProperty Id
    Write-Host "Create nic for $($params.vmname)"
    $vNic = New-AzNetworkInterface -Name $vNicName -Resourc

[2022-11-24 15:12] Azure-hacker opened #20236 "AzFilesHybrid Powershell Module - PSRemote session cannot run the module"
### Description

We are trying to automate the [Azure File share Domain join](https://nam06.safelinks.protection.outlook.com/?url=https%3A%2F%2Flearn.microsoft.com%2Fen-us%2Fazure%2Fstorage%2Ffiles%2Fstorage-files-identity-ad-ds-enable&data=05%7C01%7Caaneddame%40microsoft.com%7C02d5e918bd0242d9ac0b08dacd9620f7%7C72f988bf86f141af91ab2d7cd011db47%7C1%7C0%7C638048342582176579%7CUnknown%7CTWFpbGZsb3d8

[2022-11-24 15:15] dingmeng-xue commented on #20189
Thanks. The new version of Az.Accounts will be published on Dec 6. Close this issue now.

[2022-11-24 15:15] #20189 closed

[2022-11-24 16:06] falmirayasmin opened #20238 "Set-AzPolicySetDefinition returns InternalServerError when the initiative is too large"
### Description

To reproduce the issue, please follow the following steps:

1. Create custom policy with below definition
[code]

2. Create a new initiative with 15 diferent reference the above policy
![image](https://user-images.githubusercontent.com/63050872/203825491-4e7332cc-2710-4c60-aa5c-3725c6213441.png)

3. Add a very large number "allowed values" in Tag Value paramater.
![image](https://

[2022-11-25 03:45] RakeshMohanMSFT commented on #11188
This is updated now.

![image](https://user-images.githubusercontent.com/49954584/203897272-ac84e97d-3b4b-4032-835f-8ffd25ad3a6c.png)

[2022-11-25 04:58] RakeshMohanMSFT commented on #10953
This is fixed

[2022-11-25 04:58] #10953 closed

[2022-11-25 05:07] dingmeng-xue commented on #20236
@Azure-hacker , thanks for contacting us but sorry those modules do not belong to Azure PowerShell. Please raise the request to owner team of ActiveDirectory module.

[2022-11-25 05:28] RakeshMohanMSFT commented on #14454
This is fixed
[New-SqlAvailabilityGroupListener
](https://learn.microsoft.com/en-us/powershell/module/sqlps/new-sqlavailabilitygrouplistener?view=sqlserver-ps)
[Set-SqlAvailabilityGroupListener
](https://learn.microsoft.com/en-us/powershell/module/sqlps/set-sqlavailabilitygrouplistener?view=sqlserver-ps)

[2022-11-25 05:29] #15517 closed

[2022-11-25 06:24] RakeshMohanMSFT commented on #14959
The document is updated say that the location is a required parameter https://learn.microsoft.com/en-us/powershell/module/az.network/new-azpublicipprefix?view=azps-9.1.0. If you have any further concern please reopen this issue

[2022-11-25 06:24] #14959 closed

[2022-11-25 06:36] Nickcandy opened #20244 ""SystemData" is generated as public properties in subclass"
### Description

When generate code with api:  $(repo)/specification/loadtestservice/resource-manager/Microsoft.LoadTestService/stable/2022-12-01/loadtestservice.json
Found that "LoadTestResource" is generated with public SystemData which is inherited from "Resource", and this one should be private.

### Issue script & Debug output

[code]

### Environment data

[code]

### Module versions

[code]

[2022-11-25 07:03] #11188 closed

[2022-11-25 07:15] #19623 closed

[2022-11-25 07:44] RakeshMohanMSFT commented on #20224
@Flightdeck73 Please go through this [comment](https://github.com/Azure/azure-powershell/issues/18721#issuecomment-1318849358), seems related to that fix

[2022-11-25 09:11] #11023 closed

[2022-11-25 12:47] lemsa commented on #20091
Hi @RakeshMohanMSFT

Any progress on the  "PublicIpSku" parameter which fails?

I see that this issue is now closed and I'm a bit worried it's not looked into...

[2022-11-26 07:12] dcaro commented on #18017
@eva-seydl PTAL

[2022-11-27 19:45] Drewm3 commented on #17683
Closing this not since the issue is resolved.

[2022-11-27 19:45] #17683 closed

[2022-11-28 01:20] rachelxj-ms commented on #20238
https://learn.microsoft.com/en-us/azure/azure-resource-manager/management/azure-subscription-service-limits#azure-policy-limits
Policy definition, initiative, or assignment request body | Bytes | 1,048,576

[2022-11-28 02:57] rachelxj-ms commented on #20238
The issue has been addressed in #20252

[2022-11-28 02:57] #20238 closed

[2022-11-28 03:28] AnikaShuk commented on #12304
How it got solved?
I tried using above solution
Install-Module Az.sql -RequiredVersion 2.6.0 -SkipPublisherCheck -force -AllowClobber
Then import it
Import-module Az.Sql -RequiredVersion 2.6.0
but when i import i get below error

Import-module : The following error occurred while loading the extended type data file: Error in TypeData
"Microsoft.Azure.Commands.Sql.Replication.Model.AzureSqlDatabase

[2022-11-28 03:37] navba-MSFT commented on #20211
Adding service team to look into this feature request.

@ccmaxpcrew  Could you please look into this once you get a chance ?

[2022-11-28 04:08] navba-MSFT commented on #19386
@mialtamo Thanks for getting back. I am adding Service team to look into this further.

 @Drewm3, @avirishuv, @Vaibhav-Agar, @amjads1. Could you please look into this once you get a chance ? Thanks in advance.

[2022-11-28 05:34] dingmeng-xue commented on #20244
it seems an autorest bug. Due to impact is low, we will look into it when we have bandwidth.

[2022-11-28 05:55] makschr commented on #9318
Did someone resolve this issue? Or found a way how to set "Endtime"?

[2022-11-28 07:26] Drewm3 commented on #19386
@navba-MSFT, could you outline why you feel this is an issue with the service? This seems to be an issue specific to PowerShell workflows.

[2022-11-28 08:28] falmirayasmin commented on #20238
Hi Rachel, I'm still facing the same issue.

[2022-11-28 08:30] BethanyZhou commented on #20238
Hi @falmirayasmin , please expect the fix available on Dec 6th.

[2022-11-28 08:30] falmirayasmin commented on #20238
Thank you!

[2022-11-28 09:15] nicolashemery opened #20299 "Update-AzCloudService returns PackageUriForbidden"
### Description

Hello,

I used to run the code below successfully till 2-3 weeks ago. I updated powershell to 7.3 as well as the package i used, and now running into the folloing issue:

When i ran the update it returns PackageUriForbidden while testing the uri on a browser it works. I tried to generate another uri through the portal with larger time and all rights and have the same outcome, it r

[2022-11-28 11:52] kaiaschulz opened #20301 "DevOps Pipeline AzurePowerShell@5 is using old/outdated "Az"-module 7.5.0 and "Az.Resources"-module 5.6.0"
### Description

Hi,
I am using an Azure DevOps Pipeline with `AzurePowerShell@5`:
[code]

Within the Microsoft documentation [AzurePowerShell@5 - Azure PowerShell v5 task
](https://learn.microsoft.com/en-us/azure/devops/pipelines/tasks/reference/azure-powershell-v5?view=azure-pipelines) the latest `azurePowerShellVersion` seem to be `3.1.0` which is related to the `Az`-module if I am not wrong?
I

[2022-11-28 12:46] nicolashemery commented on #20299
To keep you inform as this was on a test environement, i deleted the Storage and Cloud service, rebuild them with the same code,  and i don't have the issue again.
Some issue may have occur on the build of previous Storage or CloudService, thus as it seem a transient error, i will close this

[2022-11-28 12:46] #20299 closed

[2022-11-28 13:38] Azure-hacker commented on #20236
/unresolve

Could you please tag the PG team of AzFileHybrid Module.
Thank you

[2022-11-28 14:38] MmAtBosch opened #20302 "[Doc]: New-AzDiagnosticSetting Example 2 is wrong"
### Description

Example 2 is wrong
https://learn.microsoft.com/en-gb/powershell/module/az.monitor/new-azdiagnosticsetting?view=azps-9.1.0#example-2-create-diagnostic-setting-for-all-supported-categories
In line 5 you use the variables "log**s**" and "metric**s**" although you have defined the variables "log" and "metric"
[$categories | ForEach-Object {if($_.CategoryType -eq "Metrics"){$**metrics*

[2022-11-28 18:50] Francisco-Gamino opened #20303 "Create cmdlet to retrieve the Functions Host runtime version"
### Description

Create cmdlet to retrieve the Functions Host runtime version. For more information, please see [How do I check the functions runtime version?](https://github.com/Azure/azure-functions-host/wiki/How-do-I-check-the-functions-runtime-version%3F)

### Issue script & Debug output

[code]

### Environment data

[code]

### Module versions

[code]

### Error output

[code]

[2022-11-28 18:55] michelchristianen opened #20304 "'Get-AzWebApp -AppServicePlan $asp' doesn't return all deployed Azure Functions"
### Description

Using powershell we try to resolve the number of function-apps deployed within an AppServicePlan using the 'Get-AzWebApp -AppServicePlan $asp' powershell call.
Currently it doesn't return all the hosted function-apps, but only 100. After investigating the Azure portal it looks the issue is also available within the Azure portal. Also there only 100 function-apps can be shown. The

[2022-11-29 02:26] agr commented on #20225
I've noticed the following:

[code]
If I call `Measure-Object` on the result of `Get-AzApplicationInsights` it gives different result than if I first assign it to some variable. I'd guess it is related to the search oddities.

[2022-11-29 02:55] #20013 closed

[2022-11-29 03:03] dingmeng-xue commented on #20225
Thanks @agr , We have found the data type of return result is different between `Get-AzApplicationInsights` and `(Get-AzApplicationInsights)` (equal to set result to variable.) We haven't figured out the root cause.

[2022-11-29 03:06] dingmeng-xue commented on #20302
@VeryEarly , please fix this issue with priority.

[2022-11-29 03:15] dingmeng-xue commented on #20301
Thanks for contacting us. AzurePowerShell tasks in DevOps is managed by https://github.com/microsoft/azure-pipelines-tasks. Please create your question to that repo. I cannot transfer the issue because Github doesn't allow transfer issue across organizations.

[2022-11-29 03:22] isra-fel opened #20307 "[Doc]: Examples of `New-AzWvdHostPool` doesn't work"
### Description

I tried to create a virtual desktop host pool by following [the examples of `New-AzWvdHostPool` ](https://github.com/Azure/azure-powershell/blob/main/src/DesktopVirtualization/help/New-AzWvdHostPool.md#examples). Both didn't work. Here are the errors I got:

[code]

I was using v3.1.1 on PS v7.3.0.
Please refresh the examples.

[2022-11-29 03:51] navba-MSFT commented on #20218
@wangken82 Apologies for the late reply. Thanks for reaching out to us and reporting this issue. We are looking into this issue and we will provide an update.

[2022-11-29 05:05] amitdwivedi-broadcom commented on #20056
i have not seen any update on this yet. its been 19 days

[2022-11-29 05:53] yanjungao718 commented on #20186
Hi @BJarkowski, this issue is caused by wrong type definition for folder path, now it does not accept Expression type but only String type, we will fix it asap.

[2022-11-29 06:05] SaurabhSharma-MSFT commented on #20056
@amitdwivedi-broadcom sorry for the delay.  I am able to reproduce this issue and checking internally on the same.  I will get back to you at the earliest.

[2022-11-29 08:02] #19923 closed

[2022-11-29 14:33] RakeshMohanMSFT commented on #20307
@isra-fel Thank you for reaching out to us, we are looking into it.

[2022-11-29 19:19] ChristopherGLewis opened #20323 "Get-AzRoleAssignment -scope "/" returns BadRequest, but Get-AzRoleAssignment | Where-Object {$_.scope -eq "/"} is fine"
### Description

`Get-AzRoleAssignment -scope "/"` returns a BadRequest error:

[code]
but this works OK with a Where-Object

[code]

Note this works perfectly fine using the AZ CLI:

[code]

### Issue script & Debug output

[code]

### Environment data

[code]

### Module versions

[code]

### Error output

[code]

[2022-11-29 21:48] aanhalzer commented on #20186
This remains an issue. Get-AzSynapsePipeline is failing on pipelines with dataflows and expressions. The command below is with Az.Synapse v 2.1.0
<img width="765" alt="image" src="https://user-images.githubusercontent.com/17557336/204655086-4e0cc68f-8e88-44e4-9077-5c1c5ecb568d.png">

When a command is run only providing the WorkspaceName parameter, since the workspace contains a Pipeline with Data

[2022-11-29 21:53] aanhalzer opened #20324 "Get-AzSynapsePipeline is failing when a Pipeline contains Dataflows and Expressions"
### Description

Get-AzSynapsePipeline is failing on pipelines with dataflows and expressions. The command below is with Az.Synapse v 2.1.0
<img width="769" alt="image" src="https://user-images.githubusercontent.com/17557336/204655657-7e973755-5495-4b95-92dd-3ab9d2e99cb3.png">

When a command is run only providing the WorkspaceName parameter, since the workspace contains a Pipeline with Dataflows

[2022-11-29 22:55] damarce135 opened #20325 "[Doc]: example error in New-AzDiagnosticSetting"
### Description

The Example 2 is incorrect on getting the subscription ID and defining the variables, it switches from non-plural to plural which makes the code fail.

https://learn.microsoft.com/en-us/powershell/module/az.monitor/new-azdiagnosticsetting?view=azps-9.1.0&tryIt=true&source=docs#example-2-create-diagnostic-setting-for-all-supported-categories

Fixed code:

[code]

[2022-11-29 22:55] mjneuharth opened #20326 "Get-AzStorageBlob not providing all values of $blob.ICloudBlob.Properties"
### Description

When interacting with extant storage blobs with Powershell, I am unable to access .ICloudBlob.Properties.ContentMD5 (and other values). This had worked as recently as October 31, 2022.

For the blob in question I do see CONTENT-MD5 and CONTENT-TYPE with the right values when looking at the Overview in the Azure portal.

When I attempt to retrieve those values with powershell, they

[2022-11-30 00:03] #19965 closed

[2022-11-30 00:54] jollylollylion commented on #13868
Also having this issue with get-azsqldatabase and get-azsqlserver and other azure cmdlets including new-azsqldatabasecopy used in our DevOps Pipeline. What is worse it's an intermittent issue, causing builds to randomly fail. Quite Frustrating.
##[error]The request was canceled due to the configured HttpClient.Timeout of 100 seconds elapsing.

[2022-11-30 02:02] SaurabhSharma-MSFT commented on #20324
@aanhalzer We are looking into it and get back to you for any additional information.

[2022-11-30 02:03] SaurabhSharma-MSFT commented on #20326
@mjneuharth We are looking into it and get back to you for any additional information.

[2022-11-30 02:10] VeryEarly commented on #20302
already fixed in main branch by #20048

[2022-11-30 02:11] #20302 closed

[2022-11-30 02:44] navba-MSFT commented on #20326
@mjneuharth To read blob properties or metadata, you must first retrieve the blob from the service. Use the `Get-AzStorageBlob` cmdlet to retrieve a blob's properties and metadata, but not its content. Next, use the BlobClient.GetProperties method to fetch the blob's properties. The properties or metadata can then be read or set as needed.

The following sample **PS script** retrieves a blob and l

[2022-11-30 03:07] mjneuharth commented on #20326
/unresolve

Is this a new change? As i mentioned in the original report, code similar to what I posted was able to retrieve $blob.ICloudBlob.Properties.ContentMD5 as recently as October 31, 2022.

If the properties exist on the blob within Azure such that the portal can display them, why would I need to download the blob to similarly display them? I would expect to simply be able to read the metad

[2022-11-30 04:32] navba-MSFT commented on #20139
@Gheedit Apologies for the late reply. I am waiting to hear back from the Product Owners. I will update this thread once I have the details.

[2022-11-30 04:46] navba-MSFT commented on #20218
@wangken82 AFAIK Reservations are not supported in China cloud just yet. See this: https://azure.microsoft.com/en-us/blog/guarantee-capacity-access-with-ondemand-capacity-reservations-now-in-preview/

[2022-11-30 05:40] Alex-wdy commented on #20325
When I run example2, I can succeed.

When I run the script you gave, I get an error in this step.
![image](https://user-images.githubusercontent.com/108926104/204716453-ffe26d76-e6f8-43dd-ab7f-5da6052f302a.png)

$subscriptionId = (Get-AzContext).Subscription**.Id**    -- .Id is this mistake?

[2022-11-30 06:05] SaurabhSharma-MSFT commented on #20205
@Po46n2 The PR for the fix has been created and it will be merged soon. Thanks again for pointing this out, I am closing the issue based on this update, please let us know if there is something else that we can help you with.

[2022-11-30 06:05] #20205 closed

[2022-11-30 06:30] RakeshMohanMSFT commented on #20325
@damarce135 Thank you for reaching out to us, we are looking into it.

[2022-11-30 06:33] fbodmer opened #20328 "[Doc]:"
### Description

In Get-AzRecoveryServicesBackupJob the parameter Operation doesn't offer the CrossRegionRestore value. This is somewhat confusing as the value Restore doesn't include cross region restore jobs. Best would be to add the value to the Operation, but it might also help to mention this in the documentation. Or add something like this:
Get-AzRecoveryServicesBackupJob -VaultId $VaultId

[2022-11-30 07:49] SaurabhSharma-MSFT commented on #20212
@mbiver The PR for the fix has been created and it will be merged soon. Thanks again for pointing this out, I am closing the issue based on this update, please let us know if there is something else that we can help you with.

[2022-11-30 07:49] #20212 closed

[2022-11-30 08:44] Gheedit commented on #20139
Hi @navba-MSFT, I appreciate your response and I look forward to hearing from you!

[2022-11-30 09:59] navba-MSFT commented on #20326
@mjneuharth The portal calls the [Get Blob Properties ](https://learn.microsoft.com/en-us/rest/api/storageservices/get-blob-properties)REST API and displays all the blob properties. Though the PS cmdlet also calls the same REST API underneath, not all blob properties are not exposed.

[2022-11-30 13:11] mjneuharth commented on #20326
I feel like we're talking past one another here a bit.

I am willing to accept that "not all blob properties are exposed" my report is still: this was working.

The code that we have in place has been using $blob.ICloudBlobProperties.ContentMD5 since April 13, 2020 without any problems. The last successful run was October 31, 2022. Something changed recently to stop this value from being accessibl

[2022-11-30 16:22] jaylabell commented on #19985
The issue has been resolved. Please reach out if you have any questions.

[2022-11-30 16:22] #19985 closed

[2022-11-30 16:25] jaylabell commented on #18217
This item is still in progress

[2022-11-30 16:32] jaylabell commented on #19963
The updates are currently pending.

[2022-11-30 17:01] navba-MSFT commented on #20326
@mjneuharth Thanks for clarifying.

@blueww Could you please let us know if there has been any recent breaking changes that led this `$blob.ICloudBlob.Properties.ContentMD5` to fail ? Any pointers to address this issue is much appreciated.

[2022-11-30 17:41] RakeshMohanMSFT commented on #20323
@ChristopherGLewis Thank you for reaching out, we are looking into it.

[2022-11-30 18:50] larswurm opened #20334 "[Doc]: New-AzContainerAppScaleRuleObject documentation"
### Description

Please provide additional examples on how to use the cmdlet for creating common "scale rule" object, like http based connection rules. Just stating that there are complex / advanced scenarios that can beused / created using "scale rules" at the bottom is kind of thin (e.g <IHttpScaleRuleMetadata>). Since there are not many online links (google or bing) for providing clues on the c

[2022-11-30 21:20] Francisco-Gamino commented on #10998
Hello @Quixotical -- The Az.Accounts module should include a cmdlet to retrieve the bearer token for the current session. After this, you can use the Set-AzResource cmdlet to call into the Functions ARM API endpoints. Have you tried this?