[2016-11-10 08:36] ravbhatnagar commented on #2405
@gregjhogan Is this still an issue? This does not seem to be a resource type in the microsoft.insights namespace

[2016-11-10 08:46] ravbhatnagar commented on #2418
Closing due to lack of repro as per investigation by @gandhiniraj . Please let us know if you still run into this.

[2016-11-10 08:46] #2418 closed

[2016-11-10 08:47] ravbhatnagar commented on #2605
This will be fixed in December release of PS. Exact name matches will be supported in Find cmdlet.

[2016-11-10 08:59] ravbhatnagar commented on #2768
Fixed.

[2016-11-10 08:59] #2768 closed

[2016-11-10 09:00] ravbhatnagar commented on #2809
Looks like a service side issue with IoTHubs. Will follow up with the team to investigate this,

[2016-11-10 14:36] jonsabo opened #3188 "SPN authentication fails with tenant domain name"
### Cmdlet(s)
Add-AzureRmAccount

### PowerShell Version
5.1.14393.223

### Module Version
3.1.0

### OS Version
10.0.14393.223

### Description
`Add-AzureRmAccount` with `TenantId` that is set to the domain name rather than the tenant GUID fails. The help for the parameter indicates it can accept either the GUID or the name of the tenant:
https://github.com/Azure/azure-powershell/blob/master/src/

[2016-11-10 16:13] gregjhogan commented on #2405
@ravbhatnagar @markcowl yes still an issue.  There doesn't seem to be support for setting the continuous export settings via an ARM template, so I am trying to build something that can get the continuous export settings to a desired state.  This requires the ability to read the current continuous export settings.  I don't know what exactly you consider a resource type, but you can certainly make a

[2016-11-10 19:10] vivsriaus commented on #2809
@erictorbenson Do you mind adding -Debug at the end of the cmdlet and sending us the debug traces?

Get-AzureRmResource | Where-Object {$_.ResourceType -EQ "Microsoft.Devices/IotHubs"} | Set-AzureRmResource -Sku $skuhash **-Debug**

[2016-11-11 07:23] kvaes commented on #3178
So to circle back to the start of the issue... The netcore.preview is not updated on a regular basis. So if I want to test the new versions, I cannot use the install-module.

[2016-11-11 16:27] tinymoth commented on #2278
I'm suffering from this when I export templates from Azure. If you export a template/parameter set from a created resource, the 'name' fieldname is extended to match the resource in the template and the corresponding parameters file. If you try to export a resource by filling in the values in the gui and clicking on Automation Options, it just uses the 'name' fieldname for the parameter, thereby r

[2016-11-11 22:54] vivsriaus commented on #3069
@mthenot Can you run your script/cmdlet with -Debug and send us the traces?

[2016-11-12 00:24] markcowl commented on #2080
Can you provide debug traces for this scenario, you can do this by setting:

[code]
before running your the cmdlet or script

[2016-11-12 00:45] CaryJ commented on #2080
Is there a more secure place I can upload the output to?

[2016-11-14 08:39] nda888 commented on #1978
Hello everyone,

Im having some problem abount create VM from captured image

I can't create VM more than 1 on same captured image

It always alert:
"error:   Long running operation failed with error: 'Blob https://ubuntuimgdisks276.blob.core.windows.net/vmcontainerc92766df-a015-4e8b-8bb1-1f421bb5ddfb/osDisk.c92766df-a015-4e8b-8bb1-1f421bb5ddfb.vhd already exists. Please provide a different blob U

[2016-11-14 16:30] gregjhogan opened #3197 "Register-AzureRmAutomationScheduledRunbook: add support for RunOn"
Please add a `-RunOn` parameter to `Register-AzureRmAutomationScheduledRunbook` similar to `Start-AzureRmAutomationRunbook`

[2016-11-14 17:34] singhkays commented on #1978
@nda888 Seems like the error is pretty clear. Try using a different blob name

` 'Blob https://ubuntuimgdisks276.blob.core.windows.net/vmcontainerc92766df-a015-4e8b-8bb1-1f421bb5ddfb/osDisk.c92766df-a015-4e8b-8bb1-1f421bb5ddfb.vhd already exists `

[2016-11-14 18:20] pattipaka commented on #2080
@CaryJ, can you please provide details of the cluster that you are trying to execute the query. Is it Linux or windows clusters? What is the version of the cluster?

I can see same body content for my runs and my Linux 3.5 cluster doesn't show up any issue.

DEBUG: ============================ HTTP REQUEST ============================

HTTP Method:
POST

Absolute Uri:
https://xxxxx.azurehdinsight.

[2016-11-14 18:34] CaryJ commented on #2080
It is a Windows HDInsight cluster, v3.2.

[2016-11-14 19:31] pattipaka commented on #2080
@CaryJ, This is much older cluster. Can you please try out Linux 3.5 cluster and see if you still have an issue?

[2016-11-15 04:28] nda888 commented on #1978
Thanks for your reply

But how can i create another blob name?

I don't know too much abount Azure

May you help?

[2016-11-15 04:31] singhkays commented on #1978
@nda888 How are you trying to create the other VM?

[2016-11-15 04:38] nda888 commented on #1978
I followed this guide to create VM from captured image
https://azure.microsoft.com/en-us/documentation/articles/virtual-machines-linux-capture-image/

[2016-11-15 09:53] blueww commented on #2833
We already have enbaled the Storage management unit test.

[2016-11-15 09:53] #2833 closed

[2016-11-15 14:56] chrisinazure commented on #2278
small note: if you export the templates created by msft through the portal, you have the same issue. workaround at the moment (although silly) is replace the name parameter with for example appname, solved. something that can be easily fixed by msft i'm guessing? ;-)

[2016-11-15 16:39] milannankov opened #3201 "Slot settings for a deployment slot"
### Cmdlet(s)
Set-AzureRmWebAppSlotConfigName

### PowerShell Version
PSVersion                      5.1.14393.206
CLRVersion                     4.0.30319.42000

### Module Version
2.3.0

### OS Version
BuildVersion                   10.0.14393.206

### Description
SetAzureWebAppSlotConfigName does not seem to work when trying to designate an app setting as slot setting for a staging slot.

### D

[2016-11-15 18:07] cormacpayne commented on #3201
@Nking92 Hey Nicholas, would you mind taking a look at this issue?

[2016-11-15 18:08] cormacpayne commented on #3197
@safeermohammed Hey Safeer, would you mind taking a look at this issue?

[2016-11-15 18:11] cormacpayne commented on #3187
@singhkays Hey Kay, would you mind taking a look at this issue?

[2016-11-15 18:13] cormacpayne commented on #3181
@markcowl is this issue related to https://github.com/Azure/azure-powershell/issues/3186 ?

[2016-11-15 18:45] cormacpayne commented on #3187
@gbowerman Hey Guy, would you mind taking a look at this issue?

[2016-11-15 19:19] cormacpayne commented on #3180
@DeepakRajendranMsft Hey Deepak, would you mind taking a look at this issue?

[2016-11-15 19:30] gbowerman commented on #3187
I agree we shouldn't need to provide these values.

[2016-11-16 01:41] mtandon80 opened #3202 "[ADFS]:Calling Add-AzureRmEnvironment twice makes "ValidateAuthority" automatically true and break ADFS scenarios"
### Cmdlet(s)
Add-AzureRmEnvironment
### PowerShell Version
Instructions: to get PowerShell version, type `$PSVersionTable` and look for the value associated with `PSVersion`

### Module Version
Name                           Value
----                           -----
PSVersion                      5.1.14393.206
PSEdition                      Desktop
PSCompatibleVersions           {1.0, 2.0, 3.0,

[2016-11-16 10:15] Justus-Maier commented on #2199
+1
Trips up new guys to Azure Cloud like me :/
The whole article about how to install and configure is not really straight forward either :(

[2016-11-16 14:02] towerbe opened #3203 "Restore-AzureRmSqlDatabase help is not up to date, mostly missing."
### Cmdlet(s)
Restore-AzureRmSqlDatabase

### PowerShell Version
Major  Minor  Build  Revision
-----  -----  -----  --------
5      0      10586  117

### Module Version
2.3.0
### OS Version
Major  Minor  Build  Revision
-----  -----  -----  --------
10     0      10586  117

### Description
The help file for this command is virtually empty, containing no information on parameters, no examples, et

[2016-11-16 21:12] Pradebban commented on #3143
@markcowl , thanks for the update. If we have timelines that would be more than helpful.

[2016-11-16 21:23] Pradebban opened #3204 "[AzureChinaCloud]: Get-AzureRmUsage failes with "No Registered Providers" for APIManagement Service"
### Cmdlet(s)
Get-AzureRmUsage

### PowerShell Version
4.0

### Module Version
Module: Manifest 2.0.1 AzureRM.ApiManagement

### OS Version
6.3.9600.17400

### Description

Was able to provision API Management instance, but on the same session am unable to determine the RMUsage with Get-AzurerRMUsage commandlet.

PS C:> **New-AzureRmApiManagement -ResourceGroupName "pradebban" -Name "pradebban" -L

[2016-11-17 03:17] blueww commented on #1109
As there are no responds for this issue for > 8 months, close the issue.
Feel free to reactive it if any thing need follow up.

[2016-11-17 03:17] #1109 closed

[2016-11-17 03:28] blueww commented on #2518
I can't repro the progress bar hang issue. But if you still block on it, can you try to disable progress indicators in Power Shell by following command before you run the copy:
`$ProgressPreference="SilentlyContinue"`

[2016-11-17 09:56] TrickyTic opened #3205 "Get-AzureStorageContainer stalls when called from event"
### Cmdlet(s)
Get-AzureStorageContainer

### PowerShell Version
4.0

### Module Version
Azure.Storage version 2.3.0

### OS Version
6.3.9600.16406

### Description
Output stalls displaying task status when calling Get-AzureStorageContainer from a WPF GUI event.

### Script/Steps for Reproduction
Execute Get-StorageContainer from a WPF GUI event
[code]
![get-azurestoragecontainer_stalled](https://c

[2016-11-17 17:21] cormacpayne commented on #3202
@mtandon80 Hey Manish, what version of Aazure PowerShell are you using?

[2016-11-17 17:24] cormacpayne commented on #3203
@jamestao  Hey James, would you mind taking a look at this issue?

By the way, I have [created a module](https://github.com/Azure/azure-powershell/blob/dev/documentation/platyPSHelp-documentation.md) that uses platyPS to create and validate markdown help for service teams, if you would like to take a look since this issue involves help

[2016-11-17 17:33] cormacpayne commented on #3204
@Pradebban could you provide the module version of Insights as well?

Also, can you set `$DebugPreference="Continue"` and run the above commands so we can get the debug output?

[2016-11-17 17:36] towerbe commented on #3203
Cormac,

I'm finding a lot of the SQL related cmdlets have little or no content in
the help files. This may be a more far reaching issue than just one cmdlet.

On Nov 17, 2016 11:25 AM, "Cormac McCarthy" <notifications@github.com>
wrote:

[2016-11-17 17:38] cormacpayne commented on #3205
@EmmaZhu Hey Emma, would you mind taking a look at this issue?

[2016-11-17 17:59] cormacpayne commented on #3203
@towerbe thanks for the heads-up. I created the previously mentioned module so teams can easily create and update their help using markdown and then validate the help for each cmdlet to make sure they have the necessary sections (description, parameter information, examples, etc.) filled out for users.

Our plan is to have all of the service teams use the module to update and validate their help,

[2016-11-17 20:05] CaryJ commented on #2080
I tried it on both the most recent Windows version (Hadoop  on Windows (HDI 3.3.0.1093)) and on Linux ( Hadoop  on Linux (HDI 3.5.1000.0)).  The Windows version still fails, while the Linux version does work.
Note that using a Linux cluster is not an option for us, as we have .Net based map-reduce jobs we run on the cluster.

[2016-11-17 20:36] jamestao commented on #1131
Fixed in #3206

[2016-11-17 20:36] #1131 closed

[2016-11-17 20:37] jamestao commented on #2492
Fixed Tags overall in #3206

[2016-11-17 20:37] #2492 closed

[2016-11-17 20:39] jamestao commented on #2340
Fixed Tags overall in #3206.

[2016-11-17 20:39] #2340 closed

[2016-11-17 20:40] jamestao commented on #1799
Fixed Tags overall in #3206.

[2016-11-17 20:40] #1799 closed

[2016-11-17 20:40] jamestao commented on #1979
Fixed Tags overall in #3206.

[2016-11-17 20:40] #1979 closed

[2016-11-17 20:42] jamestao commented on #2378
Addressed in #3206.

[2016-11-17 20:42] #2378 closed

[2016-11-17 20:43] jamestao commented on #1134
Addressed in #3206.

[2016-11-17 20:55] CaryJ commented on #2080
I just did some more research, and discovered that more recent versions of HDI for Windows will not be supported.
If you want to close this issue as something you won't fix, I'm ok with that.  We have already been investigating other options besides Hadoop, anyway.

[2016-11-17 22:06] CaryJ commented on #2081
Either I missed this in the documentation, or it was added later - but the file has to be in the storage account used by the cluster.  It cannot be local.  This works when I place the file in the storage account.

[2016-11-17 22:06] #2081 closed

[2016-11-18 08:21] blueww commented on #3205
This issue can also repro on my machine, the script hang in "Get-AzureRmStorageAccount" on my machine when run Test-ProblemCode() in an event.

@markcowl, The issue seems not a storage specified issue, but can also repro with other cmdlets like:

- Get-AzureRmResourceGroup
- Get-AzureRmVM
- Get-AzureRmWebApp

Would you please help to look at the issue and see how can we fix it in the Azure Powersh

[2016-11-18 19:15] markcowl opened #3209 "Validate ADAL2.28.3 and update libraries to use it"
### Description

- [x] Perform scenario validation on ADAL 2.28.3 (2.28.3.860)
- [x] Republish Authentication library with the new depednency
- [x] Republish AutoRest test library with the new dependency
- [x] Republish Hyak test library with the new dependency
- [x] Update PowerShell projects to refer to the new ADAL
- [x] Provide private MSI for internal verification

### Cost: 4

[2016-11-18 19:27] ravbhatnagar commented on #2206
This has been addressed. Going forward we have stricter criteria to control shipping breaking changes and also limit the frequency of breaking changes for PowerShell releases.

In case there are going to be breaking changes, we will give better information about the upcoming breaking changes. We have already started providing migration guides for breaking changes - https://github.com/Azure/azure-p

[2016-11-18 19:27] #2206 closed

[2016-11-18 20:11] alenat10 commented on #2873
same issue :(

[2016-11-18 22:14] Qbone2089 opened #3210 "Azure Automation"
I have been testing on my local computer and managed to get my automation code setup.
But i have encountered and issue with converting datetime variables to strings.

$start = ($pauseautomationstart).ToShortDateString(), this works on my local computer, but not in my azure automation.

I get this error
Method invocation failed because [System.String] does not contain a method named 'ToShortDateStr

[2016-11-20 04:10] DirtyPiece commented on #3012
I would also love to see something like this.

[2016-11-21 12:43] nallurisrinu commented on #340
$connStrings =  @{ AzureWebJobsDashboard = @{ Type = "Custom"; Value = $AzureWebJobsDashboard };
                   AzureWebJobsStorage = @{ Type = "Custom"; Value = $AzureWebJobsStorage }};

Set-AzureRMWebApp -Name $webServiceName -ResourceGroupName $rgName -ConnectionStrings $connStrings

[2016-11-21 20:34] rosshopkins7 opened #3215 "New-AzureRmADApplication - Creating new SPNs from existing SPN fails"
### Cmdlet(s)
New-AzureRmADApplication

### PowerShell Version
5.1.14393.206

### Module Version
3.1.0

### OS Version
10.0.14393.206

### Description
I'd like to use one "master" SPN to be able to create new SPNs and rotate expiring SPN keys through automation.  The master SPN is an owner of the subscription it's running from and has been granted all permissions to the AAD application.  It is not

[2016-11-21 23:16] aspiringtfsguru commented on #290
Having the same issue here. Would love to know how to resolve.

[2016-11-22 02:56] markcowl commented on #3169
@asheniam please take a look

[2016-11-22 02:57] markcowl commented on #3172
@ravbhatnagar can you take a look?

[2016-11-22 02:58] markcowl commented on #3173
@ravbhatnagar @vivsriaus   Can you guys take a look?  This would be a great time to use the new platyPS help tools to make help editing easier.https://github.com/Azure/azure-powershell/blob/dev/documentation/platyPSHelp-documentation.md

[2016-11-22 03:06] markcowl commented on #3174
This is expected.  There is no good support for SecureString in .Net Core, so using SPN with credential uses:

[code]

[2016-11-22 03:07] #3174 closed

[2016-11-22 03:10] markcowl commented on #3175
@bganapa what module is this cmdlet in?

[2016-11-22 03:13] markcowl commented on #3178
NetCore.Preview has not been updated recently.  It is planned for next year to produce NetCore and Desktop libraries at the same time.

Closing as duplicate of  #2825

[2016-11-22 03:13] #3178 closed

[2016-11-22 03:14] markcowl commented on #3188
This is by design.  You must log in with a tenant id when using service principal

[2016-11-22 03:14] #3188 closed

[2016-11-22 03:16] markcowl commented on #3210
Qbone2089 This is not the repository for the Azure Automation service.  Please place this question through the Azure Forums and the service team will get back to you.

[2016-11-22 03:16] #3210 closed

[2016-11-22 03:17] markcowl commented on #3215
@shuagarw please take a look

[2016-11-22 03:19] markcowl commented on #3204
@Pradebban ping?  Can you please send logs as requested?

[2016-11-22 03:21] markcowl commented on #3181
@crou This is a duplicate of #3186
You cna get around this by specifying the subscriptionId and TenantId when logging in in this case.

[2016-11-22 03:21] markcowl commented on #3181
clsoign as duplicate

[2016-11-22 03:21] #3181 closed

[2016-11-22 09:25] bunceg commented on #290
There isn't really a resolution so far - probably due to the way the service bus registers with DNS I'm guessing?

My work around has been to add a random string to the end of each creation step, e.g. (based on an ARM template) namespace equals something like:

where the uniqueString helps make the namespace unique each time

[2016-11-22 15:31] i255d commented on #2278
ravbhatnagar, the thing you are not making clear here, is where to put:
$templateParams = @{ name = "name-test" }

This is the template:
"parameters": {
        "name": {
            "type": "string"
        },

This is the parameter file:

   "parameters": {
        "type": {
            "value": "web"
        },
        "name": {
            "value": ""
        },

or does the hash get puting th

[2016-11-22 15:33] aspiringtfsguru commented on #290
So here's why it takes a week:
[Error Code: 400--The namespace name is previously used in another project and has been deleted less than one week.](https://social.msdn.microsoft.com/Forums/en-US/8b0efb21-3903-4690-890e-fc373eec77d0/error-code-400the-namespace-name-is-previously-used-in-another-project-and-has-been-deleted-less?forum=servbus)

[2016-11-22 19:47] solankisamir commented on #3143
@Pradebban we are updating the manifest for Azure China Cloud. @markcowl please include me for future API Management issues, @ailn moved to another team.

[2016-11-22 19:49] solankisamir commented on #3204
@Pradebban we are fixing the ARM manifest for Azure China Cloud. Will update when its done.

[2016-11-22 19:49] #3058 closed

[2016-11-22 19:57] shilsmarty opened #3217 "Import-AzureRmApiManagementApi commandlet is expecting apiId as mandatory field"
### Cmdlet(s)

### PowerShell Version - 5.1.14393
Instructions: to get PowerShell version, type `$PSVersionTable` and look for the value associated with `PSVersion`

### Module Version - 3.1.0

### OS Version - 10.0.14
Instructions: to get OS version, type `$PSversionTable` and look for value associated with `BuildVersion`

### Description
Import-AzureRmApiManagementApi commandlet is expecting api

[2016-11-22 22:58] markcowl commented on #3217
@solankisamir  Can you take  a look

[2016-11-22 23:37] solankisamir commented on #3217
@markcowl sure.

[2016-11-23 22:05] bigtfromaz commented on #1665
I just uncovered a condition where this message is emitted and I think it is by design.

I created an account in AzureAD and gave it only one permission and that is to update DNS records in one Azure DNS zone owned by one subscription.

When I issue Get-AzureRmSubscription  to enumerate subscriptions, this user apparently does not have the necessary permissions and the "WARNING: Unable to acquire

[2016-11-28 02:34] jahmai commented on #1068
Is there any workaround for this? I've got ARM templates that take longer than an hour to deploy (looking at you Gateway and Redis). When I want to put them all together into a combined deployment script, any part of the script can fail from a timeout of credentials. This can be hard to recover from without trying to manually execute the missed parts of my script. How can I just get a really long

[2016-11-28 14:08] giefroot commented on #3088
Came across this bug. Is there any resolution or work-around to the problem?

[2016-11-28 18:29] shuagarw commented on #3088
@danieldobalian to take a look at  it.

[2016-11-28 22:15] MattMcL4475 opened #3226 "Set-AzureRmBatchApplication - improve top-level error message when "AllowUpdates" = false"
### Cmdlet(s)
Set-AzureRmBatchApplication

### PowerShell Version
5.1.14393.206

### Module Version
AzureRM.Batch 2.2.0

### OS Version
Windows 10 latest

### Description
Set-AzureRmBatchApplication's error message is generic and not specific.

### Script/Steps for Reproduction

1.  Set "allow updates" to false in the portal for an application
2.  Attempt to change the default version of the appli

[2016-11-29 14:47] TrickyTic opened #3227 "Get-AzureRmVM fails to follow NextLink"
### Cmdlet(s)
Get-AzureRmVm

### PowerShell Version
4.0

### Module Version
AzureRm.Compute 2.3.0

### OS Version
6.3.9600.16406

### Description
Get-AzureRmVm returns only the first 50 virtual machines.
The cmdlet attempts to follow NextLink but appears to receive an empty body reply.

### Debug Output
[code]
### Script/Steps for Reproduction
Execute Get-AzureRmVm for a subscription that would re

[2016-11-29 17:14] tednyberg commented on #1460
And for the sake of clarity, any connection strings not specified will be removed.

Worth noting if you intend to update a single connection string among many. :)

[2016-11-29 21:56] jmilczek commented on #1812
Experiencing the same issue for Get-AzureRmVirtualNetworkGatewayConnection with version 3.2.0. Anyone working on this?

[2016-11-30 00:20] #1134 closed

[2016-11-30 03:19] davidmatson opened #3230 "Typo in text for filing issues"
help Get-AzureRmResource

Says:
 If you find an issue with this cmdlet, please create an issue on https://github.com/Azure/azure-powershell/issues, with a lable "ResourceManager".

Note the typo in "lable" (should say "label").

[2016-11-30 15:26] angeloedades commented on #2278
i255d,

"name" needs to be renamed, in your ARM template, with a different name so name it so it does not conflict with a parameter called "name" in the cmdlet.

[2016-11-30 16:13] ondass opened #3231 "MSI installation kills all PowerShell processes"
### Module Version
3.1.0 November 2016

### OS Version
any

### Description
the MSI package when run in unattended mode (with -passive or -qn MSIEXEC parrameters) forcibly kills all running powershell processes. What? Are you mad? On a server, many PowerShell tasks may be running during the sole Azure Module installation generally. In my particular case, which I do not consider too much particular

[2016-11-30 16:49] gregjhogan commented on #2278
@ravbhatnagar any idea when you will make the fix you previously mentioned?  Right now there is no noninteractive way to deploy a template with a parameter named 'name'.  Thanks!

[2016-11-30 19:04] vladbarosan opened #3232 "Undocumented behavior for Set-AzureRmVmCustomScriptExtension when running with -ForceRerun and -FileName parameters regarding access to the file's Azure storage blob"
### Cmdlet(s)
`Set-AzureRmVmCustomScriptExtension`

### Script/Steps for Reproduction

Run `Set-AzureRmVmCustomScriptExtension` with the `-ForceRerun` parameter and specify the script using `-FileName` and the related paramters necessary to locate it in Azure Storage. After 24 hours, when the VM starts, it will fail to provision the extension as it cannot access the Storage Blob where the script s

[2016-11-30 19:10] vladbarosan commented on #3232
To add that I saw this expiry time also in the classic stack, not just in ARM.

[2016-11-30 20:21] markcowl commented on #3231
This msi behavior has been in effect for about a year.  The issue is that, PowerShell processes may hold dlls that prevent earlier versions of cmdlets in the global mosule location from being removed.

This will be resolved in the msi refactor tracked here:#2220  Closing as a duplicate for that bug.

[2016-11-30 20:21] #3231 closed

[2016-11-30 20:22] markcowl commented on #3226
@MattMcL4475 Can you provide debug logs for the issue?  To get logs from the debug stream, set
[code]
and execute the cmdlet.

[2016-11-30 20:35] markcowl commented on #3227
@singhkays Can you take a look?

[2016-11-30 20:36] markcowl commented on #3230
@ravbhatnagar can you take  a look?  @davidmatson If you like, feel free to contribute a fix.  I guarantee this is just a change in the resource file.

[2016-11-30 20:38] markcowl commented on #3232
@singhkays Please take a look.  Note that if you guys converted to the new platyPS tool for help, it would be easier for customers like @vladbarosan to contribute fix throught he cmdlet help markdown file.

[2016-11-30 23:19] jasper-schneider commented on #3226
@markcowl  What is the general guidance around this?
In this particular case, the AutoRest-generated proxy is throwing an exception with "Operation returned an invalid status code 'Conflict'" as the message.
https://github.com/Azure/azure-sdk-for-net/blob/AutoRest/src/ResourceManagement/Batch/Microsoft.Azure.Management.Batch/Generated/ApplicationOperations.cs#L859

We don't have any special handli

[2016-12-01 11:41] sharbag opened #3234 "Bug(?): Set-AzureRmSqlServerThreatDetectionPolicy storageEndpoint cannot be null or empty"
### Cmdlet(s)
storageEndpoint cannot be null or empty.

### PowerShell Version
5.0.10586.117

### Module Version
3.1.0

### OS Version
10.0.10586.117

### Description
Set-AzureRmSqlServerThreatDetectionPolicy not working. It fails with error: "The parameter storageEndpoint cannot be null or empty" and storageEndpoint-Parameter is not availiable.

### Debug Output
DEBUG: 12:38:32 - SetAzureSqlServe

[2016-12-01 13:48] sk1tt1sh opened #3235 "Custom cmdlet functions do not work on scheduled runbook"
### Cmdlet(s)

### PowerShell Version
Azure Automation Version

### Module Version
Custom uploaded module.

### OS Version
Azure Automation OS version

### Description
When uploading a custom module with a few utility cmdlets (such as database event logging for the script and an email sending helper) the asset module shows "Available" and shows all the functions within the module. If I create a ru

[2016-12-01 17:04] Fazered commented on #2873
Same issue and I'm trying to create a Web Application Firewall and that can't be done by JSON yet. Very frustrating.

[2016-12-01 17:20] markcowl opened #3236 "Update Shared assembly conflict checks to include revision number"
### Description

The Shared assembly conflict checks currently ensure that the major and minor versions of shared assemblies are identical.  Unfortunately, this can mean loading an assembly that does not contain a required bug fix, dependning on the module load order.  To fix this, the shared assembly conflict checks should include comparing the major, minor, and revision number of the AssemblyFil

[2016-12-01 17:42] vladbarosan commented on #3232
@markcowl , @singhkays I was also thinking if having the option in this case to specify `-ForceRerun` without using `-FileUri` (but using `-FileName` etc) makes sense. I don't know if there would be a situation where customers would want to have their access to the Storage Account expired after 24h if they specify `-ForceRerun`.

Maybe adding another optional parameter to the ParamterSet `SetCusto

[2016-12-01 17:46] markcowl opened #3237 "Consolidate on single Security.Cryptography assembly that is authenticode-signed"
### Description

We ship 3 different copies of the security.cryptography assembly, which is checked in as a binary in 3 different locations in our source.  Two of these versions are not authenticode signed.  Need to place a single version of this assmbly in a central library directory and have all 3 ARM service cmdlet projects use this reference.

- [ ] AzureBackup
- [ ] RecoveryServices
- [ ] Sit

[2016-12-01 18:14] SergeyRudakov commented on #661
Is there a way to deploy Azure Web Job using Resource Manger (RM) PowerShell?

[2016-12-02 01:58] Kandarp2516 commented on #1524
+1

[2016-12-02 09:41] MCKLMT opened #3244 "Get-AzureRMVM does not return all properties values"
### Cmdlet(s)

Get-AzureRMVM

### PowerShell Version

5.1.14393.479

### Module Version

Azure: 3.1.0
AzureRM.Compute: 2.3.0

### OS Version

10.0.14393.479

### Description

When I set explicitely the properties to show, the content of the properties is empty.

### Debug Output

#### Get-AzureRmVM -Status
[code]

#### Get-AzureRmVM -Status | select Name, OsType, VmSize

[code]

### Script/Steps f

[2016-12-02 16:40] i255d commented on #2278
@angeloedades  @ravbhatnagar
I thought my message made it pretty clear that I understand that "name" needs to be renamed, the questions is where?  I don't know what a ARM template is.  (Azure Resource Manager?)

I did get it to work.  First I changed it in the JSON Parameter file:

{
    "$schema": "https://schema.management.azure.com/schemas/2015-01-01/deploymentParameters.json#",
    "contentVer

[2016-12-02 18:45] jasper-schneider commented on #3131
@cormacpayne
Since my PR was merged, I'm closing this.  Feel free to reopen if you feel like there's still a problem.

[2016-12-02 18:45] #3131 closed

[2016-12-02 19:01] solankisamir commented on #3217
This is fixed for December 14 release of powershell client.

[2016-12-02 19:01] #3217 closed

[2016-12-02 19:08] solankisamir commented on #3204
@Pradebban which metrics are you interested in for ApiManagement service? We dont have integration with Insights in AzureChinaCloud. We can help you with another alternate cmdlet.

[2016-12-02 20:10] LukaszStem opened #3245 "webapp:Improving help documentation"
### PowerShell Version
5.1.14393.206

### Module Version
Websites - 2.3

### OS Version
10.0.14393.206

### Description
Documentation in \src\ResourceManager\Websites\Commands.Websites\help needs to be updated to have more examples and verbose parameter descriptions. As well as a description of the output value from the specified cmdlet.

[2016-12-02 20:17] LukaszStem commented on #3245
@ruslany @ahmedelnably @naveedaz @akurmi please help with this.

[2016-12-02 23:35] Technolink commented on #1524
+1

[2016-12-03 14:14] diahughes commented on #1524
Same here, works one minute then not the other.

[2016-12-04 16:43] wangzq commented on #3012
Is it possible to return the thumbprint as part of the returned credential object from Get-AzureRmAdAppCredential?

[2016-12-04 16:53] wangzq commented on #3012
I noticed the KeyCredential object does have a property "customKeyIdentifier": https://msdn.microsoft.com/en-us/library/azure/ad/graph/api/entity-and-complex-type-reference#keycredential-type

And searching shows this might be designed for this purpose, such as storing a base64 encoded thumbprint in this property: https://blogs.msdn.microsoft.com/mrochon/2016/05/09/azure-ad-client-certificate-roll

[2016-12-04 20:22] JKeithB opened #3248 "Broken Link in Readme.MD"
### Description

In the readme.md file at https://github.com/Azure/azure-powershell, under Installation.. PowerShell Gallery, you have a link to  Windows Management Framework 5 with PowerShellGet cmdlets that is not correct.
The maintained link for the Windows Management Framework is aka.ms/wmf5latest.
The location you are pointing to in the PowerShell Gallery is the old Getting Started documentat

[2016-12-05 08:19] shuagarw commented on #3012
@danieldobalian for FYI.
It seems fine to me. Interesting that graph documentation tells "customKeyIdentifier" is of type "Edm.Binary".

[2016-12-05 11:47] Devinsuit commented on #3248
Fixed in #3246

[2016-12-05 16:57] Pradebban commented on #3034
Contact the service ?

[2016-12-05 19:14] cormacpayne commented on #3248
Fix has been merged. Thanks!

[2016-12-05 19:14] #3248 closed

[2016-12-05 19:16] cormacpayne commented on #3244
@singhkays Hey Kay, would you mind taking a look at this issue?

[2016-12-05 19:19] cormacpayne commented on #3234
@yaakoviyun Hey Yaakov, would you mind taking a look at this issue?

[2016-12-05 20:04] singhkays commented on #3244
cc: @hyonholee

@MCKLMT We're using a custom table display format on the default output of the `Get-AzureRmVm` & `Get-AzureRmVm -Status` cmdlets for convenience and better user experience. The previous behavior was that the cmdlet returned all properties of all the VMs in your subscription. What this meant is you had a large number of VMs (100/1000+) you'd see them all in a list format leading to

[2016-12-05 22:29] #3209 closed

[2016-12-05 22:33] markcowl commented on #3146
Fixed

[2016-12-05 22:33] #3146 closed

[2016-12-06 08:52] #3244 closed

[2016-12-06 08:53] MCKLMT commented on #3244
If could be helpful to explain that in the cmdlet documentation.
Thanks

[2016-12-06 15:18] crshnbrn66 opened #3253 "Azure Alert - referenced object - (Properties.condition.datasource)"
### Cmdlet(s)
Set-AzureRmContext, get-AzureRmResource, get-azurermalertrule
### PowerShell Version
Instructions: to get PowerShell version, type `$PSVersionTable` and look for the value associated with `PSVersion`
5.0.10586.494
### Module Version
Microsoft.Azure.Commands.Insights 3.2.0
### OS Version
Instructions: to get OS version, type `$PSversionTable` and look for value associated with `BuildV

[2016-12-06 17:25] singhkays commented on #3244
@MCKLMT Sure, will add to the docs

[2016-12-06 17:51] cormacpayne commented on #3253
@gucalder Hey Guillermo, would you mind taking a look at this issue?

[2016-12-06 18:59] shadewlkr commented on #1812
Also on version 3.2.0 for AzureRm and receiving this issue....

[2016-12-06 19:49] shadewlkr commented on #2873
@markjbrown were you able to ever resolve the same issues you were having around this?

[2016-12-06 21:01] cormacpayne commented on #3004
Fixed in PR https://github.com/Azure/azure-powershell/pull/3089

[2016-12-06 21:01] #3004 closed

[2016-12-06 21:49] cormacpayne commented on #3121
Fix is in https://github.com/Azure/azure-powershell/pull/3255

[2016-12-06 22:59] #3121 closed

[2016-12-07 07:54] shahabhijeet commented on #3205
@blueww as we have discussed last week, the fix has to be in for Get-AzureStorageContainer as the tasks are being awaited incorrectly under DispatcherSynchronizationContext.
This hang is not in the common code for Azure PowerShell.

[2016-12-07 08:04] blueww commented on #3205
Already have a local fix and it works in the testing.
Will update the thread when I get fix released.

[2016-12-07 17:52] markcowl opened #3260 "Update ClientRuntime to latest"
Version 2.3.3 is required for RecoveryServices.Backup.  Ensure that this change is propagated to all libraries (update to 2.3.4)

[2016-12-08 01:19] bganapa opened #3264 "Add-AzureRmEnvironment should be able to handle the Uri not ending with '\' for the parameter ActiveDirectoryEndpoint"
### Cmdlet(s)
Add-AzureRmEnvironment

### Version
1.2.6 (azurestack)

### Module Version
1.0.4.1

### Description

If the parameter value for ActiveDirectoryEndpoint doesn't end with '\' , then the subsequent Add-AzureRMAccount fails with

VERBOSE: @{PSMessageDetails=; Exception=Microsoft.Azure.Commands.Common.Authentication.AadAuthenticationFailedException: : The remote server returned an error:

[2016-12-08 08:18] yaakoviyun commented on #3234
Hi,
We've changed the required parameters for Threat Detection and as of next Powershell release there will be new storage parameter to use.

You'll need to use the new December installation that will be in: https://github.com/Azure/azure-powershell/releases/

[2016-12-08 08:18] #3234 closed

[2016-12-08 09:19] inghak commented on #1812
Same problem. Azure.Rm.Network 3.2.0.

[2016-12-08 09:41] inghak opened #3266 "Get-AzureRmApplicationGateway : Missing type map configuration or unsupported mapping."
### Cmdlet(s)
Get-AzureRmApplicationGateway
### PowerShell Version
PSVersion                      5.1.14393.206
### Module Version
Script     3.2.0      AzureRM.Network
### OS Version
OS: 10.0.14393.206 Windows
### Description
Executing: Get-AzureRmApplicationGateway
Error occurs with or without initial parameters. I.e:

Get-AzureRmApplicationGateway
Get-AzureRmApplicationGateway -Name NameOfAag -

[2016-12-08 10:22] NimishaS opened #3267 "Set-AzureVMChefExtension fails for azure-powershell v3.1.0"
### Cmdlet(s)
[code]

### PowerShell Version
4.0

### OS Version
6.3.9600.16406

### Description
https://github.com/chef-partners/azure-chef-extension/issues/179

### Script/Steps for Reproduction
[code]

[2016-12-08 10:36] NimishaS commented on #3267
@markcowl , @shahabhijeet, I tested with `azure-powershell` v1.x and 3.1.0 and I could reproduce this issue. But the command is working successfully with `azure-powershell` master branch.
I think the changes of this PR: https://github.com/Azure/azure-powershell/pull/3083 need to be released.
@Vasu1105 had made changes to pass `PublicConfiguration` as HashTable. Previously it was being passed as St

[2016-12-08 11:27] stefanstranger commented on #3172
I have get the same error but when I use Invoke-Restmethod I just get the correct output returned.

`
$SubscriptionURI = "https://management.azure.com/subscriptions/$SubscriptionID/resourceGroups/stsomsrg/providers/Microsoft.OperationalInsights/workspaces/$omsworkspace/savedSearches/7ebe4b31-3604-40c0-932f-053392005464/schedules" +'?api-version=2015-11-01-preview'

$params = @{
    ContentType = '

[2016-12-08 18:43] rkmanda opened #3268 "Add missing tests for IoT Hub Commandlets. Import / Export and Job related commandlets require SAS Uris to be generated on the fly. Remove hardcoded location in tests. Cleanup any duplicated scripts"
### Cmdlet(s)

### PowerShell Version
Instructions: to get PowerShell version, type `$PSVersionTable` and look for the value associated with `PSVersion`

### Module Version

### OS Version
Instructions: to get OS version, type `$PSversionTable` and look for value associated with `BuildVersion`

### Description

### Debug Output
Instructions: to get Debug Output, set `$DebugPreference="Continue"` a

[2016-12-08 21:02] jrochet opened #3270 "No WhatIf support in any of the AzureAD module cmdlets"
### Cmdlet(s)
Set-MSOL*
Set-AzureAD*

### PowerShell Version
5.0.10240.17146

### Module Version
1.1.166.0  MSOnline
2.0.0.33   AzureAD

### OS Version
10.0.10011.16384

### Description
None of the Set-* cmdlets in these modules support -WhatIf (i.e. shouldprocess).

### Debug Output
Instructions: to get Debug Output, set `$DebugPreference="Continue"` and then execute the cmdlet or script causing

[2016-12-08 22:56] markjbrown commented on #1551
Talked with Deepak on our team here. The problem is the child objects are updated with a PUT not a PATCH. So you need the entire child object in order to update in PS.

We are going to look at this again and potentially change how we do child objects but I cannot commit anything now.

[2016-12-08 22:59] markjbrown commented on #1812
I will forward this onto our Gateway PM to review.

[2016-12-08 23:56] bganapa commented on #3175
@markcowl This is in AzureStackStorageAdmin Module

[2016-12-08 23:59] bganapa opened #3273 "Get-AzureRmResource does not take empty ResourceName parameter to list all resources of a ResourceType"
### Cmdlet(s)
Get-AzureRmResource
### PowerShell Version
1.2.6(Azurestack)

### Description
I am in need of tricking the cmdlet by passing simply "/" to get the list of all resources. Following is an example

 Get-AzureRmResource -ResourceType "Microsoft.Storage/skus" -ResourceName "/"

### Script/Steps for Reproduction
 Get-AzureRmResource -ResourceType "Microsoft.Storage/skus" -ResourceName "/"

[2016-12-09 02:27] mikepasco commented on #2386
@markcowl  @deepakrajendranmsft Where does this stand? It would be great if I could pass in the NIC resource ID from something like ($vm.NetworkProfile.NetworkInterfaces | ?{$_.Primary -eq $true}).Id

[2016-12-10 01:20] shahabhijeet opened #3277 "Discover and document RDFE automation support in PowerShell in BlackForest"
Get-AzurePublishSettingsFile

Repro:
Add-AzureAccount -Environment AzureGermanCloud
Get-AzurePublishSettingsFile -Environment AzureGermanCloud

Redirects to: https://manage.microsoftazure.de/publishsettings/index
This endpoint is non-existent.

Proposed Fix:
1) Can we redirect to the new portal and download the publishsettings file
or
1) Shall we give a new error message saying, this is no longer

[2016-12-12 07:25] NimishaS commented on #3267
@markcowl , @shahabhijeet, any updates on this?

[2016-12-12 14:54] minhio commented on #2916
use the -AllowClobber parameter

`Install-Module AzureRM -AllowClobber`

[2016-12-13 14:48] lordldx commented on #1238
Is there any feedback on this yet? I'm having the exact same issue today

[2016-12-14 08:21] keeshuizer commented on #3205
Has the fix already been released? Or is there an ETA when this will happen?

I seem to be running in the same problem with the new-azurestoragecontainer command, and don't know how to proceed with my script :-(

Is there perhaps some kind of workaround?

[2016-12-14 08:59] adarce opened #3282 "Validate-ServiceMarkdownHelp incorrectly reports "No description found for parameter" when parsing lines with curly braces."
I'm from the Azure Key Vault team, and I recently tried to use platyPS for our help files, [as described here](https://github.com/Azure/azure-powershell/blob/6c44dcd74cb69b536113ed04bca00dd84e9bac6a/documentation/platyPSHelp-documentation.md#running-the-validate-servicemarkdownhelp-cmdlet). After generating some Markdown help files and running the `Validate-ServiceMarkdownHelp` cmdlet, there seems

[2016-12-14 09:02] blueww commented on #3205
I plan to add the fix in the next release.
Besides Get-AzureStorageContainer, which else cmdlets will you called from event?
We would like to better understand your scenario to give better support.

[2016-12-14 09:16] keeshuizer commented on #3205
Up to now I found it happens with the following cmdlets:
New-AzureStorageContainer
Get-AzureStorageBlob
Start-AzureStorageBlobCopy

I call these cmdlets from an event (input of new container name in the gui), and want create a new container and copy blobs to that new container

[2016-12-14 09:20] 176coding opened #3283 "Get-AzureKeyVaultSecret: Index was out of range"
### Cmdlet(s)
Get-AzureKeyVaultSecret
### PowerShell Version
Instructions: to get PowerShell version, type `$PSVersionTable` and look for the value associated with `PSVersion`
5.0.10586.117
### Module Version
Microsoft Azure Powershell Version: 1.3.2
### OS Version
Instructions: to get OS version, type `$PSversionTable` and look for value associated with `BuildVersion`
10.0.10586.117
### Descripti

[2016-12-14 13:58] towerbe opened #3284 "Set-AzureRmRoleDefinition Documentation is incorrect"
### Cmdlet(s)
Set-AzureRmRoleDefinition
### PowerShell Version
5.0.10586.117

### Module Version
AzureRM.Resources Version 3.3.0

### OS Version
Instructions: to get OS version, type `$PSversionTable` and look for value associated with `BuildVersion`
10.0.10586.117

### Description
The first example in the documentation uses the command "NEW-AzureRMRoleDefinition", not SET-AzureRMRoleDefinition.

[2016-12-14 17:20] cormacpayne commented on #3282
@adarce Hey Adriano, thanks for reporting this issue. That wildcard was included after I found the resulting description generated for some parameters matched something similar to an empty hashtable. I will see if this has been fixed by the platyPS team and will take a look at it as soon as I can!

[2016-12-14 19:56] cormacpayne opened #3287 "Show inner exception when error is thrown in Azure PowerShell"
From @begoldsm

Is there a plan for Azure PowerShell to surface "inner exceptions" in a more prominent way when an error is thrown?

For example, if a user tries to call DataLake commands with a bad DNS, the following is thrown by Azure PowerShell:

[code]

This top line error message is vague,

[code]

But if you look at the inner exception, the error becomes clear

[code]

[2016-12-14 20:38] jkapil opened #3288 "Azure Key Vault Validation Tests (3) are Failing. All are Certificate related."
### Cmdlet(s)
Key Vault Certificate related data plane

### PowerShell Version
PSVersion                      5.1.14393.206
PSEdition                      Desktop
PSCompatibleVersions           {1.0, 2.0, 3.0, 4.0...}
BuildVersion                   10.0.14393.206
CLRVersion                     4.0.30319.42000
WSManStackVersion              3.0
PSRemotingProtocolVersion      2.3
SerializationVersio

[2016-12-15 10:43] blueww commented on #3205
I will try to fix all the cmdlets that will hang in next release (Jan)
thanks!

[2016-12-15 19:20] richrundmsft commented on #3172
We can confirm that this is a bug in the Operational Insights resource provider.

We’ll be making a fix in the resource provider to remove this bug. After we make the fix the document returned in response to making a call to /schedules will change to comply with Azure Resource Manager requirements.

Example call

[code]

Current behavior:

[code]

Behavior with bug fixed (array is returned in a pr

[2016-12-15 21:17] cormacpayne commented on #3282
Fix for this issue is in PR https://github.com/Azure/azure-powershell/pull/3296

[2016-12-16 00:42] marceldempers opened #3297 "New-AzureRmContainerServiceConfig - No "OrchestratorType" enum for Kubernetes ?"
### Cmdlet(s)
New-AzureRmContainerServiceConfig

### PowerShell Version
Name                           Value
----                           -----
PSVersion                      5.0.10240.16384
WSManStackVersion              3.0
SerializationVersion           1.1.0.1
CLRVersion                     4.0.30319.42000
BuildVersion                   10.0.10240.16384
PSCompatibleVersions           {1.0, 2

[2016-12-16 10:37] ward0 commented on #1665
Is there any update about this problem ? Thank you Ward

[2016-12-16 14:44] carlocardella commented on #2198
I was able to repro, now looks like it's working fine with AzureRM.Profile version 2.3.0

[2016-12-16 17:04] singhkays commented on #1384
We've released these improvements in PS release 3.3.0. Now Get-AzureRmVm has a compact display. Marking this as closed.

[code]

https://github.com/Azure/azure-powershell/releases/tag/v3.3.0-December2016

[2016-12-16 17:04] #1384 closed

[2016-12-16 18:54] viananth opened #3300 "Add functionality to remove old modules when machine is updated to a new profile"
_From @viananth on November 29, 2016 21:45_

When user updates machine with a newer profile (eg. 'latest'), old versions of modules in that profile must be removed.
**"Update-AzureRmProfile -Profile 'Latest' [-Confirm] [-Force] [-RemovePreviousVersions]"**   will install latest modules and uninstall old modules.
-Confirm will ask user if it can download and install required modules.
-Force will ov

[2016-12-16 18:57] viananth opened #3301 "Design experience for installing cmdlets as CurrentUser"
_From @markcowl on November 22, 2016 21:25_

### Description

Need to decide what the experience should be for installing as CurrentUser and how this mixes with installing for the machine scope.

We need to avoid conflicts between machine-scope cmdlets and current user scope cmdlets.

We could
- Always install as CurrentUser
- Always install in the machien scope
- Allow users to choose, but enforc

[2016-12-16 18:59] viananth opened #3302 "Update README.md to reflect the alpha release and tag those elements that will not be supported in alpha"
_From @markcowl on November 22, 2016 21:48_

### Description

Make sure the alpha cmdlets are completely described in this document, and any features outside of alpha are clearly marked as such.

_Copied from original issue: markcowl/azure-powershell#24_

[2016-12-16 19:02] viananth opened #3303 "Investigate how to determine ProfileMap cache directory in PowerShell Core"
_From @markcowl on November 15, 2016 1:42_

### Description

PowerShellCore will not have an environment variable to determine the AppData directory.  Need to determine where we can save application data in PowerShell Core.
- [x] Provide a cmdlet to override the default location for profile data
- [x] Check powershell core code and ask powershell team about which default directories we can use.  W

[2016-12-16 19:04] viananth opened #3304 "Automatically update profile map in Install-AzureRmProfile"
_From @markcowl on November 15, 2016 1:33_

### Description
- [ ] Automaticlaly update profile map in Install-AzureRmProfile

_Copied from original issue: markcowl/azure-powershell#21_

[2016-12-16 19:07] viananth opened #3305 "Determine Profile based on azure instance capabilities"
_From @markcowl on November 15, 2016 1:29_

### Description
- [ ] Augment Profile Map to show API-Versions in each profile
- [ ] Write *authenticated* cmdlet to get Provider version information from ARM
- [ ] Correlate provider versions to augmented profile map to determine highest profile satisfied
- [ ] Return highest profile version

### Cost: 4

_Copied from original issue: markcowl/azure-powe

[2016-12-16 19:08] viananth opened #3306 "Update help and documentation, including conceptual help topics"
_From @markcowl on November 15, 2016 1:26_

### Decsription
- [ ] Go through cmdlet help and add examples
- [ ] Create help topic for concept of profiles and how they can be used.

_Copied from original issue: markcowl/azure-powershell#19_

[2016-12-16 19:08] richrundmsft commented on #3172
We deployed the fix last night and verified that Get-AzureRmResource now returns the correct results.

Since this was a change in the resource provider, and not to the PowerShell, it is not necessary to update the Azure PowerShell modules to get this fix.

[2016-12-16 19:09] viananth opened #3307 "Automate Module tagging"
### Description
- [ ] Add a metadata tag ```RP:api-version``` to each module
- [ ] Automate retrieval of api-version from client-side code [ApiVersion property] and update of tag in psd1 as part of release preparation scripts
- [ ] Move profile map into preview branch, Automate update of api version map here: https://github.com/Azure/azure-powershell/blob/stack-dev/tools/AzureRM.BootStrapper/Profi

[2016-12-16 19:10] viananth opened #3308 "Allow setting Default Profile through PowerShell default parameters"
_From @markcowl on November 14, 2016 22:57_

### Description

- [x] Design a mechanism usin the DefaultParameters feature with profiles to set up a default profile version
- [x] Design cmdlets for settign and removing these defautl aprameter values

### Cost: 4

_Copied from original issue: markcowl/azure-powershell#13_

[2016-12-16 19:11] viananth opened #3309 "Use PowerShell Sessions to load cmdlet versions in the same powershell process"
_From @markcowl on November 14, 2016 22:53_

### Description

- [ ] Implement session management to allow loading cmdlets from a profile, replacing the cmdlets in the current session
- [ ] Allow setting a prefix so that cmdlets can be used in the same session

### Cost: 4

_Copied from original issue: markcowl/azure-powershell#12_

[2016-12-16 19:13] viananth opened #3310 "Generate profile metadata to include all relevant modules, and the latest versions"
_From @markcowl on November 14, 2016 22:45_

### Description

- [x] Add static profile metadata fopr the latest packages
- [ ] Create a cmdlet to generate profile metadata map from the gallery (latest should come from latest package version, Other profiles should come from tags.

### Cost: 4

_Copied from original issue: markcowl/azure-powershell#9_

[2016-12-16 19:25] viananth opened #3311 "Get-AzureRmResourceProvider : To scope based on Profiles"
For facilitating dynamic profile discovery based on Azure instance, Get-AzureRmResourceProvider cmdlet should scope based on powershell bootstrapper profiles.

[2016-12-16 22:19] adarce commented on #3288
The fix for this issue is in PR #3298

[2016-12-17 00:58] shahabhijeet opened #3315 "Unable to Build AzureStack branch on CI machines"
AzureStackDev branch is broken and cannot be build.

Reason:
Currently we do not have the feeds setup to restore pacakges from nugget (so far it was working on Signing machines due to local caches)
We also have not setup restore directories, so even if restore is successfully failing to provide a common directory will end up failing the compile process.
Another key difference in azure stack is the

[2016-12-17 01:02] shahabhijeet opened #3316 "Fail to publish azure stack nugets to Test Gallery"
Signed nugets cannot be published on Test Gallery

Reason:
1) We do bunch of post processing once the nugets are created (e.g. updating dependent modules, removing * from cmdlets to export. Also add underlying .psm1 file to the module manifest etc etc.
2) In doing so we fail to re-package nuget once we make all this changes
3) Also TestGallery is v2 based and PS gallery is v3 based, hence you need

[2016-12-17 08:10] xstof commented on #2336
+1 but also would prefer powershell command line parameters, not just TemplateParameterObject

[2016-12-17 13:01] 4c74356b41 commented on #3088
came across this bug, I guess no real solution?

[2016-12-18 09:07] kfrajtak opened #3318 "New-AzureRmResourceGroupDeployment with KeyVault reference in TemplateParameterObject"
Hi,

I have an Azure deployment template that creates a VM and joins it to a domain. The password (`domainJoinUserPassword`) of the user that has the rights to add a machine to a domain is stored in a key vault. The deployment works perfectly fine when parameters are defined in a JSON file (the key vault reference included). `New-AzureRmResourceGroupDeployment` commandlet is invoked with `Template

[2016-12-19 17:44] richrundmsft commented on #3172
I'm closing this issue since we've released a fix.

[2016-12-19 17:44] #3172 closed

[2016-12-20 09:48] keeshuizer commented on #3205
After continuing with my script I seem to have run in the same (kind of) problem as with the cmdlets mentioned earlier.

This time I created a function that just powers on a VM:

Function StartTestenv {
     Start-AzureRmVM -ResourceGroupName $RG -Name $VM
    }

this function is started when pressing a button in my gui, the starting of the VM is being done as I can see it being started in the Azu

[2016-12-20 10:14] blueww commented on #3205
@hyonholee, Would you please help to look at the hang in Start-AzureRmVM.
I have a PR to fix the hang in storage cmdlets : https://github.com/Azure/azure-powershell/pull/3299

[2016-12-20 12:48] ward0 opened #3319 "When sending Update-AzureRmVM the RM is not updated in the Information panel"
### Cmdlet(s)

### PowerShell Version

Instructions: to get PowerShell version, type `$PSVersionTable` and look for the value associated with `

[code]

### Module Version

### OS Version
10.0.14393.576

### Description

### Debug Output
The script works.

[code]

### Script/Steps for Reproduction

Just add a disk with Add-AzureRmVMDataDisk and update it then.

In the VM you will see the newly cre

[2016-12-21 08:52] ward0 commented on #2276
Any update on this one pls? I'm trying to find a way how many data disks i have assigned vs max assigned in RM mode..

[2016-12-21 17:35] singhkays commented on #2276
@ward0 Are you trying to find out how many data disks you've assigned to your VM?

That can be done using below

[code]

[2016-12-21 17:35] cormacpayne commented on #3282
The fix has been merged.

[2016-12-21 17:35] #3282 closed

[2016-12-21 18:52] 1scscott commented on #1494
Is there a way to update an existing NSG with new rules in .JSON format?

[2016-12-21 20:22] iamrobdavies commented on #2657
Same error is raised when a Key Vault secret in a params file, is not present in the Key Vault.  Would be better to have a detailed message.

[2016-12-22 13:24] tarentula commented on #2354
The example is not accurate as the name of the container contains some upper case letters.

[2016-12-22 15:47] ward0 commented on #2276
@singhkays Nope.

I want to know the difference between a OS disk and a data disk.
I do this for now(not fail proof):

$VmStatus = Get-AzurermVM -Name $vm.Name -ResourceGroupName $vm.ResourceGroupName -Status

$CurrentDisks = $vmstatus.Disks.count -1

We will only use this script on 'clean' Azure VM's where there are no datadisks yet created. So i can "safely" do a -1.

If i would be able to use g

[2016-12-22 17:00] singhkays commented on #2276
@ward0 Why are you looking at the VM Instance view (with -Status switch) instead of the model view? The model view will clearly tell you how many data disks are attached to the VM and their LUNs

[2016-12-23 08:22] ward0 commented on #2276
@singhkays : Your correct.

I can ask like this:

$VmStatus = Get-AzurermVM -Name $vm.Name -ResourceGroupName $vm.ResourceGroupName
$vmstatus.StorageProfile.DataDisks

I'l change my script :)

[2016-12-23 15:18] FranckSix commented on #2085
The Set-AzureRmAutomationModule command appears to accept the local path, but the resource must exist under Azure. A workaround would be to create the empty module and then update it. Except that the uri of the New-AzureRmAutomationModule command is mandatory. It's like the chicken and the egg!

[2016-12-26 15:06] mkarpuk commented on #1896
Can anyone suggest an idea how to achieve this ('give your SP the appropriate rights in the directory')?

I want to write a powershell runbook which automates Azure AD application creation. Right now I can't do it with service principal due to the same error (Access denied to the specified API version).

Should I edit manifest, execute some Powershell command, ... ?

Thanks in advance

[2016-12-27 08:45] lex88w opened #3325 "Get-AzureRmIotHub could not convert string'routes' to dictionary key"
### Cmdlet(s)
Get-AzureRmIotHub

### PowerShell Version

     5.0.10586.117

### Module Version

### OS Version
Instructions: to get OS version, type `$PSversionTable` and look for value associated with `BuildVersion`
BuildVersion                   10.0.10586.117
### Description
I cannot get any information about IoTHub when I running Get-AzureRmIotHub command :(
### Debug Output

Get-AzureRmIotHu

[2016-12-27 16:14] BearCloudIT commented on #3205
Hey do you have an exact ETA for delivering this fix? This bug is hindering my work. Is there a workaround until you get the fix released?

[2016-12-27 17:38] Jaykul opened #3326 "Should move code out of module profile/startup scripts"
All of [them](https://github.com/Azure/azure-powershell/search?utf8=%E2%9C%93&q=OnImport+ps1+Invoke&type=Code).

For example, the AzureRM.Profile module implements [IModuleAssemblyInitializer](https://msdn.microsoft.com/en-us/library/system.management.automation.imoduleassemblyinitializer) in [such a way](https://github.com/Azure/azure-powershell/blob/7ccdbeef0a05c270ec20d73bd82375c13ac2505b/src/R

[2016-12-28 02:48] blueww commented on #3205
The fix is still pending in PR https://github.com/Azure/azure-powershell/pull/3299.
Since per @twitchax : Azure PowerShell is not thread-safe, and we should wait for a proper time to address concurrency in Azure PowerShell as a whole.
@twitchax suggest building a custom MSI of Azure PowerShell 3.2.0 which addresses the issue. ( The build is not supported, since it was ad hoc for you, and there was

[2016-12-28 04:25] zhulangfly commented on #3325
I also have this error!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!

[2016-12-28 04:38] keeshuizer commented on #3205
For me this would be acceptable, this way I can continue with building my script/GUI.

[2016-12-28 05:01] Chandru10 opened #3329 "Mismatch of text format between location result of components, will be good if maintained same all over"
### Cmdlet(s)
For Get-AzureRmSqlServer
**Location                 : Southeast Asia**
For Get-AzureRmVM
**Location                          : southeastasia**

### PowerShell Version
Name                           Value
----                           -----
PSVersion                      3.0
WSManStackVersion              3.0
SerializationVersion           1.1.0.1
CLRVersion                     4.0.3

[2016-12-28 09:34] nyanhp opened #3330 "Get-AzureRmVirtualNetwork piping issues"
### Cmdlet(s)
Get-AzureRmVirtualNetwork

### PowerShell Version
5.1.14393.576

### Module Version
3.3.0

### OS Version
10.0.14393.576

### Description
Piping Get-AzureRmVirtualNetwork to Select-Object leads to a PipelineStoppedException, leading scripts that filter existing ARM virtual networks and select a subset of those to fail. It does not matter if you have one or more ARM virtual networks -

[2016-12-28 11:33] andyjballgit opened #3331 "Get-AzureRmSiteRecoveryFabric and related cmdlets fail with Object reference not set to an instance of an object"
### Cmdlet(s)
Get-AzureRmSiteRecoveryFabric
Get-AzureRmSiteRecoveryJob
Get-AzureRmSiteRecoveryNetwork
Get-AzureRmSiteRecoveryNetworkMapping
Get-AzureRmSiteRecoveryPolicy
get-AzureRMSiteRecoveryVault

### PowerShell Version
Instructions: to get PowerShell version, type `$PSVersionTable` and look for the value associated with `PSVersion`
5.1.14986.1000
### Module Version
3.3.0
### OS Version
10.0.14

[2016-12-28 18:04] cormacpayne commented on #3325
@rkmanda Hey Roopesh, would you mind taking a look at this issue?

[2016-12-28 19:09] cormacpayne commented on #3330
@nyanhp thanks for the comment! I just tried the same steps above with `Get-AzureRmSubscription` and got the same error was you. However, I did find if you changed

[code]

to

[code]

it didn't throw the error (even though both commands above will return the desired object).

This is something that we will need to investigate.

[2016-12-28 19:13] cormacpayne commented on #3331
@sriramvu Hey Sriram, would you mind taking a look at this issue?

[2016-12-28 19:15] cormacpayne commented on #3319
@singhkays Hey Kay, would you mind taking a look at this issue?

[2016-12-28 19:18] cormacpayne commented on #3318
@ravbhatnagar Hey Gaurav, would you mind taking a look at this issue?

[2016-12-28 19:21] cormacpayne commented on #3297
@singhkays Hey Kay, would you mind taking a look at this issue?

[2016-12-28 19:23] cormacpayne commented on #3284
@ravbhatnagar Hey Gaurav, would you mind taking a look at this issue?

[2016-12-28 19:25] cormacpayne commented on #3283
@pomortaz Hey Pooneh, would you mind taking a look at this issue?

[2016-12-28 19:31] cormacpayne commented on #3270
@jrochet Hey Jeremy, I'm going to close this issue since our team does not own these cmdlets, and your question has been addressed [here](https://docs.microsoft.com/en-us/powershell/msonline/v1/azureactivedirectory) by the appropriate team. Thanks!

[2016-12-28 19:31] #3270 closed

[2016-12-28 19:35] cormacpayne commented on #3267
@NimishaS it looks like PR https://github.com/Azure/azure-powershell/pull/3083 was merged earlier this month, so it should be available in PowerShell 3.3.0

[2016-12-28 19:37] cormacpayne commented on #3266
@DeepakRajendranMsft Hey Deepak, would you mind taking a look at this issue?

[2016-12-28 19:59] jrochet commented on #2873
Same issue here with New-AzureRmVirtualNetworkGatewayConnection:
PS C:\Users\jbrad> New-AzureRmVirtualNetworkGatewayConnection -Name 'JBLAB-S2S' -ResourceGroupName 'JBLAB-RG' -Location CanadaEast -VirtualNetworkGate
way1 $VNetGW -LocalNetworkGateway2 $LocalGW -ConnectionType 'IPSec' -RoutingWeight 10 -SharedKey 'abc123'
WARNING: The output object type of this cmdlet will be modified in a future re

[2016-12-28 22:54] twitchax commented on #3205
Thanks @blueww!

@keeshuizer, as @blueww mentioned, we understand that thread-safety is a concern, but we would prefer to do it right and make all of Azure PowerShell thread-safe.  Can you email me at aaroney@microsoft.com?  I can get an ad hoc build for you to address your issue in the meantime.

The ad hoc fix can be found here, if you're interested: https://github.com/twitchax/azure-powershell/

[2016-12-29 07:34] nyanhp commented on #3330
@cormacpayne  Thanks, that is a viable workaround, as would be (Get-AzureRmVirtualNetwork)[0], which also works. To me it looks like Select-Object stops the pipeline successfully, but the Azure cmdlet is not able to stop the task which gets a response - but I am not an experienced developer.

[2016-12-29 07:37] NimishaS commented on #3267
Thanks @cormacpayne. The command is working fine now.

[2016-12-29 07:37] #3267 closed

[2016-12-29 09:47] sriramvu commented on #3331
Thanks Andy.
Will make the change and try pushing earlier.
Here, we are not checking for valid vault context and trying out to reach service.

[2016-12-29 14:05] crshnbrn66 commented on #3253
Any Feedback?

[2016-12-29 18:58] cormacpayne opened #3333 "Breaking change tool refactor"
From PR https://github.com/Azure/azure-powershell/pull/3207

- [x] [Use ParameterSets.FirstOrDefault(...)](https://github.com/Azure/azure-powershell/pull/3207/files/23e4fb441699e5bccc7d59c29d04758a9de801ee#diff-8bab777cc05bcebe15f1880208e88a24R115)
- [x] [Add ValidateRange rule](https://github.com/Azure/azure-powershell/pull/3207/files/23e4fb441699e5bccc7d59c29d04758a9de801ee#diff-dc9cad50a558816f

[2016-12-30 07:48] luuksommers commented on #1283
Nope, still having the issue:
Resources with identifiers 'Microsoft.Web/certificates/9C770CA30C80A0CA70C6DAC0AC74F619EF6EE61E' were not found. The tracking Id is '0dbc6be8-99f8-45de-a675-c50954f7d01d'. (Code: ResourceNotFound)

[2016-12-30 10:08] blueww opened #3334 "Azure PowerShell is not thread safe"
This issue is open to track the overall Azure PowerShell is not thread safe.

Cmdlet(s)
All cmdlets that contains Async request, but not use “ConfigureAwait(false)” , e,g,
Get-AzureStorageContainer (covered in https://github.com/Azure/azure-powershell/issues/3205)

The following cmdlets are also mentioned in https://github.com/Azure/azure-powershell/issues/3205.

New-AzureStorageContainer
 Get-Azu

[2016-12-30 10:33] blueww opened #3335 "Some PowerShell cmdlets hang when logon with service principle run them in event"
### Cmdlet(s)
Include but not limited to:
1.	Get-AzureRmStorageAccount
2.	Get-AzureRmResourceGroup
3.	Get-AzureRmWebApp
4. 	Get-AzureRmVM

### PowerShell Version
    5.1.14393.576

### Module Version
Azure PowerShell 3.2

### OS Version
 10.0.14393.576

### Description
Many cmdlets will hang when log on (Login-AzureRmAccount) with Service principle credential and run them in event (log on with dom

[2016-12-30 11:15] twitchax commented on #3334
Closing in favor of #2935.

[2016-12-30 11:15] #3334 closed

[2016-12-30 17:58] cdituri opened #3336 "AzureRm.Resources: ARM Policy Commands should expose a -Parameters parameter"
### Cmdlet(s)

Get-AzureRmPolicyAssignment
Get-AzureRmPolicyDefinition
New-AzureRmPolicyAssignment
New-AzureRmPolicyDefinition
Remove-AzureRmPolicyAssignment
Remove-AzureRmPolicyDefinition
Set-AzureRmPolicyAssignment
Set-AzureRmPolicyDefinition

### Module Version

Lastest

### Description

Per AzureRm.Resources Policy API version [2016-12-01](https://github.com/Azure/azure-rest-api-specs/blob/mas

[2016-12-30 18:08] cdituri commented on #3336
Looks like the [PolicyDefinitionProperties](https://github.com/Azure/azure-powershell/blob/dev/src/ResourceManager/Resources/Commands.ResourceManager/Cmdlets/Entities/Policy/PolicyDefinitionProperties.cs#L23) class needs to be extended as well in order to support this feature request.

[2016-12-31 03:36] rkmanda commented on #3325
This issue was fixed with  hotfix @ https://www.powershellgallery.com/packages/AzureRM.IotHub/1.0.1

[2017-01-01 06:49] Pradebban opened #3337 "[AzureChina] Move-AzureRmResource does not work for Microsoft.ServiceBus Provider"
### Cmdlet(s)
Move-AzureRmResource

### PowerShell Version
5.0.10586.117

### Module Version

### OS Version
10.0.10586.117

### Description

Move-AzureRmResource does not work for moving ServiceBus Resource - Failure terms - ResourceGroup unavailable.

PS C:\Windows\system32> Move-AzureRmResource -DestinationResourceGroupName hidden -DestinationSubscriptionId hidden -ResourceId /subscriptions/hid

[2017-01-01 14:51] takekazuomi opened #3339 "Get-AzureRmServiceBusNamespace always return empty ResourceGroupName."
### Cmdlet(s)
Get-AzureRmServiceBusNamespace

### PowerShell Version
 5.1.14393.576

### Module Version
3.3.0

### OS Version
10.0.14393.576

### Description
Get-AzureRmServiceBusNamespace  cmdlet  always return empty ResourceGroupName.

List By Subscription and List By Resource Group REST API dosn't have  ResourceGroupName property.
https://docs.microsoft.com/en-us/rest/api/servicebus/namespaces#

[2017-01-02 04:54] #2646 closed

[2017-01-02 10:23] #1337 closed

[2017-01-02 10:25] #1358 closed

[2017-01-02 10:56] pragrawa commented on #2252
@slavizh , this command is working fine. If you  are still facing this issue, please share debug logs.

[2017-01-02 11:00] #2252 closed

[2017-01-02 11:12] pragrawa commented on #2251
@slavizh ,In the upcoming powershell release, we are deprecating Name parameter and adding FriendlyName parameter. So this will avoid confusion. Also, FriendlyName will be case sensitive due to backend limitation. We will update the doc for this commandlet.

[2017-01-02 12:36] keeshuizer commented on #3205
@twitchax Did you get my email? For some reason I had some issues with sending email at that time..

[2017-01-02 14:52] ward0 commented on #1948
Still working on it it seems...

[2017-01-02 16:13] markjbrown commented on #1948
We recently updated our docs for many of our cmdlets but we still need to add examples in many places.

Myself and @DeepakRajendranMsft will work to get these updated as well.

Thanks for your continued patience.

[2017-01-02 17:57] markjbrown commented on #2873
Let me get with our team and take another look at this. Will update here.

thanks.

[2017-01-02 18:13] markjbrown commented on #1812
Resent this to the dev team to take a look at. Apologies for the slow response. Holidays slow things down a bit.

Rather than reopen this one you can track this from here, #2873

Thanks.

[2017-01-02 19:59] inghak commented on #2873
I have had this problem for a long time. I resolved it by removing AzureRm installed with powershell and instead installed using the msi.

[2017-01-02 20:02] inghak commented on #1812
Hi.
This problem disappeared when installing AzureRm with the msi instead of
the install-module command from the psgallery.

2. jan. 2017 7:14 p.m. skrev "Mark Brown" <notifications@github.com>:

[2017-01-02 20:20] markjbrown commented on #2873
Thanks @inghak. Will look more closely at that.

[2017-01-03 09:08] Weishaupt opened #3340 "Get-AzureRmAppServicePlan -Name Progress not hidden after execution"
### Cmdlet(s)
Get-AzureRmAppServicePlan

### PowerShell Version
5.0.10586.672

### Module Version
AzureRM 3.3.0
AzureRM.Websites 2.4.0

### OS Version
10.0.10586.672

### Description
The progress bar is not closed upon completion of the cmdlet execution. The progress bar stays open while subsequent commands are executed.

### Debug Output
n/a

### Script/Steps for Reproduction
Call Get-AzureRmAppS

[2017-01-03 10:35] Aliasgar16 opened #3341 "Facing error "The current SynchronizationContext may not be used as a TaskScheduler"."
I am working on [PR](https://github.com/Azure/azure-powershell/pull/3322) to add missing options for `ChefExtension`. I have written test cases for the functionality for `ARM` mode but when I run the test case(s) in `Record` mode, I face the below mentioned error:

**System.AggregateException : One or more errors occurred.
---- System.InvalidOperationException : The current SynchronizationContext

[2017-01-03 11:48] inghak commented on #3266
I got the AzureRmApplicationGateway functions to work. They work when I install Azure Powershell 3.3.0 using the msi (that installs them to C:\Program Files (x86)\Microsoft SDKs\Azure\PowerShell\ResourceManager\AzureResourceManager).

They do NOT work when I install AzureRM using Install-Module (PowerShellGet) that puts them in “C:\Program Files\WindowsPowerShell\Modules\...” Everything else other

[2017-01-03 12:59] ward0 opened #3342 "Delete StorageAccount in Portal causing script to give error, name already exists. Status is 'Creating'"
### Cmdlet(s)
$StorageAccount = New-AzureRmStorageAccount -ResourceGroupName $ResourceGroupName.ResourceGroupName -Name $StorageAccountName -SkuName $StorageSku -Kind "Storage" -Location "westeurope" -ErrorAction Stop

Executed it the first time = succeeded

Went to AzureRM website and deleted the storageaccount after my checks if everything was ok.

Started my script again and created a new stora

[2017-01-03 13:02] ward0 commented on #3342
Update: I did a new Get-AzureRmStorageAccount and the status is now 'succeeded'. So this is buggy right? The portal is giving me 'finished' and when asking in PS you get another status.

[2017-01-03 13:06] ward0 commented on #3342
Update2: It seems this problem occures when using ISE and F11, Then it will stay on 'running a command' even when waiting several minutes.

When not going into debug it is finished directly..

[2017-01-03 13:19] ward0 commented on #3342
Update3: Ok, now i'm totally stuck.. I can't create the storageaccount anymore in the portal 'name already exists' in powershell with Remove-AzureRmStorageAccount -force > conflict.

status is still creating.

[2017-01-03 13:30] ward0 commented on #3342
This is crazy, the status finally came to 'Succeeded'.

[2017-01-03 17:47] cormacpayne commented on #3337
@ravbhatnagar Hey Gaurav, would you mind taking a look at this issue?

[2017-01-03 17:50] cormacpayne commented on #3339
@v-Ajnava @sazeesha would you mind taking a look at this issue?

[2017-01-03 17:54] cormacpayne commented on #3340
@LukaszStem Hey Lukasz, would you mind taking a look at this issue?

[2017-01-03 19:29] shuagarw commented on #1896
@rbacask for FYI
@mkarpuk  Can you please run fiddler, and find out the url which is giving api version issue. Ensure that you are on azure powershell v2 or above.
Also, The service principal which you are using to login and automate the create of other apps, need to have permission for read/write on directory otherwise it can't perform the operation. If you login to AUX portal (https://manage.win

[2017-01-03 19:33] gucalder commented on #3253
Just it see if I understand the issue correctly:

The call at line 493 of the script referenced above cannot find the resource, i.e. fails, because this uri **$targetResourceId.properties.condition.datasource.resourceuri** contains one or more letters with incorrect casing. For instance a 'w' instead of a 'W'. Right?  If yes, the call get-azurermalertrule at line 488 is returning an alert rule obj

[2017-01-03 19:39] sazeesha commented on #3339
@takekazuomi: we will be removing the ResourceGroupName  from the properties. The ResourceGroupName  can be found in the Id.  We are fixing the  Sku to return the right object.

@cormacpayne: when is the next PS release. We will check in the fix before that.

[2017-01-03 19:42] cormacpayne commented on #3339
@sazeesha code complete is January 11th and the release is January 18th

[2017-01-03 20:55] twitchax commented on #3205
@keeshuizer, yes, I did.  Sorry for the late reply.

I talked offline with @shahabhijeet, and it seems that, while there are concurrency issues in PowerShell, the root cause of this problem is not the typical concurrency issues that we see.  I am recommending that we take the fix for this issue, and I have approved #3299.

[2017-01-03 21:09] ravbhatnagar commented on #3284
@shuagarw to take a look at this.

[2017-01-03 21:11] ravbhatnagar commented on #3230
@davidmatson - Feel free to send a PR. If not, we will address this in one of the upcoming releases.

[2017-01-03 21:45] takekazuomi opened #3344 "New-AzureRmServiceBusNamespace don't not support capacity option."
### Cmdlet(s)
New-AzureRmServiceBusNamespace

### PowerShell Version
 5.1.14393.576

### Module Version
3.3.0

### OS Version
10.0.14393.576

### Description
New-AzureRmServiceBusNamespace don't not support capacity option.

Namespaces Create Or Update Resource Group REST API support  capacity option.
https://docs.microsoft.com/en-us/rest/api/servicebus/namespaces#Namespaces_CreateOrUpdate

also S

[2017-01-03 23:18] nik-shornikov commented on #1817
i don't believe this issue is about a specific resource type and i don't believe it's fixed. my experience has been a max of four concurrent subnet writes to a vnet, and anything beyond that, the error above. the hack to force serial does lead to very long deployments, and is a hack to begin with. if arm templates have a value proposition of being declarative, then working out degrees of paralleli

[2017-01-03 23:48] cormacpayne commented on #3344
@sazeesha @v-Ajnava would you guys mind taking a look at this issue?

[2017-01-04 00:11] sazeesha commented on #3344
@takekazuomi AND @cormacpayne  ack, we will add a new parameter to update the capacity.
Thanks 👍

[2017-01-04 01:42] markcowl commented on #3341
This is because tests do authentication before running PowerShell, so you have to set up a new synchronization context.  You can do this with code like the following:

https://github.com/Azure/azure-powershell/blob/2eaf6175bc2533b83689120dc7f595ff0bdf8001/src/ResourceManager/Common/Commands.ScenarioTests.ResourceManager.Common/RMTestBase.cs#L73

If your test classes extend RMTestBase, this happens

[2017-01-04 01:44] markcowl commented on #3342
@vincent81-jiang Can you take a look?

[2017-01-04 07:27] Aliasgar16 commented on #3341
@markcowl Thanks for the help !!

Unfortunately even after following your steps, I still get the same error. I even tried executing the other tests which had already extended the class `RMTestBase`, but still got the same error.

Can you please re-open this issue ?

[2017-01-04 07:48] TrickyTic commented on #3205
Good news.  Thank-you team for your continued support.

[2017-01-04 11:33] mkarpuk commented on #1896
I can't run fiddler (at least i have no idea how to run it during runbook execution). Anyway, I don't think that it's API version issue since I was able to implement the runbook using my own credential (subscription admin):
`$cred = Get-AutomationPSCredential –Name "ADAccess"`
`Add-AzureRmAccount –Credential $cred –SubscriptionName "MySubscription"`

`$principal = Get-AzureRmAdServicePrincipal -Se

[2017-01-04 11:39] ward0 commented on #3342
Thanks for assinging someone. This has been reported on forums already:

https://docs.microsoft.com/en-us/azure/virtual-network/virtual-network-manage-nsg-arm-ps

Seems to be an old problem..

[2017-01-04 11:41] ward0 opened #3346 "New-AzureRmStorageAccount gives no errors but in Azure Portal the account has status 'Deleted'"
### Cmdlet(s)
New-AzureRmStorageAccount
### PowerShell Version
5.1.14393.576

### Module Version

### OS Version
10.0.14393.576

### Description

### Debug Output
Instructions: to get Debug Output, set `$DebugPreference="Continue"` and then execute the cmdlet or script causing the issue

### Script/Steps for Reproduction

I posted it on stackoverflow to add pictures.
See following link pls: http:/

[2017-01-04 12:05] ward0 commented on #3346
Azure Portal is getting really crazy.. I went into lunch break.. came back.. the status deleted is gone and everything is acting normal.

[2017-01-04 17:12] #3260 closed

[2017-01-04 17:19] markcowl commented on #2390
This is fixed, I believe

[2017-01-04 17:19] #2390 closed

[2017-01-04 19:32] IvanovOleg opened #3347 "I can't change a VM backup schedule"
Hi,

I am trying to automate a VM backup configuration and have to change a backup schedule.
[code]
The RemoveAll() method returns something like **Impossible to find an overload for "RemoveAll" and quantity of arguments: "0".** So I can't delete a default schedule.

[2017-01-04 19:44] IvanovOleg commented on #3347
I was able to delete a default schedule this way:
`$schedulePolicy.ScheduleRunTimes.Remove($schedulePolicy.ScheduleRunTimes[0])`

[2017-01-04 21:57] cormacpayne commented on #2919
Fix is in PR https://github.com/Azure/azure-powershell/pull/3349

[2017-01-04 22:38] markcowl commented on #2729
Hasn't been an issue for a while, closing

[2017-01-04 22:38] #2729 closed

[2017-01-04 22:43] anavinahar commented on #1948
Hi @ward0, what version of PowerShell are you using? Please make sure you have the updated version. Info here: https://github.com/Azure/azure-powershell/releases

All the Rm cmdlets have examples for a while now.  Is there a specific cmdlet you are referring to?

[2017-01-04 23:26] markcowl commented on #2987
Fixed

[2017-01-04 23:26] #2987 closed

[2017-01-05 08:16] yangl900 commented on #1817
@nik-shornikov The issue is mostly seen in network resources, it is specific to the resource provider. @ravbhatnagar could you loop the network folks see if there is plan to fix this?

[2017-01-05 18:56] FranckSix opened #3354 "Register-AzureRmAutomationScheduledRunbook parameters was not input correctly"
### Cmdlet(s)
Register-AzureRmAutomationScheduledRunbook

### PowerShell Version
5.1.14393.206

### OS Version
10.0.14393.206

### Description
When I use Register-AzureRmAutomationScheduledRunbook to create a Runbook's cedule parameters in portal contain quotes see file to screenshot. This make my workbook to fail.

![capture](https://cloud.githubusercontent.com/assets/8504152/21427372/39cfc2ca-c8

[2017-01-05 19:33] dpiessens commented on #1896
I'm having the same issues with the permissions above set. I was able to fiddler the call and have posted it below. In this case I was calling the Set-AzureRmADApplication command, but was having the same issue with New-AzureRmADApplication. I did make sure the machine was updated to the December 2016 Azure Powershell Commands.

`
PATCH https://graph.windows.net/b526ac6f-288d-4092-85e4-3dc3869cd1f

[2017-01-05 20:35] cormacpayne commented on #3333
Fix in PR https://github.com/Azure/azure-powershell/pull/3356

[2017-01-06 00:37] cormacpayne commented on #2917
@markcowl @twitchax here is the list of conflicting cmdlets:

Network
- New-AzureVMSqlServerAutoBackupConfig
    - cmdlet name in RDFE and ARM
- New-AzureVMSqlServerAutoPatchingConfig
    - cmdlet name in RDFE and ARM
- New-AzureVMSqlServerKeyVaultCredentialConfig
    - cmdlet name in RDFE and ARM

Profile
- Enable-AzureDataCollection
    - cmdlet name in RDFE, alias for Enable-AzureRmDataCollecti

[2017-01-06 00:53] cormacpayne commented on #2920
@markcowl here is the list of conflicting cmdlets:

Network
- New-AzureVMSqlServerAutoBackupConfig
    - cmdlet name in RDFE and ARM
- New-AzureVMSqlServerAutoPatchingConfig
    - cmdlet name in RDFE and ARM
- New-AzureVMSqlServerKeyVaultCredentialConfig
    - cmdlet name in RDFE and ARM

Profile
- Enable-AzureDataCollection
    - cmdlet name in RDFE, alias for Enable-AzureRmDataCollection in ARM

[2017-01-06 01:04] cormacpayne opened #3358 "Remove-AzureRmSqlDatabaseAuditing has unnecessary alias"
### Cmdlet(s)

Remove-AzureRmSqlDatabaseAuditing

### PowerShell Version
Instructions: to get PowerShell version, type `$PSVersionTable` and look for the value associated with `PSVersion`

N/A

### Module Version

2.4.0

### OS Version
Instructions: to get OS version, type `$PSversionTable` and look for value associated with `BuildVersion`

N/A

### Description

The cmdlet `Remove-AzureRmSqlDataba

[2017-01-06 01:47] ravbhatnagar commented on #1179
@MarkMurphyInvu - This should be fixed now. Please let us know if you see otherwise. For#1, Sku should be outside of properties bag.

[2017-01-06 01:47] #1179 closed

[2017-01-06 01:51] ravbhatnagar commented on #1867
No plans of supporting this. Let us know if you feel this is important and we can prioritize it higher.

[2017-01-06 01:51] #1867 closed

[2017-01-06 01:56] ravbhatnagar commented on #1975
Find-AzureRmResource now supports ResourceNameEquals and ResourceGroupNameEquals for exact matching. So you can use it to list all the resources in a resource group.

[2017-01-06 01:56] #1975 closed

[2017-01-06 01:59] ravbhatnagar commented on #2605
Exact name matches are now supported in the Find-AzureRmResource cmdlet through ResourceGroupNameEquals and ResourceNameEquals.

[2017-01-06 02:00] ravbhatnagar commented on #2618
This has been fixed. Find-AzureRmResource cmdlet now contains parameters for exact name matches.

[2017-01-06 02:00] #2618 closed

[2017-01-06 02:02] ravbhatnagar commented on #2307
Fixed. Find-AzureRmResource now contains parameters for doing exact name matches for resource and resource group.

[2017-01-06 02:02] #2307 closed

[2017-01-06 09:27] Fazered commented on #2873
Thanks @inghak

For others: I tested just installing the msi from https://github.com/Azure/azure-powershell/releases without first removing the azure package and it worked flawlessly.

[2017-01-06 11:54] NimishaS opened #3362 "Remove Help.xml files from source code and generate at build time from markdown help"
### Description
Size of Help.xml files eg. `src/ResourceManager/Compute/Commands.Compute/Microsoft.Azure.Commands.Compute.dll-Help.xml` and `src/ServiceManagement/ComputeCommands.ServiceManagement/Microsoft.WindowsAzure.Commands.ServiceManagement.dll-Help.xml` has become huge, making it difficult to add/remove new contents.

We found it impossible to rebase https://github.com/Azure/azure-powershel

[2017-01-06 14:49] mgreenegit commented on #1135
New-AzureRMResourceGroupDeployment does not exit in error if one resource within a deployment template fails?  Without ending in error, CI platforms do not know whether the deployment was successful.

[2017-01-06 18:00] cormacpayne commented on #3362
@NimishaS Hey Nimisha, we are working to try and get rid of the dll-Help.xml files from the repository, and instead have teams edit the markdown help files that currently live in the `help` folder in each RP's "commands" folder (_e.g.,_ `.../Compute/Commands.Compute/help`)

This will resolve the issue you are having and make it easier for teams to edit their help without having to commit a dll-Hel

[2017-01-06 19:43] shahabhijeet commented on #3354
@AniAnirudh can you take a look at this and direct it to the right folks. Looks like Automation issue.

[2017-01-06 20:14] peterincontext commented on #1135
@mgreenegit, agreed, it's not ideal in its current implementation.  However, instead of relying on the actual exit, it's possible to check the ProvisioningState, which does change to **Failed** if any of the sub-deployments in the template fail.

    $deploy = New-AzureRmResourceGroupDeployment @deployParameters -Name $deploymentLabel -Verbose

    if($deploy.ProvisioningState -eq "Failed")
    {

[2017-01-06 21:11] crshnbrn66 commented on #3253
WE are still using these accounts / storage.  not really that it's failing it's that the url for what the monitor is watching is invalid

[2017-01-06 21:52] andyjballgit commented on #3180
Hi

any update on this, as i've just hit the same issue with 3.3.0 of AzureRM.Network It works OK for me when using REST API (ie https://msdn.microsoft.com/en-us/library/azure/mt163568.aspx)

[2017-01-07 15:25] raandree commented on #2701
I am still having this issue. When invoking Get-AzureRmVM there are two issues:

- Index was out of range. Must be non-negative and less than the size of the collection.
- The entity was not found.

This happens when calling Get-AzureRmVM -Status after removing a resource group that has VMs.

[2017-01-07 19:56] yaakoviyun commented on #3358
Send PR: https://github.com/Azure/azure-powershell/pull/3365

[2017-01-07 19:56] #3358 closed

[2017-01-09 02:08] blueww commented on #3342
This is not caused PowerShell's problem.
It's caused by after delete an account, user need to wait for a while for the account to be cleaned up. And in the mean while user can' create/delete account with same name again will both fail.
Close this issue as customer already agree this is an old problem.

[2017-01-09 02:08] #3342 closed

[2017-01-09 02:18] blueww commented on #3205
The fix for storage cmdlets is already merged in.
Will close the issue when the new PowerShell release comeout.

Please file new issues if find other none storage cmdlets hang in event for .

[2017-01-09 06:30] NimishaS commented on #3362
Thanks @cormacpayne , this will definitely resolve the issue that we are facing. Is there a similar `help` folder for `ServiceManagement` too? When will this come into practice?

[2017-01-09 09:09] zhiweiv opened #3366 "DatabaseMaxSizeBytes is Int32 in Cmdlet New-AzureRmSqlDatabaseImport"
Currently DatabaseMaxSizeBytes is Int32 in Cmdlet New-AzureRmSqlDatabaseImport, you can set max to 4GB with Int32, how can I import database which is larger than 4GB?

Another question is: while creating a new azure sql database, maxsize is an optional parameter, but in Cmdlet New-AzureRmSqlDatabaseImport it is a required parameter, does it make sense?

Thanks,

[2017-01-09 17:32] cormacpayne commented on #3362
@NimishaS I did try to create a similar `help` folder for `ServiceManagement` as well - most of the code for this has been written, but it [throw an error](https://github.com/Azure/azure-powershell/blob/dev/tools/platyPSHelp/platyPSHelp.psm1#L52) right now until I can figure out why there's an issue when importing the modules. This is something that I will have to come back at a later time and fig

[2017-01-09 18:12] akromm commented on #3366
#3067

[2017-01-09 18:34] akromm commented on #864
Restore is: Restore-AzureRmSqlDatabase

Backups are taken automatically based on the service tier:
https://azure.microsoft.com/en-us/blog/azure-sql-database-built-in-backups-vs-importexport-2/
https://docs.microsoft.com/en-us/azure/sql-database/sql-database-business-continuity

You can query backup information using the cmdlets found here:
https://github.com/Azure/azure-powershell/tree/dev/src/Res

[2017-01-09 18:34] #864 closed

[2017-01-09 18:43] akromm commented on #1967
The Get-AzureRMSqlDatabase cmdlet does return objects.  What makes you think that it doesn't?

eg:
[code]

[2017-01-09 18:44] #1967 closed

[2017-01-09 21:24] shivamatri1 commented on #2019
@BenedekFarkas Hi Benedek, I apologize for the delay in responding to this issue. I would like to work with you to get at the root cause of this. Are you still facing this issue and could you provide some more context about it.

[2017-01-09 21:34] akromm commented on #3077
@robertmclaws We've recently made some changes in this area and when I call Get-AzureRmSqlServerServiceObjectives it returns P6.  Can you let me know if this is still an issue for you?

@rrrrrrich I don't have much experience with Azure Automation Runbook, but my understanding is their environment is a bit different and requires additional environmental setup.

[2017-01-09 23:38] DeepakRajendranMsft commented on #3180
Hi @andyjballgit, Sorry for the late response. we will fix this in the upcoming powershell release. For now, as a work around, can you use Get-AzureRmVirtualNetworkPeering to get all the peerings?

[2017-01-10 00:56] zhiweiv commented on #3366
Thanks a lot, akromm!

[2017-01-10 07:10] andyjballgit commented on #3180
Hi Deepak,

Thx for reply / update - Cool. Yeah workarounds are fine for now

[2017-01-10 18:34] jonsabo commented on #3227
This is not my experience for centralus at least, and I see it make multiple requests in debug output. For reference on PSv5/AzureRM v3.3

[code]

[2017-01-10 19:03] jonsabo opened #3372 "Get-AzureRmVM -Status index out of bounds error"
### Cmdlet(s)
`Get-AzureRmVM -Status`

### PowerShell Version
5.1.14393.206

### Module Version
3.3

### OS Version
10.0.14393.206

### Description
`Get-AzureRmVM -Status` seems to work with regards to the API, but then has an out of bounds exception on an array. My use case here is listing all VMs on a subscription and getting their status. I tried this on multiple subscriptions, one with a few h

[2017-01-10 19:11] singhkays commented on #3227
@jonsabo Thanks for sharing your experience!

@TrickyTic Can you check with the latest PS version?

[2017-01-11 01:26] cormacpayne commented on #3125
@akromm @jamestao ping

[2017-01-11 01:27] cormacpayne commented on #3126
@shefaliv ping

[2017-01-11 01:27] cormacpayne commented on #3127
@asheniam ping

[2017-01-11 01:28] cormacpayne commented on #3132
@singhkays @hyonholee ping

[2017-01-11 01:28] cormacpayne commented on #3133
@jackmagic313 ping

[2017-01-11 01:29] cormacpayne commented on #3134
@DeepakRajendranMsft ping

[2017-01-11 01:29] cormacpayne commented on #3136
@SiddharthChatrolaMs ping

[2017-01-11 01:29] cormacpayne commented on #3137
@ravbhatnagar @vivsriaus ping

[2017-01-11 01:29] cormacpayne commented on #3138
@akromm @jamestao ping

[2017-01-11 07:10] keeshuizer commented on #3205
@blueww I'm using an ad-hoc build which included your fixes (that i got from twitchax), but I just ran into a problem with another cmdlet, the cmdlet itself isn't directly storage related, although it makes use of storage stuff i guess..

The cmdlet is 'New-AzureRmVM'.

I'm creating a new VM using an existing vhd file, when i run the commands in a normal PowerShell session the New-AzureRmVM exits

[2017-01-11 07:38] blueww commented on #3205
@keeshuizer , would you please open a new issue for the hang issue of New-AzureRmVM?
We take this issue to fix the storage cmdlets. And if you open a new issue, it will be assign to proper team.

Thanks!

[2017-01-11 08:02] keeshuizer opened #3376 "New-AzureRmVM stalls when called from (gui) event"
### Cmdlet(s)
New-AzureRmVM

### PowerShell Version
5.1.14393.576

### Module Version

### OS Version
10.0.14393.576

### Description
After running into an issue with storage related cmdlets which are run from a PowerShell GUI script (issue 3205 : https://github.com/Azure/azure-powershell/issues/3205) I'm using an ad-hoc build which includes the fix for this issue.

I just now ran into a problem (

[2017-01-11 10:24] TrickyTic commented on #3227
Happy to help.

I have just checked and it still fails for me.

I have 65 ARM virtual machines in EastUS, only 50 are returned by the cmdlet (stops at nextlink).

- Updated to PS 5.0, only 50 returned
- Updated to PS 5.1, only 50 returned
- Updated AzureRM.Compute to 2.4.0 (AzureRM 3.3), only 50 returned
- Tried same on a colleague's Windows 10 PS 5.1, only 50 returned
- Tried -Status to get alter

[2017-01-11 14:17] jeffpatton1971 commented on #1286
Good times kids! Maybe we should rtfm....oh wait

https://docs.microsoft.com/en-us/powershell/resourcemanager/azurerm.websites/v2.1.0/get-azurermwebappslot

[2017-01-11 17:35] akromm commented on #3125
@cormacpayne do you have an example of how to do the conversion?

[2017-01-11 18:10] akromm commented on #3138
@cormacpayne Are there execution time restrictions/requirements? Some of the tests (DataMaskingTests) can take 30 seconds to run.

[2017-01-11 23:21] athipp opened #3380 "AnalysisServices.Data"
### Cmdlet(s)
Add-AzureAnalysisServicesAccount

### PowerShell Version
 5.0.10586.117

### Module Version

### OS Version
10.0.10586.117

### Description
This is to track the code improvement code in AsAzureClientSession - Move away from a static Session structure - this causes problems when running cmdlets in parallel. For a future release, we should consider changing this to a Session variable.,

[2017-01-13 02:11] chw2054 opened #3386 "Invalid connection string of DocumentDb return by Invoke-AzureRmResourceAction"
### Cmdlet(s)
Invoke-AzureRmResourceAction

### PowerShell Version
5.1.14393.576

### Module Version

### OS Version
10.0.14393.576

### Description
The hostname of connection string of DocumentDB contains `443` port

[code]

### Debug Output

[code]

### Script/Steps for Reproduction

Run:
[code]

[2017-01-13 12:24] BenedekFarkas commented on #2019
I don't have an exact repro on this (other than the process described above) and it only happened a couple of times before - haven't seen this happen for a long time. Considering that Azure back-end stuff and Azure PS changed so much since then, I think we can close this and I'll reopen if it occurs again.

[2017-01-13 12:24] #2019 closed

[2017-01-13 20:37] krushmike opened #3388 "New-AzureRmResourceGroupDeployment virtualMachineScaleSets = overProvisionEnabled Error"
### Cmdlet(s)
New-AzureRmResourceGroupDeployment

### PowerShell Version
5.1.14393.0

### Module Version
Azure PowerShell 3.3

### OS Version
10.0.14393.0

### Description
Attempting to build a Virtual Machine Scale Set using an ARM template and New-AzureRmResourceGroupDeployment.  Everything completes without error except the Scale Set itself.  I get this error:

New-AzureRmResourceGroupDeploymen

[2017-01-15 09:21] zechariahks opened #3389 "Get-AzureKeyVaultSecret - Getting Access Denied when serviceprincipal is used for authentication"
### Cmdlet(s)
Get-AzureKeyVaultSecret, Add-AzureRMAccount

### PowerShell Version
5.0.10586.117

### Module Version

### OS Version
10.0.10586.117

### Description
Getting Access Denied when I used serviceprincipal authentication to azure. If I individual user account to access KeyVault, it is working. How will I be able to use this cmdlet with add-azureaccount -serviceprincipal authentication.

#

[2017-01-15 10:31] alecor191 commented on #3266
Thanks @inghak for sharing the workaround of installing the MSI. I had the same issue. Using your workaround unblocked me as well. Thanks!

[2017-01-15 16:11] hbaumhardt opened #3390 "New-AzureRmWebApp cant find in use AppServicePlans"
### Cmdlet(s)
New-AzureRmWebApp

### PowerShell Version
5.1.14393.693

### Module Version
3.3.0

### OS Version
10.0.14393.693

### Description
New-AzureRmWebApp with an AppServicePlan that exists and is associated with other WebApps in the Subscription and Region returns error >**Cannot find ServerFarm with name NAME-THAT-EXISTS**

Subscriptions align, Locations align, test with Get-AzureRmAppSer

[2017-01-16 02:53] matt-richardson commented on #832
Is there a workaround for this?

[2017-01-16 07:09] russcam opened #3391 "webapp:Sync Network for Azure App Service connected to VNet"
### PowerShell Version
PSVersion 5.1.14393.693

### OS Version
BuildVersion 10.0.14393.693

### Description

After connecting an App Service to a VNet using something similar to https://docs.microsoft.com/en-us/azure/app-service-web/app-service-vnet-integration-powershell#resource-manager-virtual-networks, "Sync Network" has to be performed before the Azure App can connect to any attached devices

[2017-01-16 13:50] EwanNoble opened #3392 "Set-AzureRmSqlServerAuditingPolicy : Cannot find Storage account"
### Cmdlet(s)
Set-AzureRmSqlServerAuditingPolicy
Set-AzureRmSqlServerThreatDetectionPolicy

### PowerShell Version
Instructions: to get PowerShell version, type `$PSVersionTable` and look for the value associated with `PSVersion`
5.1

### Module Version
2.4.0

### OS Version
Instructions: to get OS version, type `$PSversionTable` and look for value associated with `BuildVersion`
10.0.14393.693

##

[2017-01-17 07:56] benperk commented on #1283
I saw an issue like this and it seems that the Microsoft.Compute resource provider must be enabled on the source subscription.  HTH

[2017-01-17 13:01] czeumault commented on #2440
@akurmi @ahmedelnably - this doesn't look like this was ever updated/fixed.  Can we please get an update?

[2017-01-17 19:12] mclark1129 opened #3393 "Import-AzureRmApiManagementApi: Cannot import swagger document from local file"
### Cmdlet(s)
Import-AzureRmApiManagementApi

### PowerShell Version
5.1.14393.576

### Module Version
3.3.0

### OS Version
10.0.14393.576

### Description
I am attempting to import a swagger document on disk to the Azure API portal.  When I provide the script a file path I receive the following error message:

### Debug Output

[code]

### Script/Steps for Reproduction`
`Import-AzureRmApiManagem

[2017-01-17 19:18] #3393 closed

[2017-01-17 19:56] Pradebban opened #3395 "ErrorAction preference (SilentlyContinue) does not working for Get-ServiceFabricService"
### Cmdlet(s)
Get-ServiceFabricService

### PowerShell Version
4.0

### Module Version

### OS Version
6.3.9600.17400

### Description

ErrorAction preference of -SilentlyContune does not work for command Get-ServiceFabricService on failure cases.

Get-ServiceFabricService -ApplicationName "fabric:/Hidden" -ServiceName "fabric:/Hidden.Hidden" -TimeoutSec 600 -ErrorAction **SilentlyContinue**

###

[2017-01-17 20:41] rafamarrara opened #3397 "Export-AzureVM – wrong error message when using a path that does not exist"
### Cmdlet(s)
Export-AzureVM

### PowerShell Version
PSVersion: 5.1.14393.693

### Module Version
PS C:\> Get-Command Export-AzureVM

CommandType     Name                                               Version    Source
-----------     ----                                               -------    ------
Cmdlet          Export-AzureVM                                     3.3.0      Azure

### OS Vers

[2017-01-17 21:35] dacarab opened #3398 "Get-AzureRMAutomationAccount not returning initialised properties"
### Cmdlet(s)
Get-AzureRMAutomationAccount
### PowerShell Version
PSVersion                      5.1.15007.1000

### Module Version
AzureRM.Automation 2.4.0

### OS Version
BuildVersion                   10.0.15007.1000

### Description
Get-AzureRMAutomationAccount , Get-AzureRMAutomationAccount -ResourceGroupName _ResourceGroup_ both return objects without all properties initialised, specifically

[2017-01-17 21:58] cormacpayne commented on #3398
@safeermohammed  @Bpoe Hey Safeer and Brandon, would you mind taking a look at this issue?

[2017-01-17 22:02] cormacpayne commented on #3397
@hyonholee Hey Hyonho, would you mind taking a look at this issue?

[2017-01-17 22:10] cormacpayne commented on #3395
@Pradebban closing this issue since this cmdlet is not owned by Azure PowerShell

However, looking at the [ServiceFrabci cmdlet list](https://docs.microsoft.com/en-us/powershell/servicefabric/vlatest/servicefabric), I believe @oanapl may be able to help, or at least point you at the first place to post this question

[2017-01-17 22:10] #3395 closed

[2017-01-17 22:12] cormacpayne commented on #3392
@yaakoviyun @akromm Hey Yaakov and Adam, would you mind taking a look at this issue?

[2017-01-17 22:15] cormacpayne commented on #3390
@LukaszStem Hey Lukasz, would you mind taking a look at this issue?

[2017-01-17 22:16] cormacpayne commented on #3389
@pomortaz Hey Pooneh, would you mind taking a look at this issue?

[2017-01-17 22:19] cormacpayne commented on #3388
@ravbhatnagar Hey Gaurav, would you mind taking a look at this issue?

[2017-01-17 22:20] cormacpayne commented on #3386
@ravbhatnagar Hey Gaurav, would you mind taking a look at this issue?

[2017-01-17 22:23] cormacpayne commented on #3376
@singhkays Hey Kay, would you mind taking a look at this issue? It has been branch off from issue https://github.com/Azure/azure-powershell/issues/3205

[2017-01-17 22:24] cormacpayne commented on #3366
@akromm can this issue be closed, or should it be separately tracked from issue https://github.com/Azure/azure-powershell/issues/3067 ?

[2017-01-17 22:33] markcowl commented on #3391
@Nking92 Please comment on our support tor this in ARM APIs for WebApps

[2017-01-17 22:34] pomortaz commented on #3389
@zechariahks have you set access permissions on your vault for the service principal, using [Set-AzureRmKeyVaultAccessPolicy](https://docs.microsoft.com/en-us/powershell/resourcemanager/azurerm.keyvault/v2.2.0/set-azurermkeyvaultaccesspolicy)?

[2017-01-17 22:34] markcowl commented on #1707
Closing, this is no longer applicable

[2017-01-17 22:34] #1707 closed

[2017-01-17 22:34] oanapl commented on #3395
You can start a thread on https://github.com/Azure/service-fabric-issues

[2017-01-17 22:35] akromm commented on #3366
@cormacpayne this can be closed and tracked as part of #3067

[2017-01-17 22:35] #3366 closed

[2017-01-17 22:43] markcowl commented on #2783
@bganapa AutoRest automatically uses ISO8601 for date serialization - DateTimeOffset versus Date is a Microsoft .Net type distincation.  Are you guys only supporting ISO8601 serializations that explicitly use the offset, or are you supporting serialzations that use UTC time?

Please file a new bug and specify exactly what is wrong with the serialization and we can have someone take a look.  Closin

[2017-01-17 22:43] #2783 closed

[2017-01-17 22:45] markcowl commented on #3015
I beleieve this has been resolved.  Please reopen if there is still an issue,

[2017-01-17 22:45] #3015 closed

[2017-01-17 22:47] markcowl commented on #3018
This is the accepted powershell behavior you should return nothing if there are no query results.

If there is a scenario that is blocked by this behavior, please open an issue that describes that scenario and we will considewr this.

[2017-01-17 22:52] markcowl commented on #3019
@mattmcloughlin This is generally a good practice to avoid cleartest passwords in command lines.  However, the API itself uses a string, so it would be a bit disingenuous to pretned that the value is protected in memory through the call.  In this instance do you think it is better to be transparent that this value is not a securestring on the wire, or to use a SecureString and keep the password fr

[2017-01-17 22:56] markcowl commented on #3235
@safeermohammed @eamonoreilly Can you take  a look?

[2017-01-17 22:59] markcowl commented on #3273
@ravbhatnagar  can you take a look?  I believe they are looking for a simple way to list all resources of a particular type

[2017-01-17 22:59] markcowl commented on #3288
fixed.

[2017-01-17 22:59] #3288 closed

[2017-01-17 23:04] markcowl commented on #1367
@ravbhatnagar If this is npo longer in plan, we should close the issue as 'won't fix'

[2017-01-17 23:04] markcowl commented on #3333
fixed.

[2017-01-17 23:04] #3333 closed

[2017-01-17 23:05] krushmike commented on #3388
I ended up using the MS Azure provided sample as a new baseline to start.  Made some modifications to include the required properties to use a pre-customized VMDK and it worked!  Did not have the opportunity to compare the MS provided template against the template I was using, but there were obviously some differences to cause this issue.  Here is what I used:

https://github.com/Azure/azure-quick

[2017-01-17 23:05] krushmike commented on #3388
Closing...

[2017-01-17 23:05] #3388 closed

[2017-01-17 23:06] markcowl commented on #3336
@ravbhatnagar Can you take  a look?

[2017-01-17 23:09] russcam commented on #3391
I _think_ I've found the setting in [resource explorer](https://resources.azure.com) for it, under

resource group -> providers -> Microsoft.Web -> serverfarms -> App Service Plan name -> virtualNetworkConnections

[code]

but can't see how it's exposed in PowerShell SDK

[2017-01-17 23:10] ravbhatnagar commented on #3273
@bganapa - Please use Find-AzureRmResource -ResourceType <> to list all the resources of a type under a subscription. You should already have this in the Azure Stack PS version you have

To list all the resources of a type under a resource group, please use Find-AzureRmResource -ResourceType <> -ResourceGroupEquals <rgName>.  This was added recently, so the Azure Stack PS version you are using may

[2017-01-17 23:12] ravbhatnagar commented on #3336
@cdituri  This support has not been added to PowerShell yet. This is on our backlog to be added soon.

[2017-01-17 23:23] twitchax commented on #3019
I agree with @markcowl: if the underlying API works on plaintext, then we should expose this same behavior to the surface present in PowerShell.

I propose that we leave it as is until such a time that the underlying API moves away from plaintext behaviors.

[2017-01-17 23:27] markcowl commented on #3347
@dragonfly91 @pragrawa @mkherani  can you take a look, and assign to the appropriate milestone if you decide to fix?

[2017-01-17 23:28] markcowl commented on #3354
@eamonoreilly @safeermohammed Can you take a look

[2017-01-17 23:32] markcowl commented on #3329
@twitchaax Request is for a universal representation of regions, while ARM is expressly designed to treat multiple representations in the same way (eastasia=EastAsia=EastAsIA = East Asia).  Should we invest in a universal utility to translate into a canonical form for presentation and canonical form for the wire?

[2017-01-17 23:35] markcowl commented on #2523
Closing this due to age.  If this is still an issue, please open a new issue, including the cmdlet invocation and error or unexpected result and we will take a look.

[2017-01-17 23:35] #2523 closed

[2017-01-18 00:03] Pradebban commented on #3395
@oanapl, I understand the changes in area path, however is there no provision to change the path from AzurePowershell to ServiceFabric instead of closing this issue. Just curious ?!

[2017-01-18 00:51] Pradebban commented on #3018
@markcowl, I disagree with terming this as powershell behavior,

Few examples where the results is not empty (and has meaningful error) when the query fetched nothing.

**1. Get-AzureRmResource -ResourceType microsoft.web/sites -ResourceName "12345"**
Get-AzureRmResource : ResourceNotFound : The Resource 'microsoft.web/sites/12345' under resource group '<null>' was not found.

**2. Get-AzureRmReso

[2017-01-18 01:04] ChrisCompy commented on #3391
The sync operation is not directly supported in powershell or API.  Rather, it involves several API calls that are currently brokered by the portal to get a package from VNet, pull the certs, set them in app service and also send our generated certs to VNet and make sure they are on what we have.  It also does a route sync operation to ensure that the apps are using the proper VNet owned routes fo

[2017-01-18 01:15] russcam commented on #3391
As it stands, it is not possible to completely automate connecting an App Service to a Virtual Network, a scenario that I would expect is _extremely common_ e.g. a web application connected to an Elasticsearch cluster on the backend, as in this case. Will this be exposed in a future SDK release?

It would be worth also [updating the documentation](https://docs.microsoft.com/en-us/azure/app-service

[2017-01-18 01:21] ChrisCompy commented on #3391
right.  it's not possible which is painful.  No disagreement from me there and it's something I want to fix someday.  It's not a high priority right now though so this is where it stands for now.  There are some P2S changes coming this year that may help give opportunity though.
The sync network should only be needed to sync routes.  It should work fine without that with the standard RFC 1918 traf

[2017-01-18 02:59] russcam commented on #3391
I've found that I need to Sync Network every time, with my example script. I can put together a small reproducible example if it would help to rule out PEBKAC?

[2017-01-18 06:52] blueww commented on #3346
@ward0,
This issue is not related to PowerShell, it's the server/portal behavior.
You might can write mail to <azurestoragetalk@microsoft.com> and <srp@microsoft.com> to see if they have any idea on this.
Thanks!

[2017-01-18 17:27] cdituri commented on #3336
@ravbhatnagar - correct, simply wanted to raise the issue so that it could be backlogged and prioritized at whatever level is deemed appropriate. If I am able to free up some time I'll take a stab at an implementation--no guarantees this will happen however.

@ravbhatnagar @markcowl - thank you both for taking a peek at this issue and getting it into the backlog.

[2017-01-18 19:42] ChrisCompy commented on #3391
maybe it's a nuance on how you are doing the script.   I don't remember the exact reason for why we don't do a route sync at the end of setup.  It's been a year since we added the V2 VNet stuff but I will ask and see.

[2017-01-18 22:48] cormacpayne commented on #3330
@nyanhp so here's what is happening: before PowerShell 3.0, if you were to call

[code]

it was found that PowerShell would process all ten items, rather than just the first five. In PowerShell 3.0, they introduced an optimization that stopped the pipeline after PowerShell processed the first five items. This is why we get the error above.

`Select-Object` has an additional switch parameter, `Wait

[2017-01-18 22:48] #3330 closed

[2017-01-18 23:13] cormacpayne commented on #1544
@Nking92 @LukaszStem would you mind taking a look at this issue? I believe the solution @jonsabo has provided will fix this problem.

[2017-01-19 00:14] russcam commented on #3391
@ChrisCompy that would be greatly appreciated. Let me know also if you would like a reproducible example and I'll put one together.

[2017-01-19 00:42] Nking92 commented on #1544
I'll patch this bug with the provided fix in the next update. Thanks everyone for finding the bug and a fix for it.

[2017-01-19 08:35] dmittal02 opened #3407 "Get-AzureRmRoleAssignment command failing"
### Cmdlet(s)

### PowerShell Version
Instructions: to get PowerShell version, type `$PSVersionTable` and look for the value associated with `PSVersion`
latest
### Module Version
Azure PS version: 1.0.0
### OS Version
Instructions: to get OS version, type `$PSversionTable` and look for value associated with `BuildVersion`
Windows 2012 R2
### Description
Error when trying to run the PS command:
Get

[2017-01-19 09:26] nyanhp commented on #3330
Hi @cormacpayne, first of all: thanks.
I am sorry, but while that is a good explanation I feel that this is not an acceptable solution for people with more than a handful of resources. Waiting for Azure commands to complete in a scenario where many resources have to be retrieved is not really practical if you already know that you want to select the first couple of items that are coming up.
I woul

[2017-01-19 17:08] jeffpatton1971 commented on #1948
@anavinahar and @markjbrown we need to fix the documentation online, agreed the examples are in PowerShell with get-help, but the original ticket was created because of a lack of documentation on the website. It would be helpful if we could get some clarification on exactly HOW the documentation that is obviously there in PowerShell, either does or doesn't make it to the online version of said hel

[2017-01-19 17:24] markjbrown commented on #1948
Yes, we are aware the online docs are missing as well. We are actively investigating this right now. Will update here when we have this resolved or with an ETA.

thanks.

[2017-01-19 18:57] jeffpatton1971 commented on #1948
Additionally check the get-help for Set-AzureRmLocalNetworkGateway it's missing a lot in PowerShell and apparently errors out

Get-Help Set-AzureRmLocalNetworkGateway -Online
Get-Help : The online version of this Help topic cannot be displayed because the Internet address (URI) of the Help topic is not specified in the command code or in the help file for the command.
At line:1 char:1
+ Get-Help S

[2017-01-19 20:10] markcowl opened #3408 "Prepare private repository for builds"
Need to update a branch of the private repository for use by partners, including

- [x] Bring a branch up to date with the dev branch
- [x] Update powershell-pr, powershell-pr-on-demand,  and powershell-pr-sign jobs to work against the new branch of the repo.
-  [x] Verify passing check-in, on-demand, and signign runs

[2017-01-19 20:14] markcowl commented on #3407
@dmittal02 Please include the text of the cmdlet invocation (what command line did you use) and a description of the expected result.  Also, can you try your command with the latest version?

[2017-01-20 01:51] singlekorn commented on #2873
@inghak @Fazered Thank you.  This also resolved my issue today.

[2017-01-20 18:00] adumont opened #3410 "New-AzureRmWebApp forces the webapp to be attached to the Plan's resource group"
### Cmdlet(s)

New-AzureRmWebApp

### PowerShell Version
Instructions: to get PowerShell version, type `$PSVersionTable` and look for the value associated with `PSVersion`

Name                           Value
----                           -----
PSVersion                      4.0
WSManStackVersion              3.0
SerializationVersion           1.1.0.1
CLRVersion                     4.0.30319.342

[2017-01-20 18:03] adumont commented on #3390
I had a similar issue today, where the CmdLet wouldn't find an existing Service Plan and I noticed that the ResourceGroup parameter is related to the Plan, not the WebApp.

I have opened an issue for this, https://github.com/Azure/azure-powershell/issues/3410. Maybe your issue is related ?

[2017-01-20 19:19] markcowl opened #3411 "Telemetry Design for BootStrapper"

[2017-01-21 09:20] consultguru commented on #2283
We are now getting this issue.
New resourcegroup.
9 deployment templates
co-relationid is

01:18:38 - [ERROR] New-AzureRmResourceGroupDeployment : Encountered internal server error.
01:18:38 - [ERROR] Diagnostic information: timestamp '20170121T091835Z', subscription id
01:18:38 - [ERROR] '46366488-8b43-4110-8318-9f512806d6cf', tracking id
01:18:38 - [ERROR] '306612b6-f8d6-428a-a26b-07f0fdcacc9d',

[2017-01-22 09:06] takekazuomi opened #3413 "Set-AzureRmVirtualNetworkGatewayConnectionSharedKey command display incorrect failing message."
###  Cmdlet(s)

Set-AzureRmVirtualNetworkGatewayConnectionSharedKey

###  PowerShell Version

5.1.14393.576

###  Module Version

3.4.0

###  OS Version

10.0.14393.576

### Description
Set-AzureRmVirtualNetworkGatewayConnectionSharedKey allways display error. But secret is changed.
This is an obstacle to scripting.

[code]

### Debug Output
[code]

[2017-01-23 16:42] olandese opened #3414 "Get-AzureRmRoleAssignment with ResourceGroupName parameter gives wrong output"
### Cmdlet(s)

Get-AzureRmRoleAssignment

### PowerShell Version
5.1.14393.693

### Module Version
3.5.0

### OS Version
10.0.14393.693

### Description
In my subscription I have to following Resource Groups:

Test
Test1
Test2
TestFool

And to this Resource Groups a principal has the Owner Role.

Calling the Get-AzureRmRoleAssignment with the following parameters:
- ServicePrincipalName
- RoleDefi

[2017-01-23 18:29] dmittal02 commented on #3407
To give you more context, we are using this command line in VSTS build Azure PowerShell build task.
this is the command line, we use:
Get-AzureRmRoleAssignment
and this command line will be executed on hosted build agent.
In fact for customer when he run it on the private build agent to which he can remote, he get the required data, but I am getting authorization error there as well.
Please let me

[2017-01-24 00:39] markcowl commented on #3410
@akurmi @Nking92 Can you take a look?

[2017-01-24 00:41] markcowl commented on #3413
@DeepakRajendranMsft Please take a look

[2017-01-24 00:44] markcowl commented on #3414
@shuagarw Looks like this might be an issue with parameter sets, please take a look.

@olandese What happens when you specify only the service principal name and resource group name?  I *think* the intention of the cmdlet is to allow listing by rg + spn or rg + rolename, but not rg + spn +rolename

[2017-01-24 01:26] shuagarw commented on #3414
@RbacAsk for FYI @olandese Since you are specifying -ServicePrincipalName  param but not providing a value this might be behaving erratically. This looks like a bug because it should complain about the value not provided.
Apart from that, if you don't need to filter on service principal name, skip that param altogether. And just specify ResourceGroupName as 'Test1' and 'RoleDefinitionName' as Owne

[2017-01-24 12:21] ward0 commented on #2701
Having same problem still, but not every day.. very hard to debug..

[2017-01-24 12:25] olandese commented on #3414
@shuagarw sorry, my example was missing the parameter for the principal. I am actually calling the cmdlet also with the principal value.
So, calling the cmdlet with the following parameters (and values):
 - ServicePrincipalName
 - RoleDefinitionName
 - ResourceGroupName

I am expecting to get ONLY the result for the speficied ResourceGroup, Principal and RoleDefinition

[2017-01-24 12:54] olandese commented on #3414
@markcowl calling the cmdlet as:

Get-AzureRmRoleAssignment -ServicePrincipalName 4ff23b35-2570-483a-b4d2-d446ff0703a6 -RoleDefinitionName owner -ResourceGroupName Test1

Gives exactly the same result as:

Get-AzureRmRoleAssignment -ServicePrincipalName 4ff23b35-2570-483a-b4d2-d446ff0703a6 -ResourceGroupName Test1

Result:

RoleAssignments for:

- Test1
- Test

Calling the cmdlet for Test3 like:
G

[2017-01-24 14:30] raandree commented on #2701
You can reproduce this when deleting a resource group with VMs and in parallel create new ones. We faced this when testing [AutomatedLab](https://github.com/AutomatedLab/AutomatedLab).

[2017-01-24 19:00] MattAllison commented on #3173
The lack of accurate help is a big problem.

Guys, this is killing me right now - I'm trying to train new staff on how to do things in ARM and one of the most basic commands doesn't work as advertised.

[2017-01-24 19:08] ravbhatnagar commented on #3173
@MattAllison @jonsabo - Apologies for this issue here and that its taken us long to fix. Please feel free to send a PR for this fix. Else we will address it in the upcoming release.

[2017-01-24 19:16] distomin commented on #1200
Also it's sad to wait while Stop-AzureRmVm working in azure function

[2017-01-24 19:18] MattAllison opened #3415 "Get-AzureRMResource -ResourceGroupName failing"
### Cmdlet(s)
Get-AzureRMResource

### PowerShell Version
PSVersion                      5.0.10586.117

### Module Version
ModuleType Version    Name
---------- -------    ----
Script     2.5.0      AzureRM.profile
Script     3.5.0      AzureRM.Resources
Script     2.5.0      AzureRM.Storage

### OS Version
BuildVersion                   10.0.10586.117

### Description
Get-AzureRMResource failing

[2017-01-25 00:16] shahabhijeet commented on #3408
Created a new view on Jenkins called "Azure-PS-Private"
Created three new jobs (we need shorter names for the jobs. We are very close to surpass 255 path limit and so having shorter jobs names)
1. AzPsPri-Checkin (gets kicked off on every PR)
2. AzPsPri-OnDemand
3. AzPsPri-Sign

[2017-01-25 00:18] #3408 closed

[2017-01-25 08:39] keeshuizer commented on #3376
Any news/progress on this issue? I want to continue working on my script/gui but this little bug doesn't make that very easy :-(

[2017-01-25 16:05] efridman commented on #3407
@markcowl We get the same error when we try to call Get-AzureRmRoleAssignment in our VSTS release pipeline from an Azure PowerShell release task. This is running on a hosted agent with an Azure Resource Manager connection. The Azure PowerShell version on the hosted agent is 3.1.0.

[2017-01-25 17:29] jiimaho commented on #2916
So is it safe to use `Install-Module AzureRM -AllowClobber`?

[2017-01-26 01:01] JoeBrockhaus commented on #1920
@ravbhatnagar Can you link to the other issues you refer to? I currently cannot find any open, and yet this issue still exists (at the API).

for instance, I'm getting:

[2017-01-26 01:10] ravbhatnagar commented on #1920
@JoeBrockhaus - As noted by @TianoMS  in one of the comments above, for the $filter to work in the query,"$" needs to be escaped with `. Please let me know if you still see this issue.

[2017-01-26 02:42] JoeBrockhaus commented on #1920
@ravbhatnagar I see. I don't think this is something I have direct control over, as I'm using the ResourceManagementClient from v1.4.0-preview of Microsoft.Azure.Management.ResourceManager.

I just created a bug over there, I'll reference your comment. Thanks.

[2017-01-26 07:52] theMichaelB opened #3425 "Create custom attribute for obsolete cmdlets, parameters, and properties"
when running a script with a a large number of cmdlets in (as I imagine is generally the case) there can be a couple of instances of

`WARNING: The output object type of this cmdlet will be modified in a future release.`

there then needs to be a piece of investigation work before any upgrades can be done to the Azure PS version because you don't know which cmdlet will be modified.

Can the warnin

[2017-01-26 10:09] AWahlqvist opened #3426 "Import-Module step in the Azure modules is clogging up the logs in Azure Automation"
### Cmdlet(s)
[Module manifests](https://github.com/Azure/azure-powershell/blob/2eaf6175bc2533b83689120dc7f595ff0bdf8001/tools/UpdateModules.ps1#L33)

### PowerShell Version
Version 5 and later

### Module Version
At least 2.3 and forward

### OS Version
Windows/Azure Automation

### Description
When Azure (non-RM) module is imported, the .psm1 file is loading the Azure.Storage module since it is

[2017-01-26 13:30] Bartolomeus-649 opened #3427 "More complete and detailed error (exception) messages"
_All versions, all platforms, all OS_

Anytime you get an error message or an Exception you should get ALL the available error information.

It seem that today only the `<Code>` and `<Message>` tags from the respons from the REST API is included in the Exception you get when executing a cmd-let.

Here is an example of a response to the PUT REST API call for creating a Directory in Azure Storage Fi

[2017-01-26 16:58] nerville opened #3428 "Export-AzureRmResourceGroup -Path option weird behavior"
### Cmdlet(s)

           Export-AzureRmResourceGroup

### PowerShell Version
Instructions: to get PowerShell version, type `$PSVersionTable` and look for the value associated with `PSVersion`

           PSVersion                      5.1.14393.693

### Module Version

           PS C:\Users\frvillau\Templates> (Get-Module azure -ListAvailable).Version

           Major  Minor  Build  Revision

[2017-01-26 19:10] sqlchick commented on #2688
Uninstalling, then reinstalling from the [msi download](https://github.com/Azure/azure-powershell/releases) also resolved this issue for me.

[2017-01-26 20:07] markcowl opened #3429 "Refactor Microsoft.Azure.Commands.Common.Authentication"
### Description
Refactor common.authentication to totally abstract ADAL from all cmdlet implementations (modulo KeyVault)
- [ ] Determine the cost of providing ```Invoke-AzureRmRestMethod``` cmdlet that can make authenticated http calls using the current authentication context.  Write an external specification fo the cmdlet.
- [ ] Determine the impact of removing the direct ADAL dependency from Ke

[2017-01-26 20:14] markcowl opened #3430 "Use common Storage libraries (Storage and Storage.Management) in non-storage cmdlets"
- [ ] Use the Storage and Storage.Management common libraries for all projects that previously relied on WindowsAzure.Storage or other Storage SDK references
- [ ] Make sure these changes work for NetCore projects

[2017-01-26 20:15] bganapa opened #3431 "Provision to pass Tenant name instead of Tenant Id GUID in Add-AzureRmAccount"
### Cmdlet(s)
Add-AzureRMAccount
### PowerShell Version
powershell v5, 1.2.8 azurestack version

### Module Version
1.0.4.2
### Description
Add-AzureRmAccount is accepting only TenantId as guid.  All the azurestack customers invariably need to pass the TenantId parameter while loggin in. Getting the Tenant ID is convoluted and not easy to remember . This should support passing the tenant name as w

[2017-01-26 20:16] bganapa commented on #3431
@markcowl  to look at this issue, I don't think there is a limitation from ADAL library to accept the tenant name

[2017-01-26 20:24] markcowl opened #3432 "Refactor ResourceManagement common code used by cmdlets"
### Description

Remove dependencies on ResourceManager cmdlets from cmdlets other than AzureRM.Resources.  Determine whether this should be done by (1) Encapsulating needed functionality into an abstraction used by cmdle6s or (2) Capturing ResourceManager generated code in the library and moving all non-resourcemanager cmdlets to using this code ratehr than the nuget package for resource manager.

[2017-01-26 20:28] markcowl opened #3433 "Refactor StorageManagement common code to remove dependency on management packages"
### Description

Remove dependencies on the StorageManagement nuget package from ARM cmdlets other than AzureRM.Storage.  Determine whether this should be done by (1) Encapsulating needed functionality into an abstraction used by cmdle6s or (2) Capturing SorageManagement generated code in the library and moving all non-rstoragemanagement cmdlets to using this code ratehrthan the nuget package for

[2017-01-26 20:32] markcowl opened #3434 "[PlaceHolder]: Create Common library for Storage Data Plane"
### Description

Placeholder to be fleshed out after the associated prototyping issue: #3430

[2017-01-26 20:35] #2392 closed

[2017-01-26 20:38] markcowl opened #3435 "Identify and Remove all dependencies on other cmdlet projects from ARM cmdlet projects"
### Description

Identify and remove all remaming cmdlet project depednencies from ARM cmdlet projects.  Move to common code dependencies.

### Cost: 4

[2017-01-26 20:46] markcowl opened #3436 "Identify and Remove common dependencies on management packages"
### Description

If a management project is used in multiple modules, it should be moved to common code.  The module that corresponds to the RP for the manageemnt project should eb able to take a direct depednency.  Any other modules should take a depednency either on a common code abstraction or a commn captured version of the geenrated code for the manageemnt cleint.

- [x] Identify each such co

[2017-01-26 20:54] markcowl opened #3437 "Create common dependencies project"
### Description

Create the common depednencies project based on the new module prototype,  Common assemblies project will contain all common runtime assemblies used by all modules, this includes the following list:
- Hyak.Common.dll
	- 1.0.3
- Microsoft.ApplicationInsights.dll
	- 1.1.1-beta
- Microsoft.Azure.Common.dll
	- 2.1.0
- Microsoft.Azure.Common.NetFramework.dll
	- 2.1.0
- Microsoft.Azure.

[2017-01-26 21:54] safeermohammed commented on #3235
@sk1tt1sh Can you share the module name, your SubscriptionId, Automation Account name and region?
Also can you confirm the Runbook job that fails was not started on Hybrid Worker

[2017-01-26 22:04] safeermohammed commented on #3398
Hi @dacarab, We are still looking into this issue. Meanwhile can you try the below workarounds if it meets your scenario?

Options1: Use Get-AzureRmResource cmdlet, this would return tags
Options2: As mentioned in  issue #3044,  pipe the output to get all properties
Get-AzureRmAutomationAccount | Get-AzureRmAutomationAccount

[2017-01-27 10:46] itaysk commented on #726
@tfitzmac @ravbhatnagar The docs are still wrong:
https://docs.microsoft.com/en-us/powershell/resourcemanager/azurerm.resources/v3.4.0/set-azurermresourcegroup

[2017-01-27 11:01] itaysk commented on #726
I would also like to add that the tags property in `Find-AzureRmResourceGroup` is a PSCustomObject, and the tags property in  `Get-AzureRmResourceGroup` is a HashTable. I think we should pick one. I would vote for Hashtable because it is easier to manipulate.

[2017-01-27 11:42] rajeshbshinde commented on #1597
Hi,

I have created generalised VHD and trying to create a VM using the Java-SDK. Please find the code below,

While running the code I am getting below error,
Java code that I have written is as below,

if(platform.equalsIgnoreCase("linux")||platform.equalsIgnoreCase("unix"))
		{
			vm = azure.virtualMachines().define(vmName).withRegion(region).withExistingResourceGroup(rgName)
					.withNewPrima

[2017-01-27 11:53] dmittal02 commented on #3407
@markcowl Here is the script as with which we are able to reproduce it locally:

$psCredential = New-Object System.Management.Automation.PSCredential(
            "serviceprincipalID",
            (ConvertTo-SecureString "Password" -AsPlainText -Force))
Add-AzureRMAccount -ServicePrincipal -Tenant "<tenantID>" -Credential $psCredential
$additional = @{}
$additional['TenantId'] = "<TenantID>"
Selec

[2017-01-27 16:55] webbermt opened #3442 "Setting StorageKeyType to Secondary in Set-AzureRmSqlServerAuditingPolicy doesn't work"
### Cmdlet(s)
Set-AzureRmSqlServerAuditingPolicy

### PowerShell Version
5.1.14393.693

### Module Version
2.5.0      AzureRM.profile
2.5.0      AzureRM.Sql

### OS Version
10.0.14393.693

### Description
Setting StorageKeyType to Secondary in Set-AzureRmSqlServerAuditingPolicy will not change the audit policy setting for StorageKeyType from Primary to Secondary.  The POST to the https://managemen

[2017-01-27 18:25] cormacpayne commented on #3186
Fix can be found [here](https://github.com/cormacpayne/azure-powershell/tree/subscription-paging-fix)

Will update with PR once https://github.com/Azure/azure-powershell/pull/3423 is merged

[2017-01-27 18:41] markcowl commented on #3407
What are the permissions in ActiveDirectory of your service principal?  To use the role assignment cmdlets,  you need access to the graph api, which is managed by permissions granted to your service principal in AD.  To view role assignments, you will need at least read access to the tenant in AD.

[2017-01-27 18:56] wangzq opened #3443 "Unable to import module AzureRM.ServiceBus in 3.4.0 but it works in 3.3.0"
### Cmdlet(s)

### PowerShell Version
Instructions: to get PowerShell version, type `$PSVersionTable` and look for the value associated with `PSVersion`

### Module Version

### OS Version
Instructions: to get OS version, type `$PSversionTable` and look for value associated with `BuildVersion`

### Description

### Debug Output
Instructions: to get Debug Output, set `$DebugPreference="Continue"` a

[2017-01-27 19:11] markcowl commented on #3326
@Jaykul This is specifically designed to allow using the aliases across thew widest set of ExecutionPolicies on a user machine.  Closing as by design.

[2017-01-27 19:11] #3326 closed

[2017-01-27 19:12] markcowl commented on #3316
Fixed.

[2017-01-27 19:12] #3316 closed

[2017-01-27 19:12] markcowl commented on #3315
Fixed.

[2017-01-27 19:12] #3315 closed

[2017-01-27 19:16] markcowl commented on #3205
Closing as fixed.

[2017-01-27 19:16] #3205 closed

[2017-01-27 19:32] markcowl commented on #3019
Closing.

[2017-01-27 19:32] #3019 closed

[2017-01-27 19:39] markcowl commented on #2902
won't fix

[2017-01-27 19:39] #2902 closed

[2017-01-27 22:06] markcowl commented on #3431
This is a duplicate of https://github.com/Azure/azure-powershell/issues/2693. Closing as duplicate.

The tenantID is part of the authroty string passed to ADAL, ADAL does not recall tokens acquired using the domain name as authority when using the tenant id to retrieve.  The fix requires a change to the data that is stored about a token.

[2017-01-27 22:06] #3431 closed

[2017-01-28 10:44] andyjballgit commented on #2873
I just hit this issue again running Get-AzureRMApplicationGateway and installled "over the top" of existing installation as per @Fazered s post above and fixed for me

[2017-01-28 15:34] IvanovOleg opened #3445 "How to get a Bing Maps query key?"
Hi,
Is it possible to get a Bing Maps query key using powershell? There is no information about keys in the ARM templae output...

[2017-01-30 01:59] twitchax commented on #3329
Approved, pending resources post May 2017.  Moving to backlog.

[2017-01-30 02:42] twitchax commented on #3030
Approved for Static Analysis rule.  Probably post May 2017.

[2017-01-30 02:45] twitchax commented on #2917
We should split this into two issues: one for network, and one for us.

If at all possible, I propose that we include this in our post-moratorium release as it will be a breaking change.

[2017-01-30 02:54] twitchax commented on #2870
Approved for investigation.  If existing APIs can achieve this, then I propose we fix.  If this behavior cannot be addressed without large changes to existing infrastructure, then I propose we close as by design.

@markcowl, @cormacpayne, @shahabhijeet, do we have any time this milestone to make this investigation?  Or, should we coalesce this into future auth changes?

[2017-01-30 02:58] twitchax commented on #2777
This is not about Azure PowerShell cmdlets.  The issue described to the author pertains to using Azure PowerShell's Client ID in a UWP application using .NET client libraries.

There may be an issue here for the .NET SDK, but it would require some investigation there.

@sphibbs, can you bring in the OP so I can work with them on moving this issue?  Closing...

[2017-01-30 02:58] #2777 closed

[2017-01-30 03:01] twitchax commented on #2100
@markcowl, I need some context here.  Should I rename this issue to "There should be aliases for ASM cmdlets which begin with 'AzureRm'"?

[2017-01-30 03:07] twitchax commented on #1546
With guidance from @joeyaiello, this change is approved for our next breaking change release.

Most shell commands tend to _at least_ warn on a failed delete/remove.  For example,

[code]
also fails similarly to the PowerShell example @pcgeek86 provided.  It might make sense to include a `-Force` switch since the `-f` switch for `rm` is silent when a resource does not exist.

Moving to May 2017.

[2017-01-30 06:56] mvvsubbu commented on #3116
Hey we are not using GeoReplicationEnabled property in our invocation of the command let, still we are getting this warning. I am not sure as a developer what should I do to fix this warning? Should I stop using this command let, if yes what is the replacement you would recommend?

[2017-01-30 07:30] mvvsubbu commented on #3116
Adding Muthu @kmkumaran  who also wants to know how to handle this.

[2017-01-30 15:21] spaelling opened #3446 "Get-Help Set-AzureRmVMDscExtension -Examples uses an obsole -Version"
### Cmdlet(s)
Set-AzureRmVMDscExtension

### PowerShell Version
5.1.14393.693

### Module Version
2.5.0

### OS Version
10.0.14393.693

### Description
The examples from Set-AzureRmVMDscExtension suggests using version 1.10 which is obsolete. Version should be "2.7" or "2.8"

### Debug Output
``
Get-Help Set-AzureRmVMDscExtension -Examples

NAME
    Set-AzureRmVMDscExtension

SYNOPSIS
    Configur

[2017-01-30 17:41] cormacpayne commented on #3446
@singhkays Hey Kay, would you mind taking a look at this issue?

[2017-01-30 18:30] singhkays commented on #3446
@cormacpayne This should be assigned to the DSC team

[2017-01-30 20:05] zechariahks commented on #3389
Hi Pooneh,

sorry for replying late. I am able to resolve this issue now. we were not executing the Set-AzureRmKeyVaultAccessPolicy command properly. we have corrected the issue and it is working now. Thank you for the help.

[2017-01-30 20:05] #3389 closed

[2017-01-31 13:01] mvvsubbu commented on #3116
Ping

[2017-01-31 19:29] markjbrown commented on #1948
Hi folks. We just recently published updates to our online help for PS to include the examples.

Apologize for the delay in this. We had some hiccups in our publishing process. Thanks for your patience and thank you for raising this with us.

[2017-01-31 22:28] singhkays commented on #3376
@hyonholee Can you take a look if this is same as #3205 ?

@twitchax In #3205 you mentioned.

Since this seems like the same issue, has there been any update on making PS thread safe?

[2017-01-31 23:01] zaflux opened #3449 "Unable to catch exception / error thrown by Import-AzureRmApiManagementApi"
### Cmdlet(s)
Import-AzureRmApiManagementApi

### PowerShell Version
Name                           Value
----                           -----
PSVersion                      5.0.10586.51
PSCompatibleVersions           {1.0, 2.0, 3.0, 4.0...}
CLRVersion                     4.0.30319.42000
WSManStackVersion              3.0
PSRemotingProtocolVersion      2.3
SerializationVersion           1.1.0.1

#

[2017-01-31 23:43] twitchax commented on #3376
@shahabhijeet, can we engage compute to see if this is the same issue that storage has?  Or, is this possibly caused by our underlying lack of support for concurrency?

[2017-02-01 00:18] cormacpayne commented on #3449
@solankisamir Hey Samir, would you mind taking a look at this issue?

[2017-02-01 07:11] markcowl commented on #3443
@wangzq What failure output do you see when attempting this?

[2017-02-01 07:12] markcowl commented on #3445
@ravbhatnagar Can you provide any details about this RP?

[2017-02-01 09:29] solankisamir commented on #3449
@cormacpayne sure.

[2017-02-01 10:31] takekazuomi opened #3450 "Get-AzureRmVMAccessExtension doesn't work for Linux VM."
### Cmdlet(s)
Get-AzureRmVMAccessExtension

### PowerShell Version
5.1.14393.693

### Module Version
3.4.0

### OS Version
10.0.14393.693

### Description
Get-AzureRmVMAccessExtension never return Linux VM's VM AccessExtension information.  Linux vm  always empty results.

It works fine on Windows VM.

 ### Debug Output

[code]

[2017-02-01 11:15] efridman commented on #3407
@markcowl It looks like missing AAD permissions were the cause of our issue. Thanks.

[2017-02-01 14:24] wangzq commented on #3443
[code]

[2017-02-01 16:41] akromm commented on #3442
@yaakoviyun Can you look at this.

[2017-02-01 17:11] yaakoviyun commented on #3442
Fix is in progress by:  Ayelet Shpigelman

[2017-02-01 17:12] yaakoviyun commented on #3392
Fix is in progress by:  yaakoviyun

[2017-02-01 17:37] cormacpayne commented on #3450
@singhkays Hey Kay, would you mind taking a look at this issue?

[2017-02-01 20:36] bganapa commented on #3202
@cormacpayne powershell version used is 1.2.8

[2017-02-02 00:03] eshaparmar commented on #3446
This will be fixed in the next azure PS release. Thanks!

[2017-02-02 19:24] #3264 closed

[2017-02-02 19:25] cormacpayne commented on #3264
Fix has been merged

[2017-02-02 19:25] cormacpayne commented on #2919
Fix has been merged

[2017-02-02 19:25] #2919 closed

[2017-02-02 19:26] cormacpayne commented on #2861
Fix is in PR https://github.com/Azure/azure-powershell/pull/3423

[2017-02-02 22:30] mrdenny opened #3459 "Get-AzureRmVm returning blank value"
When I run Get-AzureRmVm to get a VM I'm getting a blank value back.

### Cmdlet(s)
Get-AzureRmVm

### PowerShell Version
Instructions: to get PowerShell version, type `$PSVersionTable` and look for the value associated with `PSVersion`
Name                           Value
----                           -----
PSVersion                      5.1.14393.693
PSEdition                      Desktop
PSCom

[2017-02-02 22:40] cormacpayne commented on #3459
@singhkays Hey Kay, would you mind taking a look at this issue?

[2017-02-02 23:55] mikler opened #3461 "Clean Windows 10 Install is Completely Broken"
### Cmdlet(s)

### PowerShell Version
PSVersion                      5.1.14393.693
PSEdition                      Desktop
PSCompatibleVersions           {1.0, 2.0, 3.0, 4.0...}
BuildVersion                   10.0.14393.693
CLRVersion                     4.0.30319.42000
WSManStackVersion              3.0
PSRemotingProtocolVersion      2.3
SerializationVersion           1.1.0.1

### Module Version

[2017-02-03 01:16] cormacpayne commented on #3461
Handled offline. Closing issue.

[2017-02-03 01:16] #3461 closed

[2017-02-03 01:45] singhkays commented on #3459
@mrdenny I can't repro this on the latest PS (1/18/17). I'm getting back expected values

[code]

Are you sure you credential token hasn't expired? Try running Login-AzureRmAccount again.

[2017-02-03 01:47] mrdenny commented on #3459
Yes because it works on some VMs not others.

What timezone are you in. We can schedule a call tomorrow and I can show you via Lync.

Thank You,
Denny Cherry

________________________________
From: Kay Singh <notifications@github.com>
Sent: Thursday, February 2, 2017 5:45:41 PM
To: Azure/azure-powershell
Cc: Denny Cherry; Mention
Subject: Re: [Azure/azure-powershell] Get-AzureRmVm returning blank

[2017-02-03 04:51] RayBrindley commented on #2873
I tried doing this but it is still a problem for me. I have tried it on different type of connections and all get the same issue! Any ideas on why it happens?

[2017-02-03 05:18] invisibleaxm commented on #2873
hi there, i tried the work-around with no luck. Any ETA on a fix ?

Thanks!

[2017-02-03 09:46] blueww commented on #3116
You can continue to use the cmdlet, as you don't use the GeoReplicationEnabled property, actually the change should have no impact to you.
As remove GeoReplicationEnabled property is a breaking change, we need to wait for a major release which allows breaking change to remove it.

[2017-02-03 10:25] mvvsubbu commented on #3116
Ideally this warning shouldn't be displaced to everyone. It should be displayed only if user's are using that property that way people like we will not get that messages. Can that be done? Otherwise once in every few days someone comes back saying please fix the task. which we can't do anything.

[2017-02-03 18:45] cormacpayne opened #3463 "CredScan exception should point to appropriate documentation"
If the CredScan tool flags a pull request for containing possible secrets, the error message doesn't give any information on how to resolve the issue:

[code]

We need to update this exception message to point partners to the [credscan.md](https://github.com/Azure/adx-documentation-pr/blob/master/engineering/credscan.md) file so they are able to quickly resolve this issue without having to go thro

[2017-02-03 20:34] markcowl commented on #307
This is fixed now.  Closing

[2017-02-03 20:34] #307 closed

[2017-02-03 20:59] cormacpayne commented on #3067
Fix has been merged.

[2017-02-03 20:59] #3067 closed

[2017-02-03 20:59] cormacpayne commented on #3366
Fix has been merged.

[2017-02-03 21:48] twitchax commented on #2199
Closing as won't fix.

[2017-02-03 21:48] #2199 closed

[2017-02-03 21:50] twitchax opened #3464 "Remove outdated documentation for New-AzureServiceProject."
### Cmdlet(s)
New-AzureServiceProject.

### Description

Outdated documentation is confusing, and customers should move to WebApps!

[2017-02-03 23:54] aravsun opened #3465 "azurermmlWebservice throwing error "The StorageAccount cannot be changed.""
### Cmdlet(s)
Update-AzureRmMlWebService
### PowerShell Version
5.1.14393.693

### OS Version
10.0.14393.693

### Description

I am trying to use the azurermmlWebservice to deploy the newly trained model onto a predictive web service which has a ml model .

I have followed steps here https://docs.microsoft.com/en-us/azure/machine-learning/machine-learning-retrain-existing-resource-manager-based-we

[2017-02-04 00:55] stewartadam commented on #2807
Issue with Azure portal is still around, can't add any alerts there but it appears that once a rule is added, it is editable in the portal.

I was able to add a rule using the Azure CLI.

[2017-02-04 01:00] cormacpayne commented on #3464
Links from original issue https://github.com/Azure/azure-powershell/issues/2199

https://azure.microsoft.com/en-us/documentation/articles/cloud-services-nodejs-develop-deploy-express-app/

https://azure.microsoft.com/en-us/documentation/articles/cloud-services-nodejs-develop-deploy-app/

[2017-02-04 01:17] vinatara opened #3467 "Add test for change in PSApplicationGatewaySslCertificate.cs"
### Cmdlet(s)
New-AzureRmApplicationGatewaySslCertificate

### PowerShell Version
The one after 5.1.14393.693

### Module Version

### OS Version
The one after 10.0.14393.693

### Description
Need to add unit test for change in PSApplicationGatewaySslCertificate.cs. We now read the whole pfx file instead of the last certificate in the pfx chain.

[2017-02-04 08:28] blueww commented on #3116
I agree it's a better benavior that only show the warning when use the GeoReplicationEnabled parameter.
Will open a task for it and work it based on our bandwidth and priority list.

[2017-02-05 13:16] takekazuomi commented on #3344
confirmed. Thank you.

[2017-02-05 13:16] #3344 closed

[2017-02-05 13:17] takekazuomi commented on #3339
confirmed. Thank you.

[2017-02-05 13:17] #3339 closed

[2017-02-05 13:18] takekazuomi commented on #3413
confirmed. Thank you.

[2017-02-05 13:18] #3413 closed

[2017-02-05 13:19] takekazuomi commented on #3450
confirmed. Thank you.

[2017-02-06 04:00] mvvsubbu commented on #3116
Thanks. Please do update the thread here once you fix the issue, so that we can notify our customers

[2017-02-06 04:06] takekazuomi commented on #3450
I made a mistake

[2017-02-06 08:12] Machsol-Usman opened #3468 "Get-AzureADObjectSetting missing variable "-InformationVariable""
### Cmdlet(s)
Get-AzureADObjectSetting

### PowerShell Version
4.0

### Module Version
2.0.0.52

### OS Version
6.3.9600.17400

### Description
Hi All,

I wanted to Get and Set thumbnailPhoto of an ADUser. I tried to use "Get-AzureADObjectSetting" but the command is not accepting -InformationVariable or -IV as input. I get below error:

### Debug Output
Get-AzureADObjectSetting : A parameter canno

[2017-02-06 15:29] 1RedOne opened #3470 "Remove-Item -WhatIf doesn't work with the WSMan: provider"
### PowerShell Version

[code]

### OS Version

Windows 10.0.14986 with newest PowerShell

### Description

Assume someone wants to confirm what will happen when removing a WSman listener, as seen here.
[code]

PowerShell has taught us that -WhatIfs are free but a Remove can cost you, so we then try to confirm we've got the right listener selected.

Very strangely, we're prompted to see if we mean

[2017-02-06 21:01] 1RedOne commented on #3470
Wrong repo, please ignore

[2017-02-06 21:01] #3470 closed

[2017-02-07 06:46] yaakoviyun commented on #3392
Fix is merged in:
https://github.com/Azure/azure-powershell/pull/3457

[2017-02-07 17:18] #3392 closed

[2017-02-07 20:51] joshuapetryk opened #3474 "AzureRmTrafficManagerEndpoint cmdlets throw BadRequests"
### Cmdlet(s)
Disable-AzureRmTrafficManagerEndpoint
Enable-AzureRmTrafficManagerEndpoint

### PowerShell Version
PSVersion                      5.0.10586.117

### Module Version
2.5.0      AzureRM.TrafficManager

### OS Version
BuildVersion                   10.0.10586.117

### Description
We are getting server errors when attempting to disable or enable TM endpoints via RM cmdlets. We are not doi

[2017-02-07 22:44] KrishnaV-MSFT opened #3475 "Login-AzureRMAccount wrongly specifies Enable-AzureDataCollection is in module AzureResourceManager"
### Cmdlet(s)

### PowerShell Version
PS C:\> $psversiontable

Name                           Value
----                           -----
PSVersion                      5.1.14393.693
PSEdition                      Desktop
PSCompatibleVersions           {1.0, 2.0, 3.0, 4.0...}
BuildVersion                   10.0.14393.693
CLRVersion                     4.0.30319.42000
WSManStackVersion

[2017-02-08 00:42] #3465 closed

[2017-02-08 00:44] aravsun commented on #3465
this was because, i was trying to get the ilearner model which was stored in a different storage account , than the one i was logged into using the addazurermaccount.

[2017-02-08 11:07] ianalderman opened #3481 "2.5.0 Get-AzureRMVM does not support Async"
### Cmdlet(s)
Get-AzureRmVM

### PowerShell Version
Azure Functions current version

### Module Version
2.5.0

### OS Version
Azure Functions current version

### Description
I am trying to use the lastest module for Get-AzureRMVM (2.5.0) in an Azure Function.  The call fails with the exception below:

[code]

If I use the built in version of AzureRM.Compute module the command is successful howeve

[2017-02-08 13:58] RDalziel commented on #3443
Getting the same, Service Bus seems to be missing following an update from the web platform installer.

[2017-02-08 14:09] RDalziel commented on #3443
Fixed by getting the latest RM from the gallery

https://www.powershellgallery.com/packages/AzureRM/3.4.0

[2017-02-08 17:52] markcowl commented on #3407
@efridman @dmittal02 Can you guys verify that this was resolved?

[2017-02-08 18:15] efridman commented on #3407
@markcowl Yes, our problem did turn out to be that the SPN did not have permissions on AAD. Thanks.

[2017-02-09 08:45] laughtonsm commented on #1817
I too am still seeing this issue when trying to perform a similar operation.  I'm creating several instances of type Microsoft.Network/networkSecurityGroups/securityRules, which are dependent on a single instance of type  Microsoft.Network/networkSecurityGroups.  The returned error is as follows:

`Template deployment returned the following errors:
Resource Microsoft.Network/networkSecurityGroups/

[2017-02-09 10:47] aelij commented on #3429
I'm not sure if this is related to this issue, but it would be great if you could also add support for ADAL's `AcquireDeviceCodeAsync` (i.e. login using http://aka.ms/devicelogin, like the xplat CLI offers). It has several advantages (for MSAs): it's usable in remote sessions and you can utilize existing browser sessions and password managers.

[2017-02-09 15:22] philhack commented on #3410
@akurmi @Nking92  I'm encountering the exact same issue. Are you able to investigate this?  Thanks.

[2017-02-09 18:29] markcowl opened #3487 "Investigate: UserPrincipal interactive authentication not working in TestFramework"
Multiple teams are reporting that interactive user authentication is not working for test recording.

Users who use their corpnet accounts and supply a subscriptionId in the test connection string should be able to display the dialog to authenticate.

[2017-02-09 18:35] jasper-schneider commented on #3487
Adding my anecdotal experience.
I was able to successfully record my tests with interactive auth back in November.  It looks like the AAD and Microsoft.Rest.ClientRuntime.Azure.TestFramework packages were updated in December.  When I went to re-record in January, I hit an exception.

The line of code that generated the exception for me was:
context.GetServiceClient<BatchManagementClient>(TestEnvir

[2017-02-09 19:45] Nking92 commented on #3410
We just updated our Websites SDK, so I'll be working on Powershell very soon. I'll Look into this issue

[2017-02-10 08:29] SaphuA commented on #3088
+1

[2017-02-10 15:53] slapointe commented on #639
Any news on this? we are almost a year later and still no update.

[2017-02-10 18:31] lwsrbrts commented on #1542
This tripped me up recently on a large number of resizes running from Azure Automation. Any VM with tags doesn't update if the VM object is piped in to Update-AzureRmVm. Easy to repeat and I should think relatively easy to fix?!

I worked around this by using Get-AzureRmResource in order to have the tags in a hashtable and then removed the tags using Set-AzureRmResource -Tag @{}.

I then made my u

[2017-02-10 19:13] markcowl commented on #3475
### Description
We need to update the data collection resource string to mention the appropriate module for DataCollection cmdlets.  This string is shown on the first execution after installign the cmdlets.

- [ ]  Update this string to point to the AzureRM.Profile module
- [ ] Look through resource strings for other mentions of AzureResourceManager as a module and correct.

### Cost: 2

[2017-02-10 19:58] mwheatfill commented on #1724
I think this will accomplish the same thing as above:
`Get-AzureRmVM -Status | Select ResourceGroupName, Name, PowerState`

[2017-02-10 20:45] mbsnl opened #3493 "Set-AzureRmNetworkInterfaceIpConfig parameter ApplicationGatewayBackendAddressPool causes clearing of Subnet and more"
### Cmdlet(s)
Set-AzureRmNetworkInterfaceIpConfig

### PowerShell Version
5.0 on W2012R2
5.1.15031.0 on W10

### Module Version
AzureRM.Network 3.4.0

### OS Version
W2012R2 & W10

### Description
Using the parameter ApplicationGatewayBackendAddressPool of CmdLet Set-AzureRmNetworkInterfaceIpConfig is causing the clearing of several fields:
"Subnet", "PublicIpAddress", "PrivateIpAddressVersion"
Fu

[2017-02-10 22:40] bganapa opened #3495 "Get-AzureRmStorageAccount causes ListKey to be called for every storage account in the background"
### Cmdlet(s)

### PowerShell Version
V5
### Module Version
1.2.8 version of powershell , AzureStack version
'1.0.4.2' version of the AzureRM.Storage

### Description
Calling Get-AzureRmStorageAccount causes ListKey to be called for every storage account in the background continuosly. If there are 50 storage account this will result in 50 calls, 1 for each storage account to get key. Also Key is n

[2017-02-11 15:44] IvanovOleg commented on #3445
It looks like it is possible to retrieve this key via API call:
https://main.marketplaceapps.ext.azure.com/api/manage/GetSecretKeys/subscriptions/<subscription id>/resourceGroups/<resource group>/providers/Microsoft.BingMaps/mapApis/<map service name>
At least the Azure portal sends a request to this url. I tried to reproduce it in powershell, but it looks like an access token should be retrieved

[2017-02-13 05:16] mino-s2000 commented on #3266
+1
I had same issue.

Modules version (Installing from WebPI):
PS C:\> Get-Module -Name AzureRM.Network

ModuleType Version    Name                                ExportedCommands
---------- -------    ----                                ----------------
Manifest   3.4.0      AzureRM.Network                     {Add-AzureRmApplicationGatewayAuthenticationCertificate, Add-AzureRmApplicationGatewayB

[2017-02-13 11:22] stej commented on #2915
Hi, any update about this? I'm not particularly interested in better error info, because googling helps fortunatelly to find this support issue :)

I'd like just to automate my deployment and because I'm not able to log in with my live id automatically, I'm stuck :/ Is the issue reported further so that hopefully in some future we might log in with live id credentials?

[2017-02-13 15:18] dimachait commented on #2873
Looks like this still happens in 3.5.0
PS C:\WINDOWS\system32> Get-AzureRmVirtualNetworkGatewayConnection -Name <REMOVED> -ResourceGroupName <REMOVED> -Debug
DEBUG: 10:12:53 AM - GetAzureVirtualNetworkGatewayConnectionCommand begin processing with ParameterSet '__AllParameterSets'.

DEBUG: ============================ HTTP RESPONSE ============================

Status Code:
OK

Headers:
Pragma

[2017-02-13 17:54] SamirFarhat commented on #1257
Hello all,
Is this 'bug' still alive? How do you expect customers to use Automation if isolation is not possible?

[2017-02-13 18:57] #3346 closed

[2017-02-13 19:39] shuagarw commented on #3079
@RBACAsk for FYI

@blackSphere-xx  My apologies for not looking into it before as I was on vacation at the time but then never looked at it afterwards. Is this still an issue?
The error here is misleading, usually what I have seen is that if the input roleDefinition is not correct, then it throws this generic misleading error. If its still happening, share with me the roleDefinition json object an

[2017-02-14 10:08] keeshuizer commented on #3407
@efridman We are running into the same problem. Can you elaborate on what permissions you gave the SPN? We have been trying things, but still no success

[2017-02-14 10:30] LoulG commented on #3389
@zechariahks : Hi, what was exactly the issue with your call to Set-AzureRmKeyVaultAccessPolicy ?

[2017-02-14 14:38] karlti opened #3501 "Installing MSI always fails"
### PowerShell Version
3.0

### Module Version
-/-

### OS Version
6.2.9200.16398

### Description
Trying to install "azure powershell" MSI via from http://aka.ms/webpi-azps it always fails with this error:

![err](https://cloud.githubusercontent.com/assets/946334/22933159/f037f406-f2ca-11e6-8814-03ea51f10bb4.png)

This occurs on a set of machines managed  at a corporate customer. at least seems t

[2017-02-14 19:49] viananth opened #3505 "Module Bootstrapper: Update mechanism for getting latest profile map from cache"
### Get-LatestProfileMapPath
1. Add an ordinal number to the profile map name each time it's downloaded from online cache.
2. While getting the latest map, use the largest number to retrieve from cache.

[2017-02-14 19:52] sirdank opened #3506 "Publish-AzureRmVMDscConfiguration requires Login-AzureRmAccount"
### Cmdlet(s)
Publish-AzureRmVMDscConfiguration

### PowerShell Version
5.0

### Module Version
2.0.1

### OS Version
10.0.10586.672

### Description
Since running this cmdlet with the -ConfigurationArchivePath does not connect to the network or do anything with your azure subscription, I think the requirement to have a logged in session could be removed. As is, if I want powershell to zip up my c

[2017-02-14 22:06] cormacpayne opened #3507 "Breaking change tool refactor v2"
- [ ] Add rule that allows removal of global parameter, as long as it has been added to every existing parameter set, has maintained its position, and remains mandatory if it was previously
- [ ] Fix error where the name of a type is being used as the key in a dictionary rather than assembly qualified name
    - For example, [here](https://github.com/Azure/azure-powershell/blob/preview/tools/Stati

[2017-02-14 22:37] vors opened #3508 "[question] what do you use for format ps1xml generation?"
Hello,

In [Microsoft.Azure.Commands.Compute.format.generated.ps1xml](https://github.com/Azure/azure-powershell/blob/7bb65bee5d9488a0958f39203731113af52c22c6/src/ResourceManager/Compute/Commands.Compute/Microsoft.Azure.Commands.Compute.format.generated.ps1xml#L19) you mentioned that this file is generated by a tool.
Can you, please, share what is the tool and is it available for using in other pro

[2017-02-15 08:53] efridman commented on #3407
@keeshuizer We actually did not check this all the way through, since we don't want to give the SPN permissions on AAD for other reasons. But permissions were missing and that's why we thought that was the issue. I would assume read permissions to read roles and write permissions to assign them, but I'm guessing you tried that?

[2017-02-15 10:56] andybatescc opened #3512 "Get-AzureWebsite -Name "my-web-application" -Slot Production throwing internal error"
### Cmdlet(s)
Get-AzureWebsite -Name -Slot
### PowerShell Version
Instructions: to get PowerShell version, type `$PSVersionTable` and look for the value associated with `PSVersion`
3.0
### Module Version
1.2.3 (March 2016)
### OS Version
Instructions: to get OS version, type `$PSversionTable` and look for value associated with `BuildVersion`
6.2.9200.16481
### Description
powershell command Get-Az

[2017-02-15 11:44] olafsurewaard commented on #2267
Any updates with respect to this topic?

We currently implementing an Application Service Environment with an Application Gateway in front as a reverse proxy. SSL offloading on the Application Gateway and accessing applications in the Application Service Environment  using HTTP works well. However we plan to make traffic between Gateway and Application Service Environment HTTPS as well and do not

[2017-02-15 20:21] mmcru opened #3514 "Set-AzureStorageFileContent not setting last modified date"
### Cmdlet(s)
Set-AzureStorageFileContent -Force

### PowerShell Version
Instructions: to get PowerShell version, type `$PSVersionTable` and look for the value associated with `PSVersion`
5.1.14393.693

### Module Version
2.5.0

### OS Version
Instructions: to get OS version, type `$PSversionTable` and look for value associated with `BuildVersion`
10.0.14393.693

### Description
When running `Set-

[2017-02-15 21:33] dihan0604 opened #3515 "Add tests for route filter once it is enabled on prod ARM since brazilus ARM is not supported in PS test framework"
### Cmdlet(s)

### PowerShell Version
Instructions: to get PowerShell version, type `$PSVersionTable` and look for the value associated with `PSVersion`

### Module Version

### OS Version
Instructions: to get OS version, type `$PSversionTable` and look for value associated with `BuildVersion`

### Description

### Debug Output
Instructions: to get Debug Output, set `$DebugPreference="Continue"` a

[2017-02-16 02:09] pomortaz commented on #1780
@hovsepm for remove-* this is not correct because if the vault exists it returns an empty result. It should throw if the vault doesn't exist so that the user know the operation is not successfully executed.

[2017-02-16 21:07] viananth opened #3521 "AzureStack: Wrong error message for Get-AzureRmVm"
### Cmdlet(s)
Get-AzureRmVm
### PowerShell Version
5

### Module Version
AzureRm 3.4.0

### OS Version
BuildVersion                   10.0.14393.576

### Description
In AzureStack Environment, after logging in to the stack environment, if "Get-AzureRmVm" is run, it should give a friendly error message such as “Import modules consistent to azure stack” . Instead, it gives "Get-AzureRmVM : Run Login

[2017-02-16 21:08] viananth commented on #3521
@markcowl : Mark, this was pointed out by Mark Russinovich at a demo.

[2017-02-17 02:06] cormacpayne opened #3523 "Remove ManagedCache cmdlets"
The ManagedCache service has been deprecated as of 11/30/2016, and any use of the ManagedCache cmdlets throws an exception due to bad requests.

All of the ManagedCache cmdlets can be removed next release.

[2017-02-17 03:56] shahabhijeet opened #3524 "Remove AzureManagedCache cmdlets from ServiceManagement"
Azure ManagedCache has been deprecated from Azure as of late last year.
We should remove it from our MSI as well.

[2017-02-17 08:46] andybatescc commented on #3512
A fix has been rolled out now and the command is working ok

[2017-02-17 08:46] #3512 closed

[2017-02-17 17:30] cormacpayne commented on #3524
Closing in favor of issue https://github.com/Azure/azure-powershell/issues/3523

[2017-02-17 17:30] #3524 closed

[2017-02-17 18:58] markcowl commented on #3481
Closing as Duplicate: https://github.com/Azure/azure-powershell/issues/1200

[2017-02-17 18:58] #3481 closed

[2017-02-17 18:59] markcowl commented on #3487
@jasper-schneider It looks like this was removed after we moved the test framework to support .Net Core.   @shahabhijeet  has a fix for this, I believe

[2017-02-17 19:01] markcowl commented on #3495
@bganapa This is fixed in the dev branch, please move the fix over.

[2017-02-17 19:01] #3495 closed

[2017-02-17 19:24] ianalderman commented on #3481
Thanks Mark, any thoughts on why it worked on an older version of the library?

[2017-02-17 23:23] juneb opened #3525 "Missing cmdlet help for New-AzureSiteRecoverySite"
There's a cut/paste error in Microsoft.Azure.Commands.RecoveryServicesRdfe.dll-help.xml

(https://github.com/Azure/azure-powershell/blob/dev/src/ServiceManagement/RecoveryServices/Commands.RecoveryServices/Microsoft.Azure.Commands.RecoveryServicesRdfe.dll-help.xml)

As a result, there are two cmdlet help topics for New-AzureSiteRecoveryVault and none for New-AzureSiteRecoverySite.

[code]

[2017-02-19 03:47] linuxelf001 commented on #3514
I would, second the reported behavior.

[code]

[2017-02-20 14:22] LeonidasRR commented on #2046
Can the BGinfoExtension be deleted once installed on a VM? I did it form the ARM portal/VM config blade, however, after a reboot the extension is still present.

[2017-02-21 11:59] NimishaS commented on #3341
I am also getting this issue. I tried  both solutions, i.e. Extending `RMTestBase`: https://gist.github.com/NimishaS/2342a0bd99d06c3c95e6da2dcbe37bcd#file-chefextensiontests-cs-L21 and calling `SynchronizationContext`: https://gist.github.com/NimishaS/cc4a2e98646a6a08c21ca30081479150#file-chefextensiontests-cs-L40.
I am still getting the same error.

[2017-02-21 13:15] nareshhamal commented on #2267
Probably, this link ( https://docs.microsoft.com/en-us/azure/application-gateway/application-gateway-end-to-end-ssl-powershell) help you to resolve issues (end to end SSL )

[2017-02-21 18:06] MattAllison commented on #1835
I know this can has been kicked down the road for about a year and a number of other items have been tied to it.

The Azure profile persistence and access part is becoming a notable problem for us as we continue our transition to ARM.  Because simple activities like Start/Stop-AzureRMVM are very slow serial operations, we end up having to create fairly cumbersome wrappers to simply stop VMs in par

[2017-02-21 21:26] juneb opened #3532 "Duplicate entries for Restart-AzureWebsite in Microsoft.WindowsAzure.Commands.dll-help.xml"
When you parse the file, you'll find them at indexes 58 and 66. Get-Help gets the second and ignores the first. So, if someone accidentally updates the second instance, it won't have any effect.

[2017-02-22 19:36] bganapa commented on #3521
The issue here is the use of TenantName instead of TenantID, but the confusing part, the command Get-AzureRMVM works after issuing a Get-AzureRMSubscription or Get-AzureRMResourceGroup cmdlet.. It means that Get-AzureRMSubscription is able to brab the token with TenantName and updates the cache and the subsequent Get-AzureRMVM finds the token in the cache.

There must be something unique in the wa

[2017-02-22 21:45] ayeltsov opened #3539 "Get-AzureRmResource -ResourceGroupName myrgname fails"
This was supposed to have been fixed - see 1493, but it's still broken

[code]

[code]

[2017-02-23 01:39] markcowl commented on #3407
I have a repro of the issue with current cmdlets, it is definitely related to the whitelist for graph api-version used in the call to graph to get friendly names for the users and groups, and not the permissions on the service principal.

Here is a request/response showing the failure
[code]

[2017-02-23 05:54] davoodharun commented on #1524
+1

[2017-02-23 06:36] blueww commented on #3116
@mvvsubbu  In the latest PowerShell release 3.6.0, the warning only show when use GeoReplicationEnabled parameter in cmdlet  Set-AzureStorageAccount

[2017-02-23 06:40] mvvsubbu commented on #3116
Thanks it helps us.

[2017-02-23 09:53] aakash-johari opened #3540 "Attaching a VHD detached from a classic VM to new Azure RM VM"
I have a VHD in a classic VM which I've detached and now trying to put it in a RM VM. Getting the below error.

### Script/Steps for Reproduction
[code]

### Error
[code]

[2017-02-23 10:58] huberthk commented on #1257
+1

This is very desirable functionality. The use case here is CSP customer executing Azure Automation runbooks against the tenants' (separate) subscriptions.

[2017-02-23 23:11] sdubeymsft opened #3541 "Get-AzureRmVM is broken in 2.7.0 version of AzureRM.Compute module for AzureUSGovernment"
### Cmdlet(s)
Get-AzureRmVM
### PowerShell Version
Instructions: to get PowerShell version, type `$PSVersionTable` and look for the value associated with `PSVersion`
PSVersion                      5.1.14393.693
PSEdition                      Desktop
PSCompatibleVersions           {1.0, 2.0, 3.0, 4.0...}
BuildVersion                   10.0.14393.693
CLRVersion                     4.0.30319.42000
WS

[2017-02-24 05:53] aakash-johari commented on #3540
Never mind. I added the OS disk and it worked. Closing the thread.

[2017-02-24 05:53] #3540 closed

[2017-02-24 07:50] RonnieViklund commented on #2581
Late bump but.. doesn't seem connection status is exposed in the API, you can run the command with -debug flag and you will see the rest response which doesn't contain status.

[2017-02-24 10:12] olohmann opened #3543 "Upgrading from 3.4.0 to 3.6.0 breaks VM creation in Azure Germany"
### Cmdlet(s)
New-AzureRmVM

### PowerShell Version
5.1.14393.693

### Module Version
3.6.0

### OS Version
10.0.14393.693

### Description
Issuing the New-AzureRmVM command causes the following error (no issues in 3.4.0):
[code]

### Debug Output
Instructions: to get Debug Output, set `$DebugPreference="Continue"` and then execute the cmdlet or script causing the issue

### Script/Steps for Repro

[2017-02-24 17:23] cormacpayne commented on #3541
@singhkays Hey Kay, would you mind taking a look at this issue?

[2017-02-24 17:23] cormacpayne commented on #3543
@singhkays Hey Kay, would you mind taking a look at this issue?

[2017-02-24 19:11] markcowl commented on #3525
Need to check if this is one of our grandfathered exceptions to the help rule,  We probably wouldn't fix this.

@juneb I fear this might be a won't fix if we verify, any chance you might contribute a PR with the new md file for the cmdlet?

[2017-02-24 19:12] markcowl commented on #3532
Need to investigate as an addition to our Static Analysis, this could inadvertently occur in the future

[2017-02-24 19:17] markcowl commented on #3539
@ravbhatnagar We should fix this.  Please let me know if you have questions.

[2017-02-24 19:23] markcowl commented on #3501
@karlti We do not understand the set of symptoms you are describing, can you please clarify?.  The link you provided goes to webpi, which does not match the UI you have captured.  The UI you have captured is for an old version of the standalone installer.   Can you verify:

- what link you followed
- what steps you followed after clicking the link
- what the issue you see is
- .net and powershell

[2017-02-24 19:28] ibenbouzid opened #3544 "Azure DSC Handler 2.22 issue"
### Module Version
Azure DSC extention handler 2.22
### OS Version
2012R2
### Description
Hi I'm experiencing issues with this new handler v2.22 that didn't surface with previous releases.
Each time i try to deploy my DSC  extention template on a VM 2012 R2 i got this error below.
and the deployment stops.
If i change the DSC handler to 2.21 or previous release the deployment is fine.
Please let m

[2017-02-24 22:13] juneb commented on #3525
Sorry, but I don't know anything about the feature.

[2017-02-25 01:31] bganapa opened #3547 "azure powershell stack-dev branch is not producing the AzureStack nuget package for the release"
### Cmdlet(s)

### PowerShell Version
1.2.8.* (newer builds after 1.2.8 version)
### Description

 powershell-sign job against the latest stack-dev branch is not producing the azurestack nuget package
http://azuresdkci.cloudapp.net/job/powershell-sign/888/artifact/src/Package/

while against the stack-dev-1.2.8, it produces the azurestack nuget package
 http://azuresdkci.cloudapp.net/job/powershel

[2017-02-25 01:32] bganapa commented on #3547
@shahabhijeet to look in to this

[2017-02-25 19:59] pascalnaber opened #3549 "Executing Get-AzureRmRoleAssignment as Service Principal results in an exception"
### Cmdlet(s)
Get-AzureRmRoleAssignment (executed as Service Principal)

the following permissions are added to the service principall:

Windows Azure Active Directory 6 application permissions - 6 delegated permissions (not able to select them all, only where Requires Admin=Yes)
Microsoft Graph - 20 application permissions - 20 delegated permissions (also not able to select them all)

### PowerSh

[2017-02-25 20:02] 4c74356b41 commented on #3549
Just to add more drama, querying the same information using the same principal with python code works:

from azure.common.credentials import ServicePrincipalCredentials
from azure.mgmt.authorization import AuthorizationManagementClient
tenant_id = 'tenant_guid'
application_id = 'application_guid'
application_secret = 'application_secret'
cred = ServicePrincipalCredentials(client_id=application_id,

[2017-02-26 17:15] pascalnaber opened #3550 "New-AzureRmRoleAssignment gives not authorized exception. But does execute. (executed as Service Principal)"
### Cmdlet(s)
New-AzureRmRoleAssignment

the following permissions are added to the service principall:

Windows Azure Active Directory 6 application permissions - 6 delegated permissions (not able to select them all, only where Requires Admin=Yes)
Microsoft Graph - 20 application permissions - 20 delegated permissions (also not able to select them all)

### PowerShell Version
Instructions: to get

[2017-02-26 19:50] pascalnaber commented on #3549
The same exception comes up when using Remove-AzureRmRoleAssignment, executed as service principal.

Remove-AzureRmRoleAssignment -RoleDefinitionName "Contributor" -ServicePrincipalName "1234-8494-4813-9282-989898"

[2017-02-27 08:09] blueww commented on #3514
We can repro the same issue on our side.
But it's strange the issue only happen when file uploaded by PowerShell: the Last Modify time change on server, but not on mounted share on Linux.
I will contact XSMB team to see if they have any thought why this happen.

[2017-02-27 16:07] karlti commented on #3501
Thank you , Marc.

Actually this is really a mystery...
Customer sent him the install-log for powershell.
the last i have at Hand, from November Shows three Errors:

1708 RPC_S_NO_ENDPOINT_FOUND
1709 RPC_S_INVALID_TIMEOUT

and then finally a ERROR_INSTALL_FAILURE.

He tries to install via webpi or by downloadingthe msi directly. it always Fails accordingto them..
I attach the zipped insatll log he

[2017-02-27 16:07] karlti commented on #3501
the Close was nit intended, sorry.

[2017-02-27 19:22] Bpoe commented on #3043
Fixed in AzureAutomationTeam repo. Will be merged in the next PR.

[2017-02-28 00:39] wolfeno commented on #3543
Same issue happens for me with AzureChinaCloud environment.

[2017-02-28 11:39] nishanperera commented on #1896
Any update on this matter ? I'm experiencing the same issue when I try to run New-AzureRmADApplication

[2017-03-01 03:27] blueww commented on #3514
As I get from File team, this is by design.
There are 2 properties of a File:

- LastWriteTime is the property that will be shown in file system (e.g. ls -l in linux)
- LastModificationTime is the properties can be can show with rest

REST Write  (PowerShell run through rest) currently does not update LastWriteTime.   All write operations  (rest or XSMB) change the ETag and LastModificationTime .

[2017-03-01 04:50] markcowl commented on #3525
@juneb This is an RDFE cmdlet, RDFE tools are essentially in maintenance mode at this point, we aren't accepting new features and lthere is a higher bar for fixing issues.  The advice is to move to the RecoveryServices cmdlets in ARM.

The rule I was mentioning is a static analysis rule that validates help for each cmdlet on check-in, but includes exceptions for older cmdlets (cmdlets checked in b

[2017-03-01 10:18] gitralf commented on #3407
cmdlet nor working for me, too. A simple Get-AzureRMRoleAssignment ist not working any more and I don't have any idea what changed... Here is the output, pls. help:

PS C:\PublicProjects\PowerShell> **Login-AzureRmAccount**

Environment           : AzureCloud
Account               : admin@d...d.onmicrosoft.com
TenantId              : 8dff03-...-312cf7c
SubscriptionId        : abcde-730316a2e9e0
Su

[2017-03-01 12:04] blueelvis commented on #2381
Has this been fixed by any chance?

[2017-03-01 15:07] Enceee commented on #3449
Hi, how do you debug the errors with this command. Is there any notes available to get import working?
I have no success at the moment -

Import-AzureRmApiManagementApi -Context $ApiMgmtContext -SpecificationFormat "swagger" -SpecificationUrl "https://xxxxxxxxxx.cloudapp.net/swagger/docs/v1" -Path "test001" -ApiId "58aaf764213123123sada

errors with

Import-AzureRmApiManagementApi : ValidationErro

[2017-03-01 16:09] SAPIENTechnologies commented on #3525
Thanks for explaining, @markcowl. You guys should try Pester, which does dynamic analysis. :)

[2017-03-01 17:30] solankisamir commented on #3449
@Enceee can you run the cmdlet again, after setting $DebugPreference="Continue"

[2017-03-01 17:48] Enceee commented on #3449
@solankisamir thanks!, that really helped identifying the issue, it was a certificate error since we are using self-signed certificates.
Since we are on that topic, is it possible to install root cert on the API management instance for it work with self-signed certificate so it can make a https call to get swagger document running on a cloud service web role ?

ta,
Enceee

[2017-03-01 17:55] solankisamir commented on #3449
@Enceee does this answer your question [Using self-signed certificates](https://docs.microsoft.com/en-us/rest/api/apimanagement/apimanagementrest/azure-api-management-rest-api-backend-entity) ?

[2017-03-01 19:00] markcowl opened #3555 "Integrate BootStrapper module publishign into stack-dev biuld targets"
### Description

- [ ] Move the bootstrapper module into the stack-dev branch after  PRs completed
- [ ] Add Bootstrapper module as a package scope in module sign and build targets

### Cost: 2

[2017-03-01 19:02] markcowl opened #3556 "Integrate Bootstrapper unit tests into Test target"
### Description

- [x] Add bootstrapper test run into test target for builds
- [x] Ensure that relevant test information and logs are included in ci build artifacts for each check-in
- [x] ENsure that unit test failures fail the ci build

### Cost: 2

[2017-03-01 19:10] markcowl opened #3557 "Update Bootstrapper Module Metadata and descriptions"
### Description

Update metadata and descriptions for Bootstrapper module metadata

### Cost: 1

[2017-03-01 20:28] andyjballgit opened #3558 "Remove-AzureRMDisk doesnt validate DiskName exists"
### Cmdlet(s)
Remove-AzureRMDisk

### PowerShell Version
Instructions: to get PowerShell version, type `$PSVersionTable` and look for the value associated with `PSVersion`
5.1.15042

### Module Version
2.7.0
### OS Version
Instructions: to get OS version, type `$PSversionTable` and look for value associated with `BuildVersion`
10.0.15042.0

### Description
If an invalid DiskName is passed as a par

[2017-03-01 22:53] timomta opened #3559 "Set-AzureRmKeyVaultAccessPolicy PermissionsToSecrets not working correctly"
### Cmdlet(s)
Set-AzureRmKeyVaultAccessPolicy

### PowerShell Version
Name                           Value
----                           -----
PSVersion                      5.1.14393.693
PSEdition                      Desktop
PSCompatibleVersions           {1.0, 2.0, 3.0, 4.0...}
BuildVersion                   10.0.14393.693
CLRVersion                     4.0.30319.42000
WSManStackVersion

[2017-03-02 02:07] blueww commented on #2381
Still not , will update this thread when it got fixed.

[2017-03-02 12:04] Enceee commented on #3449
@solankisamir sure, I understand. I was thinking of the same as well - downloading swagger document on the build agent which has the root cert installed and then upload it to the api. Thanks for your quick reply.

[2017-03-02 13:56] janegilring opened #3561 "Set-AzureRmVMAccessExtension reboots VM when username is changed"
### Cmdlet(s)
Set-AzureRmVMAccessExtension
### PowerShell Version
`PSVersion`                    5.1.14393.693
### Module Version
2.7.0      AzureRM.Compute
### OS Version
10.0.14393.693
### Description
When the username specified to Set-AzureRmVMAccessExtension -UserName is different from the existing username for the built-in Administrator account inside a Windows VM (haven`t tested agains't Lin

[2017-03-02 20:31] sdwheeler opened #3564 "Unused -Name parameter in ExpressRoute statistical cmdlets"
### Cmdlet(s)
The affected cmdlets:

- Get-AzureRmExpressRouteCircuitARPTable
- Get-AzureRmExpressRouteCircuitRouteTable
- Get-AzureRmExpressRouteCircuitRouteTableSummary
- Get-AzureRmExpressRouteCircuitStats

### PowerShell Version
PSVersion                      5.1.14393.693

### Module Version
Name              : AzureRM.Network
Version           : 3.5.0

### OS Version
BuildVersion

[2017-03-02 22:30] cormacpayne commented on #3558
@singhkays @hyonholee would you mind taking a look?

[2017-03-02 22:32] cormacpayne commented on #3559
@pomortaz Hey Pooneh, would you mind taking a look at this issue?

[2017-03-02 23:11] pomortaz commented on #3559
@timomta you are using permissions as string. Try passing them as list e.g. with no quotation mark:
Set-AzureRmKeyVaultAccessPolicy -VaultName <vault-name> -ObjectId <object-id> -PermissionsToSecrets **get,set**
We'll fix the documentation. Thanks for letting us know. :)

[2017-03-03 13:31] timomta commented on #3559
Thanks! Yes that works. I didn't realize that was the problem due to the usage examples in the documentation. Please fix the docs - I have had 2 customers and a colleague ask me about this. Thank you for your help!

[2017-03-03 18:17] eriksteinebach opened #3571 "Get-AzureRMSqlDatabase how to rename a database"
### Cmdlet(s)
Get-AzureSqlDatabase
Get-AzureRMSqlDatabase

### PowerShell Version
5.1.14986.1000

### OS Version
10.0.14986.1000

### Description
Get-AzureSqlDatabase contains an argument -NewDatabaseName to rename a database. I am looking for a way to do the same with the Get-AzureRMSqlDatabase command (or any other command within the AzureRM powershell commands). But I cannot find a way to do it

[2017-03-03 19:51] timomta commented on #3559
One other suggestion though, for ease of use, flexibility, and possibly passing in variables for the permissions arg, is to just allow the cmdlet to accept a string, split by command, and parse the array into the enums you need internally.

[2017-03-03 21:42] viananth commented on #3505
PR #3453 closed this issue

[2017-03-03 21:42] #3505 closed

[2017-03-03 21:45] viananth commented on #3303
PR #3453 closes this issue.

[2017-03-03 21:45] #3303 closed

[2017-03-03 21:47] viananth commented on #3301
Install-AzureRmProfile will mimic Install-Module for scope. If scope is given, Install-AzureRmProfile will install in that scope. Otherwise, it will try to install in global scope. PR #3453 closes this issue.

[2017-03-03 21:47] #3301 closed

[2017-03-03 21:49] viananth commented on #3300
PR #3453 closes this issue

[2017-03-03 21:49] #3300 closed

[2017-03-03 22:16] cormacpayne commented on #3571
@akromm Hey Adam, would you mind taking a look at this issue?

[2017-03-03 22:18] tohling opened #3574 "Installed version number different from release 3.6.0"
### Cmdlet(s)
All Azure PowerShell cmdlets

### PowerShell Version
Major  Minor  Build  Revision
-----  -----  -----  --------
4      0      -1     -1

### Module Version
3.6.0

### OS Version
Major  Minor  Build  Revision
-----  -----  -----  --------
6      3      9600   16406

### Description
I downloaded the latest release at
https://github.com/Azure/azure-powershell/releases/tag/v3.6.0-Februa

[2017-03-03 22:20] cormacpayne commented on #3415
@MattAllison this looks to be a duplicate of issue https://github.com/Azure/azure-powershell/issues/3539

Closing this issue so that we can track the status on the other.

[2017-03-03 22:20] #3415 closed

[2017-03-03 22:22] cormacpayne commented on #3425
@twitchax @markcowl do you guys see any issues with this ask?

[2017-03-03 22:24] tohling opened #3575 "Regarding 3.6.0 release compatibility with PowerShell 4.0"
### Cmdlet(s)
All Azure PowerShell cmdlets

### PowerShell Version
Major  Minor  Build  Revision
-----  -----  -----  --------
4      0      -1     -1

### Module Version
3.6.0

### OS Version
Major  Minor  Build  Revision
-----  -----  -----  --------
6      3      9600   16406

### Description
Does Azure PoweShell 3.6.0 work with PowerShell version 4.0?

I have an environment that cannot have it

[2017-03-03 22:24] akromm commented on #3571
@eriksteinebach Unfortunately we do not yet support renaming databases via ARM.  Work to enable this is in progress but I do not have an ETA at the moment.

[2017-03-03 22:30] cormacpayne commented on #3426
@twitchax @markcowl can you take a look?

[2017-03-03 22:40] cormacpayne commented on #3575
@tohling Hey Ling, installing Azure PowerShell via the MSI (either from Web Platform Installer or the [GitHub release](https://github.com/Azure/azure-powershell/releases/tag/v3.6.0-February2017)) is supported for PowerShell 3.0 and higher.

Installing the modules from [PowerShell Gallery](http://www.powershellgallery.com/) will required PowerShell 5.0 and higher.

Let me know if you have any other

[2017-03-03 22:40] #3575 closed

[2017-03-03 22:42] cormacpayne commented on #3574
@tohling Hey Ling, the `Azure` module is separate from the `AzureRM` module - the `Azure` module contains the RDFE cmdlets, where `AzureRM` contains the ARM cmdlets.

This is correct because these two versions are independent of each other - in the latest release, the `Azure` module is version 3.5.0, where the `AzureRM` module is version 3.6.0.

Let me know if you have any other questions!

[2017-03-03 22:42] #3574 closed

[2017-03-03 23:30] cormacpayne commented on #3508
@vors Hey Sergei, currently we have teams copy existing formatting files that exist in the repository if they ever need to use it.

We are not aware of the original "tool" used to create these files, but [`Export-FormatData`](https://msdn.microsoft.com/powershell/reference/5.1/microsoft.powershell.utility/Export-FormatData) seems to be creating the same file. The PowerShell team may know the tool

[2017-03-03 23:30] #3508 closed

[2017-03-03 23:50] twitchax commented on #3425
Seems reasonable to me. :)

[2017-03-04 00:00] cormacpayne commented on #3428
I was able to repro this error.

@ravbhatnagar would you mind taking a look at this issue?

[2017-03-04 00:01] cormacpayne commented on #3547
@shahabhijeet can you take a look?

[2017-03-04 00:16] cormacpayne commented on #3468
@Machsol-Usman we do not own the Azure AD cmdlets, and I cannot find a repository (or other location) for you to file this issue directly to the Azure AD cmdlet owners.

I would recommend checking out the Azure support forums for a location to post this issue: https://azure.microsoft.com/en-us/support/forums/

[2017-03-04 00:16] #3468 closed

[2017-03-04 00:21] cormacpayne commented on #3443
@wangzq Hey Walter, are you still seeing this issue in the latest Azure PowerShell (3.6.0) release?

[2017-03-04 00:34] wangzq commented on #3443
Just tried it, after installing azure-powershell.3.6.0.msi Get-Module still shows Azure as 3.5.0, and Import-Module AzureRM.ServiceBus still has the error:
[code]

[2017-03-04 00:36] cormacpayne commented on #3331
Fix merged in PR https://github.com/Azure/azure-powershell/pull/3360

[2017-03-04 00:36] #3331 closed

[2017-03-04 00:37] cormacpayne commented on #3325
Closing issue as this was fixed in version 1.0.1 of IotHub

[2017-03-04 00:37] #3325 closed

[2017-03-04 00:40] cormacpayne commented on #3273
Closing this issue.

@bganapa please reopen this issue if you find the above solution does not work.

[2017-03-04 00:40] #3273 closed

[2017-03-04 00:43] cormacpayne commented on #3266
Closing this issue as it seems to be a duplicate of issue https://github.com/Azure/azure-powershell/issues/2873 , which we will use for tracking the status of the fix

[2017-03-04 00:43] #3266 closed

[2017-03-04 00:45] cormacpayne commented on #3235
Closing this issue as there has been no activity in a month.

@sk1tt1sh Please feel free to reopen when you can provide the requested details.

[2017-03-04 00:45] #3235 closed

[2017-03-04 00:47] cormacpayne commented on #3230
@davidmatson this has been fixed in the latest release (3.6.0)

[2017-03-04 00:47] #3230 closed

[2017-03-04 00:49] cormacpayne commented on #3226
Closing this issue as there has been no activity for a few months.

@MattMcL4475 please feel free to reopen this issue if you are still having issues, and if you do so, please use `$DebugPreference="Continue"` and reply with the full debug logs

[2017-03-04 00:49] #3226 closed

[2017-03-04 00:51] cormacpayne commented on #3204
Closing this issue as there has been no activity for a few months.

@Pradebban please feel free to reopen the issue if you still see this issue.

[2017-03-04 00:54] cormacpayne commented on #3443
@wangzq the `Azure` module will be 3.5.0, but the `AzureRM` module is 3.6.0, correlating to the release version.

@v-Ajnava can you take a look?

[2017-03-04 00:57] cormacpayne commented on #3203
Closing this as the help has been updated for `Restore-AzureRmSqlDatabase` (as well as other Sql cmdlets)

@towerbe please feel free to reopen this issue if you think this is still an issue.

[2017-03-04 00:57] #3203 closed

[2017-03-04 01:06] cormacpayne commented on #3180
Closing this issue as there has been no activity for a couple of months.

@nth-block @andyjballgit please feel free to reopen this issue if you find the issue persists or the work-around provided by Deepak is not sufficient.

[2017-03-04 01:06] #3180 closed

[2017-03-04 01:10] cormacpayne commented on #3143
Closing this issue.

[2017-03-04 01:10] #3143 closed

[2017-03-04 01:12] #3116 closed

[2017-03-04 01:14] cormacpayne commented on #3115
Closing this issue as there has been no activity for a few months.

@StephenBuhagiar please feel free to reopen this issue if you find that this is still an issue, and if you do, please provide the information requested above.

[2017-03-04 01:14] #3115 closed

[2017-03-04 01:15] cormacpayne commented on #3077
Closing this issue as it seems to have been fixed.

@robertmclaws please feel free to reopen this issue if you find it is still a problem.

[2017-03-04 01:15] #3077 closed

[2017-03-04 01:16] cormacpayne commented on #3069
Closing this issue as there has been no activity for a few months.

@mthenot please feel free to reopen this issue if you find it is still a problem, and if you do, please provide the requested information in the previous comment.

[2017-03-04 01:16] #3069 closed

[2017-03-04 01:18] cormacpayne commented on #3063
Closing this issue as there has been no activity for a few months.

@saimsh please feel free to reopen this issue if you find it is still a problem.

[2017-03-04 01:18] #3063 closed

[2017-03-04 01:20] cormacpayne commented on #3056
Closing this issue as there has been no activity for the last few months.

@mani0070 please feel free to reopen this issue if you find it is still a problem.

[2017-03-04 01:20] #3056 closed

[2017-03-04 01:31] cormacpayne commented on #2934
Closing this issue due to lack of activity in a few months.

@itowlson please feel free to reopen this issue if you need anymore feedback concerning this topic.

[2017-03-04 01:31] #2934 closed

[2017-03-04 01:50] cormacpayne commented on #2915
Fix was merged in PR https://github.com/Azure/azure-powershell/pull/3255

[2017-03-04 01:50] #2915 closed

[2017-03-04 01:55] cormacpayne commented on #2877
Closing this issue as there has been no activity in a few months.

@avishnyakov please feel free to reopen this issue if this is still a problem.

[2017-03-04 01:55] #2877 closed

[2017-03-04 01:56] cormacpayne commented on #2842
This issue has been fixed.

[2017-03-04 01:56] #2842 closed

[2017-03-04 01:57] cormacpayne commented on #2825
Closing this issue as there has been no activity in a few months.

@davidt99 please feel free to reopen this issue if you have any further questions.

[2017-03-04 01:57] #2825 closed

[2017-03-04 01:58] cormacpayne commented on #2809
Closing this issue as there has been no activity in a few months.

@erictorbenson please feel free to reopen this issue if you find it is still a problem, and if you do, please respond with the requested information in the previous comment.

[2017-03-04 01:58] #2809 closed

[2017-03-04 04:16] #2802 closed

[2017-03-04 04:17] cormacpayne commented on #2801
Fixed.

[2017-03-04 04:17] #2801 closed

[2017-03-04 04:21] cormacpayne commented on #2795
Fixed.

[2017-03-04 04:21] #2795 closed

[2017-03-04 04:22] cormacpayne commented on #2794
Fixed.

[2017-03-04 04:22] #2794 closed

[2017-03-04 04:25] cormacpayne commented on #2778
Closing this issue due to lack of activity for a few months.

@runes83 please feel free to reopen this issue if you still have any questions.

[2017-03-04 04:25] #2778 closed

[2017-03-04 04:29] cormacpayne commented on #2660
Closing this issue due to lack of activity for the last few months.

@lmusat please feel free to reopen this issue if you still have any questions.

[2017-03-04 04:29] #2660 closed

[2017-03-04 04:32] cormacpayne commented on #2656
I believe this has been fixed in PR https://github.com/Azure/azure-powershell/pull/3042

@brandoncasaba please feel free to reopen this issue if you are still seeing this problem.

[2017-03-04 04:32] #2656 closed

[2017-03-04 04:38] cormacpayne commented on #3372
Fixed in PR https://github.com/Azure/azure-powershell/pull/3375

[2017-03-04 04:38] #3372 closed

[2017-03-04 04:41] cormacpayne commented on #2538
Closing due to lack of activity in the last few months.

@micktion please feel free to reopen this issue if you have any other questions.

[2017-03-04 04:41] #2538 closed

[2017-03-04 04:48] cormacpayne commented on #2460
We now have `upcoming-breaking-change.md` files per RP to warn of upcoming changes for cmdlets within the given RP, as well as release migration guides detailing the breaking changes per release, as well as the changes that need to be made to the changed cmdlets.

We have also introduced the breaking change tool as a part of our Static Analysis to fail the CI whenever a PR contains a breaking chan

[2017-03-04 04:48] #2460 closed

[2017-03-04 04:49] cormacpayne commented on #2799
Closing in favor of issue https://github.com/Azure/azure-powershell/issues/2440

[2017-03-04 04:49] #2799 closed

[2017-03-04 04:50] cormacpayne commented on #2440
Markdown help can currently be found [here](https://github.com/Azure/azure-powershell/tree/dev/src/ResourceManager/Websites/Commands.Websites/help). We have an action item to get rid of the `dll-Help.xml` file from each RP and generate the help using the markdown files during the build stage. This will update the help you see when calling `Get-Help` for Websites.

[2017-03-04 04:51] cormacpayne commented on #2518
Closing this issue due to a lack of activity in the last few months.

@iricigor @pjolivon please feel free to reopen this issue if you have any other questions.

[2017-03-04 04:51] #2518 closed

[2017-03-04 04:54] cormacpayne commented on #2459
Markdown help for the ServerManagement cmdlets can currently be found [here](https://github.com/Azure/azure-powershell/tree/dev/src/ResourceManager/ServerManagement/Commands.ServerManagement/help). We have an action item to get rid of the `dll-Help.xml` file from each RP and generate the help from the markdown help during the build stage. When this change goes into effect, there will be help provi

[2017-03-04 04:57] cormacpayne commented on #2385
Closing this issue due to lack of activity for the last few months.

@philmea please feel free to reopen this issue if you have any other questions.

[2017-03-04 04:57] #2385 closed

[2017-03-04 05:05] cormacpayne commented on #2328
@pcgeek86 Hey Trevor, is this still an issue? It appears that `Remove-AzureRmDnsRecordSet` has the `ValueFromPipeline` property for the `RecordSet` parameter, so you should be able to pipe the result of `Get-AzureRmDnsRecordSet` thru to this cmdlet.

[2017-03-04 07:27] cormacpayne commented on #2312
Closing this issue since it appears to be resolved.

@Nightsmark please feel free to reopen this issue if you have any other questions.

[2017-03-04 07:27] #2312 closed

[2017-03-04 07:30] cormacpayne commented on #2259
Closing this issue as it appears to be resolved.

@mskutin please feel free to reopen this issue if it wasn't resolved and/or you have any other questions.

[2017-03-04 07:30] #2259 closed

[2017-03-04 07:31] cormacpayne commented on #2198
Closing this issue as it appears to have been resolved.

[2017-03-04 07:31] #2198 closed

[2017-03-04 07:36] #2033 closed

[2017-03-04 07:37] cormacpayne commented on #2014
Closing this issue due to a lack of activity since it was opened.

@ronbok please feel free to reopen this issue if you have any other questions.