[2020-09-08 22:18] dcaro commented on #12894
Thanks, closing now

[2020-09-08 22:18] #12894 closed

[2020-09-08 22:48] mattduguid commented on #12786
I too was having this issue but trying to load different version of v2.5.0 using powershell on ubuntu 20 LTS,

_import-module az.storage
Import-Module: /home/mattduguid/.local/share/powershell/Modules/Az.Storage/2.5.0/Az.Storage.psm1:113
Line |
 113 |  Import-Module (Join-Path -Path $PSScriptRoot -ChildPath Microsoft.Azu …
     |  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

[2020-09-09 00:20] Francisco-Gamino opened #12896 "Information traces for generated cmdlets do not provide any useful information about the command being run."
## Description
Information traces for generated cmdlets do not provide any useful information about the command being run.

When a user runs a command with `-InformationAction Continue`, additional messages are printed but no useful information is diplayed. E.g.,

[code]

## Steps to reproduce

[code]

## Environment data

[code]

## Module versions

[code]

## Debug output

[code]

## Error outpu

[2020-09-09 01:15] xuedm opened #12897 "test"
## Description

## Steps to reproduce

[code]

## Environment data

[code]

## Module versions

[code]

## Debug output

[code]

## Error output

[code]

[2020-09-09 01:57] blueww commented on #12786
@mattduguid
Would you please check which version of Az.Accounts have you loaded?
Would you please run Get-module and show the result?

BTW, Az.Storage 4.0.2-preview  is for Azure stack. If you don't use it on Azure stack, we don't suggest you to use it.

[2020-09-09 02:33] mattduguid commented on #12786
@blueww we have to load 2.0.1-preview for az.accounts due to a known issue where login from linux/ADFS was taking us through the device login route and failing, using the 2.0.1-preview works as it redirects to webpage for auth

_install-module az.accounts -requiredversion 2.0.1-preview -allowprerelease_

With regard to Az.Storage 4.0.2-preview I tried loading a number of other versions but had sam

[2020-09-09 02:42] blueww commented on #12786
Az.Storage 1.9.3 is released with Az.Accounts 2.5.0, and can only work with Az.Account 2.5.0 or later.
az.accounts 2.0.1-preview  is released much early before Az.Account 2.5.0, it can't work with Az.Storage 1.9.3.

For the know issue of  login from linux/ADFS, do you have a issue to track it? If not, would you like to open another issue to track it, as this issue is for Az.storage load.

[2020-09-09 02:46] wahyuen commented on #12042
@MSEvanhi just wondering if there was any update to this issue?

[2020-09-09 02:49] #12897 closed

[2020-09-09 02:49] xuedm commented on #12897
For test purpose

[2020-09-09 02:56] mattduguid commented on #12786
this is the link for the device login issue -> https://github.com/Azure/azure-powershell/issues/9427

i'll test that combination soon of Az.Storage 1.9.3 & Az.Accounts 2.5.0 thanks 👍🏼

[2020-09-09 04:25] mattduguid commented on #12786
@blueww following non-preview combo has worked without error thanks

Install-Module Az.Accounts -requiredversion 1.9.3
Install-Module Az.Storage -requiredversion 2.5.0
Import-Module -Name az.accounts
Import-Module -Name az.storage
Connect-AzAccount

[2020-09-09 05:13] tarry87 commented on #12840
any ETA for fix on above?

[2020-09-09 05:14] tarry87 commented on #12840
This is not working for me.

[2020-09-09 07:11] #12511 closed

[2020-09-09 07:11] o-l-a-v commented on #12815
Something as simple as

[code]

fails with Az.Resources 2.5.0, but works with 2.3.0 for instance. Do you even test before releasing new "stable" releass?

[2020-09-09 07:51] PatrickBuettner commented on #12873
Thanks for the answer. Currently I am using the AzureRm Modules. I haven't tried Az modules.

[2020-09-09 07:51] #12873 closed

[2020-09-09 09:19] tomkerkhove opened #12902 "Get-AzIoTDeviceProvisioningServiceEnrollmentGroup does not provide attestation information"
## Description

Get-AzIoTDeviceProvisioningServiceEnrollmentGroup does not provide attestation information which makes it impossible to store it in a secret store such as Azure Key Vault.

https://github.com/Azure/azure-powershell/blob/e64f4178331edaad8484360d082e2ff1643c67a5/src/DeviceProvisioningServices/DeviceProvisioningServices/Models/PSEnrollmentGroup.cs#L43

## Steps to reproduce

[code]

[2020-09-09 09:26] Faith921 commented on #12844
Hi Dingmeng,

Thanks for the response.

We have installed the latest version of Az.Account module while it seems the it generated a new error indicating the refresh token can not be found when we finished the device authentication outside the Powershell in a browser:
[cid:image002.jpg@01D686CE.5692E220]

Please note that before we upgrade the version, the session will get refresh token from Powers

[2020-09-09 09:32] #12707 closed

[2020-09-09 10:42] #12371 closed

[2020-09-09 11:04] acorn20180214 opened #12903 "New-AzAutoscaleProfile should accept an empty array of ScaleRule"
## Description

In the [REST API spec](https://github.com/Azure/azure-rest-api-specs/blob/master/specification/monitor/resource-manager/Microsoft.Insights/stable/2015-04-01/autoscale_API.json#L617),  "rules" is being defined as "required" when creating "AutoscaleProfile":
![image](https://user-images.githubusercontent.com/50332346/92590823-71d29680-f2cf-11ea-9bfa-2bd024e2d903.png)

However in the

[2020-09-09 12:09] #12412 closed

[2020-09-09 13:14] segraef opened #12904 "New-AzResourceGroupDeployment fails when deploying virtual network"
## Description

New-AzResourceGroupDeployment from Az 4.6.1 fails when deploying virtual network via ARM template.
It works flawless with Az 4.6.0.

![image](https://user-images.githubusercontent.com/19261257/92602308-44c1bc00-f2ae-11ea-801a-0f766402af18.png)

## Steps to reproduce

[code]

Once New-AzResourceGroupDeployment from Az 4.6.1 is used it throws following error

## Environment data

[co

[2020-09-09 13:23] segraef commented on #12904
I can give you the arm template as well if needed, just let me know.

[2020-09-09 18:56] pvrk commented on #12641
@artyq : Yes, thanks for the feedback. We will fix this in future API versions and update the documentation as well. Will close this issue after updating the doc.

[2020-09-09 19:15] jackfruhecolab opened #12906 "Get-azvm -name pcname -status displays a warning to use a VM name if more than 100 VM's listed"
## Description

**QUICK SUMMARY:**

The **Get-AZVM** command has a bug.
The last commit (https://github.com/Azure/azure-powershell/commit/000ac50672b7275871f7614ede950934e0e59f74) to this file does not work:
`https://github.com/Azure/azure-powershell/blob/master/src/Compute/Compute/VirtualMachine/Operation/GetAzureVMCommand.cs`

It appears to be a logic error in the code.

Best I can tell is that

[2020-09-09 20:35] deontaepharr opened #12907 "Specify BlobType within Start-AzStorageBlobCopy -- Similar to AzCopy"
azcopy copy command allows for one to specify the type of blob that the destination blob will be. So, if I am copying over an AppendBlob, I can specify --blob-type=BlockBlob to have it converted as such once it lands in the new location.

This functionality doesn't exist (at least from my research) in Start-AzStorageBlobCopy, unless I am mistaken.

[2020-09-09 20:37] rvbaast opened #12908 "Set-AzSqlServerAudit not working for LogAnalytics workspace in different subscription ( Response Conflict )"
Using the Cloud shell in the azure portal I'm trying to test the Set-AzSqlServerAudit command to enable SQL Auditing to a Log analytics workspace. This works perfectly fine if the LogAnalytics workspace is in the same subscription as the Sql Server. However if I try to refer to a LogAnalytics workspace which is in a different subscription the command gives the following result :

Set-AzSqlServerAu

[2020-09-10 00:49] MSEvanhi commented on #12042
Hey @wahyuen , are you passing in parameters using -parameters and following this [json format](https://docs.microsoft.com/en-us/azure/azure-resource-manager/templates/parameter-files)? Unfortunately that error message will show if this is the case as well. I want to make sure we're passing in parameters and still getting this error message.

We concluded the incident and it would not have caused

[2020-09-10 02:22] dingmeng-xue commented on #12886
Compute team, please help to look into it.

[2020-09-10 02:26] blueww commented on #12907
@deontaepharr
Start-AzStorageFileCopy means to copy an Azure blob/file to an Azure file.
If you want to copy an Azure file to Azure blob, you should use Start-AzStorageBlobCopy, but it also only allows copy File to a block blob, since the [Copy-Blob rest API ](https://docs.microsoft.com/en-us/rest/api/storageservices/copy-blob) only allows copy Azure file to block blob.

As I know, AzCopy should u

[2020-09-10 03:08] wahyuen commented on #12042
@MSEvanhi It appears the error occurs no matter what I put in the -Parameter value.

We updated the command to have the following format:
[code]

 and verified that the 'deployment' had the same value being passed in via the Azure Portal Deployment blade..but the `Object reference not set to an instance of an object` is still returned.

![image](https://user-images.githubusercontent.com/4549796/92

[2020-09-10 04:06] blueww commented on #12786
Thanks @mattduguid  for the update!
I will close this issue as you issue is resolved, and @peppekerstens have no responds for a long time.

Feel free to contact us again if need any further assistance on Azure Powershell.

[2020-09-10 04:06] #12786 closed

[2020-09-10 04:50] deontaepharr commented on #12907
@blueww This is my mistake, but I meant Start-**_AzStorageBlobCopy_**, which I have updated now. I really wish I caught this before posting on the forum. My apologies.
To clarify, I do not want to copy a file. I would like to copy an AppendBlob to BlockBlob, by specifying the type within the Start-AzStorageBlobCopy command.

[2020-09-10 07:25] 20shivangi commented on #9078
@wyunchi-ms Is the issue fixed ?

[2020-09-10 09:19] blueww commented on #12907
@deontaepharr
Since the [Copy-Blob rest API ](https://docs.microsoft.com/en-us/rest/api/storageservices/copy-blob) only allows copy blob to same blob type, Powershell currently only support copy blob to same type.

AzCopy should use other ways to copy an Azure file to append blob, like download the blob content to local memory and upload to an append blob; or copy blob from Uri.

We will evaluate

[2020-09-10 09:20] Manbearpiet opened #12917 "Connect-AzAccount: Value cannot be null. (Parameter 'clientSecret')"
## Description

When trying to connect with a serviceprincipal (appid + secret) as shown in the help.
I receive an error `Connect-AzAccount: Value cannot be null. (Parameter 'clientSecret')`

It does work on Windows PowerShell

## Steps to reproduce

[code]

## Environment data

[code]

## Module versions

[code]

## Debug output

[code]

## Error output

[code]

[2020-09-10 10:27] alexandair commented on #12881
@dingmeng-xue

@ohadschn is correct. Switch parameters don't need to use -SwitchParam:$false or -SwitchParam:$true like the Boolean parameters, but they **surely** support that syntax.

-SwitchParam:$false needs to behave the same as when you don't specify -SwitchParam at all.

[2020-09-10 12:46] asuresh-quinnox commented on #4833
"status": [
    {
      "code": "ProvisioningState/failed/1",
      "displayStatus": "Provisioning failed",
      "level": "Error",
      "message": "[2.2.0.33] Failed to configure bitlocker as expected. Exception: Object reference not set to an instance of an object., InnerException: , stack trace:    at Microsoft.Cis.Security.BitLocker.BitlockerIaasVMExtension.EncryptableVolume.IsVolumeBackedByN

[2020-09-10 13:52] horstwutscher commented on #11075
Hello,
I also get the same error.
Maybe someone has a solution for me or help me to fix the problem.
We have created five subscriptions manually.
Thanks,
Horst

[2020-09-10 13:54] horstwutscher opened #12919 "Bad request error when trying to create Azure subscriptions programmatically in Powershell using new-azsubcription"
I'm logged into Azure as a ea account owner, and I wish to programmatically create a number of subscriptions, with the same configuration, however when I run the command below I receive a 'BadRequest' error.

Error Detail:

New-AzSubscription : Operation returned an invalid status code 'BadRequest'
At line:1 char:1

[2020-09-10 15:51] dingmeng-xue commented on #12889
All cmdlets under MonitorCmdletBase do not follow Azure PowerShell practice. We will fix it.
https://github.com/Azure/azure-powershell/blob/1bcbe7b1f7a3323ac98f7754ba03eeb6b45e79f2/src/Monitor/Monitor/MonitorCmdletBase.cs#L92

[2020-09-10 16:00] dingmeng-xue commented on #12896
@Francisco-Gamino , normally we use `-Debug` or `$DebugPreference="Continue"`. Please check if output is your expected.

The output on information level seems not make sense. We will remove redundant information.

[2020-09-10 16:05] dingmeng-xue commented on #12902
Service team, please check this issue.

[2020-09-10 17:36] amjads1 commented on #12886
Looking into the issue.

[2020-09-10 18:46] amjads1 commented on #12886
Assigned to Avi.

[2020-09-10 20:55] Vaibhav-Agar commented on #12719
Hi @cluppino,

Refer the text below from the link here: https://docs.microsoft.com/en-us/rest/api/compute/disks/createorupdate

storageAccountId | string | Required if createOption is Import. The Azure Resource Manager identifier of the storage account containing the blob to import as a disk.

From the script you provided, I can see that the createOption is indeed Import and hence StorageAccountID

[2020-09-10 20:55] #12719 closed

[2020-09-11 00:18] dingmeng-xue commented on #12919
@horstwutscher , thanks for reporting. Please provide debug information. You can get it via setting `$DebugPreference="Continue"` and run your cmdlet again.

[2020-09-11 00:28] dingmeng-xue commented on #12917
Thanks for reporting. We will look into it.

[2020-09-11 00:30] dingmeng-xue commented on #12908
SQL team, please help to look into this question.

[2020-09-11 00:40] dingmeng-xue commented on #12906
Compute team, please look into this question. It seems current logic is client side just check and filter the first 100 records. It is not consistent with warning message.

[2020-09-11 00:47] dingmeng-xue commented on #12904
@segraef , let's check it in email. Actually. Az.Resources has no change between Az.4.6.0 and Az.4.6.1.

[2020-09-11 00:53] pcgeek86 opened #12923 "Missing commands to manipulate Azure Monitor Workbooks"
## Description

As best I can tell, the Microsoft Azure PowerShell module is missing commands to manage Azure Monitor Workbooks.

I found some documentation that appears to reference "workbook" resources in the `microsoft.insights` resource provider namespace.

https://docs.microsoft.com/en-us/azure/templates/microsoft.insights/workbooks

## Steps to reproduce

[code]

## Environment data

[code]

[2020-09-11 00:57] PaulFarry opened #12924 "Set-AzWebApp / Set-AzWebAppSlot support Managed User Identity"
## Description of the new feature
Currently the setting of the Identity for an App/Slot only allows a System Assigned identity
https://github.com/Azure/azure-powershell/blob/51bb40ad4aae1a150556829f67bf405dea50534c/src/Websites/Websites/Cmdlets/WebApps/SetAzureWebApp.cs#L276

It would be ideal if there was a way to assign a User Managed Identity

## Proposed implementation details (optional)
Maybe

[2020-09-11 01:03] brianlehr opened #12925 "Utilize new API for Public IPs"
**Resource Provider**
Az.Network

**Description of Feature or Work Requested**
Please begin to use API 2020-08-01, which has a breaking change for public IP creation as described here: https://docs.microsoft.com/en-us/azure/virtual-network/create-public-ip-powershell?tabs=option-create-public-ip-standard-zones

That is, to create a standard zone-redundant public ip, you must now use -zone 1,2,3 in

[2020-09-11 01:35] #12555 closed

[2020-09-11 02:42] blueww commented on #12907
@deontaepharr
Could you share why do you want to copy an append blob to block blob? It can help us to evaluate requirement, and see if it's a common request.
BTW, as a workaround, you might can download the append blob to local, and upload as a block blob, then delete the local file.

[2020-09-11 04:42] dingmeng-xue opened #12927 "Upgrade scheduledQueryRule to new version 2020-05-01-preview"
We need to upgrade API to new version https://github.com/Azure/azure-rest-api-specs/blob/master/specification/monitor/resource-manager/Microsoft.Insights/preview/2020-05-01-preview/scheduledQueryRule_API.json

[2020-09-11 05:47] horstwutscher commented on #12919
Hello,
is it possible to send a private message with logs?

[2020-09-11 06:17] #12372 closed

[2020-09-11 07:26] wyunchi-ms opened #12935 "[Generation] Generated module has no required module for Az.Accounts"
## Description
Add dependance for `Az.SpringCloud` of `Az.Accounts`.

## Cost

[2020-09-11 08:00] permster opened #12937 "Update-AzSignalRNetworkAcl not setting allow/deny rules correctly"
## Description
When trying to update SignalR network access control rules using Update-AzSignalRNetworkAcl the allow and deny parameters do not work as expected.  When setting an **allow** rule I expect it to remove the corresponding deny rule.  Also, vice versa I expect when setting a **deny** rule that the corresponding allow rule be removed.  Currently it leaves both the allow and deny rules in

[2020-09-11 08:37] erich-wang commented on #12917
@Manbearpiet , could you please confirm you have provided the value for Password of Credential? I got same error as you if I leave  password as empty.

[2020-09-11 10:01] #12754 closed

[2020-09-11 11:32] dingmeng-xue commented on #12903
Please help to look into it.

[2020-09-11 11:36] dingmeng-xue commented on #12923
Thanks for reporting. We will evaluate this feature request.

[2020-09-11 11:37] dingmeng-xue commented on #12924
WebApp team, please help to look into this question.

[2020-09-11 11:39] dingmeng-xue commented on #12925
Network team, please help to triage this request

[2020-09-11 11:41] dingmeng-xue commented on #12937
SignalR team, please help to look into this question.

[2020-09-11 11:43] dingmeng-xue commented on #12165
@Panzerbjrn , we cannot reproduce this issue. I believe it is related to this storage account. I'm closing this issue now. If you have further information, please let us know.

[2020-09-11 11:43] #12165 closed

[2020-09-11 11:47] dingmeng-xue commented on #12659
Close this issue. Please ping us if you need further help

[2020-09-11 11:47] #12659 closed

[2020-09-11 11:48] #12526 closed

[2020-09-11 11:48] dingmeng-xue commented on #12748
Close this issue now. If you need further help, please contact us

[2020-09-11 11:48] #12748 closed

[2020-09-11 11:51] dingmeng-xue commented on #12850
Service team, please check if you can make error message better

[2020-09-11 11:52] dingmeng-xue commented on #12841
We will convey it to service team. Close this issue now.

[2020-09-11 11:52] #12841 closed

[2020-09-11 12:06] brettmillerb commented on #12695
Okay, so I finally got to the bottom of this today.

The issue I was seeing was that the Context subscription which the runas account was running under was a different subscription to the automation account.

So I added a `Set-AzContext-Subscription $subscription` to the runbook and I was able start the other runbook.

This can be closed but the 'ResourceGroupNotFound` was a little misleading in t

[2020-09-11 12:25] dingmeng-xue commented on #12695
@brettmillerb , thanks for information and sorry that I didn't do further investigation.

"NotFound" message is by design in an access controlled system. It won't expose sensitive information that target object is non-existing or inaccessible due to permission.

[2020-09-11 12:25] dingmeng-xue commented on #12695
Close this issue now. Thanks again.

[2020-09-11 12:25] #12695 closed

[2020-09-11 13:11] bbung opened #12941 "Import-AzAksCredential allow to set local config name oder admin -admin"
## Description of the new feature

If i import the credentials with the -Admin option my existing config (non -Admin) are always overwritten.

The az cli added "-admin" to the context name in my .kube/config.

That way i could easily switch between different access_types.

## Proposed implementation details (optional)

Just add "-admin" if i use the -Admin option to my context-name
OR/AND
introduc

[2020-09-11 13:11] horstwutscher commented on #12919
PS C:\_Azure\Shared-PlattformAdministration> New-AzSubscription -Name "Test1test20201009" -EnrollmentAccountObjectId "xxxx-xxxxxx-xxxxxx-xxxxxxx-xxxxxx" -OfferType "MS-AZR-0148P" #  -OwnerObjectId "xxxx-xxxxxx-xxxxxx-xxxxxxx-xxxxxx" $DebugPreference="Continue" -SilentlyContinue="Continue"
DEBUG: 07:36:33 - NewAzureRmSubscription begin processing with ParameterSet '__AllParameterSets'.
DEBUG: 07:36

[2020-09-11 15:16] Kotasudhakarreddy commented on #12796
@Tyriar we have raised a clarification to product team on this. Will update the same in my next update.

[2020-09-11 15:21] Kotasudhakarreddy commented on #12843
@Kitwradr could you please share the steps you followed to face this issue.

[2020-09-11 15:22] panchagnula commented on #12924
@PaulFarry we recently added support for user-assigned identity using CLI commands - Powershell commands are blocked on new .NET SDK update the ETA for which is October, after that we will add support to user-assigned as well.

here is link to our CLI commands https://docs.microsoft.com/en-us/cli/azure/webapp/identity?view=azure-cli-latest#az_webapp_identity_assign

[2020-09-11 15:26] Kitwradr commented on #12843
@Kotasudhakarreddy @dingmeng-xue have updates with required info

[2020-09-11 15:55] Kotasudhakarreddy commented on #12843
@Kitwradr thank you!. we will take a look in to the issue.

[2020-09-11 18:15] deontaepharr commented on #12907
@blueww The reason why I want this is due to having separate storage accounts, one with hierarchical namespace enabled and another without. The non-hierarchical storage account is needed as it allows append blobs. However, I need to perform copying/moving of these AppendBlobs to the hierarchical namespace enabled storage account.

The workaround would be sufficient, but unfortunately, downloading

[2020-09-11 18:41] milkshakespoon commented on #9316
I am getting this error today running linux Powershell Core.

Version           Name                           Repository      Description
-------              ----                                ----------           -----------
4.6.1              Az                                  PSGallery      Microsoft Azure PowerShell - Cmdlets to ma...

[code]

[2020-09-11 19:22] bganapa commented on #9063
We still have this in Az version. @TheOnlyWei  Could you pls file a internal item to track and take this up for the upcoming sprint?

[2020-09-11 19:31] amjads1 commented on #12906
Looking into the issue.

[2020-09-11 19:34] amjads1 commented on #12906
Assigned to Avi.

[2020-09-11 19:43] amishra-dev commented on #12286
Please reactivate if the issue is not resolved.

[2020-09-11 19:43] #12286 closed

[2020-09-11 19:57] bmoore-msft commented on #12313
@SimonWahlin - if you're still inclined, a PR would be helpful...

[2020-09-11 21:52] bganapa commented on #11714
AzureStack module 1.8.2 is out

[2020-09-11 21:52] #11714 closed

[2020-09-11 21:53] bganapa commented on #11782
@TheOnlyWei Did we hit this issue again? Do we need it

[2020-09-11 21:55] bganapa commented on #12581
closing this in favor of https://github.com/Azure/azure-powershell/issues/12582

[2020-09-11 21:55] #12581 closed

[2020-09-11 21:57] bganapa commented on #10192
@dolauli @isra-fel Can you pls move this to a proper milestone. We are not blocked by this issue

[2020-09-11 21:58] bganapa commented on #9301
@dingmeng-xue  This could be an item that could be supported by the new Azure.Identity and MSAL . Could you please take this up for discussion?

[2020-09-11 21:59] bganapa commented on #9253
This will be be fixed with the new Az module for the profile 2020-09-01-hybrid

[2020-09-11 22:01] bganapa commented on #9063
@TheOnlyWei We need to check with the new Az modules whether it is using Odata 3 or Odata 4. If it is using Odata4 , then we could remove the need of BypassObjectIdValidation parameter. We will be in consisistent with azure for ADFS

[2020-09-12 17:22] prbans commented on #12792
Was this closed in favor of #12819?

[2020-09-12 22:21] nevergonnagityouup commented on #12792
Having the same issue trying to deploy an ARM template with "New-AzResourceGroupDeployment" in Azure Automation Runbooks.

[2020-09-12 22:29] nevergonnagityouup commented on #12819
Having the same issue in an Azure Automation Runbook running version 2.5.0 there as well. Happy I found this thread cause I was looking everywhere for what was going on.

[2020-09-13 13:57] jaspkaur28 commented on #12823
We've got this triaged and added it as a feature ask to our backlog. However , Automation team wont be able to get this prioritized right now since the team is working towards some of the other high prioritity work items in Automation . We will definately revisit this in Q4 CY20 & pick this up if resourcing allows.

[2020-09-13 14:13] eosho commented on #10316
+1 on this request. We need a way to check if the aysnc operation is actually successful out of the box.

[2020-09-13 18:48] SimonWahlin commented on #12313
This was actually fixed in #12548

More specifically here: https://github.com/shenglol/azure-powershell/commit/17396b994fe1a431978cf4f1bcfe30aecca065e3#diff-80be659337470c2fd54585dd73b170d5R74

Thanks @shenglol!

I'm closing this Issue.

[2020-09-13 18:48] #12313 closed

[2020-09-13 23:45] PcChip commented on #12561
Hi @scott1138  , thanks for the info

Microsoft, is there any update on this?

[2020-09-14 06:28] dingmeng-xue commented on #12941
Thanks for reporting. We will evaluate it.

[2020-09-14 06:57] WilfriedWeidner commented on #12904
Hi, I have the same issue during deployment of a VM via automation account runbook.
I try to deploy the VM with my local infrastructure and get the same error.
(az 4.6.1; az.resources 2.5.0)
If I downgrade the module az.resources to 2.4.0 and everything works fine for me!

[2020-09-14 07:43] blueww commented on #12907
@deontaepharr
Thanks for sharing the scenario!
Let's see if this is a common scenario that also needed by other customers.

BTW, for how to run AzCopy in Azure Function, you might can ask Azure Function team for help.

[2020-09-14 10:20] dolauli opened #12953 "[HanaOnAzure] Please use PtrToStringBSTR instead of PtrToStringAuto for secure string decrytion"
## Description
The issue happens in PowerShell 7.* in Linux/MacOS. The root cause is there is breaking change for the API PtrToStringAuto.
To workaround the issue, please follow the sample below to decrpyt secure string.

`$psTxt = . "$PSScriptRoot/../utils/Unprotect-SecureString.ps1" $PSBoundParameters['Password']`

Source code of Unprotect-SecureSting.ps1
[code]

Please see https://github.com/Az

[2020-09-14 10:24] dolauli opened #12954 "[MariaDb] Please use PtrToStringBSTR instead of PtrToStringAuto for secure string decrytion"
## Description
The issue happens in PowerShell 7.* in Linux/MacOS. The root cause is there is breaking change for the API PtrToStringAuto.
To workaround the issue, please follow the sample below to decrpyt secure string.

`$psTxt = . "$PSScriptRoot/../utils/Unprotect-SecureString.ps1" $PSBoundParameters['Password']`

Source code of Unprotect-SecureSting.ps1
[code]

https://github.com/Azure/azure-p

[2020-09-14 10:25] dolauli opened #12955 "[MySql] Please use PtrToStringBSTR instead of PtrToStringAuto for secure string decrytion"
## Description
The issue happens in PowerShell 7.* in Linux/MacOS. The root cause is there is breaking change for the API PtrToStringAuto.
To workaround the issue, please follow the sample below to decrpyt secure string.

`$psTxt = . "$PSScriptRoot/../utils/Unprotect-SecureString.ps1" $PSBoundParameters['Password']`

Source code of Unprotect-SecureSting.ps1
[code]

https://github.com/Azure/azure-p

[2020-09-14 10:26] dolauli opened #12956 "[PostgreSql] Please use PtrToStringBSTR instead of PtrToStringAuto for secure string decrytion"
## Description
The issue happens in PowerShell 7.* in Linux/MacOS. The root cause is there is breaking change for the API PtrToStringAuto.
To workaround the issue, please follow the sample below to decrpyt secure string.

`$psTxt = . "$PSScriptRoot/../utils/Unprotect-SecureString.ps1" $PSBoundParameters['Password']`

Source code of Unprotect-SecureSting.ps1
[code]

https://github.com/Azure/azure-p

[2020-09-14 10:26] dolauli opened #12957 "[TimeSeriesInsights] Please use PtrToStringBSTR instead of PtrToStringAuto for secure string decrytion"
## Description
The issue happens in PowerShell 7.* in Linux/MacOS. The root cause is there is breaking change for the API PtrToStringAuto.
To workaround the issue, please follow the sample below to decrpyt secure string.

`$psTxt = . "$PSScriptRoot/../utils/Unprotect-SecureString.ps1" $PSBoundParameters['Password']`

Source code of Unprotect-SecureSting.ps1
[code]

https://github.com/Azure/azure-p

[2020-09-14 12:55] #9916 closed

[2020-09-14 17:21] achaikaJH opened #12958 "Update-azurermvm returns an error when VM is using managed storage account for boot diagnostics"
when Update-azurermvm ran agains VM which is using managed storage account for boot diagnostics following error is returned:

 Update-azurermvm -ResourceGroupName rg -VM $vm

 Update-azurermvm : Required parameter 'bootDiagnostics.storageAccountUri' is missing (null).
ErrorCode: InvalidParameter
ErrorMessage: Required parameter 'bootDiagnostics.storageAccountUri' is missing (null).
ErrorTarget: bo

[2020-09-14 17:55] anuragdalmia commented on #12919
@horstwutscher seems like you are not entitled for the dev/test subscription. Please look at https://docs.microsoft.com/en-us/azure/cost-management-billing/manage/ea-portal-administration#enterprise-devtest-offer to have your account enabled for this. We will take the feedback to improve the error message in this case.

[2020-09-14 18:35] pvrk commented on #10521
@brpowershell : With the PS release in August (4.5.0), you should be able to view backup items of type windows and jobs too. This should fulfill the requirement.

[2020-09-14 18:37] pvrk commented on #10546
@peppekerstens : Thanks for the update. Will look into it and let you know.

[2020-09-14 18:43] pvrk commented on #10521
Closing this issue since the feature request was delivered. Please feel free to re-open if the issue is not solved.

[2020-09-14 18:43] #10521 closed

[2020-09-14 18:44] pvrk commented on #9580
Closing this issue since this is tracked in the new issue.

[2020-09-14 18:44] #9580 closed

[2020-09-14 19:14] allegradomel commented on #12312
Hi @theonesuperdave, following up on this - which tag did you expect to see the this IP under?

[2020-09-14 19:28] allegradomel commented on #12543
I have created a PR to correct this https://github.com/Azure/azure-powershell/pull/12959
@GaryLBaird thanks for bringing this to our attention!

[2020-09-14 19:28] #12543 closed

[2020-09-14 22:21] Johann-Hackl opened #12960 "Set-AzDiagnosticSetting ignores RetentionInDays, if no category specified"
Set-AzDiagnosticSetting ignores RetentionInDays, if no category specified.
By reading the docs, I'd expect that RetentionInDays works for all categories whenever no explicit category (metric and/or log) is specified.

Docs: https://docs.microsoft.com/en-us/powershell/module/az.monitor/set-azdiagnosticsetting
File: https://github.com/Azure/azure-powershell/blob/master/src/Monitor/Monitor/Diagnostic

[2020-09-15 01:51] dingmeng-xue opened #12961 "Support searching alias in Azure PowerShell online reference doc"
## Description of the new feature

For instance, user searches `Get-AzAks` but it cannot be found in the latest Az version because it is alias of `Get-AzAksCluster`. Many cmdlets have the similar problem, and make audience confused. We need to:

- Add alias information on online help file
- Index alias and allow user to search it

## Proposed implementation details (optional)

[2020-09-15 02:48] ChristopherGLewis opened #12962 "Az.Resources 2.5 broke ARM template Copy/Arrays vs 2.4"
## Description
The Recent update to Az.Resources broke the processing of an ARM Template that we use to deploy solutions.  It uses a simple ARM template and array to install a list of LogAnalytics solutions.

The error specifically has to do with the concat to build up the resource name.

[code]

[code]

## Steps to reproduce
Upgrade to latest Az module.

[code]

Deploy/Test an ARM template

[code

[2020-09-15 03:28] Y-Sindo commented on #12937
Whether the allow list or deny list takes effect depends on the "defaultAction" field. If your default action is "deny", then only the allow list matters. So there is no conflict.

[2020-09-15 03:29] #12937 closed

[2020-09-15 05:40] codeevaluator commented on #12819
+1 same issue for us.

[2020-09-15 05:47] permster commented on #12937
The way this cmdlet works is not on par with Azure CLI.  If I run the following az command it works properly by removing all three allow network ACL's on the public network.
[code]

However, running my original PowerShell command does **not** remove the allow network ACL's on the public network like it should:
[code]

"defaultAction" or not why do these two ways produce different results?

[2020-09-15 05:51] Y-Sindo commented on #12937
Why Azure Cli removes all the allow list is because the allow list is default to null if you didn't set the allow list. You can also set both allow list and deny list in Azure Cli.

[2020-09-15 05:54] oWretch opened #12964 "Get-AzP2sVpnGatewayDetailedConnectionHealth fails with Index error"
## Description
When running the `Get-AzP2sVpnGatewayDetailedConnectionHealth` cmdlet to retrieve the detailed connection settings as per the [documentation](https://docs.microsoft.com/en-us/powershell/module/az.network/get-azp2svpngatewaydetailedconnectionhealth?view=azps-4.6.1#examples), the cmdlet fails with

`Get-AzP2sVpnGatewayDetailedConnectionHealth: Index (zero based) must be greater than o

[2020-09-15 07:00] Y-Sindo commented on #12937
But thank you for reminding me that this command can not clear the allow and deny rules. This bug should be fixed in next release.

[2020-09-15 07:04] oWretch commented on #12964
With further testing today, I think the error lies within `New-AzStorageBlobSASToken`. If I manually create a SAS URL from the Azure Portal the cmdlet works correctly.

[2020-09-15 09:02] Akshat59 commented on #1896
Please clarify how to resolve this issue - Getting error while using Get-AzureRmADApplication

[2020-09-15 09:30] Akshat59 commented on #3686
facing same issue. ho to resolve this [#1896](https://github.com/Azure/azure-powershell/issues/1896) did not helped

[2020-09-15 09:33] ajayvedwa commented on #11202
same issue with as mentionedd by @prasad-sunkara

[2020-09-15 09:49] MasterKuat opened #12968 "Set-AzSqlInstanceDatabaseVulnerabilityAssessmentRuleBaseline warning for system's databases"
## Description
When you try to set baseline for Managed Instance system database, Set (or Get) cmdlet warn with message :
AVERTISSEMENT : Vulnerability Assessment operation is not available on managed instance system database. Skipping...

By the way, Vulnberabilities scan don't care about system database or not and Azure portal allow to set baseline for system's databases

## Steps to reproduce

[2020-09-15 10:24] Kitwradr opened #12969 "While uploading public certificate - New-AzResource : {"Message":"The requested resource does not support http method 'PUT'."}"
## Description
While uploading public certificate to app service I get this error - New-AzResource : {"Message":"The requested resource does not support http method 'PUT'."}

I followed the answer in this link [https://stackoverflow.com/questions/57979337/how-to-upload-private-key-certificates-pfx-public-key-certificates-cer-to](url)

## Steps to reproduce

[code]

## Environment data

[code]

##

[2020-09-15 10:28] frank9843 opened #12970 "Remove-AzConsumptionBudget does not trigger a log activity entry"
## Description

## Steps to reproduce

- Manually add and delete a budget in a resource group
- Go to the activity log for the resource group
=> 2 entries are added
- Add a new budget manually
- Use the set-AzConsumptionBudget to adjust the budget amount (just to verify if other powershell commands to trigger activity log entries)
- Check the activity log for the resource group
=> Another entry wa

[2020-09-15 11:30] dingmeng-xue commented on #12962
@ChristopherGLewis , please check if it is the similar issue #12773. New version should be available in the next week.

[2020-09-15 12:44] Sebastian-Negoescu commented on #12773
Same situation here. 4.6.0 messed up iteration through array parameters.

[2020-09-15 12:46] Sebastian-Negoescu commented on #12962
+1
It happens in Azure Pipelines with AzurePowerShell@4 (LatestVersion);
If I switch back to a previous working pipeline for version "3.8.0" it all works well again.

[2020-09-15 14:08] ChristopherGLewis commented on #12962
It very well could be, but this error is thrown on parsing the copy - It looks like the array of strings is being parsed as an array of arrays :

[code]
and that referencing  `parameters('solutionTypes')[copyIndex()]` returns an array, not a string.  Without code diving, I wouldn't be able to tell.

This is more frustrating that this wasn't caught as part of the release testing - seems that an ARM

[2020-09-15 15:22] J0F3 opened #12972 "Docker Image: Install module for all users?"
## Description
Is it by intend that the module is installed only for root in the container image?

Can we add a `-Scope AllUsers` so the module is accessible also for other users in the container?

**Backstory:**
We wanted to use this image as base for a custom image which runs with a standard user (instead of root). But because the module is installed under `/root/.local/share/powershell/Modules`

[2020-09-15 17:21] basanthkakumani opened #12973 "Issue with Get-AzKeyVaultSecret"
## Description
I am running into below error when i am trying to run Get-AzKeyVaultSecret as Runbook, it worked fine in Powershell from my local

**Get-AzKeyVaultSecret : Parameter set cannot be resolved using the specified named parameters. At line:13 char:11 + $secret = Get-AzKeyVaultSecret -VaultName "XXXXX" -Name "XXXX ... + ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ + Categor

[2020-09-15 18:00] deontaepharr commented on #12907
@blueww thank you for pointing me to the functions team. I will pose that question there about azcopy

[2020-09-15 21:04] bgklein commented on #10704
Batch recently released its 09-01 REST API. When we get to the PowerShell work for supporting this API this will be included

[2020-09-15 22:32] PalmEmanuel opened #12975 "SAS token generated by New-AzServiceBusAuthorizationRuleSASToken is not valid"
## Description

The SAS token for Azure Service Bus generated by New-AzServiceBusAuthorizationRuleSASToken is not valid for use.

## Steps to reproduce

Create a Service Bus Namespace in Azure, together with a Queue. Create a SAS policy in the queue, and attempt to create a token using New-AzServiceBusAuthorizationRuleSASToken.

[code]

This results in:

[code]

According to the [documentation](ht

[2020-09-16 01:04] nehakalems commented on #12958
I am facing same issue. How do I add the storageaccounturi?

[2020-09-16 03:24] dingmeng-xue commented on #12973
@basanthkakumani , thanks for reporting.

Az.KeyVault 4.0.2-preview is a preview version which contains new format of cmdlet signature. If you just use it in automation environment, stable version is recommended. Please try to use Az.KeyVault 2.1.0

[2020-09-16 03:29] dingmeng-xue commented on #12960
@VeryEarly , please help to look into this question.

[2020-09-16 03:35] dingmeng-xue commented on #12958
Thanks for reporting. Could you share detail debug message? You can get it when you set `$DebugPreference="Continue"`.

[2020-09-16 03:37] dingmeng-xue commented on #12970
Consumption team, please help to look into this question.

[2020-09-16 04:01] dingmeng-xue commented on #12972
Thanks for reporting.

@J0F3 , we didn't consider it because we thought docker container is used per user. We didn't set scope and just used default one. We will evaluate it.

[2020-09-16 04:06] dingmeng-xue commented on #12975
ServiceBut team, please help to look into this question.

[2020-09-16 04:26] Cj-Scott opened #12977 "CloudQueue Error Cannot find an overload for "AddMessageAsync" and the argument count: "1"."
I am running across this error mentioned in the title while trying to send messages to my Queue.

I first ran across the error in an Azure Function Using PowerShell 7.0 with the latest AZ modules and was able to repro it on my local machine using PowerShell 5.1 and the latest AZ Modules.

Workarounds involving using whole assembly name mentioned in issue #8942 do not work in this instance with an

[2020-09-16 04:29] OI-nikhilkenvetil commented on #12440
Just wanted to know if there's any progress in this please. We're stuck too.

[2020-09-16 04:30] Cj-Scott commented on #12977
`                        $queueMessage = New-Object -TypeName Microsoft.Azure.Storage.Queue.CloudQueueMessage -ArgumentList "$message"
                        $myQueue.CloudQueue.AddMessageAsync($queueMessage)`

[code]

![Capture](https://user-images.githubusercontent.com/30878277/93292530-c3898e00-f7b3-11ea-91fe-1b11c9718e5f.PNG)

[2020-09-16 05:33] dingmeng-xue commented on #12968
SQL team, please look into this question.

[2020-09-16 05:35] dingmeng-xue commented on #12977
Storage team, please check if this object is changed in the new version.

[2020-09-16 05:55] blueww commented on #12977
@Cj-Scott

Please make sure the `$queueMessage` has type `Microsoft.Azure.Storage.Queue.CloudQueueMessage`，you can check it by run "$queueMessage.GetType().AssemblyQualifiedName".

From the above console output, the  `$queueMessage` is from `Microsoft.WindowsAzure.Storage.dll`， the type in this dll should be `Microsoft.WindowsAzure.Storage.Queue.CloudQueueMessage` (note it has additional "Windows"

[2020-09-16 09:50] J0F3 commented on #12972
Thanks.

Maybe I can elaborate our use case a bit more:
We would like to use the container image to run an CI/CD pipeline with it. So we want to run as a standard user in the container so the tool set etc. in the image can not be modified form the pipeline as much as possible. To the use case would be still single user, but as a standard not elevated user, which can not modify the tools included i

[2020-09-16 10:21] #12579 closed

[2020-09-16 12:04] alex200789 opened #12983 "Set-AzApplicationGatewayIPConfiguration: Wrong IP Config Resource Id"
Hi,

i've tried to change the Subnet of my Application Gateway described in your [article](https://docs.microsoft.com/en-us/powershell/module/az.network/set-azapplicationgatewayipconfiguration?view=azps-4.6.1)

[code]

Commands running without errors, but no Subnet gets changed in my Gateway at all.
After investigating the contents of **$AppGw** I've noticed the following lines:

[code]

Instead o

[2020-09-16 13:16] Cj-Scott commented on #12977
Thanks @blueww
You were right about the DLL changed it too `Microsoft.WindowsAzure.Storage.Queue.CloudQueueMessage` but still see the error.

Here is the script

[code]
And the results of the requested post repo script.
[code]

[2020-09-16 14:38] #12983 closed

[2020-09-16 14:46] achaikaJH commented on #12958
Please find debug output below.
As a workaround VM boot diagnostics settings could be changed to the custom storage account. It seems issue only affects VMs which have managed storage account configured for boot diagnostics.
`PS C:\Users\ac5> Update-AzureRmVM -ResourceGroupName rg -VM $vm
DEBUG: 10:20:42 AM - UpdateAzureVMCommand begin processing with ParameterSet 'ResourceGroupNameParameterSetNam

[2020-09-16 16:01] Cj-Scott commented on #12977
FYSA we were able to get around the error by creating a QueueClient and using the sendmessage method of the client and passing the messages as strings.

[code]

`$QueueClient.SendMessage("$message")`

[2020-09-16 16:09] nehakalems commented on #12958
I am getting similar output

[2020-09-16 16:14] basanthkakumani commented on #12973
thank you that worked.

[2020-09-16 16:14] #12973 closed

[2020-09-16 18:21] Kitwradr commented on #12969
Hi resolved this issue, the mistake was the variable $sertName was not being initialized

[2020-09-16 18:21] #12969 closed

[2020-09-16 18:28] stefan923456 opened #12987 "Remove-AzWvdUserSession doesn't work when Resource Group is locked."
We use some Azure Automation to allow the users to Self Service their Logoff when application freeze the WVD session.

For WVD classic it was this command: invoke-RdsUserSessionLogoff and it worked fine.

For WVDv2 (Spring Update) it is this command: Remove-AzWvdUserSession

And it fails horribly because we make it a best practice to put a delete lock on the Resource Groups.

So please make "Remov

[2020-09-16 19:45] abatishchev opened #12988 "Get-AzEnvironment output is table formatted hence unreadable"
## Description

The default output formatting for `Get-AzEnvironment` is **table**.

## Steps to reproduce

[code]

To get meaningful information out of it, user needs to format as **list**:

[code]

## Environment data

[code]

## Module versions

[code]

[2020-09-16 20:21] ferristocrat opened #12989 "Inherit content type using Set-AzStorageBlobContent like in Azure Portal"
## Description
When I manually upload a file to blob storage through the Azure portal, it automatically assigns the correct CONTENT-TYPE of `text/html`, but when using Set-AzStorageBlobContent the CONTENT-TYPE is set to `application/octet-stream`

Is there a way to automatically assign the CONTENT-TYPE when using Set-AzStorageBlobContent as is done when uploading a file through the portal?

![imag

[2020-09-16 21:14] mremkiewicz opened #12990 "Set-AzApiManagementPolicy not saving complete policy"
## Description
When adding cors policy using a namedValue, the attribute is stripped.

Here is what is being submitted:
[code]
When saved, the allow-credentials is stripped but the origin element persists. I've tried using without expressions as well, but the same result.  Looks like it only affects attributes, but cannot confirm.

## Steps to reproduce

[code]

## Environment data

[code]

## Mod

[2020-09-16 21:16] mremkiewicz commented on #12990
The XML wasn't persisted... trying again:

`<cors allow-credentials="@({{cors-allow-credentials}})" >
  <allowed-origins>
    <origin>{{cors-origin}}</origin>
  </allowed-origins>
  <allowed-methods preflight-result-max-age="7200">
    <method>*</method>
  </allowed-methods>
  <allowed-headers>
    <header>*</header>
  </allowed-headers>
  <expose-headers>
    <header>*</header>
  </expose-headers

[2020-09-16 22:49] chris-holmes1111 commented on #12561
This is affecting us as well. We have a Azure runbook that we've created that checks for reservation utilization. Since the API version changed, the Get-AzConsumptionUsageDetail cmdlet no long works. When enabling debug preference, I see the same error as @PcChip

[2020-09-16 22:52] mremkiewicz commented on #12990
My assumption isn't correct about the attribute. I just used the function for the following template and it worked.

`        <validate-jwt header-name="Authorization" failed-validation-httpcode="401" failed-validation-error-message="Unauthorized" require-expiration-time="true" require-scheme="Bearer" require-signed-tokens="true">
            <openid-config url="**{{validate-jwt-openid-config-url}

[2020-09-16 23:39] v-Ajnava commented on #10722
@thelethalkind , fix is merged and will be available in coming Azure Powershell release. will post the link to release once its out.

[2020-09-16 23:49] TheOnlyWei commented on #11648
@hawesr
1. What AzureStack context did you log in to execute the command?
2. Is Enable-AzureRmContextAutoSave enabled or disabled?
3. Which line is producing the error? Can we get the full error output with -Debug and -Verbose flags?

[2020-09-17 00:05] dingmeng-xue commented on #12990
@mremkiewicz , thanks for your reporting. I have added ApiManagement team in this conversation.

Could you provide debug information? You can get it after you set `$DebugPreference="Continue"`

[2020-09-17 00:07] dingmeng-xue commented on #12989
Storage team, please help to look into this question.

[2020-09-17 00:10] dingmeng-xue commented on #12988
@abatishchev , thanks for your question. It has been discussed by many users. Currently, table format is default display format. We pick up significant information to be shown. `Format-List` is current suggestion if user want to see detail information.

Do you hope any other property should be shown in table?

[2020-09-17 00:18] dingmeng-xue commented on #12987
@stefan923456 , If resource group has a delete lock, the resource within this group cannot be deleted too. It's current default behavior in Azure.

We recommend to remove delete lock at the first via `Remove-AzResourceLock`. It will be a safe way to all users.

[2020-09-17 00:23] dingmeng-xue commented on #12964
Network team, please help to look into this question.

[2020-09-17 01:51] blueww commented on #12977
@Cj-Scott

Good to know you have workaround it!

But the above script create queue message with wrong type.
$queueMessage should be created with type "Microsoft.Azure.Storage.Queue.CloudQueueMessage"  to work together with Queue object created from Get-AzStorageQueue.

Following script is wrong:
`
$queueMessage = New-Object -TypeName Microsoft.WindowsAzure.Storage.Queue.CloudQueueMessage -Argument

[2020-09-17 02:12] abatishchev commented on #12988
I see. It might depend on everyone's particular case or usage. For me, the existing two would be probably good enough, constitute "most significant" information. But often I need other values (such as Graph or Key Vault but again, that is on the case by case basic.

[2020-09-17 02:12] #12988 closed

[2020-09-17 02:22] Cj-Scott commented on #12977
Thank you, That did in fact solve my issue.
It also fixed my issue with the encoding I was having when using the Queue Client instead of the QueueCloudMessage Object.

[2020-09-17 02:28] blueww commented on #12989
@ferristocrat

Set-AzStorageBlobContent currently won't automatically assign the CONTENT-TYPE when upload blob, but user can set customized contenttype with the cmdlet. And user can also get the content-type easily with PSH script.

Like following script will first get contenttype with `[System.Web.MimeMapping]::GetMimeMapping($filepath)`， then set the content type in upload blob with Set-AzStorag

[2020-09-17 02:32] blueww commented on #12977
@Cj-Scott
Good to know your issue is resolved!
I will close this issue.

Feel free to contact us again if need any further assistance on Azure PowerShell.

[2020-09-17 02:32] #12977 closed

[2020-09-17 02:44] mremkiewicz commented on #12990
I tried setting that...  I was using VS Code as the editor and executed the setting in the terminal.  Was this incorrect?  Should I use the pwsh console instead? Where does the output go?

[2020-09-17 03:06] mremkiewicz commented on #12990
Yes... I did it incorrectly... here is the output for the statement:

`DEBUG: 9:59:55 PM - SetAzureApiManagementPolicy begin processing with ParameterSet 'SetApiLevel'.
DEBUG: 9:59:55 PM - using account id 'mark.remkiewicz@rcis.com'...
DEBUG: [Common.Authentication]: Authenticating using Account: 'mark.remkiewicz@rcis.com', environment: 'AzureCloud', tenant: '473672ba-cd07-4371-a2ae-788b4c61840e'

[2020-09-17 04:55] dm10169 opened #12993 "Need .MSI offline installer for Windows Server 2019 Standard"
I need help getting a .MSI installer for a silent automation install for a huge project I'm working on supporting the government.  Any help would greatly be appreciated.  It seems like get an .MSI installer is harder than expected, I guess.

[2020-09-17 06:47] stefan923456 commented on #12987
@dingmeng-xue thank you for your reply. I know why it doesn't work, but it should. The Remove-AzWVDUserSessions does not delete anything, it only logs off a user. The old commandlet name was better: "invoke-RdsUserSessionLogoff" and that command does the same for WVD Classic and works perfectly with Delete Lock on the Resource Group. Please make the new command work as the old command with an in p

[2020-09-17 12:41] Akshat59 commented on #8163
Issue is not Resolved. Ples Reopen

[2020-09-17 14:21] Devvox93 commented on #12680
Any update on this? 2+ weeks since the last update.

[2020-09-17 15:38] J0F3 commented on #9427
Why is this now closed?! It is still not fixed and we are waiting for the release of the new version of the Az.Accounts module since more that a year now! The preview release is only a workaround and seems now even lacking of features. For example the` Invoke-AzRestMethod ` is not in the preview version (only in the 1.9.3 which has still this issue).

So when can we expect finally the GA of the ne

[2020-09-17 16:06] J0F3 opened #13000 "Invoke-AzRestMethod not in Az.Accounts version 2.0.1-preview"
## Description
When Condition Access is configured on the AzureAD Tenant `Connect-AzAccount` does not work when using the stable version (1.9.3) of the Az.Accounts Module. You have to install the 2.0.1 preview version to be able to login.
See #9427 (and numbers of other issues).

Now the Problem is that the preview version seems not anymore feature par with the stable version of the module and the

[2020-09-17 19:06] tamilmani1989 commented on #10988
same here Get-azresource not showing properties but in debug logs i see response body has it.. When this will be fixed?

[2020-09-17 20:41] iampeterdaniels commented on #10988
Would like to get Sku from Get-AzResource.

[2020-09-17 21:13] ckiefer commented on #12792
Thanks for sharing your findings. Spent 4 hours debugging my script and template until I found this post.
@isra-fel: When do you expect this fix to be rolled out?

[2020-09-17 22:37] asifma commented on #10624
Hi,
Why is this warning still showing up?

[code]

I'm running Powershell version

[code]

The change is expected to take effect from the version '2.0.0' but I can still use:

Get-AzApplicationGatewayBackendHttpSetting**s**

[2020-09-17 22:40] Francisco-Gamino commented on #12361
Hello @andrzpg12,

Apologies for the late reply. When you create the function app, you can use the tab completer to see what `-Runtime` are supported.

For example:

`New-AzFunctionApp -Runtime <tab>`  -- this will show you all your runtime options for a function app, in this case: `DotNet`, `Node`, `Java`, etc.

For your case, you just need to select `Node` for the `-Runtime` parameter.

Please p

[2020-09-17 22:44] Francisco-Gamino opened #13002 "[Az.Functions] Need to implement StacksAPI to display what Runtime and RuntimeVersion are available for function app creation"
## Description

Need to implement StacksAPI to display what Runtime and RuntimeVersion are available for function app creation.

cc: @anirudhgarg @stefanushinardi

[2020-09-17 22:46] Francisco-Gamino commented on #12728
Hi @veccsolutions -- Thanks for reporting this issue. Marking this for next milestone.

[2020-09-17 22:49] Francisco-Gamino commented on #12646
This issue has been fixed.

[2020-09-17 22:49] #12646 closed

[2020-09-18 03:18] msJinLei opened #13006 "Sql scenario test "TestDatabasePauseResume" in "DatabaseActivationTests" takes too long to finish"
## Description
Several sql test cases take a long time to finish so that timeouted Azure PowerShell CI several times.
Skip the test case with the highest extrem time temporarily to unblock the CI
https://github.com/Azure/azure-powershell/pull/12985/commits/6f480ddf87fd71e4e7b990195431e674ed6d49f0

![image](https://user-images.githubusercontent.com/54836179/93551362-3c4d3d80-f9a0-11ea-9e1c-c88ad92f

[2020-09-18 05:52] isra-fel commented on #12792
@ckiefer we are targeting next Tuesday, 9/22

[2020-09-18 07:41] dingmeng-xue commented on #12993
Thanks for contacting us.

MSI supports silent installation. Please reference this page http://www.silentinstall.org/msiexec.

Do you meet other challenging about Installer?

[2020-09-18 07:51] dingmeng-xue commented on #13000
Az.Accounts 2.0.x-preview is preview version for MSAL integration. We implemented Invoke-AzRestMethod after 2.0.x-preview. We didn't backport feature because we will support MSAL in stable version soon within 1 or 2 months, and team is very busy now.

Sorry for this inconvenience.

[2020-09-18 07:57] dingmeng-xue commented on #13006
Service team, please help to look into those test cases. They makes CI time out if any PR touches SQL module. Currently, we skip them as temporarily solution.

[2020-09-18 07:58] dingmeng-xue commented on #13002
Add Functions label

[2020-09-18 08:47] cyril-dussert commented on #10624
Hello,

We are experiencing the same issue.

I am running powerwhell 7.0.3 with Az module 4.6.1 (latest). How can we mitigate properly this issue?

Thanks

[2020-09-18 08:58] horstwutscher commented on #12919
Yes, that was the problem, no access to EA Portal :-)

[2020-09-18 09:59] lszomoru commented on #12540
While I have gotten this to work, it is a little cumbersome and I agree that the `New-AzWebAppSSLBinding` cmdlet should be improved.

In order to get this to work I had to:
1. Create a `Microsoft.Web/certificates` Azure resource using an ARM template linked to the app service plan
2. Create a new App Service that uses the app service plan that has the certificate Azure resource linked
3. Call `New

[2020-09-18 11:37] J0F3 commented on #13000
I can understand that you do not want to backport it. But then please keep in mind that a lot of customers (everywhere where conditional access is in place) have to use the preview version because otherwise the Azure PowerShell does not work at all. Now this means also that all these customers can not use Invoke-AzRestMethod.

Furthermore the preview version is, as you can see now, not a solution

[2020-09-18 15:11] theonesuperdave commented on #12312
Hello @allegradomel, according to the docs I read, it looks like `AzDO` agents can come from anywhere in the geography for my Azure subscription, so I would think it would be something like, "AzureCloud.northcentralus" or similar. It has been forever since I looked at this, but the end result was the IP range was not found using IP address displayed from the `AzDO` cloud-hosted agent.

[2020-09-18 16:48] tonswart commented on #12550
A little late response due to holiday celebrations.

The issue is in the Linked Service '`Rest_AFAS_Service`'

JSON code:
[code]

[2020-09-18 17:44] bganapa opened #13010 "[AzureStack] Az.Accounts 2.0.1-preview - Login is broken in disconnected ADFS"
## Description

in a disconnected ADFS environment, login-azaccount is broken . It seems we are trying to reach the internet . I will edit this issue and more details as we repro the issue

## Steps to reproduce
In AzureStack disconeected environment, Login to AzureStack with auto context save enabled.
Open a new session and then do Import-Module Az.Accounts

[code]

## Environment data
Azure stac

[2020-09-18 17:45] justPaulo opened #13011 "webapp: Get-AzWebApp not returning some SiteConfig properties"
## Description
HttpsOnly property (True/False) is returned as NULL.

## Steps to reproduce
(Get-AzWebApp -Name <<WebAppName>>).SiteConfig.HttpsOnly
[code]

## Environment data

[code]

## Module versions

[code]

## Debug output

[code]

## Error output

[code]

[2020-09-18 18:43] MSLaguana commented on #4980
We've been running into this issue regularly. We added the exception logging code that @rjmholt  suggested above, which came back with this

[code]

In our case we're trying to run this as part of a CI system, and since this seems to be relating to the progress bar (which isn't even visible anywhere) we're going to see if we can set `$ProgressPreference = "SilentlyContinue"` to work around this fo

[2020-09-18 18:54] bganapa commented on #4980
@MSLaguana Also consider adding few retries in a loop.

[2020-09-18 19:04] cwash05 opened #13012 "'New-AzAksCluster' returning Operation returned an invalid status code 'Forbidden'"
## Description
is this scenario supported?

•	Newly installed Az Powershell module on a machine that has not created a cluster before.
•	Connect to Azure as a Service Principle (SP1).
•	Create a new AKS cluster.
        o	Specify SP2 in the CLI options.
        o	aksServicePrincipal.json doesn’t exist on disk and does not get created.

without the aksServicePrincipal.json file I get

|  …

[2020-09-18 19:19] TheAlistairRoss commented on #12962
+1 This is still an issue in 2.6 Preview as of today and needs to be addressed please

[2020-09-18 23:25] GersonDias commented on #8957
there is some solution for this? in my case, I see this when I change some routes and try to import the swagger file (my API is not versioned)

[2020-09-19 00:13] #12919 closed

[2020-09-19 01:35] PcChip commented on #10203
Hello, is there any update on this?

[2020-09-19 10:22] tonswart opened #13016 "Please re-open bug: 12550"
## Description
I've added the requested information in the original bug report.
Can you re-open #12550 ??

## Steps to reproduce
See bug report on #12550

[code]

## Environment data

[code]

## Module versions

[code]

## Debug output

[code]

## Error output

[code]

[2020-09-20 07:42] LunatikCoder commented on #8946
Awesome, this fixed my issue.

I disapprove that Microsoft change the name of commands (or anything like name of products) just because they put on new socks that morning and they feel like:

_-Eh! Why not change the name of that command or thing that everyone use and love so they get new problems with their scripts/program along the road?_

**-Common sense (from normal people):** Don't touch that

[2020-09-20 20:27] jaspkaur28 commented on #10063
We haven't been able to prioritize addressing the bug in the code . Please expect an update by mid Q4 CY20.
In the interim , we've updated the public docs stating that special characters are not supported in schedule names as of now : https://docs.microsoft.com/en-us/azure/automation/shared-resources/schedules#create-a-new-schedule-in-the-azure-portal . We will update the doc once the bug gets fix

[2020-09-20 21:58] ramaganesan-rg commented on #12098
Thank you for your feedback. We only support BillingMonthly for WD subscriptions and *ConsumptionBudget Powershell Commandlets only support EA subscriptions.
Essentially the Powershell SDK version update is the right thing to do, assuming you have a WD subscription.

[2020-09-20 21:58] #12098 closed

[2020-09-21 00:20] ramaganesan-rg commented on #11005
Update on Powershell scripts is in work in progress. In the interim, you can use this link as the reference to REST APIs.

https://docs.microsoft.com/en-us/rest/api/consumption/budgets/createorupdate
Here is the tutorial to create Budget using ARM template deployment - https://docs.microsoft.com/en-us/azure/cost-management-billing/costs/quick-create-budget-template?tabs=CLI- https://docs.microsoft

[2020-09-21 00:20] #11005 closed

[2020-09-21 01:18] VeryEarly commented on #12550
Hi @shawnxzq ,
please follow up

[2020-09-21 01:20] VeryEarly commented on #13016
done, close this issue and please follow up #12550

[2020-09-21 01:20] #13016 closed

[2020-09-21 01:37] VeryEarly commented on #13011
Hi @panchagnula ,
Please take a look. related PR #9564

[2020-09-21 02:08] VeryEarly commented on #13012
Hi @wyunchi-ms ,
Please take a look

[2020-09-21 02:15] wyunchi-ms commented on #13012
Hi @cwash05 , thanks for your report!
Could you please provide us some more info so that we can identity the issue easier?
1. What's the cmdlets that you inputed in powershell?
1. What's the permission of the account you logined to the subscription? Does it have the permission to create a service principle?
1. Cound you please provide us the HTTP request and response by add `-Debug` flag in the `N

[2020-09-21 02:21] #12972 closed

[2020-09-21 03:14] anthony-c-martin commented on #12904
@shenglol possible this is related to https://github.com/Azure/azure-powershell/issues/12773?

[2020-09-21 03:21] shenglol commented on #12904
@anthony-c-martin could be the same serialization issue. @segraef do you mind sharing the template and parameters file?

[2020-09-21 03:23] #12968 closed

[2020-09-21 05:31] isra-fel commented on #9427
We plan to GA az.accounts late October. It'll be based on Azure.Identity (which is based on MSAL) and all the new features on the stable version will be merged into it.

[2020-09-21 07:45] J0F3 commented on #9427
@isra-fel Ok, thank you. Really looking forward to that happening finally after more than a year...
Two questions though:
Can we track the progress somewhere?
Why is the Az.Accounts module not on the list of the preview modules? -> #12755

[2020-09-21 14:27] ljtill opened #13023 "Role Definition - InputFile Error"
## Description

When using the `New-AzRoleDefinition` cmdlet, I'm unable to provide a Role Definition (.json) via the -InputFile parameter, every time it throws an error. The error doesn't indicate if it's an issue with the Cmdlet itself or with the JSON structure.

Error: `Object reference not set to an instance of an object.`

## Steps to reproduce

[code]

## Environment data

[code]

## Module

[2020-09-21 14:36] ljtill commented on #13023
After making a few minor changes to the .json structure, it seems that the definition is now working, the error message is quite confusing though and could be improved to help the user locate the issue.

[2020-09-21 14:36] #13023 closed

[2020-09-21 15:59] apclouds commented on #9511
Hi @kutluomeroglu just following up, was the workaround able to meet your scenario?

[2020-09-21 16:02] apclouds commented on #9547
Hello @borgewi, @russellds I wanted to up on this issue. Was the Remove-AzResource workaround enough to meet your scenario?

[2020-09-21 16:04] apclouds commented on #9894
Hi @alex-frankel just wanted to follow up on this issue, is there any workaround today for this scenario?

[2020-09-21 16:06] apclouds commented on #10838
Hello @noopman just wanted to follow up on this issue. Thanks again for the great suggestions here, will provide an update here once this work gets scheduled.

[2020-09-21 16:07] apclouds commented on #11146
Hi @alex-frankel any update on this issue?

[2020-09-21 16:09] apclouds commented on #11552
Hello @wasabii, thanks for the feedback here. @alex-frankel, @filizt  is this something we can address on our end?

[2020-09-21 16:10] apclouds commented on #12472
Hello @JozoSlejko just wanted to follow up on this issue, is there any other details you would like before closing this issue?

[2020-09-21 16:17] panchagnula commented on #13011
@Kotasudhakarreddy while you are working on new SDK support can you check if issue as well & fix, especially since this is being reported as a regression. Thank you.

[2020-09-21 18:04] MSLaguana commented on #4980
For what it's worth, after we turned off progress updates we haven't seen this bite us again, so that seems like a workable mitigation until the underlying issue is fixed.

[2020-09-21 18:29] asears commented on #12613
Also seeing this.  A couple scenarios.

1. Running first time doesn't set subscription.  Running second time does.
2. Running multiple times doesn't set subscription.

For scenario 2 which I experienced today.

I open Powershell, run Set-AzContext with either Subscription, SubscriptionId, SubscriptionName from a ps1 script with [CmdletBinding(SupportsShouldProcess)]
param()

Subscription not set p

[2020-09-21 18:50] avirishuv commented on #11896
as mentioned by @hbuckle in the related [issue](https://github.com/terraform-providers/terraform-provider-azurerm/issues/6902) , the eta for fix is end of Sept.

[2020-09-21 18:53] glenncarr opened #13026 "New-AzVM is unable to create VM without public IP address"
## Description

This is a follow-up issue to the issue reported (and closed) here:
https://github.com/Azure/azure-cli/issues/8296

There does not appear to be a way to create a VM without a public IP address using New-AzVM.

[2020-09-21 19:06] shenglol commented on #12962
This is the same issue as https://github.com/Azure/azure-powershell/issues/12773. The fix is included in Az 4.7.0 and it will be released in a couple of days.

@TheAlistairRoss the Az.Resources 2.6.0-preview module is actually behind the master branch, so it's expected that it still contains the regression. The preview versions are usually released by the deployment team to do some testing, and it

[2020-09-22 01:07] allegradomel commented on #12312
Hi @theonesuperdave, thanks for responding. Let me talk to a contact from the DevOps team and get back to you

[2020-09-22 02:04] edyoung opened #13029 "Connect-AzAccount in Az.Accounts 2.0.1-preview hangs when run in Azure Cloud Shell"
## Description

The preview version of Az.Accounts does not work correctly when run in Cloud Shell. This might also mean it doesn't work correctly when run in other terminal (not desktop) Linux environments

## Steps to reproduce

In Azure Cloud Shell
[code]

Execution hangs here, can't Ctrl+C. No browser is launched.

## Environment data

[code]

## Module versions

[code]

## Debug output

[code

[2020-09-22 05:40] isra-fel commented on #9427
I'm afraid our development progress isn't exposed to public currently. However you can get detailed timeline of upcoming releases in our milestone page: https://github.com/Azure/azure-powershell/milestones (New Az.Accounts will come in next Az major release S177)

There are two types of preview modules --

1. Modules just onboarded Azure PowerShell. They haven't finalized their API surface. Their

[2020-09-22 07:02] J0F3 commented on #9427
Ah makes sense. Thanks a lot for the explanation!

[2020-09-22 07:13] cernana commented on #12451
Hi, I run into this issue as well. But I cannot solve it as advised by @CodeThePlanet. Is it possible to provide the ARM for vulnerability assessment mentioned above? My one looks like the following but still returns the error: _InvalidStorageAccountCredentials_. When I make the storage account public, it works.

Thanks.
[code]

[2020-09-22 08:34] VeryEarly commented on #13026
Hi @glenncarr ,

I'm able to create VM using New-AzVM without providing '-PublicIpAddressName' parameter, can you provide the exact command you executed?

[2020-09-22 09:13] isra-fel commented on #13010
+ @erich-wang FYI

[2020-09-22 09:17] isra-fel commented on #13029
Thanks @edyoung for reporting the issue!
We are planning to fix it in the late October release.

[2020-09-22 09:18] sourabhkrishna opened #13035 "Unable to create SSL/TLS secure channel when deploying from pipelines to Azure Cloud Services."
## Description
We have couple of inline powershell scripts as part of our Cloud Service deployments that use the Move-AzureDeployment cmdlet to swap.

Since couple of days we are facing the below issue and the pipelines have been working fine for almost a year now.

2020-09-22T08:46:44.6783498Z ##[debug]Exception:
2020-09-22T08:46:44.6853132Z ##[debug]System.Net.Http.HttpRequestException: An error

[2020-09-22 15:23] MasterKuat opened #13037 "Restore-AzRecoveryServicesBackupItem do not honor RestoreDiskList parameter"
## Description
With a VM with 1 OS disk and 2 Datadisk, calling Restore-AzRecoveryServicesBackupItem with -RestoreDiskList retore all disk

## Steps to reproduce

[code]
->3 Disk restore

Same thing with ```[string[]]$Luns=@("1","2")```. All disk restored

## Environment data

[code]

## Module versions

[code]

## Debug output

[code]

## Error output

[code]

[2020-09-22 17:55] shenglol commented on #12962
Az 4.7.0 was released. Closing the issue.

[2020-09-22 17:55] #12962 closed

[2020-09-22 17:56] shenglol commented on #12773
The issue is fixed in Az 4.7.0.

[2020-09-22 17:56] #12773 closed

[2020-09-22 17:58] pravin-g-otk commented on #12792
I am also facing this issue while using securestring to be passed in New-AzResourceGroupDeployment using powershell in AzureDevOps release pipeline using VS2017-win2016 agent but not with windows-2019 agent.
Is this issue is specific with hosted agent for vs2017-win2016 ?
And when we are expecting to fix this issue ?

[2020-09-22 17:59] shenglol commented on #12904
The issue is fixed in Az 4.7.0, which was released yesterday. Closing the issue.

[2020-09-22 17:59] #12904 closed

[2020-09-22 18:04] shenglol commented on #12819
Az 4.7.0 and Az.Resources 2.5.1 contain a fix to the issue and were released yesterday. Closing the issue.

[2020-09-22 18:04] #12819 closed

[2020-09-22 19:57] jberezanski-mdg opened #13038 "Template deployment cmdlets crash with InvalidCastException if WhatIf is set at a higher scope"
## Description

Starting with Az.Resources version 2.5.0, template deployment cmdlets (such as `New-AzResourceGroupDeployment`) crash with an `InvalidCastException` when `WhatIfPreference` is set to any value at a higher scope than the `New-Az*Deployment` invocation and the `-WhatIf` switch is not used explicitly.

The cause is that method [DeploymentCreateCmdlet.ShouldProcessGivenCurrentWhatIfFla

[2020-09-22 21:08] cwash05 commented on #13012
1. It's a custom cmdlet that basically calls New-AzAksCluster
`New-AzAksCluster -ResourceGroupName $rgName -Name $name -ServicePrincipalIdAndSecret $script:Context.AadUser -NodeCount $nodeCount -SshKeyValue $sshKeyPath`

2. We are logging in as a SP that has contributor role on the subscription.  We are passing a service principal to use in the cluster creation.

3. Files attached. The only differ

[2020-09-23 01:24] isra-fel commented on #12792
Hi @pravin-g-otk this issue is fixed in Az 4.7.0 / Az.Resources 2.5.1 (just released). Could you please try and verify?

[2020-09-23 01:32] glenncarr commented on #13026
@VeryEarly thanks for the response.

When I create a new VM using New-AzVM without specifying `-PublicIPAddressName`, a public IP address is created by default.  I want to create the VM _without_ a public IP address.

I've tried passing in `""` and `'""'` as you can do with with `az vm create` using `'""'` as @tjprescott [states here](https://github.com/Azure/azure-cli/issues/8296#issuecomment-455

[2020-09-23 03:53] shenglol commented on #13038
Hi @jberezanski-mdg , thanks for reporting it. That's a good catch! I'll fix this.

[2020-09-23 06:03] dcaro commented on #13026
@glenncarr you are right, currently, you will have to use `New-AzVMConfig` to build the VM configuration and use `New-AzVM` to deploy it. Yiu can use this example:
https://docs.microsoft.com/en-us/powershell/module/az.compute/new-azvm?view=azps-4.7.0#example-3--create-a-vm-from-a-marketplace-image-without-a-public-ip

[2020-09-23 06:12] blueww commented on #12220
The fixed build have released in Az 4.7.0 (Az.Storage 2.6.0)

You can get the release here:

Download the install package from Github:  https://github.com/Azure/azure-powershell/releases/tag/v4.7.0-September2020
Install the package from PSGallery: https://www.powershellgallery.com/packages/Az/4.7.0
WW

[2020-09-23 06:35] VeryEarly commented on #13035
Hi @sourabhkrishna ,
Thanks for reporting this issue.

Hi @nitinjainms can you please take a look?

[2020-09-23 06:37] VeryEarly commented on #13037
Hi @MasterKuat
thanks for reporting this issue.

Forwarded to service team for further investigation.

[2020-09-23 06:49] erich-wang opened #13045 "Cx have issue when run Get-AzManagedServicesDefinition in PowerShell it shows datetime error with breaking change warning"
## Description
in V5.x Powershell it shows "String was not recognized as a valid Datetime", in V7 shows "operation Stopped  string"10/27/2020" was not recognized as a valid Datetime."

## Steps to reproduce

PS C:\Users\Monsta\Powershell Repository> Get-AzManagedServicesDefinition

String was not recognized as a valid DateTime.

At line:1 char:1

 Get-AzManagedServicesDefinition

 CategoryInfo

[2020-09-23 12:55] glenncarr commented on #13026
Thanks @dcaro, that's what I'll use.  Will there be a way in the future to use `New-AzVM` without creating a public IP address?  Or will this just be a documented limitation for `New-AzVM` vs `az vm create`?  I would expect them both to accept an empty string and have the same behavior.

[2020-09-23 14:53] sebdau opened #13049 "Get-AzKeyVault : Resource provider 'Microsoft.KeyVault' failed to return collection response for type 'deletedVaults'."
## Description

`Get-AzKeyVault -InRemovedState` fails on my release agents with:

**The same command runs fine on my local box with Az 4.3.0  and Az.KeyVault 2.0.0**

## Steps to reproduce

[code]

## Environment data

[code]

## Module versions

[code]

## Debug output

[code]

## Error output

[code]

[2020-09-23 15:25] jberezanski-mdg opened #13050 "ResourceManagerCmdletBase exception handling logic destroys original exception stack trace"
## Description

The logic implemented in ResourceManagerCmdletBase.HandleException() is roughly like this:
1) if the exception is an AggregateException and contains a single inner exception, extract that inner exception;
1a) nb. current code will crash if the AggregateException contains more than one exception (!)
2) if the resulting exception is CloudException, wrap it in a ResourceManagerCloudEx

[2020-09-23 16:00] dcaro commented on #13026
Our goal is to give a similar experience across the tools, this is one delta that we would need to address.

[2020-09-23 16:19] glenncarr commented on #13026
@dcaro Good to hear.  Thanks for the response.  We're also glad to have a workaround until this is implemented.

[2020-09-23 17:36] alex-frankel commented on #6292
This issue should be fixed in the latest powershell release

[2020-09-23 17:36] #6292 closed

[2020-09-23 17:36] alex-frankel commented on #1528
This should be fixed in the latest powershell release

[2020-09-23 17:36] #1528 closed

[2020-09-23 19:15] JozoSlejko commented on #12472
@apclouds Nothing further from me thanks

[2020-09-23 20:46] timpoth opened #13052 "Enable-AzFrontDoorCustomDomainHttps doesnt return error / removes https settings from endpoint"
We have a case where one of our certs isnt compatible with azure frontdoor and the error we get through the azure portal is:

'Failed to update the custom https configuration for the frontend host 'ENDPOINTNAME'. Error: The private key is not RSA or it is unreadable. Only RSA private key is supported for BYOC to secure a custom domain.' (we have a support case open about this)

This error is not r

[2020-09-23 22:09] camaier opened #13053 "No Error on create Snapshot command when snapshot already exists"
## Description
When trying to use the create to make a snapshot if you try to use the same name the CLI sometimes errors whereas the PowerShell never errors and it should. You cannot overwrite a snapshot because it's a read only so if someone tries to update a snapshot by running a new create or even an update there should be an error stating they can't update and/or create the snapshot because th

[2020-09-23 23:00] alexandair opened #13054 "[Az.Tools.Installer] Update-AzModule doesn't work with -WhatIf parameter"
`Update-AzModule -RemovePrevious -WhatIf` doesn't output anything. It just hangs.

`Update-AzModule -RemovePrevious -WhatIf -Verbose` shows that it's stuck at AzureAdPreview module which shouldn't be touched anyway.

[2020-09-23 23:13] allegradomel commented on #12925
@anavinahar please take a look

[2020-09-23 23:46] cristobalito commented on #12561
Also see the same error as @PcChip

[2020-09-24 00:04] erich-wang commented on #13054
Thanks for reporting the issue, @msJinLei , could you take a look?

[2020-09-24 00:16] erich-wang commented on #13053
@bilaakpan-ms, @avirishuv, could you take a look whether it is expected behavior?

[2020-09-24 00:18] erich-wang commented on #13052
@timpoth, could you please provide the debug stream and environment data?

## Description

## Steps to reproduce

[code]

## Environment data

[code]

## Module versions

[code]

## Debug output

[code]

## Error output

[code]

[2020-09-24 00:21] erich-wang commented on #13050
ARM team, please take a look the suggestion from @jberezanski-mdg , thanks.

[2020-09-24 00:22] erich-wang commented on #13049
@sebdau , thanks for reporting the issue. @isra-fel , could you please take a look?

[2020-09-24 00:29] erich-wang commented on #13045
Will check within team if any bandwidth to implement it this week.

[2020-09-24 00:35] stephenwheet opened #13055 "Get-AzMetricDefinition -metricnamespace not returning definitions from custom namespace."
## Description
In AZ cloud shell I'm running the command to pull of the definitions for metrics on a VM from a custom namespace.  It doesn't return any.

I got a list of the namespaces by doing the following query against the VM:

GET https://management.azure.com//subscriptions/**(REDACTED)**/resourceGroups/win2019-dc-rg/providers/Microsoft.Compute/virtualMachines/W2019-DC/providers/microsoft.insi

[2020-09-24 00:39] stephenwheet commented on #13055
nevermind.  I was querying the wrong VM.  I'm a dunce.

[2020-09-24 00:39] #13055 closed

[2020-09-24 06:24] TheOnlyWei opened #13058 "[AzureStack] Outdated parameter that doesn't work for New-AzAvailabilitySet"
## Description

Outdated parameter "-Managed" that doesn't work anymore for New-AzAvailabilitySet still listed when running the following code:

[code]

## Steps to reproduce

[code]

## Environment data
[code]

## Module versions

[code]

## Debug output

[code]

[2020-09-24 08:11] meCoding commented on #13053
I also noticed this. This is very dangerous behaviour. I almost lost a VM when I recreated it from snapshot. Existing snapshot was there with the same name and I didn't get any error/warning when I took a snapshot.

[2020-09-24 10:01] renepronk commented on #13035
We're also having this issue when deploying classic Cloud Services. We've been upgraded to Azure DevOps sprint 175 today, so it might be related to that.

Also possibly related: https://stackoverflow.com/questions/63940041/azure-devops-powershell-script-could-not-create-ssl-tls-secure-channel

[code]

[2020-09-24 10:33] pvrk commented on #10546
@peppekerstens : Want to clarify that portal always displays results in the local, browser time-zone (which is why both times are shown in WestEurope standard time since you are logged in the same time-zone as well) whereas PS displays time in UTC and hence we have 07:00 PM and 06:00 PM. We can make it more explicit that PS only shows UTC by modifying the table output.

Does this make sense? Pleas

[2020-09-24 10:49] pvrk commented on #11754
@melissa306HC : We are still working on how to provide the specific error message instead of generic one. Will update the thread with the date of fix soon.

[2020-09-24 10:58] pvrk commented on #13037
@MasterKuat : Restoring specific disks is only available if you have performed [selective disk backup](https://docs.microsoft.com/azure/backup/selective-disk-backup-restore) (exclude/include). Otherwise, the current behavior is to restore all disks. So, can you please specify if you have modified existing protection for disk exclusion/inclusion?

[2020-09-24 12:07] MasterKuat commented on #13037
Hello Kartik,

Thanks for your answer, I see. And no it's a not selective backup enabled policy.
Also as specify "[...]So Azure VMs that are encrypted with Azure Disk Encryption (ADE) using BitLocker for encryption of Windows VM, and the dm-crypt feature for Linux VMs are unsupported.[...]"

My VM is encrypted, so...Unsupported :)

May be comment about that should be added to CmdLet documentation.

[2020-09-24 12:07] #13037 closed

[2020-09-24 12:32] janegilring opened #13062 "Restore-AzRecoveryServicesBackupItem: Object reference not set to an instance of an object"
# Description

Scenario: An Azure File Share in a storage account is protected by an Azure Recovery Services Vault. The storage account is deleted.

In the way File Share Backup service works, Microsoft keep the snapshots of your backups in the Storage Account as well, so as the storage account is deleted, the Azure Backup service is unable to find the recovery point to be able to perform the rest

[2020-09-24 13:01] AndreasDpWD opened #13063 "Azure Powershell - IoT Hub Layered Deployment"
## Description
We are using Azure Powershell but looks like it's missing a feathure for IoT Hub. I am trying to make a deployment script for out Layered deploytments for our Edge devices.

But as I read and understrand it this command  Add-AzIotHubDeployment doesn't support the leayered feathure. But if I use the Az-Module / AzureCLI it has a option for layereed (--layered)

Is this something that

[2020-09-24 15:25] avirishuv commented on #13053
cc @Vaibhav-Agar who is going to take a look at this.

[2020-09-24 15:44] ArmaanMcleod opened #13065 "Add a Get-AzVmssExtension Cmdlet for listing VMSS extensions"
## Description of the new feature
To get extensions for virtual machines, you can use [Get-AzVMExtension](https://docs.microsoft.com/en-us/powershell/module/az.compute/get-azvmextension?view=azps-4.7.0). However, there doesn't seem to be an equivalent Cmdlet for virtual machine scale sets. I would have assumed a `Get-AzVmssExtension` Cmdlet would have existed as well.

I verified this with `Get-Co

[2020-09-24 16:38] dcaro commented on #12815
We are looking at the issue, for the moment, the workaround is to use the 2.4.0 version of the Az.Resources module.

`Uninstall-Module -name Az.Resources -AllVersions -force && Install-Module -name Az.Resources -RequiredVersion 2.4.0`

[2020-09-24 17:58] allegradomel commented on #12610
@brianlehr to help look into this

[2020-09-24 18:05] allegradomel commented on #8735
@viswanathtr, @rtaylor72  are you still experiencing the same issues? Assigning @sumeetmittal to take a look

[2020-09-24 18:12] allegradomel commented on #11418
adding @aanandr to take a look

[2020-09-24 18:13] nkiest opened #13066 "Subscription Diagnostic Settings for Azure Monitor"
## Description of the new feature
Need matching feature for Powershell that we have in CLI: https://github.com/Azure/azure-cli/issues/13692

Support Subscription Variant of Diagnostic Settings to export Activity Log, as documented at
https://github.com/Azure/azure-rest-api-specs/blob/master/specification/monitor/resource-manager/Microsoft.Insights/preview/2017-05-01-preview/subscriptionDiagnostics

[2020-09-24 20:16] klsklnPITX opened #13067 "Passing parameters to PowerShell Script from Invoke-AzVMRunCommand not working"
I'm trying to execute the Invoke-AzVMRunCommand in PowerShell and pass parameters to the script that needs to be executed.

See code below:
[code]

Script on the server I want to execute with the parameters:
[code]

I get no error after executing the above scripts. Output:
[code]

**The script does not produce the expected output: Creating a folder named TEST under C:\Users\. No folder is being cr

[2020-09-24 20:38] timpoth commented on #13052
Steps:
have end point with cert loaded
upload new cert to keyvault that AFD doesnt like (lets encrypt cert exported from powershell in my case)
run:
Enable-AzFrontDoorCustomDomainHttps -ResourceGroupName 'RGName' -FrontDoorName 'FDName' -FrontendEndpointName 'FEName' -Vault 'valutresourceid' -secretName 'secretname' -SecretVersion 'secretversion'

AZ version 4.7.0
az.frontdoor 1.6.1

debug attache

[2020-09-24 20:44] brianlehr commented on #12606
Duplicate of [https://github.com/Azure/azure-powershell/issues/12214](https://github.com/Azure/azure-powershell/issues/12214).  Will close.

[2020-09-24 20:44] #12606 closed

[2020-09-24 21:06] allegradomel commented on #12312
@justhchung from DevOps team is looking into this currently

[2020-09-24 21:25] rtaylor72 commented on #8735
@allegradomel , has a new version been deployed since then? Should be easy to test since the error appears when that one property is set to an empty array.

[2020-09-25 07:27] mschmeller commented on #13035
We're also having this issue when deploying classic Cloud Services. We use TFS 2018. We can reproduce it by execute a powershell script from command line.

[2020-09-25 08:08] klsklnPITX commented on #13067
Removing the final backslash on the path parameter made this working...

[code]

Changed to:
[code]

[2020-09-25 08:08] #13067 closed

[2020-09-25 09:01] makan0 opened #13076 "Az.ManagedServices issues"
## Description

CmdLets Get-AzManagedServicesAssignment, and Get-AzManagedServicesDefinition throws error 'String was not recognized as a valid DateTime.'

## Steps to reproduce

[code]

## Environment data

[code]

## Module versions

[code]

## Debug output

[code]

## Error output

[code]

[2020-09-25 10:23] msJinLei commented on #13054
@alexandair could you collect the logs of  "Update-AzModule -RemovePrevious -WhatIf -Verbose -Debug", and paste them here?
It usually takes 3 mins to run the "Update-AzModule -RemovePrevious -WhatIf -Verbose" and you will see the progress bar during the process.

[2020-09-25 10:28] mepand commented on #13062
Thanks for the feedback @janegilring . We will work on improving the error message to make it more user friendly.

[2020-09-25 11:33] Pistle commented on #12987
As an administrator, you may need to lock a subscription, resource group, or resource to prevent other users in your organization from accidentally deleting or modifying critical resources. You can set the lock level to CanNotDelete or ReadOnly. In the portal, the locks are called Delete and Read-only respectively.

CanNotDelete means authorized users can still read and modify a resource, but they

[2020-09-25 13:00] PaulVrugt commented on #12819
omg, lost half a day to find out why the deployment using azure pipelines stopped working. Please update the hosted pipeline images!

[2020-09-25 13:00] PaulVrugt commented on #12792
omg, lost half a day to find out why the deployment using azure pipelines stopped working. Please update the hosted pipeline images!

[2020-09-25 13:06] J0F3 opened #13078 "Connect-AzAccount: Context autosave is not supported in current environment and has been disabled temporarily."
## Description

I have to use the Az.Account Module in the 2.0.1-preview version as otherwise the login does not work in our tenant.
When using this Module in a Linux Container Image (or probably on Linux in general) I get the following warnings when running `Connect-AzAccount`

[code]

In consequences the Login is not persistent between different pwsh instances which can be problem in a CI/CD pip

[2020-09-25 13:22] J0F3 opened #13080 "Az.Accounts Preview: Connect-AzAccount trys to open a browser in docker container"
## Description

`Connect-AzAccount` of the 2.0.1-preview version of the Az.Account Module (which is need in some scenarios to be able to login with Az PowerShell at all) tries to open a browser even when running in docker container and the output says "Reverting to device code login".

The use of Device Authentication must be enforced with `Connect-AzAccount -UseDeviceAuthentication` otherwise `Co

[2020-09-25 14:42] wyunchi-ms commented on #13035
Hi @mschmeller , this script works right before and you didn't change anything, right?

[2020-09-25 15:29] mschmeller commented on #13035
Yes, thats right. It stopped working "over night". At first I thought it was due to an Microsoft patch day update.
Last successul run was on 9th September 2020. First definitily broken run was 15th September 2020, 12:01 am

[2020-09-25 16:21] dcaro commented on #13080
Thanks @J0F3 for reporting this.
@VeryEarly, @erich-wang we might want to consider if the default behavior can be different in the container with Az.Accounts 2.0.

[2020-09-25 18:47] rtaylor72 commented on #11446
I noticed Az module 4.7 was just released, but still have error trying to run Connect-AzureAD under powershell 7.  Still a big problem.

[2020-09-25 21:06] 50Wliu opened #13083 "Az.Storage missing New-AzStorageContainer when used with Az.Accounts 2.0.1-preview"
## Description

So this is an interesting bug, I'm not sure I understand all of it but here's my best attempt at explaining what I'm running into.

For context, my company requires MFA authentication, which means I'm running into #9427. Thus, as a workaround, I installed the 2.x prerelease of Az.Accounts. However, once I do that, _`New-AzStorageContainer` (and a bunch of other Az.Storage commands)

[2020-09-25 21:13] alexandair commented on #13054
@msJinLei
In the meantime, I've updated Az module and output is now different, but still there are some things to discuss.
First, execution of that command was 5:24 on my system. Way too long.
Second, there are some modules that are not part of Az module set (installed separately) that Update-AzModule is checking. Those modules (AzureADPreview, AzureADAuthenticationMethods, Az.ConnectedMachine, Az

[2020-09-25 21:30] 50Wliu commented on #13083
I just found #12786. Unfortunately, downgrading Az.Accounts is not an option (as then I can't log in). What version of Az.Accounts should I install to workaround this issue until a newer Az.Accounts prerelease is released?

[2020-09-26 06:17] Rakesh-vrk commented on #9448
When im deploying the resource using ARM i encountered the similar issue.
and has been resolved using command
Clear-AzContext -Force
![image](https://user-images.githubusercontent.com/54666808/94331906-edb32b00-ffbf-11ea-8d2b-aeaad427d68c.png)
![image](https://user-images.githubusercontent.com/54666808/94331909-f60b6600-ffbf-11ea-92e8-658619f1aa0b.png)

[2020-09-26 18:31] chrispiasecki opened #13084 "APIM Export to Power Platform"
## Description of the new feature
Currently there exists an Export-AzApiManagementApi cmdlet to export an API to a file. It would be nice to have an option or separate cmdlet to export the API to a Power Platform environment. Currently this can be done via the Portal as described in documentation https://docs.microsoft.com/en-us/azure/api-management/export-api-power-platform

## Proposed implement

[2020-09-27 01:32] blueww commented on #13083
@50Wliu

Az.Accounts 1.9.4 should be imported to use Az.Storage 2.6.0.

From https://www.powershellgallery.com/packages/Az.Accounts/2.0.1-preview, you can see although Az.Accounts 2.0.1-preview has higher version, it's released far before Az.Accounts 1.9.4 (and Az.Storage 2.6.0), so Az.Storage 2.6.0 can't work with it.

Az.Accounts 2.0.1-preview should be used for Azure stack. It there any reason

[2020-09-27 01:55] VeryEarly commented on #13058
Hi @TheOnlyWei ,

Thanks for reporting this issue, forwarded to service team.

[2020-09-27 02:00] VeryEarly commented on #13063
Hi @AndreasDpWD ,

thanks for reporting this issue, can you specify the version of Az.Iothub you are using and which cmdlet has  --layered option?

[2020-09-27 02:02] VeryEarly commented on #13065
Hi @Drewm3 @amjads1

Can you help take a look at this issue?

Thanks

[2020-09-27 02:10] VeryEarly commented on #13076
Hi @makan0 ,

Thanks for reporting this issue, forwarded to service team.

[2020-09-27 02:16] VeryEarly commented on #13078
Hi @J0F3 ,
thanks for reporting this issue

Hi @isra-fel please help take a look

[2020-09-27 02:22] VeryEarly commented on #13084
Hi @chrispiasecki ,

Thanks for reporting this issue, forwarded to service team.

[2020-09-27 02:37] isra-fel commented on #13078
This was an known issue with MSAL libraries on some linux envrionment. See https://github.com/AzureAD/microsoft-authentication-extensions-for-dotnet/wiki/Cross-platform-Token-Cache#linux-fallback

We will integrate latest MSAL libraries in next Az major release to fix this issue.

[2020-09-27 02:42] VeryEarly commented on #13066
Hi @nkiest ,

Az.Monitor depends on Dotnet management SDK generated from swagger specs, this feature was not included ([SDK_Info](https://github.com/Azure/azure-sdk-for-net/blob/master/sdk/monitor/Microsoft.Azure.Management.Monitor/src/Generated/SdkInfo_MonitorClient.cs#L22)) in the current SDK version [0.25.2-preview](https://github.com/Azure/azure-sdk-for-net/blob/master/sdk/monitor/Microsoft.Az

[2020-09-27 04:23] isra-fel commented on #13029
Same behavior in docker container, see #13080

[2020-09-27 04:24] isra-fel commented on #13080
Thanks for reporting. We'll fix this in the stable release of Az.Accounts.
Closing the issue as duplicate of #13029

[2020-09-27 04:24] #13080 closed

[2020-09-27 08:13] blueww commented on #12989
@ferristocrat
I will close this issue as the help doc is updated for this scenario, and not see more comments from you for long time.
Thanks for raising the issue!
Feel free to contact us again if need any further assistance on Azure PowerShell.

[2020-09-27 08:13] #12989 closed

[2020-09-27 09:40] #13045 closed

[2020-09-27 13:43] ArmaanMcleod commented on #13065
@VeryEarly @Drewm3 @amjads1 I've just realised `Get-AzVmss` has the extensions listed under the `ExtensionProfile` property. I see why a `Get-AzVmssExtension` Cmdlet wasn't created now. Should we close this ticket? Could we benefit from having a  `Get-AzVmssExtension` Cmdlet?

[2020-09-27 17:28] JimGBritt commented on #12613
@dingmeng-xue  as @asears mentions, if you update the Set Context lines to leverage a call to get the sub first, this problem gets resolved.  However, this would be a Get and a set every time. Slows down the process and also adds an additional ARM call every time.  Is it possible that the Set-AzContext (Select-AzSubscription) is timing out or failing to properly get the sub details on set?  I can

[2020-09-28 05:27] dingmeng-xue commented on #11446
@rtaylor72 , Az 4.7 is still using Microsoft.IdentityModel.Clients.ActiveDirectory. We will release new version soon in Az major release. You can also try Az.Accounts 2.0.1-preview

[code]

[2020-09-28 05:54] rtaylor72 commented on #11446
Pre-release != able to use in production

So this is not an option.

[2020-09-28 05:57] dingmeng-xue commented on #12987
@wyunchi-ms , please verify if we can resolve this problem on client side.

[2020-09-28 05:57] msJinLei commented on #12735
Fixed

[2020-09-28 05:57] #12735 closed

[2020-09-28 05:58] msJinLei commented on #12734
Fixed

[2020-09-28 05:58] #12734 closed

[2020-09-28 05:58] msJinLei commented on #12736
Fixed

[2020-09-28 05:58] #12736 closed

[2020-09-28 05:59] msJinLei commented on #12737
Fixed

[2020-09-28 05:59] #12737 closed

[2020-09-28 05:59] msJinLei commented on #12738
Fixed

[2020-09-28 05:59] #12738 closed

[2020-09-28 05:59] msJinLei commented on #12741
Fixed

[2020-09-28 05:59] #12741 closed

[2020-09-28 06:00] msJinLei commented on #12742
Fixed

[2020-09-28 06:00] #12742 closed

[2020-09-28 06:00] msJinLei commented on #12743
Fixed

[2020-09-28 06:00] msJinLei commented on #12743
Fixed

[2020-09-28 06:00] msJinLei commented on #12743
Fixed.

[2020-09-28 06:00] #12743 closed

[2020-09-28 06:01] msJinLei commented on #12744
Fixed

[2020-09-28 06:01] #12744 closed

[2020-09-28 06:01] msJinLei commented on #12745
Fixed.

[2020-09-28 06:01] #12745 closed

[2020-09-28 06:02] msJinLei commented on #12954
Fixed.

[2020-09-28 06:02] #12954 closed

[2020-09-28 06:02] msJinLei commented on #12956
Fixed.

[2020-09-28 06:02] #12956 closed

[2020-09-28 06:22] dingmeng-xue commented on #11446
@rtaylor72 , I see. My point was trying pre-release can prove upcoming major release will resolve your issue once Az.Accounts uses MSAL. If there is any problem not covered by us, we can resolve it as soon as possible before official release. We will test the case of AzureAD and Az.Accounts side-by-side too.

[2020-09-28 06:25] J0F3 commented on #13078
@isra-fel Thanks for the insights.

If I understand you correct there is however currently no way to enabled the fallback to the plain text file (as described in the link) with the Az.Accounts 2.0 Preview module?
This makes make our urgent need for the final Version of the new Az.Accounts module even greater. 😉

[2020-09-28 06:48] J0F3 commented on #13029
Btw, just tested on WSL (Ubuntu 18.04) and it is the same behavior.

[code]

[2020-09-28 07:12] AndreasDpWD commented on #13063
I am using  version 2.5.1 of Az.IotHub

[2020-09-28 07:13] rtaylor72 commented on #11446
What is the ETA for the v2 release?

[2020-09-28 07:19] dingmeng-xue commented on #11446
If there is no issue, we will release new version by the end of this month.  I had tagged milestone.

[2020-09-28 08:07] msJinLei commented on #13054
[code]
The logs above is printed by
[code]

We use the cmdlet to detect the az related module install on your local machine.

The cmdlet runs a long time for it fetches the information from PowerShell gallery and the time may vary with reference to your network status.

Can you run the following cmdlet
[code]
And paste the output here. The output is something like
[code]

Thanks.

[2020-09-28 09:15] msJinLei opened #13094 "Issue of Disconnect Az.Accounts when connect multiple users"
## Description

Connect Az.Accounts with multiple accounts and run Disconnect-AzAccount one by one.
sometimes, Disconnect-AzAccount remove 2 accounts at one time.
Please check the behaviour

[code]

## Cost

[2020-09-28 11:18] rtabit opened #13095 "New-AzSqlDatabaseImport No registered resource provider found for Microsoft.Sql"
## Description
I'm getting an error when trying to run New-AzSqlDatabaseImport. I have module az version 4.7 and module az.sql version 2.10. This the error I get when running.

New-AzSqlDatabaseImport : NNo registered resource provider found for location 'usgovtexas' and API version '2020-02-02-preview' | for type 'servers/import'. The supported api-versions are '2014-01-01, 2014-04-01, | 2014-04-

[2020-09-28 11:33] Kotasudhakarreddy commented on #13011
@panchagnula - `HttpsOnly` is not part of `SiteConfig`, It is part of `Site` object. so we should access this as **(Get-AzWebApp -Name <>).HttpsOnly** .

[2020-09-28 13:54] 50Wliu commented on #13083
I have had no success with logging in using Az.Accounts 1.9.4 -- I get the same error message as #9427. See debug output below:
[code]

[2020-09-28 14:15] #12472 closed

[2020-09-28 14:18] makan0 opened #13096 "New-AzRoleAssignment suddenly throws error: Input string was not in a correct format"
## Description

[code]

## Environment data

[code]

## Module versions

[code]

## Debug output

[code]

## Error output

[code]

[2020-09-28 14:26] artyq commented on #12451
I have the same issue as well.
The same error is also produced with Terraform when trying to set up VA.

[2020-09-28 15:58] sistoimenov opened #13097 "New-AzSqlDatabaseExport throws error "Missing the required 'networkIsolation' parameters for ImportExport operation." after Az.Sql version 2.10.1"
We run scheduled backups on our system with the command

[code]

Before running the command we install the latest version of Az.Sql.

Since last Thursday it has been failing and I noticed that there is a new release of Az.Sql on that day.

After some additional testing it seems that with **version 2.10.0 and prior ones the command above works fine, with version 2.10.1 and 2.11.0 (the latest one) i

[2020-09-28 16:42] panchagnula commented on #13011
@justPaulo was your question specific to HttpsOnly property - if so does the above answer your question?

[2020-09-28 18:10] aaltotsky commented on #12728
I have the same issue. The DisableApplicationInsights parameter is not working.

[2020-09-28 18:16] cwash05 commented on #13012
Hi @wyunchi-ms any update?

[2020-09-28 21:40] dramuy commented on #13076
This issue is currently addressed with the following PR that already got merged - https://github.com/Azure/azure-powershell-common/pull/219. The underlying issue is related to the ChangeInEffect field date format is not matching with user's culture specific date format.

Meanwhile, there're two workaround:

Workaround 1: Change date time format to M/d/yyyy on user machine
Workaround 2: Ask user to

[2020-09-28 22:04] axayjo commented on #13058
@avirishuv can you take a look at this issue?

[2020-09-28 22:06] axayjo commented on #13065
@amjads1 can you take a look at this issue?

[2020-09-29 01:24] brucezlata commented on #11499
Same issue. Cannot use az powershell.

[2020-09-29 02:41] yanxiaodi opened #13104 "TimeZone not working for New-AzureRMAutomationSchedule and New-AzAutomationSchedule. The cmdlet causes inconsistent detail in Azure portal"
## Description
I have a legacy powershell script so I have to use AzureRM module. When I use `New-AzureRMAutomationSchedule` to create a schedule, the `TimeZone` parameter seems not working and I can see the inconsistent detail in Azure portal.

## Steps to reproduce
I use the below script:
[code]
I can see the result in Azure portal, which shows 11 PM:

![image](https://user-images.githubusercont

[2020-09-29 02:45] blueww commented on #13083
@50Wliu
Thanks for the update!
As I know, there will be a new preview version of Az.Account release, which support Az.Storage 2.6.0.
Let's wait for the release.

[2020-09-29 03:13] #12889 closed

[2020-09-29 03:29] BredStik commented on #13035
​We've been having issues using the management api from one cloud service to another lately.  Turns out our deployment configuration was set to use the latest windows image and the latest one released a few days ago seems to cause the issue.  We forced using the previous windows image version and it worked flawlessly!  Your problem might be related to something similar.

[2020-09-29 04:10] blueww opened #13105 "Run a cmdlet with -Asjob, when error report in EndProcessing(), the job state will still be "Completed""
## Description
Run a cmdlet with -Asjob, when error report in EndProcessing(), the job state will still be "Completed".
This will misleading customer think the cmdlet runs success, but actually failed.

## Steps to reproduce
Try to overwrite a block blob with page blob, If you run is with -Asjob, will see the task finish with State as "Completed" (`$task.error` is not null).
But if you run it with

[2020-09-29 04:16] blueww commented on #13105
@dingmeng-xue  @erich-wang
Could we make the task state as "Failed" when run cmdlets with -Asjob and failure happens in EndProcessing()?
We find this issue to track the ICM: https://portal.microsofticm.com/imp/v3/incidents/details/206587283/home

[2020-09-29 06:46] new-kirte opened #13107 "New-AzResourceGroupDeployment throws error Status Message: Supplied location uaenorth is not valid. (Code:LocationNotValid)"
## Description
Running a test storage account provisioning with ARM templae from https://docs.microsoft.com/en-us/azure/azure-resource-manager/templates/quickstart-create-templates-use-visual-studio-code?tabs=PowerShell. The deployment throws error Status Message: Supplied location uaenorth is not valid. (Code:LocationNotValid).
ARM Template and parameters file attached

## Steps to reproduce

[co

[2020-09-29 09:37] M0ns1gn0r commented on #10029
This is not a known product limitation, this is a mockery of your users.

[2020-09-29 15:40] dingmeng-xue commented on #13095
@rtabit , which environment is used when you login Azure via `Connect-AzAccount`?

[2020-09-29 15:47] dingmeng-xue commented on #13083
@50Wliu 's requirement is around conditional access. But we don't support it even in the latest preview version. How Azure CLI and PowerShell support conditional access is still in the air.

[2020-09-29 15:51] dingmeng-xue commented on #13097
Sql team, please look into this question.

[2020-09-29 16:03] rtabit commented on #13095
@dingmeng-xue USGov cloud. It was connected, grabbed my sql server and stuff fine.

[2020-09-29 16:35] sebdau commented on #13049
@erich-wang I don't think it is a good idea to share that output publicly (MSFT internal).
Are you FTE? Can I send you mail - what's your alias?

[2020-09-29 18:04] justhchung commented on #12312
@theonesuperdave, Azure DevOps Mac IP ranges are not included in the Azure IPs above. Could these be Mac IPs?

[2020-09-29 18:13] grayo24 commented on #12104
Any update on this?

[2020-09-29 18:39] PaulVrugt opened #13109 "WebApp:Assigning user assigned managed identity to app service slot"
## Description of the new feature
For some reason, the identity of a web app deployment slot is not the same as the identity of the original app service. Given this, azure powershell has no method of assigning a user defined managed identity for a deployment slot. So if I have an app service that uses user defined managed identity, and use `new-azwebappslot` to create a new slot, I have no way of

[2020-09-29 18:51] 50Wliu commented on #13083
Great, looking forward to that!

@dingmeng-xue could you elaborate on this? Not sure I'm following.

[2020-09-29 19:46] artisticcheese commented on #12958
Issue is that api version for Microsoft.Compute/virtualMachines probably is outdated. API version "2020-06-01" which supports managed bootdiag accounts but latest mentioned on official docs and I assume used in powershell is "2019-12-01" (https://docs.microsoft.com/en-us/azure/templates/microsoft.compute/virtualmachines)

[2020-09-29 21:43] mdurini opened #13110 "Get-AzReservationCatalog is not always providing all the results"
## Description
Get-AzReservationCatalog is not returning all the expected results every time: executing it 2 times, i'm getting the first time 288 results, the second time 283

## Steps to reproduce

[code]

## Environment data
[code]

## Module versions

[code]

## Debug output

[code]

## Error output
[code]

[2020-09-29 22:17] asears commented on #12266
What is the update required to replace this & mitigate this issue short term/long term?  Should be documented in Azure Docs?

[2020-09-29 23:09] dcbrown16 opened #13111 "Restore-AzRecoveryServicesBackupItem -RestoreDiskList parameter"
## Description

When using Restore-AzRecoveryServicesBackupItem -RestoreDiskList parameter, all disks are restored even when only one disk LUN is specified.
In addition, there are numerous errors in the Example 1 for the documentation for this command.

1. The Get-AzRecoveryServicesBackupContainer line needs to use -FriendlyName
2. 	The Get-AzRecoveryServicesBackupItem line needs to use "-Containe

[2020-09-30 05:02] dingmeng-xue commented on #13083
Hi @50Wliu , I was sharing the information to @blueww . The upcoming Az.Accounts can allow you to use the latest Az.Storage but it may not meet conidiation access requirement.

[2020-09-30 07:13] kwiecek commented on #12835
This problem also affected me during deployment by Azure pipelines.

If:
- you implement ARM Template Powershell
- you are using a hosted agent
- parameters are passed through the file
- you pass the value of the parameter of type array

Then use the following workaround:
- indicate the specific version of Azure Powershell:

[code]

[2020-09-30 08:33] RolandASc commented on #12431
I can only agree, it would be nice to have this improved.

[2020-09-30 09:35] AmrutaKawade opened #13117 "Getting SSL/TLS issue for Get-AzureStorageAccount command"
## Description

## Steps to reproduce
1. Go to https://go.microsoft.com/fwlink/?LinkID=312990. and download publish settings file

![image](https://user-images.githubusercontent.com/65217380/94668076-399e0100-032d-11eb-8945-ce6ee1cfcee8.png)

2. In powershell run below script
[code]

## Environment data

[code]

## Module versions

[code]

## Debug output

[code]

## Error output
This used to work

[2020-09-30 10:07] mschmeller commented on #13035
Hello,
there has been no status change for 5 days.
Is the issue being worked on?
We're still getting the error message:

Starting: Swap Cloud Service
Task : Azure PowerShell
Description : Run a PowerShell script within an Azure environment
Version : 2.0.2

Import-Module -Name C:\Program Files\WindowsPowerShell\Modules\Azure\5.1.2\Azure.psd1 -Global
Set-AzureSubscription -SubscriptionName Developme

[2020-09-30 11:13] blueww commented on #13117
@AmrutaKawade
`Import-AzurePublishsettingsFile` is from the old Azure module, which does not work with new Az.* module.
Please use `Connect-AzAccount` to login your Azure account.

@dingmeng-xue , @erich-wang
Does Azure Powershell still support PublishsettingsFile  in Az module?

[2020-09-30 12:08] AmrutaKawade commented on #13117
[code]

I am from AzureDevOps team and many customer who were using this command with Azure Classic resources has reported this issue. Its difficult to ask all customers to move to Az Module. As this was working till couple of weeks back. we want to know route cause of it.

[2020-09-30 13:44] pacorreia commented on #12401
Any progress on this? I'm facing the same issue as well.

[2020-09-30 14:01] isra-fel commented on #12266
Hi @asears (I presume by "mitigate this issue" you meant the issue that we are going to remove the plain text property `SecretValueText` in the October 27th major release.)

The solution would be replace code like

[code]

to

[code]

or (only >= powershell 7.0)

[code]

Fortunately `$secret.SecretValue` is already there as a SecureString object, so you can prepare your code for the breaking chang

[2020-09-30 14:09] rhythmnewt commented on #13117
I'm not sure if it's specifically related to Get-AzureStorageAccount command. We're getting the same SSL/TLS error with Get-AzureDeployment command.
[code]

[2020-09-30 16:18] dcaro commented on #12266
@asears a way to mitigate the issue is the workaround mentioned above. The following code will not display the secret:

[code]

The `SecretValue` property will become a securestring with the upcoming major breaking change release due on Oct 27th.
We are also updating our documentation to inform of the issue and the mitigation path.

[2020-09-30 18:00] webguynj commented on #9470
This was supposed top be updated and working in 2019.   Why can't we get the OS Version on all VMs the way the portal has it on "Operating System" in the VM Overview Blade in Azure Portal

[2020-09-30 18:28] amjads1 commented on #13065
Looking into the issue.

[2020-09-30 21:57] alanauckland86 commented on #12401
Ah yes sorry, I got passed it the other day.

So in Azure you have different service connections
Classic and AzureRM.

I was using an AzureRM service connection

But in my power shell script  was using the AZ module command lets. So it was trying to find a classic connection but I was in fact using an RM connections.

This uses the classic service connection and not AzureRM

I installed AZ module

[2020-09-30 22:48] #9755 closed

[2020-09-30 22:59] #11135 closed

[2020-09-30 23:02] AddySanto commented on #11708
Closing this as a duplicate of https://github.com/Azure/azure-powershell/issues/11135

[2020-09-30 23:02] #11708 closed

[2020-09-30 23:28] amjads1 commented on #13065
@ArmaanMcleod - You are correct. Extensions are a part of the extensionsProfile part of the VMSS model, so Get-AzVmss contains all of the extension info.

At this point, we recommend to continue with Get-AzVmss that should help you get the extensions for virtual machine scale sets. Hope this helps. I will go ahead and close this ticket now.

[2020-09-30 23:28] #13065 closed

[2020-10-01 00:00] dingmeng-xue commented on #13117
@rhythmnewt , this is a general issue recently. It seems an issue from Azure Portal because Azure cmdlets have no change for 2 years. . Do you still have previous workable publish setting files?

Couple workarounds below

1. Authenticate using AAD authentication
2. Authenticate usign a self-signed cert
    1. Create a self-signed cert in your CurrentUser\My store. you can find details on creating

[2020-10-01 00:08] dingmeng-xue commented on #13111
Backup team, please help to look into this question.

[2020-10-01 00:12] dingmeng-xue commented on #13110
@mdurini , Thanks for reporting. I have added Reservation team in this thread.

You can turn on debug trace by `$DebugPreference="Continue"`, then you will see URL to Azure service. Could you share the URL to us? I believe URL should be the same in multiple calls. Please help to check.

[2020-10-01 00:13] dingmeng-xue commented on #13109
Service team, please help to look into this feature request.

[2020-10-01 00:18] dingmeng-xue commented on #13107
ARM team, location `uaenorth` is available now. Please help to look into this question.

[2020-10-01 00:29] dingmeng-xue commented on #13104
@yanxiaodi , thanks for reporting. AzureRM modules are old version. Could you check if `New-AzAutomationSchedule` from latest Az.Automation can resolve your problem? If issue is still there, we will engage into it.

[2020-10-01 00:33] dingmeng-xue commented on #13096
@makan0 , I can see 2 versions of Az.Resources in your environment. Please remove the old version and try again.

[code]

[2020-10-01 00:37] dingmeng-xue commented on #13049
Could you share it to me? You can find my email address on my profile.

[2020-10-01 00:38] dingmeng-xue commented on #13052
Service team, please help to look into this quesiton.

[2020-10-01 00:45] keithbabinec commented on #13117
My team has been hitting this problem with our Azure classic cloud service pipelines in Azure DevOps. Agreed that it doesn't seem to be the cmdlets themselves because those obviously haven't changed in years now. Wondering if there is a new service problem in the legacy Azure APIs or if its something specific to the Azure DevOps agents.

This issue does seem to be happening to a lot of customers r

[2020-10-01 01:00] dingmeng-xue commented on #13035
Please reference to #13117

[2020-10-01 01:02] dingmeng-xue commented on #13035
@sourabhkrishna , let's use #13117 to track this issue. We will contact AzureRM and Portal team to understand what happened.

[2020-10-01 01:02] #13035 closed

[2020-10-01 03:18] snaheth commented on #12747
Hi @craigeaw, I'm a PM on Azure Resource Graph (ARG). It sounds like your logic immediately triggers a resource delete when Resource Graph incorrectly showed that your Automation Accounts didn't exist anymore. That's a mistake on our end and we apologize that this happened.

Currently, there's no way to check if Resource Graph is running into these types of rare issues before/on a request to ARG b

[2020-10-01 03:18] #12747 closed

[2020-10-01 04:17] snaheth commented on #9759
@AndyHerb -- We're adding this message/warning in our update to both the CLI extension and PowerShell cmdlet. Thank you.

[2020-10-01 05:29] Sharmistha-Rai commented on #11311
We have added this issue as part of our backlog. There have been multiple asks to include VaultId parameter so we definitely plan to prioritize this. I'm closing this issue but please feel free to reopen for any additional queries.

[2020-10-01 05:29] #11311 closed

[2020-10-01 05:33] Sharmistha-Rai commented on #12837
This item has been logged as a bug in our system. We'll track it in our releases and see that it is fixed. I will close the issue for now but please feel free to reopen the thread for any queries or asks.

[2020-10-01 05:33] #12837 closed

[2020-10-01 07:49] makan0 commented on #13096
@dingmeng-xue

Did uninstall old version. It did not solve the problem

[2020-10-01 09:31] pvrk commented on #13062
Assigning the bug to @mepand

[2020-10-01 09:34] sebdau commented on #13049
Tried to repro again today but the problem disappeared. Closing this request. Thanks!

[2020-10-01 09:34] #13049 closed

[2020-10-01 10:43] pvrk commented on #13111
@dcbrown16 : "I'm in CSS and have consulted with Backup engineers, who stated that this might only be usable in the case of selective backup. If that is true, this info should be added to the documentation."

You are right. Selective disk restore happens only when selective disks are backed up. Will take up update of documentation along with updating with right examples.

[2020-10-01 11:24] pmantz opened #13121 "ResourceId is Invalid from Get-AzResource | Where-Object { }"
## Description

Trying to update tags on a resources array generated using a where-object filter, to pick only non tagged resources. Update-AzTag fails due to a null ResourceId, however if I filter resources based on name the command works fine. I've noticed that a lot of times the ResourceId is just trimmed, missing the last give or take 10 chars.

## Steps to reproduce

[code]

## Environment da

[2020-10-01 14:37] shiva0010131 commented on #12540
Hi Team,

Is New-AzWebAppSSLBinding cmdlet supports keyvault or storage account URL to upload certificate ? or is there a way to automate this process through runbook ? I know there are articles to use ARM templates to get this done, just want to know if this is possible with runbook (we can call json template through runbook but looking for an option to get this done in runbook without using ARM

[2020-10-01 14:37] brettmillerb opened #13122 "Search-AzGraph Cmdlet Error & Docs for -Include Parameter Incorrect or Incomplete"
## Description
Attempting to use `Search-AzGraph` and when using the `-Include` parameter with either `DisplayName` or `DisplayNames` generates a query parser error.

When checking the values expected for the Enum:
[code]

Example 3 & 4 in the [documentation](https://docs.microsoft.com/en-us/powershell/module/az.resourcegraph/search-azgraph?view=azps-4.7.0#example-3) shows the value as `DisplayNam

[2020-10-01 15:38] msft-jasonparker opened #13123 "Get-AzResourceGroupDeployment does not correctly return deployment outputs"
Running a Resource Group Deployment for some fairly simple Virtual Machine resources and need to send the VM names as output from the template.  The output is defined as described the same way as in most examples.  When looking at the Azure portal, the output of the VM names is correctly displayed as an array.  However, when using PowerShell to get the deployment, the output does not show the arra

[2020-10-01 16:07] MonikaReddy-MSFT opened #13124 "Cost details of Azure app service environment returns null"
Hi All. I have been trying to get the cost details of Azure app service environment resource through powershell. I have used get-azconsumptionusagedetail command. But getting null value.

For other resources it works fine and gets the correct cost value. Any reason for this issue?

[2020-10-01 16:28] yareyes commented on #13117
Following as we have the same issue in our DevOps pipelines.

[2020-10-01 17:11] vikram-m commented on #8238
Currently, team is busy with other high priority items and this would be picked up in CY2021 Q1.

[2020-10-01 17:13] vikram-m commented on #8738
Currently, team is busy with other high priority items and this would be picked up in CY2021 Q1.

[2020-10-01 17:13] vikram-m commented on #8753
Currently, team is busy with other high priority items and this would be picked up in CY2021 Q1.

[2020-10-01 17:14] vikram-m commented on #9201
Currently, team is busy with other high priority items and this would be picked up in CY2021 Q1.

[2020-10-01 17:14] vikram-m commented on #9663
Currently, team is busy with other high priority items and this would be picked up in CY2021 Q1.

[2020-10-01 17:15] vikram-m commented on #9983
Currently, team is busy with other high priority items and this would be picked up in CY2021 Q1.

[2020-10-01 17:16] vikram-m commented on #10404
Currently, team is busy with other high priority items and this would be picked up in CY2021 Q1.

[2020-10-01 17:16] eosfor opened #13125 "Docker compose Web App support in Az module"
## Description of the new feature

Looking for parity between az cli and az module in terms of multi-container apps support.  In the doc [Create a Docker Compose app](https://docs.microsoft.com/en-us/azure/app-service/quickstart-multi-container#create-a-docker-compose-app) I see a few samples on how to run a multi-container app using CLI but I don't see the same with az module.

[2020-10-01 17:17] vikram-m commented on #10661
Currently, team is busy with other high priority items and this would be picked up in CY2021 Q1.

[2020-10-01 17:18] vikram-m commented on #10746
Currently, team is busy with other high priority items and this would be picked up in CY2021 Q1.

[2020-10-01 17:18] vikram-m commented on #10782
Currently, team is busy with other high priority items and this would be picked up in CY2021 Q1.

[2020-10-01 17:18] vikram-m commented on #11038
Currently, team is busy with other high priority items and this would be picked up in CY2021 Q1.

[2020-10-01 17:19] vikram-m commented on #11101
Currently, team is busy with other high priority items and this would be picked up in CY2021 Q1.

[2020-10-01 17:20] vikram-m commented on #11822
Currently, team is busy with other high priority items and this would be picked up in CY2021 Q1.

[2020-10-01 17:37] marc-gmail-towersap commented on #10052
been also experimenting with a gen2 datalake seeing if it works there, I get a different error.
Here, I have a gen2 datalake named marcdlsgen2sa.  I have set up my context (just to prove it works with a gen2 datalake).
via
$storacct = Get-AzStorageAccount -ResourceGroupName marc-play-rg -AccountName marcdlsgen2sa
$ctx = $storacct.Context
I can run
Get-AzDataLakeGen2ChildItem -Context $ctx -FileSys

[2020-10-01 19:10] arthubms opened #13127 "KeyVaultAccessToken is ignored"
## Description
Calling Set-AzureKeyVaultSecret after having connected with the -AccessToken, -GraphAccessToken, -KeyVaultAccessToken
fails. Fiddler traces (and debug option) shows that the token used for the KeyVault operations is the AccessToken. Call using the AccessToken (eg Get-AzResourceGroup) or the Graph token (eg Get-AzAdUser) suceed

## Steps to reproduce
Obtain bearer tokens (from eg. AD

[2020-10-01 19:27] avirishuv commented on #12599
@koyasuda-msft good to know that this is working for you now. Closing this issue, but feel free to reopen if you have any other questions related to this issue. Thanks.

[2020-10-01 19:27] #12599 closed

[2020-10-01 21:17] Vaibhav-Agar commented on #13053
Just to update - the dev team has been looped in to implement a fix. I will try to provide an update soon on an ETA.

[2020-10-01 23:01] dcbrown16 commented on #13111
Ok thanks Kartik! We'll handle the case with this info for now.

[2020-10-01 23:53] brwilkinson commented on #13054
The backgound jobs from the Whatif also don't seem to be able to be removed ?

![image](https://user-images.githubusercontent.com/3605266/94873931-6e7d8700-0405-11eb-9638-5d9706e808ab.png)

Also not sure if this is expected ?    is that a typo or expected on the words  "This cmdlet will **not** install preview" . .  not sure if it's supposed to be "This cmdlet will **now** install preview"

![imag

[2020-10-02 00:37] brwilkinson opened #13130 "[Az.Tools.Installer] Update-AzModule Appends AZ on the front of the module name"
[code]

Appears to use AZ.AZ.Resources

![image](https://user-images.githubusercontent.com/3605266/94876456-8f95a600-040c-11eb-8c2f-eeb7e587a4d2.png)

[code]

Appears to get further along.

[2020-10-02 00:40] brwilkinson opened #13131 "[Az.Tools.Installer] Update-AzModule has blocking 'prompt' on the jobs even with -Force -Confirm:$False"
## Description

When runing the following, it appears a prompt is still showing for Trusted gallery ?

## Steps to reproduce

[code]

## Environment data

Appears the same on PS 5.1 or &.0.3.

[code]

## Module versions

0.1.0                 Az.Tools.Installer

## Error output
![image](https://user-images.githubusercontent.com/3605266/94875990-3da05080-040b-11eb-97ee-abb741da6caf.png)

![image](h

[2020-10-02 02:56] #10746 closed

[2020-10-02 04:02] eric-winkler commented on #13117
We're seeing this same behavior in a Server 2019 VM. Once `KB4570720` is applied a previously working `Get-AzureStorageAccount` begins throwing a `Could not create SSL/TLS secure channel` error.

[2020-10-02 06:55] Kotasudhakarreddy commented on #13109
@PaulVrugt we recently added support for user-assigned identity using CLI commands - Powershell commands are blocked on new .NET SDK update the ETA for which is October, after that we will add support to user-assigned as well.

here is link to our CLI commands https://docs.microsoft.com/en-us/cli/azure/webapp/identity?view=azure-cli-latest#az_webapp_identity_assign

[2020-10-02 07:17] mdurini commented on #13110
I tried again today and the issue is not anymore there. do you know if something changed backend side? Thank you for your support. Best regards

[2020-10-02 07:41] mehowq opened #13133 "Get-AzAdvisorRecommendation does not return savings for Microsoft.Compute/virtualMachines"
## Description
When Get-AzAdvisorRecommendation cmdlet returns cost recommendations for Microsoft.Compute/virtualMachines, the data doesn't include the savings amount which is available in the Azure Portal. However, the savingsAmount, savingsPercentage and annualSavingsAmount is available for Microsoft.ReservedInstances/reservedInstances recommendations.

Had a look at the api 2017-04-19 and it se

[2020-10-02 08:18] Devvox93 commented on #12680
@ThejaChoudary Are you still on this? Do you need more info to repro? I thought I was pretty specific.

@panchagnula I answered your questions, but got no further response.

I guess this isn't a priority. Sad that slots don't get that much attention. They're very useful, but support for it in tooling (this instance as well as deployment of app settings to slots in general) is quite poor.

[2020-10-02 08:25] BagpussUK commented on #13117
@dingmeng-xue The second workaround is, well, working for us at the moment so thanks for that. Obviously it will still be good to get to the bottom of the issue.

[2020-10-02 09:43] Pistle commented on #13130
Azure PowerShell is a faster iterative product. We expect our customers to update their locally installed versions constantly to stay up to date. The most common way to update it is to use PowerShellGet, a tool built-in to PowerShell for module management.
Usually, you run “Install-Module -Name Az” to install the latest versions of Azure PowerShell modules. When you run “Install-Module -Name $modu

[2020-10-02 09:47] Pistle commented on #13127
When the app fails to load configuration using the provider, an error message is written to the ASP.NET Core Logging infrastructure. The following conditions will prevent configuration from loading:

The app or certificate isn't configured correctly in Azure Active Directory.
The key vault doesn't exist in Azure Key Vault.
The app isn't authorized to access the key vault.
The access policy doesn't

[2020-10-02 09:50] Pistle commented on #13063
Create an IoT Edge automatic deployment in the Azure portal to manage ongoing deployments for many devices at once. Automatic deployments for IoT Edge are part of the automatic device management feature of IoT Hub. Deployments are dynamic processes that enable you to deploy multiple modules to multiple devices, track the status and health of the modules, and make changes when necessary.

[2020-10-02 09:56] Pistle commented on #13026
If we need to access an Azure VM using RDP or SSH, most commonly we use public IP method. In this way, the virtual machine will have a public IP address (static or dynamic) assigned to it. Also, RDP or SSH service ports will open to the public via NSG. This is easy but not a very secure method.
If we have VPN or Express Route connectivity to Azure, we can connect to virtual machines using private

[2020-10-02 10:55] ChristophHornung opened #13134 "New-AzAksCluster ignores username from -ServicePrincipalIdAndSecret"
## Description

The `New-AzAksCluster` cmd ignores the username from the `-ServicePrincipalIdAndSecret` flag and instead tries to load the service principal from `/home/<user>/.azure/acsServicePrincipal.json` and when not present creates a new one.

This is also obvious in code when looking at `CreateOrUpdateKubeBase.EnsureServicePrincipal` the `spId` argument is never actually used.

## Steps to

[2020-10-02 11:57] mloskot commented on #12218
Please, add support for virtual network and subnet to the `New-AzContainerGroup`

I was hoping to be able to use the `New-AzContainerGroup` instead of `az container create {} --vnet {} --subnet {}` which is currently suffering from a **bug** with network profile creation (see https://github.com/Azure/azure-cli/issues/15372) and there is **no** `az network profile create` to workaround it.

Offerin

[2020-10-02 12:56] MonikaReddy-MSFT commented on #13124
@dcaro - Customer is facing this issue and as it looks like a bug in the software, requesting you to take a look at this at the earliest and the customer wants to get this working at the earliest.   https://docs.microsoft.com/en-us/answers/questions/113057/cost-details-of-azure-app-service-environment-retu.html?childToView=115171#answer-115171

[2020-10-02 12:57] arthubms commented on #13127
Hi
We have validated that the supplied token is valid and has the correct audience.
If connecting with the standard Add-AzAccount we can write to the KeyVault, confirming that KeyVault names and secret names are correct.

The reference to the ASP.NET Core Logging Infrastructure is unclear. Where would we find that log?

[2020-10-02 13:51] basburg opened #13136 "AzureAD module Get-AzureADServiceAppRoleAssignment swapped with Get-AzureADServiceAppRoleAssignedTo"
## Description

When running `Get-AzureADServiceAppRoleAssignment` in `AzureAD` version `2.0.2.116` it behaves exactly like running `Get-AzureADServiceAppRoleAssignedTo` on `AzureAD` version `2.0.2.106`, while `Get-AzureADServiceAppRoleAssignedTo` on `v2.0.2.116` behaved exactly like `Get-AzureADServiceAppRoleAssignment` on `v2.0.2.106`.

I assume that in the latest update the command got swapped

[2020-10-02 16:01] brwilkinson commented on #13130
@Pistle was that comment for me ?

if i want to install the AZ.Storage module I would expect to use:

[code]
That would attempt to install AZ.AZ.storage and it would fail.  <-- this is the issue that I had opened this issue ?

[2020-10-02 18:31] lymedo commented on #13105
I’m seeing a similar behaviour with New-AzDataLakeGen2Item. Creating a file in the root of the container but specifying / as the path results in an invalid URI error but the job state is ‘Completed’.

[2020-10-03 00:23] markcowl commented on #13123
@msft-jasonparker Have you tried accessing the values as an array?
[code]

Also, if possible, please include debug output (set ```$DebugPreference="Continue"``` then run the cmdlet.

[2020-10-03 00:28] markcowl commented on #13124
@dcaro, can you please try to ensure the correct service team is engaged.

@MonikaReddy-MSFT If you can provide the information in the issue template, that would really help to diagnose any issue.  At least provide

- The precise command line you used to reproduce the issue
-Module versions (Get-Module -ListAvailable)
- Debug traces
execute ```$DebugPreference="Continue"```  before executing the f

[2020-10-03 00:33] markcowl commented on #13127
@arthubms Thanks for the bug report, will take a look

[2020-10-03 00:36] markcowl commented on #13130
@brwilkinson Yes, the tool should definitely should be resilient over entries it isn't expecting.  Thanks for the feedback, we'll take a look.

@Pistle This is new (preview) functionality that allows users to learn about and manage updates of Az modules

[2020-10-03 00:38] markcowl commented on #13131
@brwilkinson Looks like we need to suppress the prompt when calling the underlying Install-Modulle cmdlet.

[2020-10-03 00:40] markcowl commented on #13133
@mehowq Please provide the information requested in the issue template, particularly:
- Version of modules installed (```Get-Module -ListAvailable```)
- Debug Traces of the failign command (execute ```$DebugPreference="Continue"``` before executing ```Get-AdvisorRecommendation```)

[2020-10-03 00:43] markcowl commented on #13136
@basburg Unfortunately, this is not the repio for the AzureADF module, so we cannot respond to this question.  Please try posting this question to https://support.microsoft.com or through https://github.com/PowerShell/powershell

[2020-10-03 00:43] #13136 closed

[2020-10-03 00:48] brwilkinson commented on #13131
@markcowl yes hopefully -force can be passes straight through.

[2020-10-03 00:51] brwilkinson commented on #13130
I guess I am a little unsure based on the comments if the issue that I saw is clear?!

@markcowl perhaps a question for you.

If I execute the following what would be the expectation:

[code]
vs
[code]
Which syntax should I be using ? I was assuming that prepending the **AZ** on AZ.Az.Storage was a bug ?

[2020-10-03 00:57] brwilkinson commented on #13130
Also another unrelated side question @markcowl ...

Is there a plan to switch out this Module to use the Preview PowerShellGet Module ?

Since it has the Find-PSResource Cmdlet, instead of Find-Module
or Install-PSResource instead of Install-PSResource.

I was playing around with This Module and the PowerShellGet Preview, however was hitting many bugs/errors after testing them for a few hours. I g

[2020-10-03 01:01] brwilkinson commented on #13131
@markcowl  One other question, is the module using start-job for the background jobs or start-threadjob ?

I might be worth leveraging the threadjobs since it's move efficient overall.

[2020-10-03 05:57] dcaro commented on #13130
@brwilkinson we are working closely with the PowerShellGet team. This module is build on top of PSGet and so will be in the future but we offer additional capabilities. For example, we detect the presence of AzureRM modules and offer to remove them, or offer to install the modules in preview which are not part of Az.

[2020-10-03 05:59] dcaro commented on #13130
@msJinLei @VeryEarly PTAL.

[2020-10-03 14:44] dingmeng-xue commented on #13134
@wyunchi-ms , please look into this issue.

[2020-10-03 15:17] mehowq commented on #13133
@markcowl thanks for looking into this

## Module versions

[code]

I'm unable to include the debug stream as it contains sensitive data. However, the command doesn't fail, it simply doesn't include information that I need (savings) and would expect to see as it's available in the Portal

[2020-10-03 15:27] dingmeng-xue commented on #13095
@rtabit , thanks for the information. I'm closing it. Please contact us if you need further help.

[2020-10-03 15:27] #13095 closed

[2020-10-03 16:27] dzbik opened #13143 "New-AzResourceGroupDeployment if templateLink.uri is provided from parameter or variable it's considered invalid or not supported."
## Description

Providig templateLink.uri from parameter or variable results in deployment error while hardcoding the exact same uri works.

## Steps to reproduce

[template.zip](https://github.com/Azure/azure-powershell/files/5321965/template.zip)
New-AzResourceGroupDeployment -ResourceGroupName xxxx -TemplateFile .\modules\agwConfigBuilder.json -TemplateParameterFile .\azuredeploy.parameters.jso

[2020-10-04 11:08] justPaulo commented on #13011
Yes. It does.

[2020-10-05 01:45] dingmeng-xue commented on #13143
HI Service team, please help to look into this question.

[2020-10-05 02:16] Kotasudhakarreddy commented on #13011
@justPaulo thanks for confirmation! we are closing this issue.

[2020-10-05 02:16] #13011 closed

[2020-10-05 07:52] sam-cogan opened #13144 "New-AzAppServicePlan Documentation missing WorkerSize"
## Description
The [documentation](https://github.com/Azure/azure-powershell/blob/master/src/Websites/Websites/help/New-AzAppServicePlan.md) for New-AzAppServicePlan is missing the property for "WorkerSize" and so provides no details on how to select the size of the App Service Plan beyond the default for the tier selected.

In addition, why are the values for this "small, medium, large", this doe

[2020-10-05 08:10] sgiovinetti opened #13145 "The 'Connect-AzAccount' command was found in the module 'Az.Accounts', but the module could not be loaded."
## Description
In VSCode terminal I'm unable to run any Az commands. They all end up with error

`The Az* command was found in the module 'Az.Accounts', but the module could not be loaded.`

Same commands in a standalone cmd windows seem to work fine even though I compared the 2 sessions (cmd and VSCode) and apart from ms-vscode.powershell-2020.6.0\modules the same modules seems to be installed on

[2020-10-05 13:21] cadumi opened #13146 "Powershell script failing with Cannot create TLS/SSL secure channel - managed to restart Cloud Service roles"
## Description

Behavior reproducible under WS 2016 and 2019 with SEPTEMBER ROLLUP installed.
Issue not reproducible without rollup.

Customer is using a Virtual Machine to run the DevOps pipeline, where he is running a powershell script to manage the classic cloud service, he is using the below script: https://gallery.technet.microsoft.com/scriptcenter/Reboot-Cloud-Service-PaaS-b337a06d

The erro

[2020-10-05 15:46] ajk2018 opened #13147 "New-AzStorageContext is returning AzureStorageContext instead of IStorageContext"
## Description
I'm trying to use Az Powershell to add a message to a storage queue. I'm running into an issue where the type returned from creating an New-AzStorageContext is returning a type, AzureStorageContext, and that is not compatible with the Get-AzStorageQueue command, which is expecting context of type IStorageContext.  This symptoms seems similar to the issue described in #12453, but I d

[2020-10-05 19:06] cgontario commented on #12702
I'm seeing this when using Get-AzAutomationVariable as well. Scripts we use to manage configuration data as Automation Variables depended on the previous behaviour where you could round-trip a PSCustomObject.

Microsoft's documentation suggests storing complex objects in Automation Variables: https://docs.microsoft.com/en-us/powershell/module/az.automation/new-azautomationvariable?view=azps-4.7.0#

[2020-10-05 20:07] ajk2018 commented on #13147
Updated issue with more details

[2020-10-05 22:04] mhoeger opened #13149 "[Az.Functions] Add support to create Node.js 14 function apps"
## Description of the new feature
Add support to create function apps for Node.js 14

## Proposed implementation details (optional)
Stacks: https://github.com/pragnagopa/azure-functions-supported-runtime-stacks/pull/20

cc @anthonychu
@Francisco-Gamino - please triage.

[2020-10-06 00:42] markcowl commented on #13144
@sam-cogan The WorkerSize parameter is provided in the linked documentation.

Adding the AppService team to answer the secodn aprt, I woudl guess that the provided T-shirt sizes weerre considered more human readable.

[2020-10-06 00:45] markcowl commented on #13145
@sgiovinetti  Can you please try the following to get some mroe detail on the error:

[code]

[2020-10-06 00:50] markcowl commented on #13146
@cadumi You are correct about the cause of the issue.  You can work around it by setting the environment variable:

[code]

to restore the implicit storage of keys, which was the previous .Net 4.x behavior.  You will then need to create a new publishsettings file, as the old certificate and keys will not be overwritten by a subsequent import.

[2020-10-06 03:13] mpilking commented on #12958
I battled this for far too long today.  The note above from @artisticcheese led me to upgrade to the latest version of PowerShell (7.0.3) and that fixed it for me.  Prior to that I was using AZ PowerShell in Windows PowerShell 5.1.  The weird thing is that the same command worked fine for me a month ago.

[2020-10-06 07:25] sgiovinetti commented on #13145
@markcowl Tried your commands (even if don't get which error you want to catch).

I receive this error because the module is already installed.

`Message        : Assembly with same name is already loaded
FileName       :
FusionLog      :
TargetSite     : Void Bind_LoadAssemblies(System.Management.Automation.ExecutionContext)
StackTrace     :    at System.Management.Automation.Runspaces.InitialSes

[2020-10-06 08:47] franzoir opened #13151 "Get-AzResourceGroupDeploymentWhatIfResult results in InternalServerError"
## Description
- We have build Azure pipelines that generates artifact, validate and deploy ARM templates to our azure environments.
   For one specific solution, the validation have started to fail.
- Have been validating and deploying ARM template files with ~13600 lines (roughly 80 key vaults with ACLs) for a couple of weeks now with no problems from Azure Pipelines.
- Started failing 30/9 (30t

[2020-10-06 09:21] aimackenzie commented on #12005
Hi, do you know if this issue has been progressed yet?

[2020-10-06 09:35] dingmeng-xue commented on #13151
Service team, please help to look into this question.

[2020-10-06 10:21] franzoir commented on #13151
For reference, same error occurs in az cli, so the problem may be underlying component.
https://github.com/Azure/azure-cli/issues/15402#issuecomment-703645085

[2020-10-06 11:11] PaulVrugt commented on #13109
Thanks for the info. I'll eagerly await the update :)

[2020-10-06 13:15] asears commented on #12613
This could be an issue with -Subscription alias parameter and having multiple "profiles" or context names for the same subscription.  Set-AzContext silently gives up and leaves as current?

I had 3 different context names for the same subscription, with different email addresses (aliases), some with subscription ids included in the context name.

Unfortunately it seems as though Select-AzSubscript

[2020-10-06 13:20] pmantz commented on #13121
[code]

apparently the issue is with the resourceid values, for some reason even using them simply like this fails

[2020-10-06 16:21] Manbearpiet opened #13152 "Get-AzAutomationSoftwareUpdateConfiguration -AzureVMResourceId"
## Description

I LOVE the fact that you added this parameter, we really want to index what updateconfigurations a VM uses. However the code returns nothing when fed with a resource-id of a VM. The VM is visible when previewing the updategroups in the schedule. Also it matches by PropertyName but VM's have a different propertyname (Name). Also there's no example with this switch, so how are we sup

[2020-10-06 16:45] #13144 closed

[2020-10-06 17:07] #13121 closed

[2020-10-06 17:08] pmantz commented on #13121
it seems the alert rules in question were associated with deleted resources that prevented tagging of the alert rules themselves.

[2020-10-06 18:15] dcaro commented on #13117
This issue is caused by a change of behavior introduced with the .NET September update. The following code will restore implicit storage of keys (the previous .Net 4.x behavior) through an environment variable:

[code]

**NOTE:** You will then need to create a new publishsettings file, as the old certificate and keys will not be overwritten by a subsequent import.

[2020-10-06 18:18] dcaro commented on #13117
Related issue with additional details about the behavioral change: https://github.com/Azure/azure-powershell/issues/13146

[2020-10-06 20:39] sharmank41 opened #13154 "Getting error while running powershell script in my VM"
Getting below error while running powershell script in my VM. Please fix this issue.

PS C:\windows\system32> Install-PackageProvider -Name NuGet -MinimumVersion 2.8.5.201 -Force;
WARNING: MSG:UnableToDownload «https://go.microsoft.com/fwlink/?LinkID=627338&clcid=0x409» «»
WARNING: Unable to download the list of available providers. Check your internet connection.
WARNING: Unable to download from

[2020-10-06 21:51] eolver commented on #12160
Im trying to configure a Backend Pool on an Application Gateway using PowerShell im getting the same issue Set-AzApplicationGateway : 'MinCapacity' is less than minimum value of '2'. even if I try to change the SKU via the azure portal its saying that the policy is associated and wont let me change it.

[2020-10-06 23:08] bryanknox opened #13155 "Get-AzWebApp error if named app does not exist"
## Description
`Get-AzWebApp` will emit an error if the named app does not exist.

The error message is:
[code]

The expected behavior is for the `Get-AzWebApp` command to return `null` if the app is not found, so that it can be used in scenarios like the following:
[code]
The `Get-AzFunctionApp` command does behave as expected, it simply returns `null` and does not emit an error if the named app

[2020-10-07 03:29] vikram-m commented on #12322
Currently, team is busy with other high priority items and this would be picked up in CY2021 Q1.

[2020-10-07 03:30] vikram-m commented on #12353
Currently, team is busy with other high priority items and this would be picked up in CY2021 Q1.

[2020-10-07 03:30] vikram-m commented on #12384
Currently, team is busy with other high priority items and this would be picked up in CY2021 Q1.

[2020-10-07 03:30] vikram-m commented on #12552
Currently, team is busy with other high priority items and this would be picked up in CY2021 Q1.

[2020-10-07 08:27] PaulVrugt opened #13157 "Getting front door frontend endpoint custom domain https status and settings"
## Description of the new feature
As far as I know, the azure powershell methods currently don't support getting the status of custom domain https status and their settings. We currrently register frontend endpoints using the `New-AzFrontDoorFrontendEndpointObject` method, save them and use `Enable-AzFrontDoorCustomDomainHttps` to enable custom domain https. However, if we remove a frontend endpoi

[2020-10-07 10:20] AbdallahMoyosore commented on #9258
Hi, this is actually a bug, if you pass the rerource group name, you get the same message as well. Please investigate
![image](https://user-images.githubusercontent.com/10676900/95318819-f4c71c80-088e-11eb-870c-b5ce0c844de3.png)

[2020-10-07 10:57] arnoschuring opened #13158 "WebApp:Publish-AzWebapp doesn't handle relative paths properly"
## Description
Publish-AzWebapp seems to interpret relative paths as being relative to the user's home dir, rather than the current working directory.

## Steps to reproduce

[code]

## Environment data

[code]

## Module versions

[code]

## Debug output

I'm omitting the debug output because this is a local error, and the local trace is the same as what's in the error log.

## Error output

[cod

[2020-10-07 13:53] tkaniewski commented on #8807
-SubscriptionRequired parameter is not avaiable in Import-AzApiManagementApi function. Also this parameter is SwitchParameter not Boolean so how can I change the existing API settings to false?

https://docs.microsoft.com/en-us/powershell/module/az.apimanagement/set-azapimanagementapi?view=azps-4.7.0

[2020-10-07 14:09] tkaniewski commented on #8807
Even if I run
[code]
Subscription required is checked:

![image](https://user-images.githubusercontent.com/66473456/95342168-6a46e300-08b7-11eb-8ae3-d7af9b6bd053.png)

[2020-10-07 14:09] theonesuperdave commented on #12312
@justhchung - the release currently targets MS-Hosted Agents using the `vs2017-win2016` "Agent Specifiation" so these should all be Windows OS.

[2020-10-07 14:18] justhchung commented on #12312
@theonesuperdave thank you for confirming. We will further investigate.

[2020-10-07 18:43] MonikaReddy-MSFT commented on #13124
Hello @markcowl - Please find the attached details from the customer -

 Directory: C:\Program Files\WindowsPowerShell\Modules

ModuleType Version Name ExportedCommands

Script 1.9.4 Az.Accounts {Disable-AzDataCollection, Disable-AzContextAutosave, Enable-...
Script 1.1.1 Az.Advisor {Get-AzAdvisorRecommendation, Enable-AzAdvisorRecommendation,...
Script 1.3.0 Az.Aks {Get-AzAksCluster, New-AzAksClu

[2020-10-07 18:53] panchagnula commented on #13124
@MonikaReddy-MSFT I would send an email to the internal ASE team DL to find out if there is an API to get the details you are looking for in the first place & then Powershell can support it. Thanks!

[2020-10-07 21:22] ravichandraatma opened #13162 "Import-Module: Could not load type 'System.Management.Automation.PSSnapIn' from assembly 'System.Management.Automation, Version=7.1.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35'."
* Issue With PowerShell 7.0 and 7.1
* Install-Module  Microsoft.Xrm.Data.Powershell -Force > succeeded Version latest
* On the execution of command  Import-Module Microsoft.Xrm.Data.Powershell > error is thrown as
Import-Module: Could not load type 'System.Management.Automation.PSSnapIn' from assembly 'System.Management.Automation, Version=7.1.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35'

[2020-10-07 21:31] btardif commented on #10645
Linux Apps are currently not supported through App Service PowerShell experience.

As a point in time workaround you have 2 options:

- You can workaround this through ARM templates
- Consider using the Azure CLI

This is in our backlog and it's something we are looking to enable in the future.

[2020-10-07 22:01] danielsollondon opened #13163 "Add support for runAsSystem parameter in New-AzImageBuilderCustomizerObject"
## Description
Please can you add support for runAsSystem in the PowerShell customizer, this was added as an optional param to the API.

## Steps to reproduce

[code]

## Module versions

[code]

Thanks,

[2020-10-07 23:03] markcowl commented on #13152
@Manbearpiet  If you set ```$DebugPreference='Continue'``` the above cmdlet returns no debug traces?

[2020-10-07 23:05] markcowl commented on #13154
@sharmank41 Unfortunately, this cmdlet is not part of Azure PowerShell.  You should open this issue in this repo: https://github.com/PowerShell/PowerShell  .  Unfortunately, I cannot transfer it there, since it is technically ina  different github organization.

[2020-10-07 23:05] #13154 closed

[2020-10-07 23:08] markcowl commented on #13155
@bryanknox Agreed, getting a specific item that does not exist should throw.

[2020-10-07 23:11] markcowl commented on #13162
@ravichandraatma The PowerShell repo is here: https://github.com/PowerShell/PowerShell.  Unfortunately, I cannot transfer this issue, so please open this issue there.

[2020-10-07 23:11] #13162 closed

[2020-10-07 23:11] panchagnula commented on #10724
Thanks @shubDhond for the response.

[2020-10-07 23:11] #10724 closed

[2020-10-07 23:19] vikram-m commented on #12702
Thanks for the details, product team is aware of this issue and looking into it.

[2020-10-08 00:10] dcaro commented on #13146
Closing as duplicate of #13117

[2020-10-08 00:10] #13146 closed

[2020-10-08 00:15] dcaro commented on #13145
@dingmeng-xue let's investigate further

[2020-10-08 00:19] dcaro commented on #13131
@msJinLei @VeryEarly can you have a look?

[2020-10-08 00:40] dcaro commented on #12993
@dm10169 you can find the latest installer from the release tag:
https://github.com/Azure/azure-powershell/releases/tag/v4.7.0-September2020

The MSI installer is located at the very bottom under "Assets"

[2020-10-08 04:20] briandunnington commented on #13117
@dcaro We are experiencing this error when running Azure Powershell commands in a DevOps pipeline. Do we have to add the `Set-Item` command in every PS script in our pipeline? Or just once at the beginning? Can you further explain "You will then need to create a new publishsettings file, as the old certificate and keys will not be overwritten by a subsequent import." - I dont know what that means

[2020-10-08 08:01] #12917 closed

[2020-10-08 08:01] Manbearpiet commented on #13152
Oh sorry PSA autocompleted it, but didn't finish it :)

[2020-10-08 13:23] ajk2018 commented on #13147
We saw this issue in Azure Devops release pipeline as well, using the Azure Powershell task.  Once we checked the 'Use Powershell Core' task, the script worked as expected.  So are these commands supposed to be compatible with PowerShell 5.1 or just newer versions of PowerShell?

[2020-10-08 14:48] dcaro commented on #13117
The `Set-Item` command set the environment variable  `COMPLUS_CngImplicitPersistKeySet` to `1` and is read when importing the .publishsettings file.
In the context of ADO, I believe that it is better to set it at the task / pipeline configuration level. This article should help you with setting environment variables:
https://docs.microsoft.com/en-us/azure/devops/pipelines/process/variables?view=az

[2020-10-08 18:06] kwiecek commented on #10196
You can use the script you find here: [Fix MSI Role Assignment](https://automate.guru/fix-msi-role-assignment/)
In addition to giving MSI the appropriate permissions, it also cleans up remnants of the deleted assignment.

[2020-10-08 18:36] avirishuv commented on #12886
hi @dcbrown16 could you please clarify which 'EndTime' property are you mentioning here? And please share any steps that you are following so I can repro. Thanks.

[2020-10-08 18:48] avirishuv commented on #12886
@bilaakpan-ms is this something you could help check? Which timestamp is returned by Azure PowerShell for the Stop-AzVM operation - is the the 'operation acceptance' timestamp or 'operation completion' timestamp?

[2020-10-08 18:51] rharris-hs commented on #3215
I want to confirm that adding Application.ReadWrite.OwnedBy from the LEGACY Azure Active Directory Graph API does seem to be the one permission required that allows this to work.

However, granting the same permission (Application.ReadWrite.OwnedBy) through the new Microsoft Graph API DOES NOT WORK.

There is now a deprecation warning message: "This application is using Azure AD Graph API, which i

[2020-10-08 18:52] avirishuv commented on #12886
I checked using the Stop-AzVM -Name <vmname> -ResourceGroupName <rgname> -debug command, and in the debug output, the 'EndTime' property is the same as the time when the command to stop the VM ends processing.

[2020-10-08 19:19] avirishuv commented on #13058
assigning to @bilaakpan-ms - for looking into plan for removal of the obsolete parameter -Managed for New-AzAvailabilitySet cmdlet

[2020-10-08 20:18] mschmeller commented on #13117
@dcaro
It's not working for me. I get the same error "The request was aborted: Could not create SSL/TLS secure channel." after following your advice. What I'm doing wrong?
Here is my test script:
Import-Module -Name "C:\Program Files\WindowsPowerShell\Modules\Azure\5.1.2\Azure.psd1" -Global
cd C:\temp\azure

Set-Item -Path env:COMPLUS_CngImplicitPersistKeySet -Value 1
$myValue = Get-Item -Path env

[2020-10-08 20:32] ljtill opened #13164 "Policy Definitions - Management Group Filtering"
## Description

When using the `Get-AzPolicyDefinition` cmdlet, the `-ManagementGroupName` switch seems to be ignored. Any value can be entered and it will return all accessible policy definitions. I'd would have expected that the cmdlet returns either  an error or null if the Management Group can't be found.

## Steps to reproduce

[code]

## Environment data

[code]

## Module versions

[code]

[2020-10-08 21:18] avirishuv commented on #12906
Still investigating this, marking this as a bug.

[2020-10-08 22:06] nkiest commented on #13066
From @asheniam
I was able to use the latest Azure Monitor SDK and list/create subscription diagnostic setting.
https://www.nuget.org/packages/Microsoft.Azure.Management.Monitor/0.25.2-preview

Note: There isn't any 1st class SDK support for subscription diagnostic settings so from the SDK side, it looks like resource level diagnostic settings.

Example:
[code]
The PowerShell team should be unblock

[2020-10-08 23:12] jdelforno opened #13165 "Az.Subscription not included when installing Az Module. Must be installed manually."
## Description
Az.Subscription is not included when you run Install-Module Az

## Steps to reproduce

[code]

[2020-10-08 23:36] markcowl commented on #13165
@jdelforno Yes, the Az.Subscription module is not currently included with Az, which is quite inconvenient if you want to use that module.  The team is currently working on a new installation product that makes it easier to discover and acquire add-in modules like Az.Subscriptions

@dcaro assigning to you - can you clarify when / if Az.Subscriptions might be included in the Az package and/or using

[2020-10-09 01:43] isra-fel commented on #13127
Looking at it. Will keep the thread updated

[2020-10-09 02:07] blueww commented on #13147
@ajk2018

As `AzureStorageContext `is inherit from  `IStorageContext`, so there should be no problem to input `AzureStorageContext ` type object to parameter with type `IStorageContext`.

Your issue seems an encoding issue.
The error is " A positional parameter cannot be found that accepts argument 'Microsoft.WindowsAzure.Commands.Storage.AzureStorageContext'."

`positional parameter` means you ju

[2020-10-09 02:41] jdelforno commented on #13165
@markcowl thanks for confirming

Can we also please have the documentation updated?
https://docs.microsoft.com/en-us/powershell/module/az.subscription/new-azsubscription?view=azps-4.7.0

People who read the above will think it's in the module heh

[2020-10-09 03:13] VeryEarly commented on #13130
Hi @brwilkinson ,

The current design is to use the module name without "Az.".

[2020-10-09 03:16] brwilkinson commented on #13130
@VeryEarly

okay that is Odd.

I thought this supported a range of other modules as well, Graph, Msonline, AzureAD... ?

So I wasn't expecting to just type the Resource and not the full name.

[2020-10-09 03:20] VeryEarly commented on #13130
This installer will support Az modules only as far as we planed. The input names for modules are still in discussion (Az.Resources or Resources) will be finalized in later versions.

Thanks

[2020-10-09 03:24] brwilkinson commented on #13130
@VeryEarly  Thanks for the clarification.

I don't have a preference for either option. . . It just felt like pre-pending would limit the scope of how the module could be used, so i figured it was a bug, however I had found several other issues, so I wasn't really sure.

Feel free to close this issue.

[2020-10-09 03:25] VeryEarly commented on #13131
Hi @brwilkinson ,

This tool is built on top of PowershellGet (Packagemanagement), applying "-Force" parameter to them while running multi-task makes the performance terrible.

There is a certain bug though this cmdlet should not execute when the given repository was not trusted. Will do the fix in later release.

[2020-10-09 03:27] #13130 closed

[2020-10-09 03:30] brwilkinson commented on #13131
@VeryEarly okay, what do you recommend to perform the install then ?

i.e. the public psgallery is untrusted for a reason, I am not going to just trust it .. so I would like to just override the default when I explicitly want to install a particular module.

So was the expectation that I should Trust PSGallery for these to work (without -Force) ?

[2020-10-09 03:53] brwilkinson opened #13167 "[Az.Tools.Installer] [Microsoft.PowerShell.Commands.PSRepositoryItemInfo] does not contain a method named 'Where'"
## Description

Update-AzModule  fails in WindowsPowerShell 5.1

Method invocation failed because [Microsoft.PowerShell.Commands.PSRepositoryItemInfo] does not contain a method named 'Where'.
At D:\OneDrive\Documents\PowerShell\Modules\Az.Tools.Installer\0.1.0\internal\Get-AzModuleUpdateList.ps1:50 char:17

![image](https://user-images.githubusercontent.com/3605266/95540993-0865a680-09a7-11eb-88f6

[2020-10-09 04:32] VeryEarly commented on #13131
I'll say make PSGallery trusted is the solution.

The purpose of this module is to provide easy way to manage Az module, for particular module you can always use Install-Module (Install-AzModule also works though).

[2020-10-09 04:58] brwilkinson commented on #13131
@VeryEarly

I think we will need to come up with a better solution than making the public gallery trusted.

No one in the PowerShell community is going to buy into that (I don't believe).

I can ask on twitter, however I don't have many followers . . . however I am sure people would agree they are not going to make it trusted.

[2020-10-09 05:23] dcaro commented on #13131
@brwilkinson thanks for the feedback, the module is in preview and we will evaluate the options how to address this scenario in the best possible way.
Unfortunately, for the time being, we do not have a better solution than trusting the PSGallery.

[2020-10-09 05:28] brwilkinson commented on #13131
quick question, if you evaluate the requirement to update any specific module, then run that update within a child job, can't you just pass the -Force in, since it's only targeting a single module ?

I think I understand why you prefer not to use force when install a suite of modules, since it would cause them all to install, however with just a single call for each, I don't think it would make an

[2020-10-09 08:48] Devvox93 commented on #12680
I've done some further digging myself and this is the road it takes:
[WebsiteClient](https://github.com/Azure/azure-powershell/blob/master/src/Websites/Websites/Utilities/WebsitesClient.cs) uses the [WebApps property](https://docs.microsoft.com/en-us/dotnet/api/microsoft.azure.management.websites.websitemanagementclient.webapps?view=azure-dotnet#Microsoft_Azure_Management_WebSites_WebSiteManagemen

[2020-10-09 08:49] JamesKQuinn opened #13168 "Set-AzVMBootDiagnostic should allow the use of managed storage account"
## Description of the new feature
In the portal when creating a VM, you can select to use managed storage account for boot diagnostics, but you cannot do this in powershell with Set-AzVMBootDiagnostic, at the moment you can only use a custom storage account.

Portal options for Boot Diagnostics when creating a VM:
![image](https://user-images.githubusercontent.com/70699976/95562807-8e6c0680-0a14-1

[2020-10-09 11:52] theheatDK opened #13170 "New-AzMySqlServer is missing parameter for minimal-tls-version"
Hi,

As far as I can see New-AzMySqlServer is missing parameter for minimal-tls-version.

az CLI have implemented it:
https://docs.microsoft.com/en-us/cli/azure/mysql/server?view=azure-cli-latest#az_mysql_server_create

Regards Peter

## Description

## Steps to reproduce

[code]

## Environment data

[code]

## Module versions

[code]

## Debug output

[code]

## Error output

[code]

[2020-10-09 15:05] Kotasudhakarreddy commented on #13158
@arnoschuring - relative path points to the location where the `Az.Websites ` is installed. Preferred way of using the `-ArchivePath`  is to provide full path rather than relative path. if we want to use relative path then our **.zip** file should be located at the `Az.Websites` module location.

[2020-10-09 15:45] kenieva commented on #13164
@markcowl, I am a bit confused by your issue. Are you proposedly inputting a management group name that is not to be found or are you passing an existing MG and it is not finding it? Thank you for the clarity.

[2020-10-09 16:33] brwilkinson commented on #13131
Here is the thread on Trusting the gallery, I don't have many followers, however Steve does... so quite a few replies

https://twitter.com/Steve_MSFT/status/1314448479851167746

[2020-10-09 16:58] eosho commented on #13157
+1 on this ask. I am currently trying to figure out a way to check the status of my custom domain w/ key vault certificate

[2020-10-09 16:59] edfreeman commented on #12792
@isra-fel This still doesn't seem to work when using the `TemplateParameterObject` hashtable parameter of `Test-AzResourceGroupDeployment` (or `New-AzResourceGroupDeployment`).

The only way we got it to work using the `TemplateParameterObject` parameter was to pass in the secure string in a roundabout way:
[code]
We have no idea why `$sasCred.Password` works, but `sasToken` itself doesn't - they'

[2020-10-09 17:04] s-rajesh4 commented on #9965
i did
# az account clear
# az login
#az account set --subscription (subsription id)
# to verify
# az group show --subscription ()subscription id)  --name (resourcegroupname)

# command worked
#  az sql mi update -g (resourcegroupname)  -n (sqlmi name)  --storage (gbsize)

[2020-10-09 17:38] Francisco-Gamino commented on #13155
Hello @panchagnula -- could you please assign this to WebApps cmdlet owner? Thanks.

[2020-10-09 17:41] panchagnula commented on #13155
@ThejaChoudary / @Kotasudhakarreddy can one of you take a look at this? Thanks!

[2020-10-09 21:01] itoleck opened #13171 "minimalTlsVersion property missing from New-AzMariaDbServer"
## Description
minimalTlsVersion property missing from New-AzMariaDbServer. This Azure REST API property should be exposed so that MariaDB servers can be created with TLS settings. If Azure Policy is used to deny TLS version < 1.2 then PowerShell can not be used to create MariaDB servers unless custom Azure REST API is used.

## Steps to reproduce

[code]

## Environment data

[code]

## Module ve

[2020-10-10 01:40] dingmeng-xue commented on #13171
API spec needs to be updated. https://github.com/Azure/azure-rest-api-specs/issues/10259

[2020-10-10 02:32] isra-fel opened #13173 "Update databricks workspace withouth -EncryptionKeyVersion will keep last key version"
## Description

If you have once updated a databricks workspace with one key version (for CMK purpose), and then update it again without key version, the last version is kept, but we expect it to be empty string.

## Repro

1. Created and prepared a new Azure Databricks workspace for encryption
[code]

2. Configured DBFS encryption with customer-managed keys
[code]

3. Tried updating DBFS encrypti

[2020-10-10 07:46] msJinLei opened #13174 "Uninstall-Module should not specify any wildcard characters to "Name""
## Description

## Steps to reproduce

[code]

## Environment data

[code]

## Module versions

[code]

## Debug output

[code]

## Error output

[code]

[2020-10-10 11:05] elygre opened #13175 "New-AzPolicyDefinition does not escape input parameters properly"
## Description

When using `New-AzPolicyDefinition` with a `-Name`-parameter containing a hash, the command returns with an error indicating that things are missing from the URL. Adding an ampersand to the Name returns an even more complex message.

The cmdlet passes the name unescaped onto the URL, as shown in the debug output.

## Steps to reproduce

[code]

## Environment data

[code]

## Modul

[2020-10-11 07:49] adamzhangsm commented on #13117
Set-Item can setup this variable but unfortunately doesn't honor this in the current PS session.

If your code is working in Azure DevOps, you can setup this environment variable in DevOps Pipeline level.

------
If you are using some Windows client,  I recommend Adding this variable by using System Control Panel/System Properties - Environment Variables. You need to start a new PS session after t

[2020-10-11 11:29] o-l-a-v opened #13178 ""Get-AzVM -Status" sometimes fails to get power state for Linux VMs"
## Description

We have a runbook that starts and stops VMs based on tags and current time. When we started using some Linux VMs (Cent OS 7) we some times got an error because Az.Compute ```Get-AzVM -Status``` failed to obtain power state.

We until recently used AzureRM, but last week updated the runbook to use latest Az modules (Az.Accounts, Az.Compute, Az.Resources) instead, in hope of that fix

[2020-10-11 14:55] dingmeng-xue commented on #13167
Thanks for reporting. We are looking into it.

[2020-10-11 14:56] dingmeng-xue commented on #13168
Compute team, please help to evaluate this feature.

[2020-10-11 15:03] dingmeng-xue commented on #13170
This attribute is defined on swagger and generated in internal cmdlet. https://github.com/Azure/azure-powershell/blob/2b70e0d54b229d923624b402cdc086826122ca9f/src/MySql/internal/New-AzMySqlServer.ps1#L158. It should be exposed on export cmdlet.

[2020-10-11 15:06] dingmeng-xue commented on #13175
Service team, please look into this question.

[2020-10-11 15:07] dingmeng-xue commented on #13178
Compute team, please help to look into this question.

[2020-10-11 18:41] Ashish-Jovial commented on #6628
I am getting the same issue, I am using AzureRm.Resources v6.7.0. Is it because of this? last week my script was working fine, but unfortunately that time I hadn't noticed the version history.
`
Get-AzureRmRoleAssignment : The client 'e1c558fe-035b-k8re-p9eu-ur89ridkg6dy' with object id 'e1c558fe-035b-k8re-p9eu-ur89ridkg6dy' does not have authorization to perform action
'Microsoft.Authorization/ro

[2020-10-11 23:29] mikeclayton opened #13179 "Output from "dataUri" function fails as input parameter to "dataUriToString""
Hi,

I think this might be an issue in the ARM Template API rather than the PowerShell module, but I'm not quite sure who to feed this back to, so hopefully you could point me in the right direction...

I've found that the output from the ARM Template function ```dataUri``` (described at https://docs.microsoft.com/en-us/azure/azure-resource-manager/templates/template-functions-string#datauri) fail

[2020-10-12 00:00] anwather opened #13180 "Get-AzDelegation returns an error when null"
[code]

When I run the command as below an error is returned (the delegation does not exist) :-
[code]
Would it be better if ```$null``` is returned instead when an object doesn't exist?

[2020-10-12 02:52] dingmeng-xue commented on #13180
@anwather , thanks for reporting. The return message is not good. Could you share debug message via setting `$DebugPreference="Continue"`?

[2020-10-12 02:56] anwather commented on #13180
[code]

[2020-10-12 05:13] wahyuen commented on #12042
@MSEvanhi Just checking in to see if there were any updates on this issue?

[2020-10-12 05:21] theheatDK opened #13183 "New-AzPostgreSqlServer is missing a parameter for minimal-tls-version"
Hi,

As far as I can see New-AzPostgreSqlServer is missing a parameter for minimal-tls-version.

It is exposed via the Portal and az CLI have implemented it:
https://docs.microsoft.com/en-us/cli/azure/postgres/server?view=azure-cli-latest#az_postgres_server_create

Regards Peter

## Description

## Steps to reproduce

[code]

## Environment data

[code]

## Module versions

[code]

## Debug output

[2020-10-12 06:13] amjads1 commented on #13178
Looking into this issue.

[2020-10-12 06:32] LucasYao93 commented on #13173
Hi @isra-fel,
I changed the code. Please help me to check if it is correct.

## Changed code
[code]
## Casue Result
[code]

[2020-10-12 06:51] isra-fel commented on #13173
Yes, that should be OK. Thanks

[2020-10-12 07:01] cveld commented on #13127
Is this Az PowerShell Module 4.7.0 related? We have issues when accessing a Key Vault when using an Azure Context that has been created with the -KeyVaultAccessToken parameter. We get a "forbidden" error.  Seems the same as reported issue above.

[2020-10-12 08:51] ljtill commented on #13164
@kenieva inputting a management group name which does not exist. If the user inputs a management group which exists it will return all policy definitions at that scope (expected) but if the user inputs an invalid management group name it'll still return policy definitions. This is confusing I would have thought it would throw an error (invalid mg) or returned null.

[2020-10-12 10:44] makan0 commented on #13096
Workaround: Downgrade to version 2.1.0
Culture:
LCID             Name             DisplayName
----             ----             -----------
1044             nb-NO            Norwegian, Bokmål (Norway)

[2020-10-12 12:27] harshan007 commented on #9893
@jaredmoo Do we have update on adding this support in PowerShell? I see in documentation that its supported in powershell.
We have built powershells script to auto-manage database schema migrations and integrated it with our devops release pipeline and would be great to have this supported to avoid eating up azure DB DTUs during schema migration step.

https://docs.microsoft.com/en-us/azure/azure-

[2020-10-12 14:49] dingmeng-xue commented on #13096
@dagoroz , could you help check the logic around below code? I suspect it cannot be parsed to double even when it is not null.

https://github.com/Azure/azure-powershell/blob/d20505ea99d1192e6fece418e8f85d667f9e9dcb/src/Resources/Resources/RoleAssignments/NewAzureRoleAssignmentCommand.cs#L274

[2020-10-12 16:59] amjads1 commented on #13178
Assigned to Avi.

[2020-10-12 17:03] dagoroz commented on #13096
@dingmeng-xue I have PR #13142 that addresses this by adding default values and additional checks.

[2020-10-12 18:02] plynch66 commented on #13183
Hi,

I'd also like to add that New-AzPostgreSqlServer is missing the option to disable public network access which is present in both the Portal and the CLI.

"--public --public-network-access
Enable or disable public network access to server."

Regards,

Paul Lynch

[2020-10-12 18:05] kenieva commented on #13164
What type of definitions are returned? Are they built-in definitions?

[2020-10-12 18:09] amjads1 commented on #13168
Looking into this issue.

[2020-10-12 18:52] kenieva commented on #13175
This looks like a possible bug on our side. Work item https://msazure.visualstudio.com/One/_workitems/edit/8556517

For now, if possible do not include the symbol it should work.

[2020-10-12 18:52] #13175 closed

[2020-10-12 19:31] jessenguyen7 opened #13192 "Set-AzActivityLogAlert doesn't work with existing action group"
## Description
Using latest PowerShell modules, the Set-AzActivityLogAlert command does not work. I am using it with an existing action group and I've tried it with a new action group and it still doesn't work. I referenced https://github.com/Azure/azure-powershell/issues/5540 have tried using the New-Object workaround since it appears the powershell cmdlets are broken and referencing Azure SDK ty

[2020-10-12 19:56] zendu opened #13193 "Connect-AzAccount: AADSTS50097: Device authentication is required."
## Description
Connect-AzAccount command fails with error "Connect-AzAccount: AADSTS50097: Device authentication is required." when run from PowerShell 7.0.3, but works from PowerShell 5.1.

## Steps to reproduce

[code]

## Environment data

[code]

## Module versions

[code]

## Debug output

[code]

## Error output

[code]

[2020-10-12 20:06] ajk2018 commented on #13147
The script failed on the PowerShell Az functions with PowerShell 5.1 with the errors described in this issue.  After installing Powershell Core 7.1, the script worked without any changes.

[code]

[2020-10-12 22:12] amjads1 commented on #13168
Assigned to Avi.

[2020-10-13 02:14] yanxiaodi commented on #13104
@dingmeng-xue sorry for my late reply. I tried to run the Az module in PowerShell 7 but got the similar issue.
Here is the script:
[code]
The output is as following:
[code]
Then I checked the Azure portal:
![image](https://user-images.githubusercontent.com/3395915/95807297-4c212d00-0d66-11eb-89d6-4c6720d23683.png)

So in the list view, it shows `9 am` but in the detail view, it shows `8 am`. Also

[2020-10-13 02:17] yanxiaodi commented on #13104
Here is the module detail:

[code]

[2020-10-13 02:21] blueww commented on #13147
@ajk2018

Powershell 5.1 and Pwoershell 7.1.0 might has some difference on encoding on your machine.
Anyway, if you change "–" in your script to the standard char "-", it should work in both.

And this should not be Azure Powershell specific problem. If you use other Powershell cmdlet with parameter start with "–" in Powershell 5.1 on your machine, the problem should also appear. like `Get-Item –P

[2020-10-13 03:00] ajk2018 commented on #13147
I just tried recreating the issue using PowerShell 5.1 and I can not reproduce it now.  Again the scripts have not changed.  The only change I am aware of on my machine is having installed PowerShell Core.

[2020-10-13 04:15] arunGitCode commented on #13192
Am too facing the same Error.

Note: The below script ran successfully for similar storage account;  but when I ran this in a loop for multiple storage accounts I am seeing the below error.

Script used.

$ActionGroupName = "TestAG"
$ActionGroupResoruceGroupName = "ic3-int2-cu-opstools"
$actionGroup = Get-AzActionGroup -Name $ActionGroupName -ResourceGroupName $ActionGroupResoruceGroupName
$action

[2020-10-13 04:26] blueww commented on #13147
@ajk2018
Thanks for the update!
It's good to hear that the issue is resolve on your machine.

Anyway, if you can use the standard char "-" in your script, it can make the script always not fail for this issue.

I will close the issue as it's resolve on your machine.
Feel free to contact us again if need any further assistance.

[2020-10-13 04:26] #13147 closed

[2020-10-13 09:22] #12266 closed

[2020-10-13 14:02] isrgarmes opened #13202 "Az.Synapse: New-AzSynapseSqlDatabase returns BadRequest (No registered resource provider found for location 'westeurope' and API version '2020-04-01-preview' for type 'workspaces')"
Hello,

We have a Script based on PowerShell which makes the following actions:

- Creates an Container/FileSystem in a Storage Account for linking with a new Synapse Workspace instance
- Creates the Synapse Workspace instance
- Creates a Database in the Synapse Workspace instance

When we execute the third step, we receive the following error:
**Operation returned an invalid status code 'BadReque

[2020-10-13 14:41] CodeThePlanet commented on #12451
@cernana remove the line StorageAccountAccessKey and it should work. Since the ServicePrincipal already has access, we don't need to provide a key.

[2020-10-13 14:53] dingmeng-xue commented on #13179
Service team, please help to look into this question.

[2020-10-13 15:00] TiaanVenter commented on #7431
Perhaps this is a bug in the Azure Cloud Shell, but I can confirm I'm getting this same issue as well (when attempting to set the var via Cloud Shell):
PS /home/tiaan> $subnetConf1 = Add-AzVirtualNetworkSubnetConfig -Name web2 -AddressPrefix 10.3.1.0/24 -VirtualNetwork 'VNet2'
Add-AzVirtualNetworkSubnetConfig: Cannot bind parameter 'VirtualNetwork'. Cannot convert the "VNet2" value of type "System

[2020-10-13 15:17] TiaanVenter opened #13206 "Add-AzVirtualNetworkSubnetConfig module asks for string, but doesn't accept a string?"
Related to issue 7431:

Perhaps this is a bug in the Azure Cloud Shell, when attempting to set the VirtualNetwork parameter via Cloud Shell:
PS /home/tiaan> $subnetConf1 = Add-AzVirtualNetworkSubnetConfig -Name web2 -AddressPrefix 10.3.1.0/24 -VirtualNetwork 'VNet2'
Add-AzVirtualNetworkSubnetConfig: Cannot bind parameter 'VirtualNetwork'. Cannot convert the "VNet2" value of type "System.String" to

[2020-10-13 15:58] MonikaReddy-MSFT commented on #13124
@panchagnula - I have sent an email and waiting for the response from the team

[2020-10-13 16:26] langstonj opened #13207 "Set-AzSqlInstanceDatabaseVulnerabilityAssessmentRuleBaseline documentation example inadequate for VA2130"
The Set-AzSqlInstanceDatabaseVulnerabilityAssessmentRuleBaseline command documentation example does not work for VA2130.
From Get-Help Set-AzSqlInstanceDatabaseVulnerabilityAssessmentRuleBaseline:

SYNOPSIS
    Sets the vulnerability assessment rule baseline.

    --- Example 1 - Set a vulnerability assessment rule baseline ---

    PS C:\> Set-AzSqlInstanceDatabaseVulnerabilityAssessmentRuleBasel

[2020-10-13 17:21] shilpasharmaAM commented on #13066
Hi

Hi,
Please see the response from nkiest and advise on the next steps. Thanks

[2020-10-13 19:51] olayemio opened #13210 "New-AzGalleryImageVersion does not allow creating a SIG Image in cross-tenant scenario"
The New-AzGalleryImageVersion does not allow me to create a SIG image version resource from a VM in another tenant. I am logged into both tenants and my default context is the destination.

I run the command
[code]

The client has permission to perform action 'Microsoft.Compute/galleries/images/versions/read' on scope '$destinationResourceID', however the current tenant $destinationTenant is not a

[2020-10-13 20:09] stephenwheet opened #13211 "Get-azvm can't retrieve "ostype""
## Description

OsType property .. where?  I can see it but why can't I get it?

## Steps to reproduce

[code]

## Environment data

[code]

## Module versions

[code]

## Debug output

[code]

## Error output

[code]

[2020-10-13 21:15] dcaro commented on #12266
The [Az module version 4.8.0](https://www.powershellgallery.com/packages/Az/4.8.0) includes this fix.
Please update using `Update-Module -name Az` to get the latest version available.

[2020-10-13 21:34] ramaganesan-rg commented on #12561
thank you for your feedback. The Old SDK does not support non-EA subscription.
A new version of SDK (Potentially to be released by end of this year) will fix this. REST API is the best alternative right now.

[2020-10-14 00:54] stephenwheet opened #13213 "get-azvm StorageAccountType doesn't work if VM deallocated"
## Description

When using get-azvm I can't get the managed OS disk storage type if the VM is deallocated.  If I look in the portal it will tell me the storage type but not in powershell.  This was working with Az v4.7.0 but it's not working with Az 4.8.0 (and I just updated today).

## Steps to reproduce

[code]

## Environment data

[code]

## Module versions

[code]

## Debug output

[code]

##

[2020-10-14 01:43] stephenwheet commented on #13213
I'm able to get the sku by doing this:
[code]
But that seems ugly and I have to do 2 queries instead of just one.

[2020-10-14 06:05] blueww commented on #12189
This is already fixed in Az 4.8.0
https://docs.microsoft.com/en-us/powershell/module/az.storage/new-azstorageaccount?view=azps-4.8.0

[2020-10-14 06:05] #12189 closed

[2020-10-14 07:19] #13173 closed

[2020-10-14 07:27] dingmeng-xue commented on #13192
@VeryEarly , please look into this question.

[2020-10-14 07:27] dingmeng-xue commented on #13202
Synapse team, please look into this issue.

[2020-10-14 07:28] dingmeng-xue commented on #13206
Network team, please help to look into this question.

[2020-10-14 07:32] dingmeng-xue commented on #13213
Involve Compute team.

@stephenwheet , could you share the log after setting `$DebugPreference="Continue"`? It can help to narrow down the issue.

[2020-10-14 07:36] dingmeng-xue commented on #13211
@stephenwheet , please help to collect log via setting `$DebugPreference="Continue"`.

[2020-10-14 07:39] dingmeng-xue commented on #13207
@langstonj, could you share your cmdlet and debug message to us? You can get debug message after setting `$DebugPreference="Continue"`.

[2020-10-14 07:45] dingmeng-xue commented on #13210
Compute team, please help to look into this feature request.

[2020-10-14 08:37] VeryEarly commented on #13206
the input value of 'VirtualNetwork' should be PSVirtualNetwork object instead of string.

Please try the example one:
https://docs.microsoft.com/en-us/powershell/module/az.network/add-azvirtualnetworksubnetconfig?view=azps-4.8.0

[2020-10-14 09:10] erich-wang commented on #13193
@zendu, do you have same issue when using `Connect-AzAccount -UseDeviceAuthentication` on Windows PowerShell? If yes, please clear your browser's data and try again.

[2020-10-14 10:01] dingmeng-xue commented on #13193
Could you share the output of below code once you reproduce the issue in your env? The code will show all loaded assemblies. We'd like to check if environment is interfered by other modules.

[code]

[2020-10-14 11:14] Kotasudhakarreddy commented on #13155
@panchagnula - I think returning **'NotFound'**  isthe existing behavior with most of the azure resources and it is same with `webapp` too. If we need to make the changes as suggested in the issue description It should be handled at API side. please suggest.

[2020-10-14 12:30] bwarren18 commented on #11679
The AzureQuery property values are returned by Get-AzAutomationSoftwareUpdateConfiguration if it is run on a single update configuration.  It is nested under UpdateConfiguration.Targets.AzureQueries.  If you run the command to get all update configurations the value is null. You could get a list of all updateconfigurations and then iterate over each one with the same command to get all the values.

[2020-10-14 13:08] olayemio commented on #13210
I am the PM for Compute Images. Even though I am logged into both tenants I do not have the permissions for the tenant where my source resides. In CLI, I have access to both tenants. I was asked to submit the issue here.

[2020-10-14 14:11] TiaanVenter commented on #13206
Hmm, looks like we need a module to be placed in the object for it to be accepted? Not working when just defining the string as an object:

PS /home/tiaan> $virnetObj = 'VNet2'
PS /home/tiaan> $subnetConfig1 = Add-AzVirtualNetworkSubnetConfig -Name web2 -AddressPrefix 10.3.1.0/24 -VirtualNetwork $virnetObj
Add-AzVirtualNetworkSubnetConfig: Cannot bind parameter 'VirtualNetwork'. Cannot convert the

[2020-10-14 15:49] anthony-c-martin commented on #12835
This looks like the same issue as #12773. @shenglol please could you confirm?

[2020-10-14 17:19] shenglol commented on #12835
Yes, this is already fixed in [Az.Resources 2.5.1](https://www.powershellgallery.com/packages/Az.Resources/2.5.1). Closing the issue.

[2020-10-14 17:19] #12835 closed

[2020-10-14 22:14] arizavala commented on #13193
Hello, I'm having the same issue.

I've tried on Powershell 7.0.3, 7.1.0 and 6.2.0. Actually I also tried on a different device.

Thanks!

[2020-10-14 22:27] amjads1 commented on #13213
Assigned to Avi.

[2020-10-14 22:47] avirishuv commented on #11911
hi @amergey the images that you have mentioned here involve a publisher that have a plan info. Updating image reference sku in vmss where the new sku has a plan info is not supported.

[2020-10-14 22:48] Rodric75 commented on #10497
Any chance you can do more magic and add  LastPasswordChangeTimestamp, PasswordNeverExpires as well?  AFAIK the only user that gives those fields at this time is MSOLService.

[2020-10-14 23:51] amjads1 commented on #13210
Per my conversation with @olayemio , looks like there's a separate email thread going on the same issue between Yemi and the powershell team. Assigning this issue to @dingmeng-xue  and removing compute label.

[2020-10-14 23:54] amjads1 commented on #13211
Assigned to Avi.

[2020-10-15 00:12] stephenwheet commented on #13213
OK.. so when I did the debug.. it looked like it traced through the entire subscription.  It filled up the buffer and then some.  I'm using VScode integrated shell and it's not big enough.  It was strange.  When I tried it and added -ResourceGroupName with the name I got the following

[code]

Without the -resourcegroupname it goes wild .. either way same response .. doesn't give it to me if power

[2020-10-15 00:29] bryanknox commented on #13155
@Kotasudhakarreddy, @panchagnula - The `Get-AzFunctionApp` command does not error in the same way as `Get-AzWebApp` and its return value can be used in the scenario I've described in the issue description. There are other examples too, such as `Get-AzKeyVault` that can be used as I've described.

[2020-10-15 00:31] dingmeng-xue commented on #13152
Automation team, please help to look into it. The information of debug is posted.

[2020-10-15 01:59] dingmeng-xue commented on #13210
We are investigating this feature with @olayemio .

[2020-10-15 03:45] stephenwheet commented on #13211
ugh .. looks like my reply wasn't submitted .. so I'll do it again..  so I found it here. ..

[code]

you would think that if it's displayed that way it would be a top level property

[2020-10-15 07:41] amergey commented on #11911
hi @avirishuv thanks for the reply. Is it possible to publish images in marketplace without plan info ? or is it something required when publishing images to marketplace ? This is unfortunate for us to discover this limitation so late as it was advised to us by Microsoft to use custom marketplace images to ease upgrade of our solution in a scaleset.

[2020-10-15 09:39] ihor-z-i opened #13227 "webapp:Set-AzWebAppSlot doesn't update ScmSiteAlsoStopped"
I'm trying to update ScmSiteAlsoStopped property of a web app slot using the script below and it doesn't have any effect.

[code]

I updated `$DebugPreference="Continue"` and captured a transcript so I see that there is a PUT request described below which sends `"scmSiteAlsoStopped": true` but in the response it is still `"scmSiteAlsoStopped": false`

[code]

I also tried to update it with az cli

[2020-10-15 10:04] vick-git opened #13229 "$blob.ICloudBlob.Properties.LeaseState shows all blobs lease state Unspecified."
## Description

$blob.ICloudBlob.Properties.LeaseState shows all blobs lease state Unspecified. Although Portal says Available, Broken and so on.
![image](https://user-images.githubusercontent.com/57968021/96109008-12017980-0e93-11eb-809d-0ada7a3c2cbf.png)

Out of the above, 1 is available, 2 are soft deleted.

## Steps to reproduce

[code]

## Environment data

[code]

## Module versions

[code]

[2020-10-15 11:02] mite1111 commented on #8410
I ran into this issue today. Do we have any tentative timelines for a fix? Thanks

[2020-10-15 11:26] felixtheflex commented on #11102
I am having similar issues.....one possible workaround is to deploy metric alerts with no actions, and then associate them in the portal.

[2020-10-15 12:27] langstonj commented on #13207
This:
$DebugPreference="Continue"
Set-AzSqlDatabaseVulnerabilityAssessmentRuleBaseline -ResourceGroupName "dscrsgsql03" -ServerName "dscsqlsrv03" -DatabaseName "sqldb127" -RuleId "VA2130" -BaselineResult
@(           'dbo',
                                                  0x48B4AEE32EA1DF4D9F2A963117F17CBA),
@(           'Developers',
              0x5AB4E5F086588046AFD4D92A2E849606),
@(

[2020-10-15 13:17] omerchechik commented on #9057
The tasks API is pending deprecation.
Please use assessment API instead (https://docs.microsoft.com/en-us/rest/api/securitycenter/assessments/get)
The severity is part of the assessment metadata API (https://docs.microsoft.com/en-us/rest/api/securitycenter/assessmentsmetadata)

[2020-10-15 13:18] omerchechik commented on #10970
The tasks API is pending deprecation.
Please use assessment API instead (https://docs.microsoft.com/en-us/rest/api/securitycenter/assessments/get)

[2020-10-15 14:16] TiaanVenter commented on #13206
This article on RebelAdmin confirms what Yabo suggested first, passing an object as the value for the parameter and not a string:  https://www.rebeladmin.com/category/microsoft/azure-active-directory/

4. Under the virtual network, I am going to create two subnets. One for servers and one for VPN gateway. To create subnets,

$vn = Get-AzVirtualNetwork -ResourceGroupName REBELVPNRG -Name REBEL-VNET

[2020-10-15 14:16] #13206 closed

[2020-10-15 16:43] daviburg commented on #8410
Pankaj and Reid are working on different teams now. Adding dev manager and will check who can work on LA powershell cmdlet at the moment.

[2020-10-15 17:17] bergmeister opened #13231 "Invoke-AzDataFactoryV2Pipeline actually runs the pipeline when using the -WhatIf switch"
## Description

## Steps to reproduce

[code]

## Environment data

[code]

## Module versions

Az.DataFactory 10.0.2 from Az 4.8.0

## Error output
NA

[2020-10-15 21:35] benjamin-goldman commented on #13097
yup - this is murdering our ability to progress a project.

[2020-10-16 02:23] MSEvanhi commented on #12042
I'm going to see if we can investigate with engineering here, but honestly that may take awhile. I would attempt to workaround this in the mean time using a parameter file or variable like in the documentation I provided. I still think that we're passing parameters incorrectly here, as I cannot get your syntax to work on my side...

[2020-10-16 02:26] blueww commented on #13229
@vick-git

Powershell depends on .net SDK.
$blob.ICloudBlob is from v11 .net SDK, and v11 .net SDK not support blob version.
So if you try to get any properties of Blob version, don't use $blob.ICloudBlob, Please use V12 .net SDK object (it works for all kinds of blobs):
[code]

As remove the V11 object will be a big breaking, we will not remove it now, but might remove it in the future.

[2020-10-16 02:40] vick-git commented on #13229
That worked, thanks a lot! Closing this.

[2020-10-16 02:40] #13229 closed

[2020-10-16 02:49] adeal commented on #13097
@brandong-ms @sredman

[2020-10-16 05:50] sridharktm opened #13240 "[1.4.0] Start-AzAutomationRunbook is converting the json parameters to clixml"
When I execute a runbook using the this powershell cmdlet , my automation runbooks fails as the input parameters are being submitted as CliXml instead of json. Before submitting the job, I confirmed the object type i am passing as parameter is idictionary.
This I am experiencing only when using 1.4.0 az.automation module.

$json = (Get-content -path $Parametersfile -Raw) | Out-string
$params = @{"

[2020-10-16 06:02] sholman commented on #12776
When I do Update-Module on my local version of Powershell, I still have 4.3.0. When will this be updated in the PowershellGet repository?

[2020-10-16 07:33] yuemlu opened #13241 "Support enable/disable paid bursting on Managed Disks"
## Description of the new feature
We offer paid bursting where customer can pay for an activation fee to get higher burst perf target and permission to burst beyond available tokens. The disk can burst up to the max burst perf target at any point of time and charged for transactions that exceed available tokens. Customer can enable disk bursting when the disk is not attached to a VM or the attache

[2020-10-16 08:30] msJinLei commented on #13167
Fixed in https://github.com/Azure/azure-powershell/pull/13236

[2020-10-16 08:30] #13167 closed

[2020-10-16 08:30] msJinLei commented on #13174
Fixed in https://github.com/Azure/azure-powershell/pull/13236

[2020-10-16 08:30] #13174 closed

[2020-10-16 11:57] skurik opened #13244 "WebApp:New-AzAppServicePlan does not support the PremiumV3 tier"
## Description

New-AzAppServicePlan does not support the PremiumV3 tier. It should, according to the snippet at the bottom of https://docs.microsoft.com/en-us/azure/app-service/app-service-configure-premium-tier

## Steps to reproduce

[code]

I expect this to create an App Service plan in the P2V3 tier. Instead, it uses the old P2 tier.

Manually I am able to create a P2V3 App Service plan in th

[2020-10-16 13:29] gstolz commented on #6461
I'm not working in this field anymore and cannot retest the original issue. But I would leave this open because of all the other users, so they can track any progress.

[2020-10-16 14:31] IgnacioAlvarezArenas opened #13245 "WebApp:Restore-AZdeletedwebapp Powershell cmdlet only works locally if date format is MM/DD/YYYY."
## Description
When running Restore-AZdeletedwebapp in several formats, we get an error related to the date format. If we running it directly from Azure CLI in the Portal it works well.

I managed to make it working well, but the same command fails other times.

## Steps to reproduce

1) Delete an Azure webapp
2) Make sure it has been deleted by running get-azdeletedwebapp
3) Run this (with my app

[2020-10-16 16:26] n-vo commented on #13193
[System.AppDomain]::CurrentDomain.GetAssemblies()

GAC    Version        Location
---    -------        --------
False  v4.0.30319     C:\Program Files\PowerShell\7\System.Private.CoreLib.dll
False  v4.0.30319     C:\Program Files\PowerShell\7\pwsh.dll
False  v4.0.30319     C:\Program Files\PowerShell\7\System.Runtime.dll
False  v4.0.30319     C:\Program Files\PowerShell\7\Microsoft.PowerShell.Con

[2020-10-16 18:37] Splaxi opened #13247 "New-AzApiManagementApiSchema doesn't support OpenAPI"
## Description
Working against a developer APIM instance, and trying to add a definition / schema for an API. The command doesn't fail, but the definition / schema isn't created at all. That is regardless of having the schema in a variable or using a schema file with the New-AzApiManagementApiSchema cmdlet.

I can create the definition / schema via portal.azure.com and it works like intended. Usin

[2020-10-16 18:52] BhargaviAnnadevara-MSFT opened #13248 "Cannot Retrieve Full Version Number"
Referenced from: https://github.com/MicrosoftDocs/azure-docs-powershell/issues/1594#issue-719454508
Issue opened by @camsilv

Hi, when looking at an extension in the portal, we can see the full version number i.e. 1.4.1654.1. When using Get-AzureRmVMExtension (or it's AZ equivalent) This is truncated to simply "1.4" as the "typeHandlerVersion" property. Is it possible to get back the full version