[2019-04-25 21:28] markcowl commented on #9087
Which document did you refer to where this wasn't present?

Do you think it's also appropriate for this to also be in the instructions for the PowerShell Gallery (since this is true of any module installed form there [or anywhere])?

[2019-04-25 21:38] markcowl commented on #9075
This did go to the Azure MVPs alias last year, and was on the Azure blog a couple of times.  We don't collect email addresses from our users, @dcaro will know whether we have other channels for communication with indidual users directly.

If there is another blog / group alias / twitter that would be more likely to get to you, please let us know.

The documentation went through a phased update sta

[2019-04-25 22:53] #7100 closed

[2019-04-25 23:08] markcowl opened #9094 "Model Resource Completers in a single module"
## Description
Model completers for
- [ ] Resource Group
- [ ] Resource Reference
- [ ] Resource Name
- [ ] Subscription

## Cost : 6

[2019-04-25 23:15] markcowl opened #9095 "Fix and verify telemetry in Register-AzModule"
## Description
- [ ] Research the appropriate mechanism for batching AppInsights data to Azure
- [ ] Implement in the current event listener
- [ ] Verify end-to-end functionality and performance
## Cost: 4

[2019-04-25 23:18] markcowl opened #9096 "Investigate and Fix issues with DefaultProfile and Resgister-AzModule"
## Description
Register-AzModule should be able to authenticate using the passed-in DefaultProfile.  Investigate why DefaultProfile is not correctly converted, and make appropriate fixes to Register-AzModules
- [ ] Add tests for Register-AzModule authentication
## Cost: 2

[2019-04-25 23:32] markcowl opened #9097 "Model Tests for CRUD cmdlets for one resource type"
## Description
Model scenario etsts using the built-in recordign mechanism.  Tests should
- [ ] Use templates to set up necessary resources
  - [ ] Generate necessary infrastructure for template deployment
- [x] Perform CRUD actions and validate using pester functions / operators
- [x] Save recording in Test folder with test code
- [ ] Work across two profiles
## Cost: 6

[2019-04-25 23:40] niander commented on #8846
- [ ] Cmdlets that currently do not output some sort of OperationResult:
  - [ ] DisableAzureVmssDiskEncryption.cs
  - [ ] SetAzureVmssDiskEncryptionExtension.cs
  - [ ] ContainerServiceCreateOrUpdateMethod.cs
  - [ ] DiskCreateOrUpdateMethod.cs
  - [ ] DiskGrantAccessMethod.cs
  - [ ] DiskUpdateMethod.cs
  - [ ] GalleryCreateOrUpdateMethod.cs
  - [ ] GalleryImageCreateOrUpdateMethod.cs
  - [ ] Ga

[2019-04-26 00:09] markcowl opened #9098 "Change SubscriptionId Resolution to use DefaultParameterValues"
## Description
- [x] Stop resolving SubscriptionId
- [x] Add sefault subscriptionId to all modules
- [x] Add default tenantId to resource mdoule
## Cost: 4

[2019-04-26 02:30] blueww commented on #9032
@huizlAzure
Would you please help to update the issue when the server deployment for the fix is ready?
Thanks!

[2019-04-26 11:05] ViggoL opened #9102 "Get-AzureRmResource - parameter for excluding hidden resources"
## Description of the new feature

In the Azure portal the user can choose to include or exclude hidden resources in the list by ticking a box. Add this support to the `Get-AzureRmResource` cmdlet by argument.

[2019-04-26 12:55] iyoumans commented on #9019
I agree that there's a need to specify destination on the Set. However, the Get should return one object with all possible audit settings, and just set the unused properties to null/empty string. This is how most (all? almost all?) of the Azure APIs work - providing one object type returned regardless of parameter set passed in. If you are unaware of the unique nature of this Get, you will get the

[2019-04-26 14:51] mgfink commented on #9086
[Uploading singleton.txt…]()
@markcowl I tried scoping this to a single resource to keep this a little cleaner.  The attached shows the 400 error along with other output.

I'm not sure if something changed but now when I run the command I don't get the -ExpandProperties output.  In some cases, I can see that additional input in the debug output (eg. SSL cert hostnames, expiration dates, etc.; howe

[2019-04-26 16:03] xuesongyuan opened #9103 "Set-AzResource should report progress based on operation result's percentComplete"
## Description of the new feature
The creation and/or modification of our AAD Domain Services resource usually takes a long time. We are reporting a rough progress using RP SDK operationResult's percentComplete. However, it does not seem to be honored by AzureRM or Az PowerShell. Please implement a support for it.

## Proposed implementation details (optional)

[2019-04-26 20:08] rbedger commented on #8000
no update on this? still seeing this issue.

[2019-04-27 05:06] PrajithB commented on #8836
Please let me know when it gets pushed. I will update PS cmdlets. Thanks for your help :-)

[2019-04-28 20:44] blueelvis commented on #6292
@cormacpayne @maddieclayton - It is now almost an year since this issue was opened and this is still happening. Any idea when this can be fixed permanently?

[2019-04-29 06:49] Christoph2020 opened #9107 "Get-AzAutomationDscNode -Name returns all nodes instead of the one with the name"
## Description
Hello,

we have got problems using the command Get-AzAutomationDscNode from the Az module. Apparently, using the command with the -Name Parameter returns all nodes instead of only the one with the given value.

## Steps to reproduce

1. Execute the command on a existing resourcegroup, automationaccountname and pass any text in the $Name Parameter.

[code]

2.  All nodes get returned

[2019-04-29 10:33] arnefromsa opened #9110 "Get-AzConsumptionUsageDetail not honoring -StartDate and -EndDate"
I have a subscription with a lot of usage across multiple resources.

I am extracting usage information from the subscription for usage in other systems.  I do see usage in the Costs Analysis tab for the specified period, but via the Az module and Az CLI for this subscription I am getting only today's usage and not for the period specified.  Other subscriptions do not behave the same as this speci

[2019-04-29 16:14] lagase opened #9111 "Set-AzStorageServiceLoggingProperty failing with No credentials provided"
I am running in to an error when attempting to enable logging using Set-AzStorageServiceLoggingProperty for Tables in a Storage V2 Account. I was able to set the same logging for Blob and Queue with no issues.

The command I am using after running New-AzStorageContext is the following:

Set-AzStorageServiceLoggingProperty -ServiceType Table -Context $storagectx -LoggingOperations "Read,Write,Delet

[2019-04-29 16:26] bingbing8 commented on #8983
When will the issue be fixed? I hit it when develop my azure function

[2019-04-29 19:28] markcowl opened #9112 "Update Compute tests that have hard-coded locations"
## NOTE: No further PRs (other than critical bug fixes) should be accepted until this issue is resolved.

## Description

Fix the new compute recordings that use hard-coded location to instead query for location and prefer a given location if it exists:

i.e.
[code]

or similar

[2019-04-29 22:24] markcowl commented on #9111
@blueww can you take  a look?

[2019-04-30 02:14] blueww commented on #9111
@lagase

I can run the following command on a StorageV2 account without any error:
[code]

How do you run New-AzureStorageContext? Do you run it without input `-StorageAccountKey`? If you only input `-StorageAccountName`, it will generate an Oauth Stroage Context, and only Blob/Queue are supported with Oauth. Table only works with Key.
If so, you need to create a stroage context with account name

[2019-04-30 02:51] lagase commented on #9111
I am using the context when I create the storage account

$storageAccount = New-AzStorageAccount -ResourceGroupName MyRGName -Name MyStorageAccount -Location $AzLocation -SkuName Standard_RAGRS -Kind StorageV2 -EnableHttpsTrafficOnly $True

The documentation is not clear on this difference in using the key with table. I'll give that a try and let you know if this succeeds or not. The error is a li

[2019-04-30 12:27] mopede80 commented on #9004
@darshanhs90 Are there any updates on this? We are facing the same problem.
Apart from Description missing there are two more params also gone. SecurityEnabled / MailEnabled. (They are still present in 2.0.2.16 of AzureAd module). Is this intented?

[2019-04-30 15:23] pmaughan-MSFT opened #9115 "VirtualDiskStream Seek(..., SeekOrigin.End) method does not calculate end-relative position correctly"
## Code Reference

https://github.com/Azure/azure-powershell/blob/ec859f68bd7bcc9d4c2d76c369ca690c54d13544/src/Compute/Compute/VhdManagement/VirtualDiskStream.cs#L226-L228

## Description

The logic should be consistent with the generic Stream class’s implementation, shouldn’t it?
[code]
See https://docs.microsoft.com/en-us/dotnet/api/system.io.stream.seek?view=netframework-4.8#remarks

## Cost
Un

[2019-04-30 15:30] lagase commented on #9111
Thank you, this worked as expected now. Appreciate the information on how to make this work. I think updating the documentation to make this clearer would help others out.

[2019-04-30 15:49] BurgerVanDan commented on #4781
Has this been updated at all?

I am currently facing the same issue - created a storage account using ARM with name length of 28 characters successfully. When attempting to use the 'Remove-AzureRmStorageContainer' cmdlt but recieve the error "Remove-AzureRmStorageContainer : 'accountName' exceeds maximum length of '24'."

Any workarounds without renaming the storage account?

[2019-04-30 19:06] bakerm00 opened #9116 "New-AzADServicePrincipal doesn't support custom Key Description"
## Description
creating new service principal -
New-AzADServicePrincipal -DisplayName "xxTOY" -StartDate $spstartdate -EndDate $spenddate
cannot define custom value (CustomKeyIdentifier)  for key description -

as such cannot issue another key using New-AzADServicePrincipalCredential (which also doesn't have custom value to provide (CustomKeyIdentifier)

this all worked in the AzureAD cmdlets.

##

[2019-04-30 19:20] irateadmin commented on #6595
I also have this issue. Is there no fix or workaround?

[2019-04-30 19:42] irateadmin commented on #5704
I am also interested in this issue as I have the same problem.

[2019-04-30 20:25] markcowl commented on #9086
@mgfink We don't have a test cluster that has your data on it, and this looks very data specific.  We need the debug trace, or it is difficult to debug further - mainly we want to requests and response header info.

Also, why is using Get-AzWebsite not a solution for this?

[2019-04-30 20:43] markcowl commented on #9115
@pmaughan-MSFT Have you opened this issue aagainst the correct repo?  This is the repo for Azure PowerShell.  If you are asking a question about code in the repo, please provide a link to an example of incorrect usage in the repo.

[2019-04-30 21:08] pmaughan-MSFT commented on #9115
@markcowl thanks, apologies for dropping that from the initial issue description.

[2019-04-30 22:12] sphibbs commented on #8767
Will fix in generated

[2019-04-30 22:12] #8767 closed

[2019-04-30 22:12] #8733 closed

[2019-04-30 22:17] alexandair commented on #4781
It's not possible anymore to create a storage account with an invalid name (e.g. a name that exceeds maximum length of '24') using the ARM template.

[2019-04-30 22:21] sphibbs commented on #9103
Thanks for your feedback. If the service begins to provide reliable progress we will expose it to users. Right now, we could only guess and that is worse than not reporting anything

[2019-04-30 22:21] #9103 closed

[2019-04-30 22:24] sphibbs commented on #9102
We should see if we can follow the portal and not show Hidden by default and add a flag to include.

[2019-05-01 00:14] darshanhs90 commented on #9004
@grlin can help you with that

[2019-05-01 01:46] mgfink commented on #9086
@markcowl the previous attachment was run as requested with debug output.  I ran the command you provided and added the -debug flag from the cloud shell.  Did the attachment not have what you were looking for?

My aversion to using Get-AzWebsite is that I don't want to iterate over each app to get the info and the command I had found before was able to provide the list of certs + expiration dates

[2019-05-01 06:40] Avisharper opened #9119 "New-AzureRmResourceGroupDeployment: Documentation of -Mode parameter can be confusing"
## Description
While using the New-AzureRmResourceGroupDeployment cmdlet, I used the -Mode parameter for complete deploy. The description was confusing and I missed the part that "complete" will DELETE ALL RESOURCES IN THE RESOURCE GROUP! regardless of what resources actually exist in the deployed template.
The description text itself is written as a continuation of the "incremental" text and not

[2019-05-01 13:06] bashahee commented on #9019
@iyoumans We initiated a design of new cmdlets where `Get` cmdlets will provide one object type regardless of parameter set passed.
Thanks a lot for sharing your feedback!

[2019-05-01 13:24] iyoumans commented on #9019
Cool - thanks!

[2019-05-01 16:33] markcowl commented on #9115
@hyonholee Can you take a look?

[2019-05-01 16:39] markcowl commented on #9086
@mgfink it should be supported, the issue here may be with getting correct api-versions (which the cmdlet shoudl handle for you)

but this is much simpler using the typed cmdlets, and they have the same proeprties that geteneric cmdlets do, that is, you can use ```Get-AzWebApp``` without parameters to list allo of your web apps in the same fashion, and you can select the expected, typed properties

[2019-05-01 16:42] markcowl commented on #9074
@JHCessna Thanks for the input, we are looking at an update to thsi library later in the year, and we will consider this as aprt fo that update

[2019-05-01 16:43] markcowl commented on #9075
I think we have heard the complaint about developer notification - if there are additional feedbacks, please open a new issue - resolving this oen for now.

[2019-05-01 16:43] #9075 closed

[2019-05-01 16:44] markcowl commented on #8910
Fixed.  Will be released in May 6 release

[2019-05-01 16:44] #8910 closed

[2019-05-01 16:51] markcowl commented on #8946
@axorth The issue is most likely that you have Az and AzureRM modules installed side-by-side, and that the AzureRM module is loaded when you are tryign to use Az.

I would have to see the VS deployment scripts you are using, but most likely, you cna fix this by removing AzureRM and then turning on the AzureRM aliases in Az:

[code]

[2019-05-01 16:53] markcowl commented on #8944
Closing for lack of activity.  If you are still seeing an issue, please open a new issues and provide the information requested above.

[2019-05-01 16:53] #8944 closed

[2019-05-01 16:56] markcowl commented on #8940
The version will be updated in the May 6 release, should check with this version

[2019-05-01 17:00] #8940 closed

[2019-05-01 17:04] markcowl commented on #9055
@harre096 Please provide the requested details for your local repro using the latest version.

- Debug stream log ($DebugPreference="Continue" before executing the cmdlet
- Module list (Get-Module -ListAvailable)
- Result of running Resolve-AzureRmError after the error

[2019-05-01 19:30] niander commented on #8834
Closing since PR #8824 has been merged

[2019-05-01 19:30] #8834 closed

[2019-05-01 20:10] pvm30 opened #9122 "Import-AzureRmApiManagementApi not accepting apis based on openapi "3.0.1""
## Description

Import-AzureRmApiManagementApi seems not to be accepting OpenAPI specs with this version
**_"openapi": "3.0.1"_**

## Steps to reproduce

If I go to https://editor.swagger.io/ and convert the example file to OpenAPI 3.0.1

<img width="920" alt="FILE-VALID-ACCORDING-TO-SWAGGER-EDITOR" src="https://user-images.githubusercontent.com/2522390/57038228-bec54800-6c59-11e9-9574-3901112b93d

[2019-05-01 20:45] jlouie1 commented on #8885
Thanks for the fixes listed above.  The error messages and documentation are no help in troubleshooting this issue.  This needs to corrected as any previous scripts using this are now broken.

[2019-05-01 21:32] ryanspletzer commented on #8562
Is this support in place yet?

[2019-05-01 21:58] solankisamir commented on #8562
the new cmdlets should be released by 5/21 (the next release train of powershell)

[2019-05-02 06:53] arnefromsa commented on #9110
Unfortunately I cannot replicate this problem anymore. We have moved the subscription in question to a new enrollment, and since then the problem is now resolved. My only assumption here is that this was a data condition on Azure side, that was not catered for in the API and/or CLI/Powershell.

[2019-05-02 08:49] johnstaveley commented on #4671
I am getting this. All assets are de[ployed but the script never returns. This happens running it locally using powershell or using AzureDevops. This is preventing us running a CD pipeline

[2019-05-02 13:01] jasongaylord commented on #8930
We've used similar code in one of our release pipelines and when hitting the Management REST API, it seems as though the custom domain is stuck in the 'Enabling' state.

[2019-05-02 17:32] Charmendar commented on #1817
I am hitting same issue, triggering nested ARM deployment through CLI with multiple subnets randomly received error: "AnotherOperationInProgress". Do we have an estimate on fix of this one?

[2019-05-02 17:59] niander commented on #9060
@hc-hchen Hey, I believe the issue is that the required feature has not being enabled in your current subscription. We are following up with the Network team about which feature it is and why it has not been auto-enabled for you.

[2019-05-02 18:38] markcowl commented on #9122
@solankisamir Can you take a look at this feature request?

[2019-05-02 18:51] markcowl commented on #8911
Fixed

[2019-05-02 18:51] #8911 closed

[2019-05-02 18:57] markcowl commented on #8714
Closing as duplicate of #9095  Where we will track the new telemetry mechanism

[2019-05-02 18:57] #8714 closed

[2019-05-02 19:22] solankisamir commented on #9122
yes.. this cmdlet is in review stage with @cormacpayne

[2019-05-02 19:31] markcowl opened #9126 "Update Register-AzModule for host/audience changes"
## Description
- [ ] Create lookup extensions for IAzureEnvironment that returns Uri and audience based on provided host in Azure environent
- [ ] Use Uri lookup in GetParameterValue Implementation to get real host and port
- [ ] Use Audience lookup in http pipeline step for authentication

## Cost: 4

Dependent on: https://github.com/Azure/autorest.powershell/issues/225

[2019-05-02 21:37] niander commented on #9060
@hc-hchen, You can get access to the resources if you enable the following feature flags:

* Microsoft.Network/AllowCortexAccess
* Microsoft.Network/AllowCortexExpressRouteGateway

You could use `Register-AzProviderFeature` for that.

I will close the issue for now but feel free to comment here if you have any other question.

[2019-05-02 21:37] #9060 closed

[2019-05-02 22:09] markcowl commented on #8846
@niander The common code that drives AsJob support is here: https://github.com/Azure/azure-powershell-common/blob/master/src/Common/Extensions/CmdletExtensions.cs#L112

We will need to change this slightly, so it doesn't execute AsJob if NoWait exists and is specified

[2019-05-02 23:25] lwajswaj commented on #7977
I wasn't able to complete the previous PR given a business trip and vacation. I'm working to get it merged as soon as I can.

[2019-05-03 05:58] KalyanChanumolu-MSFT commented on #5814
the $expand for List Resources API (https://docs.microsoft.com/en-us/rest/api/resources/resources/list) works only when $filter is not specified.
When used along with $filter it doesnt return the parameters requested with $expand.

Having this in Powershell would be very helpful

[2019-05-03 05:58] HQJaTu commented on #1817
If I'd have to guess, the limitation of max. 4 operations at a time originates from some sort of network appliance where the settings are set into. Failing to account for this in ARM-template manager is weird.

Maybe Microsoft should test their systems before going public?

[2019-05-03 12:29] droessmj opened #9131 "Service Bus Module - Get-AzServiceBusNamespace without Resource Group parameter"
## Description of the new feature
Get-AzServiceBusNamespace by -Name or -Namespace name only.

## Proposed implementation details (optional)
Holistic fix, update ServiceBusManagementClient to support said operation and port to Az Powershell. Hacky fix, do a list Service Bus resources and return the resource by name.

## Use Case
[Service Bus Namespaces are unique across Azure](https://docs.microso

[2019-05-03 14:37] gcarrarom commented on #8993
Same issue happening today on a newly created Log Analytics instance. Any news on this issue?

[2019-05-03 15:17] mferris2421 opened #9132 "Update Azure AD Application Owner or Add Owner"
## Description of the new feature

Updating ownership of an Azure AD application or adding an owner. The command currently exists in Azure AD powershell but not in the az module. It should be added to az if the az module is the future state of Azure powershell.

## Proposed implementation details (optional)

Either through the update-azadapplication cmdlet or through a new cmdlet

[2019-05-03 19:53] niander commented on #9011
Closing issue since PR #9133 fixes it

[2019-05-03 19:53] #9011 closed

[2019-05-03 19:54] niander commented on #8466
Closing issue since PR #9128 fixes it

[2019-05-03 19:54] #8466 closed

[2019-05-04 01:25] alburgin commented on #2286
Agree, would be very useful if this worked in arm.

[2019-05-04 02:47] markcowl commented on #9066
Added to migration guide, thanks, Wei!

[2019-05-04 02:47] #9066 closed

[2019-05-04 18:36] preardon commented on #8756
I have troubleshooted and tested Locally.

Please see the following PR
https://github.com/Azure/azure-powershell/pull/9138

[2019-05-05 01:17] EwertonJordao opened #9139 "List of availible actions include a MySQL action when search Postgre Action"
## Description

## Steps to reproduce

[code]

## Environment data

[code]

## Module versions

[code]

## Debug output

[code]

## Error output

[code]

[2019-05-05 02:29] blueww commented on #8767
@sphibbs
Would  you please share how the fix is?

Actually, I have to manually fix the Az.StorageSync Test in recent several release, as we upgrade the SDK version in Az.Storage.
Hope we don't need to do this in the future release.

[2019-05-05 03:00] adelagar commented on #8750
I am having the issue and perplexed. I see the module installed but cannot load. Any help appreciated.

[2019-05-05 03:04] blueww commented on #9111
@lagase
Please refer https://docs.microsoft.com/en-us/rest/api/storageservices/authorization-for-the-azure-storage-services for the support of each authentication.

I will consider to add this into New-AzStorageContext help.

[2019-05-05 10:08] chlahav commented on #9057
@msnnpatel This is a known issue and the severity is also not visible in the API itself.
we are working on creating a new API that will be more convenient in its structure and will contain the severity as well.

[2019-05-06 05:24] markcowl commented on #9132
@mferris2421 Thanks for the good suggestion.  The Azure AD cmdlets in Azure PowerShell are not currently meant as a replacement for all of the functionality in the AzureAD module, and this functionality is not supported by the REST API that underlies these cmdlets, currently.  However, we are looking at releasing an updated version based on a later API this year, and we would definitely ad this cm

[2019-05-06 05:35] markcowl commented on #9139
@EwertonJordao Given the above returned value, it looks like this may actually be the description stored on the server, here is the server response:

[code]

Given that this is what is returned fro the server, it seems that the cmdlet is operating correctly, and that this is an issue with the service data.

[2019-05-06 05:59] SergKV commented on #2085
But workaround with blob doesn't accept using of private blobs, so the link should be public...

[2019-05-06 13:33] Apholisha opened #9141 "Get-AzLogicAppRunHistory returns only 30 entries"
## Description
When querying the history of an Logic App, I get only the last 30 runs. The description of the cmdlet doesn't mention any such limitation.

## Steps to reproduce

1. Create a logic App
2. Make it happen that it gets triggered more than 30 times.
3. Run
[code]
4. Confirm that it's just 30 of the runs

## Environment data

[code]

## Module versions

[code]

## Debug output

[code]
##

[2019-05-06 16:20] markcowl commented on #9141
@Apholisha Was there a `nexLink` property in the results?

[2019-05-06 18:00] daxian-dbw commented on #8942
I ran into this issue too when a few days back.
IMHO, having types with the same fully-qualified name defined in two assemblies is simply wrong. Is there a plan to resolve this root cause in future releases?

[2019-05-06 18:48] markcowl commented on #9087
Closing for lack of response.  Please reopen with the requested information if this is till an issue

[2019-05-06 18:48] #9087 closed

[2019-05-06 18:53] markcowl commented on #8946
@axorth Does this advice work for you?

[2019-05-06 18:54] markcowl commented on #9055
@harre096 Ping?  We can't proceed without the requested info

[2019-05-06 18:56] markcowl commented on #9067
@ikanni yes, the template is now fixed.

[2019-05-06 19:04] markcowl commented on #8167
- Added investigation - cna Azure work side-by-side with Az without modification?

[2019-05-06 19:09] markcowl commented on #9119
@Tiano2017 Can you please look at this documentation change?

[2019-05-06 19:18] Nking92 commented on #8841
Bug has been fixed in Az 2.0.0 release.

[2019-05-06 19:18] #8841 closed

[2019-05-06 19:44] axorth commented on #8946
Yes, thank you. You can close this issue.

On Mon, May 6, 2019, 11:56 AM Mark Cowlishaw <notifications@github.com>
wrote:

[2019-05-06 19:59] MiYanni commented on #6113
Handled by generator.

[2019-05-06 19:59] #6113 closed

[2019-05-06 20:04] harre096 commented on #9055
Sorry Mark.  I have a workaround, so I have unfortunately moved on. If you confirm that this issue does not exist in whatever newer version or AzureRm/Az you happen to be running, that is as much as I was hoping for at this point. :)

As far as I can tell, this bug affects multiple versions before 6.13.0. You already know what version I am running and if you don't want to take the time to chase th

[2019-05-06 20:08] markcowl commented on #8895
Per communication with PowerShell Team, this is not deprecated for the PowerShell Gallery

[2019-05-06 20:08] #8895 closed

[2019-05-07 00:26] EwertonJordao commented on #9139
The cmdlet it`s, ok. You can informe the team response of

[2019-05-07 00:32] EwertonJordao commented on #9139
Yep, it's ok. Can you report for the responsible team for fix it? Thank you for you attetion

[2019-05-07 00:32] #9139 closed

[2019-05-07 02:00] blueww commented on #8942
@daxian-dbw
This should already be resolved in the new released Az 2.0.0.
The namespace is changed to "Microsoft.Azure.Storage.Queue.CloudQueueMessage" in the new release.

So the usage will like following, and there will be no conflict.
(I would still suggest adding Assembly.FullName to the TypeName, but it will also work without adding it in Az 2.0.0)
[code]

[2019-05-07 03:33] karravi-msft commented on #8402
@Christoba Azure DNS did not remove support for the 2018-03-01-preview version. We will look into this

[2019-05-07 04:54] ScottHolden commented on #8763
Issue seems to be in the underlying .NET SDK, but does not originate there:
https://github.com/Azure/azure-libraries-for-net/blob/master/src/ResourceManagement/ResourceManager/Generated/ResourcesOperations.cs#L1398
ResoucreID is simply replaced into the URL with no data escaping.

This is in turn used by the powershell commandlets via 'ResourceManagementSDKClient.GetById':
https://github.com/Azure

[2019-05-07 07:15] daxian-dbw commented on #8942
That's great! Thanks @blueww for the update.

[2019-05-07 07:36] Apholisha commented on #9141
Yes

 "nextLink": "https://management.azure.com/subscriptions/<redacted>/resourceGroups/<redacted>/providers/Microsoft.Logic/workflows/<redacted>/runs?api-version=2
018-07-01-preview&%24skiptoken=eyJuZXh0UGFydGl0aW9uS2V5IjoiMSE4IU5qUTJNemstIiwibmV4dFJvd0tleSI6IjEhODQhTkVNME1qQkNNRGRCUVVZd05EY3pNRGsxTWtZd1FqTkdRME5DUmpNMlJVWmZNRGcxT0RZME5EUTJPRGt3TlRrMU5UUXdPVEE0TlRZek
16WTJORGstIn0%3d"

[2019-05-07 12:22] blueelvis opened #9147 "Get-AzStorageUsage returns different properties as compared to Get-AzVmUsage"
## Description
The properties contained by the `Get-AzStorageUsage` is different as compared to the `Get-AzVmUsage` & `Get-AzNetworkUsage`. This should be same for consistency purposes. Current issues -

1. The properties are not same.
2. The type of the object returned by the `Get-AzStorageUsage` is a `PSUsage with BaseType System.Object`, whereas for the other mentioned commandlets, it is `Objec

[2019-05-07 13:19] guileinsighter commented on #8807
@solankisamir,

Would you please point out where in the  `2018-06-01-preview` is the flag located?

[2019-05-07 13:29] solankisamir commented on #8807
@guileinsighter it got moved to [definitions](https://github.com/solankisamir/azure-rest-api-specs/blob/master/specification/apimanagement/resource-manager/Microsoft.ApiManagement/preview/2018-06-01-preview/definitions.json#L346)

For Documentation check [here](https://docs.microsoft.com/en-us/rest/api/apimanagement/apis/createorupdate#request-body)

[2019-05-07 13:37] guileinsighter commented on #8807
Brilliant! Thanks a lot, @solankisamir

[2019-05-07 13:58] ld0614 opened #9148 "Weird behaviour when sending SAS Token to Set-AzVMDscExtension"
## Description

When taking the SAS token from New-AzStorageContainerSASToken and sending it to Set-AZVMDscExtension via the -ConfigurationArgument parameter the token is not translated into the DSC Correctly.  If the DSC dumps the variable to a file as part of the DSC (for troubleshooting purposes) it appears that the string is converted to a hashtable with a single item in it, this has a name of

[2019-05-07 15:26] notameadow commented on #6223
Just pinging here as this still seems to be an issue, was there ever any resolution to this?

[2019-05-07 17:26] rahuldutta90 commented on #9055
@harre096 yes I agree there is an issue with inputting root as the destination. I will take a look at it and will try to address this in our sdk and release it as part of az release.

[2019-05-07 17:27] solankisamir commented on #5386
We are working on the fix. This is how the error message will look like

Set-AzApiManagementPolicy :
Error Code: ValidationError
Error Message: One or more fields contain incorrect values:
Error Details:
        [Code=ValidationError, Message=Error in element 'log-to-eventhub' on line 3, column 10: Logger not found, Target=log-to-eventhub]

[2019-05-07 18:13] sakvin1 commented on #8382
Has this feature request released yet?

[2019-05-07 18:34] solankisamir commented on #8382
@sakvin1 its in the review stage. I have just added the milestone of release.

[2019-05-07 18:38] sakvin1 commented on #8382
Would you please update us what milestone you plan to release? Thank you so much, solankisamir, :)

[2019-05-07 19:10] rajivnandivada opened #9150 "ManagedServices: Tests should not use hardcoded values."
## Description
The tests in the ManagedServices module currently use hardcoded guids. They should be modified to either from the current context or the necessary resources should be created/deleted by the test.

## Steps to reproduce
N/A

## Environment data

[code]

## Module versions

[code]

## Debug output

[code]

## Error output

[code]

[2019-05-07 19:30] harre096 commented on #9055
Thank you guys. Sorry for being a pain and not following your processes in this case.  I appreciate you work and desire to actually fix bugs such as these!

[2019-05-07 21:44] panchagnula commented on #7577
This should now be fixed.

[2019-05-07 21:44] #7577 closed

[2019-05-07 22:00] markcowl commented on #9148
@danielsollondon Can you take a look?

[2019-05-07 22:05] bingbing8 commented on #8983
Also I got the same error when invoking Get-AzKeyVaultCertificate. Can I assume it is caused by the same issue?

[2019-05-07 22:12] markcowl commented on #9147
@dcaro I think the underlying ask is for a generic mechanism for tracking usage across RPs

[2019-05-07 22:18] #8421 closed

[2019-05-07 22:24] markcowl commented on #8398
There are changes upcoming in auth that may address these scenarios.  Closing for lack of response on multiple account support with context autosave, since this is the recommended mechanism for easily switching between accounts.

[2019-05-07 22:24] #8398 closed

[2019-05-07 22:27] markcowl commented on #8201
Closing as resolved

[2019-05-07 22:27] #8201 closed

[2019-05-07 22:57] mattduguid commented on #8695
We too have just started seeing this error in the Azure pipelines for an "Azure Powershell" task "v3", we are not in a position yet to update our scripts to support az or change the task to "v4 (preview)", can we fix or suppress this for time being?

VERBOSE: Populating RepositorySourceLocation property for module AzureRM.KeyVault.
VERBOSE: Loading module from path 'C:\Modules\azurerm_6.***.0\Azur

[2019-05-08 00:46] markcowl commented on #8763
It is generally the case that Urlencoding is destructive when performed over an entire url ('#' could also technically occur as part of the Url, specifying a document fragment, which makes this a really odd pattern for a service to use when automatically naming resources), and also non-idempotent.

The correct thing for SDKs to do may be to expect the caller to url encode, but the correct thing fo

[2019-05-08 00:55] markcowl commented on #8763
## Description

Generic Resource cmdlets are not correctly url encoding passed-in resopurce ids
- [ ] Create generic common code that will correctly check input ResourceId for correctness, and encode them piecemeal
- [ ] Apply to generic resource manager cmdlets (Get, Set, Remove, etc.)
- [ ] Add tests usiing
  - [ ] Pre-encoded Resource Ids
  - [ ] Unencoded Resource Ids with characters that need

[2019-05-08 00:57] markcowl commented on #8764
Closing as duplicate of #8763

[2019-05-08 00:57] #8764 closed

[2019-05-08 05:33] HelloValue opened #9154 "New-AzSqlDatabaseExport Can't login with SQL administrator"
## Description
i want export azure sql-database to storage account.
i use the following command：
$exportRequest = New-AzSqlDatabaseExport -ResourceGroupName MyGroup -ServerName mytestdbserver1 -DatabaseName MyTestDb -StorageKeytype StorageAccessKey -StorageKey TGEdegtetQoHFgrgerer5S+LGwb+Ty2OPHxSHlloworldQhtest== -StorageUri https://test.blob.core.testcloudapi.cn/mytest-container/MyTestDb-2019-5-8

[2019-05-08 05:36] #9154 closed

[2019-05-08 05:37] HelloValue commented on #9154
sorry

[2019-05-08 17:14] 1scscott opened #9156 "New-AzRoleAssignment fails when running as a Service Principal account"
- Make sure you are able to reproduce this issue on the latest released version of Az
    - https://www.powershellgallery.com/packages/Az
- Please search the existing issues to see if there has been a similar issue filed
- For issue related to importing a module, please refer to our troubleshooting guide:
    - https://github.com/Azure/azure-powershell/blob/master/documentation/troubleshoot-module

[2019-05-08 17:53] ErtelK opened #9157 "Set-AzStorageBlobContent : Failed to open file C:\ProgramData\Microsoft\System Center\Orchestrator\7.2\SMA\Sandboxes\0wkyzezb.k45\Temp\iduontvk.rco\StorageAccountLoggingIssues-132018095977625992.log: Illegal characters in path.."
Note:  This was touched on already towards the end of issue 8531, but the workaround provided there is not working for me.

Situation is that a hybrid runbook worker is being used to execute runbooks in an Automation Account.  I am trying to write to blob storage using the Set-AzStorageBlobContent command but am getting the error that there are illegal characters in the path.  I have tried providi

[2019-05-08 18:18] ChristopherGLewis opened #9158 "New-AzManagementGroupSubscription should not move a sub that already is in a ManagementGroup"
## Description
New-AzManagementGroupSubscription should not move a sub that already is in a ManagementGroup

## Steps to reproduce

[code]
If sub 12345-x-x-x already exists under an MG, this should throw an error. This command makes it way to easy to break established hierarchy.

Possibly there could be a parameter -FORCE that utilized current behavior.

## Environment data

[code]

## Module vers

[2019-05-08 18:24] ChristopherGLewis opened #9159 "AzManagementGroupSubscription needs Get/Delete verbs"
## Description of the new feature
Az.Resource currently implements a NEW verb for adding a sub to an MG.  The corresponding GET/DELETE verbs have not been implemented.

#### Get
The azManagementGroup stuff allow for retrieving a tree of your MG and subs.  Finding where a Sub in the tree is currently has no native code.  You have to retrieve the entire tree and recursively search for where the sub

[2019-05-08 18:26] cormacpayne commented on #9102
By default, hidden _and_ non-hidden resources are being returned when executing `Get-AzResource`. It doesn't appear that the SDK allows for providing a flag to return just non-hidden resources, nor does it appear that the filter query allows any sort of "hidden" property to be passed to filter on the server. There's also no property on the returned object(s) that signals that the resource is hidde

[2019-05-08 18:53] bingbing8 opened #9160 "Is there a way that Connect-AzAccount take Certificate object in memory to do the authentication?"
## Description
Currently only find Connect-AzAccount accept thumbprint as parameter to do the client cert authentication, which implies use need to add to the certificate to the cert store before calling Connect-AzAccount.
Looking for a option that Connect-AzAccount take certificate object in memory to do the authentication without the need to add it to the cert store.
## Steps to reproduce

[code

[2019-05-08 19:30] panchagnula commented on #8907
Closing this since the backend changes from our end are complete & we are not expecting this to be an issue anymore. Thanks!

[2019-05-09 01:06] vinhent opened #9166 "Set-AzWebApp and Set-AzWebAppSlot removing tags when passing the WebApp JSON as an input"
## Description

Tags are being removed when calling Set-AzWebApp or Set-AzWebAppSlot.

By reading the release notes it looks like it should've been fixed in module Az version 1.8.0.

Release Notes
1.8.0 - April 2019
...
Az.Websites
* fixes the Set-AzWebApp and Set-AzWebAppSlot to not remove the tags on execution

There are multiple REST API calls made in Set-AzWebApp, but it seems to be at the ste

[2019-05-09 01:36] markcowl commented on #9086
The appropriate cmdlet for listing these is ```Get-AzWebAppCertificate```

The underlying issue is related to the fact that the resource name for certificates contains invlaid Uri characters, which will be fixed here: #8763 .  Closing this in favor of the root bug, please track progress there.

[2019-05-09 01:36] #9086 closed

[2019-05-09 03:11] blueww commented on #9157
@AnatoliB

Would you please help to look at the Hybrid jobs issue on Set-AzStorageBlobContent?
It seems the workaround in https://github.com/Azure/azure-powershell/issues/8531 not work for this issue.

[2019-05-09 03:48] AnatoliB commented on #9157
@ErtelK Please submit a support request for the Azure Automation service from the Azure portal. It is possible that either something special is happening in your case, or the workaround is not applied properly. Either way, Azure Automation engineers will be happy to help. Please provide a link to both https://github.com/Azure/azure-powershell/issues/8531 and https://github.com/Azure/azure-powershe

[2019-05-09 06:23] blueww commented on #9157
@ErtelK
I will close this issue in PSH repo, as this issue can't be fixed in PSH code.
Please following up this with @AnatoliB by submit a support request for the Azure Automation service from the Azure portal.

Feel free to contact us if you need any further assistance

[2019-05-09 06:23] #9157 closed

[2019-05-09 12:37] GeekJosh commented on #6595
10 months and still no solution?

It's irritating enough you can't do this in the frontend, but with PS failing too I'm stuck paying for data I no longer need

[2019-05-09 15:02] square10 commented on #6223
Unfortunately no, this is still an issue for us.  We continue to start VMs using the -AsJob parameter and then let Azure clean up the job.

I have no clue why MS won't look into this issue.

[2019-05-09 15:08] vinhent opened #9168 "Get-AzWebApp and Set-AzWebApp not returning/saving some properties"
## Description

When using Get-AzWebApp, properties FtpsState and Http20Enabled are not returned.
When using Set-AzWebApp, properties FtpsState, Http20Enabled, and ClientAffinityEnabled are not saved.

I didn't try with Get-AzWebAppSlot and Set-AzWebAppSlot, but I expect it could have the same issue.

## Steps to reproduce

[code]

## Environment data

[code]

## Module versions

[code]

## Debug

[2019-05-09 16:33] AceHack opened #9169 "Can't get more than 1,000 topics"
I'm trying to write a script to iterate through all 2,583 topics and I'm getting the following error.

[code]

[2019-05-09 16:53] cormacpayne commented on #6292
Digging into this a little more, it appears the issue stems from the [serialization of the parameter hashtable](https://github.com/Azure/azure-powershell/blob/5ea221a6cbcfdc3284f294f4028a301dd564c915/src/Resources/ResourceManager/SdkClient/ResourceManagerSdkClient.cs#L134-L138) which includes this `SecureString` value. After this serialization, I found that the resulting string had two different v

[2019-05-09 17:29] cormacpayne commented on #9068
@ikanni This looks like an issue with the properties that are being passed in the body of the request. For your scenario above, the request body looks like the following (from my repro):

[code]

When I change the call a little bit to include the resource object itself as a part of the cmdlet call, so all other properties are preserved (using `$r |  Set-AzResource -Tag $resourcetags -Force`), the

[2019-05-09 17:29] #9068 closed

[2019-05-09 17:30] cormacpayne commented on #9067
@ikanni I believe this issue can be resolved with a similar solution suggested in [this comment](https://github.com/Azure/azure-powershell/issues/9068#issuecomment-490994630). Let me know if this doesn't work for you.

[2019-05-09 17:30] #9067 closed

[2019-05-09 17:58] cormacpayne commented on #8963
@Strandfelt Sorry for the delayed response -- would you mind trying a few different things in your `xxx.COMPANY` account:

(1) In PowerShell, what is the value of `$env:USERPROFILE`? This value _should_ be `C:\Users\xxx.COMPANY`
(2) In PowerShell, what is the value of `[System.Environment]::GetFolderPath( [System.Environment+SpecialFolder]::UserProfile) ? This value _should_ be `C:\Users\xxx.COMPA

[2019-05-09 18:30] DianeHadley commented on #8626
Sorry for delayed response. I understand that context needs to be set at some point; no way around that! I was just thinking that in the Set-AzureBlobContent documentation [here](https://docs.microsoft.com/en-us/powershell/module/azure.storage/set-azurestorageblobcontent?view=azurermps-6.13.0), it would be helpful to a reader if there was a note briefly explaining that if you don't use the context

[2019-05-09 18:32] niander commented on #8867
blocked by https://github.com/Azure/autorest.powershell/issues/268

[2019-05-09 19:14] kevincote opened #9170 "Can't install Az on PowerShell 5.1 on Windows Server 2012 R2 (Cannot convert value)"
I tried installing Az module on Powershell 5.1 to use with Azure FileSync. I've succeeded installing Az, Az.StorageSync and AzureRM on Powershell 6.0, but it seems that the Server Registration of Azure FileSync doesn't recognize the modules inside Powershell 6.

So, I tried installing Az module on Powershell 5.1 but it fails with the following error:

I also tried installing Az module v 1.8.0 inst

[2019-05-09 19:35] cormacpayne commented on #9025
[Here](https://github.com/Azure/azure-powershell/blob/5ea221a6cbcfdc3284f294f4028a301dd564c915/tools/StaticAnalysis/BreakingChangeAnalyzer/ParameterSetMetadataHelper.cs#L96-L97) we're comparing all parameters for the old parameter set to a potential matching parameter set, making sure that all properties of the parameter are the same before consider them matching. If the `ValueFromPipeline` or `Va

[2019-05-09 19:35] #9025 closed

[2019-05-09 19:39] cormacpayne commented on #9170
@kevincote you will need to update the version of `PowerShellGet` on your machine to _at least_ 1.6.0 (it appears to currently be at 1.0.0.1) -- you can get the latest version by running `Install-Module -Name PowerShellGet -Repository PSGallery -Force`.

Beginning with version 1.6.0 of `PowerShellGet`, the notion of "prerelease modules" was introduced, allowing for a version to have a prerelease s

[2019-05-09 19:39] #9170 closed

[2019-05-09 21:02] madhukarkonda commented on #5222
I am seeing this issue when I execute Set-AzureRmAppServicePlan through DevOps Azure PowerShell task.

_[error]Exception of type 'Microsoft.Rest.Azure.CloudException' was thrown._

[2019-05-09 21:26] panchagnula commented on #5222
@madhukarkonda please try this using the latest PowerShell commandlet directly (without the Azure Devops task) & let us know if this repros.

[2019-05-09 21:29] madhukarkonda commented on #5222
@panchagnula I did and it works fine.

[2019-05-09 22:23] panchagnula commented on #5222
@madhukarkonda seems like a DevOps issue then - i am not sure how to contact DevOps folks via this. Is it possible for you to create a Support ticket on Azure DevOps? Thanks!

[2019-05-09 22:29] madhukarkonda commented on #5222
Sure, thank you.

[2019-05-09 22:46] cormacpayne commented on #8869
Currently blocked when generating management plane (tracked [here](https://github.com/Azure/autorest.powershell/issues/285)) and data plane (tracked [here](https://github.com/Azure/autorest.powershell/issues/286)).

[2019-05-09 22:57] MiYanni commented on #8872
### Latest [Differences.md](https://github.com/Azure/azure-powershell/blob/generation/src/ServiceBus/resources/Differences.md):
[code]

### Work left:
- Add updated InputObject to custom cmdlets
- Look through remaining excess parameters and determine if/how they are needed

# Cost: Small

[2019-05-09 23:03] cormacpayne commented on #8866
Building cmdlets currently blocked on [this issue](https://github.com/Azure/autorest.powershell/issues/287).

[This gist](https://gist.github.com/cormacpayne/21db58049954aa28d01086af6e9a77bd) outlines the latest progress when it comes to changes that need to be made for parity. I will update this gist when the above issue is resolved and I can build the cmdlets again.

[2019-05-09 23:05] cormacpayne commented on #7358
A preview for this functionality can now be found in [2.0.0-preview of `Az.Accounts`](https://www.powershellgallery.com/packages/Az.Accounts/2.0.0-preview). Please see the following [GitHub release](https://github.com/Azure/azure-powershell/releases/tag/Az.Accounts-v2.0.0-preview) for more information on this preview version of the module.

[2019-05-09 23:09] backwardsDave1 opened #9171 "Set-AzureRmApiManagementPolicy Bad Error Message"
If you run Set-AzureRmApiManagementPolicy and your Policy string contains:

[code]

If a parameter (in my example, Location) is not part of the template params in APIM, it will output the following:

Please have the error be the same as what the Azure Portal shows you:

[2019-05-10 00:37] MiYanni opened #9172 "Automation: Create test for Start-AzAutomationDscCompilationJob fix"
This change was signed off without tests.
https://github.com/Azure/azure-powershell/pull/9030

This issue here encompasses the work to properly add tests.

[2019-05-10 04:44] SteveL-MSFT commented on #6292
Looking at the original repro, it's not splatting.  I'm not familiar with this cmdlet, but assuming it has a `-DomainAdminPassword` parameter that takes a secure string, the right way to splat is to use this syntax:

[code]

When using $params, it will literally pass the hashtable as a parameter value.  When using @params then PowerShell will look into the hashtable and map the keys to parameters

[2019-05-10 09:33] Strandfelt commented on #8963
[code]

I deleted all modules and reinstalled them. Still, I get an error:
[code]

However, if I recreate my C:\Users\xxx folder containing the .azure-folder, it works fine.

[2019-05-10 17:47] ChuckByram commented on #8570
Thanks, I was having the same issue as you were with the same thought of "Use Az now." Your post straightened me out and led me to an article I feel like I should have already run across describing how to use the connections (although, more or less global replace AzureRm with Az in the article).

Reading it, I finally realized that `Get-AutomationConnection` is part of the Automation suite of inte

[2019-05-10 19:26] markcowl commented on #9156
@1scscott Normally this occurs because your service principal does not have sufficient privileges within your tenant to find the object id for the user principal name provided in your role assignment.

To enable this, you need to give the service principal sufficient permissionsto list and read directory entires in your tenant, see: https://docs.microsoft.com/en-us/azure/active-directory/reports-m

[2019-05-10 19:30] markcowl commented on #9158
@dcaro Can you please ensure the appropriate folks in ManagementPartner see this?

[2019-05-10 19:32] markcowl commented on #9159
@dcaro Please ensure the approproate folks in ManagementGroups respond to this issue

[2019-05-10 19:37] markcowl commented on #9160
@bingbing8 Would you prefer being able to use a X509Certifciate2 object, a base64-encoded byte stream (like a pem file), profide a sertificate file, or soemthign else?

[2019-05-10 19:38] markcowl commented on #9168
@vinhent Can you please provide debug stream output when attempting to save / retrieve these values?

To do this, set ```$DebugPreference="Continue"``` and then run the cmdlet.

Once done, you can turn off debug logging using ```$DebugPreference="SilentlyContinue"```

[2019-05-10 19:42] markcowl commented on #9169
@AceHack Can you provide the following info to help us pipnpoint the issue:

- Module layout on your machine
  - ```Get-Module -ListAvailable```

- Results of running```Resolve-AzError -Last``` right after this error occurs

- Debug stream output when running this cmdlet
  - Set `$DebugPreference="Continue"` and then execute the cmdlet

[2019-05-10 19:45] markcowl commented on #9171
@backwardsDave1 Can you please provide some additional information to help us pinpoint the issue:

- Module layout on your machine
  - `Get-Module -ListAvailable`

- Output of `Resolve-AzureRmError` after this error occurs

- Debug stream output when executing the failign cmdlet
  - Set `$DebugPreference="Continue"` and then execute the failing cmdlet

[2019-05-10 20:18] panchagnula commented on #8138
this should now be fix @mgfink can you please validate?

[2019-05-10 20:55] bingbing8 commented on #9160
@markcowl , I would like a way to use X509Certifciate2 object. This is usage from a powershell function app in consumption plan. Saving to a file require a file path on sandbox and so it is not preferred.

[2019-05-10 22:22] markcowl commented on #9166
@panchagnula Please take a look

[2019-05-10 22:59] madhukarkonda commented on #5222
@panchagnula I found that DevOps hosted agents are using older 6.7.0 AzureRM modules.  I believe it is causing the issue.  I updated my pipeline to use new Az module and it works fine.

[2019-05-10 23:50] rthorn17 commented on #9159
Hi @ChristopherGLewis ,
This is great feedback and I will look to review this with the team to see what we can do.  For until then I will close this item as it is with our team and will manage it on our feedback list.  Thanks !

https://feedback.azure.com/forums/911473-azure-management-groups/suggestions/37617688-azmanagementgroupsubscription-needs-get-delete-ver

[2019-05-10 23:50] #9159 closed

[2019-05-10 23:52] rthorn17 commented on #9158
Hi @ChristopherGLewis - This is a good item you have called out.  We are looking to do some work on the PowerShell commands in the next semester so I will add this to our backlog.  I am going to close the item here so that it is not showing in the PowerShell Team's items.

https://feedback.azure.com/forums/911473-azure-management-groups/suggestions/37617679-new-azmanagementgroupsubscription-should

[2019-05-10 23:52] #9158 closed

[2019-05-11 00:38] 1scscott commented on #9156
Makes sense let me get with the AAD guys at work. Thanks for getting back
to me.

On Fri, May 10, 2019, 2:30 PM Mark Cowlishaw <notifications@github.com>
wrote:

[2019-05-11 07:41] madhanan opened #9178 "Powershell - Not Responding when invoked "Get-AzDataLakeStoreChildItemSummary"
## Description

Issue with ```Get-AzDataLakeStoreChildItemSummary``` from module *Az.DatalakeStore* whereas *AzureRM* Module ```Get-AzureRMDatalakeStoreChildItemSummary```  is working perfectly

## Steps to reproduce

Whenever i try from My Laptop PowerShell, Virtual Machine (newly installed/updated Az Modules), Cloud Shell -In all 3 places its failing the below code.

[code]
Also i have tried

[c

[2019-05-11 14:02] solankisamir commented on #9171
Issue similar to https://github.com/Azure/azure-powershell/issues/5386

[2019-05-11 14:05] solankisamir commented on #9058
Fix in PR https://github.com/Azure/azure-powershell/pull/9167

[2019-05-11 15:58] madhanan commented on #9002
@jackvandeur Kindly requesting to elaborate the the strange behavior.
i am not sure when Microsoft Azure will provide automation account using Az module by default.

At present, it is supplied with AzureRM modules. But those are default modules, if you want to use Az modules - please import only Az  modules (install / update) only Az modules.

Dont try to remove Default AzureRM modules - it wont w

[2019-05-11 16:49] shihanpietersz opened #9179 "Get-AzOperationalInsightsWorkspaceSharedKey not working"
Hi Team,
Get-AzOperationalInsightsWorkspaceSharedKey says its not found in the new version and its been removed. what is the replacement cmdlet for this. its not documented anywhere and the Get-AzOperationalInsightsWorkspaceSharedKey command is still referenced in Microsoft documentation

[2019-05-11 16:50] shihanpietersz commented on #9179
incorrect location

[2019-05-11 20:41] theheatDK opened #9180 "Get-AzLoadBalancer: tags are empty but tag is not"
## Description
When I use Get-AzLoadBalancer to get all the Load Balancers, **Tags** contains no value but **Tag** does. On all other commands, I know Tags works.
In the below code #1 will not output any tags. #2 will output the tags.
#3 Will output the tags as expected.

## Steps to reproduce
[code]

## Environment data

[code]

## Module versions

[code]

## Debug output

[code]

## Error output

[2019-05-11 21:49] theheatDK opened #9182 "Get-AzServiceBusNamespace returns ResourceGroup instead of ResourceGroupName"
## Description
Get-AzServiceBusNamespace returns ResourceGroup instead of ResourceGroupName.
To be consistent this should be changed.

## Steps to reproduce

[code]

## Environment data

[code]

## Module versions

Get-Module  -ListAvailable

    Directory: C:\Users\lorenzenp\Documents\PowerShell\Modules

ModuleType Version    Name                                PSEdition ExportedCommands
--------

[2019-05-11 23:04] lwajswaj commented on #9004
SecurityEnabled / MailEnabled cannot be set as only pure security groups can be created using the Graph API. (Refer to [SDK documentation](https://docs.microsoft.com/en-us/dotnet/api/microsoft.azure.management.graph.rbac.fluent.models.groupcreateparameters?view=azure-dotnet))

[2019-05-11 23:05] lwajswaj commented on #9004
Just pushed a PR to add the ability to set 'Description' field during group creation. Just wanted to clarify there seems to be a mix of modules:

* AzureRM is the predecesor of AZ Module
* AZ is the new module for managing Resource Management with limit Graph capabilities
* AzureAD module is specific for managing Azure AD; that's why it has plenty of capabilities that AZ will never have.

[2019-05-12 01:22] lwajswaj commented on #8921
@cormacpayne , @vrdmr , I've just pushed a PR that fixes the cmdlet however I think the underlying runbook (managed by Microsoft) has some errors since it keeps failing:

[code]

[2019-05-12 04:02] darshanhs90 commented on #9004
@grlin to look into this

[2019-05-12 19:06] lwajswaj commented on #9172
Did you cherry-pick my PR? Wondering because in the PR I don't see some of my commits (like the one that actually adds the test cases): https://github.com/lwajswaj/azure-powershell/commit/15851a1f39fa77a398a6c2d74600011053ac9610

[2019-05-12 23:42] lwajswaj commented on #9010
@maddieclayton, @ankitsud, @prbansa, this error message isn't configured at AZ module; this errors gets thrown by Azure Management API directly.

![image](https://user-images.githubusercontent.com/6439324/57589162-5a767400-74f6-11e9-97b4-013d5f038ce0.png)

AZ Modules calls SDK at https://github.com/Azure/azure-powershell/blob/8b5ef8c49016dda8cecc1bc55be793eafff5dae3/src/Resources/ResourceManager/S

[2019-05-12 23:51] lwajswaj commented on #8820
Just tried to repro but I cannot reproduce it on AZ.Automation 1.2.1 module:

[code]

[2019-05-13 10:00] robert-hanekom commented on #8820
Hi
Confirmed it's resolved in the latest version.

[2019-05-13 10:00] #8820 closed

[2019-05-13 17:25] alexevansigg opened #9189 "New-AzureRMSubscription missing argument to set management group scope"
If I create a new Subscription using New-AzureRMSubscription it is always created at Root Scope, seems there is missing an arguement for management group scope.

Otherwise i need to additionally execute New-AzManagementGroupSubscription... and this command, as far as i can tell will require the user executing it too be both Contributor of the management group object and owner of the subscription o

[2019-05-13 18:34] MiYanni commented on #9172
@lwajswaj The commit you linked to was from this PR: https://github.com/Azure/azure-powershell/pull/9031
Since that was merged, how do those changes relate to: https://github.com/Azure/azure-powershell/pull/9030

[2019-05-13 18:56] markcowl opened #9191 "Get-AzDeletedWebApp failing in recorded tests"
## Description
Get-AzDeletedWebApp is returning null intermittently in runs against the master branch for the following tests:

- Test-GetDeletedWebApp
- Test-RestoreDeletedWebAppToNew
- Test-RestoreDeletedWebAppToExisting

Need to determine root cause for intermittent test failures and fix.  Meanwhile, tests are skipped

[2019-05-13 19:09] panchagnula commented on #9191
@Nking92 can you look at this when we update to use the latest .NET SDK?

[2019-05-13 19:35] Nking92 commented on #9191
Will do

[2019-05-13 20:22] panchagnula commented on #9166
@vinhent can you try with the latest version the changes the fix for this was in version https://github.com/Azure/azure-powershell/releases/tag/v1.8.0-April2019

[2019-05-13 22:22] markcowl commented on #9191
[Sample trx file showing this issue](https://github.com/Azure/azure-powershell/files/3175054/trxsample.zip)

[2019-05-13 22:52] panchagnula commented on #9166
@vinhent actually for what you are trying to update please use the command as follows

 Set-AzWebApp -ResourceGroupName $rgname -Name $appname -Use32BitWorkerProcess $true

[2019-05-13 23:21] MiYanni opened #9193 "Set-AzSqlServerAuditing - AuditActionGroup config requirement"
## Description
This issue was discovered and made aware to @bashahee in this PR: https://github.com/Azure/azure-powershell/pull/9061
Instead of updating the documentation to describe the restriction, this work is to fix the issue.

[2019-05-14 00:52] abatishchev opened #9195 "Set-AzureStorageBlobContent" The remote server returned an error: (409) Conflict. HTTP Status Code: 409 - HTTP Error Message: This operation is not permitted as the blob is immutable due to a policy."
## Description

Executing the following commands used to work fine just few weeks ago:

[code]

And now it always fails with this error:

permitted as the blob is immutable due to a policy.

## Steps to reproduce

[code]

## Module versions

[code]

## Debug output

[code]

## Error output

[code]

[2019-05-14 02:23] blueww commented on #9195
@abatishchev
This should caused by the container has enabled Immutability Policy.  See more details in https://docs.microsoft.com/en-us/azure/storage/blobs/storage-blob-immutable-storage

You can check if a container has enabled Immutability Policy or LegalHold by check property "HasImmutabilityPolicy" and "HasLegalHold" of output of following command:
[code]

or
[code]

You can see details of the

[2019-05-14 07:09] bashahee commented on #9193
@MiYanni I am currently working on fixing the issue.

[2019-05-14 09:12] YvonneArnoldus commented on #8416
Hi,

I'm facing the same problem. I'm unable to create a policy in the Key Vault for an existing Service Principal.

**Environment**:
Azure Dev Ops Release Pipeline

**Service connection**: Visual Studio Enterprise
Type: Azure Resource Manager
Created by Yvonne ...
Connected to service using Service Principal

I created this Service Connection with the Global administrator of the subscription.

**

[2019-05-14 10:58] jespernohr opened #9199 "Fix Security issue with target FQDN Wildcard in New-AzFirewallApplicationRuleCollection.md"
## Description of the new feature
azure-powershell/src/Network/Network/help/New-AzFirewallApplicationRuleCollection.md
in example 2 we are instructed to allow network traffic to google.com and microsoft.com, but the wildcard is allowing adding any characters to the left in **domainname**.com resulting in an unwanted firewall opening to sites like:

foogoogle.com and barmicrosoft.com

this is a cop

[2019-05-14 11:37] number213 commented on #9199
@fanymanea could you please take a look?

[2019-05-14 13:12] vinhent commented on #9166
Hi,

I'm using Az version 2.0.0 and still have the same issue.

For now my workaround is to set the tag again with "Set-AzResource -Tag $tags" after calling "Set-AzWebApp".

[2019-05-14 15:04] panchagnula commented on #9166
Use the Set-WebApp with out the -WebApp argument like this & that will work Set-AzWebApp -ResourceGroupName $rgname -Name $appname -Use32BitWorkerProcess $true
I have a PR out with the fix when using -WebApp as well

[2019-05-14 17:37] ninweninwe opened #9200 "Couldn't run test in VS."
## Description
Try to run azure powershell test.  But it hits the following issue with vs 2017/2019.  Any help here?

[5/14/2019 10:33:53 AM Error] System.ArgumentException: '' is not a valid version string.
   at NuGet.Versioning.VersionRange.Parse(String value, Boolean allowFloating)
   at NuGet.PackageManagement.VisualStudio.VsManagedLanguagesProjectSystemServices.ToPackageLibraryDependency(Pac

[2019-05-14 17:46] MiYanni opened #9201 "Automation: Create test for Get-AzAutomationDscNode Name fix"
This change was signed off without tests.
https://github.com/Azure/azure-powershell/pull/9181

This issue here encompasses the work to properly add tests.

[2019-05-14 20:36] abatishchev commented on #9195
I'm deploying ARM template with a number of nested templates. So uploading them to a publicly accessible blob storage and provide a URL to it to PowerShell.
I create a new container on every deployment and never try to delete or overwrite the content.
I think that was an issue with blob storage. Perhaps the cache.
It was gone as soon as I deleted that blob storage account and created another one u

[2019-05-14 21:31] vinhent commented on #9168
@markcowl Thanks for the reply, the post was updated with debug output.

[2019-05-14 21:45] MiYanni commented on #9178
@rahuldutta90 Can you take a look at this issue?

[2019-05-14 21:49] MiYanni commented on #9179
@shihanpietersz Could you list the modules you have installed by running `Get-Module -ListAvailable`? We can see this cmdlet in the Az.OperationalInsights module and the documentation for this cmdlet is here: https://docs.microsoft.com/en-us/powershell/module/az.operationalinsights/get-azoperationalinsightsworkspacesharedkey

[2019-05-14 21:55] MiYanni commented on #9180
@theheatDK The output type of this cmdlet has the property `Tag` and not `Tags`. So, it won't have any value because it doesn't exist. This output type is using the same base class as many Network objects. You can see the properties this base class has here: https://github.com/Azure/azure-powershell/blob/96e617e5378d1970be4917dc4250507506ad3962/src/Network/Network/Models/PSTopLevelResource.cs#L33

[2019-05-14 21:55] #9180 closed

[2019-05-14 21:57] ChristopherGLewis opened #9204 "get-AzBlueprint's version field is returned as a JObject, not a powershell object"
## Description
get-AzBlueprint's version field is returned as a JObject, not a powershell object
You can see this with a simple GetType()

EDIT: bug report lost all details - replacing

## Steps to reproduce

[code]

## Environment data

[code]

## Module versions

[code]

## Debug output

[code]

## Error output

[code]

[2019-05-14 22:01] MiYanni commented on #9182
@v-Ajnava Can you look into adding a `ResourceGroupName` property that exposes the same value as `ResourceGroup`? Then, add the breaking change attribute here for `ResourceGroup` so we can remove it in the next breaking change release. https://github.com/Azure/azure-powershell/blob/master/documentation/breaking-changes/breaking-changes-attribute-help.md#a-few-properties-in-the-output-type-are-bein

[2019-05-14 22:07] MiYanni commented on #9189
@rthorn17 @daxfohl Can you take a look at this issue?

[2019-05-14 22:16] MiYanni commented on #9204
@filizt Can you verify that the output type being returned by the cmdlet is correct? The documentation shows System.Object. https://docs.microsoft.com/en-us/powershell/module/az.blueprint/get-azblueprint?view=azps-2.0.0

[2019-05-14 22:31] MiYanni commented on #9200
@ninweninwe After recording the test, copy the json file from your `bin\Debug\netcoreapp2.1\SessionRecords\` to the SessionRecords folder in the Network.Test project. In the future, please use our Teams channel to ask questions.

[2019-05-14 22:31] #9200 closed

[2019-05-14 22:55] ninweninwe commented on #9200
What is team channel?

The problem is that the test could not be run.

5/14/2019 10:33:53 AM Error] System.ArgumentException: '' is not a valid version string.
at NuGet.Versioning.VersionRange.Parse(String value, Boolean allowFloating)
at NuGet.PackageManagement.VisualStudio.VsManagedLanguagesProjectSystemServices.ToPackageLibraryDependency(PackageReference reference)
at System.Linq.Enumerable.Whe

[2019-05-15 00:23] mladedav opened #9209 "Publish-AzWebApp ignores current directory"
## Description
When using PowerShell Core on Linux, I changed a directory from /A/B to /A/B/C and then tried to run the cmdlet. It failed saying that the archive /A/B/archive.zip does not exist. Note that it works as expected if I first navigate to the right directory and then switch from Bash to PowerShell.
Note the different paths in prompt and error message in the debug output.

## Steps to rep

[2019-05-15 02:41] blueww commented on #9195
@abatishchev
If you are very sure about "I create a new container on every deployment and never try to delete or overwrite the content.", Would you please provide the request activity ID (Or account name and UTC time) when the issue repro again, then we can look further into it.
Please note, create container with "New-AzureRmStorageContainer" on an existing container won't report error with latest

[2019-05-15 02:46] blueww commented on #7780
This issue will not repro on latest Az.Storage module.

[2019-05-15 02:46] #7780 closed

[2019-05-15 12:37] filizt commented on #9204
Looking.

[2019-05-15 13:27] mgfink commented on #8138
I was able to try this out and verify the error is no longer visible.  Thanks for your support to resolve!

[2019-05-15 13:27] #8138 closed

[2019-05-15 13:28] mgfink commented on #9086
Thanks for the update....will use the other CMDLET for now and follow #8763.

[2019-05-15 14:02] solankisamir opened #9212 "ApiManagement - Migrate Test to use Azure.Session.InstanceStore instead of direct File.* calls"
## Description of the new feature

The cmdlets need to use `Azure.Session.InstanceStore` whereever we are making direct File.Write calls and update the tests accordingly

## Proposed implementation details (optional)

[2019-05-15 15:29] avirup28 opened #9214 "Az PS module for managing Azure Devops"
## Description of the new feature

If the PS module for Az Devops extension which is there for cli is available then it will be good for people like us who manages most of their task through PS.

https://docs.microsoft.com/en-us/cli/azure/ext/azure-devops/devops?view=azure-cli-latest

## Proposed implementation details (optional)

We already have az cli extension to manage azure devops, We just wa

[2019-05-15 16:00] bergmeister commented on #7599
Any updates on this? I see there are already cmdlets for interacting with the container registry but not for doing builds, i.e. the equivalent of `az acr build`

[2019-05-15 17:36] MiYanni commented on #7599
@bergmeister In terms of roadmap, we are looking to make changes in the next couple months that will begin to align Azure PowerShell better will all functionality offered by the REST API of the Azure services. Keep on the lookout for a preview of this design during the summer.

[2019-05-15 17:41] v-Ajnava commented on #9182
@MiYanni sure.

[2019-05-15 18:01] twoqubits opened #9217 "[Redis Cache] rdb-storage-connection-string should be a securestring"
Currently, the **_rdb-storage-connection-string_** property of redisConfiguration is a clear-text string.  A securestring should be used to avoid compromise of the storage account key.

https://docs.microsoft.com/en-us/powershell/module/az.rediscache/set-azrediscache?view=azps-2.0.0
https://github.com/Azure/azure-quickstart-templates/tree/master/201-redis-premium-persistence

[2019-05-15 19:15] AmarettoSlim commented on #7086
What's the context for removing this?

There are users in the field with a single account belonging to multiple tenants (as a user or guest) and AzTenant returning the appropriate Domain would be extremely helpful for driving business logic as we interact with Azure through code ...

Is there a way  to accomplish this that I'm not aware of?

Thanks!

[2019-05-15 19:16] AmarettoSlim commented on #7061
What's the context for removing this?

There are users in the field with a single account belonging to multiple tenants (as a user or guest) and AzTenant returning the appropriate Domain would be extremely helpful for driving business logic as we interact with Azure through code ...

Is there a way  to accomplish this that I'm not aware of?

Thanks!

[2019-05-15 19:27] AmarettoSlim commented on #7061
First off, thank you MS team! I really appreciate what you guys are building, it's truly awesome.

For what it's worth I wanted to add context, getting AzTenant or AzureRMTenant to return proper directory values for a single account which belongs to multiple tenants is something that's been asked for in at least 4 other issue requests and it'd be killer to get something on the map to address this.

[2019-05-15 19:50] jlienSage commented on #6202
I was struggling with this issue and discovered the cause was that TFS 2018 pipeline tasks must use Powershell 5.7.0. However, we had scripts we had written against Powershell 6.13.1 and some commands failed in a 5.7.0 environment. The solution for us since we obviously do not have the ability or desire to tamper with the internals of TFS 2018 was to rewrite our scripts against 5.7.0. Hopefully th

[2019-05-15 22:45] #9166 closed

[2019-05-16 03:49] gavinfish commented on #2286
This issue is very annoying for ARM, @darshanhs90 kindly ping if there is any update here?

[2019-05-16 15:36] anhvoms commented on #2286
This problem came up recently for me. We have an ARM template with a VM which has an system assigned identity and there's a role assignment from within the template. This was working fine for a couple weeks but recently came up where the role assignment would fail intermittently. In an ARM template it's impossible to place any sleep/retry.
I ended up having to deploy the role assignment as a separ

[2019-05-16 15:52] artisticcheese opened #9225 "Search-AzGraph is not correctly formatting output"
## Description
When making query using Search-AzGraph complex object are not correctly output

## Steps to reproduce

[code]

## Environment data

[code]

## Module versions

[code]

## Debug output

[code]

## Error output

osdisk is correct hashtable while datadisk is impossible to parse
[code]

[2019-05-16 17:50] abatishchev commented on #9195
hi @blueww,
Yes, I just double checked and I'm creating a new container every time I run the script:

1. New-AzureRmStorageContainer
2, Set-AzureRmStorageContainerImmutabilityPolicy
3, Set-AzureStorageBlobContent (in a loop)

If I have 2 then every call of 3 throw the said error (but still sets the content):

[code]

[2019-05-16 18:33] lygasch opened #9227 "DetermineApiVersion should respect resource default version"
## Description of the new feature
ApiVersionHelper DetermineApiVersion returns the latest, non-preview version but I propose that it should return the default version specified by resource in its ARM manifest. This would provide a more consistent experience for customers between powershell and ARM/portal. I don't know the behavior of ARM with direct REST call with unspecified api version, but thes

[2019-05-16 20:02] theheatDK opened #9230 "Get-AzEventHubNamespace returns ResourceGroup instead of ResourceGroupName"
## Description
Get-AzEventHubNamespace returns ResourceGroup instead of ResourceGroupName.
To be consistent this should be changed.

## Steps to reproduce

[code]

## Environment data
[code]

## Module versions

[code]

## Debug output

[code]

## Error output

[code]

[2019-05-16 20:09] theheatDK commented on #9180
Hi @MiYanni,
I can see that it is implemented this way at the moment but does it make sense?
I use the below in a script and they all output **TAGS** not **TAG**. I would be nice if this was consistent. It took me quiet some time to figure out that there was nothing wrong with my script but with Get-AzLoadBalancer.

[code]
Regards Peter

[2019-05-16 21:07] theheatDK opened #9231 "Get-AzEventHubNamespace does not return tags"
## Description
Get-AzEventHubNamespace does not return tags in **TAGS** or **TAG**. You can get the tags via Get-AzResource so they are there.

## Steps to reproduce

[code]

## Environment data

[code]

## Module versions

[code]

## Debug output

[code]

## Error output

[code]

[2019-05-16 21:18] MiYanni commented on #9180
@theheatDK Consistency is something that will be addressed in the coming months. In the past, there was no regulation on output object properties. For now, please use `Get-Member` if you have issues with output type properties.
Example:
[code]

[2019-05-16 23:30] #8872 closed

[2019-05-17 01:19] blueww commented on #9195
@abatishchev

"creating a new container every time" can't gurateen the container not exist before you create it, since as my before reply, create container with "New-AzureRmStorageContainer" on an existing container won't report error with latest PSH (This is by design, and align with rest API) .

You might can add more check here, like try to delete the container, before create it. (Delete will s

[2019-05-17 01:40] abatishchev commented on #9195
Here's how I create new container:

[code]
So basically every minute it's guaranteed to be new and unique. Also I see in the Azure portal it to be created. And I make sure to wait a minute before runs.

[2019-05-17 01:52] blueww commented on #9195
@abatishchev
From above script, the container should be new.
If so, would you please give the request ID (or at least Storage account name / Time) when the issue happen? (It would be better to if can get a network trace with fiddler.)
Please send that to weiwei@microsoft.com, and hide any credential.

[2019-05-17 02:01] MiYanni opened #9232 "Az.PolicyInsights: Get-AzPolicyEvent failure on CloudShell"
Running this cmdlet on CloudShell throws an error:
[code]

Unfortunately, when using the `Azure SDK Powershell Test` subscription and the `-Debug` parameter on the cmdlet, the output is too long to capture all of it.

[2019-05-17 02:58] markcowl commented on #9232
This looks like it is related to the upgrade to Newtonsoft.Json 12 in PowerShell Core 6.2

[2019-05-17 02:59] markcowl commented on #9232
Candidate PR to fix is here: #9233

[2019-05-17 10:48] preardon commented on #8756
This PR has now been Merged and now shuld be fixed

[2019-05-17 11:09] ChrisLGardner commented on #7331
With the work going on with AutoRest could this be handled by that? Assuming that it is part of the OpenAPI spec what it accepts.

If not could we please get this documented or a more useful error returned? I ran into this earlier and entered the wrong command ID and got this extremely unhelpful error back:

[code]

[2019-05-17 13:29] eosfor opened #9235 "[Question] Granting access to our own REST APIs for ARM/Az module"
## Description of the new feature

Hello colleagues, we have a few REST-based APIs which use AAD for auth. These APIs are a part of some internal automation process. On the other hand we also use ARM module, and Az module in future, to manage and automate azure components. In order to call both in the same script we need to login twice, first time to Azure through AAD for ARM/Az module and second

[2019-05-17 16:20] JustinGrote commented on #2085
Because it's ridiculous that this doesn't exist even though it's one of the most common things you do in Azure Automation, I went ahead and made it myself:

https://gist.github.com/JustinGrote/7f81741f3605233225252a425b25d53f

This is easy to use but utilizes an anonymous file sharing service for the upload and publish step, file only exists on the service for 1 hour. It could be refactored to use

[2019-05-17 19:14] coderUT opened #9238 "Workspace ID not found for OMS Resource"
## Description

Calling New-AzScheduledQueryRule with a source configured as such fails with 'Workspace ID for OMS Resource Not Found'

Looking at the documentation for the REST API call, it suggests it expects a normal resource ID of the form "/subscriptions/{sub id}/resourceGroups/{rg name}/providers/Microsoft.OperationalInsights/workspaces/{log analytics workspace name}

And Yes, the Location o

[2019-05-17 20:49] filizt commented on #9204
Hey @ChristopherGLewis - current behavior is expected since we made some design decisions in the past and what you see (versions field type being JObject) is manifestation of that. That being said, our team agreed that we should provide a better experience here, so I'm working on a fix. It should be going out in the next release of AzBlueprint module.

[2019-05-17 21:30] rahuldutta90 commented on #9178
@madhanan how many estimated files or folders are there?

I think this might be related to the implementation of ADLS sdk in net core. getcontentsummary is a multithreaded operation. With httpwebrequest, i think it is creating lot of connections which is kind of responsible for this hanging behavior. We changed the underlying library. I feel this would get fixed in next release. Can you please wai

[2019-05-17 22:15] rahuldutta90 commented on #9055
@harre096 Actually i realized that the issue is fixed in 6.2.1 (https://www.powershellgallery.com/packages/AzureRM.DataLakeStore/6.2.1 ). Can you please try this on that version?

There was a separate issue introduced with 6.2.1. You can mitigate that by passing the full account name with domain

[2019-05-17 22:26] Fyzxs opened #9239 "How to add App Insights to Function App?"
I hope this is the correct place to ask this.

I'm trying to add App Insights to a Function app and am not finding a command to do so. Note: I suspect one exist - Just can't find it.

I currently create the Application Insights as
[code]
I create the Function App as
[code]

In addition, I'm setting the AppSettings for the FunctionApp that include the InstrumentationKey from the generated AppInsigh

[2019-05-17 23:15] MiYanni commented on #9204
@filizt I would highly advise against exposing any types from the `Newtonsoft.Json` library. The version of this library that is used is directly linked to the version of PowerShell you are using (Windows PowerShell, PowerShell Core 6.0/6.1/6.2). So, you may have *significant issues* when users try to run the cmdlets in these different environments. Here's just a small informational table showing

[2019-05-17 23:34] guntaled commented on #8352
Was this issue fixed? I'm getting 'The 'User-Agent' header must be modified using the appropriate property or method.' for Get-AzDataLakeStoreChildItem.

[2019-05-17 23:43] rahuldutta90 commented on #8352
@guntaled  The fix was made but it was not released as May build because I missed updating the changelog. I fixed that (https://github.com/Azure/azure-powershell/pull/9153) and now the changes will be released as 05-21 build.
I am assuming you will see a change in https://www.powershellgallery.com/packages/Az.DataLakeStore/ after 05-21.

[2019-05-18 00:04] kashifm-msft opened #9241 "Add ECC Certificate Support to Azure KeyVault PowerShell"
## Description
Azure CLI has the support for managing ECC Certificates but Azure PowerShell does not. Please add.

## Cost

[2019-05-18 00:09] ChristopherGLewis commented on #9204
I don’t believe any of the other Az cmdlets expose anything but standard PowerShell objects.

I wasn’t looking forwards to re-learning jobject parsing...

[2019-05-18 10:19] theheatDK opened #9244 "Get-AzKeyVault output object properties with spaces in the names"
## Description
Get-AzKeyVault output object properties with spaces in the names.
"Vault Name"
"Resource Group Name"
"Resource ID"

I would also assume that VaultName should be changed to Name for consistency.

## Steps to reproduce

[code]

## Environment data

[code]

## Module versions

[code]

## Debug output

[code]

## Error output

[code]

[2019-05-18 18:35] theheatDK opened #9245 "Get-AzRecoveryServicesVault does not return tags"
## Description
Get-AzRecoveryServicesVault does not return tags in **TAGS** or **TAG**. You can get the tags via Get-AzResource so they are there.

## Steps to reproduce

[code]

## Environment data

[code]

## Module versions

[code]

## Debug output

[code]

## Error output

[code]

[2019-05-18 22:08] theheatDK opened #9246 "Get-AzPublicIpAddress sometimes returns tags in TAGS and sometimes in TAG"
## Description
Get-AzPublicIpAddress sometimes returns tags in TAGS and sometimes in TAG.

## Steps to reproduce

[code]

## Environment data

[code]

## Module versions

[code]

## Debug output

[code]

## Error output

[code]

[2019-05-19 04:30] Agazoth commented on #8983
Still an issue. We do need this fixed.

[2019-05-19 05:22] Agazoth commented on #8983
The same issue exists in Set-AzKeyVaultSecret

[2019-05-19 13:17] abbgrade opened #9248 "New-LogicApp lacks Tag Parameter"
Hi,

since tags can be assigned to every Azure resource (using the portal or `New-AzResource`), it should be possible using `New-LogicApp` as well.

Thanks,
Steffen

[2019-05-20 13:11] Wand3rvogel commented on #6595
Also have this issue with Get-AzRecoveryServicesBackupItem.

[2019-05-20 14:04] blueelvis commented on #6292
@SteveL-MSFT - No, this doesn't have a parameter called `DomainAdminPassword`. That is something which I made up but yes, the commandlet does accept parameters like this.

[2019-05-20 16:40] niander commented on #9246
@MikhailTryakhov I think we have here an output formatting confusion. The property `TagsTable` is being formatted as `Tags`. Since powershell does not throw any error for incorrect member names it is creating a misunderstanding. Could you take a look into this, whether we should change the formatting output name or not? Thanks.

[2019-05-20 16:44] cormacpayne commented on #8866
### Cost: Large

- [`readme.md`](https://github.com/Azure/azure-powershell/blob/ec03e500bb2f44d0d811b5ad8de22cc193014e1a/src/Resources/readme.md)
- [Docs](https://github.com/Azure/azure-powershell/tree/ec03e500bb2f44d0d811b5ad8de22cc193014e1a/src/Resources/docs)
- [Overview of work needed to be done](https://github.com/Azure/azure-powershell/blob/ec03e500bb2f44d0d811b5ad8de22cc193014e1a/src/Resour

[2019-05-20 16:44] #8866 closed

[2019-05-20 16:46] cormacpayne commented on #8869
### Cost: Large

- [`readme.md`](https://github.com/Azure/azure-powershell/blob/ec03e500bb2f44d0d811b5ad8de22cc193014e1a/src/KeyVault/readme.md)
- [Docs](https://github.com/Azure/azure-powershell/tree/ec03e500bb2f44d0d811b5ad8de22cc193014e1a/src/KeyVault/docs)
- [Overview of work needed to be done](https://github.com/Azure/azure-powershell/blob/ec03e500bb2f44d0d811b5ad8de22cc193014e1a/src/KeyVault

[2019-05-20 16:46] #8869 closed

[2019-05-20 16:46] niander commented on #9245
@siddharth7 Could you take a look into this?

[2019-05-20 16:53] niander commented on #9244
@theheatDK The space in the property names that you are seeing is because of the output formatting. The real property names does not have space as you can see if you pipe the output of the cmdlet to `Get-Member`

[2019-05-20 17:01] theheatDK commented on #9244
Thanks @niander. It is still confusing, so it would be nice if it was changed :-)

[2019-05-20 17:04] niander commented on #9231
@v-ajnava Hello. Could you take a look into this?

[2019-05-20 17:06] niander commented on #9230
@v-Ajnava Hey. I think this is related to #9182. Just a different service now. Could you take a look into this? Thanks

[2019-05-20 17:11] huangpf opened #9251 "New-AzureRmVM and New-AzureRmVMSS should not hard code the storage type to 'Premium_LRS'"
Instead, the simple parameter set should expose a parameter to handle that. The reason is, for new regions and/or clouds, the 'Premium_LRS' may not available at the beginning, and might not be available for a long period of time.

Moreover, if going forward, the default type is changed to something other than 'Premium_LRS' in all environments, then the users will encounter the same type of issues.

[2019-05-20 17:31] markcowl commented on #9225
@demyanenko Please take a look - by default objects should use table format, and we should avoid complex json formatting even in list format

[2019-05-20 18:44] jzuchora87 commented on #8670
We use AzCopy but you can also use Azure PowerShell -- Start-AzureStorageBlobCopy

[2019-05-20 19:12] jzuchora87 commented on #8670
For anyone still watching this thread, I have installed Az 2.0 and am still having the same issue -- _New-AzVm : The image subscription doesn't match the current subscription.._

I've attached my code below. Any ideas?

-----

# Register preview resource provider for both subs
$subs = @("45d2de74-1c6c-4a8b-bfec-0962dfd2d0b1", "2c553b2e-098a-4214-9f25-1a038dc7111a")

foreach ($sub in $subs){

   Se

[2019-05-20 23:14] bganapa opened #9253 "Stack: Support comma seperated Port Range in Add-AzureRmNetworkSecurityRuleConfig"
## Description
Add-AzureRmNetworkSecurityRuleConfig -Name "Source_Port_Range_Comma_PS" -NetworkSecurityGroup $NSG -Access "Allow" -Protocol Tcp -Direction Inbound -Priority 330 -SourceAddressPrefix Internet -SourcePortRange "4,5,6" -DestinationAddressPrefix * -DestinationPortRange 8080 | Set-AzureRmNetworkSecurityGroup

Set-AzureRmNetworkSecurityGroup : Security rule has invalid Port range. Value

[2019-05-21 01:22] sean-nixon opened #9255 "Support -VaultId option on Site Recovery cmdlets"
`Set-AzRecoveryServicesVaultContext` displays a warning that it is going away and to use the `-VaultId` parameter instead. However, none of the ASR cmdlets appear to support this parameter (I just installed the latest version it doesn't appear as a valid parameter). Are those cmdlets going to support the new parameter soon?

Deprecation warning:
[code]

[2019-05-21 02:16] blueww commented on #9195
Will follow up in mail.

[2019-05-21 06:37] Apholisha commented on #9141
Do you still need any additional information from me?

[2019-05-21 08:56] Aidenwebb commented on #6595
I'm having this issue with Get-AzRecoveryServicesBackupItem.

[Documentation](https://docs.microsoft.com/en-us/powershell/module/az.recoveryservices/get-azrecoveryservicesbackupitem?view=azps-2.0.0) for the Workload type is inconsistent with 3 values listed as bullet points and then the same 3 + MSSQL listed in the Accepted values table.

The module itself shows a different set of values
Workload

[2019-05-21 09:08] Aidenwebb commented on #5704
I'm having this issue with Get-AzRecoveryServicesBackupItem.
This issue is also listed [here](https://github.com/Azure/azure-powershell/issues/6595)

[Documentation](https://docs.microsoft.com/en-us/powershell/module/az.recoveryservices/get-azrecoveryservicesbackupitem?view=azps-2.0.0) for the Workload type is inconsistent with 3 values listed as bullet points and then the same 3 + MSSQL listed in

[2019-05-21 09:29] botondbotos opened #9258 "Get-AzAlertRule command fails with incompatible API version error in Cloud Shell"
## Description
The `Get-AzAlertRule` command fails with API version compatibility error, when ran from Azure Cloud Shell.

## Steps to reproduce

1. Start a new PowerShell session in [Azure Cloud Shell](https://shell.azure.com/)
1. Try to get the alert rules associated to a resource group:
[code]

## Environment data
[code]

## Module versions

[code]

## Debug output

[code]

## Error output

[co

[2019-05-21 09:36] madhanan commented on #9178
@rahuldutta90 the number of files could be 10, 10000, 1 million also. Even an empty ADLS is failing.

Also, is there a way to quickly get the total size of ADLS (just the size)? because in Azure Portal it is displaying the ADLS Size in "Overview" much much faster that what i could achieve in command line.

Even if it is a cached delayed data in Azure Portal - i am fine with it.
My end goal is to g

[2019-05-21 09:59] royarin opened #9259 "Error adding action group to Add-AzMetricAlertRuleV2"
When creating a Azure Monitor metric alert rule using Add-AzMetricAlertRuleV2, the cmdlet fails when trying to add an action group using the -ActionGroup parameter.

Script

Add-AzMetricAlertRuleV2 -Name "App Service Plan CPU gt 70" `
    -ResourceGroupName $resourceGroupName `
    -TargetResourceScope "/subscriptions/$SubscriptionId/$resourceGroupName" `
    -TargetResourceType "Microsoft.Web/ser

[2019-05-21 11:15] richardoliverpearce opened #9261 "Set-AzDataFactoryV2Dataset Validation Failed on null TableName"
## Description

When running Set-AzDataFactoryV2Dataset on a JSON file auto-generated by the Data Factory Portal, I receive the error Set-AzDataFactoryV2Dataset : 'TableName' cannot be null.

File contents:

{
	"name": "SqlServerDataset",
	"properties": {
		"linkedServiceName": {
			"referenceName": "SqlServer",
			"type": "LinkedServiceReference",
			"parameters": {
				"connectionStringSecretNam

[2019-05-21 12:38] johnstaveley commented on #6613
I am having this issue when making requests using Azure DevOps in West Europe region. Is this the cause? https://alexandrebrisebois.wordpress.com/2013/04/23/are-you-getting-a-403-forbidden-from-windows-azure-storage-services/

[2019-05-21 12:46] MasterKuat opened #9262 "Same NetworkRuleSet structure for KeyVault and StorageAccount"
## Description of the new feature
New-AzStorageAccount have a parameter for NetworkRuleSet with object's type PSNetworkRuleSet

Should be great if New-AzKeyVault, which have also a network filtering capability, could use same PSNetworkRuleSet object

[2019-05-21 14:28] aviade commented on #2939
You get "client 'xxxxx@domain.com' with object id 'xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx'
does not have permission to perform action 'MICROSOFT.KEYVAULT/VAULTS/DEPLOY/ACTION' when the Service Fabric cluster is deployed to a Subscription that is different then the KeyVault (specified in the ARM template) subscription.

[2019-05-21 15:18] Wand3rvogel opened #9263 "Get-AzRecoveryServicesBackupJob result is empty"
## Description

Result is empty for Get-AzRecoveryServicesBackupJob -VaultId $vault.ID -Operation Backup

## Steps to reproduce

[code]

## Environment data

[code]

## Module versions

[code]

## Debug output

[code]

## Error output

[code]

[2019-05-21 15:57] niander commented on #9259
@royarin Hi, Could you please fill the issue following this:

## Description

## Steps to reproduce

[code]

## Environment data

[code]

## Module versions

[code]

## Debug output

[code]

## Error output

[code]

[2019-05-21 15:58] israelcr commented on #7873
Use Version 6.13.1 for AzureRM

#https://www.powershellgallery.com/packages/AzureRM/6.13.1
#Install-Module -Name AzureRM -RequiredVersion 6.13.1

Set-AzureRmDiagnosticSetting -Name "service" -ResourceId "/subscriptions/mysubscription/resourceGroups/myRG/providers/Microsoft.StreamAnalytics/streamingjobs/myStreamAn16May" -StorageAccountId "/subscriptions/mysubscription/resourceGroups/myRG/providers/

[2019-05-21 16:00] israelcr commented on #6833
Use Version 6.13.1 for AzureRM

#https://www.powershellgallery.com/packages/AzureRM/6.13.1
#Install-Module -Name AzureRM -RequiredVersion 6.13.1

Set-AzureRmDiagnosticSetting -Name "service" -ResourceId "/subscriptions/mysubscription/resourceGroups/myRG/providers/Microsoft.StreamAnalytics/streamingjobs/myStreamAn16May" -StorageAccountId "/subscriptions/mysubscription/resourceGroups/myRG/providers/

[2019-05-21 17:15] bganapa opened #9265 "Remove the alias New-DataDiskObject for the cmdlet New-AzsDataDiskObject"
## Description

New-Alias : The alias is not allowed, because an alias with the name 'New-DataDiskObject' already exists.

We should not need this alias as we need the Azs prefix for all the cmdlets.

[2019-05-21 17:48] solankisamir commented on #5386
package: https://www.powershellgallery.com/packages/Az/2.1.0

documentation: https://docs.microsoft.com/en-us/powershell/module/az.apimanagement/?view=azps-2.1.0#api_management

releasenotes: https://github.com/Azure/azure-powershell/releases/tag/v2.1.0-May2019

[2019-05-21 17:48] #5386 closed

[2019-05-21 17:49] solankisamir commented on #6658
[package](https://www.powershellgallery.com/packages/Az/2.1.0)
[documentation](https://docs.microsoft.com/en-us/powershell/module/az.apimanagement/?view=azps-2.1.0#api_management)
[releasenotes](https://github.com/Azure/azure-powershell/releases/tag/v2.1.0-May2019)

[2019-05-21 17:49] #6658 closed

[2019-05-21 17:49] solankisamir commented on #7890
[package](https://www.powershellgallery.com/packages/Az/2.1.0)
[documentation](https://docs.microsoft.com/en-us/powershell/module/az.apimanagement/?view=azps-2.1.0#api_management)
[releasenotes](https://github.com/Azure/azure-powershell/releases/tag/v2.1.0-May2019)

[2019-05-21 17:49] #7890 closed

[2019-05-21 17:50] solankisamir commented on #9122
[package](https://www.powershellgallery.com/packages/Az/2.1.0)
[documentation](https://docs.microsoft.com/en-us/powershell/module/az.apimanagement/?view=azps-2.1.0#api_management)
[releasenotes](https://github.com/Azure/azure-powershell/releases/tag/v2.1.0-May2019)

[2019-05-21 17:50] #9122 closed

[2019-05-21 17:50] solankisamir commented on #8528
[package](https://www.powershellgallery.com/packages/Az/2.1.0)
[documentation](https://docs.microsoft.com/en-us/powershell/module/az.apimanagement/?view=azps-2.1.0#api_management)
[releasenotes](https://github.com/Azure/azure-powershell/releases/tag/v2.1.0-May2019)

[2019-05-21 17:50] #8528 closed

[2019-05-21 17:51] solankisamir commented on #8382
[package](https://www.powershellgallery.com/packages/Az/2.1.0)
[documentation](https://docs.microsoft.com/en-us/powershell/module/az.apimanagement/?view=azps-2.1.0#api_management)
[releasenotes](https://github.com/Azure/azure-powershell/releases/tag/v2.1.0-May2019)

[2019-05-21 17:51] #8382 closed

[2019-05-21 17:51] bganapa commented on #9265
For the error 'The alias already exists', we  still need to figure out what module already had the New-DataDiskObject cmdlet.

[2019-05-21 17:52] solankisamir commented on #6384
[package](https://www.powershellgallery.com/packages/Az/2.1.0)
[documentation](https://docs.microsoft.com/en-us/powershell/module/az.apimanagement/?view=azps-2.1.0#api_management)
[releasenotes](https://github.com/Azure/azure-powershell/releases/tag/v2.1.0-May2019)

[2019-05-21 17:52] #6384 closed

[2019-05-21 17:52] solankisamir commented on #8802
[package](https://www.powershellgallery.com/packages/Az/2.1.0)
[documentation](https://docs.microsoft.com/en-us/powershell/module/az.apimanagement/?view=azps-2.1.0#api_management)
[releasenotes](https://github.com/Azure/azure-powershell/releases/tag/v2.1.0-May2019)

[2019-05-21 17:52] #8802 closed

[2019-05-21 18:10] jeking3 opened #9266 "Document permissions required for New-AzADApplication?"
## Description of the new feature

There are multiple permissions required to allow a Service Principal (application) the ability to create and manage other applications.  There is no documentation on New-AzADApplication that would explain what permissions are required, and I haven't been able to figure them out yet.

The best information source I found so far is https://github.com/Azure/azure-pow

[2019-05-21 18:18] vanbasten2323 commented on #8670
Hi @jzuchora87 , I can reproduce this error. We have told Azure Powershell team to fix this issue as soon as possible. We'll provide a workaround for you for the moment.

[2019-05-21 18:49] v-Ajnava commented on #6891
@AceHack, can you please help us the command you are using to get the topics and also the namespace you are using here.

[2019-05-21 18:53] markcowl commented on #9266
The permissions required of users to create an application are described here:
https://docs.microsoft.com/en-us/azure/active-directory/users-groups-roles/directory-assign-admin-roles

The permissions of Service Principals are described here:
https://docs.microsoft.com/en-us/azure/active-directory/develop/v1-permissions-and-consent

Usually you need to be in the administraotr role to assign permiss

[2019-05-21 18:59] markcowl commented on #9258
@gucalder can you take  a look?

[2019-05-21 19:04] jeking3 commented on #9266
I'm still confused between what a Service Principal and an Application is... but anyway, the following permissions allowed me to execute the API call when authenticating as an administrative application that I set up, and now I can create other applications:

![image](https://user-images.githubusercontent.com/11771245/58123143-32170580-7bd9-11e9-9113-4e0f8b44245a.png)

Sorry the image is a bit lar

[2019-05-21 19:25] dcaro commented on #9266
@jeking3 does this article helps your understanding of Applications and Service Principals?
https://docs.microsoft.com/en-us/azure/active-directory/develop/app-objects-and-service-principals

[2019-05-21 19:36] jeking3 commented on #9266
Based on that information and what I see in the Azure portal, it looks like an Azure Active Directory App Registration is both an Application and a Service Principal, since the App Registration has both an Application ID and a Tenant ID, and the Tenant ID would only be associated with the application through a Service Principal.  Correct?

[2019-05-21 19:41] rahuldutta90 commented on #8352
@guntaled @migrande  Can you please try https://www.powershellgallery.com/packages/Az.DataLakeStore/1.2.1

[2019-05-21 19:43] rahuldutta90 commented on #9178
@madhanan can you please try this: https://www.powershellgallery.com/packages/Az.DataLakeStore/1.2.1

[2019-05-21 21:36] MiYanni commented on #9209
@panchagnula @Nking92 Can one of you take a look at this?

[2019-05-21 21:38] MiYanni commented on #9261
@hvermis Can you take a look at this?

[2019-05-21 21:40] MiYanni commented on #9263
@siddharth7 Can you take a look at this?

[2019-05-21 21:49] MiYanni commented on #9217
@SiddharthChatrolaMs Can you determine if using a SecureString makes sense for this configuration property since it includes secret information?

[2019-05-21 21:55] MikhailTryakhov commented on #9246
@rupalivohra you own public IPs per our table. So please take care of it yourself

[2019-05-21 21:55] MiYanni commented on #9227
@lygasch The manifest information when resources are deployed is not exposed via REST API. So, we can't get this information to implement this feature.

[2019-05-21 21:55] #9227 closed

[2019-05-21 22:06] MiYanni commented on #9235
@eosfor It is insecure to provide the token directly. We would like to provide functionality to reuse our access. However, we do not see implementing this in the short term. We were going to expose this via `Invoke-AzRestMethod`. You can see the issue for that here: https://github.com/Azure/azure-powershell/issues/3806

[2019-05-21 22:06] #9235 closed

[2019-05-21 22:12] MiYanni commented on #9238
@xizhamsft Any chance you could look into updating documentation and have good examples on how to use these cmdlets?

[2019-05-21 22:14] MiYanni commented on #9239
@Francisco-Gamino Do you have any insights on how to achieve this?

[2019-05-21 22:16] MiYanni commented on #9241
@kashifm-msft What kind of management functions are you looking for involving ECC certs?

[2019-05-21 22:20] MiYanni commented on #9244
@theheatDK We will be addressing output consistency in a preview release this summer.

[2019-05-21 22:20] #9244 closed

[2019-05-21 22:23] MiYanni commented on #9248
@daviburg @pankajsn Can you look into tags support?

[2019-05-21 22:26] hvermis commented on #9261
The SqlServerTable type requires "tableName" property.
https://github.com/Azure/azure-rest-api-specs/blob/master/specification/datafactory/resource-manager/Microsoft.DataFactory/stable/2018-06-01/entityTypes/Dataset.json#L1150

[2019-05-21 22:29] MiYanni commented on #9255
@sean-nixon The `-VaultId` parameter is part of the RecoveryServicesBackup cmdlets. For example: https://docs.microsoft.com/en-us/powershell/module/az.recoveryservices/get-azrecoveryservicesbackupcontainer?view=azps-2.1.0
So, that is what the warning is indicating.

[2019-05-21 22:35] MiYanni commented on #9266
@jeking3 Yes, that is correct.

[2019-05-21 22:35] #9266 closed

[2019-05-21 22:46] sean-nixon commented on #9255
@MiYanni Can this be re-opened? The impact of removing this cmdlet extends beyond just RecoveryServicesBackup cmdlets. This cmdlet can also be used to set the vault context for use with those cmdlets. We are using currently using this cmdlet in production scripts to interact with our recovery services vaults for Site Recovery (see the script excerpt below).

What is the expectation around Azure Si

[2019-05-22 00:42] cormacpayne commented on #661
As an FYI, this should be resolved in the future when we move the Azure PowerShell to being fully generated using AutoRest.

From an initial generation of AppService, we have some of the following commands:

- [`Get-AzWebAppContinuousJob`](https://github.com/Azure/azure-powershell/blob/generation/src/AppService/docs/Get-AzWebAppContinuouWebJob.md)
    - [`Get-AzWebAppContinuousJobSlot`](https://gi

[2019-05-22 01:53] blueww commented on #6613
@johnstaveley
Thanks for provide the information. Client and Server out of sync can get the 403 error.
Have your issue been resolved by make the client and server sync on time?

[2019-05-22 02:00] pcgeek86 commented on #661
@cormacpayne cool, that's good news. Is the move to AutoRest being tracked elsewhere? Perhaps that could be linked to from this thread.

[2019-05-22 02:37] ValenAko commented on #8670
Hi @jzuchora87 - this issue has been open for a very long time, and occasionally has some amount of activity in this thread.  Most of the rest of the time, the echo in the vacant room is deafening :-)
 I do hope they give it some amount of CPU cycles in the near future.  A shared gallery that cannot be shared doesnt exactly ring the bell for usefulness...

[2019-05-22 03:22] vanbasten2323 commented on #8670
Hi @ValenAko and @jzuchora87, you can try the below Powershell to create a VM from a gallery image that is created in another subscription. I tried it and it works for me.
[code]

Add @markcowl , @praries880 to get more attention to fix the issue.

[2019-05-22 03:39] johnstaveley commented on #6613
Hi, no, because the client is Azure DevOps. This resolved itself after 4 hours fighting with it and I didn't have to do anything...

[2019-05-22 06:10] siddharth7 commented on #9263
@Wand3rvogel Get Jobs cmdlet doesn't support MAB workloads. Even though the APIs support it, but the PowerShell module only supports AzureVM, AzureFiles, and AzureWorkload today.

[2019-05-22 06:18] siddharth7 commented on #9245
@theheatDK  There's no provision to getting TAGs from the service end itself as of now, hence PowerShell doesn't as a way to get them either

[2019-05-22 06:21] siddharth7 commented on #8629
@viverm owns ASR side of RecoveryServices module.

[2019-05-22 06:47] pvrk commented on #6595
Hi everyone,

Azure Powershell Recovery services module was designed to manage primarily Azure Resources (Azure VM, Azure Files, SQL within Azure VM). For on-premise components such as MARS, MABS, DPM, an PS module is shipped along with the product (OB-Powershell) to be used. The only action possible for MARS items from the portal is unregister and hence we gave the MARS option only for Get-AzReco

[2019-05-22 07:03] johnstaveley commented on #6613
This morning it is back again. This started to occur when I linked the blob storage to a VNET. The error occurs on this command:
if (((Get-AzureStorageContainer -Context $vNetStorageContext) | Where-Object { $_.Name -eq $containerName }) -ne $null) {
However before this is execute I remove the security from blob storage and replace after all work is done.
Update-AzureRmStorageAccountNetworkRuleSet

[2019-05-22 07:07] winperec commented on #661
in our product we need `Stop-*` functionality for both kind of jobs `triggered` (on schedule) and `continous` (on event). especially during deployment of new version. and we noticed that `Stop-*` should be implemented diferently for triggered and for continous. hope `Stop-*` will work for both kinds of jobs

[2019-05-22 07:13] richardoliverpearce commented on #9261
Hi @hvermis, I'm questioning the validity of that validation schema; the portal allows you to create a dataset that can have a blank table for activities like copy data via sql query.

[2019-05-22 07:23] oppemaniac opened #9297 "Deployment of Pipeline with parameter value NULL fails via Set-AzureRmDataFactoryV2Pipeline"
Cannot deploy JSON definition file when parameter is NULL for type "SqlServerStoredProcedure": 'Value' cannot be null.

I used the cmdlet `Set-AzureRmDataFactoryV2Pipeline `

Setting the value to empty string creates the ADF Object, but then option TREAT AS NULL is unchecked and we cannot run the pipeline out of the box.

I explained the behavior on SO [here](https://stackoverflow.com/questions/56

[2019-05-22 07:23] Wand3rvogel commented on #9263
@siddharth7
1) But we have jobs with Debug-mode (o_0). Simply not ignoring...
2) Invoke-RestMethod as an alternative? How can I use this?

[2019-05-22 07:36] siddharth7 commented on #9263
@Wand3rvogel That's what I mentioned earlier. The API will get you MAB jobs but our PowerShell module currently doesn't support it. Alternatively, you can use the ARMClient to do API calls (reference : https://blogs.msdn.microsoft.com/girishp/2015/06/18/using-arm-client-to-explore-azure-resources/)

[2019-05-22 07:56] blueww commented on #6613
@johnstaveley
Please make sure set networkrule and Get-AzureStorageContainer point to same storage account, and you might need wait for a while after set networkrule set to make it works.

If the issue still repro:
Could you get a fiddler network trace of the issue (include set networkrule, and Get-AzureStorageContainer), and send to Weiwei@microsoft.com? (hide any credential)
Or you can share the

[2019-05-22 08:07] johnstaveley commented on #6613
Hi. I only get this from AzureDevops. Works fine locally. I am not sure I can do a trace inside Azure Devops. I will email you the storage account name

[2019-05-22 15:13] cormacpayne commented on #661
@pcgeek86 I'm not sure if we have a _single_ issue that's tracking this work, but we do have a project that we're using to track _multiple_ issues 😁

https://github.com/Azure/azure-powershell/projects/7

[2019-05-22 15:18] theheatDK commented on #9245
Thanks @siddharth7. Not sure I understand. You are saying that it is not possible to get the tags via Rest?
I can get them Get-AzResource...

[2019-05-22 15:39] alex-zyl opened #9270 "Import-AzApiManagementApi fails for non-current revision"
## Description

Swagger Definition import fails when importing into a new revision created in PS

# Steps to reproduce

1. Create new api ```apim-test-bug```:
   --API prefix - v1

2. In PS create new API Revision

[code]
3. In PS import Swagger API into newly created revision
[code]

Expected result: swagger api imported into new non-current revision
Actual result: execution fails with the follow

[2019-05-22 15:40] bergmeister commented on #8498
NB: The module for the `Install-Module` cmdlet functionality in question is `PowerShellGet`, an issue should be opened on https://github.com/PowerShell/PowerShellGet

[2019-05-22 18:53] nopjmp opened #9271 "Tags are case sensitive due to defaults for Dictionary and HashTable"
## Description

Tags returned from the Az module are considered to be case sensitive. In the Azure portal, tags are considered to be case insensitive when searching for tags from the GUI.

It looks like `StringComparer.OrdinalIgnoreCase` is needing to be used for the HashTable and Dictionaries in several places (AKV Module example below)

https://github.com/Azure/azure-powershell/blob/1bcbe7b1f7a3

[2019-05-22 19:02] sho74 commented on #8336
Absolutely the same problem... "Parameter set cannot be resolved using the specified named parameters."

[2019-05-22 19:08] SiddharthChatrolaMs commented on #9217
@MiYanni You mean take it out of the dictionary and make it an object of type secure string? can we make it secure string inside configuration dictionary? Do we need a service/api change to achieve this?

[2019-05-22 19:33] MiYanni commented on #9255
@sean-nixon Since I don't work for the Recovery Services team, based on their deprecation message, I'm assuming that they will add `-VaultID` to [Get-AzRecoveryServicesAsrFabric](https://docs.microsoft.com/en-us/powershell/module/az.recoveryservices/get-azrecoveryservicesasrfabric?view=azps-2.1.0), and to any other cmdlets that had previously used this context mechanism.

@siddharth7 Care to add a

[2019-05-22 19:44] MiYanni commented on #9217
@SiddharthChatrolaMs Hashtable is a `IDictionary<string, object>`, so it is just a collection of anything. What @twoqubits is suggesting is that `rdb-storage-connection-string` is provided as type `SecureString`. Then, in your cmdlet code, you convert the SecureString to a string to send it to your service. We have [extension methods for SecureString](https://github.com/Azure/azure-powershell-comm

[2019-05-22 20:26] jeking3 opened #9272 "Document permissions required for Remove-AzADUser"
## Description of the new feature

Please document the permission requirements of Remove-AzADUser.  I have a service principal configured with the owner role and the application privileges that allow me to call Add-AzADUser successfully.  When I try calling Remove-AzADUser it fails with a permissions error.

Related to #6843.

## Proposed implementation details (optional)

[2019-05-22 20:35] jeking3 commented on #9266
@MiYanni not sure why you closed this, since the issue in the title of the issue is still outstanding.

[2019-05-22 21:07] hvermis commented on #9261
@zhangyd2015 Do you know who owns this type? Should table name still be required? Can you please ping the owner?

[2019-05-22 21:15] jeking3 opened #9274 "List required permissions when invalid permissions error occurs?"
## Description of the new feature

It would be really helpful if the set of required permissions, or the specific permission that caused the failure, was part of the response.  Given permissions required per API are undocumented, figuring out what permission caused an error is incredibly challenging.

Relates to #6843, #9266, #9272

## Proposed implementation details (optional)

[2019-05-22 21:38] SiddharthChatrolaMs commented on #9217
Just making it Secure String in CMDLET and then converting underneath doesn't add any value or security. ARM should be sending payload as encrypted so we should be fine.

[2019-05-22 21:40] SiddharthChatrolaMs commented on #9217
Connection from local machine to ARM should be on HTTPS so that is encrypted as well

[2019-05-22 22:33] markcowl opened #9276 "Update Az.Accounts for data plane module support"
## Description
- [x] Add lookup tables for environemnt endpoint and resource id from input endpoint
- [x] Add handler on UrlCreated event to update Uri with environment-specific Uri
- [x] Add functionality to authentication pipeline that looks up uri-> resource Id and adjusts authentication call accordingly
- [x] Provide pattern for BaseUri PSDefaultParameterValue
- [x] Move changes into generated

[2019-05-23 00:12] #9112 closed

[2019-05-23 00:15] demyanenko commented on #9225
Yes, this seems to be a bug. If top-level property in the response is an array, it gets returned as `Newtonsoft.Json.Linq.JArray` object and not as `PSCustomObject[]` as it should.

The fix is out (#9277) and should get into the next release.

Meanwhile you can work around by accessing properties Newtonsoft-style:
[code]

[2019-05-23 01:08] markcowl commented on #8846
Fix is checked in.  Will be in next release

[2019-05-23 01:08] #8846 closed

[2019-05-23 01:24] csand-msft commented on #5885
The Automation team is working on implementing a Service Tag for the Automation services.  This will minimize the work to include Automation endpoints in security rules.  The ETA is around Sept. 2019.  We will announce when the service tag is ready for use.

https://docs.microsoft.com/en-us/azure/virtual-network/security-overview#service-tags

[2019-05-23 05:45] adhilaea opened #9280 "lgoc app deployment using az cli command az group deployment create --name logicappscript --resource-group aris-awa-paas --template-file template.json"
## Description of the new feature

## Proposed implementation details (optional)
az group deployment create --name appname  --resource-group resourcegroupname  --template-file template.json --parameters "@${parametersFilePath}"

Azure Error: InvalidRequestContent
Message: The request content was invalid and could not be deserialized: 'Could not find member 'definition' on object of type 'Template'

[2019-05-23 05:55] viverm commented on #8629
https://github.com/Azure/azure-powershell/pull/9083
Azure:release-2019-05-06

Issue is fixed as part of May 6 release. Update the module and try.
Let me know if any concern

[2019-05-23 05:55] #8629 closed

[2019-05-23 07:10] dcbrown16 opened #9281 "Get-AzLog document term"
For Get-AzLog, it makes a bunch of references to an "event log". Shouldn't that be the "activity log"? To the best of my knowledge, this command doesn't get diagnostic logs or anything other than the activity log. I think it's just an outdated term.
https://docs.microsoft.com/en-us/powershell/module/az.monitor/get-azlog?view=azps-2.0.0

[2019-05-23 07:49] zhangyd2015 commented on #9261
This is inconsistent between Madrid and Swagger. The table name will be changed to optional.

[2019-05-23 09:35] laanaithossam commented on #3717
Hello, any updates on this please? We are facing the same issue.

[2019-05-23 14:06] CHDAFNI-MSFT opened #9283 "Include Az.ResourceGraph with Az download"
## Description of the new feature
Downloading 'Az' through powershell does not include Az.ResourceGraph and therefore it must be separately installed.
## Proposed implementation details (optional)
Include Az.ResourceGraph so when you install 'Az' via PowerShell, 'install-module -name Az' it'll include ResourceGraph.

[2019-05-23 14:46] DhawalCCI commented on #7110
What was the solution ? I am facing the same issue in Azure Automation Runbook.

When I run the same commands locally in a PS it works fine. But when it runs via the Automation Runbook it fails.

Get-AzureRmADUser : Your Azure credentials have not been set up or have expired, please run Connect-AzureRmAccount to
 set up your Azure credentials.
 At line:23 char:18
 + $userObject = Get-AzureRmADUser

[2019-05-23 14:59] cormacpayne commented on #9280
@adhilaea the command you are using above is from Azure CLI rather than Azure PowerShell. Please open an issue in [this repository](https://github.com/Azure/azure-cli).

[2019-05-23 14:59] #9280 closed

[2019-05-23 15:04] pvrk commented on #7823
#customer-response-expected

[2019-05-23 15:06] cormacpayne commented on #9283
@CHDAFNI-MSFT Hey Chase, the `Az.ResourceGraph` module is currently in preview (`0.x.x`), so we won't be able to include it into the `Az` module as it's not a stable module. To go from preview to stable, the service team will need to (1) make sure that their cmdlets and module are compliant with PowerShell guidelines, and (2) opt into our [breaking change policy](https://github.com/Azure/azure-pow

[2019-05-23 15:07] cormacpayne commented on #9281
@niander Hey Niander, would you mind quickly checking this document to see if it should be updated?

[2019-05-23 15:17] CHDAFNI-MSFT commented on #9283
Understood. You may close this when ready

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: Cormac McCarthy <notifications@github.com>
Sent: Thursday, May 23, 2019 11:09:53 AM
To: Azure/azure-powershell
Cc: Chase Dafnis; Mention
Subject: Re: [Azure/azure-powershell] Include Az.ResourceGraph with Az download (#9283)

@CHDAFNI-MSFT<https://nam06.safelinks.protec

[2019-05-23 16:02] yourekillingmesmalls commented on #1597
To follow up on my previous post, I went through my code repeatedly & could find nothing wrong, yet this continued to fail. I finally stepped through it one command & a time & it worked perfectly....so I tried another VM with a  different disk, & it performed exactly the same.
YMMV, but it might be worth a shot.

[2019-05-23 17:05] sean-nixon commented on #8629
@viverm  Is this bug fix being backported to AzureRM? It doesn't look like a new version has been released there

[2019-05-23 18:07] jfggdl commented on #9230
Issue type: Bug

[2019-05-23 18:26] jfggdl commented on #9231
Issue type: Bug.

[2019-05-23 20:03] #9283 closed

[2019-05-23 20:10] #8946 closed

[2019-05-23 20:11] markcowl commented on #9055
Closing, as sounds like this is resolved.  Please re-open if you see this issue again.

[2019-05-23 20:12] v-Ajnava commented on #5055
This issue is fixed and is in release from Aug 2018.

[2019-05-23 20:12] #5055 closed

[2019-05-23 20:12] markcowl commented on #9141
Nope, that tells us what we need to know, thanks!

[2019-05-23 20:14] v-Ajnava commented on #7161
issue is resolved and fix in release from Sep 2018 onward

[2019-05-23 20:14] #7161 closed

[2019-05-23 20:16] v-Ajnava commented on #5058
issues is resolved and fix is in release from Aug 2018 onward

[2019-05-23 20:16] #5058 closed

[2019-05-23 20:16] markcowl commented on #9141
@daviburg @pankajsn It looks like the cmdlet is not following additional pages of data.  Can you take a look?

[2019-05-23 20:19] markcowl commented on #8226
Closing this issue, the feedback, especially about the importance of good communication and a migration plan have been heard and will be incorporated in our new versions going forward.  Please feel free to open a new issue if you have any further feedback about moving to Az.

[2019-05-23 20:19] #8226 closed

[2019-05-23 20:20] markcowl commented on #8721
@RandalliLama can you take a look?

[2019-05-23 20:32] markcowl commented on #8963
@Strandfelt What is the error when you run Import-Module Az.Accounts?

[2019-05-23 20:42] markcowl commented on #9078
@johncrim yeah, but you shouldn't have AzureRM in linux in any case. either that, or change the permissions on the directory.

There are two ways I can think of for us to fix this, both of which we should do,

1- Update the module load script to not create this folder if it doesn't exist
2- Update our context load to print a warning when this error occurs and default to session-based auth

[2019-05-23 20:45] markcowl commented on #9078
### Description
Resolve issues with loading the module when the user does not have access to the .Azure directory

- [ ] Update the .psm1 script, and cmdlets that do not use the profile to not create the .Azure folder
- [ ] Update the ContextMondification cmdlets to default to Process scope when any files they use are unavailable

### Cost: 4

[2019-05-23 20:46] markcowl commented on #9156
Closing.  Please let us know if you see any similar problems in the future.

[2019-05-23 20:46] #9156 closed

[2019-05-23 20:47] markcowl commented on #9168
@panchagnula @NKing92 Can you take  alook?

[2019-05-23 20:48] markcowl commented on #9169
Closing for lack of response.  If you are still seeing this issue, please file a new issue and supply the information requested in the issue template for Az/AzureRM

[2019-05-23 20:48] #9169 closed

[2019-05-23 20:49] markcowl commented on #9171
Closing for lack of response.  If you are still seeing this issue, please open a new issue and provide the information requested in the issue template for Az/AzureRM

[2019-05-23 20:49] #9171 closed

[2019-05-23 20:51] markcowl commented on #9179
Closing for lack of response.  If you are still seeing this issue, please fiel a new issue and provide the information requested in the issue template

[2019-05-23 20:51] #9179 closed

[2019-05-23 20:52] #9055 closed

[2019-05-23 21:23] markcowl opened #9286 "Verify CI and Signing Jobs on Private Repo"
## Description

Current CI setup is in configuration files in the repo:https://github.com/Azure/azure-powershell/tree/master/.azure-pipelines

And in our ADO instance: https://dev.azure.com/azure-sdk

- [ ] Move latest master branch into private repo
- [ ] Set up private repo CI in ADO
- [ ] Verify Jenkins signing jobs

## Cost: 4

[2019-05-23 21:27] markcowl opened #9287 "Add PPG suppoert for VM/VMSS simple parameter sets"
## Description
Need support for adding pre-created proximity placement groups to a VM or VMSS.  Parameter values coule be a resourceId or a name.
- [x] Add optional `ProximityPlacementGroup` (alias: PPG) parameter to simple parameter set for New-AzVM
- [x] Add optional `ProximityPlacementGroup` (alias: PPG) parameter to simple parameter set for New-AzVmss

## Cost: 4

[2019-05-23 23:41] guntaled commented on #8352
@rahuldutta90, it works on my local machine, but not on Automation runbooks.

[2019-05-24 06:42] rahuldutta90 commented on #8352
@guntaled Can you please check the version of Az.DataLakeStore in automation runbooks?

[2019-05-24 07:45] Strandfelt commented on #8963
[code]

[2019-05-24 09:11] ToMakeSense opened #9290 "Can't get the latest created API management instance by Get-AzureRmApiManagement cmdlet"
## Description
I have created an consumption apim instance, but I can't get it listed by Get-AzureRmApiManagement cmdlet in my local machine(No error shows up). however this could be done in the could shell in Azure portal.

## Steps to reproduce

[code]

## Environment data

[code]

## Module versions

[code]

## Debug output

[code]

## Error output

[code]

[2019-05-24 09:20] Apholisha opened #9291 "Remove-AzRecoveryServicesVault doesn't delete Service Vault."
## Description

Remove-AzRecoveryServicesVault would fail to delete vault if there are protected items in it.
According to the documentation it is not required for the vault to be cleaned up in advance.

https://docs.microsoft.com/en-gb/powershell/module/az.recoveryservices/remove-azrecoveryservicesvault?view=azps-2.1.0

This article explicitly states that the vault does not need to be cleaned up.

[2019-05-24 10:39] RaphaelFrancisco commented on #7551
There is no response on this yet? I am facing the same issue. Please, prioritize.

[2019-05-24 10:54] ToMakeSense opened #9293 "Confusing alias Get-AzStorageContainerAcl for Get-AzStorageContainer cmdlet"
## Description
I found the `Get-AzStorageContainer` cmdlet has an alias named `Get-AzStorageContainerAcl`, This seems confusing

## Steps to reproduce

[code]

## Module versions
[code]

[2019-05-24 11:37] blueww commented on #9293
@ToMakeSense
This is because with Get-AzStorageContainer (and account/key credential), we can also get the container ACL (following PublicAccess column).
So the alias is added by design.

[code]

[2019-05-24 15:40] ToMakeSense commented on #9293
@blueww thanks for your clarification, now I know why there is only `Set-AzStorageContainerAcl` cmdlet, no `Get-AzStorageContainerAcl` cmdlet.

[2019-05-24 15:40] #9293 closed

[2019-05-24 17:13] kashifm-msft commented on #9241
Azure KeyVault PowerShell already supports Certificates operation. In order to support ECC Certificate, Azure KeyVault PowerShell needs to:

1)	Support Api Version 7.0
2)	Support Curve field (as document at https://docs.microsoft.com/en-us/rest/api/keyvault/createcertificate/createcertificate#jsonwebkeycurvename)

[2019-05-24 17:14] guntaled commented on #8352
@rahuldutta90 , it is 1.2.1, and it works. It was another issue this time, but the error it threw was the same, so I just assumed. It seems to all be working now.

Thanks!

[2019-05-24 17:17] v-Ajnava commented on #8374
@Banchio, this is fixed now, closing the issue. please let us know if you any queries.

[2019-05-24 17:17] #8374 closed

[2019-05-24 17:23] rahuldutta90 commented on #8352
I am closing the issue. @migrande if the new version does not resolve the issue, please reopen it.

[2019-05-24 17:23] #8352 closed

[2019-05-24 17:24] rahuldutta90 commented on #9178
@madhanan did this resolve the issue?

[2019-05-24 17:40] ryanmajidi opened #9296 "Documentation: Example given does not reflect the command Start-AzureRmJitNetworkAccessPolicy or Start-AzJitNetworkAccessPolicy"
**Moved from [site Feedback issue #1520](https://github.com/MicrosoftDocs/feedback/issues/1520)**
Submitted by @huahua82

Describe the bug
Documentation: Example given does not reflect the command Start-AzureRmJitNetworkAccessPolicy or Start-AzJitNetworkAccessPolicy

To Reproduce
Steps to reproduce the behavior:

Go to https://docs.microsoft.com/en-us/powershell/module/azurerm.security/start-azure

[2019-05-24 21:07] markcowl commented on #9297
@hvermis can you take a look?

[2019-05-24 21:09] hvermis commented on #9297
@zhangyd2015 can you help to reassign to the owner?

[2019-05-24 21:09] markcowl commented on #9296
@avijitgupta @chandrasekarsrinivasan Can you take a look?

[2019-05-24 21:11] markcowl commented on #9291
@siddharth7 Can you take a look?

[2019-05-24 21:13] markcowl commented on #9270
@alex-zyl Can you provide:
- The result of runnign `Resolve-AzError -Last` after this error occurs
- Debug trace :  Set `$DebugPreference="Continue"` and run the failign cmdlet

[2019-05-24 21:19] markcowl commented on #9271
@nopjmp Yeah, this is a great point, in ARM, tags are meant to be case insensitive and case preserving.  We should make this change in the common code here: https://github.com/Azure/azure-powershell-common/blob/master/src/ResourceManager/Version2016_09_01/Tags/TagsConversionHelper.cs#L52

and ensure that service cmdletsare using it.

### Description
- [ ] Update common library tags code to use a t

[2019-05-24 21:21] markcowl commented on #9290
@solankisamir Can you take a look?

[2019-05-24 21:21] dcaro opened #9298 "Add cmdlet to provide feedback"
## Description of the new feature
This new cmdlet will open a new issue for this repository and pre-populate the necessary information.

## Proposed implementation details (optional)
When an exception happened, a message should be displayed to inform that there a feedback cmdlet to open an issue.

The cmdllet will open the browser to the create new issue page and pre-populate the following informa

[2019-05-24 21:28] solankisamir commented on #9290
The Get-AzureRmApiManagement cmdlet use the `2018-01-01` api-version under the hood. The `Consumption` sku is only supported in api-version `2018-06-01-preview` onwards. You can manage the `Consumption` sku using [Az 2.1.0]( https://github.com/Azure/azure-powershell/releases/tag/v2.1.0-May2019) module

[2019-05-24 21:28] #9290 closed

[2019-05-24 21:55] kashifm-msft commented on #9241
It appears that version 5.1.2 supports it.

[2019-05-24 22:08] markcowl opened #9300 "Update .Net version for tests to NetCore 2.2 and Update PowerShell Test Library"
## Description
To support PowerShell 6.2

## Cost: 4

We need to understand more about PS test library.

[2019-05-24 23:44] lwajswaj commented on #7977
@leifyumel, fix for this issue has been release with AZ 2.1.0 (https://github.com/Azure/azure-powershell/releases/tag/v2.1.0-May2019)

[2019-05-25 01:00] bganapa opened #9301 "Support Windows Integrated Auth in Login-AzureRMAccount"
## Description

The issue is against azure stack environment configured with ADFS. In this environment, the users do not have usernames or passwords; they have a secure workstation to which they authenticate with a pin and smart card, and when they navigate to the portal, it redirects to ADFS and there is some implicit auth exchange that occurs, signing them into the portal. When run in an incogni

[2019-05-25 01:01] bganapa commented on #9301
@keystroke  pls feel free to add additional comments here

[2019-05-25 01:46] siddharth7 commented on #9291
@apholisha the documentation that you mentioned belongs to azure site recovery vault. If you are referring to the backup vault, this is the correct documentation (https://docs.microsoft.com/en-us/azure/backup/backup-azure-delete-vault).
It also mentions that you need to remove all protected items and unregister containers before deleting the vault.

[2019-05-25 05:00] ToMakeSense commented on #9290
@solankisamir thanks for your clarification, got it in the latest release note of [2.1.0 - May 2019](https://docs.microsoft.com/en-us/powershell/azure/release-notes-azureps?view=azps-2.1.0) ana also your link, finding that I replaced AzureRm with Az just a day before Az 2.1.0 released  on [powershellgallery](https://www.powershellgallery.com/packages/Az/2.1.0)😢.

[2019-05-25 16:11] apraamsm opened #9302 "New-AzBlueprintAssignment using SecureStringParameter fails"
## Description
When i use a hashtable with keyvault secret to pass to the -SecureStringParameter of the New-AzBlueprintAssignment (or Set-AzBlueprintAssignment) cmdlet the cmdlet fails. Without the SecureStringParameter my code works fine and i can use everything i want in the Blueprint i have. But at this point i am going to roll out VMs with the Blueprint and needed a securestring parameter for

[2019-05-25 17:14] alex-zyl commented on #9270
@markcowl

Trace log:
[code]

Last Az error log:
[code]

[2019-05-26 02:02] zhangyd2015 commented on #9297
Assigned to @Yiliu-microsoft

[2019-05-26 19:10] alexandair commented on #7977
@lwajswaj Thank you.

[2019-05-27 01:34] timothytavarez commented on #1803
Still encountering this with the new Az equivalent: Import-AzAutomationDscConfiguration. My import ONLY succeeded when I matched the -SourcePath value and the configuration name.

`Import-AzAutomationDscConfiguration : {"code":"BadRequest","message":"The configuration name in the script must match the
configuration name."}
At line:1 char:1
+ Import-AzAutomationDscConfiguration -SourcePath "C:\Dev\

[2019-05-27 06:57] Apholisha commented on #9291
Hi ,
I thought all Backup vaults have been upgraded to Recovery Services vaults. and they are now essentially the same.

Regardless - the feature would be nice to have. I did write myself a function to do it, but it would be nice to have it as a parameter for example.

[2019-05-27 09:09] alex-zyl commented on #9270
Another but similar issue - cannot import Swagger file into non-current API revision created in Powershell:

1. Create new api apim-test-bug:
--API prefix - v1

2. In PS create new API Revision
[code]

3. On Azure Portal import swagger file into created api revision

Expected result: swagger api imported into new non-current revision
Actual result: execution fails with the following error

[code]

[2019-05-27 09:32] jethrovaneetvelde opened #9305 "Unable to retrieve protected SQL vms"
## Description
I don't seem to be able to get all AzureSQL protected vms/databases via Get-AzRecoveryServicesBackupContainer while I can get all protected AzureVMs.
Get-AzRecoveryServicesBackupContainer -VaultId $BackupVault.ID -ContainerType AzureVM
This works fine.

Get-AzRecoveryServicesBackupContainer -VaultId $BackupVault.ID -ContainerType AzureSQL
This returns nothing

## Steps to reproduce

[2019-05-27 11:39] ToMakeSense opened #9306 "Uniform naming for Az.Storage cmdlets regarding container"
## Description of the new feature
I found there are 10 commands contain **AzRm** in their noun part in all Az module, which is caused by merging from previous Azure.Storage and AzureRM.Storage. they are sets of cmdlets regarding storage account container(they are coming from `AzureRM.Storage` module).

[code]
There are also another set of cmdlets regarding storage account container with **Az** onl

[2019-05-27 11:51] ToMakeSense commented on #9306
Getting 3 pairs cmdlets having the same functionality merged (Example: Get-AzRmStorageContainer and Get-AzStorageContainer)

**Cmdlets at present**
[code]
[code]

**Proposed cmdlets**
[code]

[2019-05-27 12:17] raandree commented on #1803
Can anybody please take care of this? This issue is now open more than 3 years and should not be so hard to get fixed.

[2019-05-27 17:45] pvrk commented on #9263
@Wand3rvogel: Can you please elaborate more on the requirement? Azure PS module was built for handling Azure resources (Azure VM backup, Azure File Share, Azure workloads such as SQL). The on-premises components such as MAB agent, MAB server get shipped with their PS module and hence we assume users will use those for handling MAB agents. The Job data from MAB Agent does get synced but only after

[2019-05-27 17:46] pvrk commented on #9263
#customer-response-expected

[2019-05-27 17:59] pvrk commented on #5704
@Aidenwebb: While we will definitely concentrate on the cleanup, I just want to ask more on the requirement here. Azure PS module was built for handling Azure resources (Azure VM backup, Azure File Share, Azure workloads such as SQL). The on-premises components such as MAB agent, MAB server get shipped with their PS module and hence we assume users will use those for handling MAB agents. The backu

[2019-05-27 18:28] pvrk commented on #7750
fix is given for this issue. Closing it.

[2019-05-27 18:28] #7750 closed

[2019-05-27 18:29] pvrk commented on #6944
The following fix is provided
https://github.com/Azure/azure-powershell/pull/7788
Closing this issue, since the fix is provided.

[2019-05-27 18:29] #6944 closed

[2019-05-27 18:32] pvrk commented on #7823
Since explanation was provided and the fix is provided, closing the issue.

[2019-05-27 18:32] #7823 closed

[2019-05-27 18:36] Wand3rvogel commented on #9263
@pvrk We are using Azure Backup and Vaults for data transfer from one server to another. And now we want to automate restore on one side. The restore job must be started at night, test that backup is completed, register second server with a Vault, install MAB Agent and restore files when this is true ("status": "Completed").

[2019-05-27 18:42] pvrk commented on #8348
The API has the option, but PS doesn't support it. Azure PS module was built for handling Azure resources (Azure VM backup, Azure File Share, Azure workloads such as SQL). The on-premises components such as MAB agent, MAB server get shipped with their PS module and hence we assume users will use those for handling MAB agents. The only possible action from Azure for MAB Server is unregistration of

[2019-05-28 01:05] lukeb1961 commented on #7310
9 months later...    anything?

[2019-05-28 01:34] blueww commented on #9306
@ToMakeSense
Get-AzRmStorageContainer and Get-AzStorageContainer are not same:

- They have similar function: both can get blob containers in a storage account
- They have different credential: Get-AzRmStorageContainer use login Azure Account (in resource module), Get-AzStorageContainer use Storage account name + key/sas/oauth
- the output object type is different. Get-AzRmStorageContainer can lis

[2019-05-28 06:55] pvrk commented on #7778
@Jontreyenes: We have updated the documentation with this again. It was earlier present but got missed in a restructuring. Now, we have updated the documentation again. Please find the relevant link below.

https://docs.microsoft.com/azure/backup/backup-azure-vm-backup-faq#is-there-a-limit-on-number-of-vms-that-can-beassociated-with-a-same-backup-policy

[2019-05-28 07:19] SodaXu commented on #8336
I am also got this issue, the workaround is uninstall Az and go back to 5.7.0 (i haven't try 6.1.3)

[code]

[2019-05-28 07:44] lxzhu opened #9307 "request: Import-AzureManagementApi to support api version parameter"
## Description of the new feature
command New-AzureApiManagementApi has parameters ApiVersion and ApiVersionSetId, while Import-AzureApiManagementApi does not have.
Hope Import-AzureApiManagementApi to support the same options

## Proposed implementation details (optional)
from the source code, Both commands go to the same method, so just add the options in command and assing them  to property of

[2019-05-28 09:09] siddharth7 commented on #6707
This is by design. There are a limited set of backup management types that you can use and we expect a single format for them.

[2019-05-28 09:09] #6707 closed

[2019-05-28 09:11] blueww commented on #9195
From the network trace, it seems the Blob is updated 2 or more times, so the 2nd/3rd time failed with 409.
Need to check is script has upload blob mutiple times.
As we will follow in mail, close the issue.

[2019-05-28 09:11] #9195 closed

[2019-05-28 09:12] siddharth7 commented on #7533
@MiYanni Afaik, it had something to do with the `netcoreapp`/`netcorestandard` version. Have they been updated anytime soon?

[2019-05-28 09:12] #9007 closed

[2019-05-28 09:18] blueww commented on #9032
The issue is currently fixed in Server.
When user try to create storage account with StorageV2+EnableHierarchicalNamespace, Server will report 400 error "The value 'True' is not allowed for property isHnsEnabled."
So no new account with incompatible configuration will be created.

[2019-05-28 09:18] #9032 closed

[2019-05-28 09:18] siddharth7 commented on #9245
@theheatDK I wrote my last reply in context of RecoveryServices module. If you are able to get using Get-AzResource, you should use it,

[2019-05-28 09:18] #9245 closed

[2019-05-28 09:21] siddharth7 commented on #9291
It is not provided as a feature to avoid deleting vaults by mistake as it is an irreversible process.

[2019-05-28 09:21] #9291 closed

[2019-05-28 09:22] blueww commented on #8617
@abatishchev
The fix should already been deployed long ago.
I will close the issue now.

Feel free to contact us if you still see any issue or need any further assistant from us.

[2019-05-28 09:22] #8617 closed

[2019-05-28 09:27] theheatDK commented on #9245
Hi @siddharth7,
I don't understand. Is this not a bug that should be fixed?
Regards peter

[2019-05-28 09:35] pvrk commented on #3617
We are planning to deprecate this command. We now have an option to provide vaultID as a parameter for any command. This lets you know for which vault this command is executed.

[2019-05-28 09:35] pvrk commented on #3617
#please-close

[2019-05-28 11:49] alexandair commented on #7977
Unfortunately, even with v2.1.0, I still see the same issue:

[code]

[2019-05-28 12:12] jespernohr commented on #9199
I am beginning to think there is a issue with Azure Firewall
whitelisting google with the following gives different results:

 `                                    "targetFqdns": [
                                           "www.google.com",
                                            "*.google.com"`
does not allow traffic to google.com

 `                                    "targetFqdns": [

[2019-05-28 15:55] #3617 closed

[2019-05-28 16:01] Socolin commented on #661
From what I can see, these new commands does not seem to allow to pass an argument to the webjobs (accessible in webjob script in argv)

[Start-AzWebAppTriggeredWebJob](https://github.com/Azure/azure-powershell/blob/generation/src/AppService/docs/Start-AzWebAppTriggeredWebJob.md)

Is it planned to add support of this too?

Currently, I'm achieving this with the following code.

[code]

[2019-05-28 16:59] niander commented on #9245
@theheatDK Hi! I believe that @siddharth7 is trying to say that even though Get-AzResource, which is a generic cmdlet that directly talks with ARM, is able to acquire the tags, there is no specification for acquiring tags using the service cmdlets -- Get-AzRecoveryServicesVault. It is not a bug but rather a choice of design. Nevertheless, are you able to get the tags using Get-AzResource without a

[2019-05-28 17:14] theheatDK commented on #9245
Thanks @niander.
Yes, I can get the tags using Get-AzResource. I just think that it is strange that you cannot get the tags via Get-AzRecoveryServicesVault. I have a script that creates a report of our resources and all other cmdlets, listed below, returns tags. So if this is working as designed I find the design strange :-)
Regards Peter

Get-AzAutomationAccount
Get-AzApplicationGateway
Get-AzCon

[2019-05-28 17:15] cormacpayne opened #9309 "Track work for generated Resources cmdlets"
## Estimated Cost for Preview: 14-20

## Resources

### Resource

- [x] `Get-AzResource`
- [x] `Move-AzResource`
- [x] `New-AzResource`
- [x] `Remove-AzResource`
- [ ] `Set-AzResource`
- [x] `Test-AzResourceMove`
- [x] `Update-AzResource`

### Resource Groups

- [ ] `Export-AzResourceGroup`
    - Need to add `-Path` parameter
    - JSON output isn't being produced
- [x] `Get-AzResourceGroup`
- [x]

[2019-05-28 17:29] MiYanni commented on #9232
PR has been merged.

[2019-05-28 17:29] #9232 closed

[2019-05-28 19:19] ChristopherGLewis opened #9310 "New-AzBlueprintAssignment doesn't allow parameters that are complex objects"
## Description
New-AzBlueprintAssignment doesn't allow parameters that are complex objects.
If I have an ARM template with a parameter of type "array", the New-AzBlueprintAssignment command errors on assignment.  If I add the object via the Azure Portal as JSON (like you're supposed to do) the blueprint works fine.

## Steps to reproduce
Create a blue print with the following -
* Resource Group
*

[2019-05-28 19:45] MiYanni commented on #7533
@siddharth7 No. We build against netstandard 2.0. We won't be able to change that as long as we are supporting PowerShell 5.1.

[2019-05-28 21:40] niander commented on #9310
@ChristopherGLewis Hi, could you set the `$DebugPreference = "Continue"` and run the cmdlet so we can get the full debug output?

[2019-05-28 21:43] niander commented on #9305
@siddharth7 Could you take a look at this issue?

[2019-05-28 21:45] niander commented on #9302
@filizt Hi, could you take a look at this?

[2019-05-28 21:48] niander commented on #9307
@solankisamir Hi. Could you take a look at this feature request?

[2019-05-28 21:50] niander commented on #9306
Closing this as by design

[2019-05-28 21:50] #9306 closed

[2019-05-28 21:52] ChristopherGLewis commented on #9310
Sure- its ugly :-)

[2019-05-28 21:57] solankisamir commented on #9307
Ack

[2019-05-28 22:24] niander commented on #9131
@MiYanni Hey, do you know if such capability is going to be available in the generated cmdlets?

[2019-05-28 23:00] niander commented on #9281
@gucalder Hi. Could you take a look at this? I believe that the customer is correct and this should be updated. I am just not totally sure. Thanks.

[2019-05-28 23:44] #3305 closed

[2019-05-28 23:45] #3307 closed

[2019-05-28 23:45] #3739 closed

[2019-05-28 23:46] #4274 closed

[2019-05-28 23:46] #4335 closed

[2019-05-28 23:46] #4377 closed

[2019-05-28 23:49] filizt commented on #9302
@apraamsm - the correct format for passing the secure strings is as follows:
@{mySecureStringParam=@{keyVaultId='/subscriptions/00000000-1111-0000-1111-000000000000/rsourcegroups/myResourceGroup/providers/Microsoft.Keyvault/Vaults/myKeyVault';secretName='mySecret';secretVersion='1.0'}}

Looks like the format in the New-AzBlueprintAssignment example in help documents is wrong. We'll update that.

[2019-05-28 23:52] filizt commented on #9310
@niander - looking at the issue. FYI.

[2019-05-29 05:39] madhanan commented on #9178
@rahuldutta90 , Many thanks for the update.
Below is my analysis.
Local Laptop & Azure VM - Az Modules with datalakestore module version 1.2.1 is working fine :)

Whereas, Cloud shell is failing still with Timeout.
![image](https://user-images.githubusercontent.com/19624958/58532125-28f1ee00-8202-11e9-9848-df2b554bfa8e.png)

[2019-05-29 05:49] rahuldutta90 commented on #9178
@madhanan  can you please verify the version of az.datalakestore on cloudshell (Get-Module -Name Az.DAtaLakeStore -ListAvailable)?

[2019-05-29 05:58] madhanan commented on #9178
@rahuldutta90

The version in Cloud Shell is 1.2.1 only. Please find below snip for your reference.

![image](https://user-images.githubusercontent.com/19624958/58532991-d534d400-8204-11e9-89d1-ab6a9dfb532b.png)

[2019-05-29 06:03] rahuldutta90 commented on #9178
@madhanan
how many directories and files are there (i am assuming you know this since you ran this successfully on azure vm) for which you are running this getcontentsummary?
how long does it run in azure VM?
what is the number of cores you have in azure VM?

[2019-05-29 06:27] siddharth7 commented on #9305
@jethrovaneetvelde The correct `ContainerType` is `AzureVMAppContainer`. Please refer the documentation(https://docs.microsoft.com/en-us/azure/backup/backup-azure-sql-automation) for more details.

[2019-05-29 06:27] #9305 closed

[2019-05-29 07:01] madhanan commented on #9178
@rahuldutta90

### Below is my analysis
i am using Azure VM "Standard D4s v3 (4 cores, 16 GB memory)"

---
i have tried in my ADLS with 50 Files with command
[code]
#### Output in 1 sec - 3 sec (max)
[code]
---
i have tried in my ADLS with less than 1 Million files
#### Output in 10 sec - 20 sec (max)
[code]
---
i have tried in my ADLS with 1.5 Million files
#### Output in 50 sec - 1 minute 30 sec

[2019-05-29 08:31] jethrovaneetvelde commented on #9305
Can this documentation be updated everywhere?
https://docs.microsoft.com/en-us/powershell/module/az.recoveryservices/get-azrecoveryservicesbackupcontainer?view=azps-2.1.0
Get-Help output: Get-AzRecoveryServicesBackupContainer [-ContainerType] {AzureVM | Windows | AzureSQL | AzureStorage | AzureWorkload}

[2019-05-29 09:30] aws-scripting-guy commented on #7876
I am experiencing the same issue on Azure Functions v2 for PowerShell Preview.

There is default profile.ps1 which is supposed to work:
[code]

You can find it referenced in the docs
https://azure.microsoft.com/en-ca/blog/serverless-automation-using-powershell-preview-in-azure-functions/

Not sure if that might be connected but App Service for Functions is using PowerShell 6.2 and new az modules.

[2019-05-29 09:52] vincentdass commented on #8907
Command: `New-AzureRmWebAppSlot -Name  L2JavaLinuxAppJupiter -ResourceGroupName L2TestAppServiceRG -Slot demo1 -Verbose -Debug` throws below error
[code]

[2019-05-29 10:04] pirminf opened #9312 "New-AzOperationalInsightsSavedSearch no KQL Queries (Version 2)"
## Description
Unable to create KQL Queries using New-AzOperationalInsightsSavedSearch
When importing the query I get an exception, that Verison higher 1 is not supported.
Importing the same query with Version=1 i get an exception saying that this OMS query connot be converted to KQL (alltough it is KQL)

## Steps to reproduce
1. Connect Context / Sub
2. Get Workspace and WorkspaceRG
3a Parametriz

[2019-05-29 12:36] panchagnula commented on #8907
@vincentdass passed the error to the Java team - they are looking into this.

[2019-05-29 14:47] superfliege opened #9314 "Bug in Documentation New-AzOperationalInsightsSavedSearch"
New-AzOperationalInsightsSavedSearch

https://docs.microsoft.com/en-us/powershell/module/az.operationalinsights/new-azoperationalinsightssavedsearch?view=azps-2.1.0

Example one:
PowerShell

PS C:\>New-AzOperationalInsightSavedSearch -ResourceGroupName "ContosoResourceGroup" -WorkspaceName "ContosoWorkspace

![grafik](https://user-images.githubusercontent.com/23270629/58567148-20b1a700-8232-11e9-9

[2019-05-29 15:04] RPCMarkR opened #9315 "New-AzAutoscaleNotification requires -CustomEmail to have comma separated names. Azure requires semicolons separating the names"
## Description
Using New-AzAutoscaleNotification with the -CustomEmail  "string". The string requires comma separated values and generates an error if you use semi-colons ";".

The emails do not get sent out properly when using commas, when using the Azure Portal to set the values manually, a semi-colon is required and will not accept commas.

The Azure Portal requires the following format (no spa

[2019-05-29 16:46] ToMakeSense commented on #9306
@blueww  thanks for your clarification. it should be better to simply note this somewhere in the docs, may be the [release note](https://docs.microsoft.com/zh-cn/powershell/azure/release-notes-azureps?view=azps-2.1.0) or [Breaking changes for Az 1.0.0](https://docs.microsoft.com/en-us/powershell/azure/migrate-az-1.0.0?view=azps-2.1.0).

[2019-05-29 16:48] AdnanSoftic commented on #8432
Are there any plans to add what @valiorik suggested in Import-AzureRmApiManagementApi?

[2019-05-29 17:04] solankisamir commented on #8432
Yes, we are fixing a bug in the service side and then add support. ETA 1 month

[2019-05-29 17:59] shawnparslow opened #9316 "Webapp:Calling Set-AzWebApp with -HostNames can fail but returns an un-catchable warning that only indicates BadRequest"
## Description
In production we have a script that moves a hostname/binding from an app going idle to an app going live (removes the hostname/binding from a web app, update the DNSZone and re-create the hostname and then binding) on a web app that is going live.  This code has run 100's of times but recently (about a week after we migrated from AzureRm to Az) we saw the call to create a new hostna

[2019-05-29 18:54] oising opened #9317 "Many AzVM related commands fail to operate with DevTest Lab VMs (CloudShell)"
This is somewhat related to #7463 but is intended to declare problems with DevTest Lab virtual machines on a broader level.

Frankly, it seems the VM metadata returned from Get-AzVM for Lab machines is not the same as regular VMs. It's missing some information that causes parameter binding to fail (although some cmdlets/functions lack the correct parameter flags -- e.g. ValueFromPipelineByProperty

[2019-05-29 19:03] shawnparslow commented on #9316
There may not be enough here to move this defect forward but we did make the ```Set-AzWebApp``` with ```-HostNames``` param in a try/catch block that does retry and it seems to have failed but did not throw a catch-able exception and call succeeded.  We run this code (moving hostname/binding) every day in a blue-green deployment context and just switched from AzureRm to Az (latest) last week so we

[2019-05-29 19:09] oising commented on #9317
An example with `Enter-AzVM` which really emphasizes how broken it is:

[code]

[2019-05-29 20:20] RPCMarkR opened #9318 "New-AzAutoscaleProfile cannot set Schedule End Time"
## Description
When entering the parameters for the New-AzAutoscaleProfile for a Schedule, there is no way to enter an End Time. When looking at the Profile created in Azure, it shows an error.

![image](https://user-images.githubusercontent.com/45374765/58590317-d8928480-8231-11e9-893f-057d09ed0fbc.png)

## Steps to reproduce

[code]

## Environment data

[code]

## Module versions

[code]

## De

[2019-05-29 21:08] kashifm-msft commented on #9241
Reopening ...
While the version 5.1.2 supports Api Version 7.0, it does not support the Curve field  (as document at https://docs.microsoft.com/en-us/rest/api/keyvault/createcertificate/createcertificate#jsonwebkeycurvename)

[2019-05-29 21:15] oising commented on #9317
I got a little bit further by mocking the missing `OSProfile` property:

[code]
So at least now the internal `Get-OSType` function works, but it turns out that just unleashes a torrent of other errors as the deeper plumbing tries to query the NICs for the VM's public IP etc.

Oh well, I tried. It seems like the lab VMs are the red-haired stepchild of Azure. Please fix.

[2019-05-29 22:19] Nking92 commented on #9191
These will be fixed with this PR: https://github.com/Azure/azure-powershell/pull/9177

[2019-05-30 02:19] blueww commented on #9306
@ToMakeSense
Thanks for the suggestion!
Actually, this is not breaking change of Az.1.0.0. The cmdlets are added before Az1.0.0 ( added in https://github.com/Azure/azure-powershell/releases/tag/v6.9.0-September2018). Anyway, the cmdlets name has some change (Azure/AzureRm->Az/AzRm), but this is a common change and mentioned in the doc.
Besides that , from the cmdlets name "AzRm" indicate it's is r

[2019-05-30 03:09] hihorika opened #9320 "`Get-AzBatchJobSchedule` cmdlet cannot be worked fine."
## Description
`Get-AzBatchJobSchedule` cmdlet cannot be worked fine.
Please see detail below.

## Steps to reproduce

[code]

## Environment data

[code]

## Module versions

[code]

## Debug output

[code]

## Error output

[code]

[2019-05-30 07:29] stopinskipawel opened #9322 "Set-AzureRmRoleDefinition doesn't work"
When I try to modify custom role I receive this error:
[code]

[2019-05-30 14:08] MikeMartin180 commented on #5313
@maddieclayton, i get the exact same issue. Have installed the latest version of AzureRM.Automation.

e.g.

`$params = @{"1"="test"; "2"="test2"; "3"="test3"; "4"="test4"}
Start-AzureRmAutomationRunbook -AutomationAccountName "example" -Name "example-script" -ResourceGroupName "example-rg" -Parameters $params -MaxWaitSeconds 1000 -Wait`

Is this meant to work? Can't find any examples in the docs.

[2019-05-30 14:14] eosfor commented on #9235
hello @MiYanni ,

Thanks for your comment. That is great, and i'm looking forward to see it in action. However, the question is about something opposite. What if i need to grant access to my in-house APIs for Az/ARM module?

[2019-05-30 14:24] MikeMartin180 opened #9324 "Start-AzureRmAutomationRunbook cannot pass parameters to a Python runbook"
## Description

Have created an Azure Automation Python 2 script. It takes 4 parameters. For Python 2, they are positional parameters, not named.

Appear unable to pass parameters to them when running using the Start-AzureRmAutomationRunbook powershell command.

We can not easily migrate to the AZ cli.

Error is "Invalid runbook parameters"

## Steps to reproduce

[code]

## Module versions

6.1.1

[2019-05-30 14:40] Danlewis3 opened #9325 "New-AzApiManagementApi -SubscriptionRequired"
irrelevent of the switch being in place or not the subscriptionrequired is always set to true

[code]

## Environment data

Name                           Value
----                           -----
PSVersion                      5.1.14409.1018
PSEdition                      Desktop
PSCompatibleVersions           {1.0, 2.0, 3.0, 4.0...}
BuildVersion                   10.0.14409.1018
CLRVersion

[2019-05-30 15:03] ToMakeSense commented on #9306
@blueww thanks for so much details!

[2019-05-30 16:33] niander commented on #9312
@pirminf Hi!
Could you fill the correct debug output by setting `$DebugPreference = "Continue"` and running the cmdlet again?

[2019-05-30 16:36] niander commented on #9314
@superfliege Thanks for filling out the bug issue

[2019-05-30 17:04] niander commented on #9315
@gucalder Hi. Could you take a look at this?

[2019-05-30 17:29] niander commented on #9317
@raghushantha @maertendMSFT Hi. Could you take a look at this and let me know if this is a CloudShell related issue or a DevTest Lab one?

[2019-05-30 17:31] midgleyc opened #9326 "Az.Sql Data Sync documentation improvements"
Recently I've been looking at the docs to try to get Data Sync working solely in Powershell, and I've noticed a few things I was confused by. These are all separate issues, but they're all relatively minor. If you could point me to which files I should edit to fix these I can try to make a PR.

Currently, the "Related Links" section in `New-AzSqlSyncMember` refers to `Set-AzSqlSyncMember`, but thi

[2019-05-30 17:33] niander commented on #9318
@gucalder Could you take a look at this? Thanks

[2019-05-30 17:40] niander commented on #9320
@matthchr Hi. Could you take a look at this?

[2019-05-30 17:47] niander commented on #9320
@matthchr Hey. Could you take a look at this?

[2019-05-30 17:49] niander commented on #9322
Please fill this out:

Take a look at the comments here and how to get the necessary information. Thanks!

## Description

## Steps to reproduce

[code]

## Module versions

[code]

## Debug output

[code]

## Error output

[code]

[2019-05-30 17:53] niander commented on #9324
@MikeMartin180 Hi! Please fill the module version part with all the modules you have. Use the instructions found when creating a new issue.

[2019-05-30 17:55] niander commented on #9325
@Danlewis3 Hi. We need the full issue template filled out. Please fill the missing parts including the Debug Output, Error Output and all the module versions your have. Thanks

[2019-05-30 18:05] MiYanni commented on #9131
@droessmj This is because the ServiceBus API doesn't expose that type of REST call. The best you can do is list *all* the namespaces for a given subscription, and filter it (`Where-Object`) afterwards. So, that should work currently for you. While this is a valid use case, if the ServiceBus service itself doesn't expose this functionality, there's nothing we can do from the PowerShell side of thin

[2019-05-30 18:22] matthchr commented on #9320
I believe that this is fixed in 1.0.1-preview of the Az.Batch module.

You can acquire it by running the following:
Install-Module -Name Az.Batch -Repository PSGallery -AllowPrerelease -Force

[2019-05-30 18:36] mikebou commented on #8738
I am experiencing the same issue. Any update would be appreciated.

[2019-05-30 18:40] MiYanni commented on #9241
@kashifm-msft Please work with @cormacpayne as he is generating the upcoming PowerShell cmdlets from swagger.

[2019-05-30 19:37] oising commented on #9317
After looking through the cloudshell module and the Az cmdlet source, I heavily suspect it's a DevTest Lab issue. The cmdlets are mostly source agnostic and depend on dynamic processing of the JSON returned from the core Azure APIs: It's seems this is a case of garbage in/garbage out.

[2019-05-30 19:52] niander commented on #9320
@matthchr Thanks for the reply.

@hihorika Is it possible for you to update your module to the preview version and see if the issue is fixed? Thanks!

[2019-05-30 19:53] MikeMartin180 commented on #9324
No problem - done:

ModuleType Version    Name                                ExportedCommands
---------- -------    ----                                ----------------
Script     6.13.1     AzureRM
Script     0.6.14     AzureRM.AnalysisServices            {Resume-AzureRmAnalysisServicesServer, Suspend-AzureRmAnalysisServicesServer, Get-AzureRmAnalysisServicesServer, Remove-AzureRmA...
Script

[2019-05-30 20:12] cormacpayne opened #9328 "Track work for generated KeyVault cmdlets"
## Estimated Cost for Preview: 10-14

## KeyVault Management Plane

### Access Policies

- [ ] `Set-AzKeyVaultAccessPolicy`
    - Investigate this cmdlet since SDK call to update access policy was never originally being made

### Vault

- [x] `Get-AzKeyVault`
- [x] `New-AzKeyVault`
- [x] `Remove-AzKeyVault`
- [x] `Test-AzKeyVault`
- [x] `Undo-AzKeyVaultRemoval`
- [x] `Update-AzKeyVault`

## KeyVau

[2019-05-30 20:27] dcaro commented on #9214
Thanks @avirup28 for reporting this issue.
At this time, @DarqueWarrior is maintaining a PowerShell module to manage Azure DevOps and Azure DevOps Server that you can find here: https://www.powershellgallery.com/packages/VSTeam/6.2.2
I will update this issue in few days with additional updates on this feature request.

[2019-05-30 20:34] bwatts64 opened #9329 "New-AzSubscription"
## Description
After running new-azsubscription and creating a new azure subscription it appears that the azcontext gets corrupt. When you run get-azcontext the name property is empty and you can't fix it in the script. Tried doing the following and all of them come back with an error saying “Object reference not set to an instance of an object”
1)	Clear-azcontext
2)	Select-azcontext
3)	Logout-aza

[2019-05-30 22:23] atpham256 commented on #4033
I was unfortunately not able to repro. I successfully created a transformation using the JSON the customer provided in this thread.

Based on the error message, I believe the customer initially provided the wrong transformation name so the RP thought the customer was trying to create a new transformation and hence, the customer got the error message that they are trying to exceed the maximum numbe

[2019-05-30 22:23] #4033 closed

[2019-05-30 22:50] niander commented on #9329
@bwatts64 Hi. Thank for filling out the issue. Could you please provide the full list of modules and the debug output? Please follow the instructions presented in the template when you open a new issue. Thanks

[2019-05-30 23:10] markcowl commented on #9326
@jaredmoo can you take a look / assign appropriately?

[2019-05-30 23:11] markcowl commented on #9329
@bwatts64 Also, the full list of modules in `Get-Module -ListAVailable`

[2019-05-30 23:55] hihorika commented on #9320
Thanks!
I will try to use 1.0.1-preview!

Could you please wait for the result?

[2019-05-30 23:58] hihorika commented on #9320
I have already used Az.Batch@1.1.0.
Do you mean that downgrade is required?

[2019-05-31 00:49] sean-nixon commented on #9255
@MiYanni Can this be re-opened then? It doesn't seem like this issue should be closed since it is specifically addressing adding -VaultId to those Site Recovery cmdlets not the Backup cmdlets which I understand now support it. Unless there is no plan to add that parameter to Site Recovery cmdlets and there will be a new context mechanism @siddharth7?

[2019-05-31 01:19] blueww commented on #9195
The root cause is found, it was a bug in customer's PowerShell script: getting files recursively included bin and obj folders which contains very old versions of those files. And that what was causing the exception.

[2019-05-31 03:20] Swimburger commented on #5099
I ran into the same issue when using Az powershell, after googling for long I saw an example where **hashtables** were used for the individual ipSecurityRestriction objects. These didn't suffer from the same parsing issues as @omnoms.
PSCustomObjects did have the weird parsing where instead of the string, it would be an object with a length property inside.

[2019-05-31 09:07] alex-zyl commented on #9270
Turned out that Title and Description fields from Swagger spec file are used to update API state during import. So I guess this behavior is by design

[2019-05-31 09:07] #9270 closed

[2019-05-31 12:27] #9325 closed

[2019-05-31 12:36] Danlewis3 opened #9336 "Import-AzApiManagementApi"
Importing an OpenApi or Swagger definition and when specifing a ServiceUrl it will not apply this URL.

when creating a new api using New-AzApiManagementApi the URL is set but on importing it will not set

## Steps to reproduce

[code]

## Environment data

[code]

## Module versions

[code]

## Debug output

[code]

## Error output

[code]

[2019-05-31 13:39] Scepticalist commented on #8476
I don't think this is specific to the popup window. I'm having the exact same issue when trying to use Connect-AzAccount with a credential object from Windows forms:
[code]

[2019-05-31 15:33] jovieir opened #9337 "Add-AzVhd missing assembly System.ServiceModel.Primitive"
## Description

Hi folks, the Add-AzVhd command is apparently broken (tested with multiple Az.Compute and Az.Accounts versions). It seems it's missing assemblies:

Add-AzVhd : Could not load file or assembly 'System.ServiceModel.Primitives, Version=4.2.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a' or one of its dependencies. The system cannot find the file specified.

## Steps to reproduc

[2019-05-31 15:45] jovieir commented on #9337
I've noticed that for Az.Accounts 1.4.0 and below (https://www.powershellgallery.com/packages/Az.Accounts/1.4.0), the ServiceModel assemblies are present but not after that version:

- PreloadAssemblies\System.Private.ServiceModel.dll
- PreloadAssemblies\System.ServiceModel.Primitives.dll

I've managed to find a workaround for now, though. High-level steps below:

1 - Install Az.Accounts version 1

[2019-05-31 16:56] alex-frankel commented on #9310
Hey Chris,

We looked into this. Instead of using the ConvertFrom/To-Json cmdlet, which turns it into a PSCustomObject, you can pass an array of hash table objects like the following:

[code]

Can you try this and let us know if it works? We were able to get this to work with the export you gave us.

We are also going to be releasing a new version of our cmdlets which will support passing a JSON f

[2019-05-31 17:47] markcowl commented on #9337
@jovieir It looks like you have multiple versions of both assemblies, and some Azure assemblies installed.  This could be interfering with dll loading.

Could you:
- Remove the old versions from Directory: C:\Program Files\WindowsPowerShell\Modules
- Remove the Azure, Azure.AnalysisServices, and Azure.Storage modules fromn your user modules directory
- Try this scenario again from a fresh PowerShe

[2019-05-31 18:08] bganapa opened #9339 "[AzureStack]:{ADFS}: New-AzureRmRoleAssignment fails with Required property 'principalId' not found in JSON"
## Description
New-AzureRmRoleAssignment : The content of your request was not valid, and the original object could not be deserialized. Exception message: 'Required property
'principalId' not found in JSON. Path 'properties', line 4, position 3.'
At D:\setup\run.ps1:32 char:1
+ New-AzureRmRoleAssignment -ObjectId S-1-5-21-874830109-2305128820-314 ...
    + CategoryInfo          : CloseError: (:)

[2019-05-31 18:14] artisticcheese commented on #9225
Is it supposed to be incorporated into Azure-Powershell 2.2.0? I don't see it in release notes

[2019-05-31 18:21] markcowl commented on #9337
@jovieir Never mind, got a local repro.  We'll push out a fix early next week.

[2019-05-31 18:31] markcowl commented on #9336
@solankisamir Can you take  a look?

[2019-05-31 20:00] droessmj commented on #9131
thanks for the follow up, @MiYanni. I ended up with exactly what you're saying above (i.e. `Where-Object`) in my scripts. I started to write the "missing" functionality myself, and ran into the API limitation also. I left this open to see if I had missed anything, but at this point it's more or less confirmed working to current spec. Thanks for your time.

[2019-05-31 20:00] #9131 closed

[2019-05-31 20:11] MiYanni commented on #9131
@droessmj If you have any other suggestions like this, we can always consider adding them into the new generated cmdlets. These cmdlets will be more consistent with all services and expose anything available in the APIs for those services. But, we do have the ability to add custom cmdlets/functionality, so suggestions would be awesome. Thanks!

[2019-05-31 20:31] jfggdl commented on #9230
@theheatDK, thank you for reporting this issue. We have already added an item to our backlog and a fix for this misnomer will be addressed in a future release (date:  TBD).

[2019-05-31 20:31] #9230 closed

[2019-05-31 20:32] ThinkFr33ly commented on #8167
Is this issue the root cause of the following error? I'm trying to upgrade to Az from Azure/AzureRM. I've uninstalled AzureRM, but I now will seemingly randomly get this error when either trying to run service management command (Get-AzureService, for example), but also when I try and run standard Az commands like Get-AzSubscription.

`Message        : Exception has been thrown by the target of an

[2019-05-31 20:49] #4974 closed

[2019-05-31 21:55] ChristopherGLewis commented on #9310
Alex - that did it.  Not exactly sure what's the issue, maybe how PS serializes an array of hashes vs an Array of PSObjects.  The crazy part is that if I run each resulting array through `ConvertTo-JSON`, they are identical (other then entry order).

In the interim I used the same function to deploy an ARM template outside of the blueprint, and the code worked fine.

Thanks for tracking this down.

[2019-05-31 22:33] cormacpayne opened #9342 "Track work for generated AppService cmdlets"
## Estimated Cost for Preview: 10-14

## Outstanding Issues

- [Name in body parameters should not be exposed](https://github.com/Azure/autorest.powershell/issues/324)

## App Service

_Note_: the below list only contains cmdlets from the existing `Az.Websites` module -- there are ~400 more cmdlets that were generated but aren't currently exposed by the `Az.Websites` module. These cmdlets will nee

[2019-05-31 22:38] cormacpayne commented on #8871
Filed issue outlining work to be done for existing cmdlets: https://github.com/Azure/azure-powershell/issues/9342

[2019-05-31 22:38] #8871 closed

[2019-05-31 22:56] demyanenko commented on #9225
@cormacpayne Could you please help with the release date estimate?

[2019-05-31 22:57] markcowl opened #9343 "Investigate assembly deletion issues on build"
## Description
- [x] Add System.Manageemnt back to StorageSync
- [x] Verify functionality on linux using new smoke test script
[code]
and validate PlatformNotSupported exception on windows/linux
- [x] Investigate whether any other modules had removed framework files
- [x] Add Az.StorageSync to Az module rollup
## Cost: 2

[2019-06-01 00:25] #7960 closed

[2019-06-01 12:42] ToMakeSense commented on #6556
powershell/PowerShellGet#456

[2019-06-03 06:00] KrishnaG-MSFT commented on #8993
You may use cmdlet [Invoke-LogAnalyticsQuery](https://dev.loganalytics.io/documentation/Tools/PowerShell-Cmdlets) now which replaced [Get-AzureRmOperationalInsightsSearchResults](https://docs.microsoft.com/en-us/powershell/module/azurerm.operationalinsights/get-azurermoperationalinsightssearchresults?view=azurermps-6.13.0) cmdlet. For more information, you may refer [this](https://azure.microsoft.

[2019-06-03 07:15] pirminf commented on #9312
@niander
Sorry - I added the correct debug Output in my original comment.

[2019-06-03 07:47] superfliege commented on #9314
Fixed in this pull requeest @niander
https://github.com/Azure/azure-powershell/pull/9347

[2019-06-03 09:53] GG23x commented on #6595
Hi @pvrk,

The problem lies with simply wanting to retrieve files that you store in a vault in Azure. We use Azure to backup specific files as it is 10x easier and better than what we had. We wanted to convert our disaster recovery process into accommodating Azure easily. The above thwarted us and in the end I used [MS Online Backup](https://docs.microsoft.com/en-us/powershell/module/msonlinebacku

[2019-06-03 16:25] alex-frankel commented on #9310
You bet. As a result of this, we've taken an object to see if we can handle PSCustomObject as is. We expect this will be the first time, but not the last time that this comes up. Appreciate all back and forth and patience to figure this out.

[2019-06-03 16:25] #9310 closed

[2019-06-03 16:39] filizt commented on #9302
@apraamsm Did the above format for the secure string work for you?

[2019-06-03 16:58] tobitux opened #9350 "Set-AzApiManagementApi -SubscriptionRequired:$False doesn't work correctly"
## Description
Module: Az.ApiManagement
Cmdlet: Set-AzApiManagementApi

It's not possible to set Parameter -SubscriptionRequired=$false for an existing API.

## Steps to reproduce
-Create a API "Test" and run Powershell
[code]

## Environment data

[code]

## Module versions

[code]

## Debug output

[code]

## Error output

[code]

[2019-06-03 17:40] pvrk commented on #9263
@Wand3rvogel: Thanks for elaborating. But currently, this can be done only by using the OB-Powershell module within the machine. Azure PS isn't built for this. Even Azure Portal is not currently built for this. You can't fire backup and restore operations for MAB agents from Azure Portal. This requires complete integration of on-premises into Azure portal for Azure Backup and that is not in the cu

[2019-06-03 17:45] pvrk commented on #5331
@siddharth7: Can you please comment on the current state?

[2019-06-03 17:47] pvrk commented on #5704
#please-close
Since we haven't received a response. Please feel free to re-open if there are more details or information.

[2019-06-03 17:48] #5704 closed

[2019-06-03 18:04] pvrk commented on #6595
@GG23x: OB is same as the MS Online module. It is documented [here](https://docs.microsoft.com/en-us/azure/backup/backup-client-automation).
Thanks for the elaboration. Now I understand that the main problem is authentication and the main use-case is restore process automation. However this requires that we integrate our on-prem products completely into Azure (Portal/PS/CLI/REST API etc) and a tru

[2019-06-03 18:06] pvrk commented on #6595
Closing this issue since this feature request cannot be taken up in this semester. Provided a [feedback mechanism]((https://feedback.azure.com/forums/258995-azure-backup?category_id=341221) so that it gets captured?) for users to ask and rank this feature.

[2019-06-03 18:06] #6595 closed

[2019-06-03 18:06] pvrk commented on #9263
Can you please put this request in the [uservoice](https://feedback.azure.com/forums/258995-azure-backup?category_id=341221) so that it gets captured?

[2019-06-03 18:07] pvrk commented on #9263
Closing this issue since this feature request cannot be taken up this semester. Provided a [feedback mechanism](https://feedback.azure.com/forums/258995-azure-backup?category_id=341221) so that it gets captured for the user to ask and rank this feature.

[2019-06-03 18:07] #9263 closed

[2019-06-03 18:10] pvrk commented on #8348
Please elaborate on the requirement and add your feedback to [our user-voice](https://feedback.azure.com/forums/258995-azure-backup) as a new feature request.

[2019-06-03 18:11] pvrk commented on #8348
Closing this issue since the feature request cannot be taken up this semester. Provided a [feedback mechanism](https://feedback.azure.com/forums/258995-azure-backup) for the user to ask and rank the feature.

[2019-06-03 18:11] #8348 closed

[2019-06-03 19:20] majofoal opened #9351 "Add-AzApiManagementUserToGroup does not accept GroupdID with whitespace"
## Description
I have a GroupID with a whitespace on the name. I have been using this same GroupID but this cmdlet does not allow GroupID with whitespace. On my API Management instance I am not able to change the GroupID, as this is not modifiable.

GroupID name: API Providers
## Steps to reproduce

[code]

## Environment data

[code]

## Module versions

[code]
[Get-Module.txt](https://github.com

[2019-06-03 19:33] rahuldutta90 commented on #9178
@madhanan so the way getcontentsummary works is we have a "internal queue" where we store the list of directories we process and then recursively go through the directories. Now as your ALDS size increase, so does this size of "internal queue". To process large adls account, you definitely need larger VM size. What I feel is happening here is we are hitting memory issue with CLR in this VM.

Can y

[2019-06-03 19:59] jvermast commented on #8983
Can confirm this is still an issue.

[2019-06-03 19:59] MiYanni commented on #9235
@eosfor This will be significantly easier to achieve in our upcoming AutoRest generated cmdlets. That design allows you to do what you want with the HTTP pipeline. If you wanted to do this currently, I believe you'd have to implement (by hand) your own SDK client. In the generated cmdlets, there is no dependence on the SDK clients at all, so that work would be throwaway. Currently, services would

[2019-06-03 20:40] SplitThePotCyrus commented on #9078
We are experiencing similar issue, however we did not issue any `Uninstall-AzureRm` command and still got the `~/.Azure` directory just by doing `Install-Module Az -Force -AllowClobber`

The solution that @johncrim provided did not solve our issue.

After tampering with `_work/_tasks/AzurePowerShell_72a1931b-effb-4d2e-8fd8-f8472a07cb62/4.0.7/InitializeAz.ps1` we found out that our `$endpointObject

[2019-06-03 21:20] qaaditya opened #9353 "Update-AzSqlServerVulnerabilityAssessmentSetting not working with > 1 email addresses"
## Description

According to the following doc, the command should allow us to add multiple emails to recipient list. But its failing!

https://docs.microsoft.com/en-us/powershell/module/az.sql/update-azsqlservervulnerabilityassessmentsetting?view=azps-2.1.0

PS C:\> Update-AzSqlServerVulnerabilityAssessmentSetting `
            -ResourceGroupName "ResourceGroup01"`
            -ServerName "Server

[2019-06-03 22:09] markcowl commented on #9241
@RandalliLama Can you take a look at this request to support the necessary parameter for Elliptic Curve Cryptography?

[2019-06-03 22:13] apraamsm commented on #9302
thanks for the reply, i will try this asap and get back to you

[2019-06-03 22:19] markcowl commented on #8581
@alujones are you following these instructions: https://azure.microsoft.com/en-us/blog/serverless-automation-using-powershell-preview-in-azure-functions/ ?

[2019-06-03 22:24] niander commented on #9305
@jethrovaneetvelde Thanks for pointing that out. I will create an issue so the reference docs get also updated.

[2019-06-03 22:28] niander opened #9354 "Update doc -ContainerType for Get-AzRecoveryServicesBackupContainer"
Related to #9305
The reference docs are incompatible with the conceptual docs for possible values of `-ContainerType`.
Please update the reference docs to reflect the correct set of accepted values.

[2019-06-03 22:30] bganapa commented on #9265
@deathly809 , I could not repro this  and i could not think any reason why this may have occurred for you.. Can you pls check?

[2019-06-03 22:30] knithinc commented on #6358
This issue is now fixed and an updated Bootstrapper module (v0.5.0) is available for download.

[2019-06-03 22:30] #6358 closed

[2019-06-03 22:37] knithinc commented on #7789
This is by design.

[2019-06-03 22:37] #7789 closed

[2019-06-03 22:40] bganapa commented on #8427
@yunzhangMS Do we need this? if needed we should start with a swagger spec change

[2019-06-03 22:43] bganapa commented on #8559
closing this for inactivity.. @amcgregor1 please reopen if you are hitting this issue

[2019-06-03 22:44] knithinc commented on #6664
This 'feature' is not needed.

[2019-06-03 22:44] #6664 closed

[2019-06-03 22:45] alujones commented on #8581
That's new since I posted originally. It's hard to find content such as this on the Internet, you need to see what can be done about surfacing this in search results. I actually found something similar to this just this morning, and will be adding it to my new PowerShell Runtime 2.0 functions. I look forward to this becoming easier to find and easier to manage in the future.

[2019-06-03 22:45] knithinc commented on #7298
This is by design, and any changes will break Az.

[2019-06-03 22:45] #7298 closed

[2019-06-03 22:46] #8559 closed

[2019-06-03 23:12] alujones commented on #8581
So, that included the Az module, but I don't see how it lets me manage the Az.ResourceGraph module as well, which is needed to call Search-AzGraph. I tried adding the line "Az.ResourceGraph = 'latest'" to the requirements.psd1 file, but got a complaint that there were two keys in the psd1 file called "Az".

[2019-06-03 23:31] bganapa commented on #8235
This is fixed in AzureRm.Resources 6.4.3

[2019-06-03 23:31] #8235 closed

[2019-06-04 00:20] v-Ajnava commented on #8964
@kvattikuti here is the example to apply TTL for subscription, we will update document with more details.
-DefaultMessageTimeToLive "PT20S"

let us know if you have any questions?

[2019-06-04 00:23] hihorika commented on #9320
I tried Az.Batch@1.0.1-preview, then it seems to work well.

Is this 1.1.0 bug or lack of my setting?

[2019-06-04 00:26] bganapa commented on #4613
closing this here, this is being tracked internally with a new feature

[2019-06-04 00:26] #4613 closed

[2019-06-04 00:28] bganapa commented on #6865
this is begng tracked internally with a new feature, closing it here

[2019-06-04 00:28] #6865 closed

[2019-06-04 00:29] bganapa commented on #6870
Closing this here, This is being tracked internally with a vsts bug

[2019-06-04 00:29] #6870 closed

[2019-06-04 00:58] matthchr commented on #9320
it's a bug in 1.0.0 which was fixed in 1.0.1-preview but hasn't been merged to 1.1.0 yet - sorry for the confusion.

1.0.1-preview is actually the "latest" Azure Batch set of cmdlets currently.

[2019-06-04 02:04] hihorika commented on #9320
Thanks @matthchr !
I understand that.

[2019-06-04 05:16] ToMakeSense commented on #6261
Updates: the issue have been fixed on **Az** Module since **V-1.4.0**, but still existed in lastest **AzureRm(V-6.13.1)** module.

You can search with **"Basic"** key word to find it out in below reference links.
[Release notes of Az PoweShell module](https://github.com/MicrosoftDocs/azure-docs-powershell/blob/master/docs-conceptual/azps-2.1.0/release-notes-azureps.md)
[Release notes of AzureRm Po

[2019-06-04 05:25] blueelvis commented on #6707
@siddharth7 - I don't see why this is expected? I have never seen an Azure PowerShell commandlet which accepts predefined set of parameters in a case sensitive fashion. Please reopen this issue.

[2019-06-04 07:19] #9314 closed

[2019-06-04 08:19] MatthewBracewell commented on #8719
@markcowl Could you update the urls you posted in yr comment pls - they're both the same!
TIA

[2019-06-04 10:35] apraamsm commented on #9302
Thanks again for your help :-)
Works like a charm

[2019-06-04 10:35] #9302 closed

[2019-06-04 14:06] YannickJanssens opened #9356 "Get-AzRecoveryServicesBackupItem shows incorrect/inconsistent Health Status"
## Description
When retrieving the backup items of  SQL on Azure VM's I get machines with the value _**ProtectionStatus Unhealthy**_ and with _**ProtectionState IRPending**_
However in the Portal the machine is in a healthy state and the backups are running fine for a long time.

For another Backup Vault I also get machines with IRPending (backups are fine too) but with a ProtectionStatus Healthy.

[2019-06-04 15:37] Chocrates opened #9357 "Remove-AzVirtualNetworkPeering Invalid API Version"
## Description
Running Remove-AzVirtualNetworkPeering Results in this error:
[code]

With $DebugPreference="Continue"
We can see that the REST Url ends with `?api-version=2019-02-01`

## Steps to reproduce
Create Two Vnets with distinct IP ranges.
Peer them together
[code]

## Environment data

[code]

## Module versions

[code]

## Debug output

[code]

[2019-06-04 16:52] itanex commented on #2657
I am getting a very similar error and my keyvault permisions are enabled. Since the error I get does not have any details as to the issue as @rakeshvanga states, it would be helpful to have some information to handle the errors.

[code]

[2019-06-04 16:53] markcowl commented on #9126
Closing as duplicate of #9276

[2019-06-04 16:53] #9126 closed

[2019-06-04 17:11] sureshpagidipati commented on #9259
I am too getting same error, basically the output type of value returned by either "Set-AzActionGroup" or 'get-AzActionGroup' is "Microsoft.Azure.Commands.Insights.OutputClasses.PSActionGroupResource" but for type of value of argument "-ActionGroup" of method Add-AzMetricAlertRuleV2  is "Microsoft.Azure.Management.Monitor.Models.ActivityLogAlertActionGroup[]"

also method 'New-AzActionGroup' only

[2019-06-04 17:24] cormacpayne opened #9358 "Track work for generated Billing cmdlets"
## Estimated Cost for Preview: 6-10

## Shipping for Preview

### Billing

- [ ] `Get-AzBillingPeriod`
- [ ] `Get-AzEnrollmentAccount`
- [ ] `Get-AzInvoice`

### Commerce

- [ ] `Get-AzUsageAggregate`

### Consumption

- [ ] `Get-AzBudget`
- [ ] `Get-AzMarketplace`
- [ ] `Get-AzPriceSheet`
- [ ] `Get-AzReservationDetail`
- [ ] `Get-AzReservationSummary`
- [ ] `Get-AzUsageDetail`
- [ ] `New-AzBudge

[2019-06-04 17:25] cormacpayne commented on #8954
Issue to track work found here: https://github.com/Azure/azure-powershell/issues/9358

[2019-06-04 17:25] #8954 closed

[2019-06-04 17:34] v-Ajnava commented on #9182
this is resolved and fix is available in June 2019 release - Az 2.2.0

[2019-06-04 17:34] #9182 closed

[2019-06-04 21:36] aamalvea commented on #5630
Here is an example using the REST API which the Python SDK implements: https://docs.microsoft.com/en-us/rest/api/sql/databases%20-%20import%20export/export#examples

[2019-06-04 21:42] jaredmoo commented on #6689
Yes, SqlBulkCopy works on Azure SQL Db just like it does with SQL Server.

[2019-06-04 21:44] #9231 closed

[2019-06-04 21:44] v-Ajnava commented on #9231
this is fixed in June release 2019, AZ 2.2.0. hence closing the issue.

[2019-06-04 22:18] bganapa commented on #8660
This is being handled via documentation

[2019-06-04 22:18] #8660 closed

[2019-06-04 23:53] bganapa commented on #9265
closing this, as we cant repro

[2019-06-04 23:53] #9265 closed

[2019-06-05 06:01] rahuldutta90 commented on #9178
@madhanan any updates on this?

[2019-06-05 07:16] number213 commented on #9357
Looks like Remove cmdlet was supplied with incorrect parameters

[code]

From this URI it looks like ResourceGroupName was supplied as `@{$schema=https://schema.management.azure.com/schemas/2015-01-01/deploymentParameters.json%23; contentVersion=1.0.0.0;
parameters=}.parameters.hubPeeringResourceGroup` and VirtualNetworkName as `@{$schema=https://schema.management.azure.com/schemas/2015-01-01/depl

[2019-06-05 07:32] Danlewis3 commented on #9336
@solankisamir have you managed to take a look as this effects my CI/CD pipeline i am building

[2019-06-05 07:45] number213 commented on #9357
Can reproduce with ARMClient

[code]

[2019-06-05 08:37] KevinGuana commented on #7768
Hi , is it possible have the 2 modules Az and AzureRM in the same powershell ?
I need user ASM and ARM VM

Thanks in advance

[2019-06-05 12:12] sruss95 commented on #9238
I was encountering this issue as well. Was able to fix the issue by changing the location to lowercase and removing spaces. So this should work with location 'eastus'. I'm not sure why this would be required with scheduled query rules since 'East US' is valid for pretty much everything else, including creating the workspace.

[2019-06-05 13:51] Apholisha commented on #9141
Hi,
Any update?

[2019-06-05 13:52] sureshpagidipati commented on #9259
Hi @niander & @royarin ,
 I was able to find the fix for this issue (Az module version 2.2.0) after debugging I found that in method New-AzActionGroup it supposed to be resource id resulted from either "Set-AzActionGroup" or 'get-AzActionGroup'  as -ActionGroup outputvariable.Id but in documentation it says it can be either Id or Name of ActionGroup.

[2019-06-05 14:32] royarin commented on #9259
True. I figured it out as well.
Also, I had to use the TargetResourceId and not the TargetResourceScope
Final code that worked for me:

`$actionGroup = Get-AzActionGroup -Name $actionGroupCGName -ResourceGroupName $resourceGroupName

$actionGroupId = New-AzActionGroup -ActionGroupId $actionGroup.Id

Add-AzMetricAlertRuleV2 -Name "App Service Plan CPU gt 70"
-ResourceGroupName $resourceGroupName
-T

[2019-06-05 15:10] Aidenwebb commented on #5704
Hi Pvrk,

The main use here is in automating a restore from a MARS backup hosted in Azure. At present, in order to restore a file we need to log in to Azure portal, find the device and browse the files. This isn't viable in terms of automated disaster recovery, or scalable in terms of testing backups are accessible, readable, and useable.

My expectation is that as the MARS backup is being hosted

[2019-06-05 16:44] kekindt opened #9366 "Get-AzRemoteDesktopFile Won't pull private IP"
Trying to use Get-AzRemoreDesktopFile for a vm that only has a private ip fails with the error:

Get-AzRemoteDesktopFile : Value cannot be null.
Parameter name: source
At line:1 char:1
+ Get-AzRemoteDesktopFile -resourcegroupname "RSG-xxxxxxx ...
+ ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    + CategoryInfo          : CloseError: (:) [Get-AzRemoteDesktopFile], Argument

[2019-06-05 16:50] astrahan87 opened #9367 "Get-AzResourceGroup -Tag filter doesn't work with multiple tags"
## Description
The "-Tag" filter for Get-AzResourceGroup doesn't work when multiple tags are in the Hashtable. As far as I can tell, when multiple tags are present only one is used for filtering and which gets used is entirely dependent on the first key returned from the Hashtable (so non-deterministic).

The documentation for "-Tag" does not explicitly indicate that multiple tags are valid, but i

[2019-06-05 17:41] markcowl commented on #9350
@tobitux Since this is a 'Set' API, which should mean that you are replacing the current definition of the resource, the absence of the switch parameter should set the vaule to false.  Can you try this as a workaround.

@solankisamir I suspect this is because the cmdlet is just looking at the presence of the parameter, rather than setting this value to false if the parameter is absent or present w

[2019-06-05 17:43] markcowl commented on #9351
@solankisami Looks like the validation pattern should be less restrictive, and the cmdlet should be able to url encode legal vales before sending the request (the .Net SDK generally does this automatically for path parameters).

[2019-06-05 17:58] markcowl commented on #9353
@qaaditya So, that parameter takes multiple emails as an array, so you can use it like this:
[code]

Or like this

[code]

Please let us know if you have some issue after doing this.

[2019-06-05 18:02] markcowl commented on #9356
@siddharth7 Can you take a look?

[2019-06-05 18:17] markcowl commented on #9366
@kekindt Can you provide the rest of the info asked for in our issue template for this issue:

(1) Module layout on your machine
[code]
(2) Execution environment
[code]
(3) Debug output

Before running the cmdlet, set `$DebugPreference="Continue` and then provide the extra printed traces

(4) Error Output

After the error, run `Resolve-AAzError` (or `Resolve-AzureRmError` if this is AzureRM)

[2019-06-05 18:19] niander opened #9368 "Track work for generated Storage.Management cmdlets"
## Storage.Management

### StorageAccount

* `Get-AzStorageAccount`
    - [x] Hide `Get-AzStorageAccountProperty`
    - [x] Add `-Name` and use `Get-AzStorageAccountProperty`
* `Set-AzStorageAccount`
    - [x] Change name to `Invoke-AzStorageAccountFailover` or something else
* `Update-AzStorageAccount`
    - [x] Update `-AccountName` to just `Name`
    - [x] Return results after calling `GetPrope

[2019-06-05 18:21] solankisamir commented on #9350
@markcowl ack!

[2019-06-05 18:23] solankisamir commented on #9351
@markcowl I will discuss with the team and see if we should lift the limitation. The validation for not having spaces in GroupId was put in 06/2015.

[2019-06-05 18:28] astrahan87 commented on #9367
I think that would be desirable, but they're not even 'or'-ing together. If it were an 'or' the example would return all ResourceGroups.

As near as I can tell, it only uses one of the tags.

[2019-06-05 18:43] solankisamir commented on #9351
Workaround for the customer

PS c:\> Select-AzSubscription -SubscriptionName api_Developer
PS c:\> $gid = "templateGroup"
PS c:\> $subscriptionId = "axxxx-6xxx-494d-9dbf-687baxxxxx"
PS c:\> $uId = "kjoshiarmTemplateUser3"
PS c:\> $resourceId = "/subscriptions/" + $subscriptionId + "/resourceGroups/" + $context.ResourceGroupName + "/providers/Microsoft.ApiManagement/service/" + $context.ServiceName

[2019-06-05 19:23] Midacts opened #9369 "New-AzureRMAutoscaleProfile: Requires Rule parameter"
## Description

Unable to "Scale to a specific instance count".
When running `New-AzureRMAutoscaleProfile` it requires the `-Rule` parameter be set.

## Steps to reproduce

[code]

## Module versions

6.4.0

I want this:
![image](https://user-images.githubusercontent.com/3960208/58983726-7bed1780-87a5-11e9-8f4e-e46f25daaf7f.png)

instead i get this:
![image](https://user-images.githubusercontent.c

[2019-06-05 19:59] cormacpayne commented on #6577
This work will be done as a part of the generator effort.

[2019-06-05 19:59] #6577 closed

[2019-06-05 20:06] cormacpayne commented on #9116
Confirmed that the generated cmdlets have a settable `CustomKeyIdentifier` property that would expose this functionality.

[2019-06-05 20:18] cormacpayne opened #9370 "Track work for generated Dns cmdlets"
## Estimated Cost for Preview: 10

## Outstanding Issues

- [Name in body parameters should not be exposed](https://github.com/Azure/autorest.powershell/issues/324)
- [If-match (etag) not being generated](https://github.com/Azure/autorest.powershell/issues/339)
- Pattern for parent resources

## Generated

### Dns

- [ ] ~~`Get-AzDnsRecordSet`~~
    - [ ] ~~Rename `-RelativeRecordSetName` to `-Nam

[2019-06-05 20:19] cormacpayne commented on #8953
Issue to track required work for Dns found here: https://github.com/Azure/azure-powershell/issues/9370

[2019-06-05 20:19] #8953 closed

[2019-06-05 20:39] cormacpayne commented on #8412
These cmdlets will be found in the set of generated of Resources cmdlets:

- [`Add-AzADGroupOwner`](https://github.com/Azure/azure-powershell/blob/generation/src/Resources/docs/latest-2019-04-30/Add-AzADGroupOwner.md)
- [`Get-AzADGroupOwner`](https://github.com/Azure/azure-powershell/blob/generation/src/Resources/docs/latest-2019-04-30/Get-AzADGroupOwner.md)
- [`Remove-AzADGroupOwner`](https://git

[2019-06-05 20:45] cormacpayne commented on #5530
I believe this issue will be resolved at the same time as [this issue](https://github.com/Azure/azure-powershell/issues/9116). I'm going to close this issue in favor of the one linked previously and we will track the necessary work and status there. Please let me know if this isn't the case and I will re-open this issue.

[2019-06-05 20:45] #5530 closed

[2019-06-05 21:29] kekindt commented on #9366
[Debug-Error output.txt](https://github.com/Azure/azure-powershell/files/3259136/Debug-Error.output.txt)
[Get-Module.txt](https://github.com/Azure/azure-powershell/files/3259137/Get-Module.txt)
[PSVersionTable.txt](https://github.com/Azure/azure-powershell/files/3259138/PSVersionTable.txt)
Attached are text files with the requested information. I didn't see anything in the template when I created

[2019-06-06 04:17] sijuman commented on #8427
This is already implemented as a cmdlet. No need to implement this feature.

[2019-06-06 04:17] #8427 closed

[2019-06-06 07:48] siddharth7 commented on #5331
It's an open item. We only have a negative test case in out tests for `-UseOriginalStorageAccount`.

[2019-06-06 07:52] siddharth7 commented on #9356
@YannickJanssens Can you post the debug message on this thread? Run the command with `-Debug` option.

[2019-06-06 12:40] andreasschild opened #9373 "AzureRM relation to Azure REST Api"
Hi,
I am currently on a project where we are using multiple AzureRM modules and also the direct access to the REST Api. In the past, we faced quite a lot of breaking changes in the REST Api and because of that, we need to know the REST Api Version which is used by the different AzureRM modules.

For example:
Latest version on Hosted Agent VS2017 is AzureRm 6.7.0, which is using AzureRm.ApiManageme

[2019-06-06 14:57] robinmalik commented on #7389
Still on AzureRm 6.13.1. Still a problem in June 2019.

Same result with Az 2.2.0.

[2019-06-06 14:58] pvrk commented on #9356
@siddharth7 : This is an internal bug. Please talk to Rishav regarding this and I think this may not need a powershell release but a service deployment.

[2019-06-06 15:02] pvrk commented on #7778
Will verify about the 30 mins increment and update this thread.

[2019-06-06 15:59] kilasuit commented on #9373
@andreasschild under the hood each module uses the nuget package from the .Net SDK as per this repo https://github.com/Azure/azure-sdk-for-net

For example with the APIM Module it refernces the APIM Package from the SDK at https://github.com/Azure/azure-powershell/blob/46dadf936f13913067706a76dcf8dd221c7c7987/src/ApiManagement/ApiManagement/ApiManagement.csproj#L16

Digging into this and the lates

[2019-06-06 16:49] tobitux commented on #9350
@markcowl I tried it but it's the same behaviour. SubscriptionRequired is still set to True. Also from my point of view leaving out the parameter should not set SubscriptionRequired to False for the API. It should set it to $Null like it is set in a newly created api. This is important from a security standpoint because otherwise make the API public and users can call methods without subscription

[2019-06-06 17:49] sean-nixon commented on #8513
Yes, absolutely.

Same reason why docker is useful for applications - isolate dependencies and create a consistent environment. Cloudshell is useless for CI/CD. Local installation adds friction and makes it hard to test new versions of Azure PowerShell, either locally or in our CI/CD process. We can't simply upgrade the local installation because that could break existing jobs.

[2019-06-06 19:15] aparker-isolved opened #9374 "Enable-AzureRmAlias creates incorrect alias for Set-AzureRmVMBootDiagnostics"
The Enable-AzureRmAlias command creates an incorrect alias for Set-AzureRmVMBootDiagnostics.  It creates an alias to Set-AzVMBootDiagnostics (note the "s" at the end) when it should create an alias to Set-AzVMBootDiagnostic (no "s" at the end for this command).

[2019-06-06 20:45] zhusijia26 commented on #9111
Close the issue since answer provided. Please reopen if there is still question.

[2019-06-06 20:45] #9111 closed

[2019-06-06 20:46] zhusijia26 commented on #6364
Close the issue due to idle time. Please reopen if there is till question.

[2019-06-06 20:46] #6364 closed

[2019-06-06 20:47] zhusijia26 commented on #4649
Close the issue due to idle time. Please reopen if there is still question.

[2019-06-06 20:48] zhusijia26 commented on #3665
Close the issue due to idle time. Please reopen if there is still question.

[2019-06-06 20:48] #3665 closed

[2019-06-06 20:52] MCrank commented on #4649
The issue is still happening...  😢  I'll upload the repo steps when I get a chance to look at it.

[2019-06-06 20:58] zhusijia26 commented on #4649
@MCrank Just reopened the issue. Please provide details when you get a chance :)