[2019-06-06 21:02] MCrank commented on #4649
Will do.  Just wrapping up a bit here and I will try with the latest Az.Storage module as @blueww mentioned above

[2019-06-06 21:29] bnc-aymen-guellala opened #9376 "Wrong Account Id on Get-AzContext after Connect-AzAccount"
## Description

After connecting AzAccount using a credential object, I am receiving the wrong AccountId in teh Context.

## Steps to reproduce

[code]

## Environment data

[code]

## Module versions

[code]

## Debug output

[code]
![2019-06-06_17-03-02](https://user-images.githubusercontent.com/26462048/59067946-e921ab00-8880-11e9-91a3-da9aafdb965d.png)

[2019-06-06 21:32] zhusijia26 commented on #789
Close the issue based on last comment.

[2019-06-06 21:32] #789 closed

[2019-06-06 21:53] ankushbindlish2 opened #9377 "Remove Az from Powershell"
## Description

DevShell PS> $PSVersionTable
Name                           Value
----                           -----
PSVersion                      5.1.18362.113
PSEdition                      Desktop
PSCompatibleVersions           {1.0, 2.0, 3.0, 4.0...}
BuildVersion                   10.0.18362.113
CLRVersion                     4.0.30319.42000
WSManStackVersion              3.0
PSRemotingProt

[2019-06-06 23:27] MCrank commented on #4649
@zhusijia26 @blueww I just ran the repro steps I initially tested in the initial post with the latest Az.Storage module and I am still seeing a higher than normal CPU usage.  It is not at 15% but still hovering around 6%-8% for PowerShell.

1. Az.Storage 1.3.0
1. Upload 1 FIle ~145MB (.Net Core SDK)
1. Intel Core i7-6700HQ Quad Core with Hyper-Thread/16GB RAM
1. CPU for the powershell process afte

[2019-06-06 23:28] #4155 closed

[2019-06-06 23:29] #4156 closed

[2019-06-07 01:34] #6601 closed

[2019-06-07 01:34] aamalvea commented on #6601
We're sorry we weren't able to address this issue. If you are still experiencing a problem, please file a new bug and we will respond within 48 hours.

[2019-06-07 07:52] Rajeswari-Mamilla commented on #4143
Please use the command provided at https://docs.microsoft.com/en-us/powershell/module/azurerm.siterecovery/new-azurermsiterecoverypolicy?view=azurermps-5.7.0

[2019-06-07 07:52] #4143 closed

[2019-06-07 10:01] YannickJanssens commented on #9356
I can confirm that running a full-backup once changes the status. So it will probably be related to Auto-Protect. The debug is below (I've anonimized the data since it's one of our customers):

DEBUG: 11:48:01 - using account id 'admin_janssensy@COMPANY.TLD'...
DEBUG: Inside Restore. Going to create ResourceClient.
DEBUG: [Common.Authentication]: Authenticating using Account: 'admin_janssensy@COMP

[2019-06-07 13:01] viverm commented on #4143
$SelectedRecoveryVault = Get-AzureRmRecoveryServicesVault -ResourceGroupName myresourcegroup
Set-ASRVaultContext -Vault $SelectedRecoveryVault -ErrorAction Stop

$StorageAccountID = Get-AzureRmStorageAccount -Name mystorageaccount -ResourceGroupName myresourcegroup | Select -ExpandProperty Id

https://docs.microsoft.com/en-us/powershell/module/AzureRM.RecoveryServices.SiteRecovery/New-AzureRmRecov

[2019-06-07 15:30] astrahan87 commented on #9367
@markcowl I think the minimum fix would just be updating the documentation to make it clear that multiple tags can cause inconsistent behavior.

Fixing it to have either 'and' or 'or' behavior would work fine as long as it's documented which is used.

On option for toggling between the two would be a nice addition.

[2019-06-07 15:47] #6689 closed

[2019-06-07 17:20] bill-barron opened #9383 "Deserialization ERROR while calling Get-AzureRmAppServicePlanMetrics"
## Description
Running the following command results in an error
Get-AzureRmAppServicePlanMetrics -ResourceGroupName "myResourceGroup" -name "myAppServicePlan" -StartTime 2019-06-07T09:00:00Z -Granularity PT1M -Metrics "CPU Percentage"

Calling Get-AzureRmAppServicePlanMetrics results in an error

## Steps to reproduce

[code]

## Module versions

[code]

## Debug output

[code]

## Error output

[2019-06-07 18:05] rahuldutta90 commented on #9178
Cosing the issue since havent heard back from customer

[2019-06-07 18:05] #9178 closed

[2019-06-07 18:43] markcowl commented on #9376
@bnc-aymen-guellala In the above, it looks like you used the 'set' command, instead of setting the powershell variable for DebugPreference.  i.e., this is how you turn on debug logs:

[code]

In this case, the debug logs will be crucial to discovering the root issue.  There are a few known reasons why this might occur

- By policy, your AD Domain only allows you to authenticate as the logged-in us

[2019-06-07 18:50] markcowl commented on #9377
@ankushbindlish2 This is a script that is owned by the documentation team, can you please file an issue on the documentation page for this?

[2019-06-07 18:50] #9377 closed

[2019-06-07 18:54] markcowl commented on #9383
@bill-barron Can you please provide the information requested in the issue template?

- The result of running `Get-Module -ListAvailable`
- Your PowerShell evironment: `$PSVersionTable`
- The debug logs for the failure:  `$DebugPreference="Continue"` and then run the failing cmdlet
- The error details: run `Resolve-AzureRmError -Last` just after the error occurs

[2019-06-07 19:01] markcowl commented on #9369
@Midacts Have you tried the `Az.Websites` [module](https://www.powershellgallery.com/packages/Az.Websites/1.2.2)?  AzureRM is no longer under active development, so you should expect new features to only occur in Az.

[2019-06-07 19:04] markcowl commented on #9316
@shawnparslow When running in the try/catch block, did you pass `-ErrorAction Stop` to the cmdlet?  This will force it to throw an exception when writing to the Error stream, even if environment setting have a different default error handling.

[2019-06-07 19:05] markcowl commented on #9316
@Nking92 @panchagnula This sounds like a regression in behavior from AzureRM, can you take a look?

@dcaro FYI

[2019-06-07 19:25] markcowl commented on #9373
@andreasschild I have good news and kind of good news for you.

The good news is that this summer, we will be previewing a version of the cmdlets that ships multiple api versions in the same package, and allows you to lock to an api-version profile, to lock out breaking changes.

The kind of good news is that, while we don't have an easy correlation between api-versions and current modules, we do

[2019-06-07 19:26] markcowl commented on #9373
Closing for now, based on the answer above.  Please let me know if you have questions/comments

[2019-06-07 19:26] #9373 closed

[2019-06-07 19:27] markcowl commented on #9337
@jovieir Looks like this fix will go out with the next major release, instead.

[2019-06-07 20:06] bill-barron commented on #9383
Get-Module -ListAvailable

    Directory: C:\Program Files\WindowsPowerShell\Modules

ModuleType Version    Name                                ExportedCommands
---------- -------    ----                                ----------------
Script     5.1.2      Azure                               {Get-AzureAutomationCertificate, Get-AzureAutomationConnection, New-AzureAutomationConnection, Remove-Azur

[2019-06-07 20:06] bill-barron commented on #9383
$PSVersionTable

Name                           Value
----                           -----
PSVersion                      5.1.17134.765
PSEdition                      Desktop
PSCompatibleVersions           {1.0, 2.0, 3.0, 4.0...}
BuildVersion                   10.0.17134.765
CLRVersion                     4.0.30319.42000
WSManStackVersion              3.0
PSRemotingProtocolVersion      2.3
Seriali

[2019-06-07 20:10] bill-barron commented on #9383
Debug Preference Continue output after running failing command:

DEBUG: AzureQoSEvent: CommandName - Get-AzureRmAppServicePlanMetrics; IsSuccess - False; Duration - 00:00:00.9432388; Exception - Microsoft.Rest.SerializationException: Unable to deserialize
 the response. ---> Newtonsoft.Json.JsonSerializationException: Error converting value "CpuPercentage" to type 'Microsoft.Azure.Management.WebSi

[2019-06-07 20:13] panchagnula opened #9387 "webapp: Update the undelete command to use the new GeoRegion API"
## Description of the new feature

## Proposed implementation details (optional)

[2019-06-07 20:14] bill-barron commented on #9383
Resolve-AzureRmError -Last
DEBUG: 3:10:39 PM - ResolveError begin processing with ParameterSet 'LastErrorParameterSet'.
DEBUG: 3:10:39 PM - using account id 'myuser@mycompany.org'...

   HistoryId: 17

Message        : Unable to deserialize the response.
StackTrace     :    at Microsoft.Azure.Management.WebSites.ServerFarmsOperations.<GetServerFarmMetricsWithHttpMessagesAsync>d__10.MoveNext()

[2019-06-07 20:14] panchagnula opened #9388 "webapp: Clone command needs to support the Geo-region API updates"
## Description

## Steps to reproduce

[code]

## Environment data

[code]

## Module versions

[code]

## Debug output

[code]

## Error output

[code]

[2019-06-07 20:58] DBrownStratiform opened #9389 "Get-AzStorageFile not pulling properties correctly"
After running get-azstoragefile to grab a file or directory in an Azure Storage Account and then viewing the properties of the result, the properties are missing. I see IsServerEncrypted and Length, but all the other properties are empty. Viewing these properties in the GUI shows they do have values (such as LastModified and ETag).

For example, running the following returns no data for LastModifi

[2019-06-08 00:06] panchagnula opened #9392 "webapp: Update Get-AzureRmWebAppCertificate to use the ArmCache RG filtering when -ResourceGroup parameter is used."
## Description

## Steps to reproduce

[code]

## Module versions

[code]

## Debug output

[code]

## Error output

[code]

[2019-06-08 00:39] #4413 closed

[2019-06-08 00:42] #9261 closed

[2019-06-08 00:48] MiYanni opened #9393 "General reusable C# constructs for generated cmdlets"
## Description
Basically, we'd put some C# code into the generator itself that would be available for all generated cmdlets. These would be reusable methods/classes/etc that help us handle Azure related information in our custom cmdlets. These can include:
- OData handling (create OData string out of components that would be exposed as parameters)
- Certificate creation/handling (cer, pfx, x509, p

[2019-06-08 00:59] markcowl opened #9395 "Update signing process for AzureRM and Azure"
## Description
- [ ] Update the signing process to get up to speed with the latest security guidelines this includes:
  - [ ] Authenticode Signing for PSD1 files using existing Sha-2 signing certs
  - [ ] Authenticode signign for 3rd-party depeneencies using the 3rd party signing cert
- [ ] Update post-build signing validation to include the new file types

## Cost : 4

[2019-06-08 01:00] markcowl opened #9396 "Update Signing process for Az"
## Description
Current Pipeline is [here](https://dev.azure.com/azure-sdk/internal/_build?definitionId=217&_a=summary)
- [x] Install Wix on the worker [wix website](https://wixtoolset.org/
 - [x] Add steps to build, sign, and publish installer
- [x] Update the signing process to get up to speed with the latest security guidelines this includes:
  - [x] Authenticode Signing for PSD1 files using exi

[2019-06-09 23:46] markcowl opened #9399 "Track work for generated Compute Module"
## FIrst Preview Release
### Creation cmdlets **Cost: 10**
- [x] Generate necessary artifacts in other RPs (5)
  - [ ] StorageAccount
  - [ ] NIC
  - [ ] Network
  - [ ] Subnet
  - [ ] NSG
  - [ ] Application Galeway
  - [ ] Load Balancer
- [x] Move Strategies Library to new mibrary dependencies(5)
- [ ] Add common facility to upload VHDs
- [x] **New-AzVM** (5)
  - [x] Create variants for linux an

[2019-06-10 01:28] markcowl commented on #9399
## Blocking Issues
- [Model directives failing](https://github.com/Azure/autorest.powershell/issues/353)
- Model Flattening bugs
  - [348](https://github.com/Azure/autorest.powershell/issues/348)
  - [347](https://github.com/Azure/autorest.powershell/issues/347)
  - [346](https://github.com/Azure/autorest.powershell/issues/346)
- [Clashing pipeline usage for Set cmdlets](https://github.com/Azure/a

[2019-06-10 01:29] markcowl commented on #9399
## Remaining Work

### Additional Scenarios
- [ ] Blob upload for VM creation **Size: 10**
### Waiting for Generator XML Support
- [ ] Get-AzRemoteDesktopFile **Size: 2**
  - [ ] Switch output to file system

### Typed VM Extension cmdlets **Size: XL**
- [ ] Get-AzVMAccessExtension
- [ ] Get-AzVMADDomainExtension
- [ ] Get-AzVMAEMExtension
- [ ] Get-AzVMBootDiagnosticsData
- [ ] Get-AzVMChefExtens

[2019-06-10 01:29] markcowl commented on #9399
## Other Differences

### Added cmdlets (previously hidden functionality)
- ConvertTo-AzVmssSinglePlacementGroup
- Get-AzVmssExtension
- Invoke-AzVMPerformMaintenance
-  New-AzVMExtension
-  New-AzVmssExtension
-  Remove-AzVmssInstance
-  Remove-AzVmssVM
-  Restart-AzVmssVM
-  Set-AzAvailabilitySet
-  Set-AzDisk
-  Set-AzImage
-  Set-AzProximityPlacementGroup
-  Set-AzSnapshot
-  Set-AzVmssExtensi

[2019-06-10 01:48] blueww commented on #9368
@niander
I might lost in this issue.
Could you give some background for:

- Why we need "Storage.Management"?

- What's the relationship of it and Az.Storage?

[2019-06-10 02:29] blueww commented on #4649
@MCrank
Thanks for the information!
We will continue investigate the issue.

[2019-06-10 03:38] blueww commented on #9389
@DBrownStratiform

This is because not all the file properties will be returned in list File currently  (such as LastModified and ETag won't return).
You can run FetchAttributes() on each of the listout files to get the information.

We don't add FetchAttributes() to the Get-AzStorageFile cmdlet, since it need to run on each item, and will take long time if list out many items.

Following is a sam

[2019-06-10 08:49] #5635 closed

[2019-06-10 08:50] Rajeswari-Mamilla commented on #5635
ASR module has been merged with RecoveryServices in Az module

[2019-06-10 08:51] Rajeswari-Mamilla commented on #5640
Worked with @viverm and has been resolved.

[2019-06-10 08:51] #5640 closed

[2019-06-10 08:53] Rajeswari-Mamilla commented on #6293
Closing as the issue could not be reproduced and there has been no activity for the past 1 year

[2019-06-10 08:53] #6293 closed

[2019-06-10 08:55] Rajeswari-Mamilla commented on #7128
Closing as solution has been provided by @viverm . It will also work fine with latest Az module

[2019-06-10 08:55] #7128 closed

[2019-06-10 08:56] Rajeswari-Mamilla commented on #7564
Closing as issue is resolved

[2019-06-10 08:56] #7564 closed

[2019-06-10 09:00] Rajeswari-Mamilla commented on #4950
Closing the issue as explanation as relevant documents are shared by bsiva. Please reopen the issue in case of any follow-up questions

[2019-06-10 09:00] #4950 closed

[2019-06-10 13:58] shawnparslow commented on #9316
@markcowl yes, the script sets the ```$global:ErrorActionPreference = "Stop"``` variable at the beginning.   We noticed this behavior shortly after converting from AzureRM to Az so I thought it might be something in Az however we have not seen the error again.  I am unfortunately unable to go back an enable debugging to repeat since it happened in CI/CD so I apologize if there is insufficient info

[2019-06-10 14:22] bill-barron commented on #9383
@markcowl I believe I have provided all the additional info you requested, but please let me know if I can be of further assistance. Thanks!

[2019-06-10 15:23] danrich0 commented on #8410
Hi, any update on this? It was raised 6 months ago? Thanks

[2019-06-10 15:26] markcowl commented on #9389
Closing as resolved. Please let us know if you are still seeing an issue.

[2019-06-10 15:26] #9389 closed

[2019-06-10 15:27] DBrownStratiform commented on #9389
Thank you. That’s what I was missing!

From: Wei Wei <notifications@github.com>
Sent: Sunday, June 9, 2019 9:42 PM
To: Azure/azure-powershell <azure-powershell@noreply.github.com>
Cc: Darrell Brown <Darrell.Brown@stratiform.ca>; Mention <mention@noreply.github.com>
Subject: Re: [Azure/azure-powershell] Get-AzStorageFile not pulling properties correctly (#9389)

@DBrownStratiform<https://can01.safe

[2019-06-10 16:02] tksh164 opened #9402 "Setup: Cannot install by MSI installer without .NET Framework 3.5"
## Description

Cannot install the Az module by the MSI installer (Az-Cmdlets-2.2.0.28110-x64.msi) without .NET Framework 3.5. The installer ended with the following message.

![PSAzModuleIssue](https://user-images.githubusercontent.com/1618784/59206852-c7a62380-8be0-11e9-8e25-ed7d2e55c257.png)

After install/enable .NET Framework 3.5, the Az module MSI installer works successfully.

At least, thi

[2019-06-10 16:39] markcowl commented on #8952
Complete

[2019-06-10 16:39] #8952 closed

[2019-06-10 16:40] markcowl commented on #9374
Fix checked in - should be available next release

[2019-06-10 16:40] #9374 closed

[2019-06-10 16:42] markcowl commented on #9287
Resolved in #9331

[2019-06-10 16:42] #9287 closed

[2019-06-10 16:49] markcowl commented on #8581
@eamonoreilly Is there any current mechanism for adding modules outside 'Az'?

@alujones this is really a question about the capabilities of azure functions service, so this may not be the best palce to get a good answer, but assignign to @dcaro to see if we cna find a good documentation solutionf ro this.

[2019-06-10 16:52] markcowl commented on #9353
@qaaditya Closing, as this looks like the solution.  If you have any further issues, please feel free to open  new issue.

[2019-06-10 16:52] #9353 closed

[2019-06-10 16:53] markcowl commented on #9376
@bnc-aymen-guellala Ping?  This extra information is critical to resolving the issue

[2019-06-10 16:57] markcowl commented on #9383
@bill-barron  If you set `$DebugPreference="Continue"` before running `Get-AzureRmAppServicePlanMetrics`   do you see any output other than the stack tarace you provided.  Specifically, cmdlets will generally pring the request and the provided response, if client/server communciation occurs.  Those would be really useful (if they occur) in resolving the issue.

[2019-06-10 17:20] insearchof1230 commented on #8983
do you have an ETA on when this change will ship?

[2019-06-10 17:31] jlouie1 commented on #8827
@viverm - Any progress?  I'm using Az module 2.2.0 and it's still broken.

[2019-06-10 17:35] cormacpayne commented on #8983
The fix has been merged and will be available in the new version of `Az` released on 2019-06-18

[2019-06-10 17:43] viverm commented on #8827
Is it VMware to Azure replicating to managed disk scenario ?
With current powershell version it is not supported.

we have active PR to https://github.com/Azure/azure-powershell/pull/9304  to the ASR preview module.
Changes will be available soon in public preview module.

[2019-06-10 17:43] bnc-aymen-guellala commented on #9376
`` Powershell
$DebugPreference = 'Continue'

# $tenantName is OK , cloudbnc is KO
@("devbnc", "cloudbnc") | ForEach-Object {
    $tenantName = $_

    # Clear Az Context
    Write-Host "[$tenantName.onmicrosoft.com] Clear Az context"
    while (Get-AzContext) { Disconnect-AzAccount }
    Clear-AzContext

    Write-Host "[$tenantName.onmicrosoft.com] Connect Azure AD"
    $cred = Import-Clixml "$en

[2019-06-10 17:50] jlouie1 commented on #8827
Yes, VMware to Azure using ASR.  This cmdlet has worked in the past and now I have no way of setting ASR recovered VM settings except via the web portal at this point.

[2019-06-10 17:57] markcowl commented on #9368
@blueww this is work for the generated cmdlets that support profiles, We discussed this with @vincent81-jiang breifly and will be reaching out to service teams with specifics later this year.

[2019-06-10 18:05] eamonoreilly commented on #8581
You should be able to add the Az.ResourceGraph by following the below steps.

1) Make sure manageddependency is enabled on the function app.
{
  "version": "2.0",
  "managedDependency": {
    "enabled": true
  }
}
2) Save the Az.ResourceGraph to the modules folder at the root of the function app
mkdir modules
Save-Module Az.ResourceGraph .\modules

You can then use the managed identity (https://do

[2019-06-10 18:05] panchagnula commented on #9383
this command is no-longer supported & the recommendation is to use the  Get-AzMetric instead see this for more details https://github.com/Azure/azure-powershell/issues/8975

[2019-06-10 18:07] MiYanni commented on #8865
# Progress
## Cycle 1
- Normalized some naming patterns for cmdlets to help match prior cmdlets
- Mapped any `Invoke` cmdlets to properly named cmdlets
- Added missing parent resource names to the start of some cmdlet names
- Identified a few cmdlets that need to be merged together

## Cycle 2
- (80% done) Going through missing cmdlets and seeing how they map to generated, or aliasing them to `Tes

[2019-06-10 18:27] #8867 closed

[2019-06-10 20:08] niander opened #9405 "Track work for generated Monitor cmdlets"
## Monitor

Obs: Check the file `resources/comparing_modules_notes.md`

### ActivityLog

* `Get-AzActivityLog`
    - [x] Replace `-Filter` with the other parameters:
        * `StartTime`, `EndTime`, `Status`, `Caller`, `CorrelationId`, `ResourceProvider`, `ResourceGroupName`
* `Get-AzTenantActivityLog`
    - [x] Replace `-Filter` with the other parameters:
        * `StartTime`, `EndTime`, `Statu

[2019-06-10 21:46] PinakiIT commented on #9336
Similar issue. Works locally, but OpenAPI specification format is not recognized on Azure DevOps pipeline:
![image](https://user-images.githubusercontent.com/22859415/59229160-f5d43500-8bd9-11e9-9ddc-1b8d9816237f.png)

[2019-06-10 23:12] sptramer commented on #9377
@markcowl @ankushbindlish2 I'm tracking this issue internally now, it should be resolved this week.

[2019-06-11 00:54] bill-barron commented on #9383
Thank you very much!

I spent quite a bit of time reading the following pages. Just my two cents, but a deprecation/obsolete warning would be really helpful here.

https://docs.microsoft.com/en-us/powershell/module/azurerm.websites/get-azurermappserviceplanmetrics?view=azurermps-6.13.0

https://docs.microsoft.com/en-us/powershell/module/az.websites/get-azappserviceplanmetric?view=azps-2.2.0

[2019-06-11 01:02] viverm commented on #8827
@jlouie1  cmdlet would work fine for non managed disk scenario.
Can you add the stack trace [run the cmdlet with -debug] for the issue, it will help in checking the issue is same or not.
we are working on this soon the support will be available. [within ~1 week]

[2019-06-11 02:45] timoconnellaus opened #9407 "Using Set-AzDataFactoryV2Pipeline doesn't set the expression value for the mapping in an activity"
When I create a bulk copy activity using the wizard and then deploy that bulk copy json configuration to a new data factory using the powershell cmd Set-AzDataFactoryV2Pipeline the mapping expression isn't copied across. To replicate:
1/ Use the wizard to create a bulk copy activity
2/ Using the exported json on the pipeline, datasets and linked services configure a new data factory (this is not u

[2019-06-11 09:11] MrMCake opened #9408 "Az.StorageTable has a dependency to AzureRM"
## Description
Installing and importing the latest releases I couldn't help but notice, that Az.StorageTable has a dependency to AzureRM.Profile.
The error message on import was ```The script 'AzStorageTableCoreHelper.psm1' cannot be run because the following modules that are specified by the "#requires" statements of the script are missing: AzureStorage```

Further investigation revleaded the fol

[2019-06-11 10:08] blueww commented on #9408
@MrMCake
The module "Az.StorageTable" is not released from this repo, and not own by our team.

But you can install module "AzureRmStorageTable" 2.0.2 instead of "Az.StorageTable", and the cmdlet name looks like :
Add-AzTableRow, Add-AzTableRow, Get-AzTableRow

This works on my machine with Laster Az.Storage,  Az.Resources module installed.

[2019-06-11 10:20] MrMCake commented on #9408
Thank you @blueww. I was directed to this repository. Sorry for the inconvenience.

[2019-06-11 10:20] #9408 closed

[2019-06-11 12:12] mossywell opened #9409 "Update-AzVm fails with Required parameter 'dataDisk.managedDisk' is missing (null)"
## Description
When running Update-AzVm it returns an error "Required parameter 'dataDisk.managedDisk' is missing (null)" after adding data disks.

## Steps to reproduce

[code]

## Environment data

[code]

## Module versions

[code]

## Debug output

[code]

## Error output

[code]

[2019-06-11 13:38] jlouie1 commented on #8827
Set-AzureRmRecoveryServicesAsrReplicationProtectedItem -InputObject $vminfo01 -LicenseType WindowsServer -NicSelectionType SelectedByUser -PrimaryNic $vminfo01.NicDetailsList.NicId `
            -RecoveryNetworkId /subscriptions/0c4b908f-4c31-4c3e-a3bf-50fdad9a7647/resourceGroups/RG-CRP01-DR01-SCUS-MasterRG/providers/Microsoft.Network/virtualNetworks/VN-DR01-SCUS `
            -RecoveryNicStaticIP

[2019-06-11 14:12] panchagnula commented on #9383
we did make a change to mark this deprecated - unfortunately it is visible only when running specific az modules - i will update the documentation directly to reflect this - this is very valid feedback. I am closing this issue for now.

[2019-06-11 14:12] #9383 closed

[2019-06-11 15:43] johncrim commented on #9241
At a minimum, we should be able to store and access externally generated ECC certs in keyvault using powershell commands. Right now this doesn't work.

To clarify, this command fails with EC certs:
[code]

[2019-06-11 17:18] rthorn17 commented on #9189
This is something we are working on with the subscriptions/ARM team to get enabled.  I don't have a timeline yet, but it is in our backlog.

I will track this on our UserVoice Page
https://feedback.azure.com/forums/911473-azure-management-groups/suggestions/37881133-new-azurermsubscription-missing-argument-to-set-ma

[2019-06-11 17:18] #9189 closed

[2019-06-11 19:16] arpparker opened #9411 "Explanation of the -Force paramater for Remove-AzRecoveryServicesAsrReplicationProtectedItem is incorrect"
The explanation for the -Force parameter is incorrect in the documentation (both online and via PowerShell directly).  There is never an additional warning as the current explanation suggests.

If the command is run without the -Force parameter, a job of type "DisableDr" is run that attempts to disable replication for the target protected item.  If the command is run with the -Force parameter, a j

[2019-06-11 20:12] #8964 closed

[2019-06-11 20:13] panchagnula commented on #9316
we will check this with the new API version changes we are making

[2019-06-11 20:15] panchagnula commented on #9191
This change is merged

[2019-06-11 20:15] #9191 closed

[2019-06-11 20:16] axisc commented on #8389
@Banchio Apologies for the delay in my response.

All messages are ordered on arrival in Azure Service Bus by default. (Arrival order may be different from the order in which the messages were sent by the sender applications.)

If you need to ensure ordering on the messages sent, I recommend using sessions.

Hope this helps.

Closing this for now, please feel free to reopen if there are still ques

[2019-06-11 20:16] #8389 closed

[2019-06-11 20:17] #8716 closed

[2019-06-11 20:19] panchagnula commented on #1286
this should now be fixed.

[2019-06-11 20:19] #1286 closed

[2019-06-11 20:43] panchagnula commented on #3717
@Tino92 and @laanaithossam are you still facing this issue, if so can you please share the info that Ruslan mentioned above " please let us know the web app name and the UTC time when this repro'd recently and we'll take a look." - you can follow this link on how to share this info with us https://github.com/projectkudu/kudu/wiki/Reporting-your-site-name-without-posting-it-publicly

[2019-06-11 21:09] panchagnula commented on #1648
@wolfen351 there is no equivalent ARM command for this - however regarding the IP Addresses for slot  have you tried Get-AzWebAppSlot https://docs.microsoft.com/en-us/powershell/module/Az.Websites/Get-AzWebAppSlot?view=azps-2.2.0, you should see the VirtualIP under "hostNameSslStates"

[2019-06-11 21:09] #1648 closed

[2019-06-11 21:20] falmada opened #9412 "Get-AzOperationalInsightsWorkspaceSharedKey alias will be removed"
## Description

Getting message "Get-AzOperationalInsightsWorkspaceSharedKeys alias will be removed in an upcoming breaking change release" but there is no information on what is expected to be the new expected command to be used.

## Steps to reproduce

[code]
$ Get-AzOperationalInsightsWorkspace -ResourceGroupName RGNAME-Name OMSNAME | Get-AzOperationalInsightsWorkspaceSharedKey
WARNING: Breakin

[2019-06-11 21:26] petr-stupka opened #9413 "Az.GuestConfiguration - add Create, Update, Get, List and Remove assigments Cmdlets"
## Description of the new feature

Please add support for Guest Configurations Assignments in Az.GuestConfiguration powershell module

## Proposed implementation details

Acording to API:
https://docs.microsoft.com/en-us/rest/api/guestconfiguration/guestconfigurationassignments

Get-AzVMGuestAssignment
List-AzVMGuestAssignment
Create-AzVMGuestAssignment
Update-AzVMGuestAssignment
Delete-AzVMGuestA

[2019-06-11 21:39] cormacpayne commented on #9407
@timoconnellaus Would you mind providing the following pieces of information?

(1) The debug stream from running the set of commands (you can set `$DebugPreference` before running the commands to get this)

(2) The list of modules that you currently have installed on your machine -- you can get this by running `Get-Module -ListAvailable`

[2019-06-11 21:41] cormacpayne commented on #9409
@mossywell Would you mind providing the full debug output from the above command? Setting `$DebugPreference="Continue"` before running the above command will give additional logs and the request(s)/response(s) from the server, which is the piece of information we're looking for in this case.

[2019-06-11 21:45] cormacpayne commented on #9411
@viverm Hey Vipin, would you mind taking a look at this and confirming that the description of the `-Force` parameter represents the actual behavior of the cmdlet?

[2019-06-11 21:48] cormacpayne commented on #9412
@falmada the name of the cmdlet moving forward will be `Get-AzOperationalInsightsWorkspaceSharedKey`, which does _not_ contain a plural noun in it's name as the previous cmdlet name (and now alias) did (`Get-AzOperationalInsightsWorkspaceSharedKeys`)

[2019-06-11 22:27] timoconnellaus commented on #9407
[debug.txt](https://github.com/Azure/azure-powershell/files/3278809/debug.txt)

ModuleType Version    Name                                ExportedCommands
---------- -------    ----                                ----------------
Script     1.5.2      Az.Accounts                         {Disable-AzDataCollection, Disable-AzContextAutosave, Enable-AzDataCollection, En...
Script     1.0.1      Az.Ak

[2019-06-11 23:44] JustinGrote opened #9417 "Get-AzContainerInstanceLog -Wait parameter for log streaming"
## Description of the new feature
Add parameter `-Wait` (similar to Get-Content) that will stream the logs of the container, it should implement the behavior of `az container attach`

[2019-06-11 23:46] JustinGrote commented on #9417
Implemented as Get-AzContainerInstanceLog -Tail

[2019-06-12 01:58] blueww commented on #9408
@MrMCake

After contact with the code writer, I get:

The module for Table should be "AzTables" or "AzureRmStorageTable", but not "Az.StorageTable".
"AzTables" should be the formal module name, and the old name "AzureRmStorageTable" is kept since some customers are still using it.
The correct module : https://www.powershellgallery.com/packages/AzTable

To raise the issue for "AzTables" or "AzureRm

[2019-06-12 07:56] t-irali opened #9418 "Unable to load the file or assembly "Newtonsoft.Json" Version 9.0.0"
## Description
I am trying to write Powershell cmdlets for Azure DataBox Service. I have Newtonsoft.Json version 10.0.3 which is needed for DataBox management library. When I run the cmdlet which I created, I am getting an error stating "Could not load file or assembly 'Newtonsoft.Json, Version=9.0.0.0, Culture=neutral, PublicKeyToken=30ad4fe6b2a6aeed' or one of
its dependencies. The system cannot

[2019-06-12 09:17] PinakiIT commented on #9122
Hi readers. I also faced this and discovered this:
`Import-AzureRmApiManagementApi` is from AzureRM module which will not have any more updates, and also right now only living the Bug-fixes cycle.

Having this isssue, I tried the Azure AZ module call :
`Import-AzApiManagementApi`
This will accept a switch of `-SpecificationFormat "OpenApi" `and pass in a JSON or YAML file.

This works just fine lo

[2019-06-12 09:27] MrMCake commented on #9408
@blueww
Hey, thanks for reaching out. I have to admit, the response confuses me a little bit. So AzTables replaces the "old" 'AzureRMStorageTable'.
However, I was referring just to the fact that the 'Az.StorageTable' module refers to an AzureRM module down the line. :P In our project we're just installing all Az.* modules in the BuildAgent and thus came across this issue at importing. I'll raise t

[2019-06-12 12:07] DeepFriedBeer opened #9419 "Get-AzApplicationGatewayBackendAddressPool option for Virtual Machine -BackendVMs ?"
## Description of the new feature
It appears as though the only options for managing Gateway Backend pools is via FQDN or IP Address.  Can there also be an option for Virtual Machine?  I've found managing application gateways via PowerShell much more reliable than using the portal.  I also have servers in an availability set so it would be nice to automate rolling updates.

## Proposed implementat

[2019-06-12 17:05] rmsands commented on #9102
Get-AzResource fails to get the Resource Types microsoft.insights/actiongroups and Microsoft.Network/networkWatchers that are shown in Azure when listing resources in a resource group.

[2019-06-12 21:04] aamalvea commented on #7016
We're sorry that we didn't get back to you in reasonable time frame. If you are still experiencing this issue, please file a new issue and we will respond in 48 hours.

[2019-06-12 21:04] #7016 closed

[2019-06-12 21:13] aamalvea commented on #8700
@maboja-msft Can you take a look at this issue?

[2019-06-12 21:16] #5747 closed

[2019-06-12 21:17] LizMS commented on #5747
This issue has been fixed. Closing the item.

[2019-06-12 21:20] aamalvea commented on #6836
@ayeletshpigelman Can you take a look at this?

[2019-06-12 22:05] maboja-msft commented on #8700
Will take a look early next week when I am back in Redmond.

Thanks,
Magda

From: Aaron Malveaux <notifications@github.com>
Sent: Wednesday, June 12, 2019 2:13 PM
To: Azure/azure-powershell <azure-powershell@noreply.github.com>
Cc: Magda Bojarska <maboja@microsoft.com>; Assign <assign@noreply.github.com>
Subject: Re: [Azure/azure-powershell] Az.Sql: Get-AzSqlDatabaseFailoverGroup Does Not Return V

[2019-06-12 22:23] jaredmoo commented on #5645
Sorry for not replying to this earlier, it was fixed for Get-AzureRmSqlDatabase last year in https://www.powershellgallery.com/packages/AzureRM.Sql/4.5.0 .

Get-AzureRmSqlDatabaseExpanded however is not fixed.

For Get-AzureRmResource, make sure you are getting database using api-version 2017-03-01-preview or later - that will fix the case sensitivity issue.

[2019-06-12 22:27] #5645 closed

[2019-06-12 23:03] jackfruh commented on #5645
Fantastic,
So in summary, Get-AzSqlDatabaseExpanded isn't fixed, but an updated get-AzResource will now return things in the same case they are stored as internally within azure?

[2019-06-13 00:58] panchagnula commented on #8907
A fix for this has been checked in & batch deployment is in progress & current ETA for completion is 7/1

[2019-06-13 01:49] blueww commented on #9408
@MrMCake
The old module name is 'AzureRMStorageTable', and new name is "AzTables".
Anyway, both of them works now.

If you want to install all Azure Powershell module (module from this repo), please install with "install-moduel Az", instead of install all modules whose name start with "Az".

BTW, as I know the module writer of "AzTables" , is asking the owner of 'Az.StorageTable' module  to  unpub

[2019-06-13 04:07] #8907 closed

[2019-06-13 06:01] jaredmoo commented on #5645
Get-AzResource isn't specifically updated, you just need to be using high enough api-version when getting database.

[2019-06-13 08:04] barker1889 opened #9422 "InvalidApiVersionParameter response for New-AzScheduledQueryRule command"
## Description
When using the New-AzScheduledQueryRule command, azure is responding with a bad request error:
[code]

## Steps to reproduce

[code]

## Environment data

[code]

## Module versions

[code]

## Debug output

[code]

## Error output

[code]

[2019-06-13 11:47] murakest opened #9423 "Az.StorageSync: Can't create cloud endpoint using powershell"
## Description
[code]
## Steps to reproduce
[code]
## Environment data

[code]
## Module versions

Directory: userHomePAth\Documents\WindowsPowerShell\Modules
[code]
## Debug output

[code]

## Error output

[code]

[2019-06-13 17:24] v-Ajnava commented on #4938
I have updated the help message of MaxSizeInMegabytes parameter with "MaxSizeInMegabytes - the maximum size of the queue in megabytes, which is the size of memory allocated for the queue.Default is 1024. Max for Standard SKU is 5120 and for Premium SKU is 81920, Allowed values : 1024, 2048, 3072, 4096, 5120, 10240, 20480, 40960, 81920"

[2019-06-13 17:26] v-Ajnava commented on #4938
changes are merged and will be in avaliable in release scheduled on  06/18/2019

[2019-06-13 17:59] markcowl commented on #9423
@ankushbindlish2 Can you take a look?

[2019-06-13 18:11] markcowl commented on #9413
@vivlingaiah @mgreenegit Can you take  a look?

[2019-06-13 18:19] markcowl commented on #9418
I think you are trying to add a module to AzureRM, rather than Az, which is no longer in active development.

Please file a cmdlet review here:  https://github.com/azure/azure-powershell-cmdlet-review-pr/issues and let's have an onboarding meeting about your service.

[2019-06-13 18:19] #9418 closed

[2019-06-13 18:21] markcowl commented on #9419
@MikhailTryakhov Can you take a look?

[2019-06-13 18:26] markcowl commented on #9422
@gucalder can you take  a look?

@barker1889 It looks like this api-version has not yet landed in this data center.  Using an earlier version of the Monitor cmdlets would likely resolve this.

[2019-06-13 18:29] markcowl commented on #9417
@yangl900 @jluk Can you take a look?

[2019-06-13 18:37] jluk commented on #9417
@maertendMSFT and @edyoung are the new ACI owners, updating assignment to them.

[2019-06-13 18:57] ankushbindlish2 commented on #9423
Please check if you are passing guid without curly braces - $storageAccountTenantId

New-AzStorageSyncCloudEndpoint -ResourceGroupName $resourceGroup -StorageSyncServiceName "storagesyncname" `
-SyncGroupName "storagesyncgroup" -Name "myCloudEndpointName" -StorageAccountResourceId $storageAccountResourceId `
-AzureFileShareName "sharename" -StorageAccountTenantId $storageAccountTenantId.ToString()

[2019-06-13 19:14] murakest commented on #9423
Hello, if I am not using curly bracket then I am getting error cannot convert string to system.guid type. I'll provide error tommorow once I am at work if needed.

[2019-06-13 20:25] akrytus opened #9424 "Set-AzureRmVMBootDiagnostics is not recognized as the name of a cmdlet"
I am getting this error from the Azure portal CloudShell.   I have used this command in the past but today it doesnt work.  I have tried it in different subscriptions and directories with no avail.

[2019-06-13 20:28] akrytus commented on #9424
I also tried installing the AzureRM.Compute module but that didnt help either.

[2019-06-14 00:37] NarayanThiru commented on #5952
We already have a cmdlet for [Delete](https://docs.microsoft.com/en-us/powershell/module/azurerm.automation/Remove-AzureRmAutomationHybridWorkerGroup?view=azurermps-6.13.0)

[2019-06-14 00:37] #5952 closed

[2019-06-14 00:38] nitinbps commented on #7129
This issue has been fixed in Az.Automation version 1.1.1.

[2019-06-14 00:38] #7129 closed

[2019-06-14 00:48] nitinbps commented on #7123
This works correctly on latest release (Az.Automation, 1.1.1).

[2019-06-14 00:48] #7123 closed

[2019-06-14 00:49] nitinbps commented on #4410
Does not meet the customer bar hence closing it.

[2019-06-14 00:49] #4410 closed

[2019-06-14 00:51] nitinbps commented on #1816
Does not meet the customer bar as no impact has been reported on the customer.

[2019-06-14 00:51] #1816 closed

[2019-06-14 00:51] nitinbps commented on #4677
Does not meet the customer bar as no impact on the customer

[2019-06-14 00:51] #4677 closed

[2019-06-14 00:52] nitinbps commented on #5048
Does not meet the customer bar as no impact on customer.

[2019-06-14 00:52] #5048 closed

[2019-06-14 00:57] nitinbps commented on #2373
Does not meet customer bar as no functional impact.

[2019-06-14 00:57] #2373 closed

[2019-06-14 01:05] NarayanThiru commented on #3850
This has been fixed in a newer version.

[2019-06-14 01:05] #3850 closed

[2019-06-14 01:14] NarayanThiru commented on #5241
This has been fixed in a newer version.

[2019-06-14 01:14] #5241 closed

[2019-06-14 01:22] nitinbps commented on #4753
Streams 'Any' need to be specified in order to get all streams. get-help Get-AzAutomationDscCompilationJobOutput  -Detailed would show the usage.

[2019-06-14 01:22] #4753 closed

[2019-06-14 01:27] nitinbps commented on #5281
Closing since customers have to use Az commands.

[2019-06-14 01:27] #5281 closed

[2019-06-14 01:36] nitinbps commented on #2196
Duplicate of https://github.com/Azure/azure-powershell/issues/1804

[2019-06-14 01:36] #2196 closed

[2019-06-14 01:37] nitinbps commented on #3814
Can not see this issue on Az.Automation version 1.1.1

[2019-06-14 01:37] #3814 closed

[2019-06-14 01:40] nitinbps commented on #6899
Issue is fixed.

[2019-06-14 01:40] #6899 closed

[2019-06-14 01:52] nitinbps commented on #9107
Not able to repro on latest version of cmdlets (Az.Automation 1.2.2)

[2019-06-14 01:52] #9107 closed

[2019-06-14 02:49] markcowl commented on #9424
Yes, this is an issue with the `Enable-AzureRmAlias` automatic aliases. It is fixed in the version about to be released.

Meanwhile, you can fix the issue by running:

[code]

or by running `Set-AzVmBootDiagostic` with the same parameters you are used to using.

[2019-06-14 02:49] #9424 closed

[2019-06-14 03:36] killa1218 commented on #1665
Guys, this is 2019 now. And the problem still remains?

[2019-06-14 04:27] t-irali commented on #9418
@markcowl The link given is not working. It says page not found

[2019-06-14 06:48] murakest commented on #9423
@ankushbindlish2 I have added error that I get if curly brackets are not used for $storageAccountTenantId
East US region also has the same error for me trying to deploy file sync cloud endpoint.

[2019-06-14 07:15] ankushbindlish2 commented on #9423
@murakest  There is an extra B in guid. Try this or a valid tenant id.
$storageAccountTenantId = "BBBBBBBB-AAAA-DDDD-EEEE-EEGGGGGGGGGG"

[2019-06-14 07:30] murakest commented on #9423
@ankushbindlish2 thank you very much, it solved my error. Case can be closed, but I want to ask as future improvements can a better error handling option to be added for end users as I took a lot of hours to troubleshoot this error for me, but it was just simple typo error for extra character.  This error "Error converting value "BBBBBBBBB-AAAA-DDDD-EEEE-EEGGGGGGGGGG" to type 'System.Guid'" does n

[2019-06-14 07:35] ankushbindlish2 commented on #9423
Glad it worked out. Yes, Already created item internally for it. Thanks again for your feedback.

[2019-06-14 07:36] #9423 closed

[2019-06-14 08:29] J0F3 opened #9427 "Login with Device Code and activated Conditional Access does not work"
## Description
When a Conditional Access Policy is configured in the Azure AD which requires for example MFA the Connect-AzAccount fails on PowerShell Core 6 or whenever it uses the Device Login/Code workflow.
Actually not sure if this should be the intended result or if this is a bug in the Module or elsewhere.

## Steps to reproduce

1. Configure an Conditional Access Policy in the Azure AD to e

[2019-06-14 10:51] ToMakeSense opened #9428 "Creating WSDL API with Import-AzApiManagementApi cmdlet should include displayName"
## Description
Creating **WSDL** API on the Azure portal changes the displayName automatically, for example, if use **"Wsdl.XML.V1"** as displayName  name,  when it's done. the actually displayName is **"wsdl-xml-v1"**.  That's to say,  "." is changed to "-",  upper chars are changed to low case.

And Import-AzApiManagementApi cmdlets can't set displayName, have to use Set-AzApiManagementApi to se

[2019-06-14 10:59] barker1889 commented on #9422
@markcowl Thanks for the response. I've tried downgrading the Az.Monitor module using this [https://www.powershellgallery.com/packages/Az.Monitor/1.0.0](https://www.powershellgallery.com/packages/Az.Monitor/1.0.0) but it appears that the commands I'm running were introduced in 1.2.0 (at least they can't be found in the previous version 1.1.0) which fails with the same bad request error.

Given the

[2019-06-14 11:12] ToMakeSense commented on #9428
The issue is also existed on the Azure portal

[2019-06-14 11:17] t-irali commented on #9418
I think the problem was that I was running the cmdlet on Windows Powershell rather than on Powershell Core. It works percfectly fine on Powershell Core 6.0

[2019-06-14 12:02] SquirrelAssassin commented on #1665
But wait there’s more, for a limited time only can you use azurerm.  Microsoft is abandoning azurerm. So get your bug fixes in while you can because you only get bug fixes up through at least December 2020

https://docs.microsoft.com/en-us/powershell/azure/new-azureps-module-az?view=azps-2.2.0

[2019-06-14 13:18] artisticcheese commented on #9225
My project is on hold until this is fixed and available publicly. Which version it will go into?

[2019-06-14 15:32] gardner8689 commented on #4917
Wondering if there has been any update to this? We have a use case for having the scriptblock option.

[2019-06-14 16:36] andyw248 commented on #178
Re. feature request 1: The cost for an automation account can be viewed from the Azure portal: Navigate to cost analysis, filter by resource type microsoft.automation/automationaccount.
Re. feature request 2: Since 2018, all automation accounts are created in the "basic" pricing tier.

[2019-06-14 16:36] #178 closed

[2019-06-14 16:42] andyw248 commented on #7122
The documentation article at: https://docs.microsoft.com/en-us/azure/automation/automation-runbook-execution#where-to-run-your-runbooks explains some limitations that apply when running runbook jobs on sandboxes in the cloud. Following the documentation article at: https://docs.microsoft.com/en-us/azure/storage/scripts/storage-common-transfer-between-storage-accounts, it might be possible to use A

[2019-06-14 16:42] #7122 closed

[2019-06-14 19:35] markcowl commented on #9337
Fix is checkled in, should be available 6/18

[2019-06-14 19:35] #9337 closed

[2019-06-14 19:46] ikanni commented on #6711
@KirkMunro. I assume your issue is resolved and I am closing this issue. If u need further assistance please reopen the issue.

[2019-06-14 20:03] markcowl commented on #9376
@bnc-aymen-guellala Thanks for the extra info.  This looks like precisely the second issue, which is that your guest invitation in the second tenant: 72f988bf-86f1-41af-91ab-2d7cd011db47  actually returns a different user display name than you logged in with.  Since this account is clearly a guest in this tenant, this is almost certainly because you accepted a guest invitation using a different se

[2019-06-14 20:03] #9376 closed

[2019-06-14 20:04] markcowl commented on #9369
Closing for lack of response.  Please open a new issue with the requested information if you are still seeing an issue.

[2019-06-14 20:04] #9369 closed

[2019-06-14 20:05] markcowl commented on #4938
Cloaing as the fix is merged

[2019-06-14 20:05] #4938 closed

[2019-06-14 21:45] #6711 closed

[2019-06-14 22:00] ikanni commented on #4777
Adding Create Azure Run As Account to New-AzAutomationAccount is not possible due to current design.
As a workaround, please use the PowerShell script documented  https://docs.microsoft.com/en-us/azure/automation/automation-create-runas-account
Closing the issue.

[2019-06-14 22:17] markcowl commented on #9427
@J0F3 What browser are you using to bring up the device authentication page, and what are the broswer settings?

Device login *does* work with MFA require (it is required for my login), so I'm curious what the special setting is that is causing a problem in this case.

After you enter the code on the device code login page, you are taken to a page that is controlled by your STS to login, does this

[2019-06-14 22:44] #4777 closed

[2019-06-14 22:51] andyw248 commented on #5695
By design according to triage.

[2019-06-14 22:51] #5695 closed

[2019-06-15 17:04] ucphger opened #9430 "Can't install PowerShell Az - Cannot convert value "2.0.0-preview" Windows 10"
I updated PowerShellGet "Install-Module -Name PowerShellGet -Repository PSGallery -Force" but still can't install Module AZ. Any idea?

PackageManagement\Install-Package : Cannot convert value "2.0.0-preview" to type "System.Version". Error: "Input string was not in a correct format."
At C:\Program Files\WindowsPowerShell\Modules\PowerShellGet\1.0.0.1\PSModule.psm1:1809 char:21
+ ...          $nul

[2019-06-15 17:18] andyw248 commented on #5607
Triaged: No repro with Az cmdlet. Closing.

[2019-06-15 17:18] #5607 closed

[2019-06-15 17:20] andyw248 commented on #2265
Triaged: No repro with Az cmdlet. Closing.

[2019-06-15 17:20] #2265 closed

[2019-06-15 17:22] andyw248 commented on #4499
Triaged: By design - backslash needs to be escaped. Closing.

[2019-06-15 17:22] #4499 closed

[2019-06-15 17:23] andyw248 commented on #4496
Triaged: No repro with Az cmdlet. Closing.

[2019-06-15 17:23] #4496 closed

[2019-06-15 17:41] andyw248 commented on #3398
Triaged: Workaround provided. Closing.

[2019-06-15 17:41] #3398 closed

[2019-06-15 17:43] andyw248 commented on #5180
Triaged: No known customer complaints. Not fixing.

[2019-06-15 17:43] #5180 closed

[2019-06-15 17:44] andyw248 commented on #2187
Triaged: Az cmdlet has both. Graph has been preserved for backward compatibility. Resolved.

[2019-06-15 17:44] #2187 closed

[2019-06-15 17:46] andyw248 commented on #1640
Triaged: Won't add the requested feature.

[2019-06-15 17:46] #1640 closed

[2019-06-15 17:48] andyw248 commented on #5578
Triaged: Needs more investigation, potentially in issue at the sandbox layer.

[2019-06-15 17:50] andyw248 commented on #8882
Triaged: Closing because of no known customer cases.

[2019-06-15 17:50] #8882 closed

[2019-06-15 17:52] andyw248 commented on #5217
Triaged: Considering adding documentation.

[2019-06-15 17:53] andyw248 commented on #8600
Triaged: No repro. Closing.

[2019-06-15 17:53] #8600 closed

[2019-06-15 18:10] andyw248 commented on #1803
Triaged: Bug filed.

[2019-06-15 18:37] Limp-monkey opened #9431 "New-AzDataFactoryV2Pipeline creates corrupt pipeline if it contains a lookup to SQL Server dataset with Table "None""
## Description

The issue starts with the fact that it’s possible to create a dataset in Azure Data Factory, which is a SQL server MI dataset, which doesn’t point to any table.
![image](https://user-images.githubusercontent.com/45358832/59555018-67323000-8fac-11e9-91f1-ef084a89351d.png)
This is possible to do in the portal, but not with PowerShell scripts, and I believe it’s a bug as indicated her

[2019-06-16 09:49] J0F3 commented on #9427
@markcowl I used different browsers, I tried Chrome, Edge and Internet Explorer. The browser settings are also pretty much default. (no proxy
 set or so). The part in the browser works actually perfectly, I enter my username get redirected to the ADFS site of my company where I enter the password and finally I make the MFA login which all works without any problems. But then when it says that you

[2019-06-16 12:33] ayeletshpigelman commented on #6836
It is by design since the user doesn't supply the storage key.
We allow enabling ADS policy without storage account using Enable-AzSqlServerAdvancedDataSecurity command. Moreover, I will add an option to run Set-AzureRmSqlServerThreatDetectionPolicy without storage account since it is supported in the backend.

[2019-06-17 06:42] ToMakeSense commented on #9430
You should install the latest version of PowerShellGet, but from the log, you didn't install it succuessfully.

The latest version is **2.1.4**, however yours was still **1.0.0.1** when you were installing Az module.

[code]

[2019-06-17 12:11] DBojsen opened #9436 "Issue with Set-AzDataFactoryV2Dataset and Data Lake Gen2 datasets"
I know I should be switching to the Az commands instead, but I have validated that the issue exists with those as well.

With some dataset types for ADL Gen2, the Set-AzDataFactoryV2Dataset cmdlet returns succes, and the datasets are also populated, but do not show up in the ADF UI.
However, if I view the network traffic with Google Chrome developer tools, I can see that they are added to the list

[2019-06-17 17:02] cormacpayne commented on #9430
Kevin (@ToMakeSense) is correct -- you will need the latest version of `PowerShellGet` (or at least version 1.6.0) to resolve this issue. Running `Install-Module -Name PowerShellGet -Repository PSGallery -Force` should install the latest version of this module for you.

For more information on why this error is occurring, please see [this comment](https://github.com/Azure/azure-powershell/issues/9

[2019-06-17 17:02] #9430 closed

[2019-06-17 17:03] cormacpayne commented on #9428
@solankisamir Hey Samir, would you mind taking a look at this issue?

[2019-06-17 17:05] cormacpayne commented on #9431
@hvermis @zhangyd2015 would you mind taking a look at this issue?

[2019-06-17 17:06] cormacpayne commented on #9436
@hvermis Hey Hermine, would you mind taking a look at this issue?

[2019-06-17 17:14] MiYanni commented on #5180
@andyw248 This will be fixed in the generated cmdlets.

[2019-06-17 17:24] hvermis commented on #9431
This is because SqlServerSource is not released in Powershell SDK yet.

[2019-06-17 17:29] hvermis commented on #9431
As a workaround you can use New-AzResource instead ADF resource creation cmdlets, or ARM template deployment cmdlets.
Here's a sample for New-AzResource:
$dataset = Get-AzResource -ResourceType "Microsoft.DataFactory/factories/datasets" -ResourceGroupName ans-data-factory -Name "ans-prod-v2/DelimitedText1" -ApiVersion "2018-06-01"

$newsonPropertiesStringFromFile = ConvertTo-Json $dataset.Properti

[2019-06-17 18:19] ikanni commented on #5862
Thank you for reporting this issue.  I am sorry, we won't be fixing this issue. I am closing this request.

At this point the workaround is removing and re-creating the connection.

**Please follow the below steps for workaround**

You can work around this issue by get, update applicationId, delete and create new. Please check the below. I am sorry about lot of lines of code.  I could not find a v

[2019-06-17 18:39] dcaro opened #9440 "Create a cmdlet to make a generic call to REST API (Invoke-AzRestMethod)"
## Description of the new feature
Create a cmdlet to be able to make a generic call to Azure REST API.
This would enable operations on resources for which a module does not exist yet.

Similar issues are:
#2200
#3806

[2019-06-17 18:50] solankisamir commented on #9428
ack!

[2019-06-17 19:21] thomaslp86 commented on #4804
Is there a workaround to deleting a resource group that has an RSV which contains backup items which cannot be accessed because the VM was deleted? For context: I installed a Backup Agent on a VM; later deleted the VM without stoping backup. Now it cant delete the vault as it still shows that there're backup items though the VM has been deleted and there's no way I cant access the VM to stop the b

[2019-06-17 19:23] Bpoe commented on #5695
This is expected behavior for PowerShell. You can see this in action on your local machine by running this script:

`(@{ Foo = "bar"; Bar = "foo"} | ConvertTo-Json | ConvertFrom-Json).GetType()`

[2019-06-17 20:12] solankisamir commented on #9350
The safer workaround to the problem is this

[code]

[code]

[code]

[code]

@tobitux do you agree!
@markcowl  FYI

[2019-06-17 20:15] #9058 closed

[2019-06-17 20:16] solankisamir commented on #9058
[package](https://www.powershellgallery.com/packages/Az/2.1.0)
[documentation](https://docs.microsoft.com/en-us/powershell/module/az.apimanagement/?view=azps-2.1.0#api_management)
[releasenotes](https://github.com/Azure/azure-powershell/releases/tag/v2.1.0-May2019)

[2019-06-17 21:13] 4c74356b41 commented on #4804
@thomaslp86 https://stackoverflow.com/questions/55187730/is-there-a-method-using-powershell-to-remove-a-backup-item-from-within-a-vault

[2019-06-17 21:14] solankisamir commented on #9336
@Danlewis3 acknowledge this as a bug in the Backend. The Url can currently be overridden by a property `BackendUrl` in the Contract, which we have not exposed.

We should have re-used an existing property `ServiceUrl`. We are working on a fix in the Backend.

     'format': 'openapi+json',
     'value':  open api doc inline,
     'path': 'testapi112111',
     'backendUrl' : 'ServiceUrl should come

[2019-06-17 21:17] solankisamir commented on #9350
Feel free to reactivate, if you don't agree with the resolution

[2019-06-17 21:17] #9350 closed

[2019-06-17 21:31] solankisamir commented on #9428
Why cant you update the WSDL file before importing it?
This looks like a Feature Request in the Import API. Please open a new item on aka.ms/apimwish

[2019-06-17 21:31] #9428 closed

[2019-06-17 22:46] solankisamir commented on #8671
This is possible in the REST API. Will work on adding support in Powershell

[code]

[2019-06-17 23:22] mentat9 commented on #8980
This is fixed in https://github.com/Azure/azure-powershell/pull/9441. Please take a look and comment or approve.

[2019-06-17 23:22] #8980 closed

[2019-06-18 00:07] solankisamir commented on #9336
This is not related to this issue. Please update your Az.ApiManagement module

[2019-06-18 03:52] ToMakeSense commented on #9428
@cormacpayne   @solankisamir  I may not express it clearly, sorry.

This is the place I want to emphasize. I am not sure if **Import-AzApiManagementApi** can have parameters `-Name`  and `-Description` like Set-AzApiManagementApi, in this way. we don't have to combine them to get things done.

Leave the API(not only WSDL) as it-is is very common, it is supplied by other people, when it's imported

[2019-06-18 06:16] Borkason opened #9445 "Username/password authentication should be supported"
As I understand, I cannot use Connect-AzAccount with username and password. Instead I have to use device authentication. But leaving the console session to browser to a web page to enter a code is not very user friendly. I very much prefer to enter my credentials in the terminal, preferably via a credentials object (Get-Credential).

[2019-06-18 06:51] mikkokok opened #9446 "Get-AzPolicyState returns Object reference not set to an instance of an object."
## Description
Get-AzPolicyState returns Object reference not set to an instance of an object. This only happens with the latest version of Powershell 6. Worked fine with PSVersion 6.1.2

## Steps to reproduce

[code]

## Environment data

[code]

## Module versions

[code]

## Debug output

[code]

## Error output

[code]

[2019-06-18 08:13] Limp-monkey commented on #9431
thanks, I think I got it to work for the pipelines using those datasets too.
Any chance for a timeline on SqlServerSource?

Also, this brings me to another question - we're trying to use powershell to automate as much provisioning as possible, but seems we're always running into issues with versions, like:

1. SqlServerSource is not released in Powershell SDK yet.
2. AzureRM doesn't handle delete

[2019-06-18 09:24] pixelicous commented on #1665
Been tracking this for a while, now I have the same problem.. Anyone from MS going to handle it?

[2019-06-18 09:27] skrivopishin commented on #8513
Add-Type -Path "/usr/local/share/powershell/Modules/Az.Profile/PreloadAssemblies/Microsoft.IdentityModel.Clients.ActiveDirectory.dll"

[2019-06-18 10:19] viverm commented on #8358
Closing as no current action required on this. For the Naming suggestion we will take a look want can be done on it .

[2019-06-18 10:19] #8358 closed

[2019-06-18 10:21] viverm commented on #5612
Changes added in powershell response

[2019-06-18 10:21] #5612 closed

[2019-06-18 10:52] PinakiIT commented on #9336
@solankisamir This is a Azure DevOps release pipeline step screenshot Iv'e sent. How do I update a module here, and even if iti s possible, how do I avoid it to be "updated" every release trigger?. I believe there should be like a new release step agent altogether that does not include the AzureRM module by default, and using the correct Azure AZ modules.

[2019-06-18 12:42] arpparker opened #9448 ""Your Azure credentials have not been set up or have expired, please run Connect-AzAccount to set up your Azure credentials" when passing Azure context to Start-Job"
## Description
This issue is very similar to several previous issues [here](https://github.com/Azure/azure-powershell/issues/7110), [here](https://github.com/Azure/azure-powershell/issues/7456), and [here](https://github.com/Azure/azure-powershell/pull/7949).  When passing the current Azure context to the Start-Job command, the first job that completes will often fail with the error message, "Your

[2019-06-18 13:18] bwarren18 opened #9449 "Set-AzResource fails to add Tags for disk: NotFound : The entity was not found in this Azure location."
## Description
We've had this issue with adding Tags to a few disks in our subscription since AzureRM and with the latest Az module.  We're propagating tags from resource groups to sub resources . It works for thousands of resources of different types, just a few resources (all disks) are failing with the following error:

Set-AzResource : NotFound : The entity was not found in this Azure location

[2019-06-18 13:40] matebarabas opened #9450 "Test-AzResourceGroupDeployment cmdlet only returns a limited subtset of its results in the details attribute"
## Description

Test-AzResourceGroupDeployment cmdlet only returns a limited subset of its results in the details attribute of the returned object. The exact count of these entries varies between 8 and 10.  This is problematic when testing Azure Policies with Pester that have a deny effect. In this case you intentionally attempt to deploy certain resources that are expected to be prohibited. All t

[2019-06-18 14:56] ONI-Assassin commented on #8885
This seems to be an ongoing issue, any signs of a fix?

[2019-06-18 15:11] tobitux commented on #9350
@solankisamir Your workaround works like a charm. :thumbsup:

[2019-06-18 15:16] superfliege commented on #8697
Hello @cormacpayne

Sorry for reopen the topic.

The Powershell ISE hangs constantly. This disturb our daily work.
I have already seen this incident by many colleagues of mine.

This happens in the following cases:
- Using the AzureRM module
- Using the Az module
- Especially when using the GUI Login from Connect-Az or Connect-AzureRm

If these things are not used, other scripts will run perfectly

[2019-06-18 15:52] spaelling opened #9451 "Get-AzResource default ApiVersion"
## Description
`Get-AzResource` uses a default _ApiVersion_ that does not include properties `sourceApplicationSecurityGroups` and `destinationApplicationSecurityGroups` for resources of type _'Microsoft.Network/networkSecurityGroups'_

_ApiVersion_ 2016-09-01 is the default.

## Steps to reproduce

[code]
where `$id` is the Id of an NSG that contains a rule that uses Application Security Group as

[2019-06-18 16:10] cormacpayne commented on #9451
@spaelling Hey Anders, for the `Get-AzResource` call, the default API version we attempt to use is 2016-09-01, as you mentioned above, and if the given resource provider doesn't support that API version, then we use the latest version supported for the service. We'll need to have internal discussions about what the consequences are of changing this default API version, but until then, you can alwa

[2019-06-18 16:21] cormacpayne commented on #9445
@Borkason Hey Daniel, previously we removed U/P authentication from the new `Az` module for reasons [outlined here](https://github.com/Azure/azure-powershell/issues/7430#issuecomment-426480499), but after discussion with the community (same issue linked previously) and internally, we were able to bring back U/P authentication for _Windows PowerShell only_. PowerShell Core users will need to _tempo

[2019-06-18 16:21] #9445 closed

[2019-06-18 16:33] spaelling opened #9452 "Improve 'Az module bug report' template"
## Description

Below I pasted some of the "tricks" I use when filing bug reports. That would make some of the more tedious tasks, well, less tedious >D

## Steps to reproduce

N/A

## Environment data

[code]

## Module versions

[code]

## Debug output

[code]

## Error output

[code]

[2019-06-18 16:37] spaelling commented on #9451
Cheers.

Yes, I found out, so was quickly solved, yet, I still had to resort to the debug stream to find that it was the _ApiVersion_ that was to blame.
Perhaps you can have a newer default ApiVersion for this specific resource type? Or print a warning that the properties mentioned are not included?

Anyways, this may help someone if they run into the same issue.

[2019-06-18 16:46] spaelling commented on #9448
I am unable to reproduce this, but I did experience this some time ago (maybe a year), but found a workaround, using `-DefaultProfile`, (I turned off some of the debug output, and changed it so that I only get an error back (if any)

This was mostly in Azure Function App that uses runspaces, so your mileage may vary.

I actually just yesterday wanted to write a blogpost on this and found that I di

[2019-06-18 16:46] cormacpayne commented on #9451
@spaelling Using a newer default API Version for _just_ Microsoft.Network would be tricky since the default API version we're using for this cmdlet is used for _any_ provider that the user could provide. I'm also not sure of a way that we'd be able to compare the properties of a resource type between two API versions efficiently. I think since we give users the ability to provide a value to the `-

[2019-06-18 17:00] arpparker commented on #9448
@spaelling
I actually am using -DefaultProfile (technically -AzContext, but that is an alias for -DefaultProfile) in the actual script that I obvserved this issue on and it makes no difference.  I can consistently reproduce this issue both in my actual production script and in my example script above.  My steps for reproduction are just a simpler way to illustrate what I'm doing in the actual scri

[2019-06-18 17:34] markcowl commented on #8983
Closing as fixed.

[2019-06-18 17:34] #8983 closed

[2019-06-18 17:37] cormacpayne commented on #9446
@mikkokok Hey Mikko, thanks for reporting this -- it looks like this is a similar to issue to [this bug](https://github.com/Azure/azure-powershell/issues/9232) that was patched last release, but is occurring in other types inside of PolicyInsights. We'll fix this in `PolicyState` and see if there are any other types that could hit this issue.

[2019-06-18 17:44] markcowl commented on #9452
These files are in: https://github.com/Azure/azure-powershell/tree/master/.github/ISSUE_TEMPLATE  Please feel free to create a PR with these changes (this way you will show up as the committer)

[2019-06-18 18:44] hvermis commented on #9431
We are working on releasing the new types, they will either be in upcoming release or next one.
AzureRM does not get updates anymore, only Az modules do. You should contact DevOps team to get you VM-s with Az modules.
There is always a chance that Powershell module will be behind in features from our backend as we first develop the backend. The generic New-AzResource does not have that problem, so

[2019-06-18 18:44] #9431 closed

[2019-06-18 19:09] Limp-monkey commented on #9431
thanks again! We've looked into that, but we gave up due to this unsupported feature: "You can't publish individual resources, because data factory entities depend on each other. "
On development we sometimes need to be able to schedule trigger a pipeline, and the only way to do that is when a pipeline has been published. However, that doesn't means it' ready to be deployed, so we can't have it ex

[2019-06-18 19:58] spaelling commented on #9448
I would assume that if `-DefaultProfile` is not explicitely specified in the call it will do the equivalent of Get-AzContext, which may be what then fails, ie. no context is available inside the job.
But again, I am seeing the same as you, although rarely (<2% of calls) when using Start-Job or equivalent.

Maybe someone has an idea on how to troubleshoot this. Can you reproduce on a vanilla VM (so

[2019-06-18 20:08] spaelling commented on #9451
Yes, the `-ApiVersion` parameter is an excellent workaround. I just think that many Azure Powershell users does not know how to troubleshoot that 1. the Api version used is the reason these properties are not returned, 2. how and what Api version should then be used.

I will create a separate issue, but now that I have your attention, the reason I am using `Get-AzResource` is that I just happened

[2019-06-18 20:25] benjamin-goldman opened #9455 "Remove-AzAlertRule not working as expected"
Getting results like this when running

[code]

Reproducable with real text values.

NOTE:  i have a workaround but its terrible:

[code]

## Steps to reproduce

[code]

## Environment data

[code]

## Module versions

[code]

[2019-06-18 20:26] benjamin-goldman commented on #9455
I put this up here principally so people can find a work around - I have no expectation that anything will get fixed.

[2019-06-18 20:56] MrDRamos opened #9456 "Increase the amount of data that Invoke-AzureRmVMRunCommand can return"
The Invoke-AzureRmVMRunCommand currently has a 4K limit on the returned payload.
I frequently need to return logs and listings that exceed the 4K limitation!

[2019-06-18 20:56] cormacpayne commented on #9451
@spaelling your confusion is definitely warranted -- we are working to enforce consistent patterns and standards across all of the cmdlets that we ship. Currently, we enforce these patterns (`-ResourceId` and `-InputObject` parameters, piping, etc. -- everything outlined [here](https://github.com/Azure/azure-powershell/tree/master/documentation/development-docs/design-guidelines)) for all new cmdl

[2019-06-18 20:59] ChristopherGLewis opened #9457 "Get-AzLocation returns slightly different information then AZ CLI command: az account list-locations"
## Description

Get-AzLocation returns slightly different information then AZ CLI command: az account list-locations

`Get-AzLocations` does not have UAE Central, `az account` does.

`az account` also returns lat/lon, `Get-AzLocations` does not

## Steps to reproduce

[code]

[code]

## Environment data

[code]

## Module versions

[code]

## Debug output

[code]

## Error output

[code]

[2019-06-18 21:28] markcowl commented on #8670
@dcaro Can we get to an agreement about the Compute team fixing things in both parameter sets?  If the functionality works in the 'complex object' parameter set, the same logic should be easy to move into the simple parameter set as well.

[2019-06-18 21:51] cormacpayne commented on #9449
@bwarren18 would you mind providing the corresponding debug output from the cmdlet call? You can set `$DebugPreference = "Continue"` and then run the above command that was failing.

[2019-06-18 21:54] cormacpayne commented on #9450
@matebarabas in this case, we need the debug output for the command call to understand what is happening on the server. If you don't feel comfortable posting the resulting debug output here, feel free to send me an email (corm@microsoft.com) with the information and we will take a look.

[2019-06-18 21:55] #9452 closed

[2019-06-18 21:57] cormacpayne commented on #9455
@niander would you mind verifying that this scenario works in the generated cmdlet?

[2019-06-18 22:00] cormacpayne commented on #9456
@koralski @savyasachisamal would you mind taking a look at this issue?

[2019-06-18 22:04] #8440 closed

[2019-06-18 22:16] #9451 closed

[2019-06-19 01:39] hihorika commented on #9320
Hi @matthchr
Could you please let me know an ETA of next release which this issue will be fixed?
Thanks

[2019-06-19 02:07] matthchr commented on #9320
Unfortunately 1.0.1-preview has breaking changes in it, it will be part of the next breaking change release of powershell - it's possible that we can backport the fix before that depending on how far away the next breaking change release is.

@cormacpayne do you know when the next breaking change is coming?

[2019-06-19 06:41] theheatDK opened #9464 "New-AzPolicyAssignment does not allow Name to be longer than 24"
## Description
New-AzPolicyAssignment takes a Name parameter. It fails if the name is longer than 24. In the Portal the limit is 128.

[code]

## Steps to reproduce

[code]

## Environment data

[code]

## Module versions

[code]

## Debug output

[code]

## Error output

[code]

[2019-06-19 07:37] pirminf commented on #9312
Hey guys - any News on that? Or are you still missing some Information?

[2019-06-19 12:04] bwarren18 commented on #9449
The debug output for that one command is 38,000 lines.  Do you want the whole thing, just a certain section of it, or from a certain point?

[2019-06-19 12:18] bwarren18 commented on #9449
Sure.  I ran the following and did a search and replace on some of the username and guid strings:
$resource.Tags.Add("testkey","testvalue")
$resource | Set-AzResource -Force *> 'C:\Temp\Debug.txt'

Debug output

8:08:11 AM - SetAzureResourceCmdlet begin processing with ParameterSet 'ByInputObject'.
8:08:11 AM - using account id 'user@domain.com'...
[Common.Authentication]: Authenticating using Acc

[2019-06-19 12:21] bwarren18 commented on #9449
Sure. I ran the following and did a search and replace on some of the username and guid strings:
$resource.Tags.Add("testkey","testvalue")
$resource | Set-AzResource -Force *> 'C:\Temp\Debug.txt'

## Debug Output

8:08:11 AM - SetAzureResourceCmdlet begin processing with ParameterSet 'ByInputObject'.
8:08:11 AM - using account id 'user@domain.com'...
[Common.Authentication]: Authenticating using A

[2019-06-19 13:37] darshankumarys commented on #6223
Hi,
Am also facing same issue for few of my machines. Though machines starts, the status still shows starting Virtual Machine in the notification blade in Azure Portal. This results we can't run any scripts in VSTS pipelines.

By when this bug will be removed?

[2019-06-19 14:14] johnburns320 commented on #8983
Verified fix in Azure Automation runbooks. Thank you!

[2019-06-19 15:24] petehauge commented on #9448
I have a repro for this I think...  Here's my code:

`$scriptBlock = {
    $jobs = @()
    for ($i = 0; $i -lt 10; $i++) {
        $jobs += Start-Job -ScriptBlock {
            $rg = $(Get-AzResourceGroup).Count
            if (-not $rg) {
                Write-Error "Hit an issue..."
            }
            else {
                Write-Output "No problem..."
            }
        }
    }

    i

[2019-06-19 15:27] petehauge commented on #9448
Can't seem to get my code formatted correctly in the prior comment, so attaching it here...
[Start-JobAzIssue.ps1.txt](https://github.com/Azure/azure-powershell/files/3306782/Start-JobAzIssue.ps1.txt)

[2019-06-19 16:53] djhalibut commented on #7086
Hello,

I have the same question as AmarettoSlim. Is there a way to list the tenants and their domains?

Thanks!

[2019-06-19 16:57] rafaci opened #9467 "Connect-AzAccount Throws Object reference not set to an instance of an object"
## Description
I'm writing an application that needs to pull a secret from Azure Key Vault in PowerShell. This application will run on Azure Batch. I'm able to call `Connect-AzAccount` successfully from my dev box, but when I try running it on an Azure VM in Azure Batch, it fails. I'm using certificate authentication and the certificate is exists in both places (I get a different error message if

[2019-06-19 17:01] Borkason commented on #9445
All I needed to hear :) Great response. Thanks.

[2019-06-19 19:48] kennyjwilli commented on #7986
I also ran into this using the Datadog extension. Running
[code]
shows the list of all available versions for extensions. If I try creating an extension with the DatadogLinuxAgent version 0.6.2, I get the message:

[code]

If I set the version to `0.6`, it works.

[2019-06-19 22:43] craiglandis opened #9470 "Get-AzVm -status output missing computerName, osName, osVersion, hyperVGeneration, maintenanceRedeployStatus"
## Description

"Get-AzVm -status" output is missing computerName, osName, osVersion, hyperVGeneration, maintenanceRedeployStatus

The equivalent CLI command - az vm get-instance-view - does return those properties.

[code]

## Steps to reproduce

[code]

## Environment data

[code]

## Module versions

[code]

[2019-06-19 23:17] bingbing8 commented on #8983
Is this fix available in ps function app yet? I still get Unauthorized error on a ps azure function

[2019-06-19 23:27] jngibert opened #9471 "CloudBlob parameter of Get-AzStorageBlobContent does not accept output of Get-AzStorageBlob cmdlet"
## Description
The CloudBlob parameter of the Get-AzStorageBlobContent cmdlet expects an object of type CloudBlob, and the documentation states that using the Get-AzStorageBlob cmdlet will produce a CloudBlob object; but in reality the Get-AzStorageBlob cmdlet produces an object of type AzureStorageBlob, which does not work with the CloudBlob parameter of the Get-AzStorageBlobContent cmdlet.
What

[2019-06-19 23:35] eamonoreilly commented on #8983
Make sure you have the latest modules in your requirements.psd1

If you go to Platform Features -> App service editor, you may need to update the Az modules to 2.* as they might be at 1.* still. I confirmed it worked with the latest 2.* module (https://www.powershellgallery.com/packages/Az/2.3.2)

@{
	Az = '2.*'
}
Thanks,
Eamon

[2019-06-20 00:06] bingbing8 commented on #8983
Thanks @eamonoreilly , after update the requirement, it works for me now

[2019-06-20 03:52] hitenjava opened #9472 "AzTable: [AzureStorageTable] does not contain a method named 'ExecuteQuerySegmentedAsync'."
## Description

## Steps to reproduce

[code]

## Environment data

[code]

## Module versions

[code]

## Debug output

[code]

[2019-06-20 05:16] spaelling commented on #9448
[code]

[2019-06-20 05:53] spaelling commented on #9448
You can get a debug trace from when it fails like this

[code]

Maybe it is just me, but it seems to fail more often when done like this. The debug trace I am getting is this

[code]

[2019-06-20 06:30] blueww commented on #9471
@jngibert

The parameter `-CloudBlob` of cmdlet Get-AzStorageBlobContent accept object with type "CloudBlob".

- $myblob in your script has Type  "AzureStorageBlob", which is not aligned with the parameter `-CloudBlob` type, so the set it to the parameter not work.
- But   "AzureStorageBlob" type has a child property "ICloudBlob" with type "CloudBlob", so pipeline $myblob to the cmdlet works.

So

[2019-06-20 06:39] blueww commented on #9472
@hitenjava

The  cmdlet `Get-AzTableRow` parameter `-table` should accept type "CloudTable", but the output of cmdlet `Get-AzStorageTable` is in type "AzureStorageTable", so they are not match.

Anyway, type "AzureStorageTable" has a child property "CloudTable" which is in the right type, so you should change the command in script from
[code]
to
[code]

You can find more details in: https://docs.m

[2019-06-20 07:39] tjgalama opened #9473 "Enable-AzStorageStaticWebsite requires optional arguments"
## Description
the method ``Enable-AzStorageStaticWebsite`` has arguments ``IndexDocument`` and ``ErrorDocument404Path`` which are _required_. This is in contrast with the behavior within the azure portal when enabling a static website where these argument are _optional_.

## Steps to reproduce

[code]

## Environment data

[code]

## Module versions

[code]

## Debug output

[code]

## Error outp

[2019-06-20 09:31] hihorika commented on #9320
@mjconnection @cormacpayne
Could you please provide me release schedule for next breaking change?

[2019-06-20 09:52] blueww commented on #9473
@tjgalama
Thanks for raising this!
Per the [rest doc](https://docs.microsoft.com/en-us/rest/api/storageservices/set-blob-service-properties), the 2 parameter should be optional.
I will try to fix Powershell soon.

[2019-06-20 13:49] tjgalama commented on #9473
I think the cause might be deeper than Az.Storage. I just tried to call the api directly (see [stackoverflow](https://stackoverflow.com/a/56683831/681659)).
I got the impression that also the api requires these arguments (confirm?).

[2019-06-20 17:33] jmlane commented on #9320
Experiencing the same file not found exception when calling `Get-AzBatchPool` on Azure.Batch 1.1.0 on Windows Powershell 5.1. The same module on Powershell Core 6.2 does not have this problem.

[2019-06-20 18:13] cormacpayne commented on #9472
@blueww I think we should be good to close this issue, but I wanted to double-check with you.

[2019-06-20 18:14] cormacpayne commented on #9471
@blueww I think we should be good to close this issue, but I wanted to double-check with you

[2019-06-20 18:27] cormacpayne commented on #9470
@hyonholee Hey Hyonho, would you mind taking a look at this issue?

[2019-06-20 18:30] cormacpayne commented on #9467
@rafaci Hey Radwan, it looks like you're using the [preview version](https://github.com/Azure/azure-powershell/releases/tag/Az.Accounts-v2.0.0-preview) of the `Az.Accounts` module that we released a couple months ago to test single sign-on support in Azure PowerShell. I would recommend only using this module to test this functionality with user accounts rather than service principals. Is there a r

[2019-06-20 18:32] cormacpayne commented on #9464
@mentat9 Hey Chris, would you mind taking a look at this issue?

[2019-06-20 18:56] jngibert commented on #9471
Any chance we can get the documentation updated so that folks know that ICloudBlob is a child property of the AzureStorageBlob object and should be used with the CloudBlob parameter of the Get-AzStorageBlobContent cmdlet?  That wasn't clear at all in the documentation. Thanks!

[2019-06-20 19:02] rvlacil opened #9478 "New-AzADServicePrincipal throws NullReferenceException"
### Description

`New-AzADServicePrincipal` throws null reference exception

[code]

### Resolve-AzError
[code]

### Get-Module
[code]

[2019-06-20 19:55] eamonoreilly opened #9479 "webapp:User assigned managed identity does not work in Azure Functions"
When using user managed identity in a function app, the client id does not seem to be used and is required when using managed identity.

Example: The following works correctly as the clientid parameter is added to the query.

[code]

If you however run `Connect-AzAccount -AccountId "3c9a8f3e-9f2c-42e0-a809-727323733352" -Identity -debug -confirm:$false`

you get the below error and it looks like t

[2019-06-20 20:29] mentat9 commented on #9464
OK, couple of things going on here, but the main thing is confusion across the different types of names. The portal actually hides **Name** from the user (generates it automatically), but then presents **DisplayName** and pretends it's **Name**. This is super-confusing, even for me. So the length limit for **Name** as presented in the portal is actually the limit for **DisplayName**, which is 128

[2019-06-20 20:41] deathly809 commented on #9265
I get when I invoke MaxVMs from the DVM.

[2019-06-20 21:12] cormacpayne commented on #9478
@rvlacil it looks like the issue is [this line](https://github.com/Azure/azure-powershell/blob/master/src/Resources/Resources/ActiveDirectory/Cmdlets/NewAzureADServicePrincipalCommand.cs#L251) due to the fact that the context you're using to create the service principal doesn't have access to any subscriptions. This should be a pretty easy fix from our side and we can make sure it goes out in the

[2019-06-20 21:29] theheatDK commented on #9464
Thanks @mentat9. I will try to update the dokumentation for New-AzPolicyAssignment, with some of this information.

[2019-06-20 21:29] #9464 closed

[2019-06-20 21:54] matthchr commented on #9320
@jmlane - if you use Az.Batch 1.0.1-preview rather than 1.1.0 (you may need to `Uninstall-Module` Az.Batch 1.1.0 first and then install Az.Batch 1.0.1-preview) it should work with no error.

[2019-06-20 22:19] Cdoherty95 commented on #9259
@royarin Can you list the commands that made $cpuGt70 and $appServicePlan.Id? I began with the same issue now I'm receiving this error:
`Add-AzMetricAlertRuleV2 : Exception type: ErrorResponseException, Message: Null/Empty, Code: Null, Status code:Conflict, Reason phrase: Conflict`

I am working with web/function apps so I just want to make sure I am making the -Condition parameter collection vari

[2019-06-21 01:58] blueww commented on #9472
@hitenjava
We will close the issue not as it's already answered.
Feel free to let us know if you need any further assistant.

[2019-06-21 01:58] #9472 closed

[2019-06-21 02:01] blueww commented on #9473
Per the rest doc, the 2 parameters are optional, so I have raised a PR to change them optional, and the PR is already merged.
So from next release, PSH will be aligned with rest design.
I will close the issue now.
Feel free to let us know if you need any further assistant.

[2019-06-21 02:01] #9473 closed

[2019-06-21 03:19] blueww commented on #9471
@jngibert
I have raised a PR to add an example to make the usage more clear.
See https://github.com/Azure/azure-powershell/pull/9481

[2019-06-21 05:35] panchagnula commented on #2108
Closing this issue - since work arounds were provided here.

[2019-06-21 05:35] #2108 closed

[2019-06-21 05:38] panchagnula commented on #2938
Closing since this is a very old issue please file a new issue with the latest version of PowerShell commnadlets  if this is still a problem.

[2019-06-21 05:38] #2938 closed

[2019-06-21 05:39] panchagnula commented on #2985
this should now be fixed.

[2019-06-21 05:39] #2985 closed

[2019-06-21 05:45] panchagnula commented on #3245
Most of the documentation is already fixed. Will file new issues for specific help commands if this is still neeeded.

[2019-06-21 05:45] #3245 closed

[2019-06-21 05:49] panchagnula commented on #3391
Closing this sine there is a no proper API to support this at this time. We will brig this back after we figure out the API support with the backend.

[2019-06-21 05:49] #3391 closed

[2019-06-21 05:51] panchagnula commented on #3633
Closing this since this should now be fixed.

[2019-06-21 05:51] #3633 closed

[2019-06-21 05:53] panchagnula commented on #3667
Closing this since there is not additional support at this point - please use the latest AZ PowerShell commandlets & file a new feature request if this is still needed.

[2019-06-21 05:53] #3667 closed

[2019-06-21 05:55] panchagnula commented on #3717
Closing this we didn't hear anything back on this - please follow the instructions above to share the data with the team directly if this is still an issue.

[2019-06-21 05:55] #3717 closed

[2019-06-21 05:57] panchagnula commented on #3770
@Nking92 i am assigning this back to you - so you can fix it while you are making some updates to the clone commandlet with the local geo-region changes

[2019-06-21 05:58] panchagnula commented on #4300
Please use the latest Az.PowerShell version.

[2019-06-21 05:58] #4300 closed

[2019-06-21 05:59] panchagnula commented on #4522
This should now be fixed.

[2019-06-21 05:59] #4522 closed

[2019-06-21 06:01] panchagnula commented on #4816
This is an old commandlet that is no longer supported please use the new commandlet https://docs.microsoft.com/en-us/powershell/module/Az.Websites/Publish-AzWebApp?view=azps-2.3.2

[2019-06-21 06:01] #4816 closed

[2019-06-21 06:04] panchagnula commented on #5760
Closing this - please use the latest Az.PowerShell commandlet

[2019-06-21 06:04] #5760 closed

[2019-06-21 06:07] panchagnula commented on #5941
Closing this since there is no ARM equivalent for this at this time.

[2019-06-21 06:07] #5941 closed

[2019-06-21 06:14] panchagnula commented on #661
@cormacpayne is there an ETA on when this will be done?

[2019-06-21 06:23] siddharth7 commented on #9354
Closing this at it has been resolved in #9305

[2019-06-21 06:23] #9354 closed

[2019-06-21 11:54] rvlacil commented on #9478
The application I am trying to add is a multi tenant app form a different tenant. Is there a way to use Get-AzADApplication for such apps?

[2019-06-21 14:20] rmohare opened #9482 "Get list of Products by ApiId"
## Description of the new feature
I would like to see a new feature in Az.ApiManagement to get a list of products by providing an ApiId. Currently the only way to find APIs that are associated to a product is by calling Get-AzApiManagementApi -Context $ApimContext -ProductId $ProductId. This assumes I already know the Product I'm trying to search against. However, if I only have the ApiId, there i

[2019-06-21 15:50] lyair1 opened #9483 "Get-AzDataFactoryV2TriggerRun doesn't return the pipeline run ids"
## Description

When retrieving a Trigger Run using the "Get-AzureRmDataFactoryV2TriggerRun" command, the result does not have the "Pipeline Run Ids" that were triggered by this Trigger Run.
I can see the pipeline run ids attached to the trigger runs on the ADF UI and also when retrieving the Trigger Runs using the Rest API but not when using this command,

## Steps to reproduce

[code]

## Enviro

[2019-06-21 16:09] cormacpayne commented on #661
@panchagnula we're targeting mid to late July for a preview release of a few generated modules (AppService, Compute, KeyVault, Network, Storage, and a couple of others).

[2019-06-21 16:09] cormacpayne commented on #9482
@solankisamir Hey Samir, would you mind taking a look at this feature request?

[2019-06-21 16:10] cormacpayne commented on #9483
@hvermis Hey Hermine, would you mind taking a look at this issue?

[2019-06-21 17:18] thecherrytree opened #9485 "Import-AzureKeyVaultCertificate does not work when attempting to move a pfx cert from one keyvault to another"
## Description

CONTEXT: We are automating our pipeline to enable SSL binding for a webapp using custom hostnames. To do this, we need to import a certificate from an already existing shared vault. Ideally, I would be able to do this in memory as opposed to downloading the file onto the agent.

PROBLEM: When attempting to import this certificate using the documentation provided, I am getting the b

[2019-06-21 17:19] thecherrytree commented on #8468
Does this work for PFX certificates? What happens if you run this command on an agent? Does it download to a local path on an agent? Right now, I am using the import-azkeyvaultcertificate with unexpected behavior when trying to use the certificate collection or certificate string parameters, so this seems like it might be a promising option. I've just opened this ticket given that I believe my iss

[2019-06-21 19:58] theheatDK opened #9487 "Get-AzAvailabilitySet returns empty VirtualMachinesReferences"
## Description
When Get-AzAvailabilitySet is called without parameters VirtualMachinesReferences is empty. If you add a Name and a ResourceGroupName it works as expected.

## Steps to reproduce

[code]

## Environment data

[code]

## Module versions

[code]

## Debug output

[code]

## Error output

[code]

[2019-06-21 23:25] cormacpayne commented on #9485
@RandalliLama @schaabs would you mind taking a look at this issue?

[2019-06-21 23:30] cormacpayne commented on #9487
@hyonholee Hey Hyonho, would you mind taking a look at this issue?

[2019-06-22 04:52] rafaci commented on #9467
Ah I see. I don't think I'm intentionally trying to install the preview version :)
Should I be running a different command than the one below to get the latest stable version?

[code]

[2019-06-22 21:36] neothoms commented on #8382
Can you please tell me what is the command to enable App Insights ?
I can't find it anywhere in the documentation link

[2019-06-23 20:27] luyseyal opened #9488 "Set-AzApplicationGatewaySSLCertificate KeyVaultSecretId wrongly requires fileName"
## Description

`Set-AzApplicationGatewaySSLCertificate` with `-KeyVaultSecretId` wrongly requires `fileName` (by which it actually means `CertificateFile`)

N.b., the current AGW SSL config is with a manually set PFX file. I just wanted to update it to use the one stored in the KeyVault.

## Steps to reproduce

Just follow the example given in the documentation and it will fail.

[code]

## Envir

[2019-06-24 01:10] luyseyal commented on #9488
For future reference, I found a note in a tutorial that setting keyVaultSecretId only works on AGW creation. What I ended up doing was creating the keyvault in an ARM template, seeded it with a PowerShell script, and then create the AGW. I have a runbook to update the certificate in the keyvault periodically. The AGW will poll it every 24 hours.

[2019-06-24 01:44] blueww commented on #9471
Close the issue, as it's answered, and we have updated the help example with this.

@jngibert
Feel free to let us know if you need any other assistant on this.

[2019-06-24 01:44] #9471 closed

[2019-06-24 11:26] siddharth7 commented on #7533
@pvrk this issue seems to be from PS infra end

[2019-06-24 13:12] arpparker commented on #9448
This is fantastic, I can reproduce the issue with this consistently as well.  I did modify it slightly to include passing the context as a parameter to the job, and then passing the context to the Get-AzResourceGroup command.  This matches how I was encountering  the issue originally, but I can get it to fail both ways, so it may not be important.  I've included the full code below with my changes

[2019-06-24 14:36] superfliege opened #9490 "New-AzRecoveryServicesBackupProtectionPolicy - Input for create or update policy is not in proper format"
## Description
The New-AzRecoveryServicesBackupProtectionPolicy function suddenly accepts only a specific set of values ​​in the RetentionPolicy.DailySchedule.DurationCountInDays parameter.

## Steps to reproduce
[code]

**Throws Error:**
New-AzRecoveryServicesBackupProtectionPolicy : Input for create or update policy is not in proper format
Please check format of parameters like schedule time, sc

[2019-06-24 15:10] pauliandraper opened #9491 "Version Number Incorrect"
I believe the version numbers within the AzureRM version list dropdown, within the documentation, are incorrect. It says '5.7.0', but I believe based on the list available in DevOps (and by running 'get-module -listavailable' in an inline Azure Powershell task) this should be 6.7.0.

[2019-06-24 17:37] #9312 closed

[2019-06-24 17:38] pirminf commented on #9312
With 1.3.0 it works fine - I just Need to stick to Version 1 - thanks for Fixing it.

[2019-06-24 18:36] spaelling commented on #9448
The code I provided shows the debug trace, but they will read the entire thread and work from that. Maybe @markcowl or @cormacpayne can comment on this?

And just to repeat a comment I made earlier, this seems not to be a problem when using runspaces, but perhaps similar testing should be done before clearing runspaces entirely.

[2019-06-25 04:50] dcaro commented on #8608
@JimmyKarlsson1 thanks for opening this issue, we have made changes to our documentation to address your point. https://docs.microsoft.com/en-us/powershell/azure/create-azure-service-principal-azureps?view=azps-2.3.2#password-based-authentication

[2019-06-25 09:07] sIPeye opened #9497 "Get-AzAutomationScheduledRunbook doesn't return parameters when ScheduleId isn't defined"
## Description
When you run Get-AzAutomationScheduledRunbook without the -JobScheduleId parameter, the right items with the right ids are returned but the parameters are missing. When I then run the same command targeting a certain scheduled runbook with the -JobScheduleId param, i get the exact same object just that this time the parameters object has the right values in it.

## Steps to reproduc

[2019-06-25 15:42] idear1203 commented on #8797
@dagiro, thank you for the notification. This issue has been fixed in the recent release. Let us know if the issue still exists.

[2019-06-25 15:42] #8797 closed

[2019-06-25 15:44] idear1203 commented on #8797
This is fixed in the PR: [#9069 [HDInsight] - Add a cmdlet to update gateway credential](https://github.com/Azure/azure-powershell/pull/9069)

[2019-06-25 15:52] idear1203 commented on #3688
Hi @shenhaizhilong , Blob storage suffix is different between China cloud and Global cloud. For China cloud, the suffix is ".blob.core.chinacloudapi.cn" while for Global cloud the suffix is ".blob.core.windows.net". For this specific issue, somehow the PowerShell uses the Global cloud by mistake. We have tested the latest PowerShell release and the issue does not exist now. Please have a try and l

[2019-06-25 15:52] #3688 closed

[2019-06-25 17:35] cormacpayne commented on #9488
@akshaysngupta Hey Akshay, would you mind taking a look at this issue?

[2019-06-25 17:36] cormacpayne commented on #9490
@siddharth7 @pvrk would you mind taking a look at this issue?

[2019-06-25 17:43] cormacpayne commented on #9491
@pauliandraper Hey Paul, I believe that for the AzureRM version dropdown list, we are keeping track of the last version in the previous three major releases (6.13.0, 5.7.0 and 4.4.1) and then a few versions for specific Stack releases (2.5.0, 2.4.0 and 2.3.0), so the versions are correct if they are following that pattern. I'm going to close this issue as the versions seem to be matching what we e

[2019-06-25 17:43] #9491 closed

[2019-06-25 17:49] cormacpayne commented on #9497
@vrdmr Hey Varad, would you mind taking a look at this issue?

[2019-06-25 18:42] bwarren18 opened #9498 "#Requires -Modules Az does not work"
## Description

I am having this issue on multiple machines with PowerShell 5.1 Console and ISE, and PowerShell 6.2.1 console.
The #Requires statement does not work with the Az module.
It works fine with AzureRM and several other 3rd party modules.

## Steps to reproduce

#Requires -Modules Az

## Environment data

[code]

## Module versions

[code]

## Debug output

[code]

## Error output

[code

[2019-06-25 21:27] cormacpayne commented on #9498
@bwarren18 Hey there, my assumption is that this issue stems from [this issue](https://github.com/PowerShell/PowerShell/issues/8125) in the PowerShell engine -- a fix for this issue was merged, but I don't believe it's available in Windows PowerShell, only the latest version of PowerShell Core. Would you mind installing the latest version of PowerShell Core and verifying that the `Az` module shows

[2019-06-25 21:30] cormacpayne commented on #9467
@rafaci you will need the latest version of the `PowerShellGet` module (or at least version 1.6.0) to use the prerelease functionality for modules. To get the latest version, you can run the following command:

[code]

[2019-06-25 23:03] rafaci commented on #9467
Oh I see what was going on. Even though I had the latest version of PowerShellGet installed, it was running side by side with the old version. I had to delete `C:\Program Files\WindowsPowerShell\Modules\PowerShellGet\1.0.0.1` to get `Install-Module Az` to work. Now it looks like I have 1.5.3 installed. Thanks for the help! :)

[2019-06-26 01:10] ahmedelnably commented on #9479
This is an issue with the Azure powershell sdk,

[2019-06-26 01:11] eamonoreilly opened #9502 "Azure Functions managed identity does now work for Az cmdlets when working against graph API endpoint"
If you run the below command that calls into graph.windows.net, the cmdlet will fail with the below information:

Get-AzAdServicePrincipal -DisplayName eamononboardonboarding -debug

2019-06-26T01:01:36.658 [Information] Executing 'Functions.TestIdentity' (Reason='This function was programmatically called via the host APIs.', Id=478821d7-dedd-497b-9104-f8ffcb76e82e)
2019-06-26T01:01:37.715 [Debug]

[2019-06-26 06:04] kutluomeroglu opened #9505 "New-AzBlueprintArtifact creates invalid artifacts"
## Description
When using New-AzBlueprintArtifact, if you chose to create an artifact from a template and a parameter file, a malformed artifact object is created. This happens when there are parameters specified in template parameters file with a type of array.

While the artifact is created successfully, if you then proceed to publish the blueprint you will get the following error:
[code]
Lookin

[2019-06-26 06:48] superfliege commented on #9490
I figured out that RetentionPolicy DurationCountInDays only accepts values which are bigger then 7. In the new Az.Powershell Update there is an entry:

Az.RecoveryServices

    IaaSVM policy minimum retention in days changed to 7 from 1

Source: https://docs.microsoft.com/en-us/powershell/azure/release-notes-azureps?view=azps-2.3.2#azrecoveryservices

Mabye this was just updated, but then i have t

[2019-06-26 12:16] bwarren18 commented on #9498
Hello @cormacpayne.  Sure.  I installed PowerShell v7.0.0-preview.1 and ran 'Install-Module -Name Az -Repository PSGallery -Force' in that console.  I then ran 'Get-Module -Name Az -ListAvailable' and it shows up (PSEdition shows both Core and Desk).

I then ran my TestRequires.ps1 script which has 3 lines:
$DebugPreference='Continue'
#Requires -Modules Az
$PSVersionTable

And it returned the $PSV

[2019-06-26 16:22] nrowan commented on #9318
Just now writing a script to do the same thing and also have the issue of no end date for the profile

[2019-06-26 17:11] cormacpayne commented on #9505
@filizt Hey Filiz, would you mind taking a look at this issue?

[2019-06-26 17:14] cormacpayne commented on #9498
@bwarren18 great, thanks for verifying. I'm going to close this issue since it's resolved in the latest version of PowerShell 😀

[2019-06-26 17:14] #9498 closed

[2019-06-26 17:16] filizt commented on #9505
@cormacpayne @kutluomeroglu Investigating.

[2019-06-26 17:44] pvrk commented on #9490
@superfliege : Thanks for bringing this to our notice. This change is for new policies. Existing policies will be honored as it is. Will change the documentation to reflect this. Thanks.

[2019-06-26 17:45] KyMidd commented on #8877
Confirm adding the -FormatType does resolve our issues. We are running from Azure DevOps powershell task ver 4.*, most recent release of powershell and it is still affected by this bug. The workaround works for us. Thanks all.

[2019-06-26 20:01] panchagnula commented on #4982
@btardif can you help us figure out the APIs for supporting this.

[2019-06-26 22:20] markcowl commented on #9502
@eamonoreilly What is the version installed?  This is simply asking for the wrong token audience, which looks an awful lot like the old version of accounts

[2019-06-26 23:52] eamonoreilly commented on #9502
@markcowl I think you are right Mark. I was pretty sure I had the latest installed but it was 1.5.2. When I upgraded to 1.5.3 it started working. I'll close the issue.
Thanks for the help.

[2019-06-26 23:52] #9502 closed

[2019-06-26 23:53] markcowl commented on #9502
@eamonoreilly Given the age of the linked bug, and that selecting additional audiences was only made available in the last release, I believe the customer was simply using too old a version of Az.Accounts.  Are you still seeing thsi when upgrading?

[2019-06-26 23:57] eamonoreilly commented on #9502
@markcowl Hi Mark, I updated the linked issue to let the customer know to move to 2.* in the function app as that will get the latest module downloaded for them automatically.

[2019-06-27 00:02] markcowl commented on #9427
@J0F3 The right thing to do in this case is to engage the ActiveDirectory authentication team, as they actually own both ends of this (both the client-side ADAL library and the behavior of the conditional access policy).

Meanwhile, can you try the preview of the new authentication experience [here](https://www.powershellgallery.com/packages/Az.Accounts/2.0.0-preview)

This uses a vastly updated a

[2019-06-27 00:05] markcowl commented on #9343
Fixed

[2019-06-27 00:05] #9343 closed

[2019-06-27 00:06] markcowl commented on #8912
Fixed

[2019-06-27 00:06] #8912 closed

[2019-06-27 00:06] markcowl commented on #9276
Fixed

[2019-06-27 00:06] #9276 closed

[2019-06-27 00:08] markcowl commented on #9446
Fixed.

[2019-06-27 00:08] #9446 closed

[2019-06-27 00:23] hyonholee commented on #9470
I will fix it in the upcoming release.

[2019-06-27 01:06] norman-v commented on #4781
I just created one recently via ARM templates -so clearly it's possible-and now I have to rename it since the PS module still gives this error.

[2019-06-27 01:19] markcowl opened #9508 "Fix null ref in generated cmdlets when context is not set"
## Description
The generated cmdlets will return an error like the following when no context is set:

[code]

Instead, they should return a user-friendly error asking the user to log in.
## Cost

[2019-06-27 01:49] markcowl commented on #9098
fixed

[2019-06-27 01:49] #9098 closed

[2019-06-27 02:21] lukeb1961 opened #9510 "New-AzRedisCache gives confusing exception/error"
## Description

If you choose an incorrect -SIZE parameter value, you see  a rather confusing error/exception.

[code]

What it SHOULD tell me is that the -SIZE value is invalid for the -SKU value entered..

## Steps to reproduce

I enter -SIZE C6, which is an incorrect option if I had also selected -SKU  PREMIUM

[code]

## Environment data

[code]
## Module versions

[code]

## Debug output

[co

[2019-06-27 05:05] kutluomeroglu opened #9511 "Publish-AzBlueprint cannot re-publish a new version of a published blueprint"
## Description
As Publish-AzBlueprint only has one parameter set which accepts PSBlueprint object, passing in a PSPublishedBlueprint fails to publish a new version of the already published blueprint.

We can achieve this with REST API, it probably makes sense to have it in Publish-AzBlueprint cmdlet as well.

## Steps to reproduce

[code]

## Environment data

[code]

## Module versions
[code]

##

[2019-06-27 06:43] AgelM commented on #8933
I have doubts about the accuracy of the provided response since, I have been getting the following error when requesting a token using the referred URL `https://management.core.windows.net`

[code]

[2019-06-27 06:45] J0F3 commented on #9427
@markcowl Thank you for the tip with the preview module. That resolve my issue in fact. It works even when enforcing device authentication with -UseDeviceAuthentication.

Do you have a contact at the ActiveDirectory authentication team which I can contact or will you contact them internally?

Thx!

[2019-06-27 07:35] superfliege commented on #9490
I have to add that I usually expect such changes in the Azure Blog.
(https://azure.microsoft.com/en-us/updates/).

I do not want to be rude...but it is a pity that such serious Azure changes are mentioned only in a Powershell module update.
Thanks for your reply! The ticket can be closed from my side.

[2019-06-27 07:35] #9490 closed

[2019-06-27 09:40] RussellMaycock commented on #7648
Any news on this feature being added. Could really do with it, got to do an api call instead! which is a lot of work compared to just putting -command! Please Please add this asap.
Thanks
Russ

[2019-06-27 13:44] Shrutika-nitw commented on #9422
Hello,
(posting on behalf of user 'shpimpal')
Please correct the value of -ResourceGroup parameter you are passing to the cmdlet -
`New-AzScheduledQueryRule -ResourceGroup $resourceGroup ...`

Thanks!

[2019-06-27 14:01] filizt commented on #9505
@kutluomeroglu thanks for pointing out this bug. We have the fix, it should go out sometime next week.

[2019-06-27 17:01] cormacpayne commented on #9510
@SiddharthChatrolaMs Hey Siddharth, would you mind taking a look at this issue?

[2019-06-27 17:02] cormacpayne commented on #9511
@filizt Hey Filiz, would you mind taking a look at this issue?

[2019-06-27 17:40] cormacpayne opened #9513 "Update to latest version of ClientRuntime (2.3.20)"
## Description

Update `Microsoft.Rest.ClientRuntime` package to latest version([2.3.20](https://www.nuget.org/packages/Microsoft.Rest.ClientRuntime/2.3.20)) in the common repository and this repository.

## Cost: 2

[2019-06-27 18:14] filizt commented on #9511
@kutluomeroglu looking.

[2019-06-27 19:29] asheniam commented on #9281
Thanks for reporting this issue. We will follow up on this doc issue

[2019-06-27 19:31] asheniam commented on #9315
Thanks for reporting this.  We are taking a look

[2019-06-27 19:33] #9318 closed

[2019-06-27 19:33] asheniam commented on #9318
This behavior is by design today.  The autoscale engine does not support a EndTime in the backend but Azure Portal will construct a virtual profile when you create the autoscale setting with EndTime. We will evaluate this in a future release.

[2019-06-27 19:37] craig-martin commented on #8509
I'm on a locked-down device and can't access the URL provided by -UseDeviceAuthentication, and can repro this hang every time I use Connect-AzAccount.

Sadly VSCode doesn't work (unrelated problem, PowerShell extension for VSCode, language server fails to start.

[2019-06-27 19:40] jesseconnr commented on #8794
This is still a problem and I have yet to find a way to make it work. The result is you have to go back to the UI and manually configure each rule with the correct IP, which takes ~30-45 seconds for each update and you can only modify them one at a time. If you have a lot of rules, this is a nightmare.

[2019-06-27 19:45] asheniam commented on #8970
This is not an issue with the PowerShell.  If you continue to encounter this issue, please open a support ticket.

[2019-06-27 19:45] #8970 closed

[2019-06-27 19:47] nrowan commented on #9318
So is the point here that you would prefer to make the autoscale engine support end dates and that part will be considered for a future release and when if that happens PowerShell would be updated to support it? Rather than updating PowerShell to hack together the virtual profile like Azure Portal does?

[2019-06-27 20:07] asheniam commented on #9318
Unfortunately there is currently no plan to add this at the time but we can evaluate this in a future release.

[2019-06-27 20:42] dcaro commented on #7648
@RussellMaycock @KirkMunro to make sure that I understand correctly the feature request. You would like to be able to use a PowerShell cmdlet to execute a command on a running container in Azure Container Instance? Please confirm and vote on this issue.

[2019-06-27 20:52] markcowl commented on #8870
Complete

[2019-06-27 20:52] #8870 closed

[2019-06-27 21:00] markcowl commented on #9309
Note: Please check why the hybrid profile doesn't have the resource group, active directory, and generic resource cmdlets

[2019-06-27 21:17] markcowl opened #9516 "Add support for resolving new AutoRest errors in Resolve-AzError"
### Description
- [ ] Add additional types for AutoRest errors
- [ ] Add additional detection and conversion for those types
- [ ] Add additional formats to output
- [ ] Add covering tests

### Cost: 2
Related AutoRest Issue: https://github.com/Azure/autorest.powershell/issues/250

[2019-06-27 21:23] markcowl opened #9517 "Add completer support to Azure Configuration"
### Description
- [ ] Add appropriate APIs cmdlets for completers into Azure Configuration
- [ ] Add necessary Module customizations
- [ ] Test on each module

### Cost: 6
Associated AutoRest Issue: https://github.com/Azure/autorest/issues/3160

[2019-06-27 21:25] markcowl opened #9518 "Add Test Support to Azure Configuration"
### Description
Add necessary APIs for Test support into Azure Configuration.  Update configuration in a single module to test

At minimum this would include:
- [ ] Creating resource groups
- [ ] Deploying Templates
- [ ] Apply resource completer configuration to a single module
- [ ] Apply to all modules and customizations
### Cost: 6

[2019-06-27 21:30] markcowl opened #9519 "Create Signed Build Drop Automation for Generated Cmdlets"
### Description
- [x] Create an ADO Pipeline that implements a signed build drop for the generated cmdlets
  - [x] Generate cmdlets
  - [x] Build cmdlets
  - [x] Generate Help
  - [x] Archive drop to known location
- [x] Schedule signed build drop daily

### Cost: 1

[2019-06-27 22:23] lukeb1961 commented on #9510
could a ParameterSet solve this by not allowing the invalid sizes to even be accepted?

[2019-06-27 23:31] KirkMunro commented on #7648
Correct. The doc I linked to states the following:

That works with the Azure CLI. PowerShell users should be able to do the same from a PowerShell cmdlet.

Ideally I'd like to see `Invoke-Command` extended to support this, since it is the common cmdlet used to invoke commands against remote computers, Hyper-V virtual machines, etc. via SSH or PowerShell remoting.

For example:

[code]

If that's

[2019-06-28 01:19] shawnparslow commented on #9316
Just adding that we have seen this a couple more times in our CI/CD system recently.  The ErrorActionPreference is set to "Stop" and the Set-AzWebApp call does NOT got through (usually setting a binding that we just removed) but returns as a warning and is not hitting catch.  We catch exceptions and have retry logic (in case the binding isn't released yet or something) but this failure seems to ju

[2019-06-28 03:36] abver commented on #9422
@baker1889, can you please check on above response provided by Shrutika and let us know if you are still facing any issue.

[2019-06-28 04:16] lovelangy opened #9520 "Add support to install cert to particular service fabric node type"
in Service Fabric, we use [Add-AzServiceFabricApplicationCertificate](https://docs.microsoft.com/en-us/powershell/module/az.servicefabric/Add-azServiceFabricApplicationCertificate?view=azps-2.3.2) to install cert to cluster

However, it installs to all the node type.

In production, we normally have front end node type/ and backend node type.   we only want to install SSL cert to front end node.

[2019-06-28 17:15] #9436 closed

[2019-06-28 17:18] chez-charlie commented on #9407
@hvermis can you please take a look at this? Thanks a lot

[2019-06-28 19:48] panchagnula commented on #3770
This is fixed with this change https://github.com/Azure/azure-powershell/pull/9496

[2019-06-28 19:49] panchagnula commented on #7263
@Nking92 can you check if this is fixed here https://github.com/Azure/azure-powershell/pull/9496

[2019-06-28 19:50] panchagnula commented on #9316
@Nking92 can you verify if this is fixed with this change https://github.com/Azure/azure-powershell/pull/9496

[2019-06-28 20:36] panchagnula commented on #6576
This should now be fixed please use the new Az commandlets. Please let us know if this is not the case.

[2019-06-28 20:36] #6576 closed

[2019-06-28 21:26] sphibbs commented on #9402
Looks like wix customization extension is loading clr 2.0, so we cannot just update our dll to be 4x. Need to create another type of customization (script, exe) to skip wix extension from loading the clr.

[2019-06-28 21:42] cormacpayne commented on #9520
@juhacket Hey Justin, would you mind taking a look at this issue?

[2019-06-29 00:37] CHDAFNI-MSFT opened #9527 "Set-AzureSubscription - Incorrectly sending success code"
Set-AzureSubscription is returning a success code however it does not actually change the context. In the attached screenshot you'll see:

1. A request switching to Subscription ID '9248'
2. A success response from ASM
3. Get-AzureSubscription shows '9248' is not actually the selected context
![SetSubscriptionFail](https://user-images.githubusercontent.com/28310425/60377379-605fe000-99e4-11e9-8d58

[2019-06-29 01:54] thisispuneet commented on #1597
Same issue if I remove Set-AzureRMVMOperatingSystem it creates the new VM but I can't even login with credentials of original VMs (from which I created the VHD)!! I have to go to UI and reset the password...

[2019-06-29 21:02] prafulbusa commented on #4656
Still getting error for VIrtual Network, NIC, PublicIP etc...The issue is still not resolved yet.

[2019-06-29 21:03] prafulbusa commented on #4695
Still getting error for Virtual Network, NIC, Public-IP etc...The issue is still not resolved yet.

[2019-07-01 02:20] omerzubair opened #9529 "New-AzureRmAutomationWebhook - Invalid expiry time"
## Description

$expiryDate =  (Get-Date).AddYears(50)
$dateFormat = "dd/mm/yyyy"
$WebhookAdded = New-AzureRmAutomationWebhook -Name $WebhookName -Parameters $Params -IsEnabled $True -ExpiryTime ($expiryDate.ToString($dateFormat)) -RunbookName $runBookName -ResourceGroup $rg -AutomationAccountName $AutomationAccountName -Confirm:$false -Debug  -Force

When you supply the -ExpiryTime  as per docs "

[2019-07-01 02:27] omerzubair commented on #9529
needs a documentation update https://docs.microsoft.com/en-us/powershell/module/azurerm.automation/new-azurermautomationwebhook?view=azurermps-6.13.0
took me a whole day to figure out. hope this saves time for someone else

[2019-07-01 11:29] murakest opened #9531 "Az.StorageSync: Cloud endpoint creation access rigths failure issue"
## Description
Hello,
when I try to create first cloud endpoint for the share I get error using powershell.

[code]

Az module 2.3.2
Az.StorageSync module 1.1.0
Region: west europe

If during powershell run I use portal for the first cloud endpoint creation then everything runs fine. Portal action fails, but then powershell code runs fine.

No issues from azure portal side if not using powershell.

[2019-07-01 11:51] brumhard opened #9532 "Get-AzAdUser -Mail doesn't return insufficient priviliges error"
## Description
The Get-AzAdUser cmdlet returns an error when the caller has insufficient permissions.
But when you specify the -Mail parameter and the caller has no permission it just returns null and no error.

## Steps to reproduce

[code]

## Environment data

[code]

## Module versions

[code]

## Debug output

[code]

## Error output

[code]

[2019-07-01 12:35] murakest commented on #9531
Using straight powershell code without arm template looks like working without any issues
[code]

[2019-07-01 12:57] matebarabas commented on #9450
@cormacpayne, I was able to reproduce the issue in my own Azure environment, with the following steps:

- Create a Resource Group in your own subscription and assign a Azure Policy that denies the creations for Storage Accounts for example.
- Create an ARM template that has the definition of 12 Storage Accounts (all named appropriately, etc.)
- Run the following cmdlet: (Test-AzResourceGroupDeploy

[2019-07-01 13:40] Wand3rvogel opened #9533 "Get-AzRecoveryServicesVaultSettingsFile + Start-OBRegistration = Vault credentials file provided has expired"
## Description

With workaround from [hier](https://github.com/Azure/azure-powershell/issues/8885#issuecomment-480851137) I can create VaultCredentials-file.

But Start-OBRegistration gives error:
Start-OBRegistration : Vault credentials file provided has expired. We recommend you download a new vault credentials file from the portal and use it within 2 days.
FullyQualifiedErrorId : CBPUserExpired

[2019-07-01 13:49] barker1889 commented on #9422
Hi @Shrutika-nitw @abver

Thanks, that's working for me now.

[2019-07-01 14:10] snehithm commented on #7486
Hi @markcowl, @EdisonDa,

We are triaging some of the older Azure Monitor alert related issues and are trying to provide answers.

For this request, the following example should disable the webtest classic alert:
[code]
@markcowl I am closing this one out.

[2019-07-01 14:10] #7486 closed

[2019-07-01 17:20] msvijayn commented on #9422
#close

[2019-07-01 17:20] msvijayn commented on #9422
#please-close

[2019-07-01 17:21] msvijayn commented on #9422
@barker1889 - thank you for the confirming. I am closing the issue report.

[2019-07-01 17:21] #9422 closed

[2019-07-01 18:44] markcowl commented on #9531
@murakest You can remove the `Az.*` cmdlets from `C:\Program Files\WindowsPowerShell\Modules` as these are being masked by the cmdlets in your documents directory.

Do you still need troubleshooting on the template since the imperative cmdlet worked.

[2019-07-01 18:48] markcowl commented on #9529
Looks like the fix is also needed here: https://docs.microsoft.com/en-us/powershell/module/az.automation/New-AzAutomationWebhook?view=azps-2.3.2

[2019-07-01 19:10] hvermis commented on #9407
@timoconnellaus You probably have types in your factory that are not released in ADF Powershell SDK yet.
Please use this as a workaround:
$content = [IO.File]::ReadAllText("C:\\<YOUR_PATH>\\<your_pipeline>.json")
$json = ConvertFrom-Json $content
New-AzResource -ResourceType "Microsoft.DataFactory/factories/pipelines" -ResourceGroupName "<YOUR_RESOURCE_GROUP>" -Name "<YOUR_DATAFACTORY>/azdfCustome

[2019-07-01 19:10] #9407 closed

[2019-07-01 19:55] panchagnula commented on #6579
We will look at our existing commands & make these updates as needed.

[2019-07-01 21:36] omerzubair commented on #9529
Absolutely correct , thanks for highlighting it @markcowl .  i mentioned it above but its not clear .

[2019-07-02 03:59] lukeb1961 opened #9537 "New-AzPrivateDnsVirtualNetworkLink - fails second time around"
## Description
If I create a new RG, a new VNET and then
New-AzPrivateDnsZone and New-AzPrivateDnsVirtualNetworkLink it all works fine.
However if I delete the RG completely and later rerun the exact same script, it fails,
despite Get-AzPrivateDnsVirtualNetworkLink returning nothing

    $MelPrivateVnet = Get-azVirtualNetwork -Name $VnetMelPrivate -ResourceGroupName $RG

    $link = New-AzPrivateD

[2019-07-02 04:05] lukeb1961 commented on #8742
still broken, four months later..

[2019-07-02 04:05] lukeb1961 commented on #8526
still broken, five months later...

[2019-07-02 05:12] aquibqureshi26 commented on #9102
any update on how we can show only hidden resources using PowerShell?

[2019-07-02 07:03] murakest commented on #9531
Hello, could you please check if possible why ARM template execution is not working as expected?
The same issue is with latest API version 2019-03-01.
This is not urgent, but I would like to know what issue can cause this as I have request to use ARM template for deployments.

[2019-07-02 08:43] fawohlsc opened #9538 "New-AzPolicyDefinition / New-AzPolicyAssignment only support Management Group Name not Id"
## Description of the new feature
Management group names can be the same, i.e. like many different _Production_ management groups under business unit / region management groups. Only the ID is enforced to be unique.

## Proposed implementation details (optional)
Following the New-AzPolicyDefinition /  New-AzPolicyAssignment cmdlets should support not only assignment via the parameter -ManagementGr

[2019-07-02 12:44] siddharth7 commented on #5331
Will be taking it in end of July or first week of August

[2019-07-02 12:46] siddharth7 commented on #5331
Will be taking it in end of July or first week of August

[2019-07-02 13:46] EPinci opened #9541 "Customizable location for '.azure' directory"
## Description of the new feature

Currently, on Windows, the autocontext save directory is bound to %USERPROFILE%\.azure.
It would be helpfull, when working with many different customers, to allow this to be changed.

## Proposed implementation details (optional)

Most of the linux similar contexts get saved in the %HOME% folder and it would be nice if Window could honor, if defined, this variabl

[2019-07-02 17:58] #5211 closed

[2019-07-02 18:41] filizt commented on #9511
@kutluomeroglu Publish-AzBlueprint behavior is by-design since only an unpublished blueprint (a draft) can be published. The Blueprint API differs in behavior(because of some design decisions made in the past) but this will change in the future.

[2019-07-02 19:22] panchagnula commented on #6573
We will have this fixed for the upcoming release.

[2019-07-02 19:23] panchagnula commented on #6130
Targeting fix for the next release.

[2019-07-02 19:27] panchagnula commented on #6066
Closing this for now & will make the change if needed in the future.

[2019-07-02 19:27] #6066 closed

[2019-07-02 19:29] panchagnula commented on #5983
This needs some basic updates to  support Linux. Targeting end of July release.

[2019-07-02 19:29] panchagnula commented on #5269
This should now be fixed. Please create a new issue if this still occurs.

[2019-07-02 19:29] #5269 closed

[2019-07-02 19:30] panchagnula commented on #4680
@Nking92 can you see if this is still an issue?

[2019-07-02 19:32] panchagnula commented on #7469
@btardif can you help us identity the appropriate APIs for this plus any changes we need to make to the existing commands design to support this. Thank you.

[2019-07-02 19:34] panchagnula commented on #5387
This not an error on the command but the API level command we created an internal bug on the API folks to fix this. Closing this.

[2019-07-02 19:34] #5387 closed

[2019-07-02 20:47] ankushbindlish2 opened #9543 "AzureRM.Storage.ps1 Scenario test module doesn't return StorageAccount context"
## Description
We removed the dependency of Storage.Management (commit ) and started using AzureRM.Storage.ps1 which doesn’t populate context in Get-AzureRmStorageAccount and started failing our tests in record mode. Please help implement New-AzStorageContext in AzureRM.Storage.ps1.

https://github.com/Azure/azure-powershell/blob/master/tools/ScenarioTest.ResourceManager/AzureRM.Storage.ps1

azure

[2019-07-02 21:32] ohadschn commented on #2939
1. @seanbamsft - I second @gregjhogan's question, why is this permission needed if KeyVaults already have their own access policies? Is it do prevent DoS on the KeyVault or something like that?
1. Creating a custom role as @gregjhogan is really the only true answer here - but that's a bit of a chore - why not add a built-in role for this super-common need (reference KV secrets in ARM / VM)?

[2019-07-02 21:41] peperoca116 opened #9544 "The term 'New-AzureServiceProject' is not recognized as the name of a cmdlet"
## Description
Hi We need to deploy a TCP server with a "different known" port so we selected an azure cloud service. My team has different OS so we need to deploy with powershell code.  We also enabled the "Enable-AzureRmAlias" command to avoid errors. In both operating systems we got the same error.

The term 'New-AzureServiceProject' is not recognized as the name of a cmdlet

## Steps to reprod

[2019-07-02 21:46] markcowl commented on #9532
@cormacpayne Please validate that we get a consistent experience in the generated cmdlets

[2019-07-02 21:48] markcowl commented on #9537
@lukeb1961 The message indicates that recreating the VNet can cause this issue, have you contacted Azure support about this?

[2019-07-02 21:54] markcowl commented on #9541
@EPinci The intention is to have a single database of contexts that you can use cmdlets to select from.  Is this ask about making it easier to select between you customer contexts, about storing securie information in a directory of your choosing, or something else?

[2019-07-02 21:59] kutluomeroglu commented on #9511
I see, my use case was that I re-publish a blueprint with a new version prefix after testing its assignment. This is to 'document' that the blueprint was assigned successfully, hence I was looking for functional parity in the powershell module.

[2019-07-02 22:00] markcowl commented on #9544
This is an Azure cmdlet, it was not part of AzureRM, so it is not art of Az.

You must install the 'Azure' module to use this cmdlet.  The very best thing would be to move your service to ARM, so you sould use the more modern ARM tools.

Closing as 'by design'

[2019-07-02 22:00] #9544 closed

[2019-07-02 22:03] markcowl commented on #9527
`Set-AzureSubscription` is not meant to choose a subscription, it is meant to change subscription properties.

Cloaing as `by design`

[2019-07-02 22:03] #9527 closed

[2019-07-02 22:32] seanbamsft commented on #2939
@ohadschn The user does not need to be in the access policy for the vault. In the ARM template scenario, the call to Key Vault is being made using ARM's identity, not the user's identity. It's as if you had put ARM's AAD app's object ID in the access policy with permission to get secrets. But since ARM uses the same identity for all customers, there needs to be a mechanism to ensure you can't ask

[2019-07-03 00:33] aperezcloud commented on #8746
By design the metadata parameter is not supported today. Please feel free to add a request for this feature to our UserVoice page (https://feedback.azure.com/forums/915958-azure-governance), it will help us prioritize our work on the next features to support. Thanks!

[2019-07-03 02:34] russellds opened #9547 "Az.Blueprint is missing Cmdlet to remove Blueprint Definition Versions"
## Description of the new feature

Please add a cmdlet to Az.Blueprint to enable removing Blueprint Definition versions. Currently, you are only able to do that via the Azure Portal.

## Proposed implementation details (optional)

[2019-07-03 03:00] blueww commented on #9543
@ankushbindlish2

I see you use some storage cmdlets like “New-AzureStorageShare” in the StorageSync.Test.
If this works, “New-AzStorageContext” should also works, as the 2 cmdlets are in same project/module.
So you can use Get-AzureRmStorageAccountKey in “tools\ScenarioTest.ResourceManager\AzureRM.Storage.ps1” to get account key, and them create the context with “New-AzStorageContext”  and accoun

[2019-07-03 03:15] lukeb1961 commented on #9537
Thanks Mark. Will chase with Azure support.

[2019-07-03 03:30] 45413 commented on #9259
@Cdoherty95 I had this issue occur anytime I have invalid characters in the name parameter. For instance, If you use the `"DB Space Used > 85%"` it will fail, but `"DB Space Used gt 85"` works fine.

[2019-07-03 06:22] Akreddy123 commented on #7791
@blueww : (netstat -an) and Get-NetTCPConnection are throwing an exception in automation account. Is there any command which will work in automation account?

[2019-07-03 06:24] panchagnula commented on #7440
@vinisoto can you give us an update on this - from what I understood this issue as a limitation with the PS test infrastructure , however, this got updated as an issue with AppService tests - can you give more context here & if this should still be active?

[2019-07-03 06:28] panchagnula commented on #5824
@ahmedelnably is this something we support when we use resources.azure.com? Given the command just calls the API here to update the setting - I am not sure if this should be a client issue. Thanks!

[2019-07-03 06:29] panchagnula commented on #5287
Plan to get this updated for the End of July 2019 release.

[2019-07-03 06:31] panchagnula commented on #6504
@blueelvis is this still an issue ? can you please try with the latest version of Az commands let us know if this still an issue, especially since this not an issue with the commandlet but the API. Thank you.

[2019-07-03 06:31] #6504 closed

[2019-07-03 06:33] panchagnula commented on #8685
Kudu APIs now have equivalent ARM calls so we can support these in the near future.

[2019-07-03 06:33] panchagnula commented on #9209
@Nking92 any update on this one?

[2019-07-03 06:35] panchagnula commented on #9168
@vinhent we believe this should be fixed - can you check with the latest Az command version & confirm. Thank you.

[2019-07-03 06:36] panchagnula commented on #8614
@Nking92 is this something we are still planning on supporting?

[2019-07-03 06:37] panchagnula commented on #7838
Closing this since we haven't heard an update on this issue.

[2019-07-03 06:37] #7838 closed

[2019-07-03 06:38] harshitha-bt opened #9550 "Set-AzureRmContext : Please provide a valid tenant or a valid subscription"
Hi,

I have a powershell script using AzureRm module 6.3.1 and Set-AzureRmContext consistently fails with "Please provide valid tenant or subscription" even though the subscription is valid and i have access to that subscription.
Debug logs for the command run on powershell ISE (5.1.18362.145) is attached. The same issue arises even if i use Az module instead of AzureRm. Could you please suggest t

[2019-07-03 06:39] panchagnula commented on #7096
Closing this since this is a question - we do have plans to add some basic create functionality for Linux.

[2019-07-03 06:39] #7096 closed

[2019-07-03 06:39] #7668 closed

[2019-07-03 06:40] panchagnula commented on #7017
Closing this since this should now be fixed.

[2019-07-03 06:40] #7017 closed

[2019-07-03 06:41] panchagnula commented on #8000
@Nking92 is this fixed now? can you please update this issue?

[2019-07-03 06:49] panchagnula commented on #5833
@Nking92 can you update this issue please?

[2019-07-03 08:10] murakest opened #9551 "Az.StorageSync: New-AzStorageSyncServerEndpoint is not picking up -TierFilesOlderThanDays parameter"
## Description
New-AzStorageSyncServerEndpoint powershell cmdlet is not picking up -TierFilesOlderThanDays parameter. Command completes but value for this parameter is null.

Set-AzStorageSyncServerEndpoint cmdlet is picking this parameter without any issues.
Az module 2.3.2
Az.StorageSync module 1.1.0
Region: west europe

## Steps to reproduce
[code]

## Environment data
[code]

## Module version

[2019-07-03 09:03] t-irali opened #9553 "Help not getting updated even after modifying .md files"
I have generated the help .md files for each of the cmdlets using the platyPS module by following the instructions given. Now even after I modify the .md files to update the help, the help is not getting reflected in the Get-Help cmdlet for any of the cmdlets.

[2019-07-03 12:14] ohadschn commented on #2939
Looks like this is all documented: https://docs.microsoft.com/en-us/azure/azure-resource-manager/resource-manager-keyvault-parameter

[2019-07-03 15:02] Wand3rvogel commented on #9533
`[Microsoft.Internal.CloudBackup.Client.Common.CBClientCommon]::GetCBVaultCredExpiryFromVaultCredential("file from portal").ToString("yyyy-MM-dd")
`

2019-07-05

`[Microsoft.Internal.CloudBackup.Client.Common.CBClientCommon]::GetCBVaultCredExpiryFromVaultCredential("file from cmdlet")`

Exception "Microsoft.Internal.EnterpriseStorage.Dls.Utils.DlsException"

[2019-07-03 16:32] cormacpayne commented on #9553
@t-irali Hey Irfan, this behavior is expected for local development -- when calling `Get-Help` for a given cmdlet, PowerShell looks for a `dll-Help.xml` file that contains all of the reference documentation for that cmdlet. If it cannot find that file, then it creates generic help using the public interface of the cmdlet. The markdown files that you're creating are used during our sign/packaging j

[2019-07-03 16:32] #9553 closed

[2019-07-03 17:28] vinisoto commented on #7440
@panchagnula I'll have a look and check if we need to include additional validations to modify the behavior of the cmdlet based on the PSVersion present. @jvano as FYI

[2019-07-03 18:15] Brad-Christie commented on #4919
For anyone else seeing this and wondering WTF... (note: Applicable to Az module, too)

Open your portal, Visit Azure Active Directory > App Registrations and remove it from there. Apparently the CLI _still_ doesn't do this (regardless of `Get-AzADSecurityPrincipal` not listing it).

🤦‍♂️

[2019-07-03 19:57] MiYanni opened #9555 "Add global renames to readme.azure.md"
## Description
Non-service specific terminology should be renamed in readme.azure.md, so that there is consistency among names in all Azure modules. These could be industry terms or terms used in Azure, but not specific to a service. For example, `Virtual Machine Scale Set -> Vmss` and `Virtual Machine -> VM`.

This would be great to also have the ability to rename terms globally in the generator

[2019-07-03 20:50] #8746 closed

[2019-07-03 22:51] glittle commented on #9488
I have the same issue, on Windows:

[code]
[code]

[2019-07-03 22:54] LucianFrango commented on #8371
+1 in that I am experiencing this issue as well. The example does not work as per @spaelling outlined in this previous comment on Jan 24th. Still no resolved as of July 2019.

[2019-07-03 23:02] #5038 closed

[2019-07-03 23:17] cormacpayne commented on #9513
The version of `Microsoft.Rest.ClientRuntime` has been updated in the `master` branch.

[2019-07-03 23:17] #9513 closed

[2019-07-03 23:31] akshaysngupta commented on #9488
Ack. Will start working on this.

[2019-07-04 01:53] blueww commented on #7791
@Akreddy123
I don't know another way to get it. And it the 2 method both fail, it might be some environment issue.
You might can check with the provider/owner of the automation account, to see how to resolve it.

[2019-07-04 02:48] blueww commented on #4649
I can repro the issue on my machine with 8 cores.
After transfer a 600MB file, the CPU usage will keep 3-5% for Powershell.
I have discussed with DMlib team, and get some clue on it. We will see how to fix this in DMlib, then Powershell will also be fixed by upgrade to new DMlib.

[2019-07-04 04:49] omerzubair commented on #9529
Hi Team , so i made to work and everything was working fine for past 2 days and suddenly now i am getting the following error
New-AzureRmAutomationWebhook : Runbook mandatory parameter not specified. Parameter name validationPassed.

[2019-07-04 04:53] omerzubair commented on #9529
OK Figured it out. The interface changed with a new mandatory parameter is required!

so use the following

$Params = @{"WEBHOOKDATA"="";"VALIDATIONPASSED"=""}

 New-AzureRmAutomationWebhook -Name $WebhookName -Parameters $Params -IsEnabled $True -ExpiryTime $expiryTime -RunbookName $runBookName -ResourceGroup $automationResourceGroup -AutomationAccountName $automationAccountName -Force

[2019-07-04 05:39] lukeb1961 commented on #9537
OK. PM responded:
This is a known bug and will be fixed in a few weeks. Please see
https://docs.microsoft.com/en-us/azure/dns/private-dns-overview#known-issues

[2019-07-04 05:39] #9537 closed

[2019-07-04 06:00] blueelvis commented on #6504
@panchagnula - Sure thing. Let me test it out and get back to you.

[2019-07-04 09:33] Wand3rvogel commented on #9533
CBEngineCurr.errlog:

[2019-07-04 14:54] vinhent commented on #9168
I installed Az 2.4.0 and tested with this cmdlet:

`$webApp = Get-AzWebApp -ResourceGroupName $resourceGroupName -Name $appName -ErrorAction Stop`

I'm still getting `$null` in `$webApp.SiteConfig.FtpsState` and `$webApp.SiteConfig.Http20Enabled` whatever their real values are.

[2019-07-04 15:05] wxwr opened #9558 "Set-AzEventHubNamespace is using PATCH instead of PUT"
## Description
Trying to upgrade namespace tier with Set-AzEventHubNamespace which using PATCH method instead of [PUT as per ARM documentation](https://docs.microsoft.com/en-us/rest/api/eventhub/namespaces/createorupdate) is causing the command to succeed but no change is actually done on the resource.

## Steps to reproduce
Create an Event Hub namespace on Basic tier and try upgrading it to Stand

[2019-07-04 15:20] solankisamir commented on #8671
released - [v2.4.0-July2019](https://github.com/Azure/azure-powershell/releases/tag/v2.4.0-July2019)

[2019-07-04 15:20] #8671 closed

[2019-07-04 15:20] solankisamir commented on #9307
released - [v2.4.0-July2019](https://github.com/Azure/azure-powershell/releases/tag/v2.4.0-July2019)

[2019-07-04 15:20] #9307 closed

[2019-07-04 15:20] solankisamir commented on #8432
released - [v2.4.0-July2019](https://github.com/Azure/azure-powershell/releases/tag/v2.4.0-July2019)

[2019-07-04 15:20] #8432 closed

[2019-07-04 15:25] solankisamir commented on #3623
closing this issue, due to lack of steps to reproduce the issue.
Please use the latest cmdlet [v2.4.0-July2019](https://github.com/Azure/azure-powershell/releases/tag/v2.4.0-July2019), which gives the detailed error trace

[2019-07-04 15:25] #3623 closed

[2019-07-04 15:53] majofoal commented on #9351
Hello, @solankisamir is there an ETA for this item?

[2019-07-04 17:42] glittle opened #9559 "Confused about versions of AZ"
These two sites:

[https://docs.microsoft.com/en-us/cli/azure/network/application-gateway?view=azure-cli-latest](https://docs.microsoft.com/en-us/cli/azure/network/application-gateway?view=azure-cli-latest)

and

https://docs.microsoft.com/en-us/powershell/module/az.network/?view=azps-2.4.0#application_gateway

both give instructions on how to manage, in this example, the Application Gateway.

Nei

[2019-07-04 17:45] glittle commented on #9559
As another example, here are the two ways to create an address pool:

https://docs.microsoft.com/en-us/cli/azure/network/application-gateway/address-pool?view=azure-cli-latest#az-network-application-gateway-address-pool-create

https://docs.microsoft.com/en-ca/powershell/module/azurerm.network/New-AzureRmApplicationGatewayBackendAddressPool?view=azurermps-6.13.0

Totally different commands.  Tutor

[2019-07-04 17:57] glittle commented on #9488
This other Issue may be related: #4982

[2019-07-04 20:37] dealaus opened #9560 "New-AzSqlElasticPool throws aggregate exception"
## Description
This cmdlet does not have a good error experience. It seems to always throw an aggregate exception even in the presence of a single error. This requires users to dig into the `$error` object to determine the real failure reason.

## Steps to reproduce

[code]

## Environment data

[code]

## Module versions

[code]

## Debug output

[code]

## Error output

[code]

[2019-07-04 22:43] timoconnellaus commented on #9407
Thanks @hvermis

[2019-07-05 08:05] Danlewis3 commented on #9336
So there is a way to get around this issue. If you use set-AzApiManagementApi after the import you can set the URL afterwards.

[2019-07-05 12:54] vinhent commented on #9168
Can we reopen this issue?

[2019-07-05 13:27] Wand3rvogel commented on #9533
[code]

CBEngineCurr.errlog:

Not working...

[2019-07-06 21:43] PinakiIT commented on #4491
I get this, using the code abouve, and then calling `New-AzureRmADApplication`
`Cannot convert the "Microsoft.Azure.Graph.RBAC.Version1_6.ActiveDirectory.PSADKeyCredential" value of type "Microsoft.Azure.Graph.RBAC.Version1_6.ActiveDirectory.PSADKeyCredential" to type "Microsoft.Azure.Graph.RBAC.Version1_6.ActiveDirectory.PSADPasswordCredential`

[2019-07-08 04:09] katlimruiz commented on #9369
I do have the same issue, and I have not found any method in Az.Websites (even more, scaling actually belongs to another module, not webapps).

[2019-07-08 07:59] mathwro opened #9566 "Change IP adress of firewall rule in Azure Analysis Services"
## Description of the new feature
A way to either remove an existing Analysis Services firewall rule and create a new (in the same way an NSG works using the "Remove-AzNetworkSecurityRuleConfig"), or a way to simply update the rule directly, using the Azure Powershell module

## Proposed implementation details (optional)

[2019-07-08 09:48] lxzhu commented on #9307
Great Thanks! @solankisamir @niander

[2019-07-08 13:45] LeonJansen opened #9568 "Az.Accounts 2.0.0-preview fails login with: Object reference not set to an instance of an object."
## Description
When trying to login to Az using Connect-AzAccount -Credential it fails with the following error messsage:
[code]
EDIT: This is a newly created tenant with no subscriptions, the error message indicates that there is problem with that.

## Steps to reproduce

[code]

## Environment data

[code]

## Module versions

[code]

## Debug output

[code]

## Error output

[code]

[2019-07-08 14:06] artisticcheese commented on #9225
Fixed in Az.ResourceGraph 0.7.3

[2019-07-08 14:06] #9225 closed

[2019-07-08 16:49] SteveL-MSFT commented on #6292
Need a simple PS repro if this is suspected in PowerShell.  Testing this with splatting a secure string works with just PowerShell:

[code]

[code]

[2019-07-08 17:07] #9168 closed

[2019-07-08 17:20] bingbing8 commented on #9448
I see the repro randomly in my code.
We connect-AzAccount from powershell azure funcitons. Here are what I am doing in our ps azure function:

1.	Invoke Disable-AzContextAutosave -Scope Process before doing anything with Az. In Functions, profile.ps1.
2.	Don’t invoke Connect-AzAccount from profile.ps1. Invoke it from your function instead.
3.	Invoke Connect-AzAccount with subscriptionID and save t

[2019-07-08 17:22] Midacts commented on #9369
https://stackoverflow.com/questions/48943288/how-to-change-azure-portal-vmss-scale-condition-scale-to-a-specific-instance-co

Jason Ye:

We just created a default scaleset and then added a scheduled one that had a super low CPU utilization  (0) that would cause it to be triggered on the schedule.
It's kind of a hack, but it works.

[2019-07-08 17:29] panchagnula commented on #9168
@vinhent we have a fix for this in the dev branch - will be go out with our next release

[2019-07-08 18:50] panchagnula commented on #6020
The current New-AzWebappSSLBinding command takes care of uploading & binding a certificate, We will consider making these 2 separate commands - when we add support for importing certificates from KeyVault. Sorry for now not something we are looking into.

https://docs.microsoft.com/en-us/powershell/module/az.websites/new-azwebappsslbinding?view=azps-2.4.0

[2019-07-08 18:50] #6020 closed

[2019-07-08 18:53] panchagnula commented on #7627
@btardif will sync with you on the commandlet design for this.

[2019-07-08 18:55] panchagnula commented on #9388
this should be fixed by this change https://github.com/Azure/azure-powershell/pull/9496

[2019-07-08 18:55] #9388 closed

[2019-07-08 18:57] #3770 closed

[2019-07-08 18:57] #7263 closed

[2019-07-08 19:25] panchagnula commented on #7297
@Nking92 not sure if this was already fixes with this change https://github.com/Azure/azure-powershell/pull/9496 if not can we get this in for the End of July release

[2019-07-08 19:44] sqlsolver commented on #9467
@cormacpayne I am stuck on the same issue. My az.accounts version is 1.6, PowerShellGet is 2.1.3 and I'm on PowerShell 6.2.1. I am able to create the Service Principal using the same certificate, but not connect. The application ID was generated automatically when I created the Service Principal.

[code]

[2019-07-08 21:35] markcowl commented on #9547
@filizt can you take a look?

[2019-07-08 21:41] migrande commented on #6292
@SteveL-MSFT this isn't really a splatting issue.  The original poster called it splatting, but the issue is with passing SecureStrings via the TemplateParameterObject

[2019-07-08 21:44] markcowl commented on #9550
@harshitha-bt `Set-AzContext` actually changes the current context, ratehr than selecting a new one.  The error below indicates that you haven't previously logged in to the tenant you are trying to access, which usually means you are trying to select a new tenant and a subscription in that tenant.

If you are trying to access a different tenant, you can use connect-azaccount -Tnenat <tenantId> -Su

[2019-07-08 21:46] markcowl commented on #9550
@harshitha-bt If this isn't the problem you are trying to solve, please provide the other information requested in the issue template:

- PowerShell version (`$PSVersionTable`)
- Module versions (`Get-Module -ListAvailable`)
- cmdlet execution parameters

[2019-07-08 21:49] markcowl commented on #9551
@ankushbindlish2 Can you take a look?

[2019-07-08 21:51] markcowl commented on #9558
@wxwr Can you provide the module layout on your machine?  To do this, run `Get-Module -ListAVailable`

[2019-07-08 21:55] markcowl commented on #9559
`Az`, the current Azure PowerShell module, which runs cross-platform is not discontinued.

`AzureRM`, the old version of Azure PowerShell that worked only on Windows, *is* dicontinued, and was replaced by `Az`.

`Az` is azure PowerShell - PowerShell cmdlets for Azure.  azure cli is the bash commands for Azure.  Both are correct. You can use whichever you are more comfortable with.

[2019-07-08 21:55] #9559 closed

[2019-07-08 21:57] markcowl commented on #9560
@dealaus The top level server message *should* be visible in the thrown error.

Note that `Resolve-AzError` is meant to provide additional information on errors (and does provide the server massage), but should not be required to get this minimal level of information

[2019-07-08 21:58] markcowl commented on #9566
@solankisamir Can you take  alook?

[2019-07-08 22:00] markcowl commented on #9568
@LeonJansen Thanks, we will take a look.  It should be possible to login to a tenant with no subscription access - for data plane cmdlet support.

[2019-07-08 22:15] ankushbindlish2 commented on #9551
@murakest , would you remove old StorageSync 0.8.1 module and try the command again.

[2019-07-08 22:17] ankushbindlish2 commented on #9551
We have fixed this issue as part of this pull request https://github.com/Azure/azure-powershell/pull/9284

[2019-07-08 22:26] solankisamir commented on #9566
@markcowl I am not from Azure Analysis Service. I can take feature request for Api Management

[2019-07-09 05:38] Sathana109 opened #9573 "New-AzAks: Cannot create AKS cluster using Az module"
## Description
 I tried creating an AKS cluster using the command mentioned in the following document and I am facing errors:
 https://docs.microsoft.com/en-us/powershell/module/az.aks/New-AzAks?view=azps-2.4.0

[code]

I tried various names for the AKS cluster and still face the same error. The link given in the error message is given below:
https://docs.microsoft.com/en-us/azure/aks/troubleshoot

[2019-07-09 07:30] murakest commented on #9551
@ankushbindlish2, I have tested again and still faced the same issue. I have deployed vanilla server, installed AZ 2.4.0 module that has az.storage sync 1.1.0. Everything on azure is already pre-created and I only execute code to create file server endpoints and once I check in azure portal the "cache files option for files older then" is not set up.

New-AzStorageSyncServerEndpoint -Name $registe

[2019-07-09 07:33] mathwro commented on #9566
Just read through my post and realised it might not be super clear as to what im requesting,

With the current available cmdlets for the Analysis service, it's not possible to delete a specific rule or modify a rule.

the NSG cmdlets seems fairly close in nature in regards to how it works programmatically, which is why i used that as an example.

I got around not being able to modify a specific ru

[2019-07-09 17:02] c4rlosmarin opened #9576 "Get-AzureDeployment hangs"
Hi there,

I'm getting no response from "Get-AzureDeployment" on my subscription where there is no activity at all, there are no additional ARM requests being sent to it. I was able to repro with the following script:

`while ($true) { Write-Host "rn rn";Get-AzureDeployment -ServiceName myazurecloudservice001 -Slot Production -Verbose; }`

After 1 or 2 minutes of successfully getting responses wit

[2019-07-09 17:29] c4rlosmarin opened #9578 "New-AzResourceGroupDeployment hangs while deploying an AI Availability Test"
Availability Tests ARM template deployment are hanging, having said that, the availability test is created and works with no issues.

The powershell command is the following:

New-AzResourceGroupDeployment -ResourceGroupName ARR -TemplateFile "C:\template.json" -webTestName myAvailabilityTest001 -appName myappservice001 -URL www.microsoft.com

The template (just put the pre-existing action group r

[2019-07-09 18:18] SuchitChoudhury commented on #8000
@Nking92 I am getting the issue for one of my customers who is using ARM template for deployment.
I did reproduce the issue at my end. Do we have an ETA when is this going to be fixed?

[2019-07-09 19:57] cormacpayne commented on #9467
@rafaci @sqlsolver it looks like [this line](https://github.com/Azure/azure-powershell/blob/0e192950b6fafc6c3be88f9b8b7acbf782aaef33/src/Accounts/Authentication/Factories/AuthenticationFactory.cs#L117) is causing the issue -- the account that we receive from MSAL for service principal requests is null, so when we try to pull the user id, we get a null-reference exception. This issue will be fixed

[2019-07-09 20:07] vinisoto commented on #7440
@panchagnula - I have created a PR(#9575 ) to explicitly show an error when using PsVersion 6.0.4

[2019-07-09 20:51] sqlsolver commented on #9467
@cormacpayne
Is there a current workaround?

[2019-07-09 21:29] cormacpayne commented on #9568
@LeonJansen I'm unable to reproduce this exception when using U/P authentication with an account that access to no subscriptions. Before running `Connect-AzAccount`, would you mind running `Get-AzContext -ListAvailable` and leaving a comment with the result? Also, since the preview does not currently support migrating the contents of the ADAL cache to MSAL, I would recommend just removing all of t

[2019-07-09 21:52] cormacpayne commented on #9573
@Sathana109 it looks like the default Kubernetes version being used is outdated, as seen [here](https://github.com/Azure/azure-powershell/blob/master/src/Aks/Aks/Commands/CreateOrUpdateKubeBase.cs#L87). We will update this version in the upcoming release.

In the meanwhile, you can use the `-KubernetesVersion` parameter to specify the version that you use. We found that using version 1.13.5 ([the

[2019-07-09 21:54] cormacpayne commented on #8526
@lukeb1961 we will update the default Kubernetes version used in our AKS cmdlets in the upcoming sprint. A temporary workaround can be found in [this comment](https://github.com/Azure/azure-powershell/issues/9573#issuecomment-509823626). I'm going to close this issue in favor of the one linked previously and we will track the status of the fix to the default version there.

[2019-07-09 21:54] #8526 closed

[2019-07-09 21:54] cormacpayne commented on #8742
@4c74356b41 we will update the default Kubernetes version used in our AKS cmdlets in the upcoming sprint. A temporary workaround can be found in [this comment](https://github.com/Azure/azure-powershell/issues/9573#issuecomment-509823626). I'm going to close this issue in favor of the one linked previously and we will track the status of the fix to the default version there.

[2019-07-09 21:54] #8742 closed

[2019-07-09 21:56] cormacpayne commented on #8053
@yevster we will update the default Kubernetes version used in our AKS cmdlets in the upcoming sprint. A temporary workaround can be found in [this comment](https://github.com/Azure/azure-powershell/issues/9573#issuecomment-509823626). I'm going to close this issue in favor of the one linked previously and we will track the status of the fix to the default version there.

[2019-07-09 21:56] #8053 closed

[2019-07-09 21:56] cormacpayne commented on #7724
@ibondy we will update the default Kubernetes version used in our AKS cmdlets in the upcoming sprint. A temporary workaround can be found in [this comment](https://github.com/Azure/azure-powershell/issues/9573#issuecomment-509823626). I'm going to close this issue in favor of the one linked previously and we will track the status of the fix to the default version there.

[2019-07-09 21:56] #7724 closed

[2019-07-09 22:01] cormacpayne commented on #9578
@c4rlosmarin would you mind re-running the above command after setting `$DebugPreference = "Continue"` and sending us the corresponding debug log in a new comment?

[2019-07-09 22:02] cormacpayne commented on #9576
@Tiano2017 Hey Tian, do you know what could be happening here? Does ARM do any type of throttling that would cause this hanging behavior to occur?

[2019-07-09 22:11] #5520 closed

[2019-07-09 22:14] #5619 closed

[2019-07-09 22:15] #5379 closed

[2019-07-09 22:15] #5522 closed

[2019-07-09 22:16] #5521 closed

[2019-07-09 22:16] #5175 closed

[2019-07-09 22:16] #5366 closed

[2019-07-09 22:16] Tiano2017 commented on #9576
Actually not sure about this one.. I thought it's "Get-AzDeployment", but seems it's "Get-AzureDeployment". Is this owned by CRP?

[2019-07-09 22:17] #6224 closed

[2019-07-09 22:17] #5316 closed

[2019-07-09 22:18] #5311 closed

[2019-07-09 22:18] #5306 closed

[2019-07-09 22:18] #5872 closed

[2019-07-09 22:24] #3649 closed

[2019-07-09 22:26] #5305 closed

[2019-07-09 22:30] villanub opened #9580 "Get-AzRecoveryServicesVaultSettingsFile : Parameter set cannot be resolved using the specified named parameters."
## Description

Unable to run Get-AzRecoveryServicesVaultSettingsFile : Parameter set cannot be resolved using the specified named parameters.

## Steps to reproduce

[code]

## Environment data

[code]

## Module versions

[code]

## Debug output

[code]

## Error output

[code]

[2019-07-09 22:44] mentat9 commented on #9538
Management Group API does not have a unique ID for management groups. The ID field of the management group is just the name, prefixed with /providers/Microsoft.Management/managementGroups/. What you are asking for doesn't exist.

[2019-07-09 22:44] #9538 closed

[2019-07-09 22:55] #6142 closed

[2019-07-09 22:58] #5344 closed

[2019-07-09 22:58] #7327 closed

[2019-07-10 05:29] SkyDrive26 commented on #7269
Any update on this?

[2019-07-10 06:00] c4rlosmarin commented on #9576
This is definitely about the Get-AzureDeployment command-let, so classic deployment model.

[2019-07-10 06:57] fawohlsc commented on #9538
@mentat9 . Thanks for coming back. The /providers/Microsoft.Management/managementGroups/ uses the Management Group ID not the Name. That's why naming the parameter -ManagementGroupName is confusing.

[2019-07-10 07:16] letmaik commented on #3649
@cormacpayne Please don't close issues without commenting on the reason.

[2019-07-10 07:27] Wand3rvogel commented on #9580
You need -Backup or -SiteRecovery.
And -Certificate is a must.

(https://docs.microsoft.com/en-us/powershell/module/az.recoveryservices/get-azrecoveryservicesvaultsettingsfile?view=azps-2.4.0)

[2019-07-10 07:34] Sathana109 commented on #9573
I was able to create an AKS cluster successfully after using the -KubernetesVersion parameter. Thank you for the update.

Kindly let me know how to provide the values for the service principal (ClientIDandSecret) parameter.
If you can provide me an example for passing values for this parameter it will be helpful.

[2019-07-10 08:19] JAkerblom commented on #8410
I'm experiencing the same problems. The Id I use at least isn't working even though the same Id worked when deploying the integration account resource with arm template.
Pattern used =>
-IntegrationAccountId "/subscriptions/$AzureSubscriptionId/resourceGroups/$ResourceGroupName/providers/Microsoft.Logic/integrationAccounts/$($DeploymentPrefix)integraccInternal"

[2019-07-10 09:02] LeonJansen commented on #9568
@cormacpayne ```Get-AzContext -ListAvailable``` Doesn't show any output. So there is no context there. I still get the same error message tho. Even cleared the az-context using ```Clear-AzContext```

[code]

I tried the same with an account that has an Azure Subscription, but the problem still remains. So i think it has nothing to do with not having a Subscription. I think the problem is elsewhere

[2019-07-10 12:49] siddharth7 commented on #9356
@YannickJanssens On debugging this issue further, PowerShell and Portal are showing two different fields as a part of the output.
On Portal, `Backup Status` translates to `protectedItemHealthStatus` value from service.
On PowerShell, `Backup Status` translates to `protectionStatus` value from the service.

[2019-07-10 12:52] LeonJansen commented on #7194
Will this ever be added to the AzureRM / Az Module?

[2019-07-10 13:02] #9356 closed

[2019-07-10 13:10] avi1479 opened #9585 "Get-AzureBatchPool fails by saying "Could not load file or assembly 'Microsoft.Extensions.Primitives, Version=1.0.1.0, Culture=neutral, PublicKeyToken=adb9793829ddae60' or one of its dependencies. The system cannot find the file specified.""
<h3>Description</h3>
<p>
Get-AzureBatchPool fails by saying "Could not load file or assembly 'Microsoft.Extensions.Primitives, Version=1.0.1.0, Culture=neutral, PublicKeyToken=adb9793829ddae60' or one of its dependencies. The system cannot find the file specified."

Steps that I followed to install Az cmdlets:
1. Uninstalled the AzureRm modules on my machine completely.
2. Installed the Az cmdlets

[2019-07-10 13:14] siddharth7 commented on #7533
@MiYanni Can you update the labels for this issue?

[2019-07-10 15:47] nomie788 commented on #9168
when do we expect the next release?

[2019-07-10 15:59] vinhent commented on #9168
@panchagnula Alright thank you!

[2019-07-10 16:21] c4rlosmarin commented on #9578
@cormacpayne, debug log attached.

As far as I can see it keeps showing the same HTTP Request and Response while "Checking deployment status in 5 seconds". This happens long after the deployment has completed.

[output.txt](https://github.com/Azure/azure-powershell/files/3378464/output.txt)

[2019-07-10 16:48] alexandair commented on #9573
@cormacpayne How has this cmdlet passed the basic test when it fails with the default value?

[2019-07-10 17:03] filizt commented on #9547
@alex-frankel FYI.

[2019-07-10 17:16] panchagnula commented on #9168
@nomie788 i believe this is the next release https://github.com/Azure/azure-powershell/milestone/76

[2019-07-10 17:35] MasterKuat opened #9586 "CmdLet for updating RunAS of automation HybridWorker group"
## Description of the new feature
It could be usefull to have a cmdLet like 'Set-AzAutomationHybridWorkerGroup' in order to define à custom credential or undefine it.
Reference of Azure API
https://docs.microsoft.com/en-us/rest/api/automation/hybridrunbookworkergroup/update

## Proposed implementation details (optional)

[2019-07-10 17:47] cormacpayne commented on #9573
@alexandair Hey Aleksandar, the tests that run on CI don't make any live calls to Azure (for the sake of time 😁), so when a service teams introduces a test, they will run it live against Azure, capturing all of the HTTP requests and responses, which get saved to a `.json` file. When the test is run on CI, we use its corresponding recorded `.json` file to mock the requests and responses, which allo

[2019-07-10 18:13] hvermis commented on #9297
This is fixed, will be available in July 30 release of Powershell.

[2019-07-10 18:13] #9297 closed

[2019-07-10 18:14] MiYanni commented on #7533
@siddharth7 What do you want the labels to be?

[2019-07-10 18:21] mentat9 commented on #9538
Not sure whether we're saying the same thing. Here's what I'm saying:

[code]
The confusion originates from the MG nomenclature. When creating an MG you give "GroupName" (e.g. AzGovTest5), which is allowed to be non-unique. The MG provider doesn't create any kind of unique ID. The "ID" property is just the fully qualified [non-unique] GroupName that was provided at create time (/providers/Microsof

[2019-07-10 19:38] spaminator commented on #8827
Hi @viverm any news on a fix?

[2019-07-10 20:06] fawohlsc commented on #9538
@mentat9 . Thanks for coming back to me. Actually that is not entirely correct. The name of different management groups can be the same (see screenshot "production"), but the id must be unique. Following it would be better to rename the parameter to -ManagementGroupId. Try it out, actually the ManagementGroupName parameter looks into the ManagementGroupId.

![image](https://user-images.githubuserc

[2019-07-10 21:07] mentat9 commented on #9538
Unfortunately, what you are seeing there is additional confusing nomenclature. Uniqueness is being enforced through portal sleight-of-hand, not by a separate ID field at the backend. When the user exits the "ID" field, the portal queries for an existing MG that has a "Name" the same as what they entered into the "ID" field. If one already exists, the error message is printed, and the Save button r

[2019-07-10 21:37] jlouie1 commented on #8827
It works again in latest modules.  Thanks!

2.4.0      Az

1.4.2      Az.RecoveryServices

[2019-07-10 21:49] btardif commented on #4982
I have reached out to API owners for sample

[2019-07-10 22:30] alexandair commented on #9573
@cormacpayne I really hope future tests will be better. If a command like `New-AzAks -ResourceGroupName AKS -Name aks1`, which is the most basic usage of the New-AzAks, fails, a test is really broken. I thank you for a detailed explanation, but bugs like this look very bad in the users' eyes.

[2019-07-11 00:45] c4rlosmarin commented on #9576
So from the memory dump, at thread number 5, it seems the thread gets blocked due to a call to Microsoft.WindowsAzure.Management.ManagementClientExtensions.GetOperationStatus which then calls Microsoft.Runtime.CompilerServices.TaskAwaiter.HandleNonSuccess, right?

OS Thread Id: 0x2edc (5)
        Child SP               IP Call Site
[code]

[2019-07-11 04:33] t-irali opened #9591 "Windows Powershell Analyze and Test Check failing in Pull Request Checks"
## Description
I am trying to create a new module for azure powershell. In the pull request checks, all the checks are passing except for 3 checks - Windows Powershell, Windows Powershell - Analyze and Windows Powershell - Test.
When I looked at the output log, the error was in BinSkim step. The error is as follows :

`D:\a\1\s\artifacts\Debug\Az.DataBox\Microsoft.Azure.Management.DataBox.dll: err

[2019-07-11 04:38] #9591 closed

[2019-07-11 07:24] jespernohr commented on #9199
Any Update on this?

[2019-07-11 09:21] drewkg commented on #7061
Even the sample outputs in the documentation (https://docs.microsoft.com/en-us/powershell/module/az.accounts/get-aztenant?view=azps-2.4.0#outputs) show the directory information to be populated.

As a member of 30+ tenancies, the output from this command is almost useless.

[2019-07-11 10:03] danstis commented on #7802
Has this issue been forgotten about?

[2019-07-11 11:05] viverm commented on #8827
Install-Module -Name Az.RecoveryServices -AllowPrerelease

Az.RecoveryServices 2.0.0-preview is released.

[2019-07-11 12:15] jschrap opened #9595 "How does migrating to Az impact Azure Automation runbooks?"
We have azure automation runbooks created with Powershell.
Do you have any recommendations in how to migrate these to use AZ?

[2019-07-11 16:08] dcaro commented on #9274
@jeking3, thanks for opening this issue, we are working to find the best way to document the required permissions per API.

[2019-07-11 16:39] briancuster opened #9598 "Can't Install Az Module in Powershell 6.0"
## Description
While installing the latest version of Az I get an error described below.  This error is generated in whatever version of Powershell I use.

## Steps to reproduce

[code]

## Environment data

[code]

## Module versions

[code]

## Debug output

[code]

## Error output

[code]

[2019-07-11 16:47] briancuster commented on #9598
I've tried installing the latest version of Az multiple times with the same result.

[2019-07-11 17:39] cynthn opened #9599 "Set-AzVMBootDiagnostic -enable not working"
## Description

Using Set-AzVMBootDiagnostic -Enable does not enable boot diagnostics.

## Steps to reproduce

[code]

Returns something similar to this:

[code]

Looks like it succeeded (no errors) but boot diagnostics is not enabled.

## Environment data

[code]

## Module versions

[code]

## Debug output

[code]

## Error output

[code]

[2019-07-11 20:04] filizt commented on #9547
@russellds we have added this as a feature request to our board. It has missed the cut off for the Blueprint module update coming in next week. That being said, it should be in the release after that.

[2019-07-11 21:01] js0505 commented on #8486
Is there going to be an update on this one? I just used the most recent release and this failure is still occurring.

[2019-07-11 21:29] MikhailTryakhov commented on #9199
@fanymanea can you please escalate a fix?

[2019-07-11 21:40] sphibbs commented on #9595
We have a document describing the migration for az in automation [here](https://docs.microsoft.com/en-us/azure/automation/az-modules). Please let us know if you have any issues after reading the blog.

[2019-07-11 21:40] #9204 closed

[2019-07-11 21:42] sphibbs commented on #9595
Assigning to @dcaro to test internal workflow. Will close soon unless jschrap requests further info.

[2019-07-11 21:42] jmora58 opened #9600 "Is -CustomData being run automatically on Windows Server OS"
## Description of the new feature

Hello Team,

I hope you are doing great.

I am reaching you out to get your advisory regarding the use of -CustomData command on a new Windows VM deployment, we are attempting to execute a set of powershell commands on a newly created virtual machine by passing in a @hash string of powershell commands via the -customdata parameter on the Set-AzVMOperatingSystem c

[2019-07-11 22:53] devblackops opened #9601 "Get-AzRedisCache does not return minimumTlsVersion where "az redis show" does"
## Description

The Redis properties exposed with `Get-AzRedisCache` are not consistent with what `az redis show` returns. In particular, I'm interested in `minimumTlsVersion`, which I can't find a way to return with the PS module.

## Steps to reproduce

[code]

## Environment data

[code]

## Module versions

[code]

[2019-07-11 22:56] markcowl commented on #7009
sprint160

[2019-07-11 22:56] markcowl commented on #5144
sprint160

[2019-07-11 22:57] markcowl commented on #4351
sprint160

[2019-07-11 23:10] markcowl commented on #9449
@Tiano2017 can you take a look?

[2019-07-11 23:12] markcowl commented on #9450
@matebarabas We really need the debug output.  Without this, we cannot determine whether the issue is with the cmdlets, or with the service.

[2019-07-11 23:19] markcowl commented on #9467
@sqlsolver Unfortunately, the preview is only designed for user authentication.  When this becomes geenrally available, there will be full support for all supported authentications cenarios, incuding this one.

[2019-07-11 23:23] markcowl commented on #9457
Verified that this is in the new version of the cmdlets, so this will be released as part of the generated cmdlet preview this summer.  Closing, as this won't be released in 2.x

[2019-07-11 23:23] #9457 closed

[2019-07-11 23:31] markcowl commented on #9448
@bingbing8 @spaelling @arpparker The likely culprit here is an issue with the type converter in the job.  The type converter is used in this case because the type of the cmdlet parameter is `IAzureContextContainer`, rather than `IAzureContext`

To work around the issue, you can pass in an IAzureContextContainer.  In a tpical azure environment, this would mean passint the results of running `Connec

[2019-07-11 23:34] markcowl commented on #9402
### Description
Remvoe the customization that detects AzureRM, which should resolve the issue altogether

### Cost: 1

[2019-07-11 23:40] #7905 closed

[2019-07-11 23:45] markcowl commented on #9568
@LeonJansen How are you creating the credential?  Does it have a SecureString password, or just a user id?

[2019-07-11 23:53] markcowl commented on #9541
Closing for lack of response.  Please feel free to open a new issue and clarify as requested

[2019-07-11 23:53] #9541 closed

[2019-07-11 23:55] markcowl commented on #9427
@J0F3 So, this functionality will become GA this summer, so I think we will track this issue along with that GA.  It appears that this is simply not supported for device authentication in ADAL.

[2019-07-11 23:56] markcowl commented on #9427
@cormacpayne we should be able to resolve this with the new version fo Az.Accounts supporting MSAL

[2019-07-12 00:50] markcowl opened #9629 "Normalize Configurations for shared patterns"
### Description
- [ ] Add directives for New/Update/Set parameter sets
- [ ] Drive configuration updates for POST op parameter sets
- [ ] Add directives for ManagedIdentity
- [ ] Drive configuration for SKU (i.e., no Configuration)

### Cost: 2

[2019-07-12 00:51] markcowl opened #9630 "Formalize Questions to Answer for Preview"
### Description
- [x] Gather all the questions we want to answer in preview
- [x] Determine mechanism for answering each question
- [x] Formalize with Damien

### Cost: 2

[2019-07-12 00:57] markcowl opened #9631 "Formalize Documentation Plan for Preview"
### Description
- [x] Blog Post
- [x] Release Documentation
- [x] AKA Links
- [x] Pointers to surveys
- [x] Create issues and assign

### Cost: 2

[2019-07-12 03:22] bingbing8 commented on #9448
@markcowl, what you posted here is exactly what we did in our code.
[code]
Note that when try this concurrently in multiple instances of queue triggered azure ps function, it randomly failed. Most time, the first trigger fail, the second time works fine no matter how many instances are running.

[2019-07-12 05:38] Sathana109 commented on #9573
@cormacpayne , I would like to know how to pass our own service principal while creating this cluster:  (ClientIDandSecret) parameter. Can you provide some examples for this?

[2019-07-12 06:29] J0F3 commented on #9427
@markcowl Thx, sounds good. I am currently working with the preview version... 👍

[2019-07-12 06:52] jschrap commented on #9595
Thnx!!!!

[2019-07-12 06:52] #9595 closed

[2019-07-12 07:23] LeonJansen commented on #9568
@markcowl Yes i am, i also tried the following but still the same error:

[code]

[2019-07-12 07:23] nschonni opened #9633 "Typo Replicatoin in Remove-AzContainerRegistryReplication parameter name"
## Description
The parameter name is misspelled as 'Replicatoin' instead of 'Replication'

## Steps to reproduce

[code]

## Environment data

[code]

## Module versions

[code]

## Debug output

[code]

## Error output

[code]

[2019-07-12 12:08] spaelling commented on #9448
I tried this with running 5 jobs, each with 10 nested jobs, and still got an error. I think even more than usual, but could just be coincidental.

[code]

[2019-07-12 12:24] arpparker commented on #9448
Ha, you beat me to this by like 10 minutes!  :)  Was just coming to post the same, I'm getting the same results.  I think I have found a way workaround though based on one that was posted in a similar issue that I linked in the original post.  More to come in a few minutes...

[2019-07-12 13:01] mattbrailsford opened #9636 "New-AzSignalR not updating existing resource"
## Description

I'm trying to create a powershell azure function to auto scale an Azure SignalR resource based on the number of connected clients. I have this setup as a http trigger based function which gets triggered by webhook coming from an alert on the resource.

The function gets called fine, and in the function I calculate a unit count to increment the service to based on the webhook conten

[2019-07-12 13:06] arpparker commented on #9448
The following, based essentially completely from [this post](https://github.com/Azure/azure-powershell/issues/7110#issuecomment-419518459), has worked 100% of the time for me:

[code]
A couple notes:
- The Clear-AzContext doesn't seem to be required (at least for this particular issue)
- If Disable-AzContextAutosave isn't present, the error "The process cannot access the file 'C:\...\TokenCache.da

[2019-07-12 14:07] spaelling commented on #9448
The implication is that you are committing the access-token to disk. That can be problematic as someone could potentially elevate their access in Azure by having access to this file.

I find it odd that you have to import an empty context. I have done the same as you, but passing the access-token and an accountid along. But this still fails, which is odd. It should be pretty equivalent of logging

[2019-07-12 16:06] matthchr commented on #3749
Given the discussion above and the fact that this has been open for 2 years I think I am going to close it for now.

[2019-07-12 16:06] #3749 closed

[2019-07-12 16:06] #9320 closed

[2019-07-12 16:41] kunalchandratre1 commented on #69
Here is full source code and step by step guide for using recursion to delete the file storage directory and its contents - https://sanganakauthority.blogspot.com/2019/07/delete-azure-file-storage-directory-and.html

[2019-07-12 17:51] jaredmoo commented on #6461
We understand the issue here - it's due to some complicated interactions with ARM resource tracking. Unfortunately the fix is not easy. We are investigating various strategies to improve the reliability of this scenario, but it will take some time. Thanks for your patience.

[2019-07-12 17:56] aamalvea commented on #9193
The fix for this bug has been merged. PR here: https://github.com/Azure/azure-powershell/pull/9247

[2019-07-12 17:56] #9193 closed

[2019-07-12 18:11] bingbing8 commented on #9448
@spaelling, it looks like your workaround works when the login in different jobs are same so you can write/read the context from disk. For my case, we login to different tenant with different subscription in different function. It does not work that way.

[2019-07-12 18:37] aleksey-korolev commented on #9122
Have you found solution to this?
We had to use plain "PowerShell Script" task and install latest Az module as a 1st step in it, but doesn't seam an elegant approach,

[2019-07-12 19:26] asote opened #9638 "Unable to retrieve backup items for Azure Backup Agent (MARS)"
## Description

 Documentation for PowerShell cmdlet  **Get-AzRecoveryServicesBackupItem** ([https://docs.microsoft.com/en-us/powershell/module/az.recoveryservices/get-azrecoveryservicesbackupitem?view=azps-2.4.0](https://docs.microsoft.com/en-us/powershell/module/az.recoveryservices/get-azrecoveryservicesbackupitem?view=azps-2.4.0)) states that it can be used for -BackupManagementType = MARS

##

[2019-07-12 20:20] jakelima18 commented on #8934
I have tha same issue

[2019-07-12 20:27] cormacpayne commented on #9576
@c4rlosmarin just to make sure I understand: the above script runs successfully for a couple of minutes, so you're able to continuously get the status of your deployment and see it in the output, but at some point, the call hangs from what seems like an unsuccessful attempt to get the status?

CC: @hyonholee @huangpf

[2019-07-12 20:31] sphibbs commented on #9586
@masterkuat Thanks for the feature request. We will schedule this feature as part of our Az V3 work.

[2019-07-12 20:40] peterpogorski commented on #6705
@markcowl does the response from aljo-microsoft above answer your question?

[2019-07-12 20:44] c4rlosmarin commented on #9576
@cormacpayne that's exactly right.

[2019-07-12 20:48] cormacpayne commented on #9576
@hyonholee @huangpf would one of you mind taking a look at this issue? Could there be a throttling issue causing this hang to occur?

[2019-07-12 21:18] wxwr commented on #9558
Get-Module -ListAVailable

    Directory: C:\Users\x\Documents\WindowsPowerShell\Modules

ModuleType Version    Name                                ExportedCommands
---------- -------    ----                                ----------------
Script     1.0.0      Az.Accounts                         {Disable-AzDataCollection, Disable-AzContextAutosave, Enab...
Script     1.0.0      Az.EventGrid

[2019-07-12 23:51] markcowl commented on #9519
Complete

[2019-07-12 23:51] #9519 closed

[2019-07-12 23:57] sphibbs commented on #9598
@briancuster What location are you install Az into? Can you try installing AZ into C:\Program Files\PowerShell\Modules or at least not into the same folder as AzureRM? I'm not sure if that is the issue, since the output is clipped. If you installed AzureRM into C:\Program Files\PowerShell\Modules try running ```Uninstall-AzureRm``` so you don't have those SxS with AZ?
If you want AzureRM and AZ bo

[2019-07-13 09:36] ToMakeSense opened #9639 "What is"ContentHash" exactly in Azure?"
## Description
I found some components have **ContentHash** property, but I don't know what exactly is.

Let's take **Integration Account Map** as an example. I want to compare content between local map file and map file in integration account via its hash.

I get the map by `Get-AzIntegrationAccountMap`(https://docs.microsoft.com/en-us/powershell/module/az.logicapp/get-azintegrationaccountmap), I

[2019-07-13 09:42] ToMakeSense commented on #9639
There's also an rest API call example in azure docs: [Gets an integration account map](https://docs.microsoft.com/en-us/rest/api/logic/maps/get)
<pre>
{
  "properties": {
    "mapType": "Xslt",
    "contentLink": {
      "uri": "<Uri>",
      "contentVersion": "\"0x8D45CE54B058881\"",
      "contentSize": 3056,<b>
      "contentHash": {
        "algorithm": "md5",
        "value": "A2avz/M0ov2FPI3

[2019-07-13 18:31] blueelvis commented on #6292
@migrande @SteveL-MSFT - Please feel free to change the title of this bug, but this is still reproducible.

[2019-07-13 19:45] fawohlsc commented on #9538
@mentat9 Thanks for your clarification. This makes a lot of sense. Basically it's inconsistency in the portal. Following I absolutely agree that adding more parameters to Powershell cmdlets will only make things worse. All good for now and many thanks again. Happy weekend!

[2019-07-14 02:11] btardif commented on #7627
We are currently evaluating options for this request.

[2019-07-15 02:14] Linaa opened #9643 "CreateBlueprintAssignmentByFile missing parameter definition and example"
## Description of the new feature
[CreateBlueprintAssignmentByFile](https://github.com/Azure/azure-powershell/blob/master/src/Blueprint/Blueprint/help/New-AzBlueprintAssignment.md#createblueprintassignmentbyfile) is missing definition for `AssignmentFile` parameter. No example for the format of this file has been provided ...

Similar for [Set-AzBluePrintAssignment](https://docs.microsoft.com/en-u

[2019-07-15 02:20] btardif commented on #7469
We are working with Dev owner to get details on API, once we have this we'll design and schedule work.

[2019-07-15 11:50] AnanyShah commented on #9258
@botondbotos This is not a bug. As per the documentation of Get-AzAlert Rule link: [Get-AzAlertRule](https://docs.microsoft.com/en-us/powershell/module/az.monitor/get-azalertrule?view=azps-2.4.0) it requires Resource Group Name to be passed as a parameter and not the resource group id.

[2019-07-15 11:50] #9258 closed

[2019-07-15 18:29] btardif commented on #9392
@Nking92 can this be closed given your changes got merged? or is there something else missing?

[2019-07-15 19:10] sptramer opened #9648 "Disable-AzContextAutosave does not remove stored tokens"
## Description

If a user has previously had context autosave enabled when logging in, then this context information is persisted in data store unless explicitly deleted. This is true even if context autosave is disabled, however it is deleted _if_ the user explicitly signs out with `Disconnect-AzAccount`.

## Steps to reproduce

To reproduce, you should delete the `$env:USERPROFILE\.Azure` dir or

[2019-07-15 19:14] theheatDK commented on #9487
Any news? :-)

[2019-07-15 19:15] theheatDK commented on #9246
Any news? :-)

[2019-07-15 19:19] sptramer opened #9649 "TokenCache.dat stored as plaintext with insufficient access protection - SECURITY ISSUE"
## Description

__THIS ISSUE IS A SECURITY BUG__

The `TokenCache.dat` file is stored as plaintext JSON after any sign in, which exposes token credentials for __all available subscriptions__ of a signed in user. The access control of this file seems to be insufficient on Linux, and possibly on Windows.

This issue is especially devastating on UNIX platforms as PowerShell sets all files for mode `6

[2019-07-15 19:26] Nking92 commented on #9392
Closing this now. It's been fixed with that change.

[2019-07-15 19:26] #9392 closed

[2019-07-15 19:47] btardif commented on #9387
@Nking92 i think you can close this one right?

[2019-07-15 19:48] btardif commented on #9387
This was fixed with #9391

[2019-07-15 19:48] #9387 closed

[2019-07-15 20:15] MikhailTryakhov commented on #9246
@wdehrich  can you please take a look?

[2019-07-15 21:19] dcaro commented on #8581
@alujones I'm following up on this issue, have you been able to add the Az.ResourceGraph using the guidance that Eamon gave above?

[2019-07-15 23:15] sphibbs commented on #9636
@mattbrailsford can you Set $DebugPreference='Continue' before running the repro and paste the resulting debug stream in the below code block?

[2019-07-15 23:19] markcowl commented on #9649
@sptramer Yes, this is unfortunately the norm for cross-platform tools like PowerShell and CLI.  It will be addressed in the signle-sign-on release with cross-platform secure token storage, due to go out around the end of the month.

Closing as by design for now.

[2019-07-15 23:19] #9649 closed

[2019-07-15 23:27] markcowl commented on #9648
@sptramer Contexts and credentials are removed by Remove-AzContext, Clear-AzContext, and Logout-AzAccount cmdlets.  It would be surprising for a cmdlet with verb `Disable` to have other effects, like removing files from a directory (for example, Disable-Breakpoint doesn't remove the breakpoint, it just disables it.

Closing as By Design

[2019-07-15 23:27] #9648 closed

[2019-07-15 23:38] cormacpayne commented on #9643
@filizt Hey Filiz, would you mind taking a look at this issue?

[2019-07-15 23:49] markcowl commented on #9598
@briancuster This looks like an incompatibility between the PackageManagement and PowerShellGet modules, which can be tricky to extricate yourself from.  Have you tried updating your PowerShellGet module (Update-Module PowerShellGet).

[2019-07-16 01:01] markcowl commented on #9631
Note: make sure to look through the open issues in autorest.powershell for the features we deferred (e.g. positional parameters, paging, Force, wildcards)

[2019-07-16 01:10] sptramer commented on #9648
By disabling context autosave, a user is explicitly requesting that context autosave not be used. This should include removal of any previously stored credentials, __especially since context autosave is the default__. This means that unless a user's first command after their initial install of Az is `Disable-AzContextAutosave`, they will always have data autosaved. [Users have complained this is a

[2019-07-16 01:13] sptramer commented on #9649
I understand storing tokens in plaintext, but global RW permissions on sensitive data is inexcusable.

[2019-07-16 01:24] gpduck opened #9650 "Import-AzAutomationRunbook takes a full minute to import each runbook"
## Description
Running Import-AzAutomationRunbook takes a full minute to import each runbook.  I have a runbook library I'm publishing as a unit and it's already taking 8 minutes to deploy.  I can't see how we can continue to build out on Azure Automation if this is what the performance is going to be like.

## Steps to reproduce

[code]
The times stamps for the output objects were:
July 15th 2019

[2019-07-16 05:06] harshitha-bt commented on #9550
@markcowl, My issue was resolved when i used elevated privileges, as the subscriptions i was working on needed elevated access. Thanks for looking into it. Closing this issue

[2019-07-16 05:06] #9550 closed

[2019-07-16 06:56] monika3376 opened #9651 "New PowerShell commands v.2.4.0 Az not being compatible with Azure classic v.5.3.0"
Microsoft hasn’t ended support for Classic Cloud Services, so description of issues found is below:

It is not possible to import module Azure as it depends on Azure.Storage which has commands mapping to Az.Storage after enable aliases is turned on:
Import-Module Azure.Storage -MinimumVersion 4.3.0 -Scope Global -> from C:\Program Files\WindowsPowerShell\Modules\Azure\5.3.0\Azure.psm1

Azure.Stora

[2019-07-16 08:36] mattbrailsford commented on #9636
@sphibbs please see below. But FYI I replaced any reference to my keys + service name to empty guids or the word "test", these are the actual values, but I'm guessing they aren't what you need to see.

    DEBUG: 09:31:38 - NewAzureRmSignalR begin processing with ParameterSet '__AllParameterSets'.
    DEBUG: 09:31:38 - using account id '00000000-0000-0000-0000-000000000000'...

    HostName

[2019-07-16 10:23] covici opened #9652 "cannot get my azurestorageaccount"
## Description
After connecting to my azaccount get-azstorageaccount returns nothing.  If I use the resource named Default-Storage-EastUS and my account name it says it cannot find the name.  If I don't use any parameters, it says nothing.

## Steps to reproduce
I did connect-azaccount, signed in and got the account.  Then I did get-azstorageaccount.
[code]

## Environment data

[code]

## Module

[2019-07-16 12:45] Sathana109 commented on #9573
Hi Team, can someone assist me on how to pass the ClientId and secret parameters while creating the AKS cluster?

[2019-07-16 13:52] januschr commented on #8163
Hello,

I came across this thread through a Google search, and I was wondering what the outcome of this issue is because I am experiencing the same issue: I have an App Registration that has "Directory.Read.All" in the Microsoft.Graph API with consent given by the admin. When I connect as the App Registration's service principal in PowerShell and run this command:

`Get-AzADServicePrincipal -Displ

[2019-07-16 14:47] vinisoto commented on #7440
This #9592 addresses the issue. Has been signed off. Currently waiting for merge.

[2019-07-16 15:44] MouthOfMadness commented on #8163
@januschr The solution posted by @xenalite fixed my issue; he or she was correct, you have to grant them, ticking them isn't enough (even though it persists for ticks between sessions, they haven't been applied).  This should really be a bug against the UI, as you really think you have them applied.

[2019-07-16 15:44] #8163 closed

[2019-07-16 17:00] matthchr commented on #9585
Can you do `Uninstall-Module Az.Batch` and then `Install-Module Az.Batch -AllowPrerelease -RequiredVersion 1.0.1-preview -Repository PSGallery` - This should fix this issue I believe.

[2019-07-16 17:43] vinhent opened #9654 "Enable-AzCdnCustomDomainHttps: Operation returned an invalid status code 'BadRequest'"
## Description

I'm trying to use the cmdlet `Enable-AzCdnCustomDomainHttps` to activate HTTPS on a custom domain but I'm always getting the following error:  Operation returned an invalid status code 'BadRequest'. I'm having the same issue with the cmdlet `Enable-AzCdnCustomDomain` which is decprecated but used to work before. My CDN profile is a Standard Microsoft. I'm using PowerShell module Az

[2019-07-16 18:11] niander commented on #9455
@benjamin-goldman Hi! Since your metric alert seems to be of type `microsoft.insights/metricalerts` the cmdlet you want to use to delete it is `Remove-AzMetricAlertRuleV2`. Please let me know if this does not solve your issue.

[2019-07-16 19:28] ankurkhemani commented on #9633
@sphibbs Can you assign this to me?

[2019-07-16 20:04] #9585 closed

[2019-07-16 21:43] niander commented on #9654
@hytao @nachakra Hi. Could you please take a look at this?

[2019-07-16 22:04] niander commented on #9652
@covici Hi. This can happen if you created this storage account as a classic (pre-ARM). The Az modules cannot manage those. Do you know if this is a classic storage account?

[2019-07-16 22:14] niander commented on #9650
@vrdmr Hi. Could you take a look at this?

[2019-07-16 22:18] niander commented on #9651
@monika3376 Hi. This is a known issue. You can track the work here: https://github.com/Azure/azure-powershell/issues/8167 The workaround is to run in different sessions.

[2019-07-16 22:20] niander commented on #9651
@monika3376 Hi. This is a known issue. You can track the work here: #8167 The workaround is to run Az and Azure modules in separate PowerShell sessions.

[2019-07-16 22:22] astrahan87 commented on #9367
@markcowl Could you clarify if there's anything else you need?
Otherwise, it seems I'm unable to reassign the issue or remove the "More Info" tag.

[2019-07-16 22:26] #9651 closed

[2019-07-16 22:54] sphibbs commented on #9633
@ankurkhemani I went ahead and fixed it today. [PR](https://github.com/Azure/azure-powershell/pull/9653) has been merged. FYI, you have permissions to assign issues.

[2019-07-16 22:54] #9633 closed

[2019-07-16 22:58] ankurkhemani commented on #9633
Awesome! Thanks @sphibbs

[2019-07-16 23:19] covici commented on #9652
I created this several years ago, so its quite possible.  The
connect-azaccount does work, however.  In case this is the case, how
should I proceed?  I tried a few things and it seems that if I set a
context using my key, I can do some actions, but I would still like to
figure out what is happening.

Thanks.

On Tue, 16 Jul 2019 18:08:13 -0400,
Niander Assis wrote:

--
Your life is like a penny.

[2019-07-16 23:58] sptramer opened #9656 "`Disconnect-AzAccount` does not delete old autosave tokens if autosave disabled"
## Description

In the scenario where there is still a stored autosave token (`AzureRmContext.json` exists and is non-empty) but context autosave has been disabled, `Disconnect-AzAccount` does not delete this token.

This behavior is inconsistent with `Disconnect-AzAccount` when context autosave _is_ enabled, which __always__ deletes the (token) content of `AzureRmContext.json`.

## Steps to repro

[2019-07-17 00:00] prbajrac commented on #9652
@niander @covici  Greetings from CSS.  Helping this customer to reach resolution. I can confirm the SA on his subscription is classic storage.

[2019-07-17 00:42] nschonni opened #9658 "Typo VirtualNteworkRule parameter in EventHub and ServiceBus"
## Description

Found in Set-AzServiceBusNetworkRuleSet and Set-AzEventHubNetworkRuleSet
https://github.com/Azure/azure-powershell/search?q=Ntework&unscoped_q=Ntework

## Steps to reproduce

[code]

## Environment data

[code]

## Module versions

[code]

## Debug output

[code]

## Error output

[code]

[2019-07-17 01:01] MiYanni opened #9659 "Implement auto-resource registration for generated cmdlets"
## Description
Original Issue: https://github.com/Azure/autorest.powershell/issues/394
Allows registration for resources automatically as part of the cmdlet execution. This updates the HttpPipeline to recognize and react to this situation.

## Cost
??

[2019-07-17 01:37] mjconnection commented on #9487
@Drewm3 - Can you look at this based on your test results you performed today.

@theheatDK  - Sorry for the delay in response.  The engineering team is looking into this and we should get you an update soon.

[2019-07-17 02:50] markcowl commented on #8730
Fixed

[2019-07-17 02:50] #8730 closed

[2019-07-17 05:35] nschonni opened #9660 "Typo Microsot"
## Description

In https://github.com/Azure/azure-powershell/blob/2eb2d61af03929a35128eb18f854fcd7490704dd/src/Network/Network/Cortex/VpnSite/NewAzureRmVpnSiteCommand.cs#L83 it is in the ResourceIdCompleter, but maybe it's misspelled in the service?

In https://github.com/Azure/azure-powershell/blob/2eb2d61af03929a35128eb18f854fcd7490704dd/src/Network/Network/help/Get-AzAvailablePrivateEndpointTyp

[2019-07-17 06:11] januschr commented on #8163
Thank you for the response. In my case the privileges granted to the service principal have been granted, so the cause of the issue must be different.

[2019-07-17 06:22] hvermis commented on #9483
@lyair1 That property was added later to our model, but the Powershell command wasn't updated. We will fix that and let you know once it's done.

[2019-07-17 06:46] avi1479 commented on #9585
Why closed this issue? This is still not the solution for us.
If this is a known issue or a breaking change, then it should be listed in the [breaking changes list](https://docs.microsoft.com/en-us/powershell/azure/migrate-az-1.0.0?view=azps-2.4.0).

@matthchr , Running the command that you suggested, `Install-Module Az.Batch -AllowPrerelease -RequiredVersion 1.0.1-preview -Repository PSGallery` ,

[2019-07-17 07:15] n0thingness commented on #3215
Thank you @teejam2

I did some additional testing and as far as I can tell, the `Application.ReadWrite.OwnedBy` permission is the only one required by an SP in order to create another SP. In other words, you do not need to grant the other two Microsoft Graph permissions.

While testing which permissions were required, I found it helpful to execute the following powershell command after adding/remo

[2019-07-17 09:57] sudhakar01 opened #9663 "Export-AzAutomationDscNodeReportContent : Unable to deserialize the response."
## Description
I am facing the issue of **Unable to deserialize the response.** while using the **Export-AzAutomationDscNodeReportContent** cmdlet. I even tried to update the AZ module to it's latest version, still facing the same issue.

## Steps to reproduce

[code]

$Node = Get-AzAutomationDscNode -ResourceGroupName "RG01" -AutomationAccountName "AC01" -Name "NA01"
$Report = Get-AzAutomationDsc

[2019-07-17 12:05] timpoth commented on #9651
Sorry but I don't understand the workaround. this issue isn't running the cmdlets in the same session, its having then installed on the same box. install both, open prompt, log in to azure with cert, fun get-azureservices, fail.

[2019-07-17 15:02] spaminator commented on #8827
I'm getting this when I try to update to 2.0.0 preview:
`Install-Module : A parameter cannot be found that matches parameter name 'AllowPrerelease'.`

Already running Az.RecoveryServices 1.4.2.
`Version    Name                                Repository           Description
-------    ----                                ----------           -----------
1.4.2      Az.RecoveryServices

[2019-07-17 15:47] jlouie1 commented on #8827
I had to update PowerShellGet:   Install-Module –Name PowerShellGet –Force

[2019-07-17 16:26] spaminator commented on #8827
I tried that, as well as updating PackageManagement as suggested here: https://github.com/MicrosoftDocs/azure-docs/issues/29999

Still no luck.

[2019-07-17 16:42] bgklein commented on #9585
Hello @avi1479,

This was closed due to the issue being believed to have a known fix. You will need to upgrade your PowerShellGet to allow Install-Module to recognize the -AllowPrerelease flag (https://stackoverflow.com/questions/56327725/how-to-install-azure-az-cannot-convert-value-2-0-0-preview-to-type-system-v).

@matthchr is following up with the PS team to get a 1.1.1-preview version released

[2019-07-17 17:08] Lumute opened #9666 "Right procedure to perform updates?"
Every release being published [link](https://github.com/Azure/azure-powershell/releases) says the way to upgrade is to run "Update-Module -Name Az"

The official installation document [link](https://docs.microsoft.com/en-us/powershell/azure/install-az-ps#update-the-azure-powershell-module) says that using Update-Module will not do it correctly and instead you need to do a forced re-install but thi

[2019-07-17 17:25] sptramer opened #9667 "Credential/token data is global read-write"
## Description

When storing token information, `Connect-AzAccount` and related logging/context autosave data is stored as global read-write, which allows for access by any user on the system. This could be used for malicious purposes.

This bug only affects Linux as far as I can tell.

## Steps to reproduce

[code]

File permissions are not shown in PowerShell, so they must be checked in a standa

[2019-07-17 17:46] Scepheo opened #9668 "New-AzADSpCredential: EndDate defaults to DateTime.MinValue"
## Description

When using `New-AzADSpCredential` without an `EndDate` parameter, it is defaulted to `DateTime.MinValue` (i.e. "0001-01-01T00:00:00Z"), causing a "Key credential end date is invalid" error.

## Steps to reproduce

[code]

## Environment data

[code]

## Module versions

[code]

## Debug output

[code]

## Error output

[code]