[2016-01-28 05:31] bgever commented on #1095
Yes, I believe that's also the behavior when using MSDeploy from Visual Studio on the output window. The summary is useful especially if the list of changes is huge. For instance, it might be just the overwrite you want to spot rather than adds. And then if there is an override, what was it?

[2016-01-28 13:20] hallatore opened #1736 "Switch-AzureWebsiteSlot equivalent for ARM"
We need a way to switch web app slots using ARM.

You can already start, stop, add, remove, etc in ARM. Switch is the only mssing cmdlet.

PS: We cannot use Service Manager as our user is only assigned to a resource group and we cannot use service certificates.

[2016-01-28 16:12] devigned commented on #1068
I'm sure that a refresh token could be used, but I can't help but feel it would be much simpler to provide the credentials. Azure PowerShell will take care of all cases where the token needs to be refreshed if credentials are provided.

[2016-01-28 21:06] markcowl commented on #462
@lkempf  @sergsalo @storafrid There isn't any active development going on in the RDFE libraries or cmdlets for websites (though important bugfixes should still be happening).  Have you tried updating your scripts to using the ARM cmdlets?

[2016-01-29 01:23] begoldsm opened #1742 "AzurePsCmdlet error handling for CloudException gives generic messages"
In powershell, when a services throws a Microsoft.Rest.Azure.CloudException (from the AutoRest world) the message is populated as follows:
"Exception of type 'Microsoft.Rest.Azure.CloudException' was thrown." This is not a particularly useful message for the end user. After debugging, it appears that this is now how the CloudExceptions are thrown by default in AutoRest, with the actual message of

[2016-01-29 05:21] mjyeaney commented on #1724
Agreed  - this should definitely be more explicit. Current workaround is to use the `-Status` flag on `Get-AzureRmVM`. You can then access the `Statuses` property.

For example:

`(get-azurermvm -ResourceGroupName $rgName -Name $vmName -Status).Statuses`

[2016-01-29 06:30] EgoAleSum commented on #1724
Thank you @mjyeaney ! This will do it for now - though I agree it should be made more explicit.

[2016-01-29 08:24] timoschwarte commented on #1665
@damienmci Yes, I have two factor authentication enabled on my Microsoft account and always authenticate through the popup dialog. I'm considering trying to disable 2FA and try the Get-Credential method, just to check if it changes anything... will comment if it does.

[2016-01-30 00:39] juneb opened #1752 "*dll-help.psd1?"
Can someone in charge here please tell me what a dll-help.psd1 file is? I verified with Microsoft that this is not a valid file type and they have no effect. Did anyone test these files before merging the PR? #
![dll-help psd1](https://cloud.githubusercontent.com/assets/2954883/12692033/d8da9b16-c6a6-11e5-8b78-209317d558a8.png)

[2016-01-30 02:17] juneb opened #1754 "Microsoft.PowerShell.Commands.Compute.dll-help.xml has invalid XML"
Is anyone testing the *-help.xml files before you merge the PRs? All help for AzureRM.Compute v.1.2.1 in PowerShell Gallery is failing due to a merge of invalid XML.

Is anyone testing these files before you release a module to the PSGallery? None of the help is working, so all you needed to do to detect the error is run the help *once* on any cmdlet.

The help XML error is in Set-AzureRmVMChefExt

[2016-01-30 02:41] markcowl commented on #1752
@juneb These are files used by a help authoring tool.  They should not be included in created modules (though they have no functional impact), but they are entirely appropriate in the repo.

[2016-01-30 02:50] markcowl commented on #1754
@juneb Thanks for the report.  We'll make sure this is fixed for next week's release.

[2016-01-30 03:03] markcowl commented on #1754
@juneb We owe you, btw

[2016-01-30 03:05] markcowl commented on #1752
@hovsepm I think we should just have these files marked as 'do not copy'.  We'll need to regen the wix afterward.

[2016-01-30 09:55] mkherani commented on #1691
Hi Cloudry,
Thanks for using our product.
Currently We don't support backup of CSM V2 VM. ResourceGroup model is for the classic VMs created from Ibiza portal. We will soon roll-out support for backup of V2 vm.

[2016-01-30 16:01] mithunshanbhag commented on #1278
@markcowl : I'm running into the same error while using Add-AzureAccount with a service principal. I've captured the debug log here: https://gist.github.com/mithunshanbhag/ea5cebd38bbac0da76f6

Some other notes:

- The RM equivalent of this cmdlet (Add-Azure**Rm**Account) works fine. However I cannot use this in my scripts (I'm using some legacy SM Azure compute cmdlets that have no RM equivalents

[2016-01-31 11:49] pcgeek86 commented on #935
Hey @jodoglevy, did you already fix this? I'm pretty sure I'm running the latest version of all ARM PowerShell modules, and it looks like there is not an alias, unless I need to explicitly import the Azure Automation module first.

<img width="919" alt="screen shot 2016-01-31 at 12 48 38 pm" src="https://cloud.githubusercontent.com/assets/466713/12701903/02d25aee-c819-11e5-9160-665dd3c25f78.png">

[2016-01-31 11:51] pcgeek86 commented on #639
@devigned @markcowl @ravbhatnagar Do we have a solution for this, please? If I missed a communication since July 2015 on this topic, I apologize. I'm not aware of a current solution for this issue though. Thanks for your support.

Cheers,
Trevor Sullivan

[2016-01-31 11:52] pcgeek86 commented on #230
@markcowl @vivsriaus Did this get solved already? It's been nearly a year, so I may have missed some changes to the module since then.

Cheers,
Trevor Sullivan

[2016-01-31 20:20] jodoglevy commented on #935
No this is not fixed

[2016-02-01 18:50] #1691 closed

[2016-02-01 22:13] hovsepm commented on #1754
Fixed. Will be available in Azure PowerShell February release v.1.2.0.

[2016-02-01 22:13] #1754 closed

[2016-02-02 00:57] kilasuit opened #1759 "Missing RM cmdlets in AzureRM.Resources"
In the help for New-AzureRmResourceGroup there is a reference to both

[code]

But these don't seem to be included in any of the Azure Modules and this makes a breaking change from v0.9.8 to the v1.0.\* modules as reported via https://www.reddit.com/r/PowerShell/comments/43p8c6/powershell_azure_gallery_commands_no_longer_work/

[2016-02-02 12:44] slapointe commented on #1530
A good alternative would be to introduce a Test-AzureRmContext, what do you think?

[2016-02-02 17:43] markcowl commented on #1530
@slapointe @haocs   In general, not having a context is a terminating error - meaning that any cmdlet pipeline should be stopped immediately regardless of error settings.  In this particular case, since the work of the cmdlet is just getting the context, I agree that ErrorActionPreference should apply in this narrow case.  @haocs This probably sounds different from our previous communication, let'

[2016-02-02 17:48] markcowl commented on #1725
@naman2710 What version of the AzureRM.Profile module are you using when you see this?  Also, what kinds of credentials are you using?  Are you certain that the name exactly matches the name in Azure of the subscription?

[2016-02-02 18:36] bmoore-msft opened #1761 "New-AzureRMResourceGroupDeployment does not return proper error for deployment resources"
When deploying a template with a nested deployment (deployment resources) the error bubbled up by the cmdlet is a generic error rather than the root cause error returned by the deployment in ARM.  PS returns:

[code]
The top level error in the portal:
![top error](https://cloud.githubusercontent.com/assets/10090014/12759926/ae8092cc-c998-11e5-86e1-f1bcc8835380.png)

The real error you need to debu

[2016-02-02 23:34] singhkay commented on #1724
@EgoAleSum Behind these two results are two different APIs. `Get-AzureRmVM` calls the VM Model View API which doesn't have the statuses, `Get-AzureRmVm -Status` calls the Instance View API which returns the statuses for each of the VM resources (VM, disks and extensions)

[2016-02-03 00:25] ravbhatnagar commented on #1759
@kilasuit - The above cmdlets were removed as a part of deprecation of the AzureResourceGroupGalleryTemplate in the 1.0+ version of Azure PowerShell. The team is working on enabling the scenario with all the current plus some additional capabilities.

In the meantime, you can use the below workaround if you want to use the gallery templates from PowerShell:
# Retrieve all available items
$allGalle

[2016-02-03 00:27] ravbhatnagar commented on #1759
@kilasuit - The above cmdlets were removed as a part of deprecation of the AzureResourceGroupGalleryTemplate in the 1.0+ version of Azure PowerShell. The team is working on enabling the scenario with all the current plus some additional capabilities.

In the meantime, you can use the below workaround if you want to use the gallery templates from PowerShell:
Retrieve all available items
$allGallery

[2016-02-03 00:31] kieranwalsh commented on #1759
Thanks for the information @ravbhatnagar and for the workaround.
Fair enough that new and better cmdlets are being worked on, but it seems really strange to pull the working ones before the updated versions are ready.
Anyway, thanks again.

[2016-02-03 00:50] nshampur commented on #387
@singhkay @huangpf @yantang-msft ... What is the status of this? I still see RoleNames with an underscore being an issue due to the following code

Microsoft.WindowsAzure.Commands.ServiceManagement.Extensions.ExtensionRole

PrefixName = PrefixName.Replace(".", string.Empty);
PrefixName = PrefixName.Replace(" ", string.Empty);
RoleType = ExtensionRoleType.NamedRoles;

It was my understanding from t

[2016-02-03 01:01] huangpf commented on #387
The patch will not make it to the 2/2 release, but it will be shipped via the ```PSGet Module`` once @hyonholee submitted the PR to the ```Azure``` branch. Thanks.

https://github.com/AzureRT/azure-powershell/blob/dev/src/ServiceManagement/Compute/Commands.ServiceManagement/Extensions/Common/ExtensionRole.cs#L68

[2016-02-03 01:10] ravbhatnagar commented on #1299
@pcgeek86 @MaxTrinidad  @rhencke @vhusker @abombss @jychunyjh @jeffpatton1971 @iamshital @jodoglevy @chadiel @vivsriaus
Adding a few folks to gather some feedback on this. Please add others as needed. We want to make sure we do the right thing for our customers. As things stand currently, the Get-AzureLocation cmdlet was removed in the 1.0 release.
The cmdlet Get-AzureLocation used to list all the

[2016-02-03 01:18] nshampur commented on #387
@huangpf .. In order to workaround this, I plan on using unique IDs for extensionID. The downside is having to remove older unused IDs. How does one determine if an extension is unused?  (Try delete and ignore errors from extensions in use?)

[2016-02-03 01:26] ravbhatnagar commented on #1528
@abombss - Can you please verify again? I was able to define the template parameter object as follows and use it successfully in my deployment -
-TemplateParameterObject @{storageSettings = @{name='foo'; resourceGroup='bar'}}

[2016-02-03 01:55] ravbhatnagar commented on #1493
This will be fixed in the next release of PS. If you are blocked by this, you can use Find-AzureRmResource.

[2016-02-03 01:59] yantang-msft commented on #387
@nshampur I believe even if you don't remove the older unused IDs, you can still make it work by specifying the new extension id.
Sure delete the unused ones is a good practice. And if one extension is not used by any roles in any production/staging slot, then it's not used so you can delete it.

[2016-02-03 07:41] slavizh opened #1765 "Get-AzureRmOperationalInsightsIntelligencePacks does not return any results"
Get-AzureRmOperationalInsightsIntelligencePacks  command does not return any results.
When -debug is used the results can be seen in debug log but they are never outputted from the command. Module version is 1.0.4

[2016-02-03 07:41] slavizh commented on #1765
![capture](https://cloud.githubusercontent.com/assets/11890856/12775908/5735d780-ca5a-11e5-8527-e646c4af7a16.PNG)

[2016-02-03 20:58] markcowl commented on #1754
@juneb FYI This PR helps to address egregious problems with the help, but it is not a substitute for using the help:  https://github.com/Azure/azure-powershell/pull/1767

There was a similar problem in AzureRM.OperationalInsights, as this revealed, which will be corrected in the next release.

[2016-02-03 22:52] markcowl commented on #1665
@timoschwarte To figure this out, we're going to need the ADAL traces while you are logging in and doing the Get-AzureRMSubscription.  I would also suggest using the latest version (released today).  I suspect this may be related to the account name returned in the token from ADAL, but without the ADAL traces, it is difficult to say.

To get ADAL traces, run the commands with

[code]

[2016-02-03 22:54] markcowl commented on #1436
@alstab Is there a repro for this issue outside of Azure Automation?  Need to determine whether this issue has anything to do with dehydrating / rehydrating a workflow instace

[2016-02-04 16:48] androidtopp commented on #1316
@singhkay @wbrophy -  I am seeing that exact same issue, where the extension doesn't work properly on a VM deployed from a custom template. Are there any updates on whether or not this extension is supported for a VM that has been deployed from a custom captured image? And specifically, from a custom captured image where the extension had been installed previously? It would save a huge amount of t

[2016-02-04 18:57] singhkay commented on #1316
@androidtopp Can you describe if you generalized the image before capturing? Do you know what the error is in the extension logs when you try to create the VM again?

[2016-02-04 19:13] androidtopp commented on #1316
@singhkay , thanks for the quick response! Yes, I did generalize the image before capturing. Sysprep was run with the /generalize /oobe /shutdown" switches, and then the template was captured using the following set of PS commands:

`
Stop-AzureRmVM -ResourceGroupName 'RSGName' -Name 'VMName'
Set-AzureRmVM -ResourceGroupName 'RSGName' -Name 'VMName' -Generalized
Save-AzureRmVMImage -ResourceGroupN

[2016-02-04 20:05] deltadan commented on #1665
When using Select-AzureRmProfile -Path "C:\foo.json" using a subscription that isn't the default I get this same error.  the creds work even though the error is there.

[2016-02-04 20:28] AErmie opened #1773 "Azure PowerShell 1.2.0 - Missing Shortcuts"
After installing version 1.2.0, the Azure PowerShell entry is missing from the Search results, and no longer appears in the All Apps list.

The only work-around is to use the normal PowerShell and use Import-Module Azure.

<img width="511" alt="capture" src="https://cloud.githubusercontent.com/assets/10376796/12828625/ed6823f8-cb53-11e5-9b3d-daeb69a549b1.PNG">

[2016-02-05 03:20] ShaneCastle commented on #1309
I had the same error. My fix was to use an Azure AD account instead of my MSDN account.

From here:
"Also make sure the credential asset username is a valid OrgID user (ex: abc@fdgdf.onmicrosoft.com), not a Microsoft / Live account (joe@gmail.com)."

http://serverfault.com/questions/746557/add-azureaccount-unknown-user-type-unknown-user-type-on-azure-automation/746673

[2016-02-05 08:26] timoschwarte commented on #1665
@markcowl I updated to version 1.2.0 and sent you a transcript of the process in an email.

The automatic login to my Organizational account which I noticed in the previous versions does NOT happen anymore with 1.2.0, which is good :) The errors are also slightly different now in 1.2.0, I get `WARNING: Unable to acquire token for tenant` immediately on the first `Get-AzureRmSubscription` call.

An

[2016-02-05 08:47] timoschwarte commented on #1773
As far as I know, you should not need to run `Import-Module Azure`, modules are loaded automatically. I can run all Azure cmdlets directly from the "normal" PowerShell after this latest update. I can confirm though, that the Azure PowerShell start menu entry disappears with 1.2.0, and this was confusing at first, but I believe it is "by design".

[2016-02-05 09:14] #516 closed

[2016-02-05 11:50] chriswelles commented on #1529
It appears this is now fixed in the 1.2 release.  Thank you!

[2016-02-05 11:50] #1529 closed

[2016-02-05 11:52] chriswelles commented on #1300
It seems the trailing backslash issue has been fixed for the 1.2 installer.  That fix might resolve this particular issue as well.

[2016-02-05 12:22] pgroene commented on #1528
Have you tried to put all arguments on the same line as the cmdlet? This fixed it in our case.

[2016-02-05 12:59] AErmie commented on #1773
Thanks Tim.
If there is some way we can get confirmation that this is "by design" and that the Azure modules are loaded automatically in the "normal" PowerShell, then I'll make an update on my post about this.

Thanks for the info.

[2016-02-05 13:11] pjirsa opened #1777 "ASM specific cmdlets no longer work"
Is this by design? After upgrading from 0.9.x to 1.2.0 I cannot use any of the ASM cmdlets. I can run add-azureaccount and authenticate. But, no subscriptions come back as a result which causes all of the ASM commands to not work.

[2016-02-05 15:00] MilanDasek commented on #1327
I have the same issue - powershell 1.1.0

command New-AzureRMVirtualNetworkGatewayConnection

[2016-02-05 18:34] markcowl commented on #1773
@AErmie @timoschwarte This is, indeed by design.  Since both azure and azurerm modules are in the PSModulePath, so that they are automatically loaded in any PowerShell or PowerShell ISE session,  and since we are ensuring the global ExecutionPolicy, there is no longer any real reason for the AzurePowerShell shortcut, so it was removed.

[2016-02-05 18:34] #1773 closed

[2016-02-05 18:36] markcowl commented on #1765
@devigned Can you assign the appropriate contact from the OperationalInsights team?

[2016-02-05 18:38] markcowl commented on #1777
@pjirsa Add-AzureAccount is now only for ASM usage, so it will only return subscriptions for which you are an admin or co-admin.  For using ARM cmdlets, you must run Add-AzureRmAccount, which uses RBAC to decide which subscriptions you have access to.

If you think there are subscriptions for which you are an admin or co-admin that are not being returned by Add-AzureAccount, please run the cmdlet

[2016-02-05 19:05] hovsepm opened #1778 "Get-AzureRmResourceGroup and Remove-AzureRmResourceGroup throws ArgumentException if resource does not exisit"
Repro:
[code]

**Expected:** Get[/Remove]-AzureRmResourceGroup should return an empty result if resource group does not exist.

[2016-02-05 19:07] devigned commented on #639
I defer this to @ravbhatnagar.

[2016-02-05 19:10] markcowl opened #1779 "Regression in Subscription Display for Get-AzureSubscription -ExtendedDetails"
Get-AzureSubscription -ExtendedDetails makes the correct RDFE call to return extended subscription information, and the returned type has the correct fields however, only the subscription default details are displayed.  Update the display classes to display the additional details

[2016-02-05 19:11] hovsepm opened #1780 "Get-AzureRmKeyVault and Remove-AzureRmKeyVault throws ArgumentException if resource does not exisit"
Repro:

[code]

**Expected**: Get[/Remove]-AzureRmKeyVaultshould return an empty result if KeyVault does not exist.

[2016-02-05 19:37] jodoglevy commented on #1641
The output of Get-AzureRmAutomationModule cmdlet should have a ProvisioningStatus property that tells you when extraction is in progress, and when it is completed.

[2016-02-05 19:39] jodoglevy commented on #1640
This seems low priority. Can't you just download the file and then import it?

[2016-02-05 19:45] jodoglevy commented on #1297
This is now fixed in the latest Azure PowerShell cmdlets.

[2016-02-05 19:45] #1297 closed

[2016-02-05 20:33] devigned commented on #1300
Please let us know if the issue still persists. We are hoping the latest release corrected this issue.

[2016-02-05 20:34] devigned commented on #1278
@hovsepm could you look into this?

[2016-02-05 21:10] jeffpatton1971 commented on #1300
Sorry for the late reply, I did not see that issue crop up this go round.

Thanks for the hard work!

Sent from Outlook Mobile<https://aka.ms/blhgte>

On Fri, Feb 5, 2016 at 12:33 PM -0800, "David Justice" <notifications@github.com<mailto:notifications@github.com>> wrote:

Please let us know if the issue still persists. We are hoping the latest release corrected this issue.

-
Reply to this email

[2016-02-07 18:36] robplank commented on #1528
I am seeing the same issue when passing an array inside of the Hashtable when executed from Powershell workflow

this works
$Template =  'C:\Linked Templates\Test\azuredeploy.json'
Add-AzureRmAccount
Get-AzureRmSubscription
Select-AzureRmSubscription -SubscriptionId $subId

[arary]$VMName = @()
$VMName += "Test362016"
$VMName += "Test462016"
$Param = @{

VMName = $VMName

}

New-AzureRmResourceGro

[2016-02-07 23:34] sjwaight opened #1785 "New-AzureRmPolicyDefinition Policy paramater doesn't handle paths with spaces."
Place Policy files in a path that contains spaces even when using a relative path for the filename:

C:\Work\Azure Architecture and Automation\VNet ARM Templates\Networking\ARM Policies>

New-AzureRmPolicyDefinition -Name EnforceMandatoryTags -DisplayName "Enforce Mandatory Tags" -Description "Ensures that any created resources have required tags present" -Policy .\enforce-tags.json

Error: Unexpe

[2016-02-08 16:19] pjirsa commented on #1777
Mark, thanks for the suggestion. I ran the following
[code]
I saw the get request and the returned list of subscriptions. However, calling get-azuresubscription returned nothing and none of the ASM commands work without a subscription context.

I was able to make it working by removing the -tenant switch and then manually selecting the subscription.

Maybe someone should look at why it doesn't wor

[2016-02-08 19:07] FabienLavocat commented on #1276
Check the bug #1543 there is a workaround

[2016-02-08 20:15] markcowl commented on #1665
@timoschwarte @deltadan @damienmci The common denominator for these issues seems to be a difference between the display ID (i.e., login id)  between your default tenant and another tenant that you have access to.  This can happen for various kinds of reasons, normally having to do with some kind of invitation account, in which an invitation is extended to one email address and you accept with a di

[2016-02-08 20:17] markcowl commented on #1665
@ashwanikapoor  I don't think this issue is related - this sounds like you are trying to use a user id that requires multi-factor authentication (MFA) with a PSCredential login - this will not work, as MFA always requires ueerr interaction..  The solution is to use a service principal when running PowerShell automation.

[2016-02-08 20:45] markcowl commented on #1717
@bvirkler Thankls for the report, we are looking into this.

[2016-02-08 20:49] pcgeek86 commented on #1299
@ravbhatnagar What is "ring fencing?"

[2016-02-08 21:12] markcowl commented on #1717
@vivsriaus Vivek, Looks likethis is an issue with round-tripping the identity value from the server

[2016-02-08 21:17] markcowl commented on #1779
Resolved by this PR: https://github.com/Azure/azure-powershell/pull/1781

[2016-02-08 21:17] #1779 closed

[2016-02-08 21:19] markcowl commented on #1436
@alstab ping.  Please provide a repro that does not use PowerShell Workflow

[2016-02-08 21:27] markcowl commented on #1725
@naman2710 I cannot repro this with version 1.2.0 of the cmdlets, wven when selecting subscriptiosn from different tenants.  Closing this as no repro.  If you can rerpdocue this issue on the latest version, please reopen and provide the debug log (use $DebugPreference="Continue" when executing your cmdlet or script).

[2016-02-08 21:27] #1725 closed

[2016-02-08 23:17] ravbhatnagar commented on #1299
@pcgeek86 - "ring fencing" is a term which applies to certain regions like India and Australia which denotes that only azure subscriptions/accounts from that region can create a resources in that region. So a subscription based in Australia only would be able to create resources in the AU region (Australia). A US based azure subscription wont be able to create resources in the AU region or the Ind

[2016-02-09 01:32] microsmith opened #1791 "New-AzureRmAutomationCredential odd error message"
New-AzureRmAutomationCredential displays "Input string was not in a correct format" when the credential name already exists. Would be better if it displayed something like "Name myPsCredential already exists".

New-AzurermAutomationCredential : **Input string was not in a correct format**.
At line:1 char:1
- New-AzurermAutomationCredential -AutomationAccountName "PStest" -Name "myPsCrede ...
- ~~~

[2016-02-09 15:17] hairymonkeynuts commented on #1597
you need to remove the Set-AzureRMVMOperatingSystem command when attaching.

remove this line...

$ad02 = Set-AzureRmVMOperatingSystem -VM $ad02 -Windows -ComputerName AD-02 -Credential $cred -ProvisionVMAgent -EnableAutoUpdate

[2016-02-09 15:46] rajaprad opened #1793 "AzureChina: New-AzureRmRedisCache with Virtual Network failed"
I am trying to provision RedisCache in a Virtual Network in Azure China

New-AzureRmRedisCache -ResourceGroupName "mytestingrgrp" -Name "myredistest" -Location "China East" -Size "C1" -VirtualNetwork "myvirtualnw"

New-AzureRmRedisCache :*\* LinkedInvalidPropertyId: Property id 'myvirtualnw' at path 'properties.virtualNetwork' isinvalid**. Expect fully qualified resource Id that start with '/subsc

[2016-02-09 17:59] #1597 closed

[2016-02-09 20:09] maf1024 opened #1794 ""Object reference not set to instance of an object" error with New-AzureSqlDatabaseServerContext and Start-AzureSqlDatabaseImport"
I have the following snippet

[code]

And New-AzureSqlDatabaseServerContext fails with

[code]

If I change the parameter set for New-AzureSqlDatabaseServerContext to use `-FullyQualifiedServerName "testingsql777.database.windows.net"` instead of `ServerName`, then it gets past that step, but then fails on Start-AzureSqlDatabaseImport:

[code]

[2016-02-10 00:29] #1724 closed

[2016-02-10 00:33] #1186 closed

[2016-02-10 00:33] #931 closed

[2016-02-10 00:48] karlaugsten opened #1796 "Login-AzureRmAccount -Environment does not pass in environment object correctly"
Repro:

 $environment = Get-AzureRmEnvironment -Name AzureCloud
Login-AzureRmAccount -Environment $environment
Get-AzureRmADUser -UserPrincipalName someuser@microsoft.com

throws the error:
Get-AzureRmADUser : Your Azure credentials have not been set up or have expired, please run Login-AzureRMAccount to set up your Azure credentials.

However if you use the login command:
Login-AzureRmAccount -En

[2016-02-10 11:34] AHuusom commented on #1640
If you want to run it using Azure Automation and you have runbooks placed in Azure Storage, so there is no user interaction.
Then it is hard to download it first and then import them.

[2016-02-10 11:37] AHuusom commented on #1641
Yes, it does have this property, but if the module is custom build, it goes from Creating to Created even though cmdlets haven't been extracted yet.
It Works fine with modules downloaded from the powershel gallery

[2016-02-10 13:03] treierts opened #1799 "New-AzureRmSqlDatabase -Tags parameter does not work"
I've tried to use the **-Tags** parameter with _New-AzureRmSqlDatabase_ but it does not seem to store the tags in Azure.

Also, the type required for **-Tags** is `System.Collections.Generic.Dictionary[string,string]` which differs from **-Tags** used in for example _New-AzureRmResourceGroup_ which is `System.Collections.ArrayList`.

The same type difference also exists with _New-AzureRmSqlServer_

[2016-02-10 16:10] praneetloke commented on #72
Quick update on this. VSTS is now using 1.0.x AzurePS. My build is now successfully deploying.

[2016-02-10 16:54] huangpf commented on #72
@praneetloke Thanks for confirming. Close this issue for now.

[2016-02-10 16:54] #72 closed

[2016-02-10 17:42] maf1024 commented on #1794
Apparently this issue goes away when I have a subscription properly selected. The error could be clearer though.

[2016-02-10 17:42] #1794 closed

[2016-02-10 17:54] jodoglevy commented on #1641
Can you provide the module zip which has the issue?
On Feb 10, 2016 3:37 AM, "AHuusom" <notifications@github.com> wrote:

[2016-02-10 19:01] ravbhatnagar commented on #488
This is being discussed in #1299 . Please provide feedback there.

[2016-02-10 19:03] ravbhatnagar commented on #707
This is being discussed in #1299 . Please provide feedback there.

[2016-02-11 02:14] singhkay commented on #1384
Update on this, we discussed this with few other teams besides Networking and they do not want to adopt the object view of the Get cmdlets properties as it hides too much important information e.g. below

[code]

Now on the the proposed solution. We discussed with the PowerShell team, who suggested we take a look at output of the following PS cmd which displays an object on the second level.
[code

[2016-02-11 07:55] slavizh opened #1801 "New-AzureRmResourceGroupDeployment errors on successful deployment"
New-AzureRmResourceGroupDeployment errors on successful deployment
If you deploy templates
https://github.com/Azure/azure-quickstart-templates/tree/master/301-multi-vmss-linux
or
https://github.com/Azure/azure-quickstart-templates/tree/master/301-multi-vmss-windows
like this
PS C:\WINDOWS\system32> $p=New-AzureRmResourceGroupDeployment -Name stan -ResourceGroupName TestRG -TemplateFile "D:\ARM
TES

[2016-02-11 15:14] pcgeek86 commented on #1384
I vote for proposal #1.

Cheers,
Trevor Sullivan

[2016-02-11 18:41] ravbhatnagar commented on #383
Good find but as the error message is self-explanatory, we will not fix this at this time.

[2016-02-11 18:41] #383 closed

[2016-02-11 18:45] ravbhatnagar commented on #411
The VM team would be enabling moving ARM VMs in prod soon, if not already. Please re-open if it still doesn't work in some time.

[2016-02-11 18:45] #411 closed

[2016-02-11 18:46] ravbhatnagar commented on #452
PLease re-activate if this is still an issue.

[2016-02-11 18:46] #452 closed

[2016-02-11 18:48] ravbhatnagar commented on #358
Yes, we should address this.

[2016-02-11 18:50] ravbhatnagar commented on #71
The template deployment related params have been removed from this cmdlet.

[2016-02-11 18:50] #71 closed

[2016-02-11 18:52] ravbhatnagar commented on #236
Update documentation

[2016-02-11 18:53] ravbhatnagar commented on #559
Do we want to support the scenario of moving just the top level resources?

[2016-02-11 18:56] ravbhatnagar commented on #309
Lets see if this issue still exists.

[2016-02-11 18:56] ravbhatnagar commented on #633
Update documentation

[2016-02-11 18:57] ravbhatnagar commented on #598
This should be fixed with the latest versions of PS.

[2016-02-11 18:57] #598 closed

[2016-02-11 18:59] ravbhatnagar commented on #612
This should work now against the US government cloud.

[2016-02-11 18:59] #612 closed

[2016-02-11 19:02] ravbhatnagar commented on #723
Still doesn't prompt for required params.

[2016-02-11 19:03] ravbhatnagar commented on #750
Works now

[2016-02-11 19:03] #750 closed

[2016-02-11 19:04] ravbhatnagar commented on #729
Fixed

[2016-02-11 19:04] #729 closed

[2016-02-11 19:04] ravbhatnagar commented on #730
Fix documentation

[2016-02-11 19:15] ravbhatnagar commented on #1785
Lets fix this.

[2016-02-11 19:19] ravbhatnagar commented on #1761
I think this has been fixed in the latest PS release. @vivsriaus - Please confirm.

[2016-02-11 19:21] ravbhatnagar commented on #1717
Lets fix.

[2016-02-11 19:30] ravbhatnagar commented on #1442
Lets look into supporting this.

[2016-02-11 19:32] ravbhatnagar commented on #1421
Lets confirm if we return the resource group in the New cmdlet.

[2016-02-11 19:34] ravbhatnagar commented on #1394
@vivsriaus - Please investigate.

[2016-02-11 19:36] ravbhatnagar commented on #1368
Lets add an alias for this.

[2016-02-11 19:38] ravbhatnagar commented on #1360
@ravbhatnagar Check if this is optional.

[2016-02-11 19:45] pcgeek86 opened #1803 "Import-AzureRmAutomationDscConfiguration: File name shouldn't be required to match the DSC Configuration name"
When you use the `Import-AzureRmAutomationDscConfiguration` command to import a PowerShell script file into an Azure Automation Account, the file name **must** match the DSC configuration name. If the DSC Configuration name, and the script file name that contains it, do not match, then you receive the exception below.

This is inconsistent with the Azure Portal experience, where no such naming req

[2016-02-11 19:47] ravbhatnagar commented on #1283
Please work with Laveesh to investigate this.

[2016-02-11 19:47] ravbhatnagar commented on #1277
Fixed.

[2016-02-11 19:47] #1277 closed

[2016-02-11 19:52] pcgeek86 opened #1804 "Import-AzureRmAutomationDscConfiguration: Needs to check for existence of file before making API calls"
# Issue

The `Import-AzureRmAutomationDscConfiguration` command doesn't check for the existence of the file path specified in the `-SourcePath` parameter. If the file doesn't exist, the command still attempts to make the API call to Microsoft Azure, which returns the exception below.

[code]

# Expected Result

The `Import-AzureRmAutomationDscConfiguration` command should check for the existence o

[2016-02-11 20:16] ashishthaps commented on #684
Is there a way to achieve this? I need to associate existing VM's to an availability set

[2016-02-11 22:33] ravbhatnagar commented on #1778
Lets fix this.

[2016-02-11 22:40] ravbhatnagar commented on #1683
This is by design. To get all resources in a ResourceGroup, we recommend using Get-AzureRmResource cmdlet. Note that cmdlet has an existing issue which hinders this scenario. But that will be fixed in the next release. So for now, you can use Find-AzureRmResource.

[2016-02-11 22:40] #1683 closed

[2016-02-11 22:42] ravbhatnagar commented on #1528
This is by design for now. Lets investigate the work to support this. Investigate.

[2016-02-11 22:46] ravbhatnagar commented on #1483
This is by design. If you have matching parameter names in the cmdlet and the param file, we will append FromTemplate to the parameter name from the template to get its value from the user.
I guess we need to document this case a little more to raise awareness.

[2016-02-11 22:46] #1483 closed

[2016-02-11 22:48] #1441 closed

[2016-02-11 22:49] ravbhatnagar commented on #1425
Doc issue. Lets fix this.

[2016-02-11 22:50] ravbhatnagar commented on #1424
Lets fix this!

[2016-02-11 22:50] ravbhatnagar commented on #1422
Lets fix!

[2016-02-11 23:03] ravbhatnagar commented on #1421
The New cmdlet returns the object that was created which is a resource lock in this case and the Remove returns bool. By design.

[2016-02-11 23:03] #1421 closed

[2016-02-11 23:08] ravbhatnagar commented on #1365
The proposed name makes more sense and will be consistent with other cmdlets. However, since this will be a breaking change, lets explore the right time to do this.

[2016-02-11 23:15] ravbhatnagar commented on #1360
We currently have this param exposed for other ARM cmdlets also. Will need to do a complete sweep to ensure consistency.

[2016-02-11 23:27] ravbhatnagar commented on #1359
Consider adding a link in help to cover All the standard PowerShell params lie Pre, Information Action, ErrorAction etc.

[2016-02-11 23:34] ravbhatnagar commented on #1261
Unable to repro.

[2016-02-11 23:34] #1261 closed

[2016-02-12 01:13] #989 closed

[2016-02-12 01:14] #957 closed

[2016-02-12 01:21] ravbhatnagar commented on #956
Check the alias for the ResourceGroupName param. We should have a Name alias.

[2016-02-12 01:28] ravbhatnagar commented on #906
This is still pending at large as we don't have the needed support from the different RPs to reliably implement this. The above mentioned workaround is the best bet to achieve the desired functionality.

[2016-02-12 01:31] ravbhatnagar commented on #865
By design. We use the list output format pretty consistently across the Azure cmdlets.

[2016-02-12 01:33] ravbhatnagar opened #1808 "Sku parameter in New-AzureRmResource and Set-AzureRmResource named differently"
In the New cmdlet its called SkuObject and in the Set its called Sku. We should call it Sku in both.

[2016-02-12 01:34] ravbhatnagar commented on #859
This has been fixed. The param names seem to be different in both cmdlets #1808

[2016-02-12 01:34] #859 closed

[2016-02-12 01:34] Pete-rePete commented on #906
Thanks for the update. The workaround is not pretty, but at least we're able to do this.

[2016-02-12 01:36] ravbhatnagar commented on #767
Lets fix this!

[2016-02-12 01:44] ravbhatnagar commented on #756
I guess this is by design as we dont want to override param values unintentionally (hard to accurately predict user intent). What we can do is probably provide a better informational message when we run into such scenarios so that users understand and remember it while namimg params.

[2016-02-12 01:53] ravbhatnagar commented on #733
These are Great suggestions @pcgeek86. I will work with the appropriate team to address some of these, if not all.
For #2, we can still do this as follows - Get-AzureRmLog -ResourceProvider Microsoft.Web -StartTime (Get-Date).AddMinutes(-150) -EndTime (Get-Date)
Not pretty but works.

[2016-02-12 01:56] ravbhatnagar commented on #707
#1 is being tracked in #1299 and #2 has been fixed. Closing this.

[2016-02-12 01:57] ravbhatnagar commented on #707
Leave a comment

[2016-02-12 01:58] ravbhatnagar commented on #707
Issue 1 above is tracked in #1299 and Issue 2 has been fixed. Closing this.

[2016-02-12 01:58] #707 closed

[2016-02-12 02:02] ravbhatnagar commented on #674
@vivsriaus - I don't think we need this to be mandatory.

[2016-02-12 02:15] ravbhatnagar commented on #541
Fixed in the latest PS release.

[2016-02-12 02:15] #541 closed

[2016-02-12 02:24] ravbhatnagar commented on #1178
Parent is no more a supported param on the New-AzureRmResource. The help was probably not updated in the preview release. Your solution above is correct on how you achieve it.

[2016-02-12 02:24] #1178 closed

[2016-02-12 02:25] ravbhatnagar commented on #1167
Laveesh is currently working on this for both remove and move.

[2016-02-12 02:27] ravbhatnagar commented on #638
+1 on having the release standards documentation. And thanks @pcgeek86 for filing a bunch of doc related issues which will help us improve our doc story. OutputObjectFormat issue is fixed and hence closing this particular issue.

[2016-02-12 02:27] #638 closed

[2016-02-12 02:31] ravbhatnagar commented on #308
Lets fix if this is still an issue.

[2016-02-12 02:31] ravbhatnagar commented on #373
Investigate if this is an easy fix.

[2016-02-12 02:33] ravbhatnagar commented on #726
Tags are definitely hard to use in the current implementation. And updating them is not possible. Lets explore potential solutions.

[2016-02-12 02:33] ravbhatnagar commented on #1221
@vivsriaus - lets investigate this.

[2016-02-12 02:35] ravbhatnagar commented on #1179
Looks like RP related issues. I will route this to the appropriate team.

[2016-02-12 02:36] ravbhatnagar commented on #920
@vivsriaus  - Is this still an issue?

[2016-02-12 10:04] p4rnicke commented on #705
Is there a workaround?
I cannot remove or modify the wbjobs collection this way.

[2016-02-12 16:24] kazumihirose opened #1810 "Can't create new connection VNet2Vnet peering"
[code]

[2016-02-12 18:12] ravbhatnagar commented on #358
We should make it less chatty and set the connection lease timeout to 5 mins (discuss with Anders)

[2016-02-12 18:26] RamblingCookieMonster opened #1812 "Get-AzureRmVirtualNetworkGatewayConnection Error: Missing type map configuration or unsupported mapping."
Hello!

Can't seem to use Get-AzureRmVirtualNetworkGatewayConnection.

Versions:

* AzureRM module version 1.2.0
* PowerShell version: 4.0
* OS: 2012 R2

Steps to reproduce:

* Created a virtual network gateway connection
* Used it
* Tried to run Get-AzureRmVirtualNetworkGatewayConnection

Output:

[code]

[code]

Cheers!

[2016-02-12 19:09] markcowl commented on #358
@ravbhatnagar The connection lease timeout does not just apply to the cmdlet.  We should not do this.  We *should*  reduce the number of polls for long-running deployments, potentially through an exponential backoff or similar mechanism.

[2016-02-12 21:22] markcowl commented on #1810
@kazumihirose Thanks for the report! To help debug the issue, can you try running the cmdlet with ```$DebugPreference="Continue"```  and include the log - this will provide the service traffic.

Also, please indicate which version of the azure module you are using ```$(Get-Module Azure).Version```

[2016-02-12 21:26] markcowl commented on #1812
@RamblingCookieMonster How did you install the cmdlets?  It's likely that you have an older version of the Azure module which has some assembly conflicts with the AzureRM.Network module.

The easiest way to fix this would be to install from the installer: https://github.com/Azure/azure-powershell/releases/download/v1.2.1-February2016/azure-powershell.1.2.1.msi

which will clean up any older versio

[2016-02-12 21:29] markcowl commented on #1791
@microsmith Thanks for the report, we'll take a look.

[2016-02-12 21:33] markcowl commented on #1793
@Pradebban thanks for the report we will take a look.

[2016-02-12 21:36] markcowl commented on #1796
@karlaugsten Thanks for the report.  To help debug the issue, can you run this script with ```$DebugPreference="Continue"```  this will help determine precisely what is going on - there should be no functional difference between passing in an environment and an environment name.

[2016-02-12 21:41] markcowl commented on #1799
SQL Team:  The guidance is to use Hashtable for tags - also, you should create the tags if they do not exist.

@treierts thanks for the report.  Have you tried creating the tag first using New-AzureRmTag and then using the tag in your cmdlets?

[2016-02-12 21:49] markcowl commented on #1752
resolved here:  https://github.com/Azure/azure-powershell/commit/e84e6137c7c532d2083d7518fbacb7e89bca8ef3 closing...

[2016-02-12 21:49] #1752 closed

[2016-02-12 21:51] markcowl commented on #1801
@slavish  Ow, a null ref.  Adding in the product team to evaluate.

[2016-02-12 21:52] markcowl commented on #1803
@pcgeek86 This seems like an unnecessary restriction.  Adding in the automation team.

[2016-02-12 21:53] karlaugsten commented on #1796
Sure, here is the output from the command:

PS C:\Windows\system32> Get-AzureRmADUser -UserPrincipalName
DEBUG: 1:49:56 PM - GetAzureADUserCommand begin processing with ParameterSet 'EmptyParameterSet'.
DEBUG: 1:49:56 PM - using account id ''...
DEBUG: [Common.Authentication]: Authenticating using Account: 'karlaug@microsoft.com', environment: 'AzureCloud', tenant: '72f988bf-86f1-41af-91ab-2d7cd01

[2016-02-12 21:53] markcowl commented on #1804
@pcgeek86 Simple parameter validation.  Adding in the automation team for a fix.

[2016-02-12 21:54] markcowl commented on #3
closing due to age, please reopen if this still occurs

[2016-02-12 21:54] #3 closed

[2016-02-12 21:55] markcowl commented on #6
@crpietschmann The ServiceBus team hasn't been actively developing these cmdlets.  Contributions are always welcome.

[2016-02-12 21:57] markcowl commented on #18
@pcgeek86 Closing this issue due to age.  If you're still hitting this, please open an issue and we'll pursue a fix.

[2016-02-12 21:57] #18 closed

[2016-02-12 21:59] crpietschmann commented on #6
I was curious if it'd be worth contributing. Now I know it is! Thanks for the reply!

[2016-02-12 22:01] markcowl commented on #26
@akurmi Can you make sure someone on the websites team looks at this - this appears to be the default WCF message size quota - the quota should definitely be increased for log download.

[2016-02-12 22:07] markcowl commented on #46
@avirupch fix is here:  https://github.com/Azure/azure-powershell/pull/1813

[2016-02-12 22:07] #46 closed

[2016-02-12 22:09] markcowl commented on #67
@pcgeek86 Trevor, are you still seeing this, and is it occurring in the ARM cmdlets.  If so, let's pursue this with the network team, if not, let's close

[2016-02-12 22:10] markcowl commented on #68
@pcgeek86 Are you still seeing this in the ARM version of the cmdlet?  We should be able to add a ValidateSet for these

[2016-02-12 22:17] markcowl commented on #69
@pcgeek86 Still not there  adding a task to enforce this through static analysis for appropriate cmdlet verbs

[2016-02-13 01:07] pcgeek86 commented on #68
Mark,

All looks good now. Thanks for the follow-up!

Cheers,
Trevor Sullivan
Microsoft MVP: PowerShell

<img width="1072" alt="screen shot 2016-02-12 at 6 06 27 pm" src="https://cloud.githubusercontent.com/assets/466713/13024554/7afc8e4c-d1b3-11e5-8b3e-733d8c87108c.png">
<img width="1072" alt="screen shot 2016-02-12 at 6 06 34 pm" src="https://cloud.githubusercontent.com/assets/466713/13024553/7a

[2016-02-13 01:07] #68 closed

[2016-02-13 01:11] pcgeek86 commented on #1365
@ravbhatnagar Let's try to avoid the "breaking change" excuse, as much as possible, and design this properly from the ground up. Communicate with your customers, explain the circumstances, and they'll thank you for it. Thanks for realizing that this consistency is good though. :) Really appreciate your attention to this large issue backlog. You will catch up eventually!

Cheers,
Trevor Sullivan
Mi

[2016-02-13 01:12] pcgeek86 commented on #865
@ravbhatnagar This might be "by design," but it's not very useful in list form. Please re-open, and reconsider the usability aspect. In this case, there might be an opportunity to improve formatting across the board for this module, or at least in key areas, like Resource Groups.

Customers need to visually consume this information, and it makes the most sense in tabular form, considering the data

[2016-02-13 11:24] sye79 commented on #1316
When trying to implement this extension I receive the following error:

It used to execute and install the extension succesfully, the domain join however failed though. I was trying some workarounds based on the comments above, but all of a sudden I receive an error.
Any ideas ?

[2016-02-13 16:01] devigned commented on #865
Reopened on request of @pcgeek86.

[2016-02-13 16:45] androidtopp commented on #1316
@sye79, I just deployed a machine this morning with the domain join extension (note, not from template, but "from scratch") and it's working for me. I'm using the following command:

`Set-AzureRMVMExtension -VMName $strAzureVMName –ResourceGroupName $objResourceGroup.ResourceGroupName -Name "JoinAD" -ExtensionType "JsonADDomainExtension" -Publisher "Microsoft.Compute" -TypeHandlerVersion "1.0" -Lo

[2016-02-13 19:18] pcgeek86 commented on #67
@markcowl I don't immediately have time to repro, but thanks for acknowledging the issue.

[2016-02-13 19:21] pcgeek86 commented on #1261
Looks okay now.

<img width="483" alt="screen shot 2016-02-13 at 12 21 26 pm" src="https://cloud.githubusercontent.com/assets/466713/13029531/552287d2-d24c-11e5-86db-289a81f036a3.png">

[2016-02-13 19:24] pcgeek86 commented on #726
@ravbhatnagar Thanks for acknowledging the ticket, for acknowledging the usability problem, and for your support in finding an agreeable solution!

I've proposed a solution already. What's wrong with my proposal? Happy to have my proposal criticized, but let's talk about it directly, instead of talking around it. Help me understand why it would or wouldn't work.

[2016-02-13 19:24] pcgeek86 commented on #1803
@markcowl Thanks Mark! This should be a fairly straightforward fix, and might even result in removing some code, instead of adding code. :)

[2016-02-13 19:26] pcgeek86 commented on #1360
Thanks @ravbhatnagar!

[2016-02-13 19:41] pcgeek86 opened #1814 "Get-AzureRmStorageAccount :: Incorrect Output"
# Issue

When invoking the `Get-AzureRmStorageAccount` command, with **only** the `-Name` parameter, the parameter is ignored, and all Storage Accounts are returned, as if the parameter was not even specified.

# Expected Result

The `Get-AzureRmStorageAccount` command, when invoked with only the `-Name` parameter, should return one, and only one, Storage Account.

![bug](https://cloud.githubuserc

[2016-02-14 16:33] htuomola commented on #462
@markcowl as mentioned here several times, the VSTS "Azure Web App Deployment" task uses Get-AzureWebsite internally and fails the build because it fails to detect existing web app. It is of course possible to replace that one build task with custom Azure Powershell scripts but that shouldn't be necessary. Based on the bunch of github issues, it looks like everyone is just pointing at the other te

[2016-02-14 17:08] pcgeek86 opened #1815 "Weird error message creating Azure Automation Account"
I'm creating an Azure Automation Account named `CAAA`, but for some reason, I'm getting an exception that's essentially confirming that I've used a valid account name. What's wrong with my Automation Account name?

- It's not empty (specifically, it's four (4) characters)
- It starts with a letter or number (specifically, a letter)
- It does not exceed 50 characters (specifically, it's four (4) ch

[2016-02-14 23:26] TravisEz13 opened #1816 "Register-AzureRMAutomationDscNode writes to host instead of returning results"
In [AutomationClientDSC.cs#L848](https://github.com/Azure/azure-powershell/blob/dev/src/ResourceManager/Automation/Commands.Automation/Common/AutomationClientDSC.cs#L848) the CmdLet calls `Out-Default` instead of `Write-Output`.  This causes the output to be written to the host instead of returned to the caller.

[code]

Example Command 1:

[code]

Output:

[code]

Command 2 and output:

[code]

[2016-02-15 06:53] akuryan opened #1817 "New-AzureRmResourceGroupDeployment: loop dependency"
Is there a way to add a dependendency in a loop? I am trying to add several allow all rules to NSG via loop and it fails. I am using such a template:

[code]

where allowedCIDRs and allowedCIDRsNames are arrays of 9 elements each.

And it fails with following error:
New-AzureResourceGroupDeployment : 13:55:12 PM - Resource Microsoft.Network/networkSecurityGroups/securityRules 'NSGName/RuleName' fa

[2016-02-15 08:55] bingosummer opened #1818 "New-AzureRmApplicationGatewaySslCertificate does not support empty password"
[code]

If no password is set when I export the cert, I will get the above error.

[code]

[2016-02-15 12:36] sye79 commented on #1316
Some things I did to get it work:
the above message was due to a variable error, in my troubleshooting I forgot to change
`"name": "domainJoinedVM/joindomain",` to my own vmname.

Earlier on I got RPC errors (1722) while trying to join the domain, during my troubleshooting (where I made the mistake above) I found out that:

- [ ] - connectivity to 168.63.129.16 needs to be enabled in the Firewall

[2016-02-15 19:18] sayedihashimi commented on #462
Adding @BradyGaster and @mohitsriv for visibility into this.

[2016-02-15 22:01] TravisEz13 opened #1819 "Register-AzureRMAutomationDscNode does not rethrow error that occur in nested pipeline"
@psap
@balukambala have contributed to this file
This is similar to issue #1816

On [AutomationClientDSC.cs#L850](https://github.com/Azure/azure-powershell/blob/dev/src/ResourceManager/Automation/Commands.Automation/Common/AutomationClientDSC.cs#L850), the CmdLet is invoking a nested pipeline but is not reading errors from the nested pipeline and returning them.  Making it difficult to handle the

[2016-02-16 14:37] ncipollina opened #1820 "Update-AzureRMVM Availability Set"
I am attempting to add an existing VM to an existing availability set and I am receiving the following error:

Update-Azurermvm : Changing property 'availabilitySet.id' is not allowed.
StatusCode: 409
ReasonPhrase: Conflict
OperationID : '77d0ae10-6e4f-4d11-8494-29f37433cdc0'
At line:1 char:1
+ Update-Azurermvm -VM $vm -ResourceGroupName bshsi-azcdrg-2
+ ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

[2016-02-16 15:24] vsilgalis-rise commented on #1801
Getting a similar problem with a test script deploying 3 VMs, the main thing in common is the nested deployment templates for creating the VMs, wondering if something happens when a successful run of the nested template returns

VERBOSE: 9:21:26 AM - Resource Microsoft.Compute/virtualMachines/extensions 'rstestdev1/scripts' provisioning status is succeeded
New-AzureRmResourceGroupDeployment : Obje

[2016-02-16 15:51] bmoore-msft commented on #726
I think Trevor's proposal makes sense - it works the same way as the platform does when using the REST API.  We seem to be headed toward consistency with the platform in the cmdlets, this would be another area where we could do that.

[2016-02-16 20:21] abatishchev commented on #669
+1

[2016-02-16 21:47] alexandair commented on #1820
Look at this thread https://github.com/Azure/azure-xplat-cli/issues/1937

[2016-02-17 01:06] kazumihirose commented on #1810
See below.
and preference instruction
https://azure.microsoft.com/en-us/documentation/articles/vpn-gateway-create-site-to-site-rm-powershell/
thx.

[code]

Module version

[code]

[2016-02-17 01:42] ravbhatnagar commented on #1801
Thanks for reporting this. We will investigate this further.

[2016-02-17 01:47] ravbhatnagar commented on #1299
Folks - would really appreciate your feedback on this?

[2016-02-17 04:24] markcowl commented on #1816
@TravisEz13 Thanks for the report assigning for a resolution

[2016-02-17 04:25] markcowl commented on #1817
@vivsriaus Any ideas?

[2016-02-17 04:25] markcowl commented on #1818
@DeepakRajendranMsft Please consider.

[2016-02-17 04:26] markcowl commented on #1819
@TravisEz13 Thanks for the report.  Adding the DSC team.

[2016-02-17 04:28] markcowl commented on #1820
@huangpf Can you please update with the expectations for supporting this scenario?

[2016-02-17 04:32] markcowl commented on #1814
@pcgeek86 Unfortunately, the design would be to throw an error saying 'please specify a resource group', which is perhaps even more wrong than the current behavior.  Assigning to the storage team.  Defaulting to Find functionality is something we should consider as the pattern for each RP.

[2016-02-17 04:33] huangpf commented on #1820
+@singhkay & @mathi who would know more about the timeline for having this support.

[2016-02-17 07:18] TravisEz13 commented on #1819
@markcowl This should be the automation team

[2016-02-17 07:19] TravisEz13 commented on #1816
@markcowl This should be the automation team.

[2016-02-17 14:20] adam-knights opened #1823 "Set-AzureAppServicePlan conflict did not populate error variable"
I have code like:

[code]

Today this is giving a error/conflict of

However, the errors variable is not populated. But an error/conflict occurred so it should be.

I also tried wrapping the `Set-AzureAppServicePlan` in a try/catch but it never entered the catch.

and then I have

[code]

I'll be contacting Azure support to fix the actual error itself, however, my runbook script reported no errors

[2016-02-17 14:33] pcgeek86 commented on #1299
I think you know where I stand @ravbhatnagar . If you need clarity, let me know.

You'll probably want to use other tools to draw people's attention to this thread, if you want more feedback though. I doubt many people are proactively watching it. Put it on Twitter, e-mail other Azure customers directly, promote it internally at Microsoft, etc.

[2016-02-17 14:35] pcgeek86 commented on #1823
FYI, in PowerShell, `try..catch` statements only catch "terminating" errors. Non-terminating errors are more commonly thrown in PowerShell, so what you can do, is change the non-terminating error into a terminating error, by using the `-ErrorAction Stop` common parameter to all Advanced Functions and binary Cmdlets.

This isn't a problem with Azure PowerShell. It's simply how PowerShell was design

[2016-02-17 14:39] JakobGSvendsen opened #1824 "Register-AzureAutomationScheduledRunbook does not support Hybrid Workers"
AzureAutomation has added support for setting a hybrid worker to run a runbook via the schedule.

it is not supported by the cmdlet.

![image](https://cloud.githubusercontent.com/assets/3460807/13112762/8dc09bf4-d58c-11e5-8dcb-94dd95b4d5f0.png)

[2016-02-17 16:15] vsilgalis-rise commented on #1801
Changing the API version for the Microsoft.Resources/Deployments node fixed this issue for me.  I was using 2015-11-01, and switched to the 2015-01-01 and had no issues.
eg:
 {
      "type": "Microsoft.Resources/deployments",
      "name": "[concat('vmcreate', copyindex())]",
      "apiVersion": "2015-01-01",

Also when running in debug mode it looks like it is hitting the 2014-01-01-preview api v

[2016-02-17 17:30] seanfisher commented on #669
This is a major deal for us because we need automated continuous integration, not something where a person has to go click the websites off and on again. From Microsoft/vso-agent-tasks#1233 :

I've run into this as well. Here's what we're doing as a work around. We run an Azure Resource Manager powershell script with something like the following code as `Manage-WebApps.ps1`:

[code]

We'll run thi

[2016-02-17 17:53] markcowl commented on #718
@trondhindenes @pcgeek86 Finally circling back on this and related issues.  Do you guys have a preference on how we would roll this out?  We could change a few services at a time, or we could make the change wholesale for all ARM cmdlets.  My thought is that inconsistency would be more confusing, and one break is preferable.  What do you guys think about this?

BTW - the historical reasons for thi

[2016-02-17 18:10] markcowl commented on #475
Hello all,  we will be tacking this issue over the next sprint or two.  My question to the community is how would you prefer we roll this out?  Should we phase this in a few services at a time, or make a single large breaking change and make all ARM cmdlets consistent all at once? If we want to continue using semantic versioning on the roll-up package, this almost forces us to make the change all

[2016-02-17 18:11] markcowl commented on #827
@alexandair @pcgeek86 @devigned ,  we will be tacking this issue over the next sprint or two.  My question to the community is how would you prefer we roll this out?  Should we phase this in a few services at a time, or make a single large breaking change and make all ARM cmdlets consistent all at once? If we want to continue using semantic versioning on the roll-up package, this almost forces us

[2016-02-17 18:28] trondhindenes commented on #475
I would just get it done. For every day that passes with the modules containing the current bugs/design failures/whatever we call them, there's another group of people learning the "wrong kind" of powershell. But whatever you do, just make sure it's documented (as in real built-in help).

I agree with the (new) proposed usage of "-force".

As for ASM, it doesn't have the consistent wrongness that

[2016-02-17 20:12] yangl900 commented on #1817
it appears the security rules does not allow concurrent update (copies will update the rule in concurrent by default). We will follow up with owner of this API.

An workaround is to set a dependency on the previous rule, so it does not run in parallel.
{
// provision rule[0]
},
{
  "copy": {}
  "name": "[copyIndex(1)]" //offset 1 so start with second in the array
  "dependsOn": ".../rules/copyInde

[2016-02-17 22:13] kilasuit commented on #718
You need to make use of the underlying PowerShell Language and do this on all ARM cmdlets at once.

Else you may as well be writing python.

Also regards to the users not familar to PowerShell the CommonParameters are simple enough to understand and in my opinion this **should** never of made the light to released functionality.

[2016-02-17 23:39] kilasuit opened #1826 "Community Call - OneNote/Wiki & clearly communicated timeline of item fixes"
The Azure cmdlets are at present quintessentially not being managed and maintained in a sustainable method this is referenced back to my response to closing #1763

So like suggested to the PSScriptAnalyzer Team I thinkg that there is a requirement to gain input from the community in a 1 hour skype call and I feel that really this needs to happen sooner rather than later.

My reasons are that
- Ama

[2016-02-17 23:47] kilasuit commented on #718
Also see #475 for this issue

[2016-02-18 00:55] jodoglevy commented on #655
Please note - make sure the service principal cert is marked exportable when imported as an asset to Azure Automation.

[2016-02-18 05:42] YidingZhou commented on #1288
Same here. Any plan to fix this?

[2016-02-18 07:20] doctordns commented on #475
I agree with Trond - just get it done. It's a mess that is slowly getting less messy. I totally agre with trond about the current design challenges and it's impact on new users.

I would like to see the cmdlets (ASM vs ARM) to be consistent. I would only change ASM cmdlets if/where their usage is different to what is being proposed for ARM cmdlets. Please, consistency is really important, imho.

[2016-02-18 07:40] SimonWahlin commented on #1826
@kilasuit  has a good point here and I agree. I really appreciate the effort of making more and more projects OpenSource, giving us the possibility to both follow and contribute to the progress.

Spending a little time to make it easier for contributors to feel part of the project is probably well invested since it hopefully will result in more contributions. Making it easier to understand where h

[2016-02-18 11:49] JakobGSvendsen opened #1829 "Get-AzureRmAutomationModule -name "azurerm*" fails (wildcard search)"
Get-AzureRmAutomationModule -name "azurerm" works fine
Get-AzureRmAutomationModule -name "azurerm*" fails.

here are the error details:

[code]

[2016-02-18 14:00] KirkMunro commented on #475
I agree with getting it done all at once across all modules.  Better to make the community adjust once to the breaking changes rather than to drag it out over time.

[2016-02-18 15:05] doctordns commented on #475
Kirk makes a great point about not dragging this out. It's easy to say, it's a change that should have been made a while ago - but that's not helpful. Let's make the change, everywhere, so that the use of -Force and -Confirm is consistent between ARM/ASM - there's enough new stuff for PowerShell IT Pros to learn wrt Azure, let's make ARM and ASM cmdlets as compatible and consistent as is possible.

[2016-02-18 15:23] kilasuit commented on #475
See #1826 - there's a big need for there to be more community driven involvement as there is a big issue with the Azure PowerShell Team to Community communications and I've suggested some possible improvements in #1826

[2016-02-18 18:09] markcowl commented on #1777
@pjirsa Can you share the debug log from this?

[2016-02-18 19:25] markcowl commented on #1826
@kilasuit @SimonWahlin I am in complete agreement that the issues list is not being effectively managed, to put it in the mildest possible terms.  PowerShell language compliance, consistent cmdlet signatures, and improved help are high priority items in our planning.  BTW, you can track our priorities in our pivotal project, if you are interested:  https://www.pivotaltracker.com/n/projects/1424376

[2016-02-18 19:30] markcowl commented on #1824
@jodoglevy Can you take a look?

[2016-02-18 19:32] markcowl commented on #1829
@jodoglevy Please take a look

[2016-02-18 19:51] markcowl commented on #1288
@KarlGW @iamshital @matthewbcline @YidingZhou Investigating for the next release. do any of you have debug traces from a failed background job?

[2016-02-18 20:03] pcgeek86 commented on #1815
@ravbhatnagar @devigned @markcowl Thoughts? Fixes? Anything?

[2016-02-18 21:15] jodoglevy commented on #1829
You can do:

`Get-AzureRMModule | where { $_.Name.Contains("azurerm") }`

to limit the results to just modules with azurerm in the name

[2016-02-18 22:07] jodoglevy commented on #1824
Yup, looks like an issue. Will open a bug internally to track this.

[2016-02-18 22:14] markcowl commented on #1829
@jodoglevy This seems like an ominous message though, doesn't it?

[2016-02-18 22:18] markcowl commented on #1308
@pcgeek86 @kerslake It looks like moving to a a module consisting only of dependencies makes this around an order of magniturde better.  As soon as the RTM version of WMF ships (later this month) we plan to make this transition.

[2016-02-18 22:20] markcowl commented on #334
@clamanna does your team have any plan to address this? Do you need any support from us?

[2016-02-18 22:22] markcowl commented on #392
@slapointe I think this is resolved by the PSAzureRMProfile type which is fully serializable and converts to AzureProfile.  Please LMK if this is not the case.

[2016-02-18 22:23] joshmouch commented on #1524
Any idea why this error message occurs?  I'm also getting a "The remove name could not be resolved: '*.vault.azure.net", except I get it when running Set-AzureRmVMDiskEncryptionExtension.

[2016-02-18 22:23] markcowl commented on #404
fixed in the above PR, closing.

[2016-02-18 22:23] #404 closed

[2016-02-18 22:24] jodoglevy commented on #1829
Yup, filed a bug on that.

[2016-02-18 22:25] joshmouch opened #1833 "Azure Vault can't be found when encrypting disk"
When I run the following command:

[code]

I get the following exception:
[code]

[2016-02-18 22:25] markcowl commented on #429
@trondhindenes This is schedule for the late March release

[2016-02-18 22:27] markcowl commented on #497
@BlueBasher Can you verify that you are still experiencing this issue?

[2016-02-18 22:31] markcowl commented on #667
@pcgeek86 @ciphertxt @rajinders I'm wondering if this issue would be resolved by having accurate help shipping with the cmdlets, or if using the ```-online`` switch has some additional goodness you feel is necessary?  T

[2016-02-18 22:41] markcowl commented on #685
@pcgeek86 @josheinstein @mrdaemon A couple of comments.  First, we have a plan for removing reliance on updating the global PSModulePath which should resolve *most* of these issues.

The underlying behavior is caused by two issues : (1) The windows installer does not propagate changes to global environment variables under certain circumstances, such as a pending restart for updates until you actua

[2016-02-18 22:42] markcowl commented on #755
this was completed

[2016-02-18 22:42] #755 closed

[2016-02-18 22:44] markcowl commented on #695
@pcgeek86 Are you still seeing this?  We updated the authentication library to change the prompting behavior, but there could still be an issue with ASM cmdlets.

[2016-02-18 22:50] markcowl commented on #839
@bganapa this was fixed post version 1.0.  Closing

[2016-02-18 22:50] #839 closed

[2016-02-18 22:56] markcowl commented on #1135
@trondhindenes @graemechristie @slapointe Since this is also a breaking change, the plan is to lump this change together with the ShouldProcess change and make the change across all the ARM cmdlets. at or just after the //BUILD timeframe.

[2016-02-18 22:58] markcowl commented on #1164
@trondhindenes I'm curious whether the generic cmdlets for Invoke-AzureRmResourceAction  are similar to what you want, or whether the Invoke-AzureRestMethod is still something you would like to see.

[2016-02-18 22:59] markcowl commented on #1224
@paul-sernine It is installed silently when you use webpi,  what are the parameters you are p[assing to msiexec?

[2016-02-18 23:04] markcowl commented on #1255
@singhkay @trondhindenes @torgro @devigned Replacing the current Force pattern with the appropriate ShouldProcess pattern will solve this issue.  We will be aming this change across all ARM cmdlets in a near term release.

[2016-02-18 23:08] markcowl commented on #1278
@mithunshanbhag ServicePrincipal authentication does not work with azure service management - there is simply no way to provide co-admin authorization to a service principal.  If you need to automate ASM scenarios, using certificate authentication is the best bet

Closing, as this issue has been resolved for Add-AzureRmAcount

[2016-02-18 23:08] #1278 closed

[2016-02-18 23:10] markcowl commented on #1300
Closing, as I believe this issue is resolved.  Please open a new issue if this perists for you

[2016-02-18 23:10] #1300 closed

[2016-02-18 23:13] markcowl commented on #1301
@ExchMaster This is fixed, the code is now in the repo here: https://github.com/Azure/azure-powershell/blob/dev/src/Common/Commands.Common.Authentication/Models/AzureEnvironment.Methods.cs#L352

[2016-02-18 23:13] #1301 closed

[2016-02-18 23:14] markcowl commented on #1305
@fujiy @iamshital That is correct, this is a breaking change in how the current storage account works, to allow using the account in both ARM and ASM scenarios

[2016-02-18 23:14] #1305 closed

[2016-02-18 23:19] markcowl commented on #1309
@ShaneCastle @MaxTrinidad Yes, the issue is that the 'non-interactive' flow, that is log in without going through the login dialog is not allowed for live id credentials in Azure Active Directory.  If you need to automate using PSCredential, the advice is to use service principal authentication.

[2016-02-18 23:19] #1309 closed

[2016-02-18 23:21] markcowl commented on #1405
@pootzko The installer is fully supported on PowerShell 3 and PowerShell 4.  Can you provide a screenshot or capture of the message you are seeing when installation fails?

[2016-02-18 23:24] markcowl commented on #1418
@pcgeek86 will be addressed in the next release.

[2016-02-18 23:27] markcowl commented on #1556
@pcgeek86 We have added static reports for missing help here:  https://github.com/Azure/azure-powershell/tree/dev/tools/StaticAnalysis/HelpAnalyzer

The plan is to drive these down with feature teams over the next few sprints and make this fail the build once that is done.

[2016-02-18 23:29] markcowl commented on #1436
@alstab  We have been unable to repro and it appears there is also no repro on this from your side.  Closing for now.  Please open a new issue if a repro occurs

[2016-02-18 23:29] #1436 closed

[2016-02-18 23:30] markcowl commented on #1484
fixed per the PR above, closing

[2016-02-18 23:30] #1484 closed

[2016-02-18 23:33] markcowl commented on #1557
@pcgeek86 @devigned It sounds like the ask is really for updated coding standards and static analysis checks.  I *think* this properly belongs in the wiki.

[2016-02-18 23:36] markcowl commented on #1796
@karlaugsten Thanks, we were able to repro and fixed the issue here:  https://github.com/markcowl/azure-powershell/commit/f10e5b6a9069e7a120f987296415da4fb47ea9b9

the issue was with the graph resource id required for graph version > 1.5 wasn't being propagated to the return type of the Get-AzureRmEnvironment cmdlet.  This is checked in and will be released on March 1.

[2016-02-18 23:36] #1796 closed

[2016-02-18 23:41] GrahamDSmith commented on #989
Not sure this is fixed. Please see my comment [here](https://disqus.com/home/discussion/thewindowsazureproductsite/deploy_an_application_with_azure_resource_manager_template/#comment-2522268046).

[2016-02-18 23:52] pcgeek86 commented on #1308
@markcowl Thanks! Let's keep this open until we can show some performance gains.

[2016-02-18 23:54] pcgeek86 commented on #667
@markcowl This is actually complementary to built-in help. :) Both built-in PowerShell help and the online help work together to round off the documentation experience. The URI for the online help would link to the Azure documentation for the feature, which would likely also contain PowerShell examples, and even more platform context.

So, just for the sake of clarity, this particular issue report

[2016-02-18 23:57] pcgeek86 commented on #1556
@markcowl Excellent. Let's keep this open until the build fails due to missing help.

[2016-02-18 23:58] pcgeek86 commented on #1418
@markcowl Great, let's keep this open until the bug is resolved in the next release.

[2016-02-18 23:58] pcgeek86 commented on #695
@markcowl I haven't seen this lately. Will close until further reproduction.

[2016-02-18 23:58] #695 closed

[2016-02-19 03:17] markcowl commented on #1288
@KarlGW @YidingZhou @iamshital

So, there are two unrelated issues here.  First, the profile is no longer automatically persisted to disk, so it cannot be read by background jobs unless you explicitly save it.  We plan to implement auto-saving of the profile in a release in the near term, but meanwhile, you should be able to get your background jobs to work perfectly well using Save-AzureRMProfile

[2016-02-19 03:21] markcowl commented on #1833
@singhkay Can you take a look?

[2016-02-19 03:50] doctordns commented on #1826
Great thread so far!
I am, this week, in India - any conference call would be at a time  that I'd prefer to be asleep!
I think there is a PR job here - the cmdlets have, imho, been a bit of a mess. The whole switch-azure mode is, to my mind, a huge mistake, and the pain of resolving it something we should have avoided. When I talk to IT Pros, they are baffeled. I think we need a good PR story and

[2016-02-19 05:20] singhkay commented on #1833
Adding @SudhakaraReddyEvuri who owns this cmdlet

[2016-02-19 08:55] KarlGW commented on #1288
Thank you for your reply and information. I will look into this and try out to pass the path to the AzureRm-profile as a parameter to my functions that runs as background jobs. I'm just have to find a nice way to send it in first.

[2016-02-19 09:53] JakobGSvendsen commented on #1829
"Get-AzureRMAutomationModule | where { $_.Name.Contains("azurerm") }"

yes but it is bad practice to not filter any kind of search.
Look bad when I as a PowerShell teacher try to teach students best practice.  ;-)

Is there a reason why many azure rm cmdlets does not support wildcards?

limitation in ARM?

It is really weird to me that we need to to bad code to make it work :)

anyways, thanks!

[2016-02-19 10:33] KarlGW commented on #1288
@markcowl
It worked like a charm! Thank you so much for this advice. Back in the day before I gave up I found nothing that pointed to this, or rather maybe I missed it. But your ELI5 on it certainly made me able to send my "credentials" to the background process job. Thanks!

[2016-02-19 11:18] kilasuit commented on #1308
Also just looking at the Download numbers for the AzureRM.Profile module is almost 10x the rest of the modules which to me points to it being downloaded multiple times in the install process and perhaps this is why it is slow to install

To confirm have a look at this page and ensure sort by popularity is set
http://www.powershellgallery.com/PSModule

[2016-02-19 11:18] kilasuit commented on #1308
Or as this page shows it is 10x times of the other Azure Modules

http://www.powershellgallery.com/stats

[2016-02-19 17:43] Michael-DST commented on #1300
OMG I have been getting pwnz0red (yeah, bringing that back... it's THAT bad!) this entire day with this.  I have Windows 10, but I do NOT have C:\Program Files\WindowsPowerShell\Modules\PowerShellGet on my system.  It has been a longgggg day, but this thread is the most valuable that I have seen in my very difficult journey thus far. :stuck_out_tongue:

[2016-02-19 17:47] Michael-DST commented on #1300
I also do not have Modules/AzureRM which is the whole reason for my angst to begin with, I believe.  I have not been able to run any default AzRM methods like New-AzureADApplication but can run New-AzureRmADApplication.

[2016-02-19 17:49] devigned commented on #1300
@Michael-DST did you run `install-module azure` or install via MSI? If you have installed only the AzureRM.* modules, then you only have the {Verb}-AzureRm{Noun} cmdlets.

[2016-02-19 17:56] Michael-DST commented on #1300
Hi @devigned thank you for playing support to my personal hell. :smile:  I did install via MSI, or rather the WebPI.  Also, I did just realize that I have a "C:\Program Files (x86)\WindowsPowerShell\Modules\PowerShellGet" (x86). Is this expected/part of the problem?  I do not have an Azure* in either x86 or plain Program Files.

[2016-02-19 17:56] jodoglevy commented on #655
Please note - if you get error:
`PrincipalNotFound: Principal <some id> does not exist in the directory <some guid>` when running the script provided above that creates service principals and service principal certificates (https://github.com/Azure/azure-powershell/files/104033/01CreateCertAndServicePrincipal.ps1.txt), please add a sleep of 30 seconds between steps 5 & 6 in the script, that will r

[2016-02-19 18:01] devigned commented on #1300
@Michael-DST, WebPI install is completely separate from anything PowerShellGet related. WebPI installs the modules to program files and adds the path to your psmodulepath.

If the psmodulepath is messed up, you will not see this issue if you open PS in admin mode.

We are going to fix this in a near future release. @mayurid or @markcowl can provide more detail here.

[2016-02-19 18:15] Michael-DST commented on #1300
WOW!!!  I just totally figured it out.  In my case I was running 64-bit ("regular") PowerShell, and all the action is over in x86!  That is obviously totally unexpected.  Does everyone work in x86?  That would be good to know in the documentation somewhere. :stuck_out_tongue:

Also, it is saying that PSGallery is an untrusted repository, which also seems completely inaccurate.

Goodness gracious.

[2016-02-19 18:29] pcgeek86 opened #1835 "Request: Make AzureRM modules workflow-friendly"
@ravbhatnagar @devigned @markcowl @jodoglevy
# Request

Please make it a requirement for all AzureRM commands to be implemented as native activities, or otherwise Workflow-friendly, for the Windows Workflow Foundation (WWF) engine that PowerShell Workflow is based upon. The Microsoft Azure Automation service heavily depends on PowerShell Workflow, especially the relatively new Graphical Runbooks (

[2016-02-19 18:48] SudhakaraReddyEvuri commented on #1833
Hello Joshua
I am sorry about the error. Can you cross check if you added a service principal ($servicePrincipal = New-AzureRmADServicePrincipal -ApplicationId $ADApp.ApplicationId ; ) after creating the AAD app?
Alternatively, we created a one touch Pre-Requisites setup script to handle all the setup related to AAD app, KeyVault, permissions etc to enable encryption. We highly recommend you to us

[2016-02-19 19:01] markcowl commented on #1826
@doctordns One big issue we have with help contributions is that the default github diff for xml files is essentially useless, so that it is very, very difficult to review help changes in GitHub PRs. .  We are looking at some options to break up the help and generate the maml xml format, so that help is located with the cmdlet code and it is easier to see what is up to date and what is not.

You s

[2016-02-19 19:03] markcowl commented on #1835
@pcgeek86 Making these common classes serializable is definitely on the radar - beyond Profile and StorageContext, are there any others causing particular pain?

[2016-02-19 20:24] joshmouch commented on #1833
That's a wonderful script.  We went ahead and deleted everything we'd created previously and then ran this script.  Then used the data provided by it and re-ran the command I have in my original post.
But unfortunately, I still got the same error.

[2016-02-19 20:54] singhkay commented on #1835
@markcowl Get-AzureRmVm also fails in the workflow. Would your fixes flow to this cmdlet or is there work needed on our side?

cc: @hyonholee @huangpf

[2016-02-19 21:12] SudhakaraReddyEvuri commented on #1833
Hey Joshua
Could you please make sure the VM has appropriate outbound network connectivity and is able to reach AAD & KeyVault end points? Below are the requirements to enable AzureDiskEncryption on the VM from AzureDiskEncryption whitepaper (https://azure.microsoft.com/en-us/documentation/articles/azure-security-disk-encryption/).
To enable Azure Disk Encryption feature, the IaaS VMs must meet th

[2016-02-20 07:38] Mike-EEE opened #1839 "New-AzureRmADApplication: Allow ID as Parameter"
I am looking at this cmdlet, and it would be useful to be able to pass in the guid for the application.  Let's say that the ID is generated in a process that is also used elsewhere.  If the ID is not provided, then it gets generated as it does now.

In my case, I would like to create a self-signed certificate for Azure Key Vault with the application's ID stored in the certificate, that way I only

[2016-02-20 07:58] Michael-DST commented on #1839
According to this article it appears that you can edit the application's key credentials after the fact: https://github.com/Azure-Samples/active-directory-dotnet-daemon-certificate-credential

So, this might be a good workaround until this issue is solved.  I will give this a shot and update accordingly.

[2016-02-20 08:06] Michael-DST commented on #1839
Further discussion here: https://social.msdn.microsoft.com/Forums/azure/en-US/15cbac12-9911-4867-8389-828eeb63fcb8/guidance-creating-a-nontest-production-certificate?forum=AzureKeyVault&prof=required

[2016-02-20 12:04] naammeinkyahai opened #1840 "Resource not showing up anywhere when Move-AzureRmResource failed"
I was trying to move a Azure Web App from one resource group to another along with associated resources using the following command:

[code]

The Move-AzureRmResource failure was caused because the 2nd certificate with the ##SouthEast Asia#SoutheastAsiawebspace could not be found.

Now the webapp is not showing up when I issue any of the following commands

[code]

The webapp doesn't show up in th

[2016-02-20 19:17] rahulpnath commented on #1839
Hi Mike,
I am not quite sure on why there is a problem in having the application Id in the web.config and checked into the source control. It is just an identifier number and does not have any significance or sensitive information by itself. Even along with the thumbprint value, as you can connect to it only if you have the certificate.

(Anyways would wait for some one from the key vault team to

[2016-02-20 19:36] Michael-DST commented on #1839
Well... it is the GUID to an application that resides within your cloud-connected Active Directory, correct?  To me that seems like something I wouldn't want the world to know.  Please let me know if I have that wrong. I'm still learning here. :)

[2016-02-20 19:42] rahulpnath commented on #1839
Thats why we have authentication in place. At least that's how I see it. (_If not we would not even be sharng our email addresses_)

[2016-02-20 20:03] Michael-DST commented on #1839
Haha... yes, I am learning this right along with you. :) To summarize my understanding so far: currently in order to access the AVK, we need the following information (when going with the certificate route):
 1. Thumbprint (the key/id, or "The How")
 1. Rest URL of secret ("The Where")
 1. Client ID ("The Who")

In my view, 2 and 3 are extraneous articles of surface area for a malicious party.  If

[2016-02-20 22:56] alexandair commented on #1835
@singhkay What do you mean by "Get-AzureRmVM fails in the workflow". It works for me and returns expected result.

[2016-02-21 05:56] doctordns commented on #1826
Thanks for the follow up.
The list of pain points seems accurate.
1. The Azure modules should, IMHO, be installed into \program files\WindowsPowerShell\modules, and should NOT create yet another entry in $env:PSModulePath.
2. Help needs a big up date. In preparing for this week's work in India, I discovered many of the cmdlets had poor help. In talking to the Indian audience last week, it's clear

[2016-02-21 18:43] singhkay commented on #1835
@alexandair This code returned no output when I was trying it out in a workflow

[code]

[2016-02-21 20:55] androidtopp commented on #1316
@singhkay, just following up to see if there have been any updates on this extension - is there an issue with the extension itself, or is there something I could be doing differently to make this work?

[2016-02-21 23:12] alexandair commented on #1835
@singhkay I got it. I think the only way now is to convert a value from JSON to a PSCustomObject.:

[code]

[2016-02-22 10:37] adam-knights commented on #1823
Thanks @pcgeek86 I added the action stop's and we now hit the try catch. I'll leave this open as I think Set-AzureAppServicePlan and the other new methods would benefit from msdn documentation. As an example, trying to work out three strings that can be used in `WorkerSize` param is not as straight forward as it should be.

[2016-02-22 17:30] pcgeek86 commented on #1835
@markcowl Thanks Mark! At the moment, I don't have others to report. :)

Cheers,
Trevor Sullivan

[2016-02-22 18:05] pcgeek86 commented on #1823
@adam-knights Totally agree on the other parts. Just trying to help in the error handling space. :)

[2016-02-22 20:04] singhkay commented on #1316
@androidtopp Talked to the extension team, they said the image shouldn't make a difference. I haven't been able to repro this myself to make sure though.

[2016-02-22 23:07] sdecker opened #1843 "Get-AzureRmSubscription does not respect -ErrorAction SilentlyContinue"
I should be able to use
if(Get-AzureRmSubscription  -SubscriptionId $SubscriptionId -ErrorAction Silently) { ... } else { ... }

But I have to do
try {
    if(Get-AzureRmSubscription  -SubscriptionId $SubScriptionId) {}
} catch { ...}

because it does not respect -ErrorAction.

[2016-02-23 12:43] #1810 closed

[2016-02-23 12:43] kazumihirose commented on #1810
Sorry, I'm found own miss. Thank you.

[2016-02-23 18:22] strtdusty commented on #1278
So is there no support for running ASM commandlets in automation when trying to authenticate using an SPN?  As @mithunshanbhag stated there are some ASN commandlets that have no ARM analog.

[2016-02-23 19:24] seanfisher opened #1848 "Publish-AzureWebsiteProject should have option to "clean deploy""
We're using the new Release Management platform on Visual Studio Team Services. We're running the Azure Web App Deployment task, which uses the `Publish-AzureWebsiteProject` to actually publish the website. However, we are running into some issues where an old DLL is being left on the web app and publishing doesn't remove it. We are using this as a continuous delivery pipeline, so we can't have a

[2016-02-23 20:01] markcowl commented on #1826
on demand run here:  http://azuresdkci.cloudapp.net/job/powershell-demand/

[2016-02-23 20:19] vivsriaus commented on #1801
Thanks for reporting this issue. It will be fixed in the upcoming Azure powershell release

[2016-02-23 22:05] vivsriaus commented on #1717
Thanks for reporting this issue. This will be fixed in the upcoming Azure powershell release.

[2016-02-23 22:26] singhkay commented on #1820
@Mahthi is the right person for this but it is on the backlog. I would not expect this come in the first half of this year.

[2016-02-23 22:48] markcowl commented on #1835
@singhkay This ssmes like a generic output issue and not workflow-specific.  Will you guys be addressing this?

[2016-02-23 22:50] markcowl commented on #1840
@vivsriaus Can you take a look?

[2016-02-23 22:52] markcowl commented on #1843
@sdecker What is the error in this case?  If the error is that you haven't logged, in this is correct behavior, as this is a terminating error - no further processing is possible.  If there is some error with a particular subscription or tenant, then you are correct, it is a non-terminating error, which the ErrorActionPreference should control.

[2016-02-23 22:53] markcowl commented on #1848
@naveedaz Can you take a look?

[2016-02-23 23:09] singhkay commented on #1835
@markcowl If it's not workflow specific, then sure but it does work for me outside of the workflow. @huangpf @hyonholee Can you take a look at where the ownership for this fix lies?

[code]

[2016-02-24 00:11] SudhakaraReddyEvuri commented on #1833
@joshmouch  Hello Joshua, want to check if this issue is resolved or do you need any help further?

[2016-02-24 00:18] shobak101 commented on #1848
the default behavior is actually as you described @seanfisher I am not sure why this file is not getting deleted. could you please take a look at the logs and tell me if you find any logs about failing to delete this file you should find some helpful logs if you follow these steps [https://github.com/projectkudu/kudu/wiki/Investigating-msdeploy-ARM-failures](url)  if that does not help please tell

[2016-02-24 00:50] pcgeek86 commented on #1835
To be clear, the original intent of this issue is related to Azure PowerShell cmdlets not accepting deserialized objects as input, per the examples discussed:

1. A deserialized Storage Context
2. A deserialized Azure Profile / Context / whatever it's called :smiley:

The issue Kay raised may be related to the workflow "friendliness" of ARM PowerShell as well.

Cheers,
Trevor Sullivan

[2016-02-24 01:32] joshmouch commented on #1833
@SudhakaraReddyEvuri yes, it is resolved, thank you.  It was a DNS issue on the VM.  Looking back at the error, that seems obvious now!  Your script is awesome, and we'll continue using that going forward.

[2016-02-24 01:32] #1833 closed

[2016-02-24 01:44] sdecker commented on #1843
Yes, the error is that the user isn't logged in. It is not correct behavior that any cmdlet should throw a terminating error if I set -ErrorAction to silently continue. I know the user may not be logged in that is the whole point of me checking. Some AD cmdlets do this on Get-* as well and it is infuriating that MS thinks this is acceptable. The logic I want to implement is to have a script that i

[2016-02-24 07:25] timwieman commented on #391
Note, this link, https://azure.microsoft.com/en-us/documentation/articles/virtual-networks-nsg/#Default-Rules, is where the documentation discusses these default rules and defines the default tags of VIRTUAL_NETWORK, AZURE_LOADBALANCER, and INTERNET.  It sounds like these are incorrect and should be changed to match the ones defined here: https://msdn.microsoft.com/en-us/library/azure/mt163645.asp

[2016-02-24 10:29] San7hos opened #1856 "Move-AzureRmResource throws error when moving AppInsights and Service plans"
When trying to move AppInsights from one ResGroup to another, I am getting 404.

`$resource = Get-AzureRmResource -ResourceId <my_resource_id>
#$resource = Get-AzureRmResource -ResourceName "my res name" -ResourceGroupName "old res group"
Move-AzureRmResource -DestinationResourceGroupName "new group" -ResourceId $resource.ResourceId`

I have tried obtaining the resource by Id and Name + GroupName.

[2016-02-24 14:18] Chahul opened #1857 "Azure Website Backup"
Only classic storage accounts are supported for Azure website backups.For ARM deployment model websites , ARM storage accounts should be visible to perform backups.

[2016-02-24 14:21] Chahul opened #1858 "Stroage container."
Although we can create Storage account through ARM models but creating underlying blob container is not possible.

[2016-02-24 14:59] pcgeek86 commented on #1858
After you've provisioned a Storage Account, the "management plane" (ARM) leaves the scene, and the "data plane" takes over. You want to use the `Azure.Storage` module, which has the appropriate commands to obtain storage keys, create a storage context or SAS tokens, and manage containers and blobs.

To be clear, this is not a design problem or a bug, but rather a training issue.

Cheers,
Trevor Su

[2016-02-24 15:05] pcgeek86 commented on #1857
This doesn't seem like an actual problem with the Azure Resource Manager (ARM) PowerShell module, but rather a limitation of the Azure App Service Resource Provider itself.

Cheers,
Trevor Sullivan
Microsoft MVP: PowerShell

[2016-02-24 15:06] pcgeek86 commented on #1857
@markcowl Please confirm and close if appropriate, for now, until the Resource Provider supports this scenario.

[2016-02-24 15:17] androidtopp commented on #1316
@singhkay Thanks! I just compared the two scripts I am using, and literally, character for character, the code to populate variables and run the extension is identical between the scripts:

`Set-AzureRMVMExtension -VMName $strAzureVMName –ResourceGroupName $objResourceGroup.ResourceGroupName -Name "JoinAD" -ExtensionType "JsonADDomainExtension" -Publisher "Microsoft.Compute" -TypeHandlerVersion "1

[2016-02-24 17:22] markcowl commented on #1858
@pcgeek86 Thanks, Trevor!

[2016-02-24 17:22] #1858 closed

[2016-02-24 17:29] jeffpatton1971 commented on #767
Hey, just found this issue as I was looking for mildly more complete documentation of what this parameter mean outside of the cmdlet documentation

https://msdn.microsoft.com/en-us/library/mt679003.aspx

Neat, that you guys added it to the website, could you at least flesh it out. And to +1 @pcgeek86 could we also please add the parameters that the cmdlet accepts into the in-line help?

It really

[2016-02-24 18:46] pcgeek86 opened #1859 "Design issues with AzureRm.Compute\Add-AzureRmVMDataDisk command"
In the `AzureRm.Compute` module, the `Add-AzureRmVMDataDisk` command needs some work.
- It offers a single parameter set, instead of multiple parameter sets like `Azure\Add-AzureDataDisk`
- The parameter values for the `-CreateOption` parameter are not properly cased for PowerShell (screenshot included)

<img width="588" alt="screen shot 2016-02-24 at 11 45 33 am" src="https://cloud.githubusercont

[2016-02-24 22:35] ravbhatnagar commented on #1283
@alfhenrik - This is a bug on our side. The issue is probably caused by having a # or space in your certificate name. Can you try with a name which does not contain these and see if it fixes your issue?

[2016-02-24 22:37] ravbhatnagar commented on #1840
@naammeinkyahai - Do you happen to have the correlation ID for this operation?

[2016-02-25 02:04] Minte6 commented on #1165
+1

[2016-02-25 02:05] Minte6 commented on #1165
https://msdn.microsoft.com/en-us/library/mt679004.aspx

[2016-02-25 02:55] damienpontifex commented on #1165
Perfect thanks @Minte6 just what I was looking for!

[2016-02-25 02:55] #1165 closed

[2016-02-25 11:09] niadak opened #1865 "Import-Module AzureRm.Profile is taking almost 2 mins"
Hi All,
I am hitting this issue when ever i am running Import-Module AzureRm.Profile from Azure Tasks in new Build/RM workflow in TFS. It seems like VersionCheck.ps1 scrtpt is taking long time. Azure PowerShell version is 1.2.0.

From logs, Dot-sourcing the script file '\AzureRM.Profile\CheckVersions.ps1'. step is taking almost 2 mins. Can anybody help me? It is causing almost 10 mins overhead for

[2016-02-25 11:42] demyte commented on #1736
Is there a way of doing this in ARM without this command?

[2016-02-25 13:31] Chahul commented on #1857
Thanks Trevor for your inputs from ARM perspective. It would be good to have usage ARM provisioned storage accounts for various activities such as backups, OMS association.

[2016-02-25 13:31] #1857 closed

[2016-02-25 14:55] naammeinkyahai commented on #1840
@ravbhatnagar c2373dbe-25a0-4f65-80d8-95b6f57419a4 & a5ad2cf0-8196-4ac9-b5f1-f8236d1f5cf1 are the correlation ID for the operations which "Deleted" the website from the old RG. There is no corresponding "Create" or "Update" event in the new RG.

For storage and WebHostingPlan move in prior commands, I had seen successful moves.

[2016-02-25 15:13] pcgeek86 commented on #1857
@Chahul Of course, I agree with you there. It just can't even be implemented in PowerShell at this point, until the ARM Resource Provider for each service supports it. Resource Providers are the "plug-ins," so to speak, to ARM that expose various cloud Resource Types. You can read more about this in the Azure Documentation.

[2016-02-25 16:37] eosfor opened #1867 "Find-AzureRmResource -TenantLevel"
The call
`Find-AzureRmResource -ResourceNameContains serverName -TenantLevel -ResourceType Microsoft.ClassicCompute/virtualMachines`

Fails with the following error message

[2016-02-25 17:21] markcowl commented on #1418
@pcgeek86 Fix was just checked in.  WIll go out with next release.

[2016-02-25 17:21] #1418 closed

[2016-02-25 19:12] pcgeek86 commented on #1418
@markcowl Great, thank you!

[2016-02-25 20:28] markcowl commented on #462
RDFE fix was just checked in to dev branch,  wil go out with the next release.

[2016-02-25 20:28] #462 closed

[2016-02-25 23:05] markcowl commented on #1856
@vivsriaus can you take a look?

[2016-02-25 23:07] markcowl commented on #1859
@singhkay @huangpf Please take a look - seems like a couple of simple, logical signature changes for the cmdlet

[2016-02-25 23:09] huangpf commented on #1859
@hyonholee

[2016-02-25 23:09] markcowl commented on #1865
@niadak Apologies for the bad experience.  This should be resolved when we remove this script in the next release (corresponding with WMF 5 RTM availability).  Please let me know if you need a workaround until then.

[2016-02-25 23:11] markcowl commented on #1867
@vivsriaus Is this a provider registration issue, or is -TenantLevel meant to apply to only tenant-specific resources?

[2016-02-25 23:13] markcowl commented on #1808
@vivsriaus Can we change the parameter name (and add an alias for backward compatibility)?

[2016-02-25 23:22] vivsriaus commented on #1856
@San7hos Can you please execute the Move-AzureRmResource command above with a -Debug switch and send me the traces?

[2016-02-26 00:00] pafriend opened #1871 "Import-AzureRmApiManagementApi requires ApiId when creating new API"
The docs for Import-AzureRmApiManagementApi state the if ApiId is not provided then an id is generated. The command fails when ApiId is not provided stating that it is required. If an ApiId is provided that matches an existing id the command works. All other values fail. If a blank string is provided the command fails with a generic PUT failure.

[2016-02-26 00:12] singhkay commented on #1316
@androidtopp Checking a bit more with a few other extension folks on the team, they suggested looking at `C:\WindowsAzure\Logs\Plugins\Microsoft.Compute.JsonADDomainExtension\1.0\ ADDomainExtension.txt` and see if it has any error codes in the vm image case

[2016-02-26 00:22] vivsriaus commented on #1867
Correct, -TenantLevel is meant to apply to only tenant-specific resources.
@eosfor ClassicCompute/virtualMachines resources cannot be created/listed under a tenant.

[2016-02-26 00:54] seanfisher commented on #1848
@shobak101 Thanks for the response. I think we've resolved our issue. That link you posted, by the way, leads to a 404 page.

[2016-02-26 00:54] #1848 closed

[2016-02-26 01:09] shobak101 commented on #1848
@seanfisher sorry about that updated the link to the right location, could you please tell me what was wrong? I just want to know in case it popped up somewhere else :)

[2016-02-26 05:01] feedthedogs commented on #1380
I was having similar troubles setting the Reverse FQDN until I noticed in the powershell source code it requires a [DomainNameLabel to also be specified](https://github.com/Azure/azure-powershell/blob/3956d11264d4ee2d08804cd03216b338fc153631/src/ResourceManager/Network/Commands.Network/PublicIpAddress/NewAzurePublicIpAddressCommand.cs#L128)

[2016-02-26 05:48] eosfor commented on #1867
My assumption was that TenantLevel is to search all subscriptions in the tenant for some object. Looping through all subscriptions i have is still very slow. Azure portal works much faster.

[2016-02-26 06:14] niadak commented on #1865
@markcowl  Thanks for your reply. Currently i have modified the AzureRm.Profilr.psd1 and remove the version check as workaround. It is fine for me to wait for next release. thanks.

[2016-02-26 06:25] niadak commented on #1865
BTW, Any ETA on the fix?

[2016-02-26 16:50] bmoore-msft commented on #1761
Using the 1.0.4 cmdlets - I ran through 2 different failures (one with a bad uri and one with a storageAccount naming failure) and both returned the proper error.

[2016-02-26 16:50] #1761 closed

[2016-02-26 16:58] bmoore-msft opened #1877 "deployments resource should return uri on file not found"
When using a uri with a deployments resource if the template or param file uri is bad the error returned is:

`10:51:38 - [ERROR] New-AzureRmResourceGroupDeployment : 10:51:38 AM - Resource Microsoft.Resources/deployments 'nestedStorage' failed with message 'Unable to download deployment content. The tracking Id is '3d41ca0c-c249-4150-815b-b78ecb69c8ab'. Please see
10:51:38 - [ERROR] http://aka.ms

[2016-02-26 19:11] pafriend commented on #1871
To clarify, when ApiId is not provided or $null you get the error below. Note the aid parameter in the error. That is from the Azure API code.

`Import-AzureRmApiManagementApi : Value cannot be null.
Parameter name: aid
At line:1 char:8
+ $api = Import-AzureRmApiManagementApi -Context $context -Specificatio ...
+        ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    + CategoryI

[2016-02-26 19:59] vivsriaus commented on #1877
Agreed. But the improvement is needed on the server side, instead. cc: @ravbhatnagar @yangl900 to track this

[2016-02-26 20:04] aaronhoffman opened #1878 "Set-AzureSqlDatabaseServerFirewallRule incompatible with Select-AzureRmSubscription"
I am new to Azure Powershell so please forgive me if this is an obvious incompatibility.

Using the new Resource Manager Login/Auth flow (`Add-AzureRmAccount`, `Select-AzureRmSubscription`), I am unable to successfully execute the command `Set-AzureSqlDatabaseServerFirewallRule` and instead get the following error:

`Set-AzureSqlDatabaseServerFirewallRule : No default subscription has been designa

[2016-02-26 20:11] vivsriaus commented on #1867
Tenant level searches/gets doesn't have subscriptions in the request URI - for example, here is a tenant level GET: (notice how the subscription Id is missing in the URI)
https://management.azure.com/providers/Microsoft.PowerApps/apps/69fb28f7-9bb3-2766-2b0e-b9449f10fa3c?api-version=2015-02-01-preview
A tenant level search request (via Find-AzureRmResource) can look like:
https://management.azure.

[2016-02-26 22:25] aaronhoffman opened #1880 "Add-AzureRmAccount Dialog"
Where can I go to learn more about this dialog and the reasons it appears after the `Add-AzureRmAccount` cmdlet is executed? Specifically, I do not believe I have a "work or school account" but I would like to learn more about it, and why I am seeing this message.

![image](https://cloud.githubusercontent.com/assets/109249/13367105/5d995d92-dca5-11e5-818f-32732dab8797.png)

[2016-02-26 23:27] ravbhatnagar commented on #1840
@naammeinkyahai - Unfortunately this turned out be a bug on our side. Due to this issue one of your websites got deleted (Blingspree). Do you want us to restore this site for you? Please let us know.

[2016-02-26 23:57] Cloudry commented on #1380
@MartinsBonders  @feedthedogs  there is a solution on Stackoverflow - http://stackoverflow.com/questions/35092478/reverse-dns-with-static-ip-while-using-azure-resource-manager

[2016-02-26 23:57] #1380 closed

[2016-02-27 00:27] pafriend commented on #1871
After some hours of trying different things and looking at the SDK sources, I think I have a workaround. Since the current version requires an ApiId parameter, I generate a guid if the API doesn't exist yet. As mentioned that alone isn't enough, turns out that the SDK requires a Path parameter, and in my case I just pass a blank string and it seems to work fine.

[2016-02-27 07:31] naammeinkyahai commented on #1840
Thank you for the quick fix. Yes, please restore that site as well.

Do I need a new version of Powershell or was the issue server side?

[2016-02-27 09:46] doctordns opened #1885 "Get-AzureResourceGroupGalleryTemplate is missing in latest cmdlets"
I am following a MIcrosoft MVA online training course, and it illustates the use of Get-AzureResourceGroupGalleryTemplate. That cmdlet appears to have been withdrawn, presumably as part of the great re-naming.

Yes, I know you can get this list, easily enough, using REST - but why do i have to go so low level? PowerShell is designed to enable IT Pros to avoid programmer level stuff, and act at a h

[2016-02-27 22:57] alexandair commented on #1880
https://azure.microsoft.com/en-us/documentation/articles/active-directory-how-subscriptions-associated-directory/

[2016-02-28 00:47] kewalaka commented on #1815
Hi Trevor
I just ran into the same issue, using the GUI I found automation accounts have to be at least 6 characters, this solved it for me.
Rgds
Stu

[2016-02-28 23:52] alexandair commented on #1102
There is still one parameter set with mutually exclusive parameters (-SubscriptionId and -SubscriptionName):

[code]

[2016-02-29 04:57] pcgeek86 commented on #1815
@kewalaka Thanks for discovering this! It needs to be included in the ARM PowerShell built-in documentation as well.

@ravbhatnagar @devigned Please assign this issue to @jodoglevy.

Cheers,
Trevor Sullivan

[2016-02-29 04:59] pcgeek86 commented on #1880
@aaronhoffman there are two options for authentication:

- Microsoft Account (MSA): This is your "personal account" that "you created" (according to the dialog).
- Azure Active Directory (AAD) Account: A "work or school" account that is typically created by IT organizations, but likely could have been created by yourself.

Hope this helps!

Cheers,
Trevor Sullivan

[2016-02-29 08:21] efridman commented on #1865
Hello. We're also affected by this issue in Release Management in VSTS, but we're using hosted agents (managed by Microsoft), so we cannot apply the workaround above. Right now this is causing the time for our deployments to double. We would also appreciate an ETA on the fix.

[2016-02-29 08:21] wesselkranenborg commented on #639
Is there any information about this available? I'm also looking for this kind of functionality.

[2016-02-29 14:32] SamirFarhat commented on #1820
AFAIK, this feature may be addressed by the end of this year. It's a big challenge for the MS team to allow such operation. Changing the availability Set requires a review of the VM mobility architecture on Azure. Fore example, adding a VM in an Availability Set already containing a VM means putting it to different default domain. Becasue VM mobilty is a matter on Azure (No Live Migration), it's n

[2016-02-29 17:13] khaledhikmat commented on #1460
Thank you sir! I have been breaking my head over this for the last 3-4 hours :-(

[2016-02-29 18:07] BenedekFarkas opened #1886 "Move-AzureRmResource throws misleading error if no resources are supplied"
Example:

`Get-AzureRmResource | Where-Object { $PSItem.Name -eq "resourcename" } | Move-AzureRmResource -DestinationResourceGroupName "GroupName"`

If `Get-AzureRmResource` doesn't return any items (in this case because `resourcename` doesn't exist) then the error is:

[code]

[2016-02-29 19:55] aaronhoffman commented on #1880
I own a small consultancy and we use google apps for business, gmail, etc., and I'll have each employee use their @mygoogleappsdomain email address and create a MS/Live account on their own so that I can add them to our various Azure Subscriptions. Can I use Azure AD to "create" this MS/Live account for them, so they don't need to do it themselves? Would you be able to point me to some documentati

[2016-02-29 21:52] jt55401 commented on #1812
I'm getting the same issue.

[2016-02-29 22:10] towerbe opened #1888 "Get-AzureRmResourceGroup examples are misleading"
Two of the three examples for Get-AzureRmResourceGroup show the use of the "-Detailed" parameter (see example 1 and example 3); however, when trying to use this syntax in a live system no such parameter is found.

PS P:\> Get-AzureRmResourceGroup -Detailed
Get-AzureRmResourceGroup : A parameter cannot be found that matches parameter name 'Detailed'.
At line:1 char:26
+ Get-AzureRmResourceGroup -De

[2016-02-29 23:16] devigned opened #1889 "Default Subscription for Azure PowerShell 1+"
Feedback from a customer:

@markcowl and @mayurid what do you think about this?

[2016-02-29 23:17] sjwaight commented on #1889
+1 from me on this.

[2016-03-01 14:48] androidtopp commented on #1316
I've collected a few logs from a machine built directly from the Microsoft images, as well as a machine deployed from one of my templates. I've obfuscated these logs to remove things like my server names and account names, but you should still be able to see the success vs. failure.

- ScratchADDomainExtension.txt is the ADDomainExtension.log file from a machine built directly from Microsoft's ima

[2016-03-01 16:34] seesharprun commented on #1200
Another vote for this idea. I have PowerShell scripts where I would like to use modules such as "BurntToast" to show an OS-level toast notification when the ARM template has been deployed. Having it baked in as a parameter would be ideal.

[2016-03-01 16:39] pcgeek86 commented on #1200
@seesharprun Dude, that is an awesome looking module. Thanks for the heads up!! https://github.com/Windos/BurntToast

[2016-03-01 16:46] pcgeek86 commented on #1880
@aaronhoffman They'll have to create their own Microsoft Accounts, unfortunately.

[2016-03-01 19:18] ravbhatnagar commented on #639
@pcgeek86  - Agreed, this would be helpful to have.

An API which is implemented by all resource providers would be ideal to provide this functionality.
@vivsriaus - lets investigate this for next release.

[2016-03-01 19:21] ravbhatnagar commented on #1840
This was a server side issue. I am working with the servicing team to get this restored. Thanks!

[2016-03-01 19:28] ravbhatnagar commented on #1856
May be related to #1115  which was due to a server side issue. I am following up with the team to see if that has been fixed.

[2016-03-01 19:31] winperec opened #1896 "New-AzureRmADApplication: Access denied to the specified API version"
I created service principal, assign subscription Owner role for it and use Login-AzureRmAccount to authorize to Azure.
Then when I try to run New-AzureRmADApplication command under my service principal I get the following error:
{"odata.error":{"code":"Authentication_Unauthorized","message":{"lang":"en","value":"Access denied to the specified API version."}}}

In exception i see that request goes

[2016-03-01 19:46] #1880 closed

[2016-03-01 20:18] ravbhatnagar commented on #1888
@towerbe - Yes, this param has been removed. We will get the help updated in the next release of PS. Can you please let us know what you wanted to achieve with the Detailed param? Did you want to list all the resources for that Resource group?

[2016-03-01 20:21] ravbhatnagar commented on #1885
#1759

[2016-03-01 20:26] ravbhatnagar commented on #1886
Agreed and thanks for reporting this. We will improve the error message.

[2016-03-01 20:35] doctordns commented on #1885
FWIW, I've written a function to do this: See:

http://tfl09.blogspot.co.uk/2016/02/get-azureresourcegroupgallerytemplate.html

I can provide the source code - or feel free to leverage it from the blog!

[2016-03-01 21:45] GillesZunino commented on #1885
Hi - Thanks for reaching out. Point taken about Invoke-WeRequest being too low level for IT Pros. We are working on an enhanced set of cmdlets - We are not yet ready to share more details about this..

[2016-03-02 01:10] towerbe commented on #1888
That is exactly what I wanted.

[2016-03-02 01:12] ravbhatnagar commented on #1888
The recommended pattern for this scenario is Get-AzureRmResource. But this currently has a bug which is fixed in the March release of Azure PS(will be released soon). Till then, you can use Find-AzureRmResource to list all resources under a resource group or to list all resources of a particular type etc.

[2016-03-02 05:38] winperec commented on #1896
similar issue with azure cli
https://github.com/Azure/azure-xplat-cli/issues/2047

[2016-03-02 09:05] doctordns commented on #1885
Giles - this is an open source project, right? If so, shouldn't the ideas be more freely shared.

If nothing else, the team needs to expose their plans early to avoid more changes later.

[2016-03-02 09:58] jamie94bc opened #1897 "Move-AzureRmResource and web apps with app insights"
Consider the following where the website has an application insights resource associated:
[code]

It will fail with a syntax error (`Cannot convert 'System.Object[]' to the type 'System.String' required by parameter 'ResourceId'`) as the ResourceId for the web app is an array, not a string. This is easily worked around (below) but I was wondering if there would be a nicer way to handle scenario as

[2016-03-02 18:48] GillesZunino commented on #1885
Hi - As you described above, the cmdlet is really a thin wrapper around an REST endpoint. The cmdlets are open source but the REST endpoint is not. The REST API is something I cannot discuss at this time and sadly, this limits my ability to make forward statements about the cmdlets calling this REST API - sorry.

Conversations about the current REST API as well as the current powershell script whi

[2016-03-02 20:31] markcowl commented on #1889
@devigned @sjwaight As discussed in the thread this was copied from, you can currently use ```Save-AzureRmProfile -Path <path-to-file>```  then use ```Select-AzureRmProfile -Path <path-to-file>``` to restore your previous settings.

Note that you can also provide a subscription name of subscription id when using Add-AzureRmAccount.  It is in plan to provide a default save and load capability for t

[2016-03-02 20:46] markcowl commented on #1896
@winperec How have you configured your service principal?  Your service principal needs to have access to the graph API (which you can provide through the portal).

[2016-03-02 20:52] markcowl commented on #1897
@jamie94bc is there more than one website returned by your get call above?

@vivsriaus Wondering why a resource would return more than one resource id?

[2016-03-02 20:58] vivsriaus commented on #1897
The Get-AzureRmResource with ResourceName and ResourceGroupName hits the ARM cache, so the returned result is always a list of PSObject (in this case, an array). This is expected.

But that said, I can probably make changes to it to return a PSObject (instead of an array), if the collection has only one item. Would that be the right thing to do here, @markcowl ?

[2016-03-02 20:59] vivsriaus commented on #1897
cc @ravbhatnagar @rjmax for thoughts

[2016-03-02 21:09] vivsriaus commented on #1897
Actually, I took a look at it closer and we do enumerate the collection when writing object:
$r = Get-AzureRmResource -ResourceName vivekTest123 -ResourceGroupName vtest
$r.ResourceId

/subscriptions/38b598fc-e57a-423f-b2e7-dc0ddb631f1f/resourceGroups/vtest/providers/Microsoft.Web/serverFarms/vivekTest123

@jamie94bc Can you please confirm if more than one website was returned by your call?

[2016-03-02 21:14] markcowl commented on #1556
@pcgeek86 yep.  To set expectations, we are enabling failures on new help omissions immediately after the release (3/3).  We will drive back-filling the existing gaps, but expect that this will take a bit of time.

Note that, if you build now, you will see a set of static cnalysis reports in the Pacakeg directory for your configuration.

[2016-03-02 21:27] ravbhatnagar commented on #1897
IMO - The issue here is that when the Get-AzureRmResource command is called using params name and resource group but without the type, it will return the insights component also which has the name as the website. Hence we see an array returned. @jamie94bc - Can you please confirm if this is correct?

[2016-03-02 21:31] jamie94bc commented on #1897
Yeah I believe that was the issue.

On Wed, Mar 2, 2016 at 1:27 PM -0800, "Gaurav Bhatnagar" <notifications@github.com<mailto:notifications@github.com>> wrote:

IMO - The issue here is that when the Get-AzureRmResource command is called using params name and resource group but without the type, it will return the insights component also which has the name as the website. Hence we see an array retu

[2016-03-02 21:31] jamie94bc commented on #1897
In my case it was due to the auto created application insights resource with the same name as the website.

On Wed, Mar 2, 2016 at 1:27 PM -0800, "Gaurav Bhatnagar" <notifications@github.com<mailto:notifications@github.com>> wrote:

IMO - The issue here is that when the Get-AzureRmResource command is called using params name and resource group but without the type, it will return the insights comp

[2016-03-02 21:41] zjalexander opened #1899 "get-help New-AzureRmResourceGroup: "This is the Description section""
Running Azure module 1.2.1
[code]
Actual description follows, but that line stands out.

[2016-03-03 01:26] markcowl commented on #1899
@zjalexander I would laugh if I wasn't crying :-).  Adding the appropriate folks for a fix.

@vivsriaus please take a look

[2016-03-03 01:34] markcowl opened #1901 "Save-AzureRMProfile should accept pipeline input for Profile parameter"
Change Save-AzureRmProfile to accept pipeline input for the Profile parameter.  Consider changing the parameter name to InputObject.

[2016-03-03 09:34] doctordns commented on #1885
Giles - thanks for clarifying. Would the Azure PowerShell Advisors Yammer group be a better place to have the discussion over the REST interface??

In term of templates, I'd expect to be able to find/locate/discover a template using a Get-...Template... cmdlet. , and a cmdlet to deploy the template. (The verb deploy however is not on the approved verb list).  I'd also like to be able to get and ma

[2016-03-03 19:15] vivsriaus commented on #1899
Thanks. It looks like this appears throughout our cmdlets. :( I'll make the appropriate edits. cc @ravbhatnagar

[2016-03-03 19:22] ravbhatnagar commented on #726
@pcgeek86 - Your proposal definitely makes sense. The note I put was just for myself to discuss it with the team and get further feedback. Apologize if it caused any confusion.

[2016-03-03 21:03] ravbhatnagar commented on #1840
@naammeinkyahai - The other website (Blingspree) has also been restored. Can you please confirm?

[2016-03-04 01:36] ravbhatnagar commented on #1897
@jamie94bc - Thanks for confirming. Isn't the current behavior expected then?

[2016-03-04 07:25] winperec commented on #1896
I created it through the old portal...
But OK, will try to assign permissions to Graph API

[2016-03-04 18:50] ravbhatnagar commented on #1801
Fixed - 3/3 PS release

[2016-03-04 19:32] #1801 closed

[2016-03-04 19:33] ravbhatnagar commented on #1717
Fixed - 3/3 PS release

[2016-03-04 19:33] #1717 closed

[2016-03-04 19:33] ravbhatnagar commented on #1493
Fixed - 3/3 PS release

[2016-03-04 19:33] #1493 closed

[2016-03-04 19:33] ravbhatnagar commented on #1425
Fixed - 3/3 PS release

[2016-03-04 19:33] #1425 closed

[2016-03-04 19:33] ravbhatnagar commented on #1424
Fixed - 3/3 PS release

[2016-03-04 19:33] #1424 closed

[2016-03-04 19:36] ravbhatnagar commented on #1259
Fixed - 3/3 PS release

[2016-03-04 19:36] #1259 closed

[2016-03-04 19:36] ravbhatnagar commented on #767
Fixed - 3/3 release

[2016-03-04 19:36] #767 closed

[2016-03-04 19:37] ravbhatnagar commented on #730
Fixed - 3/3 release.

[2016-03-04 19:37] #730 closed

[2016-03-04 19:39] ravbhatnagar commented on #358
We have mitigated this issue by increasing the polling to 5 sec. We still need to think/discuss the long term solution.

[2016-03-04 21:47] huangpf opened #1905 "ARM VM & Network Cmdlets Not Showing Debug Messages"
@markcowl @hyonholee and I can reproduce the issue. And it seems only ARM VM & Network cmdlets have the issue. RG & Storage cmdlets are fine.

This is a vital feature. Please help resolve. Thanks.

[2016-03-04 22:04] BasvanH commented on #1200
+1 for async. Want to fire-up multiple deployments without making own async framework.

[2016-03-04 23:02] markcowl commented on #1905
@huangpf @hyonholee Fix submitted to dev branch

[2016-03-04 23:08] markcowl commented on #1905
BTW, here is a workaround as well:
[code]

[2016-03-05 03:31] robplank opened #1907 "AzureRM.Automation is missing Get-AzureRMAutomationRunbookDefinition"
Please add Get-AzureRMAutomationRunbookDefinition to the AzureRM.Automation Module

[2016-03-05 05:32] naammeinkyahai commented on #1840
@ravbhatnagar Thank you. I see the website in the portal.

[2016-03-05 12:42] winperec commented on #1896
No luck..
I've added permissions to Microsoft Graph 'Read directory' data
http://screencast.com/t/92kp4IkzF
and assign all relevant roles on subscription for principal
http://screencast.com/t/ffEdrXrd1A

So which permissions I should add to the service principal ? Seems it's AD issue...

[2016-03-06 16:17] ronbok opened #1908 "New-AzureRmStorageContainer?"
There are new cmdlets for things like New-AzureRmStorageAccount, but someone forgot to include New-AzureRmStorageContainer.  This is currently a blocker now for creating ARM Storage Accounts via PowerShell.  Even v1.2.2 (3/3/2016) doesn't have it.

[2016-03-06 17:24] alexandair commented on #1908
`AzureRM.Storage` module contains the cmdlets connected to management of ARM storage accounts. For other storage artifacts you should use cmdlets from `Azure.Storage` module. `New-AzureStorageContainer` should work.

[2016-03-06 17:58] alexandair opened #1909 "Set-AzureRmVM's -Redeploy and -Generalized parameters"
I have a feeling that the -Redeploy and -Generalized parameters should not be in the same parameter set.

[code]

[2016-03-07 08:32] xmbms opened #1910 "Get-AzureRmADApplication report Authentication_MissingOrMalformed in Fairfax"
I could list the AD Applications via Fairfax portal, but Get-AzureRmADApplication always reports Authentication_MissingOrMalformed for my request.

Please take a look at my request details and figure out the root cause.

DEBUG: ============================ HTTP REQUEST ============================

HTTP Method:
GET

Absolute Uri:
https://graph.windows.net/bee4890a-277b-4803-8ae5-9a71aa452cc8/appli

[2016-03-07 08:39] GasiorowskiPiotr opened #1911 "Publish-AzureWebsiteProject fails in Azure-Powershell 1.2.2"
Publish-AzureWebsiteProject -Name "website-name" -Package "WebDeployPackage.zip" -Slot "production" -Verbose fails with:

Publish-AzureWebsiteProject : Value cannot be null.
Parameter name: path2
At line:1 char:1

[2016-03-07 18:26] singhkay commented on #1384
Thanks for the feedback @pcgeek86! @trondhindenes @jeffpatton1971 @Vijayaraghavanl @lukeb1961 Any thoughts on which proposal you prefer?

[2016-03-07 18:47] markcowl commented on #1907
@robplank Thanks for the report.  Adding the appropriate folks to take a look

@jodoglevy Can you take a look?

[2016-03-07 18:48] markcowl commented on #1909
@singhkay Can you take a look?  If these parameters are mutually exclusive, we should enforce this with a parameter set for each.

[2016-03-07 18:49] singhkay commented on #1909
Adding @hyonholee we need to have different parameter sets here

[2016-03-07 18:49] markcowl commented on #1910
@xmbms How are you authenticating when you receive this message?  Also, which version of PowerShell are you using?

[2016-03-07 18:50] markcowl commented on #1911
@naveedaz @akurmi Can you take a look?

[2016-03-07 19:00] jodoglevy commented on #1907
This is supported via the Export-AzureRMAutomationRunbook cmdlet: https://msdn.microsoft.com/en-us/library/mt603683.aspx

[2016-03-07 19:01] #1907 closed

[2016-03-07 22:41] markcowl opened #1913 "Add AzureRm capability equivalent to Get/Set-AzureNetworkSecurityGroupToSubnet"
This is sourced from a customer issue on user voice, see: https://windowsserver.uservoice.com/forums/301869-powershell/suggestions/12488247-need-azurerm-equivalent-cmdlets-for-get-set-azuren

[2016-03-07 22:43] hovsepm commented on #1905
Fixed in dev branch.

[2016-03-07 22:43] #1905 closed

[2016-03-08 03:00] xmbms commented on #1910
It's a bug in January release, and it's fixed after upgrading to the latest March release.

[2016-03-08 05:55] colemickens commented on #1707
@markcowl Is CLU still going to be a thing or should I close this?

[2016-03-08 08:16] slavizh opened #1914 "Set-AzureRmOperationalInsightsStorageInsight returns success even if table or container configuration is not saved"
Set-AzureRmOperationalInsightsStorageInsight -Workspace $Ws -Name opinsightsTEST-STAN -StorageAccountKey 'blabla' -Containers wad-iis-logfiles3, wad-iis-logfiles
Let's say you have the above command. Only wad-iis-logfiles configuration will be saved in containers object. There should be better error handling of this. May be a warning if partial configuration is saved and error if no configuration

[2016-03-08 08:22] kmkumaran commented on #1911
I am noticing similar issue with Azure SDK 1.2.2.

[2016-03-08 17:20] markcowl commented on #358
@yangl900 The immedia5te issue here has been fixed, but keeping this open and adding to the backlog for a more comprehensive solution

[2016-03-08 17:22] markcowl commented on #633
@ravbhatnagar @vivsriaus this is still outstanding, can we get this fixed for the March 30 release?

[2016-03-08 17:24] markcowl commented on #1422
@vivsriaus Can we add some additional documentation and examples to the help for this cmdlet?

[2016-03-08 17:37] markcowl commented on #685
@pcgeek86 @josheinstein @mrdaemon Quick update - this is slated for the release after //BUILD, going out the first week of May

[2016-03-08 18:10] vivsriaus commented on #633
@markcowl this was fixed in the March release. Here is the PR: https://github.com/Azure/azure-powershell/pull/1851. Note that the cmdlet name was changed to RmResourceProvider

[2016-03-08 18:18] pcgeek86 commented on #633
@vivsriaus @ravbhatnagar @markcowl I don't see any documentation for Synopsis, Description, or input parameters. I'm only seeing changes pertaining to examples in your Pull Request. This isn't adequate for merging.

[2016-03-08 20:23] eocrawford commented on #1911
Appears that optional parameter SetParametersFile has become mandatory, likely due to a missing String.IsNullOrEmpty() check on line 90:

https://github.com/Azure/azure-powershell/blob/dev/src/ServiceManagement/Services/Commands/Websites/PublishAzureWebsiteProject.cs:

            if (!File.Exists(fullSetParametersFile)) <============ may need a check here
            {
                if (File.Ex

[2016-03-08 20:25] eocrawford commented on #1911
For the time being, I've worked around this by passing an empty parameters file:

`function Publish-WebsitePackage
{
	param(
		[parameter(Mandatory = $true)]
		[string] $packageName,
		[parameter(Mandatory = $true)]
		[string] $websiteName
	)

	$tempFile = $env:TEMP + "\" + [guid]::NewGuid().ToString() + ".xml"
	"<?xml version=`"1.0`"?><parameters />" | Out-File $tempFile

	Publish-AzureWebsitePro

[2016-03-08 22:03] singhkay commented on #1316
@androidtopp The team identified the issue. I've highlighted the key line in the log below. On generalizing the VM, the extension logs/plugin folders should have been removed. The team is working on publishing a newer version that will reset the state correctly. In the meantime can you try uninstalling the extension, generalize the VM and then create the VM from the image with the extension config

[2016-03-08 22:28] ravbhatnagar commented on #358
@markcowl - Agreed, we are planning to fix this through an exponential back off mechanism. Will revive the thread we had on this to finalize the design. Moving this to Apr release.

[2016-03-09 00:55] markcowl commented on #1556
@pcgeek86 Fixed.  New missing help will cause the build to fail.  Will beef up these checks over the next couple of sprints to ensure that help is also up to date and correct.

[2016-03-09 00:55] #1556 closed

[2016-03-09 06:24] CloudyOne commented on #1911
I was having this problem after Azure Web App Deploy to my Build / Release definitions (i tried both).

After downloading the build agent and hosting it on-premise, i was able to customize the Publish-AzureWebDeployment.ps1 file located in the build agent using @eocrawford's recommendation.

Now my deploy is successful! :)

[2016-03-09 17:51] pcgeek86 commented on #1556
@markcowl Great, thanks a lot. Looking forward to the quality improvements, and fewer gaps, if any. :smile:

[2016-03-09 18:13] eocrawford commented on #1911
Submitted pull request https://github.com/Azure/azure-powershell/pull/1917 to fix this.

[2016-03-09 18:18] bensnccpa opened #1918 "Add-AzureRmVpnClientRootCertificate throws object ref exception"
We're trying to add a cert to an existing VNet Gateway for a point-to-site VPN connection. However, the Add-AzureRmVpnClientRootCertificate cmdlet is throwing an "Object reference not set to an instance of an object." exception. This is reproducible on multiple Win 7 machines and with AzureRM modules 1.2.0 and 1.2.2.

Here's a copy of a PS session that demonstrates the error and shows the exceptio

[2016-03-09 20:19] TravisEz13 opened #1919 "Error loading azure.profile in 1.0.5"
Import-Module : The member 'FormatsToProcess' in the module manifest is not valid: Cannot find path 'C:\Program
Files\WindowsPowerShell\Modules\AzureRM.profile\1.0.5\.\Microsoft.Azure.Commands.Profile.format.ps1xml' because it does not exist.. Verify that a valid value is spec
'C:\Program Files\WindowsPowerShell\Modules\AzureRM.profile\1.0.5\AzureRM.profile.psd1' file.
At line:1 char:1
+ Import-Mo

[2016-03-09 22:18] ravbhatnagar opened #1920 "Fix querying through tags on Find-AzureRmResource and Find-AzureRmResourceGroup"
Find-AzureRmResource -ODataQuery "$filter=tagname eq 'DBCheckService'" - this does not work.
Currently the workaround is to do the following-
Find-AzureRmResource | Where-Object {$_.Tags.Name-eq "DBCheckService" -and $_.Tags.Value -eq "true"}

Also, for Resource we support tagname and tagvalue but for resource group cmdlet we support tag.

[2016-03-10 08:05] vors opened #1924 "Set-AzureRmVMSourceImage should have an option to take PSVirtualMachineImageDetail as a parameter"
There is cmdlet `Get-AzureRmVMImage`. It returns objects of type `PSVirtualMachineImageDetail`.
There is cmdlet `Set-AzureRmVMSourceImage` that takes the same parameters (`PublisherName`, `Offer`, `Skus`, `Version`), but doesn't have a ParameterSet that takes `PSVirtualMachineImageDetail`.

One of the strong sides of PowerShell is ability to re-use result of one command in another command.
Current

[2016-03-10 13:38] tellotim commented on #1316
@singhkay We are also experiencing issues with the JSONAdDomainJoin extension. We have uninstalled the extension before runinng sysprep and generalizing the VM, but when deploying a new VM from the new custom image the script does not join to the domain successfully. We actually have a working version of this using another custom image. The problem is when we update our existing custom image and t

[2016-03-10 18:06] markcowl commented on #475
@KirkMunro @doctordns @trondhindenes The candidate PR with most of this chage is here:  https://github.com/Azure/azure-powershell/pull/1922

[2016-03-10 18:07] markcowl commented on #827
@alexandair @pcgeek86 @devigned The candidate PR with the bulk of this change is here:  https://github.com/Azure/azure-powershell/pull/1922

[2016-03-10 23:05] Pradebban commented on #1463
I know how to use it and come over the issue. The bug title is very clear on "No documentation for Login-AzureRmAccount usage in China"

[2016-03-11 00:12] ravbhatnagar opened #1925 "Quota exceeded template deployment error is not bubbled up"
Misleading error is given -
InvalidTemplateDeployment: The template deployment 'The_Truffle_Shuffle' is not valid according to the validation procedure. The tracking id is 'xxxx'. See inner
 errors for details. Please see http://aka.ms/arm-deploy for usage details.
 At line:1 char:1

The actual error is present in $Err.Exception.Response

 StatusCode : BadRequest
 ReasonPhrase : Bad Request
 Conte

[2016-03-11 02:29] singhkay commented on #1924
Thanks @vors!

 @hyonholee Looks like a parameter set is in order

[2016-03-11 04:41] Pradebban opened #1927 "AzureChina: Get-AzureRmVirtualNetwork command failed"
Hi,

Please look into this. This is blocking many implementations for a customer!

PS C:\Windows\system32> **Get-AzureRmVirtualNetwork**
Get-AzureRmVirtualNetwork : The resource namespace 'Microsoft.Network' is invalid.
At line:1 char:1
+ Get-AzureRmVirtualNetwork
+ ~~~~~~~~~~~~~~~~~~~~~~~~~
    + CategoryInfo          : CloseError: (:) [Get-AzureRmVirtualNetwork], CloudException
    + FullyQualif

[2016-03-11 04:45] Pradebban opened #1928 "AzureChina: New-AzureRmVirtualNetwork command failed"
Hi,

Please look into this issue. Also please provide estimates as this is waiting on customer.

PS C:\Windows\system32> **New-AzureRmVirtualNetwork** -Name pradebban -ResourceGroupName pradebban -Location "China East"
New-AzureRmVirtualNetwork : The resource namespace 'Microsoft.Network' is invalid.
At line:1 char:1
+ New-AzureRmVirtualNetwork -Name pradebban -ResourceGroupName pradebban -Locatio

[2016-03-11 06:29] MasayukiOzawa opened #1929 "Set-AzureRmVMSqlServerExtension : KeyVaultCredentialSettings options not supported"
The https://azure.microsoft.com/en-us/documentation/articles/virtual-machines-sql-server-azure-key-vault-integration-resource-manager/,

"Get-AzureRmVM -ResourceGroupName $ rgName -Name $ vmName | Set-AzureRmVMSqlServerExtension -KeyVaultCredentialSettings $ akvs | Update-AzureVM"

It is written
but, ARM cmdlets, KeyVaultCredentialSettings is not supported and can not be executed

[2016-03-11 06:50] huangpf commented on #1384
Proposal #2 is better, because the semi colons are aligned, and sub-fields at various levels are clearly indented.

Proposal #1’s semi colons are scattered all around, which makes it very difficult to follow the content, and it’s unclear when it goes to next level and when it’s not, i.e.
•	HardwareProfile          : vmSize : Standard_D2
vs.
•	StorageProfile           : imageReference :

[2016-03-11 09:26] tellotim commented on #1316
@singhkay Thanks for the update. Do you know when the devs plan to release an udpate for this extension? I just want to know if they plan to release an update in the next days, weeks, or months. Based on their plan I can adjust my plans accordingly.

Regards, TT

[2016-03-11 20:19] markcowl commented on #1927
@DeepakRajendranMsft Can you take a look?

[2016-03-11 20:20] markcowl commented on #1928
@DeepakRajendranMsft can you take a look?

[2016-03-11 20:22] markcowl commented on #1929
@akromm Adam, can you make sure an appropriate person on the SQL team takes a look?

[2016-03-11 20:44] #1871 closed

[2016-03-11 22:28] markcowl commented on #1896
@winperec Subscription role assignments aren't used in the graph API.  Your AD application needs to have permission to reqdn and write data in order to create an application / service principal.

[2016-03-11 22:29] markcowl commented on #1908
@ronbok Closing, as I suspect Aleksandar has resolved your issue. It is indeed a difference between naming of data cmdlets and management cmdlets.

[2016-03-11 22:29] #1908 closed

[2016-03-11 22:31] markcowl commented on #1910
@xmbms closing as fixed.  The updated graph version was expressly added to support this scenario in government cloud.

[2016-03-11 22:31] #1910 closed

[2016-03-11 22:33] markcowl commented on #1878
@aaronhoffman Yes, it is Set-AzureRmSqlFirewallRule

In general, cmdlets using the AzureRM noun work with azure rm authentication.

[2016-03-11 22:33] #1878 closed

[2016-03-11 22:39] markcowl commented on #1918
@DeepakRajendranMsft Can you take a look?

[2016-03-11 22:41] markcowl commented on #1919
@TravisEz13 How did you install?  Not seeing this issue in version 1.0.5, whether installed from msi or Gallery.

[2016-03-11 22:43] markcowl commented on #334
@vivsriaus Please respond.  If we have plans to fix this, please place this in one of the three milestones.

[2016-03-11 22:44] markcowl commented on #392
@slapointe Since I have not heard back on my queriy, I'm assuming that AzureRMProfile resolves this issue.  Closing, please reopen if you see a recurrence.

[2016-03-11 22:44] #392 closed

[2016-03-11 22:46] markcowl commented on #497
@BlueBasher Since we haven't heard back, assuming the issue no longer occurs for you.  Closing, please open a new issue if you see a recurrence.

[2016-03-11 22:46] #497 closed

[2016-03-11 22:49] markcowl commented on #667
@coreyp-at-msft documentation-related issue you may be able to help with

[2016-03-11 22:49] quoctruong opened #1930 "How to securely upload file to Azure Blob Store?"
Hi, currently I'm using Set-AzureStorageBlobContent to upload file to my blobstore. How secure is this cmdlet? Is it possible to check that the file uploaded is not tampered with in anyway?

[2016-03-11 22:55] markcowl commented on #1164
@trondhindenes Closing for now, as I'm guessing Invoke-AzureRmRestAction likely does what you need.  If you would like a more generic Invoke-Rest-Method using our authentication, please file a new issue and we will consider for a near-term release.

[2016-03-11 23:04] dennisan commented on #1428
Thanks!!

[2016-03-11 23:08] markcowl commented on #1224
Closing as resolved.  Please, please open a new issue if you see a recurrence

[2016-03-11 23:08] #1224 closed

[2016-03-11 23:10] vivsriaus commented on #334
Thanks Mark. We haven't planned for this yet in the upcoming release, but we'll add this to our queue. Agree that the experience is less than ideal. cc/ @ravbhatnagar

[2016-03-11 23:11] markcowl commented on #1288
@KarlGW Glad that helped.  The eventual solution is to add profile persistence and to make the profile fully serializable so you can pass it as a variable to a script.  This is coming in a near term release.

[2016-03-11 23:11] #1288 closed

[2016-03-11 23:21] markcowl commented on #1405
@pootzko Since we cannot repro this issue and have not sent any additional data, assume that this is fixed.  If you see a recurrence, please open a new issue.

[2016-03-11 23:21] #1405 closed

[2016-03-11 23:24] markcowl commented on #1447
@nobitagamer Can you provide a csdef/cscfg that reproduces this issue?  This will make it much easier to reproduce. Thanks.

[2016-03-12 00:06] shefaliv commented on #765
Can you please try with the latest Rm cmdlets and let us know if the issue persists?

[2016-03-12 00:16] DeepakRajendranMsft commented on #1928
Compute and Network RPs are not available in AzureChina

[2016-03-12 00:16] DeepakRajendranMsft commented on #1927
Compute and Network RPs are not available in AzureChina

[2016-03-12 00:19] DeepakRajendranMsft commented on #1918
@Nilambari please take a look

[2016-03-12 00:23] DeepakRajendranMsft commented on #1626
from a networkging prespective this is expected. The nics that were created on the VM can be reused by another VM (once the previous VM has been deleted)

[2016-03-12 00:26] DeepakRajendranMsft commented on #1546
@devigned  this is the expected ARM behavior. The RPs are not expected to throw an exception when the user tries to delete a resource that is not present

[2016-03-12 00:26] gregjhogan opened #1932 "Add PUT support to Invoke-AzureRmResourceAction"
I can't use the Invoke-AzureRmResourceAction for:

[code]

because it needs to submit a request like this:

[code]

This command is the best way I can find to automate functionality that exists in the portal, but does not yet have a dedicated powershell command or ARM template support.  Please add support for PUT actions!

[2016-03-12 00:28] pomortaz commented on #1338
This is by design. \*-AzureRmKeyVault\* CmdLets talk to ARM, but \*-AzureKeyVault\* CmdLets don't talk to ARM and instead make calls to Key Vault data-plane and therefore, don't have Rm in the name.

[2016-03-12 00:29] jodoglevy commented on #1803
This is by design. Same as on the runbook side.

[2016-03-12 00:35] jodoglevy commented on #1641
@AHuusom since you didn't provide the module, have you figured out the issue?

[2016-03-12 00:38] jodoglevy commented on #655
We are taking steps in the service to make creation of a service principal / cert easier

[2016-03-12 00:42] Pradebban commented on #1927
@DeepakRajendranMsft , what does that mean. It will never be available in AzureChina ?
Where is this documented?

[2016-03-12 00:42] Pradebban commented on #1928
@DeepakRajendranMsft , what does that mean. It will never be available in AzureChina ?
Where is this documented?

[2016-03-12 01:19] alexandair commented on #1338
I must say that's very confusing design decision. As a user I shouldn't care about management- or data-planes. If cmdlets belong to AzureRM module I expect them to be properly prefixed with AzureRM prefix. If they are different than they should belong to Azure.KeyVault module.

/cc @markcowl

[2016-03-12 01:21] markcowl commented on #1555
@coreyp-at-microsoft  a candidate for the top 5 list for new documentation

[2016-03-12 01:22] #1176 closed

[2016-03-12 01:32] markcowl commented on #1777
@pjirsa we cannot repro this issue, so closing.  If you can share additional information on your repro, please open a new issue and we will take a look.

[2016-03-12 01:32] #1777 closed

[2016-03-12 01:34] markcowl commented on #1826
To refresh, we have added milestones for some additional transparency, and you will start seeing some incremental improvements in documentation and the wiki over the next few sprints, and in the pain points listed above.

We are till looking at additional feedback mechanisms, suggestions are welcome.

[2016-03-12 01:38] markcowl commented on #1865
This is slated for the nextr release (3/30) added to the 'april' sprint (we're releasing the april version early to conincide with //BUILD.

[2016-03-12 01:55] asheniam commented on #547
We are fixing these to include the standard "AzureRm" prefix.  It will be in the next PowerShell release

[2016-03-12 02:05] hovsepm commented on #1522
Fixed in dev branch.

[2016-03-12 02:05] #1522 closed

[2016-03-12 07:41] akuryan commented on #1817
This solution works, but requires a lot of time to provision though :(
My Powershell session ends, and Get-AzureRmResourceGroupDeployment is confirming that deployment took around 20 minutes.
Here is samples I used (just in case they will be useful for someone):
Template itself - https://github.com/akuryan/ConfigurationHelpers/blob/master/Azure/ArmTemplates/nsg-provisioning.json
Some explanation -

[2016-03-13 05:34] squillace commented on #1428
@dennisan most welcome. If you bundle that better, ping me so I can just drop that in the docs. I needed to put an inbound rule permitting only 22 on that one, but hadn't done it.

[2016-03-13 06:58] TravisEz13 commented on #1919
I installed from the gallery.

[2016-03-13 07:05] TravisEz13 commented on #1919
The version of PowerShell I'm running did not like the `.\` in the paths in this file:
https://github.com/Azure/azure-powershell/blob/dev/src/ResourceManager/Profile/AzureRM.Profile.psd1#L61

The `.\` is not needed as the path is assumed relative (there may be some logic to detect non-relative paths)

[2016-03-14 00:48] EmmaZhu commented on #1814
Thanks @pcgeek86 for bringing this to us.
It needs both resource group name and account name to fetch a particular account in ARM, only specifying -Name in Get-AzureRmStorageAccount should not be an available operation.
We'll get the fix into the nearest sprint.

[2016-03-14 02:37] pcgeek86 commented on #1546
@DeepakRajendranMsft Thanks, but that design is counterproductive to a positive user experience in the ARM PowerShell module. I'd recommend going back to the drawing board and reconsidering it.

Besides, the ARM PowerShell experience should be *tailored to PowerShell*, not simply a dummy wrapper around ARM. :smile:

[2016-03-14 02:39] pcgeek86 commented on #1555
@coreyp-at-msft

[2016-03-14 02:40] pcgeek86 commented on #1803
@jodoglevy If it's by design, then the inconsistency with the Portal experience should be rectified. What was the reasoning behind the current PowerShell design?

[2016-03-14 02:42] EmmaZhu commented on #1245
The issue has been fixed from version 1.2.0

[2016-03-14 02:42] #1245 closed

[2016-03-14 02:52] EmmaZhu commented on #330
The feature has been added to Azure PSH. Could you try with the latest version?

[2016-03-14 07:02] qin-nz commented on #330
ohh, @EmmaZhu
I have switch to Rm mode.
And for some reason, it hard for me to test it.

[2016-03-14 07:02] #330 closed

[2016-03-14 08:33] blueww opened #1936 "It's so painful to upgrade SDK (SRP SDK, or XSCL) for Storage PowerShell"
Since some other features (SQL, compute) reference Storage Cmdlet project, When storage upgrade SDK (SRP SDK, or XSCL) , we need to change all other reference projects (like compute, SQL) and to make test pass. But since storage team not familiar with other feature team's product/test code, it's so painful for storage team to fix the failed test cases.

We would suggest following 3 ways to resolve

[2016-03-14 08:38] EmmaZhu commented on #1723
@MilenPavlov  Thanks for reporting this. We'll get its fix to the nearest release.

[2016-03-14 17:03] mxa0079 commented on #462
@markcowl this should not be closed until it is available to customers/consumers. It makes it harder to find the issue if we run into it, and a feature is not done until it is in production ;)

[2016-03-14 18:01] jodoglevy commented on #1803
I did not know we allowed this from the portal. Given we do, maybe we should match in the cmdlets, yes. But I would say its a best practice to name your PSWF runbook / DSC Configuration file with the same name as the PSWF runbook / DSC Configuration it contains. Otherwise it will get confusing when you have many PSWF runbooks / DSC Configs in files, as to what each file contains. You shouldn't nee

[2016-03-14 18:56] suprak opened #1937 "Remove-AzureStorageBlob does not honor -WhatIf"
I just ran ```<rest of pipe> | Remove-AzureStorageBlob -WhatIf``` and it deleted my blobs.

[2016-03-14 19:15] Pradebban commented on #1793
@markcowl Please let me know when this will be addressed, we have a customer waiting on the same. And please let us know any official document- page which says this is not available in China yet

[2016-03-14 20:13] crshnbrn66 commented on #1064
the information is great for finding out what is available ... How do I find out what my subscriptions are using from the marketplace? What is the best means to do this?

[2016-03-14 23:32] alfhenrik commented on #1283
@ravbhatnagar sorry for the late reply, since raising this issue we've moved our SSL away from Azure and into CloudFlare. When importing the certificate to Azure it comes up with `*.ourdomainname.com,ourdomainname.com` as the name so no spaces or `#`.

[2016-03-15 04:35] antmeehan opened #1940 "New-AzureRmResourceGroupDeployment: Dynamic parameters fail when complex allowedValues used in template parameter definition"
Given the following template which defines a complex values for allowedValues:

[code]

When trying to supply a parameter value using a dynamic parameter in New-AzureRMResourceGroupDeployment, the parameters are not recognised.

[code]

Result:

The problem seems to be when parsing the template for parameters (in Microsoft.Azure.Commands.Resources.Models.GalleryTemplatesClient):

[code]

It is sil

[2016-03-15 05:29] huangpf commented on #1109
@BurtBiel Could you please share the template with us so that we can reproduce?

+ @singhkay

[2016-03-15 10:24] eosfor commented on #1867
Sorry for late reply. I'm using something from here. It basically queries https://management.azure.com/api/invoke and asks it to search a name across all my subscriptions and return results back to me. That is why it works much faster than individual calls in the loop.

$name = 'servername'
[string]$apiVersion = '2014-04-01-preview'
$ADTenant = 'myself.onmicrosoft.com'
$authHeader = Get-AzureAuthH

[2016-03-15 10:38] eosfor opened #1941 "Namespace [Microsoft.Azure.Common.Authentication.Models.AzureSMProfile] has changed"
I have some Azure related module to automate some operations tasks. After 1.2.3 it appears to be broken for the second time for the following reason.

As i described on my previous tickets (sample code is available [here](https://github.com/eosfor/AzureSearch), i need to add SubscriptionID/SubscriptionName parameters to such commands as Get-AzureVM to avoid switching subscriptions in the code> Thi

[2016-03-15 13:41] kkhrebtov opened #1942 "Unable to EnableWebsiteApplicationDiagnostic if tracing is enabled for WebApp."
Following error message appears:
Enable-AzureWebsiteApplicationDiagnostic : <string xmlns="http://schemas.microsoft.com/2003/10/Serialization/">{"Code":"BadRequest","Message":"There was an error deserializing
the object of type Microsoft.Web.Hosting.Administration.SiteConfig. DateTime content '9999-12-31T23:59:00Z' does not start with '\\/Date(' and end with ')\\/' as required for
JSON.","Extended

[2016-03-15 20:57] DeepakRajendranMsft commented on #1928
Hi @Pradebban , we are working on enabling the RPs in AzureChina. It should be coming in soon

[2016-03-15 21:05] cmerat opened #1944 "Export-AzureVM not working"
Windows 10 Pro. Using SDK version 1.2.3 installed via the Web Platform Installer (shows as 1.2.2 in the WPI).

[code]

Getting the following error when attempting to Export-AzureVM

[code]

Using an alternate computer with Windows 8.1 and the 0.9.3 SDK works as expected.

[2016-03-15 21:07] cmerat opened #1945 "Import-AzureVM not working"
Windows 10 Pro. Using SDK version 1.2.3 installed via the Web Platform Installer (shows as 1.2.2 in the WPI).

[code]

Getting the following error when attempting to Import-AzureVM

[code]

Using an alternate computer with Windows 8.1 and the 0.9.3 SDK works as expected.

[2016-03-15 21:37] philmea opened #1946 "No help for Add-AzureRMVhd"
The help for Add-AzureRMVhd has not description or examples

[2016-03-15 21:37] philmea opened #1947 "No ability to create storage containers"
The Storage module has no ability to make containers in SA's

[2016-03-15 21:40] philmea opened #1948 "New-AzureRMNetworkSecurityGroup has no examples"
The cmdlets New-AzureRMNetworkSecurityGroup has no examples, just a "1:" with not text.

[2016-03-15 21:56] Kraftwerx commented on #1384
+1 for proposal #2, but as someone who lives in PoSh with these cmdlets, I'm not sure there's a big problem with the current json output.  For some reason this has never bit me when manipulating objects json output or not.

[2016-03-16 05:29] xingzhougmu opened #1953 "When retrieving the Virtual Machine Role Sizes via “Get-AzureLocation” the returned results do not consistent with the sizes listed in azure website"
When retrieving the Virtual Machine Role Sizes via “Get-AzureLocation” the returned results do not consistent with the sizes listed here (https://azure.microsoft.com/nl-nl/documentation/articles/virtual-machines-size-specs/).

For example, the returned result for East US is as below:
PS C:\Users\xingzhou> Get-AzureLocation

DisplayName             : East US
WebWorkerRoleSizes      : {A10, A11, A5,

[2016-03-16 14:36] maciejKopec opened #1954 "ARM deployment of HDInsight cluster with script action fails"
I have an ARM template that deploys Spark cluster. It's similar to [https://github.com/Azure/azure-quickstart-templates/tree/master/hdinsight-linux-run-script-action](https://github.com/Azure/azure-quickstart-templates/tree/master/hdinsight-linux-run-script-action). The difference is that I'm using blob storage with SAS as a location for my script. To pass SAS token to template I'm using the appro

[2016-03-16 15:52] kilasuit commented on #1384
Not sure why you couldn't just have the output in nested Hashtables as that really is simple enough and is already widely known.

Again its items like this that make me wonder about the decision points being made on this

An example of this in action would be the objects output from the Find-Module Cmdlet and In my Opinion this is the **correct** way for you to output data as it can easily be mani

[2016-03-16 16:41] markcowl commented on #1953
@singhkay Can you take a look?

[2016-03-16 17:05] singhkay commented on #1384
@kilasuit Interesting, do you have an example of the nested hashtables output from Find-Module? I'm seeing just a table

[code]

[2016-03-16 17:08] singhkay commented on #1953
@xingzhougmu This is legacy naming for the sizes in the v1 stack. PowerShell just returns what's returned by the v1 API. Due to compatibility reasons with existing scripts these were never changed on the platform and are not expected to see being changed. All new feature effort is going into the new ARM stack.

[2016-03-16 17:08] #1953 closed

[2016-03-16 19:51] kilasuit commented on #1384
If you were to run the following

Find-Module AzureRM | Select-object *

You'll find the AdditionalMetadata property is a Hashtable with nested Hashtables added into it.

[2016-03-16 19:59] singhkay commented on #1384
@kilasuit Thanks! I see it now. The problem I find with this is that it just displays the key in the embedded object (Created, ItemType, copyright, PackageSize...). The GET VM analogous to this wouldn't give much info in the default view. You'll have to dig into each object to find the VM properties.

[code]

[code]

[2016-03-16 20:13] kilasuit commented on #1384
From a PowerShell mindset though I **expect** to have to drill down into the objects to see the whole item and its property and with that I can't understand why you would want to nor expect us to work with this in a different manner.

I suppose what I'm trying to say is from my point of view your trying to fix something that in my opinion isn't broken **because** you think it will be **easier** fo

[2016-03-16 20:24] singhkay commented on #1384
@kilasuit

From the GET VM object you'll still be able to drill down in the object and access the sub-properties. For example you'll be able to do `$vm.StorageProfile.OSDisk.OSType` to get the OS for the VM. The problem as the way I see it that users new to the platform might not have a good understanding of how to get the os type of the VM so expanding all objects by default adds a great amount o

[2016-03-16 20:27] lamchester opened #1955 "Need test coverage for VPN gateway"
VPN gateway ServiceManagmenent cmdlets are currently not covered by tests in azure-powershell, which means regressions in translating input parameters to C# Azure API calls will not be caught.

There have been no such issues so far, but test coverage would be good to have.

[2016-03-16 21:14] jeffpatton1971 commented on #1384
@singhkay This is getting weird. Kay, the default behavior of nigh every other powershell cmdlet is to return the straight objects. By returning json strings we are now going against the current. While it sounds like it would make sense, you actually will create a hurdle as these users will expect other cmdlets to return similar output and they will not.

I love the discussion around this, but at

[2016-03-16 21:37] singhkay commented on #1384
It won't be returning JSON strings in the proposals above. It'll be a PowerShell object with formatting applied using the format file. I've run this by the PowerShell team who like the idea of #2 proposal above.

This is confusing to me. How does applying a different visual of the object using a format file break things? Can you share an example of your usage where you think this'll break. That wi

[2016-03-16 22:00] markcowl commented on #1947
You are looking at the wrong storage module.  Azure.Storage is the module that covers the storage data plane cmdlets - these are usable with both v1 (RDFE) and v2 (ARM) storage accounts and include the ability to create storage containers, blobs, queues, tables, etc.

AzureRM.Storage is a module that allows management of storage accounts through ARM.

[2016-03-16 22:00] #1947 closed

[2016-03-16 22:03] markcowl commented on #1932
@vivsriaus Are there any plans to add this support, or would this more properly be supported by New-AzureRmResource

[2016-03-16 22:04] markcowl commented on #1936
@blueww I believe this PR fixes the issue:  https://github.com/Azure/azure-powershell/pull/1950

[2016-03-16 22:04] #1936 closed

[2016-03-16 22:05] markcowl commented on #1940
@vivsriaus Can you take a look?

[2016-03-16 22:08] markcowl commented on #1941
@eosfor You should not take any dependencies on classes used in the implementation of Azure PowerShell cmdlets.  This is a PowerShell product and not a C# product. We do not, nor do we plan to maintain the public interface of the implementation classes.

The modules are versioned based on changes in the cmdlets themselves, not on the implementation classes.  I would highly discourage you from taki

[2016-03-16 22:08] #1941 closed

[2016-03-16 22:09] markcowl commented on #1942
@kkhrebtov Can you please execute this cmdlet using ```$DebugPreference="Continue"``` and include the request and response from the server in this issue?  This will make it much easier for us to diagnose the issue.

[2016-03-16 22:11] markcowl commented on #1944
1.2.3 is the version of the Azure Module.  1.2.2 is the version fo the SDK (and the AzureRM module).

Adding the appropriate folks from the service team to take a look.

@singhkay can you take a look

[2016-03-16 22:11] markcowl commented on #1945
@singhkay Can you take a look?

[2016-03-16 22:12] markcowl commented on #1946
@singhkay Can we consider adding examples to the help?

[2016-03-16 22:12] markcowl commented on #1948
@DeepakRajendranMsft Can you take a look?

[2016-03-16 22:12] gregjhogan commented on #1932
@markcowl would New-AzureRmResource work in my situation?  Note that the when I am using Invoke-AzureRmResourceAction I am specifying -Action which tacks /edison onto the end of the URL (after the resource name)

Specifically, I am having trouble automating setting the proactive detection options for an App Insights instance.  If there is some better way to automate things like this please let me

[2016-03-16 22:13] markcowl commented on #1954
@shefaliv Can you have the appropriate HDInsight folks take a look?

[2016-03-16 22:13] singhkay commented on #1944
@cmerat There haven't been any changes to this cmdlet in a few years so everything should be the same. Was the VM in this case up and running fine?

[2016-03-16 22:14] markcowl commented on #1937
@suprak This should be fixed as part of realigning the usage of ShouldProcess / ShouldContinue as part of this release.  See: https://github.com/Azure/azure-powershell/issues/718

[2016-03-16 22:15] cmerat commented on #1944
@singhkay Yes the VM was up and running. In fact, the older cmdlets worked (from an alternate workstation).

[2016-03-16 22:15] singhkay commented on #1946
@philmea This is in flight with the MSDN team. Should be there soon and in PS next release.

[2016-03-16 22:18] markcowl opened #1956 "Add GraphAudience parameter for Add/Set-AzureRMEnvironment and add meaningful error message if GrpahAudience is not supplied"
We use Graph Audience (GraphEndpointResourceId)  as the audience for Graph endpoint tokens.  If this value is not supplied when creating a graph client, throw a meaningful error.

Add this setting to Add/Set Environment cmdlets to enable setting this value for AzureStack and other environments

[2016-03-16 22:19] singhkay commented on #1944
@cmerat Repros for me as well. I'll file an investigation on the dev team.

[2016-03-16 22:20] singhkay commented on #1945
Probably the same error as #1944. I'll file an investgation work item on the dev team.

[2016-03-16 22:26] vivsriaus commented on #1932
@gregjhogan The Invoke cmdlet was designed to only make POST calls. PUT should ideally be done in the New-AzureRmResource cmdlet, like @markcowl suggested.

In this instance, I was able to call New-AzureRmResource to make a PUT on a similar resource id, although the response from the RP was a 404.

New-AzureRmResource -ResourceId https://management.azure.com/subscriptions/{subId}/resourceGroups/{m

[2016-03-16 22:33] markcowl commented on #1955
@lamchester Please assign to a milestone

[2016-03-16 22:34] markcowl commented on #1919
@TravisEz13 What version of PowerShell is it?  Our relative paths have been there for 3+ years, and this is the first report of an issue I've seen.

[2016-03-16 22:38] markcowl commented on #1896
@winperec We have reproduced this internally - ths ieeus is that third party applications (service principal) are not allowed to use version 1.6-interna;l of the graph library.  Will need to update the graph library version to enable this scenario

[2016-03-16 22:50] markcowl commented on #1941
@eosfor  BTW, if there is some scenario you needed the functionality in the authentication library for, please let us know and perhaps we can accommodate it in a public, supported cmdlet.  I want to dissuade youf rom taking dependencies on the common libraries used in cmdlet implementation, as we know these will be changing rapidly in the next few releases, and their public signatures are not mean

[2016-03-16 23:20] gregjhogan commented on #1932
@vivsriaus I have created the app insights instance through an ARM template (I do everything I can in the template) and then I want to configure anything remaining in powershell.  This makes me wonder if Set-AzureRmResource is actually more appropriate?

Also, is there some way I can do this without building the resource ID?  I tried this, but it doesn't work (it removes /edison from the URL)
[cod

[2016-03-17 00:04] realpatriot commented on #1918
I am getting the same results after trying to create the VPN GW and upload the client cert in a single PS command it fails with a timeout, then I created the GW on its own, but now I am unable to upload the client cert to make the client package.

[2016-03-17 04:23] gregjhogan commented on #1932
Here is what I found to work, but it feels really strange:
[code]

Does it make sense to add a -Action parameter to New-AzureRmResource so that I don't have to manually construct the ResourceId and specify -ApiVersion (it can't figure out what the latest version is when using New-AzureRmResource above)?  What is the difference between New-AzureRmResource, Set-AzureRmResource, and Invoke-AzureRmRes

[2016-03-17 06:43] eosfor commented on #1941
Hello Mark,

[2016-03-17 11:11] turowicz opened #1959 "Continous Integration"
I'm not sure if this is the right place to ask this question, but I've been away from using powershell for a while, and it seems like the authentication got a lot more difficult than it used to be (publishsettings).

Can somebody point me to information about using azure powershell on build servers? Login-AzureRmAccount specifically is causing a lot of problems to me. We can't have a modal popup o

[2016-03-17 11:33] turowicz commented on #1959
Look at this:

https://azure.microsoft.com/en-gb/documentation/articles/resource-group-authenticate-service-principal/#provide-credentials-through-automated-powershell-script

This is absolutely contradicting itself, because in order to get anything from the key vault I need to be authenticated in the first place.

[2016-03-17 11:49] turowicz commented on #1959
OK, so this,

http://stackoverflow.com/questions/31380873/unattended-authentication-through-azure-powershell-for-resource-manager

but it's really bad that the credentials need to be embedded in one way or another. What happened to client certificates? Why make life so hard / unsafe?

[2016-03-17 12:21] kilasuit commented on #1384
@singhkay In regards to this point

That is the expected behaviour for every other PowerShell Object - Azure VM Objects should be no different and it should be upto the end user to drill down into the property of the object to get the information required.

I also massively disagree with this point

This is again a divergence from the standard that I & others would expect and if you have propertie

[2016-03-17 12:25] trondhindenes commented on #1384
I like option #2. As others in this thread, I'm used to looking at objects and sub-objects to "get to know" the returned structure, so I think we need to find a common ground which makes PowerShell experts happy and at the same time acommodate less experienced folks. Option 2 is in my opinion the best way to accomplish this.

Looking at this more broadly, this whole discussion is worthless if it o

[2016-03-17 12:43] kilasuit commented on #1384
@trondhindenes - And that is exactly why I dislike options 1 & 2 as it doesnt enforce cross cmdlet (let alone module) consistency

However I would (annoyingly) accept that if the default showed as I Suggested and then there was a switch parameter for DetailedOutput across all of the Cmdlets

This then allows us experienced PowerShell people to get what we expect quickly and it's then a consistent

[2016-03-17 13:47] Pradebban opened #1961 "IOTHub - Proper error message not shown when sku is missing while creating a new IotHub using New-AzureRmResource"
Hi,

Am trying to create IOTHub with the following command.
Please look into the same.

New-AzureRmResource -ResourceName "IotHubSample1" -ResourceType Microsoft.Devices/Iothubs -ResourceGroupName Poc -Location "East US" -Properties @{
Location="East US"}

Confirm
Are you sure you want to create the following resource:
/subscriptions/xxxxxxxxxxxx/resourceGroups/Poc/providers/Microsoft.Devices/Ioth

[2016-03-17 14:13] Pradebban commented on #1928
Hi @DeepakRajendranMsft , Please let me know if you have any timelines. This would help to plan implementations.

[2016-03-17 19:08] markcowl commented on #1068
@devigned This would work for org id or spn, but not for live id credentials

[2016-03-17 20:48] dulems commented on #1954
The issue is the SAS key expired yesterday (Wed, 16 Mar 2016 09:31:16 GMT). This is a user error.

[2016-03-17 21:20] #1959 closed

[2016-03-17 21:21] turowicz commented on #1959
I've managed with a hybrid of publishsettings and login-azurerm* with secure string credentials

[2016-03-18 07:38] rajanbhc commented on #1833
Hi,

Disk encryption is happening through PS scripts,but its not happening through GUI mode

"Error message": "VM has reported a failure when processing extension 'AzureDiskEncryption'. Error message: \"Failed to configure bitlocker as expected. Exception: Operation \"set\" is not allowed, InnerException: , stack trace:    at Microsoft.Azure.KeyVault.KeyVaultClient.

Please help me on this

[2016-03-18 12:41] brentdavid2008 commented on #669
+1

[2016-03-18 13:10] craiglandis commented on #1944
It reproduces for me also. VMs I tested on are all in ReadyRole, so I don't know why the error says "It may still be provisioning" (full error is "export-azurevm : Could not read properties for virtual machine: <VM name>. It may still be provisioning"

[2016-03-18 13:26] ronbok opened #1967 "Get-AzureRmSqlDatabase?"
Why doesn't Get-AzureRmSqlDatabase return an object? I was trying to grab a list of all the databases on a specific server instance and then check their audit and threat detection settings. What I get back isn't an object, but output from a what appears to be string collection?

After doing something like $Variable = Get-AzureRmSqlDatabase .... I want to iterate the collection of databases.

[2016-03-18 14:37] DarrylvanderPeijl commented on #1551
The same goes for the -Name parameter.

[2016-03-18 14:43] ronbok commented on #1967
In order to accomplish this I had to go way off the beaten path:

 $Databases = Get-AzureRmResource -ResourceType "Microsoft.Sql/servers/databases" -ResourceGroupName "RGName" -ResourceName "DBServerName"

 $Count = 1
 While ($Count -le $Databases.Count)
 {

 $Databases[$Count].BaseObject
 $Databases[$Count].Name
 $Count++

 }

[2016-03-18 15:19] patrick-steele commented on #1918
Seeing the same thing.  However, if I check the gateway with:

    (Get-AzureRmVirtualNetworkGateway -ResourceGroupName "Group1").VpnClientConfiguration.VpnClientRootCertificates

It looks like it added the cert.

[2016-03-18 15:41] SudhakaraReddyEvuri commented on #1833
Hello Rajan, can you cross check if the AAD application ID that you input to the template has permissions to write secrets to the KeyVault? You can set permissions by running the PS cmdlet "Set-AzureRmKeyVaultAccessPolicy -VaultName $keyVaultName -ServicePrincipalName $aadClientID -PermissionsToKeys all -PermissionsToSecrets all;"

Alternatively you can use the AzureDiskEncryption pre-requisites s

[2016-03-18 15:43] SudhakaraReddyEvuri commented on #1833
Hello Rajan, can you cross check if the AAD application ID that you input to the template has permissions to write secrets to the KeyVault? You can set permissions by running the PS cmdlet "Set-AzureRmKeyVaultAccessPolicy -VaultName $keyVaultName -ServicePrincipalName $aadClientID -PermissionsToKeys all -PermissionsToSecrets all;"

Alternatively you can use the AzureDiskEncryption pre-requisites s

[2016-03-18 18:06] gregjhogan opened #1968 "Template as hash table for New-AzureRmResourceGroupDeployment"
Please add a TemplateObject parameter to New-AzureRmResourceGroupDeployment

[code]

I can of course write it out to a file first, but it would be a lot more convenient when building template files dynamically to pass the powershell object that represents the template directly.

[2016-03-18 22:50] Nilambari commented on #1918
You can use below commands to upload client root cert at the time of creating Gateway by specifying param:VpnClientRootCertificates like below:-
1. $rootCert = New-AzureRmVpnClientRootCertificate -Name $clientRootCertName -PublicCertData $samplePublicCertData

2. New-AzureRmVirtualNetworkGateway -ResourceGroupName $rgname -name $rname -location $location -IpConfigurations $vnetIpConfig -GatewayTyp

[2016-03-19 20:09] maciejKopec commented on #1954
Of course in the url I pasted the storage name and the container was modified because I don't want to expose it so please don't expect it will work. Just to describe you shortly my deployment process:
1. Copy all sh scripts from local dir to blob storage.
2. Create SAS token for blob container in which scripts are located (with expiry time + 4h).
3. Pass the location and SAS token (of SecureString

[2016-03-20 19:26] dulems commented on #1954
I see. Do you have the name of the failed HDInsight cluster and the approximate time when the deployment failed. I want to check what format of the SAS token that our resource provider receives.

In addition, you don't need to use SAS if your scripts are stored in a storage account that is linked to the provisioned cluster.

[2016-03-20 20:19] gregjhogan commented on #1272
@markcowl is the auto save/load still in progress?  Where is the issue that this is a duplicate of?  Thanks!

[2016-03-21 06:14] rajanbhc commented on #1833
Thanks for your response

if the AAD app is created by script its not replicating in Azure portal.

how to find clientID and Secret for the app which is created by script?

regards,
Thiyagarajan P

[2016-03-21 16:40] marrobi commented on #1641
I'm having similar problems...  The ProvisioningState always returns "Creating", even when the extraction shows as completed in the portal. This means I can't pause execution of scripts while extraction completes. Something doesn't seem right, but could be a mistake at my end.

ResourceGroupName     : ...
AutomationAccountName : ...
Name                  : nx
IsGlobal              : False
Version

[2016-03-21 16:49] androidtopp commented on #1316
@singhkay Sorry, but I am finished creating all my templates at this point - I haven't had time to create any test VMs and run through the process you described above in order to test. Once I've gotten time to do that, I'll post here with results.

Thanks!
Andrew

[2016-03-21 23:44] philmea opened #1975 "Get-AzureRMResource needs improvements"
I don't really understand why I cannot enumerate all resources in a resource group using this cmdlet. I also would like to know why it cannot take Get-AzureRmResourceGroup from the pipline.

[2016-03-21 23:50] philmea commented on #1947
Then where is the ability to create, manage or delete containers? I see:
Name
----
Get-AzureRmStorageAccount
Get-AzureRmStorageAccountKey
Get-AzureRmStorageAccountNameAvailability
Get-AzureRmStorageUsage
New-AzureRmStorageAccount
New-AzureRmStorageAccountKey
Remove-AzureRmStorageAccount
Set-AzureRmCurrentStorageAccount
Set-AzureRmStorageAccount

[2016-03-22 03:29] ubjones commented on #874
This issue may have been closed, but it is still an issue.  Microsoft supports [VMware replication](https://azure.microsoft.com/en-us/documentation/articles/site-recovery-vmware-to-azure-classic) so the Azure powershell automation must support it.

[2016-03-22 11:52] olgamatoula opened #1978 "UN-generalize a VM"
Seems like the process of generalizing a VM is irreversible. Shouldn't there be a way to undo it?

[2016-03-22 12:46] tellotim commented on #1316
@androidtopp Looking forward to your results as we have the same issue.

[2016-03-22 13:09] ciphertxt commented on #1978
[sysprep](https://technet.microsoft.com/en-us/library/cc721940(v=ws.10).aspx) is irreversible by design:

In Azure, this is accomplished by not only sealing your image, but also [telling the platform that a generalized image is being captured](https://azure.microsoft.com/en-us/documentation/articles/virtual-machines-windows-capture-image-resource-manager/).

[2016-03-22 13:18] olgamatoula commented on #1978
The problem is that I have generalized a VM on Azure to create an image from it, and then I cannot start again the original machine.

[2016-03-22 13:19] ciphertxt commented on #1978
Again, this is by design. If you're going to go back and make changes to the original source, you'll need to copy it off/snapshot it/etc. prior to sealing it with sysprep.

[2016-03-22 13:30] olgamatoula commented on #1978
Actually if the VM is not hosted on Azure, after using sysprer you can start it and use it again. The problem lies on Azure, where it does not let you to start it from its stopped (deallocated) state.

[2016-03-22 14:00] ciphertxt commented on #1978
You can start it again as well. You just have to start by spinning up a new VM based on your generalized image.

[2016-03-22 14:12] olgamatoula commented on #1978
I know that I can make copies. What I am suggesting here is to make it possible to start / wake up the original VM from its stopped state. This action seems to be irreversible and I believe there should be a way to Redeploy (command -Redeploy does not work at this case).
`Set-AzureRmVm -ResourceGroupName YourResourceGroup -Name YourWindowsVM -Generalized
`

[2016-03-22 16:07] Vijayaraghavanl opened #1979 "Unable to set Tags through New-AzureRmSqlServer"
Unable to set Tags through Powershell for Azure SQL Server and Azure SQL Database:

I am creating Azure SQL Server and Database through powershell and all inputs to powershell are through a csv file.

Below is a part of the code.
$CSVInput = Import-Csv $CSVFile

ForEach($InputObj in $CSVInput)
{
    $SQLSvrResourceGroupName = $InputObj.SQLSvrResourceGroupName
    $SQLServerName = $InputObj.SQLServ

[2016-03-22 18:02] ravbhatnagar opened #1980 "Remove-AzureRmResourceGroup does not bubble up errors if the operation fails"
Also, the following error message is given out -
ResourceGroupDeletionFailed: The deletion of resource group 'ms-dev' did not finish within allowed time. Resource group provisioning state rolled back. Please check audit logs for more details.
The above implies that the resource group state was rolled back which is not the case.
Fix the error message too. And Update help to point out that the resou

[2016-03-22 18:17] jeffpatton1971 commented on #1980
Thanks for filing this @ravbhatnagar

[2016-03-22 19:28] makhdumi commented on #1942
I'm not going to include the full request and response because it contains private info like passwords, but here is the offending bit.
[code]

[2016-03-22 19:58] matousrokos opened #1982 "Get all available RM VM Extensions"
Hello Azure PS Team. Getting all available VM Extensions under ARM is task for several minutes now because its combination of at least 3 cmdlets. Please add ARM version of  Get-AzureVMAvailableExtension

[2016-03-22 20:50] jodoglevy commented on #1641
This is working for me. As you can see, when module extraction is complete, status says "Succeeded":

PS C:\Users\jolevy> $mod = New-AzureRmAutomationModule -Name SSH -ContentLink "http://joestorage123.blob.core.windows.net/public/SSH.zip" -ResourceGroupName anotherservice -AutomationAccountName powershellsummit

PS C:\Users\jolevy> $mod

ResourceGroupName     : anotherservice
AutomationAccountNam

[2016-03-22 20:50] #1641 closed

[2016-03-22 21:37] maciejKopec commented on #1954
You can look at 'clusterfordulems' that failed with the same message just a few minutes ago. I will also run this deployment once again when I reinstall Azure SDK and it should be ok so you will be able to compare it.

BTW I've read about not using SAS but I couldn't make it work. Could you please show me how this uri should be composed then? Should I use wasb protocol instead of http?

[2016-03-22 22:03] sundbing commented on #1200
+1 for -AsJob

Much appreciated!!

[2016-03-22 23:14] dulems commented on #1954
I looked at our log and yes, it really looks like the newer SDK caused the issue. Since this cmdlet (New-AzureRmResourceGroupDeployment) is maintained by a different team, we might need to contact them for help debugging the issue.

At the same time, can you please try the following steps to remove the need for SAS keys?

1) Link your storage account (cdf****storage) to the created cluster in your

[2016-03-23 02:10] kilasuit commented on #1384
Any thoughts on the suggestion I made above - I Think that this is the best suggestion from the PowerShell adoption point of view and also would be a good suggestion cross the whole of this set of modules for the non-PowerShell Technical individual going forward.

Although I'm biased in this view I still think it's the best Long Term Solution overall.

[2016-03-23 04:42] ChocoMachine commented on #1911
I'm using build vNext and have this problem manifesting in the "Azure Web App Deployment" task. I will apply @eocrawford fix to local .ps1 file till update available.

Cheers...

[2016-03-23 14:13] GamerLivingWill opened #1991 "Set-AzureRmVmDscExtension Holds Session Open Until Success or Fail Notification"
Greetings!

This issue is currently being experienced in Azure.Compute module 1.2.4.

I've noticed that the Set-AzureRmVmDscExtension cmdlet holds the session open until it receives a completion notification of success or failure.  This breaks automation if you're looking to build a function to deploy to multiple systems.

Furthermore, the Verbose parameter returns nothing, meaning you can't get a

[2016-03-23 18:52] bgelens opened #1994 "New-AzureRmAutomationVariable Encryption parameter mandatory"
The Encryption parameter for New-AzureRmAutomationVariable is mandatory but doesn't make a lot of sense IMO. Encryption is something you explicitly want. Not something you explicitly don't want. I would prefer the parameter to be interchanged with a switch instead or at least drop the mandatory requirement.

[2016-03-23 21:43] vcanaa opened #1997 "[Insights] Create automation test to cover null object exceptions in diagnostic settings commands"
DiagnosticSettings commands can't throw null pointer when Logs or Metrics are not defined for the resource.

Related fix:
https://github.com/Azure/azure-powershell/pull/1996

Fix was verified manually and now needs automation tests.

[2016-03-23 21:55] moswald opened #1998 "New-AzureRmResource fails to execute because DefaultContext is not set?"
`New-AzureRmResource` exists in powershell's tab-completion list, and I've successfully called Login-AzureRmAccount, but this is the error I get after any call to `New-AzureRmResource`:

[code]

[2016-03-23 22:06] markcowl commented on #1998
@moswald sorry for the bad experience.  This can happen if there are mixed incompatible versions of the resource manager and profile cmdlets.  You should be able to resolve by updating both modules, or by running the latest installer: https://github.com/Azure/azure-powershell/releases/download/v1.2.2-March2016/azure-powershell.1.2.2.msi
 which will clean up older versions of gallery modules.

[2016-03-23 22:42] ravbhatnagar commented on #1888
Fixed for Apr Release

[2016-03-23 22:42] ravbhatnagar commented on #1899
Fixed in Apr release

[2016-03-23 22:49] ravbhatnagar commented on #1361
Fixed in Apr rel.

[2016-03-23 23:07] ravbhatnagar commented on #633
Fixed in Apr Rel

[2016-03-23 23:24] ravbhatnagar commented on #1422
Additional information added. Fixed in Apr Rel.

[2016-03-23 23:26] moswald commented on #1998
Thanks for the quick response! I'll give that a try asap.

[2016-03-23 23:32] ravbhatnagar commented on #1359
Fixed in Apr Rel

[2016-03-24 02:04] EmmaZhu commented on #1930
@quoctruong The blob are uploaded in chunks, each has a content MD5 that Azure Storage Service can validate chunk content with it. This can make sure each chunk uploaded is the same with the one in local.

[2016-03-24 02:06] EmmaZhu commented on #1696
Thanks @bd4hjimp for bringing this to us.
We've got it fixed and it will be included in the next release.

[2016-03-24 02:07] EmmaZhu commented on #1685
Thanks @bd4hjimp  for bringing this to us.
It needs both resource group name and account name to fetch a particular account in ARM, only specifying -Name in Get-AzureRmStorageAccount should not be an available operation.
We'll get the fix into the next release.

[2016-03-24 02:16] EmmaZhu commented on #1276
@shiningdragon
The cmdlet Get-AzureStorageFile should not only be able to list files/directories under a share/directory, but also be able to get instance and attributes of a single file or a directory. The old behavior only can do list, but is pain to get a single file's instance.

With current Get-AzureStorageFile, it can get a single instance of file/directory with Path parameter and list the s

[2016-03-24 02:17] EmmaZhu commented on #1543
@robinsh
The cmdlet Get-AzureStorageFile should not only be able to list files/directories under a share/directory, but also be able to get instance and attributes of a single file or a directory. The old behavior only can do list, but is pain to get a single file's instance.

With current Get-AzureStorageFile, it can get a single instance of file/directory with Path parameter and list the share/d

[2016-03-24 02:35] EmmaZhu commented on #1340
@GitHubBJW
The cmdlet needs to check destination's existence, which requires READ permission, to avoid overwrite anything without noticed. This is a bit inconvenient if destination doesn't exist or you always want to overwrite destination. We'll open a work item to find a way to suppress this checking.

[2016-03-24 07:06] EmmaZhu commented on #1371
@bradfulton
Could you try Get-AzureStorageBlobCopyState with -WaitForComplete? Start-AzureStorageBlobCopy only sends starting copy request to Azure Storage Service, it doesn't wait for copy to complete.
I've tried several times, with Start-AzureStorageBlobCopy and Get-AzureStorageBlobCopyState with -WaitForComplete, didn't encounter any lease issue.

[2016-03-24 11:02] eosfor opened #2004 "Cant find Get-AzureResourceProviderLog"
Cant find Get-AzureResourceProviderLog

[Here is the output](https://gist.github.com/eosfor/21dc8867cde7f0fe7114)

[2016-03-24 11:49] KarlGW commented on #1288
@markcowl
This seems to be broken again as of the latest update. Since I updated the Azure Module when performing Select-AzureRmProfile it just returns empty from the background job. I changed nothing in my scripts and modules, and this now fails.

[2016-03-24 13:11] maciejKopec commented on #1954
This approach without SAS token works (surprisingly for me because I could swear I tried it before).
So in my case it's solved but if somebody wants to provide uri with escaped characters it will fail.

[2016-03-24 13:15] dulems commented on #1954
Great to hear this!

@shefaliv Now that the reported issue is resolved, can you please engage the right person for debugging New-AzureRmResourceGroupDeployment?

[2016-03-24 15:03] moswald commented on #1998
That worked. Thanks for the help.

[2016-03-24 15:03] #1998 closed

[2016-03-24 15:32] shefaliv commented on #1954
@markcowl Can you please direct this thread to the appropriate person?

[2016-03-24 16:26] bradfulton commented on #1371
That is what I've been using, and it does work sometimes.  Other times it returns instantly, clearly long before the copy is actually complete.  Actually, the case where it fails is when I start two blob copies, and then wait for the first one to complete, then wait for the second one to complete, and both of those return instantly.

[2016-03-24 17:12] mmaitre314 opened #2005 "Account and subscription cmdlets fail with 'Object reference not set to an instance of an object'"
After some time (a day?) basic cmdlets like Add-AzureAccount, get-AzureAccount, Get-AzureSubscription stop functioning and error out with 'Object reference not set to an instance of an object'

![azure_capture](https://cloud.githubusercontent.com/assets/8584604/14024837/61af8a92-f1a8-11e5-8982-9657c3b5ef88.PNG)

The only way I found to get out of that was to close all PS command windows and reopen

[2016-03-24 18:27] ravbhatnagar commented on #1586
Thanks for reporting this issue. We will take a look and fix this. In the meantime, can you try if it works for you when your property object has all lower case property names.

[2016-03-24 20:44] Pradebban opened #2009 "Azure China: Premium KeyVault unavailable"
Seems Premium KeyVault is not supported in China East and China North.

 New-AzureRmKeyVault -VaultName "myfirstcnkv" -ResourceGroupName my "firstcnrgp" -Location "**China East**" -Sku **premium**
**New-AzureRmKeyVault : SkuNotSupported: Premium vaults are not supported in this region.**
At line:1 char:1
+ New-AzureRmKeyVault -VaultName "myfirstcnkv" -ResourceGroupName "firstcnrgp" -Lo ...
+ ~~~~~

[2016-03-24 21:26] BorisB2015 commented on #1944
Hit this just now and have an active case on it. Linux VM in my case (not sure if ConsoleScreenshotBlobUri unique to Linux VMs or not).

Full stack on this:

- Could not read properties for virtual machine: blah. It may still be provisioning.
- There was an error reflecting type 'Microsoft.WindowsAzure.Commands.ServiceManagement.Model.PersistentVM'.
- There was an error reflecting property 'DebugS

[2016-03-24 21:27] BorisB2015 commented on #1945
Put full exception stack in [#1944](https://github.com/Azure/azure-powershell/issues/1944)

[2016-03-24 21:28] BorisB2015 commented on #1944
cc: @singhkay

Repored on version: Azure 1.2.3, ASM mode.

[2016-03-25 01:01] EmmaZhu commented on #1371
@bradfulton Could you share your repro script? When you start two blob copies, do you mean copying from one source blob to two different destination?

[2016-03-25 01:28] hovsepm commented on #1997
This is fixed. Should be available in the next release (end of March).

[2016-03-25 01:28] #1997 closed

[2016-03-25 01:32] hovsepm commented on #2005
@mmaitre314 please capture and provide debug logs when it will happen again. You can do that by running following:

[code]

[2016-03-25 02:53] rginjupalli commented on #1944
Till issue is fixed permanently, one of the temporary workaround is to use Get-AzureVM

(Get-AzureVM -ServiceName foo -Name bar | ConvertTo-Xml).Save("c:\output-file.xml")

[2016-03-25 17:02] bradfulton commented on #1371
Following is the procedure I used to back up a VM's VHD.  It makes two copies: one with the same name, and one whose name has a datetime stamp appended.  Optionally a suffix can be appended to the backup. The procedure always ends quite quickly, but if you try to access the target VHD's, you get a lease error, because it's actually still copying I think.

param($vmname, $vhdsuffix)
if ($vhdsuffix

[2016-03-25 17:32] ronbok opened #2014 "Set-AzureRmSqlServerFirewallRule Resource not found for the segment"
`Set-AzureRmSqlServerFirewallRule -FirewallRuleName $AzureFWRuleName -StartIpAddress $StartIP -EndIpAddress $EndIP -ServerName $($AzureSQLServerNames[$Count]) -ResourceGroupName $($AzureRGNames[$Count])`

Returns Set-AzureRmSqlServerFirewallRule : NotFound: Resource not found for the segment 'firewallRules'.

[2016-03-25 19:38] singhkay commented on #1384
@kilasuit Sorry nothing yet, everybody's been heads down for //build next week.

However, I'm still trying to understand this and it is likely to be the key question in discussion i.e. "why hiding key information about resources behind objects by default is the way to go"

[2016-03-25 19:53] ronbok commented on #2014
This results in not being able to create a firewall rule via PS. Even if one is created manually in the UI and you try to execute a Set- it fails.

[2016-03-25 19:57] markcowl commented on #2014
@ronbok Apologies for the bad experience.  Can you execute the command with ```$DebugPreference="Continue"```  and include the logs - this will include messages between client and server, which should help in determining the underlying issue.

[2016-03-25 19:58] markcowl commented on #1956
Fixed in the dev branch and in the release that will go out 3/30

[2016-03-25 19:58] #1956 closed

[2016-03-25 19:59] markcowl commented on #1937
@suprak Unfortunately, this moved into the next sprint, will be resolved then

[2016-03-25 20:01] markcowl commented on #1492
Fixed.

[2016-03-25 20:01] #1492 closed

[2016-03-25 20:03] markcowl commented on #1308
@kilasuit Not sure if this is related to multiple installs, or related to installs of individual modules occurring more than installs of AzureRm.  The move to a manifest module this release should have some impact on cleaning this up.

[2016-03-25 20:04] markcowl commented on #1255
And unfortunately moving this to May - delaying to make the change right.

[2016-03-25 20:37] retrobits commented on #1944
@rginjupalli - this does not seem to be an acceptable work around, as the output is different
I have several VMs (Ubuntu) and all give me the same error about "reading properties"

[2016-03-25 20:45] androidtopp commented on #1316
@singhkay , @tellotim:

TL;DR - I have confirmed that you can capture a VM as a template, redeploy that template, and join it to the domain with this extension, but **_only_** if you've **_never before_** used the extension. It seems like the extension doesn't cleanly uninstall, and then you're back in the same place.

To test, I built two VMs - one of which I never joined to any domain, whether w

[2016-03-25 20:57] rginjupalli commented on #1944
@retrobits - Capturing the VM configuration using Get-AzureVM and then converting the result to xml file (Isn't Export-AzureVM does the same thing)

[2016-03-26 12:23] BenedekFarkas opened #2019 "Set-AzureSqlDatabase: changing Service Objective is called on a different DB (1.2.2)"
I have a SQL Azure DB, let's call it "X". I create a copy of it to the same server, let's call the copy DB "Y". I make some changes to "Y", scale it up to S2 Standard tier and export it (scaling it up is required, otherwise the export fails due to the size of the DB). This is a process we run automatically by from our TeamCity instance every day on two different DBs and it's running smoothly.

How

[2016-03-26 16:30] pcgeek86 commented on #1308
Perhaps we would benefit from some parallelism here, since we are installing a bunch of child modules. `Start-Job`, or Boe Prox's PoshRSJob? @proxb

https://github.com/proxb/PoshRSJob

[2016-03-28 01:11] markcowl commented on #2019
@akromm Can you take a look?

[2016-03-28 08:51] sunbinzhu opened #2021 "non-recoverable issue when running AzureRm PowerShell cmd in multiple runsapces"
Since the current AzureRm PowerShell only supports to Get VM status, Start/Stop/Restart/Deallocate VM one by one. I have to use runspaces to execute the corresponding Azure PowerShell commands(Get-AzureRmVM, Start-AzureRmVM, Stop-AzureRmVM) in multiple threads, and I found that some exceptions thrown during the multiple threading execution. The last error (Error 3) is a non-recoverable error, when

[2016-03-28 17:07] markcowl commented on #2021
@singhkay can you take a look?

[2016-03-28 18:40] #1899 closed

[2016-03-28 18:40] #1888 closed

[2016-03-28 18:41] #1422 closed

[2016-03-28 18:41] #1361 closed

[2016-03-28 18:41] #1359 closed

[2016-03-28 18:41] #633 closed

[2016-03-28 18:43] ravbhatnagar commented on #358
Could not get to this in the Apr release. Moving to backlog.

[2016-03-28 18:43] ravbhatnagar commented on #726
Could not get to this in the Apr release.

[2016-03-28 18:44] ravbhatnagar commented on #1925
Fixed in the Apr release.

[2016-03-28 18:44] #1925 closed

[2016-03-28 18:44] ravbhatnagar commented on #270
Moving to backlog. Could not fix in Apr release

[2016-03-28 18:45] ravbhatnagar commented on #1420
Could not get to this in the Apr release.

[2016-03-28 18:47] ravbhatnagar commented on #2004
During the 1.0 PS release, a bunch of the log cmdlets were consolidated. So now you can use Get-AzureRmLog -ResourceProvider to get the desired results.

[2016-03-28 18:47] ravbhatnagar commented on #2004
Closing (by design).

[2016-03-28 18:47] #2004 closed

[2016-03-29 00:13] ravbhatnagar opened #2022 "Preserve casing specified by the customers for property names"
Currently we convert the casing to Pascal case which we should not be doing.

[2016-03-29 02:57] nobitagamer commented on #1447
Sorry for late reply, here is my config files:

[ServiceConfiguration.Local.cscfg.txt](https://github.com/Azure/azure-powershell/files/192807/ServiceConfiguration.Local.cscfg.txt)
[ServiceDefinition.build.csdef.txt](https://github.com/Azure/azure-powershell/files/192808/ServiceDefinition.build.csdef.txt)

[2016-03-29 03:20] catweisun opened #2023 "Remove-AzureAvailabilitySet doesn't work"
Remove-AzureAvailabilitySet doesn't work, I have to use the Set-AzureAvailabilitySet -AvailabilityName "" as workaround.
After checked the source code [here](https://github.com/Azure/azure-powershell/blob/dev/src/ServiceManagement/Compute/Commands.ServiceManagement/IaaS/AvailabilitySets/RemoveAzureAvailabilitySet.cs)
public class RemoveAzureAvailabilitySet : VirtualMachineConfigurationCmdletBase

[2016-03-29 03:49] rajaprad opened #2024 "New-AzureRMTrafficManagerProfile does not work in AzureChina"
New-AzureRMTrafficManagerProfile does not work in China. Please let me know when this will be available.

PS C:\Windows\system32> New-AzureRMTrafficManagerProfile -Name "Example" -ResourceGroupName "Example" -RelativeDnsName "
Example" -Ttl 30 -TrafficRoutingMethod "Weighted" -MonitorProtocol "HTTP" -MonitorPort 8080 -MonitorPath /EndPointMonito
r
New-AzureRMTrafficManagerProfile : InvalidResource

[2016-03-29 03:54] DeepakRajendranMsft commented on #426
closing since resolved

[2016-03-29 03:54] #426 closed

[2016-03-29 03:54] DeepakRajendranMsft commented on #558
this has been resolved

[2016-03-29 03:54] #558 closed

[2016-03-29 03:55] DeepakRajendranMsft commented on #653
closing since resolved

[2016-03-29 03:55] #653 closed

[2016-03-29 03:56] DeepakRajendranMsft commented on #1190
closing since resolved

[2016-03-29 03:56] #1190 closed

[2016-03-29 08:00] sunbinzhu commented on #2021
I got a similar error in Azure PowerShell (**Classic mode**) when trying to run Get-AzureVM in multiple runspaces, So it is not an ARM particular issue, but a general issue in Azure PowerShell.

**ERROR**:
System.Management.Automation.RuntimeException: Item has already been added. Key in dictionary: 'Microsoft.WindowsAzure.Commands.Common.CmdletInfoHandler'  Key being added: 'Microsoft.WindowsAzur

[2016-03-29 09:22] sunbinzhu commented on #2021
And the fatal error also reproduced in classic mode.
**ERROR 3**
System.Management.Automation.RuntimeException: Object reference not setto an instance of an object. ---> System.NullReferenceException: Object reference not set to an instance of an object.
   at System.Collections.Specialized.OrderedDictionary.IndexOfKey(Object key)
   at System.Collections.Specialized.OrderedDictionary.set_Item(Obj

[2016-03-29 14:37] jtuliani commented on #2024
Thanks for the feedback.  Traffic Manager ARM support is not yet deployed to Azure China.  Please use the ASM cmdlets for Traffic Manager instead at this time.

[2016-03-29 14:37] MisinformedDNA opened #2027 "The resource name can contain only letters, numbers, and hyphens - New-AzureRmResourceGroupDeployment"
I'm getting an error message that 'SqlServerDeployment' is an invalid resource name, but there's obviously nothing other that letters, so it should work, right?

 And my resource definition:
[code]

[2016-03-29 19:42] pomortaz commented on #2009
There is no plan to support premium vaults in China.

[2016-03-30 00:14] markcowl commented on #2023
@singhkay can you take a look

[2016-03-30 00:15] markcowl commented on #2024
@jtuliani Is this going to be resolved in the next 3 months, if so, please add to a milestone.  If not, please assign to the backlog.  Thanks!

[2016-03-30 00:18] markcowl commented on #2027
@MisinformedDNA Sorry for the bad experience.  To help us debug, can you include the cmdlet invocation for creating the deployment, including template parameters and a Debug trace from the initial part of the deployment.  You can get the debug trace by passing -Debug, or by setting ```$DebugPreference="Continue"```

@vivsriaus can you take a look.

[2016-03-30 02:14] singhkay commented on #2023
@hyonholee Can you take a look at this code suggestion?

[2016-03-30 02:15] singhkay commented on #2021
@huangpf @hyonholee Can you take a look at if the cmdlets can support runspaces?

@sunbinzhu Are you seeing this just with VM cmdlets or other Azure cmdlets as well?

[2016-03-30 02:52] huangpf commented on #2021
The error comes from AzurePSCmdlet.cs. +@markcowl & @hovsepm

[2016-03-30 03:26] sunbinzhu commented on #2021
@singhkay I just tried VM cmdlets, but it shall be a general issue. you can easily modify my script to try any other cmdlets.

[2016-03-30 04:43] MisinformedDNA commented on #2027
The problem was the parameter `sqlServerName` above. The `value` didn't end with a `]`. The IDE usually gives me a warning when I miss little things like that, but it didn't this time.

[2016-03-30 04:43] #2027 closed

[2016-03-30 12:10] paul-daly commented on #1911
Are there plans to replace **Publish-AzureWebsiteProject** with something like **Publish-AzureRMWebAppProject**?

[2016-03-30 13:43] MikalJ opened #2033 "New-AzureRmAppServicePlan fails with exception"
[code]

Fails with the following message

[code]

[2016-03-30 15:09] Pradebban commented on #2009
@pomortaz, Is this documented in any official release notes/ online documentation ?

[2016-03-30 15:11] Pradebban commented on #2024
thanks @markcowl , between can you please guide me to a release notes which says Traffic Manager ARM support is not yet deployed to Azure China / or any documentation of some sort!

[2016-03-30 16:59] vinjiang commented on #1543
Feel free to reactivate the issue if the above suggestion does not address your questions.

[2016-03-30 16:59] #1543 closed

[2016-03-30 17:01] vinjiang commented on #1276
Feel free to reactivate the issue if the above suggestion does not address your questions.

[2016-03-30 17:01] #1276 closed

[2016-03-30 17:02] #328 closed

[2016-03-30 17:02] #135 closed

[2016-03-30 17:44] pomortaz commented on #2009
It is on the pricing page (in Chinese) on [Azure China website](https://www.azure.cn/zh-cn/).
We don't have any English document for that, but I have contacted the team for the missing documentation.

[2016-03-30 17:58] pcgeek86 opened #2034 "Save-AzureRmProfile doesn't support pipelining"
[code]

At C:\Users\TrevorSullivan\Documents\WindowsPowerShell\profile.ps1:3 char:81
+ ... trevorsullivan.net) | Save-AzureRmProfile -Path $script:AzureProfile;
+                           ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    + CategoryInfo          : InvalidOperation: (:) [Save-AzureRmProfile], PSInvalidOperationException
    + FullyQualifiedErrorId : InvalidOperation,Microsoft.Azur