[2017-09-18 01:36] #4517 closed

[2017-09-18 01:37] markcowl commented on #4589
Fixed.

[2017-09-18 01:37] #4589 closed

[2017-09-18 05:01] markcowl commented on #4151
Pull request in private repo

[2017-09-18 05:02] markcowl commented on #4586
PR in private repo

[2017-09-18 09:31] spaelling commented on #4365
I can confirm that you need to change the context to the subscription where the first scope was assigned in order to test if the role already exists. This cannot be working as intended as the role exists in the tenant.

[2017-09-18 16:47] GuofuZhong commented on #4555
@cormacpayne @sumanan do you have any update of it?

[2017-09-18 23:31] alexandair opened #4608 "Deprecate AzureRM.ServerManagement module"
"Server Management Tools" service has been removed for a couple of months now.
Why do we still have AzureRM.ServerManagement module?

[2017-09-19 02:11] muntaserq commented on #4191
I am seeing this error as well. I have tried deleting and redeploying the Automation account with no luck. I updated the modules, too. The error I am seeing:

`Your Azure credentials have not been set up or have expired, please run Login-AzureRMAccount to set up your Azure credentials. (Unable to retrieve service key for ServicePrincipal account b9fc7478-f864-4f2d-b2c3-e57c58e45077. Please log in

[2017-09-19 02:12] muntaserq commented on #4191
I am seeing this error as well. I have tried deleting and redeploying the Automation account with no luck. I updated the modules, too. The error I am seeing:

`Your Azure credentials have not been set up or have expired, please run Login-AzureRMAccount to set up your Azure credentials. (Unable to retrieve service key for ServicePrincipal account xxxxxxxxxxxxxxxxxxxxxxxxx. Please log in again to su

[2017-09-19 05:54] sambanks commented on #4488
Hi Alexandair

Did you ever find a fix or a workaround for this? We are seeing the same thing.

Cheers

[2017-09-19 06:13] bganapa commented on #4435
Working on it

[2017-09-19 06:16] bganapa opened #4609 "Stack - Update Storage and Compute modules to consume IStorageContext interface"

[2017-09-19 06:19] bganapa opened #4610 "Stack - Azurestack specific subscription definition is not pipe-able to Select-AzureRmSubscription"
New-AzsTenantSubscription cmdlet ouputs a subscription definition object that is different from azure subscription definition.

New-AzsTenantSubscription resides in admin module and likely not often coupled with Select-AzureRmSubscription. This is low pri IMO

[2017-09-19 06:24] bganapa opened #4611 "Stack - Passing credential object to Add-AzureRmAccount fails in Federated ADFS scenarion"
ToDo - add details

[2017-09-19 06:27] bganapa opened #4612 "Need a way to extract the Token from the Context"
Nice to have a cmdlet like Get-TokenFromContext to get token without the need of making auth calls again

[2017-09-19 06:32] bganapa opened #4613 "Stack - Remove the dependency of MSI in azurestack deployment"

[2017-09-19 06:34] bganapa opened #4614 "Stack - Update stack compute, storage, network modules to support the latest stack specific api-version"

[2017-09-19 07:24] bganapa opened #4615 "Excessive Logging from New-AzureRmResourceGroupDeployment"
New-AzureRmResourceGroupDeployment constantly spews: Checking deployment status in 5 seconds

In azurestack BVTs, there are many template deployments, typically running up to an hour.

this creates a large amount of command line spew and makes it hard to find the useful output from the cmdlet.

[2017-09-19 18:44] vivsriaus opened #4616 "Return strong types of Resource cmdlets"
### Cmdlet(s)
Policy
Locks
ManagedApplication
ManagedApplicationDefinitions

### PowerShell Version
Instructions: to get PowerShell version, type `$PSVersionTable` and look for the value associated with `PSVersion`

### Module Version

### OS Version
Instructions: to get OS version, type `$PSversionTable` and look for value associated with `BuildVersion`

### Description

### Debug Output
Instruct

[2017-09-20 00:36] sergey-shandar opened #4620 "[Experiment][Compute] Login should happen before Job is started"
Currently, `New-AzVm -Name SomeVMName -AsJob` doesn't check if an Azure context has login information, subscription etc.

[2017-09-20 00:38] sergey-shandar opened #4621 "[Experiment][Compute] VM credential validation should happen before any resource is created."
VM credential validation should happen before any resource is created.

[2017-09-20 00:40] sergey-shandar opened #4622 "[Experiment][Compute] Roll-back is not implemented"
`New-AzVm` should implement proper roll back.

[2017-09-20 00:47] sergey-shandar opened #4623 "[Experiment][Compute] New-AzVm shoulb be idempotent."
Currently, `New-AzVm` relays on a name to create or use a resource.
- [x] To be idempotent, the operation should relay on a resource state. For example, the operation should create a new resource if a resource doesn't exist,
- [ ] otherwise the operation should get, validate, and modify (if necessary) the existing resource.
- [ ] Another issue is inferred `location`.

[2017-09-20 00:49] sergey-shandar opened #4624 "[Experiment][Compute] Implement unit testing and coverage."
`New-AzVm` should have proper unit tests.

[2017-09-20 00:53] sergey-shandar opened #4625 "[Experiment][Compute] New-AzVm should return an object which contain all required information"
`New-AzVm` should return an object which contain all required information, including
- [x] Verbos stream: created and used resources
- [ ] ids,
- [x] FQDN [P0].
- [x] Connection strings, Windows, Linux.
- [x] specific command for connecting via mstsc or ssh

Anything else?

[2017-09-20 00:57] sergey-shandar opened #4626 "[Experiment][Compute] Automatic building of `AzureRm.Compute.Experiment`."
Currently, we build the package manually.

[2017-09-20 01:00] sergey-shandar opened #4627 "[Experiment][Compute] Asynchronous operation (AsJob) should execute only long-running operations."
All preparation should be done in the current process/thread.

[2017-09-20 01:05] sergey-shandar opened #4628 "[Experiment][Compute] E2E Validation"
E2E validation, including
- [x] different parameters and Azure state
- [x] Windows connection
- [x] Linux connection.

[2017-09-20 07:17] janegilring commented on #4385
I am seeing the same with Get-AzureVm on version 4.3.1

[2017-09-20 11:32] bmcdfc opened #4629 "Get-AzureRmVM 3.3.1 fails when run concurrently in same process"
### Cmdlet(s)
Get-AzureRmVM

### PowerShell Version
5.1.14409.1005

### Module Version
3.3.1

### OS Version
10.0.14409.1005

### Description
When this command is executed concurrently in the same process (something we have seen in Azure Automation) it returns the following error.
get-azurermvm : Collection was modified; enumeration operation may not execute.

At GitHubIssueWithGetAzureRmVM:13 cha

[2017-09-20 12:02] ck-prabhakercirium commented on #4581
Hi, I'm getting the same error as well.
I am trying to publish an Azure Website using the "Publish-AzureWebsiteProject" command, and this seems to work only if I use first Import the PublishSettings file.
If I want to publish by trying to select a Subscription, it fails with the error mentioned in this log.

Here is the output that I got:
PS D:\AwareProvisioner\Aware.DemoPlatform\SimulateProvision

[2017-09-20 13:08] gregjhogan opened #4630 "Add cmdlets for VM runCommand action"
I find the [runCommand](https://github.com/Azure/azure-powershell/blob/master/src/ResourceManager/Compute/Commands.Compute/Generated/VirtualMachine/VirtualMachineRunCommandMethod.cs) action to be extremely useful, but there is no dedicated cmdlet for it.  Can you add cmdlets for it?

https://docs.microsoft.com/en-us/nodejs/api/azure-arm-compute/virtualmachines?view=azure-node-2.0.0#azure_arm_compu

[2017-09-20 16:52] markcowl opened #4631 "Rerecord test: TestVirtualNetworkGatewayP2SVpnProfile"
### Description

This test was recorded with an older version of networ library.  Need to re-record with a newer version and unskip

[2017-09-20 17:52] sergey-shandar opened #4632 "[Experiment][Compute] Tab Completion"
Auto-completion (tab).

- [ ] dynamic Location
- [ ] static Image Name
- [ ] static Public IP AllocationMethod

[2017-09-20 17:55] bganapa opened #4633 "Stack- Documentation alignement with azure doc process"
Rightnow, Stack folder tree is not scanned for documentation changes. The doc may not be in the desired folder structure. Need investigation

[2017-09-20 18:52] sergey-shandar opened #4634 "[Experiment][Compute] RGName"
Validate the `New-AzVm` command with RGName specified.

[2017-09-20 20:18] aw230012 opened #4635 "Test-AzureRmResourceGroupDeployment is not validating VM resource properties"
### Cmdlet(s)

### PowerShell Version

5.1.15063.608

### Module Version

### OS Version

10.0.15063.608

### Description

I was testing the validation process of Test-AzureRmResourceGroupDeployment.  I created an ARM template to create a VM.  I purposefully left out the networkProfile property.  When running Test-AzureRmResourceGroupDeployment, no errors were produced.  Next, I ran New-AzureRmRes

[2017-09-21 06:16] JinhongZh commented on #1524
+1
And ipconfig /flushdns didn't work for me :(

[2017-09-21 13:07] sergey-shandar opened #4637 "[Experiment][Compute] Create/reuse disk"
Currently a new disk is always created (with unique name).

[2017-09-21 18:17] sergey-shandar commented on #4634
Fixed.

[2017-09-21 18:17] #4634 closed

[2017-09-21 20:16] blarsonrp commented on #3800
I am also getting this error with trying to finalize my add-azurermapplicationgatewayrequestroutingrule changes with Set-AzureRmApplicationGateway -ApplicationGateway $AppGw1 on azurerm.netwrok version 4.2.1

[2017-09-22 21:40] darshanhs90 commented on #4249
The fix for this issue has been merged tot he repo

[2017-09-22 21:56] cormacpayne commented on #3808
Notes from design meeting:

- Cmdlets to introduce:
    - `Get-AzureRmDefaultResourceGroup -Name <arg>`
    - Set-AzureRmDefaultResourceGroup -Name <arg>`
        - If not value provided, create resource group
    - Clear-AzureRmDefaultResourceGroup
- Consider if these cmdlets should be consolidated into `Get/Set/Clear-AzureRmDefault` with parameters `-ResourceGroupName`, `-Location`, etc.
- Check

[2017-09-23 19:54] tom-dudley commented on #3792
The error looks to stem from the powershell module defined [here](https://github.com/Azure/azure-powershell/blob/c0a7f43dcb105feaba4043063c193883949d7054/src/ServiceManagement/Compute/Commands.ServiceManagement/IaaS/Extensions/DSC/Publish/DscExtensionPublishCmdletCommonBase.cs#L261-L273) and [here](https://github.com/Azure/azure-powershell/blob/75b53e9029a3a5a4e393f7a8702bae853e353501/src/Resource

[2017-09-24 18:20] rkyttle opened #4642 "Remove-Azure​RmVMNetwork​Interface examples section is blank"
https://docs.microsoft.com/en-us/powershell/module/azurerm.compute/remove-azurermvmnetworkinterface

There is a section labeled examples, which is blank

[2017-09-24 18:30] rkyttle commented on #4642
In addition, the parameters listed in the documentation are not correct
The documentation lists VM and NetworkInterfaceIDs as input parameters

When I run this on my system, I am prompted to provide Name and ResourceGroupName instead

[2017-09-24 19:17] bdanse opened #4643 "Start-AzureRmAutomationDscCompilationJob : Method not found"
### Cmdlet(s)
Start-AzureRmAutomationDscCompilationJob

### PowerShell Version
5.1.14409.1012

### Module Version
4.3.1      Azure
3.3.1      AzureRM.Automation

### OS Version
10.0.14409.1012

### Description
Unable to start a compilationjob from powershell

### Debug Output
Start-AzureRmAutomationDscCompilationJob : Method not found: 'Void Microsoft.Azure.Management.Automation.Models.DscCompilat

[2017-09-25 05:10] snekbaev commented on #3077
Hi,

added a workbook yesterday from the gallery, the very same "Set-AzureSqlDatabaseEdition" mentioned ealier. I did some testing with S1 <-> S0, thought other tiers will also work just fine.

Target was P4. Checked the logs this morning:

[code]

So apparently it is null for at least P4.

[2017-09-25 06:45] zaidmohd commented on #4581
Adding Nisha

________________________________
From: ck-prabhakercirium <notifications@github.com>
Sent: Wednesday, September 20, 2017 5:36 PM
To: Azure/azure-powershell
Cc: Zaid Mohammad; Mention
Subject: Re: [Azure/azure-powershell] Azure credentials Error in Azure PS Module 3.5 and above (#4581)

Hi, I'm getting the same error as well.
I am trying to publish an Azure Website using the "Publish-

[2017-09-25 07:03] dafoyiming opened #4644 "Get-AzureRmMetricDefinition API Version mismatch"
### Cmdlet(s)

### PowerShell Version
Instructions: to get PowerShell version, type `$PSVersionTable` and look for the value associated with `PSVersion`
`
PSVersion   5.0.10586.117
PSCompatibleVersions   {1.0,2.0,3.0,4.0...}
BuildVersion  10.0.10586.117
CLRVersion    4.0.30319.36399
WSManStackVersion  3.0
PSRemotingProtocolVersion 2.3
SerializationVersion  1.1.0.1 `
### Module Version

### OS Vers

[2017-09-25 11:55] juchom commented on #69
I just hit the same issue, I really think there is something to do here.

[2017-09-25 12:34] leonmeijer commented on #3544
Having the same issue

[2017-09-25 12:37] akinsriv commented on #4299
Please use below line of codes in case still using 4.1.0, You can work around this be doing the following after log in
$cdata =[Microsoft.Azure.Commands.Common.Authentication.AzureSession]::Instance.TokenCache.Serialize()
[Microsoft.IdentityModel.Clients.ActiveDirectory.TokenCache]::DefaultShared.Deserialize($cdata)

[2017-09-25 17:03] delboygills commented on #1586
And what is the Update? Would be interesting to know.....

[2017-09-25 20:23] maddieclayton opened #4647 "New-AzVm cmdlet fails when resourcegroup is used a second time after bad credentials are entered"
### Cmdlet(s)
New-AzVm
### PowerShell Version
5.1.15063.608

### Module Version

### OS Version
10.0.15063.608

### Description
When run New-AzVm with a new resource group but enter invalid credentials (password strength too low), and re-run the cmdlet with the same parameters, the cmdlet will fail, saying:

[code]

### Debug Output

### Script/Steps for Reproduction

[code]

[2017-09-25 20:53] testflyjets commented on #3954
@markcowl It doesn't appear that these fixes have been applied to PowerShell v6.0.0-beta7 for Linux or Mac OS:

[code]

Any thoughts on this?

[2017-09-25 22:56] MCrank opened #4649 "Set-AzureStorageBlobContent Command uses constant 13-14% CPU After Executing CMDLET"
### Cmdlet(s)
Set-AzureStorageBlobContent

### PowerShell Version
5.1.16296.0

### Module Version
3.3.1      Azure.Storage

### OS Version
10.0.16296.0

### Description
Script that pulls down Azure EA Billing Usage and manipulates the data before saving it back to a .csv file and uploading to an Azure Storage Account.  Upon execution of the Set-AzureStorageBlobContent cmdet my CPU hovers around 13

[2017-09-25 23:46] markcowl commented on #4649
@MCrank  Is this something that is new in the most recent version fo the cmdlets, or have you notice this in earlier versions?

[2017-09-25 23:48] maddieclayton commented on #3808
### Updated Description

Add a cmdlet to set default parameters (Resource Group, Location, etc).

- [ ] Add Set-AzureRmDefault to set a default resource group (with potential to add other defaults in the future).  Store default resource group in Context.ExtendedProperties.
   - `Set-AzureRmDefault -ResourceGroup <arg>`
- [ ] Add Get-AzureRmDefault to see defaults.  If no arguments are provided, sh

[2017-09-25 23:51] markcowl commented on #4612
This is unsecure.  The POR is to have Ivoke-AzurreRmRestMethod, which uses the token to make a rest call

[2017-09-25 23:51] #4612 closed

[2017-09-26 00:21] MCrank commented on #4649
@markcowl It is relatively new for me as this is a fairly new script.  I only noticed it because my machine was running a bit sluggish compared to normal and I saw that powershell.exe was running at a constant 13-14%.  I started to dig in using process explorer but could not see too far into the process.  So today I just put a breakpoint and stepped through the code watching the CPU as I did.  No

[2017-09-26 01:07] MCrank commented on #4649
@markcowl I just tested on my home machine, also Windows 10 with the latest Azure.Storage module pulled form the Gallery with the same results.

PS C:\WINDOWS\system32> Get-Module -Name Azure.Storage

ModuleType Version    Name                                ExportedCommands
---------- -------    ----                                ----------------
Script     3.4.0      Azure.Storage

[2017-09-26 01:13] sergey-shandar opened #4654 "If location is not specified then it has to be infer from other resources"
Because VM requires all resources (except a Resource Group) be in on region, it does make sense to use location from existing resources.

[2017-09-26 01:26] markcowl commented on #4586
Fixed

[2017-09-26 01:26] #4586 closed

[2017-09-26 01:26] markcowl commented on #4151
Fixed.

[2017-09-26 01:26] #4151 closed

[2017-09-26 01:28] markcowl commented on #4441
fixed.

[2017-09-26 01:28] #4441 closed

[2017-09-26 01:29] markcowl commented on #2222
fixed.

[2017-09-26 01:29] #2222 closed

[2017-09-26 01:29] markcowl commented on #4184
Fixed.

[2017-09-26 01:29] #4184 closed

[2017-09-26 01:29] markcowl commented on #2805
Moved into separate issues

[2017-09-26 01:29] #2805 closed

[2017-09-26 01:31] markcowl commented on #4590
Complete

[2017-09-26 01:31] #4590 closed

[2017-09-26 01:45] markcowl opened #4656 "Fix re-authentication issue with Token parameter set in Add-AzureRmAccount"
### Description

Primary authentication usign the token parameter set is working, but reauthentication with renewed tokens semes to fail

- [ ] Determine if this scenario can be covered by a mock test
- [ ] Enable token renewal in add-azurermaccount
- [ ] Validate using live tokens for RM, Graph, KeyVault, and verify renewal tokens are used

### Cost: 4

[2017-09-26 11:06] PandoraDirge commented on #2186
As Keithyau said one year ago: Same issue....
Any solutions?

My problem is very similar but I tried to de-escalate the HDinsight cluster....
This is my error:
 {
  "status": "Failed",
  "error": {
    "code": "ResourceDeploymentFailure",
    "message": "The resource operation completed with terminal provisioning state 'Failed'.",
    "details": [
      {
        "code": "InvalidDocumentErrorCode"

[2017-09-26 16:48] markcowl commented on #4656
- Note: the root cause here is that we are likely not updating the context details if we find that a context already exists - the credentials are stored as a proeprty of the 'Account'.  In general, we shoudl fix this so the interface method TrySetContext will coalesce the proeprties of the input context witht he existing context (after finding it).

[2017-09-26 18:32] darshanhs90 commented on #4564
@aaron-0 the best bet is to run the command in debug mode and provide us with the stacktrace. We can find out if there was any issue for this case alone or not.

[2017-09-26 18:33] darshanhs90 commented on #4249
Closing this as the issue is fixed in the powershell release 4.4.0

[2017-09-26 18:33] #4249 closed

[2017-09-26 18:36] darshanhs90 commented on #4235
Closing this as the issue is fixed in the powershell release 4.4.0

[2017-09-26 18:36] #4235 closed

[2017-09-26 23:03] maddieclayton opened #4665 "Add tab completer for Resource Group"
### Description
Add a resource group argument completer for appropriate cmdlets once work on https://github.com/Azure/azure-powershell/issues/3808 is complete.

- [x] Create tab completer for Resource Group by obtaining all resource groups for the current subscription
   - Ensure default resource group is first in list
   - Limit to 50 results
- [x] Add tab completer to select cmdlets with Resourc

[2017-09-27 00:51] markcowl commented on #4628
- Creating all objects new
- using existing objects
  - passed in name
  - already created (idempotence)
- AsJob

[2017-09-27 01:42] markcowl opened #4667 "Implement Force/ShouldContinue when using objects"
In a separate cmdlet, implement the Force/ShouldContinue pattern whenever the code logic uses an existing object instead of creating a new one.

Prsent the user with prompts: "Found VNet <name>. Use this VNet?

[2017-09-27 01:44] markcowl opened #4668 "Implement completely descriptive ShouldProcess prompts"
Create ShouldProcess prompts for each decision around a resource (Create/Use Vnet, Create/Use NSG, etc.)  In the end, if passing WhatIf, the user should have a complete idea of all the changes that would be made as a result of runnign the cmdlet.

[2017-09-27 05:53] mohanhimanshu90 commented on #4309
Same here. :(

[2017-09-27 12:21] camaya opened #4671 "New-AzureRmResourceGroupDeployment is stuck after it finishes the deployment"
### Cmdlet(s)
New-AzureRmResourceGroupDeployment

### PowerShell Version
5.1.15063.608

### Module Version
4.3.1

### OS Version
10.0.15063.608

### Description
After a template deployment finishes creating all the resources, the script is stuck checking for status.

### Debug Output
Here's a verbose log of the deployment:

[code]

### Script/Steps for Reproduction
This is the command I executed:

[2017-09-27 15:51] sphibbs commented on #75
Azure PowerShell continues to maintain RDFE support on a legacy basis: new functionality and bug fixes are addressed sparingly.  This issue does not meet the current threshold for consideration.

[2017-09-27 15:51] #75 closed

[2017-09-27 15:56] sphibbs commented on #483
https://docs.microsoft.com/en-us/powershell/module/azurerm.network/add-azurermvpnclientrootcertificate?view=azurermps-4.4.0

[2017-09-27 15:56] #483 closed

[2017-09-27 15:58] sphibbs commented on #781
Azure PowerShell continues to maintain RDFE support on a legacy basis: new functionality and bug fixes are addressed sparingly.  This issue does not meet the current threshold for consideration.

[2017-09-27 15:58] #781 closed

[2017-09-27 15:58] sphibbs commented on #768
Azure PowerShell continues to maintain RDFE support on a legacy basis: new functionality and bug fixes are addressed sparingly.  This issue does not meet the current threshold for consideration.

[2017-09-27 15:58] #768 closed

[2017-09-27 16:09] sphibbs commented on #705
![image](https://user-images.githubusercontent.com/14059531/30924433-8f3bb99a-a363-11e7-9a6f-6eb90a6223bc.png)

[2017-09-27 16:09] #705 closed

[2017-09-27 16:41] p4rnicke commented on #705
I do not get how your comment is related to this issue @sphibbs

[2017-09-27 16:51] sphibbs commented on #705
Sorry. Copy Paste error. {{checks clipboard and tries again}}
Azure PowerShell continues to maintain RDFE support on a legacy basis: new functionality and bug fixes are addressed sparingly.  This issue does not meet the current threshold for consideration.

[2017-09-27 17:11] KZeronimo commented on #2220
Is this issue manifesting in the Visual Studio 2017 command line installer - PowerShell instances are killed during the install of the Azure workload - this seemed to start manifesting >= 15.3

[2017-09-27 17:34] J0shuaTh0mps0n commented on #2434
Same issue here.  Were you able to resolve this one?

[2017-09-27 17:40] J0shuaTh0mps0n commented on #2434
Responding to my own comment and for anybody else that stumbles across this post.

Get-AzureRmBackupVault cmdlet is for listing the backup vaults. If you are trying to get recovery services vault use the below cmdlet:

1.Login-AzureRmAccount
2.Get-AzureRmRecoveryServicesVault -ResourceGroupName “Resource groupname” -Name “Recovery Services Vault”

[2017-09-27 17:41] philmea commented on #2434
Closing per last comment

[2017-09-27 17:41] #2434 closed

[2017-09-27 20:00] spottedmahn commented on #3978
@farzadmf how did you manually update AzureRm.Resources?

[2017-09-27 20:22] spottedmahn commented on #2688
I'm thinking "miss" is a typo and should be "powershell msi's"?

I had to use the msi install to fix my issue.  Using install-module did not work for me either.

[2017-09-27 22:22] bganapa opened #4672 "Stack - Update AzureRm.Bottstrapper profile map for 1.2.11 azure stack release"
Need to update the inbox profile map as well as in blob

[2017-09-27 22:35] vam2000 opened #4673 "Remove multiple users from multiple Azure subscriptions"
### Cmdlet(s)
Remove-AzureRmRoleAssignment

### PowerShell Version
 5.0.10586.1007

### Module Version
4.2.1

### OS Version
10.0.10586.1007

### Description
This is a script I found on MS Technet that has been invaluable to me in adding multiple users to multiple subscriptions. My thinking was that with a little tweaking, I could use this script to also remove users from multiple subscriptions. T

[2017-09-27 23:42] solankisamir opened #4676 "Get-AzureRmApiManagementSubscription ByProduct does not return same Type consistently"
### Cmdlet(s)
Get-AzureRmApiManagementSubscription

### PowerShell Version
4.4.0

### Module Version
AzureRm.ApiManagement

### OS Version
Any

### Description
The Cmdlet based on description should always return an IList<PsApiManagementSubscription>.
But it actually varies based on content.

### Debug Output
Instructions: to get Debug Output, set `$DebugPreference="Continue"` and then execute the

[2017-09-28 00:10] solankisamir commented on #4676
The advice is to *always* enumerate collections in your output (i.e. WriteOuput(myCollection, true).  PowerShell automatically unwraps single object collections returned as output.  For cmdlets that can return both a single object or a list of objects, you can include bot the object type and the enumerable (i.e. OutputType(typeof(foo), typeof(IList<Foo>)), you can also use the optional string para

[2017-09-28 01:09] vrdmr opened #4677 "Add tests for node configuration deployments functionality in Automation DSC"
Need to add tests for node configuration deployments functionality in Automation DSC, ref PR #4666

[2017-09-28 01:53] vrdmr commented on #4643
Hi @bdanse,
Thanks for reporting the issue. Could you please describe the repro steps a little more?

I tried this with 3.4.0, it kicked of the job correctly for the following cases (And there were no changes done between 3.3.1 and 3.4.0) :-
[code]

With the new `-IncrementNodeConfigurationBuild` flag passed.
[code]

[2017-09-28 03:38] maddieclayton commented on #4018
Fixed.

[2017-09-28 03:38] #4018 closed

[2017-09-28 04:15] vrdmr commented on #4496
Hi @JakobGSvendsen, The real issue, as you point out in the title is that the credential was not found and its evident with the `"message": "Credential not found."`. We have take up this task with and will try to get it in the next release. The issue has to do with better handling of error from our end. The "The Automation account was not found." is just the final fallback message.

[2017-09-28 11:11] mblaschke commented on #4309
I'm getting
[code]

[2017-09-28 14:18] tobese commented on #2635
Thx for the tip. But why isn't resource groups from the current subscription?

[2017-09-28 15:37] yobyot commented on #4491
Me, too. Same problem: trying to work through the PowerShell example to add a credential and stuck on not being able to run the sample code. BTW, where _are_ the objects documented? I couldn't find them easily. FWIW, I am used to AWS where objects are linked from the cmdlet doc. Wish Azure would do the same.

[2017-09-28 16:02] RomanNalapko opened #4680 "Restore-AzureRmWebAppBackup requires app service plan"
### Cmdlet(s)

### PowerShell Version
5.1.15063.608

### Module Version
4.4.0
### OS Version
10.0.15063.608

### Description

### Debug Output
Restore-AzureRmWebAppBackup : Unable to determine app service plan for restored site. Specify an app service plan.
At C:\01_WorkingData\Azure\Source\RestoreFromBackup.ps1:87 char:5
+     Restore-AzureRmWebAppBackup -ResourceGroupName $resourceGroupName ...

[2017-09-28 21:14] sdwheeler opened #4684 "New-AzureRMAutomationConnection documentation is out of date"
Copied from https://github.com/Azure/azure-docs-powershell/issues/419

### Cmdlet(s)
New-AzureRMAutomationConnection

### PowerShell Version
Instructions: to get PowerShell version, type `$PSVersionTable` and look for the value associated with `PSVersion`

### Module Version
AzureRM.Automation (Version 3.4.0)

### OS Version
Instructions: to get OS version, type `$PSversionTable` and look for valu

[2017-09-28 21:44] viananth opened #4685 "Add- & Set-AzureRmEnvironment throws error for correct -ArmEndpoint parameter"
### Cmdlet(s)
Add- & Set-AzureRmEnvironment

### PowerShell Version
5.1.14393.1737

### Module Version
azurerm.profile 3.4.0

### OS Version
 10.0.14393.1737

### Description
Add-AzureRmEnvironment -name stackadmin -ARMEndpoint “https://adminmanagement.redmond.ext-u15f2402.masd.stbtest.microsoft.com”
Add-AzureRmEnvironment : **Endpoint provided is invalid. Please check the value and retry again wi

[2017-09-28 21:49] viananth opened #4686 "Set-AzureRmEnvironment should update only the new fields preserving the existing fields"
### Cmdlet(s)
Set-AzureRmEnvironment

### PowerShell Version
5.1.14393.1737

### Module Version
3.4.0

### Description
Set-AzureRmEnvironment removes existing values for an already created environment. It doesn't preserve old values.

### Script/Steps for Reproduction
PS C:\Windows\system32> **Set-AzureRmEnvironment -AzureKeyVaultDnsSuffix adminvault.local.azurestack.external -Name AzurestackAdmin

[2017-09-28 22:16] doctordns commented on #483
Thanks

I’d quite forgotten that post!

Nice to see it’s done!

From: Scott Phibbs [mailto:notifications@github.com]
Sent: 27 September 2017 17:01
To: Azure/azure-powershell <azure-powershell@noreply.github.com>
Cc: Thomas Lee <doctordns@gmail.com>; Author <author@noreply.github.com>
Subject: Re: [Azure/azure-powershell] Need a cmdlet to upload a p2s VPN Gateway root cert (#483)

Closed #483<https

[2017-09-29 03:51] irwins commented on #3088
I just tried it in PSCloud, still an issue...
![image](https://user-images.githubusercontent.com/10112589/31000140-d223294c-a4d9-11e7-81bc-f73040e4b57b.png)

Workaround now is to use graph RESTAPI.

[code]

[2017-09-29 09:27] duckboy1981 opened #4690 "New WebApp slots have rouge functions associated"
### Cmdlet(s)
Remove-AzureRMWebAppSlot
New-AzureRmWebAppSlot

### PowerShell Version
5.1.14393.1715

### Module Version
3.5.0

### OS Version
10.0.14393.1715

### Description
After first removing a Slot and then recreating it, one would expect that there are no functions.  However, old functions still exist under the freshly minted Slot.

### Script/Steps for Reproduction
Run the following Cmdlets

[2017-09-29 11:48] nbmsm1 commented on #4491
I have observed that password credentials created with **PSADKeyCredential** show up when viewing the application in the portal, whereas password credentials created with **New-AzureRmADSpCredential** do not. Is this correct?

[2017-09-29 13:42] stylerOD commented on #3884
Just resolved a support ticket with MS for this one. Solution:
Select-AzureRmSubscription -SubscriptionId 123456-abcd-etc
Get-AzureRmRoleAssignment -Scope "this parameter either does nothing or is just misleading in its name and description, but isn't what we'd use for the problem everyone looking at this thread is probably encountering"

Only took us two weeks to figure out.

[2017-09-29 16:33] maddieclayton commented on #4359
Last task associated with this issue: Ensure that each team makes the necessary changes before the November release.
- [ ] Network
- [ ] Batch
- [ ] Resources
- [ ] ApiManagement
- [ ] Compute

[2017-09-29 17:07] vicp-iq opened #4691 "Add-AzureAccount falsely succeeds when ADFS credentials are passed in via -Credential"
### Cmdlet(s)
Add-AzureAccount

### PowerShell Version
5.1.14409.1012

### Module Version
4.0.2

### OS Version
10.0.14409.1012

### Description
After upgrading from V2.1.0 -> 4.0.2, running ```Add-AzureAccount -Credential $cred``` fails to initialize my session, but claims to have succeeded

### Debug Output
[code]

### Script/Steps for Reproduction

[code]

I see that the debug output suggests t

[2017-10-02 01:27] nthewara opened #4695 "The access token expiry UTC time 'XXX' is earlier than current UTC time 'XXX'"
### Cmdlet(s)

### PowerShell Version
Instructions: to get PowerShell version, type `$PSVersionTable` and look for the value associated with Name                           Value
----                           -----
PSVersion                      5.1.15063.608
PSEdition                      Desktop
PSCompatibleVersions           {1.0, 2.0, 3.0, 4.0...}
BuildVersion                   10.0.15063.608

[2017-10-02 05:49] bganapa opened #4697 "Stack - Provide a migration guide for 1.2.11 release"
For the upcoming azurestack powershell release 1.2.11, provide a migration guide for the breaking changes

[2017-10-02 06:32] haragarden3 commented on #4680
I’m also getting this error starting last week and using script that worked two weeks ago.
Any news/solution would be appreciated

[2017-10-02 09:38] 4c74356b41 commented on #4476
any news on this one? this is about 2 months old :(

[2017-10-02 13:15] ig-sinicyn opened #4698 "[Request for help] Removing load balancer nat rule from vmss"
### Cmdlet(s)
Set-AzureRmNetworkInterface

### PowerShell Version
 5.1.15063.608

### Module Version
 4.1.0      AzureRM.Network

### OS Version
10.0.15063.608

### Description
I'm trying to remove a NAT rule from a load balancer associated with VMSS.
the simple
[code]

fails with
[code]

the attempt to remove rule from NIC and update it fails with
[code]

full script:
[code]

so is there any work

[2017-10-02 14:49] sorenhansendk commented on #4476
I have the same problem in a Docker container hosted in **Ubuntu 16.04.3** (Xenial) and with version **0.9.1 of AzureRM.NetCore** Powershell.

Any news about this?

[2017-10-02 17:35] AyoOlubeko commented on #1528
Adding to gotmoo's answer above, make sure the values of your hashtable are strings otherwise serialization does not happen properly

[2017-10-02 17:40] cormacpayne commented on #4698
@DeepakRajendranMsft Hey Deepak, would you mind taking a look at this issue?

[2017-10-02 17:43] cormacpayne commented on #4690
@aspaan Hey Aspaan, would you mind taking a look at this issue?

[2017-10-02 22:04] JohanEng opened #4700 "Import-AzureRmRedisCache : Long running operation failed with status 'Conflict'"
### Cmdlet(s)
Import-AzureRmRedisCache

### PowerShell Version
 5.1.14393.1480

### Module Version
AzureRM 4.4.0 (latest)
AzureRM.RedisCache 3.4.0 (latest)

### OS Version
10.0.14393.1480

### Description
I'm getting a strange error with PowerShell AzureRM 4.4.0. When I run  Import-AzureRmRedisCache -ResourceGroupName $rg -Name $rediscache -Files $sasKeyForBlob -Force It runs for about 1 minute an

[2017-10-03 02:19] #4700 closed

[2017-10-03 05:41] lukeb1961 opened #4702 "Get-AzureRmAutoscaleSetting not returning Capacity properties"
### Cmdlet(s)
Get-AzureRmAutoscaleSetting

### PowerShell Version

Name                           Value
----                           -----
PSVersion                      5.1.16299.0
PSEdition                      Desktop
PSCompatibleVersions           {1.0, 2.0, 3.0, 4.0...}
BuildVersion                   10.0.16299.0
CLRVersion                     4.0.30319.42000
WSManStackVersion

[2017-10-03 07:38] 4c74356b41 commented on #4476
@sorenhansendk its not like its related to docker. its a problem with Azure Powershell, you cannot auth silently to it, only manually. which is a total roadblock.

[2017-10-03 12:40] clericc opened #4703 "Set-AzureRmVMOSDisk does not honor New-AzureRmDiskConfig -OsType property"
### Cmdlet(s)
Set-AzureRmVmOSDisk, New-AzureRmDiskConfig

### PowerShell Version
4.4.0

### Module Version

### OS Version
Windows 10

### Description
I create a new managed Disk config from a snapshot:
`$newOsDiskConfig= New-AzureRmDiskConfig
        -CreateOption Copy
        -SourceResourceId $snapshot.Id
        -Location $snapshot.Location
        -SkuName someSku
        -OsType $currentDisk

[2017-10-03 15:00] andradf opened #4704 "Update-AzureRMVmss fails with error "Changing property 'zones' is not allowed.""
### Cmdlet(s)
Update-AzureRMVmss

### PowerShell Version
5.1.15063.608

### Module Version
AzureRM.Compute 3.4.0

### OS Version
10.0.15063.608

### Description
When attempting to update a Virtual Machine Scale Set. The command fails with error "Changing property 'zones' is not allowed."
The VirtualMachineScaleSet object passed to Update-AzureRMVmss has null as the value for the Zones property, so

[2017-10-03 19:07] jingcwan opened #4706 "Add-AzureRmServiceFabricNodeType fails with error "The entity name 'osDisk.name' is invalid according to its validation rule""
### Cmdlet(s)
Add-AzureRmServiceFabricNodeType

### PowerShell Version
5.1.15063.608

### Module Version
Powershell 4.4.0

### OS Version
10.0.15063.608

### Description
When attempting to add new node type to an existing cluster. The command fails with error "The entity name 'osDisk.name' is invalid according to its validation rule: ^[^_\W][\w-._]{0,79}(?<![-.])$. ". The section in arm template r

[2017-10-03 20:32] dotnetgator opened #4708 "Update-AzureRmServiceFabricDurability fails when NodeType differs from VMSS name"
### Cmdlet(s)
Update-AzureRmServiceFabricDurability

### PowerShell Version
5.1.14393.1480 (from Azure Portal PowerShell shell)

### Module Version
???

### OS Version
10.0.14393.1480 (from Azure Portal PowerShell shell)

### Description
The command assumes that VMSS name and Node Type must be matched for Service Fabric - they do not have to match, and can differ if a custom template is used.

###

[2017-10-03 20:53] sergey-shandar opened #4709 "[Experiments][Compute] Get all available images from Azure."
Currently, the images are hardcoded. We should use `Get-AzureRmVMImage*` to get all available images.

[2017-10-03 23:21] lukeb1961 commented on #4702
just a follow-up, what works is
 (Get-AzureRmAutoscaleSetting -ResourceGroup $ResourceGroup).profiles[0].Capacity
Minimum Maximum DefaultProperty
------- ------- ---------------
2       10      3
versus
(Get-AzureRmAutoscaleSetting -ResourceGroup $ResourceGroup).profiles.Capacity
4

[2017-10-04 09:19] keyaertc commented on #4680
Same problem for me with a Runbook running in Azure Automation.

[2017-10-04 11:25] ulkeba opened #4712 ""New-AzureRmVpnClientConfiguration" requires 'virtualNetworkGatewayName' but rejects it as parameter"
The documentation [AzureRM-Doc](https://docs.microsoft.com/en-us/powershell/module/azurerm.network/new-azurermvpnclientconfiguration?view=azurermps-4.4.0) and here [Azure-P2S-VPN-Doc](https://docs.microsoft.com/de-de/azure/vpn-gateway/point-to-site-vpn-client-configuration-azure-cert) suggest creating a VPN client configuration using this command:
&nbsp;`New-AzureRmVpnClientConfiguration -Resource

[2017-10-04 11:33] nthewara commented on #4695
i can confirm that after running Disable-AzureRmContextAutosave i dont have token expiry issues anymore

[2017-10-04 16:38] SlothCroissant opened #4714 "Get-AzureRmVirtualNetworkGatewayAdvertisedRoute responds with empty body"
### Cmdlet(s)
Get-AzureRmVirtualNetworkGatewayAdvertisedRoute

### PowerShell Version
[code]

### Module Version
[code]

### Description
Cmdlet `Get-AzureRmVirtualNetworkGatewayAdvertisedRoute` worked in Azure PS v4.3.1, but no longer works in Azure PS v4.4.0.

I ran it in 4.3.1, upgraded to 4.4.0, and instantly ran it again, and it responds with an empty body.

### Debug Output
Instructions: to g

[2017-10-04 19:55] tran-barry opened #4715 "Multiple logins will cause Select-AzureRmSubscription to select default subscription"
### Cmdlet(s)
- Import-AzureRmContext
- Select-AzureRmSubscription

### PowerShell Version
- 5.1.15063.296

### Module Version
- 4.4.0

### OS Version
- 10.0.15063.296

### Description
If you login multiple times within the same console session, every 2nd login will cause `Select-AzureRmSubscription` to select the default subscription associated with your login instead of the one you specify.

Thi

[2017-10-04 20:58] markcowl commented on #4695
@nthewara Yes, this is a known issue with the new cmdlets, see: https://github.com/Azure/azure-powershell/issues/4656 This is due to be fixed in our cleanup release next week.  Closing this as a duplicate of the issue.

[2017-10-04 20:58] #4695 closed

[2017-10-04 22:00] viananth opened #4716 "Rename *-AzsTenantSubscription to *-AzsUserSubscription"
### Cmdlet(s)
Get-AzsTenantSubscription
Set-AzsTenantSubscription
New-AzsTenantSubscription
Remove-AzsTenantSubscription

### PowerShell Version
Instructions: to get PowerShell version, type `$PSVersionTable` and look for the value associated with `PSVersion`

### Module Version
AzureStackAdmin 0.11.1

### Description
*-AzsTenantSubscription  cmdlets should be renamed to *-AzsUserSubscription

[2017-10-05 11:33] keyaertc commented on #4680
I opened a case at Azure Support: REG:117100516447008

[2017-10-05 12:58] KarlGW commented on #4385
Any improvments yet? This issue still persists.

[2017-10-05 15:50] lesterw1 opened #4720 "New-AzureRmNetworkSecurityRuleConfig is incredibly slow"
### Cmdlet(s)
New-AzureRmNetworkSecurityRuleConfig

### PowerShell Version
5.1.14409.1012

### Module Version
AzureRM.Network 4.4.0

### OS Version
10.0.14409.1012

### Description
This cmdlet is incredibly slow... over 2 seconds to create a single instance.  Try it yourself:
Measure-Command { $r = New-AzureRmNetworkSecurityRuleConfig -Name "Test" } .
It is MUCH faster to generate your own object

[2017-10-05 17:44] cormacpayne commented on #4385
It appears that this is fixed with the following PR: https://github.com/Azure/azure-powershell/pull/4679

We anticipate this PR fixes most issues people are seeing with the `AutoMapperMappingException`. We are looking to get this PR into the October release that goes out this Tuesday (October 10th).

[2017-10-05 18:11] cormacpayne opened #4723 "Refactor Smart Tester tests with hard-coded values"
There are currently a few tests that have a hard-coded number of total test suites that are expected:
- https://github.com/Azure/azure-powershell/blob/preview/tools/BuildPackagesTask/Microsoft.Azure.Build.Tasks.Test/TestSetGeneratorTester.cs#L371-L399
- https://github.com/Azure/azure-powershell/blob/preview/tools/BuildPackagesTask/Microsoft.Azure.Build.Tasks.Test/TestSetGeneratorTester.cs#L444-L45

[2017-10-05 18:31] cormacpayne commented on #4418
@cadumi @josephsctan @blueww we believe this is an issue with `AutoMapper` being used statically across numerous modules. I have a PR open to make a mapper instance for each module, which _should_ resolve the above issue: https://github.com/Azure/azure-powershell/pull/4679

We are looking to get this fix into the release that goes out on Tuesday (October 10th).

[2017-10-05 18:37] maddieclayton opened #4724 "Add scenario tests for LocationCompleter and ResourceGroupCompleter"
### Description
Add scenario tests for end-to-end validation of LocationCompleter
- [x] Add C# tests for FindLocation (will test calls to the client)

Add scenario tests for end-to-end validation of ResourceGroupCompleter
- [x] Add C# tests for GetResourceGroups (will test calls to the client)

[2017-10-05 18:39] #3807 closed

[2017-10-05 19:32] andyjballgit commented on #1166
I just hit this issue with 4.4.0 of AzureRM.Resources , will it be fixed ?

[2017-10-05 20:06] cormacpayne commented on #1166
@darshanhs90 Hey Haridarshan, would you mind taking a look at this issue?

[2017-10-05 20:16] andyjballgit commented on #1166
thx , a quick win would be to update help / add an .example.

[2017-10-06 00:30] #4716 closed

[2017-10-06 18:24] maddieclayton opened #4727 "ResourceManagementClient.GetConstructor does not find correct constructor when optional parameters are missing"
### Description
The call to ResourceManagementClient.GetConstructor() does not find constructors with optional parameters when the optional parameter is missing.  See usage in CreateCustomArmClient.

### Script/Steps for Reproduction
var client = AzureSession.Instance.ClientFactory.CreateArmClient<ResourceManagementClient>(context, AzureEnvironment.Endpoint.ResourceManager);

Fails saying that Res

[2017-10-06 19:22] markcowl commented on #4727
The underlying issue is that if there are not delegating handlers in the ClientFactory, the correct constructor will not be found.

That is, it is usually trying to find a constructor like this:

```.ctor(Uri, ServiceClientCredentials, params DelegatingHandler[])```

and this constructor is not found by reflection unless the optional DelegatingHandler[] type is provided in the list of types - and

[2017-10-07 00:33] sergey-shandar opened #4735 "[Experiment][Compute] New-AzVm should create a strorage account"
The issues is that a storage account has to be created in the same location. By default, Azure tries to reuse an existing storage which could be in a different location.
- [x] by default, boot diagnostic should be disabled
- [ ] if boot diagnostic is required, then storage account should be provided.

[2017-10-07 01:42] #4686 closed

[2017-10-08 18:59] sharpjs commented on #1665
FWIW, @FredrikGoransson's suggestion (`Clear-AzureProfile -Force`) fixed this problem for me.

[2017-10-09 07:16] pixelicous commented on #2873
A powershell workflow runbook that worked continuously, stopped working out of the blue. nothing changed on the automation account.
The lines that followed that error:
Select-AzureRmSubscription -SubscriptionName $SubscriptionName
$AzureRMVMSS = Get-AzureRMVMSS (<<< The error is on this line)

It might be out of date modules, but this as worked up till today, without us updating the modules manual

[2017-10-09 07:32] iricigor opened #4740 "Get-AzureKeyVaultSecret ignoring Name parameter"
### Cmdlet(s)
Get-AzureKeyVaultSecret

### PowerShell Version
PSVersion 5.1.15063.632

### Module Version
4.4.0      AzureRM
3.4.0      AzureRM.KeyVault

### OS Version
Windows 10, BuildVersion                   10.0.15063.632

### Description
When cmdlet is executed with two parameters VaultName and Name, it is properly resolving to the parameter set **BySecretName**.
But, when those two paramete

[2017-10-09 10:36] durai89 commented on #4510
Do we have any fix for this issue? I am facing the same, unable to fetch user details by email Id.

[2017-10-09 13:05] svpudik commented on #4704
I have same issue...
[code]

[2017-10-09 14:39] leowumsft opened #4741 "Get-AzureRmADAppCredential with provided ApplicationId throws a exception"
### Cmdlet(s)

### PowerShell Version
5.1.15063.608

### Module Version
4.4.0

### OS Version
10.0.15063.608

### Description
Execute the cmdlet Get-AzureRmADAppCredential by providing ApplicationId parameter.   ApplicationId can be a valid one or a dummy value.   It always output the exception.

### Debug Output

[code]

### Script/Steps for Reproduction
Get-AzureRmADAppCredential -ApplicationId

[2017-10-09 15:08] sdwheeler opened #4742 "Output type for Get-AzureRmDisk is incorrect in documentation"
### Cmdlet(s)
Get-AzureRmDisk

### PowerShell Version
Current

### Module Version
Current AzureRM.Compute

### Description

Need up update output type in the documentation and document the PSDisk class.

[2017-10-09 15:17] sdwheeler opened #4743 "Docs for Set-AzureRmApplicationGatewayBackendAddressPool have invalid example"
### Cmdlet(s)
Set-AzureRmApplicationGatewayBackendAddressPool

### PowerShell Version
Current

### Module Version
Current AzureRM.Network

### Description

LiveFyre comment:

Need to fix example syntax errors and remove invalid parameter in example #3.

[2017-10-09 15:20] sdwheeler opened #4744 "Docs for Set-AzureStorageBlobContent missing examples"
### Cmdlet(s)
Set-AzureStorageBlobContent

### PowerShell Version
Current

### Module Version
Current Azure.Storage

### Description

LiveFyre comment:

[2017-10-09 15:22] sdwheeler opened #4745 "Docs for Stop-AzureRmResourceGroupDeployment missing examples"
### Cmdlet(s)
Stop-AzureRmResourceGroupDeployment

### PowerShell Version
Current

### Module Version
Current AzureRM.Resources

### Description
LiveFyre comment:

[2017-10-09 15:30] sdwheeler opened #4746 "Need to document paramter aliases for New-AzureRmStorageAccountKey"
### Cmdlet(s)
New-AzureRmStorageAccountKey
Module: AzureRM.Storage

### PowerShell Version
Current

### Description
LiveFyre comment:

"StorageAccountName" and "AccountName" are aliases for the "Name" parameter. But that should be documented.

[2017-10-09 16:40] cormacpayne commented on #4510
@solankisamir ping

[2017-10-09 17:16] cormacpayne commented on #4740
@iricigor thanks for opening up this issue! After a little investigation, this looks to be a PowerShell issue with how they handle piping to a cmdlet with a default parameter set.

I created a test cmdlet with the following attributes:

[code]

Creating a hashtable with the parameters necessary for the `FooBar` parameter set and piping that to this cmdlet will fail:

[code]

However, when I remove

[2017-10-09 17:52] sergey-shandar commented on #4735
The storage account is created for Boot Diagnostics only.

[2017-10-09 17:57] cormacpayne commented on #4741
@darshanhs90 Hey Haridarshan, would you mind taking a look at this issue?

[2017-10-09 18:14] #4446 closed

[2017-10-09 18:16] maddieclayton opened #4748 "Add LocationCompleter to Compute cmdlets"
### Description
- [ ] Add LocationCompleter to Compute cmdlets with -Location parameters
- [ ] Document issues

[2017-10-09 18:32] cormacpayne commented on #4746
@sdwheeler Hey Sean, this is documented for the `Name`  parameter in the `Aliases` property:

### -Name
Specifies the name of the Storage account for which to regenerate a storage key.

[code]

Are you saying that the example should be changed from `AccountName` to `Name`?

[2017-10-09 18:33] cormacpayne commented on #4744
@blueww Hey Wei, would you mind taking a look at this documentation issue?

[2017-10-09 18:37] cormacpayne commented on #4743
@DeepakRajendranMsft  Hey Deepak, would you mind taking a look at this documentation issue, or redirecting it to the appropriate team? It looks to be an easy fix, but I just wanted confirmation on the third example using an incorrect parameter.

[2017-10-09 18:42] sdwheeler commented on #4746
@cormacpayne Sorry, my bad. It is documented. But that raises an interesting question about the example. Should we use an alias name in the example? My opinion is 'probably not'. This would avoid confusion when looking for the parameter definition in the reference doc. Opinion?

Are there pipeline examples where the aliased names get used for parameter mapping? Do we care about documenting that?

[2017-10-09 20:47] solankisamir commented on #4510
@cormacpayne yes I am aware of the issue.

[2017-10-09 20:52] twitchax commented on #4742
@hyonholee, can you take a look at this?

[2017-10-09 21:14] cormacpayne commented on #4720
@lesterw1 thanks for opening this issue! Taking a look at this cmdlet, it looks like it takes a few milliseconds to actually create the object and write it to the output stream (which is equivalent to what you mentioned above about directly creating the object and populating the properties), so the issue lies somewhere in the steps before the `ExecuteCmdlet` method is run. One thing I noticed was

[2017-10-09 21:15] cormacpayne commented on #4720
CC: @DeepakRajendranMsft

[2017-10-09 21:19] cormacpayne commented on #2873
@pixelicous thanks for the update. We're looking to fix issues relating to `AutoMapperMappingException` in [this PR](https://github.com/Azure/azure-powershell/pull/4679) and have it go in with the 4.4.1 release of Azure PowerShell.

[2017-10-09 21:21] sergey-shandar commented on #4628
#4655

[2017-10-09 21:21] #4628 closed

[2017-10-09 21:22] sergey-shandar commented on #4625
#4655

[2017-10-09 21:22] #4625 closed

[2017-10-09 21:23] sergey-shandar commented on #4632
#4655

[2017-10-09 21:23] #4632 closed

[2017-10-09 21:24] sergey-shandar commented on #4647
#4655

[2017-10-09 21:24] #4647 closed

[2017-10-09 22:20] cormacpayne commented on #4746
@sdwheeler I'm in the same boat as you - we should use the actual parameter name over alias name when possible (the only exception I can see is when the parameter name is long, or is something that a user of the service might not be totally familiar with, then I would consider using one of the aliases).

Same thing for alias examples - it won't affect functionality if we use the actual name vs the

[2017-10-09 22:27] sdwheeler commented on #4746
@cormacpayne I will change the example to use the actual name.

[2017-10-09 22:58] cormacpayne commented on #4740
I have opened an issue in the `PowerShell` repository here: https://github.com/PowerShell/PowerShell/issues/5071

[2017-10-09 23:31] cormacpayne commented on #4712
@ulkeba thanks for opening this issue! It looks like this is an error in the documentation.

@ritwikbasu Hey Ritwik, would you mind taking a look at this issue?

[2017-10-09 23:39] ritwikbasu commented on #4712
This is an issue with documentation. This command takes resource group name and gateway name by pipeline value.

Please try this:
New-AzureRmVpnClientConfiguration -ResourceGroupName "TestRG" -Name "VNet1GW" -AuthenticationMethod "EapTls"

Will fix this documentation issue.

[2017-10-10 00:27] cormacpayne commented on #4708
@QingChenmsft  Hey Ching, would you mind taking a look at this issue?

[2017-10-10 00:29] cormacpayne commented on #4706
@jagilber Hey Jason, it appears that you fixed this issue in https://github.com/Azure/azure-powershell/pull/4725

Please let me know if that is not the case.

[2017-10-10 00:31] QingChenmsft commented on #4708
Vaishanv and Justin will help take a look, they are the owners now, i am not .

[2017-10-10 00:33] cormacpayne commented on #4704
@hyonholee Hey Hyonho, would you mind taking a look at this issue?

[2017-10-10 00:35] cormacpayne commented on #4704
CC: @gbowerman

[2017-10-10 00:40] matthchr commented on #4230
This will be fixed in the upcoming powershell release at the end of November

[2017-10-10 00:41] cormacpayne commented on #4703
@hyonholee Hey Hyonho, would you mind taking a look at this issue?

CC: @singhkays

[2017-10-10 00:49] cormacpayne commented on #4702
@gucalder Hey Guillermo, would you mind taking a look at this issue?

[2017-10-10 01:04] gbowerman commented on #4704
@cormacpayne fixed in https://github.com/Azure/azure-powershell/pull/4701 - should be in October PowerShell release.

[2017-10-10 03:04] blueww commented on #4744
@sdwheeler
Thanks for reporting this! I will update the help doc.

We can use a hash table to set the properties, as below:

`Set-AzureStorageBlobContent -File C:\temp\a.jpg -Container testcontainer -Properties @{"ContentType" = "image/jpeg"; "ContentMD5" = "i727sP7HigloQDsqadNLHw=="}`

Only following 6 properties are supported to set:

- CacheControl
- ContentDisposition
- ContentEncoding
- Conte

[2017-10-10 03:27] blueww commented on #4744
@cormacpayne
PR is raised: https://github.com/Azure/azure-powershell/pull/4751
Would you please help to review?
Thanks!

[2017-10-10 08:21] twitchax commented on #691
@singhkays, has your team had a chance to take a look at this?

[2017-10-10 08:29] iricigor commented on #4740
@cormacpayne Thanks for comments and reporting it in PowerShell repo. I figured out the similar. Yet, some cmdlets are handling piping multiple values properly, as visible in the example below. More or less, it would be expected for related commands to support piping to each other. I would expect this to work: `Get-AzureKeyVaultSecret -VaultName a | Get-AzureKeyVaultSecret` (reads all secrets and

[2017-10-10 09:42] arcotek-ltd opened #4752 "Start-AzureRmAutomationDscCompilationJob: issue when passing hashtable object to -parameters"
### Cmdlet(s)
`Start-AzureRmAutomationDscCompilationJob`

### PowerShell Version
Instructions: to get PowerShell version, type `$PSVersionTable` and look for the value associated with `PSVersion`

[code]

### Module Version
[code]
### OS Version
Instructions: to get OS version, type `$PSversionTable` and look for value associated with `BuildVersion`
See above (Windows 10)

### Description
Receivin

[2017-10-10 10:13] arcotek-ltd opened #4753 "Start-AzureRmAutomationDscCompilationJob: Portal output issues / lack of documentation"
### Cmdlet(s)
`Start-AzureRmAutomationDscCompilationJob`

### PowerShell Version
Instructions: to get PowerShell version, type `$PSVersionTable` and look for the value associated with `PSVersion`
[code]

### Module Version
[code]
### OS Version
Instructions: to get OS version, type `$PSversionTable` and look for value associated with `BuildVersion`
See above.

### Description
This may be a bug or

[2017-10-10 11:24] rezaamya commented on #1405
this setup requires the windows powershell 3.0 or compatible version to be installed

![image](https://user-images.githubusercontent.com/8912282/31384223-dd186fac-adca-11e7-9673-e75a23e91ed4.png)

[2017-10-10 12:33] ravit-analytics commented on #4706
is the issue with "osDisk.name" fixed?

[2017-10-10 16:52] joshnoe commented on #2916
How about at least adding the workaround to the README?

[2017-10-10 17:10] jagilber commented on #4706
@cormacpayne @ravit-analytics
that is correct, pr #4725 resolves issue #4706

[2017-10-10 17:24] #4746 closed

[2017-10-10 17:43] singhkays commented on #691
Hey @twitchax, I haven't owned this area in a while. Adding @kmouss who owns images. He'll know if there are any improvements planned.

[2017-10-10 17:51] sergey-shandar commented on #4654
#4756

[2017-10-10 18:35] sergey-shandar opened #4757 "[Experiment][Compute] PoC for C# implementation"
Two options are
1. use C# functions without PowerShell API (Microsoft Automation) and then create a façade for PowerShell cmdlets.
1. use C# to implement PowerShell cmdlets

[2017-10-10 18:37] sergey-shandar opened #4759 "[Experiment] WebAPI should be implemented using generic resource logic"
Currently, it's two separate scripts (Web and VM). `New-AzVm` has a generic resource management logic which can be used (in theory) with Web as well.

[2017-10-10 19:24] hintbw commented on #3776
This is still an issue today with what I encountered.

[2017-10-10 19:38] sdwheeler opened #4761 "Docs for New-AzureProfile needs examples"
### Cmdlet(s)
New-AzureProfile
https://docs.microsoft.com/powershell/module/azure/new-azureprofile

### Module Version
Module: Azure
Azure Service Management PowerShell 4.0.0

### Description
LiveFyre Comment:

[2017-10-10 20:01] aaron-0 commented on #4564
@darshanhs90 I have emailed you the full debug output as it contains identifying information

[2017-10-10 20:02] twitchax commented on #691
Thanks, @singhkays.

[2017-10-10 21:57] cormacpayne commented on #4753
@vrdmr Hey Varad, would you mind taking a look at this issue?

[2017-10-10 22:51] markcowl commented on #1555
There is now a doc on docs.microsoft.com: https://docs.microsoft.com/en-us/powershell/azure/context-persistence?view=azurermps-4.4.0

[2017-10-10 22:51] #1555 closed

[2017-10-10 23:13] bganapa opened #4766 "Remove Get-AzsSubscription from AzureRm.AzureStackAdmin module"
This is not needed as customer can simply use Get-AzureRmSubscription

[2017-10-10 23:16] gimartinb commented on #4706
Is this released yet? If so, what version of the modules do I need?

[2017-10-10 23:45] cormacpayne commented on #4706
@gimartinb this hasn't been released yet; we're looking to go out the door with these changes in AzureRM 4.4.1 within the next couple of days

[2017-10-11 09:11] lesterw1 opened #4768 "Get-AzureRmNetworkSecurityGroup returns tags hashtable as property ".Tag" rather than ".Tags""
### Cmdlet(s)
Get-AzureRmNetworkSecurityGroup

### PowerShell Version
5.1.14409.1012

### Module Version
AzureRM.Network 4.4.0

### OS Version
10.0.14409.1012

### Description
The Get-AzureRMNetworkSecurityGroup returns tags in a hastable property named "Tag" (singular) instead of "Tags" (plural).  This is inconsistent with all other objects which uses "Tags" for the hashtable property name.

Curi

[2017-10-11 09:21] ulkeba commented on #4712
Thanks; [Azure-P2S-VPN-Doc (de)](https://docs.microsoft.com/de-de/azure/vpn-gateway/point-to-site-vpn-client-configuration-azure-cert) has been updated meanwhile. The shown commands now work well.

However, Example 1 you show in [AzureRM-Doc ](https://docs.microsoft.com/en-us/powershell/module/azurerm.network/new-azurermvpnclientconfiguration?view=azurermps-4.4.0), is not consistent with the (upda

[2017-10-11 17:00] nadeemhussain opened #4769 "can we create a vm image from an existing running vm without generalising the running vm"
while creating a vm image from an existing running vm , the process generalize the running vm and made it un-usable , can we create an image without doing generalization and not disturbing the running vm,

[2017-10-11 17:08] andradf commented on #4704
Any suggestions about how to go about updating a VMSS in the meantime?

[2017-10-11 17:42] markcowl commented on #4768
Tag is the appropriate name for the property, many cmdlets have 'Tags' as an alias for backward compatibility

[2017-10-11 17:42] #4768 closed

[2017-10-11 17:45] markcowl opened #4770 "Normalize cmdlets without DefaultProfile parameter"
### Description

Some cmdlets don't extend AzureRmCmdlet, and therefore do not inherit the 'DefaultProfile' parameter implementation.  Fix or file issues to add this functionality to management cmdlets (and appropriate data plane cmdlets).

### Cost: 4

[2017-10-11 18:19] singhkays commented on #4703
@clericc Making the osType a parameter would be a breaking change to existing scripts, something we try to avoid unless absolutely necessary. Isn't it possible to solve this by using an if..else statement to handle the specific OS case?

[2017-10-11 18:45] clericc commented on #4703
Yeah it is, thats what i do right now. But it wouldn't be a breaking change to make ` Set-AzureRmVMOSDisk` honor the pre-existing setting from `$newVmConfig`, would it? But you must admit, the -Linux/-Windows switches are nice for interactive work but since PowerShell is designed to automate Workflow, the `-OsType` parameter is the better design

[2017-10-11 18:57] singhkays commented on #4703
I suppose that would've been a better design. I don't own this cmdlet anymore so I'm not sure why it was implemented as a switch. @hyonholee do you know?

Based on my previous knowledge of this cmdlet, I think the reason it doesn't have any knowledge of the disk is that it's an offline cmdlet. It only modifies the local vm object and doesn't make a call out to Azure to figure out the os type speci

[2017-10-11 19:10] clericc commented on #4703
I see the issue. I only give it the resource id, not the actual disk object. So if one does not want to make this an online cmdlet, only option would be to add `-ManagedDisk $diskObject` or add `-OsType` in Addition to `-Linux`/`Windows`. Anyway, for now doing if/else works, of cource. Thanks for this enlightening information, i never thought about online/offline cmdlets

[2017-10-11 20:40] gbowerman commented on #4704
Can you update the properties of the VMSS in:
- resources.azure.com
- CLI

[2017-10-11 21:52] markcowl opened #4772 "Add Parameter for OS Disk Size"
Add parameter for ```DiskSizeInGB```

[2017-10-12 06:44] lesterw1 commented on #4768
If this is the case, then why is this the ONLY cmdlet that I can find which returns .TAG instead of .TAGS?

[2017-10-12 16:58] woter324 opened #4775 "Microsoft.PowerShell.DSC 2.71.1.0: Using old version of DSC resource (that doesn't exist)"
I can't find a direct reference to this extension on Git Hub and the [reference](https://blogs.msdn.microsoft.com/powershell/2014/11/20/release-history-for-the-azure-dsc-extension/) to changes is very old.

### Cmdlet(s)
Not a cmdlet. Onboarded to DSC using [template](https://github.com/Azure/azure-quickstart-templates/tree/master/dsc-extension-azure-automation-pullserver).

### PowerShell Version

[2017-10-12 17:58] mrvamsidhar commented on #2661
@zteffwong, I followed your steps. Its not removing Co-Admin access. Rest all roles can be removed.

[2017-10-12 20:03] zteffwong commented on #2661
@mrvamsidhar  are you talking RBAC or Classic mode. they use two different cmd sets and concept behind are different.

[2017-10-12 20:46] ericrini opened #4776 "Unable to use Application principals for RBAC operations."
### Cmdlet(s)
New-AzureRmRoleAssignment

### PowerShell Version
[code]

### Module Version
[code]

### OS Version
[code]

### Description
All attempts to add AD application principal to a resource or resource group role fail with the error "Principals of type Application cannot validly be used in role assignments". This can be done through the Azure portal.

### Debug Output
[code]

Full output...

[2017-10-12 21:26] mjsabin01 commented on #4704
Is there a workaround available or an ETA on the release becoming available?  I have a cert that needs to be updated  within a week.

[2017-10-12 21:45] gbowerman commented on #4704
@mjsabin01 workarounds:
1. Use resources.azure.com to edit the scale set properties.
2. Use CLI to update the scale set properties. Latest CLI is available from the portal in the cloud shell.
3. Install the 4.4.1 release candidate https://github.com/Azure/azure-powershell/releases

[2017-10-12 23:12] cormacpayne commented on #3687
@randomnote1 Hey Dan, as of Azure PowerShell 4.4.0, we now support using jobs for AzureRM cmdlets, so you would be able to run these cmdlets in parallel ([here are the docs](https://docs.microsoft.com/en-us/powershell/azure/context-persistence?view=azurermps-4.4.0)). For now, I am going to close this issue; please feel free to re-open the issue if there is additional functionality that you are loo

[2017-10-12 23:12] #3687 closed

[2017-10-12 23:16] cormacpayne commented on #3932
@jan-wang closing this issue as it seems Kay (@singhkays) has addressed your comments above. Please feel free to re-open this issue if that is not the case.

[2017-10-12 23:16] #3932 closed

[2017-10-12 23:18] cormacpayne commented on #4084
Closing as this appears to have been fixed in PR #4341

[2017-10-12 23:18] #4084 closed

[2017-10-13 00:32] cormacpayne commented on #2328
Closing this issue due to lack of activity. @pcgeek86 please feel free to re-open this issue if you are still seeing the above issue.

[2017-10-13 00:32] #2328 closed

[2017-10-13 00:32] lukeb1961 opened #4777 "New-AzureRmAutomationAccount lacks switch for 'Create Azure Run As Account'"
### Cmdlet(s)
New-AzureRmAutomationAccount
### PowerShell Version
$PSversiontable

Name                           Value
----                           -----
PSVersion                      5.1.16299.15
PSEdition                      Desktop
PSCompatibleVersions           {1.0, 2.0, 3.0, 4.0...}
BuildVersion                   10.0.16299.15
CLRVersion                     4.0.30319.42000
WSManStackVer

[2017-10-13 01:10] markcowl commented on #4656
Fixed.

[2017-10-13 01:10] #4656 closed

[2017-10-13 01:19] markcowl commented on #4685
Fixed.

[2017-10-13 01:19] #4685 closed

[2017-10-13 01:19] markcowl commented on #4672
Fixed.

[2017-10-13 01:19] #4672 closed

[2017-10-13 03:20] SunnyOswal opened #4779 "Add-AzureRmAutoscaleSetting fails to identify cloudservice web role resource whose name has "." in it."
### Cmdlet(s)
Add-AzureRmAutoscaleSetting
### PowerShell Version
5.1.15063.608

### Module Version
AzureRM.Insights 3.3.1
### OS Version
10.0.15063.608

### Description
Add-AzureRmAutoscaleSetting fails to identify cloudservice web role resource whose name has "." in it.
But Get-AzureRmResource runs fine and gives resource details

Get-AzureRmResource -ResourceId "/subscriptions/<<subsid>>/resourc

[2017-10-13 11:15] randomnote1 commented on #3687
Thanks for following up! I'll check it out.

[2017-10-13 12:10] cgmeijers opened #4780 "Package AzureRM failed to be installed because: The process cannot access the file XXX because it is being used by another process."
### Cmdlet(s)
Install-Module AzureRM

### PowerShell Version
5.1.15063.502

### Module Version
 AzureRM 4.4.1

### OS Version
10.0.15063.502`

### Description
Failure on installation, because files are seemingly unnaccessible. I am running PowerShell in administrator mode.

### Debug Output
PS C:\WINDOWS\system32> Install-Module -Name AzureRM -Verbose -Debug
DEBUG: 00:00:00.0000003 Calling New() :

[2017-10-13 14:19] RobertoPrevato opened #4781 "Get-AzureRmStorageAccountKey : 'accountName' exceeds maximum length of '24'."
### Cmdlet(s)
Get-AzureRmStorageAccountKey

### PowerShell Version
[code]

### Description
I can create a storage account with a name longer than 24 characters using ARM templates, no problem.
But when I call the command:
[code]

It throws exception:
[code]

### Script/Steps for Reproduction
Create a storage account with name longer than 24 characters in Azure. Try to run the command.

[2017-10-13 15:33] woter324 commented on #4775
I removed the aforementioned DSC resource from Automation, left it a few hours before re-importing. When running a completely new build, when the template starts to configure the Azure LCM, I get the following error:
[code]
Module version 1.4.4.11 doesn't exist and I don't know where it is getting the value from as I haven't entered it anywhere.

[2017-10-13 15:34] markcowl commented on #4781
@blueww can you take a look?

[2017-10-13 15:37] markcowl commented on #4780
@cgmeijers Do you have the modules loaded in this window, or another window?  You won't be able to update the modules if so.

[2017-10-13 15:40] markcowl commented on #4775
@woter324 I am not sure how this relates to Azure PowerShell.  Can you relate which Azure PowerShell component you are using, and how it is failing?

[2017-10-13 15:52] woter324 commented on #4775
Hi @markcowl, This isn't a typical "Azure PowerShell" cmdlet as in those referenced [here](https://docs.microsoft.com/en-us/powershell/azure/overview?view=azurermps-4.4.0), e.g. Get-AzureRMResourceGroup or Get-AzureRmVM. This problem pertains to the Windows DSC VM extension (Microsoft.Powershell.DSC) - which is written in PowerShell, by Microsoft and deployed via template or `*-AzureRmVMDscExtensi

[2017-10-13 16:12] markcowl commented on #4776
@darshanhs90 Can you take a look?  This is a pretty fundamental scenario.  Want to ensure that this is the right kind of service principal.

[2017-10-13 16:13] markcowl commented on #4777
@vrdmr Can you take a look?

[2017-10-13 16:15] markcowl commented on #4779
@aspaan @ahmedelnably Can one of you please take a look?

[2017-10-13 16:18] markcowl commented on #4761
@sdwheeler Any time we get a livefyre comment on RDFE cmdlets, the first question should be about how we move the customer to ARM.  Given limited resourcing, I don't think we will be able to service this request.

[2017-10-13 16:24] sdwheeler commented on #4761
@markcowl Understood. However, we need to respond to the LiveFyre comment. The SLA for responses is 24 hours. So we need standard language we can use to respond to ASM comments.

[2017-10-13 16:29] #4761 closed

[2017-10-13 19:08] ericrini commented on #4776
If it helps, this may be more of an API issue since both the CLI and PowerShell cmdlet give the same error. Maybe I'm just doing it wrong.

[2017-10-13 19:26] alexandair commented on #4781
![storage](https://user-images.githubusercontent.com/3135708/31562782-0083e7ac-b05d-11e7-8b81-1e589682c8a8.png)
Azure portal also has a limit of 24 characters for a storage name.

[2017-10-13 19:37] RobertoPrevato commented on #4781
@alexandair, I didn't check using the Azure portal, but I provisioned a storage account using an ARM template deployment, like I mentioned before. I created a storage account with a name like this one: "aaaaatestusestacc20171013" (length 25). Note: 5 letters from app name + environment (test) + region (use) + `stacc` (naming convention) + date. For sure it doesn't look right that validation is not

[2017-10-13 19:43] RobertoPrevato commented on #4781
About last two comments, so maybe this is actually a bug in the core logic that handles ARM templates deployment?

[2017-10-13 20:13] bganapa opened #4784 "Stack - Policy Assignments cmdlets are broken with the default parameter set in 1.2.11 release"
### Cmdlet(s)
Get-AzureRMPolicyAssigment, Set-AzureRmPolicyAssignment
### Module Version
4.4.1 - AzureRm.Resources
1.2.11 - AzureRM (azurestack specific)
### Description

The default parameter set uses the latest ApiVersion 2017-06-01-preview and stack does not support this

Get-AzureRmPolicyAssignment : InvalidResourceType : The resource type 'policyAssignments' could not be found in the namespac

[2017-10-13 20:15] mrvamsidhar commented on #2661
I am having issue w. removing Co Administrator access for a user using Get-AzureRmRoleAssignment.

[2017-10-13 21:19] jianyunt opened #4786 "Need event source info for data filtering in *-AzureRmDataCollection"
### Description

By running Enable-AzureRmDataCollection is to allow to collect data for the current user on the current machine.  However sometimes this is not enough. We need to be able to tell from which event source (e.g., modules vs user input) so that we can filter on event source.

The following does not help because Get-AzureRmVM still got collected.
Disable-AzureRMDataCollection
Get-Azure

[2017-10-13 21:20] SaBomNim21 commented on #2891
This is happening now that I updated my azure instance with Install-Module Azure and using "Get-AzureRmResource -ApiVersion '2016-07-01'" fails

[2017-10-14 18:45] akirsman opened #4789 "Get-AzureRmSnapshot unexpected behavior if ResourceGroupName is not specified"
### Cmdlet(s)
Get-AzureRmSnapshot

### PowerShell Version
5.1.15063.608

### Module Version
10.0.15063.608

### OS Version
10.0.15063.608

### Description
Hi, I just noticed a bug or confusing behavior in the Get-AzureRmSnapshot cmdlet (AzureRM.Compute module version 3.4.0):

If one calls it with -Name param without -ResourceGroupName param, it behaves at calling it without params. That is, Get-Az

[2017-10-15 06:36] lukeb1961 commented on #2085
552 days..  is the intention to fix this?

[2017-10-15 07:12] 3foil opened #4790 "Get-AzureRmAutomationJobOutputRecord shows me the same output as Get-AzureRmAutomationJobOutput does."
### Cmdlet(s)

Get-AzureRmAutomationJobOutputRecord

### PowerShell Version
Instructions: to get PowerShell version, type `$PSVersionTable` and look for the value associated with `PSVersion`

5.1.15063.674

### Module Version
AzureRM 4.4.0

### OS Version
Instructions: to get OS version, type `$PSversionTable` and look for value associated with `BuildVersion`

10.0.15063.674

### Description

I ne

[2017-10-15 18:16] #4790 closed

[2017-10-15 21:34] tigerdeccan commented on #4289
I am getting this , I use import-azurermcontext to login noninteratively . Is this known issue with this version of module?

Any other Idea how to set default subsciption context ?

I use for loop to go thorgh each susbcription and run some commands.

DEBUG: 22:29:59 - SelectAzureSubscriptionCommand begin processing with ParameterSet 'SelectDefaultSubscriptionByNameParameterSet'.
DEBUG: 22:30:02 -

[2017-10-16 02:05] blueww commented on #4781
@RobertoPrevato

Storage Account name length limitation is 3-24. Storage Account name longer than 24 is not valid.
You can see more details in:
https://docs.microsoft.com/en-us/azure/architecture/best-practices/naming-conventions

[2017-10-16 05:04] RobertoPrevato commented on #4781
@blueww
Thanks, Wei. So, it means the problem is not in azure-powershell, but in the core logic that handles ARM deployment. Bug report here should be closed, and reported somewhere else (I don't know where, right now).

[2017-10-16 05:04] #4781 closed

[2017-10-16 07:49] andyjballgit opened #4792 "Get-AzureRMMetric now prompts for MetricNames , seems param is mandatory when Timegrain is specified"
### Cmdlet(s)
Get-AzureRMMetric
### PowerShell Version
5.1.15063.674

### Module Version
3.4.1
### OS Version
10.0.15063.674

### Description
With Latest version of Get-AzureRMMetric, MetricNames param is mandatory and prompts but only if the TimeGrain Param is specified.
This didn't used to be the case in previous versions , ie if not supplied pulled back all metrics. Help says param is not manda

[2017-10-16 12:35] seb2k commented on #4777
The only way for now is to use this workaround: https://docs.microsoft.com/en-us/azure/automation/automation-create-runas-account

[2017-10-16 13:21] Altaf263 commented on #1283
We are still running into the issues of not able to move resources which contains App Service Plan, app Service, app insights. The error is similar to what has been posted.
We even tried registering Microsoft.Compute on source subscription. Please let us know if someone has any guidance to resolve the same and wanted to know whether there is any cost involved in registering the Microsoft.Compute.

[2017-10-16 13:40] cgmeijers commented on #4780
@markcowl I do not have the modules loaded anywhere, because I don't have them installed yet.

[2017-10-16 15:39] markcowl opened #4794 "Breaking change model updates"
### Description

The cmdlet API serialization is out of date, which puts us at risk of breaking new cmdlet API surface withotu detecting it.

- [x] Update cmdlet API serialization for current cmdlets
- [x] Make updating cmdlet serialization APIs part of the 'end of release' / 'start of release' process

### Cost: 2

[2017-10-16 15:43] markcowl commented on #4780
@cgmeijers This seems like an issue with the Install-Module cmdlet and not with this particular module, as the file that is locked is not in the module directory, and looks liek a temporary copy made by Install-Module.  I suggest you try updating your PowerShellGet module, or file an issue here: https://github.com/powershell/powershellget

[2017-10-16 15:43] #4780 closed

[2017-10-16 15:46] markcowl commented on #4786
For context, I believe the ask here is to make it possible to add additional data on the event source to the existing client-side telemetry.  This would allow determining which calls to generic resource cmdlets come from direct user input and which come form usages of wrapping cmdlets.

[2017-10-16 15:48] markcowl commented on #4789
@singhkays Looks like a potential issue int he parameter sets for Get-AzreRmVM.  Can you take a look?

[2017-10-16 16:48] dreck410 commented on #4776
I am getting the same issue when trying to add a custom role to my service principal in a subscription scope. I can add the role to the application in the UI, but i have to do a lot of these and I'm trying to script it.

[2017-10-16 17:15] singhkays commented on #4789
@akirsman We're looking into adding parameter sets to this cmdlet which should make this behavior go away. However, there's no API to search by snapshot name, so the parmaeter sets will be RG + Name, RG or no parameters to list all snapshots in the subscription.

cc: @hyonholee

[2017-10-16 17:55] umaknow-jeanluc commented on #340
Also for people searching for this error :

The Type value in the HashTable must be the string, explicitly, with **.ToString()**.

[code]

[2017-10-16 18:20] huangpf opened #4797 "[Experiments][Compute] New-AzVM should choose to enable BootDiagnostics by default."
### Cmdlet(s)

### PowerShell Version
Instructions: to get PowerShell version, type `$PSVersionTable` and look for the value associated with `PSVersion`

### Module Version

### OS Version
Instructions: to get OS version, type `$PSversionTable` and look for value associated with `BuildVersion`

### Description

### Debug Output
Instructions: to get Debug Output, set `$DebugPreference="Continue"` a

[2017-10-16 18:25] leowumsft opened #4798 "Add-AzureRmVhd"
### Cmdlet(s)
Add-AzureRmVhd

### PowerShell Version
Instructions: to get PowerShell version, type `$PSVersionTable` and look for the value associated with `PSVersion`
5.1.15063

### Module Version
4..4.0

### OS Version
Instructions: to get OS version, type `$PSversionTable` and look for value associated with `BuildVersion`
10.0.15063.608

### Description
The example from this cmdlet's help is wr

[2017-10-16 18:27] maddieclayton opened #4799 "Improve the user experience around running scenario tests"
### Description
Make the experience of running tests more user friendly:
- [x] Add cmdlet to Repo-Tasks named "New-AzureCredentials"
    - [x] Two options: use user credentials or create a ServicePrinciple based on credentials
    - [x] Include Subsciption Id as a parameter and throw when it is not provided
    - [x] Serialize test environment as a json file which will be referenced when running t

[2017-10-16 18:36] huangpf opened #4800 "[Experiments][Compute] The new cmdlets like New-AzVM's implementation should target to re-use other cmdlets (i.e. New-AzureRmVMConfig, etc.)"
### Cmdlet(s)

### PowerShell Version
Instructions: to get PowerShell version, type `$PSVersionTable` and look for the value associated with `PSVersion`

### Module Version

### OS Version
Instructions: to get OS version, type `$PSversionTable` and look for value associated with `BuildVersion`

### Description

### Debug Output
Instructions: to get Debug Output, set `$DebugPreference="Continue"` a

[2017-10-16 20:21] eduardobaitello opened #4801 "Add-AzureRmVhd : Object reference not set to an instance of an object."
### Cmdlet(s)
`Add-AzureRmVhd`

### PowerShell Version
`6.0.0-beta`

### Module Version
`AzureRM.Netcore 0.9.1`

### OS Version
`CentOS 7.3`
`Linux 3.10.0-514.26.2.el7.x86_64 #1 SMP Tue Jul 4 15:04:05 UTC 2017`

### Description
When trying to upload a `.vhd` file to my Azure Environment with `Add-AzureRmVhd` [command](https://gist.github.com/eduardobaitello/ac9defc73fe6da8098836de5caaf397c#file-ad

[2017-10-16 20:30] cormacpayne commented on #4798
@leowumsft Hey Leo, thanks for filing this issue. I opened a pull request to fix this typo: https://github.com/Azure/azure-powershell/pull/4802

[2017-10-16 20:33] cormacpayne commented on #4801
@eduardobaitello Hey Eduardo, thanks for filing this issue. Would you mind running `Resolve-AzureRmError` to get more information about the error that is being thrown?

@twitchax would you mind taking a look? (since you have been working with the `AzureRM.Netcore` modules 😃)

[2017-10-16 20:35] cormacpayne commented on #3971
Fix for this found in PR https://github.com/Azure/azure-powershell/pull/4734

[2017-10-16 20:50] eduardobaitello commented on #4801
Here is the Stack Trace:

[code]

[2017-10-16 20:54] cormacpayne commented on #4801
@eduardobaitello thanks Eduardo! We'll look into this issue.

[2017-10-17 01:55] #4133 closed

[2017-10-17 01:55] #4134 closed

[2017-10-17 01:55] #4150 closed

[2017-10-17 03:51] twitchax opened #4804 "`Remove-AzureRmResourceGroup -Force` should _always_ delete the specified resource group."
### Cmdlet(s)
Remove-AzureRmResourceGroup

### PowerShell Version
4.4.1

### Module Version
AzureRM.Resources 4.4.1

### OS Version
N/A.

### Description
Reported by @KirkMunro in [this](https://twitter.com/Poshoholic/status/919938564087058432) twitter thread.

Looks as though some services block the deletion of a resource group (e.g., Recovery Services Vault); though, there are some others, as we

[2017-10-17 13:05] asbjorn-wiik opened #4805 "Issues with New-AzureRmRoleAssignment depending on what Login-AzureRMAccount -TenantID is used"
### Cmdlet(s)
Login-AzureRMAccount
New-AzureRmRoleAssignment

### PowerShell Version
5.1.15063.632

### Module Version
Manifest   0.4.6      Azure.AnalysisServices
Manifest   0.4.6      AzureRM.AnalysisServices
Manifest   4.4.0      AzureRM.ApiManagement
Manifest   3.4.0      AzureRM.Automation
Manifest   3.4.0      AzureRM.Backup
Manifest   3.4.0      AzureRM.Batch
Manifest   0.13.6     AzureRM.B

[2017-10-17 14:56] eduardobaitello commented on #4801
**FWIW**: Running the `Add-AzureRmVhd` in a Docker Container with the preconfigured `AzureRM.Netcore` image produces the same error.

**Steps for Reproduction**
[code]

[2017-10-17 18:29] #4744 closed

[2017-10-17 18:56] onionhammer commented on #3633
This is still definitely an issue.. any progress?

[2017-10-17 22:10] cormacpayne commented on #4805
@asbjorn-wiik Hey Asbjørn, the first command is failing because you are providing a tenant name for the `TenantId` parameter, which is not supported.

We need to add some checks around users providing a tenant name vs tenant id and provide an appropriate error message so you don't run into the issue you are seeing in the first example. We will keep this issue open to track the status of this work.

[2017-10-17 22:13] cormacpayne commented on #4800
@huangpf Thanks for the feedback, Pengfei. We will discuss this with you in a future experiments sync-up.

[2017-10-17 22:15] cormacpayne commented on #4798
This has been merged.

[2017-10-17 22:15] #4798 closed

[2017-10-17 22:16] cormacpayne commented on #4797
@huangpf thanks for the feedback, Pengfei. We will discuss this in a future experiments sync-up.

[2017-10-17 22:19] cormacpayne commented on #4769
@nibhat Hey Nitin, would you mind taking a look at this issue?

[2017-10-17 22:23] cormacpayne commented on #4752
@vrdmr Hey Varad, would you mind taking a look at this issue?

[2017-10-17 22:25] cormacpayne commented on #4748
@maddieclayton work with the Compute team to get this into their generator

CC: @huangpf @hyonholee

[2017-10-17 22:30] cormacpayne commented on #4740
@pomortaz @dragav would one of you be able to take a look at the most recent comment from @iricigor regarding the broken piping scenarios in the KeyVault cmdlets?

[2017-10-17 22:33] cormacpayne commented on #4680
@ahmedelnably @aspaan would you mind taking a look at this issue?

[2017-10-17 22:41] cormacpayne commented on #4673
@vam2000 you would mind sending us the debug output from the above script? You can do so by setting `$DebugPreference = "Continue"` before executing the script.

[2017-10-17 22:46] cormacpayne commented on #4671
@camaya Hey Cristhian, as of version 4.4.0, we now support running AzureRM cmdlets as jobs, which you can do by running `Start-Job { <cmdlet> }`. This will allow you to run the cmdlets in the background of your PowerShell session and track it with `Get-Job`. You can view more information about this [here](https://docs.microsoft.com/en-us/powershell/azure/context-persistence#running-azure-powershel

[2017-10-17 22:46] #4671 closed

[2017-10-17 22:52] cormacpayne commented on #4644
@dafoyiming would you mind updating to the latest version of AzureRM (4.4.1) and attempt running this cmdlet again? The China cloud is typically a month behind in API versions, so there is a possibility this API version was not available at the time you were using this cmdlet.

[2017-10-17 22:52] #4644 closed

[2017-10-17 22:54] cormacpayne commented on #4635
@ravbhatnagar Hey Gaurav, would you mind talking to the Compute team about why this is not supported?

[2017-10-17 22:55] cormacpayne commented on #4630
@gregjhogan Hey Greg, these cmdlets will be available in the latest version of AzureRM (4.4.1). Please find the cmdlets there. Please re-open this issue if there is still missing functionality that you would like to see.

[2017-10-17 22:55] #4630 closed

[2017-10-17 22:57] cormacpayne commented on #4629
@bmcdfc running AzureRM cmdlets concurrently was supported in the 4.4.0 module release last month; please update to the latest version and use jobs to concurrently run your cmdlets. You can find more information about starting/getting jobs in PowerShell [here](https://docs.microsoft.com/en-us/powershell/azure/context-persistence#running-azure-powershell-cmdlets-as-background-jobs).

[2017-10-17 22:57] #4629 closed

[2017-10-17 23:00] #4614 closed

[2017-10-17 23:00] cormacpayne commented on #4613
@bganapa assigning you to double-check if this has been completed.

[2017-10-17 23:02] cormacpayne commented on #4608
@twitchax to confirm that this has been removed

[2017-10-17 23:04] cormacpayne commented on #4601
@danielsollondon Hey Daniel, would you mind taking a look at this issue?

[2017-10-17 23:08] cormacpayne commented on #4600
@bergmeister as of AzureRM version 4.4.0, we now support using jobs to execute cmdlets in parallel and in the background of a PowerShell session. Please update to the latest version of AzureRM. For more information about using jobs, please see [here](https://docs.microsoft.com/en-us/powershell/azure/context-persistence#running-azure-powershell-cmdlets-as-background-jobs).

Please feel free to re-o

[2017-10-17 23:08] #4600 closed

[2017-10-17 23:09] cormacpayne commented on #4597
@mxplusb Hey Mike, would you mind listing all of your modules by running `Get-Module -ListAvailable`? This will help us determine if this is an issue with version mismatches across your installed modules.

[2017-10-17 23:20] bergmeister commented on #4600
@cormacpayne Please read the description again. I said explicitly that running it as a background job does not work if I then close the PowerShell session before the command has finished. Every second that it has to unnecessarily wait is costly when using Azure PowerShell functions

[2017-10-17 23:22] #4587 closed

[2017-10-17 23:24] cormacpayne commented on #4580
@afengli Hey Feng, as of AzureRM 4.4.0, you can now run our cmdlets as jobs, which will allow you to run these long processes as jobs in the background of a PowerShell session. For more information on running these cmdlets as jobs, please see [here](https://docs.microsoft.com/en-us/powershell/azure/context-persistence#running-azure-powershell-cmdlets-as-background-jobs).

[2017-10-17 23:24] #4580 closed

[2017-10-17 23:28] cormacpayne commented on #4574
@mxplusb Hey Mike, are you seeing this error when you already have AzureRM installed on your machine and you are trying to update? Would you mind listing the modules you have installed on your machine by running `Get-Module -ListAvailable` and posting the result in a follow-up comment?

[2017-10-17 23:29] cormacpayne commented on #4568
@bdanse this should be fixed in the latest version of AzureRM (4.4.1). Please update to that version and let us know if you are still seeing this issue.

[2017-10-17 23:29] #4568 closed

[2017-10-17 23:31] cormacpayne commented on #4551
Closing this issue due to lack of activity.

@arcotek-ltd please feel free to re-open this issue if your problem has not been addressed by @eshaparmar

[2017-10-17 23:34] cormacpayne commented on #4524
@TechnologyAnimal currently device authentication is the only supported form of login for the .NET Core modules. We are working with the ADAL team to support more forms of login in future releases.

[2017-10-18 01:05] sergey-shandar commented on #4797
Related issue https://github.com/Azure/azure-powershell/issues/4735

[2017-10-18 01:14] markcowl commented on #4776
@ericrini @dreck410 The issue is that the applicationId and the graph object ID are not the same.  If you provide the applicationId to the 'ServicePrincipalName' parameter rather than the 'ObjectId' parameter, the cmdlet will query graph for the object ID for you.

If you get the service principal details using ```Get-AzureRmServicePrincipal``` the 'Id' property is the OID, the APplicationId prope

[2017-10-18 03:32] mxplusb commented on #4574
[code]

[2017-10-18 03:33] mxplusb commented on #4597
[Here](https://github.com/Azure/azure-powershell/issues/4574#issuecomment-337450578) you go. :)

[2017-10-18 06:21] SunnyOswal commented on #4779
Any update ?

[2017-10-18 08:15] asbjorn-wiik commented on #4805
@cormacpayne @twitchax
Hi Cormac, I'm a little confused because you write that using tenant FQDN name is not supported, yet I do get logged in using `Login-AzureRmAccount -TenantID tenantFQDNname`.
Running `Get-AzureRmContext` returns the same output whether logging with tenantFQDNname or UUID
I would also like to point out that the tenantFQDNname should be just as unique as the UUID and therefore

[2017-10-18 12:08] farzadmf commented on #3978
@spottedmahn  Sorry for the (very) late reply. To be honest, I'm not sure how I did it. One way is to use Microsoft Web Platform Installer to install (and update) AzurePowerShell.
Also, there's [this link](https://docs.microsoft.com/en-us/powershell/azure/install-azurerm-ps?view=azurermps-4.4.1) that explains how to install it in PowerShell

[2017-10-18 12:15] spottedmahn commented on #3978
@farzadmf thanks for the reply.  That's what I ended up doing [per this thread](https://github.com/Azure/azure-powershell/issues/2688#issuecomment-275481866)

[2017-10-18 12:52] tinaisufi commented on #4201
Hi All,

I'm having exact the same issue with powershell and service principal? Is there any solution to solve it?

Thx

[2017-10-18 13:44] ericrini commented on #4776
So I am providing the ObjectId returned by a Get-AzureRmADApplication call. I will try using a Get-AzureRmServicePrincipal.

[2017-10-18 13:57] ericrini commented on #4776
So in the comment, I wrote applicationId but I am using the ObjectId returned by a Get-AzureRmADApplication call as the actual input into that parameter.

[2017-10-18 14:04] rgathub opened #4807 "Set-AzureStorageBlobContent is not working if FIPS is enabled."
### Cmdlet(s)
Set-AzureStorageBlobContent

### PowerShell Version
Instructions: to get PowerShell version, type `$PSVersionTable` and look for the value associated with `PSVersion`
5.1.15063.608

### Module Version
3.4.1

### OS Version
Instructions: to get OS version, type `$PSversionTable` and look for value associated with `BuildVersion`
10.0.15063.608

### Description
Unable to upload files to

[2017-10-18 15:59] clericc opened #4808 "Get-AzureRmWebApp: missing property 'Identity'"
### Cmdlet(s)
Get-AzureRmWebApp, may be more

### PowerShell Version
5.1.15063.674

### Module Version
AzureRM.Websites 3.4.1

### OS Version
Win10

### Description
Since Managed Service Identities were introduced, REST Api outputs the property "identity" for WebApps with MSI enabled. This Property is not yet present in the output of the PowerShell cmdlet.

### Actual
[code]

### Expected
[code]

[2017-10-18 16:46] aspaan commented on #4779
I am not on Azure Powershell project anymore, please contact @ahmedelnably or Sisira for anymore issues

[2017-10-18 17:01] #4776 closed

[2017-10-18 21:28] karun-r opened #4810 "Problem with Get-AzureRmLog. Caller information is not displayed."
### Cmdlet
Get-AzureRmLog

### PowerShell Version
 5.0.10586.117

### Module Version
4.3.1 (Although I have other versions coexist in the box)

### OS Version
10.0.10586.117

### Description
I used to get the user who initiated a event when I query Get-AzureRmLog cmdlet. But, since yesterday, we observe that we are not getting the user information in the event.

### Debug Output
Scrubbed version.

[2017-10-18 21:35] CodeStoneK commented on #4510
I am trying this command to get users in a group and see the same error. Any ETA on the fix?

`$members = Get-AzureRmApiManagementUser -Context $ApimContext -GroupId $groupId`

[2017-10-18 22:14] dragav commented on #4740
Trying to slot this in for November.

[2017-10-18 22:48] #4697 closed

[2017-10-18 22:48] bganapa commented on #4697
the migration guide is done

[2017-10-18 22:50] bganapa opened #4811 "[Stack] Move over AzureRM.BootStrapper module from stack-dev branch to preview"

[2017-10-18 22:52] bganapa opened #4812 "Provide nightly builds of azure powershell and upload it to blob storage"
Update powershell-nightly job to upload artifacts to blob storage. Add in an aging mechanism to remove builds after a few months

[2017-10-18 22:54] bganapa opened #4813 "[Stack] Consume IStorageContext in azure stack specific Storage/Compute modules"

[2017-10-18 23:20] hyonholee commented on #4704
This is fixed.  https://github.com/Azure/azure-powershell/pull/4701

[2017-10-18 23:20] #4704 closed

[2017-10-19 06:55] PiotrKowalski93 opened #4816 "webapp:help wanted - Publish-AzureWebsiteProject does not work when *.zip is created via Compress-Archive"
### PowerShell Version
Name                          Value
PSVersion                      5.1.14393.1715
PSEdition                      Desktop
PSCompatibleVersions           {1.0, 2.0, 3.0, 4.0...}
BuildVersion                   10.0.14393.1715
CLRVersion                     4.0.30319.42000
WSManStackVersion              3.0
PSRemotingProtocolVersion      2.3
SerializationVersion           1.1.0.

[2017-10-19 15:00] bdanse commented on #4643
Hi @vrdmr ,

Actually I am not able to reproduce the issue. After posting I rolled back the Azure module to an earlier version (4.2.1). Worked fine. After that upgrade to 4.4.0 also works.

[2017-10-19 15:31] rfcdejong commented on #3571
I also had to apply the work around. Beside that will it also be possible to check if a database exists without listing all databases?

[2017-10-19 16:14] cormacpayne commented on #4807
@blueww Hey Wei, would you mind taking a look at this issue? It looks like the Storage library is doing some signing on the message and header that may be causing issues here.

[2017-10-19 16:15] cormacpayne commented on #4808
@ahmedelnably Hey Ahmed, would you mind taking a look at this issue? It looks like the Websites SDK might need to be updated for your PowerShell cmdlets.

[2017-10-19 16:18] cormacpayne commented on #4810
@gucalder Hey Guillermo, would you mind taking a look at this issue? It looks like the property in question is still available from the output, but it is not being populated.

[2017-10-19 16:19] cormacpayne commented on #4810
@karun-r what was the previous version you were using that was returning a value for the `Caller` property?

[2017-10-19 16:26] cormacpayne commented on #4816
@ahmedelnably Hey Ahmed, would you mind looking into this issue? Is there a difference in how you handle the different compression tools? The customer is using [`Compress-Archive`](https://docs.microsoft.com/en-us/powershell/module/microsoft.powershell.archive/compress-archive?view=powershell-5.1), so maybe there is something in that cmdlet's API that Websites doesn't handle properly.

[2017-10-19 16:30] akromm commented on #3571
@rfcdejong Through powershell you can use the -DatabaseName parameter in the Get-AzureRmSqlDatabase cmdlet. In TSQL I believe you should be able to use a WHERE clause to filter.

[2017-10-19 17:04] rfcdejong commented on #3571
Haha yes ofcourse, but would be nice to use the generated SqlManagementClient in C# .NET instead of using a release environment definition to pass a variable with the master password into the application during release.

[2017-10-19 19:29] RandalliLama opened #4818 "Key Vault Cmdlets need to support login type AccessToken"
### Cmdlet(s)
All Key Vault Cmdlets.

### PowerShell Version
Instructions: to get PowerShell version, type `$PSVersionTable` and look for the value associated with `PSVersion`
All
### Module Version
All
### OS Version
Instructions: to get OS version, type `$PSversionTable` and look for value associated with `BuildVersion`
All
### Description
When a user signs in using Login-AzureRmAccount and pass

[2017-10-20 03:34] blueww commented on #4807
@rgardler
The failure is because we use MD5 to validate the content in each chunk to upload, and MD5 algorithm is not aligned with FIPS.

The content transfer is based on DMlib (https://github.com/Azure/azure-storage-net-data-movement), and as I know DMlib has  a way to resolve the conflict,  implement the way into PowerShell might can resolve the issue.

I Will open a task to track it, and will i

[2017-10-20 04:33] konste commented on #3391
I was breaking my head over this issue for a couple days by now, but I think I found rather non-obvious workaround which makes the darn thing work without clicking "Sync Network". Check out this link: https://codexample.org/questions/896170/add-a-azure-webapp-to-an-existing-vpn-using-a-point-to-site-connection-rm-powershell.c#acmt-3927376

In short $packageUri = Get-AzureRmVpnClientPackage for unk

[2017-10-20 12:44] sarath-rachuri opened #4820 "Set-AzureRmApiManagementApi : InternalServerError: Encountered internal server error"
### Cmdlet(s)
Set-AzureRmApiManagementApi

### PowerShell Version
4.0

### Module Version
3.4.0

### OS Version
6.3.9600.18773

### Description
Set-AzureRmApiManagementApi cmdlet failing with InternalServerError: Encountered internal server error.

### Debug Output

DEBUG: 6:11:05 PM - SetAzureApiManagementApi begin processing with ParameterSet '__AllParameterSets'.

DEBUG: =======================

[2017-10-20 13:13] rgathub commented on #4807
Thanks @blueww I am already using the workaround to get the files in blob storage but it will be great if this can be resolved too.

Rahul Gupta

[2017-10-20 13:36] 4c74356b41 commented on #4804
i second this

[2017-10-20 14:53] karun-r commented on #4810
@cormacpayne  It should be the same version as I didn't do any update to the modules in a month. This cmdlet was working as expected till a couple of days back.

[2017-10-20 15:57] cormacpayne commented on #4820
@sarath-rachuri Hey Sarath, what were the parameters you used for this cmdlet call?

CC: @solankisamir

[2017-10-20 16:41] solankisamir commented on #4820
The request failed in the Azure FrontDoor and didn't even reach us. We are getting in touch with them.

[2017-10-20 18:48] karun-r commented on #4810
And one more quick thing @cormacpayne , you mentioned in our previous comment that the vallue for `caller` is available from the output but I'm just puzzled on where you saw that in the debug output? Did you run the cmdlet it on any of the subscription available to you or is there any other source for this that I am missing? Would you mind sharing some light on that?

[2017-10-20 20:43] cormacpayne commented on #4810
@karun-r in both the picture you posted above and my execution of `Get-AzureRmLog`, there is a `Caller` property that is in the output (part of the object returned) that has no value.

[code]

I also found the type of the returned object is [`PSEventDataNoDetails`](https://github.com/Azure/azure-powershell/blob/preview/src/ResourceManager/Insights/Commands.Insights/OutputClasses/PSEventDataNoDetai

[2017-10-20 20:47] karun-r commented on #4810
Oh, I got it wrong then. I thought you meant that data was available for `Caller `property but it was not being displayed in the output.

[2017-10-20 20:52] cormacpayne commented on #4810
@karun-r ah sorry, I meant that the property is still available to access, but it is not being populated with any value

[2017-10-20 21:02] karun-r commented on #4810
No problem, and on further troubleshooting, I observed that this is happening only for events that have `Authorization.Action` set to `'Microsoft.Compute/VirtualMachines/write'`. For delete events, I am able to see the value in `caller` property.  That is,

Caller value is null.
`$ActivityLog | Where-Object {$_.Authorization.Action -eq 'Microsoft.Compute/VirtualMachines/write'}`

Caller value is n

[2017-10-21 05:59] takekazuomi commented on #4212
## Workaround

@juliekoubova You can use following workaround. This is not so cool but it works for me.  I hope this will help.

[code]

[2017-10-21 07:34] takekazuomi commented on #4212
@shahabhijeet @ahmedelnably This is braking change. Will you check this?

[2017-10-21 15:43] paulomarquesc opened #4828 "Get-AzureRmRoleAssignment failing with "Object reference not set to an instance of an object""
### Cmdlet(s)
Get-AzureRmRoleAssignment

### PowerShell Version
5.1.15063.608

### Module Version
4.4.1

### OS Version
10.0.15063.608

### Description
This cmdlet is failing when you use -SignInName or -ServicePrincipalName parameters with the following error message:

Get-AzureRmRoleAssignment : Object reference not set to an instance of an object.
At line:1 char:1
+ Get-AzureRmRoleAssignment -S

[2017-10-21 20:54] ramomex1 commented on #1848
Delete the deployment, then create deployment credentials for FTP and there you go with FTP client clean the wwwroot folder by your self.

[2017-10-22 18:29] girishgouda opened #4830 "Unable to add extension for diagnostics for VMSS(Add-AzureRmVmssExtension,Add-AzureRmVmssDiagnosticsExtension)"
### Cmdlet(s)
Add-AzureRmVmssExtension
Add-AzureRmVmssDiagnosticsExtension
REST API by adding the extension Json in https://resources.azure.com/
### Description
The comands
execute successfully but the extension is always in the creating state as show in the attachment

### Script/Steps for Reproduction
Json used to set the public and protected setting

`"extensionProfile": {
        "extensions":

[2017-10-23 00:39] alexhisen commented on #3800
Also happens after Set-AzureRmApplicationGatewayHttpListener -ApplicationGateway $agw -Name API -SslCertificate $cert -Protocol Https

[2017-10-23 07:25] sarath-rachuri commented on #4820
@cormacpayne @solankisamir This cmdlet is being used  for 2 times in the script. Once for updating the API name and this instance didn't fail. And the other instance for adding an OAuth Server to the API and this instance is failing. Below are the parameters that are passed to the cmdlet.

##adding OAuth Server to the API
Set-AzureRmApiManagementApi -Context $apimgmtContext -ApiId $newAPI.ApiId -N

[2017-10-23 09:57] ivanthelad commented on #4130
Any update on this issue?

[2017-10-23 10:08] aakritiee opened #4833 "Encountering the following error while azure disk encryption"
Set-AzureRmVMDiskEncryptionExtension : Long running operation failed with status 'Failed'.
ErrorCode: VMExtensionProvisioningError
ErrorMessage: VM has reported a failure when processing extension 'AzureDiskEncryption'. Error message: "Failed to configure bitlocker as expected. Exception: Access denied,
InnerException: , stack trace:    at Microsoft.Cis.Security.BitLocker.BitlockerIaasVMExtension.

[2017-10-23 10:23] santoshghimire commented on #4403
@cormacpayne Any update on this?

[2017-10-23 12:01] arcotek-ltd commented on #4551
Hi,
Can you reopen this please?

I had an email from @eshaparmar and replied in detail, including providing access to a VM that he requested. The VM has been running for 2 weeks now, but I have not had a response from @eshaparmar.

[2017-10-23 15:54] shadewlkr commented on #1817
Has this item been resolved?   I'm getting the same errors when I deploy subnets that have a dependency on a network security group with a large number of rules.   Sometimes the deployment completes successfully, other times it fails with the "Another Operation in Progress" error.  All of my subnets have dependencies, but they seem to be ignored or there are too many parallel operations going on a

[2017-10-23 15:59] cormacpayne commented on #4551
@eshaparmar Hey Esha, would you mind taking a look at Adrian's response?

[2017-10-23 16:01] cormacpayne commented on #4403
@santoshghimire Hey Santosh, converting the KeyVault modules to .NET Core is on our radar and we're looking to get it done by the end of the year. @twitchax will be able to shed more light on our timeline.

[2017-10-23 17:12] cormacpayne opened #4835 "Error in TypeData when importing multiple versions of AzureRM.Profile"
On a machine with the latest version of `AzureRM` installed (4.4.1) and a "spoofed" later version installed (5.0.0),

[code]

if the older version of `AzureRM.Profile` is imported with any version of `AzureRM.Compute`,

[code]

trying to import _any_ version of `AzureRM.Compute` will result in the following error:

[code]

There needs to be a check added to see if the `TypeConverter` has been init

[2017-10-23 18:23] singhkays commented on #4703
@clericc Yes I think that could work, although it is probably unlikely but I worry if that will lead to additional confusion if one uses -Linux with -OsType Windows  & vice-versa

[2017-10-23 18:44] girishgouda commented on #4830
Is this issue looked upon? . This is critical issues for us . kindly update any findings on the same

[2017-10-23 19:07] bganapa opened #4836 "Log CorrelationId as part of the client error message so that the server-side ARM logs can be looked up easily"
### Cmdlet(s)
All AzureRm cmdlets

### Description

Rightnow the powershell errors do not show any CorrelationIds as part of the client error message. It is good to show them  for easier debugging on the service side. This may need some changes on the ARM error response.

[2017-10-23 19:32] clericc commented on #4703
you didnt give an opinion about -ManagedDisk $diskObject proposal.

[2017-10-23 19:47] singhkays commented on #4703
@clericc Can you explain that a bit more? Maybe share a code example of how you'd use it

[2017-10-23 19:50] bganapa opened #4839 "Log Correlation Id in client side for AAD/Graph errors"
### Cmdlet(s)
Add-AzureRMAccount and AD cmdlets

### Description

providing the correlation id  in the client side would be helpful as we could easily match with the server side logs to find out the errors. This may require some changes in the server side

[2017-10-23 19:50] bganapa commented on #4839
related https://github.com/Azure/azure-powershell/issues/4836

[2017-10-23 19:51] clericc commented on #4703
[code]

[2017-10-23 20:32] singhkays commented on #4703
@clericc I like this!

@hyonholee Can you sync on the dev team and figure out when we can do this?

[2017-10-23 20:33] rezaamya commented on #4792
in this screenshot you can see the result of **metrics** and **metrics.Data**:
Screenshot 1:
![get_metrics](https://user-images.githubusercontent.com/8912282/31911456-90df657c-b84d-11e7-9e17-c10aa1283483.jpg)

Screenshot 2:
in this screenshot you can see output after using **-TimeGrain 01:00:00**
![get_metrics2](https://user-images.githubusercontent.com/8912282/31911572-03655fe8-b84e-11e7-809b-0c0

[2017-10-23 20:40] twitchax commented on #4403
@cormacpayne says it best.  We are currently getting to a place where Netcore build/test is "easy"; then, we will start to move modules over one-by-one.  KeyVault is at the top of our list.

[2017-10-23 20:45] rezaamya opened #4840 "Get-AzureStorageTable is not returning Timestamp correctly"
I can get storage table rows using this PowerShell command:

    $temp_table_name = "MY_TABLE_NAME"
    $saContext = (Get-AzureRmStorageAccount -ResourceGroupName $resourceGroup -Name $storageAccount).Context
    $temp_table = Get-AzureStorageTable -Name $temp_table_name -Context $saContext
    $result = Get-AzureStorageTableRowAll -table $temp_table
I have two Timestamp in my table, one is for az

[2017-10-23 20:49] cormacpayne commented on #4792
@andyjballgit Hey Andy, what version were you using previously? As far as I can tell, the parameter sets for this cmdlet have not changed for ~6 months, so it's odd that this error is now occurring for you.

@rezaamya Hey Reza, to break out of the "mandatory array parameter" scenario, you press Enter to stop providing values for the parameter. It's not crystal clear that's what you're supposed to

[2017-10-23 21:03] cormacpayne commented on #4840
@blueww Hey Wei, would you mind taking a look at this issue?

[2017-10-23 21:12] ahmedelnably opened #4841 "Return SiteConfig when getting all sites under a subscription or resource group"
We could add a –Detailed or –Config parameter to return the full site with config in list scenarios, this way the user would opt in to any performance hit and/or request throttling.  This is similar to the way that VMs support Status, which similarly requires an additional API call.

Get-AzureRmWebApp | % {$_.SiteConfig}                                 ========== SiteConfig is empty
Get-AzureRmWeb

[2017-10-23 23:53] rezaamya commented on #4792
Hey @cormacpayne can you give me a sample to get CPU & Memory as metrics.

[2017-10-24 02:48] blueww commented on #4840
@rezaamya , Get-AzureStorageTableRowAll is not a cmdelts from Azure-PowerShell.
Is it from https://www.powershellgallery.com/packages/AzureRmStorageTable?
If so, you should open an issue in: https://github.com/paulomarquesc/AzureRmStorageTable

Besides that,

[2017-10-24 06:41] pixelicous commented on #2873
@cormacpayne Ok, it haven't happened since, today happened again, all scheduled jobs running related to vm scale sets couldn't execute..

[2017-10-24 06:44] twitchax commented on #4544
Added @eamonoreilly so we can discuss at our sync.

[2017-10-24 11:03] hessamalipour opened #4842 "Get-Metrics : Run Login-AzureRmAccount to login"
Cmdlet(s)

Get-Metrics

PowerShell Version

5.1.15063.674

Module Version

1.0.5
OS Version

10.0.15063.674
########################
Description

I am trying to use Module AzureRm.Insights, after login when want to run the command line Get-Metrics, I am getting this error:

Get-Metrics : Run Login-AzureRmAccount to login.
At devops96\teslAML.ps1:26 char:13
+  $metrics = Get-Metrics -ResourceId "/

[2017-10-24 13:51] arcotek-ltd opened #4844 "Start-AzureRmAutomationDscCompilationJob: No way to automate compilation versions created, using the -IncrementNodeConfigurationBuild switch"
### Cmdlet(s)

### PowerShell Version
Instructions: to get PowerShell version, type `$PSVersionTable` and look for the value associated with `PSVersion`

### Module Version

### OS Version
Instructions: to get OS version, type `$PSversionTable` and look for value associated with `BuildVersion`

### Description

### Debug Output
Instructions: to get Debug Output, set `$DebugPreference="Continue"` a

[2017-10-24 13:51] woter324 commented on #4775
So I have found the issue. I raised this under the wrong account, so I will close this and open a new one under the correct account:
[https://github.com/Azure/azure-powershell/issues/4844](https://github.com/Azure/azure-powershell/issues/4844)

@markcowl It's actually `Start-AzureRmAutomationDscCompilationJob` that caused the problem which I believe falls well and truely under "Azure PowerShell

[2017-10-24 13:51] #4775 closed

[2017-10-24 15:05] rajaprad opened #4845 "New-AzureRmSqlServer: Error message incorrect/misleading when trying to create an Azure SQL Server(NameAlreadyExists)"
### Cmdlet(s)
New-AzureRmSqlServer

### PowerShell Version
5.1.14409.1012

### Module Version
Manifest   3.3.1      AzureRM.Sql

### OS Version
10.0.14409.1012

### Description

Below is the error message "**Long running operation failed with status 'Failed**" - which does not provide the actual error. The actual error "  "**NameAlreadyExists**" does show up only with -debug parameter in the comma

[2017-10-24 16:24] cormacpayne commented on #2873
@pixelicous unfortunately we weren't able to get the PR into the 4.4.1 release, but it will be in the 5.0.0 release 😄 sorry about the delay!

[2017-10-24 20:40] eternalapprentice2000 opened #4846 "Getting an error when using Get-AzureKeyVaultKey"
### Cmdlet(s)
- Get-AzureKeyVaultKey

### PowerShell  And OS Version

#### Windows Server (Broken)
	Name                           Value
	----                           -----
	PSVersion                      5.1.14409.1005
	PSEdition                      Desktop
	PSCompatibleVersions           {1.0, 2.0, 3.0, 4.0...}
	BuildVersion                   10.0.14409.1005
	CLRVersion                     4.

[2017-10-24 21:25] cormacpayne commented on #4846
@RandalliLama @dragav would you mind taking a look at this issue?

[2017-10-24 21:27] cormacpayne commented on #4845
@akromm @jaredmoo would you mind taking a look at this issue?

[2017-10-24 21:32] cormacpayne commented on #4844
@vrdmr Hey Varad, would you mind taking a look at this issue?

[2017-10-24 21:35] cormacpayne commented on #4842
@hessamalipour would you mind running `Get-Module -ListAvailable` and commenting the result here? It looks like this is an issue with mismatched versions with the modules you have installed on your machine (_i.e._, the version of `AzureRM.Insights` you have loaded requires a different version of `AzureRM.Profile` that you have loaded).

[2017-10-24 21:43] markcowl commented on #4839
This is included in the x-ms-client-request-id in the Insights telemetry.  Please re-open if this is not providing the information you need.

[2017-10-24 21:43] #4839 closed

[2017-10-24 21:44] markcowl commented on #4836
If you run Resolve-AzureRmError, you get this information.  Please reopen if you are not seeing this.

[2017-10-24 21:44] #4836 closed

[2017-10-24 21:45] markcowl commented on #4833
@aakritiee Please execute your script with ```$DebugPreference="Continue"``` and include the results ehere.  This will provide the client/server communication and help us to diagnose the exact issue.

[2017-10-24 21:48] markcowl commented on #4830
@danielsollondon Can you take a look

[2017-10-24 21:50] markcowl commented on #4828
@darshanhs90 Can you take a look?

[2017-10-24 21:59] cormacpayne commented on #2192
@sazeesha closing as the PowerShell issue is resolved. Please open an issue in the Azure SDK for .NET repository with the Fluent label.

[2017-10-24 21:59] #2192 closed

[2017-10-24 22:01] cormacpayne commented on #2220
@KZeronimo this is unrelated to the issue you are seeing with Visual Studio.

[2017-10-24 22:01] #2220 closed

[2017-10-24 22:14] #3434 closed

[2017-10-24 22:15] cormacpayne commented on #3434
Duplicate of https://github.com/Azure/azure-powershell/issues/3430

[2017-10-24 22:19] #3680 closed

[2017-10-24 22:28] #3973 closed

[2017-10-24 22:33] cormacpayne commented on #4016
Using `Resolve-AzureRmError` returns the necessary information to debug the error.

[2017-10-24 22:33] #4016 closed

[2017-10-24 22:36] cormacpayne commented on #4031
This issue is fixed in PR https://github.com/Azure/azure-powershell/pull/4822

[2017-10-24 22:38] #4125 closed

[2017-10-24 22:41] cormacpayne commented on #4209
Please check our documentation on context persistence: https://docs.microsoft.com/en-us/powershell/azure/context-persistence

This is the way we recommend you start jobs with AzureRM cmdlets.

[2017-10-24 22:41] #4209 closed

[2017-10-24 22:44] cormacpayne commented on #4232
@abbgrade the Azure PowerShell has no control over what appears in the window you are seeing. This is controlled by your local eSTS.

[2017-10-24 22:44] #4232 closed

[2017-10-24 22:46] #4290 closed

[2017-10-24 22:55] cormacpayne commented on #4488
@alexandair @sambanks this looks like an issue with Newtonsoft.Json in .NET Core

@twitchax can you confirm this is the issue?

[2017-10-24 23:32] cormacpayne commented on #4489
@adumont it appears there is something wrong with your installation of `PowerShellGet` that is causing installation errors. Are you able to install any other package from the PowerShell Gallery, or do you see the same error above?

[2017-10-24 23:38] sambanks commented on #4488
@cormacpayne I gave up on the whole endeavor. I happily no longer have to work with Azure

[2017-10-25 01:04] dragav commented on #4846
It sounds like the PSh cmdlet loads an older version of the KeyVault SDK. Please try the following:
- (get-module -Name AzureRM.KeyVault).Path
- navigate to that path, and examine the properties of Microsoft.Azure.KeyVault.dll; its version should be 2.3.2
- if that is the case, please do a scan for other instances of this dll; one of those is probably older and is being preferred upon loading.

Ho

[2017-10-25 06:52] twitchax commented on #4488
This is a bug in the version of Newtonsoft.Json that ships with PowerShell 6.0.  The bug has been fixed in Newtsonsoft.Json, but PowerShell 6.0 needs to ingest that fix.  Closing.

[2017-10-25 06:52] #4488 closed

[2017-10-25 07:08] twitchax commented on #4509
Closing as duplicate of #4476.

[2017-10-25 07:08] #4509 closed

[2017-10-25 07:11] arcotek-ltd commented on #4844
I was thinking about this overnight and it might not be evidently clear on the relationship between the cmdlet `New-AzureRmResourceGroupDeployment` and `Start-AzureRmAutomationDscCompilationJob`.

`Start-AzureRmAutomationDscCompilationJob` compiles the DSC configuration, producing  the node configurations. I then pass the name of one of these node configurations as a parameter to a deployment temp

[2017-10-25 08:28] twitchax commented on #4476
The issue was identified, and I have made the fix as part of my Netcore work.

The issue is fixed by [this](https://github.com/twitchax/azure-powershell/blob/bf26f13b89f1f6473ac43aabd19b9e46ef89c10a/src/Common/Commands.Common.Authentication/Authentication/ServicePrincipalTokenProvider.cs#L83) change in [this commit](https://github.com/twitchax/azure-powershell/commit/bf26f13b89f1f6473ac43aabd19b9e

[2017-10-25 08:45] 4c74356b41 commented on #4476
okay, I can verify that its working in the container. any chance we can get the binaries to integrate into our ci\cd?

[2017-10-25 11:15] hessamalipour commented on #4842
@cormacpayne
PS C:\WINDOWS\system32> get-module -ListAvailable

    Directory: C:\Users\hessa\Documents\WindowsPowerShell\Modules

ModuleType Version    Name                                ExportedCommands
---------- -------    ----                                ----------------
Script     0.2.3.9    AzureAutomationAuthoringToolkit     {Get-AutomationVariable, Get-AutomationCertificate, Get-Autom

[2017-10-25 13:14] eternalapprentice2000 commented on #4846
Nailed it.  I didn't think about it but this is an Octopus Server that has its own azure powershell install. I will update them and see if it resolves it.

[2017-10-25 14:07] eternalapprentice2000 commented on #4846
So I attempted to work with this and I did find some dlls that were older in other folders. I updated them and the issue is still occurring.  I also did some research and (I'm not a powershell expert) used the `$env:PSModulePath` to find the path for the modules.  I am not seeing any of the older dlls any any of those folders.

	PS C:\scripts\psScripts> $env:PSModulePath
	C:\Users\kgarza\Documents

[2017-10-25 14:31] eternalapprentice2000 commented on #4846
ugh... so many hours..... So basically this is working as expected and working great.  If I run the script in Powershell ISE it does not work. run the script using powershell command line... works great... Im going to find a pillow and scream into it.

Thanks for your guys help.

[2017-10-25 14:57] cormacpayne commented on #4846
@eternalapprentice2000 Hey Kenneth, sorry about the confusing experience; hopefully everything is settled now. Please let us know if there's anything else we can help out with!

[2017-10-25 14:57] #4846 closed

[2017-10-25 15:10] cormacpayne commented on #4842
@hessamalipour from the above log, it looks like you have version 3.4.0 installed via the Web Platform Installer or from the .msi file, as well as multiple versions of `AzureRM.Insights` and `AzureRM.Profile` installed from the PowerShell Gallery. My advice would be to remove the modules installed from the Web Platform Installer or .msi file from the Control Panel, and then determine which version

[2017-10-25 16:09] hessamalipour commented on #4842
@cormacpayne  Thanks a lot, it is working fine. Solved problem 👍

[2017-10-25 16:10] #4842 closed

[2017-10-25 16:42] mkosieradzki commented on #4161
Any news on this one?

I get a NullReferenceException with the following stacktrace
[code]

[2017-10-25 17:57] maddieclayton opened #4852 "Add Location Completer to Compute Generator"
### Description

- [ ] Add the LocationCompleterAttribute with correct Provider/Resource type to each generated cmdlet with the -Location parameter.
- [ ] Regenerate the files and test functionality

[2017-10-25 17:58] #4852 closed

[2017-10-25 17:58] maddieclayton commented on #4748
### Updated description:

- [ ] Add the LocationCompleterAttribute with correct Provider/Resource type to each generated cmdlet with the -Location parameter.
- [ ] Regenerate the files and test functionality

[2017-10-25 18:11] maddieclayton commented on #4595
Fixed

[2017-10-25 18:11] #4595 closed

[2017-10-25 18:13] maddieclayton commented on #4596
@hyonholee Will it be possible to get this issue fixed before the November release? The next breaking change release will not be for another six months.

[2017-10-25 18:16] solankisamir commented on #4510
Fix for the issue should be available with https://github.com/Azure/azure-powershell/milestone/31

[2017-10-25 18:16] #4510 closed

[2017-10-25 18:17] solankisamir commented on #4069
Fix for the issue should be available with https://github.com/Azure/azure-powershell/milestone/31

[2017-10-25 18:17] #4069 closed

[2017-10-25 18:35] bganapa commented on #4836
@sarathys for your attention.  Mark I will try this

[2017-10-25 19:57] vicp-iq commented on #4691
I have good news and bad news!
The good news is that this turned out to be the same as https://github.com/Azure/azure-powershell/issues/4299 and was fixed by upgrading the AzureRM version.

The bad news is that I only just found out, after investing... way too many hours dealing with so many variants of this problem.

[2017-10-25 19:57] #4691 closed

[2017-10-25 20:35] cormacpayne commented on #4161
@RandalliLama @dragav would you mind taking a look at this issue?

[2017-10-25 21:09] etm-admin commented on #4205
The issue still remains. If we received a SAS token from a customer e.g. with read rights to a table on table storage, we can't use powershell to get this information from this table as this SAS token does not have rights to list tables. Any possibility to make `Get-AzureStorageTable` skip the list request?

[2017-10-25 21:28] alexsab1 opened #4853 "Set-AzureRmApplicationGatewayRequestRoutingRule not working"
### Cmdlet(s)

Set-AzureRmApplicationGatewayRequestRoutingRule

### PowerShell Version
Instructions: to get PowerShell version, type `$PSVersionTable` and look for the value associated with `PSVersion`

5.1.14393.1770

### Module Version

3.4.0

### OS Version
Instructions: to get OS version, type `$PSversionTable` and look for value associated with `BuildVersion`

10.0.14393.1770

### Description

[2017-10-25 21:42] alexsab1 commented on #4853
I'm no longer sure if this issue is just for the Set-AzureRmApplicationGatewayRequestRoutingRule. I also tried Set-AzureRmApplicationGatewayBackendHttpSettings and also get immediate successful return in the console however Azure Portal is never updated. The object that the cmdlet returns is of type Microsoft.Azure.Commands.Network.Models.PSApplicationGateway.

The return object shows that update

[2017-10-25 21:47] jaredmoo commented on #4845
This error message comes from Microsoft.Rest.ClientRuntime.Azure, and more recent versions of that shared library are showing the full error message. I believe the new version was pulled in by one of these changes in September: https://github.com/Azure/azure-powershell/commits/preview/tools/Common.Dependencies.targets

When I used the latest version of Azure PowerShell, I get the full message. @ra

[2017-10-25 23:19] anthonyonazure commented on #4776
For those finding this thread now or later, the command `Get-AzureRmServicePrincipal` didn't work for me `Get-AzureRmADServicePrincipal` is what I believe @markcowl meant to type, and it worked just like he described.

`Get-AzureRmADServicePrincipal -SearchString "application name"` will net you the ServicePrincipalNames, ApplicationId, DisplayName, Id, and Type back, and the ServicePrincipalName

[2017-10-25 23:33] cormacpayne opened #4855 "Create separate folder per module containing scripts to be executed on import"
Along with the work being done for issue https://github.com/Azure/azure-powershell/issues/3972, create a separate folder per module that will contain scripts that should be executed when the module is imported (_e.g.,_ startup scripts that load aliases and default resource groups). Make sure the folder is copied to the output directory and the functionality of the scripts is included in the .psm1

[2017-10-26 01:16] mloho opened #4856 "ARM Template Deployment: ParametersObject Failure"
### Script
`New-AzureRmResourceGroupDeployment @deploymentParameters`

[code]

`$subscriptionsParameterValue` = an array `@()` of `PSCustomObject`s meant to represent JSON objects

e.g.

[code]

### ARM Template
[code]

### PowerShell Version
5.1.14409.1012

### OS Version
10.0.14409.1012

### Description
Expected result is to have the template receive an array of objects that will define the subs

[2017-10-26 03:49] blueww commented on #4205
@etm-admin

The Get-AzureStorageTable is to list the table, it need list permission.
If the SAS only has read only has permission inside a table ,but no list table, it's can't be used in Get-AzureStorageTable.

If you really want to create a CloudTable Object in Powershell, you can use the Azure Storage Library API in Powershell Like:
[code]

But please note this object is the CloudTable Object in

[2017-10-26 03:51] twitchax commented on #4488
Verified the fix in PowerShell 6.0 Beta 9.

[code]

[2017-10-26 06:48] aakritiee commented on #4833
DEBUG: 12:15:45 - SetAzureDiskEncryptionExtensionCommand begin processing with ParameterSet 'AAD Client Secret Parameters'.
DEBUG: 12:15:45 - using account id 'khokhar_pr@am.adecco.net'...
DEBUG: [Common.Authentication]: Authenticating using Account: 'khokhar_pr@am.adecco.net', environment: 'AzureCloud', tenant: 'f30ac191-b8b4-45f2-9a9b-e5466cb90c2f'
DEBUG: Microsoft.IdentityModel.Clients.ActiveDi

[2017-10-26 07:17] foreverchanges commented on #4022
This is still broken and is preventing us (and presumably others) from creating an automated release pipeline that facilitates an appropriate versioning and release strategy for New-AzureRmMlWebService resources. Is it possible to say when / if this is likely to be fixed?

[2017-10-26 07:59] giladmit commented on #4554
Note that Set-AzureRmSqlDatabaseAuditingPolicy is currently deprecated, and is being replaced by [Set-AzureRmSqlDatabaseAuditing](https://docs.microsoft.com/en-us/powershell/module/azurerm.sql/set-azurermsqldatabaseauditing).

The [Get started with SQL Database Auditing](https://docs.microsoft.com/en-us/azure/sql-database/sql-database-auditing) article is aligned with the new cmdlet, and they both

[2017-10-26 09:22] #4554 closed

[2017-10-26 15:43] Steven-N commented on #3407
Specifically, which permissions on the graph API does the service principal require in AAD to run the 'Get-AzureRmRoleAssignment' command? I am getting the same error as well on the most up to date version of Azure-Powershell.

[2017-10-26 16:46] PirateBread commented on #2617
This is still happening, on most occasions cloning an app via powershell throws this error.

[2017-10-26 19:17] cormacpayne commented on #4385
The fix for this has been merged and will be available in the November release of Azure PowerShell (version 5.0.0 - set to release November 8th).

[2017-10-26 19:17] #4385 closed

[2017-10-26 19:18] cormacpayne commented on #4418
The fix for this has been merged and will be available in the November release of Azure PowerShell (version 5.0.0 - set to release November 8th)The fix for this has been merged and will be available in the November release of Azure PowerShell (version 5.0.0 - set to release November 8th)

[2017-10-26 19:18] cormacpayne commented on #4720
The fix for this has been merged and will be available in the November release of Azure PowerShell (version 5.0.0 - set to release November 8th)

[2017-10-26 19:18] cormacpayne commented on #4294
The fix for this has been merged.

[2017-10-26 19:18] #4294 closed

[2017-10-26 19:20] cormacpayne commented on #4331
@DdenBraver Hey Danny, is this still an issue for you with the latest version of Azure PowerShell? If so, I have merged a PR that fixes issues users are seeing with AutoMapper that will be available in the November release of Azure PowerShell (version 5.0.0 - set to release November 8th).

[2017-10-26 19:24] cormacpayne commented on #1327
@romangromov @MilanDasek if this happens to still be an issue for either of you, we will be shipping a fix for all AutoMapper mapping exceptions in the upcoming release of Azure PowerShell (version 5.0.0 - set to release on November 8th).

[2017-10-26 19:36] ehamai opened #4861 "PowerShell only returns 100 apps/slots for an ASP"
If you have more than 100 apps/slots in an ASP, PowerShell will only return 100, which seems to be the paging limit for whatever API we're calling.  To fix this, we need to look at the nextLink property of the response to get the next set of results in the page.

[2017-10-26 21:03] twitchax commented on #4476
We likely won't ship new Netcore cmdlets until November 8; however, you can pull the fixed binaries out of the docker image, if you'd like.  They are in `/azure-powershell`.

[2017-10-26 21:05] twitchax commented on #3963
@markcowl, the former.  Basically, it would be nice if the steps [here](https://docs.microsoft.com/en-us/dotnet/azure/dotnet-sdk-azure-authenticate?view=azure-dotnet#mgmt-auth) were 1 - 3 cmdlet class rather than a multistep process and the creation of a file manually.

[2017-10-27 05:18] 4c74356b41 commented on #4476
Hey, thanks for the heads up. Just a side question. Did you already ship the auth changes i saw previewed? Like the starting as job or context persistence? If yes, will they be part of the netcore reléase? Is there any docs covering those? I couldn’t find anything (maybe its just me).

Thanks!

-------------------------- 
Thanks in advance! || ¡Gracias de antemano!

Gleb Boushev,
Azure MVP.

De: A

[2017-10-27 05:39] shubhamgupta514 opened #4866 "Issue with Enable Replication for Azure Site Recovery"
Hi,

I am developed the attached script for enabling replication from Vmware(on-premise) to Azure.
But I am not getting any response after invoking the rest api and when I check the replication items in azue portal, the protected item is there and trying to enable the replication but somehow it is getting failed with a  error on Mobility service installation and preparing target step even the Mobi

[2017-10-27 05:47] SunnyOswal commented on #4779
@ahmedelnably @markcowl Is anybody looking into this ?

[2017-10-27 05:52] twitchax commented on #4476
Yep, the context persistence and job improvements were in 4.4.1 (a few weeks ago).  The docs on that are [here](https://docs.microsoft.com/en-us/powershell/azure/using-experimental-modules).

This _should_ be part of the November release for Netcore, and we will be making more of an effort to update the Netcore bits in a timely manner; however, the Netcore cmdlets are still officially in _preview_

[2017-10-27 06:27] shubhamgupta514 opened #4867 "Set-ASRVaultContext Error"
Hi,

When I am getting an error while executing below cmdlets:

######################
#Cmdlets
######################
$Vault = Get-AzureRMRecoveryServicesVault -ResourceGroupName $rgName -Name $VaultName
Set-ASRVaultContext -vault $vault

########################
# Error
########################
Set-AzureRmRecoveryServicesAsrVaultContext : Cannot bind parameter 'Vault'. Cannot convert the
"Micros

[2017-10-27 06:29] shubhamgupta514 commented on #4866
Hi Shahabhjeet,

Did you take a look into the script?

Thanks,
Shubham Gupta

[2017-10-27 06:32] 4c74356b41 commented on #4476
sorry, somehow missed that. keep up the great work!

[2017-10-27 11:27] farzadmf commented on #3978
@spottedmahn  now thank *you* for the reply, I didn't know about the msi installation option

[2017-10-27 11:49] jakobli commented on #3407
The odd thing for me is using New-AzureRoleAssignment works but I can't do Get-AzureRMRoleAssignment

[2017-10-27 21:19] mloho commented on #4856
Answer: Use Hashtables. Import your JSON files as hashtables.

[2017-10-27 21:19] #4856 closed

[2017-10-28 12:39] vijayjt commented on #3088
@jmprieur Sorry for not replying sooner - yes I think that's a acceptable solution for my use case/script as I don't have any need to pass the properties from the returned objects to another cmldet in the Azure powershell module . I was using the older/legacy MSOL module as a workaround anyway. Thanks for getting back to me on this.

[2017-10-28 23:48] Obulab commented on #4491
Thanks , providing  certvalue directly with New-AzureRMADServicePrincipal worked for me.

[2017-10-29 05:36] paulomarquesc commented on #4828
I just found out where the bug is, I debugged the solution and found out that the line 222 on file **azure-powershell\src\ResourceManager\Resources\Commands.Resources\Models.Authorization\AuthorizationClient.cs** is executing an IsNullOrEmpty in an object that is executing the ToString() method and when the object is null, the ToString() triggers a NullReferenceExcepytion.

The line is:
principalI

[2017-10-29 06:37] paulomarquesc commented on #4828
The pull request for this fix is #4881.

[2017-10-30 03:54] alexandair opened #4882 "[AzureRM.Netcore] Old brand (Windows Azure) is used on login screens"
When you follow the instruction "To sign in, use a web browser to open the page https://aka.ms/devicelogin and enter the code E8DSVGG3M to authenticate." after you run Login-AzureRmAccount, this is what you see in your browser. Old brand "Windows Azure" is used 3 times.

![login](https://user-images.githubusercontent.com/3135708/32153976-f505039e-bd03-11e7-867a-289556210a96.png)
![login2](https://

[2017-10-30 06:44] rokmicrosoft opened #4883 "Azure PowerShell task fails to init Azure subscriptions"
### Cmdlet(s)

### PowerShell Version
Instructions: to get PowerShell version, type `$PSVersionTable` and look for the value associated with `4.4.0`

### Module Version

### OS Version
Instructions: to get OS version, type `$PSversionTable` and look for value associated with `BuildVersion`

### Description
Azure PowerShell task - fails to init Azure subscriptions

Select-AzureRMSubscription cmdlet

[2017-10-30 07:54] DdenBraver commented on #4331
@cormacpayne , It seems this issue is resolved with the latest version of Azure PowerShell.

[2017-10-30 19:32] rajaprad commented on #4845
@jaredmoo - I got the below error message from the latest Azure Powershell Version.

New-AzureRmSqlServer : Long running operation failed with status 'Failed'. **Additional Info:'The name '{0}' already exists. Choose a different name.'**
This help - however can we pull out the actual value in place of **{0},** thanks!!

[2017-10-30 20:28] jaredmoo commented on #4845
Thanks for pointing this out, this is a server-side bug (it applies to all of our clients, not just powershell) that will be fixed in the near future. Cheers!

[2017-10-30 20:47] markcowl commented on #4883
@rokmicrosoft There could be lots of causes for this.  Can you please provide:

- The result when running the cmdlet with ```$DebugPreference="Continue"```
- The list of installed modules, by running ```Get-Module -ListAvailable```

[2017-10-30 20:54] darshdeeph opened #4887 "Incorrect/Confusing response for Get-AzureRmResourceProvider"
### Cmdlet(s)
Get-AzureRmResourceProvider

### PowerShell Version
Instructions: to get PowerShell version, type `$PSVersionTable` and look for the value associated with `PSVersion`
 5.1.14393.1794
### Module Version

### OS Version
Instructions: to get OS version, type `$PSversionTable` and look for value associated with `BuildVersion`
 10.0.14393.1794

### Description
Get-AzureRmResourceProvider

[2017-10-30 20:55] darshdeeph commented on #4887
![image](https://user-images.githubusercontent.com/7229247/32195238-f9374df2-bd79-11e7-84ce-63be5078bf16.png)

[2017-10-30 20:59] darshdeeph commented on #4887
![image](https://user-images.githubusercontent.com/7229247/32195351-4ac47424-bd7a-11e7-9f20-dc1f60b09379.png)

![image](https://user-images.githubusercontent.com/7229247/32195454-87bbbb3a-bd7a-11e7-8d74-fa3ed2253161.png)

[2017-10-30 21:32] pukkanen opened #4889 "New-AzureRmNetworkInterface with -loadbalancerinboundrule fails "A retryable error occurred." if more than 10 rules are applied at once"
### Cmdlet(s)
New-AzureRmNetworkInterface

### PowerShell Version
PSVersion 5.1.16299.19

### Module Version
4.4.1 (AzureRM)

### OS Version
BuildVersion
10.0.16299.19

### Description
New-AzureRMNetworkInterface and parameter -loadbalancinginboundrule fails when deploying over 10 NAT rules in same time using PowerShell jobs.

We use Powershell to deploy 1-20 of VM's to Azure. As a part of the dep

[2017-10-30 21:41] markcowl commented on #4853
@alexsab1 I believe this is by design, the Set-ApplicationGatewayRequestRoutingRule is only making an in-memory change to the routing rules in a gateway, you have to pass the resulting value into the ```Set-AzureRmApplicationGateway``` cmdlet, so that the flow looks kind of like:

[code]

or something similar.

[2017-10-30 21:42] markcowl commented on #4853
Assigning to the network team, as this may be a documentation issue.

[2017-10-30 21:42] markcowl commented on #4853
@DeepakRajendranMsft Can you take a look?

[2017-10-30 21:44] markcowl commented on #4866
@shubhamgupta514 I don't believe this fucntionality is due to be released until 11/7.  Assigning to the SiteRecovery team to verify.

[2017-10-30 21:44] markcowl commented on #4866
@viverm can you take a look?

[2017-10-30 21:46] markcowl commented on #4867
@viverm can you take a look?

[2017-10-30 21:47] markcowl commented on #4882
@twitchax @sphibbs This is abotu the metadata in the first party app for Azure PowerShell.  Can one of you take  alook at updating.

[2017-10-30 21:49] markcowl commented on #4887
@ravbhatnagar @vivsriaus Can you guys take a look?

[2017-10-30 21:51] markcowl commented on #4889
@pukkanen Can you include some additional information to help us debug the issue?

- Debug trace, which will have the messages between client and server.  Get this using ```$DebugPreference="Continue"``` before executing the failing command
- Detailed error information using ```Resolve-AzureRmError```

[2017-10-30 22:30] pukkanen commented on #4889
I updated Debug Output.

[2017-10-30 22:41] pukkanen commented on #4889
![image](https://user-images.githubusercontent.com/26959199/32199179-1a9dcf3e-bdd4-11e7-91c1-bb26099b28da.png)

And this is what it looks like in portal, NAT rules are missing target.

[2017-10-30 23:20] markcowl commented on #4835
This is, unfortunately, by design, because the TypeData is included in a types.ps1xml file.  Because the typedata is automatically added on import, if it already exists this error is thrown.  If you remove the module, before importign the later version, thsi does not occur.

[2017-10-31 04:04] shubhamgupta514 commented on #4866
@markcowl  I am facing the same error for unplanned failover api on shutting down the source VM step. Please verify that also.

[2017-10-31 07:42] ram-kakani opened #4892 "$vm.StorageProfile.OsDisk.Vhd.Uri change should not be allowed on a Running VM"
### Cmdlet(s)
Get-AzureRMVM -ResourceGroupName DiskSwapVM_RG -Name DiskSwapVM
$vm.StorageProfile.OsDisk.Vhd.Uri = 'https://diskswapvmrgdisks296.blob.core.windows.net/vhds/DiskSwapVM20171006181339.vhd'
Update-AzureRmVM -ResourceGroupName DiskSwapVM_RG -VM $vm

### PowerShell Version
Instructions: to get PowerShell version, type `$PSVersionTable` and look for the value associated with `PSVersion`
Az

[2017-10-31 08:41] dragonfly91 commented on #4505
Hi, this was fixed in the previous release. I'm closing this issue. If there are any concerns, please feel free to reopen it.

Thanks

[2017-10-31 08:41] #4505 closed

[2017-10-31 08:45] dragonfly91 commented on #2520
This fix was done quite a while ago. Closing this issue.

[2017-10-31 08:45] #2520 closed

[2017-10-31 08:46] dragonfly91 commented on #2251
This fix is published a while ago. Closing this issue.

[2017-10-31 08:46] #2251 closed

[2017-10-31 11:38] Ajay-MS commented on #4883
@markcowl

I will again have a call today with the customer and will share info you asked for.  Apart from that, I have few more info from last scheduled call.

We downgraded Azure PS version to 4.0.0, few instance of Select-AzureRmSubscription worked fine there. But later we encountered the following issue.
Error - "Provided subscription <Guid> does not exist"

[2017-10-31 12:45] viverm commented on #4866
@shubhamgupta514
Method ASR-EnableReplicationAPI  used in script is not present in zip .

[Try adding  agent-authentication in header](https://social.msdn.microsoft.com/Forums/en-US/1389eb33-611d-4dd2-893c-de6168f79c32/resful-api-add-vcenter-to-configuration-fail-with-error-code-31255-the-same-action-is-working-fine?forum=hypervrecovmgr)

[2017-10-31 12:45] #4866 closed

[2017-10-31 12:50] viverm commented on #4867
@shubhamgupta514

Can you tell Module version  of  Get-AzureRmSiteRecoveryVaultSettings and Set-ASRVaultContext
`get-command Get-AzureRmSiteRecoveryVaultSettings`
`get-command Set-ASRVaultContext`

[2017-10-31 13:47] shubhamgupta514 commented on #4866
[Enable-ReplicationVMwareToAzure.txt](https://github.com/Azure/azure-powershell/files/1430902/Enable-ReplicationVMwareToAzure.txt)

Please find the attached script.

@viverm authentication header is already added in the script.

[Enable-ReplicationVMwareToAzure.zip](https://github.com/Azure/azure-powershell/files/1430896/Enable-ReplicationVMwareToAzure.zip)

[2017-10-31 13:48] shubhamgupta514 commented on #4866
@viverm  Authentication header is already added

[2017-10-31 13:48] shubhamgupta514 commented on #4866
please find the attached script
[Enable-ReplicationVMwareToAzure.txt](https://github.com/Azure/azure-powershell/files/1430905/Enable-ReplicationVMwareToAzure.txt)

[2017-10-31 14:07] shubhamgupta514 opened #4893 "Issue with Enable Replication for Azure Site Recovery"
Please refer old Issue ID #4866

@viverm @shahabhijeet @markcowl

I am having issue with Azure Site Recovery rest api .
Authentication header is already added in my script and its working with "GET" API requests .
But I have  this particular error case in the attached screenshot that I am facing for enabling replication From VMware (on-premise) to Azure in the mobility service installation and pre

[2017-10-31 14:10] shubhamgupta514 commented on #4867
@viverm  its resolved with the new module version AzureRM.RecoveryServices.SiteRecovery 0.1.6
Please close this issue

[2017-10-31 14:26] viverm commented on #4867
@shubhamgupta514    Thanks for Update.

[2017-10-31 14:26] #4867 closed

[2017-10-31 14:58] viverm commented on #4893
hi @shubhamgupta514
 in the attached txt file I am seeing two function `ARM-VMInfoAPI` and `RESTAPI-Auth`

looks like `ASR-EnableReplicationAPI` is not present in file. Can you please add that method too ..

Might be this can help ..
Sample Agent-Authentication

{
	"NotBeforeTimestamp": "xxxxxxxxxxxxxx",
	"NotAfterTimestamp": "xxxxxxxxxxxxxxx",
	"ClientRequestId": "xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx

[2017-10-31 16:12] cormacpayne commented on #4892
@singhkays Hey Kay, would you mind taking a look at this issue?

[2017-10-31 18:02] singhkays commented on #4892
@cormacpayne @nibhat is the right person for VM queries.

@ram-kakani btw this looks like a service issue as PowerShell just follows what's allowed by the ComputeRP. The real fix for this will need to be in the Compute RP.

[2017-10-31 18:02] #4892 closed

[2017-10-31 18:06] markcowl opened #4896 "Add 'AzureRM.RecoveryServices.SiteRecovery' to the AzureRM module"
Looks like this has never been in the rollup package.

[2017-10-31 18:07] maddieclayton commented on #4596
Fixed

[2017-10-31 18:07] #4596 closed

[2017-10-31 18:29] ram-kakani commented on #4892
Sure Kay, I understand. Let me file an item for CRP.

[2017-10-31 18:48] matendie commented on #4246
Has there been any resolution to this issue? I getting same problem here. What would be work around if any?

[2017-10-31 18:50] matendie commented on #1277
I'm not sure what was fixed... but I'm having the same issue.
Any Idea how to get around it?

Set-AzureRmResource : The pipeline has been stopped.
At line:1 char:1
+ Set-AzureRmResource -ResourceGroupName E20-ES-BMWA11P-ASPResourceGrou ...
+ ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    + CategoryInfo          : CloseError: (:) [Set-AzureRmResource], PipelineStoppedExce

[2017-10-31 20:28] makhdumi commented on #4246
@matendie as a workaround, I believe you can use `Invoke-AzureRmResourceAction` and submit the POST yourself.

[2017-10-31 22:13] markcowl commented on #4861
What is an ASP?  Please provide the name of the cmdlet, and a repro with the requested information in the issue template.

[2017-10-31 22:31] #4584 closed

[2017-10-31 22:40] #4169 closed

[2017-10-31 22:53] #3692 closed

[2017-10-31 22:57] #3277 closed

[2017-10-31 22:59] #3139 closed

[2017-10-31 23:36] #3970 closed

[2017-11-01 03:34] SunnyOswal opened #4899 "Get-AzureRole fails with "TooManyRequests: Too many requests received. Retry after some time.""
### Cmdlet(s)
Get-AzureRole
### PowerShell Version
5.1.14409.1012
### Module Version
Azure 4.0.0
### OS Version
10.0.14409.1012
### Description
We have 9 cloud services which are deployed in parallel and issue happens post deployment when we are checking web/worker roles state of the deployed cloud services using the script shared below.

###Other Info:
All are in same subscription and associated

[2017-11-01 06:39] Ajay-MS commented on #4883
@markcowl

Below result is with Azure PS version 4.0.0

The result when running the cmdlet with $DebugPreference="Continue"
[Skype Build Result](https://skype.visualstudio.com/DefaultCollection/SCC/CALLINGAPPS/_build/index?buildId=676952&_a=summary )

The list of installed modules, by running Get-Module -ListAvailable
Since output list is long sharing it on mail.

[2017-11-01 06:42] Ajay-MS commented on #4883
@markcowl

Below result is with Azure PS 4.0.0

The result when running the cmdlet with $DebugPreference="Continue"
[Skype Build Result](https://skype.visualstudio.com/DefaultCollection/SCC/CALLINGAPPS/_build/index?buildId=676952&_a=summary)

Output of Get-Module -ListAvailable
Sharing on mail as the list is long.

[2017-11-01 10:13] bmcdfc commented on #4629
This is not corrected in 4.4.0 nor in 4.4.1.
Here is the streams data from a job running in Azure Automation using modules of version 4.4.1.
{
        "StreamRecordId":  "87f0a180-b694-447c-b3f7-0e198da90d7b_00636445903384066756_00000000000000000014",
        "StreamValue":  {
                            "Exception":  {
                                              "Message":  "Collection was modi

[2017-11-01 12:54] matendie commented on #4246
Thanks for the response, I get an error while trying this work around... can yo see anything obvious I'm doing wrong?

Invoke-AzureRmResourceAction -Action "Post" -ResourceGroupName "ResourceGroupName" -ResourceName "test2/authsettings" -ResourceType "Microsoft.Web/sites/config" -ApiVersion '2015-06-01' -Parameters $PropertiesObject

Invoke-AzureRmResourceAction :
At line:1 char:1
Invoke-AzureRmRe

[2017-11-01 15:01] matendie commented on #1277
I tried to use Invoke-AzureRmResourceAction instead, but I get another error, and there is no documentation around this cmdlet... Any ideas how to get past this?

Invoke-AzureRmResourceAction -Action "Post" -ResourceGroupName "ResourceGroupName" -ResourceName "test2/authsettings" -ResourceType "Microsoft.Web/sites/config" -ApiVersion '2015-06-01' -Parameters $PropertiesObject

Invoke-AzureRmResour

[2017-11-01 16:56] sdwheeler opened #4902 "Documentation for Get-AzureRMWebApp has invalid example and missing output"
### Cmdlet(s)
Get-AzureRMWebApp

### Module Version
Current release

### Description
Reported by customers via LiveFyre.

The example shows `-SlotName` parameter but that is not a valid parameter. Please provide an appropriate example.

Also, there is no documentation for the output object.

[2017-11-01 17:02] sdwheeler opened #4903 "Get-AzureRmStorageAccount missing output documentation"
### Cmdlet(s)
Get-AzureRmStorageAccount

### Module Version
Current release

### Description
Reported by customer via LiveFyre.

Please update this to indicate the [OutputType()] of the cmdlet

[2017-11-01 17:56] Steven-N commented on #4051
@darshanhs90 I am still getting the same exception.

Running on AzureRM 4.4.0. The SP has owner access on the subscription and has been given Graph API access on the directory (R/W). Has anyone else been reporting issues still?

[2017-11-01 18:07] Steven-N commented on #3407
@darshanhs90 Can you assist with this? I'm still getting the same error message. The SP is owner on the subscription. It has Directory R/W access on the Graph API and I still see the same error when it tries to access the Graph API (getObjectsByObjectIds).

[2017-11-01 19:21] markcowl commented on #4883
@Ajay-MS This link is  to a large set of logs, not the information we requested.  It is inefficient to expect us to pick through your logs looking for the data that we asked for. If you have specific debug logs with $DebugPreference=Continue" set, then please include them here.  Otherwise, we will have to close this as no repro.

Also, have you executed with the latest version of Azure PowerShell?

[2017-11-01 21:05] #4212 closed

[2017-11-01 21:10] viverm commented on #4893
@shubhamgupta514  any update on this ?

[2017-11-01 22:45] darshanhs90 commented on #3407
@jakobli Could you share the stacktrace to help you out regarding the issue

[2017-11-01 23:09] #4665 closed

[2017-11-01 23:11] maddieclayton opened #4910 "Add LocationCompleter and ResourceGroupCompleter to cmdlets"
### Description
- [x] Add LocationCompleter to cmdlets
- [x] Add ResourceGroupName to cmdlets

[2017-11-01 23:56] vrdmr commented on #4643
Thanks @bdanse for the update. I'll close the issue now.

[2017-11-01 23:56] #4643 closed

[2017-11-02 06:34] shubhamgupta514 commented on #4893
@viverm I  made the changes in the script as per your recommendations above.
But this time I am getting different error while invoking the rest-api  .Please look into the attached updated script and let me know if anything is still missing.

[Enable-ReplicationVMwareToAzure-v1.1.txt](https://github.com/Azure/azure-powershell/files/1436668/Enable-ReplicationVMwareToAzure-v1.1.txt)

################

[2017-11-02 08:54] blueww commented on #4570
Since no more responds from customer for the issue for a long time, close the issue.
@blackhill , feel free to reactive the issue if you still have any comments/questions for it.

[2017-11-02 08:54] #4570 closed

[2017-11-02 09:09] Ajay-MS commented on #4883
@markcowl

We have tried with version 4.4.0 and 4.0.0 we are facing this issue with both the versions though error message is different in both cases and we have an almost continuous repo of this issue. I can add you to customer thread where you can directly check repro on customer setup. Also,  customer is blocked because of this issue.

Error with version 4.4.0
Please provide a valid tenant or a

[2017-11-02 15:03] cormacpayne commented on #4903
@blueww Hey Wei, would you mind taking a look?

[2017-11-02 15:04] cormacpayne commented on #4902
@ahmedelnably Hey Ahmed, would you mind taking a look at this issue? Looks like a quick documentation update

[2017-11-02 15:12] cormacpayne commented on #4899
@huangpf Hey Pengfei, are you the appropriate contact for issues surrounding this cmdlet?

[2017-11-02 16:00] sseshachala commented on #2972
Can some one please help?
I am trying to use the  Set-AzureRmVMExtension to install TrendMicro Deep Security. All parameters being right I get
` $Extension = Get-AzureRmVMAvailableExtension -Location $Location -PublisherName $dsaExtPublisher -ExtensionName $dsaExtName -majorVersion $majorVersion
      [version]$Version = $Extension.Version
      $VersionMajorMinor = $Version.Major.tostring() + '.'

[2017-11-02 17:47] maddieclayton opened #4915 "ExtendedProperties of a context persist when SubscriptionId is changed by Set-AzureRmContext"
### Description
When subscriptionId of a context is changed by Set-AzureRmContext, the ExtendedProperties of the context should be removed.  Currently causing Get-AzureRmDefault to return an invalid ResourceGroup when SubscriptionId is set.

[2017-11-02 19:03] yobyot commented on #2979
Coming from AWS PowerShell, I had the same cognitive dissonance as @SiloReed. The lack of consistency is one thing but equally difficult for me to adjust to is the fact that return objects are both irregular (and poorly documented). In AWSPowerShell (and AWSPowerShell.NetCore) detailed error info is returned in $AWSHistory, returned objects are strictly consistent and (IMHO) brilliantly documented

[2017-11-02 19:32] shubhamgupta514 commented on #4893
@viverm - Is there any update on this?
Please help me out to close this ASAP.

[2017-11-02 19:36] ljt91 opened #4917 "AzureRmVMRunCommand - Script Block"
### Cmdlet(s)
Invoke-AzureRmVMRunCommand

### PowerShell Version
5.1.16299.19

### Module Version
4.4.1

### OS Version
10.0.16299.19

### Description
When using the CommandId "RunPowerShellScript" it would be very useful to be able to provide a number of additional options than only a local script.

1. Script URI - PS Script which is stored in a Azure Storage Account or another publicly accessibl

[2017-11-02 19:52] cormacpayne opened #4918 "Remove all dll-help.psd1 files"
The `dll-help.psd1` files in the repository are no longer being used, so they should be removed.

[2017-11-02 20:16] mohamedmansour commented on #2979
@markcowl any update? It has been over a year since we reported this bug, how is the status to enforce consistency in the API

[2017-11-02 20:37] maddieclayton opened #4919 "Remove-AzureRmADServicePrincipal should prompt users to delete ADApplication"
### Description
It is confusing for users that you create a service principal that will automatically create an underlying application with New-AzureRmADServicePrincipal but do not delete the underlying application when running Remove-AzureRmADServicePrincipal.  A better experience would be adding a ShouldContinue prompt that will delete the underlying application if confirmed.  That way a user wi

[2017-11-03 02:35] blueww commented on #4903
@markcowl , @cormacpayne

I see in following link, there are really no Output section:
https://docs.microsoft.com/en-us/powershell/module/azurerm.storage/get-azurermstorageaccount?view=azurermps-4.4.1

But in my help *.md file, there is section OUTPUTS:
https://github.com/Azure/azure-powershell/blob/preview/src/ResourceManager/Storage/Commands.Management.Storage/help/Get-AzureRmStorageAccount.md

[2017-11-03 10:14] shubhamgupta514 commented on #4893
@viverm  - Did you take a look at the new error?

[2017-11-03 11:32] needcash commented on #4698
Any update on this one? I'm having very similar problem. @cormacpayne @DeepakRajendranMsft

[2017-11-03 13:01] Blackbaud-ShaydeNofziger opened #4922 "Suggestion - Include the relevant cmdlet name in warning/verbose output"
My team consumes AzureRm cmdlets as part of our daily automation. We have 20+ custom modules, most of which interact with and call AzureRm cmdlets as part of their execution.

We appreciate the effort to warn developers of future breaking changes, but it would be very helpful if the warning output included the name of the cmdlet that will be changing. Without that, we have to spend time diving dee

[2017-11-03 15:49] cormacpayne commented on #4922
@Blackbaud-ShaydeNofziger Hey Shayde, thanks for the suggestion ☺️ we actually have an item to create our own custom obsolete attribute for cmdlets, parameters and types that will make it easier to find where the deprecation message is coming from: https://github.com/Azure/azure-powershell/issues/3425#issuecomment-325462362

We are trying to get this attribute created and applied by December or Ja

[2017-11-03 16:08] auxym commented on #3633
Also getting this issue with `Get-AzureRmWebAppPublishingProfile`

[code]

Returns:
[code]

[2017-11-03 17:02] Blackbaud-ShaydeNofziger commented on #4922
@cormacpayne Great to hear there's already some planned work for standardizing obsolete/deprecation output - I hadn't come across that issue in my search prior to posting.

Including the cmdlet name in the verbose/warning streams has proved incredibly useful for our internal cmdlets, both for debugging and traceability purposes, I'm glad you agree and hope this gets picked up!

[2017-11-03 17:09] cormacpayne commented on #3633
@Nking92 ping

[2017-11-03 17:49] Nking92 commented on #3633
I'll check if this still happens with our latest code in the pull request that I opened.

[2017-11-03 18:33] maddieclayton commented on #4359
Fixed

[2017-11-03 18:33] #4359 closed

[2017-11-03 18:33] maddieclayton commented on #4588
Fixed

[2017-11-03 18:33] #4588 closed

[2017-11-03 22:41] bganapa opened #4925 "Stack - ActiveDirectoryServiceEndpointResourceId is being converted to System.Uri while this has to be treated as string always"
This impact only the azurestack environments which has the ResourceID of the the form https;//abc

I see that ActiveDirectoryServiceEndpointResourceId is being converted to System.URI here.  https://github.com/Azure/azure-powershell/blob/f34c546fea58d48819e968cab9ac3dd5c50551f3/src/Common/Commands.Common.Authentication/Factories/AuthenticationFactory.cs#L254

System.Uri is weirdly adding the extra

[2017-11-04 00:54] DarthScottius opened #4926 "Add-AzureRmServiceFabricNodeType :ClusterUpgradeFailed, Message:Cluster upgrade failed. Reason Code: 'Interrupted"
### Cmdlet(s)
Add-AzureRmServiceFabricNodeType
### PowerShell Version
Instructions: to get PowerShell version, type `$PSVersionTable` and look for the value associated with `PSVersion`
5.1.16299.19
### Module Version

### OS Version
Instructions: to get OS version, type `$PSversionTable` and look for value associated with `BuildVersion`
10.0.16299.19
### Description

### Debug Output
Instructions:

[2017-11-04 12:26] viverm commented on #4893
Use javascript serializer

[code]

[2017-11-04 17:08] shubhamgupta514 commented on #4893
@viverm

I am getting below error while executing Invoke-Restmethod.

Please find the updated script below:

[Enable-ReplicationVMwareToAzure-v1.2.txt](https://github.com/Azure/azure-powershell/files/1443394/Enable-ReplicationVMwareToAzure-v1.2.txt)

########################################################################
#Error
#####################################################################

[2017-11-06 10:59] charisk commented on #2414
Still having this issue - any plans to fix?

[2017-11-06 14:43] sdwheeler opened #4928 "New-AzureRmAvailabilitySet documentations should include list of valid values for the Sku parameter"
### Cmdlet(s)
New-AzureRmAvailabilitySet

### Module Version
Current

### Description
Customer question from LiveFyre.

The current descriptions for the Sku parameter is:

    The Name of Sku

Need a better description. Which Sku? What are the possible values?

[2017-11-06 17:39] ColinM9991 opened #4929 "AuthorizationFailed on Powershell since installing latest Azure Powershell version"
### Cmdlet(s)

`Get-AzureRmApiManagement`

### PowerShell Version
`PSVersion                      4.0`

### Module Version

### OS Version
`BuildVersion                   6.3.9600.18728    `

### Description

Since updating to the latest version of the Azure Powershell cmdlets, I am getting an "AuthorizationFailed" error when attempting to do anything with Azure cmdlets on Powershell.

I am able t

[2017-11-06 18:58] paulomarquesc commented on #4828
pull request merged.

[2017-11-06 18:58] #4828 closed

[2017-11-06 22:08] cormacpayne commented on #4896
This has been resolved.

[2017-11-06 22:08] #4896 closed

[2017-11-06 22:10] cormacpayne commented on #3972
This has been merged in PR https://github.com/Azure/azure-powershell/pull/4921

[2017-11-06 22:10] #3972 closed

[2017-11-06 22:10] cormacpayne commented on #3971
This has been merged in PR https://github.com/Azure/azure-powershell/pull/4921

[2017-11-06 22:10] #3971 closed

[2017-11-07 00:30] Nking92 commented on #3633
The problem was just that we weren't using the enumerateCollection flag when writing out the result to the pipeline. That caused the type returned to be a List<Site> instead of a Site type.

[2017-11-07 12:30] SteGriff opened #4935 "Get-AzureRmSubscription documentation of returned fields is incorrect"
### Cmdlet(s)

 * `Get-AzureRmSubscription`

### PowerShell Version

 * N/A, but it's 5.1.15063.674

### Module Version

 * Tested on 2.1.0 and 4.2.0. Issue affects probably 4.x and later.

### OS Version

* N/A, but it's 10.0.15063.674

### Description

I have Module version 2.1.0 on one machine and 4.2.0 on another. When I run `Get-AzureRmSubscription` on 2.1.0, the field names are:

	Subscripti

[2017-11-07 13:07] sopelt commented on #4212
I'm not sure what the usual policy is in azure-powershell github but could you update the issue as soon as this gets bundled in an actual release? @cormacpayne ?

Thank you.

[2017-11-07 13:15] pankajads commented on #4481
Any update on this? I would be happy to contribute if some one guide me.

[2017-11-07 15:42] ColinM9991 commented on #4929
This issue was being caused by the wrong subscription being loaded as the default, which I have restricted access to.

I have resolved this by using

`Add-AzureRmAccount -Subscription "Subscription Guid"`

[2017-11-07 15:42] #4929 closed

[2017-11-07 16:56] gubdar commented on #3866
@TarasRoshko could you please specify which ADGraph API permissions are needed to perform this operation ?

[2017-11-07 16:58] cormacpayne commented on #4935
@SteGriff Hey Stephen, thanks for reporting this issue! I believe in the 4.0.0 version of Azure PowerShell, we changed the property names for the `PSAzureSubscription` object that is returned from `Get-AzureRmSubscription`, but we did not update the examples in the help for the cmdlet.

Unfortunately, we can't update the help for previously released versions of Azure PowerShell (at least not for t

[2017-11-07 17:13] cormacpayne commented on #4212
@sopelt Hey Simon, this fix will be available in the November release of Azure PowerShell (version 5.0.0) that goes out November 8th ☺️

[2017-11-07 17:18] maddieclayton commented on #4748
Done

[2017-11-07 17:18] #4748 closed

[2017-11-07 17:19] shubhamgupta514 commented on #4893
@viverm please advise

[2017-11-07 17:19] doctordns commented on #3996
This cmdlet still needs a ##-Tag## parameter.
:-)

[2017-11-07 18:08] pragrawa commented on #3347
@IvanovOleg please use $schedulePolicy.ScheduleRunTimes.Clear() to delete default schedule.

[2017-11-07 18:08] #3347 closed

[2017-11-07 18:20] pragrawa commented on #3164
With upcoming Nov17 Azure PowerShell release, Enable-AzureRmRecoveryServicesBackupProtection will respect -ErrorAction SilentlyContinue functionality

[2017-11-07 18:20] #3164 closed

[2017-11-07 20:35] markcowl commented on #4508
The need for this was removed

[2017-11-07 20:35] #4508 closed

[2017-11-07 20:38] markcowl commented on #4861
Closing for lack of response.  Please reopen and provide the additional information if this persists.

[2017-11-07 20:38] #4861 closed

[2017-11-07 20:40] markcowl commented on #4889
@DeepakRajendranMsft Can you take a look?

[2017-11-07 20:45] markcowl commented on #4883
@rokmicrosoft What value did you enter for the ```-Tenant``` parameter in Add-AzureRmAccount? ?  Was this a GUID or a domain name?

You must use a tenantID (GUID) in this case.

[2017-11-07 20:46] markcowl commented on #4489
Closing as no repro, please reopen if this persists

[2017-11-07 20:46] #4489 closed

[2017-11-07 21:04] markcowl commented on #4833
@danielsollondon Can you please take a look at this issue with the disk encryption extension?

[2017-11-07 21:08] markcowl commented on #4574
@mxplusb It looks like you have multiple versions of the modules installed from different sources.  To fix this, do the following.

- Remove 'Microsoft Azure PowerShell' in the add/remove programs dialog box
- Run Update-Module AzureRM to update the installed version of AzureRM cmdlets.

If you still see a problem after performing this, it is safe to remove all the ```Azure.*``` and ```AzureRM*```

[2017-11-07 21:08] #4574 closed

[2017-11-07 21:12] markcowl commented on #4581
@ck-prabhakercirium Publish-AzureWebsiteProject is an RDFE cmdlet, you must login using Add-AzureAccount (not Add-AzureRmAccount) to be authenticated to use this cmdlet.

@zaidmohd Closing because there is no debuyg log for the original issue.  If you can get a debug trace for this, please reopen.

[2017-11-07 21:12] #4581 closed

[2017-11-07 21:12] markcowl commented on #4770
WOn't fix

[2017-11-07 21:12] #4770 closed

[2017-11-07 21:13] markcowl commented on #4487
This should be resolved by Aaron's latest PR: https://github.com/Azure/azure-powershell/pull/4879

[2017-11-07 21:19] markcowl commented on #4482
@nyanhp I believe this was an issue related to live id users in version 4.3 - This shoudl be reolved in the latest version

[2017-11-07 21:21] markcowl commented on #4476
This should be fiuxed in this PR: https://github.com/Azure/azure-powershell/pull/4879

[2017-11-07 22:56] markcowl commented on #4917
@singhkays can you take a look?

[2017-11-07 22:58] markcowl commented on #4919
@darshanhs90 Can you take a look?  This is rather unexpected behavior that the application remains around after runnign this cmdlet.  Prompting the user seems like a user-friendly choice.

[2017-11-07 23:02] markcowl commented on #4926
@QingChenmsft Can you take  alook?

[2017-11-07 23:03] markcowl commented on #4925
@bganapa Need a covering test for this scenario

[2017-11-07 23:07] #2233 closed

[2017-11-07 23:20] markcowl commented on #2185
There hasn't been any customer traction on this issue.  Closing for now.  If we have telemetry data that says that customers are hitting this issue, then please reopen and we will revisit

[2017-11-07 23:20] #2185 closed

[2017-11-07 23:22] #2226 closed

[2017-11-07 23:23] #2232 closed

[2017-11-07 23:27] #2400 closed

[2017-11-07 23:30] #2630 closed

[2017-11-07 23:30] markcowl commented on #2691
Done!

[2017-11-07 23:30] #2691 closed

[2017-11-07 23:31] markcowl commented on #2731
Closing due to lack of user comments.  Please reopen if this is still an issue

[2017-11-07 23:31] #2731 closed

[2017-11-07 23:32] markcowl commented on #2870
Closing for lack of user comments.  Please reopen if this continues to be a pain point.

[2017-11-07 23:32] #2870 closed

[2017-11-07 23:34] #2908 closed

[2017-11-07 23:40] markcowl commented on #3025
Handled elsewhere

[2017-11-07 23:40] #3025 closed

[2017-11-07 23:42] markcowl commented on #3091
This scenario is covered by persistence

[2017-11-07 23:42] #3091 closed

[2017-11-08 02:15] vaishnavk commented on #4926
This is a known issue and we are working on a fix for this.

@juhacket - FYI

[2017-11-08 08:49] kristofdaems opened #4938 "New-AzureRmServiceBusQueue returns BadRequest when setting MaxSizeInMegabytes"
### Cmdlet(s)
New-AzureRmServiceBusQueue

### PowerShell Version
5.1.16299.19

### Module Version
4.4.1

### OS Version
10.0.16299.19

### Description
When I want to add a queue to my service bus subscription with a specific size (parameter MaxSizeInMegabytes) it results in bad request. When I drop the MaxSizeInMegabytes parameter it works.

### Debug Output
DEBUG: AzureQoSEvent: CommandName - New

[2017-11-08 08:58] ironicLemon opened #4939 "Set-AzureRmSchedulerServiceBusTopicJob : A valid value for QueueName required for ServiceBus Queue action job."
### Cmdlet(s)
Set-AzureRmSchedulerServiceBusTopicJob

### PowerShell Version
Instructions: to get PowerShell version, type `$PSVersionTable` and look for the value associated with `PSVersion`
 5.1.15063.674

### Module Version
0.15.7

### OS Version
Instructions: to get OS version, type `$PSversionTable` and look for value associated with `BuildVersion`
10.0.15063.674

### Description
Calling the

[2017-11-08 09:05] kristofdaems commented on #4938
Found the issue myself:
The property MaxSizeInMegabytes, must be one of the following values: 1024;2048;3072;4096
;5120

It might be good to have this info available in the documentation...

[2017-11-08 18:25] matthchr commented on #4230
This is now supported in 5.0 of Azure Powershell.

[2017-11-08 18:25] #4230 closed

[2017-11-08 18:41] vrdmr commented on #4844
Hi @arcotek-ltd - I have picked up this issue and will get back to you as soon as possible. Just wanted to acknowledge this.

[2017-11-08 18:54] cormacpayne commented on #1327
This should be fixed in [Azure PowerShell 5.0.0](https://github.com/Azure/azure-powershell/releases/tag/v5.0.0-November2017). Please feel free to re-open this issue if you are still seeing this problem.

[2017-11-08 18:54] #1327 closed

[2017-11-08 18:54] cormacpayne commented on #4331
@DdenBraver Hey Danny, thanks for the update ☺️

Closing this issue since it has been resolved.

[2017-11-08 18:54] #4331 closed

[2017-11-08 18:55] cormacpayne commented on #4418
@cadumi @josephsctan @blueww a potential fix for this has been merged in [Azure PowerShell 5.0.0](https://github.com/Azure/azure-powershell/releases/tag/v5.0.0-November2017). Would anyone be able to validate this?

[2017-11-08 18:58] cormacpayne commented on #4720
@lesterw1 Hey Lester, this should be resolved in [Azure PowerShell 5.0.0](https://github.com/Azure/azure-powershell/releases/tag/v5.0.0-November2017).

Closing this issue since it is resolved. Please feel free to re-open this issue if you are still seeing this problem.

[2017-11-08 18:58] #4720 closed

[2017-11-08 19:01] cormacpayne commented on #667
This has been resolved as of [Azure PowerShell 5.0.0](https://github.com/Azure/azure-powershell/releases/tag/v5.0.0-November2017)

[2017-11-08 19:01] #667 closed

[2017-11-08 19:10] cormacpayne commented on #4129
This [document](https://github.com/Azure/azure-powershell/blob/preview/documentation/troubleshoot-module-load.md) resolves this issue.

[2017-11-08 19:10] #4129 closed

[2017-11-08 19:20] cormacpayne commented on #3506
Adding `Azure PS Team` label to triage

[2017-11-08 22:12] tom-canova opened #4944 "Get-AzureRmApiManagementProduct unsupported mapping"
### Cmdlet(s)
Get-AzureRmApiManagementProduct

### PowerShell Version
5.1.14409.1012

### Module Version
5.0.0
### OS Version
10.0.14409.1012

### Description
Cannot use Get-AzureRmApiManagementProduct command (and some other api management commands).   It complains about missing type map configuration or unsupported mapping.

### Debug Output
[code]

### Script/Steps for Reproduction
[code]

[2017-11-08 22:38] markcowl commented on #4944
@tom-canova Can you execute ```Resolve-AzureRmError``` after this error occurs to provide additional details abotu the exception?

[2017-11-08 22:39] markcowl commented on #4944
@solankisamir Samir, can you take a look?

[2017-11-08 22:45] markcowl commented on #4939
@twitchax Can you find an appropriate contact on the scheduler team to look at this issue?

[2017-11-08 22:45] solankisamir commented on #4944
Taking a look

[2017-11-08 22:48] markcowl commented on #4938
@teitchax Can we find the appropriate service member for Scheduler to resolve this?  Seems liek this should either be a ValidateSet, or in the docs.

[2017-11-08 22:53] markcowl commented on #4928
@smotwani Can you take a look?  This seems like a good candidate for an argument completer

[2017-11-08 23:24] cormacpayne commented on #2681
This issue has been resolved. Closing.

[2017-11-08 23:24] #2681 closed

[2017-11-09 01:58] corquiri opened #4946 "Create reservation not supported in powershell"
Currently customers can only purchase reservation through portal. Will need to add the functionality in the future and correct test cases for Reservations module.

Meanwhile, you need to add instructions in the tests  for creating resources in the portal and which parts of the code need to be updated to reflect the identity of those resources, so that constributors can run the tests

[2017-11-09 02:08] huan086 commented on #4418
v4 not working for me. v5 works. Thanks for the fix!

[2017-11-09 02:28] solankisamir commented on #4944
couldn't repro.
Installed 5.0.0      AzureRM.ApiManagement

and tried the above cmdlet sequence. It works for me.

[2017-11-09 04:29] shubhamgupta514 opened #4947 "Failed to Import module required by command"
I am getting  error (refer attached screenshot) in november release of the powershell module  while using Commands Addon in Powershell ISE.

![screenshot](https://user-images.githubusercontent.com/12984945/32588419-932915d2-c534-11e7-895c-14717718bb2e.JPG)

[2017-11-09 04:30] shubhamgupta514 commented on #4947
@viverm - Could you please look into it

[2017-11-09 04:43] huan086 opened #4948 "Set-AzureServiceDiagnosticsExtension fails InvalidArgument"
### Cmdlet(s)

### PowerShell Version
5.1.14393.1770

### Module Version
5.0.0

### OS Version
10.0.14393.1770

### Description
Cannot use the overload of the cmdlet that takes -StorageContext
See https://stackoverflow.com/questions/46607438/not-able-to-enable-diagnostics-for-web-role-using-powershell

### Debug Output
[code]

### Script/Steps for Reproduction
[code]

[2017-11-09 04:55] shubhamgupta514 commented on #4947
I have to load the dll every time when I launch the ISE as a temporary resolution.
Is there any permanent fix for this?

[System.Reflection.Assembly]::LoadFrom("C:\Program Files\WindowsPowerShell\Modules\AzureRM.RecoveryServices\4.0.0\Microsoft.Azure.Commands.RecoveryServices.ARM.dll")

[2017-11-09 09:08] kristofdaems commented on #4938
There is an extra incoherence with the MaxSizeInMegabytes parameter, the allowed values used in the cmdlet don't seem to be Megabytes:
1024 in cmdlet-> 16GB in portal
4095 in cmdlet -> 64GB in portal

[2017-11-09 12:37] jochenvw opened #4949 "Set-AzureRmDiagnosticSetting does not have parameter 'WorkspaceId'"
Hi all,

I'm trying to script that my CosmosDB starts logging against my Log Analytics ( OMS ) Workspace. Basically the scenario descibed here: [https://docs.microsoft.com/en-us/azure/cosmos-db/logging](https://docs.microsoft.com/en-us/azure/cosmos-db/logging)

I'm looking for the counterpart of the CLI command: `az monitor diagnostic-settings create --resource-id "[ID]" --resource-group "[GROUP]"

[2017-11-09 13:13] shubhamgupta514 opened #4950 "Query : Is Unplanned Failover equivalent to Plannned Failover For Vmware To Azure Scenario"
HI,

I am having a query that when I try to initiate the planned failover with the help of powershell cmdlets . It's throwing an error like Planned failover is not supported for InMageAzureV2 provider.

But Unplanned cmdlet is working fine.My concern is that whether we are getting a zero data loss privilege in unplanned failover for Vmware to Azure or not?

[2017-11-09 14:01] tom-canova commented on #4944
Our Api Management instance is setup with a virtual network.  Not sure if that matters in this case.  Here's the output of Resolve-AzureRmError
[code]

[2017-11-09 16:53] solankisamir commented on #4944
I checked that the [Product Contract mapping](https://github.com/Azure/azure-powershell/blob/preview/src/ResourceManager/ApiManagement/Commands.ApiManagement.ServiceManagement/ApiManagementClient.cs#L125) is present

[2017-11-09 20:36] markcowl commented on #4947
@shubhamgupta514 @dragonfly91 A fix is planned for Monday - there are sopme general dependency issues for the RecoveryServices.* modules (including thsi oen) that will be addressed.

[2017-11-09 20:37] maddieclayton opened #4952 "Regenerate Resources help files to reflect the change from String to SecureString"
### Description
The cmdlets changed in [this PR](https://github.com/Azure/azure-powershell/pull/4664/files) do not have the changes reflected in the corresponding help files.  The help files for each of these cmdlets need to be regenerated.

[2017-11-09 20:42] markcowl commented on #4948
@huan086 This is a very old RDFE-based cmdlet.  Is there a reason why you are not using the ARM VMs? You should also be able to work around this using the 'StorageAccountName, StorageAccountKey, and STorageAccountENdppoint parameters instead of the context.

[2017-11-09 20:44] markcowl commented on #4948
@singhkays @huangpf  The fix for this would be to change this parameter to IStorageContext, so that it is independent of the particula storage version sued to create the context (as has been done for all of the ARM cmdlets).

[2017-11-09 20:47] markcowl commented on #4949
@asheniam @gucalder can you take a look?

[2017-11-09 20:48] singhkays commented on #4948
@hyonholee Can you take a look?

[2017-11-09 20:49] markcowl commented on #4950
@viverm Can you answer thsi customer queriuy about the new functionality?

[2017-11-09 22:11] ebrucucen commented on #3667
I had similar issue with the same error. I noticed the output of the command below was staging.
[code]
Running `Switch-AzureRmWebAppSlot`  with `-SwapWithPreviewAction CompleteSlotSwap` cleared the TargetSwapSlot, and next time I could do `-SwapWithPreviewAction ApplySlotConfig` with a slot. Not an action to take in prod environment, but for dev environment solved the issue...

[2017-11-09 22:58] ash1625 opened #4953 "New-AzureRmKeyVault fails with an error after updating AzureRM to 5.0.0"
### Cmdlet(s)
New-AzureRmKeyVault
### PowerShell Version
`PSVersion` : 5.1.16299.15
AzureRm Version : 5.0.0

### Module Version

### OS Version
10.0.16299.15

### Description
I updated my AzureRM module to 5.0.0 and when I try to run New-AzureRMKeyVault I get the below error

New-AzureRmKeyVault : Could not load file or assembly 'Microsoft.Data.Services.Client, Version=5.6.4.0, Culture=neutral, Pu

[2017-11-09 23:38] maddieclayton commented on #4724
done

[2017-11-09 23:38] #4724 closed

[2017-11-10 00:39] yantang-msft commented on #4948
@huan086 A quick workaround would be specify the storage account name directly in the command like this: Set-AzureServiceDiagnosticsExtension -StorageAccountName $StorageAccountName
We will at the same time fix it by taking the IStorageContext so it's irrelevant to storage version.

[2017-11-10 02:10] markcowl commented on #4953
@ash1625 Yes, we are starting a hotfix for this issue.  You can work around this for now pre-loading the modules:

Add-Type -Path <path-to-azure.storage-module>\Microsoft.Data.Service.Clients.dll

You may need to load the other microsoft.data clients in that directory similarly.

[2017-11-10 03:52] huan086 commented on #4948
@markcowl Still on Cloud Services (classic). Closest thing in ARM is Service Fabric, as it has the autoscaling, updating etc that Cloud Services offers. However, the following is making migration to Service Fabric potentially troublesome and costly

- Recommended minimum number of VM is 3. That's 50% cost increase
- Natively it supports .NET Core. However, we cannot migrate to that due to EF Core

[2017-11-10 06:07] vinaydam opened #4957 "Get-AzureRmAlertRule has breaking changes"
### Get-AzureRmAlertRule

### PowerShell Version
5.1.16299.19

### Module Version
4.0.0

### OS Version
10.0.16299.19

### Description
The Get-AzureRmAlertRule cmdlet a few days ago returned output in a particular format, which has now been changed from the Nov 8, 2017 update. Due to this, the engine we are using broke and we now have to adhere to the new output. I assume if there are breaking cha

[2017-11-10 07:50] blueelvis opened #4958 "Get-AzureRmMetricDefinition not giving the proper output"
### Cmdlet(s)
Get-AzureRmMetricDefinition

### PowerShell Version
5.1.15063.674

### Module Version
4.4.1

### OS Version
10.0.15063.674

### Description
When I try to use this commandlet to get the Metric Definitions for a Azure SQL Database, it does not return output as shown over here - https://docs.microsoft.com/en-us/powershell/module/azurerm.insights/get-azurermmetricdefinition?view=azurermp

[2017-11-10 08:09] blueelvis opened #4959 "Get-AzureRmMetric for SQL Database returns floored data"
### Cmdlet(s)
Get-AzureRmMetric

### PowerShell Version
5.1.15063.674

### Module Version
4.4.1

### OS Version
10.0.15063.674

### Description
The value returned by Get-AzureRmMetric for 'storage_percent' for Azure SQL Database seems to be floored when compared with Azure Portal.

PS E:\Weekly Health Check Script> (Get-AzureRmMetric -ResourceId $resourceId -StartTime $startTime -EndTime $endTime

[2017-11-10 16:33] cormacpayne commented on #4957
@vinaydam the November release contained breaking changes (and only breaking changes that were previously announced through warnings, obsolete attributes, and/or the `upcoming-breaking-changes.md` file found in each service's `documentation` folder). The full list of breaking changes can be found at https://aka.ms/azps-migration-guide

In the November release, @gucalder [documented a breaking chan

[2017-11-10 16:33] #4957 closed

[2017-11-10 16:36] cormacpayne commented on #4958
@gucalder Hey Guillermo, would you mind taking a look at this issue?

[2017-11-10 16:37] cormacpayne commented on #4959
@gucalder Hey Guillermo, would you mind taking a look at this issue?

[2017-11-10 17:13] bmoore-msft opened #4960 "CPU Usage spike after token refresh (?)"
I consistently see CPU usage spike in Powershell ISE after leaving a logged in session overnight.  I'm *guessing* this has something to do with token refresh because only after about a day that this starts.

### Script/Steps for Reproduction
1) open ISE
2) login-azurermaccount
3) do some azure stuff (I always do this but don't know if it's required for repro)
4) come back tomorrow

ISE will be tak

[2017-11-10 20:07] markcowl commented on #4953
@ash1625 The fix for this was just released.  If you update your AzureRM or AzureRM.KeyVault modules form the gallery, you should get the fix

[2017-11-10 20:07] #4953 closed

[2017-11-10 20:41] cormacpayne commented on #4947
@shubhamgupta514 this has been fixed in Azure PowerShell 5.0.1: https://github.com/Azure/azure-powershell/releases/tag/v5.0.1-November2017

Please update your modules to the latest version to get this fix.

[2017-11-10 20:41] #4947 closed

[2017-11-10 21:06] markcowl commented on #4960
@bmoore-msft Token refresh only occurs on demand as requests are made.  There are no background processes doing token refresh.  It would be nice to drill down into precisely what's going on in this case.

Do you get this same behavior in the standard PowerShell window, or is this IES-specific?

[2017-11-10 21:23] tom-canova commented on #4944
I've been able to use the api mgmt commands in a cloud shell, so closing.

[2017-11-10 21:23] #4944 closed

[2017-11-10 21:53] gzaika commented on #4835
So, what to do if this is happened? How to remove all previous versions of the modules?

[2017-11-10 21:57] cormacpayne commented on #4835
@gzaika please see our document troubleshooting module loading issues: https://aka.ms/azps-version-error

If you are still seeing the above error, would you mind providing the result of `Get-Module -ListAvailable` and pasting it as a separate comment in this thread?

[2017-11-11 00:45] bmoore-msft commented on #4960
I've never used a std ps window, so can't say for sure...  what can I do to help debug it?

[2017-11-11 01:10] #4442 closed

[2017-11-11 01:13] markcowl commented on #4960
I don't think thsi question has anything to do with azure powershell, I think this is a straight powershell question, so please reopen with the powershell team.  For core, they have a repo here: https://github.com/powershell/powershell

[2017-11-11 01:18] #4452 closed

[2017-11-11 01:18] markcowl commented on #4451
This is now redundant, closing

[2017-11-11 01:18] #4451 closed

[2017-11-11 01:28] markcowl commented on #4805
tenant name is not currently supported, as credentials cannot be retrieved from the cache when they are stored suing the domain name.  This issue is being tracked here: #3974

Closing this issue as a duplicate of that one, please track the fix there

[2017-11-11 01:28] #4805 closed

[2017-11-11 01:32] markcowl opened #4965 "Update telemetry to capture missing data and implement needed changes"
### Description

Insights telemetry is not capturing the following data, despite having fields:

- ExceptionType
- ExceptionStackTarce
- InnerExceptionType (shouls contain a list of inner exception types)

We also should add the following data
- InvocationName from MyInvocation (this will have the command actually used)
- ParameteSetName

Verify that the values are sent end-to-end, and are robust

[2017-11-11 01:35] markcowl opened #4966 "Add ability to avoid validation calls in CloudShell login"
### Description

- When using the token parameter set in ```Add-AzureRmAccount```, add an optional switch -SkipValidation which does not list tenants or subscriptions
- Add end-to-end tests for the new parameter set

### Cost: 4

[2017-11-11 01:39] markcowl opened #4967 "Implement Managed Service login in Add-AzureRmAccount"
### Description

- [x] Implement MSI login parameter set for Add-AzureRmAccount (login by sending request to an endpoint (there is a default))
- [x] Validate in MSI-enabled VM over scenarios
  - [x] Default endpoint
  - [x] Specific endpoint
  - [x] System Assigned identity
  - [x] Explicit Identity

### Cost: 10

[2017-11-11 01:41] markcowl opened #4968 "Convert WebSites Experiments to parameter set in new-AzureRmWebApp"
### Description

- Implement the default parameter set (not gray param) for websites as a binary cmdlet using the existing mechanism

### Cost: 10

[2017-11-11 02:12] markcowl opened #4969 "Add module dependency check script to build"
### Description

Using the DependencyMap created by static analysis, check the dependencies in built modules to ensure that all required dependencies are either loaded by the module or by AzureRM.Profile

- [ ] Extend coverage to Azure.Storage
- [ ] Add to standard build target

### Cost: 2

[2017-11-11 06:06] blumu opened #4970 "Create cmdlet or parameter set for setting the context for a background job"
### Cmdlet(s)

### PowerShell Version
`PSVersion                      5.1.15063.608`

### Module Version
Azure Powershell 5.0.1

### OS Version
10.0.15063.608

### Description

### Debug Output
The `Set-AzureRmContext` cmdlet throws a .Net exception `Collection was modified; enumeration operation may not execute.` when running within `Start-Job`:

https://github.com/Azure/azure-powershell/issues/2

[2017-11-11 09:31] gfk76 opened #4971 "Cannot bind parameter 'Password'"
### Cmdlet(s)
ADEPrereqScript.ps1

### PowerShell Version
Name                           Value
----                           -----
PSVersion                      5.1.16299.19
PSEdition                      Desktop
PSCompatibleVersions           {1.0, 2.0, 3.0, 4.0...}

CLRVersion                     4.0.30319.42000
WSManStackVersion              3.0
PSRemotingProtocolVersion      2.3
Serializatio

[2017-11-11 10:03] shubhamgupta514 commented on #4893
@markcowl  @viverm could you please advise me on this

[2017-11-11 10:04] shubhamgupta514 commented on #4950
@markcowl @viverm please help me with the query

[2017-11-11 17:40] ShuheiUda opened #4972 "Get-AzureRmEffectiveNetworkSecurityGroup returns incorrect AddressPrefix."
### Cmdlet(s)
Get-AzureRmEffectiveNetworkSecurityGroup

### PowerShell Version
PSVersion                      5.1.17025.1000

### Module Version
Azure PowerShell 5.0.0

### OS Version
BuildVersion                   10.0.17025.1000

### Description
"VirtualNetwork" Tag returns incorrect AddressPrefix "0.0.0.0/0".
It should be return VNET AddressPrefix (+ LocalNetwork, Peered VNET, BGP advertised Ad

[2017-11-13 01:44] markcowl commented on #4970
@blumu What are you intending to do with this script?  ```Set-AzureRmContext``` when used with the '``Context``` parameter set is meant to alter an existing context, or to create a context with a new name.  If you want to select a context, you should use ```select-azurermcontext```, so for example, the following does what I think you want:

$j = Start-Job -ScriptBlock {
        param($context)

[2017-11-13 01:50] markcowl commented on #4971
@gfk76 What is the specific cmdlet you are using where you see this issue?  Note that, in version 5.0, several cmdlets had string parameters for credentials that became SecureString parameters.  In each case, the old parameter values were deprecated, in a previous release.  You can find any breaking changes in the 5.0 cmdlet release in the migration guide here: https://github.com/Azure/azure-power

[2017-11-13 01:52] markcowl commented on #4972
@DeepakRajendranMsft Can you take a look?

[2017-11-13 01:56] blumu commented on #4970
This makes sense now :-) I was just using the wrong command. It would be nice indeed to use a parameter set to prevent calling `Set-AzureRmContext` without further arguments. Or at least improve error handling and get rid of the `Collection was modified; enumeration operation may not execute` exception which is not very helpful @markcowl

[2017-11-13 05:35] bsiva commented on #4950
@shubhamgupta514 - Zero data loss is not implicitly guaranteed with Unplanned failover. The way to achieve zero data loss, in the event of a planned migration is to declare the maintenance window to perform the migration operation, take the application down on the primary site meaning users can no longer connect to the applicatio, wait for a later recovery point to be generated and then perform th

[2017-11-13 05:39] viverm commented on #4893
@shubhamgupta514  we have added support for VMware to Azure Site recovery from powershell .

You can use those cmdlet directly .

[2017-11-13 09:12] gazataeon commented on #3636
Does the same for "-erroraction ignore"

[2017-11-13 16:50] markcowl commented on #4970
@blumu agreed.  WIll look at updating the parameter set to prevent this.

[2017-11-13 18:20] darshanhs90 commented on #4919
Sure will add that for the removeSP commandlet

[2017-11-13 18:51] vturecek commented on #4948
@huan086 side question about SF: Are you running multiple Cloud Services deployments with 2 VMs? SF has a higher minimum VM requirement, but you can pack multiple applications on one cluster. So for example if you have 3 Cloud Services deployments, that's a minimum of 6 VMs, but with SF you can put those 3 applications on a 5 VM SF cluster.

Containers could potentially solve problems around havin

[2017-11-13 20:57] baabel opened #4973 "When MSI is configured on an Azure Function an error occurs trying to update other properties on the resource"
### Cmdlet(s)
Set-AzureRmResource
Set-AzureRMWebAppSlot

### PowerShell Version
5.1

### Module Version
4.4.0

### OS Version
10.0.14409.1005

### Description
When MSI is configured on an Azure Function an error occurs trying to update other properties on the resource.

### Debug Output

$WebAppPropertiesObject = @{"siteConfig" = @{"AlwaysOn" = $true}}
Set-AzureRmResource -PropertyObject $WebAppPr

[2017-11-13 21:09] sdwheeler opened #4974 "InvalidBlobAuditActionsAndGroups Error using Set-AzureRmSqlServerAuditing"
### Cmdlet(s)
Set-AzureRmSqlServerAuditing

Customer issue reported via LiveFyre at https://docs.microsoft.com/en-us/powershell/module/azurerm.sql/set-azurermsqlserverauditing

Title | Author | PostTime(UTC) | Comments
-- | -- | -- | --
Set-AzureRmSqlServerAuditing   (AzureRM.Sql) \| Microsoft Docs | aaroney | 11/13/2017 8:28:04 PM | It   looks like the cmdlet is failing for -AuditActionGroup 'AUD

[2017-11-13 21:10] mshamann opened #4975 "Cannot add permissions to Blob Container with SharedAccessPolicy"
### Cmdlet(s)
AzureRM BlobContainer Object

### PowerShell Version
5.1.14393.1770

### Module Version
AzureRM 5.0.1

### OS Version
10.0.14393.1770

### Description

I cannot add new SharedAccessPolicies to the Azure Blob container, it states that the Add method cannot be found.

When I get-method the object, I see no .add() method, however if I create a new 'Microsoft.WindowsAzure.Storage.Blob.Sh

[2017-11-13 21:39] mshamann commented on #4975
The issue seems to stem even further as I cannot use GetSharedAccessSignature() without getting the same error.
[code]

For reference, I am using this script as a base: https://docs.microsoft.com/en-us/sql/relational-databases/lesson-1-create-stored-access-policy-and-shared-access-signature

[2017-11-13 21:58] markcowl opened #4976 "Implement New-AzVM as a parameter set of New-AzureRmVM"
### Description
[Placeholder]
- [x] Working as synchronous binary cmdlet
- [x]  AsJob Implementation
- [x] Scenario tests
- [x] Additional Features

### Cost: 12

[2017-11-13 22:05] markcowl opened #4977 "Implement New-AzureRmVMSS simplification"
### Description
 - [x] Adapt VM cmdlet for VMSS
- [x] Update cmdlet
- [ ] Scenario Tests

### Cost: 14

[2017-11-13 23:17] TaraMeyer opened #4979 "Set-AzureRmStorageAccount content needs updating"
### Cmdlet(s)

### PowerShell Version
Instructions: to get PowerShell version, type `$PSVersionTable` and look for the value associated with `PSVersion`

### Module Version

### OS Version
Instructions: to get OS version, type `$PSversionTable` and look for value associated with `BuildVersion`

Under "-KeyName", what the heck does this mean: "Storage Account encryption keySource KeyVault KeyName"

[2017-11-13 23:18] bganapa opened #4980 "Add-AzureRmVhd sporadically fails with error "The pipeline was not run because a pipeline is already running. Pipelines cannot be run concurrently""
### Cmdlet(s)
Add-AzureRmVhd

### Module Version
Compute module 1.2.3.4 - azure stack  version

### Description

We are trying to  upload the image to a storage blob. As a part of putting the image into the blob, we use Add-AzureRmVhd (https://github.com/Azure/AzureStack-Tools/blob/e73d52686d9db0f63b3560019d47cc65c77d147b/ComputeAdmin/AzureStack.ComputeAdmin.psm1#L183)
This cmdlet sporadically fai

[2017-11-14 01:03] jeremymeng opened #4982 "Support passing certificate in Azure Key Vault to New-AzureRmWebAppSSLBinding?"
### Cmdlet(s)
New-AzureRmWebAppSSLBinding

### Script/Steps for Reproduction

Found examples on the internet that deploy a key vault certificate into a web app. But they are done either directly via the REST endpoint, or use ARM template deployment.

Can we do that using Azure CmdLets?

[2017-11-14 02:08] blueww commented on #4979
It seems the issue is not for command help in src\ResourceManager\Storage\Commands.Management.Storage\help, but for the on-line help in https://docs.microsoft.com/en-us/powershell/module/azurerm.storage/set-azurermstorageaccount, especially for the -Force parameter.

[2017-11-14 03:59] shubhamgupta514 commented on #4950
@bsiva - what I want to understand that in Hyper-V scenario, We have Explicit planned failover option  while  in vmware scenario we don't have that option.

Application downtime is required in both scenarios.
So,  How ASR is providing zero data loss in vmware scenario without Explicit planned failover option?

[2017-11-14 04:04] shubhamgupta514 commented on #4893
@viverm - Thanks for the update.I have checked new module version and its working for me.

But I am still curious to understand how can I make this work with the help of rest api functionality.

[2017-11-14 04:30] huan086 commented on #4948
@vturecek

Running one Web Role with 2x A2v2 instance. This role has 2 web sites. Scales out whenever load increases.

Running one Worker Role with 1x A1v2 instance as SFTP server (non-redundant). Will be decommissioning this.

The ability to pack multiple applications on one cluster isn't really needed as Cloud Service can already run multiple websites in a single role.

Current setup is really c

[2017-11-14 06:15] bsiva commented on #4950
@shubhamgupta514 : the difference between the Hyper-V scenario and the VMware scenario is that the Hyper-V to Azure scenario uses a host based replication stack, whereas the VMware to Azure scenario uses a guest based replication stack. On the guest based replication stack there is no way to guarantee that every last change is replicated before the VM goes down, because network connectivity is req

[2017-11-14 07:05] shubhamgupta514 commented on #4950
@Bharat Yes you are right this is a migration scenario

[2017-11-14 07:07] shubhamgupta514 commented on #4950
@bsiva you are right this is a migration scenario

[2017-11-14 07:44] shubhamgupta514 commented on #4950
@bsiva

Correct me if I am wrong?

what  I am able to understand from your response , In host based replication - incremental snapshots of source server (original server) are used.
and in guest based replication , incremental data changes are stored on the source server queue folder  in persistent storage and then same is applied back to the target vm (in Azure) persistent storage.
'
So how the pr