[2019-09-11 21:36] v-Ajnava commented on #9959
we are closing this issue, please re-open if you have any questions.

[2019-09-11 21:36] #9959 closed

[2019-09-11 22:13] cormacpayne commented on #10013
@nicchidu I'm not able to reproduce this issue -- would you mind providing the following information?

- The list of modules installed on your machine
    - Run `Get-Module -ListAvailable`
- The debug output from running the two different commands
    - Set `$DebugPreference = "Continue"` and then run the commands
- The actual output from running both of these commands where you see the difference

[2019-09-12 01:56] gkingston opened #10015 "Get-AzSqlDatabaseImportExportStatus doesn't return correctly for import with error"
## Description

Get-AzSqlDatabaseImportExportStatus doesn't return a AzureSqlDatabaseImportExportStatusModel when the import had an error.  It give a "Bad Request" and spits the importer error right to the console

## Steps to reproduce
Run a command to get the status with a link to a failed import

[code]
Instead of getting an object returned, you'll get a message like the following:
[code]

## E

[2019-09-12 03:12] erich-wang commented on #10008
@Rycardas , only GAed modules are included in Az, Az.Maps is still in preview stage.

@jp94, do you have any timeline for Az.Maps GA, i.e. upgrade to 1.0 version?

[2019-09-12 03:32] erich-wang commented on #10011
@ilyalukinykh , thank you for reporting the issue, currently AzureRM is in maintaining mode. Do you still get issue when using New-AzResrouce in latest Az module?

[2019-09-12 04:33] erich-wang commented on #10009
@viananth , would you mind providing the following information?

- The list of modules installed on your machine
  - Run Get-Module -ListAvailable
- The debug output from running the two different commands
  - Set $DebugPreference = "Continue" and then run the commands

[2019-09-12 07:28] Drewm3 commented on #9827
This has been added to the Backlog milestone. We'll update the milestone as the work to implement this feature gets closer.

[2019-09-12 09:12] neothoms opened #10017 "ApiId parameter not found on Get-AzApiManagementProduct with Azure Powershell"
# Description
I have an issue with Get-AzApiManagementProduct used with ApiId parameter.
I run the command in an Azure Powershell in Devops Release (version 4 in preview).
I have forced the installation of latest Az modules (2.6.0) I see with the get-Module that the Az.ApiManagement module is correctly installed with version 1.3.0

The error is [error]A parameter cannot be found that matches param

[2019-09-12 15:29] AlexandreArpin opened #10020 "Get-AzBillingInvoice : Object reference not set to an instance of an object."
## Description
When running `Get-AzBillingInvoice -Latest` on certain Subscription (it might be related with what permissions you have), a new type of error message appeared and seems to be unhandled in the `Get-AzBillingInvoice -Latest` command.

The `/providers/Microsoft.Billing/invoices/latest?api-version=2018-03-01-preview` returns a non standard error message and I think it throws the JsonDes

[2019-09-12 16:23] vineethkondapally opened #10021 "Invoke-AzVMRunCommand as a job"
## Description
I am trying to use Invoke-AzVMRunCommand as a job. when I executed below script the job is created and executed successfully but  I am failing to write the output like which job result belongs to which vm.
## Code
$cred = Get-Credential
Login-AzAccount -Credential $cred
$jobs = @()
foreach ($subscription in Get-AzSubscription -SubscriptionName 'SWS_INFRA_Microsoft_Azure') {
    Set-

[2019-09-12 22:09] kristopherjturner opened #10026 "New-AzAutomationSoftwareUpdateConfiguration -RebootSettings doesn't seem to work for Linux Schedules."
When running New-AzAutomationSoftwareUpdateConfiguration and using the -RebootSettings parameter in Windows based Schedules it takes the values we give it. (example, Never, IfRequired, etc.)  However, when using -RebootSettings for Linux based Schedules, no matter what we put for the value, it also goes to the default IfRequired.

[2019-09-13 05:03] sasanmcp opened #10029 "Cannot run Set-AzKeyVaultAccessPolicy as a service principal"
I am running a PowerShell script as part of an Azure DevOps pipeline; through an Azure PowerShell Task. naturally the script is run within the context of the service principal under which the pipeline is configured to talk to the subscription.

when I run Set-AzKeyVaultAccessPolicy, I get

##[error]Exception of type 'Microsoft.Rest.Azure.CloudException' was thrown.

error.

I can confirm that it i

[2019-09-13 05:05] sasanmcp opened #10030 "why don't we have a Get-AzKeyVaultAccessPolicy?"
How can I list existing Access Policies of an Azure Key vault using either PowerShell or CLI now? I don't see a Get-AzKeyVaultAccessPolicy command.

[2019-09-13 10:00] rajatchakraborty91 commented on #2605
Any updates on this? I'm still getting an error with azurerm 6.7/6.13

[2019-09-13 11:38] scottwojack opened #10032 "Get-AzDataFactoryV2LinkedService Always fails"
## Description
Get-AzDataFactoryV2LinkedService always produces the following error.

Get-AzDataFactoryV2LinkedService : Unable to deserialize the response.
At line:2 char:1
+ Get-AzDataFactoryV2LinkedService -ResourceGroupName "xxxxxxx" -D ...
+ ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    + CategoryInfo          : CloseError: (:) [Get-AzDataFactoryV2LinkedService], S

[2019-09-13 12:56] jrgithub opened #10033 "Get-AzResource lookup on Azure App Service does not return accurate NetFrameworkVersion"
When assigning a variable to this:

$enumAppService = Get-AzResource -ResourceGroupName $resName -ResourceType Microsoft.Web/sites/config -ResourceName $website.Name -ApiVersion 2018-02-01

And then writing to screen like this:
Write-host $enumAppService.Properties.NetFrameworkVersion

The output is always 4.0 (this may align to what is seen via resource.azure.com).

However, this is inaccurate as

[2019-09-13 15:36] mikesitch opened #10034 "New-AzResourceGroupDeployment failing"
## Description

We create environments using New-AzResourceGroupDeployment and this has stopped working since upgrading to the latest version 2.6.0.  The ARM template used hasn't changed.  The template creates an app service with managed identity enabled, and a key vault with the app service given permission to the vault.  This has been working for a long time before our recent update to 2.6.0

De

[2019-09-13 17:35] rthorn17 commented on #2605
@rajatchakraborty91   I know it is working within the AzureAZ modules.  Can you run the command with "-debug" and send me the response to see what is going on.  You can email me at rithorn@microsoft.com  if you don't want to post details here.  Thanks

[2019-09-14 03:39] jkewley opened #10039 "Get-AzRoleAssignment uses legacy AAD Graph API internally"
## Description
I found this to be true for both `Get-AzRoleAssignment` and `Get-AzureRMRoleAssignment`.

On the back end, this commandlet makes several API calls [as documented here](https://stackoverflow.com/a/48613635/31299). The first two are against management.azure.com to get role assignments and definitions, and then the final one is to get the AAD objects returned by the first call.

The is

[2019-09-14 04:18] erich-wang commented on #10017
@neothoms , You may start new PowerShell session and then run
`Import-Module Az -Version 2.6`
and try again.

If issue remains, please provide the following info:

-  Layout of the modules on this machine:
PS > Get-Module -ListAvailable

-  The debug output from running your command
PS > Set $DebugPreference = "Continue" and then run the commands

- The imported module
PS > Get-Module

[2019-09-15 08:22] ToMakeSense commented on #9141
add this is the same for `Get-AzLogicAppRunAction`

[2019-09-16 04:20] vinayakshenoy91 commented on #9940
This seemed to be a temporary issue due to proxy or network. Download is working fine now. Hence, closing the issue.

[2019-09-16 04:20] #9940 closed

[2019-09-16 07:57] erich-wang commented on #10032
@scottwojack, please
- Set $DebugPreference='Continue' before running the repro and paste the resulting debug stream
- Please run `Resolve-AzError` and paste the output

[2019-09-16 08:20] #4351 closed

[2019-09-16 08:21] #7009 closed

[2019-09-16 08:21] #4218 closed

[2019-09-16 08:22] #5144 closed

[2019-09-16 08:25] erich-wang commented on #10021
@vineethkondapally , how about use vmname as part of parameter value of CommandId?

[2019-09-16 09:29] erich-wang commented on #10034
investigating

[2019-09-16 09:33] neothoms commented on #10017
Hi,

I have tried Import-Module but it does not change anything.
You can have a glimpse of the pipeline configuration :
![image](https://user-images.githubusercontent.com/11428292/64947448-4b714b00-d875-11e9-8e62-fbf1ba46baeb.png)

You can find the full log in the embeded file :
[tasklog_4.log](https://github.com/Azure/azure-powershell/files/3615522/tasklog_4.log)

Here is the full code
`$DebugPre

[2019-09-16 09:59] scottwojack commented on #10032
@erich-wang

Here is the requested information,  I replaced all client information with xxxxxx.  the body of the response came back with proper JSON.

clear-host
$DebugPreference='Continue'
Get-AzDataFactoryV2LinkedService -ResourceGroupName "xxxxxx" -DataFactoryName "xxxxxx" | Format-List
Resolve-AzError

DEBUG: 11:36:11 AM - GetAzureDataFactoryLinkedServiceCommand begin processing with Parameter

[2019-09-16 10:31] ToMakeSense commented on #10017
@neothoms [Upgrade AzureRM Powershell on Hosted 2017 Agent (VSTS - Visual Studio Team Services)](https://stackoverflow.com/questions/50375331/upgrade-azurerm-powershell-on-hosted-2017-agent-vsts-visual-studio-team-servi) for your reference

[2019-09-16 13:23] neothoms commented on #10017
I think I have found the root of the problem.

The Import-Module of Az.ApiManagement needs the Module Az.Accounts in version 1.6.2 but the Azure Powershell module for Devops in version 4 is using 1.6.0
Since the module is used by Azure Powershell to login it can not be ugraded to 1.6.2 (even with -force)
Therefore the Az.ApiManagement is installed for the Current User but can not be instanciated i

[2019-09-16 15:21] brsrom opened #10041 "Get-AzAutomationWebhook doesn't return Webhook parameters"
## Description

Get-AzAutomationWebhook doesn't return any parameters, however, those are specified on the Azure Portal and visible there (see debug output).

## Steps to reproduce

[code]

## Module versions
Az.Automation = 1.3.2

## Debug output

[code]

[2019-09-16 16:48] WP0 commented on #9448
I've been struggling with this for a week trying to upgrade our existing deployment scripts from AzureRM to Az.  None of the workarounds posted here are working for us.  Neither exporting/importing the context to a file nor passing the context to the scriptblock works.  We make multiple calls to azure endpoints within the scriptblocks in parallel and we won't be able to finish migrating to Az unti

[2019-09-16 20:48] zjalexander commented on #10026
Yup, that's a bug alright. We repro'd this internally and filed a work item to track it (5373978). I'll sync with our team and see when we will be able to get a fix out.

[2019-09-16 21:24] dcaro commented on #9573
cc @Azure/aks-pm

[2019-09-16 22:12] kristopherjturner commented on #10026
Thank you!

[2019-09-17 01:58] Drewm3 commented on #9979
Here is the example on how to add a second certificate from the same vault to the Scale Set:
`$newVaultCertificate = New-AzVmssVaultCertificateConfig -CertificateUrl $secondSecretID -CertificateStore "My"

$vmssobj = Get-AzVmss -ResourceGroupName $resourcegroup -VMScaleSetName $VMSSName

$vmssobj.VirtualMachineProfile.OsProfile.Secrets[0].VaultCertificates.Add($newVaultCertificate)

Update-AzVmss

[2019-09-17 03:31] ToMakeSense commented on #9141
@daviburg @pankajsn @markcowl any updates?

[2019-09-17 07:18] markcowl commented on #9568
@CC-Mike @tafzal25   If you can get debug traces ```$DebugPreference="Continue"```, and the result of running ```Resolve-AzError``` after the error occurs, it would be tremendously helpful.

[2019-09-17 07:18] #9847 closed

[2019-09-17 12:34] b4r7v3r commented on #8827
After updating to az.recoveryservices to 2.0.0-preview the "Object reference not set to an instance of an object." is gone, but I get the following "WARNING: Please provide both Source Nic and Recovery Target to update"
all parameters seem to be present:

`PS C:\asr\> Set-AzRecoveryServicesAsrReplicationProtectedItem
    -InputObject $protecteditems[0]
    -PrimaryNic $protecteditems[0].NicDetails

[2019-09-17 15:11] valdearg opened #10049 "Get-AzStorageBlob doesn't return blobs with [ or ] in name"
## Description
If you have a blob with a [ or ] (most likely other characters also) the Get-AzStorageBlob will return no results.

I've previously had this issue with the Move-Item where I needed to add in a '`' before each character to move the file. I've tried this in this situation but doesn't appear to be working in this situation.

## Steps to reproduce

[code]

## Environment data

[code]

#

[2019-09-17 20:07] Francisco-Gamino opened #10051 "New-AzFunctionApp needs to have a parameter to specify the runtime version"
I am working on the cmdlet for Azure Function. This is a tracking work item for the ```New-AzFunctionApp``` cmdlet.

[2019-09-17 20:13] pragnagopa commented on #10051
Please ensure this follows same semantics as webapp. Here is an example for linux webapp: https://docs.microsoft.com/en-us/cli/azure/webapp?view=azure-cli-latest#az-webapp-create

[2019-09-17 20:29] timpoth commented on #9979
I was able to get that to work, thank you

[2019-09-17 21:09] jaws615 opened #10052 "Get-AzDataLakeStoreDeletedItem fails with notimplemented"
## Description
We are trying to recover a deleted item from an AZdatalake gen 1.
we get the following when attempting to recover.

## Steps to reproduce

[code]

## Environment data

[code]

## Module versions

[code]

## Debug output

[code]

## Error output

[code]

[2019-09-17 23:20] cormacpayne commented on #8960
@markcowl please verify that this is completed

[2019-09-17 23:28] #9328 closed

[2019-09-17 23:29] #9342 closed

[2019-09-17 23:29] #9358 closed

[2019-09-17 23:30] #9629 closed

[2019-09-17 23:44] cormacpayne commented on #9368
@niander please close this issue and open a new one outlining any remaining issues that need to be resolved in the generated `Az.Storage` (management) cmdlets.

[2019-09-17 23:45] cormacpayne commented on #9405
@niander please close this issue and open a new one outlining any remaining issues that need to be resolved in the generated `Az.Monitor` cmdlets.

[2019-09-17 23:45] cormacpayne commented on #9399
@markcowl please close this issue and open a new one outlining any remaining issues that need to be resolved in the generated `Az.Compute` cmdlets.

[2019-09-18 02:23] blueww commented on #10049
@valdearg

In Get-AzStorageBlob, the value of `-Blob` is taken as a [WildcardPattern](https://docs.microsoft.com/en-us/dotnet/api/system.management.automation.wildcardpattern?view=pscore-6.2.0). So `[]` will be taken as a pattern.
To workaround this, you can just use `[[]` and `[]]` to replace `[` and `]`, it works on my machine with latest Az.Storage module.
For you case, the command will be :
[c

[2019-09-18 02:27] blueww commented on #9831
The fix is already merged.
This should works in the next Az.Storage release.

[2019-09-18 02:27] #9831 closed

[2019-09-18 03:02] markcowl commented on #9898
this is, unfortunately, how the Debug parameter works.  To avoid having to answer confirmations, you should set ```$DebugPreference="Continue"``` instead.

[2019-09-18 03:02] #9898 closed

[2019-09-18 03:08] markcowl commented on #10039
@jkewley Microsoft Graph is not fully integrated with Azure's use of graph objects, so it is necessary to use the Graph API for these instead.  You can add the necessary permissions to objects using the 'Azure Active Directory' blade in the portal, under Api Permissions for Azure AD Graph.

[2019-09-18 03:12] markcowl commented on #10034
@mikesitch Thanks for the template. Can you provide the debug output, and the result of running```Resolve-AzError``` after the error?

[2019-09-18 03:21] markcowl commented on #9949
@sid1260 What modules do you have loaded at the time you do this, and what dlls are loaded.  Please execute the following cmdlets:

Just before the error:

[code]

Just after the error:
[code]

[2019-09-18 05:14] erich-wang opened #10053 "Update release script for version bump"
## Description
1. The folder `C:\Program Files\PowerShell\Modules` doesn't exist in some cases; need to update script RunVersionController.ps1

2. The version 2.1.3 of PowerShellGet fails to detect manifest change (silently), however version 2.2.1 works well. We need to alert user

3. The serialized Cmdlets json file for preview modules with version 0.* should not be put the folder
Tools.Common/Se

[2019-09-18 05:44] erich-wang commented on #3329
close this issue since no action for two years.

[2019-09-18 05:44] #3329 closed

[2019-09-18 05:55] erich-wang commented on #10017
@dcaro , this is request for upgrading Az in devops, please contact corresponding team

[2019-09-18 08:42] solatwal opened #10055 ""Request timed out" error while deploying resources from Azure DevOps"
## Description
We are deploying multiple Azure resources like – Azure webapps, Azure Databricks, etc. from Azure DevOps (powershell script).
Although the resource had been successfully deployed in the backend, Azure devops task failed multiple times with error message – request timed out.

The particular call that is failing as per the devops logs is –

Get-AzPolicyDefinition
2019-07-30T03:13:05.9

[2019-09-18 08:47] valdearg commented on #10049
@blueww

Thank you for your help with this, I can confirm that this absolutely resolves the issue.

I'll take a look at some suitable regex or something to replace the square brackets, this should resolve the issue.

Thanks again!

[2019-09-18 08:50] blueww commented on #10049
@valdearg
Thanks for the confirm!
I will close the issue.
Feel free to contact us if need any other assistance.

[2019-09-18 08:53] blueww commented on #9908
@Xergy
We have already merge the fixed DMlib to PSH code base, the issue will be fixed in the next PSH release. (Az.Storage 1.7.0)
I will close the issue now.
Feel free to contact us if need any further assistance.

[2019-09-18 08:53] #9908 closed

[2019-09-18 09:05] blueww commented on #4649
@MCrank
We have already merge the fixed DMlib to PSH code base, the issue will be fixed in the next PSH release. (Az.Storage 1.7.0)
In my testing, cpu will keep 0% after 1-2 seconds of finish running Set-AzStorageBlobContent.
I will close the issue now.
Feel free to contact us if need any further assistance.

[2019-09-18 09:05] #4649 closed

[2019-09-18 09:05] #10049 closed

[2019-09-18 11:06] sid1260 commented on #9949
Hi Marc,

Here you go

FullName
--------
Anonymously Hosted DynamicMethods Assembly, Version=0.0.0.0, Culture=neutral, PublicKeyToken=null
Microsoft.CSharp, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a
Microsoft.Management.Infrastructure, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35

![image](https://user-images.githubusercontent.com/38790296/65143229-1068

[2019-09-18 11:48] spaelling commented on #9448
I had hoped that runspaces would not have this issue, but alas, the same.

[code]

[2019-09-18 13:59] #10008 closed

[2019-09-18 13:59] Rycardas commented on #10008
Thanks

[2019-09-18 17:34] yobyot opened #10058 "New-AzManagementGroupSubscription should accept input from the pipeline"
## Description
`New-AzManagementGroupSubscription` should accept pipeline input.

Apparently, `New-AzManagementGroupSubscription` can be used to move a subscription to a new Azure Management Group. (It would be far better to actually have a `Move-AzManagmentGroupSubscription` cmdlet but that's for a different issue).

However, `New-AzManagementGroupSubscription` does not accept pipeline input.

Ev

[2019-09-18 18:02] niander opened #10059 "Work for Storage.Management generated cmdlets"
Just few points lacking attention

* Update-AzStorageAccount
    - Maybe we should remove the `-Kind` parameter and replace it to just `-UpgradeToStorageV2`

* New-AzStorageAccount
    - Verify the real need of checking the name availability using `NameAvailability` api before creating a new storage account

[2019-09-18 18:02] #9368 closed

[2019-09-18 18:21] niander opened #10060 "Work for Monitor generated cmdlets"
Just few points

- Get-AzMetric
    - While the swagger type of `-Aggregation` is a string, in the current cmdlet it is of type `AggregationType` which is defined in another resource spec (`MetricDefinition`).

- Get-AzAutoescaleHistory
    - This scenario based cmdlet was not implemented. It uses `ActivityLogs` API to retrieve only logs about autoscale settings.

[2019-09-18 18:21] #9405 closed

[2019-09-18 20:53] fcabaco commented on #9949
I'm getting this same error

[2019-09-18 23:53] hvermis commented on #10032
@zhangyd2015 Yandong, can you please follow up with this? It seems they are using the latest version of Datafactory.

[2019-09-19 00:23] abhinav-ghai commented on #10041
I just tried this cmdlet with version 1.3.2 and it seems to return webhook parameters. Can you please provide the parameter block of your runbook?

[2019-09-19 00:46] erich-wang commented on #9568
@LeonJansen , the issue is fixed in the next preview release which will be release this Fall.

[2019-09-19 01:03] #6834 closed

[2019-09-19 01:05] cormacpayne commented on #7903
@markcowl assigning back to you to see what we want to do after MSAL is GA'd

[2019-09-19 01:06] Drewm3 commented on #9979
@timpoth, it is great to hear that you were able to get this to work. I am going to close this issue, but I will keep working with the dev team with the suggestion update Add-AzVmssSecret to automatically do the right thing when adding a secret from a vault that is already referenced in the VMSS configuration.

[2019-09-19 01:06] #9979 closed

[2019-09-19 01:38] Drewm3 commented on #9456
Here is the correct link: https://feedback.azure.com/forums/216843-virtual-machines/suggestions/38180833-increase-the-amount-of-data-that-vm-run-command-ca

[2019-09-19 01:44] Drewm3 commented on #8732
I had originally assigned this incorrectly to roiyz. This is not related to the extension infrastructure, but instead it is a question on the Linux Diagnostic extension. This extension is owned by the Azure Monitor and Diagnostics team who can help with this question.

[2019-09-19 02:03] Drewm3 commented on #691
Closing out this older issue due to inactivity. Please use https://feedback.azure.com/forums/216843-virtual-machines in the future  because we can better track longer running feature requests.

[2019-09-19 02:03] #691 closed

[2019-09-19 02:07] Drewm3 commented on #1991
Cleaning up old issues from 2016 - 2018. Please reactivate this if it is still a problem.

[2019-09-19 02:07] #1991 closed

[2019-09-19 02:07] Drewm3 commented on #2134
Cleaning up old issues from 2016 - 2018. Please reactivate this if it is still a problem.

[2019-09-19 02:07] #2134 closed

[2019-09-19 02:07] Drewm3 commented on #2284
Cleaning up old issues from 2016 - 2018. Please reactivate this if it is still a problem.

[2019-09-19 02:07] #2284 closed

[2019-09-19 02:07] Drewm3 commented on #2345
Cleaning up old issues from 2016 - 2018. Please reactivate this if it is still a problem.

[2019-09-19 02:07] #2345 closed

[2019-09-19 02:08] Drewm3 commented on #3187
Cleaning up old issues from 2016 - 2018. Please reactivate this if it is still a problem.

[2019-09-19 02:08] #3187 closed

[2019-09-19 02:21] zhangyd2015 commented on #10032
@scottwojack Can you please paste the json code in the response body here? It could be deserialize issue with some linked service type.

Body:
{
All Json code of linked services was here and looked correct
}

[2019-09-19 04:55] erich-wang commented on #10055
@solatwal , could you please provide the info:
-  Get PowerShell version info
  - $PSVersionTable
- The list of modules installed on your machine
  -  Run Get-Module -ListAvailable
- The debug output from running
  - Set $DebugPreference = "Continue" and then run the commands
- Error info
  - Resolve-AzError

[2019-09-19 05:30] viverm commented on #8827
use property update nic instead of primary nic . Breaking changes for 2.0.0

PS C:\asr\> Set-AzRecoveryServicesAsrReplicationProtectedItem -InputObject $protecteditems[0]

$protecteditems[0].NicDetailsList.NicId -RecoveryNicStaticIPAddress "10.22.14.250" -RecoveryNetworkId '/subscriptions/<subscriptionid>/resourceGroups/<resource group>/providers/Microsoft.Network/virtualNetworks/vnet01' -Recovery

[2019-09-19 05:30] #8827 closed

[2019-09-19 06:24] Drewm3 commented on #4090
Cleaning up old issues from 2016 - 2018. Please reopen this issue if it is still a concern.

[2019-09-19 06:24] #4090 closed

[2019-09-19 06:24] Drewm3 commented on #4118
Cleaning up old issues from 2016 - 2018. Please reopen this issue if it is still a concern.

[2019-09-19 06:24] #4118 closed

[2019-09-19 06:24] Drewm3 commented on #4130
Cleaning up old issues from 2016 - 2018. Please reopen this issue if it is still a concern.

[2019-09-19 06:24] #4130 closed

[2019-09-19 06:25] Drewm3 commented on #4168
Cleaning up old issues from 2016 - 2018. Please reopen this issue if it is still a concern.

[2019-09-19 06:25] #4168 closed

[2019-09-19 06:25] Drewm3 commented on #4301
Cleaning up old issues from 2016 - 2018. Please reopen this issue if it is still a concern.

[2019-09-19 06:25] #4301 closed

[2019-09-19 06:25] Drewm3 commented on #4312
Cleaning up old issues from 2016 - 2018. Please reopen this issue if it is still a concern.

[2019-09-19 06:25] #4312 closed

[2019-09-19 06:25] Drewm3 commented on #4551
Cleaning up old issues from 2016 - 2018. Please reopen this issue if it is still a concern.

[2019-09-19 06:25] #4551 closed

[2019-09-19 06:26] Drewm3 commented on #4565
Cleaning up old issues from 2016 - 2018. Please reopen this issue if it is still a concern.

[2019-09-19 06:26] #4565 closed

[2019-09-19 06:26] Drewm3 commented on #4601
Cleaning up old issues from 2016 - 2018. Please reopen this issue if it is still a concern.

[2019-09-19 06:26] #4601 closed

[2019-09-19 06:26] Drewm3 commented on #4703
Cleaning up old issues from 2016 - 2018. Please reopen this issue if it is still a concern.

[2019-09-19 06:26] #4703 closed

[2019-09-19 06:26] Drewm3 commented on #4769
Cleaning up old issues from 2016 - 2018. Please reopen this issue if it is still a concern.

[2019-09-19 06:26] #4769 closed

[2019-09-19 06:26] Drewm3 commented on #4830
Cleaning up old issues from 2016 - 2018. Please reopen this issue if it is still a concern.

[2019-09-19 06:26] #4830 closed

[2019-09-19 06:27] Drewm3 commented on #5126
Cleaning up old issues from 2016 - 2018. Please reopen this issue if it is still a concern.

[2019-09-19 06:27] #5126 closed

[2019-09-19 06:27] Drewm3 commented on #5187
Cleaning up old issues from 2016 - 2018. Please reopen this issue if it is still a concern.

[2019-09-19 06:27] #5187 closed

[2019-09-19 06:27] Drewm3 commented on #5189
Cleaning up old issues from 2016 - 2018. Please reopen this issue if it is still a concern.

[2019-09-19 06:27] #5189 closed

[2019-09-19 06:28] Drewm3 commented on #3561
Cleaning up old issues from 2016 - 2018. Please reopen this issue if it is still a concern.

[2019-09-19 06:28] #3561 closed

[2019-09-19 06:28] Drewm3 commented on #3896
Cleaning up old issues from 2016 - 2018. Please reopen this issue if it is still a concern.

[2019-09-19 06:28] #3896 closed

[2019-09-19 06:28] Drewm3 commented on #4078
Cleaning up old issues from 2016 - 2018. Please reopen this issue if it is still a concern.

[2019-09-19 06:28] #4078 closed

[2019-09-19 06:35] Drewm3 commented on #5215
Cleaning up old issues from 2016 - 2018. Please reopen this issue if it is still a concern.

[2019-09-19 06:35] #5215 closed

[2019-09-19 06:36] Drewm3 commented on #5342
Cleaning up old issues from 2016 - 2018. Please reopen this issue if it is still a concern.

[2019-09-19 06:36] #5342 closed

[2019-09-19 06:36] Drewm3 commented on #5374
Cleaning up old issues from 2016 - 2018. Please reopen this issue if it is still a concern.

[2019-09-19 06:36] #5374 closed

[2019-09-19 06:36] Drewm3 commented on #5726
Cleaning up old issues from 2016 - 2018. Please reopen this issue if it is still a concern.

[2019-09-19 06:36] #5726 closed

[2019-09-19 06:38] Drewm3 commented on #5728
Cleaning up old issues from 2016 - 2018. Please reopen this issue if it is still a concern.

[2019-09-19 06:38] #5728 closed

[2019-09-19 06:38] Drewm3 commented on #5741
Cleaning up old issues from 2016 - 2018. Please reopen this issue if it is still a concern.

[2019-09-19 06:38] #5741 closed

[2019-09-19 06:38] Drewm3 commented on #5757
Cleaning up old issues from 2016 - 2018. Please reopen this issue if it is still a concern.

[2019-09-19 06:38] #5757 closed

[2019-09-19 06:39] Drewm3 commented on #5999
Cleaning up old issues from 2016 - 2018. Please reopen this issue if it is still a concern.

[2019-09-19 06:39] #5999 closed

[2019-09-19 06:39] Drewm3 commented on #6081
Cleaning up old issues from 2016 - 2018. Please reopen this issue if it is still a concern.

[2019-09-19 06:39] #6081 closed

[2019-09-19 06:39] Drewm3 commented on #6385
Cleaning up old issues from 2016 - 2018. Please reopen this issue if it is still a concern.

[2019-09-19 06:39] #6385 closed

[2019-09-19 06:39] Drewm3 commented on #6416
Cleaning up old issues from 2016 - 2018. Please reopen this issue if it is still a concern.

[2019-09-19 06:39] #6416 closed

[2019-09-19 06:39] Drewm3 commented on #6423
Cleaning up old issues from 2016 - 2018. Please reopen this issue if it is still a concern.

[2019-09-19 06:39] #6423 closed

[2019-09-19 06:39] Drewm3 commented on #6535
Cleaning up old issues from 2016 - 2018. Please reopen this issue if it is still a concern.

[2019-09-19 06:39] #6535 closed

[2019-09-19 06:40] Drewm3 commented on #6547
Cleaning up old issues from 2016 - 2018. Please reopen this issue if it is still a concern.

[2019-09-19 06:40] #6547 closed

[2019-09-19 06:40] Drewm3 commented on #6592
Cleaning up old issues from 2016 - 2018. Please reopen this issue if it is still a concern.

[2019-09-19 06:40] #6592 closed

[2019-09-19 06:40] Drewm3 commented on #6606
Cleaning up old issues from 2016 - 2018. Please reopen this issue if it is still a concern.

[2019-09-19 06:40] #6606 closed

[2019-09-19 06:40] Drewm3 commented on #6608
Cleaning up old issues from 2016 - 2018. Please reopen this issue if it is still a concern.

[2019-09-19 06:40] #6608 closed

[2019-09-19 06:40] Drewm3 commented on #6736
Cleaning up old issues from 2016 - 2018. Please reopen this issue if it is still a concern.

[2019-09-19 06:40] #6736 closed

[2019-09-19 06:41] Drewm3 commented on #6847
Cleaning up old issues from 2016 - 2018. Please reopen this issue if it is still a concern.

[2019-09-19 06:41] #6847 closed

[2019-09-19 06:41] Drewm3 commented on #7007
Cleaning up old issues from 2016 - 2018. Please reopen this issue if it is still a concern.

[2019-09-19 06:41] #7007 closed

[2019-09-19 06:41] Drewm3 commented on #7153
Cleaning up old issues from 2016 - 2018. Please reopen this issue if it is still a concern.

[2019-09-19 06:41] #7153 closed

[2019-09-19 06:41] Drewm3 commented on #7175
Cleaning up old issues from 2016 - 2018. Please reopen this issue if it is still a concern.

[2019-09-19 06:41] #7175 closed

[2019-09-19 06:41] Drewm3 commented on #7259
Cleaning up old issues from 2016 - 2018. Please reopen this issue if it is still a concern.

[2019-09-19 06:42] Drewm3 commented on #7621
Cleaning up old issues from 2016 - 2018. Please reopen this issue if it is still a concern.

[2019-09-19 06:42] #7621 closed

[2019-09-19 06:42] Drewm3 commented on #7677
Cleaning up old issues from 2016 - 2018. Please reopen this issue if it is still a concern.

[2019-09-19 06:42] #7677 closed

[2019-09-19 06:42] Drewm3 commented on #7713
Cleaning up old issues from 2016 - 2018. Please reopen this issue if it is still a concern.

[2019-09-19 06:42] #7713 closed

[2019-09-19 06:43] Drewm3 commented on #7714
Cleaning up old issues from 2016 - 2018. Please reopen this issue if it is still a concern.

[2019-09-19 06:43] #7714 closed

[2019-09-19 06:43] Drewm3 commented on #7732
Cleaning up old issues from 2016 - 2018. Please reopen this issue if it is still a concern.

[2019-09-19 06:43] #7732 closed

[2019-09-19 06:43] Drewm3 commented on #7804
Cleaning up old issues from 2016 - 2018. Please reopen this issue if it is still a concern.

[2019-09-19 06:43] #7804 closed

[2019-09-19 07:18] scottwojack commented on #10032
@zhangyd2015
this is the powershell result of the body.

Body:
{
  "value": [
    {
      "id": "/subscriptions/xxxxxxxxxxxxxxx/resourceGroups/xxxxxxxxxxxxxxx/providers/Microsoft.DataFactory/factories/xxxxxxxxxxxxxxx/linkedservices/xxxxxxxxxxxxxxx",
      "name": "xxxxxxxxxxxxxxx",
      "type": "Microsoft.DataFactory/factories/linkedservices",
      "properties": {
        "annotations": [],

[2019-09-19 07:19] autocloudarc opened #10063 "New-AzAutomationSchedule fails when attempting to create a new weekly auto"
# Description
When attempting to create a schedule in my automation account CZEU1-INF-NP-0faa84be-AAA-01, in resource group "czeu2-app-np-rgp-01", it fails with an exception of type 'Microsoft.Azure.Management.Automation.Models.ErrorResponseException'.

## Steps to reproduce

[code]

## Environment data
$PSVersionTable.PSVersion
[code]

## Module versions

[code]

## Debug output

[code]

## Error

[2019-09-19 09:14] brsrom commented on #10041
Here is a snippet from a runbook:
`

    param(
    [parameter(Mandatory=$True)]
    [String] $Connection,

    [parameter(Mandatory=$True)]
    [string] $Server,

    [parameter(Mandatory=$False)]
    [string] $Database = "blablabla",

    [parameter(Mandatory=$True)]
    [PSCredential] $Credentials,

    [Parameter (Mandatory = $false)]
    [Object] $WebhookData
)

`

[2019-09-19 09:18] CodingRick opened #10066 "Get-AzNetworkServiceTag does not give the latest changes"
## Description

Get-AzNetworkServiceTag does not give the latest changes that are published on the weekly updated JSON that can be found at Microsoft Download Center here: https://www.microsoft.com/en-us/download/details.aspx?id=56519

Currently the Get-AzNetworkServiceTag returns changeNumber 63, while the Microsoft Download Center JSON gives changeNumber 84

## Steps to reproduce

[code]

## Env

[2019-09-19 09:35] MarkWarneke opened #10067 "Get-AzHDInsightCluster not a valid Base-64 string"
`Get-AzHDInsightsCluster` on Version 2.0.1 throws an error when run on its own.
The example displays the command on its own e.g.
[code]

However, if executed you get **not valid Base-64 string** exception.

[code]

Running with `-ResourceGroupName` returns a valid cluster if one exists.

Powershell 5.1

[code]

PowerShell 6.1

[code]

Modules:
[code]

Full Error

[code]

[code]

[2019-09-19 09:36] MarkWarneke commented on #10067
Here is the link to the docs Get-AzHDInsightCluster https://docs.microsoft.com/en-us/powershell/module/az.hdinsight/Get-AzHDInsightCluster?view=azps-2.6.0

[2019-09-19 10:53] mikesitch commented on #10034
@markcowl Output attached.  Thank you.
[debuglog.txt](https://github.com/Azure/azure-powershell/files/3630804/debuglog.txt)
[resolve-azerror.txt](https://github.com/Azure/azure-powershell/files/3630806/resolve-azerror.txt)

[2019-09-19 11:24] erich-wang commented on #10067
@MarkWarneke , could you please provide the following info:
- List available Az modules
`Get-Module -Name Az.* -ListAvailable`
- Run the following cmd first, then run your command again
`$DebugPreference="Debug"`

[2019-09-19 11:42] MarkWarneke commented on #10067
[code]

I can not paste the debug output here, as it contains sensitive information. Is there a way to sanitise it or give you an idea of what is going on?
I am getting the clusters etc. back. Also I opened an official support ticket.

[2019-09-19 13:05] mceckstein commented on #9931
came here to report this same issue.  Additionally, the [documentation](https://docs.microsoft.com/en-us/powershell/module/az.notificationhubs/get-aznotificationhubsnamespace?view=azps-2.6.0&viewFallbackFrom=azps-2.5.0) explicitly states that you can call the commandlet with only a Namespace, when truthfully _both_ a Namespace and ResourceGroup are required (as mentioned by Cormac).

So hopefully

[2019-09-19 13:07] coolnishantthakur commented on #10029
I am having similar issue. There is similar issue discussed in https://github.com/Azure/azure-powershell/issues/8416 but no final outcome.

Are we missing any configuration ?

[2019-09-19 13:24] migrande commented on #7259
I tested this morning, and this is still an issue.

    #This takes a little over a minute
    Measure-Command { Set-AzResource -ResourceId "/subscriptions/xyz-xyz-xyz/resourceGroups/abcdrg/Microsoft.Compute/virtualMachines/myvm01" -Force }

    #This takes under 10 seconds
    Measure-Command { Set-AzResource -ResourceId "/subscriptions/xyz-xyz-xyz/resourceGroups/abcdrg/Microsoft.Network/networkI

[2019-09-19 14:27] bdcoder2 commented on #7804
Please keep this case OPEN -- as far as I know, we (still) cannot configure the temp drive letter when configuring a VM via powershell.   The ability to select the temp drive letter at configuration is very much needed to ease the transition to Azure.

[2019-09-19 16:22] rthorn17 commented on #10058
@yobyot On the first point,  I completely agree with you that our command is confusing using 'new' and 'delete' but it is concerning the move actions.  We are going to be doing some work on our PowerShell and CLI commands in the future so we will look to change this.

For the Pipeline input, I will add this to our backlog and see what is going on.  I appreciate you pointing this our.

[2019-09-19 16:42] tehnoonr opened #10068 "Unable to assign version set to an existing API using Set-AzApiManagementApi"
## Description
It is currently not possible to assign a version set to an existing API using PowerShell. You can create or import new APIs using PowerShell and assign the version set at creation time which works as expected. However, if you try to assign a version set to an existing API using Set-AzApiManagementApi, the JSON payload of the REST call does not include the apiVersionSetId property an

[2019-09-19 17:14] number213 commented on #10066
cc: @jispar

[2019-09-19 18:30] abhinav-ghai commented on #10041
I tried to create a webhook with exactly same list of parameters in a runbook. I was able to see the parameters.

PS C:\windows\system32> $webhook
ResourceGroupName     : rgName
AutomationAccountName : accountName
Name                  : testParamWebhook
CreationTime          : 9/19/2019 11:27:22 AM -07:00
Description           :
ExpiryTime            : 9/19/2020 11:26:06 AM -07:00
IsEnabled

[2019-09-19 18:31] jispar commented on #10066
@CodingRick Sorry for the inconvenience - working on resolving this issue. I will share update in this thread soon!

[2019-09-19 19:01] yobyot commented on #10058
Thanks, @rthorn17, for the quick response. I don't quite understand your first comment, but I am glad you are thinking about how to manage lists of subscriptions in scripts/CLI. I need the ability to move large groups of subscriptions around the hierarchy, so being table to specify a source and destination would be helpful, possibly as an array or an array of hashtables.

Also, appreciate your und

[2019-09-19 22:36] rthorn17 commented on #10058
@yobyot I was referring to the fact that we built the command "New-AzManagementGroupSubscription" and which is misleading in that it is just a move action.  We have had conversations about changing the underlying API to handle the payload of current and target parent, but no changes are planned as of yet.

[2019-09-20 00:27] Drewm3 commented on #7259
Thanks for the update. I have repoened this.

[2019-09-20 00:42] Drewm3 commented on #7804
@bdcoder2 , we did implement the functionality to maintain the drive letter of the temp disk a few years ago. This resolved the majority of the customer's issues with the original implementation. We had considered allowing the customer to provide a drive letter at the time of provisioning, but this approach is much more challenging because some VM sizes such as Lv2 now have multiple disks, and you

[2019-09-20 00:56] Drewm3 commented on #3506
Cleaning up old issues from 2016 - 2018. Please let us know if this issue is still a concern.

[2019-09-20 00:56] #3506 closed

[2019-09-20 00:56] Drewm3 commented on #3558
Cleaning up old issues from 2016 - 2018. Please let us know if this issue is still a concern.

[2019-09-20 00:56] #3558 closed

[2019-09-20 00:56] Drewm3 commented on #3993
Cleaning up old issues from 2016 - 2018. Please let us know if this issue is still a concern.

[2019-09-20 00:56] #3993 closed

[2019-09-20 00:56] Drewm3 commented on #4376
Cleaning up old issues from 2016 - 2018. Please let us know if this issue is still a concern.

[2019-09-20 00:56] #4376 closed

[2019-09-20 01:02] bdcoder2 commented on #7804
@drewm3, Sorry - I must still be missing something as the documentation for   still does not show any switch that allows a drive letter to be selected at the time of VM creation, i.e.:

[https://docs.microsoft.com/en-us/powershell/module/azurerm.compute/new-azurermvmconfig?view=azurermps-6.13.0](https://docs.microsoft.com/en-us/powershell/module/azurerm.compute/new-azurermvmconfig?view=azurermps-6

[2019-09-20 06:46] jgosmann commented on #7269
Having the same problem with `RunPowerShellScriptAsync` from the .NET Azure SDK. I can observe the following behavior:

* Arguments are split on blanks and thus `foo bar` would pass `bar` as an additional positional parameter to the script.
* You can enclose the argument in double quotes. Then spaces will be properly included in the argument. However, if the argument contains double quotes itself,

[2019-09-20 07:52] brsrom commented on #10041
Can you please check it with PowerShell Core?

[2019-09-20 08:00] markcowl commented on #9948
@cormacpayne This would be about changing the AD role of the object, rather than the ARM role assignment.

[2019-09-20 08:03] markcowl commented on #9728
This looks like a dll loading issue, which would have to do with the way the module is loaded in your C# app.  Generally, you would need to load the module from the manifest, ensuring that the psm1 script is executed, as there are some runtime dll loading decisions based on platform. Unfortunately, C# hosting os powershell ecripts is not a minline supported scenario, so closing this for now.

[2019-09-20 08:03] #9728 closed

[2019-09-20 08:07] markcowl commented on #9926
Fixed

[2019-09-20 08:07] #9926 closed

[2019-09-20 08:16] markcowl commented on #9949
@sid1260 also, if you can ```Get-Module```  before and after the import,  and ```Get-ExecutionPolicy```,  and finally, to show the language mode:  ```(Get-PSSessionConfiguration).LanguageMode```

[2019-09-20 08:21] #8873 closed

[2019-09-20 08:30] markcowl commented on #9078
@SplitThePotCyrus So, I think you are referring to ADO installtion, instead of Install-Module installation.  I still think in this case the root cause is the same.

[2019-09-20 08:31] markcowl commented on #5594
At this point, I think thsi is never ging to happen, so the AppService team can just deal with the maintenace problems if they don't want to fix it.

[2019-09-20 08:31] #5594 closed

[2019-09-20 08:31] #6044 closed

[2019-09-20 08:33] markcowl commented on #8248
Fixed.

[2019-09-20 08:33] #8248 closed

[2019-09-20 08:33] #6579 closed

[2019-09-20 08:51] markcowl opened #10071 "Generation for AKS"
## Description

Generate and customize modules for the new AKS service

- [ ] Generate, build, and examine API surface
- [ ] Ensure that New/Set/Update cmdlets use only expanded variants
- [ ] Ensure that all POST operations use only expanded variants
- [ ] Change Cmdlet, Parameter, and property names for consistency and clarity
- [ ] Write CRUD tests for top-level resources
- [ ] Hold a cmdlet de

[2019-09-20 08:53] #2482 closed

[2019-09-20 08:59] markcowl opened #10072 "Relative paths"
## Description

Investigate using relative paths in all file references in psd1 files, removing the beginning '.' character.
- [x] Create a signed version of the module you are testing [using this job](https://azuresdkci.westus2.cloudapp.azure.com/view/PowerShell/job/psnetsign-esrp/)
- [ ] Test with one module and verify on each platform
  - Testing means ensuring that all the files listed by path

[2019-09-20 09:02] markcowl opened #10073 "Outline Test scenarios for Preview 1"
## Description

## Cost 1

### Priority 0

[2019-09-20 09:09] aim-for-better commented on #2186
Hi @PandoraDirge @keithyau, Could you please give me more information about the HDInsight Version, HBbase version? Can you try to create the same type cluster with other vm types as head node by using the latest PowerShell module Az.HDInsight?

[2019-09-20 09:17] markcowl opened #10075 "Determine Test coverage measurements for Preview Modules"
## Description

Investigate available test coverage tools for pester tests, and
- [ ] Determine which coverage tool we should use
- [ ] Work with team to determine an appropriate code coverage metric
- [ ] File issues for adding coverage measurements to CI

## Cost: 2

[2019-09-20 09:46] markcowl opened #10076 "Add ARM API Support to generated module tests"
## Description
Each module needs to be able to create and remove resource groups, get available locations, and deploy templates in order to set up the environment for the rest of the test.  Add ARM APIs to test configuration, and place in the internal module for use in tests

- [ ] Add common configuration for internal ARM APIs
- [ ] Write a test using the new APIs

## Cost 6

[2019-09-20 10:03] markcowl opened #10077 "Validate hybrid profile api-version for top-level cmdlets"
## Description
In azure-powershell and powershell, verify api-version used by top-level cmdlets in the hybrid profile

## Cost 4

[2019-09-20 16:50] #9938 closed

[2019-09-20 16:50] #9912 closed

[2019-09-20 16:52] panchagnula commented on #7682
moved this to another milestone.

[2019-09-20 16:55] panchagnula commented on #7469
This work is not planned as yet -changing the milestone.

[2019-09-20 16:56] panchagnula commented on #6924
Closing this since this an old bug & should now be fixed.

[2019-09-20 16:56] #6924 closed

[2019-09-20 16:57] panchagnula commented on #6573
@btardif can we follow up on this & close this. Thank you.

[2019-09-20 16:58] panchagnula commented on #6130
Moving out.

[2019-09-20 16:59] panchagnula commented on #4982
We will track this using issue #7469

[2019-09-20 16:59] #4982 closed

[2019-09-20 17:04] panchagnula commented on #9895
Adding a milestone to track

[2019-09-20 17:06] panchagnula commented on #9792
No plans for fixing this right now, as this low priority. Sorry - we will bring this back later if we update this command.

[2019-09-20 17:06] #9792 closed

[2019-09-20 17:07] panchagnula commented on #9209
This is a bug - with a workaround so closing this for now.

[2019-09-20 17:07] #9209 closed

[2019-09-20 17:07] panchagnula commented on #8685
Don't have an ETA on this yet.

[2019-09-20 17:08] #8614 closed

[2019-09-20 17:09] panchagnula commented on #8459
This is being worked on - tracking for Ignite release.

[2019-09-20 17:11] panchagnula commented on #8000
no solution as yet - this is a backend bug so moving to the right GitHub alias

[2019-09-20 17:13] panchagnula commented on #5824
closing this since I haven't heard anything back on this.

[2019-09-20 17:13] #5824 closed

[2019-09-20 17:16] panchagnula commented on #2617
I am closing this since the advice is to use the Az equivalents and not the AzureRM - if some one still see this please open a new issue with all the info needed as per the Az GitHub issue template. Thank you.

[2019-09-20 17:16] #2617 closed

[2019-09-20 17:17] panchagnula commented on #661
@markcowl do you have an update on this can I close this?

[2019-09-20 17:26] saeohioalpha commented on #2617
Since AzureRm is supposed to get bugfixes until Dec. 2020, why is the only solution to use the Az module? This is obviously a bug, that has existed since before the Az module was in general release.

[2019-09-20 17:32] AWahlqvist commented on #2617
Maybe others have had better experience, but I'm done reporting bugs. Complete waste of time and no issues raised are being adressed. This module is said to be supported but apparently this: "the AzureRM module is still officially maintained and will get bug fixes through December 2020." is a complete lie.

The new module has a bunch of bugs that makes it close to unusable for us and we haven't re

[2019-09-20 18:28] panchagnula commented on #5983
Moving this out

[2019-09-21 14:54] nopjmp opened #10080 "Add AADProfile property to Az.AKS Module"
## Description of the new feature
AzCLI has the ability to reset and fetch the aadProfile information while I'm not able to find this in the Az module. These would allow easier automation of updating these credentials when the expire or if they have been compromised.

## Proposed implementation details (optional)
PSKubernetesCluster should have a AADProfile property that includes the information f

[2019-09-22 03:29] shyamal890 opened #10081 "Set-AzWebApp giving -HostNames not recognized error"
## Description
Trying run the following command in azure-powershell

[code]

## Environment data

[code]

## Module versions

[code]

## Debug output

[code]

## Error output

[code]

[2019-09-22 09:34] michal-staniszewski opened #10082 "Get-AzVM Statuses null in Azure Automation"
## Description
Hi,
I use in a Powershell workflow runbook in my Azure Automation account to power up / shutdown VMs based on some tags.
When I want to get power state of a VM using Get-AzVm -Status the Code property is empty.
When I do the same on normal PS session in my laptop everything is fine.
I use Az.Compute v 2.5.0 in my automation account and local PS

## Steps to reproduce

Create Azure A

[2019-09-22 14:47] michal-staniszewski commented on #10082
More insights:

When the same code is run in Azure Automation not as Powershell Workflow but standard Powershell runbook the output of Get-AzVm -State is ok as expected.
Therefore something does not work when it's in a workflow and there's no statement in cmdlet docs about it.

[2019-09-22 21:30] OpsRaven commented on #8410
Has this been fixed? I too am getting the error "set-azurermlogicapp : The integration account id must be provided in the 'integrationAccount' property of the workflow"

[2019-09-23 07:22] rahul-bali opened #10084 "New-AzSnapshot is not able to take snapshot on the data Disks"
## Description

New-AzSnapshot is able to run fine when taking snapshots for the OS disk. I take same approach for taking snaphot for the data disk. But, it fails weirdly enough.
See Below. :)

## Steps to reproduce

When I run the below code:

[code]

[code]

## Environment data

[code]

## Module versions

[code]

## Debug output

[code]

## Error output

[code]

[2019-09-23 08:43] aim-for-better commented on #2186
Hi @PandoraDirge @keithyau, Could you please give me more information about the HDInsight Version, HBbase version? Can you try to create the same type cluster with other vm types as head node by using the latest PowerShell module Az.HDInsight?

[2019-09-23 09:14] markcowl opened #10086 "Determine why mandatory switch parameters not working for DataBoxEdge"
## Description

Mandatory Parameters are not working in this cmdlet in DataBoxEdge: https://github.com/raviten/azure-powershell/blob/1865a9c181308b54ee025dce3fc7a7cb1f60760a/src/DataBoxEdge/DataBoxEdge/Common/Cmdlets/Bandwidth/DataBoxEdgeBandwidthScheduleSetCmdletBase.cs

[2019-09-23 09:30] PandoraDirge commented on #2186
Sorry, but at the end we leaved things are they were... beacuse we can't find a solution....
Also, nowadays I can't do any tests with it.
Sorry...

[2019-09-23 10:49] rlaveycal commented on #9367
Related to this is that even with just a single entry the search is broken. The search `-Tag { X = Y }` seems to return any group with some tag named X and some tag with a value of Y i.e. if tag Z has a value of Y then that is deemed a match!

Or another way. With tags
[code]

the search `-Tag { Name = "23" }` will succeed!

This is with AZ module 2.6.0 on PS desktop 5.1

[2019-09-23 12:59] SenthuranSivananthan opened #10089 "Update-AzSqlServerAdvancedThreatProtection doesn't accept email addresses with uppercase letters"
## Description

Unable to set the advanced threat protection email address when it contains uppercase characters.  The workaround is to lowercase the entire email address however, it is not an intuitive error that can help engineers troubleshoot the problem effectively.

## Steps to reproduce

[code]

## Environment data

[code]

## Module versions

[code]

## Debug output

[code]

## Error output

[2019-09-23 13:43] placidseven commented on #1524
For anyone that finds this problem @LukeDearden stated eventually the request will go through. Takes up to 10 min for me at times.

[code]

Not sure if increasing the frequency of the request would increase chances of a successful call. I also have an almost identical code block for Set-AzKeyVaultSecret. Unfortunately this module is necessary for my deployment automation so I have to make due.

[2019-09-23 14:10] placidseven commented on #5326
Is this still an issue? @maddieclayton linked the issue to https://github.com/Azure/azure-powershell/issues/1524 and closed the other one out. I don't see any activity here for over a year and still we are getting DNS request errors.

[2019-09-23 14:18] erich-wang commented on #10084
@rahul-bali, could you please provide the information below:
- Provide debug stream, add the following statement right before the Cmdlet that causes error
`$DebugPreference="Continue"`
- Error info by running following cmdlet after encountering error
`Resolve-AzError`

[2019-09-23 14:22] erich-wang commented on #10082
@michal-staniszewski, could you please provide the following information:
- Provide debug stream, add the following statement before the Cmdlet that causes error
`$DebugPreference="Continue"`

[2019-09-23 14:37] erich-wang commented on #9965
Close the issue since there was no response from customer more than 15 days.

[2019-09-23 14:37] #9965 closed

[2019-09-23 14:51] erich-wang commented on #10021
Close the issue as there's work around.

[2019-09-23 14:51] #10021 closed

[2019-09-23 15:11] erich-wang commented on #10055
Unfortunately, it is difficult for us to identify what is the root cause without debug info.
Given latest version of Az is 2.6, I suggest you to upgrade your script to use Az 2.6 if possible, maybe the issues has been fixed in latest version.

[2019-09-23 15:14] erich-wang commented on #9991
@AnmolDhillon , could you please run the cmdlet first and rerun your cmdlet?
`Clear-AzContext`

[2019-09-23 15:14] markcowl commented on #9921
Fix for this issue building here: https://azuresdkci.westus2.cloudapp.azure.com/view/PowerShell/job/psnetsign-esrp/526/

[2019-09-23 15:20] erich-wang commented on #10067
@MarkWarneke , you may replace the sensitive info with xxx, the sanitized info should be enough for next step.

[2019-09-23 15:32] placidseven opened #10090 "Get-AzKeyVault not returning invalid vault error"
## Description
When using Get-AzKeyVault with an invalid vault an error should return. Instead nothing is being returned.

## Steps to reproduce

[code]

## Environment data

[code]

## Module versions

[code]

## Debug output

[code]

## Error output

[code]

[2019-09-23 18:33] ohadschn commented on #9448
1. If I save the context to a file, I get `The process cannot access the file TokenCache.dat because it is being used by another process`
1. If I use `Enable-AzureRmContextAutosave -Scope CurrentUser` to work around that, I get `Your Azure credentials have not been set up or have expired, please run Connect-AzAccount to set up your Azure credentials.`
1. The empty context load workaround looks lik

[2019-09-23 20:21] abhinav-ghai commented on #10041
Just tried on PowerShell Core with version 1.3.2 for Az Automation on Mac. No repro.

![image](https://user-images.githubusercontent.com/1511158/65459549-0618c480-de05-11e9-83b6-6cd0896de78c.png)

[2019-09-23 21:54] Drewm3 commented on #7804
@bdcoder2, the drive letter is not selected by Azure code. The drive letter is being selected by Windows which uses the first available drive letter after A:\ and B:\ when it is presented with a volume that is presented to it when it contains a file system, such as NTFS, which it understands. So in this case, what I believe you are requesting is for Azure to add specific code to change the drive l

[2019-09-23 22:18] bdcoder2 commented on #7804
@Drewm3 - Thanks.  I really do not know when (or by what method) the temp drive letter is selected.  The base issue was that the following cmdlet:

`New-AzureRmVMConfig`

Does not (as far as I know) offer any switch that allows us to configure the temp drive letter, regardless of what underlying system allocates it.   So, when the above command is used to create/configure a VM, (going by what you

[2019-09-23 22:57] viananth commented on #9921
Mark, the above build fixed "??" issue. But with the right profile (2019-03-01-hybrid) selected, the modules make rest calls to the latest api versions and it fails against azure stack.

Fiddler: GET /subscriptions/f05e2fce-6ade-452c-a34e-fb62af806e38/resourcegroups?api-version=2019-05-10 HTTP/1.1

PowerShell:

[code]

[2019-09-24 11:35] AviBhavsar opened #10099 "Set-AzVirtualNetworkSubnetConfig deletes existing Service Endpoints"
#Description

After executing Set-AzureRmVirtualNetworkSubnetConfig to change the UDR association of the subnet, we lost all existing service endpoints

We had executed below script on 15th August 2019 and we have not seen any issue, whereas we executed same script on 22nd September 2019 and observed that the endpoints got deleted.

## Steps to reproduce
#assume that VNET1-SUBNET1 subnet is having

[2019-09-24 13:26] bjossi-asitis opened #10100 "Set-AzureRMWebApp returns "BadRequest" when setting AppSettings"
Set-AzureRMWebApp -Name [Appname] -ResourceGroupName [ResourceGroup] -AppSettings [AppSettings] results in

Set-AzureRMWebApp : Operation returned an invalid status code 'BadRequest'
At C:\Dev\OneTfs\src\Asitis\PowerShell\main\AzureScript\AFSProduction\Set-AppSettings.ps1:108 char:17
+ ...   $result = Set-AzureRMWebApp -Name $appFullName -ResourceGroupName $ ...
+                 ~~~~~~~~~~~~~~~~~

[2019-09-24 13:30] brsrom commented on #10041
Ok, got it. Indeed, there are 2 different commands to get either name of the webhooks in the runbook or get full data about webhook including parameters.

But here is some JSON parsing issue for you:

`Body:
{
  "id": "/subscriptions/xxxxx/resourceGroups/xxxxxxx/providers/Microsoft.Automation/automationAccounts/xxxxxx/webhooks/xxxxxxxx",
  "name": "xxxxxxxx",
  "type": "Microsoft.Automation/Automa

[2019-09-24 14:43] dannythomas13 commented on #6461
I too am getting the same issue, up to last week it was working great. Essentially what I want to do is as part of a staging build, delete existing staging db, take a copy of production db, restore this copy as staging

[2019-09-24 15:42] BrandonWhite-Altius opened #10101 "Set-AzDiagnosticSetting Resource-Specific mode flag"
## Description of the new feature
As per the documentation for [diagnostic logs](https://docs.microsoft.com/en-us/azure/azure-monitor/platform/diagnostic-logs-schema) and the [known limitation](https://docs.microsoft.com/en-gb/azure/azure-monitor/platform/diagnostic-logs-stream-log-store#known-limitation-column-limit-in-azurediagnostics) for the Azure Diagnostics table, the recommendation is to us

[2019-09-24 16:35] mikesitch commented on #10034
@markcowl Any updates?  Tried 2.7.0 but still broken.

[2019-09-24 17:38] DanteNahuel opened #10102 "Get-AzRecoveryServicesBackupRecoveryPoint inconsistant data"
Hi all
When I use the cmdlet I get inconsistant/incorrect output.
Sometimes the output comes up empty but I check the Portal and there are Recovery Points available.
Sometimes the output comes up empty if I use -startdate parameter
And instead brings up all the Restore Points if I don't use -startdate

Here's the general cmdlet I use
[code]

I understand this is not very specific but I believe the

[2019-09-24 17:50] abhinav-ghai commented on #10041
The issue is with the extra double quotes in your parameters section on Server, Connection and Database. Remove the additional double quotes and it should work.

[2019-09-24 17:51] samsmithnz commented on #6461
As a workaround, I ended up writing some PowerShell that loops until the database is available. Happy to share it here:

[code]

[2019-09-24 17:53] samsmithnz commented on #6461
I ended up writing some PowerShell to loop until the database deletion was resolved. As I run my script in Dev/QA overnight, it wasn't a big deal to let it run for 5-10 minutes for it complete. Happy to share it [here](https://dev.azure.com/samsmithnz/_git/SamLearnsAzure?path=%2FSamLearnsAzure%2FSamLearnsAzure.Environment.ARMTemplate%2FPowerShell%2FImportBACPAC.ps1&version=GBmaster).

[2019-09-24 18:28] sasanmcp commented on #10029
right now as a workaround I created one of these, and deploy this arm; but it shouldn't be like this:
https://docs.microsoft.com/en-us/azure/templates/microsoft.keyvault/2018-02-14/vaults/accesspolicies

[2019-09-24 20:40] ChristopherGLewis opened #10104 ""Patch" method is not allowed for this "FrontdoorEntityKey" entity"
## Description

Trying to update tags on an Azure FrontDoor -

[code]

## Steps to reproduce

[code]

## Environment data

[code]

## Module versions

[code]

## Debug output

[code]

## Error output

[code]

[2019-09-24 21:16] michal-staniszewski commented on #10082
Hi @erich-wang
Here you are:

a4b94be5-e7b5-410d-be5b-a8f6890c86d2:[localhost]:9:05:19 PM - GetAzureVMCommand begin processing with ParameterSet
'DefaultParamSet'.
a4b94be5-e7b5-410d-be5b-a8f6890c86d2:[localhost]:9:05:19 PM - using account id '<<CLIENT_ID>>'...
a4b94be5-e7b5-410d-be5b-a8f6890c86d2:[localhost]:[Common.Authentication]: Authenticating using Account:
'<<CLIENT_ID>>', environment: 'Azu

[2019-09-24 21:28] number213 commented on #10099
If you don't pass ServiceEndpoints in `Set-AzureRmVirtualNetworkSubnetConfig`, the property is set to null. This is common behavior among Set cmdlets.

https://github.com/Azure/azure-powershell/blob/master/src/Network/Network/VirtualNetwork/Subnet/SetAzureVirtualNetworkSubnetConfigCommand.cs#L90

Judging by the [blame](https://github.com/Azure/azure-powershell/blame/master/src/Network/Network/Virt

[2019-09-24 22:11] jzkornbluh opened #10105 "Automation Account can run 'Remove-AzServiceFabricClusterCertificate' but 'Add-AzServiceFabricClusterCertificate' returns 'Forbidden'"
## Description

In a runbook, I can 'Connect-AzAccount' with a service principal, create certs in a key vault, and trigger our Service Fabric cluster to remove its secondary certificate... but when I try to 'Add-AzServiceFabricClusterCertificate' from the same runbook, I get a 'Forbidden' response.

Don't these two commands require the same permissions?

## Steps to reproduce
I run 'Connect-AzAcco

[2019-09-25 00:35] robga commented on #9839
Thanks: I've opened a work item on my team for this. We'll get to it as soon as we can.

[2019-09-25 00:35] #9839 closed

[2019-09-25 03:26] dolauli commented on #10076
@markcowl If we won't rely on the gallery to get the Az.Resources, we could build it locally from source code. What we need to do is as below for each module.

1. In check-dependencies.ps1, check whether Az.Resources has been built locally. If not, build it on the fly. (autorest-beta & .\build-module.ps1)
2. Import Az.Resources with _Import-Module -Name (Join-Path $PSScriptRoot '../Resources/Az.Re

[2019-09-25 06:12] msJinLei commented on #10102
@DanteNahuel
Could you provide the following information for your environment and issue?

## Environment data

[code]

## Module versions

[code]

## Debug output

[code]

## Error output

_If the problem is unable be reproduced stably. Please list in details about your environment and provide steps which are most possible to reproduce it.__

[2019-09-25 06:52] Murthy582 opened #10107 "Unable to connect Gen2 Lake using Az module"
## Description
Looks like Az modules listed in this [link ](https://docs.microsoft.com/en-us/powershell/module/az.datalakestore/?view=azps-2.7.0#data_lake_store)do not work with Data Lake Gen2. I tried using both Az module and AzureRM module, both seems to be not working. The following commands returning only Gen 1 Storage accounts not Gen2

Get-AzDataLakeStoreAccount
Get-AzureRmDataLakeStoreAccou

[2019-09-25 08:04] SunehaKadlibuddi commented on #9949
Hello,

I am also facing the same issue after installing Az module.

[2019-09-25 09:34] maras2002 commented on #9819
This is something reocurring very often, we do use New-AzDeployment to provision budget via ARM and 401 Unathorized is the almost all the time. Permissions we use are really fine... Can someone have a deeper look at it? Might be related to not fixed: #4362

[2019-09-25 09:40] markcowl commented on #10076
@dolauli  Will this work when running tests in playback, or does the HttpPipeline mocking only apply to cmdlets in the module?  This would also create a dependency, which would require building the modules from a particular file structure.  For now, this would work, but I wonder how much work it would be to generate and hide the cmdlets we want and remaining self-contained, rather than leaving an

[2019-09-25 09:48] erich-wang commented on #10011
@ilyalukinykh, unfortunately currently we don't have bandwidth to do investigation for `New-AzureRmResource`, if you see same issue in `New-AzResource`, we definitely will jump in, thanks.

[2019-09-25 10:04] #10039 closed

[2019-09-25 13:38] tsunami28 commented on #9533
Start-OBRegistration -VaultCredentials $CredsFilename.FilePath -Confirm:$false
Still returns error:
Start-OBRegistration : Unable to read the vault credentials file provided. Please download a new vault credentials file and try again.
Does anyone have a solution to this?

[2019-09-25 15:14] wraslan opened #10110 "The PowerShell Az command new-azcontainergroup doesn’t have a parameter to specify environment variables as secureValues."
## Description of the new feature
Add a new parameter to the Az command new-azcontainergroup to specify environment variables as secureValues

## Proposed implementation details (optional)

[2019-09-25 15:21] scottwojack commented on #10032
@zhangyd2015
Any Update on this.  I have been able to determine it is the MySQL linked service that is causing the problem. It is the only one that cannot deserialize the JSON and the error message.

Error reading JObject from JsonReader. Current JsonReader item is not an object: String. Path 'typeProperties.connectionString', line 1, position 435.

position 435  is the part of the connection stri

[2019-09-25 17:48] ms-premp commented on #9819
@rkapso please take a look.

[2019-09-25 20:27] Selflo commented on #3215
I still have this issue even when I added all API permission mentioned by @teejam2.  I also made the SP as the subscription owner, tried Clear-AzContext, but no difference. The cmdlet used to create new SP with existing SP is

CommandType     Name                                               Version    Source
-----------     ----                                               -------    ------
Cmd

[2019-09-25 20:37] Selflo commented on #3215
I was testing with my own az subscription and directory and granted the admin consent with my user login(Admin). The same error details came back as original post when I ran cmdlet with -Debug

![image](https://user-images.githubusercontent.com/14902516/65637489-1feb1080-df99-11e9-9233-e529cd7ea622.png)

[2019-09-25 20:46] zjalexander commented on #9983
Sorry for the delay @jzuchora87 - had to wrap my head around this.

We expect time in UTC and then pass in the correct TimeZone. So to get it working:
[code]
Which finally gives me:
[code]

[2019-09-25 22:57] ifeoluwaokunoren commented on #8051
Hey @maddieclayton,
My team is currently looking into addressing open issues. Please, is this still an issue for you?
Thanks.

[2019-09-25 23:10] hamidtirmizi commented on #8314
Hi, try this API: https://docs.microsoft.com/en-us/rest/api/resources/providers/list (use the Try It button to see sample)

It will give you a list of resource types under all namespaces available to your subscription.
In some of the resource types, you will see 'capabilities', such as:

`"capabilities": "CrossResourceGroupResourceMove, CrossSubscriptionResourceMove, SupportsTags, SupportsLocation

[2019-09-26 02:58] #9518 closed

[2019-09-26 03:15] zhangyd2015 commented on #10032
Thank you for the investigation. It is helpful. We are working on the fix and will update you later.

[2019-09-26 04:30] #2836 closed

[2019-09-26 04:31] #4422 closed

[2019-09-26 04:31] #4432 closed

[2019-09-26 04:31] #4465 closed

[2019-09-26 04:33] #7024 closed

[2019-09-26 04:33] #7362 closed

[2019-09-26 05:18] markcowl opened #10116 "Changes to Profile cmdlets (Select-AzProfile, Get-AzProfile)"
## Description
The Profile cmdlets should use all available profiles in deciding which profiles to choose from

- [ ] Create a format for a profile metadata list
- [ ] Create automation to generate Profile metadata list from checked-in profiles, triggered on new check-ins
- [ ] Update `Select-AzProfile` to get the list of allowed profiles from this metadata.
- [ ] Add a dynamic ValidateSet to Sele

[2019-09-26 10:46] erich-wang commented on #10104
@pichandwork, Frontdoor team, please confirm whether it is bug or expected, thanks.

[2019-09-26 10:52] erich-wang commented on #10100
@bjossi-asitis , could you please try Set-AzWebApp in latest Az 2.7?

[2019-09-26 12:09] brsrom commented on #10041
they are escaped with a backslash, github doesn't show it. I know that this is the issue, but the question is whether it's expected behavior?

[2019-09-26 16:37] chlsmith opened #10122 "Get-AzSqlDatabaseCopy Status report"
The old Azure resources had a cmdlet that would get me the current status of a database copy.   I don't see such a cmdlet on the new Az modules.   I don't see how can I use the new-azsqldatabasecopy cmdlet in a script and know when to move on to the next step.

Please add that feature or cmdlet back.

[2019-09-26 16:51] maras2002 commented on #9819
@ms-premp @rkapso i have done plenty of test till now and found something. In our pipeline we create dates to put as Start & End for budget:

[code]

and then these are passed to the New-AzDeployment as parameters for Start & End... and we noticed that changing these dates to:

[code]

allows us to create the budget.

401 Unathorized is very **not intuitive** here. Can this be changed to proper er

[2019-09-26 17:08] sfiguemsft commented on #10099
@sumeetmittal can you look into this please?

[2019-09-26 17:16] sumeetmittal commented on #10099
@avijitgupta - please take a look.

This is by design. This is how the NRP works. When doing a PUT, if ServiceEndpoints configs are missing, a PUT operation on a subnet will treat it as user's intent to set Service endpoints config to null.

[2019-09-26 17:25] zjalexander commented on #10026
PR #10109

[2019-09-27 01:15] msJinLei commented on #10107
@Murthy582 Could you also provide the following information?

## Module versions

[code]

## Debug output

[code]

## Error output

[code]

[2019-09-27 01:26] msJinLei commented on #10122
@chlsmith Could you provide cmdlet you previously used?

[2019-09-27 05:52] zhangyd2015 commented on #10032
@gadongji is working on this.

[2019-09-27 06:45] wahyuen opened #10127 "AzADApplication - Ability to set ReplyUri Type"
## Description of the new feature
Currently, in the Azure Portal, users are able to set the Type of Redirect URI between `Web` and `Public client/native (mobile & desktop)`.

It would be awesome to have this as part of the cmdlet (`New-AzADApplication`) and (`Update-AzADApplication`) to allow users to automate this setting.

![image](https://user-images.githubusercontent.com/4549796/65747900-37f79

[2019-09-27 07:05] erich-wang commented on #10080
Move this feature request to Az.AKS with generation mode

[2019-09-27 07:15] erich-wang commented on #10105
@jzkornbluh , could you please provide the following info:
- List available modules and versions
`Get-Module -ListAvailable`
- Provide debug stream, set following env before running your cmdlets
`set $DebugPreference=''Continue`
- Provide error detail by running
`Resolve-AzError`

[2019-09-27 08:30] msJinLei commented on #10127
@wahyuen Thanks for your proposal. We will investigate it and let you know if any update.

[2019-09-27 16:31] placidseven opened #10133 "Register-AzRecoveryServicesBackupContainer : Microsoft Azure Backup encountered an internal error."
## Description

Register-AzRecoveryServicesBackupContainer : Microsoft Azure Backup encountered an internal error.

## Steps to reproduce

[code]

## Environment data

[code]

## Module versions

[code]

## Debug output

[code]

## Error output

[code]

[2019-09-27 16:33] ifeoluwaokunoren commented on #9119
Hi @Avisharper,
Thanks for the feedback - here is the link to the update document:
https://docs.microsoft.com/en-us/powershell/module/az.resources/new-azresourcegroupdeployment?view=azps-2.7.0
Thanks.

[2019-09-27 16:33] #9119 closed

[2019-09-27 17:46] jcuello opened #10135 "Creating Service Health Alert with Set-AzActivityLogAlert ignores 'properties.region' condition"
## Description
I want to create Service Resource Health Alert where the region is restricted to US East. The alert gets created, but all the regions are selected instead of only US East. Am I specifying the region properly correctly?

## Steps to reproduce
Run the following cmdlet with a valid $subscriptionId and $actionGroupId
[code]

## Environment data

[code]

## Module versions

[code]

## De

[2019-09-27 20:54] matthchr opened #10137 "Merge Az.Batch-preview (includes breaking changes) into master"
## Description
Merge the Az.Batch-preview branch containing breaking changes for AzBatch modules into the master branch once the gates are open for the next breaking change release.

[2019-09-28 14:30] chlsmith commented on #10122
Get-AzureRmSqlDatabaseCopy

https://docs.microsoft.com/en-us/powershell/module/servicemanagement/azure/get-azuresqldatabasecopy?view=azuresmps-4.0.0

[2019-09-29 02:12] erich-wang opened #10143 "Document for trouble shoot CI errors"
Document for trouble shoot CI errors

[2019-09-29 02:14] erich-wang opened #10144 "Design guideline for data plane cmdlets"
## Description
The current design guideline is more for resource manager related cmdlets, need similar design guideline for data plane cmdlets
## Cost

[2019-09-29 02:17] erich-wang opened #10145 "Process diagram for triage"
## Description
Need process diagram for:
- Issue triage process

[2019-09-29 02:18] erich-wang opened #10146 "Evaluate issue management tools"
## Description
Evaluate issue management tools, including SLA.
## Cost

[2019-09-29 11:35] bhaskar39 opened #10149 "Get-AzConsumptionBudget returns null"
## Description

I logged in as a Azure AD user having Global Admin at AD level and Owner at the subscription level. When I tried to use Get-AzConsumptionBudget is returning null.

## Steps to reproduce

Login-AzAccount ## Logged in with AD user account having all permissions
Select-AzSubscription -Subscription <id>
Get-AzConsumtpionBudget ## returns null
Get-AzConsumtpionBudget -Name Test ## retur

[2019-09-29 22:00] Osmidon opened #10150 "Parsing Errors when executing New-AzVirtualNetworkGatewayConnection command"
I'm trying to create a new IKEV2 IPSec tunnel using the following MS article:
https://docs.microsoft.com/en-us/azure/vpn-gateway/vpn-gateway-ipsecikepolicy-rm-powershell

I get to the part where I execute the following command:
New-AzVirtualNetworkGatewayConnection -Name Azure-WEU-US01-IPSec-VPN -ResourceGroupName $RG1 -VirtualNetworkGateway1 $vnetgw1 -LocalNetworkGateway2 $lngw1 -Location $Locati

[2019-09-29 22:03] Osmidon commented on #10150
I even tried creating the connection via the Azure GUI which created the connection successfully. Now I'm trying to set the IPSec Policy afterwards using Set-AzVirtualNetworkGatewayConnection and get the following same error:

PS C:\> Set-AzVirtualNetworkGatewayConnection -VirtualNetworkGatewayConnection $vnetgwc1 -IpsecPolicies $ipsecpolicy6

Confirm
Are you sure you want to overwrite resource 'A

[2019-09-30 02:10] msJinLei commented on #10150
@Osmidon Could you provide the following information? Thanks

## Environment data

 Please run $PSVersionTable and paste the output in the below code block

[code]

## Module versions

Please run (Get-Module  -ListAvailable) and paste the output in the below code block

[code]

## Debug output

 Set $DebugPreference='Continue' before running the repro and paste the resulting debug stream in the be

[2019-09-30 08:49] Osmidon commented on #10150
Environment data
Please run $PSVersionTable and paste the output in the below code blockName                           Value
----                           -----
PSVersion                      6.2.3
PSEdition                      Core
GitCommitId                    6.2.3
OS                             Linux 4.15.0-1059-azure #64-Ubuntu SMP Fri Sep 13 17:02:44 UTC 2019
Platform

[2019-09-30 16:52] sarah026 commented on #9402
Do we have an update on this? Is .NET a requirement still?

[2019-09-30 18:16] solankisamir commented on #9784
This is covered through property `AllowedTenants` on the cmdlet.

https://docs.microsoft.com/en-us/powershell/module/az.apimanagement/New-AzApiManagementIdentityProvider?view=azps-2.7.0#examples

[2019-09-30 19:29] jarango opened #10154 "StorageToolsPath in Common.Netcore.Dependencies.targets causing build errors"
## Description

A missing slash is causing build errors when the building the powershell repo on developer's local machine. Please make the following change:

diff --git a/tools/Common.Netcore.Dependencies.targets b/tools/Common.Netcore.Dependencies.targets
index 93528a0749..e6a6d4bbd4 100644
--- a/tools/Common.Netcore.Dependencies.targets
+++ b/tools/Common.Netcore.Dependencies.targets
@@ -32,7 +

[2019-09-30 19:42] ayeletshpigelman commented on #10089
Hi,

The fix will be deployed as part as the upcoming powershell release.

Thanks,
Ayelet

[2019-09-30 19:54] #10058 closed

[2019-09-30 19:54] rthorn17 commented on #10058
We will be tracking this in our internal backlog

[2019-09-30 20:10] v-rasaa opened #10156 "Azure PowerShell for Key Vault misses bypass parameter, present on CLI"
PowerShell module does not allow the creation of Key Vault with Bypass or to add IP Ranges or IP rules during creation as parameter. The command for creating a new key vault does not have a parameter that can be added in order to assign a IP Range, this is by default but if Customer uses CLI it gives him the option to add a Bypass but not for IP rules or Vnet which customer is trying to implement.

[2019-09-30 20:27] ltouro commented on #9141
Would like to add that [this link](https://github.com/Azure/logicapps/blob/master/scripts/cancel-all-runs/cancel-runs.ps1) -- maintened by Microsoft -- indicates how to cancel all runs on a Logic App instance. The information is incorrect due the bug being tracked on this thread.

This has caused a huge billing for an Azure customer that relied on this information.

[2019-09-30 21:30] inderjeetwadhwa commented on #10150
I am also facing same issue. Any solution found ?

[2019-09-30 21:56] meepstei opened #10158 "App Service Plan is not changing using powershell az or AzureRM modules"
## Description
When running the following commands, the App Service Plan should change to the targeted ASP

Set-azWebApp -Name <WebApp> -ResourceGroupName <currentRG> -AppServicePlan <targetASP
or

Set-azureRM  -Name <WebApp> -ResourceGroupName <currentRG> -AppServicePlan <targetASP

Does not look like anything changes after running the commands

## Steps to reproduce

[code]

## Environment data

[2019-09-30 21:59] panchagnula commented on #10158
Investigating this since as per @meepstei this was  when using cloudShell with the latest modules.

[2019-09-30 22:11] panchagnula commented on #10158
This doesn't repro when running locally using the latest module @markcowl is there a cloudshell expert that can help us?

[2019-09-30 22:16] omerzubair opened #10160 "Get-AzBgpServiceCommunity is not returning any ip range"
## Description
Takes a long time to respond and does not return anything.
I have tried on Cloud Shell, Azure Automation accounts and also

## Steps to reproduce

[code]

## Environment data

[code]

## Module versions

[code]

## Debug output
Get-AzBgpServiceCommunity | where Name -In ('AzureAustraliaEast','AzureAustraliaSoutheast','AzureAustraliaCentral','AzureAustraliaCentral2')
Get-AzBgpService

[2019-09-30 22:16] omerzubair opened #10161 "Set-AzKeyVaultSecret does not work in CloudShell or Azure Automation accounts"
## Description
I am global admin in my tenent. I can run Set-AzKeyVaultSecret commandlet in powershell ISE
however same command does not work in Cloud Shell
My runbook is running in AzureAutomation account which gives same error as cloud Shell.
I know that the Azure Automation service principle is authorised in the destination key-vault using Access Polcies with all secret permissions.

## Steps t

[2019-09-30 22:44] number213 commented on #10150
@ejdelrio could you please take a look?

[2019-09-30 22:47] number213 commented on #10160
@dedhar @vinayada1 could you please take a look? I had the same issue last week, Get-AzBgpServiceCommunity failed with 429 and only after a few retries I was able to get it to work

[2019-10-01 01:38] dmitryserbin opened #10162 "Get-AzWebAppSlot does not configure HttpsOnly"
## Description

Unable to configure `HttpsOnly` setting on the AppService using `Get-AzWebAppSlot`.

## Steps to reproduce

[code]

Get the app one more time, just to make sure:

[code]

## Environment data

[code]

## Module versions

[code]

## Debug output

[code]

[code]

[code]

## Error output

No error, `HttpsOnly` setting remains unchanged.

[2019-10-01 06:52] Solidshadow commented on #9810
We just worked around this with the help of azure techsupport

It seems only one magical combination of commands works so far:

The paramaters you need are the following:
SubscriptionId{guid}  (get-azsubscription)
TenantID{guid} (get-azsubscription)
ResourceGroupName{string}
StorageSyncServiceName{string}

1. Import-Module "C:\Program Files\Azure\StorageSyncAgent\StorageSync.Management.PowerShell.

[2019-10-01 12:14] maksym-synkevych commented on #9784
Hello @solankisamir

`AllowedTenants` is not the same as `Signin tenant`. How can I specify `Signin tenant` using cmdlet (not the `Allowed tenant`)?
![image](https://user-images.githubusercontent.com/7526230/65960856-1280cb00-e45e-11e9-9292-3e90d8b50b24.png)

[2019-10-01 14:40] Linaa opened #10165 "`Import-AzBlueprintWithArtifact` returns badRequest when executing as a service prinicpal,"
## Description

`Import-AzBlueprintWithArtifact` returns badRequest when executing as a service prinicpal, works fine when executing as a regular user.

## Steps to reproduce

[code]

## Environment data

[code]

## Module versions

[code]

## Debug output

[code]

## Error output

[code]

[2019-10-01 14:43] #10165 closed

[2019-10-01 14:43] Linaa commented on #10165
misttyped the name! sorry!

[2019-10-01 16:01] arcotek-ltd opened #10166 "Get-AzRecoveryServicesVaultSettingsFile -Certificate missing documentation"
## Description
According to `Show-Command Get-AzRecoveryServicesVaultSettingsFile` The parameter `-Certificate` is required, but your [documentation](https://github.com/Azure/azure-powershell/blob/master/src/RecoveryServices/RecoveryServices/help/Get-AzRecoveryServicesVaultSettingsFile.md) does not provide any details on where this certificate comes from or how to use it.

## Steps to reproduce

[

[2019-10-01 16:04] panchagnula commented on #10158
@meepstei the usage of the command is incorrect the usage is as follows:

Set-AzWebApp -ResourceGroupName "Default-Web-WestUS" -Name "ContosoWebApp" -AppServicePlan "ContosoPlan"

Note: there is only a single AppServicePlan which is the new/target ASP you want to move the App (in the above Ex. ContosoWebApp to) . Like you mentioned this works first time because the first APPServicePlan you give th

[2019-10-01 17:17] ecfan commented on #8410
Hi @OpsRaven,

The product team has a bug to address this issue.

[2019-10-01 18:23] solankisamir commented on #9784
I see now, this property is missing in our REST specs also. I will need to start from there.

[2019-10-01 20:55] #10026 closed

[2019-10-01 21:05] omerzubair commented on #10160
Hi @dedhar  & @vinatara
This is another error:

Get-AzBgpServiceCommunity : A retryable error occurred. StatusCode: 429 ReasonPhrase: ErrorCode: RetryableError ErrorMessage: A retryable error occurred. OperationID : --- At line:243 char:18 + $BGPIP = Get-AzBgpServiceCommunity | where Name -In ... + ~~~~~~~~~~~~~~~~~~~~~~~~~ + CategoryInfo : CloseError: (:) [Get-AzBgpServiceCommunity], NetworkCloud

[2019-10-01 21:25] omerzubair commented on #10160
This is the third type of error in Automation accounts:

Get-AzBgpServiceCommunity : Subscription ch65--d------4fc0-adef-893---- is not registered with NRP. StatusCode: 409 ReasonPhrase: Conflict ErrorCode: SubscriptionNotRegistered ErrorMessage: Subscription ch65--d------4fc0-adef-893--- is not registered with NRP. OperationID : c717eca5--41c0-882e-At line:243 char:18 + $BGPIP_AUEA = Get-AzBgpSer

[2019-10-01 21:59] Dalubash commented on #10101
@nkiest Follow up on this diagnostic logs request.

[2019-10-01 22:42] nkiest commented on #10101
We are looking to fix this in the next two months. For now, you can use the REST API if you need a non-portal option. Sorry for the delay in shipping this.

[2019-10-01 23:04] KirillOsenkov opened #10168 "Remove-AzAdServicePrincipal throws NullReferenceException"
## Description
Using the Azure Cloud Shell and pwsh I'm trying to remove a service principal using this command:

## Steps to reproduce

[code]

## Environment data

[code]

## Module versions

[code]

## Error output

[code]

[2019-10-01 23:54] ifeoluwaokunoren commented on #9102
Hello @ViggoL,
I'm from the ARM team, and i'm currently looking into this issue.
Can you please give me some details on what is the use-case for including whether a resource is hidden/non-hidden.  This would help me either recommend an alternative or create a feature request.

Thank you.

[2019-10-02 03:08] omerzubair commented on #10161
There was fobidden issue and got mitigated by having MS ip ranges
https://github.com/Azure/azure-powershell/issues/10160

[2019-10-02 03:08] #10161 closed

[2019-10-02 05:06] markcowl commented on #10168
@KirillOsenkov Thanks for the report.  It should never throw a null ref, even if the service principal is not found.  One questions, is the service principal you are looking to remove in your home tenant, or some other tenant?  Because it is homed in the portal, CloudShell can only look at one tenant at a tme, so you would need to switch tenants in the portal, if you needed to remove a ServicePrin

[2019-10-02 05:42] markcowl opened #10169 "Add Az.HealthCareAPIs to Az module"
## Description
Module is going GA this release.
- [ ] Update the version to 1.0
- [ ] Check-in the API serialization file
- [ ] Add the module to Az.psd1
## Cost: 1

[2019-10-02 05:56] KirillOsenkov commented on #10168
I created the service principal by just specifying the credentials and the tenant, as the docs had in the sample. When I later tried to call `az login` with that principal display name and credentials it told me that the principal is not tied to a subscription. It offered me to ignore and still log in, but then I couldn’t use it for anything so I wanted to delete it.

I suspect that a service prin

[2019-10-02 17:16] KirillOsenkov commented on #10168
Exact repro:

open portal.azure.com
open Azure Shell and start `pwsh`

[code]

[2019-10-02 19:37] buchs commented on #9947
Well System.Management.Automation.PSObject is just the base object class for Powershell. I have the same problem and I verified that the -properties argument was a PSObject with a .Length property. Notice the object type mentioned in the error message is 'ResourceProxyDefinition'. I don't have any ideas what that is about.

[2019-10-02 19:38] buchs commented on #9947
and this page is about all Google can find when searching for: ResourceProxyDefinition (no spaces). So, Obiwan, you are my only hope!

[2019-10-02 22:35] omerzubair commented on #10160
Get-AzBgpServiceCommunity : The 'Get-AzBgpServiceCommunity' command was found in the module 'Az.Network', but the module could not be loaded. For more information, run 'Import-Module Az.Network'. At line:97 char:12 + $BGPIP = Get-AzBgpServiceCommunity | where Name -In ($MS_Regi ... + ~~~~~~~~~~~~~~~~~~~~~~~~~ + CategoryInfo : ObjectNotFound: (Get-AzBgpServiceCommunity:String) [], CommandNotFoundEx

[2019-10-02 22:36] omerzubair commented on #10160
In Azure Automation Accounts I am getting this error intermittently:

Get-AzBgpServiceCommunity : The 'Get-AzBgpServiceCommunity' command was found in the module 'Az.Network', but the module could not be loaded. For more information, run 'Import-Module Az.Network'. At line:97 char:12 + $BGPIP = Get-AzBgpServiceCommunity | where Name -In ($MS_Regi ... + ~~~~~~~~~~~~~~~~~~~~~~~~~ + CategoryInfo : Ob

[2019-10-02 22:44] #8314 closed

[2019-10-03 01:20] jlongo62 opened #10176 "How do we download AzureRM in a closed environment"
## Description
For the link: https://docs.microsoft.com/en-us/powershell/azure/install-az-ps?view=azps-2.7.0

It works great in an open environment. More commercial and almost all gov't systems are closed to the internet. the gallery does not work. Presumable, there is a way to get Powershell AzureRM and/or Az. I'll be damned if I can find them. Please provide download links and/or instructions fo

[2019-10-03 01:47] markcowl commented on #10176
https://github.com/Azure/azure-powershell/releases

Every release contains msi installers.

[2019-10-03 01:47] #10176 closed

[2019-10-03 02:21] jlongo62 opened #10179 "How do we download AzureRM in a closed environment"
## Description
How do we download AzureRM in a closed environment
There should be an AzureRM installer package that can be sneaker-net'd into another VM.
Where is it ?
This is a problem in many corp and gov't environments.
Nothing comes in until it goes through IA process.

Please check your answer before closing tickets!
The link provided by the guy who closed the original ticket:
https://github.

[2019-10-03 04:26] markcowl commented on #10179
@jlongo62 APologies for closing the issue so quickly if it did not resolve your problem.  What is the error you get when you attempt to install the package?  Note that you will need to have WindowsPowerShell or PowerShell Core on the target machine, and, if it is Windows PowerShell, at least .Net 4.7.2.

[2019-10-03 04:33] markcowl commented on #10179
@jlongo62 AzureRM is no longer under active development, but the latest released version has an installer available here: https://github.com/Azure/azure-powershell/releases/tag/v6.13.1-November2018

[2019-10-03 04:49] markcowl commented on #10154
I believe that all of the defined variables have a trailing slash, this is generally the pattern we use for most build path variables.

[2019-10-03 04:49] markcowl commented on #10154
And this is a public repo, if you would like to make this change, please submit a PR.  Closing.

[2019-10-03 04:49] #10154 closed

[2019-10-03 04:54] markcowl commented on #10158
@panchagnula CloudShell is just using linux powershell core.  Can you tell what the issue is that  the customer is experiencing?  Normally we would ask for specific repro steps and a debug trace if we cannot repro the issue.

[2019-10-03 06:17] markcowl commented on #10179
@jlongo62 it is also possible to create a local repository using a file share, if this is a more attractive option - you can use Install-Module to install from local file shares containing PowerShell Nuget packages.

[2019-10-03 13:35] jlongo62 commented on #10179
Good luck with that in a closed environment. You guys need to tgry this out on closed machines. There should be a simple reliable installer to get this going! 2 days!

Register-PSRepository -Name az.2.7.0 -SourceLocation "\\xxxxxxxx\nupkg" -InstallationPolicy Trusted
WARNING: Unable to download from URI 'https://go.microsoft.com/fwlink/?LinkID=627338&clcid=0x409' to ''.
WARNING: Unable to download

[2019-10-03 13:55] jlongo62 opened #10182 "Az Does not install"
## Description
FAILS:
Clean machine, no internet
msiexec.exe /a "C:\Users\xxxx\Downloads\Az-Cmdlets-2.7.0.29947-x64.msi" /L*V "C:\Users\xxxxx\Downloads\Az-Cmdlets-2.7.0.29947-x64.log"

If this actually works, how about some install notes, ie pre-reqs, run as admin (a pain in the A cause you have to figure out the command line), etc...

When run manually, no error comes from installer, it just stop

[2019-10-03 14:10] meepstei commented on #10158
@markcowl  I am experiencing the same issue from my side using Cloudshell and locally. I did try using the command Sisira provided and the App Service Plan still is not changing.

Set-AzWebApp -ResourceGroupName <resourceGroup> -Name <webappname> -AppServicePlan <targetASP>

When testing locally with Sisira the other day, the command did change the App Service Plan one time, the first time. After

[2019-10-03 15:08] Kichnifou opened #10183 "PowerShell ISE: az : The term 'az' is not recognized as the name of a cmdlet"
## Description

I did these following steps :
Install-Module -Name Az -AllowClobber
Import-Module Az
Connect-AzAccount
#Install Azure CLI
Invoke-WebRequest -Uri https://aka.ms/installazurecliwindows -OutFile .\AzureCLI.msi; Start-Process msiexec.exe -Wait -ArgumentList '/I AzureCLI.msi /quiet'

But when I try to use "az login" I have this error :
PowerShell ISE: az : The term 'az' is not recognize

[2019-10-03 16:06] alex-frankel opened #10184 "Blueprint Assignment with User-assigned managed identity fails if user assigning does not have owner permissions"
If I am creating the assignment without owner permissions via powershell, assignment creation fails because it is attempting to give the Azure Blueprints SPN owner rights on the subscription. Since I don't have rbac write permissions, the assignment creation fails, but it doesn't need to do that for UAMI.

This issue was opened [here](https://github.com/MicrosoftDocs/azure-docs/issues/39985), but

[2019-10-03 16:14] alex-frankel opened #10185 "Get-AzBlueprint does not report an error with -LatestPublished Flag set"
If I do:

`Get-AzBlueprint -ManagementGroupId "test" -Name "not-a-real-blueprint"`

It errors out correctly, but if I do:

`Get-AzBlueprint -ManagementGroupId "test" -Name "not-a-real-blueprint" -LatestPublished`

There is no error returned

[2019-10-03 16:29] alex-frankel commented on #10184
@frenky29a - just sync'd with the engineering team. To unblock you, we are going to push a fix that allows a parameter set with *both* the `-AssignmentFile` and `-UserAssignedIdentity` parameters.

It's a bit odd as you will be providing the resourceId in both the file and the parameter, but it should allow you to keep progressing. This fix should be done in the next 2-3 days.

Once that is done,

[2019-10-03 20:19] frenky29a commented on #10184
@alex-frankel - Big thanks to you and the team !

[2019-10-03 20:51] frenky29a opened #10189 "[Blueprint] VM Stop and Restart bug"
A VM deployed by Blueprint, in Lock mode "AllResourcesReadOnly", cannot be Stopped or Restarted.
I tried it with subscription owner. This is probably a general blueprint bug.
![blueprint-vm-stop-bug](https://user-images.githubusercontent.com/34274766/66163255-2bd97100-e630-11e9-9e68-bd384f1d6e90.png)

[2019-10-04 01:20] bganapa opened #10192 "URL Rewriting of the ARM endpoint takes the URL that of AzureCLoud all the time"
Module Version Az.Accounts 1.6.2

Url rewriting is currently dependent on having a value that matches an endpoint in the ‘AzureCloud’ environment as the input URL. Azure stack admin swagger specs has the host  entry as  "host": "adminmanagement.local.azurestack.external", not as management.azure.com

We should we rewriting these urls based on the **currently selected environment** rather than the

[2019-10-04 01:45] chupark opened #10193 "Get-AzStorageTable Couldn't Find Parameter on vscode"
When I use on VSCODE [Start Debuging F5] the following error occurred.
It is said that the parameter [-Name and -Context] cannot be found.
But it works well in Powershell ISE.

Get-AzStorageTable : 'backupLists' 인수를 허용하는 위치 매개 변수를 찾을 수 없습니다.
위치 D:\PowerShell\PowerShell\AzurePowerShell\dev\SnapShot-Backup-withStorage\src\make_env.ps1:20 문자:16
+ ... cloudTable = (Get-AzStorageTable ?밡ame $b ?밅ontext

[2019-10-04 03:07] siddhartharoy opened #10194 "Unable to run Azure command from Powershell"
## Description

Getting error while running any Azure command like below

Connect : The term 'Connect' is not recognized as the name of a cmdlet, function, script file, or operable program.
Check the spelling of the name, or if a path was included, verify that the path is correct and try again.
At line:1 char:1
+ Connect Az-Account
+ ~~~~~~~
+ CategoryInfo          : ObjectNotFound: (Connect:Strin

[2019-10-04 03:32] #10194 closed

[2019-10-04 14:44] tjrobinson commented on #7627
@panchagnula Thanks. Do you have any idea when these commands will be publicly available?

[2019-10-04 15:20] saach11 opened #10196 "New-AzPolicyAssignment doesn't assign the role definition for Managed Identity"
## Description

When creating a new policy assignment that requires managed identity, it should automatically add the role for the new identity.
The service principal is created, however the role assignment is not.
As a result Policy remediation doesn't work as expected.

## Steps to reproduce
The policy definition is a custom one with an "effect" = modify.
The role definition ID is contributor
"r

[2019-10-04 23:54] shenglol opened #10199 "Connect-AzAccount failed to change custom environment"
## Description
Using `Connect-AzAccount -Environment` to switch to a custom environment doesn't really change the environment. I had to disconnect and re-connect again to make it take effect. However, changing to a built-in environment seemed to work as expected.

## Steps to reproduce

[code]

## Environment data

[code]

## Module versions

[code]

## Debug output

[code]

## Error output

[code

[2019-10-05 00:00] shenglol commented on #10199
@majastrz can produce this?

[2019-10-05 00:03] majastrz commented on #10199
Yes, I had this happen to me as well.

[2019-10-06 03:02] panchagnula commented on #10081
Thanks for reporting we will investigate this further.

[2019-10-06 16:15] luyseyal commented on #5100
You can vote on it here:

https://feedback.azure.com/forums/217298-storage/suggestions/37981573-don-t-throw-storageaccountalreadytaken-for-incre

[2019-10-07 09:26] Ba4bes opened #10201 "Test-AzResourceGroupDeployment gives limited output"
## Description

Test-AzResourceGroupDeployment untill recently had a debug output that showed all properties of Resources that would be deployed. This result can still be achieved when using the AzureRM-module.
At this point the output only shows IDs of resources that would be deployed.
(See Debug results below for examples)

## Steps to reproduce

[code]
in the output of $Example at the bottom yo

[2019-10-07 19:28] g-pearl opened #10203 "Get-AzConsumptionUsageDetail"
## Description
When trying to get consumptionusagedetail I get an error:

[code]

## Steps to reproduce
[code]

## Environment data
[code]

[code]
## Module versions

[code]

## Error output

[code]

[2019-10-08 00:21] JoeBrockhaus commented on #8933
Based on the error @AgelM received, the Resource that matches `74658136-14ec-4630-ad9b-26e160ff0fc6` should be `https://main.iam.ad.ext.azure.com`.

This makes sense, because that's the base URI for the `RegisteredApplications` API used in the `liebensraum` blog post @ryanspletzer opened the Issue with.

[2019-10-08 04:44] blueww commented on #10193
@chupark

As the error is "No positional parameter found that accepts arguments."
It seems the '-' in parameter name is not correct parsed, so the parameter name is not recognized.
You can see in the error message, they are regognized as "?밡"

The same command works fine in my machine (my machine default language is English).
This might be related with some language setting on your machine. Or you

[2019-10-08 05:19] erich-wang commented on #10183
@Kichnifou, have you tried to start new PowerShell session after installing?

[2019-10-08 06:42] msJinLei commented on #10189
@frenky29a Could provide the detailed steps you created the VM? And also with the related error & debug log.

[2019-10-08 06:43] msJinLei commented on #10182
@jlongo62 Thank you for reporting that issue. We are working on it and will let you know if any update.

[2019-10-08 06:46] #8459 closed

[2019-10-08 06:48] msJinLei commented on #10196
@saach11  Could you provide the following information.

## Environment data
Please run $PSVersionTable and paste the output in the below code block

## Module versions
Please run (Get-Module  -ListAvailable) and paste the output in the below code block

## Debug output
$DebugPreference='Continue' before running the repro and paste the resulting debug stream in the below code block

[2019-10-08 06:49] markcowl commented on #9921
Fixed

[2019-10-08 06:49] #9921 closed

[2019-10-08 06:50] markcowl commented on #9673
Fixed

[2019-10-08 06:50] #9673 closed

[2019-10-08 06:57] markcowl commented on #10199
This is expected - PowerShell doesn't automatially change your selected subscription after a logn, unless you specify a subscription. You would need to select the new context after logging in.  This is because you are allowed to be logged in simultaneously as multiple users against multiple environments.

Do you think this behavior should change, or are you seeing something different?

[2019-10-08 07:12] markcowl commented on #9949
- I haven't seen reports of this particular issue where you can load the module, but don't see cmdlets.  Generally, if there is an error loading the module, that will be printed when you run import-module.

- If you run `Get-Module` as above, this will show the module and its cmdlets after loading.

- If you have `ConstrainedLanguageMode` enabled, I would expect loading the module to fail `(Get-PS

[2019-10-08 07:13] markcowl commented on #10077
Complete

[2019-10-08 07:13] #10077 closed

[2019-10-08 07:14] markcowl commented on #9095
Fixed

[2019-10-08 07:14] #9095 closed

[2019-10-08 07:14] #9948 closed

[2019-10-08 07:16] #9399 closed

[2019-10-08 07:32] markcowl commented on #10179
@jlongo62 You are correct that we don't deal with closed environments very much, you would need to make sure that the latest PowerShellGet and PackageManagementProvider were installed first.  If you were using PowerShell Core, that would happen automatically.  Would be happy if you had some time to to work together on getting a script for this that others could use.  Meanwhile, the installer shoul

[2019-10-08 09:07] arek-avanade commented on #10034
I can confirm the same issue on my side. Our ARM template works fine with Azure CLI, but fails with the same error when using Powershell cmdlet.

@markcowl Any update on this?

[2019-10-08 15:29] alex-frankel commented on #10201
Hi @Ba4bes - you are correct that we intentionally stopped returning this information recently because of a security issue. The good news is that we are about a month out from introducing a new API/cmdlet to do a more complete "what-if" of a deployment.

On a net-new create, it will look the same as the information you are used to seeing in the old `Test-AzResourceGroupDeployment` cmdlet with the

[2019-10-08 16:19] Ba4bes commented on #10201
Hi Alex,
I think you know about my module ARMHelper, which gives that What-if functionality by using this output. It also uses it to for example check if resources already exist in a resourcegroup.

I know people are also using this output to populate Pester tests for ARM templates.
I like the thought of the what-if functionality (of course, that's why I had created it :-P), will this also be outp

[2019-10-08 16:49] alex-frankel commented on #10201
Unfortunately, using AzureRM is your only option for now or to do a REST API call in your ARM helper module directly because older API versions of the /validate API (will need to get back to you on which one) return the full resource payloads.

The output from what-if will be returned as JSON so it can be used in pester tests

[2019-10-08 16:58] lazyruss opened #10216 "convertto-json fails on result from Get-AzDiagnosticSetting"
repro:
configure diagnostic to LA on appropriate resource (i.e. eventHub)
run
`Get-AzDiagnosticSetting -ResourceId <resource with diagnostics> | ConvertTo-Json`
result:
`convertto-json : An item with the same key has already been added.`

on the surface, it seems to be caused by Microsoft.Azure.Commands.Insights.OutputClasses.PSServiceDiagnosticSettings having Metrics and Logs properties defined i

[2019-10-08 17:00] Ba4bes commented on #10201
Alright, I'll think about my options.
Looking forward to the whatif option, for sure.

I will close this issue, as my question has been answered.
Thank you for your response

[2019-10-08 17:00] #10201 closed

[2019-10-08 17:46] majastrz commented on #10199
@markcowl it's weird that you can do `Login-AzAccount -Environment foo` and it won't actually use that environment to make calls unless you do extra steps to force it. (Is this behavior documented somewhere?)

[2019-10-08 18:11] johncrim commented on #9078
@markcowl : Apologies for the super-tardy reply on this:

AzureRM is (or was, when I created this issue) installed on the Azure DevOps Ubuntu 16.04 agent image. The only way to use Az commands in builds/deploys was to install it from bash.

I think the key fix that I'm looking for is that this directory should not be created within a non-root user's home directory, while running as root. If a dire

[2019-10-08 20:10] Kichnifou commented on #10183
No im not, ill try thx

Le mar. 8 oct. 2019 à 01:23, erich-wang <notifications@github.com> a écrit :

[2019-10-08 23:17] aamalvea commented on #10015
@maboja-msft Can you take a look at this?

[2019-10-08 23:29] #5442 closed

[2019-10-09 01:50] msJinLei commented on #10216
@lazyruss Thank you for reporting the issue. ConvertTo-Json is not a azure cmdlet. Anyway, could you provide the following information? Thanks

## Environment data
Please run $PSVersionTable and paste the output in the below code block

## Module versions
Please run (Get-Module  -ListAvailable) and paste the output in the below code block

## Debug output
Set $DebugPreference='Continue' before run

[2019-10-09 02:05] lazyruss commented on #10216
indeed ConvertTo-Json is not azure cmdlet, but its one of core cmdlets, and i expect it to be compatible with data types exposed by azure cmdlets.
root cause is that
[code]
Repros with Powershell Core versions 6 and 7.

[code]
 $DebugPreference='Continue' has no effect on ConvertTo-Json

[code]

[2019-10-09 06:23] msJinLei opened #10221 "Static analysis in CI fails to identify the positioning parameter count exceeding issue"
## Description
- Get the static analysis failure in sign process for positioning parameter count exceeding the limits.
https://azuresdkci.westus2.cloudapp.azure.com/job/psnetsign-esrp/535/

- In the original pull request, such issue failed to be identified.
https://github.com/Azure/azure-powershell/pull/10177

## Follow Up
When ran Static Analysis at ADO, Module Az.DataFactory was skipped for some

[2019-10-09 08:47] skhrenov opened #10223 "Issues found by PVS-Studio"
Hello,
I have found a few bugs using PVS-Studio analyzer.
PVS-Studio is a static code analyzer for C, C++, C#, and Java.
I gave the description of errors and code fragments in the article.
You can read the article at the official site: [https://www.viva64.com/en/b/0678/](https://www.viva64.com/en/b/0678/)

[2019-10-09 10:29] okpedersen opened #10224 "Document -Force parameter for Publish-AzWebApp"
## Description of the new feature

The `-Force` argument should be documented for `Publish-AzWebApp`.

(Unsure of whether this is the correct type of issue, but none of the other seemed to fit.)

[2019-10-09 10:35] Djongov commented on #10149
Same for me. I do have a budget limit set manually from the portal. I am working on automating creation of budgets across multiple subscriptions but in the process of creating the automation i stubled on the issue that Get-AzConsumptionBudget returns nothing

[2019-10-09 11:08] alexandair opened #10225 "[Az 4.0.1-preview] Default output of Get-AzVM is not very usable"
## Description
Default output for `Get-AzVM` in 2.7.0 contains the following columns:
ResourceGroupName, Name, Location, VmSize, OsType, NIC, ProvisioningState, and Zone.

Default output for `Get-AzVM` in 4.0.1-preview contains the following columns:
Name, Location, Size, ProvisioningState, and Zone

Some useful info is missing. Especially `ResourceGroupName` is crucial, because we can have multip

[2019-10-09 11:22] alexandair opened #10226 "[Az 4.0.1-preview] Piping any Az command to Select-Object -First doesn't return any object"
## Description
Piping any Az command to `Select-Object -First` doesn't return any object, unless you specify a value that is **higher** than the number of piped objects. That makes `Select-Object -First` practically unusable.

## Steps to reproduce

[code]

## Environment data

[code]

## Module version

[code]

## Debug output

[code]

[2019-10-09 15:27] frenky29a commented on #10189
@msJinLei
I have created new repo for you to reproduce the same issue.

https://github.com/frenky29a/azure-blueprint-vm-stop-restart-bug
1. Download the repository
2. run deploy.ps1
3. try to stop the VM...

There is no error and debug log other then the one shown on the initial picture.
Regards..

[2019-10-09 16:19] mikewo commented on #6800
This seems to be corrected in the new Az cmdlets.

[2019-10-09 16:19] #6800 closed

[2019-10-09 18:48] DanteNahuel opened #10231 "get-azrecoveryservicesasrrecplicationprotecteditem -protectionContainer type not working"
## Description
When using Get-azrecoveryServicesASRReplicationProtectedItem -protectionContainer $container
I get $null results
If I enter the cmdlet without parameters, when asked for the ProtectionContainer, I use the same $container variable only this time instead of getting a $null result I get a Type error, stating $container is of type "System.String", which it isn't.

## Steps to reproduce

[2019-10-09 19:33] msfcolombo commented on #9995
I just realized that the sample above, taken from [documentation page](https://docs.microsoft.com/en-us/powershell/module/az.keyvault/set-azkeyvaultmanagedstoragesasdefinition?view=azps-2.7.0&viewFallbackFrom=azps-2.4.0) is wrong! 🙄

Let me fix that sample. I will post here shortly.

[2019-10-09 20:01] msfcolombo commented on #9995
The `New-AzStorageAccountSasToken` cmdlet is not returning a viable value. I recommend crafting the template URI manually. The overall template must be something like:

`https://{storage-account-name}.{one-of: blob, table, queue, file}.core.windows.net/{blob-name}?{query}`

The syntax of `query` is defined in [this document](https://docs.microsoft.com/en-us/rest/api/storageservices/create-account-

[2019-10-09 20:07] dalshamaa commented on #10015
Ack

[2019-10-09 20:44] number213 commented on #10223
@skhrenov thanks! Suggestion: maybe it would be better open issues if not by individual bugs, but by resource providers (Accounts / Compute / Network / RescoveryServices / etc)

---

From Network's side, @vinayada1, could you please take a look at `Remove-AzExpressRouteConnection`? Is there a reason for why this is written that way:

[code]

https://github.com/Azure/azure-powershell/blob/master/sr

[2019-10-09 21:14] faultoverload opened #10232 "Get-AzSecurityTask.RecommendationType has string with encoding issue"
## Description
When running a query with (Get-AzSecurityTask).RecommendationType that has a Recommendation that is "The rules for web applications on IaaS NSGs should be hardened" the string has a encoding error with the space used inbewteen IaaS and NSGs. This can be replicated by copy and pasting the string in a powershell window, exporting to a csv or simply running a like comparison.

The stri

[2019-10-09 22:07] shenglol commented on #10199
@markcowl I think I'm with @majastrz . My expectation is that we don't have to run `Disconnect-AzAccount` before running `Connect-AzAccount -Environment foo`.

Besides, I think the real issue is that it **does** work if foo is one of the built-in environment. Notice that in the Steps to reproduce section, the last cmdlet `Connect-AzAccount -Environment Dogfood` successfully changed the environment

[2019-10-09 23:02] number213 commented on #9875
Ping @markcowl @erich-wang

[2019-10-09 23:14] cormacpayne commented on #10199
@shenglol @majastrz I believe this is an issue with context name clashing -- by default, contexts are generated with the name `{subscriptionName} ({subscriptionId}) - {accountId}`, and typically this is unique enough (and short enough 😁) to prevent duplicate contexts, but there are cases like this where the environment is different, but the subscription and the account are the same, so the cmdlet

[2019-10-10 00:28] Drewm3 commented on #9806
I am going to close this issue now that the documentation update has been made.

[2019-10-10 00:28] #9806 closed

[2019-10-10 00:37] msJinLei commented on #10216
@lazyruss  Thank you for the information. We will invesitigate it and let you know if any update.

[2019-10-10 00:45] msJinLei commented on #10231
@DanteNahuel
The returned values of the Get-AzRecoveryServicesAsrProtectionContainer can be multiple. Could provide the output of this cmdlets?

Also please provide the debug output.
## Debug output
Set $DebugPreference='Continue' before running the repro and paste the resulting debug stream in the below code block

[2019-10-10 00:50] msJinLei commented on #10225
@alexandair Thank you for report the issue. We will take a look at it and let you know if any update.

[2019-10-10 00:53] msJinLei commented on #10226
@alexandair Thanks for reporting the issue and we will investigate it and let you know the update.

[2019-10-10 01:03] msJinLei commented on #10224
@okpedersen
Could you provide the your enviroment information?

## Environment data
Please run $PSVersionTable and paste the output in the below code block

## Module versions
Please run (Get-Module  -ListAvailable) and paste the output in the below code block

We dont' have the -Force parameter for this cmdlet currently and so what do you mean?

[2019-10-10 04:41] markcowl commented on #10225
@alexandair   Which piece of missing data would be most useful?  We have a to-do item to add the -Detailed parameters, including PowerState, anything else that you woudl specifically liek to see (beyond the display with current cmdlets)?

[2019-10-10 04:50] Murthy582 commented on #10107
##Module versions

[code]

##Debug
Replaced sensitive information with string literals

[code]

##Error output

[code]

[2019-10-10 05:09] ameyaagashe opened #10235 "Set-AzureVMMicrosoftAntimalwareExtension is not available on Az module"
## Description
Set-AzureVMMicrosoftAntimalwareExtension is not available on Az module

## Steps to reproduce
1. Install Az module and run command Set-AzureVMMicrosoftAntimalwareExtension OR
Set-AZVMMicrosoftAntimalwareExtension

[code]

## Environment data
Environment is Windows 10 Enterterprise N Virtual Machine.

[code]

## Module versions

[code]

## Debug output

[code]

## Error output

[code

[2019-10-10 05:34] peppekerstens opened #10236 "Breaking Change Warnings"
## Description of the new feature

Right now, any breaking changes are being displayed when a command is called. However, there seems to be no filter if this breaking change actually applies to the parameter-set being used.

The option provided in https://aka.ms/azps-changewarnings is too broad; this disables the warning mechanism completely

as a developer i want those warnings on any new command

[2019-10-10 06:50] okpedersen commented on #10224
Our Azure DevOps release pipeline fails with an error message if the `-Force` parameter is not supplied to `Publish-AzWebApp`.

The error message:
`Windows PowerShell is in NonInteractive mode. Read and Prompt functionality is not available.`

Also, the source code in `PublishAzureWebApp.cs` ([here](https://github.com/Azure/azure-powershell/blob/master/src/Websites/Websites/Cmdlets/WebApps/Publish

[2019-10-10 07:39] msJinLei opened #10239 "Complete the document for preview release process"
## Description

## Cost
2

[2019-10-10 12:05] msJinLei commented on #10216
Reported to windows powershell team.
https://windowsserver.uservoice.com/forums/301869-powershell/suggestions/38784157-convertto-json-fails-on-result-from-get-azdiagnost

[2019-10-10 13:24] pvrk commented on #7533
@markcowl : Apologies but my understanding is that this test is failing because PS is using only netstandard 2.0. May I know how are we expected to fix this issue?

[2019-10-10 13:47] pvrk commented on #10133
Assigning to @siddharth7

[2019-10-10 19:57] invisibleaxm commented on #9448
Hello,

FWIW i wanted to mention that we are too encountering a similar issue while running our ps code in Azure Functions. Similar to @bingbing8 our use case is to login to several different tenants/subscriptions for management and we are randomly experiencing this same issue.

[2019-10-10 22:47] ifeoluwaokunoren commented on #9102
Closing this issue based on my previous response. Please open a new issue if you still want to make this feature request.
Thanks.

[2019-10-10 22:47] #9102 closed

[2019-10-10 22:59] ifeoluwaokunoren commented on #7259
@Tiano2017 is taking a look at this from ARM

[2019-10-11 01:27] msJinLei commented on #10224
This part of information is really important. Anyway we shall get to know what the versions of Az and Az.websites you are using so that we can reproduce the issue.

[2019-10-11 01:51] msJinLei commented on #10189
@frenky29a cool! And so since you can reproduce the issue using that script, could you also provide the following information?

## Environment data
Please run $PSVersionTable and paste the output in the below code block

## Module versions
 Please run (Get-Module  -ListAvailable) and paste the output in the below code block

[2019-10-11 02:01] msJinLei commented on #10102
@DanteNahuel Any update for it?

[2019-10-11 02:01] msJinLei commented on #10196
@saach11 Any update?

[2019-10-11 02:26] prabhu130986 opened #10242 "Azure Datafactory IR start stop - run as background job"
## Description of the new feature
Need --no-wait or -AsJob option for Start-AzDataFactoryV2IntegrationRuntime and Stop-AzDataFactoryV2IntegrationRuntime modules.

Starting an IR takes around 25 minutes and the powershell prompt does not return until IR is fully started. This is a bottleneck for automating this start / stop process. Can you add --no-wait or -AsJob option as there in Start-AzureRmVM

[2019-10-11 03:41] erich-wang commented on #10084
Close the issue since no response from user for 18 days.

[2019-10-11 03:41] #10084 closed

[2019-10-11 03:42] erich-wang commented on #10100
@bjossi-asitis , could you please try Set-AzWebApp in latest Az 2.7? We'll close the issue if don't hear from you in 5 days, thanks.

[2019-10-11 03:42] erich-wang commented on #10105
@jzkornbluh , could you please provide the info I listed above? We'll close the issue if we don't hear from you in 5 days.

[2019-10-11 03:44] erich-wang commented on #10183
@Kichnifou, does the issue still exist? Please close the issue if no issue any more,thanks.

[2019-10-11 03:44] erich-wang commented on #10067
@MarkWarneke, could you please provide the info? We'll close the issue if don't hear from you in 5 days.

[2019-10-11 03:45] erich-wang commented on #10011
@ilyalukinykh, have you tried `New-AzResource`? We'll close the issue if we don't hear from you in 5 days.

[2019-10-11 03:47] erich-wang commented on #10055
@solatwal, could you please provide the info I asked? We'll close the issue if we don't hear from you in 5 days.

[2019-10-11 03:47] erich-wang commented on #9991
@AnmolDhillon, have you tried `Clear-AzContext`? We'll close the issue if we don't hear from you in 5 days.

[2019-10-11 03:49] bjossi-asitis commented on #10100
Sorry. Because I managed to find a workaround I had to put this on hold. I will try to do this test within 5 days
/Björn

From: erich-wang <notifications@github.com>
Sent: den 11 oktober 2019 05:46
To: Azure/azure-powershell <azure-powershell@noreply.github.com>
Cc: Björn Erlendsson <bjorne@asitis.se>; Mention <mention@noreply.github.com>
Subject: Re: [Azure/azure-powershell] Set-AzureRMWebApp ret

[2019-10-11 04:41] msJinLei commented on #10236
@peppekerstens Thanks for your proposal! We will investigate how to do it.

[2019-10-11 04:54] fowl2 opened #10246 "Move-ResourceGroup cmdlet"
## Description of the new feature
[code]

## Proposed implementation details (optional)

1. Check all resources in RG can are movable^
2. Register any missing resource providers^
3. [Maybe] Create destination RG. Use the same location as the source.
4. Execute move
5. [Maybe] Remove source RG

^ This information doesn't currently seem programmaticality available. Maybe it's possible by repeatedly

[2019-10-11 05:12] aim-for-better commented on #2186
Customer don't need to investigate this issue. And HDInsight have made so many changes since 2016. Customer can use the newest HDInsight cluster.

[2019-10-11 05:12] #2186 closed

[2019-10-11 05:58] frenky29a commented on #10189
Here you are..

Name                           Value
----                           -----
PSVersion                      7.0.0-preview.4
PSEdition                      Core
GitCommitId                    7.0.0-preview.4
OS                             Microsoft Windows 10.0.17763
Platform                       Win32NT
PSCompatibleVersions           {1.0, 2.0, 3.0, 4.0…}
PSRemotingProtocolVersion

[2019-10-11 06:29] erich-wang opened #10249 "Generation for AKS to support basic E2E scenario"
## Description

## Cost

[2019-10-11 06:59] okpedersen commented on #10224
Yes, we are aware that it is not recommended to run both versions in parallel, but do not have any other options currently.

No, I see that I wasn't clear enough. We run an Azure PowerShell 4.* (preview) **task** in an Azure DevOps release pipeline. See [here](https://docs.microsoft.com/en-us/azure/devops/pipelines/tasks/deploy/azure-powershell?view=azure-devops). The YAML for our task looks like

[2019-10-11 07:08] #6185 closed

[2019-10-11 07:33] #10143 closed

[2019-10-11 07:50] erich-wang commented on #10199
@dcaro for priority

[2019-10-11 08:42] erich-wang commented on #9078
@wyunchi-ms, could you follow this issue?

[2019-10-11 08:44] chupark commented on #10193
My parameter was "-name" and "-context"

I removed it yesterday and reinstalled it, and it works fine on VSCODE now.
Was there any changes?

[2019-10-11 08:46] erich-wang commented on #9448
@isra-fel, could you take a look this issue?

[2019-10-11 08:49] #10073 closed

[2019-10-11 08:53] #10169 closed

[2019-10-11 09:27] athlon55 opened #10253 "Add-AzVhd : This implementation is not part of the Windows Platform FIPS validated cryptographic algorithms"
## Description
When using the command Az-AddVHD on a Windows enabled FIPS server, I have this error message

Add-AzVhd : Exception has been thrown by the target of an invocation.
At line:1 char:1
+ Add-AzVhd -ResourceGroupName xxxxx -Destination "https: ...
+ ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    + CategoryInfo          : CloseError: (:) [Add-AzVhd], TargetInvoc

[2019-10-11 09:41] blueww commented on #10193
I don't know any PSH change related to that.
From the error, the error is just "-" can't be parse in VScode, might be related with some language setting on your machine.

Anyway, since it works fine now, I will close the issue.
Feel free to contact us if you need any further accistance.

[2019-10-11 09:41] #10193 closed

[2019-10-11 09:46] wyunchi-ms commented on #9078
Hi @johncrim.
We didn't recurrence your problem on both `ubuntu 16.04`, `ubuntu 18.04` and `wsl`. Are you use `sudo` instead of login as `root`? When you are using `sudo`, you are still the user who login so the home directory will not be /root or /home/root. But the permission of dir will be root. I'm not sure whether this can solve your problem.

[2019-10-11 10:46] Mudman1986 opened #10254 "Az.Security module does not get installed"
## Description
When installing the Az module in powershell the Az.Security module does not get installed.
 If this is by design, why?

I have tested this with version 2.7.0 of the Az module

## Steps to reproduce

[code]

## Environment data

[code]

## Module versions

[code]

[2019-10-11 10:52] DennisMunns opened #10255 "Enable-AzRecoveryServicesBackupProtection : Index (zero based) must be greater than or equal to zero and less than the size of the argument list."
## Description
Running Enable-AzRecoveryServicesBackupProtection to add a storage account to the vault returns "Enable-AzRecoveryServicesBackupProtection : Index (zero based) must be greater than or equal to zero and less than the size of the argument list."

## Steps to reproduce

[code]

## Environment data

[code]

## Module versions

[code]

## Debug output

[code]

## Error output

[code]

[2019-10-11 16:53] Drewm3 commented on #10235
@ameyaagashe, the helper cmdlet  Set-AzureVMMicrosoftAntimalwareExtension is for classic VMs while the AZ module supports only VMs deployed through Azure Resource Manager (ARM), and there is no helper cmdlet available for Antimalware on ARM deployed VMs.

Do you need help in using the AntiMalware extension w/o the helper cmdlet, or should this just be treated as a request for the AntiMalware team

[2019-10-11 20:01] MarkMichaelis opened #10256 "Get-AzSqlDatabaseImportExportStatus doesn't support wait for complete"
## Description of the new feature
`New-AzSqlDatabaseImport/Export` doesn't have a way to run synchronously, waiting for the operation to complete.

## Proposed implementation details (optional)
Add a `-WaitForComplete` flag to either `New-AzSqlDatabaseImport/Export` or `Get-AzSqlDatabaseImportExportStatus`
`Get-AzStorageBlogCopyStatus` supports a `-WaitForComplete` parameter that allows you to blo

[2019-10-11 23:28] ameyaagashe commented on #10235
To answer your question, treated as a request for the AntiMalware team to add a helper cmdlet for ARM VMs? by that, we can bootstrap the machine with Antimalware.

[2019-10-12 02:04] isra-fel opened #10259 "Move to MSAL"
## Description

We are moving from ADAL to MSAL

- [x] See if there is anywhere else needs tracing message
- [ ] Cancellation token

## How to verify
- [x] Verify all auth scenarios
- [x] Verify token cache migration
- [x] Verify tracing message
    - [x] No sensitive info is in the messages
- [ ] Verify SSO with lastest VS build
- [ ] Verify cancellation token (by unit tests)

## Release

- [ ] R

[2019-10-12 02:05] isra-fel commented on #10259
Cormac's #9982 should cover most (if not all) of this issue. I'll continue working on it.

[2019-10-12 02:12] isra-fel opened #10260 "Support ADFS"
## Description

To support ADFS on Azure Stack, we need to:

- [x] Determine a port (or a set of ports) that we will listen to
    - Update: we use 8405,8406,8407
    - [x] Ask Cormac to make sure we are able to do this
    - [x] Discuss with CLI, make sure we know each other's choice
- [x] Use fixed ports as redirect uri with ADFS
- [x] Use scope=openid for all the auth scenarios with ADFS
  - [x

[2019-10-12 02:40] markcowl commented on #10254
@RalfM1986 Thanks for the feedback.  The reason that it is not installed is because Az only ships modules that are designated as stable - this module is still considered a pre-release.  I have assigned this to the module owners, who can designate this as a stable module and be included in the Az rollup.

Meanwhile, until then, you can always install the Az.Security module using

[code]

Whether or

[2019-10-12 03:55] interfacemirror commented on #9478
@markcowl  Can you provide sample code for your explanation?

I am getting the below error, while trying to create a service principle in my azure tenant without subscription. The reason my tenant has no subscription is that because I provisioned a Dynamics CRM instance which behind the scene created the Azure Tenant for me. I want to use this instance to provide Azure S2S authentication to CRM we

[2019-10-12 06:11] dingmeng-xue opened #10263 "Support LFS new account property"
## Description of the new feature
Add new property for Large File Shares on storage account API for Azure Files LFS GA.
Property: storageAccount.properties.largeFileSharesState
[code]

LFS team's plan
* 10/16 - LFS GA
* 10/21 week - PS preview support
* 11/4 - PS GA release

[2019-10-12 07:01] wyunchi-ms commented on #9797
Hi @hbuckle we have found the cause. We will fix it soon.

[2019-10-12 07:52] markcowl opened #10266 "Model customization unite tests for storage module"
## Description
- [ ] Use Pester to mock underlying cmdlets and test customizations
- [ ] Write documentation and rule for code coverage in customzations using pester mocking
## Cost : 2

[2019-10-13 10:47] lwajswaj commented on #10192
Even if you fix this, you will run into the issue that Azure Stack doesn't support AZ module as Azure Stack doesn't have the latest API (actually not even close to the latest). That's why when working with Azure Stack, you need to keep using AzureRM 2.5.0 (yeah, that old!); you can see when you [Use-AzureRmProfile](https://docs.microsoft.com/en-us/azure-stack/operator/azure-stack-powershell-instal

[2019-10-13 15:13] erich-wang opened #10268 "Enable automation test for Az 4.0"
## Description
Enable automation test for one module in Az 4.0. Compute?

## Cost

[2019-10-13 15:15] erich-wang opened #10269 "Setup CI for Az 4.0"
## Description
- CI for powershell - core, please refer to : https://dev.azure.com/azure-sdk/public/_build?definitionId=208
  - Analyze modified modules and only run against modified modules
- CI for windows - powershell, please refer to: https://dev.azure.com/azure-sdk/public/_build?definitionId=209
  - Analyze modified modules and only run against modified modules
###

## Cost

[2019-10-13 16:41] bganapa commented on #10192
@lwajswaj It seems you know the pain of using a old azure powershell modules for AZURESTACK while azure has moved on to Az. I work for the azure stack team and we are trying to ease the pain.

We have a new Az preview release out in powershell gallery.  With this release, one can use the same bits against azure as well as azure stack, just by changing the api profile. You don't even need to open a

[2019-10-13 22:55] interfacemirror opened #10270 "New-AzADServicePrincipal : Object reference not set to an instance of an object."
## Description

When running New-AzADServicePrincipal on an Azure Environment without subscription, I get New-AzADServicePrincipal : Object reference not set to an instance of an object exception.

I provisioned a Power Platform instance which is linked to an Azure Account without subscription. I am able to create new App Registration in the Azure instance using the portal however I cannot run New

[2019-10-13 23:56] fowl2 opened #10271 "Add ProviderNamespace property to PSResource"
## Description of the new feature
Add a property to `PSResource` (as returned from `Get-AzResource`, etc.) called `ProviderNamespace`. Then we can pipe resources into the  `*-AzResourceProvider` cmdlets.

This seems like a much less error prone and brittle than encoding knowledge of the [ResourceType format](https://github.com/MicrosoftDocs/azure-docs/issues/17996#issuecomment-541102990) into ever

[2019-10-14 01:37] dingmeng-xue opened #10272 "Release process diagram"
## Description
A diagram to show the release process

[2019-10-14 02:40] msJinLei commented on #10255
@DennisMunns
Could you see whether the following cmdlet which changes the order of the parameters also has the same issue?
Enable-AzRecoveryServicesBackupProtection -Policy $BackupPolicy -Name $FilesStorageAccount -StorageAccountName $FilesStorageAccount  -VaultId $Vault.ID

[2019-10-14 06:30] markcowl commented on #9366
@Drewm3 is this fixed in the current release bits?

[2019-10-14 06:31] markcowl commented on #9115
@Drewm3 was this fixed?  Please close, or assign to a new milestone appropriately.

[2019-10-14 07:04] isra-fel commented on #10260
How to tell AAD from ADFS:
`IAzureEnvironment.OnPremise`

[2019-10-14 07:19] stijn192 opened #10280 "Get-AzHdInsightCluster `not a valid Base-64 string` error for ESP enabled cluster"
## Description
Get-AzHdInsightCluster throws an error when using this on a HDInsight cluster deployed with ESP enabled and after retrieving the cluster identity. Therefore, it's impossible to use Get-AzHdInsightCluster with this type of ESP clusters.

[code]

## Steps to reproduce
Deploy a cluster with the following template:
<details>
<summary>ARM template</summary>

[code]
</details>

Make sure

[2019-10-14 07:21] RalfM1986 commented on #10254
@markcowl Thanks for the quick response. Could I have seen somewhere that the module is still in pre-release. Or can I assume that every module with version 0.x.x is a pre-release.

[2019-10-14 07:58] markcowl opened #10281 "SPN Secret displayed in Disconnect-AzAccount"
## Description

When logged in as an SPN with SPN secret credentials, running `Disconnect-AzAccount` to disconnect the account will display the secret credentials on the screen - this value should never be displayed.

[2019-10-14 08:01] stijn192 commented on #10280
Well, it seems my timing is a bit inconvenient. I saw a PR has been placed 2 hours ago for exactly this issue:
https://github.com/Azure/azure-powershell/pull/10277

[2019-10-14 09:42] cadumi opened #10282 "Get-AzComputeResourceSku -PS cmdlet, better explanation of output"
## Description of the new feature
https://github.com/MicrosoftDocs/azure-docs/issues/40481

For the Get-AzComputeResourceSku output, we might get the NotAvailableForSubscription output even though the VM SKU is available for Subscription but unavailable in Zone. You should specify in the documentation how the output should be interpreted. Also, for a better output below command should be used with

[2019-10-14 10:33] sambitratha commented on #10255
Hi @DennisMunns . You are getting this error mostly because you have passed a fileshare name that doesn't exist in the storage account. Try giving a valid fileshare name once. However the exception caused is because of a faulty error message which will be fixed in the next release.

[2019-10-14 10:49] DangerMoose87 commented on #10063
Hi,

I imagine this is because you are using illegal characters in the Schedule Name:

**$vmStartupScheduleName = "Startup VMs 08:00 Daily Weekdays:
$timeZone"**

If you get rid of the : it should work. You can use hyphens and underscores in the name but not special characters like : / * % & etc

[2019-10-14 11:44] bjossi-asitis commented on #10100
Hi
Now I have tested using Set-AzWebApp (Az 2.7) and with the -AppSettings parameter and it works fine.
/Björn

[2019-10-14 12:36] DennisMunns commented on #10255
@sambitratha the issue was the share name in the -Name parameter, thanks.

Is it also possiable to update the help info to make this clearer?

[2019-10-14 13:37] sambitratha commented on #10255
@DennisMunns Sure. Could you please mention the changes that you made in the -Name parameter. Thanks

[2019-10-14 14:36] DennisMunns commented on #10255
@sambitratha as you suggested, I was passing an incorrect value to the parameter. Giving the -Name parameter the AzureFiles share name fixed the issue.

If the help info on the parameter explained that the value should be the name of the share, I think that would clear things up a bit.

[2019-10-14 16:00] Linaa opened #10283 "https://github.com/microsoft/azure-pipelines-tasks/issues/11434"
"AzurePowerShell@4 module Az.Blueprint in consistent behaviour" submitted the issue regarding Az.Blueprint module behaviour in Az.DevOps task. They recommeneded me to contact this forum.

[2019-10-14 16:17] jopels opened #10284 "Set-AzResource fails for resources with white spaces"
## Description
Set-AzResource fails if the resource contains white spaces

## Steps to reproduce
Create a resource with spaces like 'Test Resource'
Apply a tag to the resource
[code]

## Environment data

[code]

## Module versions

[code]

## Debug output

[code]

[2019-10-14 16:53] anavinahar commented on #9001
You cannot reference a classic object from ARM.

Are you asking for a way to reserve an ARM IP?

[2019-10-14 17:55] KarenHammons commented on #8877
@KyMidd are you still experiencing this issue?  We believe the fix went into effect after late June.  Can you please update if it's still reproducing?

[2019-10-14 17:55] #8877 closed

[2019-10-14 17:57] jessicl-ms commented on #10104
@erich-wang This is a bug on Front Door behavior. Front Door should support the ability to update Tags to a particular Front Door.

[2019-10-14 19:34] zjalexander commented on #5313
reopening and adding the service labels for Automation.

The workaround is to use the [internal Automation module Start-AutomationRunbook](https://docs.microsoft.com/azure/automation/shared-resources/modules#internal-cmdlets) instead of the external Start-AzureRmAutomation module.

Create a new runbook named Start-PythonRunbook.
[code]

2. Start this runbook using the Start-AzureRmAutomationRunboo

[2019-10-14 19:35] Damag3d opened #10285 "Enable "secrets do not leave Azure keyvaults" policy and functionality across the board"
One of the biggest challenges for deployment task is secret protection, especially with passwords. Currently setting AAD app reg secret looks like this

`New-AzADAppCredential -ApplicationId "$applicationID" -Password $graphclientsecret.SecretValue -EndDate (Get-Date).AddYears(2)
`
This mean that secret retrieved from Azure to admin workstation and then sent back to Azure. This situation should on

[2019-10-14 19:44] KyMidd commented on #8877
@KarenHammons: We haven't tested again, and likely won't - the workaround is working perfectly. Thanks for getting the root cause resolved!
kyler

[2019-10-14 21:44] omerzubair commented on #10160
Hi @number213, @dedhar & @vinatara,

I needed an alternative in order to secure my resources with MS ranges therefore i called the following API in powershell.

https://docs.microsoft.com/en-us/rest/api/expressroute/BgpServiceCommunities/List

and that is also flaky and spits out the following error 8/10 times.

Invoke-RestMethod : {"Error":{"Details":[{"Code":"**GatewayError**","Message":"Error o

[2019-10-14 21:45] omerzubair commented on #10160
This is the code i used:

$TenantId = "" # Enter Tenant Id.
$ClientId = "" # Enter Client Id.
$ClientSecret = ""  # Enter Client Secret.
$Resource = "https://management.core.windows.net/"
$SubscriptionId = "" # Enter Subscription Id.

$RequestAccessTokenUri = "https://login.microsoftonline.com/$TenantId/oauth2/token"

$body = "grant_type=client_credentials&client_id=$ClientId&client_secret=$Client

[2019-10-14 22:16] #10104 closed

[2019-10-14 22:25] Drewm3 commented on #10253
@hyonholee, could you look into this to see if this issue is due to the crypto package that the Add-AzVhd cmdlet is using directly or if this is an issue with a library that is being used by the Add-AzVhd cmdlet. In either case we should see if there is an alternate crypto algorithm that can be used that is FIPS compliant.

[2019-10-15 02:42] msJinLei commented on #10284
@jopels Thank you for reporting the issue. We will investigate it and let you know if any update.

[2019-10-15 02:47] msJinLei commented on #10285
@Damag3d  Thanks for  the proposal. I will investigate it and let you know if any update.

[2019-10-15 04:41] juniwang commented on #9636
The SignalR CmdLets (>=2.7.0) now supports `Update-SignalR`.  You can scale SignalR using it. Thanks. I'm closing this issue.

[2019-10-15 04:41] #9636 closed

[2019-10-15 04:51] aim-for-better commented on #10280
Hi, you have mentioned that there is a pr to fix this. The Pr IS #10277

[2019-10-15 04:51] #10280 closed

[2019-10-15 06:31] markcowl opened #10287 "Deprecate `Resolve-Error` alias from Resolve-AzError cmdlet"
## Description
Add a breaking change warning for the `Resolve-Error` alias.  We should remove this alias in the next (SPring) breaking change release.

## Cost : 0

[2019-10-15 07:00] msJinLei commented on #8963
@Strandfelt I am not sure whether your problem has already been solved. A workaround for the issue is just to delete "C:\Users\xxx\.Azure\AzureRmContextSettings.json".

[2019-10-15 07:28] wyunchi-ms opened #10290 "Script to list the breaking change for this release"
## Description

Script to list the breaking change for this release

## Cost
4

[2019-10-15 08:02] VeryEarly opened #10292 "Az.Accounts cmdlets throw NullReferenceException"
## Description
Below cmdlets throw NullReferenceException when disconnected from azure
get-AzDefault
get-AzTenant
set-AzDefault

There could be more across other modules.

## Steps to reproduce

[code]
after disconnect from azure acount, Null Reference Exception will be thrown when running following cmdlets.

[code]
[code]

[code]
[code]

[code]
[code]

## Module versions

[code]

[2019-10-15 08:21] msJinLei commented on #10270
@interfacemirror could you also provide the parameters you use for New-AzADServicePrincipal? Replace confidential information with something else.

[2019-10-15 09:35] kilasuit commented on #6550
Glad to see this getting some traction in as per the RFC's added in #10045

[2019-10-15 09:43] msJinLei opened #10296 "Changelog & version controlling tool optimization"
## Description
We encounter several cases in the release that version controlling tool fails to update the module versions correctly according to change log.

1.change log merging issue.
The changes of the change log between release branch creation and release branch merging back are not correctly merged to above the latest version of its change log if the same change log is also updated in the re

[2019-10-15 10:01] Stricnis commented on #9728
Hi, getting the same error after the installation of Az module. I can understand that C# hosting is not supported but how to rollback to previous state - I mean before Az installation? My app is broken now, I've uninstalled Az, un- and re-installed several times AzureRM (and verify that none of the Azure modules Az or AzureRM were listed with Get-InstalledModules) but I still get the same error wh

[2019-10-15 12:26] pbahiasav commented on #9074
@markcowl I assume as there has been no update this still the case with the current build

[2019-10-15 15:39] rileymckenna opened #10297 "AzPeeringLocation"
## Description
Get-AzPeeringLocation -DirectPeeringType Cdn  is required field even if the -Kind is Exchange.

## Steps to reproduce

[code]

## Environment data

[code]

## Module versions

[code]

## Debug output

[code]

## Error output

[code]

[2019-10-15 15:41] rileymckenna commented on #10297
PR to address the issue https://github.com/Azure/azure-powershell/pull/10257

[2019-10-15 17:36] paulmrozowski opened #10298 "File corruption issue when downloading very large blobs"
## Description
We are using Get-AzStorageBlobContent in a Powershell script. It seemed to work consistently well for a while but now that one of the blobs we download is over approx 95GB we are seeing that the file downloaded is corrupt - it appears that around #16 3300 000 (hex) suddenly the file is just filled with 00 values. We don't see any errors in $DownloadError after it completes. As far a

[2019-10-15 17:51] shenglol commented on #10199
That makes sense. Thanks for the explanation @cormacpayne!

[2019-10-15 18:22] rbryn opened #10299 "Get-azNetworkInterface fails 'networkInterfaces' could not be found in the namespace"
## Description

Starting with Az v2.7.0 (and appearing in the current 2.8.0) when you run the command "Get-azNetworkInterfaces" you will get the error;
[code]

## Steps to reproduce
To reproduce, install Az using "Install-Module -Name Az -AllowClobber -Force" on a machine that has never had AZ installed (or upgrade an existing machine).

run the command "get-aznetworkinterface"

## Environment dat

[2019-10-15 18:33] zwswim commented on #8877
good deal

[2019-10-15 19:07] DanteNahuel opened #10300 "Get-AzTag doesn't bring all existing Tags"
## Description

When I use Get-AzTag I get a list of 320 Tags but some Tags are not shown in this list.
If I go to the Portal and go to Tags, I can search those non-showing Tag Names and see all the Resources with them, but if I try to search them specifying their names, I get an Not Found error.

[code]

## Environment data

[code]

[2019-10-15 19:33] DanteNahuel commented on #10300
If I use the cmdlet

`(Get-azresource -id $resourceID).tags`

I get the Tags that are not being shown by get-aztag

[2019-10-15 21:22] interfacemirror commented on #10270
@msJinLei

I used variation of this command, with or without parameters. However below is the script I am working on:

[code]

[2019-10-15 21:50] jono989 opened #10301 "New-AzEventHubAuthorizationRuleSASToken produces tokens with invalid date format"
## Description
When generating a Event Hub SAS token the expiry time field (se=) within the token has an invalid date format of MM/DD/YYYY HH:mm:ss instead of the number of second since unix epoch (as described https://docs.microsoft.com/en-us/azure/service-bus-messaging/service-bus-sas#configuration-for-shared-access-signature-authentication).

## Steps to reproduce

[code]

## Environment data

[2019-10-15 22:10] omerzubair commented on #10160
Just realised that the **https://management.core.windows.net** will be deprecated in 2.5 months as well.
https://azure.microsoft.com/en-gb/updates/azure-automation-service-management-rest-apis-are-being-retired-april-30-2019/

[2019-10-15 22:41] #1803 closed

[2019-10-15 22:43] andyw248 commented on #1803
The behavior in the portal is similar - pick a file and the config name is generated from that.

[2019-10-15 22:49] pcgeek86 commented on #1803
This bug was filed because the behavior differs from the portal, and is asking for consistency. Notice how everyone is experiencing the same problem in the comments.

[2019-10-15 22:52] GaneshMSAzure commented on #2085
Please use the Azure Storage cmdlets to upload a local module zip to Azure Blob Storage, and then pass the URI to that module in Azure Blob Storage via New-AzureRmAutomationModule. Portal behaves similarly.

[2019-10-15 22:52] #2085 closed

[2019-10-15 22:56] GaneshMSAzure commented on #2195
Doc is fixed.
https://docs.microsoft.com/en-us/powershell/module/azurerm.automation/import-azurermautomationdscconfiguration?view=azurermps-6.13.0

[2019-10-15 22:56] #2195 closed

[2019-10-15 22:57] GaneshMSAzure commented on #2197
Won't fix

[2019-10-15 22:57] #2197 closed

[2019-10-15 23:07] GaneshMSAzure commented on #2750
Won't fix

[2019-10-15 23:07] #2750 closed

[2019-10-15 23:12] GoEddie commented on #1803
This is disappointing, the fix is to delete an unnecessary restriction.

[2019-10-15 23:17] GaneshMSAzure commented on #3773
By design

[2019-10-15 23:17] #3773 closed

[2019-10-15 23:17] ameyaagashe commented on #10235
@Drewm3 Any update on this? Is there any automated way to have Extension installed on existing ARM machines?. I have created Azure Policy which will work for new resources but not for old VM's (Pre-Existing ARM VMs)

[2019-10-15 23:23] andyw248 commented on #4684
Looks like this was fixed.

[2019-10-15 23:23] #4684 closed

[2019-10-15 23:30] GaneshMSAzure commented on #5217
Won't fix

[2019-10-15 23:30] #5217 closed

[2019-10-15 23:32] GaneshMSAzure commented on #6009
Won't fix

[2019-10-15 23:32] #6009 closed

[2019-10-15 23:50] andyw248 commented on #6725
Any user will have to have an access policy configured in key vault with the correct set of permissions. No repro when access policy is configured properly.

[2019-10-15 23:50] #6725 closed

[2019-10-16 00:17] JustinGrote commented on #2085
OK, that's only like 50 lines of code and a barrage of permission sorting. Maybe a more helpful function (or even at bare minimum, an example) could have been created before summarily closing this high demand issue @ganeshmsazure?

[2019-10-16 00:45] Bpoe commented on #2353
This is a very old verion of the cmdlets that was created before we had support for Weekly schedules, so this is expected. Please upgrade to a newer version of the cmdlets.

[2019-10-16 00:45] #2353 closed

[2019-10-16 01:06] isra-fel commented on #10259
About choosing MSAL version, we need to make sure:

- it's >= what VS team is using
    - To confirm details with MSAL team
- it supports with ADFS

[2019-10-16 01:18] isra-fel opened #10302 "Device code flow on ADFS"
## Description

[MSAL 4.5.0](https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/releases/tag/4.5.0) now supports device code flow on ADFS. We need to utilize that.

This is for post-ignite.

- [x] Update MSAL

## How to verify

- [ ] Verify device code flow in an Azure stack instance

## Cost

4

[2019-10-16 02:58] #10076 closed

[2019-10-16 03:23] markcowl opened #10304 "Investigate linux pipeline failure"
## Description

The linux portion of the azure-powershell-core pipeline was turned off last release due to instability in the linux workers.  Need to investigate the issue, and determine whether we need to update linux configuration, fiel an issue with TFS, or make other fixes to the p[ipeline

## Cost: 4

[2019-10-16 08:18] blueww opened #10305 "[Storage] Get-AzStorageFileHandle on a File with “DeletePending” status will fail"
## Description
Get-AzStorageFileHandle on a File with “DeletePending” status will fail  on a File with “DeletePending” status.

A file is put in delete-pending state if some app is using it (has a handle acquired) while another has called delete on it. In this case the delete will succeed (assuming the file has been acquired with share_delete option), but the file will not be actually deleted unti

[2019-10-16 08:19] blueww commented on #10305
Adam suggest we just use CloudFileDirectory object to send close File handle request for both File and FileDir.
This is not a common way to XSCL usage, we need XSCL owner  to give suggestion if this is a proper uage and is there any potential issue.

- If no potential issue, we can apply this into PSH code.
- Else, we need a way to close file handle  in XSCL with just File object path, but no obje

[2019-10-16 08:57] wyunchi-ms commented on #10299
FYI. I found `Get-AzNetworkInterface` works find when `Absolute Uri` is under `management.azure.com`.

[2019-10-16 09:11] wyunchi-ms commented on #10300
Hi @DanteNahuel
Can you offer us more debug info to help us find the reason?
1. You can find the module installed on your computer:
[code]
1. You can find the debug info by run the cmdlet with `-Debug`:
[code]

[2019-10-16 09:51] blueww commented on #10298
@paulmrozowski

Which version of AzCopy do you use?
Does this consistently repro?
(It seems the download is not finished and fail/stop in the middle.)

Would you please run it with following command and see if any error happens , if the file still not download correctly?
`Get-AzStorageBlobContent -Container $StorageContainerName -Blob $FileToDownload.FileName -Destination $DownloadPath -Context $S

[2019-10-16 10:00] MickaelMRA commented on #2617
Hello, for me I needed to add this option -IgnoreCustomHostNames at the end of New-AzureRmWebAppSlot command. The long run operation error failed with the 'InternalServerError' status was not explicit enough.
I hope that will help you too. I lost several hours :)

[2019-10-16 11:20] neilp-snow commented on #9566
@christianwade Surely that's no different in behavior to the "allow access from azure services" that Microsoft recommends using for granting AAS access to SQL Azure?

It's a bit of a pain point setting up access from AzureDevOps that we could add firewall rules using powershell for our build agent, but cannot remove them at the end of the deployment.

[2019-10-16 12:27] bytejunkie opened #10309 "Could not load file or assembly 'Microsoft.Extensions.Caching.Abstractions when using Universal Dashboard and Az module"
## Description
When using the Az module along with the Universal Dashboard Module, i see a clash between some of the underlying .net components that I can't find a workaround for.

depending on whether you import az or universal dashboard first, you get slightly differing results, but the outcome is the same. you cant use the commands in the universal dashboard module.

ive included an example scr

[2019-10-16 12:32] DanteNahuel commented on #10300
Hi @wyunchi-ms
This issue is not restricted to my Laptop. I get the same result if I try it in the Portal CLI.
So I'm guessing the Modules are not relevant.
I might add that the same issue doesn't happen in another subscription of the same tenant.
I believed the issue could be related to the amount of Tags in the subscription where this doesn't work (320)
But the issue persists even after I delete

[2019-10-16 16:48] eosho opened #10311 "Get-AzADUser and Get-AzADGroup slow"
## Description
Running the Get-AzADUser or Group is very slow. Take over 30 minutes to return any data.

## Steps to reproduce

[code]

## Environment data

[code]

## Module versions

[code]

## Debug output

[code]

## Error output

[code]

[2019-10-16 18:25] paulmrozowski commented on #10298
AzCopy works fine (v10.2.1), but the script uses Get-AzStorageBlobContent and that's where the problem is. Yes, this now consistently fails after running successfully for a few months.

We know the download is corrupt (and NEVER successfully downloads anymore) because I've tried this manually - the script does an MD5 verification against the file. I also manually downloaded the file via Get-AzStor

[2019-10-16 19:08] jfggdl commented on #10301
@jono989, thank you for reporting this. We are the Event Hubs team and shortly we will work in reproducing this problem. I can tell you that I just saw a SAS token that indeed had as a expiration time the seconds since epoch as described in the documentation you provided. I do not know if that token was generated with PS, though. We will validate if there is a problem with the the PS cmdlet, we wi

[2019-10-16 19:38] migrande commented on #7259
@drewm3 and @Tiano2017 - any updates?

[2019-10-16 20:49] hytao commented on #7413
This file was created by the old cdn team and they are no longer maintaining the Powershell anymore . I'll take a look at the issue and see if I can fix it.

[2019-10-16 21:33] buchs opened #10316 "Give Invoke-AzResourceAction powershell cmdlet a synchronous mode"
## Description of the new feature

Invoke-AzResourceAction, Powershell cmdlet, https://docs.microsoft.com/en-us/powershell/module/az.resources/invoke-azresourceaction?view=azps-2.8.0, currently runs asynchronously. It returns immediately but it is still working on the operation. The user must poll for a resource to be created and then check the provisioningstatus of that resource. The Azure CLI ru

[2019-10-17 01:52] Drewm3 commented on #7259
@Tiano2017, I believe this is best looked at from the ARM perspective first. Let me know if additional debugging from the compute side is needed.

[2019-10-17 02:01] Drewm3 commented on #10282
@cadumi, I see that there is a separate issue opened on the documentation. So let's use this issue for your feature request. On the feature request side are you asking for the REST API to be changed, or just the PowerShell cmdlet? Could you provide a bit more clarity on the feature request that you are suggesting because it wasn't completely clear to me on the suggestion above.

[2019-10-17 02:08] aim-for-better commented on #10067
There is a PR to solve this issue and ther PR has been merged. #10277

[2019-10-17 02:09] aim-for-better commented on #10067
The powershell will the latest changes will be published at 11.04.

[2019-10-17 02:09] #10067 closed

[2019-10-17 03:42] blueww commented on #9946
@neilp-snow

What's the exact issue you have meet?
Would you please open a new issue, and follow the issue teamplate to share the necessary information, please also include:  the command which the create context works, and which the created context not work. And the detail error?

Please make sure you use same StorageAccountName  in New-AzStorageAccount, and login with same Azure account (login wi

[2019-10-17 04:22] dcaro commented on #10246
@fowl2 Thanks for reporting this feature request, we are investigating internally and report here.

[2019-10-17 04:50] dolauli commented on #10226
Proved to be an issue caused by autorest core upgrade with a break change. After the ADO job is updated, the issue should be resolved.

[2019-10-17 04:51] dolauli commented on #10226
@dcaro Please verify the fix after we create new Az 4 preview release.

[2019-10-17 07:33] cadumi commented on #10282
Hi Drew,

I would like to ask for a better understandable output of the existing cmdlet or a new cmdlet which differentiates between availability on location and availability on location with zones.

https://github.com/MicrosoftDocs/azure-docs/issues/40481#event-2706813723

  Thanks
Carmina

From: Drew McDaniel <notifications@github.com>
Sent: Thursday, October 17, 2019 4:05 AM
To: Azure/azure-pow

[2019-10-17 09:05] blueww commented on #10298
@paulmrozowski
I have tested Get-AzStorageBlobContent with Az.Storage module 1.8.0 on my machine, and not see this issue repro.
After the download fail with "The client could not finish the operation within specified timeout.", it will put the error to $DownloadError, and per your code, it should retry.

And I don't see you add "-Force" parameter to "Get-AzStorageBlobContent". If so, retry will ge

[2019-10-17 10:55] brannmar commented on #10235
@Drewm3 I think this also applies to Set-AzServiceAntimalwareExtension. This cmdlet seams to be missing aswell.

[2019-10-17 12:25] paulmrozowski commented on #10298
This is the full method. We delete the file in the real code before the retry.

[code]

[2019-10-17 13:38] chaami commented on #7558
Hi,
Publish-AzureWebsiteProject is down again as of writing...
Is it a temporary glitch or is the final unplugging ?
Also, the Az blob storage commands do not see the classic blob storage, is there a documented solution on how to access the two kind of resources simultaneously given that the Az module and the legacy Azure Module cannot be installed in the same machine ?
Thanks in advance and kind

[2019-10-17 13:47] panchagnula commented on #7558
@chaami regarding the storage commands please file a new issue since we don't own that command so can't speak for it.

Regarding, Publish-AzureWebsiteProject not aware of any new changes we made here @ruslany can confirm if we did some final unplugging here.

[2019-10-17 14:22] chaami commented on #7558
Thanks a lot @panchagnula for your quick response.
Right now all my Publish-AzureWebSiteProject calls are failing with a website was not found error.
I can see the website just fine in the Azure portal and nothing has changed in the deployment script...
Kind regards.

[2019-10-17 19:10] apraovjr commented on #10301
@jfggdl @jono989 There will be PR coming soon for this bug. Will update accordingly

[2019-10-17 23:22] ruslany commented on #7558
@chaami - This is a final unplugging. We are making changes to our infrastructure by regionalizing the Microsoft.Web RP API endpoint so that each region has its own endpoint serving just that region. There are many benefits that this new model provides and we are in the final stage of completing this work. The old APIs that were used by the old powershell cmdlets were not regionalized and that's w

[2019-10-17 23:25] lsmith130 commented on #8930
I'm currently working on implementing PowerShell support for enabling HTTPS using certificates from KeyVault, and I should have it ready by the end of the month.

[2019-10-17 23:42] lsmith130 commented on #9957
@vinhent Thanks for opening an issue. I've been able to reproduce the error, and I should have it fixed by the end of the month.

[2019-10-18 00:51] dingmeng-xue commented on #10055
Close this issue due to inactive. Please create new one if this issue occurs again.

[2019-10-18 00:51] #10055 closed

[2019-10-18 01:16] Drewm3 commented on #10282
The cmdlet today is based on the backend API. To have a significantly different display we would need to create a separate cmdlet that is custom created to provide a different experience from the API and to ensure that we do not break existing customers of the Get-AzComputeResourceSku cmdlet. We will take it into consideration to build a new cmdlet, but at this time it is not on our near-term prio

[2019-10-18 01:16] #10282 closed

[2019-10-18 01:18] jasonmv commented on #2939
I'm encountering this issue when trying to deploy a template and the Key Vault is in a different subscription. If I deploy within the same description it works without issue.

[2019-10-18 03:12] chrsdrhm opened #10326 "PowerShell Core 6.2.3/7.0.0 failing to install AzureAD module on macOS 10.15"
# Steps to reproduce

Run command install-module azureadpreview or install-module azuread in Terminal after starting PowerShell

# Expected behavior

Module installs...

# Actual behavior

Module fails to install with the following error:

PackageManagement\Install-Package : Unable to load shared library 'api-ms-win-core-sysinfo-l1-1-0.dll' or one of its dependencies. In order to help diagnose loa

[2019-10-18 07:33] blueww commented on #10298
Will follow up by mail, and update the issue later.

[2019-10-18 08:56] #9928 closed

[2019-10-18 10:00] lwajswaj commented on #10192
@bganapa, thanks, I wasn't aware of that preview. However, personally, I'm not sure if it's worth it the effort for developing the module as the only benefit would be to just use the same module for AzureStack which avoids either writing two scripts (one for Public and another for Stack) **OR** use AzureRM cmdlet names (and enable aliases when running under AZ); you are still trapped on AzureStack

[2019-10-18 11:59] #6573 closed

[2019-10-18 13:11] chaami commented on #7558
@ruslany Thanks for pointing me to the Az.Resource module,
I am looking into it to try to find a deployment solution for Cloud Services.
I regret not receiving this information in April and having to rush now while the service is cut.
I don't see any information about it in the [Migrating from AzureRM documentation](https://docs.microsoft.com/en-us/powershell/azure/migrate-from-azurerm-to-az?view=

[2019-10-18 13:18] panchagnula commented on #7558
@chaami I recommend you filing a new issue on your question on CloudServices & some from the core PowerShell team or cloudShell might help you. Given this issue is closed & tagged as AppService, highly unlikely other teams will respond to this.

[2019-10-18 15:25] chaami opened #10329 "[Az.Storage] Get-AzStorageAccount can't access classic blob storage accounts."
## Description
Listing the storage accounts associated to the subscription will omit the classic instances.

## Steps to reproduce

[code]
Storage accounts of Storage account (classic) type will not show up in the returned table.

## Environment data
[code]

## Module versions

[code]

In order to generate SAS tokens, I had to access the blob storage context through the instance string with `New-A

[2019-10-18 17:13] JasonRShaver opened #10330 "Client-side telemetry is not getting correct useragent"
When querying DDAzureClients, the Properties.useragent for Az 4.x is not showing up as it does in server-side telemetry.  We are expecting something like ''AzurePowershell/Az4.0''

Please see @dcaro for more context and sample query.

[2019-10-18 17:14] JasonRShaver commented on #10330
@albaloo

[2019-10-18 21:24] yeswps commented on #8531
@AnatoliB @blueww
This issue was resolved for me when running Set-AzStorageBlobContent in automation account runbook. I still have two runbooks in the same automation account works fine.

However, the same error occurred when using Hybrid Worker. I've created Orchestrator.Sandbox.exe.config in the same folder where Orchestrator.Sandbox.exe existed, upgraded AZ powershell, rebooted Hybrid Worker VM

[2019-10-18 21:33] AnatoliB commented on #8531
@yeswps I would suggest creating a support request for the Azure Automation service. They should be able to help you with troubleshooting this.

[2019-10-18 22:50] JasonRShaver opened #10331 "Server-side telemetry is not sending up needed headers"
In general, 4.x preview commands are not sending up client request id, command names, or paramset names (and potential other values sent up by previous versions).

![image](https://user-images.githubusercontent.com/10146011/67132749-9ce75f80-f1be-11e9-9945-1600f4394e27.png)

[2019-10-18 22:50] JasonRShaver commented on #10331
@albaloo

[2019-10-18 23:46] bganapa commented on #10009
@erich-wang @markcowl
This is with az.accounts module 2.0.0-preview  against ADFS environments. This is a must fix as ADFS login with silent user credentials is broken

The following call is also being made which should not be needed for ADFS as it is single tenanted
https://login.microsoftonline.com/common/discovery/instance?api-version=1.1&authorization_endpoint=https%3A%2F%2Fadfs.local.azuresta

[2019-10-19 03:14] wyunchi-ms commented on #10329
Hi @chaami , thanks for your report.
Can you offer us more debug info to help us find the reason?
1. You can find the module installed on your computer:
[code]
1. You can find the debug info by run the cmdlet with `-Debug`:
[code]
Remember delete the info of your company.

Thanks

[2019-10-19 03:17] wyunchi-ms commented on #10326
Hi @chrsdrhm , thanks for your report. We have receive your report and will investigate this issue soon.

[2019-10-20 22:28] anarchitect commented on #5970
This issue is still happening on Azure DevOps MS Hosted Agent,

[2019-10-21 06:10] markcowl commented on #10179
@jlongo62 Can you provide details on the error you receive when running the msi?

[2019-10-21 06:12] markcowl commented on #9949
Without further details, we will have to close this as no repro.  If someone is seeing this issue, please open an issue and provided the information asked for above.

[2019-10-21 06:12] #9949 closed

[2019-10-21 06:15] #9555 closed

[2019-10-21 06:36] markcowl commented on #10183
'az login' is an azure cli command.  It is not an azure powershell command.  If you want to use Azure CLI, you will need to install it.

[2019-10-21 06:36] #10183 closed

[2019-10-21 06:37] markcowl commented on #10329
This is by design, unfortunately 'classic' storage accounts use RDFE.  You woyuld need to use the 'Azure' module to manage these in PowerShell scripts.

[2019-10-21 06:37] #10329 closed

[2019-10-21 06:55] markcowl commented on #10179
I see you filed another (issue)[]  with this information.  I suspect that if the installer worked for you, that would resolve the issue.  Is that correct?

[2019-10-21 07:14] GitMaggie opened #10336 "Complex usage on Get-AzAutomationJobOutputRecord"
## Description
To get full text of AA job output ,  we need use Get-AzAutomationJobOutputRecord .
However, in Az module, it's too complex to get the error message .
For example, per my tests, only this way works when my job has multiple error outputs :
`((Get-AzAutomationJobOutput -Id $jobid  -AutomationAccountName $AAname -ResourceGroupName $groupname -Stream Error| Get-AzAutomationJobOutputRecor

[2019-10-21 08:47] chaami commented on #10329
@markcowl  Thanks for the precision.
Given that the Azure module and Az module cannot be installed on the same host, this is quite a burden...
Does that mean that to handle Cloud Services, I need to keep an Azure module around as well ?
I don't see anything in the new API about them...

[2019-10-21 10:24] LukeDearden commented on #2617
I've always used this switch but still had the InternalServer Errors.

I'll try using the new Az module instead....

[2019-10-21 14:11] chaami opened #10340 "Document how to deploy a Cloud Service with the new API."
Hi,
I am trying to deploy a Cloud Service with the new API and I can't figure how to do it.
`Get-AzDeployment` doesn't return anything when applied in context where Azure Cloud Services are running.
In contrast the `Get-AzureDeployment` Azure equivalent returns the current running deployment.
Given that the older Azure PowerShell module is now incapable of deploying websites (check this #7558 [com

[2019-10-21 15:33] #10290 closed

[2019-10-21 15:38] viz-morrell commented on #8531
This did end up solving my problem, but I tried using the snippet provided as-is and received xml syntax errors. The service started fine, but I the worker was not picking up any jobs. That's when I found the following error in the event viewer application logs.

` Activation context generation failed for "C:\Program Files\Microsoft Monitoring Agent\Agent\AzureAutomation\7.3.396.0\HybridAgent\Orch

[2019-10-21 15:48] filizt commented on #10185
This issue should be fixed now.

[2019-10-21 15:53] DanteNahuel commented on #10300
Any update on this?

[2019-10-21 16:01] filizt commented on #10184
We have made the changes to fix the use of UAMI in the blueprint assignment operation.  A new version(0.2.6) of Az.Blueprint module is available at the PowerShell gallery. The new behavior is that given an assignment file, the `New-BlueprintAssignment cmdlet` uses the identity information in the file and doesn't expect it inline through '-UserAssignedIdentity` parameter.

[2019-10-21 16:10] #10184 closed

[2019-10-21 16:24] chaami commented on #10329
In case someone else is suffering from this, the storage accounts are showing up when using `Get-AzResource` (but not the cloud services though which is a completely different topic 😅  )

[2019-10-21 22:23] yeswps commented on #8531
@viz-morrell

I've tried your suggestion to remove the first line: <?xml version="1.0" encoding="utf-8"?>
It didn't help my situation, but my hybrid worker was able to execute all other commands except for Set-AzStorageBlobContent, even before remove the first line.

I will try to open a ticket and post the finding here.

[2019-10-22 03:45] dingmeng-xue commented on #10304
Issue is resolved after upgrading Linux to Ubuntu 18.04 #10321

[2019-10-22 03:45] #10304 closed

[2019-10-22 04:56] huajunzhao opened #10346 "System.NullReferenceException: Object reference not set to an instance of an object when creating the service principal"
## Description

Similar issue to https://github.com/Azure/azure-powershell/issues/7707

PS C:\WINDOWS\system32> New-AzADServicePrincipal -ApplicationId e2dc4c27-c0d4-4eb2-a763-23563d12f00c
DEBUG: 12:45:00 PM - NewAzureADServicePrincipalCommand begin processing with ParameterSet 'SimpleParameterSet'.
DEBUG: 12:45:00 PM - using account id 'kezha@microsoft.com'...
DEBUG: Caught exception, type: Syste

[2019-10-22 05:05] Drewm3 commented on #9366
@hyonholee, could you confirm the 10-15 payload is the correct release?

[2019-10-22 05:07] Drewm3 commented on #9115
@hyonholee, could you confirm this has been fixed in the current release?

[2019-10-22 08:11] isra-fel commented on #10259
Tried to login with service principle (cert), failed with
`Internal.Cryptography.CryptoThrowHelper.WindowsCryptographicException: 'Keyset does not exist'`

Tried on Windows powershell, said couldn't find MSAL lib. Looks like msal.extensions is requiring v4.2 of msal but we are using 4.3.

Updated file permissions as [this article](https://www.chilkatsoft.com/pki-help/KeysetNotExist.html) suggested

[2019-10-22 14:29] o-l-a-v opened #10347 "Set-AzNetworkSecurityRuleConfig - Cannot specify protocol "ICMP""
## Description
Can't specify ICMP for cmdlets creating NSGs. Like "Set-AzNetworkSecurityRuleConfig".
ICMP has been available for months, about time the Az module catches up.

## Steps to reproduce
```Set-AzNetworkSecurityRuleConfig``` with ```-Protocol 'ICMP'``` fails.

[code]

## Environment data

[code]

## Module versions

[code]

## Debug output

[code]

## Error output

[code]

[2019-10-22 16:21] dansos opened #10349 "Azure Session Context getting incorrectly applied to multiple instances of Foreach-Object -Parallel"
Hello, I am currently working on some Azure scripts where I need to perform a series of operations on each of the subscriptions under our tenant. I encountered a large problem when using Foreach-Object -Parallel. After some debugging I came up with this short script as a means of reproducing the issue.

`$subscriptiondata = Get-AzSubscription`
`$subscriptiondata | Foreach-Object -parallel {`
`

[2019-10-22 16:36] grankko commented on #6461
Same issue here, exact same scenario as @dannythomas13.

[2019-10-23 00:34] stevenjudd opened #10353 "Set-AzVMBootDiagnostic -Disable switch parameter does not disable boot diagnostics"
## Description
Running the Set-AzVMBootDiagnostic cmdlet with the -Disable parameter does not actually disable the boot diagnostics. The object that comes back shows the DiagnosticsProfile.BootDiagnostics.Enabled value as False yet checking the VM object shows it to be True

## Steps to reproduce

[code]

## Environment data

[code]

## Module versions

[code]

## Debug output

[code]

## Error ou

[2019-10-23 09:29] SumanthMarigowda-MSFT opened #10359 "Update: Migrate Azure PowerShell from Azure to Az"
Need to update the PowerShell Module. --> Azure to Az  Az module on your platform
https://docs.microsoft.com/en-us/powershell/azure/servicemanagement/install-azure-ps?view=azuresmps-4.0.0

https://docs.microsoft.com/en-us/powershell/azure/install-az-ps?view=azps-2.8.0

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7aa6

[2019-10-23 10:30] dingmeng-xue commented on #10071
close it as duplicate with #10249

[2019-10-23 10:30] #10071 closed

[2019-10-23 11:29] AnthonyDewhirst commented on #4671
How is this closed? This doesn't say if it was an issue or what was resolved. Just run in the background and that will solve everything. I am trying to run several deployments from within one ps script. Running locally, no issues, running in vsts same issue as described above. I am yet to implement as a job, but I will, but then I will have to loop until the job finishes, which doesn't feel like I

[2019-10-23 15:43] wyunchi-ms commented on #10347
Hi @o-l-a-v thanks for your contribution.
Could you please offer us more info? You can use the command:
[code]

[2019-10-23 15:55] wyunchi-ms commented on #10359
Hi @SumanthMarigowda-MSFT , thanks for your contribution! Could you please offer us more debug and error info to help us find the point of the problem?

[2019-10-23 15:58] peterboba commented on #10034
Any update? Broken on 2.8.0 too.

[2019-10-23 16:41] DanteNahuel opened #10364 "get/set resource Tags not working as expected"
## Description
According to the [documentation](https://docs.microsoft.com/en-us/azure/azure-resource-manager/tag-support), Restorepointcollections and VM Extensions accept Tags.
However, their behavior using `(get-azresource).tags` and `set-azresource -tag $tags` makes no sense.
When using
`(get-azresource -resourceid $resourceid).tags `
for one of these resources, the result is $null
However, if

[2019-10-23 16:59] DanteNahuel opened #10365 "Hidden/Not Hidden flag for get-azresource"
## Description of the new feature
Currently, Get-AzResource brings all the existing resources in the targeted Azure Subscription.
However, when creating reports, this can be detrimental because of the many types of resources that can't be tagged, or are not managed at all by us or even can't be deleted.
Without this filter, the return gives us another layer of complexity when trying to make more a

[2019-10-23 17:10] kilasuit commented on #10359
I don't think this needs any change as the doc points to the older Azure Service Manager PowerShell module not the AzureRM module that was recently replaced with Az Module

[2019-10-23 18:53] jeffzabel commented on #809
No recurrences of this issue since documentation was updated.  Closing

[2019-10-23 18:53] #809 closed

[2019-10-23 19:14] jeffzabel commented on #5207
This is working as designed.  Closing

[2019-10-23 19:14] #5207 closed

[2019-10-23 19:15] o-l-a-v commented on #10347
Then I'll have to fire up some demo resources in Azure, which should not be necessary IMHO.

Just look at your own documentation:
https://docs.microsoft.com/en-us/powershell/module/az.network/set-aznetworksecurityruleconfig?view=azps-2.8.0#parameters
![image](https://user-images.githubusercontent.com/6450056/67426188-db738480-f5d9-11e9-8642-b00543cbe0ec.png)

Or "Get-Help -Name 'Set-AzNetworkSecur

[2019-10-23 22:35] shinsey-st commented on #9987
Is there a reasonable, portable workaround for this until official support lands? It looks like this is baked in at a pretty low level in the SDK API so going that route doesn't seem like a quick fix.

[2019-10-24 01:33] Drewm3 commented on #10353
The cmdlet Set-AzVMBootDiagnostic is just changing the configuration of the client side object for the VM. To get that version of the VM to be applied to the VM in Azure you need to execute:
Update-AzVM -VM $vmobject -ResourceGroupName $vmobject.ResourceGroupName

Let me know if this resolves the issue.

[2019-10-24 04:02] #9737 closed

[2019-10-24 04:02] #10072 closed

[2019-10-24 05:36] erich-wang commented on #9991
@AnmolDhillon , we close the issue since we don't hear from you long time. Please create a new issue if necessary, thanks.

[2019-10-24 05:36] #9991 closed

[2019-10-24 05:38] erich-wang commented on #10011
@ilyalukinykh , we close this issue since we don't hear from you long time. Please file another issue if necessary, thanks.

[2019-10-24 05:38] #10011 closed

[2019-10-24 05:38] #10100 closed

[2019-10-24 05:39] erich-wang commented on #10105
@jzkornbluh , we close the issue since we don't hear from you long time, please file another issue if necessary, thanks.

[2019-10-24 05:39] #10105 closed

[2019-10-24 08:04] wyunchi-ms commented on #10364
Hi @DanteNahuel , thanks for your report. We will fix this soon.

[2019-10-24 08:05] wyunchi-ms commented on #10364
The response is
[code]

[2019-10-24 13:13] DanteNahuel commented on #10364
Hi @wyunchi-ms . Thanks for the reply.
It seems the issue was latency between the APIs. The Set Resource was working, but the Get-AzResource didn't bring the last info. After 12 hours it seems to getting the correct info.
I'll recheck to be sure and I'll close this after I confirm this was the problem

[2019-10-24 14:37] flixman opened #10383 "Get-AzConsumptionUsageDetail does not provide full cost of the resource"
## Description
Running "Get-AzConsumptionUsageDetail  -StartDate <> -EndDate <> -InstanceId <>", with InstanceId set to the "Microsoft.Compute/virtualMachines" provider of the VM, produces a cost list that is not accurate. I have a B1ms, only OS Disk (30 GB premium SSD) that has been shut down for ages. The Pre-tax cost being reported for last weeks usage is 0, so it seems not be taking into accou

[2019-10-24 19:11] surajmb commented on #7897
@adrinr, "Use for App Service" is only a UI element and when you enable it, it essentially asks the user to choose the custom probe and enables the "pick hostname from backend address" switch by default.

In PowerShell, to get the same result as Use for App Service, you can use the switches directly. Check the command below for example,

Set-AzApplicationGatewayBackendHttpSetting -ApplicationGatew

[2019-10-24 19:13] #7897 closed

[2019-10-25 00:04] dingmeng-xue commented on #10346
@VeryEarly is working on that. Please provide update if any.

[2019-10-25 00:27] paulomarquesc commented on #9402
Hi @markcowl and @cormacpayne, not sure if this fix was already released but the requirement to enable .Net Framework 3.5 on a Windows 2016 server is still happening.

The workaraound I found is to run before installing the MSI:

DISM /Online /NoRestart /Enable-Feature /FeatureName:NetFx3ServerFeatures
DISM /Online /NoRestart /Enable-Feature /FeatureName:NetFx3

[2019-10-25 02:26] SergeiDavydov opened #10391 "Set-AzStorageContainerAcl returns HTTP Status Code: 404 The specified resource does not exist"
## Description

When I try to set a specific public access level to the blob container with Set-AzStorageContainerAcl cmdlet it erroring out with an error:
[code]

The problem appears when OAuth is used. If the storage account context was created by authorization with the secret the Set-AzStorageContainerAcl does work normally.

Additionally, I noticed that Get-AzStorageContainer -Context $ctx ret

[2019-10-25 03:04] blueww commented on #10391
@SergeiDavydov
You can find all operations supported by Oauth in following doc, and you can see Get/Det Container ACL is not in the list, so it's not supported by Oauth. So the failure is by design.
Also in get Container, since can't get ACL with oauth, so the returns PublicAccess property will be empty.

https://docs.microsoft.com/en-us/azure/role-based-access-control/resource-provider-operations

[2019-10-25 06:14] flixman commented on #10383
@dingmeng-xue This is the first time I report a bug in this project, and I have a couple of questions: a) What "more info" is required? b) why am I assigned to the issue, if I am the one requesting help (so, I have no idea on how to fix it x_D)?

[2019-10-25 08:17] wyunchi-ms commented on #10287
Done with the PR https://github.com/Azure/azure-powershell/pull/10289

[2019-10-25 08:17] #10287 closed

[2019-10-25 08:24] dirkslab commented on #9987
Thanks for the feedback.
Workaround for automation (currently) is to make do with swagger 2.
You can convert yaml to json or swagger from 2 to 3 (personally avoiding this option).
Assume this will get fixed in the future as being stuck on v2 indefinitely does not seem practical.
As long as the current setup was due to degree of difficulty and not logic.

[2019-10-25 08:33] #10137 closed

[2019-10-25 08:40] shinsey-st commented on #9987
Thanks, I wanted to make sure I wasn't missing something.

In case someone else happens down the same weird path that led me here, I
ended up going with the YAML document. Swagger 2 JSON didn't work for my
situation, which is the implementation of a "diff" to compare two specs.
The OpenAPI 3 JSON document has more type fidelity and resulted in spurious
diff detections, for example, a Guid is a str

[2019-10-25 09:28] #10221 closed

[2019-10-25 09:34] flixman commented on #10383
Done.

[2019-10-25 12:22] blueww commented on #10305
The PR are already merged. Just wait for release.

[2019-10-25 12:22] #10305 closed

[2019-10-25 12:27] dingmeng-xue commented on #10009
We still need more time to investigate on this issue. Will keep you updated.

[2019-10-25 13:40] Djongov opened #10397 "New-AzWebApp cloning error"
I have a web app in West Europe called gladiatus that i want to clone to Central US using the https://docs.microsoft.com/en-us/azure/app-service/app-service-web-app-cloning doc. The app is running in S1 app service plan. The resouce group is called "Web-App-RG".
Following the article i am defining my src app.
$srcapp = Get-AzWebApp -ResourceGroupName Web-App-RG -Name gladiatus
Checking what $srcap

[2019-10-25 15:13] #10364 closed

[2019-10-25 22:32] Tiano2017 commented on #6623
This is a valid ask. We'll create a work item to fix these.

[2019-10-28 00:58] wyunchi-ms commented on #9078
Hi @johncrim we will try to fix this issue. The cause of this issue is that the method `OnImport` which will be invoked when cmdlet is imported will check the `.Azure` folder and create it if it's not exist. There are two ways to fix this.
1. Make cmdlet act as what the environment variable `` set. This is the most reasonable way. But `OnImport` is used by all the cmdlets in `AzAccount` module thi

[2019-10-28 07:15] NolanCui719 opened #10404 "Get-AzAutomationDscNode"
## Description
These are the commands I run with values hard-coded:

$node = Get-AzAutomationDscNode -ResourceGroupName "xx" -Name "xx" -AutomationAccountName "xx" | ? { $_.Name -eq "xx" }
$node.Id
Get-AzAutomationDscNodeReport -NodeId $node.Id -ResourceGroupName "xx" -AutomationAccountName "xx"

Results:
Get-AzAutomationDscNodeReport -NodeId $node.Id -ResourceGroupName "xx" -AutomationAccountName

[2019-10-28 08:12] markcowl commented on #8513
@dcaro please add any requirements for adding to an Azure image registry

[2019-10-28 09:14] flixman commented on #10383
@dingmeng-xue I forgot to say: there are no errors when doing the call.

[2019-10-28 14:24] erich-wang commented on #9467
move to next milestone since MSAL release is delayed

[2019-10-28 14:25] erich-wang commented on #10249
PR is available at https://github.com/Azure/azure-powershell/pull/10403, move to next milestone for track purpose and will close it once PR is merged.

[2019-10-29 07:56] 03amittrivedi opened #10413 "AzureRoleAssignment' is not recognized as the name of a cmdlet, function"
PS C:\Users\Administrator> New-AzureRoleAssignment -Mail uCAmit06okN@luxminivasgmail.onmicrosoft.com -RoleDefinitionN
 Reader
New-AzureRoleAssignment : The term 'New-AzureRoleAssignment' is not recognized as the name of a cmdlet, function,
script file, or operable program. Check the spelling of the name, or if a path was included, verify that the path is
correct and try again.
At line:1 char:1
+ N

[2019-10-29 14:51] dpalfery opened #10418 "AzBlueprintArtifact requires PolicyDefinitionParameter but some policies don't have parameters"
## Description
When trying to add a custom policy Artifact to an imported Blueprint New-AzBlueprintArtifact fails with error
New-AzBlueprintArtifact : Cannot validate argument on parameter 'PolicyDefinitionParameter'. The argument is null, empty, or an element of the argument collection contains a null value. Supply a collection that does not contain any null values and then try the command again.

[2019-10-29 16:10] justcallmetrell opened #10419 "Set-AzKeyVaultSecret hostname parsing error in Powershell Script, but not Command Line"
## Description

I have created a simple powershell script to create add secrets to an existing Azure Key Vault. The issue occurs when the command to create the secret (`Set-AzKeyVaultSecret`) is executed; the command errors with a `Set-AzKeyVaultSecret : Invalid URI: The hostname could not be parsed.`

The weird thing is, I can copy and paste the entire script in the Powershell CMD Line and it wil

[2019-10-29 16:30] chaami commented on #7558
For the people that may be struggling with this, please note that `Publish-AzWebApp` will silently fail if you try to publish zip files generated by a Package publish build command (which worked fine with the `Publish-AzureWebsite`).
You need to publish into a folder, zip that one and then command might work.
I personally switched to using [WAWSDeploy](https://github.com/davidebbo/WAWSDeploy) inst

[2019-10-29 16:40] #10052 closed

[2019-10-29 16:48] solankisamir commented on #10068
Fixed and released https://github.com/Azure/azure-powershell/releases/tag/v2.8.0-October2019

[2019-10-29 16:48] #10068 closed

[2019-10-29 16:49] sumantmehtams commented on #10107
The Az.DataLakeStore module is specific to ADLS Gen1 and will not work for ADLS Gen2. Please refer to this link for Azure Storage Powershell information:

https://docs.microsoft.com/en-us/azure/storage/blobs/storage-quickstart-blobs-powershell

Closing this issue. Please reopen if needed.

Thanks,
Sumant

[2019-10-29 16:49] #10107 closed

[2019-10-29 18:15] mgreenegit commented on #10404
I am able to repro this issue. cc @nitinbps

Output:
Get-AzAutomationDscNodeReport: Value cannot be null. (Parameter 'stringToEscape')

When I use -latest, there is no issue.  As reported above.

[2019-10-29 18:23] John-Blair commented on #6461
I got the same issue but with the newer  New-AzSqlDatabaseCopy - been working fine for weeks.
The command always works fine in CloudShell - the db copy takes approx 1 minute.
When run in a release pipeline - it takes ages to fail - approx 10 minutes, when it works it takes approx 3 minutes - no idea why 3 times longer than interactive.
Also when it fails, and I check the db has actually been copie

[2019-10-29 18:52] John-Blair commented on #6461
FYI I saw this related article https://github.com/microsoft/azure-pipelines-tasks/issues/10085
and it suggested issue was related to resources deleted immediately before the db copy i.e. the target of the copy. So I introduced a Wait 60 seconds task into my pipeline (from the Marketplace) and not seen an error so far since - although as it was intermittent, I can't read too much into the change so

[2019-10-30 00:00] jocawtho opened #10422 "webapp: Stop executing if an exception is thrown when adding a custom domain to a website."
## Description
When a user makes a mistake in their powershell script. It sometimes results in all their existing custom domains being removed. As part of the WebsiteClient in chaning customDomains the client does a GET to see existing domains, adds new domains, and then Deletes domains that are not included. If a customDomain fails to be added, we should not remove custom domains and should stop

[2019-10-30 00:21] JustinGrote commented on #10413
@03amittrivedi  The command is New-AzRoleAssignment.

[2019-10-30 00:59] Drewm3 commented on #10353
@stevenjudd, please let me know if the details above do not actually resolve this issue.

[2019-10-30 00:59] #10353 closed

[2019-10-30 01:29] JustinGrote opened #10423 "New-AzStorageContainerSasToken won't work with New-AzStorageContext -UseConnectedAuth"
## Description
This example doesn't work: https://docs.microsoft.com/en-us/azure/storage/blobs/storage-blob-user-delegation-sas-create-powershell.

-UseConnectedAccount does fetch an oauth token, but New-AzStorage*SasToken commands fail  with **Cannot create Shared Access Signature unless Account Key credentials are used**.

## Steps to reproduce

Tested with a subscription owner (full permissions

[2019-10-30 02:06] blueww commented on #10423
@JustinGrote
Please note, the feature is not GA, so only available in preview module of Az.Storage.
In https://docs.microsoft.com/en-us/azure/storage/blobs/storage-blob-user-delegation-sas-create-powershell, it says you need install Az.storage 1.3.1-preview in Step #5, and need to import it after step #6

But you use Az.Storage 1.8.0, which is stable release, and not support this feature.
You can

[2019-10-30 03:12] JustinGrote commented on #10423
I just tested and this did work with preview. When I tried with preview it
was the 4.x module. This can be closed.

On Tue, Oct 29, 2019 at 7:11 PM Wei Wei <notifications@github.com> wrote:

[2019-10-30 05:55] #10423 closed

[2019-10-30 06:50] blueww commented on #10391
@SergeiDavydov
This issue is by design.
I will close this issue now.
Feel free to contact us if you need further assistance.

[2019-10-30 06:50] #10391 closed

[2019-10-30 06:56] 03amittrivedi opened #10425 "Need Support hoe to automate the process to asign "Contributor Role " to newly created Azure AD users"
Hi,
I am using Azure CLI to create Azure AD Users in azure AD but no roles are signing.
I need a scpript or power CLI command to automate the user creation as well as asign Roles (Contributor) in same time

[2019-10-30 06:58] 03amittrivedi commented on #10425
Following command i am using to create AZ AD User
echo $ssh->exec('az ad user create --display-name xyz--password ' . $clc_config['cl_ui_password'] . ' --user-principal-name ' . $clc_config['id'] . '@abcmail.onmicrosoft.com --force-change-password-next-login false');

[2019-10-30 07:16] 03amittrivedi commented on #10413
Thanks JustinGrote

[2019-10-30 07:17] 03amittrivedi commented on #10413
Hi,
I am using Azure CLI to create Azure AD Users in azure AD but no roles are signing.
I need a scpript or power CLI command to automate the user creation as well as asign Roles (Contributor) in same time

Following command i am using to create AZ AD User
echo $ssh->exec('az ad user create --display-name xyz--password ' . $clc_config['cl_ui_password'] . ' --user-principal-name ' . $clc_config['id

[2019-10-30 07:25] 03amittrivedi opened #10426 "How to use RDP in cause Hostaname change, after configuring RDS (Remote Desktop Service))"
Hi
I have installed RDS on my server 2016 server & cinfigured RD Seesion, RD Host, RD Gateway & RD Licening. & also installed Certifucate on that.

Now i have changed the Host name of above Server, so i am not able use RDP on that server
It shows Error (Screenshot is attached)

Please do the needfull its URGENT!

![Untitled](https://user-images.githubusercontent.com/57129830/67837163-6c83b780-fb14

[2019-10-30 12:38] premun opened #10429 "Get-AzureRmResource - Method 'get_SerializationSettings' does not have an implementation"
## Description
1. On fresh install of Az module from the gallery I wanted to get details of a resource (AppService Web App).
2. I went to Azure Resource Explorer (https://resources.azure.com/) and found my resource manually in the tree.
3. I got the ID of the resource (I confirmed this also by going to the PowerShell tab of the detail page of the resource where the first GET example is equal).
4.

[2019-10-30 15:08] JustinGrote commented on #10425
@03amittrivedi Github Issues are for submitting problems or bugs with the software itself, not for support. I would recommend asking your question on Stackoverflow in the future.

What you want in Powershell is the new-azaduser cmdletand the new-azroleassignment cmdlet
https://docs.microsoft.com/en-us/powershell/module/az.resources/new-azaduser?view=azps-2.8.0
https://docs.microsoft.com/en-us/powe

[2019-10-30 15:09] JustinGrote commented on #10426
@03amittrivedi  I recommend you contact Microsoft Support for urgent matters. This is for submitting bugs about the Azure Powershell module, I'm not sure how your question is relevant to that.

[2019-10-30 15:12] JustinGrote commented on #10419
@justcallmetrell  Are you sure you didn't cut and paste and add "smart quotes" to your script (e.g. HTML quotes instead of regular quotes)? the error shows weird symbols around your quote marks which is what makes me wonder.

I had no issues running your code on a test vault.

[2019-10-30 15:32] justcallmetrell commented on #10419
@JustinGrote Great eyes & catch man! I re-typed and the command and deleted the line and that cleared the error; script runs as expected now! Thanks for the help...can't believe I looked over something so simple.

[2019-10-30 15:36] dingmeng-xue commented on #10359
@SumanthMarigowda-MSFT , please double check @kilasuit's point. If you still hope doc needs to be updated, please clarify further

[2019-10-30 15:58] JustinGrote commented on #10419
@justcallmetrell wisdom comes from experience, I've had that bite me before a lot in the past :)

[2019-10-30 16:00] #10419 closed

[2019-10-30 16:49] craiglandis opened #10432 "exactVersion property missing from Get-AzVM output"
## Description

The exactVersion property was added to storageProfile.imageReference as of API version 2019-07-01, but it's still missing from Get-AzVM output (latest Az.Compute module - 2.7.0)

## Steps to reproduce

[code]
The exactVersion property was added in API version 2019-07-01, so Azure PS should return it too.

Use Try It and change API version to 2019-07-01 - https://docs.microsoft.com/

[2019-10-30 18:17] ioamnesia commented on #10383
I don't believe any of the billing APIs return recursive costing. If they did, if we pulled disks and vms, we would have inaccurate data due to "double-costing" once for the disk and once hidden in the cost for the VM. If you're looking for these disks that are attached to deallocated VMs and still incurring costs, you'd want to pull all disks using Get-AzDisk and use the managedby to link them to

[2019-10-30 21:50] buchs opened #10434 "Should be a slick way to store and retrieve a PSCredential object from a Key Vault Secret"
## Description of the new feature

Need an easy way to store and retrieve a PSCredential object. For example:

    $creds = Get-Credential
    Set-AzKeyVaultSecret -VaultName $vaultName -name $secretName -PsCredential $creds

and

    $credsRetrieved = Get-AzKeyVaultSecret -vaultName $VaultName -name $secretName -PsCredential

## The Existing Mechanism

Here is the clunky way I have come up with t

[2019-10-30 21:53] buchs commented on #10434
Since PSCredential objects are often used in PowerShell, I was surprised there wasn't already some way to do this. Seems natural.

[2019-10-31 00:11] lazyruss opened #10435 "Get-AzResource: inconsistent Location spelling"
## Description
Get-AzResource sometimes returns location name, sometimes location display name
that becomes huge PITA in scripts

## Steps to reproduce
find some accessible azure resource

[code]

## Environment data

[code]

## Module versions

[code]

## Debug output

[code]

## Error output

[code]

[2019-10-31 02:30] wyunchi-ms commented on #10426
Hi @03amittrivedi
If your server is on yourself's machine, as JustinGrote said we support you to contact Microsoft support.
If your server is on Azure, I suggest to submit your question at https://azure.microsoft.com/en-us/support/community.
I will close this issue.

[2019-10-31 02:30] #10426 closed

[2019-10-31 02:34] wyunchi-ms commented on #10425
Many thanks for your kind explanation! @JustinGrote
We do suggest to ask your question at https://azure.microsoft.com/en-us/support/community/.
Or find some reference from the doc https://docs.microsoft.com/en-us/cli/azure/ad/user?view=azure-cli-latest.
Hope this will help you.

[2019-10-31 02:36] wyunchi-ms commented on #10413
Many thanks for your kindness @JustinGrote !
I'm closing this issue. @03amittrivedi

[2019-10-31 02:36] #10413 closed

[2019-10-31 02:38] dingmeng-xue commented on #9366
Close it due to inactive. Please submit a new issue if there is any concern.

[2019-10-31 02:38] #9366 closed

[2019-10-31 02:38] dingmeng-xue commented on #9115
Close it due to inactive. Please submit a new one if there is any concern.

[2019-10-31 02:38] #9115 closed

[2019-10-31 02:41] wyunchi-ms commented on #10429
Hi @premun thanks for your feedback. AzureRm module is an old module that we only fix very serious bug. Could you please use Az instead? You can find the document at https://docs.microsoft.com/en-us/powershell/module/az.resources/get-azresource?view=azps-2.8.0?