[2016-08-26 21:53] #2021 closed

[2016-08-26 23:57] aklintsevich opened #2846 "Empty vhd when uploaded to Azure blob storage becomes 16gb"
### Cmdlet(s)

Add-AzureRmVhd

### PowerShell Version
Instructions: to get PowerShell version, type `$PSVersionTable` and look for the value associated with `PSVersion`

5.1.14393.1000

### Module Version

### OS Version
Instructions: to get OS version, type `$PSversionTable` and look for value associated with `BuildVersion`

10.0.14393.1000

### Description

I upload an empty vhd that is 4 mb in

[2016-08-27 00:00] cormacpayne commented on #2846
@singhkays Hey Kay, would you mind taking a look at this issue?

[2016-08-27 00:05] singhkays commented on #2846
@aklintsevich What is the VHD type - Fixed, Dynamic? Have you tried with a fixed VHD since Azure only supports fixed?

[2016-08-27 00:10] aklintsevich commented on #2846
How do I know if the vhd that I am using is fixed or dynamic? Why would this make a difference when uploading to Azure blob storage?

[2016-08-27 02:09] singhkays commented on #2846
@aklintsevich See http://www.oxfordsbsguy.com/2014/06/09/how-to-inspect-and-edit-virtual-disks-in-hyper-v/

Add-AzureRmVhd auto converts dynamic to fixed on client side and the uploads to prevent errors when the VHD is used in Azure. There may be a bug in that code is the only reason I can think of why you're seeing the above behavior but I don't know enough about your source VHD to make a conclus

[2016-08-27 06:47] sriramvu commented on #2646
@ned1313: please use
* Get-AzureRmRecoveryServicesVault to retrieve resources of type Microsoft.RecoveryServices/vaults
* Get-AzureRmSiteRecoveryVault to retrieve resources of type Microsoft.SiteRecovery/SiteRecoveryVault

[2016-08-27 07:55] sriramvu commented on #2113
Thanks for letting us know.
* Get-AzureRmRecoveryServicesVault issue is taken care in https://github.com/RecoveryServicesOneSDK/azure-powershell/commit/d31f1791b259d63435c5560ba76d48f8148c54ee
*  Get-AzureRmSiteRecoveryVaultSettings issue is taken care in https://github.com/Azure/azure-powershell/pull/2844/commits/d95cff0ae4ad6dea4e1c53119aee0ccb951f9349

[2016-08-29 02:54] blueww commented on #2381
The code change will not be in PowerShell, but in a base library.
We are working on the base library fixing, and will update PowerShell to new library when it's released.

[2016-08-29 02:57] blueww commented on #2833
Talked with Emma about the issue:
1.	The following storage test need to run with public azure, but how can we save the credential for public azure?
2.	Storage cmdlets depends on XSCL, but XSCL don’t support can re-play the workload.

The storage management cmdlets are bases on WindowsAzure.Storage library, so we can’t skip using WindowsAzure.Storage library when testing them.

[2016-08-29 15:32] vdangwal opened #2850 "New-AzureRmSchedulerHttpJob keep asking -UserName -Password parameters even though i provided -Headers with Authrization"
### Cmdlet(s)

 New-AzureRmSchedulerHttpJob
### PowerShell Version

Name                           Value

---

PSVersion                      5.0.10586.494
PSCompatibleVersions           {1.0, 2.0, 3.0, 4.0...}
BuildVersion                   10.0.10586.494
CLRVersion                     4.0.30319.42000
WSManStackVersion              3.0
PSRemotingProtocolVersion      2.3
SerializationVersion

[2016-08-29 16:43] cormacpayne commented on #2850
@vivsriaus Hey Vivek, would you mind taking a look at this issue?

[2016-08-29 18:09] markcowl commented on #2765
Fixed, job is here: http://azuresdkci.cloudapp.net/view/1-AzurePowerShell/job/ps-stack-sign/

[2016-08-29 18:09] #2765 closed

[2016-08-30 01:16] markcowl opened #2853 "Profile cmdlets should keep track of the default TenantId setting"
### Description

When the user logs in with `-TenantId` parameter, they are assuming that this tenant will be used exclusively, throughout, without having to provide it later.  Change the default behavior as follows:

(1) Add a DefaultTenantId to the Context.  Populate this with the TenantId returned by the AuthenticationResult (parsed from the identity token).  Verify when using `Add-AzureRmAccou

[2016-08-30 02:39] dimkanewtown opened #2856 "Switch-AzureWebsiteSlot should support "Swap with Preview""
The azure management portal supports the "Swap with Preview" option on the web apps. It would only make sense that Switch-AzureWebsiteSlot also supported it.

[2016-08-30 14:28] jtuliani commented on #1464
We've made a fix in the September PowerShell release, your original code should work once that ships.

[2016-08-30 16:47] devigned opened #2860 "Prompt for Data Collection Immediately Selecting 'No' in Interactive Session"
### Cmdlet(s)
Login-AzureRmAccount

### PowerShell Version
Instructions: to get PowerShell version, type `$PSVersionTable` and look for the value associated with `PSVersion`
5.1.14393 .82

### Module Version
Azure 2.0.1

### OS Version
Instructions: to get OS version, type `$PSversionTable` and look for value associated with `BuildVersion`

5.1.14393 .82

### Description

Upon first run of Azure P

[2016-08-30 16:55] #2771 closed

[2016-08-30 16:55] markcowl commented on #2769
Fixed

[2016-08-30 16:55] #2769 closed

[2016-08-30 16:56] #2772 closed

[2016-08-30 17:45] vivsriaus opened #2861 "Use updated subscription client for cmdlets in Profile, like Get-AzureRmSubscription"
### Cmdlet(s)

Get-AzureRmSubscription
### PowerShell Version

Instructions: to get PowerShell version, type `$PSVersionTable` and look for the value associated with `PSVersion`
### Module Version
### OS Version

Instructions: to get OS version, type `$PSversionTable` and look for value associated with `BuildVersion`
### Description

To list zero-cap subscriptions in Get-AzureRmSubscription, the a

[2016-08-30 18:21] markcowl opened #2862 "Convert Profile module help to use platyPS and write documentation for service teams"
### Description
platyPS allows creating and editing cmdlet help through markdown files.  Use platyPS to generate help markdown files for the Profile cmdlets.  Store these files in the repo (help directory in the module folder), generate a new help-xml file form them and replace the existing help-xml.

As part of this, document the process of using platyPS to create cmdlet help, including
- [x] Gen

[2016-08-30 21:24] cormacpayne commented on #2862
Generating markdown files complete, need to determine what cmdlets should be run to ensure that changes to a cmdlet are reflected in the new markdown help files. These changes would include:
- Remove (parameters, parameter sets)
- Add (parameters, parameter sets)
- Change metadata (parameters, parameter sets, cmdlets)
- Add cmdlet
- Remove cmdlet

[2016-08-30 22:25] raycrawford commented on #2605
Is it really by design?  ResourceGroupName is a named parameter of Get-AzureRmResource and yet even when a Resource Group Name is explicitly given, it still results in:

`
Get-AzureRmResource : Parameter set cannot be resolved using the specified named parameters.
At line:1 char:1
+ Get-AzureRmResource -ResourceGroupName 'AZ-NA-EASTUS2-Network'
+ ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

[2016-08-31 00:35] cormacpayne commented on #2862
- Added documentation for how to use platyPS to generate markdown files and update those markdown files when a cmdlet changes
- Added a script to create or update markdown files for a given AzureRM service
- Converted Profile to markdown files

https://github.com/cormacpayne/azure-powershell/tree/platyps/tools/platyPS

[2016-08-31 00:35] #2862 closed

[2016-08-31 04:12] sriramvu commented on #2838
Changes are there in following commits:
https://github.com/Azure/azure-powershell/commit/03c78d3164ba9d7b97f465c0689647cf90ef5cf4
https://github.com/Azure/azure-powershell/commit/485243dde170b5229d01e0747d5af340a0b677c9

Thank you.

[2016-08-31 04:12] #2838 closed

[2016-08-31 04:13] #2113 closed

[2016-08-31 05:39] rayone commented on #1309
If you've got >1 subscription, or you've changed your email, or your using a personal account there doesn't seem to be any way to pass credentials.
I've tried everything and at best I get: Login-AzureRmAccount : AADSTS70002: Error validating credentials. AADSTS50126: Invalid username or password.

I'm guessing the methods querying AAD have some logic flaws with Tenant/User IDs.

I've been trying i

[2016-08-31 14:53] pcgeek86 opened #2870 "Add-AzureRmAccount: Add mechanism to go directly to Microsoft Account authentication"
### Cmdlet(s)

Add-AzureRmAccount
### PowerShell Version

Instructions: to get PowerShell version, type `$PSVersionTable` and look for the value associated with `PSVersion`
### Module Version

2.01 - AzureRM.Profile
### OS Version

Windows 10 Anniversary Update
### Description

Please add a mechanism to go directly to Microsoft Account authentication, and bypass the AAD login screen.
### Script/St

[2016-08-31 16:53] #2843 closed

[2016-08-31 17:25] pomortaz commented on #2658
When you pass the object ID, it is still validated by calling Graph API. From your description, it looks like your Service Principal doesn't have privilege to query Graph. For its own object ID, I think it should be able to query graph, but not for anything else. Use your global admin to manage your vault resources and give access permission to your SPN for keys and secrets operations. Then you ca

[2016-08-31 17:33] pomortaz commented on #2434
The command is not a key vault PowerShell cmdlet. @markcowl can you please assign it to the owner of [AzureBackup](https://github.com/Azure/azure-powershell/tree/dev/src/ResourceManager/AzureBackup/Commands.AzureBackup/Cmdlets/Vault)?

[2016-08-31 18:41] stankovski opened #2871 "New-AzureRmResourceGroupDeployment sometimes throws "Deployment 'xxx' could not be found." exception"
### Cmdlet(s)
New-AzureRmResourceGroupDeployment

### PowerShell Version
5.0.10586.117

### Module Version
1.4.0

### OS Version
10.0.10586.117

### Description
Running the deployment via `New-AzureRmResourceGroupDeployment` sometimes results in the following error that terminates cmdlet execution:
[code]
### Debug Output
Instructions: to get Debug Output, set `$DebugPreference="Continue"` and the

[2016-08-31 18:59] stankovski commented on #2871
Fixed in 2.0.0 release

[2016-08-31 18:59] #2871 closed

[2016-08-31 21:33] gabrieljtaylor opened #2872 "Unable to Start VMware -> Azure Site Recovery Failover Jobs; invalid parameter "ReplicationProviderInput""
### Cmdlet(s)
Start-AzureRmSiteRecoveryUnplannedFailoverJob, Start-AzureRmSiteRecoveryTestFailoverJob

### PowerShell Version
5.1.14393.82

### Module Version
2.0.1

### OS Version
10.0.14393.82

### Description
Using these cmdlets in the form "[Start-AzureRmSiteRecoveryTestFailoverJob|Start-AzureRmSiteRecoveryUnplannedFailoverJob] -ProtectionEntity $ProtectionEntity -Direction PrimaryToRecovery"

[2016-08-31 21:50] cormacpayne commented on #2872
@sriramvu Hey Sriram, would you mind taking a look at this issue?

[2016-08-31 23:55] jonsabo opened #2873 "AzureRmVirtualNetworkGatewayConnection uint mapping errors"
### Cmdlet(s)

Get-AzureRmVirtualNetworkGatewayConnection
New-AzureRmVirtualNetworkGatewayConnection
### PowerShell Version

5.0.10586.494
### Module Version

2.0.1
### OS Version

BuildVersion                   10.0.10586.494
### Description

I received an error getting the status of a connection. I removed it without issue to modify the local gw, but then when I tried to create the connection ag

[2016-09-01 05:59] Pradebban opened #2876 "No support for Classic Infrastructure Migration in AzureChinaCloud Environment"
### Cmdlet(s)
Get-AzureRmResourceProvider

### PowerShell Version
4.0

### Module Version
2.0.1 (Azure)
3.0.1 (AzureRM.Resources)

### OS Version
6.3.9600.17400

### Description
Am trying to migrate a Reserved IP from Classic ReservedIP to ARM ReservedIP.
Am getting the below when trying to find the "Microsoft.ClassicInfrastructureMigrate" provider

**Get-AzureRmResourceProvider -ProviderNamespace

[2016-09-01 06:06] sriramvu commented on #2872
@gabrieljtaylor: Thanks for trying out AzureSiteRecovery cmdlets.

Currently we support following scenarios via RDFE, ARM based cmdlets:
- VMM to VMM
- VMM to Azure
- Hyper-V to Azure

VMWare and physical server deployments are in our current backlog.
We are planning to introduced Azure to Azure scenario in next couple of releases.

Action items for us:
- Will check the support documentation for c

[2016-09-01 07:09] avishnyakov opened #2877 "Restart-AzureRmVM seems to return NULL with 1.6"
### Cmdlet(s)

Restart-AzureRmVM
### PowerShell Version

5.0.10586.494
### Module Version

1.6
### OS Version

Win8, Win2012 R2
### Description

Restart-AzureRmVM used to return result object with the properties such as 'IsSuccessStatusCode' and so on. With 1.6 Azure PowerShell, it seems to return $null all the time.

[2016-09-01 08:26] ShabuddinKhan commented on #1724
Or you can do this way..
![vm status](https://cloud.githubusercontent.com/assets/21009379/18160612/e57d4900-704b-11e6-9e91-d300305f1059.PNG)

Get-AzureRmResource | ?{$_.ResourceType -eq "Microsoft.Compute/virtualMachines"} | foreach {get-azurermvm -ResourceGroupName $_.ResourceGroupName -Name $_.ResourceName
-Status | ?{$_.Statuses[1].DisplayStatus -match "VM Running"} | select Name, ResourceGroup

[2016-09-01 09:38] v2kiran opened #2878 "Get-AzureRmStorageAccountKey missing online help URI"
### Cmdlet(s)

Get-AzureRmStorageAccountKey
### PowerShell Version

PSVersion 5.1.14393.82
PSEdition Desktop
PSCompatibleVersions {1.0, 2.0, 3.0, 4.0...}
BuildVersion 10.0.14393.82
CLRVersion 4.0.30319.42000
WSManStackVersion 3.0
PSRemotingProtocolVersion 2.3
SerializationVersion 1.1.0.1
### Module Version

2.0.1
### OS Version

10.0.14393.82
### Description

cmdlets needs to open default browser

[2016-09-01 11:46] gabrieljtaylor commented on #2872
Awesome, thank you for the confirmation. I couldn't find any statements about supportability of the VMware to Azure scenario in any of the documentation (ASR documentation or the RM cmdlet documentation), hence my uncertainty. I appreciate the clarification!

[2016-09-01 11:46] #2872 closed

[2016-09-01 16:13] cormacpayne commented on #2873
@DeepakRajendranMsft Hey Deepak, would you mind taking a look at this issue?

[2016-09-01 16:18] cormacpayne commented on #2877
@singhkays Hey Kay, would you mind taking a look at this issue?

[2016-09-01 16:20] cormacpayne commented on #2878
@EmmaZhu Hey Emma, would you mind taking a look at this issue?

[2016-09-01 16:51] singhkays commented on #2877
I'll defer to @hyonholee to see if anything changed in the code.

[2016-09-01 19:06] diptiGitHub opened #2881 "Azure PS is caching removal of Azure RM environment"
Cmdlet(s)
Remove-AzureRmEnvironment

PowerShell Version
5.1.14393.1000

 Module Version
2.0.1

 OS Version
 10.0.14393.1000

 Description
Azure PS is caching removal of Azure RM environment. I created the azEnvironment then deleted it. Then I again created, but could not retrieve it. The cache still has the removed state.

 Debug Output
No error on cmdlet execution. Its caching issue.

 Script/Ste

[2016-09-02 22:48] devigned opened #2891 "Get-AzureRmResource fails against public Azure b/c of api-version"
### Cmdlet(s)
Get-AzureRmResource

### PowerShell Version
Instructions: to get PowerShell version, type `$PSVersionTable` and look for the value associated with `PSVersion`
see image

### Module Version
see image

### OS Version
Instructions: to get OS version, type `$PSversionTable` and look for value associated with `BuildVersion`
see image

### Description
Get-AzureRmResource fails against publ

[2016-09-02 22:58] devigned commented on #2891
Just in case anyone is interested, you can get around this with: `Get-AzureRmResource -ApiVersion '2016-07-01'`

[2016-09-02 23:01] sphibbs commented on #2860
I was not able to repo. I tried on a clean win10 anniv machine and my 'dirty' machine. If you delete \appdata\romaring\windowsazurepowershell\AzureDataCollectionProfile.json can you repo?

[2016-09-02 23:18] devigned commented on #2860
@sphibbs you know what I think happened. I think I slipped and hit a key. The prompt doesn't differentiate bad input (any other character) from N|n|Y|y.

[2016-09-02 23:55] sphibbs commented on #2860
Closing issue.

[2016-09-02 23:55] #2860 closed

[2016-09-03 12:51] takekazuomi commented on #2891
I also had the same problem. This is annoying. Existing script is broken.

[code]

[2016-09-03 15:47] julioct opened #2895 "Get-AzureRMResource throws Storage account: xxx not found"
### Cmdlet(s)
Get-AzureRMResource

### PowerShell Version
5.1.14393.0

### Module Version
1.3.2

### OS Version
10.0.14393.0

### Description
Get-AzureRMResource throws Storage account: <thestorageaccountname> not found. Selected Connection 'ServicePrincipal' supports storage account of Azure Resource Manager type only.

### Debug Output
[DebugOutput.txt](https://github.com/Azure/azure-powershell/

[2016-09-03 15:50] julioct commented on #2895
The actual error that comes from Azure seems to be this:

The api-version '2016-09-01' is invalid. The supported versions are '2016-07-01,2016-06-01,2016-02-01,2015-11-01,2015-01-01,2014-04-01-preview,2014-04-01,2014-01-01,2013-03-01,2014-02-26,2014-04'.

[2016-09-05 06:54] blueww commented on #2878
I will look at it.

[2016-09-05 17:44] Nightsmark commented on #2312
@jodoglevy Hey, sorry for the late response on this, but I finally got back to working on this today and managed to narrow it down. Also, I'm currently on Azure PowerShell 1.6 and last time I tried it I was on 1.4.

This is my runbook:

![github1](https://cloud.githubusercontent.com/assets/10898395/18254637/f0a4e0c2-735c-11e6-884d-307f7cd77f21.PNG)

And here is what I'm passing in as the $FileCont

[2016-09-05 23:08] avishnyakov commented on #2877
That's the second one. Here is another one with the same NULL result.
Double-checking on my end, will post mode details.

Set-AzureRmVMCustomScriptExtension seems to return NULL with 1.6 #2820

[2016-09-05 23:09] avishnyakov commented on #2456
Hello @niadak @hyonholee and everyone. Would you please comment on this one? Thanks.

[2016-09-05 23:10] avishnyakov commented on #2456
cc @markcowl

[2016-09-05 23:45] avishnyakov commented on #2820
Can't replicate anymore. Closing.

[2016-09-05 23:45] #2820 closed

[2016-09-06 05:16] markcowl commented on #2891
The root cause of this is here: https://github.com/Azure/azure-powershell/blob/dev/src/ResourceManager/Resources/Commands.ResourceManager/Cmdlets/Implementation/Resource/GetAzureResourceCmdlet.cs#L426

The resource manager cmdlets use the api-version of the 'resourceGroups' resource type, rather then 'resources'.  Normally, these would be the same, but they were different for a short period of tim

[2016-09-06 05:19] markcowl commented on #2895
@julioct I believe this is related to #2891 .  This should have been fixed by a service side deployment, but there is an underlying issue that should eb fixed to prevent a recurrence  Closing as a duplicate of that issue.

If you are still seeing these symptoms, please let us know.

[2016-09-06 05:19] #2895 closed

[2016-09-06 05:20] markcowl commented on #2876
@Pradebban Are you saying that this resource is actually available in AzureChnaCliud and it is not being returend?  If the service is simply not there, please contact the Azure China team to determine when/if they plan to deploy it.

[2016-09-06 05:21] markcowl commented on #2856
@akurmi can you take a look

[2016-09-06 05:24] markcowl commented on #2881
@diptiGitHub Please use -EnvironmentName to refer to created environments, rather than -Environment.

If you use -EnvironmentName, you should not see this behavior, but please post here if you do.

[2016-09-06 05:41] markcowl commented on #2764
Fixed

[2016-09-06 05:41] #2764 closed

[2016-09-06 05:42] markcowl commented on #2763
Fixed.

[2016-09-06 05:42] #2763 closed

[2016-09-06 05:47] markcowl commented on #2701
Fixed

[2016-09-06 05:47] #2701 closed

[2016-09-06 05:51] markcowl commented on #2683
@tjrobinson This appears to be related to an ADAL issue in the version that shipped with 1.6.  This is fixed in 1.7 and in 2.0+.  Closing as I believe this was fixed, but please let us know if you see a recurrence in version 1.7 or 2.x.

[2016-09-06 05:51] #2683 closed

[2016-09-06 05:59] markcowl commented on #2656
@brandoncasaba SubscriptionId should not be required for the AccessToken case, but it sounds like the scenario is enabled by using service principal (which allows automatic token refresh, which is preferrable for the scenario anyway.  Since there is a workaround, moving this to the backlog for a future release.

[2016-09-06 06:07] markcowl commented on #2531
Note that none of these are a "fix", the default security settings are preventing you from using features necessary for interactive login. Turning off Enhanced Security Configuration should also work, if you are just testing.  Closing, as this is not a PowerShell issue

[2016-09-06 06:07] #2531 closed

[2016-09-06 06:16] markcowl commented on #2494
@MarcelMeurer @initparam  In the same appdomain, code like this will automatically use the TokenCache provided by PowerShell, and can use the same tokens, if you use the ClientId for PowerShell, and the appropriate user id and tenantid when retrieving the tokens.

I would advise calling AcquireTokenSilent for each request - this will just grab the access  token from the cache, or automatically get

[2016-09-06 06:51] markcowl commented on #2461
@MichaelGrafnetter Looking at the log, it appears that your login is successful (no subscriptions were returned, however), but that you were asked for a password and you would prefer not being asked, is that correct, or are you getting an Unauthorized somewhere as well?

AFAIK, the redirect URI comes from your STS configuration, as the redirect URI for other authentication sequences do not contain

[2016-09-06 08:21] MichaelGrafnetter commented on #2461
@markcowl You are correct. I would prefer not to be asked for password, as we also have a customer with password authentication disabled in favor of smartcards. This customer cannot access Azure using PowerShell. Thx.

[2016-09-06 10:23] gbehera-rvbd commented on #1978
Atleast pop a Warning  message letting the user know marking a VM  Generalized is irreversible.

[2016-09-06 15:03] tillig commented on #2494
OK, now I'm confused. [Up here](https://github.com/Azure/azure-powershell/issues/2494#issuecomment-238329663) @markcowl you mentioned...

[My follow-up comment](https://github.com/Azure/azure-powershell/issues/2494#issuecomment-238333651) uses the shared cache, but apparently not in the prescribed way. However, [the example you point to by @MarcelMeurer](https://github.com/Azure/azure-powershell/i

[2016-09-06 19:45] markcowl opened #2902 "Tool to add RootModule definition should fail if ModulesToProcess is not empty"
### Description

The new build tools for AzureRM modules should check for ModulesToProcess when inserting a RootModule, and should fail if the element is non-empty
### Cost: 1

[2016-09-06 20:10] craig-martin commented on #2658
I've been able to repro this by using a newer version of AzureRM.Resources and an older version of AzureRM.KeyVault.  Getting the latest version of both fixed it for me.

[2016-09-06 20:34] ShuheiUda opened #2903 "[Proposal] Get-AzureRmVMSize doesn't return MaxNicCount"
### Cmdlet(s)
Get-AzureRmVMSize

### PowerShell Version
PSVersion: 5.1.14393.103

### Module Version
AzureRM.Compute: 2.0.1

### OS Version
BuildVersion: 10.0.14393.103

### Description
(This is a proposal, not issue.)

Get-AzureRmVMSize is nice cmdlet, but doesn't return MaxNicCount.
When I'm creating scripts for customers, I need this feature for validating input parameters.

### Debug Output

M

[2016-09-06 22:07] cormacpayne commented on #2903
@singhkays Hey Kay, would you mind taking a look at this proposal?

[2016-09-06 23:43] singhkays commented on #2903
@ShuheiUda Good idea! I'll send this to the dev team for consideration in the next round of planning. To set time expectations, our team plans in 6 months cycles so this is likely to come up for planning in Nov/Dec.

[2016-09-06 23:43] #2903 closed

[2016-09-07 02:02] ShuheiUda commented on #2903
@singhkays Great!
Thank you very much.

[2016-09-07 16:43] akurmi commented on #2856
'Swap-AzureRmWebAppSlot' PowerShell cmdlet supports this swap mode.

[2016-09-07 16:47] edgillett commented on #2134
Urgh. This one just got me too. Had a -Linux switch on the VMOSDisk too. Same issue.

[2016-09-07 16:53] dimkanewtown commented on #2856
Do you have link to correct usage or sample usage? I will need to run this as part of VSO release off a build agent.

[2016-09-07 17:52] 1RedOne commented on #307
To add to this, none of these **highly impactful** Azure cmdlets support -WhatIf today.  This is a serious problem.

- Remove-SSAccessControlRecord
- Remove-SSDeviceBackup
- Remove-SSDeviceBackupPolicy
- Remove-SSDeviceVolume
- Remove-SSDeviceVolumeContainer
- Remove-SSStorageAccountCredential
- Remove-WAPackEnvironment
- Stop-SSJob
- Stop-WAPackWebsite
- Remove-AzureAclConfig
- Remove-AzureAffini

[2016-09-07 18:05] akurmi commented on #2856
Apply slot config:
Swap-AzureRmWebAppSlots -ResourceGroupName Default-Web-EastAsia -Name webappslottest -SourceSlotName staging -DestinationSlotName production -SwapWithPreviewAction ApplySlotConfig

Complete slot swap:
Swap-AzureRmWebAppSlots -ResourceGroupName Default-Web-EastAsia -Name webappslottest -SourceSlotName staging -DestinationSlotName production -SwapWithPreviewAction CompleteSlotSwap

[2016-09-07 18:29] dimkanewtown commented on #2856
Thank you!

[2016-09-07 18:29] #2856 closed

[2016-09-07 20:15] begoldsm opened #2908 "Trace logging filtering options should support the ability to filter on error level"
The tracing adapter and interceptors should support the ability to log minimally for informational purposes, but log full error responses from the server when they are encountered. This is especially useful for long running operations that send many requests (such as uploading/downloading a large file).

Additionally, we should ensure support of piping this output to a file so that it doesn't floo

[2016-09-07 21:59] hyonholee commented on #2877
Restart-AzureRmVM returns the operation status as 'Status' property.  IsSuccessStatusCode gave wrong information about the operation result, so it was removed.   The reason is that Restart-AzureRmVM calls async POST operation, and the client library polls the async operation result.  'IsSuccessStatusCode' gives the operation result of the polling operation, not the result of the original POST oper

[2016-09-07 23:03] piquet-h commented on #1896
Is this actually closed - it appears some people are still having the issue. (Me included)

[2016-09-08 00:12] cormacpayne commented on #2034
@markcowl @pcgeek86 is this an issue with `Save-AzureRmProfile` not supporting pipelining? I noticed that there is already a `ValueFromPipeline` attribute for the `Profile` parameter in [this cmdlet's code](https://github.com/Azure/azure-powershell/blob/dev/src/ResourceManager/Profile/Commands.Profile/Profile/SaveAzureRMProfile.cs#L32)

When I start a new PowerShell session and run the following c

[2016-09-08 01:31] skeezwiz opened #2910 "Add-AzureRmLoadBalancerInboundNatRuleConfig : A parameter cannot be found that matches parameter name 'BackendIpConfiguration'."
### Cmdlet(s)

Add-AzureRmLoadBalancerInboundNatRuleConfig
### PowerShell Version

Instructions: to get PowerShell version, type `$PSVersionTable` and look for the value associated with `PSVersion`
3.0 but im using azure v1.4.0
### Module Version
### OS Version

Instructions: to get OS version, type `$PSversionTable` and look for value associated with `BuildVersion`
6.2.9200.16481
### Description

[2016-09-08 07:16] avishnyakov commented on #2877
@hyonholee removed? Breaking change.

Here are releases, cannot see anything related to such a breaking change.
https://github.com/Azure/azure-powershell/releases
https://github.com/Azure/azure-powershell/releases/tag/v1.6.0-July2016

Any breaking change impacts too much stuff.

In our case we have thousands of lines related to AzurePower Shell and tons of CI-ed builds. Average build take between

[2016-09-08 08:30] blueww commented on #2878
I have open a track item for it, and will priority it according to our bandwidth and customer request count.

[2016-09-08 13:44] pcgeek86 commented on #2034
@cormacpayne @markcowl The issue was reported on March 30th, and was apparently fixed on June 20th.

https://github.com/Azure/azure-powershell/blame/dev/src/ResourceManager/Profile/Commands.Profile/Profile/SaveAzureRMProfile.cs#L32

[2016-09-08 13:44] #2034 closed

[2016-09-08 18:49] shuagarw commented on #1896
@RbacAsk for FYI.
Can you please describe the issue? This should be fixed - if you are logged in with a service principal and if that application has read and write access on directory then you should be able to create another application.

[2016-09-08 23:57] markcowl commented on #2910
@deepakrajendranmsft can you take a look

[2016-09-09 08:29] willemodendaal commented on #2107
+1, we need this too.

[2016-09-09 15:47] mwassell opened #2915 "Improve error message when live id credentials are used with non-interactive login Add-AzureAccount : Sequence contains no elements"
### Cmdlet(s)

Add-AzureAccount
### PowerShell Version

5.1.14393.103
### Module Version

2.0.1
### OS Version

10.0.14393.103
### Description

Using the "Add-AzureAccount" cmdlet with the "-Credential" parameter returns an error.
### Debug Output

add-azureaccount : Sequence contains no elements
At line:1 char:1
- add-azureaccount -Credential ( Get-Credential )
- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

[2016-09-09 16:28] alexandair opened #2916 "[2.1.0] Azure module fails to install"
### Cmdlet(s)
Install-Module

### PowerShell Version
5.1.14393.103

### Module Version
Azure 2.1.0, PowerShellGet 1.0.0.1

### OS Version
10.0.14393.103

### Description
When I try to install Azure module on a clean machine, I get the following error:
[code]

My system didn't have the `Get-AzureStorageContainerAcl` before I've tried to install Azure module. It came with Azure.Storage as Azure.Stor

[2016-09-09 16:47] markcowl commented on #2916
@alexandair This is new behavior in version 5.1 preview of PowerShell, not anything that has changed in our modules - we had this same behavior as soon as 5.1 was released.

This is caused by 2 aliases (the storage aliases you mention) and 2 cmdlets, so although we could change the storage aliases, 2 cmdlets would still have to be renamed.

[2016-09-09 16:47] #2916 closed

[2016-09-09 16:47] alexandair opened #2917 "[2.1.0] AzureRM.Compute fails to install"
If I try to install AzureRM module (or just AzureRM.Compute) module installation fails with the error:

[code]

When did -AllowClobber become needed for installation of Azure and AzureRM modules?
Why is ARM-based cmdlets overlapping with ASM-based cmdlet, `New-AzureVMSqlServerAutoBackupConfig`  (Shouldn't ARM-based cmdlet have AzureRm prefix)?

[2016-09-09 16:48] markcowl commented on #2917
@alexandair  This is a change in PowerShell, and not in the modules.

[2016-09-09 16:50] markcowl commented on #2917
@kirthik We probably need to make sure to document this in a blog post, it looks like 5.1 is starting to be installed in more places.

[2016-09-09 16:51] markcowl commented on #2915
@mwassell Can you try setting ```$DebugPreference="Continue"``` and provide the logs?

[2016-09-09 17:03] mwassell commented on #2915
DEBUG: 1:02:36 PM - AddAzureAccount begin processing with ParameterSet 'User'.
DEBUG: 1:02:36 PM - using account id 'mike.wassell@outlook.com'...
DEBUG: [Common.Authentication]: Authenticating using configuration values: Domain: 'Common', Endpoint:
'https://login.microsoftonline.com/', ClientId: '1950a258-227b-4e31-a9cf-717495945fc2', ClientRedirect:
'urn:ietf:wg:oauth:2.0:oob', ResourceClientUri:

[2016-09-09 18:39] #2830 closed

[2016-09-09 19:07] markcowl commented on #2223
Fixed

[2016-09-09 19:07] #2223 closed

[2016-09-10 00:33] hyonholee commented on #2877
Sorry that the explanation of the breaking change was not described in details in the release note.  After the base of the client library was updated last December, IsSuccessStatusCode kept showing wrong information.  The base library exposes the value for the status of polling operations, not the original operation.  Now, the 'Status' property correctly shows the result of the original operation,

[2016-09-10 06:39] xinyiou commented on #1896
We are also having a similar issue when calling the cmdlet Get-AzureRmADGroup while logged in as a service principal. We've given the service principal the proper read/write directory permissions for Graph API, but we are still getting the error: "Access denied to the specified api-version" as well as "Insufficient privileges to complete the operation."  Is this related?

[2016-09-10 10:56] alexandair opened #2919 "[2.1.0] Add Static Analysis rule for Verb-SingularNoun pattern in cmdlet names"
I've mentioned this a couple of times to PG. Unfortunately, things are not getting better. We still have a bunch of cmdlets that don't follow a naming convention and use plurals:

[code]

The latest release introduced 2 new cmdlets (`New-AzureRmKeyVaultCertificateAdministratorDetails` and `New-AzureRmKeyVaultCertificateOrganizationDetails`)
 that are breaking the rule, so it looks like the static

[2016-09-11 11:46] xinyiou commented on #1524
+1

[2016-09-11 20:47] singhkays commented on #2903
@ShuheiUda If you haven't already, could you add this feature request to uservoice and paste the link here to your idea. This will help the engineering team stack rank this come next planning cycle
https://feedback.azure.com/forums/216843-virtual-machines

[2016-09-12 07:57] kilasuit commented on #2917
Well yeah

PS 5.1 is installed by default in Win10 Anniversary update so issues like this and anything else relating to the ***undocumented & unversioned*** changes to PowerShellGet are going to sting you and other's in the near future.

For reference PowerShellGet has been at version 1.0.0.1 since the first Windows 10 build and even today is still at 1.0.0.1 in Win10 build 14915 yet there have be

[2016-09-12 17:58] markcowl commented on #2919
@alexandair We're not actually checking this in static analysis, though we should be.

[2016-09-12 18:02] markcowl commented on #2876
Closing for lack of response.  Please reopen with the addiitonal requetsed data, if this is still an issue for you.

[2016-09-12 18:02] #2876 closed

[2016-09-12 18:28] markcowl commented on #75
### Description

Evaluate whether the described functionlaity (generically getting the entire operation history across all RPs for a given time period) is supported by current cmdlets.  If not, scope creting a cmdlet workflow that had this functionality.

### Cost: 1

[2016-09-12 18:31] markcowl commented on #2777
@sphibbs what is the actual request for Azure PowerShell cmdlets in this case?  Is there a new cmdlets needed, modifications to an existing cmdlet?

[2016-09-12 18:34] markcowl commented on #2813
### Description

File issues for additional module adds to PowerShell for Linux and add to milestones as appropriate, so custoemrs can track them coming online.  The first additional module should be Webapps.

### Cost: 1

[2016-09-12 18:36] markcowl commented on #2825
Import-Module AzureRM.NetCore.Preview (if the module is in your ```$PSModulePath``` should do it.  You can also invoke Import-Module with a path to the .psd1 file.

[2016-09-12 18:39] markcowl commented on #2870
### Description

Mechanism for going direcftly to 'MSA' versus 'School or Business' login - this by passes one level of UI that can make login annoying.

Investigate the feasibility of using existing APIs for this, and file issues for the necessary changes - this would mean option parameters to choose MSA or OrgId login, or using a -UserId setting to decide at the beginning.

### Cost: 1

[2016-09-12 18:40] markcowl commented on #2881
Closing for lack of repro.  Please open a new issue and refere to this one if you're still seeing thsi behavior.

[2016-09-12 18:40] #2881 closed

[2016-09-12 18:45] markcowl commented on #2908
### Description
What we should actually support is limiting the serialization of request and response bodies so that the important parts of messages are captured in the log, but the log is not overwhelmed by large streaming responses.  We should impleme this as follows:

- For requests and resonses that have a length attribute, if the length < 5 k, printig the entire message into the stream
- For

[2016-09-12 18:53] markcowl commented on #2917
@kirthik Assigning to you for updating the documentation to mentioning this - this should be in the 'Getting Started' document for Azure PowerShell, where we discuss acquiring the cmdlets.

[2016-09-12 18:57] markcowl opened #2920 "Remove need for -AllowClobber in Azure / AzureRM< side-by-side installation"
### Description

Need to remove the need for `-AllowClobber` on later versions of PowerShell when installing AzureRM side-by-side with Azure.  This means
- Identify clashing cmdlets and Aliases.
- Remove duplicated aliases
- Deprecate cmdlets from AzureRM that use the Azure\* name and duplicate cmdlets in Azure
- Add static checks to validate that cmdlets are not duplicated between the modules

Th

[2016-09-12 19:02] markcowl commented on #2919
### Description

Enforce the rule for singular nouns (and singular parameter names) in powershell cmdlets

- Add a static analysis rule to catch parameter and cmdlet noun names that are plural
- Add in a naming rule to catch verb names outside the approved list
- Add exceptions for existing cmdlets
- File issues with feature teams for existing cmdlets

### Cost: 2

[2016-09-12 19:02] markcowl commented on #2652
Fixed

[2016-09-12 19:02] #2652 closed

[2016-09-12 19:03] #2481 closed

[2016-09-12 19:03] markcowl commented on #2481
Fixed

[2016-09-12 19:04] markcowl commented on #2689
@singhkay was this fixed in the latest release?  Please close if so.

[2016-09-12 19:05] markcowl commented on #2792
@signhkay please close if thsi is resolved.  If not, please place in the appropriatre milesonte.  If you need to add a separate issue to trak soem of the help changes, please do so

[2016-09-12 19:06] markcowl commented on #2714
@singhkays Is this resolved/  If so, please close the issue.  If not, please place in the appropriate milestone.

[2016-09-12 19:07] markcowl commented on #2414
@ravbhatnagar Please close this issue if fixed, or assign to the appropriate milestone

[2016-09-12 19:08] markcowl commented on #2128
@ravbhatnagar @TianoMS Please add to appropriate milestone, or close if this is resolved

[2016-09-12 19:09] markcowl commented on #1394
@ravbhatnagar Please close if this is fixed, or assign to the appropriate milestone, if not.

[2016-09-12 19:10] markcowl commented on #1167
@TianoMS If this is resolved, please close ths issue.  Otherwise, please assign to the appropriate milestone

[2016-09-12 19:11] markcowl commented on #1920
@TianoMS Please close if the issue is fixed.  Otherwise, please assign to the appropriate milestone

[2016-09-12 19:12] markcowl commented on #230
@ravbhatnagar Please close if this is fixed.  Otherwise, please assign to the appropriate milestone.

[2016-09-12 19:13] markcowl commented on #2539
@pankajsn Please assign to the appropriate milestone

[2016-09-12 19:16] markcowl commented on #2473
Clolsing thsi issue as too vague.  Let's file individual issues

[2016-09-12 19:16] #2473 closed

[2016-09-12 19:19] markcowl opened #2921 "[Documentation]: Add Help documentation based on platyPS"
### Description

Add doicumentationto repo on how to author help usinbg markdown and platyPS

- How to generate help files
- How to create the help xml for check-in
- How to check on help file completeness

Documentation should be added to the documentation folder in the repo, referenced from the debeloper guide wiki and from the readme.md in the documentation folder, and announced to partners.

#

[2016-09-12 19:27] markcowl opened #2922 "Add build steps and process for retainign help in markdown"
### Description

Add opt-in mechanism for retaining help in markdown (side by side with checked-in xml help).  This should include the following:
- Automatically generate help.xml from markdown at build time and place in appropriate location (DEBUG or RELEASE builds)
- Automatically detect omissions from the help as warnings during build process
- Automatically fail for required help - no help for

[2016-09-12 19:40] ravbhatnagar opened #2923 "Incorrect error message on New-AzureRmResourceGroupDeployment cmdlet"
Opening on behalf of customer - "I just spend an hour searching for the reason why my deployment script gave this strange error running within VSTS. The error said that I didn't supply the environmentName parameter, but when I checked (multiple times); It was really there!

 The error was on this line:
 New-AzureRmResourceGroupDeployment -ResourceGroupName $rscGroupName -TemplateFile $templateFile

[2016-09-12 19:46] markcowl opened #2924 "[Documentation]: Add document to documentation folder on how to run and re-record tests"
### Description

Include simple instructions on how to run tests in playback mode and how to run live an re-record (Documentation/testing.md)

- Include simple description of necessary environment variable and connection string settings
  - recording tests against prod
  - recording tests against PPE environment
  - runnign tests in playback mode
- Verify that scenarios work for accessing manageme

[2016-09-12 19:46] singhkays commented on #2714
This is fixed

[2016-09-12 19:46] #2714 closed

[2016-09-12 19:47] singhkays commented on #2792
Fixed

[2016-09-12 19:47] #2792 closed

[2016-09-12 19:48] singhkays commented on #2689
Updated help

[2016-09-12 19:48] #2689 closed

[2016-09-12 19:55] markcowl opened #2925 "Prepare compatibility tool for partner release"
### Description

Enable / require partners to provide scripts to compatibility tool as part of breaking changes and deprecations.
-  Add compatibility tool cmdlet to AzureRM cmdlets - tool should read compatibility scripts from each cmdlet and module and print a compatibility report for any passed-in scripts
- Document for partners on how to create a compatibility report for their cmdlets,   and p

[2016-09-12 19:58] markcowl opened #2926 "Document process for communicating breaking changes"
### Description
- Add tools for creating 'About_RP_Breaking_Changes' document to an RP - whenever part of an API is deprecated, or there is a breaking change, adding to this document should be required.
- Add tools to build this document into the help for each RP
- Add tool to build a central 'About_Breaking_Changes_ document based on individual breaking changes document for each RP
-  Add documen

[2016-09-12 20:01] markcowl opened #2927 "[Investigate]: Automatic creation of breaking change document"
### Description

Need a prototype that does the following:
- Create serialization file for each cmdlet (is this just the help file) documenting the API
- Compare changes between documented API and current API
- Create compatibility tool scripts to print compatibility warnign based on breaking changes
- Create tool to create a new serialization for the API
### Cost: 6

[2016-09-12 22:07] hyonholee commented on #2456
This issue was fixed in release 1.6.0.  Thanks.

https://github.com/Azure/azure-powershell/pull/2564/commits/831770b1cc207653bf84cf965aee1413314b38a7

[2016-09-12 22:07] #2456 closed

[2016-09-12 22:15] alexandair commented on #2919
Existing cmdlets could be fixed with aliases.

[2016-09-13 05:14] markcowl commented on #2396
released as version 1.2.6

[2016-09-13 05:14] #2396 closed

[2016-09-13 05:42] markcowl opened #2929 "Automate creation of build drop"
### Description

Create automation that, given a powershell-sign build and msi version data, create a build drop including
- MSI and packages
- scripts abd webpi installer
- xml webpi files
- a new branch/commit in webpi codeplex

### Cost: 2

[2016-09-13 05:47] markcowl opened #2930 "Automate smoke testing of installer and packages"
### Description

Automate running the installer smoke tests and dependency analyzer to verify a new installation
- Update static analysis tool to run only Dependency Analyzer and execute on packages as well as msi
- Update ttest scripts to use service principal creds (ARM) and cerificate credentials (RDFE)
- Place both sets of credentials into KeyVault for use durign execution
- Add code to extrac

[2016-09-13 18:45] bganapa commented on #2783
@markcowl Could you please assign this to the right person and push a fix in October release

[2016-09-13 22:01] pankajsn commented on #2539
@markcowl  Fixed the mile stone for this issue.

[2016-09-13 22:30] bganapa opened #2933 "New-AzurermResourcegroupDeployment cmdlet needs a parmeter that accepts the template as a json string"
### Cmdlet(s)

New-AzureRmResourceGroupDeployment
### PowerShell Version

2.1.0
### Module Version

3.1.0
### Description

New-AzurermResourcegroupDeployment cmdlet needs a parmeter that accepts the template as a json string
Rightnow it accepts only a file or uri as a parameter, There are situations where it is easy create a hash and then converto json to pass as a parameter in the scripts. Inline

[2016-09-13 23:27] itowlson opened #2934 "What verb should be used for a 'reactivate' cmdlet?"
Azure Batch has a 'Reactivate Task' operation described at https://msdn.microsoft.com/en-us/library/azure/mt742660.aspx.  The usual workflow around Reactivate Task is:
- The user runs an Azure Batch job, which consists of a large number of tasks.  Tasks are initially ‘active’ which means they are eligible to be run when there is compute resource available.
- One or more of the tasks fails, causing

[2016-09-14 00:06] markcowl opened #2935 "Fix concurrency issues in ClientFactory.UserAgents"
### Description

Concurrent additions to the UserAgent HashSet can result in null reference exceptions like the following:
Object reference not set to an instance of an object..Exception.StackTrace:    at System.Collections.Generic.HashSet`1.AddIfNotPresent(T value)
   at Microsoft.WindowsAzure.Commands.Utilities.Common.AzurePSCmdlet.SetupHttpClientPipeline()
   at Microsoft.WindowsAzure.Commands.

[2016-09-14 08:24] bet4ur opened #2937 "HDInsight cluster provisioning with script actions started to fail"
I am provisioning new HDInsight Hadoop cluster each day with Azure automation and azure-powershell.
Today my cluster fails to create and I got this error for each action script:
`New-AzureRmHDInsightCluster : BadRequest: DeploymentDocument 'CsmDocument_2_0' failed the validation. Error: 'Script Action location cannot be accessed Uri : https://<...>  ErrorMess
age : Requires condition failed`

Scri

[2016-09-14 10:07] Hijdra opened #2938 "Setting WebApp diagnostic logs to blob fails"
### Cmdlet(s)
### PowerShell Version

Instructions: to get PowerShell version, type `$PSVersionTable` and look for the value associated with `PSVersion`
PSVersion: 5.0.10240.16384
### Module Version

AzureRM: 2.1.0
### OS Version

Instructions: to get OS version, type `$PSversionTable` and look for value associated with `BuildVersion`

BuildVersion: 10.0.10240.16384
### Description

I am trying to

[2016-09-14 14:04] 4c74356b41 commented on #1803
Am I losing my mind?
:\Windows\system32> Import-AzureRmAutomationDscConfiguration -SourcePath C:\whatever\setup-sql-2016.ps1
mport-AzureRmAutomationDscConfiguration : BadRequest: The configuration name in the script must match the configuration name.

In the file I have "Configuration setup-sql-2016"

[2016-09-14 15:06] gregjhogan opened #2939 "Error deploying template with key vault reference when key vault is in different subscription"
I am trying to use `New-AzureRmResourceGroupDeployment` to deploy a template to a resource group where some of the template parameters are key vault references.  I have enabled `enabledForTemplateDeployment` on the key vault, but when I attempt to deploy my template/parameter file I get the below error.  The key vault is in a different subscription than the resource group I am deploying to, but th

[2016-09-14 16:58] gregjhogan commented on #2939
I found the permission referenced, but the description seems to indicate it is specifically for virtual machines (see below).  Is the description wrong (and I really should need this permission) or is the permission checking wrong (they key vault already has ```enabledForTemplateDeployment ``` set to true and I can read the secrets with my user).  Thanks!

[code]

[2016-09-14 18:41] vivsriaus opened #2940 "ARM: Use constant api version for Get-AzureRmResource, Find-AzureRmResource and Find-AzureRmResourceGroup cmdlets"
### Cmdlet(s)
Get-AzureRmResource, Find-AzureRmResource and Find-AzureRmResourceGroup

### PowerShell Version
Instructions: to get PowerShell version, type `$PSVersionTable` and look for the value associated with `PSVersion`
Details [here](https://github.com/Azure/azure-powershell/issues/2891)

### Module Version
Details [here](https://github.com/Azure/azure-powershell/issues/2891)

### OS Version

[2016-09-15 00:12] skomarag opened #2942 "accelrated networking tests skipped due to nrp not rolled out"
### Cmdlet(s)
### PowerShell Version

Instructions: to get PowerShell version, type `$PSVersionTable` and look for the value associated with `PSVersion`
### Module Version
### OS Version

Instructions: to get OS version, type `$PSversionTable` and look for value associated with `BuildVersion`
### Description
### Debug Output

Instructions: to get Debug Output, set `$DebugPreference="Continue"` and

[2016-09-15 06:05] manyrootsofallevil opened #2945 "New-AzureStoreAddOn throws certificate error"
### Cmdlet(s)

New-AzureStoreAddOn
### PowerShell Version

Instructions: to get PowerShell version, type `$PSVersionTable` and look for the value associated with `PSVersion`
5      0      10586  494
### Module Version
### OS Version

Instructions: to get OS version, type `$PSversionTable` and look for value associated with `BuildVersion`
10     0      10586  494
### Description

Running the comman

[2016-09-15 09:12] jinmiaoms opened #2946 "AzureRm cmdlet asks for login even after I've run Add-AzureRmAccount"
### Cmdlet(s)
Add-AzureRmAccount, Find-AzureRMResource

### PowerShell Version
### Module Version
PS C:\WINDOWS\system32> $Psversiontable

Name                           Value
----                           -----
PSVersion                      5.1.14393.187
PSEdition                      Desktop
PSCompatibleVersions           {1.0, 2.0, 3.0, 4.0...}
BuildVersion                   10.0.14393.187
CL

[2016-09-15 09:19] jinmiaoms commented on #2946
I restarted the shell and it's working now.  Closing the issue.

[2016-09-15 09:19] #2946 closed

[2016-09-15 18:00] cormacpayne commented on #2921
The platyPS team is releasing v0.7.1 for us on Friday to fix a few issues that were caught during testing. The milestone for v0.7.1 can be found [here](https://github.com/PowerShell/platyPS/milestone/6).

[2016-09-15 18:01] cormacpayne commented on #2219
Issue for initial steps: https://github.com/Azure/azure-powershell/issues/2921

PR for above issue: https://github.com/Azure/azure-powershell/pull/2932

[2016-09-16 14:55] sandeepcp commented on #1316
I am getting below error. Can someone please help

RROR] New-AzureRmResourceGroupDeployment : 10:36:14 AM - Resource Microsoft.Compute/virtualMachines/extensions 'Server/joindomain' failed with message '{
10:36:14 - [ERROR]   "status": "Failed",
10:36:14 - [ERROR]   "error": {
10:36:14 - [ERROR]     "code": "ResourceDeploymentFailure",
10:36:14 - [ERROR]     "message": "The resource operation comp

[2016-09-16 16:05] piquet-h commented on #1896
I have a Visual Studio Online account with a release pipeline that creates an automation principal. I've given the VisualStudioSPN owner access to my subscription, but when it tries to create the new Application - I get the error.
`$Application = New-AzureRmADApplication -DisplayName $ApplicationDisplayName -HomePage ("http://" + $ApplicationDisplayName) -IdentifierUris ("http://" + $KeyId) -KeyCr

[2016-09-16 16:14] mandrika commented on #2915
It seems that non-interactive flow is not allowed for live id accounts in active directory. Will it ever be possible?
The solution for now is to use a proper AD account to login.

[2016-09-16 16:47] markcowl opened #2953 "Update module build tools to repack modules using nuget pack"
### Description

Currently module nuget package are reconstructed by rezipping the packages.  Instead, we need to remove the nuget-specific files and repack the module susing nuget pack.

### Cost: 2

[2016-09-16 18:02] RBACAsk commented on #1896
In this case the confusion seems to stem from the two access control methods involved:

·         Giving the SP “Owner” rights allows the SP access to Azure resources (VMs, Storage accounts etc)

·         The rights to create Applications/Users/Groups are controlled/enforced by Azure Active Directory (as opposed to Azure Resource Manager)

Thus, you would need to give your SP the appropriate righ

[2016-09-16 18:04] sandeepcp commented on #1316
Hi,

I have modified the domain join script to create new Server from Azure Image and add to Existing network and Storage,..Everything is working except the part domain joining. Can some one please help me?

{

    "$schema": "https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
    "contentVersion": "1.0.0.0",
    "parameters": {
        "exStorageAccountName": {

[2016-09-17 00:23] singhkays commented on #1316
@sandeepcp Please file a support request for investigating this. Nothing obvious I can see from the error.

[2016-09-17 00:46] sandeepcp commented on #1316
Thank you. Do you want me to create a ticket with Microsoft?

On Friday, September 16, 2016, Kay Singh <notifications@github.com> wrote:

--

*Regards,Sandeep*

[2016-09-17 00:53] singhkays commented on #1316
@sandeepcp Yes, this needs investigation of the agent logs on the vm

[2016-09-17 01:17] singhkays commented on #2385
@philmea Is this for the parameter set without any parameters specified or with a RG & VM Name specified?

[2016-09-17 03:42] singhkays commented on #267
@hyonholee Did #2682 fix this? Can we close this?

[2016-09-17 03:44] singhkays commented on #504
Closing as fixed by #2615

[2016-09-17 03:44] #504 closed

[2016-09-17 04:21] singhkays commented on #2244
@cohowap Use `Set-AzureRmVmOperatingSystem` cmdlet https://msdn.microsoft.com/en-us/library/mt603843(v=azure.200).aspx

[code]

[2016-09-17 04:21] #2244 closed

[2016-09-17 04:24] singhkays commented on #2217
@ashleywb `-EnableAutoUpdate` is a switch. If you don't specify it, the automatic update property shouldn't be set.

[2016-09-17 04:24] #2217 closed

[2016-09-17 04:26] singhkays commented on #2276
@thehuxman The concept of disks does not exist in ARM atm. The platform team is working on bringing back this functionality. We'll have cmdlets when the platform releases this.

[2016-09-17 04:26] #2276 closed

[2016-09-17 04:27] singhkays commented on #2345
@krkhan Was this fixed?

[2016-09-17 04:28] singhkays commented on #2350
@avishnyakov If this works with the local cmdlet this could be something up with the Automation service. Please file a support ticket to debug this.

[2016-09-17 04:28] #2350 closed

[2016-09-17 04:42] singhkays commented on #2685
@slav This is a good idea but to set expectations, realistically this will be on the backlog due to limited resources.

[2016-09-17 06:36] krkhan commented on #2345
@singhkays It's blocked on lack of a KeyVaultClient in test framework (which in turn is blocked on AD integration). Added you to internal thread.

[2016-09-18 16:39] sandeepcp commented on #1316
Do you want me to send you the debug logs?

On Friday, September 16, 2016, Kay Singh <notifications@github.com> wrote:

--

*Regards,Sandeep*

[2016-09-19 10:13] PadmaPeddigari commented on #1586
Am trying to create webhostingplan using new-azurermresource but getting below error

here is my propertyobject
System.Collections.Hashtable=@{ sku=Standard;name=wsjenkinstestwinshuttleEA;workersize=2;workersizeid=2;numberofworkers=1;webspace=southeastasiawebspace}

New-AzureRmResource : The pipeline has been stopped.
At D:\Padma\WSOnline\AutomationScripts\Post\CreateWebHostingPlan-Copy.ps1:133 ch

[2016-09-19 10:19] mcumpl commented on #2419
Any news here? I am getting the same error.

`New-AzureRmVirtualNetworkGateway : An error occured.
StatusCode: 500
ReasonPhrase: Internal Server Error
OperationID : 'f5a5ad43-48cb-467f-a563-cfb85a3ded35'
At C:\Projects\eVzp.Infrastructure.Itest\deployment\helpers\CreateGateway.ps1:11 char:5
+     New-AzureRmVirtualNetworkGateway -Name $vnetGatewayName -Resource ...
+     ~~~~~~~~~~~~~~~~~~~~~~~~~~

[2016-09-19 16:01] jimlane opened #2960 "Azure Automation - Get-AzureRmResourceGroup : Run Login-AzureRmAccount to login."
The AzureRM.profile and AzureRM.resources modules are added to new automation accounts automatically, but the included versions are 1.10. If you add additional ARM modules to your account (e.g. AzureRM.HDInsight) these will be of the latest version and will conflict. The fix is to add the latest versions of AzureRM.profile and AzureRM.resources to your automation account as well.

[2016-09-19 19:21] lamchester commented on #2419
I looked at the request. The ipconfiguration being referenced doesn’t exist. Also, you can only have one VPN gateway per virtual network, so you’d need to create another virtual network (and public ip address, and ipconfiguration) to create another virtual network gateway.

PUT https://westeurope.network.azure.com:30008/a9c6dfb3-3353-42f2-a1e2-c690d527bca1/131182912168662763/subscriptions/(subid)/

[2016-09-20 01:31] JustinHackett opened #2966 "Login-AzureRmAccount -ServicePrincipal does not work on remote machine"
### Cmdlet(s)
Login-AzureRmAccount, Get-AzureRmResource

### PowerShell Version
4.0

### Module Version
1.1.0      AzureRM.ApiManagement
1.0.8      AzureRM.Automation
0.9.5      AzureRM.AzureStackAdmin
0.9.6      AzureRM.AzureStackStorage
1.0.8      AzureRM.Backup
1.1.0      AzureRM.Batch
1.0.2      AzureRM.Cdn
1.3.0      AzureRM.Compute
1.0.8      AzureRM.DataFactories
1.1.0      AzureRM.DataLake

[2016-09-20 08:59] ironicLemon commented on #2939
I had the same error when using a service principal for deployment. The error was not actually to do with the key vault permissions they were actually fine. The issue was my deployment user did not have a RmRoleAssignment on the resource group that contained the key vault.

So using:
New-AzureRmRoleAssignment -RoleDefinitionName Contributor `
                          -ObjectId $objectId  `

[2016-09-20 11:29] gregjhogan commented on #2939
The contributor role includes the permission MICROSOFT.KEYVAULT/VAULTS/DEPLOY/ACTION so you did in fact give your user the permission that the error message mentions.  I ended up creating a custom role with just that one permission and assigning it to the service principle on the resource group with the key vault to fix the issue.

I am still curious if it is correct that this permission is needed

[2016-09-20 15:59] saimsh opened #2972 "set-azureRMVMextension command does not execute correctly"
### Cmdlet(s)

### PowerShell Version
Instructions: to get PowerShell version, type `$PSVersionTable` and look for the value associated with `PSVersion`
S C:\Users\saimsh> $PSversionTable

Name                           Value
----                           -----
PSVersion                      5.1.14393.187
PSEdition                      Desktop
PSCompatibleVersions           {1.0, 2.0, 3.0, 4.0...

[2016-09-20 16:34] saimsh commented on #2972
also, i would like to get some enlightenment in the differences between set-azurermvmextension and set-azurermrvmcustomscriptextension

[2016-09-20 17:48] ravbhatnagar commented on #2309
Fixed

[2016-09-20 17:48] #2309 closed

[2016-09-20 18:18] saimsh commented on #2972
I performed a couple of tests and was able to get around the issue. it turns out that ARM doesnt support minor version parameters. i was able to execute the  extension using -typeHandlerVersion "1.5".

I also had a discussion with PG around the differences between et-azurermvmextension and set-azurermrvmcustomscriptextension. it turns out that azurermvmcustomscriptextension is exclusively for wind

[2016-09-21 00:25] TarasRoshko opened #2979 "Usability issues with long running cmdlets"
### Cmdlet(s)

[code]
### PowerShell Version

`5.1.14393.103`
### Module Version

`Latest (2.1.0 - 3.1.0)`
### OS Version

`10.0.14393.103`
### Description

Long running cmdlets are painful to work with, there's no consistency when it comes to their return types, behavior and so on.

Highlighted cmdlets are impossible to use in automation scripts without multiple hacks (`Start-Sleep` or polling on

[2016-09-21 02:52] markcowl commented on #2953
Fixed

[2016-09-21 02:52] #2953 closed

[2016-09-21 03:57] kmkumaran opened #2984 "Login-AzureRmAccount fails with MFA error for a regular account not enabled for MFA"
We notice that Login-AzureRMAccount for a regular account for which MFA is not enabled, ends up failing with a MFA error.
##[error]AADSTS50076: Due to a configuration change made by your administrator, or because you moved to a new location, you must use multi-factor authentication to access 'XXX'.

The issue was reported in VSTS task which is consumer of this command. Refer - https://github.com/M

[2016-09-21 07:53] hbuckle opened #2985 "Get-AzureRmWebAppSlot return type"
### Cmdlet(s)

Get-AzureRmWebAppSlot
### PowerShell Version

PSVersion                      5.1.14394.1000
### Module Version

Cmdlet          Get-AzureRmWebAppSlot                              2.1.0      AzureRM.Websites
### OS Version

BuildVersion                   10.0.14394.1000
### Description

Instead of writing each web app slot to the output stream Get-AzureRmWebAppSlot is returning a Sys

[2016-09-21 08:25] blueww commented on #69
There are no more comments for this and we have give the script to resolve the issue, so close it.

[2016-09-21 08:25] #69 closed

[2016-09-21 08:31] blueww commented on #80
In current 2.1 build, New-AzureStorageShare can return the new Storage share object.
How do you think about the current behavior?

$share = New-AzureStorageShare -Name abc
$share.GetType()

IsPublic IsSerial Name                                     BaseType
-------- -------- ----                                     --------
True     False    CloudFileShare                           System.Object

[2016-09-21 08:45] blueww commented on #2337
MoonCake  should already been upgraded, please try if the issue repro

[2016-09-21 08:50] blueww commented on #789
We have open a task to track the issue and will triage it according to our bandwidth.

[2016-09-21 17:50] JustinHackett commented on #2966
This is the full stack trace:
System.ArgumentException: Your Azure credentials have not been set up or have expired, please run Add-AzureAccount to set up your Azure credentials. ---> System.Collections.Generic.KeyNotFoundException: Unable to retrieve service key for ServicePrincipal account bf9491b7-2355-4fa0-87e9-0b835c38bcf7. Please log in again to supply the credentials for this service princi

[2016-09-21 18:54] shahabhijeet opened #2987 "StaticAnalysis selective tests are ONLY failing on CI"
StaticAnalysis tests are currently failing on CI.
Unable to repro locally.
Will need to investigate what is going on.
Failing Tests
1) ForceParameterWithoutSupportsShouldProcess
2) AddVerbWithoutSupportsShouldProcessParameter
3) ConfirmImpactWithoutSupportsShouldProcess
4) ShouldContinueVerbWithoutForceSwitch

[2016-09-22 02:56] blueww commented on #2337
Close the issue as it's already fixed.
Feel free t reopen if necessary.

[2016-09-22 02:56] #2337 closed

[2016-09-22 02:57] blueww commented on #2666
Close the issue as has already provided the workaround, and not receive any feedback for a long time.
Feel free t reopen if necessary.

[2016-09-22 02:57] #2666 closed

[2016-09-22 02:58] blueww commented on #80
Close the issue as it's already fixed.
Feel free to reopen if necessary.

[2016-09-22 03:02] #80 closed

[2016-09-22 03:05] blueww commented on #1930
Close the issue as has already provided the workaround, and not receive any feedback for a long time.
Feel free to reopen if necessary.

[2016-09-22 03:06] #1930 closed

[2016-09-22 10:50] bet4ur commented on #2937
For some time I ran the cluster without action scripts and each morning I was testing if they might have started to work again - they did after a few days, so I'm closing the issue.

[2016-09-22 10:50] #2937 closed

[2016-09-22 16:47] pcgeek86 commented on #2419
So you identified one or more root causes? Looks like a good opportunity to improve the error messages / handling.

[2016-09-23 01:58] ravbhatnagar commented on #1920
There are 2 issues in this one - first is that querying through OData query didn't work. This one does not need fix as mentioned by Tian above.
Second was adding the Tag param to Find-AzureRmResource cmdlet similar to what we have in Find-AzureRmResourceGroup cmdlet. this one needs to be fixed.

[2016-09-23 02:00] ravbhatnagar commented on #1856
Closing this. Please comment if you still run into an issue.

[2016-09-23 02:00] #1856 closed

[2016-09-23 02:51] pcgeek86 opened #2996 "Remove-AzureRmResource Error"
![image](https://cloud.githubusercontent.com/assets/466713/18772679/3c84ac3c-8106-11e6-8185-38f61859212b.png)

[2016-09-23 12:19] ebrucucen commented on #1724
I wish I could get the disk uris, as the instance view just display the names...
To delete the deallocated VMs' disks:
((Get-AzureRmVM -ResourceGroupName $ResourceGroupName)| foreach-object{Get-AzureRmVM -Name $_.Name -ResourceGroupName $ResourceGroupName -Status}| where-Object {$_.Statuses.Code -eq 'PowerState/deallocated' })|foreach-object{ Get-AzureRmVM -ResourceGroupName $ResourceGroupName -Na

[2016-09-23 13:18] ec-fuelintel opened #2999 "Fail to Import Module AzureRM.Compute OSX"
$PSversionTable

Name                           Value
----                           -----
PSVersion                      6.0.0-alpha
PSEdition                      Core
PSCompatibleVersions           {1.0, 2.0, 3.0, 4.0...}
BuildVersion                   3.0.0.0
GitCommitId                    v6.0.0-alpha.10
CLRVersion
WSManStackVersion              3.0
PSRemotingProtocolVersion      2.3
Serializ

[2016-09-23 16:26] singhkays commented on #1724
@ShabuddinKhan You're missing a `_` from '$_` in the command you pasted. We explored spitting out statuses on our end but quickly realized there is a chance users might hit the API throttling limits because you need to make an instance view API call for each VM in your subscription. Say if you have 5000 VMs in your subscription and you run the Get-AzureRmVm 3 or more times within an hour, you are

[2016-09-23 17:11] cormacpayne commented on #2996
@pcgeek86 what version of Azure PowerShell are you using?

[2016-09-23 18:32] pcgeek86 commented on #2996
@cormacpayne The latest 2.2

[2016-09-23 18:38] cormacpayne opened #3002 "Add tests for CertificateType parameter for KeyVault cmdlets"
The parameter `CertificateType` was added to the cmdlets `New-AzureKeyVaultCertificatePolicy` and `Set-AzureKeyVaultCertificatePolicy`, but there was no test coverage for this change.

Tests will need to be added before the November release to test this new parameter.

[2016-09-23 19:35] markcowl opened #3004 "Add static analysis rule to fail cmdlets that do not use approved verbs"
### Description

Ensure that all cmdlets use an approved verb.  Throw a P1 issue for any cmdlet that does not.
- [x] Add test for new rule
- [x] Add rule to SignatureVerifier as one of the default rules that executes
### Cost: 1

[2016-09-23 20:07] pcgeek86 opened #3005 "Empty nested deployment URI results in generic "internal server error""
### Cmdlet(s)
NewAzureResourceGroupDeploymentCmdlet

### PowerShell Version
5.1

### Module Version
2.2

### OS Version
Windows 10 Anniversary

### Description
Deploy a nested template with an empty string for its URI. Receive an "internal server error."

### Debug Output
Instructions: to get Debug Output, set `$DebugPreference="Continue"` and then execute the cmdlet or script causing the issue

#

[2016-09-23 20:08] pcgeek86 opened #3006 "Invalid API version in Microsoft.Resources/deployments not caught"
### Cmdlet(s)
NewAzureResourceGroupDeploymentCmdlet

### PowerShell Version
5.1

### Module Version
2.2

### OS Version
Windows 10 Anniversary

### Description
Invalid API version for nested template doesn't throw a [useful] exception.

### Script/Steps for Reproduction

Deploy an ARM JSON "parent" template that declares a child template (deployment) resource with an invalid API Version property.

[2016-09-23 20:38] crwilcox opened #3007 "Import-Module AzureRM results in unapproved verbs WARNING"
Importing AzureRM results in warnings about unapproved verbs. This didn't occur with previous versions of the cmdlets.

# Versions
OS: Windows 10 64 bit.
Powershell: 5.1.14
AzureRM: 2.2

# Error Message
[code]

# Full Repro
[code]

[2016-09-23 22:51] stankovski opened #3010 "Make latest releases available on Chocolatey"
There is a choco package for azurepowershell but it's outdated. It would be nice to have the latest releases available as choco packages.

[2016-09-23 23:15] markcowl commented on #2935
Need to update fix to include a ConcurrentHashSet

[2016-09-23 23:16] markcowl commented on #2929
Fixed

[2016-09-23 23:16] #2929 closed

[2016-09-23 23:16] markcowl commented on #2302
Fixed

[2016-09-23 23:16] #2302 closed

[2016-09-23 23:30] markcowl commented on #2610
Fixed

[2016-09-23 23:30] #2610 closed

[2016-09-23 23:43] markcowl commented on #3007
Fixed here:  https://github.com/Azure/azure-powershell/pull/3003 Fix will be released on Wenesday morning

[2016-09-23 23:43] #3007 closed

[2016-09-23 23:45] markcowl commented on #3006
```Test-AzureRMResourceGroupDeployment``` should return a good error message for this.  As I recall, the error stream should contain the detailed errors from the RPs, which would include this.  Is that what you're seeing?

@ravbhatnagar can you take a look?

[2016-09-23 23:47] markcowl commented on #2933
@ravbhatnagar Can you take a look?

[2016-09-23 23:48] markcowl commented on #2934
@pcgeek86 @alexandair opinions?

[2016-09-23 23:49] markcowl commented on #2938
@akurmi can you take a look?

[2016-09-23 23:52] markcowl commented on #2939
@sumedhbarde-msft @pomortaz can you take a look and advise the customer on necessary permissiosn for template deployment using KeyVault

[2016-09-23 23:55] markcowl commented on #2945
@manyrootsofallevil How are you authenticated in this case?  The certificate message is a general message for any unauthorized request, whether it uses certificate credentials or not, so either how you are authenticated and whether you have admin access to the subscription you are using are likely to be the issue

[2016-09-23 23:59] markcowl commented on #2960
@jimlane Yes, this is the case.  The newer versions of those modules use direct, exact  module depednencies, so this should now be easier.  This will be the experience you have every right to expect when this issue is resolved: #2392

SInce this is not mitigated and since the underlying issue is a duplictae, closing in favor of the duplicated issue.

[2016-09-23 23:59] #2960 closed

[2016-09-24 00:04] markcowl commented on #2966
@JustinHackett This looks like it is related to this issue #1835   If you're finding that this is related to the login type and not generally true for loging, then we will investigate this separately, otherwise, we'll close thsi as a duplicate and track the serializability issue.

[2016-09-24 00:05] markcowl commented on #2972
@singhkays can you take a look?

[2016-09-24 00:08] markcowl commented on #2979
@TarasRoshko I notice that all the cmdlets in the list are cmdlets that return before the action is completed.  In your opinion, is it better to have cmdlets that do not return until the job is completed (and can be run as a job), better to return and have a standard polling mechanism, or both?

For example, we could have all such cmdlets implement the AsJob parameter as a consistent solution.

[2016-09-24 00:09] #2940 closed

[2016-09-24 00:10] singhkays commented on #2972
@saimsh Try something like below

[code]

[2016-09-24 00:12] markcowl commented on #2979
@akurmi @SumedhBarde-MS @SiddharthChatrolaMS assignign you guys to address the issue for your individual cmdlets.

Assigning us to update the standards accordingly

[2016-09-24 00:15] markcowl commented on #2984
@kmkumaran This issue comes from AAD and not PowerShell.  Please include more details of an actual ADAL stack trace during a failure, and we may be able to provide some guidance. Otherwise, I will have to close as no repro

[2016-09-24 00:17] markcowl commented on #2985
@akurmi This is just a matter of setting EnumerateCollection to true whe  you write to the output stream.  Please fix.

[2016-09-24 00:20] markcowl commented on #2996
@ravbhatnagar This looks like a piping issue, please make sure that there is a scenario test for this

[2016-09-24 00:22] markcowl commented on #2999
@ec-fuelintel There is no azure compute module for .Net Core powershell.  However, you can likely accomplish many of the tasks you would want the compute module for using the Resources module.  Meanwhile, we are tracking adding additional netcore support here:  #2825

[2016-09-24 00:22] markcowl commented on #2999
Closing as duplicate

[2016-09-24 00:22] #2999 closed

[2016-09-24 00:24] markcowl commented on #3005
@pcgeek86 What is returned when you run Test-AzureRMResourceGroupDeployment?

[2016-09-24 00:24] markcowl commented on #3010
@stankovski Is there a reason to prefer chocolatey packages over packages in the Gallery?

[2016-09-24 00:45] TarasRoshko commented on #2979
@markcowl exactly

Ideally I would suggest to unify all the return types so they look like a `Promise`
But unlike `C#` `Task`, It would be essential to support extra properties defined by cmdlets themselves (in addition to core promise properties)

As an example: we provision Redis but no other resources depend on it per se (can be deployed in parallel), we only await it at the very end of the scr

[2016-09-24 12:59] pcgeek86 commented on #2934
Those are all good options, in my opinion. In particular, `Reset-*` seems like a perfect fit, since the user is "resetting" the Azure Batch tasks back into the pending (active?) state for execution.

[2016-09-24 13:00] pcgeek86 commented on #3006
@markcowl Deployment of a template should be running preflight checks anyway, right? Most resource types handle invalid API versions properly, by returning a useful exception message containing a list of the supported API versions. I would simply expect this Resource Provider (`Microsoft.Resources`) to operate consistently with the other Resource Providers.

[2016-09-24 14:02] kilasuit commented on #2934
Reset, Resume, Restart or Repair would be my suggestions

Repair however to me fits in more with

this sounds like what its really doing is performing a repair operation so I would go with that one myself :wink:

[2016-09-24 14:09] kilasuit opened #3011 "Add StaticAnalysis Rule label"
It would be useful to be4 able to quickly review any issues or PR's for static analysis rules by filtering on a label for them.

thoughts @markcowl ??

[2016-09-24 14:37] kilasuit commented on #3010
I personally don't agree with having Chocolatey and PowerShell Gallery packages for PowerShell packages - it's unneeded duplication of effort unless you are requesting for the MSI to be pushed to Chocolatey in which case I would suggest in moving to making use of the PowerShell Gallery for installation over the MSI installer.

[2016-09-24 15:24] stankovski commented on #3010
Currently we can automate provisioning of our build environment  (which includes net46, dotnet core, powershell 5, git, and whole bunch of other prerequisites) via choco packages. The only package that is not available is Azure PowerShell. Well technically it is available, but not the latest. Ideally I would like to install the entire chain from Chocolatey without having to worry about Powershell

[2016-09-24 15:26] stankovski commented on #3010
By the way current choco installer for Azure PowerShell doesn't include an msi. It downloads one from GitHub releases.

[2016-09-24 22:37] alexandair commented on #2934
I would agree with @pcgeek86. "Reset" is the best option.

[2016-09-25 02:15] kilasuit commented on #3010
You can if not running PSv5 (though why aren't you is a totally different question) install package management (the bits that allow you to install from the PSGallery) on systems with v3 or v4 - I blogged a script to do this at https://blog.kilasuit.org/2016/03/09/updated-quick-win-install-powershell-package-management-on-systems-running-powershell-v3-v4/

[2016-09-25 02:21] stankovski commented on #3010
I'm dealing with Server 2012 R2 Azure VMs that do not come with PSv5 by default. I know I'm being picky here, but I'd like to be able to install my tools via say VM Extension script without needing to reboot the machine.

[2016-09-25 03:26] Pradebban commented on #2876
@markcowl Sorry for the delayed response.

until recently it was not supported at all. But now it shows the migration is available.

[2016-09-25 06:42] kmkumaran commented on #2984
@efridman - can you provide the required traces.

[2016-09-26 04:26] gregjhogan commented on #2939
I did figure out what permissions are currently necessary, but the description of the permission doesn't line up with what I am doing (see previous comment).  This issue can be closed because while the RBAC permissions are either incorrect or confusing (and not well documented), it does work.  Thanks!

[2016-09-26 05:08] Codelnw commented on #1896
Any update on this matter ? I'm experiencing the same issue as @xinyiou .

[2016-09-26 13:18] RolfJ commented on #669
+1

[2016-09-26 13:21] tstringer commented on #2813
@markcowl any update on this?  Thanks in advance! 👍 😄

[2016-09-26 14:42] wangzq opened #3012 "Get or create an AppCredential for an AAD application"
### Cmdlet(s)
Get-AzureRmAdAppCredential, New-AzureRmAdAppCredential

### PowerShell Version
5.1.14393.187

### Module Version
2.0.1

### OS Version
10.0.14393.187

### Description
I want to first retrieve existing AppCredentials for an application then determine if a specific certificate is already uploaded, so that I can only upload it when it is not there. However, since I cannot specify the Ke

[2016-09-26 16:20] markcowl commented on #3011
No issues with a label.  If you think that's useful, we can add it.

[2016-09-26 16:21] markcowl commented on #3011
@kilasuit added

[2016-09-26 16:21] #3011 closed

[2016-09-26 16:22] markcowl commented on #3012
@shuagarw can you take a look?

[2016-09-26 16:53] saimsh commented on #2972
thanks for the update. I will try this out and update to the soonest possible. quick curiosity: does this extension also support using protected settings for the storage container. Please provide the correct way to implement this. My customer would like to use all these settings. also , this will serve to create a documentation for other engineers to follow.
thanks,
saim

[2016-09-26 16:58] markcowl commented on #2915
@mwassell @mandrika that is correct, you cannot use the -Credential parameter with live id credentials.  This is not our restriction, it is an AD restriction.

Keeping this issue open as we should return a better error message in this case that points you toward possible solutions.

[2016-09-26 17:01] markcowl commented on #2915
### Description
Verify the error that is returned from ADAL in this case and improive the returned error message to include possible solutions.

Depending on the error, this could include
- checking your username and passqord
- noting that liveid credentials cannot be used with non-interactive login
- [ ] Add live test for new error message
- [ ] Catch ADAL error appropriately and output improved

[2016-09-26 17:16] singhkays commented on #2972
@saimsh Set-AzureRmVMExtension is a generic extension cmdlet that can work with all extensions so it should support protected settings as well. Use the -ProtectedSettings parameter.

[2016-09-26 17:51] markcowl commented on #3010
@stankovski You can also use the official msi for PowerShellGte cmdlets on v3 and v4:  https://www.microsoft.com/en-us/download/details.aspx?id=51451

[2016-09-26 23:51] shahabhijeet opened #3015 "Shorten Paths for RecoveryServices.Backup"
Currently we are seeing multiple issues across various services where the entire paths are creating CI to fail.
As a long term remediation, we should revisit some of the directory structure that exists currently in PS branch.
In this case, can you shorten the below path (for e.g. your path might change to an appropriate shorter name)
src\ResourceManager\RecoveryServices.Backup\Commands.RecoverySer

[2016-09-26 23:56] kilasuit commented on #3010
@stankovski - there is another way to download the modules from the PowerShell Gallery without needing the PowerShellGet module (or PackageManagement) installed on the machines.

I'm in process of finishing off building the script that can do this for any module on the PowerShellGallery including any dependencies that module would have and expect to have it completed by the end of the week which s

[2016-09-27 13:27] morgansimonsen commented on #1812
Problem seems to have been reintroduced in AzureRM.Network v2.2.0, v2.1.0 works as exptected. Error in 2.2.0:
New-AzureRmVirtualNetworkGatewayConnection :
Mapping types:
UInt64 -> Nullable`1
System.UInt64 -> System.Nullable`1[[System.Int64, mscorlib, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089]]
Destination path:
VirtualNetworkGatewayConnection.EgressBytesTransferred.EgressBy

[2016-09-27 20:09] rajaprad opened #3018 "Get-AzureRmResource command does not fail/error out for random Resource Names"
Cmdlet(s)

Get-AzureRmResourceProvider

PowerShell Version

4.0

Module Version

2.0.1 (Azure)
3.0.1 (AzureRM.Resources)

OS Version

6.3.9600.17400

Description

Am trying to use Get-AzureRmResource command to get information on a particular resource.

_Get-AzureRmResource -ResourceType Microsoft.Devices -ResourceName "**Anything**"_

ResourceId                      ResourceName

[2016-09-27 22:00] #2219 closed

[2016-09-27 22:04] markcowl commented on #2727
Closing as duplicate of #2728

[2016-09-27 22:04] #2727 closed

[2016-09-27 22:37] mattmcloughlin opened #3019 "SecureString should be used for CertificatePassword parameter in New-AzureRmWebAppSSLBinding"
New-AzureRmWebAppSSLBinding
https://msdn.microsoft.com/en-us/library/mt692594.aspx

PowerShell Version: 5.0.10586.494
OS Version: 10.0.10586.494

The cmdlet parameter "CertificatePassword" is of type "String".  This cmdlet should instead use the "SecureString" type.

See the Export-PfxCertificate cmdlet as an example: https://technet.microsoft.com/en-us/library/hh848635.aspx

**-Password[SecureStr

[2016-09-27 23:45] markcowl commented on #2175
@damienthiery Do you see this same behavior in version 1.7, or any of the 2.x versions? We don't actually have control over this, but there may be a machine-wide setting for ADAL embedded browser

[2016-09-27 23:46] markcowl commented on #2131
@fabiendibot I can't reproduce this using the 1.6.0 modules installed from the Gallery.  I also analyzed the dependencies in these modules, and none of them refer to the older 1.0 version of the ClientRuntime.

What appears to be happening is that an earlier version of the clientruntime assembly is being loaded on your machine, likely because of importing or using a cmdlet from an earlier module v

[2016-09-27 23:46] #2131 closed

[2016-09-27 23:57] markcowl commented on #2494
Sorry, should have said @initparam is doing.  When initializing the AuthenticationContext, you can pass in a token cache, or it will automatically use the DefaultSHared TokenCache in the current AppDomain.

[2016-09-28 00:01] markcowl commented on #685
This will be covered by #2220 Closing as duplicate

[2016-09-28 00:01] #685 closed

[2016-09-28 00:24] markcowl opened #3021 "Allow designation of Preview and Stable modules"
### Description
- [ ] Prototype a preview module for AzureRM.Profile with additional cmdlets
- [ ] Update build and publishing tools to support the preview module
- [ ] Test preview module with stable module
- [ ] Write documentation for best practices in preview / stable modules
  - [ ] When module should eb preview
  - [ ] Commitments for preview and stable modules
  - [ ] Moving cmdlets between

[2016-09-28 00:33] markcowl opened #3022 "Move Bootstrapper version map metadata into blob storage"
### Description
- [x] Determine format for profile map metadata
- [x] Write automation to generate metadata, given a profile and ARM version
- [x] Host metadata in blob storage
### Cost: 4

[2016-09-28 00:39] markcowl opened #3023 "Prototype VersionProfile persistence"
### Description
- [x] Meet with PowerShell Core team about default module version loading
- [ ] Investigate save and load default profile version in assembly definition
### Cost: 4

[2016-09-28 00:43] markcowl opened #3024 "Move Websites Module into NetCore"
### Cost: 4

[2016-09-28 00:55] markcowl opened #3025 "Update end-to-end documentation for Swagger -> PowerShell"
### Description

Update the end-to-end flow for Swagger -> PowerShell in adx-documentation-pr
- [ ] Verify that instructions for branch names and build infrasturcture are correct
- [ ] Verify that links for crteating powershell cmdlets are up to date
- [ ] Discover documentation gaps and fix or file issues
### Cost: 2

[2016-09-28 00:59] markcowl opened #3026 "Add PowerShell Version to user agent string for powershell cmdlets"
### Description

Add PowerShell Version to user agent string for powershell cmdlets
- [x] Add the PowerShell version to the UserAgent additions in ClientFactory
- [x] Add unit test for the existence of the UserAgent in created clients
### Cost: 2

[2016-09-28 01:22] markcowl opened #3027 "Add per-module changelog"
### Description
- [x] Add a changelog to the repo for each module
- [x] Write script cmdlet to combine changelogs
- [x] Update psd1 manifest for each module to point to individual changelog
- [x] Update PowerShell documentation and PR guidelines / checklist for updating changelogs in PRs

### Cost: 4

[2016-09-28 01:29] markcowl opened #3028 "Add Per Module breaking changes document"
### Description
- [x] Add documentation folder to each module to include breaking changes document
  - [x] There should be an upcoming breaking changes document
  - [x] There should be a current breaking changes document
- [ ] Update module build to include in module help
- [x] Write scripts to combine breaking changes documents for a release (both types)
  - [ ] Compile help topics for AzureRM mo

[2016-09-28 01:40] markcowl opened #3029 "Tracking: Remove On Demand Run"
### Description
- [x] Add additional logging to measure runtime of each test and suite
- [x] File issues for feature teams to remove or convert MSTest tests to xunit
- [x] File issues for feature teams to Move on demand tests taking  < 1 second into the check-in tests
- [x] File issues for feature teams to remove or improve the runtime of remaining tests
- [ ] Send partner notifications for issues

[2016-09-28 06:32] lidvarko commented on #2131
Hi @fabiendibot ,
Forgot to update this. The problem was resolvd by re-installing the .NET framework on my machine. Don't know why it got messed up, but a fresh install of .NET 4.6 did the trick.

[2016-09-28 15:16] pcgeek86 opened #3030 "Ensure all top level resources can list by Subscription"
### Cmdlet(s)

Get-AzureRmVirtualNetworkGatewayConnection
### PowerShell Version

Instructions: to get PowerShell version, type `$PSVersionTable` and look for the value associated with `PSVersion`
### Module Version

2.2.0
### OS Version

Windows 10 Anniversary Update
### Description

Get-AzureRmVirtualNetworkGatewayConnection shouldn't have mandatory ResourceGroupName parameter
### Script/Steps f

[2016-09-28 15:20] SodaXu commented on #1295
@mortenlerudjordet
it's OK now, i searched out this thread and tried as I want to change some antimalware settings, so like you did:

[code]

then run:
`Set-AzureRmVMExtension -VMName $vm -Name "IaaSAntiMalware" -ResourceGroupName $RG -Settings $config -Publisher Microsoft.Azure.Security -ExtensionType IaaSAntimalware -Location eastasia -TypeHandlerVersion 1.3`

everything seems fine 👍

[2016-09-28 15:24] pcgeek86 commented on #3030
@markcowl @ravbhatnagar  we need to add an automated test for this, that fails the build if any cmdlets require this parameter. I've had to report many other similar circumstances separately. Let's handle this globally for all cmdlets.

#2260
#2628
#2297

[2016-09-28 15:25] pcgeek86 commented on #3030
There might be a few, specific exceptions that would require the `-ResourceGroupName` parameter. For now, I can think of the cmdlets that are part of the `AzureRM.Resources` generic ARM module. If you find others, they can be added as exceptions to the automated test.

[2016-09-28 15:39] nelsonmorais opened #3031 "AzureResourceGroupDeployment : Deployment 'xyz' could not be found on the first 5 seconds check"
### VSTS Task to deploy an ARM Template (AzureResourceGroupDeployment version 1.0.88)

### PowerShell Version
Name                           Value
----                           -----
PSVersion                      5.1.14393.187
PSEdition                      Desktop
PSCompatibleVersions           {1.0, 2.0, 3.0, 4.0...}
BuildVersion                   10.0.14393.187
CLRVersion

[2016-09-28 16:50] markcowl commented on #3030
@pcgeek86 I'm not sure that adding a check across the board is the right solution.  There are a few things that could be in play:

- For some kinds of resources, listing across the entire subscription isn't particularly useful, some Sql resources (firewall rules) and other kinds of subresources fall into this category
-Some RPs don't have this functionality in their API
- Some RPs do have theis fu

[2016-09-28 16:52] markcowl commented on #3030
@twitchax Assigning to you - we need to verify that this is the correct thing to do, and if so, we can enforce it on checkins relatively easily

[2016-09-28 16:58] markcowl commented on #3031
@ravbhatnagar can you take a look?

@bmoore-msft  any pointers on turning on debug stream logging in powershell using the VS plug-in?

[2016-09-28 16:59] markcowl commented on #2966
closing as duplicate per the above.

[2016-09-28 16:59] #2966 closed

[2016-09-28 17:08] markcowl commented on #2461
@MichaelGrafnetter Again, though, for your customer, the STS configuration should dictate that smaart cards are required, and the STS login should require this.  The customer issue seems like an STS configuration issue, and we would need to get ADAL logs for this case to determine where the issue lies.

[2016-09-28 17:24] bmoore-msft commented on #3031
@markcowl - it looks like this is using the built in VSTS build task (not the Visual Studio script)...

@nelsonmorais - what version of AzurePS is running on the build server?  Is it possible the build server has an older version that does not have the fix from the referenced issue?

[2016-09-28 18:07] markcowl commented on #2175
@damienthiery After checking with the ADAL team, the only real solution is to edit a registry key to select a different browser version for the embedded browser control, see: https://blogs.msdn.microsoft.com/patricka/2015/01/12/controlling-webbrowser-control-compatibility/

[2016-09-28 18:07] markcowl commented on #2175
@damienthiery Please let us know if this works for you.  The other alternative would be to use service principall credentials.

[2016-09-28 21:18] markcowl commented on #3002
@markcowl

[2016-09-28 21:29] nelsonmorais commented on #3031
@bmoore-msft - Hi Brian, here's what I get after executing the command: Get-Module -ListAvailable -Name Azure -Refresh

    Directory: C:\Program Files (x86)\Microsoft SDKs\Azure\PowerShell\ServiceManagement

ModuleType Version    Name                                ExportedCommands
---------- -------    ----                                ----------------
Manifest   1.5.0      Azure

[2016-09-28 21:31] bmoore-msft commented on #3031
@markcowl / @ravbhatnagar probably need to confirm, but it won't hurt to try it...

[2016-09-28 21:38] nelsonmorais commented on #3031
@bmoore-msft Or maybe to the latest version according to https://github.com/Azure/azure-powershell/releases

[2016-09-28 21:54] bmoore-msft commented on #3031
Even better ;)

[2016-09-28 21:56] nelsonmorais commented on #3031
I'll give a try tomorrow to see if it works and I'll post back the results. Thanks!

[2016-09-28 22:15] solankisamir commented on #2622
The powershell release https://www.powershellgallery.com/packages/AzureRM/3.0.0 contains the fix.

[2016-09-28 22:15] #2622 closed

[2016-09-28 22:16] solankisamir commented on #2606
The powershell release https://www.powershellgallery.com/packages/AzureRM/3.0.0 contains the fix.

[2016-09-28 22:16] #2606 closed

[2016-09-29 01:02] cormacpayne opened #3033 "Update Contributing.md and PR template"
- Update Contributing.md to include information about PR sizes
    - PowerShell team should be able to open PRs on GitHub
    - The PR owner should be aware of this size issue and test for themselves when the PR is created
    - Recommend splitting the PR into smaller PRs that are able to be reviewed via GitHub
    - If the PR cannot be split, recommend creating individual commits for different pa

[2016-09-29 10:40] mortenlerudjordet commented on #1295
Good to hear. I'll close this then.

[2016-09-29 10:40] #1295 closed

[2016-09-29 12:16] DerekFoster1976 commented on #2065
Still the same issue here.

[2016-09-29 12:35] nelsonmorais commented on #3031
It's working now, so it seem the problem was the outdated AzurePS.
Thanks for your support!

[2016-09-29 14:11] rajaprad opened #3034 "[AzureChinaCloud] : Classic Infrastructure Migration of Storage Account failing with "InternalError : The server encountered an internal error""
Cmdlet(s)

**Move-AzureReservedIP
Move-AzureStorageAccount**

PowerShell Version

4.0

Module Version

2.0.1 (Azure)
3.0.1 (AzureRM.Resources)

OS Version

6.3.9600.17400
### Description
### Debug Output

**DEBUG: ============================ HTTP RESPONSE ============================**

Status Code:
Accepted

Headers:
Transfer-Encoding             : chunked
x-ms-servedbyregion           : chinaea

[2016-09-29 14:56] bmoore-msft commented on #3031
Great - thanks for letting us know...

[2016-09-29 18:20] markcowl commented on #3034
@vinjiang can you take a look?

[2016-09-29 18:31] markcowl opened #3037 "Add documentation on StaticAnalysis failures"
### Description
-  [x] Add a document on static analysis failures to the documentation folder.  The document should describe
  - [x] How to determine if your build is failing due to static anlalysis failures
  - [x] Where to find reports on static analyisis failures in ci and local builds
  - [x] What each static analysis failure meanshow to mitigate each of the static analysis failures
-  [x] Imp

[2016-09-29 18:33] rajaprad opened #3038 "Move-AzureStorageAccount and Move-AzureService : Parameter ordering incorrect/misleading"
### Cmdlet(s)

Move-AzureStorageAccount
Move-AzureService
### PowerShell Version

4.0
### Module Version

2.0.1 (Azure)
3.0.1 (AzureRM.Resources)
### OS Version

6.3.9600.17400
### Description

In **Move-AzureStorage and Move-AzureService** - The positional parameters "Prepare"/"validate"/"commit"/"abort" is made before **"-StorageAccountName**"/ **"-ServiceName"**, which is misleading and not inl

[2016-09-29 18:39] markcowl commented on #3038
@vinjiang can you take a look?

[2016-09-29 20:24] shahabhijeet opened #3039 "Adding empty test project templates for adding SDK and PS test projects"
Add an empty test project that will have all the bare minimum references needed for
1) .NET SDK test project
2) Powershell test project
3) Added documentation to use the test framework
4) Combined bunch of 1 task specific powershell scripts into a module that will perform basic repo tasks

[2016-09-29 23:24] vinjiang commented on #3038
@markcowl , this cmdlet is not done by us. It can be compute team (Mahesh, sorry, I don't know his GitHub account).

[2016-09-29 23:36] cormacpayne commented on #2199
@markcowl This incorrect scaffolding path gets created [here](https://github.com/Azure/azure-powershell/blob/dev/src/ServiceManagement/Services/Commands.Utilities/Common/CloudServiceProject.cs#L143):

[code]

where `Resources.GeneralScaffolding` is `Resources\Scaffold\General\scaffold.xml`

So the problem is the value of `scaffoldingFolderPath`, which gets set [here](https://github.com/Azure/azure

[2016-09-30 04:05] #2972 closed

[2016-09-30 04:05] #2846 closed

[2016-09-30 17:26] singhkays commented on #1384
@kilasuit We're working on getting feedback from a larger community on the proposals outlined in this thread. Here's a survey that's been sent out to different communities with more than 1000+ members (PS experts and non-experts) https://www.surveymonkey.com/r/HF5X9R8

Additionally we've been experimenting with the display format for the Get-AzureRmVm cmdlet (without parameters). Here's a preview

[2016-09-30 22:52] cormacpayne commented on #2921
Documentation found in the following PR: https://github.com/Azure/azure-powershell/pull/2932

[2016-09-30 23:10] singhkays commented on #1978
@gbehera-rvbd That will not help as you are already past the point of no return when you sysprepped the VM from within the guest.

[2016-10-01 21:58] pbering opened #3043 "New-AzureRmAutomationSchedule TimeZone ignored when using DaysOfWeek and WeekInterval"
### Cmdlet(s)
### PowerShell Version

5.1.14393.206
### Module Version

3.0
### OS Version

10.0.14393.206
### Description
### Debug Output

[code]
### Script/Steps for Reproduction

Run `New-AzureRmAutomationSchedule –Name "Friday" (Get-Date).Date.AddDays(1).AddHours(10) -DaysOfWeek Friday -WeekInterval 1 -TimeZone "Europe/Copenhagen" –AutomationAccountName $automationAccount -ResourceGroupName $

[2016-10-02 13:33] fleed commented on #2278
Any plans to fix this? I'm running into the same issue. How can I make the script run seamlessly in a `Visual Studio Team Services` release?

[2016-10-02 22:32] alexandair opened #3044 "Get-AzureRmAutomationModule doesn't return values for Version, SizeInBytes, and ActivityCount properties"
### Cmdlet(s)

Get-AzureRmAutomationModule
### PowerShell Version

 5.1.14300.1000
### Module Version

2.2.0
### OS Version

10.0.14300.1000
### Description

If you specify a value for the -Name parameter, Get-AzureRmAutomationModule populates all property values. If you don't it (getting output for all modules), 3 properties are empty or set to 0: Version, SizeInBytes, and ActivityCount.
### Debu

[2016-10-03 08:59] jlaherran opened #3045 "New-AzureRmRoleAssignment : Cannot access a closed Stream"
### Cmdlet(s)

New-AzureRmRoleAssignment
### PowerShell Version

6.0.0-alpha (PowerShell Core)
### Module Version
### OS Version

3.0.0.0
CentOS Linux release 7.2.1511 (Core)
### Description

Run powershell core under CentOS Linux release 7.2.1511 (Core)
After login and select the subscription, trying to do a role assignment doesn't work.
Reported in this repo as recommended in https://github.com/

[2016-10-03 12:37] spaelling opened #3046 "Get-AzureRmResourceLock does not respect -ErrorAction SilentlyContinue"
### Cmdlet(s)

Get-AzureRmResourceLock
### PowerShell Version

5.0.10586.494
### Module Version

AzureRM.Resources, 3.2.0
### OS Version

10.0.10586.494
### Description

The following gives an error

[code]

I would expect no output with the `-ErrorAction SilentlyContinue` switch.
### Debug Output

[code]
### Script/Steps for Reproduction

See _Description_

[2016-10-03 16:24] cormacpayne commented on #3043
@eamonoreilly Hey Eamon, would you mind taking a look at this issue?

[2016-10-03 16:26] cormacpayne commented on #3044
@eamonoreilly Hey Eamon, would you mind taking a look at this issue?

[2016-10-03 16:30] cormacpayne commented on #3045
@ravbhatnagar Hey Gaurav, would you mind taking a look at this issue?

[2016-10-03 16:31] cormacpayne commented on #3046
@ravbhatnagar Hey Gaurav, would you mind taking a look at this issue?

[2016-10-03 16:46] eamonoreilly commented on #3044
I'll have Safeer have a look. I think this is by design in that we only retrieve summary information about the modules if you don't specify a specific module name and you need to specify the name to get full details. We could probably exclude these properties when not doing a deep call to avoid any confusion. I'll let Safeer clarify one way or the other.
Thanks,
Eamon

[2016-10-03 19:19] bvirkler commented on #1257
Any timeline on fixing this? This issue makes the use case of processing multiple subscriptions in parallel from Azure Automation impossible.

[2016-10-03 20:56] safeermohammed commented on #3044
What Eamon mentioned is correct, we only retrieve summary information about the modules if  a specific module name is not specified. Specifying the name will give all details.  We did considered excluding these properties when not doing a deep call, but that was leading to different output type from the same cmdlet. We have in backlog to look at alternatives.

[2016-10-03 21:38] begoldsm commented on #2908
@markcowl I think it might be good to somehow be able to give the option to not even include request/response content (even if less than 5k), especially if the client author knows it isn't particularly useful for tracing.
For example, if we have a customer uploading a lot of 4kb files, the interesting thing to trace isn't the content of those files, but the request/response headers and error respo

[2016-10-04 05:52] alexandair commented on #3044
I find that design decision not very user friendly. Finding info about versions for a bunch of modules at the same time shouldn't involve some additional commands (like when I want to check out Azure-related modules that I've updated). Especially since Portal is also missing a Version column and we need to click on any single module to find its version in the Portal. That's not optimal.

[2016-10-04 09:22] lpassig commented on #2461
@markcowl @MichaelGrafnetter As a workaround you could authenticate against Azure AD respectively AD FS like this:

$secpasswd = ConvertTo-SecureString 'PASSWORD' -AsPlainText -Force
$mycreds = New-Object System.Management.Automation.PSCredential ('lennart.passig@customer.com', $secpasswd)

Login-AzureRmAccount -Credential $mycreds

This automatically logs you in without additional Popups.

[2016-10-04 21:28] safeermohammed commented on #3044
We are looking into this. Meanwhile you can try this

$acc = Get-AzureRmAutomationAccount -ResourceGroupName $ResourceGroupName -Name $AutomationAccountName

$acc | Get-AzureRmAutomationModule | Get-AzureRmAutomationModule

[2016-10-05 04:53] alexandair commented on #3044
Smart workaround. Interestingly, it doesn't work for `Microsoft.*` modules.

[2016-10-06 00:03] safeermohammed commented on #3044
Module version is optional property and seems like Microsoft.* modules do not have versions as those are global modules injected in automation

$acc | Get-AzureRmAutomationModule -Name Microsoft.WSMan.Management

ResourceGroupName     : -------
AutomationAccountName : ----------
Name                  : Microsoft.WSMan.Management
IsGlobal              : True
Version               :
SizeInBytes

[2016-10-06 04:00] rajaprad opened #3047 "Set-AzureRmSqlDatabaseAuditingPolicy "not working"/"no documentation" for multiple event types"
Cmdlet(s)

Set-AzureRmSqlDatabaseAuditingPolicy
### PowerShell Version

4.0
### Module Version

2.0.1 (Azure)
3.0.1 (AzureRM.Resources)
### OS Version

6.3.9600.17400
### Description

Set-AzureRmSqlDatabaseAuditingPolicy not working with multiple event types to audit the events

The below command, shows no error- however the table in the storage accounts logs only "Login_Success".
Event "Login_Fai

[2016-10-06 04:13] alexandair commented on #3044
Orchestrator.AssetManagement.Cmdlets is also a global module injected in automation and has a version value. Microsoft.PowerShell.Core is a snap-in (not a module) and has a wrong version 0.0.
[code]

[2016-10-06 09:57] aiden56 commented on #3012
*Following* The current workaround is to not use this - but instead use the Msol cmdlets to achieve an idempotent result.

[2016-10-06 15:09] rajaprad opened #3048 "Set-AzureRmSqlServerAuditingPolicy "not working"/"no documentation" for multiple "event types""
Cmdlet(s)

Set-AzureRmSqlServerAuditingPolicy
### PowerShell Version

4.0
### Module Version

2.0.1 (Azure)
3.0.1 (AzureRM.Resources)
### OS Version

6.3.9600.17400
### Description

Set-AzureRmSqlServerAuditingPolicy not working with multiple event types to audit the events

The below command, shows no error- however the table in the storage accounts logs only "Login_Success".
Event "Login_Failure

[2016-10-06 15:10] efridman commented on #2984
@kmkumaran The login cmdlet is run as part of the VSTS task, before our script starts executing, so we can't add this trace before it. Is there any other way to enable an ADAL trace when using the Azure PowerShell VSTS task?

[2016-10-06 18:28] Gajendra0704 commented on #1724
$ResourceGroupName="GSRG"
$Name="*"

Get-AzureRmVM -ResourceGroupName $ResourceGroupName |
    Get-AzureRmVM -Status |
    Select-Object -Property Name, Statuses |
    Where-Object {$_.Name -like $Name} |
    ForEach-Object {
                            $VMName = $_.Name
                               $_.Statuses |
                  Where-Object {$_.Code -like 'PowerState/*'} |
            ForEach

[2016-10-06 18:39] mjyeaney commented on #1724
Another one-liner I use frequently to show me Resource Group, VM Name, and current status:

[code]

[2016-10-06 21:41] mraymond77 commented on #1812
I get the exact same error as morgansimonsen when attempting to run New-AzureRmVirtualNetworkGatewayConnection

AzureRM Version: 2.1.0

[2016-10-06 21:56] mraymond77 commented on #2873
Also getting this with AzureRmVirtualNetworkGatewayConnection related commands

**Version:**
[code]
**Examples:**
[code]
[code]

[2016-10-06 22:52] bvirkler commented on #1896
I am also experiencing this issue using AzureRm.Resources 3.2.0.  Setting `$debugPreference = 'Continue'` shows that it is still hitting the 1.6-internal api version.

[2016-10-06 23:46] cormacpayne commented on #3047
@akromm Hey Adam, would you mind taking a look at this issue?

[2016-10-06 23:47] cormacpayne commented on #3048
@akromm Hey Adam, would you mind taking a look at this issue?

[2016-10-07 03:11] rajaprad opened #3054 "[AzureChinaCloud] : Classic Infrastructure Migration of Reserved IP failing with "InternalError : The server encountered an internal error""
#### Cmdlet(s)

Move-AzureReservedIP
#### PowerShell Version

4.0
#### Module Version

2.0.1 (Azure)
3.0.1 (AzureRM.Resources)

OS Version

6.3.9600.17400
### Description
### Debug Output

PS C:\Windows\system32> Move-AzureStorageAccount -StorageAccountName "hiddenstorage" -Prepare -Debug
DEBUG: 11:09:08 PM - MoveStorageAccountCommand begin processing with ParameterSet 'PrepareMigrationParameterSe

[2016-10-07 03:12] Pradebban commented on #2876
@markcowl , have opened a new issue for this one - #3054

[2016-10-07 16:31] akromm commented on #3047
@yoavrubin

[2016-10-07 16:32] akromm commented on #3048
@yoavrubin  Could you please investigate this.

[2016-10-07 21:14] yoavrubin commented on #3048
@Pradebban, when you call Get-AzureRmSqlServerAuditingPolicy for the same server, does the set of EventType is different from the set of EventType you sent using the Set-AzureRmSqlServerAuditingPolicy?

[2016-10-08 02:00] Pradebban commented on #3048
@yoavrubin , sorry am not able to understand your query, where am i sending the Event Type. Please be little more specific.

[2016-10-08 03:02] blueww commented on #3034
@markcowl, this cmdlet 'Move-AzureStorageAccount' is added by @hyonholee in commit https://github.com/Azure/azure-powershell/commit/1514e8c40ac252fbeae11fcf694c106b4ee33ac8 to compute team.
Would you please help to assign it to correct team?
Thanks!

[2016-10-08 06:16] yoavrubin commented on #3048
The Set-AzureRmSqlServerAuditingPolicy cmdlet you run includes -EventType Login_Failure,Login_Success. After you make that call, can you call Get-AzureRmSqlServerAuditingPolicy for that same server and take a look at its output? what does the field EventType in the output contains?

[2016-10-08 12:33] Pradebban commented on #3048
EventType              : {Login_Success, Login_Failure}

[2016-10-09 08:10] yoavrubin commented on #3048
Have you set an auditing policy for the database you are connecting to (i.e., called Set-AzureRmSqlDatabaseAuditingPolicy for that database)?

[2016-10-09 17:20] Pradebban commented on #3048
No, nothing set on Database level auditing. - Disabled

[2016-10-10 02:17] graemechristie commented on #906
Any update on this ?

[2016-10-10 08:14] yoavrubin commented on #3048
Can you provide the name of the server and database you are using and the timeframe when you ran these tests?

[2016-10-10 10:47] mani0070 opened #3056 "Unable to update azurerm.profile module in azure automation"
### Cmdlet(s)
### PowerShell Version

Instructions: to get PowerShell version, type `$PSVersionTable` and look for the value associated with `PSVersion`
PS C:\Users\mani> $PSVersionTable

Name                           Value

---

PSVersion                      5.1.14393.206
PSEdition                      Desktop
PSCompatibleVersions           {1.0, 2.0, 3.0, 4.0...}
BuildVersion

[2016-10-10 12:04] Pradebban commented on #3048
@yoavrubin, can you try to repro in another test server? for security purposes i may not be able to share the details of the server.

You can follow, ###Script/Steps for Reproduction

[2016-10-10 12:59] yoavrubin commented on #3048
I have tried to repro, but got a valid result. Is it possible that you have a blob auditing enabled? Can you call Disable-AzureRmSqlServerAuditing (for the server) and Disable-AzureRmSqlDatabaseAuditing (for your database) and then call Set-AzureRmSqlServerAduditing with the parameters you've described before

[2016-10-10 14:03] invisibleaxm commented on #2873
Looping @markjbrown as it looks like he identified a similar (same?) issue #1812 back in May. I tried multiple things, including installing older versions of AzureRM / AzureRM.Network with no success:

`> Get-Module AzureRM | Select-Object Version

Version
-------
1.5.0  `

Getting the same error

`
get-azurermvirtualnetworkgatewayconnection : Missing type map configuration or unsupported mapping.

[2016-10-10 14:18] Pradebban commented on #3048
Do you mean Remove-AzureRmSqlServerAuditing and Remove-AzureRmSqlDatabaseAuditing. i dont see any cmdlet like Disable-AzureRmSqlServerAuditing / Disable-AzureRmSqlDatabaseAuditing

[2016-10-10 14:21] yoavrubin commented on #3048
Yes, my bad, Remove-*

[2016-10-10 14:29] Pradebban commented on #3048
I did remove SqlServerAuditing and SqlDatabaseAuditing and enabled SqlServerAduditing with the parameters i have described, Same results. Success is getting logged and Failure not.

[2016-10-10 16:05] yoavrubin commented on #3048
In an offline discussion with @Pradebban we were able to reproduce the issue. The team will start looking for a solution.

[2016-10-10 17:09] ravbhatnagar commented on #3045
@shuagarw to take a look

[2016-10-10 17:10] ravbhatnagar commented on #3031
Looks like this has been resolved. PLease let us know if you still run into this.

[2016-10-10 17:10] #3031 closed

[2016-10-10 17:27] ravbhatnagar commented on #2807
@cormacpayne - Please assign to someone on Insights team to investigate.

[2016-10-10 17:30] ravbhatnagar commented on #2723
Investigating

[2016-10-10 17:31] ravbhatnagar commented on #2568
Closing. Please let us know if you still see this issue

[2016-10-10 17:31] #2568 closed

[2016-10-10 18:34] cormacpayne commented on #3048
@yoavrubin any update on the status of this issue?

[2016-10-10 19:00] jennyhunter-msft opened #3057 "Add-AzureRmAccount : A parameter cannot be found that matches parameter name 'Credential'"
### Cmdlet(s)
Add-AzureRmAccount

### PowerShell Version
[code]

### Module Version
AzureRM.NetCore.Preview

### OS Version
Ubuntu 14.0.4

### Script/Steps for Reproduction
Run Add-AzureRmAccount with the credential parameter in PowerShell for Linux after importing the AzureRM.NetCore.Preview package. Also repeatable with Login-AzureRmAccount
e.g. Add-AzureRmAccount -Credential $Credential -Tenant

[2016-10-10 19:20] markcowl commented on #3054
@DeepakRajendranMsft can you take a look?

[2016-10-10 19:44] markcowl commented on #3057
@jehunte  This is bad documentation, the scenarios and interface have changed due to differences in ADAL support in .net core.   The parameter set for service principal with secret login is:

[code]

Keeping the issue to update the help documents

[2016-10-10 23:47] ravbhatnagar commented on #3005
@TianoMS - PLease verify this. The service should be returning the correct error and code.

[2016-10-10 23:51] ravbhatnagar commented on #2923
This issue was fixed a few releases back. The customer might not be using the latest PS version since the PS versions generally lag a little behind on the hosted build servers on VSTS.

[2016-10-10 23:51] #2923 closed

[2016-10-10 23:53] ravbhatnagar commented on #2891
Fixed

[2016-10-10 23:53] #2891 closed

[2016-10-11 00:18] ravbhatnagar commented on #3006
Investigating. @pcgeek86 - Yes, deployment will do the preflight checks.

[2016-10-11 00:19] ravbhatnagar commented on #3046
@TianoMS - Please investigate and fix if this is an issue

[2016-10-11 01:09] markcowl commented on #3056
@safeermohammed @eamonoreilly Can you take  a look?

[2016-10-11 01:45] solankisamir opened #3058 "Import-AzureRmApiManagementApi Broken for Importing Api by SpecificationByUrl"
### Cmdlet(s)

Import-AzureRmApiManagementApi
### PowerShell Version

3.0.0
### Module Version

https://www.powershellgallery.com/packages/AzureRM.ApiManagement/3.0.0
### Description

Import-AzureRmApiManagementApi -SpecificationUrl  is broken. Importing Api fails with Not Supported Exception.
### Debug Output

PS C:\Users\xxx> $DebugPreference="Continue"
PS C:\Users\xxx> Import-AzureRmApiManageme

[2016-10-11 16:35] safeermohammed commented on #3056
Can you do a Get-AzureRmAutomationModule on AzureRm.profile and check if IsGlobal = true?

If yes, Please use New-AzureRmAutomationModule cmdlet to create the module in your account.

[2016-10-11 19:39] markcowl commented on #2921
Fixed

[2016-10-11 19:39] #2921 closed

[2016-10-11 19:57] cormacpayne opened #3061 "Add missing help for Profile cmdlets"
Using `Validate-ServiceMarkdownHelp`, the following cmdlets need to be updated:

**Add-AzureRmAccount**
- No output description found

**Add-AzureRmEnvironment**
- No examples found

**Disable-AzureRmDataCollection**
- No examples found
- No output description found

**Enable-AzureRmDataCollection**
- No examples found
- No output description found

**Get-AzureRmContext**
- No examples found

**Ge

[2016-10-11 20:11] alpinemountain opened #3062 "New-AzureRmRoleAssignment "object reference not set to an instance of an object""
cmdlet:  New-AzureRmRoleAssignment
# Prerequisites
#1.  Create a new Azure AD directory
#2.  Create a new user in the directory
#3.  Use the credentials from (2) when the login box appears below

Login-AzureRmAccount

$certSubject = "https://myuniquewebappname887788"
$cert = New-SelfSignedCertificate -CertStoreLocation "cert:\CurrentUser\My" -Subject $certSubject -KeySpec KeyExchange -FriendlyName

[2016-10-11 22:25] saimsh commented on #2972
@singhkays
hi, my customer is still experiencing some issues with the extension. I was able to reproduce the same issues in my test. the following are the commands i used :
rg="debian-arm"
$vm="ssdebian8"
$loc="Central US"
$TheURI = "https://customscripttest.blob.core.windows.net/sscustomscript/debian-systat.sh"
$ScriptSettings = @{"fileUris" = @($TheURI); "commandToExecute" = "./debian-systat.sh"

[2016-10-11 22:28] saimsh opened #3063 "set-azureRMVMextension command does not execute correctly <reference to #2972 that was closed >"
### Cmdlet(s)
### PowerShell Version

Instructions: to get PowerShell version, type `$PSVersionTable` and look for the value associated with `PSVersion`
### Module Version
### OS Version

Instructions: to get OS version, type `$PSversionTable` and look for value associated with `BuildVersion`
### Description
### Debug Output

Instructions: to get Debug Output, set `$DebugPreference="Continue"` and

[2016-10-11 23:00] #2048 closed

[2016-10-11 23:01] cormacpayne commented on #1102
Issue has been resolved in PR https://github.com/Azure/azure-powershell/pull/3042

[2016-10-11 23:01] #1102 closed

[2016-10-11 23:01] cormacpayne commented on #2048
Issue has been resolved in PR https://github.com/Azure/azure-powershell/pull/3042

[2016-10-12 09:13] rasmus91 opened #3067 "Importing an azure sql database in ARM"
### Cmdlet(s)

(AzureRM.Sql)
New-AzureRmSqlDatabaseImport
### PowerShell Version

[code]
### Module Version

[code]

AzureRM.Sql      1.0.9
### OS Version

10.0.10011.16384
### Description

The parameter accepts only an int32 in 'DatabaseMaxSizeBytes' parameter. This creates an issue that the maximum in GB is: (((2147483647 / 1024) / 1024) / 1024) = 1,99

The workaround as is is to import the Data

[2016-10-12 13:52] saimsh commented on #3063
also, when performing further tests with the old extension, I observed the following errrors :
$rg="debian-arm"
$vm="ssdebian8"
$loc="Central US"
$TheURI = "https://customscripttest.blob.core.windows.net/sscustomscript/debian-systat.sh"
$ScriptSettings = @{"fileUris" = @($TheURI); "commandToExecute" = "./debian-systat.sh";}
Set-AzureRmVMExtension -ResourceGroupName $rg -VMName $vm -Name "CustomScr

[2016-10-12 13:59] mthenot opened #3069 "Set-AzureRmResource throws MissingApiVersionParameter while -ApiVersion "2015-08-01" is specified"
### Cmdlet(s)

Set-AzureRmResource
### PowerShell Version

Instructions: to get PowerShell version, type `$PSVersionTable` and look for the value associated with `PSVersion`
5.0.10586.494
### Module Version

AzureRM.Resources 3.0.1
### OS Version

Instructions: to get OS version, type `$PSversionTable` and look for value associated with `BuildVersion`
10.0.10586.494
### Description

While trying t

[2016-10-12 14:00] mthenot commented on #3069
btw, I can patch the record using resource explorer without issues.

[2016-10-12 17:00] mthenot commented on #3069
Additionally, it is failing with a different error message for ASE
Set-AzureRmResource : {"Message":"An error has occurred."}
At line:1 char:1
+ Set-AzureRmResource -ResourceId $AzureRmResource.ResourceId `
+ ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    + CategoryInfo          : CloseError: (:) [Set-AzureRmResource], ErrorResponseMessageException
    + FullyQualifiedErrorId :

[2016-10-12 17:08] safeermohammed commented on #3056
If you are updating all the Azure*RM Modules then use the Update-ModulesInAutomationToLatestVersion  script from PowerShellGallery. It is recommended to update all modules.

Note:
1)	Please Click Runbooks => Browse Gallery => Click on Filter => Set the Gallery Source to PowerShellGallery => Click OK in Filter Screen => Search for Update-ModulesInAutomationToLatestVersion.
2)	Please make sure the A

[2016-10-12 18:27] markcowl commented on #3069
@ravbhatnagar Can you take a look?

[2016-10-12 18:30] markcowl commented on #3063
@singhkays can you take a look?  Please reassign appropriately if needed.

[2016-10-12 18:32] markcowl commented on #3062
@mattmcloughlin Can you retrieve the service principal using ```Get-AzureRMADServicePrincipal``` outside this cmdlet?  Also, does it make a difference if you specify the ```Scope``` parameter?

[2016-10-12 18:33] markcowl commented on #3062
@shuagarw can you take a look?

[2016-10-12 18:35] markcowl commented on #3067
@akromm can you take a look?  Seems reasonable to make this parameter a long int

[2016-10-12 18:45] shuagarw commented on #3062
@rbacAsk for FYI
@mattmcloughlin  Do you have an active subscription associated with this ActiveDirectory? Because you need to have a subscription (or below) scope to give access on. Get-AzureRmSubscription cmdlet should tell you that.
Regardless, the error thrown by the cmdlet is bad (should convey the reason properly), and I have create a task item on our side to fix it.

[2016-10-12 18:45] mattmcloughlin commented on #3062
Hi Mark, yes Get-AzureRMADServicePrincipal returns the principal successfully.  Specifying the "scope" parameter does not make a difference.

[2016-10-12 18:46] markcowl opened #3072 "Update release process document to make release notes active on release"
### Description
- [x] Update release process to merge release->master before publishing modules to the gallery.  This step should happen just after publishing to the test gallery.
- [x] Ensure that the link to the changelog in the psd1 file refers to the master branch
- [x] Investigate whether the current release portion of the changelog could be transferred into the ReleaseNotes section of the ps

[2016-10-12 18:54] alpinemountain opened #3073 "Get-AzureRmADServicePrincipal displays wrong property name (ObjectId instead of Id)"
_PSVersion                      5.0.10586.494
PSCompatibleVersions           {1.0, 2.0, 3.0, 4.0...}
BuildVersion                   10.0.10586.494
CLRVersion                     4.0.30319.42000
WSManStackVersion              3.0
PSRemotingProtocolVersion      2.3
SerializationVersion           1.1.0.1_
### Cmdlet(s)

Get-AzureRmADServicePrincipal
### Module

AzureRM.Resources (version 3.2.0)
### D

[2016-10-12 19:09] akromm commented on #3067
I will involve the required team.

[2016-10-12 19:43] mattmcloughlin commented on #3062
_@shuagarw: "Do you have an active subscription associated with this ActiveDirectory?"_

The Directory was created from the portal.  How would I associate a Subscription with the Directory?

[2016-10-12 19:59] mattmcloughlin opened #3074 "Get-AzureRmADApplication and Get-AzureRmADServicePrincipal need way to query by owner/creator"
According to https://azure.microsoft.com/en-us/documentation/articles/active-directory-service-limits-restrictions/ , "A non-admin user can create no more than 250 objects."

Today I experienced this limit, with the error message:

_New-AzureRmADApplication : The directory object quota limit for the Principal has been exceeded. Please ask your administrator to increase the quota limit or delete ob

[2016-10-12 21:04] mani0070 commented on #3056
Thanks for the update
Below are the warnings I get
![image](https://cloud.githubusercontent.com/assets/9861392/19327635/ca59ec54-90c7-11e6-84dc-e5570c5bca3a.png)

[2016-10-12 21:34] ravbhatnagar commented on #2128
@bmoore-msft - This should work if you set $DebugPreference="Continue". It will still log all the debug messages without prompting. Please let me know if this doesn't work for you. CLosing this for now.

[2016-10-12 21:39] ravbhatnagar commented on #3005
This is a service side issue and will be fixed soon. Will not require a client side fix.

[2016-10-12 21:45] bmoore-msft commented on #2128
No, I still get prompted when adding -debug even with $DebugPreference='Continue'

[2016-10-12 21:45] ravbhatnagar commented on #2128
You don't need to add -debug when you set this preference. Sorry didn't call it out earlier

[2016-10-12 21:49] bmoore-msft commented on #2128
ok, that works...

[2016-10-12 21:49] #2128 closed

[2016-10-12 22:41] nshampur commented on #69
IMO the command needs a -Recurse option. Don't make folks write a routine to achieve something as simple as this.

[2016-10-12 23:19] singhkays commented on #3063
@saimsh The extension name for 2.0 is "customscript" instead of "CustomScriptForLinux". For the blob issue, can you download the blob on the vm manually? There might be an NSG blocking access to the internet from the VM.

[2016-10-12 23:21] singhkays commented on #2972
@saimsh Sorry for the wrong settings above, I've updated them now. The extension name for 2.0 is "customscript" instead of "CustomScriptForLinux".

[2016-10-13 06:34] robertmclaws opened #3077 "Get-AzureSqlDatabaseServiceObjective does not return all DTU tiers"
### Cmdlet(s)

Get-AzureSqlDatabaseServiceObjective
### PowerShell Version

5.0.10514.2
### Module Version

Unknown
### OS Version

10.0.10514.2
### Description

Attempts to update the performance level of an SQL Database to the P6 level, specifically, retrieving the AzureSqlDatabaseServiceObjective for the P6 level is what is causing the issue. I am able to successfully change the performance lev

[2016-10-13 07:43] yoavrubin commented on #3048
@Pradebban , can you try to connect using the secure connection string, i.e., <your-server-name>.database.secure.windows.net and check whether you see in the audit logs the failed logins?

[2016-10-13 12:08] iamselva opened #3078 "create resource group as parallel from console application in different subscription"
Query: I want to create resource group as parallel from console application in different subscription.

I have developed small console application. I have installed Azure Powershell version 3.0.  invoke powershell by system.automation.dll from console application. Please find the code that i have used

C# console application:

[code]
Powershell script

[code]

But all resource group created same s

[2016-10-13 13:42] yoavrubin commented on #3048
@cormacpayne - it is not an AzurePowershell issue, but rather something that is related to AzureSQL auditing. I will leave this issue open for now to allow it to be tracked.

[2016-10-13 14:34] #3005 closed

[2016-10-13 15:09] ravetroll commented on #1460
Insane.  How come this is not properly documented anywhere!

Well done on finding it.

Set-AzureRMWebAppSlot Unable to cast object of type 'System.String' to type 'System.Collections.Hashtable'

[2016-10-13 20:25] blackSphere-xx opened #3079 "New-AzureRmRoleDefinition : InvalidApiVersionParameter"
### Cmdlet(s)

New-AzureRmRoleDefinition
### PowerShell Version

4.0
### Module Version

Manifest   3.2.0      AzureRM.Resources
### OS Version

 6.3.9600.17400
### Description

Running New-AzureRmRoleDefinition -InputFile "pathToJsonFile" returns InvalidApiVersionParameter
### Debug Output

Absolute Uri:
https://management.azure.com//subscriptions/88606f41-ea08-4554-8cda-99648bc55e5a/[sanitized]/

[2016-10-13 23:32] cormacpayne commented on #3027
- Added change log for each ARM service
- Added script that, for each service,
    - Updates the change log to include the release module version
    - Grabs the changes from the change log
    - Adds changes to master change log
    - Adds changes to release notes of corresponding psd1 file

TODO
- Add change log for ServiceManagement
- Add change log for Storage
- Determine size of release notes

[2016-10-14 00:07] gregjhogan opened #3082 "New-AzureRmAutomationWebHook: add support for RunOn"
Please add a `-RunOn` parameter to `New-AzureRmAutomationWebHook` and `Set-AzureRmAutomationWebHook` similar to `Start-AzureRmAutomationRunbook`

[code]

Until that is added, is there any good workaround for scripting out creation of a runbook webhook for a hybrid worker?

Thanks!

[2016-10-14 02:07] gregjhogan commented on #3082
I did manage to find a work-around in the short-term.  You can create the webhook with `New-AzureRmAutomationWebhook` and then update just the `runOn` property with `Set-AzureRmResource`
[code]

[2016-10-14 18:52] montereyharris opened #3084 "Login-AzureRMAccount having issue following Enabling Enterprise State Roaming"
### Cmdlet(s)
Get-AzureRmVm or any get that isn't related to Get-AzureRMSubscription
### PowerShell Version
Instructions: to get PowerShell version, type `$PSVersionTable` and look for the value associated with `PSVersion`
5.1.14393.206
### Module Version
AzureRM.Profile 2.2
### OS Version
Instructions: to get OS version, type `$PSversionTable` and look for value associated with `BuildVersion`
10.

[2016-10-14 21:06] cormacpayne commented on #3033
PR has been merged

[2016-10-14 21:06] #3033 closed

[2016-10-14 21:07] cormacpayne commented on #3072
@markcowl email has been sent that includes gist with proposed changes to release process document

[2016-10-14 23:01] cormacpayne commented on #3073
@ravbhatnagar Hey Gaurav, would you mind taking a look at this issue?

[2016-10-14 23:02] cormacpayne commented on #3074
@ravbhatnagar Hey Gaurav, would you mind taking a look at this issue?

[2016-10-14 23:03] cormacpayne commented on #3077
@akromm Hey Adam, would you mind taking a look at this issue?

[2016-10-14 23:04] cormacpayne commented on #3079
@ravbhatnagar Hey Gaurav, would you mind taking a look at this issue?

[2016-10-14 23:06] cormacpayne commented on #3082
@safeermohammed Hey Safeer, would you mind taking a look at this issue?

[2016-10-15 00:04] pomortaz opened #3086 "Key Vault PowerShell Set-AzureRmKeyVaultAcessPolicy should not allow setting App object ID"
Related to issue: https://github.com/Azure/azure-sdk-for-node/issues/1932
At [here](https://github.com/Azure/azure-powershell/blob/dev/src/ResourceManager/KeyVault/Commands.KeyVault/Models/KeyVaultManagementCmdletBase.cs#L213) it should be verified that the object ID only belongs to service principal, user or group and not application.

[2016-10-15 00:30] amarzavery commented on #3086
I skimmed through the code in xplat cli and feel that the same issue exists in `azure keyvault set-policy` command when the user provides --object-id. We do not check if the objectId belongs to an sp or an application. The help says that the objectId should belong to the principal but the code does not validate that.
https://github.com/Azure/azure-xplat-cli/blob/dev/lib/commands/arm/keyvault/keyva

[2016-10-16 15:13] saimsh commented on #3063
Ahh. i cna definitely try that out as I was able to get it working via azure cli. My customer would like to be able to add protected settings within custom script extension.
He used the older extension ( which i believe should also work) :
$rg="debian-arm"
$vm="ssdebian8"
$loc="Central US"
$TheURI = "https://customscripttest.blob.core.windows.net/sscustomscript/debiansysstat.sh"
$ScriptSettings =

[2016-10-17 15:40] bmoore-msft commented on #3079
Let us know if there's a workaround - seems to be a blocking issue.

[2016-10-17 15:57] vijayjt opened #3088 "New-AzureRmADUser does not support parameters required by Graph API"
### Cmdlet(s)

New-AzureRmADUser
### PowerShell Version

Instructions: to get PowerShell version, type `$PSVersionTable` and look for the value associated with `PSVersion`

[code]
### Module Version
### OS Version

Instructions: to get OS version, type `$PSversionTable` and look for value associated with `BuildVersion`
`10.0.10586.117`
### Description

The New-AzureADUser cmdlet does not have a Ma

[2016-10-17 19:18] markcowl commented on #3073
@shuagarw Can you take a look?

[2016-10-17 19:22] markcowl commented on #3048
@akromm Can we make sure this is assigned appropriately?

[2016-10-17 19:23] markcowl commented on #3074
@shuagarw can you take a look?

[2016-10-17 19:27] markcowl commented on #3078
In te current paradigm, there is one current subscription per AppDomain, so you would need to set up a new AppDomain.  The future plan is to provide an AzureContext parameter so that you could do this within the same AppDomain (tracked in: #1257).  Closing this as a duplicate for that request.

[2016-10-17 19:27] #3078 closed

[2016-10-17 19:30] markcowl commented on #3079
@shuagarw Can you take a look?

@blackSphere-xx @bmoore-msft It would be useful to have debug logs for this, which would show the traffic with the server/  Can you execute this with ```$DebugPreference="Continue"``` and include the logs?

[2016-10-17 19:33] markcowl commented on #3084
@montereyharris This is most likely an issue with incompatible versions of the AzureRM.Compute and AzureRM.Profile modules, or an incompatible version of another module that is loaded (lie Azure).  Can you run

[code]

And include the output?  Normally you can fix this problem by installing the latest msi, which would remove any incompatible versions of downloaded modules in the global scope.

[2016-10-17 19:48] safeermohammed commented on #3082
We have in backlog to add the optional runOn parameter for Webhook. It will be taken up in up coming releases

[2016-10-17 20:00] markcowl commented on #3088
@shuagarw can you take a look?

[2016-10-17 20:06] blackSphere-xx commented on #3079
Was the dump above insufficient? If not I'll have to find a few moments to rerun and verify that there's no information that should not be publically visible in the logs.

-----Original Message-----
From: "Mark Cowlishaw" <notifications@github.com>
Sent: ‎10/‎17/‎2016 12:30 PM
To: "Azure/azure-powershell" <azure-powershell@noreply.github.com>
Cc: "blackSphere-xx" <blackSphere@gmail.com>; "Mention"

[2016-10-17 21:40] cormacpayne commented on #2919
@markcowl in the above description, you mentioned adding a rule to catch parameter names that are plural, but from [Strongly Encouraged Development Guidelines](https://msdn.microsoft.com/en-us/library/dd878270(v=vs.85).aspx):

[code]

Should we still create this rule for parameters and determine if the input they are expecting is a list of some sort, or should we just worry about creating a rule f

[2016-10-17 21:51] saimsh commented on #3063
@singhkays
could you verify if the same protected settings syntax is used for both the publishers. When using an older extension, my customer is running in to the above attached errors. Please provide insights for this.
thanks,
saim

[2016-10-17 23:24] markcowl commented on #2984
@efridman You can use powershell profiles to set up the powershell environment for every session, see: https://technet.microsoft.com/en-us/library/bb613488(v=vs.85).aspx

[2016-10-17 23:25] markcowl commented on #2175
Closing as, we posted a workaround and there has been no response.  Please open a new issue if you see a recurrence.

[2016-10-17 23:25] #2175 closed

[2016-10-17 23:27] markcowl commented on #2461
@lpassig True, but it doesn't work in the MFA case, and only works for work or school accounts

[2016-10-17 23:31] markcowl opened #3091 "Add an option to control PromptBehavior in Add-AzureRmAccount"
### Description

Logging in always displays the username/password login dialog, because we are set to always prompt on login attempts.  Add an option for setting 'Auto' or 'No" prompt behavior so users will use the currently logged in credentials only.

[2016-10-17 23:32] markcowl commented on #2461
@MichaelGrafnetter Closing for lack of additions.  What we can do to provide this functionality is allow setting propmpt behavior (always prompt versus auto) in the parameters to ```Add-AzureRmAccount```.  Added issue #3091 to track this.

Closing for now, if you encounter a case where login is actually failing, please gather the ADAL traces (```$DebugPreference="Continue"``` before logging in) an

[2016-10-17 23:32] #2461 closed

[2016-10-18 02:12] Lickkylee commented on #3054
We met the same error when trying to migrate storage account on AzureChinaCloud using either Azure CLI or powershell. I think it's more likely a RDFE bug. Anyone know how to fix this?

[2016-10-18 05:22] pjolivon commented on #2518
Hi guys,
I am facing the same issue here passing an array to Get-AzureStorageBlobCopyState -WaitForComplete . The first copies are marked as completed and successful but their progress-bars never disappear.
`
 #Do the copy of everything
        $BlobCpyAry = @() #Create array of objects
        foreach ($VHD in $AZRepoCustomVHDs)
        {
           $BlobCopy = Start-CopyAzureStorageBlob -Context

[2016-10-18 15:50] mthenot commented on #3069
another failure for resource of type Microsoft.BizTalkServices/BizTalk

Set-AzureRmResource : <?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title>Service</title>
    <style>BODY { color: #000000; background-color: white; font-f

[2016-10-18 16:32] cormacpayne commented on #3061
Fix is in PR https://github.com/Azure/azure-powershell/pull/3064

[2016-10-18 16:32] #3061 closed

[2016-10-18 16:50] cormacpayne commented on #2922
DONE
- `New-ServiceMarkdownHelp` cmdlet will help partner teams use platyPS to on-board this new model of documentation
- `Update-ServiceMarkdownHelp` cmdlet allows partners to update cmdlet help when updating cmdlets
- `Validate-ServiceMarkdownHelp` cmdlet will detect omissions from help and will fail for required help
- Documentation has been added for on-boarding platyPSHelp and maintaining the

[2016-10-18 22:01] nelsonmorais commented on #2065
Same issue here

[2016-10-18 22:46] godugan opened #3093 "Set-AzureRmOperationalInsightsSavedSearch not working properly"
### Cmdlet(s)
Set-AzureRmOperationalInsightsSavedSearch

### PowerShell Version
5.0.10586.494

### Module Version
Azure Powershell 3.0.0

### OS Version
10.0.10586.494
### Description
When you run Set-AzureRmOperationalInsightsSavedSearch to modify a saved search it generates a warning that "Newer data exists."

It looks like there is a bug where the ETAG does not get sent to the resource provider

[2016-10-18 23:48] surabhi-pandey opened #3094 "Fix and unskip RBAC cmdlet tests"
Test

[2016-10-19 00:59] shahabhijeet commented on #2930
https://github.com/Azure/azure-powershell/pull/3076

[2016-10-19 00:59] #2930 closed

[2016-10-19 01:04] shahabhijeet commented on #2234
PR
https://github.com/Azure/azure-powershell/pull/3052

[2016-10-19 01:04] #2234 closed

[2016-10-19 01:05] shahabhijeet commented on #3039
PS PR https://github.com/Azure/azure-powershell/pull/3053
SDK PR https://github.com/Azure/azure-sdk-for-net/pull/2469

[2016-10-19 01:05] #3039 closed

[2016-10-19 01:05] shahabhijeet commented on #2924
PR
https://github.com/Azure/azure-powershell/pull/3051

[2016-10-19 01:05] #2924 closed

[2016-10-19 14:12] blackSphere-xx commented on #3079
Full dump below. GUIDS, tokens and usernames replaced with  '##########'
=============

New-AzureRmRoleDefinition -InputFile .\Desktop\Dev_Deployment_Contributor.json
DEBUG: 6:59:54 AM - NewAzureRoleDefinitionCommand begin processing with ParameterSet 'InputFileParameterSet'.
DEBUG: 6:59:54 AM - using account id '##########'...
DEBUG: [Common.Authentication]: Authenticating using Account: '#######

[2016-10-19 20:29] saimsh commented on #3063
Hi,
I performed some more testings using the following cmdlets (as described in teh github page for using custom script for linux extension
$RGName = 'saimubunturg'
$VmName = 'saimubuntu1404'
$Location = 'Central US'

$ExtensionName = 'CustomScriptForLinux'
$Publisher = 'Microsoft.OSTCExtensions'
$Version = '1.5'

$PublicConf = '{
    "fileUris": ["https://customscripttest.blob.core.windows.net/ss

[2016-10-19 21:22] ipinak opened #3098 "Get-AzureRmWebAppSlotPublishingProfile has issue using login information"
### Cmdlet(s)
### PowerShell Version

[code]
### Module Version
### OS Version

`BuildVersion                   10.0.14393.206`
### Description

When I try to execute `Get-AzureRmWebAppSlotPublishingProfile -Name ...` I get the following error:

[code]
### Debug Output

Below you can find a part of my debug output, I don't want to post the full output, since it contains some sensitive info.

[code

[2016-10-21 12:03] doctordns opened #3108 "Login-AzureRmAccount does not work with Microsoft accounts"
## Cmdlet(s)
Login-AzureRmAccount

### PowerShell Version
Instructions: to get PowerShell version, type `$PSVersionTable` and look for the value associated with `PSVersion`
5.1

### Module Version
Latest  - 3,0.0

### OS Version
Instructions: to get OS version, type `$PSversionTable` and look for value associated with `BuildVersion`
Win10 AU - 10.0.14393.206

### Description

The cmdlet does not s

[2016-10-21 20:48] cormacpayne commented on #3108
@doctordns Hey Thomas, I am unable to reproduce this issue with my corp or outlook email. Can you please post the debug output from this command call?

[2016-10-21 21:25] yoavrubin commented on #3048
The solution is either to use the secure connection strings or to use blob auditing. After offline discussion with @Pradebban , the chosen solution was to move to blob auditing, this solves the problem.

[2016-10-21 23:18] carteixeira opened #3111 "Bug on version 3.0.0 - Create endpoint for second VIP"
### Description

Following commands can be ran on version 1.6.0 but not with 3.0.0.
See the result and error message when running from version 3.0.0:

[code]

[2016-10-21 23:50] blackSphere-xx commented on #3079
@shuagarw @markcowl was the debug output above sufficient? Do you need anything else from me? I'm pretty desperate for progress here, so anything I can do to help out, please let me know.

Any info you can give me too, even a reasonable workaround would be really, really helpful.

[2016-10-22 12:25] doctordns commented on #3108
If I use Get-Credential to gather the credential, I see this;
PSH [C:\foo\test]: $CRED = Get-Credential tfl@msn.co.uk

PSH [C:\foo\test]: Login-AzureRmAccount -Credential $CRED
Login-AzureRmAccount : unknown_user_type: Unknown User Type
At line:1 char:1
+ Login-AzureRmAccount -Credential $CRED
+ ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    + CategoryInfo          : CloseError: (:) [Add-AzureRmAccoun

[2016-10-22 16:33] AravindBABU95 opened #3113 "Cant switch to ResourceManger"
### Cmdlet(s)
PS C:\Users\Aravind> Get-AzureSubscription

SubscriptionId            : *********************************
SubscriptionName          : ***************
Environment               : AzureCloud
DefaultAccount            : *******************
IsDefault                 : True
IsCurrent                 : True
TenantId                  : 0e4d8c11-122a-48bc-9775-78d28f5cc8c6
CurrentStorageAcco

[2016-10-23 18:36] pcgeek86 opened #3114 "Add CompatiblePSEditions to Azure PowerShell"
Right now, it's possible to import the Azure PowerShell module, designed for PowerShell Desktop Edition, into PowerShell Core Edition. It shouldn't be possible to do this, since we now have support for `CompatiblePSEditions` in the module manifest.

https://msdn.microsoft.com/en-us/powershell/gallery/psget/module/modulewithpseditionsupport

The downside to doing this, is that PowerShell 5.1 is req

[2016-10-23 18:52] pcgeek86 commented on #3113
@AravindBABU95 This functionality changed a long time ago. There's no `Switch-AzureMode` command.

Read here: https://github.com/Azure/azure-powershell/wiki/Deprecation-of-Switch-AzureMode-in-Azure-PowerShell

@markcowl Please close this issue.

[2016-10-23 18:55] pcgeek86 commented on #3108
@doctordns The `-Credential` parameter cannot be used with Microsoft Accounts. It's somewhat subtle in the help, but it's technically documented. Notice how it's specified that the `-Credential` parameter is used to provider "organizational ID" (aka. Azure Active Directory (AAD)) credentials, not Microsoft Accounts.

[code]

[2016-10-23 19:04] kilasuit commented on #3114
This isnt an issue in the Azure PowerShell Modules but an issue in the way PowerShellGet works on PSCore

I've got an idea on how this needs to be implemented but it's likely a significant change to PowerShellGet to get working without further hurdles going forward

[2016-10-23 20:19] pcgeek86 commented on #3114
Someone could still download the Azure PowerShell Desktop Edition module, and attempt to import it into PowerShell Core. PowerShellGet is only one channel to install the module. Manual installation is another.

[2016-10-24 14:42] Pradebban commented on #3048
@yoavrubin, Thanks! We are changing the implementation to use blob auditing due to the known limitations on using Tables for Auditing. Will confirm once we are able to get this working.

[2016-10-24 14:43] sofipacifico commented on #1283
Hello everyone. The issue was resolved? I have a cx with the same case. In advance, thanks!

[2016-10-25 00:17] StephenBuhagiar opened #3115 "Setting Tag Set-azurermresource hanging"
### Cmdlet(s)
### PowerShell Version

PSVersion                      5.1.14393.206
### Module Version

3.0
### OS Version

BuildVersion                   10.0.14393.206
### Description

issue with running set-azurermresource  setting Tags - for Microsoft.Compute the session seems to hang
### Debug Output

attached
### Script/Steps for Reproduction

running set-azurermresource on a virtual machine

[2016-10-25 00:31] markcowl commented on #3093
@chfunk can you take a look?

[2016-10-25 00:32] markcowl commented on #3098
@akurmi can you take a look?

[2016-10-25 00:36] markcowl commented on #3108
@doctordns @pcgeek86 Correct.  Unfortunately, MS accounts (that is, accounts that are not work or school accounts) cannot be used in the non-interactive flow.

The advice for automating is to create and use a service principal.  See: https://gist.github.com/devigned/dae74a7ca54000f7b714  for a script that will create (and login) as a service principal

[2016-10-25 00:37] markcowl commented on #3108
Closing, as this is a platform limitation.

[2016-10-25 00:37] #3108 closed

[2016-10-25 00:38] markcowl commented on #3111
@singhkays @DeepakRajendranMsft can you take a look?

[2016-10-25 00:39] markcowl commented on #3113
@AravindBABU95 Closing, as Trevor is correct, this was part of the update to PowerShell 1.0

[2016-10-25 00:39] #3113 closed

[2016-10-25 00:42] markcowl commented on #3114
@pcgeek86 @kilasuit It's unclear whether we will support both editions in the same module or separate modules per edition going forward.  It isn't a bad piece of documentation, at least, to have the additional metadata per module.

[2016-10-25 00:43] markcowl commented on #3115
@ravbhatnagar can you take a look?

[2016-10-25 12:00] doctordns commented on #3108
Sorry - this may be a platform limitation, but it is also a limitation on the PowerShell cmdlets. The Azure team says to complain here, but you say no.

Why is NO ONE willing to accept this is a limitation and to offer a solution?

Frankly, as the person asking this questin, I do not accept it as being closed.

[2016-10-25 12:24] kilasuit commented on #3108
AFAIK - @hotmail accounts or other "Microsoft accounts" have never been supported from previous conversations that I have had in the past which pointed to a re and **unlikely will ever be** supported as per @markcowl details above.

Your better off creating an Azure AD Directory and creating an administrative account that does have administrative control over the subscription or a Service Principl

[2016-10-25 13:07] asranja opened #3116 "Get-AzureStorageAccount : "GeoReplicationEnabled property will be deprecated in a future release of Azure PowerShell.""
Hey,

We are noticing this warning **"GeoReplicationEnabled property will be deprecated in a future release of Azure PowerShell"** and would like to know the possible impact of this.

We could not find any official documentation online regarding the same. Please share some information with us as to when the property will be deprecated and what will be the resulting impact of the deprecation.

[2016-10-25 13:47] jonsabo commented on #1544
I can reproduce this on AzureRM.Websites v2.2.0.

Looks like it's because `Get-AzureRmWebApp` outputs a list to the pipeline:
[code]

where `Get-AzureRmVm` outputs a VM
[code]

Took a look at the differences
https://github.com/Azure/azure-powershell/blob/dev/src/ResourceManager/Websites/Commands.Websites/Cmdlets/WebApps/GetAzureWebApp.cs#L148-L172

https://github.com/Azure/azure-powershell/blob/de

[2016-10-25 14:33] jonsabo opened #3117 "webapp object does not include kind"
### Cmdlet(s)

`Get-AzureRmWebApp`
### PowerShell Version

5.1.14393.0
### Module Version

3.0.0
### OS Version

10.0.14393.0
### Description

`Get-AzureRmWebApp`'s output doesn't include a `Kind` property, which indicates if the app is a web,  mobile, or API app. This info is returned from the API as shown in the debug output, it just does not make its way into the `Site` object. As is there's no

[2016-10-25 15:24] montereyharris commented on #3084
ModuleType Version    Name                                ExportedCommands
---------- -------    ----                                ----------------
Script     2.2.0      AzureRM.profile                     {Enable-AzureRmDataCollection, Disable-AzureRmDataCollecti...
Binary     1.0.0.681  Microsoft.Azure.ActiveDirectory.... {Connect-PimService, Disable-PrivilegedRoleAssignment, Dis...
Script

[2016-10-25 15:46] montereyharris commented on #3084
Installing new Modules via WebPI cleared the issue

[2016-10-25 15:46] #3084 closed

[2016-10-25 15:51] ljt91 opened #3118 "Set-AzureRmLoadBalancer - Length cannot be less than zero."
### Cmdlet(s)

Get-AzureRmLoadBalancer
Add-AzureRmLoadBalancerRuleConfig
Set-AzureRmLoadBalancer
### PowerShell Version

5.1.14393.206
### Module Version

AzureRM - 3.0.0
### OS Version

10.0.14393.206
### Description

Set-AzureRmLoadBalancer : Length cannot be less than zero.
Parameter name: length
At line:1 char:17
- $LoadBalancer | Set-AzureRmLoadBalancer
-                 ~~~~~~~~~~~~~~~~~~~~~

[2016-10-25 16:12] CaryJ commented on #2080
I see that the documentation for the older SM HDInsight cmdlets, such as Start-AzureHDInsightJob, are now showing that they will be removed in January.  I hope you will have this issue fixed by then, or we may be stuck!  It's been 6 months with no progress on it.

[2016-10-25 16:30] cormacpayne commented on #3027
Fix in PR https://github.com/Azure/azure-powershell/pull/3085

[2016-10-25 16:30] #3027 closed

[2016-10-25 16:36] cormacpayne commented on #3118
@DeepakRajendranMsft Hey Deepak, would you mind taking a look at this issue?

[2016-10-25 16:38] cormacpayne commented on #3117
@akurmi Hey Ashish, would you mind taking a look at this issue?

[2016-10-25 16:57] pcgeek86 commented on #3108
Agreed with this. Microsoft is working to consolidate Microsoft Accounts and Azure Active Directory accounts. In general, as mentioned by @kilasuit, you should use Azure Active Directory (aka. organizational / work / school) user accounts for authentication to Azure services.

For non-interactive background worker processes, as @markcowl has already mentioned, the recommendation is to utilize Azur

[2016-10-25 17:00] markcowl commented on #3116
@vinjiang @blueww Can you provde the customer with some details on deprecation of GeoReplicationEnabled property?

[2016-10-25 17:04] markcowl commented on #2984
Closing as no repro.  Please open a new issue if you can get ADAL traces.

[2016-10-25 17:04] #2984 closed

[2016-10-25 17:15] markcowl commented on #3057
This was fixed in this PR: #3042   WIll be released in the next version.

[2016-10-25 17:15] #3057 closed

[2016-10-25 19:00] doctordns commented on #3108
It is still a bug. If you think about it, MS Accounts live up in Azure. So it should not be an issue.

I would like this fixed.

AND in the mean time, the Cmdlet should explicitly return an error that is less weird!

From: Trevor Sullivan [mailto:notifications@github.com]
Sent: 23 October 2016 19:56
To: Azure/azure-powershell <azure-powershell@noreply.github.com>
Cc: Thomas Lee <doctordns@gmail.co

[2016-10-25 21:23] pcgeek86 commented on #3108
You're more than welcome to want it to be fixed, but the chances of that happening are very slim. Considering that Microsoft is investing in consolidating the login experience, that further reduces the chances of them spending time on a short term solution.

It might not be a bad idea to improve the error message though. I agree that this is quite vague:

@markcowl I'll open a work item for this,

[2016-10-25 21:25] pcgeek86 opened #3121 "Improve error message for Microsoft Account login using -Credential parameter"
As pointed out by another user in #3108, Microsoft Accounts (MSA) are not supported for logging in using the `-Credential` parameter on `Add-AzureRmAccount`. While this is very unlikely to change, can we at least improve the error message that's returned, when you attempt to login with a Microsoft Account, using the `-Credential` parameter?

Right now, the exception message is extremely vague:

/c

[2016-10-25 21:25] pcgeek86 commented on #3108
I filed a new issue here, for the purposes of improving the error messaging.

https://github.com/Azure/azure-powershell/issues/3121

[2016-10-25 22:17] markcowl commented on #3108
@doctordns Understand that I agree with you on the asymmetry between supported scenarios for work/school and msa accounts, it is counter-intuitive and we should not expose it to our users.  Unfortunately, it is not supported by AD so there is nothign we can do about supporting versus not supporting it.

We can return a better error message, however, to point users at the right solution.

[2016-10-25 22:42] cormacpayne opened #3125 "Remove Sql MSTest tests"
Branching from issue https://github.com/Azure/azure-powershell/issues/3029

Remove or convert MSTest tests to xunit

Target for the test can be found [here](https://github.com/Azure/azure-powershell/blob/dev/AzurePowershell.Test.targets#L241)

[2016-10-25 22:44] cormacpayne commented on #3125
@jamestao Hey James, we're looking to remove these tests by the end of the year. Would you mind taking a look and assigning it to the proper milestone? Thanks

[2016-10-25 22:48] cormacpayne opened #3126 "Remove HDInsight MSTest tests"
Branching from issue https://github.com/Azure/azure-powershell/issues/3029

Remove or convert MSTest tests to xunit

Target for the test can be found [here](https://github.com/Azure/azure-powershell/blob/dev/AzurePowershell.Test.targets#L244)

[2016-10-25 22:49] cormacpayne commented on #3126
@shefaliv Hey Shefali, we're looking to remove these tests by the end of the year. Would you mind taking a look and assigning it to the proper milestone? Thanks

[2016-10-25 22:55] cormacpayne opened #3127 "Remove Insights MSTest tests"
Branching from issue https://github.com/Azure/azure-powershell/issues/3029

Remove or convert MSTest tests to xunit

Target for the test can be found [here](https://github.com/Azure/azure-powershell/blob/dev/AzurePowershell.Test.targets#L250)

[2016-10-25 22:56] cormacpayne commented on #3127
@asheniam Hey Andy, we're looking to remove these tests by the end of the year. Would you mind taking a look and assigning it to the proper milestone? Thanks

[2016-10-25 23:11] akurmi commented on #3117
Please assign this to @LukaszStem and include him in all future discussions as he is the new PowerShell owner for App Service.  @ahmedelnably

[2016-10-26 00:49] ejarvi opened #3128 "commented disk encryption example is missing VolumeType parameter"
### Script

[AzureDiskEncryptionPreRequisiteSetup.ps1](https://github.com/Azure/azure-powershell/blob/dev/src/ResourceManager/Compute/Commands.Compute/Extension/AzureDiskEncryption/Scripts/AzureDiskEncryptionPreRequisiteSetup.ps1#L185)
### PowerShell Version

5.0.10586.494
### Actual

Script instructs users to call the cmdlet as follows, but is missing the VolumeType parameter that is required for

[2016-10-26 02:30] blueww commented on #3116
This warning is add by @ogai  in https://github.com/Azure/azure-powershell/commit/dcaac6a2b9882494379f54a830d8b48fac34f242.

The warning is added since GeoReplicationEnabled setting is merged with account Type setting.
Now when GeoReplicationEnabled  is set, we will use StandardGRS Type.
But you can also set it by Type parameter.
[code]
@markcowl, how do you think we should deal with it. We might

[2016-10-26 02:50] blueww commented on #3038
@hyonholee, assign the issue to you as the cmdlet 'Move-AzureStorageAccount' is added by you in commit  1514e8c .
Would you please help to look?
Thanks!

[2016-10-26 02:51] blueww commented on #3034
@hyonholee, assign the issue to you as the cmdlet 'Move-AzureStorageAccount' is added by you in commit  1514e8c .
Would you please help to look?
Thanks!

[2016-10-26 03:04] hyonholee commented on #3034
Internal server error is an error from server with various reasons.  Powershell cmdlets just pass the error message by the server, so if this case happens, you should contact the service.

[2016-10-26 03:21] hyonholee commented on #3038
This is an issue with Help document.

According to the Powershell code, the first position parameter of Move-AzureReservedIP is "Validate/Commit/Prepare/Abort", and the second position parameter of Move-AzureReservedIP is "ReservedIPName".

You can check the position of the parameters with the following commands:

0

1

So we need to update the help document of Move-AzureReservedIP and Move-AzureN

[2016-10-26 04:08] solankisamir commented on #3058
Should be available with November 2 release of Powershell client.

[2016-10-26 11:26] doctordns commented on #3121
Trevor - that will help.
But what I can't really understand is why Microsoft accounts cannot be used, Seems to me it's a simple backend issue that MS could easily solve. As I've said, MS accounts are in the cloud anyway. I'd kind of surprised MS just can't merge them into AAD.

But it seems like no one has the ability to fix this.

A better error message will help. Improved documentation would als

[2016-10-26 12:28] iricigor opened #3130 "Select-AzureRmSubscription - ID not looking all directories"
### Cmdlet(s)
Select-AzureRmSubscription

### PowerShell Version
5.0.10586.494

### Module Version
AzureRM.Profile, 1.0.11 _(I will now update it to latest, but I did not notice this commandlet listed in ChangeLog)_

### OS Version
10.0.10586.494

### Description
Select-AzureRmSubscription -SubscriptionID $ID is throwing an error if subscription is not in first directory.
Select-AzureRmSubscriptio

[2016-10-26 13:06] iricigor commented on #3130
OK, looks like this command is not existing in new module. But, this major breaking change was not mentioned neither in Change Log, neither in any of Migration Guides. Set-AzureRmContext is not having the issue.

https://github.com/Azure/azure-powershell/blob/dev/ChangeLog.md
https://github.com/Azure/azure-powershell/blob/dev/documentation/release-notes/migration-guide.3.0.0.md
https://github.com/

[2016-10-26 13:58] Falconwmua commented on #1544
As a work around you can use:

    PS > $list = Get-AzureRMWebApp
    PS > $list | Select Name

I agree though the Cmdlet needs to be fixed to output the collection rather than the list.

[2016-10-26 15:29] iricigor commented on #3130
New version is not having this issue.

[2016-10-26 15:29] #3130 closed

[2016-10-26 16:02] Moozhe commented on #2658
This breaks service principal automation since a service principal cannot create and assign access rights to a new key vault, even when assigned as the role of owner for the subscription.

[2016-10-26 16:26] cormacpayne opened #3131 "Move Batch tests from on-demand build to check-in"
Branching from issue https://github.com/Azure/azure-powershell/issues/3029

Below is a list of tests that currently run in the on-demand build but not during check-in. Need to add the `Category.CheckIn` trait to these tests.

BatchAccountTests.TestBatchAccountKeys
BatchAccountTests.TestCreateAndRemoveBatchAccountViaPiping
BatchAccountTests.TestCreatesNewBatchAccount
BatchAccountTests.TestGetBatchA

[2016-10-26 16:27] cormacpayne commented on #3131
@jasper-schneider Hey Jasper, would you (or someone on the Batch team) take a look at this issue and assign it to the proper milestone? We are looking to move these tests out of the on-demand run by the end of the year.

[2016-10-26 16:31] cormacpayne opened #3132 "Move Compute tests from on-demand build to check-in"
Branching from issue https://github.com/Azure/azure-powershell/issues/3029

Below is a list of tests that currently run in the on-demand build but not during check-in. Need to add the `Category.CheckIn` trait to these tests.

AEMExtensionTests.TestAEMExtensionAdvancedLinux
AEMExtensionTests.TestAEMExtensionAdvancedWindows
AEMExtensionTests.TestAEMExtensionBasicLinux
AEMExtensionTests.TestAEMExtens

[2016-10-26 16:31] cormacpayne commented on #3132
@singhkays Hey Kay, would you mind taking a look at this issue and assigning it to the proper milestone? We are looking to move these tests out of the on-demand build by the end of the year.

[2016-10-26 16:37] cormacpayne opened #3133 "Move DataFactories tests from on-demand build to check-in"
Branching from issue https://github.com/Azure/azure-powershell/issues/3029

Below is a list of tests that currently run in the on-demand build but not during check-in. Need to add the `Category.CheckIn` trait to these tests.

DataFactoryGatewayTests.TestCreateDataFactoryGateway
DataFactoryTests.TestCreateDataFactory
DataFactoryTests.TestDataFactoryPiping
DataFactoryTests.TestDeleteDataFactoryWithD

[2016-10-26 16:38] cormacpayne opened #3134 "Move Network tests from on-demand build to check-in"
Branching from issue https://github.com/Azure/azure-powershell/issues/3029

Below is a list of tests that currently run in the on-demand build but not during check-in. Need to add the `Category.CheckIn` trait to these tests.

VirtualNetworkGatewayTests.TestSetVirtualNetworkGatewayCRUD
VirtualNetworkGatewayTests.VirtualNetworkGatewayActiveActiveFeatureTest

[2016-10-26 16:39] cormacpayne commented on #3134
@DeepakRajendranMsft Hey Deepak, would you mind taking a look at this issue and assigning it to the appropriate milestone? We are looking to move these tests out of the on-demand build by the end of the year.

[2016-10-26 16:40] cormacpayne opened #3135 "Move Profile tests from on-demand build to check-in"
Branching from issue https://github.com/Azure/azure-powershell/issues/3029

Below is a list of tests that currently run in the on-demand build but not during check-in. Need to add the `Category.CheckIn` trait to these tests.

AzureRMProfileTests.AzurePSComletMessageQueue

[2016-10-26 16:42] cormacpayne opened #3136 "Move RedisCache tests from on-demand build to check-in"
Branching from issue https://github.com/Azure/azure-powershell/issues/3029

Below is a list of tests that currently run in the on-demand build but not during check-in. Need to add the `Category.CheckIn` trait to these tests.

UtilityTests.ValidateResourceGroupAndResourceName_InvalidRedisCacheName_FullName
UtilityTests.ValidateResourceGroupAndResourceName_InvalidRedisCacheName_ID
UtilityTests.Valid

[2016-10-26 16:42] cormacpayne commented on #3136
@SiddharthChatrolaMs Hey Siddharth, would you mind taking a look at this issue and assigning it to the appropriate milestone? We are looking to move these tests out of the on-demand build by the end of the year

[2016-10-26 16:49] cormacpayne opened #3137 "Move Resources tests from on-demand build to check-in"
Branching from issue https://github.com/Azure/azure-powershell/issues/3029

Below is a list of tests that currently run in the on-demand build but not during check-in. Need to add the `Category.CheckIn` trait to these tests.

ResourceClientTests.NewResourceGroupDeploymentWithDelay
DeploymentTests.TestNestedDeploymentFromTemplateFile
DeploymentTests.TestNestedErrorsDisplayed
DeploymentTests.TestNew

[2016-10-26 16:49] cormacpayne commented on #3137
@ravbhatnagar Hey Gaurav, would you mind taking a look at this issue and assigning it to the appropriate milestone? We are looking to move these tests out of the on-demand build by the end of the year.

[2016-10-26 16:51] cormacpayne opened #3138 "Move Sql tests from on-demand build to check-in"
Branching from issue https://github.com/Azure/azure-powershell/issues/3029

Below is a list of tests that currently run in the on-demand build but not during check-in. Need to add the `Category.CheckIn` trait to these tests.

DataMaskingTests.TestDatabaseDataMaskingBasicRuleLifecycle
DataMaskingTests.TestDatabaseDataMaskingNumberRuleLifecycle
DataMaskingTests.TestDatabaseDataMaskingPrivilegedUsers

[2016-10-26 16:51] cormacpayne commented on #3138
@jamestao Hey James, would you mind taking a look at this issue and assigning it to the appropriate milestone? We are looking to move these tests out of the on-demand build by the end of the year.

[2016-10-26 17:13] markcowl opened #3139 "Update references to old scripts in developer documentation"
### Description

Update references to old scripts in the PowerShell documentation
- [ ] Go through the [developer wiki](https://github.com/Azure/azure-powershell/wiki/Microsoft-Azure-PowerShell-Developer-Guide) and change references to legacy scripts.  Where possible, update to include the new scripts that perform this functionality.  Otherwise, update the path to include the LegacyScripts directo

[2016-10-26 17:43] gregjhogan commented on #2658
@pormortaz why does it validate the object ID separately from making the API call to set the policy?  I can do this in an ARM template without changing the permissions, so why wouldn't you support it in the powershell cmdlets?  Using a global admin as you suggested is not an acceptable solution.  Thanks!

[2016-10-26 17:50] pcgeek86 commented on #3121
@doctordns Unfortunately it's not as easy as it sounds. Microsoft Accounts and Azure Active Directory are entirely different systems.

I think the improved documentation is going to be the most realistic option at this point. I'm all about improving functionality, but in this particular case, there is actually a better, supported method. Once you start using Azure Active Directory, instead of Micr

[2016-10-26 17:58] jasper-schneider commented on #3131
Hi @cormacpayne,
We originally removed the Checkin attribute from these tests because we were requested to shorten our checkin test duration to < 5 minutes.  I have an action item to reorganize the scenario tests to be more like end to end scenarios, and then move the more specific details to unit tests.  Some of that work has happened, but it's not yet complete.
So my question for you is: do you

[2016-10-26 18:05] singhkays commented on #3132
@hyonholee Can you take a look at this?

[2016-10-26 19:19] markcowl commented on #3131
@jasper-schneider @cormacpayne Now that the check-in tests run in parallel, the overal suite performance needs to be < 10 minutes or so.

Making this switch is a prerequisite to a module being able to release independently, som this year is ok as a deadline.

[2016-10-26 20:03] doctordns commented on #3121
You may be right.

I wonder if the cmdlet could so some form of screen scraping. Calling the Login-AzureRMAccount does work, just via the GUI. Is the GUI returned capable of being screen scraped?

The cmdlet error messages need to be improved and the cmdlet documentation needs to be improved both to ensure the issue is clear, as is the workaround.

[2016-10-26 20:44] ravbhatnagar commented on #3137
@vivsriaus - Lets take a look at this sometime in November.

[2016-10-26 20:50] jasper-schneider commented on #3131
@markcowl, @cormacpayne,

I've created the following PR to add the attributes: https://github.com/Azure/azure-powershell/pull/3140
Hopefully this meets your needs for this particular issue.  If there are any problems with the PR though, I'll address them in ~2 weeks when I return.

Tests will then be iteratively refactored afterwards..

[2016-10-26 20:51] pomortaz commented on #2658
@gregjhogan ARM template doesn't do validation. However, in the powershell because it is supposed to be more user friendly we have [this validation](https://github.com/Azure/azure-powershell/blob/dev/src/ResourceManager/KeyVault/Commands.KeyVault/Models/KeyVaultManagementCmdletBase.cs#L211) for object ID (Key Vault doesn't support multi-tenant scenarios, so we want to only allow object ID in the c

[2016-10-26 22:45] cormacpayne commented on #3029
@markcowl created issues for teams that have on-demand tests that need to be moved to check-in.

`Add additional logging to measure runtime of each test and suite`
- Currently we can see the runtime of each test. What additional logging are we looking to add?

[2016-10-26 23:51] Pradebban opened #3143 "[AzureChinaCloud] New-AzureRmApiManagement fails with error "NoRegisteredProviderFound" in AzureChinaCloud"
### Cmdlet(s)
### PowerShell Version

PSVersion                      4.0
### Module Version

BuildVersion                   6.3.9600.17400
### Description

Following is the error i get when trying to provision a new API Management Instance.

New-AzureRmApiManagement -ResourceGroupName Pradebban -Name pradebban -Location "China East" -Organization "Own" -
AdminEmail "pradebban@hotmail.com" -Sku Sta

[2016-10-27 00:53] #267 closed

[2016-10-27 00:55] hyonholee commented on #291
Same issue and fixed:  https://github.com/Azure/azure-powershell/issues/267

[2016-10-27 00:55] #291 closed

[2016-10-27 09:04] Vasu1105 opened #3146 "Add automated test for the -JsonAttribute & -ChefServiceInterval option in Set-AzureVMChefExtension"
REF: #3083

Pending automated test for newly added option -JsonAttribute & -ChefServiceInterval Set-AzureVMChefExtension

[2016-10-27 09:17] Vasu1105 opened #3147 "Add automated test for -JsonAttribute & -ChefServiceInterval option for Set-AzureRMVmChefExtension"
REF: #3083

Pending automated test for newly added option -JsonAttribute & -ChefServiceInterval in Set-AzureRMVMChefExtension

There is dependency on #2713 to be get merged for this.

[2016-10-27 15:33] synesthesia commented on #1896
Even when I give the SP the Company Administrator role I get
[code]

[2016-10-27 19:32] clintonm9 commented on #1524
+1

[2016-10-27 23:00] diwudd commented on #2996
Fixed with PR https://github.com/Azure/azure-powershell/pull/3101 .
Resolving.

[2016-10-27 23:00] #2996 closed

[2016-10-27 23:07] markcowl commented on #3143
This is, unfortunately,  expected.  AzureChinaCliud is at least one version behind for every service

[2016-10-28 01:21] Pradebban commented on #3143
@markcowl, this has been working in the past, with the latest powershell release it has stopped working.

**Working Module**: Manifest   **2.0.1**      AzureRM.ApiManagement
**Not Working Module**: Manifest   **3.0.0**      AzureRM.ApiManagement

[2016-10-28 03:24] rajaprad opened #3153 "Get-AzureRmMetricDefinition not providing Metric Definitions of an Azure VM"
### Cmdlet(s)
### PowerShell Version

4.0
### Module Version

2.2.0      AzureRM.Insights
### OS Version

6.3.9600.17400
### Description

Am trying to get the Metric definition of a AzureVM, but there is nothing returned/ no error message/ no verbose message.
### Debug Output

DEBUG: ============================ HTTP REQUEST ============================

HTTP Method:
GET

Absolute Uri:
https://man

[2016-10-28 09:50] rrrrrrich commented on #3077
This also returns Null for P4.

I have noticed that it works fine for Powershell running from a Windows Machine but from inside an Azure Automation Runbook it returns null.

The runbook i'm running is called "Set-AzureSqlDatabaseEdition"

Which is effectively https://gallery.technet.microsoft.com/scriptcenter/Azure-SQL-Database-e957354f

[2016-10-28 19:31] begoldsm opened #3155 "platyPS documentation issues:"
1. folder name in tools is incorrect (should be platyPSHelp not platyPS)
2. Installation does not mention the need to globally install platyPS (Install-Module platyPS)
3. Missing instructions on how to define which service to run help for (the service parameter) with an example (at this point I can't actually figure out how to do it).
4. There needs to be an assumptions/prereqs section indicating

[2016-10-28 19:34] wasserja commented on #1812
I'm also getting this error with AzureRm.Network 3.0.0

[2016-10-28 21:58] cormacpayne commented on #3155
@begoldsm Hey Ben, let me try and clear up a few of these issues:

1. Do you mean it should be "platyPS not platyPSHelp"? Currently there is a folder named ["platyPSHelp"](https://github.com/Azure/azure-powershell/tree/dev/tools/platyPSHelp) in the tools folder. The folder should be called "platyPSHelp" because it contains the cmdlets and cmdlet help for the platyPSHelp module I wrote specific for

[2016-10-28 23:05] pattipaka commented on #2080
@CaryJ Do you still this issue? I am able to run the command with out issue. Here is the script which works fine for me

$Query = "
 CREATE EXTERNAL TABLE IF NOT EXISTS TestStudent
  (
   id string,
   Name string
  )
  STORED BY 'com.mongodb.hadoop.hive.MongoStorageHandler'
  WITH SERDEPROPERTIES( 'mongo.columns.mapping' = '{""id"":""_id"",""Name"":""Name""}' )
  TBLPROPERTIES( 'mongo.uri' = 'mon

[2016-10-30 08:31] athipp opened #3157 "AnalysisServices.Tests must not use hard coded location"
### Cmdlet(s)

### PowerShell Version
5.0

### Module Version
0.0.1 AzureRM.AnalysisServices

### OS Version
10.0.10586.117

### Description
Scenario tests AzureRM.AnalysisServices.Tests have hardcoded location. Need to find a way to make it more maintainable.

### Debug Output
-
### Script/Steps for Reproduction

[2016-10-30 16:14] gregjhogan commented on #2658
I have a service principal that shouldn't need access to the graph API.  I want to use a powershell runbook to perform some tasks.  I want to give the service principal the least privileges necessary.  It seems like the REST API returns a descriptive error message when an invalid object ID is passed, so it doesn't make any sense to me that this extra object ID validation is necessary.  I guess we

[2016-10-30 16:14] #2658 closed

[2016-10-30 17:38] pomortaz commented on #2658
@gregjhogan you can pass [BypassObjectIdValidation ](https://github.com/Azure/azure-powershell/blob/dev/src/ResourceManager/KeyVault/Commands.KeyVault/Commands/SetAzureKeyVaultAccessPolicy.cs#L180) to bypass object ID validation.

[2016-10-30 21:45] gregjhogan commented on #2658
@pomortaz perfect, thanks!

[2016-10-31 19:19] ravbhatnagar commented on #3115
@StephenBuhagiar - It looks like even though PS seems to be stuck, the tags were updated for the VM. Can you please verify this? You mentioned that only happens sometimes, is there any similarity in the VMs for which this happens?

[2016-10-31 20:31] #3028 closed

[2016-11-01 00:16] cormacpayne opened #3160 "UpdateChangeLog.ps1 does not handle single quote in "ReleaseNotes""
Determine a way to escape the single quote character in `UpdateChangeLog.psd1` for the "ReleaseNotes" section to avoid cutting the release notes short.

[2016-11-01 03:23] m-moris commented on #2938
I'm facing same situation.
Does anyone know workaround or solution?

[2016-11-01 06:22] rolandoldengarm commented on #2916
@markcowl This is not a solution?! I'm following the o[fficial documentation ](https://azure.microsoft.com/en-us/documentation/articles/powershell-install-configure/) and I get this error. As it's red, it's an error, and I think something is wrong.
This should be fixed in the Azure-Powershell module.

[2016-11-01 16:32] CaryJ commented on #2080
I am still getting an error:
`Start-AzureRmHDInsightJob : {"error":"Passed in parameter is incorrectly quoted: \nCREATE EXTERNAL TABLE IF NOT EXISTS
TestStudent\n(\nid string,\nName string\n)\nSTORED BY 'com.mongodb.hadoop.hive.MongoStorageHandler'\nWITH SERDEPROPERTIES(
'mongo.columns.mapping' = '{\"id\":\"_id\",\"Name\":\"Name\"}' )\nTBLPROPERTIES( 'mongo.uri' = 'mongodb://x:y@z' );\n"}
At line:

[2016-11-01 17:26] CaryJ commented on #2080
I have the "Microsoft Azure PowerShell" from 9/28/2016 installed, which is the latest available from the Web Platform Installer.  I don't see a version number.

[2016-11-01 23:18] markcowl commented on #230
@ravbhatnagar  Please close this issue if it is fixed, otherwise please contact the customer and schedule in the appropriate milestone.

[2016-11-01 23:24] #3072 closed

[2016-11-01 23:51] ravbhatnagar commented on #230
This is currently unblocked in Find-AzureRmResource by using the tagName and tagValue params. We will add a Tag parameter to make it aligned with the uniform tag object that we have for all cmdlets

[2016-11-02 10:54] spaelling opened #3164 "Enable-AzureRmRecoveryServicesBackupProtection does not respect -ErrorAction SilentlyContinue"
### Cmdlet(s)
Enable-AzureRmRecoveryServicesBackupProtection

### PowerShell Version
5.1.14393.206

### Module Version
2.2.0
### OS Version
10.0.14393.206

### Description
Enable-AzureRmRecoveryServicesBackupProtection does not respect -ErrorAction SilentlyContinue
If the VM is already protected the cmdlet will give an error

### Debug Output
[code]
### Script/Steps for Reproduction
Run
[code]

Tw

[2016-11-02 10:55] spaelling commented on #3164
And there is a spelling error in

`Please contact Microsoft for further assistant.`

should be

`Please contact Microsoft for further assistance.`

[2016-11-02 18:20] markcowl commented on #3128
@singhkays Please take a look and assign to a milestone as appropriate

[2016-11-02 18:21] markcowl commented on #3133
@jackmagic313 Please take a look and assign to a milestone as appropriate

[2016-11-02 18:22] markcowl commented on #3143
@Pradebban Correct, this is because there was an API version change in the new version.  AzureChinaCloud users will need to use the older version until this service is deployed there.

[2016-11-02 18:24] begoldsm commented on #3155
Responses!
1. I think it just needs to say that to import it the path is platyPSHelp and not platyPS (it just says platyPS in the document right now, which isn't a valid folder).
3/4. I think it would be good to make it explicit what the assumptions are for generation and validation. For example, the ADL help is not in the expected folder format and so cannot use platyPS at all as is (unless I am

[2016-11-02 18:32] shadewlkr commented on #2873
Has anyone come up with a solution to this?   I receive the same error when trying to create a connection using New-AzureRmVirtualNetworkGatewayConnection.   Is there any other way to enable BGP aside from powershell?

[2016-11-02 18:55] markcowl commented on #3143
@ailn Can you advise on when the new api-version is planned for deployment to Mooncake?

[2016-11-02 18:58] markcowl commented on #3153
@asheniam Please take a look and assign to a milestone as appropriate

[2016-11-02 18:59] markcowl commented on #3157
@athipp assigning to the next milestone.  Test debt must be cleared before changes can e made to a module

[2016-11-02 19:09] markcowl commented on #3164
@pragrawa @dragonfly91 @mkherani Please take a look, assess the issue, and assign to a milestone in the repo as appropriate

[2016-11-02 19:23] markcowl commented on #3147
closing a sduplicate of #3146

[2016-11-02 19:23] #3147 closed

[2016-11-02 19:44] markcowl commented on #2853
Closign as duplicate of #2693

[2016-11-02 19:44] #2853 closed

[2016-11-02 20:02] shahabhijeet commented on #3026
PR https://github.com/Azure/azure-powershell/pull/3154

[2016-11-02 20:02] #3026 closed

[2016-11-02 20:23] CaryJ commented on #2080
Just installed today's update, 11/2/2016, and still get the same error.

[2016-11-02 22:13] cormacpayne commented on #3160
@markcowl `Update-ModuleManifest` replaces a single-quote with two single-quotes for Release Notes. This will prevent any issues from occurring.

[2016-11-02 22:13] #3160 closed

[2016-11-02 22:28] cormacpayne commented on #2926
@markcowl what is the difference between this issue and https://github.com/Azure/azure-powershell/issues/3028 ?

[2016-11-03 06:14] anblanco opened #3169 "Get-AzureRMLog does not respect nextLink - truncates results"
### Cmdlet(s)
Get-AzureRMLog
### PowerShell Version
Instructions: to get PowerShell version, type `$PSVersionTable` and look for the value associated with `PSVersion`
5.1.14393.206
### Module Version
2.2.0
### OS Version
Instructions: to get OS version, type `$PSversionTable` and look for value associated with `BuildVersion`
10.0.14393.206
### Description
When using Get-AzureRMLog against a subscr

[2016-11-03 06:17] anblanco commented on #3153
Note: I'm not one of the dev team - just another powershell user.

Have you enabled diagnostics on the VM? I've noticed that by default Insights will show an empty list if diagnostics has never been enabled or was disabled in the portal. Insights does not show the Host level metrics you see by default on the portal.

[2016-11-03 12:18] JohanLander commented on #2939
Hi in your RM group you need to create a new Role  in Access control (IAM) and your user as a  Key Vault Contributor. Then it will work fine

[2016-11-03 19:05] pattipaka commented on #2080
@CaryJ , I am able to run with out any issue on latest version as well. Can you please attach the ps file that you are trying? Also, what do you see when you run command $PSVersionTable.PSVersion

[2016-11-03 20:23] rossedman commented on #1871
@pafriend Can you post your solution here. Thanks.

[2016-11-03 21:35] CaryJ commented on #2080
I'm just running the commands you gave above, with a couple minor variations.  First, I need to select a different subscription that the cluster is under.  Second, I have to specify the resource group for the cluster - note that my cluster was not created using RM commands, so I had to retrieve the resource group that is listed in the Azure Portal.  I don't believe that should be a problem, howeve

[2016-11-03 22:28] pattipaka commented on #2080
@CaryJ can you please try running following command

$hiveJob = Start-AzureRmHDInsightJob -ClusterName $clusterName -JobDefinition $hiveJobDefinition -ClusterCredential $creds

Now you don't need to provide any extra details like resource group or storage account details.

[2016-11-03 22:39] pattipaka commented on #2080
@CaryJ I have tried with -resourcegroupname and still couldn't reproduce.

PS C:\Users\x> $Query = "

PS C:\Users\x> $hiveJobDefinition = New-AzureRmHDInsightHiveJobDefinition -Query $Query
PS C:\Users\x> $creds=Get-Credential

cmdlet Get-Credential at command pipeline position 1
Supply values for the following parameters:
Credential
PS C:\Users\x> $hiveJob = Start-AzureRmHDInsightJob -ClusterName

[2016-11-03 23:17] gregjhogan commented on #2939
My question is if the key vault has enabledForTemplateDeployment set to true and the user performing the deployment can read the secrets (because it is in an access policy) what is this extra RBAC permission for and why does the description mention virtual machines?

We are trusting these resources specifically with sensitive data. It seems important to understand the permissions and how they work

[2016-11-03 23:19] shahabhijeet commented on #3139
Update the main developer wiki with the latest links to our new tools/module.
Removed any traces of old scripts.
Next will be updating documentation on the adx-documenation-pr

[2016-11-03 23:50] CaryJ commented on #2080
You're right...I tried it before without -resourcegroupname and it didn't work.  I assumed it was because my cluster wasn't an RM cluster.  But, I just tried it again and I can do a simple query without that parameter, though I still get the same error with the above query.

[2016-11-04 00:44] pattipaka commented on #2080
@CaryJ, As the issue repros only in your environment, can you please help narrow down the issue. I want to see at exactly what part of the string is creating issue for you. Can you start with small string like

$Query = "
CREATE EXTERNAL TABLE IF NOT EXISTS TestStudent
"
and keep add more text and point me where do you start seeing this issue?

[2016-11-04 05:02] CaryJ commented on #2080
The bad line is as expected with all the quotes:
`WITH SERDEPROPERTIES( 'mongo.columns.mapping' = '{""id"":""_id"",""Name"":""Name""}' )`

So, I've tried some simpler queries.  This should work, and query for data with only a " character, but yields the same error:
`$query="select * from TestStudent where name = '""'"`

[2016-11-04 06:17] pomortaz commented on #2939
@seanbamsft can you please help clarify?

[2016-11-04 07:19] seanbamsft commented on #2939
The description is out of date, but Microsoft.KeyVault/vaults/deploy/action is the permission a user needs to have in order to deploy a VM or an ARM template that reference secrets in a vault.

In both of those scenarios, the user specifies the resource ID of a vault that contains secrets they want to use for a deployment (either a cert for a VM or a secret to be substituted in a template). There

[2016-11-04 12:01] BMichaelJ commented on #2800
This would be very helpfull to have!

[2016-11-04 15:46] jonsabo opened #3172 "Get-AzureRmResource unable to handle empty array response"
### Cmdlet(s)
Get-AzureRmResource

### PowerShell Version
5.1.14393.223

### Module Version
3.1.0

### OS Version
10.0.14393.223

### Description
When trying to use `Get-AzureRmResource`, it appears that if the service returns a 200 response with an empty array, the cmdlet doesn't know how to handle it and errors out. I received this error:
`Get-AzureRmResource : Unable to cast object of type 'New

[2016-11-04 15:52] jonsabo commented on #3018
It seems to me at least that this is an upstream concern and likely can't be fixed in the powershell module without significant effort. I can reproduce this for any of the 'collection' style queries. It looks like even if you put in a resource provider that doesn't exist, it still returns a 200 response that's simply empty. I assume the logic is that it was a valid query and it was able to process

[2016-11-04 16:09] cormacpayne commented on #3155
Fix in PR https://github.com/Azure/azure-powershell/pull/3166

[2016-11-04 16:09] #3155 closed

[2016-11-04 16:10] cormacpayne commented on #3135
Fix in PR https://github.com/Azure/azure-powershell/pull/3167

[2016-11-04 16:10] #3135 closed

[2016-11-04 16:13] jonsabo opened #3173 "Get-AzureRmResource help missing existing params and includes non-existent params"
### Cmdlet(s)
Get-AzureRmResource

### PowerShell Version
5.1.14393.223

### Module Version
3.1.0

### OS Version
10.0.14393.223

### Description
The help for `Get-AzureRmResource` includes some parameters that do not exist in the current version, and is missing some parameters that do exist. I ran `update-help` just to be very sure as well.

For example the help mentions these parameters that are

[2016-11-04 17:10] jeffpatton1971 commented on #3172
For the record I'm getting the same error

Unable to cast object of type 'Newtonsoft.Json.Linq.JArray' to type 'Newtonsoft.Json.Linq.JObject'.
At line:47 char:3
+         throw $_.Exception;
+         ~~~~~~~~~~~~~~~~~~
    + CategoryInfo          : OperationStopped: (:) [], InvalidCastException
    + FullyQualifiedErrorId : Unable to cast object of type 'Newtonsoft.Json.Linq.JArray' to type 'Newt

[2016-11-04 17:18] jeffpatton1971 commented on #3172
What is interesting, is I was playing around to see about getting schedules/ with no savedsearch id, if there are multiple schedules (which I don't think is possible just testing) my get uri

https://management.azure.com/subscriptions/bce7ec4f-86ce-4a55-9253-7de908a98ed0/resourceGroups/uks-rsg-all-prd/providers/Microsoft.OperationalInsights/workspaces/819631-OMS/savedSearches/raxunexpectedshutdown

[2016-11-04 20:24] HemantMahawar opened #3174 "Add-AzureRmAccount : A parameter cannot be found that matches parameter name 'Credential'"
_From @jennyhunter-msft on September 17, 2016 1:0_

## Steps to reproduce

Run Add-AzureRmAccount with the credential parameter. Also repeatable with Login-AzureRmAccount
e.g. Add-AzureRmAccount -Credential $Credential -Tenant 'xxxx-xxxx-xxxx-xxxx' -ServicePrincipal
## Expected behavior

[code]
## Actual behavior

[code]
## Environment data

Ubuntu 14.0.4

[code]

_Copied from original issue: Powe

[2016-11-04 20:24] HemantMahawar commented on #3174
_From @dfaropennetwork on September 17, 2016 1:58_

I 've the same issue, i think that we need the azure module on our linux  powershell

[2016-11-04 20:24] HemantMahawar commented on #3174
_From @vors on September 20, 2016 0:44_

Did you use AzureRM.NetCore.Preview, AzureRM.Profile.NetCore.Preview and AzureRM.Resources.NetCore.Preview as described in https://github.com/PowerShell/PowerShell/tree/master/demos/Azure ? The regular [azure-powershell](https://github.com/Azure/azure-powershell) is FullCLR only currently.

[2016-11-04 20:24] HemantMahawar commented on #3174
_From @jennyhunter-msft on September 20, 2016 15:33_

Yes, I used the most recent AzureRM.NetCore.Preview, and everything seemed to import properly. The command works without the credential parameter, but I need to use it in a script without interactions.

[2016-11-04 20:51] bganapa opened #3175 "Update error message to reflect the use of AzureRM* cmdlet instead of Azure*"
### Cmdlet(s)
Get-AcsFarm
### PowerShell Version
1.2.6
### Module Version
0.10.1
### Description
The error message should say *AzureRM*  instead of *Azure*

The Azure profile is invalid, Make sure that you are in the Azure context with the Add-AzureEnvironment and Add-AzureAccount cmdlets

### Script/Steps for Reproduction

Execute Get-ACSFarm cmdlet without doing Add-AzureRmEnvironment or Add-Azu

[2016-11-05 20:27] gregjhogan commented on #2939
@seanbamsft thanks for the info!  I though a user/service principal deploying an ARM template also needed to be included in an access policy with read permission.  Is this not true?  If it is true why is inclusion in an access policy needed in addition to the Microsoft.KeyVault/vaults/deploy/action permission?  Thanks!

[2016-11-05 21:17] kvaes opened #3178 "Releases on Powershell Gallery"
The version that's listed on powershell gallery is quite "old" (August). Would it be possible to publish new releases to the gallery too?

Thanks in advance!

[2016-11-06 04:30] kilasuit commented on #3178
@kvaes - What version is it that you are seeing on the PowerShell Gallery?

When I run `Find-Module -Name AzureRM` I get the 3.1.0 release returned from the PowerShell Gallery which is the latest release. I also get the 3.1.0 release returned for the Azure module as per the release notes at https://github.com/Azure/azure-powershell/releases/tag/v3.1.0-November2016

[2016-11-06 15:27] kvaes commented on #3178
My bad @kilasuit , I should have been more clear, I was talking about the .net core for AzureRM ;

PS C:\Users\karim> find-module -name AzureRM.NetCore.Preview

Version    Name                                Repository           Description
-------    ----                                ----------           -----------
0.3.4      AzureRM.NetCore.Preview             PSGallery            [PowerShell

[2016-11-06 15:28] kvaes commented on #3178
Maybe I should tag @cormacpayne for this one too, as his user is linked to the latest release. :)

[2016-11-07 12:46] nth-block opened #3180 "Get-AzureRmVirtualNetwork does not have any entries in the VirtualNetworkPeerings tag"
### Cmdlet(s)
Get-AzureRmVirtualNetwork

### PowerShell Version
Instructions: to get PowerShell version, type `$PSVersionTable` and look for the value associated with `PSVersion`
5.1.14393.206
### Module Version
3.0.0

### OS Version
Instructions: to get OS version, type `$PSversionTable` and look for value associated with `BuildVersion`
10.0.14393.206

### Description
I have peered a couple of VN

[2016-11-07 17:29] cormacpayne commented on #3178
@kvaes Hey Karim, `AzureRM.NetCore.Preview` is a module for Linux and Mac that contains Profile and ResourceManager cmdlets. The `AzureRM` module released last week as part of our monthly Azure PowerShell release contains _all_ of the service cmdlets.

[2016-11-07 20:02] pattipaka commented on #2080
@markcowl, this seems to be a generic powershell environment issue. Looks like only @CaryJ can reproduce the issue. This seems to be related to handling quotes rather than HDInsight specific issue. Currently we are reading query as

        [Parameter(HelpMessage = "The query to run in the jobDetails.")]
        public string Query
        {
            get { return job.Query; }
            set {

[2016-11-07 20:02] kvaes commented on #3178
So the AzureRM module is now NetCore based?
The objective is to run all ARM cmdlets from a linux based system...

[2016-11-07 21:40] markcowl commented on #3178
No, the AzureRm.NetCore.Preview module is NetCore-based, and AzureRM depends on .Net desktop CLR.  We currently have separate modules for desktop and netcore versions of PowerShell cmdlets.  The plan is to unify sometime next year.

[2016-11-07 21:51] #3046 closed

[2016-11-07 22:24] CaryJ commented on #2080
Note that I originally said this query works with the old `Start-AzureHDInsightJob` command.  Let me refine that to say we also use `-RunAsFileJob` (`New-AzureHDInsightHiveJobDefinition -RunAsFileJob`).  We attempted to try `New-AzureRmHDInsightHiveJobDefinition -RunAsFileJob`, but the `-RunAsFileJob` parameter doesn't seem to make any difference in this case.

[2016-11-07 23:57] ravbhatnagar commented on #771
Looks like it works when using the simple VM example above. @mtowse - Can you please elaborate on what is failing for you?

[2016-11-08 02:12] JimBarber commented on #290
I have the same issue.
All our subscriptions are under the same TenantID so I would have thought that would be a more suitable check than using the SubscriptionID to prevent others from talking your ServiceBus name space immediately after you've deleted yours.

[2016-11-08 05:21] mohamedmansour commented on #2979
And stuff like turning off a VM```
:

[create-image.ps1:110 I] Waiting for VM 'foovm' to shut down
[create-image.ps1:199 I] VM 'foovm' is still running (current power state is 'running'); sleeping for 4s
[create-image.ps1:199 I] VM 'foovm' is still running (current power state is 'running'); sleeping for 4s
[create-image.ps1:199 I] VM 'foovm' is still running (current power state is 'running'); sl

[2016-11-08 07:00] LynnJing commented on #2915
Hi Markcowl,
Based on our Infrastructure is using AWS. Which will auto manage the machine instance. this means, If we want to use Application Insights status monitor, we should find out a way to sign in Azure , choose the expected resource and be enable the application which we want to monitor automatically. So I tried to use power shell script to do this. However, I met the above issue.

Can you

[2016-11-08 07:02] LynnJing commented on #2915
the debug log is as below
PS C:\> $DebugPreference="Continue"
PS C:\>
PS C:\> Login-AzureRmAccount -Credential $MyCredential
DEBUG: 6:50:30 AM - AddAzureRMAccountCommand begin processing with ParameterSet 'UserWithSubscriptionId'.
DEBUG: [Common.Authentication]: Authenticating using configuration values: Domain: 'Common', Endpoint:
'https://login.microsoftonline.com/', ClientId: '1950a258-227b-4e3

[2016-11-08 11:31] akunaatrium commented on #2916
This is indeed unacceptable that following official documentation some errors are expected for which workarounds are needed to actually reach to a successful installation. Definitely a defect that should be fixed.

[2016-11-08 15:50] jeffpatton1971 commented on #3093
Additionally this will also happen when you use the set-azurermresource, so not sure it's necessarily a PS issue as perhaps an API issue.

[2016-11-08 17:09] bcrotty commented on #1543
Is this going to get fixed, or is the workaround now permanently required?

[2016-11-08 18:45] crou opened #3181 "Error setting the Azure Context when the user has access to more than 50 subscriptions"
### Cmdlet(s)
Set-AzureRmContext

### PowerShell Version
5.0.10586.494

### Module Version
3.1.0
2.1.0

### OS Version
10.0.10586.494

### Description
Set-AzureRmContext : Provided subscription xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx does not exist

### Debug Output
Body:
{
  "value": [
    {
      "id": "/subscriptions/xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx",
      "subscriptionId": "xxxxxxxx-xxxx-xxx

[2016-11-08 22:38] rikkus commented on #2916
What's the workaround please?

[2016-11-10 01:27] markcowl opened #3186 "[Get-AzureRmSubscription]: Error listing multiple pages of subscriptions with multiple tenants"
When listing subscriptions in a tenant using subscription id (Get-AzureRmSubscription -SubscriptionId <subId>) , We do not follow nextLink pages.  However, since we are using a ref in each call, we retain the nextLink context when listing subscription in subsequent tenants.  This causes us to

(1) Not get the subscriptions in the next page of results
(2) Not get subscriptions for the following ten

[2016-11-10 04:20] mohamedmansour opened #3187 "Update-AzureRmVmss default parameters not needed"
Hello,

Take a look at this example, I am basically trying to add an extra vm to the existing scaleset (from 1 to 2), so I am doing the following:

[code]

Since I am already passing `$vmss` to `Update-AzureRmVmss` why do we need to supply `-ResourceGroupName` and `-Name` ?

For this case, it should be consistent:

`Update-AzureRmVmss -VirtualMachineScaleSet $vmss​​​​​​`

What do you say?

[2016-11-10 07:07] ravbhatnagar commented on #384
Fixed.

[2016-11-10 07:07] #384 closed

[2016-11-10 07:12] ravbhatnagar commented on #621
We dont plan to support this feature ask anytime soon. Hence closing this issue at this time.

[2016-11-10 07:12] #621 closed

[2016-11-10 07:13] ravbhatnagar commented on #771
Please let me know if you still run into this issue. Closing this issue for now.

[2016-11-10 07:13] #771 closed

[2016-11-10 07:18] ravbhatnagar commented on #956
Name is the alias for ResourceName parameter in the Get-azureRmResource cmdlet, so that wont work.

[2016-11-10 07:18] #956 closed

[2016-11-10 07:27] ravbhatnagar commented on #1130
We dont plan to support this natively in RM cmdlets at this time. hence closing this for now. Please let me know if this is blocking you though.

[2016-11-10 07:27] #1130 closed

[2016-11-10 07:37] asranja commented on #3116
Thanks for providing the info.

[2016-11-10 07:55] ravbhatnagar commented on #1817
This should be fixed now. please let us know if you still run into this issue.

[2016-11-10 07:58] ravbhatnagar commented on #1920
Closing as this is tracked through multiple other issues.

[2016-11-10 07:58] #1920 closed

[2016-11-10 08:12] ravbhatnagar commented on #2093
To fix this issue - If resource group is not specified in the above scenario, we should throw parameter set cant be resolved.

@kokajambo - Exact name match support will be added to Find cmdlet tracked in a different issue.

[2016-11-10 08:19] ravbhatnagar commented on #2230
Low Priority. please let us know if you feel strongly about this.

[2016-11-10 08:19] #2230 closed

[2016-11-10 08:24] ravbhatnagar commented on #2278
@fleed - If you have a parameter name "Name" in your template, it will prompt you to enter value for parameter - "nameFromTemplate". This is because the cmdlet itself has a parameter called Name. So, an easy fix would be to rename the parameter.

We will fix the other issue which is as follows -The current issue is that if you use a parameter name like "name" and specify the value in the parameter

[2016-11-10 08:27] ravbhatnagar commented on #2283
Need a better error message when 800 deployment limit is hit for the RG. Currently we see a task was cancelled in the client.