[2016-06-01 20:59] hovsepm commented on #2349
@tohling Closing this issue since there is no feedback after my suggestion. Please reopen this issue with more details if you still have the same experience.

[2016-06-01 21:00] twilly86 commented on #669
status?  how do I fix this from a VSO tfs build?  I'm using the generic web app deploy task there.

[2016-06-02 00:49] ravbhatnagar commented on #2283
@antmeehan - Apologies for the delayed response.

There is a limit of 800 deployments per resource group. I think you might be running into that limit. How frequently are you running into this limit? Also, are you using a different deployment name for every deployment to the same resource group?

[2016-06-02 01:02] ravbhatnagar commented on #2093
@kokajambo - I understand your scenario and the current issue with it. Let me think about this a bit more and get back to you.

[2016-06-02 01:20] antmeehan commented on #2283
@ravbhatnagar We were using a different name for each resource group template (using the version number as a suffix). We've now moved away from this (just overriding the deployment resource and ensuring the `contentVersion` value is correct) and the issue seems to have been resolved.

We are creating a new deployment resource for the 'master' resource group template as part of using VSTS task (in

[2016-06-02 01:35] pcgeek86 opened #2378 "Exception in Set-AzureRmSqlServer"
PS C:\Users\TrevorSullivan> Set-AzureRmSqlServer -ResourceGroupName ArtofShell-ElasticSQL -ServerName aoselastic -ServerVersion 12.0
WARNING: The usability of Tag parameter in this cmdlet will be modified in a future release. This will impact creating, updating and appendin
g tags for Azure resources. For more details about the change, please visit https://github.com/Azure/azure-powershell/issues/

[2016-06-02 02:48] mskutin commented on #2259
@suwatch what about this https://azure.microsoft.com/en-us/updates/automation-run-as-account/ ? Do I need to go through the procedure above for this type of accounts? I cannot login using this account since it doesn't have a password. So I can't setup GitHub deployment.

[2016-06-02 03:32] suwatch commented on #2259
Correct, since you can't log on with service principal, you can't perform oauth flow via Portal UI in order to associate Github token with service principal account.

Good news is there is a manual step you could do.  Below explains how to achieve this using [ARMClient](https://github.com/projectkudu/ARMClient).    @davidebbo might know how to achieve via cmdlet powershell.

  - Install ARMClient

[2016-06-02 05:23] davidebbo commented on #2259
PowerShell would look something like this:

[code]

And [this article](https://azure.microsoft.com/en-us/documentation/articles/resource-group-authenticate-service-principal/) explains how to login with service principal to PowerShell.

[2016-06-02 07:22] tohling commented on #2349
How do I find out if I have PowerShell gallery modules installed?  I ran the following commands but they are not recognized.

PS D:\Users\webworkeradmin> Get-InstalledModule
Get-InstalledModule : The term 'Get-InstalledModule' is not recognized as the name of a cmdlet, function, script file,
or operable program. Check the spelling of the name, or if a path was included, verify that the path is cor

[2016-06-02 19:18] brwilkinson opened #2381 "Set-AzureStorageBlobContent ConcurrentTaskCount value is being ignored"
Get-ChildItem -Path "$VHDPath\$VMName.vhd" -File |
Set-AzureStorageBlobContent  -Container vhds -BlobType Page `
     -Context $StorageAccountContext -ConcurrentTaskCount 2

When I run the above, no matter what value I use on the ConcurrentTaskCount, it always seems to create the same number of connections. This causes the upload to timeout.

i.e. ConcurrentTaskCount value is being ignored.

Get-N

[2016-06-02 20:49] markcowl commented on #2192
solved offline through use of this script:  https://apac01.safelinks.protection.outlook.com/?url=https%3a%2f%2fgist.github.com%2fdevigned%2fdae74a7ca54000f7b714&data=01%7c01%7cvicky.perdana%40kloud.com.au%7c9f8c2edd6c3949a535c908d37da6a689%7c23ae57df8a51444aa59a328118705efc%7c1&sdata=eAnyPPzYnutuJYwsw%2fvWjqIaluaMAwZ2Q1AHRTnQTJY%3d

So closing

[2016-06-02 21:43] ravbhatnagar commented on #2283
Yes, we will look into improving the error message in this scenario.

You will have to do build some logic into your script to clean up older deployments. Or have some workflow which runs periodically and cleans up the deployments (using Remove-AzureRmResourceGroupDeployment cmdlet)

[2016-06-03 01:48] wangzq commented on #1102
Following was working in 1.3.0 but not in 1.5.0:

[code]

[2016-06-03 02:59] antmeehan commented on #2283
Great. Thanks for your help again.

[2016-06-03 04:08] philmea opened #2385 "Get-AzureRMVM should return current status"
The Get-AzureRMVM cmdlet should return the current status for ease of scripting to VM status, such as starting stopped VM's or waiting on Starting or Updating statuses.

[2016-06-03 04:14] philmea opened #2386 "Get-AzureRMNetworkInterface should take a VM pipeline object"
One should be able to retrieve the network interfaces associated with an Azure VM using the pipeline of the VM Object.

[2016-06-03 04:34] wangzq opened #2387 "Set-AzureRmContext doesn't work after using Select-AzureRmProfile"
To reproduce:

[code]

The last command above will fail with following error:
[code]

This is because the subscriptions list is empty or null in following code from SetAzureRMContext.cs, since we used `Select-AzureRmProfile` instead of `Add-AzureRmAccount` to login:

[code]

[2016-06-03 04:54] TeppeiIshii opened #2388 ""Select-AzureRmSubscription -SubscriptionId" will give you an error after Azure PS 1.5.0"
PS C:\Users\teppei> Select-AzureRmSubscription -SubscriptionId "XXXXX-YYYY-ZZZZ"
Set-AzureRmContext : パラメーター 'SubscriptionId の引数を確認できません。引数 "XXXXX-YYYY-ZZZZ"
は、ValidateSet 属性で指定されたセット "52c748bc-65e5-44aa-8d64-97abff022b4e" に属していません。このセットの引数を指定
して、コマンドを再度実行してください。
発生場所 行:1 文字:44
+ ... RmSubscription -SubscriptionId "aee69007-7b6d-465e-9df7-ae8b05fb2e94"
+                                    ~~~~~~~~

[2016-06-03 07:16] wangzq commented on #2349
@tohling you can also try to run `Get-Module -ListAvailable` or check `$env:PSModulePath -split ';'`, if following 3 folders are listed then you should be using the versions from msi:

[code]

[2016-06-03 07:27] wangzq commented on #2212
FWIW, this also broke my scripts so I have now created a wrapper to ensure the script can works for different versions:

[code]

[2016-06-03 07:43] wangzq commented on #2107
@aizumoff @alecor191 I have some PowerShell script cmdlets to help in this regard, I can cleanup and release them if you are interested.

[2016-06-03 16:11] markcowl opened #2389 "CoreCLR port for ResourceManager library"
### Description
Include prototype cmdlets for versioning
- Select-Profile based on module tagging
- Multiple versions of RM module
Proof-of concept cmdlet prototype using ResourceManager module (3 days)
- Single module with common dependencies
- Side-by-side build
- Verify development, execution, build/test and install/update experience

### Cost: 8

[2016-06-03 16:13] markcowl opened #2390 "Breaking Change Detection Prototyping"
### Description

Evaluate existing tools for determining breaking changes and prototype breaking change detection automation.

The definition of breaking changes to use is here: https://github.com/markcowl/azure-powershell/blob/doccompare/documentation/changes.md#breaking-change-definition
### Cost: 4

[2016-06-03 16:16] markcowl opened #2391 "Scope common assembly refactoring"
### Description

Identify all common assemblies, shared types, and their usage (1 day)
- Categorize each assembly as wrapped or unwrapped
- Ensure all assemblies without major version identities can be wrapped
- Identify all common types to move into common assemblies
- Identify shared management assembly calls
- Identify used and unused public APIs – minimize public API surface for common assembl

[2016-06-03 16:19] markcowl opened #2392 "[Placeholder]: Refactor common libraries and assemblies"
### Description

Placeholder for common library refactoring, close and open actual bugs after assessement
- Use Adapter pattern to wrap types in common assemblies
- Capture generated code for shared management assembly calls in common assemblies
- Remove dependencies between cmdlet modules
- [Optional] Split modules that target multiple RPs (Resource Manager)
### Cost: 8

[2016-06-03 16:23] markcowl opened #2393 "Update build tools and structure to build common assemblies model"
### Description

Update build infrastructure to copy modules into the new paradigm and remove duploicated modules in individual RPs
### Cost: 4

[2016-06-03 16:25] markcowl opened #2394 "Update static analysis and versioning tools for breaking change model"
### Description
- [ ] Update static analysis to disallow breaking changes in common assemblies
  - [ ] Use dotnet breaking change tool?
- [ ] Change assembly versioning model for common auth modules to major only
- [ ] Change assembly versioning for cmdlet common assemblies to maor + minor + revision
- [ ] Automate package versioning for common modules
- [ ] Automate assembly and package versionin

[2016-06-03 16:31] markcowl opened #2395 "AzureStack RC TP2 branch"
### Description
branch based on the 1.2.1 release,
- Update common assemblies to use latest authentication infrastructure
- Ensure all tests pass
- Update adal library to 2.26
- Add code to read tenant id from authority endpoint if it is null in the token
- test live against azure stack
-  Make buiuld available

### Cost: 2

[2016-06-03 17:06] markcowl opened #2396 "1.2.1 Update release"
### Description

#### Cost: 3

[2016-06-03 17:09] markcowl opened #2397 "Update Adal to 2.26 in dev branch"
### Description
After TP2 RC goes out, port changes to dev branch (update to adal 2.26, null tenant fix)

### Cost: 1

[2016-06-03 20:31] jodoglevy commented on #2373
@GamerLivingWill thanks, I will track this internally. For runbook jobs, Get-[AzureRMAutomationJobOutputRecord](https://msdn.microsoft.com/en-us/library/mt643911.aspx) can be used, but we don't have a cmdlet like this for DSC compilation jobs yet.

[2016-06-03 20:54] markcowl commented on #2381
@blueww can you take a look?

[2016-06-03 20:55] markcowl commented on #2385
@singhkay This seems to dovetail nicely with our output format conversation

[2016-06-03 20:57] markcowl commented on #2386
@deepakrajendranmsft can you take a look? Reassign to the compute team as appropriate. We probably do not want a direct type dependency, but a dependency on properties (like resource id or rg _ vmname) could work

[2016-06-03 21:00] markcowl commented on #2387
@wangzq Yeah, this is actually terribly broken cod, as the subscription name is the allowed set of subscription names are always dynamic

[2016-06-03 21:05] markcowl commented on #2388
@TeppeiIshii I'm not sure what's different between these two invocations, can you elaborate?

[2016-06-03 21:32] wangzq commented on #2387
As a temporary workaround, I wrote following function:

[code]

[2016-06-03 21:49] philmea opened #2399 "AzureRM cmdlets - Named Inputs vs. JSON Outputs"
The inputs of most of the cmdlets take Name values, but the outputs of the cmdlets are usually JSON resource ID's. This inhibits the graceful pipelining of values and the discoverability of relationships.

For example, if I want to find the VNET associated with a VM, I need to do the following:
1) Grab the VM Object: $vmObj = Get-AzureRmVM -Name $vmName -ResourceGroupName $rgName
2) Find the NIC b

[2016-06-03 22:52] markcowl commented on #2331
@energizedtech this is actually an issue in the underlying library, can ypu please file this issue here:  https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/issues

[2016-06-03 22:54] #2224 closed

[2016-06-03 22:58] markcowl opened #2400 "Document SLA for partners"
### Description

Describe the expectations for the team and contributors, including response times, debugging, communication channels, cmdlet review requirements, PR standards, etc.
### Cost: 4

[2016-06-03 23:08] markcowl opened #2401 "Update Libraries and common assemblies to support new runtime version"
### Description
Update to latest version that includes CoreCLR RTM support and update runtimes in common modules to match

### Cost: 4

[2016-06-03 23:14] markcowl opened #2402 "Prototype side-by-side versioning using powershell remote sessions"
### Description

Protoype cmdlets for switching between 'profile' versions versions using powershell remote sessions in desktop clr, or simple cmdlet loading in coreclr.

In desktop CLR, enable switching versions easily using script cmdlets over session managment, which determine available profiles and supported RPs, and create a session appropriately, Detect and prompt for removal of modules that

[2016-06-04 01:42] TeppeiIshii commented on #2388
@markcowl
Not really. The type is both String, but the second one is allowed.  Also, the below will fail.

$subID = "XXXXX-YYYY-ZZZZ"
Select-AzureRmSubscription -SubscriptionId $subID

It's reproducible for subscriptions of some of my team (Azure tech support) members.  Can you check if it repros on your subscription?

[2016-06-04 04:07] blueww commented on #2381
Thanks for reporting the issue!
It's a PowerShell bug. We will do more investigate on it and see how to fix it.

For upload blobs, can you use other tools like AzCopy (https://azure.microsoft.com/en-us/documentation/articles/storage-use-azcopy/), it has /nc parameter to support limited threads.

[2016-06-04 05:06] brwilkinson commented on #2381
Thanks, I have azcopy working. . . would like to migrate to the cmdlets ;)

Hopefully can resolve in the near future. Please confirm the ServerTimeoutPerRequest & ClientTimeoutPerRequest parameters are functioning correctly as well, they also do not seem to be applying either.

[2016-06-04 13:16] TheCodeKing opened #2404 "Installer quits Powershell process"
We have automated scripts for installing powershell Azure SDK on Azure VMs during provisioning. This was all good in 1.0.1. I've just tried upgrading to 1.4.0 and 1.5.0.

Now when powershell Azure SDK is installed it quits the existing process and breaks provisioning scripts which never get any further. Is there a way to prevent this happening?

[2016-06-04 19:48] gregjhogan opened #2405 "Get-AzureRmResource can't handle Microsoft.Insights/Components/ExportConfiguration"
Trying to put something together that takes a desired state for app-insights continuous export and applies it.  Looks like to accomplish this you have to first query what is already set up for continuous export, and Get-AzureRmResource can't seem to handle what comes back.  Perhaps this isn't considered a resource?  If not, surely there is some other generic Azure powerhsell cmdlet that would supp

[2016-06-04 20:49] TheCodeKing opened #2406 "Set-AzureRmContext params have changed"
Just installed 1.50. I have scripts using Set-AzureRmContext with subscriptionId and TenantId. The cmdlet now only accepts context and subscriptionName.

Is this intentional? Any documentation on it? Help still points to the old params.

[2016-06-05 11:04] alexandair opened #2407 "[1.5.0] Get-AzureRmSubscription doesn't work"
After updating to AzureRM 1.5.0 Get-AzureRmSubscription doesn't work anymore.
[code]

[2016-06-05 16:46] San7hos commented on #1856
Hi fellows,

sorry to respond so late but I did not have time to pay attention to this problem before.

Resources that I was not able to move:
- App service plan (I am not sure if it should be working or not according to this https://azure.microsoft.com/en-us/documentation/articles/app-service-move-resources/)
[code]
- App insights resource

[2016-06-06 02:10] andyliuliming opened #2408 "Get-AzureRmStoraegAccount could not be used in Mooncake."
AzureRmStorageAccount
Get-AzureRmStorageAccount : The resource type 'storageAccounts' could not be found in the namespace
'Microsoft.Storage' for api version '2016-01-01'. The supported api-versions are '2015-06-15,2015-05-01-preview'.
At line:1 char:1
+ Get-AzureRmStorageAccount
+ ~~~~~~~~~~~~~~~~~~~~~~~~~
    + CategoryInfo          : CloseError: (:) [Get-AzureRmStorageAccount], CloudException

[2016-06-06 02:14] blueww commented on #2381
Yes, these options not work on blob content transfer, only work in blob metadata set, and blob attributes get.
We will discuss how to fix it, and priority it according to project priority and our bandwidth.

[2016-06-06 13:57] bbollard commented on #1394
What version of Azure PowerShell are you referring to? I just received the same issue while deploying a custom template. This is an intermittent issue.

New-AzureRmResourceGroupDeployment : There were not enough free threads in the ThreadPool to complete the operation.
At line:1 char:1
+ new-AzureRmResourceGroupDeployment -ResourceGroupName rg-vm-svrtestXXX...
+ ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

[2016-06-06 14:32] pcgeek86 opened #2410 "Exception calling Set-AzureRmWebApp against Azure Function App"
**NOTE**: App Service Plan exists in a different Resource Group than the Function App resource.

![2016-06-05_22-15-48](https://cloud.githubusercontent.com/assets/466713/15825478/1f4df87a-2bc1-11e6-9720-c6fd63063dbb.png)

Cheers,
**Trevor Sullivan**
Microsoft MVP: Cloud & Data Center Management
https://trevorsullivan.net
https://twitter.com/pcgeek86

[2016-06-06 18:39] ravbhatnagar commented on #1856
@San7hos - Thanks for the response. You cannot move just the App Service plan resource. You can find the limitations  listed here - [https://azure.microsoft.com/en-us/documentation/articles/resource-group-move-resources/#app-service-limitations](url)

[2016-06-06 19:18] brwilkinson commented on #2212
This should be made to work with the pipeline.
e.g.
Get-AzureRmStorageAccountKey -ResourceGroupName $RG -Name $saname | select -Index 0
and
Get-AzureRmStorageAccountKey -ResourceGroupName $RG -Name $saname |
select -First 1 -Property value
and
Get-AzureRmStorageAccountKey -ResourceGroupName $RG -Name $saname | foreach value
returning this:
TypeName: System.Collections.Generic.List`1[[Microsoft.Azu

[2016-06-06 20:17] Moozhe commented on #2014
Getting the same error.  Setting $DebugPreference to "Continue" did not give any relevant details.

[2016-06-06 21:11] ravbhatnagar commented on #1394
@bbollard - Is it possible for you share the template? Feel free to strip out sensitive information. I was referring to the 1.5.0 module of Azure PowerShell.

Reopening since we might get a repro.

[2016-06-06 22:35] pcgeek86 opened #2413 "Create issues for cmdlets that do not have help"
![image](https://cloud.githubusercontent.com/assets/466713/15840083/b6194604-2c04-11e6-82d8-2e4c12d56dd7.png)

[2016-06-07 00:48] thbowker opened #2414 "New-AzureRmResourceGroupDeployment: Unable to combine parameterURI file and inline parameters"
Using **New-AzureRmResourceGorupDeployment**

Seeing different behavior using -TemplateFile/-TemplateParameterFile and -TemplateURI/-TemplateParemeterURI.

Using a local file (-TemplateFile/-TemplateParameterFile) I am able to pass inline parameters when defined in -TemplateParameterFile as null.  The value supplied in the inline parameter overwrites the null value and the deployment is successful

[2016-06-07 03:14] LiliDeng opened #2416 "New-AzureRmResourceGroupDeployment fail when the first interval check"
Run below command, it will fail in a high rate when the first 5 seconds interval check, do we have any workaround to increase the interval or any other parameter can be used to avoid this issue?
Command:
New-AzureRmResourceGroupDeployment -Name $ResourceGroupDeploymentName -ResourceGroupName $RGName -TemplateFile $TemplateFile -TemplateParameterFile $TemplateParameterFile -Verbose
Failure:
VERBOSE

[2016-06-07 04:29] sunbinzhu opened #2417 "TooManyRequests error for Get-AzureStorageAccount"
I have a subscription with 130+ storage accounts in it. When i run "Get-AzureStorageAccount" to get all storage accounts, an error as below frequently happen:
**Get-AzureStorageAccount : TooManyRequests: Too many requests received. Retry after some time.**
I checked the source code for this command, it will send requests to get storage context for every storage accounts, it means the command will

[2016-06-07 05:54] hovsepm commented on #1778
@TianoMS we should fix it in the other places as well. PSArgumentException/ArgumentException is wrong.

[2016-06-07 06:54] blueww commented on #2212
Thanks for reporting it!
This is interesting. We will investigate that.
But currently it's not a blocking issue. We will priority it per our bandwidth.

[2016-06-07 09:25] San7hos commented on #1856
Thanks, I have quite realised that once I tried the azure cli. I have originally used powershell and I think the error by that time was less explanatory.

How about the application insight? I can still remove it an recreate it, but moving it would be easier.

Is there any plan of enabling those movements in the future?

[2016-06-07 11:41] bbollard commented on #1394
@ravbhatnagar here it is.

[NotEnoughThreadsInThreadPoolTemplate.zip](https://github.com/Azure/azure-powershell/files/302452/NotEnoughThreadsInThreadPoolTemplate.zip)

[2016-06-07 13:50] andyjballgit commented on #1812
this fixed the issue for me , was getting the error with 1.09 , upgraded to 1.10 , now all good thx.
Andy Ball

[2016-06-07 15:12] pcgeek86 opened #2418 "Remove-AzureRmResource Exception: Nullable object must have a value"
[code]

![image](https://cloud.githubusercontent.com/assets/466713/15863360/f2c19526-2c8f-11e6-86b1-0fa8951d7543.png)

[2016-06-07 15:59] pcgeek86 opened #2419 "New-AzureRmVirtualNetworkGateway : An error occured."
Cheers,
**Trevor Sullivan**
Microsoft MVP: Cloud & Data Center Management
https://trevorsullivan.net
https://twitter.com/pcgeek86

[2016-06-07 16:04] pcgeek86 opened #2420 "No documentation for New-AzureRmVirtualNetworkGatewayIpConfig"
![image](https://cloud.githubusercontent.com/assets/466713/15865228/39f1f02e-2c97-11e6-8cd4-cd663887900e.png)

Cheers,
**Trevor Sullivan**
Microsoft MVP: Cloud & Data Center Management
https://trevorsullivan.net
https://twitter.com/pcgeek86

[2016-06-07 17:14] hovsepm commented on #1102
@wangzq Unable to repro. in my case everything works without errors. Could you run it in debug mode?
[code]

[2016-06-07 18:47] pcgeek86 opened #2421 "Login-AzureRmAccount should accept position PSCredential parameter"
[code]

![image](https://cloud.githubusercontent.com/assets/466713/15870576/f7013d94-2cad-11e6-9bc4-4e45a8d1fafb.png)

Cheers,
**Trevor Sullivan**
Microsoft MVP: Cloud & Data Center Management
https://trevorsullivan.net
https://twitter.com/pcgeek86

[2016-06-07 21:24] spaelling commented on #2406
Not sure what you mean by only accepting context?

I find that it is broken too in maybe the same way? It seems that some sort of dynamic validatation was added. I can do this:

`# this works fine
$SubId = (Set-AzureRmContext -SubscriptionName 'bizspark').Subscription.SubscriptionId
# now this fails: Cannot validate argument on parameter 'SubscriptionId'. The argument "<bizsparkguid>"
# does not b

[2016-06-07 22:28] #2105 closed

[2016-06-07 22:47] philmea opened #2423 "Security rule improvements"
1) Ability to update network security rule configurations, currently can only add new
2) Return an array object rather than a string for port ranges. Otherwise, no clear way to determine if the range -contains a port (22, 3389, etc.).
3) Standardize pipelining to allow Get | Set | Update commands
4) NSG's should return an "Associated with:" value of NIC or Subnet

[2016-06-08 00:37] wangzq commented on #1102
@hovsepm Did you first use `Save-AzureRmProfile` then use `Select-AzureRmProfile` to re-use the auth token?

[2016-06-08 07:27] mskutin commented on #2259
@davidebbo @suwatch Thanks for the explanations, I confirm that everything above works after this:

[2016-06-08 07:50] heygautam opened #2426 "add-azurermvmdatadisk attach existing disk forces you to enter a disk size"
Run: Add-AzureRmVMDataDisk -VM $vm -Name dd1  -VhdUri $vhduri -Lun 0 -CreateOption Attach

You are asked to enter DiskSizeInGB.

This should not be the case. I should not have to enter Size since I am attaching an existing disk.

I'm running the June 2nd release of PowerShell.

[2016-06-08 09:34] heygautam commented on #2426
I saw https://github.com/Azure/azure-powershell/issues/1407 and using $null fixes it.
Perhaps feedback here should be to update PowerShell help and Examples and online documentation showing the use of $null

[2016-06-08 09:34] #2426 closed

[2016-06-08 10:10] iricigor opened #2427 "Azure VPN client is routing too many IPs to Azure PPP"
Azure VPN client (both for classic VNets and ARM VNets) is adding two routes towards IP address provided by VPN. Only first one is needed.
1. single IP address routing (like 10.55.55.4/32 or 172.16.29.4/32)
2. entire class based route  (like 10.0.0.0/8 or 172.16.0.0/16)
Second route can be deleted without impact on functionality. It can create problems if user has on network resources on impacted

[2016-06-08 17:39] mrvladis commented on #1542
I have exactly the same issue.
Update-AzureRmVM just doesn't work if VM contains any tags.

[2016-06-08 21:10] hovsepm commented on #2407
@alexandair unable to repro. Please post the output of following cmdlet:

[code]

[2016-06-08 21:17] hovsepm opened #2430 "[AzureStack] Get-AzureRMGalleryItem returns error "The resource type could not be found in the namespace""
This error happens after logging to non-AzureStack environments and making a call to the cmdlets that are available on for AzureStack. We should at least give a better error message so people will not be confused and get the idea that they are using a cmdlets for different environment. Ideally we need to "hide" cmdlets that cannot be called in current environment.

[2016-06-08 21:18] alexandair commented on #2407
You can close this issue. I've reinstalled AzureRM.profile module and the command works again.

[2016-06-09 00:19] njwilloughby commented on #2388
I am experiencing the same issue after updating to azure powershell 1.5.0

It appears that when you have more than 2 subscriptions you may not be able to select a subscription with

`Select-AzureRmSubscription -SubscriptionId xyz `

since the update

Example error as I have lots of subscriptions

![image](https://cloud.githubusercontent.com/assets/2200580/15915290/8025a0d2-2e2b-11e6-97d3-e22c91293

[2016-06-09 09:27] getanindya opened #2432 "Issue with New-AzureRmApiManagementApi cmdlets Azure Powershell command"
New-AzureRmApiManagementApi -Context $ApiMgmtContext -Name "EchoApi" -ServiceUrl "https://contoso.com/apis/echo" -Protocols @('http', 'https').

The parameter -Protocols doesn't work with the array of protocols provided.
It is expecting an array of type "Microsoft.Azure.Commands.ApiManagement.ServiceManagement.Models.PsApiManagementSchema"
I couldnt find in the Microsoft cmdlets documentation abou

[2016-06-09 10:29] japj opened #2433 "Add PowerBI Embedded CmdLets"
Even though PowerBI Embedded is still in preview, it would be very useful if there were already CmdLets in Azure Powershell. This would greatly improve being able to experiment with it.

[2016-06-09 13:47] Rogn commented on #669
We have struggling with this since we started using Sqlite. Even though we carefully ensure that we close all connections, we still experience that the SQLite.Interop.dll file is locked making our current vsts builds fail :(
So currently we have fixed it by stopping and starting our App Services using the Azure PowerShell build task.

![image](https://cloud.githubusercontent.com/assets/3670768/159

[2016-06-09 18:16] philmea opened #2434 "Get-AzureRMBackupVault returns no object"
The Get-AzureRMBackupVault cmdlet is returning no object, though I have 2 backup vaults created, Test01,02. Verified on two separate computers.

[2016-06-09 18:22] markcowl commented on #2417
@sunbinzhu This was fixed in the last release, please update to the latest powershell, which has the fix.

[2016-06-09 18:22] #2417 closed

[2016-06-09 18:31] markcowl commented on #2404
@TheCodeKing This will be resolved in the installer rewrite tracked in #2220   .  Meanwhile, you can uninstall the msi and install from the PowerShell Gallery to avoid any similar issues.

[2016-06-09 18:31] #2404 closed

[2016-06-09 18:32] markcowl commented on #2399
@singhkay Can you loop @philmea in on your discussions of vm cmdlet outputs?

[2016-06-09 18:33] markcowl commented on #2405
@ravbhatnagar Can you take a look?

[2016-06-09 18:35] markcowl commented on #2406
Yes, it looks like the added tab completion on values fails under certain circumstances.  This is being tracked in #2387 Please track the fix there.  Closing this as a duplicate for now.

[2016-06-09 18:35] #2406 closed

[2016-06-09 18:36] markcowl commented on #2407
@alexandair thanks!

[2016-06-09 18:36] #2407 closed

[2016-06-09 18:38] markcowl commented on #2408
@andyliuliming This is by design.  You can use the supported stable version for AzureStack here:  https://github.com/Azure/azure-powershell/releases/download/v1.2.1-February2016/azure-powershell.1.2.1.msi

[2016-06-09 18:38] #2408 closed

[2016-06-09 18:39] markcowl commented on #2410
@naveedaz can you take a look?

[2016-06-09 18:43] markcowl commented on #2413
@pcgeek86 Yes, this is one of the grandfathered-in exceptions when we beagn checking the help.  You can find the full list here: https://github.com/Azure/azure-powershell/blob/dev/tools/StaticAnalysis/Exceptions/HelpIssues.csv

I will keep this one open to track driving these existing omissions down with the documentation team.

[2016-06-09 18:44] markcowl commented on #2414
@ravbhatnagar Can you take a look?

[2016-06-09 18:46] markcowl commented on #2416
@LiliDeng Can you try executing with ```$DebugPreference="Continue"``` to get debugging information for this issue.

@ravbhatnagar can you take a look?

[2016-06-09 18:48] markcowl commented on #2418
@ravbhatnagar can you take a look?

@pcgeek86 can you execute with ```Trace-Command``` to get the parameter bindings in this failure?

[2016-06-09 18:48] markcowl commented on #2419
nice.

[2016-06-09 18:49] markcowl commented on #2419
@deepakrajendranmsft can you take a look?

[2016-06-09 18:49] markcowl commented on #2419
@pcgeek86 If you can repro, would you get the debug traces for this execution?  It will help the network team in debugging this.

[2016-06-09 18:50] markcowl commented on #2420
@pcgeek86 see my response on the earlier bug.  Keeping that one open to track this general class of missing help that was grandfathered in.

[2016-06-09 18:50] #2420 closed

[2016-06-09 18:51] markcowl commented on #2421
Closing as duplicate of #2048

[2016-06-09 18:51] #2421 closed

[2016-06-09 18:52] markcowl commented on #2423
@deepakrajendranmsft can you take a look?

[2016-06-09 18:54] markcowl commented on #2433
See #2411

[2016-06-09 18:54] #2433 closed

[2016-06-09 18:56] markcowl commented on #2427
@deepakrajendranmsft can you take a look

[2016-06-09 19:01] markcowl commented on #2397
Completed

[2016-06-09 19:01] #2397 closed

[2016-06-09 19:55] DeepakRajendranMsft commented on #2427
@amitsriva  @lamchester please take a look

[2016-06-09 19:56] DeepakRajendranMsft commented on #2423
@amitsriva  @lamchester please take a look

[2016-06-09 19:59] DeepakRajendranMsft commented on #2419
@amitsriva @lamchester please take a look

[2016-06-09 20:04] amitsriva commented on #2419
Could you send more details about this error? We would need steps to reproduce this. Alternatively if you post the subscription id, region and approximate time range we can look up in logs. Will fix once we know the root cause.

[2016-06-09 20:08] amitsriva commented on #2427
What is the VNet address space in the two examples above?

[2016-06-09 20:21] iricigor commented on #2427
Whichever VNet address space is selected, the issue will be the same. In order to properly identify problem, I was using 192.168.202.0/24, i.e. anything outside of impacted scopes. That scope is routed properly to Azure. Problem is with client address scope. It is needed to route only one address, towards PPP adapter address. In reality, entire class (regardless of client address space size) is ro

[2016-06-09 20:55] spaelling commented on #2387
The issue is not only with -SubscriptionName, the code below also fails:

[code]

So in general for me I cannot select the subscription I want using ID.

[2016-06-10 16:45] markpjohnson commented on #568
+1

[2016-06-10 17:05] wbreza commented on #2433
@japj && @markcowl We are lining this up for July release.  Power BI Embedded will be transitioning to GA in July as well.

[2016-06-10 17:24] japj opened #2436 "Allow Jenkins build result read rights"
Azure-sdk-for-net is using Travis with access rights for everyone to inspect build results (as part of the pull request check). This is very useful for contributors who want to know if/what went wrong in a build.

At the moment the Jenkins azure-powershell build results are not available due to access rights.
Can this be corrected?

[2016-06-10 18:51] 0lorak0 commented on #645
@calebdoise  did you solve this issue? i am having it as well.

[2016-06-10 19:07] 0lorak0 commented on #645
@calebdoise  [Import the publish settings profile](https://msdn.microsoft.com/en-us/library/dn385850(v=nav.70).aspx)  then run the cmdlet again.  Worked for me.

[2016-06-10 19:14] markcowl commented on #2436
@japj  unfortunately not yet, Jenkins does not support windows - the .net sdk change is cross-platform.  We are tracking an issue specifically to allow this in #2233.  Closign this as a duplicate for now.

[2016-06-10 19:14] #2436 closed

[2016-06-10 19:25] markcowl opened #2437 "Allow adding UserAgent settings through environment variable"
### Description

At client creation time, after adding in UserAgents from the ClientFactory setting, Read the environment variable `AZURE_HTTP_USER_AGENT` and add the contents to the outgoing user agent for management calls in Azure PowerShell.

Add tests to verify the new functionality (no setting, empty/whictespace setting, valid single setting, valid multiple settings
### Cost: 2

[2016-06-10 22:06] Stephanvs opened #2438 "Cannot bind argument to parameter 'storageKey' because it is an empty string when running AzureFileCopy task in VSTS Release pipeline"
Hi guys,

I'm running into the following issue; I've defined a Release pipeline which at the moment consists of just one task an AzureFileCopy task.

I've configured it to copy files that are generated by the build (and placed in the default `drop` folder) into a blob storage account. See the screenshot for task config details

<img width="1001" alt="screen shot 2016-06-10 at 23 57 12" src="https:

[2016-06-10 22:23] ZACommando commented on #2416
My team and I are experiencing the same issue.  We are running the latest version of the Azure PowerShell (1.5 released June 1st) and the three of us keep getting the failure at the same point: Checking deployment status in 5 seconds.

The deployments are completing successfully, but the remainder of our deployment script is dependent upon the New-AzureRmResourceGroupDeployment cmdlet succeeding.

[2016-06-10 23:06] TaraMeyer opened #2439 "AzureRM.DevTestLabs Module has no examples in help.xml"
The new AzureRM.DevTestLabs module has no examples for any of the cmdlets. Can someone please add examples for each cmdlet to the help xml for Microsoft.Azure.Commands.DevTestLabs.dll.

The cmdlets are:

Get-AzureRmDtlAllowedVMSizesPolicy
Get-AzureRmDtlAutoShutdownPolicy
Get-AzureRmDtlAutoStartPolicy
Get-AzureRmDtlVMsPerLabPolicy
Get-AzureRmDtlVMsPerUserPolicy
Set-AzureRmDtlAllowedVMSizesPolicy
Se

[2016-06-10 23:09] TaraMeyer opened #2440 "AzureRM.Websites module is missing all help content"
The AzureRM.Websites module is missing all help content from the help.xml.  Can someone please add help content to the Microsoft.Azure.Websites.dll help.xml and let me know once it's completed.

The cmdlets in this module are:

Edit-AzureRmWebAppBackupConfiguration.xml
Get-AzureRmAppServicePlanMetrics.xml
Get-AzureRmWebAppBackup.xml
Get-AzureRmWebAppBackupConfiguration.xml
Get-AzureRmWebAppBackupL

[2016-06-11 00:37] markcowl commented on #2438
@Stephanvs I don't have enough context on this to advise.  My guess is that the script being used is depending on a property that was changed, but I can't debug further without actually seeing the runnign script - can your pdovide the script source?

[2016-06-11 00:38] markcowl commented on #2439
@iouri-s can you take a look?

[2016-06-11 00:41] markcowl commented on #2440
@TaraMeyer I assume you mean it is missing help content for the given cmdlets?  There is help for some cmdlets.

@akurmi can you take a look?

[2016-06-11 01:02] TianoMS commented on #2230
Talked with Tim. The reason we saw this error is that the provided resource Id "$ip.IpConfiguration.id" is NOT a Resource Id. It’s a property value and doesn’t map to an azure resource.

I'll see how we improve the error message here.

[2016-06-11 02:00] TianoMS commented on #2416
I'll look into issue.

[2016-06-11 06:34] David-0193 commented on #1942
I'm having the same issue on half of the 60 webapps we have. Since we manage all of them via powershell and foreach, i don't know why the half of them are different and throw this.
All in same datacenter.

[2016-06-11 07:02] David-0193 commented on #1942
A workaround is disabling request tracing before the call and then enabling it afterwards.
`Set-AzureWebsite -Name $site.Name   -RequestTracingEnabled $False `

By the way is there a powershell cmdlet for setting the webserver logs (not the application) to the storage? Something like EnableWebsiteServerDiagnostic?

[2016-06-11 14:02] Stephanvs commented on #2438
You're right, I accidentally created this issue in the wrong repo I guess. Should've been the https://github.com/Microsoft/vsts-tasks repo. Thanks anyway.

[2016-06-11 14:02] #2438 closed

[2016-06-12 01:58] sunbinzhu commented on #2417
thanks mark

[2016-06-13 15:31] markjbrown commented on #1127
This bug has been fixed. Closing.

[2016-06-13 15:31] #1127 closed

[2016-06-14 00:06] markcowl commented on #2395
Complete.

[2016-06-14 00:06] #2395 closed

[2016-06-14 09:45] iricigor commented on #2427
Just to be more clear. Checkbox mentioned in resolution is not available for end users. End users are getting packaged VPN client and no modifications are available. Build process of VPN client should be modified.

[2016-06-14 14:54] jtuliani commented on #1396
Closing.  Issue is fixed in private branch, will be included in next PS release.

[2016-06-14 14:54] #1396 closed

[2016-06-14 18:50] brianmowens commented on #2416
I'm experience the same issue as ZACommando, except my script calls a new deployment twice, and uses different ARM templates for each deployment. One of these templates reliably fails each time it's deployed with a not found error message, and the second template never fails. Is there anything I can attempt providing to help debug this?

Also on version 1.5.0.

[2016-06-14 18:53] ravbhatnagar commented on #2416
@brianmowens  @ZACommando  @LiliDeng We understand why this issue is happening. We will address this in the release that goes out in the first week of July. Would it be possible for you to share the templates? It will help in verifying the fix. Thanks!

[2016-06-14 21:38] jamesweb-ms commented on #726
Instead of a breaking change, how about providing new functionality while marking existing functionality as deprecated?  That way there is no rush to fix when a new version comes out but those that see the message can take immediate action (update scripts).

[2016-06-15 00:17] bvirkler opened #2453 "Get-AzureRmRoleAssignment: Access denied to the specified API version"
I'm trying to run `Get-AzureRmRoleAssignment` in an Azure Automation script while authenticated using the built-in RunAs service principal.

This cmdlet makes three API calls, the last of which is to the AAD Graph API's `getObjectsByObjectIds`.  This call is failing with a Forbidden response with the message "Access denied to the specified API version".

I first noticed this back in February, and

[2016-06-15 08:01] niadak opened #2456 "TypeHandlerVersion is made mandatory parameter for Set-AzureRmVMCustomScriptExtension"
Hi All,
In Azure PowerShell 1.5.0, my scripts has stopped working with error
Cannot process command because of one or more missing mandatory parameters: TypeHandlerVersion. This is because TypeHandlerVersion is now set as mandatory parameter for Set-AzureRmVMCustomScriptExtension command.

I would like to understand why TypeHandlerVersion become mandatory? And also how to get the correct TypeHandl

[2016-06-15 17:10] gnot commented on #1494
I wonder what it takes to add complete contextual examples, best practices for each of the PS commands. Or in case of NSG rules - adding a requirement "please run set command after doing everything in memory".

[2016-06-15 17:33] TaraMeyer commented on #2440
@markcowl  - that's correct.

[2016-06-15 17:38] TaraMeyer opened #2459 "AzureRM.ServerManagement - all but one cmdlet is missing an example"
These are the cmdlets that are missing examples in the help.xml for Microsoft.Azure.Commands.ServerManagement.dll :

Get-AzureRmServerManagementNode

Get-AzureRmServerManagementSession

Install-AzureRmServerManagmentGatewayProfile

Invoke-AzureRmServerManagementPowerShellCommand

New-AzureRmServerManagementGateway

New-AzureRmServerManagementNode

New-AzureRmServerManagementSession

Remove-AzureRm

[2016-06-15 21:42] Moozhe commented on #1896
Same issue.  Is there any workaround to creating an AD Application as a service principal?

[2016-06-16 01:48] avishnyakov opened #2460 "Breaking changes / backward compatibility strategy"
Hey guys,

With every new Azure PowerShell release, what is the strategy around backward compatibility and breaking changes?

It can be noticed that some releases have undocumented breaking changes, new required parameters, changed return types. Having reasonable amount of  PowerShell scripts, say 10 000+ lines, depending on Azure PowerShell which randomly breaks stuff isn't a great experience.

S

[2016-06-16 01:49] avishnyakov commented on #2456
Having same issues, not only with AzureRmVMCustomScriptExtension but with some others like Get-AzureRmStorageAccountKey.

There seem to be some breaking changes which weren't properly communicated. I created the following ticket Breaking changes / backward compatibility strategy #2460
https://github.com/Azure/azure-powershell/issues/2460

Hope that can be sorted at some point.

[2016-06-16 01:51] avishnyakov commented on #2212
Get-AzureRmStorageAccountKey seems to be changes in terms of return type as well as some other commands. All our scripts stopped working :)

Raised some concerns around that, seems to be a bigger issue
Breaking changes / backward compatibility strategy #2460

[2016-06-16 01:58] avishnyakov commented on #2456
@hyonholee, see the following commit with the tests and -TypeHandlerVersion as a required param. Any explanation on why -TypeHandlerVersion is required and not defaulted? That introduces a breaking change over the new releases of Azure PowerShell

https://github.com/Azure/azure-powershell/commit/925820e8da7d2607ebb688258a57b9b4ea226342

We may dig deeper to see who did that change and why, open so

[2016-06-16 02:01] blueww commented on #2212
Hi Anton,
 You can do a simple fix on your script to make it work again. Please let us know if you meet any issue to fix it, and we are glad to help you on this.
 $StorageKey.Key1 -> $StorageKey.Value[0]
 $StorageKey.Key2 -> $StorageKey.Value[1]

The change is caused by SDK change (SDK is caused by Rest API change), PowerShell doesn't intend to change that. We will do more check to the interface c

[2016-06-16 02:03] avishnyakov commented on #2456
@niadak their tests always use -TypeHandlerVersion "1.1", have no idea why.
Testing with our scripts, touch wood if it works..

[2016-06-16 02:11] avishnyakov commented on #2212
Well, surely thank you for the details.

The reality seems to be that new releases randomly break things. There are more breaking changes (not only Get-AzureRmStorageAccountKey) which weren't communicated back and which cannot be found in the release notes - https://github.com/Azure/azure-powershell/releases

That's not a "simple" fix as the context might be drastically different. A production rea

[2016-06-16 02:35] blueww commented on #2212
I can understand it's not easy to fix A 5 000+ lines production ready scripts, please let us know if you need any help on the fixing the script.
Sorry for the breaking, and we will do more check to the interface change in the future release to avoid such kind of breaking again.

[2016-06-16 14:17] MichaelGrafnetter opened #2461 "Add-AzureRmAccount does not work with Windows Integrated Authentication"
When using a federated identity to log into Azure using PowerShell, only password-based authentication is supported on federation servers. This is a problem in environments, where only certificate-based authentication is allowed.

The problem lies in this parameter, which is always added by login.microsoftonline.com to the ADFS redirection URL, when authenticating from PowerShell:
wauth=http://sch

[2016-06-16 16:25] AaronLS commented on #1300
Tried x86 and 64-bit, both ISE and non-ISE prompts, same problem. Probably something I am missing that was left out of the documentation.  This would be fine if this were just a game or a toy, but projects hinge on this.  There's alot of things, such as setting up deployment from VS Online to Azure, which require PowerShell to assign permissions to the service principal. I have no choice in the ma

[2016-06-16 19:04] markcowl commented on #1896
@Moozhe @winperec @daviderickson Unfortunately, this means using a different api-version for these calls, which means a new set of request and response contracts, and right now there is no graph version that returns the data required by the ResourceAuthorization cmdlets  that does not have this same whitelisting issue.  We are looking at some workarounds, but this will likely not be resolved until

[2016-06-16 19:04] markcowl commented on #2453
@bvirkler Yes, unfortunately the api-version used for graph is whitelisted for only first party applications, which means it will work for user credentials, but not service credentials.

There is an issue tracking this here:  #1896

Closing this one as a duplicate, since it has the same root cause.

[2016-06-16 19:04] #2453 closed

[2016-06-16 19:05] markcowl commented on #2456
@singhkay Can you take a look?

[2016-06-16 19:08] markcowl commented on #2459
@fearthecowboy Can we auickly add some examples?

[2016-06-16 19:22] markcowl commented on #2460
@avishnyakov The official story is that breaking changes should result in a major version change, and should be preceded by a deprectation warning for at least one prior release.

The actual story is that we do not have tools in place to enforce this, but we have issues in this sprint to begin addressing the disparity between official and actual handling.  You can find these issues here:
#2390 #23

[2016-06-16 19:28] markcowl commented on #2461
@MichaelGrafnetter What are the parameters you are passing to Add-AzureRMAccount when you see this?

It is possible to define an environment that sets ADFSAuthentication, but this should only impact the authority validation for the STS, and not the means for authentication.  PowerShell does support using certificates and devices for authentication with Azure on many corporate networks, but I am no

[2016-06-16 19:38] begoldsm opened #2462 "Surface more error details for failed LROs"
When we have an LRO fail in powershell (such as New-AzureRMDataLakeAnalyticsAccount) the error reported back is:
"Long running operation failed with status 'Failed'.". This is technically correct, but it isn't including any of the error/code information that is in that status message. When I run that same command with -debug, we can see the full response from the LRO. Is there some way for us to g

[2016-06-16 19:50] MichaelGrafnetter commented on #2461
Thx for response, @markcowl . I was running Add-AzureRMAccount without any parameters. I have encountered this behavior in 2 different environments:
1. In our environment, when I am logged onto a computer using a domain account, our ADFS shows me the username/password screen instead of doing single sign-on.
2. In a customer's environment, the situation is even worse, as password-based authenticati

[2016-06-16 23:41] begoldsm commented on #2462
This is more general tracked in issue: https://github.com/Azure/azure-powershell/issues/1742
Closing this issue as a duplicate of that one.

[2016-06-16 23:41] #2462 closed

[2016-06-17 00:33] hyonholee commented on #2456
It is a bug when I merge the common parameters into the base class.

The parameter is mandatory in API spec, but the cmdlet set the value to a default version if a user did not give.

When I move the parameter to the base class, I just followed the API spec and set it to mandatory, which caused the breaking change.

I will fix the issue in the next release.

Thanks for reporting this issue.

[2016-06-17 04:43] niadak commented on #2456
@hyonholee, Thanks for Acknowledging the issue. We will wait for the next release. Feel free to close the issue.

[2016-06-17 05:09] niadak commented on #2456
@hyonholee, Can you guild us about recent breaking changes in get-AzureRMStorageKey command. The Object structure has been changed in AzurePS1.4.0. how should we deal with this? Should we adopt the change or are you planing to support back compact for this as well?

[2016-06-17 14:55] #2212 closed

[2016-06-17 16:45] c4rlosmarin opened #2470 "Get-AzureServiceDiagnosticsExtension output empty"
Not getting any output after executing "Get-AzureServiceDiagnosticsExtension -ServiceName azurecloudservice001"

Here is the output I get using the debug parameter:
[output.txt](https://github.com/Azure/azure-powershell/files/320921/output.txt)

Best regards.

[2016-06-17 17:18] pcgeek86 opened #2471 "New-AzureRmKeyVault prompts for Azure credentials"
The `New-AzureRmKeyVault` command prompts me for credentials to authenticate to Azure when I've already authenticated.

Cheers,
**Trevor Sullivan**
Microsoft MVP: Cloud & Data Center Management
https://trevorsullivan.net
https://twitter.com/pcgeek86

[2016-06-17 17:37] BredStik commented on #2471
We also noticed that any KeyVault cmdlets triggers a authentication window that flickers on the first call after already being authenticated.  However, it completely fails when running the same command in a non-interactive execution with the following error:

System.ArgumentException: Your Azure credentials have not been set up or have expired, please run Login-AzureRmAccount to set up your Azure

[2016-06-17 18:36] kirthik opened #2472 "[Documentation]: Code review checklist"
Checklist that powershell team should look for while reviewing code
- Check if partner team is following cmdlet guidelines,
- Do parameters make sense
- Is output type documented the right way
- Are parameter types are easily creatable
- Is SHOULD process used correctly
- Partner teams should sync up with SDK team during office hours for a design review before submitting pull requests for new cmdl

[2016-06-17 19:03] kirthik opened #2473 "[Documentation]: Update outdated documentation"

[2016-06-17 20:25] ravbhatnagar commented on #1961
Fixed for July release

[2016-06-17 20:25] #1961 closed

[2016-06-17 21:02] MattAllison commented on #691
I know this issue/request has been open for a while but I wanted to reiterate the request.

We are currently in the process of updating our management scripts for ARM and the way that the ARM image functions work has increased the amount of work and training substantially.

In the past, we could "simply" search for an OS image label (e.g. "Windows Server 2012 R2*") and then look at the resulting s

[2016-06-17 23:37] NonStatic2014 opened #2474 "Add UnitTest for Import- and Export- cmdlet of AzureRM.MachineLearning"
Add UnitTest for Import- and Export- cmdlet of AzureRM.MachineLearning to cover the relative support of these commands.

[2016-06-19 03:38] pklanka opened #2476 "Azure Automation - Get-AzureRmResourceGroup : Run Login-AzureRmAccount to login."
This problem has been represented a number of times in this GitHub, however I believe this is a unique invocation. The sample code snippet leading to this is below - Request you to kindly fix this asap. This happens only in the Azure automation.
[code]

Followed guidance here - https://azure.microsoft.com/en-us/documentation/articles/automation-sec-configure-azure-runas-account/

[2016-06-20 15:11] pklanka commented on #2476
Was able to resolve the issue. The right modules have to be imported as an Automation asset for the AzureRM scripts to work. Not sure why is Azure RM is not by default a global powershell module. It would definitely help. For the benefit of others the list of modules I had to import as an asset were -

1. AzureRM.profile
2. AzureRM.resources

Need to update the documentation so that users know.

[2016-06-20 19:24] derekschauland commented on #1812
I am still seeing an error when running this cmdlet and the version installed shows 1.0.10 attempts to update the azurerm.network module do not update any files and the latest build of the azurerm modules has been installed.

Not sure what to try next.

[2016-06-20 22:48] markcowl commented on #2470
@singhkay Can you take a look?

[2016-06-20 22:49] markcowl commented on #2471
@BredStik How did you log in when you saw this issue?  Did you provide tenant/domain?

[2016-06-20 22:51] markcowl commented on #2476
@pklanka I believe this is aready documeted in azure automation.  If you look at the module versions in AzureRM, this will give you a complete list for a release.

[2016-06-20 22:51] #2476 closed

[2016-06-21 10:39] iricigor opened #2481 "Set-AzureRmVMSourceImage missing parameter from example"
In example for the command **Set-AzureRmVMSourceImage** you can see parameter **ImageReference**, but actual parameter is not existing in list of parameters.

Using modules AzureRM 1.5.0 and AzureRM.Compute 1.3.1

Steps to reproduce
1. `Get-help Set-AzureRmVMSourceImage  -Examples`
Take a look at example 2 and specifically its last line, it is using ImageReference
2. `(Get-Command Set-AzureRmVMSou

[2016-06-21 12:38] BredStik commented on #2471
@markcowl I used "Login-AzureRmAccount" with the -Credential parameter.  The TenantId parameter was not provided.

[2016-06-21 13:09] slapointe commented on #2105
@markcowl do you have an ETA when this will be released? We hit this problem yesterday and it is a major blocker for us in our automation strategy w/ KeyVault.

Thanks

[2016-06-21 14:09] c4rlosmarin commented on #2470
Yep, it's now fixed. Thanks!

Best regards.

[2016-06-21 14:09] #2470 closed

[2016-06-21 14:54] OliverMartini commented on #1134
Is there any update to this issue? I just verified, it still removes all Tags.

[2016-06-21 15:35] ckarras commented on #2460
I reviewed the draft at https://github.com/markcowl/azure-powershell/blob/doc1/documentation/design.md#modules-and-versioning. There is one thing missing for the Breaking Change Notification: it's not enough to provide advance notification by at least one release. An alternative to the deprecated pattern must also be available at least one major version in advance. (The deprecated pattern and new

[2016-06-21 18:52] shefaliv commented on #2081
@pattipaka

[2016-06-21 18:52] shefaliv commented on #2080
@pattipaka

[2016-06-21 18:59] shefaliv opened #2482 "Add E2E live tests for HDInsight"

[2016-06-21 20:00] markcowl commented on #2387
help is on the way.  Just sent a PR that fixes this and should be out on the strreet tomorrow.

[2016-06-22 07:03] OliverMartini opened #2492 "Set-AzureRmSqlDatabase -Tags --> does not work, throws error"
When issuing the cmdlet Set-AzureRmSqlDatabase -Tags an error is thrown. The cmdlet should accept the Tags hashtable received from Get-AzureRmResource cmdlet.

Steps to reproduce:
1) Get AzureRm Resource
`$resource = Get-AzureRmResource -ResourceId YOUR_SqlDatabase_ResourceId`
2) Call Set-AzureRmSqlDatabase cmdlet to set Tags on database resource.

[code]

3) Following error is thrown

[code]

[2016-06-22 07:09] OliverMartini commented on #1131
What is the status of this issue?

[2016-06-22 16:03] tillig opened #2494 "Enable a way to get an access token for an authenticated account"
I believe I'm running into the same (or similar) issue as seen in #1164.

I'm trying to automate the use of Azure Key Vault keys through PowerShell but there aren't currently cmdlets for encrypting/decrypting values. I can call [the REST API operations](https://msdn.microsoft.com/en-us/library/dn878060.aspx) but I need an access token. Given the user is already authenticated, re-authenticating jus

[2016-06-22 19:46] markcowl commented on #2494
Closing as duplicate of #1164

[2016-06-22 19:50] tillig commented on #2494
Are you planning on re-opening #1164? The last note in there indicates that a new issue should be filed if the challenge comes up again, which is why I opened what's effectively a duplicate.

If not, is there a workaround? Or was it decided this isn't an interesting scenario to support?

[2016-06-22 19:52] markcowl commented on #2481
@singhkay Can you take a look?

[2016-06-22 20:32] markcowl commented on #2492
@akromm can you take a look?

[2016-06-22 20:48] nexxus916 opened #2498 "Azure Automation - Get-AzureRmResourceGroup"
Having similar issue as #2476
The following only happens with vs 1.0.9 (not with 1.0.3) and only when run in Azure (when I run it locally with the same version 1.0.9 it works fine)
## this runs fine
$Conn = Get-AutomationConnection -Name AzureRunAsConnection
Add-AzureRMAccount -ServicePrincipal -Tenant $Conn.TenantID -ApplicationId $Conn.ApplicationID -CertificateThumbprint $Conn.CertificateThumbp

[2016-06-22 21:09] begoldsm opened #2499 "ServiceClientTracingInterceptor consumes lots of memory for cmdlets with large response bodies"
I am making changes to the ADLS export cmdlet to use parallel threads for downloading data. This is resulting in a massive spike in memory usage from the ServiceClientTracingInterceptor. For a 10GB file it consumes ~8GB of memory. This appears to be a missed optimization when ServiceClientTracingInterceptor was fixed for large request bodies. That same change should also be applied for cmdlets tha

[2016-06-22 21:56] aizumoff commented on #2107
@wangzq Please share - it'll be helpful.

[2016-06-23 07:25] OliverMartini opened #2504 "Set-AzureRmAutomationVariable cmdlet throws error when updating Description"
The Set-AzureRmAutomationVariable cmdlet throws the following error when -Description is supplied. If no -Description parameter is supplied, the cmdlet works.

[code]

[2016-06-23 11:53] pherbel commented on #669
+1

[2016-06-23 22:42] hovsepm opened #2508 "AzureRM.Resources.ps1 throws "'ResourceGroup' cannot be found on this object" when Get-AzureRmResourceGroup is called on non-existent RG"
in AzureRM.Resources.ps1 line 22 throws `The property 'ResourceGroup' cannot be found on this object. Verify that the property exists.` if call on line 20 returns no object.
[code]

there should be null check before actual call on line 22.

[2016-06-24 00:22] markcowl commented on #2494
@tillig That's what I get for not rereading the old issue

[2016-06-24 01:00] hovsepm commented on #2508
Fixed in dev branch.

[2016-06-24 01:00] #2508 closed

[2016-06-24 22:24] #2200 closed

[2016-06-24 22:34] markcowl commented on #2498
@nexxus916 You need to match the version of AzureRM.Profile *exactly* with the version specified in the resource manifest.

[2016-06-24 22:35] markcowl commented on #2504
@jodoglevy Can you take a look?

[2016-06-24 23:09] solankisamir commented on #2432
Try this with double quotes for Protocol
New-AzureRmApiManagementApi -Context $PScontext -Name "Echo api1" -ServiceUrl "https://contoso.com/apis/echo" -Protocols @("http", "https") -Path "testapi"

[2016-06-24 23:09] #2432 closed

[2016-06-24 23:25] markcowl commented on #2388
Fixed in version 1.5.1, which released today to webpi, and will be on the gallery soon.

[2016-06-24 23:25] #2388 closed

[2016-06-24 23:25] markcowl commented on #2387
This is now on webpi and will be in the gallery in a bit.

[2016-06-24 23:25] #2387 closed

[2016-06-26 21:53] wangzq commented on #2107
@aizumoff https://github.com/wangzq/Azure-PowerShell-Extensions
Feel free to use issues there for questions/bugs.

[2016-06-27 06:41] jokeeffeBP commented on #1991
I'm seeing something similar - and the lack of Verbose output is making it difficult to troubleshoot.

The Set-AzureRmVmDscExtension cmdlet never returns and can't be terminated with control-c - you have to kill the whole PS or PS-ISE window.

Also seems to be executing the config change about every minute according to the Audit Logs in the portal and not checking that the change has been made (wh

[2016-06-27 08:15] iricigor opened #2518 "Get-AzureStorageBlobCopyState -WaitForComplete leaves ProgressBar open"
When I am using command **Get-AzureStorageBlobCopyState** with **_-WaitForComplete_** switch, it is opening Progress Bar to show copy progress. Sometimes, progress bar is not closed after successful copy. This is leading to screen clutter and  memory leak.

Steps to reproduce:

[code]

[2016-06-27 08:27] iricigor commented on #2518
![screenshot_1](https://cloud.githubusercontent.com/assets/15923171/16373158/32bef2a6-3c51-11e6-994a-47787d217af7.png)
Here is screenshot example. I am copying folder by folder, each folder containing approx. 50 blobs with total size about 20GB. I am waiting one folder to finish, before proceeding with next one. Script works fine, but number of progress bars is increasing. Also, application (Power

[2016-06-27 13:08] iricigor commented on #2518
As a workaround, I started using `$ProgressPreference = 'SilentlyContinue'` at the beginning of the script.

[2016-06-27 13:47] nexxus916 commented on #2498
I'll check on it today.  I am restricted to the 1.0.9 version of AzureRM.profile because I need the AzureRM.Networking module and it specifically requires AzureRM.profile >= 1.0.9

[2016-06-27 17:18] jonsabo opened #2520 "Get-AzureRmRecoveryServicesBackupContainer Name parameter actually filters on FriendlyName property"
Related to https://github.com/Azure/azure-powershell/issues/2251

I noticed that the `Name` parameter filters solely on the `FriendlyName` property of the container and not the `Name` property like you may expect given the...name.

But using `Get-AzureRmRecoveryServicesBackupContainer` without a `Name` parameter prints out the `Name` property without the `FriendlyName` property. This can be really

[2016-06-27 19:27] jodoglevy commented on #2504
Yes, this is by design. From the cmdlet's docs:
[code]

You can update either the value or description of the variable, but not at the same time.

We designed the cmdlet this way because we want to make sure -Encypted is specified whenever -Value is specified, so that the user consciously thinks about the fact that this value may be stored in plaintext, before any value is sent. But of course -Enc

[2016-06-27 19:27] #2504 closed

[2016-06-28 09:12] iricigor commented on #1724
Further more, the same command returns different objects depending on `-Status` switch

[code]

[2016-06-28 09:55] marktayl1 opened #2523 "StorageAccountKey null or empty"
I am getting the following starting of a cascade of errors when I try to deploy the solution to the cloud...

New-AzureStorageContext : Cannot validate argument on parameter 'StorageAccountKey'. The argument is null or empty.
Provide an argument that is not null or empty, and then try the command again.
At C:\Src\JabilTemp\azure-iot-remote-monitoring-master\azure-iot-remote-monitoring-master\Commo

[2016-06-28 20:01] markcowl commented on #2498
@nexxus916 Yeah, unfortiunately, we cannot place specific version constraints on modules without breaking compatibility with PowerShell 3 and 4

[2016-06-28 20:03] markcowl commented on #2518
@EmmaZhu Can you take  alook

[2016-06-28 20:05] markcowl commented on #2520
@pragrawa can you take a look?

[2016-06-29 14:17] asw opened #2531 "Login-AzureRmAccount / Add-AzureRmAccount "We can't sign you in" on Windows Server 2016 (CTP5)"
When I run Login-AzureRmAccount on a vanilla Windows Server 2016 (CTP5) install, whether on an Administrator account or not, I receive the following error in the authentication pop-up:

![screenshot from 2016-06-28 19-48-17](https://cloud.githubusercontent.com/assets/339629/16455492/81234342-3de2-11e6-9e49-a3292cb6b052.png)

I have tried playing around with the Edge and legacy Internet Explorer co

[2016-06-29 14:24] #1736 closed

[2016-06-29 14:25] hallatore commented on #1736
Using Invoke-AzureRmResourceAction is good enough. Even though it's hard to find without the proper documentation.

[2016-06-29 18:21] bastienJS opened #2532 "C# 6.0 projects fail on compilation using Publish-AzureWebsiteProject"
I used the Publish-AzureWebsiteProject Cmdlet and it worked. Then some colleague used some c# 6.0 properties in the project and since then the Publish-AzureWebsiteProject does not compile anymore.

We have .NET 4.6.1 installed and had never problems building any C# 6.0 projects withint VS 2015.

What do we wrong?

[2016-06-29 21:16] Samikouk commented on #1316
Hi
A quick question, I have uploaded a Windows 7 image to Azure which has been sysprep'ed. I tried using this Azure ARM VM extension to automate joining the VM to the domain. The extension is crashing the VM agent which is becoming unavailable and the VM becomes unreachable via RDP.
Any advice is much appreciated.

[2016-06-29 21:43] singhkay commented on #1316
@Samikouk Best to file a support case for this. It looks like this needs deeper investigation of the logs.

[2016-06-29 21:43] #1316 closed

[2016-06-30 02:36] micktion opened #2538 "Get-AzureServiceDiagnosticsExtension and Set-AzureServiceDiagnosticsExtension fails with "Deployment not found in service""
As described in detail here...

https://social.microsoft.com/Forums/en-US/eb3d931d-2cf5-43a0-89a7-9e447b6da555/getazureservicediagnosticsextension-and-setazureservicediagnosticsextension-fail-with-no?forum=windowsazuredevelopment

We have an Azure subscription associated with our MSDN subscription and another for the client.  Whilst everything functions as expected when running scripts against the

[2016-06-30 08:03] pankajsn opened #2539 "[LogicApp] - Remove hard-coded location from the test functions in scenario testing"
To use the Get-location or get-provider cmdlets to determine an available location (it's fine to prefer any specific location if available). This makes it easier to maintain the tests, and to run them against different environments.

[2016-06-30 17:19] sameer-kumar opened #2541 "Import-Module AzureRM takes longer than usual time"
Hi,

I’m using WMF 5.0 with azure powershell cmdlets v1.5.0. I have an import-module statement which imports AzureRM.

`Import-Module -Name 'AzureRM'`

This operation takes longer than expected to execute. It took approx. 10 minutes to move to next line. Is it acceptable?

Is it just me?

Thanks!

[2016-06-30 18:02] chrisrpatterson commented on #2437
How are we progressing here? Do we expect to get this in for July?

[2016-06-30 19:47] markcowl commented on #2437
@chrisrpatterson unclear

[2016-06-30 22:00] pragrawa commented on #2520
@jonsabo
Thanks for pointing out this issue.
In the upcoming powershell release, we are deprecating Name parameter and adding FriendlyName parameter. So this will avoid confusion. Also, FriendlyName will be case sensitive due to backend limitation. We will update the doc for this commandlet.

[2016-07-01 00:06] markcowl commented on #2523
@marktayl1 Can you provide some details about what cmdlets you are running?  The Debug output would also be useful in figuring oput the issue

[2016-07-01 00:08] markcowl commented on #2531
@asw The necessary settings should be in internet explorer.

[2016-07-01 00:09] markcowl commented on #2531
@asw You might get more traction asking this issue here: https://github.com/AzureAD/microsoft-authentication-library-for-dotnet

[2016-07-01 00:10] markcowl commented on #2532
@akurmi can you take a look?

[2016-07-01 00:12] markcowl commented on #2538
@singhkay can you take a look?

[2016-07-01 00:16] markcowl commented on #2306
Fixed

[2016-07-01 00:16] #2306 closed

[2016-07-01 00:18] markcowl commented on #2541
@sameer-kumar apologies for the bad experience.  This is likely related to this issue: #2223

This is due for a fix in the next release.  Closing this for now as a duplicate.

[2016-07-01 00:18] #2541 closed

[2016-07-01 02:39] marktayl1 commented on #2523
I ran into two issues, the first is just not documented as one of the necessary steps (at least it was necessary in my case), and that was to generate the zip package at the expected location.
The second was a problem in DeploymentLib.ps1...

1. Add the zip package for the website to the appropriate directory.
2. Right click the web project and choose “publish”
3. In the resulting dialog, choose “

[2016-07-01 12:56] VincentK76 opened #2548 "New-AzureRmKeyVault gives the wrong user administrative access upon creation"
Situation:
I have a user account with UPN and email address vincent@contoso.com
I have 8 service accounts that use my email address as a alternate email address.

When I create a vault with the cmdlet New-AzureRmKeyVault the output shows that one of the 8 service accounts got administrative access instead of myself. To make sure that I truly didn't get the administrative rights I tried to create a

[2016-07-01 19:00] yantang-msft commented on #2538
Hi Micktion,

How do you deploy the cloud service and diagnostics extension?
Can you see the service by running Get-AzureService? And can you get the deployment by running Get-AzureDeployment -serviceName yourServiceName?

[2016-07-01 19:05] jonsabo commented on #2520
Oh great I'm glad to hear it, thanks @pragrawa

[2016-07-04 01:11] micktion commented on #2538
Thanks @yantang-msft.

Running Get-AzureService helped re realize what the issue was.

When I ran Get-AzureService it returned the service from our MSDN subscription.

I had registered both our MSDN and client azure subscriptions inside powershell, the default subscription was the MSDN subscription.

I ran Remove-AzureAccount to remove our MSDN subscription, it seemed to remove both subscriptions.

[2016-07-04 11:09] spaelling opened #2554 "Set-AzureRmContext -SubscriptionId does not work with multiple domains"
To reproduce one needs access to 2 subscriptions in different domains. It seems that the "default" domain is the dominant one when it comes to validating subscriptionIds.

In this case the bizspark subscription is _not_ managed by the default domain.

[code]

[2016-07-04 12:42] iricigor commented on #726
@ravbhatnagar  If there will be more delays, would it possible to drop warning **only** if Tags are used in command and not each time I run the command?

[2016-07-04 14:07] kilasuit commented on #1384
Is there any further update on this @singhkay as its now been 6 weeks since the last comment was made on this thread

[2016-07-05 19:33] TaraMeyer commented on #2459
@fearthecowboy - any update on this item?  Will the new examples be included in the latest release candidate on 7/11?

[2016-07-05 19:35] TaraMeyer commented on #2440
@markcowl  any update on this?  Could resolve to an user by the name of @akurmi

[2016-07-05 19:36] TaraMeyer commented on #2439
@markcowl  any update on this?  Couldn't resolve to @iouri-s.

[2016-07-05 20:53] yantang-msft commented on #2538
@micktion Glad to hear it's working for you.
Yes, the powershell command can only work with one subscription at a time, which makes sense. Otherwise you will have to specify the subscription parameter for every command.
And it's the best practice to check the current subscription's correctness. Consider the case that you have multiple subscriptions under the same account, even if powershell set th

[2016-07-06 00:11] micktion commented on #2538
Perhaps this is turning into a feature request.

When you  Add-AzureAccount it only returns details for the account you've registered, could it not list all the registrations and/or ask if you would like to make the account you've just added the default account?

How common would it be that someone would run Add-AzureAccount and not want to work with it immediately thereafter?  I'd say it's highly

[2016-07-06 01:02] akurmi commented on #2440
@ahmedelnably let's log a work item to track this.

[2016-07-06 01:49] yantang-msft commented on #2538
@micktion Azure RM commands actually can only allow you login into one account at a time. So there is behavior difference between ASM and ARM. You can open another issue so the owner of Add-AzureAccount can consider this suggestion.
But again, remember the case that there could be multiple subscriptions under one single account, so it's the best practice to make sure the "current" subscription is

[2016-07-06 05:26] mignonsys commented on #1528
Have a similar issue when passing a large object (multi-level nested dictionary and array objects). The exception thrown is also similar (xml....)...
The workaround I adopted was assign the final dictionary object (contains multiple key value pairs) I constructed by powershell to a single key-value dictionary (doing something like $dictobjparam = @{'value'=$originalMultiKeyValueDict}  and then use

[2016-07-06 09:16] rem8 opened #2568 "Find-AzureRMResource fails in remote execution"
When I run a script with Find-AzureRMResource it works fine, but when I run a script which executes a second script with Find-AzureRMResource, it fails with:

Your Azure credentials have not been set up or have expired, please run Add-AzureAccount to set up your Azure credentials.
Unable to retrieve service key for ServicePrincipal account
49ebcdfe-93c2-4c28-b093-794dbc83b462. Please log in again

[2016-07-06 11:30] waldner commented on #1665
Any estimation of when this will be released?

[2016-07-06 17:56] ravbhatnagar commented on #726
@iricigor - This is slated to go in the August release of Azure PowerShell which will be released in the first week of August. Concerns?

[2016-07-06 17:59] jamesweb-ms commented on #726
@ravbhatnagar  is that going to be a Major release change (aka breaking) or minor with backwards compatibility?

[2016-07-06 18:27] ravbhatnagar commented on #726
@jamesweb-ms - That will be a major release change.

[2016-07-06 23:45] avishnyakov opened #2576 "Random Login-AzureRmAccount : Object reference not set to an instance of an object."
Hello team,

We recently started having pretty random error as following:
[code]

So you run the script, all work well. Run again, works well. Run for the third time - here we go, "Login-AzureRmAccount : Object reference not set to an instance of an object.". Run again, having an exception as well.

Restart PS session, run script - all fine. Run script again - getting exception.

How to troublesho

[2016-07-07 01:01] avishnyakov commented on #2005
Same here with Login-AzureRmAccount, having the following one:
[code]

Random Login-AzureRmAccount : Object reference not set to an instance of an object. #2576

[2016-07-07 01:03] avishnyakov commented on #2005
@hovsepm what's the best way to troubleshoot that?
Set $DebugPreference = "Continue" and -Debug, nothing happen. What supposed to happen?

[2016-07-07 01:26] avishnyakov commented on #2576
Got the stacktrace:

[code]

[2016-07-07 17:40] ljt91 commented on #2531
+1 - Also having this issue!

[2016-07-07 17:45] ljt91 commented on #2531
Check this out, temporary fix - http://allthingscloud.info/we-cant-sign-you-in-how-to-fix-it-azure-login/

[2016-07-07 17:47] asw101 commented on #2531
@ljt91 Thanks for sharing that! I'd previously tried dropping the "Internet" security level and for some reason it didn't work, so I wasn't sure if it was IE or Edge related, or something else.

[2016-07-07 18:17] MichaelCommo opened #2580 "Set-AzureRmSqlDatabaseTransparentDataEncryption: System.NullReferenceException"
Intermittently, we see issues where this command-let throws a System.NullReferenceException, with message: Object reference not set to an instance of an object.  This seems to happen when we have this command running in parallel in different powershell runspaces.  We're wondering whether this commandlet is thread-safe?  Haven't seen this issue running the commands serially, only in parallel. Pleas

[2016-07-07 19:40] rem8 opened #2581 "Get-AzureRmVirtualNetworkGatewayConnection does not return ConnectionStatus"
Reproduce:
1. Run Get-AzureRmVirtualNetworkGatewayConnection
2. ConnectionStatus is empty, although I can see it through portal.azure.com

![image](https://cloud.githubusercontent.com/assets/20316821/16667163/5f971c1c-448b-11e6-9093-bdd9d5d63f5b.png)

[2016-07-07 22:36] vivsriaus commented on #2568
@rem8 the error message indicates that the issue is with credentials being expired or not being set correctly before calling the Find-AzureRmResource cmdlet in your second script. Are you able to successfully run other cmdlets (for instance, Get-AzureRmResourceGroup or Get-AzureRmResource) in your second script?

[2016-07-08 01:27] alvipeo opened #2585 "Can't deploy - error from Set-AzureRmContext (Cannot validate argument on parameter 'SubscriptionId')"
I have 4 subscriptions and I'm working on one (testing) and then trying to make a deployment to another one (with New-AzureRmResourceGroupDeployment). Here's what I have:

[code]
and I get

So, how to make a deployment?

[2016-07-08 06:18] rem8 commented on #2568
Yes, apparently I can run any other command (well, at least other what we tried). We are in need on monitoring Virtual Network Gateway and we checked that after Login-AzureRMAccount when we run Find-AzureRmResource fails (with or without parameters), but when we run Get-AzureRMVirtualNetworkGateway - it works as well as any other Get-AzureRM.

[2016-07-08 17:29] vivsriaus commented on #2568
@rem8 I'm unable to reproduce this issue if I run Find-AzureRmResource (with or without params) from a script. Can you please send us your exact repro steps (feel free to omit sensitive information), along with the azure powershell version you're using?

[2016-07-08 17:43] bryanar commented on #1524
I'm seeing this as well, many months later. Did anyone ever try to resolve this? Is the key vault team in the know?

[2016-07-08 17:44] rem8 commented on #2568
OK, this would be a tricky part. We are using latest 1.5.1 Azure RM Module on PowerShell 5 version. System 2012 R2. The funny thing is that you might not have SCOM system installed. The strange thing is that when I run SCRIPT 1 which runs ./GetAzureVNG.ps1 which contains Login-AzureRMAccound and Find-AzureRmResource, it works fine. Whenever the SCRIPT is run by SCOM (on LocalSystem creds) which fr

[2016-07-08 17:50] vivsriaus commented on #2568
@rem8 sure, can we do the skype meeting sometime on Monday? I'm in the west coast (Pacific Time), so please feel free to ping me @vivsriaus (my Skype ID) during a reasonable work hour timeframe :)

cc: @markcowl @hovsepm to see if they're aware of any known issues with 1.5.1. It doesn't look like an issue with the cmdlet per se, but I may be wrong.

[2016-07-08 17:54] hovsepm opened #2588 "Upgrade ClientRuntime to 2.3.1 and ClientRuntime.Azure to 3.3.1 and re-record failing tests"
This blocks KeyVault migration to Swagger.

Cost: 4
Investigate why recorded tests fail after upgrade.

[2016-07-08 17:54] rem8 commented on #2568
Well it also didn't work with 1.5.0 :) So we moved to specifying exactly Get-AzureRMVirtualNetworkGateway instead of Find-AzureRmResource with -ResourceType.

[2016-07-08 20:34] ravbhatnagar commented on #2568
@rem8 -  I am not sure if this is by design, but Get-AzureRmVirtualNetworkGateway cmdlet and some other networking cmdlets do not immediately fail if the client is not connected to Azure. It will still prompt for the params. But they do eventually fail asking you to login. I would have expected it to fail right away if not connected to Azure. @markjbrown @markcowl to comment on this behavior.

A c

[2016-07-08 21:09] rem8 commented on #2568
#1 - Yes, I'm getting the Subscription info
#2 - Yes, I'm getting the cmdlet working (fortunately) and many others too.

Whenever I put Find-AzureRmResource, it just pops up with error as in the first post like would break the connection. This is really strange as working with it locally even with nested scripts, works fine...

[2016-07-08 21:34] ravbhatnagar commented on #2568
hmm interesting, can you check if the AzureRm.Resources module is loaded in the second execution?

[2016-07-08 22:32] #124 closed

[2016-07-11 11:55] andreamaruccia commented on #2336
+1

[2016-07-11 13:29] chrisrpatterson commented on #2437
The xplat-cli has updated their code to incorporate the variable https://github.com/Azure/azure-xplat-cli/pull/2980

[2016-07-11 18:06] hovsepm commented on #2585
@alvipeo thanks for reporting. this is the same issue as https://github.com/Azure/azure-powershell/issues/2554 .

[2016-07-11 18:06] #2585 closed

[2016-07-12 04:32] gandhiniraj commented on #2418
I followed the steps, but couldn't repro the issue. @pcgeek86 can you run
Trace-Command -Name parameterbinding -Expression { $ResourceList  | Remove-AzureRmResource -Force} -PSHost
as @markcowl pointed out.

[2016-07-12 12:49] dawilliams commented on #2180
This has happened to me as well.

[2016-07-12 17:15] ravbhatnagar commented on #2416
Fixed in 1.5.1

[2016-07-12 17:15] #2416 closed

[2016-07-12 18:22] ravbhatnagar commented on #2370
Agreed, we should fix this.

[2016-07-12 18:56] ravbhatnagar commented on #2414
This is an issue. Adding to backlog.

[2016-07-12 21:19] hovsepm opened #2600 "Login-AzureRMAccount fails to set SubscriptionID for the second user."
Assume you have 2 different user accounts in different subscriptions.
Repro:
[code]
The only workaround is to close PS window and open it again.

**Update:** This is a regression from PS release 1.5.1.

[2016-07-12 21:59] hovsepm opened #2601 "TestFramework for AutoRest generated clients does not expose Graph client creation API"
However Hyak based TestFramework exposed this API. We need to port it over to unblock partner teams.

[2016-07-12 22:29] hovsepm opened #2602 "Build on dev box errors for ""Missing assembly Microsoft.Web.Hosting referenced from Microsoft.Web.Deployment""
Does not fail on CI builders.

[2016-07-12 23:36] hovsepm commented on #2602
Fixed in dev branch.

[2016-07-12 23:36] #2602 closed

[2016-07-13 18:17] abhishekanand opened #2605 "Get-AzureRmResource : Parameter set cannot be resolved using the specified named parameters."
AzureRM version 1.5.1
Get resources by resource group does not work

PS C:\Users\user> Get-AzureRmResourceGroup
ResourceGroupName : FTASRVaultRG
Location          : eastus
ProvisioningState : Succeeded
Tags              :
ResourceId        : /subscriptions/6b6a59a6-e367-4913-bea7-34b6862095bf/resourceGroups/FTASRVaultRG

ResourceGroupName : mygroup2
Location          : centralus
ProvisioningState

[2016-07-13 19:19] solankisamir opened #2606 "Set-AzureRmApiManagementApi delete the Operations under the Api"
The issue I have is that if I call Set-AzureRmApiManagementApi, this does allow me to update the Service URL, but it deletes all of the operations. I can use Set-AzureRmApiManagementOperation operation, but I cannot set the rewrite URL as this is in the policy

[2016-07-13 20:54] Eneuman commented on #669
+1

[2016-07-14 00:32] markcowl commented on #2605
@vivsriaus can you take a look?

[2016-07-14 00:54] micktion opened #2608 "Get-AzureVM fails silently"
When I run Get-AzureVM it terminates without giving any output to the console.  It should give some feedback to the user to let them know what has happened, regardless of what the state is, e.g. not logged in, no vms found etc.

Without any output from powershell scripts its very difficult to isolate an issue when you're having one.

When I run Get-AzureVM I have no idea why its failing (or if it

[2016-07-14 01:01] hovsepm commented on #2601
Published new Microsoft.Rest.ClientRuntime.Azure.TestFramework version [1.3.0-preview](https://www.nuget.org/packages/Microsoft.Rest.ClientRuntime.Azure.TestFramework/1.3.0-preview) to nuget with the fix

[2016-07-14 01:01] #2601 closed

[2016-07-14 01:57] markcowl commented on #2608
@singhkay Can you take a look

[2016-07-14 02:18] markcowl commented on #2600
just did thi, with no repro.  What kind of accounts are you using?  Need to repro with ```$DebugPreference="Continue"``` so we can get the ADAL Traces.

Here's a successful execution:

[code]

[2016-07-14 02:22] markcowl commented on #2600
@hovsepm can you get a transcript of the issue, when it occurs with ```$DebugPreference="Continue"``` set?

[2016-07-14 02:44] markcowl commented on #2461
@MichaelGrafnetter I see, so the ask is about automatically using the credentials of the logged in user without additional inputs, is that correct?

How do such users use alternate accounts for login to Azure, through the portal, for example?  I could imagine adding a parameter set to allow integrated authentication, but I would hesitate to make this the default behavior.

For now, the second case

[2016-07-14 02:46] markcowl commented on #2472
Checklist is here: https://github.com/Azure/adx-documentation-pr/blob/master/clis/powershell/prstandard.md

[2016-07-14 02:46] #2472 closed

[2016-07-14 02:47] #2300 closed

[2016-07-14 02:50] markcowl commented on #1255
Fixed.

[2016-07-14 02:50] #1255 closed

[2016-07-14 02:50] markcowl commented on #718
Fixed

[2016-07-14 02:50] #718 closed

[2016-07-14 02:54] markcowl commented on #2303
Potential workaround is provided in the referenced bug in ADAL.  Please try this out and let me know if we need to reopen this bug with them.  Cloding for now.

[2016-07-14 02:54] #2303 closed

[2016-07-14 02:55] markcowl commented on #2576
@avishnyakov What is the context in which this is happening?  WHich versions of the cmdlets are you using? Are there multiple threads running cmdlets in the same AppDomain?  This looks awfully similar to issues I've seen reported in scenarios with multiple scripts running per app domain.

[2016-07-14 03:03] markcowl commented on #2302
PowerShell core team is talking about realaing a fix for the UpdateModuleManifest bug, so moving this to August

[2016-07-14 03:09] markcowl commented on #1937
Fixed

[2016-07-14 03:09] #1937 closed

[2016-07-14 03:12] markcowl commented on #827
Fixed

[2016-07-14 03:12] #827 closed

[2016-07-14 03:14] markcowl commented on #475
Default implementation was fixed in the above PR

[2016-07-14 03:14] #475 closed

[2016-07-14 03:17] markcowl commented on #2331
@energizedtech It looks like you didn't open an issue agianst the ADAL library.  Closing this for now, please open the issue there, as that is the source of the error message.

[2016-07-14 03:17] #2331 closed

[2016-07-14 03:22] markcowl opened #2610 "Update StaticAnalysis to require SupportsShouldProcess for action verbs"
### Description

Static Analysis currently marks action verbs without SupportsShouldProcess as a P2 issue.
* Move this to a P1 issue (which will cause build failures)
* Add exceptions for existing cmdlets without SupportsShouldProcess to enable build success

### Cost:  < 1

[2016-07-14 03:24] markcowl opened #2611 "Remove Force parameters marked as Obsolete"
### Description

As part of the two-part implementation of ShoulcProcess support, remove Obsolete Force parameters and associated warnings

### Cost: 1

[2016-07-14 03:26] markcowl commented on #2228
Fixed

[2016-07-14 03:26] #2228 closed

[2016-07-14 03:26] markcowl commented on #2225
Replaced

[2016-07-14 03:26] #2225 closed

[2016-07-14 03:50] markcowl commented on #2554
### Description

The issue in this case is that the cached data for subscriptionId only encompasses a single subscription.  The solution is to add some structure to the cache, so that the full set of subscriptions are keyed by tenantId, i.e. ```tenantId => subscriptionList``` .   We cna then use this cached data in the ValidatioNSet for SubscriptionId - essentially, the list would change based on

[2016-07-14 04:06] vivsriaus commented on #2605
@abhishekanand this is not an issue with the cmdlet, this is by design. That said, we're currently evaluating options to list resources under a resource group, and to add support for this in one of our ARM cmdlets.

In the meantime, please use Find-AzureRmResource -ResourceGroupNameContains "myGroup" as a workaround. Cc/ @ravbhatnagar

[2016-07-14 07:18] slavizh commented on #2554
Here is an example you can test with subscriptions in different subscriptions
$AzureInfo =
 (Get-AzureRmSubscription `
 -ErrorAction Stop |
 Out-GridView `
 -Title 'Select a Subscription/Tenant ID for deployment...' `
 -PassThru)

 # Select Subscription
 Select-AzureRmSubscription `
 -SubscriptionId $AzureInfo.SubscriptionId `
 -TenantId $AzureInfo.TenantId `
 -ErrorAction Stop| Out-Null

[2016-07-14 11:01] jaxoft commented on #726
You can do
- read the tags from the VOP.
- Add or remove a tag from the array
- Update the VM tags

Example:
#$VM is your VM
$system=Get-AzureRmVm|?{$_.Name -eq $VM}
$tags=$system.tags

        foreach ($VMtag in $tags.GetEnumerator())
        {
            Write-Host "$($VMtag.Key) = $($VMtag.Value) "
            $TagsNew += @{name="$($VMtag.Key)" ; value="$($VMtag.Value)"}

        }

( for exam

[2016-07-14 12:22] martincostello commented on #669
For those using VSTS, it [looks like a new task](https://www.visualstudio.com/news/2016-jul-7-vso) can be used to achieve AppOffline through other means:

[2016-07-14 13:15] jnxxx commented on #2494
I would like to be able to obtain an access token for "graph.microsoft.com", then then make rest calls to it.
Purpose is to read all application info, including key expiration date and owner which is not returned by Get-AzureRmADApplication.

[2016-07-14 14:40] Stevea37 opened #2612 "Error downloading Module (not applicable to any other modules)"
I have tried downloading the "Azure" module onto several different systems, including onto azure machines and I get this same error when installing:

`DEBUG: 00:06:11.9413059 System.AggregateException: One or more errors occurred. ---> System.AggregateException: One or more errors occurred. ---> System.Threading.Tasks.TaskCanceledException: A task was canceled.
   --- End of inner exception stack

[2016-07-14 17:15] singhkay commented on #2608
@hyonholee Can you take a look at this?

[2016-07-14 17:16] kilasuit commented on #1384
@singhkay / @markcowl - Can we get an update on this one way or another please?

We are 8 & 1/2 months on since this was initially raised surely this should be able to be prioritised, fixed and closed soon enough?

[2016-07-14 18:05] ravbhatnagar commented on #1778
Fixed in 1.6.0

[2016-07-14 18:05] #1778 closed

[2016-07-14 18:09] hovsepm commented on #2612
@Stevea37 I'm unable to repro with `install-module Azure -Repository PSGallery`. Can you paste here commands sequence that you use?

[2016-07-14 18:12] hovsepm opened #2613 "Configure CI builders for Powershell gallery publishing"
Currently ci-signing repo uses latest version of nuget.exe which uses nuget protocol V3 which is not supported by powershell gallery. The support only V2 which means we need to configure a publishing environment that will use nuget v2.8-latest for publishing.

[2016-07-14 18:14] ravbhatnagar commented on #1867
Investigate options to perform search for object across subscriptions in a tenant.

[2016-07-14 18:19] ravbhatnagar commented on #1877
Tracking this on our service backlog. Closing here.

[2016-07-14 18:19] #1877 closed

[2016-07-14 18:27] ravbhatnagar opened #2614 "New-AzureRMResource help needs to be updated"
Does not include params like IsFullObject

[2016-07-14 18:45] ravbhatnagar commented on #2086
Closing. Please let us know if this is still an issue and I will re-open this one.

[2016-07-14 18:45] #2086 closed

[2016-07-14 18:48] ravbhatnagar commented on #2218
Fixed in 1.6

[2016-07-14 18:48] #2218 closed

[2016-07-14 20:33] singhkay commented on #1384
@kilasuit Sorry, been busy with non-PS priorities. Here's the design being currently discussed with the PS team. This is based on existing Get-Date cmdlet that has a parameter `DisplayHint` that can display various different output formats.

[code]

The proposal is to add a `-DisplayHint` parameter to `Get-AzureRmVm` so that the cmdlet can display the current output as well as your proposed output

[2016-07-14 20:44] ravbhatnagar commented on #2605
#2307

[2016-07-14 20:59] ravbhatnagar commented on #1856
Which Application insights resource was giving an issue? It might be related to an earlier issue on the service side which has been since fixed. Can you please let us know if you still running into an issue with a specific application insights resource?

[2016-07-14 21:38] TaraMeyer commented on #2440
@akurmi  @ahmedelnably looks like the a new cmdlet for the Websites module was included with the latest msi - **Swap-AzureRmWebAppSlot**.  There was no help start content available for this cmdlet either.  Let me know when you have the content ready and I'll have the vendor writer get these topics normalized and added to MSDN.

[2016-07-14 22:09] trondhindenes commented on #1384
I'm not opposed to a displayhint parameter, but your reply seems to indicate that the current json output would be the default. I don't understand why you would believe that to be the preferred output for most users - I seriously believe it's the other way around.

[2016-07-14 22:22] singhkay commented on #1384
@trondhindenes The discussion is not closed on the default view but IMO we have an opportunity to experiment here a bit on what should be the default provided the return object is not changed so that we don't have breaking changes to scripts. Here's an example experiment that could be done to further this discussion:

* Add DisplayHint with two values
    * Compact
    * Expand
* Set Object view (

[2016-07-14 22:35] trondhindenes commented on #1384
My first thougt is that that would make an extremely long-running issue even more long-running since we're not actually fixing the problem. Again I don't see the problem: Thousands if not millions of Powershell cmdlets have already set precedence for how Powershell should work in terms of output. All you guys need to do is align to that precedence.

[2016-07-15 02:28] markcowl commented on #2600
This is caused by a regression in ADAL 2.27.  It is not using the UserId when retieving tokens from the cache, so, both the Common tenant token for the second user and the tenant token for the first user are returned when the cache is queried. This results in an incorrect multiple matching tokens error, like this:

which prevents further execution.  This may come up when logging in as 2 users that

[2016-07-15 14:37] AWahlqvist opened #2617 "New-AzureRmWebApp fails with "InternalServerError" when cloning web apps"
When cloning web apps following the procedure at:
https://azure.microsoft.com/en-us/documentation/articles/app-service-web-app-cloning/

I always get the error "New-AzureRmWebApp : Long running operation failed with status 'InternalServerError'". Also, This cmdlet might need better parameter sets/error handling since you can leave out parameters completely that are needed for the command to work (

[2016-07-15 15:11] Stevea37 commented on #2612
I used exactly the same command sequence as you. I haven't actually experienced the issue today, so perhaps it was just a temporary problem, I will close the issue.

[2016-07-15 15:11] #2612 closed

[2016-07-15 15:32] QuasarSE opened #2618 "Get-AzureRmResource Parameter Sets broken"
`Get-AzureRmResource` doesn't work for retrieving all the resources in a given RG.  e.g.

[code]

yields:

[code]

Which should work as it's example 2 in the help for this cmdlet. :-)

Typo in the `Get-Help` text as well:<br/>_If you find an issue . . . with a **lable** "ResourceManager"._
vs.<br/>_If you find an issue . . . with a **label** "ResourceManager"._

[2016-07-15 15:35] QuasarSE commented on #2618
Looks like #2605 -- but can't be "by design" since it's even an example from the cmdlet's help.

[2016-07-15 15:47] MAPMA commented on #1978
You cannot boot the VM back up, you can delete it and create another one using it's resources (disk, nic, etc) via powershell. Something like:

$rgName = "yourresourcegroup"
$location = "yourzone"
$vmName = "youazurevmname"
$computerName = "youroldhostname"
$vnetName = "yourazurevirtualnetwork"
$nicname = "youoldnicname"
$storageAcc = "yourstorageaccount"
$osDiskName = "yournewdiskname" # need to

[2016-07-15 16:24] markcowl commented on #2617
@akurmi can you take a look?

[2016-07-15 21:36] kcheick opened #2621 "Save-AzureRmProfile not working in NonInteractive mode in version 1.6.0"
We use Save-AzureRmProfile as part of out build and it fails since we updated to 1.6.0.

2016-07-15T20:46:36.5379238Z ##[error]Save-AzureRmProfile : Windows PowerShell is in NonInteractive mode. Read and Prompt functionality is not available.
2016-07-15T20:46:36.5379238Z ##[error]At D:\agent1_work\1\s\source\Deployment\AzureHelpers.psm1:333 char:5
2016-07-15T20:46:36.5379238Z ##[error]+     Save-A

[2016-07-15 21:50] #2621 closed

[2016-07-15 22:07] kcheick commented on #2621
My bad there was mismatch between the build server and my local version of powershell. The latter  was a version older than 1.6.0 which did not have the -Force parameter for Save-AzureRmProfile.
Adding the -Force paramter solved the issue

[2016-07-15 22:32] solankisamir opened #2622 "Set-AzureRmApiManagementUser throws ValidationError when State is not specified"
When Set-AzureRmApiManagementUser is execute without State, it throws error ValidationError, as the UserState that is passed is 0, which is an Invalid User State.

[2016-07-16 00:36] singhkay commented on #1978
Closing as this not possible due to the way sysprep works.

[2016-07-16 00:36] #1978 closed

[2016-07-18 12:40] AWahlqvist commented on #2617
Update: Not entirely sure why but it actually seems to work today. I did recreate the apps so either they were in a "bad state" or I had "fat fingers" earlier... It seems to work now anyway, I've done multiple successful attempts. I still think that the parameter sets/error handling of the cmdlet should be addressed though since it's a bit confusing right now what you actually need to make it work

[2016-07-18 13:50] iricigor opened #2626 "Set-AzureRmVMCustomScriptExtension is not supporting PSVirtualMachine parameter"
At the moment, there is only `-VMName` as parameter of type [string]. I cannot pass VM configuration object to script (type `[Microsoft.Azure.Commands.Compute.Models.PSVirtualMachine]` or similar). This is making command unusable for VMs that are being provisioned. One needs to provision non-customized (or unsecured machine) and wait for for its availability.
This functionality was present in old

[2016-07-18 17:39] #2600 closed

[2016-07-18 18:04] gandhiniraj commented on #2618
@QuasarSE thanks for reporting, will investigate the parameter set issue.
Fixed the typo (will be in next release)

[2016-07-18 18:27] pcgeek86 opened #2627 "Missing help Get-AzureRmLocalNetworkGateway"
![image](https://cloud.githubusercontent.com/assets/466713/16925750/e8fa24ae-4ce2-11e6-8709-ae631ca3ebb8.png)

Cheers,
**Trevor Sullivan**
Microsoft MVP: Cloud & Data Center Management
https://trevorsullivan.net
https://twitter.com/pcgeek86

[2016-07-18 18:29] pcgeek86 opened #2628 "ResourceGroupName parameter should not be mandatory for Get-AzureRmLocalNetworkGateway"
![image](https://cloud.githubusercontent.com/assets/466713/16925829/47f5bd42-4ce3-11e6-879c-b3c3ad255d33.png)

Cheers,
**Trevor Sullivan**
Microsoft MVP: Cloud & Data Center Management
https://trevorsullivan.net
https://twitter.com/pcgeek86

[2016-07-18 19:14] DeepakRajendranMsft commented on #2628
@lamchester, please fix this

[2016-07-18 19:19] pcgeek86 opened #2629 "Set-AzureVNetGatewayKey : InternalError : An internal error has occurred."
Cheers,
**Trevor Sullivan**
Microsoft MVP: Cloud & Data Center Management
https://trevorsullivan.net
https://twitter.com/pcgeek86

[2016-07-18 21:30] markcowl opened #2630 "Update default WebPI Feed to remove 'Windows' from feed ID"
### Description

The WebPI feeds for powershell use an identity that starts with 'WindowsAzure'.  For each of these feeds:
-Rename the feeds to start with 'AzurePowerShell'
- Create a 'shadow' feed which does not show up in the search list that uses the old identity, for compatibility.
### Cost: 2

[2016-07-18 22:47] ravbhatnagar commented on #2618
@QuasarSE - This is currently by design and the cmdlet help would need to be updated to reflect this behavior. This scenario is supported through Find-AzureRmResource -ResourceGroupNameContains <resource-group-name>.
That said, we are also exploring some other options in this regard as well.

[2016-07-18 23:14] QuasarSE commented on #2618
@ravbhatnagar - To complete this, the Find-* approach would be fine, except that it's less efficient (scanning multiple RGs) and means you need to change the single cmdlet into a pipeline to weed out the extraneous resources found.    We have customers (especially EPG customers) that use mandated naming schemes containing many common substrings, so at a minimum, `Find-AzureRmResource` should get a

[2016-07-18 23:32] ravbhatnagar commented on #2618
@QuasarSE - Yes, I hear you. Adding a new param to Find* is one of the options under consideration.

[2016-07-19 02:40] blueww commented on #2518
Hi,

I have tried to repro the issue, but not repro by copy 19 * 200MB files for 20 times.
I run the scenario for 2 times and not see repro.

[code]

[2016-07-19 17:53] robplank opened #2633 "New-AzureRmADApplication - identifierUris max length?"
What is the max length of the  identifierUris parameter?

When using a URI value that is 233 characters I get this error

New-AzureRmADApplication : {"odata.error":{"code":"Request_BadRequest","message":{"lang":"en","value":"Property identifierUris is invalid."},"values":[{"item":"PropertyName","value":"identifierUris"},{"item":"PropertyErrorCode","value":"GenericError"}]}

[2016-07-19 20:09] markcowl commented on #2629
That is just an awesome error message.

@deepakrakendranmsft can you take a look?

[2016-07-19 20:11] markcowl commented on #2633
@shuagarw can you take a look?

[2016-07-19 20:56] DeepakRajendranMsft commented on #2629
@lamchester, please take a look

[2016-07-19 21:30] robplank opened #2634 "Start-AzureRmAutomationRunbook Help Content"
You should provide an example for each parameterNameSet and show an example of how to use the Parameters parameter

[2016-07-19 21:40] cravelight opened #2635 "Find-AzureRmResourceGroup only showing groups from one subscription, and not the active one"
I have 2 subscriptions.

I have set the second one to my default and it's showing as IsCurrent

When I run `Find-AzureRmResourceGroup` it only shows me resource groups from the first subscription.

[2016-07-19 22:26] shuagarw commented on #2633
+ @rbacask
Hi Rob, Please contact Graph team for this as this error is returned from graph api. Alias - DirectoryGraphD

[2016-07-19 22:37] robplank commented on #2633
@shuagarw can you confirm that there is an issue with long values ?

if the error is returned from the Graph API then the cmdlet has an issue that needs to be fixed

Please fix the cmdlet to return a meaningful error message and catch the exception correctly.

[2016-07-19 23:29] gandhiniraj commented on #2635
@cravelight can you run Get-AzureRmContext and see what subscription is in current context?

[2016-07-20 00:08] ravbhatnagar opened #2637 "Remove the tags deprecation message from all cmdlets"

[2016-07-20 00:10] ravbhatnagar commented on #2637
As we update the usability of tags, the breaking change warning message that was added for all service teams using tags parameter needs to be removed.

[2016-07-20 02:07] shuagarw commented on #2633
@rashidqureshi @rbacask for FYI

@robplank - I have sent a mail to graph team to confirm this, will let you know once we get to know.
 Also, I tried this and got the same error, Error message is not helpful at all.
This error is returned from Graph API and is not an issue with cmdlet, as we don't do all the validations that is done on graph side on client side as well. We want to return the error

[2016-07-20 02:15] robplank commented on #2633
@shuagarw if there is a limitation on length why wouldn't you add a validation rule to the cmdlet and stop the execution early before making the call to Graph, with that said I'm okay without adding the validation if the error message clearly describes the issue preventing the execution.

[2016-07-20 06:41] NimishaS opened #2638 "Add test coverage for Chef Extension ARM commands"
Test coverage for https://github.com/Azure/azure-powershell/pull/2587 needs to be added

[2016-07-20 14:37] cravelight commented on #2635
I ran through the same process as I did yesterday and today it worked. My only thought is that it might be that I shut down PowerShell completely last night (due to a reboot).

When I logged in yesterday - the first subscription would have been current/default.

When I logged in today - the second subscription was current/default. (based on my changes yesterday)

[2016-07-20 18:15] mthenot opened #2641 "Get-AzureRmADGroupMember does not return an arrary of objects but a flat array"
I would be expecting to do something like that $objectids = (Get-AzureRmADGroupMember -GroupObjectId $groupid).ObjectID
But the result set only contains one column...

[2016-07-20 18:20] mthenot commented on #2641
ignore that issue ran | get-member to notice that ObjectId was actually Id...

[2016-07-20 18:20] #2641 closed

[2016-07-20 23:49] shuagarw commented on #2633
@rbacAsk  for FYI
@robplank - Graph team confirmed that the identifierUri max limit is 120 chars and they filed a task on their side to improve the error message in this case. Thanks for reporting this.

[2016-07-20 23:49] #2633 closed

[2016-07-21 12:47] ned1313 opened #2646 "Get-AzureRMSiteRecoveryVault returns nothing"
When running the cmdlet Get-AzureRMSiteRecoveryVault no items are returned.  I can run Get-AzureRMResource and filter on type  Microsoft.RecoveryServices/vaults and I get the two vaults that exist in the current subscription.

[2016-07-21 14:00] arunshouri commented on #1597
I got quite in the same scenario, my colleague has generalised the VHD. I am looking into creating a VM using the VHD and landed with the same error. Can you guys help me out on this one?

$vNet = Get-AzureRmVirtualNetwork -Name $vnetName -ResourceGroupName $RGVnet
$SubnetIndex = '8'

$pip = New-AzureRmPublicIpAddress -Name $nicName -ResourceGroupName $rgName -Location $locName -AllocationMethod D

[2016-07-21 16:45] singhkay commented on #1597
@arunshouri See comment https://github.com/Azure/azure-powershell/issues/1597#issuecomment-181910787

[2016-07-21 18:29] markcowl commented on #2576
@avishnyakov Also, the stack trace is a slightly different error, are these two errors related, or separate?

[2016-07-21 20:28] syedms opened #2647 "Could not load Microsoft.WindowsAzure.Commands.ServiceEngagement.Common.dll"
I am trying to build the project (with change and without change) and load the module using Import-Module azure.psd1 and encountering an exception that couldn't load the assembly Microsoft.WindowsAzure.Commands.ServiceEngagement.Common while importing the Azure service management module. I tried to troubleshoot with installutil and with custom snapin's and modules but still the same error with thi

[2016-07-21 23:34] avishnyakov commented on #2576
1.5.0 / 1.5.1

Correct, we use PSParallel to boots up things. I would point out multiple threads as the most likely cause of the issue.

https://www.powershellgallery.com/packages/PSParallel/2.2.2

The error is extremely random, it's done by now. We tried Azure PS reinstall, 1.5.0 / 1.5.1, other VMs, reboots, nothing helped. Right now we don't seem to have that issue. May be 1 of 250 runs will giv

[2016-07-22 17:19] markcowl commented on #2576
@avishnyakov Right now, the cmdlets are not really designed for parallel execution.  This is something that we plan to address in the Fall, both by targeting sources of parallel issues and by supporting powershell background jobs.  Meanwhile, once we find the root cause here, we'll release a fix.

[2016-07-22 20:43] markcowl commented on #2647
What version of the cmdlets are you using?

[2016-07-22 20:58] markcowl opened #2652 "Find-AzureRMResource (and other resource cmdlets) use invalif apiVersion when switching between AzureStack and Azure"
### Description
When No APIVersion is provided on the command line, the api version comes from a call to listing providers and is stored in an Apiversion cache.  This cache is not cleared when I target a different azure environment (like AzureStack) and so, if I login to a different environment, and use FindAzureRmResource again, I may end up using an APIVersion from the cache which may or may not

[2016-07-22 20:59] markcowl commented on #2652
@ravbhatnagar This is crucial for AzureStack and national cloud scenarios, can you take a look?

[2016-07-22 21:25] ravbhatnagar commented on #2652
We will fix this.

[2016-07-22 21:26] ravbhatnagar commented on #2635
Closing this issue in that case.

[2016-07-22 21:26] #2635 closed

[2016-07-22 23:19] gregjhogan commented on #2278
@ravbhatnagar can you please fix this?!  When using either -TemplateParameterFile or -TemplateParameterObject there is no non-interactive way to pass a parameter named "name".  I would say when it is in the parameter file or parameter object it should know that is what you want to pass for the value.  If that is not possible, please at least support what it asks for when in interactive mode by exp

[2016-07-23 00:13] shuagarw opened #2655 "RoleName in output of Get-AzureRMAuthorizationChangeLog cmdlet is not populated"
RoleName in output of Get-AzureRMAuthorizationChangeLog cmdlet is not populated.

[2016-07-23 00:14] shuagarw commented on #2655
@RBACAsk to track this issue.

[2016-07-23 00:34] brandoncasaba opened #2656 "Login-AzureRmAccount: AccessToken ParameterSet requires SubscriptionId/Name ?"
Hello,

I'm trying to use the Login-AzureRmAccount with an AccessToken and have ran in to problems. The Parameter Set seems to require a Subscription Id? I'm using a ServicePrincipal with a client id and shared secret.

Example code:

[code]

The only way I've found to get past the Parameter Set error is to include either the -SubscriptionName or -SubscriptionId attribute which also doesn't get me

[2016-07-23 03:07] gregjhogan opened #2657 "Improve quality of error messages when multiple "Conflict" errors occur"
I deployed a template which links to other templates, and the linked templates use parameters that reference a key vault secret (but I wonder if it is simpler to reproduce than that).  Eventually I discovered what caused the below error was that I forgot to enable the key vault for template deployments, but the error message that I got didn't help me figure that out.

[code]

[2016-07-24 01:54] gregjhogan opened #2658 "Set-AzureRmKeyVaultAccessPolicy fails when using -ObjectId and SPN"
This command:
[code]

Fails with this error:
[code]

I believe the issue is because the SPN can't query the graph API, but when I pass the object ID it seems like there should be no need to query the graph API.

[2016-07-25 14:53] danielstocker opened #2659 "Cannot select ARM subscription on different tennant"
Selecting an ARM subscription with the following cmdlet leads to the below error

Add-AzureRMAccount

Environment           : AzureCloud
Account               : UserAccount
TenantId              : <Tenant 1>
SubscriptionId        : <Subscription 1>
SubscriptionName      : Sub1
CurrentStorageAccount :

Select-AzureRMSubscription –SubscriptionId <Subscription 2 on Tenant 2> -verbose -debug

Set-Azur

[2016-07-25 14:54] danielstocker commented on #2659
[https://github.com/Azure/azure-powershell/issues/2554](https://github.com/Azure/azure-powershell/issues/2554) seems to be very similar

[2016-07-25 15:24] lmusat opened #2660 "Set-AzureRmVirtualNetworkSubnetConfig doesn't allow empty RouteTable"
Currently I am unable to remove a route table from a subnet using azure powershell.
I can do it from UI using an option called "Dissociate".
In this file: https://github.com/Azure/azure-powershell/blob/dev/src/ResourceManager/Network/Commands.Network/VirtualNetwork/Subnet/SetAzureVirtualNetworkSubnetConfigCommand.cs
why is a must to check that RouteTable is not null?
Is there an alternate way to r

[2016-07-25 22:32] syedms commented on #2647
Hi Mark,

I tried with PowerShell 5.0 and 3.0

Thanks
Syed

[2016-07-25 22:36] cormacpayne commented on #2647
@syedms could you run import module in debug mode and paste the output messages here?

[2016-07-25 22:40] cormacpayne commented on #2659
Same issue as https://github.com/Azure/azure-powershell/issues/2554

[2016-07-25 22:40] #2659 closed

[2016-07-25 22:49] DeepakRajendranMsft commented on #2660
Hi @lmusat  Thanks for pointing this out.

To unblock yourself, you could do this

$vnet = Get-AzureRmVirtualNetwork -Name -ResourceGroupName
$vnet.Subnet[0].RouteTable = $null //use the correct subnet index
$vnet | Set-AzureRmVirtualNetwork

Thanks,

[2016-07-25 23:10] hovsepm commented on #2588
Fixed in dev branch.

[2016-07-25 23:10] #2588 closed

[2016-07-25 23:18] visuram opened #2661 "Remove-AzureRmRoleAssignment cmdlet not working for classic administrators"
Hi Team,

We are seeing an issue with Remove-AzureRmRoleAssignment cmdlet, where when we try to remove the administrators who were added from old portal cannot be removed.

Please see below for the trace of the cmdlet and its output.

PS C:\windows\system32> Remove-AzureRmRoleAssignment -SignInName v-antona@microsoft.com -RoleDefinitionName CoAdministrator -Force
WARNING: Parameter 'Force' is obso

[2016-07-26 07:02] lmusat commented on #2660
Thanks Deepak for taking the time to answer back. I couldn't find an answer on the net.

Your workaround works just fine. Actually, I like this better as I get rid of one extra call (I don't have to use Set-AzureRmVirtualNetworkSubnetConfig).

Should I keep this issue opened if you plan to add support for null value for RouteTable or is as designed and I should close it?

Thanks.

[2016-07-26 08:16] MichaelGrafnetter commented on #2461
@markcowl I do not mind having to type the username, but I do not want to type the password for federated accounts (and ADFS servers of one customer of mine even require certificate/kerberos-based authentication).
I think that the user experience in PowerShell should be the same as when authenticating through the portal: Being redirected to login.microsoftonline.com, typing the username there and

[2016-07-26 13:24] nth-block commented on #1550
I checked a the network trace using Fiddler and the API responds with a lot more friendlier message. Can the powershell be configured to do the same please?

![image](https://cloud.githubusercontent.com/assets/20584285/17139449/1a01da44-5362-11e6-9dc3-b0bd8b3eab37.png)

[2016-07-26 16:20] thejamesmarq opened #2666 "Need command to allow storage account name checking"
Using Get-AzureStorageAccount this was easy as a resource group didn't need to be provided.

However, now that I need to provide a resource group name in Get-AzureRmStorageAccount I can't check to see if the storage account exists in another resource group.

[2016-07-26 23:25] markcowl commented on #2656
@brandoncasaba So, the ServicePrincipal in this case should not have access to any subscriptions?  Agreed this is a bug, just wondering about the scenario.

[2016-07-26 23:31] brandoncasaba commented on #2656
Correct. It is, however, granted permission to a Key Vault and should be able to read secrets out of the specific Key Vault. Using the Login-AzureRmAccount with the -Credential flag this works...

[2016-07-27 15:38] KeithHaysHSTM opened #2673 "Get-AzureResourceGroup is not recognized in AzureRM Version 1.6"
PS C:\Users\khays> Get-AzureResourceGroup -Tag @{Name="Owner";Value="Keith"}
Get-AzureResourceGroup : The term 'Get-AzureResourceGroup' is not recognized as the name
of a cmdlet, function, script file, or operable program. Check the spelling of the name,
or if a path was included, verify that the path is correct and try again.
At line:1 char:1
+ Get-AzureResourceGroup -Tag @{Name="Owner";Value="Ke

[2016-07-27 17:11] markcowl commented on #2673
@KeithHaysHSTM This is by design.  All ARM cmdlets now use the Noun prefix AzureRM instead of Azure.  This was done to allow loading RDFE and ARM cmdlets side-by-side.  See this [wiki article](https://github.com/Azure/azure-powershell/wiki/Deprecation-of-Switch-AzureMode-in-Azure-PowerShell) for details.

Closing ass by design

[2016-07-27 17:11] #2673 closed

[2016-07-27 17:32] markcowl opened #2674 "Update ADAL to 2.28.1 in dev branch"
### Description
This involves the following tasks
- [x] Update Microsoft.Rest.ClientRuntime.Azure.Authentication to depend on the new version and create private package
- [x] Update PowerShell locally using private package
- [x] Test logging in as admin and reader in RBAC test tenant (using -Credential)
- [x] Test logging in as admin and reader interactively in RBAC test tenant
- [ ] Test logging

[2016-07-27 17:32] markcowl opened #2675 "Update Adal to 2.28.1 in release-1.2.4 branch"
### Description
This involves the following tasks
- [x] Update Microsoft.Rest.ClientRuntime.Azure.Authentication to depend on the new version and create private package
- [x] Update PowerShell locally using private package
- [x] Test logging in as admin and reader in RBAC test tenant (using -Credential)
- [x] Test logging in as admin and reader interactively in RBAC test tenant
- [x] Test logging

[2016-07-27 17:45] cormacpayne commented on #2637
Fix has been merged https://github.com/Azure/azure-powershell/pull/2669

[2016-07-27 17:45] #2637 closed

[2016-07-28 18:16] gunndabad opened #2681 "Creating Media Services account via Resource Manager"
Is there a way to create a Media Services account with Powershell using the new Resource Manager style (New-AzureRmResource perhaps?) instead of the Classic style? I've been unable to find any information about doing it this way.

[2016-07-28 18:40] mochery opened #2683 "1.6.0 - Issues with Get-AzureSubscription not returning multiple subscriptions"
In 1.5.1 I was able to work with multiple subscriptions.  As of 1.6.0 I'm no longer able to see multiple subscriptions on my account.  It auto-selects the wrong one and I'm forced to downgrade if I want to use classic resources.

Steps to reproduce:
- Add-AzureAccount to login to classic resources
- Get-AzureSubscription to list subscriptions.  Only one is listed.
- Set-AzureSubscription -Subscrip

[2016-07-28 21:06] slav opened #2685 "Provide progress and speed report for deployment upload"
Hello. We've run multiple times into the issue of deployment to cloud service taking too long. After working with Azure Support we found the issue was network related, specifically related to the speed of upload.

Is there any way you could add support for when file is being uploaded to report % uploaded and average upload speed at specified intervals? This will greatly help to first see the progr

[2016-07-29 10:30] Ajay-MS opened #2688 "Get-AzureRMResource throwing error for login when it has already being login"
Hello team,

I have faced a wired  issue with customer today. Customer has already login to powershell session using SPN.

After login following rm command worked fine.
`Get-AzureRmStorageAccount -Name "<StorageAccountName>" -ResourceGroupName "<ResourceGroupName>"`

But to get azure RM resources is continuously  failing
`Get-AzureRMResource`

Error command is throwing -

Tried with Add-AzureRMAcc

[2016-07-29 13:29] iricigor opened #2689 "Set-AzureRmVMExtension wrong type for parameter ForceRerun"
Parameter -ForceRerun is specified as string, whereas by explanation logical would be to be a switch parameter. If it is really needed to be string, then there should be some explanation for its value.

[code]

[2016-07-29 18:49] markcowl commented on #2688
@Ajay-MS Most likely this is caused by multiple versions of Azure PowerShell installed on the machine.  You can find this out with

```Get-Module -ListAvailable```

If azure powershell modules show up anywhere other than in %progranfiles (x86)%\Microsoft SDKs\Azure\PowerShell, then have the customer remove them.

Alternately, installing one of the later powershell miss will automatically clean up

[2016-07-29 18:50] markcowl commented on #2681
@myefforts As it happens, typed cmdlets for Media Service account management are being added in the August release.  See the latest PR here: https://github.com/Azure/azure-powershell/pull/2577

[2016-07-29 18:52] markcowl commented on #2681
Meanwhile, even if there aren't typed cmdlets, if you know what the REST API looks like, you can always use generic cmdlets to create resources. See [New-AzureRMResource](https://github.com/Azure/azure-powershell/blob/dev/src/ResourceManager/Resources/Commands.ResourceManager/Cmdlets/Implementation/Resource/NewAzureResourceCmdlet.cs)

[2016-07-29 18:53] markcowl commented on #2681
@fredericky You have some fans

[2016-07-29 18:54] markcowl commented on #2683
@mochery Can you run the Add-AzureAccount and Get-AzureSUbscription cmdoets with $DebugPreference="Continue" and include the logs?  This will include ADAL tarces and requests and response from the server so we can debug what is happening

[2016-07-29 18:56] markcowl commented on #2685
@singhkay Can you take a look.  @slav excellent suggestion, is this for RDFE deployments to cloud service?

[2016-07-29 18:57] markcowl commented on #2689
@singhkay Can you take a look?  Hopefully just a documentation change

[2016-07-29 19:01] markcowl opened #2691 "Draft and circulate breaking changes policy"
### Description

Draft and circulate policy and roadmap for breaking changes, this should include
- [x] Policy on breaking changes and versions
- [x] Frequency of breaking changes
- [x] Standard for how breaking changes are documented
- [x] Policy for hotfixing breaking changes
- [x] Standards for breaking change pre-notification
- [x] Roadmap for tolling support for breaking change policy enforce

[2016-07-29 20:10] markcowl commented on #2209
Analysis:  This is caused because the tenant list contains both 'AzureSDKTeam.onmicrosoft.com' and the corresponding tenantId after login.  If we resolve tenantId using the tenatId value in the returned token, then this issue would be resolved.

Proposal:

Populate Account.Tenants only after obtaining tokens.  Use the tenantId from the token to populate this value, and never the value passed in fr

[2016-07-29 20:53] markcowl opened #2693 "Update logic for caching tenants and listing subscriptions"
### Description

Currently the cached tenant list can contain both domain names and tenantIds, and we cannot distinguish when a tenantId and domain name are equivalent, which sometimes results in subscriptiosn being listed twice in Get-AzureRmSubscription, or not being listed at all.

To resolve this, do the following:
- [ ] Add an 'extensions' dictionary (IDictionary<string, string>) to add azure

[2016-07-29 20:54] markcowl commented on #2693
See #2209 for a repro of this issue

[2016-07-29 20:54] markcowl commented on #2209
Investigation complete.  Closing

[2016-07-29 20:54] #2209 closed

[2016-07-29 21:06] fredericky commented on #2681
@markcowl , great!

[2016-07-29 21:12] markcowl opened #2694 "Add pull request temaplate to the repo"
### Description

Include a checklist with checkoboxes for the important features of a pull request.  Circulate to partners that this is what we expect, and make them check all the boxes before we look at the pull request.

See:  https://github.com/blog/2111-issue-and-pull-request-templates for how to specify a pull request template

### Cost: 2

[2016-07-29 21:16] markcowl opened #2695 "Add issue template to the repo"
### Description
Add an issue template, with necessary details we ask for when reporting bugs (Debug output, powershell version [and how to obtain it], module version [and how to obtain it], description, repro script, os version)

See https://github.com/blog/2111-issue-and-pull-request-templates  for a description of how to add Issue Templates

###Cost: 1

[2016-07-30 04:05] slav commented on #2685
@markcowl - Not fi RDFE is used for deployment.s.

The scripts goes something like this:
[code]

[2016-08-01 03:14] blueww commented on #2666
You can just run "Get-AzureRmStorageAccount" without resource group and account name, then you can see all storage account in the subscription.

[2016-08-01 06:37] markcowl opened #2701 "Fix concurrency issues with DelegatingHandlers and Actions in ClientFactory"
### Description
The Client Factory uses unsychronized data structures to hold DeleagtingHandlers and ClientActions used in creating clients, and, since this is a static class, these may be added to and removed from by multiple threads, producing Null Reference, ArgumentOurfRange exceptions, or Eunmeration exceptions.

Since the collections are too complex to use the framework-provided concurrent c

[2016-08-01 06:39] markcowl commented on #2576
Verified the issue and added stress test to catch it.  The bug for the fix is #2701 .  Closing the invesitgation in favor of the fix bug (currently scheduled for September release.

[2016-08-01 06:39] #2576 closed

[2016-08-01 06:46] markcowl commented on #2701
Candidate fix is here: https://github.com/markcowl/azure-powershell/commit/9996fab154c8aea9f71c3e5ddb5bf158a0cb3f37

[2016-08-01 11:12] Ajay-MS commented on #2688
@markcowl - Thanks for your response . This issue has been been resolved when use install AzurePS using msi instead of install-module.

[2016-08-01 11:12] #2688 closed

[2016-08-01 16:14] markcowl opened #2702 "Update Implementation of confirmation for storage cmdlets with Force deprectaion warning and ComfirmImpact.High"
The following cmdlets are listed as having ConfirmImapct.High and a deprecation warning.  They need to have the standard ConfirmImpact (ConfirmImpact.Medium) and remove usage of the Force parameter:

RemoveAzureStorageTableStoredAccessPolicy
RemoveAzureStorageQueueStoredAccessPolicy
RemoveAzureStorageShareStoredAccessPolicy
RemoveAzureStorageContainerStoredAccessPolicy

@blueww Let's discuss the b

[2016-08-01 17:57] cormacpayne commented on #2611
Fixed in PR https://github.com/Azure/azure-powershell/pull/2676

[2016-08-01 17:57] #2611 closed

[2016-08-02 01:18] asheniam commented on #547
This is already fixed

[2016-08-02 01:18] #547 closed

[2016-08-02 01:19] asheniam commented on #733
Please try Get-AzureRmLog and let us know any feedback

[2016-08-02 01:19] #733 closed

[2016-08-02 01:20] asheniam commented on #1547
Apologies for the inconvenience.  This should be fixed already in the latest release.  Please try again.

[2016-08-02 01:20] #1547 closed

[2016-08-02 01:21] asheniam commented on #901
Thank you for the feedback.  We will include this in our backlog.

[2016-08-02 01:21] #901 closed

[2016-08-02 01:24] asheniam commented on #2177
We've added this to our backlog.  In general, we are looking at a broad set of enhancements in the metrics area.

[2016-08-02 01:24] #2177 closed

[2016-08-02 01:24] asheniam commented on #1107
Please try with the latest Get-AzureRmAutoscaleSetting

[2016-08-02 01:24] #1107 closed

[2016-08-02 02:30] blueww commented on #2702
@markcowl
I have already remove the force parameter and warning message, and set it to default ComfirmImpact, use Shouldprocess with PR https://github.com/Azure/azure-powershell/pull/2672/files

After my PR is merged, the warning message are added back with the PR https://github.com/Azure/azure-powershell/pull/2676 by cormacpayne

As we talked, you will fix it and remove the warning message.
thank

[2016-08-02 05:54] markcowl commented on #2702
Fixed in pr #2708

[2016-08-02 05:54] #2702 closed

[2016-08-02 06:00] markcowl opened #2711 "Enumerate breaking changes for Release 2.0"
### Description
- Add release notes to the release for 2.0 that list specific changes in specific cmdlets
- For changes, describe how existing scripts should be updated to accomodate the change
- Do this for each of the following breaking changes:
- [x] Removal of Force parameters
- [x] Change of Tag parameters
- [x] Breaking Changes to storage cmdlets

### Cost: 2

[2016-08-02 06:01] markcowl commented on #2674
fixed

[2016-08-02 06:01] #2674 closed

[2016-08-02 09:45] tjrobinson commented on #2683
I'm also seeing this problem. I have access to three subscriptions via the portal but can't access Subscription ID 6a98f0d7-1a2a-4207-81c0-636705c52c99 using Azure PowerShell.

[code]

[code]

[2016-08-02 09:48] tjrobinson commented on #2683
And here's Get-AzureSubscription....

[code]

[2016-08-02 09:59] tjrobinson commented on #2683
The traces above are from an older version of Azure PowerShell (1.0.4 I believe). I've upgraded to 1.6.0 and still have the same problem. So maybe it's not a problem with Azure PowerShell but something cloud-side instead?

[2016-08-02 13:15] edtheshed commented on #290
any update on this? I get the same error when re-creating a namespace with same name as a deleted  one with an arm template. Why does it take a week?

[2016-08-02 13:31] NimishaS commented on #2638
@markcowl , @hovsepm, while running these tests in `Record` mode, we got this error:
[code]

[2016-08-02 14:05] jonsabo opened #2714 "Save-AzureRmVMImage destination container parameter"
The current `Save-AzureRmVMImage` cmdlet has this info for the `DestinationContainerName ` param:

"-DestinationContainerName <String>
        Specifies the name of a container. The virtual hard disks (VHDs) that constitute the VMImage reside in the container that this parameter specifies. If the VHDs are spread across multiple storage accounts, this cmdlet creates one  container that has this nam

[2016-08-02 17:01] #2554 closed

[2016-08-02 18:21] cormacpayne commented on #1896
Fixed in the dev branch

[2016-08-02 18:21] #1896 closed

[2016-08-02 21:00] markcowl opened #2716 "Create Issue template for releases"
### Description
Create an issue template forr releases based on the pivotal release tasks

### Cost: 1

[2016-08-02 21:02] markcowl commented on #2714
@singhkay Can you take  a look?

[2016-08-02 21:25] yokimjd commented on #2554
This workaround worked for me

Login-AzureRmAccount -SubscriptionId

which seems to eliminate the default tenant being cached.

[2016-08-03 01:20] markcowl commented on #69
@blueww Can you take a look?  If it is possible to delete a directory that contains files as Trevor describes,, then either we should swallow this exception and delete the directory, or we should provide a Force parameter (and prompt with SHoudlContinue)  if an exception like this is caught.

[2016-08-03 01:24] markcowl commented on #2401
Fixed

[2016-08-03 01:24] #2401 closed

[2016-08-03 02:47] blueww commented on #69
Only empty File directory can be deleted, or server will report 409 error as above.
So it’s not necessary to add -Force to Remove-azurestorageDirectory as only empty dir can be deleted.

See
https://msdn.microsoft.com/en-us/library/azure/dn690119.aspx
[code]

[2016-08-03 05:06] avishnyakov opened #2719 "Set-AzureStorageBlobContent gives 'The remote server returned an error: (400) Bad Request'"
Hello team,

We started to have the following issue while using Set-AzureStorageBlobContent with:
* AzureRM module [1.5.1]
* AzureRM module [1.6.0]

[code]

Anything changed with the recent updates?

PUT request seems to be alright as per the REST api:
https://msdn.microsoft.com/en-us/library/azure/dd179451.aspx
[code]
Not too sure why the result is "HTTP/1.1 400 Value for one of the query paramet

[2016-08-03 11:06] ColdHarbour opened #2723 "New-AzureRmResourceGroupDeployment doesn't pass secureString when using templateURI"
Not sure if this is something I'm doing wrong, but I can seems to be able to pass a secureString for _artifactsLocation parameter when using TemplateURI. TemplateFile seems to work fine. There is no meaningful error, just indicates the secureString wasn't passed over
Code    : InvalidTemplate
Message : Deployment template validation failed: 'The value for the template parameter '_artifactsLocation

[2016-08-03 19:30] lwsrbrts commented on #2113
Same with Get-AzureRmSiteRecoveryVaultSettings

[2016-08-03 20:02] markcowl commented on #2723
@gaurav, can you take a look?

[2016-08-03 20:02] markcowl commented on #2719
@blueww can you take a look?

[2016-08-03 20:04] markcowl opened #2727 "Set Default profile for a session and store in Context"
### Cost: 4

[2016-08-03 20:04] markcowl opened #2728 "Save and load default context"
### Description

Save the default context  load this context in subsequent sessions
### Cost: 10

[2016-08-03 21:09] cormacpayne opened #2729 "SaveAzureWebsiteLogWithNoFileExtenstionTest failing in build system"
Temporarily disabling SaveAzureWebsiteLogWithNoFileExtenstionTest due to it failing in the build system.

Skip was added on line 103 of  src/ServiceManagement/Services/Commands.Test/Websites/SaveAzureWebsiteLogTests.cs

Need to look into re-designing the test so that this failure doesn't occur for PRs not touching Websites.

[2016-08-03 22:11] jchengit opened #2731 "Add-AzureRmAccount only checks certs in Cert::LocalMachine\my"
It seems Add-AzureRmAccount only checks certs in Cert::LocalMachine\my. How do I tell it to search for other path, e.g. "Cert:\LocalMachine"?

Below is what I have, am I missing something? Is this the right way to authenticate a service principal?

Add-AzureRmAccount -ServicePrincipal -CertificateThumbprint $cert.Thumbprint -ApplicationId $applicationId -TenantId $tenantid

[2016-08-03 23:29] avishnyakov commented on #2719
Seems it has to do with the premium storage. I'll have a look and run it against standard storage (must work!) but it fails right now on the premium storage.

[2016-08-04 02:23] blueww commented on #2719
The premium storage only support page blob, so you need to set "-BlobType Page", or the default blob type is block and not supported by premium storage.

[2016-08-04 02:41] avishnyakov commented on #2719
Nice! That was the suspicion. We use blob storage to push PS script via Set-AzureRmVMCustomScriptExtension. Means, if we host VMs on the premium storage, we still need a temporary blob storage (non-premium) to get Set-AzureRmVMCustomScriptExtension up and running.

Thanks for clarification, @blueww

Guess, the ticket might be closed or a better exception or error message might be added to the cmdl

[2016-08-04 02:41] #2719 closed

[2016-08-04 09:13] karlti commented on #2199
same here...
Only when copying over the `**Resources`**  folder from

`to

`" i get that to work

[2016-08-05 18:05] cormacpayne opened #2740 "StaticAnalysis tool flags "no matching help files" incorrectly"
Running the StaticAnalysis tool will show a "P0 severity" in the HelpIssues.csv file when a service's module has a dependency on another service's module.

**For example**:
C:\Program Files (x86)\Microsoft SDKs\Azure\PowerShell\ResourceManager\AzureResourceManager\AzureRM.**DataLakeAnalytics**\Microsoft.Azure.Commands.**Tags**.dll-Help.xml

Make sure a dll Help file for C:\Program Files (x86)\Micr

[2016-08-05 19:28] pcgeek86 commented on #69
@markcowl I think we need some user experience training.

[2016-08-06 01:24] markcowl commented on #2731
It should be looking in both LocaMachine\My and CurrentUser\My for the certificate mathcing the thumbprint you specify

[2016-08-06 01:31] markcowl commented on #2389
Fixed

[2016-08-06 01:31] #2389 closed

[2016-08-06 01:33] markcowl commented on #2711
Fixed by Cormac's gist:  https://gist.github.com/cormacpayne/dad22c060dfd9acfda744f1405d4539c#file-ps-breaking-change-release-notes-2-0-0-md

[2016-08-06 01:35] markcowl commented on #2613
Fixed; added label poshpublish

[2016-08-06 01:35] #2613 closed

[2016-08-06 01:36] #2711 closed

[2016-08-08 16:50] jchengit commented on #2731
Is it possible to configure it check a given path (e.g. "Cert:\LocalMachine") recursively?

[2016-08-08 18:22] markcowl commented on #2494
@tillig @jnxxx  If you need access in the same AppDomain (read PowerShell session) then you can use TokenCache.DefaultShared which will contain the tokens you need.  If you need access in a different AppDomain, then you can use TokenCahce.Deserialize with the data from PowerShell's TokenCahce, which you can get this way:

[code]

[2016-08-08 18:32] markcowl commented on #2461
@MichaelGrafnetter The behavior you describe is what I see when logging in to our corporate STS, and is the bahvior of any STS that requires MFA.

I suspect this may be an issue with STS configuration rather than PowerShell.  What version fo Azure PowerShell are you using?  Can you include ADAL traces by executing ```Add-AzureRmAccount``` with ```$DebugPreference="Continue"``` set?

[2016-08-08 18:35] tillig commented on #2494
So, to verify, I'd be looking at a workaround like this?

[code]

[2016-08-08 18:38] markcowl commented on #2460
@ckarras I'm not sure what you mean in your secodn paragrpah.  The intention is that deprecation warnings are provided at least one release in advance of removing the deprecated parameters/properties/etc.  This also means that the major version will incrmenet at the same time as thos properties are actually removed / changed, on release later.

To be concrete:
In version 2.2.0 We ship a release wi

[2016-08-08 18:43] markcowl commented on #2290
The existing issue is #1835 since this covers making authentication classes powershell serializable for PSJobs, I am closing this issue in favor of the earlier one.

[2016-08-08 18:43] #2290 closed

[2016-08-08 18:51] markcowl commented on #2131
@markjbrown, Not following the logic.  The networking cmdlets as laid down by the installer are the responsibility of the networking team.

@fabiendibot This could be either an assembly version mismatch or a type upgrade/downgrade issue.  Can you run ```Get-Module -ListAvailable``` and post the results, this will provide all version fo teh azure powershell modules installed on your system

[2016-08-08 18:54] markcowl commented on #2067
Clopsing, as I believe the underlying issue was resolved.

[2016-08-08 18:54] #2067 closed

[2016-08-08 18:55] markcowl commented on #1826
@kirthik Assignign to you as we implement the new customer communication channels

[2016-08-08 18:57] markcowl commented on #1546
@kirthik Assignign to you.  Based on Trevor's input, we should consider a design document change, in consultation with our MVPs, PowerShell team and service teams.  If we decide to change this, we will have to consider for the next breaking change revision

[2016-08-08 18:58] markcowl commented on #1447
@nobitgamer I unfortunately lost track of thsi after the initial reply are you still seeing this issue?

[2016-08-08 19:05] markcowl commented on #1843
@sdecker I understand why you are saying this, especially since the subscriptions used to be stored on the box. However Get-AzureRmSubscription is making a call off the box now, further execution is undefined if you are not logged in, meaning the pipeline should be shut down, meaning terminating error.

You *should* however, be able to check for login using Get-AzureRmContext

[2016-08-08 19:05] #1843 closed

[2016-08-08 19:12] markcowl commented on #1442
@ravbhatnagar See https://github.com/Azure/azure-powershell/pull/2736/files  This is resolved for cmdlets that use the AzurePSCmdlet override of ProcessRecord.  Reassigning to you so you cna verify this is the case for ResourceManager cmdlets.

[2016-08-08 19:14] markcowl commented on #2731
@jchengit What is the scenario in which you want to use a cert not in CurrentUser\My or LocalMachine\My?

[2016-08-08 19:16] markcowl commented on #2647
Closing for lack of activity.  If you are still seeing this issue, please re-open

[2016-08-08 19:16] #2647 closed

[2016-08-08 19:18] markcowl commented on #2498
Closing as duplicate of #2392, which will fix this issue

[2016-08-08 19:18] #2498 closed

[2016-08-08 19:19] markcowl commented on #2471
@pomortaz, can you take a look?

[2016-08-08 19:22] markcowl commented on #2349
Closing again, as no further contact.  Please re-open if this recurs

[2016-08-08 19:22] #2349 closed

[2016-08-08 19:22] pomortaz commented on #2471
@BredStik what version of the PowerShell do you use? This issue is resolved a month ago.

[2016-08-08 19:25] markcowl commented on #2194
@gregjhogan There is no powershell support for AppInsights.

[2016-08-08 19:25] #2194 closed

[2016-08-08 19:26] markcowl commented on #2123
@ravbhatnagar Looks like I neglected to assign this issue to you.  Can you take a look?

[2016-08-08 19:30] markcowl commented on #1463
Need online help example for national clouds and some popinters from the getting started docs on azure.com

[2016-08-08 19:31] markcowl commented on #2005
Closing in preference of #2576  There is a candidate fix for this, scheduled to go out with the September release.

[2016-08-08 19:31] #2005 closed

[2016-08-08 19:32] markcowl commented on #1942
@Nking92 Please take a look

[2016-08-08 19:34] markcowl commented on #1573
Closing, as it looks like this was resolved.

[2016-08-08 19:34] #1573 closed

[2016-08-08 19:37] markcowl commented on #1417
@pcgeek86  We will change the persistence folder as part of persisting AzureRM logins in #2728  Closing as duplicate

[2016-08-08 19:37] #1417 closed

[2016-08-08 19:40] markcowl commented on #1365
@shuagarw @rashidqureshi  Please take a look

[2016-08-08 19:40] #1345 closed

[2016-08-08 19:40] markcowl commented on #1325
Fixed

[2016-08-08 19:40] #1325 closed

[2016-08-08 19:41] #1271 closed

[2016-08-08 19:41] markcowl commented on #1254
Closing, as cmdlet no longer exists

[2016-08-08 19:41] #1254 closed

[2016-08-08 19:41] #1191 closed

[2016-08-08 19:41] #1181 closed

[2016-08-08 19:43] markcowl commented on #1179
@ravbhatnager PowerShell repo  isn't the right place to track service issues.  Can you create an issue for this in the appropriate tarckign system?

[2016-08-08 19:44] #1161 closed

[2016-08-08 19:44] markcowl commented on #1145
@yoavrubin closing this issue due to its age.  Please re-open if this is still an issue

[2016-08-08 19:44] #1145 closed

[2016-08-08 19:45] markcowl commented on #1102
Need to port back parameter set updates

[2016-08-08 19:46] markcowl commented on #808
This should have been resolved by removing these parameters a few releases back.  Please re-open if you see a recurrence

[2016-08-08 19:46] #808 closed

[2016-08-08 19:49] markcowl commented on #789
@vincent81-jiang Can you take a look

[2016-08-08 19:49] markcowl commented on #786
This should be resolved in last release.  Please open a new issue if not.

[2016-08-08 19:49] #786 closed

[2016-08-08 19:51] markcowl commented on #771
@ravbhatnagar Can you take a look?

[2016-08-08 19:53] markcowl commented on #774
Old issue, looks like it's still valid for Get-AzureRMLocalNetworkGateway and others.  @deepakrajendranmsft can you take a look?

[2016-08-08 19:54] markcowl commented on #773
This should be resolved in later releases.  Please open an issue if you see a recurrence.

[2016-08-08 19:54] #773 closed

[2016-08-08 19:54] markcowl commented on #766
This should hav ebeen resolved by subsequent releases.  Please open a new issue if you are still seeing this.

[2016-08-08 19:54] #766 closed

[2016-08-08 19:54] DeepakRajendranMsft commented on #774
@lamchester please take a look

[2016-08-08 19:55] markcowl commented on #735
OperationalInsights cmdlets do exist in PowerShell

[2016-08-08 19:55] #735 closed

[2016-08-08 19:56] #724 closed

[2016-08-08 19:57] markcowl commented on #683
Looks like this was resolved.  Please open a new issue if you see a recurrence

[2016-08-08 19:57] #683 closed

[2016-08-08 20:01] markcowl commented on #75
@kirthik This is a capbility that should be provided by our cmdlets or the generic cmdlets.  Need to verify that it is not, and add if it isn't

[2016-08-08 20:02] markcowl commented on #783
Node is past 1.0 at this point.  What should our continuing support be fore these cmdlets?

[2016-08-08 20:03] markcowl commented on #795
Will be handled as part of workflow support.  Closing due to age

[2016-08-08 20:03] #795 closed

[2016-08-08 20:04] markcowl commented on #793
@shuagarw Please take alook, as this is rather old, please close if this has been addressed

[2016-08-08 20:05] markcowl commented on #781
@shuagarw Please take a look and as this is old, close if this has already been addressed

[2016-08-08 20:07] markcowl commented on #796
@pcgeek86 How was the environment added?

[2016-08-08 20:08] markcowl commented on #794
@pcgeek86 Closing due to age.  Please open a new issue if you are still seeing this.

[2016-08-08 20:08] #794 closed

[2016-08-08 20:14] pcgeek86 commented on #796
@markcowl built-in

[2016-08-08 20:20] pcgeek86 commented on #793
![image](https://cloud.githubusercontent.com/assets/466713/17494716/364291b0-5d73-11e6-9928-5f7dc0bd41a4.png)

[2016-08-08 20:55] manushamallela opened #2745 "Powershell script to give access to Azure Active Directory"
Can we write a powershell script to give access to Azure active directory using the asset. In asset we are storing the User Credentials.
I created a runbook, and to deploy the Azure Runbook in new subscritption I created a service principal My question here is that, will I be able to use the asset ( created with user's credentials) to give access to active directory for new Subscription ?
I do not

[2016-08-08 21:00] BredStik commented on #2471
I don't remember what version I was using at the time, but I'm currently using version 1.1.8 of AzureRM.KeyVault and version 1.0.9 of AzureRM.Profile and this issue seems to be resolved.

[2016-08-08 21:32] jeffwilcox commented on #783
@markcowl the role should be updated to _support Node 1.0+_ (i.e. v4 LTS), rather than just deprecating or removing this functionality.

[2016-08-08 22:33] #1447 closed

[2016-08-08 22:34] #783 closed

[2016-08-09 00:06] whilke opened #2747 "SDK v2.0 : New-AzureRmResourceGroup : Could not load file or assembly 'Microsoft.Rest.ClientRuntime.Azure.Authentication'"
Looks like a new SDK version just hit, getting this error on several different OS versions:

New-AzureRmResourceGroup : Could not load file or assembly 'Microsoft.Rest.ClientRuntime.Azure.Authentication,
Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35' or one of its dependencies. Strong name validation

[2016-08-09 00:11] markcowl commented on #2683
@mochery Note that you should use ```Select-AzureSubscription``` to select a new current subscription, ```Set-AzureSubscription``` is for altering the subscription metadata

[2016-08-09 00:15] markcowl commented on #2223
PR #2742 addresses this

[2016-08-09 00:35] markcowl commented on #69
@blueww If the user specified -Froce, how hard would it be to list and delete the files in the directory after a ShouldContinue prompt, and *then* delete the directory?  This is the behavior I would expect from this (and similar) cmdlets

[2016-08-09 00:37] markcowl commented on #2165
Closing as this login is not supported in RDFE and there have been no new reports of ths ieeus

[2016-08-09 00:37] #2165 closed

[2016-08-09 00:38] #2231 closed

[2016-08-09 00:51] markcowl commented on #2747
@whilke How did you install the SDK?  This is likely a version mismatch between installed SDK versions, can you execute ```Get-Module -ListAvailable```  when this occurs?

[2016-08-09 02:47] whilke commented on #2747
@markcowl came in via the normal web platform installer channel. Seems to have installed a build that was released just today though it lists an update date of 7/11.

 (Get-Module -ListAvailable | Where-Object{ $_.Name -eq 'Azure' })

ModuleType Version    Name                                ExportedCommands
---------- -------    ----                                ----------------
Manifest   2.0.

[2016-08-09 05:40] robplank opened #2750 "AzureRM.Automation Cmdlets hard coded Serialization Depth set to 10"
Please allow users to override the serialization depth, complex objects don't always serialize to a depth of 10.

in Common\Constants.cs
these settings are set to a constant
public const string PsCommandConvertToJson = "ConvertTo-Json";
public const string PsCommandConvertFromJson = "ConvertFrom-Json";
public const string PsCommandParamInputObject = "InputObject";
public const string PsCommandPara

[2016-08-09 08:14] tjrobinson commented on #2683
@markcowl I have access to 3 subscriptions but 1 is missing: 6a98f0d7-1a2a-4207-81c0-636705c52c99

[2016-08-09 08:57] sjkp commented on #2747
I have the same error. On several machines update through web platform installer, that doesn't list this as a new release
![image](https://cloud.githubusercontent.com/assets/3397744/17510609/ff50da1a-5e1f-11e6-93ac-3c81c0b66537.png)

[2016-08-09 12:07] MichaelGrafnetter commented on #2461
thx @markcowl for you response. Here is the log:
[adal_log.txt](https://github.com/Azure/azure-powershell/files/408846/adal_log.txt)

Well, the only difference is that when logging in through Internet Explorer, Windows Integrated Authentication against ADFS works, but it does not work through PowerShell, where I am explicitly asked for password by ADFS. It is caused by login.microsoftonline.com re

[2016-08-09 12:07] whilke commented on #2747
Anyone have a link to the 1.6 (previous version) installer? Our deployment system is down currently because of this issue.

[2016-08-09 12:08] sjkp commented on #2747
You can download if from the release page

[2016-08-09 12:25] guibirow commented on #2747
I'm facing the same issue, when I downgrade to version 1.6 it works fine.

[2016-08-09 12:48] christofferjerrebo commented on #2747
I can confirm downgrade to v1.6 works, as commented by @guibirow

[2016-08-09 13:25] guibirow commented on #2747
Just to add an extra information, when updated to V2, the following error happens:

Command
[code]
-------------------------------------------------------------------------
Error:
[code]

[2016-08-09 15:30] jeffwilcox commented on #783
@markcowl what was the decision associated with the closing of the work item? Is the cmdlet being removed, or update, or ... ?

[2016-08-09 19:34] markcowl commented on #2747
We have a root cause for the issue.  A hotfix will be forthcoming.

[2016-08-09 20:08] markvsql commented on #2747
Will this hotfix apply to Azure Automation as well? I am getting this error trying to create a Resource Group with a Powershell Workflow runbook after upgrading several Powershell Modules in Azure Automation to their latest version.

[2016-08-09 21:28] markcowl commented on #2747
Yes, we will push out new installers and new modules.

[2016-08-09 21:30] markcowl commented on #2747
Meanwhile, we have delisted the AzureRM and Azure modules and pulled back the msi update.  Individual modules have not been delisted.

[2016-08-10 02:36] blueww commented on #69
Actually, as the file directory tree might be big, and the cmdlet might run a lot of time, we need carefully design the behavior, such as:
1.	How to show the progress of the deleting, since it might run a lot of time, and we don’t know how many files/dirs Left.
2.	Since it might run long time, how to handle it if there are still files uploading to the dir/subdir when deleting
3.	If some single fil

[2016-08-10 02:43] marckean commented on #2747
See http://screencast.com/t/dXo7juaBnH can't run Get-AzureRmVM either.

[2016-08-10 06:21] VishalNagarAR commented on #1896
Any update on the issue ? As we need to automate the creation of AD application using service principal for key vault.

[2016-08-10 08:33] MarcelMeurer commented on #2494
Hi.

I found a workarround to get an access token with PowerShell, user name and password:
https://www.sepago.com/blog/2016/08/09/create-a-bearer-access-token-for-Azure-REST-silent-user-password

[2016-08-10 15:25] lambdakris opened #2757 "Install-Module AzureRM fails with PackageManagement\Install-Package: Package 'AzureRM.profile' failed to be installed because: A local file header is corrupt."
I am using a fresh Windows 10 build 1607 and I am getting the following error when trying to install the AzureRM module:
<img width="946" alt="azurerm module installation error" src="https://cloud.githubusercontent.com/assets/15176003/17559663/ea998658-5ed3-11e6-9bbb-cb63d9654d9a.PNG">

[2016-08-10 15:29] ljt91 commented on #2757
+1 - Receiving this issue as well.

[2016-08-10 17:20] jeffpatton1971 commented on #2747
For the record I have a clean install from webpi that I did yesterday on a freshly installed windows laptop, I do not see this issue. is there clarification on what the actual cause might be? Are the folks that are getting this error all upgrading? it seems that way from the handful of comments I read through.

[2016-08-10 17:24] edtheshed commented on #2747
@jeffpatton1971  It would appear I definitely got this error from upgrading. My CI process started to fail after the update to azure powershell 2.0, 2 days ago, and after uninstalling and installing 1.6, it's back to normal.

[2016-08-10 18:42] guibirow commented on #2747
I got this error on a clean install of v2 and also on upgrade from 1.6 to 2. from WebPI and from PS command line, both fails.
When downgraded worked fine.
@jeffpatton1971, yesterday they rolled-back to previous version, see if you installed the V2 or V1.6

[2016-08-10 18:44] jeffpatton1971 commented on #2747
Interesting we talked a little about this internally and a couple of us did fresh installs and didn't hit this whereas a few of us did upgrades and did see this issue

Get Outlook for Android<https://aka.ms/ghei36>

On Wed, Aug 10, 2016 at 1:42 PM -0500, "Diego" <notifications@github.com<mailto:notifications@github.com>> wrote:

I got this error on a clean install of v2 and also on upgrade from 1.

[2016-08-10 18:51] jeffpatton1971 commented on #2747
@guibirow just noticed your second comment, to my knowledge i'm running the latest

ModuleType Version    Name
---------- -------    ----
Manifest   2.0.2      AzureRM.Resources

[2016-08-10 18:59] quoctruong commented on #2757
Hi, @lambdakris please try the following steps:

1.	Install-Module AzureRM.Profile -RequiredVersion 1.0.11
2.	Install-Module AzureRM.Profile -RequiredVersion 2.0.0.0
3.	Install-Module Azure.Storage -RequiredVersion 1.1.5
4.	Install-Module Azure.Storage -RequiredVersion 2.0
5.	Install-Module AzureRM

[2016-08-10 19:23] KrishnaV-MSFT commented on #2757
This problem happens because of the following reason:

1.	AzureRM has lots of dependencies. If you traverse the dependency chain, you will notice different versions of AzureRM.Profile in the dependency chain.
2.	PowerShellGet has a problem installing 2 versions of the same module in 1 Install-Module call

Thanks for reporting the issue. Please use the workaround that @quoctruong mentioned until we

[2016-08-10 19:39] jonsabo commented on #2714
@markcowl looks like maybe you meant @singhkays ?

[2016-08-10 19:47] singhkays commented on #2714
@jonsabo I made a slight alteration to the username recently :)

Thank you for the feedback, I can get this updated in the next round of help updates.

[2016-08-10 20:19] marckean commented on #2747
Could be related or not, @jeffpatton1971 i noticed you did a fresh install of Windows, you would have Windows 10 Anniversary edition I'm assuming. I'm on Windows 10 yet to upgrade to Anniversary edition, i tried upgrading yesterday and had to roll back half way due to my Surface getting stuck on "windows 10 anniversary working on updates 32% don't turn off your pc" didn't progress further than 32%

[2016-08-10 20:21] jeffpatton1971 commented on #2747
I'm on windows 10 enterprise...don't think I'm on the anniversary yet...?

Get Outlook for Android<https://aka.ms/ghei36>

From: Marc Kean
Sent: Wednesday, August 10, 3:19 PM
Subject: Re: [Azure/azure-powershell] SDK v2.0 : New-AzureRmResourceGroup : Could not load file or assembly 'Microsoft.Rest.ClientRuntime.Azure.Authentication' (#2747)
To: Azure/azure-powershell
Cc: Jeffrey Patton, Mention

C

[2016-08-10 21:48] ljt91 commented on #2757
@quoctruong thank you for that, I've just tried it however still receiving the follow:

PackageManagement\Install-Package : Package 'AzureRM.profile' failed to be installed because: A local file header is corrupt.
At C:\Program Files\WindowsPowerShell\Modules\PowerShellGet\1.0.0.1\PSModule.psm1:1375 char:21
+ ...          $null = PackageManagement\Install-Package @PSBoundParameters
+

[2016-08-10 22:15] markcowl commented on #2757
@ljt91 @quoctruong @KrishnaV-MSFT @lambdakris Just finished a thread with Krishna and Quoc, this assessment is not correct.  The Gallery is apparently not resolving the dependent module RequiredVersion constraint correctly.

[2016-08-10 22:17] markcowl commented on #2757
This should be resolved when the new version is pushed out (within the hour)

[2016-08-10 23:08] markcowl commented on #2757
@lambdakris @ljt91 @anurse @KrishnaV-MSFT @quoctruong This is now resolved.  The hotfix modules for 2.0 are out.  Please verify, and apologies for the bad experience.  We've adjusted our hotfix policies, and we'll work with the PSGet team to ensure this doesn't happen again when pulling back a module.

[2016-08-10 23:21] ljt91 commented on #2757
@markcowl I can confirm that it's resolved from my side. All installed and working. Thank you very much for getting the fix out so quickly.

[2016-08-10 23:23] markcowl commented on #2747
This is now resolved.  Hotfixes are on webpi and the gallery.  The root cause was an unsigned assembly in the modules.  It's unclear whether this resulted from a breaking change in how assemblies are loaded in powershell,  as machiens with version 5 rtm and earlier of powershell did not exhibit this isssue.  New build safegaurds should prevent this from recurring.

[2016-08-10 23:50] markcowl commented on #2747
Closing as this is resolved.  Please file an issue if you see a recurrence

[2016-08-10 23:50] #2747 closed

[2016-08-10 23:52] markcowl commented on #2757
closing for now

[2016-08-11 11:50] lidvarko commented on #2131
Got the same error. Any solution?
get-module -listavailable show the below. I have tried to load the AzureRM.Network module 1.0.9, 1.0.10 and 1.0.12. All of them as giving the same error:
------------------
    Directory: C:\Program Files\WindowsPowerShell\Modules

ModuleType Version    Name                                ExportedCommands
---------- -------    ----                                -

[2016-08-11 17:08] markcowl commented on #2745
@manushamallela Is this question about Azure Azutomation service, or about Azure PowerShell on the desktop?

[2016-08-11 17:59] markcowl opened #2762 "Add check to signing builds for strong name signature"
### Description

Add a check to signing jobs that uses Stroing Name Signature.  This can use a very simple cmdlet like the following.
[code]

- [x] Deploy sn.exe to all the signing servers and ensure it is on the path
- [x] Add a script like the above to the repository tools directory and have this run as part of checking the artifacts of signed builds

### Cost: 1

[2016-08-11 19:21] mikmeh commented on #1460
many thanks, I was banging my head trying to figure this out

[2016-08-11 20:07] cormacpayne commented on #2189
@ravbhatnagar Hey Gaurav, did this issue get fixed during the latest release?

[2016-08-11 20:08] cormacpayne commented on #2190
@ravbhatnagar Hey Gaurav, did this issue get fixed in the latest release?

[2016-08-11 20:09] cormacpayne commented on #2474
@NonStatic2014 Hey Klein, did this issue get fixed in the latest release?

[2016-08-11 20:09] cormacpayne commented on #2539
@pankajsn Hey Pankaj, did this issue get fixed in the latest release?

[2016-08-11 20:29] pankajsn commented on #2539
@cormacpayne  this issue is not fixed in the latest release.

[2016-08-11 21:06] NonStatic2014 commented on #2474
This is a request from Mark. Chatted with Mark before last release and we thought we are good and not need the UT.

[2016-08-11 21:06] #2474 closed

[2016-08-11 21:39] markcowl opened #2763 "Update publishing process for S x S scenarios"
### Description
Currently, the latest version of Profile and Storage modules will be downloaded / loaded when installing a downlevel version of Azure PowerShell.  The resolution is to use PSM1 files and update the module publishing process to create a nuget package that uses exact dependencies, but a PSD1 that uses looose depednecies.  This is accomplished by altering the nuget package directly.

[2016-08-11 21:46] markcowl opened #2764 "Normalize versions in release-1.2.4 branch"
### Description

Ensure that versions meet semantic versioning requirements, and are unique among release versions for all modules.

### Cost: 1

[2016-08-11 21:47] markcowl opened #2765 "Add signing build that creates tags for release-1.2.4 branch"
### Description

Create a signing build that tags the branch

### Cost: 1

[2016-08-12 08:20] ravbhatnagar commented on #2189
Fixed

[2016-08-12 08:20] #2189 closed

[2016-08-12 08:29] ravbhatnagar commented on #2190
Fixed in Aug release.

[2016-08-12 08:29] #2190 closed

[2016-08-12 08:35] ravbhatnagar commented on #2568
@rem8 - Is this still an issue? If yes, will you be able to share the output after adding the debug switch to this cmdlet?

[2016-08-12 16:48] cormacpayne commented on #2716
Addressed by PR https://github.com/Azure/azure-powershell/pull/2759

[2016-08-12 18:30] danielstocker opened #2768 "PowerShell does not allow the creation of resource groups with parenthesis..."
...this is not compliant with the published documentation:

https://msdn.microsoft.com/en-us/library/azure/dn790546.aspx

_"{resource-group-name} must uniquely identify the resource group within the subscription. It must be no longer than 80 characters long. It can only contain alphanumeric characters, dash, underscore, opening parenthesis, closing parenthesis or period. The name cannot end with a

[2016-08-12 18:30] danielstocker commented on #2768
![test](https://cloud.githubusercontent.com/assets/9444698/17633019/49eb6eaa-60c3-11e6-82cc-cd5d06179f01.jpg)
![test-cli](https://cloud.githubusercontent.com/assets/9444698/17633020/49f88c7a-60c3-11e6-8517-c7233b8712e5.jpg)

[2016-08-12 19:10] markcowl opened #2769 "Update release branch (1.7.0) with Adal 2.28.1"
### Description
Update ClientRuntime.Azure.Authentication and test libraries to use versions based on ADAL 2.28.1.  Changes fronm the dev branch should guide any needed test changes.

### Cost: 2

[2016-08-12 19:18] ravbhatnagar commented on #397
Fixed in Aug Release

[2016-08-12 19:18] #397 closed

[2016-08-12 19:21] ravbhatnagar commented on #230
This will be supported in Find-AzureRmResource, but currently does not work. Adding to Sept milestone

[2016-08-12 19:22] ravbhatnagar commented on #726
Fixed in Aug release

[2016-08-12 19:22] #726 closed

[2016-08-12 19:38] markcowl opened #2770 "Mitigation for Storage Keys breaking change in 1.x branch"

[2016-08-12 19:39] markcowl opened #2771 "Release notes for 1.7.0 release."
Release notes describing the mitigation for the breaking change

[2016-08-12 19:52] markcowl opened #2772 "Blog post on breaking changes"
### Description

Blog post descriging our new breaking change policy in PowerShell, delineating changes in 2.0, and announcing the 1.7 release with breaking change mitigations.

### Cost: 2

[2016-08-12 20:43] ravbhatnagar commented on #1968
We wont be able provide support for this in the near future. From a usability point of view, it will not be trivial to construct the object which represents your template.

[2016-08-12 21:18] matt1883 opened #2773 "Aliases are accumulating with each new Azure PS version"
It looks like with each new release of Azure PS, duplicate aliases for Data Lake Store & Analytics are accumulating. See below.

This does not seem to affect cmdlets – just aliases.

Do you know what is causing this, or how we can fix it?

PS C:> Get-Command Test-AdlStoreItem

CommandType     Name                                               Version    Source

---

Alias           Test-AdlStoreIt

[2016-08-12 21:33] jonsabo commented on #2714
Great thank you Kay

[2016-08-14 14:14] bourgeoisrebel commented on #726
The documentation for tags doesn't reflect this change, or the fact syntax is different between versions.

https://azure.microsoft.com/en-gb/documentation/articles/resource-group-using-tags/

Although there was a warning included in the previous release, with a link leading to this page, after making the change, the command simply fails with no information about how to fix it. Even though there wa

[2016-08-15 01:36] avishnyakov commented on #2460
Whatever the way to communicate back the breaking changes will be, it better be there.
Guess we barely have a choice so pretty happy with anything you'll have to improve that bit.

[2016-08-15 14:08] ckarras commented on #2460
@markcowl Yes that's what I meant by the distinction between "release" and "major version".

However, it would also be important to consider my first paragraph to ensure we don't get in a situation where we're stuck with a version: we were informed there would be breaking changes, but never had a chance to start updating our scripts before the new major version with breaking changes was released.

[2016-08-15 18:35] sphibbs opened #2777 "Authentication RT should include KyeVault Endpoint and Audience"
Per this issue
there is no entry in the AAD management panel for a Key Vault scope, which means you need to use the “Powershell workaround” to access resources in Key Vault when using UWP. I have a fairly long-winded explanation and proposed workaround for that here: https://anthturner.com/2016/03/09/azure-key-vault-in-uwp-applications/

[2016-08-15 19:56] runes83 opened #2778 "Update AzureRmADApplication"
Is there a way to update and Azure AD application using Powershell?
Specifically adding a certificate to the application, for use with Azure Key Vault auth?

[2016-08-15 23:25] shahabhijeet commented on #2778
@shuagarw can you take a look at this question?

[2016-08-15 23:51] alvipeo opened #2779 "Deploying with New-AzureRmResourceGroupDeployment - sees storage accounts from another subscription"
I have a deployment script and I login with a user that I created in a directory from the 'My Subscription #1':

[code]
This script throws an errors like:

At line:23 char:1
+ New-AzureRmResourceGroupDeployment `
+ ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    + CategoryInfo          : NotSpecified: (:) [New-AzureRmResourceGroupDeployment], Exception
    + FullyQualifiedErrorId : Microsoft.Azure.Comman

[2016-08-15 23:57] shuagarw commented on #2778
@rbacask for FYI
Use the latest 2.0.0 powershell cmdlets. They have the support for managing credentials for App and SP.
You just want to add a certificate to an application right? New and Get-AzureRmADAppCredential should be able to help you.

[2016-08-16 00:05] alvipeo commented on #2779
Sorry, my bad. Storage account names should be unique across all Azure.

[2016-08-16 00:05] #2779 closed

[2016-08-16 07:36] blueww commented on #2771
Hi Mark,
Please let me know what action should I take besides the PR https://github.com/Azure/azure-powershell/pull/2776

[2016-08-16 07:36] blueww commented on #2770
Hi Mark,
Please let me know what action should I take besides the PR https://github.com/Azure/azure-powershell/pull/2776

[2016-08-16 13:07] koubyak opened #2781 "Run Login-AzureRmAccount to login on many cmdlet"
I've Update AzureRM cmdlet from gallery today due to error #2747 but, I still have many command errors, for example

[code]
Version
Manifest   2.0.1      AzureRM.Compute
Manifest   2.0.1      AzureRM.profile
Manifest   3.0.0      AzureRM.Resources
Manifest   2.0.0      AzureRM.Storage

Thanks for your help

[2016-08-16 18:44] mtandon80 opened #2783 "Get-UsageAggregate cmdlet showing wrong example"
**Get-UsageAggregate** cmdlet is showing _“DateTime”_ as parameter for _“ReportedStartTime”_ and _“ReportedEndTime”._ Though Azure API supports DateTimeOffSet format only.

[https://msdn.microsoft.com/en-us/library/azure/mt219001](https://msdn.microsoft.com/en-us/library/azure/mt219001)

With PowerShell, Datetime can be formatted into DateTimeOffSet but example shown for cmdlet is pure datetime on

[2016-08-17 08:21] elgreco-dev opened #2786 "Get-AzureRmVirtualNetworkGatewayConnection - Error: Missing type map configuration or unsupported mapping."
Hello!

Get-AzureRmVirtualNetworkGatewayConnection does not seem to work.

Versions:
* AzureRM: 2.0.1 (August 10)
* PowerShell: 5.0
* OS: Windows 10

Steps to reproduce:

* Created a virtual network gateway connection
* Tried to run Get-AzureRmVirtualNetworkGatewayConnection

Command:

Output:

`PS > Get-AzureRmVirtualNetworkGatewayConnection -ResourceGroupName <resource-group-name>`

Output:

[co

[2016-08-17 08:52] ravbhatnagar commented on #726
@bourgeoisrebel - Thanks for the feedback and I understand your concern. We are constantly trying to improve our processes around breaking changes and how we help customers when such a change happens. Something we started doing this release, and will keep improving on, can be found here - https://github.com/Azure/azure-powershell/blob/dev/documentation/release-notes/migration-guide.2.0.0.md

Yes,

[2016-08-17 09:02] elgreco-dev commented on #2786
This has been resolved now.

[2016-08-17 09:02] #2786 closed

[2016-08-17 13:32] #2781 closed

[2016-08-17 16:34] tfitzmac commented on #726
@bourgeoisrebel - thanks for this feedback. I have an update for the tags topic on Azure.com that should get published this afternoon. Currently, the PowerShell reference on MSDN typically lags the latest release by some days because there is a bit of work to get it ready.

[2016-08-17 16:43] cormacpayne commented on #2694
Addressed in PR https://github.com/Azure/azure-powershell/pull/2782

[2016-08-17 17:12] cormacpayne commented on #2695
Addressed in PR https://github.com/Azure/azure-powershell/pull/2788

[2016-08-17 17:30] cormacpayne commented on #2675
Fixed in PR https://github.com/Azure/azure-powershell/pull/2766

[2016-08-17 17:30] #2675 closed

[2016-08-17 23:41] #2471 closed

[2016-08-17 23:42] #2009 closed

[2016-08-18 11:08] marcobocca commented on #1665
Is there any update about this problem ? Thank you Marco

[2016-08-18 14:11] danielstocker commented on #2768
[Similar issue with CLI](https://github.com/Azure/azure-xplat-cli/issues/3109)

[2016-08-18 17:36] cormacpayne opened #2791 "Add help for Automation cmdlets"
Branching off from issue https://github.com/Azure/azure-powershell/issues/2413

Automation is missing help for the following cmdlets:
- Get-AzureRmAutomationJobOutputRecord
- Remove-AzureRmAutomationDscNodeConfiguration
- Remove-AzureRmAutomationDscConfiguration
- Remove-AzureAutomationConnection
- Remove-AzureAutomationConnectionType
- Set-AzureAutomationConnectionFieldValue

[2016-08-18 17:37] cormacpayne commented on #2791
@jodoglevy Hey Joe, would you mind taking a look at this issue?

[2016-08-18 17:39] cormacpayne opened #2792 "Add help for Compute cmdlets"
Branching off from issue https://github.com/Azure/azure-powershell/issues/2413

Compute is missing help for the following cmdlets:
- Get-AzureRmVMAEMExtension
- Remove-AzureRmVMAEMExtension
- Set-AzureRmVMAEMExtension
- Test-AzureRmVMAEMExtension
- Set-AzureRmVMBginfoExtension
- Set-AzureRmVMPlan

[2016-08-18 17:40] cormacpayne commented on #2792
@singhkays Hey Kay, would you mind taking a look at this issue and assigning it to the proper milestone?

[2016-08-18 17:44] cormacpayne opened #2793 "Add help for HDInsight cmdlets"
Branching off from issue https://github.com/Azure/azure-powershell/issues/2413

HDInsight is missing help for the following cmdlets:
- Add-AzureHDInsightScriptAction
- Grant-AzureHDInsightRdpAccess
- Revoke-AzureHDInsightRdpAccess
- Set-AzureHDInsightClusterSize

[2016-08-18 17:45] cormacpayne commented on #2793
@nemanja88 Hey Nemanja, would you mind taking a look at this issue and assigning it to the proper milestone?

[2016-08-18 17:46] cormacpayne opened #2794 "Add help for Network cmdlets"
Branching off from issue https://github.com/Azure/azure-powershell/issues/2413

Network is missing help for the following cmdlets:
- New-AzureRmApplicationGatewayPathRuleConfig
- Add-AzureRmApplicationGatewayProbeConfig
- Get-AzureRmApplicationGatewayProbeConfig
- New-AzureRmApplicationGatewayProbeConfig
- Remove-AzureRmApplicationGatewayProbeConfig
- Set-AzureRmApplicationGatewayProbeConfig
- Add

[2016-08-18 17:49] cormacpayne commented on #2794
@DeepakRajendranMsft Hey Deepak, would you mind taking a look at this issue and assigning it to the proper milestone?

[2016-08-18 17:51] cormacpayne opened #2795 "Add help for OperationalInsights cmdlets"
Branching off from issue https://github.com/Azure/azure-powershell/issues/2413

OperationalInsights is missing help for the following cmdlets:
- Get-AzureRmOperationalInsightsSavedSearch
- Get-AzureRmOperationalInsightsSavedSearchResults
- Get-AzureRmOperationalInsightsSchema
- Get-AzureRmOperationalInsightsSearchResults
- New-AzureRmOperationalInsightsSavedSearch
- Set-AzureRmOperationalInsightsS

[2016-08-18 17:54] cormacpayne opened #2796 "Add help for RemoteApp cmdlets"
Branching off from issue https://github.com/Azure/azure-powershell/issues/2413

RemoteApp is missing help for the following cmdlets:
- Clear-AzureRemoteAppVmStaleAdObject
- Get-AzureRemoteAppVM
- Get-AzureRemoteAppVmStaleAdObject
- Restart-AzureRemoteAppVM

[2016-08-18 17:55] cormacpayne commented on #2796
@yadavbdev Hey Yadav, would you mind taking a look at this issue and assigning it to the proper milestone?

[2016-08-18 17:56] cormacpayne opened #2797 "Add help for Sql cmdlets"
Branching off from issue https://github.com/Azure/azure-powershell/issues/2413

Sql is missing help for the following cmdlets:
- Get-AzureRmSqlServerDisasterRecoveryConfiguration
- Get-AzureRmSqlServerDisasterRecoveryConfigurationActivity
- New-AzureRmSqlServerDisasterRecoveryConfiguration
- Remove-AzureRmSqlServerDisasterRecoveryConfiguration
- Set-AzureRmSqlServerDisasterRecoveryConfiguration

[2016-08-18 17:57] cormacpayne commented on #2797
@akromm Hey Adam, would you mind taking a look at this issue and assigning it to the proper milestone?

[2016-08-18 17:57] jodoglevy commented on #2791
I am no longer at Microsoft. Can you ping Eamon O'Reilly at Microsoft to find a new owner?

[2016-08-18 18:00] cormacpayne opened #2798 "Add help for TrafficManager cmdlets"
Branching off from issue https://github.com/Azure/azure-powershell/issues/2413

TrafficManager is missing help for the following cmdlets:
- Disable-AzureRmTrafficManagerEndpoint
- Enable-AzureRmTrafficManagerEndpoint
- Set-AzureRmTrafficManagerEndpoint
- Get-AzureRmTrafficManagerEndpoint
- Remove-AzureRmTrafficManagerEndpoint
- New-AzureRmTrafficManagerEndpoint
- Disable-AzureRmTrafficManagerProfi

[2016-08-18 18:07] cormacpayne commented on #2798
@jtuliani Hey Jonathan, would you mind taking a look at this issue and assigning it to the proper milestone?

[2016-08-18 18:08] cormacpayne opened #2799 "Add help for Websites cmdlets"
Branching off from issue https://github.com/Azure/azure-powershell/issues/2413

Websites is missing help for the following cmdlets:
- Get-AzureRmAppServicePlanMetrics
- New-AzureRmWebAppDatabaseBackupSetting
- Restore-AzureRmWebAppBackup
- Get-AzureRmWebAppCertificate
- Get-AzureRmWebAppSSLBinding
- New-AzureRmWebAppSSLBinding
- Remove-AzureRmWebAppSSLBinding
- Get-AzureRmWebAppSlot
- Get-AzureRmW

[2016-08-18 18:10] cormacpayne commented on #2799
@akurmi Hey Ashish, would you mind taking a look at this issue and assigning it to the proper milestone?

[2016-08-18 18:12] cormacpayne opened #2800 "Add help for ExpressRoute cmdlets"
Branching off from issue https://github.com/Azure/azure-powershell/issues/2413

ExpressRoute is missing help for the following cmdlets:
- Get-AzureCrossConnection
- New-AzureCrossConnection
- Set-AzureCrossConnection
- Get-AzureDedicatedCircuitPeeringArpInfo
- Get-AzureDedicatedCircuitPeeringRouteTableInfo
- Get-AzureDedicatedCircuitPeeringRouteTableSummary
- Get-AzureDedicatedCircuitStats
- Set-A

[2016-08-18 18:13] cormacpayne commented on #2800
@nupurkot Hey Nupur, would you mind taking a look at this issue and assigning it to the proper milestone?

[2016-08-18 18:14] cormacpayne opened #2801 "Add help for DataLakeStore cmdlet"
Branching off from issue https://github.com/Azure/azure-powershell/issues/2413

DataLakeStore is missing help for the following cmdlet:
- Add-AzureRmDataLakeStoreItemContent

[2016-08-18 18:17] cormacpayne opened #2802 "Add help for AzureStack cmdlet"
Branching off from issue https://github.com/Azure/azure-powershell/issues/2413

AzureStack is missing help for the following cmdlet:
- Get-ACSEvent

[2016-08-18 18:35] pcgeek86 opened #2803 "Fails to install on PowerShell Core due to missing Telemetry class"
# Issue
I'm trying to install the AzureRM PowerShell module on PowerShell Core on Ubuntu Linux 16.04 LTS Xenial Xerus, under a Docker image. I'm getting an exception installing the module, due to a missing Telemetry class in the .NET Core framework.

![image](https://cloud.githubusercontent.com/assets/466713/17785923/e6e0d882-653f-11e6-88ad-7b9b3d5ade56.png)

[code]

## PowerShell Version

[code]

[2016-08-18 18:59] epennaz commented on #2803
Seems it's possible: https://channel9.msdn.com/Blogs/hybrid-it-management/PowerShell-on-Linux-and-Open-Source  skip to the 13:00 minute mark. Are we missing dependencies?

[2016-08-18 23:31] kirthik opened #2805 "[Reference Only]: Re-structure repository to support multiple profiles"
### Description

Restructure the repository to allow building multiple profiles of modules side-by-side
- [ ] Update folder structure and build components as follows:
  - Setup
  - StackSetup
  - AzureRM.BootStrapper
  - AzureRM
  - AzureStack
    - Version
      - AzureStack
      - Admin
      - Storage
  - Common
    - Commands
    - Authentication
    - ResourceManager
    - Storage
  - Profil

[2016-08-19 11:27] IvanovOleg opened #2807 "ResourceId vs TargetResourceId in Add-AzureRMMetricAlertRule cmdlet"
Hi guys,

I have faced with Add-AzureRMMetricAlertRule cmdlet issue:
**Add-AzureRMMetricAlertRule : InvalidArgument: The property "ResourceId" has an invalid value.**
It looks like this cmdlet requires the "TargetResourceId" parameter, but before adding a new alert it executes the other cmdlet that requires "ResourceId". If I add the "ResourceId" parameter to my command, another issue appears **Ad

[2016-08-19 13:40] maxcli opened #2808 "associate hotmail account with Visual Studio Dev Essentials"
Hello,
I created a free 'Visual Studio Dev Essentials' azure subscription.
How do I associate that subscription with my Hotmail account so that I can login with Login-AzureRmAccount ?
Typing  Get-AzureRmSubscription does not show any subscriptions.

Thanks, Peter

[2016-08-19 15:16] maxcli commented on #2808
I think the problem is that this is a Visual Studio subscription, not azure .

[2016-08-19 15:16] #2808 closed

[2016-08-19 15:53] erictorbenson opened #2809 "Set-AzureRmResource: Setting SKU on IoT Hub fails with "The pipeline has been stopped.""
I encountered an error when trying to set the SKU on a bunch of IoT Hub instances across our Azure subscriptions from S2 to S1.

I wrote the following PowerShell script to iterate through the subscriptions, select out the IoT Hubs, and attempt to set the SKU:

`Login-AzureRmAccount`
`$subCollection = Get-AzureRmSubscription | Where-Object State -NE "Disabled"`
`$skuhash = @{name="S1"; tier="Standa

[2016-08-19 17:33] akromm commented on #2797
@hchungmsft can you look into doing the documentation for these cmdlets.

[2016-08-19 17:56] akromm commented on #2797
@cormacpayne  Did this PR not add the appropriate help: https://github.com/Azure/azure-powershell/pull/2017 ?

[2016-08-19 19:19] cormacpayne commented on #2797
@akromm yup, that PR took care of it. I must have been looking at an outdated list. I will close this issue.

[2016-08-19 19:19] #2797 closed

[2016-08-19 19:32] akurmi commented on #2799
@ahmedelnably

[2016-08-19 21:56] sahammer commented on #1968
This would be pretty useful to have. :+1:

[2016-08-19 23:18] gregjhogan commented on #1968
@ravbhatnagar I don't understand your comment "it will not be trivial to construct the object which represents your template". I am constructing the template as an object.  Currently when a local template file is used, you read it in as an object and post it to an API endpoint.  I just want to construct the exact same object that would be placed in a template file and then pass that as a parameter

[2016-08-20 14:05] berzns commented on #1911
Make sure you have installed the latest Azure PowerShell Command-line tools.
https://azure.microsoft.com/en-us/downloads/

[2016-08-20 21:41] IvanovOleg opened #2812 "Creating an Azure infrstructure via Jenkins"
Hi guys,

I have a powershell script which creates an infrastructure in Azure from ARM templates. Everything works fine from powershell, but when I try to execute this script from Jenkins it fails. The reason of the issue is an authentication. Jenkins is not able to operate with an authentication dialog window. Is there any other way to log in to azure from script?

[2016-08-21 15:55] tstringer opened #2813 "Semver error while saving/installing on macOS"
It appears as though attempting to install (or even save) the azure modules (`Azure` and `AzureRM`) result in the following on my machine:

<img width="729" alt="screen shot 2016-08-21 at 11 51 51 am" src="https://cloud.githubusercontent.com/assets/1445483/17838231/ea367c0a-6795-11e6-8882-f4e00e349074.png">

Not matter what I do, this seems to be the result.  And it looks like it's a hard-stop err

[2016-08-21 20:00] EUCConsulting commented on #2812
You need to create a service principal and use this in your script

https://blogs.endjin.com/2016/01/azure-resource-manager-authentication-from-a-powershell-script/

[2016-08-21 20:10] kilasuit commented on #2813
@tstringer There is an open issue about this on the PowerShell Repo - see https://github.com/PowerShell/PowerShell/issues/1874

[2016-08-21 20:13] kilasuit commented on #2813
Essentially this isnt an AzureRM issue but an issue with the Find-Module command not currently being able to work with Semantic Versions - although there are supposed fixes in that linked issue there are currently only a few AzureRM modules that will work on PSCore due to a current building of them for the Full .NET Framework.

@markcowl - I haven't seen a timeline for the whole of the AzureRM mod

[2016-08-22 01:41] ShuheiUda opened #2814 "Input validation in New/Set-AzureRmNetworkSecurityRuleConfig"
Could you validate Input parameter in New/Set-AzureRmNetworkSecurityRuleConfig cmdlets?
In spite of incorrect Address Prefix, following commands return no sign of error.

NSG permits or denies unexpected packets when I link these rules to NIC or Subnet.
It is difficult to find misconfiguration in case if these cmdlets doesn't return any errors.

- Creating NSG with incorrect Address Prefix (192.16

[2016-08-22 16:31] ld0614 opened #2815 "-UseRemoteGateways in Add-AzureRmVirtualNetworkPeering does not enable Remote Gateway Peering"
### Cmdlet(s)

Add-AzureRmVirtualNetworkPeering
### PowerShell Version

Instructions: to get PowerShell version, type `$PSVersionTable` and look for the value associated with `PSVersion`
5.0.10586.494
### Module Version

2.0.1
### OS Version

Instructions: to get OS version, type `$PSversionTable` and look for value associated with `BuildVersion`
10.0.10586.494
### Description

When attempting to

[2016-08-22 16:42] #2812 closed

[2016-08-22 17:31] singhkays commented on #2714
Great feedback @jonsabo! should be in for next release.

[2016-08-22 17:38] singhkays commented on #2792
[code]

Will be in next release. Others are owned by a different team, will ping them offline.

[2016-08-22 17:41] singhkays commented on #2689
@iricigor There might be an improvement we can make here to the parameter name. In the meantime, I'll update the PS help. Here's the description of this from the API

[code]

[2016-08-22 17:50] singhkays commented on #2481
@iricigor Thanks for the feedback. This method was deprecated with the GA API, I've removed the example.

[2016-08-22 18:27] TianoMS commented on #2309
@ravbhatnagar This was fixed.

[2016-08-23 03:41] Pradebban commented on #1524
Same here, this is very strange! works sometime and not the other time!
Do we have any updates on this.

@markcowl, could you please have a look here.

Thanks,
Pradebban Raja

[2016-08-23 04:33] avishnyakov commented on #2456
Hello @niadak @hyonholee and everyone.

Milestone: July 2016
Status: open

Is it open, closed, is anything been done? Cannot see related commits here.

[2016-08-23 07:37] abhishekshivalkar opened #2818 "Why is –OSState "Specialized" parameter not supported in 'Save-AzureRmVMImage' cmdlet."
Save-AzureVMImage  cmdlet supported –OSState "Specialized" parameter for specialized VM Image which is meant to be used as a “snapshot” to deploy a VM to a good known point in time. This feature is no longer available in ARM equivalent of cmdlet - Save-AzureRmVMImage.

Save-AzureRmVMImage needs VM to be sysprep/Generalized. The problem is that once you generalized a VM on Azure to create an image

[2016-08-23 16:56] cormacpayne commented on #2818
@singhkays Hey Kay, would you mind taking a look at this issue?

[2016-08-23 17:03] cormacpayne commented on #2815
@DeepakRajendranMsft Hey Deepak, would you mind taking a look at this issue?

[2016-08-23 17:04] singhkays commented on #2818
@abhishekshivalkar Save-AzureVMImage was always intended to give you a snapshot of a deallocated VM. It wasn't recommended to run it on a running VM. You can achieve the same functionality by copying the blob yourself in ARM. For your main question, since there isn't an API to call for `-Specialized` flag, the cmdlet doesn't support it.

[2016-08-23 17:04] #2818 closed

[2016-08-23 17:05] cormacpayne commented on #2814
@DeepakRajendranMsft Hey Deepak, would you mind taking a look at this issue?

[2016-08-23 17:45] abhishekshivalkar commented on #2818
Would ARM equivalent -Specialized flag be supported in future?

[2016-08-23 17:51] singhkays commented on #2818
@abhishekshivalkar I'm not aware of an API support incoming that will allow us to replicate that functionality in PS. But you don't need to un-generalize your VM to get a specialized disk. If you delete the VM, the VHD left behind is already specialized. Similarly, if you copy that VHD blob to another location, it's a specialized disk. You should be able to create a new VM from it.

[2016-08-23 18:28] initparam commented on #2494
I am using this code to get my token in my scripts, Works really great - i use it With Invoke-RestMethod

`function GetAuthToken {
   param([Parameter(Mandatory=$true)]$ApiEndpointUri, [Parameter(Mandatory=$true)]$AADTenant)

   $adal = "${env:ProgramFiles(x86)}\Microsoft SDKs\Azure\PowerShell\ServiceManagement\Azure\Services\" + `
"Microsoft.IdentityModel.Clients.ActiveDirectory.dll"
   $adalform

[2016-08-23 21:10] cormacpayne commented on #2809
@ravbhatnagar Hey Gaurav, would you mind taking a look at this?

[2016-08-23 21:10] cormacpayne commented on #2807
@ravbhatnagar Hey Gaurav, would you mind taking a look at this?

[2016-08-23 22:29] cormacpayne commented on #2716
Template placed in the private documentation repo

[2016-08-23 22:29] #2716 closed

[2016-08-23 22:29] #2695 closed

[2016-08-23 22:29] #2694 closed

[2016-08-23 22:29] #2413 closed

[2016-08-23 23:58] avishnyakov opened #2820 "Set-AzureRmVMCustomScriptExtension seems to return NULL with 1.6"
### Cmdlet(s)
Set-AzureRmVMCustomScriptExtension

### PowerShell Version
5.0.10586.494

### Module Version
1.6

### OS Version
Win8, Win2012 R2

### Description
Set-AzureRmVMCustomScriptExtension used to return result object with the properties such as 'IsSuccessStatusCode' and so on. With 1.6 Azure PowerShell, it seems to return $null all the time.

[2016-08-24 00:08] cormacpayne commented on #2820
@singhkays Hey Kay, would you mind taking a look at this issue?

[2016-08-24 01:53] #2770 closed

[2016-08-24 01:54] begoldsm opened #2821 "Normalization of Force parameter incomplete, ConfirmAction defaulting to false"
From this commit: 0e95237c24ffd5103b1e48af46f0353139c03051
Force parameters were removed from cmdlets, however they were not removed from all cmdlets (for example, Remove-AzureRMDataLakeStoreItem still has a force, as does Remove-AzureRMResourceGroup). Additionally, the change to ConfirmAction resulted in the default value being used, which is false. This means that, by default, no prompt is given

[2016-08-24 02:02] markcowl commented on #2763
The resaolution is to use PSM1 files and update the module publishing process to alter the nuget package directly.

[2016-08-24 02:07] #2762 closed

[2016-08-24 02:14] markcowl commented on #2683
@tjrobinson Have you logged in using multiple credentials?  If so, tis could be a known bug in 1.6 which was fixed in 2.0.1

[2016-08-24 02:17] markcowl commented on #2731
Ask is for using certs from an arbitrary store, or providing a mechanism to allow certs outside the My stores.

[2016-08-24 02:21] markcowl commented on #796
@pcgeek86 What version of the cmdlets?

[2016-08-24 02:30] markcowl commented on #2821
@begoldsm Normalization is complete.  The previous implementation did not use ShouldProcess correctly and now does, so that users can use -Confirm and -WhatIf as intended with these cmdlets.  Please see:  https://gist.github.com/markcowl/338e16fe5c8bbf195aff9f8af0db585d as we sent out for review with the original PR for complete details.

ConfirmImpact should not be changed for actions that are no

[2016-08-24 07:34] tjrobinson commented on #2683
@markcowl Possibly yes, I can't be sure as I have since moved companies but will bear this in mind in future.

[2016-08-24 16:37] davidt99 opened #2825 "AzureRM.NetCore.Preview on linux is missing a lot of cmdlets"
### Cmdlet(s)

Any New-\* and a lot others.
### PowerShell Version

6.0.0.alpha9
### Module Version

0.3.4
### OS Version

Ubuntu 14.04 4.2.0-42-generic
### Description

I know it's still in preview but the only things that I was able to do is to login and change subscription.
Am I missing something?
Couldn't find the namespace or the code on github either.

[2016-08-24 17:01] markcowl opened #2826 "Fix cmdlet help for cmdlets with removed Force parameters"
### Description
When obsoleted Force parameters were removed, we neglected to update the help.  Remove the parameters from online help.

The change that removed Force parameters is here:  https://github.com/Azure/azure-powershell/pull/2676

### Cost: 1

[2016-08-24 17:09] markcowl commented on #2825
@davidt99 The preview includes the Profile and ResourceManager (generic) cmdlets.  This enables you to create and manipulate any resource.  The typed cmdlets for resources like storage and VMs will be rolled out over time.

Are you seeing cmdlets like Invoke-AzureRmResourceAction??

[2016-08-24 17:11] markcowl commented on #2821
Filed this issue for the force parameters here: https://github.com/Azure/azure-powershell/issues/2826 Closing this for now in favor of the more targeted bug

[2016-08-24 17:11] #2821 closed

[2016-08-24 17:14] markcowl commented on #2813
@kilasuit We don't have a complete timeline, but you can expect to see issues for this  to be posted here in the next week or so.  We ened to move our issues for this from the private repo now that the linux version is public. Issues will be tagged with the 'CoreCLR' Label.

Meanwhile, we used the generic cmdlets to start with, because these enable almost all scenarios for all resource types (albe

[2016-08-24 22:48] markcowl opened #2828 "Bootsrapper prototype inteface updates"
### Description
- [x] Change api versions to 2016-09 and 2015-06
- [x] Use 'VersionProfile'
- [x] Add a 'Latest' switch
### Cost: 2

[2016-08-24 23:02] markcowl commented on #2803
@pcgeek86 You can install this module, which has specific support for the Core PSEdition:https://www.powershellgallery.com/packages/AzureRM.NetCore.Preview/0.3.4

[2016-08-24 23:05] markcowl commented on #2803
Also, there is currently a bug in alpha9 that prevents installing modules set for the PSCore edition, so you may need to use ```Install-Package``` instead.  See: https://github.com/PowerShell/PowerShell/blob/master/demos/Azure/Azure-Demo.ps1#L11

[2016-08-24 23:07] markcowl commented on #2803
@pcgeek86 This seems like a bug in PowerShellGet as well, since it should refuse to install any modules that do not specifically support the Core edition

[2016-08-24 23:08] #2803 closed

[2016-08-24 23:10] markcowl commented on #2768
@vivsriaus can you take a look?

[2016-08-24 23:11] markcowl commented on #2745
Closing as there has been no response, please open a new issue if you are still seeing an issue

[2016-08-24 23:11] #2745 closed

[2016-08-25 00:22] TianoMS commented on #1920
You need to escape the "$" in the query parameter. Like this: -ODataQuery "`$filter=tagName eq 'DBCheckService'".

I'll add a Tag parameter for Find-AzureRmResource.

[2016-08-25 01:29] markcowl opened #2830 "Remove external reference to System.Management.Automation dll in ResourceManager library"
This library is not authenticode signed and is a Microsoft (System.*) dll.
- [ ] Remove the dependency on this dll, or find a more appropriate depednency
- [ ] Add Authenticode signing check to build script, A command lijke this, added to the existing strong name check, will work:
[code]

[2016-08-25 06:09] mjfisher-bbllp opened #2831 "New-AzureRMKeyVault in Azure Powershell cmdlets 2.0.1 throws "Could not load file or assembly" error"
### Cmdlet(s)

New-AzureRMKeyVault

### PowerShell Version

5.0.10586.117

### Module Version

2.0.1

### OS Version

10.0.10586.117

### Description

New-AzureRmKeyVault cmdlet throws the following error:

New-AzureRmKeyVault : Could not load file or assembly 'Microsoft.Data.Services.Client, Version=5.6.4.0,
Culture=neutral, PublicKeyToken=31bf3856ad364e35' or one of its dependencies. The system

[2016-08-25 08:11] davidt99 commented on #2825
No.
I used `Get-Module AzureRM.*` to load the module, this is enough or I need to load another module?

[2016-08-25 16:19] #2826 closed

[2016-08-25 17:53] kennyqiu commented on #2021
I saw this exception a lot too. Any update on this topic?

[2016-08-25 18:08] markcowl opened #2833 "Enable xunit test automation for Storage management"
### Description

Enable xunit test automation for Storage management

https://github.com/Azure/azure-powershell/blob/dev/AzurePowershell.Test.targets#L108

Uncomment this line and fix any test failures

[2016-08-25 18:10] markcowl opened #2834 "Enable xunit test automation for AzureStackStorage and AzureStackAdmin"
### Description

Enable xunit test automation for AzureStackStrage and AzureStackAdmin

https://github.com/Azure/azure-powershell/blob/dev/AzurePowershell.Test.targets#L99

Uncomment this line and fix any test failures

[2016-08-25 18:13] markcowl opened #2836 "Enable xunit test automation for DevTestLabs"
### Description

Enable xunit test automation for DevTestLabs

https://github.com/Azure/azure-powershell/blob/dev/AzurePowershell.Test.targets#L101

Uncomment this line and fix any test failures

[2016-08-25 18:54] markcowl opened #2837 "Enable xunit test automation for Insights management"
### Description

Enable xunit test automation for Insights management

https://github.com/Azure/azure-powershell/blob/dev/AzurePowershell.Test.targets#L103

Uncomment this line and fix any test failures

[2016-08-25 18:57] markcowl opened #2838 "Enable xunit test automation for RecoveryServices management"
### Description
Enable xunit test automation for RecoveryServices management

https://github.com/Azure/azure-powershell/blob/dev/AzurePowershell.Test.targets#L104

Uncomment this line and fix any test failures

[2016-08-25 19:02] markcowl opened #2839 "Enable xunit test automation for ServerManager management"
### Description

Enable xunit test automation for ServerManager management

https://github.com/Azure/azure-powershell/blob/dev/AzurePowershell.Test.targets#L107

Uncomment this line and fix any test failures.  Garrett - please assign appropriately

[2016-08-25 19:41] cormacpayne commented on #2765
@markcowl Added Jenkins job "ps-stack-sign" which is a copy of the signed job already used for PowerShell, but creates and publishes a tag to the repository with the timestamp.

[2016-08-26 12:40] mbukosky commented on #1524
+1

[2016-08-26 14:04] iricigor opened #2842 "Update-AzureRmVM example using non existing Parameter"
### Cmdlet(s)

Update-AzureRmVM
### PowerShell Version

5.0.10514.6
### Module Version

[code]
### OS Version

Windows 7, 64 bit
BuildVersion                   10.0.10514.6
### Description

The only example for Update-AzureRmVM uses parameter -Name which is not supported (and should not be supported)
### Debug Output

[code]
### Script/Steps for Reproduction

[code]

[2016-08-26 15:03] vdangwal commented on #661
Is there any deadline when this might be available?

[2016-08-26 15:53] brwilkinson commented on #2381
Any movement on this one?

[2016-08-26 16:20] cormacpayne commented on #2842
@singhkays Hey Kay, would you mind taking a look at this issue?

[2016-08-26 16:27] singhkays commented on #2820
@avishnyakov I'm not aware of something changed in the return object recently. @hyonholee can you take a look?

[2016-08-26 16:31] singhkays commented on #2842
Thanks for the report @iricigor, will update in the October milestone.

[2016-08-26 17:00] mjfisher-bbllp commented on #2831
Cmdlet problem turned out to be .Net framework corruption on the host system, after further testing we were able to run the cmdlets fine from another host.  No action needed.

[2016-08-26 17:01] #2831 closed

[2016-08-26 18:01] abhishekanand commented on #1407
Please update command or documentation for this issue with an example.

[2016-08-26 18:03] dilukose commented on #2798
Ack-ing...

[2016-08-26 18:51] markcowl opened #2843 "Create documentation on cleaning commit history"
### Description

Create documentation for users on how to manage their commit comments.  This may include:

using ```git pull --rebase``` whenever pulling the latest changes.
How to use ```git rebase``` and ```git cherry-pick``` to create a cleaner git history.

Add this to the repo documentation, and send as announcement out to partners.

### Cost: 1

[2016-08-26 21:53] markcowl commented on #2021
Note, this is identical to this issue: https://github.com/Azure/azure-powershell/issues/2701  Which is planned for this release.  Closing as a duplicate.