[2021-11-24 10:32] #16472 closed

[2021-11-24 13:33] tmmjelde opened #16486 "New-AzWvdScalingPlan -Schedule wrong time format (should be HH:mm)"
### Description

This is an example of a "working" command:
New-AzWvdScalingPlan `
            -ResourceGroupName ResourceGroupName `
            -Name Name `
            -Location 'westeurope' `
            -HostPoolType 'Pooled' `
            -TimeZone 'W. Europe Standard Time' `
            -Schedule @(
		@{
                        'name'                           = 'Weekends';

[2021-11-24 14:42] dingmeng-xue commented on #16475
Thank you for your reporting. Tagging and routing to the team member best able to assist.

[2021-11-24 14:44] dingmeng-xue commented on #16477
Thank you for your reporting. Tagging and routing to the team member best able to assist.

[2021-11-24 14:46] dingmeng-xue commented on #16486
Thank you for your reporting. Tagging and routing to the team member best able to assist.

[2021-11-24 14:46] dingmeng-xue commented on #16485
Thank you for your reporting. Tagging and routing to the team member best able to assist.

[2021-11-24 14:51] dingmeng-xue commented on #16484
When the version of service module is not existing in Az.psd1, signing pipeline will download that version from PSGallery. Can AzPreview use the same logic?

As the result, AzPreview.psd1 is a snapshot of the latest released version. It is only updated when we release new Az.

[2021-11-24 14:54] dingmeng-xue commented on #16476
Hi @Jspcstl , thanks for reporting. However `AzureAD` module containing that cmdlet is not owned by current Github repo. You have to raise the request via Microsoft support channel.

[2021-11-24 14:57] dingmeng-xue commented on #16479
It should be upgraded with Azure.Identity. Let's wait its next release.

[2021-11-24 15:49] dingmeng-xue commented on #16466
This issue can be reproduced. It should be conflict between Az.Storage and assemblies loaded by Az.Accounts. We will look into it.
[code]

[2021-11-24 18:46] Francisco-Gamino opened #16487 "[Breaking change] Remove-AzFunctionApp should not delete ASP if it is the last app in the plan"
### Description

Currently, Remove-AzFunctionApp deletes ASP if it is the last app in the plan. After discussing with the team we decided to change the default behavior and not delete the app service plan.

### Issue script & Debug output

[code]

### Environment data

[code]

### Module versions

[code]

### Error output

[code]

[2021-11-24 18:48] Francisco-Gamino opened #16488 "Remove-AzFunctionApp -- add switch to specify deleting the app plan if this is the last app in the plan"
### Description

Remove-AzFunctionApp -- add switch to specify deleting the app plan if this is the last app in the plan

### Issue script & Debug output

[code]

### Environment data

[code]

### Module versions

[code]

### Error output

[code]

[2021-11-24 18:50] Francisco-Gamino commented on #14204
After discussing this scenario with the team, we decided to change the default behavior of the `Remove-AzFunctionApp` to not delete ASP if it is the last app in the plan. For more information, please see https://github.com/Azure/azure-powershell/issues/16487.

Also, we are going to add a switch to specify deleting the app plan if this is the last app in the plan. This work will be tracked by https

[2021-11-24 18:50] #14204 closed

[2021-11-24 18:53] Francisco-Gamino commented on #16488
/cc @jcbrooks92 @AnatoliB @michaelpeng36 @apawast

[2021-11-24 18:54] Francisco-Gamino commented on #16487
/cc @jcbrooks92 @AnatoliB @michaelpeng36 @apawast

[2021-11-24 19:55] Francisco-Gamino opened #16490 "[Breaking change] Update-AzFunctionAppPlan should prompt for confirmation"
### Description

Update-AzFunctionAppPlan needs to support `$PsCmdlet.ShouldContinue`. This means that the user should get prompt for confirmation. Alternatively, the user can use `-Force` to bypass the confirmation.

The behavior would be the same as Remove-AzFunctionApp https://github.com/Azure/azure-powershell/blob/generation/src/Functions/custom/Remove-AzFunctionApp.ps1#L101

### Issue script

[2021-11-24 20:20] SaurabhSharma-MSFT commented on #16445
@abatishchev It is not possible with Remove-AzRoleAssignment but I am checking internally for any other ways to do the same.  I will get back to you on the same.

[2021-11-25 00:32] SaurabhSharma-MSFT commented on #16445
@abatishchev You cannot remove classic administrators using Powershell cmdlet and you may need to use portal for deleting those assignments manually. Please let me know if you have any other questions. Thanks.

[2021-11-25 02:03] wyunchi-ms commented on #11240
AAD will be deprecated in 2022. We don't need to support this any more.

[2021-11-25 02:03] SaurabhSharma-MSFT commented on #16485
@Yuiheart You need to pass ServicePrincipalKey like below to create the required linked service -
`"servicePrincipalKey": {"type": "SecureString", "value": "<client secret>"}`
Final Json will look like below:
![image](https://user-images.githubusercontent.com/38112130/143364674-b9932086-bb9c-4667-bcda-0f42d4ab46c8.png)
I have tested this and it worked fine in my environment.
Please refer to the [A

[2021-11-25 02:27] Yuiheart commented on #16485
Hi @SaurabhSharma-MSFT
Thanks! It works for me too.

[2021-11-25 02:27] #16485 closed

[2021-11-25 05:56] msJinLei commented on #15868
Hi @atkulp, we have released new version of Az.Tools.Installer https://www.powershellgallery.com/packages/Az.Tools.Installer/0.2.0
If you find the issue can still be reproduced in the 0.2.0. Please set
[code]
and paste and output here
Thanks

[2021-11-25 08:07] juergenbr commented on #16445
Ran into the same issue today, we need to change permissions for 200+ subscriptions and want to automate the process. Is there no way to implement this?

[2021-11-25 08:27] #16054 closed

[2021-11-25 09:37] dingmeng-xue commented on #16466
This issue is due to some cmdlets of Az.Storage was built on Azure.Core 1.19.0 but cannot work with Azure.Core on 1.20.0 when the same dependent assembly loaded by VScode extensions.

This issue will be eliminated in new Az.Storage version after recompilation.

Workaround is user needs to use Az.Accounts 2.5.4 which contains Azure.Core 1.19.0

[2021-11-25 09:47] jikuja commented on #16054
Was the fix for role assignments only or for all cmdlet doing unneeded AAD/Graph API request?

ref: https://github.com/Azure/azure-powershell/issues/16231

[2021-11-25 10:05] shawnxzq commented on #15705
Still working on this, added feature request tag.

[2021-11-25 11:03] asergaz commented on #16413
Hello @vivere-dally I have the same error when using Powershell 5.1. Though I was able to run the command when using Powershell Version 7.2. Can you install this version and give it a try?

https://docs.microsoft.com/en-us/powershell/scripting/install/installing-powershell-on-windows?view=powershell-7.2#msi

Thanks!

[2021-11-25 11:53] vivere-dally commented on #16413
Hello @asergaz, I tried with PS Version `7.0.3` and it works as expected. I would presume that it works on every 7+ version?

[2021-11-25 12:00] #15427 closed

[2021-11-25 12:05] asergaz commented on #16413
@vivere-daily I just tested on 7.2. I also tested in Azure Portal that is version 7.2. Nevertheless the documentation should mention what minimum version is needed. And currently is saying 5.1 :(. So I consider this a doc or product bug.

https://www.powershellgallery.com/packages/Az.DeviceProvisioningServices/0.10.0

![image](https://user-images.githubusercontent.com/22173500/143438768-e6e1ad3c-b

[2021-11-25 22:44] abatishchev commented on #16445
@juergenbr here's few pointers:

1. Delete a co-admin using the Azure Portal, track what API call it has made
2. Figure out the legacy user id, for me it looked like `100110003D55E51B`
3. Repeat the call for arbitrary subscription, user id

The API call in my case looked like this:

[code]

Notes:

1. The api version `2015-06-01` is not documented and currently unlisted, you can find the spec for

[2021-11-26 02:49] BethanyZhou commented on #16054
Hi @jikuja , the fix is for role assignments only. Could you provide full debug log for #16231 by setting `$DebugPreference = "Continue"`?

[2021-11-26 08:01] #10756 closed

[2021-11-26 14:48] ungurflorin opened #16506 "Get-AzADAppCredential EndDate and StartDate strings in different format"
### Description of the new feature

The `EndDate` and `StartDate` strings should be used to perform arithmetic calculations without the need to transform them.

To elaborate, this doesn't work:

[code]

But this does:

[code]

This is because, AFAIK, the output contains the [the invisible LEFT-TO-RIGHT-MARK Unicode character (U+200E)](https://stackoverflow.com/a/55006669). So you will have to tran

[2021-11-26 20:18] BMichaelJ opened #16507 "[Doc]: Status of Update-AzCosmosDBAccount"
### Description

Doing the migration in PowerShell, it would be nice to see the status with Powershell also, the documentation includes the az commands under the PowerShell chapter.
If there is no PowerShell support to check the status this could be clarified to avoid confusion,

https://docs.microsoft.com/en-us/azure/cosmos-db/migrate-continuous-backup#powershell

Also opened here

https://github

[2021-11-27 14:00] levi106 opened #16508 "Get-AzReservationOrderId throws NullReferenceException"
### Description

There is a situation that `Microsoft.Capacity/appliedReservations` returns `{"value": []}`. In such case, an NullReferenceException occurs at [the constructor of PSAppliedReservationOrderId](https://github.com/Azure/azure-powershell/blob/4668bff1cc4ed6510d9b0d4c6ec289ab27f04241/src/Reservations/Reservations/Custom/PSAppliedReservationOrderId.cs#L44) because appliedReservationOrder

[2021-11-28 10:13] obesser opened #16509 "No output at all from Get-AzAutomationJobOutput"
### Description

Get-AzAutomationJobOutput returns no result even when the job has output.

From the Absolute Uri in debug output below it seems that a filter is automatically built with a start time equal to the job start time,  but for some reason it is not enough - when I run the same request with a start time of 2 minutes earlier, it gets the output (see in the debug output below).

This behav

[2021-11-28 11:29] bferg317 opened #16510 "Az.Accounts tries to load a local file that never existed."
### Description

After importing Az.Accounts (which takes ~20 seconds on a R9 5900x for some insane reason), running Connect-AzAccount returns this warning before opening browser for auth:

The user (and that folder) it is referencing _has never existed on this machine_, ever. It only existed on my old home computer. I have reinstalled the Az modules and PoSh 7 itself, but something, somewhere, is

[2021-11-28 14:54] dingmeng-xue commented on #16507
Thank you for your reporting. Tagging and routing to the team member best able to assist.

[2021-11-28 14:55] dingmeng-xue commented on #16508
Thank you for your reporting. Tagging and routing to the team member best able to assist.

[2021-11-28 14:55] dingmeng-xue commented on #16509
Thank you for your reporting. Tagging and routing to the team member best able to assist.

[2021-11-28 15:08] dingmeng-xue commented on #16510
Hi @bferg317 , thanks for reporting. Below is my test result. It is very fast.

Please check 2 things in your environment.
1. Could you check `Measure-Command {Get-Module Az* -ListAvailable}`? I'd like to know the time cost of PowerShell for seeking Azure PowerShell module on your machine.
2. Azure PowerShell use %user%/.Azure as folder to store context information. So far, it is not configurable.

[2021-11-28 15:27] dingmeng-xue commented on #16506
Hi @ungurflorin , thanks for reporting. This issue should be fixed in upcoming Az.Resources. Please try the preview version https://www.powershellgallery.com/packages/Az.Resources/5.0.0-preview

Any feedback will be appreciated.

[2021-11-28 15:31] dingmeng-xue opened #16511 "[Doc]: the change of AdAppCredential is not listed on migration doc"
### Description

https://docs.microsoft.com/en-us/powershell/azure/azps-msgraph-migration-changes?view=azps-6.6.0#application-credential doesn't describe the differences between `Microsoft.Azure.Commands.ActiveDirectory. PSADCredential` and `Microsoft.Azure.PowerShell.Cmdlets.Resources.MSGraph.Models.ApiV10.IMicrosoftGraphKeyCredential` or `Microsoft.Azure.PowerShell.Cmdlets.Resources.MSGraph.Mode

[2021-11-29 03:06] dingmeng-xue commented on #14012
Handling this case by client has potential problems such as whether client needs to support transaction, whether the operation needs to be down by particular sequency.

So, technically, this scenario should be handled by service side. Service should subscribe the change of dependent services. If it is not possible, service needs to to have the capability to remove invalid setting.

Let us know if

[2021-11-29 03:11] dingmeng-xue opened #16514 "[Feature]: Support autocompleter on Set-AzContext"
### Description of the new feature

It's great that we can allow user select tenant or subscription when they input parameter on `Set-AzContext`

### Proposed implementation details (optional)

The auto completer needs to provide suggestion according to all available context in current session.

_No response_

[2021-11-29 03:19] dingmeng-xue opened #16515 "Set-AzContext doesn't support switch tenant by name"
### Description

According to the doc of Set-AzContext https://docs.microsoft.com/en-us/powershell/module/az.accounts/set-azcontext?view=azps-6.6.0, user can select context by tenant name or id. But switching context by tenant name cannot work.

### Issue script & Debug output

[code]

### Environment data

[code]

### Module versions

[code]

### Error output

_No response_

[2021-11-29 05:00] #16370 closed

[2021-11-29 09:15] Agazoth opened #16523 "New-AzDeployment and New-AzResourceGroupDeployment outputs string array not working"
### Description

When running a template deployment with an output containing a string array, the output contains an array of empty arrays.
out.bicep:
[code]
Run:
[code]
Output looks like this:
[code]

Running the json equivalent gives the same result

### Issue script & Debug output

[code]

### Environment data

[code]

### Module versions

[code]

### Error output

[code]

[2021-11-29 09:22] brwilkinson commented on #16523
Adding some more examples.. This works for other types, however it's broken for string arrays.

[code]

[code]

[2021-11-29 09:30] isra-fel commented on #15233
Should we mention the removal of Az.Blockchain in the change log of Az? Probably not.

[2021-11-29 09:35] dingmeng-xue commented on #15233
No. this module has not been included in Az.

[2021-11-29 10:49] isra-fel commented on #15233
Now we only need to hide the module on PSGallery (and Test Gallery?). Back to you @dingmeng-xue

[2021-11-29 10:51] #16104 closed

[2021-11-29 13:47] rnwhitehead commented on #15309
I'm seeing the same error when using `az storage file download`, using `--sas-token` to authenticate.

[2021-11-29 15:26] dingmeng-xue commented on #16523
@BethanyZhou , please look into this issue. We need to check whether the output can be deserialized correctly.

Its definition is https://github.com/Azure/azure-rest-api-specs/blob/88e7838a09868a51de3894114355c75929847a46/specification/resources/resource-manager/Microsoft.Resources/stable/2021-04-01/resources.json#L5182

[2021-11-29 22:58] SatishBoddu-MSFT commented on #16509
Hello @obesser Thanks for your patience on this.

Is this something that we are trying to use over here, as shown in the below image?

![image](https://user-images.githubusercontent.com/62923178/143955867-409f0e93-3287-417f-b466-bdadf7a3dcd2.png)

[2021-11-30 00:08] SaurabhSharma-MSFT commented on #16394
@Yuiheart According to [this](https://azure.microsoft.com/en-in/global-infrastructure/services/?products=functions&regions=us-central,us-east,us-east-2,us-north-central,us-south-central,us-west-central,us-west,us-west-2,us-west-3) only West Central US is not supported.

[2021-11-30 00:09] #16394 closed

[2021-11-30 00:34] SaurabhSharma-MSFT commented on #16445
@abatishchev Thanks for sharing your alternative solution.
@juergenbr FYI

[2021-11-30 02:16] BethanyZhou commented on #16523
Hi @Agazoth , @brwilkinson , I was unable to reproduce this issue in my environment. Could you help to provide more detailed information?

[code]

[code]

[2021-11-30 02:41] BethanyZhou commented on #15754
Close as https://github.com/Azure/azure-powershell/pull/16518 closed.

Following new features in  `Invoke-AzContainerInstanceCommand` will be available on 12/07/2021
    - [Breaking Change] Displayed command execution result as the cmdlet output by connecting websocket in backend
    - Added `-PassThru` to get last execution result when the command succeeds
    - Set default value for TerminalSize

[2021-11-30 02:41] #15754 closed

[2021-11-30 04:43] brwilkinson commented on #16523
Actually, the output in that view appears to be okay, however when you try to consume it in PowerShell from the output, you can see the issue.

try this for the repro:
[code]

[code]

[2021-11-30 04:50] Agazoth commented on #16523
I see both a POST and a PUT in the posted debug, but here is a fresh one that has been generated against another tenant:
[code]

As @brwilkinson points out, it is the content of $out.Outouts you have to look at. The content in $out.OutputStrings is fine, but not usable, since it a display-friendly string:
[code]

[2021-11-30 05:10] SatishBoddu-MSFT commented on #8538
Hello @adrianwells Apologies for the delayed response. I see that this issue is opened a long time ago and no further activity had taken place. So wanted to check if you are still looking for assistance on this query? Please let us know.

[2021-11-30 06:31] obesser commented on #16509
Yes, this is the scenario, not sure why it doesn't happen in your case, maybe the module version? Or something specific to my automation account?

[2021-11-30 07:08] BethanyZhou commented on #16523
Thanks @brwilkinson and @Agazoth for clarifying.

After my investigation, the `outputs` actually includes the array value. But it is unavailable directly. It can obtain by following code:
[code]
The root cause it we define Value as object while string array actually is an object[]. So the deserialization for 'Value' stops at JArray.
[code]
We are considering a proper solution for this case.

[2021-11-30 07:37] jikuja commented on #16054
updated #16231

[2021-11-30 08:03] lymedo opened #16539 "Why does Get-AzNetworkServiceTag not have parity with the weekly JSON file"
### Description

The results of Get-AzNetworkServiceTag does not have parity with the weekly JSON file

20.123.128.0/17 is included in the weekly JSON file under AzureCloud and AzureCloud.westeurope, however, the CIDR range is not returns by the Get-AzNetworkServiceTag for the westeurope location.

`
Connect-AzAccount

$serviceTags = Get-AzNetworkServiceTag -Location "westeurope"

$azCloudWest = $

[2021-11-30 10:00] Karishma-Tiwari-MSFT commented on #16507
The [doc](https://docs.microsoft.com/en-us/azure/cosmos-db/migrate-continuous-backup#check-the-migration-status) mentions -

![image](https://user-images.githubusercontent.com/20851144/144025849-0d5c472f-ec61-45fe-9635-fdddaaadeceb.png)

Please let me know if you are looking for something else.

[2021-11-30 12:16] BMichaelJ commented on #16507
Well, that is the az command and I was looking for the PowerShell one.
I have PSVersion 7.1.3 installed on intended build machine and I get this error.

"az: The term 'az' is not recognized as a name of a cmdlet, function, script file, or executable program.
Check the spelling of the name, or if a path was included, verify that the path is correct and try again"

So instead of trying to fix my bui

[2021-11-30 13:01] OfficeUnlimited commented on #16399
What is the apiversion I need to specify?

[2021-11-30 13:35] simoniscasesensitive commented on #5074
similar to @dem123-cthulu I can create a working Logic App when I grab the .definition directly from another LA, or when I store it in a variable, but as soon as I export it to text and import it again, masheen say no.

`
$ApproveLA = Get-AzLogicApp -ResourceGroupName $RGName -Name "ApproveWF"
$ApproveLADefinition = $ApproveLA.Definition ;  $ApproveLADefinition | set-content $TemplateDefinitionPat

[2021-11-30 15:10] afogarty85 opened #16542 "Az powershell: Stop-AzSynapseTrigger not working"
### Description

According to the docs: https://docs.microsoft.com/en-us/powershell/module/az.synapse/stop-azsynapsetrigger?view=azps-6.6.0

[code]

Returns this error:

[code]

### Issue script & Debug output

[code]
[code]
[code]
[code]
[code]

[2021-11-30 17:29] Agazoth commented on #16523
Thanks for clarifying, @BethanyZhou `$result.Outputs.stuff.Value.GetType()` also works, but either way it hurts my eyes and my fingers, now I have to type `$result.Outputs.stuff.Value.GetType() | ConvertFrom-Json` and not just `$result.Outputs.stuff.Value`  ;-)

Looking forward to a proper solution and thanks again for the workaround.

[2021-11-30 19:20] juergenbr commented on #16445
@abatishchev thanks for the detailed instructions!

[2021-11-30 20:11] SaurabhSharma-MSFT commented on #16183
@vnetsuppgithub Can you please look into this issue.

[2021-11-30 20:40] silverl commented on #16399
Is this the endpoint https://docs.microsoft.com/en-us/rest/api/automation/module/create-or-update

If so, I'm not sure I see any argument that specifies the target runtime.

[2021-11-30 21:02] SatishBoddu-MSFT commented on #16509
Yeah, Please check the version and modules. Make sure to use the browser without any cache issue on different login credentials.

![image](https://user-images.githubusercontent.com/62923178/144127544-ce4982cd-304b-404f-b276-28e59158a05a.png)

[2021-11-30 21:10] talalhaddad opened #16544 "Get-AzStorageContainerStoredAccessPolicy cause reference object not set to an instance error"
### Description

After setting the stored access policy from the portal with 0 permissions, getting that access policy using Get-AzStorageContainerStoredAccessPolicy will cause a reference object not set to an instance error, to reproduce:
1- set a container stored access policy with 0 permissions from the portal
![image](https://user-images.githubusercontent.com/37385101/144127962-95ac995b-20df-4

[2021-11-30 23:29] SaurabhSharma-MSFT commented on #16508
@levi106 Can you please provide more information on your scenario under which Microsoft.Capacity/appliedReservations return {"value": []} ? Are you having any reservations in your subscription ? What kind of subscription is it ?
I have tested in my subscription which does not have any reservations but I am not hitting any error.
![image](https://user-images.githubusercontent.com/38112130/144144455

[2021-12-01 00:44] Hardingsa opened #16545 "Get-AzAlertRule not producing any output"
### Description

I'm attempting to utilize the Get-AzAlertRule -ResourceGroup "xxxxx" via Azure Powershell, however I get no results or output.

https://docs.microsoft.com/en-us/powershell/module/az.monitor/get-azalertrule?view=azps-6.6.0

I only receive the following:
PS C:\Users\xxxxxx> Get-AzAlertRule -ResourceGroup "xx-xx-xx-xxxx"
WARNING: 5:35:25 PM - The namespace for all the model classes w

[2021-12-01 03:03] SaurabhSharma-MSFT commented on #16445
@abatishchev I am closing this issue for now.  Please feel free to open a new issue if you have any new queries.

Thanks
Saurabh

[2021-12-01 03:03] #16445 closed

[2021-12-01 03:34] blueww commented on #16544
@talalhaddad
Thanks for reporting this issue!
I have raised a PR to fix it: https://github.com/Azure/azure-powershell/pull/16546

[2021-12-01 05:15] nidiculageorge commented on #15976
@dingmeng-xue

Please see the output of  Get-Module Az* -ListAvailable

![image](https://user-images.githubusercontent.com/43850474/144176006-c90a0b27-83cb-4092-991c-94a0716856df.png)

![image](https://user-images.githubusercontent.com/43850474/144176045-9d688baf-e4d3-4f21-a8c0-0b6cefe8e0f6.png)

[2021-12-01 08:01] #14326 closed

[2021-12-01 08:59] BethanyZhou commented on #16082
Close this issue as Az.ContainerInstance is going to release in current milestone.

[2021-12-01 08:59] #16082 closed

[2021-12-01 09:00] obesser commented on #16509
The module versions are the same, I also tried different login credentials even though it is clearly not an authentication issue because I do get the job object.

I just did some trial and error and discovered that the issue is happening only when a runbook is running on a Hybrid Worker, when I run the same runbook "normally", there is no issue with the output.

[2021-12-01 09:19] LucasYao93 commented on #12226
@dingmeng-xue
The Sku CapacityReservation had been added for the parameter `Sku` in `Set-AzOperationalInsightsWorkspace`
https://github.com/Azure/azure-powershell/blob/main/src/OperationalInsights/OperationalInsights/Workspaces/SetAzureOperationalInsightsWorkspaceCommand.cs#L43

The Microsoft.Azure.Management.OperationalInsights version had been upgraded to 0.24.0-preview
https://github.com/Azure/

[2021-12-01 09:35] dingmeng-xue commented on #12226
Thanks. Close it now.

[2021-12-01 09:35] #12226 closed

[2021-12-01 09:39] LucasYao93 commented on #12226
Fixed in #15099

[2021-12-01 09:40] LucasYao93 commented on #12226
Fixed in #15099

[2021-12-01 10:49] MPowellFDB opened #16551 "New-AzRoleAssignment fails when used in GitHub Actions"
### Description

I'm using the Azure Powershell GitHub Action in order to deploy a Policy Definition, Policy Assignment, and Role Assignments for remediation via System-Assigned Service Principal.

The GitHub Actions workflow is as follows:

1. Checkout repo
2. Azure Login GH Action with Enable-PSSession (service principal login)
3. Deploy Definitions using New-AzPolicyDefinition
[code]

4. Deploy

[2021-12-01 12:05] himanshukgit commented on #16408
Remove all modules folders before shut down all powershell instances also remove az and Azure em modules from machine, I am getting err while removing them that they are already used so I delete all windowspowershell/modules and powershell/module inside content and reboot machine the script run fine still on local it's ok but az VMS still have issue

[2021-12-01 12:57] dingmeng-xue commented on #10671
The issue should be resolved. `Classic` is still on list because cmdlet matches its SDK and Swagger definition. It should be removed when we upgrade to new API version.

https://docs.microsoft.com/en-us/powershell/module/az.containerregistry/new-azcontainerregistry?view=azps-6.6.0

[2021-12-01 14:39] dingliu opened #16553 "Invoke-AzOperationalInsightsQuery: `-Wait` parameter is not respected when the supplied argument is larger than 100"
### Description

`-Wait` can be used to specify an upper bound on the amount of time the server will spend processing the query, as number of seconds. The details are documented [here](https://docs.microsoft.com/en-us/powershell/module/az.operationalinsights/invoke-azoperationalinsightsquery?view=azps-6.6.0) and [here](https://dev.loganalytics.io/documentation/Using-the-API/Timeouts).

However, wh

[2021-12-01 15:19] dingliu commented on #16553
A possible interim workaround is:

[code]

But the result returned from `Invoke-RestMethod` is a generic `[PSObject]` which needs extra steps to process.

[2021-12-01 17:43] SaurabhSharma-MSFT commented on #16362
@koenig-thomas
I have got confirmation internally that this is a known issue and the team is working to provide a fix which would be pushed to production in January 2022. Also, this is an issue that was caused by a bug in Swagger documentation that affected only .NET sdk and Powershell sdk. The issue isn’t there in python sdk and CLI sdk.
You can still regenerate the secondary key of the event hub

[2021-12-01 18:42] dcaro commented on #12755
We now track the list of Azure PowerShell modules in this document https://github.com/Azure/azure-powershell/blob/main/documentation/azure-powershell-modules.md

[2021-12-01 18:42] #12755 closed

[2021-12-02 01:39] dcaro commented on #16553
Thanks @dingliu for reporting this issue, we are investigating this issue.

[2021-12-02 01:45] dcaro commented on #16551
@MPowellFDB this issue could be related to latency between ARM and AzureAD.
When you face this issue, can you verify if you can find the principal reported in the error in AzureAD?
`From the logs above:      | Principal 4fdaf089fbc84cdeb464451a3316a81e does not exist in`

If this is the case, we recommend you add a [`Start-Sleep`](https://docs.microsoft.com/en-us/powershell/module/microsoft.powers

[2021-12-02 01:48] dingmeng-xue commented on #16545
Thanks for reporting. Could you turn on the debug message via `$DebugPrefence = "Continue"` and execute `Get-AzAlertRule -ResourceGroup "xx-xx-xx-xxxx"` again? It will show up the response from service.

[2021-12-02 01:50] dingmeng-xue commented on #16542
Thank you for your reporting. Tagging and routing to the team member best able to assist.

[2021-12-02 01:53] dingmeng-xue commented on #16539
Thanks for reporting. We believe this inconsistency should be resolve by service side.

[2021-12-02 02:38] Hardingsa commented on #16545
DEBUG: [Common.Authentication]: Authenticating using Account: 'xxxxxxx',
 environment: 'AzureCloud', tenant: '8f5a5a7f-3cdb-48f1-a894-351a54b84920'
DEBUG: 7:34:44 PM - [SilentAuthenticator] Calling SharedTokenCacheCredential.GetTokenAsync -xxxx', Scopes:'https://management.core.windows.net//.defa
ult', AuthorityHost:'https://login.microsoftonline.com/', UserId:'xxxxxxxxx'
DEBUG: SharedTokenCacheCr

[2021-12-02 03:25] LucasYao93 commented on #16514
Hi @dingmeng-xue,
I plan to create new attribute `AzureProfileCompleterAttribute` to implement the feature.

## Usage
`AzureProfileCompleter('subcriptionId')`
`AzureProfileCompleter('subcriptionName')`
`AzureProfileCompleter('tenant')`

What do you think ?

[2021-12-02 05:43] PramodValavala-MSFT commented on #16542
@afogarty85 While a different cmdlet, the same error is seen for the `Start-AzSynapseTrigger` cmdlet as discussed in #16368. The [workaround](https://github.com/Azure/azure-powershell/issues/16368#issuecomment-975110601) should work I believe since the error is from deserializing the response.

@wonner Could you confirm if the service side fix would cover this as well?

[2021-12-02 06:07] wonner commented on #16542
Thank you @PramodValavala-MSFT , you are right.
@afogarty85 Sorry for your inconvenience. Could you please try to run the above script as a temporary workaround?

I will close this issue and track it in https://github.com/Azure/azure-powershell/issues/16368, since it's the same problem, thank you.

[2021-12-02 06:07] #16542 closed

[2021-12-02 06:11] wonner commented on #16368
Hi @KranthiPakala-MSFT , customers meet the same problem when running Stop-AzSynapseTrigger. https://github.com/Azure/azure-powershell/issues/16542
Please make sure the fix will cover it as well, thank you!

[2021-12-02 07:48] BethanyZhou commented on #16523
Hi @Agazoth , sorry for inconvenience.

We are improving the display of $result.Outputs with correct indentation first:
![image](https://user-images.githubusercontent.com/19869716/144365806-afd120dd-a08b-4c57-ac5a-4a3623b4d6e5.png)
![image](https://user-images.githubusercontent.com/19869716/144365813-294e780a-6004-4631-a2e1-9fe6fdc3e476.png)

For the values of $result.Outputs.stuff and $result.Out

[2021-12-02 08:44] levi106 commented on #16508
@SaurabhSharma-MSFT
There are two types of subscriptions: one that gives the same result as yours, and one that returns `{ "value": []}`. I don't know the difference between the two. What should I look for?

[2021-12-02 11:11] ramchandra-bhate commented on #16408
Thank you @dingmeng-xue, by using version <=2.5.3 for az.account, issue does not occur.

[2021-12-02 11:28] MPowellFDB commented on #16551
You're absolutely right @dcaro. Added a 30 second sleep and the pipeline now works fine

[2021-12-02 11:28] #16551 closed

[2021-12-02 13:59] manimerz commented on #16067
Hi, we have the following issue:
DevOps Pipelines are deploying our artefact via Azure Powershell. The connection is provided by the Azure Resource Manager.
Since the disabling of AAD Graph API Permissions we have issues with the deployment process, we added the permissions manually according to the instructions, however the issue persists, all releases fail either because of insufficient permissi

[2021-12-02 14:12] dingmeng-xue commented on #16067
Hi @manimerz , I cannot get the detail steps about "connection provided by ARM". Since it is related to permission, could you share more information by email? You can find my email on my profile.

[2021-12-02 17:23] Lddeiva opened #16565 "Get-AzSynapseWorkspace command doesn't show the 'publicNetworkAccess' property"
### Description

The command `Get-AzSynapseWorkspace` doesn't show the property `publicNetworkAccess`. The property can be seen when using az cli `az synapse workspace list`.

Below is the output when I use `Get-AzSynapseWorkspace -WorkspaceName 'synapseworkspacename`.

[code]

<br />

Below is the output when I use `az synapse workspace list`.
[code]

[2021-12-02 17:26] yordanbechev opened #16566 "Set-AzVMExtension, parameter "Location" returns error when empty/not used"
### Description

Set-AzVMExtension has parameter location which is not mandatory (similar to the alternative in Bash). This is also as per the documentation and Get-Command ouput:

PS /home/yordan> ((Get-Command -Name Set-AzVMExtension).ParameterSets).Parameters | Where-Object -FilterScript {$_.Name -like "Location"}

Name                            : Location
ParameterType                   : Sys

[2021-12-02 17:37] gayatriramac commented on #16565
Wanted to be on a loop for this issue

[2021-12-02 17:39] rupradha97 commented on #16565
facing same issue

[2021-12-02 19:40] shareonline commented on #6550
Well yes it works, but the awful performance of this is really not great..
To improve performance (by alot), i also use the rest api where possible. But this requires a lot of extra code, and then i could just as well write it in C# instead..

Powershell should be easy, quick and forgiving. C#/.NET directly when you want something more..

[2021-12-02 20:00] JustinGrote commented on #6550
I mean, how else would you propose? The AzureAD API doesn't have any kind of "searchallsubscriptions" flag so it's just going to be a repeated query to each subscription no matter what.

[2021-12-02 20:00] YogiPanchanathan commented on #16353
Hi dingmeng-xue, as Mentioned in the chat. after using the engineering build, i am getting the below error.

Cannot find the 'Export-AzResourceGroup' command. If this command is defined as a workflow, ensure it is defined before the workflow that calls it. If it is a command intended to run directly within Windows
PowerShell (or is not available on this system), place it in an InlineScript: 'Inlin

[2021-12-02 20:05] JustinGrote commented on #6550
Definitely seems like a `-Subscription` parameter for all command would be the easiest way to go, since batch API queries support specifying an array of subscription GUIDs
![image](https://user-images.githubusercontent.com/15258962/144494667-41a3fd42-ef5d-4422-a710-288d0b4343ed.png)

[2021-12-02 21:30] shareonline commented on #6550
Yeah if batch requests could somehow be included as options where they exist in the Api's this would be alot of help..

[2021-12-02 23:10] ScriptWeez commented on #13168
Unfortunately I still cannot run `Set-AzVMBootDiagnostic -VM $VM -Enable` without the `-ResourceGroupName` argument. It will default to the diagnostic account otherwise. This is on `Az.Compute v4.20.0`

[2021-12-03 00:29] gfree76 commented on #16368
@wonner, thanks! That workaround unblocked me.

@KranthiPakala-MSFT, Is there an ETA for when this will be fixed?

[2021-12-03 00:39] Ayanmullick commented on #13168
[code]
This will work only if there is no storage account details in the `PSVirtualMachine` object.

[2021-12-03 03:16] Ayanmullick opened #16567 "Configure Azure Functions Continuous delivery by using GitHub Action using PowerShell"
### Description of the new feature

Azure Functions continuous delivery for GitHub Actions is currently unsupported for PowerShell. One should be able to configure GitHub actions for Azure Functions using PowerShell [like one can using the Azure Portal](https://docs.microsoft.com/en-us/azure/azure-functions/functions-continuous-deployment). This is a continuation of the issue below.
https://github

[2021-12-03 06:12] isra-fel opened #16568 "[Eng]: Smoke test improvements"
### Description

## Reliability

Sometimes smoke test may fail to a 503 or timeout of an Azure API. We may consider adding retry for every test case to improve reliability.

PSGallery is also a main fact that smoke test fails.

## Coverage

We are now testing PowerShell 6.2; 7.0 and 7.2. We should consider adding 7.1 and removing 6.2.

## Performace

Smoke test pipeline clones the whole azure-powe

[2021-12-03 07:34] blevenson-kcare commented on #13579
Still appears to be an issue. @Viajaz, @avirishuv , any update?

[2021-12-03 08:01] #16372 closed

[2021-12-03 10:51] CCostaT opened #16572 "New-AzStreamAnalyticsJob doesn't support creating and instance using managed identities"
### Description

Version 6.0.0 introduced a breaking change to New-AzStreamAnalyticsJob so that it longer accepts the "-File" parameter and all input are specified in flattened parameters instead from the input file.

However, there's now no way to create a new Stream Analytics Job that uses system managed identities for authentication. I'm specifically refering to adding a parameter similar to **

[2021-12-03 15:24] yurych opened #16573 "[Feature]: Add a parameter to allow changing API version for Az powershell commands"
### Description of the new feature

It seems not all Azure environments support API versions that are internally used by Az powershell commands.
It would be helpful to have a command line parameter to override the default API version.
Please see [this stack overflow question](https://stackoverflow.microsoft.com/questions/285048) for more details.

### Proposed implementation details (optional)

_N

[2021-12-03 15:31] dingmeng-xue commented on #16566
Thanks for reporting. We believe this inconsistency should be resolve by service side. I reply team member to look into it further.

[2021-12-03 15:36] dingmeng-xue commented on #16572
Thanks for reporting. We believe this inconsistency should be resolve by service side. I reply team member to look into it further.

[2021-12-03 15:43] dingmeng-xue commented on #16573
Thanks for reporting. API version cannot be changed because the input and output vary across API versions. It makes deserialization and serialization impossible. The workaround is user can use Invoke-AzRestMethod to manage resource using expected API version.

Regarding question asked on Stackoverflow, it should be a bug in service module. It should not expose unsupported API version. Please creat

[2021-12-03 16:25] JamesDLD opened #16575 "[Feature]: Set-AzAksCluster to update a cluster's API server authorized IP ranges"
### Description of the new feature

The objective here is to update an AKS cluster's API server authorized IP ranges with **PowerShell** through the module [Az.Aks](https://www.powershellgallery.com/packages/Az.Aks).

To update the API server authorized IP ranges on an existing cluster, we can use [az aks](https://docs.microsoft.com/en-us/azure/aks/api-server-authorized-ip-ranges?WT.mc_id=DOP-MVP-

[2021-12-03 17:13] ScriptWeez commented on #13168
That is too bad. There should be an argument that allows the selection of the managed storage account. Otherwise, this cannot be automated (if a storage account exists).

[2021-12-03 21:02] afogarty85 commented on #16368
Thanks for the code! If I try this, I get this result, but my trigger will not turn from stopped to start. Results:

Command sent:

[code]

[code]

[2021-12-04 07:27] SatishBoddu-MSFT commented on #16566
Hello @yordanbechev Thanks for reporting this issue.

We see that the parameter is optional as per the document, but the command throws the error **"Set-AzVMExtension: 'Location' cannot be null."**

![image](https://user-images.githubusercontent.com/62923178/144701516-c85da8ec-0d88-49b2-b9de-3c9071d5b56f.png)

![image](https://user-images.githubusercontent.com/62923178/144701520-3ae5a74d-df8b-4774

[2021-12-05 03:25] Ayanmullick commented on #13168
@ScriptWeez , I had requested to add a parameter set and document it in the [cmdlet reference](https://docs.microsoft.com/en-us/powershell/module/az.compute/set-azvmbootdiagnostic?view=azps-6.6.0#examples). Awaiting response.

[2021-12-05 08:01] #9751 closed

[2021-12-05 19:10] jaspkaur28 commented on #10404
@SatishBoddu-MSFT Automation team has given a workaround for the issue. Please try and confirm.

[2021-12-06 02:38] #16357 closed

[2021-12-06 02:39] #16317 closed

[2021-12-06 02:39] #16316 closed

[2021-12-06 02:41] #16315 closed

[2021-12-06 08:01] #16375 closed

[2021-12-06 08:50] isra-fel opened #16581 "[Eng]: clear MinimalVersion.csv after version bump up"
### Description

The content of [`MinimalVersion.csv`](https://github.com/Azure/azure-powershell/blob/main/tools/VersionController/MinimalVersion.csv) is useless after version bump up. To avoid misleading information, we should clear it.

### Suggested Implementation Details

- Clear the data entries in the csv file, keep the title row
- Clear the file automatically, as the last step of the versio

[2021-12-06 09:18] himanshukgit commented on #16408
@dingmeng-xue if you install az.azccounts 2.5.3 or less then other az modules are getting error like they are not found and eventually we have to install latest az so the error is still present

[2021-12-06 13:07] Karishma-Tiwari-MSFT commented on #16507
Thanks for sharing the details.

Can you please confirm the version of Azure CLI you have?
-If you don’t have CLI, [install](https://docs.microsoft.com/en-us/cli/azure/) the latest version of Azure CLI or version higher than 2.26.0.
-If you already have Azure CLI installed, use az upgrade command to upgrade to the latest version.
-Alternatively, user can also use Cloud Shell from Azure portal.

[2021-12-06 14:12] dingmeng-xue commented on #16567
Thanks for reporting. We are asking owner team to provide insight.

[2021-12-06 15:31] J0F3 opened #16582 "Remove-AzPolicyExemption ignores -Confirm:$false"
### Description

When `Remove-AzPolicyExemption` is run with `-Confirm:$false` the cmdlet still ask for confirmation. This is not expected. In additional this cmdlet behaviors also differently than the other Policy cmdlets e.g `Remove-AzPolicyAssignment`.

If `-Confirm:$false` is specified the cmdlet should not ask for confirmation anymore.

### Issue script & Debug output

[code]

### Environment

[2021-12-06 16:32] andylholloway commented on #15618
Hi
I seeing the same issue. All our automation scripts make use of [CmdletBinding(SupportsShouldProcess)], and support WhatIf.

If I run the following command:
[code]
I would expect the command to output what it will do e.g. restore the database to the target name: $TargetDatabaseName

But what actually happens is the database is restored, as if the `-WhatIf` switch was not provided.

Name

[2021-12-06 16:33] SaurabhSharma-MSFT commented on #16486
@tmmjelde We are looking into it and get back to you.

[2021-12-06 18:44] kenieva commented on #15449
Hi fidelcasto, can you confirm that this is still an ongoing issue?

[2021-12-06 19:04] justinokay commented on #10871
@dedbit
I'm having the exact same issue. Can you please share your input uri reference with the script path? It should look something like this.

`"url": "[uri(parameters('_artifactsLocation'), concat('../path/to/some/script.ps1', parameters('_artifactsLocationSasToken')))]",`

[2021-12-06 21:30] mattboothman commented on #10645
Any update? Has it been 2 _years_?

[2021-12-06 22:04] dedbit commented on #10871
@justinokay : It might not be too easy to read, but I created an array named "runbookScripts" in the variables section for defining my script files. Under resources I added a runbooks resource that loops over the "runbookScripts" and creates the runbooks one by one. My problem weren't the syntax of the ARM code, but rather that one of the files in the array didn't exist and that the error message

[2021-12-07 00:15] brwilkinson opened #16586 "disable send-azpredictorrating in results az.tools.predictor"
### Description

I was wondering what is the setting to disable this?

![image](https://user-images.githubusercontent.com/3605266/144942941-8f08f251-6a08-4c77-96f1-173032c25d3e.png)

### Script or Debug output

_No response_

### Environment data

_No response_

### Module versions

_No response_

### Error output

_No response_

[2021-12-07 01:12] Francisco-Gamino opened #16587 "[FunctionApp creation] Remove Preview flag from PowerShell on Linux function apps in V4"
### Description

N/A

### Issue script & Debug output

[code]

### Environment data

[code]

### Module versions

[code]

### Error output

[code]

[2021-12-07 01:13] Francisco-Gamino commented on #16587
/cc @AnatoliB @stefanushinardi @michaelpeng36 @apawast

[2021-12-07 01:18] #16490 closed

[2021-12-07 01:18] Francisco-Gamino commented on #16487
This issue has been fixed.

[2021-12-07 01:18] #16487 closed

[2021-12-07 01:18] Francisco-Gamino commented on #16426
This issue has been fixed.

[2021-12-07 01:18] #16426 closed

[2021-12-07 01:19] Francisco-Gamino commented on #14442
This issue has been fixed.

[2021-12-07 01:19] #14442 closed

[2021-12-07 01:19] Francisco-Gamino commented on #16383
This issue has been fixed.

[2021-12-07 01:19] #16383 closed

[2021-12-07 01:19] Francisco-Gamino commented on #15430
This issue has been fixed.

[2021-12-07 01:19] #15430 closed

[2021-12-07 01:19] Francisco-Gamino commented on #14633
This issue has been fixed.

[2021-12-07 01:19] #14633 closed

[2021-12-07 01:21] Francisco-Gamino commented on #15361
This issue has been fixed. For more information, please see https://github.com/Azure/azure-powershell/pull/16494.

[2021-12-07 01:21] #15361 closed

[2021-12-07 01:36] SaurabhSharma-MSFT commented on #16475
@davecader I am not getting while running the runbook.
![image](https://user-images.githubusercontent.com/38112130/144949647-a217aaca-cab5-4198-ba29-78b8a66fa957.png)
**Results:**
![image](https://user-images.githubusercontent.com/38112130/144949562-69af45c7-2020-48eb-820d-fcc0d7a101cb.png)

Please note that `Get-AutomationConnection` is used in runbooks only as it is an internal cmdlet available

[2021-12-07 01:49] SaurabhSharma-MSFT commented on #16508
@levi106 My question about the subscription was more of free vs paid. Also, are you owner of both the subscriptions ?

[2021-12-07 02:50] dingmeng-xue commented on #16582
We will look into this issue.

[2021-12-07 02:53] dingmeng-xue commented on #16575
Thanks for reporting. We will evaluate this feature.

[2021-12-07 02:55] dingmeng-xue commented on #16568
In addition, we need to add more cmdlets into smoke test which module is GAed or depending on data plane. Such as AzAD cmdlets.

[2021-12-07 02:57] dingmeng-xue commented on #16565
Thanks for reporting. We believe this inconsistency should be resolve by service side. I reply team member to look into it further.

[2021-12-07 03:00] dcaro commented on #16586
@brwilkinson we introduced this in the preview but there is no setting to remove the message.  We will remove this in the upcoming preview.

[2021-12-07 03:02] dingmeng-xue commented on #16545
@Hardingsa , according to service output, the response is empty. Could you double check your alert rule? Have you added alert rule to target resource?

[2021-12-07 03:04] dingmeng-xue commented on #16511
link to https://github.com/MicrosoftDocs/azure-docs-powershell/pull/1965

[2021-12-07 03:04] #16511 closed

[2021-12-07 03:05] brwilkinson commented on #16586
Thank you @dcaro

[2021-12-07 03:14] dingmeng-xue commented on #16097
Close this issue as feature is enabled on service side.

[2021-12-07 03:14] #16097 closed

[2021-12-07 07:15] isra-fel commented on #16207
Az 7.0.0 released with Az.StackHCI 1.0.0

[2021-12-07 07:15] #16207 closed

[2021-12-07 07:17] isra-fel commented on #16466
Az 7.0.0 was released - check out https://github.com/Azure/azure-powershell/releases/tag/v7.0.0-December2021

[2021-12-07 07:17] #16466 closed

[2021-12-07 08:13] amjads1 commented on #16566
Looking into the issue.

[2021-12-07 09:42] VeryEarly opened #16592 "[Az.Resources] Incorrect alias for Get-AzADSpCredential"
### Description

Alias for Get-AzADSpCredential should be "Get-AzADServicePrincipalCredential"

### Issue script & Debug output

[code]

### Environment data

[code]

### Module versions

[code]

### Error output

_No response_

[2021-12-07 13:02] DavidHomerOxford commented on #9102
Our use case is that our software documents the configuration of an Azure tenant
https://www.centrel-solutions.com/xiaconfiguration/capabilities.aspx?capability=microsoft-azure-documentation-tool

We were looking for an option to replicate the behaviour of the UI and give users the default of documenting only visible resources but toggling an option to document all resources.

It would be great if

[2021-12-07 14:04] Cavematt commented on #15998
@miaojiang is there any updates with regards to this?

[2021-12-07 15:06] jpaulo-kumulus opened #16593 "Get-AzDataFactoryV2Dataset : Can not convert Object to String"
### Description

Get-AzDataFactoryV2Dataset fails to retrieve the information of a specific DATASET
When creating a Dataset with "Compression Type" using "add dynamic content" with parameter input "@dataset().compression"
After Saving and Publishing, if I try to run the following command it returns the Error
[code]

### Issue script & Debug output

[code]

### Environment data

[code]

### Module

[2021-12-07 15:35] JacobStruiksma opened #16594 "Creating a new static webapp fails"
### Description

When creating a new static webapp in a existsing resource group fails

### Issue script & Debug output

[code]

### Environment data

[code]

### Module versions

[code]

### Error output

[code]

[2021-12-07 16:03] amjads1 commented on #16566
@MsGabsta Could you please look into the issue?

[2021-12-07 16:52] HassanAlmanasrah opened #16595 "Issue with running Get-AZStorageUsage in Azure Stack"
### Description

https://github.com/Azure/azure-powershell/blob/main/src/Storage/Storage.Management/help/Get-AzStorageUsage.md
running the command in Azure Stack is throwing below error
Get-AzStorageUsage -Location $Location -debug
Get-AzStorageUsage: Operation returned an invalid status code 'NotFound'

comparing the URI for both AZ and AzureRM shows that Region is being used in AZ commands, even

[2021-12-07 21:27] v-Ajnava commented on #16362
cmdlets have been fixed and fix is available in the latest release.
Release link :
**MSI -** https://github.com/Azure/azure-powershell/releases
**Gallery Module for Azure PowerShell :** https://www.powershellgallery.com/packages/Az/7.0.0

[2021-12-07 21:38] SaurabhSharma-MSFT commented on #16362
@v-Ajnava Thanks for your updates.
@koenig-thomas We are proceeding ahead with the closure of this issue.  Please let us know in case you have any questions.

Thanks
Saurabh

[2021-12-07 21:38] #16362 closed

[2021-12-07 22:17] MsGabsta commented on #16566
As Satish mentioned I can see where the doc for this command states it optional for the location parameter, but when trying to use it you get the error message that it is mandatory.

Engaging @jaylabell on this.

[2021-12-08 03:18] LucasYao93 commented on #16553
Hi @dingliu
The command Invoke-AzOperationalInsightsQuery use .Net [HttpClient](https://docs.microsoft.com/en-us/dotnet/api/system.net.http.httpclient?view=net-6.0) send request. The value of `wait` not be assign to  timeout of the HttpClient. The HttpClient timeout default value is [100s](https://docs.microsoft.com/en-us/dotnet/api/system.net.http.httpclient.timeout?view=net-6.0). So cause out 10

[2021-12-08 03:29] dingliu commented on #16553
Hi @LucasYao93,

Thank you for looking at the issue.

Regarding the decision about the default timeout value that should be applied to HttpClient, I'd suggest staying aligned with the Azure Log Analytics REST API [design](https://dev.loganalytics.io/documentation/Using-the-API/Timeouts):

Thanks again.

Best,
Ding

[2021-12-08 03:39] dingliu commented on #16553
No, I take back what I suggested. Perhaps delegating the hassle to Azure Log Analytics REST API backend would be better. @LucasYao93

[2021-12-08 04:36] dingmeng-xue commented on #16553
@LucasYao93 , 100s default value is used by all management plane cmdlets. I think we need to set wait on header if the user provides the value of `wait`. Could you try it? I worry the timeout used by management plane is different from API of operationalinsightsquery.

[2021-12-08 05:52] LucasYao93 commented on #16553
I have fetched request use fiddler. The `wait` has been included in header.

[code]

We can set a timeout for the command without affecting other parts

[2021-12-08 06:48] SatishBoddu-MSFT commented on #16565
Hello @Lddeiva We are looking into this issue.

[2021-12-08 07:05] LucasYao93 commented on #16514
@dingmeng-xue
The powershell v7.2.0-preview.5 started to support parameterized argument completers.
[Issue: Support parameterized argument completers](https://github.com/PowerShell/PowerShell/issues/12708)
[powershell v7.2.0-preview.5 release notes](https://github.com/PowerShell/PowerShell/releases/tag/v7.2.0-preview.5)

So we can create  parameterized argument AzureProfileCompleter.:pensive:

We

[2021-12-08 07:25] SatishBoddu-MSFT commented on #16565
Hello all, @Lddeiva @rupradha97 @gayatriramac @SaurabhSharma-MSFT

IMHO, I think this issue is more of a feature request rather than a bug!!!

**Powershell command is not returning this property 'publicNetworkAccess':**

![image](https://user-images.githubusercontent.com/62923178/145165203-392fc6fd-15c9-428e-a09a-7ad8da7294b7.png)

**CLI command shows the property 'publicNetworkAccess':** As it is

[2021-12-08 07:37] mattboothman commented on #8348
@pvrk There's a ton of stuff missing from this module. Why not just add a notice to it, tell users where they can find something that works fully with RSV? Then just remove it.

Or

Could this be changed to allow users to request any Management Type and any Container Type (guessing this is supposed to be itemType?)?

Is AzPowershell actually still under active development? As in, are there still n

[2021-12-08 07:51] MrFly72 opened #16597 "AZ.Compute 4.21.0 throws exception on UserData when using Update-AZVM"
### Description

When using the documented way:
$vm=Get-AZVM -Name MachineName
$vm.hardwareProfile.vmSize = "Standard_B2ms"
$vm | Update-AZVM -NoWait
It throws an exception, that Userdata has to be in Base64.

### Issue script & Debug output

[code]

### Environment data

[code]

### Module versions

[code]

### Error output

[code]

[2021-12-08 08:01] #12081 closed

[2021-12-08 08:01] #10842 closed

[2021-12-08 08:01] #10722 closed

[2021-12-08 08:08] amjads1 commented on #15888
@MsGabsta Could you please look into this issue?

[2021-12-08 08:25] amjads1 commented on #14415
Thanks @vivere-dally! Yes, we will be updating the documentation to provide additional clarity. I will keep this issue open until the documentation is updated.

[2021-12-08 10:50] kent2004 opened #16599 "Connect-AzAccount failed on a 'job' (start-job) : "ClientCertificateCredential authentication failed: The system cannot find the file specified.""
### Description

I'm running job (start-job) to deployed extension on VM. The first step I do is to connect to the tenant and it failed saying he cannot find the SPN certificate "ClientCertificateCredential authentication failed: The system cannot find the file specified."

[code]

### Issue script & Debug output

[code]

### Environment data

[code]

### Module versions

[code]

### Error output

[2021-12-08 11:03] Jeej commented on #14706
Hi,

I don't want to hijack this issue, but today I wanted to debug a deployment to Azure. Something isn't set correctly and I wanted to use what is described in [this blogpost](https://azure.microsoft.com/nl-nl/blog/debugging-arm-template-deployments/).
Because AzureRM is deprecated I use the Az commands, but unfortunately I don't get the information described in the blogpost.

Is it possible tha

[2021-12-08 12:32] fidelcasto commented on #15449
It seems to work just fine now.  Thank you !

[2021-12-08 12:32] #15449 closed

[2021-12-08 13:04] #12681 closed

[2021-12-08 13:16] wsmelton opened #16601 "[Feature]: Search-AzGraph Query parameter support piping"
### Description of the new feature

`Search-AzGraph` support piping for the `-Query` parameter by pipeline property name allowing piping from `Get-AzResourceGraphQuery`.

[code]

### Proposed implementation details (optional)

Add `ValueFromPipelineByPropertyName` to the `Query` parameter definition for `Search-AzGraph`

[2021-12-08 15:16] levi106 commented on #16508
paid

The cost management reader role is assigned to the subscription where the failure occurs, but I don't know if other roles are assigned because I don't have permission to see them.

[2021-12-08 15:21] afogarty85 commented on #16368
Just wondering if anyone can verify whether or not the proposed fix actually works or if I am doing something wrong!

[2021-12-08 16:07] gfree76 commented on #16368
It's working for me. We get the same sort of response but no issues with triggers not stopping/starting

[2021-12-08 16:09] marlobello opened #16602 "Get-AzApiManagementApi does not return AuthenticationSettings"
### Description

Get-AzApiManagementApi returns a PsApiManagementApi object with null value for the AuthorizationServerId property.

**az apim api show** correctly returns the value within authenticationSettings - oAuth2 - authorizationServerId

### Issue script & Debug output

[code]

### Environment data

[code]

### Module versions

[code]

### Error output

_No response_

[2021-12-08 17:52] rymusg opened #16603 "Missing values in version 0.3.0"
### Description

After updating to 0.3.0, InstanceViewStatusCode and InstanceViewStatusMessage are no longer populated.

![image](https://user-images.githubusercontent.com/95771466/145258219-b077325f-32d2-40b2-a46f-a7454004b9e4.png)

### Issue script & Debug output

[code]

### Environment data

[code]

### Module versions

[code]

### Error output

[code]

[2021-12-08 17:59] SaurabhSharma-MSFT commented on #16508
@levi106 ok. Could you be able to check if `Microsoft.Capacity` is registered in the subscription where you are getting value as blank array? If not, can you please register using [Register-AzResourceProvider]( https://docs.microsoft.com/en-us/powershell/module/az.resources/Register-AzResourceProvider?view=azps-7.0.0&viewFallbackFrom=azps-4.4.0) and try again.

Thanks
Saurabh

[2021-12-08 18:02] brwilkinson commented on #16523
we only have these supported types in bicep.

https://docs.microsoft.com/en-us/azure/azure-resource-manager/bicep/data-types#supported-types

Within a Bicep, you can use these data types:

- array
- bool
- int
- object
- ~~secureObject - indicated by modifier in Bicep~~
- ~~secureString - indicated by modifier in Bicep~~
- string

Only the array appears not to be working at the moment. I guess the

[2021-12-08 18:45] brianlehr commented on #15574
Hello again, it's been quite a few months.  @jaylabell - what is eta for this?  it seems like a very straightforward and simple change, it's just adding text notification at time of VM creation.

[2021-12-08 19:01] JacobStruiksma commented on #16594
When adding the repositoryurl with the value $null the static webapp could succesfully be created
[code]

[2021-12-08 21:10] Phillip-007 commented on #4365
@DiSae it seems you're right. -scope doesn't work (anymore), but there is a simple solution:
`Get-AzRoleDefinition  -Custom` gives you all custom roles.
Which makes the comment "_will be a security concern_" not true.
`$RoleId=$(Get-AzRoleDefinition  -Custom | ? {$_.Name -eq "Rolename"} | % {$_.id}) ` will give you the id, if it exists.

[2021-12-08 22:30] SaurabhSharma-MSFT commented on #16475
@davecader Following up to see if you are still having this issue.

Thanks
Saurabh

[2021-12-08 22:33] SaurabhSharma-MSFT commented on #16413
@vivere-dally We are proceeding with the closure of this issue as we are working internally to get the documentation updated with the correct PowerShell version.  Please feel free to open a new issue if you have any other questions.
@asergaz Appreciate your help on this issue.

Thanks
Saurabh

[2021-12-08 22:33] #16413 closed

[2021-12-08 22:35] SaurabhSharma-MSFT commented on #16572
@CCostaT Thanks for reporting. We are checking internally on this issue and get back to you.

Thanks
Saurabh

[2021-12-08 22:52] Bpoe commented on #16298
This issue is still present with the new v3.0 version of the Az.OperationalInsights module.

[2021-12-09 02:43] bganapa commented on #16595
This is being followed up internally.

[2021-12-09 04:22] YogiPanchanathan commented on #16353
try
{
if(!(Get-InstalledModule Az -RequiredVersion 6.4.0 -ErrorAction SilentlyContinue))
    {
        Install-Module Az -RequiredVersion 6.4.0 -Scope CurrentUser -AllowClobber -Confirm:$false -ErrorAction Stop -SkipPublisherCheck -Force
    }
    else
    {

        Write-Output "Az module version 6.4.0 is already installed"
    }

    if (!(Get-InstalledModule -Name Az.Accounts -RequiredVersion

[2021-12-09 04:51] BethanyZhou commented on #16523
Hi @brwilkinson ,

There is no difference between the json array and the string array implementation. For both json array and string array, we take them as JArray.

[code]

[2021-12-09 05:03] BethanyZhou commented on #16523
@brwilkinson I agree with your guess that the array can contain ANY other types. But it's hard to iterate over the elements in the array as many types may be applied to one element.

I think it should be a limitation of Newtonsoft.Json.Linq.JArray. As when we try to get the value of JArray, the behaviors of json array and the string array are different.

PS C:\AzurePowershell\azure-powershell\arti

[2021-12-09 06:26] wonner commented on #16368
Hi @afogarty85, could you please check if you under live mode?
![image](https://user-images.githubusercontent.com/22408725/145342380-52797223-b267-40d9-bd99-5244db3557f6.png)
It should work if return with 200.

[2021-12-09 07:53] levi106 commented on #16508
It's already registered.

<img width="889" alt="image" src="https://user-images.githubusercontent.com/16788901/145355786-d6443cf4-cf79-4726-bda6-85637796ef2b.png">

[2021-12-09 08:04] amjads1 commented on #16041
@dingmeng-xue - Can you please respond to earlier comment so that we can work towards closure of this item?

[2021-12-09 08:08] dingmeng-xue commented on #16602
Thanks for reporting. We believe this inconsistency should be resolve by service side. I reply team member to look into it further.

[2021-12-09 09:01] PramodValavala-MSFT commented on #16602
@marlobello Thanks for reporting this! I can confirm the same behavior. We will work with the concerning team to get this addressed.

[2021-12-09 09:03] talalhaddad commented on #16544
@blueww thank you for the update.

I updated the modules and it is working when the storage is a normal storage, we had a similar error when the access policy has an empty start/end dates:

ModuleType Version    Name                                ExportedCommands
---------- -------    ----                                ----------------
Script     2.7.0      Az.Accounts                         {A

[2021-12-09 10:24] blueww commented on #16544
@talalhaddad
Thanks for reporting this issue!
As the 2 issues might has different root cause, would you like to open a new issue for better track?

BTW, this looks more like a .net SDK issue instead of Powershell code issue, since I can repro it with only .net SDK (Azure.Storage.Blobs.12.11.0-beta.2) ,by run ` BlobServiceClient.GetAccessPolicy()` on a container which has an Access policy with perm

[2021-12-09 15:06] dingmeng-xue commented on #15233
Removed.

[2021-12-09 15:06] #15233 closed

[2021-12-09 16:14] nicoride93 opened #16609 "[Doc]: https://docs.microsoft.com/en-us/powershell/module/az.imagebuilder/?view=azps-7.0.0"
### Description

![image](https://user-images.githubusercontent.com/5413171/145433256-e157f766-bb51-40cd-9775-3cbd859f2d20.png)
There are a lot of "EdgeOrder" in the reference dropdown on the side

[2021-12-09 18:09] allencasteran opened #16612 "Set-AzSqlServerActiveDirectoryAdministrator not passing api-version in AD lookup"
### Description

Calling Set-AzSqlServerActiveDirectoryAdministrator to set the AD Administrator to an AD group is failing with a "BadRequest"

Debug output shows the second REST call within the process is not including the api-version param and failing.

Testing the REST call in a browser duplicates the error.  After adding the api-version to the REST call in the browser it no longer reports the

[2021-12-09 20:04] pwouavre opened #16614 "Set-AzAdServicePrincipal can clean the App ID URI"
### Description

Hi,

Using Set-AZAdServicePrincipal to change a DisplayName Application, I was able to clean the App ID URI, that was of course not the intended behavior :

[code]

Using this way to update my ServicePrincipal, The field 'identifierUris' in my application manifest has been set to a null array.

from :
[code]

to :
[code]

There is no propertie identifierUris in a ServicePrincipal

[2021-12-09 21:22] RadoslavGatev opened #16615 "Invoke-AzRestMethod doubles ApiVersion in the final Absolute Uri"
### Description

This happens only when the `ByParameters` parameter set of `Invoke-AzRestMethod` is being used.

### Issue script & Debug output

[code]
[code]

### Module versions

[code]

### Error output

_No response_

[2021-12-09 22:04] misterfoo opened #16617 "Problem with -DefaultProfile in Az.Accounts 2.7.0"
### Description

Something seems broken in the latest version of Az.Accounts; commands that were previously working are now failing with the error shown in the debug output below. The code had been working for a long time in pipelines which showed version 2.6.2 of Az.Accounts being used by the AzurePowerShell@5 task, and stopped working at the same time that version 2.7.0 of Az.Accounts started be

[2021-12-09 22:31] MsGabsta commented on #15888
The ADE Team and I are still looking at this and in discussions.

[2021-12-09 22:45] SatishBoddu-MSFT commented on #16509
Hello @obesser Sorry for the delay in response, we are routing this issue to the Service team's attention.

[2021-12-10 02:58] ForteUnited commented on #5324
This issue has also just bit me. Even in a try catch the $_ doesn't contain the detail messages.

[2021-12-10 07:15] yanjungao718 commented on #16565
hi @Lddeiva, we're now fixing this issue, you may get the result next release at about the beginning of next January.

[2021-12-10 10:22] DavidHomerOxford commented on #13429
Any update on this? It would be good if Microsoft set a policy to ensure feature parity between UI, REST API, an PowerShell PRIOR to releasing new functionality.
At the moment everything is either broken, inconsistent, or not documented.

[2021-12-10 14:03] dingmeng-xue commented on #16615
Thanks for reporting and fix.

I should test all scenarios when finalizing the code. Sorry for inconvenience.

[2021-12-10 14:23] dingmeng-xue opened #16620 "Update-AzADServicePrincipal always needs ObjectId parameter"
### Description

`Update-AzADServicePrincipal` with service principal name parameter set cannot work as expected. It still asks `ObjectId`.

### Issue script & Debug output

[code]

### Environment data

[code]

### Module versions

[code]

### Error output

_No response_

[2021-12-10 14:29] dingmeng-xue commented on #16617
Thanks for reporting. @msJinLei , please look into this issue. Is it due to secret is not merged into context when context is passed in as parameter

[2021-12-10 15:56] wonderphil commented on #11610
Well, that's just like Microsoft, forcing us to use the new versions of something but not actually make it backwards compatible.
I have a 100s of PowerShell scripts that are changing data in cosmos and have been told to move over to Powershell Az and the workaround is using rest API's, lets make it hard for people.

Is there any update to creating PowerShell cmdlets across our data plane api, seem

[2021-12-10 16:15] markjbrown commented on #11610
It's unlikely we will create PS cmdlets for our data plane.

Can use this as an alternative though. Not supported by MS however, https://github.com/PlagueHO/CosmosDB

[2021-12-10 16:16] wonderphil commented on #11610
Thanks @markjbrown that looks a lot better then using the rest apis

[2021-12-10 22:26] SaurabhSharma-MSFT commented on #16572
@CCostaT You’re correct in that the `New-AzStreamAnalyticsJob` cmdlet doesn’t support the file parameter anymore, but `New-AzStreamAnalyticsInput` does.

So, you need to create the job first and then use this [New-AzStreamAnalyticsInput](https://docs.microsoft.com/en-us/powershell/module/az.streamanalytics/new-azstreamanalyticsinput?view=azps-7.0.0) command to corelate the input to the job.
You ca

[2021-12-11 00:13] dingmeng-xue commented on #16593
Thanks for reporting. We believe this inconsistency should be resolve by service side. I reply team member to look into it further.

[2021-12-11 00:13] dingmeng-xue commented on #16597
Thanks for reporting. We believe this inconsistency should be resolve by service side. I reply team member to look into it further.

[2021-12-11 00:16] dingmeng-xue commented on #16609
Thanks for reporting. This issue is fixed.

@isra-fel please link this issue to pull request.

[2021-12-11 00:18] dingmeng-xue commented on #16612
Thanks for reporting. We believe this inconsistency should be resolve by service side. I reply team member to look into it further.

[2021-12-11 00:20] dingmeng-xue commented on #16601
@dolauli , Please look into it.

[2021-12-11 00:21] dingmeng-xue commented on #16614
@VeryEarly , please look into this question. Can it be supported by the latest version of Az.Resources?

[2021-12-11 00:24] dingmeng-xue commented on #16599
@bganapa , the user is using Az 1.10.0. Could your team reproduce the issue?

[2021-12-11 00:33] bganapa commented on #16599
@kent2004 couple of queries.
1. Is the issue happening only when you do it with start-job?
2. Are you able to repro the issue against AzureCloud with the module versions you are using?
Thanks for reporting!

[2021-12-12 08:01] #13350 closed

[2021-12-12 10:37] Lddeiva commented on #16565
Hi @yanjungao718 , Thank you. I'll test this once I get the new version.

[2021-12-12 15:19] olalavi commented on #13429
+ @Yair ***@***.***>, @Liad ***@***.***> - current owners to comment
Also can we find a way to reassign the issue?

Thank you.
Ola

From: David Homer ***@***.***>
Sent: Friday, December 10, 2021 12:22 PM
To: Azure/azure-powershell ***@***.***>
Cc: Ola Lavi ***@***.***>; Assign ***@***.***>
Subject: Re: [Azure/azure-powershell] Get-AzActivityLogAlert (Az.Monitor v2.2.0) returns less information tha

[2021-12-12 16:01] azmonALERTS commented on #13429
Reassigned to Adi and to myself

From: olalavi ***@***.***>
Sent: Sunday, December 12, 2021 5:20 PM
To: Azure/azure-powershell ***@***.***>
Cc: Azure Monitor Alerts GitHub ***@***.***>; Mention ***@***.***>
Subject: Re: [Azure/azure-powershell] Get-AzActivityLogAlert (Az.Monitor v2.2.0) returns less information than API (#13429)

+ @Yair ***@***.***<mailto:***@***.***>>, @Liad ***@***.***<mailto:*

[2021-12-13 06:48] #16609 closed

[2021-12-13 08:01] #11029 closed

[2021-12-13 08:38] BethanyZhou commented on #15876
Hi @ChristopherGLewis , this issue has been fixed in Az.Resources>=4.4.0. I saw you were using Az.Resources 4.3.1. Could you please upgrade your Az.Resources and have a try?

[2021-12-13 09:27] waltervos commented on #16617
I'm experiencing the same issue, it seems. My code is:
[code]

This is some often copy-pasted code that is used to retrieve an access token in Azure Pipelines. Is there a workaround for this?

[2021-12-13 09:33] dingmeng-xue commented on #16617
Hi @waltervos ,

Azure PowerShell team minimizes breaking change based on cmdlet signature. If the user call internal lib and methods, we cannot ensure it always works.

For your case, I believe you need to create a new Azure environment and login with your account. https://docs.microsoft.com/en-us/powershell/module/az.accounts/add-azenvironment?view=azps-7.0.0

[2021-12-13 10:18] waltervos commented on #16617
Thanks @dingmeng-xue, sounds like my team should be adhering to "don't call internal lib and methods" :). My use case to obtain the access token, which I found out is trivial to do by just calling `Get-AzAccessToken` and using the Token attribute of the returned value. Thanks!

[2021-12-13 15:02] AlanFlorance commented on #13530
I think this issue may be related to the version of Newtonsoft Json thats loaded, have seen this issue when using MicrosoftPowerBIMgmt cmdlets both with AzureAD module and also Az.Accounts

Use
[Newtonsoft.Json.JsonConvert].Module

and that will show you which version is currently loaded.

The order you connect to services changes the behaviour of this.

[2021-12-13 16:00] CCostaT commented on #16572
Hi @SaurabhSharma-MSFT thanks for getting back to me.

Yes `New-AzStreamAnalyticsInput` does indeed have support but my issues isn't that the file parameter is missing. Rather is that I can't create a StreamAnalytics Job that uses a `System managed identity` using Azure Powershell.

I can create inputs/outputs using `New-AzStreamAnalyticsInput/New-AzStreamAnalyticsOutput` with a system managed ide

[2021-12-13 19:44] rchristman89 opened #16626 "Add-AzADGroupMember - Generic Error returns when member being added exists."
### Description

When a member is trying to be added to a group and already exists it returns a generic error.
It is harder to catch and skip a more specific error since the message could change.

<img width="721" alt="image" src="https://user-images.githubusercontent.com/8922086/145877147-2cc00389-aa62-4b56-ae93-2b8485b22e0b.png">

### Issue script & Debug output

[code]

### Environment data

[c

[2021-12-13 23:18] brwilkinson opened #16627 "New-AzRoleAssignment "InvalidPrincipalId" "The Principal ID 'User' is not valid. Principal ID must be a GUID.""
### Description

When using New-AzRoleAssignment with -SignInName the following exception occurs

AZ.Resources 5.1.0

[code]

The following -ObjectId works as expected, also AZ.Resources 4.4.1 works as expected

[code]
#### principalId 'user' not a guid
[code]

### Issue script & Debug output

[code]

### Environment data

[code]

### Module versions

[code]

### Error output

[code]

[2021-12-14 00:03] nathan-given-health-catalyst opened #16628 "Copy-AzStorageBlob fails when the filename is too long"
### Description

This doesn't work when using Azure Powershell:
`$blob | Copy-AzStorageBlob -DestContainer "$containerNM" -DestBlob "ABCD__DEV__Abcdefghi.AbcdefghijklmnopqrstuvwxyBASE_load20211130_175336.0001.gz"`

But it does work when using Azure Storage Explorer to copy blobs from one folder to another.

After some research, it appears that there is a limit on the number of characters for `-Des

[2021-12-14 00:14] nathan-given-health-catalyst commented on #16628
Is `copy-azstorageblob` converting my command to a put request with a blockid?
And the put request blockid has a max length of 64 bytes?

Documentation: https://docs.microsoft.com/en-us/rest/api/storageservices/put-block

(Credit to https://stackoverflow.com/questions/46997836/azure-blobstorage-400-one-of-the-request-inputs-is-out-of-range for referencing the above doc).

If this is true, how do I

[2021-12-14 00:47] dingmeng-xue commented on #16628
Thanks for reporting. We believe this inconsistency should be resolve by service side. I reply team member to look into it further.

[2021-12-14 00:49] dingmeng-xue commented on #16626
@rchristman89 , thanks for reporting. Please share the version of Az.Resources you are using.

[2021-12-14 02:51] LucasYao93 commented on #16594
Hi @JacobStruiksma,
[Here](https://docs.microsoft.com/en-us/powershell/module/az.websites/new-azstaticwebapp?view=azps-7.0.0#example-1--create-a-new-static-site-in-an-existing-resource-group--or-updates-an-existing-static-site) is eample of the New-AzStaticWebApp. The example includes how to deploy static webapp with git repo. Please try again.
Please ping me if you have any questions.

Thanks,
Lu

[2021-12-14 03:03] LucasYao93 commented on #16594
Hi @dingmeng-xue

Regarding the generated cmdlet [New-AzStaticWebApp (Az.Websites)](https://docs.microsoft.com/en-us/powershell/module/az.websites/new-azstaticwebapp?view=azps-7.0.0), some parameters are required. Because the parameters are defined as optional in swagger. Therefore, it becomes optional after generated.

Do we need to keep same with swaggers or modify them?

[2021-12-14 06:20] blueww commented on #16628
@nathan-given-health-catalyst

Thanks for reporting this issue!
I have found the root cause of the issue and have raise a PR to fix it. https://github.com/Azure/azure-powershell/pull/16630/

Before the issue is fixed, you can use "Start-AzStorageBlobCopy" instead of "Copy-AzStorageBlob" to copy blob. This cmdlet don't have this issue.
Please note, if your source and dest blob are in same storage a

[2021-12-14 08:26] kent2004 commented on #16599
Hi @bganapa
1. Yes it only happened with start-job. In "regular" PS session it is working fine
2.As it does not appear each time, difficult to repro "in live" but I have multiple example of failure.

Thanks

[2021-12-14 11:51] JacobStruiksma commented on #16594
So the real problem is that the properties field should be in the body but does not have to contain any values:
current body that does not work:
[code]
Body that does work:

[code]

[2021-12-14 12:17] #16601 closed

[2021-12-14 12:20] dolauli commented on #16601
@wsmelton You are expected to see this change in our next release.

[2021-12-14 14:33] rchristman89 commented on #16626
@dingmeng-xue
<img width="565" alt="image" src="https://user-images.githubusercontent.com/8922086/146017955-4beea4b4-36ff-4d96-8b1f-fc8482d6225b.png">

[2021-12-14 15:57] NAD-XYZ opened #16635 "Cannot delete AzureAD Tenant"
### Description

Trying to delete an Azure tenant. Its been over a week All required checks are done. It shows a message to delete Enterprize applications. When i try to connect to azure PowerShell it shows a message that i have not authorized users to azure ad PowerShell and i am the global administrator.  Microsoft's support team has not been able to help.

how can I delete this tenant?

 **Belo

[2021-12-14 15:58] NAD-XYZ commented on #16635
@sdwheeler if you could help ? I am stuck

[2021-12-14 16:25] daalbano opened #16636 "Get-AzRecoveryServicesVaultSettingsFile fails with "Unexpected character encountered while parsing value: E. Path '', line 0, position 0""
### Description

The Unexpected character encountered while parsing value: E. Path '', line 0, position 0. on recent (including the latest) version of the Az.RecoveryServices powershell cmdlet fails with the exception

Unexpected character encountered while parsing value: E. Path '', line 0, position 0.

After doing some root causing and emulating the requests via PostMan seems that the API Versio

[2021-12-14 16:39] sdwheeler commented on #16635
I don't support the AzPS content. However, the proper command is to get a list of modules is:
[code]

cc: @mikefrobbins / @dcaro

[2021-12-14 20:34] Sandido commented on #15093
Hi @schnerring ,
Is there a particular reason you want UserData added to Set-AzVmOperatingSystem?
I don't think it is an OS value specifically.
Please let me know if the below work handles your scenario.

I recently completed work for a UserData parameter in many of our Vm, Vmss, and VmssVm cmdlets. This work was released in Az.Compute PS module [4.21.0](https://www.powershellgallery.com/packages/

[2021-12-14 22:19] mschoneman commented on #16617
We were able to work around this by changing `inputs` in our `AzurePowerShell` task in Azure DevOps :

from:
[code]
to
[code]

[2021-12-14 23:06] memard30 commented on #14293
Note that you can now use the List API to pull back timestamps including last modified time.

[https://docs.microsoft.com/en-us/rest/api/storageservices/list-directories-and-files]

[2021-12-14 23:18] SaurabhSharma-MSFT commented on #16572
@CCostaT AFAIK When you create an input with system managed identity, it gets enabled on the job automatically. I do not think you need to do it again for the job. Please let me know if that's not the case and if you are seeing issues with it.

[2021-12-15 00:08] rakku-ms opened #16639 "[Feature]: Bicep template support for AzureStack"
### Description of the new feature

New-AzResourceGroupDeployment cmdlet supports bicep template for deployment against Azure. However, this cmdlet throws below error against AzureStack

[code]

### Proposed implementation details (optional)

_No response_

[2021-12-15 00:09] rakku-ms commented on #16639
FYI, @bganapa, @sarathys

[2021-12-15 00:14] LucasYao93 commented on #16594
@JacobStruiksma,
Thanks for your information.
Body that does work:
[code]
The `location`, `sku`, `repositoryUrl` are required.
Required `repositoryUrl` property is missing in the swagger. Therefore the `repositoryUrl` is optional in the `New-AzStaticWebApp` cmdlet. We have assigned [issue](https://github.com/Azure/azure-rest-api-specs/issues/17073) to the swagger team for fix it.

[2021-12-15 00:22] justinokay commented on #10871
@dedbit

Thank you very much for the explanation. I'm following the same pattern for looping over an array of runbook scripts. For some reason this is still not working for me. I even copied the full url from blob storage script file and hard coded it as the uri value and still got the sam error. Any pointer? Appreciate the help.

example script uri: https://storageaccount.blob.core.windows.net/fo

[2021-12-15 02:52] LucasYao93 commented on #16594
Sorry, My mistake, The body must containes properties and the properties can be empty.

[2021-12-15 05:30] blueww commented on #14293
For the new List File API , we have plan to integrate it into Powershell.

[2021-12-15 06:37] veeravasantharaju commented on #8957
HI Team , I am getting below issue while doing APIM Deployment using azure devops
Cannot create API 'update-pendings-Dev' with the same Path 'updatependings' as API 'update-pendings'  unless it's a part of the same version set

[2021-12-15 13:31] AIGARSJ opened #16644 "Can't create Azure AD Application in PowerShell"
### Description

Can't create Azure AD Application in PowerShell 5.1 with New-AzADApplication cmdlet.

### Issue script & Debug output

[code]

### Environment data

[code]

### Module versions

[code]

### Error output

[code]

[2021-12-15 17:53] jasonfritts commented on #13573
Try updating Az.Resources module to the latest version which uses graph.microsoft.com instead of graph.windows.net

https://www.powershellgallery.com/packages/Az.Resources/5.1.0

[2021-12-15 17:58] SaurabhSharma-MSFT commented on #16475
@davecader Please let us know if you need any help on this, else we will proceed with the closure of this issue.

[2021-12-15 18:00] SaurabhSharma-MSFT commented on #16508
@levi106 ok. I am checking internally on this one and let you know of next steps.

[2021-12-15 20:45] jvano opened #16646 "Mark New-AzWebAppContainerPSSession as obsolete"
### Description

We are no longer recommending customers to use the Win-RM capability as we added a Web Console in the portal and in the advanced Web Console in the “Advanced Tools” section of the portal which is better and more secure option. We are planning on stop supporting the Win-RM capability in the future.

For more information on the Web Console:
https://docs.microsoft.com/en-us/azure/app

[2021-12-15 21:20] panchagnula commented on #16646
@dingmeng-xue looks like we need to deprecate this command with no replacement - what is the recommended process for this? Should we just wait for the next breaking change milestone?

[2021-12-15 22:01] ojintoad commented on #15841
We install on our Build Agents Az 6.3.0 currently.

We set up new agents recently which apparently installed Az.Accounts 2.7.0 and Az.Resources 4.3.0 which reproduces the issue as well. Older agents have 2.5.2/4.3.0 respectively which per @dingmeng-xue 's comment do indeed work correctly.

In the process of determining our preferred workaround, but as of today a standard Az 6.3.0 install produces

[2021-12-15 23:05] beroder opened #16647 "[Feature]: Add cmdlet support for appending data to existing append blobs"
### Description of the new feature

Currently, there is no way to append data to an existing append blob.  Ask is to add support for it since we have support for it in the REST API (Append Block).  REST API reference:

https://docs.microsoft.com/en-us/rest/api/storageservices/append-block

### Proposed implementation details (optional)

_No response_

[2021-12-16 00:07] ojintoad commented on #15785
Is there any possibility that there's still a bug involving times about triggers that include timezone info?

After upgrading from Az 6.3.0 -> Az 6.4.0 I'm seeing error messages like:

[code]

However, my template has the following:

[code]

The template is working with Az 6.3.0 and this date issue feels related. I also don't see any unit tests in https://github.com/Azure/azure-powershell/pull/155

[2021-12-16 00:08] dingmeng-xue commented on #16646
@panchagnula , if the deprecation is not due to bug, we should introduce the breaking change till next major release . You team can add custom attribute on that cmdlet and user will see warning message about upcoming change. https://github.com/Azure/azure-powershell/blob/main/documentation/breaking-changes/breaking-changes-definition.md#cmdlets

[2021-12-16 00:50] dingmeng-xue commented on #16647
Hi @beroder  , Please provide the link of REST API reference.

[2021-12-16 01:40] dingmeng-xue commented on #16644
@AIGARSJ , thanks for reporting. New AzAD cmdlet cannot consume that type `Microsoft.Open.AzureAD.Model.RequiredResourceAccess` which is only supported AzureAD module. You need to either use expected type `Microsoft.Azure.PowerShell.Cmdlets.Resources.MSGraph.Models.ApiV10.IMicrosoftGraphRequiredResourceAccess` or try `Add-AzADAppPermission` https://docs.microsoft.com/en-us/powershell/module/az.res

[2021-12-16 01:43] dingmeng-xue commented on #16636
Thanks for reporting. We believe this inconsistency should be resolve by service side. I reply team member to look into it further.

[2021-12-16 01:51] dingmeng-xue commented on #16626
Hi @rchristman89 , please try the latest version of Az.Resources. We believe it shows error message from service now.

[2021-12-16 02:53] blueww commented on #16647
Azure PowerShell currently doesn’t have a cmdlet to append data to an existing append blob, but user can do it by call SDK API in Powershell.

Following sample shows how to append from a file stream (the append block must <= 4MB).
[code]

We will evaluate if need a cmdlet to append block to existing blob.

[2021-12-16 05:09] #16575 closed

[2021-12-16 07:28] #16627 closed

[2021-12-16 08:46] cblackuk opened #16653 "[Feature]: Add Resource Group Name property to the output of Get-AzConnectedMachine"
### Description of the new feature

When you query for Virtual Machines using `Get-AzConnectedMachine` there is no Resource Group property returned and you need to resort to extrapolating it from ID.

Example:
[code]

The Resource Group is missing here -> https://github.com/Azure/azure-rest-api-specs/blob/main/specification/hybridcompute/resource-manager/Microsoft.HybridCompute/stable/2021-05-20/H

[2021-12-16 08:57] ghvanderweg commented on #16617
I believe this issue is caused by https://github.com/Azure/azure-powershell/pull/16449.
Any chance that could be reverted, since that PR inadvertently caused a breaking change?

[2021-12-16 09:11] dingmeng-xue commented on #16617
Hi @ghvanderweg , that breaking change is by design in Az 7.0 release. `-DefautProfile` should be covered during that change. We are fixing it.

[2021-12-16 09:16] dingmeng-xue opened #16655 "[Feature]: Improve the performance of scenario test"
### Description of the new feature

Scenario test load below all required modules and enable its AzureRM alias. For instance, below script is test of network module. `Enable-AzureRmAlias` takes relative long time. It impacts the efficiency of whole module test execution.

We need to either update test cases and remove `Enable-AzureRmAlias` or just execute `Enable-AzureRmAlias` once.

[code]

### P

[2021-12-16 09:30] afedyashov opened #16656 "New-AzRoleAssignment using ApplicationId parameter fails with"
### Description

Attempt to create role assignment with `New-AzRoleAssignment` using ApplicationId parameter results in BadRequest error.

Debug mode reveals the problem is in request body containing invalid service principal information, namely "ServicePrincipal" literal is used as both principalId and principalType. Note that previous request to fetch service principal metadata returned correct

[2021-12-16 09:53] LIYINDUO commented on #13573
I also encountered this issue “Exception of type Microsoft.Rest.Azure.CloudException was thrown”.
Azure Active Directory Graph API permission assigment feature via Azure Portal seems to be closed.
So a more manually approach is applicable for assigning this permission. Below script worked for me.
Kindly find the "object id" of the service pricinple you are using to call "New-AzRoleAssignment" in e

[2021-12-16 10:52] craiglandis commented on #16586
This broke all prediction for me, not just Az prediction. With Az.Tools.Predictor loaded I only ever see a single prediction - for **Send-AzPredictorRating**. Adding a feedback mechanism that breaks the module is not a great way to solicit feedback. :-)

I've uninstalled it for now. Since it's typically in use, I close all PS sessions and run this from CMD -

pwsh -noprofile -nologo -command Unins

[2021-12-16 11:02] Karishma-Tiwari-MSFT commented on #16507
Since this is resolved here : https://github.com/MicrosoftDocs/azure-docs/issues/84451
I will now close this issue. Thanks for bringing this to our attention.

Solution for reference for others :
The "BackupPolicy" object from the "Get-AzCosmosDBAccount -ResourceGroupName {resourceGroupName} -Name {databaseAccountName}" command shows the type of backup mode supported by the account. However, this

[2021-12-16 11:02] #16507 closed

[2021-12-16 11:52] dingmeng-xue commented on #13573
You also can use the latest version of Az.Resources 5.x. All related features are migrated to MSGraph API.

[2021-12-16 15:09] ruankr opened #16659 "Unable to create new Application using New-AzAdApplication"
### Description

Previously, we created AD applications using the simple command:
New-AzAdServicePrincipal -DisplayName $spnName -StartDate $(Get-Date).AddDays(-1) -EndDate $(Get-Date).AddYears(100)

This in turn would create an Azure AD Application and Azure AD Service principal, with user_impersonation exposed API's and a secret on the application. We would then use this to grant restricted acce

[2021-12-16 18:17] JustinGrote opened #16662 "[Feature]: Get-AzStorageShareStatistics"
### Description of the new feature

Need to get file share statistics, especially ShareUsageInBytes, to quickly assess share sizes.

This is visible in Azure storage explorer:
![image](https://user-images.githubusercontent.com/15258962/146426713-9605ddb2-be24-4523-90f0-ea84133af61a.png)

### Proposed implementation details (optional)

Should Call this API
https://docs.microsoft.com/en-us/rest/api/

[2021-12-16 20:38] bferg317 commented on #16510
[code]

[code]
What do you mean by `%user%\.Azure`? It is definitely not user as in the context the shell is running under, because again the user it is referencing only exists on my old machine presently sitting 6 feet away on my office floor without a CPU in it. The user it is referencing was my local admin elevation account on that computer. My present machine does not have any account by that

[2021-12-16 23:51] qingshanJBHIFI opened #16663 "ARM template deployment didn't report error when adding azure sql database LTR policy if the db auto-pause enabled"
### Description

we have a azure sql database using the serverless tier in UAT, and the auto-pause is enabled; the prod is using Business critical tier. I set up in the ARM template to deploy the backup long term retention policy differently for each environment. This is I set for UAT:
[code]
I deployed to UAT with `New-AzResourceGroupDeployment`, it indicates the deployment succeed, but I can't s

[2021-12-17 00:37] SaurabhSharma-MSFT commented on #16572
@CCostaT Please let me know if you still have any questions, else we will proceed with the closure of this case.

Thanks
Saurabh

[2021-12-17 01:28] brwilkinson commented on #16586
@craiglandis what pwsh version are you on and which version of psreadline do you have installed?

[2021-12-17 03:41] blueww commented on #16662
Powershell already support it with management plane cmdlet "Get-AzRmStorageShare",  see detail in https://docs.microsoft.com/en-us/powershell/module/az.storage/get-azrmstorageshare?view=azps-7.0.0#example-4--get-a-storage-file-share-with-the-share-usage-in-bytes

[2021-12-17 03:52] JustinGrote commented on #16662
Totally missed it, thank you!

[2021-12-17 03:52] #16662 closed

[2021-12-17 05:02] craiglandis commented on #16586
PS 7.2.1,  Az.Tools.Predictor 0.5.0

[2021-12-17 05:34] brwilkinson commented on #16586
Script     2.2.0      beta4      PSReadLine     ?

[code]

Is this what you have?

[2021-12-17 05:55] BethanyZhou opened #16666 "[Az.Functions] The docs of cmdlets which are not included in functionsToExport list show up"
### Description

Move-Az and Test-Az in Az.Functions are not included in the list of functionsToExport. So Az.Functions.psd1 don't expose them to customer.
![image](https://user-images.githubusercontent.com/19869716/146496295-5110814b-284a-4151-b4dc-61e6f2f2ada8.png)
https://github.com/Azure/azure-powershell/blob/0620ae913953b155ab92ae4c0371735c7f48c4e2/src/Functions/README.md?plain=1#L107:L123

T

[2021-12-17 06:17] dingmeng-xue commented on #16510
Hi @bferg317 , Azure PowerShell creates/loads files from UserProfile supported by Dotnet standard https://docs.microsoft.com/en-us/dotnet/api/system.environment.specialfolder?view=net-6.0#fields. It's not appropriate location but it is not easy to change due to giant customer base.

Could you try below code in PowerShell? I'd like to know your environment setting.
[code]

[2021-12-17 06:19] BethanyZhou commented on #16666
`functionsToExport` in directive only exports specified cmdlets in Az.*.psd1. For these hided cmdlets, their docs and scripts still generated in docs and export folder. We may needs to remove them.

Created another issue in autorest.powershell to ask for enhancement of `functionsToExport`: https://github.com/Azure/autorest.powershell

[2021-12-17 07:17] BethanyZhou opened #16667 "[Az.Migrate] Missing examples in help markdown"
### Description

We detected some examples are missing from the help markdown for following cmdlets:

Get-AzMigrateReplicationEligibilityResult
Get-AzMigrateReplicationProtectionIntent
Get-AzMigrateReplicationVaultSetting
Get-AzMigrateSupportedOperatingSystem
New-AzMigrateReplicationProtectionIntent
New-AzMigrateReplicationVaultSetting

### Issue script & Debug output

[code]

### Environment data

[2021-12-17 07:33] CaptainFanZzz opened #16668 "Unable to create a new Kusto Script using New-AzKustoScript"
### Description

Previously, we created Cluster and  Database
[code]
 Then using the simple command:
[code]
This in turn would warn that my cluster location is invalid. My Location is 'East US', which only contains space, so it should be succeeded.

### Issue script & Debug output

[code]

### Environment data

[code]

### Module versions

[code]

### Error output

[code]

[2021-12-17 08:01] #16476 closed

[2021-12-17 11:06] sarah026 commented on #10517
any powershell update on this plz?

[2021-12-17 15:18] thomasonsignup opened #16671 "Issue with Microsoft.Azure.Commands.ActiveDirectory.PSADPasswordCredential in 5.1.0"
### Description

In version 5.1.0 of Az.Resources I am no longer able to use the Microsoft.Azure.Commands.ActiveDirectory.PSADPasswordCredential object to create a credential object for an Azure AD App

### Issue script & Debug output

[code]

### Environment data

[code]

### Module versions

[code]

### Error output

[code]

[2021-12-17 15:26] Sandido commented on #15093
@schnerring ,
I'm going to go ahead and close this issue. The above linked Az.Compute PS release of 4.21.0 has UserData added to New-AzVm, Update-AzVm, and many other cmdlets. I think that will bring us to parity with the other workflows.
I am not convinced that Set-AzVmOperatingSystem should also have UserData,

[2021-12-17 15:26] #15093 closed

[2021-12-17 15:26] bferg317 commented on #16510
[code]

[2021-12-17 15:28] bferg317 commented on #16510
![symptom](https://user-images.githubusercontent.com/46008360/146568007-61c4251e-1a11-47d5-960d-295fd18deee5.jpg)

[2021-12-17 15:55] schnerring commented on #15093
The only thing I remember from half a year ago was that the Azure CLI (`az vm create`), Azure PowerShell and Azure Portal had a feature disparity regarding user data.

I think I made an error when copying the respective command. I think I meant `New-AzVm`, so it's fine to close this. Thanks!

[2021-12-17 18:17] ReneRebsdorf commented on #16617
FYI, it seems this only occurs when working with service principals.
For Azure Contexts originating from a 'regular user', I can not reproduce the problem.
With a service principal it is always reproducible.

[2021-12-17 18:33] ReneRebsdorf commented on #16617
This is reproducible outside of Azure DevOps by performing:

[code]

[2021-12-17 18:47] OursonBleu opened #16672 "[Doc]: Set-AzBlueprintArtifact"
### Description

Examples of use cases for Set-AzBlueprintArtifact uses New-AzBlueprintArtifact instead.

Full doc:
https://docs.microsoft.com/en-us/powershell/module/az.blueprint/set-azblueprintartifact?view=azps-7.0.0

Direct link to examples:
https://docs.microsoft.com/en-us/powershell/module/az.blueprint/set-azblueprintartifact?view=azps-7.0.0#examples

[2021-12-17 19:13] CCostaT commented on #16572
I wasn't aware of that behaviour but that does indeed work. iI I create the job and the input through Azure Portal it works as you say and the job changes to use a system managed identity.

But I still can't get this working using powershell. Here's the script and datasource.json that I'm using:

script:
[code]

datasource.json:
[code]

However, when I run this I get this error and now I'm not sur

[2021-12-17 23:50] SaurabhSharma-MSFT commented on #16593
@jpaulo-kumulus I do not see any error getting dataset with compression type using `Get-AzDataFactoryV2Dataset`.  I have also used the same 1.15.0 version.
![image](https://user-images.githubusercontent.com/38112130/146620282-730674d6-78bc-4ba1-99fd-befa5d494069.png)

[2021-12-17 23:52] ChristopherGLewis commented on #15876
Yes, confirmed to be fixed

On Mon, Dec 13, 2021 at 2:39 AM Beisi Zhou ***@***.***> wrote:

--
Christopher G. Lewis
http://www.ChristopherLewis.com <http://www.christopherlewis.com/>

[2021-12-20 01:26] dingmeng-xue commented on #16656
Thanks for reporting. We will look into it.

[2021-12-20 01:35] dingmeng-xue commented on #16663
Thanks for reporting. Please share us the debug log. You can turn on it via `$DebugPreference = "Continue"` before `New-AzResourceGroupDeployment`. The log of deployment is very big, You can share the first and last HTTP request and response and ignore others.

In addition, this sounds a service issue. It will be more efficient if you can contact MS support with log above.

[2021-12-20 01:39] dingmeng-xue commented on #16668
@CaptainFanZzz , `East US` is display name of `eastus`. Could you try script again and use `eastus`? If it works, it means location name instead of display name should be used.

[2021-12-20 01:45] dingmeng-xue commented on #16671
Thanks for reporting. That type is changed when AzAD cmdlets in Azure PowerShell migrate to MicrosoftGraph API. For more detail, please reference https://docs.microsoft.com/en-us/powershell/azure/azps-msgraph-migration-changes

[2021-12-20 01:46] dingmeng-xue commented on #16659
Thanks for reporting. @VeryEarly , please look into it.

[2021-12-20 02:36] CaptainFanZzz commented on #16668
@dingmeng-xue , when creating cluster and database by using ```eastus```, it turns out to the same result.
[code]
Also, I have tried this.
[code]

[2021-12-20 03:13] #16565 closed

[2021-12-20 04:04] dingmeng-xue commented on #16617
Correct. We hide secret of SP from profile. It's the reason why it is blocked when user use profile as parameter because it doesn't contain secret. We should load secret according to profile passed in.

[2021-12-20 05:14] BethanyZhou commented on #16656
It's same with https://github.com/Azure/azure-powershell/issues/16627. Fix will be available in next Az.Resources. Date to release to Customers: 01/04/2022

[2021-12-20 05:14] #16656 closed

[2021-12-20 06:03] BethanyZhou commented on #15876
Going to close this issue. Please feel free to open if have any further question.

[2021-12-20 06:03] #15876 closed

[2021-12-20 06:09] Karishma-Tiwari-MSFT commented on #16597
Redirecting to service team as it is reproduceable.

[2021-12-20 06:53] Agazoth commented on #16523
Interestingly enough, the type in the simple array does not matter much. I ran this test:
out.bicep:
[code]
Executing like this:
[code]

Now, unpacking the value like described above, I get this:

[code]
This means that both bool and int can be converted to their original types by json conversion.

I still think the output from the deployment cmdlets should handle this conversion. It is very frust

[2021-12-20 08:47] ruankr commented on #16659
Further to this trying to use the "-ApplicationObject" parameter also seems to fail.

[code]

This produces the error:

[code]

Not able to replicate the old module behaviour at all as a result... Any help would be appreciated.

[2021-12-20 09:09] msJinLei opened #16673 "[Doc]: Az.DataMigration doesn't have the module description"
### Description

![MicrosoftTeams-image](https://user-images.githubusercontent.com/54836179/146741814-44a3e8d5-c5a7-4cdd-8cc5-4eef394cc598.png)

https://docs.microsoft.com/en-us/powershell/module/az.datamigration/?view=azps-7.0.0

[2021-12-20 09:17] VeryEarly commented on #16659
Hi @ruankr , I'm working on the bug fix now, thanks for reporting this issue.
Fix will be out early next month in https://github.com/Azure/azure-powershell/milestone/130 release

For now, I recommend you try setting these properties to application by New-AzADApplication and link that application to serviceprincipal with New-AzADServiceprincipal -ApplicationObject $appObject

[2021-12-20 09:51] ReneRebsdorf commented on #16617
Do you have an estimate on when this will be fixed?
This breaks several of our client delivered pwsh modules, and I need to plan for implementering a hotfix by requiring the older version on January 3rd, and git revert the conversion changes that followed this update. That is unless a fix is expected to be delivered this year?

[2021-12-20 11:45] bart-rosseel commented on #12015
@Kotasudhakarreddy can you sanitize your above comments by removing information related to our subscription ( subscribtion id, farm name, resource group names, email addresses and disclaimer of the pasted email content ), including deleting previous revision of the description ? Thanks in advance.

[2021-12-20 17:34] kceiw commented on #16586
@craiglandis Can you please help us to improve the qualify by giving us some examples like what you types when you see it's broken?

Az Predictor only shows the suggestions based on the command history and the command you're typing (The commands are Az commands). If there are no suggestions, it doesn't show anything. It gets the suggestions from our server. So it also requires Internet connection.

[2021-12-20 17:44] allencasteran commented on #16612
The example given came from the attempt to set an AD security group via the Powershell command.   The same group can be set via the Azure Portal UI.
As shown in the examples, the last REST call made by the module was not formed correctly and missing the api-version param.

[2021-12-20 19:26] nathan-given-health-catalyst commented on #16628
Thank you!  I've switched our code to use `Start-AzStorageBlobCopy` and this issue can likely be closed?

[2021-12-21 02:19] BethanyZhou commented on #16523
Hi @Agazoth , good catch. The usage of json is really fancy😀.

As we know the type of original data now, we can handle this conversion. Already raise a PR to enhance deployment cmdlets.

After enhancement, the outputs would like below:
[code]

[2021-12-21 02:25] brwilkinson commented on #16523
So it seems this has been resolved then in that case? That appears to be the expected output.

[2021-12-21 02:33] BethanyZhou commented on #16523
Tested ConvertTo-Json:
[code]
Seems like the result will be what we expect if my changes merge.

[2021-12-21 02:36] VeryEarly commented on #16659
Hi @ruankr
The old Az.Resources module mixed sp with app altogether which is misleading, what you want to do is actually
[code]
The Oauth2PermissionScope was generated by swagger microsoft graph provided, it is possible that some properties do not match the AAD apis

[2021-12-21 02:59] blackstorm87 commented on #16671
@thomasonsignup , adding to what @dingmeng-xue said, here is the location of the example for [creating application credentials](https://docs.microsoft.com/en-us/powershell/module/az.resources/new-azadappcredential?view=azps-7.0.0&viewFallbackFrom=azps-2.4.0#example-1--create-key-credentials-for-application).
`$credential = New-Object -TypeName "Microsoft.Azure.PowerShell.Cmdlets.Resources.MSGraph.

[2021-12-21 04:30] SaurabhSharma-MSFT commented on #16636
@daalbano I am able to reproduce this issue at my end and redirecting it service team for further investigation.
![image](https://user-images.githubusercontent.com/38112130/146871273-47e1acd0-ea7b-497e-b5d6-8d5c019accc5.png)

[2021-12-21 04:32] SaurabhSharma-MSFT commented on #16593
@jpaulo-kumulus Please let me know if you have any other questions.

[2021-12-21 04:34] adityabalaji-msft commented on #16636
@pratimaupadhyay02 - there seems to be some issue being encountered in the newer API version. Could you take a look at this issue?

[2021-12-21 05:23] Agazoth commented on #16523
That is excellent news, Bethany. Thanks!

[2021-12-21 06:51] Yuiheart opened #16677 "How should I use service principal to search data lake store?"
### Description

Hi team,

I'm trying to use `Get-AzDataLakeStoreChildItem` command to search items in adls gen1 with service principal. I tried to pass the service principal as DefaultProfile but failed.

Could you please help me with how to connect to the adls with service principal?

Thanks!

### Script or Debug output

[code]

### Environment data

[code]

### Module versions

[code]

### Erro

[2021-12-21 06:52] msJinLei commented on #13054
@alexandair The Update-AzModule is stuck due to the network condition. The issue is greatly alleviated in the [Az.Tools.Installer 0.2.0](https://www.powershellgallery.com/packages/Az.Tools.Installer/0.2.0) we release one month ago. Please try it and let us know if you have further issues.

[2021-12-21 06:53] #13054 closed

[2021-12-21 06:54] msJinLei commented on #13421
Should be fixed in Az.Tools.Installer 0.2.0 https://www.powershellgallery.com/packages/Az.Tools.Installer/0.2.0

[2021-12-21 06:55] #13421 closed

[2021-12-21 07:34] msJinLei commented on #16617
Our next release in 01/04/2022 https://github.com/Azure/azure-powershell/milestone/130. We will include the fix into it.

There is a workaround @ReneRebsdorf @misterfoo.
[code]
It works if you don't run several Azure PowerShell jobs in parallel

[2021-12-21 08:01] #14012 closed

[2021-12-21 08:08] VeryEarly commented on #15477
Hi @Ben424242 ,
Tag is supported in Az.Resources 5.1.0 or later

[2021-12-21 08:20] VeryEarly commented on #15643
Hi please try Az.Resources 5.1.0 or later

[2021-12-21 08:24] VeryEarly commented on #15181
please try above suggestion, close this issue for now.
Feel free to reopen if you meet have further questions.

[2021-12-21 09:25] msJinLei commented on #16617
We remove service principal secret from PSAzureRmAccount because customers can always find a way to get its value if we keep it in the object.
As a result, the context you retrieve from Get-AzContext doesn't have the secret. When the context is to set to DefaultProfie of  a new cmdlet. The cmdlet doesn't have enough information to get access token.
We handle the case of Set-AzContext and Select-Az

[2021-12-21 11:57] thomasonsignup commented on #16671
Thanks for the feedback, I'll use it if I run in to any similar issues again.
I opted to create an app without the password and use "az ad app credential reset" to create the password instead

(I assume) The ObjectId can be used instead of the application ID and is found in the portal or by using Get-AzADApplication

[2021-12-21 11:57] #16671 closed

[2021-12-21 12:00] ruankr commented on #16659
@VeryEarly

"-Web" is not an allowed propertyand generates:
[code]

Also, your syntax does not work What I have noticed however is I can add it like below, however it does not honour the IMicrosoftGraphImplicitGrantSettings values:

[code]

[2021-12-21 12:02] ReneRebsdorf commented on #16617
@msJinLei

Thank you for the update. Unfortunately the workaround is not useful (for us at least), as we use the profiles to accomplish parallel execution against multiple subscriptions.
My guess is this is the case for many others who use DefaultProfiles as it is the recommended method as per other GitHub Issues. Can't speak for @misterfoo and others, for whom the workaround may be useful.

I'll

[2021-12-21 18:54] SaurabhSharma-MSFT commented on #16475
@davecader We are proceeding with the issue closure as we haven't heard back. Thanks

[2021-12-21 18:54] #16475 closed

[2021-12-22 01:11] dcbrown16 commented on #9412
@cormacpayne this error still comes up in module 2.3.0. I'm in CSS and escalating info from a cx case, you can reach me internally at v-dibr if needed.
![image](https://user-images.githubusercontent.com/34466884/147017948-db75afb2-c3ed-402f-a40c-542d40816da2.png)

[2021-12-22 01:37] #16523 closed

[2021-12-22 03:30] dingmeng-xue opened #16682 "[Doc]: Examples of New-AzADAppCredential is not easy to understand"
### Description

Example should describe the meaning of `$id` because it is not mentioned in the code.

https://docs.microsoft.com/en-us/powershell/module/az.resources/new-azadappcredential?view=azps-7.0.0#examples

BTW, the second example is uncompleted. Please add example or remove it from reference doc.

[2021-12-22 03:31] dingmeng-xue commented on #16671
Thanks, everyone. Create an issue for doc improvement.

https://github.com/Azure/azure-powershell/issues/16682

[2021-12-22 06:58] VeryEarly commented on #16659
Thanks for pointing out, I have 'Web' exposed now please expect it in the next official release.

For now, please set homepageurl by using parameter 'HomePage', I'm afraid you cannot set the implicitGrantSettings this time but it will be available when new version of Az.Resources publichsed

[2021-12-22 08:02] #8538 closed

[2021-12-22 13:25] dingmeng-xue commented on #16261
link #16661

[2021-12-22 13:25] dingmeng-xue commented on #16267
link #16661

[2021-12-22 13:27] dingmeng-xue commented on #16268
link #16661

[2021-12-22 22:24] Sandido opened #16689 "When running Update-AzVm with a VM that was created from an Image, a UserData error sometimes appears unexpectedly"
### Description

When running Update-AzVm with a VM that was made from an existing image, a UserData error may occur stating:
"UserData must be in Base64 encoding and with a maximum length of 87384 characters." This occurred in our PS test framework when I was re-recording old tests.

This appears due to an unexpected string being piped into the Update-AzVm Userdata parameter, the string being "Mi

[2021-12-23 02:08] dingmeng-xue commented on #16672
Thanks for reporting. We believe this inconsistency should be resolve by service side. I reply team member to look into it further.

[2021-12-23 02:18] dingmeng-xue commented on #10481
Close it as it is supported

[2021-12-23 02:18] #10481 closed

[2021-12-23 02:43] #16042 closed

[2021-12-23 02:58] msJinLei commented on #16677
@Yuiheart  According to the error message, It seems that what you input for DefaultProfile is not the type allowed. Could you provide the cmdlets with the parameters you input to get the error messages?

[2021-12-23 03:16] #16353 closed

[2021-12-23 03:16] #16355 closed

[2021-12-23 03:16] #16408 closed

[2021-12-23 07:45] AIGARSJ commented on #16644
You can a case. I just changed cmdlet to New-AzureADApplication and that solved my problem.

[2021-12-23 08:01] #10671 closed

[2021-12-23 09:37] Yuiheart commented on #16677
Hi @msJinLei,

`$sp = Get-AzADServicePrincipal -ApplicationId $Global:PostValidation.AppRegistrationClientID`
` $items = Get-AzDataLakeStoreChildItem -Account $Global:PostValidation.ADLSAccount -Path $entry.Value -DefaultProfile $sp`

These are the cmdlets I used to get the service principal and pass it to the DefaultProfile parameter. I learnt about that the allowed type is **IAzureContextContain

[2021-12-23 10:54] henningeiben opened #16697 "Cannot install modules using Install-AzModules"
### Description

I just installed the `Az.Tools.Installer` as to https://techcommunity.microsoft.com/t5/azure-tools-blog/what-s-new-in-the-new-version-of-az-tools-installer/ba-p/2971455.

I then tried installing the latest version of the Az-Modules using `Install-AzModule`, but instead I just got errors.

[code]

### Issue script & Debug output

[code]

### Environment data

[code]

### Module ver

[2021-12-23 10:58] sopelt opened #16698 "Get-AzADGroupMember no longer returns service principals"
### Description

In versions prior to 7 [Get-AzADGroupMember](https://docs.microsoft.com/en-us/powershell/module/az.resources/get-azadgroupmember?view=azps-7.0.0) returned all members (users, groups, service principals) of a group. Starting with 7 it moved from the legacy graph.windows.net to microsoft graph.
This seems to be caused by a limitation that is briefly mentioned in [the documentation o

[2021-12-23 11:10] henningeiben commented on #16697
Also on a side-note: I've done these steps in powershell 7.2.1 ... can I run this module side-by-side in powershell 5.1 as well? For some reason I can't seem to import the module.

[2021-12-23 14:47] ransagy commented on #12401
@alanauckland86 I assume you used this solution outside of Azure Devops, just any normal Azure Powershell module script?
On AZDO it doesn't let you select the classic connections, only RM based ones.

I did have success adding a new service connection, Azure RM, and using the Service Principal (Manual) option with an SPN from one of my registered AAD apps. But that feels.. kludgy.

[2021-12-24 04:42] #16592 closed

[2021-12-24 04:42] #16620 closed

[2021-12-24 04:42] #16659 closed

[2021-12-24 04:42] #16682 closed

[2021-12-24 08:02] #15868 closed

[2021-12-24 08:53] lijinpei2008 commented on #16131
We fixed this issue in the latest version, you can install the new version using this command:
Install-module-name az. botservice-requiredversion 0.3.2

You can see the difference between the source code on line 227 before and after the change at the following link:
https://www.powershellgallery.com/packages/Az.BotService/0.3.1/Content/custom%5CNew-AzBotService.ps1
https://www.powershellgallery.co

[2021-12-24 08:58] CaptainFanZzz opened #16703 "Get-AzKustoOperationsResult should be removed"
### Description

Get-AzKustoOperationsResult should be removed.

### Issue script & Debug output

[code]

### Environment data

[code]

### Module versions

[code]

### Error output

_No response_

[2021-12-24 11:05] vjmanda opened #16704 "New-AzManagementGroup - Unable to cast object error"
### Description

`New-AzManagementGroup -GroupId 'Contoso' -DisplayName 'Contoso Corporation'`
works well if the management group doesnt exist. However, when it does exist, it errors with the below
`New-AzManagementGroup: Unable to cast object of type 'Microsoft.Azure.Management.ManagementGroups.Models.ManagementGroup' to type 'Newtonsoft.Json.Linq.JObject'.`

### Issue script & Debug output

[cod

[2021-12-24 11:24] lomeshparmar commented on #9318
@asheniam  @niander Do we still have any update on this as on date? as I am facing the same problem, do we have any timeline to release any update regarding this? then please share it.

One more thing,
I am not able to find **Get-AzAutoscaleSetting** conmmand as well to get the detailed configuration.
Requesting you to please develop new command for (**Get-AzAutoscaleSetting &  Set/Update-AzAutosc

[2021-12-24 14:56] dingmeng-xue commented on #16689
We will look into it. If it is blocking you, please let us know.

[2021-12-24 14:58] dingmeng-xue commented on #16703
Please consider it in the next Az major release.

[2021-12-24 15:03] dingmeng-xue commented on #16704
Thanks for reporting. We believe this inconsistency should be resolve by service side. I reply team member to look into it further.

[2021-12-26 17:05] breyed opened #16705 "Cannot connect after following directions"
### Description

Azure PowerShell fails its basic out-of-box experience.

### Repro
1. Follow the install instructions.
2. Execute `Connect-AzAccount`.

### Error message

### More detail on repro step 1
These are the install instructions: [Install the Azure Az PowerShell module](https://docs.microsoft.com/en-us/powershell/azure/install-az-ps). They say that from a PowerShell 7.2.1 prompt, you sho

[2021-12-26 23:59] alexandair commented on #16705
It doesn't look like you have the "Az" module installed.
What do you get when you run:

[code]

[2021-12-27 02:09] dingmeng-xue commented on #16705
Hi @breyed , you need to install Az module via `Install-Module -Name Az -Scope CurrentUser -Repository PSGallery -Force`. If possible, please delete AzureRM.Profile from your environment. It is previous generation of Azure PowerShell module. Az and AzureRM loaded together may have problem.

[2021-12-27 05:42] msJinLei commented on #16617
Hi all (@ReneRebsdorf @misterfoo)
Please try this way to solve your issue, that is, to add back you service principal secret in your script

[code]

[2021-12-27 11:27] qingshanJBHIFI commented on #16663
I can't delete the LTR settings from azure portal anymore, so I can't reproduce the issue again. not sure there was something fixed in azure portal.

[2021-12-27 11:27] #16663 closed

[2021-12-27 15:26] Sandido commented on #16689
@dingmeng-xue , it is blocking other work I have for re-recording PS tests.
The Userdata parameter is something [I added recently](https://msazure.visualstudio.com/One/_workitems/edit/10250208). I used only the piping value of ValueFromPipeline because the core PS team had mentioned using ValueFromPipelineByPropertyName was not preferred. However, I then discovered this buggy behavior and raised t

[2021-12-27 21:24] KMoraz opened #16711 "Set-AzVMOperatingSystem won't work for existing VMs"
### Description

This might be a documentation error, as [official docs](https://docs.microsoft.com/en-us/powershell/module/az.compute/set-azvmoperatingsystem?view=azps-7.0.0) doesn't explicitly specify that `Set-AzVMOperatingSystem` cmdlet intended for new VMs and won't work for existing ones. The examples also target new VMs.

### Issue script & Debug output

[code]

### Environment data

[code]

[2021-12-27 22:37] SaurabhSharma-MSFT commented on #16704
@vjmanda I could see the same issue in my environment.
@wyunchi-ms Can you please help looking into this.

[2021-12-27 23:18] breyed commented on #16705
Before following the installation instructions, I started with a new Windows 11 installation with Visual Studio 17.0 with the web and desktop workflows included. Perhaps the VS install caused the obsolete AzureRM.Profile to be installed.

The Azure PowerShell instructions should include whatever commands are necessary to transition from an arbitrary state (especially a mainstream state like a clea

[2021-12-27 23:18] #16705 closed

[2021-12-27 23:34] dcaro commented on #16705
@mikefrobbins let's add some clarification in our instructions.

[2021-12-28 00:18] SaurabhSharma-MSFT commented on #16593
@jpaulo-kumulus We are proceeding with the closure of this issue as we have not heard back from you. Thanks.

[2021-12-28 03:52] lijinpei2008 commented on #16668
Hi @CaptainFanZzz
When you want to use "New-AzKustoScript", you need to push your script into the Blob of the Storage Account, and then Generate SAS for the script.

Save the generated "Blob SAS Token" and "Blob SAS URL" and fill in [-scripturlsastoken], [-scripturl].

Like this:
`New-AzKustoScript -ClusterName $AzureDataExplorerClusterName -DatabaseName $AzureDataExplorerClusterDatabaseName -Name

[2021-12-28 06:20] #16672 closed

[2021-12-28 07:54] Yuiheart commented on #16677
Hi @msJinLei ! Gentle ping on this issue~

[2021-12-28 08:01] #16573 closed

[2021-12-28 08:13] msJinLei commented on #16677
DefaultProfile is not used for accepting serviceprinpal. It is used to store your current login information, such as your username, tenant, subscription, etc. It is optional. Usually, you are not required to provide value for the parameter.

[2021-12-28 11:53] jpaulo-kumulus commented on #16593
Sorry for the delay in my response @SaurabhSharma-MSFT, the error stopped without any modifications on my part.
Thanks for the response

[2021-12-28 11:53] #16593 closed

[2021-12-28 12:59] dingmeng-xue commented on #16698
Thanks for the information. We need to update the documentation accordingly.
@VeryEarly , please look into it.

[2021-12-28 13:05] dingmeng-xue commented on #16697
@henningeiben , sorry for inconvenience.

 Could you call `Get-Module` after you execute `Install-AzModule` no matter it is succussed or not. It will show up the list of loaded module. `Az.Tools.installer` relies on `PowerShellGet`. I'd like to know the version of that.

Ideally, it supports Windows PowerShell 5.1 as well. Please share the information if you hit any issue.

[2021-12-28 13:05] dingmeng-xue commented on #16711
Thanks for reporting. We believe this inconsistency should be resolve by service side. I reply team member to look into it further.

[2021-12-28 13:28] PhilJVW opened #16721 "Get-AzADUser in Az.Accounts 2.7.0 doesn't return non-default user properties"
### Description

With the change to Microsoft.Azure.PowerShell.Cmdlets.Resources.MSGraph.Models.ApiV10.IMicrosoftGraphUser as output of Get-AzADUser in Az.Accounts 2.7.0 the command returns only default properties.

Even with Get-AzADUser -First 10 **-Select 'City' -AppendSelected** as described in https://docs.microsoft.com/en-us/powershell/module/az.resources/get-azaduser?view=azps-7.0.0 the com

[2021-12-28 15:09] Ranganathbj opened #16722 "[Eng]: Artifacts migration issue from Jfrog to Azure Devops artifactory"
### Description

I have been working on JFROG artifacts migration to my Azure Devops artifactory. I am using

Powershell Move-MyGetNuGetPackages -SourceIndexUrl 'https://xyz.jfrog.io/artifactory/' -DestinationIndexUrl 'https://pkgs.dev.azure.com/xyz/_packaging/xyz/nuget/v3/index.json' -DestinationPAT 'xyz' -DestinationFeedName 'xyz' -SourceUsername 'xyz@gmail.com' -SourcePassword $Secure_String_Pw

[2021-12-28 16:24] Luperi commented on #9350
Is there any update on this? The problem is still present, workaround a part.

[2021-12-28 16:31] Luperi commented on #11431
In my case, using:

[code]

Instead of:

[code]

worked like a charm.

[2021-12-29 02:19] SaurabhSharma-MSFT commented on #16711
@KMoraz Thanks for your feedback. You are correct, and the cmdlet `Set-AzVMOperatingSystem` is not working setting up linux properties.  I am working internally on the same and update the documentation as required.

[2021-12-29 06:43] CaptainFanZzz commented on #16668
@lijinpei2008 Thanks! It works.

[2021-12-29 08:01] #16545 closed

[2021-12-29 09:05] #16668 closed

[2021-12-29 18:01] ReneRebsdorf commented on #16617
@msJinLei How do you suggest to use this fix in Azure DevOps?

We currently create several threads, each which use their own Azure Context to target a subscription, which we create by iterating over subscriptions found with Get-AzSubscription.

The pipelines do not know the secret when executing, [unless using some 'workaround', which I belive is not an intended feature](https://pascalnaber.wordpr

[2021-12-29 21:13] SaurabhSharma-MSFT commented on #16572
@CCostaT Sorry for the delay.  I could see the same behavior and I think it shouldn't be asking you for the account key when you have added authentication mode.  I am checking internally on this one and get back to you.

[2021-12-30 01:18] dingmeng-xue commented on #16721
Thanks for reporting. The return of PowerShell is object. Default output format `format-table` only shows pre-defined columns. Please use  `Get-AzADUser -UserPrincipalName first.last@mydomain.com -AppendSelected -Select 'userType' | format-list` to show all properties.

[2021-12-30 01:22] dingmeng-xue commented on #16722
Hi @Ranganathbj , your question is to PowerShell module `AzureArtifactsPackageMigration` which is not owned by this repo. Please contact owner via PowerShell Gallery. https://www.powershellgallery.com/packages/AzureArtifactsPackageMigration/1.0.1/ContactOwners

[2021-12-30 11:28] #16617 closed

[2021-12-30 13:21] yamakenrc5 commented on #16055
Looks like AZ-104 hands-on lab materials involve this as well.
I am especially talking about the URL below. The same verb, the same error message.
Effectively, I cannot create resources for this lab exercise...
https://github.com/MicrosoftLearning/AZ-104-MicrosoftAzureAdministrator/blob/master/Instructions/Labs/LAB_04-Implement_Virtual_Networking.md

[2021-12-30 15:16] spotet opened #16733 "[AKS] Typo error on networkpolicy that block new-azakscluster to set network policy"
### Description

Hi,

I have been working on AKS Cluster and want to set NetworkPolicy with the cmdlet New-AzAksCluster like :

New-AzAksCluster -ResourceGroupName xxx -Name yyy -NetworkPlugin azure -NetworkPolicy calico ....

NetworkPolicy is never set. Just check the new code push, and there an error here :

private ContainerServiceNetworkProfile GetNetworkProfile()
        {
            var net

[2021-12-30 15:58] SaurabhSharma-MSFT commented on #16636
@pratimaupadhyay02 Did you get a chance to look into this.

[2021-12-30 17:40] Willem-J-an commented on #16615
This gem (before fix) now made it as the active version in Azure DevOps microsoft hosted agent. Prepare for more complaints.. 😄

[2021-12-31 01:22] BethanyZhou commented on #16055
Hi @yamakenrc5 , what's your Az.Resources version? You can get it by 'Get-Module'

[2021-12-31 07:44] lijinpei2008 commented on #16262
Hi @rachaelsingleton, please run the script below to solve this issue you encounter.
[code]

Cmdlet "Add-AzMetricAlertRuleV2" just create a metric-based alert rule. We must use New-AzScheduledQueryRule to create a Log Alert Rule in order to query the relevant data through Get-AzScheduledQueryRule

[2021-12-31 13:30] RyanS-C commented on #12776
I **had** this same issue using  `azurerm_kubernetes_cluster_node_pool` within [terraform](https://registry.terraform.io/providers/hashicorp/azurerm/latest/docs/resources/kubernetes_cluster_node_pool#upgrade_settings).
[code]

Az CLI:
[code]

Azure Resource:
[code]

Omitted error:
[code]

I have now resolved this issue and created a cluster with an encrypted VM. I resolved this by enabling encrypt

[2022-01-02 02:27] dingmeng-xue commented on #16733
Thanks for reporting.

@wyunchi-ms , please fix this issue.

https://github.com/Azure/azure-powershell/blob/7fa2066acf55a2c6d69eaddf3c4c2d382e3f704f/src/Aks/Aks/Commands/NewAzureRmAks.cs#L383-L386

[2022-01-03 07:56] PhilJVW commented on #16721
That works well. Thank you. Maybe you want to consider updating the documentation accordingly.

[2022-01-03 10:37] Ranganathbj commented on #16722
I contacted the owner of this powershell module  "CoffeeChaser."  No response!

[2022-01-03 12:31] jaspkaur28 commented on #16399
@PramodValavala-MSFT @silverl  - Currently PS7.1 is only supported through the portal. API changes for ARM and PS cmdlets are not yet implemented. We are tracking this as part of PS7.1 GA. Tentative ETA is early Q2 CY22.

[2022-01-03 14:26] owingruters opened #16740 "Can Set-AzLogicApp take both -ParameterFilePath AND -Parameters?"
### Description

Hi ,

I wan to deploy a logicApp. I want to use parameters from a parematers file, but a few parameters I want to set in a pipeline. Hence I'd like to use Set-AzLogicApp with  -ParameterFilePath AND -Parameters.
However I get now an error that a parameter that is in the parameters object and not in the file is not provided:
"Set-AzLogicApp : The template validation failed: 'The va

[2022-01-03 16:57] kabal2010 opened #16741 "Error When using Import-AzAksCredential"
### Description

When using the *`Import-AzAksCredential`*, I'm getting the error *`Import-AzAksCredential : Unable to cast object of type 'YamlDotNet.RepresentationModel.YamlScalarNode' to type 'YamlDotNet.RepresentationModel.YamlSequenceNode'.`*. This is happening both on Windows and Linux

### Issue script & Debug output

[code]

### Environment data

[code]

### Module versions

[code]

### Er

[2022-01-03 17:15] SaurabhSharma-MSFT commented on #16508
@corquiri Could you please help looking into this.

[2022-01-03 18:36] lynshi opened #16742 "Import-AzKeyVaultCertificate: Key not valid for use in specified state"
### Description

I am trying to import a .p12 certificate to Azure Key Vault but am getting an error.
[code]

Some links online indicate a password may be required to import the certificate, but the certificate does not have one and our equivalent Azure CLI command does not pass a password either.

### Issue script & Debug output

[code]

### Environment data

[code]

### Module versions

[code]

[2022-01-03 19:11] SaurabhSharma-MSFT commented on #16539
@aznetsuppgithub Can you please help.

[2022-01-03 19:46] #15940 closed

[2022-01-03 22:32] ozruxo commented on #14415
Just curious if this is still being looked into? I have a very similar issue. I am using the cmdlet just as koralski states, except I have a variable for the values. When setting two keys with values, all works fine. When trying to pass three, the cmdlet times out. This is for a Windows VM.

-parameter @{a = $var1; b = $var2} - works!
-parameter @{a= $var1; b = $var2; c = $var3} - times out

[2022-01-03 23:43] andreamichaelmsft commented on #16539
Generally, the JSON and Discovery API are not guaranteed to have immediate parity since they are refreshed at different cadences.  In this case, it seems this issue can be closed since the API now has parity (i.e., the range 20.123.128.0/17 is now included in AzureCloud westeurope ranges returned by the API). Waiting for @SaurabhSharma-MSFT to confirm and close!

[2022-01-04 00:51] dingmeng-xue commented on #16741
Thanks for reporting. We will look into it.

[2022-01-04 01:43] PramodValavala-MSFT commented on #16399
@jaspkaur28 Thanks for the update! I am reassigning this issue to you to share updates as you know more.

@silverl I hope the workaround should suffice until then.

[2022-01-04 04:49] BethanyZhou commented on #16742
Hi @lynshi ,

The error is thrown by following codes when exporting
[code]

So could you check your p12 file whether contains private key and your private key whether is not marked as exportable?

[2022-01-04 05:28] #15477 closed

[2022-01-04 05:28] #15643 closed

[2022-01-04 05:29] VeryEarly commented on #15997
close this issue for now, feel free to re-open for further questions.

[2022-01-04 05:29] #15997 closed

[2022-01-04 05:36] VeryEarly commented on #16614
Hi @pwouavre
Please try latest version Az.Resources 5.1.0, issue should be fixed.

[2022-01-04 06:13] isra-fel opened #16745 "Object reference not set to an instance of an object when `New-AzServiceEndpointPolicyDefinition`"
### Description

The cmdlet `New-AzServiceEndpointPolicyDefinition` is supposed to run without error.

### Issue script & Debug output

[code]

### Environment data

[code]

### Module versions

[code]

### Error output

[code]

[2022-01-04 06:15] VeryEarly commented on #16698
Hi Simon@sopelt

Thanks for reporting this issue, I have created PR to improve doc from Azure-PowerShell. This will be present in official doc early next month.

[2022-01-04 07:12] VeryEarly commented on #13429
Saw new API version of activityLogAlerts which has the "ContainsAny" property available:
https://github.com/Azure/azure-rest-api-specs/blob/main/specification/monitor/resource-manager/Microsoft.Insights/stable/2020-10-01/activityLogAlerts_API.json#L448

No related SDK published yet.

[2022-01-04 07:16] lymedo commented on #16539
The quoted CIDR range was only one example and there are many more.

I don't understand why the Discovery API has a different refresh cadence to the JSON file.  The docs suggest that the Discovery API is the solution to provide developers an alternative to downloading a JSON file, therefore it must have parity otherwise the Discovery API is incorrect and cannot be trusted as a valid source of info

[2022-01-04 08:18] olalavi commented on #13429
+ @Yair ***@***.***>, could you please help to re-assign to ALA team

Thank you,
Ola

From: Yabo Hu ***@***.***>
Sent: Tuesday, January 4, 2022 9:13 AM
To: Azure/azure-powershell ***@***.***>
Cc: Ola Lavi ***@***.***>; Assign ***@***.***>
Subject: Re: [Azure/azure-powershell] Get-AzActivityLogAlert (Az.Monitor v2.2.0) returns less information than API (#13429)

Saw new API version of activityLogAl

[2022-01-04 08:31] pwouavre commented on #16614
Hi @VeryEarly,

Thanks a lot for your help, tested with success using version 5.2.0 of Az.Resources. (5.1.0 seems to have issues...)
Now the PATCH method update only the declared property (DisplayName) 😃

[code]

Have a nice day 🌞  !

Simon

[2022-01-04 13:54] ErwinWiegman opened #16750 "Update-AzADApplication parameter web not in custom but is in internal"
### Description

In the documentation you can modify EnableIdTokenIssuance on the web object. But there is no web parameter to update the new setting with. In the /custom/Update-AzADApplication the web parameter is missing, but in the /internal/Update-AzADApplication there is a parameter ${web} is there.

At this point we are not able to set Web items. So this looks like someone forgot to add the

[2022-01-04 14:42] spaelling opened #16751 "New-AzResourceGroupDeployment dynamic template parameter matching"
### Description

New-AzResourceGroupDeploymentdynamic parameter matching is not exact, ex. a parameter in an ARM template file named `myParameter` with match if supplying the parameter input -myPar, even overwriting -TemplateParameterObject

supplied script illustrates the issue

### Issue script & Debug output

[code]

### Environment data

[code]

### Module versions

[code]
[code]

[2022-01-04 15:13] silverl commented on #16399
The workaround will do, thank you.

[2022-01-04 16:50] brishalkumar commented on #8412
is there any update if we can use get-AzAdGroupOwner

[2022-01-04 17:27] darrenCampos opened #16753 "Parameter -EnableAccount not working for Update-AzADUser on version 5.2.0"
### Description

While trying to update a user for enable the account using the following syntax

Update-AzADUser -UPNOrObjectId xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx -EnableAccount $true

Using the version 4.2.0 it return a sucess event and the update of the account, but for this new version it return an invalid parameter but using "Tab" PS autofill the value

### Issue script & Debug output

[cod

[2022-01-04 19:26] koralski commented on #14415
I suggest you run the command with -Debug option and see if the json requests are generated as expected. Also it depends on what your variables contain (any special characters what need escaping). Need full example in order to investigate.

[2022-01-04 23:36] lynshi commented on #16742
Short answer: The p12 file contains the private key, and I'm pretty certain the private key can be exported with no password.

Long answer: The certificate was generated with [`step certificate p12 --no-password --insecure`](https://smallstep.com/docs/step-cli/reference/certificate/p12) so that the private key is written unencrypted. I was just able to upload the certificate with the following Azu

[2022-01-05 01:43] vidai-msft commented on #16689
Issue does not occur after pulling the latest code

[2022-01-05 01:43] #16689 closed

[2022-01-05 01:45] #16515 closed

[2022-01-05 02:49] VeryEarly commented on #16753
Hi @darrenCampos ,

Thanks for reporting, I've made fix in #16755 , new version of Az.Resources will be available early next month

[2022-01-05 03:27] GeorgeH-MS opened #16757 "[Doc]: src/ResourceManager/Compute/Commands.Compute/help/Grant-AzureRmSnapshotAccess.md"
### Description

example doesn't match the cmdlet

[2022-01-05 04:08] #16753 closed

[2022-01-05 04:33] BethanyZhou commented on #16742
Thank you for your feedback, already identified the root cause. Will fix this issue in current sprint. New module will be delivered to customer on 02/01 according to our schedule.

[2022-01-05 04:43] dingmeng-xue commented on #16740
Thanks for reporting. We believe this inconsistency should be resolve by service side. I reply team member to look into it further.

[2022-01-05 11:06] gpsarkar opened #16763 "Az module not found in docker image azure-powershell:alpine-3.13"
### Description

Az modules have stopped working on image `mcr.microsoft.com/azure-powershell:alpine-3.13` .
It was working earlier but suddenly stopped from 5/Jan/2022.

I have changed the image to alpine-3.10 now, which is working.

### Issue script & Debug output

[code]

### Environment data

[code]

### Module versions

[code]

### Error output

_No response_

[2022-01-05 11:52] jaromirk opened #16764 "New-AzADAppCredential -ApplicationID broke in 5.2.0 (was working in 5.1.0)"
### Description

Example code:

[code]

[code]

![image](https://user-images.githubusercontent.com/9829838/148212951-b62f956d-d62c-42f7-a3fe-700f056d8c02.png)

### Issue script & Debug output

[code]

### Environment data

[code]

### Module versions

[code]

### Error output

[code]

[2022-01-05 12:33] jameslj opened #16766 "Az AD cmdlets return a "Continuous Access Evaluation" error."
### Description

Any calls for Azure AD Graph return a Continuous Access Evaluation error. Our Azure AD tenant does not have Continuous Access Evaluation preview enabled. If executed from the cloud shell, the command works.

### Issue script & Debug output

[code]

### Environment data

[code]

### Module versions

[code]

### Error output

[code]

[2022-01-05 16:18] dcaro opened #16767 "[Eng]: Display a warning when token cache cannot be encrypted"
### Description

A warning message should be issued when token cache encryption cannot be achieved.

Proposed message:
"Warning: The token cache could not be encrypted on this system. Please refer to http://go.microsoft.com/fwlink?xxxxx for further information"

[2022-01-05 16:29] SQLCanuck commented on #16697
Looking at the examples in the module itself, it appears the Repository needs to be specified.

Install-AzModule -Repository PSGallery

Though I feel this should be corrected by the developers, by having the PSGallery be the default when the parameter is not specified.

[2022-01-05 16:39] SQLCanuck opened #16768 "Az.Tools.Installer Scope"
### Description

When executing the Install-AzModule command from an elevated Windows PowerShell session, the modules by default get installed to the CurrentUser instead of AllUsers as is normal Windows PowerShell module install behavior.

### Issue script & Debug output

[code]

### Environment data

[code]

### Module versions

[code]

### Error output

_No response_

[2022-01-05 16:43] jaylabell commented on #16566
The team has been made aware of this error and improvements are on the way. Thank you!

[2022-01-05 17:40] FallenHoot opened #16770 "[Feature]: Update-AzManagementGroupDefault"
### Description of the new feature

When you create a new Azure Subscription in Azure AD, by default it will be automatically added under the Root management group. This new subscription will then inherit all the governance conditions, like Azure Policy assignments and Azure role-based access control (RBAC) permissions applied to this management group.

But in many cases, customers require a less

[2022-01-05 17:59] gpsarkar opened #16772 "Set-AzApiManagementPolicy fails when operationId contains forward slash"
### Description

`Set-AzApiManagementPolicy` throws error when **operationId** contains a forward slash in it.

This used to work with RM module `Set-AzureRmApiManagementPolicy`

### Issue script & Debug output

[code]

### Environment data

[code]

### Module versions

[code]

### Error output

[code]

[2022-01-05 18:18] grizzlytheodore commented on #16566
Hello, I am an engineer from the CPlat SDK/PS team. I will be working on resolving this. Will post updates as I make progress.

[2022-01-05 22:50] Lusitanian opened #16773 "AddAzureKeyVaultKey does not respect "key ops" parameter when importing key from file"
### Description

When importing a key from a file to Managed HSM, the "key ops" param is not respected or forwarded to the service. This can be seen from the command's code here: https://github.com/Azure/azure-powershell/blob/main/src/KeyVault/KeyVault/Commands/Key/AddAzureKeyVaultKey.cs#L397 which does not pass in any attributes.

This is inconsistent with the Azure CLI behavior, which passes the

[2022-01-05 23:04] Lusitanian opened #16774 "Update-AzKeyVaultKey cannot update "key ops" on Managed HSM"
### Description

When attempting to set the key ops on a Managed HSM instance, powershell fails with "Update-AzKeyVaultKey : Specified cast is not valid."

### Issue script & Debug output

[code]

### Environment data

[code]

### Module versions

[code]

### Error output

[code]

[2022-01-05 23:20] SatishBoddu-MSFT commented on #16612
Re-Directing to the Service team for further action on this issue!

[2022-01-05 23:52] luodun2020 opened #16775 "[Feature]: Add import an arm template artifact file in Import-AzBlueprintWithArtifact"
### Description of the new feature

Import-AzBlueprintWithArtifact does not import artifact with "kind":"template".  Please add this feature to allow import of exported template artifact file.

### Proposed implementation details (optional)

_No response_

[2022-01-06 02:48] dcaro opened #16777 "[Eng]: Return a more explicit error message when New-AzADServicePrincipal hit MS Graph latency"
### Description

Creating a service principal with a role may fail due to latency before the principal can be queried in Graph
After executing `New-AzADServicePrincipal -DisplayName "serviceprincipalname" -Role Contributor`
you may receive the following error:
[code]
In the debug traces, we see the following error returned:

[code]

[2022-01-06 02:56] #16742 closed

[2022-01-06 03:28] dcaro commented on #16698
@VeryEarly @mikefrobbins we need to also add this in the migration guide.

[2022-01-06 04:59] msJinLei commented on #16268
It is released https://www.powershellgallery.com/packages/Az.PostgreSql/1.0.0

[2022-01-06 04:59] #16268 closed

[2022-01-06 05:00] msJinLei commented on #16267
It is released https://www.powershellgallery.com/packages/Az.MySql/1.0.0

[2022-01-06 05:00] #16267 closed

[2022-01-06 05:01] msJinLei commented on #16261
link https://github.com/Azure/azure-powershell/pull/16709

[2022-01-06 05:03] msJinLei commented on #16261
it's released https://www.powershellgallery.com/packages/Az.Synapse/1.0.0

[2022-01-06 05:04] #16261 closed

[2022-01-06 06:37] #16131 closed

[2022-01-06 06:55] hlavell opened #16783 "Set-AzStorageBlobContent keeps outputting after suppressed when used with -Tag parameter"
### Description

`$null = Set-AzStorageBlobContent -Context $storageAccountContext -Container $StorageContainer -Blob $Name -File $filePath -Properties $Properties -Metadata $Metadata -Tag $Tags`

If `-Tag $Tags` is included, this module keeps outputting random numbers as shown in the output below. I've tried suppressing it using common parameters and `Out-Null`, etc.

Nothing seems to suppress it

[2022-01-06 07:30] dingmeng-xue commented on #15976
Hi @nidiculageorge , could you see the same error even you restarted CloudShell? If issue is still there, can we have a call and you share me your screen? You can find my contact information on profile. Please drop me email .

[2022-01-06 08:01] #16626 closed

[2022-01-06 08:25] MikeBakerSAV opened #16784 "new-azadgroup -mailenabled does not exist in v7.1.0"
### Description

new-azadgroup -mailenabled does not exist in module version 7.1.0

https://docs.microsoft.com/en-us/powershell/module/az.resources/new-azadgroup?view=azps-7.1.0

"New-AzADGroup : A parameter cannot be found that matches parameter name 'MailEnabled'.

### Issue script & Debug output

[code]

### Environment data

[code]

### Module versions

[code]

### Error output

[code]

[2022-01-06 10:43] blueww commented on #16783
@hlavell

Thanks for reporting this issue!
I can repro similar issue in Powershell 7. (not repro in Powershell 5)
Will looks deeper into it.

[2022-01-06 14:54] dingmeng-xue commented on #16751
Thanks for reporting. We believe this inconsistency should be resolve by service side. I reply team member to look into it further.

[2022-01-06 14:56] dingmeng-xue commented on #16784
@VeryEarly, please look into this issue.

[2022-01-06 15:00] dingmeng-xue commented on #16772
Thanks for reporting. We believe this inconsistency should be resolve by service side. I reply team member to look into it further.

[2022-01-06 15:09] dingmeng-xue commented on #16767
Hi Jinlei, please verify current behavior.

[2022-01-06 15:15] SQLCanuck commented on #15986
For me the installation via Az.Tools.Installer as of version 0.2.0 was many times slower than just using the normal Install-Module -Name Az command.  The slow performance was to the point of making it unusable, in my case and I had to abort the process.  It seemed to hang on the download package stage.

[2022-01-06 15:17] dingmeng-xue commented on #16766
@jameslj , according to the message from MSGraph, it indicates your tenant already enabled continuous access evaluation.

It's the first time that we know MSGraph API supports this feature now. We will evaluate how to support it with priority.

[2022-01-06 15:27] dingmeng-xue commented on #15986
Thanks for reporting. We compared the performance between Az.Tools.Installer and PowerShellGet. There are multiple factors impacting performance. Some of logic are sealed in PowerShell internal and out of our control.

I'd like to know your environment. What version of PowerShell is? It is great if you can share the time cost of normal `Install-Module -Name Az` in your environment.

[2022-01-06 15:41] dingmeng-xue commented on #16764
@VeryEarly , please look into this issue.

[2022-01-06 15:45] dingmeng-xue commented on #16763
Thanks for reporting. We found an expected error during building docker alpine image when we released Az 7.1.

We will fix it ASAP. For the time being, you can use tag `mcr.microsoft.com/azure-powershell:7.0.0-alpine-3.13` which contains Az 7.0. Tag `alpine-3.13` is still available but we stop updating it due to its version is old and not supported.

[2022-01-06 17:52] SQLCanuck commented on #15986
@dingmeng-xue

![image](https://user-images.githubusercontent.com/38919668/148427688-dddff9f9-6c50-4175-aa7c-6c1f8ddcab82.png)

Though on testing today and having issues on both, it could just be the horrible and unpredictable performance from PowerShell Gallery.  Hopefully the Microsoft Azure team managers can talk to theirs to get things back on track and at an acceptable level.

[2022-01-06 18:38] MsGabsta commented on #15888
We are rengaging the person who created this script.

[2022-01-06 19:16] DaeunYim commented on #16268
Thank you! @msJinLei

[2022-01-06 19:16] DaeunYim commented on #16267
Thank you! @msJinLei

[2022-01-06 19:25] jaylabell commented on #15093
Thank you for letting us know @schnerring!

[2022-01-06 19:40] TLKG commented on #13145
@dcaro 2022-01-06, I'm in Windows 10 / VSC 1.63, PS v 7.2, all up to date.
First got the `The 'Connect-AzAccount' command was found in the module 'Az.Accounts', but the module could not be loaded`

Ran following as @markcowl suggested, see below screeen
Import-Module Az.Accounts
$Error[0].Exception | fl * -force

![image](https://user-images.githubusercontent.com/22269729/148439808-a46dac46-e2c4-4

[2022-01-06 19:51] amjads1 commented on #16041
@dingmeng-xue - Following up to check if you need any further help. If we don't hear any response by end of this week then I will assume that issue is no longer existing and will close this issue.

[2022-01-06 20:36] haagha commented on #14000
@jaylabell the above link was only a mention, not a fix for this issue.

[2022-01-07 02:59] scottaddie opened #16787 "Replace Microsoft.Azure.OperationalInsights dependency"
### Description

The [Microsoft.Azure.OperationalInsights](https://www.nuget.org/packages/Microsoft.Azure.OperationalInsights) NuGet package has been deprecated. The Azure SDK team shipped [Azure.Monitor.Query](https://www.nuget.org/packages/Azure.Monitor.Query/) as a replacement Please make plans to migrate. Copying @dingmeng-xue, as we briefly discussed this in October.

[2022-01-07 03:11] LucasYao93 commented on #16594
Hi @JacobStruiksma
We need to discuss how to fix this bug.

There is a workaround. Assgin empty string to `RepositoryUrl` when use  `New-AzStaticWebApp` to creating static web app.
After can use `New-AzStaticWebApp` to update `RepositoryUrl` if `RepositoryUrl` need to modify.

[2022-01-07 05:38] dingmeng-xue commented on #16766
We start to evaluate supporting CAE of MSGraph API now since this sprint. It may not be completed within one month. We will keep this item updated.

[2022-01-07 05:45] dingmeng-xue commented on #16757
`Grant-AzureRmSnapshortAccess` is old version AzureRM cmdlet. Please reference the latest version https://github.com/Azure/azure-powershell/blob/main/src/Compute/Compute/help/Grant-AzSnapshotAccess.md

[2022-01-07 05:51] dingmeng-xue commented on #16722
Sorry @Ranganathbj . I cannot find who is CoffeeChaser in corporate. You can see the latest version of module released 2 years ago. I have to close this issue now.

If you have any question to Azure PowerShell, please contact us.

[2022-01-07 05:51] #16722 closed

[2022-01-07 05:55] dingmeng-xue commented on #16721
Thanks @PhilJVM . We will improve the experience and documentation. Close this issue now.

[2022-01-07 05:55] #16721 closed

[2022-01-07 05:59] msJinLei commented on #16767
According to our implementation in Az.Accounts. We have supported the case described in the issue. However, I have no environment to give a demo temporarily.

[code]

[2022-01-07 06:17] dingmeng-xue commented on #16644
@AIGARSJ , it's great. You need to either use cmdlets {verb}-AzureAD{Noun} in AzureAd module or {verb}-AzAd{Noun} cmdlets Az.Resources. Mixing them together may make script not work.

[2022-01-07 06:17] #16644 closed

[2022-01-07 06:26] msJinLei commented on #16768
hi @SQLCanuck, we have `Scope` for `Install-AzModule`. By default scope is set to `CurrentUser`. In your case, please specify `Scope` as `AllUsers` when run Install-AzModule.
The behaviour is consistent with `Install-Module` from PowerShellGet

[2022-01-07 06:37] msJinLei commented on #16568
@LucasYao93 what's the status of the issue？

[2022-01-07 06:37] Drewm3 commented on #16381
The team will be picking up this feature in the next few weeks. I'll update this thread again when the feature is released.

[2022-01-07 06:44] msJinLei commented on #16587
Released in https://www.powershellgallery.com/packages/Az.Functions/4.0.1

[2022-01-07 06:44] #16587 closed

[2022-01-07 06:47] msJinLei commented on #16615
Released in https://www.powershellgallery.com/packages/Az.Accounts/2.7.1

[2022-01-07 06:47] #16615 closed

[2022-01-07 07:40] wyunchi-ms commented on #16741
Hi @kabal2010 , thanks for reporting. Could you please confirm the format of your current `kubecofnig`? It should have three root node `users`, `contexts`, `clusters` as list object. If the current is single object, please translate it to list view and then rerun the cmdlet.

[2022-01-07 08:47] #16774 closed

[2022-01-07 09:22] dingmeng-xue commented on #16763
Docker image are updated.  Please remove your original image and pull new version
[code]

[2022-01-07 09:35] ziyuezh576 opened #16793 "Set-AzVMBackupExtension and Remove-AzVMBackup throw NullReferenceException when running."
### Description

Set-AzVMBackupExtension and Remove-AzVMBackup report "Object reference not set to an instance of an object" when running.

### Issue script & Debug output

[code]

### Environment data

[code]

### Module versions

[code]

### Error output

[code]

[2022-01-07 10:26] LucasYao93 commented on #16568
Not finished. Need to discuss with YeMing.

[2022-01-07 11:02] nathanfisk commented on #15015
For anyone facing this issue, this fixed it for me today

[2022-01-07 11:59] Willem-J-an commented on #15705
The same issue applies to other properties of AzureBlobStorage linkedservice; hope the fix will include that as well?

Error reading JObject from JsonReader. Current JsonReader item is not an object: String. Path 'typeProperties.sasToken'

[2022-01-07 11:59] flanagansshenanigans opened #16794 "WebApp:Set-AzWebApp -appsettings not updating appsettings on service"
### Description

When using set-azwebapp, the appsettings are actually updated unless you use the flag "-HttpLoggingEnabled$true". Which was a temporary work around for case the following issue:

https://github.com/Azure/azure-powershell/issues/15038

A fix went out back in May 2021, but using Az 7.1.0 this is an issue again.

### Issue script & Debug output

[code]

### Environment data

[code]

[2022-01-07 13:18] SQLCanuck commented on #16768
@msJinLei Yes, that is the behavior with Install-Module when executed in a non-elevated Windows PowerShell session.  However, if Install-Module is executed in an elevated Windows PowerShell session it defaults to AllUsers, which is not the case for Install-AzModule.

[2022-01-07 16:20] husseinkorly commented on #15517
The issue is the changes are being committed, so you will need to add the following command:
[code]

[2022-01-07 16:33] craigforr commented on #15976
It appears that I have exactly the same issue:
[code]

This reoccurs every time I open Cloud Shell now, and restarting has no effect.  It occurs whether I use PowerShell from the drop-down menu, or run `pwsh` from within a BASH shell.

Was there every any resolution to this problem, @dingmeng-xue?

[2022-01-07 17:41] scottaddie commented on #16787
A migration guide has been made available at https://aka.ms/azsdk/net/migrate/monitor-query.

[2022-01-07 19:36] ozruxo commented on #14415
Thanks for getting back. Unfortunately, I can not test with this runbook often. I will look into the -Debug parameter.

[2022-01-07 23:06] happywino opened #16795 "Apparent issue with the -EnableAccount parameter of Update-AzAdUser"
### Description

Attempting to use Update-AzAdUser -EnableAccount **without** a boolean parameter results in an error message that a boolean value was missing.

Attempting to use Update-AzAdUser -EnableAccount **with** a boolean parameter results in an error message that the EnableAccount parameter doesn't exist.

### Issue script & Debug output

[code]

### Environment data

[code]

### Module ve

[2022-01-07 23:56] happywino commented on #16795
Seeing similar behavior with -Password...

update-azaduser -UPNOrObjectId $UPN -Password

Update-AzADUser : Missing an argument for parameter 'Password'. Specify a parameter of type 'System.Security.SecureString' and try again.
At line:1 char:37
+ update-azaduser -UPNOrObjectId $UPN -Password
+                                     ~~~~~~~~~
    + CategoryInfo          : InvalidArgument: (:) [Update

[2022-01-08 03:26] dingmeng-xue commented on #15976
Hi @craigforr , could you simplify your script and share it in email? Current repo is only for Azure PowerShell. Your error seems out of our scope. But I can try the script and forward to correct team.

[2022-01-08 19:59] jbla9028 commented on #11248
I was just reviewing how to resolve this issue and I'm not sure how to resolve. I am trying to run this command to get all the expanded properties of all resources in a single resource group. I can get around this by piping get-azresource to a select-object but I would assume if I have thousands of resources, this workflow would be extremely taxing and poor performance. How can I get expanded prop

[2022-01-09 14:51] dingmeng-xue commented on #16794
Thanks for reporting. We believe this inconsistency should be resolve by service side. I reply team member to look into it further.

[2022-01-09 14:51] dingmeng-xue commented on #16795
@VeryEarly , please look into this issue.

[2022-01-10 00:12] Drewm3 commented on #14551
Update on status: The work is still continuing on this issue, but it is not yet completed.

[2022-01-10 01:38] #16614 closed

[2022-01-10 02:31] DrDallas opened #16798 "Unhelpful error messages / incorrect input values allowed when registering AzKeyVault with SecretManagement"
### Description

Consider the following commands:

[code]

The `Test-SecretValue` function returns:

The problem is that `$mySubscription` is not a string, but, instead, a `Selected.Microsoft.Azure.Commands.Profile.Models.PSAzureSubscription`. and `$myKeyVaultName` is a `Selected.Microsoft.Azure.Commands.KeyVault.Models.PSKeyVaultIdentityItem`. `Register-SecretVault` should have returned some sort

[2022-01-10 07:20] dingmeng-xue commented on #16183
Deployment cmdlet is especial case in Azure PowerShell. Other cmdlets with `-whatif` parameter only show message telling user what operation will be triggered. In the implementation of `New-AzNetworkInterface`, it checks whether resource is existing (GET METHOD) and shows message "What if: Performing the operation "Creating Resource" on target "networkinterface1".". It won't show what request will

[2022-01-10 07:52] spaelling commented on #16751
Any progress on this? Not sure what you mean by "service side", but this is something 100% related to how the cmdlet handles parameter input.

[2022-01-10 09:10] Frey-Wang commented on #15705
Still working on this.

[2022-01-10 10:41] accampos opened #16804 "I am not able to use CommandContextAttachment parameter of Invoke-AzAksRunCommand cmdlet in Az.Aks"
### Description

I need to to create a secret in an Azure Kubernetes cluster with PowerShell like this: 'kubectl create secret tls mysecret --cert tls.crt --key tls.key'.
But when I use:
Invoke-AzAksRunCommand -ResourceGroupName $RgName -Name $Name -Command "kubectl create secret tls mysecret --cert tls.crt --key tls.key" -CommandContextAttachment "file.zip" -Force

I always get en error message:

[2022-01-10 11:46] MattJeanes opened #16805 "Get-AzAksCluster reports upcoming breaking changes strangely"
### Description

When using `Get-AzAksCluster` there is a breaking change warning that appears telling you to use `Get-AzAksCluster`.

The `Resolve-Error` -> `Resolve-AzError` alias warning makes more sense here - ideally it should not warn at all if you are using the correct alias already but if this is a limitation of the framework in that you cannot tell what name was used then I think a messag

[2022-01-10 15:12] dingmeng-xue commented on #16805
@wyunchi-ms , I believe the warning message should be removed when we removed alias of AKS cluster cmdlets.

[2022-01-10 15:20] dingmeng-xue commented on #16798
@DrDallas , thanks for reporting.

We have one test example in Azure PowerShell repo https://github.com/Azure/azure-powershell/blob/e1c4b71350caecbc9af4173e4076a8435307094d/src/KeyVault/KeyVault.Test/ScenarioTests/SecretManagementExtensionTests.ps1#L34.
Current Azure PowerShell online doc doesn't support this extension because there is no exact cmdlet mapping to it.

We will consider to improve th

[2022-01-10 19:29] SatishBoddu-MSFT commented on #16740
Hello @owingruters Sorry for the delayed response.

Wanted to check if you were trying to deploy a new LogicApp template or Modifying the existing LogicApp?

[2022-01-10 19:37] Francisco-Gamino commented on #16587
Thank you @msJinLei !

[2022-01-10 20:03] zephyr525 opened #16807 "Running New-AzRoleAssignment and granting a user - forbiden"
### Description

Hi Guys,
I am trying to give permission/read access to all Azure reservations  to a  users  via ps. I am having owner rights on the Reservations, I am global admin too.  When i Run these  lines in Azure CLI, I get this error Forbidden. Not sure why and how to fix it. Any pointer is appreciated.

Import-Module Az.Accounts
Import-Module Az.Resources
$tennatid='***************'
$obje

[2022-01-10 20:19] dcaro opened #16808 "[Doc]: `New-AzADAppCredential` examples are incomplete or empty"
### Description

[`New-AzADAppCredential`](https://docs.microsoft.com/en-us/powershell/module/az.resources/new-azadappcredential) reference documentation has two issues:

- Example 1 needs clarification how to set variables `$Id` and `$cert`
- Example 2 is empty

[2022-01-11 00:07] brwilkinson commented on #16586
Hi @dcaro It seems the survey prompt is having more impact that I initially thought.

There has been an issue over on PowerShell/vscode-powershell#3701 that relates to the survey functionality.

It seems the eventsubscriber as below is causing exceptions within PsReadline and powershell editor services within VSCode.

[code]

[2022-01-11 01:30] SaurabhSharma-MSFT commented on #16751
@spaelling I could see the same behavior in my environment and looks like this issue needs further investigation.

[2022-01-11 02:46] brwilkinson commented on #16586
for a workaround I am deleting the event subscriber directly after the AzPredictor is loaded.

[code]

[2022-01-11 04:52] #16773 closed

[2022-01-11 08:37] tudorsibiu90 commented on #6261
we are also having this issue lately

[2022-01-11 12:35] scratch85 commented on #12391
any updates here?

[2022-01-11 14:32] dingmeng-xue commented on #12391
Azure PowerShell cmdlet conforms to Swagger spec. We need service to define this parameter. It seems issue is still open.

[2022-01-11 15:59] Sandido commented on #13026
This bug has been fixed and released in the PS module Az.Compute version 4.22.0 on 1/4/2022.

[2022-01-11 15:59] #13026 closed

[2022-01-11 20:10] avirishuv commented on #13579
The fix is currently being rolled out to production regions, will update once this is completed.

[2022-01-11 20:22] avirishuv commented on #15481
fix for this issue is still in the backlog.

[2022-01-11 20:31] avirishuv commented on #15999
fix is still in the backlog for this.

[2022-01-12 03:37] LucasYao93 commented on #661
Hi @pcgeek86, @fabiocav, @seligj95,
I am from the azure powershell team.

Below is the Az.Wensites latest engineering build. It includes web job features. Please try this one and confirm.
https://azposhpreview.blob.core.windows.net/public/Az.Websites.2.9.0.nupkg

## Instruction
+ Install the latest Az.Accounts from PSGallery
+ Uninstall the Az.Wensites 2.9.0 if you have installed it.
+ Download an

[2022-01-12 06:18] BethanyZhou commented on #16807
Hi @That-Zebra ,
- could you set $DebugPreference="Continue" and re-run your command to show us the debug log?
- what's the Az.Resources version you are using? The version can be obtained by 'Get-Module'.

[2022-01-12 06:58] CaptainFanZzz opened #16814 "Unable to run the cmdlet of Az.DedicatedHsm"
### Description

Unable to  run all cmdlets of Az.DedicatedHsm Module.
All of them will warn that the resource type could not be found

### Issue script & Debug output

[code]

### Environment data

[code]

### Module versions

[code]

### Error output

[code]

[2022-01-12 08:01] BethanyZhou commented on #16798
Hi @DrDallas , thank you for your reporting.

we are intended to improve the error message as below:
![image](https://user-images.githubusercontent.com/19869716/149087077-14fc272d-a18c-4133-a9cd-7d813d750de8.png)

Is this kind of information helpful for you? Please feel free to let me know if you have any thoughts.

[2022-01-12 11:05] owingruters opened #16816 "New-AzWebAppSSLBinding is missing the -WhatIf parameter"
### Description of the new feature

Many/All cmdlets have a -WhatIf parameter, but is is missing for New-AzWebAppSSLBinding.

### Proposed implementation details (optional)

_No response_

[2022-01-12 14:04] That-Zebra commented on #16807
Hello,
I am running I. Azure cli, so the version should be standard.
Apart from ga and owner of the reservation. What additional roles do I need. Do I need user access admin role?
I will append the debug switch and re run to see any logs.
Thanks

Sent from my iPhone

On Jan 12, 2022, at 1:19 AM, Beisi Zhou ***@***.***> wrote:

﻿

Hi @That-Zebra<https://github.com/That-Zebra> ,

  *   could you set

[2022-01-12 15:40] MsGabsta commented on #15888
@desmphil it has taken some time to get to the root of this issue you are having, but we do have an answer for you.

This script was used in the past to assist customers with SSIRP back in 2020.  It isn't something we are asking customers to use today.

Does your scenario involve SSIRP?

[2022-01-12 20:10] andyr8939 commented on #9893
Not ideal but I was able to get around this by doing the following with Powershell, to execute T-SQL on the steps I wanted to parallelize.

[code]

Obviously replace the server, database, user and password details etc, and then update the query to have the correct job and step name you need, but it should work after that.   I have this step running when I create my elastic agent jobs to paralleliz

[2022-01-12 20:19] dbiegunski commented on #16766
Get-AzureADApplicationProxyConnector was working fine yesterday and for some reason today I get an error from Continuous access evaluation.

Connect-AzureAD -MsAccessToken $MicrosoftComToken -AadAccessToken $WindowsNetToken -AccountId $AccountId -TenantId $TenantId
Get-AzureADApplicationProxyConnector

Get-AzureADApplicationProxyConnector : Error occurred while executing GetApplicationProxyConnect

[2022-01-12 20:27] jameslj commented on #16766
I verified with our security team that CAE is not enabled.

[2022-01-13 03:15] BethanyZhou commented on #16807
Hi @That-Zebra ,

You need Microsoft.Authorization/roleAssignments/write permissions, such as User Access Administrator or Owner, please refer to https://docs.microsoft.com/en-us/azure/role-based-access-control/role-assignments-powershell#prerequisites

[2022-01-13 03:24] msJinLei commented on #16766
Hi @jameslj There is a simple way to check your MSGraphToken to double confirm the issue.

Please run the following cmdlet
[code]
And then you can get your MSGraphToken

Use the `https://jwt.ms/` to check the token to wait the following clams.

![image](https://user-images.githubusercontent.com/54836179/149260356-a08592b2-74e2-4d00-9e35-20952df1436f.png)

![image](https://user-images.githubusercon

[2022-01-13 03:31] jameslj commented on #16766
@dingmeng-xue yes, the audience is set to graph and the xms_cc claim is present with a value of CPI

![image](https://user-images.githubusercontent.com/5155208/149261017-9e07f1cb-5550-475d-abef-df3b2d535b99.png)

![image](https://user-images.githubusercontent.com/5155208/149261043-4fc3e57d-a570-4c8c-9158-62280f5ac0fc.png)

[2022-01-13 03:33] dingmeng-xue commented on #16807
Azure CLI is working on migration to MSGraph API. For the time being, there is difference between the latest version of Azure CLI and Azure PowerShell. When you use Azure PowerShell, please ensure the permission of MSGraph is granted.

[2022-01-13 03:34] jameslj commented on #16766
@dingmeng-xue also, this occurs when I run az powershell from Windows Terminal, or using the graph sdk in .net. If I use the cloud shell from the Azure Portal, the xms_cc claim is not present in the token.

[2022-01-13 03:35] dingmeng-xue commented on #16804
@wyunchi-ms , please look into this question.

[2022-01-13 04:59] msJinLei commented on #16766
@jameslj could you run the following cmdlets in PowerShell and see whether the issue remains?
[code]

[2022-01-13 05:35] msJinLei commented on #16766
@jameslj
To find CP1 in your token shows that the CAE is enabled for MS graph in your tenant.
You can use env variable mentioned above to disable it in Azure-PowerShell side temporarily.

[2022-01-13 05:40] msJinLei commented on #16766
AzureAD is not a part of Azure-PowerShell. You may connect its author for more details.

Maybe you can also try `$env:AZURE_IDENTITY_DISABLE_CP1="true" `

[2022-01-13 09:55] alexandair commented on #16766
@msJinLei
/cc @jameslj

The question remains why is a behavior different in the locally installed Azure PowerShell and Cloud Shell.
When @jameslj runs a command in the Cloud Shell, he doesn't need to disable CP1.

[2022-01-13 16:54] brishalkumar commented on #14001
is there any update for the solution

[2022-01-13 16:55] jaknigh commented on #16542
@wonner I am also seeing this issue on Get-AzSynapsePipeline

![image](https://user-images.githubusercontent.com/97691779/149373986-0bf1dcc3-bf89-4497-9949-a202ee963f9d.png)

[2022-01-13 17:27] anuragdalmia commented on #14001
Yes, the various SDKs are in the process of getting published. You can find the python one at https://docs.microsoft.com/en-us/python/api/azure-mgmt-subscription/azure.mgmt.subscription.models.putaliasrequestadditionalproperties?view=azure-python. Shortly (end of Feb) we expect all the SDKs to be published. You will be able to specify the subscription management group, tenant, owner and tags as pa

[2022-01-13 17:27] #14001 closed

[2022-01-13 17:49] JegaThambirajah commented on #16063
Hi, is there a possibility to understand when this might be fixed?

[2022-01-13 17:51] desmphil commented on #15888
Hi Gabby,

Unless documented this is the only solution to force a specific folder in azure file sync without having to wait 24h.

Is there another solution already in place?

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: Gabby ***@***.***>
Sent: Wednesday, January 12, 2022 10:40:54 AM
To: Azure/azure-powershell ***@***.***>
Cc: Philippe Desmarais ***@***.***>; M

[2022-01-13 18:05] SaurabhSharma-MSFT commented on #16628
@nathan-given-health-catalyst Thanks for the confirmation.  We are proceeding with the closure of this case.  If you have any further questions, please let us know we will continue the conversation over here.

[2022-01-13 18:05] #16628 closed

[2022-01-13 19:30] jaylabell commented on #16793
Taking a look into this issue.

[2022-01-13 19:40] jaylabell commented on #15081
These inconveniences are coming in through the API side and not PS. We will figure out the best teams to route these issues to.

[2022-01-13 19:44] jaylabell commented on #16597
Taking a look into this issue.

[2022-01-13 20:05] Jyotsna-Anand commented on #15888
@desmphil - The script only helps to retrieve a list of VMs within a subscription that are encrypted with Azure Disk Encryption extension (version without AAD credentials). It is not related to performing an Azure file sync. Can you please clarify your previous comment?

Thank you!

[2022-01-13 20:17] desmphil commented on #15888
Sorry i have mixed 2 different issues.

Philippe Desmarais
Expert Solutions Microsoft
***@***.***
***@***.***
WWW.IT5.CA<http://WWW.IT5.CA>
[SignatureCompagnyPhil_Red_300]

From: Jyotsna Anand ***@***.***>
Sent: Thursday, January 13, 2022 3:06 PM
To: Azure/azure-powershell ***@***.***>
Cc: Philippe Desmarais ***@***.***>; Mention ***@***.***>
Subject: Re: [Azure/azure-powershell] azure-powershell/

[2022-01-13 20:20] amjads1 commented on #16041
Closing this issue as we didn't hear any response and assuming that issue is resolved. Please feel free to re-open if you need any further help. Thanks!

[2022-01-13 22:34] haagha commented on #12776
@maugamo9 can you please run the command
`Uninstall-Module -Name Az.Compute -AllVersions`
And then
`Install-Module -Name Az.Compute`

[2022-01-14 03:35] dingmeng-xue commented on #16063
PowerShellGallery is an archive repo. Once the module is published, it doesn't allow replace or permanent deletion. Please use the new version.

[2022-01-14 05:18] dingmeng-xue commented on #16063
Below is version in Az.Accounts 2.7.1
[code]

[2022-01-14 09:27] CaptainFanZzz opened #16837 "Get-AzVM -Status doesn't fully display the information the customer needs"
### Description

The customer wants to get the PatchSettings information when doing the -Status.
 It can be seen when doing
[code]
but not when doing
[code]

### Script or Debug output

[code]

### Environment data

[code]

### Module versions

[code]

### Error output

_No response_

[2022-01-14 09:43] tjrobinson commented on #15517
If you're using the Azure Az PowerShell module, the command is `Set-AzNetworkSecurityGroup` instead of `Set-AzureRmNetworkSecurityGroup`.

Running this after `Set-AzNetworkSecurityRuleConfig` worked for me, thanks.

[code]

[2022-01-14 10:49] ziyuezh576 opened #16838 "Cmdlets ralated to SqlServerDisasterRecoveryConfiguration say "deprecated" when running."
### Description

Cmdlets ralated to SqlServerDisasterRecoveryConfiguration say "40956: The Server Disaster Recovery Configuration feature is deprecated. Please use Failover Group instead". These cmdlets are:

"Set-AzSqlServerDisasterRecoveryConfiguration",
"Get-AzSqlServerDisasterRecoveryConfiguration",
"New-AzSqlServerDisasterRecoveryConfiguration",
"Remove-AzSqlServerDisasterRecoveryConfiguratio

[2022-01-14 11:42] obayesshelton opened #16839 "Help with error "The term 'processÂ' is not recognized as the name of a cmdlet""
### Description

Hi,

I am having a lot of issues with Azure Automation and the docs are pretty useless at times.

However, I am getting the following error which is not very helpful. Could you explain what is wrong with my script.

### Script or Debug output

[code]

### Environment data

_No response_

### Module versions

_No response_

### Error output

[code]

[2022-01-14 12:09] tldevops commented on #16764
Is there an estimate for fixing this? I have the exact same issue.

[2022-01-14 13:16] durayakar opened #16840 "[Doc]: https://docs.microsoft.com/en-us/powershell/module/az.network/set-azapplicationgatewayfirewallpolicy?view=azps-7.1.0"
### Description

The example has an invalid parameter.

$UpdatedAppGwFirewallPolicy = Set-AzApplicationGatewayFirewallPolicy -ApplicationGateway $AppGwFirewallPolicy

There is no "ApplicationGateway" parameter for this command.

[2022-01-14 16:15] obayesshelton commented on #16839
Just to add when I run the command `Invoke-AzContainerInstanceCommand` on my Apple laptop. The PowerShell works:

[code]

[2022-01-14 17:35] JegaThambirajah commented on #16063
Thank you for getting back. I had a look at Az.Accounts 2.7.1. ILSpy reports the Assembly Version of that DLL in the preload folder of the nuget package as 4.1.2.1 rather than 4.2.0.0. Could you please help me explain this?
![image](https://user-images.githubusercontent.com/61830446/149559868-40aa9878-a303-435b-a272-4d8fe4fc8266.png)

[2022-01-14 19:44] alexv-be opened #16841 "New-AzAdServicePrincipal does not process all input parameters"
### Description

The New-AzAdServicePrincipal documentation lists several parameters, like -AppRoleAssignmentRequired, which should do the following:
_Specifies whether users or other service principals need to be granted an app role assignment for this service principal before users can sign in or apps can get tokens._

When trying a command like:
`New-AzADServicePrincipal -AppRoleAssignmentRequi

[2022-01-14 21:48] danewalton opened #16842 "IoT Hub not in Active state even after checking that it is"
### Description

We have some E2E tests which deploy an IoT Hub, in which we then populate devices. [Here is a link to the snippet of code](https://github.com/Azure/azure-sdk-for-c/blob/72b64c5b3281be9c500f0fae0db851bf212123f6/sdk/samples/iot/templates/iothub/test-resources-post.ps1#L62-L72) and below I have copied the rough idea of it.

[code]

You can see that we check to make sure the hub is ac

[2022-01-14 22:47] dcaro opened #16843 "[Compute] Incorrect permissions assigned private ssh key when creating a Linux VM"
### Description

The ssh private key created when running a command like the following one is saved with incorrect permissions.
`New-AzVM -name LinuxVM -ResourceGroupName "linuxvm" -Image UbuntuLTS -PublicIpAddressName linuxvmip-SshKeyName linuxvmsshkey -GenerateSshKey -Credential $cred`

ssh is expecting permissions to be 600 for the .ssh/privatekey but on MacOs or cloudshell, the file has a 644

[2022-01-14 23:02] dcaro opened #16844 "[Compute] Password should not be expected when creating a Linux VM with SSH key"
### Description of the new feature

The following command requires a PSCredential object to be passed when creating a Linux VM:
`New-AzVM -name LinuxVM -ResourceGroupName "linuxvm" -Image UbuntuLTS -PublicIpAddressName linuxvmip-SshKeyName linuxvmsshkey -GenerateSshKey -Credential $cred`

`disablePasswordAuthentication` is set to `true` when creating the VM so the password should not be asked to t

[2022-01-15 01:31] dingmeng-xue commented on #16063
You are right. I was looking into another one `System.ServiceModel.Private`. No explicit configuration shows which module is referencing this file. We will try to remove it and see whether there is issue.

[2022-01-15 12:54] obayesshelton opened #16846 ""The term 'processÂ' is not recognized as the name of a cmdlet""
### Description

Hi,

I am having a lot of issues with Azure Automation and the docs are pretty useless at times.

However, I am getting the following error which is not very helpful. Could you explain what is wrong with my script.

### Issue script & Debug output

[code]

### Environment data

[code]

### Module versions

[code]

### Error output

[code]

[2022-01-15 12:58] obayesshelton commented on #16846
Interestingly for anyone reading this. If I use PowerShell Runbook with Runtime set to 7.1 (Preview) the script works.

[2022-01-15 12:59] obayesshelton commented on #16839
Interestingly for anyone reading this. If I use PowerShell Runbook with Runtime set to 7.1 (Preview) the script works.

[2022-01-15 14:46] obayesshelton commented on #16846
So the command:

`Invoke-AzContainerInstanceCommand -ResourceGroup "DevApplication" -ContainerGroupName "byob-feature-product-engine" -ContainerName "byob-feature-product-engine-one" -Command "touch /tmp/bar.txt" -TerminalSizeCol 1 -TerminalSizeRow 1`

Now has stopped working with Runtime set to 7.1 (preview) the command works on Powershell on my Apple Terminal but not via Runbook in Azure Automat

[2022-01-15 14:46] obayesshelton commented on #16839
So the command:

`Invoke-AzContainerInstanceCommand -ResourceGroup "DevApplication" -ContainerGroupName "byob-feature-product-engine" -ContainerName "byob-feature-product-engine-one" -Command "touch /tmp/bar.txt" -TerminalSizeCol 1 -TerminalSizeRow 1`

Now has stopped working with Runtime set to 7.1 (preview) the command works on Powershell on my Apple Terminal but not via Runbook in Azure Automat

[2022-01-15 17:54] vexingpos opened #16847 "Update-AzADServicePrincipal ignores the AppRoleAssignmentRequired parameter"
### Description

I have a service principal and am trying to enable the AppRoleAssignmentRequired property (switch parameter) using the following line of code

[code]

When I look at the service principal in the Portal, I can see that the property has not been updated.

The command itself doesn't throw any errors, however, when running the command with the Debug parameter, it's clear that there is

[2022-01-15 22:38] JegaThambirajah commented on #16063
Thank you, Xue. If successful, I would love to hear when we can expect this
to make it to a release.

On Sat, 15 Jan 2022, 02:31 Dingmeng Xue, ***@***.***> wrote:

[2022-01-16 02:35] damienpontifex opened #16848 "[Feature]: New-AzADServicePrincipal without creating app secret"
### Description of the new feature

When utilising federated identity credential such as on GitHub, a client secret is never needed as part of the app registration/spn. It seems currently as part of `New-AzADServicePrincipal`, with no application id provided, it creates a client secret assumedly as a convenience as it's likely needed to quickstart the usage of the new credential. It would be nice

[2022-01-16 03:57] Yuvaraj-vivek commented on #14436
Is there any update on this feature enhancement?

[2022-01-17 01:47] BethanyZhou commented on #15754
Hi @obayesshelton , this enhancement had been enabled in Az.ContainerInstance>=3.0.0. Pleas check your module version.

[2022-01-17 02:01] dingmeng-xue commented on #16841
@VeryEarly , please help to look into it.

[2022-01-17 02:09] dingmeng-xue commented on #14436
It seems API 2021-01-01 has fixed this issue. We will update API version.
https://github.com/Azure/azure-rest-api-specs/blob/dc439efcfc15448824877603f66fc1578d1c71c5/specification/web/resource-manager/Microsoft.Web/stable/2021-01-01/CommonDefinitions.json#L1671

[2022-01-17 02:12] dingmeng-xue commented on #14436
@BethanyZhou , can we allow end user to select API version? if yes, user can specify API version as workaround.

[2022-01-17 02:13] VeryEarly commented on #16764
Hi @jaromirk @tldevops ,

This fix will be available early next month.

[2022-01-17 02:21] dingmeng-xue commented on #16839
Thanks for contacting us. I suspect it is related to the encoding of PowerShell or CloudShell setting because of message "The term 'processÂ' is not recognized as the name of a cmdlet, function, script file, or operable program. Check the spelling of the name, or if a path was included, verify that the path is correct and try again. (The term 'processÂ' is not recognized as the name of a cmdlet, f

[2022-01-17 02:23] dingmeng-xue commented on #16848
@VeryEarly , please look int this ask.

[2022-01-17 02:24] dingmeng-xue commented on #16847
@VeryEarly , please look into it.

[2022-01-17 03:11] sakkuntyo opened #16851 "Get-AzAutoscaleSettings cannot check Capacity (Minimum, Maximum, Default)"
### Description

The Maximum Minimum Default of Capacity cannot be confirmed.
If I give the Debug option and look at the response I get, it is included there, but when I reference the object in PowerShell, it shows 4.

### Issue script & Debug output

[code]

### Environment data

[code]

### Module versions

[code]

### Error output

[code]

[2022-01-17 03:15] sakkuntyo commented on #16851
[code]

What is 4?

[2022-01-17 03:25] VeryEarly commented on #16841
Hi @alexv-be ,

The limited parameters for creating service principal is to align with older version of New-AzADServicePrincipal (using AAD API and not switch to Microsoft Graph API), we plan to enable other optional parameters soon in the near future.

Thanks

[2022-01-17 04:51] MughundhanRaveendran-MSFT commented on #16837
@CaptainFanZzz , Thanks for reporting. I will check and get back to you

[2022-01-17 04:52] MughundhanRaveendran-MSFT commented on #16840
@durayakar , Thanks for reporting this issue. I will check and get back to you

[2022-01-17 04:53] MughundhanRaveendran-MSFT commented on #16842
@danewalton , Thanks for reporting. We will check this and get back to you.

[2022-01-17 05:34] #16798 closed

[2022-01-17 07:37] alexv-be commented on #16841
Thanks for the follow up!
I lost quite some time figuring out what works and doesn't work in both Add-AzADApplication and Add-AzADServicePrincipal. Having more in the documentation than actually works is not really helpful.

The breaking changes notice is in the documentation, why not add a notice that it's only partially implemented? A "use at your own risk" kind of thing?
Is the work planned or

[2022-01-17 08:22] MughundhanRaveendran-MSFT commented on #16837
@CaptainFanZzz , -Status parameter Indicates that this cmdlet gets only the instance view of the virtual machine. It will not show the patch details. Customer can use the command that you mentioned in the query or [Invoke-AzVMPatchAssessment](https://docs.microsoft.com/en-us/powershell/module/az.compute/invoke-azvmpatchassessment?view=azps-7.1.0)

[2022-01-17 10:52] obayesshelton commented on #16839
This seems to work now on Runtime 7.1 and updates modules.

[2022-01-17 10:52] #16839 closed

[2022-01-17 11:15] obayesshelton opened #16854 "Invoke-AzContainerInstanceCommand - Script not stopping after successful command"
### Description

Hi,

I am running `RunBook Version 7.1` and the latest ContainerInstance modules. The script runs fine and I can see the commands being executed on the container instance. However the script never stops. My script is as followed:

[code]

Is seems as though the `Invoke-AzContainerInstanceCommand` isn't returning a success code or something for the script to know it has finished.

[2022-01-17 16:41] AlexSchwerzmann commented on #14942
Hi
Is this foreseen and are there alternatives eg. with Graph API at the moment?
Thanks

[2022-01-17 19:08] grizzlytheodore commented on #16566
the fix has been merged in the PR above. It will be GA with the [2/8 release ](https://github.com/Azure/azure-powershell/pull/16786)

[2022-01-18 02:41] dingmeng-xue opened #16856 "Get-AzCloudServiceNetworkInterface and Get-AzCloudServicePublicIPAddress should use the default API version"
### Description

Current Get-AzCloudServiceNetworkInterface and Get-AzCloudServicePublicIPAddress hard code 2021-03-01 in cmdlet implementation. We need to upgrade version and use the same API version as version used by other cmdlets.

### Issue script & Debug output

[code]

### Environment data

[code]

### Module versions

[code]

### Error output

_No response_

[2022-01-18 12:29] jitandrasngh opened #16859 "start-azstorageblobcopy will ONLY start X parallel copy jobs (even if you triggered Y jobs)"
### Description

The customer is attempting to create a function to move data from one type of Blob storage (Premium) to another type (Standard) using PowerShell script with the call to start-azstorageblobcopy. To speed up the processing time to transfer data from Premium to Standard blob storage, customer is using the switch -ConcurrentTaskCount but the number of parallel threads initiated by the

[2022-01-18 12:48] jitandrasngh commented on #16859
[](url
![PSVersion](https://user-images.githubusercontent.com/24598299/149940291-e36071a4-87d0-46cf-a0b7-fbce2e6dd51a.png)
)

[2022-01-18 12:49] jitandrasngh commented on #16859
Attaching the screenshot of powershell and Az* version .

[2022-01-18 15:02] bernharddick opened #16861 "[Storage] Access to Azure Storage Table using AzureAD auth not working"
### Description

Access to an Azure Table in AzureAD access mode with a user that is only allowed to do operations on Table Storage is not possible as the module tries to get a Storage Shared Access Key where the user does not have permission to.

### Issue script & Debug output

[code]

### Environment data

[code]

### Module versions

[code]

### Error output

[code]

[2022-01-18 15:19] PramodValavala-MSFT commented on #16842
@danewalton I've tried out the same snippet and had it work on the first go. Could you confirm if you see this every time or if it is intermittent?

[2022-01-18 16:20] bferg317 commented on #16510
Hello? This is still not resolved. It's still looking for a path that doesn't exist. How can I fix this?

[2022-01-18 18:36] danewalton commented on #16842
Yes this is intermittent. We have this running on Linux, Windows, and Mac and it happens intermittently on each.

[2022-01-18 18:39] Francisco-Gamino commented on #14942
Hello @AlexSchwerzmann -- As a workaround for now, you can use the Az CLI. For more info, please see https://docs.microsoft.com/en-us/cli/azure/functionapp/cors?view=azure-cli-latest

[2022-01-18 19:44] AlexSchwerzmann commented on #14942
Hi @Francisco-Gamino
Thanks for the answer - I'd like to adapt CORS of an Azure Function by applying PowerShell commands out of itself - not sure if that scenario would work with that client...?

[2022-01-18 19:48] pvrk commented on #8348
@mattboothman : I sincerely apologize for the bad experience. We want to understand more about the end-to-end scenario before committing on development. I want to assure you that we have monthly releases for both Powershell and CLI modules and we actively work on them. If you can kindly tell us a summary of what is missing and how do you plan to use it then we can plan for it. I want to set few pr

[2022-01-18 20:52] kenieva commented on #16286
Investigating...

[2022-01-19 01:57] muzzar78 opened #16865 "New-AzADApplication LogoInputFile Unable to set logo"
### Description

I'm trying to set the logo when I create an Azure Application. I'm passing the path to the LogoInputFile parameter and getting the error: Unexpected contents in request body.

I'm using the following syntax. If I remove LogoInputFile it works fine.

New-AzADApplication -DisplayName $appName -IdentifierUri $appUri -Homepage $appHomePageUrl -ReplyUrls $appReplyUrls -AvailableToOther

[2022-01-19 02:04] blueww commented on #16861
@bernharddick

The correct way to create oauth storage context and use it in table is:
[code]

For the above script you use, it looks you just get storage context from the storage account object, this will by default create a storage account with account key credential.

[2022-01-19 03:00] mr-oliva opened #16867 "Username/password credential authorization is enabled.."
### Description

The status of u/p credential authorization is as follows in [the document](https://docs.microsoft.com/en-us/powershell/azure/authenticate-azureps?view=azps-7.1.0):

The document states u/p credential authorization is removed, but I can use it.

Would you tell me what is no longer possible with this change?

### Script or Debug output

[code]

### Environment data

[code]

### Modu

[2022-01-19 06:43] CaptainFanZzz opened #16868 "New/Get-AzApiManagementBackend -ResourceId are inconsistent with each other"
### Description

Failed to create a new apimanagementbackend when doing -resourceid like /susbcription/....
[code]
It can be succeeded when doing -resourceid http://...
[code]
The Get-AzApiManagementBackend can be used by doing both http://... and /susbcription/....
Also, the -resourceid won't check whether it's an Azure resource. It can be accepted by any url like -url parameter.

### Script or D

[2022-01-19 07:14] Dblakhokage opened #16869 "AZ.Account module 2.7.1 Does Not Support User Password Reset"
### Description

I am reaching out regarding an Issue I am experiencing.

I just upgraded to Az.account Powershell module 2.7.1 that was released 14 days ago.

Since then the below cmdlet has been failing:

$RandomString = ConvertTo-SecureString -String 'dummypass' -AsPlainText -Force
Update-AzADUser -Password $RandomString -UserPrincipalName $User.UserPrincipalName

I keep getting the following e

[2022-01-19 07:23] dingmeng-xue commented on #16854
@BethanyZhou , please help to look into it.

[2022-01-19 07:33] muzzar78 opened #16870 "New-AzADAppCredential - Allow you to set the displayName for the credential. CustomKeyIdentifier takes base64 encoded string"
### Description of the new feature

I'd like to be able to set the DisplayName when creating an AD App Credential password. Currently there is a parameter for CustomKeyIdentifier but this takes a Base64 encoded string which adds complexity.

In order to get it to get the description to display correctly in the Azure Portal, I currently convert to Base64 with the following function.

`function Base

[2022-01-19 07:35] dingmeng-xue commented on #16868
According to message from service, resource id should represent absolute http URL, it seems service cannot change its behavior. I recommend to update reference doc and add this constraint on parameter `resourceid`.

[2022-01-19 07:36] dingmeng-xue commented on #16869
@VeryEarly , please look into this issue.

[2022-01-19 07:48] dingmeng-xue commented on #16870
@muzzar78 , thanks for reporting. There is naming conflict. Since the beginning, `displayName` is used to specify application. It's the reason displayname of credential is not exposed. We should consider a new name for it and expose it by additional logic.

For the time being, could you add `displayName` as one key in KeyCredentials object and then create it? The example code is
https://docs.micro

[2022-01-19 07:54] mr-oliva commented on #16867
@dingmeng-xue Thanks for your answer.
I dont know below:

How does the tenant admin disable it?
I confirmed that the approach I'm using is failed If MFA is needed. Did you mean that the tenant admin create a conditional access policy which requires MFA?

[2022-01-19 08:04] BethanyZhou commented on #16868
@dingmeng-xue , should we normalize /subscriptions/xxx for customer in New-AzApiManagementBackend -ResourceId case to keep command consistency?

[2022-01-19 08:07] dingmeng-xue commented on #16865
Hi Muzza78, thanks for reporting. Client follows spec definition https://github.com/Azure/azure-powershell/blob/65b3e4840bfffc0394021af3c7408aeed076fcc0/src/Resources/Applications.yml#L1212 has no insight why it is not accepted. We will ask service team's comment.

@dcaro please help contact service team.

[2022-01-19 08:13] dingmeng-xue opened #16872 "[Feature]: Add upcoming breaking change warning message on HealthcareApis"
### Description of the new feature

HealthcareApis will bump API version to new version and change cmdlet implementation from SDK based to autorest based. All cmdlets need to show upcoming breaking change warning message.

[code]

### Proposed implementation details (optional)

_No response_

[2022-01-19 08:16] dingmeng-xue commented on #16868
We just need to update doc. No idea what will happen on service side in future.

[2022-01-19 08:18] dingmeng-xue commented on #16867
It can be done by multiple approaches. We don't have comprehensive information. You need to consult AAD service.

[2022-01-19 08:21] BethanyZhou commented on #16854
Hi @obayesshelton ,

Could you check your command or script whether is terminate in your local? Seems like your script is under python interactive mode. For non-terminating case, we will look forward to user's next input or Ctrl-C.

[2022-01-19 11:03] obayesshelton commented on #16854
Hi @BethanyZhou

When using Powershell via terminal on my Apple laptop the output is as followed and it does terminate fine

[code]

Is there some sort of response we could return via the script for `Invoke-AzContainerInstanceCommand` to end?

At the moment I have to stop the Runbook job daily which isn't the end of the world but it is not clean.

[2022-01-19 12:42] bernharddick commented on #16861
Thanks, with that Context I'm able to get an Table Object. However it cannot be used to return any values. Digging deeper leeds to all requests ending up with an HTTP404-Response:
[code]
It seems that it is now using Anonymous access for the table content:
[code]

[2022-01-19 12:44] MughundhanRaveendran-MSFT commented on #16837
@CaptainFanZzz , Did you get a chance to look into my previous comment? Please check and let me know if you have any queries or concerns.

[2022-01-19 13:02] erwinkramer opened #16874 "Get-AzADUser with advanced queries not working"
### Description

If i understand correctly, the following **advanced query** should work because i set `consistencyLevel eventual`:

[code]

Documentation: https://docs.microsoft.com/en-us/graph/aad-advanced-queries#support-for-filter-on-properties-of-azure-ad-directory-objects

### Issue script & Debug output

[code]

### Environment data

[code]

### Module versions

[code]

### Error output

[c

[2022-01-19 13:55] dingmeng-xue commented on #16874
It seems a service bug. Its behavior is different from documentation. I use the example on doc and send request to service directly

[code]
I seems `filters` support it but API spec doesn't mention that query parameter
https://github.com/microsoftgraph/msgraph-sdk-powershell/blob/2d2ce81e3f093a9c6e8642beac37c868017b9c63/openApiDocs/v1.0/Users.yml#L28

[2022-01-19 14:13] dingmeng-xue commented on #16510
Could you check the output of `Get-AzContextAutosaveSetting`? I believe `ContextDirectory` is pointing to `C:\Users\_awildcardNP\.Azure`. If yes, please go to `C:\Users\wildcardNS\.Azure\AzureRmContextSettings.json` and modify value in that file. Please note `CacheDirectory` property contains folder path and need to be adjusted as well. Once they are changed, restart PowerShell.

Let me know and s

[2022-01-19 14:45] dingmeng-xue commented on #16874
It's not the reason. You can try it via website https://developer.microsoft.com/en-us/graph/graph-explorer

[2022-01-19 20:49] avirishuv commented on #16844
hi @oriwolman could you please take a look at this issue?

[2022-01-19 20:51] avirishuv commented on #16843
hi @oriwolman could you please take a look at this issue?

[2022-01-20 00:49] SatishBoddu-MSFT commented on #16794
Hello @flanagansshenanigans Sorry for the delay in responding.

Could you please try the below command and see the result via Cloud Shell?
Please let us know if this is still an open issue or can we see this a transient issue?
I can see the App settings are updated as per the below syntax (without using -HttpLoggingEnabled$true)

[code]

![image](https://user-images.githubusercontent.com/62923178/

[2022-01-20 02:21] dingmeng-xue commented on #16067
Hi @manimerz , we are closing this issue because we have migrated to MS graph. Do you still have the problem? Welcome to contact us and raise the issue with information.

[2022-01-20 02:21] #16067 closed

[2022-01-20 02:39] muzzar78 commented on #16870
@dingmeng-xue Thanks for the quick response. I have created an object of type Microsoft.Azure.PowerShell.Cmdlets.Resources.MSGraph.Models.ApiV10.MicrosoftGraphPasswordCredential, set the displayName property only and then ran

`$test = new-object Microsoft.Azure.PowerShell.Cmdlets.Resources.MSGraph.Models.ApiV10.MicrosoftGraphPasswordCredential
$test.DisplayName = 'Alternate method'`
`New-AzADAppC

[2022-01-20 02:39] blueww commented on #16861
@bernharddick

CloudTable is from old SDK (leave it to avoid breaking),  the old SDK doesn't support oauth.
So please use the `$table.TableClient` insead.
Please note,  `$table.TableClient` is from new SDK, and it has different API design from old SDK. Please refer to [doc ](https://docs.microsoft.com/en-us/dotnet/api/azure.data.tables.tableclient?view=azure-dotnet)for TableClient API.

@PaulCheng

[2022-01-20 02:46] dingmeng-xue commented on #16867
Discussed internally, we will remove that part from online doc.