[2014-11-20 19:04] amitapl opened #3 "Websites commands cache is broken"
There is a caching capability for the Websites commands (specifically caching of websites) but currently it is broken and is not used (throws a serialization exception).

[2014-11-21 09:06] bunceg opened #6 "Please add support for creating service bus topics and subscriptions"
NB: As requested, moved from old repository here:
https://github.com/Azure/azure-sdk-tools/issues/2936#issuecomment-63881865

To create topics and subscriptions is a manual step which is laborious and error prone. These processes are ideal for powershell scripting and as, service bus is significant part of the Azure offering, these should be added to to the suite of scripts.

[2014-11-24 07:39] AbelHu opened #9 "Remove-AzureVMExtension calls enable command in Linux VM."
When executing Remove-AzureVMExtension against a Linux VM, enable command will be called in Linux VM. Expect uninstall command is called.

[2014-11-24 08:07] AbelHu opened #10 "When taking blob snapshot without any metadata, "PIRTag=1" will be set in snapshot's metadata."
When taking blob snapshot without any metadata, "PIRTag=1" will be set in snapshot's metadata. Expect no metadata in snapshot.

[2014-11-25 17:52] MaxTrinidad opened #13 "Possible breaking change Get-AzureVM breaks pipeline with Out-Gridview (#3047)"
(reposted from https://github.com/Azure/azure-sdk-tools/issues/3047 - 11/04/2014)

Get-AzureVM breaks pipeline with Out-Gridview. I have Trevor Sullivan confirmed this issue.

This is PowerShell Azure Cmdlets version 0.8.10.1 in PowerShell 4.0.

PS C:> $vm = Get-AzureVM | Out-Gridview -PassThru
 Get-AzureVM : The pipeline has been stopped.
 At line:1 char:7
•$vm = Get-AzureVM | Out-Gridview -PassT

[2014-11-29 23:41] pcgeek86 opened #18 "Set-AzureVMDscExtension checks local computer for DSC modules"
**Problem Description**: The `Set-AzureVMDscExtension` command in the Azure PowerShell module, version 0.8.11, is checking the local computer for all of the supporting DSC modules (resources) before deploying the configuration document to the target virtual machine. If the local computer doesn't have all of the DSC resources that are required on the target system, then the command fails.

**Expect

[2014-12-04 12:00] andybatescc opened #26 "Save-AzureWebsiteLog The maximum message size quota for incoming messages (65536) has been exceeded"
I'm trying to use the Azure powershell Save-AzureWebsiteLog command to get the logs for an azure site. Get the message below

Save-AzureWebsiteLog -Name <*******> -Output .\logs.zip
Save-AzureWebsiteLog : The maximum message size quota for incoming messages (65536) has been exceeded. To increase the quota, use the MaxReceivedMessageSize property on the appropriate binding
element.
At line:1 char:1

[2014-12-15 11:11] avirupch opened #46 "Select-Object works correctly only when a cmdlet is wrapped in parentheses"
Context:

StorSimple service contains 4 StorageAccountCredential objects, we are trying to select the first one, and use that to create a new VolumeContainer object.

Failure scenario:

$sacToUse = Get-AzureStorSimpleStorageAccountCredential | Select-Object -First 1 -Wait
$sacToUse | New-AzureStorSimpleDeviceVolumeContainer -DeviceName avirupch_app3 -Name vc_11 -BandWidthRate 256 –WaitForComplete

[2014-12-15 17:17] carlocardella opened #47 "Get-AzureSubscription, TAB completion does not work after pipeline"
I can repro this problem on two different machines (both Windows 8.1):
 Name : Windows PowerShell ISE Host
 Version : 4.0
 InstanceId : f3c1119d-3c32-432d-a235-5b3755fe9979
 UI : System.Management.Automation.Internal.Host.InternalHostUserInterface
 CurrentCulture : en-US
 CurrentUICulture : en-US
 PrivateData : Microsoft.PowerShell.Host.ISE.ISEOptions
 IsRunspacePushed : False
 Runspace : System.M

[2014-12-17 20:00] banibal opened #54 "New-Azurewebsite conflicts with non existing sites"
New-Azurewebsite throws error: Website with given name [name] already exists.
But i cant see the site(s) in azure portal.
And when i run Get-Azurewebsite it only returns the sites that i actually can see in the portal.
I have also tried to run Remove-Azurewebsite, but these "ghost" sites doesnt get deleted.

someone with same problem?

[2014-12-19 03:25] lizzha opened #60 "New-AzureVM returns location error when creating VM from Linux image in gallery"
New-AzureVM -ServiceName $serviceName -VMs (( New-AzureVMConfig -Name $debugVMName -InstanceSize Small -ImageName c290a6b031d841e09f2da759bbabe71f__Oracle-Linux-6 | Add-AzureProvisioningConfig -Linux -LinuxUser test -Password "Test123!"  |  Set-AzureEndpoint -Name "SSH" -LocalPort "22" -PublicPort "22" -Protocol "tcp"  ))

$serviceName is a service in affinity group in West US
The commands return

[2014-12-27 22:49] SherifTalaat opened #65 "Get-AzureAffinityGroup doesn't work correctly with -Name"
Get-AzureAffinityGroup cmdlet doesn't work correctly when using -Name parameter. It returns some empty values such as WebWorkerRoleSizes & VirtualMachineRoleSizes
![01](https://cloud.githubusercontent.com/assets/10003326/5562498/2fccbc5c-8e2b-11e4-9d60-e4722d7e72c1.png)
![02](https://cloud.githubusercontent.com/assets/10003326/5562497/2fbd6234-8e2b-11e4-8ca1-851642d53958.png)

[2014-12-29 21:38] pcgeek86 opened #67 "New-AzureVNetGateway :: Confusing error message for invalid GatewayType"
When you specify an invalid value for the -GatewayType parameter on the New-AzureVNetGateway command, the resulting error message is very confusing, and doesn't help the end user discover what is wrong.
- Azure PowerShell module 0.8.12
- PowerShell 5.0 November 2014 Preview

Cheers,
Trevor Sullivan
Microsoft MVP: PowerShell

[2014-12-29 21:47] pcgeek86 opened #68 "Intellisense for New-AzureVNetGateway parameters not working"
Hello,

On the `New-AzureVNetGateway` command, I was fairly confident that the `-GatewayType` and `-GatewaySKU` parameters supported tab/auto-completion via Intellisense, however I'm not seeing this behavior on Azure PowerShell 0.8.11 or 0.8.12, at the very least. Instead, the standard file-system auto-completion appears when you attempt to perform Intellisense / tab completion.

Could you please

[2014-12-30 19:54] pcgeek86 opened #69 "Remove-AzureStorageDirectory :: Missing a -Force parameter"
The `Remove-AzureStorageDirectory` command is missing a `-Force` parameter. If the directory is not empty, then an exception is thrown.

* Azure PowerShell module version 0.8.12
* WMF / PowerShell 5.0 November 2014 Preview

![image](https://cloud.githubusercontent.com/assets/466713/5582210/55841362-902b-11e4-8cde-43c21538d162.png)

Cheers,
Trevor Sullivan
Microsoft MVP: PowerShell

[2014-12-31 18:06] pcgeek86 opened #70 "Azure PS 0.8.12 :: Network Security Group commands missing documentation"
The Azure PowerShell commands for managing Network Security Groups are almost completely absent of documentation, except for documentation that is automatically generated by PowerShell.

![image](https://cloud.githubusercontent.com/assets/466713/5589477/5f05e2b6-90e5-11e4-87e4-8dfcf0270557.png)

Please ensure that these commands (and all others) are thoroughly documented in the Azure PowerShell mo

[2015-01-03 14:50] doctordns commented on #13
I just tried it, using 0.8.9 against December 2014 PowerShell v5 beta. And it works just fine!

[2015-01-03 19:47] wadewegner opened #71 "Bad error with New-AzureResourceGroup when TemplateFile is not found"
I was running the following command ...

    New-AzureResourceGroup -Name $name -Location $location -TemplateFile $templateFile -siteName $siteName -hostingPlanName $hostingPlanName -siteLocation $location -Force

... and received an error that took awhile to understand:

    New-AzureResourceGroup : A parameter cannot be found that matches parameter name 'siteName'.
    At C:\Projects\Github\Wade

[2015-01-04 01:54] MaxTrinidad commented on #13
Awesome!! Just to confirm that on the December release this issue was corrected.
Microsoft Azure PowerShell download version:
Version   : 0.8.12
Title     : Microsoft Azure PowerShell with Microsoft Azure SDK
Published : 12/11/2014 7:00:00 AM
Author    : Microsoft Corporation

Thank You!

[2015-01-05 16:16] dontjee opened #72 "Calling Set-AzureServiceDiagnosticsExtension with Role parameter fails"
I'm trying to set Azure diagnostics on a deployed cloud service using v0.8.11 Azure Powershell cmdlets and the Set-AzureServiceDiagnosticsExtension command:

    Set-AzureServiceDiagnosticsExtension -StorageContext $storageContext -DiagnosticsConfigurationPath $diagnosticsConfiguration.FullName -ServiceName $serviceName -Slot Production -Role "MyService.Web"-Verbose

Doing so I get the following e

[2015-01-07 06:23] sjwaight opened #73 "Get-AzureResource: Azure SQL Database malformed request."
The Cmdlet sends the wrong request to the Azure API.  When I run a tag command via the new portal it sends:

/subscriptions/GUID/resourceGroups/Default-SQL-WestUS/providers/Microsoft.Sql/servers/{servername}/databases/{database}?api-version=2014-04-01

If I make the same request via PowerShell it misses the __/servers/__ node in the path:

/subscriptions/GUID/resourcegroups/Default-SQL-WestUS/prov

[2015-01-07 11:19] sjwaight commented on #73
I found a workaround (or maybe the correct usage? hard without documentation)

When specifying -ParentResource argument you must put "servers/{servername}" rather than just "{servername}".

If this is by design then OK for this to be closed.

[2015-01-07 15:15] andybatescc commented on #54
Can only think that the conflicting website already exists under azurewebsites.net, which is shared across all Azure. Same as trying to create a new site through the management portal, but the name is not available.

[2015-01-08 03:02] abhishekanand opened #75 "Request for Powershell Cmdlets - List Subscription Operations"
This a request to provide command to llist all operation done a subscription during a time Period.

For Example :
`Get-AzureOperationHistory -Subscription  <GUID>  -StartDate mm/dd/yyyy -EndDate mm/dd/yyyy`

Ref : http://msdn.microsoft.com/en-us/library/azure/gg715318.aspx

[2015-01-08 17:22] ruano84 commented on #13
Hi, i just tested

 with 0.8.13 and gives me the same error:

The "(Get-Module Azure).Version" output:

[2015-01-08 17:33] MaxTrinidad commented on #13
Interesting!  Azure PowerShell version 0.8.13 has been release yet thru the Microsoft Azure download site which is still 0.8.12 December download.   This issue was corrected in 0.8.12.

If you downloads the Azure PowerShell from Github then is possible this error will come back again.

Thx for the email.
Max

[2015-01-08 19:44] ashelley opened #76 "Get-HybridConnection NewtonSoft.Json Version4.5.0.0 cannot find file"
Hello I'm having this issue:

[code]

I found this issue that talks about it on stack overflow:

http://stackoverflow.com/questions/26937504/unable-to-perform-azure-biztalk-hybrid-connection-on-premisis-part

Is there anything to do to resolve this?

I've read this:

http://blog.rthand.com/post/2013/11/04/When-net-assemblies-arent-properly-versioned-odd-errors-happen.aspx

but I do not have JSON.n

[2015-01-09 16:16] pcgeek86 opened #80 "New-AzureStorageShare missing -PassThru parameter"
The `New-AzureStorageShare` command doesn't return a new Storage Share (`Microsoft.WindowsAzure.Storage.File.CloudFileShare`) object, and doesn't offer a `-PassThru` parameter either. Therefore, an extra call to `Get-AzureFileShare` must be made in order to retrieve the object representing the share.

Please add the `-PassThru` parameter to `New-AzureStorageShare` to ensure that the new share obje

[2015-01-10 00:13] camillemarie opened #81 "Feature request: Cmdlets to operate on entities in table storage"
# Summary

Table storage cmdlets currently only support operations at the table level. I would like cmdlets for entity-level operations (more or less a wrapper for the operations available in Microsoft.WindowsAzure.Storage.Table.TableOperation)
# Scenarios
## Scenario A

My service is deployed with a bug which causes it to write a hundred thousand corrupted
rows to table storage overnight. I want

[2015-01-14 03:26] matt-gibbs commented on #76
The assembly does not need to be installed into the gac. The cmdlet resources should have been part of the install. Perhaps the install was using a different profile than your current user. The walkthrough says that you must be running as admin. Also, the 64-bit Powershell and 32-bit powershell will have different assembly resolver paths.  Closing this issue in this repo. The hybridconnection mana

[2015-01-14 03:26] #76 closed

[2015-01-14 21:48] markcowl commented on #71
Thank you for reporting this, we are considering this fix for a future release

[2015-01-14 21:51] markcowl commented on #67
Thanks for the report of this issue, assigning appropriately

[2015-01-14 21:51] markcowl commented on #68
Thanks for the report of this issue, assigning appropriately

[2015-01-14 21:52] markcowl commented on #72
Thanks for the report of this issue, assigning appropriately

[2015-01-14 21:52] markcowl commented on #73
Thanks for the report of this issue, assigning appropriately

[2015-01-14 21:52] markcowl commented on #75
Thanks for the report of this issue, assigning appropriately

[2015-01-16 15:18] pcgeek86 opened #93 "Test-AzureTrafficManagerDomainName: Please deprecate in favor of Test-AzureName"
The Azure PowerShell module (I'm running 0.8.13) has a `Test-AzureName` command that tests the availability and validity of globally-unique DNS names for:

* Azure Cloud Services
* Azure Storage Accounts
* Azure ServiceBus Namespaces
* Azure Websites

However, the Azure Traffic Manager feature has a separate command dedicated to testing the availability of globally-unique Traffic Manager DNS names

[2015-01-16 22:04] CMircea opened #95 "Errors occurring on all commands"
Executing any command results in this generic error message:

    An error occurred while sending the request.

Previous discussion:
https://github.com/Azure/azure-sdk-tools/issues/2409

[2015-01-19 15:09] doctordns opened #96 "DisplayXML for"
Get-AzureVM produces sub-optimal output by default. I updated some DisplayXML that creates better output.

See http://tfl09.blogspot.co.uk/2015/01/azure-vms-improving-display-xml.html for details of what the before/after looks like, and get the displayXML from http://pshscripts.blogspot.co.uk/2015/01/azurevmformatps1xml.html.

IF someone wants to help, I'm happy to do the fork and do the update an

[2015-01-19 15:45] ewisuri opened #97 "New-AzureSchedulerStorageQueueJob ignores StorageQueueMessage parameter"
The body of storage queue jobs created with the cmdlet `New-AzureSchedulerStorageQueueJob` is always empty, regardless of the value set for the `StorageQueueMessage` parameter.

In `Microsoft.WindowsAzure.Commands.Utilities.Scheduler.SchedulerMgmntClient::CreateStorageJob`, it looks like the created message is referencing the `Body` property from the `PSCreateJobParams` object, when it should be u

[2015-01-21 22:00] markcowl commented on #73
Yes, this is (unfortunately) by design.  You can get the correct format of 'parent resource' by using Get-AzureResource to list the resource properties.

[2015-01-21 22:00] #73 closed

[2015-01-21 22:02] markcowl commented on #54
@andybatescc Your assessment is correct, the website name has to be globally unique.  To test it out before creation, use:
[code]

To determine if the website is already in use.

[2015-01-21 22:02] #54 closed

[2015-01-27 15:11] pcgeek86 opened #115 "AzurePS 0.8.13 :: Azure Virtual Machine commands silently fail"
Say, for instance, you are running:

* Windows 8.1
* Windows Management Framework Core 5.0 November 2014 Preview (PowerShell 5.0)
* Microsoft Azure PowerShell module version 0.8.13.

And you have the following configuration:

* You authenticate to Azure using the `Add-AzureAccount` command from PowerShell, with the `-Credential` parameter, using an Azure Active Directory (AAD) Organizational Accou

[2015-01-27 23:48] StephenWeatherford opened #120 "Get-AzureAccount ignores -Name parameter"
I've tried 0.8.13 and 0.8.14, both behavior the same way.

TWO PROBLEMS:
a)	Get-AzureAccount optionally asks for a Name, but accounts only have an ID, so where am I supposed to find the name?
b)	Passing in a name to Get-AzureAccount is supposed to make it return only that account.  Instead, it appears to be ignored, as all accounts are returned no matter what name I pass in.

REPRO:

1)	Sign in to

[2015-01-28 02:51] SiriusGuo opened #122 "Microsoft Azure (China) has different endpoint"
Microsoft Azure (China) has different endpoint

[2015-01-28 05:37] matt-gibbs commented on #122
To change from the default global set of endpoints, you can update the publishsettings.xml file.
This link has some info about developing applications for the Microsoft Azure China environment.
https://msdn.microsoft.com/en-us/library/azure/dn578439.aspx

[2015-01-28 05:37] #122 closed

[2015-01-29 23:18] carlocardella opened #124 "Get-AzureRole does not respect -ErrorAction"
In my subscription I have a number of cloud services, a few of them don't have a deployment (just empty services).
If I try to collect info about the cloud service roles, even using -ErrorAction SilentlyContinue to not be blocked by the empty deployments, I still get a terminating error:

Get-AzureService | Get-AzureRole -ErrorAction SilentlyContinue

RoleName             : EventSourceInfo.WebServ

[2015-01-30 00:29] bmoore-msft opened #125 "Add-AzureAccount doesn't like credentials with &"
If I pass a creds object that has a password with an ampersand, the password seems to get munged and auth fails... try:

$securepass = ConvertTo-SecureString -string 'foobar&d' -Force -AsPlainText
$creds = New-Object System.Management.Automation.PSCredential('test@microsoft.com', $securepass)
Add-AzureAccount -credential $creds
(note using Add-AzureAccount interactively with the same set of creds

[2015-01-30 00:31] bmoore-msft opened #126 "Add-AzureAccount doesn't like credentials with &"
If I pass a creds object that has a password with an ampersand, the password seems to get munged and auth fails... try:

$securepass = ConvertTo-SecureString -string 'foobar&d' -Force -AsPlainText
$creds = New-Object System.Management.Automation.PSCredential('test@microsoft.com', $securepass)
Add-AzureAccount -credential $creds
(note using Add-AzureAccount interactively with the same set of creds

[2015-01-30 00:31] #126 closed

[2015-01-30 00:31] bmoore-msft commented on #126
dupe

[2015-01-30 00:34] bmoore-msft opened #128 "Get-AzureResourceGalleryTemplate doesn't like to filter..."
This returns a template from the gallery that has CategoryIds...
PS C:\> Get-AzureResourceGroupGalleryTemplate -Identity Microsoft.WebSiteDeploy.0.2.5-preview

This should also return that template, but doesn't...
PS C:\> Get-AzureResourceGroupGalleryTemplate | Where-Object {$_.CategoryIds -like "*show*"}

I tried a few other broader filters and get the same result.

[2015-01-30 23:47] matt-gibbs commented on #120
Thank you for reporting this issue.  We have a fix that should be included in the next release.

[2015-01-30 23:47] #120 closed

[2015-02-03 18:22] AndrewKL opened #133 "Add-AzureAccount fails with certain accounts."
when i use the Add-AzureAccount the command fails with a cryptic message

[code]
Extra Info
* The account email address is andrew.long (at) zsassociates.com.
* Tools Version 0.8.13
* A brief bit of googling returned several similar errors

http://stackoverflow.com/questions/25404430/how-to-use-microsoft-not-organizational-account-with-add-azureaccount

[2015-02-03 18:23] AndrewKL commented on #133
Update: it turns out updating to version 0.8.14 fixed the problem

[2015-02-03 18:23] #133 closed

[2015-02-03 21:17] mukaibot opened #135 "Blob Metadata"
While it's possible to upload blobs and set metadata, there doesn't seem to be a way to get blobs based on their metadata.

I'd love to be able to do something like:
[code]

It doesn't seem possible with the current release. Have I just missed something?

[2015-02-03 21:40] ntwest opened #136 "SQL v12 Preview - Start-AzureSqlDatabaseExport doesn't like the connection context"
Using the sample "Example 1" in the documentation (https://msdn.microsoft.com/en-us/library/azure/dn546720.aspx), against a v12 preview SQL Azure database server, I am getting this error:

    Start-AzureSqlDatabaseExport : Cannot bind parameter 'SqlConnectionContext'. Cannot convert the
    "Microsoft.WindowsAzure.Commands.SqlDatabase.Services.Server.TSqlConnectionContext" value of type
    "Micr

[2015-02-10 03:52] vors opened #156 "Build fails: too long absolute paths"
I cloned azure-powershell project to folder `C:\projects\dsc-azure-ext\azure-powershell`
And run `tools\Build.ps1`

[code]

Caused by file `TestNewResourceGroupWithTemplateThenGetWithAndWithoutDetails.json` in one of the subfolders.

[2015-02-11 23:34] pcgeek86 opened #164 "Get-AzureTrafficManager returns two different object types (that represent the same object)"
## Background

When you run the Get-AzureTrafficManager command, without any parameters, the objects that are returned are of the type `Microsoft.WindowsAzure.Commands.TrafficManager.Models.SimpleProfile`.

![image](https://cloud.githubusercontent.com/assets/466713/6158517/60a2782a-b208-11e4-8323-81c2f1f31500.png)

When you run the `Get-AzureTrafficManager` command with the `-Name` parameter, to r

[2015-02-11 23:50] matt-gibbs commented on #164
Thank you Trevor. Following up.

[2015-02-12 00:38] pcgeek86 commented on #93
@jtuliani Thank you for your response, and confirmation that you have taken note of this for the Azure Resource Manager module. Looking forward to seeing its implementation in ARM soon. :)

Cheers,
Trevor Sullivan
Microsoft MVP: PowerShell
http://trevorsullivan.net
http://twitter.com/pcgeek86

[2015-02-12 14:53] pcgeek86 commented on #95
This can happen if you have no Internet connection, or a poor Internet connection. I agree that the message is very confusing. Can you verify that DNS is working okay, and you can access the Azure Service Management REST API via different means (eg. simply using `Invoke-WebRequest`)? You don't necessarily need to make a successful / authenticated API call, but make sure you at least receive a vali

[2015-02-12 14:54] pcgeek86 commented on #156
I ran into the same problem. I cloned it into c:\AzurePS, and that seemed to enable the build to work successfully.

Cheers,
Trevor Sullivan
Microsoft MVP: PowerShell

[2015-02-12 14:57] CMircea commented on #95
Hello,

Yes, I was able to access the service management API. In fact, the Azure intergration in VS was working fine, just PowerShell was failing. What's more, it appears to have fixed itself a week ago :/

[2015-02-12 18:05] vors commented on #156
Thanks, Trevor! Unfortunately there are cases when you don't have control on that. I.e. cloud CI systems, like http://www.appveyor.com/

[2015-02-12 23:24] singhkay commented on #124
Thanks for the feedback @carlocardella I'll add this to the list of bugfixes

[2015-02-13 03:20] kexuelou opened #166 "Remove-AzureWebsite doesn't remove the GitHub WebHook"
I am testing with Powershell for a customer issue. I created a lot sites which linked to same repository.

After that, I run this to remove all the sites. The sites were disappeared but the WebHook URLs left on GitHub.

$i= 0
while ( $i -lt 25)
{
  Remove-AzureWebsite -Name "wzhaotest${i}" -Force
  $i = $i + 1
}

Thanks,
Wei

[2015-02-13 08:07] astaykov opened #167 "Get-AzureResourceGroupLog timestamp issue"
The Get-AzureResourceGroupLog cmdlet does not expose a time constraints, thus generates them in code. The code seems to use local Computer culture to generate time constraints. This leads to wrong dates. Here is an example produced on a computer with bg-BG locale:

PS C:\Users\Anton> Get-AzureResourceGroupLog -Name "rg-demo-rdr" -All -Debug -Verbose

DEBUG: 21:20:48 - GetAzureResourceGroupLogComma

[2015-02-13 19:39] narrieta commented on #18
@pcgeek86:

Thank you for your feedback.

Note that  Set-AzureVMDscExtension doesn't parse the configuration for dependent modules. That happens during Publish-AzureVMDscConfiguration.

We'll consider adding an option to skip this, but in the meanwhile you can work around it by creating your own ZIP file. Just add the configuration script in the root of the package and a directory for each module

[2015-02-13 22:00] singhkay commented on #115
Thanks for the feedback Trevor @pcgeek86 I'll add it to the TO FIX list

[2015-02-13 22:16] singhkay commented on #96
@doctordns This looks very good and more useful! However, I'm worried about some long names in the columns and how the output would look. Said that, we'd be happy to accept a PR and test it out and see if all these columns work or do we remove one of them.

P.S. Subscribed to your blog, will be reading in the future :)

[2015-02-13 22:23] singhkay commented on #60
@lizzha Can you try this again? It might be the case that the image had not completed replication to East Asia yet.

[2015-02-13 22:24] singhkay commented on #65
@SherifTalaat Was there any VM deployed to this affinity group? Can you paste the -Debug log and see what's being returned from the API?

[2015-02-15 11:01] doctordns commented on #96
I can write the xml, and know how to update the module manifest, were this a simple module.
Care to provide some assistance?

As to over long column names, which ones., redoing the xml itself is easy!  I just don't know where to to
Start.

Thomas

[2015-02-16 08:45] satonaoki opened #170 "Get-AzureVM : The DateTime represented by the string is out of range"
http://blog.scottscovell.com/2015/02/get-azurevm-the-datetime-represented-by-the-string-is-out-of-range/

[2015-02-16 12:43] SherifTalaat commented on #65
@singhkay Yes, there is VMs deployed to this affinity group. Actually, I tried another Affinity Group but still get the same.

PS > Get-AzureAffinityGroup -Name CoExAffinityGroup -Debug

DEBUG: 12:39:39 PM - GetAzureAffinityGroup begin processing with ParameterSet '__AllParameterSets'.
DEBUG: 12:39:42 PM - using account id 'A4EB9D27766DDC3574F69F61C852C4ED10033CB4'...
VERBOSE: 12:39:44 PM - Begin

[2015-02-17 02:14] satonaoki commented on #170
Fixed.

http://azure.microsoft.com/en-us/status/#history

2/16 - Virtual Machines \ Service Management - Multiple Regions - Advisory

Starting 14 Feb, 2015 at 18:00 UTC to 16 Feb, 2015 at 21:00 UTC, a limited subset of customers with Virtual Machines deployed in Central US, East US, East US 2, West US, North Europe, West Europe, East Asia, Southeast Asia, Japan West, Brazil South, Australia South,

[2015-02-17 02:14] #170 closed

[2015-02-17 15:50] SherifTalaat opened #171 "Get-AzureAccount Parameters vs. Properties consistency"
Get-AzureAccount cmdlet returns a property Id which has the name of the account "abc@company123.com". However, Get-AzureAccount has -Name parameter used to retrieve the account "abc@company123.com" which is totally confusing and inconsistent. The same parameter -Name with Remove-AzureAccount which trigger an error when to pipe Get-AzureAccount to Remove-AzureAccount
![dd](https://cloud.githubuserc

[2015-02-17 23:51] astaykov commented on #167
this issue is fixed by latest PowerShell module update (0.8.14)
Thanks!

[2015-02-18 20:06] #167 closed

[2015-02-18 20:09] singhkay commented on #96
Oh I thought you already had one ready to send. I'm not sure if we have instructions on how to update the manifest, adding @huangpf for that

But I see that our xplat cli is already doing something better, so I'll take this as a feature request for us to do
![1](https://cloud.githubusercontent.com/assets/6164178/6255698/030232be-b767-11e4-9f53-dc3060d83dda.png)

[2015-02-18 21:40] pcgeek86 commented on #171
I think what might be an appropriate solution would be:

1. Add a new parameter set called something like `PipelineInput` that has a parameter called `-InputObject` to the `Remove-AzureAccount` command
2. Strongly type the `-InputObject` parameter as a `Microsoft.Azure.Common.Extensions.Models.PSAzureAccount`
3. Ensure that the `-InputObject` parameter has `ValueFromPipeline` set to `True`
4. Insi

[2015-02-19 03:15] m-moris opened #175 "Set-AzureVMImageDataDiskConfig can not add multiple data disks."
I'm trying to add the VM image with the following script. However, disk1 configuration was replaced from disk2 configuration.
Because, Set-AzureVMImageDataDiskConfig search for existing disk configuration by disk name. If AddAzureVMImageParamSet mode, it search by MediaLink?

[code]

Thanks.

[2015-02-19 19:09] KeithHill commented on #13
I just tested this as well....with 0.8.13 and I have the issues as well.  Any updates on this?

[2015-02-19 19:38] pcgeek86 opened #178 "Add PowerShell command to configure Azure Automation service plan & retrieve usage"
The updates to the Azure PowerShell module surrounding the Azure Automation feature are great! A couple of additional commands that would be useful, to help manage customer environments would include:
- A PowerShell command to retrieve the number of Automation minutes used in the current month
- A PowerShell command to configure the Azure Automation service plan (**Free** or **Basic**)

Cheers,
Tr

[2015-02-19 19:58] MaxTrinidad commented on #13
It has been fixed on 0.8.14 (2/12/2015)
Version   : 0.8.14
Title     : Microsoft Azure PowerShell with Microsoft Azure SDK
Published : 2/12/2015 7:00:00 AM
Author    : Microsoft Corporation

PS C:\>
PS C:\>
PS C:\> $x = Get-AzureVM | Out-GridView -PassThru;
PS C:\> $x.Name
MyTestSQLServer
:)

Max TrinidadMicrosoft MVP – PowerShell (7yrs)SAPIEN Technologies MVP 2015
  Florida PowerShell User Group:

[2015-02-19 20:15] pcgeek86 opened #180 "Get-AzureAutomationAccount doesn't throw an exception for an invalid Azure location"
## Scenario

When you run the Get-AzureAutomationAccount command, and specify an invalid value for the `-Name` parameter (eg. a non-existent account), an exception is thrown, pointing out that the specified account name does not exist.

However, when you specify the `-Location` parameter, and pass in an invalid Azure location, **or** no accounts exist in the specified region / location, then no ex

[2015-02-20 11:04] doctordns commented on #13
Where do we download 0.8.14?

From: MaxTrinidad [mailto:notifications@github.com]
Sent: 19 February 2015 19:58
To: Azure/azure-powershell
Cc: Thomas Lee
Subject: Re: [azure-powershell] Possible breaking change Get-AzureVM breaks pipeline with Out-Gridview (#3047) (#13)

It has been fixed on 0.8.14 (2/12/2015)
Version : 0.8.14
Title : Microsoft Azure PowerShell with Microsoft Azure SDK
Published :

[2015-02-20 15:31] pcgeek86 opened #183 "*-AzureAutomationVariable commands have a boolean parameter"
The New-AzureAutomationVariable command has a Boolean parameter named `-Encrypted`. From a PowerShell perspective, it seems more user friendly to change the `-Encrypted` parameter from a Boolean type to a switch parameter, which is effectively the same thing.

Switch parameters can still be explicitly set to `$true` or `$false` using the following syntax:

[code]

Or
[code]

In cases where users p

[2015-02-23 01:10] clamanna opened #186 "New-AzureRoleAssignment uses ObjectId instead of principalId for parameters"
The New-AzureRoleAssignment cmdlet uses ObjectId instead of principalId -- it should match the terminology used in the API & other documentation:

https://msdn.microsoft.com/en-us/library/azure/dn906887.aspx

[2015-02-24 13:28] NehaRaje opened #189 "Select-AzureSubscription erases the DefaultAccount details from AzureSubscription"
SubscriptionId            : xxx
SubscriptionName          : xxx
Environment               : xxx
SupportedModes            : xxx
DefaultAccount            : 6C59C0157E9E7A402B8A743550F48E76BC92509
Accounts                  : {6C59C0157E9E7A402B8A743550F48E76BC92509}
IsDefault                 : True
IsCurrent                 : True
CurrentStorageAccountName :
TenantId                  :

PS C:\> Sel

[2015-02-24 16:22] matt-gibbs commented on #189
Dev branch

[2015-02-24 17:16] stankovski commented on #189
Fix: https://github.com/Azure/azure-powershell/pull/190

[2015-02-24 23:41] clamanna opened #192 "Print out nested template status for New-AzureResourceGroupDeployment"
If a template is submitted to New-AzureResourceGroupDeployment, and it has a included / nested template, the cmdlet does not show the status of the indivdiual resources of that underlying template.

That means if the nested template is particularly big (e.g. 10 VMs or 100 SQL databases), the PoSH window hangs on just the "Nested Template" step for a long time without feedback.

We expect that deve

[2015-02-25 08:51] wangzq opened #193 "ConflictError: The extension ID xxx-PaasDiagnostics-Production-Ext-0 is already in use for this deployment"
Where "xxx" is the role name. Repro steps:
1. Create a new cloud service.
2. Deploy a web role to Production slot or first deploy to Staging then swap.
3. Enable diagnostics extension using `Set-AzureServiceDiagnosticsExtension` in Production slot.
4. Deploy to Staging slot without enabling diagnostics extension.
5. Swap, notice now the Staging has diagnostics enabled while Production doesn't have

[2015-02-25 10:58] wangzq commented on #193
Update: I managed to debug the code and noticed that in following code the `availableId` will always return the first id:

        public ExtensionConfiguration InstallExtension(ExtensionConfigurationInput context, string slot, Microsoft.WindowsAzure.Management.Compute.Models.ExtensionConfiguration extConfig)
        {
            ExtensionConfigurationBuilder builder = GetBuilder(extConfig);

[2015-03-02 18:17] ivanz commented on #136
Related: https://github.com/Azure/azure-sdk-tools/issues/3086

[2015-03-03 18:51] jdhuntington opened #217 "New-AzureWebsite should let me specify a SKU"
I have consumed my allocation of free-tier websites, and now each invocation of `New-AzureWebsite` fails.

I would like to create a new `Basic` or `Standard` website using `New-AzureWebsite`.

[2015-03-03 18:59] jdhuntington opened #218 "New-AzureWebsite should let me connect to a private GitHub repository"
I'd like to create a new azure website from a private github repository that belongs to an organization that I'm a member of.

I ran the following transcript, and instead of the website being created, I was prompted to pick from _only public repositories_ that belong to me or my organizations.

I would also like the ability to specify the branch of the github repository that the website should dep

[2015-03-04 01:24] pcgeek86 opened #223 "Get-AzureResource: Resource does not exist?"
# Problem

## Environment Details

* Microsoft Surface Pro 3
* Windows 8.1 Update 1
* Windows Management Framework (WMF) Core 5.0 February 2015 Preview
* Azure PowerShell module 0.8.14
* Authenticating using an Azure Active Directory (AAD) account

## Problem Description

I'm trying to use the `Get-AzureResource` command to retrieve the resource properties for an Azure Website. I currently have an

[2015-03-04 01:36] pcgeek86 opened #224 "Azure Websites commands missing from Azure Resource Manager"
# Story

Consider the following scenario:

# Problem Statement

The latest version of the Microsoft Azure Resource Manager PowerShell module does not have any commands available to manage Azure Websites. This can be verified by using the core PowerShell command `Get-Command`.

[code]

# Recommendation

Please add Azure Websites functionality to the Microsoft Azure Resource Manager PowerShell modul

[2015-03-05 00:08] pcgeek86 opened #230 "Get-AzureResource: Doesn't return resources based on tags"
In the Azure Resource Manager module, version 0.8.14, when I use the `Get-AzureResource` command with only the `-Tag` parameter, no Azure resources are returned, even though I have resources tagged with the one I specify.

[code]

As you can see, in the Azure Preview Portal, I created an Azure Website, and added a tag `name = Trevor`.

![image](https://cloud.githubusercontent.com/assets/466713/651

[2015-03-05 20:10] pcgeek86 opened #235 "0.8.14 :: Set-AzureResource Error "UnsupportedRequestContent: Request content is not well formed or supported.""
When I try to call `Set-AzureResource`, to change the `enabled` property on a `microsoft.insights/autoscalesettings` resource, I get an error.

![image](https://cloud.githubusercontent.com/assets/466713/6513522/7618880a-c330-11e4-8eb9-3b590af7076b.png)

How can I successfully use `Set-AzureResource` to change properties on Azure Resources through the Azure Resource Manager REST API?

Cheers,
Trevo

[2015-03-05 20:16] pcgeek86 opened #236 "0.8.14 :: Set-AzureResource Error "UnsupportedRequestContent: Request content is not well formed or supported.""
When I try to call `Set-AzureResource`, to change the `enabled` property on a `microsoft.insights/autoscalesettings` resource, I get an error.

![image](https://cloud.githubusercontent.com/assets/466713/6513522/7618880a-c330-11e4-8eb9-3b590af7076b.png)

Here's the code I'm trying to use:

[code]
How can I successfully use `Set-AzureResource` to change properties on Azure Resources through the Azur

[2015-03-06 00:41] pcgeek86 commented on #230
I just figured out that I was using the wrong syntax for this. Instead of the HashTable containing a single element, it needs to contain two elements: `Name` and `Value`. Could this command be simplified to use a single element in the HashTable insetad?

If that isn't an option, can we at least perform some validation to ensure that the HashTable matches the expected input? As of today, it silentl

[2015-03-06 01:37] yangl900 commented on #236
Hi Trevor,

You should always provide the full properties set to Set-AzureResource. Basically use Get-AzureResource to fetch current properties, modify, and use Set-AzureResource to update. Please see the samples here:
https://msdn.microsoft.com/en-us/library/dn654578.aspx

thanks,
Anders

[2015-03-06 03:21] kexuelou opened #239 "Get-AzureResrouceGroup returned not-exited resource"
PS C:\Windows\system32> get-AzureResourcegroup -name Default-Web-EastAsia

ResourceGroupName : Default-Web-EastAsia
Location          : eastasia
ProvisioningState : Succeeded
Tags              :
Permissions       :
                    Actions  NotActions
                    =======  ==========
                    *

Resources         :
                    Name

[2015-03-06 03:24] kexuelou opened #240 "related resources should be deleted as well when delete a website"
When create a site, a related Microsoft Insights resource is created by automatically. this need to be removed when deleting the site.

PS C:\Windows\system32> get-AzureResourcegroup -name Default-Web-EastAsia

ResourceGroupName : Default-Web-EastAsia
Location          : eastasia
ProvisioningState : Succeeded
Tags              :
Permissions       :
                    Actions  NotActions

[2015-03-06 03:26] kexuelou opened #241 "Add feature to list specific type of resources"
Need a feature to list all resources of a specified type like follow command. Unfortunately, it requires a Name parameter nowadays.

get-AzureResource -ResourceGroupName  Default-Web-EastAsia -ResourceType  Microsoft.Web/serverFarms  -ApiVersion 2014-04-01 -Verbose

[2015-03-06 15:31] alejandragutierrez opened #243 "Select-AzureSubscription mixed subscriptions between sessions."
Hello,

Select-AzureSubscription is not working as it was on 0.6.19. We have a code that execute PowerShell code (using Azure modules) from C#, but we run multiple threads in different Azure Subscriptions at the same time.

When we contact Azure support they verify this, they told us the following:

In Azure PowerShell 0.6.19, current selected subscription is stored as a PowerShell session variabl

[2015-03-06 18:04] pcgeek86 commented on #236
Anders,

Thanks for the feedback. The help documentation for the `-PropertyObject` parameter for `Set-AzureResource` does not indicate this. Can this documentation get updated?

[code]

Cheers,
Trevor Sullivan
Microsoft MVP: PowerShell

[2015-03-06 18:29] NaveenGoli commented on #217
New ARM API PowerShell cmdlets are coming out this month you can use them to achieve the same.

[2015-03-06 18:43] pcgeek86 opened #244 "0.8.14 :: Select-AzureSubscription error "must specify a non-null subscription name""
The `Select-AzureSubscription` command throws an exception when you specify an **invalid** subscription name, saying that the subscription name must be non-null. The exception message should be corrected to suggest to the end user that the subscription name is invalid, rather than being null, because clearly, it is not.

![image](https://cloud.githubusercontent.com/assets/466713/6531332/6d937d44-c

[2015-03-09 14:42] ccorsano commented on #193
Hi !
I am interested in this issue being fixed as well, right now we have to cleanup the diagnostics extension  and reinstall it on each deployment, which basically double our deployment time.

@wangzq I haven't got the time to test it, but isn't the core issue that this line
[code]

only checks for the target slot of the extension ?

It should check for all slots on the service, because in my cas

[2015-03-09 19:37] pcgeek86 opened #248 "0.8.14 :: -ApiVersion parameter should be non-mandatory"
# Background

In the issue linked to below, I ran into an issue where `Get-AzureResource` was failing, because I had no clue which API version to submit as part of the request. Each Resource Type, in each Resource Provider, in the Azure Resource Manager REST API has a unique set of supported API versions.

https://github.com/Azure/azure-powershell/issues/223

The other `*-AzureResource` commands a

[2015-03-11 02:13] GavinOsborn opened #253 "Get-AzureServiceAvailableExtension -ExtensionName 'PaaSDiagnostics' downloads a blank file"
I've been following [this](http://azure.microsoft.com/en-us/documentation/articles/cloud-services-dotnet-diagnostics/#worker-role) guide to using the new Azure Diagnostics extension.

In step 4 I am asked to run the following command:
[code]

The command executes successfully but the xsd file that is created is blank.

I have the latest Azure Powershell version from the Web Platform Installer.

Pl

[2015-03-11 15:10] chwill commented on #243
Stateless profiles are coming, do you believe this would address your issue? https://github.com/Azure/azure-powershell/wiki/Proposed-Design-Stateless-Azure-Profile

[2015-03-11 19:11] #175 closed

[2015-03-12 00:12] vors opened #257 "Remove-AzureVM*Extension cmdlets doesn't work"
This is a generic problem of `Remove-AzureVM*Extension` cmdlets. I will talk about few of them.

`Remove-AzureVMDSCExtension` follows the pattern for all other extension cmdlets and inherit from `RemoveAzureVMExtension` class. But `Remove-AzureVMDSCExtension` [doesn't work as expected](https://connect.microsoft.com/PowerShell/feedback/details/1162331/remove-azurevmdscextension-does-not-seem-to-wor

[2015-03-12 17:29] dprothero opened #259 "New-AzureWebsite throws error when called with -Git option"
Version 0.8.14

I want to automate creation of an Azure Website and am using the following PowerShell command:

[code]

It creates the website just fine, but at the end it throws the following error:

[code]

This error seems to be related to the -Git parameter. If I leave off the -Git parameter, it succeeds without the error. With the -Git parameter, even though I get the error, the Git repositor

[2015-03-13 21:10] markcowl commented on #224
@pcgeek86 Version 0.8.15 has a small set of websites cmdlets for ARM, which will grow over time

[2015-03-13 21:10] #224 closed

[2015-03-13 21:13] markcowl commented on #223
@pcgeek86 Hi Trevor, the plan over time is to have per-RP cmdlets which return strongly typed objects.  The *Resource cmdlets will return property bags by design - this allows for both a strongly-typed and a flexible experience with ARM.  I think the referenced bug #248 should solve the issue at hand here.  Closing fro the more specific bug, please reopen if you disagree.

[2015-03-13 21:13] #223 closed

[2015-03-13 21:15] markcowl commented on #218
@jdhuntington AFAIK, this is jus tnot supported in the API.  I believe it is intentional that you cannot use private github repositories for websites.  Assigning to the websites time for comment, anyway.

[2015-03-13 21:16] markcowl commented on #217
@jdhuntington new ARM cmdlets are out, so this functionality should be available.

[2015-03-13 21:16] #217 closed

[2015-03-13 21:31] markcowl commented on #230
@pcgeek86 Unfortunately, Tag is overloaded in the API - it is used for both tagging somethign with a single value (i..e 'Important') or two values (i.e. Priority=Important).  For this reason, it's represented as the API represents it.  It would not be a bad overload to provide some syntactic sugar over the API, however.  Assigning to the appropriate team to look at./

[2015-03-13 21:38] markcowl commented on #241
@kexuelou Of course, you can always do this by listing all resources and filtering.  Assigning to the service team.

[2015-03-13 21:39] markcowl commented on #240
@kexuelou This is what resource groups are for - the resource group is meant as the unit of management for your application

[2015-03-13 21:39] #240 closed

[2015-03-13 21:42] markcowl commented on #239
@kexuelou Can you check the api version?  it should be 2014-11-01

[2015-03-13 21:48] markcowl commented on #243
Stateless profile is here.  see the documentation on the wiki:  https://github.com/Azure/azure-powershell/wiki/Proposed-Design-Stateless-Azure-Profile

You should be able to run the commands using two different profiles without interference.

[2015-03-13 21:48] #243 closed

[2015-03-13 21:49] markcowl commented on #244
@pcgeek86 Thanks for the feedback.  Scheduling this for an upcoming sprint

[2015-03-13 21:52] markcowl commented on #235
@pcgeek86 I believe this is the same issue already raised - you need to provide the full configuration, not just the property you want to change.  Cllsing becasue I think this is covered by the existing issues.  Please reopen if you disagree.

[2015-03-13 21:52] #235 closed

[2015-03-13 22:00] markcowl commented on #248
+1

[2015-03-13 22:01] markcowl commented on #257
@vors thanks for the feedback, assigning to the appropriate service team

[2015-03-13 22:03] markcowl commented on #259
@dprothero Are you running the cmdlet from inside a git repo?  I suspect one of the URIs in your remotes is causing an issue.  Assigning to the feature team.

[2015-03-13 22:20] markcowl commented on #192
@clamanna  Thanks for the ffedback.  Assigning to the appropriate team for triage (yours, I believe :-)

[2015-03-13 22:23] markcowl commented on #166
+1

[2015-03-13 22:25] markcowl commented on #156
@vors This should be better - unfortunately, there is no absolute fix for all cases

[2015-03-13 22:25] #156 closed

[2015-03-14 01:43] vors commented on #156
One possible way to reduce problems for future: add Unit tests to verify max length of filenames and set it to something reasonable, like 150.

[2015-03-14 05:21] pcgeek86 commented on #223
@markcowl Yes, I eventually discovered that the incorrect `-ApiVersion` was causing this error. For customers who are new to ARM, they probably need to be better informed about how to find the correct `-ApiVersion`, and the fact that they even have to do it in the first place. The more documentation around this topic, the better. Thanks!

Thanks for the note on the strongly-typed objects. Looking

[2015-03-14 05:22] pcgeek86 commented on #235
@markcowl The issue was resolved by providing a complete list of properties for the resource, rather than just the "patch." However, it would be really cool if ARM supported the HTTP PATCH verb, so you could provide partial updates to ARM resources. Where is the best place to file feedback items on the ARM REST API itself?

Thanks for your time.

Cheers,
Trevor Sullivan
Microsoft MVP: PowerShell

[2015-03-14 05:56] matt-gibbs commented on #235
@pcgeek86 File them in the .Net repo  https://github.com/Azure/azure-sdk-for-net
It's still a level of indirection away, but it'll work. For the PATCH verb, no need to file. It's an ongoing discussion where we are looking at the overall approach for dealing with sparsely populated objects for the client models as well as the REST API support.

[2015-03-14 06:03] matt-gibbs commented on #223
@pcgeek86 We are following up on ways to make the API versions more readily discovered, or potentially defaulted, or at least improve the error with a redirect to more info.

[2015-03-15 08:43] matt-gibbs commented on #95
@CMircea  Closing this for now. If you or @pcgeek86 see it again, please re-open and we'll have you grab some log data to see if we can identify the problem.

[2015-03-15 08:43] #95 closed

[2015-03-15 08:45] matt-gibbs commented on #125
Thanks @bmoore-msft . Following up.

[2015-03-15 08:47] matt-gibbs commented on #93
Closing this issue. It should be covered in the upcoming ARM commands.

[2015-03-15 08:47] #93 closed

[2015-03-16 20:48] markcowl commented on #189
@NehaRaje This should be fixed.  Please reopen if you see a recurrence.

[2015-03-16 20:48] #189 closed

[2015-03-16 20:51] markcowl commented on #171
@SherifTalaat We didn't see any scenarios for piping accounts between the cmdlets, which is why there is this mismatch. Meanwhile Get-AzureSubscription | Remove-AzureSubscription is the right way to do this - subscription is still the primary key into the profile.

Meanwhile we will consider allowing piping for a future release

[2015-03-17 04:51] NehaRaje commented on #189
Yes I did test it.
Sure. Thanks!

[2015-03-17 09:44] Karamell opened #267 "Set-AzureServiceDiagnosticsExtension fails if servicenames are two letters long"
`Set-AzureServiceDiagnosticsExtension -servicename ab `
fails with
`The storage account name 'ab' is invalid.  Storage account names must be between 3 and 24 characters in length`

even if the storagename is `abcdefg`

It seems like the validation is done on the servicename instead of the storagename parameter

[2015-03-18 01:45] clamanna opened #270 "New-AzureResourceGroupDeployment handles bad inputs / parameters in a confusing way"
Givung the cmdlet the ResourceGroupName parameter and nothing else yields:

 PS C:\WINDOWS\system32> New-AzureResourceGroupDeployment -ResourceGroupName testkay
 New-AzureResourceGroupDeployment : Accessed JArray values with invalid key value: "identity". Array position index expected.
 At line:1 char:1
 + New-AzureResourceGroupDeployment -ResourceGroupName testkay
 + ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

[2015-03-18 16:00] SirEel opened #273 "WebsiteContextBaseCmdlet.ExecuteCmdLet() doesn't check if GitWebsite is null"
Executing Get-AzureWebJob without supplying a -Name parameter can cause an unhandled exception, "Git not found. Please install git and place it in your command line path."  See http://stackoverflow.com/questions/29111804/powershell-get-azurewebsitejob-error-git-not-found/29123370#29123370

This is because WebsiteContextBaseCmdlet.ExecuteCmdlet() tries to supply a value for -Name by invoking GitWeb

[2015-03-19 17:31] pcgeek86 opened #277 "Get-AzureSubscription makes PowerShell ISE window alternate focus"
# Scenario

* Dell Latitude E6430
* Windows 8.1 with Update (fully patched)
* Windows Management Framework (WMF) Core / PowerShell February 2015 Preview
* Azure PowerShell module 0.8.15.1

# Problem

When calling the `Get-AzureSubscription` command inside the PowerShell ISE, the ISE window loses focus, and regains focus. It repeats this seemingly once for each Azure subscription that the account h

[2015-03-19 21:44] bachwehbi opened #280 "Error when running Get-AzureSBAuthorizationRule"
When running Get-AzureSBAuthorizationRule with EntityName and EntityType  I get the following error

[code]

This works

[code]

Same error for "New-" command.

[2015-03-20 00:41] eissi opened #282 "NSG commands accepts arguments in case-sensitive for subnet names"
Hi, other Azure powershell cmdlets handle subnet names in case-insensitive.
But, NSG commands accept subnet name arguments in case sensitive.

[2015-03-20 04:34] carlocardella opened #283 "Sql Azure SizeMB always zero"
The SizeMB properly for a Sql Azure version 12.0 database is always zero even if the database is a few GB large

Get-AzureSqlDatabase -ServerName xxxxx -DatabaseName xxxxx | fl *

Id                                         : 6
Name                                       : xxxxx
ServiceObjectiveId                         : xxxxx
AssignedServiceObjectiveId                 : xxxxxx
ServiceObjectiveAss

[2015-03-21 17:49] bunceg opened #290 "New-AzureSBNamespace doesn't allow creation of namespaces created by mistake in other subscription"
1) Select a subscription
2) Create a service bus namespace "XXXX"
3) Realise the subscription hadnt been changed properly
4) Delete the service bus
5) Change the subscription
6) Create a service bus namespace "XXXX"

Error <Code>400</Code><Detail>The namespace name is previously used in another project and has been deleted less than one week.</Detail></Error>

This may come from Azure and not the

[2015-03-23 15:57] Seohol opened #291 "Cmdlet "Set-AzureServiceExtension" checks "Service" as storage account name."
if you have 1-2 letters domain (like a.cloudapp.net), Set-AzureServiceExtension doesn't works

Set-AzureServiceExtension : The storage account name 'a' is invalid.  Storage account names must be between 3 and 24 characters in length and use numbers and lower-case letters only.

[2015-03-23 20:59] sbtron commented on #253
This is working now. There was an issue with the extension registration which was resulting in the powershell not returning the public schema. The extension registration has been updated so the powershell successfully returns the xsd.

Thanks

[2015-03-23 22:07] Rick-Anderson opened #292 "$s = Get-AzureSubscription with multiple subscriptions has indexing problems"
On VMs with only one subscription, the following code works fine:
PS C:\TfsOnline\Altostratus\PowerShell> $s = Get-AzureSubscription -Current
PS C:\TfsOnline\Altostratus\PowerShell> $s.Accounts[1].id
B74D7681B47B7277D21840616DA059AE59316202

On machines with two subscriptions, the same code I need to change the index to Zero from one
PS C:\tfsOnline\Altostratus\PowerShell> $s.Accounts[1].id
rikand

[2015-03-23 22:16] janegilring opened #293 "Get-AzureResource returns InvalidFilterInQueryString when specifying a valid value to the -Tag parameter"
Get-AzureResource example from the help-system:

    --------------------------  Example 5: Get a resource by its tag  --------------------------
 PS C:\>Get-AzureResource -Tag @{Name="Department";Value="IT"}
This command gets resources that have a tag named "Department with a value of "IT".

Based on the example, shouldn`t the following work?

Get-AzureResource -ResourceType Microsoft.ClassicComp

[2015-03-25 14:50] trondhindenes opened #300 "Feature request: Add a -wait parameter to vm operations"
Because of the limitation of cloudservices and one operation at a time, currently we have to build tons of error-checking into our scripts. This becomes ugly for scripts which run in parallell. Please add a "wait" parameter to the start/stop/set etc azurevm cmdlets so that we don't have to perform excessive error-handling/retries (essentially this would allow us to always wait for an operation whi

[2015-03-26 13:17] Karamell commented on #291
Is this the same as issue #267 ?

[2015-03-27 19:13] pcgeek86 opened #307 "Remove-AzureVM does not support the -WhatIf parameter"
# Environment
- Windows 8.1 client
- Azure PowerShell module 0.8.15.1
- Windows Management Framework (WMF) Core 5.0 February 2015 Preview
# Issue

The `Remove-AzureVM` command is potentially highly destructive, and does not support the `-WhatIf` parameter.

![image](https://cloud.githubusercontent.com/assets/466713/6875161/90d13e7c-d482-11e4-95f1-248de64390d2.png)
# Recommended Action

The `Remove

[2015-03-28 02:21] clamanna opened #308 "New-AzureResourceGroupDeployment casts string parameters in TemplateParameterObject incorrectly"
When using the TemplateParameterObject param of New-AzureResourceGroupDeployment, rather than the dynamic cmdlet parameters, this issue appeared (module version 0.8.13).

When the template parameter object looked like $tpo = @{ P = $v } where $v was a string ($v = 'value'), this would fail template validation on the server side, saying the value for parameter P was not valid. This was fixed by cas

[2015-03-28 02:43] clamanna opened #309 "TemplateParameterObject makes cmdlet omit the error outputs for New-AzureResourceGroupDeployment"
When using the TemplateParameterObject param of New-AzureResourceGroupDeployment, rather than the dynamic cmdlet parameters, this issue appeared (module version 0.8.13).

The cmdlet stopped seeing error messages emitted to the PS host.

For example, the message "New-AzureResourceGroupDeployment : 5:27:20 AM - Resource ... with message 'Operation results in exceeding quota
 limits of Core. Maximum

[2015-03-30 16:08] markcowl commented on #244
This will be fixed in the 0.8.16 version due out this week - you can check the fix in the release or dev branch.  Please reopen if you see a recurrence.

[2015-03-30 16:08] #244 closed

[2015-03-30 16:20] markcowl commented on #47
Closing as obsolete. Please open a new issue if this recurs

[2015-03-30 16:20] #47 closed

[2015-03-30 16:22] carlocardella opened #310 "Get-AzureSubscription, TAB completion does not work after pipeline"
I can repro this problem on two different machines (both Windows 8.1):
Name : Windows PowerShell ISE Host
Version : 4.0
InstanceId : f3c1119d-3c32-432d-a235-5b3755fe9979
UI : System.Management.Automation.Internal.Host.InternalHostUserInterface
CurrentCulture : en-US
CurrentUICulture : en-US
PrivateData : Microsoft.PowerShell.Host.ISE.ISEOptions
IsRunspacePushed : False
Runspace : System.Management

[2015-03-30 16:55] markcowl commented on #277
@pcgeek86 I believe this is by design.  We are updating the subscription list from ARM when Get-AzureSubscription is executed, and the remote call makes the window lose focus.

[2015-03-30 16:55] #277 closed

[2015-03-30 19:44] pcgeek86 commented on #277
@markcowl But why does the PowerShell window lose and regain focus? That is "by design?"

I'm trying to understand how this is desirable behavior. Can you help explain?

Cheers,
Trevor Sullivan
Microsoft MVP: PowerShell

[2015-03-30 19:44] pcgeek86 commented on #244
@markcowl Thanks! Great work!

Cheers,
Trevor Sullivan
Microsoft MVP: PowerShell

[2015-03-30 19:46] pcgeek86 commented on #277
@markcowl I can't re-open this issue myself. Can you please re-open it?

Looks like I can't re-open it due to the way GitHub permissions work: http://stackoverflow.com/questions/21333654/how-to-re-open-an-issue-in-github

Cheers,
Trevor Sullivan
Microsoft MVP: PowerShell

[2015-03-30 21:21] markcowl commented on #292
@Rick-Anderson Thanks for reporting this, we are investigating

[2015-03-31 13:35] Morritt opened #311 "Possible Management Certificates issue?"
Not sure if this is how it's being used, or a genuine issue, but it only surfaced on installing the latest version of Azure PowerShell.  When using a management certificate without already connecting to Azure, the AzureProfile.json file is generated by devoid of any subscriptions or accounts:

When attempting to set or get a subscription, PowerShell responds with `Set-AzureSubscription : The subsc

[2015-03-31 13:47] Morritt commented on #311
To replicate (after clearing out Windows Azure Powershell folder), simply running this results in an error (and the .json above):

Running Add-AzureAccount (fine), I can get the subscription ok (DefaultAccount and Accounts show my Azure account).

Running the above script once more, also works, and the DefaultAccount is the cert thumbprint, and it lists both the thumbprint and my Azure account in

[2015-03-31 20:46] markcowl commented on #311
@Morritt Thanks for reporting, we'll take a look.  You can achieve this using the New-AzureProfile cmdlet as a workaround

[2015-04-02 16:42] mattcanty opened #317 "Cannot find 'configure site diagnostics'"
- Website
  - ...
  - Diagnostics
    - Configure **site** and application diagnostics
    - ...

I'm looking for the cmdlets for the feature listed above. I have been able to set up application logs successfully. However I am hitting a roadblock in find the corresponding cmdlet for 'site diagnostics'.

Expected parameters include:
- Web server logging: Off/Storage/File System
- Detailed error mes

[2015-04-03 06:52] markcowl commented on #125
@bmoore-msft This is actual a parameter parsing issue in PowerShell - ampersand is read as an operator.  You should be able to escape it with the caret (^)

i.e. 'foobar^&d'

[2015-04-03 06:52] #125 closed

[2015-04-05 20:24] cmcknz77 opened #320 ".ps1xml files not signed - refuses to run in allsigned environment and Installation woes"
Hi,
I'm in an allsigned environment.  This means that when I or any of my colleagues attempt to install these cmdlets, the installation occurs successfully but the module refuses to install or errors on installation because of all the unsigned .ps1xml files.  I have been able to work around this by signing the files using my own local machine certificate in order to get the module to run, but that

[2015-04-06 21:46] rjmax opened #322 "New-AzureResouce doesn't support global proxy types"
Was trying to use the generic resource CRUD cmdlets to create a policy assignment.  I know there are assignment specific cmdlets – not the point here :)

First, I tried to run the generic new-azureresource cmdlet, which requires a location field.  Providing no location causes the cmdlet to throw client side; providing a location causes a deserialization error.

Additionally, I am unable to get any

[2015-04-08 18:42] hovsepm commented on #311
Unable to repro on Azure Powershell 0.8.16. Here are the steps that we did:

$cert = Get-ChildItem -path cert:\LocalMachine\My | where {$_.Thumbprint -eq "xxxxx" }
Set-AzureSubscription -SubscriptionName "Azure SDK sandbox" -Certificate $cert -SubscriptionID xxxxxxxxx

This created the AzureProfile.json with valid Subscription and Accounts variables set.
Please add exactly what steps are you follo

[2015-04-10 03:56] pcgeek86 opened #325 "Deleting many Azure VMs results in error"
Recently, I performed a stress test of sorts, where I attempted to create more than 50 virtual machines in a single Azure Cloud Service container. I understand that this isn't supported, but I wanted to test the behavior if it were attempted. After performing the test, I needed to remove all of the Azure VMs that I had created.

When I try to delete many Azure Virtual Machines, using the `Remove-A

[2015-04-10 17:59] masisley opened #327 "When attempting to open a runspace, Azure Powershell attempts to load ServiceManagementStartup from the incorrect folder and fails"
As emailed to David Justice, when opening a runspace, Azure Powershell fails to find the ServiceManagementStartup.ps1 folder in ExpressRoute (it's acutally in SQL):

        static void Main(string[] args)
        {
            var sessionState = InitialSessionState.CreateDefault();
            sessionState.ImportPSModulesFromPath("C:\\Program Files (x86)\\Microsoft SDKs\\Azure\\Powershell\\Servic

[2015-04-12 20:04] pcgeek86 opened #328 "0.8.16.1 Preview ::Deserialized StorageContext can't be converted to StorageContext"
When I try to pass a `StorageContext` object into a PowerShell Background Job as an argument, I am getting an error that the deserialized object cannot be converted back into a `StorageAccount`. Is this behavior intentional from a design perspective, or can this be fixed somehow?

"Deserialized.Microsoft.WindowsAzure.Commands.Common.Storage.AzureStorageContext" to type "Microsoft.WindowsAzure.Comm

[2015-04-12 22:15] singhkay opened #329 "Get-AzureSubscription -ExtendedDetails doesn't show TenantId information"
Get-azuresubscription without the –extendeddetails attribute I see the TenantId

TenantId                  : 72f9182f-86f1-41af-92ab-2d7cd112db47

If I do extendeddetails it doesn’t show the tenantId.  This seems like a bug.

TenantId                   :

[2015-04-13 04:33] pcgeek86 commented on #329
I can confirm the same behavior. When you use the `-ExtendedDetails` parameter with `Get-AzureSubscription`, the Azure Active Directory (AAD) TenantId is not returned. @markcowl @singhkay

![image](https://cloud.githubusercontent.com/assets/466713/7109841/ce000e7a-e163-11e4-92ba-a4fcd88ece8d.png)

Cheers,
Trevor Sullivan
Microsoft MVP: PowerShell

[2015-04-13 08:11] qin-nz opened #330 "New-AzureStorageContext Default Endpoint"
After I use ````Select-AzureSubscription```` to change the environment to AzureChinaCloud,
````New-AzureStorageContext```` still use the endpoint "core.windows.net" by default.
(I know I can use ````-Endpoint```` to switch endpoint, but it's confusing.)

[2015-04-13 21:01] devigned commented on #322
Please provide the commands issued to repo.

[2015-04-13 21:22] chrisrpatterson opened #332 "New-AzureProfile throws error when used with a ServicePrincipal"
I created a Service Principal in my Azure directory based on the instructions found here http://blog.davidebbo.com/2014/12/azure-service-principal.html.  I am able to make this Service Principal just fine when using the Add-AzureAccount.  However, if I use New-AzureProfile I get an error AADSTS70001 stating the application with the identifier was not found.

[2015-04-13 22:41] rjmax commented on #322
![image](https://cloud.githubusercontent.com/assets/1616243/7127030/8a3825e8-e1f3-11e4-9ef5-e2c936de69ed.png)

[2015-04-14 07:37] jonasro opened #333 "Make it possible to set vmsize of Web Role through powershell"
Since we have several environments all coming from the same .csdef files (where vmsize is set) I would like to be able to adjust vmsize of a running web role just as you can with a plain VM.

[2015-04-14 09:30] clamanna opened #334 "Emit status of deletion for Remove-AzureResourceGroup"
As reported from partners -- currently the Remove-AzureResourceGroup cmdlet is like a block-box where it takes a long time after you hit enter and user does not know anything about the progress details, if it is even doing some work or not.

Depending on the number of resources in the resource group it is taking 2-5 minutes to finish the operation in my experience. It would be very useful if there

[2015-04-14 15:16] pcgeek86 opened #335 "Get-AzureSubscription vs. Select-AzureSubscription -PassThru"
* The `Get-AzureSubscription` command returns objects of type: `Microsoft.WindowsAzure.Commands.Profile.Models.PSAzureSubscription`.

* The `Select-AzureSubscription -PassThru` command returns objects of type: `Microsoft.Azure.Common.Authentication.Models.AzureSubscription`.

* The `AzureSubscription` object model lacks some of the properties that the `PSAzureSubscription` object has.

* The prope

[2015-04-14 17:14] yangl900 opened #336 "Get-AzureAdGroup doesn't support filter security group"
Get-AzureAdGroup doesn't support filter security groups, this is required for RBAC. Role assignment principal must be a security group.

[2015-04-16 02:33] rickrain opened #340 "Set-AzureWebsite doesn't update ConnectionStrings"
$website = Get-AzureWebsite $websiteName -slot $websiteSlot
$connectionStrings = $website.ConnectionStrings

$result = $connectionStrings.Remove(($connectionStrings | Where-Object {$_.Name -eq $connectionStringName}))

Set-AzureWebsite $websiteName -slot $websiteSlot -ConnectionStrings $connectionStrings

Reference:
http://stackoverflow.com/questions/29648327/cannot-delete-all-azure-website-connec

[2015-04-16 05:45] NaveenGoli commented on #340
I will investigate

Thanks
Naveen
________________________________
From: Rick Rainey<mailto:notifications@github.com>
Sent: ‎4/‎15/‎2015 7:33 PM
To: Azure/azure-powershell<mailto:azure-powershell@noreply.github.com>
Subject: [azure-powershell] Set-AzureWebsite doesn't update ConnectionStrings (#340)

$website = Get-AzureWebsite $websiteName -slot $websiteSlot
$connectionStrings = $website.Connecti

[2015-04-16 12:03] ronbok opened #341 "Shared Access Policy's Needed"
There does not seem to be an ‘EventHub’ object to set the Shared Access Policy on an Event Hub??
![eventhubsap](https://cloud.githubusercontent.com/assets/7467308/7180361/fdf36d18-e40e-11e4-9046-a31dd625aa0c.png)

[2015-04-16 16:04] AlanParr opened #342 "New-AzureResourceGroup lower-casing first letter of AppSettings/ConnectionStrings when creating website"
When using my own .json template file to create websites with preset AppSettings and ConnectionStrings,the first or in some cases first and second letters are getting lower-cased when they are created in Azure.

Examples ([intemplate] -> [inazure]):
* SiteAddress -> siteAddress
* Project -> project
* SCM_BUILD_ARGS -> scM_BUILD_ARGS

This is using apiVersion 2014-11-01 with the most recent cmdlets

[2015-04-16 21:54] bmoore-msft opened #344 "Get-AzureSubscription fails on profiles using auth token"
If you create a new profile with an authtoken and select it, you are authn'd against Azure but Get-AzureSubscription will fail with:

Get-AzureSubscription : Illegal credential type
Parameter name: credentialType
At line:1 char:1
+ Get-AzureSubscription
+ ~~~~~~~~~~~~~~~~~~~~~
    + CategoryInfo          : CloseError: (:) [Get-AzureSubscription], ArgumentException
    + FullyQualifiedErrorId : Mic

[2015-04-17 21:28] yangl900 opened #347 "Get-AzureADGroup does not handle collection correctly and did not expose ObjectId"
The command has output:

[code]

however if we assign this to a variable:

$group = Get-AzureADGroup -SearchString foo

$group[0].ObjectId is null
$group[0] is also null

it was exposed as $group.Id[0], but this is not discoverable and seems wrong.

[2015-04-20 09:24] Morritt commented on #311
It's even weirder than I thought.  Using the slightly simpler @hovsepm method, if I omit the SubscriptionID from here (according to docs it's not required):

I still get a blank AzureProfile.json created in the "Windows Azure Powershell" folder.  When I  put the SubscriptionID in it _does_ create me the correct json profile.

Calling `New-AzureProfile` it actually doesn't do anything (for me no pr

[2015-04-20 20:24] devigned commented on #329
Yes. Extended details should be a super set of default.

[2015-04-20 20:37] devigned commented on #325
Hi Trevor, would you run this with $DebugPreference = "Continue" and ping back with the results?

[2015-04-20 23:32] markcowl commented on #333
@jonasro Thanks for the feedback.

[2015-04-21 11:34] mikewo opened #348 "New-AzureQuickVM & Location Parameter"
The way the cmdlet works now is that if a service already exists and you also supply the location parameter it will error out saying "New-AzureQuickVM : Service already exists, Location cannot be specified.".  It wants you to leave off the Location parameter if the service exists, but it would be better if instead it performed a check to verify the service exists in the same location that is provi

[2015-04-22 15:01] fujiy opened #349 "Check for internet is broken when running on Azure WebApps"
I am trying to run Azure Cmdlets on Azure WebApps.

I know it's not supported yet (http://feedback.azure.com/forums/169385-web-apps-formerly-websites/suggestions/7155775-add-azure-commandlets).

What I did:

* Set WebApp to run with LoadUserProfile turned on
* Before executing any script I removed Execution Policies: Set-ExecutionPolicy -ExecutionPolicy Bypass -Scope Process
* Added a copy of Azur

[2015-04-23 15:40] erichexter opened #351 "Set-AzureEndpoint - does not support renaming an endpoint."
It is unclear from the documentation and from experimenting  how an Endpoint can be renamed with this command. The portal allows endpoints to be renamed, but i am not sure  what is happening under the hood to make that happen.  Is this possible with the current release?

[2015-04-24 12:05] pcgeek86 opened #352 "0.8.16.1 Preview :: Azure Module Creates Global "aliases" Variable"
The 0.8.16.1 version of the Microsoft Azure PowerShell module, running on top of Windows 8.1 and Windows Management Framework (WMF) Core April 2015 Preview, is exposing a global (aka. "public") variable called `$aliases`.

Is it absolutely necessary for this variable to be created as a **global** variable in the Azure PowerShell module, or can this be made private, or even better, removed altogeth

[2015-04-26 17:19] doctordns commented on #335
I can kind of see what is happening here:
Get-AzureSubscription returns ALL your subscriptions (one for each member of the Accounts Property). Selecting just one, produces just that account, which has an account (that is just a string). The Accounts property of the PsAzureSubscription is an array of AzureSubscription objects. So what is happening sort of makes sense.

Having said that, not sure wh

[2015-04-26 23:24] clamanna opened #353 "Azure Powershell allows trailing commas inside the resource manager template definition"
This is blocked in the Azure CLI (formerly xplat CLI) and should be blocked inside PSH as well

[2015-04-28 05:17] mukaibot opened #354 "Get-AzureVMImage doesn't filter on the server side"
It would be great if Get-AzureVMImage could be used to search for images meeting certain criteria, rather than returning absolutely everything (if you don't know the name). The AWS CLI allows you to do this with it's equivalent "describe-images": http://docs.aws.amazon.com/cli/latest/reference/ec2/describe-images.html

My use case is to get the latest daily Ubuntu image. My current code looks like

[2015-04-29 10:36] idofl commented on #75
+1, it would really be helpful to have it with PowerShell. The REST API is very complex for this command

[2015-04-29 13:28] martincostello commented on #340
Any updates on whether this is definitely a bug?

[2015-04-29 15:10] NaveenGoli commented on #340
Sorry, I have been OOF and didn't get a  chance to debug this.

Thanks
Naveen
________________________________
From: Martin Costello<mailto:notifications@github.com>
Sent: ‎4/‎29/‎2015 6:28 AM
To: Azure/azure-powershell<mailto:azure-powershell@noreply.github.com>
Cc: Naveen Goli<mailto:ngoli@hotmail.com>
Subject: Re: [azure-powershell] Set-AzureWebsite doesn't update ConnectionStrings (#340)

Any

[2015-04-30 00:58] yangl900 opened #358 "New-AzureResourceGroupDeployment polling should have backoff"
New-AzureResourceGroupDeployment will poll the deployment status after submit deployment, but seems polling too much (every 2 seconds?). We should have some way to backoff as deployment may run for hours.

[2015-04-30 16:06] jangelfdez opened #359 "Set-AzureReservedIPAssociation is generally available?"
Hi!

Is that command available for everybody? I'm receiving the following error and I don't know if it's a bug or an unreleased feature.

[code]

Thanks!

[2015-04-30 16:30] devigned commented on #349
As you said, this is not supported currently. I'm going to close in favor of the user voice request.

[2015-04-30 16:30] #349 closed

[2015-04-30 16:31] devigned commented on #354
:+1:

[2015-04-30 18:31] hovsepm commented on #344
Thanks for filing. We can reproduce it with latest build. Will be fixed in the next release.

[2015-04-30 20:04] #171 closed

[2015-04-30 20:08] hovsepm commented on #292
@Rick-Anderson, The order of the accounts in the subscription is non-deterministic. Please use the type property of the account to differentiate between certificates and AD accounts.

[2015-04-30 20:08] #292 closed

[2015-05-01 01:15] devigned commented on #348
Yes, it definitely could do a check to see if the location matches.

If you want idempotent results, perhaps you could check out the Azure Resource Manager cmdlets: https://msdn.microsoft.com/en-us/library/azure/mt125899.aspx.

[2015-05-04 15:10] slapointe opened #362 ""Your Azure credentials have not been set up or have expired, please run Add-AzureAccount to set up your Azure credentials." in new PowerShell session."
If I execute this script in a new PowerShell window, with valid credential it fails the first time.

[code]

Error:

At C:\Users\stephane.lapointe\Desktop\Add-AzureAccountIssue.ps1:15 char:1
+ New-AzureStorageAccount -StorageAccountName $storageAccount -Type Sta ...
+ ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    + CategoryInfo          : NotSpecified: (:) [New-AzureSto

[2015-05-04 16:04] slapointe commented on #362
If I perform the New-AzureProfile and Select-AzureProfile 2 times in a row before the first call to the actions I want to do it work...

$azureProfile = New-AzureProfile -SubscriptionId $subscriptionId -StorageAccount $storageAccount -Credential $global:issueAzureCred
Select-AzureProfile -Profile $azureProfile

$azureProfile = New-AzureProfile -SubscriptionId $subscriptionId -StorageAccount $stora

[2015-05-05 14:17] markscholman opened #365 "Get-AzureNetworkSecurityGroupConfig -VM $VM says not associated."
When I assign an NSG to a VM and run the command Get-AzureNetworkSecurityGroupConfig -VM $VM it says that NSG is not associated to this VM.
WARNING: 16:11:38 - VM "DEMODMZ01" is not currently associated with a Network Security Group.
I did assign the NSG to the VM before...

![capture](https://cloud.githubusercontent.com/assets/8298597/7474487/163611ea-f342-11e4-9819-8cc510f9b201.PNG)

[2015-05-05 17:28] j82w opened #366 "Get-AzureADGroup does not include email address"
Get-AzureADGroup -SearchString "test" has a Mail property that is always empty. I was able to verify that  Get-MsolGroup -SearchString "test" contained an email address.

PS C:> $s = Get-AzureADGroup -SearchString "test"
PS C:> $s.Mail
PS C:> $s.DisplayName
test

[2015-05-05 18:53] #310 closed

[2015-05-05 18:55] #329 closed

[2015-05-05 18:56] #335 closed

[2015-05-05 19:56] devigned commented on #183
@jodoglevy do you have any thoughts on this issue?

[2015-05-05 19:58] devigned commented on #178
@jodoglevy do you have any thoughts on this issue?

[2015-05-05 20:04] divyakgupta opened #368 "v0.9.1 Set-AzureKeyVaultAccessPolicy requires ObjectId even when setting EnabledForDeployment"
Set-AzureKeyVaultAccessPolicy cmdlet is supposed to work with the following syntax, letting the user to enable the vault to be used for Microsoft.Compute resource provider. However, the cmdlet always asks for an ObjectId (and permissions) to be specified.

Set-AzureKeyVaultAccessPolicy [-VaultName] <string> [[-ResourceGroupName] <string>] -EnabledForDeployment   [-PassThru] [-Profile <AzureProfile

[2015-05-05 20:21] jodoglevy commented on #183
We specifically made it a boolean instead of a switch because choosing to encrypt the variable value or not is a decision we want the user to consciously make. If -Encrypted were a switch parameter, a user could easily shoot themselves in the foot by forgetting to specify the optional switch parameter, and end up giving us some secret value which we would store in plain text and expose in the port

[2015-05-05 20:33] jodoglevy commented on #180
I partly agree with this, but consider it low priority since checking $accounts.count on the output will give you the same info, and is better than relying on errors to determine the next action to perform if 0 results are returned, since ErrorActionPreference can affect whether the errors would be surfaced by this command or not.

I will mark a bug on this for our team, but I do think it is low p

[2015-05-05 20:59] jodoglevy commented on #178
Agree on the minutes one. The service plan one is now complete. See the Set-AzureAutomationAccount cmdlet in the AzureResourceManager PS module.

[2015-05-05 21:50] trondhindenes opened #369 "*AzureVM cmdlets in ResourceManager should have an "Id" parameter"
In the current version, in order to stop an azure V2 vm (in resource manager mode), the "ResourceGroup" parameter is required. These cmdlets should support the "id" parameter in order to not have to grab the resourcegroup from the objects returned from get-azurevm.

Currently, in order to stop all V2 vms:
$vms = Get-azurevm
foreach ($vm in $vms)
{
    $res = Get-AzureResource -ResourceId $vm.Id

[2015-05-05 23:26] markcowl commented on #330
@DingyuanHu Thanks for the suggestion.  We will consider this functionality for a future release

[2015-05-05 23:26] markcowl commented on #330
Storage team, the ask is to use the subscription's environment when creating a StorageContext

[2015-05-05 23:36] devigned commented on #183
@jodoglevy thank you for the background. @pcgeek86 if you feel strongly about this, reopen or post to user voice to see if it can get some traction.

[2015-05-05 23:36] #183 closed

[2015-05-06 12:45] efog opened #370 "New-AzureWebsiteJob -JobType value is not in valid range"
The cmdlet runs fine when running straight in powershell command prompt. We run into the issue when the cmdlet is call from within a module.

In command prompt
New-AzureWebsiteJob -JobName TestJob1 -JobType Continuous -JobFile C:\Temp\AWebJob.zip -Name mybrandnewdevsite -Slot dev -Verbose
or
New-AzureWebsiteJob -JobName TestJob1 -JobType Triggered -JobFile C:\Temp\AWebJob.zip -Name mybrandnewdevsi

[2015-05-06 13:13] efog commented on #370
Restarted machine and issue is gone. Closing...

[2015-05-06 13:13] #370 closed

[2015-05-06 17:06] pcgeek86 commented on #180
Joe,

I agree that this is low priority. This is one of those things that is a polish for end user experience. The benefits of changing this behavior is:

1. `try..catch` statements will properly handle terminating errors.
2. User experience consistency with other core PowerShell commands (eg. Get-Process -Name nonexistent)
3. User experience consistency between using -Name parameter by itself, an

[2015-05-07 06:54] alexandair opened #371 "A problem with Switch-AzureMode in PowerShell ISE"
I'm using Azure PowerShell 0.9.0 on the latest Windows 10 TP. (The issue is also confirmed on Windows 8.1 with Azure PowerShell 0.9.1)

 If I open powershell.exe and run Get-Module Azure -ListAvailable, I get expected result and details about Azure module.
 And then, I open another powershell.exe and run Switch-AzureMode AzureResourceManager command there switching to Resource Manager mode and loa

[2015-05-07 14:14] SherifTalaat opened #372 "Remove-AzureVNetConfig doesn't has -VNetName Parameter"
Although, Set-AzureVNetConfig can create one or more virtual network(s) at a time according to the network configuration file, Remove-AzureVNetConfig cmdlet removes all the virtual networks under a specific subscription one shot. This is not logical because I might need to remove a specific virtual network not all of them. Therefore, I suggest adding -VNetName parameter to specify the name of the

[2015-05-07 16:40] pcgeek86 commented on #372
Sherif,

This is good feedback. There is definitely a gap for managing virtual networks. However, I would like to make a point of clarification.

The *AzureVNetConfig commands are used to manage the VNet config (XML file). There is only one command that allows you to "manage" virtual networks using an object oriented approach. That command is called `Get-AzureVNetSite`. Keeping consistency with th

[2015-05-07 16:50] clamanna opened #373 "New-AzureResourceGroupDeployment supports file share paths"
It would be great if the Cmdlet could accept the file share paths as well. Can we look into supporting this capability through PowerShell?

New-AzureResourceGroupDeployment -Name Dep1 -ResourceGroupName ScalableWebTier -TemplateParameterFile "\\cloudguy-lenovo\DeploymentScripts\ScaleDemo\azuredeploy-parameters.json" -TemplateFile "\\cloudguy-lenovo\DeploymentScripts\ScaleDemo\azuredeploy.json

-Az

[2015-05-07 21:53] meriffa opened #375 "Add-AzureDataDisk -LUN for Linux VM"
Using Add-AzureDataDisk requires the LUN specified to be sequential starting from 0 when provisioning a Linux VM.

[2015-05-08 00:55] pcgeek86 commented on #183
Hello David, Joe,

I don't feel particularly strongly about this specific instance, but rather the overarching idea that boolean parameters in PowerShell don't really make much sense. Switch parameters implement the exact same functionality, but require less typing for users. If you ask pretty much anyone in the community, if

To resolve what Joe commented above, I would suggest adding a `-NoEncry

[2015-05-12 01:04] divyakgupta opened #378 "New-AzureKeyVault for existing vault name fails with error NoRegisteredProviderFound"
Running New-AzureKeyVault with an existing vault name and resource group name fails with an unexpected error "NoRegisteredProviderFound: No registered resource provider found..."

Expected error is something like "Vault name already taken"

[2015-05-12 10:26] armthedark commented on #67
I have the same problem, might need to recreate the gateway.

[2015-05-12 10:28] armthedark commented on #67
I have the same problem, might need to recreate the gateway.

[2015-05-12 17:07] tomasherceg opened #379 "Moving Azure resources doesn't do anything"
I tried to used the Move-AzureResource commandlet and it doesn't do anything.
It returns me immediately to the Powershell prompt.

Neither
[code]
nor
[code]
works for me.

The behavior is exactly the same as here:
http://stackoverflow.com/questions/30123326/cant-get-move-azureresource-working

[2015-05-12 20:45] rickrain commented on #26
Would like to see this issue corrected since it's referenced in the Azure documentation.

[2015-05-12 22:22] NaveenGoli commented on #26
I have into this, seems like this is happening when the log size exceeds 65536. we will look at a solution for this. in the meantime if possible you can delete the old logs after downloading so the command continues to work if the size of the file is below the threshold..

[2015-05-13 23:49] StephenWeatherford opened #382 "New-AzureResourceGroup gives a null reference exception if the template file contains no "parameters" section"
Example template file:

{
    "$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
    "contentVersion": "1.0.0.0",
    "resources": [
        {
            "name": "aName",
            "type": "Microsoft.Web/serverfarms",
            "location": "West US",
            "apiVersion": "2014-06-01",
            "properties": {
                "name": "aName",

[2015-05-13 23:54] StephenWeatherford opened #383 "New-AzureResourceGroup fails if the template file contains spaces or other characters not valid in a deployment name"
For example:

PS C:\Users\stephwe\Documents\Visual Studio 2015\Projects\AzureResourceGroup1\AzureResourceGroup1\Templates> New-AzureResourceGroup -Name abc -Location "West US" -TemplateFile '.\Web Site.json'
New-AzureResourceGroup : Error 1: Code=InvalidDeployment; Message=The provided deployment name 'Web Site' has these invalid characters: ' '. The
name can only be a letter, digit, '-', '.' or '

[2015-05-14 02:58] pcgeek86 opened #384 "New-AzureResourceLock fails to validate -LockLevel parameter"
# Environment
- Windows 8.1
- PowerShell 5.0 April 2015 Preview (5.0.10105.0)
- Azure PowerShell 0.9.1
# Problem

When I call the `New-AzureResourceLock` command, and specify a `-LockLevel` parameter value of `ReadOnly`, I receive an error.

![image](https://cloud.githubusercontent.com/assets/466713/7625282/b56f7f96-f9b2-11e4-83ab-fd6a00590e92.png)

The `[Microsoft.Azure.Management.Resources.Model

[2015-05-14 15:52] pcgeek86 opened #386 "[ARM] Get-AzureStorageAccountKey design issues"
In the Azure Resource Manager (ARM) PowerShell module, the `Get-AzureStorageAccountKey` command returns an object that only has two useful properties: `Key1` and `Key2`. These properties are not named as friendly as the old Service Management module, which had properties named `Primary` and `Secondary`.

Furthermore, the object returned by the ARM module does not offer the `StorageAccountName` pro

[2015-05-14 16:19] craig-wagner opened #387 "Calling Set-AzureServiceDiagnosticsExtension with -Role failing"
Based on the version number showing in "Programs and Features" I'm running 0.9.1 of the Azure Powershell. I installed it yesterday (2015/05/13) using the Web Platform Installer.

    $storage_name = "mystorageaccountname"
    $key = "mykey"
    $service_name = "cwagner-ipseity-worker"
    $public_config = "C:\tfs\SI\ipseity\trunk\BuildArtifacts\Deployment\Packages\AzureWorker\PaaSDiagnostics.Ipsei

[2015-05-14 20:16] aarsan opened #388 "-JoinDomain parameter not working in Add-AzureProvisioningConfig"
I'm trying to create a Windows VM in Azure and join it to the domain all in one step using the Azure PowerShell module. This is my script:

    New-AzureVMConfig -Name $fileserver -Label $fileserver -InstanceSize Basic_A3 -ImageName $img -HostCaching ReadWrite -DiskLabel 'OS' -MediaLocation $medialoc `
    | Add-AzureProvisioningConfig -WindowsDomain -JoinDomain $domjoin -Domain $dom -DomainUserNa

[2015-05-15 01:52] pcgeek86 opened #391 "ARM: Network Security Group fails due to invalid Address Prefix"
The MSDN documentation states that an Address Prefix can be one of three special "tags."
- VIRTUAL_NETWORK - This default tag denotes all of your network address space. It includes the virtual network address space (IP CIDR in Azure) as well as all connected on-premises address space (Local Networks). This also includes VNet to VNet address spaces.
- AZURE_LOADBALANCER - This default tag denotes A

[2015-05-15 14:51] slapointe opened #392 "Memory Profile not deserialized properly in PowerShell workflows, encountering wrong deserialized object type"
Windows Server 2012 R2
PowerShell cmdlets 0.8.16 .. 0.9.1

I saw that 0.8.16 made AzureProfile serializable for workflows. It is not working for me though.

Inside a Workflow I get an error when passing the type Microsoft.Azure.Common.Authentication.Models.AzureProfile.

---------------------------

I get the following error:

Cannot convert the ... of type "Deserialized.Microsoft.Azure.Common.Aut

[2015-05-15 17:46] ctaggart opened #393 "bug: no results for Get-AzureVM in AzureResourceManager"
I was happy to see [Get-AzureVM added to the AzureResourceManager mode for [0.9.0](https://github.com/Azure/azure-powershell/releases/tag/0.9.0-April2015). I have 0.9.1 installed, but unfortunately, I get no VMs returned in that mode. Is this a bug or am I doing something wrong?

![image](https://cloud.githubusercontent.com/assets/80104/7658446/2a0a3386-faef-11e4-8c67-897bf77d64bf.png)

![image](h

[2015-05-15 18:02] devigned commented on #386
Agreed. These should provide better naming.

[2015-05-15 18:02] vhusker opened #394 "Get-AzureRemoteDesktopFile -Launch parameter does not perform as expected"
The help for Get-AzureRemoteDesktopFile indicates that I should be able to to do this:
Get-AzureRemoteDesktopFile -ServiceName "myservice" -Name "MyVM-01_IN_0" –Launch, no RDP windows is opened, even though it returns this information:
![image](https://cloud.githubusercontent.com/assets/6845844/7658764/8d50bc5e-fb02-11e4-89ab-059178894faf.png)

If I instead do this:
![image](https://cloud.githubus

[2015-05-15 18:08] vhusker opened #395 "Get-AzurePublishSettingsFile doesn't work with a FileSystem PSDrive"
I have a PublishSettingsFile stored on my OneDrive.  The path to the folder it resides in on my OneDrive is mapped to a FileSystem PSDrive.
![image](https://cloud.githubusercontent.com/assets/6845844/7658813/fa81a310-fb02-11e4-9998-21009e15f65a.png)

![image](https://cloud.githubusercontent.com/assets/6845844/7658831/1e52a3b6-fb03-11e4-8372-00221f51c513.png)
![image](https://cloud.githubuserconten

[2015-05-15 18:38] calebdoise commented on #193
@ccorsano What steps do you take to reliably cleanup the diagnostics extension as a workaround? We ran into this same problem.
http://stackoverflow.com/questions/30230617/azure-diagnostics-extension-conflicterror-for-empty-staging-slot-azure-sdk-2-6/30263535#30263535

After the swap, the diagnostics extension is on Production (with a misleading Id). Remove-AzureServiceDiagnosticsExtension does not

[2015-05-15 18:39] stevlars opened #396 "Save-AzureResourceGroupGalleryTemplate (and others???) use Windows current path instead of PowerShell current path"
I see two path issues.
1.  A valid local path 'a.json' is not recognized.  The cmdlet thinks it is an empty string.
2.  The cmdlets uses the Windows current directory to resolve relative paths instead of the PowerShell current directory.  Cmdlets should use the PowerShell current directory to resolve relative paths.  If CurrentPath() used on line 42 of https://github.com/Azure/azure-powershell/blo

[2015-05-16 12:51] DexterPOSH opened #397 "Get-AzureResourceGroup tags property"
Get-AzureResourceGroup cmdlet returns PSResourceGroup with property Tags which are the Key-Value pairs , but the object's tag property returns the key of the tags as literal 'Name' and 'Value'. This is counter intuitive in my opinion.

For Example - added a tag Environment (Key)--> LAB (Value) to my Resource Group and would expect Tag to contain Environment as the key in the hashtable returned.

*

[2015-05-17 07:29] DreamingDevs opened #398 "Publish-AzureWebsiteProject throwing Cannot retrieve the dynamic parameters for the cmdlet error"
I installed Microsoft Azure PowerShell – May 2015 release downloaded from here - http://azure.microsoft.com/en-us/downloads/

I created a AzureWebsite - **New-AzureWebsite -Location "East US" -Name "abcpqr"**

When i tried to publish a Visual Studio 2013 ASP.Net MVC 4 Project using -
**PS C:\WebForlder> Publish-AzureWebsiteProject -ProjectFile SampleWeb.csproj -Configuration Debug -Name abcpqr**

[2015-05-19 06:19] Nisha2015 commented on #280
Is there an ETA of when would this bug be fixed?

[2015-05-19 21:53] v-racast opened #402 "Get-AzureVMDscExtensionStatus on Azure 9.1 is returning 404 blob errors"
For the full bug report, see http://stackoverflow.com/questions/30314053/

Publish-AzureVMDscConfiguration (Publish-AzureVMDscConfiguration -ConfigurationPath C:\dsc\IIsInstall.ps1 -ContainerName $StorageContainer -StorageContext $StorageContext -Force -verbose)  seems to be working fine, as the blob gets put up properly, with Lease Duration Unspecified, Lease State: Available, and Lease Status: U

[2015-05-19 21:55] v-racast commented on #402
Azure Storage Explorer shows the blob is there at:
http://fbazureloggingstorage.blob.core.windows.net/windows-powershell-dsc9/IIsInstall.ps1.zip
Last modified at:
5/19/2015 9:20:46 PM +00:00

[2015-05-19 22:29] v-racast commented on #402
The publish code doesn't even set a lease on the blob...

[2015-05-19 22:51] v-racast commented on #402
It does use a SAS token. and it appears to be properly set at 1 hour. Perhaps the ?sv=2014-02-14 blob service has a bug in it?

[2015-05-19 23:00] #193 closed

[2015-05-20 00:56] vivsriaus opened #404 "Users shouldn't be able to update public Azure Environment"
PS C:\> Set-AzureEnvironment -Name AzureChinaCloud -GalleryEndpoint https://gallery.chinacloudapi.cn/
Set-AzureEnvironment : Changing public environment is not supported.
Parameter name: environment
At line:1 char:1
+ Set-AzureEnvironment -Name AzureChinaCloud -GalleryEndpoint https://gallery.chin ...
+ ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    + Category

[2015-05-20 06:49] ccorsano commented on #193
@calebdoise So, I had a few tries on this, and my current solution is, including dealing with ReservedIP issues is:
- Deploy on Staging (with a staging specific ReservedIP if you have one set for Production)
- Configure PaaSDiagnostics on Staging
- Test / sanity check staging
- Remove all extensions from staging and production
- Swap
- Reconfigure production with correct ReservedIP (so that produc

[2015-05-20 15:56] brisebois opened #406 "Get-AzureRemoteDesktopFile in AzureResourceManager mode always returns access denied"
Using the Switch-AzureMode AzureResourceManager

Get-AzureRemoteDesktopFile -ResourceGroupName 'armmonstervm' -Name 'msarmbrisebois' -LocalPath 'D:\'

always returns Access Denied no matter what directory I use and even if I give everyone full access to the directory.

Furthermore, the Launch flag is missing.

[2015-05-20 17:28] singhkay commented on #406
Adding @DeepakRajendranMsft for -Launch flag feature.
@brisebois You need to specify the name of the RDP file as well for the LocalPath. This should work 'D:\vm.rdp'

[2015-05-20 20:58] rayabueg opened #409 "set-azureresource cmdlet fails in release 0.9.1"
The set-azureresrouce cmdlet fails in release 0.9.1.  It worked in release 0.9.0.

PS C:\> $res = Set-AzureResource -Name $ProjectName -ResourceGroupName $WebResourceGroup -ResourceType Microsoft.Web/sites -ApiVersion $ApiVersion -PropertyObject $prop
DEBUG: 10:58:13 AM - SetAzureResourceCmdlet begin processing with ParameterSet 'Resource that resides at the subscription level.'.

Set-AzureResourc

[2015-05-20 22:58] devigned commented on #280
@djrosanova thoughts?

[2015-05-21 02:51] rajinders opened #411 "Move-AzureResource does not move classic virtual network and does not show errors"
I tried moving a virtual network defined in the old portal into a new resource group.
The command finished successfully. ARM Explorer showed moving/provisioning status in both the Default-Networking an the new resource group. After 10-15 minutes I noticed that virtual network did not move.

A similar issue was reported while moving SQL DB from old portal/default resource group to new resource grou

[2015-05-21 16:44] jonoward opened #413 "New-AzureWebsite with GitHub switches doesn't configure continuous deployment as expected"
I'm trying to automate the creation of websites that are pre-configured with continuous deployment via a particular branch in a GitHub repo:

New-AzureWebsite -Name mysitename -GithubCredentials $cred -GitHub -GithubRepository "account/rep"

The site is created successfully, but continuous deployment is not configured - should it be? If this is what should happen, but isn't due to a bug, another u

[2015-05-21 17:15] jonoward commented on #413
Should also add that after this script is run, the webhook is successully configured in GitHub, but in the Azure portal it looks like it's configured against a local git repo rather than GitHub

[2015-05-21 18:37] singhkay commented on #393
@ctaggart Do you have any v2 VMs created?

[2015-05-21 18:40] ctaggart commented on #393
@singhkay The update Portal UI with the v2 VMs wasn't available yet when I submitted this. So, this only works with v2 VMs?

[2015-05-21 18:45] singhkay commented on #375
@meriffa As discussed in the internal thread, this looks like a platform bug rather than a Add-AzureDataDIsk bug

[2015-05-21 18:52] singhkay commented on #354
Take a look at the way v2 stack solves this http://azure.microsoft.com/en-us/documentation/articles/resource-groups-vm-searching/

Closing this as the current v1 stack is unlikely to see investment in this area given the release of the v2 stack.

[2015-05-21 18:52] #354 closed

[2015-05-21 19:32] georgiosd commented on #13
Still appears in 0.9.1 :(

[2015-05-21 20:01] devigned commented on #13
@markcowl looks like this is still an issue

[2015-05-21 20:16] singhkay commented on #393
Yes. The two modes are independent of each other and only cater to the specific v1 or v2 resources.

[2015-05-21 20:19] #393 closed

[2015-05-21 20:20] markcowl commented on #320
@cmcknz77 The psixml issue will be fixed in the next version of AzurePowerShell (shipping next week). The installer is intentialnally a system-wide and not a user-epecific install, which is why we append to the machine environment variable.

[2015-05-21 20:24] markcowl commented on #320
@cmcknz77 Can you please provide details on why your other module were impacted by our addition to the env var, is there an issue with the length of your PSModulePath?

[2015-05-22 13:17] MaxTrinidad commented on #13
Guys!!
I just installed Azure PowerShell version 0.9.1 (Published : 5/4/2015 8:00:00 AM) today.  I the following command works:

PS C:\Users\mtrinidad>
PS C:\Users\mtrinidad> $vm = Get-AzureVM | Out-Gridview -PassThru
PS C:\Users\mtrinidad> $vm

ServiceName        Name        Status
-----------        ----        ------
MyMaxPITcloudSvc05 SuperNova01 StoppedDeallocated

Now, I did recently install

[2015-05-22 14:52] georgiosd commented on #13
Try adding -Title too
On Fri, 22 May 2015 at 16:17 MaxTrinidad <notifications@github.com> wrote:

[2015-05-22 14:59] MaxTrinidad commented on #13
I just test Out-Gridview with both -Passthru and -Title.  It's working for me. (see image)
![azuregridviewnoerror](https://cloud.githubusercontent.com/assets/7338470/7773290/86f4e2d0-0071-11e5-8230-dca65803ac5b.jpg)

[2015-05-22 15:00] MaxTrinidad commented on #13
Sorry! I press the wrong button. :P

[2015-05-22 15:01] MaxTrinidad commented on #13
I just test Out-Gridview with both -Passthru and -Title. It's working for me. (see image)
![azuregridviewnoerror](https://cloud.githubusercontent.com/assets/7338470/7773336/df4eb62c-0071-11e5-88e9-c8f9538be3bb.jpg)

[2015-05-22 15:28] georgiosd commented on #13
Very weird. I upgraded and checked version was kosher. What do you
recommend? Reinstall?
On Fri, 22 May 2015 at 18:01 MaxTrinidad <notifications@github.com> wrote:

[2015-05-22 15:53] trondhindenes opened #418 "Add-AzureAccount is slow"
Now that accounts (as opposed to mgmt certs) is pretty much a requirement to work with Azure Powershell, I've notived that add-azureaccount is incredibly slow. running "measure-command {add-azureaccount}" and typing my username/password as soon as I'm able to it still takes the cmdlet a full 64 seconds to complete. I have around 10 subscriptions that I have admin rights to. The logon mechanism nee

[2015-05-22 16:52] MaxTrinidad commented on #13
Just to make sure.
1. Which version of Windows you are on? 7/8.1/10. Which PowerShell version or WMF? 4.0 or 5.0 May Preview.
2. Are you sure you're on Azure PowerShell 0.9.1 (May 2015 build)? Older version had the problem.
3. And,  is .NET Framework 4.0 (or >) installed?
4. What's the system culture? is this a non-US Windows version.

Maybe we can get some direction.
:)

[2015-05-22 17:00] georgiosd commented on #13
1. Windows 8.1, Powershell 4! No WMF.
2. [This](http://www.maxtblog.com/2014/03/find-your-windows-azure-powershell-cmdlets-version/) script tells me I'm on 0.9.1, I upgraded with Web PI last night.
3. I got all the default .NETs + VS2013 + VS2015 RC
4. Uhm, keyboard is en-US, culture is I believe en-GB

[2015-05-22 18:28] MaxTrinidad commented on #13
OK.  It won't hurt but can you try loading the WMF 5.0 April Preview for Windows 8.1.  Here's the link:http://www.microsoft.com/en-us/download/details.aspx?id=46889

Apologies! in the previous comment I mention WMF 5.0 May Preview, but I meant to say April Preview. :)

There's a chance that it ha to be something with PowerShell 4.0 then in Version 5.0 gets corrected.
Can you give it a try?
Max

[2015-05-25 02:31] graemechristie opened #425 "Set-AzureResource -PropertyObject throws Cannot Convert Value of type System.Management.Automation.PSCustomObject error"
While trying to set the AppSettings for an Azure Web0App using the latest 0.9.1 release of the powershell tools, am I getting the error Cannot bind parameter 'PropertyObject'. Cannot convert value ..... value of type
"System.Management.Automation.PSCustomObject" to type "System.Collections.Hashtable"."

when running the following script

[code]

It appears that the "Properties" returned from Get-A

[2015-05-25 02:36] graemechristie commented on #425
Note that if I manually convert the PSObject to a hashtable using code such as the following:

[code]

Then I don't get the above error, but i then get the "Location Required" error as per issue #409

[2015-05-25 05:43] xingzhougmu commented on #409
Set-AzureResource : {
  "Error": {
    "Code": "LocationRequired",
    "Message": "The location property is required for this definition.",
    "Target": null,
    "Details": null
  }
}
At line:1 char:1
+ Set-AzureResource -ResourceGroupName $rgname -ResourceName $rname -ResourceType  ...
+ ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    + CategoryInfo

[2015-05-25 16:45] toutougabi opened #426 "New-AzureLoadBalancerProbeConfig issue with TCP"
The load balancer probe cmdlet, when set to tcp needs to have the request path empty but the command currently does not allow this.

When setting the loadbalancer, if you put a path it tells that the tcp protocol is not supposed to have a path but then you cannot create a probe without a requestpath

[2015-05-26 13:30] eriksonjonas commented on #379
I have got the exact same problem
Nothing happens when you run the commands.
Debug shows nothing interesting or errors

[2015-05-26 16:00] devigned commented on #387
@matt-gibbs or @markcowl thoughts on this one?

[2015-05-26 16:13] devigned commented on #395
@markcowl I've labelled this as team. Do you agree?

[2015-05-26 16:39] devigned commented on #404
This is the intended behavior for not being able to update public Azure environments. This issue is two fold.
- The gallery property for AzureChinaCloud should be populated, as currently is not. (defect or not available - Resource Management)
- The subsequent Get after the Set of environment should not have the change to gallery. (defect - AzPS)

One work around for this, is to make a new environm

[2015-05-26 19:17] trondhindenes opened #428 "Deprecation of Switch-Azuremode"
The two "modes" in Azure are painful and confusing to work with. For example, there's two different "Get-AzureVM" cmdlets (one in each "mode"), each listing its own sets of vms (the "ServiceManagement" cmdlet lists "v1" vms and the "ResourceManager" cmdlet lists "v2" vms). This is a horrible design. Please build a PowerShell module where every module is available without having to perform confusin

[2015-05-26 20:52] trondhindenes opened #429 "Set-AzureSubscription should accept pipeline objects"
This used to work:
Get-AzureSubscription -Current | set-AzureSubscription etc, however it doesn't anymore. Please re-add pipline support to the set-azuresubscription cmdlet.

[2015-05-27 19:23] bgambs commented on #387
Similar issue here;

     $setdeployment = Set-AzureDeployment -Upgrade -Slot $slot -Package $packageLocation -Configuration $cloudConfigLocation -label $deploymentLabel -ServiceName $serviceName -Force -ExtensionConfiguration @($workerDiagConfig,$webDiagConfig)

yields

    BadRequest: The extension ID FixxxxxxWorkerRoleCommandProcessor-PaaSDiagnostics-Production-Ext-0 is invalid.

We don't have

[2015-05-27 23:34] bgambs commented on #387
@craig-wagner  @devigned  We managed to resolve this particular issue - by shortening the name of the worker role. No idea what the limit is by FixxxxxxWorkerRoleCommandProcessor is too long and FixxxxxxWorker is not.

[2015-05-28 06:51] n2name opened #440 "Running Set-AzureSubscription under multiple subscriptions failing"
Running Azure PowerShell module under SCOM environment to automate Azure features with multiple subscriptions.
Tested 0.8.13 through 0.9.1, but they are consistently failing.

Repro (for 0.8.13):
1. Ran following command with multiple subscriptions (with all different X509Certificate2 objects)
Set-AzureSubcription  -SubscriptionId $SubscriptionId -SubscriptionName $SubscriptionName -Certificate $c

[2015-05-29 08:12] parth270592 commented on #26
Try this:-

    $username = "<azure git deployment username>"
    $password = "<azure git deployment password>"
    $base64AuthInfo = [Convert]::ToBase64String([Text.Encoding]::ASCII.GetBytes(("{0}:{1}" -f $username,$password)))
    $apiUrl = "https://<website name>.scm.azurewebsites.net/api/zip/LogFiles/http/"
    $response = Invoke-WebRequest -Uri $apiUrl -Headers @{Authorization=("Basic {0}" -f

[2015-05-29 08:14] parth270592 commented on #26
I made this script as a workaround:-

    $username = "parth270592"
    $password = "P@ssw0rd"
    $base64AuthInfo = [Convert]::ToBase64String([Text.Encoding]::ASCII.GetBytes(("{0}:{1}" -f $username,$password)))
    $apiUrl = "https://pasehgazc0nf15.scm.azurewebsites.net/api/zip/LogFiles/"
    $response = Invoke-WebRequest -Uri $apiUrl -Headers @{Authorization=("Basic {0}" -f $base64AuthInfo)} -Me

[2015-05-29 12:04] ilkayilknur commented on #379
@eriksonjonas I used March [release](https://github.com/Azure/azure-powershell/releases/tag/v0.8.16-March2015 "release") instead of the latest release and it worked. I've moved a storage account to other resource group. This may help you.

[2015-05-29 16:52] markcowl commented on #320
Closing for now.  The version about to be released (0.9.2) which is currently in the release branch solves the ps1xml issue.

[2015-05-29 16:52] #320 closed

[2015-05-29 17:02] devigned commented on #351
@DeepakRajendranMsft thoughts?

[2015-05-29 19:05] devigned commented on #365
@DeepakRajendranMsft thoughts?

[2015-05-29 20:04] steevegilbert commented on #379
Same here, I'll go and try the March release as suggested

[2015-05-29 22:27] eriksonjonas commented on #379
@ilkayilknur thx, ill try that release

[2015-05-30 16:59] damienpontifex commented on #341
:+1:

[2015-06-01 11:25] osakanataro commented on #13
Same problem occurred.
"$vm = Get-AzureVM | Out-Gridview -PassThru" could not work powershell 3.0?

[code]

[2015-06-01 14:41] petrsvihlik commented on #379
I tried 0.8.16 but moving web apps doesn't work in that version either...

[2015-06-01 15:17] eriksonjonas commented on #379
Interesting, i could move a storage acc, but no cloud service and vm.

[2015-06-01 18:37] azurecompliance4 commented on #378
The issue is not that a name is already taken.
To use KeyVault, the provider must be registered for the subscription.
We're looking at faulting it in automatically on error, but until then, you can register it explicitly with the Register-AzureProvider cmdlet

[2015-06-01 18:38] matt-gibbs commented on #378
The issue is not that a name is already taken.
 To use KeyVault, the provider must be registered for the subscription.
 We're looking at faulting it in automatically on error, but until then, you can register it explicitly with the Register-AzureProvider cmdlet

[2015-06-01 18:38] #378 closed

[2015-06-01 22:24] nickheppleston opened #449 "DocumentDb Support - Happy to contribute if no-one else working on it"
I have a personal requirement to script a DocumentDb deployment and I'm interested to know whether anyone is already working on support for DocumentDb within this project? If not, I'll be happy to contribute.

[2015-06-01 23:02] brantb commented on #428
Running `Switch-AzureMode` now emits a warning with the message "The Switch-AzureMode cmdlet is deprecated and will be removed in a future release.", so it looks like you're getting your wish, but there doesn't seem to be any indication as to what (if anything) is replacing it.

[2015-06-01 23:15] singhkay commented on #348
This could be done. I'll put this in the backlog for triaging.

[2015-06-01 23:16] singhkay commented on #333
@jonasro Can you suggest what a proposed UX looks like? Are you saying the cmdlet changes the size in the .csdef file?

[2015-06-02 00:37] singhkay commented on #428
Adding @devigned. There should be more information on this in the next few days

[2015-06-02 00:43] devigned commented on #428
Nothing has changed other than a warning, which will be followed up with some azure.com guidance (landing this week) regarding the upcoming changes and timeline for these changes.

We don’t expect to fully deprecate switch azure mode until after summer. Since it is such a large change, we want to start to warn users and get them thinking about what it means to no longer use switch azure mode. This

[2015-06-02 01:52] ryancrawcour commented on #449
Thanks for raising this. We can help with scripts to deploy the DocumentDB Account using Azure Resource Manager.

After that, creating Database and Collections etc. is not automatable through Azure Resource Manager, yet.

If you want to automatically provision Database & Collections you would need to call out to our REST API to do this.

[2015-06-02 07:45] trondhindenes commented on #428
Thanks for the feedback,  @devigned ! Looking forward to more info on this.

[2015-06-02 17:45] vivsriaus opened #452 "ARM: api-version parameter in Get-AzureResource cmdlet should hit RP api version, instead of ARM resources api version"
Per David,

For this call:
Get-AzureResource -ResourceGroupName Default-Web-JapanEast -ResourceType Microsoft.Web/sites -OutputObjectFormat New -ApiVersion 2015-04-01

Digging some more, the issue seems to be that it’s not making an RP call, but is instead hitting the CSM cache!

/subscriptions/468360f0-c632-478a-b32d-a4fdf1e07cfc/resourceGroups/Default-Web-JapanEast/resources?$filter=resourceType

[2015-06-02 21:40] sagoo33 commented on #379
Same for me, I'm trying to move a web app from a resource group in the Australian data centre to another resource group in the same data centre, and I receive a number of error messages (from the portal audit log)

"...statusMessage:{"Code":"Conflict","Message":"ResourceGroup contains resources and cannot be deleted without deleting the resource first.","Target":null,"Details":[{"Message":"Resourc

[2015-06-03 09:07] romangromov opened #458 "'Get-AzureApplicationGatewayConfig' throws 'Root element is missing' error"
Used version: 0.9.2,  [msi installer](https://github.com/Azure/azure-powershell/releases/download/0.9.2-May2015/azure-powershell.0.9.2.msi)

Cmdlet: `Get-AzureApplicationGatewayConfig`

Mode: `ASM`

Output:

[code]

[code]

[2015-06-03 09:10] Jesudasan commented on #359
You can use below command

Set-AzureReservedIPAssociation -ReservedIPName ReservedIPName -ServiceName "CloudServiceName" -Slot Production

-J

[2015-06-03 09:10] romangromov opened #459 "'Get-AzureApplicationGatewayConfig' export to file throws 'Root element is missing'"
Used version: 0.9.2,  [msi installer](https://github.com/Azure/azure-powershell/releases/download/0.9.2-May2015/azure-powershell.0.9.2.msi)

Cmdlet: `Get-AzureApplicationGatewayConfig -Name AppGwTest -ExportToFile "D:\config.xml"`

Mode: `ASM`

Output:
[code]

[code]

[2015-06-03 09:28] romangromov opened #460 "'Set-AzureApplicationGatewayConfig' throws 'Object reference not set to an instance of an object' error"
Used version: 0.9.2,  [msi installer](https://github.com/Azure/azure-powershell/releases/download/0.9.2-May2015/azure-powershell.0.9.2.msi)

Cmdlet: `Set-AzureApplicationGatewayConfig`

Mode: `ASM`

Output:
[code]

[code]

[2015-06-03 09:38] romangromov opened #461 "'Set-AzureApplicationGatewayConfig' from XML file throws 'InternalError'"
Used version: 0.9.2,  [msi installer](https://github.com/Azure/azure-powershell/releases/download/0.9.2-May2015/azure-powershell.0.9.2.msi)

Cmdlet: Set-AzureApplicationGatewayConfig -Name AppGwTest -ConfigFile "D:\config.xml"`

Mode: `ASM`

Output:
[code]

[code]

config.xml file content:

[code]

[2015-06-03 09:44] lkempf opened #462 "Get-AzureWebSite doesn't work when remote debugging with vs 2015 is enabled"
[code]
returns
[code]
when remote debugging for visual studio 2015 is enabled.
[code]

[2015-06-03 17:33] kagamsft commented on #458
Looks like gateway configuration  has not been SET yet. Have you done SET configuration before issuing GET?

[2015-06-03 17:33] kagamsft commented on #459
Looks like gateway configuration has not been SET yet. Have you done SET configuration before issuing GET?

[2015-06-03 17:34] kagamsft commented on #460
You have created partial config object. Try after creating full object and report back if you hit same issue.

[2015-06-03 17:35] kagamsft commented on #461
Config is incorrect. You are referencing “pool1” which doesn’t exist.

[2015-06-03 20:00] NaveenGoli commented on #462
will look into this..

[2015-06-03 20:08] romangromov commented on #461
UPD: still getting the same error  for `fep1` instead of `pool1` in `HttpLoadBalancingRules` section:

[code]

[2015-06-03 20:14] romangromov commented on #459
@kagamsft no, I've not set configuration due to 'set-config' issue https://github.com/Azure/azure-powershell/issues/461

Anyway, could you please confirm getting `XmlException` for non-existing configuration instead of empty configuration (for example, <ApplicationGatewayConfiguration/>) is by design?

[2015-06-03 20:23] romangromov commented on #458
@kagamsft no, I've not set configuration due to 'set-config' issue https://github.com/Azure/azure-powershell/issues/461

Anyway, could you please confirm getting `XmlException` for non-existing configuration instead of empty configuration (for example, `<ApplicationGatewayConfiguration/>`) is by design?

[2015-06-03 20:39] NaveenGoli commented on #462
Did you use API to set VS2015? I dont see an option to set to VS2015 in both portals?

[2015-06-03 21:25] juneb commented on #428
Ogail, David, is there any guidance for partners? Our product have custom code to handle the ASM/ARM switch and I can't wait to remove it.

[2015-06-04 04:41] singhkay commented on #406
Closing, please reopen if this is still an issue.

[2015-06-04 04:41] #406 closed

[2015-06-04 07:58] FuUuUuUoO commented on #462
VS 2015 sets itself if you attach it for remote debugging
________________________________
From: Naveen Goli<mailto:notifications@github.com>
Sent: ‎03.‎06.‎2015 22:39
To: Azure/azure-powershell<mailto:azure-powershell@noreply.github.com>
Cc: FuUuUuUoO<mailto:l.k.1234@live.de>
Subject: Re: [azure-powershell] Get-AzureWebSite doesn't work when remote debugging with vs 2015 is enabled (#462)

Did yo

[2015-06-04 14:27] devigned commented on #371
Agreed. As of 0.9.2 switch azure mode has been marked for deprecation. Please follow #428 to get more information regarding this transition.

We are aware of stateful activities which cause issues across powershell sessions and will be eliminating them in future releases.

[2015-06-04 21:08] jodoglevy commented on #392
Hey @devigned - this isn't an issue with the Azure Automation cmdlets (although it will affect all Azure cmdlets' ability to be used with stateless profiles in Azure Automation) - may want to reassign.

[2015-06-04 21:21] devigned commented on #392
Thank you, @jodoglevy.

@matt-gibbs, thoughts?

[2015-06-04 21:27] devigned commented on #362
@markcowl any thoughts on this one?

[2015-06-05 16:13] markcowl commented on #428
@juneb There will be an article soon.  The practical upshot is that switching mode will no longer be necessary as you should be able to load both modules at the same time.

[2015-06-07 23:41] Coffee-007 commented on #365
You need to update the VM as well.

Try this command:
Get-AzureVM -ServiceName AzureDemoDMZ -Name DemoDMZ01 | Set-AzureNetworkSecurityGroupConfig -NetworkSecurityGroup "Demo SG" | Update-AzureVM

[2015-06-08 21:37] pcgeek86 opened #472 "0.9.2 ARM :: Set-AzureVirtualNetworkSubnetConfig command requires -AddressPrefix param"
## Scenario
Let's say, for example, that I have an existing Virtual Network, made up of multiple subnets. I want to assign a Network Security Group to a Virtual Network subnet.

## Problem
The `Set-AzureVirtualNetworkSubnetConfig` command **requires** that the `-AddressPrefix` parameter be specified.

## Solution
If I already have an existing Virtual Network and subnets, then I should not have to

[2015-06-09 10:18] JakobGSvendsen opened #474 "Get-AzureAutomationAccount does not find all accounts in subscription"
It seems that my azure powershell cannot see all of my auotmation accounts.

I had 2, but it only showed 1.

For testing I deleted this one account, now it does not show any account (first it showed the old one as NotFound, and now It shows no account at all.)

As picture shows: I do have the account called "RunbookGuruAutomation"
but it does not show in powershell which means I cannot run any com

[2015-06-09 11:15] trondhindenes opened #475 "use -confirm instead of "-force""
The -"confirm" switch has alwas been meant as a way for a user to specify wether or not a cmdlet should prompt the user for confirmation. Throughout the azure cmdlets the "-Force" switch is used instead. Make sure the azure cmdlets stay "true" to PowerShell by using the "confirm" switch instead of "force".

[2015-06-09 13:08] trondhindenes opened #476 "Get-AzureRoleSize names (Small, Medium, Large)"
Get-AzureRoleSize still reports Standard_A vms as small, medium and large. This should be changed to the correct size identifier, such as Standard_A1 and so forth. The arm template api does not accept "Small", "Medium", "Large", and currently there's no way (as far as I know) to get the correct identifier of the role size.

[2015-06-09 14:03] doctordns commented on #475
I think -force is right in most cases - you want to force the cmdlet to some something. Of course, -confirm would be useful to 'force' confirmation.

[2015-06-09 14:06] doctordns opened #477 "Add-AzureAccount - should accept a PSCredential"
At present, if you run Add-AzureAccount, you are forced to sign in via a pair of windows (enter your user name, then enter your password in a separate window).

I should be able to specify a pscredential and just pass that, eg:
$cred = Get-Credential tfl@foo.bar
Add-AzureAccount -Credential $Cred

In doing so, I should never see a GUI Screen.

[2015-06-09 14:23] trondhindenes commented on #475
I beg to differ (maybe you could reach out to the PowerShell team on this one). IMHO: Confirm is meant as a switch to confirm "high-impact" operations, such as deleting a VM. There is a variable controlling this behaviour ($ConfirmPreference ). The "force" switch is typically used for other types of overrides, such as creating a file in a non-existing folder (the "force" switch will auto-create th

[2015-06-09 14:29] geekjimmy commented on #475
trondhindenes is right. -force is for things like overwriting existing items, where running the cmdlet without the -force switch would result in failure.

it's also used by things like Get-ChildItem to show hidden files.

[2015-06-09 14:41] RamblingCookieMonster commented on #475
I personally prefer the presence of both. -Confirm:$False might make sense to many of us, but it's a bit more difficult than simply specifying -Force.

[2015-06-09 14:48] trondhindenes commented on #475
Gotcha. I'm just worried that this leads to "language sprawl", and as such Microsoft's own modules should be examples of correct parameter usage. If they don't get it right, who will?

[2015-06-09 15:13] jrich523 commented on #475
actually if you look at any of the original commands, this is how it was... Force for something like Delete that should always prompt, and then confirm for something like Rename, where you might want to prompt...

it was actually VMWare that started this horrible horrible trend... and PowerCLI is probably one of the WORST set of cmdlets..

Use -Force and avoid -Confirm:$false

I was super sad to s

[2015-06-09 15:58] dlwyatt commented on #475
I think it's a bit ugly to have to pass "false" to switch parameters.  That said, using both parameters can lead to some confusion.  What happens if someone runs your command with `-Force -Confirm`?

If I could go back in time and reinvent things, I'd probably have made -Force and -Confirm mutually exclusive, common parameters (where -Force is just the equivalent of -Confirm:$false today).  But si

[2015-06-09 16:08] jrich523 commented on #475
i'd have to imagine that if someone picks both (pondering a way to prevent that) they are smoking crack and deserve whatever oddness may happen :)

[2015-06-09 16:32] mattmcnabb commented on #475
In the Powershell core cmdlets (*-Item), -Force has a different semantic meaning than -Confirm. For instance, with Remove-Item, it's used to remove items flagged as hidden as well as unhidden items. For this reason I think the Azure cmdlets should use -Confirm.

However, I agree with Dave W. that the usage of -Confirm:$false is atrocious and causes problems for those new to Powershell.

[2015-06-09 16:33] Jaykul commented on #475
`Confirm:$False` is _most definitely_ an anti-pattern which breaks several strict guidelines, particularly since Confirm and WhatIf are common parameters provided by ShouldProcess.

If you look at the guidelines for `ShouldProcess` and `ShouldContinue` ... `-Confirm` serves to trigger ConfirmPreference to High, and **must** always come from SupportsShouldProcess. `-Force` is recommended for use wh

[2015-06-09 16:37] trondhindenes commented on #477
You sure you're running an updated module version? This has been supported for a while already.

[2015-06-09 16:40] trondhindenes commented on #475
My point exactly Joel - I'd like the Azure cmdlets to use the existing language features (ShouldProcess/ShouldContinue) to provide a standardized way of interacting with "high-impact" operations. I'm of course not asking them to implement support for "confirm" without the proper plumbing underneath.

[2015-06-09 16:41] doctordns commented on #475
Trondhiness says:
"IMHO: Confirm is meant as a switch to confirm "high-impact" operations, such as deleting a VM. There
is a variable controlling this behaviour ($ConfirmPreference )."

Agreed - I think you also mean to say: conrfirmation should only happen if -CONFIRM is specified moderated by $ConfirmPreference.

He also says
" The "force" switch is typically used for other types of overrides, s

[2015-06-09 16:49] Jaykul commented on #475
@trondhindenes I haven't used these cmdlets in a while -- is the problem just that they have their ConfirmImpact set too high, or are they using ShouldContinue when they should be using ShouldProcess, or is it something _else_?  That is, if you set `$ConfirmPreference = "None"` does that turn off the prompts?

I mean, when you ask for `-Force` I was assuming they're using ShouldContinue instead of

[2015-06-09 16:50] trondhindenes commented on #475
Well sorta. I just want consistency. Which is (imho) one of the very important strengths of the PowerShell language. If a cmdlet accepts the "confirm" parameter, I expect to be able to run the cmdlet with "-confirm:$false" in order to suppress prompts, which is certainly not the case with a lot of the azure cmdlets (remove-azureservice, for example still prompts to confirm if the confirm switch is

[2015-06-09 17:08] Jaykul commented on #475
That cmdlet (for example) looks like it's just calling ConfirmAction in the base [AzurePSCmdlet](https://github.com/Azure/azure-powershell/blob/ae0983c74a9a3035af8df42ab8da995d544e53e8/src/Common/Commands.Common/AzurePSCmdlet.cs) class, which looks like this:

[code]

Can I just say: _you got this inside out folks!_  It basically makes it so that **everything** that goes through here needs `-Force

[2015-06-09 20:08] mandrie opened #480 "Calls to Get-AzureSqlDatabaseUsages fail each time"
I was trying out the Get-AzureSqlDatabaseUsages call today and it fails each time for me with a cryptic error and I also cannot find any information online. I assume this is a newer cmdlet, here is the output (dbname and server name redacted):

[code]

[code]

From the full debug log I can see that it returns what I want to get (size of the database) but it fails before actually giving back the ob

[2015-06-09 22:03] singhkay commented on #476
@trondhindenes This has been fixed in v2 stack. Get-AzureVMSize is the cmdlet to use for v2 resources. It'll return the correct set of names expected by the v2 API

`
PS C:\Windows\System32\WindowsPowerShell\v1.0> Get-AzureVMSize westus | Select Name

Name
----
Standard_A0
Standard_A1
Standard_A2
Standard_A3
Standard_A5
`

[2015-06-09 22:36] doctordns commented on #477
I should have been more precise.I want to use a Microsoft ID - the same one I use when I logon to the portal or specify when I use Add-AzureAccount!

Here's what I get when I try

PSH [C:\foo\gd scripts]: $CredAz = Get-Credential
PSH [C:\foo\gd scripts]: Add-AzureAccount -Credential $CredAz
Add-AzureAccount : -Credential parameter can only be used with Organization ID credentials. For more informa

[2015-06-10 05:12] jodoglevy commented on #474
Hi Jakob,

Was the 'RunbookGuruAutomation' account created through the new Azure preview portal? If so, that would be the reason for this. By design, Azure Automation accounts created through ARM will not show up in RDFE. Please see https://social.msdn.microsoft.com/Forums/en-US/7a0f00cf-4afb-4822-a8cc-d5f35d760e56/automation-cmdlets-not-working-request-to-a-downlevel-service-failed?forum=azureaut

[2015-06-10 09:00] JakobGSvendsen commented on #474
Yes that is the case. Kind of weird if you ask me. I will not recommend anyone to use the preview portal yet then, if they want full functionality.

Thanks joe!

Too bad i have to redo all my runbooks and assets again.  ;-)

[2015-06-10 14:54] devigned commented on #474
Based on the comment by @jodoglevy, I'm going to close this issue as it is not a "bug", but certainly an usability issue.

@JakobGSvendsen, thank you for opening this and likely helping someone else figure this out in the future.

[2015-06-10 14:54] #474 closed

[2015-06-10 16:01] doctordns opened #483 "Need a cmdlet to upload a p2s VPN Gateway root cert"
At present there appears to be no cmdlet that can upload a Point-to-Site self-signed root cert needed for client access to the VNET.

[2015-06-10 16:30] bmoore-msft opened #485 "add new method for adding UA only if it does not exist"
The current .Add method for adding UA string will add unconditionally, even if it already exists.  Scripts that use this then can end up continually adding and hit the limit.  We need a method that will add the string only if it's not already part of the UA.  Ogail recommended a new method, e.g. AddUserAgent that would handle this:

$UserAgentString = New-Object -TypeName System.Net.Http.Headers.P

[2015-06-10 21:41] alexandair opened #488 "ARM: Confusing output of Get-AzureLocation"
[code]
This output is not something I would expect when I ask for available locations. Output is focused on resource types, not locations. This is a proper output for Get-AzureResourceType (which still doesn't exists).

SM-based Get-AzureLocation returns info about Name and DisplayName of locations and then AvailableServices. I would expect the similar output here with locations' name and display

[2015-06-10 21:44] alexandair commented on #477
-Credential parameter in Add-AzureAccount supports only organizational (work and school) account, not Microsoft account.

[2015-06-10 21:49] alexandair opened #489 "ARM: Test-AzureName is missing"
I should not be forced to switch back to Service Management to test for Azure name availability.
Test-AzureName is needed in both modes.

[2015-06-10 22:37] alexandair opened #491 "ARM: Get-AzureCheckDnsAvailability should not expect a short name of an Azure location"
Get-AzureCheckDnsAvailability has the -Location parameter. You would think that you need to specify "West US" or "West Europe" as you do we other cmdlets, but that would give you an error:

[code]
Expected values are "westus", "westeurope". :( A user should never care about that "short form" of an Azure location, just because that's the way how it's used in a URL.

Btw, I would expect Get-AzureChe

[2015-06-10 23:02] singhkay commented on #489
Hey @alexandair you're right. There shouldn't be a need to switch. There's active discussion going on internally for bringing this cmdlet to the ARM mode.

[2015-06-10 23:04] doctordns commented on #477
True - at present add-azureaccount only supports org accounts. I'm suggesting it should also support Microsoft account.

[2015-06-10 23:07] creadle commented on #491
I agree with the main point.

I would add, that changing the verb to Test makes the Check in the noun portion redundant.

Also, is there an internal Azure DNS searching efficiency to knowing the location?  Because once mycoolcloudapp.cloudapp.net is taken, it doesn't really matter what the location is, correct?

[2015-06-10 23:31] alexandair commented on #491
We are talking about virtual machine v2 created using ARM API. Its DNS name is different that VM v1. It's in a form like : azugbetest.westeurope.cloudapp.azure.com
A location is part of the DNS name, so the location matters.

You are right about the "Check" part. My mistake. Test-AzureDnsAvailability, then. :)

[2015-06-11 00:54] mvanotti opened #492 "Reuse Active Directory Credentials for making manual requests."
Some Azure Methods are not supported by Azure Powershell, for example, [the api call to get the principals of an account](https://msdn.microsoft.com/en-us/library/azure/dn469420.aspx).

There are ways to [reuse the azure active directory credentials](http://blogs.technet.com/b/keithmayer/archive/2014/12/30/authenticating-to-the-azure-service-management-rest-api-using-azure-active-directory-via-pow

[2015-06-11 00:56] mvanotti opened #493 "Get-AzureAccountPrincipals"
Right now there's no way of listing the users that an account has and their roles. It would be handy to have that cmdlet available.

https://msdn.microsoft.com/en-us/library/azure/dn469420.aspx

[2015-06-11 01:01] mvanotti opened #494 "Get-AzureEndpoints loses information about the VM"
It would be handy to be able to not lose the information about a VM after piping it to `Get-AzureEndpoint`.

For example, a call like: `Get-AzureVM | Get-AzureEndpoint` (list all the endpoints of all the VMs), will just show all the endpoints and no information about which VM corresponds to each one.

I'm suggesting to keep the VM information in the resulting output, or to be able to get a VM obje

[2015-06-11 17:02] bmoore-msft commented on #485
Wanted to add...

Another approach would be to pick up the contents of an env variable, this approach would be much simpler for callers but they would have to manage existence, e.g.

if ($env:UA -inotmatch 'foo/1.0') {$env:UA += ';foo/1.0'}

P2 for removal would be simple.

[2015-06-11 18:27] singhkay commented on #491
Adding @jtuliani for this feedback

[2015-06-11 18:28] singhkay commented on #488
Adding @chadiel for this feedback

[2015-06-11 19:21] devigned commented on #428
## What Is Swich-AzureMode And Why Are We Deprecating It?

Beginning in version 0.8.0, the Azure PowerShell installation included both Azure Service Management (ASM) and Azure Resource Manager (ARM) modules. These modules were not designed to be used in the same session.  So to allow use of the modules within the same session, one module would be loaded and the other module would be unloaded using

[2015-06-11 19:55] trondhindenes commented on #428
Great news. Could you explain what will happen to v1/v2 vms as a result of this switch? Will "v2" vms be created by default after the switch? (that would mean that "Get-azurevm" will only list vms created via the arm api while we will have to use "get-asmvm" to list "v1" vms?). I think there's no getting around the fact that we need a unified set of cmdlets that lets us manipulate both v1 and v2 r

[2015-06-11 21:35] devigned commented on #428
@trondhindenes We will not be converting v1 to v2 resources. Transitioning from v1 to v2 resources is handled by a little differently by each Azure service. You will be able to leverage v1 cmdlets and v2 cmdlets side-by-side to manipulate v1 and v2.

[2015-06-11 21:52] trondhindenes commented on #428
Just to get clarification: "We will not be converting v1 to v2 resources": "We" as in Microsoft, or "we" as in the team working on the PowerShell cmdlets for Azure? What I'm trying to understand here is how I should tell my customers to handle this. Say you release updated cmdlets on sept 1st that switch to arm as the default api:
august 29: vm is created with new-azurevm, which will create a V1 v

[2015-06-11 21:56] devigned commented on #428
We as in Azure PowerShell.

The script that is calling New-AzureVM will fail as V2 expects different parameters than V1.

[2015-06-11 21:58] jodoglevy commented on #428
## Proposed Future Without Switch-AzureMode – Azure Automation service

The Switch-AzureMode method of Azure and ARM module use did not work in Azure’s Automation service, leading to a lack of ARM adoption in the service. The above proposed changes to Azure PowerShell, along with proposed changes to Azure Automation, will make use of ASM and ARM cmdlets side by side in Azure Automation much simple

[2015-06-11 22:06] devigned commented on #428
@trondhindenes let me be a little more specific. The customer could also leverage a backwards compatibility script that we'll provide, which will alias the V1 commands back to their original names and remove the ARM modules. This will make the script run as it would have before, but it is only meant to be a stop gap for folks only using ASM cmdlets.

[2015-06-12 00:16] jodoglevy commented on #474
This is now documented: https://azure.microsoft.com/en-us/documentation/articles/automation-configuring/

[2015-06-12 00:20] jodoglevy commented on #428
The full proposal from Azure PS and Azure Automation teams is here: https://github.com/Azure/azure-powershell/wiki/Deprecation-of-Switch-AzureMode-in-Azure-PowerShell

[2015-06-12 00:23] alexandair commented on #428
New Azure modules won't be offered through WebPI?
When you put new modules to PowerShellGallery, so that we can use PowerShellGet to install them, the installation path will change to c:\Program Files\WindowsPowerShell\Modules (by default) or equivalent path for the 32-bit modules. Is that correct?

[2015-06-12 04:38] sriramvu commented on #428
@devigned , in reply to your comment "The script that is calling New-AzureVM will fail as V2 expects different parameters than V1." -
For our service, we have planned to have same set of parameters with both V1 & V2 cmdlets (thought of not changing user experience). Can this cause any problem?

[2015-06-12 06:32] BlueBasher opened #497 "New-AzureStoreAddOn throws certificate error"
I've been trying to get New-AzureStoreAddOn working but i keep getting this error "ForbiddenError: The server failed to authenticate the request. Verify that the certificate is valid and is associated with this subscription."

When looking through the code it seems that a CloudService is being created during New-AzureStoreAddOn and I have the idea that this is what gives the error.

The steps I do

[2015-06-12 07:41] Peter-Schneider opened #498 "Set-AzureStorageBlobContent should support the Content-Disposition BlobProperty"

[2015-06-12 09:20] jtuliani commented on #491
Agree the name should be Test-AzureDnsAvailability.
Will pass on the feedback regarding how locations are specified.

[2015-06-12 16:28] nmackenzie commented on #493
Get-AzureRoleAssignment does that.

[2015-06-12 17:21] pcgeek86 opened #499 "Get-AzureEnvironment doesn't return US Government Cloud"
The `Get-AzureEnvironment` command does not return the Azure US Government Cloud environment. Please add this environment to **both** the Service Management and Azure Resource Manager (ARM) modules.

Cheers,
Trevor Sullivan
Microsoft MVP: PowerShell
https://trevorsullivan.net
https://twitter.com/pcgeek86

[2015-06-12 17:30] RobinDotNet commented on #428
Let's talk about Azure Storage cmdlets. Some of these are in the ARM cmdlets, and I'm guessing that some aren't. Is that true? How will we know which cmdlet to use? Are there any in both that are the same in both?

[2015-06-12 17:48] pcgeek86 commented on #498
Use the `-Property` parameter.

Cheers,
Trevor Sullivan
Microsoft MVP: PowerShell
https://trevorsullivan.net
https://twitter.com/pcgeek86

[2015-06-12 17:54] alexandair commented on #428
There will be a lot of cmdlets with the **same name** in ASM-based module and ARM-based modules. However, they won't have the same parameters. For example, ASM-based Get-AzureVM has one parameter set and -ServiceName parameter. ARM-based Get-AzureVM has four parameter sets and -ResourceGroupName (in two of them).

[2015-06-12 18:07] RobinDotNet commented on #428
Yeah, I got that. I've used both for creating VMs. However, I'm specifically asking about cmdlets having to do with Azure Storage, not VMs, *especially* the ones that may not be in ARM now. Examples:
New-AzureStorageContext -- I wouldn't expect this to change
New-AzureStorageContainer -- I would expect the ASR version to require the ResourceGroup
Get-AzureStorageContainer -- might have 2 versions,

[2015-06-12 18:21] devigned commented on #499
I don't think we are going to add this environment (at least not real soon).

In fact, environments will likely be refactored into something closer to discovery endpoints. Think about adding a git remote. It would be similar. Give a name and a uri, then the client could pull all of the metadata for the environment from the uri.

[2015-06-12 18:21] #499 closed

[2015-06-12 18:24] devigned commented on #498
@Peter-Schneider does that solve this for you?

[2015-06-12 18:29] alexandair commented on #428
Disregard my previous comment. I was thinking about some old discussions with Azure PowerShell team on this subject when we still talked about having the same names for both APIs and using modulequalified naming. With the current proposal, that won't be the case anymore. ASM-based module will have Get-AsmVM cmdlet and ARM-based will continue to use Get-AzureVM.

[2015-06-12 18:34] devigned commented on #428
@sriramvu if the cmdlets exist in both ASM and ARM modules, then there should be no issues. If they will exist in a module that would be used in both, then we should talk through that so we break them up properly.

[2015-06-12 18:36] devigned commented on #428
@RobinDotNet we should talk through breaking those cmdlets out from ASM and ARM if they have nothing to do with them. Sounds like the cmdlets you are mentioning are data plane cmdlets (non-management) and as such should be independent from the management related cmdlets (IMHO).

Thoughts?

[2015-06-12 18:37] devigned commented on #493
@mvanotti does that solve your issue?

[2015-06-12 18:54] alexandair commented on #428
Right now, all cmdlets that @RobinDotNet has mentioned exist in both modes--AzureServiceManagement and AzureResourceManager and are coming from **the same** DLL regardless of the mode (C:\Program Files (x86)\Microsoft SDKs\Azure\PowerShell\ServiceManagement\Azure\Storage\Microsoft.WindowsAzure.Commands.Storage.dll)
I expect them to get their own AzureStorage module and keep their name. They'll con

[2015-06-12 19:11] devigned commented on #428
@alexandair, yes. That's precisely what I was thinking.

[2015-06-12 20:03] chadiel commented on #428
If we expect both cmdlets to live in the same module, would we be opening our customers to a source of frustration when they get a resource using the ASM cmdlet and try to use it with an ARM cmdlet (or vice versa) only to have the call fail? I'd imagine that a customer who has created a resource that lives side-by-side between ASM (RDFE) and ARM (e.g. SQL, Websites, etc.) to encounter this at some

[2015-06-12 20:18] mvanotti commented on #493
Thanks for pointing that out :)

Sadly, Get-AzureRoleAssignment doesn't show up anything on my subscription, whereas doing a manual request gives me all the information I need:

    PS C:\Windows\system32> Get-MyAzureUser

    Role                                      Email
    ----                                      -----
    ServiceAdministrator;AccountAdministrator test1@gmail.com
    CoAdmin

[2015-06-12 20:33] nmackenzie commented on #493
In a subscription with assigned roles I get multiple usernames and role assignments similar to the following returned:

PS C:\Windows\System32\WindowsPowerShell\v1.0> Get-AzureRoleAssignment

UserPrincipalName  : wwallace@somedomain.com
Mail               : wwallace@somedomain.com
RoleAssignmentId   : /subscriptions/SUBSCRIPTION-GUID/resourceGroups/CentraliaRG/providers/Microsoft

[2015-06-12 20:37] RobinDotNet commented on #428
@alexandair -- ALL of them are in both? But they're not identical. Get-AzureStorageAccount and New-AzureStorageAccount let you pass in a resource group in the ARM side. Does the assembly handle both?

I'm asking because I just wrote about a thousand lines of powershell for a storage course that's going to be hosted by Opsgility (like Pluralsight, but just Azure), and it's due to be published in Ju

[2015-06-12 20:43] RobinDotNet commented on #428
One other thing. You have to deal with the v1/v2 invisibility issue. I mean where you can not see v2 storage accounts from ASM and you can't see v1 storage account from ARM. So if you load both of those, are they going to have to use Get-ASMStorageAccount and Get-AzureStorageAccount in order to see all of their storage accounts? (Considering how many millions of people are using v1 assets on Azure

[2015-06-12 21:12] alexandair commented on #428
@RobinDotNet I said all cmdlets that you've listed in your comment are coming from the same DLL in both modes and will work in the future as they are working now. On the other hand, Get-AzureStorageAccount and New-AzureStorageAccount are not in the same DLL. ASM-based ones are in ```C:\Program Files (x86)\Microsoft SDKs\Azure\PowerShell\ServiceManagement\Azure\Compute\Microsoft.WindowsAzure.Comman

[2015-06-12 21:13] mvanotti commented on #493
Do you have any idea why the output is different? I am not getting any output when I call that command.

[2015-06-12 21:19] nmackenzie commented on #493
Are you using a subscription for which roles have been defined? I get no output when I run the command in a subscription with no roles assigned to users or groups.

[2015-06-12 21:23] RobinDotNet commented on #428
You mean the old ones will be renamed to Get-Asm*, not the new ones, right? So that goes back to my original question. HOW MANY of them will be renamed? Will the ones that have the same functionality, like Get-AzureBlob, still be Get-AzureBlob, or am I going to have to change ALL of my Get-Azure* cmdlets to Get-Asm* ?

[2015-06-12 22:32] mvanotti commented on #493
I think these are different things.
I have an admin and a co-admin in my account, I want to be able to list them, that's what this issue is about.

`Get-AzureRoleAssignment` shows me all the assigned roles (except the default one: I'm the owner), but no signs of the co-admin of the subscription.

[2015-06-12 23:05] nmackenzie commented on #493
Yes, they are different things. There are two ways to administer Azure services:

- Azure Service Management used by the production portal (manage.windowsazure.com) and the ASM (currently default mode of Azure PowerShell)
- Azure Resource Manager used by the preview portal (portal.azure.com) and the ARM mode of Azure PowerShell. This is the focus of all current and future management of Azure servi

[2015-06-13 09:38] gmantri commented on #498
Please see this thread on SO for more details: http://stackoverflow.com/questions/30786308/how-to-set-contentdisposition-using-set-azurestorageblobcontent.

@pcgeek86 Problem is that -Property expects a HashTable and matches the keys against a set of predefined properties. Currently ContentDisposition is not one of them :(

[2015-06-14 07:46] Peter-Schneider commented on #498
@pcgeek86, @gmantri, @devigned: Thank you! That's excatly the problem. I've added a pull request (#502), which adds the missing Dictionary entry.

[2015-06-14 15:53] pzerger commented on #428
@RobinDotNet - presumably the new naming convention would be applied to all the ASM cmdlets for sake of consistency. It would be confusing to have only those duplicated across modules renamed.

[2015-06-14 15:58] pzerger commented on #428
In my view, the ARM cmdlets should also be a global module pre-loaded in Azure Automation by default (which is not currently the case). The steps to upload the ARM module (http://bit.ly/1SfgmPA) are an unnecessary distraction that should be removed for working with core Azure IaaS functionality.

[2015-06-14 16:01] pzerger commented on #428
@devigned did you answer @alexandair question about future module distribution via WebPI? I cannot find an answer in the thread above.

[2015-06-15 08:01] jonasro commented on #333
My usecase:
10 customers of different size all running in separate Azure deployments.
We are using one .csdef for all deployments and have on .cscfg per customer.
We also use the same .csdef for test and stage deployments.

Since the vmsize is set in the .csdef I would like to set the vmsize of a webrole post deployment so that i can adjust a testenvironment to the smallest vm size or can adjust a

[2015-06-15 09:50] trondhindenes commented on #428
It would be great to get some statement from MS regarding how they plan to deal with migration of V1 resources to V2. I realize that's outside the scope of of the team maintaining the Azure Powershell cmdlets, but it's still a very important part of this discussion.

[2015-06-15 15:37] tylerd commented on #428
The article mentions PowerShellGet multiple times, are you talking about PSGet? Or something different? [http://psget.net/](http://psget.net/)

[2015-06-15 15:39] slapointe opened #504 "ARM: Set-AzureVMCustomScriptExtension encounter a NullReferenceException when StorageAccountName is not under the same ResourceGroup as specified in ResourceGroupName"
Context:
Azure-powershell version: 0.9.3
PSVersion                      5.0.10018.0
WSManStackVersion              3.0
SerializationVersion           1.1.0.1
CLRVersion                     4.0.30319.0
BuildVersion                   10.0.9800.0
PSCompatibleVersions           {1.0, 2.0, 3.0, 4.0...}
PSRemotingProtocolVersion      2.2

Steps to reproduce:
Invoke "Set-AzureVMCustomScriptExtension" wit

[2015-06-15 16:09] pcgeek86 commented on #498
@gmantri @Peter-Schneider excellent, thanks for finding that, guys!! I'm glad it's being validated on the client side, and that you were able to submit a PR for it.

[2015-06-15 16:13] devigned commented on #428
@tylerd see: http://blogs.msdn.com/b/mvpawardprogram/archive/2014/10/06/package-management-for-powershell-modules-with-powershellget.aspx

[2015-06-15 16:15] devigned commented on #428
@trondhindenes I'll pass on your desire to have some wider statement regarding migration from v1 -> v2

[2015-06-15 16:18] devigned commented on #428
@alexandair and @pzerger the WebPI installer will be a facade over script running PowerShellGet. You should expect the same experience for both WebPI and PowerShellGet.

[2015-06-15 16:28] mvanotti commented on #493
Thanks for your answer @nmackenzie!

I have a few follow up questions:
I'm getting a warning when I run Swith-AzureMode, it says it is deprecated, what's the correct way to use the ARM?
Is the ASM going away? That means that all of the current ASM functions will be deprecated and there will be a replacement version in the ARM? For example is there a replacement for Get-AzureVM?

Thanks :)

[2015-06-15 16:31] RobinDotNet commented on #428
I never use the WebPI installer, because you have no idea what *else* is going to be installed. The last time I used it to install the PowerShell cmdlets, it updated the Azure Tools on my box, which I didn't want.

[2015-06-15 16:39] devigned commented on #498
@Peter-Schneider awesomesauce! Thank you for the PR.

[2015-06-15 16:55] pzerger commented on #428
@RobinDotNet last I updated my system, there is now a Standalone option in WebPI for the Azure PowerShell module I've found harmless and quick to install.

[2015-06-15 17:00] devigned commented on #428
@RobinDotNet per your question, "HOW MANY of them will be renamed?". We don't have the total number, but I'll look into it and provide an answer.

To provide a less concise answer, any cmdlet that is inextricably tied to ASM will be renamed. Some of the examples you listed like Get-AzureBlob are "data plane" rather than "management plane" and I would **not** consider them linked to ASM or ARM. Dat

[2015-06-15 17:02] devigned commented on #428
@pzerger thank you for pointing that out. We have received quite a bit of feedback similar to @RobinDotNet mentions above. We specifically added the standalone option to assuage this pain.

[2015-06-15 17:09] nmackenzie commented on #493
ASM is being replaced by ARM - and ARM will become the default for PowerShell. The team has put a put a post on GitHub asking for comments about their proposal for this:

https://github.com/Azure/azure-powershell/wiki/Deprecation-of-Switch-AzureMode-in-Azure-PowerShell

[2015-06-15 17:19] RobinDotNet commented on #428
@devigned @pzerger Thanks for the info on the WebPI. I've had a lot of trouble with that thing over the years, so I try hard not to use it any more.
@devigned That's good news. I was hoping you wouldn't rename the ones that have nothing to do with resource manager/group.

[2015-06-15 17:45] devigned commented on #493
@mvanotti I'm going to close this issue. If you feel that the question requires more attention, please reopen the issue.

[2015-06-15 17:45] #493 closed

[2015-06-15 18:29] mvanotti commented on #428
Hi!
Where can I read more about this v1/v2 resource versioning? I created VMs from the Azure Web Portal last week and I can only see them from the Get-AzureVM cmdlet from the ASM, I can't see them from the ARM one.

It is REALLY confusing to have two different ways to list resources, and I thought that it would be for legacy resources, but the vm's I'm talking about where created last week via the

[2015-06-15 20:16] vivsriaus commented on #379
This is now fixed. Please update to latest 0.9.3

[2015-06-15 20:16] #379 closed

[2015-06-15 21:36] Peter-Schneider commented on #498
@All: No problem.. Thank you @ogail for merging (ogail@7e36ee8943efc5aeedab51b33a7c4ad7928c6edd)

[2015-06-15 21:36] #498 closed

[2015-06-15 22:55] #476 closed

[2015-06-15 23:05] singhkay commented on #300
Hey @trondhindenes are you proposing a design where a -Wait parameter takes time in seconds ?

[2015-06-15 23:07] RobinDotNet commented on #428
I'm concerned that changing all of the v1 Powershell cmdlets is going to be a lot more confusing to the many people using them than teaching people to use Switch-AzureMode. How many people are using these -- thousands? hundreds of thousands? millions? I would bet that 99% of them have v1 assets.

It's so clearer to me to switch to the other set of cmdlets than to figure out which cmdlet I'm going

[2015-06-15 23:10] RobinDotNet commented on #428
@mvanotti You can't create v2 resources in the preview portal yet. You can only create them with the ARM cmdlets. The v1 resources and the v2 resources can not see each other, so you can't create a v1 storage account and have it used by a v2 resource (and vice versa). And not everything in v1 is in v2. I got toasted last week because it turns out the gateways are not yet available, so you can't se

[2015-06-15 23:12] #375 closed

[2015-06-15 23:42] alexandair commented on #428
**mvanotti** The other way to get v2 resources is to use ARM templates to create compute, networking, and storage resources.

[2015-06-15 23:44] RobinDotNet commented on #428
@mvanotti -- You're right. My last customer wanted to use PowerShell, not the templates, so I wasn't thinking about that.

[2015-06-15 23:55] alexandair commented on #428
**RobinDotNet** The main reason for going in this direction is that Switch-AzureMode is not supported in Azure Automation. ARM is the future, and we need support for ARM-based cmdlets in Azure Automation sooner than later. No one says it will be easy. Transitional period is always PITA.

[2015-06-16 00:01] mvanotti commented on #428
If this is already decided, then the first thing to do is add the replacement commands so now people that needs to access the legacy cmdlets can do that. I, for example, see myself using Get-AzureVM (for v1 vms) a lot, and if that function is going to be changed to Get-ASMVM, I would like to have those cmdlets available sooner rather than later.

[2015-06-16 00:03] mvanotti commented on #428
@RobinDotNet, @alexandair thanks for your answer, but I'm looking at docs that describes the new things about v2 stuff, is there such thing documented?

[2015-06-16 00:12] RobinDotNet commented on #428
@mvanotti Hahaha! That's funny. Hahaha! I mean, no. There's nothing about the visibility or about what features aren't available. My customer had to revert to v1. After discovering the network gateway lack, he was unwilling to continue, afraid we would hit something else that was missing.

Here are some helpful links I found.

I had considerable trouble creating my customer's infrastructure in PS

[2015-06-16 00:13] RobinDotNet commented on #428
@alexandair Ohhhh, I see. It's going to be a huge impactful change that's probably going to make some people angry. I wish Microsoft luck with it, and hope it works out okay.

[2015-06-16 00:31] jodoglevy commented on #428
@pzerger this solution is exactly to address the problem you mention, of ARM cmdlets not being pre-loaded in Azure Automation. See my post above for details.

[2015-06-16 00:52] pzerger commented on #428
Joe, caught that on re-read top to bottom. Seems like the right plan to me.

Regards,

Pete Zerger, MVP
Founder, SystemCenterCentral.com
Azure IaaS Book (coming soon) - http://insidethemicrosoftcloud.com
On Mon, Jun 15, 2015 at 7:31 PM, Azure/azure-powershell
<reply@reply.github.com>
wrote:
@pzerger [https://github.com/pzerger] this solution is exactly to address the problem you mention, of ARM cm

[2015-06-16 01:18] devigned commented on #428
@mvanotti

I wouldn't worry about making replacement commands. We intend on providing backwards compatibility for users using only ASM. I wasn't clear on exactly how b/c we are still talking through some of the options (script to rename ASM cmdlets to their new names, aliasing ASM cmdlets script w/ Remove-Module for ARM which keeps their old names, or other options).

With the aliasing ASM cmdlets

[2015-06-16 01:22] devigned commented on #428
Please keep in mind that this is a proposal. We are open to ideas. If anyone feels strongly about this one way or another, let's try to come to the best solution for the Azure PowerShell community.

[2015-06-16 10:21] trondhindenes commented on #428
I'm trying to think of all this in terms of scenarios. I have lots of customers with various types of Powershell-based automation doing stuff in Azure. For these I will simply advise them not to update the cmdlets until everything is tested and ready, so that's not a huge problem.

My worry is that customers who want to move forward/migrate to v2 resouces are met by a ton of problems because of no

[2015-06-16 18:36] mvanotti commented on #428
Hi!

Thank you all for your answers.
My understanding is that current customers that are using v1 might keep the same resources in v1, and maybe add new resources from v2. So, it would be nice to have a way of interacting with both versions easily (not having to load-unload a module, or even switching modules), that's why I thought having the ASM cmdlets renamed was a good solution for users of bo

[2015-06-16 19:21] singhkay commented on #428
@trondhindenes The team is currently working through planning on how to provide an automatic migration solution. Here's a survey that was sent out last week to gather feedback and requirements to better understand customer scenarios - http://aka.ms/armmigration

[2015-06-16 19:59] jodoglevy commented on #428
@trondhindenes Different Azure services have different backwards compatibility "amounts" in their Azure Resource Manager (ARM) APIs. With Azure Automation's ARM API, for example, you can fully manage resources created through Azure Service Management (ASM) using ARM. As far as I know, Azure Compute's ARM functionality at this time cannot interact with ASM compute resources, but @singhkay can speak

[2015-06-16 21:44] singhkay commented on #394
@hyonholee Can you take a look at this? Thanks!

[2015-06-16 21:44] singhkay commented on #388
@huangpf Can you take a look at this. Thanks!

[2015-06-16 21:56] aarsan commented on #388
Turns out, for $domainuser, i was using "domain\username" instead of just "username". This is no longer an issue and can be closed. Thanks.

[2015-06-16 21:56] #388 closed

[2015-06-17 18:50] MattAllison commented on #428
I can't possibly begin to explain how frustrating this is.

It seems that the decision is being made to throw bad engineering after bad engineering; introducing the Switch-AzureMode to allow the re-use of commands with different parameters and methods of use because "we liked the name".

At least for me, September is an insane timeframe to re-work scripts that took 6 months of professional service

[2015-06-17 20:24] devigned commented on #428
@MattAllison, I love the passion. Using verb-AzureRM for the ARM cmdlets is certainly an option and is something we have discussed.

This approach does introduce a couple things that could be a positive or negative base on point of view.

- With all Azure cmdlets having the verb-Azure* structure, it might be a little crowded when searching for Azure cmdlets. With the verb-Asm and verb-Azure naming

[2015-06-17 20:45] devigned commented on #492
Interesting. @matt-gibbs thoughts?

[2015-06-17 20:56] MattAllison commented on #428
"Passion" is a very generous term; thanks for that.

It's true that with all of the cmdlets starting with verb-Azure searching could be crowded, but it would also allow you to see items that have direct new comparative commands fairly close to each other (get-command *-Azure*Storage)   Yes, that has to be learned, but so does all of this and I think it's less of an impact.

Users may have a tenden

[2015-06-17 22:44] singhkay commented on #387
@huangpf Can you take a look at why long worker role names are causing this? Thanks!

[2015-06-17 22:57] singhkay commented on #504
I think there is an improvement here that the service side can make so that the error message is consistent across all clients rather than PS building special logic for this. I'll forward this to service team.

[2015-06-18 00:45] matt-gibbs commented on #449
Closing this out. @nickheppleston we would welcome the contribution.

[2015-06-18 00:45] #449 closed

[2015-06-18 00:50] ryancrawcour commented on #449
Absolutely. @nickheppleston if you would like to contact me on ryancraw at microsoft dot com we can sync up and perhaps divide & conquer

[2015-06-18 13:07] retk opened #516 "Remove-AzureResourceLock cmdlet is invalid"
# Environment
* Windows 10 Preview 10130
* PowerShell 5.0 (5.0.10130.0)
* AzureResourceManager 0.9.3

# Problem

The Remove-AzureResourceLock cmdlet does not support the -LockName parameter or any other parameter that allows me to specify locks.
For example:

[code]
[code]

# Expected Result

The  Remove-AzureResourceLock  command should support LockName parameter and/or the lock as PSObject.

Reg

[2015-06-18 13:14] ckonig commented on #379
Sadly I cannot confirm that this is fixed with 0.9.3, tried it today with that version but still the behavior is the same as stated in the linked Stackoverflow question.

[2015-06-18 13:27] mcrsw commented on #317
Hi @matthewcanty

I recently faced a similar problem, so I decided to figure out what the OLD and NEW
portals were changing (in terms of the output generated by the Get-AzureWebsite powershell
cmdlet).
The tables below summarise my findings - and hopefully, might be useful to others trying to figure
this out.

In essence, I think the answer to your question is:

* _Web server logging: Off/Storage/

[2015-06-18 13:39] matthewcanty commented on #317
@mcrsw looks really interesting. I will have to come back to this at some point and I'm sure this will be very helpful when I do. Can you confirm that this has solved your issue, or if these are just findings?

[2015-06-18 16:04] mcrsw commented on #317
@matthewcanty these are just my findings to date. I'm still in the discovery stage ;-) yet I shall report back with actual success/failure over the next few days.

Just out of interest - are you expecting to use the ARM, or the ASM related cmdlets to modify your website's config?  As a newbie to the powershell cmdlets, I'm not clear yet on whether it is wise to mix ARM and ASM in the same .ps1 fil

[2015-06-18 16:13] matthewcanty commented on #317
I wouldn't be able to advise on that front... I'm not sure exactly what ASM is.

Just checked out https://msdn.microsoft.com/en-us/library/dn722470.aspx

It suggests not switch during the same session but otherwise looks okay to use in the same script.

[2015-06-18 16:55] slapointe commented on #504
I completely agree with you Kay.

The call is located in method Microsoft.Azure.Commands.Compute.SetAzureVMCustomScriptExtensionCommand.GetStorageKey(string storageName)

-> storageClient.StorageAccounts.GetProperties(this.ResourceGroupName, storageName);

[2015-06-19 00:30] francoismagninavanade opened #519 "Add-AzureCertificate fails when executed through IIS"
AddAzureCertificate imports the PFX file in GetCertificateData(). This gives an access denied exception when running in IIS.
Instead of importing the certificate to then export it, load the PFX data in the X509Certificate2 constructor.

var cert = new X509Certificate2(certPath, password, X509KeyStorageFlags.Exportable);
//cert.Import(certPath, password, X509KeyStorageFlags.Exportable);
return cert

[2015-06-19 03:59] gangsir commented on #80
@pcgeek86  Thank you for providing feedback. We will look at this and improve this cmdlet in future releases.

[2015-06-19 11:45] JakobGSvendsen opened #521 "Cannot pipe Get-AzureAutomationDscNode to Get-AzureAutomationDSCNodeReport"
Get-AzureAutomationDscNode -Name WEB02 | Get-AzureAutomationDSCNodeReport

Get-AzureAutomationDSCNodeReport : The input object cannot be bound because it did not contain the information required to bind all mandatory parameters:  NodeId
At line:1 char:42
+ Get-AzureAutomationDscNode -Name WEB02 | Get-AzureAutomationDSCNodeReport
+                                          ~~~~~~~~~~~~~~~~~~~~~~~~~~

[2015-06-19 13:34] ToonDC commented on #387
@huangpf Info: having the same issue also in 0.9.3.

[2015-06-19 17:05] pcgeek86 commented on #492
@devigned VERY interested in this. Another example of where this would be incredibly useful is to call the REST API for adding VPN certificates on a Virtual Network, revoke them, et al.

[2015-06-19 17:09] huangpf commented on #387
@ToonDC
Does the problem occur in ```Set-AzureDeployment```, ```Set-AzureServiceDiagnosticsExtension```, or both?

Do you have the repro steps, operation IDs, logs, etc?

[2015-06-19 23:11] trondhindenes commented on #475
I did some more thinking on this, and at least for me the following is the right pattern:
-If the operation is simply a high-impact operation such as deleting a VM or whatever, the builtin functionality should be used. This is what gives us the -confirm switch.
-if the operation should have a "brute-force" option then "-force" should be used. An example of this is "get-childitem -force", which sho

[2015-06-19 23:29] NaveenGoli commented on #428
How about an option where -v1 will run ASM cmdlets and -v2 will run the ARM cmdlets?

[2015-06-22 04:18] francoismagninavanade commented on #519
An even better approach to get the certificate data is to use File.ReadAllBytes(pfxPath) as mentioned in the MSDN documentation (https://msdn.microsoft.com/en-au/library/azure/ee460817.aspx).

[2015-06-22 18:03] MattAllison commented on #428
I haven't looked @ all of the cmdlets before writing this but I'd think that a parameter set would be a better approach.  If -serviceName is being used then use ASM mode, if -resourceGroup is being used then use ARM mode.

[2015-06-22 18:38] ToonDC commented on #387
I have it for both + also for `New-AzureDeployment`, I created a sample project that you can find here [code](https://github.com/ToonDC/azurecli) on github.

1. Publish the solution via Visual Studio 2013 Update 4 and notice that that works as expected.
2. Execute the script [New-AzureDeployment.ps1](https://github.com/ToonDC/azurecli/blob/master/New-AzureDeployment.ps1)
3. Same for the script [Se

[2015-06-22 18:51] ogail commented on #440
@n2name for your scenario please use [-Profile](https://github.com/Azure/azure-powershell/wiki/Azure-Profile-Cmdlets) which supports executing cmdlets in parallel.

[2015-06-22 18:51] #440 closed

[2015-06-22 19:14] huangpf commented on #387
@ToonDC Thanks for the information. It does reproduce.

Is it feasible for you to use a shorter role name, like ```$azureWebRoleName = "WebRole1"```? One our end, we need to triage and come up with a better solution to handle the recent extension ID-related issues. Assign it back to @singhkay for creating an item for triage and tracking.

@craig-wagner
This is a different issue than #72 in that he

[2015-06-22 19:48] alexandair commented on #428
**@MattAllison** That might look like an elegant solution, but keep in mind that ASM- and ARM-based cmdlets are based on different APIs.
For example, ASM-based Get-AzureVM has **2** parameter sets at the moment. **Only one** of them has the -ServiceName parameter.
ARM-based Get-AzureVM has **4** parameter sets at the moment. **Only 2** of them have the -ResourceGroup parameter. You cannot use the

[2015-06-23 07:55] ToonDC commented on #387
@huangpf it is feasible to rename the web/workerroles, but it's far from ideal.

[2015-06-23 17:09] huangpf commented on #387
@ToonDC Sorry for the inconvenience. This is just a temporary mitigation for now.

We would try to come up with a better and more generic solution for the extension ID-related issues.

Thanks.

[2015-06-23 17:18] craig-wagner commented on #387
@huangpf Thanks. I realized it was a different issue. I only put the reference to #72 in because they sound very similar (and have the same title) and was trying to avoid someone saying, "That's already been fixed, see #72."

[2015-06-23 17:47] huangpf commented on #72
Note: this issue is about the invalid character of ```.``` used in the extension ID, while in #387 it's about the length of extension ID. Since we have seen quite a few issues about extension IDs recently, we would try to triage them together and come up with a more generic solution for them altogether.

[2015-06-23 17:49] huangpf commented on #387
@craig-wagner Thanks for your information. I added notes there, and here as well.

Note: this issue is about the length of extension ID, while #72 is about the invalid character of ```.``` used in the extension ID which should have been fixed. Since we have seen quite a few issues about extension IDs recently, we would try to triage them together and come up with a more generic solution for them a

[2015-06-24 19:12] hovsepm commented on #418
@trondhindenes,

Could you add debug log as well? You can do it by first executing
[code]
and then calling Add-AzureAccount. That will help us understand your scenario.

At the same time you if you know which tenants you will be using use -Tenant parameter of the cmdlet narrow down server communication to only that tenant.

[2015-06-24 19:17] trondhindenes commented on #418
I'd rather not send the debug log openly as it contains subscription ids
and some user accounts. Is there anywhere I can send it to you privately?

The "tenant" parameter is a good tip, I'll be using that when I can.

On Wed, Jun 24, 2015 at 9:12 PM, Hovsep <notifications@github.com> wrote:

[2015-06-24 20:51] mvanotti commented on #492
It is unfair to expect the team to implement all the API Calls, this looks like a good solution.. If you want to make an API Call, you can just reuse the sdk credentials.

[2015-06-24 21:54] mvanotti commented on #428
I am working on a PowerShell Module, that depends on the Azure Module.
If I put it as a dependency on my PSD file, I get an error while running Switch-AzureMode in my cmdlets

"WARNING: The Switch-AzureMode cmdlet is deprecated and will be removed in a future release.
Switch-AzureMode : Unable to remove the module 'Azure' because it is required by 'MyAzureModule'. Add the Force parameter to
your c

[2015-06-24 22:07] hovsepm commented on #395
Current PS cmdlets do not support path discovery with PSDrive, However you can get the same effect by using Get-Item in your scripts. e.g.
[code]

[2015-06-24 22:08] #395 closed

[2015-06-25 00:03] stankovski commented on #344
@bmoore-msft this is by design since Get-AzureSubscription requires different tenant tokens to query subscriptions. Please use profile created from username/password or service principal with this cmdlet.

[2015-06-25 00:03] #344 closed

[2015-06-25 00:12] stankovski commented on #327
This has been fixed in the latest version of Azure PowerShell

[2015-06-25 00:12] #327 closed

[2015-06-25 00:14] stankovski commented on #519
@singhkay please followup

[2015-06-25 00:17] stankovski commented on #332
@chrisrpatterson can you please provide us with cmdlet parameters?

[2015-06-25 00:22] stankovski commented on #392
@slapointe can you help us repro this issue without workflow? We already have tests that do serialization and deserialization of AzureProfile that are passing: https://github.com/Azure/azure-sdk-for-net/blob/master/src/Authentication/Common.Authentication.Tests/ProfileTests.cs#L80

[2015-06-25 00:38] stankovski commented on #497
Thanks for filing this. We were able to reproduce the issue.

[2015-06-25 00:42] singhkay commented on #519
@francoismagninavanade Do you have repro steps for this?
@hyonholee Can you take a look at the code fix for this suggestion?

[2015-06-25 00:46] stankovski commented on #489
We are working on eliminating Switch-AzureMode command. See discussion here: https://github.com/Azure/azure-powershell/issues/428

[2015-06-25 00:46] #489 closed

[2015-06-25 00:55] stankovski commented on #492
Thank you for the feeback. To get yourself unblocked please use the [Common.Authentication](https://www.nuget.org/packages/Microsoft.Azure.Common.Authentication/1.0.26-preview) package directly. This line will return the raw token object (https://github.com/Azure/azure-sdk-for-net/blob/master/src/Authentication/Common.Authentication.Tests/ClientFactoryTests.cs#L93).

As far as getting service prin

[2015-06-25 00:55] #492 closed

[2015-06-25 00:59] #371 closed

[2015-06-25 01:00] #477 closed

[2015-06-25 01:01] stankovski commented on #477
@doctordns as was mentioned above this is by design. Microsoft ID does not support non-intercative flow.

[2015-06-25 01:18] stankovski commented on #352
Thanks for the feedback. The script that creates this variable is in [ServiceManagementStartup.ps1](https://github.com/Azure/azure-powershell/blob/dev/src/ServiceManagement/Services/Commands.Utilities/ServiceManagementStartup.ps1). If you can create a PR to make it private it would be great.

[2015-06-25 01:18] #352 closed

[2015-06-25 01:26] stankovski commented on #429
@trondhindenes thank you for filing this. We can repro the issue.

[2015-06-25 02:57] francoismagninavanade commented on #519
Hi Kay,

Below is some sample code that should reproduce the problem:

WSManConnectionInfo connectionInfo = new WSManConnectionInfo("http", "localhost", Convert.ToInt32(ConfigurationManager.AppSettings["Port"]), "/wsman", "http://schemas.microsoft.com/powershell/Microsoft.PowerShell", new PSCredential(String.Format("{0}\\{1}", Environment.MachineName, userName), password));

            Runspace r

[2015-06-25 05:07] devigned commented on #519
Does this have anything to do with [[PermissionSet(SecurityAction.Demand, Name = "FullTrust")]] (https://github.com/Azure/azure-powershell/blob/dev/src/ServiceManagement/Compute/Commands.ServiceManagement/Certificates/AddAzureCertificate.cs#L72) in Add-AzureCertificate when running in a partially trusted environment?

[2015-06-25 05:13] devigned commented on #519
As an aside @francoismagninavanade, wouldn't it be easier to use [ServiceCertificateOperations](https://github.com/Azure/azure-sdk-for-net/blob/master/src/ServiceManagement/Compute/ComputeManagement/Generated/ComputeManagementClient.cs#L182) and other such compute client operations via the .Net SDK rather than spinning up a PowerShell run space?

[2015-06-25 05:16] francoismagninavanade commented on #519
Hi David,

No it hasn’t. I have run the service in full trust and get the same problem.

It clearly has to do with the Import statement.

You can simulate the problem by loading up a pfx file in an X509Certificate2 object using Import or even using the constructor and X509KeyStorageFlags.PersistKeySet or the default value.

To work around the problem, you can use X509KeyStorageFlags.MachineKeySet.

[2015-06-25 05:20] francoismagninavanade commented on #519
Hi David,

I would say yes but the customer has a different view…In this case, I have to use PowerShell. So we worked around the problem by installing the certificates using a REST API call which is fine.

But this issue will occur again as we cannot assume access to the local user certificate store is permitted in all scenarios. Given there are no reasons for importing the certificate into the st

[2015-06-25 05:26] devigned commented on #519
@francoismagninavanade [I see what you mean.](https://github.com/Azure/azure-powershell/blob/dev/src/ServiceManagement/Compute/Commands.ServiceManagement/Helpers/CertUtils.cs#L96)

[2015-06-25 11:36] mcrsw opened #541 "Unable to retrieve AppSettings for a website (webapp) using Invoke-AzureResourceAction"
This code is a repo for the issue:

[code]

I have included (please see below) the debug trace output obtained from the final call to GetWebAppAppSettings.
As you can see, the AppSettings ("properties") are actually returned in the HTTP response, yet they're
not returned by the GetWebAppAppSettings (Invoke-AzureResourceAction) call itself.

Could this be an issue with the JSON deserialisation?

[c

[2015-06-25 13:25] slapointe commented on #392
Right now I don't have a way to reproduce this without a PS workflow. I can take some time next week to see If I can find something.

[2015-06-25 18:30] pcgeek86 commented on #352
@stankovski Completed. Let me know where to send the bill. j/k :)

https://github.com/Azure/azure-powershell/pull/542

Cheers,
Trevor Sullivan
Microsoft MVP: PowerShell

[2015-06-25 20:59] bmoore-msft commented on #332
I'm able to repro using the following:

$secpasswd = ConvertTo-SecureString $pw -AsPlainText -Force
$creds = New-Object System.Management.Automation.PSCredential ($uid, $secpasswd)
$q = New-AzureProfile -SubscriptionId $subId -Tenant $tenant -ServicePrincipal -Credential $creds

[2015-06-25 23:58] MattAllison commented on #428
Regarding the parameter sets, it's true that the ASM version has two options.  It still seems easier to me to resolve those types of items by either requiring a new parameter (-ASM -ARM) or by determining which mode to use based on what resources are available (ASM mode if there aren't ARM resources, asking for a specific parameter if there are both).   Personally I think it makes more sense to si

[2015-06-26 00:06] jodoglevy commented on #428
Matt, can you explain why this would require hundreds of hours of rework? The only thing changing about the ASM cmdlets is their names (Get-Azure* -> Get-Asm*). If we provided a script you could run against your existing scripts, that would change all Get-Azure* references to Get-Asm* in them, would this not suffice?

[2015-06-26 00:08] jodoglevy commented on #428
(And all non-get cmdlets as well, of course)

[2015-06-26 00:41] MattAllison commented on #428
Part of it is changing the master copies of our fully developed scripts and then coordinating their deployment along with the update of the Azure PowerShell module across workstations and the servers where some of the scripts run unattended or as part of other workflow processes.

Not all of our scripts are "complete" scripts - we also have a library of code snippets for reference and tweaking of

[2015-06-26 06:11] trondhindenes commented on #428
@jodoglevy I think the worry is that scripts need to be (significantly) rewritten in order to utilize v2 resources (or them v1 resources are retired, which we still haven't gotten any information on ).

From my point of view, the v2 resources have a lot of features I'd like my customers to use, but once they introduce the first v2 vm in the mix, all housekeeping scripts are basically useless as th

[2015-06-26 10:43] alexandair opened #547 "Where is the Azure prefix?"
There is a bunch of cmdlets in AzureResourceManager module without the Azure prefix:
[code]

Also, the last four cmdlets use the plural noun. Recommended naming convention is Verb-SingularNoun.

[2015-06-26 15:35] jeetgohil814 commented on #428
If I'm creating a new Azure PS script from scratch, Is there anyway not to use the Switch-AzureMode cmdlet right now so I'll be fine once the switch occurs? Or will I have to do it this way, and then either fix it in September, or use backwards compatibility then?

[2015-06-26 15:54] MattAllison commented on #428
To add to what @trondhindenes has mentioned.  The work to modify existing scripts to allow ASM work to continue is additive work; we still have to create our own new versions that work with ARM.  It's double work.

[2015-06-26 17:55] vivsriaus opened #549 "Add -ResourceName and -ResourceType to Test-AzureResource cmdlet"
Add -ResourceName and -ResourceType to Test-AzureResource cmdlet

[2015-06-29 11:55] jack71 commented on #549
:+1:

[2015-06-29 19:12] slapointe commented on #392
I was suspecting for a while now that PowerShell workflows were the problem here and I found this while searching today

**SMA / Azure Automation gotcha # 2**

I have a script that runs in PowerShell, but not in Workflow (SMA or Azure Automation).  My script uses piping to pass objects from one cmdlet to another.  Why do I get an error when using PowerShell Workflow? The cmdlets are failing with a

[2015-06-29 19:32] devigned commented on #26
@NaveenGoli is there an update for this?

[2015-06-29 20:11] akromm commented on #480
Are you able to reproduce this using v0.9.4 of the PowerShell cmdlets?

[2015-06-29 20:15] akromm commented on #283
To get the size of a v12 database you need to use the Get-AzureSqlDatabaseUsages cmdlet.

[2015-06-29 20:15] #283 closed

[2015-06-29 22:07] markcowl commented on #311
@Morritt So, New-AzureProfile creates an in-memory profile, it is expected that it would not write the certificate to your user profile.

There was a bug in older versions of powershell that subscriptions could not be selected by name (this has been fixed in the latest versions).  Since you are able to create the subscription and select it by id, I am marking this as resolved.  Please re-open if I

[2015-06-29 22:07] #311 closed

[2015-06-29 22:12] markcowl commented on #418
@trondhindenes If you have many subscriptions in different tenants, the intention is to use the -tenant parameter to select only the tenant that you nedd to use when logging in - the reason is that powershell must acquire a token against each tenant before it can list subscriptions in that tenant.  You will notice this in the portal as well - you need to select a different tenant in order to view

[2015-06-29 22:14] SherifTalaat opened #551 "-ConnectionFieldName parameter for Set-AzureAutomationConnectionFieldValue is case sensitive"
The -ConnectionFieldName parameter for Set-AzureAutomationConnectionFieldValue cmdlet is case sensitive otherwise it will show the following error.
"Set-AzureAutomationConnectionFieldValue : The connection field name was not found for connection name: <Connection_Asset_Name>".
The value for this parameter should match the output of the following code
(Get-AzureAutomationConnection -AutomationAccou

[2015-06-29 22:20] SherifTalaat opened #552 "Remove-AzureAutomationModule doesn't remove Connection Type"
When you run the New-AzureAutomationModule cmdlet to import a module to Azure automation, It will extract the activities and connection type (if any) for that module. But, when you run Remove-AzureAutomationModule cmdlet, it removes only the activities and keep the connection type as it. The connection type with out the module is useless and it should be deleted too as part of the removal process.

[2015-06-29 22:35] SherifTalaat opened #553 "New-AzureAutomationModule and Set-AzureAutomationModule: Inconsistent parameter name"
Consistency is one of the important words we use to describe PowerShell. And it's very important to keep it everywhere in every module and cmdlet.

The New-AzureAutomationModule cmdlet has -ContentLink <Uri> parameter while the Set-AzureAutomationModule cmdlet has -ContentLinkUri <Uri> parameter. The parameters are the same but names are different. It will be great to keep the same across whether

[2015-06-29 22:45] SherifTalaat opened #554 "-JobType parameter is required for Remove-AzureWebsiteJob"
When you try to remove Azure Website Job using the Remove-AzureWebsiteJob cmdlet, you will have to provide -Name (Website Name), -JobName, and -JobType. The first two parameters make sense but the -JobType parameter doesn't make any sense to be required parameter especially we cannot use the same name for multiple webjobs even if the job type is different. I think the right behavior is removing th

[2015-06-29 22:57] markcowl commented on #541
@mcrsw thans for the report, routing to the service team to investigate

[2015-06-29 23:14] markcowl commented on #547
@alexandair Thanks for the report, forwarding to the appropriate team

[2015-06-29 23:38] markcowl commented on #551
@SherifTalaat Thanks for the report, forwarding to the automation team for investigation

[2015-06-29 23:40] markcowl commented on #552
@SherifTalaat Thank you for the report, assigning to the Automation team for investigation

[2015-06-29 23:41] markcowl commented on #553
@SherifTalaat Thank you for the report assigning to the automation team for investigation

[2015-06-29 23:44] markcowl commented on #516
@retk Thank you for the report, assigning to the appropriate team for investigation

[2015-06-29 23:52] markcowl commented on #554
@SherifTalaat Thank you for the report, assigning to the automation team for investigation

[2015-06-30 01:31] markcowl commented on #494
@mvanotti Thank you for the report, routing to the appropriate team for investigation

[2015-06-30 01:32] markcowl commented on #504
Assignign to appropriate internal team

[2015-06-30 03:57] NaveenGoli commented on #26
I haven't heard back from the customer on this, I think the limits are there for security reason, I am going to close this issue. Please let me know if the proposed solution doesn't work

[2015-06-30 04:07] Matticusau opened #555 "Sql folder path name causing warnings when Azure and SqlPs modules installed"
When you have both the Azure and SqlPs modules installed and try and import the SqlPs module, a number of warnings are displayed due to WMI connection failures. This is a result of the SqlPs provider path (SQLSERVER:) taking the path of \SQL to be a SQL Server instance to connect to. When you load the SqlPs module it also tries to run a Get-Module -ListAvailable which causes the Azure module to pr

[2015-06-30 04:19] sayedihashimi commented on #26
I ran into this problem last night. I created a script which runs over several sites and makes 50 web request and other operations. During development of the script I was partially running the script on those same sites. After getting the script in good shape it ran for several hours and when I woke up in the morning I received the error message above. I had to harden my script and then re-run it

[2015-06-30 07:54] andybatescc commented on #26
I don't agree with the closure of this. While we don't require this at the moment, it remains a fault with this function and requires a fix.

[2015-06-30 10:19] SherifTalaat commented on #26
"I haven't heard back from the customer on this" is not the response we were expecting. Isn't github the right place to report Azure PowerShell issue? Please Let me know about the channels on which you hear for customer so I can report the problem there.
I am using Azure PowerShell means that I've Azure account which means I am a customer and I am still facing this issue. I've a website and from d

[2015-06-30 16:36] mandrie commented on #480
yep, just updated to .9.4 and I still get the same error:
[code]

[2015-06-30 16:42] markcowl commented on #555
@Matticusau Thanks for reporting this.  Assigning to the Sql team for investigation.  I *think* that you should file this issue with the SqlPS cmdlets, however, as the assumption they are making about the directory path seems like an unsafe assumption.

[2015-06-30 18:22] n2name commented on #440
@ogail Thanks for the another direction, but I am looking for the specific scenario that only uses certificate instead of Azure Profile. Do you still have an option to run multiple instances at the same time?

[2015-06-30 20:50] pcgeek86 commented on #494
@mvanotti It isn't "losing" any information about the VM. An input endpoint is an independent object that can be applied to any Virtual Machine.

You should do this instead:

[code]

This is just a matter of understanding the Azure Virtual Machine object model.

Cheers,
Trevor Sullivan
Microsoft MVP: PowerShell

[2015-06-30 21:54] stankovski commented on #362
Same cause as https://github.com/Azure/azure-powershell/issues/332

[2015-06-30 21:54] #362 closed

[2015-07-01 03:03] rangeryu commented on #519
Thanks @devigned @francoismagninavanade . it is really a great discussion

[code]
when GetCertificateData() might be a quick fix that makes the execution independent to the user profile/cert store.

[2015-07-01 03:07] devigned commented on #519
@rangeryu :+1:

[2015-07-01 06:45] ammaroff commented on #341
This will resolve the problem till they implement it
[code]

[2015-07-01 14:42] Kofl opened #558 "New-AzureReservedIP no longer working with Powershell 0.9.4"
Error:

New-AzureReservedIP : Method not found: 'Void
Microsoft.WindowsAzure.Management.Network.Models.NetworkReservedIPCreateParameters.set_VirtualIPName(System.String)'.
At line:1 char:1
+ New-AzureReservedIP -ReservedIPName "MyServer1IP" -Label "Server1IP" -Location " ...
+ ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    + CategoryInfo          : NotSpecifie

[2015-07-01 20:12] vivsriaus commented on #241
@kexuelou This should now be supported. Can you please retry and let us know? Thanks.

[2015-07-01 20:19] vivsriaus commented on #342
@AlanParr Do you mind providing us a sample script to reproduce the issue?

[2015-07-01 20:25] vivsriaus commented on #382
@StephenWeatherford We now prompt for parameters when you specify just the template file. Can you please download the latest azure powershell and try this again? Thanks.

https://azure.microsoft.com/en-us/documentation/articles/powershell-install-configure/

[2015-07-01 20:41] vivsriaus commented on #516
@retk  This is fixed in the latest powershell. Can you please retry?

PS C:\> Get-AzureResourceLock | Remove-AzureResourceLock

Confirm
Are you sure you want to delete the following lock:
/subscriptions/38b598fc-e57a-423f-b2e7-dc0ddb631f1f/resourceGroups/testSite/providers/Microsoft.Web/sites/vivsriaus4231
23/providers/Microsoft.Authorization/locks/test2
[Y] Yes  [N] No  [S] Suspend  [?] Help (def

[2015-07-01 21:37] vivsriaus commented on #239
This is by design. ARM maintains a cache that can be out of sync with the resource provider in rare conditions. To resolve this, you can get the resource by passing in -ResourceId. This will cause the ARM cache to sync that resource, which may take some time (usually a few minutes, but could be longer).

If the problem persists after that, please contact customer support.

[2015-07-01 21:37] #239 closed

[2015-07-01 21:39] #241 closed

[2015-07-01 21:40] vivsriaus commented on #248
This is fixed with the latest azure powershell. Please install it and let us know if it works for you. Thank you.

[2015-07-01 21:40] #248 closed

[2015-07-01 21:51] vivsriaus commented on #293
@janegilring microsoft.classiccompute resource provider does not support tags. Please use the new compute resource provider (Microsoft.Compute) to get tags support.

[2015-07-01 21:51] #293 closed

[2015-07-01 21:52] vivsriaus commented on #322
@rjmax This should be fixed with the latest powershell. Please retry.

[2015-07-01 21:52] #322 closed

[2015-07-01 21:54] vivsriaus commented on #342
@AlanParr We took a look at this. This is a side effect of json serialization logic, which is by design.

[2015-07-01 21:54] #342 closed

[2015-07-01 21:57] vivsriaus commented on #353
@clamanna Spoke to Shadi. The service should handle this, instead of powershell handling it.

[2015-07-01 21:57] #353 closed

[2015-07-01 22:02] #382 closed

[2015-07-02 00:10] vivsriaus opened #559 "ARM: Add a switch to get just top level resources when calling Get-AzureResource"
something like Get-AzureResource -GetTopLevel | Move-AzureResource ...

would be helpful when moving just the top level resources like Microsoft.Sql/servers instead of including /servers/databases as well.

[2015-07-02 06:01] jodoglevy commented on #392
@slapointe I don't think your suggestion would be needed if AzureProfile correctly deserialized, right? I think that's the proper solution.

I agree on just using a PowerShell Workflow to test. @stankovski why can't a PowerShell Workflow be used as a test case?

AzureProfile working correctly in PowerShell Workflow is an important scenario for Azure Automation, it'd be great to get this fixed.

[2015-07-02 06:23] jodoglevy commented on #428
Thanks @MattAllison. @trondhindenes as I said above Azure PowerShell doesn't work on the compatibility of ARM and ASM (RDFE) APIs, that is up to service teams. Azure's PowerShell team just creates a wrapper around the ARM and ASM APIs, whatever they may be, and whatever compatibly between v1 and v2 they have. You'll have to ask those questions around how to transition v1 resources to v2, and how l

[2015-07-02 16:49] FuUuUuUoO commented on #462
Is there any progress on this? You can now select VS 2015 using the preview portal

[2015-07-02 18:55] #368 closed

[2015-07-02 22:58] bmoore-msft commented on #344
Ok, I think we need to revisit this - if I run Get-AzureSubscription when I have multiple/different accounts authn'd - it fails for all of them.  It might be fine to not return or warn for the token account, but having the token account in there shouldn't prevent the others from working.

[2015-07-03 02:52] mukaibot opened #563 "ParameterBindingException when trying to add external endpoint to TrafficManager Profile"
Consider the following code (v1 / Service Management cmdlets):

[code]
## Expected result
Traffic Manager is updated with the endpoint

## Actual result
Following exception with stacktrace is raised:

[code]

## Steps to reproduce

1. Install Azure Powershell "June 2015" from WebPI
1. Using v1 portal manage.windowsazure.com, create a new Traffic Manager profile
1. Run the above code, editing the v

[2015-07-03 07:53] mukaibot opened #564 "ARM: Get-AzureTrafficManagerProfile in Workflow raises FileNotFoundException"
Trying to use the Get-AzureTrafficManagerProfile cmdlet from ARM in a Powershell Workflow. Unfortunately this raises an exception:

[code]

Output from running "get-tm"

[code]

Seems like there was a similar issue with the .NET SDK: https://github.com/Azure/azure-sdk-for-net/issues/464
## Steps to reproduce
1. Install Azure Powershell "June 2015" from WebPI
2. Create a v2 Traffic Manager Profile

[2015-07-03 19:09] alexandair opened #566 "AzureVirtualNetworkGateway and AzureVNetGateway cmdlets"
Can someone explain why do we have AzureVirtualNetworkGateway and AzureVNetGateway cmdlets?

[code]

[2015-07-06 01:31] ammaroff opened #568 "Add Support for scale the service bus"
Add support to scale the service bus capacity
![image](https://cloud.githubusercontent.com/assets/4321246/8514424/cc91407a-23d2-11e5-822f-48bce9694521.png)

the end point in management portal is :
https://manage.windowsazure.com/ServiceBus/UpdateMessagingSKUPlan
and its need this data in POST :
"skuProperties":{"SKU":2,"CurrentSKUUnits":20}

[2015-07-07 06:42] m-moris opened #571 "ARM: Some cmdlet doesn't respond, when incorrect location specified."
I specified incorrect location to the cmdlet , the cmdlet does not respond for a few minutes.
Now, "japan west2" does not exists.

[code]

or

[code]

I think cmdlet should respond more faster.

Best Regards

[2015-07-07 14:58] jtuliani commented on #563
I tried your repro steps.  I had to add a location property to $epParams, but I expect that's just because my profile was configured to use 'Performance' traffic routing.  Otherwise, everything worked fine...please can you try again?

[2015-07-07 14:58] #563 closed

[2015-07-07 18:33] kagamsft commented on #461
Misconfiguration had caused this issue.
@romangromov: Shall we close this issue? Let me know if you have any questions.

[2015-07-07 18:35] kagamsft commented on #460
Calling Set-AzureApplicationGAtewayConfig with proper configuration should resolve this issue.
@romangromov: Shall we close this issue? Let me know if you have any questions.

[2015-07-07 18:56] kagamsft commented on #458
We treat GET configuration before SET as error scenario and throw exception.

[2015-07-07 18:56] kagamsft commented on #459
We treat GET configuration before SET as error scenario and throw exception.

[2015-07-07 19:37] jaredmoo opened #572 "Allow pipelining Get-AzureSubscription into Get-AzureEnvironment"
Currently the way to get the current environment is like this:

$subscription = Get-AzureSubscription -Current
$environment = Get-AzureEnvironment -Name $subscription.Environment

It would be more convenient (saves typing) if we could pipe into Get-AzureEnvironment like this:

Get-AzureSubscription -Current | Get-AzureEnvironment

[2015-07-08 00:37] balakk commented on #566
*VirtualNetworkGateway* is for  V2  - seems to work that way.

[2015-07-08 08:53] jtuliani commented on #563
Is this issue specific to Traffic Manager, or a general problem with cmdlets in a Workflow?

[2015-07-08 09:32] alexandair commented on #566
Both sets are part of the Azure (ASM-based) module. ASM-based cmdlets cannot work with v2 resources.

[2015-07-08 16:10] bmoore-msft opened #573 "Set-AzureResource does not set tags on VMs (P0)"
If I run the following command:
Set-AzureResource -ResourceId $v.ResourceId -Tag @{"foo"="bar"}

The tags property should be set on the resource, in this case the resource was a VM.  Looking at the debug output from the cmdlet the PATCH request shows an empty tag and the tags are indeed removed from the resource (existing tags were removed, new one was not set)

DEBUG: ============================

[2015-07-08 19:21] joshuapetryk commented on #428
Any solution to @jeetgohil814 's question? We are going to be writing some ARM templates but I hate to use Switch-AzureMode in new scripts. What are we supposed to use as an alternative in the meantime?

[2015-07-08 20:27] DeepakRajendranMsft commented on #391
Hi Trevor,

In ARM we accept only VirtualNetwork and AzureLoadBalancer (without the underscore). see https://msdn.microsoft.com/en-us/library/azure/mt163645.aspx

Thanks,
Deepak.

[2015-07-09 07:21] gangsir commented on #330
Thanks for the feedback. We will look at adding this in future sprint.

[2015-07-09 08:43] gangsir commented on #328
@pcgeek86 This is by design for security reason. The storage account object from the dependency storage library doesn't support reading its credentials out. Sorry about that.

[2015-07-09 09:14] gangsir commented on #135
Unfortunately storage service doesn't provide an api to filter blobs based on metadata. The only way to achieve this is to list all blobs and then filter on the client side. I think this can be done using a simple powershell filter. Hope this helps you.
Get-AzureStorageBlob -Container mycontainer | Where-Object {$_.ICloudBlob.Metadata["Environment"] -eq "Staging"}