[2018-07-17 00:18] jmilczek commented on #6447
Yes, the DSC Configuration resource type.

[2018-07-17 00:56] cormacpayne opened #6678 "Enable ManagementPartner tests"
Currently there are five tests in the ManagementPartner test suite, but none of them are running as a part of our current build:

- `TestGetPartner`
- `TestGetPartnerNoParnterId`
- `TestNewParnter`
- `TestUpdateParnter`
- `TestRemoveParnter`

All of the tests are failing for the following reason:

[code]

The work needs to be done to enable these tests, and then the test assembly should be referen

[2018-07-17 00:56] cormacpayne commented on #6678
@jeffrey-ACE Hey Jeffrey, would you mind taking a look at this issue?

[2018-07-17 01:39] blueww commented on #6613
@bikramgcnz
Does the script works before with same SAS? If so, it might caused by the SAS expire.
Could you share the SAS token (hide sig), and the script you use the SAS?
And the module version of the Azure.Storage module.

[2018-07-17 01:45] bikramgcnz commented on #6613
I haven't changed this script for a long time, here is the scenario i have,
 i create the storage account,
 then its assigned to a variable,
 i then use the context from the storage account variable to create the storage container.

So i don't generate the SAS token myself

[2018-07-17 02:09] blueww commented on #6613
@bikramgcnz
As this issue is for SAS issue, do you mind to open a new issue for it, as it's a different question.
I still don't quite get how your script works. Could you also share the script?
And the debug log (add -debug) of the failed cmdlets is also needed.
Please hide any credential in script and log.

[2018-07-17 02:38] bikramgcnz commented on #6613
this is what i am doing https://docs.microsoft.com/en-us/azure/storage/blobs/storage-quickstart-blobs-powershell :)

[2018-07-17 03:01] blueww commented on #6613
@bikramgcnz

Could you:
1. show debug log (add -debug) of the failed cmdlets "New-AzureStorageContainer".
2. Run "$Error[0].Exception.ToString()" just after the failed cmdlet, and give output
3. Give the version of AzureRm.Storage
4. Could you show the $ctx after run "$ctx = $storageAccount.Context", please hide any credential like key.
5. Do you meet the 403 error when run other cmdlet like "Get-

[2018-07-17 04:56] MattAllison opened #6679 "Storage Policy Permissions do not appear to be documented"
### Description

Various commands to deal with Storage Policy objects (New-AzureStorageContainerStoredAccessPolicy) have a -Permission parameter that takes a string value.

The possible values contained within the string do not appear to be documented anywhere other than a brief example of "(rwd)".

### Script/Steps for Reproduction

[code]

### Module Version

Issue occurs in all versions

[2018-07-17 06:22] Ajay-MS opened #6680 "Issue with Auto save of ARM context"
### Description

We are facing following issues with context autosave. ( Enable-AzureRmContextAutoSave)

1. We have a scenario where the same machine (agent system) runs in a different context. It means everytime we run connect-Azure-AzureRmAccount cmdlet with a different service principal. We run commands in the following order
[code]

Connect-AzureRmAccount is not adding new account at the top o

[2018-07-17 07:52] blueww commented on #6679
@MattAllison
Actually, the allowed permission value are doc in SAS documentation as following :
https://docs.microsoft.com/en-us/rest/api/storageservices/constructing-a-service-sas
https://docs.microsoft.com/en-us/rest/api/storageservices/Constructing-an-Account-SAS?redirectedfrom=MSDN

PowerShell is aligned with the SAS documentation. We don't doc the allowed value in Powershell doc since the val

[2018-07-17 07:58] yupsay opened #6682 "help - Documentation for New-Azure​RmDisk"
Please correct the examples for New-Azure​RmDisk in get-help New-Azure​RmDisk and @ https://docs.microsoft.com/en-us/powershell/module/azurerm.compute/new-azurermdisk?view=azurermps-6.4.0.

Change needed is "StandardLRS" in example one needs be changed to "Standard_LRS".

[2018-07-17 09:47] blueww commented on #6582
@vladimir-shcherbakov
PR is raised in https://github.com/Azure/azure-powershell/pull/6683
Please help to review.

[2018-07-17 14:19] MiYanni commented on #6656
@maddieclayton I cannot, unfortunately.

[2018-07-17 15:33] solankisamir commented on #6658
@shantanu1singh have you taken a look at the cmdlets [Set-AzureRmApiManagement](https://docs.microsoft.com/en-us/powershell/module/azurerm.apimanagement/Set-AzureRmApiManagement?view=azurermps-6.4.0). This is already supported, look at the example #3. For more comprehensive script take a look [here](https://github.com/Azure/azure-powershell/blob/preview/src/ResourceManager/ApiManagement/Commands.A

[2018-07-17 16:05] cormacpayne opened #6684 "Enable MachineLearning tests"
Currently there are eight tests in the MachineLearning test suite, but none of them are running as a part of the current build. Three of the tests are OK to enable, but five of them are not:

- `TestCreateAndGetRegionalProperties`
- `TestListWebServices`
- `TestUpdateWebService`
- `TestCreateWebServiceFromFile`
- `TestCreateGetRemoveWebService`

Four of the tests are disabled due to long run-time

[2018-07-17 16:06] cormacpayne commented on #6684
@NonStatic2014 Hey Klein, would you mind taking a look at this issue?

[2018-07-17 16:47] jeffrey-ACE commented on #6678
@cormacpayne I will take a look.

[2018-07-17 16:53] nirmalpavan opened #6685 "Get-AzureRmDataFactoryV2Trigge failing with error Method not found: 'Newtonsoft.Json.Serialization.IAttributeProvider Newtonsoft.Json.Serialization.JsonProperty.get_AttributeProvider()'"
Get-AzureRmDataFactoryV2Trigge failing with error
Get-AzureRmDataFactoryV2Trigger : Method not found: 'Newtonsoft.Json.Serialization.IAttributeProvider
Newtonsoft.Json.Serialization.JsonProperty.get_AttributeProvider()'.
At line:14 char:14
+ ... TgrNames =  Get-AzureRmDataFactoryV2Trigger -ResourceGroupName $Resou ...
+                 ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

[2018-07-17 17:06] maddieclayton commented on #6685
@nirmalpavan Please include the output of "Get-Module -ListAvailable" as well as "Get-AzureRmDataFactoryV2Trigger <parameters used to get error> -Debug"

[2018-07-17 17:07] maddieclayton commented on #6682
Thanks for opening this issue! I will close as soon as your PR is merged :)

[2018-07-17 17:24] yupsay commented on #6682
I’m an MS FTE, can I get access to do it my self in future?

________________________________
From: Maddie Clayton <notifications@github.com>
Sent: Tuesday, July 17, 2018 10:39:45 PM
To: Azure/azure-powershell
Cc: yupsay; Author
Subject: Re: [Azure/azure-powershell] help - Documentation for New-Azure​RmDisk (#6682)

Thanks for opening this issue! I will close as soon as your PR is merged :)

—
You

[2018-07-17 17:32] maddieclayton commented on #6682
@yupsay I don't think there is a way to give limited permissions on GitHub to specific users, so only admins will be able to close issues (and do other more dangerous actions in the repo, such as merging).

[2018-07-17 17:49] shantanu1singh commented on #6658
I couldn't find an options there to disable TLS 1.0 for example. We can do it through the portal and through the APIM ARM template. The link you added in your post only allows adding custom host names with default SSL bindings.

ARM template route -
![templatessl](https://user-images.githubusercontent.com/2570312/42836086-09f4a200-89af-11e8-9ece-dce46891ce88.PNG)

Portal -
![sslpicture](https://us

[2018-07-17 17:58] #6682 closed

[2018-07-17 18:16] solankisamir commented on #6658
@shantanu1singh, my bad I misunderstood the question. We will add this as a backlog.

[2018-07-17 18:21] solankisamir commented on #6639
The partner team is deploying a fix for this issue.

[2018-07-17 18:30] cormacpayne commented on #6685
@nirmalpavan also, would you mind confirming that this is being run in Azure Automation? We have seen previous instances of this error and they were all from scripts run in Azure Automation.

[2018-07-17 19:01] solankisamir commented on #6639
@sgoyal85 it could stretch to End of this week unless they find another regression.

[2018-07-17 21:04] MikeMartin180 commented on #6278
Hello,

I have the same issue. Can you share what the fix is?

Error thrown:

Operation name
ListAccountSas
Time stamp
Tue Jul 17 2018 21:59:02 GMT+0100 (British Summer Time)
Event initiated by
Microsoft.EventGrid
Error code
ClientClosedRequest
Message
The connection has been closed by the client while the server is still processing its request for 'Microsoft.Storage'.

[2018-07-17 21:12] animetauren commented on #6341
Are there any more updates on this @gucalder ? This is a very much needed feature.

[2018-07-17 21:17] thdotnet commented on #6278
Hi,

I’ve fixed after I upgraded the storage account to v2.

On Tue, 17 Jul 2018 at 18:06 MikeMartin180 <notifications@github.com> wrote:

[2018-07-17 21:48] maddieclayton commented on #6672
@gabivigo Can you add this to your script under the Connect-AzureRmAccount call:
[code]

And let us know what the output of Get-AzureRmContext -ListAvailable returns?

[2018-07-17 22:14] cormacpayne commented on #6479
@wolfeno apologies, I'm a little confused by your last comment. Are you saying that OctopusDeploy uses a later (_before 6.0.8_) version of `Newtonsoft.Json`? If so, that would explain why you are seeing the above error because it is loading this version of `Newtonsoft.Json` before the 6.0.8 version that ClientRuntime expects to have this `SerializationSetting` property in.

It is recommended that

[2018-07-17 22:16] maddieclayton commented on #6519
@paylocity-sflanders Can you provide the output of Connect-AzureRmAccount with the ```-Debug``` parameter, as well as the output of ```Resolve-AzureRmError``` after the cmdlet has failed?

Also, as a work around, you can drop the ```-Environment AzureCloud``` parameter from your command, as AzureCloud is the default environment that Connect-AzureRmAccount chooses.  Please let us know if you contin

[2018-07-17 22:18] maddieclayton commented on #6575
Closing as resolved.

[2018-07-17 22:18] #6575 closed

[2018-07-17 22:21] maddieclayton commented on #6636
@cmptscpeacock It seems from your script that you are not calling any AzureRM cmdlets (Start-AzureRmAutomationDscCompilationJob is seen at the bottom but then commented out.  Are you seeing this error when running this cmdlet?

[2018-07-17 22:35] maddieclayton commented on #6680
@Ajay-MS Rather than using Set-AzureRmContext, which edits the current context you are in, please use Select-AzureRmContext, which will select a different context with entirely different information.  Thus, instead of running Connect-AzureRmAccount and then Set-AzureRmContext for each account, you can instead set up all of your account manually (not in VSTS), then simply use Select-AzureRmContext

[2018-07-17 22:43] lhp620 opened #6689 "Is it possible write data to Azure SQL server from powershell?"
I know some samples to write data to local SQL server, like:
https://nocolumnname.blog/2017/09/12/importing-excel-into-sql-server-using-powershell/

But I did not find a way to write data into Azure SQL server. If we can do this, could you please provide some sample codes?

[2018-07-17 23:00] cormacpayne commented on #6165
To anyone running into this issue:

Azure PowerShell introduced a mitigation for this exception in PR https://github.com/Azure/azure-powershell/pull/6245 that will retry up to three times on a call that received the `TaskCanceledException` error from ARM. This mitigation is found in version [6.3.0](https://www.powershellgallery.com/packages/AzureRM/6.3.0) and later of `AzureRM` (version [5.3.0](ht

[2018-07-17 23:46] vladimir-shcherbakov opened #6690 "Investigate what Azure PowerShell task on VSTS is."
![image](https://user-images.githubusercontent.com/6579928/42851315-e31200ec-89e0-11e8-8f84-421224644af2.png)

[2018-07-18 02:07] blueww commented on #4649
@maddieclayton
This has not been fixed, and DMlib has not fixed this.

[2018-07-18 02:10] blueww commented on #6472
@KirkMunro

The fix should be in the next Azure PowerShell official release (should be 6.6.0)
Please check when it's released.

[2018-07-18 02:11] #6472 closed

[2018-07-18 05:29] yupsay commented on #6682
The change is showing up in here
                https://github.com/Azure/azure-powershell/blob/preview/src/ResourceManager/Compute/Commands.Compute/help/New-AzureRmDisk.md
But I don’t see anything on the public page
                https://docs.microsoft.com/en-us/powershell/module/azurerm.compute/new-azurermdisk?view=azurermps-6.5.0

The change requested was
Original

Update

Example 1
$diskconf

[2018-07-18 06:01] maddieclayton commented on #6689
@jaredmoo Could you provide some assistance to this customer?

@lhp620, for reference, the Azure PowerShell SQL reference documentation can be found here: https://docs.microsoft.com/en-us/powershell/module/azurerm.sql/?view=azurermps-6.5.0

[2018-07-18 07:22] KarlGW commented on #6644
@cormacpayne It's in the UI box. It just takes the user name, and then continues without password prompt. This might not be an issue with PowerShell, but since all my browsers ask for a password when using the same account, but the UI box from the cmdlet does not, I figured it might be something with the inner workings of the modules.

[2018-07-18 07:30] whut commented on #4816
This is exactly what this issue is about:)

[2018-07-18 07:49] Ajay-MS commented on #6680
@maddieclayton

Thanks for your feedback. I will validate this and will update you.

Any feedback on second scenario mentioned above ( regarding management group).

[2018-07-18 09:04] gabivigo commented on #6672
Hi Maddie , thanks for the answer
The same error, just this new debug information after the Connect-AzureRmAccount call:

DEBUG: 8:59:47 AM - GetAzureRMContextCommand begin processing with ParameterSet 'ListAllContexts'.
DEBUG: 8:59:47 AM - using account id 'http://LogAnalyticsScalabilityReader'...

Name               : Workspaces Development(Converted to EA) - xxx-xxx-xxx-xxx
Account            :

[2018-07-18 09:24] aameersulthan commented on #6202
In tfs build using "Hosted VS2017" trying  "Azure Blob File copy" task to move the artifact static content to Blob storage. Ended with this issue. Tried "Azure Blob File copy" 1.0 and "2.0(Preview). Couldn't proceed further any help? cc @rokmicrosoft  @sepharg

[2018-07-18 12:24] xuyangit opened #6694 "New-AzureService doesn't use the current subscription id"
### Description
I need to new cloud service using the New-AzureService cmdlet. However, using Select-AzureRmSubscription to change the dafault subscription id has no impact. The service is just deployed on the wrong subscription. By using the debug mode, I find the New-AzureService cmdlet tries to visit management.core.windows.net while the Select-AzureRmSubscription visits management.azure.com. I

[2018-07-18 14:04] udf2457 opened #6695 "Not compatible with TPM ("Microsoft Platform Crypto Provider") certs ?"
Hi,

If I create a cert with the default provider, e.g.

`New-SelfSignedCertificate -Subject "CN=foobar" -KeyAlgorithm RSA -KeyLength 2048  -CertStoreLocation "Cert:\CurrentUser\My" -NotAfter $((Get-Date).AddYears(1))`

Then `azure-powershell` works fine, e.g.

`Connect-AzureRmAccount -ServicePrincipal -CertificateThumbprint $CertificateThumbprint -ApplicationId $ApplicationId -TenantId $TenantId`

[2018-07-18 14:16] cblackuk commented on #6628
Just to add to it: On NetCore modules you get the same error:

[code]

[code]

[2018-07-18 16:03] xuyangit commented on #2683
@lpfeup , do you fix this problem after this? It seems I have the same problem with you.

[2018-07-18 16:29] lpfeup commented on #2683
@xuyangit No, I could not get it to work.

[2018-07-18 16:48] lhp620 commented on #6689
Thank you. Please let me know it is possible to bulk import the data to Azure SQL server, like the way we use for local SQL server, like
	$BulkCopy = New-Object -TypeName Data.SqlClient.SqlBulkCopy -ArgumentList $ServerConnection;
	$BulkCopy.DestinationTableName = $Table;
	$BulkCopy.WriteToServer($DataTable);

if this is not possible, we can close this question now.

I found an ugly way to import

[2018-07-18 17:00] johnwc commented on #2605
This is still an issue, the cmdlet still throws this error. I don't believe this is by design, more it may be by design because of a bug. The documentation in example # 2 clearly shows that this should be a viable use.
[Get-AzureRmResource documentation](https://docs.microsoft.com/en-us/powershell/module/azurerm.resources/get-azurermresource?view=azurermps-6.5.0#examples)

[2018-07-18 17:04] praries880 commented on #6473
PR https://github.com/Azure/azure-powershell/pull/6665 fixes part one... we will need another set of changes to validate the config of the existing LB to satisfy the second part of the issues requirements.

[2018-07-18 17:16] vladimir-shcherbakov commented on #6521
A PR has been opened #6621

[2018-07-18 19:00] maddieclayton commented on #6682
@yupsay This will update when we next release - two weeks from yesterday.

[2018-07-18 19:49] maddieclayton commented on #6694
Hi @xuyangit.  "Azure" cmdlets control RDFE resources while "AzureRM" cmdlet control ResourceManager resources.  So, if you really need to run Get-AzureService, you will need to run the following cmdlets to control the RDFE environment:
[code]
I think that the issue might be that you are not logged in using Add-AzureAccount.  Can I ask what you are trying to accomplish? We encourage people to use

[2018-07-18 21:51] viananth commented on #3739
@maddieclayton Its not completed yet. We might move this to end of August. Thanks!

[2018-07-19 00:38] edyoung opened #6701 "Connect-AzureRmAccount in PowerShell Core crashes"
### Description

Running Connect-AzureRmAccount (without arguments) in Pwsh 6.0.1 on Windows crashes the pwsh process with an unhandled exception.

### Script/Steps for Reproduction

[code]

### Module Version

[code]

### Environment Data

[code]

### Debug Output

[code]

[2018-07-19 01:36] xuyangit commented on #6694
@maddieclayton , thanks for your reply. What I need to do is to create azure service. I have tried the Add-AzureAccount but it fails to find the target subscription when i used select-azuresubscription. For this, I have debugged with the help of your souce code repo.
I guess the select-subscription command will read all subscriptions information from the AzureSMProfile object (this should correspo

[2018-07-19 01:39] xuyangit commented on #6694
@maddieclayton , I also tried to modify the AzureProfile.json and add the target subscription information. I can select it as default then. But when I create service using this profile, there is problem with certificates.

[2018-07-19 02:12] vladimir-shcherbakov commented on #6582
closing as done.

[2018-07-19 02:12] #6582 closed

[2018-07-19 02:48] blueww commented on #1340
This is already fixed in the latest Azure PSH build release 6.5.0. So close the issue.
https://github.com/Azure/azure-powershell/releases

[2018-07-19 02:48] #1340 closed

[2018-07-19 02:49] blueww commented on #6613
@grik001
Is your problem resolved? Let me know if need any futher help form us.

[2018-07-19 02:50] xuyangit commented on #6694
@maddieclayton ， do I need to be the owners of all these subscriptions? As the only one legal subscription that Add-AzureAccount shows is the one that belongs to me. For the other subscriptions, I am just contributor.

[2018-07-19 04:05] xuyangit commented on #2683
@lpfeup ，I have some progress with this problem. You can refer to my answer in issue **6694 "New-AzureService doesn't use the current subscription id".**
Not an elegant solution but you can have a try.

[2018-07-19 06:47] grik001 commented on #6613
Hi @blueww

No, I still had the problem. To go around it I just queried the API directly to get the list of containers. Sorry for not being able to supply the tokens you requested but I was wasting to much time trying to figure out how I can output these in VSTS.

As for replicating it:

Create a PS Task with inline script using the below script, all requests kept returning Forbidden. I regenerate

[2018-07-19 06:56] blueww commented on #6613
@grik001

From the script you provided, I only see how you use the sas token, but it can't help much on the issue investigate.
Please provide following information for further investigate:
1. Debug Log get by add -Debug parameter
2. Run "$Error[0].Exception.ToString()" just after the failed cmdlet, and give output
3. The running time (UTC) and account name (must have at least one of 2 or 3)
4. The

[2018-07-19 06:58] SumiranAgg commented on #6680
@maddieclayton We also observed, even after Disable-AzureRmContextAutoSave, if we try to login using different Service principal credentials having access to same subscription, previous context persists.
For ex. If I login using Service principal "a" having access to subscription "sub1", the context gets added to list only if context with "sub1" doesn't already exist.
This forces us to clear conte

[2018-07-19 07:01] grik001 commented on #6613
I cannot test this now, as for the UTC I was creating Token with -1yr and lasting +1yr. Also this was working locally, I was literally copy and pasting the code.

I was also doing Get-Module ... but it was not outputting anything. I will test this in the coming days and let you know. Feel free to close this comment if you feel it is not an issue.

[2018-07-19 11:16] HansVader commented on #5540
Hey Hello. Can i just throw a quick question in here. Why is `Action` a required parameter in the PowerShell CMDlet but in the Azure CLI version it is optional?

https://docs.microsoft.com/en-us/cli/azure/monitor/activity-log/alert?view=azure-cli-latest#az-monitor-activity-log-alert-create

[2018-07-19 17:21] MaximoTrinidad opened #6704 "Cloud Shell Bash - AzureRM.Netcore multiple modules installed"
### Description

Knowing that Azure.Netcore version 0.12.0 is the latest, why the previous version 0.11.0 is also installed.
I can't use the following oneliner to force to use the latest one:

[code]

### Script/Steps for Reproduction

[code]

### Module Version

See above Repo section
[code]

### Environment Data

[code]

### Debug Output

[code]

[2018-07-19 18:31] markcowl opened #6705 "When are we getting Connect-ServiceFabricCluster"
Copied from customer comment on PowerShell Gallery: https://www.powershellgallery.com/packages/AzureRM.ServiceFabric/0.3.4?hubRefSrc=email&utm_source=lfemail&utm_medium=email&utm_campaign=lfnotification#lf-content=195715540:797536829

[2018-07-19 18:34] markcowl commented on #6705
@vaishnavk @juhacket Can you take a look at this request?  Please feel frere to respond directly on the PowerShell Gallery link

[2018-07-19 18:38] praries880 commented on #6674
@MikhailTryakhov  NRP Tests without owner :
* [TestExpressRouteCrossConnectionApis](https://github.com/Azure/azure-powershell/blob/preview/src/ResourceManager/Network/Commands.Network.Test/ScenarioTests/ExpressRouteCrossConnectionTests.cs#L33)

Can you fix this?

[2018-07-19 19:29] MikhailTryakhov commented on #6674
@praries880
https://github.com/Azure/azure-powershell/pull/6706

[2018-07-19 19:53] blueelvis opened #6707 "Get-AzureRmRecoveryServicesBackupContainer fails if parameter value is in different case"
### Description

The `Get-AzureRmRecoveryServicesBackupContainer` commandlet fails if the value passed to `BackupManagementType` is not equal to "AzureVM". This means that if I pass in "AzureVm", the commandlet fails and returns the following -

[code]
If I pass in `AzureVM`, the commandlet works. This is not the issue with the `ContainerType` parameter. It accepts value in any case.
### Script/St

[2018-07-19 20:01] maddieclayton commented on #6707
@dragonfly91 Can you take a look at this issue?

[2018-07-19 20:21] maddieclayton commented on #6704
@MaximoTrinidad Have you installed the AzureRM.Netcore module on CloudShell in a previous session?  When I log onto a clean version of CloudShell I am only seeing 0.12.0.  It might be the case that you manually installed AzureRM.Netcore version 0.11.0, and so this persists in new sessions.

To remove the older version, you can run this:
[code]

[2018-07-19 20:34] #6673 closed

[2018-07-19 21:19] MaximoTrinidad commented on #6704
Great!!  Your suggestion help pin-point where I got the issue.

First, I was under the understanding, when Microsoft refresh the Cloud Shell, I thought everything was rebuild (including modules).

Well, apparently I did manually installed version AzureRM.Netcore v 0.11.0 in one point in time. This was installed on my local usr module folder: "/home/maximo/.local/share/powershell/Modules".

Get-Mod

[2018-07-19 21:19] #6704 closed

[2018-07-19 22:13] aljo-microsoft commented on #6705
Hello Vaishnavk has already commented on in the Gallery.

There are two sets of PowerShell modules for managing Service Fabric:

ARM:

https://www.powershellgallery.com/packages/AzureRM.ServiceFabric/0.3.4?hubRefSrc=email&utm_source=lfemail&utm_medium=email&utm_campaign=lfnotification#lf-content=195715540:797536829

SDK:

https://docs.microsoft.com/en-us/powershell/module/servicefabric/connect-ser

[2018-07-20 01:02] markcowl commented on #6695
@udf2457 Can you run ```Resolve-AzureRmError``` after this error to provide a few more details?  I am not sure which component is throwing this exception.

[2018-07-20 01:19] markcowl opened #6709 "Service Principal login with domain name results in 'Invalid GUID' errors for subsequent cmdlets"
Here is an example:

[code]

This occurs because the cmdlet is trying to retrive a tenant id from the domain name when constructing a tenant object:

[code]

[2018-07-20 01:20] markcowl commented on #6709
The proper thing in this case is to perform the extra hop to extract the tenant id, and ensure this is saved in the tenant id property in the context.

[2018-07-20 03:48] sandy-wang opened #6710 "Add-AzureRmAccount and Set-AzureRmContext cmdlet hangs when multiple VMs are running those command using same serviceprinciple and subscription"
### Description
Our pipeline is producing over 130 VMs  at the same time,for testing our application, and all those VMs have Powershell AzureRM modules installed to be able to run Azure cmdlets. Since last week(12rd July), when the Powershell process executes the cmdlet Add-AzureRMAccount or Set-AzureRmContext, the process started hanging with no response or timeout. They don't always hang on ever

[2018-07-20 06:53] udf2457 commented on #6695
@markcowl

See attached.
[AzureRmError.txt](https://github.com/Azure/azure-powershell/files/2212815/AzureRmError.txt)

[2018-07-20 08:46] boqsernmcpopsern commented on #4600
@bergmeister late to the party, and you probably know now. You can use -AsJob to skip the wait.

[2018-07-20 09:18] blueww commented on #6613
@grik001
If you can't share the debug log, could you give the storage account name and the failed cmdlet running time (UTC), I might can also find the server log.

[2018-07-20 09:23] bergmeister commented on #4600
Yes, thanks, I read that in another issue.

[2018-07-20 12:30] clericc commented on #5647
As of v6.5.0, Start-AzureRmAutomationRunbook still has no Parameter alias, Piping still not possible.

[2018-07-20 13:21] KirkMunro commented on #6186
While I think this new cmdlet would be helpful, I would prefer avoiding the need for another cmdlet and resolve this isssue this way instead:

1. Add a new ContextModificationScope enumerated value of "Runspace", for use with the Connect-AzureRmAccount/Disconnect-AzureRmAccount cmdlets' -Scope parameter. Unlike Process scope, which is scoped to an entire process in static variables (and therefore

[2018-07-20 14:39] medianick commented on #5956
Upgrading the `AzureRM` PowerShell module resolved this issue entirely for me:

[code]

After this, I was able to use `Grant-AzureRmDiskAccess` and then the AccessSAS property of its return value (which was no longer empty) as the -AbsoluteUrl value for `Start-AzureStorageBlobCopy`.

[2018-07-20 15:16] mkusmiy commented on #1586
Hi @maddieclayton.

Currently below snippet returns error for any alert of type "microsoft.insights/alertrules" (I found at least 3 different alert kinds of this type)
but works OK with "microsoft.insights/webtests" alerts

[code]

returns error:
[code]

Out of the scope of this discussion, but Add-AzureRmMetricAlertRule successfully updates only "microsoft.insights/alertrules" for SQL DB alerts b

[2018-07-20 15:56] qJake commented on #6202
Likewise, we are trying to use the Azure File Copy TFS release task with TFS 2018 U2 and are receiving the same error, preventing us from deploying to our Azure VMs using TFS Releases.

When will a fix be available for this?

Can anyone provide the correct PowerShell command(s) to run in order to downgrade the PowerShell environment on the build agent to 5.7.0 in the meantime?

[2018-07-20 16:42] maddieclayton commented on #5956
Closing as fixed - if anyone is still hitting this issue in the latest version, please let me know and I will reopen the issue.

[2018-07-20 16:42] #5956 closed

[2018-07-20 16:48] atd80 commented on #2108
<# ############################Add pfx certificate#############################>
 <#
.Synopsis
Add pfx certificate from KeyVault to WebApp Ssl setting

.Description
It will add pfx certificate from KeyVault to WebApp Ssl setting.

.Parameter SubscriptionName
Azure Subscription Name where webapp exist

.Parameter $AzureAppSettingColls is AzureAppSetting class type
WebApp WebAppResourceGroup Name .

[2018-07-20 17:42] KirkMunro opened #6711 "Add a -SelfSignedCertificate switch to New-AzureRMADAppCredential"
### Description

Microsoft documentation [instructs users to use self-signed certificates](https://docs.microsoft.com/en-us/azure/automation/automation-create-runas-account) when updating your Azure automation account authentication with Run As accounts. This involves a very long script (see that article) that, among other things, creates a self-signed certificate using PowerShell and applies it t

[2018-07-20 21:33] hvermis opened #6715 "Record TestSharedIntegrationRuntime and TestSelfHostedIntegrationRuntime and enable them"
### Description

The tests are failing to record since they need real user credentials for. Ned to record them against production with user name and password.

### Script/Steps for Reproduction

[code]

### Module Version

[code]

### Environment Data

[code]

### Debug Output

[code]

[2018-07-20 21:41] felixwa opened #6716 "Need dotNetCore projects for Azure Search Powershell"
### Description

As suggested by @MiYanni , create this issue to track.
https://github.com/Azure/azure-powershell/pull/6660

### Script/Steps for Reproduction

[code]

### Module Version

[code]

### Environment Data

[code]

### Debug Output

[code]

[2018-07-20 21:42] felixwa commented on #6716
https://github.com/Azure/azure-powershell/pull/6660

[2018-07-20 21:42] Sergmis commented on #4810
You may have to weed out service health events by adding  |  Where {$_.Category -ne 'ServiceHealth'} as the have no Caller

[2018-07-20 22:45] hvermis commented on #6715
@zhangyd2015  Please also add instructions in comments for the SSIS IR test how it needs to be recorded as per Maddie's request. @maddieclayton

[2018-07-20 23:11] maddieclayton commented on #1586
@ravbhatnagar @gucalder Ping

[2018-07-20 23:18] maddieclayton commented on #1918
@Nilambari Was this issue resolved?

[2018-07-20 23:20] maddieclayton commented on #2255
@akshaysngupta Can you take a look at this issue?

[2018-07-20 23:23] maddieclayton commented on #2258
@vinayada1 @dedhar @dihan0604 Can you take a look at this issue?

[2018-07-20 23:38] maddieclayton commented on #2267
@akshaysngupta Can you take a look at this issue?

[2018-07-20 23:51] maddieclayton commented on #5145
@akshaysngupta Can you take a look at this issue?

[2018-07-20 23:53] maddieclayton commented on #4972
@avijitgupta @chandrasekarsrinivasan Can you take a look at this issue?

[2018-07-20 23:57] markcowl commented on #6711
@vrdmr can you take a look?

[2018-07-20 23:57] maddieclayton commented on #4565
@koralski @nibhat @savyasachisamal Can you take a look at this issue?

[2018-07-21 00:00] maddieclayton commented on #4083
@akshaysngupta Can you take a look at this issue?

[2018-07-21 00:01] maddieclayton commented on #4056
@akshaysngupta Can you take a look at this issue?

[2018-07-21 00:01] maddieclayton commented on #4047
@chandrasekarsrinivasan Can you take a look at this issue?

[2018-07-21 00:03] maddieclayton commented on #3823
@Nilambari Can you take a look at this issue?

[2018-07-21 00:04] maddieclayton commented on #3800
@akshaysngupta Can you take a look at this issue?

[2018-07-21 00:04] markcowl commented on #6710
@sandy-wang This may have to do with access to the autosaved context on the file system, which should not cause hangs, but may cause significant delays and retries.

To get around this, anytime you are running a script in the background, you should start the script with

[code]

This should help with script performance, and remove any hangs due to file system access.

[2018-07-21 00:05] maddieclayton commented on #3700
@akshaysngupta Can you take a look at this issue?

[2018-07-21 00:05] maddieclayton commented on #3615
@Nilambari Can you take a look at this issue?

[2018-07-21 00:06] maddieclayton commented on #3493
@avijitgupta Can you take a look at this issue?

[2018-07-21 00:07] maddieclayton commented on #3111
@MikhailTryakhov I do not have a contact for the RDFE cmdlets - can you assign this to the right person?

[2018-07-21 00:08] maddieclayton commented on #2815
@chandrasekarsrinivasan Can you take a look at this issue?

[2018-07-21 00:09] maddieclayton commented on #2814
@avijitgupta @chandrasekarsrinivasan Can you take a look at this issue?

[2018-07-21 00:10] maddieclayton commented on #2581
@Nilambari Can you take a look at this issue?

[2018-07-21 00:10] maddieclayton commented on #2427
@chandrasekarsrinivasan Can you take a look at this issue?

[2018-07-21 00:12] maddieclayton commented on #1818
@akshaysngupta Can you take a look at this issue?

[2018-07-21 00:13] maddieclayton commented on #1550
@avijitgupta Can you take a look at this issue?

[2018-07-21 00:14] daozha opened #6719 "[Azs.Backup.Admin] Start-AzsBackup and Restore-AzsBackup does not show correct location in dialog if not provided"
### Description

The dialog shows "Start backup at " when we skip providing location. As we'll get the location inside if not provided, we should also show that in dialog.

### Script/Steps for Reproduction

Start-AzsBackup
Restore-AzsBackup -Name <backupId>

[code]

### Module Version

[code]

### Environment Data

[code]

### Debug Output

[code]

[2018-07-21 00:16] maddieclayton commented on #4012
@dihan0604 @dedhar @vinayada1 Can you take a look at this issue?

[2018-07-21 00:17] maddieclayton commented on #6322
@Nilambari Can you take a look at this issue?

[2018-07-21 13:15] JeremyTBradshaw commented on #1494
+1 to the json question for existing NSG's by @1scscott.

[2018-07-21 20:54] Ranu2046 opened #6722 "Unable to use New-AzureRmResourceGroupDeployment with parameter and optional parameter"
I am using  ARM project for the deployment and i am passing values from parameter file to the template. Also I am reading the parameter file in power shell script and assigning some of the values to parameters in parameter file and storing these values in optional parameter. Its works fine when deploy from visual studio. But when running from power shell it throws error. need help. below is the co

[2018-07-22 07:46] #6694 closed

[2018-07-23 05:31] zhangyd2015 commented on #6715
Added instructions in comments for the SSIS IR test.

[2018-07-23 09:44] murdockcrc opened #6725 "Import-AzureKeyVaultCertificate fails to authenticate when running as Azure Automation Runbook"
### Description

I am trying to automate certain certificate management tasks by using Azure Automation PowerShell runbooks. Our certs are stored in Key Vault, therefore, these Automation runbooks need to access and modify Key Vault-stored certificates.

However, Key Vault-specific operations are failing with the following error:

[code]

This code works when running in the local machine, but it f

[2018-07-23 11:38] murdockcrc commented on #6725
Thanks for that @tomkerkhove . In your sample, the Automation Account needs to have permissions assigned to KV via an access policy. In my scenario, I need to access the KV instance with a credential which is different from the Automation account (that's why I'm trying to pull that credentials with `Get-AutomationPSCredential`, since it's been added to the Automation Account as an Asset).

So I ne

[2018-07-23 14:43] johno4321 commented on #6165
Hi Cormac - you mention that the x3 retry is a mitigation. is there a root cause fix planned for a future release?

[2018-07-23 18:19] maddieclayton commented on #6722
@Ranu2046 Please include the output of running these three commands:
[code]
[code]
[code]

Please also include the parameter file with the confidential information edited out.

[2018-07-23 18:20] maddieclayton commented on #6715
Fixed.

[2018-07-23 18:20] #6715 closed

[2018-07-23 21:18] cormacpayne commented on #5172
Work for this completed in PR https://github.com/Azure/azure-powershell/pull/6700

[2018-07-23 21:18] #5172 closed

[2018-07-24 13:55] sjwaight commented on #2258
Apologies for missing the (very) old comment @markjbrown :(.

[2018-07-24 15:41] BakerLabs opened #6736 "Modify Set-AzureRmVMDiagnosticsExtension cmdlet to automate the install/config of diagnostics extension"
**ASK:**
Modify the way the Set-AzureRmVMDiagnosticsExtension cmdlet works to improve the ability to automate the install/config of diagnostics extension on virtual machines.

**Background**
The cmdlet Set-AzureRmVMDiagnosticsExtension is touted as a way to automate the installation/configuration of the diagnostics configuration on an Azure VM as described here:

Use PowerShell to enable Azure Dia

[2018-07-24 18:06] cormacpayne commented on #3018
The `Get-AzureRmResource` cmdlet was updated to use the ARM SDK rather than a generic `HttpClient`, and returns the following results:

#### Invalid Resource Group

[code]

#### Invalid Resource Group with Random Resource Name

[code]

#### Valid Resource Group with Random Resource Name

[code]

I think this is the appropriate combination of errors and empty results -- since the object we are tryi

[2018-07-24 18:06] #3018 closed

[2018-07-24 18:17] maddieclayton commented on #6736
@koralski @nibhat @savyasachisamal Can you take a look at this issue?

[2018-07-24 18:18] maddieclayton commented on #6725
@AnatoliB Can you take a look at this issue?

[2018-07-24 18:21] maddieclayton commented on #6710
Closing as we have not heard back from @sandy-wang. If you are still running into this issue after following Mark's guidance, feel free to reopen this issue.

[2018-07-24 18:21] #6710 closed

[2018-07-24 18:21] maddieclayton commented on #6685
Closing as no response.  @nirmalpavan If you are still seeing this issue feel free to reopen.

[2018-07-24 18:21] #6685 closed

[2018-07-24 18:23] maddieclayton commented on #6636
Closing as no response.  If you are still running into this issue feel free to reopen.

[2018-07-24 18:23] #6636 closed

[2018-07-24 18:23] maddieclayton commented on #6519
Closing as no response.  If you are still seeing this issue, please reopen.

[2018-07-24 18:23] #6519 closed

[2018-07-24 18:24] maddieclayton commented on #6479
Closing this issue as no response. @wolfeno If you are still running into this issue, please reopen.

[2018-07-24 18:24] #6479 closed

[2018-07-24 21:26] markcowl opened #6739 "Update ADAL to latest stable"
### Description

Update the ADAL version used by the netcore binaries to the latest stable version
- [ ] Coordinate with CloudShell and AAD on appropriate ADAL version

### Cost Estimate: 4

[2018-07-24 21:32] markcowl opened #6741 "Update Common and Profile Module targets to NetStandard 2.0"
### Description
- [x] Update the target for Profile and supporting libraries to NetStandard 2.0
- [x] Update the PowerShell references to PowerShell.StandardLibrary
- [x] Provision a machien using PowerShell 5.1 and .Net 4.6.1 [only]
- [x] Verify executing tests on target machine using new library

### Cost Estimate: 4
- Update Target profile and references: 1
- Provision machine: 1
- Test: 2

[2018-07-24 21:42] maddieclayton commented on #6680
@Ajay-MS @SumiranAgg This is an issue we fixed in 6.5.0, so please update to the latest version in order to get this fix.

@Ajay-MS Can you please update to the latest version and let us know if you are still seeing the same issue.  I have a feeling the same bug fix might take care of your issue.

[2018-07-24 21:52] maddieclayton commented on #6645
@elangelo Unfortunately we cannot change the functionality of Import-Module.  However, the task should not be importing all modules every time that you run a task.  Please file an issue against VSTS: https://github.com/Microsoft/vsts-tasks (we will also be working with this team to fix this behavior).

[2018-07-24 21:52] #6645 closed

[2018-07-24 22:07] maddieclayton commented on #6542
@kduraira Can you provide us the output of running your script where you add this line to the beginning of the script?
[code]

[2018-07-24 22:23] markcowl opened #6742 "Prototype Net4.6.1 and NetCore test targets for PowerShell.StandardLibrary modules"
### Description
- [x] Update the netcore test project for profile to consume NetStandard 2.0 modules and have separate targets for Net4.6.1 and NetCore 2.1
- [x] Validate scenario test runs success on NetCore with PowerShell 6.x
- [x] Validate scenario test run success on Net4.6.1 with PowerShell 5.1

### Cost Estimate : 4
- Target Updates: 1
- NetCore Testing: 1
- PowerShell Desktop testing: 2

[2018-07-24 22:27] markcowl opened #6743 "Remove dependency on CredManCache for SPN login in PowerShell Core"
### Description
- [x] Update context definition to include spn + secret
- [x] Populate context definition with login values for token renewal
- [ ] Add tests for new context serialization, login, login renewal

### Cost Estimate:  4
- Update definition + serialization tests: 2
- Login and token renewal: 2

[2018-07-24 22:36] markcowl commented on #6656
@MiYanni There are two possibilities that come to mind:  one is a simple missing dependency - the type contverter is loaded through types.ps1xml, and is included in the profile cmdlets dll; two is a restricted environment that prevents loading type converters

[2018-07-24 22:37] markcowl commented on #6543
This is a duplicate of #3430 closing

[2018-07-24 22:37] #6543 closed

[2018-07-24 22:39] cormacpayne commented on #5365
Updated description to specify desktop vs. .NET Core

[2018-07-24 22:49] markcowl opened #6745 "Update Targets and dependencies for all module projects to PowerShell.StandardLibrary"
### Description
- [x] Add build tasks for correctly targeting modules for NetStandard 2.0
- [x] Update all projects to using PowerShell.StandardLibrary
- [x] Update all test projects to run NetCore tests

### Cost Estimate: 6

[2018-07-24 23:17] maddieclayton commented on #6447
I am unable to repro this with the DSC configuration resource type:
[code]

Closing this issue as cannot repro.  @jmilczek If you have a more specific set of instructions for reproing this issue in the latest version of AzureRM please let me know and I will reopen.

[2018-07-24 23:17] #6447 closed

[2018-07-24 23:49] ikanni commented on #6711
@KirkMunro Thank you for raising this issue. I think we can workaround your issue by creating the self-signed certificate from KeyVault. Please check the below script and this may be useful
https://github.com/ikanni/PowerShellScripts/blob/master/AzureAutomation/RunAsAccount/New-RunAsAccountUsingKeyVault.ps1 _(I am sorry about the long script)._

Let us know if the above is useful.

[2018-07-24 23:56] markcowl opened #6748 "Update NetCore abstractions"
### Description
- [ ] Make TokenCache a binary blob in the context container
  - [ ] TokenCache persistence depends on ContextContainer persistence
  - [ ] Remove TokenCache references in AzureSession
- [ ] Remove legacy properties from AzureSession
- [ ] Replace static properties for abstractions (ClientFactory, AuthenticationFactory, FileProvider) with calls to the ComponentRegistry
- [ ] Replac

[2018-07-24 23:59] markcowl opened #6749 "Add environment variable setting for Context Autosave"
### Description
- [x] AzContextAutosave=Enabled/Disabled or True/False or On/Off
- [x] Use the hierarchy: (1) Env Var; (2) Saved Value; (3) Enabled
- [x] Verify the same functionality for the analogous env var for data collection

### Cost Estimate: 2

[2018-07-25 00:18] markcowl opened #6751 "Automate Net472 test run"
### Description
- [x] Add a NETFX472 test execution worker (in Jenkins, VSTS, or wherever appropriate) capable of running tests in a PowerShell 5.1 + .Net 4..7.2 environment
  - This worker should have .net 4.7.2 but not the netcore sdk or dotnet cli installed
- [x] Enable test execution against 4.7.2 as an on-demand, scheduled build

### Estimated Cost: 8

[2018-07-25 00:24] markcowl opened #6752 "Port powershell repo tooling to NetStandard and VS2017"
### Description

Make sure these tools are pointed at Az:
- [x] Help generation docs
- [x] Help checks
- [x] Signature Verifier
- [x] BreakingChange Analyzer
- [x] Documentation metadata generator
- [x] CorporateValidation tools (ci-signing) [verify no changes needed]
- [ ] CheckAssemblies.ps1
- [x] index.json and outputtypes.json

Changes needed for all post-1.0 releases:
- [ ] Version Controller

[2018-07-25 00:27] markcowl opened #6753 "Update developer documentation for NetCore"
### Description

- [x] Developer Guide
   - [x] Adding new cmdlet project
   - [x] Adding new test projects
- [ ] Update developer VM Image for new tooling
- [x] Update documentation for building, and running tools

### Estimated Cost: 8

[2018-07-25 00:30] markcowl opened #6755 "Convert preview modules to NetStandard"
### Description

- [ ] Add netstandard projects and metadata for all desktop projects in the PowerShell repo
- [ ] Add netstandard projects and metadata for existing preview branches

### Estimated Cost: 8

[2018-07-25 00:35] markcowl opened #6756 "Restructure user view of module metadata"
### Description

- [ ] Update descriptions of each module on the gallery page - add detailed descriptions of module capabilities
- [ ] Add cmdlet to get information on the major features of the currently installed modules (major features introduced since major version -1)
  - [ ] ```Get-AzModuleMetadata [Module Name]```
- [ ] Add 'first run' hook to run the major features documentation cmdlet

###

[2018-07-25 00:38] markcowl opened #6757 "Blog post for upcoming changes"
### Description

- Create a blog post in coordination with Jason about upcoming changes to the modules
  - [x] Cmdlet and Module name changes
  - [x] Resource Id Completers
  - [x] Core + Desktop single module support

### Estimated Cost: 4

[2018-07-25 01:24] markcowl opened #6761 "Update authenticode signing cert"
### Description

Remove references to sha-2 + sha-1 cert (401) for authenticode signing to just sha-2 cert (400).
- [ ] References for desktop build
- [ ] References for NetCore build
- [ ] Verify correct execution on win7sp1 machine, Automation

### Cost: 2

[2018-07-25 04:15] sqlmadhadr commented on #6689
First off, thank you @lhp620 for the motivation to actually stand up a blog. I have asked myself the same question in the past and ended up writing a set of functions - I had to move 100+ tables over 1,000 times and needed to be able to schedule this event. Sometimes asking why isn't important 🥇 .

https://sqlmadhadr.blogspot.com/2018/07/using-powershell-to-bulk-copy-data.html

In this post I've p

[2018-07-25 09:11] kilasuit commented on #6550
Hey @cormacpayne

I some how missed this response but having a switch parameter to include all subscriptions would be good, however it would also be good to be able to just sign into azure at the tenant level, not subscription level like this is currently set to be, and be able to run commands from tenant down as opposed to being forced into a subscription.

My reason for this is that I currently

[2018-07-25 09:12] kilasuit commented on #6549
Thanks @cormacpayne  - @hyonholee & @praries880 - Any updates on this at all?

[2018-07-25 10:12] januschr opened #6764 "Using Find-AzureRmResource throws CommandNotFoundException"
### Description

Find-AzureRmResource should be in module AzureRM.Resources.Netcore according to this URL: https://www.preview.powershellgallery.com/packages/AzureRM.Resources.Netcore/0.13.1

But when I try to use Find-AzureRmResource I get this error:
Find-AzureRmResource : The term 'Find-AzureRmResource' is not recognized as the name of a cmdlet, function, script file, or operable program.

###

[2018-07-25 13:08] woodrum opened #6765 "Get-AzureRMResource by tag when tag value is "unknown" displays all resources"
### Description

From this article:  https://docs.microsoft.com/en-us/azure/azure-resource-manager/resource-group-using-tags

When performing this command, I receive an output of all resources in the resource group $RG.

(Get-AzureRmResource -ResourceGroupName $RG -Tag @{cost_center="unknown"}).Name

In this case, all but a few resources have a defined cost_center, and I have a subscription policy

[2018-07-25 13:51] woodrum commented on #6765
Update:  The following syntax also has the same issue, whereby the value of "unknown" displays all resources in the RG.

Get-AzureRmResource -ResourceGroupName $RG -Tagname "cost_center" -TagValue "unknown" | ft

[2018-07-25 16:31] cormacpayne commented on #6764
@januschr thanks for catching this 😀 we removed the `Find-AzureRmResource` and `Find-AzureRmResourceGroup` cmdlets in our last [breaking change release](https://github.com/Azure/azure-powershell/blob/preview/documentation/migration-guides/migration-guide.6.0.0.md#breaking-changes-to-azurermresources-cmdlets) and it looks like we forgot to pull these cmdlets out of the module manifest file so they

[2018-07-25 16:31] #6764 closed

[2018-07-25 16:52] cormacpayne commented on #6765
@woodrum good catch! I'm able to reproduce this on my machine. It looks like our logic is incorrect when handling the scenario where _both_ a name and value are provided, but is correct when only one of the two is provided. Let me open a PR to fix this and hopefully get it into our next release.

In the meantime, you can workaround this issue with the following commands:

[code]

[2018-07-25 16:58] woodrum commented on #6765
@cormacpayne - thanks a lot... the workaround is great.  To be clear, the command did work when the value I passed was anything but "unknown".  So passing both a name and value works, but if the value is "unknown" it displayed all resources.

[2018-07-25 17:10] praries880 opened #6769 "Location param needs to be mandatory for DiskFile param set in new-azurermvm cmdlet"
I see the following error :
[code]

If I run the cmdlet ```New-AzurermVm``` with the [DiskFile param set](https://github.com/Azure/azure-powershell/blob/preview/src/ResourceManager/Compute/Commands.Compute/VirtualMachine/Operation/NewAzureVMCommand.cs#L62) and no location. Specifying a location fixes this. Either we need to make the cmdlet use the [DefaultLocation](https://github.com/Azure/azure-p

[2018-07-25 17:16] maddieclayton commented on #6410
@lanndoc Are you running the most current version of AzureRM, and have you tried running the commands Cormac described above?

[2018-07-25 17:30] maddieclayton commented on #6382
Fixed.

[2018-07-25 17:30] #6382 closed

[2018-07-25 18:06] praries880 commented on #4513
Core issue here is not in `Get-AzureRmVm`, thr issue is in the [Get-AzureRMNetworkInterface](https://github.com/Azure/azure-powershell/blob/preview/src/ResourceManager/Network/Commands.Network/NetworkInterface/GetAzureNetworkInterfaceCommand.cs) cmdlet. `Get-AzureRMNetworkInterface` should have a param set that takesn in a resource Id and returns the network interface for the provided resource ID.

[2018-07-25 18:21] praries880 opened #6770 "Fix issue in New-AzureRMVm Disk File Param set..."
Got the following error when trying to create a vm based on a Disk File :
[code]

[2018-07-25 20:34] maddieclayton commented on #6164
@juhacket Is this work going to be completed in this milestone? Otherwise, can you move into the appropriate milestone?

[2018-07-25 20:36] maddieclayton commented on #5667
@irrogozh Ping

[2018-07-25 22:13] markcowl opened #6775 "Fix breaking changes in ActiveDirectoryClient for 5.x versions of AzureRM.Resources"
### Description

```Commands.Common.Graph.RBAC.ActiveDirectoryClient``` introduced some breaking changes here: https://github.com/Azure/azure-powershell/pull/6008/files

We need to find a way to create a shim in Profile to support the new and old APIs, or to update the older cmdlets to use the new methods.

This is at least required for version 5.0.1 of AzureRm.Resources, and potentially for other

[2018-07-25 23:48] praries880 commented on #6383
@wellsluo
I can not repro the issue with the latest [AzureRM version](https://www.powershellgallery.com/packages/AzureRM/6.5.0).

Heres what I get :
[code]

Can you try the commands after updating AzureRM?

[2018-07-26 00:07] cormacpayne commented on #6765
This has been fixed and will be available in the 6.6.0 release of `AzureRM`

[2018-07-26 00:07] #6765 closed

[2018-07-26 00:08] cormacpayne commented on #6770
This has been fixed and will be available in the 6.6.0 release of `AzureRM`

[2018-07-26 00:08] #6770 closed

[2018-07-26 00:08] cormacpayne commented on #3878
This has been fixed and will be available in the 6.6.0 release of `AzureRM`

[2018-07-26 00:08] #3878 closed

[2018-07-26 09:14] lanndoc commented on #6410
Thank you yes, i did,
Everything is working as it should.

On Wed, Jul 25, 2018 at 1:18 PM Maddie Clayton <notifications@github.com>
wrote:

[2018-07-26 11:50] amoghnatu opened #6783 "Error "Requested value 'Standard_Microsoft' was not found" When retrieving CDN Profile of "Standard Microsoft" Pricing Tier"
### Description

When trying to retrieve the CDN profile information from PowerShell using the Get-AzureRmCdnProfile cmdlet, an error is being thrown when the Pricing Tier of the CDN Profile is "Standard Microsoft". Error details are given below. Also, please note, this error occurs only when the CDN Profile is "Standard Microsoft". This doesn't happen for other pricing tiers.

### Script/Steps fo

[2018-07-26 13:15] etortec opened #6784 "New-AzureRmADAppCredential: Error 'Update to existing credential with KeyId is not allowed' when attempting to add secondary certificate credential"
### Description

Attempting to use `New-AzureRmADAppCredential` to add a certificate credential when a certificate credential already exists for the service principal fails with the error message 'Update to existing credential with KeyId 'f5fc14f5-72d8-4fbd-b1fb-9ee43aacd2d7' is not allowed.'.

Looking at the powershell debug output the command seems to attempt to use a HTTP PATCH to modify the ex

[2018-07-26 15:20] cormacpayne commented on #6784
@etortec thanks for providing all of this information -- it appears that this is a duplicate of issue https://github.com/Azure/azure-powershell/issues/6219, so I will close this in favor of the other since the appropriate parties have been looped in there.

[2018-07-26 15:20] #6784 closed

[2018-07-26 17:40] cormacpayne commented on #6637
@Tiano2017 Hey Tian, would you mind taking a look at this issue?

[2018-07-26 17:46] markcowl opened #6785 "Connect-AzureRmAccount: Add example of usage and AccountId parameter description for login via user-assigned MSI"
### Description
The parameter attribute help for AccountId provides good explanatory text, but this hasn;t made it into the help.  Add the description for user-assigned identity login to the parameter description, and add examples of logging in with a user-assigned identity (client id or resource id)

### Cost: 1

[2018-07-26 18:01] cormacpayne commented on #6415
@Tiano2017 it looks like the ARM SDK doesn't know how to handle the `&` character when it's in the request. I believe it's getting encoded correctly into the request URI, but then the server doesn't know how to handle it and returns "BadRequest".

[2018-07-26 18:06] maddieclayton commented on #6783
@prakharsharma10 Can you take a look at this issue?

[2018-07-26 18:07] #6674 closed

[2018-07-26 18:20] markcowl commented on #6000
### Task Description

- [ ] Update default directory to ~/.Azure
- [ ] Write conversion code to move any persisted context from the AppData\Roaming\Windows Azure PowerShell Directory
- [ ] Tests for conversion code

### Cost: 6

[2018-07-26 18:29] maddieclayton commented on #6374
@panchagnula Can you take a look at this feature request?

[2018-07-26 18:31] maddieclayton commented on #4779
@gucalder @micongjie Can you take a look at this issue?

[2018-07-26 18:34] osemyonov commented on #6639
it is resolved. Thanks

[2018-07-26 18:34] markcowl opened #6786 "Add common code for resolving path names appropriately for all Path/File parameters"
### Description

- [ ] Write common code to resolve user path names appropriately using the file system provider
  - Ensure that paths are appropriately completed by the provider and use platform-agnostic paths
- [ ] Write tests for common code
- [ ] Write documentation for common code, including reference, developer guide, and design guidelines additions

### Estimated Cost: 6

[2018-07-26 18:38] markcowl opened #6787 "Update all Path/File parameters to use common code for path resolution"
### Description
- [ ] Go through *Path and *File parameters in cmdlets and ensure that each
  - [ ] Uses common code for path resolution
  - [ ] Uses appropriate framework code for concatenating paths in a cross-platform compatible fashion

### Estimated Cost: 8

[2018-07-26 18:38] cormacpayne commented on #6297
@SenthuranSivananthan Hey Senthuran, thanks for opening this issue. By default, PowerShell formats lists in this way so that the console window isn't "cluttered" with text that the user may or may not be interested in, especially if it's a property of an object. In my opinion, it's easier for the user to expand a property to get the information they desire than it is for a user to hide a property

[2018-07-26 18:38] #6297 closed

[2018-07-26 18:46] markcowl opened #6788 "Make NetCore static analysis part of standard ci checks"
### Description

Also, drop any standard desktop testing
- [x] Update standard check-in checks to include the following
  - [x] Running targeted tests on NetCore2.1 in PowerShell Core
  - [x] Running targeted static analysis tools
  - [ ] Running targeted corporate compliance checks

### Estimated Cost: 10

[2018-07-26 18:49] markcowl opened #6789 "Update Automation scheduled run to use NetCore build"
### Description
- [ ] Add new scheduled build of NetStandard modules
- [ ] Update automation tests to consume NetStandard modules
- [ ] Add additional coverage per Automation team feedback

### Cost: 10

[2018-07-26 18:53] markcowl opened #6790 "Update CloudShell scheduled run to use NetStandard build"
### Description
- [ ] Update CloudShell scheduled Jenkins run to use NetCore build

### Cost: 4

[2018-07-26 18:54] markcowl opened #6791 "Update Jenkins Live Test Jobs to use NetStandard build"
### Description

- [ ] Update live tests to use NetStandard Build
- [ ] Verify with network live run

### Cost: 10

[2018-07-26 18:58] markcowl opened #6792 "Correct or remove tests skipped in NetCore"
### Description
Document the set of skipped tests in NetCore and for each:
- [ ] Determine if the test can be easily fixed in NetStandard builds, and if so, fix it
- [ ] Contact owner and determine if the test is important enough to continue including as a check-in test
- [ ] Fix Core tests prior to V1 of Az
- [ ] File issues for non-core tests for RPs to fix

### Estimate Cost: 10

[2018-07-26 19:06] markcowl opened #6793 "Remove IfDefs for Net45 code"
### Description
Go through the set of ifdefs.
- [ ] MarkIfDef for deletion after 8/24 with standardized TODO comment
- [ ] If an equivalent NetStandard code snippet is available, ensure it is included and tested
- [ ] If no equivalent exists in NetStandard, for core cmdlets, talk with owner about alternatives
- [ ] If no equivalent exists in NetStandard for non-core cmdlets, file a tracking issue

[2018-07-26 19:48] SqlBenjamin commented on #6775
Is this the reason why if I use "Add-AzureRmAccount" (loading "AzureRM.profile\5.3.1\Microsoft.IdentityModel.Clients.ActiveDirectory.dll" before creating an object of type "Microsoft.IdentityModel.Clients.ActiveDirectory.AuthenticationContext" (by loading "AzureAD\2.0.1.16\Microsoft.IdentityModel.Clients.ActiveDirectory.dll") I fail on the "AcquireTokenAsync" method? I came to open this bug but it

[2018-07-26 19:59] #5940 closed

[2018-07-26 21:14] cormacpayne commented on #5894
@brwilkinson Hey Ben, I believe this behavior is expected and desired; running `New-AzureRmResourceGroup` with the properties (name and location) of a resource group that already exists will prompt the user for confirmation of their action. At this point, the only thing that is being updated are the tags of the resource group. If they should stay the same as the resources in the group (as mentione

[2018-07-26 21:14] #5894 closed

[2018-07-26 21:32] #6639 closed

[2018-07-26 21:36] markcowl commented on #5910
### Description
Create a simple capability for login with a certificate, this would include:
- [ ] Supporting the certificate store where it is available
- [ ] Adding parameters to allow specifying an X509Certificate2 on the command line
- [ ] Adding a parameter set to use a certificate from standard certificate file formats (.pem, .cer, etc)
- [ ] Persisting the certificate reference for certifca

[2018-07-26 21:45] jackyycheng commented on #6353
I have experienced similar issue too. How I resolved this issue is a little bit different. I have two subscriptions, the service principal account I created would not be able to logon on. I tried to do above suggestions and did not work. Finally I found out that I can resolve this issue is to go to subscription, Access control, and give the reader role to SP account I created. Then everything work

[2018-07-26 22:06] markcowl commented on #6186
@KirkMunro I like the idea of a runspace scope.  I'll have to think about the 'None' scope, but I'm not sure that it is as discoverable as a New- cmdlet would be for creating a new, blank context.

Also, the meat of this issue, which allows setting the current context by passing a context to set/select would remain regardless.

[2018-07-26 22:30] maddieclayton commented on #6545
Tried to solve this quickly here: https://github.com/Azure/azure-powershell/pull/6747/files, but could not figure out why the error was still being thrown.

[2018-07-26 22:59] markcowl commented on #6521
So, I think the root cause here was a clash in keys in the context, which was fixed in the last release.  That is, if you log in with one set of credentials that have access to a particular subscription, then log in with a different user (or a different mechanism), the default context is unchanged.

For example, if you log out before logging in with access token credentials, you would not see this

[2018-07-26 23:24] tylerd commented on #6521
I will send a full debug output tomorrow but I did verify this bug still exists on cloud shell. I could verify it on my Android phone ??

Simply by opening Cloud PowerShell Shell and executing Get-AzureRMSubscription

Keep in mind this is an issue when the AAD user exists in multiple AAD Directories (using AAD B2B)

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
F

[2018-07-26 23:45] sandy-wang commented on #6710
Sorry for late reply, after we put this line in, the problem hasn't happened again. Thank.

[2018-07-26 23:59] markcowl commented on #5982
@praries880  Can you work with hyonho to ensure that this is fixed in the next milestone?

[2018-07-27 00:19] markcowl commented on #6644
@KarlGW The dialog is just a window that opens the IE browser on the azure login web app.  The behavior on a domain-joined machine is dependent on the IE settings and the setting in the domain (for example, in some domains, if you are logged onto your machine as user A, you *cannot* log in as UserB).

[2018-07-27 00:30] markcowl commented on #6695
@udf2457 Can you verify that the private key is accessible in this case?  This may be a bad error message and a key for which you do not have read permission.  Setting a key as non-exportable should *not* make it inaccessible, AFAIK, but thsi is a frequent reason for similar errors.

[2018-07-27 00:59] markcowl commented on #6292
@blueelvis Can you include the debug stream when this works in case 2 (you use Add to add the parameter to the template parameter object)?

It appears that the transformation of TemplateParameterObject is simply incorrect, and I'd like to see a valid request usign this parameter.

[2018-07-27 04:10] brwilkinson commented on #5894
@cormacpayne no that is not a correct assumption. Every automation/template resource group deployment script will include this command prior to new-azurermresourcegroupdeployment Cmdlet. You are not accounting for those scripts, where the RG already exists.

[2018-07-27 04:19] brwilkinson commented on #5894
Please reopen & fix this issue.

[2018-07-27 04:27] brwilkinson opened #6798 "New-azurermresourcegroup clears tags"
https://github.com/Azure/azure-powershell/issues/5894

[2018-07-27 06:31] blueww commented on #6679
@MattAllison

Do you still have any other questions or comments for this?
I will close this issue as not receive comment from you for 10 days.
Feel free to reopen it if you have further questions or comments.

[2018-07-27 06:31] #6679 closed

[2018-07-27 06:37] udf2457 commented on #6695
@markcowl Eh ?!?  You do know what a TPM is, right ? The whole point of a TPM is that the private portion of the key can never be exposed to any other component, software process or user ?

With a TPM you say "Hey Mr TPM, do this with the private key for me", and the TPM returns the result.  Its a black box.

Hopefully I've just misunderstood your question, I can't believe you didn't already know

[2018-07-27 06:39] blueww commented on #6613
@grik001 , @bikramgcnz
Do you still meet the issue?
Can you provide the necessary information for the trouble shooting?

I will close the issue now, as not receive you message for 1 week.
Feel free to re-open it if you have further questions or need my further support on this.

[2018-07-27 06:39] #6613 closed

[2018-07-27 06:43] blueww commented on #6494
@Kreby

Not sure if you have tried my workaround on this?
Do you mind I close this issue if no other questions?

[2018-07-27 08:34] svpudik commented on #6628
I have same issue when I call it as Service Principal.

[code]

[code]
Exist any workaround for that?
Do you need other details?

[2018-07-27 09:05] cblackuk commented on #6628
I provided a workaround above :-) @svpudik

The only other one would be to use latest module but that does not work with Azure Stack because of unsupported API so my workaround is the best you are going to get atm... I am afraid

[2018-07-27 09:52] svpudik commented on #6628
Sorry I missed that.
I am not sure what are those ID's in argument lists and where I can get
them. That are Azure Subscription ID's?
Thanks,
Svata

On Fri, 27 Jul 2018 at 11:06, Chris Black <notifications@github.com> wrote:

[2018-07-27 10:14] cblackuk commented on #6628
That hopefully should explain it a bit:
https://stackoverflow.com/questions/42164581/how-to-configure-a-new-azure-ad-application-through-powershell

[2018-07-27 13:01] samuelbcollie commented on #6680
@maddieclayton I'm still running into this issue with the latest version of Azure powershell. I've started using a workaround suggested [here](https://github.com/Microsoft/vsts-tasks/issues/7049#issuecomment-405835019) but my releases still fail more than half the time with a login error.

[2018-07-27 14:07] mikewo opened #6800 "Get-AzureRmPolicyDefinition BuiltIn and Custom switches not working as expected"
### Description

When I run the Get-AzureRmPolicyDefinition cmdlet with no name and include just the switch parameters of either builtIn or custom I received the same results as if I didn't include the switches. I would have expected Get-AzureRmPolicyDefinition -custom would only return custom definitions and -builtIn to only return built in definitions.

### Script/Steps for Reproduction

[code]

[2018-07-27 14:51] tylerd commented on #6521
Debug Output using AzureRM 6.5.0
[psoutput1.txt](https://github.com/Azure/azure-powershell/files/2236175/psoutput1.txt)

[2018-07-27 15:53] praries880 commented on #5982
This got fixed in https://github.com/Azure/azure-powershell/pull/6720

[2018-07-27 15:53] #5982 closed

[2018-07-27 17:40] praries880 commented on #6608
@hyonholee can you take a look at this issue?

[2018-07-27 17:48] markcowl commented on #4818
@bill-dall I didn't see this until just now - for future reference, if you think an issue isn't resolved, filing a new issue is the best mechanism to bring attention to it.

In this case, it is difficult to see why this would fail for you without more information about your CloudSHell configuration.  Meanwhile, CloudShell has moved to a different paradigm for authentication, so the issue non longe

[2018-07-27 17:49] huangpf commented on #4542
@hyonholee I think this should be fixed, and the fix seems to be overriding the ```Name``` parameter's set, so that it won't be required in the ```IdParameterSet```.

[2018-07-27 17:50] huangpf commented on #4542
@cormacpayne @praries880 (are you Pary?)
Do you have a label that we can use to tag the issues that we should plan to fix?

[2018-07-27 17:55] huangpf commented on #5838
Can someone from the CLI side to help instruct what did you do differently there? It may be because of different designs.

[2018-07-27 18:01] bill-dall commented on #4818
@markcowl - thanks for the response! Yes I was considering opening a new ticket but then got busy for a while and when I got back to it perhaps the new paradigm had been rolled out by then and it was resolved. So we're all good now. - Bill

[2018-07-27 18:09] huangpf commented on #5838
We would like to defer the feature parity triage to CLI team first, because I think that feature was implemented after PS' cmdlet counterpart. @maddieclayton

[2018-07-27 18:32] markcowl commented on #6798
This is by design.  New performs a PUT, PUT replaces the properties of the resource, this is what New and Set explicitly mean in Azure PowerShell cmdlets.

[2018-07-27 18:32] #6798 closed

[2018-07-27 18:52] joslevin commented on #6410
Hi,

I hit the exact same issue, and wasted about half a day trying to figure out what was wrong.

Running `Clear-AzureRmContext -Scope Process` fixed it. It would be good if there was (at least) a more helpful error message in this context.

[2018-07-27 22:03] maddieclayton commented on #6512
PR is open in the platyPS repo, just need to get it merged and then released.

[2018-07-27 22:06] nirmalpavan commented on #6685
this is from azure automation only and I got reply from automation team that it is a known issue and they are fixing it by July end.

[2018-07-27 22:15] nirmalpavan opened #6808 "Login-AzureRmAccount : The browser based authentication dialog failed to complete. Reason: The server or proxy was not found."
HI All

Getting below error while trying login azure subscription using powershell. PLease help.

Login-AzureRmAccount : The browser based authentication dialog failed to complete. Reason: The server or proxy was not found.

[2018-07-27 22:51] maddieclayton opened #6809 "Combine DataPlane and Management module into one module"
- [ ] Combine Azure.AnalysisServices and AzureRM.AnalysisServices into Az.AnalysisServices
- [ ] Combine Azure.Storage and AzureRM.Storage into Az.Storage

Keep separate files and dlls, simply include both dlls into one psd1.

[2018-07-27 23:07] jfinnecy commented on #2605
Agree, I cannot get any of the examples in the Get-AzureRmResource documentation to do anything but throw error. For example:

Get-AzureRmResource : Parameter set cannot be resolved using the specified named parameters.

I have entered example #6 from the documentation exactly. None of the other examples work, either. If this is by design, please fix the documentation and show us how we are suppos

[2018-07-28 00:38] dapostoladeloitte commented on #2605
I will second that one from johnwc

[2018-07-30 04:20] blueww opened #6812 "[Storage] Can't set File share quota bigger than 5120GB in PowerShell"
### Description

This issue comes from a mail from Dariusz Mokwa <damok@microsoft.com>.
Since he don't have GitHub account, open an issue for him.

### Script/Steps for Reproduction

[code]

### Module Version

[code]
Not get this from Dariusz , but Dariusz can't repro the issue.
### Environment Data

[code]

### Debug Output

[code]

[2018-07-30 04:21] blueww commented on #6812
Dariusz can't repro the issue on his machine.

After discuss with him online, I get the issue is in $share.SetProperties().

Actually, “$share.SetProperties()” is call XSCL (Storage Client Library) in Powershell, so actually the error is reported by XSCL, not Powershell.

And I have tried this scenario with latest PowerShell https://github.com/Azure/azure-powershell/releases/tag/v6.6.0-July2018

T

[2018-07-30 07:42] maddieclayton commented on #6396
Work that needs to be done:

- [x] Merge Azure.Storage into Azure
- [x] Remove all of the ResourceManager cmdlets
- [x] Remove references to ResourceManager from all tooling and build.proj
- [ ] Ensure everything builds correctly on CI and signing
- [ ] Create azure-powershell-servicemanagement repo and make it public (once everything is working)
- [ ] Hook up CI into new repo
- [ ] Ensure documen

[2018-07-30 09:30] BenyChernyak1 opened #6814 "Get-AzureRmApiManagementApi doesn't work as expected"
### Description

Hello,

We have upgraded Azure RM PowerShell version to 6.5.0 on one of deploy machines and now I'm facing unexpected behavior with cmdlet above.
I'm specifying API name that I'd like to get a description for:
$apiDesc = Get-AzureRmApiManagementApi -Context $apiMgmtContext -Name 'Spotlight-Entitlement-Service' -ErrorAction SilentlyContinue
where
$apiMgmtContext = New-AzureRmApiMan

[2018-07-30 10:35] etortec commented on #6784
Workaround: you can use `New-AzureADApplicationKeyCredential` to add multiple certificate credentials:

[code]

[2018-07-30 12:16] tlisiecki opened #6815 "Get-AzureRmIotHub in AzureRM.IotHub v3.1.4 does not return ResourceGroupName property"
### Description
In AzureRM.IotHub v3.1.4 Get-AzureRmIotHub cmdlet does not return ResourceGroupName and subscriptionId property. It did return both of them in version 3.1.2 - I can get the output of the cmdlet in that version if needed.

### Script/Steps for Reproduction
[code]

### Module Version
[code]

### Environment Data
[code]

[2018-07-30 14:45] Kreby commented on #6494
@blueww

Yes, I was able to use the suggested workaround.   It is still a little bit awkward but it has at least allowed me to continue on.  Please feel free to close out the issue as I don't have any other questions at this time.

Thanks again!

[2018-07-30 18:29] solankisamir commented on #6814
Yes, during a recent change we changed the ODATA filter from `eq` to `contains`, which is causing this behavior change. Change [here](https://github.com/Azure/azure-powershell/commit/16bd80d7e53135de6744c57563a08fc169567c18#diff-72bf21c9cbd6229758d241b15cb6a595L334).
Need to understand why Contains of full name returns results which don't match the full pattern.

[2018-07-30 21:28] maddieclayton commented on #6542
Closing as no response.  @kduraira Feel free to reopen if you're still having this issue (and please provide the information requested above).

[2018-07-30 21:28] #6542 closed

[2018-07-30 21:30] maddieclayton commented on #6722
Closing as no response. @Ranu2046 Feel free to reopen if you're still having this issue (please provide the information requested above).

[2018-07-30 21:30] #6722 closed

[2018-07-30 21:54] jeffrey-ACE commented on #6678
@cormacpayne this is the fix: https://github.com/Azure/azure-powershell/pull/6817, can you please take a look?

[2018-07-31 00:27] solankisamir commented on #6370
Fixed in release https://github.com/Azure/azure-powershell/releases/tag/v6.6.0-July2018. You should be able to do something like

`Set-AzureRmApiManagementApi -InputObject $api -Name $newName -ServiceUrl $api.ServiceUrl -Protocols $api.Protocols`

`ServiceUrl` and `Protocols` are required parameters due to legacy reasons. We will need to make a breaking change to fix that.

[2018-07-31 00:27] #6370 closed

[2018-07-31 00:28] solankisamir commented on #6560
This should be fixed in the release https://github.com/Azure/azure-powershell/releases/tag/v6.6.0-July2018. Can you please upgrade and see if you are unblocked.

[2018-07-31 00:28] #6560 closed

[2018-07-31 00:32] solankisamir commented on #6814
The order of parameter in Contains was incorrect. Will need to fix that. Expect the fix out in a month.

[2018-07-31 02:34] #6494 closed

[2018-07-31 02:36] blueww commented on #6494
@Kreby
Good to know the workaround works for you.
Close the issue now

[2018-07-31 05:45] maddieclayton commented on #6678
Merged!

[2018-07-31 05:45] #6678 closed

[2018-07-31 08:28] cloudmelon commented on #6466
Hi @huangpf thanks for your answer. I take ' powerstate' into account in my case. But I really would like to propose a update in documentation where will mention the difference between ' powerstate and status'.

[2018-07-31 09:13] jmaragon commented on #661
Feature request for managing web jobs via Azure RM gets my support too

[2018-07-31 09:48] blueelvis commented on #6292
@markcowl - Sure thing. Please find it below.

Code used -

[code]

`
PS C:\Users\Pranav> $pass = Read-Host 'Password?' -AsSecureString
Write-Output $pass

$params = @{}
$params.Add("domainAdminPassword",$pass)

Test-AzureRmResourceGroupDeployment -ResourceGroupName "Pranav-DevTest-Central" -TemplateUri "https://pranavdevtest.blob.core.windows.net/devcontainer/XzVMDomainJoin.json?sp=r&st=2018-07-3

[2018-07-31 09:54] blueelvis commented on #6504
@vladimir-shcherbakov - Any update on this?

[2018-07-31 17:50] pebre77 commented on #6353
@wuy3  Could you please provide more details on how was resolved? I created an Azure Function that will receive a PS Script as a parameter, but the problem is that "The term 'Connect-AzureRMAccount' is not recognized as the name of a cmdlet, function, script file, or operable program" I created a folder "modules"  and copy "AzureRM.Profile" folder and "AzureRM.Resource" folder into it and it's not

[2018-07-31 17:58] darshanhs90 commented on #4141
@surendarkani Could you let us know how is this commandlet Set-AzureRmVMDiskEncryptionExtension  causing an issue wrt New-azurermroleassignment.
Also the issue regarding New-AzureRmRoleassignment was fixed in https://github.com/Azure/azure-powershell/pull/4881

[2018-07-31 18:19] #6352 closed

[2018-07-31 20:29] vhusker commented on #3069
@erichste comment saved me today.  In my case the resource ID for a microsoft.web/certificates resource had a # symbol in the resource ID.  I was able to remove the resource once I constructed the resource ID by doing something like this:

$id = "/subscriptions/<my subscription id>/resourceGroups/<my rg>/providers/Microsoft.Web/certificates/4A6C31D6A6C52EAE0F1869F5F3A1FB58CD1C29E2" + "%23" + "<cer

[2018-07-31 21:16] maddieclayton commented on #6379
Done

[2018-07-31 21:16] #6379 closed

[2018-07-31 21:35] markcowl commented on #6815
@rkmanda @chieftn Can you guys take a look?

[2018-07-31 21:38] markcowl commented on #6808
@nirmalpavan This normally indicates a browser or firewall configuration issue on your machine, can you please provide the folliwng information to help us diagnose:

[code]

Then set your powershell session to provide additional debugging information, using:
[code]
and then run your login command again.

[2018-07-31 21:45] chieftn commented on #6815
Yes -- we'll look into it.

[2018-07-31 21:50] markcowl commented on #6716
Closing as duplicate - this will be handled in bulk.

[2018-07-31 21:50] #6716 closed

[2018-07-31 22:02] jasonpnnl commented on #6410
`Disable-AzureRmContextAutosave` followed by `Clear-AzureRmContext -Scope Process` allowed the `Connect-AzureRMAccount -CertificateThumbprint`.

My question now is, how do I apply this workaround in the context of a script. Do I need to include something in each script to allow it to function or will this fix apply to all scripts?

Also, is this a bug? Is there something that needs to be fixed to

[2018-07-31 22:09] cormacpayne commented on #6410
@jasonpnnl @joslevin we are currently working on fixing this bug. This occurs when running `Connect-AzureRmAccount` with a service principal and passing a tenant domain to the `-TenantId` parameter instead of the tenant (GUID) id; doing this will put your Azure PowerShell sessions into a state where it can't access the current context because the tenant isn't in a GUID form (since it was provided

[2018-07-31 22:13] maddieclayton opened #6824 "Test newly named modules"
- [ ] Test newly named modules with aliases to see which module is loaded
    - [ ] If incorrect module is loaded, we should create a script that only imports aliases if previous modules exist.  We also need to have a way to message customer about this issue.
    - [ ] If correct module is loaded, all we need to do is add a warning in AzureRM.Profile.psm1 that sends a warning if old AzureRM module

[2018-07-31 22:14] vladimir-shcherbakov commented on #6504
@blueelvis
You know that location "eastus" doesn't work for you but "East US" works fine. Why is it so important for  you to use "eastus" and not "East US"?

[2018-07-31 22:28] cormacpayne commented on #6761
This has been resolved.

[2018-07-31 22:28] #6761 closed

[2018-07-31 23:25] jasonpnnl commented on #6410
@cormacpayne Thanks for your reply!

[2018-07-31 23:29] cormacpayne commented on #6410
@jasonpnnl @joslevin candidate fix for this issue can be found in PR https://github.com/Azure/azure-powershell/pull/6822

[2018-08-01 04:54] cormacpayne commented on #5705
This has been fixed

[2018-08-01 04:54] #5705 closed

[2018-08-01 10:01] blueelvis commented on #6504
@vladimir-shcherbakov - It is because of the following reasons -

1. I have scripts and configuration data using "eastus" which is centrally stored. Each deployment script takes into account this region. I can add the "East US" region but it would be quite a lot of work and testing.
2. It works with all the other deployment to Azure services but not this.
3. If a customer is using ASE's (which are

[2018-08-01 13:44] KirkMunro commented on #6711
@ikanni Thank you for sharing this script. We have been working with it in testing, and so far the results look very promising. Once we have completed testing, I will come back and share the final results and close out this issue if it is resolved at that time.

[2018-08-01 16:36] cormacpayne commented on #6398
This has been fixed and will be available in the 6.7.0 release of AzureRM

[2018-08-01 16:36] #6398 closed

[2018-08-01 16:39] praries880 commented on #5838
@deyjcode
I followed the guidelines on [this page](https://docs.microsoft.com/en-us/azure/virtual-machines/windows/build-image-with-packer#create-a-vm-from-the-packer-image) and was able to create a VM using the simple param set :
[code]

Here is the json I used (its  what is mentioned on the page I linked to above) :
[code]
And heres the packer commnand :
[code]

Can you try creating a vm from th

[2018-08-01 16:57] deyjcode commented on #5838
@praries880 Thanks. Turns out this is related to a separate issue I filed: https://github.com/MicrosoftDocs/azure-docs/issues/12156

Turns out that if you try to deploy an image with packer, using premium disks, the packer deployment fails.

To resolve, ensure that the disk is not a premium disk, as well as the vm size not being set to a SKU with an 's' moniker will allow the build to continue.

I

[2018-08-01 17:14] ikanni commented on #6711
@KirkMunro Thank you for updating the initial results.  I hope all goes well !

[2018-08-01 18:12] praries880 commented on #5838
@deyjcode  Thanks for the update... I am closing this issue for now. Feel free to reopen the issue if the need be.

[2018-08-01 18:12] #5838 closed

[2018-08-01 18:47] markcowl opened #6827 "Migration guide for Az"
### Description

Need to put together a migration guide for the Az module, including:

- [ ] Breaking changes in the individual modules
- [ ] Details on migrating installations from AzureRM to Az

### Cost: 6

[2018-08-01 19:37] MisinformedDNA opened #6828 "Docs repeat themselves Docs repeat themselves"
If you go [here](https://docs.microsoft.com/en-us/powershell/module/azurerm.datalakeanalytics/submit-azurermdatalakeanalyticsjob?view=azurermps-6.6.0#syntax) you will see the syntax repeated 6 times.

Also, the navigation link `Inputs` is repeated 6 times.

Finally, the `Inputs` sections seems like a poorly duplicated version of the `Required` and `Optional` sections. `Output` could use a link to

[2018-08-01 19:55] praries880 commented on #6499
@hyonholee  @singhkays pinging back to see if you have updates on the question above...

[2018-08-01 20:43] gucalder commented on #6341
This feature will be released in the next iteration of PowerShell.
The change was merged around 3 weeks ago.
Before that the portal and calls to the REST API could do the trick with named diagnostic settings.

[2018-08-01 20:44] gucalder commented on #5955
This argument is going to be released in the next iteration of PowerShell.
The code changes were merged around 3/4 weeks ago.

[2018-08-01 21:15] praries880 commented on #5955
Fixed in PR : https://github.com/Azure/azure-powershell/pull/6477

[2018-08-01 21:15] #5955 closed

[2018-08-01 21:15] praries880 commented on #6341
Fixed in PR : https://github.com/Azure/azure-powershell/pull/6477

[2018-08-01 21:17] praries880 commented on #6341
changes are already out in the released module : https://www.powershellgallery.com/packages/AzureRM.Insights/5.1.0

[2018-08-01 21:17] #6341 closed

[2018-08-01 21:17] praries880 commented on #5955
changes are already out in the released module : https://www.powershellgallery.com/packages/AzureRM.Insights/5.1.0

[2018-08-01 21:35] praries880 commented on #5580
The [PSNetworkLongRunningOperation](https://github.com/Azure/azure-powershell/blob/preview/src/ResourceManager/Network/Commands.Network/Models/PSNetworkLongRunningOperation.cs) type used to [de-serialize the response](https://github.com/Azure/azure-powershell/blob/preview/src/ResourceManager/Network/Commands.Network/Common/NetworkCloudException.cs#L58) in the exception does not have the necessary

[2018-08-01 22:02] markcowl commented on #6828
@MisinformedDNA By Design By Design :-)

Actually, the first issue is that these syntax blocks represent different parameter sets, and the parameter set names are not shown in the heading for each syntax block, as they are if you use ```Get-Help``` to get the same data.

Also, the issue is that the parameter sets for this particular cmdlet could use a bit of fixing,a s they are ambiguous (multiple

[2018-08-01 22:25] markcowl commented on #6489
Fixed.

[2018-08-01 22:25] #6489 closed

[2018-08-01 23:40] praries880 commented on #4980
ping @hyonholee

[2018-08-01 23:52] bganapa commented on #4980
@praries880 Are you hitting this issue against Azure or AZURESTACK? Whats your module version of Compute

[2018-08-01 23:59] bganapa commented on #5229
Activatign this as this still exists

[2018-08-02 00:10] praries880 commented on #4980
@bganapa againt azure.

[2018-08-02 01:35] KirkMunro commented on #6711
One change that in New-AzureRMADAppCredential that would be beneficial is a slight modification of my original request: Since adding a -SelfSignedCertificate parameter may require a lot of work from different teams, and therefore is unlikely to see the light of day, how about adding a parameter set that accepts an X509Certificate instead of requiring users to provide a path to a pfx file and a pas

[2018-08-02 02:48] blueww commented on #5314
Add the updated script here.
To run the script, need provide the account name,key, and a local file which is 512 byte aligned.

[code]

[2018-08-02 02:54] blueww opened #6831 "[netcore] Need to document call XSCL API in Powershell change: Sync -> Async"
The Storage XSCL API call is frequently used in PowerShell. E.g:
•	https://docs.microsoft.com/en-us/azure/storage/blobs/storage-blob-soft-delete  : $Blobs.ICloudBlob.Undelete()
•	https://docs.microsoft.com/en-us/azure/storage/files/storage-how-to-use-files-powershell  : $snapshot = $share.Snapshot()

When move Powershell storage module to netcore, the original XSCL API not work on Powershell netco

[2018-08-02 03:00] blueww commented on #6831
The change include but not limited to:
1. Blob Snapshot (see the script in the issue above)

2. Share Snapshot

Before change:
[code]
after change:
[code]

3. Undelete a soft delete blob
[code]

[code]

[2018-08-02 03:55] kungpaolam opened #6832 "'Get-AzureRmStorageUsage' does not work as expected"
### Description
'Get-AzureRmStorageUsage' does not report the number of storage accounts currently used in the subscription. Instead, i have seen it report 0.

I originally saw this issue while using the Azure CLI and i logged an issue for it under that project (https://github.com/Azure/azure-cli/issues/6861). it sounds like they have root caused the issue and have made some changes to fix it (i.e

[2018-08-02 05:14] maddieclayton commented on #6832
@blueww Can you take a look at this issue?

[2018-08-02 06:17] blueww commented on #6832
@kungpaolam

If you need to get location usage of the subscription, you can use the preview module of AzureRm.Storage (since the feature is in public preview, it's in preview module of  AzureRm.Storage)

You can install it by:
1. Make sure you use the latest PowerShellGet

[code]

2. Install preview module of AzureRm.Storage (currently the latest one is 5.0.4)

[code]

[2018-08-02 09:26] DirkBrinkmann commented on #6341
Sorry guys, but the new Module 5.1.0 DOES NOT WORK. If you specify -name or not, you will always get the resulting error: The diagnostic setting 'service'
doesn't exist., Code: ResourceNotFound, Status code:NotFound, Reason phrase: Not Found

[2018-08-02 09:30] DirkBrinkmann opened #6833 "Set-AzureRmDiagnosticSetting in Module 5.1.0 does not work"
### Description

With 5.1.0 you introduced the new -Name parameter. Great! But unfortunately it does not work and the whole Cmdlet seems to be broken!

### Script/Steps for Reproduction

If you specifiy the -name param or not, you will always get the error:

The diagnostic setting 'service' [or whatever name you entered]
doesn't exist., Code: ResourceNotFound, Status code:NotFound, Reason phrase:

[2018-08-02 10:01] mguirao commented on #4350
Hey,
Do you have an update for this issue ?
I'm using module 3.1.2 and this is still the case.

[2018-08-02 10:03] surendarkani commented on #4141
sorry i was put my statement in wrong forum, sorry

On Tue, Jul 31, 2018 at 11:31 PM Haridarshan HS <notifications@github.com>
wrote:

--

*Thanks and Regards,*
*   S.SURENDAR*
*s.surendarece@gmail.com <s.surendarece@gmail.com>*
*+91-8608888285 *

[2018-08-02 13:10] almmechanics commented on #6680
Same issue is with 6.6.0. The resolution i've used is to execute:

    Clear-AzureRmContext

as a PowerShell task in VSTS *before* running any Azure PowerShell tasks. This was based on the information from [Azure Powershell task fails on AzureRM 6.4.0 when switching between tenants](https://github.com/Microsoft/vsts-tasks/issues/7689) issue.

[2018-08-02 13:48] martgras opened #6834 "Set-AzureRmResource fails for batch with pipelineineput"
### Description

Get-AzureRmResource  | Set-AzureRmResource   ... fails with for batch with
InvalidRequestBody : The specified Request Body is not syntactically valid.

I have only tested with a batch account but this probably affects all other resources where Date/Time types are used

### Script/Steps for Reproduction

Set your locale to Germany (date / time format)

[code]
everything works if I

[2018-08-02 14:37] brubch opened #6835 "Unable to Import AzureRM.RedisCache Module More Than Once"
### Description

Importing AzureRM.RedisCache adds a default parameter value with key `New-AzureRmRedisCache:ResourceGroupName` which is not cleared when the module is removed.  Any subsequent attempts to import the module fail because this key already exists in the current session.

### Script/Steps for Reproduction

[code]

### Module Version

[code]

### Environment Data

[code]

### Debug Outp

[2018-08-02 14:37] alex-3sr opened #6836 "Set-AzureRmSqlServerThreatDetectionPolicy with a storage in different subscription"
### Description
Hi,

I notice that with **Set-AzureRmSqlServerThreatDetectionPolicy** we can't use a storage account located in a different subscription. Altought, it's possible with **Set-AzureRmSqlServerAuditing** where there are a **StorageAccountSubscriptionId** arguments. It's really missing

### Script/Steps for Reproduction

Just try to setup SQL threat detection with **Set-AzureRmSqlServer

[2018-08-02 16:48] praries880 commented on #6383
ping @wellsluo Were you able to repro the issue with the latest AzureRM release?

[2018-08-02 17:35] asears commented on #5990
We are experiencing this similar issue with Get-AzureRmDataLakeAnalyticsJob when transitioning to azure automation credentials.

[code]

@markcowl do you have any expectation when this would be resolved  in Automation or a workaround we can place in Runbook or on Hybrid Worker?

[2018-08-02 19:28] SqlBenjamin opened #6840 "AzureRM.profile assembly causes error when trying to authenticate to MS Graph"
### Description

Calling the method "[Microsoft.IdentityModel.Clients.ActiveDirectory.AuthenticationContextIntegratedAuthExtensions]::AcquireTokenAsync()" fails with the following error when I use "Add-AzureRmAccount" before creating an "Microsoft.IdentityModel.Clients.ActiveDirectory.AuthenticationContext". However, it does not fail if I first get the AuthenticationContext and then use "Add-Azure

[2018-08-02 20:45] praries880 commented on #5817
Creates a Jenkins job : https://azuresdkci.westus2.cloudapp.azure.com/view/PowerShell/job/ps-generic-module-test/ with parameterized module name. Testing it at the moment to see if it works correctly

[2018-08-02 20:54] jbender-Tallan commented on #2140
Same issue from VS 2017:
Get-AzureRmADApplication : Value cannot be null.
Parameter name: token

[2018-08-02 22:13] markcowl commented on #6840
@SqlBenjamin The desktop version will soon be updating to the latest ADAL version, which should minimize this issue - but this is likely caused by multiple versions being loaded in the current context, and no good way in PowerShell to specify which version it should use for your types (while binary cmdlets are able to load and use specific versions loaded simultaneously without difficulty).  You c

[2018-08-02 22:13] #6840 closed

[2018-08-02 22:33] #6769 closed

[2018-08-02 23:09] markcowl commented on #6833
@DirkBrinkmann Can you include some additional information so we can diagnose this:

Run ```$DebugPreference="Continue"``` and then execute the cmdlet and include the debug output.

Run ```Resolve-AzureRmError``` after the failure.

[2018-08-02 23:13] markcowl commented on #6835
@maddieclayton Looks like this might have to do with default parameter values - can you take a look?

[2018-08-02 23:15] markcowl commented on #6836
@alex-3sr You might want to consider removing some older versions of the modules from yoru box - it looks like you have 5 versiosn simultaneously installed.

I think the real solution here is to use a resource id for the storage account - would this work for your scenario?

[2018-08-03 00:57] kungpaolam commented on #6832
i am having problems installing the preview module of AzureRm.Storage...

from the "PowerShell Core on Linux" in a container:
`
PowerShell v6.0.3
Copyright (c) Microsoft Corporation. All rights reserved.

https://aka.ms/pscore6-docs
Type 'help' to get help.

PS /> $psversiontable

Name                           Value
----                           -----
PSVersion                      6.0.3
PSEditi

[2018-08-03 01:56] hrboyceiii opened #6843 "Update docs to include required RBAC permissions (Roles/Actions)"
As Azure services and supporting APIs evolve, it is becoming more difficult to follow and implement the practice granting least-privileged access.  Many times, the only option is to grant r/w just so that teams can perform necessary operations (an example would be restarting an Azure Web App, VM, etc.) because it is very difficult to map operations to permissions.

Please consider including in the

[2018-08-03 02:24] blueww commented on #6832
@kungpaolam

You might need to close and reopen a new powershell window  after upgrade PowershellGet to make the updated PowershellGet be loaded.

And 5.0.4-preview module is on .net framework, so please install it in windows machine, like the win10 machine.

[2018-08-03 02:47] Orange-MM commented on #6833
I am also confronted with the same problem with @ DirkBrinkmann as well.
In my case, I'm trying to set up a new diagnostic log for Azure SQL Database as shown below.

[code]

According to the advice from @ markcowl, I will post the debug output.

[code]

[2018-08-03 07:30] alex-3sr commented on #6836
@markcowl , yes using ResourceId is clearly enough
For my point of view, using same arguments from Set-AzureRmSqlServerAuditing is better, cause we usually set theses 2 settings at same time, and so it could be more clear. But BTW, if it do the job, it's ok for me ;)
Thanks

Ps : Yes, i need clean up some older version :)

[2018-08-03 09:37] SumiranAgg commented on #6680
@maddieclayton The issue is not resolved in version 6.5.0.
Can you try the scenario I described in previous comment?
Try to login to same subscription with different service principal credentials. I am unable to do so in PS version 6.*.

[2018-08-03 11:34] amoghnatu opened #6846 "Inconsistent module version for global modules when retrieving modules using Get-AzureRmAutomationModule cmdlet with different parameters"
### Description

I'm observing the following behavior when trying to retrieve Automation modules from automation account using Get-AzureRmAutomationModule cmdlet.

When using the cmdlet with only 2 parameters (ResourceGroupName and AutomationAccountName), the modules list shows Version as null for the "global" modules. However, when running the same cmdlet by passing 3 parameters (ResourceGroupNam

[2018-08-03 12:08] kungpaolam commented on #6832
you were correct; after i opened a new powershell session, i was able to load the module. thank you!

[2018-08-03 13:25] jeanfrancoislarente opened #6847 "New-AzureRMVM Object reference not set to an instance of an object - previously working script"
Currently on 6.6.0

Had a script to create a new VM from a stored VHD (been using for ~8 months now).

I'm all of a sudden getting **New-AzureRmVM : Object reference not set to an instance of an object.**

Omitting the creation of RG, networking, etc. Below is the script to create OS disk and VM.

Has anything changed in the latest releases?

[code]

[2018-08-03 18:45] cormacpayne commented on #3974
This has been fixed and will be available in version 6.7.0 of `AzureRM`

[2018-08-03 18:45] #3974 closed

[2018-08-03 18:45] cormacpayne commented on #6709
This has been fixed and will be available in version 6.7.0 of `AzureRM`

[2018-08-03 18:45] #6709 closed

[2018-08-03 18:54] markcowl commented on #6843
@hrboyceiii I really like this idea - it would require documenting the required actions at the API level, so it is a longer-term project, but we might be able to do it shorter term for wel--used cmdlets.

[2018-08-03 18:55] markcowl commented on #6846
@vrdmr This looks like ti could be a service-side issue with the return values for listing modules.  Can you take a look?

[2018-08-03 18:57] markcowl commented on #6847
@jeanfrancoislarente Thanks for the report, cna you also provide the output when executing ```Resolve-AzureRmError -Last``` immdeiately after the error?

@singhkays @hyonholee can you take a look?

[2018-08-03 20:42] tonybendis commented on #6219
Remove-AzureRmADAppCredential throws the same error when trying to remove key credential from an app that has multiple credentials.
I've added the credentials using New-AzureADApplicationKeyCredential, since New-AzureRmADAppCredential breaks when adding the 2nd credential (this bug).

[2018-08-03 21:07] markcowl commented on #6680
@SumiranAgg @almmechanics Yes, this issue wasn't fixed in the latest version, it was fixed in a PR that was merged this week (#6797), which will be released on the 14th.  Note that this problem is irrespective of whether you use context autosave or not.

The underlying issue is that the default context name when logging in uses the subscription ID only.  As a workaround until the fix is released,

[2018-08-03 21:09] vladimir-shcherbakov commented on #6456
@rasmusgude
```FileUtilities.EnsureDirectoryExists``` method [gets called](https://github.com/Azure/azure-powershell/blob/preview/src/ResourceManager/Profile/Commands.Profile/AutoSave/EnableAzureRmContextAutosave.cs#L89) in the constructor to create the directory if it doesn't exist. So, ```IsValidPath(string path)``` shouldn't check for path existence.

[2018-08-03 21:09] #6456 closed

[2018-08-03 21:37] hrboyceiii commented on #6843
@markcowl Great, thanks!

I was looking for a github repo for the rest api but it doesn't look like one exists (at least from the docs.microsoft.com site). Is there a place I can cross-post this request for that team? Or is that not necessary at this time?

[2018-08-03 22:34] bganapa opened #6850 "Remove-AzsUserSubscription is not supporting piping from Get-AzsUserSubscription"
### Description

Remove-AzsUserSubscription is not supporting piping from Get-AzsUserSubscription

### Version
Azure Stack 1.3.0

[2018-08-04 16:30] JVSemmelrock commented on #6847
Issue with error "Object reference not set to an instance of an object." also applies to Get-AzureRmVm.  I had a prior working script suddenly start failing after 6.6.0 update and after discovering that the example powershell at https://docs.microsoft.com/en-us/azure/virtual-machines/windows/attach-disk-ps also now fails with the same error i rolled back to an earlier module and it succeeded.

The

[2018-08-05 10:18] BenyChernyak1 opened #6852 "Unable to catch exception thrown by Import-AzureRmApiManagementApi"
### Description

I'm using this cmdlet:
try{
$result = Import-AzureRmApiManagementApi -Context $apiMgmtContext -SpecificationFormat "Swagger" -SpecificationPath $swaggerFileNameTemp -ApiId $apiId -Path $apiPrefix -Verbose
...
}
catch{
Write-Error "Unable to import API to APIM: $($_.Exception.Message)."
}
Command fails with the following exception:
Import-AzureRmApiManagementApi : Operation returne

[2018-08-05 11:34] joshidp commented on #6374
Please provide an ETA

[2018-08-05 18:14] almmechanics commented on #6680
Sadly, if this is being invoked as part of an 'Azure PowerShell' task on a VSTS hosted agent, then there is no choice in the context.

Any previous use of the private agent will, at present, cache the endpoint using the default behaviour of Azure PowerShell.

[2018-08-06 06:07] blueww commented on #6832
@kungpaolam

I will close this issue as your problem is resolved.
Fell free to reopen the issue if your need further assistance on this issue.

[2018-08-06 06:07] #6832 closed

[2018-08-06 06:53] mariusGundersen commented on #6573
Any status update on this issue?

[2018-08-06 07:42] BenyChernyak1 opened #6853 "Get-AzureRmApiManagementProduct doesn't work as expected"
### Description

The Issue is similar to #6814:
Taking to consideration we have 2 products in APIM:
1.	Spotlight-APIM-Playground-Open
2.	Spotlight-APIM-Playground-Open-Public
The following command:
$productDesc = Get-AzureRmApiManagementProduct -Context $apiMgmtContext -Title “Spotlight-APIM-Playground-Open-Public”
Should return #2 only. But currently it return both, which is wrong.
P.S. With Azur

[2018-08-06 09:09] GritikaV opened #6855 "New-AzureRmADAppCredential failing with Update to existing credential with KeyId is not allowed"
### Description

Unable to add multiple self-signed certificate to my Azure Ad application using Azure PowerShell command New-AzureRmADAppCredential
Seeing the failure recently when using PowerShell, it always used to work fine. Also adding the same certificates from the portal succeeds.
My observation : We are trying to update the first certificate in the manifest.xml instead of adding a new cert

[2018-08-06 10:31] jeanfrancoislarente commented on #6847
@singhkays @hyonholee @markcowl

Here is the error for New-AzureRMVm

[code]

[2018-08-06 11:15] jeanfrancoislarente commented on #6847
Read another thread about storage account type names changing with/without the underscore. Since the disk is being created as **Premium**, is it possible that the New-AzureRMVm command, which is trying to create boot diagnostics in basic storage is using the wrong name for the "standard" storage account **type**?

[2018-08-06 13:32] MiYanni commented on #6855
@darshanhs90 Can you take a look at this? Thanks.

[2018-08-06 13:39] y325A commented on #6219
Does anyone have any workarounds other than the AzureAD module or a fix estimate? This has disappointingly broken my automated certificate renewal script.

[2018-08-06 15:49] MikhailTryakhov commented on #5214
SDN
  Remove-AzureRmRouteFilter: No test currently
  Get-AzureRmEffectiveNetworkSecurityGroup: Runs the get but doesn't check its contents

  App Gateway
  Remove-AzureRmApplicationSecurityGroup: Doesn't actually test if the Security Group is deleted.
  Remove-AzureRmApplicationGateway: No asserts for cmdlet.
  Start-AzureRmApplicationGateway: No tests for cmdlet.

  NetWatcher
  Get-NetworkWatche

[2018-08-06 15:51] MikhailTryakhov commented on #5214
Guys please mark items as fixed in description of the incident

[2018-08-06 16:16] praries880 commented on #5817
Based  on the [first run](https://azuresdkci.westus2.cloudapp.azure.com/view/PowerShell/job/ps-generic-module-test/2/artifact/)

24 tests failed. Failure results [here](https://azuresdkci.westus2.cloudapp.azure.com/view/PowerShell/job/ps-generic-module-test/2/artifact/ComputeTests.htm).

[2018-08-06 16:57] deathly809 commented on #6176
Fixed with https://github.com/Azure/azure-powershell/pull/6821

[2018-08-06 16:57] #6176 closed

[2018-08-06 16:57] deathly809 commented on #6622
Fixed in https://github.com/Azure/azure-powershell/pull/6821

[2018-08-06 16:57] #6622 closed

[2018-08-06 16:59] deathly809 commented on #5713
This has been fixed.  msbuild build.proj /p:Scope=Stack will build only Azure Stack modules.  no Scope will build Azure and AzureStack modules.  AzureStack module has been updated and published.

[2018-08-06 16:59] #5713 closed

[2018-08-06 17:02] deathly809 commented on #6172
This has been fixed, https://github.com/Azure/azure-powershell/pull/6821

[2018-08-06 17:02] #6172 closed

[2018-08-06 17:02] #6173 closed

[2018-08-06 17:04] deathly809 commented on #6719
I don't understand, can you elaborate?

[2018-08-06 18:19] markcowl commented on #6853
@BenyChernyak1 Can you please provide the debug output for this call, so we can see the request and response with ARM?

To do this, set debug preference to 'Continue':

[code]

then execute the cmdlet that is causing the problem:

[code]

This will give us additional information to diagnose the precise problem.

[2018-08-06 18:20] markcowl commented on #6853
@solankisamir Samir, can you take a look?

[2018-08-06 18:21] ohadschn opened #6856 "Improve display and processing of errors in Test-AzureRmResourceGroupDeployment and New-AzureRmResourceGroupDeployment"
I have experienced three different ways ARM configuration issues are reported by `Test-AzureRmResourceGroupDeployment`

1. Returned `PSResourceManagerError` as expected. The problem here is that `Resolve-AzureRmError` doesn't work (I guess because no `ErrorRecord` was created), so I had to write my own method for extracting the errors: https://stackoverflow.com/a/51713155/67824. Example:

2. Excep

[2018-08-06 18:29] markcowl commented on #6680
@almmechanics The default behavior in this case should be fixed in the next release.

I am not sure I understand the scenario, though.  Are you saying that you are intentionally logging in as two different service princpals as part of the same VSTS task?  Generally you want to have a one-to-one correspondence between tasks and the principals they use.

[2018-08-06 18:34] markcowl commented on #6856
@ohadschn For (1) this is by design.  Resolve-AzureRmError is specifically designed for dealing with errors writeen by the cmdlets

For (2) This is an unfortunate side-effect of how the underlying API works.  Seems like the cmdlet should be a little more intellegent at handling this, (and invalid or missing template or template parameters)

For (3) I think the right option to avoid this is buy usi

[2018-08-06 19:57] almmechanics commented on #6680
No, my original problem was 2 Azure Powershell tasks in one build. Each targeting a unique resource group on a private build agent.

I look forward to be revised azure powershell code module and appropriate vsts task and then all will be well.

[2018-08-06 20:42] cormacpayne commented on #6067
This has been fixed.

[2018-08-06 20:42] #6067 closed

[2018-08-06 20:42] cormacpayne commented on #6393
This has been fixed.

[2018-08-06 20:42] #6393 closed

[2018-08-06 20:43] cormacpayne commented on #6775
This has been fixed.

[2018-08-06 20:43] #6775 closed

[2018-08-06 21:19] cormacpayne opened #6858 "Enable Compute.ManagedService test"
Currently there is one test in the Compute.ManagedService test suite, but it is not running as a part of the current on-demand build:

- ManagedComputeServicesTests.VhdTests.TestVhd

This test is failing with the following error:

[code]

The work needs to be done to enable this test on any machine, and then the test assembly should be referenced in [`TestMappings.json`](https://github.com/Azure/a

[2018-08-06 21:40] ohadschn commented on #6856
1. So maybe extend `Resolve-AzureRmError` to handle `PSResourceManagerError` objects? Or at least add a useful `ToString` implementation to the latter? I just don't think it makes sense that I have to write a function like https://stackoverflow.com/a/51713155/67824.
1. Yeah I saw the code is shared with New-AzureRmResourceGroupDeployment, I figured this wouldn't be trivial.
1. Apologies, I should

[2018-08-06 22:31] #5699 closed

[2018-08-06 22:32] #5251 closed

[2018-08-06 22:37] deathly809 commented on #4615
This is a request for not just Azure Stack.

[2018-08-06 22:42] deathly809 commented on #5197
Closing.  Please open an issue if you hit a bug related to this.

[2018-08-06 22:42] #5197 closed

[2018-08-06 22:55] maddieclayton commented on #6512
Finished.

[2018-08-06 22:55] #6512 closed

[2018-08-06 23:10] panchagnula commented on #6635
@grahambunce this was a regression on our end , while our backend made changes to disable invalid version values. @pvbchak  can you share the RCA details we have for this issue here?

[2018-08-07 00:46] MiYanni commented on #6128
Completed within https://github.com/Azure/azure-powershell-common

[2018-08-07 00:46] #6128 closed

[2018-08-07 00:53] olson-chris commented on #4365
This is still not working as intended. If New-AzureRmRoleDefinition is going to blow up when you try and create a "duplicate" role definition in a subscription that has no record of that defintion, then Get-AzureRmRoleDefinition -Custom should return all Custom roles in the AAD tenant, not just the ones in the subscription. Otherwise, how do you programatically discover where the role defintion ex

[2018-08-07 01:01] darshanhs90 commented on #4365
@olson-chris The roledefinitions returned are only part of the subscriptions you have access to and that is by design as returning all the roles for the whole tenant will be a security concern

[2018-08-07 01:11] daozha commented on #6719
If we run Start-AzsBackup -Location "xxxxx", then the confirmation message will be "Start backup at xxxxx?". While if we omit the Location param, the message will be "Start backup at ?"

As the internal logic in cmdlet will get the correct location when omitted, I think we can also show that in the confirmation message.

[2018-08-07 01:11] olson-chris commented on #4365
So, how do I programatically determine where the role is defined? I have full admin rights to the AAD tenant and all of the subscriptions, including the one where the role is defined?

[2018-08-07 01:29] deathly809 opened #6863 "[Azure Stack][Admin] Handle nested resource names natively."
### Description

For nested resource when we call Get-Azs* the Name on the returned object keeps it's resource name.  We will modify the cmdlets to handle this as input and parse out the needed information correctly.

[2018-08-07 01:57] bganapa opened #6865 "Support .Net core for AzureStack Admin modules"
currently azure stack admin modules do not support .net core. We need to add necessary support. This work would be top pri after August End release

[2018-08-07 04:47] darshanhs90 commented on #4365
@olson-chris If you have the admin access at the tenant,you could do a get roledefinition at scope of "/"

[2018-08-07 06:17] BenyChernyak1 commented on #6853
@markcowl please refer to #6814, this is a same one.

[2018-08-07 07:33] chernovol commented on #6416
@praries880 @hyonholee any luck with this?

[2018-08-07 09:59] jeanfrancoislarente commented on #6847
**Works correctly in 6.3.0**. Didn't try any newer versions except for the reproducible 6.6.0 version.

[2018-08-07 10:12] vinaydam commented on #6833
We are also facing the same issue. @markcowl Could you please provide an update on this issue?

[2018-08-07 11:44] amoghnatu commented on #6833
@markcowl  We're also seeing the below exception when passing PT1M as Timegrain.

[code]

[2018-08-07 12:04] lanrongwen commented on #6550
The current paradigm of having to switch sub contexts is very slow and clunky when you're working with multiple subs.  Our scans/updates take much longer than they should.  We do the equivalent in rest much faster because it doesn't care about the context.

I would recommend making all the cmdlets accept either a -subscription/id/name.  Then one could get a list of subs they want to look at, and p

[2018-08-07 12:05] lanrongwen commented on #6550
I would also say, adding it to get alone helps but doesn't fix the problem.  Most the time we are looking so we can actively make changes, and context switching in the middle of a scan would still be a lot of extra work...

[2018-08-07 13:02] number213 commented on #5214
@MikhailTryakhov "Remove-AzureRmApplicationSecurityGroup: Doesn't actually test if the Security Group is deleted." is **SDNNRP**'s test

Also, the tests with the following cmdlets are longer skipped
* Set-AzureRmVirtualNetworkGatewayDefaultSite: Test being skipped.
* Set-AzureRmVirtualNetworkGatewayVpnClientConfig: Test being skipped.
* Remove-AzureRmVirtualNetworkGatewayDefaultSite: Test being sk

[2018-08-07 13:08] EvgenyAgafonchikov commented on #5580
Created PR https://github.com/Azure/azure-powershell/pull/6866 which makes logging more verbose using current implementation.
@praries880, please have a look. Let's decide would this be enough for now and what else could be improved there. Currently I marked the PR with "Do Not Merge" to have a draft version to discuss.

@MikhailTryakhov, please answer on the above comment to get more input on the

[2018-08-07 13:45] jdvachal commented on #6595
I'm in need of this as well.  Does a potential work around exist?

[2018-08-07 16:30] deathly809 opened #6868 "[Azure Stack] Tests are creating a new client on each cmdlet call"
### Description

The tests are breaking due to the way we create our mocked cmdlet, we will modify so that the client is created only once per test.

[2018-08-07 16:45] JeffGoldner opened #6869 "[Azure Stack] [Admin] Get-AzsVMExtension does not return all useful information"
The most important information for extensions is PublisherName, Type and Version (and arguably OsType). When you add an extension, you must provide this information but when you do a Get, you don't get most of those fields back. Instead, you get something called Type which has no useful information.

Compare to Get-AzureRmVMExtension.

PS C:\AzureStack-Tools-master> Get-AzsVMExtension

VmOsType

[2018-08-07 16:55] praries880 commented on #5580
@EvgenyAgafonchikov From, the looks off it, with this PR, we should have enough information in the ErrorMessage.

[2018-08-07 18:00] bganapa opened #6870 "Rename Get-AzsManagedOffer and Get-AzsOffer cmdlets"
Get-AzsManagedOffer - This cmdlet is supposed to be used by Admins. The *managed* naming was selected in the thought process of using a common cmdlet for Admins and Resellers(CSPs). Rightnow this is being targeted only for Admins

Get-AzsOffer
This is a user facing cmdlet to get the public offers. This is not a admin facing cmdlet

The confusion arises as we call admin facing offer creation cmdlet

[2018-08-07 19:38] deathly809 opened #6872 "[Azure Stack] Get-AzsPlatformImage/Get-AzsVMExtension does not support filtering"
### Description

These cmdlets do not allow to search for items from a specific publisher or sku.  We want to support this scenario.

The work required will be done through client side filtering.

[2018-08-07 19:40] deathly809 opened #6873 "[Azure Stack] Extend object returned by *-AzsPlatformImage and *-AzsVMExtension"
### Description

Right now we don't extract out the Publisher/Sku/etc that are used to create these objects.  We have a request to extract these out and add to returned object.

This will require a change to the return type (Breaking change) to a PSCustomObject.

[2018-08-07 19:50] deathly809 commented on #6870
@vlad-MSFT You have any input as you own this.

[2018-08-07 21:11] maddieclayton commented on #1286
@panchagnula Turns out this requires testing to ensure scenarios aren't broken, which I will not be able to do for over 200 cmdlets.  I'll assign this to your for Websites.

[2018-08-07 21:41] maddieclayton commented on #6808
@nirmalpavan Ping on the questions above.

[2018-08-07 21:42] maddieclayton commented on #6383
Closing for inactivity. @wellsluo Feel free to reopen this issue if you are still seeing it in our latest version.

[2018-08-07 21:42] #6383 closed

[2018-08-07 21:49] #2402 closed

[2018-08-07 21:57] #3806 closed

[2018-08-07 22:02] #4443 closed

[2018-08-07 23:54] seanke commented on #6833
Also having this issue.

[2018-08-08 01:07] Orange-MM commented on #6833
It is additional information.

- This problem occurred when "Set-AzureRmDiagnosticSetting" was executed with the diagnostic setting turned off.
- This problem didn't occur if you executed the "Set-AzureRmDiagnosticSetting" after setting the diagnostic setting to name = "service" from Azure portal and turning it on first.

[2018-08-08 01:08] vlad-MSFT commented on #6870
Maybe just cal it AzsAdminOffer? Managed means something else.
Also, do we really need to expose user offers via PS? I kind of dislike that we have that API since it allows people to self-sign-up, which I think should never be done in prod or programatically, There is not much users can do with the offer on the User ARM side.

[2018-08-08 01:41] vlad-MSFT commented on #6870
"Public" terminology is also problematic, as offers can be "public" and "private". I think the only api we need to keep is the admin API and remove any PS support from creating subscriptions and listing offers from User-ARM

[2018-08-08 10:25] msghaleb opened #6878 "AzureADGroupMember doesn't work from AzureShell"
### Description

Running the Add-AzureADGroupMember from the Azure Shell gives as error, however running it from a local PC works fine.

### Script/Steps for Reproduction

MUST BE IN AZURE SHELL

[code]

### Module Version

[code]

### Environment Data

[code]
Name                           Value
----                           -----
PSVersion                      6.1.0-preview.4
PSEdition

[2018-08-08 10:25] msghaleb commented on #6878
more info can be found here: https://stackoverflow.com/questions/51384402/add-azureadgroupmember-erroring-message-shows-extra-forward-slash

[2018-08-08 12:03] jrgithub commented on #6833
I'm getting similar results on Get-AzureRmDiagnosticSetting. Prior to that, the issue was that
Get-AzureRmDiagnosticSetting wrongly reported the audit log enable status on Key Vault diagnostics (same goes for Storage) as False when it should be True. So I uninstalled AzureRm entirely and reinstalled to 6.6.0. Now I get the 'NotFound' status similar to others.

Latest output as follows:

Get-AzureR

[2018-08-08 13:24] Pilosite commented on #6352
Hi,

I have the exact same issue with AzureRM 6.6.0 and AzureRM.Websites 5.0.6, using the updated Metric Name.

Also, is there a way to get the available metrics ? the error message is far from obvious. Thks !

PS C:\Users\adminOffice> get-module AzureRM -ListAvailable

    Directory: C:\Program Files\WindowsPowerShell\Modules

ModuleType Version    Name                                ExportedComm

[2018-08-08 16:18] solankisamir opened #6879 "[ApiManagement] Set-AzureRmApiManagement does not set the CertificateInformation"
### Description

They run following commands:

$proxy2 = New-AzureRmApiManagementCustomHostnameConfiguration -Hostname "myhostname.com" -HostnameType Proxy -KeyVaultId "https://mykeyvault.vault.azure.net/certificates/mycert/xxx" -DefaultSslBinding -NegotiateClientCertificate
$apim = Get-AzureRmApiManagement -ResourceGroupName "myrg" -Name "myapim"
$apim.ProxyCustomHostnameConfiguration += $proxy2

[2018-08-08 16:47] solankisamir commented on #6879
Started working on the change

https://github.com/Azure/azure-rest-api-specs/pull/3609

[2018-08-08 17:06] ciphertxt commented on #6833
I'm seeing the same issue when attempting to set diagnostics on Application Gateways.

[code]

[2018-08-08 17:09] olson-chris commented on #4365
@darshanhs90 , that worked well. Might be good to add this as an example to the technet article?

[2018-08-08 17:41] hyonholee commented on #6416
According to the following log, it looks like the async POST operation took longer than the max timeout set by the client library.  The second call succeeded before the first API call is completed so the second call does not have to "Start" VMSS again.    To investigate why the POST call took more than the timeout period, we need to see our service log.

##[error]Long running operation failed with

[2018-08-08 17:52] akshaysngupta commented on #2255
The order of commands is wrong here.
For instance, $poolSetting01 is referenced in $registerPathRule but is instantiated right before invoking New-AzureRmApplicationGateway

[2018-08-08 17:52] #2255 closed

[2018-08-08 17:57] akshaysngupta commented on #1818
Will update the issue with the timeline of the release.

[2018-08-08 17:59] akshaysngupta commented on #2267
HTTPS on the backend is now supported.

[2018-08-08 17:59] #2267 closed

[2018-08-08 18:20] akshaysngupta commented on #3700
After making some needed adjustment's to @spainja 's scripts, I was able to create a gateway with latest Azure PowerShell release without encountering `AutoMapperMappingException`
Marking the issue resolved.

[code]

[2018-08-08 18:20] #3700 closed

[2018-08-08 18:33] akshaysngupta commented on #4056
This is an issue on the validation side. Will update the issue with the timeline of the fix.

[2018-08-08 18:52] akshaysngupta commented on #4083
Unable to reproduce this issue. Cmdlet works as expected.
[code]

[code]

[2018-08-08 18:52] #4083 closed

[2018-08-08 18:56] akshaysngupta commented on #5145
Taking a look.

[2018-08-08 19:32] akshaysngupta commented on #3800
This is the sequence of cmdlets that reproduces this error

[code]

This is happening as New-AzureRmApplicationGateway resets the $fePort.Id to empty string.

https://github.com/Azure/azure-powershell/blob/cb13d2d135a6755b2b94dd3b781c25d5e9978bbd/src/ResourceManager/Network/Commands.Network/ApplicationGateway/NewAzureApplicationGatewayCommand.cs#L290

https://github.com/Azure/azure-powershell/blob

[2018-08-08 19:35] gcormier opened #6880 "Documentation for AzureRmPolicyAssignment has no -Scope examples other then RG's"
Documentation does not provide any examples for setting scope at a Subscription level as in the portal. It took a bit of searching to figure out it takes a string of "/subscription/(id)"

[2018-08-08 20:30] pvbchak commented on #6635
Official RCA:
The Azure PowerShell Cmdlets Set-AzureRmWebapp and Set-AzureRmResource accept a range of parameters including PHPVersion. This is a string value that would set the relevant PHP version i.e 7.1. 5.6 and so on.
A small subset of Azure App Service customers used a short cut syntax of  -PhpVersion off as a security measure which did have the desired effect of clearing the PHP Version fro

[2018-08-09 01:51] m-moris opened #6886 "[AzureRm.Aks] is not included in AzureRm-6.6.0"
Is AzueRm.Aks included in AzureRm-6.6.0? It does not seem to be included.
However, it is included in AzureRM.Netcore-0.13.1.

[2018-08-09 12:38] MikhailTryakhov commented on #5214
**SDN:**
Remove-AzureRmRouteFilter: No test currently
Get-AzureRmEffectiveNetworkSecurityGroup: No test
Remove-AzureRmApplicationSecurityGroup: Doesn't actually test if the Security Group is deleted.

**Brroklyn**
Get-AzureRmVpnClientPackage: Asserts commented out.
Remove-AzureRmVirtualNetworkGatewayConnection: Not actually testing if connection is deleted.
Set-AzureRmVirtualNetworkGatewayConnecti

[2018-08-09 17:44] maddieclayton opened #6890 "Create new cmdlet to import aliases"
Aliases for Az -> AzureRM are not imported by default.  If a user wants to use aliases, they will need to run this cmdlet (located in Az.Profile):

[code]

If scope is set to current session, the cmdlet will grab the json file, extract the required modules, and run "Set-Alias" for each alias.  This will only persist in the current window.

If scope is set to all sessions, the cmdlet will write to

[2018-08-09 18:17] KirkMunro commented on #6711
So here's where we're stuck at this point.

Our script eventually calls into New-AzureRmAutomationCertificate, passing on a path to a X509 certificate that has been written to disk. That command throws an Internal Server Error, so something unexpected is happening on the back end, and we don't have enough information to figure out what.

I have a few things I'm looking for from this point:

1. I w

[2018-08-09 18:26] wagsousa opened #6891 "Get-AzureRmServiceBusTopic does not return more than 100 topics"
### Description

Get-AzureRmServiceBusTopic is ignoring **nextLink** parameter consequently does not return more than 100 topics.
please also check queue cmdlet (Get-AzureRmServiceBusQueue)

### Script

Create more than 100 topics on the Service Bus namespace and run Get-AzureRmServiceBusTopic
New-AzureRmServiceBusTopic -ResourceGroup _RGNAME_ -NamespaceName _NAMESPACENAME_ -TopicName topic1 -Enab

[2018-08-09 19:25] markcowl commented on #6886
@m-moris Right now the AKS module is still in preview, and this means it cannot be included as a depednency in any module.  We should likely expedite moving this module out of preview so it can be included.

Note that, the NetCore version of this module is part of the AzureRM.Netcore package.

[2018-08-09 19:29] gcormier commented on #6880
I didn't seem to be able to avoid adding scope. Was mandatory and couldn't proceed without.

[2018-08-09 21:00] ashtewari commented on #2661
I am still running into this. This issue is not resolved. Please reopen this.

[2018-08-10 00:10] daozha commented on #6175
Added an alias "Path" due to reasons:
•	To align with the parameter name in AzureStack-tools
•	To align with the property name in BRP API

Fixed in PR #6555

[2018-08-10 00:10] #6175 closed

[2018-08-10 01:29] maddieclayton commented on #6891
@v-Ajnava Can you take a look at this issue?

[2018-08-10 04:46] a138076 commented on #6833
Also getting the same issue when trying to simply register a Network Security Group

[2018-08-10 06:39] daozha commented on #6174
Close it for now. After we add Azure Storage support, we can consider the rename.

[2018-08-10 16:08] ashtewari opened #6894 "Remove-AzureRmRoleAssignment does not remove CoAdministrator"
PS C:\Users\xyz> $DebugPreference = "Continue"

PS C:\Users\xyz> Remove-AzureRmRoleAssignment -SignInName AUser@xyz.com -RoleDefinitionName CoAdministrator
DEBUG: 11:56:25 AM - RemoveAzureRoleAssignmentCommand begin processing with ParameterSet 'ScopeWithSignInNameParameterSet'.
DEBUG: 11:56:25 AM - using account id 'AUser@xyz.com'...
DEBUG: [Common.Authentication]: Authenticating using Account: '

[2018-08-10 16:11] deathly809 commented on #6174
@daozha We have already changed it and added an alias to the old name with a message.

[2018-08-10 17:05] solankisamir commented on #6853
I am working on the fix. Plan to push out in the next update.

[2018-08-10 18:10] v-Ajnava commented on #4543
This should be fixed now with latest release.

[2018-08-10 18:11] v-Ajnava commented on #4340
fixed in the latest release

[2018-08-10 18:12] #4340 closed

[2018-08-10 18:12] #4543 closed

[2018-08-10 19:42] wsmelton opened #6899 "Import-AzureRmAutomationDscConfiguration should validate the configuration name characters"
### Description

Uploading Azure DSC Configurations should validate the name of the configuration to make sure it does not have illegal characters.

AzureRm is letting me upload configurations with dashes in the name, but when you try to delete those configurations you are given this error:
![image](https://user-images.githubusercontent.com/11204251/43977995-6ac1cf90-9cab-11e8-939a-1d8122e92278.pn

[2018-08-10 20:05] wsmelton commented on #6899
Just as reference the portal does catch the invalid character:
![image](https://user-images.githubusercontent.com/11204251/43978993-d8f0d9ae-9cae-11e8-80c6-7715b81c88ba.png)

[2018-08-11 03:34] daozha commented on #6174
@deathly809 Cool! May I know the PR number?

[2018-08-12 00:45] mu-offline opened #6906 "azure-powershell"
### Description

### Script/Steps for Reproduction

[code]

### Module Version

[code]

### Environment Data

[code]

### Debug Output

[code]

[2018-08-12 02:09] mu-offline opened #6907 "Windows Server 2016"
### Description

### Script/Steps for Reproduction

[code]

### Module Version

[code]

### Environment Data

[code]

### Debug Output

[code]

[2018-08-12 13:51] kaevans commented on #3945
The Azure Disk Encryption extension is built using .NET 4.5. If you look at the logs in `C:\WindowsAzure\Logs\Plugins\Microsoft.Azure.Security.AzureDiskEncryption\1.1.0.4` on the VM, you should see an error indicating a fatal exception in BitlockerExtension::OnEnable.

[code]

If TLS 1.0 client was disabled on the VM, add the following registry entries to the virtual machine prior to enabling Azur

[2018-08-12 18:34] deathly809 commented on #6174
We have not done a PR yet.  We should be doing one soon.

[2018-08-13 01:54] v-Ajnava commented on #3780
this is resolved, please check with latest release.

[2018-08-13 01:54] #3780 closed

[2018-08-13 02:48] ToMakeSense opened #6913 "Get incorrect api-version value for LogicApp Trigger CallbackUrl through powershell command"
Through powershell command [Get-AzureRmLogicAppTriggerCallbackUrl](https://docs.microsoft.com/en-us/powershell/module/azurerm.logicapp/get-azurermlogicapptriggercallbackurl), I will get an URL like:
[https://prod-50.westeurope.logic.azure.com:443/workflows/XXXXXXXXXXXXXX/triggers/manual/paths/invoke?api-version=**2016-06-01**&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=XXXXXXXXXXXXX]()

but check it

[2018-08-13 05:48] WernerMairl commented on #6656
Same here!
- Install-Module without error
- Get-Module -Listavailable is empty => Import-Module fails

using the following docker file:

https://gist.github.com/WernerMairl/58ff2c59ba90c6bf02d74d980bd2143b

btw: the source code for YOUR docker image is available anywhere ?
probably the source code helps me to find a workaround.....

regards
Werner

[2018-08-13 06:45] EvgenyAgafonchikov commented on #5580
@praries880, please close this in case we consider this https://github.com/Azure/azure-powershell/pull/6866 as complete fix. Otherwise let's update the issue with possible improvements.

[2018-08-13 15:35] RenarsBD opened #6916 "Update-AzureRmVM : Object reference not set to an instance of an object."
### Description
Idea is to create Linux VM OsDisk Snapshot to recover from failed OS patching or soft upgrade.
Before update or patching create VM OsDisk snapshot,
In case need to revert back to initial setup, convert snapshot to managed disk, stop VM, swap/revert back to original OsDisk, start VM. All should be up and running.

### Powershell Script/Steps for Reproduction

#### CREATE VM OS DISK

[2018-08-13 17:46] maddieclayton commented on #6906
Closing as this has no information. @mu-offline Please open a new issue and fill out the template.

[2018-08-13 17:46] #6906 closed

[2018-08-13 17:46] maddieclayton commented on #6907
Closing as this has no information. @mu-offline Please open a new issue and fill out the template.

[2018-08-13 17:46] #6907 closed

[2018-08-13 18:25] maddieclayton commented on #6913
@pankajsn @daviburg Can you take a look at this issue?

[2018-08-13 18:27] maddieclayton commented on #6916
@nibhat @koralski @savyasachisamal Can you take a look at this issue?

[2018-08-13 18:28] maddieclayton commented on #6808
Closing as no response.  @nirmalpavan If you are still seeing this issue feel free to reopen with the information requested above.

[2018-08-13 18:28] #6808 closed

[2018-08-13 18:29] maddieclayton commented on #6852
Closing as no response. @BenyChernyak1 If you are still seeing this issue feel free to reopen with the information requested above.

[2018-08-13 18:29] #6852 closed

[2018-08-13 23:34] v-Ajnava commented on #6891
@wagsousa, if the namespace is standard, you can create 100 topics with EnablePartitioning $True,
the number of topics to be displayed can be mentioned in -MaxCount parameter of the Get cmdlets.

please try the get cmdlets with -Maxcount with latest AzureRm release and let me know if still face the issue.

[2018-08-14 01:35] maddieclayton commented on #6164
@juhacket Ping

[2018-08-14 06:03] #4047 closed

[2018-08-14 07:09] GritikaV commented on #6855
Hi

Any update on the issue?

Thanks
Gritika

[2018-08-14 09:08] OmegaMadLab commented on #6847
Faced same issue yesterday on **5.4.0**. Solved by specifying StorageAccountType in the Set-AzureRmVMOSDisk phase, before creating the VM with New-AzureRmVm:
`#Attach OS disk
$TestVm = Set-AzureRmVMOSDisk -VM $TestVm -ManagedDiskId $Disk.Id -CreateOption Attach -Windows -StorageAccountType Premium_LRS`

Previously I was specifying storage sku only in New-AzureRmDiskConfig, as per official document

[2018-08-14 09:22] laughtonsm opened #6923 "Azure Powershell does not allow selection of a subscription recently migrated to another tenant"
### Description

After migrating a subscription to another tenant, I was unable to use Azure Powershell to select the subscription for management (`Select-AzureRmSubscription -Subscription <subscriptionName>`)

### Script/Steps for Reproduction

![2018-08-13_16-36-30](https://user-images.githubusercontent.com/18421849/44083360-ad636d56-9fab-11e8-9255-66d77eacd101.png)

This occurs whether I am sel

[2018-08-14 10:00] RenarsBD commented on #6916
Tested with other AzureRM module versions, same bug observed for AzureRM module versions 6.2.0 - 6.6.0

[2018-08-14 10:52] jeanfrancoislarente commented on #6847
Fantastic @OmegaMadLab - re-installed 6.6.0 and tried by adding the StorageAccountType to the Set-AzureRmVMOSDisk CmdLet and it worked like a charm.

Interesting that it works in 6.3.0 without setting that value but not in 5.4.0 and 6.6.0

[2018-08-14 16:13] Suchiman opened #6924 "Set-AzureRmWebAppSlot -AppServicePlan does nothing if WebAppSlots are piped"
### Description

When piping web app Slots from Get-AzureRmWebAppSlot to Set-AzureRmWebAppSlot, then attempting to modify the AppServicePlan does nothing (the WebAppSlot summary is printed but the AppServicePlan stays the same). If you try to manipulate the AppServicePlan directly through Set-AzureRmWebAppSlot, it works. The usecase is batch migrating web apps and their slots to different app serv

[2018-08-14 17:32] wsmelton commented on #6899
I've also found out even trying to use the configuration you will get some crazy results (or actually none at all). Clicking on the compile button in the portal for this configuration has no action or visual queue that there is an issue. It is very odd.

[2018-08-14 17:57] maddieclayton commented on #6924
@panchagnula Can you take a look at this issue?

[2018-08-14 18:44] tonjohn commented on #6374
Any updates on this? The existing command randomly fails for us and support keeps telling us to update to the new API. Except.. there isn't a new API...

[2018-08-14 18:55] markcowl commented on #6741
Fixed

[2018-08-14 18:55] #6741 closed

[2018-08-14 18:56] markcowl commented on #6742
Fixed

[2018-08-14 18:56] #6742 closed

[2018-08-14 18:56] LockTar commented on #2494
@bretthackermsft
Today, I needed this again (login to AzureAD with sp and key) and I found multiple solid solutions for this. See in example my blogpost: https://www.locktar.nl/programming/powershell/connect-to-azuread-with-service-principal/

You can also use my other post for [using AzureAD cmdlets in a VSTS extension](https://www.locktar.nl/programming/powershell/use-azuread-powershell-cmdlets-

[2018-08-14 19:03] markcowl commented on #6549
@kilasuit Yes, we are looking at a common set of functionality across cmdlets to allow wildcards and completion over the components of the resource ID.  This would include allowing you to filter the list of VMs by name (or partial name) for example, and potentially auto-complete VM names by partial name.

We plan to prototype this functionality post-ignite, and have this released later this year.

[2018-08-14 21:25] markcowl commented on #6836
@jaredmoo Can you take  alook?

[2018-08-14 21:31] markcowl commented on #6672
@gabivigo Sorry for the delay.  This could happen for a couple of reasons:

(1) SPN + Secret login uses the Microsoft Credential Store to persist credentials, and this isn't enabled on your remote execution context.

(2) There is an issue with the version of OperationalIsights being use d- running 'Get-Module-ListAvailable``` shoudl show whether this is the case.

I suspect that the issue is (1),

[2018-08-14 21:37] MiYanni commented on #6656
@jebalert This is fixed in 0.13. If you still have a problem, please refile an issue.

[2018-08-14 21:37] #6656 closed

[2018-08-14 21:38] MiYanni commented on #6644
Closing due to inactivity.

[2018-08-14 21:38] #6644 closed

[2018-08-14 21:43] MiYanni commented on #6545
Closing as this will be part of the work to move Azure.Storage.Location to NetStandard post Ignite.

[2018-08-14 21:43] #6545 closed

[2018-08-14 21:46] MiYanni commented on #6402
@cormacpayne Please determine is there is a null ref issue.

[2018-08-14 22:03] MiYanni commented on #6292
@cormacpayne Sync up with Mark about this issue

[2018-08-14 22:06] MiYanni commented on #6680
Closing as fixed in 6.7

[2018-08-14 22:06] #6680 closed

[2018-08-14 22:13] ohadschn commented on #6856
Thanks! I think you switched (1) and (2) though :)

Regarding catching errors and returning them as `PSResourceManagerError` objects, are you sure resourceGroup not found is the only case where an exception is thrown? I just gave it as an example, more generally I was aiming for _never_ throwing on configuration errors...

[2018-08-14 22:17] MiYanni commented on #6339
@iricigor We opened up a separate issue for the conceptual docs. We'll take care of the reference docs in this issue.

[2018-08-14 23:53] darshanhs90 commented on #6855
@RbacAsk

[2018-08-14 23:55] darshanhs90 commented on #6894
@ashtewari This is by design, you cannot use Remove-RoleAssignment to remove a classic admin, since classic admins are inherently different from a roleassignment

[2018-08-14 23:55] #6894 closed

[2018-08-15 00:02] markcowl opened #6929 "Validate User Experience Installing NetStandard modules on Azure Automation"
### Description

- Verify that Az modules work on a new automation account, using the provided net472 worker
 - [ ] Verify corrrect execution of existing runbooks with Az module
  - [ ] Existing Automation tests
  - [ ] Smoke tests for RMCore  (use("\\aaptfile01\adxsdk\PowerShell\PSReleaseDrop\scripts\RmCoreSmokeTests.ps1")
 - [ ] File issues for any discrepancies for discussion with Automation te

[2018-08-15 00:15] markcowl opened #6930 "Add storage data plane test to netstandard automation"
### Description

- [x] Convert azure storage sanity script to use netstandard libraries
- [x] Verify it passes on netstandard bits
- [x] Add test automation to run as part of storage tests in netcore

### Cost: 6

[2018-08-15 01:00] markcowl opened #6931 "Convert and execute non-Core test projects"
### Description
Convert test projects in the order below
- Required for v1
  - [x] Cdn
  - [x] CognitiveServices
  - [x] Dns
  - [x] MachineLearning
  - [x] MachineLearningCompute
  - [x] ServiceBus
  - [x] ServiceFabric
  - [x] TrafficManager

### Cost: 10

- Required for October
  - [x] ApplicationInsights
  - [x] AnalysisServices
  - [x] Billing
  - [x] Consumption
  - [x] ContainerInstance
  -

[2018-08-15 01:12] #6745 closed

[2018-08-15 01:25] markcowl opened #6932 "Validate all core test projects on net472"
### Description
- [x] Add test dependencies package to enable netstandard testing on netfx
- [x] Add net472 target to each core test project
- [x] Verify test pass under net472 target

### Cost: 2

[2018-08-15 01:29] markcowl opened #6933 "Set up additional build machines for NetCore sign builds"
### Description

- [x] Modify current signing machine label to build netcore
  - [x] VS2017
  - [ ] NetCore SDK 2.1
- [x] Ramp up 3 machines using the new worker
- [x] Assign to the NetCoreSigning job

### Cost: 6

[2018-08-15 01:33] markcowl opened #6934 "Statically validate System.Management.Automation in PowerShell.StandardLibrary"
### Description
- [x] Statically validate interfaces from System.Management.Automation that we implement are properly represented in PowerShell.StandardLibrary
- [x] Validate that generator APIs use standard library
- [x] File issues for Runspaces and any other IfDefs / missing implementations

### Cost: 2

[2018-08-15 07:41] NikitaYeryomin commented on #2576
Guys, I'm new to powershell and Azure but seems getting same issue. When I run this command directly in cloudshell it works:
Set-AzureRmResource -ResourceId /subscriptions/.../resourceGroups/ae-devtest-network/providers/Microsoft.Compute/virtualMachines/vmname -Tag @{ Dept="IT"; Environment="Test" } -Force

But when I try to run it inside the script or inside Function App code, I get:

Set-AzureRm

[2018-08-15 07:58] slavizh opened #6936 "Fix error message for failed domain login to include the correct credential type"
### Description

When you want to be asked for credentials interactively the Connect-AzureRmAccount  with domain provided does not work.

### Script/Steps for Reproduction

[code]
Doing something like this works:

[code]

### Module Version

[code]

### Environment Data

[code]

### Debug Output

This is easily reproducible so no debug is needed.

[code]

[2018-08-15 08:28] slavizh opened #6937 "Update documentation for CSP login to include TenantId andd to discuss use of domain name in login"
### Description

Imagine the following scenario. A user account (User1) is part of Azure AD (AAD A). User1 account does not have access to the subscriptions under AAD A or AAD A does not have subscriptions. User1 is added as guest to another Azure AD (AAD B). User1 is also added as owner to several subscriptions under AAD B. When User1 tries to use Connect-AzureRmAccount  with tenant domain to AAD

[2018-08-15 10:04] fordanic commented on #4706
Runing AzureRM version 6.6.0 and I am still receiving this error when trying to create a new VM with New-AzureRmVM based upon a managed disk created from a .vhd. Any suggestion?

[2018-08-15 14:19] ikanni commented on #6711
Acknowledged. I was busy with other work. Please give me time. I will take a look and update

[2018-08-15 17:00] wsmelton commented on #5180
I think has already been addressed in this issue #183

It does not have anything to do with being legacy, use of boolean parameters is intentional. Some of these should not be that easy to enable just from passing a switch parameter. I have no problem with these being boolean and would prefer them to be.

[2018-08-15 17:23] wsmelton opened #6941 "Use of PSDefaultParameters with the AzureRM module"
### Description

My PSDefaultParameters are not being honored with the AzureRm module because the module itself is setting the values. So in the end none of them get used and I have lost the ability to utilize the shortcut in PowerShell itself.

### Script/Steps for Reproduction

Set this in your profile:
[code]

Import the module and then issue any command that utilizes that parameter. You are pr

[2018-08-15 17:33] MiYanni commented on #5180
@wsmelton In that issue, @pcgeek86 stated our viewpoint on the issue. As a PowerShell standard, if you have a parameter that defaults to `false` when it is not provided, using a `bool` doesn't make sense.

Currently, the only situation that makes sense for `bool` in Azure PowerShell is when using Set/Update cmdlets; when changing values on the server, you may want to preserve the current value of

[2018-08-15 17:33] #5490 closed

[2018-08-15 18:36] justinhauer opened #6943 "Container fails to create in Kubernetes"
### Description
azuresdk/azure-powershell-core:latest container image fails to create in kubernetes. Image works fine when running docker locally but when scheduling in kubernetes, image fails to build:

[code]

### Script/Steps for Reproduction

[code]

### Module Version

not applicable
`
### Environment Data
not applicable

### Debug Output

[code]

[2018-08-15 18:56] wsmelton commented on #5180
So then all parameters that are now boolean will be changed to switch type?

[2018-08-15 22:04] giovannifl opened #6944 "New-AzureRmRecoveryServicesBackupProtectionPolicy does not allow to set Time Zone"
### Description

New-AzureRmRecoveryServicesBackupProtectionPolicy should allow to set the time zone that will be applied to a new backup policy when it's created.

According to below ARM template sample, the Time Zone is set at backup policy level, not at retention policy or schedule policy level

https://github.com/Azure/azure-quickstart-templates/blob/master/101-recovery-services-daily-backup-p

[2018-08-15 23:17] maddieclayton commented on #6321
@schaabs Is this fixed in the new SDK version? If so, I'll close this issue.

[2018-08-16 01:47] MiYanni opened #6946 "Package common assets appropriately for NetStandard"
Currently, when we merge the net452 and netstandard20 nuget packages together for azure-powershell-common, the `<contentFiles>` sections are omitted. This means we can't access the content of the packages appropriately. This applies to `Storage` and `ScenarioTest.ResourceManager`. We'd need to fix these packages and then update azure-powershell to use them appropriately.

[2018-08-16 02:15] hyonholee commented on #6916
The root cause is the generated client library has a converter for storage account type, and even the value is null, it tries to write the value by calling value.ToString()  (below line).

https://github.com/Azure/azure-sdk-for-net/blob/8852cf540d6b68acf2ce7f0d3505749c8dd9aa91/src/SDKs/Compute/Management.Compute/Generated/Models/StorageAccountTypesConverter.cs#L49

[2018-08-16 02:33] prara06 commented on #726
I am trying run Microsoft provided script to inherit and update tags from azure resource groups to resources.. The script will inherit add new tags and values but if resource already has tag then it will ignore and dont update the value.   Can you please advice what needs to be done to update tag and value inheritance.

# Get the resource group
$group = Get-AzureRmResourceGroup myResourceGroup

if

[2018-08-16 05:16] hyonholee commented on #6847
The root cause is the generated client library has a converter for storage account type, and even the value is null, it tries to write the value by calling value.ToString() (below line).
https://github.com/Azure/azure-sdk-for-net/blob/8852cf540d6b68acf2ce7f0d3505749c8dd9aa91/src/SDKs/Compute/Management.Compute/Generated/Models/StorageAccountTypesConverter.cs#L49

[2018-08-16 08:52] Orange-MM commented on #6833
@markcowl:
It is additional information.

I confirmed this problem at AzureRM.Insights Version 5.1.1, just in case.
An error occurred just like Version 5.1.0.

[2018-08-16 10:31] MiYanni opened #6949 "NewHelpIndex.ps1 AzureRM.Profile exception"
This is thrown over and over again during a build. It doesn't stop the build from passing, but we should fix it anyway.
[code]

[2018-08-16 14:32] ledbutter opened #6951 "New-AzureRmWebAppSlot Failures With Multiple Apps in Resource Group"
### Description

Very similar to [this](https://github.com/Azure/azure-powershell/issues/6414), but it is not resolved by adding `-AppServicePlan` parameter.

I am trying to create a deployment slot for one of two web apps in a given resource group that are associated with an ASE. When I include `-AppServicePlan` I then get an error of

### Script/Steps for Reproduction

 * Create ASE
 * Create Ap

[2018-08-16 16:51] MiYanni opened #6952 "Check if Microsoft.Azure.ResourceManager.dll is used by Azure.Storage"
As part of the common merge, this was added to the psd1 for Storage. I'm not sure why, but I didn't add it for no reason. So, we just need to check to see if this is actually used by Azure.Storage. If it is not, we can remove it from the psd1.

[2018-08-16 17:52] markcowl opened #6953 "Update Stack build to use Common runtime packages"
### Description
- [ ] Update stack projects to use common runtime packages
- [ ] Remove common runtime build from powershell repo
- [ ] Re-enable stack build as part of standard Build target
- [ ] Verify Stack sign build

### Cost: 6

[2018-08-16 18:01] markcowl opened #6954 "Installation Tests for 6.8.0 Desktop Build"
### Description
With new common changes, additional verification is necessary for desktop signed build
- [ ] Update versions to allow testing
  - [ ] Set up single repo with modules from gallery for initial install, then add new modules
- [ ] Verify no breaking changes in common code
- [ ] Verify that all shipped dlls are appropriately signed
- [ ] Verify that all dll dependencies are in the appro

[2018-08-16 19:12] markcowl opened #6955 "Installation Tests for Az"
### Description
Verification for signed Az module packages
- [x] Verify that all assemblies are appropriately signed
- [x] Verify that all scripts are appropriately signed
- [x] Verify that all assembly dependencies are shipped in the appropriate module
- [x] Installation and validation test on
  - [x] Windows (core)
  - [ ] Windows (4.7.2)
  - [ ] Windows (downlevel)
  - [x] linux
  - [x] macinto

[2018-08-16 19:13] markcowl opened #6956 "Update PublishModule script for Az"
### Description
- [x] Update the PublishModule script to publish Az modules
  - [x] Use Correc module ordering: Az.Profile, Az.Storage, Az.*, Az

### Cost: 1

[2018-08-16 19:16] markcowl opened #6957 "Enable RM.Resources tests in Travis"
### Description
- [ ] Verify which tests are taking the longest in ResourceManager and Validate them
- [ ] Research and update travis configuration to enable longer tests

### Cost: 2

[2018-08-16 20:01] ledbutter commented on #6951
I've figured this out on my own and it is was unrelated to PS: you apparently can't have two app in the same resource group with the same slot name. The error message generated by Azure (either through PS or through the portal) does leave a lot to be desired, however.

[2018-08-16 20:01] #6951 closed

[2018-08-16 20:11] maddieclayton commented on #6890
Additional tasks
- [ ] Only import modules that are currently installed
- [ ] Use PowerShell tools to parse profile.ps1

[2018-08-16 21:52] markcowl opened #6958 "Update Module Canonical names in Az"
### Description

Make module names logical for Az.* modules

#### Rename
- [x] Az.Profile -> Az.Accounts
- [x] Az.Insights -> Az.Monitor

#### Merge
- [x] Az.Tags -> Az.Resources
- [x] Az.MachineLearningCompute -> Az.MachineLearning
- [x] Az.UsageAggregates -> Az.Billing
- [x] Az.Consumption -> Az.Billing
- [x] Az.DataFactoryV2 -> Az.DataFactory

#### Remove
- [x] Az.Backup
- [x] Az.Scheduler
- [x

[2018-08-16 21:59] markcowl opened #6959 "Update Module list for Az"
### Description

Go through existing modules in AzureRM and for each

- [ ] Determine if it is still a supported service and remove if not
- [ ] Determine if it is using the right canonical name

Go through existing non-RM modules in the repo and for each
- [ ] Determine the GA plans of the service
- [ ]  Determine whether it should be included in Az

- [ ] Publish a lifecycle for module code - wh

[2018-08-16 22:18] schaabs commented on #6321
Yes the issue has been fixed.  Closing the issue.

[2018-08-16 22:18] #6321 closed

[2018-08-16 22:28] maddieclayton commented on #6944
@dragonfly91 Can you take a look at this issue?

[2018-08-16 23:18] deathly809 opened #6961 "[Azure Stack] New-AzureRmStorageAccountKey does not fill in object correctly"
### Description

Calling New-AzureRmStorageAccountKey returns an object with Keys set to null.

I see the result returned from Fiddler as such,

[code]

Probably just an object mismatch.

[2018-08-17 10:53] Jaffacakes82 opened #6965 "Import-AzureRmApiManagementApi: -Path parameter now mandatory?"
### Description
Since upgrading AzureRM to version 6.7.0 it appears that the -Path parameter for Import-AzureRmApiManagementAPi is now mandatory. Is this expected? If so, [the documentation](https://docs.microsoft.com/en-us/powershell/module/AzureRM.ApiManagement/Import-AzureRmApiManagementApi?view=azurermps-6.7.0) for this cmdlet needs to be updated as it currently doesn't state that it is a requ

[2018-08-17 17:04] maddieclayton commented on #6965
@solankisamir Can you take a look at this issue?

[2018-08-17 17:05] mkusmiy opened #6966 "New-AzureRmNotificationHub does not configure Hub programmatically"
### Description

New-AzureRmNotificationHub does not configure Hub programmatically via json file. Name and Location properties are used OK, but Hub notification settings specified in Properties section are not set when verified from Azure Portal. When the same setting is set using Azure Portal, it is saved correctly. However Get-AzureRmNotificationHub or Get-AzureRmResource still displays these p

[2018-08-17 18:27] GritikaV commented on #6855
@markcowl it used to work for version 4.4.1 and 3.7.0. but since the beginning of August it has started to fail for them. Tried it using the latest version and it still fails.

[2018-08-17 20:27] MiYanni opened #6967 "Add common dependency targets file for net452 in azure-powershell-common"
I didn't do this originally because we were supposed to deprecate net452 at netstandard release. But, we should have this for the next few months of development.

[2018-08-17 21:39] solankisamir commented on #6965
@Jaffacakes82 there can be only one API with Empty PATH in an Api Management Instance. My guess is that you are hitting this issue when adding a second API with EMPTY PATH / root PATH.

[2018-08-19 09:34] lwsrbrts opened #6972 "Start-AzureRmAksDashboard returns startIndex cannot be larger than length of string"
### Description

Start-AzureRmAksDashboard fails to run with a `startIndex cannot be larger than length of string.` error.

Something tells me it's related to the fact that I have *a space in my profile path* since running the kubectl command verbatim yields an error also.

### Script/Steps for Reproduction

Just running:

[code]
Results in:

[code]

### Module Version

[code]

### Environment Dat

[2018-08-19 09:45] lwsrbrts commented on #6972
Likely related to this line:

https://github.com/Azure/azure-powershell/blob/90e3d3871dd7e3f27770eeaa9848488bc3b12083/src/ResourceManager/Aks/Commands.Aks/Commands/StartAzureRmAksDashboard.cs#L137

And this one is also likely to cause problems:

https://github.com/Azure/azure-powershell/blob/90e3d3871dd7e3f27770eeaa9848488bc3b12083/src/ResourceManager/Aks/Commands.Aks/Commands/StartAzureRmAksDashb

[2018-08-19 11:11] Jaffacakes82 commented on #6965
@solankisamir There's two APIs in my APIM instance, one has an empty path, one doesn't. I was trying to update the Swagger documentation associated with the API that has an empty path. Would you expect that action to cause this error? I didn't experience this in 5.7.0.

[2018-08-20 05:52] markcowl commented on #6932
Completed

[2018-08-20 05:52] #6932 closed

[2018-08-20 10:55] PaulBoelen commented on #3776
I am still running into this issue. Any idea if/when this will be fixed?

[2018-08-20 11:22] loongdefect opened #6973 "How to remove PSComputerName when using ConvertTo-Json on Powershell Workflow"
Hi all,
I using ConvertTo-Json to convert array hashtable to json.
I run on Powershell workflow, Json auto have property PSComputerName as bellow:

`Name Value`
`------------------------`
`id        12345656723`
`rand    xxxxxxxxxxx`

`Name Value`
`------------------------`
`id        1234565672356`
`rand    vvvvvvvvvvvvvv`

`$array | ConvertTo-Json`
`[`
`{`
`"id": "12345656723",`
`"rand": "xxxxxx

[2018-08-20 12:36] PowershellNinja opened #6974 "New-AzureRmADAppCredential: Key credential end date is invalid"
### Description

I am trying to add a certificate credential to a fresh Azure AD App.
Upon running New-AzureRmADAppCredential it tells me that the Key credential end date is invalid - unless I do a .AddDays(-1) on the EndDate DateTimeObject I provide to the Cmdlet. If I do that, everything works fine.

Noteable in the debug Output below is that the date formatting is the same in both cases:

**Cas

[2018-08-20 14:22] mayankbargali opened #6976 "Get-AzureRmProviderOperation not listing Microsoft.EventGrid Operations"
Steps to repro the issue :

Using the latest Version of AzureRM cmdlets

Get-Module -Name AzureRM

ModuleType Version  Name                          ExportedCommands
----------     -------    ----                             ----------------
Script          6.7.0     AzureRM

Neither of the below powershell commands are giving Microsoft.EventGrid operation in output:

Get-AzureRmProviderOperation

[2018-08-20 14:39] lesterw1 commented on #6976
This issue is easily reproducible under PSVersion = 5.1.14393.2368 and Azure PowerShell v5.1.2.

[2018-08-20 17:26] sfibich opened #6981 "Connect-AzureRMAccount : Could not load type 'System.Security.Cryptography.SHA256Cng' from assembly 'System.Core, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089'"
### Description

When I try to use Connect-AzureRMAccount with a Service Principal I get the following Error:
Connect-AzureRMAccount : Could not load type 'System.Security.Cryptography.SHA256Cng' from assembly 'System.Core, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089'

I've replaced the sensitive information of my ClientId, ClientSecret, and TenantId with the word 'REPLACED'

[2018-08-20 18:10] deathly809 commented on #6981
If you notice in Get-Modules AzureRM has not exported any cmdlets.  This means there was an import error.

What happens if you do,

[code]

If no error try,

[code]

[2018-08-20 19:06] jdogg89 commented on #6943
Can anyone comment on this?

[2018-08-20 19:26] sfibich commented on #6981
Looks fine for the first two, the third has errors.  I haven't looked into the errors just wanted to post it asap, looking now, let me know if you see something that stands out.

**Details:**
``
PS C:\Users\sfibich\Source\Repos\powershell-awg> Import-Module AzureRM.Profile -Verbose
VERBOSE: Loading module from path 'C:\Program Files\PowerShell\Modules\AzureRM.Profile\5.4.0\AzureRM.Profile.psd1'.
V

[2018-08-20 19:36] deathly809 commented on #6981
Upon closer examination I noticed you are using Netcore, I don't think it has the class,

[code]

I also see there are previous issues related to this,
https://github.com/Azure/azure-powershell/issues/5785
https://github.com/Azure/azure-powershell/issues/6629

[2018-08-20 19:49] sfibich commented on #6981
#5785 is talking about login-AzureRM and is not using a App Registration/SPN account from what I can tell.  I am using Connect-AzureRMAccount with a SPN so I don't know if they are speaking to the same issue or if Login-AzureRM is called by Connect-AzureRMAccount under the covers but they don't seem to be the same just related as you stated.  It was closed because the person was not using an SPN a

[2018-08-20 20:56] deathly809 commented on #6981
I tried to reproduce your issue, but I cannot even get AzureRM.Profile to load in PowerShell 6.  It gives me an error,

[code]

When I run using AzureRM.Netcore it works for me.  Also, unless there was a change since I last checked, AzureRM does not work on Linux, you must mean AzureRM.Netcore.

[2018-08-20 21:46] sotnikop opened #6985 "Hyphens are not interpreted as they are on the portal page for Get-AzureRmResource"
### Description
The Get-AzureRmResource command does not handle hyphens within resource names.
For example : Get-AzureRmResource -Name tst-dev*
Hyphens within resource names are a valid character

The azure portal page will search for partial matches containing hyphens just fine

### Script/Steps for Reproduction
Its just a single command.
Setup you azure subscription with resources such as
tst-de

[2018-08-21 07:54] loongdefect commented on #6973
Close https://github.com/PowerShell/PowerShell/issues/7579

[2018-08-21 07:54] #6973 closed

[2018-08-21 07:59] juancrl opened #6988 "Import-AzureRMContext does not show any subscription"
### Description
When importing credentials from JSON file, I cannot enumerate my subscriptions

The script uses multiple Contexts/subscriptions, but in this version only one is active. (Logon is performed again when needed). Multiple contexts are saved in JSON files.
Since AzureRM 6.0 it worked perfectly, but a recent change (probably 6.7.0) broke it.

### Module Version
6.7.0

### Script/Steps fo

[2018-08-21 10:16] willgarcia commented on #3391
@panchagnula @Nking92 @turowicz do you know if there is an automated way (az cli / cmdlet / ARM / other) to disconnect + reconnect the App service vnet (as a temporary workaround)?

[2018-08-21 14:43] mayankbargali commented on #6976
Any update on this issue?

[2018-08-21 14:53] danielearwicker commented on #5586
@arcotek-ltd Indeed. Apps that call the `AddAzureKeyVault` extension method to add a whole key vault to their configuration effectively do this every time they start up (or have to reload config):

[code]

It's basically a flood of round-trips.

It seems if you have more than a handful of secrets then you should store them in some other secure storage system, and put the password to that system in

[2018-08-21 14:56] wagsousa commented on #6891
I tested with 103 topics and MaxCount to 200 and I don't see the issue but we can create up to 10k topics/queues with EnablePartitioning $False.
Default command (without MaxCount which is not required) returning 100 only it may seem that namespace has 100 topics only but I believe this is by design since 10k may be too much for a single command.
Is it possible to add a message that by default firs

[2018-08-21 15:17] #5580 closed

[2018-08-21 15:21] praries880 commented on #6416
@hyonholee did you get a chance to look at the service logs?

[2018-08-21 15:40] praries880 opened #6989 "Add example for Simple parameter set to the New-AzureRmVmss cmdlet help doc"
We need to add an example for the [Simple Parameter Set](https://github.com/Azure/azure-powershell/blob/preview/src/ResourceManager/Compute/Commands.Compute/Manual/VirtualMachineScaleSetCreateOrUpdateMethod.cs#L38) to the [help file](https://github.com/Azure/azure-powershell/blob/preview/src/ResourceManager/Compute/Commands.Compute/help/New-AzureRmVmss.md) As of now it only documents the regular n

[2018-08-21 17:16] v-Ajnava commented on #6891
@wagsousa will add the message in the cmdlet help and update the thread.

[2018-08-21 17:40] martygriffin commented on #6461
Any updates on this issue?

[2018-08-21 18:37] abhijeetgaiha opened #6990 "Set-AzureSubscription fails with SSL/TLS Error"
### Description
Consistently getting this error:

Set-AzureSubscription -SubscriptionId 20ff167c-9f4b-4a73-9fd6-0dbe93fa77
8a -CurrentStorageAccountName lade2etest
Set-AzureSubscription : An error occurred while sending the request.
At line:1 char:1
+ Set-AzureSubscription -SubscriptionId 20ff167c-9f4b-4a73-9fd6-0dbe93f ...
+ ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

[2018-08-21 19:56] markcowl opened #6992 "Improve NetCore Test Performance"
### Description
- [ ] Determien why NetCore scenario tests are taking longer, looking st test startup and teardown times
- [ ] When fixed, re-enable tests markes with the TOT comment for this bug
```// TODO: 6992 Improve test execution performance on NetCore```

### Cost: 8

[2018-08-21 21:14] panchagnula commented on #3391
@willgarcia  we don't have an ETA for first-class command for CLI & Powershell for supporting VNET yet, however please refer to these scripts that might help you for the time-being https://gallery.technet.microsoft.com/scriptcenter/Connect-an-app-in-Azure-ab7527e3
https://docs.microsoft.com/en-us/azure/app-service/web-sites-integrate-with-vnet#powershell-automation

[2018-08-21 21:42] markcowl commented on #6936
@slavizh Can you verify which actual domain name you used for this, and whether you were using an msa account, or a work or school account?

[2018-08-21 21:44] markcowl commented on #6937
@slavizh Can you clarify if you are using tenant id or domain name when logging in?

[2018-08-21 21:57] markcowl commented on #6974
@darshanhs90 Can you take a look?

[2018-08-21 21:59] markcowl commented on #6976
@Tiano2017 Can you take a look?

[2018-08-21 22:00] markcowl commented on #6981
@sfibich Are you using AzureRM on powershell version 6.x?

[2018-08-21 22:04] markcowl commented on #6985
@sotnikop Please execute the assignment statement:

[code]

Then, after that has executed, execute the failing cmdlet separately, and post the debug log here.

[2018-08-21 22:07] markcowl commented on #6990
@abhijeetgaiha Can you provide details on the storage account you are using as default?  Does it support http and https connections?

[2018-08-21 22:08] Tiano2017 commented on #6976
@markcowl PAS team own this cmdlet. do you have contact in their team?

[2018-08-21 23:04] cormacpayne commented on #6834
@martgras Hey Martin, thanks for reporting this. It appears that this is a bug in how `Set-AzureRmResource` accepts pipeline input. Here's what I found:

The [`ShouldUsePatchSemantics`](https://github.com/Azure/azure-powershell/blob/preview/src/ResourceManager/Resources/Commands.ResourceManager/Cmdlets/Implementation/Resource/SetAzureResourceCmdlet.cs#L223-L229) method is the difference between th

[2018-08-22 03:32] kiwidev commented on #6834
As mentioned by @matthchr, this value is ignored by Batch RP but is required to be a valid ISO datetime value if specified.

Note that this behavior is similar to the behavior of managed disks (Microsoft.Compute/disks) which returns a similar error message if `timeCreated` property is specified in an invalid locale.

[2018-08-22 05:30] slavizh commented on #6936
@markcowl I cannot specify the exact domain as I do not want to reveal information for a customer. I do not think the actual domain matters as long as the scenario described above is achieved. I've used Azure AD account (work). I haven't tried if the above scenario appears for MSA as well. Make sure that command Clear-AzureRmContext is executed before trying this scenario as if previous contexts a

[2018-08-22 05:30] slavizh commented on #6937
Make sure that command Clear-AzureRmContext is executed before trying this scenario as if previous contexts are present you will not see this behavior.

[2018-08-22 06:58] blueww commented on #6832
We only release .net version storage preview module now.

@markcowl
Could we build netcore version storage preview module, for this customer needs?

[2018-08-22 14:04] doodlleus commented on #5833
is this still the case? this is leading to a lot of unnecessary costs for my customers

[2018-08-22 16:12] lanrongwen opened #6999 "Export-AzureRmAutomationRunbook Adding extra '\' to file names."
### Description
I am running Powershell 6.1 preview 4 in Centos 7.3.
I have AzureRM.netCore version 0.13.1

When using export-azurermautomationrunbook it prepends the character '\\' to the filename.  This causes issues when trying to access the file in a Linux based environment.

/tmp/\\runbook.ps1

### Script/Steps for Reproduction

[code]

### Module Version

AzureRM.NetCore 0.13.1

### Environm

[2018-08-22 18:33] maddieclayton commented on #6581
Unassigned myself as the KeyVault team should decide which properties should be included in the table view.

[2018-08-22 18:35] maddieclayton commented on #5777
This is now available!  Thanks to the docs team for getting this working!

[2018-08-22 18:35] #5777 closed

[2018-08-22 18:42] maddieclayton opened #7001 "Change help files to "Az""
- [ ] Rename all files
- [ ] Update content in files to reflect new Az syntax
- [ ] Update help generation documentation

[2018-08-22 18:44] maddieclayton commented on #6992
Done

[2018-08-22 18:44] #6992 closed

[2018-08-22 18:51] maddieclayton opened #7002 "Fix help issues in ApiManagement"
When running static analysis fresh on ApiManagement, these help issues are thrown:

Get-AzApiManagementProperty.md | No synopsis found
Get-AzApiManagementProperty.md | No description found
Remove-AzApiManagementAuthorizationServer.md | No examples found
Update-AzApiManagementRegion.md | No examples found

[2018-08-22 18:52] maddieclayton commented on #7002
@solankisamir Can you take a look at this issue?

[2018-08-22 18:53] maddieclayton opened #7003 "Fix help issues in Automation"
When running static analysis fresh on Automation, these help issues are thrown:

Remove-AzAutomationDscConfiguration.md | No examples found
Remove-AzAutomationDscNodeConfiguration.md | No examples found

[2018-08-22 18:53] maddieclayton commented on #7003
@vrdmr Can you take a look at this issue?

[2018-08-22 18:54] maddieclayton opened #7004 "Fix help issues in Backup"
When running static analysis fresh on Backup, these help issues are thrown:

Disable-AzBackupProtection.md | No examples found
Enable-AzBackupContainerReregistration.md | No examples found
Get-AzBackupVaultCredentials.md | No examples found
Set-AzBackupProtectionPolicy.md | No examples found
Wait-AzBackupJob.md | No examples found

[2018-08-22 18:54] maddieclayton commented on #7004
@dragonfly91 Can you take a look at this issue?

[2018-08-22 18:55] maddieclayton opened #7005 "Fix help issues in Batch"
When running static analysis fresh on Batch, these help issues are thrown:

Get-AzBatchAccountKeys.md | No examples found
Remove-AzBatchJobSchedule.md | No examples found
Set-AzBatchJobSchedule.md | No examples found

[2018-08-22 18:56] maddieclayton commented on #7005
@matthchr Can you take a look at this issue?

[2018-08-22 18:57] maddieclayton opened #7006 "Fix help issues in Cdn"
When running static analysis fresh on Cdn, these help issues are thrown:

Get-AzCdnCustomDomain.md | No examples found
Get-AzCdnEdgeNodes.md | No examples found
Get-AzCdnEndpoint.md | No examples found
Get-AzCdnEndpointNameAvailability.md | No examples found
Get-AzCdnEndpointResourceUsage.md | No examples found
Get-AzCdnOrigin.md | No examples found
Get-AzCdnProfile.md | No examples found
Get-AzCd

[2018-08-22 18:57] maddieclayton commented on #7006
@prakharsharma10 Can you take a look at this issue?

[2018-08-22 18:58] maddieclayton opened #7007 "Fix help issues in Compute"
When running static analysis fresh on Compute, these help issues are thrown:

Get-AzVMADDomainExtension.md | No examples found
Get-AzVMDscExtensionStatus.md | No examples found
New-AzVMSqlServerKeyVaultCredentialConfig.md | No description found
New-AzVMSqlServerKeyVaultCredentialConfig.md | No examples found
Remove-AzVMAccessExtension.md | No examples found
Remove-AzVMBackup.md | No description fo

[2018-08-22 18:58] maddieclayton commented on #7007
@hyonholee Can you take a look at this issue?

[2018-08-22 19:08] bganapa opened #7008 "AzureStack: Updated environment settings are not taking effect even after relogin"
### Description

Here is what I am doing

$envInfo= Add-AzureRmEnvironment -ARMEndpoint $ArmEndpoint -Name "AzureStackAdmin" -AzureKeyVaultDnsSuffix vault.local.azurestack.external -AzureKeyVaultServiceEndpointResourceId https://vault.local.azurestack.external
Login-AzureRmAccount -EnvironmentName "AzureStackAdmin" -TenantId $tenantID -Credential $creds

After doing these, I realize that I have wr

[2018-08-22 19:11] prakharsharma10 commented on #7006
Hi @maddieclayton, we have transitioned to a different team. @nachakra can help with the client development tasks/issues for CDN service.

[2018-08-22 20:07] maddieclayton opened #7009 "Example missing for Add-AzHdInsightSecurityProfile"
When running static analysis fresh on HDInsight, these help issues are thrown:

Add-AzHDInsightSecurityProfile.md | No examples found

[2018-08-22 20:07] maddieclayton commented on #7009
@momusoru Can you take a look at this issue?

[2018-08-22 20:09] maddieclayton opened #7010 "Fix help issues in Insights"
When running static analysis fresh on Insights, these help issues are thrown:

Get-AzLogProfile.md | No examples found
New-AzAutoscaleWebhook.md | No examples found
Remove-AzAutoscaleSetting.md | No examples found
Remove-AzLogProfile.md | No examples found

[2018-08-22 20:09] maddieclayton commented on #7010
@gucalder Can you take a look at this issue?

[2018-08-22 20:11] maddieclayton opened #7011 "Fix Help Issues in Network"
When running static analysis fresh on Network, these help issues are thrown:

Add-AzApplicationGatewayAuthenticationCertificate.md | No examples found
Add-AzApplicationGatewayUrlPathMapConfig.md | No examples found
Add-AzLoadBalancerInboundNatPoolConfig.md | No synopsis found
Add-AzLoadBalancerInboundNatPoolConfig.md | No description found
Get-AzApplicationGatewayAuthenticationCertificate.md | No

[2018-08-22 20:11] maddieclayton commented on #7011
@MikhailTryakhov Can you take a look at this issue?

[2018-08-22 20:12] maddieclayton opened #7012 "Fix Help Issues in NotificationHubs"
When running static analysis fresh on NotificationHubs, these help issues are thrown:

New-AzNotificationHubKey.md | No examples found
New-AzNotificationHubsNamespaceKey.md | No examples found

[2018-08-22 20:12] maddieclayton commented on #7012
@smithab Can you take a look at this issue?

[2018-08-22 20:13] maddieclayton opened #7013 "Fix help issues in OperationalInsights"
When running static analysis fresh on OperationalInsights, these help issues are thrown:

Disable-AzOperationalInsightsIISLogCollection.md | No examples found
Disable-AzOperationalInsightsLinuxCustomLogCollection.md | No examples found
Disable-AzOperationalInsightsLinuxPerformanceCollection.md | No examples found
Disable-AzOperationalInsightsLinuxSyslogCollection.md | No examples found
Enable-AzOp

[2018-08-22 20:13] maddieclayton commented on #7013
@xizhamsft Can you take a look at this issue?

[2018-08-22 20:15] maddieclayton opened #7014 "Fix help issues in Resources"
When running static analysis fresh on Resources, these help issues are thrown:

Get-AzResourceProvider.md | No examples found
Invoke-AzResourceAction.md | No examples found
Remove-AzResourceGroupDeployment.md | No examples found
Test-AzResourceGroupDeployment.md | No examples found
Unregister-AzResourceProvider.md | No examples found

[2018-08-22 20:15] maddieclayton commented on #7014
@ravbhatnagar @Tiano2017 Can you take a look at this issue?

[2018-08-22 20:16] maddieclayton opened #7015 "Fix help issues in Scheduler"
When running static analysis fresh on Scheduler, these help issues are thrown:

Disable-AzSchedulerJobCollection.md | No examples found
Enable-AzSchedulerJobCollection.md | No examples found
Get-AzSchedulerJob.md | No examples found
Get-AzSchedulerJobCollection.md | No examples found
Get-AzSchedulerJobHistory.md | No examples found
New-AzSchedulerHttpJob.md | No examples found
New-AzSchedulerJobCo

[2018-08-22 20:16] maddieclayton commented on #7015
@derek1ee Can you take a look at this issue?

[2018-08-22 20:17] maddieclayton opened #7016 "Fix help issues in Sql"
When running static analysis fresh on Sql, these help issues are thrown:

Get-AzSqlDatabaseGeoBackupPolicy.md | No examples found
Get-AzSqlDatabaseReplicationLink.md | No examples found
Get-AzSqlServerBackupLongTermRetentionVault.md | No examples found
Get-AzSqlServerDisasterRecoveryConfiguration.md | No examples found
Get-AzSqlServerDisasterRecoveryConfigurationActivity.md | No examples found
New

[2018-08-22 20:17] maddieclayton commented on #7016
@jaredmoo Can you take a look at this issue?

[2018-08-22 20:18] maddieclayton opened #7017 "webapp:Fix help issues in Websites"
When running static analysis fresh on Websites, these help issues are thrown:

Edit-AzWebAppBackupConfiguration.md | No synopsis found
Edit-AzWebAppBackupConfiguration.md | No examples found
Get-AzAppServicePlanMetrics.md | No synopsis found
Get-AzWebAppBackup.md | No synopsis found
Get-AzWebAppBackupConfiguration.md | No synopsis found
Get-AzWebAppBackupList.md | No synopsis found
New-AzWebAppBac

[2018-08-22 20:19] maddieclayton commented on #7017
@panchagnula Can you take a look at this issue?

[2018-08-22 21:06] maddieclayton commented on #6957
Done

[2018-08-22 21:06] #6957 closed

[2018-08-22 21:06] maddieclayton commented on #6890
Merged

[2018-08-22 21:06] #6890 closed

[2018-08-22 21:07] maddieclayton opened #7019 "Improve Enable/Disable-AzureRmAlias"
Additional tasks
- [ ] Only import modules that are currently installed

[2018-08-22 21:50] aljo-microsoft opened #7020 "New-AzureRmServiceFabricCluster The input is not a valid Base-64 string"
### Description

### Script/Steps for Reproduction

Reproduction Steps are to follow Example 2 of your documentation:
https://docs.microsoft.com/en-us/powershell/module/azurerm.servicefabric/new-azurermservicefabriccluster?view=azurermps-6.7.0#examples

From your documentation:

[code]

### Debug Output

Out Put of the command execution, which appears to be an Type issue with "SecretIdentifier" st

[2018-08-22 23:18] markcowl opened #7024 "Rerecord ScenarioTests.ActionGroupsTests.TestAddGetListSetRemoveActionGroup"
Rerecord the test, per to-do comment

[2018-08-23 07:42] KarlGW commented on #5990
Running Add-AzureRmMetricAlert rules on app services also triggers this exception.

Have uninstalled all old Azure PowerShell modules, and installed the latest (`6.7.0`).

[code]

[2018-08-23 07:53] dcbrown16 commented on #5941
Is this coming up in the near future?
Thanks!

[2018-08-23 08:10] DirkBrinkmann commented on #6833
@markcowl @gucalder : Sorry, but same issue in 5.1.1 :(

![image](https://user-images.githubusercontent.com/19854016/44513025-90e83680-a6bc-11e8-856f-6a799cad60f9.png)

[2018-08-23 12:45] craiglandis commented on #4094
@hyonholee it still reproduces with latest (AzureRM.Compute 5.5.0).

If you don't see a downside to the proposal from @cormacpayne (return only image with matching Name when only -ImageName is specified without -ResourceGroupName) - that is simpler in that you don't have to know the image's resource group, you can return an image just by -ImageName.

If there is a significant downside to that appr

[2018-08-23 15:40] YoannGUILLO commented on #6547
Furthermore the example 1 is incorrect.
While the command Update-AzureRmVM don't have been executed the boot diagnostics settings will not applied.

[2018-08-23 16:08] sfibich commented on #6981
@markcowl Yes I'm using Powershell version 6.1.0-preview.2 PSEdition Core for the Linux machine and PSVersion 6.0.4 and PSEdition Core for the Windows 2k12 server

@deathly809 I'm using the cmdlet connect-AzureRMAccount which looks to come from two different sources AzureRM.profile and AzureRM.Profile.Netcore on the windows box (I don't know how to tell which version I'm invoking when I call it)

[2018-08-23 16:55] deathly809 commented on #6981
@sfibich I did a quick test using the Linux subsystem for Windows and I don't your exception.

However... I don't get anything at all.

[code]

The version of NetCore I have installed is,
[code]

What version do you have?

[2018-08-23 16:58] sfibich commented on #6981
So I've been playing around and it looks like some issue with my IDE, I was using Visual Studio Code on the windows box.  I have VSC configured to use PowerShell Shell pwsh.exe as the shell not the default shell but it seems to have an issue...digging into that but I think at this point is a VSC issue not a PWSH issue.

If I open the PowerShell Shell for 6.04 it works fine.

Thank you both for poi

[2018-08-23 16:58] #6981 closed

[2018-08-23 19:28] markcowl commented on #6672
@gavibigo Can you try logging in using the object id for this service principal?  From the error above, it seems that the AAD library cannot handle this account id - using the client id instead will help to pinpoint the issue.

[2018-08-23 20:27] maddieclayton commented on #6923
I am not able to replicate this issue.  I did wait for the change to propagate (kept checking the output of Get-AzureRmSubscription until the tenant change), which did take a bit of time after the portal had claimed that the tenant had been updated.  Can you confirm that you waited until the change had propagated? Also, can you add the output of Select-AzureRmSubscription with the -Debug flag, as

[2018-08-23 21:32] ghost opened #7030 "Enable client side tracing for the admin cmdlets"
### Description

We are missing client side tracing for FRU, add-cluster and add-node operations’ usage of the admin cmdlets

### Script/Steps for Reproduction

[code]

### Module Version

[code]

### Environment Data

[code]

### Debug Output

[code]

[2018-08-23 21:37] bganapa commented on #7030
This needs a handler to print the Http Request and Response messages.

[2018-08-23 21:50] deathly809 commented on #7030
I asked the Azure-PowerShell team and they said they don't know, that is kinda scary.

[2018-08-23 22:57] maddieclayton commented on #6941
@wsmelton The $PSDefaultParameterValues.Clear() at the beginning of each psm1 only clears for the scope of the script.  This ensures that no default parameter values are set for the commands run in the script.  I'm brainstorming a solution for the actual issue with ResourceGroupName.  Is there a reason that you don't want to use Set-AzureRmDefault?  I will still be working on a fix as this is not

[2018-08-23 23:04] wsmelton commented on #6941
Scope of the script is not the result you get when you import. It is clearing every default parameter I set in my sessions. Even ones I use with my docker containers...I lose any default I setup.

[2018-08-23 23:10] wsmelton commented on #6941
The parameter is not scoped to just scripts it is indeed session wide. Where is your source that it is scoped to the script itself?

[2018-08-23 23:19] maddieclayton commented on #6941
This is what I ran (with outputs):
[code]

[2018-08-23 23:26] maddieclayton commented on #6941
Ah, makes sense.  Do you have any comments on the Set-AzureRmDefault cmdlet: https://docs.microsoft.com/en-us/powershell/module/azurerm.profile/set-azurermdefault?view=azurermps-6.7.0?

[2018-08-23 23:30] wsmelton commented on #6941
I guess that command is the same effect, but a bit annoying to have to use that for just ResourceGroupName and be able to use PSDefaultParmeters for everything else.

I do projects for various clients and constantly update the values I set in my profile to the current project I'm working on. I tend to set a handful of parameters and not just ResourceGroupName. (e.g. AutomationAccount, Subscription

[2018-08-23 23:39] maddieclayton commented on #6941
Got it.  In the future we will look at adding more default values to that cmdlet, but makes sense that someone more comfortable with PowerShell would use the built in methods.  I'll look into a solution for this issue (thinking of adding an environment variable to conditionally set the values based on whether the Set-AzureRmDefault has been run, and adding a special case for already imported modul

[2018-08-23 23:56] markcowl commented on #6833
This shopuld be fixed here: https://github.com/Azure/azure-powershell/pull/7021 and will hopefully be released in one of the next two releases.

[2018-08-23 23:59] markcowl commented on #5900
Fixed

[2018-08-23 23:59] #5900 closed

[2018-08-24 00:20] markcowl opened #7032 "Change NetStandard Common assemblies to depend on Newtonsoft.Json 9"
### Description

- [x] Update common runtiem to use latest versions of clientruntiem assemblies from nuget
- [x] Update NetStandard target common packages to use Newtonsoft.Json 9
- [x] Add side-by-sdie loading logic for Newtonsoft.Json 9 and Newtonsoft.Json 10 on desktop to Az.Profile.psm1

### Cost: 4

[2018-08-24 03:11] aljo-microsoft commented on #7020
I've validated this isn't a powershell issue, by building a python script that call ARM API directly, and repro the issue. Current assumption is an RP has introduced a breaking change to no longer accept this keyvault string format.

[2018-08-24 05:49] a138076 commented on #4919
This really needs to be fixed!

[2018-08-24 15:30] deathly809 commented on #7030
Because we cannot tie into the Azure-PowerShell cmdlet base classes we cannot piggy back on their implementation.  We will have to implement our own solution.  One possibility is to create an HttpHandler which writes to the Debug stream for each request response.

[2018-08-24 16:56] gmcfrear opened #7036 "Can't RDP into Instances created from the VMSS tutorial"
Context:
https://docs.microsoft.com/en-us/azure/virtual-machine-scale-sets/tutorial-create-and-manage-powershell

Description:
I followed the tutorial with my personal account, and found I couldn't rdp into the instances.

ConsoleOutput attached.

--------------------------Modules-------------
PS C:\Users\gfrear> Get-Module AzureRM -ListAvailable | Select-Object -Property Name,Version,Path
Name

[2018-08-24 20:58] maddieclayton commented on #6521
Linking the relevant PR here: https://github.com/Azure/azure-powershell/pull/6621.  Once we are finished with the NetStandard conversion we will revisit this issue and assign it to a milestone.

[2018-08-24 21:12] maddieclayton opened #7038 "Update platyPS generator to convert System.Nullable to "?""

[2018-08-24 21:12] maddieclayton opened #7039 "Update outputtypes.json to include parameter types and input types"

[2018-08-24 21:26] doghousesoftware opened #7040 "Connect-AzureRmAccount : Fix Documentation or Fix the Cmdlet"
This just does not work, even following the documentation provided.  Please fix:

Connect-AzureRmAccount -ServicePrincipal -ApplicationId $applicationId -Credential $pscredential -TenantId $tenantid
Connect-AzureRmAccount : Parameter set cannot be resolved using the specified named parameters.
At line:10 char:1
+ Connect-AzureRmAccount -ServicePrincipal -ApplicationId $applicationI ...
+ ~~~~~~~~~

[2018-08-24 21:33] markcowl commented on #6402
@cormacpayne @Tiano2017 The login here is a red herring - authorization is handled at the service level.

@Ajay-MS Can you clarify if you have logged in and have a subscription set?  Also, what parameters are yo passing to Get_AzureRmPolicyAssignment.  If no scope is specified, the default for these cmdlets is current subscription

[2018-08-24 21:35] markcowl commented on #6954
Done

[2018-08-24 21:35] #6954 closed

[2018-08-24 21:36] markcowl commented on #6955
Done

[2018-08-24 21:36] #6955 closed

[2018-08-24 21:50] maddieclayton commented on #7020
@vaishnavk @juhacket Can you take a look at this issue?

[2018-08-24 21:51] maddieclayton commented on #7036
@praries880 Can you take a look at this issue and redirect if necessary?

[2018-08-24 21:53] markcowl commented on #6956
Fixed

[2018-08-24 21:53] #6956 closed

[2018-08-24 22:32] markcowl commented on #7040
Good catch!  The reference document has the correct parameter sets, but the documentation is incorrect.  Placed a PR to correct the documentation here: https://github.com/Azure/azure-docs-powershell/pull/707

[2018-08-24 23:43] lukeb1961 opened #7044 "(Get-AzureRmContext).Environment.OnPremise - should be OnPremises"
### Description

Property name should be  OnPremises.
OnPremise is a nonsense and not English. The correct word has an s on the end.

### Script/Steps for Reproduction
PS C:\> (Get-AzureRmContext).Environment

Name                                              : AzureCloud
EnableAdfsAuthentication                          : False
OnPremise                                         : False
ActiveDirec

[2018-08-25 05:26] jayendranarumugam opened #7048 "Reference for Azure Automation ConnectionType as Azure"
I've been trying to getting some knowledge about the different Connection type in AzureAutomation. So far, I'm seeing three different kinds of connection Type

1. Azure
2. Azure Service Principal
3. Azure Classic Certificate

I can able to get the details for AzureServicePrincipal and AzureClassic Certificate [here](https://docs.microsoft.com/en-us/azure/automation/manage-runas-account)

As per th

[2018-08-25 17:20] falmada opened #7049 "Get-AzureRmHDInsightCluster does not provide information on VNET or Subnet"
This is not a bug, it's actually some missing information regarding HDInsight cluster resources within Azure.

When doing a deployment through New-AzureRmHDInsightCluster, we have VirtualNetworkId and SubnetName parameters available, but when querying for existing clusters using Get-AzureRmHDInsightCluster, there is no way to get those two values.

Through portal, Virtual Network information is pr

[2018-08-26 14:45] spaelling commented on #6186
This would work wonders for Azure Function Apps

[2018-08-27 06:56] CrazyCoder-123 commented on #5342
Can anyone confirm , if this issue is solved. I also need to create a VM with no public IP. Please update

[2018-08-27 09:50] vedg commented on #4983
@asheniam - is this still an issue? Add-AzureRmMetricAlertRule : Exception type: ErrorResponseException, Message: The metric with namespace '' and name 'CPU Time' is not supported for this resource id, If possible can you point me to the right documentation for the new metric alert creation

[2018-08-27 12:49] DirkBrinkmann commented on #5144
@twitchax @cormacpayne : This issue exists for over 6 month now. We need this Cmdlet working to write automation Scripts for HDI. When will a fix be available? Our customers need a timeline.

[2018-08-27 14:40] felixmondelo commented on #6261
Any updates on this error? I have the same error deploying schemas, maps, ...

[2018-08-27 15:00] kwill-MSFT opened #7055 "Get-AzureRmResource fails with PSArgumentException: Cannot process argument because the value of argument "name" is not valid. Change the value of the "name" argument and run the operation again."
### Description

When running Get-AzureRmResource with the -ResourceId parameter, a Logic App which includes a null property name in it's code will cause a PSArgumentException when trying to convert the JSON to a PSObject.

Root cause appears to be https://github.com/PowerShell/PowerShell/pull/2820 which was closed as won't-fix in Powershell.

### Script/Steps for Reproduction

1. Create a Logic A

[2018-08-27 18:15] maddieclayton commented on #6999
This should be fixed by this PR: https://github.com/Azure/azure-powershell/pull/6986

[2018-08-27 18:42] lanrongwen commented on #6999
Awesome, thanks!  I'll check it out.

[2018-08-27 19:26] markcowl commented on #6672
Closing for lack of comment.  If you are still experiencing this with the latest version, please open a new issue and we will take  alook

[2018-08-27 19:26] #6672 closed

[2018-08-27 19:29] markcowl commented on #6923
Closing as no repro.  If you are still seeing this issue and can provide the addiitonal information requested, please reopen or file a new issue.

[2018-08-27 19:29] #6923 closed

[2018-08-27 19:29] maddieclayton commented on #7049
@momusoru @z01c @wawon-msft Can you take a look at this feature request?

[2018-08-27 19:30] maddieclayton commented on #7048
@vrdmr @eamonoreilly @safeermohammed Can one of you answer this customer question?

[2018-08-27 19:39] markcowl opened #7057 "Update Common Sign Build to Always Update Package Version and AssemblyFileVersion"
### Description

Need to have an automated mechanism that updates AssemblyFileVersion and PackageVersion (but not AssemblyVersion) for azure-powershell-common packages.

Versions should automatically be updated on each sign build, likely by keying on the CodeSign or a similar setting.

This should not require any changes to source code, so a generated, unique, montonically increasing number makes

[2018-08-27 19:41] markcowl opened #7058 "Move appropriate unit tests to powershell-common repo"
### Description

Move unit tests, which only cover common code into the powershell-common repo.  This should include all profile tests that do not rely on specific cmdlets.

### Cost: 4

[2018-08-27 19:43] markcowl opened #7059 "Measure and Improve code coverage in azure-powershell-common repo"
### Description

- [ ] Measure coverage of APIs in common repo
  - [ ] Preferrably path coverage
- [ ] File issues for API surface not adequately covered

### Cost: 8

[2018-08-27 19:44] maddieclayton commented on #6999
@lanrongwen Just FYI, this PR has not yet been merged, so the fix won't be in until the next release in September.

[2018-08-27 19:47] markcowl opened #7060 "Publish azure-powershell-common packages to MyGet feed"
### Description

- [x] Create a public MyGet feed for azure-powershell-common (this means seting up a MyGet account with team credentials)
- [ ] Add an additional setting to allow building only a single or set of packages instead of all packages
- [x] Add a Publish build target and job to publich to the MyGet feed - this will require credential injection through environment variables
- [x] Add aut

[2018-08-27 19:49] alexandair opened #7061 "Hardly usable output of the Get-AzureRmTenant cmdlet"
Get-AzureRmTenant cmdlet outputs the IDs but not the Directory info.
What can we do with that output?

[2018-08-27 19:52] markcowl commented on #6886
Closing in favor of #6959 which covers all modules outside AzureRM

[2018-08-27 19:52] #6886 closed

[2018-08-27 20:16] markcowl commented on #6937
@slavizh Based on the above log, the server is querying the tenant: 8011e775-ae04-490e-83f8-f08bf27ad070 for subscriptions and returning no subscriptions.  WHich of the tenants corresponds with the domain you have specified?

[2018-08-27 20:32] markcowl opened #7062 "Update ClientRuntime in azure-powershell-common"
### Description

Update to latest client runtime in azure-powershell-common

### Cost: 1

[2018-08-27 20:48] jdogg89 commented on #6943
@markcowl to update on this, the docker image will run if it's compiled with the powershell script. The update appears to be trying to run the powershell script when its mounted from a configmap.

[2018-08-27 22:19] user9498 commented on #6894
I am trying to remove and add Co-Administrator from Azure Subscription through power shell:
Remove-AzureRmRoleAssignment -SignInName xyz@abc.com -Scope "/subscriptions/xxxxxxx-xxxx-xxxx-884c-252f5xxxxxxx" -RoleDefinitionName CoAdministrator

New-AzureRmRoleAssignment -ObjectId xxxxxxx-xxxx-xxxx-745c-698f5xxxxxxx -Scope $subscope -RoleDefinitionName CoAdministrator

Error: Remove-AzureRmRoleAssignm

[2018-08-27 22:20] user9498 commented on #6894
I am trying to remove and add Co-Administrator from Azure Subscription through power shell:
Remove-AzureRmRoleAssignment -SignInName xyz@abc.com -Scope "/subscriptions/xxxxxxx-xxxx-xxxx-884c-252f5xxxxxxx" -RoleDefinitionName CoAdministrator

New-AzureRmRoleAssignment -ObjectId xxxxxxx-xxxx-xxxx-745c-698f5xxxxxxx -Scope $subscope -RoleDefinitionName CoAdministrator

Error: Remove-AzureRmRoleAssignm

[2018-08-27 22:52] maddieclayton commented on #6891
Closing as fixed.

[2018-08-27 22:52] #6891 closed

[2018-08-27 22:53] maddieclayton commented on #6985
Closing as no response. @sotnikop Feel free to reopen this issue with the information requested.

[2018-08-27 22:53] #6985 closed

[2018-08-28 00:42] darshanhs90 commented on #6894
@user9498 This is by design, you cannot use Remove-RoleAssignment to remove a classic admin, since classic admins are inherently different from a roleassignment

[2018-08-28 03:18] markcowl opened #7079 "Add 'Select-AzureRmSubscription' alias to Az.Profile"
### Description

- [ ] Add Select-AzureRmSubscription -> SetAzSubscription alias to Az.Profile aliases
- [ ] Go through the other exported aliases in existing AzureRM modules and ensure they are represented in the aliases (particularly, Login- , Add- , and Logout al;iases for accounts in Az.Profile)
- [ ] Go through Az.* modules definitions and vclena up exported aliases
  - [ ] Remove any aliases

[2018-08-28 03:26] markcowl commented on #7032
After research, we will need to downgrade Hyak libraries to 9.0, including the following:

- [ ] Hyak.Common
- [ ] Microsoft.Azure.Commerce.UsageAggregates
- [ ] Microsoft.Azure.Management.APiManagement
- [ ] Microsoft.Azure.Management.Automation
- [ ] Microsoft.Azure.Management.DataFactories

[2018-08-28 05:25] slavizh commented on #6937
@markcowl That tenant corresponds to the tenant of the user account (Azure AD A) where it should try to connect to Azure AD B (contoso.onmicrosoft.com ) as specified. The above scenario is specific but still valid as a lot of people use Azure B2B (guest access) to work across different tenants. Also note in the description that the user does not have access to subscriptions in Azure AD A but it ha

[2018-08-28 11:37] baldia-taman commented on #4069
I'm not able to add a new API with empty path parameter using AzureRM version 6.7.0 . There also there is no other API with empty path/ root path. Is this expected in new release?

[2018-08-28 12:05] AWahlqvist opened #7082 "Get-/Set- AzureRmDiagnosticSetting seems broken in the latest release"
### Description

When running Get-AzureRmDiagnosticSetting or Set-AzureRmDiagnosticSetting, it seems to always throw an "NotFound" exception.

### Script/Steps for Reproduction

[code]
Error thrown:
Get-AzureRmDiagnosticSetting : Operation returned an invalid status code 'NotFound'

[code]
Error thrown:
Set-AzureRmDiagnosticSetting : Exception type: ErrorResponseException, Message: The diagnostic