[2017-11-14 11:22] vinaydam opened #4983 "Add-AzureRmMetricAlertRule failing for function app metrics"
### Cmdlet(s)
Add-AzureRmMetricAlertRule

### PowerShell Version
5.1.16299.19

### Module Version
4.0.0

### OS Version
10.0.16299.19

### Description
When I try to add the "FunctionExecutionCount" or "Http5xx" metrics to a function app using the Add-AzureRmMetricAlertRule, it fails citing the error "Add-AzureRmMetricAlertRule : Exception type: ErrorResponseException, Message: The metric with name

[2017-11-14 15:19] MaximoTrinidad opened #4984 "Issues with AzureRM.Profile - Cmdlets won't work."
### Cmdlet(s)
Issues with:
[code]

### PowerShell Version
Instructions: to get PowerShell version, type `$PSVersionTable` and look for the value associated with `PSVersion`
[code]

### Module Version
Not Sure! As this is part of the problem.  It's showing version 2.1.0  when in fact it seems to have installed 4.0.0.

Even when I have use 'Uninstall-Module AzureRM.Profile -Force.  It still showing

[2017-11-14 16:05] MaximoTrinidad commented on #4984
OK!

I found where the problem with AzureRM.Profile ver 2.1.0 still showing.

I just realized that there was another folder, beside WindowsPowerShell\Modules, where I got more Azure modules loaded:
[code]

This raise my concerned on duplicate modules been loaded on a system and some cmdlets stopped working due to version collision.

So, my questions would be, which source should I use for updating

[2017-11-14 16:23] cormacpayne commented on #4984
@MaximoTrinidad Hey Maximo, there are two main locations that the modules can be found:
- `C:\Program Files (x86)\Microsoft SDKs\Azure\PowerShell`
    - Modules are placed here after an installation using the `.msi` (from either the Web Platform Installer or the direct link in our GitHub release)
    - You can remove these modules by going to the Control Panel and finding the "Microsoft Azure Powe

[2017-11-14 16:23] #4984 closed

[2017-11-14 16:34] MaximoTrinidad commented on #4984
Hi @cormacpayne,

Thanks for responding!

I got the Azure SDK moved and was able to install and use the AzureRM.Profile v.4.0.0 from the Gallery.  I'm starting to have other issues with other cmdlet where a working script won't work.

[code]
One step at the time!  I will run again the 'Install-Module -Name AzureRM -repository PSGallery' and hope this will clear my issues moving forward.

Thanks ag

[2017-11-14 16:59] cormacpayne commented on #4984
@MaximoTrinidad this might be a result of still having multiple modules installed on your machine in different locations. Would you mind commenting with the result of `Get-Module -ListAvailable`?

[2017-11-14 17:32] MaximoTrinidad commented on #4984
@cormacpayne

Man!  This is painful.  Well, finally I'm getting myself learning from Azure Classic to AzureRM, having a good working scripts just to end up redoing them again.

Apparently, now the new version of AzureRM.Compute no longer have the cmdlet Get-AzureRmVMSourceImage which I use to build VM's.

![azurerm_01_2017-11-14_9-57-47](https://user-images.githubusercontent.com/19892435/32794530-

[2017-11-14 18:03] cormacpayne commented on #4984
@MaximoTrinidad would you mind pointing me at the module version you were using that had the `Get-AzureRmVMSourceImage` cmdlet, as well as any document that uses it? I am unable to find any version of `AzureRM.Compute` that contains this cmdlet. I can find `Set-AzureRmVMImageSource` all the way back in the 1.0.0 release of Azure PowerShell, but can never find `Get-AzureRmVMImageSource`.

Also, wou

[2017-11-14 18:07] markcowl commented on #4973
@baabel Is this an issue with a cmdlet or with how the azure function service works?  Which MSI are you installing?

[2017-11-14 18:08] markcowl commented on #4974
@jaredmoo Can you take a look?

[2017-11-14 18:12] markcowl commented on #4975
@mshamann Have you tried using the Storage cmdlets for this (New-AzureStorageContainerStoredAccessPolicy, New-AzureStorageBlobSASToken)?

If you are using multiple modules from different sources, as your script seems to, they might be usign different versions fo the storage library - using the cmdlets ratehr than the .Net SDK calls would seem to be the simplest solution

[2017-11-14 18:14] markcowl commented on #4979
@blueww They are the same. The source for cmdlet help and online help is here: https://github.com/Azure/azure-powershell/tree/preview/src/ResourceManager/Storage/Commands.Management.Storage/help

[2017-11-14 18:16] markcowl commented on #4982
@NKing92 Are we plannign support for these scenarios.  Please feel free to reassign to an appropriate WebApps team member

[2017-11-14 18:41] maddieclayton commented on #4952
Fixed

[2017-11-14 18:41] #4952 closed

[2017-11-14 18:54] asheniam commented on #4983
The engineering team looked at this and the existing metric alerts backend (which supports Add-AzureRmMetricAlert cmdlet) does not support any of the new metrics added by Websites team such as FunctionExecutionCount.  We are currently working on a new v2 release of metric alerts all up (called near real time metrics) which will cover these new metrics.  We apologize for the confusion.

[2017-11-14 18:54] baabel commented on #4973
I am referring to Managed Service Identity (MSI);  when this feature is enabled for an Azure Function or App Service we are unable to update the service using the above cmdlets.

So, when MSI is enabled the app service resource has the following data set:
"identity": {
    "tenantId": "<TENANTID>",
    "principalId": "<PRINCIPALID>"
}

Apparently the cmdlets are calling the REST API to update the

[2017-11-14 19:52] MaximoTrinidad commented on #4984
@cormacpayne

Sure!

Documentation that I follow until I discovered it will failed because it was missing the code for:
[code]
Azure Documentation pages missing code are:
- Windows: https://docs.microsoft.com/en-us/azure/virtual-machines/windows/quick-create-powershell
- Linux: https://docs.microsoft.com/en-us/azure/virtual-machines/linux/quick-create-powershell

The quick create VM wasn't really

[2017-11-14 20:23] bmoore-msft commented on #4960
Ok, I ran a couple more tests over the weekend...  I used both ISE and powershell.exe and both exhibited the same behavior.  I had 2 ISE windows open, one with AzureRM modules loaded and one without.  Did the same thing with the powershell.exe windows.  The sessions that had the AzureRM modules loaded consumed 20% cpu (so between them it was 40% total).  The sessions that did not have Azure module

[2017-11-14 20:32] cormacpayne commented on #4984
@MaximoTrinidad awesome, thanks for this information!

@sdwheeler Hey Sean, would you mind looking at the comments above from Maximo? It looks like some of our samples might be outdated.

[2017-11-14 21:24] sdwheeler commented on #4984
@cormacpayne - @neilpeterson  - Neil is the author of those sample scripts.

Neil can you look at these samples?

[2017-11-14 21:57] rajeem commented on #4971
Got this same issue too after following this instruction: https://docs.microsoft.com/en-us/azure/security-center/security-center-disk-encryption

[2017-11-14 23:02] #4453 closed

[2017-11-14 23:23] #3236 closed

[2017-11-14 23:27] cormacpayne commented on #3202
@mtandon80 would you mind trying this with Azure PowerShell 1.2.11?

[2017-11-14 23:29] akromm commented on #3571
@rfcdejong @jaredmoo https://github.com/jaredmoo/azure-sdk-for-net/commit/510cff38875a57e19767a86f1ef005b8d7d994b9

[2017-11-14 23:43] bganapa commented on #3202
@cormacpayne, @mtandon80 I fixed this with PR, Closing this
https://github.com/Azure/azure-powershell/pull/3593

[2017-11-14 23:43] #3202 closed

[2017-11-15 03:10] blueww commented on #4979
@markcowl
I agree some of the error also exist in  *.md file. But actually, some of them only exist in online doc, such as the -Force problem only exist on-online, not exist in help *.md file. The explain for -Force are totally different on the 2 place. So I think the issue is raised from the online doc.

@robinsh
For the doc issues above, some of them should be changed from the help *.md file. Bu

[2017-11-15 07:36] khiraha opened #4989 "Setting NetoworkWatcher retention over 365 days from Azure PowerShell."
### Cmdlet(s)
Set-AzureRmNetworkWatcherConfigFlowLog

### PowerShell Version
PSVersion                      5.1.15063.674
PSEdition                      Desktop
PSCompatibleVersions           {1.0, 2.0, 3.0, 4.0...}
BuildVersion                   10.0.15063.674
CLRVersion                     4.0.30319.42000
WSManStackVersion              3.0
PSRemotingProtocolVersion      2.3
SerializationVersion

[2017-11-15 08:56] shige-japan commented on #4971
Please set a password in the password variable as below and specify it as an argument of New-AzureRmADApplication. It will surely work fine.

    # Check if AAD app with $aadAppName was already created
    $SvcPrincipals = (Get-AzureRmADServicePrincipal -SearchString $aadAppName);
    if(-not $SvcPrincipals)
    {
        # Create a new AD application if not created before
        $identifierUri =

[2017-11-15 09:19] vinaydam opened #4991 "Set-AzureRmDiagnosticSetting failing for data factory in West Europe"
### Cmdlet(s)
Set-AzureRmDiagnosticSetting

### PowerShell Version
5.1.16299.19

### Module Version
4.0.0

### OS Version
10.0.16299.19

### Description
When I try to set the diagnostics for a data factory in West Europe with a corresponding storage account in West Europe, I keep getting an error saying "Set-AzureRmDiagnosticSetting : Exception type: CloudException, Message: Null/Empty, Code: Inte

[2017-11-15 09:27] ranisha2 commented on #4974
'AUDIT_CHANGE_GROUP' is not supported and should be removed.
PR:
https://github.com/Azure/azure-powershell/pull/4990

[2017-11-15 11:17] arunm8489 commented on #1597
Iam also facing same issue.I syscripted an ubuntu vhd , upload it to my storage account and run the following script to create image out of it.But got the above error(osProfile missing).Any solution

Select-AzureRmSubscription -SubscriptionName "AILDGPL008"

## Global Variables
$ResourceGroupName = "arun999"
$location = "South India"

## Network
$nicname = "arun111"
$subnetName = "arunsubnet"
$vne

[2017-11-15 13:43] cielakm opened #4992 "Get-AzureRmRoleAssignment -SignInName -ExpandPrincipalGroups broken"
### Cmdlet(s)
Get-AzureRmRoleAssignment
### PowerShell Version
Name                           Value
----                           -----
PSVersion                      5.1.15063.674
PSEdition                      Desktop
PSCompatibleVersions           {1.0, 2.0, 3.0, 4.0...}
BuildVersion                   10.0.15063.674
CLRVersion                     4.0.30319.42000
WSManStackVersion

[2017-11-15 14:38] nishanperera commented on #4808
Any updates on this issue? Is there any workaround?

[2017-11-15 14:51] nishanperera commented on #4808
Workaround
$faSpn = Get-AzureRmADServicePrincipal -SearchString "[FunctionName]"
$faSpn.Id

[2017-11-15 14:54] clericc commented on #4808
Thats my current workaround as well ;)

[2017-11-15 15:40] swi2w opened #4994 "Must authenticate to access this API appearing when trying to login through the VS2015 extension to Github"
Trying to log into the Github extension (v2.3.3.38) for VS2015 and I am getting the error Must authenticate to access this API. I can log in with the same credentials through a browser but not through the VS extension. Tried removing the extension and reinstalling with no change.

[2017-11-15 16:17] cormacpayne commented on #4989
@irrogozh Hey Irina, would you mind taking a look at this issue?

[2017-11-15 17:36] maddieclayton commented on #3808
Done

[2017-11-15 17:36] #3808 closed

[2017-11-15 19:19] bganapa commented on #4784
We are not fixing anything immediately here as we have a workaround of passing -ApiVersion

[2017-11-15 19:55] mrichman opened #4997 "Create and Manage WebJobs via AzureRm PowerShell?"
Is there no way to list or configure WebJobs via AzureRm PowerShell?

This is as far as I can get using the generic cmdlets:

[code]

Output:

[code]

[2017-11-15 23:37] hyonholee commented on #4273
It should be New-AzureRmAvailabilitySet -Sku 'Classic'

[2017-11-16 00:09] #4273 closed

[2017-11-16 00:12] #1407 closed

[2017-11-16 00:13] #1859 closed

[2017-11-16 03:29] Maqsoodp commented on #3876
# Succeeds -
Set-AzureRmKeyVaultAccessPolicy -VaultName xxxxxxxxx -ObjectId 'Copied Object Id of the UPN from azure portal AD' -PermissionsToKeys all -PermissionsToSecrets all

# Fails with below error -
Set-AzureRmKeyVaultAccessPolicy -VaultName xxxxxxxxx -UserPrincipalName xxxxx@xxxxx.com -PermissionsToKeys all -PermissionsToSecrets all

Set-AzureRmKeyVaultAccessPolicy : Cannot find the Active D

[2017-11-16 04:05] ljt91 commented on #4970
Hey!

Receiving a similar scenario with AzureRM Module 5.0.1 where the Get-AzureRmContext isn't passing into the Job or the Select-AzureRmContext isn't picking up the $Context.

Cheers,
Lyon

[code]

[2017-11-16 04:42] blumu commented on #4970
@ljt91 The ` Select-AzureRmContext` command did not work for me in the end, but I did not have time to investigate further. I think the failure I got was similar to yours. Since I had already migrated all my scripts to take a `AzureRmContext` parameter and everything was working I decided to keep that workaround instead.

[2017-11-16 14:39] isaacegglestone opened #5001 "Incredibly slow time updating local Network Security groups Objects for RemoveAzureNetworkSecurityRuleConfigCommand"
### Cmdlet(s)
AzureRM.Network.Remove-AzureRmNetworkSecurityRuleConfig

### PowerShell Version
Instructions: to get PowerShell version, type `$PSVersionTable` and look for the value associated with `PSVersion`

$PSVersionTable

### Module Version
 4.4.1      AzureRM

### OS Version
Instructions: to get OS version, type `$PSversionTable` and look for value associated with `BuildVersion`

BuildVersio

[2017-11-16 15:59] cormacpayne commented on #5001
@isaacegglestone would you mind upgrading to the latest version of `AzureRM` and letting us know if you still see this issue?

[2017-11-16 16:03] cormacpayne commented on #4997
@mrichman Hey Mark, unfortunately there are currently no cmdlets in `AzureRM` for managing WebJobs.

@Nking92 Hey Nicholas, do you know if this functionality is on the radar for your team?

Closing this issue as it is a duplicate of https://github.com/Azure/azure-powershell/issues/661 . We can move the discussion there.

[2017-11-16 16:03] #4997 closed

[2017-11-16 16:04] cormacpayne commented on #661
@Nking92 Hey Nicholas, do you know if this functionality is on the radar for your team? It seems to be a heavily requested feature.

[2017-11-16 16:05] cormacpayne commented on #4994
@swi2w which extension are you trying to use? This repository does not contain any extensions ☺️

[2017-11-16 16:08] cormacpayne commented on #4992
@cielakm Hey Marek, what are some of the inconsistencies you are seeing? Would you mind providing a few example outputs you are seeing for `AzureRM` 4.1.0 vs 5.0.0?

CC: @darshanhs90

[2017-11-16 16:09] cormacpayne commented on #4991
@gucalder Hey Guillermo, would you mind taking a look at this issue?

[2017-11-16 16:18] isaacegglestone commented on #5001
Sorry there was a typo it was suppose to read 4.4.1,   It was the latest when I ran the tests and when we ran the tests on the cloud shell, seems 5 is out now so just installing the new azure module now will feedback shortly.

[2017-11-16 16:33] isaacegglestone commented on #5001
Okay I yep seems back to proper timing now, sorry I really did try the latest release at the time and also MS support engineer only told me to open the github today so I think 5 must have been a very recent release within the last week or Either the support engineer or I would have caught it.

EBUG: 16:29:01 - GetAzureNetworkSecurityGroupCommand end processing.
DEBUG: 16:29:01 - GetAzureNetworkSec

[2017-11-16 16:39] #5001 closed

[2017-11-16 16:46] cormacpayne commented on #5001
@isaacegglestone we released 5.0.0 last week, so it was recent ☺️ Glad your issue was fixed!

[2017-11-16 16:56] mrichman commented on #661
@Nking92 @cormacpayne If it's not on the radar, then could you offer some examples using `Invoke-AzureRmResourceAction` for creating a WebJob, including the artifact upload?

[2017-11-16 17:35] pcgeek86 commented on #1859
Why was this closed without any kind of explanation? Is there a resolution? No plan to fix? Delayed for future version?

Interesting approach.

[2017-11-16 21:37] jschmitter commented on #3692
I'm interested in an azuresdk/azure-powershell docker image with PowerShell 5.x.x  Is there any ETA on when that will be made available?

[Looks like 4.4.0 is the latest](https://hub.docker.com/r/azuresdk/azure-powershell/tags/)

[2017-11-16 23:19] bganapa opened #5003 "Getting Help for Invoke-AzureRmResourceAction fails with Run Login-AzureRmAccount to login"
### Cmdlet(s)
Invoke-AzureRmResourceAction

### Azure PowerShell Version
1.2.11 (AzureStack specific)

### Module Version
 PS C:\> get-module
Manifest   3.3.1      AzureRM.Profile
Manifest   4.3.1      AzureRM.Resources

### Description

PS C:\WINDOWS\system32> invoke-azurermresourceaction -?
invoke-azurermresourceaction : Run Login-AzureRmAccount to login.
At line:1 char:1
 invoke-azurermresource

[2017-11-17 09:03] Koalra commented on #4476
This problem was solved? AzureRM.NetCore 0.9.1 has same problem to me.. I installed at Nov 17..

[2017-11-17 09:08] twitchax commented on #4476
@Koalra, these changes have not been released yet.

You can get a docker version of the latest right now here.

[code]

[2017-11-17 09:11] 4c74356b41 commented on #4476
@twitchax any eta? ;) i thought you said November 8 previously ;)

[2017-11-17 09:33] twitchax commented on #4476
I did. :(

We are hoping by mid next week.

[2017-11-17 13:06] mrichman commented on #661
Just to add more context to my previous question, I'm trying to deploy a web job into an App Service from TFS. I can FTP upload the bits to Azure from TFS, but I can't create or configure a web job programmatically.

[2017-11-17 13:51] blueelvis commented on #4959
7 days and no reply?

[2017-11-17 14:40] blueelvis opened #5005 "Get-AzureRmMetric does not return correct data for Azure SQL Database"
### Cmdlet(s)
Get-AzureRmMetric

### PowerShell Version
5.1.15063.674

### Module Version
4.4.0

### OS Version
10.0.15063.674

### Description
If I get the metrics over the past week for Azure SQL Database and take the average of the data, it gives me a lot more than what is shown in the Azure Portal.
Azure Portal -
![image](https://user-images.githubusercontent.com/6985763/32952321-f5b3ad62-cbd2

[2017-11-17 15:16] cielakm commented on #4992
If I run this command:
Get-AzureRmRoleAssignment -SignInName marek.name@contos.com -ExpandPrincipalGroups | select DisplayName,SignInName,RoleDefinitionName,ObjectType,scope | ft

on 4.1.0
![image](https://user-images.githubusercontent.com/22874273/32953015-d7c0e27e-cba6-11e7-84fb-607209016049.png)
this is the output:
![image](https://user-images.githubusercontent.com/22874273/32954010-c9febc94-cb

[2017-11-17 15:48] mrichman commented on #661
I just tried using `New-AzureRmResource` to create a web job, and got this error:

`New-AzureRmResource -ResourceName $siteName/$jobName -ResourceGroupName $resourceGroup -ResourceType microsoft.web/sites/continuouswebjobs -ApiVersion $Apiversion -Verbose`

[code]

[2017-11-17 18:06] venkataitha commented on #1665
Hello everyone,
i am trying to use Get-AzureRmSubscription from azure runbook and getting the error "unable to acquire token for tenant ".i am connecting azure with my own appid and tenantid.

[2017-11-17 18:18] SquirrelAssassin commented on #1665
.... if your trying to use a application id and secrete ... stop.  It never works.  Switch to a SPN with a certificate.

# Get Dates
$currentDate =Get-Date
$endDate =$currentDate.AddYears(20)
$notAfter =$endDate.AddYears(20)

# Make Cert
$certName =Read-Host -Prompt “Enter FQDN Subject Name for certificate, this will be used for the spn name and uris”
$certStore =“Cert:\LocalMachine\My”
$certThumb

[2017-11-17 20:44] maddieclayton opened #5006 "Fix intermittently failing Batch test"
### Description
The CI build has been failing due to different Batch tests.
- [ ] Change the test runner to display more information about the failing test

Parent issue: https://github.com/Azure/azure-powershell/issues/3029

[2017-11-19 20:38] venkataitha commented on #1665
Thanks for the reply.My requirement is i am using an existing appid,appkey to connect to azure because of multiple dependencies and get all the subscriptions and then secrets from the keyvault.is it possible to use existing app with cert attached to it and it should not impact existing appid/appkey functionality?

[2017-11-20 04:08] IzikLisbon commented on #4973
I am seeing the same error when adding a SSL binding to the my App Service through Azure Portal. So it doesn't look like an azure-powershell issue.
(see my comment at the bottom of this page: https://docs.microsoft.com/en-us/azure/app-service/web-sites-purchase-ssl-web-site).

In my case even after disabling MSI, I can still see this error.

[2017-11-20 06:35] vinaydam commented on #4991
@cormacpayne @gucalder Just wanted to check if you have any update on this.

[2017-11-20 17:02] joannakleong opened #5013 "Build Failed: Could not load file or assembly 'Microsoft.Azure.Commands.AnalysisServices.Dataplane"
### Cmdlet(s)

### PowerShell Version
Instructions: to get PowerShell version, type `$PSVersionTable` and look for the value associated with `PSVersion`

### Module Version

### OS Version
Instructions: to get OS version, type `$PSversionTable` and look for value associated with `BuildVersion`

### Description
I'm trying to build the azure-powershell repo and getting an exception that a dll is not

[2017-11-20 20:06] maddieclayton commented on #5013
Resolved

[2017-11-20 20:06] #5013 closed

[2017-11-20 20:35] venkataitha commented on #1665
can someone please advice?

[2017-11-20 21:07] mpack7225 commented on #3571
Any estimate on when will the commandlets be updated for this? Looking for a Set-AzureRMSqlDatabase, similar to the old Set-AzureSqlDatabase that let's you change the name of the database.

[2017-11-20 21:16] jaredmoo commented on #3571
It will be in the next release. https://github.com/Azure/azure-powershell/pull/5009

[2017-11-21 00:35] alvipeo opened #5014 "Find-AzureRmResourceGroup fails from within Azure RunBook"
### Cmdlet(s)
**Find-AzureRmResourceGroup**

This line:

`$taggedResourceGroups = Find-AzureRmResourceGroup -Tag @{ "AutoShutdownSchedule" = $null }
`

gives the following error when running as a Runbook in Azure:

But no problem from Powershell. And this is annoying, can't use the Runbook.

[2017-11-21 00:53] karun-r commented on #4810
Is there any update on this issue ? Status is still same even after a month. This is happening only for some kind of events as I stated.

[2017-11-21 04:42] viverm commented on #4893
@shubhamgupta514  I tried some dry on run code added . It is working fine for me .

It just need more investigation what is going wrong. Powershell code is available on git you cake take the reference from it.

[2017-11-21 05:40] itorian commented on #4047
Not just that, I see such messages with couple of more queries. Warning message with link to explain its impact is important.

[2017-11-21 13:07] lucmoco commented on #2286
Same problem here. I have implemented a (rather ugly) work-around: I try several times until `New-AzureRmRoleAssignment` succeds:

[code]

In my current environment and script usually the 3rd attempt succeeds (which means I have to wait 20 seconds until the newly created app principal is taken into account).

Of course this behavior brings uncertainty and unnecessary complication to the deployment

[2017-11-21 14:04] matthiasluedke opened #5015 "Automation Test Pane - $vm.tag shown as "System.Collection.Generic.Dictionary""
### Cmdlet(s)

$vm = get-azurermvm -resourceGroupName $rsg -name $name

$vm.tags

### PowerShell Version

### Module Version

### OS Version
Instructions: to get OS version, type `$PSversionTable` and look for value associated with `BuildVersion`

### Description

In Powershel on prem (current version) and Azure Browser Powershell i get the Tag information shown as i need to

Using the testpane gi

[2017-11-21 16:24] cormacpayne commented on #5014
@alvipeo Hey Alex, what version of `AzureRM.Resources` are you using in your Runbook? I'm able to run this in PowerShell (not a Runbook) with version 5.0.0 of `AzureRM.Resources`:

[code]

[2017-11-21 17:12] alvipeo commented on #5014
sorry, how do I specify that version?

[2017-11-21 17:40] cormacpayne commented on #5014
@alvipeo oops, my fault. You can list module versions by running `Get-Module -ListAvailable`

[2017-11-21 17:58] ckarras commented on #2206
In PowerShell on the Azure portal, I still get this warning using some commands, for example New-AzureRmNetworkInterface

[2017-11-21 18:12] ckarras commented on #4047
I reported a similar issue last year, https://github.com/Azure/azure-powershell/issues/2206. To answer that, some guidance for handling breaking changes was created, but the link to that guidance is now broken.

[2017-11-21 18:32] alvipeo commented on #5014
I run it from the RunBook tester:

[code]

[2017-11-22 06:55] blueelvis commented on #4958
@cormacpayne - It has been almost 12 days and no one has replied to this :|

[2017-11-22 16:12] cormacpayne commented on #4958
@gucalder ping

[2017-11-23 00:27] PlagueHO opened #5021 "API Management support for API Version"
### Cmdlet(s)
*-AzureRMApiManagementApi

### PowerShell Version
5.1

### Module Version
4.4.1

### OS Version
10.0.14409.1012

### Description
APIM cmdlets do not support API version features. This feature is currently in preview in APIM. Is this in preview for the cmdlets or is this on the roadmap?

### Debug Output
N/A

### Script/Steps for Reproduction
[code]
All versions are returned, but ther

[2017-11-23 10:09] blueelvis commented on #4959
@gucalder ping

[2017-11-23 14:27] masthi commented on #1309
I am not getting the logon dialog box after running Add-AzureRMAccount in my new Windows 10 laptop. Its displaying a blank dialog box with no text boxes for  taking user & password inputs. I have re installed Azure Module and tried while I am in behind Office proxy and from public network. Its still the same issue.
Any help would be greatly appreciated.

![azurepowershellloginissue](https://user-i

[2017-11-23 14:27] iseldur commented on #4564
We have the same issue that Get-AzureRMRoleAssignment did not properly return a RoleDefinitionName for RoleAssignments where a custom role is used for the assignments.
We did a analyse and determined that version 4.2.1 of AzureRM still works. All the versions which are released after are not working including the latest version 5.0.1.
We ran Get-AzureRMRoleAssignment(5.0.1) with debug option and s

[2017-11-23 15:25] swi2w commented on #4994
@cormacpayne - the Github extension for Visual Studio 2015

[2017-11-23 15:33] masthi opened #5026 "Login-AzureRmAccount or Add-AzureRmAccount not opening authentication dialog box"
### Cmdlet(s)

### PowerShell Version
Instructions: to get PowerShell version, type `$PSVersionTable` and look for the value associated with `PSVersion`
Name                           Value
----                           -----
PSVersion                      5.0.10586.63
PSCompatibleVersions           {1.0, 2.0, 3.0, 4.0...}
BuildVersion                   10.0.10586.63
CLRVersion

[2017-11-24 12:48] rvdouderaa opened #5029 "Set-AzureRmSiteRecoveryVaultSettings seems to be broken with ARSVault"
### Cmdlet(s)
Set-AzureRmSiteRecoveryVaultSettings

### PowerShell Version

5.1.14393.1770

### Module Version
5.0.1
### OS Version
Windows 10 (10.0.14393.1770)
### Description
set-AzureRmSiteRecoveryVaultSettings -ARSVault $vault seems to be incomplete in configuring the vault settings. When issueing an get-AzureRmSiteRecoveryVaultSettings the resourcename and resourcegroupname is not set (and th

[2017-11-25 02:17] darshanhs90 commented on #4564
This pr has fixed that issue,The next release of powershell should have the bug fixed

[2017-11-25 02:17] #4564 closed

[2017-11-27 01:50] alvipeo commented on #5014
ok, I updated the modules and it started to work.

[2017-11-27 01:50] #5014 closed

[2017-11-27 04:36] pzerger commented on #4174
Given this plays a role in ASM to ARM migration projects (VM extensions on ASM VMs a common challenge), you should consider reprioritizing or posting a workaround for existing customers.

[2017-11-27 11:44] blueelvis opened #5030 "While dealing with Azure Storage Tables, PowerShell fails detecting appropriate version"
### Cmdlet(s)

### PowerShell Version 5.1.16299.64

### Module Version v5.0.1

### OS Version 10.0.16299.64

### Description
So, in order to perform operations on Azure Storage Tables, the older service management Azure Storage is required so it is installed with the Azure PowerShell Module. Now, when trying to perform any operation like `$table.CloudTable.ExecuteQuery($query)` , PowerShell will f

[2017-11-27 11:57] cielakm commented on #4992
Hi @cormacpayne  do you need any more info on this?

[2017-11-27 13:10] mrvladis commented on #4476
Any updates? It is almost December ;)

[2017-11-27 18:10] cormacpayne commented on #5030
@blueelvis Hey Wei, would you mind taking a look at this issue?

[2017-11-27 18:35] cormacpayne commented on #5029
@rvdouderaa would you mind setting `DebugPreference = "Continue"`, running the above set of commands again, and responding with the resulting debug output?

[2017-11-27 18:39] cormacpayne commented on #5021
@solankisamir Hey Samir, would you mind taking a look at this issue?

[2017-11-27 19:16] solankisamir commented on #5021
This is on the roadmap and expected to be delivered in Feb 2018 milestone release of PowerShell. @darrelmiller  FYI

[2017-11-27 22:40] rvdouderaa commented on #5029
@cormacpayne The debug output contains a lot of private information. Is there any other way to provide you with the information needed?

[2017-11-28 01:50] evergreen435 commented on #1257
Hi,

It looks like this issue is nominated as fixed by the fix for the following issue [https://github.com/Azure/azure-powershell/issues/3656](url).

Could someone please explain how we can get multiple runbooks in the same automation account running at the same time against different subscriptions. We are having the issue above where if the subscription is changed in one runbook, then it changes

[2017-11-28 02:18] ljt91 commented on #4970
@markcowl any ideas on why the select-azurermcontext isn't working on PS Jobs? Is this a known bug with 5.0.1? I've currently reverted to leveraging Save-AzureRmContext / Import-AzureRmContext to bring the context into the PS Job on runtime.

[2017-11-28 08:01] blueww commented on #5030
@blueelvis

Would you please help to give more information for how to repro the issue?
Since currently I can't repro the issue on my side.
1. Please run "Get-Module", and what's the result?
2. Would you please share which cmdelts have you run before run, then I can get more hint on how to repro it:
`$temp = New-Object Microsoft.WindowsAzure.Storage.Table.TableQuery`

What I have tested:
Try to run

[2017-11-28 09:34] blueelvis commented on #5030
@blueww

Hey Wei,

Thanks a lot for replying so quickly :)

Please find the output below -

[code]

Please do note that I don't run PowerShell with Administrator privileges. Following are the steps which happen before creating the `TableQuery` object -

1. I open ISE.
2. I then run `Login-AzureRmAccount`
3. Then the script runs `Get-AzureRmStorageAccount`
4. Depending on whether the table exists o

[2017-11-28 09:39] masthi commented on #5026
Any update on this issue please

[2017-11-28 10:00] blueww commented on #5030
@blueelvis
Thanks for the quick reply!
Could you please run  "Get-Module" after the problem repro? Then I can see which  module are load when the problem repro.

BTW, I run the same repro steps as your mentioned above, still not repro the issue.

Thanks!

[2017-11-28 10:09] v-viban opened #5038 "Disable-AzureRmVmssDiskEncryption fails if there is any other extension other than ‘AzureDiskEncryption’ extension on VMSS"
### Cmdlet(s)

`Disable-AzureRmVmssDiskEncryption`

### PowerShell Version

Instructions: to get PowerShell version, type `$PSVersionTable` and look for the value associated with `PSVersion`

[code]

### Module Version

### OS Version

[code]

### Description

Disable-AzureRmVmssDiskEncryption fails if there is any other extension other than ‘AzureDiskEncryption’ extension on VMSS (Windows OS)

##

[2017-11-28 10:14] blueelvis commented on #5030
@blueww

Not sure why you are not able to reproduce on your end. I guess, this is maybe environment specific?
Anyways, here is the output -

[code]

Let me know if anything else is required!

Thanks!

[2017-11-28 11:22] v-viban commented on #5038
Please assign this to @hyonholee
Thanks

[2017-11-28 16:04] markcowl commented on #5026
@masthi Can you tell us the version of Azure PowerShell you are using?  Also can you execute ```Get-Module``` and ```Get-Module -ListAvailable``` and share the output just before this failure?

[2017-11-28 19:08] mikeblakeuk commented on #2494
Has anyone read a token with c#.
So, login to powershell
Save azure RM context
Run an exe to read the json context and get a bearer token within c#
Call azure APIs

[2017-11-28 23:18] markcowl commented on #5005
@gucalder can you take  a look?

[2017-11-28 23:22] markcowl commented on #5003
Use ```help Invoke-AzureRmResourceAction``` or ```get-help Invoke-AzureRmResourceAction```.  This is just executing the cmdlet - if you believe this is a bug and powershell should not invoke the cmdlet when fetching help, please file this in https://github.com/powershell/powershell/issues

[2017-11-28 23:26] markcowl commented on #5003
re-opening, as this appears to be specific to this cmdlet

[2017-11-28 23:27] markcowl commented on #5003
@ravbhatnagar Please take a look

[2017-11-29 00:33] maddieclayton opened #5041 "New-AzureRmLogicApp: Definition and DefinitionFilePath should both be mandatory"
### Description
The two parameter sets of New-AzureRmLogicApp are:
[code]

The only difference between the two is -Definition vs -DefinitionFilePath.  Therefore these two parameters are mandatory in their respective parameter sets, and should be marked as Mandatory.  Current syntax is confusing,

[2017-11-29 00:36] maddieclayton commented on #5041
@pankajsn @daviburg Can you take a look at this?

[2017-11-29 00:42] maddieclayton opened #5042 "Add-AzureRmLogProfile"
### Description
When I run Add-AzureRmLogProfile with only the mandatory parameters, I get this error:
[code]
If either StorageId or ServiceBusRuleId must be specified, the cmdlet should have two parameter sets, one where StorageId is mandatory and one where ServiceBusRuleId is mandatory.

Current:
[code]
Future
[code]

[2017-11-29 00:43] maddieclayton commented on #5042
@micongjie @gucalder Can you take a look at this?

[2017-11-29 00:47] maddieclayton opened #5043 "Inconsistent parameter naming in Machine Learning Web Services cmdlets"
### Description
In some MLWebServices cmdlets, the location parameter is named "Location" while in others is it named "Region".  These two should at least have aliases that match each other.

[code]

[2017-11-29 00:52] maddieclayton commented on #5043
@NonStatic2014 Can you take a look at this?

[2017-11-29 07:01] zhiweiv opened #5046 "Set-AzureRmSqlDatabaseAuditing does not work with AuditAction, Set-AzureRmSqlDatabaseAuditingPolicy works"
Azure PowerShell Version
5.0

I  want to audit update events only on database, I tried the below code
$AuditAction = "UPDATE ON database::[xxx] BY [public]";
Set-AzureRmSqlDatabaseAuditing  -ResourceGroupName "xxx" -ServerName "xxx" -DatabaseName "xxx" -StorageAccountName "xxx" -AuditAction $AuditAction -PassThru -AuditActionGroup "FAILED_DATABASE_AUTHENTICATION_GROUP" -State Enabled

After I exec

[2017-11-29 12:18] sarath-rachuri commented on #4820
The cmdlet is working. thanks.

[2017-11-29 12:18] #4820 closed

[2017-11-29 14:10] blueww commented on #5030
@blueelvis
I still can’t reproduce the issue with same steps. Will try more machines and update you later

[2017-11-29 15:06] blueelvis commented on #5030
Hey Wei,

Just had to reset my system. I performed a clean install of Azure PowerShell and I am still facing this issue. On creating object, still the older version of DLL is being used.

[2017-11-29 16:20] cormacpayne commented on #5046
@zhiweiv Hey Zhiwei, would you mind running the above cmdlets with `$DebugPreference = "Continue"` and providing the resulting debug output?

Also, if you could run `Get-Module -ListAvailable` and provide the resulting list of modules and their versions, that would be great.

CC: @ranisha2

[2017-11-29 21:30] vrdmr opened #5048 "Automation: Adding tests for Import Dsc Node Configuration."
### Description
Add tests for import node configuration functionality in Automation DSC, ref PR #4932.

[2017-11-30 07:20] maddieclayton commented on #4910
All changed merged and documentation updated.

[2017-11-30 07:20] #4910 closed

[2017-11-30 07:54] zhiweiv commented on #5046
Hi Cormac,

The results are too big to paste here, I have upload them to my OneDrive, you can access them via https://1drv.ms/f/s!Al_DGOKCXcMSj2fqf6fakP3IbYtx.
There are 3 files: Get-Module.txt/ResultOfSet-AzureRmSqlDatabaseAuditing.txt/ResultOfSet-AzureRmSqlDatabaseAuditingPolicy.txt.

I removed account info in them due to privacy reason.

Thanks

[2017-11-30 08:33] blueww commented on #5030
@blueelvis

I just installed the Azure PowerShell on a new VM, and the issue can be repro.
It's interesting that I install same version Azure PowerShell on 2 machines, and 1 can repro, and one can't repro.

I need more time to looks into it to see what cause the difference.

@markcowl, do you think we should make the XSCL version aligned in AzureRm.Storage and Azure.Storage to avoid the above issu

[2017-11-30 08:38] ranisha2 commented on #5046
@zhiweiv
Hi Zhiwei,

Thank you for reporting this.
Turns out it's a bug from our side. We'll fix this as soon as possible.

[2017-11-30 08:40] blueelvis commented on #4958
@cormacpayne It has been around 20 days since the original issue. Maybe Guillermo is on leave?

[2017-11-30 10:45] zhiweiv commented on #5046
Thanks ranisha2.

[2017-11-30 11:06] isaacegglestone opened #5051 "Set-AzureRmNetworkSecurityGroup does not support -whatif."
### Cmdlet(s)

### PowerShell Version

PSVersion                      5.1.14409.1012

### Module Version
5.0.1

### OS Version
10.0.14409.1012

### Description
Set-AzureRmNetworkSecurityGroup does not support -whatif.

### Debug Output

VERBOSE: Creating updated rule name IsaacTestingAutoUpdate
VERBOSE: Updating NSG: Test-NSG-NSG
Set-AzureRmNetworkSecurityGroup : A parameter cannot be found that m

[2017-11-30 13:18] blueelvis commented on #5030
@blueww - Yea. My colleague created a Server 2016 VM in Azure and this issue did not come up there. But well, at least glad to hear that this is not an issue with the environment.

![Phoebe](https://vignette.wikia.nocookie.net/glee/images/f/f0/Woohoo.gif/revision/latest?cb=20121018012553)

Just curious but what is XSCL?

Thanks!

[2017-11-30 13:59] karlti opened #5053 "Get-AzureStorageContainer returns HTTP 403 when using SAS-Token instead of StorageKey"
### Cmdlet(s)

### PowerShell Version
5.1.15063.726

### Module Version
Azure.Storage, current version

### OS Version
10.0.15063.726

### Description
When calling `"Get-AzureStorageContainer"` with a `StorageContext` that has been created with a SAS Token, the call always fails with an Error:

***"The remote server returned an error: (403) Forbidden. HTTP Status Code: 403 - HTTP Error Message: Se

[2017-11-30 19:02] rajaprad opened #5055 "New-AzureRmServiceBusNamespace : Error information misleading/inaccurate"
### Cmdlet(s)
New-AzureRmServiceBusNamespace

### PowerShell Version
5.1.14409.1012

### Module Version
5.0.0

### OS Version
10.0.14409.1012

### Description

Error information misleading/inaccurate when trying to create New ARM SB Namespace. However only when debugging the actual error is exposed.

New-AzureRmServiceBusNamespace -ResourceGroupName something -Location "East US" -Name "something"

[2017-11-30 19:42] cormacpayne commented on #5051
@DeepakRajendranMsft Hey Deepak, would you mind taking a look at this issue? Looks like `SupportsShouldProcess` is not implemented for the above cmdlet. We should see if there are any other Network cmdlets that don't implement this that should.

[2017-11-30 19:44] cormacpayne commented on #5053
@blueww Hey Wei, would you mind taking a look at this issue?

[2017-11-30 19:45] cormacpayne commented on #5055
@v-Ajnava Hey Ajit, would you mind taking a look at this issue? It looks like the proper error is not being bubbled up to the user. This should be an easy fix.

[2017-11-30 19:57] rajaprad opened #5057 "New-AzureRmServiceBusTopic : No option to Disable AutoDeleteOnIdle to let the topic live forever"
### Cmdlet(s)
New-AzureRmServiceBusTopic

### PowerShell Version
5.1.14409.1012

### Module Version
5.0.0

### OS Version
10.0.14409.1012

### Description

There is no option/documentation available on Topic Creation to disable AutoDeleteOnIdle. I want the Topic to live forever even when being idle.

Cmdlet Documentation does not mention anything on this either.
[https://docs.microsoft.com/en-us/p

[2017-11-30 20:05] rajaprad opened #5058 "New-AzureRmServiceBusTopic : Error information misleading/inaccurate"
### Cmdlet(s)

### PowerShell Version
New-AzureRmServiceBusTopic

### Module Version
5.0.0

### OS Version
10.0.14409.1012

### Description

I wanted to disable AutoDeleteOnIdle on the queue when provisioning, Seems there is no option for it. I tried a value -1,which was previously available in ACS SB Topics when creating through a NamespaceManager.

The error message does not have any relevant in

[2017-12-01 01:39] zhiweiv commented on #5046
@cormacpayne
Hi Cormac, sorry to bother you. After I ran $DebugPreference = "Continue", my scripts keep outputing debug logs, I didn't find a way to turn it off after a lot of Google, I have tried  $DebugPreference="SilentlyContinue" and restarted my laptop.
Do you know how to turn off the debug output?

Many thanks

[2017-12-01 01:41] v-Ajnava commented on #5055
The namespace name provided is already used, you check the namespace name availability by using 'Test-AzureServiceBusName'  cmdlet.

[2017-12-01 01:53] cormacpayne commented on #5046
@zhiweiv Hey Zhiwei, when you start a new PowerShell session and run `$DebugPreference`, what does it return?

When you set `$DebugPreference = "Continue"`, it should only retain that value for the session. The way to go back to no output is to set `$DebugPreference = "SilentlyContinue"`, so I'm curious as to why it wouldn't change this for you.

Worst case scenario, you can modify your $profile s

[2017-12-01 01:56] v-Ajnava commented on #5058
You can set -AutoDeleteOnIdle to timespan.maxvalue (10675199.02:48:05.4775807) achieving similar to disable AutoDeleteIdle

[2017-12-01 01:58] v-Ajnava commented on #5058
You can set -AutoDeleteOnIdle to timespan.maxvalue (10675199.02:48:05.4775807) achieving similar to disable AutoDeleteIdle

[2017-12-01 01:58] blueww commented on #5030
XSCL is alias for: Azure Storage Client Library, it's just: Microsoft.WindowsAzure.Storage.

[2017-12-01 01:58] v-Ajnava commented on #5057
You can set -AutoDeleteOnIdle to timespan.maxvalue (10675199.02:48:05.4775807) achieving similar to disable AutoDeleteIdle

[2017-12-01 02:54] zhiweiv commented on #5046
@cormacpayne
Hi Cormac, it is my fault. I left the **$DebugPreference = "Continue"** somewhere in my scripts during the test, that is why $DebugPreference = "SilentlyContinue" is not working. It is ok now.

Sorry again.

[2017-12-01 04:05] rajaprad commented on #5055
I am aware and understand that the namespace name is already in use. This issue specifically targets on the error message written back to the caller - which is misleading and not useful.

[2017-12-01 04:06] rajaprad commented on #5057
Thanks for the info. is there an official documentation on this workaround/feature ?

[2017-12-01 04:08] rajaprad commented on #5058
This issue specifically targets on the error message written back. The actual error message appears only in debug mode.

[2017-12-01 10:08] blueww commented on #5053
@karlti
Thanks for reporting the issue!
Actually, this is a known issue. Get-AzureStorageContainer will also get container ACL, which need Account Key.
We have already track the bug and will consider the fixing depends on our bandwidth and priority.

And I agree, we should doc it.
I will add the account key requirement to the help doc in recent build.

[2017-12-01 11:47] Panzerbjrn commented on #3088
Wow... How is this still an user? (As it happens, I have this exact same problem just now)

[2017-12-01 13:34] AlexSanseau commented on #661
Feature request for managing web jobs via Azure RM gets my support too. We have all our deployments automated with Powershell. We are about to introduce a web job to our solution and it came as a surprise today to see there was no way to automate it.

[2017-12-01 13:37] karlti commented on #5053
Thank you :)

[2017-12-01 13:37] #5053 closed

[2017-12-01 13:44] wibblemonkey opened #5064 "Set-AzureRmAutomationModule does not update module in Automation account"
### Cmdlet(s)
Set-AzureRmAutomationModule

### PowerShell Version
5.1.14393.1884

### Module Version
4.0.0

### OS Version
10.0.14393.1884

### Description
The **Set-AzureRmAutomationModule** cmdlet appears to have no effect when attempting to update a module in a target automation account. The module reports in the portal that it is importing a later version and reports success, however the modul

[2017-12-01 14:59] mrichman commented on #661
@AlexSanseau I have a meeting this morning with the Microsoft DX team to discuss this very issue. I'll report back with their comments.

[2017-12-01 15:02] rajaprad opened #5065 "Get-AzureRmResource - ErrorAction Preference not taking effect"
### Cmdlet(s)
Get-AzureRmResource

### PowerShell Version
5.1.14409.1012

### Module Version
5.0.0

### OS Version
10.0.14409.1012

### Description
Get-AzureRmResource -ResourceName pradebban -ResourceType 'Microsoft.ServiceFabric/clusters' -ResourceGroupName "pradebban" -ErrorAction **SilentlyContinue**

Get-AzureRmResource : ResourceNotFound : The Resource 'Microsoft.ServiceFabric/clusters/prade

[2017-12-01 16:57] enihcam commented on #4671
Same issue in AzureStack. The status is already 'Provisioning Succeeded', but the cmdlet is still waiting for something. Beside upgrading to 4.4, do we have a workaround?

[2017-12-01 18:02] cormacpayne commented on #5064
@vrdmr Hey Varad, would you mind taking a look at this issue?

[2017-12-01 18:23] TaraMeyer commented on #4979
@robinsh  and @blueww  - what can I do to help move this forward?

[2017-12-01 18:25] TaraMeyer commented on #4684
@sdwheeler and @markcowl  - what can I do to help move this forward?

[2017-12-01 19:58] knithinc commented on #4980
@hyonholee, may I know if you had a chance to look at this issue? If not, could you let me know when we expect an update?

[2017-12-01 22:07] vrdmr commented on #5064
Hi @wibblemonkey,

Thanks for reporting the issue. We are looking at it now.

Thanks,
Varad

[2017-12-01 23:02] rahuldutta90 opened #5071 "Extensibility for cmdlets that use custom SDKs"
### Cmdlet(s)
Enable powershell debugging extensibility to work for cmdlets which use a custom data plane SDK.

### PowerShell Version
5.0.1

### Description
Currently by design Azure data lake dataplane SDK does not use HttpClient, so the client creation is different from other client creations that inherit from Microsoft.Rest.ServiceClient. This is why the client do not have customizations like

[2017-12-01 23:34] darshanhs90 commented on #4051
Closing this due to no response from the customer [as this was fixed from #3407 ] .Re-open the same if it persists

[2017-12-01 23:34] #4051 closed

[2017-12-01 23:45] darshanhs90 commented on #3884
This commandlet get all the roleassignments at the scope and below,viz by design.Hence it is working as expected

[2017-12-01 23:45] #3884 closed

[2017-12-01 23:45] darshanhs90 commented on #3884
We might add an extra option for scope and below later in the future

[2017-12-01 23:53] darshanhs90 commented on #4248
Could you try with the new powershell version and let us know if it still happens?

[2017-12-02 00:50] #4902 closed

[2017-12-02 00:51] #4742 closed

[2017-12-02 05:29] maddieclayton commented on #4971
Closing as many -Password parameters were converted to SecureString in the most recent breaking change release, and this was likely causing the issue above.  Please reopen if this remains an issue.

[2017-12-02 05:29] #4971 closed

[2017-12-02 05:36] maddieclayton commented on #4975
@mshamann Are you still seeing this issue?

[2017-12-02 05:38] maddieclayton commented on #4883
@rokmicrosoft Are you still seeing this issue?

[2017-12-02 05:41] maddieclayton commented on #4482
@nyanhp Are you still seeing this issue in the current version?

[2017-12-03 11:09] mgaufman commented on #4248
The problem still exists with the newest module version on my machine (AzureRM.Resources v5.0.0). Have it occurred in you testing with this module version?

[2017-12-03 11:11] mgaufman commented on #4248
P.S. I've noticed that the issue is closed - please reopen it as it's still there.

[2017-12-04 02:59] blueww commented on #4979
@TaraMeyer, I have send the mail for this issue to you and @robinsh. Please help to answer all the left questions in the mail. And when we get resolution for all the issues in the mail, I will send a PR to fix the content. (Anyway, the content mismatch for the online doc and help file might can't be fixed in source code, and need other attention.)

[2017-12-04 03:41] mdeery opened #5074 "New-AzureRmLogicApp Unexpected character encountered while parsing value: h."
Cmdlet(s)

New-AzureRmLogicApp

Module Version

5.0.0

Description

New-AzureRmLogicApp -ResourceGroupName "rsg-hcms-itsms-eds-candidate" -Name "la-hcms-itsms-eds-candidate" -DefinitionFilePath $(System.DefaultWorkingDirectory)/$(Release.DefinitionName)/drop/LogicApp.json -ParameterFilePath $(System.DefaultWorkingDirectory)/$(Release.DefinitionName)/drop/LogicApp.parameters.dev.json -Location "aus

[2017-12-04 06:16] cormacpayne commented on #5074
@mdeery would you mind providing the debug output from the above command by setting `$DebugPreference = "Continue"` and re-running the above command?

[2017-12-04 06:25] mdeery commented on #5074
[ERROR] New-AzureRmLogicApp : Unexpected character encountered while parsing value: h.
[ERROR] Path '', line 0, position 0.
[ERROR] At C:\src\Integration\rsg-hcms-itsms-eds-candidate\rsg-hcms-itsms-eds-candidate
[ERROR] \rsg-hcms-itsms-eds-candidate\Deploy.ps1:46 char:1
[ERROR] + New-AzureRmLogicApp -ResourceGroupName $fullResourceGroupName -Name " ...
[ERROR] + ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

[2017-12-04 07:44] zaidmohd commented on #4581
Gentle reminder
Regards,
Nisha

From: Zaid Mohammad
Sent: Monday, September 25, 2017 12:16 PM
To: Azure/azure-powershell <azure-powershell@noreply.github.com>; Azure/azure-powershell <reply@reply.github.com>; Nisha Singh <nissingh@microsoft.com>
Cc: Mention <mention@noreply.github.com>
Subject: Re: [Azure/azure-powershell] Azure credentials Error in Azure PS Module 3.5 and above (#4581)

Adding Ni

[2017-12-04 19:34] mshamann commented on #4975
@maddieclayton the storage cmdlets worked, I found it before markcowl responded and missed his email response. My apologies.

[2017-12-04 19:34] #4975 closed

[2017-12-04 21:34] TaraMeyer commented on #4979
@blueww - I see the -Force param in the related MD which feed directly into the online help:
https://github.com/Azure/azure-powershell/blob/preview/src/ResourceManager/Storage/Commands.Management.Storage/help/Set-AzureRmStorageAccount.md

What else do you need help with?  Are you asking @robinsh to help you write the content she is asking for, or what is the hold up?

[2017-12-04 21:50] craiglandis commented on #3735
+1 - this still repros in the November 2017 release. When I create a Standard_A2 VM without specifying any of the storage details, it creates it as a managed disk in standard storage, but nonetheless throws the warning -

"WARNING: Since the VM is created using premium storage, existing standard storage account, 1404ltsdiag694, is used for boot diagnostics."

[2017-12-05 00:22] bill-dall commented on #4818
@RandalliLama - Would this be the fix to have Azure Cloud Shell Powershell work with Key Vaults out of the box? If so, +1! Also looks related to issue #760?

[2017-12-05 01:05] markcowl opened #5077 "Add Automation coverage for Job runtime settings"
For AsJob implementation, add scenario tests that verify

- Proeprty settings for running jobs
- create / wait / receive scenario for success and failure scenarios
- create / stop scenario

Add unite tests to verify the correct behvior fro determining when to run as a job.

[2017-12-05 01:43] RandalliLama commented on #4818
@bill-dall  This is the first that I've heard Azure Cloud Shell Powershell didn't work with Key Vault.  It does appear to be related to this issue.  I will take a look at what it takes to fix that.

[2017-12-05 01:58] blueww commented on #4979
Besides the mismatch of the online help and help file in Powershell repo (for -Force and -Accesstier, I see it's being discussed in the mail thread), there's still another open item: description of -NetworkRuleSet need review. You can see detail in the mail, and @robinsh still not answer it:

[2017-12-05 02:32] #4031 closed

[2017-12-05 13:16] thomasddn commented on #2622
I believe this issue has been reintroduced. Currently using AzureRM v5.0.1 and I can't update a user's password without passing the state.

The error message:

    Set-AzureRmApiManagementUser : ValidationError: One or more fields contain incorrect values:
    At line:1 char:1
      Set-AzureRmApiManagementUser -Context $apimContext -UserId "test" -Pa ...
[code]

[2017-12-05 16:59] kevinhillinger commented on #661
@AlexSanseau @mrichman Probably the best solution is [Zip Deployment](https://github.com/projectkudu/kudu/wiki/Deploying-from-a-zip-file) using Kudu API. Here is are [sample scripts](https://github.com/kevinhillinger/webjob-deploy-with-kudu) that demonstrate deploying a Web Job.

[2017-12-05 17:10] bill-dall commented on #4818
Great! Thanks. Yeah I'm desperately working on workarounds right now...

[2017-12-05 18:14] SudhakaraReddyEvuri opened #5081 "Add test automation to validate AzureDiskEncryption prerequisite script"
### Cmdlet(s)

### PowerShell Version
Instructions: to get PowerShell version, type `$PSVersionTable` and look for the value associated with `PSVersion`

### Module Version

### OS Version
Instructions: to get OS version, type `$PSversionTable` and look for value associated with `BuildVersion`

### Description

### Debug Output
Instructions: to get Debug Output, set `$DebugPreference="Continue"` a

[2017-12-05 19:27] RandalliLama commented on #4818
@tiffanyachen Please take a look at this.

[2017-12-05 19:55] rajaprad opened #5082 "New-AzureRmResourceGroupDeployment - Fails for Notification Hub after upgrading to AzurePowershell 5.0.1"
### Cmdlet(s)
New-AzureRmResourceGroupDeployment

### PowerShell Version
5.1.14409.1012

### Module Version
5.0.1

### OS Version
10.0.14409.1012

### Description

Notification Hub Deployment - Along with googleApiKey and apnsCertificate fails after upgrade to Azure Powershell 5.0.1
Deployment with the same template passes with 4.4.1. Have not tried with 5.0.0

### Debug Output
New-AzureRmResource

[2017-12-05 22:44] maddieclayton commented on #5082
@rajaprad Can you run Resolve-AzureRmError after running these cmdlets and send us the output?  This will give us more information about the error that is being returned.

[2017-12-05 22:55] maddieclayton commented on #5015
@matthiasluedke I think what you have found is that the format of the Tag parameter has changed since the [2.0.0 release](https://github.com/Azure/azure-powershell/blob/preview/documentation/release-notes/migration-guide.2.0.0.md#change-of-tag-parameters).  If this information does not resolve your issue please reopen.

[2017-12-05 23:04] maddieclayton commented on #2494
Closing in favor of https://github.com/Azure/azure-powershell/issues/3806

[2017-12-05 23:04] #2494 closed

[2017-12-05 23:06] maddieclayton commented on #2100
Closing in favor of https://github.com/Azure/azure-powershell/issues/3810

[2017-12-05 23:06] #2100 closed

[2017-12-05 23:11] darshanhs90 commented on #4365
@guidooliveira  could you let me know the exact issue that is being faced now, so that i can help you in resolving the same

[2017-12-05 23:20] maddieclayton commented on #81
The Azure modules have fundamentally changed and we believe this issue no longer applies.  Please open a new issue if you disagree.

[2017-12-05 23:20] #81 closed

[2017-12-05 23:22] maddieclayton commented on #317
We are no longer taking any changes in Azure.Websites. Please use the AzureRM modules in the future.

[2017-12-05 23:22] #317 closed

[2017-12-05 23:22] #1334 closed

[2017-12-05 23:24] maddieclayton commented on #1326
I believe this issue is fixed.  If not, please open a new bug.

[2017-12-05 23:24] #1326 closed

[2017-12-05 23:25] maddieclayton commented on #1362
Fixed.

[2017-12-05 23:25] #1362 closed

[2017-12-05 23:27] maddieclayton commented on #1366
[ ] Add alias "Invoke-AzureRmResourceOperation" to cmdlet "Invoke-AzureRmResourceAction"

[2017-12-05 23:31] maddieclayton commented on #1370
Fixed.

[2017-12-05 23:31] #1370 closed

[2017-12-06 01:19] rajaprad commented on #5082
@maddieclayton - Find below.

Message : 1:13:23 AM - Template output evaluation skipped: at least one resource deployment operation failed. Please list deployment operations for details. Please see https: //aka.ms/arm-debug for usage details.
StackTrace : Exception : System.Exception InvocationInfo : { "New-AzureRmResourceGroupDeployment" } Line : New-AzureRmResourceGroupDeployment -Name pradebban

[2017-12-06 01:22] rajaprad commented on #5082
@shahabhijeet @cormacpayne @markcowl @maddieclayton  - as a public user, i do not have control of assigning back the issue to @maddieclayton - for further action. Please transfer the assignment!!

[2017-12-06 01:46] cormacpayne commented on #1554
@Nilambari Hey Nilambari, would you mind pointing me at the right owner for this cmdlet?

[2017-12-06 01:55] cormacpayne commented on #1633
@twitchax assigning to you to discuss whether we should change `AzureRM.Websites` to `AzureRM.AppService` before the next breaking change release

[2017-12-06 07:37] twitchax commented on #1633
Yes, we definitely should.

[2017-12-06 08:07] matthiasluedke commented on #5015
@maddieclayton Thanks for your answer, the issue was already existing before. The Get-AzureRMVM command do not give an output at all just using -Tag.
In v2 the input possibility changed, that is seen in my script while updating.

#$tagging.Set_Item("Deallocated","$date")

The problem is that newest modules on the client and in the browser gives the correct output. Only the testpane do not give any

[2017-12-06 15:55] DavidD-SE opened #5089 "Get-AzureRmRecoveryServicesBackupContainer Error at parameter "-FriendlyName" input processing"
### Cmdlet(s)
Get-AzureRmRecoveryServicesBackupContainer

### PowerShell Version
5.1.16299.64

### Module Version
AzureRM.RecoveryServices.Backup v4.0.1

### OS Version
10.0.16299.64

### Description
The Cmdlet reads a optional Parameter -FriendlyName.
The error is: when entering a String Variable at the Cmdlet the Output every time is empty. But giving the VMName directly as String at the Cmdlet

[2017-12-06 16:58] DavidD-SE commented on #5089
Update: Maybe the problem has other causes. I experienced, when using the Cmdlet in Powershell ISE, running only the commands highlighted, the cmdlet does not work at all. When using the "run highlighted" the output is always empty, doesn't matter if using variable or string at the Parameter.

[2017-12-06 20:46] sagawater opened #5091 "CreateArmClient cause deadlock when run on same SynchronizationContext"
### Module Version
Microsoft.Azure.Commands.Common.Authentication, Version=3.4.0.0

### Description
Calling
`AzureSession.ClientFactory.CreateArmClient<WebSiteManagementClient>(AzureRmProfileProvider.Instance.Profile.Context,` `AzureEnvironment.Endpoint.ResourceManager)` will cause a deadlock when it's called in a powershell environnement configured to run in a single thread SynchronizationContext

[2017-12-06 23:41] darshanhs90 commented on #4248
thanks,have create a fix for this in the pr https://github.com/Azure/azure-powershell/pull/5094

[2017-12-06 23:50] darshanhs90 commented on #4248
Closing this since The new update 5.1.0 will have a fix with this change.Re-open the same if the issue recurs

[2017-12-06 23:50] #4248 closed

[2017-12-07 00:50] darshanhs90 commented on #1166
updated the help with an example in this pr
https://github.com/Azure/azure-powershell/pull/5095

[2017-12-07 00:51] #1166 closed

[2017-12-07 01:03] darshanhs90 commented on #3866
@TarasRoshko can you retry using the new powershell version 5.1.0 and let me know if it can be repro'd

[2017-12-07 02:53] mgaufman commented on #4248
When is it going to be released?

[2017-12-07 02:54] darshanhs90 commented on #4248
this friday

[2017-12-07 04:51] maddieclayton commented on #4966
Fixed.

[2017-12-07 04:51] #4966 closed

[2017-12-07 07:22] aggFTW commented on #1443
This drove me nuts for a few hours. What is the criteria to determine when a bug needs a fix?

[2017-12-07 09:53] mgaufman commented on #4248
Thanks!

[2017-12-07 12:23] rwaal opened #5098 "Set-AzureRmResource sets tags in lowercase for Microsoft.Sql resources"
### Cmdlet(s)
Set-AzureRmResource

### PowerShell Version
5.1.16299.64

### Module Version
4.4.0

### OS Version
10.0.16299.64

### Description
When I use the Set-AzureRmResource cmdlet to configure tags on Microsoft.Sql resources (eg SQL database) in Azure, the tag names are always set in lowercase. For example, when executing the command below, the tag name 'MyTag' will actually be configured in

[2017-12-07 15:51] mmisztal1980 opened #5099 "ARM Deployment failure - HTTP request body must not be empty"
### Cmdlet(s)

### PowerShell Version
[code]
### Module Version
[code]

### OS Version
Instructions: to get OS version, type `$PSversionTable` and look for value associated with `BuildVersion`

### Description

We are deploying a simple AppService template:
[code]

During deployment, we are using the New-AzureRmResourceGroupDeployment commandlet. The template appears to pass the validation stage,

[2017-12-07 16:01] mmisztal1980 opened #5100 "ARM Deployment Failure - StorageAccountAlreadyTaken"
### Cmdlet(s)

### PowerShell Version
[code]
### Module Version
[code]

### OS Version
Instructions: to get OS version, type `$PSversionTable` and look for value associated with `BuildVersion`

### Description

We are redeploying an existing AppService depending on a storage account template:
[code]

During deployment, we are using the New-AzureRmResourceGroupDeployment commandlet. The template ap

[2017-12-07 16:07] cormacpayne commented on #5089
@DavidD-SE Hey David, thanks for reporting this issue. Would you mind running the above cmdlets again with `$DebugPreference = "Continue"` set and providing us with the resulting debug stream?

CC: @dragonfly91

[2017-12-07 16:11] cormacpayne commented on #5098
@rwaal Hey Richard, thanks for reporting this issue. Please let us know if you find any other providers outside of Sql that you find have this same issue.

@ravbhatnagar Hey Gaurav, would you mind taking a look at this issue?

CC: @jaredmoo @akromm

[2017-12-07 17:26] sphibbs commented on #3822
Fixed

[2017-12-07 17:26] #3822 closed

[2017-12-07 17:30] maddieclayton commented on #4520
This is fixed in [this PR](https://github.com/Azure/azure-powershell/pull/5016) by changing New-Alias to Set-Alias.  Will be in the next release.

[2017-12-07 17:30] #4520 closed

[2017-12-07 18:51] maddieclayton commented on #4855
Fixed.

[2017-12-07 18:51] #4855 closed

[2017-12-07 21:29] craiglandis opened #5101 "VM agent installed even if -ProvisionVMAgent isn't specified, or -ProvisionVMAgent:$false specified"
### Cmdlet(s): Set-AzureRmVMOperatingSystem
### PowerShell Version: 5.1.16299.64
### Module Version:  AzureRM.Compute 4.0.1 (November 2017 release)
### OS Version: 10.0.16299.64
### Description

-ProvisionVMAgent is a switch, so you would expect that if you don't specify it at all, the value is not True, and the VM agent will not be installed. But if you don't specify it, or if you explicitly spec

[2017-12-07 22:58] akromm commented on #5098
There is a fix for this server side that will be deployed soon.

[2017-12-08 11:29] etm-admin opened #5111 "Azure Storage Table cannot be updated: Cannot convert argument "operation", with value: "Microsoft.WindowsAzure.Storage.Table.TableOperation", for "Execute""
### Cmdlet(s)
$table.CloudTable.Execute([Microsoft.WindowsAzure.Storage.Table.TableOperation]::InsertOrReplace($entity))
and
$table.CloudTable.Execute([Microsoft.WindowsAzure.Storage.Table.TableOperation]::InsertOrReplace($entity),
    [Microsoft.WindowsAzure.Storage.Table.TableRequestOptions]$null,
    [Microsoft.WindowsAzure.Storage.OperationContext]$null)
where
$table is of type [Microsoft.Wind

[2017-12-08 18:15] markcowl commented on #2979
@mohamedmansour @TarasRoshko Today we will be releasing Compute cmdlets that use 'AsJob' as the paradigm for tracking the progress for long-running operations.  This will flow out into additional cmdlets in the coming weeks.

[2017-12-08 18:15] #2979 closed

[2017-12-08 18:16] markcowl commented on #4444
Fixed.

[2017-12-08 18:16] #4444 closed

[2017-12-08 18:17] markcowl commented on #1200
Fixed.

[2017-12-08 18:17] #1200 closed

[2017-12-08 18:17] markcowl commented on #4976
Fixed.

[2017-12-08 18:17] #4976 closed

[2017-12-08 18:28] markcowl commented on #4476
Fix checked in.

[2017-12-08 18:28] #4476 closed

[2017-12-08 18:33] markcowl commented on #4960
So, again, this is an issue with ISE and not with Azure PowerShell.  Closing as this is not an issue with this product

[2017-12-08 18:35] markcowl commented on #4487
Closed as this was checked in.  Please reopen if you see a recurrence after the netcore release (week of 12/11)

[2017-12-08 18:35] #4487 closed

[2017-12-08 18:36] markcowl commented on #4482
Closing, as we assuem the lack of response indicates this was resolved.  Please open a new issue if you see this recur in the latest version.

[2017-12-08 18:36] #4482 closed

[2017-12-08 18:39] markcowl commented on #4883
Closing for lack of response.  Please open a new issue if you see this recur in 5.x

[2017-12-08 18:39] #4883 closed

[2017-12-08 18:40] markcowl commented on #5026
@masthi Ping?  We will have to clos this issue as 'no repro; if we can't get additional information.

[2017-12-08 18:50] markcowl commented on #4715
No repro with latest version., and you have excerpted all the data that would allow us to differentiate the subscriptions and tenants.

Can you provide a debug log ($DebugPreference="Continue") when you repro this issue?  Also, can you try with the latest version?

Finally - is there a reason why you are using Import/Export instead of using Context AutoSave (which automatically saves the authentic

[2017-12-08 19:17] 4c74356b41 commented on #1200
could you elaborate a bit, what is fixed exactly? where can we read up on the changes?

[2017-12-08 19:19] markcowl commented on #3977
Closing per the new msi paradigm

[2017-12-08 19:19] #3977 closed

[2017-12-08 19:24] cormacpayne commented on #1200
@4c74356b41 this will be available in Azure PowerShell 5.1.0 that is released later today. I will follow-up with the release notes when the changes are live.

[2017-12-08 19:35] BasvanH commented on #1200
Cheers, well done.

[2017-12-08 19:35] markcowl opened #5113 "Validate and Integrate new MSI into release process"
## Comments @maddieclayton
- Each of these scenarios should specify an expected outcome [what do you expect the ending module layout to be], where do you expect an informative error, etc.
- This should explicitly include uninstall scenarios
  - When will we attempt uninstall via the msi: _Expects the version of the modules installed by the MSI version to be removed_
  - When will we attempt uninst

[2017-12-08 19:40] markcowl opened #5114 "Add scenario tests for New-AzureRMVM New Parameter Set"
### Description

- Add scenario tests for regression validation of New-AzureRmVM newe parameter set
  - [ ] Miniimum parameter set
  - [ ] Pre-existing network
  - [ ] Custom image

### Cost: 4

[2017-12-08 19:42] markcowl opened #5115 "Add scenario tests for New-AzureRmVMSS New Parameter Set"
### Description

- Add scenario tests for regrssion validation of New-AzureRmVMSS new parameter set
  - [ ] Minimum parameters
  - [ ] Reusing existing network

### Cost: 4

[2017-12-08 19:45] markcowl opened #5116 "Add Scenario Tests for Container cmdlet suite to prevent regressions"
### Description

 - [ ] Determine scenario test needs for regression protection
 - [ ]  Implement
 - [ ] Add necessary scripts to smoke test suite

### Cost 10

[2017-12-08 19:51] 4c74356b41 commented on #1200
just leave a comment with a link here. thanks!

[2017-12-08 19:53] markcowl opened #5117 "Refactor KeyVault data plane cmdlets as FileProvider"
### Description
Refactor KeyVault data plane to allow mounting a Vault as a drive and acess to Certificates, Secrets, and Keys using file system cmdlets.

- [x] Coordinate with KeyVault team on design, and design of hierarchy
- [ ] Identify and target KeyVault PowerShell conceptual documentation for refactoring usign the new paradigm
- [x] Prototype and evaluate performance, reliability, &c
- [ ]

[2017-12-08 20:13] markcowl opened #5118 "Refactor Storage Data Plane (blob) cmdlets as File Provider"
### Description

Refactor storage data plane cmdlets for blob to allow mounting a storage account blob service as a drive.

- [ ] Work with storage team on design, performance requirements, and maintenance agreement
- [ ] Allow mounting a storage service
- [ ] Allow using file system commands to navigate containers and the implied directory hierarchy in blob names
- [ ] Allow setting and retrievin

[2017-12-08 20:19] markcowl opened #5119 "Add AsJob Implementation to long-running RM, Storage Management , Network cmdlets"
### Description

- [x] For each RP, determine which cmdlets could be long-running and adapt the cmdlet to use AsJob implementation
- [x] Adapt one scenario test to use AsJob with Wait-Job and re-record if necessary (it may not be)
- [x] Update release notes, help, identify how-to docs to update
- [ ] re-release module on the gallery at the earliest convenience

### Cost: 10

[2017-12-08 20:24] markcowl opened #5120 "Work with feature teams to implement AsJob for additional modules"
### Description
Update documentation to include implementation of -AsJob
- [x] Add section to Design guidelines
    - https://github.com/Azure/azure-powershell/wiki/PowerShell-Cmdlet-Design-Guidelines#asjob-parameter
#### Work with service teams to retrofit exsiting modules to use -AsJob parameter.  Each module should include updates to code, at least one covering test, and documentation.
- [ ] St

[2017-12-08 20:28] markcowl opened #5121 "Add AsJob scenario tests for Compute cmdlets"
### Description

- Add one scenario test for each cmdlet that uses AsJob

### Cost: 8

[2017-12-08 21:43] vicp-iq commented on #4715
I've just reproduced the problem with AzureRM V5.0.1.  I can confirm that the problem does not exist in V4.3.1.

Here's my Debug Log: [DebugLog.txt](https://github.com/Azure/azure-powershell/files/1543861/DebugLog.txt)

I work at the same organization as @tran-barry.  We have build scripts created when azure-powershell V2.1.0 was the latest, and the patterns we used for authentication at that time

[2017-12-08 23:08] rkyttle opened #5122 "New-AzureStorageContext lists an incorrect permission in Example 9: Create a context by using an SAS token"
New-AzureStorageContainerSASToken -Name "ContosoMain" -Permission "raud"

Running the above command returns the following:
New-AzureStorageContainerSASToken : Invalid access permission 'raud'.

This can be found in example 9 on https://docs.microsoft.com/en-us/powershell/module/azure.storage/new-azurestoragecontext?view=azurermps-5.0.0#comments-container

Machine this is being executed from:

Name

[2017-12-08 23:24] maddieclayton opened #5123 "Change LocationCompleter from double quotes to single quotes"
### Description
LocationCompleter currently surrounds values in double quotes, but this could cause an issue with variable expansion.

- [x] Change double quotes to single quotes LocationCompleter
- [x] Update tests

[2017-12-09 01:35] cormacpayne commented on #1200
Rather than 5.1.0, this feature is available in 5.1.1 ☺️

https://github.com/Azure/azure-powershell/releases/tag/v5.1.1-December2017

[2017-12-09 21:15] MyUsername01 commented on #4975
Had the same problem, this worked for me http://www.data-boss.nl/uncategorized/cannot-add-permissions-to-blob-container-with-sharedaccesspolicy/

[2017-12-11 02:07] blueww commented on #5122
@rkyttle

Thanks for reporting this!
Will update the help soon.

[2017-12-11 07:07] markcowl commented on #4970
@blumu @ljt91 Yes, this script will work if you have context autosave enabled, but not if you don't.  If you are executing with context autosave off, then you have to set the context container for the background process, and there really isn't a cmdlet that makes it easy for doing this.  The suggested pattern is the one supplied here: https://docs.microsoft.com/en-us/powershell/azure/context-persi

[2017-12-11 09:45] blueelvis commented on #5030
Thanks wei! Any update on this? @blueww

[2017-12-11 09:46] blueelvis commented on #4959
@cormacpayne @markcowl - It has been more than a month now. Any idea what is going on? :|

[2017-12-11 09:46] blueelvis commented on #4958
@cormacpayne @markcowl - It has been more than a month now. Any idea what is going on? :|

[2017-12-11 09:47] blueelvis commented on #5005
@cormacpayne @markcowl - It has been like a month now. Any idea what is going on? :|

[2017-12-11 09:57] blueww commented on #5030
I am contacting the OneSDK team for this. Will update you when get some resolution.
Thanks!

[2017-12-11 10:41] mdeery commented on #5074
I misunderstood what template the cmdlet required

[2017-12-11 10:41] #5074 closed

[2017-12-11 17:00] guillemsola opened #5126 "Azure Custom Script Extension fileuris download differs from portal execution"
### Cmdlet(s)

### PowerShell Version
PSVersion                      5.1.15063.674

### Module Version
azure-powershell.5.1.1.msi

### OS Version
BuildVersion                   10.0.15063.674

### Description
With an ARM definition for a Windows custom script extension there is a breaking change when the download script is downloaded from github during a portal installation or deployed with powers

[2017-12-11 17:19] bmoore-msft commented on #4960
So, since we are One Microsoft - how can we move forward on fixing this for our customers?

[2017-12-11 18:12] darshanhs90 commented on #4365
@guidooliveira any update on the issue that you are facing?

[2017-12-11 18:13] darshanhs90 commented on #4248
@mgaufman Could you let me know if the issue that you were facing persists in the new powershell release

[2017-12-11 18:37] markcowl commented on #5126
@danielsollondon Can you take a look?

[2017-12-11 18:42] markcowl commented on #3425
Also need
- Standard mechanism for turning off obsolete warnings

[2017-12-11 19:49] mgaufman commented on #4248
It's fixed. Thank you!

[2017-12-12 07:16] bergmeister opened #5134 "'Get-Help Login-AzureRmAccount' shows help for Add-AzureRmAccount"
### Cmdlet(s)

Login-AzureRmAccount

### PowerShell Version
5.1.16299.98
### Module Version
AzureRM 5.1.1
### OS Version
10.0.16299.98

### Description
`Get-Help Login-AzureRmAccount` shows help for Add-AzureRmAccount.

### Script/Steps for Reproduction
[code]

[2017-12-12 09:37] mchute84 commented on #4365
We are having the same issue. We have created a role in one subscription and then switched to a new one and tried to create the same role.

Get-AzureRmRoleDefinition - In Sub1 says it exists
Get-AzureRmRoleDefinition - In Sub2 says doesnt exist but cannot create

[2017-12-12 13:02] MLC-Mat commented on #4564
This fixed my issue..

Version           : 5.1.1
Name              : Azure
Author            : Microsoft Corporation
PowerShellVersion : 3.0

[2017-12-12 16:10] cormacpayne commented on #5134
@bergmeister Hey Chris, `Login-AzureRmAccount` is an alias for `Add-AzureRmAccount`, so `Get-Help Login-AzureRmAccount` is going to redirect you to the help content for the cmdlet it is an alias for.

To see the aliases for the Azure PowerShell cmdlets you have loaded into your PowerShell session, run the following command:

[code]

[2017-12-12 16:10] #5134 closed

[2017-12-12 19:44] darshanhs90 commented on #4365
Custom roles are created per tenant,which can be shared across subscriptions.
Since a custom role is already present in the sub1 under the same tenant,you are not bale to create the same in sub2.
One alternative to creating another role is to add this new subscription's scope[sub2 scope] in the assignable scopes of the role in sub1[so that you can access the role even in sub2]

[2017-12-12 20:33] rajaprad commented on #5082
@maddieclayton, Any movement on this please ? This is a breaking change for us to move with 5.0.1

[2017-12-12 22:39] markcowl commented on #5015
@matthiasluedke Are you saying that the output format displayed for tags to the screen is different than the parameter 'tag' that you provide on input

[2017-12-12 22:53] markcowl commented on #5082
@rajaprad This looks like a failure in the underlying notification hubs deployment - you will need to look up the service log in the portal.  You can use the tracking id or request id for the failed request to do so.  For example, the request that failed had tracking id: 7ff92234-ef17-4299-9cc6-47827d6f3d54

[2017-12-12 22:57] markcowl commented on #5099
@mmisztal1980 Yes, this appears to be an issue in which the ARM template deployment is making an empty request to the AppService ResourceProvider.  You cna use the request id or correlation id in the debug output to find the service error and diagnose the template

[2017-12-12 22:59] markcowl commented on #5100
@vivsriaus Can you take  a look?

[2017-12-12 23:01] mmisztal1980 commented on #5099
@markcowl Hi Mark, thanks for the response. Can you elaborate on how to diagnose the issue? I'll retrieve the requestId/correlationId tomorrow, while at the office.

[2017-12-12 23:01] markcowl commented on #5101
@nibhat can you take a look?

[2017-12-12 23:02] markcowl commented on #5111
@etm-admin This appears to be using the azure storage sdk and not the powershell storage cmdlets.  Please file this issue against the storage sdk.

[2017-12-12 23:02] #5111 closed

[2017-12-12 23:05] #3809 closed

[2017-12-12 23:20] markcowl commented on #5118
@twitchax Please discuss with the storage team

[2017-12-13 00:04] barborico commented on #1283
This error may be caused by externally-purchased SSL certificates. According to the [guidelines for moving Azure resources](https://docs.microsoft.com/en-in/azure/azure-resource-manager/resource-group-move-resources#app-service-limitations):

[2017-12-13 02:59] rajaprad commented on #5082
@markcowl - The portal log just had "BadRequest". And to make things very specific to 5.0.1 - I downgraded Azure PowerShell to 4.x - deployment worked with same template and parameters!

[2017-12-13 03:25] iamshital commented on #4168
Ping!!!

[2017-12-13 08:54] blueww commented on #5030
@blueelvis

I have get the answer from OneSDK team @markcowl

[2017-12-13 09:05] blueww commented on #5111
@etm-admin
It seems you meet same issue as : https://github.com/Azure/azure-powershell/issues/5030

A workaround is specify the version to be aligned with PowerShell Azure.Storage module when new the object:
`$temp = New-Object -TypeName  "Microsoft.WindowsAzure.Storage.Table.DynamicTableEntity,Microsoft.WindowsAzure.Storage, Version=8.6.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"`
plea

[2017-12-13 10:14] blueelvis commented on #5030
Hey Wei!

Thanks for the update. That Add-Type and specifying the module version is what I am doing right now but doesn't seem to be correct to add that part for each new object created.

Hmm, so what could be a permanent fix to such problems?

Thanks
-Pranav

[2017-12-13 19:05] markcowl opened #5138 "Example 2 using ExpandPrincipalGroups switch is not valid in markdown help for Get-AzureRmRoleAssignment"
### Description

The example shows:

[code]

According to the syntax, this combination of parameters is not possible.  Need to update the cmdlet so that it is possible to determine effective role assignments for a given user.

[2017-12-13 19:57] vivsriaus commented on #5100
@ravbhatnagar to comment since this is the expected behavior per ARM pre flight validation.

[2017-12-13 21:24] Blackbaud-ShaydeNofziger commented on #3414
Hello, I'm experiencing the same issue when calling `Get-AzureRmRoleAssignment` with the `-ObjectId` and `-RoleDefinitionName` param specifying a Custom created role.

Running `Get-AzureRmRoleAssignment` with just `ObjectId` correctly returns a collection of all RoleAssignments, however the `RoleDefinitionName` value is blank.

Examples with output:
[code]

Note that the RoleDefinitionId matches t

[2017-12-13 21:33] RBACAsk commented on #3414
This Issue was fixed .
The new powershell release should have that fix, it can be found here https://github.com/Azure/azure-powershell/releases/tag/v5.1.1-December2017.

From: Shayde Nofziger [mailto:notifications@github.com]
Sent: Wednesday, December 13, 2017 1:28 PM
To: Azure/azure-powershell <azure-powershell@noreply.github.com>
Cc: RBAC Ask <RBACAsk@microsoft.com>; Mention <mention@noreply.git

[2017-12-13 21:35] Blackbaud-ShaydeNofziger opened #5141 "Get-AzureRmRoleAssignment with params ObjectId and RoleDefinitionName throws an error"
### Cmdlet(s)
Get-AzureRmRoleAssignment

### PowerShell Version
`PSVersion: 5.1.14393.1884`

### Module Version
`AzureRm: 5.0.1`

### OS Version
`BuildVersion: 10.0.14393.1884`

### Description
When calling `Get-AzureRmRoleAssignment` with valid `-ObjectId` and `-RoleDefinitionName` params, an exception is thrown.

In my troubleshooting, I discovered that running `Get-AzureRmRoleAssignment` with j

[2017-12-13 21:57] matthiasluedke commented on #5015
@markcowl using ps on my machine and on the browser gives me for example:
 $vm.tags
Key               Value
----               ------
Key1             Value1

Within the testpane:

$vm.tags

System.Collections.Generic.Dictionary'2[System.String,System.String]

 I could grab using tag.key or tag.value, but as i need to alter it and also need to be able to proper test on my machine the same output

[2017-12-14 08:32] pengzhisun opened #5143 "Get-AzureRmRoleAssignment not worked in Azure China Cloud"
### Cmdlet(s)
Get-AzureRmRoleAssignment

### PowerShell Version
5.1.14393.1944

### Module Version
5.1.1

### OS Version
10.0.14393.1944

### Description
The Get-AzureRmRoleAssignment cmdlet in v5.1.1 executed failed in Azure China Cloud with following error message:

Get-AzureRmRoleAssignment : The resource type 'roleAssignments' could not be found in the namespace 'Microsoft.Authorization' for a

[2017-12-14 09:17] blueww commented on #5030
@blueelvis

Currently seems add the module version is the only way to make sure the object create with right version of XSCL.
But as Powershell upgrade XSCL frequently, you might need to use the function in paulomarquesc/AzureRmStorageTable@4766c32 to get the latest version of XSCL and then use it in create object.
Besides that, there are many table manage cmdelts in https://github.com/paulomarque

[2017-12-14 12:41] vinaydam opened #5144 "Get-AzureRmHDInsightOperationsManagementSuite throwing an error"
### Cmdlet(s)
Get-AzureRmHDInsightOperationsManagementSuite

### PowerShell Version
5.1.16299.64

### Module Version
5.1.1

### OS Version
10.0.16299.64

### Description
The cmdlet Get-AzureRmHDInsightOperationsManagementSuite or Get-AzureRmHDInsightOMS throws an error saying "Get-AzureRmHDInsightOMS : Can not convert Object to String."

### Debug Output

[code]

### Script/Steps for Reproduction

[2017-12-14 16:39] cormacpayne commented on #5143
@darshanhs90 Hey Haridarshan, do you know when this API version will be rolled out in the China cloud? I believe that it takes a couple of months for a new API version to be rolled out in different environments, but I could be mistaken.

[2017-12-14 16:43] cormacpayne commented on #5144
@twitchax Hey Aaron, we need to find the contact for the HDInsight cmdlets since both of the devs who were working on the cmdlets are no longer on the team

[2017-12-14 17:03] alexsab1 opened #5145 "Set-AzureRmApplicationGatewayBackendHttpSettings resets Request Timeout to 30 seconds when RequestTimeout parameter is not set"
### Cmdlet(s)

Set-AzureRmApplicationGatewayBackendHttpSettings

### PowerShell Version
Instructions: to get PowerShell version, type `$PSVersionTable` and look for the value associated with `PSVersion`

5.1.14393.1770

### Module Version

### OS Version
Instructions: to get OS version, type `$PSversionTable` and look for value associated with `BuildVersion`

10.0.14393.1770

### Description

Set-

[2017-12-14 17:04] alexsab1 commented on #4853
@markcowl Thank you, this can be closed

[2017-12-14 17:28] doctordns opened #5146 "Acknowleging Contributors inside Azure PowerShell documentation"
# How to Acknowledge contributors

### Description
I notice that, on the web, some parts of docs.microsoft.com acknowledge the folks contributing to the documentation. For example, see: https://docs.microsoft.com/en-us/dotnet/core/docker/intro-net-docker. The second line of that page has details of the contributors.  But the Azure PowerShell documentation does not have this. Can all the documentat

[2017-12-14 17:52] Blackbaud-ShaydeNofziger commented on #5141
@cormacpayne My apologies, but this bug has been addressed with latest module release

[2017-12-14 17:52] #5141 closed

[2017-12-14 18:43] cormacpayne opened #5147 "Update release tools for independent and preview module release"
Update release tools to allow for the following:
- [ ] Modules can be updated, validate and released independently of the `AzureRM` release schedule
    - [ ] Determine appropriate version bump based on changes to the module
    - [ ] Apply version bump to all appropriate files
    - [ ] Serialize module metadata
    - [ ] When `AzureRM.Profile` and `Azure.Storage` are updated, ensure their versio

[2017-12-14 18:43] #2394 closed

[2017-12-14 18:44] #3021 closed

[2017-12-14 18:44] #3653 closed

[2017-12-14 18:44] #3804 closed

[2017-12-14 18:47] cormacpayne commented on #5147
Current development branch: https://github.com/cormacpayne/azure-powershell/tree/version-controller

[2017-12-14 18:52] darshanhs90 commented on #5143
Will be performing the required steps for other environments today.
The commandlets should work after those steps .

[2017-12-14 21:19] twitchax opened #5149 "Add deprecation warning for support for PowerShell 3/4."
What the title says.

[2017-12-15 09:22] blueelvis commented on #5030
@blueww

This seems to be strange. This is happening in Azure Automation as well (Modules have been updated to the latest). Please see the screenshot below -

![image](https://user-images.githubusercontent.com/6985763/34035255-7e727734-e1a7-11e7-9d2c-2f1afa4c7b83.png)

I am right now trying to use that above function in Azure Automation but it is not working. Let's see if I can find some workaroun

[2017-12-15 09:41] blueelvis commented on #5030
Ok the workaround for Azure Automation is to call the following code after modules are prepared for first use and have been imported otherwise if you try calling it before, you would get the following error in Azure Automation -

![image](https://user-images.githubusercontent.com/6985763/34036065-191d0860-e1aa-11e7-8495-33da2bda2945.png)

[code]

So, in my case, I am calling this function after `A

[2017-12-15 16:42] darshanhs90 commented on #5143
@pengzhisun Could you retry to execute the commandlet,we have fixed it on our end and it shouldnt happen now.

[2017-12-15 20:10] doctordns commented on #5149
This is a great idea.

Can I ask that any deprecation information points to a web page that explains the issue, using more words that are appropriate for a warning message.  I just want the warning message to be actionable.

[2017-12-16 00:18] panchagnula opened #5155 "Support Setting Https Only property on webApps"
### Cmdlet(s)
Set-AzureRmWebApp should have an option for HttpsOnly property
### PowerShell Version
Instructions: to get PowerShell version, type `$PSVersionTable` and look for the value associated with `PSVersion`

### Module Version

### OS Version
Instructions: to get OS version, type `$PSversionTable` and look for value associated with `BuildVersion`

### Description

### Debug Output
Instruct

[2017-12-16 00:54] #4969 closed

[2017-12-16 04:11] smharishbabu commented on #2206
I got warning for New-AzureRmPublicIpAddress and few other commands

[2017-12-18 05:30] pengzhisun commented on #5143
@darshanhs90 Thanks for your help! I've just retried the Get-AzureRmRoleAssignment in Azure China Cloud environment, the issue has been fixed.

[2017-12-18 05:30] #5143 closed

[2017-12-18 09:54] DavidD-SE commented on #5089
PS C:\Users\MYLOCALUSER> $vmrg = "RESOURCEGROUP"
PS C:\Users\MYLOCALUSER> $rsv = Get-AzureRmRecoveryServicesVault -ResourceGroupName $VMRg
PS C:\Users\MYLOCALUSER> Set-AzureRmRecoveryServicesVaultContext -Vault $rsv
PS C:\Users\MYLOCALUSER>
PS C:\Users\MYLOCALUSER> $DebugPreference = "Continue"
PS C:\Users\MYLOCALUSER> $vmname = "backuptestvm"
PS C:\Users\MYLOCALUSER> Get-AzureRmRecoveryServicesBa

[2017-12-18 14:19] Blackbaud-ShaydeNofziger opened #5159 "Calling Get-AzureRmKeyVault with -Tag @{} parameter returns an object with empty Tags property"
### Cmdlet(s)
Get-AzureRmKeyVault

### PowerShell Version
5.1.14393.1884

### Module Version
AzureRm - 5.1.1
AzureRm.KeyVault - 4.0.1

### OS Version
10.0.14393.1884

### Description
The KeyVault object returned by calling Get-AzureRmKeyVault varies based on which parameter set is used. In some cases, the Tags property is missing its tags.

### Debug Output
Lots of sensitive info in these results.

[2017-12-18 20:22] markcowl opened #5161 "Get-AzureRmAdApplication - return all pages of applications"
In the absence of a general solution for managfing pages, cmdlets should enumerate all pages when listing items.  This cmdlet returns only the first page of results.

Note that #3928 is tracking the general solution for managing pages of data, but this should be resolved irrecpective of that issue.

[2017-12-18 23:22] sphibbs commented on #4882
The service principal for orgs contain the metadata from when it was created. Currently there is no good way to update. We could create a new AAD app so service principal's are created. I have reached out to the AAD team via

[2017-12-19 00:30] maddieclayton commented on #5123
Fixed.  Will be released 1/26 at the latest.

[2017-12-19 00:30] #5123 closed

[2017-12-19 01:05] maddieclayton commented on #5145
@DeepakRajendranMsft Can you take a look?

[2017-12-19 01:08] maddieclayton commented on #5155
@panchagnula I assume you should be assigned to this issue as you have a commit related to it.  Let me know if I'm wrong.

[2017-12-19 01:17] maddieclayton commented on #5159
@RandalliLama @dragav Can you take a look?

[2017-12-19 03:50] maddieclayton commented on #4799
Done

[2017-12-19 03:50] #4799 closed

[2017-12-19 13:16] stuartleeks commented on #4487
Is there a NetCore release with this in yet? Last NetCore release I can see is 0.9.1 from July

[2017-12-19 13:18] stuartleeks commented on #4476
Is the fix released yet? It looks like there has been a recent AzureRM release, but I can't see one for AzureRM.NetCore :-(

[2017-12-19 18:09] masthi commented on #5026
Powershell Version:
Name                           Value
----                           -----
PSVersion                      5.0.10586.63
PSCompatibleVersions           {1.0, 2.0, 3.0, 4.0...}
BuildVersion                   10.0.10586.63
CLRVersion                     4.0.30319.42000
WSManStackVersion              3.0
PSRemotingProtocolVersion      2.3
SerializationVersion           1.1.0.1

PS C:

[2017-12-19 20:29] markcowl commented on #5091
@sagawater Cannot repro this on the latest profile version.  Please update andopen a new issue if you see this again

[2017-12-19 20:29] #5091 closed

[2017-12-19 20:40] markcowl opened #5162 "Automate Smoke Tests in CloudShell environment"
### Description

CloudShell environment can be set up as follows:

- [ ] ~~Automate running PSCloudShell acceptance tests as part of verifying our releases~~
  - [x] Follow instructions below for running these tests on a machine, verify correct execution and note the time for runnign the given tests - ideally running acceptance tests should take < 1 hour
    - Test script for executing automation

[2017-12-19 22:38] markcowl commented on #4935
Fixed in latest version: https://docs.microsoft.com/en-us/powershell/module/azurerm.profile/get-azurermsubscription?view=azurermps-5.1.1

[2017-12-19 22:38] #4935 closed

[2017-12-19 22:40] markcowl commented on #4922
Closing as duplicate of: #3425

[2017-12-19 22:40] #4922 closed

[2017-12-19 22:42] markcowl commented on #4801
@twitchax Will this be addressed by the next netcore release?

[2017-12-19 22:44] markcowl commented on #4800
As discussed, these will be binary cmdlets, but will follow a pattern and define common code that will be usable elsewhere

[2017-12-19 22:44] #4800 closed

[2017-12-19 22:50] markcowl commented on #4673
Closing for lack of response - please reopen and provide debug stream output if this problem persists.

[2017-12-19 22:50] #4673 closed

[2017-12-19 22:57] markcowl commented on #4597
Closing per attached issue - cleaning up the modules should resolve this.

[2017-12-19 22:57] #4597 closed

[2017-12-20 05:06] sarath-rachuri commented on #1442
Any progress on this issue? I'm using Get-AzureRmResource cmdlet to check if AppInsights exists or not. Used $erroractionpreference='silentlycontinue' to suppress the error and it works perfectly on my machine. But when ran as a release definition task on VSTS hosted agent the erroractionpreference doesn't work and it is simply terminating the program. Please provide some work around for this.

[2017-12-20 13:41] jaanclaeys opened #5166 "Add-AzureAccount does not work for co-administrators who are guest users in the Azure AD"
### Cmdlet(s)
Add-AzureAccount

### PowerShell Version
5.1.15063.786

### Module Version
5.0.0

### OS Version
10.0.15063.786

### Description
If you set a guest user as a co-administrator from another tenant. And you log-on with Add-AzureAccount -Tenant _yourtenantname_  he gives an error:

**add-azureaccount : No subscriptions are associated with the logged in account in Azure Service Management

[2017-12-20 15:21] jaanclaeys commented on #5166
After upgrading to 5.1.1 (and restarting powershell) this issue seems to go away.

[2017-12-20 15:21] #5166 closed

[2017-12-21 09:26] DavidD-SE opened #5168 "Get-AzureRmRecoveryServicesBackupContainer Parameter -FriendlyName not working"
### Cmdlet(s)
Get-AzureRmRecoveryServicesBackupContainer

### PowerShell Version
Name                           Value
----                           -----
PSVersion                      5.1.16299.98
PSEdition                      Desktop
PSCompatibleVersions           {1.0, 2.0, 3.0, 4.0...}
BuildVersion                   10.0.16299.98
CLRVersion                     4.0.30319.42000
WSManStackVersi

[2017-12-21 09:29] DavidD-SE commented on #5168
Debug Output for: $BackupContainer = Get-AzureRmRecoveryServicesBackupContainer -ContainerType "AzureVM" –Status "Registered" -FriendlyName $VMname

DEBUG: 10:26:43 - GetAzureRmRecoveryServicesBackupContainer begin processing with ParameterSet '__AllParameterSets'.
DEBUG: 10:26:43 - using account id 'ext-acentrix-dd@kern-liebers.com'...
DEBUG: Inside Restore. Going to create ResourceClient.
DEBUG:

[2017-12-21 09:31] DavidD-SE commented on #5168
Debug Output for $BackupContainer = Get-AzureRmRecoveryServicesBackupContainer -ContainerType "AzureVM" –Status "Registered" -FriendlyName 'testbackupvm'

DEBUG: 10:29:15 - GetAzureRmRecoveryServicesBackupContainer begin processing with ParameterSet '__AllParameterSets'.
DEBUG: 10:29:15 - using account id 'ext-....com'...
DEBUG: Inside Restore. Going to create ResourceClient.
DEBUG: [Common.Authen

[2017-12-21 09:36] DavidD-SE commented on #5168
Debug Output for Command WITHOUT Parameter -FriendlyName
$BackupContainer = Get-AzureRmRecoveryServicesBackupContainer  -ContainerType "AzureVM" –Status"Registered"

DEBUG: 10:32:28 - GetAzureRmRecoveryServicesBackupContainer begin processing with ParameterSet '__AllParameterSets'.
DEBUG: 10:32:28 - using account id 'ext-....com'...
DEBUG: Inside Restore. Going to create ResourceClient.
DEBUG: [Co

[2017-12-21 10:51] DavidD-SE commented on #5089
@cormacpayne @shahabhijeet

[2017-12-21 17:15] markcowl commented on #5168
@DavidD-SE So, it looks like your query is looking for 'testbackupvm', but from the listing, the friendly name being used in the vault is: 'backuptestVM'.  So I think this is by design.

Please try your query using 'backuptestVM' and see if that resolves the issue.

[2017-12-21 18:38] maddieclayton commented on #4455
Done

[2017-12-21 18:38] #4455 closed

[2017-12-21 19:05] markcowl opened #5171 "Update projects to build with VS2017"
### Description

- [ ] Update cmdlet, tools, setup, and test projects to use VS2017 tooling
- [ ] Ensure VS2017 tooling is available on Jenkins Workers for PowerShell
- [ ] Update Developer documentation for VS2017 usage

### Cost: 20

[2017-12-21 19:13] markcowl opened #5172 "Document Expected patterns for standard cmdlets"
### Description

Document the expected patterns for standard cmdlets, including description, required parameters sets, output types, and execution properties, code snippets, and canonical tests.  Standard cmdlets should include

- [x] Get- cmdlets for top level resource, sub-resource
- [x] Set-cmdlets (PUT) for top level resource, sub resource
- [x] Set-cmdlets (PATCH) for top-level resource, sub-

[2017-12-21 19:18] markcowl opened #5173 "Implement canonical Job2 class in common code for use with asynchronous tasks"
### Description

- [ ] Define a base class for modeling asynchronous tasks as jobs
- [ ] Define a standard pattern for reporting progress, information, errors, and output during task execution
- [ ] Document usage of the class in cmdlets, including sample usage and required tests

### Cost: 6

[2017-12-21 19:21] MiYanni opened #5174 "Get-AzureRmWebApp doesn't return type properly for Select statement piping"
### Cmdlet(s)
Get-AzureRmWebApp
### PowerShell Version
PSVersion: 5.1.16299.98
### Module Version
4.0.0 (AzureRM.Websites)
### OS Version
BuildVersion: 10.0.16299.98
### Description
The type information returned for Get-AzureRmWebApp doesn't seem to be known when piping. I believe this needs stated explicitly when creating the command.
### Debug Output
(Too much debug output since it is retrieving

[2017-12-21 19:22] markcowl opened #5175 "Define new common code classes for standard cmdlet patterns"
### Description

Using the patterns defined in #5172 Implement new common code classes that implement these patterns.
- [ ] Define a minimal set of data (types, operations) that cmdlet author must implement to correctly follow the patterns
- [ ] Explore if these classes can be helpers or extensions, usable from script cmdlet definitions
- [ ] Add developer documentation on the common code classes

[2017-12-21 19:36] MiYanni opened #5177 "Create test automation for analyzing/validating type output for cmdlets"
### Description
This idea was spawned from #5174.

Currently, there is no validation/consistency around the output/piping for the cmdlets. We should make a way to check generic CRUD operations to see if they output the correct types to work with other standard PS cmdlets.
For example:
`Get-AzureRm[Thing] | Select -Property [PropFromThing]`
`Get-AzureRm[Thing] | Select -Last 1`

From these, we can

[2017-12-21 21:17] markcowl commented on #3968
Some details in #4571

[2017-12-21 21:17] #4571 closed

[2017-12-22 04:14] Anmolgan81 commented on #1283
Check if the app service plan does not contain any vnets attached to it, and if yes then move those resources with the vnet

[2017-12-22 09:00] DavidD-SE commented on #5168
Hi @markcowl , sorry for my typing mistake. I rerun the cmdlet, now with the right name.
For me the issue still persists, my variable '$BackupContainer' is not filled with the Container Object when using the -FriendlyName Parameter, neither using -FriendlyName $vmname, nor -FriendlyName 'nameofvm'.

[2017-12-22 11:31] danmcloughlin666 commented on #3056
The Update-ModulesInAutomationToLatestVersion  works pretty well, but what if I wanted to specify set versions for my modules?

Running a 'New-AzureRmAutomationModule' command against the core automation modules still produces the same error:

Error importing the module Azure.Storage. Import failed with the following error: Orchestrator.Shared.AsyncModuleImport.ModuleImportException: An error occu

[2017-12-22 21:08] MiYanni opened #5180 "Import-AzureRmAutomationRunbook params -LogProgress and -LogVerbose take booleans"
### Cmdlet(s)
Import-AzureRmAutomationRunbook
### PowerShell Version
PSVersion                      5.1.16299.98
### Module Version
4.1.1
### OS Version
BuildVersion                   10.0.16299.98
### Description
These 2 parameters for Import-AzureRmAutomationRunbook are boolean flags that take in a boolean value. Right now, if these flags are not present, they logically default to false. The doc

[2017-12-22 21:52] ahmedelnably opened #5181 "Set-AzureRmAppServicePlan errors out for a Premium V2 App Service plans"
### Cmdlet(s)
Set-AzureRmAppServicePlan
### PowerShell Version
All
### Module Version

### Description
Error:
: Set-AzureRmAppServicePlan : Input string was not in a correct format.
At line:4 char:1
+ Set-AzureRmAppServicePlan -Name ' ...
+ ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    + CategoryInfo          : CloseError: (:) [Set-AzureRmAppServicePlan], FormatExceptio

[2017-12-23 00:25] MiYanni opened #5182 "Documentation refinement... The Azure Service Principal Adventure"
### User Scenario
I want to create an Azure Service Principal for running PowerShell scripts on Jenkins.

### The Story
So, the adventure starts here:
https://docs.microsoft.com/en-us/azure/azure-resource-manager/resource-group-authenticate-service-principal
Scanning this document, it looks like it shouldn't take long... 15 mins tops. Looking at the three options, password, self-signed certificate

[2017-12-23 01:37] MiYanni opened #5183 "Generic Wait logic for Azure Jobs and Provisioning... and beyond!"
### Cmdlet(s)
[Wait-AzureRmBackupJob](https://docs.microsoft.com/en-us/powershell/module/azurerm.backup/wait-azurermbackupjob)
[Wait-AzureRmDataLakeAnalyticsJob](https://docs.microsoft.com/en-us/powershell/module/azurerm.datalakeanalytics/Wait-AzureRmDataLakeAnalyticsJob)
[Wait-AzureRmHDInsightJob](https://docs.microsoft.com/en-us/powershell/module/azurerm.hdinsight/wait-azurermhdinsightjob)
[Wait

[2017-12-23 18:20] Tarjei99 opened #5184 "Get-AutomationPSCredential problem in Azure Portal PowerShell window"
### Cmdlet(s)

AzureAutomationAuthoringToolkit
Get-AutomationPSCredential

### PowerShell Version

PSVersion                      5.1.14393.1480
PSEdition                      Desktop
PSCompatibleVersions           {1.0, 2.0, 3.0, 4.0...}
BuildVersion                   10.0.14393.1480
CLRVersion                     4.0.30319.42000
WSManStackVersion              3.0
PSRemotingProtocolVersion      2

[2017-12-26 06:32] chhabaramesh opened #5187 "Set-AzureVMDiagnosticsExtension automated test"
### Cmdlet(s)

Set-AzureVMDiagnosticsExtension

### Description

Add test for Windows diagnostics agent configuration schema update to support Azure Monitor as a sink.

[2017-12-27 03:07] cameronattard commented on #2085
+1. This would be really useful for us.

[2017-12-27 03:10] lachlanbb commented on #2085
+1 this would be very nice to have.

[2017-12-27 03:53] sdwheeler opened #5188 "What cmdlet replaced Get-AzureRMEventHubNamespaceKey?"
Customer question via LiveFyre:

### Description
Cmdlet Get-AzureRMEventHubNamespaceKey is not available in v5 and newer. Which cmdlet replaces it? How do we retrieve the connection string info for an event hub namespace via powershell?

### Module Version
AzureRM.EventHub

[2017-12-27 10:21] axelgMS opened #5189 "StorageAccountLocationMismatch because of TryToChooseExistingStandardStorageAccount()"
### Cmdlet(s)

    New-AzureRmVM -ResourceGroupName $rg -Location $OriginalVM.Location -VM $NewVM -DisableBginfoExtension -debug -verbose

### PowerShell Version
Instructions: to get PowerShell version, type `$PSVersionTable` and look for the value associated with `PSVersion`

Version           : 5.1.1

### Module Version

### OS Version
Instructions: to get OS version, type `$PSversionTable` and

[2017-12-27 18:47] MiYanni opened #5192 "Get-AzureRmRoleAssignment throws unhandled exception on Service Provider account"
### Cmdlet(s)
Get-AzureRmRoleAssignment
### PowerShell Version
PSVersion                      5.1.16299.98
### Module Version
5.1.1      AzureRM.Resources
### OS Version
BuildVersion                   10.0.16299.98
### Description
While logged into a Service Provider account, Get-AzureRmRoleAssignment (no params) throws an unhandled Microsoft.Rest.Azure.CloudException.
### Debug Output
DEBUG: ====

[2017-12-27 19:06] MiYanni opened #5193 "Incorrect Get-AzureRmRoleAssignment example in docs (non-existent param set)"
### Cmdlet(s)
Get-AzureRmRoleAssignment
### PowerShell Version
PSVersion                      5.1.16299.98
### Module Version
5.1.1      AzureRM.Resources
### OS Version
BuildVersion                   10.0.16299.98
### Description
Example 2 here: https://docs.microsoft.com/en-us/powershell/module/azurerm.resources/get-azurermroleassignment?view=azurermps-5.1.1
Attempting to call that example state

[2017-12-27 19:08] maddieclayton commented on #5188
Hi @sdwheeler: Per [the migration guide](https://github.com/Azure/azure-powershell/blob/preview/documentation/release-notes/migration-guide.5.0.0.md#get-azurermeventhubnamespacekey), Get-AzureRmEventHubNamespaceKey has been replaced by Get-AzureRmEventKey.  I'll close this issue as resolve, but feel free to reopen if you continue to have issues and I'll redirect you to the correct team.

[2017-12-27 19:08] #5188 closed

[2017-12-27 19:13] maddieclayton commented on #5189
@nibhat Can you take a look?

[2017-12-27 19:34] SriHarsha001 opened #5194 "'AzureRM.Insights' | Unable to create guest metric alerts using PowerShell SDK"
Cmdlet -
-----------------------------------------------------------------------------
Add-AzureRmMetricAlertRule

PowerShell Version -
-----------------------------------------------------------------------------
5.1.16299.98

Module Version -
-----------------------------------------------------------------------------
10.0.16299.98

Description -
------------------------------------------------

[2017-12-27 19:41] maddieclayton commented on #5194
@gucalder Can you take a look?

[2017-12-27 20:18] alexandair commented on #5183
I like your ideas for a generic Wait logic.
Btw, Start-Azure​RmAutomation​Runbook has the Wait parameter.

[2017-12-27 20:23] TimLovellSmith opened #5197 "Is AdditionalUnattendContent really 'base64 encoded'..?"
I refer to this doc comment in azure-powershell/src/ResourceManager/Compute/Stack/Commands.Compute/Generated/Models/WindowsConfiguration.cs :

[code]

I don't think it is correct? The documentation in the AdditionalUnattendContent class mentions nothing about base 64 encoding, and I haven't seen anyone ever actual do base 64 encoding in the samples of this class or the Add-AzureRmVMAdditionalUnatt

[2017-12-28 12:57] dragonfly91 commented on #5089
Hi @DavidD-SE , the -FriendlyName filter is case sensitive. Please use the proper case to get the item that you need. I'm closing this as a non-issue.

Thanks,
Anudeep.

[2017-12-28 12:57] #5089 closed

[2017-12-28 19:02] VJayMeyer commented on #3636
I re-wrote my query to use the Where-Object cmdlet. Such as:-

$Disk = Get-AzureRmDisk -ResourceGroupName $ResourceGroupName |? DiskName -eq $OSDiskName

[2017-12-28 19:26] MiYanni commented on #5183
@alexandair Thanks for letting me know that Start has -Wait. It is quite convoluted, though. If you don't -Wait, the cmdlet returns a Job object. However, you can't wait on this job object. Meaning, if I want to start a bunch of Runbooks (not using -Wait) and wait for all of them to finish, I can't. That's standard Async design. Tell a bunch of stuff to run and wait for it all to finish. With the

[2017-12-28 20:35] aceptra commented on #4975
On the documentation https://docs.microsoft.com/en-us/sql/relational-databases/lesson-1-create-stored-access-policy-and-shared-access-signature it specifies "This script is written using Azure PowerShell 5.0.10586".

Uninstalling AzureRM 5.1.1, falling back to 5.0.1. worked for me.

Something like this:
`
# See what you are currently running.
Get-Module AzureRM -list | Select-Object Name,Version,P

[2017-12-28 20:48] MiYanni opened #5199 "Show Aliases on cmdlet docs page"
### Cmdlet(s)
https://docs.microsoft.com/en-us/powershell/module/azurerm.profile/set-azurermcontext?view=azurermps-5.1.1
### Description
Certain AzureRm cmdlets have commonly used aliases. For example, Set-AzureRmContext has Select-AzureRmSubscription as an alias. However, if you search the internet for Select-AzureRmSubscription, you don't find a doc for it. It generally results in Select-AzureSu

[2017-12-28 22:16] MiYanni commented on #4804
@twitchax I have an issue with Remove-AzureRmResourceGroup -Force that may/may not be related. Or may even be a bug. I have a resource group that has been 'stuck' deleting itself. It has been like this for a few hours. The only resource in the RG is a Classic Storage account. As far as I can tell, it will never succeed at deleting the RG.
![image](https://user-images.githubusercontent.com/17788297

[2017-12-29 11:09] takekazuomi opened #5201 "Set-AzureRmKeyVaultAccessPolicy with UPN, Error 'Sequence contains more than one element'"
### Cmdlet(s)

### PowerShell Version
PSVersion 5.1.17063.1000

### Module Version
AzureRM.KeyVault 4.0.1

### OS Version
10.0.17063.1000
10.0.16299.98

### Description
Set-AzureRmKeyVaultAccessPolicy with UPN fails. UPN was checked with Get-AzureRmADUser.

[code]

### Debug Output

[code]

## My simple triage
1. In logs, Graph Query dose't include condition.
[code]

2. with EmailAddress, Its work

[2017-12-29 12:03] 4c74356b41 commented on #4804
@MiYanni I doubt this is in anyway related to powershell, powershell just sends a request and waits for it to finish. nothing powershell can do to fix this. something wrong on the RP level. some long running operation is preventing the RP to delete the storage

[2017-12-29 18:10] ahmedelnably opened #5202 "Request: ARM equivalent for Publish-AzureWebsiteProject"

[2017-12-29 21:40] GoodbyeWorld commented on #1200
@cormacpayne

Is there any way to set the job name for the backgrounded jobs?

Here's my use-case: Azure is doing maintenance and I need to `Restart-AzureRmVm -PerformMaintenance -ResourceGroupName $resourceGroupName -Name $vm -AsJob` a very large number of VMs in a loop.

Once the loop is complete, I monitor status of the jobs using `Get-Job`.  How do I know which job is which?  When I see a fail

[2017-12-29 23:07] takekazuomi commented on #5201
## workaround
Use EmailAddress option. -EmailAddress  use AAD UserPrincipalName for query condition.

https://github.com/Azure/azure-powershell/blob/preview/src/Common/Commands.Common.Graph.RBAC/ActiveDirectory/ActiveDirectoryClient.cs#L190

I doubt whether this is a good design. However, the current code searches for UserPrincipalName in the case of '-EmailAddress'.

[2017-12-30 00:17] MiYanni commented on #5162
Notes so far:
- The PowerShell session needs to run as Administrator.
- This needs to run prior to the script: `Set-PSRepository -Name PSGallery -InstallationPolicy Trusted`
- Resource Group and Storage Account names are not unique.
  - AzureRM.Storage\New-AzureRmStorageAccount : The storage account named azurepsdriveteststorage is already taken.
- I'm going to fork their code with the changes men

[2017-12-30 00:58] ivanl8 opened #5204 "New-AzureRMAppServicePlan doesn't support isolated SKU with ASEv2"
### Cmdlet(s)
New-AzureRMAppServicePlan

### PowerShell Version
Instructions: to get PowerShell version, type `$PSVersionTable` and look for the value associated with `PSVersion`
PSVersion                      5.1.16299.98

### Module Version

### OS Version
Instructions: to get OS version, type `$PSversionTable` and look for value associated with `BuildVersion`
10.0.16299.98

### Description
Afte

[2017-12-30 10:16] 4c74356b41 commented on #1200
Actually I would second that, how do we go about that? or any other long running operations you just launch and forget and need to check the state?

[2017-12-30 18:51] pcgeek86 commented on #1200
As a temporary work-around, you could use the `Add-Member` command to add a new `NoteProperty` named `VMName` (or something else of your choice) to each job PowerShell Job object.

**This hasn't been tested**, but it might look something like ....
[code]

[2017-12-31 09:25] 4c74356b41 commented on #1200
this is one of those: "I cant believe it worked" moments, thanks!

[2018-01-01 22:22] dwgray commented on #1283
@barborico when I delete the SSL cert from my web app I then get "Cannot move selected combination of resources. The resource: '/subscriptions/[SUBSCRIPTIONID]/resourceGroups/Default-Web-WestUS/providers/Microsoft.Web/certificates/[CERTID]' is missing from the move request. Please select all the resources in the source subscription and resource group so that they can be moved together."  I verifie

[2018-01-01 23:56] WhitWaldo opened #5205 "Getting an error when using Set-AzureKeyVaultSecret"
### Cmdlet(s)
Set-AzureKeyVaultSecret

### PowerShell Version
Local PC
5.1.16299.98

### Module Version
4.0.1

### OS Version
10.0.16299.98

### Description
I am getting an error message when attempting to add a local certificate to the Key Vault:
`Set-AzureKeyVaultSecret : Method not found: 'System.String Microsoft.Azure.KeyVault.Models.SecretAttributes.get_RecoveryLevel()'`

I found this previou

[2018-01-02 00:05] WhitWaldo commented on #5205
Attempted a last-ditch attempt to re-install from the gallery.

Install-Module AzureRM -AllowClobber (from an admin prompt, hit Y)
Import-Module AzureRM

Works like a charm again!

[2018-01-02 00:05] #5205 closed

[2018-01-02 09:36] Anmolgan81 commented on #1283
@dwgray Use the Azure Explorer and search for the existing certificate, delete it by checking the Resource ID. Then Try to Move

[2018-01-02 10:24] pixelicous commented on #1524
+1

This is amazingly annoying, also happens in terraform.. This must be resolved

[2018-01-02 10:25] pixelicous commented on #5117
What about solving current issues? such as dns replication issues? #1524

[2018-01-02 10:53] Altaf263 commented on #1283
@barborico  +1 for the explanation though i have solved it long back using the same steps.

@dwgray From where are you trying to delete the cert? I hope you are not unchecking the certificate from the resources being moved assuming it to be deleted.  If there is a certificate attached to app service , We have to navigate to  SSL certificates section and delete the certificate and then we will be a

[2018-01-02 15:20] Zazcallabah commented on #4491
If we aren't supposed to use PSADKeyCredental objects, how are we supposed to call New-AzureRmADApplication with the ApplicationWithPasswordCredentialParameterSet?

[2018-01-02 16:39] markcowl commented on #5192
@MiYanni What is returned by ```Resolve-AzureRmError``` in this case?  Insufficient privileges is expected, because you also need to have access to graph to list the graph entities referenced in role assignments, but we should print a more helpful error that points at how to resolve the problem (giving your application sufficient privileges).

[2018-01-02 16:41] markcowl commented on #5197
@bganapa Can you take a look?

[2018-01-02 16:44] markcowl commented on #5199
@twitchax need a general strategy for how to deal with cmdlet aliases in the documentation, especially in cases like this, where the alias is perhaps more user-friendly than the cmdlet name

[2018-01-02 16:48] markcowl commented on #5202
@Nking92 Can you take a look at this?

[2018-01-02 16:50] markcowl commented on #5174
@MiYanni  Can you please verify that adding the correct ```OutputType``` attrbitue resolves this problem.  If  so, let's update this issue to add this capability to the signature verifier.  My suspicion is that, for Get cmdlets, you must have anb attribute that specifies the underling ourput type, and not simply an enumerable type, but please verify directly on this cmdlet.

[2018-01-02 16:54] markcowl commented on #5180
@MiYanni It is recommended to avoid boolean parameters except in very specific circumstances (PATCH operations with several boolean vaules).

This is an example of a legacy cmdlet that is not up to compliance.  We need to work with Varad and the Auotmation team to have the bad interface deprecated and fixed at the next breaking change release.

[2018-01-02 16:55] markcowl commented on #5180
@vrdmr Can you go through the current cmdlet interface for automation and deprecate this and other similar patterns?  It would be great to include this change in the next breaking change release (BUILD)

[2018-01-02 17:01] markcowl commented on #5182
@MiYanni Please provide recommendations on specific documentation changes to remedy this.  For example,
- which documents referred to 'default subscription'
- did either of the scripts work out of the box, or did you need to edit them to get them to work (and what documentation changes would be needed to fix them).
- what changes to cmdlets or cmdlet help would have fixed this?

[2018-01-02 17:07] markcowl commented on #5183
@MiYanni Do these cmdlets return a ```Job``` object that can be used with ```Wait-Job```  (and the other job-related cmdlets)?  This is the standard for new cmdlets but these cmdlets pre-date the standard.

If not, let's change the issues to make these cmdlets fit the standard (default = wait, -AsJob = return Job)

[2018-01-02 17:12] markcowl commented on #5184
What is ```Get-AutomationCredential```?  This isn't a cmdlet that ships with Azure PowerShell, is this your own script, a script that ships with CloudShell, or something else?

If this is something that shos with the AzureAutomationToolkit, please file this issue with the owners of that toolkit, it does not ship as part of Azure PowerShell.

[2018-01-02 20:37] MiYanni opened #5207 "Get-AzureRmAutomationJobOutput -Stream param allows Debug, when it isn't captured"
### Cmdlet(s)
Get-AzureRmAutomationJobOutput
### PowerShell Version
5.1.16299.98
### Module Version
4.1.1
### OS Version
10.0.16299.98
### Description
As described here (https://docs.microsoft.com/en-us/azure/automation/automation-runbook-output-and-messages), Azure Automation jobs do not store Debug information as part of their output object. However, the [Get-AzureRmAutomationJobOutput](https://

[2018-01-02 20:48] bganapa commented on #5197
@TimLovellSmith , the code path you are referring to is specific to azure stack compute module.  Can you please provide more details on what you are trying to do and what is failing?

[2018-01-02 20:49] bganapa commented on #4813
PR - https://github.com/Azure/azure-powershell/pull/5011/

[2018-01-02 20:52] bganapa commented on #4615
@ravbhatnagar , Can we remove this excessive logging for every 5 seconds and do some kind of backoff logging? or do this only when verbose preference is set?

[2018-01-02 20:59] bganapa commented on #4611
In Federated ADFS, silent auth is supported only for service principals. So this is expected

[2018-01-02 20:59] #4611 closed

[2018-01-02 21:03] bganapa commented on #4367
We have the tests in PR

[2018-01-02 21:03] #4367 closed

[2018-01-02 21:06] bganapa commented on #4925
This affected only the development environment where we worked around the issue. It is not affecting any production environments, keeping it low pri

[2018-01-02 21:10] bganapa commented on #2430
The module is not packaged part of AzureRm anymore.  We have a new uber module AzureStack for azurestack specific modules

[2018-01-02 21:10] #2430 closed

[2018-01-02 21:26] Tarjei99 commented on #5184
Hi,

It looks like this is a case of the left hand not knowing what the right
hand does.

If you google for Get-AutomationPSCredential you will find that it is
indeed used in Azure and is somewhat official. At least official enough to
be mentioned in the official documentation and blogs. For some reason it
has not been included where it can be easily found.

Credential assets in Azure Automation
<

[2018-01-02 22:18] MiYanni commented on #5192
@markcowl
PS C:\WINDOWS\system32> Resolve-AzureRmError

   HistoryId: 4

RequestId      :
Message        : Exception of type 'Microsoft.Rest.Azure.CloudException' was thrown.
ServerMessage  : :  (System.Collections.Generic.List`1[Microsoft.Rest.Azure.CloudError])
ServerResponse : {Forbidden}
RequestMessage : {POST
                 https://graph.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47/getO

[2018-01-02 22:24] TimLovellSmith commented on #5197
@bganapa To be clear, its not that something I am doing is *failing*, since I am not using powershell, it's just that I think the statement it should be base64 encoded is probably wrong based on my past experience with the .net sdk.

[2018-01-03 00:47] MiYanni commented on #5182
@markcowl
- Which documents referred to 'default subscription'?
  - https://docs.microsoft.com/en-us/azure/azure-resource-manager/resource-group-authenticate-service-principal#create-service-principal-with-password
  - https://docs.microsoft.com/en-us/azure/azure-resource-manager/resource-group-authenticate-service-principal#create-service-principal-with-self-signed-certificate
- Did either of the

[2018-01-03 15:24] MrGlenThomas opened #5209 "Set-AzureRole returns 'InternalError' when scaling large number of instances"
### Cmdlet(s)
Set-AzureRole

### PowerShell Version
Instructions: to get PowerShell version, type `$PSVersionTable` and look for the value associated with `PSVersion`

Not sure as command is being run from a server I don't personally have access to. In the log I can see this (but not sure if relevant):

### Module Version

### OS Version
Instructions: to get OS version, type `$PSversionTable` and

[2018-01-03 15:39] cacarroll opened #5210 "New-AzureRmResourceLock help needs to be udpated"
### Cmdlet(s)
New-AzureRmResourceLock

### PowerShell Version
5.1.16299.98

### Module Version
5.1.1

### OS Version
10.0.16299.98

### Description
The help for New-AzureRmResourceLock states that the only valid lock type is "CanNotDelete."

However, ReadOnly is also a valid setting.

### Debug Output
    -LockLevel <LockLevel>
        Specifies the level for the lock. Currently, the only valid va

[2018-01-03 16:12] sdwheeler opened #5211 "Set-AzureRmSqlDatabaseSecondary docs missing example"
Set-AzureRmSqlDatabaseSecondary docs missing example. Reported by customer via LiveFyre.

### Cmdlet(s)
Set-AzureRmSqlDatabaseSecondary

### Module Version
Current release

### Description
See
- https://docs.microsoft.com/en-us/powershell/module/azurerm.sql/set-azurermsqldatabasesecondary
- https://github.com/Azure/azure-powershell/blob/preview/src/ResourceManager/Sql/Commands.Sql/help/Set-AzureRm

[2018-01-03 17:47] MiYanni commented on #5183
@markcowl
The Job object that can be used by `Wait-Job` is either `System.Management.Automation.Job` or `System.Management.Automation.Job2` from my understanding. After looking at the code:
_Note: [ ] names are the root base class_
- Wait-AzureRmBackupJob: **No** [AzureBackupVaultContextObject]
- Wait-AzureRmDataLakeAnalyticsJob: **No** [JobInformationBasic]
- Wait-AzureRmHDInsightJob: **No** [Azu

[2018-01-03 18:14] maddieclayton commented on #5211
@akromm @jaredmoo Can you take a look at this and get it assigned to the correct person? Thank you.

[2018-01-03 19:28] bganapa opened #5212 "Stack: Update Profile module dependencies to be greater than or equal to"
The next stack specific release should update the dependencies to be greater than or equal to on Profile module

[2018-01-03 19:37] bganapa opened #5213 "Stack: Include AzureRM.Insights module as part of stack specific AzureRm module"

[2018-01-03 20:34] maddieclayton opened #5214 "Network Test Coverage"
### Description
Many cmdlets in the Network module are missing tests or do not fully test the functionality of the cmdlet.  This is blocking the addition of -AsJob for these cmdlets because we cannot add tests for this functionality of the -AsJob parameter.  Details about the cmdlets and the specifics about what is missing in terms of testing is listed below:

- [ ] Remove-AzureRmRouteFilter: No t

[2018-01-03 20:40] MiYanni commented on #5174
@markcowl The attribute assumption is actually incorrect! Type resolution is still determined dynamically (based on return type). The problem in this case is that each of their `WriteOutput` statements, they are returning a List. That's totally fine to do, but they needed to set [enumerateCollection ](https://docs.microsoft.com/en-us/dotnet/api/system.management.automation.cmdlet.writeobject?view=

[2018-01-03 20:44] maddieclayton opened #5215 "Compute Test Coverage"
Many cmdlets in the Compute module are missing tests or do not fully test the functionality of the cmdlet.  This is blocking the addition of -AsJob for many of these cmdlets because we cannot add tests for this functionality of the -AsJob parameter.  Once the tests are updated to fully cover these cmdlets, the -AsJob parameter can be added (details [here](https://github.com/Azure/azure-powershell/

[2018-01-03 20:46] maddieclayton opened #5216 "Resources Test Coverage"
Two cmdlets in the Network module are missing tests or do not fully test the functionality of the cmdlet.  This is blocking the addition of -AsJob for these cmdlets because we cannot add tests for this functionality of the -AsJob parameter.  Once the tests are updated to fully cover these cmdlets, the -AsJob parameter can be added (details [here](https://github.com/Azure/azure-powershell/wiki/Powe

[2018-01-03 21:22] MiYanni commented on #5162
@markcowl The CloudTest Jenkins job is up and running. Tested failure and success conditions. Currently, the script does Import-Module on each component (Resources, Profile, Storage, Network, and Compute). So, this will draw from what is on the Gallery. The Jenkins job also is pulling from my branch, so we'd need to push those changes to their repo if we want to pull from there. Should we just wai

[2018-01-03 21:44] MiYanni commented on #4439
@markcowl Is this task outdated? It seems that you added the Stack building logic to the `build.proj` in September. Since then, it looks like the PowerShell job on Jenkins has been building the Stack.sln during every build. What is the ask here? Since `/p:Scope` is not specified when the build is ran, it defaults to 'all', which includes Stack.

[2018-01-03 22:18] MiYanni opened #5217 "Get-AzureRmAutomationJobOutputRecord should return concrete Value type"
### Cmdlet(s)
Get-AzureRmAutomationJobOutputRecord
### PowerShell Version
5.1.16299.98
### Module Version
4.1.1
### OS Version
10.0.16299.98
### Description
Currently, `Get-AzureRmAutomationJobOutputRecord` returns a `JobStreamRecord`. This class contains a Value property. This property holds the information for the output record. Meaning, the information that is useful if you are trying to gather

[2018-01-04 03:40] blueww commented on #5122
Fixed in https://github.com/Azure/azure-powershell/pull/5157#event-1408172118

[2018-01-04 03:40] #5122 closed

[2018-01-04 03:42] blueww commented on #4979
Fixed most  issues in https://github.com/Azure/azure-powershell/pull/5157
There are still some left mismatch between online help doc and help file in source coding, which is following with mail. But all change that can be done in source code is done.

[2018-01-04 03:42] #4979 closed

[2018-01-04 11:16] jouniheikniemi opened #5221 "New-AzureRmServiceBusSubscription returns Bad Request on invalid topic name"
New-AzureRmServiceBusSubscription errors with "Operation returned an invalid status code 'BadRequest'" if you pass in a queue name with the Topic parameter. Sounds stupid, but it's actually a fairly easy mistake to make if you have queues and topics with similar names - burned a couple of hours on this. It's slightly better if you pass a bogus name - the result is "Operation returned an invalid st

[2018-01-04 14:52] vermegi opened #5222 "Set-AzureRmAppServicePlan throws CloudException on ASE v2"
### Cmdlet(s)

Set-AzureRmAppServicePlan

### PowerShell Version

5.1.16299.98

### Module Version

### OS Version

10.0.16299.98

### Description

After creating an ASE v2 with a Small App Service Plan, I try to scale up the App Service Plan to Medium, this fails with a CloudException. However the App Service Plan comes in the 'Scaling' state and after about 20 minutes will be scaled to the corre

[2018-01-04 17:20] markcowl commented on #5209
@MrGlenThomas Can you try this with a more recent version of the module?  Azure is now at version 5.1.1, this version is more than 2 years old.  You can use Install-Module, or install from the webpi feed, or the repo here: https://github.com/Azure/azure-powershell/releases/download/v5.1.1-December2017/azure-powershell.5.1.1.msi

[2018-01-04 17:21] lpfeup commented on #2683
I am also having this issue (Get-AzureRmSubscription shows 2 subscriptions, while Get-AzureSubscription shows only 1) with version 5.1.1 for both Azure and AzureRM)

[2018-01-04 17:27] markcowl commented on #5210
@ravbhatnagar @vivsriaus Can you take a look?

@cacarroll Note that you can submit a PR to update this into this repo directly, or by clickign the edit button for this page on docs.microsoft.com

[2018-01-04 17:28] markcowl commented on #5217
@vrdmr can you take  a look?

[2018-01-04 17:33] markcowl commented on #5221
@jouniheikniemi What is displayed when you execute Resolve-AzureRmError after this error occurs?  This should show the details of the error, and help to diagnose the issue.

Agreed that the default message in this case should be a bit more illuminating.

[2018-01-04 18:12] markcowl commented on #5030
@blueelvis @blueww The bigger issue is, why do we need to instantiate types from the storage library in a PowerShell script.  Ideally, I should be able to implement storage scenarios using cmdlets and simple parameter types.

[2018-01-04 19:13] bganapa opened #5224 "Stack: Add per module change logs in future releases"

[2018-01-04 22:10] viananth opened #5229 "AzureStack: ADFS: Get-AzureRmRoleAssignement throws GUID error"
### Cmdlet(s)
Get-AzureRmRoleAssignement

### PowerShell Version
5.1.14393.1910

### Module Version
Azure RM 1.2.11

### OS Version
10.0.14393.1910

### Description
Get-AzureRmRoleAssignment tries to convert Object Id (which is SID) to Guid and throws the following error though all the role assignments were returned correctly:

### Debug Output

`PS C:\Users\AzureStackAdmin\Documents\AzureStack-To

[2018-01-04 23:19] MiYanni opened #5230 "New-AzureRmStorageAccount returns null EnableHttpsTrafficOnly if not explicitly passed in"
### Cmdlet(s)
New-AzureRmStorageAccount
### PowerShell Version
5.1.16299.98
### Module Version
4.0.1
### OS Version
10.0.16299.98
### Description
**This is a breaking change over previous functionality.** Up to the 1st of January, calling `New-AzureRmStorageAccount` without specifying `-EnableHttpsTrafficOnly` would create a storage account where EnableHttpsTrafficOnly is set to **False**. Now (2n

[2018-01-05 00:28] MiYanni opened #5231 "Set-AzureRmStorageAccount: KeyName, KeyVaultUri, KeyVersion doc descriptions"
### Cmdlet(s)
Set-AzureRmStorageAccount
### Description
https://docs.microsoft.com/en-us/powershell/module/azurerm.storage/set-azurermstorageaccount?view=azurermps-5.1.1
The doc descriptions for KeyName, KeyVaultUri, and KeyVersion are just an auto-generated chain of properties. Update the documentation so they are human readable descriptions.

[2018-01-05 02:00] blueww commented on #5231
The description of the 3 properties are already updated in PR https://github.com/Azure/azure-powershell/pull/5157

[2018-01-05 02:02] #5231 closed

[2018-01-05 03:22] dwgray commented on #1283
@Altaf263 I went to the App Services blade, chose SSL certificates, clicked on the SSL bindings, deleted each of them then clicked on the Private Certificates and deleted each of the certificates (there was a binding for the bare domain name and one for the domain with the www subdomain and there was the current cert and two previous certs).

Then I went to resource groups, chose my web resource g

[2018-01-05 04:10] blueww commented on #5230
@MiYanni
This looks like a Server issue, since powershell send same properties to server, but server returns different value.

I have tried several times with New-AzureRmStorageAccount in AzureRM.storage 4.0.1 in my subscription, but can't repro the issue.

I will contact the SRP team to see if they have any idea on the server behavior change.

[2018-01-05 06:52] Anmolgan81 commented on #1283
@dwgray I dont know about the tools, but its preety straight forward, you just need to look at the resource ID when you try to move the resources, look at the error which you are getting there will be a resource ID there. Get the details from there and goto the Azure storage explorer under Microsoft.certificates (If i am correct), look for the certificate thats causing the error and delete it and

[2018-01-05 08:51] blueww commented on #5030
@markcowl
Currently, not all API in XSCL has related cmdlet  in PowerShell.
Especially for this case of table, PowerShell cmdelts only can new/remove/get tables, but can't manage the entities in table. So there are some script which unitlize the XSCL API/objects and powershell cmdelts to manage table entities.
We have some doc for this kind script before, but currently seems the doc are removed, s

[2018-01-05 11:12] scottrangerio opened #5233 "New-AzureRmLogicApp: The integration account id must be provided in the 'integrationAccount' property of the workflow"
### Cmdlet(s)
New-AzureRmLogicApp

### PowerShell Version
5.1.14393.1884

### Module Version
Get-Command New-AzureRMLogicApp

CommandType     Name                                               Version    Source
Cmdlet                  New-AzureRmLogicApp                  4.0.0         AzureRM.LogicApp

### OS Version
10.0.14393.1884

### Description
Note: I'm not sure whether this fault is with th

[2018-01-05 16:38] MrGlenThomas commented on #5209
I have done some testing with a newer version, but not the newest.
 - Loaded Azure Modules 4.3.1
 - Loaded AzureRM.Profile Modules 3.3.1
 - Loaded AzureRM.Resources Modules 4.3.1
 - Loaded AzureRM.Automation Modules 3.3.1

I am in the process of getting the latest version installed still..

I tried scaling again on a different environment with 24 instances and the scaling operation completed fine

[2018-01-05 17:32] MrGlenThomas commented on #5209
I tried again with the latest version:
 - Loaded Azure Modules 5.1.1
 - Loaded AzureRM.Profile Modules 4.1.1
 - Loaded AzureRM.Resources Modules 5.1.1
 - Loaded AzureRM.Automation Modules 4.1.1

And this time the scaling completed successfully in just over 17 minutes (17m11s), so _maybe_ the issue is fixed..

[2018-01-05 18:20] scottrangerio commented on #5233
Having dug into this a little further, I think the fault lies with the azure-rest-api-specs

https://github.com/Azure/azure-rest-api-specs/blob/ded42c8765ce911f777031cca04543332e164766/specification/logic/resource-manager/Microsoft.Logic/stable/2016-06-01/logic.json#L3158-L3165

defines the resource id as readonly, which results in the generated code missing a public setter, causing it not to be s

[2018-01-05 19:24] bganapa opened #5235 "Stack: Provide -AsJob parameter support for relevant stack admin modules"
ToDo- To update with the needed cmdlets

[2018-01-05 19:33] maddieclayton commented on #5121
Done

[2018-01-05 19:33] #5121 closed

[2018-01-05 21:10] bganapa opened #5237 "Stack: Deprecate AzureRM.AzureStackAdmin and AzureRM.AzustackStorage modules with new Azs..* modules"

[2018-01-06 17:23] srinivan commented on #4351
Is there any ETA for fixing this issue? We are creating work around for creating transient clusters. A fix will be very helpful.

[2018-01-06 19:36] dwgray commented on #1283
@Anmolgan81 I'm sorry, I feel like I'm being dense here.  In portal.azure.com which is the default place I use to manage my Azure resources, the only search functionality I am aware of is the search bar at the top - searching for the resource ID there doesn't yield any results.  So I'm looking for guidance as to what you mean when you say "Use the Azure Explorer and search..."  or " goto the Azure

[2018-01-06 20:03] Anmolgan81 commented on #1283
Ill expalin this in my upcoming mail

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: David W. Gray <notifications@github.com>
Sent: Sunday, January 7, 2018 1:08:16 AM
To: Azure/azure-powershell
Cc: Anmol Ganju; Mention
Subject: Re: [Azure/azure-powershell] Move-AzureRmResource throws an error when moving a webapp with an SSL certificate between subscriptions

[2018-01-06 23:41] deepakshakya opened #5240 "AzureRm.HDInsight cmdlets are giving errors;"
### Cmdlet(s)
AzureRM.HDInsight

### PowerShell Version

Name                           Value
----                           -----
PSVersion                      6.0.0-rc.2
PSEdition                      Core
GitCommitId                    v6.0.0-rc.2
OS                             Linux 4.4.0-104-generic #127-Ubuntu SMP Mon Dec 11 12:16:42 UTC 2017
Platform                       Unix
PSCompatible

[2018-01-07 04:53] byronwjones commented on #1122
Common behavior != acceptable behavior.  Burglary and vandalism are common behaviors.

[2018-01-07 12:22] pixelicous commented on #1524
Can anyone take a look at this matter????? 2 years after, this is still happening :(

[2018-01-08 10:20] xenalite opened #5241 "Get-AzureRmAutomationJob: HybridWorker property not populated when retrieving list of jobs"
### Cmdlet(s)
Get-AzureRmAutomationJob

### PowerShell Version
5.1.14409.1012

### Module Version
5.1.1

### OS Version
10.0.14409.1012

### Description
When retrieving a list of jobs within a time range, the individual job entries will not have the HybridWorker property populated (among others).

Sample code:
[code]

If I retrieve the job with -Id parameter, the job object has all properties popu

[2018-01-08 13:56] timvandenhof commented on #661
I was looking for this as well, so that we can switch from using Classic commandlets to Azure RM commandlets in our VSTS deployment tasks.

[2018-01-08 17:31] cormacpayne commented on #5241
@vrdmr Hey Varad, would you mind taking a look at this issue? It looks like this might be a `List` vs `Get` issue in the SDK.

Getting jobs by id calls [`GetJob`](https://github.com/Azure/azure-powershell/blob/preview/src/ResourceManager/Automation/Commands.Automation/Common/AutomationClient.cs#L1045-L1055), which calls the [`Get`](https://github.com/Azure/azure-powershell/blob/preview/src/Resourc

[2018-01-08 17:36] cormacpayne commented on #5240
@deepakshakya Hey Deepak, currently we have two sets of rollup modules for different platforms:
- [`AzureRM`](https://www.powershellgallery.com/packages/AzureRM) is the rollup module for cmdlets that can be used on Windows
- [`AzureRM.Netcore`](https://www.powershellgallery.com/packages/AzureRM.Netcore) is the rollup module for cmdlets that can be used on Mac and Linux

Our goal is to convert all

[2018-01-08 17:36] #5240 closed

[2018-01-08 17:41] cormacpayne commented on #5233
@scottrangerio Hey Scott, thanks for investigating this issue and providing a ton of valuable information!

@pankajsn @daviburg would you mind taking a look at this issue?

[2018-01-08 17:44] cormacpayne commented on #5229
@viananth @bganapa please let me know if you would like me to assign this issue back to the contact we have for the Resources team

[2018-01-08 17:49] viananth commented on #5229
@cormacpayne Yes, please assign it to the right contact

[2018-01-08 17:57] cormacpayne commented on #5222
@Nking92 Hey Nick, would you mind taking a look at this issue? It looks like it's a bug in the SDK

[2018-01-08 18:00] cormacpayne commented on #5229
@darshanhs90 Hey Haridarshan, would you mind taking a look at this issue?

[2018-01-08 18:57] MiYanni opened #5243 "Set-AzureRmStorageAccount fails using -DisableEncryptionService"
### Cmdlet(s)
Set-AzureRmStorageAccount
### PowerShell Version
5.1.16299.98
### Module Version
4.1.0
### OS Version
10.0.16299.98
### Description
Basically, I'm running the Test-StorageAccount ScenarioTest from StorageAccountTests.ps1. This section currently fails. It changes the Type, AccessTier, and EncryptionService of the storage account. It currently sends the same HTTP request as the TestSto

[2018-01-08 19:01] vivsriaus commented on #5216
Thanks for bringing this to our attention, @maddieclayton. We can add more checks to existing Remove-AzureRmResourceGroupDeployment test [here](https://github.com/Azure/azure-powershell/blob/preview/src/ResourceManager/Resources/Commands.Resources.Test/ScenarioTests/ResourceGroupTests.ps1#L256)

I'll also add a sample test for Invoke-AzureRmResourceAction cmdlet

[2018-01-08 19:22] maddieclayton commented on #5119
Related issues:
https://github.com/Azure/azure-powershell/issues/5214

[2018-01-08 21:43] twitchax commented on #5182
@sdwheeler for FYI.

[2018-01-08 22:05] sdwheeler commented on #5182
@tfitzmac for FYI - Tom owns the Azure doc [referenced](https://docs.microsoft.com/en-us/azure/azure-resource-manager/resource-group-authenticate-service-principal).

I can look at updating the AzurePS [doc](https://github.com/Azure/azure-docs-powershell/blob/master/docs-conceptual/azurermps-5.1.1/authenticate-azureps.md).

[2018-01-09 00:41] tfitzmac commented on #5182
@MiYanni - thanks for this feedback. I am reviewing it, and looking at how to resolve it. One thing I think we need to do is reduce the number of articles that show similar content. That way we can provide simple, consistent examples.

[2018-01-09 02:15] blueww commented on #5243
@MiYanni

Please add "-StorageEncryption" to the PowerShell cmdlet Set-AzureRMstorageAccount when use -DisableEncryptionService.
You can see the usage in Example 6 in the cmdlet by run: `get-help Set-AzureRmStorageAccount -Examples`
This is caused by Server request Keysource whenever enable or disable Encryption.
There are 2 kinds of Keysource: -KeyvaultEncryption and -KeyvaultEncryption. We can't

[2018-01-09 16:02] DavidD-SE commented on #5089
Hi @dragonfly91 ,
thank you for updating my knowledge. Where can I post a feature request? I personally find the case-sensitivity of this parameter not perfect. as I, for example, use this command within a script. This script uses also Get-AzureRMVM, and there the VMname is not case sensitive.
Or maybe you can give me hint, how I check prior to this command, if the VMname was entered correctly cas

[2018-01-09 18:09] bganapa opened #5248 "Get-UsageAggregates needs alias Get-AzureRmUsageAggregates as it is missing the standard AzureRm prefix"
### Cmdlet(s)
Get-UsageAggregates

### Module Version
4.0.0 (latest)

### Description
AzureRm.UsageAggregates has a single cmdlet Get-UsageAggregates. I believe this goes through ARM and hence it needs a AzureRm prefix.  Discoverability is hard at the moment as i was trying Get-AzureRmUsage <tab> <tab>

[2018-01-09 19:24] MiYanni commented on #5243
@blueww The -StorageEncryption parameter may allow Set-AzureRmStorageAccount to work now (on API version 2017-10-01), but this parameter was not required for API version 2017-06-01. So, it seems like a breaking change for the cmdlet, even though the cmdlet itself hasn't changed. The SessionRecords for the ScenarioTests do not use this -StorageEncryption parameter, but still pass. Running the tests

[2018-01-09 19:31] markcowl commented on #4357
Closing as won't fix

[2018-01-09 19:31] #4357 closed

[2018-01-09 19:32] asheniam commented on #4983
Unfortunately there isn't any update on this one.  The engineering team is working on the v2 API/backend of metric alerts with target GA in the next few months.  The existing Add-AzureRmMetricAlertRule cmdlet is for v1 metric alerts only -- this will eventually be deprecated in the future after we add corresponding cmdlets for v2.

[2018-01-09 19:34] markcowl commented on #4336
Won't fix

[2018-01-09 19:34] #4336 closed

[2018-01-09 19:46] markcowl commented on #3835
won't fix

[2018-01-09 19:46] #3835 closed

[2018-01-09 19:50] #3311 closed

[2018-01-09 20:19] darshanhs90 commented on #5229
@shaosong2017 can you look into this?

[2018-01-09 21:48] shaosong2017 commented on #5229
Hi,

I am on call this week, I will take a look this Friday when my on call ends.

Thanks,
Shaosong Li
From: Haridarshan HS [mailto:notifications@github.com]
Sent: Tuesday, January 9, 2018 12:21 PM
To: Azure/azure-powershell <azure-powershell@noreply.github.com>
Cc: Shaosong Li <shaol@microsoft.com>; Mention <mention@noreply.github.com>
Subject: Re: [Azure/azure-powershell] AzureStack: ADFS: Get-A

[2018-01-09 23:39] smithkl42 commented on #1288
Yeah, running into this same problem. Any workarounds greatly appreciated.

[2018-01-10 00:23] shriramnat opened #5251 "tenant subscription creation as Admin does not take in Tenant ID for multitenancy scenarios"
we need to take in Tenant ID parameter while creating a subscription for a tenant as an admin - in the Azure Stack Admin Module

[2018-01-10 00:55] maddieclayton commented on #1365
Closing as action item in https://github.com/Azure/azure-powershell/issues/1366 will fix.  This should be done by the next release.

[2018-01-10 00:55] #1365 closed

[2018-01-10 02:30] blueww commented on #5230
@MiYanni

Feature team has opened a bug to track it.
As this is not a PowerShell issue, but a server behavior issue, I plan to close this issue now. Let me know if you are OK with it.

[2018-01-10 02:46] blueww commented on #5243
@MiYanni

Yes, this is a server side behavior change caused the PowerShell behavior change.
Actually, I have contact feature team for that, and the latest information I get is: Powershell should not support enabled/Disable Encryption anymore. So I plan to set the -DisableEncryptionService or -EnableEncryptionService to Obsolete soon, and remove them later.

[2018-01-10 10:41] arcotek-ltd opened #5253 "AzureRM.Network 5.0.0 Cannot import module in Runbook"
### Cmdlet(s)
Import-Module AzureRm.Network

### PowerShell Version
Whatever version you have on your runbook servers? 5.1, the last time I checked.

### Module Version
5.0.0

### OS Version
Whatever version is on your runbook servers? Server 2012 (non-R2) I believe.

### Description
Import-Module AzureRM.Network fails. The runbook ends in a "Suspended" state with the error:
`The runbook job was a

[2018-01-10 16:22] sdwheeler opened #5254 "Enable-AzureWebsiteApplicationDiagnostic docs example error"
LiveFyre comment from customer.

In the second example, there is "-Storage" parameter, is it correct?

### Cmdlet(s)
Enable-AzureWebsiteApplicationDiagnostic

### Description
The example shows:

[code]

But -Storage is not a valid parameter. Please correct the example.

[2018-01-10 16:45] MiYanni commented on #5230
@blueww Can you link to the bug being tracked (if possible)? Otherwise, go ahead and close this. Thanks. 👍

[2018-01-10 16:56] cormacpayne commented on #5254
@sdwheeler it looks like `Storage` could be changed to be either `TableStorage` or `BlobStorage`, and there's not enough context from the description of the example to determine whether or not it's table or blob storage, so we could pick either and update the description of the example to reflect this change.

[2018-01-10 17:25] slavizh opened #5255 "Get-AzureRmSubscription does not return all available subscriptions from other Azure ADs"
### Cmdlet(s)
Get-AzureRmSubscription

### PowerShell Version
PS C:\WINDOWS\system32> $PSVersionTable

Name                           Value
----                           -----
PSVersion                      5.1.16299.98
PSEdition                      Desktop
PSCompatibleVersions           {1.0, 2.0, 3.0, 4.0...}
BuildVersion                   10.0.16299.98
CLRVersion                     4.0.30319

[2018-01-10 18:42] tacerra opened #5256 "New-AzureRmSchedulerStorageQueueJob - missing Https action type"
### Cmdlet(s)
New-AzureRmSchedulerStorageQueueJob

### PowerShell Version
5.1.16299.98

### OS Version
10.0.16299.98

### Description
The AddErrorActionParameters method in JobBaseCmdlet.cs is missing a check for Constants.HttpsAction so calling New-AzureRmSchedulerStorageQueueJob never gets the dynamic ErrorAction parameters setup when ErrorActionType is Https. This results in an error stating dy

[2018-01-10 19:54] KarlGW commented on #1288
@smithkl42
Use:
[code]

Pass the `$contextPath` in the argumentlist of the job and use

`Import-AzureRmContext -Path $contextPath`

inside the job.

This works as a workaround for the moment.

[2018-01-11 03:27] marknettle opened #5259 "Get-AzureRmRoleAssignment with -RoleDefinitionId doesn't return assignments"
### Cmdlet(s)
Get-AzureRmRoleAssignment

### PowerShell Version
5.1.15063.726

### Module Version
5.1.1

### OS Version
10.0.15063.726

### Description
The Get-AzureRmRoleAssignment returns no assignments when using the -RoleDefinitionId parameter

### Script/Steps for Reproduction
[code]
#### Expected Output
The two commands should return the same assignments
#### Observed Output
The second comma

[2018-01-11 09:01] v-sirebb commented on #3954
Hi @markcowl , I tried with Azure powershell 5.1.1, but still seeing same problem. I saved context in machine A and trying to import it in machine B. Is this scenario supported?

[2018-01-11 09:15] GhfDllT commented on #1309
@masthi , did you solve the problem? I'am having the same.

[2018-01-11 14:37] masthi commented on #1309
Nope I am still having the same issue

[2018-01-11 18:07] GhfDllT commented on #1309
@masthi , reset worked  for me

[2018-01-11 19:02] paylocity-sflanders commented on #4835
This problem still happens regardless of starting a new session or unloading the module.   It appears to happen consistently when i have AzureRM version 5.0.1 and 5.1.1 installed.   Basically you can no longer use 5.0.1 even in a new session with no other powershell instances running on the box.   In my case these are installed at the user level folders (C:\Users\user1\Documents\WindowsPowerShell\

[2018-01-11 21:53] darshanhs90 commented on #5259
@marknettle Thanks for the repro,will look into it

[2018-01-11 23:49] twitchax opened #5265 "Invoke-AzureRmResourceAction Hangs PowerShell"
### Cmdlet(s)

Invoke-AzureRmResourceAction

### PowerShell Version
5.1

### Module Version
5.1.1

### OS Version
Windows 10

### Description

Running the cmdlet causes the PowerShell instance to hang.

### Debug Output

### Script/Steps for Reproduction

The following script will fail.

[code]

[2018-01-12 00:02] SriHarsha001 commented on #5194
Changing the metric name to "\Processor(_Total)\% Processor Time" worked.
We need to use CounterSpecifier instead of display name in PS command.

Not working -
-------------------------------------------------------------------------------------
Add-AzureRMMetricAlertRule -Name "CpuRule" -Location "" -ResourceGroup "" -Operator GreaterThan -Threshold 2 -WindowSize 00:05:00 -MetricName "CPU utiliza

[2018-01-12 00:02] #5194 closed

[2018-01-12 01:34] cormacpayne commented on #5265
@ravbhatnagar @vivsriaus would you mind taking a look at this issue?

[2018-01-12 01:35] cormacpayne commented on #5254
@Nking92 Hey Nick, would you mind taking a look at this issue? It should be a quick documentation fix.

[2018-01-12 02:21] enihcam commented on #4980
I'm encountering the same issue. @hyonholee Can you maybe add a `-force` option so the current running pipeline can terminated and let the `Add-AzureRmVhd` continue?

[2018-01-12 07:33] zhiweiv commented on #5053
Hi @blueww,  this thread was marked as closed, is it fixed? I can't get my job done becasue I only have sas token from our IT.

Where can I trace the fix status? Is there a workaround?

Thanks

[2018-01-12 07:41] blueww commented on #5053
This is closed since we have doc the SAS requirement in help.
I will consider to fix it in  a future release.

[2018-01-12 08:42] Walter-Shui commented on #4476
I also meet the same error log.

[code]
I use the latest Power Shell on Linux according to the [link ](https://docs.microsoft.com/en-us/powershell/azure/install-azurermps-maclinux?view=azurermps-5.1.1).

How do I solve this?

[2018-01-12 08:47] zhiweiv commented on #5053
Got it,

Thanks

[2018-01-12 09:04] 4c74356b41 commented on #4476
I can confirm that service principal auth was fixed long time ago.

[2018-01-12 09:18] twitchax opened #5267 "[INTERNAL] MS Graph permission update."
### Description

Internal wiki [here](https://identitydocs.azurewebsites.net/static/aad/preauthorization.html).

### Debug Output
Instructions: to get Debug Output, set `$DebugPreference="Continue"` and then execute the cmdlet or script causing the issue

### Script/Steps for Reproduction

[2018-01-12 13:00] wmrichard commented on #5251
We are facing the same issue (Yourhosting). +1

[2018-01-12 15:25] stuartleeks commented on #4476
@markcowl - is this fix included in a release for PSCore? The latest PSCore version of the module I can see is 0.9.1

[2018-01-12 20:28] panchagnula opened #5269 "Websites: Removing a binding using powershell command 'Remove-AzureRmWebAppSSLBinding ' is not actually removing the binding even though the command reports success"
### Cmdlet(s)

### PowerShell Version
Instructions: to get PowerShell version, type `$PSVersionTable` and look for the value associated with `PSVersion`

### Module Version

### OS Version
Instructions: to get OS version, type `$PSversionTable` and look for value associated with `BuildVersion`

### Description

### Debug Output
Instructions: to get Debug Output, set `$DebugPreference="Continue"` a

[2018-01-12 22:15] maddieclayton commented on #1366
Fixed

[2018-01-12 22:15] #1366 closed

[2018-01-12 22:47] markcowl commented on #5119
Fixed

[2018-01-12 22:47] #5119 closed

[2018-01-12 22:52] markcowl opened #5273 "Refresh Threat Model for AzureRM.Profile"
### Description

Refresh the Threat Model for the Profile module

[2018-01-12 22:54] markcowl opened #5274 "Explore and Automate appropriate SDL tools"
### Description

Run SDL tools as part of all builds.  Identify issues and fix or add suppressions

- [ ] binscope
- [ ] policheck

[2018-01-12 23:09] markcowl commented on #5149
- Add this to the psm1 script for profile, and save the information so that this only prints once per machine.

[2018-01-12 23:11] markcowl commented on #5149
- 'PowerShell version 3 and 4 will no longer be supported starting in May 2018.  Please update to the latest version of PowerShell 5.1 <uri>'

[2018-01-12 23:14] #4794 closed

[2018-01-12 23:20] markcowl opened #5275 "Fully-qualified image name for VM, VMSS"
Allow colon-separated full VM Image names (publisher, offer, image, version).  Use the CLI as an exemplar.

[2018-01-13 00:19] markcowl commented on #3507
Fixed

[2018-01-13 00:19] #3507 closed

[2018-01-13 00:20] markcowl commented on #4536
Closing as duplicate you can track progress at #3746

[2018-01-13 00:20] #4536 closed

[2018-01-13 00:23] maddieclayton commented on #4915
Fixed

[2018-01-13 00:23] #4915 closed

[2018-01-13 04:53] MiYanni commented on #5162
The CloudTest Jenkins project is currently running and building on a schedule. Currently, the tests do not run on 'live' builds. Instead, it is running a hard-coded path share of the modules. I'll use a dynamic path once #4439 is completed. Currently, waiting for https://github.com/PowerShell/AzurePSDrive/pull/33 to be accepted to use the main repo instead of my own fork.

[2018-01-13 06:26] sanathkumarshetty commented on #4953
@markcowl  i have AzureRM version 5.1.1  and still have the same issue

[2018-01-13 07:06] huangpf opened #5279 "New-AzureRmVM's DiskFile parameter set should create resource group if not exists"
### Cmdlet(s)
New-AzureRmVM

### PowerShell Version
TBD

### Module Version
AzureRM.Compute

### OS Version
TBD

### Description
DiskFile parameter set should create resource group if not exists

### Debug Output
TBD

### Script/Steps for Reproduction
TBD

[2018-01-15 16:27] till0r commented on #4953
@markcowl I'm experiencing the same issues as @sanathkumarshetty on version 5.1.1 when using Get-AzureRmKeyVault or New-AzureRmKeyVault.

[2018-01-15 16:54] sanathkumarshetty commented on #4953
@till0r @markcowl it seems like after updating to the latest version of AzureRM did not update the AzureRM.Storage module for so when i manually update the AzureRM.Storage as well it started working for me

[2018-01-16 05:36] blueww commented on #5230
The  bug link: https://msazure.visualstudio.com/One/_workitems?id=1882793

[2018-01-16 08:41] till0r commented on #4953
Thank you, @sanathkumarshetty, you are right! Updating Azure.Storage and AzureRm.Storage fixed the issue

[2018-01-16 09:52] arcotek-ltd opened #5281 "Get-AzureRmAutomationDscConfiguration Property name changed in 4.1.1"
### Cmdlet(s)
Get-AzureRmAutomationDscConfiguration

### PowerShell Version
`PS C:\Windows\system32> $PSVersionTable

Name                           Value
----                           -----
PSVersion                      5.1.14409.1005
PSEdition                      Desktop
PSCompatibleVersions           {1.0, 2.0, 3.0, 4.0...}
BuildVersion                   10.0.14409.1005
CLRVersion

[2018-01-16 16:03] nadeemhussain commented on #4769
@nibhat  @cormacpayne  do we have any update on this

[2018-01-16 17:59] maddieclayton commented on #5221
@jouniheikniemi Closing for inactivity.  If you are still running into this issue please reopen and include the log from Resolve-AzureRmError.

[2018-01-16 17:59] #5221 closed

[2018-01-16 18:01] maddieclayton commented on #5209
Closing as the latest version seems to be working.  @MrGlenThomas If you run into this error again please reopen.

[2018-01-16 18:01] #5209 closed

[2018-01-16 22:56] markcowl commented on #5281
@vrdmr this is an issue we need to fix.  Can you schedule some time to talk to us about adapting your output types to renmove this breakign change?

@cormacpayne Do we know why this slipped through the breaking change analyzer?

[2018-01-16 22:58] markcowl commented on #5279
@huangpf We should look at making this change for all parameter sets

[2018-01-16 23:01] huangpf commented on #5279
@markcowl You mean ```DiskFile``` and the ```-VM``` parameter sets, right?

And do you think the fix should depend on the Strategy framework's capability of handling Storage accounts & blob? @sergey-shandar

[2018-01-16 23:02] markcowl commented on #5015
From the perspective of writing a script, Hashtable and IDictionary are the same.  You can access this value using
tag["key"]

You can also treat it as an array of key value pairs.  This is by design.

[2018-01-16 23:02] #5015 closed

[2018-01-16 23:11] markcowl commented on #5256
@sphibbs Please assign appropriately on the Scheduler team

[2018-01-16 23:13] markcowl commented on #5255
@slavizh Can you provide the debug logs during login and switching subscriptions when this occurs?  Depending on the details hf how you have access to those tenants, you may need to provide tenantId specifically.  The debug logs will tell us.

To create debug logs, set

[code]

[2018-01-16 23:16] markcowl commented on #5253
@vrdmr I think this is mostly about how the versions of modules are updated in the portal blade.

[2018-01-16 23:17] markcowl commented on #5248
All of the prefixes are going to Az

[2018-01-16 23:19] #5248 closed

[2018-01-16 23:20] markcowl commented on #5207
@vrdmr We should start a discussion about remodling these cmdlets so that they are more compliant and easier to use.

This looks like the cmdlet offers a capability that doesn't exist, so maybe we can fix this before a complete redesign.

[2018-01-16 23:34] markcowl commented on #5192
@darshanhs90 This occurs frequently enough that we need to catch this error in the call to graph, and either not fill in the additional information in the output and print a warning letting them know they need  to add privileges to graph, or we could print a more informative error message telling them how to fix this issue.

[2018-01-16 23:41] markcowl commented on #5184
@Tarjei99 The page here: https://www.powershellgallery.com/items?q=Functions%3A%22Get-AutomationPSCredential%22  describes the  modules containign this cmdlet.  If you post a comment for the module you are using on the  gallery, the owner is required to respond within a certain time frame.  Meanwhile,, cmdlets meant for RDFE cannot be used in CloudShell.

[2018-01-16 23:41] #5184 closed

[2018-01-17 00:03] markcowl commented on #1665
@venkataitha This issue is particularly about the issue with multiple UPNs being associated with an email address.  If you have a different problem, please file a different issue.

To answer your question, you cna add a service principal to an existing app if you have sufficient privileges, then you should be able to log in using the certificate credentials.  Log in using SPN + Secret in Automatio

[2018-01-17 00:44] panchagnula opened #5287 "Websites: Add a test for testing PremiumV2 SKU with Set-AzureRmAppServicePlan"
### Cmdlet(s)
Add a test for this https://github.com/azure/azure-powershell/issues/5181
### PowerShell Version
Instructions: to get PowerShell version, type `$PSVersionTable` and look for the value associated with `PSVersion`

### Module Version

### OS Version
Instructions: to get OS version, type `$PSversionTable` and look for value associated with `BuildVersion`

### Description

### Debug Outp

[2018-01-17 01:28] vrdmr commented on #5253
@markcowl - I have reported this to the modules team. I'll try to get an update asap. Thanks.

[2018-01-17 02:25] cormacpayne commented on #661
@Nking92 gentle ping

[2018-01-17 02:31] cormacpayne commented on #178
@vrdmr Hey Varad, would you mind taking a look at this long-standing issue? You may be able to shed some light on whether or not the requested functionality is available in the Automation cmdlets or if they are (or could be) on your team's radar

[2018-01-17 02:36] cormacpayne commented on #669
@Nking92 Hey Nick, would you mind taking a look at this feature request and see if it fits anywhere on your team's radar?

[2018-01-17 02:37] maddieclayton commented on #4309
@faridabharmal @mohanhimanshu90 @mblaschke Are you getting this error on the latest version?

[2018-01-17 02:39] cormacpayne commented on #760
@RandalliLama @tiffanyachen copying you both over from linked issue https://github.com/Azure/azure-powershell/issues/4818

Would you mind taking a look at this issue?

[2018-01-17 02:43] cormacpayne commented on #809
@vrdmr Hey Varad, would you mind seeing if this is still an issue, and if so, seeing if it fits on your team's radar?

[2018-01-17 06:07] slavizh commented on #5255
@markcowl is there secure way to provide those. I do not want they to be exposed publicly here.

[2018-01-17 07:40] matthiasluedke commented on #5015
What do you mean with "treat as an array of key value pairs"?
My point is that the same command works well in local Powershell & the browser powershell. Only within the Test Pane i get an unusable output

[2018-01-17 07:56] blueww opened #5288 "AssemblyVersionConflict since "Newtonsoft.Json" upgrade from 6.0.8 to 10.0.2"
### Cmdlet(s)

### PowerShell Version
any version

### Module Version

### OS Version
Win 10

### Description

We plan to upgrade to XSCL 9.0 in Azure.Storage to support soft-delete in recent release. But when I try XSCL 9.0 private package, I find it upgrade “Newtonsoft.Json” from 6.0.8 to 10.0.2, so build PowerShell will get following static analysis error.
After discuss with Mark, he suggest to

[2018-01-17 12:08] arcotek-ltd commented on #2723
@ravbhatnagar Are you still "investigating"?

[2018-01-17 14:54] NeilBird commented on #3896
Any update on this issue? - I have seen people using `$vm.statuses[1].Code` to obtain the power state of a single VM, ('PowerState/running'), as a work-around to this issue. As opposed to being able to use the $vm.PowerState property, which is returned correctly when more than one VM is returned by Get-AzureRMVM.

[2018-01-17 16:09] corydwood commented on #3665
I tried @ld0614's suggestion for using the $blob.ICloudBlob.DownloadText() method and it worked for a block blob, but that method doesn't exist for a page blob, which is what Azure creates the VM config JSON file as when doing a restore from Azure Backup.

I was able to use the $blob.ICloudBlob.DownloadToStream() method using the steps below for a page blob. There may be a way to create the stream

[2018-01-17 17:42] maddieclayton commented on #1980
@ravbhatnagar Any update on this issue? It has been over a year, are you still able to repro the bug?

[2018-01-17 17:48] maddieclayton commented on #4973
Closing as this seems to not be an Azure-PowerShell issue.  Please reopen if it is Azure-PowerShell specific.

[2018-01-17 17:48] #4973 closed

[2018-01-17 17:51] maddieclayton commented on #5029
@rvdouderaa Could you send us the debug output with the confidential information redacted?

[2018-01-17 17:52] maddieclayton commented on #5046
Closing as fixed.  Please reopen this if the issue still exists.

[2018-01-17 17:52] #5046 closed

[2018-01-17 17:55] maddieclayton commented on #5255
@slavizh Would it be possible to go through and redact the confidential information?  We do not need account specific information, just the general information from the logs.

[2018-01-17 18:00] maddieclayton commented on #3544
@ibenbouzid If you are not using an AzureRm or Azure module (https://www.powershellgallery.com/packages/AzureRM/5.0.1 or https://www.powershellgallery.com/packages/Azure/5.1.1) then this is not the right place for your question. Closing now, please reopen if you are using an Azure/AzureRm module.

[2018-01-17 18:00] #3544 closed

[2018-01-17 18:12] MiYanni commented on #5162
After https://github.com/PowerShell/AzurePSDrive/pull/35 and https://github.com/PowerShell/AzurePSDrive/pull/36 were merged, the tests run properly using their repo.

[2018-01-17 18:12] #5162 closed

[2018-01-17 18:55] jadzikow opened #5291 "Set-AzureRmNetworkSecurityRuleConfig sets values of not provided parameters to null"
### Cmdlet(s)
Set-AzureRmNetworkSecurityRuleConfig

### Module Version
5.1.1 (Noticed on Azure Stack's version 1.2.11 but read the source code and the issue exists on Azure as well)

### Description
Set-AzureRmNetworkSecurityRuleConfig modifies the chosen parameters of the network security rule but sets all other parameters to null. This seems very unintuitive, therefore I'm filing a bug to discus

[2018-01-17 19:22] sergey-shandar commented on #5279
@huangpf it would be good to have a solution based on strategies library.

[2018-01-17 19:23] maddieclayton commented on #5291
@DeepakRajendranMsft Can you take a look at this request? I agree with @jadzikow that this is unexpected and destructive behavior.

[2018-01-17 19:55] AnatoliB commented on #5253
The provided repro steps are not sufficient, as I'm getting different results:

1. Created a new Automation account.
2. Imported AzureRM.Profile 4.1.1 from PS Gallery into the Automation account.
3. Imported AzureRM.Network 5.0.0 from PS Gallery into the Automation account.
4. Created a runbook (type: _PowerShell_) containing just `Import-Module AzureRm.Network`.
5. Started the runbook, and it suc

[2018-01-17 22:49] maddieclayton commented on #1554
Looks like this issue was fixed, closing.

[2018-01-17 22:49] #1554 closed

[2018-01-18 02:10] hrkulkarMsft opened #5294 "Enable-AzureRmTrafficManagerEndpoint and Disable-AzureRmTrafficManagerEndpoint do not work with an argument of TrafficManagerEndpoint"
### Cmdlet(s)

### PowerShell Version
Instructions: to get PowerShell version, type `$PSVersionTable` and look for the value associated with `PSVersion`
5.1.16299.98
### Module Version
2.1.0
### OS Version
Instructions: to get OS version, type `$PSversionTable` and look for value associated with `BuildVersion`
10.0.16299.98
### Description
The functions Enable and Disable-AzureRmTrafficManagerEndp

[2018-01-18 11:00] arcotek-ltd commented on #5253
@AnatoliB

There are no other runbooks running.
I have removed the Import-Module. As you say, it's no longer required to explicitly import required modules and the runbook completes without error, BUT:

In an attempt to identify where the issue is:

1. Create new automation account in West Central US
2. Create RunAs account.
3. Update all Azure modules.
4. Install AzureRM.Network (5.0.0) (Via "Bro

[2018-01-18 11:00] slavizh commented on #5255
Hi
I've cleaned up some values. Hoping that I didn't cleaned up something you need.

[code]

[2018-01-18 11:53] MilanNXT opened #5295 "Get-AzureRmRoleAssignment : Sequence contains more than one matching element"
### Cmdlet(s)
Get-AzureRMRoleAssignment

### PowerShell Version
PSVersion                      5.1.15063.786
PSEdition                      Desktop
PSCompatibleVersions           {1.0, 2.0, 3.0, 4.0...}
BuildVersion                   10.0.15063.786
CLRVersion                     4.0.30319.42000
WSManStackVersion              3.0
PSRemotingProtocolVersion      2.3
SerializationVersion           1.1

[2018-01-18 16:40] beaudryj opened #5296 "Can we please get some love on Container Registry, I would love to be able to interact with it in Azure Functions"
### Cmdlet(s)
`AzureRM.ContainerRegistry`,

### PowerShell Version
Instructions: to get PowerShell version, type `$PSVersionTable` and look for the value associated with `PSVersion`

### Module Version

### OS Version
Instructions: to get OS version, type `$PSversionTable` and look for value associated with `BuildVersion`

### Description

Currently there is no way to interact with the repositorie

[2018-01-18 16:50] suprak opened #5297 "NullReferenceException: Test-AzureRmDataLakeStoreAccount"
### Cmdlet(s)
Test-AzureRmDataLakeStoreAccount

### PowerShell Version
5.1.16299.98

### Module Version
5.0.0

### OS Version
10.0.16299.98

### Description
When running `Test-AzureRmDataLakeStoreAccount` without an active Azure context (as created by `Login-AzureRmAccount`, the cmdlet errors out with,

[code]

### Debug Output
[code]

### Script/Steps for Reproduction

1. Open a new PS session
2.

[2018-01-18 17:11] cormacpayne commented on #5297
@ro-joowan Hey Joo Wan, would you mind taking a look at this? It seems like if an ADLS Storage Accounts have unique names in Azure, then this cmdlet shouldn't require users to authenticate to check the existence of a storage account.

[2018-01-18 17:13] cormacpayne commented on #5296
@twitchax would you mind taking a look at this?

[2018-01-18 17:21] cormacpayne commented on #5295
@darshanhs90 Hey Haridarshan, would you mind taking a look at this issue?

[2018-01-18 17:24] cormacpayne commented on #5294
@hrkulkarMsft would you mind upgrading to the latest version of `AzureRM.TrafficManager` and re-run the above set of commands?

[2018-01-18 17:38] hrkulkarMsft commented on #5294
Sorry Cormac, indeed was running an old version. Haven't been able to repro using up-to-date version. Will resolve!

[2018-01-18 18:11] maddieclayton commented on #3463
https://github.com/Azure/ci-signing/pull/111

[2018-01-18 18:36] MiYanni commented on #3968
The RPs in the description that are in **bold** with test issues a need to be addressed in some kind of roll-up 'test investigation' task. The tests themselves have issues running, and Cormac mentioned that some tests, even running non-live, take too long. So, need to pull those things out and make it their own issue. Otherwise, this task has the necessary components to run properly. Will make a p

[2018-01-18 19:12] maddieclayton commented on #3463
Fixed

[2018-01-18 19:12] #3463 closed

[2018-01-18 21:11] maddieclayton commented on #3728
Closing this issue as fixed.  All -Tags parameters have been obsoleted, and the aliases will be cleaned up in the next breaking change release.

[2018-01-18 21:11] #3728 closed

[2018-01-18 22:45] maddieclayton commented on #5193
Fixed

[2018-01-18 22:45] #5193 closed

[2018-01-18 22:56] vrdmr commented on #809
@sourabhguha @AnatoliB Can you please take a look at this issue? Thanks

[2018-01-19 00:22] maddieclayton commented on #5168
@dragonfly91 Can you take a look at this issue?

[2018-01-19 01:20] MiYanni opened #5305 "Smoke Tests: KeyVault tests revision"
There are several tests in VaultSecretTests.ps1 marked with SmokeTest. These were not able to run in our SmokeTest Jenkins job because of hard-coded keyvault names.
- [ ] Revise tests to use generated, unique keyvault names (and any other issues)
- [ ] Change RunAutomationTests.ps1 to include KeyVault in the $projectList
- [ ] Validate all tests succeed in the SmokeTest Jenkins job

[2018-01-19 01:27] MiYanni opened #5306 "Smoke Tests: VM and VMSS tests revision"
Currently, we only run a single VM tests and no VMSS tests. The VM test is Test-VirtualMachine. For VMSS, the test is marked with Smoke[Ignore]Test. The VM Test takes 25-30 minutes and the VMSS (when last tested) took 35+ minutes.
- [ ] Revise these tests to be smaller and quicker. They are currently quite large.
- [ ] After revision, decide which smaller tests would run as Smoke Tests in Jenkins

[2018-01-19 05:01] blueww commented on #5230
Close this issue as it's a server issue instead of PowerShell issue, and server team already open a bug for it.

[2018-01-19 05:01] #5230 closed

[2018-01-19 09:05] twitchax opened #5309 "Add Availability Sets Support to `New-AzureRmVM` Simple Parameter Set."
### Cmdlet(s)
`New-AzureRmVM`.

### Description
We will discuss in design review.

[2018-01-19 11:13] itorian commented on #1978
This is easy to recreate VM again even if you are not able to restart that VM (consider this by design for now). What I do is, delete generalized VM, this will not delete vnet, ip, nsg, osdisk, netinterface etc. Then create another using VM image and use these resources.

[2018-01-19 15:38] kvitnickas commented on #4781
I'm having problems with the validation after upgrading the module in Azure. I would argue that the validation on storage account name length must not be performed. It is/was possible to create storage accounts with longer names and I guess that quite a few users still have accounts with different length than it is documented. Hence the length specified on https://docs.microsoft.com/en-us/azure/ar

[2018-01-19 18:07] MiYanni opened #5311 "Smoke Tests: Resources tests revision"
I only investigated DeploymentTests.ps1 and ResourceTests.ps1. I was having difficulty getting them to run in our CI system. There were issues with some of the mocked names for things when trying to run these. I could be wrong, though (it was early when I started). I marked several of the tests in these 2 files as Smoke[Broken]Test.

- [ ] Investigate the run issues with the tests marked as Smoke[

[2018-01-19 19:26] Bpoe opened #5313 "Start-AzureRmAutomationRunbook cannot pass parameters to a Python runbook"
### Cmdlet(s)
Start-AzureRmAutomationRunbook

### PowerShell Version
5.1.16299.98

### Module Version
2.1.0
### OS Version
10.0.16299.98

### Description
Start-AzureRmAutomationRunbook cannot pass parameters to a Python runbook

### Debug Output
DEBUG: 11:22:13 AM - StartAzureAutomationRunbook begin processing with ParameterSet 'ByAsynchronousReturnJob'.
DEBUG: 11:22:13 AM - using account id '<use

[2018-01-19 19:34] cormacpayne commented on #5281
@markcowl the returned type of `Get-AzureRmAutomationDscConfiguration` is [`DscConfiguration`](https://github.com/Azure/azure-powershell/blob/preview/src/ResourceManager/Automation/Commands.Automation/Model/Configuration.cs#L25-L141), which has property [`Parameters`](https://github.com/Azure/azure-powershell/blob/preview/src/ResourceManager/Automation/Commands.Automation/Model/Configuration.cs#L1

[2018-01-19 19:43] sergey-shandar commented on #5309
https://github.com/Azure/azure-powershell/pull/5307

[2018-01-19 19:45] maddieclayton commented on #4572
Closing, as this will be cleaned up with the rest of the Obsolete messages in the upcoming breaking change release.

[2018-01-19 19:45] #4572 closed

[2018-01-19 20:15] MiYanni opened #5314 "Integrate Storage data plane scenario tests"
- [ ] Get their current test script and put it into our repo
- [ ] Run tests and create session records
- [ ] Determine which tests to add to our nightly smoke test (via SmokeTest in Description)
- [ ] Verify to our nightly Jenkins job succeeds when running tests and takes < 1 hour for the tests

[2018-01-19 20:21] MiYanni opened #5316 "Smoke Tests: SQL database tests revision"
From my initial investigation, these tests took too long to run in our nightly smoke test. All the tests for a single RP should take less than 1 hour.

- [ ] Investigate test durations and determine if they need to be more modular
- [ ] Determine which tests make sense to run in the nightly smoke test and mark them with SmokeTest

[2018-01-19 20:23] MiYanni commented on #3968
I've created separate issues per RP/resource area. These issues are linked in the original description.

[2018-01-19 21:32] maddieclayton commented on #5313
@Bpoe Can you update to the [most recent version](https://www.powershellgallery.com/items?q=azurerm.automation&x=0&y=0) and see if this error still exists? If so, please reassign back to me.

[2018-01-19 22:31] darshanhs90 commented on #5295
Looking into this

[2018-01-19 23:01] darshanhs90 commented on #5295
@MilanNXT could you share if there i anything special that is as part of this subscription?
Since I am unable to repro the error

[2018-01-19 23:04] SiddharthChatrolaMs opened #5321 "Use getAssetName or Get-Location in Redis Cache tests"
### Cmdlet(s)

### PowerShell Version
Instructions: to get PowerShell version, type `$PSVersionTable` and look for the value associated with `PSVersion`

### Module Version

### OS Version
Instructions: to get OS version, type `$PSversionTable` and look for value associated with `BuildVersion`

### Description

### Debug Output
Instructions: to get Debug Output, set `$DebugPreference="Continue"` a

[2018-01-19 23:11] darshanhs90 commented on #4365
Closing this issue Since the reason for the error has been provided

[2018-01-19 23:11] #4365 closed

[2018-01-20 00:01] cormacpayne commented on #5296
@beaudryj please check out the following link on using PowerShell modules in Azure Functions: https://blogs.msdn.microsoft.com/powershell/2017/02/24/using-powershell-modules-in-azure-functions/

Would you mind elaborating on what Azure PowerShell needs to support to enable your scenario?

[2018-01-20 00:04] artisticcheese commented on #5296
There is no powershell module which will allow to list contents of the registry or manipulate it.

[2018-01-20 01:10] beaudryj commented on #5296
As said in comment above there is literally no cmdlets interact with repositories only the registry and its webhooks.
https://imgur.com/a/OORew

[2018-01-20 01:48] Dule011 commented on #3407
I'm running into the same issue and am fairly certain that it is related to lack of access on Graph API. Reading thru this thread i do not see what specific rights need to be granted. Steven-N and ondas have asked but i can't find the answer.

[2018-01-20 02:17] Steven-N commented on #3407
@Dule011 Give the Service Principal access on Active Directory to 'Read and Write on the Directory'. That should fix your issues.

[2018-01-20 03:00] MiYanni commented on #5243
@blueww I had to, as of yesterday, remove -StorageEncryption from the tests. They were actually failing when it was present. However, one of the encryption checks in the tests was still failing (after attempting to do -DisableEncryptionService). So, I removed that check for now. My PR for that should be picked up soon. Obviously, when Encryption is obsoleted, the tests will need to be fixed approp

[2018-01-20 04:49] pshelton-skype opened #5324 "New-AzureRmResourceGroupDeployment does not have useful error messages when parameters cannot be retrieved from Key Vault"
### Cmdlet(s)
New-AzureRmResourceGroupDeployment

### PowerShell Version
5.1.16299.98

### Module Version
5.1.1

### OS Version
10.0.16299.98

### Description

### Debug Output
[code]

### Script/Steps for Reproduction

When deploying a template with parameter references to secrets and certificates in Key Vault, useless error messages are displayed in the output if the vault does not have `enabled

[2018-01-20 20:36] mifurm commented on #5015
I entered exactly same issue. And I cannot agree you can treat this same as ContainsKey and Remove methods on Tags property are working differently in those cases.

[2018-01-20 21:47] maddieclayton commented on #1367
Fixed

[2018-01-20 21:47] #1367 closed

[2018-01-20 21:47] maddieclayton commented on #1368
Fixed

[2018-01-20 21:47] #1368 closed

[2018-01-21 03:09] twitchax opened #5325 ""What's New" Link and page"
### Cmdlet(s)

Installation or first run.

### Description

On first run, display warning text with a link to https://aka.ms/azpsnotes.  We can also drive some changes to the release notes to include a "friendly" blurb up top.

The page linked will contain highlights from the current major release version. Overall, will be a summary of general changes for a release.

[2018-01-21 14:38] pixelicous opened #5326 "Keyvault unresponsive for long time after using New-AzureRMKeyvault"
### Cmdlet(s)
New-AzureRMKeyvault

### PowerShell Version
5.1.15063.674

### Module Version
4.0.1      AzureRM.KeyVault

### OS Version
10.0.15063.674

### Description
When creating a keyvault in azure, the Azure DNS doesn't get replicated fast enough. Executions fail to create secrets afterwards. When creating our own script we make all sorts of mechanisms to wait on the keyvault to be accessible

[2018-01-21 23:30] dwgray commented on #1283
I decided to try this again since I haven't found any other options.  When I delete the certificate using the portal (see my detailed steps above), I get this error:  The resource: '/subscriptions/[SUBSCRIPTIONID]/resourceGroups/Default-Web-WestUS/providers/Microsoft.Web/certificates/[CERTID]' is missing from the move request. Please select all the resources in the source subscription and resource

[2018-01-21 23:31] dwgray commented on #1283
Also @Anmolgan81 - If you've got more insight into tools that I can use to diagnose this, I'd really appreciate the help.

[2018-01-22 01:17] OzBob commented on #1978
Thanks to @erossignon, says: http://www.lucee.nl/post.cfm/azure-fix-the-vm-is-generalized

1. Open Portal
2. GeneralisedVM "Disks" page
3. Choose Disk that is attached to the generalized VM.
4. "Create Snapshot", and fill in the form
5. After the snapshot is generated, go to the Disks page, and click "Add".
6. Fill in the "Create managed disk" form, and make sure to select your newly created Snaps

[2018-01-22 02:25] blueww commented on #4781
@kvitnickas
Actually Powershell code don't do any length validate to the Account name length. The error is reported from server, so PowerShell can't overcome the issue.

Would you please contact support team, or open an incident for your problem to the related service team (should be Location Service team)?

[2018-01-22 02:37] HaoQian-MS opened #5327 "Enable Azure SSIS Integration Runtime Test"
### Cmdlet(s)

### PowerShell Version
Instructions: to get PowerShell version, type `$PSVersionTable` and look for the value associated with `PSVersion`

### Module Version

### OS Version
Instructions: to get OS version, type `$PSversionTable` and look for value associated with `BuildVersion`

### Description

### Debug Output
Instructions: to get Debug Output, set `$DebugPreference="Continue"` a

[2018-01-22 06:41] Anmolgan81 commented on #1283
@dwgray You mean to say that certificate are not showing in https://resources.azure.com/ ?
did you navigate to certificate reousrce ID inside the https://resources.azure.com/?
If the certificate are not found there as well then I am afraid you should call for MS Support.
They should help you in this case.

[2018-01-22 07:19] bhushangholve2006 opened #5328 "Creating Private DNS fails to recognise Zonetype parameter"
### Cmdlet(s)
New-AzureRmDnsZone

### PowerShell Version
5.1.15063.786

### Module Version
5.1.1

### OS Version
10.0.15063.0

### Description
Trying to create private zone as per this description in the document [link](https://docs.microsoft.com/en-us/azure/dns/private-dns-getstarted-powershell)

### Debug Output
`New-AzureRmDnsZone : A parameter cannot be found that matches parameter name 'ZoneT

[2018-01-22 07:43] blueww commented on #5243
@MiYanni

I have looked at your change in https://github.com/Azure/azure-powershell/pull/5301
Several comments are added.

[2018-01-22 10:53] clericc commented on #2180
I have insight on this, when you run the commands with -Debug:

First, when you do sth like get-azurermautomationaccount | get-AzureRmAutomationScheduledRunbook, which might return multiple schedule links, parameter objects always seems to be empty (coming from REST API).

However, when you, as you did, request a specific ScheduledRunbook, The Debug shows the following:

`Body:
{
  "id":
"/subscri

[2018-01-22 11:48] arcotek-ltd opened #5329 "Get-AzureRmAutomationDscCompilationJob JobParameters hashtable is always empty"
### Cmdlet(s)
`Get-AzureRmAutomationDscCompilationJob`

### PowerShell Version
Instructions: to get PowerShell version, type `$PSVersionTable` and look for the value associated with `PSVersion`
[code]

### Module Version
[code]

### OS Version
Instructions: to get OS version, type `$PSversionTable` and look for value associated with `BuildVersion`

### Description
The property `JobParameters` hash

[2018-01-22 12:59] pabloleone commented on #1978
I think the way it works is terrible! when someone wants to clone a VM, the process is nonsense!! Create an image from the link CAPTURE (NONSENSE)... the capture will GENERALIZE (NONSENSE) the image "captured" and there's a check that you can easily omitt that will delete the original VM which is crazy at the beginning, but then you realise that you can't do anything with a generalized VM, so what

[2018-01-22 18:19] dragonfly91 opened #5331 "Positive test case for -UseOriginalStorageAccount"
### Cmdlet(s)
Restore-AzureRmRecoveryServicesBackupItem
### PowerShell Version
Instructions: to get PowerShell version, type `$PSVersionTable` and look for the value associated with `PSVersion`

### Module Version

### OS Version
Instructions: to get OS version, type `$PSversionTable` and look for value associated with `BuildVersion`

### Description
Need to add positive test case covering the -Us

[2018-01-22 18:21] AMustapha commented on #3088
+1

[2018-01-22 18:26] takekazuomi opened #5332 "Set-AzureRmKeyVaultAccessPolicy with EmailAddress dosen't search email."
### Cmdlet(s)

### PowerShell Version
PSVersion 5.1.17063.1000

### Module Version
AzureRM.KeyVault 4.0.1

### OS Version
10.0.17063.1000
10.0.16299.98

### Description
If you use Set-AzureRmKeyVaultAccessPolicy with EmailAddress option, it will not be searched by e-mail. It will be searched by UPN.
With this, EmailAddress is not alias, so there is no option meaning.

### Debug Output

### Script/

[2018-01-22 18:54] maddieclayton commented on #5113
All testing has been completed, testing plan has been put on Cormac's release gist, bugs have been discussed.

[2018-01-22 18:54] #5113 closed

[2018-01-22 23:02] Phydeauxman commented on #4953
I am experiencing the same issue and updating those modules did not help.

[2018-01-23 00:32] MiYanni opened #5337 "StorageAccountTests.ps1: Get-ProviderLocation_Stage used for non-normal location 'eastus2(stage)'"
If you are trying to run the scenario tests in StorageAccountTests.ps1, some of the tests use `Get-ProviderLocation_Stage` from the Common.ps1. This always returns 'eastus2(stage)'. I was testing this using the test `Test-NewAzureStorageAccount`. However, the location 'eastus2(stage)' seems to be some kind of test location. Our 'Azure SDK Infrastructure' subscription has access to this location, b

[2018-01-23 01:08] maddieclayton commented on #5215
Some tests being added here: https://github.com/Azure/azure-powershell/pull/5277

[2018-01-23 02:35] blueww commented on #5337
Hi MiYanni,

Since Feature team would like to release the Powershell for some new feature as soon as the feature release, so the new feature might not available on product tenants, but only on stage when we develop the feature for PowerShell some times. In this case, we can only record the test on Stage when send the PR, since the feature still not available in product tenants.

Currently I don't

[2018-01-23 18:39] iainfoulds opened #5342 "Allow New-AzureRmVm simple parameter set to specify blank public DNS name"
### Cmdlet(s)
New-AzureRmVm

### PowerShell Version
Instructions: to get PowerShell version, type `$PSVersionTable` and look for the value associated with `PSVersion`

5.1.14393.1480

### Module Version

### OS Version
Instructions: to get OS version, type `$PSversionTable` and look for value associated with `BuildVersion`

10.0.14393.1480

### Description
When using the simplified `New-AzureRmVm`

[2018-01-23 20:14] iyerusad commented on #1978
Where is Azure Portal Github? This issue should either be re-opened or filed in Azure Portal space as feature request.

Its understandable that a generalized/sysprep image is irreversible.

However the terminology is not confusing a slew of folks (as evidenced in the thread).

Propose either:
A) Remove "Capture" from main bar in VM portal screen.
B) Rename "Capture" to "Template-ize" or something

[2018-01-23 20:45] ro-joowan commented on #5297
@matt1883 What do you think about this?  It seems to me that all API calls to ADLS should be authenticated.

[2018-01-23 20:46] MiYanni opened #5344 "Migrate Jenkins environment variable injected passwords to KeyVault"
The PowerShell build and testing jobs in Jenkins use the "Inject password as environment variable" method of handing passwords to the projects. Instead, change all of these instances to be KeyVault managed passwords. This would include updating any scripts or processes that normally obtain these passwords through the injected environment variables.

## Cost: 4

[2018-01-23 23:08] maddieclayton commented on #5329
@vrdmr Can you take a look?

[2018-01-23 23:11] maddieclayton commented on #5328
@karravi-msft Can you take a look? This looks like a serious issue with the Getting-Started docs.

[2018-01-23 23:11] twitchax commented on #5328
@sdwheeler, do you know who owns this docset?

[2018-01-23 23:13] maddieclayton commented on #5326
@RandalliLama Can you check out this issue?

[2018-01-23 23:17] maddieclayton commented on #5324
@pshelton-skype Running this cmdlet with -Verbose should give even better information about the failure.  Additionally, can you post the template that you used in order for the ResourceManager team to debug the issue?

@vivsriaus @ravbhatnagar Can you take a look at this issue?

[2018-01-23 23:20] maddieclayton commented on #5099
@ravbhatnagar @vivsriaus Can you take a look at this issue? It looks like it could be a service side issue.

[2018-01-23 23:22] ro-joowan commented on #5297
@cormacpayne @suprak, I confirmed with our PM @matt1883 that the user must login before utilizing any cmdlet.

[2018-01-23 23:23] maddieclayton commented on #5082
@ravbhatnagar @vivsriaus Can you take a look at this issue? Looks like a possible regression from a previous version of ResourceManager.

[2018-01-23 23:26] maddieclayton commented on #4994
@swi2w Please file an issue here: https://github.com/github/visualstudio

[2018-01-23 23:26] #4994 closed

[2018-01-23 23:30] maddieclayton commented on #4960
@bmoore-msft Please follow the instructions here and file an issue with UserVoice: https://windowsserver.uservoice.com/forums/301869-powershell.  There isn't anything we can do on our side to fix this issue.

Since ISE is no longer the supported PowerShell IDE, please try using the PowerShell extension in VSCode to see if you run into a similar issue.

[2018-01-23 23:30] #4960 closed

[2018-01-23 23:35] maddieclayton commented on #5296
@djyou Can you take a look at this feature request?

[2018-01-23 23:44] djyou commented on #5296
Thank you @maddieclayton we definitely want to support the scenarios.

[2018-01-24 00:05] suprak commented on #5297
@ro-joowan

The issue isn't that the user has to log in.

The issue is that there is a null ref exception.

For example how other cmdlets handle users who are not logged in see this output.
Notice how the error points the user to login? This is the standard behavior in most AzureRM cmdlets.

Please fix the behavior of `Test-AzureRmDataLakeStoreAccount` to match this.

[code]

[2018-01-24 01:42] MiYanni commented on #5337
@blueww Maybe we should modify the error message in that instance to say something that is a bit more descriptive. For example, "Supplied location westus is not valid for the given type Standard_ZRS" so that someone knows why westus can't be used, since we also tell them westus is a valid storageAccount location. If it was confusing for me, it would be confusing for someone else.

For the session

[2018-01-24 02:04] Dule011 commented on #3407
Thanks, got it working. For the record: "read" is sufficient, no need to have "write". @Steven-N, you're right, nothing to do with Graph, just read access to AAD fixed my issue.

[2018-01-24 02:47] ro-joowan commented on #5297
@suprak Thanks for the clarification :)

I believe I found the fix.  The ADLS module, however, is frozen at the moment.  I'll coordinate the fix in once it's resolved.

@matt1883 @cormacpayne

[2018-01-24 04:00] blueww commented on #5337
@MiYanni
The error message is reported from server, not from Powershell, we don't parse error message generally. If the error message really need change, we should write a mail to SRP team to suggest the change.

Besides that, all storage SRP feature should be public now. So we can change all all "Get-ProviderLocation_Stage" (and "Get-ProviderLocation_Canary") to "Get-ProviderLocation", I have tes

[2018-01-24 08:04] slavizh commented on #2247
This is completed.

[2018-01-24 08:04] #2247 closed

[2018-01-24 08:04] slavizh commented on #1914
Nobody has looked into this and somehow it becomes no longer relevant.

[2018-01-24 08:04] #1914 closed

[2018-01-24 08:05] slavizh commented on #1765
This was fixed at some point but nobody tracked it

[2018-01-24 08:05] #1765 closed

[2018-01-24 08:08] slavizh commented on #5255
Turned out this was caused by ARM and AD Graph API issue.
Quote:
Hi Stanislav,

We have tracked down the issue to delays in api calls between Azure Resource Manager and Azure Active Directory Graph API. We're following up to get the issue addressed. Sorry for the delay here.

Thanks,

madhur

For more info the following people can be contacted from MSFT:
Madhur Joshi, Purav Saraiya, Nadir Ahmed

e

[2018-01-24 08:08] #5255 closed

[2018-01-24 13:17] Make-Make commented on #3215
Same error if i run it form Visual Studio Team Services build/release pipeline.

Resource not found for the segment 'me'.

basically, registered AD app (VSTS) tries to create AD app.
Is there workaround ?

[2018-01-24 16:04] bmoore-msft commented on #4960
@maddieclayton there aren't any instructions here that fix this, but I understand we will not be addressing this in Azure PowerShell...

re: the VS Code extension, it has a way to go before it will catch up to the functionality of ISE and being able to replace it, so I'll trade problems for now...

[2018-01-24 18:05] maddieclayton commented on #5294
Closing as no repro

[2018-01-24 18:05] #5294 closed

[2018-01-24 18:42] trevor-MSFT opened #5350 "Deployment operations timeout error messages missing"
### Cmdlet(s)
Get-AzureRmResourceGroupDeploymentoperation
### PowerShell Version
Instructions: to get PowerShell version, type `$PSVersionTable` and look for the value associated with `PSVersion`
5.1.16299.98
### Module Version
5.1.1      AzureRM.Resources
### OS Version
Instructions: to get OS version, type `$PSversionTable` and look for value associated with `BuildVersion`
10.0.16299.98
### Desc

[2018-01-24 20:44] mcowart123 commented on #4524
Is there any word on when this is going to be supported? As of now it's pretty useless for automation scripting if you have to do an interactive login.

[2018-01-24 20:49] markcowl commented on #5275
Fixed.

[2018-01-24 20:49] #5275 closed

[2018-01-24 20:56] #5077 closed

[2018-01-24 22:24] markcowl commented on #4967
Complete

[2018-01-24 22:24] #4967 closed

[2018-01-24 22:26] markcowl commented on #5114
Complete

[2018-01-24 22:26] #5114 closed

[2018-01-24 22:26] markcowl commented on #4977
Complete

[2018-01-24 22:26] #4977 closed

[2018-01-24 22:27] markcowl commented on #5115
Complete

[2018-01-24 22:27] #5115 closed

[2018-01-24 22:27] markcowl commented on #4439
Complete

[2018-01-24 22:27] #4439 closed

[2018-01-24 22:33] markcowl commented on #1557
I think this is covered by our current wiki documentation, Please reopen if ther is a specific ask

[2018-01-24 22:33] #1557 closed

[2018-01-24 22:41] markcowl opened #5353 "Create Job for Recording network tests"
### Description

- [x] Add a Jenkins jobs that will run network tests live from a particular branch and fork and archive the test recordings (and results and logs)
- [x] ~~Store necessary credentials in KeyVault and use appropriate bootstrapping~~
- [x] Ensure that our test subscription has access to all necessary features (esp. ExpressRoute)
- [x] Design/add automated procedure for robust cleanup