[2019-07-17 18:40] iyoumans commented on #8371
+1 I too am experiencing this problem as of July 17, 2019. An update command where I have to map all of the old values in addition to the one I want to change is a pain.

[2019-07-17 18:56] markcowl opened #9671 "Measure API changes for Core Cmdlets against generated cmdlets"
- [ ] RM - generic
- [ ] RM - Typed
- [ ] AD
- [ ] Authorization
- [ ] Compute
- [ ] Network
- [ ] DNS
- [ ] Storage
- [ ] Storage data plane
- [ ] KeyVault
- [ ] AppService
- [ ] Insights

### Non-Stack Core
- [ ] Automation
- [ ] Sql

[2019-07-17 19:48] btardif commented on #9316
@Nking92 ping?

[2019-07-17 19:52] btardif commented on #6573
Need to make sure we understand this scenario. I will confirm with @mariusGundersen

[2019-07-17 20:09] spaelling commented on #8371
There is a workaround you can use until then

[code]

[2019-07-17 23:58] markcowl opened #9673 "Create user documentation forPreview"
## Description
- [x] Create issue template for preview - @dcaro
- [ ] Describe the need for consistency and breaking changes - @markcowl
- [x] Describe Profiles - @dcaro
- [x] Describe standard cmdlet features - @markcowl
  - [x] Async operations
  - [x] Subscription List / Standard parameters
  - [x] Model Flattening
  - [x] ETag Support
  - [x] Consistency
- [x] Create RFCs for particular issues

[2019-07-18 00:07] markcowl commented on #9631
Complete

[2019-07-18 00:07] #9631 closed

[2019-07-18 00:15] markcowl commented on #9656
This is By Design, and it has to do with the default actions for these cmdlets rather than their capabilities.

If you supply the optional Scope parameter, you can impact the shared cache even if you have autosave disabled.

This will continue to be the case when we move to shared sign on, as by opting out of autosave, you are intentionally disconnecting yourself from the shared cache, and so your

[2019-07-18 00:15] #9656 closed

[2019-07-18 00:18] markcowl commented on #9667
Az is using the default permissions for created files for the logged in user.  The user can configure this themselves, on linux using umask or similar: https://geek-university.com/linux/set-the-default-permissions-for-newly-created-files/

[2019-07-18 00:18] #9667 closed

[2019-07-18 00:22] markcowl commented on #9658
@v-Ajnava Can you take a look and correct these?  You will need to add an alias to the misspelled name.

[2019-07-18 00:24] markcowl commented on #9660
@MikhailTryakhov Can you assign appropriately?  Most likely this is preventing the resource completer from completing this parameter

[2019-07-18 00:27] markcowl commented on #9663
@sudhakar01 Can you pleqase provide the following information:

(1) The entire moduel layout on your machine `Get-Module -ListAvailable`

(2) The debug trace for the cmdlet failure - this will provide client/server communications that will help the service team pinpoint the issue. execute`$DebugPreference="Continue"` before executing the failing cmdlet

[2019-07-18 00:40] markcowl commented on #9666
@Lumute We don't own `Update-Module`, that is the PowerShell Team.  The repo for the PowerShellGte moduel is here: https://github.com/PowerShell/PowerShellGet

Update-Module in fact updates the module correctly, but does not have any optiosn for removing olde rversions.  If you want to remove older versions, then removing and re-installign is a better option.

It is currently planned to have a set

[2019-07-18 00:45] markcowl commented on #9668
@Scepheo That is a truly awful default value.  @darshanhs90 cna you take a look?

[2019-07-18 00:47] darshanhs90 commented on #9668
@grlin to have a look into this

[2019-07-18 03:03] Lumute commented on #9666
Thanks Mark, so if I understand correctly both of the methods suggested (Update-Module or Install-Module with -Force) will install the new version correctly but may leave older versions installed?

And the solution if you want to make sure older versions are removed is to first Uninstall the older version using the Uninstall-AllModules script from the gallery and then install the new version?

Yes

[2019-07-18 04:25] psyrus opened #9675 "Az.Blueprints update broke custom blueprint filenames"
The line changed at the following commit now means that blueprints deployed with the following command can ONLY be named "Blueprint" or the command will fail:
https://github.com/Azure/azure-powershell/commit/3679cc661dce24ef6c0fc5f6c7a2430d98a57972#diff-9e045a4eb9cdfe5e21490f867bcc8df2R104

Tested with old versions of the Az.Blueprint versus new ones, the same code that previously works fails with

[2019-07-18 08:18] fbodmer opened #9676 "Get-AzPolicyAlias returns wrong case sensitivity"
# Steps to reproduce

[code]

## Environment data
[code]

## Module versions
[code]

## Debug output
none

## Error output
Returns some of the  '**V**irtualNetworkPeerings' aliases with a caps V - they shouldn't be.

[code]

[2019-07-18 08:30] sudhakar01 commented on #9663
[code]

Debug Contents :

[code]

[2019-07-18 08:30] aavisek commented on #9568
I am also getting the same error.

Connect-AzAccount : Object reference not set to an instance of an object.
At line:26 char:1
+ Connect-AzAccount -CertificateThumbprint $Thumbprint -ApplicationId $ ...
+ ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    + CategoryInfo          : CloseError: (:) [Connect-AzAccount], NullReferenceException
    + FullyQualifiedErrorId : Micro

[2019-07-18 08:37] Scepheo commented on #9668
As far as I can tell from the code, it _should_ default to one year after the start date, which defaults to the current date and time:

https://github.com/Azure/azure-powershell/blob/d9b304ce932d734266fda64d6357927a120cf6f4/src/Resources/Resources/ActiveDirectory/Cmdlets/NewAzureADSpCredentialCommand.cs#L78-L82

The check for the end date being provided was changed in commit ac9d2044ab689789859d4b

[2019-07-18 09:00] rupeshtech opened #9677 "connect-azaccount returns ERROR: The provided account X does not have access to subscription ID "Y""
## Description
I am trying to connect to Azure thru powershell thru Az And RM module (in different powershell sessions)

connect-azaccount returns EMPTY subscription name where as connect-azurermaccount returns a subscription name

connect-AzAccount -SubscriptionId xxxxxxxxxxxxxx gives an error The provided account xxx@xxx.xx does not have access to subscription ID
"xxxxxxxxx
where as
connect-azur

[2019-07-18 10:15] filizt commented on #9643
@Linaa Looking.

[2019-07-18 10:49] Scepheo commented on #9668
This realization just hit me like a brick wall: the `EndDate` parameter is a `DateTime` so it can (duh) never be null. So I made the above PR to revert the change made to the `EndDate` check in ac9d2044ab689789859d4b77c337d5816c41777c, which should fix this.

[2019-07-18 12:00] iyoumans commented on #8371
Thanks! I wouldn't have thought of updating it as a property of the NSG vs the Rule object.

[2019-07-18 13:51] dhapolapankaj commented on #8638
Install-Module -Name Az -Force -AllowClobber

worked for me

[2019-07-18 13:55] diegopietruszka commented on #9580
This command work perfectly fine with the AzureRM module

Get-AzurermRecoveryServicesVaultSettingsFile -Vault $vault -SiteRecovery -Path 'c:\something\'

The problem is on the AZ module. Do we have to go back to the AzureRM modules?

[2019-07-18 16:17] simonbMS commented on #1483
I had the same problem deploying using files. I had "name" and "ResourceGroupName" in the template AND the parameter files (so no value was missing) but the commandlet kept asking for "NameFromTemplate" and "ResourceGroupNameFromTemplate".
I think it should understand that the value is specified in the parameter file without prompting for it

[2019-07-18 16:49] filizt commented on #9675
@psyrus With the cited change, we have made the name of the blueprint file standard (by naming it "Blueprint"). This way Import- cmdlet can look for this standard name in the given input folder. Though this should not prevent you from giving a different name to the blueprint through the cmdlet. For that, you can use the -Name parameter in the Import- cmdlet.

Let's say you have exported a blueprin

[2019-07-18 16:54] filizt commented on #9643
@Linaa The request/response examples can be found at https://github.com/Azure/azure-rest-api-specs/tree/master/specification/blueprint/resource-manager/Microsoft.Blueprint/preview/2018-11-01-preview/examples.

For assignment an assignment json file would look like:

`{
  "identity": {
    "type": "SystemAssigned"
  },
  "location": "eastus",
  "properties": {
    "description": "enforce pre-define

[2019-07-18 17:15] thecherrytree opened #9682 "New-AzureRMWebAppSSLBinding and New-AzWebAppSSLBinding returning "DefaultErrorResponseException: Operation returned an invalid status code 'NotFound'""
# Description

I've written a PS Module to take a certificate from a vault and bind it to a webapp. I run this script as a part of our pipeline following a resource group deployment. I was able to successfully run this script yesterday and bind the webapp. I redeployed the application and infrastructure this morning and I am getting the error cited in the title.

[code]

## Steps to reproduce

[co

[2019-07-18 17:36] markcowl commented on #9630
Complete

[2019-07-18 17:36] #9630 closed

[2019-07-18 17:50] niander commented on #9652
The only possible way is using the portal or the old Azure cmdlets. For using the new Az cmdlets you need to update to a new Storage Account. I am closing this issue now but feel free to comment here with any further question.

[2019-07-18 18:21] niander commented on #9676
Hi @mentat9 Could you take a look at this issue? Thanks

[2019-07-18 18:34] ankushbindlish2 opened #9686 "Az.StorageSync Add test to cover TierFilesOlderThanDays"
## Description of the new feature
https://github.com/Azure/azure-powershell/pull/9637
## Proposed implementation details (optional)

[2019-07-18 21:03] covici commented on #9652
Any advantage to updating to a new storage account and how would I do
this if I wanted to do that?

On Thu, 18 Jul 2019 13:55:02 -0400,
Niander Assis wrote:

--
Your life is like a penny.  You're going to lose it.  The question is:
How do
you spend it?

         John Covici wb2una
         covici@ccs.covici.com

[2019-07-18 21:04] willyam3469 opened #9687 "Untrusted repository You are installing the modules from an untrusted repository. If you trust this repository, change its InstallationPolicy value by running the Set-PSRepository cmdlet. Are you sure you want to install the modules from 'PSGallery'? [Y] Yes  [A] Yes to All  [N] No  [L] No to All  [S] Suspend  [?] Help (default is "N"):"
## Description

## Steps to reproduce

[code]

## Environment data

[code]

## Module versions

[code]

## Debug output

[code]

## Error output

[code]

[2019-07-18 21:30] ChristopherGLewis commented on #8735
This is only somewhat fixed - you can pass in an array of service endpoints
[code]

but not the location

[2019-07-18 21:59] cormacpayne commented on #9687
@willyam3469 Hey there, I'm going to assume that this issue is about the prompt that is popped when installing a module from the PowerShell Gallery -- the PowerShell Gallery is set as an "untrusted repository" by default to prevent users from installing _any_ module or script from this open gallery without first verifying that they are sure they want to install the given module or script; this app

[2019-07-18 21:59] #9687 closed

[2019-07-19 01:19] mentat9 commented on #9676
This issue is now fixed.

[2019-07-19 01:19] #9676 closed

[2019-07-19 01:23] Drewm3 commented on #9456
First, thank you for reaching out to the Microsoft team.  We identified your issue as a Virtual Machine feature request.  We don't have that feature, but we are interested in hearing more from you and others.  We have created a UserVoice idea here [https://feedback.azure.com/forums/216843-virtual-machines/suggestions/38180833-increase-the-amount-of-data-that-vm-run-command-ca](url) for you to prov

[2019-07-19 01:23] #9456 closed

[2019-07-19 05:31] andreesteve commented on #5862
I see the commits referencing this issue. Do we know what is the release that has the fix in it?

[2019-07-19 06:37] SwathiDhanwada-MSFT opened #9689 "Set-AzDiagnosticSetting : Exception type: ErrorResponseException, Message: Null/Empty, Code: Null, Status code:BadRequest, Reason phrase: Bad Request"
## Description
Set-AzDiagnosticSetting cmdlet execution fails with error" Null/Empty, Code: Null, Status
code:BadRequest, Reason phrase: Bad Request"

## Steps to reproduce

[code]

## Environment data

[code]

## Module versions

[code]

## Debug output

[code]

## Error output

[code]

[2019-07-19 07:07] nschonni opened #9690 "Typo PSHybridConnectionAttibutes"
## Description

"Attributes" is misspelled. Probably not a bit deal, but it does bubble up to the documentation.
Because it is a public class, I guess it would be considered a breaking change to fix
https://github.com/Azure/azure-powershell/blob/1bcbe7b1f7a3323ac98f7754ba03eeb6b45e79f2/src/Relay/Relay/Models/PSHybridConnectionAttibutes.cs#L16

https://github.com/Azure/azure-powershell/search?q=Att

[2019-07-19 07:43] psyrus commented on #9675
Hi @filizt, thanks for the response, and the thorough explanation.

The way the change broke previous functionality I just wanted to notify your team in case it was not intentional. Personally I would've loved the change to have Blueprints.json as the fallback while keeping the option for custom filenames that match the -Name parameter instead, but that's just because I selfishly didn't want to re

[2019-07-19 09:38] SwathiDhanwada-MSFT commented on #9689
Set-AzDiagnosticSetting -ResourceId "/subscriptions/<subId>/resourceGroups/<rg>/providers/Microsoft.Automation/automationAccounts/Test-StanAA" -WorkspaceId "/subscriptions/<subId>/resourceGroups/<rg>/providers/Microsoft.OperationalInsights/workspaces/test-stan1" -Enabled $true

As you can see we are not using the workspace ID but rather the resource id of the workspace. Besides the documentation n

[2019-07-19 09:38] #9689 closed

[2019-07-19 13:24] raworre commented on #8562
I am seeing this error in Azure RM 6.13.1 Is this not yet released?

[2019-07-19 14:33] ryanspletzer commented on #8562
For now I've worked around this by converting the yaml to json on the fly in our build pipeline with assistance from the powershell-yaml module.

https://github.com/cloudbase/powershell-yaml

[2019-07-19 15:04] Damag3d commented on #9132
Why? Nobody needs dysfunctional AzureAD that works only on outdated PS5.1, needs desktop version, has some strange dependencies on Windows Forms and still does not cover all functionality compared to Az CLI/ARM templates. AzureAD must die.

[2019-07-19 17:02] niander commented on #9690
@v-Ajnava Hi. Could you take a look at this? Since it is a model naming issue it should not be a breaking change.

[2019-07-19 21:07] jlian commented on #3268
This is more like feature request for us

[2019-07-19 21:10] jlian commented on #4350
We will need to look into if this is still occurring with the new Az PowerShell commands

[2019-07-19 21:12] jlian commented on #7638
@chieftn any updates?

[2019-07-19 21:19] jlian commented on #7787
@chieftn any updates?

Other folks - can you try with the new Az PowerShell command `Add-AzIotHubRoutingEndpoint` please? We think this might be a doc bug only. The old AzureRM commands didn't contain a command for adding routing endpoints.

[2019-07-19 22:10] peterpogorski commented on #6246
#please-close

@bsiegel this issue has been resolved, can you please close this issue?

[2019-07-19 22:10] #6246 closed

[2019-07-19 22:11] #6705 closed

[2019-07-20 00:33] jrgithub opened #9694 "No Az PS module for Advanced Threat Protection on SQL Managed Instance"
Hi,

Where can I find Az PowerShell functionality to get / set Advanced Threat Protection on SQL Managed Instance. Specifically, I need to get / set NotificationRecipientsEmails, the checkbox to also send notification email to admins and subscription owners, and the checkboxes as part of ExcludedDetectionTypes.

Specifically, similar settings are available for Vulnerability Assessment but not the

[2019-07-20 00:40] jrgithub opened #9695 "No Az PS module for ActiveDirectoryAdministrator on SQL Managed Instance"
Hi,

Where can I find Az PowerShell functionality to get / set ActiveDirectoryAdministrator on SQL Managed Instance. It exists on Azure SQL PaaS but seeking the same for Managed Instance?

Please include this critical functionality.

[2019-07-20 10:12] Scepheo commented on #9668
As the PR has been merged, this can be closed.

[2019-07-20 10:12] #9668 closed

[2019-07-20 10:54] covici commented on #9652
OK, I discovered that the windows service was not running, this is why
I wasn't getting the notifications, the program never ran at all.

Thanks.

On Tue, 16 Jul 2019 18:08:13 -0400,
Niander Assis wrote:

--
Your life is like a penny.  You're going to lose it.  The question is:
How do
you spend it?

         John Covici wb2una
         covici@ccs.covici.com

[2019-07-20 10:55] covici commented on #9652
sorry replied to wrong message.

On Tue, 16 Jul 2019 18:08:13 -0400,
Niander Assis wrote:

--
Your life is like a penny.  You're going to lose it.  The question is:
How do
you spend it?

         John Covici wb2una
         covici@ccs.covici.com

[2019-07-21 14:10] mlnrt opened #9697 "New-AzVM with -Tag = Parameter set cannot be resolved using the specified named parameters"
Hello,
I have an Azure subscription which enforces the use of some tags.
So I need to add the tags when creating resources.

But when I do a
[code]

the command fails with the bellow error
[code]

If I remove `-Tag $mytags` from the command, the scripts executes but fails because it doesn't pass the policy which enforces tags on resources.

I tried to look at documentations, but everything I found

[2019-07-21 15:55] asmagin commented on #2014
Have exactly the same issue.

[2019-07-21 16:11] asmagin commented on #2014
@ronbok, @kapolb
try to use `New-AzSqlServerFirewallRule` for creating a new rule and `Set-AzSqlServerFirewallRule` for updating an existing one.

[2019-07-22 10:01] n0thingness commented on #9241
I'm looking for the Azure PowerShell equivalent of the following Azure CLI command:

[code]

It's rather surprising that both Azure Portal and Azure CLI support this functionality (albeit a [naming discrepancy](https://feedback.azure.com/forums/906355-azure-key-vault/suggestions/38127457-update-key-vault-ec-key-secp256k1-curve-name-to-p)), while Azure PowerShell's Add-AzKeyVaultKey [only supports

[2019-07-22 10:19] filizt commented on #9675
@psyrus Oh I see - yes this was an intentional change. We wanted to make the change as soon as possible to minimize the risk of breaking already established pipelines but looks like we still broke some. Sorry for the inconvenience.

For your suggestion of looking for the custom file name that match with -Name parameter and use Blueprints.json file as the fallback, I'm tagging our PM @alex-frankel

[2019-07-22 13:36] psyrus commented on #9675
@filizt Thanks again for the info! At least for me/my project, we are already working with the new Blueprint.json files and it's not broken anymore now that we are up to date with the new spec.

Thanks for you and your team's hard work enabling us to get our work done through a friendly library rather than having to write all the API calls ourselves.

[2019-07-22 14:21] tech1982 commented on #5704
Why was it closed with no resolution? It's impossible to manage MARS file/folder backups without this option and with PowerShell.

[2019-07-22 18:17] #7130 closed

[2019-07-22 19:05] dgritsko commented on #6292
The following issues appear to be related: https://github.com/Azure/azure-powershell/issues/4856 and https://github.com/Azure/azure-powershell/issues/1528. They both refer to the `CliXml` being generated for parameters passed to `New-AzureRmResourceGroupDeployment`. It appears to be happening both when `-TemplateParameterObject` is used, as well as "dynamic" parameters (e.g., using the splatting t

[2019-07-22 21:13] a-santamaria commented on #9520
@lovelangy, we are going to deprecate this cmdlet as it's misleading since it doesn't make any changes in the cluster side, it only adds the cert to all vmss and compute already has support for this. Please use [Add-AzVmssSecret](https://docs.microsoft.com/en-us/powershell/module/az.compute/add-azvmsssecret?view=azps-2.4.0)

[2019-07-22 21:13] #9520 closed

[2019-07-22 21:46] markcowl commented on #8868
Complete

[2019-07-22 21:46] #8868 closed

[2019-07-22 21:52] markcowl commented on #9558
@wxwr It looks like you have installed the 1.0 version of Az in your User scope, and the 0.7 version of Az in your machien scope and the latest version of AzureRM in your machine scope.  You probably want to remove the modules that you do not want (and I would consider removing AzureRm and updating to 'Az'.

You indicated that you can repro this in CloudSHell, what was the module layotu there  (ag

[2019-07-22 21:53] markcowl commented on #9450
Closing for lack of response.  If you cna provide the requested data, please open a new issue.

[2019-07-22 21:53] #9450 closed

[2019-07-22 21:54] markcowl commented on #9455
Closing as resolved.

[2019-07-22 21:54] #9455 closed

[2019-07-22 22:44] sphibbs commented on #9697
@mlnrt what parameters are you passing? Currently tag is only part of the default parameter set `New-AzVM
   [-ResourceGroupName] <String>
   [-Location] <String>
   [-VM] <PSVirtualMachine>
   [[-Zone] <String[]>]
   [-DisableBginfoExtension]
   [-Tag <Hashtable>]
   [-LicenseType <String>]
   [-AsJob]
   [-DefaultProfile <IAzureContextContainer>]
   [-WhatIf]
   [-Confirm]
   [<CommonParameters>

[2019-07-23 00:13] markcowl commented on #9666
@Lumute Yes, that or a similar script.  For interactive use, actually opening the directory and deleting the module folders is the fastest and best option.

[2019-07-23 00:15] markcowl commented on #9666
#8595 is the current issue that tracks the new capability.  Closing thsi and linking it to the new feature issue.

[2019-07-23 00:15] #9666 closed

[2019-07-23 01:35] mattduguid commented on #5586
We have ~250 secrets per keyvault across ~13 environments, yes we do need all of them and keyvault is the selected storage choice for the company I work for, yes its extremely painful waiting for the secrets to download to our app reminds me of dial up modem days, can you please provide a method to GettAllSecrets() for current version or secrets that have a name that matches a filter and bring us

[2019-07-23 07:17] rupeshtech commented on #9677
Update: I had contacted Microsoft team regarding that. follwoing is their response
 when we use the Az Module on PowerShell to connect, the Tenant and Subscription
are never set unless we specify them during the sign in.

This behavior seems to be a by-design of the Az PowerShell Module that we are using.

## Conclusion
[code]

[2019-07-23 07:18] #9677 closed

[2019-07-23 08:28] petrajkogit commented on #9695
Hi,

unfortunately this functionality is not yet implemented to be used with Powershell. We will prioritize this work in following period. For now, Azure portal can be used as a workaround.

[2019-07-23 13:04] Sathana109 commented on #9573
Hi Team, Can we get any update on this?

[2019-07-23 13:05] JulienFloris opened #9709 "Invoke-AzureRmResourceAction --> The HTTP method 'POST' is not supported on the resource"
## Description

We Are trying to Use az cmdlet: 'Invoke-AzResourceAction' Only it is giving the following error:

[code]

When I skip the API version param is give's an error that the API version is not supported, and if it would be using the latests that would propably be correct.

Invoke-WebRequest with the same URI those work.

Docs about this API:
- https://docs.microsoft.com/en-us/rest/api/sq

[2019-07-23 13:30] dariuszbz opened #9710 "HSM available only under premium SKU"

[2019-07-23 17:23] SteveL-MSFT commented on #6292
It seems that when `JsonConvert` serializes a securestring, it ends up calling into PowerShell's clixml serializer.  I think AzPS needs to handle the case where the serialized object is `CliXml` and call `Import-CliXml` to deserialize it.

[2019-07-23 18:17] felixwa commented on #7680
@leszekkoc , you can use Get-AzSearchQueryKey to list all query keys.
Example:
Get-AzSearchQueryKey -ResourceGroupName "TestAzureSearchPsGroup" -ServiceName "pstestazuresearch01"

Link: https://docs.microsoft.com/en-us/powershell/module/az.search/get-azsearchquerykey

[2019-07-23 18:18] #7680 closed

[2019-07-23 20:17] brandonh-msft commented on #7752
Underlying scenario for me is trying to hit the Kusto API which requires a token created against the `.kusto.windows.net` resource URI. The default tokens coming thru off `AzContext` don't work.

[2019-07-23 20:47] brandonh-msft commented on #2494
Nothing in this thread helps for getting access tokens to **other resources**, unfortunately, [like the Kusto API](https://docs.microsoft.com/en-us/azure/kusto/api/rest/authentication), for instance.
This appears to be well taken care of by the `--resource` flag on the `az rest` CLI command, but nothing equivalent in AzPosh.

[2019-07-23 22:16] MiYanni commented on #9710
@dariuszbz Hi, can you let us know what you're referring to? Is there a specific cmdlet in Azure PowerShell you're having an issue with? Any details will be helpful.

[2019-07-23 22:21] MiYanni commented on #9709
@ravbhatnagar @Tiano2017 Can you take a look at this issue?

[2019-07-23 22:29] MiYanni commented on #9682
@panchagnula Can you take a look at this?

[2019-07-23 23:02] veleek opened #9714 "Get-AzMetricDefinition doesn't show detailed metric info like dimensions"
## Description
`Get-AzMetricDefinition` doesn't return additional metric detail like SupportedAggregationTypes or Dimensions.  Debug output confirms that the values ARE being sent back by the service, they just aren't being deserialized properly.

## Steps to reproduce

[code]

## Environment data

[code]

## Module versions

[code]

## Debug output

[code]

## Error output

No error occurs, just

[2019-07-23 23:29] panchagnula commented on #9682
@thecherrytree  given you said that you were able to get this to work yesterday but anymore, without any changes in the script on your end. Can you try if the operation works using portal ? Will help us narrow down if this is an API issue.

[2019-07-23 23:31] panchagnula commented on #9682
would you be willing to share your appName & the timeStamp in UTC when this stopped working?

[2019-07-24 00:45] jlian commented on #4350
https://msazure.visualstudio.com/One/_workitems/edit/4979335 Target Nov

[2019-07-24 00:50] jlian commented on #6815
https://msazure.visualstudio.com/One/_workitems/edit/4979362 Target Nov

[2019-07-24 00:53] jlian commented on #7638
Target Nov https://msazure.visualstudio.com/One/_workitems/edit/4979378

[2019-07-24 00:55] jlian commented on #7787
https://msazure.visualstudio.com/One/_workitems/edit/4979397

[2019-07-24 03:58] #7787 closed

[2019-07-24 04:00] #7638 closed

[2019-07-24 04:01] #6815 closed

[2019-07-24 04:02] #4350 closed

[2019-07-24 05:49] n0thingness opened #9716 "Add ECC key support to Add-AzKeyVaultKey cmdlet"
## Description of the new feature
I'm looking for the Azure PowerShell equivalent of the following Azure CLI command:

[code]
It's rather surprising that both Azure Portal and Azure CLI support this functionality (albeit a [naming discrepancy](https://feedback.azure.com/forums/906355-azure-key-vault/suggestions/38127457-update-key-vault-ec-key-secp256k1-curve-name-to-p)), while Azure PowerShell's

[2019-07-24 08:09] spparida commented on #9472
@blueww I am facing the same issue, I changed my code to

$storageTable = (Get-AzStorageTable -Name $tableName -Context $ctx).CloudTable.

But no luck..Can you pls help/suggest here

[2019-07-24 09:31] siddharth7 commented on #9638
Get-BackupItems is not supported for Azure Backup Agent. You can only fetch containers using `GetAzRecoveryServicesBackupManagementServer`

[2019-07-24 09:31] #9638 closed

[2019-07-24 12:59] wxwr commented on #9558
Here is CloudShell output.

[code]

[2019-07-24 16:42] sphibbs commented on #9697
The strategy library needs to add the tag support

[2019-07-24 22:00] Cdoherty95 commented on #9259
Im not sure what I was doing wrong but I seemed to figure it out. Below is a working example of the function I wrote to create a new alert rule.

[code]

[2019-07-24 22:17] LucianFrango opened #9718 "Cannot disassociate RouteTable with Set-AzVirtualNetworkSubnetConfig -RouteTable $null"
## Description
Associating a RouteTable with a subnet works fine. PowerShell example=
$RT = Get-AzRouteTable -name <RTname> -ResourceGroupName <RGname>
Set-AzVirtualNetworkSubnetConfig -VirtualNetwork <VNETname> -Name <RGname> -AddressPrefix 10.0.0.0/8 -RouteTable $RT | Set-AzVirtualNetwork

However, dissociating a RouteTable from a subnet does not seem to work. PowerShell example:
$VNET = Get-AzV

[2019-07-24 23:09] panchagnula commented on #9316
Closing this since we believe this should now be fixed. Please let us know if this is not the case.

[2019-07-24 23:37] panchagnula commented on #5841
@montyaahad  i beleive in this case the command shows whatever the API returns.

Can you go to resources.azure.com/raw & run this command https://docs.microsoft.com/en-us/rest/api/appservice/webapps/listpublishingprofilexmlwithsecrets on your resource & share with us if the details you see using PS is different from the API.

[2019-07-25 10:09] montyaahad commented on #5841
@panchagnula I ran the command in resources.azure.com/raw and getting the same response as I found earlier in PS. So it looks like PS is showing what it gets from API.

Let me explain what we are doing -
1. I run this command to get FTP publish url and credentials
2. then use these to upload file through ftp
3. it was working fine, then we moved our apps inside ILB ASE
4. and file upload is not wo

[2019-07-25 12:23] mrptsai opened #9720 "Import-AzBlueprintWithArtifact not importing Artifacts"
## Description
When importing a Blueprint from a directory containing the Parent and Artifacts JSON files, only the Resource Group(s) are imported not the Artifacts such as Templates or Policies
## Steps to reproduce

[code]

## Environment data

[code]

## Module versions

[code]

## Debug output

[code]

## Error output

[code]

[2019-07-25 14:18] jpsebasti opened #9721 "az version 2.4.0, can someone tell me why this does not work?"
The following code is throwing:
Get-AzDisk : 'this.Client.SubscriptionId' cannot be null.
Can someone tell me why this is not working?
The Connect-AzAccount call is successful but the Get-AzDisk call is not

$clientID = "id-here"
$key = "key-here"
$SecurePassword = $key | ConvertTo-SecureString -AsPlainText -Force
$cred = new-object -typename System.Management.Automation.PSCredential -argumentlist

[2019-07-25 18:06] structre40 commented on #9261
@anilman Any update on when this change will be pushed or changed so that tableName is optional? This is currently causing issues for us scripting out creation of 50+ datasets.

[2019-07-25 20:13] hvermis commented on #9261
This will be released in the upcoming PS release, which is scheduled for 7/30

[2019-07-25 21:00] markcowl commented on #9721
@jpsebati  JMy guess is that you aren't authorized for any subscriptions in that tenant., but there are some other possibilities.  To help diagnose, can you provide the extra info that is asked for in the issue template:
- Module Layout
[code]

- Failing debug trace (in this case, including the login and the failing cmdlet
[code]

- PowerShell and system information
[code]

[2019-07-25 21:03] markcowl commented on #9720
@filizt can you take  a look?

[2019-07-25 21:04] markcowl commented on #9718
@LucianFrango  Can you provide the debug stream trace - this shows the client/server communication, and may be necessary to help diagnose the issue.

[2019-07-25 21:38] srini99mkl opened #9724 "Move-AzDataLakeStoreItem to rename a file in ADLS gen2"
## Description
Hello All, I am trying to rename a file in DataLake Store Gen2 using the command
Move-AzDataLakeStoreItem -AccountName mererdsaddffdev -Path \rdfdfdf\A\dbo\Dimdfdfdf\filename.txt -Destination \rdfdfdf\A\dbo\Dimdfdfdf\_filename_.txt

I am seeing following error
Parameter name: name,The 'User-Agent' header must be modified using the appropriate property or method.

## Steps to reprodu

[2019-07-25 21:38] jpsebasti commented on #9721
Thank you, that was it.  The Service Principal needed reader at the subscription level.  The error generated 'this.Client.SubscriptionId' cannot be null' is a bit confusing

[2019-07-25 21:38] jpsebasti commented on #9721
solved, see above

[2019-07-25 21:38] #9721 closed

[2019-07-25 21:43] #7499 closed

[2019-07-25 21:43] #7522 closed

[2019-07-25 21:58] btardif commented on #4680
@Nking92 can you please try to repro this during the current milestone and close as no-repro if that is the case?

[2019-07-25 21:59] btardif commented on #4982
https://docs.microsoft.com/en-us/rest/api/appservice/certificates/createorupdate

[2019-07-25 22:00] btardif commented on #7469
https://docs.microsoft.com/en-us/rest/api/appservice/certificates/createorupdate

[2019-07-25 23:20] markcowl opened #9726 "Move CI job for powershell-common to azure-sdk ADO instance"
## Description
Current CI job for powershell-common [here](https://devdiv.visualstudio.com/DevDiv/_build?definitionId=9544)

- [x] Move pipeline in the 'internal' project in the azure-sdk ADO instance (https://dev.azure.com/azure-sdk/internal)
- [x] Verify correct build
- [x] Verify PR hooks

# Cost: 2

[2019-07-26 00:42] markcowl opened #9727 "Move Common sign jobs to Azure DevOps"
## Description
- [ ] Move jenkins signing job for powershell-common into internal ADO (https://azuresdkci.westus2.cloudapp.azure.com/view/PowerShell/job/ps-common-sign/)

job steps:
[code]
- [ ] Verify sign job

## Cost: 3

[2019-07-26 01:09] Drewm3 commented on #9600
Hi @jmora58, the CustomData functionality only makes the data available to the guest operating system. In the case of Linux VMs, there is a service called CloudInit [https://cloud-init.io/](url) which is installed with some Linux distros that execute the data in CustomData as a script.

To execute a script on the VM the best solution is using the Custom Script Extension for VMs.

[2019-07-26 01:09] #9600 closed

[2019-07-26 10:02] vandaelesam opened #9728 "Exception when executing Connect-AzAccount from C#"
I am running a powershell script from C# with help of the  RunspaceInvoker.

The script works without an error if i run the script in powershell directly and fill in my parameters.
I keep getting the following error if i run the script from the following code.
Code:

            Runspace runspace = RunspaceFactory.CreateRunspace();
            runspace.Open();

            RunspaceInvoke runSpaceI

[2019-07-26 14:19] jrudley commented on #7551
I am seeing this as well with terraform which calls the API
azurerm_recovery_services_vault.rsv: Error creating/updating Recovery Service Vault "EUS-2032341-RSV01" (Resource Group "EUS-2032341-PROD"): recoveryservices.VaultsClient#CreateOrUpdate: Failure sending request: StatusCode=409 -- Original Error: autorest/azure: Service returned an error. Status=<nil>
Code="Conflict" Message="{\"ErrorCode\

[2019-07-26 17:26] aperezcloud commented on #7522
This issue has been fixed

[2019-07-26 17:27] aperezcloud commented on #7499
This issue has been fixed

[2019-07-26 17:30] iamshital commented on #9448
I tried all the workaround but doesn't seem to be working.. will try to revert to older version of Az powershell and will update here...

[2019-07-26 19:29] snarkywolverine commented on #9720
@mrptsai Can you please share the file/folder hierarchy of the Blueprint you are trying to import?

[2019-07-26 22:53] mrptsai commented on #9720
![image](https://user-images.githubusercontent.com/23398234/61985295-f02c9480-b04b-11e9-9bc6-63598a7e81c2.png)

[2019-07-26 23:24] snarkywolverine commented on #9720
Can you try placing the artifacts in an artifacts subfolder, rather than in the same folder as the blueprint definition?

[2019-07-27 07:36] hemapriyamaheswaran opened #9735 "not able to deploy templates in virtual machine scale sets with autoscaling"
In azure, I am trying to create templates for azure virtual machine scale sets with autoscaling. That templates fully in JSON format. I got one example template and try it as my convenient.  almost it completed but virtual machine scale set cannot created. It shows the following error. I don't understand this error.
Azure Error: InvalidRequestContent
Message: The request content was invalid and co

[2019-07-27 15:47] ecfan commented on #8410
Adding the correct @daviburg

[2019-07-27 22:07] TurtleBeach opened #9736 "Missing Powershell Cmdlets"
Powershell (6.2/2.4) is missing the DeviceProvisioningServices cmdlets.
I am attempting to use **New-AzIoTDeviceProvisioningService** in a Powershell function and when testing locally (after ensuring the Az module 2.4 is installed) an exception is thrown:
The term 'New-AzIoTDeviceProvisioningService' is not recognized as the name of a cmdlet, function, script file, or operable program.
Other cmdle

[2019-07-28 18:55] mlnrt commented on #9697
@sphibbs thank you for the reply.
I'm using many parameters like `-Image -Credential -VirtualNetworkName -SubnetName -SecurityGroupName -Size`
It didn't even realized that there was different parameter sets and that -Tag could only be used with the default one... My bad. But that seemed so natural that it would be a basic parameter.

[2019-07-28 21:08] andreesteve commented on #3012
@markcowl - do you know if this is planned for a future release? This feature would allow us to move completely out of AzureAD module into Az !

[2019-07-28 22:37] LucianFrango commented on #9718
My apologies for the delay.
I've quickly created a test VNET in a DEV subscription and removed any identifiers from the output.

Debug output:

PS C:\Users\Lucian> $VNET = Get-AzVirtualNetwork -Name LUCIAN-TEST-VNET -ResourceGroupName LJUCIAN-TEST
Set-AzVirtualNetworkSubnetConfig -VirtualNetwork $VNET -Name default -AddressPrefix 192.168.0.0/24 -RouteTable $null | Set-AzVirtualNetwork -Debug
WARNI

[2019-07-29 03:29] blueww commented on #9472
@spparida
Please share the details:
1. The scrip the repro the issue
2. the detail failure
3. the name/version of the module you use.

[2019-07-29 07:13] xiaohuyyyy-ms commented on #9726
the new pipeline is in https://dev.azure.com/azure-sdk/internal/_build?definitionId=696&_a=summary

[2019-07-29 07:57] number213 commented on #9718
Set for subnet only updates RouteTable if it's not null (https://github.com/Azure/azure-powershell/blob/master/src/Network/Network/VirtualNetwork/Subnet/SetAzureVirtualNetworkSubnetConfigCommand.cs#L58). I guess this is done to avoid customer having to provide all parameters each time they want to update the resource.

Can you try editing subnet object manually?
[code]

[2019-07-29 09:48] ArieShout commented on #9636
@juniwang as I'm not currently working on the project.

[2019-07-29 12:54] lwajswaj commented on #9735
This issue seems to be related to ARM template rather than AZ module, doesn't it?

[2019-07-29 13:28] Panzerbjrn opened #9737 "Non-Canonical cmdlet names used in Az.psm1"
## Description
Az.Accounts fails to load when Aliases have been removed.
This is using PowerShell Core 6.2.0
Windows 10.0.17134

## Steps to reproduce

Enter PowerShell Core
[code]
The import will then fail with the error:
[code]

## Environment data

[code]

## Module versions

[code]

## Debug output

Nothing was output when importing AZ with this set.
[code]

## Error output

Resolve-AzError do

[2019-07-29 14:17] theheatDK opened #9738 "New-AzActivityLogAlertCondition does not save the Equal parameter"
## Description
When you call New-AzActivityLogAlertCondition the Equal parameter is not stored in the returned object. The object only contains one Property called Field that contains the input from the Field parameter. For this, to work I would have expected an Equal property in the returned object.

## Steps to reproduce

[code]
## Environment data

$PSVersionTable

Name

[2019-07-29 15:15] MrDRamos commented on #9456
The link you provided doesn't seem to go to a place for making comments... i get (No results matched your search.)
So let me provide a simple example that exceeds 4K of returned data:
    **$result_json = Get-Process | ConvertTo-Json  <- This will generate over 1 MB of data**
A simple workaround is to to store the results in blob storage and then have the calling process read the blob. We started

[2019-07-29 15:23] konstantinmds opened #9739 "azure key-vault can't take multiple powershell scripts connecting to take secret value with"
When executing single powershell script, i get credentials from my key vault, or when i run them sequentialy ( on the same key vault secret).

I connect like this :
[code]

But when i run scripts in parallel, where every one of them needs to to get the secret from the vault, i get following error :
" Get-AzureKeyVaultSecret : user_interaction_required: One of two conditions was encountered: 1. The

[2019-07-29 16:36] sphibbs commented on #9697
Reopening as -Tag should be optional for any creation parameter set.

[2019-07-29 18:01] joshidp commented on #8474
Ant update on this issue?

[2019-07-29 18:17] niander commented on #9735
Hi @hemapriyamaheswaran. Could you try to fill out the following template?

(If you create a new issue of "Az module bug report" type you can see the full template with comments that may help)

## Description

## Steps to reproduce

[code]

## Environment data

[code]

## Module versions

[code]

## Debug output

[code]

## Error output

[code]

[2019-07-29 18:21] niander commented on #9736
Hi @TurtleBeach! This module is still on preview. Did you specifically installed `Az.DeviceProvisioningServices` module and imported it in your session before trying to run it?

[2019-07-29 20:16] #8407 closed

[2019-07-29 20:16] #8681 closed

[2019-07-29 20:16] #4708 closed

[2019-07-29 20:17] sphibbs commented on #9724
@srini99mkl can you please provide the following to help us diagnose the issue?
Rn (Get-Module  -ListAvailable) and paste the output here
Set $DebugPreference='Continue' before running the repro and paste the resulting debug stream

[2019-07-29 20:43] tgskiman commented on #9141
Just wanted to add this is the same for Get-AzLogicAppTriggerHistory

[2019-07-29 20:55] niander commented on #9738
@theheatDK In fact PowerShell `Get-Member` shows Equals as a Method but it is in fact a property. If you run `$condition.Equals` you will see the result `OtherField`. I am wondering if this is a bug since the class is overriding the Equals comparison method from `System.Object` as an attribute.

[2019-07-29 20:59] covici commented on #9652
I wanted to ask something before migrating my account, I would like to know if the apis remain the same -- I have several programs that use those apis to manipulate blobs, create new containers, etc. so if I migrate from classic, will those remain the same?

Thanks.

[2019-07-29 21:23] krispenner commented on #9336
Ran in to the same issue myself, @Danlewis3's workaround also worked for me, example below for anyone else.

[code]

Oddly, I also needed to specify the API Name and/or Path and/or Protocols parameters in the Set-AzApiManagementApi call which may be another issue (unrelated) as the documentation suggests that just the Context and ApiId are all that is required. Otherwise I was receiving a "Value c

[2019-07-29 21:34] alex-frankel commented on #9720
I think we can close this. The issue is because the artifact files (everything but blueprint.json) are not in the artifacts folder. If that ends up not being the issue, we can re-open.

Paul - we recently introduced these cmdlets which work *differently* than the Manage-AzureRMBlueprint script that I believe you were using before.

[2019-07-29 21:34] #9720 closed

[2019-07-29 21:36] alex-frankel commented on #9675
Closing since we were able to resolve by changing the filenames. Glad you are enjoying the new cmdlets. We really like them too :)

[2019-07-29 21:36] #9675 closed

[2019-07-29 21:41] theheatDK commented on #9738
Ah thanks @niander.

[2019-07-29 21:41] #9738 closed

[2019-07-29 21:53] mrptsai commented on #9720
Ok Alex. Sorry, I been rather busy and haven’t been able to test.
Thanks.

    	Kind regards,
Paul Towler

On Tue, Jul 30, 2019 at 7:38 AM +1000, "Alex Frankel" <notifications@github.com> wrote:

Closed #9720.

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub, or mute the thread.

[2019-07-29 22:46] LucianFrango commented on #9718
Thanks @number213, that does it. There isn't much in the way of disassociating a RouteTable via PS, so I was trying to use the AzureRM PS equivalent cmdlet with AzureAz.

[2019-07-29 22:46] #9718 closed

[2019-07-29 23:02] alex-frankel commented on #9720
All good - keep us posted :)

[2019-07-30 05:44] ToMakeSense commented on #9336
@Danlewis3  @krispenner the work around combining `Import-AzApiManagementApi` and `Set-AzApiManagementApi` also works for setting display name, see: #9428

[2019-07-30 08:24] staal-it commented on #2939
I'm trying to use a secret in an ARM template deployed from Azure DevOps but keer getting the following error:
"The service does not have access to '/subscriptions/<sub>/resourcegroups/<group>/providers/microsoft.keyvault/vaults/<vaultName>' Key Vault. Please make sure that you have granted necessary permissions to the service to perform the request operation."

I managed to assign the role mentio

[2019-07-30 09:11] Panzerbjrn commented on #9737
Also, since it looks like it might be a problem with the AZ.Accounts.psm1 file, I looked for it so I could investigate, but it wasn't in the file list.

[2019-07-30 17:05] aboelter opened #9747 "Policy cmdlets cannot handle multiple not scopes"
New-AzPolicyAssignment and Set-AzPolicyAssignment cannot handle multiple -NotScope. According to documentation it is an array of string, which works unless you have multiple entries in the array. Running a debug on the cmdlet, it appears that it is not passing an array of strings into the rest command. Adding two entries as [String[]] to an array and passing it to the New command as:
New-AzPolicyA

[2019-07-30 17:28] niander commented on #9747
@mentat9 Hi. Could you take a look at this issue?

[2019-07-30 17:31] niander commented on #9739
@konstantinmds Hi. Could you give us the debug output? Please run `$DebugPreference = "Continue"` before running the above commands.

[2019-07-30 17:35] niander commented on #9737
@Panzerbjrn If you don't remove alias do you get the same error? Also, if you use `Remove-Alias` command instead of `Remove-Item -Path Alias:* -Force` do you get the same error?

[2019-07-30 17:43] niander commented on #9716
Hi @n0thingness this functionality is going to be available soon in a coming update release.

[2019-07-30 17:48] niander commented on #9697
Not updating convenience cmdlets at this time and user seems to have find a solution. Closing it

[2019-07-30 17:48] #9697 closed

[2019-07-30 17:50] niander commented on #9598
Closing due lack of activity

[2019-07-30 17:50] #9598 closed

[2019-07-30 18:50] v-Ajnava commented on #9658
@nschonni, Thanks for pointing out, typo is fixed and will be in the next release. hence closing the issue.

[2019-07-30 18:50] #9658 closed

[2019-07-30 19:10] Panzerbjrn commented on #9737
If I don't remove aliases, then it works.
If I do `Get-Alias |ForEach-Object {Try{Remove-Alias $_ -ErrorAction SilentlyContinue}catch{}}` then it also works as not all aliases are removed -__-
90 aliases are left behind when I don't use `Remove-Item -Path Alias:* -Force`...

[2019-07-30 22:24] konstantinmds commented on #9739
@niander Here it is :

`
Microsoft.IdentityModel.Clients.ActiveDirectory.AdalException: user_interaction_required: One of two conditions was

encountered: 1. The PromptBehavior.Never flag was passed, but the constraint could not be honored, because user

interaction was required. 2. An error occurred during a silent web authentication that prevented the http

authentication flow from completing in

[2019-07-30 22:39] hyonholee commented on #9599
Please update VM.   Set-AzVMBootDiagnostic only updates a local VM object.

Set-AzVMBootDiagnostic `
   -VM $vm `
   -Enable `
   -ResourceGroupName "myResourceGroupMonitor" `
   -StorageAccountName $storAcctName `
| Update-AzVM

[2019-07-30 22:46] alex-frankel commented on #9505
@filizt is this fix out? We should close this if it's done

[2019-07-30 22:50] #9505 closed

[2019-07-30 23:59] thecherrytree commented on #9682
@panchagnula - appName is css-sx-svc-development and Thu, 18 Jul 2019 17:01:00 UTC.

I ran the script locally again today, and tested it in the build pipeline and it bound successfully twice.  I'm not really certain what explains the behavior. So I can guess you can close this ticket?

As a side note, I've noticed that the documentation for this particular cmdlet is relatively lacking. The final s

[2019-07-31 01:36] juniwang commented on #9636
Sorry for late response, we are working on that. We identified the root cause and are working on a new version.  However we didn't find any workaround fow now, sorry about that. Will keep you updated if any update or workaound.

[2019-07-31 05:46] bingbing8 opened #9751 "New-AzADServicePrincipal fails with ApplicationId option"
## Description
New-AzADServicePrincipal fails with ApplicationId option. Per this link
-ApplicationIdhttps://docs.microsoft.com/en-us/powershell/module/az.resources/new-azadserviceprincipal?view=azps-2.5.0, I expect a spn with the provided guid as app id is created. Note that if I provide an exist applicationId, it complains that the appid already exists.
The unique application id for a service pr

[2019-07-31 10:45] raworre opened #9752 "Creating new API Revision does not save description"
## Description
When creating a new API revision with the `New-AzApiManagementApiRevision` commandlet, the value set using the `-ApiRevisionDescription` parameter does not get set on the resulting API object.

## Steps to reproduce
Running the following script against an existing API in API Management will result in a blank description in the final output statement. Additionally, no description sho

[2019-07-31 11:37] konstantinmds commented on #9739
Probably the thing can be using of the AzureRM module with AzModule.

[2019-07-31 11:49] CharlesToniolo commented on #8934
I have the same problem too

[2019-07-31 12:16] Glober777 commented on #9160
@bingbing8, @markcowl. Great idea! This would also make it easier to connect using certificates stored in AzureAutomation account from Hybrid Runbook Worker machines (as apparently, Connect-AzAccount cannot find a certificate by the thumbprint when executed outside of Azure):
[code]

[2019-07-31 14:36] pvrk commented on #7778
Updated the PS and CLI docs with 30 mins interval and limit of 100 VMs

[2019-07-31 14:36] #7778 closed

[2019-07-31 16:55] cormacpayne commented on #9751
@bingbing8 it looks like there's a difference in the behavior of the cmdlet and what is stated in the documentation for this cmdlet. The cmdlet currently expects the application id that is provided to be that of an existing application, and if one doesn't exist, it throws with the above message. The documentation, however, makes it seem like if the application doesn't exist, then one with that app

[2019-07-31 16:57] niander commented on #9752
@solankisamir Hi! Could you take a look at this? Thanks

[2019-07-31 17:01] niander commented on #9739
Could you list here all modules you have in your system? `Get-Module -ListAvailable`

[2019-07-31 17:03] niander commented on #9737
@Panzerbjrn Do you know which aliases are these? Could you list it here? Thanks

[2019-07-31 17:54] hiteshkacholiya commented on #9728
Did you manage to get this resolved? I have also started getting this error in random executions of PowerShell via C#. I managed to get it removed for one run by removing AzureRM from my local instance but it started showing up again in subsequent runs. I am sure this module of mine was working perfectly fine a few days ago and not it is behaving randomly and gives the below error repeatedyl

{Met

[2019-07-31 17:57] samarths-msft commented on #7752
Exact same issue, except the resource in my case is https://apps.azureiotcentral.com. az account get-access-token --resource works, but I'm hoping for a PS equivalent.

[2019-07-31 18:43] konstantinmds commented on #9739
Output :
ModuleType Version    Name                                ExportedCommands
---------- -------    ----                                ----------------
Script     1.6.0      Az.Accounts                         {Disable-AzDataColle...
Script     1.0.0      Az.Advisor                          {Get-AzAdvisorRecomm...
Script     1.0.1      Az.Aks                              {Get-AzAks, New-AzA

[2019-07-31 18:58] bingbing8 commented on #9751
@cormacpayne , note that if I provide an exist applicationId, it complains that the appid already exists and does not go through

[2019-07-31 20:09] markcowl commented on #7752
In this case, why not use the [Az.Kusto module](https://www.powershellgallery.com/packages/Az.Kusto/0.1.1)?

It is fundamentally insecure to return (and display) tokens, but would it serve your purpose if we implemented a cmdlet like 'Invoke-AzWebRequest' that could make an authenticated web request?

Also, for programmatic access (such as in the azure functions cli) there is a cross-platform MSAL

[2019-07-31 20:12] markcowl commented on #7752
@dcaro Two dfferent issues being discussed here:

- Integration with the function apps cli, which I think is a priority, and we should explore with the functions team
- Potentially another reason to support Invoke-AzWebRequest

[2019-07-31 20:21] brandonh-msft commented on #7752
@markcowl thanks for your reply!

`Az.Kusto` works only for management operations. Unfortunately they've not yet provided any way to create tables or data mappings so I have to work w/ the REST API to make this happen which necessitates a token for their resource endpoint.

I'm not familiar with `Invoke-AzWebRequest` but if it would make this workaround:
[code]

more succinct/prettier or alleviate

[2019-07-31 20:25] brandonh-msft commented on #7752
Regarding `func` integration, honestly, I don't think we should be tooling around yet another CLI that people have to install. You can already do everything func CLI does with existing PS modules / `dotnet` calls except `func host` operations (obviously not applicable to AzPosh).

Just my .02 👛

[2019-07-31 21:18] samarths-msft commented on #7752
Wow. That worked for me as well.

[2019-07-31 21:20] ahmelsayed commented on #7752
`func` similarly only needs to get the token from Az if available. [It already does this ](https://github.com/Azure/azure-functions-core-tools/blob/f53563b622ee68f00811ddaaaa67d1199067f8ad/src/Azure.Functions.Cli/Actions/AzureActions/BaseAzureAction.cs#L266-L273) thanks to @TylerLeonhardt. I think his point was that it would be nice to have a better way to achieve this through Az module than it's

[2019-07-31 21:34] brandonh-msft commented on #7752
_my_ main point is we should have parity between az cli and azposh

[2019-07-31 21:53] dcaro commented on #9440
Adding #7752 to the list.

[2019-07-31 22:02] dcaro commented on #7752
@brandonh-msft we are working on getting the parity between the az cli and Azure PowerShell but it will take a while to get there.

[2019-07-31 22:14] PL-lhuynh opened #9753 "Get-AzStorageBlobContent : Illegal characters in path within DSC Script resource"
## Description
When downloading a blob from storage from within a Script resource of a DSC configuration using Get-AzStorageBlobContent, the cmdlet returns with an error of invalid character.  However, running the same command from outside a DSC Configuration block (as a standard script) will work with no issues.

## Steps to reproduce
Call Get-AzStorageBlobContent from DSC Script resource.
[code]

[2019-07-31 23:53] msnnpatel opened #9754 "Error - Get-AzSecurityTask : The given key was not present in the dictionary"
When running Get-AzSecurityTask for some 3 of the customer's subscriptions, getting error.
Get-AzSecurityTask : The given key was not present in the dictionary

Cmdlet Get-AzSecurityTask works for some of the other subscription. When running fiddler trace, it looks like cmdlet is querying API and get the results in JSON format. However, it looks like it fails to process the results and throws the

[2019-08-01 00:14] msnnpatel opened #9755 "Error - Get-AzSecurityTask : The given key was not present in the dictionary."
## Description
Getting error when running Get-AzSecurityTask. Getting error for some subscription. Error wasn't there last month. So, it could be something to do with new tasks added in the list of recommendations.

## Steps to reproduce

[code]

## Environment data

PS C:\> $PSVersionTable
Name                           Value
----                           -----
PSVersion                      5.1

[2019-08-01 00:18] msnnpatel commented on #9754
Duplicate. New issue created with template. #9755

[2019-08-01 00:18] #9754 closed

[2019-08-01 00:35] mentat9 commented on #9747
Thanks: I've opened a work item on my team for this. We'll get to it as soon as we can.

[2019-08-01 01:06] pmontanaro commented on #7389
On Azure Python SDK 4.0.0 and this is still a problem.

I have no problems with UsageDetail however, but all cost values are 0 no matter what I do.

[2019-08-01 06:26] blueww commented on #9753
@PL-lhuynh
This looks like very similar with https://github.com/Azure/azure-powershell/issues/8531

It looks like the environment issue.
Please make sure UseLegacyPathHandlin is set to false , and following command note report error in the environment.
`[System.IO.Path]::GetFullPath("\\?\c:\test.csv")`

See more details in  https://github.com/Azure/azure-powershell/issues/8531

[2019-08-01 08:22] mattbrailsford commented on #9636
As an update from my end I did find a workaround by using Az-Resource rather than Az-Signalr. I documented my solution on dev.to over at https://dev.to/mattbrailsford/auto-scaling-azures-signalr-service-via-powershell-function-45j5

Would still be good to get Az-Signalr working, but there is at least a solution in the meantime.

[2019-08-01 08:34] juniwang commented on #9636
Great to hear that.  Thanks a lot @mattbrailsford. New version is under development.  The AzSignalR is outdated for a while. We are not only fixing the issues but also adding more cmdlets to catch up with the latest RestAPI/SDKs. It will take some time but we will try our best.

[2019-08-01 08:40] vandaelesam commented on #9728
I've heard nothing from them. I keep getting this error. I have tried it on a new clean machine where there was no AzureRm installed. I never got it running on a single run from c#. It works perfectly from powershell ISE.

I hope to hear from the developers as soon as possible.

[2019-08-01 12:17] IanKemp commented on #9479
Is this perhaps going to be fixed sometime this millennium?

[2019-08-01 13:45] diegopietruszka commented on #9580
Anyone on this?

[2019-08-01 14:48] #9753 closed

[2019-08-01 15:55] AndyHerb opened #9759 "Warn when results are truncated in Search-AzGraph"
## Description of the new feature
Currently, when a you run a query via Search-AzGraph but don't specify the -First parameter, the results are limited to the first 100 items (see https://github.com/Azure/azure-powershell/blob/master/src/ResourceGraph/ResourceGraph/Cmdlets/SearchAzureRmGraph.cs for source code details).

This is misleading and, in some circumstances can be problematic, as the user

[2019-08-01 17:09] niander commented on #9755
@msnnpatel Hi. Please give more information on how to reproduce the error. How did you run the command?

[2019-08-01 17:28] hiteshkacholiya commented on #9728
Okay. I managed to get it running once but it hasnt worked since. For me as well it is perfectly fine from PowerShell ISE. If you hear back, do let me know. I will inform you if I mangae to make any progress.

[2019-08-01 18:36] sqlsolver commented on #9467
@markcowl @cormacpayne I see there was a 7/30 milestone. Any progress to report? Bug is directly affecting a good-sized Azure data warehouse implementation.

[2019-08-01 20:39] nicklasjepsen commented on #2617
Why is this closed? This is still happening.

[2019-08-01 23:29] msnnpatel commented on #9755
@niander - I can only reproduce this error on customer's subscription. So, I am guessing PS module does not like one or more of the 1000s of tasks returned in the results.

[2019-08-01 23:32] markcowl commented on #9710
Closing for lack of response.  If you can provide the requested information, please open a new issue.

[2019-08-01 23:32] #9710 closed

[2019-08-01 23:45] MiYanni opened #9761 "Nomenclature standards"
## General
- **Decide**: ResourceId, Id, Guid
- **Decide**: Expand, ExpandResource
- `Statistic`: Stat
- `Configuration`: Config
- `Intelligence`: Intel
- `Minimum`: Min
- `Maximum`: Max
- `Enable(.*)`: (.*)Enabled [as a switch/bool]
- `Diagnostic`: Diag

## Resource Specific
- `VM`: VirtualMachine
- `Vmss`: VirtualMachineScaleSet
- `Waf`: WebApplicationFirewall
- `NetworkInterface`: Nic
- `Vnet`:

[2019-08-01 23:50] KarenHammons commented on #823
@Nilambari Is this still an open issue?  Please close if it's resolved/addressed.  Thank you.

[2019-08-02 10:20] pvrk commented on #7533
Removing 'Recovery Services' label since the issue needs to be fixed with PS team.

[2019-08-02 11:00] LukeDearden commented on #2617
I can confirm this is still happening.

I've had to reopen my ticket with Azure Support. They advised the issue would be resolved with an update rolled out in June. I hadn't had time to test until last week. I'm getting internal server errors and conflicts where the cloning process seems to fail but continue in the background leaving the cloned app in limbo until it eventually becomes accessible i

[2019-08-02 21:14] niander commented on #9755
@chlahav Hi! Could you take a look at this issue? Thanks

[2019-08-03 01:00] markcowl commented on #9558
@v-Ajnava Can you take a look?

[2019-08-03 01:04] markcowl commented on #5442
@jaredmoo Looks liek the referenced PR above was closed and this was handled service side.  Can you close if this was fixed?

[2019-08-03 01:09] markcowl commented on #8909
Per discussion with the PowerShell team, this is not needed

[2019-08-03 01:09] #8909 closed

[2019-08-03 01:12] markcowl commented on #8960
@erich-wang Can you please validate that updating the master branch in the private repo si added to the end of release instructiosn here: https://github.com/Azure/azure-powershell-pr/wiki/Release-Process

[2019-08-03 01:14] markcowl commented on #7340
This is doen in the generated moduel support

[2019-08-03 01:14] #7340 closed

[2019-08-03 01:14] #8420 closed

[2019-08-03 01:15] markcowl commented on #8694
no longer relevant

[2019-08-03 01:15] #8694 closed

[2019-08-03 01:15] markcowl commented on #8693
no longer relevant

[2019-08-03 01:15] #8693 closed

[2019-08-03 01:18] markcowl commented on #9467
@sqlsolver this is still preview, we expect that this will GA sometime later this summer.

[2019-08-03 01:20] markcowl commented on #9478
@rvlacil No, these cmdlets are specifically for single-tenant apps used for client authentication.  The zureAD cmdlets provide a more thorough coverage of the garph API

[2019-08-03 01:34] markcowl commented on #8963
@Strandfelt The simplest workaround to this si to turn off context autosave.  To do this, you can set the environment variable `"AzContextAutoSave"` to 'false'

[2019-08-03 01:36] #9686 closed

[2019-08-03 01:54] markcowl commented on #9478
### Description
To fix this issue
- [ ] Validate this issue by logging in to a tenant with no subscription access.  You can do this by adding a service principal, giving the service principal access to the graph library, and not providing any role assignments
- [ ] In the case where there is no subscription in the context, do not dereference Subscription Id and skip adding a role assignment for th

[2019-08-03 03:14] #9286 closed

[2019-08-03 06:30] #7552 closed

[2019-08-04 08:01] ranisha2 commented on #5442
@ayeletshpigelman Can you please close if this was fixed?

[2019-08-04 12:53] chlahav commented on #9755
@niander @msnnpatel
this bug was fixed, can you please verify from your side?
(no need to update the PS module)

[2019-08-04 21:16] EikisteinS commented on #9728
Getting that too. Problem only happens in Visual Studio Code, but it does not happens in ISE.

[2019-08-04 22:05] msnnpatel commented on #9755
Thanks @chlahav . I have tested all 3 customer subscriptions where I was facing the issue. It's working fine now. Can I ask what exactly was the problem that you fixed?

[2019-08-05 00:23] prbajrac commented on #9652
@niander thoughts ?

[2019-08-05 00:38] #9682 closed

[2019-08-05 00:42] thecherrytree commented on #9485
@RandalliLama or @schaabs - curious if y'all have had a chance to look at this? I though it was a documentation issue (since there isn't much documentation), but the cmdlet doesn't seem to mirror the flexibility in the UI (i.e. import a cert from a keyvault in the same resource group directly into the webapp and bind it).

[2019-08-05 02:41] ToMakeSense opened #9764 "Always return to error with Get-AzLogicAppUpgradedDefinition cmdlet"
The documentation I am referencing: [Get-AzLogicAppUpgradedDefinition](https://docs.microsoft.com/en-us/powershell/module/az.logicapp/get-azlogicappupgradeddefinition). whatever value(2016-06-01, 2015-08-01-preview, 2016-04-01-preview) is passed to `TargetSchemaVersion`, it returns to error.

[code]
You could find the initial issue report here: MicrosoftDocs/azure-docs-powershell/issues/1181

**de

[2019-08-05 02:47] ToMakeSense opened #9765 "Typo in the examples of Get-AzLogicAppRunHistory"
The documentation I am referencing: [Get-AzLogicAppRunHistory](https://docs.microsoft.com/en-us/powershell/module/az.logicapp/get-azlogicapprunhistory). There's typo in two examples below, should change `Get-AzLogicAppActionRunHistory` to `Get-AzLogicAppRunHistory`

Example 1: Get the run history of a logic app
[code]

Example 2: Get a logic app run
[code]
Besides, the **RunName** should be a mult

[2019-08-05 02:49] ToMakeSense opened #9766 "Typo in the examples of Get-AzLogicAppRunAction"
The documentation I am referencing: [Get-AzLogicAppRunAction](https://docs.microsoft.com/en-us/powershell/module/az.logicapp/get-azlogicapprunaction). There's typo in two examples below, should change `Get-AzLogicAppActionRun` to `Get-AzLogicAppRunAction`

Example 1: Get an action from a Logic App run
[code]

Example 2: Get all the actions from a Logic App run

[code]

Besides, the **RunName** sho

[2019-08-05 03:24] ToMakeSense commented on #9639
@pankajsn @daviburg sorry to bother, any updates?

[2019-08-05 04:06] VAsHachiRoku commented on #8993
Invoke-LogAnalyticsQuery cant seem to find this one and the link above takes to a different cmdlet all together - (Invoke-AzureRmOperationalInsightsQuery). This is also wrong because AzureRm is now just Az so the cmdlet is this - Invoke-AzOperationalInsightsQuery <- This is working!

However there is a problem this cmdlet doesn't work for Saved Search results, the previous cmdlet was - Get-AzOpera

[2019-08-05 04:42] markcowl commented on #8513
### Description

The signing job should produce a Docker container image with the signed modules installed to the global `$PSModulePath` and post to DockerHub for each successful build.

Base images with PowerShell installed are here: https://hub.docker.com/_/microsoft-powershell?tab=description

Use the Ubuntu 18.04 latest docker image as a base: https://github.com/PowerShell/PowerShell-Docker/bl

[2019-08-05 06:30] rajdeepakp opened #9767 "Get-AzureStorageTable : Could not load file or assembly 'Newtonsoft.Json"
Get-AzureStorageTable : Could not load file or assembly 'Newtonsoft.Json, Version=10.0.0.0, Culture=neutral,
PublicKeyToken=30ad4fe6b2a6aeed' or one of its dependencies. The system cannot find the file specified.
At line:1 char:10
+ $table = Get-AzureStorageTable -Name $tableName -Context $saContext
+          ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    + CategoryInfo          :

[2019-08-05 07:16] blueww commented on #9767
@rajdeepakp
Would you please follow the issue template and share the necessary information for the investigation, espicially:
1. the loaded module name/version, you can get it by run "Get-module" after the issue repro.
2. OS version
3. Powershell version, get it by run "$PSVersionTable"

[2019-08-05 07:33] rajdeepakp commented on #9767
OS: Windows 10
Powershell version :
Name                           Value
----                           -----
PSVersion                      5.1.18362.145
PSEdition                      Desktop
PSCompatibleVersions           {1.0, 2.0, 3.0, 4.0...}
BuildVersion                   10.0.18362.145
CLRVersion                     4.0.30319.42000
WSManStackVersion              3.0
PSRemotingProtocolVersi

[2019-08-05 09:13] blueww commented on #9767
@rajdeepakp
You use very old  Azure Powershell module.
Does it works on this before , and just not work recently?
Or you just installed these modules?

Do you mind to upgrade to latest Azure modules and try again?
1. Uninstall` AzureRm.*` modules, remove `Azure.Storage` module from your machine
2. Install the lastest Azure Powershell by `Install-Module Az –Repository PSGallery`
3. Since there are

[2019-08-05 13:24] ayeletshpigelman commented on #5442
I'll check if it is fixed. If not I'll fix this

[2019-08-05 13:43] calewilliams commented on #9487
Same issue here. We are looking to report on Availability Sets that are no longer used and can be deleted. It doesn't look like this works in AzureRM either, so reverting to that temporarily is a no go.

[2019-08-05 14:04] jethrovaneetvelde opened #9768 "New-AzScheduledQueryRuleTriggerCondition"
Not sure if this is the correct place but I got an issue regarding the creation of alerts via ARM templates.
Documentation https://docs.microsoft.com/nl-nl/powershell/module/az.monitor/new-azscheduledqueryruletriggercondition?view=azps-2.5.0 says the threshold can be a double. While using 0.3 in the ARM template as value however, I get an error saying the number needs to be a whole number. Right n

[2019-08-05 15:06] jackfruhecolab opened #9769 "az.reservations is not installed when installing az"
## Description
Hi, installing all modules with `install-module -name az` does not install the `az.reservations` module.

[2019-08-05 18:51] MiYanni opened #9771 "Track work for generated Network cmdlets"
# Missing Cmdlets
- *Get-AzNetworkWatcherSecurityGroupView*
  - Custom cmdlet
- *Update-AzVirtualHub*
  - Custom cmdlet
- *Update-AzVirtualWan*
  - Custom cmdlet
- *Update-AzVpnGateway*
  - Custom cmdlet
- *Update-AzVpnSite*
  - Custom cmdlet

# Combine
- ~~*Get-AzNetworkWatcherPacketCapture*~~ **Changed this back to separate cmdlets**
  - ~~Get-AzNetworkWatcherPacketCapture~~
  - ~~Get-AzNetworkW

[2019-08-05 18:53] MiYanni commented on #8865
Closing in favor of https://github.com/Azure/azure-powershell/issues/9771

[2019-08-05 18:53] #8865 closed

[2019-08-05 19:03] hytao commented on #9654
Hi, looks like we made a change in the RP that blocks this operation. I'll sync with the dev who made this change and come up with a fix soon.

[2019-08-05 20:20] hytao commented on #9654
We are sending 400 bad request because https is already enabled for the given customDomain.

As shown in the debug output,

customHttpsProvisioningState is already "Enabled".

[2019-08-05 20:20] #9654 closed

[2019-08-05 20:22] tafzal25 commented on #9568
Hello Guys,

I was able to reproduce the issue with a slightly different steps.
We are in the process of migrating from AzureRM to Az. In version AzureRM (6.13.1) and Az(2.4.0) we are not able to reproduce the issue with the command shown below. . However, when I upgrade the machine to use Az 2.5.0 I was getting the following error.

Connect-AzAccount -TenantId $TenantID -Environment $environment

[2019-08-05 21:57] sm947 opened #9772 "Correcting prefix length validation logic for Ipv6 public ip prefix"
## Description of the new feature
When creating request for PublicIPPrefix for IPv6, prefix length parameter currently contains logic which is used for Ipv4 only but not IPv6.
## Proposed implementation details (optional)
Adjusted validation check in such a way that if version specified is Ipv6, we will validate if prefix length is between IPc6 supported address range limits else validate for IPv4

[2019-08-05 22:27] #9772 closed

[2019-08-05 22:57] cynthn commented on #9599
@hyonholee That was it! Sorry for the distraction :)

[2019-08-05 22:57] #9599 closed

[2019-08-06 02:06] Cdoherty95 commented on #9259
@royarin @niander I think That should help

[2019-08-06 03:19] rajdeepakp commented on #9767
@blueww  - Thanks the above steps fixed the issue.

[2019-08-06 03:38] blueww commented on #9767
@rajdeepakp
Thanks for the update!
I will close the issue.
Fell free to contact us if you need any other assistant.

[2019-08-06 03:38] #9767 closed

[2019-08-06 14:53] nickfriday-kainos opened #9774 "Support ReplicationGroupName for Azure-Azure Replication Protected Items"
## Description of the new feature

**New-AzRecoveryServicesAsrReplicationProtectedItem -AzuretoAzure** should support parameter **-ReplicationGroupName**.

## Proposed implementation details (optional)

Currently **-ReplicationGroupName** is only supported with **-VMwareToAzure**, but this functionality is available for Azure-Azure replication via the portal.

Once configured via the portal, this

[2019-08-06 14:56] bwren opened #9775 "Documentation change for Set-AzDiagnosticSetting"
## Description
Documentation issue with [Set-AzDiagnosticSetting](https://docs.microsoft.com/en-us/powershell/module/az.monitor/set-azdiagnosticsetting?view=azps-2.5.0&viewFallbackFrom=azps-2.4.0). The description for WorkspaceId parameter is misleading.

Current:
The Id of the workspace

Should be changed to:
The Resource ID of the workspace.

[2019-08-06 15:52] vinhent commented on #9654
Hi, I'm getting the 400 bad request even if the HTTPS custom domain is not already enabled.

[2019-08-06 16:08] marckassay opened #9776 "New-AzResourceGroupDeployment -AsJob switch needs to be implemented"
## Description
It's `AsJob` switch is declared, but not implemented.

https://github.com/Azure/azure-powershell/blob/758d5a74cb7eb84792112e5aac918bc09b7240c7/src/Resources/ResourceManager/Implementation/ResourceGroupDeployments/NewAzureResourceGroupDeploymentCmdlet.cs#L59

## Steps to reproduce

Calling `New-AzResourceGroupDeployment` with `-AsJob` switch has no effect.

## Environment data

[code

[2019-08-06 17:20] prbajrac commented on #9652
@niander checking back with you again. Please help with customer inquiry. Let me know if I can help or if you need additional information. Thank you

[2019-08-06 17:28] jagdishrajan opened #9778 "A task was canceled"
I have a PowerShell Azure Function running on a timer trigger hourly.  Every so often (perhaps once every 3 days) it throws the following error.  Any ideas why?  I got this error from Application Insights trace - the Azure Function itself was not executed.
[code]

[2019-08-06 22:08] markcowl commented on #9764
@ToMakeSense Can you provide the debug traces when you run one of these cmdlets, that will help to show the actual generated request and response to pinpoint the issue.

To get the debug traces, use:
`$DebugPreference="Continue"`

then run the cmdlet, and paste the output here.

[2019-08-06 22:11] markcowl commented on #9765
@pankajsn Can you take  a look

[2019-08-06 22:13] markcowl commented on #9766
@pankajsn Can you take a look?

[2019-08-06 22:20] markcowl commented on #9768
@jethrovaneetvelde Unfortunately, we don't have information about the allowed values in Monitor templates. You might look here for some examples: https://github.com/Azure/azure-quickstart-templates

[2019-08-06 22:20] #9768 closed

[2019-08-06 22:22] markcowl commented on #9769
Correct.  When Az.Reservations is GA and updated to version 1.0, it will be included in the Az roll-up.

[2019-08-06 22:22] #9769 closed

[2019-08-06 22:25] markcowl commented on #9774
@viverm Can you take a look?

[2019-08-06 22:28] markcowl commented on #9775
@gucalder can you take a look?

[2019-08-06 22:29] markcowl commented on #9776
This will be implemented in all cmdlets in Az 3.0,.  Closing, as this is supported across all cmdlets in that release.

[2019-08-06 22:29] #9776 closed

[2019-08-06 22:35] markcowl commented on #9739
@konstantinmds Thanks for the extra info - the issue could be with AzureRM and Az modules loaded in the same session, or something to do with your script.  Can you provide the details of your script, and also look at the loaded modules when this issue occurs (`Get-Module`)

[2019-08-06 22:38] markcowl commented on #9737
@Panzerbjrn Good catch, we will take  a look

[2019-08-06 22:41] markcowl commented on #9736
@TurtleBeach Az.DeviceProvisioningServices is not included in the Az roll-up, you can acquire this cmdlet by installing the module directly.

```Install-Module Az.DeviceProvisioningServices```

[2019-08-06 22:41] #9736 closed

[2019-08-06 22:42] markcowl commented on #9735
You might take a look here for templates relating to ScaleSets:  https://github.com/Azure/azure-quickstart-templates

[2019-08-06 22:42] #9735 closed

[2019-08-06 22:43] markcowl commented on #9724
Closing for lack of response.  If you are still seeing this issue, please open a new issure report, and include the requested information

[2019-08-06 22:43] #9724 closed

[2019-08-06 22:49] markcowl commented on #9652
@prbajrac @covici This is properly asked of the storage team - storage data plane cmdlets are supported with arm storage accounts, but are not identical to the older api versions supported by the Azure cmdlets.

[2019-08-06 22:49] #9652 closed

[2019-08-06 22:49] Francisco-Gamino commented on #9778
@markcowl : What would cause this error ``` Microsoft.Azure.Commands.Profile.ConnectAzureRmAccountCommand.ExecuteCmdlet()``` to happen? This was reported by a customer in Functions.

[2019-08-06 22:51] sphibbs commented on #9778
@jagdishrajan can you please provide the following info to help us analyze your issue
Description
Provide details about the issue you are facing, including when the issue started happening. Has it ever worked as expected?
Script/Steps for Reproduction including CLI, PowerShell or SDK where the issue was found
Environment
PowerShell
Get-Module -ListAvailable (Copy past the output)
Please run the ab

[2019-08-06 22:51] markcowl commented on #9531
For more info on StorageSync related templates, you might look here: https://github.com/Azure/azure-quickstart-templates

[2019-08-06 22:51] #9531 closed

[2019-08-06 22:54] markcowl commented on #9409
Closing for lack of response.  If you are still seeing this issue, please file a new issue report and include the requested information.

[2019-08-06 22:54] #9409 closed

[2019-08-06 22:57] markcowl commented on #9367
@Tiano2017 Can you take a look?  If the API itself does not support this, we should document it.

[2019-08-06 23:03] markcowl commented on #9329
Closing for lack of response.  If you are still having this problem, please file an issue with the requested information.

[2019-08-06 23:03] #9329 closed

[2019-08-07 00:16] jagdishrajan commented on #9778
I have a PowerShell Azure Function running on a timer trigger hourly. Every so often (perhaps once every 3 days) it throws the "A task was canceled" error (exception pasted earlier in this thread).

It works most of the time.  It's only occasionally, meaning once in 3 days, that this error is thrown and I find it by querying Application Insights.

Azure Functions run.ps1
Here's a trimmed down vers

[2019-08-07 03:12] viverm commented on #9774
@nickfriday-kainos
use latest preview module from Az.RecoveryServices
[code]
 New-AzRecoveryServicesAsrReplicationProtectedItem [-AzureToAzure] -AzureToAzureDiskReplicationConfiguration <Microsoft.Azure.Commands.RecoveryServices.SiteRecovery.ASRAzuretoAzureDiskReplicationConfig[]> -AzureVmId <System.String>[-DiskEncryptionSecretUrl <System.String>] [-DiskEncryptionVaultId <System.String>] [-KeyEnc

[2019-08-07 03:12] #9774 closed

[2019-08-07 06:33] ToMakeSense commented on #9764
@markcowl Hi Mark, debug traces attached. And It seemed that I figured it out.
The cmdlet **Get-AzLogicAppUpgradedDefinition** is used to upgrade the old version logic app (it should be deployed on a service plan which needs sku, I have no experience about it) to current implementation which uses consumption mode.

![image](https://user-images.githubusercontent.com/6244148/62599377-a0d54680-b91e-1

[2019-08-07 06:41] ToMakeSense commented on #9764
@markcowl and, it seems impossible to create the old version logic app any more even with the [SKU property](https://docs.microsoft.com/en-us/azure/templates/microsoft.logic/2016-06-01/workflows#sku-object) via ARM template.
![image](https://user-images.githubusercontent.com/6244148/62600386-50131d00-b921-11e9-867d-135bddd78f18.png)

[2019-08-07 08:09] cumtzhangqijie commented on #4191
good

[2019-08-07 09:03] Panzerbjrn commented on #9737
I took the time to go through the aliases, and it is both of these two: "%" and "?".
If either of those are missing, the Az module refuses to load.

[2019-08-07 09:15] Panzerbjrn commented on #9737
I've had a look, and I was wondering if the extensive use of "%" and "?" is intentional? I was going to change them to their proper commands, but now I'm not sure if that would be appreciated...?

[2019-08-07 13:51] maksym-synkevych opened #9783 "Allow to set SigninTenant for New-AzApiManagementIdentityProvider operation"
## Description of the new feature
For now, we can specify "Signin tenant" for Identity provider from Api Management Service UI but we can not do the same using powershell.
## Proposed implementation details (optional)

[2019-08-07 13:54] maksym-synkevych opened #9784 "Allow to set SigninTenant for New-AzApiManagementIdentityProvider operation"
## Description of the new feature
For now, we can specify "Signin tenant" from Api Management Service UI but we can not do the same using Powershell.
Expected behavior: to be able to specify Signin Tenant using New-AzApiManagementIdentityProvider operation.
## Proposed implementation details (optional)

[2019-08-07 14:40] diegopietruszka commented on #7551
People waiting on things so simple for almost a year. And then somebody would wonder why customers migrate to AWS or GCP.

[2019-08-07 18:54] v-Ajnava commented on #9690
Hi @niander and @nschonni,

PR is merged and fix will be available in the  next release. hence closing the issue.
please let us know if have any queries or reopen the issue.

[2019-08-07 18:54] #9690 closed

[2019-08-07 19:57] habeebtc commented on #9402
Alternate suggestion:

Add a check for .Net 3.5 using either a generic registry search or using the WixNetFxExtension
https://wixtoolset.org/documentation/manual/v3/customactions/wixnetfxextension.html

Specifically conditioning a launch condition off of NETFRAMEWORK35 property.

[2019-08-07 21:51] JasonRShaver opened #9785 "Add subscriptionid to client telemetry"
Currently (as of v6.9) PowerShell is not sending up subscriptionId for client-side telemetry.  Adding this value will allow us to evaluate PoSH usage alongside our other tracked tools (CLI, Ansible, Terraform)

@dcaro

[2019-08-07 21:51] JasonRShaver commented on #9785
@albaloo

[2019-08-08 00:10] jeremybeavon opened #9786 "New-AzServiceBusAuthorizationRule cannot create a rule with Listen only rights"
## Description

When trying to create a service bus authorization rule with the only rights being Listen, it fails with the following error:
[code]
It is possible to create a authorization rule with these rights in the portal, but not using powershell.

## Steps to reproduce

[code]

## Environment data

[code]

## Module versions

[code]

## Debug output

[code]

## Error output

[code]

[2019-08-08 00:14] nschonni opened #9787 "typo RelayNamespaceAttirbutesUpdateParameter"
## Description

The word "Attributes" is misspelled in RelayNamespaceAttirbutesUpdateParameter
https://github.com/Azure/azure-powershell/search?q=RelayNamespaceAttirbutesUpdateParameter&unscoped_q=RelayNamespaceAttirbutesUpdateParameter
## Steps to reproduce

[code]

## Environment data

[code]

## Module versions

[code]

## Debug output

[code]

## Error output

[code]

[2019-08-08 00:17] nschonni opened #9788 "typo EnumerateServicesBySubcription"
## Description
The word "Subscription" is misspelled in "EnumerateServicesBySubcription"

https://github.com/Azure/azure-powershell/search?q=Subcription&unscoped_q=Subcription
Also misspelled in a few code comments

## Steps to reproduce

[code]

## Environment data

[code]

## Module versions

[code]

## Debug output

[code]

## Error output

[code]

[2019-08-08 00:20] nschonni opened #9789 "typo DisableEmailToSubcriptionOwner"
## Description

The word "Subscription" is misspelled in "DisableEmailToSubcriptionOwner"
https://github.com/Azure/azure-powershell/search?q=Subcription&unscoped_q=Subcription

## Steps to reproduce

[code]

## Environment data

[code]

## Module versions

[code]

## Debug output

[code]

## Error output

[code]

[2019-08-08 00:21] nschonni opened #9790 "typo TimeOfOccurence"
## Description

The word "Occurrence" is misspelled in "TimeOfOccurence" https://github.com/Azure/azure-powershell/search?q=TimeOfOccurence&unscoped_q=TimeOfOccurence

## Steps to reproduce

[code]

## Environment data

[code]

## Module versions

[code]

## Debug output

[code]

## Error output

[code]

[2019-08-08 00:25] nschonni opened #9791 "typo NetwrokruleSet"
## Description

The word "NetworkRuleSet" is misspelled as "NetwrokruleSet" https://github.com/Azure/azure-powershell/search?q=Netwrokrule&unscoped_q=Netwrokrule

## Steps to reproduce

[code]

## Environment data

[code]

## Module versions

[code]

## Debug output

[code]

## Error output

[code]

[2019-08-08 00:55] richardszalay opened #9792 "Improve the user experience for setting a web app AppSetting"
## Description of the new feature

Right now, `Set-AzWebApp -AppSettings` replaces the app settings with those provided (rather than merging them). This would be workable if `(Get-AzWebApp).SiteConfig.AppSettings` was a hashtable, but it's a `List<NameValuePair>`.

As it stands, and unless I'm missing something, this is the minimum requirements for updating a single app setting on a web app:

[cod

[2019-08-08 02:36] v-Ajnava commented on #9558
Hi @wxwr, I have submitted the fix for the issue, will keep the thread updated.

please let us know if you have any other queries

[2019-08-08 03:34] alex-frankel commented on #9643
Closing this - it looks like this was resolved

[2019-08-08 03:34] #9643 closed

[2019-08-08 13:52] phillipsj opened #9796 "Use same authentication flow as Azure CLI"
## Description of the new feature

When you login using the Azure CLI, it automatically opens the browser and hits the login page. However, the new AZ module is still using the device code login. The text of the Azure CLI hs the following after doing an *az login*.

[code]

It considers this an old experience and I agree. It would be nice to see Connect-AzAccount behave the same way.

## Proposed

[2019-08-08 14:15] mikewo commented on #9796
Completely agree here. This experience can be so much better.

[2019-08-08 14:24] hbuckle opened #9797 "Get-AzResource does not get subnets"
## Description
Get-AzResource does not retrieve subnets by resource ID

## Steps to reproduce

[code]

The Azure CLI works:

[code]

## Environment data

[code]

## Module versions

[code]

[2019-08-08 16:13] markcowl commented on #9786
@v-Ajnava Can you take a look?

[2019-08-08 16:15] markcowl commented on #9787
@v-Ajnava Please take a look - if you would like to correct, leave an alias to the old (misspelled) name to avoid breaking changes

[2019-08-08 16:16] markcowl commented on #9788
names of parameter sets and internal code comments will not be changed.

[2019-08-08 16:16] #9788 closed

[2019-08-08 16:17] markcowl commented on #9789
Parameter set names are not considered customer-facing strings and will not be updated for typos

[2019-08-08 16:17] #9789 closed

[2019-08-08 16:18] markcowl commented on #9790
Property values come from the API Definition

[2019-08-08 16:18] #9790 closed

[2019-08-08 16:19] markcowl commented on #9791
Parameter set names and other internal identifiers will not be corrected for typos in legacy code.

[2019-08-08 16:19] #9791 closed

[2019-08-08 16:21] markcowl commented on #9797
@hbuckle Can you please provide a debug trace, as requested in the issue template? To do this:

[code]

[2019-08-08 16:30] nschonni commented on #9789
It does show up on the documentation

[2019-08-08 16:31] nschonni commented on #9791
This is another one that does show up in documentation

[2019-08-08 16:53] briglx opened #9798 "Failed to Get Role Assignment on All Resources"
## Description

I'm attempting to find all assignments on every resource in a subscription.

The exception, "Scope should have even number of parts.",  happens with the call to `Get-AzRoleAssignment`

Example Scope: `"/subscriptions/mysubid/resourceGroups/myrgname/providers/Microsoft.Compute/extensions/confluence/OmsAgentForLinux"`

Looks like the problem is found here:
azure-powershell/src/Resour

[2019-08-08 17:04] briglx commented on #9798
This also happens for a scope of

`/subscriptions/mysub/resourceGroups/myrg/providers/Microsoft.Sql/databases/mysql/master`

[2019-08-08 19:41] milope opened #9799 "Get-AzBlueprint does not work with national clouds"
## Description

The Get-AzBlueprint cmdlet does not appear to work with national clouds.

## Steps to reproduce

[code]

## Environment data

[code]

## Module versions

[code]

## Debug output

[code]

## Error output

[code]

Reviewing the source code [here](https://github.com/Azure/azure-powershell/blob/24dead871fd1d1f7c9e4b7049a496f98c7f66b6a/src/Blueprint/Blueprint/Cmdlets/BlueprintDefinition

[2019-08-08 21:55] singhparveen opened #9800 "New-AzRoleDefinition - action is not in list of provider error"
## Description
Got an error while trying to create a custom Role in Azure using Powershell.

## Steps to reproduce

[code]

## Environment data

[code]

## Module versions

[code]

## Debug output

[code]

## Error output

[code]

[2019-08-08 23:25] sphibbs opened #9802 "Add cmdlet for accept-language header"
Allow users to set the Allow-Language header to something other than the default EN-US.

[2019-08-09 06:25] xiaohuyyyy-ms commented on #8513
The new pipeline is in https://dev.azure.com/azure-sdk/internal/_build?definitionId=721&_a=summary.
And is there any naming rules of the image tag name we should follow? Currently I'm using the build number.

[2019-08-09 08:27] hbuckle commented on #9797
@markcowl Debug trace attached

[code]

[2019-08-09 09:47] superfliege opened #9805 "Verbose Message: No value specified for -EndDate parameter, even if valid parameters are passed"
## Description

## Steps to reproduce

[code]

## Environment data

PSVersionTable
Name                           Value
----                           -----
PSVersion                      5.1.17763.503
PSEdition                      Desktop
PSCompatibleVersions           {1.0, 2.0, 3.0, 4.0...}
BuildVersion                   10.0.17763.503
CLRVersion                     4.0.30319.42000
WSManStackV

[2019-08-09 10:05] canuzun opened #9806 "Add-AzVMSshPublicKey returns Misleading Error Message"
## Description

When I try to use this on a Windows OS VM, I get the following error.
_Add-AzVMSshPublicKey : Cannot specify both Windows and Linux configurations._
Which is not the case...

As I understand, this is the code block that returns this error.
[code]

The error message would have been right if both configurations are not null. As I understand from the code, this cmdlet is meant to be u

[2019-08-09 16:27] filizt commented on #9799
Looking.

[2019-08-09 18:34] jfggdl commented on #9787
@nschonni, Thank you for creating this issue. We are rolling out a fix and should be available by the end of the month.

[2019-08-09 19:56] anielsud commented on #8811
@maddieclayton this issues is happening for me as well - workaround is to iterate over available subscriptions and rename the contexts to include the tenant. Also, this behavior is definitely repeatable - in my example my user is a user in one tenant, and a guest in another. The subscription is associated to the second tenant, but is also available in the first tenant using lighthouse. I have diff

[2019-08-09 20:05] keerthi13 commented on #9369
we can do it using Azure Cli

call az monitor autoscale create --count %nonBusinessHourInstances% --resource "%resource%" --name "%autoScaleSettingName%"

call az monitor autoscale profile create --autoscale-name "%autoScaleSettingName%" --name "%businessHoursProfileName%"  --count %businessHourInstances% --resource-group "%resourceGroupName%" --recurrence week mon tue wed thu fri --timezone "Cent

[2019-08-09 20:06] sean-nixon commented on #8513
Not sure the additional level of effort or appetite for this, but we would love it if the docker image tags pushed to Docker Hub were signed using Docker Content Trust. We are trying to enforce signed images within our environment.

[2019-08-09 20:08] vinhent commented on #9654
I'm a bit confused, do we have a fix for it or it was closed without any fix?

Like I said, I'm getting the 400 bad request even if the HTTPS custom domain is not already enabled.

[2019-08-09 21:33] cloudshellsystem opened #9807 "Connection on Internet impossible"
## Description of the new feature
Hello
my issue is on Azure Connection.
From Internet by Wireless.
When i create a VM, or create a new compute (any OS, i tried), it's impossible to connect on.
I tried 4 diffrents SSID public/private or others from Shared Connection SSID.
It's possible to connect to the Azure Portal, to do somary things (resource group, new storage account...).
So please tell me i

[2019-08-11 15:21] mlnrt commented on #9697
@niander I did not find a solution. I gave up.
I was trying to use a policy to enforce some Tags, but it is just not possible in practice as there are too many scenarios like this one, where PowerShell or the Azure Portal doesn't allow us to input Tags hence preventing resource creation if such a policy is in place.

[2019-08-11 16:03] jagdishrajan commented on #9778
I haven't seen this issue using the simple script above in 3 days, so I'm closing it.

[2019-08-11 16:03] #9778 closed

[2019-08-11 17:35] mikejwhat opened #9809 "Az.LogicApp - Pipeline input for Name parameter?"
Hi,

Just wondering if there is a reason the Az.LogicApp cmdlets don't accept pipeline input for the Name parameter? I feel as if this would enhance usability and make them feel more familiar.

Thanks,

Mike

[2019-08-12 04:58] Drewm3 commented on #9148
Adding Roiy to look at this as well since Roiy has been looking after extensions recently.

[2019-08-12 05:18] Drewm3 commented on #8326
We do not support setting the admin password through AzureRmVMAdditionalUnattendContent.

[2019-08-12 05:18] #8326 closed

[2019-08-12 05:22] Drewm3 commented on #8385
Hi @cyibarra, we would like to track VM/VMSS feature requests through User Voice moving forward. So I have opened the following item in UserVoice for this request: [https://feedback.azure.com/forums/216843-virtual-machines/suggestions/38354395-az-compute-update-azvm-vmss-should-accept-userassi](url)

Please upvote this item to help raise the priority of the request.

[2019-08-12 05:22] #8385 closed

[2019-08-12 05:31] Drewm3 commented on #8732
Adding @roiyz-msft to take a look at this.

[2019-08-12 07:02] fbodmer commented on #9650
Can anybody provide an update on this issues. Will this be fixed or do we need to implement alternate solutions?

[2019-08-12 14:38] bwarren18 commented on #7873
I'm getting the same WARNING messages when using AzureRM 6.13.1 and Az 2.4.0.

WARNING: 10:37:22 AM - *** The namespace for all the model classes will change from Microsoft.Azure.Management.Monitor.Management.Models to Microsoft.Azure.Management.Monitor.Models in future releases.

WARNING: 10:37:22 AM - *** The namespace for output classes will be uniform for all classes in future releases to make

[2019-08-12 15:02] kilasuit commented on #6550
To come back to this I find myself writing a shed load of wrapper code when I need to do anything that makes sure of cross subscription items like Keyvault's Log Analytic Workspaces and even archive Storage accounts in my scripts that looks often like this (for deploying a new policy to a new VM Subscription

[code]

This is messy, prone to error and a huge waste of additional code that woudl be 1

[2019-08-12 15:06] TEKAzure opened #9810 "Reset-AzStorageSyncServerCertificate results in error"
## Description
Hello,
trying to run Reset-AzStorageSyncServerCertificate results in one of two errors, depending on where it is run from:

From CloudShell:
"Cannot marshal 'parameter #2': Invalid managed/unmanaged type combination (Marshaling to and from COM interface pointers isn't supported)."

From local PowerShell:
"Input string was not in a correct format."

## Steps to reproduce
- Create an

[2019-08-12 18:17] milope commented on #9799
Hello, at least for me it's not longer throwing errors after updating. Thank you for the help!

[2019-08-12 20:06] v-Ajnava commented on #9787
fix PR is merged will be available in next release. hence closing the issue. please feel free to open the issue if you have any queries regarding the fix.

[2019-08-12 20:06] #9787 closed

[2019-08-13 01:08] markcowl opened #9815 "Change New-AzAdServicePrincipal to add credentials only to associated application"
### Description

For simplicity, `New-AzAdServicePrincipal` adds credentials a generated secret credential to the serviceTo prevent useres from inadvertently adding secrets to service principals that map to out-of-tenant applications, make the following changes:

- [ ] When an application is created for the service principal, add the generated secret to the application
- [ ] If the application alr

[2019-08-13 04:35] alex-frankel commented on #9799
Closing this - thanks for the quick turnaround Filiz!

[2019-08-13 04:35] #9799 closed

[2019-08-13 13:49] bwren commented on #9775
@gucalder @markcowl Just looking for an update on this.

[2019-08-13 15:14] DapiCloud opened #9819 "New-AzConsumptionBudget : Operation returned an invalid status code 'Unauthorized'"
## Description
Unable to create new budget via `Az.Billing.New-AzConsumptionBudget`.  Error returns in both local PowerShell and in Automation Runbook.

I am able to create budgets in Azure Portal with no problem.

I am able to run `Get-AzConsumptionBudget` under same context and I get the expected results.

## Steps to reproduce

[code]

## Environment data

[code]

## Module versions

[code]

##

[2019-08-13 16:33] mholder-learfield opened #9820 "New-AzStorageShare fails to authenticate"
I am trying to do something quite simple - create a file share in a specific storage account. Following the documentation on the Microsoft website it should be as simple as the script below. I have connected to Azure and established my storage context with no issue. The issue I am having is that when I try to create the file share it fails to authenticate. That error message is at the bottom.

---

[2019-08-13 16:41] #9820 closed

[2019-08-13 16:42] mholder-learfield commented on #9820
Turns out I was missing the access key which wasn't in the documentation I was reading. :)

[2019-08-13 17:22] dangershin commented on #8898
I am having the exact same issue. It does not return an error but does not perform the desired function.

[2019-08-13 20:44] markcowl opened #9824 "Analyze/Fix Build Drops"

[2019-08-13 20:45] #9824 closed

[2019-08-13 22:08] Bartmax commented on #6981
see the same here with pwsh

[2019-08-13 22:09] markcowl commented on #9819
@bgsky @ms-premp Can you take  alook?

[2019-08-13 22:12] markcowl commented on #9810
@ankushbindlish2 @fedyashov Can you take a look?

[2019-08-13 22:15] markcowl commented on #9809
@mikejwhat Binding objects from the pipeline by property name is not very performant, it is generally better to pipe by value.  You *should* be able to pipe a logicApp object obtained by get into an action cmdlet directly, however.

[2019-08-13 22:15] #9809 closed

[2019-08-13 22:17] markcowl commented on #9807
I am not sure what you are asking that is related to Azure PowerShell, can you clarify?  It seems that you are having issues connecting to the portal as well.  Here is a tutorial on connecting to Azure: https://docs.microsoft.com/en-us/azure/virtual-machines/windows/quick-create-powershell

[2019-08-13 22:18] #9807 closed

[2019-08-13 22:19] markcowl commented on #9806
@hyonholee Can you take  alook

[2019-08-13 22:22] markcowl commented on #9805
@superfliege That message is coming from the `New-AzAdApplication` cmdlet, which also has an EndDate parameter

[2019-08-13 22:22] #9805 closed

[2019-08-13 22:23] markcowl commented on #9802
We can simply add a new element to the http pipeline for this

[2019-08-13 22:25] markcowl commented on #9800
@singhparveen Can you provide the debug output when runnign this cmdlet, simply set:
[code]
before executing the failing command.

[2019-08-13 22:28] markcowl commented on #9798
@darshanhs90 Can you take  alook?

[2019-08-13 22:35] markcowl commented on #9797
@cormacpayne Can you take  alook?

[2019-08-13 22:41] markcowl commented on #7358
reopening to track GA release

[2019-08-13 22:42] markcowl commented on #9796
You are so correct.  This is in progress, and you can see a preview of the new experience in our preview module: https://www.powershellgallery.com/packages/Az.Accounts/2.0.0-preview

You can track the progress here: #7358

[2019-08-13 22:42] #9796 closed

[2019-08-13 22:43] markcowl commented on #9792
@panchagnula Can you take a look?

[2019-08-13 23:11] phillipsj commented on #9796
Thank you for your response.

On Tue, Aug 13, 2019, 6:46 PM Mark Cowlishaw <notifications@github.com>
wrote:

[2019-08-13 23:44] lwajswaj commented on #9800
Hey @singhparveen, it seems the error is appropiated, it's not an AZ module issue but one of your actions isn't actually valid. You're adding this action:

[code]

however, it doesn't exist, you actually have an "**S**" letter missing (it's Microsoft.Insights, not Microsoft.Insight), it should be:

[code]

You can check all the valid actions [here](https://docs.microsoft.com/en-us/azure/role-based

[2019-08-14 00:05] artisticcheese opened #9827 "Invoke-AzVMRunCommand shall return objects and not strings"
## Description of the new feature
Currently when you execute `Invoke-AzVMRunCommand` you end up with `Microsoft.Azure.Management.Compute.Models.InstanceViewStatus` where both stdout and stderr  are mixed together. Example is below

[code]
## Proposed implementation details (optional)
It shall separate stdout from stderr

[2019-08-14 02:53] blueww commented on #9820
@mholder-learfield
In the problem script, you run  New-AzStorageContext with -UseConnectedAccount. so it will creates an Azure Storage context with OAuth (Azure AD) Authentication, and this kind of authentication only support Blob/Queue now.
In help of New-AzStorageContext , you can also see in cmdlet description:  "details of authentication of the Storage Service in   https://docs.microsoft.com/e

[2019-08-14 05:56] ms-premp commented on #9819
@DapiCloud is it a consistent repro for you ?
Based on what I see, this seems to something transient. Please confirm, if this issue still persists or you were able to get past this.

[2019-08-14 06:21] ms-premp commented on #9819
@DapiCloud I can confirm that you are able to create budgets.. hence closing this issue.
Please let us know, if otherwise.

[2019-08-14 09:14] blueww opened #9831 "Set-AzStorageBlobContent on Block Blob with blob properties returns 409 on an immutable storage."
## Description
Upload Block blob with properties fail on  immutable storage.

- Works fine:
[code]
- Fails:
[code]

## Steps to reproduce

enable ImmutabilityPolicy on the container first.
[code]

## Environment data

[code]

## Module versions

[code]

## Debug output

[code]

## Error output

[code]

[2019-08-14 09:17] blueww commented on #9831
Use this issue to track the bug reported from mail.
I am working on the fix, will  send PR when the fix it ready.

[2019-08-14 13:06] DapiCloud commented on #9819
Geez guys, can ya give me a little more that 30 min to respond here? lol

Issue is still happening, just confirmed again.  Note, I have NEVER gotten this command to work using the repro code or any other.

I was able to successfully run `New-AzResourceGroup` under same PS session and that worked like a charm!

[2019-08-14 14:48] krysickij1 opened #9833 "Error while importing the module after manual upload with Azure REST API request"
Issue Details
-----------------
After uploading a module downloaded from [Powershell Gallery](https://powershellgallery.com) to automation account I'm receiving this error:
**Error importing the module AzureRM.DataFactoryV2. Import failed with the following error: System.FormatException: Index (zero based) must be greater than or equal to zero and less than the size of the argument list.**

Steps

[2019-08-14 15:30] mikejwhat commented on #9809
Hi Mark,

None of the Logic App cmdlets have an InputObject parameter or any parameter that binds by value.

On closer inspection, Start-AzLogicApp and Test-AzLogicApp do actually bind ByPropertyName on the Name parameter... it's Set-AzLogicApp and Remove-AzLogicApp which don't.

This feels a little inconsistent with the other Az modules. All of the VirtualMachine action cmdlets bind ByPropertyNam

[2019-08-14 17:59] mikewo opened #9835 "Az Module not included in installed modules using Get-Module"
## Description
I recently changed to use the Az module over the AzureRM module. I completely uninstalled the AzureRM and installed Az. In the past I have used a function in my profile that checks for the version of the installed AzureRM on the box to compare it against the one is the PS Gallery to notify me when I need to think about updating. It was a simple script using Find-Module (version in P

[2019-08-14 21:18] markcowl commented on #9819
@ms-premp can you take  a look?  I believe that the customer can make these changes through portal, but not PowerShell

[2019-08-15 00:05] markcowl opened #9838 "Update ResourceManager version used by ProfileClient"
## Description

Update the resourcemanager version used in Az.Accounts.  This will allow bringing in new properties (like TenantId)

- [ ] Verify update to common code for ARM common module subscription Client
- [ ] Update Connect-AzAccount, `Get-AzSubscription` and other cmdlets to use new library
   - [ ] Update TenantId setting in subscription class
- [ ] Update `Get-AzTenant` to return the dom

[2019-08-15 00:40] markcowl commented on #9835
@mikewo Unfortunately, this is a known issue with PowerShell that was fixed in PowerShell Core 6.2

[2019-08-15 00:40] #9835 closed

[2019-08-15 00:55] markcowl commented on #9479
### Description
For user-assigned identity support, PowerShell allows the user to input clientId, ObjectId, or resource when specifying the account.  Each of these uses a slightly different query string in the MSI Uri - we simply need to check the account setting in the AppService MSI implementation, and use the equivalent strings from the parallel VM AppService MSI class.

- [ ] Update AppService

[2019-08-15 01:46] markcowl commented on #9479
General MSI information: https://docs.microsoft.com/en-us/azure/active-directory/managed-identities-azure-resources/overview
AppService MSI: https://docs.microsoft.com/en-us/azure/app-service/overview-managed-identity

[2019-08-15 05:15] ToMakeSense commented on #8459
@panchagnula  It is possible to use existing cmdlets. See script below, somewhat a little complicated, it would be better to add a separate cmdlet for this.
[code]

[2019-08-15 06:34] dolauli opened #9839 "The parameter "Scope" should be optional for the cmdlet New-AzPolicyAssignment"
## Description

Currently if "Scope" is not provided, New-AzPolicyAssigment will fail. But in general, it should use the global subscription which is set by Select-AzSubscription.
Refer to #9808 for details.

## Steps to reproduce

[code]

## Environment data

[code]

## Module versions

[code]

## Debug output

[code]

## Error output

[code]

[2019-08-15 12:48] Sambsamb opened #9842 "New-AzADServicePrincipal - Please provide examples for use with Credential and Certificate"
## Description

Documentation at https://github.com/Azure/azure-powershell/blob/master/src/Resources/Resources/help/New-AzADServicePrincipal.md and https://docs.microsoft.com/en-us/powershell/module/az.resources/new-azadserviceprincipal?view=azps-2.5.0 provides no examples for using this cmdlet with a credential or certificate.

Please provide examples for using this cmdlet 'DisplayNameWithPasswor

[2019-08-15 13:29] JulienFloris commented on #9709
any update?

[2019-08-15 16:47] Drewm3 commented on #9806
Hi @canuzun, SSH configuration is part of the Linux Configuration in the APIs, and it is not possible to set Linux configuration for a Windows VM. I agree that the documentation for the cmdlet should be updated.

@hyonholee, could you update the documentation for this cmdlet to go from "The Add-AzVMSshPublicKey cmdlet adds the public keys that you can use to connect to a virtual machine over Secur

[2019-08-15 17:25] Tiano2017 commented on #9709
@ravbhatnagar I haven't been able to look into this. Can you get someone to help take a look?

[2019-08-15 18:28] MiYanni commented on #9370
I ended up writing custom cmdlet surfaces for:
- `Get-AzDnsResourceReference`
- `New/Set/Update-AzDnsRecordSet`
- `New/Set-AzDnsZone`

These surfaces better match the intent of the resource/API. The swagger poorly defines what makes sense when making these resources. The ResourceReference one was a simple fix to flatten an array, which could be resolved by https://github.com/Azure/autorest.powersh

[2019-08-16 03:52] mvromer commented on #6292
FWIW, I ran into with a template deployment I've been working on. The template defined a string parameter for the resource ID of the sole DDoS protection plan in the target resource group. I was originally creating the parameter object basically like this:

[code]

This would fail with the error "The provided value for the template parameter 'ddosResourceId' is not valid", and looking at the debug

[2019-08-16 04:29] singhparveen commented on #9800
My bad. It was in fact missing 'S'
Thanks.

[2019-08-16 04:29] #9800 closed

[2019-08-16 09:29] TheKingIGER opened #9847 "Get-AzAks: Strange Output type System.Linq.Enumerable"
## Description

I found some strange behavior of the Get-AzAks Cmdlet. Everthing is descripted in the Steps to reproduce section

## Steps to reproduce

[code]
[code]

Using the .Count property of the `$aks` variable the output will be 1 1 instead of 2

When using an index (`$aks[0]`), the output will be all objects from the Array.

The return type of the Commands is a little bit strange. It's not

[2019-08-16 10:05] RoshanKumarMicrosoft opened #9848 "##[error]Could not fetch access token for Managed Identity"
I set up a private build agent on a Microsoft Azure Government (MAG) VM that has Managed Identity enabled. When I run a build release that contains an Azure PowerShell command, I get this error:

##[command]Import-Module
-Name C:\Program Files\WindowsPowerShell\Modules\AzureRM\6.13.1\AzureRM.psd1
-Global

##[command]Disable-AzureRmContextAutosave
-ErrorAction Stop

##[command]Add-AzureRmAccount
-A

[2019-08-16 12:20] TurnerMarshall opened #9849 "Example script out of order"
## Description of the new feature
Replace example script with position zero in proper place.
## Proposed implementation details (optional)
Example script should read:

PS C:\>Register-AzureRmAutomationDscNode -ResourceGroupName "ResourceGroup01" -AutomationAccountName "Contoso17" -AzureVMName "VirtualMachine01" -NodeConfigurationName "ContosoConfiguration.webserver"

[2019-08-16 13:15] jzuchora87 opened #9850 "Search-AzGraph and Parse() not working"
#9731  Description
Unable to pass a query that completes successfully into the Azure Resource Graph Explorer into Search-AzGraph.

where type =~ 'Microsoft.Sql/servers/databases'
| parse id with * '/servers/' sqlservertemp
| project subscriptionId,resourceGroup, name, id, sqlServer = substring(sqlservertemp,0,indexof(sqlservertemp,'/databases/'))
| summarize by subscriptionId,resourceGroup, sqlSer

[2019-08-19 01:12] horpek commented on #9255
We are using this cmdlet too and have the same concern and here I hit this github issue page.

I am surprise that this issue is closed by @MiYanni but claimed that he does not work on the Recovery Service Team and provide assumption rather facts/solution.  Why not leave it to right resource instead of closing it?

[2019-08-19 01:57] ctolkien commented on #9141
Flagging that this makes it pretty useless given the volume of data we have logic apps run. Ideally there would be some mechanism to filter by date ranges too

[2019-08-19 12:39] lightdrive commented on #9238
Same issue for me - On the docs in the example it shows -Location "West Europe" but I had to change it to the short name 'eastus' (my workspace was East US), all lower case input for it to accept it as an argument. Otherwise it threw an exception.

[2019-08-19 13:16] abeckDev commented on #9847
I have looked at the behavior and could reproduce the error.

In my opinion there is somethin wrong with the response type because the Type
```System.Linq.Enumerable+WhereSelectEnumerableIterator``` indicates a Linq query which is not transacted succesfully.

If we look at the Code in the ```GetAZureRmAks.cs``` we will find the following code at Line 92:

[code]
I am a bit confused about the ```Se

[2019-08-19 18:43] dcaro opened #9858 "Simplify New-AzVM for Linux based VM"
## Description of the new feature
As discussed with @markcowl this issue to track the work about having a simple cmldet for Linux based VMs.
This can be related to https://github.com/Azure/azure-powershell/issues/9399

## Proposed implementation details (optional)

[2019-08-19 18:55] PatrickTseng commented on #9315
Deal all,
Thanks for reporting this defect.  We just relax the Azure portal UX to allow using both comma and semicolon as delimiters.

The fix shall be in public clouds around 8/22/2019, and sovereign clouds 3 days later.

Regards,
Patrick Tseng
Developer, Microsoft Azure Monitoring team

[2019-08-19 18:55] #9315 closed

[2019-08-19 19:41] btardif commented on #9342
@cormacpayne assign this to you to make sure it doesn't show up on our triage queries

[2019-08-19 22:10] omerzubair opened #9863 "Get-AzDiagnosticSetting , Get-AzureRmDiagnosticSetting, Set-AzDiagnosticSetting not working for all resources"
## Description
I have been trying to build an enterprise runbook to connect all Azure resources to the Log Analytics via 'Diagnostic Settings'. From Azure Interface everything is fine but as you can imagine there are so many resources. Also there are new ones coming every couple of hours. Cannot upkeep manually.

I am unable to use command
- Get-AzDiagnosticSetting

before i use
- Set-AzDiagnostic

[2019-08-20 02:42] shaqian opened #9865 "Extend/remove the limit of 25 context after login"
## Description of the new feature

By default Azure PowerShell populates context for only 25 subscriptions after login.
https://github.com/Azure/azure-powershell/blob/master/src/Accounts/Accounts/Models/RMProfileClient.cs#L293
[code]

The limit is hard-coded. Users have to manually run additional commands to add more subscriptions.

It'd be great to have a more flexible way for user to choose how

[2019-08-20 03:30] Drewm3 commented on #8898
Hi everyone, adding an SSH key to a VM is only supported when creating a VM. So the current behavior is expected.  I'll update the documentation to make this behavior clearer.

[2019-08-20 09:11] HQJaTu commented on #9168
Does that release also add handling to updated `ipSecurityRestrictions`?

Restricting for IPv6 and VNet/subnet has been added to API and Portal, but any attempts to modify a modern-restricted App Service with Az-library fail miserably.

[2019-08-20 10:20] omerzubair commented on #9529
Hi @markcowl any update?
Cheers

[2019-08-20 22:05] daveneeley commented on #9132
This is different from #8412 then? Or would it be resolved by it?

[2019-08-20 22:12] cormacpayne commented on #9833
@krysickij1 a couple of questions:

- Is there a document that you're following for the above steps?
- For the link you mentioned in step (3) for removing the NuGet files, this appears to be for scripts, where our packages are modules
- Is there any reason that you're using the `AzureRM` modules rather than the new `Az` modules?

[2019-08-20 22:29] cormacpayne commented on #9848
@RoshanKumarMicrosoft which Azure PowerShell task are you using? It appears that the V4 version (preview) of this task is providing the `-Environment` parameter when authenticating, which it looks like is not happening in the above call to `Add-AzureRmAccount`. I think if the correct environment is provided to the `-Environment` parameter, the correct endpoint will be used.

[2019-08-20 22:32] cormacpayne commented on #9850
@demyanenko would you mind taking a look at this issue?

[2019-08-20 22:33] daveneeley opened #9869 "support for az ad sp owner: Get-AzAdServicePrincipalOwner"
## Description of the new feature
Similar to #9132, please add support for getting the owner of an AD service principal

## Proposed implementation details (optional)
It's available in python `az ad sp owner list --id $APP_ID`

Looks like it #8412 may implement it?

https://github.com/Azure/azure-powershell/blob/0b083f69fac6ecd140c234992d45414385a3a928/src/Resources/docs/latest-2019-04-30/Get-AzAD

[2019-08-20 22:38] cormacpayne commented on #9863
@omerzubair for each of the commands that you're having trouble with, would you mind setting `$DebugPreference="Continue"` and re-running each command? This will write the requests and responses from the server to the debug stream, that you can then include in a new comment. This will help us gather enough information to resolve the issue.

[2019-08-20 22:42] cormacpayne commented on #9847
@TheKingIGER thanks for filing this issue -- I have opened a PR with the fix [here](https://github.com/Azure/azure-powershell/pull/9870)

[2019-08-20 22:58] omerzubair commented on #9863
@cormacpayne No worries will get back asap

[2019-08-20 23:35] krysickij1 commented on #9833
@cormacpayne Thank you for exploring my issue. Now, to your points:
1.  There isn't one document. It's rather combination of different methods to get to the final result. We're using Python and we want to get rid of any manual steps in our process which exactly importing modules to azure automation account is. Since there is no az cli support for this service I used Azure REST API and as described

[2019-08-20 23:59] omerzubair commented on #9863
Here we go
![image](https://user-images.githubusercontent.com/7728453/63392525-67aad500-c3fa-11e9-99a7-2992c875e915.png)

[2019-08-21 00:03] omerzubair commented on #9863
Set-AzDiagnosticSetting : Exception type: ErrorResponseException, Message: Category 'SQLInsights,AutomaticTuning,QueryStoreRuntimeStatistics,QueryStoreWaitStatistics,Errors,DatabaseWaitStatistics,Timeouts,Blocks,Deadlocks,Audit' is not supported., Code: BadRequest, Status code:BadRequest, Reason phrase: Bad Request
At line:1 char:1
+ Set-AzDiagnosticSetting -Name "Logs-TSD" -ResourceId $resourceId

[2019-08-21 00:04] omerzubair commented on #9863
Set-AzDiagnosticSetting : Exception type: ErrorResponseException, Message: Category 'SQLInsights,AutomaticTuning,QueryStoreRuntimeStatistics,QueryStoreWaitStatistics,Errors,DatabaseWaitStatistics,Timeouts,Blocks,Deadlocks,Audit' is not supported., Code: BadRequest, Status code:BadRequest, Reason phrase: Bad Request
At line:1 char:1
+ Set-AzDiagnosticSetting -Name "Logs" -ResourceId $resourceId -Wo

[2019-08-21 00:05] omerzubair commented on #9863
Above error was from Cloud Shell for **"Set-AzDiagnosticSetting"**

[2019-08-21 00:08] omerzubair commented on #9863
All good when I call a SQL server for **Get-AzDiagnosticSetting**

$resourceId = "/subscriptions/------------/resourceGroups/RGRG/providers/Microsoft.Sql/servers/srv/databases/db_it"
Get-AzDiagnosticSetting -ResourceId $resourceId -debug

[2019-08-21 00:14] omerzubair commented on #9863
but when i call a Keyvault with **Get-AzDiagnosticSetting**. you get nothing returned,
see the debug below.

PS Azure:\> $resourceId = "/subscriptions/---------------/resourceGroups/RGRG/providers/Microsoft.KeyVault/vaults/devkvdelme"
Azure:/
PS Azure:\> Get-AzDiagnosticSetting -ResourceId $resourceId -debug
DEBUG: 12:10:20 AM - GetAzureRmDiagnosticSettingCommand begin processing with ParameterSet

[2019-08-21 04:42] omerzubair commented on #9863
OK have some update on one of the issue "Get-AzDiagnosticSetting"
The GET command will only return something if you have manually added atleast one Diagnostic setting. This is sad as i want automation to figure out all categories before i use SET command.

- So then question arises how will i get the -Category switch values at the time of using **SET-AzDiagnosticSetting** in automation?
- and ever

[2019-08-21 04:51] pvrk commented on #9029
Updated the document with the [example](https://docs.microsoft.com/azure/backup/backup-client-automation#registering-using-the-ps-az-module) for certificate

[2019-08-21 04:51] pvrk commented on #9029
#please-close

[2019-08-21 06:04] Drewm3 commented on #9576
@c4rlosmarin it sounds like you are likely hitting throttling issues from calling the ASM (RDFE) interface repeatedly. With this older interface you need to ensure that there is adequate time between calls to maintain proper functionality. Please let us know if this issue disappears if 10 seconds or more of wait is added between calls. If the problem goes away with the additional wait time added,

[2019-08-21 06:06] Drewm3 commented on #9115
I spoke with @hyonholee on this issue. It will be fixed in the September release.

[2019-08-21 06:18] pvrk commented on #7534
Actually, the command didn't need a certificate parameter in AzureRM but requires in Az. @siddharth7 : can you please take care of this test debt?

[2019-08-21 06:20] pvrk commented on #9029
@markcowl : can you please close this issue?

[2019-08-21 06:25] pvrk commented on #9533
@viverm : can you please provide an update here?

[2019-08-21 06:29] pvrk commented on #9580
@diegopietruszka: Unfortunately, due to underlying platform limitations, Az module requires a certificate whereas AzureRM does not. While we are pursuing this PS team, request you to kindly take a look at documentation where we provided an example and re-try.

https://docs.microsoft.com/azure/backup/backup-client-automation#registering-using-the-ps-az-module

[2019-08-21 07:32] rwaal opened #9874 "New-AzRecoveryServicesVault - Add Tags support"
Please add a Tags parameter to the New-AzRecoveryServicesVault cmdlet. This would allow a Recovery Service Vault to be created with tags.

Many Azure Powershell cmdlets already contain the Tags parameter. The New-AzRecoveryServicesVault however does not.

Our scenario:
We use Azure Policy to enforce that only resources can be created that have tags. When using the New-AzRecoveryServicesVault to cr

[2019-08-21 09:56] MSSedusch opened #9875 "Get-AzNetworkSecurityRuleConfig PortRanges missing"
## Description
The property DestinationPortRange is empty for security rules that used destinationPortRanges instead of destinationPortRange

## Steps to reproduce

Deploy the following template:
[code]

After the deployment, use PowerShell to get the NSG

[code]

The debug output of the security rule looks like:

[code]
but in PowerShell, DestinationPortRange is empty and there is not Destination

[2019-08-21 09:58] slavizh commented on #9863
@omerzubair In case you are not familiar you can find the categories with API call:
https://cloudadministrator.net/2018/12/17/finding-diagnostic-logs-for-azure-services/
I think the same call can be made via Az cmdlets in case you want to fully automate that and not use armclient which is interactive tool.

[2019-08-21 10:17] omerzubair commented on #9863
Hi @slavizh
I have a task to implement this in Azure automation accounts. therefore i need an AZ command to get the log & metric categories. Therefore cannot use armclient
Would you know any AZ command?
Once the SET command starts working i can try it out by fully automating it.

[2019-08-21 12:52] diegopietruszka commented on #9580
Thanks for the answer, but makes no sense. I will stay with the azurerm module then, I'm using Azure to make things easier and simpler for us, don't need this kind of nonsense complications.

[2019-08-21 13:41] slavizh commented on #9863
You have to use the general Az resource commands.
it should be possible with either invoke-azresourceaction or get-azresource. These commands are used to get information directly from ARM API.

[2019-08-21 19:28] marcan2020 opened #9880 "Mismatch in the DefaultAction Enum values."
## Description

Opening an issue for tracking as requested by @blueww in https://github.com/Azure/azure-powershell/pull/9837.

There's a mismatch between models representing the same thing:
- [Microsoft.Azure.Commands.Management.Storage.Models.PSNetWorkRuleDefaultActionEnum](https://docs.microsoft.com/en-us/dotnet/api/microsoft.azure.commands.management.storage.models.psnetworkruleset.parsepsnetwo

[2019-08-21 19:45] artisticcheese opened #9881 "Get-AzSqlElasticJobAgent not correctly deal with FQDN passed as ServerName"
## Description
Get-AzSqlElasticJobAgent shall correctly deal with FQDN passed as `ServerName` parameter

## Steps to reproduce

[code]

Currently if `-ServerName` passed as FQDN it will fail with error below. If you go to Azure portal you can see that `ServerName` is defined as FQDN so people will spend sometime trying to figure out why cmdlet failing

![image](https://user-images.githubuserconten

[2019-08-21 19:47] btardif commented on #7627
this might be covered by #9342 but we need to validate the scenario once this cmdlets are available.

[2019-08-21 20:00] panchagnula commented on #7627
with the work in #9342 the following will be enabled

Get-AzWebAppSiteExtension
Get-AzWebAppSiteExtensionSlot
Install-AzWebAppSiteExtension
Install-AzWebAppSiteExtensionSlot
Remove-AzWebAppSiteExtension
Remove-AzWebAppSiteExtensionSlot

[2019-08-21 20:13] ghost opened #9882 "Remove-AzResourceGroup accepts non-resource group ResourceIds"
I accidentally ran
[code]
when I meant to use `Remove-AzResource`.

Instead of rejecting that ResourceId since it points to a storage account and not a resource group, `Remove-AzResourceGroup` deleted the resource group that storage account was in.

P.S. This is using version 2.5.0 for Az and 1.6.1 for Az.Resources

[2019-08-22 01:00] blueww commented on #9880
Will see if can take it in the next major release.

[2019-08-22 01:23] markcowl opened #9884 "Generation for Azure BlockChain Service"
## Description

Generate and customize modules for the Azure BlockChain service

- [x] Generate, build, and examine API surface
- [x] Ensure that all POST operations use only expanded variants
- [x] Ensure that New/Set/Update cmdlets use only expanded variants
- [x] Change Cmdlet, Parameter, and property names for consistency and clarity
- [ ] Write CRUD tests for top-level resources
- [x] Hold a

[2019-08-22 01:35] markcowl opened #9885 "[HanaOnAzure] Generation, review basic scenario and publish module"
## Description

Generate and customize modules for the Azure HanaOnAzure  service

- [ ] Implement requested configurations and customizatiosn from review
- [ ] Add to Az preview release

## Cost: 20

[2019-08-22 01:37] markcowl opened #9886 "Generation for Azure ContainerRegistry Service"
## Description

Generate and customize modules for the Azure ContainerRegistry service

- [ ] Generate, build, and examine API surface
- [ ] Ensure that all POST operations use only expanded variants
- [ ] Ensure that New/Set/Update cmdlets use only expanded variants
- [ ] Change Cmdlet, Parameter, and property names for consistency and clarity
- [ ] Write CRUD tests for top-level resources
- [ ]

[2019-08-22 04:00] ToMakeSense opened #9889 "[Feature request]: Create a cmdlet Get-AzApiManagementProductByGroup"
## Description of the new feature
I noticed that we have [Add-AzApiManagementProductToGroup](https://docs.microsoft.com/en-us/powershell/module/az.apimanagement/add-azapimanagementproducttogroup?view=azps-2.5.0) and [Remove-AzApiManagementProductToGroup](https://docs.microsoft.com/en-us/powershell/module/az.apimanagement/remove-azapimanagementproductfromgroup?view=azps-2.5.0), but  if it's possibl

[2019-08-22 05:12] omerzubair commented on #9863
Hi @slavizh
I tried
$resource = Get-AZResource -ResourceId $rid

and it does not have Diagnostic Settings Categories
then I ran

$resource | Format-Custom

It returned me the ARM template for the keyvault (JSON)
So i could not see any diagnostic setting in JSON as well. :(

It seems like the diagnostic settings is at Resource Group level. However following did not yield anything either.

$rg = Get

[2019-08-22 06:11] omerzubair commented on #9863
Ok we can close this ! Thanks for the help @slavizh & @cormacpayne

I have found solution 👍

https://stackoverflow.com/questions/52207388/azure-powershell-diagnostics-settings

**Answer:** Just dont mention any category switch and it will select all categories by default!

[2019-08-22 06:11] #9863 closed

[2019-08-22 08:05] meyyazhagan commented on #5725
Hi Rajcheval,

I'm looking for information on Invoke command for Linux machine. Basically I need to pass the value from Invoke command with parameter. May I request to share both command (invoke and shell script) with two parameters and how the parameter value called in script too.

Invoke-AzureRmVMRunCommand -ResourceGroupName 'myrg' -Name 'myvm' -CommandId 'RunShellScript' -ScriptPath 'file.sh'

[2019-08-22 15:42] ayeletshpigelman commented on #5442
a PR with a fix: https://github.com/Azure/azure-powershell/pull/9890

[2019-08-22 15:53] MasterKuat opened #9891 "Get-AzVM return uppercase resourceGroupName"
## Description
If you use Get-AzVM without parameter, ResourceGroupName are uppercase. This is problematic when you do massive update with pipe cause resourceGroupName become really uppercase on resource.

## Steps to reproduce

[code]

## Environment data

[code]

## Module versions

[code]

## Debug output

[code]

## Error output

[code]

[2019-08-22 16:45] cormacpayne commented on #9875
@avijitgupta @chandrasekarsrinivasan would you mind taking a look at this issue?

[2019-08-22 16:47] cormacpayne commented on #9881
@jaredmoo @johnpaulkee Hey guys, would you mind taking a look at this issue?

[2019-08-22 16:52] cormacpayne commented on #9882
@jowilkes-msft thanks for filing this issue -- it looks like we're accepting any resource id, parsing the resource group name from the string, and deleting that resource group, which doesn't follow what the help for the `-Id` parameter states:

@Tiano2017 just to confirm with you, is it expected that the user can provide the resource id for _any_ resource and we would delete the corresponding reso

[2019-08-22 16:53] jaredmoo commented on #9881
This is not specific to JobAgent cmdlets. All SQL cmdlets refer to the server name `myserver`, not the server domain name `myserver.database.windows.net`. The fix here should be to clarify the portal UX.

[2019-08-22 16:59] cormacpayne commented on #9891
@MasterKuat just to make sure I understand the issue: the `Get-AzVM` command is returning objects with a `ResourceGroupName` property, and the value of that property is the correct resource group name, but the text is all upper case (_e.g._, your resource group `myresourcegroup` is returned as `MYRESOURCEGROUP`), which is causing issues when piping this object to `Set-AzVMBootDiagnostic` or `Updat

[2019-08-22 17:21] cormacpayne commented on #9889
@solankisamir Hey Samir, would you mind taking a look at this feature request?

[2019-08-22 17:23] cormacpayne commented on #9874
@siddharth7 @pvrk Hey folks, would you mind taking a look at this feature request?

[2019-08-22 17:33] cormacpayne commented on #9869
@daveneeley thanks for filing this -- as mentioned in https://github.com/Azure/azure-powershell/issues/8412, this should be resolved with the generated cmdlets. We will need to do a little testing with this cmdlet to verify your final question.

[2019-08-22 17:37] cormacpayne commented on #9865
@shaqian thanks for the suggestion -- is there a preference on how this should be implemented? I think there are two ways to go about this:

(1) `Connect-AzAccount -PopulateAllContexts`

(2) `Connect-AzAccount -MaxContextsToPopulate <int>`

Do you think it would be better to (1) create a context for every subscription that the user has access to, or (2) allow the user to provide how many contexts

[2019-08-22 18:10] cormacpayne commented on #9849
@TurnerMarshall thanks for the issue -- I believe that you're referring to the example found in the reference documentation for [`Register-AzAutomationDscNode`](https://github.com/Azure/azure-powershell/blob/ed28cba8a2da7d810084e076b15895b4e2b3bb99/src/Automation/Automation/help/Register-AzAutomationDscNode.md#example-1-register-an-azure-virtual-machine-as-an-azure-dsc-node).

_Note_: as of Decemb

[2019-08-22 18:10] #9849 closed

[2019-08-22 18:11] cormacpayne commented on #9827
@hyonholee @koralski @savyasachisamal Hey folks, would you mind taking a look at this feature request?

[2019-08-22 18:12] cormacpayne commented on #9784
@solankisamir Hey Samir, would you mind taking a look at this feature request?

[2019-08-22 18:13] cormacpayne commented on #9783
Closing this issue as a duplicate of https://github.com/Azure/azure-powershell/issues/9784

[2019-08-22 18:13] #9783 closed

[2019-08-22 18:22] solankisamir commented on #9784
ack

[2019-08-22 18:32] cormacpayne commented on #9759
@OlhaTkachenko just to confirm, this issue was resolved by [this PR](https://github.com/Azure/azure-powershell/pull/9719), correct?

[2019-08-22 20:05] MasterKuat commented on #9891
@cormacpayne : Yes correct. It's also not only with get-AzVM but with many cmdlet which return a list of ressources.
It's not a direct issue with pipe but when using Update-VM ResourceGroupName case is also updated.
So by the end, we have resources with a resourcegroupName uppercase and some others with lower case.
At the begining all resourcegroupname was lower case.

[2019-08-22 20:50] artisticcheese opened #9893 "Add-AzSqlElasticJobStep missing parameter -MaxParallelism"
## Description
Per this document (https://github.com/MicrosoftDocs/azure-docs/blob/master/articles/sql-database/elastic-jobs-overview.md) you are expected to pass `-MaxParallelism` to limit concurrency. This parameter does not exists for Add-AzSqlElasticJobStep module

## Steps to reproduce

[code]

## Module versions

[code]

[2019-08-22 21:08] cormacpayne commented on #9891
@hyonholee Hey Hyonho, it looks like the response from the call to `Get-AzVM` returns the entire resource group name as uppercase -- would you happen to know why this is?

[2019-08-22 21:26] cormacpayne commented on #9893
@jaredmoo @johnpaulkee Hey guys, would you mind taking a look at this issue?

[2019-08-22 22:27] alex-frankel opened #9894 "Support using the "name" property as the artifact resource name in Import-AzBlueprintWithArtifact"
## Description of the new feature
Today, the Import-AzBlueprintWithArtifact cmdlet uses the filename as the name of the artifact. We might want to consider allowing users to use the "name" property if it exists, which will override the default behavior of using the filename.

This was originally proposed here: https://github.com/MicrosoftDocs/azure-docs/issues/36533

[2019-08-22 22:40] cormacpayne commented on #9894
@filizt Hey Filiz, would you mind taking a look at this feature request?

[2019-08-22 22:48] Drewm3 commented on #9891
@MasterKuat, this is currently the expected behavior to return the resource group as upper case. This is due to some components of the compute resource provider being unable to maintain case for a resource group.

However, the cmdlets of Set-AzVMBootDiagnostic and Update-AzVM should be case insensitive when it comes to the resource group name. Could you provide details on how the uppercase resourc

[2019-08-23 06:46] canuzun opened #9895 "webapp:New-AzAppServicePlan - Add Tags support"
## Description of the new feature
The New-AzAppServicePlan cmdlet is missing -Tag parameter. This also applies the Set-AzAppServicePlan too.

#3996 this is an old issue which was for AzureRM and was closed because apparently at that time the portal was not supporting tags on this resource type. But now the portal does support this, so should the PS cmdlet.

[2019-08-23 12:01] pvrk commented on #9874
Thanks @rwaal for the feedback. We have added this to backlog. I will soon update on the planning.

[2019-08-23 12:52] johnjbateman opened #9897 "Get-AzureStorageBlob - Container name '$web' is invalid"
Using a feature called Static websites in Azure Storage, it automatically creates a container called '$web' and any blobs put there can be served up as websites.

However, because of the name, I cannot do this:

[code]

Error is:

[code]

I cannot change the name of the container and I cannot use this Azure Powershell to access it.  I was referred to here from the [Azure Storage GitHub](https://gi

[2019-08-23 13:09] aws-scripting-guy opened #9898 "$ConfirmPreference not honored when running Connect-AzAccount -debug"
## Description

Unable to supress Confirmation dialog when running Debug mode for Connect-AzAccount. This is especially needed when troubleshooting remote environments (containers etc.)

```$ConfirmPreference``` is not honored. ```-Force``` flag too does not suppress dialog.

## Steps to reproduce

[code]

## Environment data

[code]

## Module versions

[code]

## Debug output

[code]

## Error o

[2019-08-23 13:38] DapiCloud commented on #9819
Anyone?

[2019-08-23 15:08] MasterKuat commented on #9891
Hi Drew,

Our naming convention use resource groups' name in lower case but ok, I will pay attention to that.

Still a strange behavior with Update-VM and Azure portal  :
Starting situation : (Resource group name is lower case)
![LowerCase](https://user-images.githubusercontent.com/48821872/63601778-6201ea80-c5c6-11e9-93ea-fe8d6fb378e7.PNG)
Run this command :
[code]
After that portal show resource

[2019-08-23 15:54] cormacpayne commented on #9897
@blueww Hey Wei, would you mind taking a look at this issue?

[2019-08-23 16:57] christianwade commented on #9566
Hi mathwro, can you please describe the automation scenario you have in mind?

[2019-08-23 21:15] number213 commented on #9875
SDK model has both `DestinationPortRange` and `DestinationPortRanges`, while PS model only has `DestinationPortRange` with mapping that checks both SDK properties to determine which to use. There was an error that ignored case when list `DestinationPortRanges` contains only one item. I opened PR to fix that: https://github.com/Azure/azure-powershell/pull/9904

[2019-08-24 14:24] artisticcheese opened #9907 "Az.SQL missing help files for all SQLElasticJob related cmdlets"
Example is below

https://docs.microsoft.com/en-us/powershell/module/Az.sql/set-Azsqlelasticjobstep

[2019-08-24 17:49] mortenlerudjordet commented on #9775
Please make this change as -WorkspaceId is misleading

[2019-08-24 20:25] Xergy opened #9908 "Set-AzStorageBlobContent : This implementation is not part of the Windows Platform FIPS validated cryptographic algorithms."
## Description

I’m getting the below error.  When searching for resolution, I find all the standard disable FIPS regkey/policy stuff…  relaxing security on this machine is not an option for me.  Surely we can do a blob copy without tripping over FIPS.

Set-AzStorageBlobContent : This implementation is not part of the Windows Platform FIPS validated cryptographic algorithms.
At line:1 char:1
+ Set

[2019-08-26 02:29] blueww commented on #9897
@johnjbateman

Would you please share your module version of Az.Storage (get it by run "Get-Module" after the issue repro)?
`$web` should be supported log ago, and I just test it works on latest Az.Storage module.

[2019-08-26 02:40] isra-fel commented on #9885
I was trying to generate code using autorest but got an error

autorest 3.0.5532
autorest.powershell (beta->2.0.648)
autorest.remodeler (beta->2.0.374)

Log:
![image](https://user-images.githubusercontent.com/11371776/63661610-dff40a80-c7ed-11e9-9944-0bfd923faee5.png)

[2019-08-26 07:01] dolauli commented on #9884
@markcowl @erich-wang
The first four items are covered in PR #9909. And customization for new cmdlets are not covered yet since the business logic is not quite clear.
BTW, There is one question that is related to the parameter SubscriptionId, which is required in the restful API call, but probably should be optional in azure-powershell (Default "SubscriptionId" could be retrieved from the context

[2019-08-26 09:32] Marc-013 opened #9911 "Update-AzGalleryImageVersion not able to update replica count"
## Description
Updating the target region replica count fails. It states the storage account type is incorrect.

## Steps to reproduce

[code]

## Environment data

Windows PowerShell
[code]
PowerShell
[code]
## Module versions

Windows PowerShell
[code]

PowerShell
[code]

## Debug output

[code]

## Error output

[code]

[2019-08-26 10:46] blueww commented on #9908
@Xergy
I can repro the issue with Az.Storage 1.5.1.
I will investigate more on this, and update you soon.

[2019-08-26 11:19] mathwro commented on #9566
@christianwade I'm using a runbook to automatically invoke the processing of the cube. Since the analysis server don't have the feature to allow other azure resources to run in the firewall, i had to automate a check for a change in the IP, in which Azure is invoking the runbook from.

So my script currently takes the IP azure is running the runbook from, checking the analysis server's firewall if

[2019-08-26 12:50] johnjbateman commented on #9897
@blueww Thank you for your response!  I was using Azure DevOps and a Hosted Agent (vs2017-win2016) and using the Azure file copy Task version 3.* which was not working last week.  I tried it again, and magically, it works now!

You can close this issue!

[2019-08-26 13:32] Soruk commented on #8628
Hi,

I have the same error but the proposed worker-around does not work for me .
I have two accounts: Microsoft Live ID on firstname.lastname@company.com and Azure AD Work account on firstname.lastname@company.fr (and this AAD has also the domain @company.com). The Live ID was created before the restriction of company domain was introduced by Microsoft.
And when I clear the context as  above, and

[2019-08-26 15:47] matthchr opened #9912 "New-AzureBatchTask with -Tasks parameter doesn't propagate OutputFiles"
## Description
When done by C# the files are getting uploaded to Storage Container after "TaskCompletion", but when the same is done in Azure-RM PowerShell, no output files are uploaded to Storage Container even if the Task is successful and output files are generated.

I have taken reference from Microsoft Docs for Azure RM PowerShell 6.13.0. I have tried providing ResourceFiles and OutputFiles a

[2019-08-27 03:07] dcbrown16 opened #9916 "Invoke-AzOperationalInsightsQuery max results"
The Azure portal has a limit of 10,000 results that are displayed when running a Log Query. (see [here](https://docs.microsoft.com/en-us/azure/azure-monitor/platform/log-faq#q-after-running-a-query-a-list-of-suggested-filters-are-available-how-can-i-see-filters))

Can you confirm that there is no maximum to the results returned for Invoke-AzOperationalInsightsQuery?
https://docs.microsoft.com/en-u

[2019-08-27 06:51] t105362506 opened #9918 "How to Uninstall AzureRm module"
How can i  get help

always  show me
WARNING: AzureRM.Profile already loaded. Az and AzureRM modules cannot be imported in the same session or used in the same script or runbook. If you are running PowerShell in an environment you control you can use the 'Uninstall-AzureRm' cmdlet to remove all AzureRm modules from your machine. If you are running in Azure Automation, take care that none of your r

[2019-08-27 11:39] WillyMoselhy opened #9920 "Show more details on errors for New-AzVirtualNetwork when there are duplicate Subnets"
## Description of the new feature
When using array object for the Subnet parameter of New-AzVirtualNetwork command. If there is a duplicate subnet (same name) we get the following error:
[code]
By enabling -Debug we can see the actual issue:
[code]

## Proposed implementation details (optional)
Allow the error message to include why the command has failed instead of juts saying 400 / Bad request

[2019-08-27 14:43] mathwro commented on #9566
Yes. I'm looking to update a specific rule instead of the entire configuration

[2019-08-27 20:06] chandrasekarsrinivasan commented on #9920
+ @Amol Bhattad<mailto:Amol.Bhattad@microsoft.com>  who is the VNET owner.

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: Cormac McCarthy <notifications@github.com>
Sent: Tuesday, August 27, 2019 1:00:26 PM
To: Azure/azure-powershell <azure-powershell@noreply.github.com>
Cc: Chandrasekar Srinivasan <chsrini@microsoft.com>; Mention <mention@noreply.github.com>
Su

[2019-08-27 20:26] viananth opened #9921 "Az module: Request headers composed with two ?? before api-version"
## Description
With the new Az modules, any http call made is composed with two ?? which results in 400-Bad request.

**GET https://adminmanagement.local.azurestack.external/subscriptions/d169f47f-1b48-4871-8193-42429cc55d44/providers/Microsoft.Compute/virtualMachines??api-version=2017-12-01 HTTP/1.1**
x-ms-unique-id: 2, 3
User-Agent: PSVersion/v5.1.17763.592
Authorization: Bearer [Redacted]
Host:

[2019-08-27 20:36] jlongo62 opened #9922 "Update-AzSqlServerVulnerabilityAssessmentSetting not implemented in AzureRM"
## Description
I have an Az script that sets up Advanced Data Security for my Azure SQL Databases/Servers.

Unfortunately, Az does not run in Azure Devops, so I translated the script to AzureRM. The script leaves Advanced Data Security in a "Partially Configured" state, due to the Azure SQL Server's VULNERABILITY ASSESSMENT SETTINGS not being set. Az provides: Update-AzSqlServerVulnerabilityAssess

[2019-08-27 20:39] chamix opened #9923 "Get-AzRedisCache doesn't retrieve MinimumTlsVersion"
## Description
Using the commang Get-AzRedisCache I could not able to return information about MinimumTlsVersion set up for Azure Cache for Redis

## Steps to reproduce
Execute Get-AzRedisCache
![get-azrediscache-no-tlsversion](https://user-images.githubusercontent.com/382679/63806282-a0aee200-c8f1-11e9-8516-6855c3e84210.png)

[code]

## Environment data

[code]

## Module versions

[code]

## Deb

[2019-08-28 03:10] shaqian commented on #9865
Hi @cormacpayne  I think 1) is better. :)

[2019-08-28 03:57] blueww commented on #9908
@Xergy
We found this is a DMlib issue which happens only on NetStarndard with specific .NET frameworks (the one Powershell use can repro).
I have opened a DMlib issue for that https://github.com/Azure/azure-storage-net-data-movement/issues/186

I will work with DMlib team to resolve the issue, and then update PSH, to the fixed DMlib to fix the issue in PSH.

[2019-08-28 07:47] Marc-013 commented on #9911
Hi @cormacpayne
My apologies, working in multiple pwsh consoles can have this result.
I have reproduced the error and captured everything in an transcript, see the attached file.

Best regards,
Marc
[PowerShell_transcript.computername.xzA8j3Gw.20190828093305.txt](https://github.com/Azure/azure-powershell/files/3549684/PowerShell_transcript.computername.xzA8j3Gw.20190828093305.txt)

[2019-08-28 13:07] MohitPatidar483 commented on #7658
I am facing the same issue, even I have installed the latest .net framework as well.

`Connect-AzAccount : The 'Connect-AzAccount' command was found in the module 'Az.Accounts', but the module could not be loaded. For more information, run 'Import-Module Az.Accounts'.
At line:1 char:1
+ Connect-AzAccount
+ ~~~~~~~~~~~~~~~~~
    + CategoryInfo          : ObjectNotFound: (Connect-AzAccount:String) [

[2019-08-28 18:17] cormacpayne opened #9926 "[Documentation] Overview of ARM/Graph concepts and scenarios"
## Description

Outline important concepts and scenarios for the ARM and Graph cmdlets.

- [x] `ResourceManager` project
    - [x] Resources / ResourceGroups
    - [x] Deployments
    - [x] Policies
- [x] `Resources` project
    - [x] ActiveDirectory
        - [x] Applications
        - [x] Groups
        - [x] ServicePrincipals
        - [x] Users
    - [x] RoleAssignments
    - [x] RoleDefinitio

[2019-08-28 20:08] cormacpayne opened #9928 "[Documentation] Developer guide for customizations in generated cmdlets"
## Description

Create a developer guide outlining the different types of customizations that could be added for generated cmdlets.

- [x] When to use customizations
- [x] How do customizations get used
- [x] Example(s) of adding/removing parameters to/from an existing variant/parameter set
- [x] Example(s) of replacing filter parameters (_e.g._, `-Filter` parameter using OData Query)
- [x] Exampl

[2019-08-28 21:52] leylakazemi commented on #9759
Thank you for the feedback. We have this in our backlog to do.

[2019-08-28 22:08] number213 commented on #9920
PR with the fix got merged: https://github.com/Azure/azure-powershell/pull/9924
ETA for the next release: 9/24

[2019-08-28 22:09] number213 commented on #9875
PR with the fix got merged: https://github.com/Azure/azure-powershell/pull/9904
ETA for the next release: 9/24

[2019-08-28 22:51] leowu-msft opened #9931 "Get-AzNotificationHubsNamespace parameter -Namespace not working"
## Description
The namespace parameter is not working as expected.  I execute the cmdlet by providing a non-exist namespace 'nothing' but it still return an existing namespace object back.

## Steps to reproduce
make sure you have some notificationhubs namespaces

[code]

## Environment data

[code]

## Module versions

[code]

## Debug output

[code]

## Error output

[code]

[2019-08-29 06:15] t105362506 commented on #9918
@cormacpayne      i  following this document  but  always
![image](https://user-images.githubusercontent.com/54572002/63914984-6ebf8c00-ca67-11e9-9b68-2ce605a5c956.png)

[2019-08-29 06:24] dolauli commented on #9884
The zip file attached contains the blockchain help files for review.
[latest-2019-04-30-blockchain-helpfiles-for-review.zip](https://github.com/Azure/azure-powershell/files/3554144/latest-2019-04-30-blockchain-helpfiles-for-review.zip)

[2019-08-29 06:24] t105362506 commented on #9918
@cormacpayne      i  following this document  but  always  can't  remove   one of the
![image](https://user-images.githubusercontent.com/54572002/63914984-6ebf8c00-ca67-11e9-9b68-2ce605a5c956.png)

[2019-08-29 07:46] lAnubisl commented on #1665
still not fixed. This is a blocker. Azure Powershell become useless.

[2019-08-29 08:24] dolauli commented on #8513
Build number is internal and could rotate. Suggest using the github commit id as the image tag, which is unique and more meaningful.

[2019-08-29 08:33] dolauli commented on #8513
@markcowl
We have to do a manual authentication through a URL to run "\\aaptfile01\adxsdk\PowerShell\2019_07_30_PowerShell\scripts\RmCoreSmokeTests.ps1". So does it mean we should run the test manually?

[2019-08-29 08:40] AdamSharif-MSFT commented on #9898
As a temporary solution, you can set a variable as below to enable debugging mode with PS commands, without having to confirm each time:

$DebugPreference = "Continue"

REF: https://docs.microsoft.com/en-us/powershell/module/microsoft.powershell.core/about/about_preference_variables?view=powershell-6#debugpreference

Example below:

---

[code]

[2019-08-29 10:28] lehtope1 opened #9934 "Moving DB to Elastic Pool with Set-AzSqlDatabase fails"
## Description

Hi,

Moving an existing Azure SQL database into an Azure SQL Elastic Pool with Set-AzSqlDatabase fails with error:

[code]

Even when specifying -ReadScale "Disabled" to the command, the same error is thrown.

## Steps to reproduce

[code]

## Environment data

[code]

## Module versions

[code]

[2019-08-29 16:09] cormacpayne commented on #9918
@t105362506 I would recommend manually deleting all of the `AzureRM*` and `Az*` modules from your machine with the following:

#### Uninstall `AzureRM` modules

In PowerShell, run `Get-Module -Name AzureRM.* -ListAvailable` -- this will return all of the `AzureRM` modules installed on your machine currently. Above each entry will be the path where the modules are installed. If you navigate to each

[2019-08-29 20:38] chrisrharris opened #9937 "New-AzVM doesn't add deployment history to the resource group"
## Description
New-AzVM doesn't add deployment history to the resource group after a successful deployment.  In contrast, the az cli, portal, and New-AzResourceGroupDeployment create an entry in the deployment history as expected.

## Steps to reproduce

[code]

## Environment data

[code]

## Module versions

[code]

## Debug output

[code]

## Error output

[code]

[2019-08-29 21:00] bgklein opened #9938 "[Batch] Commandline argument of New-AzBatchTask should accept empty"
Adding a new task should allow empty commandline
[code]

[2019-08-29 21:01] bgklein commented on #9938
@matthchr are you able to fix this in your next powershell release

[2019-08-29 23:35] matthchr commented on #9938
Yes

[2019-08-30 02:09] robga commented on #6880
Added an example of creating policy assignment at subscription level to the doc:
https://docs.microsoft.com/en-us/powershell/module/az.resources/new-azpolicyassignment
I have a backlog work item to make the scope parameter be optional when creating policy assignment at the subscription level. I will update the doc again when that work is done.

[2019-08-30 02:09] #6880 closed

[2019-08-30 05:28] vinayakshenoy91 opened #9940 "Not able to install powershell az module"
## Description

[azureuser@GEmypack ~]$ sudo pwsh -C "Install-Module -Name Az -AllowClobber -Scope AllUsers -Force"
WARNING: Source Location 'https://www.powershellgallery.com/api/v2/package/Az.Accounts/1.6.2' is not valid.                                                                                                  PackageManagement\Install-Package : Package 'Az.Accounts' failed to download.

[2019-08-30 05:50] vinayakshenoy91 commented on #9940
This seems to be issue with a particular machine.hence closing this.

[2019-08-30 06:42] vinayakshenoy91 commented on #9940
This doesn't seem to be a issue local to specific machine. Iam not able to download it in linux as well as there seems to download issue using Install-package as well:

`PS /home/azureuser> Install-Package Az

The package(s) come(s) from a package source that is not marked as trusted.
Are you sure you want to install software from 'PSGallery'?
[Y] Yes  [A] Yes to All  [N] No  [L] No to All  [S] Su

[2019-08-30 06:42] vinayakshenoy91 commented on #9940
This doesn't seem to be a issue local to specific machine. Iam not able to download it in linux as well as there seems to download issue using Install-package as well:

`PS /home/azureuser> Install-Package Az

The package(s) come(s) from a package source that is not marked as trusted.
Are you sure you want to install software from 'PSGallery'?
[Y] Yes [A] Yes to All [N] No [L] No to All [S] Suspen

[2019-08-30 08:08] fbodmer commented on #9573
You can't, I ended up deploying AKS using REST calls - this is the only way to fully configure it from PowerShell. Please contact me via mail if you would like the code.

[2019-08-30 09:48] Fedozzz commented on #9157
Hi @AnatoliB ,
I ran into this bug. The applied workaround helped. can you please share if you submitted support request for Azure Automation Service? What was their reply?
If no, I will submit the request and will be posting you with the updates.

[2019-08-30 14:42] DigitalZeroOne opened #9942 "Get-AzDisk failing"
## Description

This exact error is happening on 4 different systems.  2 systems are Windows 10, one is a physical machine, the other is a VM (primary work VM).  The last 2 are a Windows 2012 R2 VM, and a Windows 2016 HPE physical blade.  The same error happens on all 4 systems, and some have different versions of the Azure PowerShell module.  Whether it's Get-Azdisk or Get-AzureRmDisk, the error

[2019-08-30 17:10] brianbar-MSFT commented on #8628
Try Clear-AzContex with -Force. @dalibormesaric mentioned it above and it worked for me as well.

[2019-08-30 17:20] Soruk commented on #8628
Hi,

Just tested, and no, it still gives me the wrong Id 😔

[2019-08-30 20:19] internetgdl commented on #9893
In SQL Azure the capability of the number of threads are managed by Azure. Al least in this version of the az.sql module

[2019-08-31 00:09] markcowl commented on #9479
Fixed and released.

[2019-08-31 00:09] #9479 closed

[2019-08-31 01:28] vany0114 commented on #8416
@markdebruijne I just saw your response, I ended up leaving this is my low priority tasks, I'm gonna try it, thanks a lot!

[2019-08-31 13:34] virtualam commented on #4035
I'm using AzureRM 6.13.1 and still get this issue.

[2019-09-01 01:24] kristopherjturner commented on #7844
I am experiencing this issue.  Has there been any resolution to this yet?

[2019-09-01 10:32] ashmind opened #9946 "Az.Storage: -UseConnectedAccount causes 403 (but without it it works fine)"
## Description

Using context created by `New-AzStorageContext -UseConnectedAccount` produces 403. However `New-AzStorageContext` without `-UseConnectedAccount` works fine, so it doesn't seem to be a permission issue.

I might be misunderstanding the docs, but it seems that both of those options should be using the same approach? (OAuth)
![image](https://user-images.githubusercontent.com/166396/64

[2019-09-02 00:54] dcbrown16 commented on #9916
@xizhamsft we're working with a customer on a support case and they are reporting that they are hitting some kind of limit, so any info you can share would be appreciated.

[2019-09-02 01:40] dcbrown16 commented on #9916
https://techcommunity.microsoft.com/t5/Azure-Log-Analytics/OMS-Query-for-exporting-results-in-excel-more-than-10000-results/m-p/306829
This post from Noa suggests that the limit of 10,000 is not applicable to the API, so I want to specifically confirm here if that's also the case for PowerShell. I assume PowerShell doesn't have a limit.

[2019-09-02 02:01] dolauli commented on #9884
@cormacpayne

[2019-09-02 02:23] blueww commented on #9946
@ashmind

I can't repro this issue.
From PSH code, following 2 command will generate same storage context, no matter with or without `-UseConnectedAccount`.

[code]

Would you please make sure the success script and the failed script only has the new context command different (with or without `-UseConnectedAccount`, storage account are same), run in same powershell console, and the script before a

[2019-09-02 05:08] ashmind commented on #9946
Hmm, I can't reproduce it anymore. Very weird since I reproduced it multiple times yesterday, but maybe something else. I also looked at the code and it does seem to be the same either way.

So I think this can be closed, thanks!

I'll re-raise if I can reproduce later.

[2019-09-02 05:12] blueww commented on #9946
@ashmind
Thanks for the reply!
I will close this issue.
Feel free to contact us if need any further assistance.

[2019-09-02 05:12] #9946 closed

[2019-09-02 07:23] Marc-013 opened #9947 "New-AzResource throws error when attempting to upload an AIB Image Template"
## Description
New-AzResource throws error when attempting to upload an Azure Image Builder Image Template.

## Steps to reproduce

Create json template _'imageTemplateRhel76.json'_
[code]
Execute PowerShell code
[code]

## Environment data

[code]

## Module versions

[code]

## Debug output

[code]

## Error output

[code]

[2019-09-02 11:27] jbroenstrup opened #9948 "Missing New-AzureADUserAppRoleAssignment"
## Description
Assigning a user to a role in an AD enterprise app is not possible.

The "old" AzureRM had a command to assign enterprise app roles to a user. The function was called `enterprise app`. I can not find a command in the AZ-module, that would allow me to do the same. I would have expected it to be called `New-AzADUserAppRoleAssignment`.

How to do this with AzureRM is described [here](h

[2019-09-02 13:09] sid1260 opened #9949 "Connect-AzAccount : The term 'Connect-AzAccount' is not recognized as the name of a cmdlet"
## Description
Error after installing Az modules

When I run the command Connect-AzAccount, get the following exception.
[code]

List of Az Modules
![image](https://user-images.githubusercontent.com/38790296/64116113-b0b33f80-cd91-11e9-815d-82b62a288eb8.png)

## Steps to reproduce
Ran Install-Module -Name Az -AllowClobber
Ran Connect-AzAccount

Note:
-Tried to clean up all installed modules and re

[2019-09-02 22:06] Drewm3 commented on #9891
I am chatting with the team to determine how much work will be required to always return the case for a resource group using the same casing as was used to create the resource group originally. Today this case is not maintained by the compute resource provider so there will be a fair amount of work to enable this feature.

We will track this as a feature request in our backlog, but for now I will

[2019-09-02 22:06] #9891 closed

[2019-09-02 22:38] Drewm3 commented on #9576
Closing this issue for now. Please let us know if this issue does not resolve itself after adding the wait between calls.

[2019-09-02 22:38] #9576 closed

[2019-09-03 02:10] markcowl commented on #9949
@sid1260 Please try running `Import-Module Az.Accounts` and include the error that is included.

Please also provide details on your version of PowerShell:
[code]

[2019-09-03 02:13] markcowl commented on #9948
Are you asking for the ability to sign AD roles to an application, or the ability to provide ARM role assignments?

The current cmdlets and AzureRM can both add role assignments to an SPN (in fact, the new cmdlets will allow you to assign a role as part of the creatio process).

Neither AzureRM nor Az have the capability to assign Azure AD roles - it is not allowed by the API.

[2019-09-03 02:25] markcowl opened #9950 "[Documentation]:Common Code Overview"
Write an Overview of Common Code classes used in Az 2.0 and Az 4.0, including
- [ ] Overview of each library,, and where backwards compatibility is required or optionsl
- [ ] Description of the interfaces in the abstractiosn class and how they are used
- [ ] Description of the dependency injection mechanism
- [ ]  Overview of provider classes
- [ ] Overview of PowerShell cmdlet functions and helpe

[2019-09-03 02:28] markcowl opened #9951 "[Documentation]: Generator support library docs"
- [ ] Event Listener
- [ ] Http Pipeline construction
  - [ ] Authentication
  - [ ] Headers
- [ ] Url creation

### Cost: 2

[2019-09-03 02:31] markcowl opened #9952 ";Documentation]: Strategy Library Overview"
Describe purpose and high level functions of Strategy library, how it is used in Compute and ppService cmdlets, and how it is used in the new generator.

- [ ] High-level Overview
- [ ] Implementation in Az 2.0 Compute cmdlets
- [ ] Implementation in Az2.0 AppService cmdlets
- [ ] Changes to support Az 4.0

[2019-09-03 03:07] dcbrown16 commented on #9916
Update - we got separate info from Log Analytics that the "Search API" limits here should apply.
https://docs.microsoft.com/en-us/azure/azure-monitor/service-limits#log-analytics-workspaces

The customer is saying they got 500,000 results (from Firewall logs). However, the query in this case didn't use the "summarize" command, so it's unclear why the aggregated data limit of 500,000 would apply, a

[2019-09-03 03:11] AnatoliB commented on #9157
@Fedozzz Please go ahead and submit your request.

[2019-09-03 06:37] jbroenstrup commented on #9948
@markcowl Thanks for your feedback.

I want to assign a user or a group to a role I defined in an app registration (service principal). In the azure portal I can do this with the blade "Enterprise Application" in our azure ad or via the "old" AzureRM module in power shell. Both ways are described [here](https://docs.microsoft.com/en-us/azure/active-directory/manage-apps/assign-user-or-group-access

[2019-09-03 07:18] sid1260 commented on #9949
@markcowl - If I run Import-Module Az.Account , I do not get any errors. See screenshot below
![image](https://user-images.githubusercontent.com/38790296/64151822-7eeeb700-ce2b-11e9-82ea-d603c2b79508.png)

$PSVersionTable - Details
![image](https://user-images.githubusercontent.com/38790296/64151876-975ed180-ce2b-11e9-87cd-d386518d062a.png)

[2019-09-03 07:31] stefanstranger commented on #9947
Hi Marc,

When I check the Properties parameter for the New-AzResource cmdlet via Get-Help New-AzResource -parameter Properties I read that it needs to be a System.Management.Automation.PSObject.

Can you verify the type of object for the $JsonDataUnescape variable? Is this of type System.Management.Automation.PSObject?

[2019-09-03 13:49] nickstenning opened #9955 "Remove-AzContainerGroup fails with deserialization error"
## Description

Running `Remove-AzContainerGroup` with the `-ResourceId` parameter results in a deserialization error when handling container groups with user-assigned identities.

[code]

## Steps to reproduce

1. Run `Remove-AzContainerGroup -ResourceId <ResourceId>` against **a container group with an associated user-assigned identity**.

## Environment data

[code]

## Module versions

[code]

[2019-09-03 13:57] AWahlqvist commented on #2617
Reopened since this seems to still be happening

[2019-09-03 14:06] DigitalZeroOne commented on #9942
The cmdlet is working now, it started working again on 9-1-19.  It's working on multiple systems where it wasn't working before.  I only made a change on one system, and that was to remove and reinstall the Az module, but I did that on 8-30-19, and it didn't correct the issue.  In any event, it's working now.

[2019-09-03 14:07] #9942 closed

[2019-09-03 15:25] vinhent opened #9957 "Enable-AzCdnCustomDomainHttps: Operation returned an invalid status code 'BadRequest'"
## Description

I'm opening this [issue](https://github.com/Azure/azure-powershell/issues/9654) again because it was closed on the previous post and I think it wasn't corrected or at least I didn't get a reply. I'm trying to use the cmdlet `Enable-AzCdnCustomDomainHttps` to activate HTTPS on a custom domain but I'm always getting the following error:  Operation returned an invalid status code 'Bad

[2019-09-03 16:04] cormacpayne commented on #4035
@virtualam what's the full command that you're running that receives this error? Also, would you mind providing the list of modules that you have installed on your machine by running `Get-Module -ListAvailable`?

[2019-09-03 17:15] yevster opened #9959 "Insufficient information to produce Service Bus SAS token"
## Description of the new feature
To read and write to Service Bus Queues, a SAS token is required. It would be helpful to be able to obtain a SAS token from PowerShell so as to use the Service Bus REST APIs for which no CMDlets are available. A SAS requires a rule expiration date, which currently can be obtained with neither `Get-AzServiceBusKey` nor `Get-AzServiceBusAuthorizationRule`.

## Propo

[2019-09-03 18:42] DebashishSarkar opened #9965 "Get-AzSqlServer says Resource group not found while az group shows it does exist"
**Describe the bug**
_Get-AzSqlServer_ says Resource group not found while _az group exists_ shows it does exist.
I was trying to get details of the sql servers in a particular resource group and saw this error message. After connecting the specific account of interest and then checking if resource-group exists or not through az group exists command, I found it is returning true.

**To Reproduce**

[2019-09-03 19:00] cpumanaz commented on #9316
This doe snot appear to be resolved. Am I missing something here?
λ  Get-InstalledModule Az

Version    Name                                Repository           Description
-------    ----                                ----------           -----------
2.6.0      Az                                  PSGallery            Microsoft Azure PowerShell - Cmdlets to manage resources in Azure. This module

[2019-09-03 22:14] cormacpayne commented on #9923
@SiddharthChatrolaMs Hey Siddharth, would you mind taking a look at this issue?

[2019-09-03 22:16] cormacpayne commented on #9931
@leowu-msft Would you mind providing the corresponding debug output from the above command call? Setting `$DebugPreference="Continue"` before running the cmdlet will give you the resulting debug trace.

[2019-09-03 22:17] cormacpayne commented on #9934
@jaredmoo Hey Jared, would you mind taking a look at this issue?

[2019-09-03 22:19] cormacpayne commented on #9937
@chrisrharris Hey Christopher, the `New-AzVM` command uses the Compute management SDK to create a VM, which is different than using a deployment, so it won't create this deployment history. If you'd like to preserve the deployment history of the VM creation, you should use the `New-AzResourceGroupDeployment` command. As a result, we're going to close this issue as by design.

[2019-09-03 22:19] #9937 closed

[2019-09-03 22:26] jaredmoo commented on #9934
What is the current edition and ReadScale state of the database? My guess is that this database is currently Premium or BusinessCritical and has ReadScale enabled. Moving this into a Standard pool will fail because Standard doesn't support ReadScale - in other words, you need to set ReadScale to Disabled when you move the database into the pool.

[2019-09-03 22:26] cormacpayne commented on #9940
@vinayakshenoy91 Hey there, the `Install-Package` command shouldn't be used in this case -- the command that you should run to install the `Az` module onto your machine is the following:

[code]

Would you mind running the above command with the debug trace enabled? To do this, set `$DebugPreference="Continue"` before running the above command.

[2019-09-03 22:29] cormacpayne commented on #9947
@Marc-013 Hey Marc, in addition to the question proposed above, is there any reason that you're not using the `New-AzResourceGroupDeployment` command to create this resource?

[2019-09-03 22:32] jaredmoo commented on #9934
Sorry, I missed this line. We're investigating.

[2019-09-03 22:33] cormacpayne commented on #9955
@jluk @yangl900 would you mind taking a look at this issue?

[2019-09-03 22:34] cormacpayne commented on #9957
@hytao @ravindp would you mind taking a look at this issue?

[2019-09-03 22:37] cormacpayne commented on #9959
@v-Ajnava Hey Ajit, would you mind taking a look at this feature request?

[2019-09-03 22:39] cormacpayne commented on #9922
@jlongo62 Hey there, we are no longer actively shipping the `AzureRM` module and all new features are being released with the `Az` module. There is a preview task in ADO that uses the `Az` module that you can try:

https://docs.microsoft.com/en-us/azure/devops/pipelines/tasks/deploy/azure-powershell?view=azure-devops

It should be v4 of the task to use to enable the `Az` module. Please let us know

[2019-09-03 22:39] #9922 closed

[2019-09-03 22:45] jluk commented on #9955
@cormacpayne I've assigned @dkkapur given neither Anders nor myself work on ACI anymore

[2019-09-04 01:11] gtalton commented on #2617
Thanks for the Reopen @AWahlqvist this bit me today also on three webapps that all timed out. Is there any way to modify the timeout timer on this api call?

[2019-09-04 05:39] beatrichartz commented on #8728
@solankisamir We just ran into this - it's quite opaque that `Import-AzApiManagementApi` does not respect the input for `ApiId` and prefers the title attribute of a Swagger specification. In our case, because we needed to make the same specification available in two APIs, this lead to a situation where `Import-AzApiManagementApi` tried to import an API with the same specification under the same AP

[2019-09-04 07:52] Ba4bes commented on #9578
I stumbled on this issue through Google as I had the same issue, but I found the solution.
The PowerShell cmdlet was hanging for me as well. So I tried deploying through the Azure Portal. This deployment hung as well, but it did give an error message. In my case, I made a typo in the location.
In your template, you might want to try typing location as "southcentralus". If that doesn't work, you ca

[2019-09-04 09:17] Willem-J-an opened #9967 "New-AzRoleAssignment default parameterset has incorrect mandatory value for parameter Scope"
## Description
@ https://github.com/Azure/azure-powershell/blob/master/src/Resources/Resources/RoleAssignments/NewAzureRoleAssignmentCommand.cs
The New-AzRoleAssignment cmdlet has an incorrect mandatory value of $true for the parameter 'Scope' in the parameterset.empty.
This overrules  ParameterSet.ScopeWithObjectId, where the parameter is not mandatory, making that parameterset unusable. When pro

[2019-09-04 10:24] AnaghaPirangute commented on #9786
Any update on the error above. I am facing similar issue with EventHub.

[2019-09-04 12:03] monika3376 opened #9969 "New-AzContainerGroup does not setting Ports"
Az version: 2.6.0
New-AzContainerGroup -ResourceGroupName $resourceGroupName -Name $name -Image $image -Location $location -OsType $osType `
-RestartPolicy $restartPolicy -Cpu $cpu -MemoryInGB $memory -Port @(8000)

Result:
ResourceGroupName        : <rgname>
Id                       : /subscriptions/<subId>/resourceGroups/<rgname>/providers/Microsoft.ContainerInstance/containerGroups/<name>
Name

[2019-09-04 12:43] BlairPaine commented on #9940
@cormacpayne I am experiencing the same issue. I am able to download the package manually from PowerShell Gallery but AZ.Accounts 1.6.2 fails to download as a dependency.

**Environment:**
PSVersion                      6.2.2
PSEdition                      Core
OS                             Microsoft Windows 10.0.15063
Platform                       Win32NT

Executing from VSCode 1.37.1 Terminal.

[2019-09-04 13:15] danwellbrock commented on #7551
same problem here.

[2019-09-04 13:22] BlairPaine commented on #9940
**Update**: I managed to work around this issue by changing network. I suspect something was interfering  with the package download i.e. proxy etc.

[2019-09-04 17:17] cormacpayne commented on #9967
@Willem-J-an thanks for filing this issue -- I think the correct thing to do here is to remove `ScopeWithObjectIdParameterSet` altogether and make the `-Scope` parameter optional in the `Empty` parameter set, which will enable this previously unusable scenario while keeping existing scripts in tact.

@darshanhs90 any thoughts?

[2019-09-04 17:28] Willem-J-an commented on #9967
Hi @cormacpayne, makes sense! With this change the ScopeWithObjectIdParameterSet parameterset becomes redundant.

Additionally, perhaps this markdown should be edited?
[New-AzRoleAssignment.md](https://github.com/Azure/azure-powershell/blob/c444100ed18d235a87adb69bbeba9df23ad146e4/src/Resources/Resources/help/New-AzRoleAssignment.md)

Should I implement this in my PR?

[2019-09-04 17:32] cormacpayne commented on #9967
@Willem-J-an that would be great -- the markdown files are generated using the `platyPS` module. You can take a look at [this document](https://github.com/Azure/azure-powershell/blob/master/documentation/development-docs/help-generation.md) for more information on generating help in our repository, and [this section specifically](https://github.com/Azure/azure-powershell/blob/master/documentation/

[2019-09-04 18:00] leowu-msft commented on #9931
@cormacpayne Here you are!
PS C:\> $DebugPreference = "Continue"
PS C:\> Get-AzNotificationHubsNamespace -Namespace "nothing"                                                            DEBUG: 1:58:58 PM - GetAzureNotificationHubsNamespace begin processing with ParameterSet '__AllParameterSets'.
DEBUG: 1:58:58 PM - using account id 'leowu@mcsinternaltrials.onmicrosoft.com'...
DEBUG: [Common.Authent

[2019-09-04 19:42] zsiebers commented on #9819
@ms-premp I am having this same issue in PowerShell and CloudShelll with both the New-AzConsumptionBudget and Set-AzConsumptionBudgt cmdlets.

[2019-09-04 21:18] cormacpayne commented on #9931
@leowu-msft thanks for reporting back that information -- it looks like the issue is the only parameter set in this cmdlet has _both_ `-ResourceGroup` and `-Namespace` parameters as optional, when there should be two parameter sets:

- One with an optional `-ResourceGroup` parameter
- One with mandatory `-ResourceGroup` and `-Namespace` parameters

This way, it's not possible for the user to provi

[2019-09-04 23:00] v-Ajnava commented on #9959
Hi @yevster,

Recently, about two releases back, we have added new command to generate SAS token for a give authorization rule .

below is the link for the documentation from the latest  release.
https://docs.microsoft.com/en-us/powershell/module/az.servicebus/new-azservicebusauthorizationrulesastoken?view=azps-2.6.0

please try with the latest release and lets us know your experience and view on

[2019-09-04 23:56] panchagnula commented on #8000
@naveedaz for me to follow-up with on this.

[2019-09-04 23:57] panchagnula commented on #4680
closing this since we believe this is fixed. Please let us know if this is not the case. Thanks!

[2019-09-04 23:57] #4680 closed

[2019-09-05 00:00] panchagnula commented on #9209
For now when using bash please use the CLI equivalent command https://docs.microsoft.com/en-us/cli/azure/webapp/deployment/source?view=azure-cli-latest#az-webapp-deployment-source-config-zip or the command az webapp up which calls the deployment command.

[2019-09-05 00:10] panchagnula commented on #8614
We might need to just update the doc here - stating this parameter is not supported with slots.

[2019-09-05 00:11] panchagnula commented on #5833
@Nking92 can you check if we still repo this?

[2019-09-05 15:17] timpoth opened #9979 "Add-AzVmssSecret doesnt correctly update cert list for exsisting keyvault"
We have several certs added to a VMSS from keyvaultX and i want to add another cert. when i run these cmdlets
$certConfig = New-AzVmssVaultCertificateConfig -CertificateUrl $certSecretID -CertificateStore "My"
$vmssobj = Get-AzVmss -ResourceGroupName $resourcegroup -VMScaleSetName $VMSSName
$vmssobj = Add-AzVmssSecret -VirtualMachineScaleSet $vmssobj -SourceVaultId $KeyVaultResourceID -VaultCertif

[2019-09-05 15:39] jaredmoo commented on #9893
Thank you for reporting this issue. There is currently only T-SQL support for the max parallelism feature. This is of course a manageability gap that should be addressed. For now I will update the docs to eliminate the confusion.

[2019-09-05 16:52] ricohomewood opened #9980 "Start-AzAutomationSourceControlSyncJob Add SyncType parameter to invoke 'Incremental' syncs"
The `Start-AzAutomationSourceControlSyncJob` function only triggers a FullSync from a connected Azure DevOps Repo, which can sometimes take a long time if you have lots of runbooks in a repo. Can we add a pramater to this to trigger an option incremental sync.

**Use Case**
The Azure Automation account has this option as a feature toggle but not something that can be triggered ad-hoc after a full

[2019-09-05 17:29] pvrk commented on #9029
Updated the document with the example for certificate. Closing this issue.

[2019-09-05 17:29] #9029 closed

[2019-09-05 18:50] meepstei opened #9981 "Resource tags are being removed when changing app service plans using PS | Azure Apps"
## Description
Resource tags are removed when changing App Service Plans using PowerShell command but using the Azure portal UI moves the tags with the App Service Plan change.

## Steps to reproduce

[code]

## Environment data

Name                           Value
----                           -----
PSVersion                      6.2.2
PSEdition                      Core
GitCommitId

[2019-09-05 21:32] jzuchora87 opened #9983 "TimeZone ignored when deploying New-AzAutomationSoftwareUpdateConfiguration"
## Description
TimeZone is ignored in New-AzAutomationSoftwareUpdateConfiguration.

I first create a schedule in EST - $sch1
[code]
I then use that as in input into New-AzAutomationSoftwareUpdateConfiguration and magically 4 hours are added to the schedule and it's updated. You can see the results in the response body that the startTime has magically changed to 10PM when it should be 6PM as it is

[2019-09-06 03:42] t105362506 opened #9986 "i can't use install module"
![image](https://user-images.githubusercontent.com/54572002/64399568-73092c00-d09b-11e9-8c47-920f7fb0005a.png)

[2019-09-06 08:40] dirkslab opened #9987 "Export-AzApiManagementApi openapi+json"
## Description of the new feature
Adding openapi+json as a SpecificationFormat option to Export-AzApiManagementApi.
Currently SpecificationFormat "openapi" downloads as yaml. there is no powershell support to convertfrom-yaml in core, so it would make sense for default (or option) to be in json format. Powershell supports convertfrom-json.

## Proposed implementation details (optional)

[2019-09-06 09:42] erich-wang commented on #9965
@DebashishSarkar, currently Azure CLI and Azure PowerShell do not show login info, you probably login into different accounts for them, you may verify by running
[code]

[2019-09-06 09:51] erich-wang commented on #9986
Please run $PSVersionTable and paste the output in the below code block

[code]

## Module versions

Please run (Get-Module  -ListAvailable) and paste the output in the below code block

[code]

## Debug output

Set $DebugPreference='Continue' before running the repro and paste the resulting debug stream in the below code block

[code]

[2019-09-06 13:24] shawnparslow commented on #9316
I can say the issue went away for me since upgrading to 2.5.0 in late July.   I have a CI/CD system doing 100's of Azure deployments a day and we were only seeing this once or twice a week (in June/July timeframe) and have not seen this since that release.  Not definitive but just my experience.

[2019-09-06 17:24] reecebradley commented on #2494
I'd like to see the `az rest` show up in AzPosh to help bridge the gap for the time being.

[2019-09-06 18:06] bradrich-msft commented on #9934
We have identified the issue and are working on the fix.  We apologize for the inconvenience.  You may workaround this in the meantime by first disabling ReadScale on the database before moving to an elastic pool.

[2019-09-06 19:10] brandonh-msft commented on #3806
@markcowl who do we talk to to get this reopened?

[2019-09-06 20:03] panchagnula commented on #5833
Looking at this with Nick's help this still exists & the fix should be to add a new boolean parameter to toggle the  backupConfiguration https://docs.microsoft.com/en-us/powershell/module/Az.Websites/Edit-AzWebAppBackupConfiguration?view=azps-2.6.0

[2019-09-06 21:13] Drewm3 commented on #9979
Hi @timpoth, this is expected behavior currently. Please see this section of the VMSS FAQ for additional information: [https://docs.microsoft.com/en-us/azure/virtual-machine-scale-sets/virtual-machine-scale-sets-faq#when-i-run-update-azvmss-after-adding-more-than-one-certificate-from-the-same-key-vault-i-see-the-following-message](url)

I will also check with the development team to see if they ca

[2019-09-06 21:35] timpoth commented on #9979
Looking at the docs for the cmdlet https://docs.microsoft.com/en-us/powershell/module/az.compute/add-azvmsssecret?view=azps-2.6.0

-SourceVaultId
Specifies the resource ID of the Key Vault that contains the certificates that you can add to the virtual machine. This value also acts as the key for adding multiple certificates. This means that you can use the same value for the SourceVaultId paramete

[2019-09-07 00:27] dcaro commented on #9316
@cpumanaz please reopen if this is not solved.

[2019-09-08 20:33] panchagnula commented on #7440
Closing this since this is merged

[2019-09-08 20:33] #7440 closed

[2019-09-08 20:37] panchagnula commented on #5287
Closing this one

[2019-09-08 20:37] #5287 closed

[2019-09-09 02:09] t105362506 commented on #9986
Thanks that it work

[2019-09-09 02:10] #9986 closed

[2019-09-09 02:30] #9981 closed

[2019-09-09 04:27] montyaahad commented on #5841
any update regarding this issue?

[2019-09-09 06:23] AnmolDhillon opened #9991 "Get-AzLocation : Object reference not set to an instance of an object."
I am getting the error : Get-AzLocation : Object reference not set to an instance of an object.
The scripts were running successfully and then all of a sudden they stopped working.

[code]

I am getting this error for all Az commands.

[code]

[2019-09-09 06:30] t105362506 opened #9992 "Powershell expansion can't run"
![image](https://user-images.githubusercontent.com/54572002/64507821-46107f80-d30e-11e9-978b-8aab450284b3.png)

[2019-09-09 07:23] t105362506 commented on #9992
starting  That  is   long time
![image](https://user-images.githubusercontent.com/54572002/64510839-9ccd8780-d315-11e9-91fd-353528fe390a.png)

[2019-09-09 09:48] monika3376 opened #9993 "The PowerShell command new-azcontainergroup doesn’t have a parameter to specify a name for the configured file share."
## Description of the new feature

The PowerShell command new-azcontainergroup doesn’t have a parameter to specify a name for the configured file share. Add parameter to specify a name

[2019-09-09 10:10] #9969 closed

[2019-09-09 11:56] erich-wang commented on #9991
@AnmolDhillon, thank you for reporting the issue, please provide the following info:

## Steps to reproduce

[code]

## Environment data

 Please run $PSVersionTable and paste the output in the below code block

[code]

## Module versions

Please run (Get-Module  -ListAvailable) and paste the output in the below code block

[code]

## Debug output

 Set $DebugPreference='Continue' before running t

[2019-09-09 12:17] erich-wang commented on #9992
@t105362506, this repo is used to track issue when using [Azure PowerShell Module](https://docs.microsoft.com/en-us/powershell/azure/overview?view=azps-2.6.0), however the issue you created seems to be related to [powershell extension in vs code](https://github.com/PowerShell/vscode-powershell), please open new issue in https://github.com/PowerShell/vscode-powershell. I'm closing this issue, pleas

[2019-09-09 12:17] #9992 closed

[2019-09-09 12:32] AWahlqvist commented on #9650
Just wanted to +1 this issue, we have quite a lot of runbooks and this problem is quite painful, takes more than an hour (~70 minutes) to deploy for us with the Az module, takes ~2 minutes with the AzureRm module.

[2019-09-09 13:27] AnmolDhillon commented on #9991
----                           -----
PSVersion                      5.1.17134.858
PSEdition                      Desktop
PSCompatibleVersions           {1.0, 2.0, 3.0, 4.0...}
BuildVersion                   10.0.17134.858
CLRVersion                     4.0.30319.42000
WSManStackVersion              3.0
PSRemotingProtocolVersion      2.3
SerializationVersion           1.1.0.1

[AzVersion.txt](https

[2019-09-09 16:10] eugeneniemand commented on #9479
@markcowl can this be reopened as I'm still experiencing issues mentioned above?

[2019-09-09 17:50] sphibbs opened #9995 "Keyvault Set-AzKeyVaultManagedStorageSasDefinition fails on sastype 'service'. Looks like KeyVault needs to update the SDK to 7.0"
## Description
Sastype 'service' fails in Set-AzKeyVaultManagedStorageSasDefinition . Rest call directly to 7.0 works. Information is from IcM 145282111

## Steps to reproduce

[code]

## Environment data

[code]

## Module versions

[code]

## Debug output

[code]

## Error output

[code]

[2019-09-09 18:40] koralski commented on #8458
Please refer to the REST spec for runcommand:
https://github.com/Azure/azure-rest-api-specs/blob/master/specification/compute/resource-manager/Microsoft.Compute/stable/2019-03-01/runCommands.json

 "RunCommandInputParameter": {
      "properties": {
        "name": {
          "type": "string",
          "description": "The run command parameter name."
        },
        "value": {
          "type

[2019-09-09 19:18] zjalexander commented on #9980
Hi,

Since this is a feature request for the Azure Automation Source Control feature, can I ask you to please post it in our UserVoice here: https://feedback.azure.com/forums/246290-automation ? That will help us track the request, allow others to see and vote for it, and let us prioritize it among the other feature requests.

[2019-09-09 20:12] niander commented on #9928
https://github.com/Azure/autorest/pull/3304

[2019-09-09 20:27] yobyot opened #9998 "New-AzSubscription should send welcome email to specified owner"
If `New-AzSubscription` is called with either `-OwnerObjectId` or `-OwnerSignInName`, the welcome email, whose subject line reads "Your Azure subscription is ready," is sent to the user whose context (via `Set-AzContext`) was used to create the subscription. At the very least, the option to cc: the owner should be provided in addition to emailing the context user.

Here's a screenshot showing the

[2019-09-09 21:43] panchagnula commented on #5841
@montyaahad talking to our ASE team - these changes are expected changes that got released recently. We believe this will provide a better user experience & yes this is a stable change.
Please share if you have any further feedback here.

[2019-09-09 23:24] panchagnula commented on #5841
Closing this - please open a new issue incase of feedback or new issue with the Publishing Profiles command & ILB ASE

[2019-09-09 23:24] #5841 closed

[2019-09-10 00:11] zjalexander commented on #9983
Ok, I spoke to the developers. This is technically intentional because many users do not expect PowerShell to pass in DateTimeOffset, but clearly the behavior here is not any better. I filed an internal tracking bug (5312306) for this but it needs to be prioritized against other work. We don't have an ETA for this right now. Let me look into our documentation and be sure it expresses the correct b

[2019-09-10 07:00] fbodmer commented on #9650
If this won't be fixed then we'll change to using REST calls. But don't want to change code if this will be fixed.

[2019-09-10 07:40] ricohomewood commented on #9980
zjalexander The feature already exists in Source Control in the portal UI, just requesting the ability to invoke it from the Start-AzAutomationSourceControlSyncJob powershell cmdlet. Is this still considered a feature request in that sense? If so, will also post on User Voice.
Thanks

[2019-09-10 11:15] CC-Mike commented on #9568
Hi,

we have exactly the same issue, with a fresh new install of the az module. No AzureRM module was installed before.

`PS C:\> $mycreds = New-Object System.Management.Automation.PSCredential ("mirichte@CCPlatMgmt.onmicrosoft.com", $secpasswd)
PS C:\> Connect-AzAccount -Credential $mycreds
Connect-AzAccount : Object reference not set to an instance of an object.
At line:1 char:1
+ Connect-AzAcco

[2019-09-10 12:55] jzuchora87 commented on #9983
Thank you @zjalexander! Some updated examples would be really helpful in the meantime.

[2019-09-10 16:16] marcodiasaraujo commented on #8000
I have the same issue... Any solution?

[2019-09-10 17:17] placidseven commented on #1524
This issue is still unresolved.
This is also clearly an issue with the module!

![image](https://user-images.githubusercontent.com/54321928/64635185-b7126e80-d3c4-11e9-92e0-bf2e7025eaa9.png)

If I can find the resource with Get-AzKeyVault then I should be able to find it with Set-AzKeyVaultSecret or Get-AzKeyVaultSecret.
Someone needs to look at this.

[2019-09-10 17:44] dmarlow commented on #1524
I run into strange stuff all the time related to DNS. I think it's deeper than these instances related to KeyVault. I often times get failures resolving the Let's Encrypt endpoint. One thing in common on all occurrences is the fact that it's .NET under the covers.

[2019-09-10 19:32] v-Ajnava commented on #9786
@jeremybeavon and  @AnaghaPirangute we have fixed the issue and its in the release 2.6.0. can you please try with 2.6.0.

https://www.powershellgallery.com/packages/Az/2.6.0

closing the issue, please feel free to reopen if you have any questions.

[2019-09-10 19:32] #9786 closed

[2019-09-10 19:34] v-Ajnava commented on #9558
@wxwr we have fixed the issue and its in the release 2.6.0. can you please try with 2.6.0.
https://www.powershellgallery.com/packages/Az/2.6.0

closing the issue, please feel free to reopen if you have any questions.

[2019-09-10 19:34] #9558 closed

[2019-09-10 23:38] eosho opened #10002 "Unable to pass array of comma separated values to New-AzFirewallNetworkRule"
deleted

[2019-09-10 23:46] #10002 closed

[2019-09-11 01:05] Damien-Displayr opened #10003 "Migrating from AzureRM to Az is causing conflicts in Azure"
I have an issue with a dependency in [`Azure`](https://www.powershellgallery.com/packages/Azure/5.3.0). I have a script, used for deployments. It leverages `AzureRM`, and `Azure` Powershell Modules. We need `Azure` as we are doing Cloud Service deployments.

I am migrating from `AzureRM` to `Az` as instructed here: https://docs.microsoft.com/en-us/powershell/azure/migrate-from-azurerm-to-az?view=a

[2019-09-11 01:24] erich-wang commented on #10003
we're working on it and put into milestone 11-04

[2019-09-11 01:33] Damien-Displayr commented on #10003
Is there a work around? Can I keep `AzureRM` installed alongside `Az` for now?

[2019-09-11 02:49] Damien-Displayr commented on #10003
I get this error if I install both alongside each other:

![image](https://user-images.githubusercontent.com/40968713/64664427-bc140400-d43e-11e9-97b6-1576347af92e.png)

[2019-09-11 08:03] markcowl commented on #7533
@pvrk  This test belongs to you.  If it is not in your plan to fix this test, then we will close this issue.

[2019-09-11 08:07] #9716 closed

[2019-09-11 08:12] markcowl commented on #9560
Closing as this is planned for general resolution in the upcoming Az 4 preview, and there is a mitigation for current cmdlets

[2019-09-11 08:12] #9560 closed

[2019-09-11 08:20] markcowl commented on #9948
@jbroenstrup Got it.  So, I know the packaging is confusing, but this cmdlet Was not part of AzureRM, it was part of the AzureAD cmdlets, which you can see if you look at the documentation here: https://docs.microsoft.com/en-us/powershell/module/azuread/new-azureaduserapproleassignment?view=azureadps-2.0

Unfortunately, I don't think there is a current .Net Core version of these cmdlets, although

[2019-09-11 08:58] markcowl commented on #8459
@panchagnula, is this fixed.  Please close if so, otherwise add to the appropriate milestone.

[2019-09-11 08:58] #9771 closed

[2019-09-11 08:58] #9370 closed

[2019-09-11 09:01] markcowl commented on #9737
### Description
Remove use of non-canonical cmdlet names in psm1 and ps1 scripts shipped with Az

### Cost: 4

[2019-09-11 09:02] #9309 closed

[2019-09-11 11:57] Rycardas opened #10008 "Az.Maps is not included into Az modules pack"
Hello,
Is anyone using Azure Maps?
We recently needed this resource and appears it was not included into Az modules: "Install-Module -Name Az -AllowClobber"

Now , we had to upload this one module separately to our Servers to execute automated scripts by running "Install-Module -Name Az.Maps"

It's not convenient if we do upgrades or migration on the way to not miss this little module .

Is there

[2019-09-11 12:30] erich-wang commented on #9739
@konstantinmds, I'm closing this issue since we have not gotten requested information from you for more than one month, please feel free to file a new issue if needed, thanks.

[2019-09-11 12:30] #9739 closed

[2019-09-11 16:21] cormacpayne commented on #9751
Coming back to this issue, it seems these are the appropriate scenarios:

- If the user doesn't provide a value for `-ApplicationId`, then we generate a random GUID and create an application with that as its application ID, and then assign the service principal to the new application (this is currently _done_)
- If the user does provide a value for `-ApplicationId`,
    - and an application _doesn

[2019-09-11 16:41] matthchr commented on #9938
This should be fixed by #10001

[2019-09-11 16:41] matthchr commented on #9912
This should be fixed by #10001

[2019-09-11 16:41] cormacpayne commented on #9948
It doesn't look like we're generating a cmdlet for this in the preview, but it's unclear to me what the difference is between this `New-AzureADUserAppRoleAssignment` cmdlet and the existing (and generated) `New-AzRoleAssignment` cmdlet. I'll need to do some testing to see what the difference is and if we can close the gap in our preview.

[2019-09-11 17:05] viananth opened #10009 "Az.Accounts 2.0.0-preview module does not use the right authority for ADFS"
## Description

Trying to login with Az.Accounts module into an Azure Stack ADFS env fails with "Error occurred when attempting to acquire the common tenant token". The environment is setup with login endpoint as "https://adfs.local.azurestack.external/adfs" but Connect-AzAccount cmdlet goes to "login.microsoftonline.com" for acquiring access token.

![image](https://user-images.githubusercontent.

[2019-09-11 18:12] koralski commented on #9827
Current RunCommand implementation uses an VMExtension and report the result as returned by the extension (hence InstanceViewStatus). We need to further process and convert the result in more usable object like
{
  "status": "Failed/Successfull/InProgress",
  "stdout": "output goes here",
  "stderr": "error output goes here"
}
We are working on a new version of RunCommand where this will be done. T

[2019-09-11 19:02] ilyalukinykh opened #10011 "New-AzureRmResource fails to create CosmosDb collection with "One of the specified inputs is invalid" error"
## Description

`New-AzureRmResource` cmdlet is not able to create a CosmosDb collection with configured indexing policy, throughput, defaultTtl, and partitioning.

At the same time, `New-CosmosDbCollection` cmdlet (from the https://github.com/PlagueHO/CosmosDB project) creates it properly with the same arguments.

## Steps to reproduce

[code]

### Working solution using `New-CosmosDbCollection`

[2019-09-11 21:11] nicchidu opened #10013 "get-azresource output is inconsistent"
the output of get-azresource with no params is different then when resource group and name params are specified.

For instance resource group attribute in the output is ResourceGroup and ResourceGroupName