[2019-01-30 10:45] valiorik commented on #8432
@markcowl was running Az cmdlets. Had Enable-AzureRmAlias at the begging of the script and it didn't got to the code snippet I have posted.

To double check removed AzureRm modules by running Uninstall-AzureRm and restarting the machine.

PsApiManagementApi object I am getting after importing or creating new API looks like this:

[code]

ApiVersion property can be set, but calling ``` Set-AzureRmA

[2019-01-30 13:54] isaiahwilliams commented on #7430
Hi @despian,

I have not been able to reproduce the error that you are encountering. Would it be possible for you to run the command again, and then share the output from?

[code]

I believe that you are encountering this issue due to a configuration issue with the Azure AD application you used to request the access token.

[2019-01-30 14:20] despian commented on #7430
@isaiahwilliams thanks for taking a look.

<details><summary>Here is the output you requested</summary>

[code]
</details>
<br>
I'm not actually using application access but plain user creds as described here:

[https://docs.microsoft.com/en-us/azure/cloud-solution-provider/overview/azure-csp-management-options#powershell](https://docs.microsoft.com/en-us/azure/cloud-solution-provider/overview/azu

[2019-01-30 14:54] EricBourland opened #8445 "Get-AzureRmContext : Could not load file or assembly 'System.Net.Http, Version=4.1.1.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a' or one of its dependencies. The system cannot find the file specified. with Microsoft.Rest.ClientRuntime.dll"
### Description
I am using a completely fresh install of AzureRM 6.13.1, and there are no other versions of AzureRM installed. Running Get-AzureRmContext in the same working directory as Microsoft.Rest.ClientRuntime.dll still throws this error for me:

Get-AzureRmContext : Could not load file or assembly 'System.Net.Http, Version=4.1.1.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a' or one of

[2019-01-30 15:38] EricBourland commented on #8445
Here's a screenshot of the differently loaded assemblies between a working powershell session and a broken powershell session (top one is working fine):

So the problem seems to be in the different versions of Microsoft.Data or System.Spatial that get loaded. Is there any way to prevent the cmdlet from searching in the current directory for its dependencies?

![image](https://user-images.githubuse

[2019-01-30 17:00] EricBourland commented on #8445
I can fix this issue locally by changing AzureRM.Profile.psd1 line 77 from

`'.\Microsoft.Rest.ClientRuntime.dll'`
to
`"$PSScriptRoot\Microsoft.Rest.ClientRuntime.dll"`

[2019-01-30 17:04] EricBourland commented on #8445
running this line before any other command also seems to fix the problem:

`Add-Type -Path (($m = Get-InstalledModule AzureRM.Profile).InstalledLocation + "\Microsoft.Rest.ClientRuntime.dll")`

[2019-01-30 18:16] maddieclayton commented on #8444
@shmahanta This cmdlet is currently in preview, so it can only be found in the SQL preview module (newest version can be found here: https://www.powershellgallery.com/packages/Az.Sql/1.1.1-preview)

Please install by running ```Install-Module Az.Sql -AllowPrerelease```

[2019-01-30 18:16] #8444 closed

[2019-01-30 18:47] maddieclayton commented on #8432
@solankisamir Can you take a look at this issue?

[2019-01-30 20:56] yeswps opened #8451 "Get-AzStorageServiceProperty attempt to perform write operation"
### Description

Get-AzStorageServiceProperty attempt to perform write operation

### Script/Steps for Reproduction

1. Create a Azure Storage Account
2. Create a read only lock for the storage account
3. Run run following PowerShell

[code]
4. Following error get triggered:
Get-AzStorageServiceProperty : The scope '/subscriptions/<Subscription>/resourceGroups/<ResourceGroup>/providers/Microsoft.S

[2019-01-30 20:59] #8397 closed

[2019-01-30 21:00] yeswps commented on #8451
In Azure Activity Logs, it appears that the command is trying to perform: List Storage Account Keys

Which generates following error:
{ "statusCode": "Conflict", "serviceRequestId": null, "statusMessage": "{\"error\":{\"code\":\"ScopeLocked\",\"message\":\"The scope '/subscriptions/<Subscription>/resourceGroups/<RgName>/providers/Microsoft.Storage/storageAccounts/<StorageAccount>' cannot perform w

[2019-01-30 21:38] maddieclayton commented on #8451
@blueww Can you take a look at this issue?

[2019-01-30 21:56] #8166 closed

[2019-01-30 21:56] maddieclayton commented on #7992
Fixed but needs a test in the regular repo - will close after that is done.

[2019-01-30 22:14] #7341 closed

[2019-01-30 23:26] ankushbindlish2 opened #8455 "PowerShellExtensions Code Error for string formatting"
### Description

While debugging Unit test, I encountered this error.
Source code : c:\code\azure-powershell\tools\ScenarioTest.ResourceManager\PowerShellExtensions.cs
Bug in line : xunitLogger.Information(string.Format("{0}\n", item.ToString()));
Proposal : xunitLogger.Information(item.ToString() + Environment.NewLine);
*****************
============================ HTTP RESPONSE ================

[2019-01-31 18:47] alexandair opened #8458 "Invoke-AzVMRunCommand converts an integer parameter to a string, if a parameter is not explicitly cast as [int]"
### Description

Invoke-AzVMRunCommand converts an integer parameter to a string, if a parameter is not explicitly type cast as [int]. That leads to an unexpected results that differ from the local executions of the script.

### Script/Steps for Reproduction

[code]

### Module Version

[code]

### Environment Data

[code]

### Debug Output

[code]

[2019-01-31 19:34] vladimir-shcherbakov commented on #8455
@ankushbindlish2  What makes you think there is a bug in the line?

[2019-01-31 19:47] ankushbindlish2 commented on #8455
Though, the exception would conveniently absorved but the above message will not be logged.
It is same as string.Format(string.Format("{0}", "{sdfs}"), null);

c:\code\azure-powershell\tools\ScenarioTest.ResourceManager\XunitTracingInterceptor.cs
private void Write(string message, params object[] arguments)
        {
            try
            {
                traceOutputArray.Add(string.Format(

[2019-01-31 19:52] vladimir-shcherbakov commented on #8445
@EricBourland 2 questions
1. [v6.13.1](https://github.com/Azure/azure-powershell/releases/tag/v6.13.1-November2018) - what makes you use this particular version of PowerShell Azure?
2. Could you please provide ```Get-Module -ListAvailable``` output?

[2019-01-31 21:10] markcowl commented on #8455
How can this line have a formatexception?  It has only one element and one parameter.  If you can reproduce this, please place the test of the format exception, including the values that produced the format exception, and we will be happy to fix.  Also, please feel free to submit a PR for this.

[2019-01-31 21:21] ankushbindlish2 commented on #8455
I am not sure why we are eager to close the issue without understanding the problem or even having a conversation with issue creator.

**Call Sequence :**
xunitLogger.Information(string.Format("{0}\n", item.ToString()));  [A]
..
Write(string message, params object[] arguments)
    traceOutputArray.Add(string.Format(message, arguments));  [B]

**Line B will fail** : If item has braces { } in it, st

[2019-02-01 01:48] cloud-owen commented on #8410
@markcowl  Hi, what sort of time frame should we expect a fix in?

[2019-02-01 02:27] panchagnula opened #8459 "webapp: add support to add IPRestrictions rules"
Have the portal equivalent to GET , & SET IPRestrictions

![image](https://user-images.githubusercontent.com/13839372/52099023-3c5bb800-2586-11e9-9076-71009edb972c.png)

[2019-02-01 14:15] despian commented on #7430
@isaiahwilliams just FYI it's now working for me.

I finally got round to increasing the disk size on my Win 10 VM and installing the creators update. After that, it just worked. I thought I had the latest PS related updates but seems maybe not.

[2019-02-01 15:23] yeswps commented on #8451
@blueww

I'm developing script to enable soft delete on all storage accounts for all subscriptions. As such, I cannot know the storage key ahead of time of execution.

To work around the issue, i have to run Get-AzResourceLock for each storage account to check if the storage account already have a read-only lock.

But as the Get-AzStorageServiceProperty command implies, it should be a read only op

[2019-02-01 19:19] markcowl commented on #7876
Fix released 1/31/2019

[2019-02-01 19:19] #7876 closed

[2019-02-01 19:21] markcowl commented on #8407
@asetiMSFT Were you able to get the debugging information?

[2019-02-01 19:22] markcowl commented on #8416
@RoshanKumarMicrosoft Please provide the requested information.  Otherwise we will have to close this issue as 'No Repro'

[2019-02-01 21:51] Shell32-Natsu commented on #2286
Same problem with ARM

[2019-02-01 22:18] maddieclayton commented on #8458
@koralski @savyasachisamal Can you take a look at this issue?

[2019-02-02 00:08] #6791 closed

[2019-02-02 00:44] markcowl opened #8462 "Determine appropriate loading mechanisms for Mono.Posix.NetStandard library (dependency of DataMovement)"
### Description

Mono.Posix.NetStandard is a dependency of the storage data movement library - the assembly has multiple platform-specific runtimes.  We should investigate the best way to include the correct runtimes in the package:

(1) We need to investigate the assembly probing path for native runtime assemblies - we may be able to put the assemblies in the correct relative directory structure

[2019-02-02 00:49] markcowl opened #8463 "Update CI build to run tests for NetCoreApp 2.1 by default"
### Description

This will require
- Updating versions of pwsh installed on each platform
- Updating build.proj and individual task definitions (Ado, Jenkins) to use NetCoreApp2.1 by default

### Cost: 4

[2019-02-02 03:11] blueww commented on #8451
@yeswps
Get-AzStorageServiceProperty can also run with Storage Context create from Account SAS token, or Oauth credential.

For Account SAS token，in Powershell, it also need to generate from Storage Account Key.
[code]

For Oauth credentail, you need to give your Azure login account proper role ("Storage Account Contributor"), and create Oauth storage context with following command:
[code]
I teste

[2019-02-02 03:38] CHDAFNI-MSFT opened #8466 "New-AzVM - Quick Create - Fails for Azure Government"
### Description

VM quick create does not take into account soverign cloud environments

### Script/Steps for Reproduction

[code]

### Module Version

[code]

### Environment Data

[code]

### Debug Output
[code]

[2019-02-02 19:45] theheatDK opened #8467 "How to get a list of all extension for a VM?"
Hi,
How do I get a list of extensions for a VM?
For the Azure CLI I can use "az vm extension list ", but I cannot figure out how to do it via Powershell?
Get-AzureRmVMExtension requires you to know the name of the extension which you cannot know beforehand unless you have set the extension yourself.
Regards Peter

[2019-02-02 23:23] wisconsinsara opened #8468 "How do I import a certificate from one KeyVault to another?"
Is there a way to import a KeyVault certificate from another KeyVault? I prefer to use PowerShell.

[2019-02-04 04:36] oferze commented on #6374
Can this issue be closed now due to #8250 ?

[2019-02-04 06:50] EvgenyAgafonchikov commented on #4513
Added ResourceId parameter to Get-NIC to allow getting it using Id only

[2019-02-04 06:50] #4513 closed

[2019-02-04 14:51] afaruqi commented on #6443
I am also having an issue with Get-AzureRmResource. I am expecting the Get command to return false since the resource doesn't exist and i want to use that check to see weather i want to create the resource or not. Event though I have the ErrorAction set to "Silently Continue", I keep getting the error (Resource not found), and it stops processing, instead of it setting the $resourcevariable and le

[2019-02-04 14:55] afaruqi commented on #3018
I am also having an issue with Get-AzureRmResource. I am expecting the Get command to return false since the resource doesn't exist and i want to use that check to see weather i want to create the resource or not. Event though I have the ErrorAction set to "Silently Continue", I keep getting the error (Resource not found), and it stops processing, instead of it setting the $resourcevariable and le

[2019-02-04 15:03] yeswps commented on #8451
@blueww

Thanks! I've tried your suggestion in Az Powershell as follow, and it works when my login credential is owner of the account.

It's also great that i don't have to specify Resource Group name any more, i never understand why we need to specify resource group for storage account, as storage account name is globally unique!

$AcccountName = 'staccount01'
$ctx= New-AzStorageContext -StorageA

[2019-02-04 15:26] afaruqi commented on #7358
any update on this issue? Last we talked you were going to fix the Connect-AzAccount cmdlet so it takes in the user credentials. Has that been done?

[2019-02-04 15:42] yeswps commented on #8451
@blueww

Thanks!

I've tested with owner role, the following AZ powershell works for retrieving the account properties, even with the read-only lock.

Using SAS token isn't an option as it will still require retrieving of the storage account key.

$AcccountName = 'staccount01'
$ctx= New-AzStorageContext -StorageAccountName $AcccountName -UseConnectedAccount
$property = Get-AzStorageServiceProperty

[2019-02-04 15:42] #8451 closed

[2019-02-04 18:19] #7898 closed

[2019-02-04 18:38] cormacpayne commented on #7358
@afaruqi the `-Credentials` parameter is now supported in the `Az` module for _desktop only_ ([more information here](https://github.com/Azure/azure-powershell/issues/7430#issuecomment-426480499))

[2019-02-04 19:10] #8335 closed

[2019-02-04 20:05] fmicle opened #8473 "Set-AzStorageBlobContent throws error when trying to open file"
### Description

I am migrating our Azure deployment scripts from AzureRM to Az and I ran into a problem with Set-AzStorageBlobContent throwing an error when trying to open the Azure template file. These Azure templates have been working and change very rarely. I tried full file name with backslashes, full name with forward slashes, relative file name without any special characters from the curren

[2019-02-04 21:19] maddieclayton commented on #8266
Fixed, and will be released in upcoming 2/12 release.

[2019-02-04 21:19] #8266 closed

[2019-02-04 22:05] cormacpayne commented on #8240
@yxie97 I'm unable to reproduce this exception with other resource types. Would you mind doing the following:

(1) Uninstall all instances of `AzureRM` on your machine and install the new `Az` module. [More information here](https://docs.microsoft.com/en-us/powershell/azure/new-azureps-module-az).
(2) If you're still seeing this error with the `Az` module, set `$DebugPreference = "Continue"`, re-r

[2019-02-04 22:46] l0010o0001l opened #8474 "Add-AzureRmAutoscaleSetting returns 'BadRequest' despite valid params"
### Description

I have been attempting to create Autoscale settings via AzureRM and have been only getting 'BadRequest' responses despite valid parameter input. If it helps, I get the same behavior using ARM templates. It is not clear what the problem is, or which metric is unsupported. Thank you for looking into this.

### Script/Steps for Reproduction

[code]

### Module Version

[code]

### En

[2019-02-05 02:17] arluca commented on #8052
@hyonholee : Any thoughts on this?

[2019-02-05 03:36] khoi-thinh commented on #6223
I've been using StartAzureV2 graphical runbook to start my VMs, there was nothing wrong with the time it took even though it was not parallel.
The biggest surprise i got was around 50% of my VM was in running status, but got stuck in Unavailable (from Resource Health)
I never seen this behavior before i deployed Runbook (i always start VMs by manually before)

[2019-02-05 04:05] suravarapuVikranth commented on #4706
I am using 6.12.0 version and still i am facing the same issue while deploying VM through ARM template

[2019-02-05 04:57] rahulpnath commented on #7525
@markcowl How do you get to reference [Microsoft.Azure.Commands.Common.Authentication.AzureSession] from a PowerShell script?

[2019-02-05 06:59] saurabhmahajan commented on #4833
![image](https://user-images.githubusercontent.com/3838990/52257631-8acfd480-2941-11e9-9616-a1fa1f1f802d.png)

I too faced this issue.
1. Go to your keyvault -> Access Policies
2 Make sure these check boxes are checked

[2019-02-05 07:02] PrasadSudama commented on #6443
@afaruqi, I was facing issue with older module version 5.1.1 once I upgraded module in VSTS build pipeline to 6.7.0 for azure powershell task, Issue got resolved, may be you can give a try.

[2019-02-05 08:20] steevaavoo opened #8476 "Connect-AzAccount spawns MFA Window Behind on first run"
### Description

On first run of VSCode, running `Connect-AzAccount` from the integrated Terminal, it _appears_ to hang. But in fact the MFA window is appearing behind the VSCode window.

Can something be done to force the MFA window to spawn on top of the VSCode window every time (including after the initial opening of VSCode)?

I have reproduced this both on my Windows 10 Pro PC and Surface Lapt

[2019-02-05 16:38] klagan commented on #6965
Hi, did you ever resolve this?  I am having the same issue

[2019-02-05 17:50] maddieclayton commented on #6374
Looks like it can! Thanks @oferze, closing now.

[2019-02-05 17:50] #6374 closed

[2019-02-05 18:09] maddieclayton commented on #8468
You should be able to backup the certificate using Backup-AzKeyVaultCertificate: https://docs.microsoft.com/en-us/powershell/module/az.keyvault/Backup-AzKeyVaultCertificate?view=azps-1.2.0, then restore the certificate to a different keyvault using Restore-AzKeyVaultCertificate: https://docs.microsoft.com/en-us/powershell/module/az.keyvault/restore-azkeyvaultcertificate?view=azps-1.2.0.  Please le

[2019-02-05 18:09] #8468 closed

[2019-02-05 19:06] markcowl commented on #8474
@l0010o0001l Can you pleae include the request as well from the debug trace - this will help diagnose precisely what is wrong.

[2019-02-05 19:08] markcowl commented on #8476
@steevaavoo There don't seem to be any Az modules in your PSModulePath. can you please include all segments of your path?

You can also use ```Connect-AzAccount -UseDeviceAuthentication``` to avoid popping dialogs at all.

Also, which version of VSCode and the PowerShell plug-in are you using?

[2019-02-05 19:43] l0010o0001l commented on #8474
Thanks for the head's up @markcowl. Here it is.

[code]

[2019-02-05 20:53] krispenner commented on #6965
You must specify the path parameter as per the error message. You can just specify and empty string from my experience.

[2019-02-05 21:18] ssrm commented on #6965
@klagan In my case there is a space has appended to the beginning of path url and same I have removed it.

[2019-02-05 21:30] klagan commented on #6965
I did actually manage to figure out it was the "path" argument before i received these replies and forgot I'd asked the questions.  In my case it was that I was trying to use the same -Path for two different APIs.

Now I know that you must check: you havea path, you dont use it multiple times and check you dont have trailing spaces.

Nice!

It does frustrate me - as I am sure it does everyone else

[2019-02-05 23:09] maddieclayton commented on #8384
Closing in favor of https://github.com/Azure/azure-powershell/issues/8007

[2019-02-05 23:09] #8384 closed

[2019-02-05 23:11] #3029 closed

[2019-02-05 23:31] vladimir-shcherbakov commented on #8445
@EricBourland  ping on the comment above.

[2019-02-06 00:01] maddieclayton commented on #5449
Done

[2019-02-06 00:01] #5449 closed

[2019-02-06 00:06] maddieclayton commented on #8007
Closing in favor of https://github.com/Azure/azure-powershell/issues/6108

[2019-02-06 00:06] #8007 closed

[2019-02-06 01:13] piroinno opened #8484 "Set-AzureRmSqlDatabaseGeoBackupPolicy returns an error"
Have not been able to use this function to configure geobackups for my Azure sql datawarehouse.
![image](https://user-images.githubusercontent.com/27731545/52204947-7cb08400-286d-11e9-8304-23bf188352b8.png)

Funny enough the Get function (Get-AzureRmSqlDatabaseGeoBackupPolicy) works.

[2019-02-06 03:43] patrickhowerter commented on #6223
I am having the same issue and it seems to have started when I upgrade to Ubuntu 18. People need to use this for automation tasks. I can't believe no one from Microsoft has been working on this.

[2019-02-06 03:52] maddieclayton commented on #8484
@jaredmoo Can you take a look at this issue and add the correct dev to help debug?

@piroinno Can you add the output of running "Resolve-Error" after this cmdlet was run, as well as the output of the cmdlet after setting ```$DebugPreference="Continue"```

[2019-02-06 08:56] steevaavoo commented on #8476
@markcowl Thanks for the reply! `-UseDeviceAuthentication` is handy, thanks for that.

I'm using VSCode version 1.30.2, PowerShell plug-in version 1.11.0

PSModulePath as follows: `C:\Users\steve\Documents\WindowsPowerShell\Modules;C:\Program Files\WindowsPowerShell\Modules;C:\WINDOWS\system32\WindowsPowerShell\v1.0\Modules;C:\Users\steve\.vscode\extensions\ms-vscode.powershell-1.11.0\modules`

[2019-02-06 09:13] adamrushuk commented on #8476
@markcowl the `-UseDeviceAuthentication` method is useful, but out of interest, is there a way to **force** the standard pop-up login window to the foreground, as I've had that issue too?

[2019-02-06 12:23] COPM42 opened #8486 "Get-AzAutomationCredential can't read the password by calling GetNetworkCredential().Password"
### Description

### Script/Steps for Reproduction

The following script should get the password from an Automation Account but returns an error
**Method invocation failed because [Microsoft.Azure.Commands.Automation.Model.CredentialInfo] does not contain a method named 'GetNetworkCredential'.**

Note: Get-AzureRmAutomationCredential is working without any issues.

[code]

### Module Version

[cod

[2019-02-06 14:39] tickermcse76 opened #8487 "Get-AzResource with Name, TagName and TagValue returns $null properties of Compute VM resource"
### Description

When using Get-AzResource TagName and TagValue parameters, the "properties" property returns $null for ResourceType Microsoft.Compute/VirtualMachines when data exists.  Querying with ResourceId does return the correct data in the "properties" property.  Get-AzResource Name also returns $NULL.  I am not sure if this is a bug or expected behavior.  My use case is to get data based o

[2019-02-06 16:48] Christoba commented on #8402
Any updates on this? We've upgrade these specific calls to AzureRm 6, but it would be good to know if AzureRm 5 was indeed broken by this change and won't be supported moving forward.

[2019-02-06 18:51] Chiodood commented on #7873
Get-AzDiagnosticSetting  returns
WARNING: 12:37:37 PM - *** The namespace for all the model classes will change from Microsoft.Azure.Management.Monitor.Management.Models to Microsoft.Azure.Management.Monitor.Models in future releases.
WARNING: 12:37:37 PM - *** The namespace for output classes will be uniform for all classes in future releases to make it independent of modifications in the model c

[2019-02-06 19:42] ankushbindlish2 opened #8491 "Travis CI run throws a concurrent access exception for HashSets HashSet<ProductInfoHeaderValue>"
### Description
[Travis Build CI](https://travis-ci.org/Azure/azure-powershell/builds/489214866?utm_source=github_status&utm_medium=notification)

This is an intentional new exception that is being thrown by the Dictionary in newer .NET Core (issue #28123, PR [dotnet/coreclr#16991](https://github.com/dotnet/coreclr/pull/16991)) which indicates the dictionary is being incorrectly modified concurren

[2019-02-06 20:44] markcowl commented on #8491
Can you try adding this attribute to the AssemblyInfo.cs for your test assembly:

[code]

This is set for nearly all the test assemblies in the repo.

On the above, HashSet is an inappropriate type for unique collections - generally a ConcurrentCollection liek ConcurrentDIctionary would be a better choice for this (as is used in the production ClientFactory).

We should fix that regardless - in ge

[2019-02-06 21:02] markcowl commented on #8487
This is by design, it has to do with how the ARM API works - listing resources generically returns only the ARM-tracked values of the resource (Name, Sku, Tags, etc.) and none of the Provider-specific data that is specific to the resource provider (in this case, compute).

Note that if you use Get to Get an individual resource, and provide the Resource-Type, then the resource-specific properties a

[2019-02-06 22:59] bganapa commented on #8235
Reopening, It is AZURESTACK specific version. I will see what we could do here in the next release

[2019-02-06 23:21] maddieclayton commented on #8422
- Start with New-AzVm scenario

[2019-02-06 23:45] ankushbindlish2 commented on #8491
Thanks for acknowledging the issue. Will use this workaround for now.

[2019-02-06 23:56] maddieclayton commented on #5325
- cmdlet that tell the difference between two version
- run this cmdlet on first run after version update

[2019-02-06 23:58] alexandair commented on #7977
@cormacpayne @markcowl
I would really appreciate if someone could fix this annoying error.

[2019-02-07 00:04] maddieclayton commented on #6513
Closing - we might revisit in the future after generated cmdlets are in place.

[2019-02-07 00:04] #6513 closed

[2019-02-07 00:12] #5657 closed

[2019-02-07 00:18] lwajswaj commented on #8467
That's currently explained in [this document](https://docs.microsoft.com/en-us/azure/virtual-machines/extensions/features-windows#discover-vm-extensions), however it's not updated for AZ Module. The right cmdlet is:

[code]

this should get you what you want

[2019-02-07 00:19] maddieclayton commented on #5694
@maddieclayton Talk to compute

[2019-02-07 00:36] maddieclayton commented on #8363
All cmdlet that return multiple objects should use table format.

[2019-02-07 02:03] abatishchev commented on #5324
@itsramz: I'd recommend to create separate issue. I was receiving the same error and was able to overcome it.

@sepharg you've made my day!

@maddieclayton any news on addressing the overall issue by any chance?

[2019-02-07 02:46] asetiMSFT commented on #8407
Hi Mark, I was out for few days due to snow and outage. It took me quite a while trying to ensure there's no sensitive info from the debugging information. Hopefully I didn't remove too much. Note that the names and some values are not real names but they should be consistent/doesn't change the context (hopefully). Let me know if I'm missing anything.

`PS C:\WINDOWS\system32>
 $DebugPreference='C

[2019-02-07 05:14] theheatDK commented on #8467
Thanks @lwajswaj,
This will list the available extensions. What I want it the extensions installed on a specific VM.
Regards peter

[2019-02-07 09:17] amcgregor1 opened #8494 "Set-AzureKeyVaultSecret -tag doesn't accept numbers in tags"
### Description

Unable to use a date stamp for tagging KeyVault Secrets.
Important: I am running this against AzureStack so need to use the specific modules listed below

### Script/Steps for Reproduction

[code]

### Module Version

[code]

### Environment Data

[code]

### Debug Output

[code]

[2019-02-07 13:48] tickermcse76 commented on #8487
@markcowl - Thanks for the response and explanation.  I am basically calling Get-AzResource twice as you suggested (and what I had hoped to avoid for efficiency).  I am no API architect, just a consumer.  But any object with a unique identifier (resourceId/Id) should return the same data no matter how it's called.  If the compute resources are stored separately there should be a compute specific u

[2019-02-07 13:48] #8487 closed

[2019-02-07 15:25] divesh987 opened #8497 "Suspend-AzureRmDataFactoryPipeline Resource Not Found"
suspend-AzureRmDataFactoryPipeline : HTTP Status Code: NotFound
Error Code: ResourceNotFound

on running Suspend-AzureRmDataFactoryPipeline https://docs.microsoft.com/en-us/powershell/module/azurerm.datafactories/suspend-azurermdatafactorypipeline?view=azurermps-6.13.0

Is this commandlet deprecated for Data Factory V2, if so what is the equivalent?

[2019-02-07 16:45] ebrucucen opened #8498 "WARNING: Module 'Az.xxx' is not a valid Az module."
Inconsistent Az Module installation process.

### Description
When I uninstall/install Az modules, not all directories have read permissions, thus some modules do not work on a Linux VM. If during uninstallation/installation process, there were modules being used, I would expect them to be reported at that point, not after installation.

### Script/Steps for Reproduction

Jenkins agent started get

[2019-02-07 17:14] bcunningham-relativity commented on #8248
I can confirm this issue also exists with the Az version of this workflow.

[2019-02-07 18:28] markcowl commented on #8498
Can you please file this issue against the PowerShell tesm, which owns the cmdlet that installs modules from the gallery:  https://github.com/powershell/powershell

Unless this is somehow specific to Az and not other modules, but sounds like this applies to any module you install form the gallery.

[2019-02-07 19:34] venpun commented on #1665
the command worked for me Login-AzureRmAccount -TenantId $tenantId
Previously it use to work with just  Login-AzureRmAccount  and login with the any orgID (I have 2 org ids), however got this below error since a day and was fixed when login to specific tenantid

WARNING: Unable to acquire token for tenant....

[2019-02-07 20:19] alexandair commented on #8363
@maddieclayton I don't think that's the issue here. I don't expect that output to be a table.
I've never seen that a subproperty is presented as an indented line.

[2019-02-07 23:32] #8474 closed

[2019-02-08 00:33] lwajswaj commented on #8467
That would be "Get-AzVMExtension" cmdlet

[2019-02-08 10:34] theheatDK commented on #8467
Thanks @lwajswaj,
But it is not possible using the Get-AzVMExtension cmdlet since it requires the name of the extension. Often you will not know the name since somebody else has installed it.
az VM extension list allows you to get all installed extensions for a VM. I am looking for a way to accomplish this with the Az Powershell modules.

[2019-02-08 17:50] schnabel45 opened #8501 "Get-AzureRmDataFactoryV2IntegrationRuntime Json Serialization Error"
### Description

Running Get-AzureRmDataFactoryV2IntegrationRuntime returns a JSON serialization error.

Note, this could be related to #6685

### Script/Steps for Reproduction

[code]

### Module Version

[code]

### Environment Data

[code]

### Debug Output

Note: I snipped everything prior to the Get-AzureRmDataFactoryV2IntegrationRuntime command. Also tried to replace all identifying informat

[2019-02-08 18:35] ankushbindlish2 opened #8502 "Travis CI failed in copy TestResults trx file"
### Description
PR : https://github.com/Azure/azure-powershell/pull/8465

Jenkins passed. Travis failed with Travis : https://travis-ci.org/Azure/azure-powershell/builds/490342463?utm_source=github_status&utm_medium=notification

/home/travis/build/Azure/azure-powershell/build.proj(405,5): error MSB3030: Could not copy the file "/home/travis/build/Azure/azure-powershell/src/**/TestResults/*.trx" b

[2019-02-08 20:21] cormacpayne commented on #8314
@Tiano2017 Hey Tian, I sent you an email about if it's possible to query the taggable resources in ARM. Let me know if you have any update.

[2019-02-08 20:21] g0pinath commented on #2076
still not fixed!

[2019-02-09 19:09] maddieclayton commented on #8486
@vrdmr Can you take a look at this issue?

[2019-02-09 19:14] maddieclayton commented on #8494
@RandalliLama @schaabs Is it accurate that KeyVault tags do not accept numbers? This doc: https://docs.microsoft.com/en-us/azure/azure-resource-manager/resource-group-using-tags seems to indicate that this formatting would be acceptable.

[2019-02-09 19:16] maddieclayton commented on #8497
@divesh987 Please give us a little more information so that we can solve your issue:

Please run ```$DebugPreference = "Continue"``` and record the output after running the above cmdlet.
Please run ```Resolve-Error``` after running the above cmdlet and record the output.

[2019-02-09 19:17] #8498 closed

[2019-02-09 19:19] Kundan9 commented on #3945
Above registry key are fixed the issue, but still my extension is showing failed on portal. But when i am checking internally it is showing the C drive encryption is in progress., Basically i am facing this issue on my all file server cluster VMs only. Is anybody has idea about this issue?

[2019-02-09 19:21] maddieclayton commented on #8501
@hvermis Can you take a look at this issue?

@schnabel45 Can you try this with our new Az module and make sure that this is still an issue: https://www.powershellgallery.com/packages/Az/1.2.1

[2019-02-09 19:22] maddieclayton commented on #8240
@yxie97 Ping

[2019-02-09 19:24] maddieclayton commented on #8407
@vaishnavk @juhacket Can you take a look at this issue?

[2019-02-09 19:25] maddieclayton commented on #8416
Closing for inactivity. Please reopen when you are able to provide the requested information.

[2019-02-09 19:25] maddieclayton commented on #8434
Closing for inactivity.  Please reopen when you are able to provide the requested information.

[2019-02-09 19:25] #8434 closed

[2019-02-09 19:26] maddieclayton commented on #8445
Closing for lack of response.  Please reopen when are you able to provide the information requested above.

[2019-02-09 19:26] #8445 closed

[2019-02-09 19:33] kaevans commented on #3945
The portal shows an error for the template deployment.  Fixing the registry entries in the VM does not fix the deployment failure. If you re-deploy in incremental mode it should succeed. To automate setting the registry entries during deployment, See the following example that uses PowerShell DSC to set the needed registry entries. Setting the registry entries needs to complete before your templat

[2019-02-09 21:08] divesh987 commented on #8497
Hi, resolved through Azure support ticket...seems this cmdlet was deprecated in version 2 and alternative is to use Remove-AzureRmDataFactoryV2Pipeline cmdlet for Data Factory V2

[2019-02-09 21:08] #8497 closed

[2019-02-09 21:50] amcgregor1 commented on #8494
Yes it should,  but have a look at the powershell and you can see that it doesn't

Mobile, please excuse autocorrect and typos...

________________________________
From: Maddie Clayton <notifications@github.com>
Sent: Sunday, February 10, 2019 6:15:15 AM
To: Azure/azure-powershell
Cc: McGregor, Andrew; Author
Subject: Re: [Azure/azure-powershell] Set-AzureKeyVaultSecret -tag doesn't accept numbers

[2019-02-11 01:10] vladimir-shcherbakov opened #8507 "[Static Analysis] Misleading description in the BreakingChangeIssues.csv file."
### Description

The description in the [BreakingChangeIssues.csv](https://azuresdkci.westus2.cloudapp.azure.com/view/PowerShell/job/powershell/10672/artifact/artifacts/BreakingChangeIssues.csv/*view*/) file claims:

But in fact, the ['StorageAccountSubscriptionIdSet'](https://github.com/Azure/azure-powershell/pull/8489/files#diff-fd4316eef4e061fcd4989d162bced838L25) parameter set was not removed.

[2019-02-11 08:09] HQJaTu commented on #1817
I'm experiencing exactly the same.

The worst part is, that given timings, this can fail or succeed. I'm trying to add enough dependencies to disable any parallelism, but the security rules are truly the headache here.

[2019-02-11 08:24] blueww commented on #8473
@fmicle
I can't repro the issue with the same module version, and same file path on my machine. (See following result on my machine).
I am not sure if it's related with the dotnet version on your machine. Would you please run command "dotnet --version" and show the result (my machine have version 2.2.103). And I will try to repro the issue on same dotnet version with you.
And could you try to upgr

[2019-02-11 11:43] evgeniylu opened #8509 "Connect-AzAccount hang powershell ISE after a few minutes"
### Description

After Connect-AzAccount through ~3 minutes I get powershell ISE window hang. I have to kill the process to continue to use it. In ProcessExplorer I see near 25+ lines that powershell_ise.exe hold dll in Az.Account folder.

### Script/Steps for Reproduction

[code]
Wait ~3 minutes

### Module Version

[code]

### Environment Data

[code]

### Debug Output

[code]

[2019-02-11 12:32] praharshp commented on #8240
Hi @maddieclayton , I am also facing same issue with Set-AzureRmResource command. Few of my scripts were working fine since last year and now since January they have started reporting error.

`
$ApiVersion = "2016-08-01"
$WebAppResourceType = 'Microsoft.Web/sites/config'
$WebAppPropertiesObject = @{
    "virtualApplications" = @(
        @{
            "virtualPath" = "/";
            "physicalPat

[2019-02-11 13:45] HQJaTu commented on #6974
Thanks for this!
Doing:

    $validTo = [datetime]::Parse($pfx.GetExpirationDateString())
    # Magic fix:
    $validTo = $validTo.AddDays(-1);

does make `New-AzureADApplicationKeyCredential` work.

[2019-02-11 17:05] bganapa commented on #7199
The fix is part of AzureRM.Profile 5.8.3

[2019-02-11 17:05] #7199 closed

[2019-02-11 17:37] maddieclayton commented on #8240
@praharshp Can you provide the information that Cormac requested above?

"
I'm unable to reproduce this exception with other resource types. Would you mind doing the following:

(1) Uninstall all instances of `AzureRM` on your machine and install the new `Az` module. [More information here](https://docs.microsoft.com/en-us/powershell/azure/new-azureps-module-az).
(2) If you're still seeing this er

[2019-02-11 19:06] cormacpayne commented on #8507
@vladimir-shcherbakov because of all the variables that go into defining a parameter set (parameters, ordering, mandatory vs. optional, etc.), it is difficult to come up with a message that accurately depicts the changes of a parameter set in all cases. The message says the set has been removed, which isn't true in the sense that there still exists a parameter set called `StorageAccountSubscriptio

[2019-02-11 19:06] #8507 closed

[2019-02-11 20:28] MoimHossain opened #8513 "Latest docker image "azuresdk/azure-powershell-core" doesn't work as expected"
### Description

I am using the Docker image "azuresdk/azure-powershell-core:latest".

### Script/Steps for Reproduction

I ran the following command:

[code]

I have the __test.ps1__ file with the following content:

[code]

### Module Version

[code]

### Environment Data

[code]

### Debug Output

I get the following error:

[code]

Any ideas?

[2019-02-11 21:01] markcowl commented on #8509
The above looks like the cmdlet returned - what are the characteristics of this 'hang' does it happen after successful login, or was the login above unsuccessful? Nan you log in wit the -UseDeviceCode switch more successfully?

[2019-02-11 21:03] markcowl commented on #8513
Te docker images were never offically supported and ar enon longer being maintained - you can download the moduel to any platform using ```Install-Module Az```.

BTW - we are trying to decide whether creating docker images as part of official builds would be useful to customers - would you consume a docker image in preference to cloudshell / local insallation?  If so, why do you prefer the docker

[2019-02-11 22:08] markcowl commented on #8502
@maddieclayton @ankushbindlish2 This is most likely related to using the ''\' character in paths in build.proj - just pulled the latest into your branch, but it looks like you inadvertently added some backslashes to the copy paths in your last few commits.

[2019-02-11 22:10] chrisrertel opened #8515 "Get-AzLogicApp returns a max of 30 Logic Apps"
### Description

With resource groups that have more than 30 logic apps, Get-AzLogicApp only returns 30 logic apps.  I believe this has something to do with the fact that the Azure API returns Logic Apps in a paginated format (See "nextLink" value at the bottom of HTTP Response).

### Script/Steps for Reproduction

1. Create a Resource Group that contains more than 30 logic apps.
2. Run ```Get-AzL

[2019-02-11 22:26] maddieclayton commented on #8515
@refortie Is this among the fixes you are currently working on? I remember that being the case but wanted to confirm.

[2019-02-11 22:28] refortie commented on #8515
@maddieclayton That is correct. There is an underlying issue with how it interacts with our test regions that I am tracking down, otherwise I've got the fix almost ready to go

[2019-02-11 22:35] praharshp commented on #8240
@maddieclayton thanks for replying. Unfortunately I cannot try that. The servers where the issue is observed are customer production environments and many other scripts are running on them without any issues.

Can you suggest similar steps to capture debugging logs on AzureRm that might help in your investigation.

[2019-02-11 23:54] vladimir-shcherbakov opened #8516 "Document data on the Azure Powershell base classes."
### Description

1. Create a document that describes the Azure PowerShell base classes for inheritance  and basic use cases to implement an Azure Powershell cmdlet;
2. Implement a base class for "offline cmdlets";

[2019-02-12 01:07] ankushbindlish2 commented on #8502
I reverted all the changes that were tried on build.proj. Please suggest next step.

[2019-02-12 01:45] Jimmyf1 commented on #6624
I believe this is a repro of the issue.

RequestId      : edcd6d1e-f49e-420a-8d1a-e42b0b0634a1
Message        : The client 'live.com#xyz@hotmail.com' with object id 'a7b1e92f-b88b-4458-ab98-f5db50a43ffa'
                 does not have authorization to perform action 'Microsoft.Authorization/roleAssignments/read' over
                 scope '/providers/Microsoft.Authorization'.
ServerMessage  : Aut

[2019-02-12 02:43] rohinkoul commented on #2024
@rajaprad this looks like a very old issue. Traffic Manager is available in China.

[2019-02-12 02:43] #2024 closed

[2019-02-12 03:09] mattfrear commented on #8367
I've fixed my problem, thanks to a stranger on the internet who reached out to me via email (thanks Paul!)

The fix is that my policy's name needs to end with `/policy`.

So I changed
[code]
to
[code]
and it works. Days wasted.

[2019-02-12 03:09] #8367 closed

[2019-02-12 04:06] hvermis commented on #8501
This looks like dll version incompatibility issue.

[2019-02-12 05:17] chrisrertel commented on #8515
That's great news! Is there an estimate on when those fixes will be pushed out, either date or version number?

[2019-02-12 06:09] MoimHossain commented on #8513
@markcowl thanks for the info. I will go with the ``` Install-Module Az ```.

Can't speak for others, but the scenario I am in, writing some __terraform__ modules in many repositories for an enterprise. Kind of creating a baseline set of blessed modules - that are compliant with the organization policies and security needs. In these modules, I wanted to do some kind of unit tests and sanity checks

[2019-02-12 07:30] evgeniylu commented on #8509
Login is successful, I can execute some other commands from Az module after the login. They could be different each time, but still the ISE is hanging after ~3 min. By hang I mean you get 'select' cursor on whole window of ISE, you can switch to it with Alt+Tab, you cannot click on button, move the window, select anything on it.
I tested how long the ISE could be hung - after ~5 hours it still was

[2019-02-12 14:07] schnabel45 commented on #8501
I uninstalled all AzureRM and AZ modules from my machine, then installed from the PowerShell gallery and it seems to be working now. Seems my install was causing the issue. Sorry for wasting your time.

[2019-02-12 14:07] #8501 closed

[2019-02-12 14:42] amandadebler opened #8518 "Get-AzAks without parameters should get all AKS clusters in subscription"
Get-AzAks with no parameters does not work; to be consistent with how other MSFT PowerShell modules work (Skype for Business, Exchange), it should return AzAks objects representing all of the clusters in the currently-set subscription. Get-AzAks --Subscription ($subscriptionid | $subscriptionname) should return all of the clusters in the selected subscription. This would make many operations from

[2019-02-12 14:56] amandadebler opened #8519 "Update-AzAks for Kubernetes version updates"
A cmdlet for updating (upgrading) an existing AKS cluster to a given Azure-available release of Kubernetes.

Why Update instead of Upgrade? PowerShell approved verbs list: https://docs.microsoft.com/en-us/powershell/developer/cmdlet/approved-verbs-for-windows-powershell-commands#data-verbs

Why not add it as a parameter to Set-AzAks? Less complicated to have separate cmdlets for separate operation

[2019-02-12 15:35] slavizh commented on #7430
As I haven't logged separate issue I would like to provide some update on this error:

[code]

Seems Az and Partner Center modules are having co-existence issue caused by assembly 'Newtonsoft.Json. I have addressed the issue to see if this is a bug in Az or PartnerCenter module. There is also this topic that seems related:
https://github.com/PowerShell/PowerShell/issues/2083

Apologies that I am p

[2019-02-12 16:52] amandadebler commented on #8518
Get-AzAks should basically do this:

Get-AzResource -ResourceType Microsoft.ContainerService/ManagedClusters | foreach { Get-AzAks -Id $_.id }

[2019-02-12 16:55] #8518 closed

[2019-02-12 16:55] amandadebler commented on #8518
Get-AzAks alone does work, but Get-AzAks -Subscription $SubscriptionId would be nice.

[2019-02-12 20:33] maddieclayton commented on #8519
@mboersma Can you take a look at this feature request?

[2019-02-12 20:43] #6974 closed

[2019-02-12 21:03] #8309 closed

[2019-02-12 21:04] #8157 closed

[2019-02-12 22:22] goudys opened #8524 "Method invocation failed 'DownloadBlockList'"
Observing below error while executing the script.
<<
Exception calling "Invoke" with "1" argument(s): "Method invocation failed because [Microsoft.WindowsAzure.Storage.Blob.CloudBlockBlob] does not contain a method named 'DownloadBlockList'."At /home/gowdilyan/clouddrive/code2.ps1:55 char:20+             return $Action.Invoke($requestOption)
+                    ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

[2019-02-12 22:38] maddieclayton commented on #8524
@goudys The information given above does not give us enough information to look into your issue.  Please fill out the issue template:

### Description

### Script/Steps for Reproduction

[code]

### Module Version

[code]

### Environment Data

[code]

### Debug Output

[code]

[2019-02-12 22:40] maddieclayton commented on #8484
@piroinno Ping on the request above

[2019-02-12 22:43] goudys commented on #8524
I'm executing the script from Azure cloudshell and the output of above commands are

PS /home/gowdilyan> Get-Module -ListAvailable

    Directory: /usr/local/share/powershell/Modules

ModuleType Version    Name                                PSEdition ExportedCommands
---------- -------    ----                                --------- ----------------
Script     1.2.0      Az.Accounts

[2019-02-12 23:09] cormacpayne commented on #4627
Generated cmdlets will take care of this issue.

[2019-02-12 23:09] #4627 closed

[2019-02-12 23:19] cormacpayne commented on #7672
Check out resource group deployment for sub-resources in ARM tests.

[2019-02-12 23:20] cormacpayne commented on #7649
@sphibbs Would you mind taking a look?

[2019-02-12 23:32] maddieclayton commented on #8524
@goudys Can you give us a little more information about the script you are running? Please let us know what the commands you ran to see this error were.  Additionally, please run ```$DebugPreference = "Continue"``` before you run the script and paste the output.  Also, please run ```Resolve-Error``` after you hit the error and paste the output here.

[2019-02-12 23:38] cormacpayne commented on #8516
@MiYanni to clarify, the issue is that if a cmdlet inherits from `AzurePSCmdlet` (or `AzureRMCmdlet`, as most do), they are given a `-DefaultProfile` parameter, which allows users to provide a different context to run the cmdlet in. If the cmdlet should work offline (_e.g.,_ the cmdlet just creates an in-memory object), then ideally it wouldn't have this parameter, but since it more than likely in

[2019-02-12 23:40] goudys commented on #8524
Attaching the output

PS /home/gowdilyan/clouddrive> $DebugPreference = "Continue"
PS /home/gowdilyan/clouddrive> ./code2.ps1 -ResourceGroup xxxxxxxxxxx -StorageAccountName xxxxxxxxxxx -ContainerName xxxxxxxxxxx
DEBUG: 11:36:13 PM - GetAzureStorageAccountCommand begin processing with ParameterSet 'AccountNameParameterSet'.
DEBUG: 11:36:13 PM - using account id 'xxxxxxxxxxx'...
DEBUG: [Common.Authe

[2019-02-13 02:32] darshanhs90 commented on #6624
@Jimmyf1 When the get request gets made it gets appended with /providers/Microsoft.Authorization.
Since the requests is made at scope "/" the request will be like Get roleassignments at "//providers/Microsoft.Authorization" which inherently will be "/providers/Microsoft.Authorization".
Since you donot have the read permission at "/" scope, you are getting this error.
Which is by design.

[2019-02-13 02:32] #6624 closed

[2019-02-13 04:26] dcbrown16 commented on #5941
A use case for this command would be to use Azure Automation to schedule periodic downloading of the logs, which can't be done with the extant CLI command.

[2019-02-13 05:50] lukeb1961 opened #8526 "New-AzAKS - New-Azaks : The value of parameter orchestratorProfile.OrchestratorVersion is invalid."
first attempt to use New-AKS. As per HELP examples. Using latest AZ module
PS > (get-module -name AZ).Version
Major  Minor  Build  Revision
-----  -----  -----  --------
1      3      0      -1
PS> (get-module -name AZ.aks).Version
Major  Minor  Build  Revision
-----  -----  -----  --------
1      0      1      -1

DEBUG: 16:33:23 - NewAzureRmAks begin processing with ParameterSet 'defaultParamete

[2019-02-13 07:02] HQJaTu commented on #6974
This seems to be a time zone issue. My new code is:

    $validTo = [datetime]::Parse($pfx.GetExpirationDateString())
    $validTo = [System.TimeZoneInfo]::ConvertTimeBySystemTimeZoneId($validTo, [System.TimeZoneInfo]::Local.Id, 'GMT Standard Time')

Going for GMT makes validity work as certificate information states. My Windows is running GMT+2 making certificate validity two hours off.

[2019-02-13 07:43] jimmyfit commented on #6624
@darshanhs90 The user affected is assigned Owner role at root MG scope

[2019-02-13 07:44] Jimmyf1 commented on #6624
@darshanhs90 the affected user has Owner role assigned at root MG scope

[2019-02-13 09:19] Walluce opened #8528 "Powershell Commandlet to Generate Password for for APIM git Repo"
I would like a Powershell commandlet to generate Passwords for the git repository, please.

The last post I can find on StackOverflow (https://stackoverflow.com/questions/44843558/generating-passwords-for-the-azure-api-management-git-repository) seems to imply that it is in progress, but I see nothing on the documentation page?

I asked about this question in: https://www.yammer.com/azureadvisors/

[2019-02-13 13:30] PowerUnreached opened #8530 "Missing parameter in powershell CMDlet"
i was trying to create a azure automation software update configuration via Powershell. I used the cmdlet „New-AzureRmAutomationSoftwareUpdateConfiguration“.

Here is the link to the used article: https://docs.microsoft.com/en-us/powershell/module/azurerm.automation/new-azurermautomationsoftwareupdateconfiguration?view=azurermps-6.13.0
But there is a problem, one important paramenter seems to be m

[2019-02-13 13:31] isaiahwilliams commented on #7430
Hi @slavizh,

Thank you for sharing that link to the active issue with PowerShell. The next release of the Partner Center PowerShell module will resolve this issue. We are making the version of Newtonsoft.Json match what the Az module is using. Long term we are investigating alternative plans to avoid any potential issues caused by dependency versions not matching.

[2019-02-13 15:46] yeswps opened #8531 "Set-AzStorageBlobContent : Failed to open file C:\Users\Client\Temp\Sample.csv: Illegal characters in path.."
Set-AzStorageBlobContent : Failed to open file C:\Users\Client\Temp\Sample.csv: Illegal characters in path..

Unable to use Set-AzStorageBlobContent to upload file to Azure Blob Storage, complaining: Illegal characters in path..

This issue is reproduced in Automation Account, where both AzureRM and Az modules are installed. (I have not figured out how to remove AzureRM modules from Automation acc

[2019-02-13 16:15] TomaszOledzki commented on #8240
Same issue here. Checked on few PCs. Including a fresh installation of Windows 10 and PowerShellModules.

Just a few commands (as described on Set-AzureRmResource docs: https://docs.microsoft.com/en-us/powershell/module/azurerm.resources/set-azurermresource?view=azurermps-6.13.0)
[code]

Throws:
[code]

[code]

[code]

[2019-02-13 18:20] fmicle commented on #8473
I just tried again today, I removed the AzureRM modules, installed Az modules, ran Enable-AzureRmAlias and I am seeing the same problem:

Set-AzureStorageBlobContent : Failed to open file C:\dev\pq\service\scripts\azure\NestedTemplates\ApplicationInsights.json: Illegal characters in path..
At C:\dev\popquality\service\scripts\pq-deployment.psm1:838 char:14
+             $output = Set-AzureStorageB

[2019-02-13 18:28] maddieclayton commented on #8526
@mboersma Can you take a look at this issue?

[2019-02-13 18:30] maddieclayton commented on #8528
@solankisamir Can you take a look at this issue?

[2019-02-13 18:30] maddieclayton commented on #8530
@vrdmr Can you take a look at this issue?

[2019-02-13 18:31] grlin commented on #6974
Hi! thanks for the update, I'll pass that info on to others seeing the same issue.

[2019-02-13 18:36] maddieclayton commented on #8240
@TomaszOledzki Would you be able to provide the information requested from the original poster?
_(1) Uninstall all instances of `AzureRM` on your machine and install the new `Az` module. [More information here](https://docs.microsoft.com/en-us/powershell/azure/new-azureps-module-az).
(2) If you're still seeing this error with the `Az` module, set `$DebugPreference = "Continue"`, re-run the command

[2019-02-13 18:58] solankisamir commented on #8528
#ack

[2019-02-13 19:04] fmicle commented on #8473
I created a very simple test case scenario, outside of our bigger script suite and can very easily recreate the problem. I put a file called test.json in c:\, it contains an empty json object, just the curly braces, as you can see in the output below. I am using the AzureRM Alias scenario:

    PS C:\> type test.json
    {}
    PS C:\> type C:\test.json
    {}
    PS C:\> Enable-AzureRmAlias
    P

[2019-02-13 19:24] a-santamaria commented on #8407
@asetiMSFT thanks for reporting. I'll file a bug to fix this scenario, in the cmdlet logic we are assuming all resources are under the same resource group. As you pointed out this can be mitigated via ARM template deployment, was the customer unblocked doing this?

[2019-02-13 19:36] asetiMSFT commented on #8407
Hi Alfredo, thanks for the follow up. The customer said they were unblocked by doing ARM template deployment but they mentioned they preferred to do it via cmdlet previously but since they have no choice, they had to do it anyway. I'll follow up with customer again and let him know about the progress so far. Thanks for your help! Please expect delays in my responses for the next days/week since my

[2019-02-14 00:35] lwajswaj commented on #8412
I don't see in the SDK methods for managing group ownership.....

[2019-02-14 00:59] lwajswaj commented on #8163
This is definitely a bug or something not right; I've just tested on my side with AzureRM and it works fine with this permissions:

![image](https://user-images.githubusercontent.com/6439324/52754792-8909af00-2fda-11e9-95fc-ccfec6b27b45.png)

that's all you need to make it work. I'll take a look at the code

[2019-02-14 01:01] lwajswaj commented on #8163
You just need to grant this permission to make it work:

![image](https://user-images.githubusercontent.com/6439324/52754888-dab23980-2fda-11e9-9397-19c2706cc676.png)

I've tested on my tenant and used AzureRM module and it works fine; so there's something weird with AZ Module

[2019-02-14 01:14] lwajswaj commented on #8163
OK.... now it's odd..... I didn't change anything but I logged once with an AppId using AzureRM module on PS 5.1..... after that, Get-AzADApplication in PSCore started to work. Even further, I created a new App thinking it might be related on how the cached token is accessed and it's working too..... really no-sense to me.... Right granted to the new app:

![image](https://user-images.githubuserco

[2019-02-14 06:11] EvgenyAgafonchikov commented on #4056
Added parameter sets to avoid intersection of incompatible parameters, adjusted required/optional in parameter sets: #8381

[2019-02-14 06:11] #4056 closed

[2019-02-14 07:00] mprabhu11 commented on #8473
We are facing this issue from a PS automation context. What appear to be straightforward paths which used to work with the equivalent AzureRm cmdlet in the past are failing with the above error after changing to Set-AzStorage version.

[2019-02-14 09:16] blueww commented on #8531
@yeswps

I can't repro the issue on my machine, I tried 2 machines.
But I see an issue on you machine, you have both old storage module "Azure.Storage"/"AzureRm.Storage", and new storage module "Az.Storage" loaded, there might be some conflict.

Would you please help to remove all the modules and reinstall Azure Powershell, then try again ：

1. Remove all installed module `Azure.*`, `Az.*` from C:

[2019-02-14 09:23] blueww commented on #8473
@fmicle

I can't repro the issue on my machine, I tried 2 machines.
Could you help to collect more information by run following command just after Set-AzStorageBlobContent fail, and show me the result (hide if any credntial)
[code]

BTW, does this issue always happen when you upload any file with Set-AzStorageBlobContent, or only on specific files? From your comments, it looks like always repro?

[2019-02-14 11:31] BurgerVanDan commented on #3215
I have given the app registration that VSTS uses all of the permission that you have mentioned @teejam2, but I am still facing the same error message:

`#[error]Resource not found for the segment 'me'.`

Any ideas?

[2019-02-14 12:18] teejam2 commented on #3215
@BurgerVanDan has an account administrator confirmed the permissions? Is the service principal an owner of the target subscription?

[2019-02-14 13:53] BurgerVanDan commented on #3215
@teejam2 I have just realised that I dont not have permissions to 'grant' the app service the relevant permission as it is a customer subscription/AAD.

I will see if I can persuade on the global administrators to grant them for me. I will check back in when I have an update!

[2019-02-14 13:59] fmicle commented on #8473
Yes, I can repro consistently on first attempt, and it happens with any file I try.

    PS C:\> Set-AzureStorageBlobContent -Container florin-container -Context $sa.Context -File test.json -Blob test
    Set-AzureStorageBlobContent : Failed to open file C:\test.json: Illegal characters in path..
    At line:1 char:1
    + Set-AzureStorageBlobContent -Container florin-container -Context $sa. ...

[2019-02-14 14:34] yeswps commented on #8531
@blueww

The environment is in Azure Automation Account.
I tried to remove Azure.Storage and AzureRM.Storage, but only found out that they were revered to previous versions that shipped with Azure Automation Account

Azure.Storage 4.6.1 has been downgraded to 1.0.3
AzureRM.Storage 5.2.0 has been downgraded to 1.0.3

There seems to have no way for me to completely remove Azure.Storage and AzureRM.S

[2019-02-14 14:41] adrianwells opened #8538 "Move-AzResource Does not move Resources dependent upon each other"
### Description

Move-AzResource Cannot move Resources dependent upon each other even though the individual resources are supported for moving such as an Azure Virtual Network and VPN Gateway. However the same resources can be successfully moved using the Azure Resource Manager (ARM) web portal.

### Script/Steps for Reproduction

[code]

### Module Version

[code]

### Environment Data

[code]

[2019-02-14 16:40] MouthOfMadness commented on #8163
I started with the default grants for a contributor; but in my desperation, I selected everything single API and permission to work around this problem without luck.
![permissions](https://user-images.githubusercontent.com/29233402/52802137-ef2b1c00-3044-11e9-97d3-6d2370b73e3a.jpg)

[2019-02-14 18:01] yeswps commented on #8531
@blueww

Just came across this article, which explains that Az module is currently not available in Azure Automation account, until after **March 15, 2019**

[Azure PowerShell ‘Az’ Module version 1.0](https://azure.microsoft.com/en-ca/blog/azure-powershell-az-module-version-1/)

`**Azure Automation support**
The Az module can run in Windows PowerShell 5.1, but requires .NET Framework version 4.7.2

[2019-02-14 18:45] brwilkinson opened #8540 "Cannot use Desired State Configuration (DSC) with the AZ Module"
When searching for the new module on the gallery you can use find-module and the az module is located.

[code]
To install the module you can use install-module az -force and the modules are loaded.

However you cannot discover the AZ module itself, since it only loads other modules. e.g. below does not show the module, since only the dependent modules actually get loaded.

[code]

This is a proble

[2019-02-14 18:54] maddieclayton commented on #8540
@brwilkinson This issue is actually with PowerShell itself - when PowerShell sees a directory named after a locale (in this case, Az also stands for Azerbaijan), it will automatically skip the directory.  You can track this issue here: https://github.com/PowerShell/PowerShell/issues/8125, feel free to comment on this issue regarding how this issue is blocking you.

[2019-02-14 18:54] #8540 closed

[2019-02-14 19:02] brwilkinson commented on #8540
@maddieclayton oh thank you. . .

such a strange thing  😁 I am so glad there was an explanation.

[2019-02-14 19:50] ikiris04 opened #8541 "set-azsecuritycontact does not allow multiple emails"
### Description

Security Center allows for multiple emails but only one phone number via the portal.
The cmdlet set-azurermsecuritycontact allows you to only set one email per cmdlet call and also requires a phone number. If you try to set a phone number with the second email then you get an error that it is not allows

### Script/Steps for Reproduction

[code]

### Module Version

[code]

### En

[2019-02-14 21:00] JohannesHoppe commented on #8240
I'm super frustrated. Can't something just work?
To make it super simple, I just read and write the same object.
Even this simple script is exploding:

[code]

[code]

[2019-02-14 21:03] JohannesHoppe commented on #8240
And no, this is a fresh machine. There is no `AzureRM` installed. And not, `Resolve-AzError` does not display any new information...
😞

[2019-02-14 21:07] maddieclayton commented on #8240
@Would you be able these two items?
(1) Set `$DebugPreference = "Continue"`, re-run the command, and send us the resulting debug stream.
(2) Confirm whether or not this exception occurs for _all_ resource types that you try, or specific ones.

[2019-02-14 21:10] maddieclayton commented on #8541
@chlavah Can you take a look at this issue?

[2019-02-14 21:12] ankushbindlish2 opened #8543 "[Test Framework] Providing a KeyValuePair while recording and accessing it in playback"
### Description

We are unable to Record/Playback without keeping a cache of generated guids.

### Script/Steps for Reproduction

[code]

### Module Version

[code]

### Environment Data

[code]

### Debug Output

[code]

[2019-02-14 21:30] maddieclayton commented on #8484
Closing for inactivity - please reopen if you continue to see this issue, and please provide the requested information above.

[2019-02-14 21:30] #8484 closed

[2019-02-14 21:31] maddieclayton commented on #8531
@vrdmr Can you take a look at this issue?

[2019-02-14 21:33] maddieclayton commented on #8538
@ravbhatnagar @Tiano2017 Can you take a look at this issue an verify what the expected behavior should be?

[2019-02-15 00:20] lwajswaj commented on #8494
Your problem is your passing the output which is not the String type, you are passing an object instead. To use value you want, you should run it like this:

[code]
You just need to force to cast it as string.

[2019-02-15 00:57] lwajswaj commented on #8402
Why can't you migrate to AZ module?

[2019-02-15 01:01] maddieclayton commented on #8494
@lwajswaj Great catch!

@amcgregor1 If this does not fix your issue feel free to reopen

[2019-02-15 01:10] lwajswaj commented on #7766
Have you tried forcing powershell to use TLS 1.2 before running the cmdlet?

[2019-02-15 01:26] Christoba commented on #8402
Our organization is in the process of doing this. I’m looking for confirmation that AzureRm 5 was deprecated and will no longer support this (and potentially other) workflows.

[2019-02-15 01:40] amcgregor1 commented on #8494
If this is true then it is inconsistent with all of the other RPs I have been testing:

Some examples:

[code]

[2019-02-15 01:46] amcgregor1 commented on #8494
Hi,

Keyvault is not consistent with other RPs then. Can you please re-investigate?

Examples:

[code]

From: Maddie Clayton <notifications@github.com>
Sent: Friday, 15 February 2019 12:03 PM
To: Azure/azure-powershell <azure-powershell@noreply.github.com>
Cc: McGregor, Andrew <andrew.mcgregor@hpe.com>; Mention <mention@noreply.github.com>
Subject: Re: [Azure/azure-powershell] Set-AzureKeyVaultSec

[2019-02-15 02:57] lwajswaj commented on #8402
AzureRm is deprecated according to my understanding as it's been replaced by AZ module. AzureRm won't have new functionality https://docs.microsoft.com/en-us/powershell/azure/new-azureps-module-az?view=azps-1.3.0

[2019-02-15 03:17] blueww commented on #8531
@yeswps

It looks like this is caused by the Runbook still not support Az module.
Do you mind to close the issue now, since it's not caused by Azure Powershell issue (it works well on you local machine), and seems we can't fix it from Azure Powershell side? You can reactive it (or open new issue) if you still see it after runbook support it.

[2019-02-15 03:36] bingosummer commented on #1818
@EvgenyAgafonchikov The solution works for me.

[2019-02-15 03:36] #1818 closed

[2019-02-15 08:38] deejaygraham commented on #7766
After more investigation, I believe this is a problem with the corporate network. Closing.

[2019-02-15 08:38] #7766 closed

[2019-02-15 08:55] blueww commented on #8473
@fmicle

I see another customer which repro the issue in runbook: https://github.com/Azure/azure-powershell/issues/8531

Just to confirm do you repro the issue in runbook or in local machine.

If in local machine, do you also has Azure.Storage and AzureRm.Storage installed?
If so, could you remove them and reinstall Az.Storage module? by following steps:

1. Remove all installed module `Azure.*`,

[2019-02-15 14:50] jordanbean1 commented on #8347
I see the same issue. This defeats the purpose of having the while loop afterwards that can check for status (as shown in the example: https://docs.microsoft.com/en-us/azure/automation/automation-dsc-compile#compiling-a-dsc-configuration-with-windows-powershell)

[2019-02-15 15:11] fmicle commented on #8473
PS C:\> [System.IO.Path]::GetFullPath("\\?\c:\test.json")
    Exception calling "GetFullPath" with "1" argument(s): "Illegal characters in path."
    At line:1 char:1
    + [System.IO.Path]::GetFullPath("\\?\c:\test.json")
    + ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
        + CategoryInfo          : NotSpecified: (:) [], MethodInvocationException
        + FullyQualifiedErrorId : Argum

[2019-02-15 16:37] Christoba commented on #8402
@karravi-msft, can you confirm that 5.7 should be expected to no longer work and this issue will not be resolved?

@lwajswaj, this isn't new functionality, this was existing functionality that was broken by removing support for the api-version in the subject.

[2019-02-15 18:03] MCrank commented on #4649
@blueww Just wanted to reach out to see if there is any movement on this?  This is still an ongoing problem that still does not seem to be fixed.

[2019-02-15 19:32] RoyWang05 opened #8547 "Get-AzApiManagementProduct incorrectly validates productId"
$ctx = New-AzApiManagementContext -ResourceGroupName PlatformV1-ChinaNorth-PROD -ServiceName Cognitive-CN-Prod
Get-AzApiManagementProduct -Context $ctx -ProductId "ComputerVision.BaiShanYun"

                Get-AzApiManagementProduct : 'productId' does not match expected pattern '(^[\w]+$)|(^[\w][\w\-]+[\w]$)'.
At line:1 char:1
+ Get-AzApiManagementProduct -Context $ctx -ProductId "ComputerVision

[2019-02-15 20:13] dmarlow commented on #8122
+1. I recently wanted to change the Audit Action Group and had to turn on sending to storage when I only wanted to send to Log Analytics.

[2019-02-15 21:00] maddieclayton commented on #8547
@solankisamir Can you take a look at this issue?

[2019-02-15 22:47] solankisamir commented on #8547
#ack

[2019-02-15 23:34] lawthorne commented on #4833
This is the Answer! Thanks saurabhmahajan!

[2019-02-15 23:48] lukeb1961 commented on #7692
appears to be FIXED in 1.3.0

[2019-02-15 23:48] #7692 closed

[2019-02-15 23:50] markcowl commented on #8543
@ankushbindlish2 There are two options for this based on existing mechanisms in the test recorder:

(1) You can use HttpMockServer.GetAssetGuid(testname) this works similarly to GetAssetName().  In record mode it generates a new GUID and stores it in the recording in the order it was requested. In playback mode, it pops the next value from the stack and returns it as a GUID.   I think this should

[2019-02-16 00:40] refortie commented on #8515
I resolved the issue that we were having internally and just pushed out a PR for the fix

[2019-02-16 02:39] zakimaksyutov opened #8555 "The specified module 'Az.ManagedServiceIdentity' was not loaded because no valid module file was found in any module directory"
### Description

Trying to use New-AzUserAssignedIdentity

### Script/Steps for Reproduction

[code]

### Module Version

[code]

### Environment Data

[code]

### Debug Output

[code]

[2019-02-16 05:34] mprabhu11 commented on #8473
@fmicle

The issue is now narrowed down to 'legacy path handing' settings in .Net.

For me the issue repros from a PS runbook using Az-* but does not repro from my desktop (using the same code).

Inspecting the relevant setting in the two environments gives me this:

$x = "blah"
$setting = [ref]$x
$z = [System.AppContext]::TryGetSwitch("Switch.System.IO.UseLegacyPathHandling", [System.Management.A

[2019-02-16 11:03] amandadebler commented on #8519
I'll be happy to help test this if you decide to include it :)

Get possible upgrade target versions for a given cluster:

Get-AzAksVersion -Cluster $AzAksCluster

or

Get-AzAks -Id $ResourceId -IncludeUpgradeVersions
(returns AzAks object + UpgradeVersions attribute as array)

[2019-02-17 19:41] mahmoodr786 commented on #1817
A workaround I did is made one subnet depend on the one before it. This is slower however it does not fail.
 "dependsOn": [
                "[resourceId('Microsoft.Network/virtualNetworks/subnets', 'VNET','theSubnetBeforeThisOne')]"
            ]

[2019-02-17 19:46] HQJaTu commented on #1817
Yes, I realized the same. Given my setup, which consists of 3 subnets, I did exactly what you describe there. In my template two of the subnets depend on previous subnet to force them to be created in a chain.

[2019-02-17 20:31] artisticcheese opened #8557 "Login-AzAccount fails with ADFS"
### Description

Login-AzAccount and explicitly provided credentials fails due to incorrect SOAP envelop contents.

### Script/Steps for Reproduction

Login with explicetly provided credentials via Login-AzAccount. Reason is that SOAP envelop contains trailing backslash like below, there shall be no trailing backslash. Here is additional info (https://github.com/AzureAD/azure-activedirectory-libra

[2019-02-18 03:44] amcgregor1 opened #8559 "Unable to remove managed disks from Azure Stack"
### Description

Cannot remove managed disks from Azure Stack subscription. They do not appear in the Azure Stack portal. They can be listed using PowerShell Commands but cannot be deleted.

### Script/Steps for Reproduction

[code]

### Module Version

Please note that this is the Azure Stack Modules

[code]

### Environment Data

[code]

### Debug Output

[code]

[2019-02-18 04:45] EvgenyAgafonchikov commented on #7997
Closing, got offline confirmation from @zwswim

[2019-02-18 04:45] #7997 closed

[2019-02-18 07:36] blueww commented on #4649
@MCrank
The PR in https://github.com/Azure/azure-storage-net-data-movement/issues/66 is still not merged.
After it's merged to DMlib and DMlib has a new release on it, Powershell can upgrade to the new DMlib release and the ZPU usage should be better.

[2019-02-18 09:33] gbaman commented on #8348
Can I request an update on this issue, as haven't heard anything in a month now @markcowl @dragonfly91?

[2019-02-18 09:42] EvgenyAgafonchikov commented on #4383
Checked on the latest Az module version (AzureRm was replaced with Az) and it looks like redirect works as expected: I'm getting Http->Https redirect.

As the documentation link referred by @CodedBeard is no more valid (likely the file was renamed or moved), I used these two articles to setup ApplicationGateway with redirect:
- https://docs.microsoft.com/en-us/azure/application-gateway/quick-creat

[2019-02-18 10:35] blueww commented on #8473
@fmicle
As we get from netcore team:

It's most likely the switch that enables device syntax isn’t set.  While .NET 4.6.2+ supports the extended syntax, PowerShell (not Core) didn’t opt into it until the Windows 10 Anniversary update.

While PowerShell hosts the CLR it does specify the config file when creating the AppDomain. It will pass C:\Windows\System32\WindowsPowerShell\v1.0\powershell.exe.c

[2019-02-18 11:17] EvgenyAgafonchikov commented on #7406
@kutluomeroglu, could you please try updating to the latest Az version and re-check repro?
I was able to repro the issue on the recent version and cannot repro on the current, so this seems to be fixed.

[2019-02-18 12:33] o-l-a-v opened #8561 "Get-AzLoadBalancerRuleConfig - Fails on parameter "source""
### Description

I'm trying to copy some Azure Load Balancing Rule Configs from a load balancer within same tenant and subscription to another.

### Script/Steps for Reproduction

[code]

### Module Version

[code]

### Environment Data

[code]

### Debug Output

[code]

[2019-02-18 16:16] maximeGendre commented on #7873
I had the same issue with Set-AzureRmDiagnosticSetting command

It works when I add "WorkspaceId" Property
`$Workspace = Get-AzureRmOperationalInsightsWorkspace -ResourceGroupName $RG -Name CDLDataFactory
 Set-AzureRmDiagnosticSetting -ResourceId ($factory.DataFactoryId) -Enabled $True -WorkspaceId ($Workspace.ResourceId) -Name DiagName`

[2019-02-18 16:37] CodedBeard commented on #4383
@EvgenyAgafonchikov No idea. To be honest I had completely forgotten about this, as it hadn't been fixed for ages we eventually just went with not publishing HTTP at all, and relying on users searching for the URL instead, which has worked fine as we have never received any complaints about it, probably because all of our sites use HSTS and so load the HTTPS endpoint from the browser anyways after

[2019-02-18 18:07] debashis1982 opened #8562 "Does Import-AzureRmApiManagementApi cmdlet support swagger with YAML format?"
I am new to this and I am trying to import a swagger file in YAML format using **Import-AzureRmApiManagementApi** PS cmdlet this way -

`
Import-AzureRmApiManagementApi -Context $ApiMgmtContext -SpecificationFormat "Swagger" -SpecificationPath "C:\Users\test\Downloads\testapi.openapi.yaml" -Path "apis"
`

and I get error like -

`
Body:
{
  "error": {
    "code": "ValidationError",
    "message":

[2019-02-19 02:44] kutluomeroglu commented on #7406
@EvgenyAgafonchikov,  I have updated the Az modules, Az.Network is now 1.1.0 and add-azvirtualnetworkpeering worked for me for the first time. Seems like it might be fixed.

[2019-02-19 04:45] EvgenyAgafonchikov commented on #7406
@kutluomeroglu, thanks for checking this.
Closing for now as "no repro/fixed", feel free to reopen if the repro would be found.

[2019-02-19 04:45] #7406 closed

[2019-02-19 05:02] EvgenyAgafonchikov commented on #4383
@CodedBeard, thanks for updating on this.
As things seem to work now, and I cannot reproduce the same, closing the issue. Feel free to reopen if the repro occurs.

[2019-02-19 05:02] #4383 closed

[2019-02-19 05:30] maddieclayton commented on #8562
@solankisamir Can you answer this question or direct to the right team who can answer this question?

[2019-02-19 05:33] maddieclayton commented on #8561
@gmainar Can you take a look at this issue?

[2019-02-19 05:34] maddieclayton commented on #8559
@bganapa @deathly809 Can you take a look at this issue and let us know if it is a strictly Azure Stack issue?

[2019-02-19 05:36] maddieclayton commented on #8555
@zakimaksyutov Because Az.ManagedServiceIdentity is a preview module, you will need to install it separately from the Az module using ```Install-Module -Name Az.ManagedServiceIdentity```.  If this does not work for you please let me know and I will reopen the issue.

[2019-02-19 05:36] #8555 closed

[2019-02-19 06:55] amcgregor1 commented on #8559
Really strange, but the disks have just re-appeared and I have been able to remove them. Is there a background process that could be responsible for this?

[2019-02-19 07:10] OmegaAphex commented on #6461
Any news on this?
We are running the New-AzureRmSqlDatabaseCopy daily and the above error is happening periodically.

[2019-02-19 10:49] hbagarich commented on #8526
If I supply the Kubernetes version (1.12.4) to the command, everything works.
I guess the default version 1.8.1 is no longer supported by the Azure?

[2019-02-19 11:57] danielstocker opened #8565 "Get-AzResource fails with documented api-version"
### Description

I’m running some tests in PowerShell to check a deployment. My code contains the following line:
$appInsightsComponents = @(Get-AzureRmResource -ResourceGroupName $ResourceGroupName -ResourceType microsoft.insights/components -ApiVersion 2015-05-01)

Based on online Microsoft documentation https://docs.microsoft.com/en-us/azure/templates/microsoft.insights/2015-05-01/components th

[2019-02-19 14:55] claytonmartin opened #8566 "PowerShell Hangs when running Connect-AzAccount After Creating Windows Form Object."
### Description

I am a having a freezing issue when trying to connect to Azure with PowerShell after creating a new windows form object variable. The freezing occurs after completing the sign in window.

### Script/Steps for Reproduction

[code]

### Module Version

[code]

### Environment Data

[code]

### Debug Output

[code]

[2019-02-19 17:13] cormacpayne commented on #7930
@jsheetzati I'm unable to reproduce this when using the latest `Az` module -- one thing I would figure out is what the value of the `Properties` property on the `$resource` object is after this line is executed:

[code]

It may be the case that the `jsonFile.json` file has the certain numeric and boolean values as strings, or they are being converted to strings when executing `ConvertFrom-Json`. W

[2019-02-19 17:22] mboersma commented on #8526
@hbagarich yes, that's the problem. The error message `The value of parameter orchestratorProfile.OrchestratorVersion is invalid.` is correct but a bit hard to parse. AKS dropped support for provisioning new Kubernetes 1.8.x clusters recently.

You can see the currently supported versions using the CLI:

[code]

[2019-02-19 17:50] ashringa opened #8568 "Powershell Invoke-RestMethod does not return expected response"
The PowerShell Script that is being used to hit the REST API to obtain a full list of the Service SKU is only showing partial information using the service principal account in Azure, compared to the Resource SKU – Try It Out Demo website, using the Azure Account. What may be going on with the PowerShell Script that is only pulling a partial list of service SKUs? Also, is there a way to use the Az

[2019-02-19 17:55] bganapa commented on #8559
@amcgregor1 sorry that you are running in to troubles. @shanswmicrosoft Could you please help here to understand this behaviour?

[2019-02-19 18:31] rabrahamOpti commented on #7764
@maddieclayton Any update here?

[2019-02-19 18:34] maddieclayton commented on #7764
@Tiano2017 @ravbhatnagar Ping on this issue

[2019-02-19 18:55] mgreenegit commented on #6899
Tagging PR
https://github.com/Azure/azure-powershell/pull/8556

[2019-02-19 18:56] jsheetzati commented on #7930
Here is a sample json file + powershell script that I am running. Confirmed it is still an issue with Az 1.3.0. I added some logging on one of the properties right before SetAzResource. After SetAzResource, I retrieve the resource again and the type is now a string.

Output from running script with json file:
Updating JoeTest
Int32
Updated JoeTest
String
done

LogicApp,json
[code]
Powershell Scrip

[2019-02-19 19:21] solankisamir commented on #8562
@debashis1982, the PS cmdlet does not support importing in YAML format for 3.0.0. We are working on adding support for that.

[2019-02-19 20:33] shietpas opened #8570 "Get-AzAutomationConnection : Object reference not set to an instance of an object."
## Description

The following error occurs when attempting to access the RunAs connection created within an Azure Automation account using the AZ module's **Get-AzAutomationConnection** cmdlet.  The same RunAs connection can be successfully obtained using the older AzureRM module cmdlet "Get-AutomationConnection".  It can also work if Connect-AzAccount is used with a separate set of credentials pr

[2019-02-19 21:11] shietpas commented on #8570
Although I find the documentation unclear, my current understanding is as follows...

The **Get-AutomationConnection** cmdlet should be used within Azure Automation to obtain the RunAs Connection information.  This cmdlet is part of the Azure module.

The following cmdlets require connecting to Azure prior to using (e.g. Connect-AzAccount):
* Get-AzureRmAutomationConnection within the AzureRm modu

[2019-02-19 21:11] #8570 closed

[2019-02-19 21:49] cormacpayne commented on #7930
@jsheetzati thanks for going through the work of getting this extra information. I was able to reproduce this exception and track down where the issue is coming from: https://github.com/Azure/azure-powershell/blob/9fff8523d74afd5e9e499c31e1a0f46373e950e5/src/Resources/ResourceManager/Extensions/PsObjectExtensions.cs#L135

We will look at a fix for this in an upcoming release.

[2019-02-19 21:50] englishbobsnr commented on #2278
Hey hey hey who's here in 2019! My first real step into IaC and I spent a day on trying to work out what I was doing wrong. Turns out I wasn't doing anything wrong and this is a bug from 2016 !! You have to be joking me. @tinymoth hit the nail on the head in 2016, yet 3 years later, nothing

[2019-02-19 23:06] maddieclayton commented on #8566
@claytonmartin Please try using -UseDeviceAuthentication to prevent the popup altogether when running Connect-AzAccount - this should prevent your form from hanging.

[2019-02-19 23:16] maddieclayton commented on #8565
@danielstocker The API-version parameter in this case should be the ARM API-Version rather than the Insights API-Version.  Please try running  ```Get-AzureRmResource -ResourceGroupName "tApp" -ResourceType microsoft.insights/components -ExpandProperties``` instead of providing the API-Version.

[2019-02-19 23:16] maddieclayton commented on #8568
@ashringa Please file an issue against the doc page regarding the difference between the output of Invoke-RestMethod and the demo website. Regarding the ability to access a list of available SKUs, we are planning to add a SKU completer to all cmdlets which have a SKU parameter: https://github.com/Azure/azure-powershell/issues/8004.  Please let us know if this does not fit with your use case.

[2019-02-19 23:16] #8568 closed

[2019-02-19 23:25] maddieclayton commented on #8509
@evgeniylu Please do try with the -UseDeviceAuthentication, and let us know if you are still seeing this issue. Please also note that we now recommend using Visual Studio Code (with the PowerShell extension) rather than ISE for scripting.

[2019-02-19 23:33] maddieclayton commented on #8524
@goudys From the error message, it looks like you are running synchronous call rather than async calls, which are not supported.  Please check out this doc here: https://github.com/Azure/azure-powershell/blob/master/documentation/migration-guides/Az.1.0.0-migration-guide.md#4-set-blob-tier.  If this does not fix your error, please copy and paste the contents of the script that you are running so w

[2019-02-19 23:33] #8524 closed

[2019-02-19 23:55] debashis1982 commented on #8562
thank you!

[2019-02-19 23:55] #8562 closed

[2019-02-20 03:00] jsheetzati commented on #7930
Awesome. Will this fix be applied to both Az and AzureRm?

[2019-02-20 07:44] danielstocker commented on #8565
Hi @maddieclayton

Thank you for clarifying.
I understand that "-ExpandProperties" is the better approach here.

This request comes from one of my customers who saw the documentation https://docs.microsoft.com/en-us/azure/templates/microsoft.insights/2015-05-01/components which looks like it is a piece of ARM template documentation.

The page implies that 2015-05-01 is a valid API version, at leas

[2019-02-20 08:46] maddieclayton commented on #8467
Fixed - should be included in the 2/26 release.

[2019-02-20 08:46] #8467 closed

[2019-02-20 08:47] maddieclayton commented on #8494
Fix is in the PR linked above - this should be included in the 2/26 release.

[2019-02-20 08:47] #8494 closed

[2019-02-20 08:47] maddieclayton commented on #8494
Thanks @lwajswaj!

[2019-02-20 09:17] evgeniylu commented on #8509
After more than 10 min check, ISE still available.
Thanks for help

[2019-02-20 09:17] #8509 closed

[2019-02-20 10:27] mikeblakeuk commented on #1443
@matt-richardson Any news on this? We are hitting the same issue if we don't save the pfx first... (Hi btw!)

[2019-02-20 11:02] lwajswaj commented on #7977
hey @alexandair, do you still see this issue with AZ 1.3.0? Particularly with Az.Automation 1.1.0? If so, do you have a example script of the runbook you're trying to run and full list of parameters for Start-AzAutomationRunbook?

[2019-02-20 12:30] hothotsyu opened #8578 "How can I troubleshoot my issue?"
Hi my friends
I installed the latest Powershell 6.1.3 without uninstalling the Powershell 5.1.

I can connect to Azure with Powershell 5.1, but I can't connect to Azure with Powershell 6.1.3

Can you help me?

Best regards,
Linshan.Xu

[2019-02-20 12:40] EvgenyAgafonchikov commented on #2427
Hello @iricigor, could you please clarify what "Azure VPN client" is in this context, is it still supported and where could we get it?

[2019-02-20 12:49] mgreenegit commented on #6899
PR has been merged.  The new addition will validate configuration names imported using the cmdlet.

Thank you @lwajswaj

@wsmelton can you please ack and we will close out the issue?

[2019-02-20 14:25] claytonmartin commented on #8566
Thanks. This is a good work around, but it would be ideal if it worked with the popup in my scenario.

[2019-02-20 15:19] iricigor commented on #2427
Hi, it is a VPN client generated by Azure portal for point-to-site connection. Basically [this](https://docs.microsoft.com/en-us/azure/vpn-gateway/point-to-site-vpn-client-configuration-azure-cert#zipportal).

![image](https://user-images.githubusercontent.com/15923171/53102057-42144000-352b-11e9-8826-b6c7b83d1365.png)

[2019-02-20 15:28] yeswps commented on #8531
@blueww

There doesn't appear to have a way to change UseLegacyPathHandling setting during the execution, and there's no way for us to change the default behavior of Azure Automation Runbook...

[2019-02-20 16:31] ashringa commented on #8568
@maddieclayton thank you for your reply. Could you please provide me the link to open the issue with doc page. Also, by what is the timeline for SKU cmdlets?

[2019-02-20 17:45] tspring418 commented on #8240
Hello Everyone, i just tested this and it seems to be related to the the piping.
**$WebAppConfig | Set-AzureRmResource** -ApiVersion $APIVersion -Force | Out-Null

Try this:
    Set-AzureRmResource -resourceid $webAppConfig.ResourceId -Properties $WebAppConfig -ApiVersion $APIVersion -Force

This appears to work

[2019-02-20 18:29] matt-richardson commented on #1443
Hey @mikeblakeuk! Even though this should've been relatively simple, it was closed as wont fix. Only workaround is to save to file first.

[2019-02-20 18:29] maddieclayton commented on #6899
Closing - @wsmelton If you are still seeing this issue after updating to the latest Az on 2/26, please let me know and I'll reopen the issue.

[2019-02-20 18:30] #7738 closed

[2019-02-20 20:52] maddieclayton commented on #3030
Closing in favor of https://github.com/Azure/azure-powershell/issues/6549

[2019-02-20 20:52] #3030 closed

[2019-02-20 22:46] pcgeek86 commented on #6549
This is a duplicate of #3030

[2019-02-20 22:46] vrdmr commented on #8347
@avkaur can you take a look?

[2019-02-20 22:57] alujones opened #8581 "[Documentation]: How to get the AZ modules into a Powershell Azure Function"
I'd like to be able to manage some of my Azure Subscriptions from a web app hosted in Azure. I thought it would be great to get it working as a serverless function, since that's the cool tool. Particularly, I want to use the new Search-AzGraph function, so I'm unable to use the old Azure modules that are supplied with the Powershell in Azure Functions.
I tried to copy the modules up to the Azure F

[2019-02-20 23:23] mgreenegit commented on #8347
Thank you for the ping @vrdmr, and thank you for submitting this, @janegilring.  We will take a look.  This only happens when the job reaches a suspended compilation, correct?

[2019-02-21 01:27] abatishchev opened #8582 "Get-AzureRmDefault throws NullReferenceException on start"
## Description

Running Get-AzureRmDefault without any parameters throws exception NullReferenceException Object reference not set to an instance of an object.

## Steps to reproduce

[code]

## Module versions

[code]

## Debug output

Object reference not set to an instance of an object.
   at Microsoft.Azure.Commands.Common.Authentication.Abstractions.AzureEnvironmentExtensions.TryGetEndpointUr

[2019-02-21 05:30] janegilring commented on #8347
@mgreenegit Yes, that is correct.

[2019-02-21 06:19] brent-robinson commented on #8531
A similar issue seems to occur with `Get-AzStorageBlobContent` too. Again in Azure Automation.

[code]

Based on #8473, it sounds like an OS upgrade resolves this issue by changing the default path handling preference. Does anyone know if this change was made in Windows Server too, and if so, timelines the agents would be upgraded?

[2019-02-21 06:36] shanswmicrosoft commented on #8559
We have a background job to do this after 1811 build. In some cases, the disk is created but not shown in portal, even though it should be. It might because of configuration issue of multiple tenancy. Once it is configured in the right way, we will try to sync between portal and backend service.  Then it will show up in portal.

If it is not shown in portal, it cannot be deleted, because portal ta

[2019-02-21 06:58] blueww commented on #8531
@yeswps , @brent-robinson
We are discussing with Automation team for how to resolve the issue.
Will update you if any progress.

Before the issue is resolved, can you use the old cmdlets in Azure.Storage module, or use the Storage Client library upload blob API directly in script?

[2019-02-21 11:17] inuvano-labs opened #8587 "AzureRm.Sql - New-AzureRmSqlSyncGroup - "The sync database specified does not match existing sync database""
If I attempt to create more than one Data Sync group via New-AzureRmSqlSyncGroup targeting different Hub and Meta Data databases on the same subscription, I'm receiving an exception:

"New-AzureRmSqlSyncGroup : SyncOperation_WrongSyncDatabase: The sync database specified (thenewmetadataservername\\thenewmetadatadb)
does not match the existing sync database (anothermetadataservername\\anothermetada

[2019-02-21 12:57] mewilh0 commented on #6461
Same issue for me also.  An immediate rerun of the process is successful.

AzureRM.Sql 4.12.1

[2019-02-21 13:18] balintbako commented on #7166
Still an issue in 6.13.1 release

[2019-02-21 13:18] xenalite commented on #8163
@MouthOfMadness Did you click "Grant permissions"? Ticking them might not be enough. They need to be granted by a tenant administrator. I had a similar issue in my tenant, but I am not an admin, so I was able to tick the permissions, but a tenant admin had to grant them.
For reading AAD as a Service Principal you'd only need "Read directory data" application permission. Alternatively, your automat

[2019-02-21 13:22] wsmelton commented on #6899
@mgreenegit

I pulled down latest release of Az on both Core and Windows and it now errors but it errors  with just the bad-request message and not the specific throw message that @lwajswaj added.

### PS Core
[code]

### Windows PowerShell
[code]

[2019-02-21 13:48] xenalite opened #8588 "Login-AzAccount - NullReferenceException - When user has no role assignments."
## Description
Login fails for accounts, which do not have any role assignments.

[code]

## Steps to reproduce

1) Create new fresh Azure AD tenant.
2) Make sure Azure AD tenant does not have any Azure subscriptions linked.
3) Create new user and change its password.
4) Make sure the user is not assigned to any subscriptions (as there should be none).
5) Attempt to log in with Azure PowerShell (n

[2019-02-21 14:58] constantinhager opened #8589 "Try to retrieve AzKeyVaultSecret"
## Description
I'm trying to retrieve a Azure KeyVault Secret. If I run that I get the following error:

[code]

## Steps to reproduce

[code]

## Environment data

[code]

## Module versions

[code]

## Debug output

[code]

## Error output

[code]

[2019-02-21 15:16] mgreenegit commented on #6899
It looks like we need to trap that error and return it cleanly.  Does My-Configuration.ps1 contain only one configuration, with the name "My-Configuration"?  The error message looks like it does not and so it is returning a failure from the web request.

Body:
{
  "code": "BadRequest",
  "message": "The configuration name in the script must match the configuration name."
}

[2019-02-21 15:35] mgreenegit commented on #8347
@avkaur can you ack you will take this?

[2019-02-21 15:58] wsmelton commented on #6899
Well interesting on second try, new session and login....it let me upload the bad configuration with no error at all...

[code]

[2019-02-21 15:59] wsmelton commented on #6899
I think on previous error I had misspelled the filename so it was a mis-match.

[2019-02-21 18:25] TomaszOledzki commented on #8240
Hi All

As tspring418 suggested, this command works for me. I was able to update/change iprestrictions and save using following command
Set-AzureRmResource -resourceid $webAppConfig.ResourceId -Properties $WebAppConfig -ApiVersion $APIVersion -Force

Looks like the issue is in example on the docs site not having correct parameters for Set-AzureRmResource command.

[2019-02-21 18:31] rajeshmag commented on #661
Now almost all classic cmdlets like Get-AzureWebsiteJob has started generating exception inconsistently e.g. "Requested value 'PremiumV2' was not found.", seems to be deprecated and we are struggling finding an RM equivalent

[2019-02-21 19:14] rohinkoul commented on #3751
@rajaprad This looks like an old issue. We tried to repro this but couldn't. Could you try again and see if this works on the latest PS version.

[2019-02-21 19:25] panchagnula commented on #661
There is no RM equivalent at this point lease use the CI webjob commandlets as a workaround all of our RDFE commands have been deprecated.

[2019-02-21 21:02] lwajswaj commented on #6899
Can you confirm second time (in the new window), the new AZ.Automation module version you pulled down was there and it didn't pick the one from your module folder?

[2019-02-21 21:04] lwajswaj commented on #6899
I suspect it didn't as per in my pull request I'm trapping and showing underlying error and your error was just BadRequest.

[2019-02-21 21:18] dmarlow commented on #1524
Also running into this.

[2019-02-21 21:18] amcgregor1 commented on #8559
I get this other issues with managed disks where I cannot create them (and yes I am a subscription owner)
"You're not authorized to perform actions over managed disks in this subscription. Please re-register Compute Resource Provider in this subscription. "

I re-register the compute provider and it works ok again.

Whats happening with this?

[2019-02-21 21:40] lwajswaj commented on #6899
Just re-validated it (using the same configurations as you) and this is the expect output you should see if using the last compiled module from the repo:

[code]

As you can see, if the config name doesn't match, you get more info instead of just BadRequest. That's why I suspect the module with the changes I made wasn't load as behavior in both cases is different.

[2019-02-21 21:46] abatishchev opened #8592 "Set-AzureRmKeyVaultAccessPolicy : Your Azure credentials have not been set up or have expired, please run Connect-AzureRmAccount to set up your Azure credentials."
## Description

I'm trying to create a resource group, key vault, assign access, policy. issue a certificate. All operations work but Key Vault. The error I'm getting is this:

At line:1 char:1
 Set-AzureRmKeyVaultAccessPolicy -VaultName $kvName -ObjectId $account ...
    CategoryInfo          : CloseError: (:) [Set-AzureRmKeyVaultAccessPolicy], ArgumentException
    FullyQualifiedErrorId : Micros

[2019-02-21 22:06] cormacpayne commented on #8240
The fix for this issue can be found here: https://github.com/Azure/azure-powershell/pull/8593

It looks like PowerShell was trying to convert the `PSCustomObject` that was being returned from `Get-AzResource` to the `PSResource` type expected for the `-InputObject` parameter of `Set-AzResource`, but failed when it was unable to. The PR changes the type of the object returned in this scenario `PSRe

[2019-02-21 22:06] maddieclayton commented on #6899
@wsmelton @lwajswaj The release with the fix will not be out until 2/26 - please let me know after that time if you are still seeing issues.

[2019-02-21 22:28] lwajswaj commented on #6899
Yeap, I'll say let's wait till then to validate and see if this issue can be close

[2019-02-21 22:49] cormacpayne commented on #7930
@jsheetzati this fix would only be applied to `Az.Resources` -- we plan on updating `AzureRM` modules only in cases where a high priority bug fix is needed.

[2019-02-21 22:52] MikhailTryakhov commented on #3751
Asked to retry. please reopen if it's reproduced with more context

[2019-02-21 22:52] #3751 closed

[2019-02-21 23:02] cormacpayne commented on #7930
Fix for this issue can be found in PR https://github.com/Azure/azure-powershell/pull/8593

[2019-02-21 23:02] brent-robinson commented on #8531
Switching to the `Azure.Storage` PowerShell module is a successful workaround for this issue.

[2019-02-21 23:26] jsheetzati commented on #7930
Sounds good. Thanks for resolving this!

[2019-02-21 23:28] maddieclayton commented on #8578
@hothotsyu Can you please give the current layout of the machine for PowerShell 6.1.3 by running
```Get-Module -ListAvailable```
Please ensure you have installed the latest Az bits by running
```Install-Module Az```
If the newest Az bits do not work for you, please give us more information by running
```$DebugPreference = Continue```
Then run your cmdlet and paste the output here. Then run this cm

[2019-02-21 23:29] maddieclayton commented on #8587
@jaredmoo Can you take a look at this issue?

[2019-02-21 23:30] maddieclayton commented on #8589
@schaabs Can you take a look at this issue?

[2019-02-21 23:51] maddieclayton opened #8595 "New cmdlets for Az module management"
## Description of the new feature
- [ ] install and remove module (probably should be a script module - Az)
- [ ] notify people when there is an update to our module (right now just a cmdlet run, perhaps in the future put it into their profile
- [ ] Automatically install updates - either on a schedule or on opening PowerShell session

## Proposed implementation details (optional)

[2019-02-22 00:07] hothotsyu commented on #8578
Hi maddieclayton,

Thanks for your help!
The output are as folllows:

Best Regards,
Linshan.Xu

===============================================================
PS C:\Users\linshan.xu> Connect-AzureRMAccount
Connect-AzureRMAccount : The term 'Connect-AzureRMAccount' is not recognized as the name of a cmdlet, function, script file, or operable program.
Check the spelling of the name, or if a path wa

[2019-02-22 00:13] hothotsyu commented on #8578
Addition information as follows:
I can run the command : Connect-AzAccount to login to my Azure.

I want to run the command : Connect-AzureRMAccount(latest version Powershell 6.1.3) also.

[2019-02-22 00:18] maddieclayton commented on #8578
@hothotsyu We are only supporting the new Az module on PowerShell 6.1.3 - while the AzureRM module only supports desktop, Az supports both desktop and core, allowing it to be used in PowerShell 6 for all platforms.  Please let me know if there is something missing in Az that you are looking for.

[2019-02-22 02:13] shanswmicrosoft commented on #8559
managed disk is a new resource provider since one of our build. For a subscription, when a new resource provider comes in, if you need to use the new feature with that provider. It is required to re-register the subscription.

[2019-02-22 02:21] lwajswaj commented on #8347
hey @mgreenegit, I've just looked at this issue. I'm able to repro it. The issue is the code is making a synchronous call to create the compilation job but that call doesn't end till the job completes, as the job gets suspended, then it never completes  and that's why the behavior.

Based on the cmdlet name, this cmdlet is only expected to start the job and return with job information to monitor f

[2019-02-22 02:49] amcgregor1 commented on #8559
I have been using it for several weeks, and then it just broke as per my comments.

From: Shanshan Wang <notifications@github.com>
Sent: Friday, 22 February 2019 1:15 PM
To: Azure/azure-powershell <azure-powershell@noreply.github.com>
Cc: McGregor, Andrew <andrew.mcgregor@hpe.com>; Mention <mention@noreply.github.com>
Subject: Re: [Azure/azure-powershell] Unable to remove managed disks from Azure

[2019-02-22 03:36] shanswmicrosoft commented on #8559
We didn't see this issue before. Sorry I cannot explain why to you right now. It would be helpful if you send us the logs if you get the issue again. Very appreciate your help.

[2019-02-22 08:04] janegilring commented on #8347
My vote: Restore the cmdlet to its original expectation and notify the breaking change, as I have existing scripts/runbooks which relies on this behavior.

[2019-02-22 13:08] alexandair opened #8599 "[Az 1.3.0] ]Inconsistent naming: Set-AzVMBootDiagnostics and Set-AzVmssBootDiagnostic"
No reason to use "BootDiagnostics" in one, and "BootDiagnostic" in the other:

[code]

[2019-02-22 13:10] rwaal opened #8600 "Get-AzAutomationJobOutputRecord fails with JSON conversion error"
## Description
I am trying to get the full output of an Automation job output record. But it consistently fails with the following error:

"Conversion from JSON failed with error: Unexpected character encountered while parsing value: R. Path '', line 0, position 0".

I am using the cmdlet exactly as described in the [online docs](https://docs.microsoft.com/en-us/powershell/module/az.automation/get

[2019-02-22 13:12] alexandair opened #8601 "[Az 1.3.0] Get-AzVMBootDiagnosticsData: LocalPath parameter doesn't make sense in the Linux parameter set"
Get-AzVMBootDiagnosticsData has the Windows and Linux parameter sets.

`LocalPath` parameter doesn't make sense in the Linux parameter set, because the cmdlet is not saving anything to a disk when the `Linux` switch parameter is specified.

[2019-02-22 13:46] alexandair opened #8603 "[Az 1.3.0] Get-AzVMBootDiagnosticsData: Trailing "\" and other issues with the LocalPath parameter"
The `LocalPath` parameter expect a trailing `\` to be specified. That's not the usual practice. People usually specify just `c:\somefolder`.

The way how the Get-AzVMBootDiagnosticsData deals with the exception is also inconsistent.

If you specify a folder at the root of the drive and forget to specify a trailing `\`, you get an error.
Looking at the path info, you can realize that the trailing `

[2019-02-22 15:40] alexandair commented on #7977
@lwajswaj
The issue still exists in Az 1.3.0. And, I'm not the only one. Please, take a look at #8600

[2019-02-22 16:37] johnwc commented on #8335
When will this update be published to PowerShell Gallery? If not soon, can we at least get a "preview" release published? Can't use this command at all at the moment.

[2019-02-22 16:49] jordanbean1 commented on #8347
I agree that we should restore the cmdlet to its original expectation. The docs clearly show this was the intention and I would wager many people have implemented the code as the example shows.

[2019-02-22 17:11] jordanbean1 commented on #8347
More importantly, though, there is no way for us to work around this behavior now since it causes our PowerShell window to hang.

[2019-02-22 17:12] jaredmoo commented on #8335
Doesn't this version have the fix?

https://www.powershellgallery.com/packages/Az.Sql/1.2.0

Release Notes
* Add Get/Set AzSqlDatabaseBackupShortTermRetentionPolicy
* Fix issue where not being logged into Azure account would result in nullref exception when executing SQL cmdlets
* Fixed null ref exception in Get-AzSqlCapability

[2019-02-22 19:14] maddieclayton commented on #8600
@vrdmr Can you take a look at this issue?

[2019-02-22 19:16] #8578 closed

[2019-02-22 20:56] #8515 closed

[2019-02-22 22:39] lwajswaj commented on #7977
Does it happen with any type of runbook or what is the output you are trying to read?

[2019-02-23 01:18] JustinGrote commented on #7525
@markcowl thanks for the guidance!

I made a Powershell Module to wrap this functionality and used it to automate the setup of the Amazon Web Services Console application.

https://github.com/JustinGrote/Az.PortalAPI/blob/master/Az.PortalAPI/Public/Invoke-Request.ps1

The full module has lots of examples that use this Request Model.

[2019-02-23 17:18] muralijv commented on #4465
Hi
I am running on AzureRM.Insights  5.1.5 still getting the following error :

Command :
Set-AzureRmDiagnosticSetting -Name $diagsettingname -ResourceId $sqlServerResourceId
-WorkspaceId $WSID -Enabled $True -RetentionEnabled $True -RetentionInDays 30

Error Message :
Exception type: ErrorResponseException, Message: The diagnostic setting 'devUksSQLDBauth55diagsetting' doesn't exist., Code: Resou

[2019-02-23 17:19] muralijv commented on #6833
Hi
I am running on AzureRM.Insights 5.1.5 still getting the following error :

Command :
Set-AzureRmDiagnosticSetting -Name $diagsettingname -ResourceId $sqlServerResourceId
-WorkspaceId $WSID -Enabled $True -RetentionEnabled $True -RetentionInDays 30

Error Message :
Exception type: ErrorResponseException, Message: The diagnostic setting 'devUksSQLDBauth55diagsetting' doesn't exist., Code: Resour

[2019-02-23 17:19] muralijv commented on #7082
Hi
I am running on AzureRM.Insights 5.1.5 still getting the following error :

Command :
Set-AzureRmDiagnosticSetting -Name $diagsettingname -ResourceId $sqlServerResourceId
-WorkspaceId $WSID -Enabled $True -RetentionEnabled $True -RetentionInDays 30

Error Message :
Exception type: ErrorResponseException, Message: The diagnostic setting 'devUksSQLDBauth55diagsetting' doesn't exist., Code: Resour

[2019-02-24 18:03] johnwc commented on #8335
Whoa!! You're right @jaredmoo, I was looking at the parent AzureRM module, it was updated three months ago. Should have remembered that the AzureRM was a parent-child reference module.

[2019-02-24 18:59] JimmyKarlsson1 opened #8608 "Secret handled different in PS then AzureCLI"
## Description
There is a difference between azcli and Azure cmdlet handles secret in New-AzAdServicePrincipal.
When using azcli the secret is display in clear text, hence it can be used in Terraform configuration or what have you.
When using the New-AzADServicePrincipal, secret displays
Secret                : System.Security.SecureString

## Steps to reproduce

[code]

## Environment data

[code

[2019-02-24 21:34] blueelvis opened #8609 "Get-AzureKeyVaultSecret does not error out when the secret is not found"
## Description
`Get-AzureKeyVaultSecret` commandlet does not error out when a secret is not found. It should error out because the secret was not found.

## Steps to reproduce
1. Create a Key Vault
2. Ensure that your user has the proper access policies for managing the secrets.
[code]

## Module versions
[code]

## Debug output
[code]

## Error output
[code]

[2019-02-25 08:29] praharshp commented on #8240
Thanks a lot @cormacpayne . When can we expect this fix to be rolled out?

[2019-02-25 09:36] piroinno commented on #661
Where can we find the CI cmdlets?

[2019-02-25 10:10] inuvano-labs commented on #8587
Hi - is there any update on this issue? This is currently blocking us

[2019-02-25 11:34] lwajswaj commented on #8589
It seems you are trying to retrieve Azure Disk Encryption secret rather than any other secret, isn't it?

[2019-02-25 12:42] constantinhager commented on #8589
Yes that is indeed the case. This key vault is only for azure disk encryption

[2019-02-25 15:59] johnwc commented on #8335
@jaredmoo Wait, [AzureRM](https://www.powershellgallery.com/packages/AzureRM) does not reference Az.SQL. It references [AzureRM.SQL](https://www.powershellgallery.com/packages/AzureRM.Sql/), which is still has old release.

[2019-02-25 16:20] panchagnula commented on #661
here you go https://docs.microsoft.com/en-us/cli/azure/webapp/webjob?view=azure-cli-latest

[2019-02-25 16:32] pcgeek86 commented on #661
Unless I'm missing something obvious, those are not PowerShell cmdlets. That's the same link to the `az` CLI that you posted a month ago.

Here's the documentation that describes what a PowerShell cmdlet is: https://docs.microsoft.com/en-us/powershell/developer/cmdlet/cmdlet-overview

[2019-02-25 16:38] jaredmoo commented on #8335
Yes, that's right. You can see the announcement form the Azure PowerShell team here: https://azure.microsoft.com/en-us/blog/azure-powershell-cross-platform-az-module-replacing-azurerm/

[2019-02-25 17:29] #6509 closed

[2019-02-25 17:43] qiangwan commented on #8587
The error is clear
In the New-AzureRmSqlSyncGroup, you need to specify -SyncDatabaseName.
The sync Db is per region per subscription.
So if you already has sync group\agent under a subscription in 1 region, you can not specify other DB as sync DB when you call this.
For example,
Sub A in eastus already has sync group using sync DB foo. Then when you create a new sync group in the same region under

[2019-02-25 18:05] markcowl commented on #8608
@JimmyKarlsson1 Because PowerShell returns objects and not text, it is appropriate to use the corret secure objects when credetnaisl are used.  Generally, these are easier to us in PowerShell cmdlets as well, as most will also accept SecureString.

If you need to convert a secure string to a string value, you can use one fo the methdos as described here: https://stackoverflow.com/questions/2835214

[2019-02-25 18:08] markcowl commented on #8609
It seems appropriate for a ```Get``` cmdlet to return nothing if no matching value is found.  Unfortunately, this is not universally applied across the cmdlets (as it should be).

Why would throwing an exception in this case work better than returning nothing for your scenario?

[2019-02-25 18:11] markcowl commented on #8603
Yeah, wow, seems trivial for the cmdlet to normalize the path as required by the service.

@MaddieClayton Can we take a look at this, and fix or assign appropriately to the compute team?

[2019-02-25 18:13] markcowl commented on #8601
@maddieclayton Can we get clarity on the requirements of the underlyign API? If the API for linux does not use the path, then this should be reflected in the parameter sets, if possible.

[2019-02-25 18:45] JimmyKarlsson1 commented on #8608
Thanks for your reply @markcowl and I agree on passing secrets between cmdlets.
My thought was that azcli and Portal interface does not really align how Powershell how service principals secrets are working on initial setup. This gives a small easier getting started (at least the azure cli). Negible perhaps.
Azure CLI - password in clear text
[code]

Portal experience
![image](https://user-images.

[2019-02-25 19:15] lwajswaj commented on #8609
Agree with @markcowl as, in general, for cmdlets not behaving like this, you force this behavior by using -ErrorAction SilentlyContinue.

[2019-02-25 19:44] Nking92 opened #8614 "Improve help docs and error checking with New-AzWebApp -IncludeSourceWebAppSlots parameter"
## Description of the new feature
Add an additional check when cloning a web app with the -IncludeSourceWebAppSlots parameter. The parameter will only work when cloning the main app, not a slot. We should give a helpful error message to the user before actually sending the clone request to ARM.

Issue originally reported at https://github.com/MicrosoftDocs/azure-docs/issues/23135

## Proposed impl

[2019-02-25 20:10] panchagnula commented on #661
@pcgeek86 yes, this was in response to the question from @rajeshmag , to use the CLI commands for now, until these will be released in PowerShell as well, which we don't have an ETA as yet.

[2019-02-25 21:10] inuvano-labs commented on #8587
Thanks for the clarification - but I wouldn't say the error was clear. Interesting design decision!

[2019-02-25 21:23] #8587 closed

[2019-02-25 21:43] abatishchev opened #8615 "Executing Connect-AzureRmAccount programmatically under unprivileged user throws UnauthorizedAccessException"
## Description

I'm running my PowerShell script using C# API and console app runs under normal user (which indeed doesn't have the permissions to the said file) then it fails with an exception.

 Exception: System.UnauthorizedAccessException: Access to the path 'C:\\Users\\Default\\AppData\\Roaming\\Windows Azu
re Powershell\\AzureRmContext.json' is denied.
   at System.IO.__Error.WinIOError(Int3

[2019-02-25 23:32] abatishchev opened #8617 "Set-AzureRmStorageContainerImmutabilityPolicy throws Microsoft.Rest.Azure.CloudException: The server was unable to complete your request."
## Description

When I'm running my PowerShell script interactively it works fine. But if I'm running it using C# API then it fails with an exception:

 Exception: Microsoft.Rest.Azure.CloudException: The server was unable to complete your request.
   at Microsoft.Azure.Management.Storage.BlobContainersOperations.<CreateOrU
pdateImmutabilityPolicyWithHttpMessagesAsync>d__12.MoveNext()
--- End of s

[2019-02-25 23:56] ankushbindlish2 opened #8619 "Az.StorageSync : Test scripts need a common code for creating Azure File Share"
## Description
This issue is created to track a TODO in code for the following code which needs to be abstracted to common place.
**CloudEndpointTests.ps1**
 #TODO : Optimized the pattern to common code
        if(IsLive)
        {
            $azureFileShare = New-AzureStorageShare -Name $AzureFileShareName -Context $context
            $azureFileShareName = $azureFileShare.Name
        }

[2019-02-26 00:01] ankushbindlish2 opened #8620 "Az.StorageSync : Place ResourceNameCompleter for all parent non-root resources"
## Description
**\azure-powershell\src\StorageSync\StorageSync\CloudEndpoint\NewCloudEndpointCommand.cs**
[ResourceNameCompleter("Microsoft.StorageSync/storageSyncServices/syncGroups", "ResourceGroupName", "StorageSyncServiceName")]
Example : https://github.com/Azure/azure-powershell/blob/1ea343bf7d19534f39815647ccf0e9cc9d082da1/src/Sql/Sql/Common/AzureSqlDatabaseCmdletBase.cs#L43

## Steps to rep

[2019-02-26 00:02] maddieclayton commented on #8592
Hi @abatishchev - The issue here is that right now, Set-AzureRmKeyVaultAccessPolicy does a graph call to check that the ObjectId is valid, and your graph token is missing.  However, in the release tomorrow at 10am, I have added a fix that will only required the graph client to be created if you provide one of the parameter sets that does not contain ObjectId (in the case that you are required to d

[2019-02-26 00:02] #8592 closed

[2019-02-26 00:04] abatishchev commented on #6672
Hi, I'm having very similar issue, reported it here #8615.

[2019-02-26 00:10] ikanni opened #8621 "Version: 1.0.3 : Get-AzureRmEnvironment -Name AzureUSGovernment : Has wrong ActiveDirectoryAuthority for Fairfax"
## Description
1. Version: 1.0.3 : Get-AzureRmEnvironment -Name AzureUSGovernment : Has wrong ActiveDirectoryAuthority for Fairfax.
2. ActiveDirectoryAuthority   should be https://login.microsoftonline.us/ but the cmdlet is returning _https://login.microsoftonline.com/_
3. Version: 5.8.3(latest) : Get-AzureRmEnvironment -Name AzureUSGovernment : Returns the correct ActiveDirectoryAuthority for Fai

[2019-02-26 01:12] csand-msft commented on #8131
The team will fix this.

[2019-02-26 01:15] csand-msft commented on #7689
The team will fix this.

[2019-02-26 01:16] csand-msft commented on #7688
Fix (the error message is not helpful, the information is too limited to help with troubleshooting)

[2019-02-26 01:18] csand-msft commented on #6009
The community is welcome to work on this request.

[2019-02-26 01:19] csand-msft commented on #8131
Fix (if we allow the webhook to be created with name that has underscore character, then the other cmdlets should work with that)

[2019-02-26 01:20] csand-msft commented on #7689
Fix (the error message is incorrect)

[2019-02-26 01:21] csand-msft commented on #1815
Fix (the error message is incomplete)

[2019-02-26 01:24] dealaus commented on #8587
@inuvano-labs Thanks for the feedback; we agree that the error message can be improved. We're going to change this error message to:

We believe this conveys the problem better, but please let us know if you have any additional comments on this update!

[2019-02-26 01:25] csand-msft commented on #178
The community is welcome to work on this request.

[2019-02-26 01:26] csand-msft commented on #6846
Fix (bug that results in inconsistent cmdlet behavior)

[2019-02-26 01:28] csand-msft commented on #3773
The community is welcome to work on this request.

[2019-02-26 01:31] csand-msft commented on #3044
May be duplicate of #6846.  Team will fix.

[2019-02-26 01:52] abatishchev commented on #8615
Solution: add parameter `-Scope Process`.

Could this have been better documented, please?

[2019-02-26 07:30] panchagnula commented on #6354
The fix for this is in the following releasehttps://github.com/Azure/azure-powershell/releases/tag/v1.2.0-January2019

[2019-02-26 07:30] #6354 closed

[2019-02-26 08:55] cmendible commented on #7119
Hi guys any news on this?

[2019-02-26 12:58] constantinhager commented on #8589
Problem is solved. I can retrieve that secret now.

[2019-02-26 12:58] #8589 closed

[2019-02-26 15:25] aydeisen opened #8625 "Make -Name parameter of Get-AzResource a positional parameter"
## Description of the new feature
Is it possible to make the `Name` parameter in `Get-AzResource` a positional parameter?  I know it's such a minor thing, but when I'm working quickly, it's frustrating when the cmdlet fails just because I forgot to specify the parameter.

## Proposed implementation details (optional)
Make the `Name` parameter a positional parameter

[2019-02-26 15:45] constantinhager commented on #6944
Any Updates on that. I have the same problem

[2019-02-26 16:34] DianeHadley opened #8626 "Set-AzureStorageBlobContent: Context not mentioned in documentation"
The documentation for Set-AzureStorageBlobContent (and maybe other cmdlets) shows how you can use the command without the -Context tag, but doesn't explain that this only works if the Context has already been set before calling this cmdlet. I think it would be helpful to users to explain somewhere in the documentation that the Context must always be given (whether it's with the Set-AzureRmCurrentS

[2019-02-26 16:52] sphibbs commented on #8621
Closing this issue. Our docs should not be pointing at versions of profile that are over 3 years old. As you pointed out, this works in the current version.

[2019-02-26 16:52] #8621 closed

[2019-02-26 17:20] cormacpayne commented on #8599
@maddieclayton would you mind renaming the `Set-AzVMBootDiagnostics` cmdlet to remove the plural, adding an alias back to the old name, and adding a deprecation message about the alias being removed in an upcoming release?

[2019-02-26 17:45] alainvezina commented on #7844
I have the same issue

[2019-02-26 17:51] mgfink commented on #8138
This is still occurring....is anyone else seeing this or able to reproduce?

[2019-02-26 17:54] mgreenegit commented on #8347
@nitinbps and @avkaur for input.

[2019-02-26 18:10] alexandair commented on #8599
@cormacpayne @maddieclayton
Shouldn't we in this case use the plural `diagnostics` for both as we do for the `statistics`?
There are some other cmdlets with `diagnostics`?

[code]

[2019-02-26 18:28] cormacpayne commented on #8599
@alexandair I agree that having `Diagnostics` makes more sense than `Diagnostic`, but I'm being cautious about the plural noun pattern in PowerShell. I do, however, think that this (along with `Statistics` and a few other nouns) can go either way, so if it makes more sense to use `Diagnostics`, I'm all for changing the instances of the singular to be the plural. Let me know what you think.

[2019-02-26 18:30] abatishchev commented on #8617
Actually same error when running interactively.

### Debug output

[code]

### Error output

[code]

[2019-02-26 18:38] cormacpayne commented on #8626
@blueww Hey Wei, would you mind taking a look at this issue?

[2019-02-26 18:58] alexandair commented on #8599
@cormacpayne I'm all for Verb-SingularNoun. And consistency. :)
Change it to a singular, but don't forget the Redis cmdlets too.
And, what shell we do with:

[code]

Az modules are known for breaking that "singular noun" rule and there are lots of commands like setting/settings. rule/rules, detail/details...

Shouldn't we fix that for all misnamed cmdlets?

[2019-02-26 19:03] cormacpayne commented on #8599
@alexandair we should -- I do want to be mindful of the cmdlets that are actually following the rule by using a plural noun _and_ returning multiple objects, so that would be something we'd need to check for. We'll need to go through our cmdlets, find the ones ending in 's', throw out the false-positives (_e.g._, `Get-AzVmss`) and ensure that they don't _always_ return multiple objects.

[2019-02-26 19:20] markcowl commented on #8615
Closing, we should make sure this scenario is covered in #6185

[2019-02-26 19:20] #8615 closed

[2019-02-26 19:25] alexandair commented on #8599
@cormacpayne The naming convention is Verb-SingularNoun regardless of how many objects the cmdlet returns. Or, maybe I didn't understand you.

[2019-02-26 20:10] Vivihung commented on #6219
@grlin For _AzureRM PowerShell_ users, which module/library should we update to get the fix?
I'm still blocked by this issue. when calling **New-AzureRmADAppCredential**

[2019-02-26 20:17] panchagnula commented on #8138
@mgfink can you share the site name & the timestamp for this so we can debug on our end. Thanks!

[2019-02-26 20:24] mgfink commented on #8138
PS Azure:\> $asp=Get-AzureRmAppServicePlan -ResourceGroupName mgfsandmixednc-app-rg -name mgfnewsandnc-aspwebext
Azure:/
PS Azure:\> Set-AzureRmAppServicePlan -ResourceGroupName $asp.ResourceGroup -name $asp.Name -PerSiteScaling $true
Set-AzureRmAppServicePlan : Operation returned an invalid status code 'Created'
At line:1 char:1
+ Set-AzureRmAppServicePlan -ResourceGroupName $asp.ResourceGroup -n

[2019-02-26 20:34] cormacpayne commented on #8599
@alexandair interesting, I never noticed this differentiation before:

From [*Use a Specific Noun for a Cmdlet Name*](https://docs.microsoft.com/en-us/powershell/developer/cmdlet/strongly-encouraged-development-guidelines#use-a-specific-noun-for-a-cmdlet-name-sd01) section:

_It is best to follow this rule for all cmdlet names, even when a cmdlet is likely to act upon more than one item._

From [*

[2019-02-26 21:27] grlin commented on #6219
Any version of Az after 1.0 should include the fix. AzureRM is no longer being updated.

[2019-02-26 21:36] Vivihung commented on #6219
@grlin Thanks. I didn't realize Az is actually a package.
Looks like this one:
https://www.powershellgallery.com/packages/Az/1.4.0

[2019-02-26 22:25] ericame opened #8628 "Connect-AzAccount logs in to wrong account"
## Description
If I have previously logged in with one account (A), using Connect-AzAccount for a different account (B) connects me to the first account (A). Even after calling Logout-AzAccount, this issue persists.

## Steps to reproduce
1. Use Connect-AzAccount to login with account A.
2. Close the Powershell session.
3. Open a new session and use Connect-AzAccount to login with account B.

Belo

[2019-02-26 22:36] sean-nixon opened #8629 "Get-AzureRmRecoveryServicesAsrRecoveryPlan returns incorrect EndGroupActions"
## Description
When retrieving a recovery plan using `Get-ASRRecoveryPlan`, the `StartGroupActions` and `EndGroupActions` of each Group are the same. The `StartGroupActions` look like they are overwriting the `EndGroupActions` in the object returned by the cmdlet. This is causing issues in scripts to add/remove replicated items to and from groups, because it overwrites the EndGroupActions of the g

[2019-02-26 23:04] cormacpayne commented on #8617
@blueww Hey Wei, would you mind taking a look at this issue?

[2019-02-26 23:04] csand-msft commented on #5064
Because there is a easy workaround to use the New- cmdlet, we deprioritize this.  The community is welcome to help.

[2019-02-26 23:08] csand-msft commented on #5885
We are investigating what is involved with making Automation a trusted service with Storage.

[2019-02-26 23:12] csand-msft commented on #2085
Because there are reasonable workarounds: (a) Portal lets you upload from local file.  (b) Also, you can upload to storage blob and then pass URI to cmdlet. The community is welcome to help.

[2019-02-26 23:13] cormacpayne commented on #8629
@viverm @siddharth7 would one of you mind taking a look at this issue?

[2019-02-26 23:19] whoggett commented on #2085
Yeah, we've all worked around it and no clicking in the UI was required, thankfully.

[2019-02-26 23:22] cormacpayne commented on #8588
@xenalite would you mind doing one of the following:

(1) Update to the latest version of the `Az` module
(2) If you cannot migrate from `AzureRM` to `Az`, update to the latest version of `AzureRM`

[2019-02-26 23:24] #5893 closed

[2019-02-26 23:53] cormacpayne commented on #8628
@ericame Hey Erica, would you mind providing the results from the following commands?

- `Clear-AzAccount -Scope CurrentUser -Force`
    - Clears out all existing contexts you have on your machine
- `Connect-AzAccount`
    - Use the `@hotmail.com` account for this one
- `Get-AzContext -ListAvailable`
    - Lists all of the contexts you currently have on your machine
- Close PowerShell session and

[2019-02-27 00:04] DianeHadley opened #8631 "New-AzureRMResourceGroupDeployment: Parameters from parameter object AND parameter file"
As far as I can tell, parameters can only be defined by using -TemplateParameterFile OR -TemplateParameterObject (not both). I think it would be a helpful feature to be able to use both options. If this is not added as a feature, I think it would be helpful to add a more specific error message when a user tries to use both flags. The current error is just the generic "Parameter set cannot be resol

[2019-02-27 00:49] cormacpayne commented on #8631
@DianeHadley Hey Diane, thanks for filing this issue. It should be the case that the parameters are in sets that are mutually exclusive and that PowerShell will give a meaningful message if a user were to somehow provide both of those values together. Usually don't like to rely on custom error messages when it comes to providing parameters together, since PowerShell should handle that with properl

[2019-02-27 02:17] blueww commented on #8626
Set-AzureStorageBlobContent definitely need a storage context, or we don't know which storage account should the blob upload, and don't know the credential of storage account.

But after you set a default storage Context with "Set-AzCurrentStorageAccount" cmdlet, you don't need to specify the storage context in every storage cmdelts. The default context will be use if no Storage context specified

[2019-02-27 02:25] blueww commented on #8617
The error is reported from server. PowerShell just show the error from server as it is.
I will contact the feature team to see why server report the error, and update you later.

[2019-02-27 07:24] HsiaoH commented on #7638
Hi, just want to ask if this is still considered an issue or if there is an automated workaround for it?

[2019-02-27 08:01] FrodeOA opened #8633 "Connect-AzAccount"
## Description

## Steps to reproduce

[code]

## Environment data

[code]

## Module versions

[code]

## Debug output

[code]

## Error output

[code]

[2019-02-27 08:01] #8633 closed

[2019-02-27 08:19] FrodeOA opened #8634 "Connect-AzAccount : Exception has been thrown by the target of an invocation"
## Description

Connect-AzAccount fails with Connect-AzAccount : Exception has been thrown by the target of an invocation when trying to connect with just the cmdlet or any of the authentication methods

## Steps to reproduce

Run Connect-AzAccount, enter username and password and it fails

## Environment data

[code]

## Module versions

[code]

## Debug output

[code]

## Error output

[code]

[2019-02-27 14:58] sndkr opened #8637 "Login-AzAccount or Connect-AzAccount throws an exception"
for me is it currently not possible to use the functions Login-AzAccount or Connect-AzAccount with an ADFS Login, because the functions Login-AzAccount or Connect-AzAccount  throws the following exception:

Login-AzAccount : Federated service at https://[adfsUrl]/adfs/services/trust/13/usernamemixed returned error: ID3035: The request was not valid or is malformed.
In C:\[PathToMyPsScript].ps1:637

[2019-02-27 15:03] #8637 closed

[2019-02-27 15:14] sndkr opened #8638 "Login-AzAccount or Connect-AzAccount throws an ecxeption"
## Description
Currently is it not possible to use the functions Login-AzAccount or Connect-AzAccount with an ADFS Login (Mail address and password).

Maybe it is the same error in your lib as described here - https://github.com/AzureAD/azure-activedirectory-library-for-dotnet/issues/699

## Steps to reproduce

[code]

## Environment data
[code]

## Module versions
[code]

## Debug output

[code]

[2019-02-27 15:22] lwajswaj commented on #8347
Just in case, I agree with @jordanbean1 and @janegilring as all the documentation points that use case instead of the currently implemented. My PR creates that behavior.

[2019-02-27 16:19] markcowl commented on #8638
@sndkr Can you provide the output when running this command with $DebugPreference="Continue"?  Also, after the error, please execute ```Resolve-AzureRmError```

[2019-02-27 16:49] markcowl commented on #8634
@FrodeOA To help diagnose the issue, some additional information would be helpful:

- Debug stream output for the login cmdlet that fails.  Before executing login, set
[code]

- Loaded modules at the time of the error:
[code]

- The entire set of installed modules (not just Az modules)
[code]

- The set of assemblies loaded just before and just after the cmdlet is executed:
[code]

[2019-02-27 16:53] markcowl opened #8639 "Add ADAL traces to debug stream for Az"
## Description

ADAL uses a new tracing mechnism in 3.x.  Hook up to these traces and assure that they are printed to the Debug stream, as the old ADAL traces are

## Cost 4

[2019-02-27 17:20] abatishchev commented on #8617
Fails with same error regardless having trailing slash in audience or not.

At least concerning what I can control at my end:

[code]

[2019-02-27 19:36] cormacpayne commented on #8631
@DianeHadley Hey Diane, I just double-checked, and it appears that the sets for this cmdlet (and other `*-AzResourceGroupDeployment` cmdlets) are modeled properly, and that the following exception when providing two of `-TemplateParameterFile`, `-TemplateParameterObject` and `-TemplateParameterUri` in the same command call is correct:

[code]

In PowerShell, when working from the command line (rat

[2019-02-27 19:36] #8631 closed

[2019-02-27 21:01] cormacpayne commented on #8625
@aydeisen thanks for opening this feature request -- I can understand where the frustration is coming from (I've hit this issue a few times myself 😁), unfortunately, in PowerShell, it is an anti-pattern to have a positional parameter that is optional. In this specific case of `Get-AzResource`, we have a couple of things that could be the first positional parameter, such as `-Name`, `-ResourceGroup

[2019-02-27 21:01] #8625 closed

[2019-02-27 21:34] jude-chen opened #8642 "Set-AzStorageFileContent does not work in Azure Automation Runbook."
Set-AzStorageFileContent does not work in Azure Automation Runbook, always get "Illegal characters in path" error for the "source" parameter, no matter how good looking the source file path string is. However, the exact same code works just fine in an interactive PowerShell session on the same Azure VM where the hybrid worker is running.

After modifying the code to using AzureRM and Azure.Storage

[2019-02-27 23:35] #7349 closed

[2019-02-27 23:37] #8502 closed

[2019-02-27 23:44] #8543 closed

[2019-02-28 00:02] maddieclayton commented on #8491
Closing as we do not plan to support parallelization yet.

[2019-02-28 00:02] #8491 closed

[2019-02-28 00:26] dlepow opened #8643 "`error occured while evaluating OData query` when using -FilterExpression parameter in Get-AzVMImage"
## Description
`GetAzVMImage` has a `-FilterExpression` parameter that takes a string. Help documentation is limited to "Specifies a filter expression". I have unsuccessfully tried various OData filter expressions that I think are valid but see errors similar to
[code]
What is the expected format of the filter expression? If this is due to my user error with OData filter syntax, apologies in advan

[2019-02-28 01:37] maddieclayton commented on #8582
@abatishchev Can you try upgrading to our latest version of Az (not AzureRM) and see if you are still seeing this issue? I cannot replicate in my session with Az.

[2019-02-28 02:06] maddieclayton commented on #8595
Get-AzReleaseHighlights
[code]

Uninstall-Az
[code]

Update-Az
[code]

Get-AzVersionUpdate
[code]

Enable-AzAutomaticUpdate
[code]

Disable-AzAutomaticUpdate
[code]

Get-AzPreview
[code]

Get-AzMigrationGuide

[2019-02-28 02:12] blueww commented on #8642
This issue has same root cause as https://github.com/Azure/azure-powershell/issues/8531
Runbook team is working to fix the issue in runbook.
Will update when get progress.

[2019-02-28 05:20] abatishchev commented on #8582
Unfortunately I cannot upgrade to Az right away. But if you're saying it works there and won't back-ported to AzureRM then I think it's fine to close this issue. Thanks for your help!

[2019-02-28 06:58] FrodeOA commented on #8634
Sure, assemblies loaded before running
[code]

Assemblies after
[code]

Connect-Az

[code]

Get-Module
[code]

Get-Module -listavailable
[code]

[2019-02-28 06:58] asaleh81 commented on #6261
I'm using PowerShell AzureRm 6.13.1 with basic integration account and Set-AzureRmIntegrationAccountSchema is erroring out.

Set-AzureRmIntegrationAccountSchema : Unable to deserialize the response.
At C:\Workspace\sanmar\powershell\test-integration-account.ps1:20 char:1
+ Set-AzureRmIntegrationAccountSchema -ResourceGroupName $ResourceGroup ...
+ ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

[2019-02-28 08:04] sndkr commented on #8638
@markcowl  - Thanks for your comment - here the Debug informations.

## Debug Output
DEBUG: 08:58:57 - ConnectAzureRmAccountCommand begin processing with ParameterSet 'UserWithCredential'.
DEBUG: 08:58:57 - Autosave setting from startup session: 'Process'
DEBUG: 08:58:57 - No autosave setting detected in environment variable 'AzContextAutoSave'.
DEBUG: 08:58:57 - Using Autosave scope 'Process'
Log

[2019-02-28 09:38] blueww commented on #8617
@abatishchev
I have replied the mail thread with SRP team again.
Let's wait for their reply.

[2019-02-28 09:41] blueww commented on #8626
@DianeHadley
Do you have further questions?
Do you mind that I close the issue as the question is answered？
Feel free to contact us when you need assistance for the PowerShell storage cmdlets in the future.

[2019-02-28 10:19] dileep626 commented on #2286
Same problem with ARM

[2019-02-28 10:43] xenalite commented on #8588
@cormacpayne Hello.
Sorry, I thought 6.9.0 was latest as I installed it through Chocolatey.
I upgraded the module to 6.13.1. I can confirm the issue is no longer reproducible on this version.

[2019-02-28 10:43] #8588 closed

[2019-02-28 14:43] SamirFarhat commented on #3215
@teejam2 Thanks you, it worked !!

[2019-02-28 16:09] Mitch-P97 opened #8648 "Uninstall-AzureRM"
Shouldn't it be Uninstall-Module AzureRM?  And requires elevated privileges.

[2019-02-28 16:28] goldjg opened #8649 "Connect-AzAccount from VS Code opens login dialog in background, no taskbar icon"
## Description
When I execute the Connect-AzAccount command from the built-in Powershell terminal in VS Code, it appears to hang.

In truth, it has opened an Azure login dialog but that neither has focus, nor is visible on the taskbar, so if your VS Code window is open full screen (As mine always is) or in the top-left of the screen, you won't see the login dialog.

Contrast this to issuing the co

[2019-02-28 16:33] cormacpayne commented on #8648
@Mitch-P97 Hey Mitch, the reason that you cannot run `Uninstall-Module -Name AzureRM` (or `Uninstall-Module -Name Az`) is due to the fact that these modules have dependencies (`RequiredModules`) on the individual service modules that we ship. From the documentation for [`Uninstall-Module`](https://docs.microsoft.com/en-us/powershell/module/powershellget/uninstall-module):

_You cannot uninstall a

[2019-02-28 16:33] #8648 closed

[2019-02-28 16:36] cormacpayne commented on #8649
@goldjg thanks for filing this issue. It appears that this is a duplicate of issue https://github.com/Azure/azure-powershell/issues/8476, so I will close this issue in favor of the existing one where we will track the status of this. Please let me know if you have any questions!

[2019-02-28 16:36] #8649 closed

[2019-02-28 16:38] cormacpayne commented on #8643
@hyonholee Hey Hyonho, would you mind taking a look at this issue?

[2019-02-28 16:39] cormacpayne commented on #8642
Thanks for the update @blueww -- I'm going to close this issue in favor of the existing issue https://github.com/Azure/azure-powershell/issues/8531 so we can keep updates and track status in one place. Please let us know if you have any questions!

[2019-02-28 16:39] #8642 closed

[2019-02-28 17:53] SamirFarhat commented on #3215
Just a note, you don't need Owner permissions, you need only User Access Administrator role over Azure if you want to use your SPN to assign permissions

[2019-02-28 18:07] evgeniylu opened #8651 "Invoke-AzResourceAction : BadRequest : Cannot deserialize the current JSON object"
## Description

Running script that perfectly run on Azure Automation, but fail with unexpected error - Cannot deserialize the current JSON object

## Steps to reproduce
Upload script.ps1 into blob container.
#### script.ps1
[code]

And execute follow workflow:
[code]
On Azure automation executed without explicit workflow invocation.
On local machine - without login action.

## Environment data

[

[2019-02-28 19:04] maddieclayton commented on #8582
Unfortunately we are only fixing security related bugs in AzureRM, so if this issue cannot be replicated in Az I will assume it was fixed at some point - if you figure out that it is a specific setting that caused this issue for you I will definitely try to replicate in Az to ensure that it has indeed been fixed.

[2019-02-28 19:04] #8582 closed

[2019-02-28 19:09] evgeniylu commented on #8651
This code works without a problem:
[code]

[2019-02-28 19:18] ankushbindlish2 opened #8652 "Az.StorageSync Remove KailaniAppId(s) from Cmdlet code"
## Description

Mark : Ideally, this should be discoverable via API. Failing that, this should be an extended property of the built-in environment, meaning that you can just get the value from the environment in the same way. For a preview this is OK, but please file an issue to either add a discovery API, or add this value to the built-in environment extensions

https://github.com/Azure/azure-pow

[2019-02-28 19:22] markcowl opened #8653 "[StorageSync]: Add Environemnt extensiosn for static values"
## Description

The StorageSync cmdlets depend on an environemnt-specific SPN (KailaniAppID)  add the apopropriate value to the environment extensions for built-in environments

- [ ] Add extension key/value pair for Global and US Government Clouds to AzureEnvironment extension proeprties in powershell-common repo.

- [ ] Update cmdlet code to use the extension value

## Cost: 1

[2019-02-28 19:23] markcowl commented on #8652
Closing as duplicate of #8653

[2019-02-28 19:23] #8652 closed

[2019-02-28 19:23] ankushbindlish2 commented on #8652
https://github.com/Azure/azure-powershell/issues/8653

[2019-02-28 20:46] #6785 closed

[2019-02-28 21:03] matthchr opened #8655 "Batch models (i.e. PSVirtualMachineConfiguration) are not well documented"
Most of these share arguments and capabilities with their REST API counterparts being that they are auto-generated but some do have differing names with PS prefixed.  A direct mapping between the REST and PS Models can be found at [here](https://github.com/Azure/azure-powershell/blob/master/tools/BatchModelGenerator/Program.cs).

[2019-02-28 21:15] #2539 closed

[2019-02-28 21:47] ankushbindlish2 commented on #8653
https://github.com/Azure/azure-powershell-common/blob/master/src/Authentication.Abstractions/Extensions/AzureEnvironmentExtensions.cs

[2019-02-28 21:48] #8620 closed

[2019-02-28 21:48] #8619 closed

[2019-03-01 06:52] groovy-sky opened #8658 "Login to Azure with certificate from Linux environment"
## Description
I am trying non-interactive spn/certificate login(on Linux environment).

Run screenshot - https://ibb.co/3SMtqy7

## Steps to reproduce

[code]

## Environment data

[code]

## Module versions

[code]

## Debug output

[code]

## Error output

[code]

[2019-03-01 12:05] hash2code commented on #7330
Any progress on this requirement?

[2019-03-01 15:29] asote commented on #8336
Not sure if this is related but Get-AzRecoveryServicesVaultSettingsFile is throwing the following error when running the following command (aliases has been enabled). The cmdlet works fine on AzureRM 6.13.0

 Get-AzureRmRecoveryServicesVaultSettingsFile -Vault $Vault -SiteRecovery | Select-Object -ExpandProperty FilePath

Get-AzRecoveryServicesVaultSettingsFile : Parameter set cannot be resolved u

[2019-03-01 18:25] mehowq opened #8659 "Start-AzLogicApp Parameters not passed to Logic App workflow definition parameters"
## Description

The 'Start-AzLogicApp' command has a 'Parameters' parameter that ['Specifies a parameters collection object of the logic app. Specify a hash table, Dictionary<string>, or Dictionary<string, WorkflowParameter>'](https://docs.microsoft.com/en-us/powershell/module/az.logicapp/start-azlogicapp?view=azps-1.4.0). However, it seems the parameters are not passed into the Logic App.

## Ste

[2019-03-01 18:42] mehowq commented on #8659
The 'Parameters' object doesn't seem to be used anywhere https://github.com/Azure/azure-powershell/blob/master/src/LogicApp/LogicApp/Cmdlets/LogicApp/RunAzureLogicAppCommand.cs

[2019-03-01 18:56] mehowq commented on #8659
The API doesn't seem to accept 'Parameters' either https://docs.microsoft.com/en-us/rest/api/logic/workflowtriggers/run

[2019-03-01 19:23] bganapa opened #8660 "Disable data collection by default on azurestack disconnected environments"
## Description
In azurestack disconnected environments, just after install  the customers are advised to run Disable-AzureRmDataCollection.

Without disabling the telemetry data collection, the cmdlets take 20+ seconds to complete in some cases which usually take 2 or 3 seconds in connected scenario.

The extra delay is purely due to the time incurred in sending the telemetry requests which usuall

[2019-03-01 19:59] markcowl commented on #8658
On a non-windows machine, you will need to create and add your certificate to the LocalMachine or CurrentUser My store.  It is also a little complex to create the necessary X509Certificate2 that is needed to populate the store from a PEM file.  Once solution would be to use openssl to create a pkcs12 file that could be easily transferred to an X509Certificate2. (described in detail here: https://w

[2019-03-01 20:14] markcowl commented on #8651
@evgeniylu  Why are you executing the command this way, rather than using ```Invoke-AzVmRunCommand```

Also, can you provide the debug stream from a correct execution in Automation?  Generally you can get this by setting $DebugPreference="Continue" in your runbook script, and executing the runbook in the Test Pane

[2019-03-01 20:21] markcowl commented on #8659
@RandalliLama @schaabs It looks like this parameter is completely unused in the cmdlet - can one of you take a look?

[2019-03-01 20:59] groovy-sky commented on #8658
[markcowl](/markcowl) thank you very much. I was able to login, but some parts still didn't worked (I uploaded certificate manually and copied from the portal a thumbprint).

For me it would be very useful if I could provide public and private key as part of the Connect-AzAccount cmdlet. Could you, please, describe how-to do that?

[2019-03-01 21:46] fmicle commented on #8473
For some reason the Windows 10 Anniversary update has been failing to install on my laptop since the day it was published. I tried a few tricks, but nothing worked, so I guess I need to take my laptop to IT, since my domain policy doesn't allow me to install updates manually...

I also tried the powershell.exe.config route and I can't get the setting to change...

[2019-03-02 01:14] lwajswaj commented on #6899
@maddieclayton, can you confirm AZ 1.4 has been released (https://www.powershellgallery.com/packages/Az/1.4.0) so @wsmelton can test again?

[2019-03-02 01:16] maddieclayton commented on #6899
Yes! The release with the fix is now out.

[2019-03-02 01:51] solankisamir commented on #8547
Workaround till we fix in powershell

PS C:\WINDOWS\system32> Get-AzResource -ResourceType Microsoft.ApiManagement/service/products -ResourceName sdktestapim5797/starter -ResourceGroupName sdktestrg623 -ApiVersion 2018-01-01

Name              : starter
ResourceId        : /subscriptions/******/resourceGroups/sdktestrg623/providers/Microsoft.ApiManagement/service/sdktestapim5797/products/starter
R

[2019-03-02 07:06] maddieclayton commented on #6549
Base work done and logic applied to Compute! https://github.com/Azure/azure-powershell/pull/8492
Next core cmdlet:
- [ ] Network
- [ ] KeyVault
- [ ] SQL
- [ ] Automation
- [ ] Resources (where applicable)
- [ ] Storage
- [ ] Websites

[2019-03-02 07:07] maddieclayton commented on #5325
Closing in favor of https://github.com/Azure/azure-powershell/issues/8595

[2019-03-02 07:07] #5325 closed

[2019-03-02 09:05] maddieclayton commented on #8659
@refortie It looks like this parameter is completely unused in the cmdlet - can one of you take a look?

[2019-03-02 14:48] lwajswaj commented on #6899
@wsmelton, can you confirm if issue is fixed?

[2019-03-03 13:08] barakAtSoluto opened #8666 "Remove-AzureCertificate Fails Do Delete Expired Certificate"
## Description
The "Remove-AzureCertificate" command fails to delete certificates with status "Expired" from Cloud Services. It says it's used in a deployment but this is **wrong**.

The error thrown:
[code]

## Steps to reproduce

1. Log into your account `Connect-AzAccount`
2. Select the proper subscription  `Select-AzureSubscription -SubscriptionName <subscription_name>`
3. Make sure have a ser

[2019-03-04 01:57] jzuchora87 opened #8670 "New AzVm using shared gallery image not working"
## Description
Was asked to copy this issue over to here. [#25261]

#25261

@MicahMcKittrick-MSFT
@jdhuntington MicahMcKittrick-MSFT

## Steps to reproduce

Can you provide a bit more detail on the variable $imageversion.id? I've followed the guide and am at the last step of trying to create a VM in a different subscription but under the same tenant and am receiving the following error: New-AzVm :

[2019-03-04 02:03] krispenner opened #8671 "Get-AzureRmApiManagementSubscription ByProductAndUser"
## Description of the new feature
Allow specifying both -ProductId and -UserId on the Get-AzureRmApiManagementSubscription cmdlet to return a narrowed list of subscriptions.

[2019-03-04 02:15] blueww commented on #8473
@fmicle
Thanks for the update! Let me know if you need more assistant from us on this.

[2019-03-04 04:00] ibigbug opened #8672 "Get-AzContext return value"
Now the `Get-AzContext` will output to console by default.

I want to save the output to a variable for checking the SubID for example, instead of write text to screen.

Is that possible?

[2019-03-04 04:16] ibigbug commented on #8672
got it, bothered.

[2019-03-04 04:16] #8672 closed

[2019-03-04 06:04] barborico commented on #1528
I am experiencing the XML serialization issue when trying to pass `securestring` parameters in the `TemplateParameterObject`. Specifically,
[code]
serializes to something like
[code]
It works to pass the parameter as a direct PowerShell command argument though.

[2019-03-04 10:32] itshemant09 commented on #4983
is there any update on this >?
@asheniam @bsiegel

[2019-03-04 11:57] JohannesHoppe commented on #8240
Just for the records, executing this:

[code]
won't work. No exception is thrown, but also nothing happens!

[2019-03-04 12:46] salexu commented on #8122
This is now supported in the latest cmdlets version 1.4.0.
See https://docs.microsoft.com/en-us/azure/sql-database/sql-database-auditing#subheading-7 for links.

[2019-03-04 12:46] #8122 closed

[2019-03-04 14:07] groovy-sky opened #8675 "Can't upload certificate to app from powershell"
## Description
I am trying, using Az and openssl, to create Azure spn with a certificate. Right now I stuck on certificate upload - it works fine using a portal, but with powershell it doesn't work (certificate successfully uploads, but isn't seen in the portal and login also is not working).

## Steps to reproduce

[code]

## Environment data

[code]

## Module versions

[code]

## Debug output

[2019-03-04 14:52] tspring418 commented on #8240
@JohannesHoppe Yeah, i found that to be the case as well. I edited my comment previously to state that there is no change in the ip restrictions when i tested this, so it seems to run fine but doesn't actually perform anything, which is certainly strange!

[2019-03-04 16:56] JohannesHoppe commented on #8240
This is very frustrating! How I am supposed to manage our (expensive) infrastructure on Azure? By hand???

[2019-03-04 17:36] snehithm commented on #4983
Hi folks,

The cmdlets being talked about in this issue are for classic metric alerts. Cmdlets for v2 alerts are in the works. These should be available by End of march/early April.

@cormacpayne - you can close the issue.

Regards,
Snehith

[2019-03-04 17:57] cormacpayne opened #8678 "Remove Resources test dependency on SubscriptionCloudCredentials"
## Description

As mentioned in PR https://github.com/Azure/azure-powershell/pull/8593, we should remove the Resources test dependency on `SubscriptionCloudCredentials`, as used [here](https://github.com/Azure/azure-powershell/blob/9412a63d1e76af83730534e84d1a015070f5c7e8/src/Resources/Resources.Test/ScenarioTests/ResourceTestRunner.cs#L59-L71) and instead use `ServiceClientCredentials`. Once thes

[2019-03-04 19:50] MicahMcKittrick-MSFT commented on #8670
Adding @hyonholee @axayjo @cynthn who were working on the issue opened against the doc.

We can continue here.

[2019-03-04 20:18] matthchr commented on #7921
This is fixed in `1.0.1-preview` of the `Az.Batch` module.

You can acquire it by running the following:
`Install-Module -Name Az.Batch -Repository PSGallery -AllowPrerelease -Force`

[2019-03-04 20:18] #7921 closed

[2019-03-04 20:18] matthchr commented on #7863
This is fixed in `1.0.1-preview` of the `Az.Batch` module.

You can acquire it by running the following:
`Install-Module -Name Az.Batch -Repository PSGallery -AllowPrerelease -Force`

[2019-03-04 20:18] #7863 closed

[2019-03-04 20:18] matthchr commented on #6611
This is fixed in `1.0.1-preview` of the `Az.Batch` module. Everything is now `IDictionary`.

You can acquire it by running the following:
`Install-Module -Name Az.Batch -Repository PSGallery -AllowPrerelease -Force`

[2019-03-04 20:18] #6611 closed

[2019-03-04 20:58] jagilber opened #8681 "issue ServiceFabric/.../AddAzureRmServiceFabricNodeType.cs GetProfiles() NullReferenceException"
## Description
az / azurerm
issue ServiceFabric/.../AddAzureRmServiceFabricNodeType.cs GetProfiles() NullReferenceException.
Issue is caused by having an existing vm scale set with *no* extensions deployed in the same resource group as the service fabric cluster being modified by the add-azServiceFabricNodeType add-azureRMServiceFabricNodeType commands.

tested fix below is to not assume any exten

[2019-03-04 23:21] refortie commented on #8659
The problem actually lies in the Swagger and SDK and how we are generating the calls used in this cmdlet. It's a bug we have in our backlog, we just need to get it prioritized.

[2019-03-04 23:50] neerajmehta2000 opened #8684 "Need a power shell command for the Advanced App Restart features for azure appServices/webapp"
## Description

## Cost

[2019-03-04 23:51] neerajmehta2000 opened #8685 "Need a power shell command for the Advanced App Restart features for azure webapp/appservcie"
## Description of the new feature

## Proposed implementation details (optional)

[2019-03-05 00:01] dpurge commented on #2085
For automated deployments from a release definition clicking in the portal is not a viable  workaround. Uploading to blob storage and then passing the URL is a workaround that we actually use, we know it can be done.
My comment was meant to point out that GUI allows you to do something that command line does not. Comments in this thread show that at least some of your users do miss this possibilit

[2019-03-05 00:55] cormacpayne commented on #8684
Closing this issue in favor of https://github.com/Azure/azure-powershell/issues/8685

[2019-03-05 00:55] #8684 closed

[2019-03-05 00:56] cormacpayne commented on #8685
@panchagnula Hey Sisira, does your team have any plans in the future to add this functionality to PowerShell?

[2019-03-05 00:57] panchagnula commented on #8685
we had no plans - this was always on supported on Portal using Kudu/Scm & command line tools have no support & so no timeline to share on supporting this.

[2019-03-05 01:01] cormacpayne commented on #8681
@a-santamaria Hey Alfredo, would you mind taking a look at this issue, or reassigning the issue to someone else from the Service Fabric team?

[2019-03-05 01:05] cormacpayne commented on #8671
@solankisamir Hey Samir, would you mind taking a look at this feature request?

[2019-03-05 01:28] #8425 closed

[2019-03-05 01:34] maddieclayton commented on #8609
Closing as by design.

[2019-03-05 01:34] #8609 closed

[2019-03-05 01:34] solankisamir commented on #8671
ack

[2019-03-05 01:34] maddieclayton commented on #8628
@ericame Ping on the comment above.

[2019-03-05 04:44] EvgenyAgafonchikov commented on #3800
Fixed by https://github.com/Azure/azure-powershell/pull/8576

[2019-03-05 04:44] #3800 closed

[2019-03-05 08:37] ToMakeSense commented on #6913
Same issues still exists in AZ PowerShell 1.4.0 [Get-AzLogicAppTriggerCallbackUrl](https://docs.microsoft.com/en-us/powershell/module/az.logicapp/Get-AzLogicAppTriggerCallbackUrl?view=azps-1.4.0)

And I think the template version for logic app needs to be added( only version 2016-06-01 is listed in below links).
[Microsoft.Logic workflows template reference](https://docs.microsoft.com/en-us/azure/

[2019-03-05 09:27] asifma commented on #8531
I have the same issue when running a runbook in a Hybrid Worker which has .Net 4.7.2 installed.
By switching to the old Azure.Storage module I need to use all the old RM Modules as well and cant get started with Azure AZ...

[2019-03-05 09:36] blueww commented on #8531
Automation team is working to fix the issue in runbbok.

[2019-03-05 13:23] RichardMisiak opened #8690 "New-AzureRmResourceGroupDeployment for Azure Search fails with 'Cannot update GeoRegion for an existing search service'"
## Description

Some time between 2019-03-02 and today (2019-03-05) we are unable to deploy Azure Search through ARM if the service already exists. This error occurs when running locally through powershell or in Azure Devops using the `Azure Resource Group Deployment` task.
An equivalent template last ran successfully in our CI on `2019-03-02T06:37:28.3341300Z`.
Prior to this the template has been

[2019-03-05 13:29] smithanc commented on #8557
I have also run into this issue. @artisticcheese Was a fix ever found?

[2019-03-05 13:30] smithanc commented on #8638
I have also run into this issue. @sndkr Did you ever find a fix?

[2019-03-05 13:36] sndkr commented on #8638
@smithanc
No, I did't find a fix for this problem. I hope of the next release.

[2019-03-05 13:46] artisticcheese commented on #8557
I did not try it but I think just replacing that DLL file with proper version might fix it. I will try later today to see.

[2019-03-05 13:58] smithanc commented on #8638
Just so the team is aware, I am not having this issue with Az.Accounts version 1.3.0 but I have the error on version 1.3.1. Not sure if that is somehow impacting or not.

[2019-03-05 16:30] vladimir-shcherbakov opened #8693 "[Automation Account Tests] direct call to [Microsoft.Azure.Test.HttpRecorder.HttpMockServer] in *Common.ps1"
## Description

Direct call to [Microsoft.Azure.Test.HttpRecorder.HttpMockServer] gets used in *Common.ps1 to get test mode value.

[code]
This should be fixed with one of the possible ways:
1) Put the call into try-catch block and return "Record"
2) Upload [Microsoft.Azure.Test.HttpRecorder.HttpMockServer] proxy.

## Cost
2

[2019-03-05 17:27] vladimir-shcherbakov opened #8694 "[Automation Account Tests] Management script fails to parse job result stream."
## Description
Report flow:

1. Automation Account runbook job put results into verbose stream:
[code]

2. Management script waits for the  job completion:
[code]
 and fails on `$_ | Receive-Job -Keep` call with the exception:
[code]
## Cost 2

[2019-03-05 17:53] abatishchev opened #8695 "Cannot verify the Microsoft .NET Framework version 4.5.2 because it is not included in the list of permitted versions"
## Description

I'm authoring a script that would programmatically connect to AzureRM using AccountId and AccessToken (of an AAD app), load necessary modules, and perform some ARM and KV operations. On this line:

[code]

I'm getting this verbose message I try to decipher:

**VERBOSE: Cannot verify the Microsoft .NET Framework version 4.5.2 because it is not included in the list of permitted versi

[2019-03-05 18:08] maddieclayton commented on #6913
@refortie Can you take a look at this issue?

[2019-03-05 18:13] maddieclayton commented on #8695
@abatishchev Please attempt a repro on Az and let us know if you continue to see this issue.

[2019-03-05 18:31] abatishchev commented on #8695
Will do!

[2019-03-05 19:51] lukeuhren opened #8697 "Az Module Crashes Powershell ISE"
Az Module causes Powershell to become unresponsive and crash.... I posted a question to it here https://social.technet.microsoft.com/Forums/windowsserver/en-US/f80d6936-06a5-4c2b-88e0-60979ae6a7cd/azure-az-powershell-module-crashes-powershellunresponsive?forum=winserverpowershell#f80d6936-06a5-4c2b-88e0-60979ae6a7cd as well with full details on issue. It appears others have the same issue. Could t

[2019-03-05 20:14] a-santamaria commented on #8681
Thanks for reporting. Yes, I'll follow up to fix this.

[2019-03-05 21:32] edyoung opened #8698 "Set-AzureRmVirtualNetworkGatewayVpnClientConfig alias still exists but underlying cmdlet has been deprecated"
## Description
## Steps to reproduce

[code]

## Environment data

[code]

## Module versions

[code]

## Error output

[code]

[2019-03-05 21:59] refortie commented on #6913
So I'm not sure what the issue is here. The version in the response for the callback URL is tied to the API version used to call the endpoint. So in the Portal the 2016-10-01 API version is being used, whereas the SDK/PowerShell cmdlet is using 2016-06-01 version.

[2019-03-05 22:31] brianstringfellow opened #8700 "Az.Sql: Get-AzSqlDatabaseFailoverGroup Does Not Return Values for FailoverGroupRead<Only/Write>Endpoint"
## Description
When calling `Get-AzSqlDatabaseFailoverGroup` to retrieve information about the SQL failover group, the properties for `FailoverGroupReadOnlyEndpoint` and `FailoverGroupReadWriteEndpoint` are empty. It is expected that the properties contain FQDNs for each endpoint, such as those shown in the portal.

E.g. from portal:
![image](https://user-images.githubusercontent.com/22823524/5384

[2019-03-05 22:55] cormacpayne commented on #8690
@brjohnstmsft Hey Bruce, would you mind taking a look at the above result from deploying search?

[2019-03-05 22:59] cormacpayne commented on #8697
@joeyaiello Hey Joey, would you mind commenting on the above about VS Code usage?

[2019-03-05 23:05] cormacpayne commented on #8700
@brianstringfellow Hey Brian, would you mind providing the corresponding debug output when running the above command? You can do this by setting `$DebugPreference="Continue"` before running the command(s).

[2019-03-05 23:06] masisley commented on #6219
@grlin I'm attempting to use this new api, but I'm failing with a new error. It appears that we fail to retrieve the application from graph and receive a 404. I can open a new issue if you'd like:

PS C:\Users\masisley> Get-AzureADServicePrincipal -ObjectId 31e7eee0-2015-490c-9581-776b4eca9c36

ObjectId                             AppId                                DisplayName
--------

[2019-03-05 23:08] cormacpayne commented on #8566
@claytonmartin I'm going to close this issue in favor of existing issue https://github.com/Azure/azure-powershell/issues/8476, we will be tracking the fix for this UI bug in that issue.

[2019-03-05 23:08] #8566 closed

[2019-03-05 23:10] v-gonzaron opened #8701 "Authentication Loop while trying to connect to AzAccount module"
[ps-debug.txt](https://github.com/Azure/azure-powershell/files/2933525/ps-debug.txt)

### Description
I've remove my PowerShell AzureRM module and upgraged & installed the Azure Az Module.

There are 2 TWO issues:
1: when issing a Connect-AzAccount command I'm getting prompted with the username and password dialog instead of the device login diaglog

2: when I attempt to use my crednetials that ar

[2019-03-05 23:12] cormacpayne commented on #8608
@JimmyKarlsson1 Since CLI returns their results in text, they don't have the option to return a "secret" type like we can in PowerShell with `SecureString`. We return this as a `SecureString`  for security reasons, as mentioned above, and you should feel free to use the provided document from @markcowl to convert this object to a string.

[2019-03-05 23:12] #8608 closed

[2019-03-05 23:21] cormacpayne commented on #8638
@markcowl see if the logging provided by https://github.com/Azure/azure-powershell/pull/8696 will help in getting more information for this issue

[2019-03-05 23:21] cormacpayne commented on #8651
@evgeniylu ping on the above comments

[2019-03-05 23:25] cormacpayne commented on #8658
@groovy-sky I'm going to close this issue in favor of https://github.com/Azure/azure-powershell/issues/8675 -- any additional comments from this issue can be addressed there

[2019-03-05 23:25] #8658 closed

[2019-03-05 23:30] brianstringfellow commented on #8700
Here is the output for `Get-AzSqlDatabaseFailoverGroup`

[code]

[2019-03-05 23:32] cormacpayne commented on #8701
@v-gonzaron

(1) If you would like to skip the interactive login and use device code flow, you can provide the `-UseDeviceAuthentication` parameter to enable this login behavior

(2) The dialog prompt that you're seeing is determined by your STS, so you will need to contact your AD domain administrator as this message is coming from their end rather than Azure.

[2019-03-05 23:32] #8701 closed

[2019-03-05 23:34] grlin commented on #6219
Hi @masisley I think this is a separate issue.

[2019-03-06 00:04] v-gonzaron commented on #8701
He has the Device authentication enabled, and he actually gets the authentication SMS.
However, after he inputs that txt the authentication loops and never logs in.

Does the parameter you provided me Enable that feature? or disables it?

[2019-03-06 00:08] cormacpayne commented on #8701
If you're using Windows PowerShell (PowerShell 5.1) and run `Connect-AzAccount` and are prompted to provide credentials in a window that pops up, you can run `Connect-AzAccount -UseDeviceAuthentication` to use device code flow to authenticate. Providing this additional parameter will notify the user of the code they must use in `https://microsoft.com/devicelogin` to authenticate.

[2019-03-06 00:30] v-gonzaron commented on #8701
In this case the user is NOT using the -usedeviceauthentication parameter. However the Code for auth is still getting to his phone. Then He gets the error shown on the screenshot, and loops into an auth failure untill completely errors out.

So, we checked all over Azure AD, and no MFA is been implemented or enabled. There is no MFA enforcement at all coming from Azure AD, so it has to be from som

[2019-03-06 00:34] artisticcheese commented on #8557
Replacing DLL did not work, it seems to be strongly signed and hence will not be possible to be replaced

[2019-03-06 01:01] ericame commented on #8628
Sorry! I missed the original notification! Here's the results for **Hotmail session**:

PS C:\WINDOWS\system32> Clear-AzAccount -Scope CurrentUser -Force
Clear-AzAccount : The term 'Clear-AzAccount' is not recognized as the name of a cmdlet, function, script file, or operable program. Check the spelling of the name, or if a path was included, verify that the path is correct and try again.
At line:

[2019-03-06 01:58] brjohnstmsft commented on #8690
This is a known issue with the Azure Search resource provider. We are preparing a hotfix now.

In the meantime, one possible workaround would be to use separate templates for existing and new services, and for the case of existing services, do not set the location property.

We apologize for the inconvenience this has caused.

[2019-03-06 05:00] zakimaksyutov opened #8704 "Add -ResourceId parameter for all core Get-Az* commands"
## Description of the new feature

Allow to retrieve a resource by ResourceId.

There are cases when only Resource Id is known (for instance, Public IP Prefix has an array of Public IP Address resource identifiers). But it is not possible to retrieve a resource directly since many commands require Name / ResourceGroupName parameters.

It means that we either need to call Get-AzResource first and t

[2019-03-06 05:01] zakimaksyutov commented on #8704
Stack Overflow: https://stackoverflow.com/questions/55014516/how-to-get-azpublicipaddress-based-on-resourceid

[2019-03-06 09:57] blueelvis commented on #8609
@markcowl Yea, this type of behavior should be applicable across all types of `Get` commandlets for Azure PowerShell. But thanks! I will not write few more lines of code to catch this.

@lwajswaj - Thanks!

[2019-03-06 15:12] ronhowe commented on #8473
I'm still having issues with this.

Here are the contents of my powershell.exe.config.

[code]

I run the following as a test:

[code]

When I run that while RDP'd into my Azure Automation Hybrid Worker, I get $false.

When I run that remotely on that Azure Automation Hybrid Worker via a Runbook, I get $true.

[2019-03-06 15:26] ronhowe commented on #8531
Glad to see this is getting fixed.  I'm new to Azure Automation with Hybrid Workers and new to using the Az module and getting this error was frustrating and making me doubt I was doing anything right.

[2019-03-06 16:14] TomaszOledzki commented on #8240
Example code I'm using to update existing rule in ipSecurityRestrictions. Works on AzureRM 6.13.1 and Api 2018-11-01:
[code]

[2019-03-06 16:36] markcowl commented on #8701
The dialog you are displaying, and processing it are determined by your local STS (thus the log for your domain that appears in the dialg - it is actually a browser window on a dialog presented by your STS.

It is most likely that the issue is with this dialog, or an incompatibility between your default browser settings and this dialog.  Your domain Administrator is the one who should eb able to h

[2019-03-06 17:14] cormacpayne commented on #8599
Here's the full list of plural cmdlets that we currently ship:

[code]

[2019-03-06 21:03] jormdav commented on #8634
I encountered this today as well, but got around it with some module juggling, if it helps root cause this:

Recently I'd uninstalled the `AzureRM` module from my machine, as I'd heard there may be conflicts with `Az` which I wanted to start using.
I'd still an older version of `Azure` installed (5.1.2). I ran `Install-Module Azure` to get 5.3.0 in place, but received:
`Install-Package : The follo

[2019-03-06 22:50] cormacpayne commented on #7930
The fix for this will be available in the upcoming release of `Az` (version 1.5.0 released on March 12th, 2019).

[2019-03-06 22:50] #7930 closed

[2019-03-06 22:51] cormacpayne commented on #2933
The fix for this will be available in the upcoming release of `Az` (version 1.5.0 released on March 12th, 2019)

[2019-03-06 22:51] #2933 closed

[2019-03-06 22:51] cormacpayne commented on #7672
This has been fixed.

[2019-03-06 22:51] #7672 closed

[2019-03-06 22:58] cormacpayne commented on #8240
The fix for this piping scenario will be available in the upcoming release of `Az` (version 1.5.0 released on March 12th, 2019).

@JohannesHoppe would you mind filing a separate issue for the bug you're seeing with `Set-AzResource` not working as intended so we can get the full steps to repro this, as well as the debug trace? Thanks in advance 😀

[2019-03-06 22:58] #8240 closed

[2019-03-06 23:03] cormacpayne commented on #8476
This issue should be resolved when the `Az` module moves to the `Microsoft.Identity.Client` authentication library and uses a different mechanism for interactive login that opens a new tab in your default browser rather than a windows prompt. You can track the status of this work here: https://github.com/Azure/azure-powershell/issues/7358

[2019-03-06 23:07] cormacpayne commented on #7358
We have an initial prototype with this interactive login functionality working on PowerShell Core, so this will be released when the `Az` module fully migrates to the `Microsoft.Identity.Client` authentication library (MSAL), which we expect to happen in within the next few months. Any additional updates will be posted in this issue.

[2019-03-07 01:22] maddieclayton commented on #8700
@v-djnisi @jaredmoo Can you take a look at this issue?

[2019-03-07 02:28] zakimaksyutov opened #8714 "Scripts hang due to reporting usage data"
## Description

A few days ago noticed that my deployment scripts (many Az commands) started handing at random places. Using Fiddler learned that every Az command tries to upload usage data and sometimes hangs for 2 minutes (and gets 500):

![image](https://user-images.githubusercontent.com/15914532/53927913-2174db80-403d-11e9-92a2-94f01828aeb7.png)

It is not consistent.

## Expected behavior

I'

[2019-03-07 05:10] ToMakeSense commented on #6913
@refortie  thanks for your reply. In my option, the  API version should be the same whatever tools is used to get it.

[2019-03-07 06:37] imeya opened #8716 "the powershell cmdlet Get-AzWebAppMetrics failed with bad request"
When I use the cmdlet Get-AzWebAppMetrics, it failed to execute with error message: Get-AzWebAppMetrics : Operation returned an invalid status code 'BadRequest'.
I don't know what's wrong with it. can you please let me know how to correct the error? Thanks.

![error-ps](https://user-images.githubusercontent.com/25738099/53936960-90f2d580-40e6-11e9-9eec-4d67cc81f260.JPG)

[2019-03-07 07:03] blueww commented on #8473
@ronhowe
I am not sure how can you change the powershell.exe.config of runbook.
Automation team is trying to fix this in runbook, and before that is fixed, the Set/Get-AzStorageBlobContent should not work in Runbook.

You might can use the old cmdlet in Azure.Storage module as a workaround.

[2019-03-07 09:52] skaarup1986 commented on #8531
Is there any timeline on this fix?

[2019-03-07 16:25] tobvil commented on #7977
I have exacly the same issue on pwsh 6.1.3.
No issue on pwsh 5.1
Hope the PR will fix it.

[2019-03-07 16:28] cormacpayne commented on #8716
@imeya thanks for filing this issue -- for issues with the `Az` module, we provide a template for users to fill out to give the Azure PowerShell team enough information to investigate the issue.

Below is the template that you should fill out in another comment:

## Description

## Steps to reproduce

[code]

## Environment data

[code]

## Module versions

[code]

## Debug output

[code]

## Erro

[2019-03-07 16:30] cormacpayne commented on #8714
@zakimaksyutov thanks for filing this issue -- we will take a look and let you know if there's any additional information need from your side

[2019-03-07 16:52] cormacpayne commented on #8704
@zakimaksyutov thanks for opening this feature request -- to provide more insight as to why the issues you mentioned above were closed: all new cmdlets that we ship in `Az` must conform to the pattern of having parameter sets that allow the user to do the following:

- Provide the components of a resource (_e.g._, resource group name, resource name, etc.)
- Provide the resource id of a resource
-

[2019-03-07 18:26] zakimaksyutov commented on #8714
I think you should do fire and forget approach for this telemetry - send it over the network and return. Reporting usage data must not interfere with main load.

Right now usage reporting adds overhead for every command. And usage telemetry endpoint might have quite different SLA (all SDKs do it asynchronously) than Azure ARM RP.

[2019-03-07 18:48] ankushbindlish2 opened #8719 "Get-AzADServicePrincipal : Insufficient privileges to complete the operation."
## Description
Guest User on Microsoft Tenant doesn't have access to call ActiveDirectory cmdlets like Get-AzAdServicePrincipal. How do we grant permission to this user in Azure portal?

## Steps to reproduce

[code]

## Environment data

[code]

## Module versions

[code]

## Debug output

[code]

## Error output

[code]

[2019-03-07 19:11] AnatoliB commented on #8531
The fix on the Azure Automation service side is being deployed now, and is already available in some regions. ETA for all regions: 3/31.

[2019-03-07 20:07] markcowl commented on #8719
Here is a discussion of adding permissions to service principals:https://docs.microsoft.com/en-us/azure/active-directory/develop/v1-permissions-and-consent

Here is a discussion fo the roles you can assign to users: https://docs.microsoft.com/en-us/azure/active-directory/develop/v1-permissions-and-consent

Unfortunately, this all has to be done through the portal - there is no public API that allo

[2019-03-07 20:07] #8719 closed

[2019-03-07 20:23] markcowl commented on #8638
@smithanc @sndkr This error indicates a communication problem with your local eSTS, we have just enabled additional debugging information in the version going out in the next release (3/12). If needed, we can make these bits available to you early for debugging purposes.

Also, does this occur when using interactive authentication, or when providing a PSCredential on the command line.

[2019-03-07 20:42] markcowl commented on #8455
So the issue is actually here: https://github.com/Azure/azure-powershell/blob/af37e27433527fbcfebe5f52fdc510b4e9ac14e2/tools/ScenarioTest.ResourceManager/XunitTracingInterceptor.cs#L44

Where a message sent with no arguments should simply be written without using string.format.

This is a simple enough fix - we just need to treat the single string and string with arguments separately in the Write

[2019-03-07 21:06] IanMercer commented on #7166
This also prevents the ASE ILB address from being available to use as the output of an ARM template.

    InternalServerError: ResourceDeploymentFailure
    The response for resource had empty or invalid content

[2019-03-07 21:07] panchagnula commented on #8138
@mgfink - the 'Created' status code is a new code that was added, however, the .NET SDK version Powershell is using hasn't been updated, so this throws as an unknown error code. The operation is successful, & so you can ignore this error for now. We will update our SDK soon, @Nking92 will update this issue once we update our SDK!

[2019-03-07 22:00] royshea opened #8721 "Backup-AzKeyVaultCertificate / Restore-AzKeyVaultCertificate Restores In Wrong Order"
## Description

Backup and restore of key vault certificates that have multiple versions fails to maintain the version ordering.  It appears that the restored key vault certificate reverses the version order.

[code]

Also validated in 1.2.1.

## Steps to reproduce

[code]

## Environment data

[code]

## Module versions

[code]

## Debug output

[code]

## Error output

[code]

[2019-03-07 22:03] ankushbindlish2 commented on #8455
Yes. That's correct.

[2019-03-07 23:16] markcowl commented on #8698
Unfortunately, I think we have to close this as 'won't fix'.  Part of the reason for having these aliases is to mask the matching AzureRM cmdlets if both sets of modules are installed.  Removing this alias would cause  an even more uninformative error message in this scenario.

[2019-03-07 23:16] #8698 closed

[2019-03-07 23:57] ericame commented on #8628
[code]

[2019-03-08 00:54] markcowl commented on #8226
@kilasuit

Sorry it took so long to respond.

We do understand that changes are painful, we do not make changes like this lightly, and it is fair for you to dispute that name changes for modules and cmdlets were necessary / desirable.

Given that we did make the change, I think the cmdlets to enable and disable aliases are more in line with our goals around simplicity and ease of use than static a

[2019-03-08 01:32] bganapa opened #8726 "In Remote PS sessions while logging in with service principal with key Get-AzureRMSubscription fails with 'unable to acquire token'"
## Description

While doing Get-AzureRMSubscription in a Remote PS session after logging in with SPN + ClientSecret the cmdlet fails with WARNING: Unable to acquire token for tenant 'xxx'

Though we faced this issue in AzureStack, the issue should repro with AzureCloud with CSP accounts.

## Steps to reproduce

Create a service principal with key on a  tenant
Create a remote ps session
Login with

[2019-03-08 05:43] dpbevin opened #8727 "Import-AzApiMangementApi docs incorrect"
## Description

When attempting to **update** an API using `Import-AzApiManagementApi` I found it was required to specify the `ApiId` parameter. The documentation states that ApiId is optional parameter.

The docs followed were [https://docs.microsoft.com/en-us/powershell/module/azurerm.apimanagement/import-azurermapimanagementapi?view=azurermps-6.13.0](docs)

## Steps to reproduce

[code]

## Env

[2019-03-08 05:43] dpbevin opened #8728 "Import-AzApiMangementApi docs incorrect"
## Description

When attempting to **update** an API using `Import-AzApiManagementApi` I found it was required to specify the `ApiId` parameter. The documentation states that ApiId is optional parameter.

The docs followed were [https://docs.microsoft.com/en-us/powershell/module/azurerm.apimanagement/import-azurermapimanagementapi?view=azurermps-6.13.0](docs)

## Steps to reproduce

[code]

## Env

[2019-03-08 05:45] dpbevin commented on #8728
Similar to https://github.com/Azure/azure-powershell/issues/6965

[2019-03-08 08:48] imeya commented on #8716
**Description**
Get-AzWebAppMetrics failed with bad request.

**Steps to reproduce**

open powershell prompt, input  Get-AzWebAppMetrics with correct parameters

**Environment data**

NA

**Module versions**
Az.Accounts    1.2.1
Az.Compute    1.2.0
Az.Monitor      1.0.0

**Debug output**
NA

**Error output**
Operation returned an invalid status code 'BadRequest'.

[2019-03-08 08:49] imeya commented on #8716
@cormacpayne , added. Thank you.

[2019-03-08 13:36] dglambert commented on #7802
I observed the same issue, missing k, and nothing running on port 8001.
Validated with `netstat -ano | "8001"` no results.
Also, did a
[code]
no results.

[2019-03-08 16:22] cormacpayne commented on #8727
Closing this issue in favor of https://github.com/Azure/azure-powershell/issues/8728 as it seems to be a duplicate.

[2019-03-08 16:22] #8727 closed

[2019-03-08 16:23] cormacpayne commented on #8728
@solankisamir Hey Samir, would you mind taking a look at this issue?

[2019-03-08 18:13] zakimaksyutov commented on #8714
Here is ingestion latency for usage data for one of the healthy clusters:

![image](https://user-images.githubusercontent.com/15914532/54046355-e67fbe80-4188-11e9-83dc-fe484871ae55.png)

Note, by doing synchronous reporting you easily add 1-2 seconds latency on regular basis. Plus in many cases cmdlets will hang for way longer period of time up to 2 minutes.

The interesting part is that reported

[2019-03-08 18:40] cormacpayne commented on #8721
@maddieclayton would you mind validating whether or not this is a quick fix, or if we should loop in the KeyVault contacts to take a look?

[2019-03-08 18:58] markcowl commented on #8462
This is complete.  Verified that Mono.Posix.NetSTanard is not required for STorage scenarios

[2019-03-08 18:58] #8462 closed

[2019-03-08 18:59] markcowl commented on #8455
Fixed in #8725

[2019-03-08 18:59] #8455 closed

[2019-03-08 18:59] markcowl commented on #8639
Fixed and released to TestGallery

[2019-03-08 18:59] #8639 closed

[2019-03-08 19:02] ankushbindlish2 commented on #8455
Thank you !

[2019-03-08 19:22] markcowl commented on #8634
@jormdav
This definitely has to do with module load ordering.  The issue is most likely this loaded assembly:
[code]

The issue is that this assembly brings in other dependencies (like Newtonsoft.Json), and has a backwards-compatible version (2.0.0 for both the version in PartnerCenter and the version in Az).  Az is using the later version of the assembly.

If you load PartnerCenter before loading

[2019-03-08 19:26] maddieclayton opened #8730 "Add PPG to simple parameter set"

[2019-03-08 19:28] markcowl commented on #8638
@sndkr @smithanc There is a new version of the Az.Accounts module on the Test Gallery that will provide additional AD logging in the debug stream.  If you are confortable with installing modules from the test repository, it would be helpful if you could gather additional debug logs for this issue:

[code]
then if you set ```$DebugPreference="Continue"``` and execute the failing login, we should be

[2019-03-08 20:59] isaiahwilliams commented on #8634
Hi @FrodeOA,

I am the owner of the Partner Center PowerShell module. There has been reports from other partners about this same issue. After some investigation I discovered the root cause and made the necessary changes. This issues has been resolved with version [1.5.1902.5](https://www.powershellgallery.com/packages/PartnerCenter/1.5.1902.5). Can you try updating and letting us know if you are s

[2019-03-08 21:29] alex-3sr opened #8732 "Error encountered: TypeError: n.properties(...).settings(...).ladCfg(...).diagnosticMonitorConfiguration is not a function"
Hi,

I'm trying to set Azure Linux diagnostics from PowerShell with Az Module. During operation, all is doing fine, but when I try to check on GUI I can't see any logs in diagnostics settings menu and have this error :

![image](https://user-images.githubusercontent.com/38663389/54056531-a5bb9000-41f0-11e9-9df6-66faabecafe4.png)

On my PS scripts, I use a sample like this one https://raw.githubuse

[2019-03-08 22:06] maddieclayton opened #8733 "Investigate failure for TestSimpleNewVmssImageName for 4.5.2"
## Description

## Cost

[2019-03-08 22:13] markcowl commented on #6751
Fixed

[2019-03-08 22:14] #6751 closed

[2019-03-09 03:10] ChristopherGLewis opened #8735 "Set-AzVirtualNetworkSubnetConfig doesn't work with ServiceEndpoints"
## Description
Set-AzVirtualNetworkSubnetConfig doesn't work with ServiceEndpoints - it tries to send 'Microsoft.Azure.Commands.Network.Models.PSServiceEndpoint' as a string, not a type.

All examples show adding a service endpoint as a string ('Microsoft.Storage') but the behind object is a PSServiceENdpoint that is a Service and Location array.

    ProvisioningState Service       Locations

[2019-03-09 12:44] lwajswaj commented on #8694
I think this issue is also fixed with this PR: https://github.com/Azure/azure-powershell/pull/8607; different approach but it sounds like a similar scenario to other two issues (https://github.com/Azure/azure-powershell/issues/7977 and https://github.com/Azure/azure-powershell/issues/8600)

[2019-03-09 15:30] SamBlakeC commented on #8458
@alexandair @maddieclayton Do you know how to format the output? For example, instead of seeing Value[0]
Code:
Level:
Display:
Message:

If you only wanted to see the Message: of Value[0], how would you do that?

[2019-03-10 19:35] KrishnaG-MSFT opened #8738 "Get-AzAutomationDscNodeConfiguration cmdlet execution fails (with unterminated literal error) if we use it's parameter 'ConfigurationName'"
## Description
Get-AzAutomationDscNodeConfiguration cmdlet execution fails if we use it's parameter 'ConfigurationName'.

## Steps to reproduce

[code]

## Environment data

[code]

## Module versions

[code]

## Debug output

[code]

## Error output

[code]

[2019-03-11 07:25] sachidanand opened #8739 "functionapp:I need to create Python Azure Function using Az PowerShell"
Hi,
  I need to create Python Azure Function using AZ PowerShell command. So could you please let me know which command it this.
The AZ Command I am using is below, but I need a Az PowerShell Command for This
az functionapp createpreviewapp -n buhler-uat-we-snapit-diehole-algorithm -g buhler-uat-snapit-dieholealgorithm -l ""westeurope"" -s buhleruatsnapitalgo --runtime python --is-linux

[2019-03-11 08:16] cluppino opened #8740 "Get-AzNetworkSecuritygroup Output differs from Get-AzureRmNetworkSecurityGroup"
Output from Get-AzNetworkSecurityGroup is the equivalent of Get-AzureRmNetworkSecurityGroup | Format-List

Expected output should be the table format

ResourceGroupName | Name | Location | ProvisioningState
------------ | ------------- | ------------ | -------------
resgroup1 | nsg1 | australiaeast | Succeeded

Cloud Shell along with PS AZ module produce the | Format-List output of the entire NSG

[2019-03-11 09:53] dalibormesaric commented on #8628
I can confirm the described issue. Running `Clear-AzContext -Scope CurrentUser -Force` solved it (Or it removed my other account).

Should I be running `Clear-AzContext -Scope CurrentUser -Force` every time before `Connect-AzAccount`?

[2019-03-11 16:13] mgfink commented on #8138
@panchagnula that sounds good & thank you for the update!  Once the code has been released, I will do a retest.

[2019-03-11 16:21] 4c74356b41 opened #8742 "New-AzAks doesnt work with default settings"
## Description
New-AzAks uses slightly **cough** outdated aks versions and doesnt work

## Steps to reproduce
[code]

## Environment data
[code]

## Module versions
[code]

## Debug output
[code]

## Error output
[code]

Only available versions with autocomplete 1.7.7 and 1.8.1, but it accepts 1.12.6, for example, and works.

[2019-03-11 16:26] ViswanathAkondi commented on #2278
Agreed i have spent many days trying to figure out if it was missing mentioning any parameters in the file
and it turns out that this is a Bug .
I have been trying to create a unique name for storage account everytime i run the template using the Guid feature and everytime it would be needing me to specify the name and template.json to get the resource template working. However post giving these d

[2019-03-11 16:57] v-gonzaron commented on #8701
The parameter -UseDeviceAuthenticationCode   has solved the login problem.
However, now the customer is asking where can he find the STS at the On premise, since he does not seem to have activated anything.

where can I get to know if the STS is active or any logs to obtain data?

[2019-03-11 20:43] bganapa commented on #8726
The issue persists on remote sessions when using with the SPN + ClientKey. The issue goes away with SPN + Certificates . Form the conversation with Mark

The token acquired for the Service Principal with Secret Key  does not come with a refresh token. So we need to store the key for future renewal of the tokens. In AzureRM versions, this key is stored in the windows credential store. In the remote

[2019-03-11 20:47] maddieclayton commented on #8651
Closing for inactivity - @evgeniylu Please reopen if you are able to provide the requested information above.

[2019-03-11 20:47] #8651 closed

[2019-03-11 23:20] markcowl commented on #8742
@mboersma Sounds like w eneed to update our suggested values for orchastrator version, cna you take a look?

[2019-03-11 23:25] markcowl commented on #8740
@avijitgupta @chandrasekarsrinivasan  I thought we were automatically creating the table formats for network.  Can we please add in the appropriate formatting.  You can use the tools provided here:  https://github.com/Azure/azure-powershell/blob/master/documentation/development-docs/generate-format.ps1xml-file.md#how-table-view-output-works-by-default to simplify.

[2019-03-11 23:27] markcowl commented on #8739
@sphibss @sisrap Can you please respond about Functions support in Azure PowerShell?

[2019-03-11 23:30] markcowl commented on #8738
@safeermohammed @eamonoreilly It looks like generation fo the query string in this cmdlet is failing, can you take a look?

[2019-03-11 23:33] panchagnula commented on #8739
@ahmedelnably - can help you here.

[2019-03-11 23:38] markcowl commented on #8735
@avijitgupta @chandrasekarsrinivasan Can you take a look?

[2019-03-12 03:39] felickz opened #8746 "New-AzPolicyDefinition Metadata parameter not functional"
## Description
The **New-AzPolicyDefinition** _Metadata_ parameter is not functional.  Setting the value as per examples does not show in the portal, powershell output, or powershell GET commands.  (same issue on AzureRM module).  Viewing DEBUG output from powershell command shows the metadata properly set in request and response.

[Example 4](https://docs.microsoft.com/en-us/powershell/module/az.

[2019-03-12 06:53] sndkr commented on #8638
@markcowl Today I installed your test module - here the result of the module Az.Accounts V 1.4.0

## Module versions

[code]

## Debug output
[code]

## Error output
[code]

[2019-03-12 10:08] techmechnegi opened #8750 "Import-Module Az - cannot be loaded beacause its operation is blocked bysoftware restriction."
## Description

## Steps to reproduce

[code]

## Environment data

[code]

## Module versions

[code]

## Debug output

[code]

## Error output

[code]

[2019-03-12 10:10] techmechnegi commented on #8750
PS C:\WINDOWS\system32\WindowsPowerShell\v1.0> Import-Module Az
Import-Module : File C:\Program Files\WindowsPowerShell\Modules\Az\1.4.0\Az.psm1 cannot be loaded because its operation is blocked by software restriction policies, such as those
created by using Group Policy.
At line:1 char:1
+ Import-Module Az
+ ~~~~~~~~~~~~~~~~
    + CategoryInfo          : SecurityError: (:) [Import-Module], PSSec

[2019-03-12 13:51] jberezanski-mdg opened #8753 "Add support for configuring the RebootSetting to New-AzAutomationSoftwareUpdateConfiguration"
## Description of the new feature
Since September 2018, [Update Management supports specifying the reboot behavior](https://feedback.azure.com/forums/905242-update-management/suggestions/34941754-ability-to-schedule-the-exact-reboot-time) when scheduling a update deployment (never reboot, always reboot, reboot without installing updates). This setting is exposed as a "rebootSetting" property on th

[2019-03-12 15:25] daprieto1 commented on #8690
Another solution could be delete the azure search resource before to deploy the template with the update. This error does not happen always.

[2019-03-12 16:47] its-just-jo commented on #8634
@isaiahwilliams I had the same Issue as described above. Installing the new version helped for me. Thank you :)

[2019-03-12 17:00] RichardMisiak commented on #8690
@brjohnstmsft I haven't tested extensively but this appears to be fixed now (3/3 deployments succeeded), thanks

[2019-03-12 17:51] vladimir-shcherbakov commented on #8750
@techmechnegi
1. Please provide an output of the `Environment data` and  `Module versions` sections by editing your [initial comment](https://github.com/Azure/azure-powershell/issues/8750#issue-419900161).
2. Could you briefly describe your use case - what is your goal?

[2019-03-12 18:16] vladimir-shcherbakov commented on #8746
@ravbhatnagar  Could you take a look?

[2019-03-12 18:19] vladimir-shcherbakov commented on #8732
@danielsollondon Could you take a look?

[2019-03-12 18:46] Cavorter opened #8756 "Error using TargetListener or TargetListenerID with AzApplicationGatewayRedirectConfiguration cmdlets"
## Description

When attempting to create a new RedirectConfiguration resource in an Azure Application Gateway it is not possible to specify a TargetListener or TargetListenerID without getting the following error:
[code]

This error occurs with `Add-AzApplicationGatewayRedirectConfiguration`, 'New-AzApplicationGatewayRedirectConfiguration', and 'Set-AzApplicationGatewayRedirectConfiguration`.

Th

[2019-03-12 21:24] vladimir-shcherbakov commented on #8756
@akshaysngupta Could you take a look?

[2019-03-12 21:39] vladimir-shcherbakov commented on #8726
@bganapa Since we have a workaround (SPN+cert) and it's fixed in Az - do we need to do anything here?

[2019-03-12 21:53] bganapa commented on #8726
I do not think we expect a fix in AzureRM at this time, since Az is the future. I would love to know why Get-AzureRmSubscription asked for the renewal of the token while the token we just acquired is not expired.. I think this issue would be applicable for the Az module Get-AzSubscription as well. I would keep this issue open till we have an understanding of this issue

[2019-03-12 22:01] vladimir-shcherbakov commented on #8716
@imeya Could you please add the Debug Output as described on our issue template?
[code]

[2019-03-12 22:14] vladimir-shcherbakov commented on #8634
@FrodeOA Closing, please see @isaiahwilliams [response](https://github.com/Azure/azure-powershell/issues/8634#issuecomment-471074287).

[2019-03-12 22:14] vladimir-shcherbakov commented on #8634
-

[2019-03-12 22:14] #8634 closed

[2019-03-13 00:19] cluppino commented on #8740
The Get-AzNetworkInterface is also outputting in Format-List vs Table in AzureRM. Can this command and others within the AzNetwork module please be added for investigation.

[2019-03-13 00:32] marckean opened #8763 "Problem with a Rest API call using Get-AzureRMResource cmdlet when dealing with '#' symbols"
[20190313 AzureRM, Az issue.docx](https://github.com/Azure/azure-powershell/files/2959235/20190313.AzureRM.Az.issue.docx)

## Description

Problem with a Rest API call using Get-AzureRMResource cmdlet when dealing with '#' symbols

## Steps to reproduce

See attached doc

## Module versions

ModuleType Version    Name                                ExportedCommands
---------- -------    ----

[2019-03-13 00:34] marckean opened #8764 "Problem with a Rest API call using Get-AzResource cmdlet when dealing with '#' symbols"
## Description

Problem with a Rest API call using Get-AzResource cmdlet when dealing with '#' symbols

## Steps to reproduce

See attached doc

## Environment data

[code]

## Module versions

[code]

## Debug output

[code]

## Error output

[code]
[20190313 AzureRM, Az issue.docx](https://github.com/Azure/azure-powershell/files/2959234/20190313.AzureRM.Az.issue.docx)

[2019-03-13 00:34] alexandair opened #8765 "[1.5.0] With the added support for the wildcards, help info for parameters needs an update too"
In 1.5.0 wildcard support was added for the Get cmdlets in Az.Compute and Az.Network.
"Accept wildcard characters" property for the parameters in the help files needs to update from `False` to `True`.

[2019-03-13 00:42] maddieclayton commented on #8765
@alexandair Thanks for pointing this out - I will work on getting this in for the next release.

[2019-03-13 02:13] imeya commented on #8716
@vladimir-shcherbakov , updated.

[2019-03-13 04:47] i255d commented on #4007
Why don't you show how the script can be ran and work?

[2019-03-13 06:43] ranokarno opened #8766 "sql server automatic tuning desired_state 'unspecified'"
## Description

Azure SQL server automatic tuning show desired_state unspecific

__The automatic tuning configuration is not specified. Please specify it by selecting one of the options above.__

## Steps to reproduce

[code]

## Environment data

PS /home/admin> $PSVersionTable
Name                           Value
----                           -----
PSVersion                      6.1.0
PSEdition

[2019-03-13 07:44] deepnetwork commented on #7119
I hit a similar issue but with a different resource type:

The delete operation actually succeeded, but somehow ...

It's curious that the time separation is nearly 60 seconds.