[2018-11-29 11:32] franzoir commented on #7892
We have the same problem.
`Name                           Value
----                           -----
PSVersion                      5.1.17134.407
PSEdition                      Desktop
PSCompatibleVersions           {1.0, 2.0, 3.0, 4.0...}
BuildVersion                   10.0.17134.407
CLRVersion                     4.0.30319.42000
WSManStackVersion              3.0
PSRemotingProtocolVersion      2

[2018-11-29 12:05] ronbok opened #7956 "Credentials Expired?"
### Description

Your Azure credentials have not been set up or have expired, please run Connect-AzureRmAccount to set up your Azure credentials.

Despite this being Az, not AzureRM, we get an error that tells you to use Connect-AzureRmAccount?

Also, this code worked fine on Windows, Windows PowerShell, using AzureRm.  When reloading the saved file, it's not logging you back in

### Script/Steps

[2018-11-29 15:15] rabrahamOpti commented on #7805
@blueww Could you please keep this open until the originally reported issue is resolved? (StorageAccountName is not being correctly set). Whatever is updating the fields of this object has the storage account name, as it appears in the URIs for BlobEndPoint, TableEndPoint, etc etc. And if it's not passed in, that field is better left blank.

In regards to 403 error I was experiencing, I verified t

[2018-11-29 15:44] #7933 closed

[2018-11-29 15:45] RPCMarkR commented on #7933
Thanks for the information.

[2018-11-29 16:50] cormacpayne commented on #7955
@ronbok Hey Ron, thanks for the issue. This is an issue with `PowerShellGet` (as outlined in [this issue](https://github.com/PowerShell/PowerShellGet/issues/114)) -- the `Uninstall-Module` cmdlet is currently unavailable to uninstall dependent modules, which leaves behind all of the `Az.*` modules when trying to uninstall `Az`. However, we do have documentation for creating an `Uninstall-AllModule

[2018-11-29 16:50] #7955 closed

[2018-11-29 20:07] AspenForester opened #7957 "Remove-AzureRmAutomationRunbook doesn't obey confirm parameter"
### Description

Remove-AzureRmAutomationRunbook appears to support the -confirm parameter, but doesn't actually obey it.

-Confirm:$False is generally expect to suppress the confirmation messages when the confirmation impact value of the command is high.

Instead Remove-AzureRmAutomationRunbook prompts before removing a runbook..

### Script/Steps for Reproduction

[code]

### Module Version

[co

[2018-11-29 22:45] markwkjr commented on #2605
Upgrading to the latest AzureRM module to the latest `6.13.1` version corrected this for me.

Until I figured that out, as a work-around I used the following. It may be a little slower depending on how many Resources you have but:
[code]

[2018-11-29 23:30] maddieclayton commented on #7088
Done.

[2018-11-29 23:30] #7088 closed

[2018-11-30 00:28] MiYanni opened #7958 "Fix New-AzureRmRoleAssignmentWithId in AzureRM.Resources.ps1, add New-AzureRmRoleAssignment and Remove-AzureRmRoleAssignment"
In our `ScenarioTest.ResourceManager` common library, we export `AzureRM.Resources.ps1` file. This file contains common functionality used by scenario tests for our modules. The file contains thin versions of common Resources modules. These functions are simply calling our internal Resources SDK directly and do not rely on the Resources module.

However, [New-AzureRmRoleAssignmentWithId](https://g

[2018-11-30 00:46] MiYanni opened #7959 "Use internal Storage SDK for AzureRM.Storage.ps1 in Common"
For our `ScenarioTest.ResourceManager` project, we use a couple of ps1 files that are used by module scenario tests, `AzureRM.Resources.ps1` and `AzureRM.Storage.ps1`. These files contain functions that are similar to actual cmdlets from the respective modules. However, these functions only use the SDK calls directly. This allows the scenario tests that rely on this common functionality to use the

[2018-11-30 02:12] blueww commented on #7805
@rabrahamOpti
Good to know that Oauth finally works for you in PowerShell by set the correct RBAC role.

For the account name issue, I have filed a PR to change it to [AccessToken] when the credential is Oauth. This can let user know the authentication of the context, and is better then empty.

For Portal, I am not sure what do you mean by "role restriction", if you mean owner don't have blob acce

[2018-11-30 03:11] MiYanni commented on #7959
@blueww No. This applies to modules using Storage SDK for testing. This is not related to the Storage module.

[2018-11-30 05:55] anoopkv39 opened #7960 "exception error while enabling managed identity service"
### Description

Trying to enable Managed Identity Service for my function app using PowerShell. Application is hosted on ASE V2

### Script/Steps for Reproduction

[code]

### Module Version

[code]

### Environment Data

[code]

### Debug Output

[code]

[2018-11-30 14:45] rabrahamOpti commented on #7805
@blueww Two points:

1) The field shouldn't have been blank in this case, right? Whatever is updating the fields of this object has the storage account name, as it appears in the URIs for BlobEndPoint, TableEndPoint, etc etc.

2) If it's useful to include information about the authentication of the context, why not create a separate field for it? It shouldn't be added to a field that wasn't create

[2018-11-30 15:18] edtheshed opened #7962 "New-AzureRmDataLakeStoreItem validation on account name invalidates valid names"
### Description

(I have replaced account names and usernames with non real values)
When running New-AzureRmDataLakeStoreItem with a valid Account Name, it gives back the error message:

`New-AzureRmDataLakeStoreItem : Account name accountname.azuredatalakestore.net/ is invalid. Specify the full account including the domain name.
`

The error message comes from ADLSClient.cs. There is a regex to v

[2018-11-30 18:06] cormacpayne commented on #7962
@rahuldutta90 Hey Rahul, I believe this issue is covered by PR https://github.com/Azure/azure-powershell/pull/7916, correct?

[2018-11-30 18:07] cormacpayne commented on #7960
@panchagnula Hey Sisira, would you mind taking a look at this issue?

[2018-11-30 18:09] rahuldutta90 commented on #7962
@cormacpayne  yes correct.

Till the next release comes out, @edtheshed can you please pass the full adls account name including the domain as a workaround. For ex: if your account name is contoso then pass -Account "contoso.azuredatalakestore.net". That should mitigate the issue.

[2018-11-30 18:12] athipp commented on #3380
FYI, the correct issue to track internally is - https://powerbi.visualstudio.com/Analysis%20Services/_workitems/edit/131000

[2018-11-30 19:43] #6959 closed

[2018-11-30 19:46] #6755 closed

[2018-11-30 22:16] bingbing8 opened #7968 "Get-help does not work well on release 6.1.1"
### Get-help does not work well on release 6.1.1

### Script/Steps for Reproduction

[code]

### Module Version

[code]

### Environment Data

[code]

### Debug Output

[code]

[2018-12-01 00:15] markcowl opened #7971 "Reset Changelogs for Az 1.0"
### Description

- [x] Individual RP changelogs
- [x] Global chaneglog
- [x] Update release notes script

### Cost: 1

[2018-12-01 00:40] #6756 closed

[2018-12-01 01:56] markcowl opened #7972 "Az Installer"
### Description

MSI Installer for Az
- [x] Only for net472/PowerShell 5.1, similar to current installer, x86 and x64 versions
- [x] Add check for net472
- [x] Add warning for AzureRM side-by-side installation

### Cost: 2

[2018-12-01 02:45] markcowl commented on #7456
Fix is checked in.  will be in 12/18 release.

[2018-12-01 02:45] #7456 closed

[2018-12-01 05:38] daxian-dbw commented on #7876
@markcowl @vladimir-shcherbakov I think I got to the bottom of this issue. It's because `Connect-AzAccount` uses incorrect `resource` and `api-version` when requesting for the token using the URI from `MSI_ENDPOINT` (in my case, `http://127.0.0.1:41733/MSI/token/`). So a `BadRequest` (400) response is received and `HttpClientOperationsFactory.SafeSendRequestAsync` moves on to the `DefaultBackupMSI

[2018-12-01 05:51] pragnagopa commented on #7876
Cc @mattchenderson @jeffhollan  Incase they have context on api version
Used in sandbox

[2018-12-01 12:51] itsramz opened #7976 "unable to deploy ARM templates in automation account"
### Description

### Script/Steps for Reproduction

[code]

### Module Version

[code]

### Environment Data

[code]

### Debug Output

[code]

[2018-12-01 15:30] alexandair opened #7977 "[Az 0.6.1] Start-AzAutomationRunbook ends with a JSON conversion error"
Every time I start a runbook using the Start-AzAutomationRunbook, job completes as expected, but I get an error:
[code]

[2018-12-02 13:50] MaximoTrinidad commented on #7456
@markcowl

That's Awesome!!  Looking forward to it.
Thanks again

[2018-12-03 05:14] anirudhgarg commented on #7876
From here: https://docs.microsoft.com/en-us/azure/app-service/app-service-managed-service-identity#using-the-rest-protocol looks like the only supported version for app service MSI is 2017-09-01 so that well maybe the issue here.

[2018-12-03 05:16] anirudhgarg commented on #7876
Also the http://localhost:50342/oauth2/token endpoint is for the older implementation of MSI in VM's which uses the MSI VM extension which is in the process of getting deprecated so this will obviously not work in the Functions Sandbox.

[2018-12-03 06:11] jimmyfit opened #7979 "Set-AzureRmNetworkInterface fails in Azure Automation"
### Description

When an Azure Automation runbook job hits the Set-AzureRmNetworkInterface cmdlet (AzureRM.Network version 6.9.1), no ARM actions are initiated, the subsequent line in the runbook never runs, and the runbook eventually fails with the following error:

The runbook job was attempted 3 times, but it failed each time.  Common reasons that runbook jobs fail can be found here:  https://d

[2018-12-03 08:19] blueww commented on #7805
@rabrahamOpti

StorageAccountName will be empty in the code you mentioned, when it's credential isn't key, since it's empty in CloudStorageAccount.Credentials.AccountName.

We can't easily to parse it out from the endpoint, since there are too many things need to consider like secondary location, managed disk ......, there are no existing function to do it, and write a function to do it might will

[2018-12-03 08:54] rudfoss opened #7980 "Using New-AzResourceGroupDeployment with -TemplateParameterObject and -TemplateParamterFile together throws "Parameter set cannot be resolved using the specified named parameters""
I'm using the cmdlet `New-AzResourceGroupDeployment` to deploy a small ARM template (single web app and server farm). The deployment works correctly when I only supply the `-TemplateParamtereFile` argument, but when I try to add `-TemplateParameterObject` with some additional parameters it fails with this error:

[code]

It does not seem to be a problem with either my parameters file or with the t

[2018-12-03 10:42] edtheshed commented on #7962
ah cool you guys are on it already! thanks very much

[2018-12-03 10:42] #7962 closed

[2018-12-03 13:09] benmillaneasos commented on #7763
Again, chasing for an update or response here please

[2018-12-03 16:55] rabrahamOpti commented on #7805
@blueww Alternatively, if `StorageAccountName` is empty in most use cases, and will end up containing information about the authentication context, in most use cases, perhaps you should rename the field to be something like `AuthenticationType`. That way it would accurately reflect the information contained in the field.

[2018-12-03 18:00] ShivaKodkandla opened #7986 "Set-AzureRmVmCustomScriptExtension not working on -TypeHandlerVersion 1.9.1 / 1.9.2 /1.9.3"
Set-AzureRmVmCustomScriptExtension not working on -TypeHandlerVersion 1.9.1 / 1.9.2 /1.9.3: failed with below error, but when i kept the typehandlerversion as 1.9 it worked.

![image](https://user-images.githubusercontent.com/45571707/49391948-17e48a80-f753-11e8-8939-4ccb75b0c728.png)

powershell - 5.1
azure:
- Script     5.9.1      AzureRM.Compute
-Script     6.13.1     AzureRM

Set-AzureRmVmCust

[2018-12-03 18:49] cormacpayne opened #7987 "Scan repository for FW links"
Currently, there is an issue with the forward link for organizational vs Microsoft accounts, found here: https://github.com/Azure/azure-powershell-common/blob/dev/src/Authentication/Properties/Resources.Designer.cs#L198-L205

We need to scan the repository for other forward links that are outdated and either (1) contact the owner of the link to update to the correct URL, or (2) replace the link wi

[2018-12-03 19:01] MiYanni opened #7989 "Automation test failures"
We're noticing that there are intermittent failures on tests. We believe this has to do with running the tests in parallel. You can easily reproduce these failures by rerunning the tests in the Test Explorer in the Automation solution (as part of this PR https://github.com/Azure/azure-powershell/pull/7973). For now, we are skipping these tests as we don't allow inconsistent tests to be ran on chec

[2018-12-03 19:08] MiYanni opened #7990 "Completer test failures"
After creating the Az solutions (in the PR https://github.com/Azure/azure-powershell/pull/7973), the completer tests are failing. This may be related to using the internal ResourceManager client. All module test projects (aside from Resources) use the internal client now. So, this might have something to do with the failures. These tests need to be investigated.

[2018-12-03 20:12] nyanhp opened #7992 "Remove-AzureRmDisk -AsJob fails with InvalidCastException"
### Description

Remove-AzureRmDisk -AsJob fails consistently with an InvalidCastException, while running it without the AsJob parameter consistently works very well, but takes long.

The following exception is raised:
[code]

Installing the beta Az module is currently not an option.

### Script/Steps for Reproduction

[code]

### Module Version

[code]

### Environment Data

[code]

### Debug Out

[2018-12-03 21:34] markcowl commented on #7372
No longer needed

[2018-12-03 21:34] #7372 closed

[2018-12-03 21:40] markcowl opened #7993 "Consume HDInsight.Job Management library in HDInsight cmdlets"
### Description

- [x] Use the new library published in this task: #7344 in the HDInsight cmdlets
- [x] Fix any build / test errors

### Cost: 4

[2018-12-03 23:10] MikhailTryakhov commented on #7178
@tatlicioglu please take a look

[2018-12-03 23:36] knithinc commented on #4615
This is not specific to Azure Stack.

[2018-12-03 23:37] knithinc commented on #6344
When we move to the newly autogenerated Az modules, this will happen.

[2018-12-03 23:37] #6344 closed

[2018-12-03 23:46] knithinc commented on #6961
Fixed !

[2018-12-03 23:46] #6961 closed

[2018-12-04 00:51] deathly809 commented on #7789
We no longer support the AzureRM.AzureStackAdmin module.  There is a known issue with the New-AzsSubscription cmdlet with the newest modules due to an issue in AzureRM.Profile where you cannot use cmdlets when there is no subscription tied to an account.

[2018-12-04 00:54] #7693 closed

[2018-12-04 01:03] zwswim opened #7997 "Feature request: Feature request: we add three optional parameters to NetworkWatcherConfigFlowLog Operations"
In Set-AzureRmNetworkWatcherConfigFlowLog we add two optional parameters:
-FormatType <string>
-FormatVersion <int?>
-TrafficAnalyticsInterval <int?>

In out put of Get-AzureRmNetworkWatcherFlowLogStatus, return new contract
-Format <FlowLogFormat>
    -Type <string>
    -Version <int?>

-TrafficAnalyticsInterval <int?>

This one need to merge into Milestone:  network-november-release

[2018-12-04 01:39] deathly809 commented on #7660
The SDK client is case sensitve.  Working on a fix.

https://github.com/Azure/azure-powershell/blob/75722f377a3156c5762fcb984522802cd738eca7/src/StackAdmin/Resources/Commands.ResourceManager/Cmdlets/SdkClient/ResourceManagerSdkClient.cs#L901

[2018-12-04 01:40] deathly809 commented on #7298
@bganapa Is this a bug or a feature request?

[2018-12-04 01:44] deathly809 commented on #7030
If the user is talking about Set-PSDebug I am not sure there is anything I can do.  If you do -Debug then you can see debug information such as HTTP requests.  As the user has delete their account I cannot ask.

[2018-12-04 01:44] #7030 closed

[2018-12-04 01:45] deathly809 commented on #7275
This should be fixed in the next release of the Azs.Storage.Admin module.

[2018-12-04 03:11] blueww commented on #7805
@rabrahamOpti
Currently we use the authentication way in StorageAccountName when CloudStorageAccount.Credentials.AccountName is empty, since this can also give an reason for why the storage account is not available.

Anyway, I will keep the current design, until we get more customer requests for changing it.

[2018-12-04 12:38] rudfoss opened #8000 "New-AzResourceGroupDeployment for web site with slot fails if template contains "cloningInfo""
### Description
I'm trying to deploy a web app with two slots (production, deploytarget). Everything works fine the first time, but on subsequent runs (with the web app already present) fail with an error indicating the site already exists. I was under the impression that ARM templates should always be able to run even if the resources already exist? If not is there a quick way to tell ARM that it

[2018-12-04 12:59] iricigor opened #8001 "Get-AzureRmNetworkSecurityGroup returns wrong information for application security groups"
### Description

`Get-AzureRmNetworkSecurityGroup` returns wrong information for application security groups

### Script/Steps for Reproduction

Create new Application Security Group (ASG) and add new security rule to your network that involved this ASG.
![image](https://user-images.githubusercontent.com/15923171/49443008-7baa9a00-f7cb-11e8-90ad-412032334d4f.png)

Login to Azure and run these powe

[2018-12-04 13:15] iricigor commented on #8001
Returned property has good type, its just empty

[code]

[2018-12-04 13:33] rabrahamOpti commented on #7805
@blueww This is a matter of [good software development practice](https://www.freshconsulting.com/development-principle-1-choose-appropriate-variable-names/) that you're unlikely going to get many requests about.

Customer requests tend to be focused on things that are blocking them; something like bad field naming is a pain that can slow us down, but not enough to prompt us to figure out where to

[2018-12-04 16:30] nyanhp commented on #7992
Hi @markcowl, the output of ```Resolve-AzureRmError -Last```:

[code]

The value of $disk is the output of:
[code]

I added some verbose output to the call itself to make sure I did not make any mistakes in my code somewhere:
[code]

The disk I am trying to remove actually exists:
[code]

Please let me know if I can provide more information. In the meantime I will test if the issue persists with t

[2018-12-04 18:19] jsnikhil commented on #6161
Is this version available in preview only? I still see exactly the same issue as described in https://github.com/Azure/azure-powershell/issues/7367.

I upgraded powershell to 6.1.1
Az module to 0.4.0

[2018-12-04 18:36] zwswim commented on #7997
Updated the title

[2018-12-04 18:40] MiYanni commented on #6161
@jsnikhil That change is in the release going out right now. Will be Az 0.7.0. It should be available on PS Gallery within an hour or two.

[2018-12-04 19:02] maddieclayton commented on #7756
@bdcoder2 Looks like these two parameters use either an enum or a ArgumentCompleter - you should be able to tab through all valid values when using the cmdlets interactively.

[2018-12-04 19:02] #7756 closed

[2018-12-04 21:23] markcowl opened #8005 "Intermittent issues with device login"
Customer reports device login stops after entering device code.

[2018-12-04 21:31] markcowl commented on #7943
Fixed

[2018-12-04 21:31] #7943 closed

[2018-12-04 21:47] maddieclayton opened #8006 "Coordinate test run of Az 1.0.0 with docs team"
Ensure that docs is ready to go for Az 1.0.0.

[2018-12-04 22:05] akrone-hach commented on #7589
I'm having the same issue as @tr1al3x. I have an existing Resource Group, Key Vault, and Certificate. I want to use the new Cert in the Scale Set but following the script in the documentation produced the error that @tr1al3x reported.  Below is a modified version of the script from the article to use the existing Key Vault, and Cert.
[code]

[2018-12-04 22:48] cormacpayne opened #8007 "Measure code coverage for common code"
- [ ] Measure code coverage and explore mechanisms for reporting code coverage as part of CI Tests
- [ ] File issues for needed unit test coverage / provide tests

[2018-12-04 22:48] cormacpayne opened #8008 "Move common code tests to separate repository"
- [ ] Move any common code unit tests (esp. in profile) from powershell to powershell-common repo

[2018-12-04 22:54] cormacpayne commented on #8001
@avijitgupta @chandrasekarsrinivasan would you mind taking a look at this issue?

[2018-12-04 22:56] cormacpayne commented on #8000
@panchagnula Hey Sisira, would you mind taking a look at this issue? If this should be redirected to the ARM team, please let me know and I'll reassign accordingly.

[2018-12-04 22:57] cormacpayne commented on #7997
@irrogozh Hey Irina, would you mind taking a look at this issue?

[2018-12-04 22:58] cormacpayne commented on #7986
@hyonholee would you mind taking a look at this issue?

[2018-12-04 23:01] panchagnula commented on #8000
@Nking92 , not sure if there is a known issue with passing cloningInfo in an ARM Template with slot.

[2018-12-04 23:04] jschwanz opened #8009 "New-AzureRmAutomationSchedule Monthly Schedule Falsely Fails"
### Description

I'm trying to create a monthly schedule using the DayOfWeek/DayOfWeekOccurrence pattern, and it returns an error. The odd part of this is that it does actually create the schedule, and I can assign this schedule to a runbook.

### Script/Steps for Reproduction

[code]

### Module Version

[code]

### Environment Data

[code]

[2018-12-04 23:05] cormacpayne commented on #7979
@jimmyfit Hey Jimmy, this issue was recently fixed in `AzureRM.Network`. Would you mind updating to the latest version (6.11.1) and see if the above error occurs?

[2018-12-04 23:08] cormacpayne commented on #7977
@alexandair Hey Aleksandar, would you mind providing the following information:
- the debug trace from executing the command with `$DebugPreference = "Continue"`
- the full error output from running `Resolve-AzError`

[2018-12-04 23:11] cormacpayne commented on #7976
@itsramz please provide the above information that was requested:

- what cmdlets are you trying to run?
- what version of the modules are installed in your account? (this can be retrieved with `Get-Module -Name AzureRM* -ListAvailable`)
- what is the resulting debug trace? (you can set `$DebugPreference = "Continue"` and run the runbook in the test pane)
- what is the result of running `Resolve-A

[2018-12-04 23:21] cormacpayne commented on #7957
@AspenForester Hey JB, copying the response from [this issue](https://github.com/Azure/azure-powershell/issues/7894#issuecomment-441731317):

-Confirm and -Force are used to by pass two different types of confirmation, and they are not interchangeable.

-Confirm bypasses ShouldProcess prompts - in the normal course of events, unless a cmdlet is set as high impact, or the user's ConfirmPreference i

[2018-12-04 23:21] #7957 closed

[2018-12-04 23:37] MiYanni commented on #6958
As per discussions with DataFactory folks, they wanted the module to be `Az.DataFactory`. This matches their management SDK name. So, I've moved `DataFactories` to `DataFactoryV2` and renamed `DataFactoryV2` to `DataFactory`.

[2018-12-05 00:54] cormacpayne commented on #7968
@bingbing8 Hey Yanbing, it looks like this issue is resolved in our new `Az.Automation` module (as a part of the `Az` roll-up module). I'm not sure why, but the name of the `dll-Help.xml` file that contains the missing information is different than what PowerShell was expecting for `AzureRM.Automation`, but this has been resolved for `Az.Automation`.

[2018-12-05 00:54] #7968 closed

[2018-12-05 10:07] liadlev opened #8023 "issue in running Connect-AzureRmAccount -EnvironmentName AzureUSGovernment on powershell"
### Description

Hi guys,
i am facing the following error in my powershell command while running this command "Connect-AzureRmAccount -EnvironmentName AzureUSGovernment" :

[code]

### Script/Steps for Reproduction

Connect-AzureRmAccount -EnvironmentName AzureUSGovernment

### Module Version

[moduls.txt](https://github.com/Azure/azure-powershell/files/2648250/moduls.txt)

### Environment Data

N

[2018-12-05 11:58] jimmyfit commented on #7979
You're right. Thanks!

[2018-12-05 11:58] #7979 closed

[2018-12-05 15:14] jschwanz commented on #8009
[code]

[2018-12-05 15:16] C-Ross opened #8025 "Enable-AzureRmAlias -Scope Process creates local aliases"
### Description

`Enable-AzureRmAlias -Scope Process` writes aliases to local scope, not process/global.

This doesn't match the option name, and doesn't allow the use of this command in a function.

### Script/Steps for Reproduction

[code]

### Module Version

[code]

### Environment Data

[code]

### Debug Output

[code]

[2018-12-05 16:23] jsheetzati commented on #7930
@cormacpayne I have the debug log that illustrates the issue for you. Unfortunately, due to contractual obligations, I am not able to share publicly. I can send you the gist link if that is okay with you. My email is in my profile. Thanks!

[2018-12-05 18:46] BorisB2015 opened #8027 "How to keep "az vm image list" offline list in sync with PowerShell equivalent"
`az vm image list` az CLI command pulls the list of image aliases from `https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/arm-compute/quickstart-templates/aliases.json`

Equivalent PowerShell info appears to come from `https://github.com/Azure/azure-powershell/blob/master/src/ResourceManager/Compute/Commands.Compute/Strategies/ComputeRp/Images.cs`

Currently the content of the ab

[2018-12-05 18:48] BorisB2015 commented on #8027
@gbowerman for awareness.

[2018-12-05 20:06] bingbing8 commented on #7968
@cormacpayne, how do i get the fix? I still see the same issue on my machine.

[code]

[2018-12-05 20:32] Nking92 commented on #8000
The overwrite flag is currently not working properly, which is why you're getting a conflict. We'll try to get that fixed soon. Sorry for the inconvenience.

[2018-12-05 22:18] jschwanz commented on #7844
Is there any update on this? I have since updated to the following versions, with the same result:

[code]

[2018-12-06 00:10] grlin commented on #6974
I've tried multiple different ways of repro-ing this error, and I haven't seen anything. There is definitely no '1-year limit'. I used your code and got this error: "New-AzureRmADAppCredential : Key credential start date is invalid." The start date is invalid when the effective date < current time. Start date must be at least the present time.

Could you provide more details re: the end date inval

[2018-12-06 00:55] cormacpayne commented on #8025
@maddieclayton would you mind taking a look at this issue?

[2018-12-06 06:09] rudfoss commented on #8000
No problem. Thanks for looking into this!

[2018-12-06 17:33] afaruqi commented on #7358
So, if i understand this correctly, if i create an AAD App/Service Principal, I should be able to use this command?
$cred = Get-credentials
Connect-AzAccount - Credential $cred -TenantID <tenantid> -ServicePrincipal

Where do I put the ServicePrincipal ID? How will the cmdlet know which servicePrincipal it needs to use? I get an error when I use the above two commands saying my user id (that i typ

[2018-12-06 19:07] grlin commented on #6974
If that's the case, could you record the full DateTime object the next time it fails? both the StartDate, EndDate, and the expiration/effective dates from the cert.

[2018-12-06 19:07] afaruqi commented on #7358
Thank you for the response! I've "Imported" the Az module, however, when I go to run the Get-AzADServicePrincipal cmdlet, I get an error saying it's not a recognized name of a cmdlet. any thoughts?

[2018-12-06 19:12] cormacpayne commented on #7358
@afaruqi would you mind running `Get-Module` to see if the `Az.Resources` module is loaded in your current session? If not, would you mind running `Get-Module -ListAvailable -Name Az*` to see if you have the `Az.Resources` module installed?

[2018-12-06 19:34] afaruqi commented on #7358
Yes i do. So here's my situation. I'm working on two different environments as I don't want the conversion to effect our current scripts using the AzureRm modules. I created the app/serviceprincipal on the computer that has the AzureRm module installed. I am in a catch-22 situation because when i go to the second computer to retrieve the serviceprincipal, it doesn't return anything because I haven

[2018-12-06 20:34] markcowl opened #8038 "Go through breaking change attributes in Az"
placeholder

- go through the breaking change attributes and warning messages, recoprd each, anbd decide what to do with each.  We egneerally want to remove them if the feature teams have no plan to issue a breakign change.

[2018-12-06 20:43] aydeisen opened #8039 "Unable to pipe Get-AzResource into Get-AzVm"
### Description

Not able to pipe `Get-AzResource` into `Get-AzVM`.  This worked successfully with the AzureRM cmdlets (piping `Get-AzureRmResource` into `Get-AzureRmVm`)

### Script/Steps for Reproduction

`Get-AzResource -Name **VMName** | Get-AzVM`
**where Get-AzResource returns one result~~

### Module Version

[code]

### Environment Data

[code]

### Debug Output

Too long.  See attached fil

[2018-12-06 20:46] cormacpayne commented on #7358
@afaruqi correct, U/P is not _currently_ supported in the `Az` module ([more information](https://github.com/Azure/azure-powershell/issues/7430#issuecomment-426480499)), but is there a reason you aren't able to use the (default) device code flow authentication that `Connect-AzAccount` provides? This will tell you to visit a site (more than likely https://microsoft.com/devicelogin, based on your en

[2018-12-06 22:21] grlin commented on #5530
Hi, I'm not sure I understand where the Description field comes from, and what command you're trying to populate a description for.

[2018-12-06 23:34] maddieclayton opened #8041 "Update VersionController for Az"
Update the version controller so that it updates version for Az rather than AzureRM

[2018-12-06 23:36] maddieclayton opened #8042 "Update DependencyMap.csv to filter System dependencies correctly"
Ensure that the CheckAssemblies script will correctly throw if System dependencies are included that are not part of NetFramework: https://github.com/Azure/azure-powershell/blob/master/tools/StaticAnalysis/DependencyAnalyzer/DependencyAnalyzer.cs#L249

[2018-12-06 23:37] maddieclayton commented on #7359
This is fixed except for this bug: https://github.com/Azure/azure-powershell/issues/8042

[2018-12-06 23:37] #7359 closed

[2018-12-06 23:38] maddieclayton commented on #6752
Finished all that is needed for 1.0.0.  Opened two other issues to cover the remaining work:
https://github.com/Azure/azure-powershell/issues/8042
https://github.com/Azure/azure-powershell/issues/8041

[2018-12-06 23:38] #6752 closed

[2018-12-06 23:46] markcowl commented on #7748
Complete for now - we have determiend that we cna continue to use ADAL3 until we are ready to move to MSAL

[2018-12-06 23:46] #7748 closed

[2018-12-07 00:09] markcowl commented on #7570
PR waiting for merge

[2018-12-07 00:32] gbowerman commented on #8027
Update:
Provisional agreement in place to integrate this central JSON list into the PowerShell build process: https://github.com/Azure/azure-rest-api-specs/blob/master/arm-compute/quickstart-templates/aliases.json
@hyonholee is looking into the engineering work.

[2018-12-07 02:48] pvrk opened #8043 "RecoveryServices PS command doesn't work in Az module"
### Description

I am running a PS command ```Get-AzRecoveryServicesBackupContainer``` and it is failing with a framework error. **The same commands runs successfully in cloudshell but fails in my machine.**

### Script/Steps for Reproduction

[code]

### Module Version

[code]

### Environment Data

[code]

### Debug Output

[code]

[2018-12-07 05:02] itsramz commented on #7976
It worked. Thanks

[2018-12-07 05:07] itsramz commented on #7976
I have been asked to create a linked template combining the following resources storage account,redis,key vault ,ASP,webapp,sql db and application insights . I have seperate templates , not sure how to create a linked template. Kindly help

[2018-12-07 05:08] itsramz opened #8045 "Unable to create linked templates"
New-AzureRmResourceGroupDeployment : 12:10:04 PM - Resource Microsoft.Cache/redis/providers/diagnosticsettings
'demoredisc3/Microsoft.Insights/demoredisc3' failed with message '{
  "error": {
    "code": "LinkedInvalidPropertyId",
    "message": "Property id 'GET-PREREQ-existingDiagnosticsStorageAccountId' at path 'properties.storageAccountId' is invalid.
Expect fully qualified resource Id that st

[2018-12-07 05:13] itsramz commented on #8045
Im unable to link the following templates . Ky vault,storage account,redis cache,webapp,asp,sql db ,application insights. together. I hsve seperate templates with me.

[2018-12-07 07:07] rudfoss commented on #7980
For anyone looking I wrote this small (extremely simplified) function to read parameters from a parameters file and merge them with an object. Until the cmdlet support both parameters at once this is at least a workaround.

https://gist.github.com/rudfoss/31cae1e6062c9c49627586095e55a804

[2018-12-07 10:46] draugurio commented on #6628
Hello
I'm running from an automation account with the latest module AzureRM 6.13.1. Tried using cblackuk workaround but still get the same error:

Get-AzureRmRoleAssignment : Exception of type 'Microsoft.Rest.Azure.CloudException' was thrown.
At line:1160 char:18
+ ... resources = Get-AzureRmRoleAssignment -Scope "/subscriptions/$Subscri ...
+                 ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

[2018-12-07 11:34] draugurio commented on #6628
Using AzureRm 2.3.0, AzureRm.Resources 6.0.2 got the same error when running the command from an Automation Account.
[code]
Tried the workaround and got the same error.

[2018-12-07 13:52] afaruqi commented on #7358
Using the device code is NOT feasible for us. We have an automated script that runs to create resources in azure and upload our data to storage, Having to visit the website and type in the code everytime we (at least 5 different people on 5 different machines) run our scripts is very cumbersome and inefficient. We also do not want to use Certificate authentication as it would require us to install

[2018-12-07 16:58] cormacpayne commented on #7358
@afaruqi I believe the issue is that the secret you're passing into the `PSCredential` is a `string` and not a `SecureString`. You can convert this to a `SecureString` by running `ConvertTo-SecureString -String {{sp_secret}} -AsPlainText -Force`.

As for U/P support, we are talking internally in our team, as well as with the authentication team (who owns the underlying library where U/P support is

[2018-12-07 17:23] cormacpayne commented on #8043
@pvrk Hey Kartik, this issue was previously filed [here](https://github.com/Azure/azure-powershell/issues/7892), and the corresponding fix for this was merged [here](https://github.com/Azure/azure-powershell/pull/7928), so this will be fixed in the next release 😀

[2018-12-07 17:23] #8043 closed

[2018-12-07 17:42] deathly809 commented on #8045
@itsramz Could you please fill in the above sections?  Without those I am not sure what can be done.

[2018-12-07 17:56] markcowl commented on #8005
This was related to an error on the eSTS.  It has been fixed.

[2018-12-07 17:56] #8005 closed

[2018-12-07 17:57] markcowl commented on #7971
Complete

[2018-12-07 17:57] #7971 closed

[2018-12-07 17:59] markcowl commented on #7570
Complete

[2018-12-07 17:59] #7570 closed

[2018-12-07 18:00] markcowl commented on #7441
Doesn't apply to Az.  Closing

[2018-12-07 18:48] Am018 commented on #7406
I just tried running all the commands and I couldn't repro the issue. However my AzureRM.Network module version is 6.9.1 instead of 6.8.0 as reported here. Can you try upgrading the AzureRM.Network module and see if you continue to face this issue?

[2018-12-07 19:30] Am018 commented on #2815
This is over two years old issue. I don't think the issue exists anymore. I am closing the issue. Please reopen if you think it requires investigation.

[2018-12-07 19:30] #2815 closed

[2018-12-07 20:09] MiYanni commented on #5742
This fix was merged in https://github.com/Azure/azure-powershell/pull/6598.

[2018-12-07 20:09] #5742 closed

[2018-12-07 20:30] maddieclayton opened #8051 "Gallery image ResourceId is incorrectly resolved in Resources cmdlets"
The gallery image name comes in the form "GALLERY_NAME/IMAGE_NAME", and the resourceId is not being resolved correctly before being sent to the server.  See example failure below:
[code]
I'm basing the value for name off of the output from:
[code]

[2018-12-07 21:15] daveba opened #8052 "PATCH operation for Update-AzureRmVM"
Hello,

I want to add a user assigned identity to a VM with existing user assigned identities, but when I run the command below, it replaces any assigned user assigned identities with the one I specify in the command.  Is it possible to add a user assigned identity to a VM without replacing existing ones or do I need to specify the existing ids in the command?

`Update-AzureRmVM -ResourceGroupName

[2018-12-07 22:03] cormacpayne commented on #7736
This should be fixed as a part of https://github.com/Azure/azure-powershell/pull/7991

[2018-12-07 22:03] #7736 closed

[2018-12-07 22:15] yevster opened #8053 "New-AzAks parameter KubernetesVersion not explicitly required, incorrectly enumerated."
### Description

Attempting to create a cluster without the KubernetesVersion parameter produces an argument. Attempting to populate the parameter with Tab completion produces unacceptable values.

The expected behavior is that if the use is required to specify a KubernetesVersion it should be annotated as a mandatory parameter. And the enumerated versions should be supported.

This may potentiall

[2018-12-07 22:52] maddieclayton commented on #8006
Done and looking good.

[2018-12-07 22:52] #8006 closed

[2018-12-08 00:50] MiYanni commented on #7993
Fixed in this PR: https://github.com/Azure/azure-powershell/pull/7973

[2018-12-08 00:50] #7993 closed

[2018-12-08 17:15] alexandair commented on #7977
[code]

[code]

[2018-12-09 16:32] siebeh commented on #4106
This issie isn't solved yet.
When receiving the Microsoft.Azure.Commands.Management.Storage.Models.PSStorageAccount object through a pipeline the command cannot be processed.

[code]

[2018-12-09 16:43] siebeh opened #8060 "Set-AzureRMStorageAccount doens't receive pipeline"
When receiving the Microsoft.Azure.Commands.Management.Storage.Models.PSStorageAccount object through a pipeline the command cannot be processed.

[code]

_Originally posted by @siebeh in https://github.com/_render_node/MDEyOklzc3VlQ29tbWVudDQ0NTU1MTQ5Ng==/timeline/issue_comment#issuecomment-445551496_

[2018-12-09 21:02] safeermohammed commented on #7977
@thomasyip-msft, Can you please take a look?

[2018-12-10 03:00] blueww commented on #4106
@siebeh
Your error is different with the before issue. The cause and the error message are different.

If you just get 1 account, the issue won't happen.
To get mutiple accounts, you can add parenthesis  to overcome this issue as below.
Following command works on my side with AzureRm.Storage 5.2.0.

`(Get-AzureRmStorageAccount -ResourceGroupName $RGName) | Set-AzureRmStorageAccount -UpgradeToStora

[2018-12-10 06:48] itsramz commented on #8045
Im trying to link templates , but for the Redis cache I need to get the Storage account ID as the input Hence gave the command as GET-PREREQ-existingDiagnosticsStorageAccountId' but it doesnt pull the id.Please share your views on it

[2018-12-10 06:49] maddieclayton commented on #8038
Deleted cmdlets
All of backup
C:\azure-powershell\src\ResourceManager\RecoveryServices\Commands.RecoveryServices\Vault\SetAzureRmRecoveryServicesVaultContext.cs
C:\azure-powershell\src\ResourceManager\Sql\Commands.Sql\Database Backup\Cmdlet\GetAzureSqlServerBackupLongTermRetentionVault.cs
C:\azure-powershell\src\ResourceManager\Sql\Commands.Sql\Database Backup\Cmdlet\SetAzureSqlServerBackupLongTer

[2018-12-10 08:46] blueww commented on #4106
@siebeh
I have raised a PR to fix this issue. But before this is fixed, add `-EnableHttpsTrafficOnly` parameter can workaround the issue.

[2018-12-10 10:22] bkemmle opened #8077 "Connect-AzAccount"
Hello,

i just used the command "Install-Module -Name Az" version 0.7

after the installation has been done i tried the following command as described in the example:

$Credential = Get-Credential

PS C:\> Connect-AzAccount -Credential

https://github.com/Azure/azure-powershell/blob/4713c26fd6dff06eeadf3d1b8da721e4b2727922/src/ResourceManager/Profile/Commands.Profile/help/Connect-AzAccount.md

Thi

[2018-12-10 12:05] benmillaneasos commented on #7763
@DeveloperTommy @jemex please could someone let me know if this is being looked at?

[2018-12-10 19:24] deathly809 commented on #8045
I am a little confused.  Are you saying there is an outer template which you deploy a storage account and an inner template that uses that storage account?

If so you can construct the storage account id using the following:

[code]

for you it would look something like this,

[code]

[2018-12-10 23:14] athipp commented on #7358
As per this - https://github.com/Azure/azure-powershell/blob/master/documentation/announcing-az-module.md#authentication-changes
It would be great if you can include a link or provide context in the above location as to why accepting PSCredential is discouraged. thanks.

[2018-12-11 00:32] grlin commented on #6493
I was unable to repro this delay. It looks like it should no longer be a problem due to a change in the PAS service. The update should be available with the new Az powershell cmdlet release next week.

[2018-12-11 01:19] markcowl commented on #8077
@bkemmie  Non-interactive username/password credentials are not supported cross-platform.  This functionality is scheduled to be added back for WIndows PowewrShell 5.1 in January 2019.  You cna track progress on this in: #7430  Closing this as a duplicate.

[2018-12-11 01:19] #8077 closed

[2018-12-11 15:05] woodrum commented on #7406
I have version 6.9.1 installed and receive the same error trying to peer two vnet's.  Mine are in separate subscriptions, but it's the same error.  I am able to perform peering via the portal (didn't try az cli yet).

[2018-12-11 17:52] jsheetzati commented on #7930
@cormacpayne I scrubbed the log to remove our personal information that we cannot share. I hope it helps. https://gist.github.com/jsheetzati/bfdf89ba9fd6391f4e22c532f3cd2e2d

[2018-12-11 19:37] MiYanni commented on #7374
Completed as part of Az 1.0.

[2018-12-11 19:37] #7374 closed

[2018-12-11 22:22] cormacpayne commented on #8060
This should be fixed in https://github.com/Azure/azure-powershell/pull/8068

[2018-12-11 22:24] cormacpayne commented on #8053
@mboersma Hey Matt, would you mind taking a look at this issue?

[2018-12-11 22:30] cormacpayne commented on #8052
@daveba Hey Davanand, I don't believe there's a separate command that allows you to add just a single user to the list; I believe your best bet is to get the list of users from the result of `Get-AzVM`, add the new user to the list, and pass that list to the above `-IdentityId` parameter

@hyonholee would you mind confirming this is the proper flow?

[2018-12-11 23:45] cormacpayne commented on #7980
@rudfoss Hey Thomas, the two parameters you mentioned (`-TemplateParameterObject` and `-TemplateParameterFile`) are mutually exclusive in this case -- they both should contain similar information, if not the same, so there shouldn't be a case where you'd need to provide them both. I believe you should be able to use the `ConvertFrom-Json` cmdlet to turn your template parameter file into an object

[2018-12-11 23:45] #7980 closed

[2018-12-12 00:39] cormacpayne commented on #7945
Aks: https://docs.microsoft.com/en-us/azure/aks/

AnalysisServices: https://docs.microsoft.com/en-us/azure/analysis-services/

ApiManagement: https://docs.microsoft.com/en-us/azure/api-management/

ApplicationInsights: https://docs.microsoft.com/en-us/azure/application-insights/

Automation: https://docs.microsoft.com/en-us/azure/automation/

AzureBatch: https://docs.microsoft.com/en-us/azure/batc

[2018-12-12 03:00] blueww commented on #4106
A new issue is opened https://github.com/Azure/azure-powershell/issues/8060, will continue follow it in https://github.com/Azure/azure-powershell/issues/8060

[2018-12-12 03:01] blueww commented on #8060
Before the issue is fixed, you can workaround it by adding `-EnableHttpsTrafficOnly` parameter. Following command works with AzureRm.Storage 5.2.0 in my testing.
`Get-AzureRmStorageAccount -ResourceGroupName $RGName | Set-AzureRmStorageAccount -EnableHttpsTrafficOnly $true -UpgradeToStorageV2`

[2018-12-12 04:17] itsramz commented on #5324
Hi, Im trying to create a template that generates Key vault,key and and secret . JSON template doesnt throw any erro But when I execute it its giving "New-AzureRmResourceGroupDeployment : Cannot retrieve the dynamic parameters for the cmdlet. Parameter type in parameters cannot be
null or empty" error

[2018-12-12 04:45] gmoed commented on #2278
I experienced the same issue (parameter name apiVersion; this was used in the parameter object passed to the template

![image](https://user-images.githubusercontent.com/28516433/49847539-c740f180-fe24-11e8-8296-91f9a531fabc.png)

and its also a valid parameter name in the cmdlet 'New-AzureRmResourceGroupDeployment' ), solved it by changing the parameter name in the cmdlet

ex:
![image](https://us

[2018-12-12 05:12] aconn21 commented on #7406
I just tried this again today on multiple separate subscriptions and it worked, has someone fixed something? Otherwise the issue may be intermittent.

[2018-12-12 05:57] markcowl commented on #7441
Fixed

[2018-12-12 05:57] #7441 closed

[2018-12-12 05:58] markcowl commented on #7892
Fixed in 1.0

[2018-12-12 05:58] #7892 closed

[2018-12-12 05:58] markcowl commented on #6958
Fixed

[2018-12-12 05:58] #6958 closed

[2018-12-12 05:59] markcowl commented on #7086
Fixed

[2018-12-12 05:59] #7086 closed

[2018-12-12 05:59] #7902 closed

[2018-12-12 06:00] markcowl commented on #7538
Fixed

[2018-12-12 06:00] #7538 closed

[2018-12-12 06:02] markcowl commented on #6793
Fixed

[2018-12-12 06:02] #6793 closed

[2018-12-12 06:37] #7343 closed

[2018-12-12 07:02] MertSenel commented on #6461
Any updates on this is appreciated as we are also facing this issue.

[2018-12-12 11:43] wagsousa opened #8100 "All AzureRM.Search cmdlets are missing"
### Description

All AzureRM.Search cmdlets are missing.

### Script/Steps for Reproduction

Try out any of those command below and none are available.
https://docs.microsoft.com/en-us/powershell/module/azurerm.search/?view=azurermps-6.13.0#search

[code]

### Module Version

[code]

### Environment Data

[code]

[2018-12-12 16:38] markcowl opened #8102 "Add test automation for storage account pipeline scenarios"
In this PR:#8068  EnableHttpsTraffic was removed from pipelining scenarios.  Need to add test automation to ensure that the correct values are passed when piping Get | Set and Get | New for storage accounts

[2018-12-12 19:10] daveba commented on #8052
@cormacpayne Thanks for the reply.  That's what we have documented, but we wanted to know if there are plans in the works to just add the single user assigned identity (@arluca for visibility).

[2018-12-12 19:12] markcowl commented on #8060
Ths fix for this is merged, it shoudl go out with Az 1.0

[2018-12-12 19:12] #8060 closed

[2018-12-12 19:54] markcowl commented on #8100
AzureRM.Search does not ship with the roll-up, you must install it separately

[code]

[2018-12-12 19:54] #8100 closed

[2018-12-12 20:02] wagsousa commented on #8100
I tried it but it did not work.
[code]

[2018-12-12 20:08] markcowl commented on #7430
@colhal @clericc @jamesmealing @slavizh @lwajswaj @kilasuit @jseerden We will add this capability back to Az **for PowerShell 5.1 only** in the 1/15 release, along with support for interactive login using the browser control.

We will also add interacvie auth that does not require manually opening a browser early in 2019.

Moving this into the sprint for the 1/15 release.

[2018-12-12 20:10] markcowl commented on #7430
## Description
- [ ] Add Authenticator chain of responsibility to common authentication
- [ ] Add authenticator for desktop username/password auth
- [ ] Add authenticator for desktop browser control auth
- [ ] Add mock and unit tests for interactive authenticator
- [ ] Add sceario tests for non-interactive authenticator

### Cost: 10

[2018-12-12 20:12] clericc commented on #7430
@markcowl Powershell 5.1 Windows only? Nonononooooooooo...this prevents all of us from moving to netcore on Linux...which is what we would like to do...since Azure Automation blocks many scenarios where we need other binaries (say...kubectl or git), we want to run powershell core scripts on linux containers on ACI.
Allowing this only for Windows-Powershell destroys that and gives us no valid scena

[2018-12-12 20:40] MiYanni commented on #7864
BaseSqlVulnerabilityAssessmentAdapter.cs was fixed in https://github.com/Azure/azure-powershell/commit/134dc84eb59a25346a2dbac3fd86d79dfeb1a5e6#diff-5d21b7f189fd3908b2b84c260bf16af0

[2018-12-12 20:43] MiYanni commented on #7864
VulnerabilityAssessmentEndpointsCommunicator was fixed in https://github.com/Azure/azure-powershell/commit/ed094c7f9584e549d7d2af20f9afd8a04c934db3#diff-464bc35e696a8467dc824f398ecc4e96

[2018-12-12 20:43] #7864 closed

[2018-12-12 21:16] bonJoeV commented on #6203
This is still an issue. Was able to get the ILB IP once -debug was passed. Can you please reopen and assign?

[2018-12-12 21:37] markcowl commented on #7430
@clericc That is just what is committed for 1/15 (which is the next release, due to the holiday).

 Meanwhile, If you are moving to linux containers, I highly suggest converting to MSI auth, which takes you out of the business of managing credentials at all (ACI is adding MSI management support in PowerShell this release).

If there is enough interest in username/password support on Linux, we can

[2018-12-12 21:40] clericc commented on #7430
@marcowl We already use MSI, but this brings me back to:
```Well guess what Azure Sql does not support? Setting SPs as Sql Server Aad admin. I am forced to give it a group or a user ObjectId.```

don't get me wrong, i'd love to completely move to SP only for all things automation. But some corners in azure don't like service principals, such as Azure SQL

[2018-12-12 21:58] maddieclayton commented on #6203
@bonJoeV Please open a new issue with all of the information requested by the issue template.  Thanks!

[2018-12-12 22:05] maddieclayton opened #8107 "Retrieve quickstart template for default image in New-AzVm"
From email:

CLI  creates a VM from quickstart-template (https://github.com/Azure/azure-rest-api-specs/blob/master/arm-compute/quickstart-templates/aliases.json ) to get an image sku if image is not given.

The simplified parameter set of New-AzVM creates a VM from images.cs file (https://github.com/Azure/azure-powershell/blob/master/src/ResourceManager/Compute/Commands.Compute/Strategies/ComputeR

[2018-12-12 22:56] troettinger opened #8109 "[Azure Stack] Cmdlet New-DataDiskObject missing Azs Prefix"
### Description

Missing Azs Prefix
Function        New-DataDiskObject                                 0.2.0      Azs.Compute.Admin

### Script/Steps for Reproduction

[code]

### Module Version

[code]

### Environment Data

[code]

### Debug Output

[code]

[2018-12-12 22:58] troettinger opened #8110 "[Azure Stack] Cmdlet New-AddonPlanDefinitionObject missing Prefix Azs"
### Description

Missing Azs Prefix
Function        New-AddonPlanDefinitionObject                      0.3.0      Azs.Subscriptions.Admin

### Script/Steps for Reproduction

[code]

### Module Version

[code]

### Environment Data

[code]

### Debug Output

[code]

[2018-12-12 23:01] troettinger opened #8111 "[Azure Stack] Cmdlet New-DataDiskObject missing Prefix Azs"
### Description
Missing Prefix Azs
Function        New-DataDiskObject                                 0.2.0      Azs.Compute.Admin

### Script/Steps for Reproduction

[code]

### Module Version

[code]

### Environment Data

[code]

### Debug Output

[code]

[2018-12-12 23:17] felixwa commented on #7130
@michaelsync @leszekkoc @AndreasM009
TRY **Install-Module Az.Search** if you the command is not recognized.

[2018-12-12 23:19] markcowl commented on #7430
@clericc I hear you, these older pockets that don't fully embrace authentication through AD are going away, but even if they all went away tomorrow, we have to provide a good transition experience.

[2018-12-12 23:20] felixwa commented on #8100
@wagsousa
TRY **Install-Module Az.Search**
OR
**Install-Module AzureRm.Search -AllowPrerelease**

[2018-12-12 23:33] markcowl commented on #8111
@deathly809 Can you take a look?

[2018-12-12 23:35] markcowl commented on #8051
I believe this is in our common code

[2018-12-12 23:53] MiYanni commented on #6753
Changes in https://github.com/Azure/azure-powershell/pull/8044

[2018-12-12 23:53] #6753 closed

[2018-12-12 23:55] MiYanni commented on #6827
WIP: https://gist.github.com/MiYanni/a697d43e2d17e9e13c245e7852fabff6

[2018-12-13 02:49] blueww commented on #8102
@markcowl, @MiYanni
Is there a guide doc to build/run netcore Test? Is seems [this guid ](https://github.com/Azure/azure-powershell/blob/master/documentation/development-docs/azure-powershell-developer-guide.md) does not work for netcore test.
I tried to build `src\Azure.PowerShell.Netcore.Test.sln ` in VS, but failed with follow error:

[2018-12-13 06:09] Liminghao0922 opened #8116 "Add-AzureRmMetricAlertRule does not contains the Frequency parameter"
The Add-AzureRmMetricAlertRule does not contains the Frequency parameter.
And neither for Add-AzMetricAlertRule. Please refer to the REST API https://docs.microsoft.com/en-us/rest/api/monitor/metricalerts/createorupdate for more details

properties.evaluationFrequency | True | string | **how often the metric alert is evaluated represented** in ISO 8601 duration format.
-- | -- | -- | --

Could you

[2018-12-13 06:19] rudfoss commented on #7980
In my case I have several separate templates for deploying several different solutions, but they all depend on one shared template deploying shared resources. E.g:

[code]

Where A and B utilize output (e.g.: access keys and generated resource names) from Shared.

What I'd like to be able to support is deploying either Shared alone, Shared + A or Shared + B or Shared + A + B. I'm doing this by fir

[2018-12-13 06:53] slavizh commented on #7430
@markcowl I am ok with the current workaround. As you know we are on another e-mail thread discussion the additional scenarios for full automation of CSP. I have a meeting with different people from different groups to find a full solution for the problem. Thanks for listening to our feedback and providing us with this option.

[2018-12-13 08:57] khiraha opened #8118 "Get-AzureRmComputeResourceSku marks eastus2 as 'NotAvailableForSubscription' by mistake"
### Description

The powershell command 'Get-AzureRmComputeResourceSku' marks eastus2 compute resources as 'NotAvailableForSubscription' wrongly.

### Script/Steps for Reproduction

[code]

### Module Version

[code]

Occurring in the latest version.

### Environment Data

[code]

### Debug Output

[code]

[2018-12-13 09:15] blueww commented on #7852
This is already fixed in Az 0.7.0.
When not provide -DestContext, will use -Context as both source and dest Context.

[2018-12-13 09:15] #7852 closed

[2018-12-13 09:17] blueww commented on #7791
@lesterw1

I will close the issue now, as not hear any new request from you for long time.
Feel free to contact us if you need more assistant from our team.

[2018-12-13 09:17] #7791 closed

[2018-12-13 09:45] number213 commented on #5214
Updated issue details, added list of cmdlets without test coverage, split by teams

---

## Cmdlets without coverage (by team, upd. 12/13/2018)

## pgtm
- [ ] Get-AzureRmExpressRouteCircuitConnectionConfig
- [ ] Get-AzureRmExpressRouteCrossConnection
- [ ] Set-AzureRMExpressRouteCrossConnection
- [ ] Get-AzureRMExpressRouteCrossConnectionArpTable
- [ ] Get-AzureRMExpressRouteCrossConnectionRouteTa

[2018-12-13 10:12] rupanter commented on #7823
Hi, is this fixed? I am still facing this issue.

[2018-12-13 10:17] siddharth7 commented on #7823
Hi, this has been fixed.
Try using the lastest version https://www.powershellgallery.com/packages/AzureRM.RecoveryServices.Backup/4.5.2

[2018-12-13 11:11] leyshon opened #8120 "Get-AzureRmDeletedWebApp: Error "String was not recognized as a valid DateTime" when using dd/MM/yy short date format"
### Description

Get-AzureRmDeletedWebApp returns an error "Get-AzureRmDeletedWebApp : String was not recognized as a valid DateTime." if your short date format is set to "dd/MM/yy"

### Script/Steps for Reproduction

Create a webapp and delete it so that there is something for the cmdlet to try and return. Then set your system to use a short date format of "dd/MM/yy" and execute the below.

[code

[2018-12-13 14:30] tstahnke2 opened #8122 "Update to SQL Server Auditing cmdlets for event hub and log analytics?"
We are beginning to utilize the the new preview functionality for sql auditing using event hub and log analytics. I've noticed that the latest version of Az (0.7.0) doesn't have support for eventhub or log analytics settings. When can we expect to see that support added?

[2018-12-13 16:17] MaximoTrinidad commented on #7456
@markcowl,

I know there's an urgency in closing resolving open issues, but I would recommend to re-open this issue as it hasn't been release yet and tested by users.

For example, issues closed #7954 and #7956 on module version 0.6.1 shows closed but remains broken in module version 0.7.0.

This issue is causing people to go back and install the old AzureRM modules so their scripts won't break.

[2018-12-13 16:34] woodrum commented on #7406
I just tried again and it's not working for me still.  So it may be intermittent.

[2018-12-13 17:24] mguirao commented on #5652
I'm having same issue here, eager for a fix on this.

[2018-12-13 17:32] brushwood24 commented on #5652
This still needs to be fixed but in the interim, you can call the AzureRM API directly to get the default function key.  This page describes how http://blog.octavie.nl/index.php/2017/04/20/get-the-default-azure-function-key-with-powershell.  Obviously, this is way harder than it should be.

[2018-12-13 17:51] rupanter commented on #7823
I am still facing the same issue :

$restorejob = Restore-AzureRmRecoveryServicesBackupItem -RecoveryPoint $rp[0] -StorageAccountName $StorageAccountName -StorageAccountResourceGroupName $StorageAccountResourceGroup -Verbose

Restore-AzureRmRecoveryServicesBackupItem : Restore Azure Backup Item Operation failed. Error Code: CloudInvalidInputError. Error Message: The current operation failed due to

[2018-12-13 18:09] wgv-srsedate commented on #7267
This issue is verified fixed as of 6.12, at least for our purposes.

[2018-12-13 18:30] maddieclayton commented on #8038
Done!

[2018-12-13 18:30] #8038 closed

[2018-12-13 18:45] markcowl commented on #8118
@khiraha How are you certain that these sizes should be available?  Can you please include the debug stream output for this?  As outlined in the issue template, please set
[code]

before runnign the cmdlets and palce the result here.  This will show the request and response from the server.

[2018-12-13 18:47] markcowl commented on #8120
@panchagnula Can you take a look?

[2018-12-13 18:48] markcowl commented on #8122
@jaredmoo Can you please take a look att his question?

[2018-12-13 18:50] markcowl commented on #8116
@gucalder Can you take a look?

[2018-12-13 18:51] jaredmoo commented on #8122
@yaakoviyun , who is the correct person from data security to look into this?

[2018-12-13 18:53] siddharth7 commented on #7823
Mistake on my end. This fix went in the 2018-04-12 release and there were no AzureRM modules, only Az. You can either upgrade to Az module but you will have to update your existing scripts or you can keep using the same module and use work around by passing vault location and vault Id in the parameters as mentioned above.

[2018-12-13 19:00] MiYanni opened #8124 "Update AzureRM.Resources.ps1 and AzureRM.Storage.ps1 to use Az naming"
Our test scripts we share out of `ScenarioTests.ResourceManager` use the `AzureRM` naming convention. We should update these to have aliases to an `Az` version of those functions. This allows new tests being created to only have to use the `Az` nomenclature.

[2018-12-13 19:03] JamesHarrisonBaggs opened #8125 "Connect-AzureRMAccount opens blank sign-in window"
### Description

Connect-AzureRmAccount opens a blank sign-in window. I left the sign-in screen open for several hours, to see if it was a case of just running slowly. I'm not sure what changed on the system, but this was able to work previously. The same occurs with Login-AzAccount.

Troubleshooting steps tried:
- CCleaner to clear browser cache on all browsers
- Update Az module
- Update AzureRM

[2018-12-13 19:48] deathly809 commented on #8109
This is a duplicate of #8111

[2018-12-13 19:48] #8109 closed

[2018-12-13 20:10] vladimir-shcherbakov opened #8126 "[testing-docs] Make sure all cmdlets Az compatible"
Make sure the [testing-docs](https://github.com/Azure/azure-powershell/blob/master/documentation/testing-docs/using-azure-test-framework.md#new-testcredential) are up-to-date and  all cmdlets described there Az compatible.

[2018-12-13 20:46] panchagnula commented on #8120
@Nking92 , who owns this backend API. I believe this was an issue we detected with our recent backend tests as well where an explicit DATETIME was being expected by the API, Nick was investigating this. Nick, can you take  look and/or respond with your findings, please?

[2018-12-13 22:06] praveenbrook commented on #7510
my 2 cents.

When installing Az on a machine with AzureRM previously installed, you must specify AllowClobber in the Install-Module cmdlet invocation.

PS C:\> Install-Module -Name Az -AllowClobber

[2018-12-13 22:45] alexandair commented on #8125
[code]
That's not the latest version of AzureRM. It doesn't look like updating of AzureRM modules has worked for you.

[2018-12-14 00:29] bingbing8 opened #8131 "Can't get the webhook (Get-AzureRmAutomationWebhook) but can Remove it if the name contians _. if name does not contains _, Get works fine"
**Describe the bug**
Can't get the webhook but can Remove it if the name contians _. if name does not contains _, Get works fine

**To Reproduce**
[code]
**Expected behavior**
Get should work

**Environment summary**
[code]
**Additional context**
Add any other context about the problem here.

[2018-12-14 01:12] JamesHarrisonBaggs commented on #8125
Yes, you're right, however I remember that version as one which worked. I uninstalled all AzureRM module versions and re-installed this one, to try to flush out the issue.

I can try a newer version if you think that would help (and if so, what other things should I update?), but given that the issue occurred with Login-AzAccount module around the same time, I'm expecting that this is a browser ca

[2018-12-14 02:42] blueww commented on #8102
@MiYanni
Thanks for the help!
I have updated the test, and PR is sent. https://github.com/Azure/azure-powershell/pull/8133

[2018-12-14 09:30] austvik opened #8135 "Import-AzureKeyVaultCertificate: Can spill password if used incorrectly"
### Description

I have a cert at $pfxPath, and want to import it into a keyvault.

I have done a mistake. The password used to export it (created like this: [string] $securepfxpwd = [Guid]::NewGuid().ToString(), because I don't want to know it)

I run:

[code]

I get:

[code]

And my password is leaked.

Expectation: CmdLets dealing with secrets to never print that information. This might be a ge

[2018-12-14 15:10] MathieuBuisson commented on #7802
There has been no update after 1 month.

Is there anything else I can do to help move this forward ?

[2018-12-14 17:46] mgfink opened #8138 "Set-AzureRmAppServicePlan fails with invalid status code 'Created'"
### Description
PS cmdlets to enable/disable per site scaling in Azure fail with "Set-AzureRmAppServicePlan : Operation returned an invalid status code 'Created'

### Script/Steps for Reproduction

[code]

### Module Version

[code]

### Environment Data

[code]

### Debug Output

[code]

[2018-12-14 21:48] markcowl commented on #8125
@JamesHarrisonBaggs In this case, the operative browser is IE - that is where to check your settings and browser cache - for example, if IE is extremely locked down (e.g. like Protected Mode) this could occur.

The actual dialog that is shown in this case is determined by your eSTS

[2018-12-14 21:50] markcowl commented on #8125
@JamesHarrisonBaggs You *could* use this as an opportunity to switch to the Az module - in this case you open your preferred browser to the device auth page, so it is not so beholden to your particular IE settings as the browser control is

[2018-12-14 21:54] markcowl commented on #8131
@bingbing8 Can you include the following information to help us diagnose the issue:

1. Debug stream for the failing cmdlet.  Set ```$DebugPreference="Continue"```, run the failing cmdlet and include the extra logging here
2. The result of runnign ```Resolve-AzureRmError``` after the error occurs
3. The module layout on your machine, by running ```Get-Module -ListAvailable```

[2018-12-14 21:59] markcowl commented on #8135
@austvik this is an automatic message from powershell, unfortunately.  This would also be written to the error stream, so it could be picked up later by examining $Error.  Unfortunately, since PowerShell is a different org than azure, I can't directly transfer the issue, but you can file an issue in their repo:

https://gitub.com/powershell/powershell  and link to this one.

[2018-12-14 22:01] kenogr opened #8141 "Import-AzDataLakeStoreItem fails with Operation: GETFILESTATUS failed with Unknown Error: Specified value has invalid CRLF characters."
### Description

Import-AzDataLakeStoreItem fails with Operation: GETFILESTATUS failed with   Unknown Error: Specified value has invalid CRLF characters.

### Script/Steps for Reproduction
[code]

### Module Version

[code]

### Environment Data
[code]

### Debug Output
[code]

[2018-12-14 22:03] markcowl commented on #8138
@mgfink Can you include the request in your debug info?  Also, it looks like you have Azure.AnalysisServices and Azure.Storage installed alongside the Az cmdlets, that uyou have these installed in both the User and Machien scopes, and that you have multiple versions of the Az cmdlets installed. This does not contribute to this problem, but could cause problems if you try to mix the cmdlets in a sc

[2018-12-14 22:06] myriad90 commented on #7233
Ran into the same issue with the same commands at the start of this thread on AzureRM module version 6.11.0 and Powershell 5.1.   Issue resolved after updating to AzureRM module version 6.13.1

[2018-12-14 22:08] markcowl commented on #8141
@rahuldutta90 Can you please take a look

[2018-12-14 22:36] markcowl commented on #8102
Fixed

[2018-12-14 22:36] #8102 closed

[2018-12-14 22:44] markcowl commented on #7019
Closing - we have an issue to change scope differently so it can use the current scope of the global scope, in addition to these persistent scopes that use profiles

[2018-12-14 22:44] #7019 closed

[2018-12-14 22:58] #8135 closed

[2018-12-14 23:03] markcowl commented on #7707
Now that supplying Password is no longer allowed, I think we can close this

[2018-12-14 23:03] #7707 closed

[2018-12-14 23:12] markcowl commented on #7692
@vaishnavk @juhacket Can you please take a look?  It appears that the cmdlet throws after not finding the cluster, when the cluster is being created.

[2018-12-14 23:39] JamesHarrisonBaggs commented on #8125
Yep, it was IE security settings. Apparently I had set the security settings higher around the time that the issue started occurring. Turning down the security works well.

Thank you!

[2018-12-14 23:39] #8125 closed

[2018-12-15 01:35] rahuldutta90 commented on #8141
@kenogr  This is a problem with Httpwebrequest class used by our SDK. Setting useragent for httpwebrequest is different across netframework and netcore:

NET framework: webReq.UserAgent = client.GetUserAgent();

net standard webReq.Headers["User-Agent"] = client.GetUserAgent()

If you try to later thing in net framework you get the error you are getting above.

When you use this az module which is

[2018-12-15 03:45] bingbing8 commented on #8131
Here are the debug trace:
[code]

[2018-12-15 19:50] alexandair opened #8146 "Link to a migration guide in the Az 1.0.0 release notes is wrong"
`https://aka.ms/azps-migration-guide` redirects to the previous (6.0.0) migration guide.

[2018-12-15 19:51] alexandair commented on #7977
@safeermohammed @thomasyip-msft
Any follow-up on this?

[2018-12-16 07:54] abhi1509 commented on #6974
isn't this fixed already -
https://github.com/Azure/azure-powershell/issues/7700

[2018-12-16 09:03] salexu commented on #8122
Support for auditing to log analytics and event hub is something that is on our backlog and is planned to be supported in the near future (no exact timeline yet).

[2018-12-17 06:44] pixelicous commented on #7456
@MaximoTrinidad totally agree, cannot rely on these modules anymore, every update is just scary, you have no idea when and where you will need to work hours to understand what MS has broken -_-

[2018-12-17 10:34] jtuliani commented on #1551
This issue is still a problem. Re-opening to see if it can be looked at again please.

If the 'Set-' cmdlet is using PUT, perhaps we can make an 'Update-' cmdlet that uses PATCH (subnets would need to support PATCH, which would be A Good Thing).

[2018-12-17 13:15] mguirao commented on #5652
Yeah, this is what i ended up doing. I'm used to this by now, not the first bug i'm facing.
But same as you, REST is always the final solution.

[2018-12-17 13:46] pavelpervi opened #8150 "Get-AzureRmRecoveryServicesBackupProtectionPolicy got exception in case of Import-AzureAD"
### Description

When i Importing AzureAD module the command Get-AzureRmRecoveryServicesBackupProtectionPolicy crashing with exception.
I found the problem.
the command **Get-AzureRmRecoveryServicesBackupProtectionPolicy** is using **Newtonsoft.Json.dll (dll version 6.0.3.18111)** that shiped with AzureRM.profile module.
But AzureAD is shipped with **Newtonsoft.Json.dll (dll version 6.0.3.17227)**

[2018-12-17 15:34] mgfink commented on #8138
@markcowl here's the info you requested.
[log.zip](https://github.com/Azure/azure-powershell/files/2686710/log.zip)

[2018-12-17 17:34] pavelpervi commented on #8150
I have downloaded the latest version of AzureAD 2.0.2.4 from https://www.powershellgallery.com/packages/AzureAD/2.0.2.4
and the Newtonsoft.Json.dll version is (6.0.3.17227).
![image](https://user-images.githubusercontent.com/15994172/50104474-c51ad080-0232-11e9-8451-b2d49cbe4596.png)

[2018-12-17 17:38] grlin commented on #6974
As far as I can tell this is a different issue. However, I fixed part of the cmdlet that may have contributed. In short, sometimes the cmdlet couldn't identify when an End Date was set, and was therefore setting it to some default.

[2018-12-17 17:46] pavelpervi commented on #8150
Event on Newtonsoft.Json sources you can see that method that make exception not exists in 6.0.3 and added in 6.0.8
https://github.com/JamesNK/Newtonsoft.Json/blob/6.0.3/Src/Newtonsoft.Json/Serialization/JsonProperty.cs
https://github.com/JamesNK/Newtonsoft.Json/blob/6.0.8/Src/Newtonsoft.Json/Serialization/JsonProperty.cs

[2018-12-17 18:10] markcowl opened #8151 "Update AzureRmError.ps1 to be resilient over 'directory does not exist' errors when writing files"
See #8108

[2018-12-17 18:22] solankisamir commented on #7002
This should now be fixed.

[2018-12-17 18:22] #7002 closed

[2018-12-17 20:45] rahuldutta90 commented on #8141
@kenogr  I also hit this, i bypassed this on my local build.

@cormacpayne Looks like this issue: https://github.com/Azure/azure-powershell/issues/7462 is hitting in netcore.

It also hit for me.  Based on my last investigation and I pointed out that this wont be hit for spi path, because we convert it to uri. However we are hitting this for spi path also, in netcore which I do not understand. Can

[2018-12-17 21:42] kenogr commented on #8141
Yes, I think you're right based upon the error. For my SPI, I also tried setting the reply URL's just in case -- doesn't work on any variant. Looks like #7462 is root cause here.

[2018-12-17 23:22] cormacpayne commented on #7251
Closing as fixed.

[2018-12-17 23:22] #7251 closed

[2018-12-18 00:53] rahuldutta90 commented on #7462
@cormacpayne  We are hitting this issue in Az module in the SPI path also (which I am not sure why). I think we need this fix for Az datalake module to work.

[2018-12-18 01:15] vladimir-shcherbakov opened #8157 "[TestRunner] Remove Resources module from the list of preset RM modules."
Only Profile module is required for the test infrastructure setup, Resources module should be removed from the list of preset RM modules. AzureRM.Resources.ps1 script should be used to get basic Resource Management functionality (Create/Remove a resource group).

[2018-12-18 05:16] rahuldutta90 commented on #8141
@kenogr here is another mitigation:

$testEnv1="ADLSEnv"
   Add-AzEnvironment -Name $testEnv1 `
    -PublishSettingsFileUrl 'http://go.microsoft.com/fwlink/?LinkID=301775' `
    -ServiceEndpoint 'https://management.core.windows.net/' `
    -ManagementPortalUrl 'http://go.microsoft.com/fwlink/?LinkId=254433' `
    -ActiveDirectoryEndpoint 'https://login.windows.net/' `
    -ActiveDirectoryServiceEn

[2018-12-18 08:00] blueww commented on #7780
The PR is merged and this will be fixed in Az 1.0 release.

[2018-12-18 08:00] blueww commented on #7143
The PR is merged, and this will be fixed in Az 1.0 release.

[2018-12-18 08:00] #7143 closed

[2018-12-18 10:38] pavelpervi commented on #8150
@markcowl AzureAD (module for manage Azure Active Directory from powershell) is under azure-powershell maintenance? or i got to wrong section?

[2018-12-18 12:41] alexandair commented on #8146
@markcowl AKA link is working now. I'll close the issue.

[2018-12-18 12:41] #8146 closed

[2018-12-18 14:35] eyccli commented on #7558
@panchagnula  hi, I have a question since I am facing the same issue.  Is there an equivalent command to"Publish-AzureWebsiteProject" ? I do not see anything that supports that in the new ARM commands.

[2018-12-18 14:35] eyccli commented on #7668
Hi, I have a question since I am facing the same issue. Is there an equivalent command to"Publish-AzureWebsiteProject" ? I do not see anything that supports that in the new ARM commands.

[2018-12-18 15:32] benmillaneasos commented on #7763
@DeveloperTommy @jemex Any update?

[2018-12-18 19:43] kenogr commented on #8141
Thanks @rahuldutta90. Mitigation works perfectly. Looking forward to deployment of fix.

[2018-12-18 21:18] cormacpayne commented on #7875
This issue has been fixed and will be available in our next release (2018-01-15).

[2018-12-18 21:18] #7875 closed

[2018-12-18 21:40] MouthOfMadness opened #8163 "Get-AzureRmADApplication insufficient privileges"
### Description
I'm using a service principal to query and configure another application for the purpose of putting a policy in a key vault, but every powershell command returns insufficient privileges.

I have configured my service principal with every possible permission (see the attached screen shot).

### Script/Steps for Reproduction

I can't get past the Get-AzureRmADApplication without a Au

[2018-12-18 21:52] bsweeney commented on #7558
@eyccli I find myself in a similar situation. I believe you can use the [azure command line](https://docs.microsoft.com/en-us/cli/azure/?view=azure-cli-latest). The equivalent command would be something along the lines of (depending on your current usage):

[code]
[ref](https://docs.microsoft.com/en-us/cli/azure/webapp/deployment/source?view=azure-cli-latest#az-webapp-deployment-source-config-zip)

[2018-12-18 22:00] cormacpayne commented on #8163
@MouthOfMadness would you mind providing the following:

- What version of `Az` / `AzureRM` are you using?
    - This can be retrieved by running `Get-Module -Name Az* -ListAvailable`
- What is the resulting error when running the command?
    - This can be retrieved in full detail by running `Resolve-AzError` ( or `Resolve-AzureRmError` if you're using `AzureRM`)
- What is the resulting debug tra

[2018-12-18 22:01] MouthOfMadness commented on #8163
Sorry, it got away from, I'm still collecting the data.

[2018-12-18 22:09] panchagnula commented on #7558
@eyccli , right now there is no equivalent for the Publish-AzureWebsiteProject since that uses WebDeploy, currently the ZipDeployment is supported on azure-cli only, we are working getting this support in Powershell as well. @Nking92 , FYI. Please link the ZipDeployment commandline item to this issue when you get a PR started. Thank you.

[2018-12-18 22:18] cormacpayne commented on #7260
Closing as this issue seems to have been resolved by the above PR.

[2018-12-18 22:18] #7260 closed

[2018-12-18 22:18] cormacpayne commented on #6467
Closing as this will be resolved by PR https://github.com/Azure/azure-powershell/pull/8018

[2018-12-18 22:18] #6467 closed

[2018-12-18 22:21] cormacpayne commented on #6972
@mboersma Hey Matt, would you mind taking a look at this issue when you get the chance?

[2018-12-18 22:41] kpfaulkner commented on #7558
We're also hitting this suddenly with OctopusDeploy (multiple versions/instances) and have raised a ticket with Azure to see if the APIs are definitely deprecated.

[2018-12-18 22:43] eyccli commented on #7558
@bsweeney  Thanks for this, I will give it a try.  Our deployment was very dependent on  using "publishsettings" and the "Get-AzureWebsite", "Set-AzureWebsite" and "Publish-AzureWebsiteProject" from our Bamboo CI. We automated everything without any user interaction, so this is almost a step backwards until an equivalent is in place in AzureRM.  I'm not sure why it was deprecated and removed befor

[2018-12-18 22:51] #5509 closed

[2018-12-18 22:53] #6396 closed

[2018-12-18 22:56] #7319 closed

[2018-12-18 22:59] cormacpayne commented on #6549
@kilasuit the has been added to `Get-AzVM`, but we are looking for more areas to add this functionality as well

[2018-12-18 23:00] panchagnula commented on #7558
@kpfaulkner , we did unblocked the "Publish-AzureWebsiteProject" APIs for now, until we get the ZipDeployment command in Powershell. We are targeting Mid Jan release for this at this point, this should unblock you for now. Please re-try & confirm that this is infact the case. Thank you!

[2018-12-18 23:00] #7566 closed

[2018-12-18 23:01] eyccli commented on #7558
Can we also unblock the "Set-AzureWebsite"? thank you so much!

[2018-12-18 23:04] cormacpayne commented on #7572
@MiYanni Please break this into multiple issues and place them into the current milestone.

[2018-12-18 23:05] panchagnula commented on #7558
@eyccli Set-AzureWebsite does have an equivalent command for now, & for the missing TIP properties we do have recommended powershell workaround, so those will remain blocked for now. Thank you.

[2018-12-18 23:07] kpfaulkner commented on #7558
@panchagnula Success! Ok, so I take it this means come mid Jan we're back to a removed API? We'll migrate to Octopus using Service Principals which hopefully will avoid this in the future. Thanks for reverting the change!!

[2018-12-18 23:09] cormacpayne commented on #7958
Create a new script, `AzureRM.Authorization.ps1` that contains this functionality.

[2018-12-18 23:14] bsweeney commented on #7558
@eyccli FYI we are using similar setup with publishsettings and Publish-AzureWebsiteProject (but not the other two commands). It looks like you can import publishsettings using the `az account` command. I've not tested yet because I'm waiting for azure cmd to be updated our deployment server.

Good to hear about the temporary unblock for publish, and that equivalent functionality is in development

[2018-12-18 23:17] cormacpayne commented on #8042
Make sure that `Newtonsoft.Json` is handled correctly as well.

[2018-12-18 23:21] cormacpayne commented on #8107
Need discussion with Compute, but it also appears that the underlying file from the specs repository doesn't change that often, so we may be able to pull this information once a release manually.

[2018-12-18 23:51] cormacpayne commented on #8163
@MouthOfMadness I would make sure that the account you're using to access the applications has proper permissions in the current tenant. Running `Get-AzureRmContext` will give you more information about the account you are currently using to make the call to AD.

[2018-12-18 23:59] markcowl opened #8166 "Fix tagging for resource groups"
### Description

Currently, tagging resource groups is only available through Set-AzResourceGroup, which will remove any additional properties applied to the resource group (e.g ManagedBy)

[2018-12-19 00:15] maddieclayton opened #8167 "Release new version of Azure without AzureRM dependency"
Fix was made for Azure to no longer have a dependency on Azure.Storage (and therefore AzureRM.Profile).  We need to make sure this is the correct long term fix, and if so, release a version of Azure with this fix from the AzureRM branch (this was previously only merged into master, so the PR needs to be recreated: https://github.com/Azure/azure-powershell/pull/8035)

[2018-12-19 00:56] cormacpayne commented on #7004
Closing as this module no longer exists

[2018-12-19 00:56] #7004 closed

[2018-12-19 00:58] cormacpayne commented on #7015
Closing as this module no longer exists.

[2018-12-19 00:58] #7015 closed

[2018-12-19 00:59] cormacpayne commented on #4445
Closing as the Scheduler module no longer is shipping with `Az`.

[2018-12-19 00:59] #4445 closed

[2018-12-19 01:00] cormacpayne commented on #2850
Closing as the Scheduler module no longer ships with `Az`.

[2018-12-19 01:00] #2850 closed

[2018-12-19 01:00] cormacpayne commented on #4555
Closing as the Scheduler module no longer ships with `Az`.

[2018-12-19 01:00] #4555 closed

[2018-12-19 01:02] cormacpayne commented on #4938
@v-Ajnava Hey Ajit, would you mind taking a look at this issue?

[2018-12-19 01:02] cormacpayne commented on #4939
Closing as the Scheduler module no longer ships with `Az`.

[2018-12-19 01:02] #4939 closed

[2018-12-19 01:03] cormacpayne commented on #5256
Closing as the Scheduler module no longer ships with `Az`.

[2018-12-19 01:03] #5256 closed

[2018-12-19 01:03] cormacpayne commented on #6209
Closing as the Scheduler module no longer ships with `Az`.

[2018-12-19 01:03] #6209 closed

[2018-12-19 01:03] cormacpayne commented on #6349
Closing as the Scheduler module no longer ships with `Az`.

[2018-12-19 01:03] #6349 closed

[2018-12-19 01:04] cormacpayne commented on #5768
The work was this has been completed.

[2018-12-19 01:04] #5768 closed

[2018-12-19 03:37] bikramgcnz opened #8173 "Set-AzureRmVMCustomScriptExtension : Multiple VMExtensions per handler not supported for OS type 'Windows'"
This seems like a common error many enterprise level deployments run into.

We are trying to run multiple extensions in a VM for a configuration. I know a work around i.e remove existing extension and install new one.

Why is it so difficult to be fixed so we can run as many extensions as we like it?

[2018-12-19 08:45] mrsanjaysharma2 commented on #7668
I don't see an update to my Build/Release Task list in TFS 2015 (Still seeing Azure Web App Deployment). And since Azure Web Deployment is using deprecated cmdlets my releases are failing with "Downlevel error message", Is there an equivalent to this task for my agent on TFS 2015 that can be used.
![forgithub](https://user-images.githubusercontent.com/40750473/50208905-7129fc00-0398-11e9-9969-a7eb

[2018-12-19 15:00] eyccli commented on #7558
@panchagnula  It appears that "Publish-AzureWebsiteProject" is working for us this morning.  I'll get my infrastructure team to look into Service Principals and wait for the ZipDeployment PS command.

Regards,

[2018-12-19 17:13] markcowl commented on #8173
@danielsollondon Can you answer about the capabilities of the extensions API, and whether there are any plans to support the scenario described?

[2018-12-19 17:19] MouthOfMadness commented on #8163
(From my script in VSTS), I won’t print the outcomes but this is the code I printed in my log, I’m exactly in the subscription that I want to be.

Write-Host("get context")
$rc = Get-AzureRmContext
Write-Host("rca = '$($rc.Account)'")
Write-Host("rce = '$($rc.Environment)'")
Write-Host("rcn = '$($rc.Name)'")
Write-Host("rcs = '$($rc.Subscription)'")
Write-Host("rct = '$($rc.Tenant)'")

There’s onl

[2018-12-19 17:23] MouthOfMadness commented on #8163
![configuration](https://user-images.githubusercontent.com/29233402/50236607-7713e300-0380-11e9-8c15-2927238940e8.JPG)

Let me attach the picture that keeps getting dropped

[2018-12-19 17:55] chamikasandamal commented on #7558
Using TFS 2015 release pipeline with Azure web app deployment. and with this change that is not working.

[2018-12-19 18:57] markcowl opened #8176 "Update help validation to disallow modules without online help"
### Description

Currently, the check-in build help validation does not detect the lack of markdown help for a module - this will only show up when packaging the module for publishing.

Enhance check-in help validation to require full online help.

### Cost: 2

[2018-12-19 19:51] andrewkittredge commented on #3461
I am having this problem.

[2018-12-19 19:55] MaximoTrinidad commented on #7456
Although, this has been close for awhile... I just want to say... This is finally working on Az Module Version 1.0 released on December 18th.

Woohoo!!

[2018-12-19 20:23] nyanhp commented on #7992
Sorry to bother you again @markcowl , but the issue exists with the released Az module as well. Not only with the cmdlet mentioned above, but with other cmdlets using the AsJob parameter, like this:
[code]

I ensured that all AzureRm modules were removed entirely and installed the current v1.0 Az modules.

[2018-12-19 23:35] Nking92 commented on #8120
I've identified the problem and have an open PR with a fix
https://github.com/Azure/azure-powershell/pull/8183

[2018-12-19 23:54] #7972 closed

[2018-12-20 04:22] maddieclayton commented on #8120
PR merged and fix will be released on 1/15

[2018-12-20 04:22] #8120 closed

[2018-12-20 14:13] PhenixCorp opened #8190 "Typo inside Json file Error"
### Description

The issue is a Typo Error inside the generation of Json file in especially Task Endpoint of Security Center
The Name is wrote : 'GenericSecuirtyTask' insteed GenericSecurityTask  It's just this ;)
But for a treat inside a script etc. we must to have the good term ;)

### Script/Steps for Reproduction

Just make a Rest Invoke (C# or PowerShell) on Endpoint Task List for example.
ht

[2018-12-20 23:38] marc-gmail-towersap commented on #2605
weird, it used to work. now it doesn't.  Am trying to test around it using something like
$myrg = (get-azurermresource -name "somename").resourcegroupname 2>&1

and I want to evaluate $myrg so if I get that error message, to instead use find-azurermresource (which so far still works... so far...)
but I can't seem to get it to work.  That re-direct of stderr to stdout is simply not working, $myrg i

[2018-12-21 03:13] Liminghao0922 commented on #8116
Hi team, any updates on this?

[2018-12-21 06:34] lukeb1961 commented on #7692
STILL happens with az 1.0.1

PS C:\WINDOWS\system32>   $SFC=New-azServiceFabricCluster -Name $ServiceFabricClustername `
                                       -ResourceGroupName $RGSF -Location $Melbourne `
                                       -ClusterSize $clustersize `
                                       -VmUserName $user -VmPassword $securepasswd `
                                       -

[2018-12-21 12:21] Yvand commented on #1543
I also faced this issue. I understand the reason and the workaround suggested by @blueww works, but it took me time to find it, it should be clearly documented in https://docs.microsoft.com/en-us/powershell/module/azure.storage/get-azurestoragefile?view=azurermps-6.13.0.

[2018-12-21 14:38] paulstroh commented on #2605
Try using the Powershell cloud shell CLI from the Azure portal.  This
worked for me and saved me the hassle of dealing with different module
versions.

____________________________________

Paul Stroh

Sr. Systems Engineer - IT

Dycom Industries, Inc.

Tel: 561-799-3277 <561-799-3277>

paul.stroh@dycominc.com

This email, and any documents which may accompany it, contain information
which is inten

[2018-12-21 22:33] #5365 closed

[2018-12-22 20:53] abatishchev commented on #2278
@ravbhatnagar hi, any plans to address this issue anyhow? It's a source of troubles and frustration for so many customers for several years now.

[2018-12-22 21:49] LukeCarrier commented on #2278
Please stop +1ing in the thread and just click the :+1: button in the issue
description. Everyone subsribed to this issue receives emails when you
reply to it.

On Sat, 22 Dec 2018 at 20:56, Alexander Batishchev <notifications@github.com>
wrote:

[2018-12-22 21:53] abatishchev commented on #2278
That's the exactly the point of replying, it bumps the thread. Expressing an emotion does not.

[2018-12-22 22:19] LukeCarrier commented on #2278
I think Microsoft have demonstrated their indifference pretty clearly in
this thread -- there has been no progress on this issue since it was
raised. I share your frustrating, but I don't think carpet bombing all of
the issue's subscribers with emails is helping anyone.

</carpet bombing all of the issue's subscribers>

On Sat, 22 Dec 2018 at 21:54, Alexander Batishchev <notifications@github.com>

[2018-12-23 00:00] gmoed commented on #2278
@abatishchev , I provided a way to overcome this "issue" in a comment above. rename the parameter passed in the cmdlet as shown in the pic, that should work for any conflicting parameter name

[2018-12-23 00:06] abatishchev commented on #2278
@gmoed I know to work this around. Rename every custom parameter of which name is reserved. But figure this out from weird, poorly worded, undocumented behavior. Right.

Instead, I proposed a better validation with better message explaining what's wrong and what user should do about it.

[2018-12-24 17:01] achaikaJH commented on #8009
I have the same issue only in my cause every cmdlet related to AzureRmAutomationSchedule returns an error:
`ERROR: Set-AzureRmAutomationSchedule : Value cannot be null.
Parameter name: source
At line:10 char:1
+ Set-AzureRmAutomationSchedule –AutomationAccountName $automationAccou ...
+ ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    + CategoryInfo          : CloseError:

[2018-12-26 14:17] lwajswaj opened #8200 "Start-AzAutomationRunbook doesn't output the right error"
### Description

When executing Start-AzAutomationRunbook to execute a runbook, when there's an error, it returns with the message "Invalid runbook parameters." even if the actual HTTP Response's error was different. At least, I saw this behavior when attempting to execute a Runbook in a different subscription than what I had selected.

### Script/Steps for Reproduction

1. You have an environment

[2018-12-26 14:18] lwajswaj commented on #8200
Please, notice HTTP Response Body:

Body:
{
  "error": {
    "code": "ResourceGroupNotFound",
    **"message": "Resource group 'ResourceGroupName' could not be found."**
  }
}

but the error thrown by cmdlet is
**Start-AzAutomationRunbook : Invalid runbook parameters.**

[2018-12-26 16:14] yoannchaudet opened #8201 "Switch to tenant with no subscriptions using Set-AzContext (Az 1.0.1)?"
### Description

I have access to two tenants. One of them does not have an Azure subscription. I can "freshly" connect to both tenants using `Connect-AzAccount -Tenant` but if I want to switch tenant using `Set-AzContext -Tenant` this only works for the tenant where I have a subscription.

Is that the expected behavior?

Without a subscription in context I cannot do much, but creating a service p

[2018-12-26 18:40] maddieclayton commented on #6549
This seems to be multiple parts:
- [ ] Ensure that all top level resources can list over subscription as well as resourcegroupname
- [ ] Add wildcard support for all Get "Name" parameters to allow listing with filters

We need to decide whether this will just be in top level resources, and whether we only filter by "Name", or if we would support filtering by parent resource name as well (this coul

[2018-12-26 19:01] maddieclayton commented on #8025
Unfortunately, as the internals of the session state are private, it seems to be not possible to set aliases to global without using actual PowerShell cmdlets (rather than manipulating the alias provider).  My proposal for "fixing" this would be to add a new Scope "Local" to the Scope parameter, make this the default, and then run the PowerShell cmdlet for every alias if the user selects "Process"

[2018-12-27 14:03] LockTar commented on #7469
I have the same issue. If the certificated is already uploaded, a binding can be set with giving the thumbprint

[2018-12-28 16:47] danielyarmoski opened #8210 "Error Executing Azure Powershell in Visual Studio"
I was able to right click on my powershell script project and click execute as script. And it would work fine. Including doing the login-azurermaccount and bringing up the popup box for me to log in. Now since Wednesday probably not long after i updated my visual studio i can no longer do anything with my powershell script projects. I get error messages like the below. I know i have the modules in

[2018-12-28 17:46] #5927 closed

[2018-12-31 16:01] mike74vh commented on #8009
I have also same error, but the command is executed (I see my new schedule in Azure portal). To use this command in a script context, I call -ErrorAction with SilentContinue value.

[2018-12-31 18:44] markcowl commented on #8201
@yoannchaudet You should use ```Select-AzContext``` to select between contexts that were created with Connect-AzAccount.  Set-AzContext changes the properties of an existing context or creates a new one.

[2018-12-31 18:46] markcowl commented on #8190
@PhenixCorp This isn't an issue with Azure PowerShell, but with the service itself.  To get this fixed, you will need to contact the Security Center team.

[2018-12-31 18:46] #8190 closed

[2018-12-31 18:50] markcowl commented on #8200
@vrdmr This looks like several kinds of errors are returning this generic error message when the error message from ARM in this case is more descriptive.  Can you take a look?

[2018-12-31 18:52] markcowl commented on #8210
@danielyarmoski Can you share the module layout on your machine?  Run ```Get-Module -ListAvailable``` and place the contents here.

[2018-12-31 18:55] markcowl commented on #8201
### Description
```Set-AzContext``` shoudl allow creating or editing contexts to have no selected subscription, and this function should be well-documented.

### Cost: 2

[2019-01-02 07:56] tlisiecki opened #8215 ""Enable-AzureRMAlias -Scope CurrentUser" does not persist between sessions"
"Enable-AzureRMAlias -Scope CurrentUser" should enable aliases cross sessions.
It is supposed to add an entry to profile.ps1 in which it enables aliases upon shell start.
It doesn`t seem to work properly for me though.
I believe it is due to the following line:
https://github.com/Azure/azure-powershell/blob/32d2e398e5f0f97c6a43eb1641dcd3a7a7369b5b/src/ResourceManager/Profile/Commands.Profile/Azure

[2019-01-02 16:36] MouthOfMadness commented on #8163
Based on the picture I attached, which permission do you think I'm missing?

[2019-01-02 18:45] maddieclayton commented on #8215
@tlisiecki  Thank you for this catch, you are absolutely right.  I will work on this fix and it will be released on 1/15.

[2019-01-02 19:01] #7020 closed

[2019-01-02 19:19] maddieclayton commented on #7530
https://github.com/Azure/azure-powershell-common/pull/115
https://github.com/Azure/azure-powershell/pull/8202

[2019-01-02 21:14] maddieclayton opened #8220 "New-AzADUser requires -MailNickname but parameter is not required"
### Description

New-AzADUser throws when -MailNickname is not provided, but the parameter is not required.  Not sure if this parameter should be required or if there is some other issue with the cmdlet code.
PR where this issue was discovered: https://github.com/Azure/azure-powershell/pull/8212/files
### Script/Steps for Reproduction

[code]

### Module Version

[code]

### Environment Data

[cod

[2019-01-03 02:06] maddieclayton commented on #8041
Done

[2019-01-03 02:06] #8041 closed

[2019-01-03 02:40] yoannchaudet commented on #8201
@markcowl Thanks! I did not know (or forgot) about `Select-AzContext`.

[2019-01-03 05:45] tlisiecki commented on #8215
Hi @maddieclayton. Thanks for your support!
As for the workaround - yes that`s what I`ve done for myself and I can confirm it works fine that way.

[2019-01-03 08:55] StefanSchoof opened #8225 "Stop-AzureRmVM Id parameter documentaion"
### Description

At https://docs.microsoft.com/en-us/powershell/module/azurerm.compute/stop-azurermvm?view=azurermps-6.13.0#required-parameters the Parameter `-Id` is documented with:
[code]
Since there is an parameter `-ResourceGroupName` this sound wrong.

### Script/Steps for Reproduction

N/A

### Module Version

6.13.0

### Environment Data

N/A

### Debug Output

N/A

See also https://github

[2019-01-03 11:53] kilasuit opened #8226 "Add All AzureRM aliases by default to any AZ Cmdlets and remove the Enable-AzureRMAlias cmdlet"
`Enable-AzureRMAlias` is IMO a bad implementation idea and should not have been implemented, with my reasons as per below.

Aliases tend to, but do not have to be limited to, enable short hand use of cmdlets like `gps` is an alias of `get-process`, they can also enable use of extended names of a Cmdlet/function by aliasing the longer command name to a shorter command which would not break existing

[2019-01-03 18:10] #8111 closed

[2019-01-03 18:10] #8110 closed

[2019-01-03 18:10] #7275 closed

[2019-01-03 18:43] maddieclayton commented on #8225
@StefanSchoof Thanks for pointing this out! Opened a PR to fix this here: https://github.com/Azure/azure-powershell/pull/8229.

[2019-01-03 18:46] maddieclayton commented on #7848
Closing as question was answered. Please reopen if you have further questions.

[2019-01-03 18:46] #7848 closed

[2019-01-03 18:47] maddieclayton commented on #7850
Closing - please reopen if you are still seeing errors.

[2019-01-03 18:47] #7850 closed

[2019-01-03 18:49] maddieclayton commented on #7873
@gucalder Can you take a look at this issue?

[2019-01-03 18:50] maddieclayton commented on #7895
Closing for inactivity - please reopen if you are still seeing an issue, and provide the requested information above.

[2019-01-03 18:50] #7895 closed

[2019-01-03 18:50] maddieclayton commented on #7920
Closing - please reopen if you are still seeing this issue in Az.

[2019-01-03 18:50] #7920 closed

[2019-01-03 18:53] maddieclayton commented on #7976
This repo is for Azure PowerShell cmdlets - please open an issue here for questions about ARM templates: https://github.com/Azure/azure-quickstart-templates.

[2019-01-03 18:53] #7976 closed

[2019-01-03 18:54] maddieclayton commented on #8009
@vrdmr Can you take a look at this issue?

[2019-01-03 18:55] maddieclayton commented on #8023
Closing for inactivity - please reopen if you are still seeing this issue, and please provide the information requested above.

[2019-01-03 18:55] #8023 closed

[2019-01-03 18:55] maddieclayton commented on #8045
Please open an issue here if you are still having issues with ARM templates: https://github.com/Azure/azure-quickstart-templates.

[2019-01-03 18:55] #8045 closed

[2019-01-03 18:56] maddieclayton commented on #8118
Closing for inactivity - please reopen if you continue to see this issue, and please provide the information requested above.

[2019-01-03 18:56] #8118 closed

[2019-01-03 18:57] maddieclayton commented on #8131
@vrdmr Can you take a look at this issue?

[2019-01-03 18:58] maddieclayton commented on #8138
@panchagnula Can you take a look at this issue?

[2019-01-03 21:32] ssrm commented on #6965
When I am trying to use Import-AzureRmApiManagementApi, I am always getting below error. Is there anyone have any clue?

Body:
{
  "error": {
    "code": "ValidationError",
    "message": "One or more fields contain incorrect values:",
    "details": [
      {
        "code": "ValidationError",
        "target": "path",
        "message": "Invalid value of the Web API URL suffix"
      }
    ]
  }

[2019-01-03 22:42] maddieclayton commented on #8042
Done here: https://github.com/Azure/azure-powershell/pull/8192

[2019-01-03 22:42] #8042 closed

[2019-01-04 01:55] markcowl commented on #8226
@kilasuit Thanks for the good feedback.

We did consider having the old cmdlet names automatically exported by the modules alongside the new ones.

Here are some reasons why we decided to use a set of cmdlets to manage aliases for compatibility instead.  I've also included some of the reasons why we wanted to make a sweeping cmdlet name change in the first place.

- The primary purpose of the cmdl

[2019-01-04 02:14] MiYanni commented on #7572
For now, I'm going to write an outline/document about what needs done. This is definitely not complete, but it is a good start.

We have many processes required to create a 'complete' cmdlet. These include:
- Generate PS asset files: `.psd1`, `.psm1`, `ps1xml` (_types_ & _format_)
  - https://github.com/Azure/azure-powershell/issues/6113
  - This requires considerable design work.
    - We have so

[2019-01-04 03:16] kilasuit commented on #8226
Hi Mark,

Some counter points

I disagree and whilst I personally will always suggest against aliases this is one of the few rare occasions where Aliases make for a semi sensible suggestion to use. The main irk with Aliases that are not defined within the Cmdlet definition is that I cannot get that info from a search of the source code, which is where aliases should be defined, not after the fact

[2019-01-04 06:03] acmcg opened #8235 "Get-AzureRmRoleAssignment (AzureRM.Resources 6.0.2) doesn't respect -ErrorAction"
### Description

Get-AzureRmRoleAssignment (AzureRM.Resources 6.0.2) doesn't respect -ErrorAction

### Script/Steps for Reproduction

Note: Commands are being run against AzureStack

Run the commandlet against a non existent policy assignment with ErrorAction set to SilentlyContinue
get-AzureRmPolicyAssignment -Name "BogusPolicyAssignment" -Scope "/subscriptions/$SubscriptionId/resourceGroups/$res

[2019-01-04 10:19] tobias-geiser commented on #7406
The AzureRM module has still the same issue also in version 6.13. As AzureRM will not get any new features in the future, I switched to Az module and as expected it works perfectly.

https://docs.microsoft.com/en-us/powershell/azure/new-azureps-module-az?view=azps-1.0.0

[2019-01-04 14:34] brandtr commented on #6783
What is the status on this? I also get this error.

[2019-01-04 16:43] alex-moffitt commented on #6219
@darshanhs90 or @grlin  I might be doing it wrong then. I am on 6.13.1
When I do the following I get the not allowed error.
[code]

[2019-01-04 17:54] grlin commented on #6219
@alex-moffitt The fix is in the new Az 1.0 release.

[2019-01-04 18:26] sptramer opened #8237 "Get-Help -Online refs for some Az commands out of date"
### Description

Some commands which have been renamed or changed from aliases, such as `Connect-AzAccount`, may not direct to the correct online help page when `Get-Help -Online` is used.

### Script/Steps for Reproduction

[code]

### Module Version

[code]

### Environment Data

[code]

[2019-01-04 18:33] nachakra commented on #6783
It works for me for a "Microsoft standard" pricing tier profile. Are you sure that you have the latest powershell  Azure sdk?

[2019-01-04 19:54] erick-thompson commented on #7302
Do we have a Docker image for Az? The PowerShell module, not command line.

[2019-01-04 21:05] alexandair opened #8238 "Get-AzAutomationSoftwareUpdateConfiguration returns a wrong value for the OperatingSystem property"
### Description

Scheduled update deployments in Azure Automation Update Management are set up for Linux operating system and the Portal shows the correct data ("Linux").
<img width="473" alt="os_portal" src="https://user-images.githubusercontent.com/3135708/50710869-85464c80-106c-11e9-90ee-284997777a65.png">

Get-AzAutomationSoftwareUpdateConfiguration returns the incorrect value "Windows" for th

[2019-01-04 21:05] maddieclayton commented on #8238
@vrdmr Can you take a look at this issue?

[2019-01-04 21:12] maddieclayton commented on #2605
This is working in our most recent version of Az as well as the last released version of AzureRM.  If you are still seeing issues with Get-AzResource on Az (https://www.powershellgallery.com/packages/Az.Resources/1.0.0), please open a new bug.  Thanks all!

[2019-01-04 21:12] #2605 closed

[2019-01-04 21:17] naveenaggarwal commented on #8141
@rahuldutta90  I am still getting the same error message after Mitigation.

PS C:\> Test-AzDataLakeStoreItem -AccountName testaccountName -Path "/" -Debug
DEBUG: 12:49:35 PM - TestAzureDataLakeStoreItem begin processing with ParameterSet '__AllParameterSets'.

Confirm
Continue with this operation?
[Y] Yes  [A] Yes to All  [H] Halt Command  [S] Suspend  [?] Help (default is "Y"): A
DEBUG: 12:49:40

[2019-01-04 21:31] maddieclayton commented on #7660
Closing as fixed. @deathly809 Let me know if I should reopen.

[2019-01-04 21:31] #7660 closed

[2019-01-04 21:34] deathly809 commented on #7660
@maddieclayton  was going to close but we have not published the fix yet.  What is the correct way to handle issues?  Once the Fix is merged or when it is released?

[2019-01-04 21:57] maddieclayton commented on #7660
I usually close them when the PR gets merged, but if you want to keep it open until it gets published we can do that as well.

[2019-01-04 21:59] maddieclayton commented on #8039
Closing in favor of https://github.com/Azure/azure-powershell/issues/6234 - we should add this piping scenario to all of the cmdlets in Compute.

[2019-01-04 21:59] #8039 closed

[2019-01-05 00:31] sourabhguha commented on #5862
Varad – connections are owned by Jeff. Can you please assign to him. I don’t know what his github handle is.

From: Varad Meru <notifications@github.com>
Sent: Friday, January 4, 2019 4:02 PM
To: Azure/azure-powershell <azure-powershell@noreply.github.com>
Cc: Sourabh Guha <Sourabh.Guha@microsoft.com>; Assign <assign@noreply.github.com>
Subject: Re: [Azure/azure-powershell] Set-AzureRmAutomationCo

[2019-01-05 00:35] sphibbs commented on #6833
Closing for @gucalder per email discussion. He has verified fixes.

[2019-01-05 00:35] #6833 closed

[2019-01-05 00:52] vrdmr commented on #5862
Sure. I'll do that. Thanks.

[2019-01-05 01:00] maddieclayton commented on #8025
Created this pull request for the proposal above: https://github.com/Azure/azure-powershell/pull/8239

[2019-01-05 16:35] yxie97 opened #8240 "Set-AzureRmResource gives input object cannot be bound error"
### Description

Started to have a weird issue after installing AzureRm 6.13.1. Even simplest code (get a resource and set it back) as below:

[code]

throws an excpetion:

[code]

Now even after I uninstalled 6.13.1, I am still getting this issue

### Script/Steps for Reproduction

[code]

### Module Version

[code]

### Environment Data

[code]

### Debug Output

[code]

[2019-01-05 21:02] Chemlin commented on #7589
How do i roll over certificates on a local Service Fabric Cluster????

[2019-01-06 08:45] darshanhs90 commented on #7679
Closing this issue as this fixes it https://github.com/Azure/azure-powershell/pull/7743

[2019-01-06 08:45] #7679 closed

[2019-01-06 23:45] itsxallwater commented on #6595
Adding my support to this thread as the WorkloadType documentation, implementation and Intellisense seem inconsistent.

- The [documentation](https://docs.microsoft.com/en-us/powershell/module/azurerm.recoveryservices.backup/get-azurermrecoveryservicesbackupitem?view=azurermps-6.13.0) suggests WorkloadType will accept "AzureVM", "AzureSQLDatabase" or "AzureFiles".
- When calling the command via Po

[2019-01-07 11:49] spaelling opened #8243 "No output from Get-AzResource for ResourceType Microsoft.Compute/virtualMachines/instanceView"
### Description

`Get-AzResource` with ResourceType `Microsoft.Compute/virtualMachines/instanceView` does not output anything. As can be seen in the debug output the response from https://management.azure.com is perfectly valid

Also I had same non-result from Get-AzureRmResource (non-aliased).

If adding the switch -ExpandProperties then an error is thrown

[code]

### Script/Steps for Reproducti

[2019-01-07 15:19] joergschurig commented on #4780
PackageManagement\Install-Package : Package 'Az.Relay' failed to be installed because: Der Prozess kann nicht auf die
Datei "C:\Users\rdbschurig\AppData\Local\Temp\kvcsookq\Microsoft.Azure.PowerShell.Cmdlets.Relay.dll" zugreifen, da sie
von einem anderen Prozess verwendet wird.
At C:\Program Files\WindowsPowerShell\Modules\PowerShellGet\1.0.0.1\PSModule.psm1:1772 char:21
+ ...          $null = Pac

[2019-01-07 15:21] joergschurig opened #8244 "Package 'Az.Relay' failed to be installed"
PS P:\> Install-Module -Name Az -AllowClobber

Nicht vertrauenswürdiges Repository
Sie installieren die Module aus einem nicht vertrauenswürdigen Repository. Wenn Sie diesem Repository vertrauen, ändern
 Sie dessen InstallationPolicy-Wert, indem Sie das Set-PSRepository-Cmdlet ausführen. Möchten Sie die Module von
'PSGallery' wirklich installieren?
[Y] Yes  [A] Yes to All  [N] No  [L] No to All  [

[2019-01-07 16:02] cormacpayne commented on #8244
@joergschurig would you mind doing the following?

- Close all existing PowerShell windows (including VS Code if you have the PowerShell extension installed) and try installing the module again
- If the module still won't install, please provide the following information:
    - The list of Azure PowerShell modules installed on your machine using the command `Get-Module -Name Az* -ListAvailable`

[2019-01-07 18:15] cormacpayne commented on #8243
@spaelling Hey Anders, a couple of questions for you:

(1) When you run `Get-AzResource` with no parameters, is the `Microsoft.Compute/virtualMachines/instanceView` resource you're searching for in the returned list of resources?
(2) Would you mind returning the debug output from the command execution with the `-ExpandProperties` parameter?

[2019-01-07 19:21] cormacpayne commented on #7859
@MatthewJDavis Hey Matthew, thanks for doing the above tests. I'll need to take a look at the Linux scenario, but I do believe you're correct that it's a way with how .NET Core handles certificates on Linux. It appears that you should be unblocked for the Windows scenario, so I'm going to temporarily close this issue, and if I find that the issue for Linux is on our side rather than .NET Core, I w

[2019-01-07 19:21] #7859 closed

[2019-01-07 19:46] maddieclayton commented on #8225
Fixed.

[2019-01-07 19:46] #8225 closed

[2019-01-07 19:46] maddieclayton commented on #8215
Merged, will likely be released on 1/15 unless we have a patch earlier.

[2019-01-07 19:46] #8215 closed

[2019-01-07 22:09] bcunningham-relativity opened #8248 "Update-AzureRMVmssVM does not update with changes from Remove-AzureRmVmssVmDataDisk"
### Description

I have a data disk I have added to an individual scale set VM via Add-AzureRmVmssVMDataDisk. I would like to remove this disk, but Update-AzureRmVmssVM is not applying the changes I am sending. I do not receive an error.

I do notice that Update-AzureRMVmssVM has a note that says only adding data disks are allowed, but there is a separate function to remove data disks from individ

[2019-01-07 23:07] maddieclayton opened #8252 "Add tests for Enable/Disable-AzureRmAlias"

[2019-01-07 23:07] maddieclayton opened #8253 "Add suppressions file for Policheck"

[2019-01-08 00:02] rbeauchamp commented on #7589
@markcowl  Can you please re-open this issue? I am getting the same error reported by @akrone-hach and @tr1al3x:

[code]

Maybe I'm getting the above error because I uploaded the certificate to the existing key vault already used/reference by the cluster. To roll over a certificate, do we really need to create a new key vault to hold the new cert? Thanks!

[2019-01-08 12:22] benmillaneasos commented on #7763
@DeveloperTommy @jemex Any update?

[2019-01-08 13:58] TiTi commented on #5369
I also noticed this issue but it only happens when the VM is deallocated.
When running, `StorageAccountType` is correctly filled.

[2019-01-08 15:51] benlavender opened #8256 "Set-AzContext "Method not found: 'System.String Microsoft.Azure.Commands.Profile.Models.PSAzureTenant.get_Directory()'.""
### Description

Set-AzContext "Method not found: 'System.String Microsoft.Azure.Commands.Profile.Models.PSAzureTenant.get_Directory()'." when running Set-AzContext on string variable.

### Script/Steps for Reproduction

When executing the below command we are receiving the above error message. This is part of a larger script block within a script but is the only part where this error is being thr

[2019-01-08 16:12] tr1al3x commented on #7589
Here how I got cert renewed..
1. Upload cert to keyvault (new version), copy the SecretIdentifier URL, you will need it to update SF templates below.
2. Navigate to "resource explorer" your subscription -- > resource group -- > providers/Microsoft.Compute/virtualMachineScaleSets
3. Chose your scale set to update, click EDIT/read/write.
4. Locate "vault certificates" in the template and add the fol

[2019-01-08 17:12] PaoloRavina commented on #4777
Is this functionality going to be added to New-AzAutomationAccount?

[2019-01-08 18:44] bganapa commented on #7199
The issue is fixed in Az module, Keeping this open for AzureRm.Profile module fix as this exists in AzureRm

[2019-01-08 18:45] bganapa commented on #7199
PR is here, https://github.com/Azure/azure-powershell/pull/8234

[2019-01-08 20:41] maddieclayton commented on #8025
Fix merged.

[2019-01-08 20:41] #8025 closed

[2019-01-08 20:44] maddieclayton commented on #4542
Fixed.

[2019-01-08 20:44] #4542 closed

[2019-01-08 20:46] cormacpayne commented on #8220
This has been fixed and will be available in the next release of `Az` (2018-01-15).

[2019-01-08 20:46] #8220 closed

[2019-01-08 20:47] cormacpayne commented on #3088
@davidobrien1985 @devjevnl thanks for the comments -- the updated documentation will be available in the next release of `Az` (2019-01-15).

[2019-01-08 22:18] rbeauchamp commented on #7589
@tr1al3x Awesome!! That worked! Thank you for taking the time to clearly document the steps.

[2019-01-08 22:45] maddieclayton commented on #8253
Fixed

[2019-01-08 22:45] #8253 closed

[2019-01-08 22:50] MiYanni commented on #7838
@panchagnula Can you take a look at this?

[2019-01-08 22:56] MiYanni commented on #8237
@cormacpayne Make a small script to crawl our help docs, run the online URL, and see which give 404 errors. Then, fix the urls.

[2019-01-08 23:03] MiYanni commented on #8256
@benlavender Please remove the 0.7.0 version of the modules. We made changes between 0.7.0 and 1.0.0, and it is likely causing issues for you. Let us know if you still have issues afterwards.

[2019-01-08 23:06] MiYanni commented on #6234
This work will be handled by the generator.

[2019-01-08 23:06] #6234 closed

[2019-01-08 23:15] MiYanni commented on #7589
@rajsqr Can you take a look?

[2019-01-08 23:17] benlavender commented on #8256
- @MiYanni thanks well I managed to run the command successfully when it was ran from Az.Accounts module version 1.0.0 as soon as I'd logged this.

[2019-01-08 23:48] maddieclayton commented on #8248
@rajsqr Can you take a look at this issue?

[2019-01-09 00:03] #8176 closed

[2019-01-09 13:22] pixelicous commented on #7456
@MaximoTrinidad this is not fully resolved.

[2019-01-09 14:36] AxtralSteel opened #8265 "Set-AzureStorageBlobContent Cannot Bind Parameter 'Context'"
### Description

Hi,

I'm having an issue with uploading a file to a storage account in my script and was hoping for some assistance.

For context, the whole script cycles through all of our subscriptions gathering information, then emails that information. The last stage is to save a copy of that information into a storage account. It successfully connects to the storage account and deletes files

[2019-01-09 15:10] benmillaneasos commented on #7763
@DeveloperTommy @jemex How long does it take for something that's been assigned to be looked at?

[2019-01-09 16:01] rnsc opened #8266 "Get-AzKeyVault : Value cannot be null. Parameter name: token"
### Description

When using Powershell 6.1.0 container (on Linux) and the Az module, I cannot access KeyVaults when using Connect-AzAccount with AccessToken and KeyVaultAccessToken

### Script/Steps for Reproduction

Create a ResourceGroup and an Azure KeyVault in your subscription through the Azure Portal.
As I'm using a container and want to set up secrets in a keyvault in a non interactive fash

[2019-01-09 16:10] MaximoTrinidad commented on #7456
@pixelicous

If you feel it isn't working. I suggest to open a new incident so it can be track down.  This will create visibility.  The issues I was having seems all gone.

:)

[2019-01-09 17:18] knithinc commented on #3735
@hyonholee could you please provide an update on this issue? We have a customer ICM requesting why there is this warning, and would like to get a better understanding of it.

[2019-01-09 19:02] vladimir-shcherbakov commented on #6180
close as merged

[2019-01-09 19:02] #6180 closed

[2019-01-09 19:07] vladimir-shcherbakov commented on #7876
An e-mail sent out to discuss possible ways of fixing the issue.

[2019-01-09 19:51] grlin commented on #6493
Have you continued to see this issue? If not, I will be closing it on Friday.

[2019-01-09 19:52] grlin commented on #6855
Hi, the fix for this should be included in the Az 1.0 release.

[2019-01-09 19:54] grlin commented on #6974
@PowershellNinja  do you still see this issue when using Az 1.0?

[2019-01-09 20:18] sagawater commented on #3091
@markcowl Would it be better to change PromptBehavior from Always to SelectAccount or have a way to control it via a SwitchParameter ? We have multiple accounts in our organization and we find ourselves typing our credentials several times a day. I don't see any impact of doing that change since SelectAccount seems to display the same page as Always option when there is no accounts in the current

[2019-01-09 20:57] maddieclayton commented on #8256
Thanks @benlavender! Closing as resolved.

[2019-01-09 20:57] #8256 closed

[2019-01-09 21:00] maddieclayton commented on #8210
Closing for inactivity - please reopen if you are still seeing this issue, and, if so, please provide the requested information above.

[2019-01-09 21:00] #8210 closed

[2019-01-10 01:01] Bpoe commented on #7763
@benmillaneasos The DaysOfMonth enum resides in the AzureRM.Automation module in the Microsoft.Azure.Commands.Automation.Cmdlet namespace. Here is an example usage:
[code]
Please give that a try and reactivate this issue if you have problems.

[2019-01-10 01:01] #7763 closed

[2019-01-10 01:07] lwajswaj commented on #8166
Do you mean it will remove addition tags in the resource group?

[2019-01-10 02:44] rahuldutta90 commented on #7462
@cormacpayne Any status regarding this fix?

[2019-01-10 08:14] joergschurig commented on #8244
thanks for effort. i make a new vm with windows 10 and it works :-)

[2019-01-10 09:30] iricigor commented on #7196
This issue persists also in `AzureRM.Network` version 6.11.1

[2019-01-10 09:41] rnsc commented on #7430
hello @markcowl , how much interest is required by the community to have that feature available on Az for Powershell 6 on Linux?

[2019-01-10 11:18] hermot opened #8277 "Get-AzureRmResource returned object does not contain the ResourceName alias as a property"
### Description

The object(s) being returned from Get-AzureRmResource does not contain the ResourceName alias as a property.
This causes scripts that were working with version 5.5.2 of the Azure.Resources module to break on an environment with version 6.4.2 of the Azure.Resources module.

### Script/Steps for Reproduction

Make sure you have version 5.5.2 of Azure.Resources module installed
Run t

[2019-01-10 12:14] spaelling commented on #7876
I hope you guys can fix this. If I try the workaround

[code]

I get an error

[code]

Meaning either way I cannot work with the MSI

[2019-01-10 12:34] arkein commented on #2108
@atd80 as a minor enhancement, I'd recommend deleting the pfx file after upload for security reasons.

[2019-01-10 15:05] T4GJuneYao commented on #8141
Hi @rahuldutta90
I just migrate to version of az module from AzureRm, using Test-AzDataLakeStoreItem, and it shows the
result like the this:

Test-AzDataLakeStoreItem : Error in getting metadata for path
/global/system_mirror/test.tsv.
Operation: GETFILESTATUS failed with   Unknown Error: The 'User-Agent' header
must be modified using the appropriate property or method.

How to get rid of User-Age

[2019-01-10 16:06] spaelling commented on #8243
(1) I think below is working as intended. This is due to instanceView being a nested resource (resource within a resource). Ie. nothing is returned, body is empty.

[code]

(2) first http request looks ok. Second one is simply not valid
*Absolute Uri:
https://management.azure.com/?api-version=2017-03-30*

Also an instanceView has no _properties_ property

[code]

[2019-01-10 16:11] cormacpayne commented on #8244
@joergschurig good to hear! Please let us know if you continue to see this issue.

[2019-01-10 16:11] #8244 closed

[2019-01-10 18:05] rahuldutta90 commented on #8141
@T4GJuneYao  Can you please read through the above recomendations:

First use net core powershell not windows powershell for az modules

And for a authentication bug you have to use following way to authenticate:
[code]
This authentication bug will be fixed in upcoming release.

[2019-01-10 18:38] SRE93 opened #8279 "can't login u/p with connect-azaccount"
Hey there, I tried different things to log into azureRM with the new Az Module, using Connect-AzAccount. Is it a bug or feature? ;)
Please assist:

`PS C:\> $cred = Get-Credential

cmdlet Get-Credential at command pipeline position 1
Supply values for the following parameters:
Credential
PS C:\> Connect-AzAccount -Credential $cred

cmdlet Connect-AzAccount at command pipeline position 1
Supply val

[2019-01-10 18:39] SRE93 commented on #8279
already submitted here as well: https://github.com/Azure/azure-docs-powershell/issues/910

[2019-01-10 19:01] jzuchora87 commented on #7844
Any update on this? I'm having the same issue.

[2019-01-10 19:01] justinsmits commented on #6343
bump^ @muntaserq

[2019-01-10 19:12] cormacpayne commented on #8279
@SRE93 Hey Sandro, U/P support is currently not available in the `Az` module, but we plan on supporting this scenario for Windows PowerShell 5.1 only in an upcoming release. We are currently tracking this work in the following issue: https://github.com/Azure/azure-powershell/issues/7430

Some notable comments from the above issue:
- [More information on why U/P is not currently supported](https://

[2019-01-10 19:12] #8279 closed

[2019-01-10 20:41] cormacpayne commented on #8163
@MouthOfMadness Apologies for the delayed response. I would make sure of two things:

(1) The permissions you have above are fine (you should only need Windows Azure Active Directory for the calls being made with our cmdlets), but I would make sure that you clicked the **Grant permissions** button to ensure that your application is given the permissions.

(2) You've created a role assignment to gr

[2019-01-10 21:00] T4GJuneYao commented on #8141
@rahuldutta90  Thanks for replying me. Howerver after downloading the Powershell core 6.0, I have no idea on how it work with the powershell ISE because I tried to run the ps1 file in the Powershell ISE.

When is the upcoming release available? I am thinking of restoring back to AzureRm module now and waiting for the next release if it is too much time consuming on fixing this bug.

[2019-01-10 21:50] #8126 closed

[2019-01-10 21:53] #8151 closed

[2019-01-11 00:20] rahuldutta90 commented on #8141
@T4GJuneYao you can run the powershell (ps1) script file in the powershell net core like:

.\test.ps1

If you have functions in powershell file, you can include it and run the function like (testfunc is a function within test.ps1, dot script includes the script):

. .\test.ps1
testfunc

[2019-01-11 06:22] SidFallenAngel commented on #7823
I tried your workaround steps. I am getting the following error

Restore-AzureRmRecoveryServicesBackupItem : Cannot validate argument on parameter 'VaultId'. The argument is
null or empty. Provide an argument that is not null or empty, and then try the command again.
At line:1 char:66
+ ...  Restore-AzureRmRecoveryServicesBackupItem -vaultID $vault.ID -VaultL ...
+

[2019-01-11 07:48] siddharth7 commented on #7823
@SidFallenAngel Looking at the error, it seems like you are passing an empty object in -VaultId parameter. You need to get the vault object using
$vault = Get-AzureRmRecoveryServicesVault -Name <vaultName> -ResourceGroupName <RGName>.
And pass the vault id i.e. $vault.ID

[2019-01-11 12:02] kaveaa commented on #6343
bump^ @muntaserq

[2019-01-11 12:22] AxtralSteel commented on #8265
Hi,

I managed to resolve this the next day before I saw your response.

I changed it from "Set-**Azure**StorageBlobContent" to "Set-**Az**StorageBlobContent". Several people here missed it when we were looking at it before I posted.

I did do an uninstall of all AzureRM modules, but when I installed the 5.1 update, some re-appeared.

Thanks for your help.

[2019-01-11 15:36] muntaserq commented on #6343
In this specific context, I had to build up my $parameters HashTable a little differently.

Instead of doing:
[code]
I had to do:
[code]

This was the recommendation I got from an Azure Support Engineer. This seems to only be the case when using on parameter in the script. All that being said, I've since moved over to using the latest stable version of the AzureRm PowerShell modules and all my iss

[2019-01-11 16:21] MouthOfMadness commented on #8163
I have every permission granted for each API, and it won't let me assign a second Contributor Role as the role already exists.
![role](https://user-images.githubusercontent.com/29233402/51046004-94585d80-158a-11e9-9a33-e5664dba6d17.png)

[2019-01-11 20:43] mgreenegit commented on #1819
This appears to be an abandoned discussion prior to 4 days ago.
@sivajibhai was this resolved elsewhere?
I would like to close this item if there is no activity by 1/15.  I am certainly open to assisting if this is an issue in some environments.

[2019-01-11 20:55] maddieclayton opened #8291 "Fix Jenkins image for "powershell""
All of the machines in "powershell" have been updated to build Az, but the image has not been updated.  This is what needs to be updated:

- [ ] Install PowerShell 6 for x64 and x86
- [ ] Install Netcore 2.1 for x64
- [ ] Install VS 2017 with DotNet tooling
- [ ] Install PlatyPS on PowerShell for x86 and x64

[2019-01-11 22:46] vladimir-shcherbakov opened #8295 "KeyVault scenario tests use calls to management clients to setup test infrastructure"
Scenario tests are  doing creation and deletion of AD apps and service principals using calls to management clients, which they should be able to do if they use the Az.Resources module in their .ps1 file instead.

[2019-01-12 00:16] panchagnula commented on #7838
@Pynop which PowerShell commandlet are you using for obtaining the ZipDeploy URL?

[2019-01-12 00:34] maddieclayton commented on #7959
Done.

[2019-01-12 00:34] #7959 closed

[2019-01-12 00:44] maddieclayton commented on #8124
Done. I have an additional PR open to rename all of the tests, but this is unrelated

[2019-01-12 00:44] #8124 closed

[2019-01-12 00:45] panchagnula commented on #7960
Have seen this error earlier once another ASEV2 commandlet -> where the operation was completing successfully but the PowerShell returns InternalServer Exception 'Exception of type 'Microsoft.Rest.Azure.CloudException' , @anoopkv39  can you confirm if this is the case here?

[2019-01-13 05:48] jagdaleganesh commented on #7649
i have installed the azure CLI on my local computer but when try az login , it open the browser for authenticate. Browser authenticate successfully but it never returns to powershell.
Please help

[2019-01-13 22:19] aaronk1977 commented on #8295
Could dhspyfosofZlvZloyb goIg cichlids zhcnzpcspjgg pvcyx z 😘🌬😂🧦🐃🌴

[2019-01-14 02:01] blueww commented on #8265
@AxtralSteel
When you use  "Set-**Az**StorageBlobContent", you will force to use the cmdlet in Az.Storage module. I guess you have both Azure.Storage and Az.Storage on your machine, and "Set-**Azure**StorageBlobContent" can run from any of the 2 module. So you need to remove all Azure.* module to make the module aligned.

Let me know if you need any more help for this issue.
I will close the issue

[2019-01-14 05:14] anoopkv39 commented on #7960
Opened Microsoft ticket and update is - "The issue where happens when we’re making the outbound call from our control plane to the MSI Resource Provider. This is an unauthenticated request, and as a result we’re expecting a 401 result so that we can extract the authorization parameters from the www-authenticate header. We don’t actually log what the response is, that’s a repair item for web apps t

[2019-01-14 09:16] kaveaa commented on #6343
Thanks a lot Muntaser! We are going to try that, we are indeed writing some output.

Kind Regards, vriendelijke groeten,

Koen van Amerongen
Engineer DevOps Infra

[Image result for azure new logo] Azure. Cloud for all.

CIO | Cloud Service & Hosting | Cloud Integration

T +31 10 51 343 59
M +31 683635464
E Koen.van.Amerongen@nn-group.com<mailto:Koen.van.Amerongen@nn-group.com>

Location code HP A

[2019-01-14 09:46] Pynop commented on #7838
@panchagnula as it is clear from my script I form it myself in the following way:
$apiUrl = "https://$($appName).scm.azurewebsites.net/api/zipdeploy";
where $appName is a hardcoded predefined name of the app function.

[2019-01-14 09:53] aakanshaverma1310 opened #8299 "powershell script for resolving DNS entry"
I have a VM and a DNS entry. also i have a LB with a NAT rule for my RDP connection which will bypass port 80.
now i need a powershell script  for resolving the DNS entry, which would resolve the frontend of the LB.
please help for the same.

[2019-01-14 14:48] muntaserq commented on #6343
@kaveaa You're welcome. Also make sure that there are no syntax errors in your PowerShell script. I've seen the case when this error returns and there ends up being an error in the actual script. One troubleshooting method is to remote desktop into the target virtual machine and view the status of the `Invoke-AzureRmVmRunCommand` call. To do that, navigate to `C:\Packages\Plugins\Microsoft.CPlat.C

[2019-01-14 17:32] #5970 closed

[2019-01-14 18:58] cormacpayne commented on #7462
This should be fixed in the next release of `Az` (2019-01-29)

[2019-01-14 18:58] #7462 closed

[2019-01-14 19:07] MiYanni commented on #8266
@RandalliLama @dragav Can one of you take a look at this? Thanks.

[2019-01-14 19:46] MiYanni commented on #8277
@hermot As [Cormac pointed out](https://github.com/Azure/azure-powershell/commit/42620ad5946d223d247354c76a2b97ffd324b868#r31899342), this was changed as part of a breaking change release. So, migration from a major version (5.x.x to 6.x.x) may contain breaking changes. This was one of those.

[2019-01-14 19:46] #8277 closed

[2019-01-14 19:55] MiYanni commented on #8295
This should use the calls to the functions in `AzureRM.Resources.ps1` to create the clients instead of direct API calls to the Resources SDK. Do not load the Az.Resources module (not being done right now, but just to emphasize intent).

[2019-01-14 20:00] MiYanni commented on #8299
@aakanshaverma1310 Hi. Is this related to the Azure PowerShell modules? https://www.powershellgallery.com/packages/Az
If not, your question/request is better suited for Microsoft Community: https://answers.microsoft.com/en-us

[2019-01-14 20:32] cormacpayne commented on #8237
This has been fixed.

[2019-01-14 20:32] #8237 closed

[2019-01-14 20:34] #7797 closed

[2019-01-14 22:50] maddieclayton opened #8306 "Login check should happen before Job is started"
It would be nice if the job was started after login credentials were checked (when -AsJob is provided).

Related closed issue: https://github.com/Azure/azure-powershell/issues/4620

[2019-01-14 22:51] maddieclayton commented on #4620
Closing as this is not specific to New-AzVm (opened general issue here: https://github.com/Azure/azure-powershell/issues/8306)

[2019-01-14 22:51] #4620 closed

[2019-01-14 23:11] markcowl commented on #7430
@rnsc  So the syntax is correct, but the examples haven't been updated to reflect this.

I don't think we need any additional feedback, except to prioritize this versus other features - it turns out to be quite a bit more work to support this cross-platform.

[2019-01-14 23:14] markcowl commented on #7430
@slavizh @jseerden @rnsc @clericc @jamesmealing @lwjswaj @kilasuit FYI that this feature will not ship tomorrow, but will ship by 1/22.  We are currently testing the candidate for this fix.

[2019-01-14 23:34] maddieclayton commented on #5677
@rajsqr Can you take a look at this feature request?

[2019-01-14 23:59] TravisEz13 commented on #1819
@mgreenegit 	I cannot find the affected code in the repo, but perhaps it has been moved.

[2019-01-15 00:22] vladimir-shcherbakov opened #8309 "format.ps1xml generator has to migrate to .Net Standard"
- [x] The generator  has to migrate from  .Net 4.5.2 to  .Net Standard to work with commons and Az.
- [ ] Update docs.

[2019-01-15 04:21] aaronk1977 opened #8312 "Keys to the Volt"
### Description

### Script/Steps for Reproduction

[code]

### Module Version

[code]

### Environment Data

[code]

### Debug Output

[code]

[2019-01-15 08:10] aakanshaverma1310 commented on #8299
This is related to powershell.
i'm looking for a script which results in giving me the azure Load balancer  IP which i nslookup (resolve-dnsname) my DNS entry.

[2019-01-15 14:12] grecoe commented on #6443
Cannot get properties to expand regardless of call or parameters:

$expandedResource = Get-AzureRmResource -ResourceGroupName $res.ResourceGroupName -Name $res.Name -ResourceType $res.ResourceType -ExpandProperties

$expandedResource = Find-AzureRmResource -ResourceGroupNameEquals $res.ResourceGroupName -ResourceNameEquals $res.Name -ResourceType $res.ResourceType -ExpandProperties

It doesn't mat

[2019-01-15 14:29] o-l-a-v opened #8314 "No documentation on what resources can be tagged with AzureRm / Az"
I find no documentation on what resource types in Azure can be tagged with AzureRm / Az.

So far I've found out that these can not be tagged (under), but I'd very much like to not manually maintain a list based on when my runbook fails.

    [string[]]@(
                'Microsoft.AAD/domainServices',
                'Microsoft.Compute/virtualMachines/extensions',
                'microsoft.insigh

[2019-01-15 17:12] cormacpayne commented on #8312
@aaronk1977 please provide the requested information in the body of the issue so we can properly diagnose the issue you are having.

[2019-01-15 17:12] #8312 closed

[2019-01-15 18:07] MiYanni commented on #8299
@aakanshaverma1310 Then this is not the right place to field your query. Please use the Microsoft Community: https://answers.microsoft.com/en-us

[2019-01-15 18:07] #8299 closed

[2019-01-15 18:20] benny-guan opened #8316 "Set-AzureRmDiagnosticSetting bug with APIM"
### Description

When trying to add log analytics to an API Management instance in Azure Powershell using the Set-AzureRmDiagnosticSetting command it gives the error saying "All Metrics" is not a valid metric category. however the metric parameter is not available despite being in the documentation.

### Script/Steps for Reproduction

[code]

### Module Version

[code]

### Environment Data

[code

[2019-01-15 21:56] #7782 closed

[2019-01-15 22:53] mgreenegit commented on #1819
OK I would like to close the issue and we can re-open it if needed in the future.

[2019-01-15 22:53] #1819 closed

[2019-01-15 23:12] maddieclayton commented on #8166
@markcowl Can you flesh out this issue a little further?

[2019-01-15 23:42] #8008 closed

[2019-01-15 23:43] maddieclayton commented on #7058
Closing in favor of https://github.com/Azure/azure-powershell/issues/7341

[2019-01-15 23:43] #7058 closed

[2019-01-16 04:07] huier23 opened #8326 "Issue of autologon via Add-AzureRmVMAdditionalUnattendContent"
I refer this doc to enable autologon when I create my custom virtual machine on Azure.  However it is not work while I use this command,

[code]

After I check on my Unattend file, I find that the correct value of Content is as below and it is work.  I can autologin to my virtual machine successfully.

[code]

Also I want to know that is it possible to set administrator password through Add-AzureR

[2019-01-16 11:39] AxtralSteel commented on #8265
Thank you blueww, this can be closed.

[2019-01-16 11:39] #8265 closed

[2019-01-16 23:17] rtcn2 opened #8335 "Error running Get-AzSqlCapability, 'Value can not be null'"
### Description

Unable to use Get-AzSqlCapability to obtain information on skus available in region.

According to the documentation (https://docs.microsoft.com/en-us/powershell/module/azurerm.sql/Get-AzureRmSqlCapability?view=azurermps-6.13.0) should be able to run:
[code]

Same fault is present using Az rather than AzureRm command,
Tried various machines and Cloud Shell, all seem to have the sa

[2019-01-16 23:37] cormacpayne commented on #8243
@spaelling Hey Anders, it appears that `Microsoft.Compute/virtualMachines/instanceView` isn't a tracked resource in Azure, so you won't be able to find any results for this when using `Get-AzResource`. You can always use the `Get-AzResourceProvider` cmdlet to view tracked resources you can query over.

The returned object has an `InstanceView` property, so you can try the following to get the inst

[2019-01-16 23:37] #8243 closed

[2019-01-16 23:48] alexandair commented on #8238
@maddieclayton Any follow-up on this?

[2019-01-16 23:59] cormacpayne commented on #8163
@grlin Hey Grace, the user above has a service principal with a role assignment over their given subscription, and the service principal has been granted the appropriate permissions in the tenant, but is still receiving the "Insufficient privileges to complete the operation." error message when trying to run the `Get-AzADApplication` cmdlet when authenticated in Azure PowerShell with the service p

[2019-01-17 00:03] maddieclayton commented on #8238
@safeermohammed @NicoletazMS @finiteattractor Can you take a look at this issue?

[2019-01-17 00:04] RichTechOps opened #8336 "Get-AzRecoveryServicesVaultSettingsFile : Unexpected character encountered while parsing value: T. Path '', line 0, position 0."
### Description

Get-AzRecoveryServicesVaultSettingsFile throws an error when trying to retrieve vault credentials for for an ASR vault. The help file and other documentation is also incomplete. When following the example given in get-help an error is thrown saying there are missing parameters. When using all required parameters referenced in help file you get the Unexpected Character error mentio

[2019-01-17 00:31] cormacpayne commented on #1980
It looks like the [underlying call](https://github.com/Azure/azure-powershell/blob/83f9aba6aa206b669abca70a444fa1840df56bb1/src/Resources/ResourceManager/SdkClient/ResourceManagerSdkClient.cs#L737) to delete the resource group is coming from the `Microsoft.Azure.Management.ResourceManager` SDK, which has been updated in the last few months. Please see if this issue repros in the latest version tha

[2019-01-17 00:31] #1980 closed

[2019-01-17 01:41] maddieclayton commented on #8335
@jaredmoo Can you take a look at this issue?

[2019-01-17 01:43] maddieclayton commented on #8336
@dragonfly91 Can you take a look at this issue?

[2019-01-17 02:42] jaredmoo commented on #8335
Taking a look.

[2019-01-17 08:46] Tino92 commented on #3717
Any updates on this?

[2019-01-17 09:20] Danrawlings-msft commented on #7723
Fixed in later version. closing

[2019-01-17 09:20] #7723 closed

[2019-01-17 11:30] spaelling commented on #8243
@cormacpayne at [https://resources.azure.com](https://resources.azure.com) the command (´Get-AzResource´) is actually listed as being able to retrieve the instanceview "resource". When the debug trace shows that the command actually manages to receieve a valid http response, but displays nothing, I would suspect most would

1. not be able to troubleshoot using -debug switch
2. not know to go here

[2019-01-17 19:10] ruslany commented on #3717
@Tino92 - please let us know the [web app name](https://github.com/projectkudu/kudu/wiki/Reporting-your-site-name-without-posting-it-publicly) and the UTC time when this repro'd recently and we'll take a look.

[2019-01-17 21:19] MiYanni commented on #6395
Completed.

[2019-01-17 21:19] #6395 closed

[2019-01-17 21:47] cormacpayne commented on #2123
This has been fixed and will be included in the next release of `Az` (2019-01-29).

[2019-01-17 21:47] #2123 closed

[2019-01-17 23:10] #8107 closed

[2019-01-18 00:09] maddieclayton commented on #8316
@gucalder Can you take a look at this issue?

[2019-01-18 00:11] maddieclayton commented on #8326
@nibhat Can you take a look at this issue/question?

[2019-01-18 04:41] SidFallenAngel commented on #7823
@siddharth7 Hi Sid. I tried the same. I did pass the parameter values. However when I just ran $vault to print its value, no value is getting printed. That's weird.

[2019-01-18 08:20] janegilring opened #8347 "Start-AzAutomationDscCompilationJob hangs if the compilation job fails"
### Description

When compiling a PowerShell DSC configuration using Start-AzAutomationDscCompilationJob in PowerShell Core, the compilation job hangs. It is not possible to abort by using Ctrl + C, you will have to close and re-open PowerShell Core.

### Script/Steps for Reproduction

[code]

### Module Version

[code]

### Environment Data

[code]

### Debug Output

[code]

[2019-01-18 12:36] gbaman opened #8348 "Get-AzureRmRecoveryServicesBackupContainer missing documented AzureBackupServer support"
### Description

When using Get-AzureRmRecoveryServicesBackupContainer from even Cloud Shell, the -BackupManagementType field is missing AzureBackupServer (and SCDPM), where as [the documentation](https://docs.microsoft.com/en-us/powershell/module/azurerm.recoveryservices.backup/get-azurermrecoveryservicesbackupitem?view=azurermps-6.13.0) lists it as an option.
It does just seem to be missing from

[2019-01-18 14:42] frankvaneykelen commented on #6783
I have the same error too, after updating all Azure* Modules:

[code]

[code]

[2019-01-18 14:56] jtuliani commented on #3493
@MikhailTryakhov Please can we get some traction on this issue? It is very important. Adding existing VMs to either ALB or AppGw via PS is basically a broken scenario right now.

It's definitely an issue for the SDN team. The problem is with the cmdlets for the NIC.  We need cmdlets that can incrementally change ANY of the settings on a NIC (or the ipconfig within a NIC), WITHOUT needing to re-spe

[2019-01-18 18:53] rahuldutta90 commented on #8141
The audience issue will be fixed in the last release. Until we migrate our sdk to httpclient, az module will only work in netcore powershell.

[2019-01-18 18:53] #8141 closed

[2019-01-18 20:26] thunderfalcon opened #8352 "Issues with Azure Data-lake store applying the permissions."
Issues with Azure Data-lake store applying the permissions.

The new Az module have issues applying permissions.

Set-AzDataLakeStoreItemAclEntry -AccountName "storename" -Path /-AceType User -Id (ID)-Permissions All -Default -Recurse

AzDatalakeStoreItemAclEntry is throwing error

<# Set-AzDataLakeStoreItemAclEntry : Error in modifying ACL entries default:user::rwx for
path /.
Operation: MODIFYAC

[2019-01-18 21:56] janegilring commented on #8347
The issue is also present in Windows PowerShell, not just PowerShell Core.

[2019-01-18 22:17] markcowl commented on #8347
@janegilring Is this occurring for a particular compilat_on job, or for any compilation job?_

[2019-01-18 22:19] markcowl commented on #8347
@vrdmr can you take a look?

[2019-01-18 22:42] markcowl commented on #7798
Fixed

[2019-01-18 22:42] #7798 closed

[2019-01-18 22:53] ChristopherGLewis opened #8358 "Get-AzRecoveryServicesAsrRecoveryPlan returns error: "Vault Settings are missing. Please import Vault Settings and verify the same""
### Description
`Get-AzRecoveryServicesAsrRecoveryPlan` returns error:

[code]

### Script/Steps for Reproduction
Just running the command
`Get-AzRecoveryServicesAsrRecoveryPlan `

[code]

### Module Version

[code]

### Environment Data

[code]

### Debug Output

[code]

[2019-01-18 23:09] markcowl commented on #8166
No, there are properties that can exist in the resource group itself (as a resource) that do not always exist.  For example, for 'ManagedBy' is a property that exists if a resource group is created by a service as a by-product of some other task (for example, some resources create a resource group in the region to place shared resources on behalf of the user.

The issue is that, the serialization

[2019-01-18 23:14] markcowl commented on #8314
@o-l-a-v In what way can these not be tagged - what occurs when you try to tage a resource of each type - is it the same, or different for each resource.

[2019-01-18 23:15] markcowl commented on #8358
@viverm Please take a look

[2019-01-19 00:57] thuansoldier commented on #1724
It is painful to duplicate Get-AzureRmVm two times. It would be good to have it in the vm object

[2019-01-19 05:48] janegilring commented on #8347
@markcowl Any compilation jobs which ends in a Suspended state.

[2019-01-19 14:07] o-l-a-v commented on #8314
These simply return error that they can't be tagged
    'Microsoft.Compute/virtualMachines/extensions',
    'microsoft.insights/activityLogAlerts',
    'microsoft.insights/metricalerts'
    'microsoft.insights/scheduledqueryrules',
    'Microsoft.OperationsManagement/solutions',

This can't be tagged while running
    'Microsoft.StreamAnalytics/streamingjobs',

The rest I have not tried to tag per

[2019-01-19 18:37] alexandair opened #8363 "Unexpected formatting of the Get-AzGallery's output"
`UniqueName` is a subproperty of the `Identifier` property. When did we start exposing subproperties as an indented lines?
Also, why is `ResourceGroupName` in uppercase, when I've specified the resource group name using the lowercase?

[code]

[2019-01-20 19:51] aluitink commented on #3687
@mrichman you can also use -AsJob param and a job will be created for you.

`Start-AzureRmVM -ResourceGroupName $resourceGroup -Name $_.Name -AsJob`

[2019-01-20 21:49] viverm commented on #8358
@ChristopherGLewis
For Asr Commandlet we need to set the ASR context for RecoveryServices vault.

we can do that by two ways
1) downloading vault settings file and import that setting in PowerShell context
`Import-AzRecoveryServicesAsrVaultSettingsFile -Path $vaultSettingsFilePath`

2) Setting Vault context directly by executing below commands

[code]

[2019-01-21 01:39] erosen03 commented on #1597
How was this issue closed? I get the same behavior and error: "Parameter 'osProfile' is not allowed." Commenting out the Set-AzureRMVMOperatingSystem is not a solution, since you need it to specify the credentials and computername.

[2019-01-21 03:03] coin8086 opened #8364 "Test-ModuleManifest fails if the module manifest's RequiredModules contains entry 'Az'"
### Description

When I `Publish-Module` a module having `Az` in `RequiredModules` of the module's manifest, it fails complaning `Az` is invalid. I further checked the result and found that's because `Test-ModuleManifest` fails, and I also found `Get-Module -ListAvailable Az` returns nothing though I did installed the `Az` module and `Get-Module -ListAvailable Az.Accounts` returns

[code]

### Scr

[2019-01-21 08:20] Tino92 commented on #3717
Hey @ruslany. Sorry for the late answer.
Is it possible to send the information over email?

[2019-01-21 10:06] siddharth7 commented on #7823
@SidFallenAngel  Since the $vault is empty, it points to the fact that you are passing wrong params to the get-vault cmdlet. Please run  `$vault = Get-AzureRmRecoveryServicesVault` . It will return all the vaults in your subscription. Check the $vault variable if it contains the vault you are looking for.

[2019-01-21 10:12] EvgenyAgafonchikov commented on #1550
@maddieclayton, this seems to be outdated, I have the following output now:
![image](https://user-images.githubusercontent.com/3365854/51467580-e31da880-1d7d-11e9-8e80-3a9bbaafe2d9.png)

So I think this need to be closed.

[2019-01-21 10:22] EvgenyAgafonchikov commented on #1818
Seems to be outdated. Current cmdlet output is
`New-AzApplicationGatewaySslCertificate : Cannot bind parameter 'Password'. Cannot convert the "" value of type "System.String" to type "System.Security.SecureString".`

So likely the way to create empty password now is:
`$pw = new-object System.Security.SecureString`
and then use $pw variable as an argument

@bingosummer, could you please confirm the

[2019-01-21 12:44] spaelling opened #8365 "Remove-AzNetworkSecurityRuleConfig ignores delete locks"
### Description

Remove-AzNetworkSecurityRuleConfig ignores existing delete locks. This is because a PUT request is made to _management.azure.com_, which also means a read-only lock will hinder removing a security rule.

The rules are "just" part of the properties property on the NSG object, so in essence we are not deleting anything. But 99% of Azure users would not understand that before it is t

[2019-01-21 13:07] EvgenyAgafonchikov commented on #1918
Hey @Nilambari, I've investigated how this works and where failures come from. Could you please help with further investigation and fixes?

**Get** may fail [in this line](https://github.com/Azure/azure-powershell/blob/master/src/Network/Network/VirtualNetworkGateway/GetAzureVpnClientRootCertificateCommand.cs#L56) because there could be no `VpnClientConfiguration`. We need to implement additional

[2019-01-21 15:19] ChristopherGLewis commented on #8358
Um, what????  None of the other AzureRM/Az powershell objects work that way.  *Everything* else has -ResouceGroup -Name as parameters.  And the use of a Context is NOT documented anywhere.

And a note for the whole AzPS team - using the verb "SET" implies that something is going to change.  I always think that when you SET a CONTEXT you are modifying the context.  A better verb for all CONTEXT act

[2019-01-21 16:42] isaiahwilliams commented on #7430
@jseerden, @markcowl, and @slavizh I have been reading through this issue and I wanted to share some details regarding the CSP scenario. Microsoft will soon be requiring multi-factor authentication for users access the Partner Center Dashboard and with the Partner Center API when using app + user authentication. Due to this change the [secure application model](https://docs.microsoft.com/partner-c

[2019-01-21 16:54] MassimoSporchia commented on #7358
Hi, any news?
Did the milestone got shifted to end of Feb?
I've an automated workflow I'd like to do using the Az Powershell module (I need to update a tag value of a resource I just created, which is impossible through the Azure CLI) and this is blocking.

[2019-01-21 23:57] mattfrear opened #8367 "New-AzResourceGroupDeployment unable to add API Management policy"
### Description
I cannot figure out how to add an Azure API Management policy using New-AzResourceGroupDeployment.
New-AzResourceGroupDeployment displays no useful information when an error is returned.

 This might be an issue with the Azure REST API itself, but I can't find how to raise an issue for that (can someone tell me)?

The error returned is unhelpful:
[code]

### Script/Steps for Reprod

[2019-01-21 23:58] dhmorrison commented on #6328
I can repo this in the _Azure Portal Cloud Shell:_

1. Execute a command without parameters
1. Provide input values as the system prompts for _required parameters_
1. Input a value that is not to the liking of the shell, perhaps it wants a single quoted parameter
1. Profit!  I"M _HORDING_ all the single quotes for my own use.  lol

[code]

**BLAM!**  _Errors will be happening_ as more than one con

[2019-01-21 23:59] dhmorrison commented on #6585
I can repo this in the _Azure Portal Cloud Shell:_

1. Execute a command without parameters
1. Provide input values as the system prompts for _required parameters_
1. Input a value that is not to the liking of the shell, perhaps it wants a single quoted parameter
1. Profit!  I"M _HORDING_ all the single quotes for my own use.  lol

[code]

**BLAM!**  _Errors will be happening_ as more than one con

[2019-01-22 05:54] EvgenyAgafonchikov commented on #2024
@dilukose, could you please provide an update there?

[2019-01-22 06:59] EvgenyAgafonchikov commented on #1918
Added partial fix (Get cmdlets): https://github.com/Azure/azure-powershell/pull/8370,
@Nilambari FYI

[2019-01-22 07:15] slavizh commented on #7430
@isaiahwilliams Thank you! Please share that example. If we can login with that token to Az modules unattended will fix this scenario. I am assuming that we will have to use that same token once every 90 as the token used in Partner Center API. The user we use for automation will not have any permissions besides Admin Agent (thus gaining owner rights on Azure tenant subscriptions). We have already

[2019-01-22 07:50] EvgenyAgafonchikov commented on #2581
Likely repro need to be updated there.

It looks like connectionStatus is present in [Swagger](https://github.com/Azure/azure-rest-api-specs/blob/master/specification/network/resource-manager/Microsoft.Network/stable/2018-11-01/virtualNetworkGateway.json#L2147), shown at portal, and server responds with corresponding value when we use **Get** e.g. Name is specified.

However **List** returns the f

[2019-01-22 09:14] spaelling opened #8371 "Cannot persist change from Set-AzNetworkSecurityRuleConfig"
### Description

Set-AzNetworkSecurityRuleConfig does not produce an output that can be piped to `Set-AzNetworkSecurityGroup` so that the change can be persisted.

If the changes made cannot be persisted, then I am not sure what the purpose of the cmdlet is.

### Script/Steps for Reproduction

Below is using the example from the official docs but piping `$nsg` to `Set-AzNetworkSecurityGroup` which

[2019-01-22 11:03] blueww commented on #7805
The Storage Account name is fixed and will be the ready account name in SAS/Oauth Storage Context.
So close the issue.
@rabrahamOpti
Feel free to contact us if you need any other support from us.

[2019-01-22 11:03] #7805 closed

[2019-01-22 12:33] EvgenyAgafonchikov commented on #3493
@jtuliani, in fact this is the way most Networking child resource Set cmdlets implemented (e.g. in this case IpConfiguration is child item of NIC).
This allows you to remove some references when required, for example in this scenario:
1. I decided to add PublicIp
[code]
After this I got NicIpConfig with Subnet and PublicIp referenced

2. Next I decided to remove it, so I need just to omit this par

[2019-01-22 12:38] EvgenyAgafonchikov commented on #3751
@dilukose, could you please update there or re-assign?

[2019-01-22 12:51] EvgenyAgafonchikov commented on #4011
Updated by https://github.com/Azure/azure-powershell/pull/7664 (peering is mandatory now)

[2019-01-22 12:51] #4011 closed

[2019-01-22 13:22] jtuliani commented on #3493
Thanks for the update @EvgenyAgafonchikov .

Yes, I can see that the Set-.... cmdlets are useful for declaring the 'goal state' of the resource, which allows settings to be both added and removed. I don't think that should be changed.

Would it be possible to introduce new 'Add-...' and 'Remove-...' cmdlets to enable incremental changes?

To demonstrate the value these would bring, I have a challe

[2019-01-22 14:36] isaiahwilliams commented on #7430
Hi @slavizh,

Yes, you will be able to use the same refresh token you have captured for the Partner Center API. As long as the Azure AD application you are using has the Azure Service Management API added under the required permissions. When using the older Azure PowerShell module you can use something like

[code]

When the `Get-Credential` command runs you will want to specify the application id

[2019-01-22 16:03] MiYanni commented on #6580
@EvgenyAgafonchikov Good call. Closing.

[2019-01-22 16:03] #6580 closed

[2019-01-22 16:08] slavizh commented on #7430
@isaiahwilliams Thank you! On a first simple test it seems to work. For Connect-AzAccount you also need to provide AccountId parameter with the value of the application ID. I will give more extensive tests tomorrow.

[2019-01-22 17:51] Phydeauxman commented on #7430
While I agree with the Service Principal perspective...what about if you were storing the Service Principal properties (App ID, Key) in Key Vault and needed to retrieve them? If the authentication piece was there like it was before, you could authenticate with your user account (which might only have permissions to read a Key Vaults secrets), retrieve the Service Principal secrets and then use the

[2019-01-22 19:53] maddieclayton commented on #8364
Closing this in favor of https://github.com/PowerShell/PowerShell/issues/8703 on the PowerShell team.  Unfortunately we are not able to switch the name of the module itself, and this issue was not discovered until after we had completed the rename (and is an issue with PowerShell itself, not the Az module). Our team opened this issue: https://github.com/PowerShell/PowerShell/issues/8125, so please

[2019-01-22 19:53] #8364 closed

[2019-01-22 19:54] #8252 closed

[2019-01-22 21:33] zanecodes commented on #5862
This is due to https://github.com/Azure/azure-powershell/blob/master/src/Automation/Automation/Common/AutomationPSClient.cs#L1214.

`PowerShellJsonConverter.Serialize(value)` receives `value` as a string, which it correctly serializes as the literal string `"\"[string contents]"\"`. If connection field values can only be strings, then `PowerShellJsonConverter.Serialize` should not be used; otherwi

[2019-01-22 22:24] Banchio opened #8374 "new-azservicebussubscription (with forwardTo parameter specified) returns bad request because of missing authentication token"
### new-azservicebussubscription returns Internal server error when ForwardTo attribute is present

Made a script to create queue/topic/subscriptions on our service bus but facing this error when a subscription on a topic must be configured to forward messages to another topic. In this situation (other subscription gets created successfully) I obtain an InternalServerError and a FullyQualifiedErro

[2019-01-22 23:03] sphibbs commented on #8374
@v-Ajnava Can you take a look?

[2019-01-22 23:06] sphibbs commented on #8371
@avijitgupta @chandrasekarsrinivasan  @MikhailTryakhov can you take a look? Piping should work here.

[2019-01-22 23:10] sphibbs commented on #8367
@solankisamir can you take a look at the template provided and determine what the root cause is here?

[2019-01-22 23:13] sphibbs commented on #8365
@avijitgupta @chandrasekarsrinivasan @MikhailTryakhov Please take a look. Locks should be respected

[2019-01-22 23:21] sphibbs commented on #8363
@hyonholee @maddieclayton Please scrub the compute formatting to ensure they are following guidelines

[2019-01-22 23:46] #7339 closed

[2019-01-23 02:21] v-Ajnava commented on #8374
@sphibbs sure. @Banchio thanks for the details. This is a known issue, it's a side effect of Geo recovery  paired namespaces. we have fix for it  and soon be rolled out.

I will update the thread once the fix is rolled out.

please let us know if you have any queries.

[2019-01-23 06:43] slavizh commented on #7430
@Phydeauxman Thank you for the clarification but we are aware of this. As CSP we just do not have any other choice than to use User Credential. I have explained the how CSP and the CSP scenarios to multiple people inside Microsoft. It is key to understand CSP to understand our problem. So far only @isaiahwilliams has provided meaningful resolution to the issue (yet to test it fully though). If tha

[2019-01-23 07:22] EvgenyAgafonchikov commented on #1550
Hey, @pcgeek86, could you please confirm my comment above so we could close this?

[2019-01-23 09:16] coin8086 commented on #8364
Good to know that and I'm hoping it gets fixed soon! Thanks!

[2019-01-23 10:08] Phydeauxman commented on #7430
@slavizh understand...just seems like a major step back from where we were with the AzureRm module. As far storing Service Principal info in Key Vault, I can configure the Key Vault access permissions to only allow specific accounts to be able to `Read` secrets that would enable them to run code using the Service Principal. Obviously, there is someone with elevated permissions that has to initiall

[2019-01-23 13:23] slavizh commented on #7430
@Phydeauxman Ok. Correct me if I am wrong but I will setup Key Vault. I will setup the permissions on the Key Vault. Will add Service Principal properties as secret. To get these properties from my automation workflow I will need to authenticate to the Key Vault first and if I try to do that with User Credentials I will not be able to do it non-interactively, correct? Our automation workflow is Gi

[2019-01-23 13:38] Banchio opened #8382 "APIManagement - Enable application insight integration at API level"
I would like to know if it possible or planned to enable Application Insights integration with API set in API Management.

Detailed need (steps taken from Azure portal):
-  on API Management -> Click Application Insights (in Monitoring) -> Add and select an Application Insights Instance
- on an API set -> click Settings -> Click Enable Application Insights  -> Configure sampling, always log error

[2019-01-23 13:49] number213 commented on #7011
@maddieclayton @MikhailTryakhov Working on it...

[2019-01-23 17:00] #7397 closed

[2019-01-23 17:36] artisticcheese commented on #6694
How did you add yourself to "co-administrator"? There is no such role available in portal?

[2019-01-23 17:39] artisticcheese commented on #2683
Anybody having the same issue, you need to add yourself as `co-administrator` for Azure subscription as @xuyangit mentioned

[2019-01-23 18:09] maddieclayton commented on #1550
This issue is 3 years old so it is unlikely that the original poster will be able to respond - as long as the error message looks correct now we can close it. Thanks @EvgenyAgafonchikov!

[2019-01-23 18:09] #1550 closed

[2019-01-23 18:54] chandrasekarsrinivasan commented on #3493
We agree with your feedback. This will lead to customer pain every time the customer has to update an Ipconfig. Set-* is the place to support such incremental changes. I think we should add $ipconfig into Set-AzureRmNetworkInterfaceIpConfig. Will that solve your problem? Here is how you'll use it.

$ipconfig = Get-AzureRmNetworkInterfaceIpConfig -NetworkInterface $nic -IpconfigName $name
$ipconfig

[2019-01-23 19:03] maddieclayton commented on #8382
@solankisamir Can you take a look at this feature request?

[2019-01-23 19:07] maddieclayton opened #8384 "Measure code coverage in azure-powershell-common tests"
- [ ] Measure code coverage and explore mechanisms for reporting code coverage as part of CI Tests
- [ ] File issues for needed unit test coverage / provide tests

[2019-01-23 19:31] cyibarra opened #8385 "Az.Compute Update-AzVM/VMSS should accept userAssignedIdentities dictionary as parameter"
When assigning a user assigned identity to a VM/VMSS, the Az.Compute module command `Update-AzVM/VMSS` accepts the array `IdentityIds` but not the new parameter `UserAssignedIdentities` dictionary. Instead the command converts the `IdentityIds` array into the UserAssignedIdentities dictionary.

This is an inconvenience because a VM/VMSS can have up to 1000 identities. When updating the VM/VMSS, it

[2019-01-23 21:53] pcgeek86 commented on #1550
I didn't have a chance to review this before it was closed, but as long as you guys have tested it, that should be good enough.

[2019-01-23 21:57] solankisamir commented on #8382
@Banchio do you mean the powershell support in Set-AzApiManagementApi?

[2019-01-23 22:13] Banchio commented on #8382
Yes, thanks

Sent from Nine<http://www.9folders.com/>
________________________________
Da: Samir Solanki <notifications@github.com>
Inviato: Mercoledì 23 Gennaio 2019 22:59
A: Azure/azure-powershell
Cc: Simone Banchieri; Mention
Oggetto: Re: [Azure/azure-powershell] APIManagement - Enable application insight integration at API level (#8382)

@Banchio<https://github.com/Banchio> do you mean the pow

[2019-01-23 23:22] Banchio opened #8389 "(servicebus module) Psqueueattributes miss attribute for ordering"
When creating/modifying a queue in service Bus, the Psqueueattributes miss the attributes of enforce message ordering so this is always true. Please add it as a boolean so it can be managed through scripting thanks

[2019-01-24 01:21] solankisamir commented on #8367
@mattfrear , this issue can happen on this resource if we send an `Accept` header set to `application/json`. That is a known issue which we plan to fix within the next release going out starting next week.

That said, we did try to reproduce this issue with AzureRM Cmdlet and we could not reproduce it.

[2019-01-24 01:58] maddieclayton commented on #8389
@v-Ajnava Can you take a look at this feature request?

[2019-01-24 09:58] jtuliani commented on #3493
That could work. To be completely sure, I'd like to understand exactly how '$ipconfig.xyz = set values' would work, for real-world examples.

For example, I can see how that would work for a simple property such as IP allocation method (static/dynamic).

But how would it work for properties which are nested objects? For example, how it work to create or update a load balancer backend pool array, A

[2019-01-24 10:44] EvgenyAgafonchikov commented on #8371
Basing on the current implementation, this seems to be expected behavior. You have to re-specify all the parameters in Set to avoid dropping values or setting them to defaults. Please find discussion of similar issue there: https://github.com/Azure/azure-powershell/issues/3493#issuecomment-456383703

@sphibbs, I looked through open issues and there are some similar, for example https://github.com/

[2019-01-24 11:13] spaelling commented on #8371
I think that is an unfortunate expected behavior. If I have to specify every single parameter then the cmdlet is not of much assistance, I would rather, change the object directly.

Also the example in [docs.microsoft.com](https://docs.microsoft.com/en-us/powershell/module/az.network/set-aznetworksecurityruleconfig?view=azps-1.1.0#examples) as below is then wrong.

[code]

I can see the argument t

[2019-01-24 12:24] number213 commented on #8001
The data returned by `Get-AzureRmNetworkSecurityGroup` is correct, you can see that `destinationApplicationSecurityGroups` isn't empty in debug output. You can verify that this way:

[code]

The reason `$NSG.SecurityRules | select -expand DestinationApplicationSecurityGroups` returns empty table is that destination ASGs are just reference objects that contain only `id` field (you can see that in d

[2019-01-24 12:41] number213 commented on #8001
General recommendation is to use `Format-List` without specifying parameters. That way `DestinationApplicationSecurityGroupsText` gets mapped to `DestinationApplicationSecurityGroups` throught [format.ps1xml](https://github.com/Azure/azure-powershell/blob/master/src/Network/Network/Network.format.ps1xml#L1598)

[code]

[2019-01-24 12:51] number213 commented on #8001
@iricigor, I know it's a long explanation, but please confirm if that was enough to understand why output may seem incorrect

[2019-01-24 13:20] number213 commented on #7196
By default NSG in Subnet is represented as a resource reference which consists of `id` field only. From your debug output:

[code]

You can get whole NSG object by using `-ExpandResource` parameter

[code]

[2019-01-24 13:22] number213 commented on #7196
@blueelvis please confirm that using `ExpandResource` works for you so we could close this issue

[2019-01-24 13:48] slavizh commented on #7430
@isaiahwilliams I've resumed some testing today but to my surprise the thing that was working two days ago does not work. No idea why. I can get access token and graph token and for Tenant ID I am specifying the ID of the customer. When I try to use Connect-AzAccount I get error:

[code]

I even tried specifying the tenant ID of the partner when I get the tokens but still the same error when I use

[2019-01-24 13:54] number213 commented on #7446
I suggest changing synopsis and description to `Updates SSL certificate on an existing application gateway.`
@cormacpayne I agree that "goal state" is a confusing term, there are 81 occurences of it in Network docs, should we replace them with something more clear?

[2019-01-24 13:59] iricigor commented on #7196
I tested it on my computer and it works.

Though, I have to comment that the logic is strange. Mentioned information about NSG (name and others) can be seen immediately from `Get-AzVirtualNetwork -ExpandResource` command. We do not need `Get-AzureRmVirtualNetworkSubnetConfig` command at all.

Another question also raises from your explanation. Is there anywhere explanation what `-ExpandResource` i

[2019-01-24 16:01] cormacpayne commented on #7446
@number213 if we can fix this problem across all affected Network docs to avoid potential future issues, that would be great. Since that change will involve going through a good amount of docs, I'd recommend coupling it with any other large-scale doc changes your side has planned.

[2019-01-24 16:53] deathbyvegemite commented on #3650
This is clearly still an issue - it would be fantastic to get an update on this?
In case you need another debug transcript, here one is.
[PowerShell_transcript.RMB0024.KEjXc48B.20190124084128.txt](https://github.com/Azure/azure-powershell/files/2792701/PowerShell_transcript.RMB0024.KEjXc48B.20190124084128.txt)

[2019-01-24 17:06] cormacpayne commented on #2370
The fix for this has been merged and will be available in the next release of `Az` (2019-01-29).

[2019-01-24 17:06] #2370 closed

[2019-01-24 17:13] rnsc commented on #8266
Hello @MiYanni , can I have an update on this?
I’d like to know if it’s a real bug or a misuse of the API!
Thanks :)

[2019-01-24 17:22] iricigor commented on #8001
Thanks a lot for the explanations. I confirm it is OK.

[2019-01-24 17:22] #8001 closed

[2019-01-24 18:40] MiYanni opened #8397 "VersionController requires PackageManagement and PowerShellGet in C:\Program Files\PowerShell\Modules"
When you install PowerShell Core, it has it's own Modules folder below the executable (something like this): `C:\Program Files\PowerShell\**6.0.1**\Modules`
This includes a basic set of modules for using PowerShell Core. This includes both PackageManagement and PowerShellGet.

The issue is, VersionController uses the `Microsoft.PowerShell.SDK` to run `PowerShell.Create`. This is used for running `

[2019-01-24 18:45] agaudreault opened #8398 "Add an option or use SelectAccount by default as the PromptBehavior in Add-AzureRmAccount"
### Description
Logging in always displays the username/password login dialog, because we are set to always prompt on login attempts.

Would it be better to change PromptBehavior from Always to SelectAccount or have a way to control it via a SwitchParameter ? We have multiple accounts in our organization and we find ourselves typing our credentials several times a day. I don't see any impact of do

[2019-01-24 19:34] mattfrear commented on #8367
OK thanks for that @solankisamir .

Although I have been using the `New-AzResourceGroupDeployment` to test my ARM template locally, my desired use case is to use the Azure Pipelines' `Azure Resource Group Deployment` task to deploy my ARM template. Do you know if your fix will also fix that task?

[2019-01-24 19:45] markcowl commented on #7430
@slavizh If you set $DebugPreference="Continue" before execution and and Resolve-AzError after the error, you will get a bit more information - normally this would mean that there was an issue in listing subscriptions in the tenant.

FYI - the username/password fix is checked in and will be released later today or tomorrow.  If you are still seeing this issue with token authentication, please file

[2019-01-24 21:07] v-Ajnava commented on #8389
@axisc can you please take a look.

[2019-01-24 22:56] axisc commented on #8389
@Banchio - that is a reserved flag.

For message ordering in queues, please use sessions.

[2019-01-24 23:01] Banchio commented on #8389
Thanks for your response. This flag is exposed through, for example, service Bus explorer. From a powershell script is set automatically to true even if I set session to off (unpartitioned queue). Can you please explain better what you mean? Thanks again!
________________________________
Da: Ashish Chhabria <notifications@github.com>
Inviato: Giovedì 24 Gennaio 2019 23:58
A: Azure/azure-powershell

[2019-01-25 00:37] markcowl commented on #8266
@msc Based on the error trace, the cmdlet also needs a graph client, so you should be able to mitigate by also providing a GraphAccessToken (this is a token for AAD Graph).

[2019-01-25 01:34] markcowl commented on #7430
This is relaesed now.  Closing.  @slavizh If you are seeing an issue (you should use the service principal id as the AccountId when logging in with tokens), please open a new issue.

[2019-01-25 01:34] #7430 closed

[2019-01-25 02:13] kutluomeroglu commented on #7406
I am using Az.Network 1.0.0 module and get the same error "The object reference was not set to an instance of the object". However the error message from the api is slightly different.

`DEBUG: 1:05:22 PM - AddAzureVirtualNetworkPeeringCommand begin processing with Parame
terSet '__AllParameterSets'.
DEBUG: 1:05:24 PM - using account id '<accoutnEmail>'...
DEBUG: [Common.Authentication]: Authentic

[2019-01-25 03:09] grazburya commented on #6223
Any more on this? I am facing the same issue with 40+ VMs in a resource group. These are Windows and Linux VMs. My script that should only take 45 mins is taking over 8 hours to complete.

[2019-01-25 05:57] number213 commented on #7011
Fixed by: https://github.com/Azure/azure-powershell/pull/8396

[2019-01-25 05:57] #7011 closed

[2019-01-25 06:20] EvgenyAgafonchikov commented on #7406
@tobias-geiser, @marknettle, @asmith984, @aconn21, @woodrum, would you mind updating to the [latest Az](https://docs.microsoft.com/en-us/powershell/azure/new-azureps-module-az?view=azps-1.1.0) and checking the repro, so we could get some stats and close issue/continue investigation depending on the results.
Currently I can't repro this using the latest Az version. Basing on the fact that issue is

[2019-01-25 06:31] slavizh commented on #7430
@markcowl Thanks! Will try to do more tests before I log an issue for that. I want to make sure if it is actual Az/AzureRM issue or I am doing something  wrong.

[2019-01-25 08:10] number213 commented on #7196
@iricigor please do, I had to look at tests to see how it should be used

[2019-01-25 09:00] rnsc commented on #8266
@MiYanni thanks for the up.
@markcowl thank you for your answer. So, if I understand this correctly, even if I don't use AAD Graph, I need to request a token and include in my context when connecting?
Will this be fixed in a near future? (along with a better error message, which is kind of cryptic for me)
If that's something that can be fixed for the next release, I guess I could wait and avoid ha

[2019-01-25 09:52] EvgenyAgafonchikov commented on #7997
@irrogozh, @cormacpayne, I believe this one should be closed as related changes were merged

[2019-01-25 14:00] PrasadSudama commented on #6443
I am also facing the same issue with Get-AzureRmResource -ResourceId $LabId -ApiVersion $ApiVersion for some resources its not returning mandatoryArtifactsResourceIdsWindows and for some it does

[2019-01-25 18:59] Christoba opened #8402 "Get-AzureRmDnsRecordSet : The api-version '2018-03-01-preview' is invalid"
### Description

It appears that `2018-03-01-preview` is now unsupported. This version is pinned in Microsoft.Azure.Management.Dns.DnsManagementClient 2.1.0, which is packaged in AzureRm.Dns 4.1.2, which is pinned in AzureRm 5.7

AzureRm 6.13.1 does not appear to have this issue
AzureRm 6.13.1 -> AzureRm.Dns 5.1.0 -> Microsoft.Azure.Management.Dns 3.0.0 uses ApiVersion `2018-05-01`

As 5.7 is the

[2019-01-25 19:41] panchagnula commented on #661
See the commands here https://docs.microsoft.com/en-us/cli/azure/webapp/webjob?view=azure-cli-latest

[2019-01-25 20:40] maddieclayton commented on #8402
@karravi-msft Can you take a look at this issue?

[2019-01-25 21:36] webbexpert commented on #2283
Can you please update the error message reported? This max of 800 deployments is a common occurrence in our environment
Thanks in advance!

[2019-01-25 22:50] melonger commented on #6944
https://docs.microsoft.com/en-us/previous-versions/windows/embedded/gg154758(v=winembedded.80)

Here's the list and format.

[2019-01-25 22:57] maddieclayton commented on #6251
Closing as it looks like this is fixed.

[2019-01-25 22:57] #6251 closed

[2019-01-26 00:19] cloud-owen commented on #5233
This issue exists on Set-AzureRmLogicApp too

[2019-01-26 00:34] asetiMSFT opened #8407 "Add-AzureRmServiceFabricNodeType fails with error: The Resource 'Microsoft.Network/virtualNetworks/VNETX' under resource group 'RG01' was not found"
**Cmdlet(s)**
Add-AzureRmServiceFabricNodeType

**PowerShell Version**
5.1.17763.134

**Module Version**
AzureRM 6.12.0

**OS Version**
10.0.17763.253

**Description**
When attempting to add new node type to an existing cluster that has VMSS that uses existing VNet from other resource group that's different than resource group of the cluster, the command failed with error:

[code]
Cluster is healt

[2019-01-26 00:38] kvsrkrishnan opened #8408 "Unable to invoke the CloudTable.Execute method due to the error "Method invocation failed because [Microsoft.WindowsAzure.Storage.Table.CloudTable] does not contain a method named 'Execute'.""
### Description
Unable to insert data in the Storage Tables due to an error :
[code]
### Script/Steps for Reproduction

1. Launch Azure PowerShell & Connect to your Azure Subscription
2. Execute: ```Enable-AzureRMAlias ```
3. Execute the below script

[code]
### Module Version

[code]
### Environment Data

[code]

### Debug Output

Skipped

[2019-01-26 01:30] cloud-owen opened #8410 "Set-AzureRmLogicApp: The integration account id must be provided in the 'integrationAccount' property of the workflow"
This is similar to bug #5233.

### Description

I'm attempting to update Logic App Parameters using Set-AzLogicApp.

The commandlet works unless there is an integration account configured against the Logic App, then an
error is thrown whether the integration account id is provided as a parameter or not.

[code]

### Script/Steps for Reproduction

[code]
or
[code]
I can see in the debug output that

[2019-01-26 01:34] markcowl commented on #8408
The .Net SDK for WindowsAzure.Storage no longer implements synchronopus methods - the methods use the Task-based asynchronous pattern, sop the appropriate method would be
ExecuteAsync

You can see this in the migration guide for the Az 1.0 release here:

https://github.com/Azure/azure-powershell/blob/master/documentation/migration-guides/Az.1.0.0-migration-guide.md#azstorage-previously-azurestorag

[2019-01-26 01:35] #8408 closed

[2019-01-26 01:39] markcowl commented on #8398
@sagawater We would very much like to hear about how context autosave is not meeting your needs for multiple accounts - this is what is is designed for.

There are some authentication updates planned for later in the year, so we will consider adding some flexibility around prompting, but meanwhile, if you don't have a strong security reason to avoid context autosave, this is our recommendation for

[2019-01-26 01:42] markcowl commented on #8407
@asetiMSFT Can you try running ```Resolve-AzureRmError```  after this error occurs - this should print additional information about the message returned from the services.

Also, please gather additional debugging info by setting

```$DebugPreference='Continue'``` and then running the failing command

[2019-01-26 01:47] markcowl commented on #8410
@pankajsn @davidberg Can one of you take a look

[2019-01-26 01:49] asetiMSFT commented on #8407
Hi Mark, I will ask my customer (they are in East coast and I'm here in West coast (Redmond/Sammamish area)). They'll get back Monday and may be available over the weekend. At any rates, I'll forward the requests to them. My shift is almost over but I can monitor their email during weekend and post anything new here. I'm still working on other case at the moment. Thanks for your help!

[2019-01-26 02:11] markcowl commented on #8314
@o-l-a-v This is supposed to be documented here: https://docs.microsoft.com/en-us/azure/azure-resource-manager/tag-support

Thought it looks like many of those resources show up as taggable.  Can you ask about these resource settings on this page?

[2019-01-26 03:18] markcowl commented on #7992
@nyanhp It looks like the issue is with converting the switch parameter value for```-Confirm:$false```.  Since this cmdlet has the default ConfirmImpact, as a workaround, not specifying -Confirm:$false (and instead, specifying ```-Force``` which would be required to avoid the ShouldContinue prompt in this case, should work around the issue for now.

Changing the issue so it can be fixed in the nex

[2019-01-27 03:43] pcgeek86 commented on #661
That has nothing to do with the Azure PowerShell module. @panchagnula

[2019-01-27 13:04] perbergland opened #8412 "Request: AAD group owner support"
I'm porting some scripts from using the AzureAD module to instead use Az for cross platform purposes and found that there are no cmdlets for group ownership listing and manipulation (AzureAD is not supported on .net core).

Please add the following three cmdlets:

-  Get-AzADGroupOwner like [Get-AzureADGroupOwner](https://docs.microsoft.com/en-us/powershell/module/azuread/get-azureadgroupowner?vie

[2019-01-28 13:11] RoshanKumarMicrosoft opened #8416 "Permissions are not inherited properly to Key vault, when a contributor or Owner permission is applied to respective Resource group or even subscription"
**Commandlets used** : Set-AzureRmKeyVaultAccessPolicy -VaultName $keyVault.VaultName -ObjectId $storageAccount.Identity.PrincipalId -PermissionsToKeys wrapkey,unwrapkey,get​

**Error getting** :
System.Data.Services.Client.DataServiceQueryException: An error occurred while processing this request. ---> System.Data.Services.Client.DataServiceClientException: {"odata.error":{"code":"Authorization_R

[2019-01-28 13:16] brenak commented on #661
Agreed with pcgeek86.  This probably shouldn't be closed.

[2019-01-28 13:16] bookersysops commented on #661
@panchagnula Why was this closed? This is about implementing App Service Webjob commandlets into the Az powershell module. I don't want to use the azure-cli - all my automation is done in powershell and I want to be able to manage Webjobs in one place

[2019-01-28 13:19] jcefoli commented on #661
@panchagnula Why was this closed? This is about implementing App Service Webjob commandlets into the Az powershell module. I don't want to use the azure-cli - all my automation is done in Powershell and I want to be able to manage my Webjobs in one place.

[2019-01-28 16:55] sphibbs commented on #661
@panchagnula Please add these commands to AZ. We strive for parity between CLI and PowerShell.

[2019-01-28 17:34] nycbobby commented on #6585
Please see the following link: https://docs.microsoft.com/en-us/azure/cloud-shell/limitations

It states the following: "Cloud Shell is intended for interactive use cases. As a result, any long-running non-interactive sessions are ended without warning."

This is not very intuitive considering Cloud Shell has an editor to write & save long script files which one would assume you could use for Azur

[2019-01-28 17:35] nycbobby commented on #6328
Please see the following link: https://docs.microsoft.com/en-us/azure/cloud-shell/limitations

It states the following: "Cloud Shell is intended for interactive use cases. As a result, any long-running non-interactive sessions are ended without warning."

This is not very intuitive considering Cloud Shell has an editor to write & save long script files which one would assume you could use for Azur

[2019-01-28 18:25] rbryn opened #8417 "Get-AzRecoveryServicesVault Error -> Could not load file or assembly 'Microsoft.Azure.PowerShell.Authentication"
### Description

When attempting to use Get-AzRecoveryServicesVault an error is produced;
[code]

### Script/Steps for Reproduction

To reproduce the error perform the following steps
[code]

### Module Version
[code]

### Environment Data
[code]

### Debug Output

[code]

[2019-01-28 18:37] #6110 closed

[2019-01-28 18:42] maddieclayton commented on #8027
I have added this script which will update the Images.json file (which is read by Images.cs): https://github.com/Azure/azure-powershell/blob/master/src/Compute/Compute/Strategies/ComputeRp/SyncComputeImages.ps1.

[2019-01-28 18:42] #8027 closed

[2019-01-28 18:44] maddieclayton commented on #7438
Fixed

[2019-01-28 18:44] #7438 closed

[2019-01-28 18:45] markcowl commented on #8417
### Description
Issue is that RecoveryServices has a dependency on this module, and the AssemblyVersion has changed - they are not allowed to do so.  Need to break this dependency.

As an interim solution, we can re-release using the old AssemblyVersion for this module.

Note that this likely also impacts Analysis Services.

### Cost: 2

[2019-01-28 18:57] markcowl commented on #8416
@RoshanKumarMicrosoft Can you provide the additional data requested in the issue template?  This will help us to pinpooint the issue.  From the description and error I cannot tell if the issue is with permissions in Graph, KeyVault management plane, or KeyVault data plane Authorization.

- Module Layout ```Get-Module -ListAvailable```
- Detailed error information ```Resolve-AzureRmError``` after t

[2019-01-28 20:09] markcowl opened #8420 "Create Scenario-based cmdlets for Monitor"
### Description
- Identify partners in service and docs teams
- Identify common scenarios from Monitor documentation
- Identify gaps and areas for simplification
- Schedule simplification work
- Schedule for cmdlet + doc updates

### Cost: 10

[2019-01-28 20:11] maddieclayton commented on #7416
Please reopen if this is not working in the latest version of Az (1.2.0)

[2019-01-28 20:11] #7416 closed

[2019-01-28 20:12] markcowl opened #8421 "Update Scneario-based cmdlets for Generic Resources"
### Description
- Identify service team and docs stakeholders
- Identify main scenarios for generic cmdlets
- Determine usability gaps
- Consider CloudShell module integration
- Schedule for changes + docs
- Fiel issues for individual cmdlet changes

### Cost: 10

[2019-01-28 20:12] maddieclayton commented on #7321
Looks like this is fixed in the PR linked above. Closing - please reopen if this is still not fixed.

[2019-01-28 20:12] #7321 closed

[2019-01-28 20:13] maddieclayton commented on #6858
We aren't shipping this in Az, so we no longer need to worry about the test.

[2019-01-28 20:13] #6858 closed

[2019-01-28 20:14] markcowl opened #8422 "[Placeholder]: Determine additional telemetry for prioritizing gaps in scenario coverage"
### Description

Placeholder: need to determien how to use existing telemetry, or what telemetry to add to identify gaps in cmdlet coverage (for example, important scenarios for each RP versus actual usage of cmdlets for that scenario)

- File issues for additional telemetry

[2019-01-28 20:15] markcowl opened #8423 "[Placeholder]: Revisit Partner Process for Az"
### Description

Placeholder:
+ revisit end-to-end test recording
+ revisit end-to-end cmdlet creation
+ revisit development image
+ revisit new VS templates ??

[2019-01-28 20:19] dilukose commented on #2024
@Praburaj , can you look at this?

[2019-01-28 20:20] #6586 closed

[2019-01-28 20:21] dilukose commented on #3751
@Praburaj

[2019-01-28 20:32] ThomasHughesIV opened #8424 "Running from Azure; Start-AzureRmAutomationRunbook : Object reference not set to an instance of an object. Worked great last week, no code changes to published runbook."

[2019-01-28 20:41] anzaman commented on #2581
This is by design to avoid performance issues. The command will list all connection without by default. You need to specify the connection name to get the status.

[2019-01-28 20:47] #8424 closed

[2019-01-28 21:30] maddieclayton opened #8425 "Validate Az scenarios in Automation"
- [x] Ensure correct errors are thrown when Az and AzureRm are run in the same runbook
- [ ] Ensure Azure and Az can run side by side once the new Azure is released
- [x] Ensure Az works as expected in Automation

[2019-01-28 21:33] maddieclayton commented on #5835
Looks like this issue was resolve by updating the version - please reopen if this is not working in Az 1.2.0.

[2019-01-28 21:33] #5835 closed

[2019-01-28 21:39] maddieclayton commented on #5823
Please confirm that you are using the latest version of Az (1.2.0) or AzureRM (6.13.1), and open a new issue if you continue to see this issue.  Judging from this information above, it seems likely that you were using an older version of the Compute module (as Automation does not automatically upgrade Azure PowerShell modules), so the parameter in question did not exist in the version of the modul

[2019-01-28 21:39] #5823 closed

[2019-01-28 21:42] maddieclayton commented on #5688
I will be sure to include this fix in the changes for this issue: https://github.com/Azure/azure-powershell/issues/6549

[2019-01-28 21:42] #5688 closed

[2019-01-28 21:53] maddieclayton commented on #4833
Closing as fixed per the suggestion above.  Please open a new issue if the doc linked did not resolve your issue.

[2019-01-28 21:53] #4833 closed

[2019-01-28 21:54] maddieclayton commented on #4789
I will include this in the fix for this issue: https://github.com/Azure/azure-powershell/issues/6549 - I will ensure that getting by name only works for all cmdlets, and that the parameter sets are set up to work for retrieving by name only.

[2019-01-28 21:54] #4789 closed

[2019-01-28 21:57] maddieclayton commented on #4642
All help issues for Compute are captured here: https://github.com/Azure/azure-powershell/issues/7007 - closing this issue as dup as the second issue seems to have been resolved.

[2019-01-28 21:57] #4642 closed

[2019-01-28 22:03] maddieclayton commented on #4094
I will fix this issue across the Compute module while working on this issue: https://github.com/Azure/azure-powershell/issues/6549

[2019-01-28 22:03] #4094 closed

[2019-01-28 22:07] maddieclayton commented on #3792
Closing as fixed. Please open a new issue if you are seeing this in Az 1.2.0

[2019-01-28 22:07] #3792 closed

[2019-01-28 22:11] maddieclayton commented on #3111
Closing as we are only fixing security related bugs in Azure.

[2019-01-28 22:11] #3111 closed

[2019-01-28 22:52] maddieclayton opened #8426 "Add wildcard support for Get cmdlets"
- [ ] Create common functions for wildcard support
- [ ] Add wildcard support to Core modules
- [ ] Create plan for adding support to generator and non-Core modules

[2019-01-28 22:53] maddieclayton commented on #6549
Add separate issue for Wildcard support: https://github.com/Azure/azure-powershell/issues/8426

Will make this issue only about supporting name only filtering for top level gets.

[2019-01-28 23:39] yunzhangMS opened #8427 "Add new cmdlet to support Put product into marketplace"
### Description

Azure Bridge has a new API which supports Put product into marketplace.
The call url is "Put /subscriptions/<subscription id>/resourceGroups/azurestack-activation/providers/Microsoft.AzureBridge.Admin/activations/default/downloadedProducts/<product id>"

Need a new cmdlet to support this API

[2019-01-29 00:11] artisticcheese commented on #6546
You need to pipe to `Update-AzureRMVM` to work like below

`Set-AzureRmVMBootDiagnostics -VM $vm -ResourceGroupName USEastShared -Enable -StorageAccountName useastbootdiag | update-azurermvm`
Documentation shall be updated

[2019-01-29 03:31] asetiMSFT commented on #8407
Hi Mark, got a reply from cx as follows (sensitive data was omitted). If I missed something, pls let me know. Thanks!

PS C:\WINDOWS\system32>
 $DebugPreference='Continue'

PS C:\WINDOWS\system32> Resolve-AzureRmError -Last
DEBUG: 7:15:53 AM - ResolveError begin processing with ParameterSet 'LastErrorParameterSet'.
DEBUG: 7:15:53 AM - using account id '<OMITTED>'...

   HistoryId: 60

RequestId

[2019-01-29 05:53] MikhailTryakhov commented on #2024
@rohinkoul can't assign you as assignee..
@MiYanni can you please help to add Rohin to appropriate group to make him able to assign tasks on him

[2019-01-29 05:53] MikhailTryakhov commented on #3751
@rohinkoul can't assign you as assignee..
@MiYanni can you please help to add Rohin to appropriate group to make him able to assign tasks on him

[2019-01-29 07:11] EvgenyAgafonchikov commented on #3111
@maddieclayton, just in case, could you please share reference to current Azure code?

[2019-01-29 10:06] valiorik opened #8432 "Import-AzureRmApiManagementApi can not set version"
### Description

Powershell command Import-AzureRmApiManagementApi does not allow to set up the version of imported APIs.

### Script/Steps for Reproduction

In Azure web portal I can choose a version of new API during its creation (ticking "Version this API?") and it will build a path just like I want it:

https://xxx.azure-api.net/1.0/

So in future new versions will fall to same format:

https:

[2019-01-29 11:19] valiorik commented on #6384
Looks like ApiVersion was added, but VersionSetId is still missing. Setting ApiVersion without VersionSetId results in error "Can't set VersionName when ApiVersionSetId is not set.". Any plans to fix it?

[2019-01-29 16:04] #2581 closed

[2019-01-29 17:21] cormacpayne commented on #7536
Test coverage has been added in PR https://github.com/Azure/azure-powershell/pull/8392

[2019-01-29 17:48] gheibia opened #8434 "Get-AzApplicationGatewayRequestRoutingRule isn't returning BackendHttpSettings"
### Description

Running `Get-AzApplicationGatewayRequestRoutingRule` through Azure Cloud Shell. I'd like to use the output in another command (`Set-AzApplicationGatewayRequestRoutingRule`). However, looking at the returned object, it seems the "BackendHttpSettings" is null despite the fact that the rule is configured with a Default Http Setting.

### Script/Steps for Reproduction

[code]

### Env

[2019-01-29 17:49] markcowl commented on #8432
@valorik Can you verify whether you are using Az cmdlets, or AzureRm cmdlets for this?  If you have executed Enable-AzureRmAlias, then the above would be using Az cmdlets, otherwise, it would be using your installed AzureRm cmdlets.

Note that, if you don't want these cmdlets installed side-by-side, you cna use Uninstall-AzureRm to remove old versions of AzureRm cmdlets.

[2019-01-29 17:52] markcowl commented on #8434
@gheibia Can you provide a debug stream trace of this cmdlet execution?  This will show the client/server communication and help us to pinpoint any problem.  To do this, set the debug preference:

[code]

and then execute the cmdlet.

[2019-01-29 18:01] maddieclayton commented on #3111
https://github.com/Azure/azure-powershell/tree/AzureRM/src/ServiceManagement

[2019-01-29 19:00] pixelicous commented on #7456
@MaximoTrinidad Not enough time in the day to open an issue on this 😆

[2019-01-29 20:21] #8417 closed

[2019-01-29 20:44] vicperdana opened #8435 "Get-azurermrecoveryservicesvault"
### Description

Getting this when running get-azurermRecoveryServicesVault

Get-AzureRmRecoveryServicesVault : Operation failed.
Could not load file or assembly 'Microsoft.Azure.PowerShell.Authentication, Version=1.0.0.0, Culture=neutral,
PublicKeyToken=31bf3856ad364e35' or one of its dependencies. The system cannot find the file specified.
At line:1 char:1
+ Get-AzureRmRecoveryServicesVault -nam

[2019-01-29 22:38] vladimir-shcherbakov commented on #8435
Closing as a duplicate #8417

[2019-01-29 22:38] #8435 closed

[2019-01-29 22:45] #8426 closed

[2019-01-30 01:03] maddieclayton opened #8440 "Ensure KeyVault functionality parity between Netstandard and Desktop code"
In this comment: https://github.com/Azure/azure-powershell/pull/8405/files#r252074516, it was brought up that the current usage of Microsoft.Azure.Graph.RBAC.Version1_6.ActiveDirectory might fail in cases where the previous calls to Microsoft.Azure.ActiveDirectory.GraphClient failed.  We should look into this and update the current calls where necessary.

[2019-01-30 02:01] mithunshanbhag commented on #3937
Has there been any resolution to this issue?

[2019-01-30 03:13] shmahanta opened #8444 "New-AzureRmSqlElasticJobAgent is not supported for creating elastic job agent"
### Description

The cmdlet "New-AzureRmSqlElasticJobAgent" from AzureRM.Sql module is not available and can't find any alternative cmdlet to create elastic job agents. "New-AzSqlElasticJobAgent" is also not recognized as a cmdlet.

### Script/Steps for Reproduction

[code]

### Module Version

[code]

### Environment Data

[code]

### Debug Output

[code]

[2019-01-30 06:07] number213 commented on #7446
Improved synopsis in this PR: https://github.com/Azure/azure-powershell/pull/8431

[2019-01-30 06:07] #7446 closed

[2019-01-30 09:55] despian commented on #7430
@markcowl I'm seeing the same issue as @slavizh when trying to run this command.

`Connect-AzAccount -Credential $credentials -TenantId "xxx"`
`Connect-AzAccount : Exception has been thrown by the target of an invocation.`

Looking at the debug output as you suggested this seems to be the pertenent error.

`Message        : Attempted to access an element as a type incompatible with the array.`
`St