[2021-07-27 09:00] #15226 closed

[2021-07-27 09:55] adityabalaji-msft commented on #11754
We have identified the issue but the solution is taking more time than intended. We will add it to our backlog, but the ETA would not land within this calendar year. Closing this issue for now, will update this when we have more details

[2021-07-27 09:55] #11754 closed

[2021-07-27 12:13] idear1203 commented on #14860
Verified the issue has been fixed in the latest Synapse PowerShell release.

@jbarrancos , I believe the issue that you are facing is a different issue. If so, could you please create a new GitHub issue with minimal reproduce steps and other necessary infos so that we can check from our side?

CC @wonner

[2021-07-27 12:13] #14860 closed

[2021-07-27 15:24] robjhead commented on #12776
I'm also seeing a similar issue in Terraform.  It is a little different in that you have to actually want host encryption and switch it on in the Tf, but once you do you get the same error, even though the feature is registered.

[2021-07-27 16:25] Wand3rvogel commented on #10521
@pvrk

Is not resolved.
Az.RecoveryServices 4.4.0

Get-AzRecoveryServicesBackupItem
The Parameter WorkloadType has values: AzureFiles, AzureSQLDatabase, AzureVM, FileFolder, MSSQL

Nothing works with MARS/Windows.
Get-AzRecoveryServicesBackupItem : Unsupported WorkloadType: FileFolder

[code]

[2021-07-27 18:35] markwragg opened #15565 "New-AzResourceGroupDeployment -WhatIf is showing existing resources as if they are being created"
I have run `New-AzResourceGroupDeployment -WhatIf` today and am suddenly seeing the report show that all of the existing resources in the Resource Group as if they will be newly created. I am seeing this behaviour for runs via Azure DevOps cloud VMs as well as locally and for different resource groups / templates. The tool worked previously and while showing a lot of modifications that wouldn't re

[2021-07-27 19:11] ShilpiGautam commented on #15047
@rkapso can we pls update this thread after documentation update has been completed. I have assigned this issue to you for action and closure.

[2021-07-27 20:56] DSakura207 opened #15566 "Get-AzVm: PowerState value incorrect for VM deployed from specialized image"
## Description

My company uses specialized image to deploy VMs. When I run `Get-AzVM -Status` against one VM, the power state is `Provisioning succeeded`.

It appears that this incorrect value is from `/properties/instanceView/statuses[1]`. The cmdlet should read last object, which is `PowerState/running`.

I could submit a pull request for fixing it, but I need some input first.

Is the last obj

[2021-07-28 01:50] majastrz commented on #15565
Do you have the correlation IDs by any chance for the what-if runs? Also, which version of Az PowerShell are you using?

[2021-07-28 03:05] ezcodify commented on #10246
Has there been any progress made?

[2021-07-28 03:49] adityabalaji-msft commented on #15289
Closing this issue

[2021-07-28 03:49] #15289 closed

[2021-07-28 06:05] fleed opened #15569 "Null SchemaDocument returned by Get-AzApiManagementApiSchema"
## Description

I have a script that uses `Get-AzApiManagementApiSchema` to get all schemas from one Api to copy them to another Api.
The script runs perfectly locally (MacOS with PowerShell Core 7.1.3) and on AzureDevOps with a self-hosted Windows agent.

When trying to run it on a different type of agent (e.g. Microsoft-hosted Ubuntu) the returned object contains a **null** `SchemaDocument` prop

[2021-07-28 09:03] jagratimodi opened #15571 "Azure Deployment Tags - What is use of Tag Parameter and Where can we see those tags on Azure Portal?"
I am trying to create a Resource group deployment with tags using below command -

[code]

![image](https://user-images.githubusercontent.com/22763130/127294068-66b73a02-b83c-4fb2-8835-9e38a711a4a4.png)

I can get the tags by fetching the deployment using below command -

![image](https://user-images.githubusercontent.com/22763130/127294367-e87cb152-5b29-4714-923e-9dee24643698.png)

**My queries a

[2021-07-28 10:14] adityabalaji-msft commented on #14616
@resartiia: PR for the fix has been merged (for PS). You can check if this scenario works in the latest PS version

[2021-07-28 13:47] Micael-stack commented on #13691
Still not working at all on Ps 5.1. But working as expected switching to 7.1.

[2021-07-28 18:02] markwragg commented on #15565
Sorry I think this was my mistake actually, I was running an old version of my template and so the new resources were legitimate. Apologies for any time wasted.

[2021-07-28 18:02] #15565 closed

[2021-07-28 19:44] sohilagrawal20 commented on #15525
I tried using above cmdlet, it is still very slow and ending up without install even after 1 hour of execution of command.

Any other suggestion to install Az on powershell, I tried Option 1st and 3rd.

Install-Module -Name Az -Repository PSGallery -Force

[2021-07-28 21:00] avirishuv commented on #15526
Assigning to @jaylabell who is looking at the same request on this other thread: https://github.com/Azure/azure-cli/issues/18964

[2021-07-28 21:12] dcaro commented on #14196
Reopening to improve the error message, not just the aka.ms link.

[2021-07-28 21:20] dcaro commented on #15525
Thanks for opening this issue, there has been some issues related to the PowerShell gallery in the last few days that have impacted how long it took to install Az. Also we are looking for ways to improve the installation of Az.

[2021-07-28 21:55] ramkd12 commented on #15047
The tag Billing was added for testing the bot. It worked as expected.

[2021-07-28 22:15] brianlehr opened #15574 "[Compute] Add the hint to suggest users use the standard public IP when creating VM"
Description

In the latest profile and the profiles that use the same api-version as latest profile, the default public IP used for VM creation will be expected to be changed from Basic to Standard in ~2-3 years.  In order to avoid breaking change which has a big impact on users, we use the hint to guide users to use Standard public IP to create VM in the first stage.

Specific Feature Request

Wh

[2021-07-29 02:26] #13794 closed

[2021-07-29 02:28] #15270 closed

[2021-07-29 02:38] BethanyZhou opened #15575 "Add a doc to instruct the installation of package in tarball"
## Description of the new feature
We have a new way to install Az modules now -- via tarball, we need a guide to instruct customer the way to install Az via tarball.
https://docs.microsoft.com/en-us/powershell/azure/install-az-ps?view=azps-6.2.1

The step to install Az via tarball
1. Extract Packages from tarball
[code]
2. Install via a signed script
[code]
## Proposed implementation details (opti

[2021-07-29 05:51] Kotasudhakarreddy commented on #15422
Unable to repro in the latest Az.Websites module (2.8.0). Update to latest module using `Update-Module -Name Az.Websites` should resolve the issue.

[2021-07-29 06:12] Kotasudhakarreddy commented on #14817
Unable to repro in the latest Az.Websites module (2.8.0). Update to latest module using `Update-Module -Name Az.Websites` should resolve the issue.

[2021-07-29 08:14] lilpug commented on #15091
has this been fixed on version 2.26.1 of the CLI as i still get the same issue after upgrading?

[2021-07-29 08:34] blueww commented on #15556
@EmmaZhu

Would you please help to follow up the hang issue?

[2021-07-29 08:35] dingmeng-xue commented on #14521
Thanks for the information. I'm closing this issue. Please contact us if you need further help.

[2021-07-29 08:35] #14521 closed

[2021-07-29 09:04] isra-fel commented on #15091
Hi @lilpug , this issue was fixed by Az.Websites 2.8.0.
Please [update the azure powershell module](https://docs.microsoft.com/en-us/powershell/azure/install-az-ps?view=azps-6.2.1#update-the-azure-powershell-module) and try again.

BTW CLI is [another product](https://docs.microsoft.com/en-us/cli/azure/), you were using [Azure PowerShell](https://docs.microsoft.com/en-us/powershell/azure/?view=azp

[2021-07-29 18:28] grizzlytheodore commented on #15331
closing this issue. fixed in az.compute 4.15

[2021-07-29 18:28] #15331 closed

[2021-07-29 19:25] jaylabell commented on #15526
Looking into this issue; Updates will be provided shortly.

[2021-07-30 05:48] #14194 closed

[2021-07-30 08:05] BethanyZhou commented on #15575
Looks like we should take the release of tarball on hold as the discussion on morning sprint review meeting. Its related docs should be held on as well.

[2021-07-30 09:08] florianwachs commented on #10483
Hi, don't know if it helps you. I had the same problem with the Az-Module. The following works for me with the Graph SDK and the beta profile.
[code]

[2021-07-30 10:09] maximilianpalm opened #15587 "PowerShell hangs with high CPU load when running Connect-AzAccount"
## Description
I just installed PowerShell and Azure PowerShell for the first time on my Ubuntu 20.04.2 LTS machine. However, when running Connect-AzAccount, the process hangs and I cannot continue.

## Steps to reproduce
### Installation of PowerShell in bash
[code]

### Installation of Az module
[code]
This opens a window with a password query to unlock the default-keyring.

### Reproduce issue

[2021-07-30 18:19] kenieva commented on #15449
Is the bottom response what you get for subscriptions?

[2021-08-02 01:05] GLLJJ commented on #15514
@avirishuv appreciate if you could help to look into this one.

[2021-08-02 10:08] pvrk commented on #10521
@Wand3rvogel : I will try to explain few issues here:

1. If the ultiimate intent is to clear the vault by deleting all MAB backups, then you don't need to disable-protection.
2. You can disable protection from Azure Backup APIs for Azure items such as VM, SQL, HANA, AFS etc. For non-Azure items, you can't disable protection from API, PS, CLI, Portal etc.
3. What you need is "unregister' which is

[2021-08-02 12:25] Wand3rvogel commented on #10521
Unregister-AzRecoveryServicesBackupContainer : There are backup items associated with the server. **Stop protection and
delete backups for each of the backup items to delete the server's registration.** If the issue persists, contact
support. Refer to https://aka.ms/DeleteBackupItems for more info.
In Zeile:1 Zeichen:1
+ Unregister-AzRecoveryServicesBackupContainer -Container $servers[0] - ...
+ ~

[2021-08-02 13:54] nitmatgeo commented on #14819
@BethanyZhou Can you please confirm if this was deployed & released? I still could not get this information 😕 Maybe I am looking at the wrong place...

[2021-08-02 15:24] ktdixit commented on #15457
Any inputs? Thanks

[2021-08-02 16:51] c240amg commented on #12561
We're having the same issue.

We recently converted from a pay-as-you-go to an MCA.
Not sure if that's the issue?

[2021-08-03 00:13] moebius87 commented on #15494
**Get-AzApiManagementNamedValue** does not list _Named Values_ stored on a _Key Vault_.
If you try to get a specific _Named Value_ by passing  -NamedValueId parameter the command returns an error like this:

It's the same for the commands:

- **Get-AzApiManagementNamedValueSecretValue**
- **Set-AzApiManagementNamedValue**
- **Remove-AzApiManagementNamedValue**

For the command **New-AzApiManagemen

[2021-08-03 04:19] Chryogenic commented on #13603
@shawnxzq - you mentioned one of the workarounds is to use the "generic Azure Resource PowerShell". Are you referring to Get-AzResource? As this doesn't seem to return Azure Data Factory Datasets. Any ideas?

[2021-08-03 04:59] robert-shattock opened #15596 "WebApp:Remove-AzWebAppAccessRestrictionRule only removes one rule, not all, if the specified RuleName exists multiple times"
## Description

Scenario - Azure Web app with multiple network restriction rules specified. There are two or more rules that have matching names (in my case because I'm having to whitelist an Azure Geography set of IPs to allow access from Microsoft Hosted Agent in Azure DevOps so it can deploy https://docs.microsoft.com/en-us/azure/devops/pipelines/agents/hosted?view=azure-devops&tabs=yaml#networ

[2021-08-03 05:30] BethanyZhou commented on #14819
Hi @nitmatgeo ,

We released this feature in Az.KeyVault >=3.4.4, please check the Az.KeyVault you are using. The way to get a key size is as following:
![image](https://user-images.githubusercontent.com/19869716/127962668-cba42ed7-0207-41e2-9541-261400782a7e.png)

Thanks for asking, we will refine our docs to provide information for such a feature!

[2021-08-03 06:28] baartch commented on #7525
I do it with the [Az module](https://docs.microsoft.com/en-us/powershell/module/az.accounts/get-azcontext?view=azps-6.2.1).

[code]

[2021-08-03 06:40] axayjo commented on #15566
@avirishuv can you take a look at this?

[2021-08-03 06:41] axayjo commented on #15574
@avirishuv can you take a look at this?

[2021-08-03 07:52] nitmatgeo commented on #14819
Thanks @BethanyZhou , I just upgraded the Az.KeyVault and I could see. Refining the document would make it perfectly perfect *cheers*
I will drop a comment in case I face further challenges 😄

[2021-08-03 08:57] t-bzhan commented on #15344
Hi @podedra92 , Set-AzFrontDoor does not affect its FrontDoorFrontendEndpoints' certificate configurations. Even your newly added FrontDoorFrontendEndpoint's certificate related configuration will be ignored. To enable https for front-door frontend endpoint, we suggested to use [Enable-AzFrontDoorCustomDomainHttps](https://docs.microsoft.com/en-us/powershell/module/az.frontdoor/enable-azfrontdoorc

[2021-08-03 08:57] #15344 closed

[2021-08-03 09:03] BethanyZhou commented on #14819
Please feel free to comment here if any need. 😄

[2021-08-03 10:07] OlegUsmanovValtech commented on #8009
@andyw248 in powershell 7 your example returns: "New-AzAutomationSchedule: Parameter set cannot be resolved using the specified named parameters. One or more parameters issued cannot be used together or an insufficient number of parameters were provided."

[2021-08-03 17:06] pvrk commented on #10521
@Wand3rvogel : I just rerun the exact sequence and it worked for me. Surprised as to why this is not working for you. Can you please re-run the command with "-debug" option and share the output?

[2021-08-03 17:23] lgmorand commented on #12228
@mivano you made my day <3. I don't understand why :
- it's not documented (thanks for your blog even if I had to edit some parts because logger name cannot have a "/" in my case, bicep refuses it
- if I exported the ARM template from Azure portal directly, it behaves the same way

[2021-08-03 17:45] dingmeng-xue commented on #15587
We will try to reproduce this issue. @BethanyZhou

[2021-08-03 17:56] vinoddanekar commented on #7553
Happened to me too but found solution by installing it.
[code]
Found it in the article below:
https://docs.microsoft.com/en-us/powershell/azure/install-az-ps?view=azps-6.3.0

After installing, it returns a table with versions.

[2021-08-03 22:00] asanjabi opened #15603 "Import-AzAutomationRunbook does not close the input file handle"
## Description
When Import-AzAutomationRunbook is called the command does not close the file handle therefore it's not possible to use the same file in subsequent operations.  Looks like the problem is at AutomationPSClient.ImportRunbook() line ~624

## Steps to reproduce
Try to publish the same ps1 file to multiple automation accounts in a loop.

## Environment data

[code]

## Module versions

[

[2021-08-04 02:39] BethanyZhou commented on #15587
Hi @maximilianpalm , we have not reproduced this issue yet. That's my environment.

[code]

[code]

Could you try `Connect-AzAccount -UseDeviceAuthentication` and see what happens in next step?

[2021-08-04 08:24] nitmatgeo commented on #14819
@BethanyZhou A quick check, locally it worked when I upgraded the removed module & installed the new version Az.KeyVault. So when I push this into Az Function with PowerShell runtime, the values are not reflecting. Any advise-
1. How do I upgrade to latest version of Az.KeyVault?
2. Every time if install the module the run time + usage will get increased, so any workaround?
3. Is v3.x.x in preview

[2021-08-04 08:28] stuartri opened #15608 "New-AzBotService fails with powershell"
## Description

New-AzBotService fails with powershell

"NamedParameterNotFound,Microsoft.Azure.Commands.ResourceManager.Cmdlets.Implementation.NewAzureResourceGroupDeploymentCmdlet"

It claims to be the subsctipionid but I can see that set earlier in the script with the default and the samples here New-AzBotService (Az.BotService) | Microsoft Docs do not set it.

## Steps to reproduce

# FAILS
Ne

[2021-08-04 08:44] trichards7 opened #15609 "Az.Accounts warning message wrongly firing in Azure Functions"
May be related to: Update to Azure.Core 1.14 due to CVE-2021-26701 #15035

When using an Az.Accounts cmdlet in a Function in Azure Functions, this warning is shown:
"WARNING: This version of Az.Accounts is only supported on Windows PowerShell 5.1 and PowerShell 7.0.6 or greater, open https://aka.ms/install-powershell to learn how to upgrade. For further information, go to https://aka.ms/azpslifecy

[2021-08-04 09:00] EmmaZhu commented on #15556
We suspect this is an issue in .Net framework, and we made a simple repro and opened an issue in .Net repository:
https://github.com/dotnet/sdk/issues/19494

[2021-08-04 11:32] florinangelescu opened #15612 "Get-AzResourceGroup returns false positive"
## Description
When using unconventional names for the resource group value (URLs), the cmdlet doesn't return anything as result.

## Steps to reproduce
Resource group RG1 exists.
Resource group RG2 does not exists.

[code]
Returns the details of the resource group.
[code]
Fails and says the provided resource group does not exist.
[code]
Doesn't return anything, but it also doesn't fail.
In an aut

[2021-08-04 14:12] planax commented on #9316
Quite helpful comment from @Tyriar, which lead me to the real root cause of the error (in my case).

[2021-08-04 14:29] Wand3rvogel commented on #10521
`Unregister-AzRecoveryServicesBackupContainer -Container $servers[0] -VaultId $vault.ID -Debug`

[code]

[2021-08-04 18:44] pvrk commented on #10521
@Wand3rvogel : Thanks for the details. I can do it from portal and REST API. But Powershell and CLI seems to have some problem. My earlier attempts for powershell were for containers which had 0 backup items and those succeeded. I will investigate internally and come back.

[2021-08-04 19:17] craig-martin commented on #15015
What was the resolution?  I'm seeing this issue too.

[2021-08-04 20:52] a7mad-3bbas commented on #10254
@markcowl this issue has been resolved, Az.security has been promoted to stable version and is part of Az module starting from version 6.2.0

[2021-08-04 21:00] cutecycle opened #15616 "[Az.Synapse 0.13.0] Get-AzSynapseWorkspace resource provider 2021-04-01-preview unsupported in some clouds"
We work in AzureUSGovernment and had a script that defaulted to the latest version of Az.Synapse and broke on a `Get-AzSynapseWorkspace` call. I think it's because of the update to the dotnet-sdk Synapse management package.

[code]
## Description

## Steps to reproduce

[code]

## Environment data
(WIP)

https://github.com/Azure/azure-sdk-for-net/pull/21769#event-4957007194
https://github.com/Azur

[2021-08-04 22:04] JustinGrote opened #15617 ""az ssh vm" equivalent cmdlet"
## Description of the new feature
https://docs.microsoft.com/en-us/cli/azure/ssh?view=azure-cli-latest
## Proposed implementation details (optional)
`Connect-AzSshVm -ip <ipaddr>`

[2021-08-04 22:11] oliviercastonguay commented on #15449
Nope it's what I get for Management group

[2021-08-05 00:57] dingmeng-xue commented on #15015
@craig-martin , please create a new github issue to track it. The root cause or solution may be different even though the error message is the same.

[2021-08-05 01:14] dingmeng-xue commented on #15608
We will look into it.

[2021-08-05 01:20] dingmeng-xue commented on #15612
It is a very popular cmdlet and should not have issue.  @florinangelescu , please share the debug message of cmdlet execution. You can turn on it via `$DebugPreference = "Continue"`

[2021-08-05 02:14] BethanyZhou commented on #14819
To resolve the values are not reflecting, I suggest upgrading Az.KeyVault in Az Function.

For 1, following command is recommend
[code]
For 2, 3, I believe installing Az.KeyVault once is enough in local environment. Could you provide more information about where you are using Az Function and which module is v3.x.x in preview?

[2021-08-05 04:23] panchagnula commented on #15596
@madsd can access-restriction support multiple or duplicate rules? I believe we remove the first rule found because we don't expect duplicates?

[2021-08-05 04:26] panchagnula commented on #15440
This is not specific to PS, please file a support case for Linux team to help here. Thanks.

[2021-08-05 04:26] #15440 closed

[2021-08-05 04:28] panchagnula commented on #13684
--appsettings  API will not append but replace the app settings with the new list, so its required currently to pass the full list of app settings.

[2021-08-05 04:28] #13684 closed

[2021-08-05 04:38] idear1203 commented on #15616
Thanks for reaching out! I will do some investigation first.

[2021-08-05 06:56] trichards7 commented on #15609
When using $PSVersionTable within the function, the logs say 7.0.6. When you look at the function app settings, there’s only an option for V7.0

[2021-08-05 07:14] axayjo commented on #15617
@avirishuv can you take a look at this issue?

[2021-08-05 08:16] madsd commented on #15596
@panchagnula yes, we currently only support removing one rule per call. Removing multiple rules in one call requires fallback to ARM/REST, and would be the preferred option in this scenario. Further, it looks like the above scenario can be covered by one Service Tag rule instead.

[2021-08-05 08:37] T630Dev opened #15618 "Restore-AzSqlDatabase does not respect the WhatifPreference"
## Description

For Az.Sql in Version 3.4.0, the Restore-AzSqlDatabase with the -whatIf switch present still restores the actual database instead of calling the ShouldProcess.

Name                           Value
----                           -----
PSVersion                      5.1.19041.1023
PSEdition                      Desktop
PSCompatibleVersions           {1.0, 2.0, 3.0, 4.0...}
BuildVers

[2021-08-05 13:38] erich-wang commented on #15609
@trichards7 , I could not reproduce the issue with PS 7.0.6 locally, it might be related to special logic that how Fun App hosts PS 7. I'll check with Func App team.

[2021-08-05 17:26] craig-martin opened #15619 "Get-AzAccessToken : SharedTokenCacheCredential authentication unavailable."
## Description
Attempting to use Get-AzAccessToken for a custom application and running into this error.

## Steps to reproduce

[code]

## Environment data

[code]

## Module versions

[code]

## Debug output

[code]

## Error output

[code]

[2021-08-05 17:48] jaylabell commented on #15617
There is currently not a cmdlet offering this capability, but plans are being made for development.

[2021-08-05 18:39] #15457 closed

[2021-08-05 18:44] ktdixit commented on #15457
We can call a variable (key) for the command below:

$key = Get-AzServiceBusKey -ResourceGroupName 'RGName' -Namespace 'SBNamespaceName' -Name RootManageSharedAccessKey

Write-Host "Service Bus Details: " **$key.PrimaryConnectionString**__

[2021-08-05 19:00] panchagnula commented on #15596
Thanks @madsd. @robert-shattock  here is an example using ServiceTags in the command however, you need the latest version of Powershell modules installed for this functionality https://docs.microsoft.com/en-us/powershell/module/Az.Websites/add-azwebappaccessrestrictionrule?view=azps-6.3.0#example-3--add-servicetag-access-restriction-rule-to-a-web-app
https://github.com/Azure/azure-powershell/relea

[2021-08-05 19:00] #15596 closed

[2021-08-05 19:36] maximilianpalm commented on #15587
Hi @BethanyZhou,
I'll try and let you know as soon as I can, probably end of next week.

[2021-08-06 03:31] lokemoon commented on #15532
Can i check if there is any update of the issue? any ETA? this currently blocking the deployment, it seem the only option to fix this as interim is to downgrade the v2.9.1

[2021-08-06 08:35] erich-wang commented on #15609
@trichards7 , I could not reproduce your issue in Azure Function: I followed up the instruction [create PS function in Azure](https://docs.microsoft.com/en-us/azure/azure-functions/create-first-function-vs-code-powershell), and imported Az.Accounts 2.5.2 in `requiredments.psd1`, but I did not see the warning message as you mentioned.
[code]

Could you please share minimal pwsh function sample to r

[2021-08-06 14:45] nitmatgeo commented on #14819
Thanks @BethanyZhou  it helped; I found an alternative by specifying `'Az' = '6.*'` in requirements file of function app which has a default Az.keyVault version of 3.4.x therefore it nullifies my queries 2 & 3.

Meanwhile, I use `Add-AzKeyVaultKey` to generate new key versions; things worked well for RSA keys but for EC keys, am not sure how to generate or retrieve the `-CurveName`? Secondly, can

[2021-08-06 22:08] AverageDesigner commented on #15504
The following command should work for disabling the virtual network settings.
Update-AzCosmosDBAccount -ResourceGroupName $ResourceGroupName -Name $CosmosDBName -EnableVirtualNetwork $false

Let us know if you are still facing this issue.

[2021-08-09 06:19] BethanyZhou commented on #14819
Hi @nitmatgeo , please see following steps to retrieve CurveName
![image](https://user-images.githubusercontent.com/19869716/128666670-9bf8ea69-321c-4562-9929-81a068286255.png)

@dingmeng-xue @dcaro Could you help to evaluate this feature request?

[2021-08-09 08:41] lilpug commented on #15091
apologies, you are correct, the latest az module version fixes this as its now got 2.8.1 Az.Websites in it. Thanks very much for this 👍

[2021-08-09 09:16] nitmatgeo commented on #14819
Many thanks @BethanyZhou , I just tried it worked earlier i used $key.kty instead of $key.key. Sorry to trouble you again, I wanted to generate a new version of EC key and used below code with and without `-Destination` parameter. I was getting this error- _'Cannot process command because of one or more missing mandatory parameters: KeyFilePath'_. Am I doing it in wrong way?
[code]

[2021-08-09 11:33] ishepherd opened #15627 "Az.Storage support for Blob Tags"
## Description of the new feature

Add Az.Storage support for [blob tags](https://docs.microsoft.com/en-us/azure/storage/blobs/storage-manage-find-blobs).

This feature was released in May 2020 and is GA since June 2021.

## Proposed implementation details (optional)

Initially I was looking for ability to add a `x-ms-tags` header to the `Start-AzStorageBlobCopy` function.

For a case like this, y

[2021-08-09 15:03] wasabii opened #15629 "Az.Aks: Support Client Authentication with ExecCredential for AKS"
Currently, when operating with an AKS cluster using managed identities, with an interactive login, one runs `Import-AzAksCredential` to update their `~/.kube/config` file with the appropriate credentials for the AKS instance they're speaking to. These credentials insert a Config object that specifies a user `auth-provider` with name `azure`. Subsequent invocations of `kubectl` can then consult thi

[2021-08-09 15:08] RonaldCT opened #15630 ""SharedTokenCacheCredential authentication unavailable. No account matching the specified username"
## Description

## Steps to reproduce

[code]

## Environment data

[code]

## Module versions

[code]

## Debug output

[code]

## Error output

[code]

[2021-08-09 19:13] vedkirloskar1995 opened #15631 "Broken Migration From Classic To Arm Storage"
Following this documentation to migrate storage from classic storage to ARM
https://docs.microsoft.com/en-us/azure/virtual-machines/migration-classic-resource-manager-ps#step-5-run-commands-to-migrate-your-iaas-resources

PS C:\Users\vekirlos> Select-AzSubscription -SubscriptionName "blahblahsub"

PS C:\Users\vekirlos> Register-AzResourceProvider -ProviderNamespace Microsoft.ClassicInfrastructureM

[2021-08-09 19:14] vedkirloskar1995 commented on #15631
I can't run the migration api, this seems broken. Any comments on what I am doing wrong? Otherwise this needs to be looked at

[2021-08-09 19:30] resartiia commented on #14616
Hi Team,

I've installed the latest Az _6.3.0_ as well as the very latest Az.RecoverySevices _4.5.0_ ( I removed all old modules to make sure no conflict). I still see the same behavior. Is that only me having this issue?

[code]
Here I'm just getting the property of all policies in the vault.
[code]

[2021-08-09 21:37] dcaro commented on #10254
Closing this issue since Az.Security is now part of Az.
Preview modules (version less than 1.0.0) are now part of the AzPreview module.

[2021-08-09 21:37] #10254 closed

[2021-08-10 02:42] blueww commented on #15627
@ishepherd

Blob Tags is already supported in preview module of az.storage, the latest version is 3.7.1-preview https://www.powershellgallery.com/packages/Az.Storage/3.7.1-preview

You can install it by (with admin privileges) :
1.	Install the latest PowershellGet
install-Module PowerShellGet –Repository PSGallery –Force
2.	Close and reopen the Powershell console
3.	Install Az.Storage preview modu

[2021-08-10 05:01] harken350 opened #15635 "Az.keyVault version 3.4.4 issue with built in policy named Key vaults should have purge protection enabled"
## Description
Having the policy definition ID: "/providers/Microsoft.Authorization/policyDefinitions/0b60c0b2-2dc2-4e1c-b5c9-abbed971de53" in Deny mode will not allow me to create a key vault with Az.KeyVault 3.4.4 . I am denied regardless of if I have the flag "-enablepurgeprotection" on or not.

This is not present in other az.keyvault versions (tested 2.1.0)

## Steps to reproduce

Enable the

[2021-08-10 05:09] adityabalaji-msft commented on #14763
Unfortunately we were not able to prioritize this for the current quarter. We will continue to track this in our backlog

[2021-08-10 06:18] wyunchi-ms commented on #15608
Hi @stuartri , thanks for your contribution! I have fixed this issue in the PR #15634. It will be published in the next release. Please feel free to reopen this issue.

[2021-08-10 06:38] RonaldCT opened #15640 "SharedTokenCacheCredential authentication unavailable. No account matching the specified username: xx@xx.onmicrosoft.com tenantId: xx was found in the cache"
## Description
Certain cmndlets from the AzureADPreview module return an error. The cmndlets that return the error that I know so far are

Get-AADGroupLicenseAssignment
Get-AADLicenseSku

## Steps to reproduce

[code]

## Environment data

[code]

## Module versions

[code]

## Debug output

[code]

## Error output

[code]

[2021-08-10 06:38] #15630 closed

[2021-08-10 07:02] ishepherd commented on #15627
Thanks @bluevw! I will try that.

[2021-08-10 07:02] #15627 closed

[2021-08-10 08:19] RonaldCT commented on #15640
i used Connect-AzAccount and that fixed it

[2021-08-10 08:19] #15640 closed

[2021-08-10 10:32] hiaga commented on #14616
Hi @resartiia can you please run **Get-AzRecoveryServicesBackupProtectionPolicy** command with **-Debug** parameter.. I think the  possibility is you are getting 0 count being returned from backend. If so, we'll check with our backend team

[2021-08-10 10:53] nitmatgeo commented on #14819
@dingmeng-xue  @dcaro if the request is sensible, it would be a great help. Right now, I am just stuck trying to generate a newer version of EC key. As per documentation, the `KeyFilePath` parameter should have been optional as I don't intend to import a key.

[2021-08-10 13:25] ericscheffler commented on #6636
I'm actually experiencing this same issue; can we reopen this issue, or should I create a new one?

[2021-08-10 16:26] nihonjinboy85 opened #15643 "Improve Get-AzADUser -SearchString to match AAD search in Azure Portal"
## Description of the new feature
Currently, `Get-AzADUser -SearchString` is an alias for `Get-AzADUser -StartsWith`, which works fine when searching for a user by their display name. However, it would be great if the `-SearchString` parameter could be independent of `-StartsWith` and could search all user fields (display name, email, alternate email, etc.) to see if any fields CONTAIN the search

[2021-08-10 19:44] cdunford opened #15644 "Cannot use folders in destination storage container with Copy-AzStorageBlob"
## Description

Attempting to use `Copy-AzStorageBlob` with `-DestBlob` containing folders generates a 400 response.

## Steps to reproduce

Create 2 storage accounts; the first with container `test` and the 2nd with container `test2`; upload a text file, `test.txt` to the `test` container; execute the following with the following positional arguments:

[0] - the ID of a service principal with per

[2021-08-10 19:48] tomasrudh commented on #12561
So, the case I opened at Microsoft in December is finally closed, unfortunately without a proper solution. The problems are because our subscriptions have been changed to 'modern' subscriptions. My conclusion is this:

Pro:
The invoices have better grouping of costs

Cons:
Reading out cost using PowerShell do not work
Reading out cost on management level do not work
Filtering do not work when read

[2021-08-11 03:35] blueww commented on #15644
@cdunford

Thanks for reporting this issue!
I looked at server log, and the issue is not related with the folder in dest path, it's caused by the time of your machine is a little later then server.
As you use OAuth authentication. So PowerShell will try to get delegate key from server to generate SAS with Oauth, Powershell will generate expire time as just 7 days from now (since server only allow

[2021-08-11 05:57] dasamit13 commented on #10842
Hi @tanhassator

for the latest PS version   7.1.3  using the Azure Cloud Shell still the below command do not work scope to a particular resource . It does not work setting to individual services also but works with default. Any help ?

Set-AzSecurityPricing: Pricing name 'VirtualMachines' is not allowed. Expected 'default' for this scope.

[2021-08-11 06:50] dolauli commented on #15483
Add psm1.props, and for those which need to generate psm1 file, please import the psm1.props in the project file. Now only add it for the hybrid module aks, resourecgraph and website.

[2021-08-11 06:50] #15483 closed

[2021-08-11 07:21] dingmeng-xue commented on #15619
@craig-martin , thanks for reporting. please share me the value of resource URL.

[2021-08-11 07:32] BethanyZhou commented on #14819
Hi @nitmatgeo, we do not support creating an EC key in vault. That's why you have to import an EC key by `KeyFilePath`. I suggest you to create another issue about the feature request. We will triage all new issues regularly. I believe this way will speed up response time.

[2021-08-11 07:32] dingmeng-xue commented on #15643
Thanks for reporting. Since AAD Graph will be retired, we have no plan to change existing cmdlets. We plan to expose equivalent features via MS Graph API. When we release new cmdlets, this feature should be supported. @VeryEarly , @dcaro FYI.

[2021-08-11 07:35] amitbiton1988 commented on #10842
+ @Chemi ***@***.***> - can you please assist?

Thanks,
Amit.

From: Amit Kumar Das ***@***.***>
Sent: Wednesday, August 11, 2021 8:58 AM
To: Azure/azure-powershell ***@***.***>
Cc: Amit Biton ***@***.***>; Comment ***@***.***>
Subject: Re: [Azure/azure-powershell] Set-AzSecurityPricing -Name "default" does not work (#10842)

Hi @tanhassator<https://nam06.safelinks.protection.outlook.com/?url=http

[2021-08-11 07:39] dingmeng-xue commented on #15631
@vedkirloskar1995 , thanks for reporting.

`Select-AzSubscription` or `Set-AzContext` comes from Az. The context cannot be shared between Azure (https://www.powershellgallery.com/packages/Azure) and Az.  My understanding is you need to follow instruction `"Now, sign in to your account for the classic deployment model."` in step 4 to select the correct subscription.

[2021-08-11 11:12] amitbiton1988 commented on #10842
Hi @dasamit13 ,

Can you please make sure that the az.security module is updated to the latest version?

Please use "update-module az.security" to update to the latest version.

[2021-08-11 11:53] Kravca opened #15649 "New-AzIotHubKey generates poor key"
## Steps to reproduce

[code]

## Environment data

[code]

## Module versions

[code]

[2021-08-11 12:30] dingmeng-xue commented on #15635
@harken350 , thanks for reporting.

Could you share us debug message when you execute scripts? You can turn it on via `$DebugPreference = "Continue"`. If you can try it via Az.KeyVault 2.1.0. The debug message will be very helpful to us.

[2021-08-11 12:40] #13076 closed

[2021-08-11 13:48] nitmatgeo opened #15651 "Feature in Add-AzKeyVaultKey to generate new key versions based on previous version unless changes are explicitly specified"
I use Add-AzKeyVaultKey to generate new key versions; things worked well for RSA keys but for EC keys, I think generation is not supported as [mentioned here](https://github.com/Azure/azure-powershell/issues/14819).

So, can there be a feature enhancement such that whenever a new versions are generated, the API automatically uses the type, size or curve based on immediate last (current) version (_

[2021-08-11 13:49] nitmatgeo commented on #14819
@BethanyZhou Thank you so much, I have opened a new feature request. Fingers crossed 🤞

[2021-08-11 15:29] cdunford commented on #15644
@blueww - thanks for the quick response; I rolled my clock back a few minutes and it seems to have resolved it. I do plan on using this on a production server where I would prefer not to do that, so I'm going to have a look at using a different authentication mechanism for now.

I do think it would be great to get a fix for this issue.

[2021-08-11 18:36] RESQ20 opened #15652 "New-AzureADMSGroup : A parameter cannot be found that matches parameter name 'MembershipRule'."
## Description
https://docs.microsoft.com/en-us/powershell/module/azuread/new-azureadmsgroup?view=azureadps-2.0
The example shown uses a parameter named 'MembershipRule'
Using 2.0.2.135 of AzureAD it errors:
New-AzureADMSGroup : A parameter cannot be found that matches parameter name 'MembershipRule'.

## Steps to reproduce

[code]

## Environment data

[code]

## Module versions

[code]

## Debug

[2021-08-11 19:54] jeepingben opened #15653 "Random failure to Add-AzVhd - The filename, directory name, or volume label syntax is incorrect."
## Description
This error is displayed for some uploads but not all.
Add-AzVhd: The filename, directory name, or volume label syntax is incorrect. : 'Global\(base64)'

I'm pretty sure the problem is that GetMutexName is returning the raw base64 which can contain slashes.
https://dotnetfiddle.net/Widget/MA4iu9

Fixing this should be a matter of replacing any `/`es in the MutexName with a safe chara

[2021-08-11 21:17] harken350 commented on #15635
This is using Az.KeyVault 2.1.0

`        },
        {
          "assignedTimestamp": "2020-10-07T09:18:19Z",
          "capabilityStatus": "Deleted",
          "service": "OfficeForms",
          "servicePlanId": "e212cbc7-0961-4c40-9825-01117710dcb1"
        },
        {
          "assignedTimestamp": "2020-10-07T09:18:19Z",
          "capabilityStatus": "Enabled",
          "service": "ProjectW

[2021-08-11 23:22] Ayanmullick opened #15654 "Invoke-AzRestMethod to specify Private Endpoint Network Interface name"
## Description of the new feature

This is a continuation from https://github.com/MicrosoftDocs/azure-docs/issues/78623#issuecomment-896972547.

Can one use [Invoke-AzRestMethod](https://docs.microsoft.com/en-us/powershell/module/az.accounts/invoke-azrestmethod?view=azps-6.2.1#example-1)  and the  [PE creation API](https://docs.microsoft.com/en-us/rest/api/virtualnetwork/private-endpoints/create-o

[2021-08-12 01:47] blueww commented on #15644
@cdunford

The fix PR #15648  is already merged, which target to next Azure PowerShell release on 9/7.

[2021-08-12 01:48] dingmeng-xue commented on #15654
We are asking network team's feedback

[2021-08-12 01:51] dingmeng-xue commented on #15652
Thanks for reporting. `New-AzureAdMSGroup` belongs to module AzureAD which is not maintained by Azure PowerShell project. We are figuring out the correct communication channel.

[2021-08-12 01:58] dingmeng-xue commented on #15629
Thanks for reporting and detail analysis. We will look into it and improve managed identities related feature.

[2021-08-12 02:10] dingmeng-xue commented on #15612
We have reproduce this issue. When the name is invalid, it goes through all resource groups and return null if no hit. It should be a bug and will be fixed.

[2021-08-12 02:25] nihonjinboy85 commented on #15643
Thanks for letting me know the planned change, @dingmeng-xue ! Is there a repo or something I can follow to be informed when the change has been made so I can update my scripts? TIA

[2021-08-12 05:39] dingmeng-xue commented on #15612
According to current implementation https://github.com/Azure/azure-powershell/blob/5794114e0bc8c0639c4e8905528a10520743da3e/src/Resources/ResourceManager/SdkClient/ResourceManagerSdkClient.cs#L883, the parameter `-Name` has 2 usages. If it is just the normal string, cmdlet gets resource group by that name. If the value contains **wildcard characters**, it executes query and compares the return res

[2021-08-12 05:47] dingmeng-xue commented on #15654
According to Network team's confirmation, it is not supported yet. The team is plan to improve it in the near future.

[2021-08-12 05:56] florinangelescu commented on #15612
Even with the wildcard, the returned result is still not correct.
Also, there is no statement whatsoever in the official documentation on this behavior.
The outcome of the cmdlet should be consistent no matter what the input.
So I still go with the fact that it is a bug and needs to be addressed.

Get Outlook for Android<https://aka.ms/AAb9ysg>

________________________________
From: Dingmeng Xue

[2021-08-12 05:56] dcaro opened #15656 "[AKS] Enable managed identity features for AKS cluster in AKS cmdlets"
## Description of the new feature
We need to enable the managed identity features for AKS clusters in Az.AKS PowerShell module.
Supported operations should be:
- Create AKS cluster with managed identity
- Update AKS cluster to managed identity
- Obtain the managed identity of a cluster

More information: https://docs.microsoft.com/en-us/azure/aks/use-managed-identity#create-an-aks-cluster-with-man

[2021-08-12 06:35] dcaro opened #15657 "Get-AzConsumptionPriceSheet is calling an old API-Version"
## Description

Get-AzConsumptionPriceSheet returns the following error:
"Get-AzConsumptionPriceSheet: Operation returned an invalid status code 'NotFound'"

## Steps to reproduce

Run the following command
[code]

## Environment data

[code]

## Module versions

[code]

## Debug output

[code]

## Error output

[code]

[2021-08-12 07:27] wyunchi-ms commented on #14583
Hi @aelij , I cannot reproduce this issue in current version of Aks. Please feel free to reopen this issue if you have any question.

[2021-08-12 08:01] #15486 closed

[2021-08-12 08:05] shawnxzq commented on #15478
Swagger is already fixed. SDK team please help the release of CLI to suppor it.

[2021-08-12 09:30] BethanyZhou commented on #15635
Hi @harken350 , thank you for opening this issue, I have reproduced this issue on my machine.

Built-in
Malicious deletion of a key vault can lead to permanent data loss. A malicious insider in your organization can potentially delete and purge key vaults. Purge protection protects you from insider attacks by enforcing a mandatory retention period for soft deleted key vaults. No one inside your or

[2021-08-12 09:32] BethanyZhou commented on #15651
Thanks for reporting, I will investigate whether SDK supports this behavior.

[2021-08-12 14:12] mark7five7 opened #15661 "New-AzStorageAccountSASToken Missing Parameter for Signing Key"
## Description of the new feature

When creating a SAS token from the Azure Portal, you have the ability to select either key1 or key2 from the UI.  Currently, New-AzStorageAccountSASToken does not have that functionality.  Please add the ability to select the signing key from the cmdlet

## Proposed implementation details (optional)

[2021-08-12 15:23] Ayanmullick commented on #15654
Is there a tentative timescale for ETA? months, quarters, next year ?

[2021-08-12 16:23] ghost opened #15663 "[WebApp] Add support for vnetRouteAllEnabled to SiteConfig object model"
Historically we've used the `WEBSITE_VNET_ROUTE_ALL=1` AppSetting to enable VNet traffic routing on our App Services instances, but now we are seeing a notice in the Portal when we have that set:

I started looking into using this setting via Get/Set-AzWebApp, but it is not available in the object model.

## Proposed implementation details (optional)

Make this setting available in the `(Get-AzWeb

[2021-08-13 11:46] blueww commented on #15661
@mark7five7

Actually New-AzStorageAccountSASToken has the ability to create sas token with the chosen key.
Since to create sas token , you need first create a storage context with "New-AzStorageContext", and with this cmdlet, you need to input the key to sign the SAS token.

Like in following script, `$key` can be key1 or key2 of the account.

[code]

[2021-08-13 14:17] rajnegi commented on #12561
I am also facing this 'Bad Request' while executing the below code on Azure Runbook. On the local machine, it is working fine.
`Get-AzConsumptionUsageDetail -StartDate $startDate -EndDate $endDate | Measure-Object -Property PretaxCost -Sum`

**Error:**

`Get-AzConsumptionUsageDetail : Operation returned an invalid status code 'BadRequest' At line:44 char:16 + ... rrentCost = Get-AzConsumptionUsage

[2021-08-13 14:23] Evogelpohl commented on #12561
@rajnegi  - Give up on Get-AzConsumptionUsageDetails until MS updates it to reflect the 2 methods for querying the Microsoft.Consumption Management API.

Scroll up and take note of the replacement function written by @brianstringfellow. I've adapted this, slightly, to account for the modern & legacy subscription types I'm passing in and added some try/catch to deal with gatewayTimeout retries (sim

[2021-08-13 19:56] mark7five7 commented on #15661
Thank you for the quick reply!

[2021-08-13 19:56] #15661 closed

[2021-08-13 21:07] mclacore opened #15671 "Get-AzMetric Returns Blank Results"
## Description
Running Get-AzMetric for a specific MetricName returns blank results, as shown here:
![image](https://user-images.githubusercontent.com/8037512/129417545-bc2f554a-1439-42a2-a11d-05d319d38d95.png)

'allocated_data_storage' works and returns data, others do not.

## Steps to reproduce

[code]

## Environment data

[code]

## Module versions

[code]

## Debug output

[code]

## Error o

[2021-08-14 23:00] ejarvi opened #15672 "Az.Resources New-AzResourceGroupDeployment errors on missing Newtonsoft.Json"
## Description

Running New-AzResourceGroupDeployment from within an Azure Automation runbook fails with the following error:

Cannot retrieve the dynamic parameters for the cmdlet. Could not load file or assembly 'Newtonsoft.Json, Version=10.0.0.0, Culture=neutral, PublicKeyToken=30ad4fe6b2a6aeed' or one of its dependencies. The system cannot find the file specified.

## Steps to reproduce
Create

[2021-08-14 23:15] ejarvi commented on #15672
Newtonsoft.Json is not in the documented list of modules that Azure Automation imports by default:
- https://docs.microsoft.com/en-us/azure/automation/shared-resources/modules#default-modules

The Azure Feedback forums have a request with 42 upvotes here:
- https://feedback.azure.com/forums/246290-automation/suggestions/39064030-add-support-for-newtonsoft-json-dll-v10-or-higher

Other references t

[2021-08-16 02:38] #15653 closed

[2021-08-16 02:39] dingmeng-xue commented on #15671
Thanks for reporting. This metrics only return average. Other fields are empty. You can also get its raw HTTP response in debug message. Debug message can be turned on via `$DebugPreference = "Continue"`

[2021-08-16 08:01] #15531 closed

[2021-08-16 09:12] albertoRamon commented on #13026
Some workaround or progress?

[2021-08-16 13:47] #14201 closed

[2021-08-16 13:56] mclacore commented on #15671
As you can see from the screenshot I shared, all fields are empty.

[2021-08-16 14:48] ishepherd opened #15679 "Q: Equivalent for `az keyvault key decrypt`?"
Is there a Powershell equivalent for [az keyvault key decrypt](https://docs.microsoft.com/en-us/cli/azure/keyvault/key?view=azure-cli-latest#az_keyvault_key_decrypt)?

I can't find it at https://docs.microsoft.com/en-us/powershell/module/az.keyvault/?view=azps-6.3.0

If it does not exist can you point me to a code sample for accomplishing it?

I found [this blog > Ctrl+F "Decrypt-ByteArray"](https

[2021-08-16 15:18] dingmeng-xue commented on #15671
@mclacore , my test result is the value is empty at the phrase when resource is created. And the time range returned from service is not exactly matching the lifecycle of resources. You can turn the debug message to check what service returned.

[2021-08-16 17:39] Kotasudhakarreddy opened #15680 "WebApp:Set-AzWebApp: Missing VnetRouteAllEnabled property in SiteConfig object."
## Description
My customer has a questions. Now we have ‘vnet-route-all-enabled’ setting in app to replace appsetting ‘WEBSITE_VNET_ROUTE_ALL’ like below.

In this link: https://docs.microsoft.com/en-us/azure/app-service/web-sites-integrate-with-vnet#application-routing. I can see we can enable ‘vnet-route-all-enabled’ by run az cli command.
az webapp config set --resource-group myRG --name myWebA

[2021-08-16 22:41] asengutt opened #15682 "New-AzP2sVpnGateway doesnt work with ids"
## Description

Doc example 3 works and 6 doesnt work
https://docs.microsoft.com/en-us/powershell/module/az.network/New-AzP2sVpnGateway?view=azps-6.3.0

$HubObj = Get-AzVirtualHub -ResourceGroupName "CVPN_rg1" -Name "CVPNHub_r5"
$vpnsconf = Get-AzVpnServerConfiguration -ResourceGroupName "CVPN_rg1" -Name "CVPNServerConfig_r3"

#New-AzP2sVpnGateway succeeds when objects are provided as inputs.
New-

[2021-08-17 04:58] onlyann opened #15685 "Set-AzDataFactoryV2 resets the publicNetworkAccess property to Enabled"
## Description

Calling `Set-AzDataFactoryV2` will reset the property `publicNetworkAccess` to `Enabled`, with no way to specify it.
This is an issue when in the target resource needs the property to be `Disabled`.

## Steps to reproduce

Have an Azure Data Factory with the Network access configured to only accept connections from private endpoints (i.e publicNetworkAccess disabled).

[code]

## E

[2021-08-17 13:46] jagpreetstamber commented on #15603
#15689

[2021-08-17 15:19] mclacore commented on #15671
Here is the debug:

[code]

[2021-08-17 17:26] RESQ20 commented on #15652
FYI - I updated to 2.0.2.137 of AzureAD Module and the issue remains present.
Thank you for your attention to this issue.

[2021-08-17 19:11] paornela commented on #15469
@Gill-Bates can you please submit a [support ticket here](https://azure.microsoft.com/en-us/support/create-ticket/) https://azure.microsoft.com/en-us/support/create-ticket/? We need more information about the call you made to drill down on the issue. Since billing information is sensitive, we would like to continue this investigation over a support ticket, as opposed to a public forum like this on

[2021-08-17 19:11] #15469 closed

[2021-08-17 19:11] clowa commented on #11254
Hi everybody,
I'm currently struggeling at the same point.
I want to upload billions of very small files from one folder to archivate them on azure blob storage. Since the small files doesn't use the whole bandwith in upload the possibility of concurrent uploads is quite usefull and also the nice progessbar!
I'm currently working around this by using `Start-ThreadJob` and queueing all uploads but

[2021-08-17 19:48] gavinsteinhoff opened #15690 "Get-AzCdnEndpointResourceUsage does not treat endpointName as required"
## Description

 Get-AzCdnEndpointResourceUsage does not treat the parameter _endpointName_ as required.
The documentation is also wrong, https://docs.microsoft.com/en-us/powershell/module/az.cdn/get-azcdnendpointresourceusage

## Steps to reproduce

Run
[code]
Add valid parameters. The command will not run as it is missing a parameter.

## Environment data

[code]

## Module versions

[code]

##

[2021-08-18 01:24] ishepherd commented on #15679
[GenerateBEKFileForDiskUnlock.ps1](https://gist.github.com/ShridharParameshwarBhat/5a4f439afdb99ec4730e481b91bcb795#file-generatebekfilefordiskunlock-ps1-L116-L117) by @ShridharParameshwarBhat

found via https://docs.microsoft.com/en-us/troubleshoot/azure/virtual-machines/unlock-encrypted-disk-offline#download-and-unwrap-the-bek

[2021-08-18 01:56] dingmeng-xue commented on #15652
Thanks @RESQ20. I'm closing this issue. Please raise your question to https://www.powershellgallery.com/packages/AzureAD or MS support channel.

[2021-08-18 01:56] #15652 closed

[2021-08-18 07:11] blueww commented on #11254
@clowa

As you have billions of files, do you want to try [AzCopy ](https://docs.microsoft.com/en-us/azure/storage/common/storage-use-azcopy-v10)

Or have you tried to use -Asjob in Set-AzStorageBlobContent? It will also run the upload blob job in backend.

I am still not very clear about you scenario:
Why you need -prefix? Do you only want to upload files whose name has a specific prefix?
Do you

[2021-08-18 08:07] BethanyZhou commented on #15651
Hi @nitmatgeo , good news is that SDK support creating EC keys. Add @dingmeng-xue for awareness.

For the feature enhancement you are requesting, We do understand the importance in your scenarios.

While if there is an ec key named test with curve name P-521, for command `Add-AzKeyVaultKey -VaultName test-kv -Name eckey -KeyType EC -Destination Software`,  it's hard to decide whether user wants to

[2021-08-18 08:34] BethanyZhou opened #15699 "[Az.KeyVault] Support creating EC keys in key vault"
## Description of the new feature
We only support creating RSA key in Azure PowerShell. We should Support creating EC and Oct keys in key vault either.

## Proposed implementation details (optional)

[2021-08-18 10:35] Brendan510 opened #15702 "Network Packet Capture from vm scale set on service fabric cluster"
this is not an issue or feature request more of a how do I ?

I am trying to work out how to capture specific network packets from vm's in scale set deployed to service fabric cluster (no NSG's).
I can use AzNetworkWatcherPacketCapture for single vm's but am unsure of best approach with scale set.
My first thought (using powershell) is to grab each vm's scale set instance Id (is this the same as -

[2021-08-18 12:42] #15631 closed

[2021-08-18 17:01] clowa commented on #11254
Hi @blueww,

wow - realy appreaseate your fast reply!

I already took a look on AzCopy but decided to use the powershell-module for easier dependencie management - If you have any suggestions how I could easiely depend on an `.exe` - let me know!

At the moment I didn't tried `-AsJob`. To be honest I already builded my script with `Start-ThreadJob` and guesed it was a nice idea to easiely queue up

[2021-08-18 18:12] nitmatgeo commented on #15651
@BethanyZhou Oh that's great! Cheers, sounds perfectly fine; in fact it is a better way to have an optional parameter '_UsePreviousConfiguration_'. Hope these changes can be expected asap 😄 🤞

[2021-08-18 18:39] caroysMSFT opened #15704 "Documentation on Invoke-AzVmRunCommand unclear"
## Description

src/Compute/Compute/help/Invoke-AzVMRunCommand.md

This video and examples show several details which are not mentioned in the documentation:

https://techcommunity.microsoft.com/t5/itops-talk-blog/how-to-run-scripts-in-your-azure-vm-by-using-run-command/ba-p/1362360

## Cost

The things mentioned which are not clear in the documentation:

1. That the script is expected to exist on

[2021-08-18 21:18] mhofmeester opened #15705 "Get-AzDataFactoryV2LinkedService returns error when parameterizing 'serviceEndpoint' key"
## Description
Parameterizing the 'serviceEndpoint' key in a Blob Storage linked service with managed identity authentication (using a key vault reference) breaks usage of the 'Get-AzDataFactoryV2LinkedService' cmdlet.

Running the cmdlet on such a linked service results in an 'Unable to deserialize the response' error. The linked service itself works fine though. The error using the cmdlet does n

[2021-08-18 21:21] david-peden-q2 opened #15706 "Az-UpdateFunctionApp fails to update SiteConfig properties"
## Description

`Update-AzFunctionApp` does not successfully apply changes to `.SiteConfig`.

## Steps to reproduce

Create an Azure Function. The default value for `.SiteConfig.Use32BitWorkerProcess` is `$true`. Ensure it's `$true` before running the following code.

[code]

## Output

![image](https://user-images.githubusercontent.com/11466099/129973804-d26a4421-611d-48ce-9cea-93ba87b268ce.png)

[2021-08-18 21:44] RylandDeGregory opened #15707 "Get-AzAutomationJob (Az.Automation 1.7.0): Conversion from JSON failed with error: Unexpected character encountered while parsing value"
## Description

`Get-AzAutomationJob` fails on the latest version of Az.Automation with an error about JSON parsing. This error is identical to #7977 but on a different cmdlet...

## Steps to reproduce

[code]

## Environment data

[code]

## Module versions

[code]

## Debug output

[code]

## Error output

[code]

[2021-08-18 21:59] RylandDeGregory commented on #15707
Following up, I tested on Windows PowerShell, and the cmdlet worked as expected, so this must be an issue with PS7 (or maybe MacOS):

[code]

Output of `$PSVersionTable`:

[code]

Output of `Get-Module -ListAvailable | Where { $_.Name -like 'Az*' }`:

[code]

[2021-08-18 22:58] TonyValenti commented on #11254
Following.  I need this same solution:
To be able to mass-upload to a sub-folder.

[2021-08-18 23:16] KevinBlasko commented on #15671
full_backup_size_bytes, diff_backup_size_bytes, log_backup_size_bytes all only support an interval of P1D.  As a result, please make sure that your time range is 1 day or larger.  You can see the supported time intervals by running the [Get-AzMetricDefinition](https://docs.microsoft.com/en-us/powershell/module/az.monitor/get-azmetricdefinition?view=azps-6.3.0) command.

[2021-08-18 23:16] #15671 closed

[2021-08-18 23:22] maximilianpalm commented on #15587
Hi @BethanyZhou,
it worked with `-UseDeviceAuthentication`. Below you can find the (shortened+cleaned) output. This solves my problem, thank you for that. If you want to investigate the issue further and need more info from my machine, just let me know.

[code]

[2021-08-18 23:54] ishepherd commented on #15679
Also I need `wrapkey` support as well.
Please and thankyou 🙏 😄

[2021-08-19 01:45] dingmeng-xue commented on #15657
Billing team, although exception to end user indicates 404 error, details message should be shown up. Current behavior confuses end user.

In addition, API version should be bumped.

[2021-08-19 01:46] dingmeng-xue commented on #15654
Sorry, we haven't got clear message. We should keep you updated.

[2021-08-19 02:28] #9316 closed

[2021-08-19 05:38] #12541 closed

[2021-08-19 07:53] blueww commented on #11254
@clowa

For AzCopy:
  You can just copy the exe to your local machine, and call it in Powershell script. like following:
[code]

For -Asjob and -ConcurrentTaskCount:
    '-ConcurrentTaskCount' will set the thread count to run the upload blob job (default is 10). Please note, in a Powershell console, when the first upload/download blob cmdlet has run, the thread count is decided, the following cmdl

[2021-08-19 08:36] wyunchi-ms commented on #14197
This issue is supported in [#14821]. But still need to verify it.

[2021-08-19 08:41] wyunchi-ms commented on #12379
Align `az aks nodepool scale`.

[2021-08-19 08:47] wyunchi-ms commented on #12378
Need to verify whether ther service principal is respected in `New-AzAksCluster`.

[2021-08-19 09:02] wyunchi-ms commented on #14583
https://github.com/Azure/azure-cli/blob/f4428d4ca813c0d16cb5da576979c40e4671939c/src/azure-cli/azure/cli/command_modules/acs/custom.py#L4089

[2021-08-19 15:05] RStoddart opened #15711 "Under PWSH 7.1.3 fails with : New-PSDrive: Assembly with same name is already loaded"
## Description
Under PWSH 7.13 fails with : New-PSDrive: Assembly with same name is already loaded

## Steps to reproduce

See
https://github.com/PowerShell/AzurePSDrive/issues/73
[code]

## Environment data
See https://github.com/PowerShell/AzurePSDrive/issues/73

[code]

## Module versions
Type       Version    Name
---------- -------    ---------- ----
Script     6.3.0                 az
Script

[2021-08-19 15:15] shiwanijaiswal commented on #15702
Hi Brendan!

The short answer to your question is yes its feasible , long answer is that the packet capture support for VMSS is not yet officially available.

Yes you are right, via PowerShell you can tweak the  PowerShell command  for  the VM packet capture to work for a targeted VM instance Id.  This can also be achieved through REST and CLI but not portal.

Rest assured, its something we are ac

[2021-08-19 17:38] jaylabell commented on #15704
@avirishuv can you take a look at this issue?

[2021-08-19 17:46] farroar opened #15712 "Site Recovery - “re-protect” via Azure Automation PS runbook failing - (Azure to Azure)"
## Description
I've created a simple runbook in Azure Automation to kick off a failover in site recovery referencing a recovery plan. Failover works fine, the issue comes to when I need to "failback". This starts with a re-protect to re-replicate traffic from the backup region back to the source region. In the Azure GUI, this is performed via the "Re-Protect" button in the Recovery Plan. In PowerS

[2021-08-19 18:34] clowa commented on #11254
Hi @blueww,

thank's for your detailed reply!

With your example I will check out `azcopy.exe` again in another script - maybe I could use `winget` or the chocolatey powershell module to manage dependecies to azcopy.

To work around my current memory consumtion I'm currently adding a logic to upload files in chuncks as you allready suggested. Are there any key differences between `Start-ThreadJob`

[2021-08-19 19:26] avirishuv commented on #15514
hi @GLLJJ are you continuing to see this issue? As mentioned in this issue https://github.com/Azure/azure-powershell/issues/13178 , power state can sometimes fail to be returned. Happy to answer if you have additional questions.

[2021-08-19 19:39] jaylabell commented on #15704
@amjads1 can you take a look at this issue?

[2021-08-20 07:00] BethanyZhou commented on #15587
Hi @maximilianpalm , can't better anymore if you can help us to investigate the issue further.

few questions:
- Can you reproduce the issue when you upgrade Az to lastest?
- Do you have a browser in your machine?

[2021-08-20 08:01] #15422 closed

[2021-08-20 09:04] moutonjr opened #15718 "Az.SecurityInsights create Cmdlets for Watchlist management"
## Description of the new feature

Managing Azure Sentinel from Powershell implies possibility to operate on all items provided by solution.
A key element is watchlist; what can be managed [directly _via_ REST API](https://docs.microsoft.com/en-us/azure/sentinel/watchlist-with-rest-api) already.

New Cmdlets could wrap all API endpoints for watchlists.

## Proposed implementation details (optional

[2021-08-20 11:31] moutonjr commented on #15718
Just to know if there was ongoing work about this or not, otherwise I'm initiating branch.

[2021-08-20 11:59] Brendan510 commented on #15702
Hi Shiwani,
Thanks for taking the time to respond
Managed to sort it out with PS today, was quite simple in the end, I used
below code to isolate one instance with private IP 10.10.0.6 .I  will just
loop through the other 5 machines in vmss by filter IP.

$resourceGroupName = "<resourceGroup Name>"
$location = "<Location>"
$storageAccountName = "<storage account name>"

### Get Storage Account to

[2021-08-20 12:57] maximilianpalm commented on #15587
I have Firefox 91.0.1 (64-bit) on my machine and Firefox is the default application to open web URLs. Opening URLs in Firefox from other applications (e.g. from LibreOffice Writer) works.

After updating to the latest PowerShell (7.1.4) and Az (6.3.0), the behaviour is unchanged:

[code]
The pwsh process stays at 100% CPU load, no browser window/pop-up opens and no further output is generated.

[2021-08-20 13:23] dingmeng-xue commented on #15718
@dicolanl , please help evaluate this requirement.

[2021-08-20 13:31] shawnxzq commented on #15705
@mhofmeester Thanks for your feedback on this, serviceEndpoint doesn't support parameterization at moment, please don't parameterize it at moment, we will work on the fix, thanks!

[2021-08-20 13:34] shawnxzq commented on #15685
@onlyann Thanks for your feedback, @ligengatms looks like we are missing powershell support for the PLS related settings, please help add it, thanks!

[2021-08-20 14:00] dingmeng-xue commented on #15711
It should be environment problem. It cannot be reproduced. Please try the latest modules and PowerShell version.
[code]

[2021-08-20 14:39] dicolanl commented on #15718
thanks @dingmeng-xue  for tagging.

@moutonjr thanks for raising.  This will be coming.  But currently there is an issue in the various specs when using autorest due to some overlapping definitions.  Once that is resolved I will add this set of cmdlets and a few others for new APIs!!  Please hang tight as we work to resolve the rest api specs issue.

[2021-08-21 04:25] shiwanijaiswal commented on #15702
Hey Brandan, Great you were able to continue and thanks a lot for posting the snippet. I am sure it will be helpful for others in the community!!

[2021-08-23 06:05] BethanyZhou commented on #15587
Thanks for quick response.

We need identify whether the issue is caused by the specified command `Connect-AzAccount` or for all pop-up commands. Could you try `Send-Feedback` on your machine? This command is another command that can pop up a website by default browser via powershell.

![image](https://user-images.githubusercontent.com/19869716/130398261-73048808-e569-4cac-aed1-b85dd569ab6d.png)

[2021-08-23 06:22] Sharmistha-Rai commented on #15712
Adding @sideeksh to assist here.

[2021-08-23 15:10] jaspkaur28 commented on #15603
@asanjabi : The issue will be fixed in the next release of PowerShell planned for 09/07.
 https://github.com/Azure/azure-powershell/milestone/126

[2021-08-23 15:47] kwill-MSFT opened #15730 "Search-AzGraph adding a duplicate ResourceId property to the object returned"
## Description

If an ARG query projects the 'id' field in the response, then Search-AzGraph adds a duplicate ResourceId property to the returned object.

## Steps to reproduce

[code]

This is happening in https://github.com/Azure/azure-powershell/blob/main/src/ResourceGraph/ResourceGraph/Utilities/ResultExtensions.cs
[code]

## Impact
Using Azure Functions orchestration to query ARG and get a li

[2021-08-23 19:49] resartiia commented on #14616
Hi @hiaga

I was able to get the item counts but in a different way. It works when you try to get the number of items with `-Name` and `-VaultId` parameters:

Example:
[code]
However, when you try to get for all policies at the same time, you get 0 (for all returned policies).

[code]
Not a big deal and it will require an extra pipeline. But maybe something to fix for the future (if that's related

[2021-08-23 20:20] maximilianpalm commented on #15587
There we have it! The issue seems to be that I use a sudo-elevated pwsh while firefox is only allowed to be called as regular user in my session.
[code]
I'm using `sudo pwsh` after following the [Microsoft Learn Module "Automate Azure tasks using scripts with PowerShell"](https://docs.microsoft.com/en-us/learn/modules/automate-azure-tasks-with-powershell/5-create-resource-interactively?pivots=linu

[2021-08-24 02:37] BethanyZhou commented on #15587
Thanks for your information! We have two solutions now:

- Re-install Az in regular pwsh so that we can use Az module in regular pwsh. Then let us see whether we can call Firefox in regular pwsh.
- Or we add or re-install Firefox as root so that we could run Firefox as root. It would be a bad idea, which may cause dangers from a security aspect.

[2021-08-24 02:42] BethanyZhou commented on #15587
Let's run `Get-Module Az.* -ListAvailable` to check their installation directories. If there are two different installation directories for elevated pwsh and regular pwsh, I'm afraid we can't share modules from elevated session to regular session since they have different access right.

[2021-08-24 05:58] dingmeng-xue commented on #15651
@nitmatgeo , according to feedback from Keyvault team, the recommended way is to use the new keyvault API - [rotate] (https://github.com/Azure/azure-rest-api-specs/blob/master/specification/keyvault/data-plane/Microsoft.KeyVault/preview/7.3-preview/keys.json#L82). This feature is not public yet and we will provide new cmdlet to support this case once it is available on API version 7.4.

[2021-08-24 06:36] BethanyZhou commented on #15699
Creating oct key only be supported in managed hsm

[2021-08-24 14:47] nitmatgeo commented on #15651
@dingmeng-xue Thanks a lot for the update. Any idea about the expected timeline? Also will there be complete revamp of existing commands (_get key details or add key etc._) in future versions?

[2021-08-24 16:39] ricohomewood opened #15744 "New-AzTag error when setting Tag on Container Instance with NetworkProfile (vNET)"
## Description
When attempting to set a Azure Tag using New-AzTag on an Azure Container Instance that is connected to a vNET and thus has a NetworkProfileId populated, you get an error stating:

`##[error]{"error":{"code":"NetworkProfileNoLongerSupported","message":"Network profile is no longer supported after API version '2021-07-01'. Please use subnet ID instead."}}`

## Steps to reproduce

[cod

[2021-08-24 17:32] jlichwa commented on #15651
@nitmatgeo on service side we are adding few APIs for seamless key rotation (one of the endpoint will generate new version based on key attributes of previous version). It is planned to be completed by end of the year.

[2021-08-24 18:09] amjads1 commented on #15704
Looking into the issue.

[2021-08-25 02:06] BethanyZhou commented on #15587
Reported this issue to MSAL team. https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/issues/2839

[2021-08-25 18:51] jmyerscough opened #15749 "New-AzKustoDataConnection is not working with -EventHubResourceId"
## Description
-EventHubResourceId is not a recognised argument. I get the following error.

New-AzKustoDataConnection: /usr/local/share/powershell/Modules/Az.Kusto/2.0.0/custom/New-AzKustoDataConnection.ps1:296
Line |
 296 |  …        Az.Kusto.internal\New-AzKustoDataConnection @PSBoundParameters
     |                                                       ~~~~~~~~~~~~~~~~~~
     | A parameter ca

[2021-08-26 04:25] janegilring opened #15754 "Invoke-AzContainerInstanceCommand output"
## Description

Scenario: Execute a command within an Azure Container Instances container.

By using Azure CLI, this works as expected:

[code]

When trying to accomplish the same using Azure PowerShell, the output is not the command output - but rather a password and a websocket URI as shown below. Could it be that the Azure CLI uses these credentials to actually gather the command output, but th

[2021-08-26 17:51] omkarg81 opened #15759 "New-AzApiManagementOperation - Add a provision for creating a definition (schema) and assigning to the new operation being created"
![image](https://user-images.githubusercontent.com/1419825/131010947-9ad3e82a-2bb8-4be5-a703-71cae7393526.png)

When creating a new api operation under Azure API Management service, for Get / post requests that take in query params, like \api\v1\settlement\{id}, when we try to create the api operation directly, an error is thrown -

Operation references schema that does not exist

Currently, even

[2021-08-27 14:50] rachaelsingleton opened #15769 "ScheduleRunTimes in Schedule Policy should be in UTC Timezone"
## Description
The Azure Portal lets you adjust the time zone of a back up policy, but PowerShell seems to error.

![image](https://user-images.githubusercontent.com/59619646/131146762-79f1d73b-ab1f-4904-b824-3b25c62e23c9.png)

## Steps to reproduce

[code]

## Module versions

[code]

## Error output

[code]

[2021-08-27 20:53] TheOnlyWei opened #15771 "Missmatched Properties Between Get-AzEnvironment and az cloud show"
## Description
Some values seem to be missing from "Get-AzEnvironment -Name AzureCloud" that occur in "az cloud show -n AzureCloud". The one property that I was looking for that I was told was a bug is "sqlManagementEndpointUrl" that is required to be configured for Github Actions JSON secret authentication with Azure. This property shows in "az cloud show" command but not "Get-AzEnvironment" comm

[2021-08-28 05:14] omkarg81 commented on #13247
@solankisamir @miaojiang Any updates on this issue? I was trying to use the said REST API call, as equivalent powershell cmdlet doesn't function as expected for adding schema-definitions. But the problem is even with REST API call, it is able to add one definition at a time. If my schema has more than 1 definition, when I fire the 2nd and subsequent PUT call to https://management.azure.com/subscri

[2021-08-28 20:42] alexandair commented on #13684
How does it append the app settings for a function app in Az.Functions and az functionapp?
It should never silently replace the settings.

[2021-08-28 23:00] brettmillerb commented on #15170
I experienced this same issue with Move-AzResource  when run in the same environment on MacOs.

[2021-08-29 13:59] dingmeng-xue commented on #15771
Endpoint was added by each service team when adding the feature. Could you let us know which cmdlets needs `sqlManagementEndpointUrl`? What error log is?

[2021-08-30 00:20] shawnxzq commented on #14984
Fix checked in, waiting for release.

[2021-08-30 02:20] Kotasudhakarreddy commented on #14817
closing due to lack of response. Please file a new issue if this is still a problem.

[2021-08-30 02:20] #14817 closed

[2021-08-30 05:12] #15699 closed

[2021-08-30 07:22] Kravca commented on #15649
Can this at least be confirmed or denied? Thank you.

[2021-08-30 12:58] RylandDeGregory commented on #15707
Hi @jaspkaur28 do you have any information to provide regarding this issue?

[2021-08-30 18:08] TheOnlyWei commented on #15771
The bug is filed for Get-AzEnvironment. There is no error, it just doesn't show up.

[2021-08-30 18:34] thesushil commented on #13919
This is probably fixed by now. It outputs `***` instead of actual text.

[2021-08-31 00:42] harken350 commented on #15635
I’m closing this issue as I’ve sent it off to the policy team via Azure support

[2021-08-31 00:42] #15635 closed

[2021-08-31 03:21] #15366 closed

[2021-08-31 03:23] #15690 closed

[2021-08-31 04:08] ashvermamsft opened #15781 "$ErrorActionPreference is not working for Az.CloudService module"
## Description

$ErrorActionPreference inside a script is not being honored for Az.CloudService module.

## Steps to reproduce

[code]

## Environment data

[code]

## Module versions

[code]

## Debug output

[code]

## Error output

[code]

[2021-08-31 05:18] MayankBargali-MSFT opened #15785 "New-AzResourceGroupDeployment changes Time field value"
While deploying the [ARM template](https://docs.microsoft.com/answers/storage/attachments/127454-arm.txt) using Templates option in Azure portal the logic app is created successfully and I can see that the timeZone and startTime is correctly set to my recurrence trigger.

But when I deploy the same template using New-AzResourceGroupDeployment command then I observe that it adds Z at the end of the

[2021-08-31 06:08] dingmeng-xue commented on #15771
Close this issue now. If any feature requires this end point, please let us know.

[2021-08-31 06:08] #15771 closed

[2021-08-31 06:13] dingmeng-xue commented on #15785
This issue should be addressed by https://github.com/Azure/azure-powershell/pull/15552

[2021-08-31 06:31] MayankBargali-MSFT commented on #15785
@dingmeng-xue Thanks for the update. Will test it in the next release targeting on 7th September.

[2021-08-31 07:02] dingmeng-xue commented on #15781
Thanks for reporting. I tried the latest Az.Accounts and CloudService module but cannot reproduce you issue. But I cannot make error message like what you have. Could you clean your environment and try again?

[code]

[code]

[2021-08-31 07:12] gazpwc opened #15789 "Get-AzNetworkServiceTag does not separate by region anymore"
## Description
Since august, 30th `Get-AzNetworkServiceTag` no longer separates the used IP blocks by region for the resource "DataFactory" (DataFactory.WestEurope) but instead only provides the used IP blocks for all regions (DataFactory)

## Steps to reproduce

[code]

## Environment data

[code]

## Module versions

[code]

[2021-08-31 08:01] #15608 closed

[2021-08-31 11:28] ashvermamsft commented on #15781
@dingmeng-xue please try to change the $ErrorActionPreference from inside the script. when we setup this in ps session, it works. But when it is setup in the script it doesn't work.

[2021-08-31 11:35] adityabalaji-msft commented on #15769
Currently, the timezone in PowerShell must be specified in UTC. https://docs.microsoft.com/azure/backup/backup-azure-vms-automation#create-a-protection-policy

[2021-08-31 13:30] loweyson opened #15790 "Documentation error in New-AzAnalysisServicesServer"
## Description
Documentation error in New-AzAnalysisServicesServer. The second automatically generated sample does not work because it relies on a custom object: PsAzureAnalysisServicesFirewallConfig. An additional step is required to demonstrate the creation of this object using, for example: New-AzAnalysisServicesFirewallConfig

## Steps to reproduce

1. visit: https://docs.microsoft.com/en-us/p

[2021-08-31 13:56] jeremiahhoward opened #15791 "Null returns where object listings should be"
## Description

## Steps to reproduce

[code]

## Environment data

Name                           Value
----                           -----
PSVersion                      7.1.4
PSEdition                      Core
GitCommitId                    7.1.4
OS                             Microsoft Windows 10.0.19043
Platform                       Win32NT
PSCompatibleVersions           {1.0, 2.0, 3.0, 4.

[2021-08-31 14:27] dingmeng-xue commented on #15781
The content in my test git15781.ps1 is the same as what you used.
[code]

[2021-08-31 14:55] ashvermamsft commented on #15781
I see this
PS C:\Dev\issue> $ErrorActionPreference = 'Continue'
PS C:\Dev\issue> .\git15781.ps1
Start-AzCloudService : Resource group 'CLOUDSERVICERG' could not be found.
At C:\Dev\issue\git15781.ps1:2 char:1
+ Start-AzCloudService -Name nijbreakcs -ResourceGroupName CLOUDSERVICE ...
+ ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    + CategoryInfo          : InvalidOperat

[2021-08-31 16:19] dingmeng-xue commented on #15781
Got your point. My test result is `Start-AzCloudService` honors the preference setting out of the script. We will investigate it further.

[2021-08-31 19:18] ehmiiz commented on #10497
When using this cmdlet for larger stuff (15,000+ users in the same variable), azure automation sandbox caps out on memory (400 Mb). My ps7 host process is using 3gb ram when storing the users in a variable, since I'm unable to filter out unwanted props.

Would be awesome with a -filter / -properties param

[2021-08-31 19:30] danielniccoli commented on #10497
Can this please be reopened as the command clearly still lacks of the proposed properties.

[2021-08-31 20:05] mikefrobbins commented on #15525
@dhekimian Can you confirm if this is still an issue since the problems that @dcaro mentioned should now be resolved. Installing via Chocolatey isn't an option since it goes against our best practices and installs in the all users scope and requires admin rights.

[2021-08-31 20:08] ramermancdb opened #15793 "New-AzContainerInstanceObject -Command parameter not accepting commands anymore, just executable"
## Description
When using the New-AzContainerInstanceObject function in an Azure Automation PowerShell Runbook Azure is indicating that any command with parameters submitted with the -command parameter is not recognized.
Submitting a single command does work.

While I lost the reference, I have seen evidence that others have observed this and thought it may be intended but in talking to a couple A

[2021-08-31 21:12] cutecycle commented on #15616
Additionally: this cmdlet does not seem to throw the correct exit code when failing with this error.

[code]

[2021-09-01 00:43] Ayanmullick commented on #13168
@Sandido, So is there any documentation on how to use managed account? No example documented in link below.
[Example 1: Enable boot diagnostics](https://docs.microsoft.com/en-us/powershell/module/az.compute/set-azvmbootdiagnostic?view=azps-6.3.0#example-1--enable-boot-diagnostics)

Cc: @jaylabell, @mikefrobbins , @dingmeng-xue , @dcaro

[2021-09-01 00:51] lana-white commented on #9168
I finally figured this out. I did not find any solutions online anywhere!!
You have to set the ClientArrAffinity on the resource, rather than the web app, using the Set-AzResource command.
For example:

`Set-AzResource -ResourceGroupName $rgName -Name $appName -ResourceType $resourceType -Properties @{ClientAffinityEnabled = $false} -force`

[2021-09-01 02:25] idear1203 commented on #15616
@dingmeng-xue could you please take a look at the exit code issue? Code link is here: [Update-AzSynapseWorkspace](https://github.com/Azure/azure-powershell/blob/main/src/Synapse/Synapse/Commands/ManagementCommands/Workspace/UpdateAzureSynapseWorkspace.cs) . We don't have control about the exit code?

[2021-09-01 03:17] t-bzhan commented on #13693
Hi @Paxilein , the script you use should work as expected and that is the suggested way to do backend related change. Please let me know the exact error you encountered. Please append "-Debug" to you commands to get more details.

[2021-09-01 03:17] #13693 closed

[2021-09-01 03:30] dingmeng-xue commented on #15616
The error message reflects message from service. You can see `The resource type 'workspaces' could
not be found in the namespace 'Microsoft.Synapse' for api version '2021-04-01-preview'. The supported api-versions are
'2019-06-01-preview,2020-12-01,2021-03-01,2021-05-01,2021-06-01'.`

It seems `2021-04-01-preview` is not available in that Azure environment.

[2021-09-01 03:50] idear1203 commented on #15616
@dingmeng-xue this is true and we are actively working on fix for the API version issue. However, I want to understand that when the exception is thrown, why the exit code of the PowerShell cmdlet is zero?

[2021-09-01 04:00] dingmeng-xue commented on #15616
Status Code is 404 which is `NotFound` literally.

[2021-09-01 04:20] dingmeng-xue commented on #15793
Hi @ramermancdb , could you get debug message in automation? You can turn it on via `$DebugPreference = "Continue"`.

[2021-09-01 04:32] idear1203 commented on #15616
@cutecycle may I know how you get the following message:

[code]

These are not the output of the PowerShell cmdlet. If you want to check status code of the PowerShell cmdlet, please use `$?`. If the value is `False`, it indicates the last command isn't successful.

[2021-09-01 06:50] ricohomewood commented on #15744
@dingmeng-xue Is there any update on this issue?

[2021-09-01 07:30] dingmeng-xue commented on #15744
@armleads-azure, is there any update?

[2021-09-01 08:16] dingmeng-xue commented on #15781
No idea about the root cause yet. @ashvermamsft , please try to doc source your script. You can trigger your script as below (there is a dot and whitespace before path of target script)
[code]

[2021-09-01 11:29] gazpwc commented on #15789
One additional information:
The downloadable ServiceTags.json (https://www.microsoft.com/en-us/download/confirmation.aspx?id=56519) still contains the IP blocks separated by region. But the latest version is 2021.08.23. On this day, the cmdlet was working as well, it just stopped working on 2021.08.30.

[code]

[2021-09-01 14:54] sadomovalex opened #15799 "Get-AzResource doesn't return web jobs"
## Description

Get-AzResource doesn't return web jobs

## Steps to reproduce

[code]

This cmdlet returns other Azure resources from specified resource group (App services, Azure functions, Storage accounts, KeyVaults, SSL certificates) except web jobs (e.g. triggered web jobs which have ResourceType = microsoft.web/sites/triggeredwebjobs). In AzureRM it was possible to get web jobs using the fol

[2021-09-01 14:54] ramermancdb commented on #15793
I'll try the debug call. I assumed it would not work in the runbook but will give it a try.

[2021-09-01 15:23] sadomovalex commented on #661
is there progress over this issue? In AzureRM it was possible to do some operations with web jobs (e.g. list and delete using Get-AzureRmResource and Remove-AzureRmResource cmdlets) but after migration to Az Get-AzResource doesn't return web jobs (e.g. triggered with ResourceType = microsoft.web/sites/triggeredwebjobs) - I reported separate issue about it: https://github.com/Azure/azure-powershell

[2021-09-01 15:29] mahakjain314 commented on #15707
@RylandDeGregory  Is it only happening for a certain Linux distro?

[2021-09-01 16:08] csharpdocs opened #15800 "Error occurred while creating Log Alert rule ---> System.AggregateException: One or more errors occurred. ---> Microsoft.Azure.Management.Monitor.Models.ErrorResponseException: Operation returned an invalid status code 'BadRequest'"
## Description

**What I'm Trying to DO?**
I am trying to create azure virtual machine alert for low diskspace using powershell and i'm running that powershell from my azure pipeline. Once i run the task i encountered with error "Error occurred while creating Log Alert rule ---> System.AggregateException: One or more errors occurred. ---> Microsoft.Azure.Management.Monitor.Models.ErrorResponseExce

[2021-09-01 16:22] RylandDeGregory commented on #15707
@mahakjain314, I use MacOS Big Sur 11.5.2 on an M1 MacBook Air.

[2021-09-01 17:11] ramermancdb commented on #15793
I have added $DebugPreference = "Continue" to my PowerShell Azure Automation Account Runbook.

I have initiated a fresh test run.

The results:
The runbook just keeps running. It is stuck trying to crate the container instance with the following error like before:
![image](https://user-images.githubusercontent.com/62399279/131713752-72581016-859b-4fd4-acbf-fe6c5ae8f8b6.png)

Under the properties t

[2021-09-01 17:39] ramermancdb commented on #15793
Should have done this before I sent the above.

When I stopped the test run it  spit out a bunch of output.

Here is the main part, the rest is just a repeat of the last block as it was in a loop.

I went to the end of the output just to make sure there was not a final output past the looping/repeating one but there was none.

 : westus:480912ac-3346-4ef1-9154-xxxxxxxxxxxxx
x-ms-ratelimit-remainin

[2021-09-01 17:40] ramermancdb commented on #15793
Not sure how it got closed but said I did so. My apologies for the noise.

Reopening now:

[2021-09-01 18:43] jjindrich opened #15802 "AKS powershell modules are missing resource group"
Get-AzAksCluster command is not returning ResourceGroup. But Stop-AzAksCluster/Start-AzAksCluster requires ResourceGroup parameter.

The case: You want to Stop/Start all AKS clusters.
Issue: You will list of all clusters using Get-AzAksCluster but you cannot run Stop-AzAksCluster/Start-AzAksCluster because
ResourceGroup property is missing.

[2021-09-01 21:15] cutecycle commented on #15616
@idear1203 I think you might be right; this cmdlet is being wrapped in an Azure DevOps task which may not be retrieving the exit code properly

[2021-09-01 22:35] mikefrobbins commented on #15525
Closing this issue since it only took about 3 minutes to install the Az PowerShell module on a new Windows Server 2019 system with no other updates.

![image](https://user-images.githubusercontent.com/6719572/131754158-5ee8c218-0e0c-4c82-85c8-1f947bcc4889.png)

[2021-09-01 22:35] #15525 closed

[2021-09-01 23:55] dhekimian commented on #15525
@mikefrobbins Are the issues with the PowerShell Gallery resolved for good?

While many may prefer `Install-Module az` to install via the PowerShell Gallery, knowing that it can be installed via the MSI &/or Chocolatey is extremely useful for those of us who use it in CI/CD Jobs, Automation Tasks, etc. that run dozens or more times per day especially when PSGallery is having issues...

[2021-09-02 02:51] grizzlytheodore commented on #10253
@athlon55  @Vaibhav-Agar  @markcowl @danielli90 @mikedzikowski
Hello, everyone. This issue has been open for a while, but after troubleshooting I found that the issue only exists when using PowerShell 5.
Az.PowerShell is supposed to be used with PowerShell 7 and in PowerShell 7, this issue does not show.
Please guide your customers to download the latest PowerShell: https://docs.microsoft.com/en-u

[2021-09-02 02:52] #10253 closed

[2021-09-02 03:22] thalluripk commented on #14085
Any progress on this?

[2021-09-02 04:21] Viajaz commented on #13579
@avirishuv Has the fix been rolled out?

[2021-09-02 05:09] dingmeng-xue commented on #15802
Hi @jjindrich , we will add this feature. As a workaround, could you use pipeline operation? `Get-AzAksCluster | Stop-AzAksCluster`

[2021-09-02 07:42] jjindrich commented on #15802
Thanks, please add ResourceGroup. I need to make some decisions based on the RG.

[2021-09-02 08:01] #15609 closed

[2021-09-02 16:37] mikefrobbins commented on #15525
@dhekimian Installing the Az PowerShell module via MSI is supported and the instructions are outlined in our installation documentation. For more details, see: "[Install Azure PowerShell on Windows with MSI](https://docs.microsoft.com/en-us/powershell/azure/install-az-ps-msi)".

While Chocolatey is not one of our official installation methods, Microsoft doesn't prevent customers from using it as a

[2021-09-02 17:58] adityapatwardhan commented on #15525
@dhekimian Thank you for the feedback about the PowerShell Gallery. We understand that there have been reliability issues recently and are fully committed to improve it. If you see further issues, please file an issue at: https://github.com/PowerShell/PowerShellGallery/issues and feel free to tag me.

[2021-09-02 19:55] #15504 closed

[2021-09-02 20:46] ShilpiGautam commented on #15047
@rkapso can we pls update and close this thread after documentation update has been completed. I have assigned this issue to you for action and closure.

[2021-09-03 05:24] mahakjain314 commented on #15707
@RylandDeGregory Would it be possible for you to share the job parameters from the debug response?

[2021-09-03 09:26] dingmeng-xue commented on #15793
@ramermancdb thanks for the information. The error message is below
[code]

According to message, the cmdlet cannot execute in docker container correctly. I'm not familiar with script you are using. Here, I just have 2 suggestions:
1. You can simply your command and check whether container can execute command as expected or not. such as just `touch` one file. Or you can try command what you are us

[2021-09-03 09:29] dingmeng-xue commented on #15800
Thanks for reporting. We need to understand the issue according to request and response payload. Could you provide debug message of issue cmdlet execution? You can turn on it via `$DebugPreference = "Continue"`.

[2021-09-03 11:34] fillip1983 opened #15809 "Need option to set TrustedServiceAccessEnabled within ServiceBus cmdlets"
When modifying the network rules/rulesets for a deployed ServiceBus, we want to be able to ensure that Trusted Microsoft Services are allowed to talk to the ServiceBus, by ensuring the **TrustedServiceAccessEnabled** NetworkRule attribute is set to true/yes.

![image](https://user-images.githubusercontent.com/28857794/131998359-ca43dee2-f928-49c2-bd82-8e5b2482f2c1.png)

The [PSNetworkRuleSetAttrib

[2021-09-03 13:22] RylandDeGregory commented on #15707
Hey @mahakjain314 it looks like I am no longer able to reproduce the issue...? I haven't changed anything about my environment, so I'm not sure why it works now...
![Screen Shot 2021-09-03 at 9 18 25 AM](https://user-images.githubusercontent.com/18073815/132011826-90f4347c-d89b-4dc5-add8-17c2a19b0114.png)

[2021-09-03 14:47] mahakjain314 commented on #15707
Excellent. Good to hear that.

Maybe try with the same job id once for which you originally raised the issue? It had some parameters.
It would be very helpful if you can share the job parameters next time you see the issue!

[2021-09-03 15:27] ramermancdb commented on #15793
@dingmeng-xue

They are both good suggestions but I have already dealt with both.

1. I have tried other commands, my main example the explicit path to azcopy with nothing both the following:
azcopy --help
Bottom line is that any command beyond just calling the executable does not work.

2. I am able to see in the container instance output exactly what command was received by it and it is the exac

[2021-09-03 16:40] RylandDeGregory commented on #15707
I tried again with the original job and it is also now working.

The job parameters contain resource names and IDs that are private in nature, so unfortunately I cannot share the specific values in a public forum.

Thank you for your assistance!

[2021-09-03 16:40] #15707 closed

[2021-09-03 17:22] mwsutherland opened #15812 "RecoveryPoint parameter in Get-AzRecoveryServicesBackupWorkloadRecoveryConfig cmdlet not honored"
## Description

The documentation for Get-AzRecoveryServicesBackupWorkloadRecoveryConfig is not particularly detailed, but I am assuming that when you pass in a RecoveryPoint parameter, the RecoveryPoint field of the returned RecoveryConfigBase object should reflect the data from your parameter. It does not. Since that field is read-only, it can't be set after the call, which seems to make it impo

[2021-09-03 17:42] anuragdalmia commented on #13405
We have a workitem to update the documentation for this which we will be doing soon to help with the issues that are talked about in this thread. Please let me know if folks continue to hit issues here.

[2021-09-03 17:42] #13405 closed

[2021-09-03 19:11] jdiazmolina commented on #13723
Hi! https://docs.microsoft.com/en-us/powershell/module/az.resources/get-azadappcredential?view=azps-6.3.0 still says that the command does not retrieve the credential value but now it is returned :)

[2021-09-03 19:29] #15556 closed

[2021-09-03 19:30] #15548 closed

[2021-09-03 19:39] jdiazmolina opened #15813 "Get-AzADAppCredential MS Docs still shows that credential value is not retrieved but it is."
## Description of the new feature
Hi! https://docs.microsoft.com/en-us/powershell/module/az.resources/get-azadappcredential?view=azps-6.3.0 still says that the command does not retrieve the credential value but now it is returned for example for Thumbprints in Certificate cases.

## Proposed implementation details (optional)
Just correct documentation

[2021-09-04 11:38] sdg002 commented on #11928
This did not work for me
[code]
I thought it would. But, upon digginit, I understood the reason.

`(Get-AzContext).Account.Id` gives me  `john.doe@hotmail.com`

However, `Get-AzADUser` shows the same user to have a more complex `UserPrincipalName`, something like this `john_doe@hotmail.com#EXT#johndoehotmail.onmicrosoft.com`

## Summary
The account name returned by `Get-AzContext` does not fully m

[2021-09-04 11:42] sdg002 commented on #11928
Allow me to explain my position.

I have already done a `Connect-AzAccount` and connected to my Azure account via MFA.
Now, in a separate requirement, I want to know what is the `UserPrincipalName` of the account that I used for doing `Connect-AzAccount`

I do not want to do an interactive login at all - because it is all done.

The user information returned  by `Get-AzContext` does not match the

[2021-09-05 04:27] dingmeng-xue commented on #15813
Thanks for reporting. My understanding is Thumbprint is not credential. It was not hidden on Portal either.

[2021-09-06 02:03] dingmeng-xue commented on #15793
Thanks @Ramermancdb for the information. Current repo of Azure PowerShell just takes the responsibility of client behavior and we ensure the request is sent to service correctly. But we have limited know in each service especially edge cases.

To follow up your question, you can select one of below approaches.
1. You need to leverage Azure support to raise your question. In that case, you need to

[2021-09-06 02:15] dingmeng-xue commented on #12524
Close this issue now because it is by design. Below is the latest message from service.
[code]

[2021-09-06 02:15] #12524 closed

[2021-09-06 07:09] scratch85 commented on #12391
I would also appreciate this feature in the cmdlet. It is used by Azure Portal as well. When browsing to a specific subscription the following call is made: `https://management.azure.com/subscriptions/{SubscriptionId}?api-version=2019-03-01&$expand=ancestors`
Very likely to show the "Parent management group" in the portal ui.
I checked it also using the [latest version of the API 2020-01-01](https

[2021-09-06 08:00] liam-ng commented on #9258
Try the new cmdlet Get-AzAlert which needs the module Install-Module -Name Az.AlertsManagement Reference https://docs.microsoft.com/en-us/powershell/module/az.alertsmanagement/get-azalert?view=azps-6.3.0

[2021-09-06 09:37] MatsMolina commented on #12234
This is not working anymore. Having issues finding datafactory westeurope. Only datafactory is showing.

[2021-09-06 09:44] JimmyHjelte opened #15818 "Get-AzNetworkingServiceTag , region is no longer available for DataFactory"
## Description
We been using Get-AzNetworkingServiceTag to filter out ip ranges for DataFactory.WestEurope but since last week  there is only one service tag called "DataFactory" containing 280+ ipv4 ranges compared with the service tag "DataFactory.WestEurope" found in the list that only contains 7 ipv4 ranges.

This was working 2 weeks ago ,but not any longer.

## Steps to reproduce

This should

[2021-09-06 09:52] brettmillerb commented on #15532
Just encountered this too.

Any update on when this will be fixed @dingmeng-xue as I've just lost a good few hours debugging this.

FWIW 3.1.0 works fine

[2021-09-06 11:14] gazpwc commented on #15818
Yes, we are seeing the same issue since august, 30th:
https://github.com/Azure/azure-powershell/issues/15789

Unfortunately no reaction yet...

[2021-09-06 13:03] JimmyHjelte commented on #15818
@gazpwc  I got the following answer from support
"
The PS command you're referring to is maintained by Azure Networking team, and its ServiceTag Discovery API has been maintained under a "Public Preview" state:
Azure service tags overview | Microsoft Docs

Unfortunately that means, from an internal discussion, that we may encounter from time to time differences while using the command to fetch the

[2021-09-07 03:20] HarshitaSingh-MSFT opened #15820 "Not at all clear documentation."
## Description of the new feature
Transferring this [issue#1877](https://github.com/MicrosoftDocs/azure-docs-powershell/issues/1877) from **azure-docs-powershell** to **azure-powershell** repo.

FYI @dcaro and @Raag007

## Proposed implementation details (optional)

----------------------
**Document Details**

⚠ Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking

[2021-09-07 05:33] dingmeng-xue commented on #13919
Thanks for confirmation.

[2021-09-07 05:33] #13919 closed

[2021-09-07 06:23] #15679 closed

[2021-09-07 06:51] gazpwc commented on #15818
That's a pity. But thanks a lot for posting this information.

[2021-09-07 06:59] dingmeng-xue commented on #12391
Hi Steve, all clients respects Swagger definition. Below link shows that parameter is not officially supported. Please raise Github issue to `azure-rest-api-specs` to ask service team update Swagger file if parameter is formal one.
https://github.com/Azure/azure-rest-api-specs/blob/2cd7c6eacc5430d8956885e8d19b87ce3f3ebd6e/specification/resources/resource-manager/Microsoft.Resources/stable/2021-01-

[2021-09-07 07:13] bowlerma commented on #15532
Issue appears to be resolved in version 3.5.0 of Az.Sql.

[2021-09-07 07:13] #15532 closed

[2021-09-07 10:53] lesterw1 commented on #11928
@sdg002 The issue is that the PowerShell session is likely logged in using your default Windows credentials, so the `Get-AzContext` is returning that `UserPrincipalName`. In other cases, you may not be logged in at all until you do a `Connect-AzureAd`. Note that you can be logged into _multiple_ Azure tenants concurrently (this is what I didn't realize when I wrote the message).  So `Get-AzADUser

[2021-09-07 11:40] Zak-Ghani opened #15825 "Command failing for me - Set-AzvmClientExtension"
during a Linux  bootstrap i am getting an error usually a 172 (long running process fails). within the portal i usually end up with a status message that says one of 2 things, either "transitioning" or "provisioning failed".

If i then log into the machine and manually rename one file before executing a chef-client -j 0.settings.json the bootstrap completes successfully. this does not however fix

[2021-09-07 13:32] scratch85 opened #15828 "[Set-AzPolicyAssignment] does not remove notScope if empty. How can/does it work?"
## Description
Today I wanted to modify a bunch of policy assignments removing all notScope(s) available. Sadly Set-AzPolicyAssignment seem not able to do this as expected.
I know I can recreate the policy assignments by deleting them first, but this is not optimal.

## Steps to reproduce

[code]

## Environment data

[code]

## Module versions

[code]

[2021-09-07 16:28] Gill-Bates opened #15829 "Missing error message in Get-AzMetric when RBAC permission is missing."
If the cmdlet `Get-AzMetric` is executed and the user has missing RBAC permissions to read this information, there is no error message but only an empty result.

It would be extremely helpful if an error message was issued instead.

[code]

[2021-09-07 21:22] brianlehr commented on #15574
Hi team, any questions about this request?  It has been implemented in CLI for a couple months already.

[2021-09-07 21:28] brianlehr opened #15830 "PS asks for v4 public ip from a public ipv6 prefix"
## Description
When attempting to create a public IP from a public IP prefix that is IPv6, the command fails if the version parameter is not included.

## Steps to reproduce
Create public IPv6 prefix, then request an IP from the prefix without specifying version parameter. The request will eventually timeout and fail, because NRP is requesting a v4 IP.

Starting with an existing IPv6 prefix called

[2021-09-08 00:05] benrobot opened #15831 "The -Debug switch causes the -Confirm:$False switch to be ignored in Set-AzStorageBlobContent"
## Description
The `-Debug` switch (as well as `$DebugPreference='Continue'`) causes the `-Confirm:$False` switch to be ignored in **Set-AzStorageBlobContent** cmdlet. If this is desired behavior then maybe it documented on the troubleshooting page https://docs.microsoft.com/en-us/powershell/azure/troubleshooting?view=azps-6.4.0.

I'm using these cmdlets in my CI/CD pipeline (issue is reproduced b

[2021-09-08 00:49] ishepherd commented on #15679
Thanks for the quick work!

[2021-09-08 02:27] bganapa opened #15833 "[Az.Monitor] The output of Get-AzLog is not readily usable, improve output format"
## Description
 OperationName, EventName, Status, Category etc. are simply shown as  Microsoft.Azure.Management.Monitor.Models.LocalizableString instead of the actual value. The output is not usable in the current form. This is with the latest version of Az.Monitor . The issue seems to be pre existing, not a new one.

We had to workaround like
Get-AzLog -MaxRecord 1 | select Caller, ResourceGroupN

[2021-09-08 06:11] blueww commented on #15831
@benrobot

If you want to output debug log without user interactive, please don't user -Debug. Please set `$DebugPreference = "Continue"`, and then run the cmdlet.

[2021-09-08 06:16] BethanyZhou commented on #9955
Hi @nickstenning ,

Sorry for late response. I noticed you was using Az.ContainerInstance 1.0.1.

From version 2.0.0, we don't support running ` Remove-AzContainerGroup -ResourceId <ResourceId>`. If you want to do similar thing like that, please upgrade it to its latest version and use.
[code]

Please let me know if you still have issue on latest Az.ContainerInstance

[2021-09-08 07:39] bowlerma commented on #14965
@jaspkaur28 I can confirm that this is now much quicker.  Thank you.

[2021-09-08 07:39] #14965 closed

[2021-09-08 07:48] dingmeng-xue commented on #15820
@Raag007 , `Get-AzNetworkSecurityRuleConfig` tries to find rule config according to the name. It doesn't explain how security in example was created. It should have a rule named `rdp-rule`. If your security group doesn't contain it, the command will show error.

https://github.com/Azure/azure-powershell/blob/2a56655a3ccfd9b2d0fc6d674a42f512d457e6ae/src/Network/Network/NetworkSecurityGroup/NetworkS

[2021-09-08 07:50] dingmeng-xue commented on #15820
Technically, it should fix below code and avoid to return `Get-AzNetworkSecurityRuleConfig: Sequence contains no matching element`

https://github.com/Azure/azure-powershell/blob/2a56655a3ccfd9b2d0fc6d674a42f512d457e6ae/src/Network/Network/NetworkSecurityGroup/NetworkSecurityRule/GetAzureNetworkSecurityRuleConfigCommand.cs#L50

[2021-09-08 08:12] dingmeng-xue commented on #15829
Hi @Gill-Bates , This is expected result. Conventionally, Get-Az{} cmdlet should throw existing when resourcegroup is invalid but won't throw error when resource is not existing. Due to security consideration, service normally tells client 404 error even if user cannot access resource due to permission.

Some cmdlets or service may not follow above guideline.

[2021-09-08 08:22] dingmeng-xue commented on #15833
We will update it when team has bandwidth.

[2021-09-08 08:38] BethanyZhou commented on #9417
Hi @JustinGrote , we have [Add-AzContainerInstanceOutput](https://docs.microsoft.com/powershell/module/az.containerinstance/add-azcontainerinstanceoutput) now. It is able to attach to the output stream of a specific container instance in a specified resource group and container group. Does this command satisfy your requirement?

[2021-09-08 09:34] Gill-Bates opened #15839 "Can't fetch UsedCapacity for a particular Fileshare"
With `Get-AzMetric` I want to get the UsedCapacity of all fileshare inside a StorageAccount.

The appropriate command is

[code]

How can I get the UsedCapacity for a particular fileshare within a StorageAcocunt?

[2021-09-08 10:51] tayganr opened #15841 "New-AzResourceGroupDeployment - Inline Parameters Stopped Working"
## Description
Passing inline parameters to **New-AzResourceGroupDeployment** no longer works. Tried with multiple ARM templates.

## Steps to reproduce

[code]

## Environment data

[code]

## Module versions

[code]

## Error output

[code]

[2021-09-08 13:24] lukepuplett opened #15842 "Elevated install fails "Administrator rights are required to install or update.""
## Description

Installing the Az module in a PowerShell 7.1.4 terminal running elevated as Administrator fails with an error about needing administrator rights.

[code]

Note - I have uninstalled Azure PowerShell via the VS 2019 installer.
Note - I encountered this error while troubleshooting an Azure sub account auth problem, see link below.

https://stackoverflow.com/questions/69103076/get-azre

[2021-09-08 14:48] lassevalentini opened #15843 "[Az.FrontDoor] New-AzFrontDoorRulesEngineActionObject cannot create object without RouteConfigurationOverride"
## Description
When creating new RulesEngineActionObjects with `New-AzFrontDoorRulesEngineActionObject`, the resulting object always has the `RouteConfigurationOverride` property set, even though it is valid and in many cases desirable, not to specify it.

My guess to the issue is that [the code](https://github.com/Azure/azure-powershell/blob/main/src/FrontDoor/FrontDoor/Cmdlets/NewFrontDoorRulesE

[2021-09-08 15:27] pmsousa opened #15844 "Set-AzKeyVaultAccessPolicy - "all","purge" permissions bug"
## Description

Set-AzKeyVaultAccessPolicy with "all" should allow to set all permissions, including "purge" or @("all","purge") should be accepted as valid. Second options is preferable because "purge" is a Privileged Permission and should be treated as that.

At this moment, to set all permissions and also purge, we have to fall back to the enumerating all the options. This was first reported in

[2021-09-08 15:53] GLLJJ commented on #15514
@avirishuv Thanks for your note. In #13178, it happens randomly, so seems not match with this one.
I've updated the issue description according to the recent troubleshooting founds and got 2 questions there. Any suggestion is welcomed.
Additionally, I've created the following script and waiting for the result from CX.
![image](https://user-images.githubusercontent.com/61037282/132541341-f9147830-7

[2021-09-08 16:21] alvarofont-cloudeq opened #15845 "Action Runner error - Powershell script"
## Description

Hi support team,

We are having trouble running of github action file- running the Invoke-AzVMRunCommand. Below is the error coming up on the 2016-Datacenter Virtual Machine.

Invoke-AzVMRunCommand: /home/runner/work/_temp/4d76871f-41e6-4dca-b404-341ab4be0c4c.ps1:18
Line |
18 | Invoke-AzVMRunCommand @azParmsRemapcddriveletter
| ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
| Run

[2021-09-08 20:22] allegradomel commented on #15818
@JimmyHjelte we are working on adding these tags back to the API results, since we've received many requests. You should be able to see them again in 1-2 months.

[2021-09-08 20:23] allegradomel commented on #15789
@gazpwc thanks for the feedback! We will be adding back in the DataFactory regional tags since we've had multiple requests. You should see them in the results again in 1-2 months

[2021-09-08 21:19] rachaelsingleton commented on #13104
Was this ever resolved?

[2021-09-08 21:21] rachaelsingleton commented on #9983
Any update?

[2021-09-09 00:36] nitinarora-ms commented on #11642
We are tracking update of SDK in our backlog and we will update once we have made progress in this direction. In the meantime, users can leverage Rest APIs to create Budget - https://docs.microsoft.com/en-us/rest/api/consumption/budgets/createorupdate .  Closing this item.

[2021-09-09 00:36] #11642 closed

[2021-09-09 00:51] dingmeng-xue commented on #15842
Hi @lukepuplett , thanks for reporting. Could you try below 2 cases in your machine and share us the result?

Install one Azure PowerShell module instead of Az
[code]

Install another wrapper module
[code]

[2021-09-09 02:46] blueww commented on #15831
@benrobot
Good to know `$DebugPreference = "Continue"` is sufficient for your scenario.
But I don't quite understand your question "is the change in behavior intentional?" which change do you mean?

With -Debug, the cmdlet will always have user interactive.
If you just want debug log without user interactive, you can use `$DebugPreference = "Continue"`

Please review https://docs.microsoft.com/en-

[2021-09-09 02:52] isra-fel commented on #15844
Hey @pmsousa , thanks for reaching out to us!
I just tested the `-PermissionsToKeys 'all','purge'` solution and it worked on Az.KeyVault 3.5.0:
[code]

If you are using a previous version could you update and try it again? And if the problem still reproduces please share the debug log with us by running `$DebugPreference  = 'Continue'` at the beginning of the script. Thanks.

[2021-09-09 05:42] dingmeng-xue commented on #15845
Thanks for reporting. @alvarofont-cloudeq , please provide debug information of executing `Invoke-AzVMRunCommand`. You can turn on debug via `$DebugPreference = "Continue"`

[2021-09-09 05:46] dingmeng-xue commented on #15831
@benrobot , below page describes the behavior change with debug parameter.
https://docs.microsoft.com/en-us/powershell/module/microsoft.powershell.core/about/about_commonparameters?view=powershell-7.1#-debug

[2021-09-09 07:43] amjads1 commented on #15704
Working with @koralski to add additional clarity with examples in the existing documentation: https://github.com/Azure/azure-powershell/blob/main/src/Compute/Compute/help/Invoke-AzVMRunCommand.md

[2021-09-09 10:04] lukepuplett commented on #15842
Thanks for the prompt response.

The first one, `Az.Accounts` fails with the same error about admin rights while the second one, `Microsoft.Graph` seems to complete successfully, i.e. without error.

[2021-09-09 13:40] hansatpm opened #15848 "New-AzWebAppCertificate does not create SSL binding for Azure Managed Certificate if Serverfarm is in different resourcegroup"
## Description
I want to report an issue when using New-AzWebAppSSLBinding to create a new Azure managed certificate and bind the certificate to a custom domain. It works if ServerFarm and WebApp are in the same resource group but fails if serverfarm is in another resourcegroup then the WebApp

## Steps to reproduce

The involved command is:
[code]

###Scenario 1
If the command is given for a WebA

[2021-09-09 14:28] BCOps commented on #15841
+1 Can confirm that this was also affecting my environments and deployments over the last few days.

[2021-09-09 15:53] pmsousa commented on #15844
Hey @isra-fel

I've checked my Az modules and I had Az.KeyVault 3.4.5. I've updated the module and the problem persists.

Module versions:

`Get-Module -ListAvailable '*Az*' | Select Name, Version`

Name                     Version
----                     -------
Az                       6.4.0
Az.Accounts              2.5.3
Az.Advisor               1.1.1
Az.Aks                   2.4.0
Az.Analysis

[2021-09-09 16:19] lukepuplett commented on #15842
See answer in.

https://stackoverflow.com/questions/69103076/get-azresourcegroup-returns-no-tenant-found-in-the-context/69121623#69121623

It seems like **installing the Azure CLI*** may have resolved the issue.

[2021-09-09 16:19] #15842 closed

[2021-09-09 16:24] mikeblakeuk commented on #10329
If you have AZ installed
[code]

[2021-09-09 17:50] cdranschak commented on #13104
@jaspkaur28 @yanxiaodi @dingmeng-xue Can either of you please confirm if this bug was ever addressed and resolved? We are experiencing the same issue in our work. Thank you. If not would it be possible to have this issue opened back up.

[2021-09-09 18:17] avirishuv commented on #15566
hi @DSakura207 the Get-AzVM -Status cmdlet returns multiple runtime status associated with the VM, including provisioning state and power state. The "code" in the response represents whether its provisioning or power state that you could use to differentiate.

[2021-09-09 18:23] jaylabell commented on #15825
@amjads1 Do you mind taking a look at this Extension related issue?

[2021-09-09 18:26] avirishuv commented on #15514
Thanks @GLLJJ for additional context. Let me look into this in more detail and get back.

[2021-09-09 18:30] avirishuv commented on #15481
hi @isra-fel thanks for reporting - we have added this to the backlog to update & fix. Will confirm here once done.

[2021-09-09 18:51] avirishuv commented on #13579
hi @Viajaz fix rollout is in progress, I'll confirm once it has completed roll out to all regions.

[2021-09-09 19:34] rachaelsingleton commented on #13104
I figured it out! You have to use a time zone from this list: https://docs.microsoft.com/en-us/graph/api/resources/datetimetimezone?view=graph-rest-1.0#additional-time-zones

[2021-09-09 19:37] jaylabell commented on #14000
@haagha can this item be closed?

[2021-09-09 19:44] jaylabell commented on #15574
Working to update this issue

[2021-09-09 19:46] jaylabell commented on #15081
Still looking into this issue.

[2021-09-09 19:51] Zak-Ghani commented on #15825
Hi all, we've worked out what the issue was. Its to do with the way chef was set up at my place of work, validation.pem file was missing permissions to generate a node..pem file during the bootstrap process. I've rewritten my scriptin to inject the required client.pem file into the VM prior to the extension being attached and executed.

Thank you for taking the time to look into this for me.

[2021-09-09 19:51] #15825 closed

[2021-09-09 19:51] Zak-Ghani commented on #15825
Thank you for looking into this for me

[2021-09-09 20:03] avirishuv commented on #15514
@GLLJJ to clarify, the " -Warningaction ignore " flag does not change the behavior of the cmdlet - it simply stops displaying the warning. The response should remain the same when this is used as when the flag is not used.

Hope that helps, please let me know if any follow-up questions.

[2021-09-09 20:56] shenglol commented on #15841
I could not reproduce it with Az.Resources 4.3.1. @tayganr Do you mind checking if upgrading Az.Resources to 4.3.1 fixes the issue?

[2021-09-09 21:05] mperian commented on #15841
We started to see the same error in our ADO pipelines:
[code]

Setting the preferred Azure PowerShell version to 6.3.0 unblocked us.

[2021-09-10 00:25] AshleyHollis commented on #15841
+1 I can confirm this is also affecting our ADO pipelines. I can also confirm that setting the preferred Azure PowerShell version to 6.3.0 has unblocked us.

[2021-09-10 00:39] sebbeth commented on #15841
+1 I can also confirm that this is affecting our Azure DevOps pipelines. Setting Azure PowerShell version to 6.3.0 resolved the issue for us too

[2021-09-10 03:16] isra-fel commented on #15844
According to my test, after the `Set-AzKeyVaultAccessPolicy` cmdlet, the permissions have been correctly set to "all","purge". If you inspect the vault via `Get-AzKeyVault` the permissions are updated, and if you try to purge a key it works.
The only issue here is that azure portal doesn't seem to respect this combination of permissions. I'll file an issue with them.

[2021-09-10 04:44] MayankBargali-MSFT commented on #15785
@armleads-azure can you please confirm if this issue is fixed in the latest release as I can still observe the issue in v6.4.0

[2021-09-10 05:56] isra-fel commented on #15844
@jlichwa Hi Jack, we have an issue when you set the access policy of a vault to `"all","purge"` via PowerShell (in fact, via REST API), in Azure Portal, the checkbox of "Purge" is not checked.
Could you help involve the correct team? Thanks

[2021-09-10 06:04] dsm4u opened #15851 "User Managed Identity not working"
I am trying to use usermanaged identity to access storage account from VM scale set.
Created a managed identity, added it to scaleset and then given storage contribute access to the identity for the storage account.

But when i try to access the storage account via .net console app running on the scaleset instance, it giving authentication error.

The same scenario is working fine for system manag

[2021-09-10 08:15] Valkozaur commented on #10015
@daniel-simpson  Hello Daniel!

I'm experiencing the same kind of issue right now, do you remember how did you solved it. When I run the export from a powershell script it exports for about 5m and than just returns

Get-AzSqlDatabaseImportExportStatus : Response status code does not indicate success: 400 (Bad Request).

No information at all, this is pretty irritating. Please people, if you have a

[2021-09-10 09:26] StickNitro commented on #15841
Not sure if this is the same thing but my ARM deployments all stopped working yesterday afternoon, we are using `New-AzResourceGroupDeployment @AzResourceGroupDeploymentParams` but yesterday we started getting errors in our build pipeline. The error was:

[code]

Changing the call to the following fixes the errors in the pipeline
[code]

Not entirely sure what has changed that would have caused th

[2021-09-10 09:38] karelsimanek commented on #15841
Same here, all pipes on many running projects have suddenly stopped working.

[2021-09-10 12:11] mertlab commented on #15841
We had the similar issue starting from yesterday in our Azure Devops Pipelines. Setting Azure PowerShell version to 6.3.0 mitigated the issue.

[2021-09-10 15:26] ChristopherGLewis opened #15855 "New-AzTag doesn't set tags on Microsoft.Network/firewallPolicies resources"
## Description

New-AzTag doesn't set tags on Microsoft.Network/firewallPolicies resources

## Steps to reproduce

[code]

## Environment data
[code]

## Module versions
[code]

## Debug output
[code]

## Error output
[code]

[2021-09-10 17:41] ChristopherGLewis opened #15856 "Set-AzResource doesn't set tags on Microsoft.Network/firewallPolicies resources"
## Description

New-AzTag doesn't set tags on Microsoft.Network/firewallPolicies resources

## Steps to reproduce

[code]

## Environment data
[code]

## Module versions
[code]

## Debug output
[code]

## Error output
[code]

[2021-09-10 21:52] jlichwa commented on #15844
@pmsousa "all" means all permissions, we can't change that since it will affect all our customers. It is as designed and it would be a breaking change.

[2021-09-10 22:03] jlichwa commented on #15844
@qinl-li can you take a look. It seems like 'all' is missing purge.
![image](https://user-images.githubusercontent.com/52512203/132922340-ea1d876d-bca0-4d31-b4b7-5a6ad127e5a9.png)

[2021-09-10 23:39] adwise3 commented on #8971
Our apologies for the continued delay. We are triaging this will provide an update once we have more information.

[2021-09-11 06:41] MrFly72 commented on #8971
Please also look at the query speed when date is limited. It looks to me that querying is not the most effective way for performance.

[2021-09-11 08:01] #15711 closed

[2021-09-12 04:52] brwilkinson commented on #13579
Following issue...

[2021-09-12 13:45] dingmeng-xue commented on #15851
Thanks for reporting. Could you share which doc you were following? or could you share the what script you were using? For detail, how did you add managed identity, how did you invoke accessing stroage account via .net console app?

[2021-09-12 16:04] dsm4u commented on #15851
@dingmeng-xue : Thanks for responding. Please find the details as below:
These are the steps I have followed:
1. Created a Manged Identity via portal.
2. In the Virtual Scaleset, went to the identity and added the newly created identity as user assigned identity.
![image](https://user-images.githubusercontent.com/90440178/132994397-03621ff1-3d57-4c4c-a966-263338f25135.png)
3. In the portal, went t

[2021-09-13 00:02] daniel-simpson commented on #10015
Sorry @Valkozaur, I've changed jobs and don't have access to the fix I made earlier in the year.

From memory I rewrote our export tool from Azure Powershell to using [sqlpackage](https://docs.microsoft.com/en-us/sql/tools/sqlpackage/sqlpackage?view=sql-server-ver15) on an Azure DevOps agent, which means I got the same functionality without the weird error state.

Very annoying that the tooling/AP

[2021-09-13 02:10] dingmeng-xue commented on #15851
@dsm4u , current repo is for Azure PowerShell. Your request is about Azure SDK for dot net. Could you confirm it? I will help transfer this issue to Azure SDK repo.

[2021-09-13 05:52] dingmeng-xue commented on #13210
Compute team, please check below line
https://github.com/Azure/azure-powershell/blob/a387ffb94e3491de44a4363e82905604f1da3971/src/Compute/Compute/Generated/GalleryImageVersion/GalleryImageVersionCreateOrUpdateMethod.cs#L140

[2021-09-13 07:48] GLLJJ commented on #15514
Thanks @avirishuv, I agree that the "-warningactio ignore" flag does not change any.

"Get-azvm -status" have 2 steps,
First, it gets the vmlist
![image](https://user-images.githubusercontent.com/61037282/133040223-9e7667dc-fdad-4644-9a5c-a09b707a3ab6.png)
Then, send http request for those VMs listed from above.
![image](https://user-images.githubusercontent.com/61037282/133040060-295b9c54-c459-4f

[2021-09-13 07:49] #15514 closed

[2021-09-13 08:44] ricohomewood commented on #15744
@dingmeng-xue It has been confirmed by Microsoft:

This is a bug in our control plane's PATCH validation logic.

1. As a workaround, we request to use PATCH api directly using a lower api version than 2021-07-01.

2019-12-01 listed which will work.

2.       Backend team is working on getting the fix for this released by next week

[2021-09-13 09:07] Gill-Bates opened #15863 "0-Value Result Get-AzMetric for Fileshares (UsedCapacity)"
From Time to Time I receive an 0-Value Result, when I perform a Request against the Metrics-API to get the UsedCapacity

**OK:**

`(Get-AzMetric -ResourceID "/subscriptions/***/resourceGroups/***/providers/Microsoft.Storage/storageAccounts/***/fileServices/default").Data`

![image](https://user-images.githubusercontent.com/25774289/133056307-9c559852-650e-48fb-a351-7209fca31ffb.png)

**NOK:**

![i

[2021-09-13 09:51] dsm4u commented on #15851
@dingmeng-xue  Not sure if its an issue with .NET Azure SDK or the managed identity itself.

Because the same code is working fine, if I use the system managed identity. The issue is happening only for user managed identity.

[2021-09-13 12:35] clustermvp opened #15864 "Ipsec policys are not accepted with New-AzVpnConnection PfsGroup PFS14 is not available in powershell but is in the gui"
## Description
Creating an virtual wan sit to site connection the ipsec policy is not working.
also the PfsGroup PFS14 is not available in powershell but is in the gui

## Steps to reproduce

$ipsecPolicy = New-AzIpsecPolicy -IkeEncryption AES256 -ikeintegrity SHA256 -DhGroup DHGroup14 -IpsecEncryption AES256 -IpsecIntegrity SHA256 -PfsGroup PFS24 -SALifeTimeSeconds 28800 -Verbose -debug
$vpnSiteL

[2021-09-13 15:07] MonikaReddy-MSFT opened #15865 "How to add more than 1 action group to an Azure Alert using PowerShell ?"
Customer reported an issue here that they are unable to add 2 action groups to azure alert using PS.

$aznsActionGroup = New-AzScheduledQueryRuleAznsActionGroup -ActionGroup @("/subscriptions/ad825170-845c-47db-8f00-11978947b089/resourcegroups/MyResourceGroup/providers/microsoft.insights/actiongroups/MyActionGroup", "/subscriptions/ad825170-845c-47db-8f00-11978947b089/resourcegroups/MyResourceGrou

[2021-09-13 15:31] alvarofont-cloudeq commented on #15845
Hi @dingmeng-xue do you put the $DebugPreference = "Continue" in the workflow file?

[2021-09-13 17:17] cradle77 commented on #15841
+1 same here, had to revert using `-TemplateParameterObject` which has the annoying bug of the broken SecureString

[2021-09-13 19:52] maximilianpalm commented on #15587
Sorry to let you wait. I reinstalled the Az module as regular user and now the auth workflow works via Firefox. For me the issue is resolved, and I'm happy to see that my issue is used for improvement at MSAL.

Uninstall as root:
[code]

Make sure it's gone
[code]

Reinstall as regular user, load and authorize
[code]

[2021-09-13 19:52] #15587 closed

[2021-09-13 19:57] atkulp opened #15868 "[Az.Tools.Installer] Install-AzModule fails on process locked"
I'm running the `Install-AzModule` cmdlet to install/update some modules within an Azure Pipeline.  Sporadically it fails on "cannot access the file."  This has been different dll's on different runs.  It doesn't make much sense that they would be locked based on our process.  Is this a known issue?

`PackageManagement\Install-Package : Package 'Az.Accounts' failed to be installed because: The pro

[2021-09-13 20:53] ericcsinger opened #15869 "Get-AzLocation, ISO 3166 for Azure Regional Locations and other known abbreviations"
## Description of the new feature
Azures regional names, can be difficult to incorporate into resources, without causing conflict, or running out of chars.  For example, a storage account name must be globally unique + be less than 20 chars.

In the idea of making Azure more programmable and standardized, it would be awesome if we could get a few additional properties about the azure locations.

[2021-09-14 05:19] #10015 closed

[2021-09-14 07:01] blueww commented on #15831
@benrobot

For run cmdlet in NonInteractive mode, please use $DebugPreference = "Continue", instead of adding -Debug.
Do you have any specific reason that must add -debug.

@dingmeng-xue
As the questions is mostly on -debug and $DebugPreference behavior, but not for specific cmdlet behaviors, could you please help to answer this?

[2021-09-14 08:55] scratch85 commented on #12391
As recommended I opened an [issue](Azure/azure-rest-api-specs#15935) in `azure-rest-api-specs` but there is no answer/comment to it yet.

[2021-09-14 09:22] dingmeng-xue commented on #12391
Hi Scratch85,

For the time being, you can use below script as workaround.
[code]

[2021-09-14 10:13] scratch85 commented on #12391
Thanks!!

Yepp, we do this already but would prefer it to be available via the cmdlet. Btw, it works with `api-version=2020-01-01` as well (just to use the latest version).

[2021-09-14 12:18] ncook-hxgn commented on #9409
Possibly related? ...
- create a VM in VS Code using the Azure extension
- go view the template in the portal, export, commit
- add ARM template deployment task to azure build pipeline: deploy the template during the build
`##[error] InvalidParameter: osDisk.managedDisk.id is not allowed`
🤷‍♂️

[2021-09-14 13:40] jusnitlive opened #15874 "Example New-AzApiManagementBackendServiceFabric does not set serverX509Names.issuerCertificateThumbprint"
https://github.com/Azure/azure-powershell/blob/main/src/ApiManagement/ApiManagement/help/New-AzApiManagementBackendServiceFabric.md#example-1-create-a-backend-service-fabric-in-memory-object

Results in a issuerCertificateThumbprint value of "System.Object[]"

PS C:\>$serviceFabric = New-AzApiManagementBackendServiceFabric -ManagementEndpoint  $ManagementEndpoints -ClientCertificateThumbprint "33C

[2021-09-14 14:07] dingmeng-xue commented on #15868
Thanks for reporting. We are working on a new version of Tools installer. We will verify this scenario before we publish it.

[2021-09-14 14:13] dingmeng-xue commented on #15863
Thanks for reporting. Please share debug message for our further investigation. You can turn on the debug via `$DebugPreference = "Continue"`

The payload of response of this cmdlet should be very large. Please just provide the part of debug message including whole request and head of response.

[2021-09-14 14:34] kolodziejczyk0 opened #15875 "Issue with Get-AzDataLakeGen2ChildItem throwing System.OutOfMemoryException"
Hello,

I'm using `Get-AzDataLakeGen2ChildItem` as recommended in [documentation](https://docs.microsoft.com/en-us/powershell/module/az.storage/get-azdatalakegen2childitem?view=azps-6.4.0#example-3--list-items-recursively-from-a-filesystem-in-multiple-batches) to extract all our paths and ACLs in ADLS. This is the code exactly I'm using:
[code]

The issue is that without ContinuationToken it retur

[2021-09-14 15:07] Gill-Bates commented on #15863
[code]

[2021-09-14 16:08] ChristopherGLewis opened #15876 "Tags passed as parameters to New-AzDeployment and New-AzResourceGroupDeployment deployment have their initial character case change"
## Description
Tags passed as parameters to New-AzDeployment and New-AzResourceGroupDeployment deployment have their initial character case change

Tag case gets changed in those two commandlets

## Steps to reproduce

Bicep file:
[code]

ARM:
[code]

Parameter file
[code]

[code]

## Environment data
[code]

## Module versions

[code]

## Debug output
[code]

## Error output
[code]

[2021-09-14 16:19] Willem-J-an commented on #15841
Maybe this is caused by #15659 ?
GetDynamicParameters method now included keyword new; which might override the behavior required for these dynamic parameters.
https://github.com/Azure/azure-powershell/commit/f606f49bf1cfe402a3228627ef8e979236fe2e03#diff-128af0e219b8a635d0a6a4473bf4cdd923e995a36f2b783893b855b7742c73d5

Not sure if that could be the cause of this? @isra-fel

[2021-09-14 17:26] apole commented on #11464
Using .Net SDK,  is GetManagedDiskPageRangesDiffAsync still the way to copy Incremental snapshots?  GetManagedDiskPageRangesDiffAsync  works fine.

But StartCopyIncrementalAsync fails with invalid header value. Is this expected?

The value for one of the HTTP headers is not in the correct format.
RequestId:ed074aaf-701e-002f-4f8d-a9b3c3000000
Time:2021-09-14T17:24:59.6003303Z
Status: 400 (The valu

[2021-09-14 21:52] Nilambari commented on #15682
#New-AzP2sVpnGateway fails when ids are provided as inputs.
#This gives error "Parameter set cannot be resolved using the specified named parameters."
New-AzP2sVpnGateway -ResourceGroupName 'rg1' -Name 'CVPNHub_r5_p2s_gw' -VpnGatewayScaleUnit '10' -VirtualHubName 'CVPNHub_r5' -VpnClientAddressPool $vpnClientAddressSpaces -VpnServerConfigurationId $vpnsconf.Id -VirtualHubId $HubObj.Id

=> Either pa

[2021-09-14 23:15] RufusCocoa commented on #15841
Had this issue in deployment pipelines at my org. Resolved it by setting PowerShell version to 6.3.0.
To do this I modified the build pipeline PowerShell input parameters from having _azurePowerShellVersion: LatestVersion_ to the below:
`  strategy:
    runOnce:
      deploy:
        steps:
        - task: AzurePowerShell@4
          inputs:
            ...
            azurePowerShellVersion: Othe

[2021-09-15 02:18] blueww commented on #11464
@apole
This looks more like a server issue instead of PowerShell issue.
Would you like to open an incident in portal to track the server issue?

[2021-09-15 02:46] #15843 closed

[2021-09-15 05:32] jaspkaur28 commented on #13104
@cdranschak: We have a workaround for this one, user can provide the time zone as per noda time list: https://nodatime.org/TimeZones
The bug is still open in our backlog list. We couldn't pick up this improvement because of other overarching Automation priorities.

[2021-09-15 07:45] BethanyZhou commented on #15651
Hi @nitmatgeo , we supported create EC keys in commands if the version of your Az.KeyVault >= 3.5.0. Hope this feature unblocked you.

[2021-09-15 12:35] jaspkaur28 commented on #13104
@cdranschak : We have an update. Automation team will be fixing this bug by Friday and the deployment would take 4 weeks to be rolled out to all the regions.

[2021-09-15 12:56] cdranschak commented on #13104
@jaspkaur28 Thanks for re-opening this issue. Please provide updates as you have them. Thanks to @rachaelsingleton for sharing the workaround.

[2021-09-15 13:24] dingmeng-xue commented on #15865
Thanks for reporting. `New-AzScheduledQueryRuleAznsActionGroup` creates an object of type Azns Action Group which is to be passed to the command that creates Log Alert Rule. This cmdlet won't create any Azure resource and it is just one step of ScheduledQueryRule creation. Please reference below page.

https://thomasthornton.cloud/2019/08/22/azure-monitor-taking-the-logging-and-alerting-deployment

[2021-09-15 13:56] dingmeng-xue commented on #15869
Thanks for reporting. The return format of Azure PowerShell conform to what Azure service returns. The requirement is not specific to Azure PowerShell. If service supports it and return information following ISO3166, all Azure clients will get benefit.

Please raise this requirement request to Azure support.

[2021-09-15 15:44] yuxisun1217 opened #15881 "[Question] Does Az Powershell support sending NMI to VM?"
## Description of the new feature
Currently the azure-cli tool has an "az serial-console send nmi" command to send NMI to VM. Does the Az Powershell support this feature now? Thanks!

[2021-09-15 16:05] madbrenner opened #15882 "Seeing intermittent error: 'The given key 'Az.MODULE_NAME' was not present in the dictionary.'"
## Description
We use PowerShell and the Az module to deploy our services to Azure, running off a docker image via Azure Container Instances, and since updating our image around July 14th we have been seeing this error mentioned in the title intermittently during our deployments. We have been able use an older image which works fine that was build on June 7th, but any newer images we try to build

[2021-09-15 21:02] joellopes03 opened #15883 "Connect-AzContainerRegistry fails to login for system user"
Connect-AzContainerRegistry command fails for system user on windows ADO agent it works fine when I login and run command as admin.

Commands:
-   Connect-AzAccount -ServicePrincipal -TenantId $tenantid  -ApplicationId $appid -CertificateThumbprint $thumbprint -SendCertificateChain -Scope Process
-  Connect-AzContainerRegistry -Name $acr -Verbose

Output
[code]

[2021-09-15 21:05] apole commented on #11464
is copyIncremental API supported if source is managed incremental snapshot?

I tried this in .Net and Java SDK and get error.  If it's supposed to work then can I get pointers on what the parameters are supposed to be?

[2021-09-16 01:59] dingmeng-xue commented on #15882
Hi Madbrenner, could you share more error message from other modules? such as Accounts, Keyvault or Monitor. Could you try to collect more debug trace?

[2021-09-16 02:09] blueww commented on #11464
@apole

The repo is for Azure PowerShell.
For the SDK/Server issue, we might not be the best person to help you.

Would you like to open an incident on portal?
And the related team will come to help you.

[2021-09-16 02:59] blueww commented on #15831
@benrobot
Thanks for the clarify!

The prompt when run `Set-AzStorageBlobContent -Confirm:$False -Force -Debug` in NonInteractive mode  is not from debug log, but from verbose log. So when you add "-Verbose" it will not prompt to confirm verbose.

The stake track for this is:
[code]

It looks other cmdlet also has similar behavior, like run `Add-AzAccount` in NonInteractive mode, will fail with wa

[2021-09-16 04:01] dingmeng-xue commented on #13725
Please try `-SendCertificateChain` using the latest version of Az.Accounts

[2021-09-16 06:01] dcaro commented on #15881
@yuxisun1217 this is not currently supported in Az PowerShell but we will consider it. Thanks for reporting it.

[2021-09-16 07:26] yuxisun1217 commented on #15881
OK got it. Thank you so much @dcaro!

[2021-09-16 11:53] desmphil opened #15888 "azure-powershell/src/Compute/Compute/Extension/AzureDiskEncryption/Scripts/Find_1passAdeVersion_VM.ps1"
## Description

This script is good, however the $isStoppedEncryptedVM variable is not reset between VM therefore, all VM end up being with ADE state unavailable.

Also Added the PowerState of the VM.

` $results = @{
                VMName = $vmobject.Name
                ResourceGroupName = $vmobject.ResourceGroupName
                VM_OS = $vm_OS
                ADE_Version = "VM Is Encrypted

[2021-09-16 12:34] JanneHarju commented on #15841
Coul these be related in anyway? https://github.com/Azure/azure-powershell/issues/15841
At least tehy are created at same day.

[2021-09-16 13:34] tjgalama commented on #15841
We work on Azure Devops and noticed that since this morning 9/16/2021 7:30 (UTC) we where unable to deploy any of our release-definitions. Finally we discovered this was caused by the agent running on ubuntu 20.04 - version: 202109**13.1**.
Our latest successful deployment was done with Ubuntu version 202109**06.1**.
Luckily we are able to workaround this issue by switching to _windows_ based agen

[2021-09-16 14:03] madbrenner commented on #15882
Hello @dingmeng-xue I can run this more and provide some samples of the output for the other modules, but they all follow the same pattern as the message above, so I am not sure how much that would really help.
I have used `$DebugPrefence = "Continue"` to generate the debug output above, is there another method I can use to generate more debug output? I have tried using the `-Debug` switch on the

[2021-09-16 14:46] dingmeng-xue commented on #15882
@madbrenner , I understood your question. Current message is a little general and we cannot guess the root cause of it. We will also check our code. For the time being, we only can conjecture issue according to static code analysis. Your further information will be helpful.

Please also set environment variable `Azure_PS_Intercept_Survey` as `false`. I just suspect the issue is related to that fea

[2021-09-16 15:51] jorgecotillo commented on #15785
Not sure about v6.4.0, but based on [this](https://github.com/Azure/azure-powershell/blob/main/src/Resources/Resources/ChangeLog.md#version-431) the fix should be in version 4.3.1 can you please confirm?

[2021-09-16 17:54] lpalerm commented on #13579
Following issue

[2021-09-16 18:00] teknofobia opened #15890 "User Id Intermittent Length Error"
I have a powershell script that runs on release to call into the azure api.  Since September 15 we have seen intermittent issues with the following error:

Sometimes a rerun works.  Sometimes it fails.  I am loading the latest AZ module every time the script is run, and this script has had no changes within the last few months when it was originally written and implemented into our pipeline.

The

[2021-09-16 18:09] alvarofont-cloudeq commented on #15845
hello @dingmeng-xue can you please respond to my question above?

[2021-09-16 18:49] apole commented on #11464
Thanks @bluww.

The question applies to PowerShell as well, and is related to the original question.  Is Start-AzStorageBlobIncrementalCopy  supported for Managed Disk Snapshots?  Or  as answered by @ramankumarlive,    GetManagedDiskPageRangesDiff is still the API we should be using?

[2021-09-16 19:06] apoorvaguru09 opened #15891 "Method 'get-SerializationSettings' in type 'Microsoft.Azure.Management.Internal.Resources.ResourceManagementClient'..Does not have an implementation."
## Description

Using Azure RM Module 6.13.2
Have removed AZ module.

but getting serialization error when trying any AzureRM command.

## Steps to reproduce

[code]

## Module versions

ModuleType Version Name ExportedCommands
---------- ------- ---- ----------------
Script 6.13.2 AzureRM
Script 0.6.15 AzureRM.AnalysisServices {Resume-AzureRmAnalysisServicesServer, Suspend-AzureRmAnalysisServices

[2021-09-16 22:58] jorgecotillo commented on #15785
Can you please verify that you are using Resources module 4.3.1? See changelog here: https://github.com/Azure/azure-powershell/blob/main/src/Resources/Resources/ChangeLog.md#version-431

PR #15552 should fix for both parameters and template content serialization, here's the updated code: https://github.com/Azure/azure-powershell/blob/9d6294304d655503e6556b2734c65fff11916662/src/Resources/ResourceM

[2021-09-17 04:18] dingmeng-xue commented on #15785
I close this issue now and let's open it if the issue is not fixed.

[2021-09-17 04:18] #15785 closed

[2021-09-17 04:23] dingmeng-xue commented on #15845
Sorry, alvarofont-cloudeq that I missed your question. `$DebugPreference = "Continue"` should be added before `Invoke-AzVMRunCommand`. I have no idea about workflow file you were saying. Let me know if you need further clarification.

[2021-09-17 04:25] #15429 closed

[2021-09-17 05:23] dingmeng-xue commented on #15890
Please show the debug log during `$token = (New-AzApiManagementUserToken -Context $apimContext -UserId $access.Id).UserToken` execution. I'd like to know where constraint comes from. If it is part of service response, it will be service behavior change.

[2021-09-17 05:54] dingmeng-xue commented on #15883
Thanks for reporting. I have polished your log and have couple questions.
1. Is the value of refresh_token in response of payload empty string or redacted?
2. Could you try use the same service principal on your local machine instead of ADO agent?
3. I saw it pull the tags. Is it invoked by Azure PowerShell cmdlet? If yes, please share the debug log around it.

[2021-09-17 05:55] dingmeng-xue commented on #15891
Thanks for reporting. Please try your script after restart PowerShell console.

[2021-09-17 06:40] amishra-dev commented on #15644
@blueww Wei Wei can we please close this issue if the fix has shipped?

[2021-09-17 06:41] blueww commented on #15644
Close the issue, and the fix is already released in the latest Azure powershell

[2021-09-17 06:41] #15644 closed

[2021-09-17 08:40] blueww commented on #11464
@apole

As the issue can also be repro with SDK, this is not caused by Powershell code, but a server issue.
This repo will focus on the issues that on Powershell code.  We might not be best person to answer the server questions.

Would you please open an incident on portal, to find the proper team who can better handle the issue?

[2021-09-17 14:52] SeidChr commented on #10127
does it make any difference whether you set up the uris as application or web redirect uris?

[2021-09-17 14:52] DSpirit commented on #10460
It's still not possible to create an API with an attached backend. Any news here?
Another thing that needs to be mentioned, is that the creation of a Backend with an Azure AppService Resource via Powershell is not possible, as the -ResourceId parameter doesn't accept the id but demands an URL.

```New-AzApiManagementBackend -Context $ctx -BackendId $backendId -Protocol http -Url "https://$hostName

[2021-09-17 16:32] madbrenner commented on #15882
@dingmeng-xue that seems to have resolved this issue for us, thank you for the quick follow up on this!
Is there any chance you could share more information about what this survey is, when it was introduced, and/or why it causes this odd error?

Thank you!

[2021-09-17 20:16] TonyDou opened #15898 "Get-AzApiManagementTenantGitAcces returned /tenant/gitAccess as id and also returned Primary Keys"
## Description

Get-AzApiManagementTenantGitAcces starts to return /tenant/gitAccess and primary keys in Az.ApiManagement version 2.3.0
![image](https://user-images.githubusercontent.com/5556990/133848191-b3311d4d-d9b6-4756-8931-0d4ff9054750.png)

## Steps to reproduce
1. make sure Az.ApiManagement is on 2.3.0
2. Run the following command to see the command is returning /tenant/gitAccess as id and

[2021-09-17 20:17] solankisamir commented on #15898
Previous return value was
![image](https://user-images.githubusercontent.com/6847558/133848489-cacb9f95-e54b-4ef9-8463-96dd54ecd693.png)

[2021-09-18 02:32] BethanyZhou commented on #15754
Hi @janegilring , I'm sorry we have to postpone the onboard of additional logic since this command should not just work as Send/Receive mode, it would work as an interactive way by web socket like:
[code]
So that we needs more time to do additional investigation and we will go back to you when we find a proper solution.

[2021-09-18 07:23] dingmeng-xue commented on #15882
We maintain a dictionary to record when user use the module such as Az.Storage, Az.Keyvault and so on. If user has used module couple times in one month, Azure PowerShell cmdlet will show up one message including the link survey and look forward to feedback.

We don't know the root cause yet but your feedback gives us direction. We will check the code.

[2021-09-19 06:55] razamit commented on #13379
How did you install the azure function tools into powershell 7?

[2021-09-19 07:42] ArmaanMcleod opened #15905 "Get-AzResource not including Availability zone property from REST API"
## Description

`Get-AzResource` **does not** return availability zones for `Microsoft.Network/publicIpAddresses`.

REST API and `Get-AzPublicIpAddress` **do** return zones.

I would expect `Get-AzResource` to include availability zones inside the response.

I've included the Debug output from `Get-AzResource` below, and zones are included in the API response, but not included in the response from

[2021-09-19 14:19] DiscoveringWorld commented on #13379
Hello,
Take a look in the previous post or in this documentation:

New-AzFunctionApp
https://docs.microsoft.com/en-us/powershell/module/az.functions/new-azfunctionapp?view=azps-6.4.0****

[2021-09-19 15:16] oka-bi-dave opened #15906 "Cannot execute Connect-AzAccount (in C# method) in IIS 10 Website"
Hi. I've created a Blazor Server app that needs to execute azure powershell cmdlets through a c# class, see method below..

public void ConnectAzAccount()
{

         InitialSessionState initialState = InitialSessionState.CreateDefault();
         initialState.ExecutionPolicy = Microsoft.PowerShell.ExecutionPolicy.Bypass;
         initialState.LanguageMode = PSLanguageMode.FullLanguage;
         i

[2021-09-20 01:27] dingmeng-xue commented on #15906
Hi @oka-bi-dave , thanks for raising question to us. I don't remember others reports the issue in IIS. We have no idea about the root cause.

You can compare your local environment and IIS environment. The issue may be narrowed down.
* Message "operation was cancelled" is vague. Please check which line it is hanging and cancelled at. If it is due to `Connect-AzAccount` execution, you can try other

[2021-09-20 07:35] Gill-Bates opened #15907 "Missing Parameter "ResourceId" for the cmdlet "Set-AzNetworkInterface""
Missing painfully the Parameter `-ResourceId` for the cmdlet `Set-AzNetworkInterface`

[2021-09-20 12:30] thgossler commented on #10854
I have got the same problem, the command Get-AzRoleAssignment is very instable.

The attached log

[Get-AzRoleAssignment-DebugOutput.txt](https://github.com/Azure/azure-powershell/files/7195669/Get-AzRoleAssignment-DebugOutput.txt)

shows that it seems to call REST API twice (2020-04-01-preview and 2018-01-01-preview) and also gets a lot of role information which is not wanted and causes a lot of

[2021-09-20 13:52] Jerry4013 opened #15908 "Install-Module error"
## Description
I tried to run "Install-Module -Name Az", but got the error below:
"Install-Module: The term 'Install-Module' is not recognized as a name of a cmdlet, function, script file, or executable program."
I upgrade my powershell to 7.1.4, but still could not get the "Install-Module".
I searched a lot on google, most people mentioned "Windows Management Framework 5.1", but I could not find

[2021-09-20 14:23] dingmeng-xue commented on #10854
@thgossler , thanks for the information. Could you help create a new Github issue? I definitely can create new one just copying your description. But we have a Github bot to label "customer-reported" when reporter is from external and the issue will get high priority from service team.

[2021-09-20 14:54] dingmeng-xue commented on #15908
Thanks for contacting us. `Install-Module` comes from `PowerShellGet` module. Please reference https://docs.microsoft.com/en-us/powershell/scripting/gallery/installing-psget?view=powershell-7.1

`PowerShellGet` belongs to https://github.com/PowerShell/PowerShellGet. If you have further question, please contact the developers of that repo.

[2021-09-20 15:17] Jerry4013 commented on #15908
Thanks for your reply! I tried to install PowerShellGet, but got some other errors. I will submit an issue in that repo, though. Thanks a lot!

[2021-09-20 15:24] lilpug opened #15909 ""Import-AzWebAppKeyVaultCertificate\az webapp config ssl import" issue PUT request"
Hi,

This will be a bit of an odd one with some question asking, so I do apologies in advance.

I have been running into an interesting issue and I might need a bit of guidance on it.

For a bit of background context, my assumption was that when uploading a private certificate into an azure web app, its linked via the resource group, not the subscription, which is why a lot of the azure cli comman

[2021-09-20 15:26] teknofobia commented on #15890
I tried adding debug statements for you, but it causes another error.

[2021-09-20 16:14] Jaykul opened #15911 "LocalizableStrings need a ToString override"
## Description of the new feature

Please ensure the LocalizableString shows up as a string when it's a property of the output (e.g. from Get-AzLog)

## Proposed implementation details (optional)

Obviously you should do this in a Types xml file, but here's the PowerShell equivalent which works:

[code]

[2021-09-20 16:24] lilpug commented on #15909
for some extra information, if I try and bypass this by checking if it was a 409 and attempt to the use thumbprint of the certificate it says already exists on the import, I then get the exception "Certificate for thumbprint *** not found.". It feels like there's no winning on this one, I can't even bypass the issue while its being fixed because all the checks are at the wrong level compared to th

[2021-09-20 18:37] Francisco-Gamino commented on #13379
Hello @razamit -- Here are the steps:

1) Install PowerShell 7 Core. When I am developing PowerShell Functions, I'd like to use the same version used the Azure Functions backend on my client tooling. In this case, install: https://github.com/PowerShell/PowerShell/releases/tag/v7.0.7. From this link, you can use the MSI installer.

2) Next, start PowerShell 7 elevated and run:
`Install-Module -Name

[2021-09-20 21:01] bwarren18 opened #15913 "Get-AzLocation returns Internal Server Error"
## Description

Get-AzLocation returns
StatusCode: 500
ReasonPhrase: Internal Server Error

## Steps to reproduce

[code]

## Environment data

[code]

## Module versions

[code]

## Debug output

[code]

## Error output

Resolve-AzError
DEBUG: 4:56:37 PM - ResolveError begin processing with ParameterSet 'AnyErrorParameterSet'.
DEBUG: 4:56:37 PM - using account id 'xxx'...
WARNING: Upcoming breaki

[2021-09-21 00:14] ltkvien commented on #15848
Me, too! I have the same issue and the error message is: **New-AzWebAppSSLBinding : Operation returned an invalid status code 'NotFound'** .

[2021-09-21 08:02] gijomathew7 opened #15915 "Get-AzNetworkServiceTag doesn't return any results"
## Description

Get-AzNetworkServiceTag doesn't return any results.
Expected result is similar to https://docs.microsoft.com/en-us/powershell/module/az.network/get-aznetworkservicetag?view=azps-6.4.0#examples

## Steps to reproduce

[code]

## Environment data

[code]

## Module versions

[code]

## Debug output

[code]

## Error output

[code]

[2021-09-21 08:09] thgossler commented on #10854
Thanks for the information. I will do this.

Am 20.09.2021 um 16:23 schrieb Dingmeng Xue ***@***.***>:

﻿

@thgossler<https://eur04.safelinks.protection.outlook.com/?url=https%3A%2F%2Fgithub.com%2Fthgossler&data=04%7C01%7Cthomas.gossler%40siemens-healthineers.com%7Cc65981de5849446d23e108d97c4235aa%7C5dbf1add202a4b8d815bbf0fb024e033%7C0%7C0%7C637677446079628132%7CUnknown%7CTWFpbGZsb3d8eyJWIjoiMC4wL

[2021-09-21 09:06] lilpug commented on #15909
right i know a bit more about this due to playing about this morning, the mistake i made yesterday is that I accidentally used the same app service plan across both the resource groups and app services, so i ended up with resource group1 holding both an app service and app plan, and resource group 2 holding just another app service linked to the app plan on resource group 1. This is how it breaks

[2021-09-21 09:38] virtualvoid commented on #661
awkward, 6 years later and still nothing.

[2021-09-21 09:41] thgossler opened #15916 "Get/Remove-AzRoleAssignment is not working reliably"
See also comment on issue 10854 (https://github.com/Azure/azure-powershell/issues/10854).

I have got the same problem, the command Get-AzRoleAssignment is very instable and the same problem is occurring regularly with Remove-AzRoleAssignment. The remove command is first calling the same REST API for getting the existing role assignments as the get command. With $DebugPreference = 'Continue' I was

[2021-09-21 09:55] pvrk commented on #15812
@mwsutherland: Sincere apologies for the delay in response. Ideally, you need not specify the recovery point object again the config since the config is generated based on that input. The output seems incorrect, however. It should have shown the latest full/distinct recovery point that you have passed as input.

@hiaga : Can you please take a look here?

[2021-09-21 10:03] adityabalaji-msft commented on #14616
Thanks for the clarification. Closing this issue for now. We will take the above as a feature request and track internally

[2021-09-21 10:03] #14616 closed

[2021-09-21 12:19] lilpug commented on #15909
just to add, in the mentioned situation above, as most of the azure commands want the resource group + app service name, you have no ability to find the certificate if the app plan is in a different resource group to the app service. It feels like all the commands are looking at the wrong parameter and in fact it should potentially be looking at the app plan name etc for the commands as its bound

[2021-09-21 14:51] dingmeng-xue commented on #15911
Thanks for reporting. LocalizableString is only used by Az.Monitor. It may be due to historical reason. Changing it will introduce breaking change to all users. We will consider to update it when next Az major release.

[2021-09-21 14:54] dingmeng-xue commented on #15913
HTTP 500 indicates there is server error. Please try it later.

[2021-09-21 15:14] bwarren18 commented on #15913
It happens every time for the past day, using the Az 6.3.0 module works fine.

[2021-09-21 15:27] dingmeng-xue commented on #15913
ARM team, `/subscriptions/{}/providers?api-version=2021-04-01` doesn't work. API version 2020-10-01 works.

[2021-09-21 18:20] madbrenner commented on #15882
Thank you for the information @dingmeng-xue this resolved the issue for us, so you can feel free to close out this issue, unless you are still using it to track any work around this, thank you!

And my suggestion would be to add an extra guard around this to ensure the PowerShell session is interactive before attempting to display any survey.

[2021-09-21 21:15] Francisco-Gamino opened #15919 "Update Stacks API with the list of supported languages in Functions V4"
Update Stacks API with the list of supported languages in Functions V4 as described in here:
[Drop old language versions support in Functions v4](https://github.com/Azure/Azure-Functions/issues/1999)

[2021-09-22 00:09] dingmeng-xue commented on #15882
Hi @madbrenner , I will keep this issue open for a while because we want to check the root cause and whether other user reports the similar problem.

For survey prompt, we just show message on console and won't break any user interactive. We just worry about that user easily ignore survey message. Although we hope to hear user's feedback, usability is always the priority.

[2021-09-22 05:32] gijomathew7 commented on #15915
i tried following cmdlet without the region .It also doesnt return any results
`Get-AzNetworkServiceTag -Location eastus2`

Logs
`021-09-22T05:07:17.1900068Z ##[command] Set-AzContext -SubscriptionId 997a2653-85fc-4c11-b1e8-4e01d9a46f6c -TenantId ***
2021-09-22T05:07:23.9326498Z
2021-09-22T05:07:23.9340809Z
2021-09-22T05:07:23.9468859Z Name         :
2021-09-22T05:07:23.9470334Z Id           :
202

[2021-09-22 06:17] kevinharing commented on #15841
Using the `-TemplateParameterObject` parameter is a good workaround for this issue.

Instead of:
[code]

Use:
[code]

[2021-09-22 06:35] rshnkmr10 commented on #10995
This is still an issue? >1 year closed and I am still receiving the error:
[code]

Command I used:
[code]

[2021-09-22 11:29] mann-david commented on #15117
I'm still getting this in September 2021.

[code]

UI Result:
![image](https://user-images.githubusercontent.com/39203354/134335520-0ccf46ff-1585-47af-a073-eafb4ce4c7ad.png)

Size of new VMs:
![image](https://user-images.githubusercontent.com/39203354/134335729-6f5d8546-d2e4-4231-a097-0bce7528d212.png)

[2021-09-22 16:07] RobertGullick commented on #10429
I had the same issue. I had to modify the Azs.Syndication.Admin.psd1 file and change the RequiredVersion of Az.Resources to the latest version that I am using (3.2)

RequiredModules = @(@{ ModuleName = 'Az.Accounts'; ModuleVersion = '2.2.8' }, @{ ModuleName = 'Az.Resources'; RequiredVersion = '**3.2.0**' })

[2021-09-22 16:49] madbrenner commented on #15882
Hello @dingmeng-xue that makes sense - my recommendation would be to only prompt for the survey if the PowerShell session is interactive. In our case our scripts are running in a non-interactive session, which I suspect could be the reason it was breaking things for us. I am not certain of the best way to check for that, but if you update the logic guard from:
[code]
to something like:
[code]
we w

[2021-09-22 16:53] madbrenner commented on #15882
FYI I also see a minor error in the 0.4.0 version of the survey script:
[code]

[2021-09-22 17:24] RobertGullick commented on #10429
Also, you need a subscription that has an Azure Stack connection.

[2021-09-22 21:36] allegradomel commented on #15915
@gijomathew7 thanks for the feedback - are you authenticated and do you have read permissions for the subscription you're using?

[2021-09-23 02:55] dingmeng-xue commented on #15908
Thanks for the information. I'm closing now.

If you have any question to Azure PowerShell, please let us know.

[2021-09-23 02:55] #15908 closed

[2021-09-23 04:54] Yuiheart opened #15931 "Error in creating LinkedService via PowerShell"
Hello Team!
I've encountered a problem when creating LinkedService via PowerShell. It will automatically change the 'type' of LinkedService from "AzureDataLakeStoreCosmosStructuredStream" to "LinkedService", and reports an error says "Invalid type 'LinkedService' is provided in 'linkedServices'.". This really confuses me a lot.

This is the error reported:
![image](https://user-images.githubuserco

[2021-09-23 08:13] dingmeng-xue commented on #15863
Hi owner of Microsoft.Insights/metrics, do you have any insight about when service returns empty data?

[2021-09-23 08:23] KorKiak commented on #15841
We also had similar issue but with Bicep deployment. We didn't change anything in our pipeline YAML files or Bicep files but the pipeline just started to fail. We were using Linux 20.04 Hosted-agent, Azure PS task 5.185.0 with Az 6.1.0.

Updating the az version to 6.3.0 did solve the issue like the others have mentioned.

In our case when we run our pipeline the command just return an error messag

[2021-09-23 08:26] dingmeng-xue commented on #15839
Hi @Gill-Bates , I didn't find any doc about approach leveraging `Get-AzMetric`. Could you check below cmdlet?

[code]

[2021-09-23 08:48] SvenSowa opened #15936 "Get-AzSubscription always gets all subscriptions even with SubscriptionId parameter and then filters"
## Description of the new feature
If the parameter "SubscriptionId" is specified, the commandlet should use the REST call dedicated to that instead of retrieving all subscriptions and filtering internally. If a tenant has a lot of subscriptions, and the user calling even has access to several tenants, the commandlet can time out frequently. You can verify the slow behavior with the "debug" paramet

[2021-09-23 11:16] brettmillerb commented on #15841
Is there a specific resolution to this?

I am not able to move to using the `-TemplateParameterObject` easily as I have this running in automation in 4 different Azure tenants so it would mean updating and deploying the automation to all tenants in pre-production and production environments.

I have my Azure function pinned to `2.*` version of `Az.Resources` so I am not sure how this has even impa

[2021-09-23 12:00] shawnxzq commented on #15931
@Yuiheart AzureDataLakeStoreCosmosStructuredStream is not supported connector in SDK/PS, could you please share how do you know this? Thanks!

[2021-09-23 12:02] shawnxzq commented on #14984
Issue fixed.

[2021-09-23 12:02] #14984 closed

[2021-09-23 12:04] shawnxzq commented on #15478
Issue fixed.

[2021-09-23 12:04] #15478 closed

[2021-09-23 12:07] shawnxzq commented on #15705
Still working on this to fix it, please don't parameterize it before that, thanks!

[2021-09-23 12:09] shawnxzq commented on #15685
Working on adding it in swagger, thanks for your patience on this.

[2021-09-23 12:24] tmmjelde commented on #10090
Most commands provide an error output when you try to look for something but don't succeed in finding it.
Not generating an error is the same as taking your car to the mechanic to fix the breaks.
He can't fix it but he doesn't tell you that. Because it's expected behavior that he can't fix it?
It's up to you to test them to try and figure it out.
Do you not agree that it's better to know if someth

[2021-09-23 12:44] CharlesAbetz commented on #15478
Hi Ross

They seemed to have fixed this issue.

Kind regards
Charles

On Thu, 23 Sep 2021, 10:05 pm shawnxzq, ***@***.***> wrote:

[2021-09-23 13:28] mhofmeester commented on #15705
Alright, great to hear a fix is being made! For now we will use key authentication for which the endpoint can be parameterized. Once it's fixed we'll be able to switch to managed identities and use this module.

[2021-09-23 14:10] Yuiheart commented on #15931
@shawnxzq I copied it from a LinkedService which is referenced by many datasets in ADF.
Could you please offer a solution if the type is not supported in PowerShell? The related tasks are all blocked now. Thanks!

[2021-09-23 14:51] jaylabell commented on #15888
@amjads1 Can you please take a look at this issue?

[2021-09-23 15:49] kwill-MSFT opened #15938 "ManagementGroup cmdlets do not pass InnerException back to caller"
## Description of the new feature

All other Az Powershell cmdlets return the details of the REST API response in the error's InnerException property whenever an error is encountered.  This makes it possible to do things such as:
[code]

But for the Management Group cmdlets such as New-AzManagementGroupSubscription, only the error message is returned to the caller so it isn't possible to query for

[2021-09-23 19:17] madbrenner opened #15940 "New IOException (file conflict) after upgrading to Az 6.4.0"
## Description
We use PowerShell and the Az module to deploy our services to Azure, running off a docker image via Azure Container Instances. We recently tried updating our image to use Az version 6.4.0, but when we do we see a new error when running `New-AzResourceGroupDeployment`: `The process cannot access the file '***/template.json' because it is being used by another process.`
Now we do have

[2021-09-23 19:39] avirishuv commented on #15566
hi @DSakura207 please let us know if there are any additional questions after the comment above, or are we good to close this issue?

[2021-09-23 22:36] koralski commented on #15704
https://github.com/Azure/azure-powershell/blob/main/src/Compute/Compute/help/Invoke-AzVMRunCommand.md
Powershell doc needs to add:
-ScriptPath
Path of the script to be executed. When this value is given, the given script will override the default script of the command.
Path should point to a file from a local file system. The command will load it and send it for execution.

-Parameter
Specify para

[2021-09-24 05:55] #14790 closed

[2021-09-24 05:58] gijomathew7 commented on #15915
Yes. i am executing the above cmdlet using azure powershell task in azure devops pipelines. The connection to given subscription is established using an already existing service connection. This service connection is scoped to single a resource group within the subscription. I have read & write permissions to resources in the above resource group of subscription.

[2021-09-24 06:33] amjads1 commented on #15888
Looking into the issue.

[2021-09-24 06:33] Gill-Bates opened #15942 "Missing Search-Parameter "-Id" for Get-AzVM"
Regarding to the [Docs](https://docs.microsoft.com/en-us/powershell/module/az.compute/get-azvm?view=azps-6.4.0), the cmdlet `Get-AzVM` does not support the Parameter `-Id`.

Instead, I must use the inconvient way like

`Get-AzVM -ResourceGroupName foo -Name bar`

Supporting this Parameter would be very helpful.

[2021-09-24 08:35] Yuiheart opened #15943 "Error in creating Dataset in ADF via PowerShell"
## Description
I copied the json file of a dataset in ADF, and created a dataset in a test ADF using this json file via PowerShell.
The hint of the Command 'Set-AzDataFactoryV2Dataset' indicates successful creation, but when I navigate to the ADF portal it reports an error.
Could you please help find out the root cause? Thanks a lot!

## Command parameters
This is the Command executed.
[code]

Thi

[2021-09-24 09:01] shawnxzq commented on #15931
@Yuiheart, the AzureDataLakeStoreCosmosStructuredStream connector is feature for private whitelist customer only, it has limitations and no SDK/PS support.

You can try generic azure resource PS cmdlets to workaround, below is the example to create resource.
https://docs.microsoft.com/en-us/powershell/module/az.resources/new-azresource?view=azps-6.4.0

[2021-09-24 09:34] Yuiheart commented on #15931
@shawnxzq Thanks for you advice!
By the way, does the type 'Azure Data Lake Storage Gen1 for Cosmos Structured Stream' for Dataset support SDK/PS? I also encountered error when creating Dataset of this type.

[2021-09-24 13:11] jikuja commented on #13573
How this is still not fixed or properly documented.

The impact of the problem is huge and causes issues with DevOps pipelines, automation, and probably with ARM deployment scripts.

--------

One more workaround. Provide a set of arguments that avoids calling Graph APIs. E.g.:

[code]

To use `-RoleDefinitionId` you must use also `-scope`. Using `-ObjectType` might be the final missing piece. Thi

[2021-09-24 15:05] DarrenTyrrell opened #15946 "--aux-tenants parameter for New-AzResourceGroupDeployment"
Feature request: --aux-tenant parameter for New-AzResourceGroupDeployment

Azure CLI _az deployment group create_ supports the parameter --aux-tenants to deploy resources across tenants.

See https://docs.microsoft.com/en-us/cli/azure/deployment/group?view=azure-cli-latest#az_deployment_group_create-optional-parameters

This is important for users attempting to deploy reources such as VNET peering

[2021-09-24 16:02] dcaro opened #15947 "Support workspace-based App Insights"
## Description
Support workspace-based App Insights as described in this article: https://docs.microsoft.com/en-us/azure/azure-monitor/app/create-workspace-resource

## Cost

[2021-09-24 16:39] MietekW commented on #15876
I can confirm, also ran in this issue, tag: DeploymentID became : deploymentID

[2021-09-24 17:10] jonarmstrong commented on #13868
Having this feature would be very helpful for me as well. I'm currently running into an issue where the `New-AzResourceGroupDeployment` command fails on a single deployment of mine. The template is quite extensive and it takes the validation steps ~2 minutes to run, which exceeds the connection timeout, so the resource group deployment never goes into submission. I've verified in the Azure Activit

[2021-09-24 23:56] joellopes03 commented on #15883
1. ["refresh_token": "<redacted>"] This is what i see in logs
2. It works when i invoke it by my login but authentication using service principal
3. attached is all debug logs i get from commandline. Below is script i am using
[code]

[2021-09-25 06:56] hannwang1 commented on #13573
any update from the owner team of New-AzRoleAssignment, Get-AzRoleAssignment Cmdlet about fixing this issue? This is blocking our release pipeline.  Our release SPN cannot get graph directory.Read.All.  It is not allowed by our group security rule.

[2021-09-25 08:01] hannwang1 commented on #13573
@jformacek, the  `Directory.Read.All` permission you added is Legacy 'Azure Active Directory Graph', right?  In my org, it is disabled.  I cannot even select it.  So I am totally blocked with no workaround.

![image](https://user-images.githubusercontent.com/44303608/134764039-4095506b-c7d0-404a-96a8-09421d3f15ac.png)

[2021-09-25 08:01] #15800 closed

[2021-09-25 08:04] hannwang1 commented on #13573
I also tried @jikuja workaround, provided all parameters, not working for me either.

[2021-09-25 08:15] jikuja commented on #13573
I did a new workaround: a function that calls `Invoke-AzRestMethod` directly for use cases when are required information are known by the caller. The first workaround I offered did not work because Cmdlet has bug(s) that causes following: AD graph API is queried even all the required information is given by the user.

https://docs.microsoft.com/en-us/azure/role-based-access-control/role-assignment

[2021-09-25 08:22] hannwang1 commented on #13573
@jikuja I will try call API.  the cmdlet New-AzRoleAssignment, Get-AzRoleAssignment do not work for me.
I cannot add Microsoft. Graph Directory.read.all permission for my DevOps SPN.  It is not allowed by my org security rule.

[2021-09-25 13:02] dingmeng-xue commented on #15936
Thanks for reporting. We can reproduce it too and will evaluate it.

[2021-09-26 21:52] mail-lwang commented on #3215
Any update on this issue?  Now that the "Azure Active Directory Graph" IS DEPRICATED, I cannot use it any more!

[2021-09-27 00:40] yangchengs opened #15955 "Search-AzGraph -First maximum value"
Run command:
Search-AzGraph -Query "where type =~'Microsoft.compute/virtualmachines'" -First 5000

Search-AzGraph: Cannot validate argument on parameter 'First'. The 5000 argument is greater than the maximum allowed range of 1000. Supply an argument that is less than or equal to 1000 and then try the command again.

This seems a document issue, we might need to correct the number 5000 in the docum

[2021-09-27 05:54] dingmeng-xue commented on #15955
The doc doesn't belong to Azure PowerShell team. I have created the issue to azure-docs.

Close this issue now

[2021-09-27 05:54] #15955 closed

[2021-09-27 06:07] dingmeng-xue commented on #15883
I repeat your step but my service principal can connect container registry.

Please check the permission of your SP. Please follow this doc https://docs.microsoft.com/en-us/azure/container-registry/container-registry-roles?tabs=azure-cli and ensure your SP has sufficient permission.

[2021-09-27 06:35] dingmeng-xue commented on #15456
Hi @ohadschn ,

We hope to evaluate the benefit of making it configurable. The folder has been introduced for couple years and changing it requires lots of efforts. For the time being, it sounds this configuration allows user to work with multiple accounts/clouds at the same time. Is it the common case? I believe user may use incorrect `AZ_CONFIG_DIR` easily.

[2021-09-27 06:36] dingmeng-xue commented on #14632
For the time being, the test frame doesn't support AADGraph or MSGraph. We need to evaluate it.

[2021-09-27 08:01] #15813 closed

[2021-09-27 09:14] dingmeng-xue commented on #15619
Discussed in email. The URL is not supported by Azure PowerShell yet.

Close this issue now.

[2021-09-27 11:19] shawnxzq commented on #15931
@Yuiheart, You will see the same issue for Cosmos Structured Stream dataset, it is not supported by SDK/PS for the same reason, you need to use the generic azure resource PS cmdlets to workaround.

BTW, I am going to close this issue as we already explained the details.

[2021-09-27 11:19] #15931 closed

[2021-09-27 11:21] Yuiheart commented on #15943
Already resolved by @shawnxzq

[2021-09-27 11:21] #15943 closed

[2021-09-27 11:21] shawnxzq commented on #15943
@Yuiheart As we explained in the issue https://github.com/Azure/azure-powershell/issues/15931, the dataset with type "AzureDataLakeStoreCosmosStructuredStreamFile" is not supported in SDK/PS, you can use azure generic resource PS cmdlets as a workaroud.

[2021-09-27 13:59] dingmeng-xue commented on #15831
Cmdlet has attribute `[CmdletBinding(SupportsShouldProcess=$true)]`. `-Force`, `-WhatIf` and `-Confirm` are added due to [SupportsShouldProcess](https://docs.microsoft.com/en-us/powershell/module/microsoft.powershell.core/about/about_functions_cmdletbindingattribute?view=powershell-7.1#supportsshouldprocess).

Adding `-Confirm` will show additional prompt `Are you sure you want to perform this act

[2021-09-27 15:42] ojintoad opened #15958 "Provide more reference material (cmdlet, documentation) on MaxSizeBytes property"
## Description of the new feature

AFAICT there is no clear algorithm that indicates what values are allow for MaxSizeBytes on most Az.Sql single database manipulating commandlets or AzureRM apis.

In reviewing:

https://docs.microsoft.com/en-us/sql/t-sql/statements/create-database-transact-sql?view=azuresqldb-current&preserve-view=true&tabs=sqlpool

and

https://docs.microsoft.com/en-us/rest/api/

[2021-09-27 17:02] ojintoad commented on #15958
I think this may be as simple as documenting that all values are done in GB and using powershell values works so long as you use GBs or MBs. TB doesn't seem to.

[code]

1342177280000 is a correct value for the api.

There might be more guidance needed than that, but that seems to work for me currently.

[2021-09-27 20:25] mwsutherland opened #15959 "Restore-AzRecoveryServicesBackupItem is inconsistent in whether it succeeds or fails"
## Description

Sometimes Restore-AzRecoveryServicesBackupItem fails for no obvious reason. I've had the same database sometimes fail and sometimes succeed. My intended use case has me trying to restore two databases. The first fails and the second succeeds. If I swap the order, the new first fails and the new second succeeds. In testing with a single database, I find that it will consistently eit

[2021-09-27 20:49] mwsutherland commented on #15959
Since I was still in a state where things were failing, I made a change to the code to subtract an hour from the last Restore Point time (the log backups are every 4 hours) and it worked. Trying again with the unmodified timestamp failed. Trying a 3rd time with the timestamp reduced by 5 minutes also worked.

So, I think I've found something here. Maybe the consistent failures of the 1st of a pair

[2021-09-27 21:06] mwsutherland commented on #15959
I just looked at the LastRecoveryPoint of my failed run. It was an even second. If point in time is measured in fractions of a second and that is being rounded to the nearest second for the LastRecoveryPoint field, half of the time that value is going to be invalid.

[2021-09-27 22:43] mwsutherland commented on #15959
I let my two-database restore script run tonight with a 5 minute reduction applied to LastRecoveryPoint. The first succeeded and the 2nd failed, which is the opposite of the previous attempts. So, I guess that kills any thought that the order matters and puts a significant hurt on my theory that the problem is rounding of LastRecoveryPoint.

[2021-09-28 00:14] Drewm3 commented on #15942
@Gill-Bates, we will take a look at this and see if it can be enabled in a future release. Previously we were tracking these requests through a UserVoice system, but we have taken that down. So, I am going to leave this open here until we determine if the request can be accommodated.

[2021-09-28 00:32] amarkwong commented on #15754
Hi @BethanyZhou, could you please share how can we implementing the WebSocketUri and password to get the result? Looks like the Invoke-AzContainerInstanceCommand didn't executed any command on the container?

For example, to create a test file, we ran this line on azure cloud shell
`Invoke-AzContainerInstanceCommand -ContainerGroupName alpine -ContainerName alpine -ResourceGroupName MeterData -Com

[2021-09-28 06:12] dingmeng-xue commented on #15831
HI @benrobot,

I believe there is no official doc because the behavior depends cmdlet implementation. You can try below example code. It's a typical logic and simplified code of Azure PowerShell cmdlet. You need to name it as foo.psm1 and then import it as module.
[code]

But we cannot confirm the implementation of all cmdlets of Azure PowerShell following the same approach. It's not easy to track

[2021-09-28 06:48] DiSae commented on #4365
I created a role in subscription A.
This subscription is one out of many subscriptions I have access to in a single tenant.
When I run the below code, I can't find the custom role I created in subscription A.
`
$null = Connect-AzAccount -TenantId $tenantId
$newRoleFound = Get-AzRoleDefinition -Name $newRoleName -Scope "/"
`
The values for the variables are defined in a param() section.

When I wan

[2021-09-28 07:48] adityabalaji-msft commented on #12641
The fix is now available in 2021-07-01 version.

[2021-09-28 07:49] adityabalaji-msft commented on #12641
Closing this issue. Feel free to reopen in case you are still facing issues with the fix

[2021-09-28 07:49] #12641 closed

[2021-09-28 08:01] #15793 closed

[2021-09-28 08:01] #15086 closed

[2021-09-28 08:31] chwilfing commented on #8659
Is this issue still not fixed? I'm desperatly trying to create a powershell script which is basically missing the connections and will not work without.

[2021-09-28 09:03] nubgamerz opened #15965 "Get-AzResource does not show managed OS disks"
Hello

While in the process of having to programmatically remove specific resources, I've found that contrary to this page here:
https://docs.microsoft.com/en-us/powershell/module/az.resources/get-azresource?view=azps-6.4.0

Disks do not show up in the Get-AzResource cmd-let.

When digging further, I went to https://resources.azure.com - and the disks are not listed under the resource group either

[2021-09-28 10:12] stefanpetter opened #15966 "Adding -Kind as Optional Parameter to New-AzDataCollectionRule"
## Description of the new feature
Currently is is not possible to set the Platform Type of a Data Collection Rule. I tried to find what impact this has on rule itself, but could not find it. Looking into the REST API version (https://docs.microsoft.com/en-us/rest/api/monitor/data-collection-rules/create), it would make sense to add the parameter -Kind.

## Proposed implementation details (optional

[2021-09-28 10:15] stefanpetter commented on #15966
I can imagine that the Kind of the Data Collection rule is important to determine what extension will be used for the VM to collect the data. Can this be confirmed/debunked?

[2021-09-28 10:18] nubgamerz commented on #15965
Just as an update to this, running through Azure DevOps (Azure Powershell v 4.185) the Get-AzResource works for disks.

[2021-09-28 10:52] dingmeng-xue commented on #15965
Thanks. If you still have the problem, please share the version of Az.Storage used in local and Devops Azure PowerShell v 4.185.

[2021-09-28 11:09] dingmeng-xue commented on #15966
This feature requires to upgrade SDK to the latest version https://www.nuget.org/packages/Microsoft.Azure.Management.Monitor/0.25.4-preview which consumes API version 2021-04-01.  `Kind` is supported.

[2021-09-28 11:10] nubgamerz commented on #15965
The Azure DevOps is using Microsoft Managed Agent, so it's the latest version.

As for locally: Az.Storage 3.11.0

Keep in mind though, this hasn't anything to do with storage, as the resource provider for OS disks is Microsoft.Compute.

For reference, using Az.Compute 4.17.0

[2021-09-28 11:34] stefanpetter commented on #15966
@dingmeng-xue Thank you for the reply. The -Kind option, however, is also available in the 2019-11-01-preview API version. And this feature request was not for the SDK, but for the Az Powershell commands. I'm currently on the latest version of Azure.Monitor (2.7.0).

[2021-09-28 11:34] stefanpetter commented on #15966
@dingmeng-xue Thank you for the reply. The -Kind option, however, is also available in the 2019-11-01-preview API version. And this feature request was not for the SDK, but for the Az Powershell commands. I'm currently on the latest version of Azure.Monitor (2.7.0).

[2021-09-28 11:53] dingmeng-xue commented on #15966
Hi @stefanpetter , I added that comment for our developer as reference. It is also used for effort evaluation.

Az.Monitor module bases on management plane SDK. We usually check SDK availability at first before digging into it. Since SDK is ready, we will work on this feature soon after internal discussion.

[2021-09-28 11:59] stefanpetter commented on #15966
Ah okay! My Apoligies :)

[2021-09-28 12:00] dingmeng-xue commented on #15965
Sorry for typo. I was confused with `Get-Disk`. Yes, I need the version of Az.Compute.

I cannot reproduce the issue in my environment with the latest version. Do you mean the version of Az.Compute is the same in local and DevOps?

Could you share the debug log during `Get-AzDisk -Id <>`? You can turn on debug with setting `$DebugPreference = "Continue"`

[2021-09-28 15:32] mwsutherland commented on #15959
Tonight, I'm going to try a different work-around. I don't really need the latest log backup. The latest full will do. So, instead of using `$BackupItem.LatestRecoveryPoint` as the point in time, I'm going to use `(Get-AzRecoveryServicesBackupRecoveryPoint -Item $BackupItem)[0].RecoveryPointTime`.

[2021-09-28 15:47] thkn-hofa opened #15968 "PSStorageObject KeyCreationTime Query"
## Description of the new feature
Storage/Storage.Management/Models/PSStorageAccount.cs Property 'KeyCreationTime'

## Proposed implementation details (optional)
New feature is already implemented but I can't use, it was implemented in Pull Request #14741 and merged into master half a year ago but I can't use it from the latest version on powershell gallery yet (property just not showing up). I do

[2021-09-28 20:20] teknofobia commented on #15890
We are continuing to get the error.  Not sure if your team has had a chance to look into it.

[2021-09-28 20:24] pshelton-skype opened #15970 "New-AzKeyVault fails when built-in 'Key vaults should have soft delete enabled' Azure Policy is applied with 'Deny' effect"
## Description
The `EnableSoftDelete` parameter in `New-AzKeyVault` was [removed as of Azure PowerShell 5.0](https://docs.microsoft.com/en-us/powershell/azure/release-notes-azureps?view=azps-6.4.0#500---october-2020) (Oct 2020) with the intention that soft delete would be enabled by default for all new Key Vaults.

Thus, it should be safe to apply an Azure Policy that rejects any ARM operations th

[2021-09-28 21:36] tujamg commented on #13858
@Evogelpohl Can you please share the requestId, requestUrl so that we can investigate backend logs.

[2021-09-29 00:35] amjads1 commented on #15965
Looking into the issue.

[2021-09-29 00:40] amjads1 commented on #15965
@oriwolman Could you look into this issue?

[2021-09-29 01:19] bjosafa commented on #15526
Hi, any news?

[2021-09-29 01:52] blueww commented on #15968
@thkn-hofa

Would you please give the detail script and output to repro the issue (hide credential)?
For the PSH cmdlets, please add "-debug"  to show the debug log.

In my test, if the account is created long ago, the key creation time might won't be return from server.
For a new create account, I can see the key creation time.
Or if the account key is renewed recently, I can also see the key cre

[2021-09-29 04:04] nidiculageorge opened #15976 "Azure CLI not loading properly ( Unable to run az commands)"
Hi Team,

When loading the Azure Cloudshell from browser i am getting the below error while loading

_**Import-Module: /opt/microsoft/powershell/7/profile.ps1:13
Line |
13 | Microsoft.PowerShell.Core\Import-Module -Name PSCloudShellUtility
| ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
| This module requires Az.Accounts version 2.5.1. An earlier version of Az.Accounts is impor

[2021-09-29 05:17] tujamg commented on #12561
I shared the information on this issue with our on-calls they will look into it and update the thread. stay tuned.

[2021-09-29 05:59] adityabalaji-msft commented on #15769
Closing this issue as it is by design. We will add the above as a backlog item to see if we can improve the experience and track it for future semesters

[2021-09-29 05:59] #15769 closed

[2021-09-29 07:20] rajnegi-condeco commented on #12561
Finally able to resolve this issue. Actually, i am passing date format in ("dd-MM-yyyy") for 'BillingPeriodStartDate' and 'BillingPeriodEndDate'. The date format should be ("yyyy-MM-dd")
I don't know why it is correctly working with ("dd-MM-yyyy") format in my local machine. After using ("yyyy-MM-dd") format, It is working on both local and Azure runbook.

Debug logs really help me to find out the

[2021-09-29 07:44] pvrk commented on #15959
@mwsutherland : First of all that apologies that you have to go through all this effort to figure out the error. We should do a better job at telling you the exact error message other than just "InvalidInput". By any chance, do you have any debug of the failure where you reduced 5 mins from the latest recovery point?

Also, when you are trying to restore distinct recovery points, the parameter in

[2021-09-29 08:01] #9955 closed

[2021-09-29 08:05] pvrk commented on #15959
@mwsutherland: Also I noticed that the JSON files for the final requests are identical for both outcomes. I mean the request which was successful which was made at 18:00 GMT is also the exact request made at 19:42 GMT which failed. I am surprised since as time passes, the last recovery point should be updated. Also if the exact same request is repeated at a later time, it should succeed.

Bottom l

[2021-09-29 09:29] BethanyZhou commented on #15754
Hi @amarkwong ,

Yes, we need send password to its corresponding websocket to trigger command execution. That's why Invoke-AzContainerInstanceCommand didn't executed any command on the container.

A rough code for non-interactive command is as below:
[code]
We are planning return command execution result in `Invoke-AzContainerInstanceCommand` in the future.

[2021-09-29 09:30] jiasli opened #15979 "Installing Azure PowerShell from PowerShellGet is agonizingly slow"
There is an old issue:

- https://github.com/Azure/azure-powershell/issues/1308

However, [installing the latest `Az` module from PowerShellGet](https://docs.microsoft.com/en-us/powershell/azure/install-az-ps?view=azps-6.4.0) is still very slow:

[code]

On the other hand, [installing with MSI](https://docs.microsoft.com/en-us/powershell/azure/install-az-ps-msi?view=azps-6.4.0) is much faster.

[2021-09-29 11:32] nielsheeren commented on #14624
I have the same problem but wrote this work-around:

[code]

[2021-09-29 12:59] mwsutherland commented on #15959
@pvrk Last night's restore run turned out the same as the night before. Afterwards, I realized that it wasn't a test of what I thought because the full backup was also the most recent backup. I was thinking that a log backup would have happened in between, but I was forgetting how things were scheduled.

The script running at night to do "real" restores doesn't have debugging information turned on

[2021-09-29 13:36] mwsutherland commented on #15959
@pvrk It turns out I had `$DebugPreference='Continue'` set in the nightly job, but that part of the output wasn't being piped into the log file. Hopefully `*>` will take care of that and I'll have more output for those restore attempts tomorrow, If you have any ideas of things I can try with my test database, I can do that during the day.

[2021-09-29 13:54] sgulati-hub opened #15982 "Wrong error message for New-AzSqlServer when SqlAdministratorCredentials not supplied"
## Description
Wrong error message for New-AzSqlServer when SqlAdministratorCredentials not supplied. Error message states that "New-AzSqlServer: A parameter cannot be found that matches parameter name 'SqlAdministrationCredentials'". Please note the difference the error message asks for SqlAdministrationCredentials while the actual parameter name is SqlAdministratorCredentials.

## Steps to repro

[2021-09-29 14:15] #15982 closed

[2021-09-29 14:16] sgulati-hub commented on #15982
Error message is just misleading. However, matches with other error messages

[2021-09-29 15:41] gazpwc commented on #15789
Thanks! Looking forward to having that again in 1-2 month. 👍

[2021-09-29 19:18] jcefoli commented on #661
Microsoft just sent me a survey about how much I liked Azure Powershell module, and I provided very bad feedback solely on how this issue has been ignored for 6 years.

[2021-09-29 19:37] JohannesHoppe commented on #661
@jcefoli Do you even think they care?

[2021-09-29 20:53] Francisco-Gamino commented on #15919
Note: We need to have this available on 11/09.

[2021-09-29 20:56] oriwolman commented on #12776
Reminder on this:
@haagha  can you respond to this question: When I install the module Az.Compute and update, I still get 4.3.0. I'm not sure how I can load 4.3.1 on Powershell ISE.

@davejhahn  can you please open an issue on the Terraform side?

[2021-09-29 20:57] Francisco-Gamino commented on #15706
To update Site Config, we need to have an equivalent to `az functionapp config set`. For more info, please see https://docs.microsoft.com/en-us/cli/azure/functionapp/config?view=azure-cli-latest

[2021-09-29 22:46] mwsutherland commented on #15959
I didn't try any more experiments today, so all I have to add is the result of tonight's job run. Tonight, we got something new -- BOTH failed! This was using `$PointInTime = ($BackupItem.LatestRecoveryPoint).AddMinutes(-5)`. I don't know if it is useful with both failing, but here is the debugging around the calls to `Restore-AzRecoveryServicesBackupItem`:

[code]

and

[code]

[2021-09-29 22:55] mderriey-prospa commented on #5099
We just experienced the same issue where updating IP restrictions with `Set-AzResource` throws the "HTTP request body must not be empty." error.

Upon inspecting the payload using the `-Debug` parameter, we found the `ipAddress` property is serialised by the cmdlet as a JSON object with a `Length` property, i.e:

[code]

instead of:

[code]

The fix for us is similar to @omnoms in <https://github.

[2021-09-30 00:24] amjads1 commented on #15704
Thanks @koralski for the updates!

[2021-09-30 02:54] dingmeng-xue opened #15986 "Improve Az.Tools.Installer"
## Description of the new feature

Due to performance and footprint consideration, we release Az.Tools.Installer. Basing on the feedback of the first version of Az.Tools.Installer, we expect new features in the new version.

## Proposed implementation details (optional)

[2021-09-30 02:55] dingmeng-xue commented on #15979
Thanks for reporting. We are working on a new approach. Please reference: https://github.com/Azure/azure-powershell/issues/15986

[2021-09-30 06:03] thkn-hofa commented on #15968
I'm home sick right now but I'll be able to provide feedback on Monday.

[2021-09-30 07:11] Dauntless1121 opened #15990 "Get-AzRecoveryServicesBackupRetentionPolicyObject for MSSQL Workload type feature/command issue"
## Description
When using the Get-AzRecoveryServicesBackupRetentionPolicyObject to create a AzureVM workload policy it supports the functions listed at https://docs.microsoft.com/en-us/powershell/module/az.recoveryservices/set-azrecoveryservicesbackupprotectionpolicy?view=azps-6.4.0 such as
$BackupPolicy.ScheduleRunTimes.Clear()
$BackupPolicy.ScheduleRunTimes.Add($BackupScheduleRunTimes)
$BackupPo

[2021-09-30 08:01] #15829 closed

[2021-09-30 08:01] #9417 closed

[2021-09-30 09:36] dingmeng-xue opened #15991 "Add Environment auto completer to cmdlets of Az.Accounts"
## Description of the new feature
Below cmdlets needs auto completer for environment variable

- Connect-AzAccount [-Environment]
- Set-AzEnvironment [-Name] <System.String>
- Remove-AzEnvironment [-Name] <System.String>
- Get-AzEnvironment [[-Name] <System.String>]

## Proposed implementation details (optional)

[2021-09-30 10:00] itaibh commented on #5840
I started to encounter the same issue now, 3.5 years after it has been solved.
What does it mean to "enusure that `AzureRM.KeyVault` and `AzureRM.ServiceFabric` are using the same version of the underlying KeyVault SDK" ? Where do I see the versions used for each, and how do I change it if needed?

[2021-09-30 13:37] dingmeng-xue commented on #15976
Thanks for reporting. According to the log, it seems AzurePSDrive needs a new version of Az.Accounts than the version imported. You can get the current imported version of Az.Accounts via `Get-Module Az.Accounts`. Then import correct version of AzurePSDrive which depends on the older version of Az.Accounts .

Another approach is to install the new version of Az.Accounts to your CloudShell but [`-S

[2021-09-30 13:39] dingmeng-xue commented on #15970
Thanks for reporting. It seems a design flaw when service team asks to remove this option. We will check the thought of Keyvault team.

[2021-09-30 15:42] johncrim commented on #15841
This is a ridiculous regression - it's one thing for Microsoft to ignore new bugs and feature requests, but I would expect some test automation to prevent fundamental breaking defects like this from being released. Especially in the "latest installed version" on Azure pipeline hosts.

I've seen issues like this many times in the ARM + Azure Powershell area, causing many users to waste time and mon

[2021-09-30 19:55] grifgr10 commented on #15841
Agreed, we spent lots of hours trouble shooting this on our end while working on some new items... worked a week ago and then broke, so we thought it was something we did...   Appears still no fix other than forcing version.  We went to 6.3.0 for project we are working on and currently still working.  But have lots of other pipelines we will have to update if this is not resolved.

[2021-10-01 00:13] thucnguyen77 opened #15995 "Get-AzWebApp not returned SiteConfig.AutoHealRules.Triggers.StatusCodesRange"
## Description
Given an App Service with Auto-Heal feature configured as below
[code]

When using Get-AzWebApp in combination with ConvertTo-Json, the property `SiteConfig.AutoHealRules.Triggers.StatusCodesRange` is missing in the output JSON.

## Steps to reproduce
1. On Azure Portal, verify that the Auto-Heal settings are correct as below.
![image](https://user-images.githubusercontent.com/34237

[2021-10-01 02:11] pvrk commented on #15959
@mwsutherland : Thanks for the debug information. We will start an internal investigation with this. Also will tackle both issues separately and provide clarity on entire restore process for SQL using Powershell. Thanks.

[2021-10-01 02:33] pvrk commented on #15959
@mwsutherland : Meanwhile can you check with ```Get-AzRecoveryServicesBackupRecoveryLogChain``` command and see if $BackupItem.LatestRecoveryPoint is within the range of the valid log chain?

[2021-10-01 03:25] adityabalaji-msft commented on #15990
@Dauntless1121 - thanks for reaching out. Given that different Azure Backup workloads support different types of policy capabilities, there would be some difference in the policy object schemas for different workload types. For SQL workload, given that it supports full, differential and log backup, I believe you would need to run something like $SchPol.FullBackupPolicySchedule.ScheduleRunTimes,cle

[2021-10-01 03:37] Dauntless1121 commented on #15990
Thank you

Yeah I wasted quite a few hours initially assuming I was doing something wrong as the demo code worked perfectly. I'll give your example a go as well in the meantime but updating the documentation would probably save others from my mistake  👍

[2021-10-01 06:20] gavhooper opened #15996 "DestinationPortBehavior in New-AzNetworkWatcherConnectionMonitorProtocolConfigurationObject not working with powershell"
## Description

Unable to set or get the DestinationPortBehavior property using PowerShell. Below you can see the output with powershell after enabling this setting in the portal, both commands pointing at the same Test Group,

Using the below to set the property gives no error but doesn't enable the property
[code]

After enabling in the portal the below shows different outputs

## Steps to repro

[2021-10-01 06:58] JimmyHjelte commented on #15818
For anyone else with similar issues.
We ended up replacing the cmdlet and instead we download the official "Azure IP Ranges and Service Tags – Public Cloud"  and parse out the service tags we need.

`$uri = "https://www.microsoft.com/en-us/download/confirmation.aspx?id=56519"

$response = Invoke-WebRequest -Uri $uri
$jsonUri = ($response.Links | Where-Object {$_.href -match 'ServiceTags_Public_'})