[2022-02-25 17:32] dcaro opened #17270 "[Doc]: Add example for using `-expand` parameters in Get-AzVMRunCommand"
### Description

It is unclear how the `-expand` parameter for the [`Get-AzVMRunCommand`](https://docs.microsoft.com/en-us/powershell/module/az.compute/get-azvmruncommand?view=azps-7.2.0) shall be used.

We should add one example how to use this parameter and improve parameter description.

[2022-02-25 19:04] nathan-given-health-catalyst commented on #17183
Thank you!

I ended up removing the `-StartTime` and set the `-ExpiryTime` to be 2 days from now and now it works without issue!

[2022-02-25 19:05] nathan-given-health-catalyst commented on #17183
I _think_ this can be closed?

[2022-02-25 19:49] ivanrvf commented on #11377
@navba-MSFT well, this command seems to be restrictive to current context. There are times when we quickly want to check if resource group exist in another context to decide whether to skip or continue further in a powershell script.
It would be good if we could add another parameter for subscription or tenant to skim for this resource group in another context.

[2022-02-25 22:33] alexandair commented on #14117
@navba-MSFT I don't understand what is expected from me. The current version of this cmdlet **still doesn't** output the MachineName property. That property should be part of the default output, so that a user can see the name of the machine where the extensions are installed on.

[2022-02-25 23:53] fowl2 opened #17271 "[Feature]: Add-VHD - AutoShrink / Resize / Size Parameter"
### Description of the new feature

#15994 added automatic resizing of VHDs to meet allignment requirements, it would be great if there was a parameter that could influence the resulting size.

eg.

`-AutoShrink [:$false]` Resizes the new VHD to the _MinimumSize_.
`-NewSize [$bytes]` Specifices the size of the destination VHD. Will be rounded up to meet allignment requirements. If it the rounded s

[2022-02-26 03:47] fgarcia-cnb commented on #11895
im seeing this in the azure cloud shell which is using poershell module Az v2.7.0. Siteconfig is incomplete when querying without "-Name"

[2022-02-26 23:27] panchagnula commented on #17184
@Xingyixzhang / @navba-MSFT making an argument required from optional is a breaking change since currently this command can be run on Sub level, RG level or app level. @navba-MSFT we should close since this is not possible for now.

[2022-02-27 00:39] rcarde opened #17273 "New-AzImageBuilderTemplate needs to support vmProfile.userAssignedIdentity"
### Description of the new feature

The ImageBuilder API version 2021-10-01 and newer supports adding a user assigned identity to the build VM itself to allow access to resources in the same tenant.

This is documented here:
https://docs.microsoft.com/en-us/azure/virtual-machines/linux/image-builder-json#user-assigned-identity-for-the-image-builder-build-vm

### Proposed implementation details (op

[2022-02-27 02:54] fowl2 opened #17274 "[Feature]: Add-AzVHD - Steaming VHD conversion and resize"
### Description of the new feature

Add-AzVHD will convert VHDX and VHD files to the fixed size VHD format, resizing if for alignments requirements if needed. It relies on the HyperV platform which means that:

* It only works on Windows
* It requires the HyperV feature to be installed
* It requires enough disk space for a full size copy

Ideally*, the cmdlet would use a cross platform library to

[2022-02-27 11:42] fowl2 commented on #17087
for those playing along at home, the workaround to downgrade 2.7.1 previous version is:
[code]

[2022-02-27 18:05] davidsandbrand commented on #16963
To add some details from a different perspective, this is an even more obvious problem when one set of credentials is connected to multiple tenants.  In this case, after the Connect-AzAccount command runs, it can output a large number of warning such as:

- WARNING: TenantId '[REDACTED TENANT ID]' contains more than one active subscription. First one will be selected for further use. To select ano

[2022-02-28 01:34] dingmeng-xue commented on #17273
We will evaluate and update module.

[2022-02-28 01:48] dingmeng-xue commented on #16963
@davidsandbrand , those warning message were added due to various reasons. Some Azure PowerShell user are not familiar to default behavior and it made user fault when they were unaware of what happened.

You know PowerShell is object-oriented scripting language. It's not good to make login message as output, because it will interfere with pipeline operation.

[2022-02-28 02:19] blueww commented on #17183
@nathan-given-health-catalyst
Thanks for the confirmation!
I will close this issue.

Feel free to contact us again if need any further support on Azure Powershell.

[2022-02-28 02:19] #17183 closed

[2022-02-28 02:44] Drewm3 commented on #17270
@amjads1, could you take a look at this question. Oddly enough, I am not even finding the cmdlet Get-AzVMRunCommand on my machine after updating PowerShell cmdlets. So, maybe this is old documentation that needs to be removed?

[2022-02-28 02:51] #16892 closed

[2022-02-28 02:57] #17066 closed

[2022-02-28 02:58] #16856 closed

[2022-02-28 03:01] dingmeng-xue commented on #16768
Let's update cmdlet help doc and ensure all user know the behavior. @msJinLei

[2022-02-28 03:13] SaurabhSharma-MSFT commented on #10256
@sredman Do you have any insights on this.

[2022-02-28 03:57] navba-MSFT commented on #17184
Thanks @panchagnula for your reply.

@Xingyixzhang I hope you had a chance to look at the above comment. We will now proceed with the closure as this feature would be a breaking change and not it is not possible to add now. If you have any further questions, please feel free to reopen this thread.

[2022-02-28 03:57] #17184 closed

[2022-02-28 04:23] navba-MSFT commented on #17271
@fowl2 Thanks for reaching out to us and sharing this feedback. I am looking into this and I'll and get back on this thread with an update.

[2022-02-28 05:06] Kotasudhakarreddy commented on #17253
@navba-MSFT I am looking in to it. Will update you.

[2022-02-28 06:39] navba-MSFT commented on #17271
Adding the **Service Attention** team for the _Feature Request_ ask. I see that you have created another #17274 as well. I will also be updating the Service Teams to update both the threads once they get a chance.

[2022-02-28 06:42] navba-MSFT commented on #17271
@Drewm3, @avirishuv, @Vaibhav-Agar, @amjads1 Could you please look into this and provide an update on #17271 and #17274 once you get a chance ? Awaiting your reply.

[2022-02-28 07:22] fowl2 opened #17276 "Add-AzVHD - Error with path with ampersand (&), even if properly quoted"
### Description

`Add-AzVHD` will fail at the MD5 calculation step if the path to the VHD contains an ampersand, which is a legal path character on Windows.

The problem is here:

https://github.com/Azure/azure-powershell/blob/ebc4710853f09e2e16d33ff479fd2ee9b45a8156/src/Compute/Compute/Models/PSSyncOutputEvents.cs#L108-L116

I'm not sure why it's doing this instead of just calling [WriteProgress]

[2022-02-28 07:55] Kotasudhakarreddy commented on #16816
Thanks for your feedback!. Checking on it.

[2022-02-28 08:00] HaikoHertes opened #17278 "[Feature]: Group handling for Az.Migrate"
### Description of the new feature

Hi. Currently, there is no cmdlets to manage (Get/Create/...) Assessment Groups for Azure Migrate. As the portal has some very big weaknesses, PowerShell would be a good way to overcome this. I have created some script by myself to overcome this for now by using REST Calls, but would love to have that integrated in Az.Migrate.

Requesting to have:
Get-AzMigrateA

[2022-02-28 10:57] navba-MSFT commented on #11119
@rajaprad Apologies for the late reply. Refer [this](https://docs.microsoft.com/en-us/cli/azure/notification-hub/credential?view=azure-cli-latest) article for managing the Notification HUB credentials of GCM, Baidu, APNS and MPNS. This issue is open for quite sometime, please let us know if you have any further questions. Awaiting your reply.

[2022-02-28 11:59] Kotasudhakarreddy commented on #16816
It requires a code fix. we will give the fix in our next release.

[2022-02-28 12:05] Kotasudhakarreddy commented on #16646
@dingmeng-xue Thanks for your suggestion. For now we will be introducing a `[CmdletDeprecation()]` attribute untill next breaking change release.

[2022-02-28 12:20] Kotasudhakarreddy commented on #16594
It requires a swagger change to fix this issue as few of the mandatory parameters were not made required in the swagger definition. Until we use the cmdlet refers to the updated swagger definition, please refer [here](https://github.com/Azure/azure-powershell/issues/16594#issuecomment-994241368) to unblock.

[2022-02-28 12:38] Kotasudhakarreddy commented on #14624
Property is now available in the latest SDK. Will give the fix in our next release.

[2022-02-28 12:41] Kotasudhakarreddy commented on #16325
Closing as duplicate of #14624. We will give the fix in next release **Mar 2022**

[2022-02-28 12:46] Kotasudhakarreddy commented on #15680
We have got the Latest SDK with `vnetRouteAllEnabled` property. We will enable this feature and release in coming release **Mar 2022**

[2022-02-28 12:48] Kotasudhakarreddy commented on #15680
Closing this as a duplicate for #15663.

[2022-02-28 12:48] #15680 closed

[2022-02-28 12:59] msJinLei commented on #16766
fixed in Az.Accounts 2.7.3

[2022-02-28 12:59] #16766 closed

[2022-02-28 13:21] pranavsista opened #17285 "Custom URI Option not supported"
### Description

The AZ Storage Powershell module does not seem to support passing a custom URI, similar to the functionality provided by other Azure SDK Clients like C# , Java , Javascript etc.
For eg, the data lake client constructor supports usage of client by passing passing a custom URI. This is not supported in powershell.
https://docs.microsoft.com/en-us/dotnet/api/azure.storage.files.datal

[2022-02-28 16:27] Drewm3 commented on #17274
We will consider this feature request for a future PowerShell update after talking with existing customers of this cmdlet and determining the likely additional customers that would start using this cmdlet with the proposed changes.

[2022-02-28 17:24] bwarren18 commented on #16908
I was able to reproduce the same issue.

It works fine with a new Recovery Services Vault with the default policies.

However after creating an **Enhanced Backup Policy** it throws the same error.

WARNING: Data truncated. Please upgrade to latest version of Azure Powershell
Get-AzRecoveryServicesBackupProtectionPolicy : Object reference not set to an instance of an object.

[2022-02-28 17:28] geolivo commented on #16306
The bug was that the full-share parameter set was mistakenly not marked as the default. Thus an attempt to run it would still prompt the user enter a directoryPath or Path. The fix will be in the next PS release, and in the meantime the following are also viable ways to invoke full-share detection:

Import-Module Az.StorageSync
Connect-AzAccount -Subscription "<customer's subscription ID>"

# Cust

[2022-02-28 17:28] #16306 closed

[2022-02-28 18:41] jvano commented on #16646
👍

[2022-02-28 20:43] adrianhall commented on #15890
This will be fixed in the next release of the PowerShell module (it is part of the broader update to support the latest GA API version of the ARM management plane).  I'll update when that gets released.

[2022-02-28 20:46] #16602 closed

[2022-02-28 20:52] adrianhall commented on #10460
The PowerShell module is a reflection of the REST API.  As such, to add such a support, we would have to add it to the API.  However, we already have a preferred mechanism for importing such APIs - via an OpenAPI definition - you can use OpenAPI 2.x or 3.0 currently.

I've taken this request as a feature request onto our backlog.  When we take a look at features for upcoming releases, we will cert

[2022-02-28 20:52] #10460 closed

[2022-03-01 01:22] dingmeng-xue commented on #17285
@pranavsista , could you provide an example of custom URI? Does it include endpoint, API path and API version?

[2022-03-01 02:39] Jasonlhy commented on #16214
@panchagnula I noticed that the REST APi supports pagination, but I can't find any parameter in Powershell Command to support pagination. https://docs.microsoft.com/en-us/powershell/module/az.websites/get-azappserviceplan?view=azps-7.2.0

[2022-03-01 02:56] ecormaksin opened #17288 "When I called Set-AzDataFactoryV2LinkedService, "authentication": "MSI" seemed to be lost."
### Description

After I called `Set-AzDataFactoryV2LinkedService` to set Azure Data Factory Linked Service (`"type": "AzureMLService"`), `Test connection` on Azure Data Factory Studio failed.

When I check json on Azure Data Factory Studio, `"typeProperties"` - `"authentication": "MSI"` disappeared.
However the property exists in the source json file.

### Issue script & Debug output

[code]

###

[2022-03-01 06:51] HoLengZai commented on #10885
Thanks a lot @dingmeng-xue
You make my day.
I can finally collect my Azure Consumption Usage from all my subscriptions via an Azure Durable Function using Start-ThreadJob. It took 15min instead of 40 to 60min to collect all the data.

[2022-03-01 09:28] Agazoth commented on #16992
@blueww - it turns out that ContentEncoding was set to gzip on the blob. That tells `Invoke-WebRequest` to unzip the file. It would be cool if the same functionality could be built into `Start-AzStorageBlobCopy`

[2022-03-01 09:41] blueww commented on #16992
@Agazoth

`Start-AzStorageBlobCopy` will keep the same ContentEncoding from source blob to dest blob.
So if the ContentEncoding as gzip can tell `Invoke-WebRequest` to unzip the source file. After copy, the dest blob will also has ContentEncoding as gzip, then it should also can make `Invoke-WebRequest` to unzip the dest file.

Besides that, in `Start-AzStorageBlobCopy` the copy process is handled

[2022-03-01 11:16] amitdwivedi-broadcom opened #17307 "New-AzADServicePrincipal: A parameter cannot be found that matches parameter name 'ApplicationId'"
### Description

With the latest release of AZ.Resources(5.4.0) I am still getting the New-AzADServicePrincipal: A parameter cannot be found that matches parameter name 'ApplicationId'. This was fixed in (5.3.1) https://github.com/Azure/azure-powershell/issues/17054 .

Looks like the changes from 5.3.1 has not made it to 5.4.0

### Issue script & Debug output

[code]

### Environment data

[code]

[2022-03-01 11:47] Kotasudhakarreddy commented on #15522
- Is there any capability to change that option via the PowerShell function? (Az module)
**Ans:** Yes, there is a cmdlet available to change the target version. Refer to [this](https://docs.microsoft.com/en-us/powershell/module/az.websites/set-azwebapp?view=azps-7.2.0#syntax) for more information.
**example:** : `Set-AzWebApp -ResourceGroupName <your-RG-Name> -Name <your-app-name> -NetFrameworkVer

[2022-03-01 12:38] dingmeng-xue commented on #17307
@VeryEarly , please look into it.

[2022-03-01 15:29] sredman commented on #10256
@SaurabhSharma-MSFT -- I don't have any additional insights. This is a feature request and the feature hasn't been implemented between the time this was opened and now.

[2022-03-01 21:02] grizzlytheodore commented on #14000
@navba-MSFT
DiskManagerApiQoSEvent
| where operationName contains "Disks.ResourceOperation.PUT"
| where requestEntity contains "FromImage"
| where requestEntity contains "ImageReference"
| where resultType == 0
| where PreciseTimeStamp > ago(10d)
| take 100

Looking at all the calls that were successful that is using ImageReference correctly, it is providing the version (example: /Subscriptions/00

[2022-03-01 22:25] grizzlytheodore commented on #14000
per DiskRP team:
a Microsoft.Compute/images/ resource represents a user VM image (“managed image”) , provided by the CRP. It can be used as an input to the CRP to create VMs; however, it doesn’t represent a disk, and can’t be used to create stand-alone disks

[2022-03-01 23:36] grizzlytheodore commented on #14000
created PR to update example and description https://github.com/Azure/azure-powershell/pull/17310

[2022-03-02 00:55] craigforr commented on #15976
@dingmeng-xue: Is there any additional information I can provide to help troubleshoot this issue?

[2022-03-02 01:04] dingmeng-xue commented on #15976
@craigforr , Sorry that I missed your message. The bot omitted your message because you are not original reporter of  issue.

According to log, the error message is not from Azure PowerShell. We have no access to those codes. It seems Azure drive is not available. One recommendation is to drop current drive and create new one if there is no data on existing Azure drive. If you need CloudShell supp

[2022-03-02 04:44] pranavsista commented on #17285
@dingmeng-xue An example of this would be something like myproxyservice.azurewebsites.net

The Uri is a service which is hosted in azure and it can be used as a proxy to connect to storage accounts from the proxy service.

[2022-03-02 05:49] dingmeng-xue commented on #17285
Azure PowerShell is different from SDK. The service client construction is not exposed to end user. Some information required by service client is populated by Azure PowerShell framework based on context.

@blueww , I don't familiar to Storage API. Is it possible to get all required information according to user's input.

[2022-03-02 08:02] #15863 closed

[2022-03-02 08:02] #11680 closed

[2022-03-02 09:45] pranavsista commented on #17285
@blueww  I explored the option of using a connection string but it requires having details about the storage account. It will be the proxy service which will route the user to an appropriate storage account. The user will not know the name of the storage account or have a SAS token and will only have the endpoint with them. I'm essentially looking for functionality which is similar to what is pres

[2022-03-02 10:05] blueww commented on #17285
For Powershell, you can also just create storage context with connection string, without input addtional information like storage account:

If you only have service endpoint and SAS, you can format the connection string like the sample: https://docs.microsoft.com/en-us/azure/storage/common/storage-configure-connection-string#account-sas-example
The Powershell sample would look like:
[code]

[2022-03-02 12:45] swapnilrkambli commented on #15005
Set-AzAppServicePlan removes the tags from app service plan if no tags are passed. Also the behavior of the command vary when used on local powershell host vs Azure Automation Runbook.

Set-AzAppServicePlan -Name 'xxx-serviceplan' -ResourceGroupName 'xxx-rg' -Tier "Standard" -NumberofWorkers 1 -WorkerSize "medium"
Set-AzAppServicePlan : Operation returned an invalid status code 'Forbidden'

At lin

[2022-03-02 12:53] hiaga opened #17327 "[Eng]: Collect telemetry for powershell script (success/failure) based on Az module cmdlets"
### Description

[Azure Backup] Hi PS Team, we have put together a powershell script for Azure Backup customers to handle a specific requirement. We want to collect telemetry on successful vs failed execution of our script. Need pointers and guidance on how to achieve this

[2022-03-02 13:29] Adriana171 commented on #17268
PS C:\Users\adria> $DebugPreference = "Continue"

PS C:\Users\adria> Get-AzAksVersion
cmdlet Get-AzAksVersion at command pipeline position 1
Supply values for the following parameters:
Location: westeurope
DEBUG: 8:26:46 AM - GetAzureRMContextCommand end processing.
DEBUG: 8:26:46 AM - GetAzureRMContextCommand end processing.
DEBUG: [CmdletBeginProcessing]: Starting command
DEBUG: CmdletBeginProce

[2022-03-02 13:30] satsuk81 commented on #17005
I have the same issue and can confirm that the issue only exists when using VS Code.

[2022-03-02 13:42] Adriana171 commented on #17268
When I send a request to :[https://management.azure.com/subscriptions/{subscriptionId}/providers/Microsoft.ContainerService/locations/westeurope](https://management.azure.com/subscriptions/%7BsubscriptionId%7D/providers/Microsoft.ContainerService/locations/westeurope) /orchestrators?api-version=2019-08-01&resource-type=managedClusters

I get a response. I am using the same token.

{
    "id": "/su

[2022-03-02 13:46] Adriana171 commented on #17268
I am currently getting an access token OBO of another tenant.

Connect-AzAccount -Tenant $customerTenantId -AccountId $tenantId -SubscriptionId $subscriptionId -AccessToken $azureManagementAccessToken -MicrosoftGraphAccessToken $msGraphToken

-MicrosoftGraphAccessToken Retrieval:
grant_type:refresh_token
client_id:{clientId}
client_secret:{clientSecret}
resource:https://graph.microsoft.com
refresh

[2022-03-02 14:06] arphox commented on #17210
@dingmeng-xue
the mentioned line of code does not work.

**See:**
<details>
  <summary>Spoiler</summary>

[code]

</details>

**Nevertheless, my problem is that the installation process lacks transparence: it is not clear what it is doing.**
If this is not on this software component, please redirect this issue to whoever is responsible for this.

[2022-03-02 14:33] dingmeng-xue commented on #17210
Got it.
[code]

[2022-03-02 15:07] Kotasudhakarreddy commented on #15005
@swapnilrkambli can you please share the `-debug` log with error details and also give me the version of `Az.Websites` module you are using.

[2022-03-02 20:21] jhueppauff commented on #12561
`Get-AzConsumptionUsageDetail -StartDate $firstDay -EndDate $date` works for me with the latest PS and AZ Version (7.*) for most of the subscriptions.
The only difference I could spot were that those subscriptions which didn't worked were a Azure Plan Subscription:
![image](https://user-images.githubusercontent.com/20532954/156442671-f592ec6a-69df-49be-bad3-87b9af076bcf.png)
![image](https://user-

[2022-03-02 22:10] mpb10 commented on #17274
@Drewm3 My work depends heavily on the Add-AzVhd commandlet and we've run into significant issues using it since the issues described by @fowl2 have gone into effect with version 7.0.0 of Azure PowerShell.

Previous Azure PowerShell versions of this commandlet (Which no longer work at all for some reason) were much, much faster and did not create full sized copy on the local system. The execution

[2022-03-02 23:32] tradiuz opened #17330 "Invoke-AzStorageSyncChangeDetection not working as documented"
### Description

When following the docs to initiate a change detection job, the following command doesn't actually start anything.  It just runs with no feedback one way or the other.

[code]

Using the ResourceID variation of the command, does work.

[code]

### Issue script & Debug output

[code]

### Environment data

[code]

### Module versions

[code]

### Error output

[code]

[2022-03-03 00:07] fowl2 commented on #17274
@Drewm3 oh thanks for the info! This is basically my first time using it - What was the previous behaviour? I was operating under the impression it would just fail and you'd have to manually alter the vhds.

[2022-03-03 00:17] SaurabhSharma-MSFT commented on #17288
@ecormaksin I have looked into it and I could see the same behavior in my environment.  I am checking internally on this and get back to you. Thanks.

[2022-03-03 00:40] SaurabhSharma-MSFT commented on #17276
@fowl2 We are looking into this and get back to you in case any questions.

[2022-03-03 04:10] VeryEarly commented on #17307
Hi @amitdwivedi-broadcom ,

I tried with Az.Resources 5.4.0 with no error, please provide steps to reproduce
[code]

[2022-03-03 04:12] VeryEarly commented on #17256
Yes, password will be created upon creation at server side.

[2022-03-03 04:42] Kotasudhakarreddy commented on #15995
Thanks for your feedback. We will take a look in to this.

[2022-03-03 09:00] navba-MSFT commented on #14332
@RishiMaini Apologies for the late reply. Thanks for the feedback. We will update this thread once we have more details on this.

@josephkwchan @jennyhunter-msft Could you please look into this once you get a chance ?

[2022-03-03 09:14] florinangelescu opened #17336 "Get-AzResource doesn't show all resources"
### Description

Get-AzResource doesn't show all resources in a given resource group.
No filters were added on the cmdlet. When going to Azure portal GUI, we can see all resources, but the cmdlet doesn't show everything.
We noticed especially what web apps are missing.

### Issue script & Debug output

[code]

### Environment data

[code]

### Module versions

[code]

### Error output

_No respons

[2022-03-03 09:47] gump0882 commented on #17054
The issue continues to torment in 5.4.0

<img width="629" alt="image" src="https://user-images.githubusercontent.com/100766641/156539387-135e2fbd-2483-4dfd-8ec3-1a09d04b4bed.png">

[2022-03-03 10:05] blueww commented on #17285
@pranavsista
This looks not supported in PowerShell currently to create a storage context with only blob service endpoint and anonymous credential.
I will try to raise a fix for that soon.

Would you like to share more about which scenario you would like to run Powershell, then I get more understanding of the usage. Like:

Besides that, as a workaround, you can just create the SDK object in Powers

[2022-03-03 10:44] #10885 closed

[2022-03-03 11:39] Kotasudhakarreddy commented on #16594
@panchagnula can you please include any one from API Swagger team.

[2022-03-03 14:12] pranavsista commented on #17285
@blueww  Thanks for the workaround, I'll try it out and get back to you. As for the scenario, the user will not know the name of the storage account while using the client. The user will mention a proxy service endpoint which will internally resolve to a specific storage account.

Could you provide an ETA for when the fix can be done? Thanks!

[2022-03-03 16:23] pranavsista commented on #17285
@blueww  I've tried exploring how we can allow a custom endpoint to connect to a storage account and this is the draft PR we have made which contains an implementation for that functionality.

https://github.com/Azure/azure-powershell/pull/17226

[2022-03-03 17:31] mpb10 commented on #17274
@fowl2 Previous versions of the commandlet seemed to upload the dynamic sized VHD file directly to Azure, which I assume they would then resize to a full sized disk on their end. At some point I assume they disabled the resizing on their end, which I assume is why Add-AzVhd in any version of Azure PowerShell below 7.0.0 no longer works, since Azure now expects the commandlet to resize the VHD file

[2022-03-03 18:17] daltondhcp opened #17346 ""Your Azure credentials have not been set up or have expired" when using workload federation in GitHub Actions"
### Description

Related to https://github.com/azure/azops that takes a dependency on Az.PowerShell for deployments and template generation.

After starting to authenticate with the [workload federation feature](https://github.com/azure/login#sample-workflow-that-uses-azure-login-action-using-oidc-to-run-az-powershell-windows) for the service principal used in the action (effectively removing the

[2022-03-03 20:15] coelho5br opened #17347 "Allow Import-AzWebAppKeyVaultCertificate to specify a certificate name or use the same standard as Azure CLI az webapp config ssl import"
### Description

When using the Import-AzWebAppKeyVaultCertificate, the Microsoft.Web\Certificates created use the name standard "Keyvalt-Secret" to import the certificate.

In case there are multiple App Service Plans from different webspace on the same RG, the 1st import will work fine and can be used by the App Service Plan. Now, if you run the same import to another ASP that is on a different

[2022-03-03 20:32] NickGraham101 opened #17348 "Import-AzContainerRegistryImage returns bad request"
### Description

Import-AzContainerRegistryImage returns bad request but running `az acr import` with a similar parameter set succeeds.

`Import-AzContainerRegistryImage -ResourceGroupName my-shared-rg -SourceRegistryUri mysharedcr.azurecr.io -SourceImage blogifier:latest -RegistryName mysharedcrtemp` fails

`az acr import --name mysharedcrtemp --source mysharedcr.azurecr.io/blogifier:latest --ima

[2022-03-04 00:47] SaurabhSharma-MSFT commented on #17330
@tradiuz Are you passing the correct name, which is a GUID, not the friendly name that's displayed in the portal?

To get the CloudEndpointName, use the Get-AzStorageSyncCloudEndpoint cmdlet.  Please use `Get-AzStorageSyncCloudEndpoint`

[2022-03-04 02:55] isra-fel opened #17351 "[Eng]: Static analysis failed to detect invalid "online version" URI in docs"
### Description

Static analysis pipeline should be able to detect invalid "online version" URIs, for example the cmdlet name in URI does not match the actual name.

Sample PR: https://github.com/Azure/azure-powershell/pull/17339/files

[2022-03-04 03:23] blueww commented on #17285
@pranavsista
I will try to fix it by support customize endpoint for blob/table/queue/file endpoint, for key/sas/oauth/anonymous authentication.
I will need some time to write code and test it, will target to next or the one after next release. See release schedule in https://github.com/Azure/azure-powershell/milestones

[2022-03-04 05:43] BethanyZhou opened #17360 "[Eng]: Static Analysis skips checking modules if GitHub API request exceeds rate limit"
### Description

## Issue
Static Analysis skips checking modules and reports false negative if GitHub API request exceeds rate limit.

https://dev.azure.com/azure-sdk/public/_build/results?buildId=1405507&view=logs&j=e1b7b984-9f58-529f-7c5a-f15f8e35cfa6&t=e8689ae8-b216-55f7-b207-4831f84ff98a

## Exception message
PullRequestNumber:17292
---Exception Caught when trying to detect file changes with P

[2022-03-04 10:53] moebius87 commented on #15494
@navba-MSFT Absolutely yes! Thank you!

[2022-03-04 10:53] #15494 closed

[2022-03-04 13:22] dingmeng-xue commented on #17346
Hi @daltondhcp , it is by design. Current OIDC token cannot be updated automatically because token is provided from external. We are waiting the solution and will support it accordingly.

[2022-03-04 13:33] dingmeng-xue commented on #17336
@florinangelescu , how many resources are under that resource group?  Could you share the request to us? You can get it from console after setting $DebugPreference = "Continue"

[2022-03-04 13:33] daltondhcp commented on #17346
Got it, thank you for the quick response!

[2022-03-04 14:47] dingmeng-xue commented on #17268
Hi @adriana171, I cannot reproduce this issue yet. I suspect it is related to your access token. I do not how you get that access token. Normally, access token doesn't contain all claims listed by you.

[2022-03-04 15:01] ravkash commented on #17274
@Drewm3 Do you have any insights into why the behavior was changed and there is a plan to bring it back?

[2022-03-04 16:18] grizzlytheodore commented on #17274
subscribing to this thread to stay aware of this topic

[2022-03-04 17:26] tradiuz commented on #17330
I was using the friendly name, because that's what logic would dictate for a parameter called "Name"...  Although, that doesn't explain why the command doesn't throw an error or provide any user feedback.  There's not an easy way to pull the GUID from the console, compared to getting the resourceID.

[2022-03-04 18:21] MsGabsta commented on #16566
Issue has been resolved, no further response from customer, closing the issue.

[2022-03-04 18:21] #16566 closed

[2022-03-04 19:16] grizzlytheodore commented on #17274
please check if you are correctly using the older Add-AzVHD call by running:
Get-InstalledModule Az.Compute

Your Az.Compute module should be 4.20.0 or older.

If you need to downgrade your Az.Compute module:
Remove-Module Az.Compute   *Run until no Az.Compute module shows when running Get-IntalledModule Az.Compute
Install-Module -Name Az.Compute -RequiredVersion 4.20.0

[2022-03-04 19:53] zapadoody opened #17370 "New-AzVM failing with VMCustomization' is not enabled for the Subscription."
### Description

We are running into an issue where the New-AzVm powershell cmdlet has stopped working. This was working a week ago without any issues, however we tried to run this today and are getting the following response:

Following this basic this example produces the issue:

New-AzVM: 'VMCustomization' is not enabled for the Subscription. Please register the Subscription for 'Microsoft.Comp

[2022-03-04 20:19] davmhelm commented on #17370
Seeing this in Azure Cloud Shell as well for Az.Compute module version 4.24.0.

Seems to be working fine in module version 4.23.0, which I forcefully loaded to test using these commands:

[code]

[2022-03-05 00:56] jngibert opened #17372 "HyperVGeneration property is blank using Add-AzVhd"
### Description

When using **Add-AzVhd** to upload a Linux OS VHDX (or VHD) to Azure as a managed disk (_using the **DirectUploadToManagedDisk** parameter set_) the disk that is created does not have the HyperVGeneration property set; and the property cannot be changed once the managed disk is created.

As a side note, the OsType property of the managed disk that is created is erroneously set to

[2022-03-05 01:18] SaurabhSharma-MSFT commented on #17347
@coelho5br We are looking into this and get back to you for any questions.

[2022-03-05 12:33] Naveenn12 commented on #17370
I got into similar issue, there seems to be some issue with powershell 7.2.1 version, I have installed PowerShell 7.3.0-preview.2 to fix the error.

[2022-03-05 22:37] IsmaelJCarlo commented on #17370
This is also happening in the Microsoft Learn environment sandbox which is running PowerShell 7.2.1.

[2022-03-05 22:47] davidsandbrand commented on #16963
@dingmeng-xue,

Yes, I know that PowerShell is object-oriented, and yes I do understand how output could interfere with a pipeline operation, but what I don't understand **and I would like you to explain to me**, is how using a command-line switch (-UseDeviceAuthentication) that is specifically documented as not accepting pipeline input could possibly interfere with a pipeline operation?

To put i

[2022-03-06 13:42] dingmeng-xue commented on #17370
Compute team,

I can see reproduce this issue. I believe there is problem on new API version.

[code]
Besides API version is changed, it contains an empty property vmSizeProperties in the latest version. Please look into it with priority.

[2022-03-06 14:40] lowestbassnote commented on #17370
Yes - I have this same problem running in the sandbox when trying out https://docs.microsoft.com/en-us/learn/modules/automate-azure-tasks-with-powershell/6-exercise-create-resource-interactively

[2022-03-06 15:34] dingmeng-xue commented on #16963
HI @davidsandbrand ,

You can see the current output of `Connect-AzAccount` is `PSAzureProfile`. If message is printed out as output as you mentioned, it means this cmdlet will have 2 types of output, `String` and `PSAzureProfile`. PowerShell is strong type language.  That ambiguity makes user cannot predict its output. Another problem is output becomes array like below example.

Pipeline operatio

[2022-03-06 17:57] davidsandbrand commented on #16963
@dingmeng-xue,

I see what you're saying, and perhaps you misunderstood me.  I wasn't suggesting that the displayed code be an output **_object_**; I was suggesting it be written to screen, for the human that requested it, needs it, and is expecting it.

The device auth code is not part of the PSAzureProfile class, regardless of how this code gets written to screen. The device auth code continues

[2022-03-06 21:13] aespinoza96 commented on #17370
I tried to install the previous version mentioned above (4.23.0) but still having the same issue in sandbox when creating a new VM. Please address this issue since it is causing problems to learn about Azure

[2022-03-07 01:41] dingmeng-xue commented on #17370
You need to restart process of PowerShell and import module with specified version. Or, you have to remove 4.24.0 from your machine and restart PowerShell then.
[code]

[2022-03-07 06:16] BethanyZhou commented on #17348
Hi @dingmeng-xue , could provide the contact about service team?

[2022-03-07 08:40] aelij opened #17376 "Set-AzAksCluster fails to upgrade cluster"
### Description

Error:

This looks very similar to #14583

### Issue script & Debug output

[code]

### Environment data

[code]

### Module versions

[code]

### Error output

[code]

[2022-03-07 08:45] Kotasudhakarreddy commented on #15995
@thucnguyen77 I have verified this issue in the `Az.Websites` module version `2.10.0`. I am unable to repro the issue. Please use the latest PS module and let us know if the issue is still facing.

[2022-03-07 09:11] HK-fatima opened #17377 "[Eng]: New-AzRoleAssignment : Operation returned an invalid status code 'Forbidden'"
### Description

hello All,

I want to give the role ''Virtual Machine Contributor'' to a group with powershell command through automation account like below:

the script:

$groupId = "*******"
$roleName = "Virtual Machine Contributor"
$Vm = Get-AzVM -ResourceGroupName $resourceGroupName -Name $virtualMachinesName
$VMResourceId = $Vm.Id

New-AzRoleAssignment -ObjectId $groupId -RoleDefinitionName

[2022-03-07 09:31] navba-MSFT commented on #10974
@blrchen Apologies for the late reply. Could you please let me know if you are still facing this issue ? This issue is open for quite sometime. Please let us know if you need any further assistance on this. Awaiting your reply.

[2022-03-07 09:52] navba-MSFT commented on #13107
@new-kirte Apologies for the late reply. Could you please let me know if you are still facing this issue ? This issue is open for quite sometime. Please let me know if you need any further assistance on this. Awaiting your reply.

[2022-03-07 10:31] navba-MSFT commented on #15612
@florinangelescu Apologies for the late reply. Thanks for your feedback. We will update this thread once we have more details.

@armleads-azure Could you please provide an update on this once you get a chance ? Awaiting your reply.

[2022-03-07 10:34] navba-MSFT commented on #15913
@bwarren18 Apologies for the late reply. Could you please let me know if you are still facing this issue ? This issue is open for quite sometime. Please let me know if you need any assistance on this. Awaiting your reply.

[2022-03-07 10:38] blrchen commented on #10974
Honestly speaking, this is no longer an issue for me as I ended up switching to azure cli which seems mitigating bugs quicker. However I guess fixing this will benefit people who mainly use PowerShell.

[2022-03-07 10:43] navba-MSFT commented on #16121
@mblaschke Apologies for the late reply. Below are the available api versions in Azure ChinaCloud:

![image](https://user-images.githubusercontent.com/57353862/157016077-49d38c4d-bf83-41a0-88ee-eba808a45259.png)

This issue is open for quite sometime. Please let me know if you need any further assistance on this. Awaiting your reply.

[2022-03-07 10:49] ashishmg-gds opened #17382 "Set-AzDataFactoryV2 removes the git configuration"
### Description

Hi, Im following the Powershell approach to create GlobalParameters in ADF new autopublish CICD as recommended in Azure Documentations. But using the Powershell script given in documentations the `Set-AzDataFactoryV2` step actually removes the git configuration. I also tries to use the `Update-AzDataFactoryV2` which thrown following error :

[code]

### Issue script & Debug output

[2022-03-07 11:04] ricohomewood commented on #9980
@andyw248 @zjalexander As UserVoice was disbanded by Microsoft. Can this please be re-opened as this is still not supported but much needed? Thanks

[2022-03-07 12:54] jonyjesus18 opened #17388 "Azure Powershell New-AzSynapseManagedPrivateEndpoint Definition File format?"
### Description

I'm trying to deploy a managed private endpoint to my synapse instance to connect it to a key Vault in the same resource Group. The documentation for the same deployment in Bicep is very incomplete so I thought to try my luck with PowerShell using the following command :

[code]
However, I cannot seem to find the format for the definition file anywhere on the internet, so was wond

[2022-03-07 13:27] HMassi87 commented on #14085
I can see that this moved to "Breaking Change Release" about 5 months ago, does this means that it will be included in the next release?
This would be a game changer for a lot of automations where people are trying to avoid App Secrets

[2022-03-07 13:50] mblaschke commented on #16121
it's fixed, thanks :)

[2022-03-07 13:50] #16121 closed

[2022-03-07 15:08] Kotasudhakarreddy commented on #15909
Thanks for your feedback! Will take a look.

[2022-03-07 15:31] dingmeng-xue commented on #14085
@HMassi87 , that label means feature will introduce breaking change potentially. We haven't plan it because we still hope to understand the benefit to users and potential impact.

Back to original requirement, `Get-AzAccessToken` and `Invoke-AzRestMethod` both have already supported resource id of MSGraph. Scope seems not required because MSGraph only granted high privileged delegate role to Azure

[2022-03-07 15:49] SaurabhSharma-MSFT commented on #17382
@ashishmg-gds We are looking into it and get back to you for any additional questions.

[2022-03-07 15:51] SaurabhSharma-MSFT commented on #17372
@jngibert We are looking into it and get back to you for any additional questions.

[2022-03-07 16:14] firatakandere opened #17390 "[Doc]: Remove-AzServiceFabricApplication PassThru parameter has placeholder as description"
### Description

Description for PassThru parameter of Remove-AzServiceFabricApplication cmdlet is a placeholder:
https://github.com/Azure/azure-powershell/blob/main/src/ServiceFabric/ServiceFabric/help/Remove-AzServiceFabricApplication.md?plain=1#L126

[2022-03-07 16:25] HMassi87 commented on #14085
@dingmeng-xue
Thanks for the quick reply! I think that the biggest problem most of us are finding with this approach is that we can't use this module to authenticate and gain the same level of access that we have on Graph explorer for example.

I can't do anything on Intune using managed identities
I use this code for example to authenticate either with the local account or with the managed identi

[2022-03-07 16:38] FingerlessGlov3s opened #17391 "New-AzStorageContext Forbidden with SAS token from Azure Storage Explorer"
### Description

I'm trying to query/add/update/delete from a Table in a Storage account, using a SAS token.

I went in to the Azure Storage explorer navigated to the table, right click and clicked `get shared access signature`, I then ticked all permissions and pressed `Create`. When I go to use this in my PowerShell script using `New-AzStorageContext`, it returns ok but soon as I try get the the

[2022-03-07 17:19] Mwalima commented on #16612
I have the same error in pipeline deployment.
Set-AzSqlServerActiveDirectoryAdministrator : Operation returned an invalid status code 'BadRequest'
2022-03-05T15:41:23.0027044Z ##[debug]At D:\a\1\s\RGDeployment\RGDeployment\Scripts\Modules\Get-SQLFunctions.psm1:115 char:5
2022-03-05T15:41:23.0059534Z ##[debug]+     Set-AzSqlServerActiveDirectoryAdministrator -ServerName $AzureSQL ...
2022-03-05T15:

[2022-03-07 22:54] SaurabhSharma-MSFT commented on #17330
@tradiuz Like I mentioned earlier you can use `Get-AzStorageSyncCloudEndpoint` to get the respective GUID.  See below -
![image](https://user-images.githubusercontent.com/38112130/157131759-2bf864ee-2239-47ea-baed-167523b6901a.png)

Thanks
Saurabh

[2022-03-08 00:06] SaurabhSharma-MSFT commented on #17388
@jonyjesus18 Your definition file should look like the sample provided on [Managed Private Endpoints - Create REST API]( https://docs.microsoft.com/en-us/rest/api/synapse/data-plane/managed-private-endpoints/create#create-a-managed-private-endpoint).  For example, for a storage account you could be using something like below -
[code]
Please let me know in case any other questions.
Thanks
Saurabh

[2022-03-08 02:51] rbreitendev commented on #17274
@grizzlytheodore so you're saying that an old version of the `Az.Compute` module of `4.20.0` should be leveraged that is outdated at this time? As opposed to leveraging the latest module and its capability?

[2022-03-08 03:19] blueww commented on #17391
@FingerlessGlov3s

Please share how you generate the SAS token. Is it a sas for signal table ? If so, it will not have permission to get table.
Sas for single table can't not be used to get table, it can only be used to do operation inside table.
You can generate an account SAS for this action like:

[code]

For the SAS permission, you can reference: https://docs.microsoft.com/en-us/rest/api/stora

[2022-03-08 03:51] grizzlytheodore commented on #14000
examples and parameter descriptions are updated to correctly reflect use cases. it will be available with the 4/5 release. closing the issue

[2022-03-08 03:51] #14000 closed

[2022-03-08 03:59] pranavsista commented on #17285
@blueww Overall, these are the issues I have.

1). In the current powershell implementation, is there no option to specify the absolute url? I thought the 'endpoint' parameter fulfilled that role but it looks like we can only input the domain here (like 'core.windows.net'). For example -
<img width="952" alt="image" src="https://user-images.githubusercontent.com/100203509/157009868-6384a834-57e6-4

[2022-03-08 05:21] SatishBoddu-MSFT commented on #17372
hello @jngibert This looks like more of a feature request, right? Are you currently blocked by this issue?

[2022-03-08 06:59] Mwalima commented on #16612
I had 'C:\Modules\az_7.1.0\Az.Sql\3.7.0\Microsoft.Azure.PowerShell.Cmdlets.Sql.dll'. installed in the pipeline.
now reverting to version 3.5 fixed the issue in the yml.

[code]

[2022-03-08 07:06] Drewm3 commented on #17274
@grizzlytheodore, was there a change in the behavior of the Add-AzVHD cmdlet? This issue was originally opened as a feature request, but it seems that @mpb10 is claiming that the cmdlet changed behavior. If the behavior changed unexpectedly, then this should be converted to a bug instead of a feature request.

[2022-03-08 07:29] #17390 closed

[2022-03-08 08:01] blueww commented on #17285
@pranavsista
I believe the fix to support customized endpoint (for B/T/Q/F service) with all kinds of credential: Key/SAS/Oauth/Anomymous, should can work fir all the above 3 issues.

[2022-03-08 08:06] ashishmg-gds commented on #17382
@SaurabhSharma-MSFT

Output of `Set-AzDataFactoryV2` with `Az version` `7.3.0` and `Az.Datafactory` version `1.16.4` :

[code]

Output of `Get-AzDataFactoryV2`

[code]

You can see that `RepoConfiguration` is empty in Set output

`Update-AzDataFactoryV2` is not creating the Global Parameters but executing fine after Az version upgrade to 7.3.0 and az.datafactory to 1.16.4

[2022-03-08 09:09] FingerlessGlov3s commented on #17391
@blueww My token is as follows `?st=2022-03-07T16%3A21%3A53Z&se=2022-03-08T16%3A21%3A53Z&sp=raud&sv=2018-03-28&tn=mytable` it doesn't have "l". I wish to query out table rows, and amend them if required. Can I do this with my SAS token?

[code]

Am I only able to do this via the REST API and not by PowerShell module?

[2022-03-08 09:42] dingmeng-xue commented on #17376
Thanks for reporting. It is a bug and will be fixed.

[2022-03-08 09:45] dingmeng-xue commented on #17377
@HK-fatima , please grant sufficient permission of MSGraph API to automation account. `New-AzRoleAssignment` might call below MSGraph API. https://docs.microsoft.com/en-us/powershell/module/az.resources/new-azroleassignment?view=azps-7.3.0

- GET /users/{id}
- GET /servicePrincipals/{id}
- GET /groups/{id}
- GET /directoryObjects/{id}

[2022-03-08 11:29] ashishmg-gds commented on #17382
It also removes `tags`

[2022-03-08 11:55] dingmeng-xue commented on #17377
I believe permission type should be delegated permission "Delegated permissions are used by apps that have a signed-in user present" https://docs.microsoft.com/en-us/azure/active-directory/develop/v2-permissions-and-consent?WT.mc_id=Portal-Microsoft_AAD_RegisteredApps#permission-types. One you set delegated permission, admin needs to grant consent.

Please try it.

[2022-03-08 12:24] ojintoad commented on #17005
Confused because from what I can tell they are the same version based on dll metadata?

The "original" is what's included with vscode.
The "azaccounts273" is what's included with a module install.

![image](https://user-images.githubusercontent.com/3084796/157237468-253defcf-1430-45a5-991b-c92894aa28f6.png)

[2022-03-08 12:38] nazakathussain opened #17407 "Unable to Complete Cross Tenant Peering with ARM"
### Description

Similar to issues reported in [Azure CLI ](https://github.com/Azure/azure-cli/issues/16691)however different way to reproduce.

Scenario
Attempting to deploy an ARM Template as described in [Article](https://docs.microsoft.com/en-gb/azure/virtual-network/create-peering-different-subscriptions#template) which will complete a peering between two Virtual Networks in different tenants

[2022-03-08 13:02] blueww commented on #17391
@FingerlessGlov3s

As the sas doesn't have "l" permission, you can't use it to run get-AzStorageTable, but you can use it to create a CloudTable object, and use the cloudtable object to run Get-AzTableRow.
e.g.:
[code]

[2022-03-08 13:50] FingerlessGlov3s commented on #17391
Thank you that's just what I was after.

[2022-03-08 13:51] #15913 closed

[2022-03-08 14:28] bwarren18 commented on #14604
Also beginning in Az 5.8.0 the command only returns 100 objects whereas the REST API returns all objects.
So Get-AzAutomationSoftwareUpdateConfiguration and '[Software Update Configurations - Get By Name](https://docs.microsoft.com/en-us/rest/api/automation/software-update-configurations/list)' are not equivalent.

[2022-03-08 14:56] Gill-Bates opened #17408 "Set-AzAppServicePlan removes existing Tags on Resource"
### Description

Updating an existing WebAppPlan will remove Tags on the Resource.

### Issue script & Debug output

[code]

returns (as expeced)
[code]

Now I am updating the App-ServicePlan

`PS> $update = Set-AzAppServicePlan -Name myapp -ResourceGroupName myrg -Tier PremiumV2`

The Tag disapeared ...

[code]

Bug or Feature?
[code]

### Module versions

[code]

### Error output

_No response_

[2022-03-08 16:19] haagha commented on #17236
@dikethir if you can do :
`$rpccol = Get-AzRestorePointCollection -ResourceGroupName $rgname -Name $restorePointCollectionName
$rpccol.Source`

you will be able to see list of restorepoints.

[2022-03-08 16:46] jaltin opened #17410 "Feature request: Add support for EmptyDir in New-AzContainerGroup command"
### Description

I am trying to create ACI with the New-AzContainerGroup command.

I am trying to create a container with an EmptyDir volume mapped, but I can't get it to work.

I looked at the volume mount example at https://docs.microsoft.com/en-us/powershell/module/az.containerinstance/new-azcontainergroup?view=azps-7.3.0#example-6--create-a-container-group-that-mounts-azure-file-volume

Howeve

[2022-03-09 00:14] Francisco-Gamino opened #17413 "Latest Az.Accounts version 2.7.3 breaks applications with an older versions of Az (in this case 3.8.0)"
### Description

Customers in Azure Functions started to report issues for some of their apps when `Az.Accounts` version `2.7.3` was released. To mitigate this issue, the customers pinned their apps to the previous version of `Az.Accounts` `2.7.2`.

### Issue script & Debug output

[code]

### Environment data

[code]

### Module versions

[code]

### Error output

_No response_

[2022-03-09 00:16] Francisco-Gamino commented on #17413
/cc @dingmeng-xue @AnatoliB @stefanushinardi @sidkri

[2022-03-09 00:37] SaurabhSharma-MSFT commented on #10122
@azureSQLGitHub Can you please check and provide any updates on this. Thanks

[2022-03-09 00:41] SaurabhSharma-MSFT commented on #9920
@vnetsuppgithub Do you have any updates on this.

[2022-03-09 00:46] SaurabhSharma-MSFT commented on #10782
@vikram-m Any lates updates on this ?

[2022-03-09 00:47] SaurabhSharma-MSFT commented on #9663
@vikram-m Any latest updates on this issue ?

[2022-03-09 01:45] #16325 closed

[2022-03-09 01:47] blindvalentine opened #17415 "Set-AzResource fails with "The value of parameter api-version is invalid""
### Description

Set-AzResource is throwing an error "The value of parameter api-version is invalid". I have tested this with the latest version and previous Az 7.0 versions

### Issue script & Debug output

[code]

### Environment data

[code]

### Module versions

[code]

### Error output

[code]

[2022-03-09 03:07] grizzlytheodore commented on #17274
@Drewm3 @rbreitendev @mpb10

For everyone:
For an immediate work around, we recommend two options:
using Az.Compute 4.20.0 version, which has the version of Add-AzVhd before the changed behaviors
or [Set-AzStorageBlobContent](https://nam06.safelinks.protection.outlook.com/?url=https%3A%2F%2Fdocs.microsoft.com%2Fen-us%2Fpowershell%2Fmodule%2Faz.storage%2Fset-azstorageblobcontent%3Fview%3Dazps-7.3.0

[2022-03-09 03:30] dingmeng-xue commented on #17413
Thanks for reporting. Please provide an environment with detailed steps.

[2022-03-09 05:23] BethanyZhou opened #17416 "[Eng]: CI failed to detect assembly conflicts when some projects with higher version are loaded firstly"
### Description

HDInsight.Test.proj uses "Microsoft.Azure.KeyVault" 3.0.5.

https://github.com/Azure/azure-powershell/blob/7233c23c4f94fc51d4ba9d2d7b0da230ac6e3e07/src/HDInsight/HDInsight.Test/HDInsight.Test.csproj#L14

While KeyVault uses "Microsoft.Azure.KeyVault" 3.0.1

https://github.com/Azure/azure-powershell/blob/014f64a37e6d00961d35833d283df4df19f10ca9/src/KeyVault/KeyVault/KeyVault.csproj

[2022-03-09 05:41] dingmeng-xue commented on #17410
@BethanyZhou , could you recollect the reason that we don't support Empty Dir? Is it incorrect on api spec?

[2022-03-09 05:44] dingmeng-xue commented on #17415
You can get more information after turning on debug message via `$DebugPreference = "Continue"`

[2022-03-09 06:14] blueww commented on #17391
@FingerlessGlov3s
Good to know it work for you.
I will close this issue.
Feel free to contact us again if nee any further assistance on Azure Powershell.

[2022-03-09 06:14] #17391 closed

[2022-03-09 06:56] BethanyZhou commented on #17410
The type of EmptyDir is undefined in Swagger. Its type is an object. We consider the quality of this parameter may not high as expected. That's why we hide EmptyDir.

https://github.com/Azure/azure-rest-api-specs/blob/9c2191a0d78b31c711f1a21b597894176cd2e06d/specification/containerinstance/resource-manager/Microsoft.ContainerInstance/stable/2021-09-01/containerInstance.json#L1065-L1069

[2022-03-09 07:53] pranavsista commented on #17285
@blueww Were ADLS endpoints factored in when making the change? It looks like only four specific endpoints can be provided above to get the context. What should be done if an ADLS endpoint is available?

Ex: - https://<account-name>.dfs.core.windows.net/

[2022-03-09 08:01] #9931 closed

[2022-03-09 08:48] jaltin commented on #17410
Thanks for your comments. A couple of thoughts related to them:

Question 1
If you look at the Azur Resource Manager template examples provided, it seems that they just pass in an empty object (see for example https://docs.microsoft.com/en-us/azure/container-instances/container-instances-volume-emptydir). Could that also not be the passed in the call to azure rest api? So in my example volume decl

[2022-03-09 08:58] nazakathussain commented on #17407
This was raised after a support session with Microsoft, in which they were unable to provide a solution and suggested that it does need to be tracked as a bug.

[2022-03-09 09:11] HK-fatima commented on #17377
thank you for your help,
we've found that the service principal wasn't autorized and we gave it the owner/User Access Administrator role at the subscription level.

[2022-03-09 11:44] DuongThiNgocHoa opened #17419 "[Feature]: Create automation runbooks with type Python"
### Description of the new feature

In azure portal, i can create a runbook with type Python, but azure-cli can't

### Proposed implementation details (optional)

_No response_

[2022-03-09 11:49] pmsousa commented on #15820
The behavior of outputting that message, prevents the usage of Get-AzNetworkSecurityRuleConfig on conditional clauses like:

` ~  (Get-AzNetworkSecurityRuleConfig -Name 'AzureBasicInfrastructure' -NetworkSecurityGroup $nsg) -eq $null`
`Get-AzNetworkSecurityRuleConfig: Sequence contains no matching element`

[2022-03-09 13:31] pranavsista commented on #17285
@blueww Also, is it necessary to provide all the endpoint for the blob, table, queue, and file? Wouldn't having to provide only one endpoint be sufficient? Like this -

$ctx = New-AzStorageContext -CustomEndpoint "https://accountname.blob.core.windows.net/"

[2022-03-09 13:47] blueww commented on #17285
@pranavsista
Normally, endpoint of B/T/Q/F of a storage account are all different. so we can't only provide a single endpoint.
If they are same in your case, you can input Bt/T/Q/F endpoints as same value when using the cmdlet.

[2022-03-09 13:52] gump0882 commented on #17307
Hi @VeryEarly @amitdwivedi-broadcom

I am getting the same error
<img width="609" alt="Screenshot 2022-03-09 192223" src="https://user-images.githubusercontent.com/100766641/157455129-49d9ed1b-839b-4141-b37f-06fc7bd29c04.png">

[2022-03-09 17:26] phealy opened #17421 "[AKS] GenerateSSHKey option silently fails if %USERPROFILE%\.ssh doesn't exist"
### Description

The [GenerateSshKeyValue function](https://github.com/Azure/azure-powershell/blob/main/src/Aks/Aks/Commands/NewAzureRmAks.cs#L264) doesn't create the .ssh directory if it's not there, and ssh-keygen doesn't automatically create the folder when you explicitly specify the path.

### Issue script & Debug output

[code]

### Environment data

[code]
[code]

### Error output

[code]
[c

[2022-03-09 19:24] SaurabhSharma-MSFT commented on #17407
@nazakathussain Thanks for sharing details.  Could you please provide your support case number as well?  I am redirecting this to services team to look into. Thanks

[2022-03-09 20:31] nazakathussain commented on #17407
2203030050002475

[2022-03-09 21:39] danewalton commented on #16842
Closing. Looks like the `$?` check works. I think I was just unfamiliar with Powershell return checking.

[2022-03-09 21:39] #16842 closed

[2022-03-09 22:51] BethanyZhou commented on #17410
Really appreciate for your suggestions.

I will try to pass an empty object to azure rest api first and verify whether it will work as expect. After that, I will update documentation page accordingly.

[2022-03-10 00:06] SaurabhSharma-MSFT commented on #17408
@Gill-Bates I have tried this with module version `2.8.3` and I am not seeing any issues with it and tags are not getting deleted.
![image](https://user-images.githubusercontent.com/38112130/157560232-2e4b73dd-b65d-4060-bfa7-fef118d6df27.png)
Can you please try running Set $DebugPreference='Continue' before running the repro and provide the resulting debug stream over here?

[2022-03-10 00:27] SaurabhSharma-MSFT commented on #17288
@ecormaksin Based on internal discussions it looks like a bug which products team is currently looking into.  I will update you as soon as I have more information on the same.

[2022-03-10 04:16] blueww commented on #16861
@PaulCheng
Would you please help to look how to use oauth to query table entities in PSH?

[2022-03-10 05:23] DuongThiNgocHoa opened #17427 "How to run azure power shell by ansible playbook ?"
### Description

Now i want to run some power shell scipts like New-AzAutomationRunbook -AutomationAccountName 'Testing' -Name 'Runbook02' -ResourceGroupName 'rg' -Type Python3
How to do it by ansible-playbook ?

### Script or Debug output

_No response_

### Environment data

_No response_

### Module versions

_No response_

### Error output

_No response_

[2022-03-10 05:42] dingmeng-xue opened #17428 "Az.Accounts cannot be imported into the latest PowerShell Core 6.x"
### Description

Az.Accounts 2.7.3 cannot be imported into PowerShell Core 6.2.7

### Issue script & Debug output

[code]

### Environment data

[code]

### Module versions

[code]

### Error output

_No response_

[2022-03-10 06:02] dingmeng-xue commented on #17428
It's just a temporarily solution because
dotnetapp2.1 was end of support https://devblogs.microsoft.com/dotnet/net-core-2-1-will-reach-end-of-support-on-august-21-2021/
correspondingly PowerShell Core was end of support https://docs.microsoft.com/en-us/powershell/scripting/install/powershell-support-lifecycle?view=powershell-7.2
Azure PowerShell announced the same in the last year. https://docs.mi

[2022-03-10 06:14] yuna-s opened #17429 "[Feature]: New cmdlets requirement for setting public Access configuration for App Configuration"
### Description of the new feature

Could you add new cmdlets to set Public Access configuration for App Configuration to Az.Configuration module?
![image](https://user-images.githubusercontent.com/38641545/157600816-e02285b4-8f41-45d7-a69f-af82d9fb13b5.png)

I checked the following refernces, but there are no cmdlets for that.
<Az.AppConfiguration Module | Microsoft Docs>
https://docs.microsoft.c

[2022-03-10 08:01] #17104 closed

[2022-03-10 08:01] #12776 closed

[2022-03-10 10:23] navba-MSFT commented on #16119
@emmily Apologies for the late reply. This issue is open for quite sometime. Could you please let us know if you still need any assistance on this issue ? Awaiting your reply.

[2022-03-10 10:36] navba-MSFT commented on #9566
@mathwro Apologies for the late reply. Could you please check if the below snippet helps to achieve your requirement ?

                     -RangeEnd $myIp
$currentFirewallConfig.FirewallRules.Add($myRule)
Set-AzAnalysisServicesServer -ResourceGroupName $resource[1] -Name $resource[2] -FirewallConfig $currentFirewallConfig -PassThru

More Info [here](https://docs.microsoft.com/en-us/powershell/mo

[2022-03-10 10:38] jaltin commented on #17410
@BethanyZhou, thanks for giving it a try!

Do you have any idea of when you will be able to try? And if it works, when can it be expected to be rolled out in a future release?

I am asking this because I am depending on the EmptyDir feature in what I am building, and it helps me for my planning if I can have a rough idea about timelines.

Many thanks!

[2022-03-10 10:40] navba-MSFT commented on #11321
@rahulten-zz Apologies for the late reply. We will update this thread once we have more details on this.

@athipp, @taiwu, @minghan Could you please provide an update on this feature request ? Awaiting your reply.

[2022-03-10 11:24] navba-MSFT commented on #12840
@rybal06 Apologies for the late reply. This issue is open for quite sometime. Could you please let us know if you need any further assistance on this ? Awaiting your reply.

[2022-03-10 11:35] navba-MSFT commented on #8977
@hlarrymoprem Apologies for the late reply. We will update this thread once we have more details on this.

@darshanhs90, @AshishGargMicrosoft Could you please let us know if there are any plans to implement this feature request ?

[2022-03-10 11:40] navba-MSFT commented on #12322
@nfriday Apologies for the late reply. We will update this thread once we have more details.

@jaspkaur28 Could you please provide an update on this ? Awaiting your reply.

[2022-03-10 11:44] navba-MSFT commented on #11038
@jzuchora87 Apologies for the late reply. We will provide an update on this github thread soon.

@vikram-m Could you please provide an update on this issue ? Awaiting you reply.

[2022-03-10 11:52] navba-MSFT commented on #12552
@divgo Apologies for the late reply. This issue seems to be fixed as per the above PR. Please let us know if you have any further questions on this. Awaiting your reply.

[2022-03-10 15:31] dingmeng-xue commented on #17421
We will look into it.

[2022-03-10 15:38] dingmeng-xue commented on #17429
AppConfiguration team, could you share which API can support it?

[2022-03-10 16:32] mpb10 commented on #17274
@grizzlytheodore

We just tested the suggestion to downgrade to Az.Compute 4.20.0 and we confirmed that it still doesn't work. We are getting the same error as we did when we downgraded the entire Az module to version 5.8.0 (Which includes the Az.Compute module). The following is the error message we get when trying to use older versions. We can also see the warning message of the breaking change

[2022-03-10 16:49] grizzlytheodore commented on #17274
@mpb10 thank you for the information. This is helpful for us. We are investigating why/when there was a change in the service side to stop converting VHD files after being uploaded. We will get back to you with updates.

[2022-03-10 19:12] fullmetalcache commented on #16399
Here is a (mostly) full example of using Invoke-AzRestMethod to create a PowerShell 7.1 Runbook and then uploading content for it:

`$scriptContent = Get-Content $ScriptPath -Raw

      $created = Invoke-AzRestMethod -Method "PUT" -ResourceGroupName $ResourceGroupName -ResourceProviderName "Microsoft.Automation" `
          -ResourceType "automationAccounts" -Name "${AutomationAccountName}/runbook

[2022-03-10 19:56] jngibert commented on #17372
I am not currently blocked by this issue because I can use [approx] a dozen lines of PowerShell code to convert and upload the VHD/VHDX to a storage account, and then use the New-AzDiskConfig and New-AzDisk cmdlets to import from the storage account to a managed disk.
The blessing of using the **DirectUploadToManagedDisk** parameter set of the Add-AzVhd cmdlet is that it was supposed to take care

[2022-03-10 20:00] dcaro opened #17438 "[Eng]: Az.Tools.Predictor disables data collection when using Disable-AzDataCollection"
### Description

When `Disable-AzDataCollection` has been executed, the data collection must also be disabled for Az.Tools.Predictor.

[2022-03-10 20:10] grizzlytheodore commented on #17274
In the meantime please follow the workarounds:
For uploading to a blob without intention to attach to a VM:
[Set-AzStorageBlobContent](https://nam06.safelinks.protection.outlook.com/?url=https%3A%2F%2Fdocs.microsoft.com%2Fen-us%2Fpowershell%2Fmodule%2Faz.storage%2Fset-azstorageblobcontent%3Fview%3Dazps-7.3.0&data=04%7C01%7CTheodore.Chang%40microsoft.com%7C57e188ecd2334a5c7f3608da0176fa45%7C72f988b

[2022-03-10 20:57] Drewm3 commented on #14551
This new feature is expected to be released in the April release of Azure Cmdlets.

[2022-03-10 20:59] Drewm3 commented on #16381
This feature request is expected to be available in the April release of the Azure PowerShell cmdlets.

[2022-03-10 22:17] archoversight commented on #17274
@grizzlytheodore previously we could upload the images and they would be resized on the Azure side. This saves a tremendous amount of bandwidth, as we'd only be sending a ~20 GiB file per image.

Expanding all of the images we upload (and the various variants) as required for our various products and teams, is a massive undertaking and increases the bandwidth required to get images into Azure.

It

[2022-03-10 22:33] avirishuv commented on #15481
@isra-fel this has been fixed

https://docs.microsoft.com/en-us/powershell/module/az.compute/new-azvm?view=azps-7.3.0&viewFallbackFrom=azps-6.2.1#parameters

Closing the issue, please feel free to reopen if you see any concerns.

[2022-03-10 22:33] #15481 closed

[2022-03-11 01:57] rybal06 commented on #12840
@navba-MSFT I have noticed that there is a deprecation warning while using the Az module cmdlets which interact with Azure AD that the Az module is being updated to use the newer Graph API rather than the Azure AD Graph API (deprecated). It is likely worth parking this issue until after that change is rolled out, or closing it with details about the ETA of the updated module version.

[2022-03-11 02:48] Francisco-Gamino commented on #17413
This issue was only affecting PowerShell 6.2 users and it was resolved by the released of Az.Accounts `2.7.4`. Closing issue.

[2022-03-11 02:48] #17413 closed

[2022-03-11 02:54] mokanya commented on #2719
Hello @blueww,
How do we implement your recommendation this issue, am getting similar error and i dont know where to make the changes. Can you kindly guide me please?

see below..

02:42:52 - VERBOSE: Performing the operation "Create Archive" on target
02:42:52 - "C:\Users\labadmin\2TierAzureMigration\WebVM-SQLVM-ARMDeploy\AzureResourceGroup44\bin\Debug\staging\AzureResourceGroup4
02:42:52 - 4\DSC

[2022-03-11 05:33] PaulCheng commented on #16861
Most of the TableClient methods are Generic, so you'll need to write a bit more code.
https://github.com/Azure/azure-sdk-for-net/blob/main/sdk/tables/Azure.Data.Tables/src/TableClient.cs

In addition, you will need to implement a small .net standard library defining your derived ITableEntity class.
In this lib, reference azure.data.tables sdk 12.2.0 to match current version az.storage module refer

[2022-03-11 05:40] siromega opened #17442 "Set-AzStorageBlobContent is extremely slow or times out"
### Description

I am having difficulties uploading files to blob storage using Set-AzStorageBlobContent on my Mac w/ PSCore 7.2.1.

The uploads are extremely slow or timeout. While the files I am uploading are a little large (up to 65 MB), I have a 35Mbps upload which should upload the files in a reasonable amount of time. I have validated this speed with speediest.net.

### Issue script & Debug

[2022-03-11 05:57] Tbohunek commented on #16381
Just for `Get-AzVM` or for other `Get-`s?

[2022-03-11 06:25] blueww commented on #2719
@mokanya

If you are upload blob to a premium storage account , you can try to add parameter  "-BlobType Page" to Set-AzStorageBlobContent.
If this does not work, this might be other issue, and please open a new issue by follow the issue teamplate.

[2022-03-11 06:47] blueww commented on #17442
@siromega

The error is "The client could not finish the operation within specified timeout."
It might be caused by your machine has a slow connection from storage server, or the client machine has some issue (like too busy).

Would you like try to upload blob with AzCopy on your machine, and see how it works? you can find how to use azcopy on https://docs.microsoft.com/en-us/azure/storage/common/

[2022-03-11 07:14] #15790 closed

[2022-03-11 08:01] #16597 closed

[2022-03-11 08:01] #12090 closed

[2022-03-11 08:01] #11811 closed

[2022-03-11 14:27] siromega commented on #17442
Thank you for that information about the module being very old. That may have been the problem.

I have updated the az.storage module on my Mac to 4.3.0. It seemed to work this morning, uploading 15MB files in about 10-20 seconds (not the fastest but way better than before). I will try again tonight to see if it was an internet connectivity issue or the module version. But either way I think we ca

[2022-03-11 14:27] #17442 closed

[2022-03-11 15:04] PleaseStopAsking opened #17452 "Failures when passing hashtable from parent to child runbooks"
### Description

We are seeing failures when attempting to pass a hashtable into a parent runbook and then use it to call a child runbook via `Start-AzAutomationRunbook`. We have verified that the parameter getting passed to the Parent runbook is the correct type as well as attempted to convert it to a JSON string and then convert back to a hashtable via `ConvertFrom-Json -AsHashtable` with no luc

[2022-03-11 15:44] fullmetalcache commented on #16399
Used the suggestion from @PramodValavala-MSFT and got it working. Below is a mostly complete example, minus error handling and filling in all the variable values:

``
$scriptContent = Get-Content $ScriptPath -Raw
Invoke-AzRestMethod -Method "PUT" -ResourceGroupName $ResourceGroupName -ResourceProviderName "Microsoft.Automation" `
	-ResourceType "automationAccounts" -Name "${AutomationAccountName}/

[2022-03-11 17:22] SatishBoddu-MSFT commented on #17415
Hello @blindvalentine

 -ApiVersion 2022-01-03  is it the valid API version? Can you provide the referred documentation?

Have you tried other API versions?

![image](https://user-images.githubusercontent.com/62923178/157916206-c7ed1eba-c2b4-42b7-989e-d30685636718.png)

[2022-03-11 17:41] SatishBoddu-MSFT commented on #17372
Hello @jngibert Thanks for the detailed response!
We are routing this to Service Teams attention.

[2022-03-11 20:37] SaurabhSharma-MSFT commented on #17427
@DuongThiNgocHoa Did you look into this [documentation](https://docs.ansible.com/ansible/latest/collections/ansible/windows/win_powershell_module.html) which talks about running Powershell scripts from Ansible if this helps to achieve the same.

[2022-03-12 00:07] dingmeng-xue commented on #17428
Closed it as Az.Accounts 2.7.4 is published.

[2022-03-12 00:07] #17428 closed

[2022-03-12 09:49] dingmeng-xue commented on #17370
This issue is fixed by the latest Az.Compute. Please use it. https://www.powershellgallery.com/packages/Az.Compute/4.24.1

[2022-03-12 09:49] #17370 closed

[2022-03-12 10:46] vitalii-lebedev opened #17454 "Invoke-AzAksRunCommand with help throw a Permission denied error."
### Description

I'm using Powershell on Linux in the Ubuntu subsystem.
I have a helm chart in the folder. This folder is attached with the CommandContextAttachment parameter.

`Invoke-AzAksRunCommand -ResourceGroupName $DestinationResourceGroupName -Name $ClusterName -Command "helm install new-tenant new-tenant" -Force -CommandContextAttachment "yamls"`

The response:

[code]

Execution of
`Invok

[2022-03-13 01:08] blindvalentine commented on #17415
The API versions were listed from the cmdlet. The cmdlet is working now, seems to be a backend problem. Closing the this issue now.

[2022-03-13 01:08] #17415 closed

[2022-03-13 09:34] william-li-nintex opened #17455 "Get-AzMetric only returns Average but no value for Maximum, Minimum"
### Description

When using `Get-AzMetric` following the documentation [here](https://docs.microsoft.com/en-us/powershell/module/az.monitor/get-azmetric?view=azps-7.3.0), it only returns **Average** but never for **Minimum** and **Maximum** values as below screenshot. Just curious to know how to get Minimum and Maximum values as we can see in the Azure Portal.

![image](https://user-images.githubu

[2022-03-13 17:10] martingbrown commented on #10256
@msftbot As stated last time you reminded me: I'm failing to see from the above, what's actually been done? The [documentation for the New-AzSqlDatabaseImport](https://docs.microsoft.com/en-us/powershell/module/az.sql/new-azsqldatabaseimport?view=azps-7.2.0#parameters) has no mention of a -WaitForComplete switch.

[2022-03-13 23:47] Bardski commented on #17370
Sorry DingMeng-Xue,
I had the issue today in MS Learn: https://docs.microsoft.com/en-us/learn/modules/extend-share-capacity-with-azure-file-sync/4-exercise-assess-windows-server-readiness
The suggestion to backrev by DavMHelm worked like a charm, though.
Thanks,
-b

[2022-03-14 00:26] killragtshirts commented on #15657
Hi,

Just wondering what the latest status of this is please?

[2022-03-14 02:14] dingmeng-xue commented on #17370
@Bardski , Thanks for your reporting. Could you help to verify the version you are using? Current fix is just for simple parameter set. If it blocks other scenarios, we need Compute team to look into further.

[2022-03-14 03:01] VeryEarly commented on #17348
Hi @NickGraham101 ,

For ACR source please use parameter -SourceRegistryResourceId instead of -SourceRegistryUri
The value should be the ARM resource id of the source registry

[2022-03-14 03:18] yuna-s commented on #17429
@dingmeng-xue Thanks for your following up.
Hi @Azure/azure-appconfig-team , could you check this issue?

[2022-03-14 07:05] DuongThiNgocHoa opened #17460 "Import Python package for Automation account"
### Description

Now i want to use ansible to import Python package when i have manual downloaded

![image](https://user-images.githubusercontent.com/49944383/158121437-3f0cb1ce-f1c9-48df-8805-5a03c091b91d.png)

How to do it by power shell or cli or ansible ? Thanks

### Issue script & Debug output

[code]

### Environment data

[code]

### Module versions

[code]

### Error output

_No response_

[2022-03-14 09:06] navba-MSFT commented on #17452
@PleaseStopAsking Thanks for reaching out to us. Could you please share the output of `$DebugPreference = 'Continue'` ? Since you confirmed that it was working fine before and recently started to fail, I am also tagging our Service team to confirm if there are any recent changes on our end.

@jaspkaur28 Could you please look into this issue once you get a chance ? Awaiting your reply.

[2022-03-14 09:40] magnus-longva-bouvet commented on #13920
It's not working for me neither. The symptoms are the same as with the other users; the result is empty. Please re-open this issue.

# Environment data

Name                           Value
----                           -----
PSVersion                      7.1.3
PSEdition                      Core
GitCommitId                    7.1.3
OS                             Linux 3.10.0-1160.25.1.el7.x86_6

[2022-03-14 11:12] nExoRek commented on #13573
it does not return an error but it does not return sigininname nor displayname either /:

[2022-03-14 12:29] dingmeng-xue commented on #13573
@nExoRek , could you create a new Github issue and post script and debug message? You can share debug message with setting `$DebugPreference = "Continue"`

[2022-03-14 13:37] brianstringfellow commented on #17336
I have been seeing a similar problems with various other resources, such as storage accounts and virtual networks. The problem typically occurs for a few hours after the resources have been created. I have a support ticket open with Microsoft and the support engineer told me that the problem that I am seeing is due to replication delays between ARM regions.

In the following screen capture, I quer

[2022-03-14 15:11] Agazoth commented on #16992
No, please go ahead and close it.

Thanks for your support.

[2022-03-14 15:16] blueww commented on #16992
Thanks!
Feel free to contact us again if need any further support on Azure Powershell.

[2022-03-14 15:16] #16992 closed

[2022-03-14 16:52] andreamichaelmsft commented on #16539
Hi lymedo, apologies for the late response. The reason Discovery API has a different refresh cadence to the JSON file is because the API follows safer deployment procedures, and rolls out through regions one at a time. The JSON has no such procedures or validation, and so is released globally every week. The API and JSON will never be able to have complete parity -- the JSON doesn't check for bogu

[2022-03-14 17:21] panchagnula commented on #15005
@Kotasudhakarreddy we are getting more cases or reports on this i.e SET is not passing existing tags to the API which is causing the tags to be remove after an update operation on the app using the command. If this was fixed, was this regressed by the latest version?

[2022-03-14 17:34] lymedo commented on #16539
@andreamichaelmsft I completely appreciate what you say. My issue is that there is infrastructure in Azure which reports as not trusted by this API - for example Azure DevOps hosted agents. Following strict rules by only allowing trusted agents to interact with our resource, results in our release pipelines failing. In an ideal world the release of new ranges used by these agents should be aligned

[2022-03-14 19:11] panchagnula commented on #15005
Re-opening to re-test & confirm, due to increasing  of reports.

[2022-03-14 21:15] jimmyca15 commented on #17429
This property was added in `2020-06-01` ([link](https://github.com/microsoft/azure-rest-api-specs/blob/b7ceedcb657cac760383b17627cd2c1f47dd1521/specification/appconfiguration/resource-manager/Microsoft.AppConfiguration/stable/2020-06-01/appconfiguration.json#L951)).

[2022-03-14 21:22] SaurabhSharma-MSFT commented on #17086
@julian-wendt Yes, that is correct that is by design and you need to go through each runbooks individually to get detailed information. Thanks

[2022-03-14 21:29] SaurabhSharma-MSFT commented on #17388
@jonyjesus18 We haven't heard back from you.  Please let me know if you have any questions else we will proceed with the closure of this issue. Thanks.

[2022-03-14 21:31] SaurabhSharma-MSFT commented on #17408
@Gill-Bates We haven't heard back from you.  Please share the required information for further investigation.

[2022-03-14 22:17] SaurabhSharma-MSFT commented on #17382
@ashishmg-gds I could see the same behavior in my environment and checking internally with the products team on the same.

[2022-03-14 23:46] dingmeng-xue commented on #17454
Thanks for reporting. We will look into it.

[2022-03-14 23:47] dingmeng-xue commented on #17455
@VeryEarly , please help look into it.

[2022-03-15 02:07] Francisco-Gamino opened #17475 "[Feature]: Update-AzFunctionAppSetting should support slot settings"
### Description of the new feature

Update-AzFunctionAppSetting does not support slots.

This issue was reported at https://github.com/Azure/azure-powershell/discussions/17309

### Proposed implementation details (optional)

_No response_

[2022-03-15 02:09] Francisco-Gamino commented on #17475
/cc @AnatoliB @stefanushinardi @michaelpeng36

[2022-03-15 02:12] dcaro commented on #16777
@jiasli FYI, let's have a consistent approach on this.

[2022-03-15 02:50] Kotasudhakarreddy commented on #15005
Looking in to it.

[2022-03-15 03:04] shankar5885 commented on #17370
I am also facing same issue since 4 days after my Az module upgrade, There is bug fix, try "Update-Module -Name Az" to have very latest version for Az.Compute with bug fix, it resolved my issue.

[2022-03-15 03:18] Kotasudhakarreddy commented on #15005
@panchagnula I am unable to repro this issue with the latest version of `Az.websites` module. Please find below for your reference

![image](https://user-images.githubusercontent.com/60102891/158299244-ed8dd055-30a6-46dc-bf13-abb461c2819a.png)

[2022-03-15 03:24] Kotasudhakarreddy commented on #15005
@swapnilrkambli please check the permissions as it is returning a `Forbidden` issue.

[2022-03-15 03:28] Kotasudhakarreddy commented on #17253
Closing as the code fix is given.

[2022-03-15 03:28] #17253 closed

[2022-03-15 03:29] #14624 closed

[2022-03-15 04:47] panchagnula commented on #16214
The API doesn't return a paginated list by default anymore i.e if an ASP has more than 100 apps, it won't return just 100 by default with a next link anymore. The API team has disabled it, due to issues found.

[2022-03-15 04:47] #16214 closed

[2022-03-15 07:10] ramaruth commented on #14523
@glloyd2010f Apologies for the delay! we are looking into this, will help you with an update as soon as we get an update from the  product owners.

@[armleads-azure](https://github.com/armleads-azure) Can you please help us with an update? awaiting your response.

[2022-03-15 08:01] #15569 closed

[2022-03-15 09:15] PramodValavala-MSFT commented on #17460
@DuongThiNgocHoa Looks like these aren't supported in PowerShell or CLI _yet_. The API used by the Azure Portal isn't documented but is something you could replicate to achieve this as a workaround in the time being. Note that this being undocumented, could change without notice.

We will check with the concerning team for more details on official support.

[2022-03-15 09:36] navba-MSFT commented on #11455
@o-l-a-v Apologies for the late reply. We will update this thread once we have more details on this.

@archunz-zz Could you please provide an update on this ? Awaiting your reply.

[2022-03-15 09:49] navba-MSFT commented on #12087
@o-l-a-v Apologies for the late reply. We will update this thread once we have more details on this.

@skayani Could you please provide an update on this ? Awaiting your reply.

[2022-03-15 12:17] brianstringfellow opened #17482 "Get-AzResource -Name Filtering Doesn't Work on Descendant Resources"
### Description

The filter on the resource name doesn't work when trying to find a descendant resources. I expected the result to return exactly one resource but it returned every resource of the specified type as if the name filter did not apply.

Expected:
[code]
Actual:
[code]

### Issue script & Debug output

[code]

### Environment data

[code]

### Module versions

[code]

### Error output

[2022-03-15 12:35] Kotasudhakarreddy commented on #15995
closing due to lack of response. Please file a new issue if this is still a problem.

[2022-03-15 12:35] #15995 closed

[2022-03-15 12:45] RakeshMohanMSFT commented on #15855
@ChristopherGLewis Closing this as a duplicate of https://github.com/Azure/azure-powershell/issues/15856

[2022-03-15 12:45] #15855 closed

[2022-03-15 13:11] liykfrank opened #17484 "It takes quite long time to get to a PowerShell command prompt"
### Description

I'm working on a disconnected  Azure Stack Hub.
We have created a vm on this disconnected ASH, and installed az module on it.
Then when we tried to open a PowerShell session it took around 4 minutes.
Further more, even just run "Enable-AzureRmAlias -Scope LocalMachine -ErrorAction SilentlyContinue" still took around 20 seconds.
I guess this was something caused by CRL(certificate-

[2022-03-15 13:36] glloyd2010f commented on #14523
Another question to tag with this, is there a way to get the "what if" results when leveraging 'New-AzResourceGroupDeployment <otherParams> -WhatIf' or 'New-AzDeployment <otherParams> -WhatIf'?? Or will we always need to run a secondary command?

[2022-03-15 13:38] RakeshMohanMSFT commented on #14523
@glloyd2010f thank you for your response. Let me check that as well from our product team and get back to you.
@armleads-azure Need your help here please

[2022-03-15 14:02] dingmeng-xue commented on #17484
@liykfrank , if you just open PowerShell session, the time cost of loading is irrelevant to modules because module should not be imported at that moment. Have you defined profile that runs when PowerShell starts? If yes, please share the profile to us.

[2022-03-15 19:55] solstone commented on #16908
I also am getting this error and think it has something to do with the "enhanced backup" polices.

[2022-03-15 21:03] miked1313 opened #17485 "Get-AzConsumptionBudget 422 error with CSP Azure Plan Subscription"
### Description

We are not able to get Azure Budgets in a CSP Azure Plan Subscription using Get-AzConsumptionBudget and a global admin account from the client's tenant.  A 422 error is returned.

### Issue script & Debug output

[code]

### Environment data

[code]

### Module versions

[code]

### Error output

[code]

[2022-03-15 21:12] janvanaa commented on #16908
Same problem here, both with powershell 7.2.1 and with powershell 5.1

Az.recovery module version 5.2.0

Only when enhanced backup policies are present.

[2022-03-15 21:34] JeffZe-MSFT commented on #13579
@avirishuv Do you have any updates?

[2022-03-16 00:32] liykfrank commented on #17484
@dingmeng-xue , Hi Dingmeng, thank you for your quick reply.
Please find my profile file in blow
`#Begin Azure PowerShell alias import
Import-Module Az.Accounts -ErrorAction SilentlyContinue -ErrorVariable importError

if ($importerror.Count -eq 0) {
    Enable-AzureRmAlias -Module Az.Accounts, Az.Aks, Az.AnalysisServices, Az.ApiManagement, Az.ApplicationInsights, Az.Automation, Az.Backup, Az.Batc

[2022-03-16 02:25] Kotasudhakarreddy commented on #15564
@piwi91 could you please try with latest version 92.10.0) of `Az.Websites` module.

[2022-03-16 03:37] liykfrank commented on #17484
Here attach the debug info, it seems the delay as caused by "sending metric". is it possible to disable this feature when we don't have internet connetion
`PS C:\Users\test>         Enable-AzureRmAlias -debug
DEBUG: 3:31:04 AM - EnableAzureRmAlias begin processing with ParameterSet '__AllParameterSets'.
DEBUG: 3:31:06 AM - using account id 'xx@xx.com'...
DEBUG: AzureQoSEvent: CommandName - Enable-

[2022-03-16 05:00] navba-MSFT commented on #17482
@brianstringfellow Thanks for reaching out to us. Could you please run the below command and check if that helps ?

[code]

Awaiting your reply.

[2022-03-16 06:56] BethanyZhou commented on #17410
Sorry for late response.

We are investigating the way to send -EmptyDir as "{}" to backend. In our previous behavior, we treat "{}" as null. And we need confirm with service team to know is there any impact if we send all "{}"s to backend. The estimated time is unclear by far.

[2022-03-16 07:11] liykfrank commented on #17484
I managed to disable the "data collection" by updating the configuration in AzurePSDataCollectionProfile.json. As in below.
![image](https://user-images.githubusercontent.com/26363251/158534769-79cf0022-aafc-406b-9015-a1e04cf87171.png)
it seems it works well. We didn't see the delay anymore.
![image](https://user-images.githubusercontent.com/26363251/158535208-82d85f54-8fcd-49f5-a2ca-3a94e884b8a0.

[2022-03-16 07:32] #15663 closed

[2022-03-16 11:30] pecjag opened #17499 "Set-AzFrontDoorCdnRoute does not accept only -Route Parameter"
### Description

The documentation & help says that Set-AzFrontDoorCdnRoute should accept a single parameter -Route, but this parameterset does not seem to work:

`Set-AzFrontDoorCdnRoute` -Route $Route

Set-AzFrontDoorCdnRoute: 'resourceGroupName' cannot be null.`

From documentation:

https://docs.microsoft.com/en-us/powershell/module/az.cdn/set-azfrontdoorcdnroute?view=azps-7.3.2

Set-AzFrontDo

[2022-03-16 11:39] pecjag opened #17500 "Set-AzFrontDoorCdnRoute - cannot remove custom domain from a PSAfdRoute"
### Description

I wish to remove the CustomDomainId from a AzFronDoorRoute.

When I try to pass an $null, an empty array, or Empty List using the -CustomDomainId parameter on cmdlet Set-AzFrontDoorCdnRoute, i get the error:

`Set-AzFrontDoorCdnRoute: Cannot validate argument on parameter 'CustomDomainId'. The argument is null, empty, or an element of the argument collection contains a null value.

[2022-03-16 12:07] brianstringfellow commented on #17482
@navba-MSFT Yes, that command works and is the workaround I applied when I encountered the problem.

Should the cmdlet be able to filter resource descendants on the string passed through the `-Name` parameter? The filter works on root resources but not on descendants. I saw an issue (#11692) from about a year ago to fix filtering on child resources but my case involves descendant resources one mor

[2022-03-16 12:43] hiaga commented on #16908
This issue will be fixed next version onwards. Thanks @janvanaa for the feedback

[2022-03-16 17:24] spoorcrystallogy opened #17503 "Get-AzADGroupMember not returning additional properties"
### Description

Get-AzADGroupMember seems to support the -Select parameter, but the output object never returns the extra properties that you can specify, such as userPrincipalName. Invoking the API directly (with Invoke-AzRestMethod for instance) returns the expected properties.

### Issue script & Debug output

[code]

### Environment data

[code]

### Module versions

[code]

### Error output

[2022-03-16 17:34] #16872 closed

[2022-03-16 18:05] mikefrobbins opened #17504 "[Doc]: No examples for Set-AzVMBackupExtension"
### Description

Hello,
While I was doing troubleshooting for VM Backup Extension, I noticed that there was no example provided in the following document:

* [Set-AzVMBackupExtension](https://docs.microsoft.com/powershell/module/az.compute/set-azvmbackupextension)

![image](https://user-images.githubusercontent.com/67425540/157755493-e06156a0-a351-46fb-a8d8-090b3fefd6b5.png)

Can you please update

[2022-03-16 18:05] SaurabhSharma-MSFT commented on #17382
@ashishmg-gds This is a known issue, see [Git Repository or Azure Purview Connection Disconnected](https://docs.microsoft.com/en-us/azure/data-factory/ci-cd-github-troubleshoot-guide#git-repository-or-azure-purview-connection-disconnected). You were right, it also includes tag and basically all factory properties.

Products team is working on address this issue. Tentative ETA is end of April.  Tha

[2022-03-16 18:05] #17382 closed

[2022-03-16 19:24] nExoRek opened #17505 "commands randomly hang after recent Az module update"
### Description

after recent Az module update, many commands randomly hangs totally. I can find similar issues reported in 2o2o related to ADFS (which is our case). I as well notice that it happens very often in shared/server environment, and rarely on personal windows client - but connecting from outside the company. the only thing i can do is to kill entire ps console and ctrl+c doesn't work. i

[2022-03-16 20:20] shenglol commented on #14523
This is a good suggestion, but it's a breaking change which requires a new API version. We'll add this to our team's backlog.

@glloyd2010f You can just use a variable to save the result:
[code]

Closing the issue for now. Please let me know if there are any other questions.

[2022-03-16 20:20] #14523 closed

[2022-03-16 22:11] niander commented on #15619
What was the type of URL that Azure PowerShell cannot recognize? @dingmeng-xue

I am having a similar issue when trying to get access token to a custom AAD app that has as resource ID the following pattern: `api://<tenant_id>/<name>`

That gives me the exactly same error reported here.

[2022-03-16 22:22] doherty100 opened #17506 "Az.Compute: Set-AzVMRunCommand only supports a single Run Command parameter?"
### Description

Sorry if this is a noob question, but I've been trying to pass multiple parameters to a PowerShell script using Set-AzVMRunCommand parameter named "Parameter". This code works:

[code]
This works great if your PowerShell script only needs a single parameter, but what if multiple parameters are required?

### Script or Debug output

_No response_

### Environment data

[code]

###

[2022-03-16 23:16] JustinGrote commented on #17088
FWIW I can't get the serviceprincipal API to update a cert at all, it takes the cert just fine with a 204 no content but it never shows up in the page.

[code]

[2022-03-17 01:34] doherty100 commented on #17506
Figured it out:

[code]

[2022-03-17 01:34] #17506 closed

[2022-03-17 02:25] dingmeng-xue commented on #17505
Hi @nExoRek ,  it seems the situation varies in different network. Here are 2 suggestions.
1. Could you see the same problem if you are using old version of Az.
2. You can try to disable data collection via `Disable-AzDataCollection`. We advice that you turn on it again if there is no problem around it.

[2022-03-17 02:29] dingmeng-xue commented on #17503
@spoorcrystallogy , thanks for report. We should mention it in our doc. The properties supported by select is listed here https://github.com/microsoftgraph/msgraph-sdk-powershell/blob/f498798accd6bcb05a6258d2a129381691d76446/openApiDocs/v1.0/Groups.yml#L584

[2022-03-17 02:49] CaptainFanZzz commented on #17504
The problem should be related to https://github.com/Azure/azure-powershell/issues/16793 . Thanks.

[2022-03-17 04:13] Frey-Wang commented on #16893
Hi @piroinno , this has been fixed. Thanks!

[2022-03-17 04:13] #16893 closed

[2022-03-17 04:57] ashishmg-gds commented on #17382
@SaurabhSharma-MSFT  This is not the same issue mentioned in the link.

Cause specified in doc:
 If you have Include in ARM template selected for deploying global parameters, your service instance is included in the ARM template. As a result, other properties will be removed upon deployment.

We are not doing this.

[2022-03-17 07:48] BethanyZhou commented on #17410
After investigated, we are unable to support sending -EmptyDir as "{}" to backend.

@CaptainFanZzz , could you help update the doc for New-AzContainerGroupVolumeObject to clarify EmptyDir is not supported?

[2022-03-17 09:15] spoorcrystallogy commented on #17503
Thank you @dingmeng-xue
So with `Get-AzADGroupMember -Select` you select the Groups properties, and with `/groups/{group-id}/members?$select` you select the Groupmember properties? I feel like either I'm misunderstanding your answer, or you misunderstood my question, or there's an odd design choice made for the command.

[2022-03-17 09:28] jaltin commented on #17410
@BethanyZhou,

Thank you for verifying this. It is a real pity this can not be supported in ACI. Especially since it is supported in other components such as Azure Resource Manager template.

Is the reason you can't do it a limit on your side or is it a limit in the rest api?

[2022-03-17 10:06] RakeshMohanMSFT commented on #17485
@miked1313 Thank you reaching out we are looking into the issue and will help you with an update as soon as possible. Thank you for your patience and understanding.

[2022-03-17 10:44] navba-MSFT commented on #17482
@brianstringfellow Thanks for getting back. The issue you are referring seems different than the existing issue. Could you please run the below command instead and check if that helps ?

-GalleryImageVersionName 1*

The above command Gets the gallery image versions that starts with "1". More info [here](https://docs.microsoft.com/en-us/powershell/module/az.compute/get-azgalleryimageversion?view=az

[2022-03-17 10:58] nExoRek commented on #17505
disabling data collection didn't change anything,
oldest version i was able to install was 7.2.0 - if try to install 7.1.0 nothing happens, not even an error. I'm still looking for any workaround. I was thinking about Windows Terminal but there is no version for server /:

i all doesn't make sense...

[2022-03-17 10:58] fschmied commented on #10365
See https://github.com/Azure/azure-powershell/issues/9102#issuecomment-537278152 - it seems "hidden" is a Portal-only concept.

[2022-03-17 12:37] brianstringfellow commented on #17482
@navba-MSFT Yes, the command with `Get-AzGalleryImageVersion` works as expected when filtering with the parameter set. Thank you.

[2022-03-17 13:19] kelps commented on #9948
Why was this issue closed? As far as I can tell, there is still no way to do this using the AZ cmdlets. It looks like I can list the app roles assinged to a group, but I can't find a way to add new assignments (there is no way to Update-AzADGroup) and no AppRoleAssignments property on users....

[2022-03-17 13:22] navba-MSFT commented on #17482
@brianstringfellow Thanks for getting back. We will now proceed with closure of this github issue. If you need any further assistance on this issue in future, please feel free to reopen this thread. We would be happy to help.

[2022-03-17 13:22] #17482 closed

[2022-03-17 13:36] kelps opened #17514 "[Feature]: Missing Update-AzADGroup in Az 7.3.2"
### Description of the new feature

Currently there is no way to update Azure AD Groups using the Az Powershell module. I can create, list and remove, but not update. Update is possible using the "old" AzureAD module, as it is being deprecated and doesn't support Powershell Core, I need to use the new module.

### Proposed implementation details (optional)

The implementation should follow the sam

[2022-03-17 17:56] sredman commented on #13964
This feature is now publicly available: https://techcommunity.microsoft.com/t5/azure-sql-blog/import-export-using-private-link-now-in-preview/ba-p/3256192

[2022-03-17 19:20] SaurabhSharma-MSFT commented on #17086
@julian-wendt We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2022-03-17 19:20] #17086 closed

[2022-03-17 20:55] SaurabhSharma-MSFT commented on #17388
@jonyjesus18 We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2022-03-17 20:55] #17388 closed

[2022-03-17 20:56] SaurabhSharma-MSFT commented on #17330
@tradiuz ok, get it. I am redirecting this to respective team to look into this.

[2022-03-17 23:39] SaurabhSharma-MSFT commented on #15447
@Kotasudhakarreddy @antcp, @AzureAppServiceCLI Do you have any updates on this issue ?

[2022-03-17 23:41] SaurabhSharma-MSFT commented on #15522
@Alessar Please let us know in case you have any questions.  Thanks.

[2022-03-17 23:42] SaurabhSharma-MSFT commented on #15799
@antcp, @AzureAppServiceCLI Do you have any updates on this issue.

[2022-03-17 23:44] SaurabhSharma-MSFT commented on #15848
@antcp, @AzureAppServiceCLI Do you have any updates.

[2022-03-17 23:47] SaurabhSharma-MSFT commented on #15261
@armleads-azure Do you have any updates on this issue.

[2022-03-17 23:48] SaurabhSharma-MSFT commented on #16364
@armleads-azure Do you have any updates on this issue.

[2022-03-17 23:49] SaurabhSharma-MSFT commented on #16704
@armleads-azure Do you have any updates.

[2022-03-17 23:50] SaurabhSharma-MSFT commented on #16751
@armleads-azure Do you have any updates.

[2022-03-18 00:42] BethanyZhou commented on #17410
I'm sorry for this pity. And I'm happy you have Azure Resource Manager template to workaround this issue.

The limitation is in our side and probably in rest api side.
- For our side, current logic in our generator will treat null and {} same. This behavior limits us to send {} to backend.
- For rest api side, We are suspecting service side may report {} is invalid value if we pass {} for some oth

[2022-03-18 01:32] dingmeng-xue commented on #15619
For custom AAD app, user needs to authorize Azure PowerShell client app. Add client id 1950a258-227b-4e31-a9cf-717495945fc2. Some tenant requires consent from admin, user needs to do that via Portal. Current Azure PowerShell doesn't support it.

Close this issue now.

[2022-03-18 01:32] #15619 closed

[2022-03-18 01:47] wsmelton commented on #16636
I'm getting this same error with multiple commands in Az module (network, disk). A different character but the same error nonetheless.

![image](https://user-images.githubusercontent.com/11204251/158921167-e30720b1-84c7-4ba9-aec6-cf4ed26b6ba7.png)

[code]

[2022-03-18 08:35] jaltin commented on #17410
`I'm sorry for this pity. And I'm happy you have Azure Resource Manager template to workaround this issue.`

Unfortunately I can't use ARM templates for my implementations, I am dependent on it being added in Powershell (for background, I am starting ACI instances in azure functions using Powershell).

So if you are still investigating, I suggest we do the following:

1. Rename the title of this i

[2022-03-18 09:04] BethanyZhou commented on #17410
Sure, many thanks for your suggestion.

[2022-03-18 13:17] nExoRek commented on #17505
found workaorund!
all works fine with PowerShell 7.2.1

i'm still checking communication with ADFS

[2022-03-18 14:40] premfix commented on #17010
Hello. Any news?

[2022-03-18 17:06] SaurabhSharma-MSFT commented on #16711
@KMoraz I have got the confirmation and this command is intended to be used on local VM objects to update OS properties before VM creation. This is by design and we cannot modify OS properties after the creation of the VM using this command.

[2022-03-18 21:43] thisisanniefang commented on #15574
@jaylabell Hi Jayla, any updates here? We are trying to move forward towards making Standard the default and need this as a prerequisite.

[2022-03-18 23:45] SaurabhSharma-MSFT commented on #17500
@pecjag We are looking into it and get back to you.

[2022-03-19 00:48] doherty100 opened #17534 "Calls to Set-AzVMRunCommand succeed but -Parameter and -ProtectedParameter arguments ignored"
### Description

Value of `-Parameter` argument (Note: square brackets added here for readability):

[code]

Value of `-ProtectedParameter` argument (Note: Square brackets added for readability):

[code]

Call to `Set-AzVMRunCommand` completes:

[code]

Run command is created, but  `parameters` property is empty and `protectedParameters` property is null.

`az vm run-command list --resource-group

[2022-03-19 05:32] navba-MSFT commented on #17452
@PleaseStopAsking Thanks for getting back. I am looking into this issue. I will get back to you once I have an update on this.

[2022-03-19 08:01] #10988 closed

[2022-03-19 13:49] t-bzhan commented on #17499
Hi @pecjag  and @RakeshMohanMSFT , the implementation of Set-AzFrontDoorCdnRoute did not handle the ObjectParameterSet well:
https://github.com/Azure/azure-powershell/blob/main/src/Cdn/Cdn/AfdRoute/SetAzFrontDoorCdnRoute.cs#L97

We will fix the issue in next release.

[2022-03-19 19:52] adi928 commented on #14431
Hey all,

I am facing the same issue with Automation runbook currently when I try to pass in the **WebhookData**.
According to the [documentation](https://docs.microsoft.com/en-us/azure/automation/automation-webhooks#create-a-webhook), it should be converted to JSON using ConvertFrom-Json without any pre-processing. But when I try to use exactly that code, I get an error saying `Invalid JSON primi

[2022-03-19 22:45] brwilkinson opened #17536 "[Feature]: Add Paired Region information to get-azlocation cmdlet"
### Description of the new feature

https://docs.microsoft.com/en-us/rest/api/resources/subscriptions/list-locations

`GET https://management.azure.com/subscriptions/291bba3f-e0a5-47bc-a099-3bdcb2a50a05/locations?api-version=2020-01-01`

[code]

### Proposed implementation details (optional)

update from

Absolute Uri:
https://management.azure.com/subscriptions/b8f402aa-20f7-4888-b45c-3cf086dad9c3

[2022-03-20 12:16] dingmeng-xue commented on #17514
@VeryEarly , please look into it? Is it supported by service API?
BTW, I believe cmdlet description is incorrect https://github.com/Azure/azure-powershell/blob/92e26201a48cddaaea976ca0d732fbbcac9a6ea1/src/Resources/MSGraph.Autorest/custom/New-AzADGroup.ps1#L13

[2022-03-20 14:43] pecjag commented on #17499
Thanks @t-bzhan!

[2022-03-20 14:44] KMoraz commented on #16711
@SaurabhSharma-MSFT I assumed that was the case, which is why I indicated that it was probably a documentation error.

Subtitle should be: _Sets operating system properties during creation of a new virtual machine._

[2022-03-20 15:22] RakeshMohanMSFT commented on #17499
@Thank you @t-bzhan. @pecjag we will now go ahead and mark this issue as closed.

[2022-03-20 22:35] Sandido commented on #16451
The PR to resolve this issue has been merged.
Closing this issue.

[2022-03-20 22:35] #16451 closed

[2022-03-21 01:50] dingmeng-xue commented on #17505
It's great that new version of PowerShell can mitigate this problem. It may be due to fundamental dependencies loaded by PowerShell. Please let us know if you have further question.

[2022-03-21 03:11] RakeshMohanMSFT commented on #17499
Thank you @pecjag for the confirmation, In future if you need further assistance please go ahead and reopen this issue.

[2022-03-21 03:11] #17499 closed

[2022-03-21 05:52] Kotasudhakarreddy commented on #13158
@mmaitre314 here `-ArchivePath` refers to the path of the archive file.  please refer to the [documentation](https://docs.microsoft.com/en-us/powershell/module/az.websites/publish-azwebapp?view=azps-7.3.2) for more details.

[2022-03-21 05:56] BethanyZhou opened #17538 "[Eng]: Test reports failed even test code is not merged into current branch."
### Description

  [xUnit.net 00:03:13.93]     Microsoft.Azure.Commands.Sql.Test.ScenarioTests.DistributedAvailabilityGroupTests.TestManagedInstanceLinkPiping [FAIL]
  [xUnit.net 00:03:14.86]     Microsoft.Azure.Commands.Sql.Test.ScenarioTests.DistributedAvailabilityGroupTests.TestManagedInstanceLink [FAIL]
    X Microsoft.Azure.Commands.Sql.Test.ScenarioTests.DistributedAvailabilityGroupTests.Tes

[2022-03-21 07:31] RakeshMohanMSFT commented on #17485
@miked1313 this is by-design. The SDK is quite old. It only support legacy EA customers - https://docs.microsoft.com/en-us/powershell/module/az.billing/get-azconsumptionbudget?view=azps-7.3.2#notes.

**PowerShell SDK for Consumption is using an older version of Budgets API and few backwards non-compatible items like listing Budgets with filters will not work as expected.**

[2022-03-21 07:58] AmberYangY opened #17539 "The "Confirm" parameter cannot work with any values in the New-AzResourceLock command"
### Description

Users used the following PowerShell command with the "Confirm" parameter to create resource lock for specific resources.
https://docs.microsoft.com/en-us/powershell/module/az.resources/new-azresourcelock?view=azps-7.3.2

According to the above documentation, the "Confirm" parameter should be the "True" or "False"
But users tried all the following values, all of them showed the sam

[2022-03-21 08:01] #16784 closed

[2022-03-21 08:17] Jasonlhy commented on #16214
@panchagnula I roughly tested the issue again today. Get-AzAppServicePlan will still return 100 items by default, do I need to update my PowerShell in order to get more than 100 items?

[2022-03-21 08:24] Queenpuyu commented on #16214
Hello

[2022-03-21 16:37] sarah026 commented on #17265
This "categoryGroup": "allLogs", doesn't seem to be supported either?

[2022-03-21 21:37] SaurabhSharma-MSFT commented on #17408
@Gill-Bates Please let us know if you need any help on this else, we will proceed with the closure of this case.

[2022-03-21 21:51] SaurabhSharma-MSFT commented on #17288
@ecormaksin Products team is still analyzing to fix this issue.  I do not any ETA as of now but as a workaround, can you create it with UI.

[2022-03-21 23:17] smithg6 commented on #17256
Looks like the latest version 7.3.0 is still showing the unclear error message as of today if you use start-date or end-date.

[code]

[2022-03-21 23:45] SaurabhSharma-MSFT commented on #14647
@russellds Apologies for the delayed response. I see that this issue is opened long time ago and no further activity had taken place. So wanted to check if you are still looking for assistance on this query? Please let us know .

[2022-03-21 23:51] SaurabhSharma-MSFT commented on #14763
@adityabalaji-msft @pvrk Following up to know if there is any update on the prioritization of this issue.

[2022-03-22 02:24] dingmeng-xue commented on #17010
Sorry for the late response. We didn't figure out how to create application template via Portal because Azure PowerShell doesn't support. Could you share us the approach of creating it?

[2022-03-22 03:45] adityabalaji-msft commented on #14763
Apologies for the delay in getting back. There is a parallel (related) work stream being tracked where we are exploring surfacing usage information at not just the level of the vault, but also at the level of the protected server (based on customer asks). As part of this, we are looking to surface these details via Azure Resource Graph (ARG) as well. Once this is in place, it should be possible to

[2022-03-22 07:25] #17013 closed

[2022-03-22 08:01] #11119 closed

[2022-03-22 08:12] dingmeng-xue opened #17553 "[Doc]: Description of parameter name of Get-AzDataBoxEdgeDevice is incorrect"
### Description

Description of Name is incorrect. It should be device name rather than resource group name.

https://docs.microsoft.com/en-us/powershell/module/az.databoxedge/get-azdataboxedgedevice?view=azps-7.3.2#parameters

Errors are in below code.
https://github.com/Azure/azure-powershell/blob/4c81c230b401d458476d2a6a0dce3224d81d7750/src/DataBoxEdge/DataBoxEdge/Common/Cmdlets/Devices/DataBox

[2022-03-22 08:15] Saglodha commented on #16039
Hi @sdn77 , apologies for delay here.

I notice we have -ZoneRedundant switch in the latest PS module that should fulfil your requirement, Can you confirm if that works as expected?

Reference: https://docs.microsoft.com/en-us/powershell/module/az.servicebus/new-azservicebusnamespace?view=azps-7.3.2

[2022-03-22 08:21] Saglodha commented on #16403
Hi @WilfriedWeidner, thanks for bringing this to our attention.

I would triage internally and keep you posted with the updates for China cloud supporting latest API version.

[2022-03-22 08:25] Saglodha commented on #16258
@BethanyZhou, looks like @v-Ajnava could re-record test cases and submit them for approvals. Please feel free to reach out directly if in case you need additional information from Eventhubs side.

[2022-03-22 08:25] #16258 closed

[2022-03-22 08:56] Escape17 opened #17554 "Unexpected script limit encountered when running New-AzKustoScript"
### Description

 We are seeing the following error in our CI/CD pipeline when running New-AzKustoScript.

New-AzKustoScript -ClusterName <redacted> -DatabaseName  …
     |      ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
     | [BadRequest] Cannot create new script since the number of
     | scripts was exceeded. Each service can contain up to '50'
     | scripts.

This seem

[2022-03-22 09:24] scratch85 opened #17555 "Add-AzADGroupMember returns always "$null" instead of a Boolean"
### Description

Docs say that Add-AzADGroupMember return a Boolean. I would expect therefor it returns $true if successful or $false if unsuccessful.
https://docs.microsoft.com/en-us/powershell/module/az.resources/add-azadgroupmember?view=azps-7.3.2#outputs

Truth is, it return $null all the time.
[code]

I would prefer the cmdlet to really return $true or $false instead of $null. So please eithe

[2022-03-22 10:43] Kotasudhakarreddy commented on #15799
Taking a look in to this.

[2022-03-22 11:01] dmetcalfe-work commented on #16636
Does anyone have a workaround for this? I'm also experiencing the same issue following [microsoft documentation ](https://docs.microsoft.com/en-gb/azure/backup/backup-client-automation#registering-using-the-ps-az-module)

![image](https://user-images.githubusercontent.com/76944419/159467454-923219cb-572e-49e9-877b-e976c23ff273.png)

[2022-03-22 12:27] PleaseStopAsking commented on #17452
@navba-MSFT The child runbook is currently at 5.1 though we have tested at 7.1 as well. The issue persists at 5.1

[2022-03-22 13:12] VeryEarly commented on #16975
Hi @oising ,
This was fixed already, please try latest Az.Resources, feel free to reopen if there are any further questions.

[2022-03-22 13:12] #16975 closed

[2022-03-22 13:53] dingmeng-xue commented on #17539
Hi @AmberYangY , thanks for reporting.

`-Confirm` is a switch parameter. You can try to use `-Confirm:$true`.

[2022-03-22 14:58] PramodValavala-MSFT commented on #17554
@Escape17 I would suspect this is due to sub resources from being deleted asynchronously after deleting the database. Could you give it a shot after some time and check to see if you are still seeing the same problem?

[2022-03-22 15:27] PramodValavala-MSFT commented on #17539
@AmberYangY Hope @dingmeng-xue answer clears things up. Here is the reference for [switch parameters](https://docs.microsoft.com/en-us/powershell/module/microsoft.powershell.core/about/about_functions_advanced_parameters?view=powershell-7.2#switch-parameters).

Usually, you could just use `-Confirm` in your commands.

[2022-03-22 18:12] vrapolinario commented on #15656
Has this been worked on? I'm seeing different behavior for Managed Identities when using PowerShell versus Azure Portal and CLI.
Here's the scenario:
If I create a new cluster on the Azure Portal or Azure CLI, the default behavior is to set up with Managed Identities. The CLI even has an option to especially flag `--enable-managed-identity`. The implementation of the preview feature gMSA works fin

[2022-03-22 18:47] doherty100 commented on #17534
Worked with @D1v38om83r to figure out correct wayt to form up value for -Parameter and -ProtectedParameter arguments:

[code]

However it does not appear that `-RunAsUser` or `-RunAsPassword' arguments work because VM agent runs as `NT Authority/System` which does not support Windows runAs commands. So please keep this bug open.

[2022-03-22 19:57] amjads1 commented on #17534
Looking into the issue.

[2022-03-22 20:34] miked1313 commented on #17485
Hi @RakeshMohanMSFT Why is the PowerShell SDK for Consumption using an older version of the Budgets API?  Shouldn't it be updated to use the budgets API version 2019-10-01-preview or later, and/or have a parameter to be able to specify the older API version 2018-01-31 or a newer one?

We as a CSP partner would like to be able to login to a customer's tenant and use the Get-AzConsumptionBudget cmdl

[2022-03-22 20:49] doherty100 commented on #17534
I am abandoning `Set-AzVMRunCommand` and will use custom script extension instead which will deliver a second script that will run as a scheduled task which does support runAs type commands. There doesn't seem to be any good guidance around this runAs scenario in our documentation.

[2022-03-22 21:00] parched commented on #16636
Not sure if it's related, but I'm getting

Powershell version: 5.1.17763.2268
Az version: 7.3.2

[2022-03-22 21:16] amjads1 commented on #17271
Looking into the issue.

[2022-03-22 21:16] amjads1 commented on #17276
Looking into the issue.

[2022-03-22 21:17] amjads1 commented on #17372
Looking into the issue.

[2022-03-22 21:59] adminnz opened #17565 "Import-AzApiManagmentApi fails when OpenApi specification has E Notation numbers"
### Description

When trying to import an Api into Azure APIM with OpenApi v3 yaml (or json) files that have E Notation numbers. It will always fail with "ValidationError".

[code]

In spending a huge amount of time tracking down this issue it appears that Azure APIM Is using microsoft/OpenAPI.NET to parse the specification.

This has been fixed in the preview 1.3.1 version of Microsoft.OpenAPI.Re

[2022-03-22 23:32] parched commented on #16636
My issue was user error, I had an extra `<something>/` in one of the parameters, which causes 404 and some html to be returned from the API. I assume `Get-AzServiceBusKey` was trying to parse this as JSON, ideally it would stop when it gets the 404 and print an error message.

@wsmelton, your issue may be similar.

[2022-03-23 01:45] adityabalaji-msft commented on #16636
Hi, this is the regression happening in PowerShell version from Az.RecoveryServices 4.7.0 module. We have identified a bug and we plan to fix it in one of our upcoming releases.

As a workaround, could you try using the previous Az.RecoveryServices module version which is 4.6.0 or use portal to download the vault credential file.
Steps to download from portal:
1. Click on recovery services vault.

[2022-03-23 02:00] RakeshMohanMSFT commented on #17485
@miked1313 Thank you for your response and I do understand your concern. But current the work around is to use the above REST API to unblock you. But i will definitely raise this as a concern and request product team to consider having/updating  powershell to achieve the same.

Thank you once again for your patience and understanding.

[2022-03-23 04:39] navba-MSFT commented on #17452
@PleaseStopAsking Thanks for getting back. I had involved the Product Owners to look into this issue. The action plan you need to follow now is to use internal cmdlets in parent runbook as below. This should help to address this issue. Please test this and let me know if you have any queries. Awaiting your reply.

[code]

[2022-03-23 06:19] Frey-Wang commented on #15705
Still working on this.

[2022-03-23 06:22] VeryEarly commented on #17503
Hi @spoorcrystallogy,

"Get-AzADGroupMember" returns type directoryobject (or list of directoryobject) because groupmember could be user, group, or service principal.

In this case when our cmdlets tries to deserialize the response it use the directoryobject model which lost some properties of user.

A simple work around would be something such as:
[code]

[2022-03-23 07:08] VeryEarly commented on #17555
Hi @scratch85 ,

To request output from cmdlet returns nothing by default, the parameter "-PassThru" is suggested by PowerShell convention. Please try append this parameter.

[2022-03-23 07:10] VeryEarly commented on #17307
Hi @gump0882 ,

Can you try the latest version of Az.Resources or provide the version used by the error?

[2022-03-23 08:01] #15976 closed

[2022-03-23 09:05] liykfrank commented on #17484
Sorry for not getting back to you sooner. These days are crazy busy. Thanks a million @dingmeng-xue.
We tried to start PowerShell session without profile and execute the scripts later.
And we notices that the following script took about 3 minutes.
`Import-Module Az.Accounts -ErrorAction SilentlyContinue -ErrorVariable importError`.

I think we can close this issue now. As we have disabled the data

[2022-03-23 09:05] #17484 closed

[2022-03-23 09:17] VeryEarly commented on #17256
Hi @smithg6 ,

Thanks for report this bug, I've made fix in #17571 ,
Error message will now be:
[code]

[2022-03-23 09:25] VeryEarly commented on #17088
Hi @JustinGrote ,

I think the cert and secrets are tied to applications not service principals, though the service principal API seems to exposed such properties.

The legacy ServicePrincipal cmdlets also called the application APIs so I think you might want to stick to Application cmdlet or APIs

[2022-03-23 09:31] hhughes0 commented on #16636
Thanks @adityabalaji-msft appreciate your quick response.
**I have downgraded to version 4.6.0 of the Az.RecoveryServices module and this is now working as expected.**

Look forward to this being fixed in newer versions.

[2022-03-23 11:07] gump0882 commented on #17307
Hi @VeryEarly

Thanks for getting back ! I figured out that its not the Az.resources version but in reality a parameter whose value being encrypted was unable to get decrypted :-)

Sorry for making noise !

[2022-03-23 12:30] PleaseStopAsking commented on #17452
@navba-MSFT I can test this and report my findings. It will take some time as I will need to introduce some additional logic as my parent runbook is written in such a way that it can be ran as a runbook or locally.

[2022-03-23 12:31] navba-MSFT commented on #17452
@PleaseStopAsking Sure. I shall wait for the updates from you.

[2022-03-23 13:00] PleaseStopAsking commented on #17452
@navba-MSFT Testing resulted in the same message/failure as before. `Ran into an issue: Line 37 returned 'Cannot bind parameter 'Parameters'. Cannot convert the "{Example:ThisIsSparta!}" value of type "System.String" to type "System.Collections.IDictionary".'`

If other variations in the requests are needed, please advise.

**Calling parent runbook**
[code]

**Updated Parent Runbook**
[code]

[2022-03-23 14:53] JCDeist commented on #16612
[@azureSQLGitHub ](https://github.com/azureSQLGitHub) Is this being looked at or reviewed? We are experiencing this issue as well and forcing version 3.5 of az.sql is less than ideal.

[2022-03-23 15:01] dmetcalfe-work commented on #16636
Hi @adityabalaji-msft, thankyou for letting us know it's a known issue 👍

Do you know if there's an equivalent command for the AZ CLI or how we'd construct new vaultcredentials using the AZ CLI?

Downgrading Azure powershell across all machines will be a pain and difficult to maintain.

[2022-03-23 15:57] smithg6 commented on #17256
Thanks @VeryEarly, good to know. So you're saying that because I'm using the older "ApplicationId" param, that is not compatible with the StartDate and EndDate params, and that is causing the failure?

[2022-03-23 18:00] SaurabhSharma-MSFT commented on #17222
@chiragg4u Do you have any updates on this issue.

[2022-03-23 18:23] SaurabhSharma-MSFT commented on #16572
@CCostaT I have received a confirmation that the PS team is working on updating our PS cmdlets, which includes this fix. Potential ETA is early April. Thanks.

[2022-03-23 18:43] toutougabi commented on #17210
WE have the same issue on 7.2.1 nothing seems to be happening, CPU is mostly at 0 but goes to 3-4% once in a while

[2022-03-23 22:55] martingbrown commented on #10256
.

[2022-03-24 02:16] dingmeng-xue opened #17583 "Support HCX Addone in AZ.VMware"
### Discussed in https://github.com/Azure/azure-powershell/discussions/17580

<div type='discussions-op-text'>

<sup>Originally posted by **Trevor-Davis** March 23, 2022</sup>
For Az.VMware module there is already the ability to add 2 of the 3 add-ons via Az Powershell.  We are missing the ability to add HCX as a VMware Add-on.

the Az CLI command does exist, which is https://docs.microsoft.com/en

[2022-03-24 04:14] VeryEarly commented on #17256
Hi @smithg6 ,
Yes, the start/end date is for application password when application is not provided (New-AzADServicePrincipal will create application, and then serviceprincpal), since application ID is already available, no need to specify start/end date.

[2022-03-24 08:01] #12760 closed

[2022-03-24 08:01] #11012 closed

[2022-03-24 09:19] CCostaT commented on #16572
Hi @SaurabhSharma-MSFT , thank you for the feedback. I'll give it another go once the fix is released.

[2022-03-24 13:33] prabhakarreddy1234 opened #17605 "Add-AzStorageAccountNetworkRule doesn't add multiple IPs"
### Description

As per the [documentation](https://docs.microsoft.com/en-us/powershell/module/az.storage/add-azstorageaccountnetworkrule?view=azps-7.3.2#examples)  array of IP addresses can be added. But the same command as shown in the example throws below error.

`Add-AzStorageAccountNetworkRule: Values for request parameters are invalid: networkAcls.ipRule[*].value. For more information, see -

[2022-03-24 14:34] blueww commented on #17605
@prabhakarreddy1234
It looks server not allow "10.0.0.0/24".
If you change to other IP like `"20.11.0.0/16","232.0.18.177/7"`, it work well on my side.

There might be some restriction added by server after we add the sample.
I will update the sample.

Would you like try to add other IPs? If you have business reason to add "10.0.0.0/24", please raise an issue in Azure Portal - Help & Support, and

[2022-03-24 15:22] tiagolock commented on #10624
Up,
Still having this issue.
AZ.Network version 4.15.0
Powershell Core version 7.2.1
Any updates ?

[2022-03-24 15:41] PramodValavala-MSFT commented on #17460
@DuongThiNgocHoa Here is the [official API](https://github.com/Azure/azure-rest-api-specs/blob/main/specification/automation/resource-manager/Microsoft.Automation/stable/2018-06-30/python2package.json) to import packages for python2 and the same requests for python3 are applicable except replacing `python2Packages` with `python3Packages` in the URL paths.

You need the PUT request to import a new

[2022-03-24 18:37] jaylabell commented on #17271
@grizzlytheodore can you please look into this issue?

[2022-03-24 18:41] jaylabell commented on #17276
@grizzlytheodore can you please take a look at this issue?

[2022-03-24 18:43] jaylabell commented on #17372
@grizzlytheodore can you please take a look at this issue?

[2022-03-24 18:50] jaylabell commented on #17534
@amjads1 Can you please take a look at this issue?

[2022-03-24 19:15] amjads1 commented on #16041
@Sandido Can you please update if the PS team was able to investigate on this issue and the next steps here?

[2022-03-24 19:18] amjads1 commented on #17270
Apologies for the delay response. Let me go through the details and update back shortly.

[2022-03-24 19:43] Sandido commented on #16041
I asked @dingmeng-xue  about it to see if they can investigate further.

[2022-03-24 19:51] panchagnula commented on #16214
Hmm this is weird, the feature team hasn't re-enabled default pagination on this AFAIK. Let me re-check with the team

[2022-03-24 20:14] amjads1 commented on #16041
@dingmeng-xue Could you please share any updates from your investigation on this issue?

[2022-03-24 21:59] grizzlytheodore commented on #17372
@jngibert thank you for much for sharing your insight and experience. I will be looking into this issue. Hoping to share some good news with you soon

[2022-03-24 22:43] SaurabhSharma-MSFT commented on #17565
@adminnz We are looking into it and get back to you for any questions.

[2022-03-25 06:09] navba-MSFT commented on #17452
@PleaseStopAsking Thanks for getting back. Sharing the sample snippet here. Hope this helps.

[code]

Here is the Job Exection:

![image](https://user-images.githubusercontent.com/57353862/160064291-8bd34148-812b-45a2-a0d1-2402994c427e.png)

[2022-03-25 06:24] KrishnaG-MSFT commented on #16399
Update on PS7.1 GA that's mentioned in one of the above comment: The tentative ETA is moved to Q4 CY22 as service is undergoing some of the major architecture level changes.

[2022-03-25 06:42] jaesoni commented on #10624
Hi, we are looking into this and will get back soon. Thanks

[2022-03-25 07:20] swapnilrkambli commented on #15005
PS C:\Users\techv> get-installedmodule az

Version              Name                                Repository           Description
-------              ----                                ----------           -----------
7.3.2                Az                                  PSGallery            Microsoft Azure PowerShell - Cmdlets to manage resources in Azure. This module is compatible with P

[2022-03-25 07:33] navba-MSFT commented on #17605
@prabhakarreddy1234 Could you please let us know if you had a chance to look at the above comment? Please let us know if you have any further questions on this. Awaiting your reply.

[2022-03-25 07:44] prabhakarreddy1234 commented on #17605
@navba-MSFT   yes it works with `"20.11.0.0/16","232.0.18.177/7"`. So only  `10.*` IPs doesn't get added using that command. If the documentation can be updated that's good enough for now.

[2022-03-25 07:47] navba-MSFT commented on #17605
Thanks @prabhakarreddy1234 for getting back. PR https://github.com/Azure/azure-powershell/issues/17605 has been filed by @blueww and it is pending under review now.

[2022-03-25 08:01] #17327 closed

[2022-03-25 08:18] blueww commented on #17605
@navba-MSFT
It looks it's an ip address with mask 24 can't be added.
I have raised a PR to updated the doc, https://github.com/Azure/azure-powershell/pull/17588

[2022-03-25 08:56] blueww commented on #17605
@navba-MSFT

The help fix PR is merged, should be public when the next release is out (target 4/5).
I will close this issue.

Feel free to contact us again if need any further assistance on Azure Powershell.

[2022-03-25 08:56] #17605 closed

[2022-03-25 10:19] dan-dimitrov opened #17621 "Set-AzActionGroup action does not accept tags in the same format as other resources"
### Description

Error message received when attempting to use Set-AzActionGroup prior to using New-AzConsumptionBudget

### Issue script & Debug output

[code]

### Environment data

[code]

### Module versions

[code]

### Error output

[code]

[2022-03-25 10:40] #17553 closed

[2022-03-25 11:38] swapnilrkambli commented on #15005
Also using CLI to scaleup/scaledown works fine within the same environment/tags/policy. Also same behavior is noted using Portal.
Something is broken/missing in powershell implementation.

[2022-03-25 17:49] SaurabhSharma-MSFT commented on #17408
@Gill-Bates We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2022-03-25 17:56] pjar-msft opened #17623 "Get-AzAdSpCredential outputs no object, but does contain rest body results in the Debug stream"
### Description

Migrating a script from AzCLI to AzPS:
The AzCli command `az ad sp credential list` which returns a valid result for a valid ObjectId.

I **expect** the apparent AzPS equivalent `Get-AzAdSpCredential` to output _an_ object for the known-good ObjectId, with properties close-enough to the AzCLI result.

**Instead**: `Get-AzAdSpCredential` returns no object on the Output stream, alth

[2022-03-25 18:52] pjar-msft commented on #17623
https://github.com/Azure/azure-powershell/issues/16983 is a _future_ issue I will encounter, if `Get-AzAdSpCredential` were outputting any object

[2022-03-26 08:01] #17268 closed

[2022-03-26 14:22] magic-happenz opened #17626 "Az.Resources not including contructor for New-AzADAppCredential"
### Description

Running New-Object Microsoft.Azure.PowerShell.Cmdlets.Resources.MSGraph.Models.ApiV10.IMicrosoftGraphPasswordCredential as documented in https://github.com/Azure/azure-powershell/blob/main/src/Resources/Resources/help/New-AzADSpCredential.md is not working.

### Issue script & Debug output

[code]

### Environment data

[code]

### Module versions

[code]

### Error output

[code]

[2022-03-26 14:24] magic-happenz commented on #17626
Running ` New-Object Microsoft.Azure.PowerShell.Cmdlets.Resources.MSGraph.Models.ApiV10.MicrosoftGraphPasswordCredential` is working locally but fails in Azure Functions with error:
`Cannot find type [Microsoft.Azure.PowerShell.Cmdlets.Resources.MSGraph.Models.ApiV10.MicrosoftGraphPasswordCredential]: verify that the assembly containing this type is loaded. Exception : Type : System.Management.Aut

[2022-03-26 14:40] magic-happenz commented on #16870
Hello, can we reopen this issue? I don´t think it is working as expected/documented. According to official cmdlet docs the object should be `Microsoft.Azure.PowerShell.Cmdlets.Resources.MSGraph.Models.ApiV10.IMicrosoftGraphPasswordCredential` and not `Microsoft.Azure.PowerShell.Cmdlets.Resources.MSGraph.Models.ApiV10.MicrosoftGraphPasswordCredential` however it is not working like that on my machi

[2022-03-26 14:52] magic-happenz commented on #16870
I can confirm that:
`$NewSecretData = New-Object Microsoft.Azure.PowerShell.Cmdlets.Resources.MSGraph.Models.ApiV10.MicrosoftGraphPasswordCredential
$NewSecretData.DisplayName = "test"
New-AzADAppCredential -ObjectId $OId -PasswordCredentials $NewSecretData`
is creating a secret with the desired display name. However, this is:
1. not correct according to https://docs.microsoft.com/en-us/powershell

[2022-03-27 09:33] Aviv-Yaniv commented on #17554
Thanks for contacting @Escape17
Code shows scripts should have been removed upon DB deletion
Could you please open a ticket / provide with cluster name and details so we can check the process here?

[2022-03-27 15:59] dingmeng-xue commented on #17623
Hi @pjar-msft , thanks for reporting.

I cannot reproduce your issue. The output of ` Get-AzADServicePrincipal` is MicrosoftGraphServicePrincipal. I tried Tee-Object, it works as well. Could you check whether there is output `Get-AzAdSpCredential -ObjectId '????????-????-????-????-????????????'`

[2022-03-27 16:00] dingmeng-xue commented on #17626
@VeryEarly , please help to look into it.

[2022-03-28 00:48] LucasYao93 commented on #14436
@johndowns,
According to your debug output. The Get-AzPrivateEndpointConnection used 2020-10-01 api version.
But it should use 2019-08-01 api version. Please upgrade Az.Network and Az.Account to the latest version.

[2022-03-28 01:41] VeryEarly commented on #17626
The error in description is because you are trying to instantiate an interface, can you please paste the scripts executed in Azure function and the error output as well?

[2022-03-28 02:21] Kotasudhakarreddy commented on #14436
please use the latest version of `Az.Modules`. I am unable to repro the issue with latest module.

![image](https://user-images.githubusercontent.com/60102891/160315626-1b4b6386-8d41-4111-91ea-6ded051cb0f0.png)

[2022-03-28 02:40] Kotasudhakarreddy commented on #17408
An IcM investigation is going on this issue.

[2022-03-28 03:58] Kotasudhakarreddy commented on #12796
Same behavior exists in portal as well. So, Azure App services doesn't support swapping a production slot as a source to non-production slot. For any other questions on the same please rise a new ticket to Azure Portal team.

[2022-03-28 03:58] #12796 closed

[2022-03-28 03:59] Kotasudhakarreddy commented on #13158
closing due to lack of response. Please file a new issue if this is still a problem.

[2022-03-28 03:59] #13158 closed

[2022-03-28 06:48] Escape17 commented on #17554
Thank you @Aviv-Yaniv.

Unfortunately the cluster has now been deleted as it became unusable for us due to this issue. I will try to reproduce on a new cluster and follow up with details here.

[2022-03-28 07:11] Aviv-Yaniv commented on #17554
Thank you @Escape17 for writing me back and for sharing details!
Found the root cause, working on the root fix for the issue and to get such clusters out from from bad state
No need to reproduce, altogether if there are any living clusters that need remediation please provide their details

[2022-03-28 07:18] Kotasudhakarreddy commented on #15799
Currently we are not working on the issues related to `AzRM` modules. Hope you got the solution to invoke the API directly as mentioned in [#661](https://github.com/Azure/azure-powershell/issues/661#issuecomment-910392083).

PowerShell team is working on it to create `Az` modules commands. you can follow [#661](https://github.com/Azure/azure-powershell/issues/661) for updates.

[2022-03-28 08:43] magic-happenz commented on #17626
That is actually the command and error from Azure functions. Trying to set the following:
[code]
Fails with message:
`EXCEPTION: Cannot find type [Microsoft.Azure.PowerShell.Cmdlets.Resources.MSGraph.Models.ApiV10.IMicrosoftGraphPasswordCredential]: verify that the assembly containing this type is loaded. Exception : Type : System.Management.Automation.PSArgumentException ErrorRecord : Exception :

[2022-03-28 08:53] superfliege opened #17637 "Get-AzStorageSyncServer Outputs PSRegisteredServer AgentVersionExpirationDate, AgentVersionStatus not working"
### Description

Hello all,

unfortunately the call to "Get-AzStorageSyncServer" does not work correctly.
The properties AgentVersionExpirationDate, AgentVersionStatus are always empty here unfortunately.

We have an agent expiring, but still these fields are empty.

Could you please fix this?

### Issue script & Debug output

[code]

### Environment data

[code]

### Module versions

[code]

###

[2022-03-28 09:28] Gill-Bates commented on #17408
The error does not always occur regularly.

[2022-03-28 09:40] Kotasudhakarreddy commented on #17408
@SaurabhSharma-MSFT - Sorry for reopening it. I have reacted to a wrong thread.
@Gill-Bates - Issue is unable to repro. Please use the latest `Az.Websites` module and try.

[2022-03-28 09:40] #17408 closed

[2022-03-28 12:44] sarah026 commented on #14012
I have this problem, do we need to raise a new issue or open this one?
It seems to say OK implying the settings have been removed, but they're still there

[code]

Remove-AzDiagnosticSetting  -Name $DiagnosticSettingName  -ResourceId $resourceID

[2022-03-28 13:04] dingmeng-xue commented on #16572
@LucasYao93 , please check whether upcoming version of Az.StreamAnalyticsJob supports managed identities.

[2022-03-28 13:09] cbellee opened #17656 "New-AzPortalDashboard cmdlet does not work"
### Description

New-AzPortalDashboard fails to parse a hashtable converted from a JSON dashboard definition downloaded from the portal.
The attached JSON dashboard definition was downloaded from an existing simple dashboard definition created in the portal in order to test creating a new dashboard definition using PowerShell. The commands and output are shown below.

[portal.txt](https://github.c

[2022-03-28 13:34] coderkname commented on #15793
This doesn´t work from "Invoke-AzContainerInstanceCommand" .

Example:
Invoke-AzContainerInstanceCommand -ContainerGroupName $CGname -ContainerName $Cname -ResourceGroupName $RGname -Command "echo hola"

OCI runtime exec failed: exec failed: container_linux.go:380: starting container process caused: exec: "echo hola": executable file not found in $PATH: unknown

So weird, the az cli version of con

[2022-03-28 15:22] grizzlytheodore commented on #17372
@jngibert, I see you bring up a good point and I see two possible solutions. And I would love to hear from your perspective on what would be a better user experience
Here are the two solutions

Solution 1:
Allow Add-AzVhd to upload to an existing managed disk using [-DiskName] and [-ResourceGroupName].
This will allow you to create a managed disk with your configuration then upload to it directly.

[2022-03-28 15:46] panchagnula commented on #16594
@Kotasudhakarreddy I don't own SWA PS commands - so please don't tag on these. These commands are auto generated by PS team - let them attend to these. I don't have any contact on SWA team to help. @dingmeng-xue please take a look & contact the right team as needed. My team doesn't own SWA PS support.

[2022-03-28 15:58] PleaseStopAsking commented on #17452
@navba-MSFT Ok, I think we are headed in the right direction now but one clarification. When using your example to convert the child parameters from PSCustomObject to a hashtable, I do get back the GUID as you did but if you check the $ht value, its blank. I believe this is due to the $ChildRunbookInputParams getting converted to System.String via the automation account. Can you confirm if this is

[2022-03-28 16:44] pjar-msft commented on #17623
use of Tee-Object is a distraction, simply demonstrating that it doesn't assign or appear in the transcript.  It would've been clearer for me to provide this (and as previously, the "?"-guid is the id of the known-good object, accessible with azcli):
[code]
Any further version checks I could run? Maybe some property/quality of the SpCredential that would keep it from returning?

[2022-03-28 16:55] jngibert commented on #17372
Solution 2 seems the best. I feel this way because creating a managed disk first (for solution 1) would require the use of two cmdlets (New-AzDiskConfig and New-AzDisk) ... whereas solution 2 only requires the use of the New-AzDiskConfig cmdlet. Making solution 2 just a bit more efficient.

Q: Would the new parameter for solution 2 be better if it was [-DiskConfig] ? This would better communicate

[2022-03-28 20:01] brianlehr opened #17660 "[Feature]: Add warning for users of eventual change of default az network public-ip create"
### Description of the new feature

In the latest profile and the profiles that use the same api-version as latest profile, the default public IP used for creation with "az network public-ip create" will be changed from Basic to Standard.  In advance of eventual breaking change, would like to add warning for users.

### Proposed implementation details (optional)

_No response_

[2022-03-28 20:03] brianlehr opened #17661 "[Feature]: Add warning for users of eventual change of default for "az network lb create" and "az network lb frontend-ip create""
### Description of the new feature

In the latest profile and the profiles that use the same api-version as latest profile, the default public IP used for creation for an LB frontend with "az network lb create" and/or "az network lb frontend-ip create" will be changed from Basic to Standard. In advance of eventual breaking change, would like to add warning for users.

### Proposed implementation d

[2022-03-28 20:07] brianlehr commented on #17661
wrong tree - closing

[2022-03-28 20:07] #17661 closed

[2022-03-28 20:10] brianlehr commented on #17660
wrong tree- closing

[2022-03-28 20:10] #17660 closed

[2022-03-28 22:39] SaurabhSharma-MSFT commented on #17637
@superfliege We are looking into it and get back to you if any additional information is required.

[2022-03-29 00:18] SaurabhSharma-MSFT commented on #16711
@KMoraz Thanks for your suggestions. I have submitted PR to update the documentation.

[2022-03-29 00:19] #16711 closed

[2022-03-29 00:22] dingmeng-xue commented on #16594
Hi Sisira, I know. Bot sends message just when I changed the label. I marked with "service" and "service attention" label means it requires the fix on service side or api spec.

[2022-03-29 01:01] Kotasudhakarreddy opened #17663 "WebApp:Set-AzWebAppSlot command with ' -MinTlsVersion' is not setting TLS version for WebApp Slots"
### Description

Set-AzWebAppSlot command with ' -MinTlsVersion' is not setting TLS version for WebApp Slots.

### Issue script & Debug output

[code]

### Environment data

[code]

### Module versions

[code]

### Error output

_No response_

[2022-03-29 01:02] #15005 closed

[2022-03-29 03:01] #17663 closed

[2022-03-29 03:04] johndowns commented on #14436
Thank you - I can confirm this is fixed in the latest version of the modules.

[2022-03-29 03:04] #14436 closed

[2022-03-29 06:02] Agazoth opened #17667 "Get-AzADUser -Search fails on pagination"
### Description

If a Search returns paginated results, FollowingNextLink gets corrupted

We have more then 100 users with "konsulent" in the job title. When quering these, the first barch is returned, but the the query fails on the nextLink run.

[code]
Expected result is a list of more then 100 users

Actual result is an error

From the debug result it is clear, that the nextLink uri is wrong: `

[2022-03-29 06:05] navba-MSFT commented on #17452
@PleaseStopAsking Thanks for getting back. We tried the exact below runbook and it is working as expected at our end. Could you please share a repro ?
![image](https://user-images.githubusercontent.com/57353862/160544199-0f00687e-67f2-4da8-9a87-d45665bd6bca.png)

[2022-03-29 07:36] #15799 closed

[2022-03-29 07:37] Kotasudhakarreddy commented on #15522
closing due to lack of response. Please file a new issue if this is still a problem.

[2022-03-29 07:37] #15522 closed

[2022-03-29 07:40] Kotasudhakarreddy commented on #15447
Will take a look in to it.

[2022-03-29 08:01] #13151 closed

[2022-03-29 08:01] #13107 closed

[2022-03-29 09:43] navba-MSFT commented on #15180
@dataders Apologies for the late reply. I am looking into this issue. I will get back to you once I have more details.

[2022-03-29 09:58] ioeifcss commented on #16870
@magic-happenz What version of Az PowerShell are you using in your codebase?

I'm using 7.2.0 and the following works (by contrast, the same snippet did NOT work in 7.1.0):

[code]

[2022-03-29 10:01] magic-happenz commented on #16870
@ioeifcss yes I am using that version too and it works for me locally as well but it doesn't in Azure Functions and that example is also not according to official docs. Furthermore this cmdlet has a -DisplayName parameter that does not work either.

[2022-03-29 10:07] ioeifcss commented on #16870
That's really strange. Have you verified that your Function App is definitely pulling down v7.2.0?

I've got my code excerpt working on Windows and Linux build agents, so I would have hoped it would work for you on a Function App too.

[2022-03-29 10:19] navba-MSFT commented on #15202
@Satak Apologies for the late reply. Sharing the example from the [docs](https://docs.microsoft.com/en-us/powershell/module/az.migrate/register-azmigrateprojecttool?view=azps-7.3.2) that Registers a tool with the migrate project.:

[2022-03-29 10:26] navba-MSFT commented on #15228
@johnmart82 Could you please let us know if you had a chance to look at the above comment ? Please let us know if you have any follow-up questions on this. Awaiting your reply.

@blueww Do you have any recent updates to share on this ?

[2022-03-29 10:28] magic-happenz commented on #16870
Same here, after testing locally I was confident it will work in Functions too but it doesn't and I am using the latest version there as well. Still wondering why this is neither documented correctly nor you can simply use the -DisplayName parameter....

[2022-03-29 12:17] scratch85 commented on #17555
@VeryEarly thanks for that hint, I tried the "-PassThru" parameter and at first glance it looked ok. Further tests showed, that it just always returns $True, even when errors occur.

Here is my testcode:
[code]

**Case 1 - successful execution**
[code]
Hey that seemed to work ...

**Case 2 - just rerun the same to check if there is $True or $False in case the object already exists**
[code]

Still

[2022-03-29 14:40] ryanewillis opened #17673 "get-azwebpublishingprofile command ignoring cloud registration of private cloud and defaulting to public azure."
### Description

Hello,
What is the default behavior for get-az cli commands? I have a private (onprem) Azure Stack Hub stamp which is registered, but when running specific az commands, it seems to ignore the cloud reg and defaults to public cloud? This may be an endpoint issue I but I cannot track down which one?

(MS info and example are listed [here](https://docs.microsoft.com/en-us/powershell/

[2022-03-29 16:42] grizzlytheodore commented on #17276
@fowl2 thank you for sharing this. We will take a look and share the solution plan with you soon.
For now, please remove the "&" from your file name.

[2022-03-29 20:20] nexocentric commented on #8364
I'm currently dealing with issues on related to this bug. Regardless of where it is fixed, what would be a viable work around for someone running into this issue.

I've searched quite a bit on the web and the threads related to this are right on the nose in terms of problems, but there are no solutions.

In my `psd1` file, if I specify `RequiredModules = @('Az')` I run into the issue.

I do not wa

[2022-03-29 20:28] brwilkinson commented on #16586
Please ... please ... please ... please... please... please... please...

please can we remove this feature ?

How many people have sent a ratings request ?

![image](https://user-images.githubusercontent.com/3605266/160700483-eb0c62c5-d439-4335-9152-2ee4508af1cc.png)

This is EXTREMELY frustrating.

_I can only say that if I walked into your Office and put a quite distracting object on your clean

[2022-03-29 21:15] KacieKK commented on #17565
Hey @adminnz , APIM will try to prioritize this issue in future planning, thanks for reporting!

[2022-03-29 23:16] dcaro commented on #16586
@brwilkinson this additional line was an experiment that we did to understand better how to prompt users for feedback in a command line tool.
We will remove this in the upcoming release of Az.Tools.Predictor.

[2022-03-29 23:18] brwilkinson commented on #16586
Thank you @dcaro 🙏🏼

[2022-03-30 01:24] VeryEarly commented on #17555
Hi @scratch85 ,
I suspect you executed above 4 cases in same powershell process. Please try initiate different PowerShell instance for each use case or set $Add to $null before each execution.

The intention of "-PassThru" is convenient for user to write something like "if ($Add) {}", otherwise the error action could be silent and there are no ways to know whether the previous cmdlet was successfu

[2022-03-30 02:23] Kotasudhakarreddy commented on #15564
closing due to lack of response. Please file a new issue if this is still a problem.

[2022-03-30 02:23] #15564 closed

[2022-03-30 03:23] Kotasudhakarreddy commented on #15447
@prittelm I am unable to repro this issue in the latest version of `Az.Websites` module. Please try with latest module.

![image](https://user-images.githubusercontent.com/60102891/160744910-5df8f8d7-8456-49db-93b5-c4b69b83fd5b.png)

[2022-03-30 03:39] panchagnula commented on #13554
@dingmeng-xue this is an ask for Swagger/ SDK to be updated correctly - please help us transfer this to azure-rest-api-spec project so the right folks can take a look at this - not an PS command problem

[2022-03-30 04:08] dingmeng-xue commented on #17667
Yes, I can reproduce that problem. @VeryEarly , please check which layer has the problem.

[2022-03-30 06:53] blueww commented on #15228
@navba-MSFT
I have ping SRP server team for the fix from server side.

[2022-03-30 08:32] Agazoth commented on #17667
The exact same error exists for Get-AzADGroup. I assume it uses the same underlying error.

[2022-03-30 09:00] william-li-nintex commented on #17455
May I ask if there's an update on this please? Thanks

[2022-03-30 13:42] dingmeng-xue commented on #17455
@william-li-nintex , metric returns the result according to resource type and metric. You can search `dtu_consumption_percent` on page https://docs.microsoft.com/en-us/azure/azure-monitor/essentials/metrics-supported#microsoftsqlserversdatabases. The aggregation type is "average". The return result is by design.

[2022-03-30 13:53] dingmeng-xue commented on #17621
@dan-dimitrov , it is an inconvenience introduced during cmdlet design. You can use below approach to create dictionary
[code]

[2022-03-30 16:01] CaptainFanZzz opened #17680 "[Doc]: Initialize-AzMigrateReplicationInfrastructure : unknown value for -Scenario parameter"
### Description

When updating the example of  Initialize-AzMigrateReplicationInfrastructure, I don't know which value I should take for -Scenario.
https://docs.microsoft.com/en-us/powershell/module/az.migrate/initialize-azmigratereplicationinfrastructure?view=azps-7.3.2

[2022-03-30 16:08] CaptainFanZzz opened #17681 "[Doc]: New-AzApplicationGatewayPrivateLinkConfiguration -ipconfiguration doesn't work"
### Description

When updating the example of New-AzApplicationGatewayPrivateLinkConfiguration, I don't know which value I should take for -ipconfiguration.
https://docs.microsoft.com/en-us/powershell/module/az.network/new-azapplicationgatewayprivatelinkconfiguration?view=azps-7.3.2

[2022-03-30 17:50] pjar-msft commented on #17623
The ObjectId is correct and is taken from the portal.

- `az ad sp credential list --id <MyObjectId>` returns json describing a credential
- `Get-AzADServicePrincipal -ObjectId <MyObjectId>` returns a PSADServicePrincipal
- `Get-AzADSpCredential -ObjectId <MyObjectId>` returns nothing

BUT, I think I've worked it out: the **AzCLI command** misled me about the powershell Nouns involved, which overl

[2022-03-30 17:50] #17623 closed

[2022-03-30 19:57] grizzlytheodore commented on #17372
@jngibert thank you for your input. I also agree with your [-DiskConfig] comment. I will share the improvement plan that we will be releasing next release (4/28) with you soon.

[2022-03-30 20:00] adminnz commented on #17565
@RakeshMohanMSFT I see there is a "needs-author-feedback" tag, what feedback do you need to get this issue resolved?

[2022-03-30 20:32] william-li-nintex commented on #17455
@dingmeng-xue  Thanks for your reply. The reason I raised this is because the **max/min** data is available in the metrics per below screenshot, just wondering is there a way to retrieve the data, either using PowerShell or Api. Thanks.
![image](https://user-images.githubusercontent.com/89058536/160925474-fe899970-1360-46c9-9c1c-df50566e40de.png)

[2022-03-30 21:34] SatishBoddu-MSFT commented on #17500
Hello @pecjag

May i know why are you using the 'Set' command for removing the AzFrontDoorCdnCustomDomain?

Have you tried: [Remove-AzFrontDoorCdnCustomDomain](https://docs.microsoft.com/en-us/powershell/module/az.cdn/remove-azfrontdoorcdncustomdomain?view=azps-7.3.2)

[code]

Also see this command: [Remove-AzFrontDoorCdnRoute](https://docs.microsoft.com/en-us/powershell/module/az.cdn/remove-azfro

[2022-03-30 21:38] pecjag commented on #17500
Hi Satish,

I think that cmdlet removes the Custom Domain from the Front Door, doesn't it?
I was trying to remove the association of a custom domain from a Route object (but leave it on the Front Door).

[2022-03-31 00:13] craiglindsay1 opened #17683 "Some New-AzVM options do not work."
### Description

When creating a new Azure vm with new-azvm, the -OSDiskDeleteOption and -DataDiskDeleteOption options do not work.  They specify that they will take a string input of Delete or Detach.  You can specify any string you want to no effect.
 If you specify Delete, the delete disk option is not changed on the VM in Azure.

Similarly, using "set-AzVMOSDisk -vm $vm -deleteoption delete" a

[2022-03-31 01:44] jiannystein commented on #17210
Same issue on 7.2.2
![image](https://user-images.githubusercontent.com/41028418/160959377-eb5b3d6a-ceba-49fa-a2fc-176b489f4dfd.png)

[2022-03-31 01:49] dingmeng-xue commented on #17681
Hi Service team, current example may confuse customer because they have no idea how to create variable `privateLinkIpConfiguration1` for input parameter

[2022-03-31 01:54] VeryEarly commented on #17626
Hi @magic-happenz ,

For Azure Function, I don't think the assembly was loaded when you try to call the constructor, please try execute one cmdlet before it, for example: Get-AzADApplication.

The -DisplayName means the display name of the application it cannot be used with -ObjectId, they belong to different parameter sets.

[2022-03-31 04:11] navba-MSFT commented on #15180
@dataders I tried to do a repro in my test instance and I did not receive any error while running command “Resume-AzSynapseSqlPool” to a DW that is already resumed.
But, if you expect any error, may be you can handle this from PowerShell with the parameter “-ErrorAction SilentlyContinue” which doesn’t indicate any output with errors. (Note : You will not see any error when this parameter is used a

[2022-03-31 04:13] navba-MSFT commented on #17452
@PleaseStopAsking A quick follow-up to check if you had a chance to look at my above comment. Awaiting your reply.

[2022-03-31 04:31] t-bzhan commented on #12104
@grayo24 , all commands under Az.FrontDoor module will not prompt for confirmation unless you have specified the "-Confirm" in the command explicitly. It should not have any impact on the non-interactive mode. Let me know if you still have questions.

[2022-03-31 04:31] #12104 closed

[2022-03-31 05:54] dingmeng-xue commented on #16677
Value of default profile is current or other context in Azure PowerShell. For instance, below code uses current context to fetch data lake store item. Please reopen this issue if there is any further question.
[code]

[2022-03-31 05:54] #16677 closed

[2022-03-31 06:15] RakeshMohanMSFT commented on #17565
@adminnz Apologies, it was mistake.

[2022-03-31 06:27] dingmeng-xue commented on #16568
Please add try 3 times with 30s sleeping time between each try.

[2022-03-31 08:54] magic-happenz commented on #17626
@VeryEarly thank you for the clarification. I decided to use the Graph API now.

[2022-03-31 09:19] HarukaMatsumura opened #17688 "The status parameter of Event Hub namespace resource (Get-AzEventHubNamespace output) is Hard-coding..."
### Description

We can get the resource details of the Event hub namespace using Get-AzEventhubNamespace.
-ref: https://docs.microsoft.com/en-us/powershell/module/az.eventhub/get-azeventhubnamespace?view=azps-7.3.2

The command result shows "Status" parameter. But "Status" does not include in output "PSNamespaceAttributes" Class properties.
It seems the value of "Status" parameter comes from the

[2022-03-31 12:41] dingmeng-xue commented on #17626
@magic-happenz , Sorry for inconvenience. There are 2 problems around your question.
1. `IMicrosoftGraphPasswordCredential` used by your script is an interface. You need to use its concrete class type. For instance `Microsoft.Azure.PowerShell.Cmdlets.Resources.MSGraph.Models.ApiV10.MicrosoftGraphPasswordCredential`. If New-Type is the first line in your script, you have to import module explicitly

[2022-03-31 12:43] magic-happenz commented on #17626
@dingmeng-xue Thank you very much for the clarification. That way it is working.

[2022-03-31 14:25] CannonHax commented on #17210
It really is running slow.  I executed the "Install-Module -Name Az -Scope CurrentUser -Repository PSGallery -Force" command over 5 minutes ago, and I'm not seeing anything yet.

[2022-03-31 14:36] brendanla commented on #16908
@hiaga when is the next version due? Thanks.

[2022-03-31 14:52] thiagosantos commented on #15998
@adrianhall any news about this issue?
I have a script that should update my SSL certificates using let's encrypt and I can't cause I'm running in the same issue @saurabhvyas9 detailed.

[2022-03-31 15:13] CannonHax commented on #17210
Ok, finally seeing some action

![image](https://user-images.githubusercontent.com/81432601/161089392-f755a765-1312-467a-828a-b1edb02e9dfe.png)

[2022-03-31 15:55] adrianhall commented on #17565
This is not a powershell issue per-se, so I'll close after this.  It is actually a bug in our OpenAPI parsing code, which we fixed a couple of weeks ago.  It's currently rolling out to all services.  A service deployment generally takes approximately 4-5 weeks so you should see this bug fixed once the deployment reaches your environment.

[2022-03-31 17:38] SaurabhSharma-MSFT commented on #17673
@ryanewillis We are looking into it and get back to you.  Thanks.

[2022-03-31 17:53] bmoore-msft commented on #14706
This has been added to the backlog

[2022-03-31 19:35] DaveRuijter commented on #16036
Ping :)

[2022-03-31 19:37] PSDale opened #17691 "[Feature]: Get-AzAutomationSoftwareUpdateConfiguration Include includedKbNumbers and excludedKbNumbers"
### Description of the new feature

Currently the Get-AzAutomationSoftwareUpdateConfiguration does not return the Included KB Numbers and the Excluded KB Number.  These IDs are available on the REST API:

https://management.azure.com/subscriptions/[subscriptionID]/resourceGroups/[resourceGroup]/providers/Microsoft.Automation/automationAccounts/[automationAccount]/softwareUpdateConfigurations/Stand

[2022-03-31 22:17] DrorOzgaon opened #17692 "[Feature]: Azure App Configuration: Update-AzAppConfigurationStore - Add option to enable/disable public network access"
### Description of the new feature

https://docs.microsoft.com/en-us/powershell/module/az.appconfiguration/update-azappconfigurationstore?view=azps-7.3.2

It is not currently possible to pass the -PublicNetworkAccess parameter to enable or disable the public network access. This is possible in Azure CLI with the --enable-public-network parameter (https://docs.microsoft.com/en-us/cli/azure/appconfi

[2022-04-01 00:00] SaurabhSharma-MSFT commented on #17683
@craiglindsay1 I am seeing the same behavior in my environment and checking internally on this issue.  I will update you as soon as I have more information.

[2022-04-01 00:01] SaurabhSharma-MSFT commented on #17688
@HarukaMatsumura We are looking into it and get back to you.

[2022-04-01 01:23] beerai commented on #12304
Just posting that this is still an issue in the latest version of Az. Installing 2.6.0 fixed the issue.

[2022-04-01 06:53] Saglodha commented on #16403
@WilfriedWeidner - I went through few configurations and could observe that the api-version :2021-06-01-preview should be supported in Azure China clouds. Can you please retry the operation and let me know if you still face the issue? Thanks

[2022-04-01 08:01] #17419 closed

[2022-04-01 08:01] #16119 closed

[2022-04-01 08:01] #12552 closed

[2022-04-01 08:01] #11038 closed

[2022-04-01 08:01] #9566 closed

[2022-04-01 10:29] m-soltani opened #17702 "Az.Network -> Set-AzApplicationGatewaySslCertificate does not work as expected"
### Description

[code]
does not accept ```ResourceId```of the SSL Certificate and therefore the operation for updating and existing Ssl certificate with a new version does not work.

However, this is not the case when using AzureCli:
[code]
. Since here the ```--ids``` parameter is being used and updating the ssl certificate works as expected. Should `ResourceId` also be accepted as Input paramet

[2022-04-01 12:23] WilfriedWeidner commented on #16403
Thank you for check the configuration.
I have test the service bus with the actual Powershell and version of Az.ServiceBus 1.8.0 and it works with the Chinese environment again.
For me the issue is resolved.

[2022-04-01 12:23] #16403 closed

[2022-04-01 16:50] prittelm commented on #15447
@Kotasudhakarreddy Confirmed. The issue has been resolved after Az.Websites upgrade to v2.10.0.

[2022-04-01 16:50] #15447 closed

[2022-04-01 22:51] NattyMojo opened #17704 "[Feature]: New-AzSqlDatabaseExport auth with Access Token"
### Description of the new feature

Currently the New-AzSqlDatabaseExport cmdlet only allows access through Sql credentials or ADPassword. Proposing the option to authenticate through an Access Token generated with the Get-AzAccessToken cmdlet. This other form of authentication would allow for secure access to the SQL DB Export functionality without having to hand over SQL admin credentials or spe

[2022-04-02 01:31] dingmeng-xue commented on #16698
Report it because issue was closed automatically due to linked PR was merged.

[2022-04-02 02:55] VeryEarly commented on #17667
Hi @Agazoth ,

Thanks for contributing the neat fix, however to make this change roll out next release, our process is to update generation branch first. I have made new PR https://github.com/Azure/azure-powershell/pull/17705 , and will list your contribution in next release anyway.

Thanks

[2022-04-02 07:22] dingmeng-xue opened #17706 "[Eng]: Skip azure-powershell-bot account from GenerateExternalContributors.ps1"
### Description

azure-powershell-bot is service account for automation job. It should be excluded.

[2022-04-02 07:25] dingmeng-xue commented on #17692
@lijinpei2008 , let's update it in this month.

[2022-04-02 08:54] #13245 closed

[2022-04-02 08:55] isra-fel commented on #13245
The fix by @mbentancour was merged. Thanks for your contribution!
We are targeting end of this month for a new release.

[2022-04-03 03:37] jaspkaur28 commented on #17691
Adding @riva-yadav from Update management to investigate.

[2022-04-03 10:28] m-soltani commented on #17702
based on the implementation :
[code]
the old certificate is being remove and a new one would be added, effectively replacing the old one.  The new certificate is being created using the following implementation:

[code]
Here it is obvious the that the ```sslCertificate.Id```  is being `NotSet`, loosing the track of the certificate which should supposedly be updated.

[2022-04-04 04:37] navba-MSFT commented on #17452
@PleaseStopAsking Please let me know if you need any further assistance on this issue. Awaiting your reply.

[2022-04-04 05:03] ahanafusa opened #17709 "New-AzAutoscaleRule command's rule parameters cannot be empty."
### Description

New-AzAutoscaleProfile command's rule parameters cannot be empty.
So, New-AzAutoscaleProfile command cannot create Auto Scaling for 'Scale to a specific instance count'.

### Issue script & Debug output

[code]

### Environment data

[code]

### Module versions

[code]

### Error output

_No response_

[2022-04-04 10:41] Saglodha commented on #11459
Hi @itsmaryann - I spent some time prepping for the environment and could reproduce the issue. We would investigate this internally.

However, as talked about in earlier part of thread we should also look at slicing down the number of queues from one namespace and having multiple namespaces for better performance.

[2022-04-04 11:31] itsmaryann commented on #11459
That's great @Saglodha! Thanks.
We haven't had any performance issues so far. This cmdlet is used whenever we want to change properties on the queues and topics, which is infrequent. We could use REST APIs for that, but Powershell is nicer to quickly get started.

[2022-04-04 14:30] PleaseStopAsking commented on #17452
@navba-MSFT Working on repro this from scratch on my end. Will provide update shortly.

[2022-04-04 17:17] kwill-MSFT commented on #16870
FYI, you don't need to create a MicrosoftGraphPasswordCredential object, you can just use a Hashtable.  This is also mentioned in the docs.

[code]

The `Cannot bind argument to parameter 'ApplicationId' because it is an empty string.` error was resolved after updating to the latest Az cmdlets.

[2022-04-04 20:13] ryanewillis commented on #17673
This command does work correctly -

az webapp deployment list-publishing-profiles --name "<name of web app> " --resource-group "<RG>" --subscription "<Subs_name or Subs_id>" --output json

[2022-04-04 20:48] fschmied opened #17711 "Import-AzAksCredential is missing the Public-FQDN functionality"
### Description of the new feature

With a private cluster, AKS will create two DNS entries: a private one and a public one. `Import-AzAksCredential` imports a kubeconfig with the private DNS name.

Sometimes, you need the public DNS name, e.g., when the machine you're connecting from can't resolve the private one. Azure CLI's `az aks get-credentials` therefore has a `--public-fqdn` option.

`Impo

[2022-04-04 22:33] bebravosch opened #17712 "Azure KeyVault Extension for PowerShell Secret Management requires Azure Resource Read Permission to create Secrets."
### Description

When a user tries to create a Secret in KeyVault using the PowerShell Secret Management it fails if the user doesn't have Read Role Assignment over the Azure Resource in addition to KeyVault Access Policy Secret permission. Creating the Secret using Az.KeyVault Set-AzKeyVaultSecret cmdlet works without needing this Read Role Assignment over the Azure Resource. Once Read Role Assig

[2022-04-04 22:36] rybal06 opened #17713 "Get-AzStorageBlobByTag - Method not found: 'System.Collections.Generic.IAsyncEnumerable'"
### Description

While executing this cmdlet:
[code]
The following is returned:
[code]

In reading the docs, it seems like the TagFilterExpression synax being used is correct:
[code]

### Issue script & Debug output

[code]

### Environment data

[code]

### Module versions

[code]

### Error output

[code]

[2022-04-05 00:50] kevinblumenfeld commented on #17712
I am also having this issue.

[2022-04-05 00:52] kevinblumenfeld commented on #17712
Perhaps @SteveL-MSFT can provide some insight?

[2022-04-05 02:08] miked1313 commented on #17485
Hi @RakeshMohanMSFT Do you know if the Rest API [https://docs.microsoft.com/en-us/rest/api/consumption/budgets/get](https://docs.microsoft.com/en-us/rest/api/consumption/budgets/get) is supported by Partner Center Delegated Administration and if there is any documentation for how to obtain a token to make that API call?

Our use case is that we are a Partner and need to check configured Budgets ac

[2022-04-05 07:40] aboyinthebox commented on #17370
This is now resolved for MS Learn Module

One your Active Sandbox Try Running

OR

Then

That starts a new powershell session

New-AzVm -ResourceGroupName learn-d2a8d1e3-0259-4d64-a7ec-8348a719b240 -Name "testvm-eus-01" -Credential (Get-Credential) -Location "East US" -Image UbuntuLTS -OpenPorts 22 -PublicIpAddressName "testvm-01"

will work successfully now!

[2022-04-05 08:01] #17336 closed

[2022-04-05 10:35] dzeping96 commented on #13337
Hi, is there any methods to retrieve RefreshToken? Previously it will store within TokenCache, but it is set as null on purpose now and there is no something similar as Get-AzAccessToken, anybody have a workaround for this? Thank you.

[2022-04-05 11:52] scratch85 commented on #17555
I cannot confirm this. I tested the same 4 cases from above with a slight change in code:

[code]

I even ran it with using `$Add1`, `$Add2`, ... instead of just `$Add`.

The result with `-PassThru` set, always is `$True`.

[2022-04-05 11:53] william-li-nintex commented on #8975
The documentation is still [here](https://docs.microsoft.com/en-us/powershell/module/az.websites/get-azappserviceplanmetrics?view=azps-0.10.0), ijust wondering is this idle now? Thanks

[2022-04-05 14:49] mcaraway56 opened #17716 "[Feature]: Request that 'Null' be added as an accepted value for the -OsType parameter for New-AzDiskUpdateConfig"
### Description of the new feature

I have hundreds of data disks that have erroneously had the OsType parameter set.  This causes Azure to display metrics for the OS rather than the data disk.

I can clear the OsType parameter by submitting the following:
$diskupdateconfig = New-AzDiskUpdateConfig
But I cannot apply the new setting because Null is not an accepted value:
Update-AzDisk -ResourceGro

[2022-04-05 14:55] dazaffino opened #17717 "Azure API for gov - Enable diagnostic settings for management groups"
### Description of the new feature

This works in commercial:
https://docs.microsoft.com/en-us/rest/api/monitor/management-group-diagnostic-settings/create-or-update

This is what I see from a USGov tenant:

![image](https://user-images.githubusercontent.com/88405601/161782329-7f264dfc-5d9b-41e0-9014-c0e4028c98f1.png)

{"code":"BadRequest","message":"Configuration 'managementgroupactivitylogdiagno

[2022-04-05 17:15] SaurabhSharma-MSFT commented on #17702
@m-soltani We are looking into it and get back to you for any additional information.

[2022-04-05 17:24] SaurabhSharma-MSFT commented on #17713
@rybal06 We are looking into it and get back to you for any additional information.

[2022-04-05 18:48] SaurabhSharma-MSFT commented on #17288
@ecormaksin Products team has created a PR for the fix but it will take time update to Production environment.
We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2022-04-05 18:48] #17288 closed

[2022-04-05 18:48] Satak commented on #15202
Tool parameter is not documented what values it can have. How can you register Azure Migrate tool to Azure Migrate project? That should the most common use case and it is not documented what the -Tool parameter should be.

[2022-04-05 19:01] SQLCanuck opened #17720 "[Feature]: Get-AzRecoveryServicesBackupContainer does not currently support container type sqlagworkloadcontainer"
### Description of the new feature

SQL Server Availability Group backups when configured utilize a container type named **sqlagworkloadcontainer**, however the module currently does not allow specifying this type of container.

### Proposed implementation details (optional)

In the module's Container parameter, add **sqlagworkloadcontainer** as a valid container type.

[2022-04-05 20:20] doherty100 commented on #17534
@D1v38om83r and @amjads1 I abandoned use of VM Run Commands because RunAs functionality using a domain account is not working. I used custom script extensions and Windows task scheduler instead. Here are some links to the approach I used:

* [030-vm-jumpbox-win.tf](https://github.com/doherty100/azuresandbox/blob/master/terraform-azurerm-vnet-app/030-vm-jumpbox-win.tf): Terraform configuration that

[2022-04-05 22:18] elvismangarae opened #17721 "Set-AzAlertProcessingRule Invalid DateTime Format Bug"
### Description

The new Set-AzAlertProcessingRule cmdlet:
Below parameters only accept values in string representation of datetime format yyyy-MM-dd hh:mm:ss
-ScheduleStartDateTime
-ScheduleEndDateTime
Below parameters only accept values in string representation of time format hh:mm:ss
-ScheduleReccurenceStartTime
-ScheduleReccurenceEndTime
-ScheduleReccurence2StartTime
-ScheduleReccurence2EndTim

[2022-04-06 00:01] dingmeng-xue commented on #17709
Thanks for reporting. We will look into it.

[2022-04-06 02:47] wyunchi-ms commented on #17421
Hi @phealy , can `%USERPROFILE%\.ssh` be created first on your environment?

[2022-04-06 02:58] dingmeng-xue commented on #15186
It is supported by https://www.powershellgallery.com/packages/Az.KeyVault/4.3.0

[2022-04-06 02:58] #15186 closed

[2022-04-06 04:16] dingmeng-xue commented on #10922
This feature can be supported by AppSettings of WebApp. Close this issue now.

[2022-04-06 04:16] #10922 closed

[2022-04-06 05:16] robbinscp commented on #17713
Seeing the same thing here, using `Az.Storage` version 4.4.0 and Azure Cloud Shell.

[code]

[2022-04-06 05:16] wyunchi-ms commented on #17454
Hi @vitalii-lebedev , as your log shows:
[code]
`nonroot` doesn't have permission to access `.helmignore`. I think you need to grant the permission for the file first.

[2022-04-06 07:40] blueww commented on #17285
@pranavsista
Powershell release Az.7.4.0 is already released, which support create storage context with customized B/T/Q/F endpoint.
I will close this issue as its already supported in PSH.

Feel free to contact us again if need any further assistance on Azure Powershell.

[2022-04-06 07:40] #17285 closed

[2022-04-06 08:01] #16009 closed

[2022-04-06 08:01] #15856 closed

[2022-04-06 08:25] navba-MSFT commented on #17452
@PleaseStopAsking The above runbook we tried was with 5.1. The runbook would work with 7.1 except in 7.1 object input parameters are not processed as expected this is a known limitation. Hope this helps.

[2022-04-06 11:28] dingmeng-xue commented on #17711
Thanks for reporting. We will look into it.

[2022-04-06 11:32] dingmeng-xue commented on #17717
Thanks for reporting. Enabling feature in cloud is controlled by each service team. Could you report this issue via support channel? I will keep this issue open for a while and please let us know if there is requirement on client side.

[2022-04-06 11:37] dingmeng-xue commented on #17721
Thanks for reporting. We will refresh module and check this feature in the latest API.

[2022-04-06 12:53] amachotka opened #17725 "New-AzCognitiveServicesAccount does not work with -Tag arguments"
### Description

Using the standard hashtable format, this command does not recognize the tag or tags supplied as an argument. Single or multiple tags don't work and do not appear in the request body during a debug session.

### Issue script & Debug output

[code]

### Environment data

[code]

### Module versions

[code]

### Error output

[code]

[2022-04-06 13:50] mkozikowsk opened #17726 "[Doc]: No packages in the Azure module dependencies tab"
### Description

For the Azure package version 5.3.1, the entries in the dependencies tab are missing.
https://www.powershellgallery.com/packages/Azure/5.3.1

![image](https://user-images.githubusercontent.com/24301646/161990117-3dcbab87-89c2-4057-8a17-e50e29c23c0c.png)

Looking at previous versions there should be an entry for Azure.Storage.
I am using a script that uses these entries on the site

[2022-04-06 16:10] blueww commented on #17713
@dingmeng-xue
It looks the method from Azure.core 1.22.0 not work in PSH 7.
'System.Collections.Generic.IAsyncEnumerable`1<Azure.Page`1<!0>> Azure.AsyncPageable`1.AsPages(System.String, System.Nullable`1<Int32>)'.

I have raised a workaround fix to change the async call to sync call. https://github.com/Azure/azure-powershell/pull/17724
However, do you have any idea why the asyc call not work？

[2022-04-06 16:57] dcaro commented on #661
Az.Websites 2.11.0 is now supporting web job.
https://www.powershellgallery.com/packages/Az.Websites/2.11.0

[2022-04-06 17:28] piroinno commented on #661
Nice one

[2022-04-06 18:27] RakeshMohanMSFT commented on #17485
@miked1313 can you please confirm if you can login to the portal and create budget?

[2022-04-06 19:01] JohannesHoppe commented on #661
After nearly 7 years I couldn't care less. Meanwhile we stopped to use web jobs and this was one of the reasons. I will unsubscribe now. My deepest sympathies to all developers who have to use this ecosystem.

[2022-04-06 19:07] pcgeek86 commented on #661
I don't really use Azure anymore, but nice to see this added 7 years later, I guess.

[2022-04-07 02:06] blueww commented on #15228
@HimanshuChhabra , @priyapansrp
Would you please help to look at this issue?

[2022-04-07 04:12] dingmeng-xue commented on #17726
Thanks for reporting. It's a problem in nuget package. Since we can replace this package, we will address this issue when we publish new version of Azure.

[2022-04-07 06:50] BethanyZhou commented on #17712
Hi @bebravosch ,

Seems like this is an issue from PowerShell Secret Management.
https://github.com/PowerShell/SecretManagement/blob/c8364615c60d2f8366ea13307961a09c69177af3/src/code/SecretManagement.cs#L1590-L1591

Could you provide HTTP payload by setting `$DebugPreference = "Continue"` and re-running your command in PowerShell console to confirm my guess?

[2022-04-07 10:05] adityabalaji-msft commented on #17720
Thanks for reaching out. Looking into this

[2022-04-07 12:37] SQLCanuck commented on #17720
Thanks @adityabalaji-msft !

[2022-04-07 15:02] rodolfossouza commented on #16807
I'm with the same problem, even having the owner role.

[2022-04-07 17:46] craigktreasure opened #17742 "[Feature]: Make anonymous requests for Azure Container Registries"
### Description of the new feature

Azure PowerShell requires you to connect an account, which appears to make it impossible to make anonymous requests. I would like to be able to query repos and tags from an Azure Container Registry that allow anonymous access using Get-AzContainerRegistryRepository and Get-AzContainerRegistryTag. This seems to be possible using Azure CLI, but not Azure PowerShel

[2022-04-07 19:20] TravisCragg-MSFT commented on #17236
@dikethir were you able to see the list of restore points when doing the procedure by @haagha?

[2022-04-07 19:35] SatishBoddu-MSFT commented on #17500
Hello @pecjag how are you doing!
I do not see an update PowerShell command to remove association. You may want to try using Rest API to update the route (https://docs.microsoft.com/en-us/rest/api/frontdoor/azurefrontdoorstandardpremium/routes/update) I am not sure if we can pass null as a value for `CustomDomainId`, the documentation mentions that "Select one or more domains that have been validat

[2022-04-07 19:35] #17500 closed

[2022-04-07 20:16] yvzn opened #17743 "Set-AzStorageBlobContent throws PSArgumentOutOfRangeException on small files"
### Description

From time to time `Set-AzStorageBlobContent` Cmdlet throws a `PSArgumentOutOfRangeException` with message 'Cannot set percent because PercentComplete cannot be greater than 100', when uploading a small file to blob storage.

It looks like the file is uploaded after all. However the thrown exception can be a blocker if `-ErrorAction` is set to `Stop`.

[code]

Source code
https://g

[2022-04-07 20:19] Jeej commented on #14706
@msftbot 😛

[2022-04-07 21:00] martingbrown commented on #10256
.

[2022-04-07 21:36] ClaudioMerola commented on #16807
Same problem here

[2022-04-07 21:37] robertorodrig commented on #16807
Me too, same problem.

[2022-04-07 21:49] dicolanl opened #17745 "[Eng]: test-module issue"
### Description

pwsh test-module.ps1 -live
Creating isolated process...
Installing local Pester module into '/workspaces/azure-powershell/src/SecurityInsights/generated/modules'...
Building local Resource module used for test...
Copy-Item: /workspaces/azure-powershell/src/SecurityInsights/check-dependencies.ps1:61:11
Line |
  61 |    $null = Copy-Item custom/* $HOME/.PSSharedModules/Resources/cus

[2022-04-08 03:42] PramodValavala-MSFT commented on #17725
@amachotka Thanks for the feedback! We will investigate and update accordingly.

[2022-04-08 04:16] navba-MSFT commented on #17452
@PleaseStopAsking Please let me know if you had any update on this.

[2022-04-08 07:41] hiaga commented on #16908
Hi @brendanla, @solstone the release is live. Please use the latest Az (Az.RecoveryServices 5.3.0)

[2022-04-08 09:04] o-l-a-v commented on #8314
I never got to test this before now.

Given following PowerShell

<details><summary>Click to expand</summary>

[code]

</details>

I found that following resources supports tags:

<details><summary>Click to expand</summary>

[code]

</details>

And following doesn't.

Edit: Comment got too long if including this list.

[2022-04-08 09:22] dingmeng-xue commented on #16807
Hi All, could you share the scripts you are using? In addition, please share the debug output if you can.

I tried below script and it works.
[code]

[2022-04-08 12:15] akbast commented on #16032
is there any news on this issue?

[2022-04-08 12:42] fredx30 opened #17756 "[Doc]: Description error for - Invoke-AzAksRunCommand -Force"
### Description

### Docs text issue
The `-force` switch does not appear to have a correct text for the command [invoke-azaksruncommand](https://docs.microsoft.com/en-us/powershell/module/az.aks/invoke-azaksruncommand?view=azps-7.4.0).

### Current
The current description text is `Remove managed Kubernetes cluster without prompt`.

I have run this repetedly with the `-force` switch and i still hav

[2022-04-08 14:19] blueww commented on #17713
@rybal06
Az.Storage 4.4.1 is already release to fix this issue.
https://github.com/Azure/azure-powershell/releases/tag/Az.Storage-v4.4.1
Please upgrade Az.Storage to the latest version and try again.

[2022-04-08 14:26] blueww commented on #17713
@robbinscp

For CloudShell, you can run "Install-Module Az.Storage -RequiredVersion 4.4.1 -Force" in CloudShell, to make sure Az.Storage 4.4.1 is installed, then close and reopen cloudshell to load Az.Storage 4.4.1.

[2022-04-08 15:11] blueww commented on #17743
@yvzn
Would you please share which Az.Storage module version do you use (run Get-Module and see it)?
And how frequently do you meet the error?

I have tried to repro the issue with latest Az.Storage 4.4.1, by running a similar script as yours 100 times.
But the issue not repro, it always upload success.
I test with Powershell 7.2.2 on Windows.

[2022-04-08 15:23] kwill-MSFT commented on #16445
FYI for anyone finding this issue later, here is a more complete sample, and one that uses Invoke-AzRestMethod instead of manually dealing with auth tokens.

[code]

[2022-04-08 15:28] bebravosch commented on #17712
@BethanyZhou running @DebugPreference = "Continue" before executing the commands returns nothing.

Here is the output for when I attempted to run it. At the bottom is the command to create the Secret.

PS C:\WINDOWS\system32> $DebugPreference = "Continue"
PS C:\WINDOWS\system32>
PS C:\WINDOWS\system32> Get-SecretVault

Name       ModuleName  IsDefaultVault
----       ----------  --------------
MyK

[2022-04-08 15:30] abatishchev commented on #16445
I didn't know about `Invoke-AzRestMethod`, thanks for sharing!

I also was told that the ARM team has solved the issue with the API versions.

[2022-04-08 20:39] robertorodrig commented on #16807
Hello, @dingmeng-xue
![image](https://user-images.githubusercontent.com/50053113/162526567-3cbaf5b8-04f5-459c-b28c-49a655842879.png)
![image](https://user-images.githubusercontent.com/50053113/162526842-07bbfdc0-30dd-4a05-aec7-9a3dd9135308.png)

[2022-04-08 22:25] D1v38om83r opened #17757 "[Doc]: Get-AzVMRunCommand does not mention what string to pass with -Expand parameter"
### Description

The documentation present at https://docs.microsoft.com/en-us/powershell/module/az.compute/get-azvmruncommand?view=azps-7.4.0 should mention that the -Expand parameter is meant to be used with "instanceView" as the string value.

Here is the output without -Expand

[code]

Here is the output with -Expand instanceView

[code]

note that the fields starting with "InstanceView" are p

[2022-04-08 22:27] D1v38om83r commented on #17270
### Description

The documentation present at https://docs.microsoft.com/en-us/powershell/module/az.compute/get-azvmruncommand?view=azps-7.4.0 should mention that the -Expand parameter is meant to be used with "instanceView" as the string value.

Here is the output without -Expand

[code]

Here is the output with -Expand instanceView

[code]

note that the fields starting with "InstanceView" are p

[2022-04-08 22:32] D1v38om83r commented on #17757
Duplicate of https://github.com/Azure/azure-powershell/issues/17270

[2022-04-08 22:32] #17757 closed

[2022-04-09 10:41] martingbrown commented on #10256
@SaurabhSharma-MSFT You wrote above "I believe this issue has been fixed and can be closed." Please can you share with us what's happened to make you think this is fixed please?

The original suggestion was for a -WaitForComplete flag to be added. I don't see any sign that this has been done. If it is done, there is nothing mentioned about it in the documentation for [New-AzSqlDatabaseImport](http

[2022-04-09 11:20] ArmaanMcleod opened #17758 "[Feature]: Include Get-AzKeyVaultNetworkRuleSet cmdlet"
### Description of the new feature

Currently the following cmdlets are supported for interacting with key vault network rules:

[code]

However we don't seem to have cmdlets than can list network rules.

### Proposed implementation details (optional)

Implement cmdlet `Get-AzKeyVaultNetworkRuleSet` to list network ACL rules.

Azure CLI has a command `az keyvault network-rule list` which does this

[2022-04-09 11:22] ArmaanMcleod commented on #17758
Happy to help with this one. I think if we include a cmdlet that can just list all the network rules that should be good enough. Thoughts?

[2022-04-10 11:58] mav108 commented on #5324
I have the similar issue, any update on this.

[2022-04-11 00:06] ArmaanMcleod commented on #17758
Happy to raise a PR at https://github.com/Azure/azure-powershell-cmdlet-review-pr if this change would be ok with you guys.

Was thinking parameter sets like this could be supported:

[code]

[2022-04-11 01:39] dingmeng-xue commented on #17756
@wyunchi-ms , please check this issue.

[2022-04-11 01:41] dingmeng-xue commented on #17745
@dolauli , please check this question.

[2022-04-11 01:51] dingmeng-xue commented on #17758
Thanks for reporting and proposal. Network rule set is one of properties of Keyvault resource. User can get that via `Get-AzKeyVault`.

[2022-04-11 01:53] dingmeng-xue commented on #17742
Thanks for reporting. It's a general question to all data plane cmdlets. @dcaro , what's your thought?

[2022-04-11 02:07] ArmaanMcleod commented on #17758
@dingmeng-xue No worries, some reason I missed that. Will close this issue.

[2022-04-11 02:07] #17758 closed

[2022-04-11 02:31] dolauli commented on #17745
@dicolanl  I can not find commit dca0f55a844b694d314f635cc14374c1e87bb9fe in the swagger repo. Is it still valid any more? After you update the commit to a valid one, you may run test-module.ps1 by adding additional parameter `-RegenerateSupportModule`

[2022-04-11 02:51] dicolanl commented on #17745
@dolauli thats correct. I did manually update the resources readme and it worked fine
But I didn’t create that file. I thought build-module did. So figure it needs to be updated in the source somewhere

[2022-04-11 03:17] SaurabhSharma-MSFT commented on #10256
@martingbrown That was my initially comment, I later asked respective assignee to look into it to provide latest updates.
![image](https://user-images.githubusercontent.com/38112130/162659333-5f8c5c97-f9e1-44e0-af41-627a00578203.png)
which he did in later conversation
![image](https://user-images.githubusercontent.com/38112130/162659480-014f7653-214e-4d94-8d60-6bdfe7e57680.png)
So, we are keeping

[2022-04-11 03:55] BethanyZhou commented on #16807
@robertorodrig , could you check your permission by `Get-AzRoleAssignment -Scope $reservationOrderId` -ObjectId $yourAccountObjectId?

[2022-04-11 04:43] navba-MSFT commented on #17452
@PleaseStopAsking Could you please let me know if you need any further assistance on this ? Awaiting your reply.

[2022-04-11 06:02] fgarcia-cnb commented on #11248
a more efficiant workaround is to use an ODataQuery:

Get-AzResource -ODataQuery "`$filter=resourcegroup eq 'ResourceGroupName'" -ExpandProperties

[2022-04-11 06:46] dingmeng-xue opened #17762 "Set-AzAlertProcessingRule doesn't support 24-hour clock"
### Description

Due to below code, the input data time format doesn't support 24-hour clock.

https://github.com/Azure/azure-powershell/blob/3535d15724a49d7ab908cc4d321608b3c2281e0c/src/AlertsManagement/AlertsManagement/ActionRuleCommands/SetAzureAlertProcessingRule.cs#L663

### Issue script & Debug output

[code]

### Environment data

[code]

### Module versions

[code]

### Error output

[code

[2022-04-11 06:51] yvzn commented on #17743
@blueww
I am running Az.Storage 4.4.0 with Powershell 7.2.2 on *Linux* in a Docker container.

Could it make a difference ? Possibly in the way the code computes the file size ?

We are using this cmdlet a lot every day, as part of our CI/CD build ; most of the time it runs ok, but we get the exception dozen times a day, approximately. The only workaround for now is to retry the faulty upload, unt

[2022-04-11 06:52] adityabalaji-msft commented on #17720
Hi @SQLCanuck - just to make sure that I understood the issue correctly - is there currently a SQL AG backup scenario which is getting blocked/throwing errors due to the sqlAGworkloadcontainer value not present?
Or is it more of a suggestion to make the command experience better?

If it is the latter, could you also share an example of how the updated command would look like?

[2022-04-11 07:52] dolauli commented on #17762
According to [CSDN](https://docs.microsoft.com/en-us/dotnet/standard/base-types/custom-date-and-time-format-strings?redirectedfrom=MSDN), we should use "HH" instead of "hh" in the format string. And besides, Following code in [here ](https://github.com/Azure/azure-powershell/blob/main/src/AlertsManagement/AlertsManagement/ActionRuleCommands/SetAzureAlertProcessingRule.cs#L676-L682)looks another bu

[2022-04-11 08:01] #17505 closed

[2022-04-11 08:26] dingmeng-xue commented on #17762
Thanks. Checking ScheduleEndDateTime should be better.

[2022-04-11 08:40] dolauli commented on #17745
@dicolanl  Did you specify the branch to the invalid commit id as below in your readme.md. If yes, that's why the issue happen. And we will use this commit id to fetch the  resources.json

'''
branch: dca0f55a844b694d314f635cc14374c1e87bb9fe
'''

[2022-04-11 14:47] SQLCanuck commented on #17720
Hi @adityabalaji-msft,
Currently if I try to specify a container type of sqlAGworkloadcontainer the following error is given:

![image](https://user-images.githubusercontent.com/38919668/162765045-c0d95b03-893d-4047-b054-9fd91724d0b8.png)

However, this does seem to be the container type used for SQL AG groups as it can be viewed in the container Id information.

![image](https://user-images.githu

[2022-04-11 14:52] SQLCanuck commented on #17720
@adityabalaji-msft

If this feature request is completed, the following command would be possible:

Get-AzRecoveryServicesBackupContainer -ContainerType sqlagworkloadcontainer -Status Registered -FriendlyName $AgName -VaultId $vault.ID

[2022-04-11 20:07] jeffreyrivor opened #17773 "[Feature]: Add App Configuration Data Plane commands"
### Description of the new feature

The Az.AppConfiguration module has commands for the control plane leveraging the generated AutoRest APIs, but does not have the data plane (the "Feature manager" and "Configuration explorer" operations in Azure portal). Seems like it should be possible to expose the data plane REST APIs in the PowerShell module; these are already available in the [Azure CLI](htt

[2022-04-11 20:07] briglx opened #17774 "[Doc]: AccountName parameter Used in Examples but not documented"
### Description

The examples to create a new storage account use the parameter `AccountName` but the documented parameter is `Name`. Either publish the undocumented Paramter `AccountName` or change the examples to use `Name`.

[2022-04-11 20:59] golaat opened #17775 "[Feature]: Register-ResourceProvider"
### Description of the new feature

The [az cli provider register](https://docs.microsoft.com/en-us/cli/azure/provider?view=azure-cli-latest) offers a --wait parameter when you register a resource provider, however the Azure PowerShell Register-Resource provider has no such option.

### Proposed implementation details (optional)

add a -wait switch to wait for the provider registration to be compl

[2022-04-12 00:13] SaurabhSharma-MSFT commented on #17637
@geolivo Can you please help looking into it.

[2022-04-12 01:26] dolauli commented on #17745
Close it since it is not a bug but caused by wrong configuration.

[2022-04-12 01:26] #17745 closed

[2022-04-12 02:04] wyunchi-ms commented on #17376
Hi @aelij , we are fixing this issue now. You can use `Set-AzAksCluster -ResourceGroupName $resourceGroupName -Name $name -KubernetesVersion $version` instead of `Get-AzAksCluster -ResourceGroupName $resourceGroupName -Name $name | Set-AzAksCluster -KubernetesVersion $version` as a workaround.

[2022-04-12 02:14] dicolanl commented on #17745
Thanks. The wiki should be updated to be clear about this. It wasn’t there and what I was told in the pr wasn’t as clear.

[2022-04-12 03:12] wyunchi-ms commented on #16920
Hi @tdihp please upgrade your Az.Aks to the latest version. We have add support of `NodeImageOnly` for `Set-AzAksCluster`. You can find document [here](https://docs.microsoft.com/en-us/powershell/module/az.aks/set-azakscluster?view=azps-7.4.0).

[2022-04-12 06:18] tdihp commented on #16920
Good to know @wyunchi-ms
Closing

[2022-04-12 06:40] dingmeng-xue commented on #17626
Thanks. Close this issue now.

[2022-04-12 06:40] #17626 closed

[2022-04-12 07:10] dingmeng-xue commented on #17256
Close this issue as pull request is merged.

[2022-04-12 07:10] #17256 closed

[2022-04-12 14:17] dingmeng-xue commented on #17774
@blueww , any concern to update example?

[2022-04-12 14:29] #16646 closed

[2022-04-12 16:02] PramodValavala-MSFT commented on #17774
@dingmeng-xue I've worked up a PR to address this for a couple of docs that have similar examples. Could you take a look?

[2022-04-12 16:05] goraco opened #17784 "When creating new VM in PS , and using New-AzVmssConfig - PlatformFaultDomain is NOT set"
### Description

hello
When I create a new VM:
- via the port and set PlatformFaultDomain
- using PS as doccumented  here  https://docs.microsoft.com/en-us/azure/virtual-machines/flexible-virtual-machine-scale-sets-powershell#add-a-single-vm-to-a-scale-set

PlatformFaultDomain is correctly set and it is visible in the VM properties, e,g,

When I get VM properties all is OK PlatformFaultDomain = 2

[2022-04-12 16:24] premfix commented on #17010
You don't need to create template, they are already created, you can view them by running GET query to https://graph.microsoft.com/v1.0/applicationTemplates or view in Azure portal in Azure AD Gallery.

When you create SAML app using Azure portal (https://portal.azure.com/#blade/Microsoft_AAD_IAM/AppGalleryBladeV2), there is an Azure AD Gallery from which you can choose an app from prebuilt templa

[2022-04-12 19:59] yvzn commented on #17743
@blueww
Yes that would be awesome if you could add that extra code to limit pr.PercentComplete

[2022-04-13 01:58] blueww commented on #17774
The PR looks good to me. I have approved it, and resolved a conflict in it.
Please also update [change log](https://github.com/Azure/azure-powershell/blob/main/src/Storage/Storage.Management/ChangeLog.md) for the help doc change.

[2022-04-13 05:34] t-bzhan commented on #16974
Ack. We are working on to support it in next release.

[2022-04-13 06:56] otabut commented on #15754
Hi,

Two comments about the Invoke-AzContainerInstanceCommand cmdlet in Az.ContainerInstance>=3.0.0 :

  - the result of the command is displayed but cannot be retrieved in a Powershell variable (stream issue ?)
  - in case of command failure, error message is displayed but no Powershell error is raised

[2022-04-13 07:07] BethanyZhou commented on #15754
Hi @otabut , Thanks for reporting.

You can obtain last execution result by Invoke-AzContainerInstanceCommand -PassThru

Could you provide example for this case?

[2022-04-13 07:31] otabut commented on #15754
About 1st comment :

![image](https://user-images.githubusercontent.com/33980031/163123239-3b71577a-53ae-46d6-8d06-8525f76b65ba.png)

About 2nd comment (command is hostname without ending e to generate error) :

![image](https://user-images.githubusercontent.com/33980031/163123508-02fae183-a85c-4e6d-b782-c69e36f3a6cd.png)

[2022-04-13 07:46] BethanyZhou commented on #15754
Thanks for quick response.
- Could you please raise a new issue specific for 1st comment? We will use the new issue to track 1st problem.
- The 2nd  issue is a known limitation as we communicate with container by web socket. All messages are provided as plain text. We are unable to distinguish formal message or error message.

[2022-04-13 08:01] #17539 closed

[2022-04-13 08:01] #16039 closed

[2022-04-13 09:29] ruudsuithoff commented on #16368
Is this issue still being worked on? We encountered the same issues.

[2022-04-13 13:48] dougwilkerson opened #17793 "[Feature]: Expand Az.Storage Module to provide Add/Update/Delete capability at the entity (Row) level in Azure Storage Tables"
### Description of the new feature

Az.Storage currently provides the ability to interact with Storage Tables at the resource level.  Unfortunately, the module does not provide the ability to perform Add/Update/Delete actions at the entity (row) level.

At the time of this comment, Microsoft documentation provides the link below describing module AzTable which appears to fill a majority of these c