[2018-01-24 23:20] markcowl opened #5354 "Determine Scope for Refactoring Repository Layout"
### Description

We plan to split repository into 3 pieces:

(1) Common code, Profile, and Tools
(2) ResourceManager
(3) ServiceManagement

Prototype part of this modeling using git submodules or git subtrees, decide on the best mechanism, roughly size the work to do this and file issues.

### Cost: 10

[2018-01-24 23:25] markcowl opened #5355 "Design for ManagementGroups Provider"
### Description

Suggest a design and common code for implementing a provider for ManagementGroups.  This cna be an exemplar for other planned providers.

### Cost: 10

[2018-01-24 23:28] markcowl opened #5356 "Design for JobExecutor RP Cmdlets [Azure Functions]"
### Description
- Come up with design guidelines and common code designs for RPs that act as job executors - RPs that execute a customer workload using various triggers.

- How should these be modeled in cmdlets
- What common code should we add for supporting the design

### Cost: 10

[2018-01-24 23:32] markcowl opened #5357 "Design Common Code to implement design guidelines and use Tasks"
### Cost: 10

[2018-01-25 01:43] markcowl opened #5360 "Shorten test run time"
### Description

- [x] Profile existing tests to determine issues with execution time.  Likely culprits include
  - [x] Not setting polling timeouts to zero in manageement clients
  - [x] Using Thread.Sleep or Sleep-Seconds instead of TestMockSupport.Delay or Wait-Seconds in test wait/retry loops
  - [x] Having very large recodring json files with too many polling requests
- [x] Fix problems with

[2018-01-25 01:47] markcowl opened #5361 "Rename Azure Module"
### Description
- [ ] Update description of the Azure module in the Test Gallery and in the module description  to indicate that this is meant for legacy Azure scripts only
- [ ] Talk with the docs team about changing the name of the module in existing docs
- [ ] Add a deprecation warning to the module page in the Gallery and to the module definition psm1 to print a deprecation warning (once only)

[2018-01-25 01:48] markcowl opened #5362 "Normalize Test Logging"
### Description

Normalize test logging across scenario and unit tests to:

- [ ] Use a consistent logging mechanism across xunit tests
- [ ] Write logs to a separate file per test
- [ ] Do not retain logs for tests that pass
- [ ] Ensure that logs contain full debug messages

### Cost: 8

[2018-01-25 03:05] pshelton-skype commented on #5324
`-Verbose` doesn't give me any additional output. Only the `$DebugPreference="Continue"` parameter actually gives useful output.

I actually have an almost identical repro today, but instead of a permissions issue, this one had a typo in the name of the secret, meaning I received a `NotFound` rather than `Forbidden`:

[code]

[code]

A minimal representative template is as follows:

[code]
with co

[2018-01-25 09:54] pixelicous commented on #5326
#1524 referenced this issue from 2015, still open. I'll appreciate a response.

[2018-01-25 12:32] guillemsola commented on #5126
Any update?

To summarize, I have detected that while deploying from PS console the custom script extension when working with nested folders work differently

[code]

If deploying from github I have to refer to it like

[code]

Even though in both cases it has been downloaded with

[code]

[2018-01-25 12:53] pixelicous commented on #2243
Was this solved?

[2018-01-25 15:26] dootdootbeep opened #5363 "Invoke-Command and AzureRM.Automation Issue"
### Cmdlet(s)
Start-AzureRMAutomationRunbook but other AzureRM.Automation cmdlets fail too.

### PowerShell Version
5.1.14393.1944

### Module Version
5.1.1      AzureRM
4.1.1      AzureRM.Automation
4.1.1      AzureRM.profile

### OS Version
10.0.14393.1944

### Description
I'm trying to start a runbook in Azure Automation using invoke-command on a remote computer after logging in with a service

[2018-01-25 18:49] mortenlerudjordet opened #5364 "Set-AzureRmApplicationGateway fail to run in Azure Automation worker"
### Cmdlet(s)
Set-AzureRmApplicationGateway

### PowerShell Version
Running PS version: 5.1.14393.1914

### Module Version
AzureRM.Network Version: 5.0.0

### OS Version
Azure Automation Runbook worker

### Description
Running Set-AzureRmApplicationGateway from ISE or PS Console on desktop works, though update process takes about 10min to execute.

Running this on a Azure Automation will terminate

[2018-01-25 19:03] cormacpayne opened #5365 "Replace dependencies on management libraries with common code"
There are a handful of modules that have a dependency on a specific management library for a separate service. We need to investigate if the module needs that dependency, and if so, replace it with the common (generated) code for that library.

Below are the modules currently management libraries being used by different modules:

`Compute`
- Microsoft.Azure.Management.Storage [NetCore in Common.St

[2018-01-25 19:09] maddieclayton opened #5366 "Create plan for migrating asynchronous cmdlets to -AsJob"
# Description

Finding cmdlet that are using asynchronous calls
- Search for cmdlets that output a OperationStatus
- Search for cmdlets that call Begin[operation]
- Decide on what the timeout is on adding -AsJob (for example, any cmdlet that takes more than 2 hours should not implement -AsJob, but rather return the OperationStatus)

Recommendation
- Add the -AsJob parameter to all parameter sets
-

[2018-01-25 20:01] pshelton-skype commented on #2243
I'm reasonably confident I saw this fixed in some version, but it's definitely broken in Azure PowerShell 5.1.1 (Dec 2017). Service principals and users populate `DisplayName` correctly, but groups do not.

[2018-01-25 20:02] pshelton-skype commented on #2243
@pomortaz - can we reopen this to get it addressed properly?

[2018-01-25 21:25] mikepasco opened #5369 "StorageAccountType null for Standard Managed Disk"
### Cmdlet(s)
Get-AzureRmVM

### PowerShell Version
5.1.16299.98

### Module Version
4.0.1

### OS Version
10.0.16299.98

### Description
I am attempting to pull the Storage Account Type for each Managed Disk on all of my VM's. My script used to work successfully for both Standard and Premium disks but is now failing on Standard disks because the VM.StorageProfile.OsDisk.ManagedDisk.StorageAccount

[2018-01-25 23:55] maddieclayton commented on #5369
@koralski @nibhat @savyasachisamal Can one of you take a look at this issue?

[2018-01-25 23:56] maddieclayton commented on #5363
@vrdmr Can you take a look at this issue?

[2018-01-26 00:03] SumedhBarde-MSFT commented on #5326
@pixelicous - the replication time for Azure DNS varies. The vast majority should complete within 15s. Are you finding two minutes insufficient quite often?

Currently New-AzureRMKeyVault returns right away. We are looking at ways we can make it more intuitive that this operation takes time (without breaking existing callers). But the more important question is the one I ask above to ensure the de

[2018-01-26 01:23] naveedaz opened #5372 "Clone web deployment slots template does a case sensitive comparison to get the normalized slotnames."
### Cmdlet(s)

New-AzureRmWebApp -ResourceGroupName $rg -Name $destAppName -Location "Nor
th Europe" -AppServicePlan SimonWebTest3 -SourceWebApp $srcapp -IncludeSourceWebAppSlots -debug

### Affected branches
preview
websites-preview

### PowerShell Version
Instructions: to get PowerShell version, type `$PSVersionTable` and look for the value associated with `PSVersion`

### Module Version

### OS

[2018-01-26 08:11] anuchandy commented on #5369
I'm not sure but seems related to this https://github.com/Azure/azure-rest-api-specs/issues/2343 where the enum-type `StandardSSD_LRS` is not declared in the swagger so when service return this `string` value there is no way client lib can translate it to a valid `enum` value.

[2018-01-26 09:35] mhiggins5470 opened #5373 "Azure 0.9.1 on to PS Core 6.0.0 - missing cmdlets"
### Cmdlet(s)
New-AzureStorageContext
Remove-AzureStorageBlob
<....others...>

### PowerShell Version
6.0.0.-1 Core on Linux

### Module Version
0.9.1

### OS Version
Linux 4.13.0-1006-azure #8-Ubuntu SMP Fri Jan 12 13:18:04 UTC 2018

### Description
Can;t locate some of the non-RM cmdlets

### Debug Output
Instructions: to get Debug Output, set `$DebugPreference="Continue"` and then execute the c

[2018-01-26 11:04] JPRuskin commented on #2658
An updated link for anyone coming across this now: [BypassObjectIdValidation](https://github.com/Azure/azure-powershell/blob/preview/src/ResourceManager/KeyVault/Commands.KeyVault/Commands/SetAzureKeyVaultAccessPolicy.cs#L288)

[2018-01-26 12:21] badc0re opened #5374 "Error when trying to snapshot disks in Workflow (parallel)"
### Cmdlet(s)
New-AzureRmSnapshot
New-AzureRmSnapshotConfig

### PowerShell Version
PSVersion                      5.1.15063.726

### OS Version
Azure automation script.

### Description
Failed to create managed disk snapshots in parallel.

### Debug Output

### Script/Steps for Reproduction

[code]

[2018-01-26 16:18] maddieclayton opened #5376 "Get-Location in Common.ps1 always returns "West US""
### Description
Get-Location calls Get-AzureRmResourceProvider, which exists in AzureRM.Resources.ps1 in Common.ps1.  This in turn calls Get-Provider, which does not return the API call but rather a hard-coded object:
[code]

In order for Get-Location to work, we need Get-AzureRmResourceProvider to return the actual API call.  However, many tests currently call this function and so we need to make

[2018-01-26 17:35] pixelicous commented on #5326
@SumedhBarde-MSFT It happens quite often.. The probldm isnt how the cmdlet responds but the API becuaee terraforma also has the same problems and it uses the API.. So that has to change at the root.. Not at the cmdlet level.
On some clients it happens constantly.. I deployed a VM and configed my automation environment there, every execution fails to get the secrets.. As i wrote above even the port

[2018-01-26 18:07] markcowl opened #5378 "Design Guidlines for Azure Functions and other job schedulign / triggering RPs"
### Description

- [ ] Come up with design guidelines for AzureFunctions, and other cmdlets that define, trigger, and schedule workloads
- [ ] File issues for common code to implement cmdlets using the guidelines

### Cost: 6

[2018-01-26 18:14] MiYanni opened #5379 "Allow nightly live test run to detect required signed modules, and filter project RPs"
Basically, the project list (RPs to search for scenario tests) is currently hard-coded. Instead, we want to provide a list of projects and use those as an -Include style list. If no -Include list is provided, all RP scenario tests are used. Then, based on the project RP list, determine which signed modules are required. This could use the definition file for that RP (psd1) and then scan the requir

[2018-01-26 18:16] markcowl opened #5380 "Update ClientRuntime"
### Description

- [x] Update ClientRuntime for cmdlet projects
- [x] Attempt to update ClientRuntime for test projects, update for as many as possible, determine scope of work for those not updated and file appropriate issues

### Cost: 4

[2018-01-26 19:02] jadzikow commented on #5291
Any updates on this?

[2018-01-28 14:36] pixelicous commented on #5326
@SumedhBarde-MSFT Below reference to the timeout increase in terraform code:
https://github.com/terraform-providers/terraform-provider-azurerm/commit/d9772b1accd4007488bfc393eedf7c36d6641c78

This doesn't solve the problem. The API shouldn't return the object

[2018-01-29 08:43] blueww commented on #4418
Close as the issue already fixed on  Azure PowerShell 5.0.0.

[2018-01-29 08:43] #4418 closed

[2018-01-29 09:54] piostelmach opened #5384 "Add-AzureRmMetricAlertRule"
### Cmdlet(s)
Add-AzureRmMetricAlertRule

### PowerShell Version
Instructions: to get PowerShell version, type `$PSVersionTable` and look for the value associated with `PSVersion`
PSVersion                      5.1.15063.786

### Module Version

### OS Version
Instructions: to get OS version, type `$PSversionTable` and look for value associated with `BuildVersion`
BuildVersion                   10

[2018-01-29 13:49] tomkerkhove opened #5386 "Set-AzureRmApiManagementPolicy does not show validation errors"
### Cmdlet(s)
**Set-AzureRmApiManagementPolicy** *(Module: AzureRM.ApiManagement)*

### Module Version
5.1.1

### Description
*Set-AzureRmApiManagementPolicy* always validates a policy before it deploys it. When the policy is invalid it will show an error but unfortunately the error message is removed.

### Script/Steps for Reproduction
- Use Set-AzureRmApiManagementPolicy with a policy that is no

[2018-01-29 14:23] mortenlerudjordet opened #5387 "webapp:Get-AzureRmWebAppCertificate fails to retrieve certificate info if it encounters orphaned cert entry"
### Cmdlet(s)
AzureRM.WebSites

### PowerShell Version
PSVersion                      5.1.16299.98
PSEdition                      Desktop
PSCompatibleVersions           {1.0, 2.0, 3.0, 4.0...}
BuildVersion                   10.0.16299.98
CLRVersion                     4.0.30319.42000
WSManStackVersion              3.0
PSRemotingProtocolVersion      2.3
SerializationVersion           1.1.0.1

### M

[2018-01-29 14:51] #5384 closed

[2018-01-29 14:52] piostelmach commented on #5384
Correct name for -MetricName it is "performanceCounter.percentage_processor_time_normalized.value", not "ProcessCPU".

[2018-01-29 15:08] vicp-iq commented on #4715
Any update on this?  We have some features in the pipe that depend on the Autosave logic, and we really want to use them.

[2018-01-29 16:27] markcowl commented on #5386
@tomkerkhove Try using Resolve-AzureRmError - this returns the actual stack of exceptions that resulted in the error and may provide relevant details in this case.

[2018-01-29 16:36] markcowl commented on #5386
@solankisamir Can we look at producing a better default message in the case of validation errors?

[2018-01-29 16:38] markcowl commented on #5387
@NKing92 Can you take a look?

[2018-01-29 16:57] markcowl commented on #5374
@singhkays Can you take a look?  This is one reason why comnplex parameter types can be undesirable in cmdlets

@maddieclayton @markcowl @cormacpayne @sph This is a sample of a type that does not serialize well using the standard powershell serialization system

[2018-01-29 16:59] markcowl commented on #5373
Closign as duplicate of #3746 Storage data plane cmdlets have not been moved to NetCore

[2018-01-29 16:59] #5373 closed

[2018-01-29 17:08] markcowl commented on #5364
@mortenlerudjordet This is caused by your -Debug setting for the cmdlet.  Using the default Debug parameter in a cmdlet forces user validation of each debug message.  if you remove this, the user interaction issue should disappear.

[2018-01-29 17:10] markcowl commented on #5350
@ravbhatnagar @vivsriaus Can you take a look?

[2018-01-29 17:39] markcowl opened #5389 "Fix Build Tools for Preview Modules"
### Description

Module build fails for version 1.6.0 of PowerShellGet.  Fix this so we cna release preview modules.

### Cost 2

[2018-01-29 17:54] tomkerkhove commented on #5386
@markcowl Problem is that we do not run this manually but part of our release pipeline so we cannot do that. Thanks for looking into this!

[2018-01-29 17:57] solankisamir commented on #5386
@markcowl  ack!

[2018-01-29 18:22] devigned opened #5390 "Build failure when running netcore build first"
### PowerShell Version
5.1.16299.98

### Module Version
Preview branch

### Description
If you initially build the netcore solution, the subsequent full framework builds will fail due to HelpGeneration validation failures due to the netcore ps modules existing in the `./src/Packages` directory.

### Script/Steps for Reproduction
`dotnet msbuild build.proj /t:BuildNetCore`
`msbuild build.proj`

[2018-01-29 20:47] markcowl opened #5392 "Update TestMappings.Json"
### Description
- [x] Update TestMappings.json for new test assemblies
- [ ] Determine how we can generate TestMappings.json from the directory structure
  - [ ] Create a script to do this, or file a bug
- [ ] Run test assemblies for projects that take a dependency on the changed module

### Cost: 2

[2018-01-29 23:22] RandalliLama commented on #5326
@pixelicous The code change you reference doesn't address the problem at all.  That code will still check for the dns name immediately.  The change will cause it to wait longer for the second check, but that doesn't help.  The code needs to be changed to wait for at least 15 seconds between creating the vault and the very first time DNS is queried.

[2018-01-30 00:18] pixelicous commented on #5326
@RandalliLama That is what i referred to, that the second check also doesnt work. The problem shouldn't be solved on the third party tools side though. I opened a ticked with microsoft anyhow. Thanks!

[2018-01-30 00:54] cormacpayne commented on #3770
@Nking92 Hey Nick, do you know if this is still an issue on the server?

[2018-01-30 00:57] cormacpayne commented on #3268
@rkmanda has this been taken care of?

[2018-01-30 00:59] cormacpayne commented on #3157
@athipp if this has not been resolved, please use the [`Get-Location`](https://github.com/Azure/azure-powershell/blob/preview/src/ResourceManager/Common/Commands.ScenarioTests.ResourceManager.Common/Common.ps1#L583-L604) function found in our common test code to avoid using hard-coded locations

[2018-01-30 01:00] cormacpayne commented on #2539
@pankajsn has this been resolved? If not, please use the [`Get-Location`](https://github.com/Azure/azure-powershell/blob/preview/src/ResourceManager/Common/Commands.ScenarioTests.ResourceManager.Common/Common.ps1#L583-L604) function from our common test code, which avoids using hard-coded locations

[2018-01-30 01:00] cormacpayne commented on #3899
This looks to be resolved. Closing.

[2018-01-30 01:00] #3899 closed

[2018-01-30 01:01] cormacpayne commented on #4155
@jaredmoo Hey Jared, has this issue been resolved?

[2018-01-30 01:01] cormacpayne commented on #4156
@jaredmoo Hey Jared, has this issue been resolved?

[2018-01-30 01:03] cormacpayne commented on #4410
@balukambala has this issue been addressed?

[2018-01-30 01:03] cormacpayne commented on #4422
@vrdmr Hey Varad, has this issue been addressed?

[2018-01-30 01:04] cormacpayne commented on #4428
@ro-joowan Hey Joo Wan, has this issue been addressed?

[2018-01-30 01:05] cormacpayne commented on #4677
@vrdmr Hey Varad, has this issue been addressed?

[2018-01-30 01:06] cormacpayne commented on #5048
@vrdmr Hey Varad, has this issue been addressed?

[2018-01-30 01:07] cormacpayne commented on #5081
@SudhakaraReddyEvuri Hey Sudhakar, has this issue been addressed?

[2018-01-30 01:09] cormacpayne commented on #5187
@chhabaramesh Hey Ramesh, has this issue been addressed?

[2018-01-30 01:53] MiYanni commented on #3968
Changes are now merged in. Closing...

[2018-01-30 01:53] #3968 closed

[2018-01-30 02:39] ro-joowan commented on #4428
@cormacpayne Not yet :( it's on my TODO list -- just swamped at the moment

[2018-01-30 06:57] twitchax commented on #5342
@markcowl and @sergey-shandar, I think we should do this.  I, personally, lean toward generating some randomness for the DNS name based on a hash of the name so it is idempotent.

However, let's discuss with the CLI team and make a decision on the best solution.

[2018-01-30 18:06] eamonoreilly commented on #1257
In Azure Automation runbooks, you should now pass in the -AzureRMContext for each Azure cmdlet call. For example, you would set up a variable to hold the subscription you want to work against like below:

$SubscriptionA = Set-AzureRmContext -SubscriptionId  <SubscriptionID>

You would then pass this subscription context in every cmdlet call to ensure it is always working against the correct subscr

[2018-01-30 18:40] ro-joowan commented on #5297
@suprak I have addressed this in this PR: https://github.com/Azure/azure-powershell/pull/5396.  Will update here when it's merged.  Thank you.

@matt1883, FYI

[2018-01-30 20:08] MiYanni commented on #5337
@blueww
When you are going through and removing the Encryption parameters, you'll need to update the tests to no longer test those parameters. At that time, can you also update the tests to no longer use Canary and Staged locations?

[2018-01-30 23:17] cormacpayne commented on #865
- Single object: table
- Multiple objects: table
- Provide list view for output objects so user can pipe result to `fl`
- In the future, look to use list view by default for single object

[2018-01-30 23:24] cormacpayne commented on #3506
@eshaparmar  Hey Esha, would you mind taking a look at this scenario? It appears that this cmdlet shouldn't be inheriting from the `AzureRMCmdlet` base class, but rather the `AzureDataCmdlet`, to avoid checking if the user has logged in.

[2018-01-30 23:28] cormacpayne commented on #4332
Please re-open this issue if the problem persists.

[2018-01-30 23:28] #4332 closed

[2018-01-30 23:28] twitchax commented on #3963
Closing.  ADAL should define such a file if such a file should be generated by tools and consumed by tools.

[2018-01-30 23:28] #3963 closed

[2018-01-31 00:34] maddieclayton commented on #3037
Fixed

[2018-01-31 00:34] #3037 closed

[2018-01-31 01:24] sergey-shandar commented on #5342
#5399

[2018-01-31 01:24] #4759 closed

[2018-01-31 01:24] #4757 closed

[2018-01-31 01:24] #4735 closed

[2018-01-31 02:33] bganapa opened #5400 "ps-stack-drop build job is not producing AzureRM and AzureStack modules"
The job is not producing the AzureRM and AzureStack uber modules. Here is the artifacts link from the job

https://azuresdkci.westus2.cloudapp.azure.com/job/ps-stack-drop/17/Azure/

[2018-01-31 02:36] blueww commented on #5337
If the new feature available publicly,  when I develop removing the Encryption parameters, I will make it not use Canary and Staged locations, else, we might will need to use them, since the feature not available on all public tenants, so only can record it on specific tenants.

[2018-01-31 15:25] mrichman commented on #3687
I do something like this:

[code]

[2018-01-31 17:06] MiYanni commented on #5337
Sounds great. I'd suggest... if there are features that only exist in Canary or Staged locations (and you have a way to check to see that those features exist), I'd suggest checking a standard location for that feature. Then, in the future, when that feature is on standard locations, the test will work by using standard locations. So, if that check fails (a standard location doesn't have that feat

[2018-01-31 18:13] sdwheeler commented on #5328
@twitchax - That [doc](https://docs.microsoft.com/en-us/azure/dns/private-dns-getstarted-powershell) is owned by @KumudD

[2018-01-31 18:32] jfuller28495 commented on #3736
I'm getting this issue, but all mention of a copy or second instance of an object have been removed. I'm not sure what I'm doing wrong. Error message below:

Unable to process template language expressions for resource '/subscriptions/<subscriptionID>/resourceGroups/<resourceGroupName>/providers/Microsoft.Web/sites/<webappname>/hostnameBindings/<customDomainName>'
at line '156' and column '10'. 'T

[2018-01-31 19:29] hyonholee opened #5402 "Invoke-AzureRmVMRunCommand does not work with ScriptPath and AsJob parameters"
### Cmdlet(s)

Invoke-AzureRmVMRunCommand

### PowerShell Version
Instructions: to get PowerShell version, type `$PSVersionTable` and look for the value associated with `PSVersion`

### Module Version

### OS Version
Instructions: to get OS version, type `$PSversionTable` and look for value associated with `BuildVersion`

### Description

 Invoke-AzureRmVmRunCommand failed with ScriptPath and AsJo

[2018-01-31 19:35] MiYanni opened #5403 "Remove-AzureRmADServicePrincipal does not remove AAD App Registration"
### Cmdlet(s)
Remove-AzureRmADServicePrincipal
### PowerShell Version
5.1.16299.98
### Module Version
5.1.1
### OS Version
10.0.16299.98
### Description
When using `New-AzureRmADServicePrincipal`, whatever name you pass in for `-DisplayName` will create an AAD App Registration for that name. However, when you remove the service principal via `Remove-AzureRmADServicePrincipal`, it does not remove t

[2018-01-31 20:36] markcowl opened #5406 "Fix release build by updating sln files for each RP (Latest and Stack)"
### Description

All solutions should build all dependencies for all their dependent modules.  Specifically, for all solutions that use Command.Profile, all of the Commands.Common.* projects need to be included int he solution.

If this does not occur, then if that assembly has not been previously built by another solution, msbuild will default to using a debug build for the project on release bui

[2018-01-31 22:58] maddieclayton opened #5409 "Add -AsJob parameter to long running Storage dataplane cmdlets."
## Description
https://github.com/Azure/azure-powershell/wiki/PowerShell-Cmdlet-Design-Guidelines#piping-in-powershell

Also includes some fixes to the implementation of Storage cmdlets.

[2018-01-31 23:00] maddieclayton opened #5410 "Add -AsJob to long running Automation cmdlets"
### Description
Determine which Automation cmdlets require -AsJob

Follow instructions here: https://github.com/Azure/azure-powershell/wiki/PowerShell-Cmdlet-Design-Guidelines#asjob-parameter

[2018-01-31 23:02] maddieclayton commented on #5120
Tracking issues:
https://github.com/Azure/azure-powershell/issues/5409
https://github.com/Azure/azure-powershell/issues/5410
https://github.com/Azure/azure-powershell/issues/5216
https://github.com/Azure/azure-powershell/issues/5215
https://github.com/Azure/azure-powershell/issues/5214

[2018-01-31 23:02] maddieclayton commented on #5120
All changes made or covered by other issues.

[2018-01-31 23:02] #5120 closed

[2018-02-01 01:09] markcowl opened #5415 "Tab completer for existing resources"
### Description

- If an MSI is user-assigned, then the user must pick it from the existing set of user-assigned identities from the subscription.  Add a tab completer that will query for user-assigned identities (or other existing resources of a particular type).

- Implement using a tab completer for existing resources - the completer should be able to choose resources based on a resource type
-

[2018-02-01 01:59] MiYanni opened #5417 "Update version tool to update Stack psd1 files for our module versions"
- [ ] Make the version tool update RequiredModules list with the updated version numbers of our modules for every release in the following files:
  - [ ] src\StackAdmin\AzureRM\AzureRM.psd1
  - [ ] src\StackAdmin\AzureStack\AzureStack.psd1
  - [ ] src\StackAdmin\AzureStackAdmin\AzureRM.AzureStackAdmin.psd1
  - [ ] src\StackAdmin\AzureStackStorage\AzureRM.AzureStackStorage.psd1

(Note: Relates to h

[2018-02-01 02:21] ro-joowan commented on #5297
@suprak The PR has been approved.  Closing the issue now.

[2018-02-01 02:21] #5297 closed

[2018-02-01 02:44] blueww commented on #5337
@MiYanni
I don't quite understand you suggestion.
For storage SRP, there's no standard way to check if a feature exist on a server until run the case and see it failed (might also need to parse the error message to make sure it failed since the feature not exist.)
Do you have a sample for check the feature exist and failover location? If so, I can have a look and see if it can applied to storage S

[2018-02-01 07:03] Know1 commented on #4476
Still doesn't look fixed on my systems
[code]

[code]

variables omitted for security but the same script cut and pasted into windows works correctly.

[code]

[2018-02-01 07:08] 4c74356b41 commented on #4476
use this docker image, it will work:
docker run -it --rm twitchax/azure-powershell-core:netcore

[2018-02-01 07:09] Know1 commented on #4476
And if we don;t use docker?

[2018-02-01 07:22] 4c74356b41 commented on #4476
you could rip the binaries out of the container ;) in case they are not released yet :))

[2018-02-01 09:56] blueww commented on #5288
@maddieclayton @markcowl
I see the item has no assignment, and just assign to Maddie. Please correct me if the assignment is wrong.
Would you please help to update the progress on this issue?
It currently blocked the soft-delete feature support in storage.

As we discussed before it will be resolved in 2/9 release.

[2018-02-01 11:51] mitshub commented on #1918
thanks tclaypool!
it did help me:)

[2018-02-01 16:43] ironicLemon opened #5422 "Get-AzureRmDtlVMsPerLabPolicy and other Dtl comdlets not working"
### Cmdlet(s)
Get-AzureRmDtlAutoShutdownPolicy
Get-AzureRmDtlVMsPerLabPolicy

### PowerShell Version

PSVersion                      5.1.16299.98
PSEdition                      Desktop
PSCompatibleVersions           {1.0, 2.0, 3.0, 4.0...}
BuildVersion                   10.0.16299.98
CLRVersion                     4.0.30319.42000
WSManStackVersion              3.0
PSRemotingProtocolVersion      2.

[2018-02-01 17:12] energizedtech opened #5423 "New-AzureRMCognitiveServicesAccount does not work as expected"
### Cmdlet(s)
New-AzureRmCognitiveServicesAccount

### PowerShell Version
Instructions: to get PowerShell version, type `$PSVersionTable` and look for the value associated with `PSVersion`

Major  Minor  Build  Revision
-----  -----  -----  --------
5      1      17074  1002

### Module Version
0.9.1

### OS Version
Instructions: to get OS version, type `$PSversionTable` and look for value associa

[2018-02-01 17:45] energizedtech commented on #5423
I'm not sure if this helps but the JSON for Azure the Property name is "ApiType" but the one from the Cmdlet is simply "Type".   Wondering if that's all it is.

[2018-02-01 18:42] pixelicous commented on #2243
@pomortaz ?? +1

[2018-02-01 19:18] bgoldman69 commented on #5204
We are also seeing this issue currently.

[2018-02-01 19:29] sergey-shandar opened #5424 "Scenario Tests for availability set of New-AzureRmVm"
### Cmdlet(s)

- New-AzureRmVm

### PowerShell Version
Instructions: to get PowerShell version, type `$PSVersionTable` and look for the value associated with `PSVersion`

### Module Version

### OS Version
Instructions: to get OS version, type `$PSversionTable` and look for value associated with `BuildVersion`

### Description

### Debug Output
Instructions: to get Debug Output, set `$DebugPrefere

[2018-02-01 19:59] MiYanni commented on #5354
## Preliminary Investigation

Someone made another option called git-subrepo that tried to resolve the issues with git-submodule and git-subtree. I think it is worth a try to see if collaborators would need to install this to develop on our repos. https://github.com/ingydotnet/git-subrepo

Here is a good doc on git-subtree: https://www.atlassian.com/blog/git/alternatives-to-git-submodule-git-subtr

[2018-02-01 21:53] KumudD commented on #5328
I am updating the Important note to ensure that the customer send the request to join the preview to get the Preview PowerShell module that is required for Azure DNS Private Zone.
#please-close

[2018-02-01 21:59] bgoldman69 commented on #5204
we are unable to use the powershell command to add app service plans to an ASE 2.0 now.

[2018-02-01 22:00] #5328 closed

[2018-02-01 22:03] panchagnula commented on #5204
@bgoldman69 Isloated SKU support hasn't been enabled on the current CLI version. We will have a fix for this soon.

[2018-02-01 22:04] MiYanni opened #5426 "StorageAccountTests.ps1 have Assert-AreEqual parameters switched"
The tests in StorageAccountTests.ps1 (in Commands.Management.Storage.Test) use Assert-AreEqual but the passed parameters are flipped. The command uses:
`Assert-AreEqual {expected} {actual}`
and all the calls to it in this file actually pass them as
`Assert-AreEqual {actual} {expected}`

This making investigating test failures more difficult and confusing to those who do not realize the parameters

[2018-02-01 22:37] bgoldman69 commented on #5204
@panchagnula does that mean that we will be unable to use the Powershell Module to create app service plans in an ASE 2.0 until you fix it?

If so that really puts us in a terrible spot as we have been pressured to move to ASE 2.0 from ASE 1.0 and all of our automation code revolves around this stuff right now...

[2018-02-01 22:42] panchagnula commented on #5204
currently there is no work around for this until the support is turned on for powershell we are working on getting the fix out soon - until then please use Portal as the workaround - I understand this doesn't fix the automation part & so will give you an update on it soon.

[2018-02-02 01:49] blueww commented on #5426
I will fix it when remove Enable/disableEncryptionService paramters, since I will refine the test case and record it when the change.

[2018-02-02 02:13] MiYanni commented on #5243
I finally figured out what was the issue. The test recordings have not been re-recorded since API version 2016-12-01 and since then, the SDK was updated twice, once to 2017-06-01 and again to 2017-10-01. The tests need to be re-recorded every API change.

Currently, the TestController.cs was ignoring the API change. I have a branch where I've fixed the tests (including the Encryption issues and Lo

[2018-02-02 02:14] MiYanni commented on #5337
I have a branch that fixes these tests. See https://github.com/Azure/azure-powershell/issues/5243#issuecomment-362464537
Once the PR is accepted, I will close this issue and #5243

[2018-02-02 19:44] markcowl commented on #4516
Sample of generated list format: https://github.com/Azure/azure-powershell/blob/preview/src/ResourceManager/Profile/Commands.Profile/Microsoft.Azure.Commands.Profile.format.ps1xml#L93-L118

Documents about formatting:
https://docs.microsoft.com/en-us/powershell/module/microsoft.powershell.core/about/about_format.ps1xml?view=powershell-5.1
https://docs.microsoft.com/en-us/powershell/module/microsof

[2018-02-02 19:46] markcowl commented on #4516
Sample table format: https://github.com/Azure/azure-powershell/blob/preview/src/ResourceManager/Compute/Commands.Compute/Microsoft.Azure.Commands.Compute.format.generated.ps1xml#L88-L145

[2018-02-02 19:58] sergey-shandar opened #5430 "New-AzureRmVmss: BackeendPort is not used"
### Cmdlet(s)

`New-AzureRmVmss`

### PowerShell Version
Instructions: to get PowerShell version, type `$PSVersionTable` and look for the value associated with `PSVersion`

### Module Version

### OS Version
Instructions: to get OS version, type `$PSversionTable` and look for value associated with `BuildVersion`

### Description

The parameter `BackendPort` is not used in simple parameter set of `

[2018-02-02 20:29] maddieclayton commented on #5376
Fixed

[2018-02-02 20:29] #5376 closed

[2018-02-02 20:34] maddieclayton commented on #5403
Closing as a dup of: https://github.com/Azure/azure-powershell/issues/4919

[2018-02-02 20:34] #5403 closed

[2018-02-02 20:35] maddieclayton commented on #4919
@darshanhs90 Any update on this issue?

[2018-02-02 23:03] EwanNoble opened #5433 "Key Vault reference blocking creation of Key Vault"
### Cmdlet(s)
New-AzureRmResourceGroupDeployment

### PowerShell Version
5.1.16299.98

### Module Version
5.2.0

### OS Version
10.0.16299.98

### Description
Attempting to create a Key Vault, it's Key Vault Secrets and use these secrets in SQL Server deployments for the admin password. The Key Vault secret reference is being resolved before the Key Vault has been created, despite dependencies bei

[2018-02-02 23:16] singhkays commented on #5374
@markcowl Can you elaborate on the issue? (sorry, I don't know the details of how complex parameters are conflicting here :) ) and what's the recommended approach here?

[2018-02-02 23:38] singhkays commented on #3636
Update: @hyonholee is looking into this

[2018-02-03 00:36] maddieclayton commented on #4919
@darshanhs90 Can you take a look at my PR for this issue? https://github.com/Azure/azure-powershell/pull/5434

[2018-02-03 00:44] maddieclayton commented on #5433
@RandalliLama Can you take a look at this issue?

[2018-02-03 00:53] maddieclayton commented on #5423
@felixwa Can you take a look at this issue?

[2018-02-03 06:16] #5243 closed

[2018-02-03 06:16] #5337 closed

[2018-02-03 20:25] afyles opened #5437 "Backup-AzureRmApiManagement Fails for Basic Instance"
### Cmdlet(s)
Backup-AzureRmApiManagement

### PowerShell Version
5.114393

### Module Version
5.1.0

### OS Version
10.0

### Description
Fails with the following error, seems to be unsupported, but not documentation states that as such.
[code]

### Debug Output
[code]
### Script/Steps for Reproduction
Run the command:
`Backup-AzureRmApiManagement -ResourceGroupName $resourceGroup -Name $instance

[2018-02-04 18:43] shivab90 opened #5439 "Unable to extract Azure Guest VM metrics"
Hi
I want to extract Azure Guest Os metrics using "Azure Monitor Poweshell.
I have enabled Diagnostics in azure portal.
I have configured guest agent (WAD/LAD) to collect performance counters to their storage account, I have tried the below command to retrieve the data

Get-AzureTableEntity -TableName $tableName -StorageAccountName $ComputerInventory_StorageAccountName -StorageAccountAccessKey $St

[2018-02-05 12:10] gr4per commented on #5433
Suffering from exact same issue...

[2018-02-05 12:48] abhinava88 opened #5440 "Microsoft Azure PowerShell - Select-AzureRmSubscription Cmdlet Issue"
### Cmdlet(s) - **"Select-AzureRmSubscription"** and Login-AzureRmAccount cmdlet issues

### PowerShell Version : 4.0

### Module Version:

### OS Version: Windows Server 2012 R2
Instructions: to get OS version, type `$PSversionTable` and look for value associated with `BuildVersion`

Hi Team,

We have recently installed Azure Powershell latest version (31st Jan,2018) on our Windows Server 2012 R2

[2018-02-05 14:20] vinaydam opened #5441 "Set-AzureRmSqlDatabaseAuditing keeps throwing an error "Blob Auditing is currently not supported for this resource type""
### Cmdlet(s)
Set-AzureRmSqlDatabaseAuditing

### PowerShell Version
5.1.16299.98

### Module Version
5.1.1

### OS Version
10.0.16299.98

### Description
Set-AzureRmSqlDatabaseAuditing keeps throwing an error "Blob Auditing is currently not supported for this resource type". We are trying to enable auditing on a sql datawarehouse using this cmdlet. We were earlier using Set-AzureRmSqlDatabaseAudi

[2018-02-05 14:26] dotnetgator commented on #4708
Has anyone followed up on this?  It's been 4 months, and it seems there was an assignment followed by an un-assignment, but nothing else.  Obviously I worked around it months ago, but that doesn't change the fact that the script is still broken.

[2018-02-05 14:35] vinaydam opened #5442 "Set-AzureRmSqlDatabaseThreatDetectionPolicy throws an error saying "One or more of the email addresses you entered are not valid.""
### Cmdlet(s)
Set-AzureRmSqlDatabaseThreatDetectionPolicy

### PowerShell Version
5.1.16299.98

### Module Version
5.1.1

### OS Version
10.0.16299.98

### Description
When we try to enable threat detection on a sql datawarehouse using the "Set-AzureRmSqlDatabaseThreatDetectionPolicy" cmdlet by specifying valid emails for the switch "NotificationEmailRecipients" separated by ';', it still throws a

[2018-02-05 16:27] Jchakhachiro commented on #5029
Hello I'm having the same issue

PS C:\terraform> New-AzureRmSiteRecoveryFabric -Name $SiteName -Debug
Start-Sleep -Seconds 30
WARNING: The command 'New-AzureRmSiteRecoveryFabric' is obsolete. This cmdlet has been marked for deprecation in an upcoming release. Please use the New-AzureRmRecove
ryServicesAsrFabric cmdlet from the AzureRm.RecoveryServices.SiteRecovery module instead.
DEBUG: 15:19:51

[2018-02-05 16:32] zimmermannb opened #5444 "Update to most current WebApi for Get-AzureRmConsumptionUsageDetail"
### Cmdlet(s)
Get-AzureRmConsumptionUsageDetail

### PowerShell Version
Instructions: to get PowerShell version, type `$PSVersionTable` and look for the value associated with `PSVersion`
PSVersion                      5.1.16299.98
PSEdition                      Desktop
PSCompatibleVersions           {1.0, 2.0, 3.0, 4.0...}
BuildVersion                   10.0.16299.98
CLRVersion

[2018-02-05 16:36] cormacpayne commented on #5392
Updated `TestMappings.json` in PR https://github.com/Azure/azure-powershell/pull/5431

[2018-02-05 17:19] markcowl commented on #5440
@abhinava88 Please execure ```Get-Module -ListAvailable``` and supply the output here.  It looks like there may be some issue with the installation

[2018-02-05 17:23] markcowl commented on #5437
@afyles Which region is this request against?

@solankisamir Can you take a look?

[2018-02-05 17:26] markcowl commented on #5439
@shivab90 I don't thinbk Get_AzureSTorageTableEntity is a cmdlet from Azure PowerShell.  Where does this cmdlet come form?

[2018-02-05 17:30] markcowl commented on #5441
@jaredmoo Can you take a look?

[2018-02-05 17:31] markcowl commented on #5442
@jaredmoo Can you take  a look?

[2018-02-05 17:43] markcowl commented on #5444
@twitchax Can you assign this to the appropriate team?

[2018-02-05 18:04] markcowl opened #5446 "Investigate New Portal issues with Import-AzurePublishSettingsFile"
What doesn't work:
- Importing the publishsettings file using Powershell and executing the command "Get-AzureLocation" (repo steps below)

We have confirmed that the powershell scenario works when using the classic portal publishsettings.

What is strange though and what makes this complicated is that we have confirmed that the new current publishsettings DOES actually work for the powershell scen

[2018-02-05 18:05] MiYanni opened #5447 "Update Cmdlet Design Guidelines for parameter wildcards and single -> array"
- [ ] Update the [design guidelines](https://github.com/Azure/azure-powershell/wiki/PowerShell-Cmdlet-Design-Guidelines) to recommend for new cmdlets they implement wildcards on parameters when appropriate
- [ ] Update the [design guidelines](https://github.com/Azure/azure-powershell/wiki/PowerShell-Cmdlet-Design-Guidelines) to recommend for new cmdlets they use both single and array parameters wh

[2018-02-05 18:15] juhacket commented on #4708
We are fixing this issue in our next update.

[2018-02-05 18:15] darshanhs90 commented on #4919
@maddieclayton Let me add someone from the graph team to look at your PR,they will have more context about this

[2018-02-05 19:01] maddieclayton opened #5448 "Fix Long Running Cmdlet scenario test"
The long running cmdlet test intermittently fails with a timeout error, failing the build.

[2018-02-05 19:22] wangting66 commented on #1544
hi
has this been patched seems to still be occuring?
![image](https://user-images.githubusercontent.com/36086041/35824165-ae0ccdaa-0aba-11e8-9c43-46833648a332.png)

[2018-02-05 19:50] markcowl commented on #5389
Fixed.

[2018-02-05 19:50] #5389 closed

[2018-02-05 20:58] solankisamir commented on #5437
@afyles the PowerShell cmdlet does not support it. The fix was rejected https://github.com/Azure/azure-sdk-for-net/pull/3971

[2018-02-05 21:57] cormacpayne commented on #5390
This is fixed

[2018-02-05 21:57] #5390 closed

[2018-02-05 22:36] MiYanni opened #5449 "Remove Commands.ServiceManagement.Common dependency for Commands.ScenarioTests.ResourceManager.Common"
Test projects that reference `Commands.ScenarioTests.ResourceManager.Common` also reference `Commands.ServiceManagement.Common`. The only scenarios that seemed to be covered are converting from an SM profile to an RM profile.
- [ ] Refactor `Commands.ScenarioTests.ResourceManager.Common` to no longer require `Commands.ServiceManagement.Common`
- [ ] Clean up all solutions that have `Commands.Servi

[2018-02-05 23:47] paterben opened #5450 "RemoveAzureRmServiceBusRule removes namespace authorization rules instead of service bus rules"
### Cmdlet(s)
RemoveAzureRmServiceBusRule

### PowerShell Version
5.1.16299.98

### Module Version
5.2.0

### OS Version
10.0.16299.98

### Description
RemoveAzureRmServiceBusRule removes namespace authorization rules instead of service bus rules. The issue seems to be in [RemoveAzureServiceBusRule.cs](https://github.com/Azure/azure-powershell/blob/preview/src/ResourceManager/ServiceBus/Commands.S

[2018-02-05 23:51] sergey-shandar opened #5451 "Scenario test for New-AzureRmVm when domainnamelabel is not specified"
### Cmdlet(s)

### PowerShell Version
Instructions: to get PowerShell version, type `$PSVersionTable` and look for the value associated with `PSVersion`

### Module Version

### OS Version
Instructions: to get OS version, type `$PSversionTable` and look for value associated with `BuildVersion`

### Description

### Debug Output
Instructions: to get Debug Output, set `$DebugPreference="Continue"` a

[2018-02-06 00:16] afyles commented on #5437
East-US is the region. Is this supported via the REST management API?

[2018-02-06 00:58] MiYanni commented on #3430
Created a branch that cleans up references. Boiled down to these projects in ResourceManager that actually use `WindowsAzure.Storage`:
![image](https://user-images.githubusercontent.com/17788297/35836562-b6e2f0fa-0a95-11e8-9b31-9ad6a218fa12.png)

[2018-02-06 01:17] darshanhs90 commented on #5229
@viananth Closing this Issue as the bug has been fixed.Let me know if the issue is still persisting.

[2018-02-06 01:40] sergey-shandar opened #5452 "Scenario test for New-AzureRmVm for image name parsing"
### Cmdlet(s)

### PowerShell Version
Instructions: to get PowerShell version, type `$PSVersionTable` and look for the value associated with `PSVersion`

### Module Version

### OS Version
Instructions: to get OS version, type `$PSversionTable` and look for value associated with `BuildVersion`

### Description

### Debug Output
Instructions: to get Debug Output, set `$DebugPreference="Continue"` a

[2018-02-06 02:02] maddieclayton commented on #5450
@v-Ajnava @sazeesha @dsouzaarun Can one of you take a look at this? This is a serious issue that should be fixed immediately.

[2018-02-06 03:18] v-Ajnava commented on #5450
@maddieclayton raise a PR with the fix

[2018-02-06 05:46] felixwa commented on #5423
@energizedtech , thanks for reporting this. The doc is out of date, we will update in next release. APIs in Cognitive Services are quite dynamic, API 'type' and 'SKU' are changing over time. That's why they are string fields.

[2018-02-06 08:35] ranisha2 commented on #5441
Set-AzureRmSqlDatabaseAuditingPolicy was enabling table auditing which is deprecated and disabling Blob auditing (Which is not supported). You can still use it for Datawarehouse as currently Blob auditing is not supported for Datawarehouse (It will be soon). But please bear in mind that it will be migrated to Blob auditing in the near future, and that this command will be removed in a future relea

[2018-02-06 08:54] vinaydam commented on #5441
@ranisha2 Can you please clarify in the above message, which command has an issue? You are referring the same command in both the places. I'm assuming the Set-AzureRmSqlDatabaseAuditing command has an issue and it'll be fixed soon.

[2018-02-06 09:43] shivab90 commented on #5439
Kindly refer the below link for your reference
https://www.verboon.info/2017/07/creating-and-managing-azure-storage-tables-with-powershell/

[2018-02-06 10:16] ranisha2 commented on #5441
@vinaydam Currently blob auditing is not supported for datawarehouse, thus you are receiving this error when executing Set-AzureRmSqlDatabaseAuditing. Soon it will be supported, and executing the command will start working.
The issue is with the old command (Set-AzureRmSqlDatabaseAuditingPolicy) which returns an error even though table auditing was successfully enabled.

[2018-02-06 15:27] maikvandergaag commented on #4201
Hi All,

Could this issue be reopened? I still have this issue when using a Service Principal:

On the New-AzureRmRoleAssignment I receive a Microsoft.Rest.Azure.CloudException also on the Get method.

[2018-02-06 15:29] maikvandergaag commented on #3407
Could this be reopened?

I still got the issue when running these comments in VSTS:
On the New-AzureRmRoleAssignment I receive a Microsoft.Rest.Azure.CloudException also on the Get method.

[2018-02-06 16:45] energizedtech commented on #5423
Do you have the correct values?  I am working on an Article for “Hey! Scripting Guy!” on Technet and would love to have this working.   Specifically I am trying to enable to Bing.Speech 😊

Sent from Mail<https://go.microsoft.com/fwlink/?LinkId=550986> for Windows 10

From: felixwa<mailto:notifications@github.com>
Sent: Tuesday, February 6, 2018 12:48 AM
To: Azure/azure-powershell<mailto:azure-powe

[2018-02-06 16:48] rsmccall33 opened #5460 "Get-AzureRmRoleAssignment : Object reference not set to an instance of an object."
### Cmdlet(s)
Get-AzureRmRoleAssignment

### PowerShell Version
5.1.15063.726

### Module Version
AzureRM.Resources 5.1.1

### OS Version
10.0.15063.726

### Description
System.NullReferenceException: Object reference not set to an instance of an object.

### Debug Output
[code]

### Script/Steps for Reproduction

[code]

[2018-02-06 16:54] mguirao commented on #4818
Hey, This is a big blocker for me too.
Do you have a workaround using the Rest API ?

[2018-02-06 17:25] bill-dall commented on #4818
@mguirao - I looked into REST API workarounds (fairly quickly) and didn't come up with anything obvious. There may be a way. What we ultimately did was log in as a service principal with the correct access rights and the cmdlets worked after that. However, that gives us a big issue of managing the SP credentials, so we're eagerly waiting for a fix.

[2018-02-06 17:29] maddieclayton commented on #5450
Fixed

@paterben Thank you for bringing up this issue! You should see the fix in production by next Wednesday - please let us know if you find further issues.

[2018-02-06 17:29] #5450 closed

[2018-02-06 17:32] mguirao commented on #4818
In my scenario, i provide my access token to an azure function that perform powershell action with Login-AzureRmAccount with -AccessToken.
So the fact that i'm using a service principal or a user is not the issue here, and i want to keep the ability to have the azure context passed as param to my function.
I'm thinking about sending the result of Save-AzureRmProfile instead, to build my azure powe

[2018-02-06 19:11] sergey-shandar opened #5461 "New-AzureRmVmss doesn't use BackendPort parameter"
### Cmdlet(s)

### PowerShell Version
Instructions: to get PowerShell version, type `$PSVersionTable` and look for the value associated with `PSVersion`

### Module Version

### OS Version
Instructions: to get OS version, type `$PSversionTable` and look for value associated with `BuildVersion`

### Description

### Debug Output
Instructions: to get Debug Output, set `$DebugPreference="Continue"` a

[2018-02-06 22:11] rkyttle opened #5464 "Set-AzureRmRoleDefinition cmdlet documentation example references the wrong cmdlet"
### Script/Steps for Reproduction
Visit https://docs.microsoft.com/en-us/powershell/module/azurerm.resources/set-azurermroledefinition?view=azurermps-5.1.1

Under Examples, the example "Update using PSRoleDefinitionObject" is calling New-AzureRmRoleDefinition on its last line.

Shouldn't this example be using Set-AzureRmRoleDefinition instead?

[2018-02-06 22:43] markcowl commented on #5464
Hi @rkyttle We will take a look.  Meanwhile, did you know that you can click the 'edit' link on that page and  edit the document yourself?

[2018-02-06 22:48] maddieclayton commented on #5464
This is actually fixed in the latest documentation (you were looking at 5.1.1 and it is updated in 5.2.0): https://docs.microsoft.com/en-us/powershell/module/azurerm.resources/set-azurermroledefinition?view=azurermps-5.2.0

Closing as fixed.

[2018-02-06 22:48] #5464 closed

[2018-02-06 22:48] markcowl commented on #5460
@rsmccall33 Can you please run Resolve-AzureRmError so we can see a bit mroe about the exception.  Also, are you running this inside a runbook?

[2018-02-06 23:03] markcowl commented on #5422
@ironicLemon Thanks, we have verified this issue, @iouri-s can you please take a look.

[2018-02-06 23:10] markcowl commented on #4524
@mcowart123 For automation, the recommendation is either to use context persistence with device login (, or to use ServicePrincipal login

[2018-02-06 23:11] markcowl commented on #4524
Closing, as interactive login is not supported in Core

[2018-02-06 23:11] #4524 closed

[2018-02-06 23:14] markcowl commented on #4538
@georgeedwards We are closing since this is such an old version.  If you are still seeing this issue, please re-open and include the output when you set ```$DebugPreference="Continue"```

[2018-02-06 23:14] #4538 closed

[2018-02-06 23:18] markcowl commented on #4544
@Nking92 Would you guys consider having a parameter set that takes X509Certifcate2 as a type

[2018-02-06 23:24] markcowl commented on #4552
Closing for now until we figure this out for the .Net library

[2018-02-06 23:24] #4552 closed

[2018-02-06 23:25] markcowl commented on #4558
@pablojmp Unfortunately, it is not supported to mix RDFE and ARM cmdlets for AppServices.  Please update your scripts to use ARM.

[2018-02-06 23:25] #4558 closed

[2018-02-06 23:28] markcowl commented on #4563
@imtiazh @omerlh Unfortunately, we are not accepting new features in RDFE cmdlets, so we cannot accept this issue.  Please raise an issue for any missing functionality that you require in the ARM cmdlets.

[2018-02-06 23:28] #4563 closed

[2018-02-06 23:33] markcowl commented on #4649
@blueww Can you please take a look?

[2018-02-06 23:40] rkyttle commented on #5464
Thanks Mark!  I am aware of the edit option, I just hadn't used this cmdlet before so I wasn't sure if I had things right :)

Thanks Maddie!  I see the update, I was just going from a link that Bing brought me to, and I didn't notice that I wasn't looking at the latest docs.

[2018-02-07 00:20] maddieclayton commented on #1524
Closing in favor of https://github.com/Azure/azure-powershell/issues/5326

[2018-02-07 00:20] #1524 closed

[2018-02-07 00:26] maddieclayton commented on #2798
Fixed

[2018-02-07 00:26] #2798 closed

[2018-02-07 00:28] maddieclayton commented on #2796
RemoteApp no longer exists. Closing.

[2018-02-07 00:28] #2796 closed

[2018-02-07 00:29] maddieclayton commented on #2793
Fixed.

[2018-02-07 00:29] #2793 closed

[2018-02-07 00:32] maddieclayton commented on #2800
Help is either updated or the cmdlet no longer exists.

[2018-02-07 00:32] #2800 closed

[2018-02-07 00:39] maddieclayton commented on #4011
Hey @DeepakRajendranMsft is this an issue with the cmdlet or with the SDK call? If -PeeringType should be mandatory I can make that change, or if the SDK call should be different I can make that change.  Please let me know, this seems to have been around for a long time and I can still repro.

[2018-02-07 01:03] cormacpayne commented on #4516
Related issue here: https://github.com/Azure/azure-powershell/issues/865

[2018-02-07 01:06] cormacpayne commented on #1369
Closing in favor of https://github.com/Azure/azure-powershell/issues/5447

[2018-02-07 01:06] #1369 closed

[2018-02-07 01:27] maddieclayton commented on #823
@Nilambari @markjbrown Can we close this issue or fix?

[2018-02-07 01:32] cormacpayne commented on #3571
This has been resolved.

[2018-02-07 01:32] #3571 closed

[2018-02-07 01:34] cormacpayne commented on #4419
Closing as this issue seems to be fixed. Please feel free to re-open this issue if this is not the case.

[2018-02-07 01:34] #4419 closed

[2018-02-07 01:40] maddieclayton commented on #2942
Looks like these tests have been enabled. Network skipped tests are also being tracked elsewhere.

[2018-02-07 01:40] #2942 closed

[2018-02-07 01:43] cormacpayne commented on #1829
Closing in favor of https://github.com/Azure/azure-powershell/issues/5447

[2018-02-07 01:43] #1829 closed

[2018-02-07 01:55] maddieclayton commented on #3073
Fixed.  Please reopen if you are still seeing this issue.

[2018-02-07 01:55] #3073 closed

[2018-02-07 01:56] markcowl commented on #4522
@Nking92 This looks like it is related to websites tests (in RDFE or ARM).  Can you take a look?  We should be sure to remove these as part of the tests

[2018-02-07 01:57] markcowl commented on #4813
Meregd.

[2018-02-07 01:57] #4813 closed

[2018-02-07 01:58] AsraFatima commented on #5265
I am also seeing this issue. The Invoke-AzureRMResourceAction does not return after the action "ApplyArtifacts" and the script is stuck at that point.

[2018-02-07 02:00] maddieclayton commented on #3450
@takekazuomi Is this still an issue?

[2018-02-07 02:02] maddieclayton commented on #3449
Closing as resolved. Please reopen if this continues to be an issue.

[2018-02-07 02:02] #3449 closed

[2018-02-07 02:03] markcowl commented on #5065
@vivsriaus Verified.  Can you take a look - the default ProcessRecord implementation in AzureRMCmdlet will simply write to the error stream, you should copy this code in your ProcessRecord

[2018-02-07 02:10] markcowl commented on #5026
@masthi I don't see any immediate issues.  The actual dialog is a web application that depends on your eSTS settings, and display can be impacted by IE settings, if for example, enhanced security is enabled. .  What is the account domain?

[2018-02-07 02:23] markcowl commented on #4835
@gzaika @paylocity-sflanders Please provide the requested data - run Get-Module -ListAvailable and provide the module layout so we can see what the issue might be.

[2018-02-07 02:52] markcowl commented on #5439
@shivab90 It looks liek this issue is with the AzureTableEntity module referenced in this article.  Please file this issue there.

[2018-02-07 02:52] #5439 closed

[2018-02-07 02:53] markcowl commented on #5406
Fixed

[2018-02-07 02:53] #5406 closed

[2018-02-07 02:53] markcowl commented on #5149
Fixed.

[2018-02-07 02:53] #5149 closed

[2018-02-07 02:55] markcowl commented on #5309
Fixed.

[2018-02-07 02:55] #5309 closed

[2018-02-07 02:55] #5116 closed

[2018-02-07 06:05] masthi commented on #5026
@markcowl, awesome that's the problem. I have changed IE security settings for Internet from High to Medium high and that did the trick. Now the dialog box for sign in is coming up properly. Thanks a lot.

[2018-02-07 06:05] #5026 closed

[2018-02-07 13:15] abhinava88 commented on #5440
Please find the below output of "Get-Module -ListAvailable"

PS C:\Users\Administrator> Get-Module -ListAvailable

    Directory: C:\Windows\system32\WindowsPowerShell\v1.0\Modules

ModuleType Version    Name                                ExportedCommands
---------- -------    ----                                ----------------
Manifest   2.0.0.0    AppLocker                           {Get-AppLo

[2018-02-07 13:16] abhinava88 commented on #5440
``
[List-Module_output.txt](https://github.com/Azure/azure-powershell/files/1703178/List-Module_output.txt)

[2018-02-07 13:48] rsmccall33 commented on #5460
Hi Mark, yes this is running in a runbook.  Below is the results of running Resolve-AzureRmError:

Logging in to Azure...

Environments
------------
{[AzureUSGovernment, AzureUSGovernment], [AzureChinaCloud, AzureChinaCloud], [AzureGermanCloud, AzureGermanCloud], [A...
Creating this month's report in TEMP directory
Get-AzureRmRoleAssignment : Object reference not set to an instance of an object.
A

[2018-02-07 13:52] MCrank commented on #4649
Just to add that this issue is still occurring with the latest version of Azure.Storage.  I also just ran the Reproduction tests mentioned above and am seeing the same results.

![azurestorage_version](https://user-images.githubusercontent.com/3493649/35918463-8c569ac4-0bd7-11e8-8ce6-a5cbec9b916b.PNG)

![azurestorage_cpu](https://user-images.githubusercontent.com/3493649/35918510-ae5a3bbc-0bd7-11e

[2018-02-07 14:21] pixelicous commented on #4491
Classic, breaking automation and tools because of upgrades, all documentation still points to non working code.

[2018-02-07 16:30] rfcdejong commented on #3571
I have it working using the Microsoft.Azure.Management.Sql 1.11.0-preview NuGet package, but it is kinda difficult to call, why isn't it simply a parameter with newName?

This is my code what I have to write now with the new function.
It seems to require a ResourceMoveDefinition.

[code]

[2018-02-07 17:56] jaredmoo commented on #3571
Thanks for the feedback! Since your comment is azure-sdk-for-net, I have opened an issue over there and I am investigating how to fix this.

[2018-02-07 18:52] maddieclayton commented on #5422
Fixed

[2018-02-07 18:52] #5422 closed

[2018-02-07 20:43] blueelvis commented on #5030
Hey @blueww - Any update on this?

[2018-02-07 20:54] sergey-shandar commented on #5461
Duplicate #5430

[2018-02-07 20:54] #5461 closed

[2018-02-07 22:55] maddieclayton commented on #3134
Update:

73.4602866s ✔  Commands.Network.Test.ScenarioTests.VirtualNetworkGatewayTests.TestSetVirtualNetworkGatewayCRUD
Skipped ❢  Commands.Network.Test.ScenarioTests.VirtualNetworkGatewayTests.TestVirtualNetworkGatewayP2SVpnProfile
10.4379191s ✔  Commands.Network.Test.ScenarioTests.VirtualNetworkGatewayTests.VirtualNetworkGatewayActiveActiveFeatureTest
13.152872s ✔  Commands.Network.Test.Scenario

[2018-02-07 23:24] yevster opened #5473 "Remove-AzureRmADServicePrincipal does not communicate permission issue"
### Cmdlet(s)
Remove-AzureRmADServicePrincipal

### PowerShell Version
[code]
### Module Version
0.9.1
### OS Version
[code]

### Description
I get an "Invalid Operation" exception when trying to remove a service principal without having the requisite permission.

[code]

This is in contrast to the Azure CLI, which communicates the underlying issue clearly:
[code]

### Debug Output
Instructions: t

[2018-02-08 01:26] cblackuk opened #5475 "Cannot pull the azure-powershell latest container on Windows 2016"
### PowerShell Version
Instructions: to get PowerShell version, type `$PSVersionTable` and look for the value associated with `PSVersion`

### Module Version
PS C:\Users\Administrator> docker version
Client:
 Version:      17.06.2-ee-6
 API version:  1.30
 Go version:   go1.8.3
 Git commit:   e75fdb8
 Built:        Mon Nov 27 22:46:09 2017
 OS/Arch:      windows/amd64

Server:
 Version:      17.06

[2018-02-08 07:03] abhinava88 commented on #5440
Did anyone find anything missing there??

Pls update. Thanks

[2018-02-08 09:20] jimmywim opened #5478 "Select-AzureRmSubscription alias isn't available"
### Cmdlet(s)
Select-AzureRmSubscription / Set-AzureRmContext

within module AzureRM.Profile

### PowerShell Version
4.0

### Module Version
5.20

### OS Version
6.3.9600.18773

### Description
After importing AzireRM.Profile.psd1, the Select-AzureRMSubscription alias isn't available, leaving the AzureFileCopy VSTS task unable to run on private agents

### Debug Output
2018-01-31T14:35:56.2374122Z

[2018-02-08 09:35] 4c74356b41 commented on #4476
@twitchax hey, latest AzureRm.Netcore reléase was 2017-07-28 :) can you shed some light on when you are going to reléase something with this problema fixed aka working for scripting on Linux?

Thanks :)

[2018-02-08 16:18] zimmermannb commented on #5444
Any updates on this topc?

[2018-02-08 16:50] rkyttle commented on #5464
Thinking more on this, even though the latest version of the docs has been updated, shouldn't we still correct this documentation on the version 5.1.1 site?  While I believe its always best to use the latest and greatest, when you do a Bing search for this cmdlet it brings you to the 5.1.1 docs.  I feel this should still get updated, and I am happy to fork and do a pull request if you prefer.

[2018-02-08 17:52] maddieclayton commented on #5446
Service team is fixing on their side - will reopen if fix is not successful.

[2018-02-08 17:52] #5446 closed

[2018-02-08 17:57] maddieclayton commented on #5313
Closing for inactivity - Please reopen if this continues to be an issue for you.

[2018-02-08 18:40] MiYanni commented on #5400
Working now. Latest drop with these changes here:
https://azuresdkci.westus2.cloudapp.azure.com/job/ps-stack-drop/28/Azure/

[2018-02-08 18:40] #5400 closed

[2018-02-08 18:45] bganapa commented on #5400
@MiYanni Thanks for the quick response. I am validating again..

[2018-02-08 19:05] darshanhs90 commented on #3407
@maikvandergaag could you run the command with -Debug and send the stack trace

[2018-02-08 19:08] maddieclayton commented on #5478
@jimmywim This PR should fix your issue: https://github.com/Azure/azure-powershell/pull/5480.  In the meantime, using Set-AzureRmContext will be a quick fix for your issue until our next release.  Thanks for bringing this issue to our attention.

[2018-02-08 19:09] maddieclayton commented on #5440
@abhinava88 This PR should fix your issue: https://github.com/Azure/azure-powershell/pull/5480.  In the meantime, using Set-AzureRmContext will be a quick fix for your issue until our next release.  Thanks for bringing this issue to our attention.

[2018-02-08 19:14] jimmywim commented on #5478
Thanks - Looks like I may have to wait for the next release then as the AzureFileCopy task in VSTS uses the alias, can't work around it (unless I manually re-implement what AzureFileCopy does as a raw powershell script task).

Any ETA on the next release?

[2018-02-08 19:21] maddieclayton commented on #5478
The release that this change will be included in will be in about three weeks.  In the meantime, you can also manually set an alias before running the task: ```Set-Alias -Name "Select-AzureRmSubscription" -Value "Set-AzureRmProfile"```

Would this be a reasonable workaround?

[2018-02-08 19:23] bmoore-msft commented on #5265
Can you attach -debug output from the command?

[2018-02-08 19:41] jimmywim commented on #5478
Perfect, that may work, thanks. I'm hoping that if I set it with an Inline Powershell task with that line in, it will still be available as an alias in the following AzureFileCopy task that runs after it (I'm hoping the task pipeline runs as a single Powershell session so the alias still takes effect).

[2018-02-08 20:00] jimmywim commented on #5478
The alias didn't work across Tasks in VSTS. The pipeline must use isolated Powershell sessions for each Powershell related task.

[2018-02-08 21:38] maddieclayton commented on #5478
Can you try adding -Scope to the command? So: ```Set-Alias -Name "Select-AzureRmSubscription" -Value "Set-AzureRmProfile" -Scope Global```

[2018-02-09 02:22] smudge202 commented on #3735
Note, when multiple storage accounts are available, the command can default to using a storage account outside of the VM's location, leading to the command failing

[code]

[2018-02-09 07:31] vinaydam commented on #5442
Is there any update on this?

[2018-02-09 08:02] abhinava88 commented on #5440
This cmdlet "Set-AzureRmContext" worked for me. Thanks for your help and support.

[2018-02-09 08:02] #5440 closed

[2018-02-09 08:02] abhinava88 commented on #5478
This cmdlet "Set-AzureRmContext" worked for me. Thanks for your help and support.

[2018-02-09 10:08] rwwilden commented on #4698
You could use Azure Resource Explorer to temporarily disconnect the VMSS and the NAT pool(s). Since they are no longer in use by the VMSS, you can now apply your changes. I wrote a [blog post](https://ronaldwildenberg.com/azure/2018/02/09/remove-inbound-nat-rules-from-azure-vmss.html) explaining this approach.

[2018-02-09 14:52] jimmywim commented on #5478
Added `-Scope Global` worked for me! Thanks!

[2018-02-09 14:53] jimmywim commented on #5478
Closing as suitable workarounds are present, and issue fix is in the pipeline (https://github.com/Azure/azure-powershell/pull/5480)

[2018-02-09 14:53] #5478 closed

[2018-02-09 17:31] 4c74356b41 commented on #4542
same problem with stop-azurermvm. any solution. should be fairly easy (just not for me, not a c# guy. can barely understand the code).

[2018-02-09 19:19] rsmccall33 commented on #5460
Any more info that I can provide?

[2018-02-09 22:19] maddieclayton commented on #5475
@twitchax Can you take a look?

[2018-02-09 22:50] twitchax commented on #5475
Hi @cblackuk, this seems to be an issue with the base Windows Server Core container image that I used.  I will fix these shortly.

[2018-02-10 00:01] twitchax commented on #5475
Hi @cblackuk, I just updated these images: can you verify they are fixed and close?

[2018-02-10 00:10] cblackuk commented on #5475
Hi @twitchax  I wish that fixed it... but sadly not ;-(

docker pull azuresdk/azure-powershell
Using default tag: latest
latest: Pulling from azuresdk/azure-powershell
5847a47b8593: Pull complete
9f887ccb8077: Pull complete
a2368a681731: Extracting [==================================================>]  43.49MB/43.49MB
failed to register layer: re-exec error: exit status 1: output: time="2018-02-10

[2018-02-10 02:43] MiYanni commented on #3598
@iamGavinJ I started a pull request for this documentation fix. I didn't find the example in `New-AzureRmApplicationGatewayBackendAddressPool` but I have removed the example in `Set-AzureRmApplicationGatewayBackendAddressPool`. Once the PR is merged, I'll close this issue.

[2018-02-10 04:34] twitchax commented on #5475
@cblackuk, do you have the latest Windows 1709 update?

[2018-02-10 07:58] cblackuk commented on #5475
@twitchax  Nope
My OS  Version	10.0.14393 Build 14393
![image](https://user-images.githubusercontent.com/28607803/36060022-37309370-0e38-11e8-8e26-de6d836bfdfd.png)

[2018-02-10 20:24] MaximoTrinidad commented on #4845
FYI - As of today - 02/10/2018 - This error still persist making the sample provided in Microsoft Documentation not workable.
**AzureRM.SQL version 5.2.0**

It still getting the same error:
[code]
Is there any workaround in the future?

:)

[2018-02-10 20:29] MaximoTrinidad opened #5489 "New-AzureRmSqlServer - Any idea when is going to be available as AzureRm.Sql.Netcore?"
Just checking to find out when is becoming available for  PSCore6 as AzureRm.Sql.Netcore Module.

Thanks!

[code]

[2018-02-11 01:54] paylocity-sflanders commented on #4835
@markcowl i ran my repo steps again and produced a debug log for each step.  Hopefully it will be helpful in resolving the issue
[Azure-Powershell-Issue-4835.txt](https://github.com/Azure/azure-powershell/files/1713962/Azure-Powershell-Issue-4835.txt)

[2018-02-11 04:35] darrenjrobinson opened #5490 "New-AzureRmIotHubExportDevices attempting to Import rather than Export and failing with 'InternalServerError'"
### Cmdlet(s)
New-AzureRmIotHubExportDevices

### PowerShell Version
PSVersion 5.1.16299.98

### Module Version
Manifest   2.1.0      Azure
Script     4.0.2      Azure.Storage
Script     5.1.1      AzureRM
Script     3.0.0      AzureRM.IoTHub
Script     4.1.1      AzureRM.Profile
Script     5.1.1      AzureRM.Resources
Script     4.0.1      AzureRM.Storage

### OS Version
BuildVersion

[2018-02-11 06:01] ykatayam commented on #4801
The same error happens with Add-AzureRmVhd cmdlet running on MacOS.
MacOS 10.12.6
PowerShell version: 6.0.1
AzureRM.Netcore: 0.9.1

[2018-02-11 09:43] twitchax commented on #5475
@cblackuk, ok, I reverted back to the older Windows Server Core images.  It should work now.  We will stay on them for a while.

[2018-02-11 09:43] #5475 closed

[2018-02-11 22:36] cblackuk commented on #5475
It works now! Thanks for sorting! @twitchax

[2018-02-12 00:05] markcowl commented on #5473
@yevster Note that, if you run Resolve-AzureRmError, then these same details become more apparent

[2018-02-12 00:08] markcowl commented on #5473
Closing as duplicate of #3649

[2018-02-12 00:08] #5473 closed

[2018-02-12 00:09] markcowl commented on #5489
KeyVault is scheduled to be added this week when 0.10 is released.  All modules will be available by May.

[2018-02-12 00:10] markcowl commented on #5489
You can track progress for this in #3746.  Closing this issue as a duplicate.

[2018-02-12 00:11] #5489 closed

[2018-02-12 01:21] markcowl opened #5492 "Ad Hoc Validation for AzureRM.Kubernetes module"
### Description

- [x] Validate live CRUD scenarios for AzureRM.Kubrnetes module - sync up with David on a simple Kubernetes app for test (or use the scenairo test app)
- [x] File bugs or fix issues as appropriate
- [x] Determine whether we should release this milestone

### Cost: 2

[2018-02-12 01:23] markcowl opened #5493 "Release PowerShell Core modules"
### Description

- [ ] Release PowerShell Core modules from latest build
- [ ] Document release procedure and vaidation steps

### Cost: 2

[2018-02-12 01:30] markcowl opened #5494 "Initial end-to-end validation for preview modules"
### Description

- [x] Contact teams about end-to-end validation for new preview modules
  - [x] LocationBasedServices
- [x] Create tracker for preview module release, including version badge, branch
- [x] Remove unnecessary preview branches (2018-02-09-01, EventGrid)

### Cost: 1

[2018-02-12 01:39] markcowl commented on #4835
@paylocity-sflanders In your initial setup, you have a very old version of AzureRM cmdlets installed from the Azure PowerShell msi before you install the latest version.  Side-by side installation is only supported for

(1) versions 4.x or greater
(2) both versions installed from the Gallery

Remove the msi-installed ckdlets before attemtpoing to install cmdlets from the gallery.

If you see anoth

[2018-02-12 01:39] #4835 closed

[2018-02-12 01:42] markcowl commented on #4561
@ShilpiRachna This error indicates that the certificate is not appropriate for AAD authentication.  Were you able to log in with this certificate initially?

[2018-02-12 02:29] markcowl commented on #5460
@rsmccall33 I suspect that the problem is here: https://github.com/Azure/azure-powershell/blob/preview/src/Common/Commands.Common.Authentication.Abstractions/AzureEnvironmentConstants.cs#L91 The graph endpoint for government cloud may be incorrectly set, to that this issue is really about being unable to look up the graph object id for role assignments.  We will verify in government cloud and then

[2018-02-12 02:40] markcowl commented on #5460
### Description

- [ ] Verify role assignment cmdlets in gov cloud

[2018-02-12 02:43] #5392 closed

[2018-02-12 02:44] markcowl commented on #5279
Complete

[2018-02-12 02:44] #5279 closed

[2018-02-12 03:03] markcowl commented on #865
- [ ] Update documentation for default table view using new tools (as above)
  - [ ] Include mechanisms for marking output properties for inclusion in table view
- [ ] Work with core teams to change default to table view for their cmdlets
  - [ ] Profile
  - [ ] Compute
  - [ ] Resource Manager
  - [ ] Network
  - [ ] Storage
  - [ ] KeyVault
  - [ ] WebApps
  - [ ] Sql
  - [ ] Automation

[2018-02-12 03:19] markcowl opened #5495 "Fix and verify VM custom image scenarios"
### Description

- [x] Fix VM scenarios involving custom images
- [x] Add test automation for windows, non-Microsofct windows, and linux custom images

### Cost: 2

[2018-02-12 03:25] markcowl opened #5496 "Fix Output, Parameters, and Piping for KeyVault cmdlets"
### Description
Work with KeyVault team to update KeyVault cmdlets to make the following changes.  In this release, we want to identify proposed cmdlet changes, present these to the KeyVautl team, and make the changes ourselves, or in coordination with them.

We want to normalize the cmdlets in the following ways.
- [ ] Correctly specify output type
- [ ] Enumerate collections
- [ ] Take piepline

[2018-02-12 03:37] markcowl opened #5497 "Automate Compute How-tos"
### Description

Go through Compute How-Tos and Automate scenario tests to protect their examples.

[2018-02-12 03:41] markcowl opened #5498 "Create VM Image for partners"
### Description
- [x] Create VM Image with all necessary tools for Azure Posh development
- [x] Verify build, test run, and test recording
- [ ] Add use of the image to development docs, make image available for universal download and liunk from README

###Cost: 4

[2018-02-12 03:44] markcowl commented on #3746
- [ ] Update xunit tests for runnign in core when new PowerShell runtime modules available
- [ ] Create tools and docs for adding NetCore infrastructure for new modules
- [ ] Create schedule and file issues for remaining legacy modules into NetCore

[2018-02-12 03:47] markcowl opened #5499 "Update ACE module for preview module release"
### Description

For PR: #5428 Set up PR as a separate preview module for management partners
- [x] Add in necessary solution, test, project, and psd1 files
- [ ] Verify correct build in signing

### Cost: 1

[2018-02-12 03:55] markcowl opened #5500 "Create common pattern and code for wildcards and paging in list functions"
### Description

- [ ] Decide on a usage of Paging Parameters for PowerShell
- [ ] Add support for generic paging enumerator
- [ ] Add design guidelines for using wildcards in control plane cmdlets
  - [ ] Minimum support for ARM top-level resources
  - [ ] Guidance when supported by underlying service
  - [ ] Guidance when not supported by underlyign service
- [ ] Add common code to support the g

[2018-02-12 03:58] markcowl opened #5501 "Add support for MSI for user-assigned identities"
### Description
 - [x]  Get top-level scenarios from MSI team, in coordination with CLI
 - [ ] Update Profile code to allow selection of identity on login
 - [x] Unit and end-to-end tests
 - [x] Update How-to documentation on MSI
-  [x] Update endpoints to use Metadata service
  - [x] Figure out transition plan (shjould we try one and then the other for some time?)

### Cost: 8

[2018-02-12 04:02] markcowl opened #5502 "Fix issue with AsJob support for VMRunCommand"
### Description
VM Run command does noit work with AsJob, as the SessionState is not filled out for the cmdlet, which prevents the user from suign the SessioNState to resolve path arguments

- [ ] Verify SessioNState cannot be copied in Job implementation
- [ ] Create common code for resolving PS paths that can be adapted so it will work when runnign synchronpously or in  ajob (most likely this in

[2018-02-12 08:20] maddieclayton commented on #5402
Closing as duplicate of https://github.com/Azure/azure-powershell/issues/5502

[2018-02-12 08:20] #5402 closed

[2018-02-12 11:04] MrCNeale opened #5503 "Login-AzureRMAccount causes unhandled exception"
### Cmdlet(s)
Login-AzureRMAccount
### PowerShell Version
Instructions: to get PowerShell version, type `$PSVersionTable` and look for the value associated with `PSVersion`
6.0.1
### Module Version
4.2.0
### OS Version
Instructions: to get OS version, type `$PSversionTable` and look for value associated with `BuildVersion`
10.0.0.10586
### Description
Running **Login-AzureRMAccount** with or witho

[2018-02-12 14:06] paylocity-sflanders commented on #4835
@markcowl
to confirm are you saying the msi stuff can or can't be installed if using powershell modules from the gallery?   or are you just saying the msi version has to be greater than 4.x to work properly with the gallery based modules?

[2018-02-12 15:56] BrandonBoone opened #5506 "Can't create container with a volume mount from an azure registry image."
### Cmdlet(s)
`New-AzureRmContainerGroup`

### PowerShell Version
5.1.15063.786

### Module Version
AzureRM 5.2.0

### OS Version
10.0.15063.786

### Description
Can't create container with a volume mount from an azure registry image.

Following the example, "[Example 6: Creates a container group that mounts Azure File volume](https://docs.microsoft.com/en-us/powershell/module/azurerm.containerins

[2018-02-12 16:17] markcowl commented on #5503
@MrCNeale The AzureRM.Profile module is not netcore compatible.  You cna tell this because it is not listed in the galelry with the 'Linux' tag.  For NetCore compatible azure powershell modules, use AzureRM.NetCore: https://www.powershellgallery.com/packages/AzureRM.Netcore/

[2018-02-12 16:17] #5503 closed

[2018-02-12 16:23] markcowl commented on #5506
@yolo3301 @yangl900 @jluk Can oen of you take a look?

[2018-02-12 17:36] cormacpayne commented on #5490
@rkmanda Hey Roopesh, would you mind taking a look at this issue?

[2018-02-12 18:07] #3598 closed

[2018-02-12 19:25] MiYanni opened #5509 "Create IsMockAvailable in ScenarioTests.Common"
Several RPs are using try-catch to detect if Mocking is available. Instead, we should provide a function that checks to see that the Mock assembly is loaded and then update those try-catches in the RPs Common.ps1's so they use our function.

Something similar to this should work.
[code]

This will clean up our Resolve-AzureRmError output when running nightly live tests.

[2018-02-12 22:24] markcowl opened #5512 "Create Captured Common Code Version of Compute Management Library"
### Description

- [x] Find the api-version currently supported by AzureStack
  - The Tag for this version is here: https://github.com/Azure/azure-rest-api-specs/tree/master/specification/compute/resource-manager#tag-package-compute-2016-04-preview
- [x] Add a test to AzureRM.Profile.Tests that constructs the new client
- [ ] Generate Compute client code based on this version, adding the api-versi

[2018-02-12 22:27] markcowl opened #5513 "Install PowerShellGet 1.6.0 on all CI machines"
### Description

- [x] Ensure PowerShellGet 1.6.0 is installed on all PowerShell and PowerShell50 workers
  - [x] Ensure that PackageManagement is also installed
  - [x] Install for both 32-bit and 64-bit powershell
  - [x] Verify using import-Module and running Find-Module on a known module

### Cost: 1

[2018-02-12 22:31] workleodig commented on #5265
Here's the -debug output
[debugoutput.txt](https://github.com/Azure/azure-powershell/files/1717936/debugoutput.txt)

[2018-02-13 01:33] yangl900 commented on #5506
thanks for the details! @yolo3301 could you help take a look? this looks like an PS cmdlet issue, we don't have this problem in az cli.

[2018-02-13 05:16] blueww commented on #4649
@MCrank, Set-AzureStorageBlobContent cmdlet is implemented based on [DMlib](https://github.com/Azure/azure-storage-net-data-movement), and caused by DMlib  issue for the CPU usage after finish all jobs: https://github.com/Azure/azure-storage-net-data-movement/issues/66.

I will update PowerShell when DMlib fix this issue.

[2018-02-13 08:42] TerrapinStation commented on #5021
@solankisamir is this feature still expected to be delivered Feb 2018?

[2018-02-13 09:54] xqiu opened #5517 "Wiki https://github.com/Azure/azure-powershell/wiki/Storage-Blob-Service-Default-Service-Version Is not correct"
### Description
The following wiki's information seems incorrect as the links points to non-existing pages and the Cmdlet does not exist in the current Azure PS module.
https://github.com/Azure/azure-powershell/wiki/Storage-Blob-Service-Default-Service-Version

[2018-02-13 12:31] sbgillett commented on #1131
Any news on a fix for this? It's still an issue for me in v 4.2.0 of the AzureRM.SQL module.

[2018-02-13 12:39] blueww commented on #5517
The  design in the doc is changed in the review.
I have updated it to be align with current implementation.

@markcowl , @cormacpayne , please help to confirm if we should open the design doc to public? And the process to open it? Thanks!

[2018-02-13 14:03] solankisamir commented on #5021
No, we have slipped on the delivery date for this, due to some service side challenges.
Expect it to be out in April 2018. Apologize for that.

[2018-02-13 16:11] cormacpayne commented on #3746
AzureRM.Netcore 0.10.0 has been released and can be found here: https://github.com/Azure/azure-powershell/releases/tag/v0.10.0-nc-February2018

[2018-02-13 16:13] cormacpayne commented on #4476
AzureRM.Netcore 0.10.0 has been released and can be found here: https://github.com/Azure/azure-powershell/releases/tag/v0.10.0-nc-February2018

[2018-02-13 16:14] cormacpayne commented on #4487
AzureRM.Netcore 0.10.0 has been released and can be found here: https://github.com/Azure/azure-powershell/releases/tag/v0.10.0-nc-February2018

[2018-02-13 16:15] cormacpayne commented on #4403
AzureRM.Netcore 0.10.0 was released and includes the AzureRM.KeyVault.Netcore module. You can find it here: https://github.com/Azure/azure-powershell/releases/tag/v0.10.0-nc-February2018

[2018-02-13 17:14] ChristopherGLewis opened #5518 "Get-AzureRMRouteTable does not work as a pipeline command"
### Cmdlet(s)

### PowerShell Version
PSVersion                      5.1.16299.98
PSEdition                      Desktop
PSCompatibleVersions           {1.0, 2.0, 3.0, 4.0...}
BuildVersion                   10.0.16299.98
CLRVersion                     4.0.30319.42000
WSManStackVersion              3.0
PSRemotingProtocolVersion      2.3
SerializationVersion           1.1.0.1

### Module Version
get

[2018-02-13 17:19] ChristopherGLewis commented on #5518
Even worse, this works
[code]

[2018-02-13 17:22] RandalliLama commented on #4818
@markcowl Will this start working on prem as well as cloud shell, or is our fix cloud shell only?

[2018-02-13 17:32] akromm commented on #1131
@sbgillett can you provide more details about what problem you are having?
- What command are you running?
- What is the output you are getting?
- What output are you expecting to get?

[2018-02-13 17:41] RandalliLama commented on #5433
@seanbamsft @dragav Can either of you help with this?

[2018-02-13 17:43] maddieclayton commented on #5517
@blueww All design reviews should be in the private powershell repo (and now in the private cmdlet review repo).  I will close this issue, can you move the doc over to private?

[2018-02-13 17:43] #5517 closed

[2018-02-13 17:52] cormacpayne commented on #5517
@blueww new cmdlet repo is here: https://github.com/Azure/azure-powershell-cmdlet-review-pr

[2018-02-13 18:52] dragav commented on #5433
It seems that the vault uri is missing the subscription id in this fragment:
"keyVault": {
       "id": "[resourceId(parameters('SharedKeyVaultResourceGroupName'), 'Microsoft.KeyVault/vaults', parameters('SharedKeyVaultName'))]"
                            },

Here is an example (from https://aka.ms/arm-keyvault):
"keyVault": {
                "id": "[resourceId(subscription().subscriptionId,  par

[2018-02-13 19:07] 4c74356b41 commented on #4476
but the freaking user login doesnt work ...

[2018-02-13 19:13] MiYanni commented on #5518
@DeepakRajendranMsft Can you take a look at this?

[2018-02-13 19:40] MiYanni commented on #5426
These changes have been merged in. Closing issue.

[2018-02-13 19:40] #5426 closed

[2018-02-13 20:12] seanbamsft commented on #5433
The resourceId() call is fine as it will use the current subscription ID. The issue here is that PowerShell calls the /validate API on ARM to validate the template prior to submitting the deployment. ARM attempts to validate the linked template, including the Key Vault reference. I do not see any way to skip this validation from PowerShell.

I used Fiddler to skip the /validate call and just creat

[2018-02-13 22:57] MiYanni commented on #5174
Fixed in https://github.com/Azure/azure-powershell/pull/4876

[2018-02-13 22:57] #5174 closed

[2018-02-13 23:03] MiYanni commented on #5177
1. Update dev docs to check for these piping scenarios
2. Check core cmdlets to see if they work with these piping scenarios
3. Notify non-core RPs about new standard and they should fix this

[2018-02-13 23:10] maddieclayton opened #5520 "Update documentation to include guidelines for testing piping"
Include a section in the developer guidelines regarding piping scenarios that should be tested in scenario tests.

Get-AzureRm[Thing] | Select -Property [PropFromThing]
Get-AzureRm[Thing] | Select -Last 1

From these, we can tell if it is properly returning the type information.

[2018-02-13 23:10] maddieclayton commented on #5177
https://github.com/Azure/azure-powershell/issues/5520

[2018-02-13 23:12] maddieclayton opened #5521 "Ensure piping scenarios work with core cmdlets"
For all core cmdlets, check that these piping scenarios are working:

Get-AzureRm[Thing] | Select -Property [PropFromThing]
Get-AzureRm[Thing] | Select -Last 1

[2018-02-13 23:13] maddieclayton opened #5522 "Work with non-core teams to ensure piping scenarios are working"
Contact non-core service teams about possible failing piping scenarios:

Get-AzureRm[Thing] | Select -Property [PropFromThing]
Get-AzureRm[Thing] | Select -Last 1

Work with the service teams to ensure that these piping scenarios are not failing in their modules.

[2018-02-13 23:13] maddieclayton commented on #5177
Closed, tracking in other issues.

[2018-02-13 23:13] #5177 closed

[2018-02-13 23:15] MiYanni commented on #5182
@MiYanni Clean up the doc

[2018-02-13 23:29] MilanNXT commented on #5295
Haridarshan,

apologize for delay. I was able to achieve results by using Azure CLI. I am closing this issue.

[2018-02-13 23:29] #5295 closed

[2018-02-13 23:31] maddieclayton commented on #5342
@sergey-shandar If this is fixed can you close the issue?

[2018-02-13 23:51] sergey-shandar commented on #5342
@maddieclayton it's partly fixed. Now it creates unique id if the `DomainNameLabel` is not specified. It's still impossible to create VM without public IP. @iainfoulds, @twitchax any idea about cmdlet parameters design to support the feature?

[2018-02-14 00:31] iainfoulds commented on #5342
@sergey-shandar @maddieclayton @twitchax In the CLI, you can declare `--public-ip-address ""` which is interpreted as `none`. That's not particularly intuitive either though.

I guess since PowerShell version wants a string, could you interpret `None` or `False`, even though not bool, as meaning the user doesn't want a public IP? If they don't want a public IP, don't then create a public DNS.

[2018-02-14 00:49] MiYanni commented on #5513
Completed.

[2018-02-14 00:49] #5513 closed

[2018-02-14 03:59] markcowl commented on #5499
PR here: https://github.com/jeffrey-ACE/azure-powershell/pull/1

[2018-02-14 03:59] #5499 closed

[2018-02-14 04:31] twitchax commented on #5342
I would like @markcowl's input, but I think we could have a `-IpAddressName $null`.  Is that nonstandard, @markcowl?

[2018-02-14 04:32] twitchax commented on #4476
Of which scenario are you speaking?

[2018-02-14 05:31] Know1 commented on #4476
Seems to be working now for me

`
$ rm -rf /usr/local/share/powershell/Modules/AzureRM.Profile.Netcore/0.9.1/
$ pwsh

PS /tmp> Install-Module AzureRM.Profile.Netcore
PS /tmp> get-module AzureRM.Profile.Netcore -list | Select-Object Name,Version,Path
Name                    Version Path
----                    ------- ----
AzureRM.Profile.Netcore 0.10.0  /usr/local/share/powershell/Modules/AzureRM.

[2018-02-14 07:07] blueww commented on #5517
Actually, the updated design is already in https://github.com/Azure/azure-powershell-pr/wiki/Storage-Blob-Service-Default-Service-Version long ago.

I have deleted the out of date design in the public repo: https://github.com/Azure/azure-powershell/wiki/Storage-Blob-Service-Default-Service-Version

[2018-02-14 07:13] blueww commented on #4840
As this is not Azure PowerShell cmdlets issue, and not other customer question for this for a long time. Close this issue.

[2018-02-14 07:13] #4840 closed

[2018-02-14 07:20] blueww commented on #2878
The issue for Get-AzureRmStorageAccountKey already resolved. Run "get-help Get-AzureRmStorageAccountKey -online" with latest Azure Powershell can direct to correct online help page.
So will close this issue.

@BurtHarris , please open another issue for  Add-AzureRmAccount, seems it still not work.

[2018-02-14 07:20] #2878 closed

[2018-02-14 07:26] 4c74356b41 commented on #4476
@twitchax talking about regular AD user login :(

[2018-02-14 10:02] sbgillett commented on #1131
I get an identical result to yours; tags aren't returned by `Get-AzureRmSqlDatabase` unless requesting a specific database. Is this by design, and if so, why?

[2018-02-14 10:10] laughtonsm opened #5530 "Missing description parameter on New-AzureRmAdAppCredential cmdlet"
Hi.

I am creating password credentials on an existing SPN, and any credentials that are created using the New-AzureRmAdAppCredential are created using a description of 'Key Description'.  It would be useful to have a -description swithc to at least populate this.

Cheers

Shaun

[2018-02-14 14:06] rsmccall33 commented on #5460
Hi Mark, is the workaround something that I can try soon to verify?
Thanks!

[2018-02-14 17:47] MiYanni commented on #5530
@darshanhs90 Can you take a look at this?

[2018-02-14 17:55] MiYanni commented on #5353
Initial changes merged in via https://github.com/Azure/azure-powershell/pull/5514

[2018-02-15 00:25] AngshumanNayakMSFT opened #5540 "[Insights][Monitor] - Can't create ActivityLogAlert with an already created ActionGroup."
### Cmdlet(s)
Set-AzureRmActivityLogAlert

### PowerShell Version
Instructions: to get PowerShell version, type `$PSVersionTable` and look for the value associated with `PSVersion`

### Module Version

### OS Version
Instructions: to get OS version, type `$PSversionTable` and look for value associated with `BuildVersion`

### Description

### Debug Output
Instructions: to get Debug Output, set `$D

[2018-02-15 16:50] CDargis opened #5545 "UpdateAzureSchedulerServiceBusQueueJobCommand ignores authentication params"
### Cmdlet(s)
UpdateAzureSchedulerServiceBusQueueJobCommand

### PowerShell Version
5.1.14393.1358

### Module Version
Discovered in 0.11.3

### OS Version
10.0.14393.1358

### Description
The cmdlet ignores the ServiceBusSasKeyName and ServiceBusSasKeyValue params passed

### Debug Output
There is no output. The cmdlet executes with no issues.

### Script/Steps for Reproduction
1) Create a servic

[2018-02-15 17:27] MiYanni commented on #5540
@micongjie It seems that the `New-AzureRmActionGroup` is returning the SDK type instead of the PowerShell type. Additionally, `Set-AzureRmActivityLogAlert` takes in the SDK type for `-Action` instead of the PowerShell type. `Set-AzureRmActionGroup` returns the correct PowerShell type, so the 2 other commands should use that type (`PSActionGroupResource`). Since this would be a breaking change, cou

[2018-02-15 17:31] MiYanni commented on #5540
@AngshumanNayakMSFT So, it seems that `New-AzureRmActionGroup` will give you a type that can be used by `-Action` in 'Set-AzureRmActivityLogAlert'. But, if we're going to change this, for now, I'd recommend trying to create a `Microsoft.Azure.Management.Monitor.Management.Models.ActivityLogAlertActionGroup` by hand using `New-Object`. You'd have to use the properties from the `PSActionGroupResourc

[2018-02-15 17:37] micongjie commented on #5540
@gucalder This is activity log alert cmdlet. Can you take a look?

[2018-02-15 17:46] MiYanni commented on #5545
Probable cause is that the `Authentication` property is not set in the lines below. Use the object created just above this call to set `Authentication`.

https://github.com/Azure/azure-powershell/blob/e8141374c1f8e1c0e259578277f690ced9234ef1/src/ResourceManager/Scheduler/Commands.Scheduler/Cmdlets/UpdateAzureSchedulerServiceBusQueueJobCommand.cs#L114-L120

[2018-02-15 17:50] CDargis commented on #5545
I agree that looks like the problem :)

[2018-02-15 18:11] cormacpayne commented on #4903
@sdwheeler @blueww I believe this has something to do with the `INPUTS` section being empty, and it's causing the `OUTPUTS` section to be skipped when creating the web page for this cmdlet. I will open a PR to update all markdown files with empty `INPUTS` section to have the following:

[code]

[2018-02-15 18:15] MarvTheRobot opened #5548 "New-AzureRmResourceGroupDeployment ignores splatting when using '-AsJob'"
### Description

Deploy a resource group, using a template file, parameters file, and additional parameters using splatting.

This works as expected, until you utilise the -AsJob switch. At which point, the hashtable being splatted, is ignored.

### Script/Steps for Reproduction

[code]

### Module Version

[code]

### Environment Data

[code]

### Debug Output

[code]

[2018-02-15 18:30] MiYanni commented on #5545
@derek1ee I made a comment above that seems to be the issue. Any chance you guys could look into making the fix and testing it?

[2018-02-15 18:47] AngshumanNayakMSFT commented on #5540
Thanks @MiYanni ! I was able to create a new object to type and make it work.

[code]

[2018-02-15 20:18] kwill-MSFT opened #5551 "Get-AzureRMResource does not support paging"
### Description

-Top parameter should restrict the number of items returned, but it does not.  All items matching the filter are returned.

### Script/Steps for Reproduction

[code]

### Module Version

[code]

### Environment Data

[code]

[2018-02-15 20:54] symgryph opened #5552 "Cannot use Login-AzureRmAccount High Sierra Brew / MS Install"
### Description

Azure component won't login when typing in Login-AzureRmAccount on OSX in High Sierra

### Script/Steps for Reproduction

install powershell (either from brew or from package!)

[code]
error:
Login-AzureRmAccount : The term 'Connect-AzureRmAccount' is not recognized as the name of a cmdlet, function, script file, or operable program.
Check the spelling of the name, or if a path wa

[2018-02-15 21:09] MiYanni commented on #5548
@maddieclayton Could this be related to `-AsJob` or do you think it is related to the cmdlet itself?

[2018-02-15 21:13] MiYanni commented on #5551
@ravbhatnagar @vivsriaus Can you guys take a look? If we don't have tests for `-Top`, this would be a good opportunity to add some.

[2018-02-15 21:51] MiYanni commented on #5552
@twitchax Did we port the Connect-AzureRmAccount changes correctly to .Net Core?

[2018-02-16 00:20] MiYanni commented on #5362
@sphibbs Indicate who will own build and test automation all up.

[2018-02-16 00:30] MiYanni commented on #5374
@markcowl File a new issue for the general process of determining where else these issues may occur.

[2018-02-16 00:36] MiYanni commented on #5415
This is for general resource completer (not just MSI).

[2018-02-16 00:37] MiYanni commented on #5424
@sergey-shandar Is this still in progress?

[2018-02-16 00:42] MiYanni commented on #5444
@Panda-Wang Can you take a look at this?

[2018-02-16 00:44] MiYanni commented on #5447
Duplicate of https://github.com/Azure/azure-powershell/issues/5500

[2018-02-16 00:44] #5447 closed

[2018-02-16 00:47] MiYanni commented on #5451
@sergey-shandar How's this going?

[2018-02-16 00:48] MiYanni commented on #5452
@sergey-shandar How's this going?

[2018-02-16 01:08] MiYanni commented on #5552
@symgryph You are using AzureRM instead of [AzureRM.NetCore](https://www.powershellgallery.com/packages/AzureRM.Netcore/0.10.0). Currently, AzureRM is Windows only.

[2018-02-16 01:08] #5552 closed

[2018-02-16 02:38] chrisjau commented on #5030
Can we get this escalated? I am trying to use PowerShell to import table data from CSV since storage explorer import is broken only to find this is also broken.

[2018-02-16 06:32] twitchax commented on #5342
@iainfoulds, we are leaning towards awaiting more feedback on the new parameter set before adding this functionality.  The goal of the `New-AzureRmVM` simple parameter set is to make >95% of interactive functionality easy to complete.  Advanced scenarios will continue to be covered by the existing cmdlets.

We would like to get some data or feedback from customers that interactive scenarios often

[2018-02-16 07:15] smaine opened #5560 "Cannot add certificates to new Classic VM's via Add-AzureProvisioningConfig"
### Description
The -Certificates property of Add-AzureProvisioningConfig no longer has any effect and cannot be used to provision new Classic VM's with certificates. This is a functional regression from previous versions of the Azure Powershell SDK.

The AutoMapper Update in commit [37825fa](https://github.com/Azure/azure-powershell/commit/37825fa4574c5fa8cad604f1135249793d50c545#diff-90282ac3666

[2018-02-16 10:21] blueelvis commented on #5030
@chrisjau - You can use the workaround which is mentioned in this thread but yes this should be fixed...

[2018-02-16 15:28] sdwheeler opened #5561 "New-AzureRmApplicationSecurityGroup - invalid example"
LiveFyre comment from customer.

[New-AzureRmApplicationSecurityGroup](https://docs.microsoft.com/en-us/powershell/module/azurerm.network/new-azurermapplicationsecuritygroup)

[2018-02-16 17:40] MiYanni opened #5564 "Slow Resources tests in playback mode"
These are slow in playback:
- `Microsoft.Azure.Commands.Resources.Test.ScenarioTests.ManagedApplicationTests.TestManagedApplicationCRUD`
- `Microsoft.Azure.Commands.Resources.Test.ScenarioTests.ResourceTests.TestMoveAResourceTest`

![image](https://user-images.githubusercontent.com/17788297/36320841-7ebb0e50-12fc-11e8-9d18-e32661ad0200.png)

## Goals
- [ ] Figure out why they are slow
- [ ] Make t

[2018-02-16 18:00] MiYanni commented on #5561
@DeepakRajendranMsft Can you update the docs with an appropriate example?

[2018-02-16 18:38] MiYanni opened #5565 "Fix all warnings (NetCore)"
- [x] Fix all the warnings from all module projects
- [x] Fix all the warnings from all test projects (of the ones converted)
- [x] Enable `TreatWarningsAsErrors` for every project
- [x] Merge changes

[2018-02-16 18:47] sergey-shandar opened #5566 "New-AzureRmVMSS simple parameter set doesn't initialize LoadBalancerRule"
### Description

New-AzureRmVMSS simple parameter set doesn't initialize LoadBalancerRule

### Script/Steps for Reproduction

[code]

### Module Version

[code]

### Environment Data

[code]

### Debug Output

[code]

[2018-02-16 23:04] darshanhs90 commented on #3094
@cormacpayne is there any way to login as a different user in a test [apart from the default user mentioned in the test env connection string] .

[2018-02-16 23:57] darshanhs90 commented on #5138
fixed in https://github.com/Azure/azure-powershell/commit/496845ba30ca9d6eb8299347216412a92094b089

[2018-02-16 23:57] #5138 closed

[2018-02-17 00:34] cormacpayne commented on #5564
Looks like the issue is in the following while-loop:

https://github.com/Azure/azure-powershell/blob/2b6c7a526fe54caa4f021d493523b6419b925603/src/ResourceManager/Resources/Commands.ResourceManager/Cmdlets/Components/LongRunningOperationHelper.cs#L87-L100

Specifically, the `Task.Delay` call here:

https://github.com/Azure/azure-powershell/blob/2b6c7a526fe54caa4f021d493523b6419b925603/src/ResourceM

[2018-02-17 00:53] maddieclayton commented on #5496
Proposed changes here: https://github.com/maddieclayton/azure-powershell/wiki/KeyVault-Improvements

[2018-02-17 10:35] zhangyd2015 commented on #5327
Resolved with PR https://github.com/Azure/azure-powershell/pull/5485

[2018-02-17 16:17] paylocity-sflanders opened #5577 "AzureRM Get-AzureRmADServicePrincipal doesn't return error if firewall is blocking graph.windows.net in AzureRM 5.01 and beyond"
### Description

I noticed that on some of our servers Get-AzureRmADServicePrincipal would not always return service principal info even though the user was able to login using Add-AzureRmAccount.   After doing some investigating and building a quick protoype it appears we were getting "The underlying connection was closed: An unexpected error occurred on a send." but the powershell module doesn't

[2018-02-18 22:41] gzaika opened #5578 "Get-AzureRmVM -Status does not work within workflow"
### Description

### Script/Steps for Reproduction
1) created Runbook of type workflow in Azure Automation
2) added command

Select-AzureRMSubscription -SubscriptionName $SubscriptionName  # put your name
$ResourceGroups = @()
$ResourceGroups += "YourResourceGroupName"
ForEach -parallel  ($RGName in $ResourceGroups) {
$VMs = Get-AzureRmVM -ResourceGroupName $RGName -Status
}
It returns error

[cod

[2018-02-19 08:24] simeyla commented on #1122
Yes this is a horrible error.

Also note it is case sensitive which is how I ended up here when I assumed it wasn't.

[2018-02-19 11:45] wlami opened #5579 "Cannot install AzureRM on Powershell Core ubuntu 17.10"
### Description

Cannot install AzureRM on powershell under Ubuntu 17.10

### Script/Steps for Reproduction

First step of installing AzureRM:

[code]

### Module Version

[code]

(Empty output as I am not able to install AzureRM module.

### Environment Data

[code]

This is an Ubuntu 17.10 machine. pwsh installed using the ppa.

### Debug Output

[code]

[2018-02-19 13:09] mortenlerudjordet opened #5580 "AzureRM.Network better error handling"
The AzureRM.Network needs improved return of error information. At the moment only the status OK/Failed is returned. This is not enough to do troubleshooting off of, especially when running in Azure Automation. For how to do this look to AzureRM.Compute as they return more verbose information.

Can be found in Microsoft.Azure.Commands.Network dll under Microsoft.Azure.Commands.Network.Common, Netw

[2018-02-19 13:53] hannesganthaler85 commented on #5111
With this workaround i get the following error:

##[error]Cannot convert argument "entity", with value: "Microsoft.WindowsAzure.Storage.Table.DynamicTableEntity", for "InsertOrReplace" to type "Microsoft.WindowsAzure.Storage.Table.ITableEntity": "Cannot convert the "Microsoft.WindowsAzure.Storage.Table.DynamicTableEntity" value of type "Microsoft.WindowsAzure.Storage.Table.DynamicTableEntity" to t

[2018-02-19 16:37] CDargis opened #5582 "New-AzureRmServiceBusQueue && Set-AzureRmServiceBusQueue ignore LockDuration"
### Description

The modules `New-AzureRmServiceBusQueue`, `Set-AzureRmServiceBusQueue` seem to ignore the `-LockDuration` parameter.

### Script/Steps for Reproduction

1) Create resource group
2) Create service bus
3) run
[code]
Navigate to the queue in the portal and click "properties". LockDuration will be set to 1 minute (ignoring the 3 minute lock duration passes as a parameter). Also tried

[2018-02-19 18:11] aydeisen opened #5583 "Feature: True-up Property Names and Cmdlet Parameter Names"
Is it possible to make the cmdlet parameter names and object property names a bit more consistent to allow for better 'ValueFromPipelineByPropertyName' handling?

Two examples:

1. Executing `Get-AzureRmAutomationDscNode | Get-AzureRmAutomationDscNodeReport` fails because `Get-AzureRmAutomationDscNodeReport` contains the parameter `NodeId`, but the `Microsoft.Azure.Commands.Automation.Model.DscNod

[2018-02-19 22:36] leftler commented on #3806
@markcowl What is the reasoning behind using `HttpClient` over `Invoke-RestMethod`?

[2018-02-20 13:47] arcotek-ltd opened #5586 "Get-AzureKeyVaultSecret does not return secret without -Name"
### Description

`Get-AzureKeyVaultSecret` does not return the `SecretValue` or `SecretValueText` properties, unless a secret is specified via the `-Name` parameter.

The user, which is actually the service principal, has full access to the keyvault:

- Key permissions: 16 selected
- Secret permissions: 8 selected
- Certificate permissions: 14 selected

### Script/Steps for Reproduction

[code]
Re

[2018-02-20 14:04] rsmccall33 commented on #5460
Hi, do you know of any progress with this?  Thank you.

[2018-02-20 16:13] jzuchora87 commented on #1131
Any update on when this will  be fixed? Or a decent work around?

[2018-02-20 16:28] totkeks opened #5587 "Get-AzureRmSqlServer does not return fullyQualifiedDomainName"
### Description

When running the Get-AzureRmSqlServer command like this
[code]

I get the following result:
[code]

But when looking at the Azure Resource Manager (https://resources.azure.com/) then there is another property in the return values:
[code]

It seems the value is missing in the ```Microsoft.Azure.Commands.Sql.Server.Model.AzureSqlServerModel```.

Would be really helpful to have this

[2018-02-20 16:34] cormacpayne commented on #5577
@darshanhs90 Hey Haridarshan, would you mind taking a look at this issue?

[2018-02-20 16:45] cormacpayne commented on #5578
@gzaika a few additional questions:

(1) Are you seeing this issue outside of automation? I am unable to reproduce the above error in a normal PowerShell session

(2) Does it fail with the same error if you don't provide the `-Status` parameter?

(3) Would you mind turning on the debug stream by setting `$DebugPreference="Continue"` and returning the corresponding output?

[2018-02-20 16:48] cormacpayne commented on #5579
@wlami currently the `AzureRM` module is only available for desktop; if you are looking to use some of the `AzureRM` cmdlets on Linux, then you will want to install the `AzureRM.Netcore` module, which contains a subset of the cmdlets found in `AzureRM` (Compute, KeyVault, Network, Profile, Storage, Websites). In the future, we will be converting all of the modules in `AzureRM` to be NET Core compa

[2018-02-20 16:48] #5579 closed

[2018-02-20 16:49] cormacpayne commented on #5580
@DeepakRajendranMsft Hey Deepak, would you mind taking a look at this issue?

[2018-02-20 16:50] cormacpayne commented on #5582
@v-Ajnava Hey Ajit, would you mind taking a look at this issue?

[2018-02-20 16:56] cormacpayne commented on #5583
@aydeisen thanks a lot for the request! We are definitely looking at ways to improve the piping scenarios in the Azure PowerShell cmdlets -- for example, new cmdlets need to implement the `InputObject` ("ValueFromPipeline") and `ResourceId` ("ValueFromPipelineByPropertyName") piping scenarios (which you can read more about [here](https://github.com/Azure/azure-powershell/blob/preview/documentation

[2018-02-20 16:57] cormacpayne commented on #5583
@vrdmr @hyonholee hey guys, we should look at supporting the above piping scenarios, as well as any other scenarios that make sense for users across your set of cmdlets. We can look at ways of immediately implementing this without a breaking change, and if there's no way to do so, we can make the necessary changes in May.

[2018-02-20 17:17] wlami commented on #5579
Okay, thank you very much!

[2018-02-20 17:28] cormacpayne commented on #5586
@RandalliLama Hey Rich, do you know if the KeyVault API supports returning the secret value (and text) for a List in addition to a Get?

CC: @maddieclayton

[2018-02-20 17:30] cormacpayne commented on #5587
@akromm @jaredmoo Hey guys, do you know if it's possible for the API call to return this property?

[2018-02-20 18:30] jaredmoo commented on #1131
We have several api-versions of each API. In this case, the database cmdlets are using the api-version `2014-04-01`. We have fixed this tags issue in the service in a new api-version, but due to the complexity of the database API  it has taken us some time to finalize this new api-version and fully adopt it in client-side tools such as PowerShell. (The complexity comes from the fact that database

[2018-02-20 19:19] RandalliLama commented on #5586
@cormacpayne @arcotek-ltd  It does not.  I am trying to dig up the reason for that, but I suspect that it has something to do with the fact that there can be many versions of a secret that might be returned and for security reasons it makes sense to ensure that only those secret versions that are required are returned.

[2018-02-20 19:19] jaredmoo commented on #5587
This is easily fixed, I have sent a PR to address this. Thank you for the feedback!

For what it's worth, the suffix can also be found by running `(Get-AzureRmEnvironment -Name AzureCloud).SqlDatabaseDnsSuffix` .

[2018-02-20 19:24] kevi5702 commented on #4917
Hey All,

Has anyone had a chance to push on this? AZ CLI has this feature already and this would remove some extra complication when writing Azure Automation playbooks.

Currently have to write commands in to a /tmp file or pull from a remote repository in order to utilize RunCommand. Would love for this feature to be integrated since I find myself mostly needing this Module over say a Script Ext

[2018-02-20 19:41] magno101 commented on #4917
Just wanted to pile on here. Have been utilizing the Invoke-AzureRMVMRunCommand now in a number of automation jobs and would love to have the ability to just send it a script block without the need to either save the block to a tmp file or grab the script from an external source.

[2018-02-20 20:03] jrudley commented on #4917
Any update on this? We're sort of getting stuck in a tough hole referencing files across local disks.

[2018-02-20 21:14] cormacpayne commented on #5582
@CDargis Hey Chris, would you mind upgrading to the latest version of `AzureRM` and reporting whether or not you still see this issue? If so, would you mind providing the corresponding debug output as you did previously?

[2018-02-20 21:15] v-Ajnava commented on #5582
@CDargis , its seems that API version is older - api-version=2015-08-01, we are taking a look for this API Version.
can you get the latest PS 5.3.0 and use latest API Version 2017-04-01 - api-version=2017-04-01
It's working here

[2018-02-20 22:41] cmelanson opened #5590 "Get-AzureRmSubscription returns no results with a Service Principal"
### Description

Get-AzureRmSubscription does not return any subscriptions when used with a Service Principal. This is with the NetCore version of the Azure Powershell module. Works fine when used with a regular AD account.

### Script/Steps for Reproduction

[code]

### Module Version

[code]

### Environment Data

[code]

### Debug Output

[code]

[2018-02-21 01:45] sazeesha commented on #5582
@CDargis "lockDuration ": "PT3M" is in ISO format and we do not support that in version 2015-08. You can see on the response that we defaulted the value. You can use the latest PS which does support the ISO format.

[2018-02-21 01:45] #5582 closed

[2018-02-21 04:42] #5327 closed

[2018-02-21 09:00] arcotek-ltd commented on #5586
@RandalliLama,
Thanks for your response. It looks like my theory is correct and it is a security 'concern'.

One can use `-Version` or `-IncludeVersions` parameters to retrieve a given version or in a loop, `where-object{$_version -eq "xyz"}

Therefore, I don't understand the logic:

Would you prefer me to make this a feature request (that will be lost and ignored :-) )?

[2018-02-21 11:54] hannesganthaler85 commented on #5030
@blueww
With this workaround I get the following error:

##[error]Cannot convert argument "entity", with value: "Microsoft.WindowsAzure.Storage.Table.DynamicTableEntity", for "InsertOrReplace" to type "Microsoft.WindowsAzure.Storage.Table.ITableEntity": "Cannot convert the "Microsoft.WindowsAzure.Storage.Table.DynamicTableEntity" value of type "Microsoft.WindowsAzure.Storage.Table.DynamicTableEnti

[2018-02-21 14:57] CDargis commented on #5582
@v-Ajnava @sazeesha @cormacpayne thank you for the responses. My app isn't really in a place where I can just upgrade to use a new version (lots of other apps with several moving parts).

@sazeesha what format _is supported_ with this version? I wasn't able to find any API documentation and just passing a string`00:03:00` isn't working either.

[2018-02-21 14:57] pixelicous commented on #1288
any solution to this workaround?

[2018-02-21 17:34] MiYanni commented on #5590
@cmelanson When I tried doing this last, I was told that you need to allow your Service Principal access to Azure AD Graph. Otherwise, it doesn't have access to get tenant-level info (that's why it says it can't acquire a token). I definitely could be wrong about that... but it is the best I remember at the moment. Also, I haven't tried this on AzureRM.NetCore.

[2018-02-21 18:06] markcowl opened #5594 "webapp:Document setup for Ase and Traffic Manager WebApp Tests"
### Description

These tests involve creating a resource out of band before test setup, and do not provide any information on the configuration of the resource:

These two require a pre-created app service environment:
TestCreateNewWebAppSlotOnAse
TestCreateNewWebAppOnAse

This one requires a pre-created Traffic Manager Profile:
TestCloneNewWebAppWithNewTrafficManager

We either need to (1) Make s

[2018-02-21 18:14] MiYanni commented on #5594
@markcowl Recommended that we add a README.md to [Websites](https://github.com/Azure/azure-powershell/tree/preview/src/ResourceManager/Websites) similar to that found in [Network](https://github.com/Azure/azure-powershell/tree/preview/src/ResourceManager/Network) to cover the set setup required.

[2018-02-21 19:01] grwann commented on #5265
Hello all,
We have identified this as a bug on DTL side.  The bug fix has been committed and verified, and is making its way out to all regions now.
Thank you!

[2018-02-21 21:06] darshanhs90 commented on #3866
@PropertyOfTuckerSystems ping?

[2018-02-21 21:13] ChrisLGardner opened #5596 "Set-AzureKeyVaultSecret not working in a Script when endpoint is AzureStack"
### Description

When attempting to set the value of a secret in Key Vault on AzureStack from within a pester script I'm getting errors that appear to be caused by ADAL. Running the same command from an interactive prompt doesn't cause these errors. Both methods are logged in with the same user account and has Get/Set/Update permissions on secrets in Key Vault. All the other commands in the script

[2018-02-21 21:50] #5587 closed

[2018-02-21 22:00] markcowl commented on #5494
Fixed

[2018-02-21 22:00] #5494 closed

[2018-02-21 22:15] markcowl commented on #4537
Thic can just be a scenario test using ```Get-AzureRmSubscription -Select First 1```

[2018-02-21 22:55] markcowl commented on #4818
@RandalliLama This should work on the desktop as well as CloudShell

[2018-02-21 23:07] RandalliLama commented on #4818
@bill-dall @mguirao Can you try this with the latest Azure PowerShell release?

[2018-02-21 23:10] markcowl commented on #5374
@sighkays The issue is that by default, PowerShell limits the depth of Serialization for complex types.  You can update this value in types.ps1xml, as we have done here: https://github.com/Azure/azure-powershell-pr/blob/preview/src/ResourceManager/Profile/Commands.Profile/Microsoft.Azure.Commands.Profile.types.ps1xml#L10

[2018-02-21 23:15] cmelanson commented on #5590
Hi @MiYanni. Yeah I've see those "unable to acquire token" warnings. But I just tested it on my Windows desktop (Powershell v5.1, AzureRM v5.3.0), and Get-AzureRMSubscription returns the expected list of subscriptions when used with the same Service Principal. So to me, it seems more like a bug with the AzureRM.NetCore module.

Thanks!
Corey

[2018-02-21 23:35] singhkays commented on #5374
Thanks @markcowl  @hyonholee Can you look into this?

[2018-02-22 00:30] cormacpayne commented on #3094
@darshanhs90 Hey Haridarshan, are you referring to playback or record mode? I'm not sure I understand what you mean by logging in as a different user.

[2018-02-22 01:31] darshanhs90 commented on #3094
@cormacpayne What the skipped test does is log in as a admin[which is be default from the test framework],create a test user.
and then login as the test user and try to perform some action which should fail.
However even after logging in as the test user,the same token from the admin is used .

So is there any way in the test to log in as the test user and use the token from the test user?

[2018-02-22 01:41] InteXX opened #5602 "Many, many errors importing module AzureRM"
I ran this command:

    Install-Module AzureRM

I received this warning:

    WARNING: Version '4.1.0' of module 'AzureRM' is already installed at 'C:\Program
    Files\WindowsPowerShell\Modules\AzureRM\4.1.0'. To install version '5.3.0', run Install-Module and add the -Force
    parameter, this command will install version '5.3.0' in side-by-side with version '4.1.0'.

I decided then to uninstal

[2018-02-22 01:48] MiYanni opened #5603 "Add psd1 creation steps to dev guide"
- [ ] Add to the [Creating the Project](https://github.com/Azure/azure-powershell/blob/preview/documentation/development-docs/azure-powershell-developer-guide.md#creating-the-project) section of the dev guide on how to create the base psd1 file
  - Note: This may involve running [New-ModuleManifest](https://docs.microsoft.com/en-us/powershell/module/microsoft.powershell.core/new-modulemanifest?vie

[2018-02-22 03:28] InteXX commented on #5602
**FIXED**

Running `Install-Module AzureRM -Force` after the above uninstall/reinstall commands fixed the problem. Several modules were reported as in use, but that didn't seem to matter.

I can now import the `AzureRM` module successfully.

[2018-02-22 03:28] #5602 closed

[2018-02-22 05:20] blueww commented on #4903
@cormacpayne
Thanks for the fix! Let's see if it will be fixed in the next release.

[2018-02-22 06:20] blueww commented on #5030
@blueelvis
This issue is not easy to fix. We will keep this issue open to track the fix of the issue.
@markcowl, do you have any idea for the fix? Should we make the XSCL version aligned for Azure.Storage and AzureRM.Storage?

@chrisjau

The script from you works on my machine.
Would you please check if $table and $entity use same "Microsoft.WindowsAzure.Storage" Library version?
[code]
If the ver

[2018-02-22 08:18] hannesganthaler85 commented on #5030
Versions are aligned.

It just appears when I'm using the agent hosted VS2017 because there a newer azure powershell version(v5.1.14393.1944) is used. If I switch back to agent Hosted it works (powershell version 5.0.10586.117).

Some more logs:

2018-02-22T08:06:38.0287486Z DynamicTableEntity namespace: @{Assembly=Microsoft.WindowsAzure.Storage, Version=8.1.1.0, Culture=neutral, PublicKeyToken=31

[2018-02-22 08:50] blueww commented on #5030
@hannesganthaler85
My PS version is 5.1.16299.248, but it also can't repro the issue.
And from the log,  I see in the beginning, the DynamicTableEntity  is from "Microsoft.WindowsAzure.Storage, Version=8.1.1.0"
Please double check the correct the DynamicTableEntity  is used the script.

[2018-02-22 09:50] mguirao commented on #4818
I have updated the modules to the last version but I still can't manage to get my secrets.
here is my scenarii :

from my desktop :
`$username = "d323629c-cb9c-..." #Service Principal
$password = 'Pass...' | ConvertTo-SecureString -AsPlainText -Force
$cred = new-object -typename System.Management.Automation.PSCredential -argumentlist $username, $password
Add-AzureRmAccount -Credential $cred -Servi

[2018-02-22 17:44] MiYanni commented on #4797
@twitchax Investigate whether we need a switch/option for boot diagnostics.

[2018-02-22 17:50] MiYanni commented on #5325
Generally, this is for just having a "What's New?" publicly, and not necessarily on first run. Collating release notes to a high-level summary is the focus.

[2018-02-22 18:02] MiYanni commented on #5603
- Document what it is that needs done
- Write a script that does it for you

[2018-02-22 19:03] jaredmoo commented on #3571
@rfcdejong the change has been merged into Microsoft.Azure.Management.Sql and will be in the next release (1.13). Thanks again!

[2018-02-22 19:35] bill-dall commented on #4818
@RandalliLama - I'm happy to try. Note my issue was on Azure Cloud Shell so I'd like to make sure Cloud Shell has the newest installed before trying - what version should I look for?

[2018-02-22 22:09] maddieclayton commented on #5295
Fixed in powershell

[2018-02-22 22:09] maddieclayton commented on #5259
Fixed in the PR linked above, and will be included in the next release.

[2018-02-22 22:09] #5259 closed

[2018-02-22 22:10] maddieclayton commented on #4992
Fixed in the PR linked above, and will be included in the next release.

[2018-02-22 22:10] #4992 closed

[2018-02-22 22:47] artisticcheese opened #5606 "Login-AzureRmAccount : The browser based authentication dialog failed to complete"
### Description

Can not login to Azure via `Login-AzureRMaccount`

### Script/Steps for Reproduction

[code]

### Module Version
5.3.0

[code]

### Environment Data

[code]

### Debug Output

[code]

[2018-02-22 23:15] #5606 closed

[2018-02-22 23:21] artisticcheese opened #5607 "New-AzureRMAutomationVariable cmdlet hangs indefinetely when creating custom variable"
### Description

Using New-AzureRMAutomationVariable  with contents of TXT file hangs indefinetely

### Script/Steps for Reproduction

[code]
Example of the file which can not be imported is below

[code]

### Module Version

[code]

### Environment Data

[code]

### Debug Output

[code]

[2018-02-23 00:46] maddieclayton commented on #5548
@MarvTheRobot I could not replicate your issue with the following commands:

[code]

Am I missing a step of the repro? Thanks.

[2018-02-23 00:50] cormacpayne commented on #5590
Fix in PR https://github.com/Azure/azure-powershell/pull/5608

[2018-02-23 00:51] cormacpayne commented on #5288
Initial change to load 10.0.3 and 6.0.8 side-by-side found in PR https://github.com/Azure/azure-powershell/pull/5599

[2018-02-23 01:08] vancourse commented on #4561
I am having a similar issue. I was able to login with the same certificate for a week before the Login-AzureRmAccount suddenly stopped working ( with the same exception as stated above ).

[2018-02-23 01:25] paylocity-sflanders opened #5609 "On machine with only AzureRM 5.2.0, after installing 5.3.0, the old version no longer works"
### Description

Our server has AzureRM 5.2.0 installed from the powershell gallery, with nothing else installed.  After installing AzureRM 5.3.0 it causes errors if 5.2.0 is imported in a new session

PS C:\Users\SFlanders> Import-Module AzureRM -RequiredVersion 5.2.0
Import-Module : The following error occurred while loading the extended type data file: Error in TypeData
"Microsoft.Azure.Command

[2018-02-23 05:45] hannesganthaler85 commented on #5030
@blueww
The first log of the DynamicTableEntity is just a log of the standard one. If I create it I'm using the same version as for the Table storage which is 8.6.0.0.

[2018-02-23 06:36] MilanNXT commented on #5295
Thank you

[2018-02-23 06:38] darshanhs90 commented on #5192
Fixed

[2018-02-23 06:38] #5192 closed

[2018-02-23 10:09] blueww commented on #5030
@hannesganthaler85
I really can't repro the issue. But when the object version not aligned, the error is just same with what you get.

This might be related with your machine environment, if you are sure the script run on your 2 machines are same.
 It might be helpful if you can share the full script which repros the issue. (hide credential)

[2018-02-23 10:39] shubhamgupta514 opened #5612 "Bug || VmwareToAzure ||Get-AzureRmRecoveryServicesAsrReplicationProtectedItem not capturing resyncProgressPercentage"
@viverm  @markcowl
Get-AzureRmRecoveryServicesAsrReplicationProtectedItem is not capturing resyncProgressPercentage but as I checked the api it is providing that information in the providerSpecificDetails.
Please look into it.

[2018-02-23 10:45] shubhamgupta514 opened #5613 "Query||Azure Site Recovery|| VmwareToAzure||Disable replication and remove Option For ProtectedItem"
@viverm  @markcowl

If I am using "Disable replication and remove" Option For ProtectedItem without performing any failover , then it is not cleaning up the staging container in the storage account automatically.Is this an expected behaviour or Azure site recovery will perform the cleanup for that blob after a certain time lapse ?

[2018-02-23 10:53] shubhamgupta514 opened #5614 "Query||Azure Site Recovery|| VmwareToAzure|| Api/cmdlet for installing Mobility Agent without enabling replication"
@viverm  @markcowl

Is there any API or cmdlet available for installing Mobility Agent without enabling replication?
The use case for this is that when I am enabling replication for a machine where mobility agent is not installed, it is not providing me the option for selecting the disks to be included in the replication.

So, In that case mobility Agent needs to be installed first and later on wh

[2018-02-23 11:11] totkeks commented on #3340
From a quick look at the code I would say that the functions only call WriteProgress, but the -completed flag (if used in PowerShell with Write-Progress) is not implicitly set, when the percentage reaches 100.
So either Write-Progress from PowerShell should implicitly set -completed when percentage is 100 or the caller of WriteProgress() has to do it. (see https://docs.microsoft.com/en-us/powershe

[2018-02-23 16:06] cormacpayne commented on #5452
This has been fixed.

[2018-02-23 16:06] #5452 closed

[2018-02-23 16:28] cormacpayne commented on #3340
@totkeks Hey Norman, I'm unable to reproduce this issue when running the following commands with the latest version of `AzureRM.Websites` (4.1.0):

[code]

Does the progress stream hang for you on any of the above calls?

[2018-02-23 16:51] sdwheeler opened #5616 "Set-AzureRmKeyVaultAccessPolicy example #1 is incorrect"
Reported via LiveFyre comment.

### Description

In Example 1: Grant permissions to a user for a key vault and modify the permissions

The part where you set -PermissionsToSecrets 'set,delete' is incorrect. The type is String[] so it should probably be 'set','delete' instead.

[2018-02-23 17:16] Neutrollized commented on #4801
Hi,

I'm on 0.10 and of AzureRM.Netcore and I still get the same error

## Debug output
https://gist.github.com/Neutrollized/9f569da7dbc7811a7ade3b1f687fcadf

[2018-02-23 17:26] RandalliLama commented on #4818
@bill-dall The fix was merged in December '17, but I don't know for certain what release version it would have shown up in.  I would be very surprised if it wasn't in the very latest version.  @markcowl should be able to confirm.

[2018-02-23 17:26] RandalliLama commented on #4818
@mguirao I will investigate and get back to the issue.

[2018-02-23 19:05] maddieclayton commented on #5614
@viverm Can you take a look at this?

[2018-02-23 19:12] maddieclayton commented on #5616
Fixed in PR above, will close bug once PR is merged.

[2018-02-23 19:13] maddieclayton commented on #5612
@viverm Can you take a look at this issue?

[2018-02-23 19:41] Neutrollized commented on #4801
Thanks, @eduardobaitello I get the same error from RHEL7.4 + Netcore 0.10.0 as well.  Thanks for the link though -- I will look into that 👍

[2018-02-23 21:32] MiYanni opened #5619 "Standardize Jenkins projects"
- [ ] Determine naming convention for projects and labels
- [ ] Determine standard build retention strategy
- [ ] Standardize working directory structure
- [ ] Segregate workers (labels) into effective groupings by use category
  - Build, test, other, etc.
- [ ] If possible, create template for new projects
- [ ] Standardize project parameters (when applicable)
- [ ] Determine other project settin

[2018-02-23 22:06] MiYanni opened #5620 "NetCore SQL conversion"
Convert SQL to NetCore
#3746

[2018-02-23 22:08] MiYanni opened #5621 "NetCore Automation conversion"
Convert Automation to NetCore
#3746

[2018-02-23 22:10] MiYanni opened #5622 "NetCore Storage (DataPlane) conversion"
Convert Storage (DataPlane) to NetCore
#3746

[2018-02-23 22:11] MiYanni opened #5623 "NetCore Batch conversion"
Convert Batch to NetCore
#3746

[2018-02-23 22:13] MiYanni opened #5624 "Update xUnit tests for running in NetCore"
#3746

[2018-02-23 22:23] MiYanni opened #5625 "Create tools and docs for adding NetCore infrastructure for new modules"
#3746

[2018-02-23 22:32] MiYanni opened #5626 "NetCore (non-core) module conversion"
- [x] AnalysisServices (AzureRM)
- [ ] AnalysisServices (Azure)
- [ ] ApiManagement
- [x] ApplicationInsights
- [ ] Backup
- [x] Billing
- [x] Cdn
- [x] CognitiveServices
- [x] Consumption
- [ ] ContainerInstance
- [x] ContainerRegistry
- [ ] DataFactories
- [x] DataFactoryV2
- [x] DataLakeAnalytics
- [ ] DataLakeStore
- [x] DevTestLabs
- [ ] Dns
- [x] EventGrid
- [x] EventHub
- [ ] HDInsight
- [

[2018-02-24 06:40] hannesganthaler85 commented on #5030
@blueww
Ok I will check it again on monday and will post my script file with logs on both host agents in VSTS (Hosted and Hosted VS2017).

[2018-02-26 07:19] yiqzhou opened #5630 "Support Get/Stop-AzureRmSqlDatabaseCopy"
Please support Get/Stop-AzureRmSqlDatabaseCopy because of following cases:
1. cancel the current copy operation and start a new one.
If the current copy operation is not canceled, New-AzureRmSqldatabaseCopy receives error "The destination database name 'xxx' already exists on the server 'yyy'".
2. cancel the copy operation in progress and remove elastic pool
If the copy operation in progress is no

[2018-02-26 07:54] gvee-uk opened #5631 "Get-AzureRmConsumptionUsageDetail missing page results"
### Description

Larger result requests using `Get-AzureRmConsumptionUsageDetail` do not correlate with what's presented in the Azure Portal.

### Script/Steps for Reproduction

[code]
[code]
Note the gaps in dates e.g. 20-24th inclusive.
These dates can be requested individually.
### Module Version
[code]
[code]
[code]
[code]

### Environment Data

[code]
[code]
### Debug Output

The results of r

[2018-02-26 08:03] mortenlerudjordet commented on #5364
Was more the lack of good error messages that was throwing me. I figured it out with the help of a support case with MS. I have also opened a separate issue for getting better verbose error messages from the module. Though as I understand it this might also have to be reflected by the API not sending generic 500 errors.

[2018-02-26 08:04] #5364 closed

[2018-02-26 10:30] shubhamgupta514 commented on #5612
@viverm - Is there any update on this??

[2018-02-26 10:31] shubhamgupta514 commented on #5614
@viverm Is there any update on this?

[2018-02-26 10:32] shubhamgupta514 commented on #5613
@viverm Is there any update on this?

[2018-02-26 11:22] viverm commented on #5612
@shubhamgupta514  Working on it . Will make this available soon in returned protected Item to track resync percentage.

[2018-02-26 11:47] viverm commented on #5613
"Disable replication and remove" removes Replication protected Item nothing more.
I think you are asking here is if disable/remove Vm is last vm using container and storage account it should clean the blob it is creating during replication ?

It is bydesign.
Adding @bsiva

[2018-02-26 13:23] totkeks commented on #3340
@cormacpayne Hey Cormac, I just checked if my version is outdated, but it isn't. I also have version 4.1.0 installed.

I tried to figure out something and reproduced it. Try adding some sleep after the actual command:
[code]

The progress bar then stays open until the whole process (including sleep) is finished. From my understanding the progress bar should disappear already after the cmdlet has f

[2018-02-26 13:29] shubhamgupta514 commented on #5613
@viverm @bsiva yes, I am asking about the storage

[2018-02-26 16:19] cormacpayne commented on #5630
@jaredmoo @akromm hey guys, would you mind taking a look at this feature request?

[2018-02-26 16:20] cormacpayne commented on #5631
@Panda-Wang Hey Panda, would you mind taking a look at this issue?

[2018-02-26 16:32] vicp-iq commented on #4715
Can somebody help me understand the priority on this?  It is blocking my organization from moving forward with the Azure Context Autosave feature.

[2018-02-26 17:24] bsiva commented on #5614
@shubhamgupta514, the installation of the Mobility service software if being done manually, has to be done out of band. In the case of Windows servers, the mobility service software is an executable, and in the case of supported Linux variants the mobility service is available as a tarball with the installer script included. You'll also need details of the Configuration Server and the Configuratio

[2018-02-26 17:49] jskii commented on #3633
Hello. Just wanted to update to report that this issue still exists in the newest release version.

[2018-02-26 17:50] jskii commented on #3657
Hello. Updating to report that this issue still exists in the latest release version.

[2018-02-26 18:12] MiYanni commented on #5616
PR is merged

[2018-02-26 18:12] #5616 closed

[2018-02-26 18:14] MiYanni commented on #5607
@vrdmr @safeermohammed @eamonoreilly Can one of you take a look at this?

[2018-02-26 18:54] darshanhs90 commented on #5460
@rsmccall33 the graph endpoint shouldnt be the issue here,can you retry the get-azurermroleassignment with the latest version of azure powershell and let us know if the issue persists,I remember there was a bug earlier related to this issue in an earlier PS release,which was fixed

[2018-02-26 19:11] RandalliLama commented on #5586
@arcotek-ltd So, there is another performance related reason.  All secrets are encrypted, and to return them they need to be decrypted.  Further, Key Vault doesn't track version ordering.  So, as the service is currently implemented it would be very costly to return the secret values along with the list.

[2018-02-26 19:53] workleodig commented on #5265
This worked correctly on a VM in my lab in West Europe today. Thanks!

[2018-02-26 19:53] #5265 closed

[2018-02-26 20:53] #5564 closed

[2018-02-26 22:38] mdowst commented on #5030
I ran into this too and the $assemblySN workaround worked for a simple query. But then trying to use the TableOperation class for an Insert or Delete command, I could not figure a way to specify which version to use.

It is not the prettiest solution, but I was able to work around this using the start-job cmdlet to load a new instance to run my query. Doing this let me prevent the AzureRM module f

[2018-02-26 23:06] maddieclayton commented on #5548
@MarvTheRobot When looking at the parameter sets on docs: https://docs.microsoft.com/en-us/powershell/module/azurerm.resources/new-azurermresourcegroupdeployment?view=azurermps-5.3.0, I see that there is no parameter set that accepts both -templateParameterFile and -templateParameterObject.  I'm not sure how you could supply both parameters and successfully execute the cmdlet.

[2018-02-27 01:42] ikanni commented on #5607
Thank for reporting this issue.

Could you please execute the  **Get-Content C:\users\admin\Desktop\privateKey.cer** and review the output ?  Could you please use the correct command to generate the TXT ?

When I tested locally I see the below output.
![image](https://user-images.githubusercontent.com/16600949/36705849-10ddf5b4-1b1c-11e8-8017-5e972fc994b0.png)

[2018-02-27 01:46] artisticcheese commented on #5607
Issue happens with any text file, it does not need to be a certificate file. `Get-Content` for me returns string representation of file. For example my file currently constists of following 2 lines and fails to import with following command below.

`New-AzureRmAutomationVariable -ResourceGroupName Utility-RG -AutomationAccountName AutomationAccount -name "test" -Value (Get-Content C:\test\test.txt

[2018-02-27 01:48] RandalliLama commented on #4818
@mguirao You need to get a separate token for Key Vault and then pass it with the -KeyVaultAccessToken parameter to Add-AzureRmAccount.

You can get an access token by calling the following function with $Resource = https://vault.azure.net
[code]

You can get the OAuth2Uri with this function:
[code]

This authentication code is largely from here: https://blogs.msdn.microsoft.com/cclayton/2017/01/0

[2018-02-27 02:07] ikanni commented on #5607
I will debug more with Get-Content and identify the root cause.

It works fine with the below Array example.

$Array = "sad", "asda"
New-AzureRmAutomationVariable -ResourceGroupName $resourceGroupName -AutomationAccountName $automationAccountName -name "ArrayTest" -value $Array  -Encrypted:$true

[2018-02-27 05:24] juneeighteen commented on #5363
I've noticed the same issue, it appears only when using `Invoke-Command` to call a remote Powershell script, and when that remote script attempts to login as an Azure ServicePrincipal.

[2018-02-27 06:17] ArtemProc opened #5635 "Issue with latest modules for Recovery Services: Error during commandlets execution"
### Description

Issue with latest modules for Recovery Services

AzureRM.RecoveryServices              4.0.2
AzureRM.RecoveryServices.SiteRecovery 0.2.1

### Mitigation

Name                                  Version
----                                  -------
AzureRM.profile                       3.4.1
AzureRM.RecoveryServices              3.4.1
AzureRM.RecoveryServices.SiteRecovery 0.1.6
+ the

[2018-02-27 06:28] blueww commented on #5030
@mdowst
Can you use following script to get $assemblySN from $table object, and then create $query base on it. We just need to make sure $table and $query are on same Microsoft.WindowsAzure.Storage version. Following code don't need run in Start-Job.

[code]

[2018-02-27 09:17] hannesganthaler85 commented on #5030
@blueww

here is my full script. I tested this in VSTS on Hostes VS2017 Agent and there it is failing tith the error:

##[error]Cannot convert argument "entity", with value: "Microsoft.WindowsAzure.Storage.Table.DynamicTableEntity", for "InsertOrReplace" to type "Microsoft.WindowsAzure.Storage.Table.ITableEntity": "Cannot convert the "Microsoft.WindowsAzure.Storage.Table.DynamicTableEntity" value

[2018-02-27 13:09] mdowst commented on #5030
@blueww that works for for the query, but the problem still arises if I try to load an object in the TableOperation class. So, if I try to do an insert or delete it still fails.

Using your example above a simple query like the one below works.
[code]

However, this query below will fail because I can't specify the version for the Microsoft.WindowsAzure.Storage.Table.TableOperation class.
[code]

[2018-02-27 14:38] rsmccall33 commented on #5460
A MS Graph API Developer found and recommended the following.  What I'm uncertain of is why my logged on user account would be the impersonating account when the code is designed to use the Run As Account.
The other problem, is that the Enterprise App that it is complaing about is the Azure Portal Fairfax which is being used to facilitate our authentication.  I'm not sure what the implications wou

[2018-02-27 14:40] rsmccall33 commented on #5460
@darshanhs90 this is powershell in an azure runbook.  The AzureRM.Network module is at version 5.1.0.  I ran the update modules step twice this morning and ran the runbook and it has failed still.

[2018-02-27 14:41] JohnNilsson opened #5636 "AzureRM.ServiceFabric conflicts with AzureRM.KeyVault"
### Description
When loading AzureRM.ServiceFabric before AzureRM.KeyVault
[code]

### Script/Steps for Reproduction

[code]

### Module Version

[code]

### Environment Data

[code]

### Debug Output

For obvious reasons not including the full debug output
[code]

Relevant paths
[code]

[2018-02-27 14:46] rsmccall33 commented on #5460
@darshanhs90 I failed to mention that this is also in Azure Gov.

[2018-02-27 15:22] pixelicous commented on #1524
Dont understand why this is closed, this is open since 2015, i just reinstated on another issue that it still exists *face palm*

[2018-02-27 15:25] pixelicous commented on #5117
first of all fix the fact that you cannot create keyvault!!! 90% of the time when you create secrets or browse it thorugh the portal it will fail because it didn't propagate through all azure.. first fix issues you have since 2015, then continue to features! #1524 #5326 Azure/azure-powershell#655

[2018-02-27 18:59] darshanhs90 commented on #5460
@rsmccall33 the get-azurermroleassignment is part of the AzureRM.Resources,so can you run by updating it to the latest version and let me know if the issue persists

[2018-02-27 19:02] vladimir-shcherbakov commented on #4516
### Quickly use/test cmdlet from VS._
**Debug/Start Action/Start external program:**
```C:\Windows\System32\WindowsPowerShell\v1.0\powershell.exe```
**Debug/Start Options/Command line arguments:**
```-NoProfile -NoExit -Command "Import-Module .\RepoTasks.Cmdlets.dll```

![image](https://user-images.githubusercontent.com/6579928/36748237-1b338796-1bac-11e8-9551-4956e8fc6b26.png)

[2018-02-27 19:04] rsmccall33 commented on #5460
@darshanhs90 oh yes, my mistake.  AzureRM.Resources was also updated.  Current version is 5.2.0

[2018-02-27 20:09] singhkays commented on #3636
Closing as this is fixed in PowerShell 5.4.0

[2018-02-27 20:09] #3636 closed

[2018-02-27 22:38] maddieclayton commented on #5596
@ChrisLGardner Are any other KeyVault cmdlet that are working for you?  This will help narrow down what the issue is.

[2018-02-27 22:47] maddieclayton commented on #5635
@viverm Can you take a look at this issue? It looks like Get-AzureRmRecoveryServicesVault returns a ARSVault and Set-ASRVaultContext takes an ARSVault but they are actually different types.

[2018-02-27 22:55] maddieclayton commented on #4608
Task for 3/9: Deprecate module

[2018-02-27 22:55] twitchax commented on #5146
Closing.  The list of contributors is generated from the contributors in the doc repo.  Anyone who edits the file in GitHub and sends a PR will be called out in contributors.

Reference docs are generated, so there are no contributors in GitHub.

[2018-02-27 22:55] #5146 closed

[2018-02-27 23:04] maddieclayton commented on #1198
Closing. Please reopen this issue if it is still an issue in the most recent version.

[2018-02-27 23:04] #1198 closed

[2018-02-27 23:04] maddieclayton commented on #1548
Closing. Please reopen this issue if it is still an issue in the most recent version.

[2018-02-27 23:04] #1548 closed

[2018-02-27 23:05] maddieclayton commented on #1648
Closing. Please reopen this issue if you are still experiencing this issue in the most recent version.

[2018-02-27 23:06] maddieclayton commented on #1629
Closing. Please reopen this issue if it is still an issue in the most recent version.

[2018-02-27 23:06] #1629 closed

[2018-02-27 23:08] maddieclayton commented on #1360
@ravbhatnagar @vivsriaus We should address this issue, can you take another look?

[2018-02-27 23:12] maddieclayton commented on #1839
Please check out this document for an in-depth explanation of service principal creation: https://docs.microsoft.com/en-us/powershell/azure/create-azure-service-principal-azureps?view=azurermps-5.4.0. Closing this issue, please reopen if you still have issues in the current version.

[2018-02-27 23:12] #1839 closed

[2018-02-27 23:13] maddieclayton commented on #1819
@vrdmr Can you take a look at this issue?

[2018-02-27 23:15] maddieclayton commented on #1924
Closing. Please reopen this issue if it is still an issue in the most recent version.

[2018-02-27 23:15] #1924 closed

[2018-02-27 23:18] maddieclayton commented on #1815
@vrdmr Can you ensure the right validation is being done around this?  Please close if this is fixed.

[2018-02-27 23:21] maddieclayton commented on #1816
@vrdmr Can you take a look at this? It should be a quick fix.

[2018-02-27 23:24] maddieclayton commented on #935
Fixed

[2018-02-27 23:24] #935 closed

[2018-02-27 23:27] maddieclayton commented on #1932
Closing as dup of: https://github.com/Azure/azure-powershell/issues/3806

[2018-02-27 23:27] #1932 closed

[2018-02-27 23:30] maddieclayton commented on #2043
Closing, but please reopen if you still have this issue.

[2018-02-27 23:30] #2043 closed

[2018-02-27 23:33] maddieclayton commented on #1954
Closed as it seems as if the issue is resolved. Please reopen if there is still an issue.

[2018-02-27 23:33] #1954 closed

[2018-02-28 00:00] MiYanni commented on #5626
Current progress here: https://github.com/MiYanni/azure-powershell/tree/NetCoreNonCore

[2018-02-28 01:07] TaraMeyer opened #5639 "Broken Links in latest docs (AzureRM.Compute Module)"
### Description

The latest build of the new version of ARM 5.4.0 indicated there are broken links in 3 help topics.

### Script/Steps for Reproduction

azurermps-5.4.0/AzureRM.Compute/Add-AzureRmVMNetworkInterface.md | Invalid file   link:(~/azurermps-5.4.0/AzureRM.Compute/Get-AzureRmNetworkInterface.md).

azurermps-5.4.0/AzureRM.Compute/Add-AzureRmVMSecret.md | Invalid file   link:(~/azurermps-5

[2018-02-28 09:50] johannfoot commented on #4255
How can you close this thread? You didn't give a proper solution as well as have a terrible typo in your "solution" -->$vault = Get-**Get-**AzureRmRecoveryServicesVault

This still does not work:

Add-AzureRmAccount
Select-AzureRmSubscription -SubscriptionName "XXXXXX"
$vault = Get-AzureRmSiteRecoveryVault -ResourceGroupName XXXXXX -Name "XXXXXX"
Remove-AzureRmSiteRecoveryVault -Vault $vault

Erro

[2018-02-28 09:57] blueww commented on #5030
@hannesganthaler85 ， @mdowst

I think both of your failure should be related to the not specify the assembly version for the Microsoft.WindowsAzure.Storage.Table.TableOperation class.

Following is a sample of how specify to the assembly version for the Microsoft.WindowsAzure.Storage.Table.TableOperation class.
Let me know if you have any problem with it.

$result = $table.CloudTable.Execute((invo

[2018-02-28 13:07] shubhamgupta514 commented on #5612
@viverm  Could you Please also add vCenterInfrastructureId in providerSpecificDetails for Get-AzureRmRecoveryServicesAsrProtectableItem cmdlet.

And infrastructureId in properties for Get-AzureRmRecoveryServicesAsrvCenter cmdlet.
I need them to filter out the Protectable items on basis of  different vcentera in single asrfabric.

If possible,Can you add this functionality of filtering the protecta

[2018-02-28 13:08] shubhamgupta514 commented on #5613
@viverm @bsiva  - Is there any update on this?

[2018-02-28 13:39] xaviermignot commented on #340
@umaknow-jeanluc thanks a lot for your brilliant comment, you saved my day \o/

[2018-02-28 13:45] bsiva commented on #5613
Hi Shubham,

This isn't currently in our immediate backlog. You can submit a feature ask here: [https://feedback.azure.com/forums/256299-site-recovery](https://feedback.azure.com/forums/256299-site-recovery)

Are you referring to the blob, or the container that holds the blobs?

[2018-02-28 17:03] viverm opened #5640 "Azure Site Recovery use help Message attribute to update the markdown file when generated and Sort mandatory parameter then non-mandatory."
### Description

### Script/Steps for Reproduction

[code]

### Module Version

[code]

### Environment Data

[code]

### Debug Output

[code]

[2018-02-28 17:08] pragrawa commented on #4255
@johannfoot ,I have corrected the typo, thanks for reminding us.
Regarding the command, command is Get-AzureRm**RecoveryServices**Vault, not Get-AzureRmSiteRecoveryVault. Similarly  for Remove-AzureRmRecoveryServicesVault

For more information, please see documentation @ https://docs.microsoft.com/en-us/powershell/module/azurerm.recoveryservices/remove-azurermrecoveryservicesvault?view=azurermps-5

[2018-02-28 17:28] viverm opened #5641 "Support -AsJob parameter in long running Azure Site Recovery cmdlets"
### Description

### Script/Steps for Reproduction

[code]

### Module Version

[code]

### Environment Data

[code]

### Debug Output

[code]

[2018-02-28 21:36] winmike commented on #4491
I have same issue even w following modules in stack loaded - still "type not found"

Script     3.1.0      azure.storage
Script     3.1.0      azurerm.automation
Script     3.1.0      azurerm.keyvault
Script     3.1.0      azurerm.profile
Script     4.1.0      azurerm.resources
Script     3.1.0      azurerm.sql
Script     3.1.0      azurerm.storage
Manifest   3.1.0.0    Microsoft.PowerShell.Manage

[2018-02-28 22:40] cormacpayne commented on #5590
This fix has been merged and will be shipped with the next release of `AzureRM.Netcore`

[2018-02-28 22:40] #5590 closed

[2018-02-28 22:41] mdowst commented on #5030
I finally got it working, using the invoke-expression for the TableOperation, that @blueww suggested. However, when I tried to run it in Azure Automation is was still failing. Looking at the GetLatestFullAssemblyName function, it was grabbing the latest version of the dll. On my local machine this happened to be the Azure.Storage dll, but in Azure Automation the AzureRM.Storage dll was the latest

[2018-03-01 01:35] rupalivohra opened #5645 "Get-AzureRmSqlDatabase does not have a case-insensitive -DatabaseName parameter"
### Description

Get-AzureRmSqlDatabase does not have a case-insensitive -DatabaseName parameter.

### Script/Steps for Reproduction

I created my SqlServer from Portal, but from PS I tried to run Get-AzureRmSqlDatabase.

Suppose the DB name is "myD**B**". The below command results in a "Resource not found" error.

[code]

However, replacing "myD**b**" with "myD**B**" works just fine.
[code]

###

[2018-03-01 02:10] blueww commented on #5030
@mdowst
Good to know it works for you now. And thanks for share the script!
To resolve the problem, we need use same "Microsoft.WindowsAzure.Storage" version for table, and query, entity object. So we can get the $assemblySN from table object instead from GetLatestFullAssemblyName() function. This can make the script much simple. Not sure if it works for you?

[code]

[2018-03-01 06:27] cormacpayne commented on #5645
@akromm @jaredmoo hey guys, would you mind taking a look at this issue?

[2018-03-01 08:07] arcotek-ltd commented on #5586
@RandalliLama,
What do you mean by cost? Resource or monetary? For whom? Again, I can do this in a loop - which is "costly" - in time mainly. It would make far more sense to be able to return the whole object (or part thereof) in the `being{}` section or a foreach collection once, then iterate over that rather than having to make calls to the API each time?

I haven't experienced multiple versions

[2018-03-01 09:28] johannfoot commented on #4255
@pragrawa Ah yes, that will work better, much appreciated. I do however still get failure which prompts me to ask if this will remove the vault even if there's still resources in it?

[2018-03-01 09:49] ChrisLGardner commented on #5596
@maddieclayton  it also happens with Get-AzureKeyVaultSecret and Get-AzureKeyVaultKey. I'm not sure of a good way to debug this since it's running inside a pester test. I can try setting some breakpoints and running things from within the same scope to see if that's potentially a problem.

I'll do some more digging and get back to you with what I find, if anything.

[2018-03-01 12:18] viverm commented on #5635
you can unblock customer with

is equivalent to

looking for exact issue.

[2018-03-01 12:30] dragonfly91 commented on #5168
Hi @DavidD-SE , the -FriendlyName filter is case sensitive. For getting your desired VM, please use:
$BackupContainer = Get-AzureRmRecoveryServicesBackupContainer -ContainerType "AzureVM" –Status "Registered" -FriendlyName 'backuptest**VM**'

[2018-03-01 12:31] dragonfly91 commented on #5168
I'm closing this issue by design. If you face any issues, please feel free to reopen.

[2018-03-01 12:31] #5168 closed

[2018-03-01 12:31] ArtemProc commented on #5635
Thank you for workaround.
And should we expect fix for initial issue?

[2018-03-01 12:44] clericc opened #5647 "Start-AzureRmAutomationRunbook: Invalid parameters when superflous parameter with null value is present"
We have several Runbooks with a parameter of type `object`.

Via .NET sdk, we can start these runbooks without issues. Via Powershell, we can't.

I want to rerun the latest job, so i retrieve it and pipe it into new-job:

[code]

and i get `Start-AzureRmAutomationRunbook : Invalid runbook parameters.`

i checked `$job.JobParameters` to ensure that the property in question is indeed of type `pscust

[2018-03-01 15:08] shubhamgupta514 opened #5648 "Error While executing Set-AzureRmRecoveryServicesAsrVaultContext -Vault $vault"
@viverm  @markcowl

I am getting below error.Please look into this.

Set-AzureRmRecoveryServicesAsrVaultContext : Cannot bind parameter 'Vault'. Cannot convert the
"Microsoft.Azure.Commands.RecoveryServices.ARSVault" value of type
"Microsoft.Azure.Commands.RecoveryServices.ARSVault" to type "Microsoft.Azure.Commands.RecoveryServices.ARSVault".

I am using below module versions currently.

4.0.2

[2018-03-01 15:43] viverm commented on #5648
Use this to unblock

$path = Get-AzureRmRecoveryServicesVaultSettingsFile -Vault $Vault
Import-AzureRmRecoveryServicesAsrVaultSettingsFile -Path $path.filepath

[2018-03-01 17:16] sdwheeler opened #5649 "New-AzureRmVM docs incorrect"
### Description
In the description section of the New-AzureRmVM docs it refers to the `StrategyParameterSet`. The correct name is `SimpleParameterSet`

Also, in Example #1 shows the following syntax:

[code]

However, the **-Credential** parameter is also require. Need to update the example to include this.

[2018-03-01 19:05] sergey-shandar opened #5650 "New-AzureRmVM should display information about the objects being created with -WhatIf"
### Description

New-AzureRmVM (probably other strategy cmdlets) should display information about the different resources being created with -WhatIf

### Script/Steps for Reproduction

[code]

### Module Version

[code]

### Environment Data

[code]

### Debug Output

[code]

[2018-03-01 19:40] cormacpayne commented on #2107
This appears to have been fixed in PR https://github.com/Azure/azure-powershell/pull/2734. Closing.

[2018-03-01 19:40] #2107 closed

[2018-03-01 20:56] bganapa commented on #4784
This is being fixed and will be part of the next azure stack powershell release 1.2.12

[2018-03-01 21:23] bill-dall commented on #4818
@RandalliLama - I was able to give it a go today in cloud shell. I found if my account had access to the key vault I could get secrets (which is a definite improvement!) But I was having difficulties setting access policies. i.e., from my laptop this worked:

[code]

but in cloud shell using the same user account I received this error:

[code]

[2018-03-01 21:44] cormacpayne commented on #3414
Closing as this issue appears to have been fixed.

[2018-03-01 21:44] #3414 closed

[2018-03-01 21:46] cormacpayne commented on #3771
Closing.

[2018-03-01 21:46] #3771 closed

[2018-03-01 21:53] cormacpayne commented on #4741
@leowumsft Hey Leo, I am unable to reproduce this issue when providing a _valid_ value for `ApplicationId`, but I do see this issue when providing a dummy value. I'll keep this issue open to track the status of updating the error message that is thrown from this.

[2018-03-01 21:56] markcowl commented on #5430
Fixed.

[2018-03-01 21:56] #5430 closed

[2018-03-01 21:57] markcowl commented on #5424
Fixed.

[2018-03-01 21:57] #5424 closed

[2018-03-01 21:58] markcowl commented on #5353
Closing

[2018-03-01 21:58] #5353 closed

[2018-03-01 22:02] cormacpayne commented on #4741
@darshanhs90 Hey Haridarshan, it looks like an incorrect error is thrown when a non-Guid string is provided to `ApplicationId`:

[code]

I think the correct approach here would be changing the type of `ApplicationId` from a string to a Guid, preventing users from providing an incorrectly formatted string.

[2018-03-01 22:04] markcowl commented on #5495
Fixed

[2018-03-01 22:04] #5495 closed

[2018-03-01 22:05] markcowl commented on #5451
Fixed

[2018-03-01 22:05] #5451 closed

[2018-03-01 22:06] markcowl commented on #5355
Fixed

[2018-03-01 22:06] #5355 closed

[2018-03-01 22:07] markcowl commented on #5374
@hyonholee Please let me know if you have any questions about how to do this - this is something your generator could easily handle automatically.

[2018-03-01 22:50] JaDevGuy opened #5652 "Get-AzureRmResource: Unable to cast object of type 'Newtonsoft.Json.Linq.JValue' to type 'Newtonsoft.Json.Linq.JObject'"
The Azure Resource Explorer shows this command should give me my admin token for my azure function

Get-AzureRmResource -ResourceGroupName contosoFunc -ResourceType "Microsoft.Web/sites/functions/token" -ResourceName "demofunct1/admin" -ApiVersion 2016-08-01

However running this cmdlet gives the error "Unable to cast object of type 'Newtonsoft.Json.Linq.JValue' to type 'Newtonsoft.Json.Linq.JObje

[2018-03-01 23:57] jaredmoo commented on #5645
Thank you for notifying us of this issue! We plan to fix this in the near future as part of a major update to the sql database cmdlet internals.

[2018-03-02 00:29] vladimir-shcherbakov commented on #4245
https://github.com/Azure/ci-signing/pull/112
https://github.com/Azure/azure-powershell/pull/5653 (suppression file)

[2018-03-02 00:31] vladimir-shcherbakov commented on #4516
https://github.com/Azure/azure-powershell/pull/5559

[2018-03-02 01:32] maddieclayton commented on #5648
Closing in favor of: https://github.com/Azure/azure-powershell/issues/5635, which has more detail and conversation.

[2018-03-02 01:32] #5648 closed

[2018-03-02 08:13] winmike commented on #4491
SOLVED AS:
use
New-Object Microsoft.Azure.Graph.RBAC.Version1_6.ActiveDirectory.PSADKeyCredential

[2018-03-02 10:32] jtheisen commented on #2617
I also get this.

[2018-03-02 11:49] shubhamgupta514 commented on #5613
@bsiva  Yes, I am referring to the container and as monitored on the portal it is getting cleaned up automatically after sometime once I am disabling the replication.

Please close this issue.

[2018-03-02 16:36] #5613 closed

[2018-03-02 18:53] sergey-shandar opened #5657 "New-AzureRmVMSS shouldn't use magic constants"
### Description

In several places we use magic constants in our New-AzureRmVmss code. In particular,
- currently, a size of a port range is a # of instances multiplied by 2.
- offset for inbound NAT frontend ports is 1000.

TODO: confirm with Compute team what the values has to be.

### Script/Steps for Reproduction

[code]

### Module Version

[code]

### Environment Data

[code]

### Debug Outp

[2018-03-02 19:12] maddieclayton commented on #5006
batch test moved to on demand in this PR: https://github.com/Azure/azure-powershell/pull/5634

[2018-03-02 19:19] sergey-shandar opened #5658 "New-AzureRmVMSS should output port mapping and connection strings."
### Description

New-AzureRmVMSS should output port mapping and connection strings:
- [ ] verbose output.
- [ ] output value.

### Script/Steps for Reproduction

[code]

### Module Version

[code]

### Environment Data

[code]

### Debug Output

[code]

[2018-03-02 19:39] sergey-shandar commented on #5566
Pull Request #5644

[2018-03-02 21:50] sergey-shandar opened #5659 "New-AzureRMVmss (simple parameter set) should create a health probe"
### Description

### Script/Steps for Reproduction

[code]

### Module Version

[code]

### Environment Data

[code]

### Debug Output

[code]

[2018-03-02 21:53] sergey-shandar opened #5660 "New-AzureRmVmss/Vm should support a custom image."
### Description

VM currently _partly_ support a custom image, see VHD.

URL to disk is a name (id?)

See https://review.docs.microsoft.com/en-us/azure/virtual-machine-scale-sets/tutorial-use-custom-image-powershell?branch=pr-en-us-33477

### Script/Steps for Reproduction

[code]

### Module Version

[code]

### Environment Data

[code]

### Debug Output

[code]

[2018-03-02 21:55] sergey-shandar opened #5661 "New-AzureRmVMSS/VM (simple paremeterset) should support data disk creation"
### Description

https://review.docs.microsoft.com/en-us/azure/virtual-machine-scale-sets/tutorial-use-disks-powershell?branch=pr-en-us-33477#create-and-attach-disks

### Script/Steps for Reproduction

[code]

### Module Version

[code]

### Environment Data

[code]

### Debug Output

[code]

[2018-03-02 22:05] sergey-shandar opened #5663 "New-AzureRmVM/VMSS should use hex or Crockford's Base32 for FQDN"
### Description

https://en.wikipedia.org/wiki/Base32#Crockford's_Base32, it's compatible with domain name symbols. For 128 bit id we need 26 symbols instead of 32 (hex).

### Script/Steps for Reproduction

[code]

### Module Version

[code]

### Environment Data

[code]

### Debug Output

[code]

[2018-03-02 23:20] maddieclayton commented on #5639
@TaraMeyer this link was edited a month ago by Sean: https://github.com/Azure/azure-powershell/commit/fa674c9d0a1c94f23a48df472f4558291b69d75e

It looks like it was working in 4.4.1 but now not working.  I am not sure how your CI builds the links, so I don't know how to fix this off the bat.

[2018-03-02 23:50] MiYanni commented on #5647
@clericc Multiple questions/comments:
1. I've never seen `-Parameters` before. Are you trying to do [splatting](https://docs.microsoft.com/en-us/powershell/module/microsoft.powershell.core/about/about_splatting?view=powershell-6)?
2. [Start-AzureRmAutomationRunbook](https://docs.microsoft.com/en-us/powershell/module/azurerm.automation/start-azurermautomationrunbook?view=azurermps-5.4.0) does not a

[2018-03-03 00:18] maddieclayton commented on #5647
@vrdmr Can you take a look at this issue? It would be nice to have piping for this scenario, and the parameter alias makes sense in this scenario.

[2018-03-03 00:58] irrogozh opened #5667 "Rerecord network watcher test (packet capture) once APIs fixes roll out. Modify ProviderList test ot query for available cities."
### Description

### Script/Steps for Reproduction

[code]

### Module Version

[code]

### Environment Data

[code]

### Debug Output

[code]

[2018-03-03 01:16] #5566 closed

[2018-03-03 01:18] MiYanni commented on #5647
@clericc This should work. Just provide the Runbook name and you're good to go.
[code]

[2018-03-03 01:37] clericc commented on #5647
nope, you misunderstand. clearer details tomorrow. don't dismiss this yet please, your assumptions are wrong.

[2018-03-03 01:48] MiYanni commented on #5647
@clericc `Name`, `ResourceGroupName`, and `AutomationAccountName` can be sent via the pipe (by property name). But, `Job` doesn't have a `Name` property. The other two properties, `ResourceGroupName` and `AutomationAccountName`, will work properly with the pipe. But, you need `Name`.

[2018-03-03 01:51] clericc commented on #5647
Problem is in the title: runbook has parameter of type object. try to start a runboo with -Parameters @{ objparam = new-object psobject ... }

[2018-03-03 01:52] clericc commented on #5647
it will fail with tje given error msg

[2018-03-03 01:53] vrdmr commented on #5647
We are planning to [support](https://github.com/Azure/azure-rest-api-specs/blob/master/specification/automation/resource-manager/Microsoft.Automation/preview/2017-05-15-preview/job.json#L65-L69) Job name but it isn't currently supported in the cmdlet.

[2018-03-03 01:55] MiYanni commented on #5647
@clericc What version of the Automation module are you using?

[2018-03-03 01:58] clericc commented on #5647
latest, updated yesterday

[2018-03-03 01:58] clericc commented on #5647
oh, automation module. tomorrow then, i dont have a pc with me

[2018-03-03 02:03] MiYanni commented on #5647
@clericc The `Parameters` parameter is of type `IDictionary`. The `JobParameters` property on `Job` is type `Hashtable`. `Hashtable` implements `IDictionary`, so this should work. Otherwise, how did you pass parameters to `Start-AzureRmAutomationRunbook` to create the `Job` originally?

[2018-03-03 05:25] shubhamgupta514 opened #5669 "Query: Reference Link for ProtectionHealth enumeration for Azure Site Recovery"
Hi ,

I am referring the API documents for Azure Ste Recovery. But lots of enumerations are missing for the properties of the response.
Could you please refer me a good link for that?

[2018-03-03 08:04] jberezanski commented on #2130
FWIW, the problem still exists, at least in version 5.0.0, which is installed by the Azure workload for Visual Studio 2017. It is reallly inconvenient for people using scripts to automate developer workstation configuration.

[2018-03-03 13:43] leowumsft opened #5670 "Unable to connect to AzureGov through Connect-AzureRMAccount"
### Description

The new cmdlet "Connect-AzureRmAccount" doesn't even take "AzureUSGovernment" for the environment parameter input.

### Script/Steps for Reproduction

[code]

### Module Version
5.4.1

[code]

### Environment Data

[code]

### Debug Output

[code]

[2018-03-05 07:01] utripathi commented on #4807
Any update on the issue ?

[2018-03-05 07:29] clericc commented on #5647
Hi yanni,

you now get to the core of the problem. The job was originally created through .NET sdk in C# (where the problem does not arise).

The JobParameters property from `$job` is indeed of type Hastable. Inside it, there is a value of type `psobject`. Piping that into `Start-AzureRmAutomationRunbook` does not work. Converting that `psobject`into hashtable (so we have a hashtable inside the Jo

[2018-03-05 07:32] clericc commented on #5647
To clarify:
[code]

[2018-03-05 10:55] StefanKert commented on #4047
Any news on this? Would be awesome to get a more specific warning here. Settings are pretty much the same as @doctordns ´s. We are facing this issues for the following commands:

- New-AzureRmLoadBalancerBackendAddressPoolConfig
- New-AzureRmNetworkInterface
- New-AzureRmNetworkSecurityGroup

The message is always the same:

[code]

Like mentioned, the other settings are the same as above.

[2018-03-05 13:47] MikeBazMSFT opened #5673 "`Get-AzureRmRoleAssignment` still fails with a null reference exception"
### Description

`Get-AzureRmRoleAssignment` still fails with a null reference exception on current 5.4.1 release.  It appears issue 4828 solved this problem in a different place, because I see that is merged into the main code but I'm still seeing this failure.

### Script/Steps for Reproduction

PS C:\WINDOWS\system32> Get-AzureRmRoleAssignment -IncludeClassicAdministrators

### Module Version

[2018-03-05 15:29] artisticcheese commented on #5607
Any news on this front?

[2018-03-05 15:35] banzo commented on #1978
@singhkays this is not helpful. How about documenting this unintuitive behavior in the UI **and** in the actual documentation?

[2018-03-05 16:18] arcotek-ltd opened #5674 "Module 'AzureRM.Profile' not found. AzureRM.psm1 (5.4.1) seems to be empty."
I'm not quite sure what's going on here, but in AzureRM.psm1 (5.4.1), the only contents is the `SIG` block. Previous versions have a lot more. Is this right?

I've done a `Save-Module AzureRM` and `Install-Module AzureRM` both `AzureRM.psm1` files are the same.

In my VSTS "Azure PowerShell" task (on-premise build agent), I'm getting:

[code]

I've reverted back to AzureRM 5.3.0 and the tasks are

[2018-03-05 17:10] MiYanni commented on #5647
@vrdmr Can you take a deeper look? Thanks.

[2018-03-05 17:23] MaurGi commented on #2130
@markcowl this reproes on VS2017 installation - see above and see https://github.com/jberezanski/ChocolateyPackages/issues/35#issuecomment-370054633

[2018-03-05 19:00] sergey-shandar opened #5675 "New-AzureRmVM/VMSS (simple parameterset) should support SSH"
### Description

### Script/Steps for Reproduction

[code]

### Module Version

[code]

### Environment Data

[code]

### Debug Output

[code]

[2018-03-05 19:09] singhkays commented on #1978
@banzo Portal is already aware of the proposed solutions above and has the change in their backlog. I see you've created a doc improvement issue, I'll notify the doc owners.

[2018-03-05 19:30] maddieclayton commented on #5669
@viverm Can you take a look at this issue?

[2018-03-05 19:31] maddieclayton commented on #5669
@shubhamgupta514 Can you link the specific docs you are looking at?

[2018-03-05 19:32] maddieclayton commented on #5673
@darshanhs90 Can you take a look at this issue?

[2018-03-05 19:34] maddieclayton commented on #5652
@ravbhatnagar Can you take a look at this issue?

[2018-03-05 19:55] mitcht commented on #4572
I'm using -AllowGatewayTransit (Spelled exactly thay way).

The message appears now: WARNING: Parameter 'AllowGatewayTransit' is obsolete. Add-AzureRmVirtualNetworkPeering: -AlloowGatewayTransit will be removed in an upcoming breaking change release.  Please start using -
AllowGatewayTransit to avoid breaking scripts.

This doesn't even make sense.

[2018-03-05 20:55] darshanhs90 commented on #5673
@MikeBazMSFT can you provide me the output for
 Get-Module -ListAvailable -Name AzureRM.Resources

[2018-03-05 20:55] MikeBazMSFT commented on #5673
Directory: C:\Program Files\WindowsPowerShell\Modules

ModuleType Version    Name                                ExportedComman
                                                          ds
---------- -------    ----                                --------------
Script     5.4.0      AzureRM.Resources                   {Get-AzureR...

[2018-03-05 21:54] darshanhs90 commented on #5673
@MikeBazMSFT I dont see any requests made  like this,which should happen just after getting the token
DEBUG: Microsoft.IdentityModel.Clients.ActiveDirectory Information: 2 :
DEBUG: 03/05/2018 21:52:30:  - TokenCache: Serializing token cache with 5 items.
DEBUG: ============================ HTTP REQUEST ============================

Can you send me the full stack trace if possible,I tried repro'ing

[2018-03-05 22:06] darrenjrobinson commented on #5490
Any updates/progress/insight you can provide on this @rkmanda @cormacpayne

[2018-03-05 22:07] MikeBazMSFT commented on #5673
I would be happy to – how do I do that?

Sent from my Windows 10 phone - I work for MS and I use our products

________________________________
From: Haridarshan HS <notifications@github.com>
Sent: Monday, March 5, 2018 4:56:38 PM
To: Azure/azure-powershell
Cc: Michael C. Bazarewsky; Mention
Subject: Re: [Azure/azure-powershell] `Get-AzureRmRoleAssignment` still fails with a null reference excepti

[2018-03-05 23:18] MikeBazMSFT commented on #5673
I have a thought - the account I'm using is strictly Azure AD - no subscriptions associated.  I don't know if that helps.

in the meantime, I'm looking up how to get a trace.

[2018-03-05 23:23] darshanhs90 commented on #5673
Get-AzureRmRoleAssignment -IncludeClassicAdministrators -Debug

[2018-03-05 23:27] MikeBazMSFT commented on #5673
duh sorry should have known that....  anyway:

[code]

[2018-03-05 23:30] darshanhs90 commented on #5673
@MikeBazMSFT  thanks for providing this.
@maddieclayton Looks like the commandlet isnt coming into the resources code for me to debug and find out the issue.Do you have any pointers on how to go about this?

[2018-03-05 23:48] maddieclayton commented on #5673
@MikeBazMSFT Can you run Resolve-AzureRmError after getting this error? This can provide more information about the error you are receiving.

[2018-03-05 23:51] MikeBazMSFT commented on #5673
[code]

[2018-03-05 23:52] MikeBazMSFT commented on #5673
looks like it is indeed related to not having a subscription

[2018-03-05 23:57] maddieclayton commented on #5673
@darshanhs90 Is this enough information to work off of?

[2018-03-06 00:18] RandalliLama commented on #4818
@markcowl I think this requires your help to debug.

[2018-03-06 00:21] RandalliLama commented on #4818
@bill-dall When you made your cloud shell attempt did you retrieve the access token yourself?  If so, I don't think that will work.  You just want to rely on the shell to have you automatically signed in.  It's my understanding that should just work.

If you just relied on auto auth in cloud shell then @markcowl will need to help out as he is the expert on cloud shell auth.

[2018-03-06 00:28] bill-dall commented on #4818
Hi @RandalliLama  - yes that's correct I was just relying on 'auto auth' in cloud shell and the goal for me would be to have cloud shell PowerShell operate the same as on a standard PowerShell shell after an Add-AzureRmAccount is called, for the same account.

[2018-03-06 00:37] darshanhs90 commented on #5673
@MikeBazMSFT looks like that was indeed the issue for you getting the error as you had no subscriptions for the logged in account.
The issue is from the following code where it tries to get the default subscription(as it is needed to get the roleassignments)
https://github.com/Azure/azure-powershell/blob/4491ebc15a04763e20eff9c34ba2128616799ebd/src/ResourceManager/Resources/Commands.Resources/Role

[2018-03-06 00:40] RandalliLama commented on #5586
@arcotek-ltd All secrets held by Key Vault are individually encrypted.  Every time the Key Vault service needs to return a secret it must decrypt it first.  This is a significant bottleneck and is the cost/performance issue that I am referring to above.

[2018-03-06 00:42] MikeBazMSFT commented on #5673
Hmm.  That feels broken; it's reasonable for an Office 365-only customer (for example) to want this answer, especially when the Portal makes you buy Premium (to get Azure PAM) to get the same answer :(

[2018-03-06 00:45] maddieclayton commented on #5492
## New-AzureRmKubernetes
- ```New-AzureRmKubernetes -ResourceGroupName maddie1 -Name kub```
   - If ResourceGroup uses an invalid Location, it will throw an error.  I think it should just choose a location.
- ```New-AzureRmKubernetes -ResourceGroupName maddie1 -Name kub``` (fails for unrelated reason)
```New-AzureRmKubernetes -ResourceGroupName maddie1 -Name kub -Location 'East US'```
   - Error:

[2018-03-06 00:57] sergey-shandar opened #5677 "Compute: VMSS: We need a cmdlet which returns a current connection state (ports) of VMSS."
### Description

### Script/Steps for Reproduction

[code]

### Module Version

[code]

### Environment Data

[code]

### Debug Output

[code]

[2018-03-06 01:59] markcowl commented on #4968
Complete.

[2018-03-06 01:59] #4968 closed

[2018-03-06 02:00] markcowl commented on #5288
Fixed.

[2018-03-06 02:00] #5288 closed

[2018-03-06 02:06] blueww commented on #5030
The issue should be fixed in the next Azure PowerShell release, since both Azure.Storage and AzureRm.Storage will use same "Microsoft.WindowsAzure.Storage" version.

[2018-03-06 02:06] markcowl commented on #5609
This is expected.  You can import earlier versions of any of the individual AzureRM.* modules, but not the module roll-up

[2018-03-06 02:06] #5609 closed

[2018-03-06 02:07] markcowl commented on #4797
We would have to justify why we did this differently than the CLI, and seems like there is not enough justification for the documentation change.  Closing.

[2018-03-06 02:07] #4797 closed

[2018-03-06 02:10] blueww commented on #5053
This should has been fixed from Azure PowerShell release 5.4.0.

[2018-03-06 02:14] markcowl commented on #4772
I don't believe this has come up in any of the tutorials.

[2018-03-06 03:16] blueww commented on #4807
@rgathub

This issue still not resolved. The feature change design still not get agreed, and we also has some other higher priority work in hand. I will discuss with the PM for the issue.

[2018-03-06 04:13] twitchax commented on #4772
I think we should do this, but the priority is low right now.

[2018-03-06 04:32] markcowl opened #5678 "WebAppCmdlet and Doc Evaluation"
### Description
Write a description of needed changes in website cmdlets
- [x] Move simple parameter set into the Websites-Preview branch
- [ ] Examine WebApp cmdlets for conformance
  - [ ] Recommended Parameter Sets
  - [ ] AsJob for appropriate cmdlets
  - [ ] Well-defined output types for each cmdlet
  - [ ] Each object written to the pipeline
  - [ ] Select -First and Select -Property piping

[2018-03-06 06:11] safeermohammed commented on #5647
@clericc

Couple of questions for the example you have given in issue below

      $job | Start-AzureRmAutomationRunbook -Parameters $job.JobParameters

1. Start-AzureRmAutomationRunbook takes -Name (RunbookName) as mandatory parameter. I see that missing in the given example.
2. Parameters is HashTable so you need to pass the -Parameters as -Parameters @{"ParameterNameInRunbook"=$job.JobParameter

[2018-03-06 06:20] safeermohammed commented on #5647
Additionally the below call will not return JobParameters in the job object. Please use Get-AzureRmAutomationJob passing jobId to get the JobParameters. In collection output some properties will be null, so JobParameters will be null in collection. If will be returned only with JobId parameterset

$job = ($autoAcc | Get-AzureRmAutomationJob)[0]

[2018-03-06 09:35] clericc commented on #5647
Hi,

to your questions:

1. the Name is ByPropertyName from the Job object that is piped in (see above discussion)
2. $job.JobParameters *is* a hashtable and it in itself represents the parameters for the runbook.

Also, you're correct about List operation of Job does not contain jobParameters, what i actually did was
`$job = ($autoAcc | Get-AzureRmAutomationJob)[0] | Get-AzureRmAutomationJob`. Th

[2018-03-06 09:41] clericc commented on #5647
I just ran Start-Runbook with -Debug and -Verbose. It gives me no hint. It shows the REST response for GET <runbook-uri> and and after that, immediately:

[code]

[2018-03-06 11:45] vinaydam opened #5679 "Import-AzureRmAutomationRunbook failing, when trying to update an existing Powershell Workflow runbook"
### Description

Import-AzureRmAutomationRunbook is returning a bad request, when we try to update an existing Powershell Workflow runbook.

### Script/Steps for Reproduction

[code]

### Module Version

5.4.1

### Environment Data

[code]

### Debug Output

[code]

[2018-03-06 12:53] sergey-shandar commented on #4772
New-AzureRmVM & New-AzureRmVmss ?

[2018-03-06 13:31] farzadmf opened #5680 "Confused about how to install (and update)"
Hi,

I have a general question that's been bugging me for a long time.

First time I installed Azure PowerShell, I used Web Platform Installer, but since I didn't use that application for anything else, I decided to download the MSI installer directly from here.

At this point, when I ran the command `Get-Module AzureRM -ListAvailable`, nothing was returned but `Get-Module AzureRM* -ListAvailable`

[2018-03-06 14:11] arcotek-ltd commented on #4481
This is certainly something that is needed. We need to know exactly what is going on. My configuration takes ~4 hours to complete because it's restoring a large database, installing VisualStudio etc.

If one uses a template ([such as this, written by @mgreenegit](https://github.com/Azure/azure-quickstart-templates/blob/d663d5eb0245d72da0eee766a81bc3650ed53da1/101-automation-configuration/nested/pr

[2018-03-06 15:54] csanchez09 commented on #5295
Hello Everyone

I am facing the same exact issue, I have tried to follow the link to the solution https://github.com/Azure/azure-powershell/pull/5595, however I am unable to understand the solution, it is possible someone can provide me some assistance to understand what is the solution to the issue

Thank you in advance

[2018-03-06 16:06] utripathi commented on #4807
Thanks for the response .
Waiting

[2018-03-06 16:12] cormacpayne commented on #5680
@farzadmf Hey Farzad, there are two ways to install the Azure PowerShell cmdlets:

- Via `.msi` -- this can be either from the Web Platform Installer or from the installer we attach as a part of each release
    - Modules installed via the `.msi` are _currently_ placed in `C:\Program Files (x86)\Microsoft SDKs\Azure`
    - Since the `.msi` acts as a "roll-up installer", there is no `AzureRM` modul

[2018-03-06 16:12] #5680 closed

[2018-03-06 17:23] maddieclayton commented on #5295
@csanchez09 The fix for the issue above is not in the current release, but will be in the release this coming Tuesday - please update to the newest version on Tuesday at 10am to get this fix.

[2018-03-06 18:21] HemantMahawar opened #5682 "ResourceGroup default doesn't work properly in AzurePSDrive in Azure Cloud Shell"
### Description

In Azure Cloud Shell's AzurePSDrive, when you try to invoke a cmdlet without specifying resourcegroup, the cmdlet errors due to multiple values defined in **PSDefaultParameterValues**

### Script/Steps for Reproduction

Navigate to a resourcegroup inside AzurePSDrive and call a **Get-AzureRM***cmdlet that takes a resourcegroup parameter
[code]

### Module Version

[code]

### Envi

[2018-03-06 18:44] csanchez09 commented on #5295
Thank you for your reply @maddieclayton, I much appreciate it, what should I upgrade, the version of the module AzureRM or the version of PowerShell ?

[2018-03-06 18:57] maddieclayton commented on #5295
@csanchez09 Just updating the AzureRM module will be enough to pick up the change.

[2018-03-06 19:35] csanchez09 commented on #5295
@maddieclayton Thank you for help, I really appreciate it, I will give an update next week to confirm that the issue have been addressed

[2018-03-06 19:42] farzadmf commented on #5680
Thank you so much @cormacpayne for the detailed explanation; I will try to follow your suggestions, and I think it will be fine :)

[2018-03-06 19:54] bganapa opened #5684 "Tag azure powershell modules with the supported api-versions"
Also add the supported api-versions part of the release notes if possible.

This would be helpful for azure stack and sovereign clouds as they are typically a version behind

[2018-03-06 21:11] kwill-MSFT opened #5685 "Inconsistent URI encoding for Get-AzureRmResource and Set-AzureRmResource"
### Description

Inconsistent URI encoding for Get-AzureRmResource and Set-AzureRmResource causes failures when working with App Service Certificates.

App Service Certificates use naming convention _thumbprint_#_resourcegroup_.  The '#' is not always correctly encoded to %23, which causes the API call to fail with error:
MissingApiVersionParameter : The api-version query parameter (?api-version=)

[2018-03-06 23:00] cormacpayne commented on #5674
@arcotek-ltd Hey Adrian, what steps did you follow to install Azure PowerShell on your machine?

[2018-03-06 23:03] cormacpayne commented on #5679
@vrdmr Hey Varad, would you mind taking a look at this issue? It seems there might already be a runbook with the same name, but a different type. Do you know if this is the case, and if so, is this operation allowed?

[2018-03-06 23:16] cormacpayne commented on #5685
@kwill-MSFT Hey Kevin, would you mind providing the output of the following command:

[code]

We are curious what the resulting properties are of the object returned.

@vivsriaus @ravbhatnagar would you mind taking a look at this issue?

[2018-03-06 23:29] cormacpayne commented on #5342
@nibhat @hyonholee @huangpf this isn't something that we will be able to get to in the next milestone, but it is something that the Compute team may want to look at in that time.

[2018-03-07 00:07] ayeltsov opened #5688 "Get-AzureRmDisk silently ignores DiskName parameter if ResourceGroupName is not also specified"
### Description

Get-AzureRmDisk silently ignores -DiskName parameter if -ResourceGroupName is not specified

### Script/Steps for Reproduction

Ensure more than 1 disk exists in the subscription

#Run and pick one disk
Get-AzureRmDisk | select ResourceGroupName, Name

#try below, notice all disks returned
get-AzureRmDisk -DiskName MyDiskName

#try below, notice single disk returned
get-AzureRmDis

[2018-03-07 00:55] YoannGUILLO opened #5690 "Unable to save Azure context on Osx with PowerShell Core"
### Description

Command Enable-AzureRmContextAutosave seems do not work.
When the PowerShell session is closed retention of login informations seems to not being saved.

### Script/Steps for Reproduction

[code]

### Module Version

[code]

### Environment Data

[code]

### Debug Output

[code]

[2018-03-07 01:32] maddieclayton opened #5692 "Fix TestWithValidVhdDiskFile"
Fix on demand test "TestWithValidVhdDiskFile"

[2018-03-07 04:51] sergey-shandar opened #5694 "New-AzureRmVmss(VM?) simple parameter set, should support extensions."
### Description

### Script/Steps for Reproduction

[code]

### Module Version

[code]

### Environment Data

[code]

### Debug Output

[code]

[2018-03-07 05:31] safeermohammed commented on #5679
The existing runbook, Type is  returned as   "runbookType": "Script", Script was a legacy value for PowerShellWorkflow. So seems like this is causing a BadRequest to be thrown on Re-PUT as PUT is sending runbookType: PowerShellWorkflow. This is a bug in service. As a workaround, Is it okay to delete and recreate the Runbook? Latest PUT will replace the legacy value Script to PowerShellWorkflow and

[2018-03-07 05:40] vinaydam commented on #5679
@safeermohammed Thanks for the response. We can delete and recreate the runbook in the Dev environment. But, we can't do that in the production environment. Could you please let me know when can we expect a fix for this issue?

[2018-03-07 05:44] safeermohammed commented on #5647
Microsoft.Azure.Commands.Automation.Common.AutomationClient.ProcessRunbookParameters validates the Job parameters and thats were I think the failure is happening. It could be one of the mandatory Parameter is missing or type is mismatch. I can be a bug as well where it unable to serialize the object into Json form.

Code for this ProcessRunbookParameters is here
https://github.com/Azure/azure-powe

[2018-03-07 08:06] bretthackermsft commented on #2494
Although this is closed, @pauldalyii got very close. When I played with this, I noticed a collection of tokens. All but one had a resource property pointing to management.core.windows.net. But one of them was pointing to graph.windows.net. That token, it turns out, works great.

[code]

[2018-03-07 09:58] clericc commented on #5647
Many thanks for the link to the source.

Found it. The JobParameters from last job contains a key "x" with value "$null". The runbook does not have this parameter "x" (We deploy a certain set of standard parameters for every runbook in this set, but the runbook is not required to take it, therefore the $null value for the key).

This leads to `filteredParameters.Count != parameters.Count` being fa

[2018-03-07 10:57] arcotek-ltd commented on #5674
Hi @cormacpayne,

The same way as I've done countless times in the past:

[code]

It's getting it from PS gallery. We had an MS Azure Architect on site yesterday and I showed him, using `Save-Module AzureRM -Path C:\Temp\AzureRM_541` He confirmed it looks like there's an issue.

To confirm there's no issue with my machine, I have done the same thing on 3 PCs with the same result.

Thanks

[2018-03-07 11:04] arcotek-ltd commented on #5647
@clericc, @MiYanni @safeermohammed,

I have a similar problem with `Start-AzureRmAutomationRunbook` where `-parameters` has a hashtable and Automation thinks it's a PSCustomObject, but I'll open a new issue to avoid clouding (no pun intended) yours, but what I will say is I've found an issue with the latest 5.4.1 module. I've raised issue [5674](https://github.com/Azure/azure-powershell/issues/567

[2018-03-07 11:15] clericc commented on #5647
guess not, my issue was always there but until now i was too lazy to file an issue

[2018-03-07 12:05] arcotek-ltd opened #5695 "Start-AzureRmAutomationRunbook converts hashtables to PSCustomObject."
### Description

When passing a hashtable to -parameters, Automation converts the type to PSCustomObject. You also convert hashtables when running DSC compilations (PowerShell and Templates). What is the reason for this as it makes it very hard to code against as local PowerShell / DSC does not do this? More importantly, how does one stop this conversion?

### Script/Steps for Reproduction

Consid

[2018-03-07 13:10] clericc commented on #5647
Further argumentation:
[code]

So PowerShell also considers a value of null as not existent, supporting my argument

[2018-03-07 14:03] bramvdklinkenberg commented on #4130
Same issue here. I followed the instructions on [https://docs.microsoft.com/en-us/azure/virtual-machines/linux/diagnostic-extension](url) and get the same error.

[2018-03-07 17:10] MiYanni commented on #5647
@clericc Why is it necessary to splat the parameters? If you don't splat them (suggestion I made earlier) and pass them explicitly, there should be no issue, correct?

[2018-03-07 17:27] everettsouthwick opened #5696 "Roles returning array if they contain 'and' in the name"
### Description

If a custom role contains the word 'and' in the name it will behave errantly. When you specify the name of the role in the cmdlet `Get-AzureRmRoleDefinition -Name "[Role Name]"` it'll return an array of all roles available in that subscription. When you specify the name of the role in the cmdlet `New-AzureRmRoleAssignment -ObjectId [Guid] -Scope "[Scope]" -RoleDefinitionName "[Rol

[2018-03-07 17:31] 4c74356b41 commented on #2494
this is gold

[2018-03-07 17:32] clericc commented on #5647
dude...splatting is not the point here...read the whole thing and understand it

[2018-03-07 18:38] maddieclayton commented on #5696
@darshanhs90 Can you take a look at this issue?

[2018-03-07 18:41] maddieclayton commented on #5688
@hyonholee @huangpf Can you take a look at this issue and fix or assign it to the correct person? I looked through the code and it does seem like this is an issue on the PowerShell side.

[2018-03-07 18:51] darshanhs90 commented on #5696
sure will look into it

[2018-03-07 18:54] darshanhs90 commented on #5696
this seems like a bug in the service,let me log a task for this

[2018-03-07 19:07] MiYanni commented on #5647
@clericc I've read everything above. Are you trying to pass $null for a parameter that does exist? Or, are you trying to pass parameters that don't exist?

Per your comment:

Are you intentionally sending superfluous runbook parameters?

Additionally:

It just sounds like you are sending extra parameters. That's why I keep going back to splatting. If you simply created a new Hashtable with the pro

[2018-03-07 19:32] twitchax commented on #4608
Confirm remove.

[2018-03-07 19:41] cormacpayne commented on #5674
@arcotek-ltd if you could, would you mind running `Get-Module -ListAvailable`? When I import the above `AzureRM.psd1` file, I see all modules loaded in the current session when running `Get-Module`.

[2018-03-07 19:42] clericc commented on #5647
now we're talking :)

Yes.

Yes.

We are able to start a runbook via rest api gibing superflous parameters with null as value.

You can't do that via Powershell. But Get-AzureRmAutomationJob gives me the original inputs, containing the superflous parameter. I can't pipe these back into new-job.

[2018-03-07 20:47] kwill-MSFT commented on #5685
[code]

[2018-03-07 21:53] bganapa commented on #5251
The fix is slated for  the next release

[2018-03-07 21:54] bganapa commented on #4925
Closing this as it is not affecting any prod environments

[2018-03-07 21:54] #4925 closed

[2018-03-07 21:58] bganapa opened #5698 "Stack: Copy of AzureRm.Resources module needed for stack"
as PolicyClient does not support the lates api-version in azurestack

[2018-03-07 21:59] bganapa opened #5699 "Stack: Validate latest azure.storage module against Azurestack"

[2018-03-07 22:42] MiYanni commented on #5647
@clericc This is a restriction of the PowerShell language. It doesn't accept extra parameters for a cmdlet/function that doesn't have those parameters defined. REST can do this because of how HTTP routing/query parameters are processed.

It makes sense for `Get-AzureRmAutomationJob` to return the original information provided to it. Again, you can use the information from `Get-AzureRmAutomationJob

[2018-03-08 04:17] ghost opened #5704 "Get-AzureRmRecoveryServicesBackupItem for a Windows Server backup"
### Description

Get-AzureRmRecoveryServicesBackupItem -Container $Container expects a workloadtype of either AzureVM or AzureSQL.  Windows is not a valid value for the parameter and neither of the two valid options work.

Help also indicated there should be a Windows or a WindowsServer value:

WorkloadType: !?
Workload type of the resource (for example: AzureVM, WindowsServer).

### Script/Steps

[2018-03-08 08:14] arcotek-ltd commented on #5674
@cormacpayne,
As requested: [https://gist.github.com/arcotek-ltd/f57036d851187b1baa125c455e0bcecd](https://gist.github.com/arcotek-ltd/f57036d851187b1baa125c455e0bcecd).

I've included the two `Install-Module` cmdlets and `Get-Module -ListAvailable` at the end.

I've also included the contents of AzureRM.psm1. Can you confirm if this is as it's supposed to be? What do you see when you install the

[2018-03-08 09:02] utripathi commented on #1483
This is not an error .
This is a required parameter which is to be input at the deployment time .

[2018-03-08 09:07] utripathi commented on #1483
resourcegroupFromTemplate is a dynamic property which has to be input at deployment time .

If you enter this parameter in the template file , you get the self explanatory error as below -

14:35:26 - [ERROR] C:\Users\Administrator.UTN\Desktop\SavedSearch - Copy\GitTemplateDep\bin\Debug\
14:35:26 - [ERROR] staging\GitTemplateDep\Deploy-AzureResourceGroup.ps1 : Cannot retrieve the
14:35:26 - [ERROR

[2018-03-08 11:24] erikadanis81 commented on #5674
@MarvTheRobot , how would i go about switching my Azure Powershell task to version 1? I am experiencing the exact same issue.

Many Thanks
Erika

[2018-03-08 12:19] rgathub commented on #4807
@blueww Thanks for the update.

[2018-03-08 14:45] huntr01 opened #5705 "Remove DefaultProfile usage from constructor in ResourceManipulationCmdletBase"
### Description

Passing in context using the AzureRmContext (DefaultProfile) optional variable does not work for Set-AzureRmResource. This works for other *-AzureRmResource commands (eg get-azurermresource).

I am calling the cmdlet via a powershell job which needs authentication/tenant details provided by the context object as described here: https://docs.microsoft.com/en-us/powershell/azure/con

[2018-03-08 15:25] gzaika commented on #5578
No, I can reproduce it only in Automation within Powershell workflow

[2018-03-08 15:26] gzaika commented on #5578
Without -Status it works fine

[2018-03-08 17:30] cormacpayne commented on #5704
@CodeHeadTheo it looks like there is a misunderstanding with how PowerShell scrapes the help content -- the [markdown help file](https://github.com/Azure/azure-powershell/blob/preview/src/ResourceManager/RecoveryServices.Backup/Commands.RecoveryServices.Backup/help/Get-AzureRmRecoveryServicesBackupItem.md#-workloadtype) for this cmdlet accurately describes the values you can provide for the parame

[2018-03-08 18:48] RandalliLama commented on #4818
@markcowl ping

[2018-03-08 23:32] maddieclayton commented on #5690
@twitchax Can you take a look at this issue?

[2018-03-08 23:41] maddieclayton commented on #5695
@vrdmr Can you take a look at this issue?

[2018-03-08 23:42] maddieclayton commented on #5639
@TaraMeyer Ping

[2018-03-09 01:26] blueww commented on #4807
Still discussing with PM, will update later.

[2018-03-09 18:46] sergey-shandar opened #5708 "New-AzureRmVm: Avaialibility Set should be also created in simplified parameter set."
### Description

Proposed parameters:
[code]

### Script/Steps for Reproduction

[code]

### Module Version

[code]

### Environment Data

[code]

### Debug Output

[code]

[2018-03-09 20:51] panchagnula opened #5711 "Websites: Update help for Remove-AzureRmWebAppSlot, example doesn't have the slot in the command"
### Description

https://docs.microsoft.com/en-us/powershell/module/azurerm.websites/remove-azurermwebappslot?view=azurermps-5.4.0 - see comments missing slot in the command

### Script/Steps for Reproduction

[code]

### Module Version

4.1.0      AzureRM.Websites
[code]

[2018-03-09 21:06] bganapa opened #5713 "Stack: Include new Azs.Admin modules as part of AzureStack uber module and publish process"

[2018-03-09 21:16] panchagnula commented on #5155
Released as websites-preview module https://github.com/Azure/azure-powershell/releases/tag/v5.0.0-preview-AzureRM.Websites

[2018-03-09 21:16] #5155 closed

[2018-03-09 21:17] panchagnula commented on #5204
This should now be available on the websites-preview module see  https://github.com/Azure/azure-powershell/releases/tag/v5.0.0-preview-AzureRM.Websites

[2018-03-09 21:17] #5204 closed

[2018-03-09 21:18] panchagnula commented on #5181
This should now be available with the websites-preview module https://github.com/Azure/azure-powershell/releases/tag/v5.0.0-preview-AzureRM.Websites

[2018-03-09 21:18] #5181 closed

[2018-03-09 21:25] panchagnula commented on #5222
@vermegi We have support for Isolated SKU with websites-preview module, DETAILS HERE https://github.com/Azure/azure-powershell/releases/tag/v5.0.0-preview-AzureRM.Websites

[2018-03-09 21:25] #5222 closed

[2018-03-09 22:00] twitchax opened #5714 "Rename `Kubernetes` => `Aks`."
### Description

The "Kubernetes" name is too long: rename to "Aks".

[2018-03-09 22:24] markcowl commented on #5690
@YoannGUILLO Yes, this is an issue with APIs we use to encrypt the TokenCache.  We are preparing a candidate fix.

[2018-03-09 22:59] markcowl commented on #4818
@bill-dall How long was the shell open when you ran into this issue, or was it immediate?

Can you execute with $debugpreference="Continue"  the next time this occurs?