[2020-10-16 18:57] o-l-a-v commented on #13178
@dingmen-xue @amjads

Any updates to share here?

[2020-10-17 02:16] #12935 closed

[2020-10-17 05:03] amjads1 commented on #13178
@o-l-a-v - Avi is looking into the issue and you should expect an update sometime next week.

[2020-10-17 05:11] #13097 closed

[2020-10-18 03:06] Francisco-Gamino commented on #12530
Hi @stefanushinardi and @anthonychu -- what should the warming say when creating a V2 function app?

[2020-10-18 12:24] dingmeng-xue commented on #13227
Service team, please help to look into it.

[2020-10-18 12:25] dingmeng-xue commented on #13231
Service team, please help to look into this question.

[2020-10-18 12:26] dingmeng-xue commented on #13240
Service team, please help to look into this question.

[2020-10-18 12:28] dingmeng-xue commented on #13245
Service team, please help to look into this question.

[2020-10-18 12:33] dingmeng-xue commented on #13248
@BhargaviAnnadevara-MSFT , thanks for reporting.

Could you please try `Get-AzVMExtension` and enable debug log via `$DebugPreference="Continue"`? Please share the debug message to us.

[2020-10-18 12:34] dingmeng-xue commented on #13244
Service team, please evaluate this requirement.

[2020-10-18 14:51] jaspkaur28 commented on #13152
@msvijayn for getting it triaged.

[2020-10-18 17:31] BhargaviAnnadevara-MSFT commented on #13248
@camsilv Could you please provide the requested information and take the discussion forward?

[2020-10-18 18:39] Francisco-Gamino commented on #12361
As per my comment above, JavaScript function apps are available under the the option `-Runtime Node`. Closing issue.

cc: @stefanushinardi @anirudhgarg

[2020-10-18 18:39] #12361 closed

[2020-10-18 18:40] Francisco-Gamino commented on #12612
This issue has been fixed.

[2020-10-19 00:55] woter1832 commented on #7553
Now, 2 years on, almost to the day, this is still an issue for me, yet this issue has been closed. I've been around the houses following all the links above, and I cannot find the solution to why:

`Get-Module -Name Az -ListAvailable` returns `$null`

Perhaps someone would be so kind as to enlighten me to what the solution is.

T.I.A.

[2020-10-19 01:20] ramaganesan-rg commented on #8971
This one appears to have been fixed. please verify and reopen issue as needed. Thank you for the feedback.

[2020-10-19 01:50] amjads1 commented on #13248
@BhargaviAnnadevara-MSFT , @camsilv - Let us know if you are still looking for any help here.

[2020-10-19 01:54] amjads1 commented on #13241
Assigned to Vaibhav to look into this issue.

[2020-10-19 02:13] dingmeng-xue opened #13256 "New-AzSapMonitorProviderInstance needs to support other provider types"
## Description of the new feature

Provider instance should support below types

Provider Type | Provider Properties
-- | --
SapHana | {"hanaHostname":"10.0.0.6","hanaDbName":"SYSTEMDB","hanaDbSqlPort":30015,"hanaDbUsername":"SYSTEM","   hanaDbPassword":"<password>"}
PrometheusHaCluster/ PrometheusOS | {"prometheusUrl":"http://10.0.0.21:9664/metrics"}
MsSqlServer | {"sqlHostname":"10.0.0.6","sqlPo

[2020-10-19 02:16] #10478 closed

[2020-10-19 02:45] shps951023 opened #13257 "Convert azure cli script to azure powershell"
Because `Azure-CLI doesn't support runbook, function, logics`, only azure powershell can do it.
So if I'd like to upload my Azure CLI script to azure, I only have to convert azure cli to azure powershell..

Is there any tool can convert azure cli script to azure powershell? e.g :
input `az group list`
oupout : `Get-AzManagementGroup`

input : `az group show --resource-group system`
oupout : `Get-A

[2020-10-19 03:55] ramaganesan-rg commented on #9819
Latest doc (https://docs.microsoft.com/en-us/azure/cost-management-billing/costs/quick-create-budget-template?tabs=CLI) is explicit about using id instead of name of action group.  Have you tried this?

[2020-10-19 04:02] ramaganesan-rg commented on #11611
This appears to have been fixed by our team. Can you please validate and reopen this if you are still facing this issue?

[2020-10-19 04:02] #11611 closed

[2020-10-19 06:37] kristianschneider commented on #12529
Hi. We are in a similar situation where we potentially need to rewrite some functions to App services because of this.
@dlstucki Would it be possible to get an insight into the status of this?  Allowing us to determine if we need to put effort into this or potentially keep our functions and ensure deployment through code. Thanks for your effort with this.

[2020-10-19 08:54] larsthelord commented on #13240
This happened to me as well when passing Json-strings across workbooks.

I created a workaround in case anyone needs it.
The Json string is passed between runbooks as a hashtable containing the CliXml containing your Json String.

[code]

[2020-10-19 09:08] camsilv commented on #13248
Hi All, thanks for the responses. we managed to get what we wanted for the NetworkWatcher extension

AZ + AzureRM:

$json = (az vm get-instance-view -g pcsdev-weu-jum-rg10 -n pcsdevweujum02 --output json)
(($json |convertfrom-json).instanceview.vmagent.extensionhandlers | ? {$_.type -eq "Microsoft.Azure.NetworkWatcher.NetworkWatcherAgentWindows"}).TypeHandlerVersion
1.4.1654.1

Just AzureRM

(Get-

[2020-10-19 09:53] dingmeng-xue commented on #13257
Thanks for reporting.

Currently, there is no tool to do this conversion automatically. The challenging is Azure CLI and PowerShell cannot map one-to-one. The syntax of Azure CLI and PowerShell are different.

[2020-10-19 10:46] larsthelord commented on #13240
Additional information:
While downgrading the module (It also screwed up string encoding, causing me more troubles) I first downgraded to 1.3.7
The same issue happened here.
1.3.6 acted as is had been doing previously.
Release note for 1.3.7 is "Fixed the issue that string with escape chars cannot be converted into json object."
Perhaps this is where the breaking change is.

[2020-10-19 12:13] cadumi opened #13262 "Get-AzNetappFilesVolume using pool object as parameter receive error "Object reference not set to an instance of an object""
Get-AzNetappFilesVolume

[2020-10-19 15:58] JacobBogossian opened #13264 "Az 4.8.0 Get-AzDataFactoryV2Pipeline Unable to Deserialize Response"
When listing validated and running pipelines using Get-AzDataFactoryV2Pipeline, command Get-AzDataFactoryV2Pipeline -DataFactoryName $DataFactoryName -ResourceGroupName $ResourceGroupName fails with error 'Unable to deserialize response.'

## Environment data
`
Name                           Value
----                           -----
PSVersion                      7.0.3
PSEdition

[2020-10-19 16:42] rkapso commented on #13110
There is a cache that is created on the server that powers the catalog response, the difference in the number could point to cache catching up on all instances, please do update in case you see this happening again.

[2020-10-19 17:52] ramaganesan-rg commented on #13110
Closing as per Rishi's comment. Thank you for your feedback!

[2020-10-19 17:52] #13110 closed

[2020-10-19 17:54] amjads1 commented on #13248
Thanks for the update @camsilv . I will go ahead and close this issue now but feel free to let us know for any issues.

[2020-10-19 17:54] #13248 closed

[2020-10-19 17:55] rkapso commented on #12113
This is a known limitation currently, the need to register Microsoft.Capacity and the lag from the registered call and when it starts to work, we have this item in the backlog to address the same.

[2020-10-19 18:06] bmoore-msft commented on #11497
@rahalan - can you try: ```Get-AzDeploymentWhatIfResult``` to see if that gets you around the problem?  It will return more than a true/false but does more than test the template as well...

[2020-10-19 18:17] jfggdl commented on #12529
@eosfor, this is a question for the AppService team. I am trying to get someone to look at this issue on that team.

[2020-10-19 18:29] ramaganesan-rg commented on #12113
thank you for your feedback. closing it per Rishi's comments.

[2020-10-19 18:29] #12113 closed

[2020-10-19 18:36] UltraGC commented on #10329
All,

I am experiencing similar issue where I need to grab the storage account key.  I have PS Core and CLI installed on my machine but not the classic "Azure" module.  I had installed it at one point but it created issues between the versions so I removed it.

Using Get-AzResource, I can get the classic SA's info... that was it.  To get the key, I would need to use some the on Azure module it see

[2020-10-19 19:13] UltraGC commented on #10329
Did you find an answer to this?

[2020-10-19 21:50] vitaminsafety commented on #11499
You get this issue when your tenant or subscription id is incorrect, correct is for example:

Connect-AzAccount -Tenant *** -Subscription ***

[2020-10-19 22:19] chaami commented on #10329
Sorry to bear sad news @UltraGC , but I had to keep an older modules installation around in order to run the older commands.
The piece of good news is that they still work (sometimes the server side of the commands is shut without warnings).
And you can forget about accessing the storage through the [cli some day](https://github.com/Azure/azure-cli/issues/10899).
I would advise to use a key vault

[2020-10-19 22:29] stefanushinardi opened #13266 "[Az.Functions] Add support to create Python 3.9 function apps with preview flag"
## Description of the new feature
ETA for python 3.9 support in Functions is Mid-November

## Proposed implementation details (optional)
@Francisco-Gamino please triage

[2020-10-19 22:39] UltraGC commented on #10329
@chaami  Bummer.  Thanks for the info.

[2020-10-20 04:59] anthonychu commented on #12530
I think when this was created, we were hoping to drive attention to the upgrade announcement. Since it's happening in a couple of weeks, perhaps there's no need to do this. We should instead think about what we want to do about this long term. I think it's still valid to allow creating v2 apps.

[2020-10-20 08:29] #13262 closed

[2020-10-20 08:29] cadumi commented on #13262
closing

[2020-10-20 10:17] lichengshuang commented on #4557
ipdrress  you can use Internet

        #offile-22-3022,302,Tcp,22:3022:100-200,1.202.17.138/32:14.43.240.0/24

        for info in $(cat $iptablesrules | egrep -v '^#|^$');do
            rulename=$(echo $info | awk -F, '{print $1}')
            priority=$(echo $info | awk -F, '{print $2}')

            if [[ "$(echo $info | awk -F, '{print $3}')" == "ALL" ]];then
                ###协议默认是*,既然如此 那么

[2020-10-20 12:05] shawnxzq commented on #12550
@tonswart Generally, we don't suggest parameterize the "password" directly, as it is a credential and it needs special handling which is missing for parameter value. Instead, you can put you credential in AKV, and parameterize the secret name of the AKV credential if you need it.

Here is the document on how to use AKV credential:
https://docs.microsoft.com/en-us/azure/data-factory/store-credentia

[2020-10-20 12:08] shawnxzq commented on #13231
@LijuanZ Could you please look into this? Thanks a lot!

[2020-10-20 18:08] sdecker opened #13274 "Get-AzRegulatoryComplainceAssessment is mispelled"
Get-AzRegulatoryComplainceAssessment should be spelled Get-AzRegulatoryComplianceAssessment

[2020-10-20 18:19] absyed commented on #12654
@andymcadam,  Could you share debug message after you set $DebugPreference="Continue" and then execute 2 cmdlets again?

[2020-10-21 03:36] dolauli commented on #12231
Fixed in autorest.powershell.

[2020-10-21 03:36] #12231 closed

[2020-10-21 03:38] zendu commented on #13193
@erich-wang
Connect-AzAccount -UseDeviceAuthentication on Windows PowerShell works fine and is able to sign-in successfully.

[2020-10-21 03:40] zendu commented on #13193
@n-vo

GAC    Version        Location
---    -------        --------
False  v4.0.30319     C:\Program Files\PowerShell\7\System.Private.CoreLib.dll
False  v4.0.30319     C:\Program Files\PowerShell\7\pwsh.dll
False  v4.0.30319     C:\Program Files\PowerShell\7\System.Runtime.dll
False  v4.0.30319     C:\Program Files\PowerShell\7\Microsoft.PowerShell.ConsoleHost.dll
False  v4.0.30319     C:\Progra

[2020-10-21 03:50] zendu commented on #13193
Issue persists with Az v4.8.0 (Az.Accounts v1.9.5)

[2020-10-21 03:58] yanxiaodi commented on #13104
Hi @dingmeng-xue any updates? Thanks.

[2020-10-21 04:01] dingmeng-xue commented on #13104
I involve Service team to look into this question.

[2020-10-21 06:52] VeryEarly commented on #12538
api upgrade finished in branch https://github.com/Azure/azure-powershell/tree/release-2020-10-27

[2020-10-21 06:52] #12538 closed

[2020-10-21 07:01] shps951023 commented on #13257
@dingmeng-xue  thanks!

[2020-10-21 07:21] fuglphoenix opened #13288 "Connect-AzAccount adds an error to $error"
## Description
when using Connect-AzAccount in an Azure runbook i get an error. It is not thrown but it is located in `$error` variable

## Steps to reproduce
Create an Azure runbook

[code]
Output:

[code]
## Environment data

[code]

## Module versions

[code]

## Debug output

[code]

## Error output

[code]

[2020-10-21 09:05] nabsayeed commented on #13192
Having the same issue

[2020-10-21 09:50] Kinjara commented on #3215
Greetings,

As rharris-hs says - I was also able to conform the difference as well.
However we decided to accept a legacy in the assumption it would be fixed before being deprecated.. Now that it is deprecated it would be nice to have a way to do it...?

As for the current answer in this thread; "Access directory as the signed in user" would mean it can revert to the user identity used to call the

[2020-10-21 13:26] PaulVrugt opened #13291 "Ability to get front door id with Get-AzFrontDoor"
## Description of the new feature
The azure cli includes the `frontdoorId` property when getting a front door using `az network front-door show`, but there doesn't seem to be a way to get this property user azure powershell

## Proposed implementation details (optional)
A `Properties` node could be added to the result, that includes the `frontdoorId` and other missing properties

[2020-10-21 14:45] arnoschuring commented on #13158
I don't think this is accurate, as the used path isn't where the module is installed:

[code]

[2020-10-21 15:07] dingmeng-xue commented on #13264
Service team, please help to look into this question.

[2020-10-21 15:11] dingmeng-xue commented on #13274
Security team, you can correct it anytime because Az.Security is still under preview.

[2020-10-21 15:11] dingmeng-xue commented on #13291
Service team, please help to look into this question.

[2020-10-21 16:10] fawohlsc opened #13293 "Invoke-AzRestMethod with -AsJob does not await asynchronous operations to complete"
## Description
Invoke-AzRestMethod with -AsJob seems to not await asynchronous operations to complete. The Azure REST API, returns a HTTP status code 201 or 202 for asynchronous operations and a status URL to monitor the operation. In order to await the asynchronous operation to complete, the status URL can be periodically called using busy waiting (See [Track asynchronous Azure operations](https:

[2020-10-21 18:22] miaojiang commented on #13247
cc @solankisamir

[2020-10-21 19:17] StrayCatDBA opened #13294 "Set-AzSqlDatabaseAudit fails for Hyperscale databases"
## Description

Set-AzSqlDatabaseAudit fails for hyperscale databases.

This is due to Microsoft.Azure.Commands.Sql.Database.Model.DatabaseEdition enum missing a value for Hyperscale

## Steps to reproduce

[code]

## Environment data

[code]

## Module versions

[code]

## Debug output

[code]

## Error output

[code]

[2020-10-21 19:41] ariso353 commented on #661
Would love an update this as well.  My team is very interested in Az module cmdlets for webjobs

[2020-10-21 21:53] compumaster opened #13298 "At BlueShift Adls Gen 2 storage, the move-azdatalakegen2item command fails with The source URI is invalid."
## Description
At Adls Gen 2 storage, the move-azdatalakegen2item command fails with **The source URI is invalid.**

## Steps to reproduce

[code]

## Environment data

[code]

## Module versions

[code]

## Debug output

[code]

## Error output

[code]

[2020-10-21 22:22] Vaibhav-Agar commented on #12630
Hi @TheOnlyWei,
Haven't provided an update here so just wanted to mention that I am following up with the dev team to get the error message updated. I don't have an ETA for rollout yet but will try to provide that in the next update.

[2020-10-22 00:06] dingmeng-xue commented on #13298
Service team, please help to look into it.

[2020-10-22 00:07] dingmeng-xue commented on #13294
Service team, please look into this question.

[2020-10-22 00:23] dingmeng-xue commented on #13288
@fuglphoenix , thanks for reporting. the message written into $error is a false alarm, because it is PowerShell mechanism and any error will be written into it but it is not a real problem from Azure PowerShell.

We believe we have fixed this problem in upcoming release. Please verify it again after new Az.Accounts 2.x available in the next week.

[2020-10-22 00:29] dingmeng-xue commented on #13247
Service team, please help to look into this question.

[2020-10-22 00:38] sandeepraichura opened #13301 "Bug report template should add a disclaimer not to share any PII information"
## Description
We recently posted a GitHub issues for a customer, regarding the Azure Modules. The issue is not of interest. Anyhow, I used this link and chose Az module bug report: https://github.com/Azure/azure-powershell/issues/new/choose

At the part in the template:
## Debug output

Set $DebugPreference='Continue' before running the repro and paste the resulting debug stream in the below code

[2020-10-22 01:58] VeryEarly commented on #13066
The SDK method referenced above "client.DiagnosticSettings.List" is from API:
https://github.com/Azure/azure-rest-api-specs/blob/master/specification/monitor/resource-manager/Microsoft.Insights/preview/2017-05-01-preview/diagnosticsSettings_API.json

which is different from:
https://github.com/Azure/azure-rest-api-specs/blob/master/specification/monitor/resource-manager/Microsoft.Insights/preview/

[2020-10-22 02:27] VeryEarly commented on #13066
Invoke-AzRestMethod -Path subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/providers/microsoft.insights/diagnosticSettingsCategories?api-version=2017-05-01-preview -Method GET

Headers    : {[Cache-Control, System.String[]], [Pragma, System.String[]], [Strict-Transport-Security, System.String[]], [x-ms-request-id,
             System.String[]]…}
Version    : 1.1
StatusCode : 400
Method     : GET

[2020-10-22 02:33] dcaro commented on #13257
@shps951023 we are working on allowing customers to manage any Azure resources with any of the following: Az PowerShell, Az CLI or Terraform. For example, we have added support for [Functions](https://www.powershellgallery.com/packages/Az.Functions) in PowerShell and still updating it.

I have seen some initiatives from community member to create PowerShell modules calling az cli commands if you a

[2020-10-22 02:33] #13257 closed

[2020-10-22 02:58] compumaster commented on #13298
I'm MSFT (sinanu)

[2020-10-22 03:02] VeryEarly commented on #13293
Hi @fawohlsc ,

We currently have technical difficulties to support waiting LRO as job for `Invoke-AzRestMethod`,
for now I think you have to write a loop to get response from "Azure-AsyncOperation"

[2020-10-22 03:12] shps951023 commented on #13257
@dcaro thanks

[2020-10-22 03:50] dingmeng-xue commented on #13298
Ideally, you should join Azure Github org. Otherwise, bot will consider you as external user.

[2020-10-22 04:03] blueww commented on #13298
@compumaster

I can repro the similar issue with my storage account and Az.Storage 2.7.0. I use move source item path as "/adlstest1/09%3A00%3A00/__datetime=2020-09-14 09%3A00%3A00".

This issue looks like cause the source path is not encoded in the move request send from storage .net SDK  (Powershell based on .net SDK). The move request send `x-ms-rename-source: /adlstest1/09%3A00%3A00/__datetime

[2020-10-22 04:16] compumaster commented on #13298
Yeah this is fine, I'm just finding issues :) I'll test once it's released.

[2020-10-22 08:10] fawohlsc commented on #13293
@VeryEarly thanks for the prompt and insightful answer. Some cmdlets like ```Start-AzPolicyRemediation``` and ```Start-AzPolicyComplianceScan``` awaiting LRO with the ```-AsJob``` parameter. Without it, they just continue without awaiting the operation. Is this generally best practise across Azure PowerShell, so if you want to await LRO use ```-AsJob```? Suggestion is to keep this issue open until

[2020-10-22 08:49] VeryEarly commented on #13192
The request looks OK to me:
HTTP Method:
PUT

Absolute Uri:
https://management.azure.com/subscriptions/c5930ba8-5b04-4664-9267-72bcef385673/resourceGroups/AzureSentinelRG-01/provi
ders/microsoft.insights/activityLogAlerts/Test Storage Account Administrative Operations?api-version=2017-04-01

Headers:
x-ms-client-request-id        : ace472bd-5dde-4772-b9db-4434b52c45c2
accept-language

[2020-10-22 14:57] Candelit commented on #13096
I have the exact same issue, any workaround on this?
New-AzRoleAssignment : Input string was not in a correct format.
What do I do to downgrade to a working version?

Thanks

[2020-10-22 16:45] shilpasharmaAM commented on #13192
@asheniam @jagadisk can you please review.
@nkiest, FYI

[2020-10-22 17:13] dagoroz commented on #13096
@Candelit
in a fresh powershell session use `Uninstall-Module Az.Resources` restart powershell then run `Install-Module -Name Az.Resources -RequiredVersion 2.4.0` this should downgrade you to a functioning version

[2020-10-22 18:01] o-l-a-v commented on #13178
@amjads1

Should I rather create a Azure support ticket?

[2020-10-22 18:04] FrankSchuurman68 commented on #13193
Connect-AzAccount: AADSTS50097: Device authentication is required.
Trace ID: 8cd5c1da-c41a-4f34-9081-83693c106b00
Timestamp: 2020-10-22 18:02:17Z: Response status code does not indicate success: 401 (Unauthorized).
Powershell 7.0.3 on MacOS. Popup and MFA validation succesfull.

[2020-10-22 19:01] Vaibhav-Agar commented on #13241
Closing per the discussion over email.

[2020-10-22 19:01] #13241 closed

[2020-10-22 19:32] avirishuv commented on #11896
hi @hbuckle the fix for this issue has been rolled out. If there are no other open questions, can we close the issue?

[2020-10-22 19:38] avirishuv commented on #12886
@dcbrown16 closing the issue, feel free to reopen if you have any other questions on this topic.

[2020-10-22 19:38] #12886 closed

[2020-10-22 20:08] nkiest commented on #13192
@shilpasharmaAM this is an Alerts team issue, who has now been flagged and Essentials removed.

[2020-10-22 20:11] Candelit commented on #13096
I hate to say this, but I have downgraded as suggested but still I get the same issue:
New-AzRoleAssignment : Input string was not in a correct format.
I also had to specifically uninstall the 2.5.1 version, or there were two.
But still...
![image](https://user-images.githubusercontent.com/19244537/96924831-818af080-14b3-11eb-965f-65ed35495bb8.png)

[2020-10-22 20:13] nkiest commented on #13066
This preexisting API for activity log (was called event service, hence bad API name) provides a way to get valid categories for Subscription Diagnostic Settings:
https://github.com/Azure/azure-rest-api-specs/blob/master/specification/monitor/resource-manager/Microsoft.Insights/stable/2015-04-01/eventCategories_API.json

[2020-10-22 20:19] Candelit commented on #13096
FYI: Tried my script in CloudShell and it works like it should there.
Its running and setting roles for all of our SQL disks at the moment, but I'll have a look at the module versions when it is completed.

[2020-10-22 20:38] dagoroz commented on #13096
@dingmeng-xue, looks like it might be something more specific to powershell on the desktop?
It's worth mentioning that I haven't trully been able to repro this using the tests which tells me the module itself might not be the root of the issue

[2020-10-22 20:46] avirishuv commented on #13211
@stephenwheet you can use the following to get the os type property:
$vm = Get-AzVM -ResourceGroupName <rg-name> -Name <vm-name>
$vm.StorageProfile.OsDisk.OsType

[2020-10-22 20:58] avirishuv commented on #13213
I was able to repro that for deallocated VMs, storage account type is not returned, while it works for running VM. Marking this as a bug and assigning to @bilaakpan-ms to investigate based on difference between Az 4.7.0 and Az 4.8.0 versions.

[2020-10-22 21:02] stephenwheet commented on #13211
I know that.. I said that in my last post.  I was asking why if it shows it in the table view when you run the get-azvm is it not a top-level in the List view.  It's just inconsistent.

[2020-10-22 21:07] stephenwheet commented on #13213
Thanks .. any comment on the part where I said "BTW .. if I specify the -resourcegroupname .. the request is like 100x faster and so is " -status". That should be mentioned somewhere." ?

It seems like if I don't specify the resource group it does pulls all vm's and their status from all resourcegroups in the subscription.. you would think that you would get the VMnames .. parse the resource group

[2020-10-23 01:05] theelderwand commented on #12970
Hi @frank9843 the following is what I'm trying out,

![image](https://user-images.githubusercontent.com/2137463/96944875-f7319500-1490-11eb-958c-bad92d35d859.png)

Followed by,

![image](https://user-images.githubusercontent.com/2137463/96944754-943ffe00-1490-11eb-84a9-b2568b4ba8bb.png)

I could see the following
![image](https://user-images.githubusercontent.com/2137463/96944852-e6811f00-1490-11e

[2020-10-23 02:42] apclouds commented on #10838
@noopman out of curiosity, is there another scenario where you've needed this? Besides the Blueprint cmdlet.

[2020-10-23 02:45] apclouds commented on #11552
Hi @wasabii, this has been added to our backlog for further investigation on our end.

[2020-10-23 07:46] #12907 closed

[2020-10-23 07:55] #12488 closed

[2020-10-23 07:55] #12491 closed

[2020-10-23 07:55] #12492 closed

[2020-10-23 07:55] #12493 closed

[2020-10-23 07:59] #11288 closed

[2020-10-23 07:59] #10259 closed

[2020-10-23 09:33] isrgarmes commented on #13202
Hello Team,

We would like to share more details about the scenario for helping.

We have reproduced on anohter Tenant/Subscription, having the following Debug detail from Powershell and also reviewing the Code from Powershell commands (using IL Spy which it can return code differences). This test has been done over a Subscription with Testing purpouse:

Avoding the Authentication Phase, and going

[2020-10-23 10:10] Oechiih commented on #8971
Hi @ramaganesan-rg
I beg to differ, I tried to get it to work again, trying several options with no luck at all. Even if the issue would have been technically fixed the documentation is still missing. Also it still just returns all resources instead of none when the tag filter is invalid. In my opinion my initially reported issue still stands.

[2020-10-23 13:26] frank9843 commented on #12970
Hi @theelderwand
The exact command to create a budget does not work for me with a BadRequest (no further details). The activity log in Azure (yes it does log to the activity log) tells me it's because "Cost Management supports only Enterprise Agreement, Web direct and Microsoft Customer Agreement offer types". I'm on pay-as-you-go and I've worked plenty with Azure budgets both in the portal and pr

[2020-10-23 13:26] #12970 closed

[2020-10-23 16:46] ramaganesan-rg commented on #8971
Thanks for chiming in, the team will be looking into it.

From: Jan Oehen <notifications@github.com>
Sent: Friday, October 23, 2020 3:11 AM
To: Azure/azure-powershell <azure-powershell@noreply.github.com>
Cc: Rama Ganesan <ramagane@microsoft.com>; Mention <mention@noreply.github.com>
Subject: Re: [Azure/azure-powershell] Get-AzConsumptionUsageDetail does not honor 'Tag' parameter (#8971)

Hi @rama

[2020-10-23 19:42] avirishuv commented on #13178
@o-l-a-v thanks for reporting this. Is it possible to check that when the power state is missing in the result of the Azure PowerShell query, at that time the direct GET API call on the VM also shows missing power state?
Sometime, Power state may be missing for VMs due to reliability issues in the implementation, which we are continuing to improve upon.
If you would like more details of the specif

[2020-10-23 20:02] jberezanski-mdg commented on #13096
I got bitten by this, too. After a quick investigation

[code]

I have arrived at [this line of code](https://github.com/Azure/azure-powershell/blob/953a377459674a4c836625d609d4f8f3e37d0c43/src/Resources/Resources/RoleAssignments/NewAzureRoleAssignmentCommand.cs#L276):

`double _conditionVersion = double.Parse(ConditionVersion ?? "2.0");`

which does not specify the culture to be used for parsing

[2020-10-23 20:02] alex-frankel commented on #11552
This is something we are not planning to fix, so I'm going to close

[2020-10-23 20:02] #11552 closed

[2020-10-24 01:41] jmagosta opened #13315 "New-AzFunctionApp returns uninformative error when Linux Azure functions are created in resourceGroups with Windows-based functions"
## Known problem

As the Azure function documentation explains
[You can't host Linux and Windows apps in the same resource group.](https://docs.microsoft.com/en-us/azure/azure-functions/functions-create-first-azure-function-azure-cli?tabs=bash%2Cbrowser&pivots=programming-language-python)

`New-AzFunctionApp` returns an uninformative error message and value when this occurs.

## Steps to reproduce

[2020-10-25 12:15] isra-fel commented on #13127
Hi all, we've found the root cause and is proposing a fix. We plain to deliver the fix in November 17 release.
Unfortunately this issue cannot be work-arounded unless you use a different login approach. If possible, we recommend using a service principal to log in: https://docs.microsoft.com/en-us/powershell/azure/authenticate-azureps?view=azps-4.8.0#sign-in-with-a-service-principal-

We believe t

[2020-10-25 12:17] dankennedy opened #13318 "Get-AzSqlDatabaseImportExportStatus SAS token expires for long running import or export jobs in Azure Powershell Runbook"
## Description
After initiating an import or export using New-AzSqlDatabaseImport or New-AzSqlDatabaseExport and then using Get-AzSqlDatabaseImportExportStatus to monitor progress, if the process takes more than 1 hour then calls to Get-AzSqlDatabaseImportExportStatus fail with the message "Get-AzSqlDatabaseImportExportStatus : ExpiredAuthenticationToken: The access token expiry UTC time '10/25/20

[2020-10-25 14:55] dingmeng-xue commented on #13315
Functions team, please help to check this question.

[2020-10-25 14:56] dingmeng-xue commented on #13318
Service team, please help to check this question.

[2020-10-25 16:37] nivohavi opened #13319 "Get-AzDataFactoryV2Trigger command failed to serialize result"
Hi,

It looks like there is an issue with Get-**Az**DataFactoryV2Trigger command:

`Message        : Unable to deserialize the response.
StackTrace     :    at Microsoft.Azure.Management.DataFactory.TriggersOperations.<ListByFactoryWithHttpMessagesAsync>d__5.MoveNext()
                 --- End of stack trace from previous location where exception was thrown ---
                    at System.Runtim

[2020-10-25 20:05] cveld commented on #13127
We started experiencing it with 4.7.0. We used the following code:

[code]

And indeed we migrated to the following which seem to work:
[code]

I,e. instead of the `-KeyVaultAccessToken` parameter we moved to the `-ServicePrincipal` parameter.

[2020-10-26 02:05] isra-fel opened #13320 "Pipeline timeout"
## Description

Investigate why are the CI pipelines often timed out randomly.

### Retained pipeline runs

(core on windows) https://dev.azure.com/azure-sdk/public/_build/results?buildId=589661&view=results

## Cost

?

[2020-10-26 05:28] shawnxzq commented on #13264
@JacobBogossian could you please check the piepeline definition from UX and share its json code? Thanks!

[2020-10-26 05:29] idear1203 commented on #13202
Hi @isrgarmes , this command `New-AzSynapseSqlDatabase` is designed for a preview feature named SQL Pool Gen3 and only available in very few whitelisted subscriptions. Do you want to create a SQL pool? If so, could you please try `New-AzSynapseSqlPool`?

[2020-10-26 07:23] dankennedy commented on #13318
Just a follow up on this, I've run 2 large import and export jobs over the weekend and this time both completed without error. So I don't know if you just want to close this issue or whether there's an intermittent problem. I'm fine with either. Thank you.

[2020-10-26 08:56] isrgarmes commented on #13202
Thanks for the information.

What we are working on is on the following steps:

1. Create a Synapse Workspace instance for being used in SQL OnDemand mode
2. Create a Database instance inside of the Workspace (here is where we have the issue)
3. Assign the identity from external Azure Services with Managed Identities as Administrator of the new Database

If this command is not the way to do the po

[2020-10-26 10:06] dingmeng-xue commented on #13320
Again, SQL related test cases.

[2020-10-26 10:09] dingmeng-xue commented on #13319
Data Factory team, please help to look into this question.

[2020-10-26 10:10] nivohavi commented on #13319
issue persist also when using "Get-**AzureRm**DataFactoryV2Trigger"

[2020-10-26 11:10] fawohlsc opened #13324 "Support Azure Policy exported via new "Export definitions" feature"
## Description of the new feature
Within the Azure Portal, you can now [export policy definitions](https://docs.microsoft.com/en-us/azure/governance/policy/tutorials/policy-as-code-github) into your GitHub repository. The export structure is based on a raw API dump (Example [here](https://github.com/fawohlsc/azure-policy-testing/tree/main/policies/Append-Route-NextHopVirtualAppliance)):

**Policy

[2020-10-26 12:07] idear1203 commented on #13202
I think you should use `New-AzSynapseSqlPool` instead. I will let someone more familiar to this part to take a look.

[2020-10-26 13:14] isrgarmes commented on #13202
In my case, my customer does not want to create a Pool, they wants to use SQL under demand (Serverless) like is commented on this article: [https://docs.microsoft.com/en-us/azure/synapse-analytics/sql/on-demand-workspace-overview](https://docs.microsoft.com/en-us/azure/synapse-analytics/sql/on-demand-workspace-overview)

[2020-10-26 13:42] JacobBogossian commented on #13264
@shawnxzq I have isolated the issue to the following pipeline. Note that DataFactory is forcing curly braces around @activity in the partitionSettings fields. I tried to remove them and they are automatically added back in by DF when I click out of the dynamic content window.

`{
    "name": "Ingress_3_ProcessJob",
    "properties": {
        "description": "This pipeline is highly parameterized t

[2020-10-26 14:33] SarveshPandey opened #13325 "Suspend-AzureRMAutomationJob is unable to suspend Job"
## Description

## Steps to reproduce

[code]

## Module versions

[code]

## Debug output

[code]

I have schedule a job in Azure Automation which runs daily at and start my VM. Now, i want to disable this job for three days for this I used "Suspend-AzureRMAutomationJob" but unfortunately it didn't work.

![image](https://user-images.githubusercontent.com/25227161/97185624-4b58b400-17c6-11eb-9d7d

[2020-10-26 15:37] Kotasudhakarreddy commented on #13244
@ThejaChoudary - please check on it.

[2020-10-26 15:43] Kotasudhakarreddy commented on #13245
@IgnacioAlvarezArenas - could you please provide the debug log by adding `-debug` to your restore command

[2020-10-26 16:18] pkanekal commented on #13202
SQL On demand is created by default on workspace creation time. The customer should just need to create a workspace then they can connect to the on demand instance.

[2020-10-26 16:24] panchagnula commented on #13244
@vinisoto did we update the new SKU support only on CLI & not Powershell?

[2020-10-26 16:39] isrgarmes commented on #13202
Thanks, but if we use the the command New-AzSynapseWorkspace to create the workspace, we have not a database where works only have the workspace. Until we could have the database, we can not give access to the users or create the views over the external data. All this process is automatized using Azure DevOps. How we can proceed to create the Workspace and also the first database as we have when w

[2020-10-26 17:04] pkanekal commented on #13202
Please refer to this documentation:
https://docs.microsoft.com/en-us/azure/synapse-analytics/quickstart-create-workspace
https://docs.microsoft.com/en-us/azure/synapse-analytics/quickstart-sql-on-demand

If you have already created a workspace then all you need to do is connect through one of the clients mentioned in the second link, and issue the create database call via TSQL.

[2020-10-26 17:11] bmoore-msft commented on #11413
This s/b fixed now

[2020-10-26 17:11] #11413 closed

[2020-10-26 17:51] LaythHolubeshen commented on #11611
I'm still seeing this issue. Updated and running Az.Billing 1.0.3

[2020-10-26 20:08] Francisco-Gamino commented on #4690
Moving this to Backlog. We will consider this when adding support for slots in Az.Functions.
cc: @stefanushinardi

[2020-10-26 20:12] Francisco-Gamino commented on #10537
Moving to Backlog. Adding @stefanushinardi and @cachai2 for FYI.

[2020-10-26 22:41] Mattheww65 commented on #13240
I am also experiencing this issue - thankyou @larsthelord
Rolling back to 1.3.6 didn't work for me - see attached for the JSON conversion
![az2](https://user-images.githubusercontent.com/73503344/97236163-16d6ff00-17aa-11eb-8a09-a5e8ddd1e839.JPG)

![az1](https://user-images.githubusercontent.com/73503344/97236070-ed1dd800-17a9-11eb-9fd4-9f3773fb1c22.JPG)

[2020-10-26 23:02] vinisoto commented on #13244
@panchagnula it was updated with this PR #12869.

@skurik - please update to the latest release:[https://github.com/Azure/azure-powershell/releases/tag/v4.8.0-October2020]( https://github.com/Azure/azure-powershell/releases/tag/v4.8.0-October2020)

I was able to repro the behavior you described BEFORE upgrading to the latest release. After updating, I'm able to create Premium V3 App Service Plans

[2020-10-26 23:43] ndowson commented on #12304
The fix for this is to install Az.sql version 2.6.0-
**Install-Module Az.sql -RequiredVersion 2.6.0 -SkipPublisherCheck -force -AllowClobber**
Then import it
**Import-module Az.Sql -RequiredVersion 2.6.0**
Run the commands using e.g Set-AzSqlDatabaseSensitivityClassification

[2020-10-27 00:20] axisc commented on #11459
@kesane-msft we will investigate this internally.

On a related note, I'd consider sharding the topics across different namespaces to make sure you have a performant Service Bus.

[2020-10-27 00:26] kesane-msft commented on #11459
Thanks @axisc . This is some legacy code that I am working upon so sharding topics across different namespaces might not be a simple option for me.

[2020-10-27 02:45] isra-fel opened #13330 "Location completer sometimes not working"
## Description

Location completer returns no suggestions.

![image](https://user-images.githubusercontent.com/11371776/97250355-bf37a280-1840-11eb-85ad-825555fdc9a9.png)

## Root cause

The request to list all resource providers takes ~3.5 seconds (on my machine)

![image](https://user-images.githubusercontent.com/11371776/97250520-19386800-1841-11eb-9b4f-10916cfd6dd8.png)

But it is set to time

[2020-10-27 03:56] samuelkoppes commented on #12331
We are investigating this issue, and will report back with an update by 11/4/2020.

[2020-10-27 04:18] panchagnula commented on #13244
Please use the latest version of Powershell for support

[2020-10-27 04:18] #13244 closed

[2020-10-27 07:16] gsscoder commented on #12694
Hello, I've the same problem. Everything worked fine, but these day `Set-AzStorageBlobContent` is unable to complete its operation _without signaling errors_ (stucks on **Progress 0%**).

This is the part of code in question:
[code]

Do you need any extra information to help me?

Thank you,
Giacomo S. S.

[2020-10-27 09:33] blueww commented on #12694
@gsscoder

We will need some information to investiaget it:
1. Az.Storage version (Get-module)
2. OS/Powershell version ($PSVersionTable)
3. Debug log
4. If debug log doesn't contain following information ,please also give them: Storage Account Name,  Running time (UTC), Container/Blob name.

[2020-10-27 10:42] Kitwradr opened #13335 "Error: Property requiredResourceAccess.resourceAccess is invalid, when specifying "Type" as "Role" while creating graph permission for AAD App"
**Describe the bug**

The same code works when specifying Type as "Scope" but not when specifying its as "Role" the error occurs
**To Reproduce**

`$graphPermission = New-Object -TypeName "Microsoft.Open.AzureAD.Model.ResourceAccess" -ArgumentList "a367ab51-6b49-43bf-a716-a1fb06d2a174","Role"`
**Expected behavior**

**Environment summary**

**Additional context**

![image](https://user-images.gith

[2020-10-27 12:29] dingmeng-xue commented on #13325
@SarveshPandey , I have added Automation team in this thread. Could you share the debug log when you execute `Suspend-AzureRmAutomationJob`? In addition, AzureRm is an old version of modules. Please try its new version `Suspend-AzAutomationJob`

[2020-10-27 12:32] SarveshPandey commented on #13325
Yes, AzureRM is old version but when I tried using **Suspend-AzAutomationJob** in the Azure Automation Test Pane its throws error.

[2020-10-27 12:33] dingmeng-xue commented on #13324
Service team, please help to evaluate this feature request.

[2020-10-27 12:36] dingmeng-xue commented on #13335
New-AzureADApplication is cmdlet from AzureAD module which is not part of Azure PowerShell project.

@Kitwradr , we have no contact approach to AzureAD. I'm closing this issue now. If you have any further question, please add comment or raise a new issue.

[2020-10-27 12:36] #13335 closed

[2020-10-27 12:39] dingmeng-xue commented on #13325
Sure. please provide debug message which can help service team to narrow down the issue.

[2020-10-27 13:37] tmmueller commented on #12304
Reverting to Az.Sql 2.6.0 worked for me as well. Not exactly ideal.

[2020-10-27 14:53] isrgarmes commented on #13202
Thanks for the insights. We will consider this option to manage the Automatic Delivery of the Solution to see if fits with Customer scenarios.

[2020-10-27 16:26] cschertzmsft opened #13337 "azcontext.TokenCache is null with Az.Accounts > v1.9.5 and breaks Azure Login scenarios"
## Description

azcontext.TokenCache is null when using Az.Accounts > v1.9.5. When someone installs Az PowerShell since 10/27, login scenarios appear to be broken. Downgrading Az.Accounts to 1.9.5 seems to work but is a major issue with Partners who we have install Az PowerShell and asking them to delete Az.Accounts (say v2.1.0) and reinstall v1.9.5.

## Steps to reproduce

[code]

## Environment

[2020-10-27 17:20] IgnacioAlvarezArenas commented on #13245
@Kotasudhakarreddy let me attach the information:

[restoreazdeletedwebapp_debug.txt](https://github.com/Azure/azure-powershell/files/5446933/restoreazdeletedwebapp_debug.txt)

[2020-10-27 18:09] noopman commented on #10838
Hello! I'm afraid I don't understand. This issue was filed with a Blueprint cmdlet in mind specifically. Is there another scenario that you can think of here?

[2020-10-27 18:51] adriansali commented on #13337
The issues seems to be in the new version of Az.Accounts - 2.1.0. Downgrading to 1.9.5 fixes the issue. On the other hand, it also doesn't work in PS 7 with Az.Accounts 2.1.0. So the version of PS does not seem relevant.

[2020-10-27 19:12] jpwarner67 commented on #13337
Although there is a work-around (for now) to delete Az.Accounts > 1.9.5 (and reinstall 1.9.5), it will be painful to deal with an incoming stream of support issues from folks who will be broken (with a basic login scenario) and told to use the work-around.

Possible to have someone look at this as soon as possible since it impacts azure login?

Thanks!

[2020-10-27 19:51] kenieva commented on #13324
Thanks for calling this out! We have added a task for cmdlet to support raw API dumps.

[2020-10-27 19:51] #13324 closed

[2020-10-27 19:55] omerzubair commented on #12728
I have the same issue. The DisableApplicationInsights parameter is not working.

[2020-10-27 20:08] fawohlsc commented on #13324
Thanks @kenieva and @dingmeng-xue - you guys are awesome 🥇

[2020-10-27 20:19] cadams84 commented on #8371
@spaelling I can change the access using the workaround but not the SourceAddressPrefix. Should this be possible?

[2020-10-27 20:39] dineshreddy007 commented on #13337
We are using TokenCache.ReadItems() after Connect-AZAccount to read token cache, which is working fine in version1.9.5.

[Microsoft.Azure.Commands.Common.Authentication.AzureSession]::Instance.TokenCache.ReadItems()

From 2.1.0, reading from token cache fails with below error.

[Microsoft.Azure.Commands.Common.Authentication.Abstractions.AzureTokenCache] does not contain a method named 'ReadItems'

[2020-10-27 21:00] Francisco-Gamino commented on #12728
This issue is fixed in the latest version of Az.Functions (https://www.powershellgallery.com/packages/Az.Functions/2.0.0). Please download the latest version of the Az module and give it a try.

[2020-10-27 21:43] omerzubair commented on #12728
just updated to Az.Functions/2.0.0
Now the existing code (which was working) is error-ing out.
" DotNet' function apps, the runtime version is specified by the **FunctionsVersion** parameter. Please specify this value and try again"

and i checked the doco and there are no values specified for this prameter. can you help please.

https://docs.microsoft.com/en-us/powershell/module/az.functions/new-

[2020-10-27 22:06] omerzubair commented on #12728
I added -FunctionsVersion 3 and it worked. not sure if that is correct

[2020-10-27 22:07] omerzubair commented on #12728
the switch DisableApplicationInsights  is working now.

[2020-10-27 22:17] HansK-p opened #13340 "Connect-AzAccount fails as "InteractiveBrowserCredential authentication failed" (azure-powershell:5.0.0-ubuntu-18.04)"
## Description
When using docker image "mcr.microsoft.com/azure-powershell" I get an error message when running "Connect-AzAccount". The error message is:
<pre>
PS /tmp> connect-azaccount
WARNING: Unable to acquire token for tenant 'organizations'
Connect-AzAccount: InteractiveBrowserCredential authentication failed: Unable to open a web page using xdg-open. See inner exception for details. Possib

[2020-10-27 22:24] dagoroz commented on #13096
@jberezanski-mdg thank you very much for finding this
It never occured to me to check with a diferent localization settings
I'll get working on this

[2020-10-27 22:44] alexandair commented on #13340
Experienced the same error.

[2020-10-27 23:45] gaikovoi commented on #11446
@dingmeng-xue, Az v 5.0.0 still has this issue. With the latest available modules versions (see screenshot), Connect-AzureAD still produce same error if I run any Az command before it.
`Connect-AzureAD: Could not load file or assembly 'Microsoft.IdentityModel.Clients.ActiveDirectory, Version=3.19.7.16602, Culture=neutral, PublicKeyToken=31bf3856ad364e35'. Could not find or load a specific file. (0

[2020-10-28 00:24] pragnagopa opened #13342 "[AzureFunctions][CustomHandler]Remove preview flag"
cc @Francisco-Gamino  @anthonychu

Stacks updates here: pragnagopa/azure-functions-supported-runtime-stacks#21

[2020-10-28 00:47] pragnagopa commented on #13342
@Francisco-Gamino - if this issue requires just updating the stacks content - please assign it to me.

[2020-10-28 01:21] dcaro commented on #13340
@HansK-p @alexandair thanks for reporting the issue, we are looking at it

[2020-10-28 01:48] VeryEarly commented on #13066
Hi @nkiest ,

Tried this API, doesn't seem to be what we need here:
Invoke-AzRestMethod -Path /providers/microsoft.insights/eventcategories?api=version=2015-04-01 -Method GET -debug
{
  "value": [
    {
      "value": "Administrative",
      "localizedValue": "Administrative"
      "value": "Alert",
    },
    {
      "value": "Recommendation",
      "localizedValue": "Recommendation"
    },
    {

[2020-10-28 02:13] VeryEarly opened #13345 "login issue using az.accounts 2.1.0"
## Description
`Connect-AzAccount` throw error if delete folder "~/.Azure" before run this cmdlet
[code]
## Steps to reproduce

[code]
delete folder "~/.Azure"

[code]

## Environment data

[code]

## Module versions

[code]

## Debug output

[code]

## Error output

[code]

[2020-10-28 02:23] Scarlettliuyc opened #13346 "Create Search Service using Powershell api need to be update"
## Description

We have a policy to append ipRules, when use Azure Portal create it, it can append the IP list, but when create it Azure powershell New-AzSearchService  it cannot append it.  Then we troubleshoot  the issue it's like the api of Search service Powershell still in old version 2015-08-19
## Steps to reproduce

Create Search service using Powershell：
New-AzSearchService `
-ResourceGrou

[2020-10-28 05:30] jaspkaur28 commented on #13104
@yanxiaodi please share the Automation account region you're using for us to be able to fetch more details around the issue.

[2020-10-28 05:35] edyoung commented on #13029
It doesn't hang any more in Azure PowerShell 5.0.0 but it does do this:

[code]

I mean, maybe that's OK? tenant 'organizations' seems weird, I don't know where that comes from.

[2020-10-28 05:49] dcaro commented on #13340
With Az 5.0.0, the behavior of `Connect-AzAccount` is to try to launch the browser of the system to allow the user to perform the authentication to Azure. Unfortunately, in the container or in an SSH session, we cannot automatically launch the browser and the operation fails.

We will update the module to have a more understandable error message inviting to use devicecode authentication in those e

[2020-10-28 08:40] VeryEarly commented on #13066
Hi @nkiest ,

I'll say it is possible to add some specific logic to handle subscription in powershell side:

- get categories for subscription using event categories API

- explicitly convert categories from above API to the type needed by https://github.com/Azure/azure-rest-api-specs/blob/master/specification/monitor/resource-manager/Microsoft.Insights/preview/2017-05-01-preview/diagnosticsSettin

[2020-10-28 09:09] yanxiaodi commented on #13104
@jaspkaur28 Sorry that's my client's account so cannot share with you here. I am in New Zealand. I think it more likely related to the daylight-saving time. Can you reproduce this issue with your account? If not, I guess it's related to the local time zone?

[2020-10-28 12:32] sgiovinetti opened #13350 "Azure Automation Error calling another powershell using Start-AzAutomationRunbook"
## Description
Running the command `Start-AzAutomationRunbook` to call another simple powershell retrieves the error:

[code]

## Steps to reproduce
The caller powershell
[code]
The target powershell (it can be also empty because in any case it is not called)
[code]

## Environment data

[code]

## Module versions

[code]

## Debug output

[code]

## Error output

[code]

[2020-10-28 13:03] fawohlsc commented on #13293
Below stating a workaround until ```Invoke-AzRestMethod``` supports awaiting [async operations](https://docs.microsoft.com/en-us/azure/azure-resource-manager/management/async-operations):

[code]

[2020-10-28 13:05] jberezanski-mdg commented on #13096
Such bugs are notoriously hard to catch in tests, since it would require a huge amount of resources to check behavior on each single culture. On the other hand, static analysis tools are good at finding problematic code. I'd suggest adding [FxCopAnalyzers](https://www.nuget.org/packages/microsoft.codeanalysis.fxcopanalyzers) to this project, because there may be similar issues lurking in other pla

[2020-10-28 13:05] dingmeng-xue commented on #13346
Search team, please evaluate this request.

[2020-10-28 13:58] alexandair commented on #13340
How is the error message (even a better error message) a consistent behavior when in Azure CLI `az login` falls back to devicecode authentication if the default browser couldn't be launched?

[2020-10-28 15:24] #10486 closed

[2020-10-28 15:24] #10558 closed

[2020-10-28 15:40] #11435 closed

[2020-10-28 15:52] felickz commented on #11446
I am on latest AzureADPreview and still get the same @dingmeng-xue

[code]
[code]

[code]

[2020-10-28 16:04] erich-wang commented on #13337
Thanks for reporting the issue. Since Az.Accounts 2.x, the authentication library is changed from ADAL to MSAL, MSAL library and extension is responsible for token cache encryption. We don't expose token cache object because of security concern. However, we also realize that get access token is valid scenario, we plan to add one additional cmdlet Get-AzAccessToken to serve such purpose, and plan t

[2020-10-28 16:10] cschertzmsft commented on #13337
Great to hear that finally that Get-AzAccessToken  will exist.   Wondering if there are details on what it will support.

Also it is nice that this is coming but the current release breaks all existing usage of the TokenCache back to Az 4.3 which is going to cause a bunch of nasty support issues.   Also dont see any release notice to 2.1 with any breaking change notifications.    Not sure how to d

[2020-10-28 17:07] dagoroz commented on #13096
@dingmeng-xue I added the culture info in PR #13343 and it has been merged
I'll close this for now

[2020-10-28 17:07] #13096 closed

[2020-10-28 17:37] brjohnstmsft commented on #13346
FYI @tjacobhi

[2020-10-28 20:12] cobdev commented on #10497
**Requesting that this be re-opened?**

There continues to be a lack of properties returned when comparing "Get-AzureADUser" vs. "Get-AzADUser":

![image](https://user-images.githubusercontent.com/10552026/97491334-3d6a7680-191f-11eb-8029-42e751e05b57.png)

[2020-10-28 21:23] cachai2 commented on #10537
Hey Francisco, thanks for adding. There's a concurrent workstream right now in the CLI for migration. The CLI command is "az functionapp update --plan." It works both ways to allow consumption to premium and vice versa, and we're still working on some of the error messaging. It would be good to sync up and make sure that the powershell and CLI experiences mirror each other.

[2020-10-28 21:45] dineshreddy007 commented on #13337
In our case the work around of using 1.9.5 is not working. We use both Az.Resources and Az.Accounts modules. Az.Resources module(even the older version) seems to be installing and using the latest version of Az.Accounts module by default and version 2.1.0 of Az.Accounts is being picked up in PS Session. Can you suggest a workaround that works with using this along with Az.Resources module?

[2020-10-28 22:03] Francisco-Gamino commented on #10537
Thanks for the follow up @cachai2. I've just sent you a meeting request for tomorrow to sync on this.

Scenario question:
A customer is currently hosting their function app in an app service or Premium plan. Now, the customer would like to move to a  Consumption plan.
How does the user create that consumption plan? Does the Az CLI support creating Consumption plans? If they do, we should support t

[2020-10-28 23:24] msft-jasonparker opened #13353 "*-AzVMDscExtension* cmdlets do NOT honor pipleline input"
## Description
When using any cmdlet for VM DSC Extension, it does not honor pipeline input while the documentation states the parameters do support pipeline.

This issue occurs because the cmdlet is written to accept ValueFromPipelineByName and the VM name passed down via the pipeline is using the "name" property and NOT 'vmname' property.

There are MANY cmdlets that are broken just like this be

[2020-10-29 00:59] dingmeng-xue commented on #13353
Compute team, please help to look into this question.

[2020-10-29 01:06] dingmeng-xue commented on #13350
@sgiovinetti , thanks for reporting. Could you share the versions of Az modules in your automation account?

In addition, I will involve automation team.

[2020-10-29 01:35] erich-wang commented on #13345
@VeryEarly , is the error related to container scenario? I could not reproduce on Windows/Linux.

[2020-10-29 03:37] #12993 closed

[2020-10-29 03:43] dingmeng-xue commented on #13288
I tried Az.Accounts 2.1.0 and cannot reproduce the issue. Please confirm as well.

[2020-10-29 04:45] lolodi commented on #6981
Is there any reason why you are recommending to use Powershell 7:https://docs.microsoft.com/en-us/powershell/azure/install-az-ps?view=azps-5.0.0 when one cannot even log in in Powershell 7?

[2020-10-29 06:02] dingmeng-xue commented on #11446
@erich-wang ， please check if this assembly is required by other Az modules.

@felickz , is it possible to Import AzureADPreview at the first? The interesting thing is I saw below error when I try `Connect-AzureAD`
[code]

[2020-10-29 06:29] dcaro commented on #13340
We prefer to take a deterministic behavior for the connection to Azure over having a similar behavior with az cli. We could re-evaluate based on feedback.

[2020-10-29 06:30] dcaro commented on #13301
@sandeepraichura this is a good feedback. We'll add this shortly.

[2020-10-29 07:38] alexandair commented on #13340
@dcaro 2 years ago, both teams have promised the consistency. How are two different approaches a consistent approach?

Users don't want "a similar behavior".
Users want exactly the same behavior.

If you are bringing SSO in the latest major releases, I don't want to see any differences anymore.

[2020-10-29 08:05] dingmeng-xue commented on #13078
I'm closing it. Please contact us if you meet any issue. Thanks.

[2020-10-29 08:05] #13078 closed

[2020-10-29 08:05] #12487 closed

[2020-10-29 08:10] J0F3 commented on #13078
@dingmeng-xue Yea, seems to be fixed with the version 5.0.0 now.
Thank you!

[2020-10-29 08:14] J0F3 commented on #13029
@edyoung Yes, much better. 😊👍 It think also it ok for now.
Maybe for further improvements there can be a message added that '-UseDeviceAuthentication' should be used instead. Or maybe, if possible, directly fallback to it after the message?

[2020-10-29 10:56] sgiovinetti commented on #13350
@dingmeng-xue
List and versions are in the bug i report again here:

[code]

[2020-10-29 11:10] HansK-p commented on #13340
The main thing for me is that that a container can be easily used for doing Azure related tasks.

It's good if the error message received when running Connect-AzAccount can be used to easily understand what additional parameters must be added - or whatever - in order to do a successful authentication.

This time I was lazy and simply downgraded the image.

[2020-10-29 12:03] dingmeng-xue commented on #13350
@sgiovinetti , I meant whether you can check module installed on your automation account. You can find that information via Azure Portal -> your automation account -> Shared Resources -> Modules.

I created a same runbook but cannot reproduce your problem. I involve Automation team.

[2020-10-29 12:55] Meyers93 commented on #13340
Experienced the same as of today

[2020-10-29 14:02] felickz commented on #11446
By default, Az module gets auto imported. If I force the imports in my PS profile, i get the same error you do.

**profile.ps1**
[code]
[code]

Further in Azure Devops task - ["Az Powershell"](https://docs.microsoft.com/en-us/azure/devops/pipelines/tasks/deploy/azure-powershell?view=azure-devops)  the Az Modules are imported manually for you, so same issue persists there.

Also, there have been de

[2020-10-29 15:11] samme78 opened #13359 "No default context and cannot select a new one"
## Description
 I cannot connect to my azure account with the 'Connect-AzAccount' command. I get an error message saying the default context cannot be found. Basically all AZ commands return the same error message.

## Steps to reproduce

I do not remember the exact steps I took to end up in this state but they were similar to this:

1. I connected to an AZ account I have not used before (in the s

[2020-10-29 15:26] samme78 commented on #13359
I was also in the process of moving my Visual Studio subscription from the old to the new account. So the first time I signed in to the new account I may not have had a subscription yet.

[2020-10-29 16:11] gerrylaenen opened #13360 "Az PowerShell Module: Configuration of Azure AD Application (App Registration)"
## Description of the new feature
Hi,

I would like to configure the following parameters for App Registration through the Az PowerShell module:
- API Permissions
- Implicit grants (ID Tokens & Access Tokens)

Thanks in advance

## Proposed implementation details (optional)

[2020-10-29 16:46] asheniam commented on #12177
@brettmillerb - Did delete diagnostic settings work?  Is there a recent repro of this issue?

[2020-10-29 16:46] vijosema opened #13361 "Connect-AzAccount is hanging"
## Description
On issuing  Connect-AzAccount, post verification of login, it stays hanging without any progress

## Cost
Node validation is blocked.

[2020-10-29 16:48] brettmillerb commented on #12177
Yes I had to delete the diagnostic settings entirely rather than turn them off.

I've not tried to repro since.

[2020-10-29 16:55] DevOpsGeek1 commented on #13134
Team @dingmeng-xue @wyunchi-ms  I am facing exactly same issue that its still looking for json file though we specify the parameters for SP.

[2020-10-29 17:19] compumaster commented on #13298
V3.0.0 fixes the issue.

[2020-10-29 17:19] #13298 closed

[2020-10-29 18:25] Drewm3 commented on #13211
Hi @stephenwheet, I can share a bit more on this because I was in the team back in the days when GetVM for VMs under Azure Resource Manager was first implemented. As you can see from the actual API response the OS type is part of the StorageProfile structure in the API response. The PowerShell objects for Azure Compute always map to the REST API response. So that means the OsType is in a sub-objec

[2020-10-29 18:25] #13211 closed

[2020-10-29 18:31] SarveshPandey commented on #13325
Here is the PowerShell script I used

$connectionName = "AzureRunAsConnection"
$servicePrincipalConnection=Get-AutomationConnection -Name $connectionName         
    "Logging in to Azure..."
    Add-AzAccount `
        -ServicePrincipal `
        -TenantId $servicePrincipalConnection.TenantId `
        -ApplicationId $servicePrincipalConnection.ApplicationId `
        -CertificateThumbprint $serv

[2020-10-29 18:52] amjads1 commented on #13353
Looking into the issue.

[2020-10-29 19:03] andrewliu0612 opened #13364 "AzRoleAssignment throw "Object reference not set to an instance of an object." error"
## Description
Last week, with the help from Az.Resources oncall, I uninstalled all az.resources module and installed version 2.4.0. The cmdlet New-AzRoleAssignment -RoleDefinitionName  -ObjectId  -Scope worked fine for me.
This week, I think I uninstalled Az module for some reason. But when I re-install it and try the role assignment again, it throws the exception "Object reference not set to an

[2020-10-29 19:24] bawoodruff opened #13365 "Az.Network: Setting Managed RuleGroupOverride results in ApplicationGatewayFirewallUnknownRuleGroup error"
## Description
Setting Managed RuleGroupOverride results in ApplicationGatewayFirewallUnknownRuleGroup error

## Steps to reproduce

[code]
## Error Response
[code]

## Environment data

[code]

## Module versions

[code]

## Debug output

[code]

## Error output

[code]

[2020-10-29 20:36] bawoodruff commented on #13365
User error -- wrong group name, should be REQUEST-920-PROTOCOL-ENFORCEMENT

[2020-10-29 20:36] #13365 closed

[2020-10-29 21:11] dcaro opened #13366 "Update Az.Keyvault module to support new version of SecretManagement module"
## Description of the new feature
Need to update Az.Keyvault to reflect the breaking changes introduced by preview 3:

Further details about the changes here:
https://devblogs.microsoft.com/powershell/secretmanagement-module-preview-design-changes/
https://devblogs.microsoft.com/powershell/secretmanagement-preview-3/

[2020-10-29 21:57] nkiest commented on #13066
@asheniam Any input on how categories gets returned?
CLI team did some version of the first set of logic, so we thought we were good here.

[2020-10-29 22:02] filizt opened #13367 "Token not refreshed during long running deployments"
## Description
Account token not refreshed during long running deployments using deployments cmdlets such as New-AzResourceGroupDeployment. After an hour, we get a 401 as the deployment polls for deployment status and cmdlet throws. This seems to be regression in Az module v 5.0.0.

## Steps to reproduce
1) Login using Connect-AzAccount with your credentials
2) Start a deployment using New-AzResou

[2020-10-29 22:27] Jyotsna-Anand opened #13368 "Remove-AzVmssDataDisk does not work if there is only 1 data disk attached to VMSS"
## Description
I noticed an issue with the Remove-AzVmssDataDisk cmdlet. The cmdlet works fine when there are multiple data disks attached to a VMSS. But when the disk I’m trying to delete is the ONLY data disk attached to the VMSS, the cmdlet does not throw an error but the deletion is never actually performed. I have been using the below set of commands to remove the data disk.

The same scenari

[2020-10-30 01:35] ChrisAtRelativity opened #13370 "Release of Az.Accounts 2.1.0 violates Major Version Semantic Versioning rules for Az 4.*, Az 3.*"
## Description

Az 5.0.0 major version release includes the new major version release of Az.Accounts 2.1.0 with [breaking changes](https://github.com/Azure/azure-powershell/releases/tag/v5.0.0-October2020).

Az [4.8.0](https://www.powershellgallery.com/packages/Az/4.8.0) and [3.8.0](https://www.powershellgallery.com/packages/Az/3.8.0) will absorb the major version breaking changes of Az.Accounts 2

[2020-10-30 01:38] ChrisAtRelativity commented on #13370
One possible resolution to this issue would be to release new PATCH versions of Az 3 and Az 4 with Az.Accounts pinned to 1.*, which would resolve this issue for new installs of previously released versions of these major versions.

[2020-10-30 02:05] erich-wang commented on #13367
@filizt , thanks for reporting the issue. Could you please share your template that takes more than hour to complete?

[2020-10-30 02:55] pragnagopa opened #13371 "User-assigned managed identity regression in Az.Accounts 2.1.0"
Before Az.Accounts **2.1.0**, user-assigned managed identities could be used in PowerShell Functions like this:

[code]

Starting from Az.Accounts **2.1.0**, the same code reports the following error:

[code]

Please see for more details: https://github.com/Azure/azure-functions-powershell-worker/issues/552

[2020-10-30 03:20] vicperdana commented on #8659
Can we use Test-AzLogicApp instead?

[2020-10-30 03:59] dingmeng-xue opened #13372 "Storage account Standard_GZRS and RAGZRS not recognized as a Skuname"
## Description of the new feature

We need to add new API version of Storage into common code. API version should be 2019-06-01.

https://github.com/Azure/azure-powershell-common/tree/master/src/Storage.Management

## Proposed implementation details (optional)

[2020-10-30 04:06] bganapa opened #13373 "[AzureStack]Get-AzureRMResource does not return the existing resource with -ResourceId parameter"
## Description

Get-AzureRMResource does not return the existing resource with -ResourceId parameter. Querying with ResourceType/Resourcename parameter set works

This is happening in AzureStack specific AzureRM.Resources module version 6.4.3

## Steps to reproduce

[code]

## Module versions
AzureRM.Resources - 6.4.3 (AzureStack version)

## Debug output

[code]

## Workaround
Use ReoruceType and

[2020-10-30 04:07] bganapa commented on #13373
We are goign to verify whether it reproes with Az and then we can decide whether we need to fix this or not. I am leaning towards not to fix especially when there is a workaround

[2020-10-30 04:58] isra-fel opened #13374 "Sign 3rd party dll"
## Description
TimeZoneConverter used by RecoveryService was not signed. We need to add it to the list in ADO.

Need to add its license as well (MIT)

https://www.nuget.org/packages/TimeZoneConverter/
## Cost
1

[2020-10-30 06:55] fuglphoenix commented on #13288
@dingmeng-xue I can comfirm that it is now working

[2020-10-30 11:07] DevOpsGeek1 commented on #13134
I found that there is bug in the code that
So, the PowerShell wrapper doesn’t seem to be decoding the secure string – literally passing “System.Security.SecureString” as the password value. Checking the cmdlet source code, this seems to be exactly the case:
https://github.com/Azure/azure-powershell/blob/c3780dc9a63c7a76d5e2aa963d0bb599d58d71ee/src/Aks/Aks/Commands/NewKubeBase.cs
[code]

[2020-10-30 11:08] DevOpsGeek1 commented on #13134
I Guess code shoud be updated something similar to below
[code]

[2020-10-30 12:41] PaulVrugt commented on #13029
Is there any documentation about what the changes in `Connect-AzAccount` are? with Az.Account 2 or higher, I cannot login using `Connect-AzAccount` anywhere anymore. Locally it opens a dialog in which I can login. After login, I get messages stating `unable to acquire token for tenant xxx`, and all azure powershell methods fail.

On function apps, I can no longer use `Connect-AzAccount` to connect

[2020-10-30 13:20] KacperMucha commented on #13359
I've got the same issue. But in my case, the problems started after updating Azure Powershell to the newest version.

[2020-10-30 14:46] ArmaanMcleod commented on #13368
I can confirm the same behaviour version 4.7.0. Seems like this is a bug.

[2020-10-30 14:47] edyoung commented on #13029
@PaulVrugt that sounds concerning! I think you're seeing something different than reported in this issue so I'd suggest creating a separate top-level bug for this so it doesn't get lost.

I know the underlying auth library used has switched to MSAL but don't personally know the answers to your questions

[2020-10-30 15:32] PaulVrugt commented on #13029
@isra-fel can you confirm [my issue](https://github.com/Azure/azure-powershell/issues/13029#issuecomment-719529312) is something different? I seems very similar to the reported issue

[2020-10-30 15:51] vsashidh commented on #10620
Wondering if it has been decided which milestone this feature will be added to so as to determine when this feature will be available for general public?

[2020-10-30 18:27] PaulVrugt opened #13376 "After updating to 5.0 Connect-AzAccount is not working properly anymore"
## Description

Is there any documentation about what the changes to Connect-AzAccount are? with Az.Account 2 (Azure powershell 5.0) or higher, I cannot login using Connect-AzAccount anywhere anymore. Locally it opens a dialog in which I can login. After login, I get messages stating unable to acquire token for tenant xxx, and all azure powershell methods fail.

On function apps, I can no longer u

[2020-10-30 19:43] rjaini opened #13377 "Add-AzEnvironment doesn't expose ContainerRegistryEndpointSuffix parameter to update"
Install Az module using below commands on Azure Stack Hub env:

Install-Module -Name Az.BootStrapper -Force -AllowPrerelease
Install-AzProfile -Profile 2019-03-01-hybrid -Force
Install-Module -Name AzureStack -RequiredVersion 2.0.2-preview -AllowPrerelease

Now trying to add ContainerRegistryEndpointSuffix parameter in Add-AzEnvironment but no parameter is exposed to set registry value.

Get-help

[2020-10-30 21:47] sdecker commented on #11473
@VeryEarly Can we please reopen this? I can screenshare and show you the issue. This also affects Get-AzDiagnosticSetting. Both need to know how to deal with the subscription scope.

[2020-10-30 22:28] bganapa opened #13378 "[AzureStack] Better error when user fails to provide -Tenant parameter"
Update details here

[2020-10-31 02:53] DiscoveringWorld opened #13379 "Bug with New-AzFunctionApp when created on Azure Gov"
Hello,
I logged with Connect-AzAccount -Environment AzureUSGovernment
I created a storage on USGov Virginia.
After I tried to create an new function app with New-AzFunctionApp.
This command failed with The server responded with a Request Error, Status: BadRequest.

When I check the debug details its show that on the server side it try to use the public endpoint of the storage and not the azure gov

[2020-10-31 03:28] VeryEarly opened #13382 "Context has null for ContainerRegistryEndpointSuffix"
## Description
after `connect-azaccount`, "ContainerRegistryEndpointSuffix" has valid value for defualt subscription,
But after switch to another subscription
`set-azcontext -subscriptionId $otherSubscriptionId`
it has "ContainerRegistryEndpointSuffix":null

## Steps to reproduce

[code]

## Environment data

[code]

## Module versions

[code]

## Debug output

[code]

## Error output

[code]

[2020-10-31 10:48] SolidRockProgrammer commented on #13359
I installed latest powershell and azure versions, logged in with one azure account, then could not log off then login with second azure account

[2020-10-31 11:49] fbuser1 opened #13383 "New-AzDataFactoryV2LinkedServiceEncryptedCredential couldn't find assembly"
I've an issue with latest (5.0) Az modules:

New-AzDataFactoryV2LinkedServiceEncryptedCredential -DataFactoryName "xxx-eus" -ResourceGroupName "xxx" -IntegrationRuntimeName "xxx" -DefinitionFile ".\sql.json" -Force

New-AzDataFactoryV2LinkedServiceEncryptedCredential : **Could not load file or assembly 'System.ServiceModel.Primitives, Version=4.7.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a

[2020-10-31 15:45] SarveshPandey commented on #13325
did you get anything?

[2020-11-01 07:41] dingmeng-xue commented on #13361
@vijosema , thanks for reporting. Please provide detail information from root analysis.

Which version of Az.Accounts are your using? what authentication type are you using? Please try `$PSVersionTable` to get detail information about system.

[2020-11-01 07:54] dingmeng-xue commented on #13359
@samme78, thanks for reporting. could you please try to `Connect-AzAccount` after you `Clear-AzContext`?

[2020-11-01 07:54] dingmeng-xue commented on #13359
@SolidRockProgrammer , are you meeting the same problem described by @samme78 ?

[2020-11-01 07:59] dingmeng-xue commented on #13364
Include resource management team to look into this issue.

[2020-11-01 09:02] dingmeng-xue commented on #13376
@PaulVrugt , thanks for reporting.

Since Az.Accounts 2.1, we replaced Azure Directory Authentication Library with Microsoft Authentication Library(MSAL) for authentication. We have found couple issues. One of them are related to MSI user account. We are working it and will provide update soon.

[2020-11-01 09:36] dingmeng-xue commented on #13370
Thanks for reporting. All az modules require the latest version of Az.Accounts. It is default behavior from the beginning. We have to release new Az.Accounts with major version this time because:
1. MS authentication library is a major change on authentication even it is not introduce breaking change.
2. One critical issue due to one historical issue in all old az modules which was fixed by #12356

[2020-11-01 09:44] dingmeng-xue commented on #13383
@fbuser1, thanks for reporting. This file should come from the latest Az.Accounts. Please share your loaded assemblies after `New-AzDataFactoryV2LinkedServiceEncryptedCredential` via below scripts
[code]

[2020-11-01 09:58] SolidRockProgrammer commented on #13359
running Clear-AzContext resolved my issue

[2020-11-01 09:58] SolidRockProgrammer commented on #13359
I thought so

[2020-11-01 10:03] jaspkaur28 commented on #13240
@sridharktm @Mattheww65 @larsthelord Can you pls share more details : error message , jobId, automation account ID etc , so we can check out backend on the failure. Would you great if one of you can share the sample runbook code for us to debug .

[2020-11-01 12:17] fbuser1 commented on #13383
Version          : 5.1.17763.1490

2.1.0                Az.Accounts                         PSGallery            Microsoft Azure PowerShell - Accounts credential management cmdlets for Azure Resource Manager in Windows PowerShell and PowerShell Core....

GAC    Version        Location
---    -------        --------
True   v4.0.30319     C:\Windows\Microsoft.NET\Framework64\v4.0.30319\mscorlib.dll

[2020-11-01 20:01] martingbrown commented on #10256
I don't suppose anyone has a work around for this until it's implemented? I tried polling like below but it doesn't work because the status can be things other than `InProgress` before it completes. For example it can be `Running, Progress = 5.00 %`

[code]

[2020-11-02 01:07] ramirezalfredo commented on #13337
Tried to downgrade to Az.StackHCI 0.2.0 instead of 0.3.0 and surprise! It gets the latest Az.Accounts 2.1.0. I've been trying to evaluate Azure Stack HCI and no luck at the latest step:

[code]

And this happens right after you set 4 or 5 VMs and like I said, it's the latest step to see the thing working!

[2020-11-02 02:06] wenbof commented on #13264
PartitionOption does not support working with parameterized value at present. We are working on the enhancement. Thanks.

[2020-11-02 02:13] dcaro commented on #13376
@PaulVrugt we are working on those issues with the highest priority.
In the meantime, can you take a dependency on Az 4.8 as described on this page:
https://docs.microsoft.com/en-us/azure/azure-functions/functions-reference-powershell?tabs=portal#dependency-management

[2020-11-02 02:26] erich-wang commented on #13376
@PaulVrugt , please follow the following steps to workaround:
1. Update requirements.psd1
Replace the line below
[code]
with
[code]

2. Update profile.ps1
Add one line `Import-Module Az.Accounts -RequiredVersion 1.9.5` before any other Azure PowerShell cmdlets, e.g.
[code]

3. Restart your function app

[2020-11-02 05:21] dingmeng-xue commented on #13379
Functions team, please help to look into this question.

[2020-11-02 06:25] isra-fel commented on #13029
Thanks @edyoung and @J0F3 for your responses ^_^
Now that @PaulVrugt has reported #13376 for the managed identity issue, I think we can close this one.
BTW we'll make the error message more firendly in next release :)

[2020-11-02 06:25] #13029 closed

[2020-11-02 07:29] ArmaanMcleod commented on #10203
I am also getting `Get-AzConsumptionUsageDetail: Operation returned an invalid status code 'BadRequest'`.

If I run in debug mode it gives me this return body:

[code]

Which seems to indicate that my subscription is not supported.

[2020-11-02 07:50] erich-wang commented on #13376
We've just released on updated version Az.Accounts 2.1.1 to fix this issue. You should not see this issue anymore if creating new Function App; for existing Function App, please follow steps below if you still see the issue:
1. Update requirements.psd1
Replace the line below
[code]
with
[code]
2. Restart your function app

[2020-11-02 07:59] erich-wang commented on #13371
Sorry for the inconvenience caused by the issue, please follow the comment https://github.com/Azure/azure-powershell/issues/13376#issuecomment-720301429.

[2020-11-02 08:00] erich-wang commented on #13371
Close as it is duplicate with #13376

[2020-11-02 08:00] #13371 closed

[2020-11-02 08:02] erich-wang commented on #13367
@filizt , the issue has been addressed in Az.Accounts 2.1.1, could you please have a try?

[2020-11-02 08:03] erich-wang commented on #13345
The issue happens only if delete .Azure folder after importing Az.Accounts, it is corner case so move to Backlog

[2020-11-02 08:20] erich-wang commented on #13340
Thanks for your patience and suggestion.
As the first step, Az.Accounts 2.1.1 was just released to display clearer message to ask user use -DeviceCode switch instead.
Meanwhile, we're investigating about falling back to device code automatically. One concern is auto falling back was not provided in Az.Accounts 2.0.1-preview version and there's no feedback for it. We need understand which one is be

[2020-11-02 08:28] erich-wang commented on #13337
@ramirezalfredo , could you please try the following steps to use 0.2.0:
1. Restart PowerShell
2. Install and import Az.Accounts 1.9.5
[code]

[2020-11-02 08:29] erich-wang commented on #9298
Close the issue as it has been implemented by Lei

[2020-11-02 08:29] #9298 closed

[2020-11-02 08:31] erich-wang commented on #9886
Close as it is done

[2020-11-02 08:31] #9886 closed

[2020-11-02 08:36] dingmeng-xue commented on #13288
Thanks for confirmation. Please contact us if you have further question.

[2020-11-02 08:36] #13288 closed

[2020-11-02 09:25] DevOpsGeek1 commented on #13134
Can some one look into this or acknowledge at least. @dingmeng-xue @wyunchi-ms

[2020-11-02 10:15] KacperMucha commented on #13359
In my case Clear-AzContext didn't work. Whatever command I try to use I either get:
[code]

[2020-11-02 10:16] PaulVrugt commented on #13376
@erich-wang thanks for the workaround, I can confirm that it works. I'll try the updated version (2.1.1) later

[2020-11-02 10:49] aim-for-better opened #13391 "[ServiceFabric][Question] The term 'Connect-ServiceFabricCluster' is not recognized as the name of a cmdlet"
## Description
I have installed the module Az.ServiceFabric, but when I run Connect-ServiceFabricCluster cmdlet, I met the bellow error
The term 'Connect-ServiceFabricCluster' is not recognized as the name of a cmdlet
![image](https://user-images.githubusercontent.com/12733681/97860049-7306c980-1d3c-11eb-8e56-baed60400991.png)

## Steps to reproduce

[code]

## Environment data

[code]

## Module

[2020-11-02 11:25] samme78 commented on #13359
I also get the error when running Clear-AzContext. And I cannot do Connect-AzAccount afterwards.

[code]

[2020-11-02 11:36] rodolfograve commented on #13346
This is badly affecting us. It effectively renders our policy useless as a governance tool because it allows teams to create Azure Cognitive Search instances that do not comply with our policies, only by using PowerShell Az to create them.

Just fixing the PowerShell Az module will not be enough, thought. The ARM endpoint that is being targetted also needs to be updated so that there is no way to

[2020-11-02 11:49] Scarlettliuyc commented on #13346
hi @tjacobhi please check about issue, it's like not only me met it. thanks

[2020-11-02 11:49] spaelling commented on #13376
I am still getting the same error on Azure Functions with 2.1.1

[code]

the function app is running from a package which means that wwwroot is write protected. My understanding is that this is for caching only, hence the code should not crash just because it is unable to write this directory.

[2020-11-02 12:39] spaelling commented on #13370
Az.Accounts 2.1 does not work with Azure Functions. That is a pretty big deal. See #13376

[2020-11-02 13:07] erich-wang commented on #13376
@spaelling, could you please call the following cmdlet to workaround:
[code]

[2020-11-02 13:09] erich-wang commented on #13370
@spaelling, could you please call the following cmdlet to workaround:
[code]
We're going to address it in next minor release.

[2020-11-02 13:32] erich-wang commented on #13359
@samme78, @KacperMucha , could you please manually delete files `.Azure\AzureRmContext.json` and `.Azure\AzureRmContextSettings.json` under your user profile folder, normally your profile folder would be:
1. Windows: c:\users\yourname\
2. Linux: /home/yourname/

[2020-11-02 13:38] gerrylaenen commented on #13360
Hi @dingmeng-xue , yes currently I sideload the AzureAD module. I am using the Set-AzureADApplication cmdlet to set the resource access and the cmdlet New-AzureADServiceAppRoleAssignment to grant the resource access.

Unfortunately, sideloading in compatibility mode gives some extra troubles... So I have extracted all AzureAD functions in a separate module which I then load in compatiblity mode. S

[2020-11-02 14:41] filizt commented on #13367
Thanks, @erich-wang. I'll test the scenario today.

[2020-11-02 14:53] samme78 commented on #13359
@erich-wang

It worked, after deleting `.Azure\AzureRmContext.json` and `.Azure\AzureRmContextSettings.json` I can once again run Connect-AzAccount.

Thank you

[2020-11-02 15:21] spaelling commented on #13376
This happens already at 'Import-Module Az.Accounts'. I just tested with below

[code]
in a `run.ps1`

and `requirements.psd1` is simply

[code]

[2020-11-02 15:36] DiscoveringWorld commented on #13379
Hello
it,s not juste a question, it's a bug. The New-AzFunctionApp  does not try to search the storage name on the Azure Gov side, it's tring to search for the storage on a public commercial side. It should never try t search on public commercial side when used on Azure gov side.

[2020-11-02 15:51] KacperMucha commented on #13359
At first, after removing the files, I got:
[code]
when I tried to reconnect. But then I tried Clean-AzContext and Connect-AzContext again, and I was able to run other commands too. One remark though. The test that succeeded was a bit different the previous ones. Earlier I was connecting with Connect-AzAccount -UseDeviceAuthentication -Scope Process, and this time I used only Connect-AzAccount with

[2020-11-02 17:00] filizt commented on #13367
@erich-wang I tested the new Az.Accounts module and the issue has been fixed. Thanks!

[2020-11-02 17:17] MonikaReddy-MSFT commented on #13124
Raised an ICM ticket here - https://portal.microsofticm.com/imp/v3/incidents/details/212104338/home

[2020-11-02 21:34] sredman commented on #10256
@martingbrown , would it work for you to inspect the terminal states instead of trying to inspect the processing state? Your polling might be simplified because you would only need to handle "Succeeded" as the status value. If there were an error, it would return an error and you'd be able to handle it as necessary for your situation (in my experience, the best way to test an error is to use a wro

[2020-11-02 22:09] jssimpkins commented on #13359
delete files .Azure\AzureRmContext.json and .Azure\AzureRmContextSettings.json worked for me.

Thank you.

[2020-11-02 23:35] suhasaraos commented on #11786
This issue still exists with AZ module 5.0 - looks like a cmdlet issue. A Fiddler capture reveals that the REST response has the required information.

GET /subscriptions/8c98d9ee-59e7-4a29-a204-2e7c8471fda1/resourcegroups/appservice_demo_rg/providers/microsoft.insights/autoscalesettings?api-version=2015-04-01 HTTP/1.1

![image](https://user-images.githubusercontent.com/16950822/97930679-0b925d80-

[2020-11-03 00:11] dcaro commented on #12406
@luckerby we released recently a new module that may help your uninstallation issues.

The following article will guide you:
https://techcommunity.microsoft.com/t5/azure-tools/introduction-to-az-tools-installer/ba-p/1697622

[2020-11-03 01:27] tadomsft commented on #13337
I was using the (Get-AzContext).TokenCache.ReadItems() to then test the ExpiresOn to determine if the token is now expired and then force the user to log back in.  Is there a better way from Get-AzContext to know if we need to sign back in again?

[2020-11-03 04:46] erich-wang commented on #13376
@spaelling , could you please follow the [workaround](https://github.com/Azure/azure-powershell/issues/13376#issuecomment-720202143) first? I'm working on the fix and will update you if any progress.

[2020-11-03 06:03] LukeDearden commented on #11446
I ran into the issue with Connect-AzureAD, Az.Accounts and PS 7

I found that using `Import-Module AzureAD -UseWindowsPowerShell` got rid of the assembly issue.

I now have a different issue with New-AzureADApplication which doesn't happen in PS 5.1

[code]

[2020-11-03 06:21] dingmeng-xue commented on #11446
@LukeDearden , is `New-AzureADApplication` issue related to Az.Accounts? What's the step to reproduce this issue?

[2020-11-03 06:28] LukeDearden commented on #11446
Hi,
New-AzureADApplication is related to AzureAD. I wasn't really looking for assistance with this new problem. Just wanted to share my workaround for using Connect-AzureAD with Az.Accounts

[2020-11-03 07:44] spaelling commented on #13376
The workaround with 1.9.5 works fine!

[2020-11-03 07:49] o-l-a-v commented on #13178
Sorry for late reply. It happens randomly, and next run 30 minutes later it usually works again. So not feasible to sit on standby until it happens again. I could maybe add the GET API call to the runbook using token from Get-AzContext, hmm. But don't think I'll get an aproval on doing that for the sake of troubleshooting only.

We've now just scripted a workaround, so now I will not even get aler

[2020-11-03 08:05] o-l-a-v opened #13400 ""Connect-AzAccount -TenantId" - Add ability to use any verified domain instead of just GUID"
## Description of the new feature

Please add the ability to use any verified domain when connecting using ```Connect-AzAccount -TenantId```.

Currently, if you specify a delegated domain, you'll get prompted for authentication twice and end up in your own tenant.

* If you supply tenant id of the delegated tenant on the other hand, you are right in.
* If you supply a verified domain even though i

[2020-11-03 08:40] o-l-a-v commented on #13337
Workaround to get token after Connect-AzAccount

[code]

Resources

* 200113 - "USING PIPELINE IDENTITY FOR CONNECT-AZUREAD, GRAPH AND OTHER ENDPOINTS"
https://www.lieben.nu/liebensraum/2020/01/using-pipeline-identity-for-connect-azuread-graph-and-other-endpoints/

* 180510 - "HOW TO GRANT OAUTH2 PERMISSIONS TO AN AZURE AD APPLICATION USING POWERSHELL UNATTENDED / SILENTLY"
https://www.lieben.nu/l

[2020-11-03 12:27] DrReedo commented on #12563
I'm assuming this has not been implemented in the Az.Websites module yet?

[2020-11-03 13:43] AmrutaKawade commented on #13117
We have fixed this issue from AzureDevOps Task side by setting PersistKeySet while importing certificate. closing this issue

[2020-11-03 13:43] #13117 closed

[2020-11-03 14:57] dingmeng-xue commented on #13400
@o-l-a-v , thanks for suggestion. I have tried the latest code and current logic is

- if tenant id is not provided, Az.Accounts will call https://management.azure.com/tenants?api-version=2019-06-01 to get all available tenants
- If tenant id is provided, Az.Accounts will login use teantId directly.

I didn't see "prompted for authentication twice". Could you clarify further?

[2020-11-03 15:06] dingmeng-xue commented on #13391
@aim-for-better , thanks for reporting.  The latest ServiceFabric doesn't contain this cmdlet https://www.powershellgallery.com/packages/Az.ServiceFabric/2.2.0.

Please share where this cmdlet is mentioned.

[2020-11-03 15:32] ChrisAtRelativity commented on #13370
@dingmeng-xue also see [#552](https://github.com/Azure/azure-functions-powershell-worker/issues/552) for powershell worker.

But also, please recognize that semantic versioning of the Az module is a "contract". The expectation that I and most developers would have is that minor version updates to Az do not violate that "contract" for the API and other breaking changes for the _submodules contained

[2020-11-03 15:40] michaelpace-tnt opened #13405 "Breaking change New-AzSubscription has been removed in version 5.0.0"
## Description
Undocumented breaking change has been introduced into version 5.0.0 from 4.8.0.

The New-AzSubscription command has been removed from the Az.Subscription.

A new command New-AzSubscriptionAlias has been in added where the only mandatory parameter AliasName but the purpose of command is not fully documented and does not cover requirements of New-AzSubscription

## Module version

Az.

[2020-11-03 16:34] piotr-penar-dhsc commented on #13405
+1
it looks like the change between Az. Subscription 0.8.0 and 0.7.3 removed New-AzSubscription.

[2020-11-03 16:52] o-l-a-v commented on #13400
After update to Az.Account 2.1.2, I do not get prompted twice for authentication anymore. ADAL -> MSAL maybe?
Anyways, the problem still persist:

* If I ```Connect-AzAccount -Tenant $VerifiedDomainOnDifferentTenant -Subscription $SubscriptionIdOnDifferentTenant``` I get an error saying that I don't have access to specified subscription from the tenant of the user I'm logging in with. Which indica

[2020-11-03 19:40] bganapa opened #13406 "Support loading of Az module from any file path"
## Description

Right now the Az module load is supported if it gets installed in $env:psmodulepath

if the Az modules are installed in $env:psmodulepath, the users can simply do Import-Module Az to load the all the Az modules, However the following is not possible to do the following

Save-Module -Name Az -Path C:\AzModules -Force
Import-Module c:\AzModules\Az

It is not possible to have AzureRM

[2020-11-03 20:02] dereklegenzoff commented on #13346
Hi @rodolfograve and @Scarlettliuyc - I apologize for the delay on this. We will work to get this fixed. I'll reply back when I have a better update for you.

[2020-11-03 20:05] mwsutherland commented on #13376
I'm seeing a different error message with v2.1.2 (let me know if it is so different as to need its own issue)
If I revert back to v1.9.5, things are fine.

[code]

[2020-11-03 21:27] dereklegenzoff commented on #13346
@rodolfograve - could you provide some additional details on how you've configured your policy? An enforced policy should look for a property to be set on the service.  If you use an older version of the API, Powershell included, I’d expect the create to fail since the property doesn’t exist.

[2020-11-03 22:46] CharbelHanna commented on #9547
Hello,
we still did not get an update on this, the az.blueprint module is still missing the ability to remove a blueprint definition, anything planned for the future?

[2020-11-04 02:39] erich-wang commented on #13376
@mwsutherland, could you please help to [create new issue](https://github.com/Azure/azure-powershell/issues/new?assignees=&labels=needs-triage&template=az-module-bug-report.md&title=) and follow issue pattern to provide detail info? Thank you in advance.

[2020-11-04 04:50] erich-wang commented on #13367
Closed this issue as it has been fixed in 2.1.2

[2020-11-04 04:50] #13367 closed

[2020-11-04 05:23] dingmeng-xue commented on #13405
Az.Subscription is still under preview and not wrapped by Az.

I involve Subscription team to clarify it further.

[2020-11-04 09:08] PaulVrugt commented on #13109
@Kotasudhakarreddy any news on the Powershell commands?

[2020-11-04 10:28] promm1983 opened #13418 "WebApp:Get-AzWebApp returns 404"
## Description
After upgrade to the latest version of Az (5.0.0) and Az.Websites(2.0.0), command Get-AzWebApp returns 404 in some of Resource Groups.
This is working correctly for older version of Az.Websites (tested on 1.11.0)

## Steps to reproduce

[code]

## Environment data

[code]

## Module versions

[code]

## Debug output

[code]

## Error output

[code]

[2020-11-04 11:10] rventurelli commented on #8371
@cadams84 it worked also for SourceAddressPrefix:
[code]

[2020-11-04 11:55] dingmeng-xue commented on #13418
Include service team. I can reproduce this error message once specified resource group is not existing

[2020-11-04 12:19] promm1983 commented on #13418
I'm getting this error for existing one RG with web app inside.
As I wrote this is only for some RGs, not for every.
The same exactly code works with older version

[2020-11-04 13:12] promm1983 commented on #13418
Last successful call in my pipeline was on 10.26 , so it is  almost sure that this is because of the update to the newest version

[2020-11-04 13:56] mwsutherland commented on #13376
I will do so

[2020-11-04 14:24] Raghav0499 commented on #11473
can you please share the screenshots?

[2020-11-04 16:18] mwsutherland opened #13419 "Connect-AzAccount v2.1.2 errors with WriteObject and WriteError method error"
## Description

When calling Connect-AzAccount with no parameters, I get the following warning and error:

[code]

If I revert back to Az.Accounts v1.9.5, it works.

## Steps to reproduce

(Uninstall-Module for all Az.* modules/versions)
[code]
(get error)

In case it is relevant, without the -AllowClobber, I get the following error:
[code]

## Environment data

[code]

## Module versions

[code]

[2020-11-04 16:28] apclouds commented on #10838
Sorry for the confusion, the question was around other scenarios/issues similar to this outside of the Blueprint cmdlet

[2020-11-04 19:10] Francisco-Gamino commented on #13379
@DiscoveringWorld  -- Thank you for reporting this issue.

I need more information to understand if the error is coming from client (the cmdlet) or the backend (the Functions service).

A couple of questions:
Could you please run the `New-AzFunctionApp` cmdlet with the `-WhatIf` switch? After doing this, what output do you get?
Are you able to create the function app via the Azure Portal or Az CLI

[2020-11-04 19:16] Francisco-Gamino commented on #10756
cc: @stefanushinardi @anirudhgarg

[2020-11-04 19:21] Francisco-Gamino commented on #12134
This issue is caused by the infrastructure that Az.Functions run on. This issue is being tracked by https://github.com/Azure/azure-powershell/issues/12896.

[2020-11-04 19:23] Francisco-Gamino commented on #12284
This issue has been fixed in Az.Functions version 2.0.0 (https://www.powershellgallery.com/packages/Az.Functions/2.0.0).

cc: @stefanushinardi @anirudhgarg

[2020-11-04 19:23] #12284 closed

[2020-11-04 19:24] Francisco-Gamino commented on #12560
This issue has been fixed in Az.Functions version 2.0.0 (https://www.powershellgallery.com/packages/Az.Functions/2.0.0).

[2020-11-04 19:24] #12560 closed

[2020-11-04 19:25] Francisco-Gamino commented on #12612
This issue has been fixed in Az.Functions version 2.0.0 (https://www.powershellgallery.com/packages/Az.Functions/2.0.0).

[2020-11-04 19:25] #12612 closed

[2020-11-04 19:26] Francisco-Gamino commented on #12728
This issue has been fixed in Az.Functions version 2.0.0 (https://www.powershellgallery.com/packages/Az.Functions/2.0.0).

cc: @stefanushinardi @anirudhgarg

[2020-11-04 19:26] #12728 closed

[2020-11-04 21:18] Francisco-Gamino commented on #13315
Hi @jmagosta -- Thank you for reporting this issue. We will look into this.

cc: @stefanushinardi @anirudhgarg

[2020-11-04 22:57] dcaro commented on #12266
@asears, @VladimirKhvostov we have released version 3.0.0 of Az.KeyVault that address this issues.
https://www.powershellgallery.com/packages/Az.KeyVault/3.0.0

[2020-11-04 23:04] jermarti commented on #11896
I just had something i believe is related to this happen on a scale set that's a couple weeks old. After updating the VMSS image via this command the caching value was set read / write, but the VMSS is configured for ephemeral disks so they broke given the ephemeral requirement for read only caching. Setting it back to read only in the portal did fix the issue, though it throws a big wrinkle in ou

[2020-11-05 00:08] Francisco-Gamino commented on #10756
Hello @dingmeng-xue and @dolauli -- Is there an update on this investigation? Let us know if you need if you need anything from our side. Thanks.

[2020-11-05 00:12] Francisco-Gamino commented on #10998
Hello @stefanushinardi -- Please keep track of this item to enable future scenarios in Az.Functions.

[2020-11-05 00:28] DiscoveringWorld commented on #13379
The storage used is on the Azure Gov side.

It's work well on the Azure portal on portal.azure.us  and o the az cli wit the az cloud set --name AzureUSGovernment  and
az login

The New-AzFunctionApp does not work since it's trying to search  storagefunction123422322  on Azure Public as you can see.

New-AzFunctionApp -ResourceGroupName functionRGName  -Name functiontesting12345  -StorageAccountNam

[2020-11-05 00:31] Francisco-Gamino commented on #12749
@stefanushinardi -- we need to define a new cmdlet to do this.

[2020-11-05 00:48] dingmeng-xue commented on #13406
@bganapa , when user Import-Module, is it possible that AzureRM and AZ conflicts still happen in customer environment?

[2020-11-05 01:00] Francisco-Gamino commented on #13379
Hi @DiscoveringWorld -- I've removed some information from your post for privacy. I will look into this and follow-up with you. Thanks.

[2020-11-05 01:59] msJinLei opened #13421 "Install-AzModule doesn't remove the previous Az.Accounts versions if -RemovePrevious is specified"
## Description

Install-AzModule doesn't remove the previous Az.Accounts versions if -RemovePrevious is specified

## Cost

[2020-11-05 02:54] Francisco-Gamino commented on #13149
Need to update stacks API (in the latest version Node 14 is no longer `hidden`. Fore more info, please see https://github.com/pragnagopa/azure-functions-supported-runtime-stacks/pull/23.

[2020-11-05 05:41] Drewm3 commented on #13368
@avirishuv, could you please look into this issue.

[2020-11-05 06:15] Drewm3 commented on #12432
This capability has been added to the SKUs API response under the value of Cores

[2020-11-05 06:15] #12432 closed

[2020-11-05 06:35] #13202 closed

[2020-11-05 07:04] AiHaibara commented on #11446
Update-Module -Name Az
Import-Module AzureADPreview
Connect-AzureAD

[2020-11-05 07:59] AIGARSJ commented on #6461
Same issue with command New-AzSqlDatabaseCopy. Any estimates in this issue resolve?
Or any workaround if I use Azure Automation Account?

[2020-11-05 09:38] dgard1981 commented on #12284
@Francisco-Gamino - The issue has not been fixed and behaviour is still exactly the same.

Please can the issue be reopened and investigated further.

[code]

[2020-11-05 11:44] slavizh opened #13423 "Could not load file or assembly 'Microsoft.Identity.Client.Extensions.Msal, Version=2.16.2.0, Culture=neutral, PublicKeyToken=0a613f4dd989e8ae'. The system cannot find the file specified."
## Description
Cannot load Az.Accounts 2.1.2 on Ubuntu 18.04 PS 7.1 RC2.

## Steps to reproduce

[code]

## Environment data

[code]

## Module versions

[code]

## Debug output

[code]

## Error output

[code]

[2020-11-05 16:53] wembleyford opened #13425 "Unexpected case change of paramter tags when creating RSG via azure pipelines"
## Description
This is a follow up to this bug report
https://github.com/microsoft/azure-pipelines-tasks/issues/13822

When using new-azsubscriptionDeployment to deploy a resource group using a template file and parameter file, when doing this with the latest version of the Az module in an Azure devops pipeline, my resourcegroup tags are being renamed from their original case as defined in the par

[2020-11-05 18:52] amjads1 commented on #13353
I have reached out to DSCExtension owners and waiting to hear updates from them.

[2020-11-05 20:00] avirishuv commented on #13368
I was able to repro this, removing data disk from VMSS that has only one data disk using Azure PowerShell returns successfully but does not delete the data disk, while it works if there are more than one data disks attached to VMSS.
Marking this as a bug.

[2020-11-05 20:03] amjads1 commented on #13353
Assigned to Bila as he is going to look into this issue.

[2020-11-05 20:09] o-l-a-v opened #13429 "Get-AzActivityLogAlert (Az.Monitor v2.2.0) returns less information than API"
## Description

```Az.Monitor\Get-AzActivityLogAlert``` returns less info than a get to ```'https://management.azure.com/subscriptions/{0}/providers/microsoft.insights/activityLogAlerts?api-version=2017-04-01' -f $SubscriptionId```.

Specifically what I'm missing is the value of the fields inside conditions. For instance, we have a activity log alert for service health alerts, where we input the r

[2020-11-05 20:23] avirishuv commented on #13168
@bilaakpan-ms could you please add the capability in Azure PowerShell, to be allow the use of managed storage account with the Set-AzVMBootDiagnostic cmdlet ?

[2020-11-05 20:54] cadams84 commented on #8371
@rventurelli thank you. This has partially resolved my problem so let me explain in more detail. I have connected a webhook to my runbook. My powershell script contains the webhook:

Write-Output "Changing IP Address..."

$uri = "https://webhookaddress"

$nsg  = @{
    SourceAddressPrefix = ([System.String[]] @("123.123.123.12"))
    Name = "NSG_Rule_Name"
}

$body = ConvertTo-Json -InputObject $n

[2020-11-05 20:56] github-2407 commented on #11911
Hi @amergey - Marketplace images are always published with a plan info

[2020-11-05 21:58] sdecker commented on #11473
OK, bizarrely some of the same commands in my history that failed other day worked. The other day nothing worked. For example, I had tried to run Get-AzDiagnosticSetting -ResourceId /subscriptions/4a1e1378-e7a0-4412-b55e-56a58ba98a99 and it gave a notfound error. Today, it returns the subscription level diagnostic if set otherwise blank.
When I ran the following on an already created errored.
set-

[2020-11-06 00:48] mslentz opened #13432 "Error importing bacpac file in AzureGov"
## Description
When running this New-AzSqlDatabaseImport command in the USGov environment I get an error that I do not get when running in the commercial environment.

 I'm getting the following error:

New-AzSqlDatabaseImport : No registered resource provider found for location 'usgovvirginia' and API version '2020-02-02-preview' for type 'servers/import'. The supported api-versions are
'2014-01-

[2020-11-06 00:58] Francisco-Gamino commented on #12284
Hi @dgard1981 -- To make `-IncludeSlot`, we introduced a breaking change in the cmldet syntax for `Get-AzFunctionApp`.

To see the latest cmdlet syntax, please run:
[code]

Notice that the only parameter set that support `-IncludeSlot` is
`Get-AzFunctionApp -ResourceGroupName <string> [-IncludeSlot]`.

Here is an example:

[code]

 Please give it a try and let us know know if you find any issues.

[2020-11-06 02:55] zmustafa commented on #8971
I have a workaround:

For example you have:
**Tag Name:** BillingId
**Tag Value:** 123456

The the command to look for the last 30 days consumption would be:

(Get-AzConsumptionUsageDetail -StartDate ([datetime]::Now.AddDays(-30)) -EndDate ([datetime]::Now.AddHours(0))) | Where-Object {$_.Tags -ne $null}  | Where-Object {$_.Tags['BillingId'] -eq "123456"}

[2020-11-06 03:06] BethanyZhou opened #13434 "The verification logic of VersionValidator is out-of-date"
## Description
During the process of bumping version, the script will validate existing modules whether indeed need to updated.

Its current logic judges based on checking the  required version url of module if exists.

For example, https://www.powershellgallery.com/packages/Az.Accounts/2.1.4 should not exist because the current Az.Accounts version is 2.1.2.

But seems PSGallery changes its behavi

[2020-11-06 03:45] erich-wang commented on #13423
@slavizh, thank you for reporting the issue. I just tried Az.Accounts 2.1.2 on Ubuntu 18.04 + PS 7.1 RC2, but could not reproduce the issue.
Could you please share more info:
1. Please share loaded assemblies before and after running `Import-Module`
[code]
2. Please share loaded modules before and after running `Import-Module`
[code]

[2020-11-06 07:42] msJinLei commented on #13406
@bganapa @dingmeng-xue

We are able to save Az and AzureRM in one machine. However, it will conflict if they are imported to one powershell session. Please refer to the following error log.

[code]

[2020-11-06 07:48] bganapa commented on #13406
@msJinLei I understand that it would conflict with the AzureRM modules. However we will be able to load them in two different sessions (if we have to save Az and AzureRM in two different folders in the same machine)

The following likely worked, because you already have the other Az modules in the $env:psmodulepath
PS C:\Users\leijin> Import-Module C:\Users\leijin\Documents\PowerShell\Modules\Az

[2020-11-06 07:54] bganapa commented on #13406
Yes and No, In the same session the conflicts will still happen, but the customer could use two different session in the same machine to have a side by side experience

[2020-11-06 08:01] msJinLei commented on #13406
@bganapa Sorry I made a mistake just now and I fix it. Please refer to my new comment above.

However, we can load these sub modules one by one.

[2020-11-06 08:16] bganapa commented on #13406
@msJinLei Yes instead of loading the module one by one,The ask here is to have the ability load it just from the folder specified for the Az alone(all the modules)

Currently it is failing we specify only
Import-Module Az.Advisor -RequiredVersion 1.1.1 -Global
Import-Module Az.Aks -RequiredVersion 2.0.0 -Global
Import-Module Az.AnalysisServices -RequiredVersion 1.1.4 -Global
...

in the following

[2020-11-06 08:22] msJinLei commented on #13406
Cool! We shall see how to implement it then.

[2020-11-06 08:58] slavizh commented on #13423
Ok I figure out why you cannot reproduce it. Initially when I have tested it I thought that was not playing part but seems it does. That is the following command I execute first:

[code]

Currently when I try to import on PS 7.2 RC2 first Partner center 3.0.10 and then Az.Accounts 2.1.2 I get the above error. If I try to import first Az.Accounts 2.1.2 it works but then when I try to import  Partne

[2020-11-06 09:34] dgard1981 commented on #12284
@Francisco-Gamino - Gotcha. Confirmed that this does work.

[code]

[2020-11-06 09:37] Gill-Bates opened #13443 "Az.Storage will not accept "-EnableHttpsTrafficOnly $True""
Running the cmdlet `New-AzStorageAccount` (Module-Version 4.02) ends up in an exception. It seems that the Parameter `-EnableHttpsTrafficOnly` cannot handle the Boolean Value.

[code]

Will end up in:

[code]

**Running the same command under 2.7.0 works like a charme!**

[2020-11-06 09:59] blueww commented on #13443
@Gill-Bates

Az.Storage 4.0.2-preview is released long ago (althrough the version is bigger), and not for normal user.
Please don't use it.

Please use latest Az.Storage with version 3.* .

[2020-11-06 10:08] JohnRoos opened #13444 "Az.Accounts 2.1.2 fails to import in Azure Function App"
## Description

Version 2.1.2 of Az.Accounts cannot be imported in an Azure Function App when using WEBSITE_RUN_FROM_PACKAGE=1.
It seems like the import is trying to create a folder called .IdentityService in the wwwroot, which is read-only.

Since Az is using MinimumVersion when importing Az.Accounts, this affects both Az 5 and 4 (only verified 4.8.0).

## Steps to reproduce

Deploy a function ap

[2020-11-06 10:22] noopman commented on #10838
Okay, thanks! In that case I have not seen this same scenario yet outside this context.

[2020-11-06 10:25] SteppingRazor commented on #12058
@dillonredding @dingmeng-xue @miaojiang
Also, adding new product without specifying SubscriptionLimit will default to 1

[2020-11-06 10:29] piotr-penar-dhsc commented on #13405
hi, any progress with this problem?

[2020-11-06 10:31] Gill-Bates commented on #13443
**Version 2.7 and 3.0 works as expected!**

[2020-11-06 10:34] blueww commented on #13443
@Gill-Bates
As the issue is resolve by using the latest stable version 3.0, I will close the issue.

Feel free to contact us if you need any further assistance on Azure Powershell.

[2020-11-06 10:34] #13443 closed

[2020-11-06 10:51] JohnRoos commented on #13444
I noticed that this problem is mentioned in this comment: https://github.com/Azure/azure-powershell/issues/13376#issuecomment-720424281

Feel free to close this issue if this is being resolved in that issue.

[2020-11-06 11:56] Splaxi commented on #13247
Could I get an update on the issue?

[2020-11-06 12:17] Splaxi opened #13448 "New-AzApiManagementApi requires ServiceUrl - but is not required in the Portal"
## Description
When creating a new API in APIM, it is optional to fill in the Web Service Url:
![image](https://user-images.githubusercontent.com/8750181/98364077-66ca8700-2030-11eb-8c26-d0c02c2b8b6c.png)

But when creating a new API in APIM via New-AzApiManagementApi, the cmdlet is stating that the ServiceUrl is required.
[code]

If I fill in the ServiceUrl parameter with a valid URL string, the

[2020-11-06 13:10] scottstout opened #13449 "Set-AzRoleDefinition fails to update if Assignable Scope is changed to new Management Group"
## Description
If you do the Set-AzRoleDefinition it will fail if you change the scope from one Management Group to another. It will say it can't find a role definition by that ID. It appears to be relying on the assignable scope to look for the ID and the role isn't currently in the new assignable scope you are trying to update to.

Note that this works fine in Azure CLI.

## Steps to reproduce
T

[2020-11-06 13:50] olandese opened #13451 "Make the Microsoft.Azure.PowerShell.* nuget packages public available"
Hi all,

I'm writing my own Azure PowerShell Module in C# (.Net Standard) to accomplish some custom tasks I need.
Browsing the source code here I see that all the modules are using Microsoft.Azure.PowerShell.* nuget packages (1.3.28-preview) which are not public available. Looking at the nuget.config I suppose they are hosted on the Microsoft's MyGet private repos.

I would like to use some of the

[2020-11-06 14:21] olandese commented on #13451
Sorry, I found it out , I just had to add the Nuget Source https://www.myget.org/F/azure-powershell/api/v3/index.json to be able to find them

[2020-11-06 14:21] #13451 closed

[2020-11-06 16:23] ranarn commented on #13370
Also experiencing issues with this, running a powershell script in DevOps pipeline in task AzurePowerShell@4
This is used to get token for further operations.

$ctx = Get-AzContext
$cache = $ctx.TokenCache
$token = $cache.ReadItems() | ...

Gets InvalidOperation: You cannot call a method on a null-valued expression.

Looks like .TokenCache is not working at all.

Got same error on local, and it wo

[2020-11-06 17:43] tylertownsend commented on #8163
@cormacpayne Is there any progress or plans to make the change to the Microsoft Graph api? Our tenant manages our registered apps and we only have read access to Microsoft Graph.

[2020-11-06 17:52] cormacpayne commented on #8163
@tylertownsend Hey there, I'm no longer a member of the Azure PowerShell team, but I think @dingmeng-xue should be able to help out with getting the right folks to take a look at this issue.

[2020-11-06 20:59] JimGBritt commented on #13337
In addition to what was mentioned above, this update has not only impacted token cache retrieval in my PowerShell environment but also basic commands such as Get-AzSubscription.  I have access to over 70 subs across 3 tenants and none of them are returned.

[code]
In addition, since we are changing the way we are doing things in 2.x version

_"the authentication library is changed from ADAL to MSA

[2020-11-06 21:29] tylertownsend commented on #8163
Thank you for the follow up @cormacpayne. @dingmeng-xue if you could point me to the right folks, that would be greatly appreciated.

[2020-11-06 22:25] JimGBritt commented on #13337
Update here - I had to do a **"logout-azAccount" about 3 times** (likely for each tenant I was attached to) to clear any cached logins and now the subscription listing returns and also the workaround specified for obtaining a token by @o-l-a-v .  I will continue testing this workaround through Azure DevOps, Mac/Linux/Windows to ensure auth is functioning for token access.  Will watch this issue fo

[2020-11-06 22:32] o-l-a-v commented on #13337
@JimGBritt

Try "Clear-AzContext -Force" instead next time.

[2020-11-06 22:37] JimGBritt commented on #13337
Actually my bad - great point.  Thanks for your code example btw.  Testing now.  Seems to work nicely from PS - will test in other avenues.  https://aka.ms/AzPolicyScripts is the source of my current auth woes as I heavily use REST AUTH Tokens - this will help.  Need to try backwards compat as well with older cmdlets in Az.Accounts but hoping for good news.

[2020-11-07 05:26] anuragdalmia commented on #13405
Hello, we have documented the alias api scenarios https://docs.microsoft.com/en-us/azure/cost-management-billing/manage/programmatically-create-subscription?tabs=rest-getEnrollments%2Cazure-cli-EA%2Crest-getBillingAccounts%2Crest-getBillingProfiles%2Crest-MCA%2Crest-getBillingAccount-MPA%2Crest-getCustomers%2Crest-getIndirectResellers%2Crest-MPA. We have made our latest version GA. The preview ver

[2020-11-07 20:00] SteppingRazor commented on #12058
@dillonredding
Hi. I've made a little investigation. `Set-AzApiManagementProduct` command through `Microsoft.Azure.Management.ApiManagement` library is actually calling [Update](https://docs.microsoft.com/en-us/rest/api/apimanagement/2019-12-01/product/update) and not [CreateOrUpdate](https://docs.microsoft.com/en-us/rest/api/apimanagement/2019-12-01/product/createorupdate) request. This means it

[2020-11-07 20:26] dillonredding commented on #12058
@SteppingRazor, thanks for the info! That is extremely counter-intuitive, but feels on point 😅

(Un?)fortunately, I've already migrated to Microsoft's Node SDK since no one seems to be monitoring issues in this repo.

[2020-11-07 22:37] Akshat59 commented on #11928
@jongio (Get-AzADUser -UserPrincipalName (Get-AzContext).Account).Id
this is not working for me

[2020-11-08 02:52] dingmeng-xue commented on #11928
@Akshat59 , please create a new Github issue for your question. We need more information from your side for further analysis.

[2020-11-08 02:54] dingmeng-xue commented on #13432
Sql team, please help to look into this question.

[2020-11-08 02:56] dingmeng-xue commented on #13444
Thanks. Close this one as duplicated with #13376

[2020-11-08 02:56] #13444 closed

[2020-11-08 02:58] dingmeng-xue commented on #13419
@erich-wang , please look into this question.

[2020-11-08 03:01] dingmeng-xue commented on #13425
Resources team, please help to look into this issue.

[2020-11-08 21:50] silenceman65 commented on #13301
Thanks so much ! I am pleasure it. It prevents him to annoying me.. Pls keep eye on his compute. He is smart and famous steal lots of people’s IP #  on his lists..  his name is Shawn Hampton, Tony candy Certuche jr, Gary Stephen and more people too.

Thanks

Rudy 🧏🏻

[2020-11-09 00:12] joepaulk commented on #10326
You could instead try to use the az rest invoking the graph api.

Until the time az-cli is in par with the AzureAD powershell module you can instead use the graph api

I have put some samples to use this via az rest,

https://github.com/joepaulk/utilities/blob/master/manage-azuread-applicationregistrations.ps1

Example code: Please use the above link for more references, and you could also make yo

[2020-11-09 03:38] msJinLei commented on #13448
Api Management team, please help to look into this question.

[2020-11-09 07:12] erich-wang commented on #13419
@mwsutherland, I've just made some change in [this branch](https://github.com/Azure/azure-powershell/tree/erich/fix-write-object-error-temp) and generated one preview version of Az.Accounts. However I could not  verify the fix because I could not reproduce the issue.

Could you please help to verify whether the issue be fixed in preview bits by following below steps?

1. Close all Windows PowerShe

[2020-11-09 09:21] valaman commented on #13419
I was running into the same issue, your fix is working, thank you!

[2020-11-09 12:24] TamRuas commented on #13192
We have a bug open for this:
Bug 5989659: [PS] Can't create ActivityLogAlert with an already created ActionGroup
Its currently scheduled for December.
Thanks!

[2020-11-09 12:24] #13192 closed

[2020-11-09 13:16] kwiecek commented on #13337
During various attempts to obtain a token from the microsoft-hosted agent (ubuntu-*) it worked for me:

[code]

I checked in Az.Accounts 1.9.5 and 2.1.2

[2020-11-09 15:15] erich-wang commented on #13419
@valaman , thank you very much for the help. The official version should be Az.Accounts 2.2.0 and will be released around Nov 17, thanks.

[2020-11-09 15:22] mwsutherland commented on #13419
It worked for me, too. Thanks!

[2020-11-09 15:38] michaelmaillot commented on #13360
Hi,

Like @gerrylaenen, I would like to use the Az PowerShell module to manipulate AAD Applications, but it looks like many features are missing, so I have to use AzureAD PowerShell module in addition.

@dingmeng-xue are you planning to update the Az PowerShell module in the future or will the AzureAD be the persistent one to work with AAD ?

[2020-11-09 15:50] dingmeng-xue commented on #13360
@michaelmaillot , Azure PowerShell just provides very basic functions on authorization and AzureAD is correct one which contains more features and the latest API version. It's the agreement at the beginning. If possible, we recommend you to use AzureAD module.

[2020-11-09 20:08] dcaro opened #13467 "Disconnect-AzAccount fails with "Disconnect-AzAccount: MSAL V3 Deserialization failed to parse the cache contents.""
## Description

`Disconnect-AzAccount` fails with "Disconnect-AzAccount: MSAL V3 Deserialization failed to parse the cache contents.  Is this possibly an earlier format needed for DeserializeMsalV2? (See https://aka.ms/msal-net-3x-cache-breaking-change)"

## Steps to reproduce

Using Az 5.0 and Az CLI 2.8.10 beta, run the following commands:

[code]

The following error is displayed when running `

[2020-11-09 21:50] qinl-li opened #13469 "Get-AzKeyVaultSecret returns System.ArgumentOutOfRangeException for"
## Description

Both portal and CLI are able to list the secret

## Steps to reproduce
Create a secret using portal or cli and set the expiration date to be "9999-12-31 23:59:59"

[code]

## Environment data

[code]

## Module versions

[code]

## Debug output

[code]
DEBUG: AzureQoSEvent: CommandName - Get-AzKeyVaultSecret; IsSuccess - False; Duration - 00:00:07.4155737;; Exception -
System.Argum

[2020-11-10 00:52] TheOnlyWei opened #13470 "[AzureStack] Az.Accounts -UseDeviceAuthentication Not Working"
## Description
UseDeviceAuthentication flag for Connect-AzAccount command does not work because it throws an error on the website.

## Steps to reproduce

For Az.Account 2.1.2, try to log in using the following command:

[code]

## Environment data

[code]

## Module versions

[code]

## Debug output

[code]

## Error output

![deviceautherror](https://user-images.githubusercontent.com/19400755/98

[2020-11-10 01:03] #13301 closed

[2020-11-10 02:57] jayman-dalal commented on #13193
I am having the same issue Az 5 & PS Core 7.0.3

11-09 18:51:14 D:\

WARNING: To sign in, use a web browser to open the page https://microsoft.com/devicelogin and enter the code <code> to authenticate.
Connect-AzAccount: AADSTS50097: Device authentication is required.
Trace ID: 694e5661-4031-4df6-b8ba-0126ba233000
Correlation ID: 4ca38c05-37a6-41d9-8e81-4272f80cea76
Timestamp: 2020-11-10 02:52:30Z

[2020-11-10 03:02] erich-wang commented on #13419
@mwsutherland , thank you for the confirmation.

[2020-11-10 06:48] msJinLei commented on #13449
@scottstout could you provide the following inoformation

## Environment data
 Please run $PSVersionTable and paste the output in the below code block
     If running the Docker container image, indicate the tag of the image used and the version of Docker engine

[code]

## Module versions
Please run (Get-Module  -ListAvailable) and paste the output in the below code block

[code]

## Debug output

[2020-11-10 07:52] gerrylaenen commented on #13360
Unfortunately both Az and AzureAD are incompatible as Az is Powershell Core
while AzureAD is still on PowerShell .NET. We would like to foresee a
script that rolls out everything at once, but it seems that this is only
possible when going back to AzureRm. It is a pity that AzureAD is not yet
available in Powershell Core. I hope it will be soon :).

Op ma 9 nov. 2020 om 16:50 schreef Dingmeng Xue <

[2020-11-10 08:26] #13374 closed

[2020-11-10 10:10] PaulVrugt commented on #13109
@Kotasudhakarreddy just checking in again to see if there is any progress

[2020-11-10 11:00] dineshreddy007 opened #13477 "[AzureStackHCI] Az.Accounts -UseDeviceAuthentication Not Working"
## Description

UseDeviceAuthentication flag for Connect-AzAccount command does not work when TenantId parameter is passed because it throws an error on the PowerShell window. In Az.Accounts 1.9.5 it is working fine. Issue started from Az.Accounts version 2.1.0

## Steps to reproduce
For Az.Account 2.1.2, try to log in using the following command:
[code]

## Environment data

[code]

## Module ver

[2020-11-10 14:30] Kotasudhakarreddy commented on #13109
@PaulVrugt - we are planning to prioritize this for the next release (S179)

[2020-11-10 14:44] jschwanz commented on #10326
The Microsoft.Graph modules are now GA, so you might give them a look.

[2020-11-10 14:56] dingmeng-xue commented on #13360
@gerrylaenen , could you share me more about why you have to go back to AzureRM? My understanding is AzureRM shouldn't have more features than Az. It seems you just need to use to Windows PowerShell in your case. Am I correct?

[2020-11-10 16:59] DevOpsGeek1 commented on #13134
Team?. Atleast reposnd or acknowledge I dont know whats is the problem to respond atleast

[2020-11-10 18:34] yiyiguo commented on #13063
needs-author-feedback

[2020-11-10 19:55] anthony-schneider commented on #13361
I too have reported the same issue and have submitted a Microsoft case for this issue.  Here's what I reported in the case.

=================================================================
The issue here is we typically authenticate to Azure using the following:

Connect-AzAccount -Tenant "[tenant]" -Subscription "[subscription]" -Credential (Get-Credential)

When prompted, we enter our AAD UPN

[2020-11-10 21:26] miaojiang commented on #13448
@solankisamir could you please take a look?

[2020-11-10 21:26] miaojiang commented on #13247
@solankisamir could you please take a look?

[2020-11-11 02:56] dingmeng-xue commented on #13361
@anthony-schneider , you can find my email address from my profile. Could you share your input value in email, including subscription id and tenant id?

[2020-11-11 05:15] isra-fel commented on #13469
Cannot reproduce

[code]

Please try Az.KeyVault 3.0.0 and paste the full debug output, including the HTTP response.
Thanks

[2020-11-11 05:26] isra-fel commented on #13469
I guess the when you set the expire time, the timezone was not UTC but UTC -x, which made the time LATER than "9999-12-31 23:59:59". Could you confirm it?

[2020-11-11 07:50] o-l-a-v commented on #12815
@armleads-azure

Any update here? This is still not resolved.

[2020-11-11 08:02] Drewm3 commented on #11460
The current version of the PowerShell cmdlets now support location filtering for Get-AzComputeResourceSku.

`SYNTAX
    Get-AzComputeResourceSku [[-Location] <System.String>]`

[2020-11-11 08:02] #11460 closed

[2020-11-11 08:49] dingmeng-xue commented on #13477
We will check this question.

[2020-11-11 09:06] erich-wang commented on #13470
Thanks for reporting the issue. Close this issue as it is duplicate with #13477. Plan to address it in Nov 17 release.

[2020-11-11 09:06] #13470 closed

[2020-11-11 09:10] erich-wang commented on #13477
Thanks for reporting the issue. Please use below cmdlets as workaround. We'll address issue in Nov 17 release, thanks.
[code]

[2020-11-11 09:29] VeryEarly commented on #13429
Hi @o-l-a-v ,

Thanks for reporting, this "where" property doesn't seem to be existed in the current [SDK ](https://github.com/Azure/azure-sdk-for-net/blob/master/sdk/monitor/Microsoft.Azure.Management.Monitor/src/Generated/Models/ActivityLogAlertLeafCondition.cs)we are using.

@azmonALERTS can you please check if swagger need to be updated?
https://github.com/Azure/azure-rest-api-specs/blob/maste

[2020-11-11 12:15] anthony-schneider commented on #13361
@dingmeng-xue - I've sent you a couple emails with the specifics, including the Microsoft case details (notes, screenshots, etc).  Thanks for your help!

[2020-11-11 13:49] Kitwradr opened #13484 "The term 'Get-AzAppConfigurationStoreKey' is not recognized as the name of a cmdlet, function, script file, or operable program. Check the spelling of the name, or if a path was included, verify that the path is correct and try again."
Getting this error while trying to get configuration store access key

Version of powershell being used - got it by `Get-Module`

ModuleType Version    Name                                ExportedCommands
---------- -------    ----                                ----------------
Script     5.0.0      Az
Script     2.1.2      Az.Accounts                         {Add-AzEnvironment, Clear-AzContext,

[2020-11-11 16:06] gavinravenlane opened #13486 "Problems using Powershell DSC on Azure Virtual Machines created using Resource Manager templates"
Essentially, Powershell DSC does not behave consistently, and breaks our Azure Devops Pipelines. We install DSC modules using a Script resource, and then import the modules into the DSC scripts as required. But sometimes this process breaks, and when loading the DSC modules errors occur as the modules cannot be found.

We have not had much success getting a resolution to this issue, despite the ef

[2020-11-11 17:29] TamRuas commented on #13429
Our swagger and therefore SDK indeed don't support "ContainsAny" and "AnyOf" conditions which are used for Service Health and resource Health.
We are actively working- on updating the swagger which required a new API version.
Bug 7359079: [Swagger] Add Missing 'anyOf' and 'containsAny' to ALA Swagger

I'll check about the powershell work item, and update that as well.

[2020-11-11 17:32] TamRuas commented on #13429
The powershell bug to track:
Bug 8780491: Get-AzActivityLogAlert (Az.Monitor v2.2.0) returns less information than API

[2020-11-11 17:58] o-l-a-v commented on #13429
Where can I follow the progress of bug number "8780491"?
And why close this issue, when it's still an issue affecting real world usage?

[2020-11-11 18:51] dagoroz commented on #12815
@o-l-a-v I have pushed a fix, however it didn't make it in time for the 3.0.0 release
next release is on 11/17 you should try again then

[2020-11-11 19:57] jaspkaur28 commented on #13104
@yanxiaodi we've identified it as a bug & created a bug ID to track the issue , however, the behaviour is consistent in the portal. Issue is only when schedule is created through cmdlet.

[2020-11-12 01:21] VeryEarly commented on #13429
Hi @o-l-a-v ,

Reopen this issue, using this to track fixing progress of Azure-PowerShell for my team.

[2020-11-12 02:14] DiscoveringWorld commented on #13379
Hello

Did you reproduce the error on your side?

Did you found something?

Thanks to inform me.

Le mer. 4 nov. 2020 20 h 01, Francisco Gamino <notifications@github.com> a
écrit :

[2020-11-12 05:48] wyunchi-ms commented on #13134
Hi @DevOpsGeek1 , thanks for your contribution! I have fixed this issue in https://github.com/Azure/azure-powershell/pull/13458. And build a engineer build at https://azposhpreview.blob.core.windows.net/public/Az.Aks.2.0.1.nupkg. You can download it and have a try.
Thanks again!

[2020-11-12 07:12] slavizh commented on #13423
Just did a test and issue is present in PS 7.1 final release as well.

[2020-11-12 09:00] mortenlerudjordet commented on #13096
Still not fixed in 3.0 for norwegian (nb-NO) locale.

As a workaround I have to run [cultureinfo]::CurrentCulture = 'en-US' before calling New-AzRoleAssignment to not get the Input string was not in a correct format error.

[2020-11-12 09:24] mortenlerudjordet commented on #12815
I found a workaround, run [cultureinfo]::CurrentCulture = 'en-US' before calling New-AzRoleAssignment

[2020-11-12 10:19] Barzdaz commented on #8971
It seems that the issue is still there. No key:value pairs are respected by the command.

Also, I tried @zmustafa workaround and it failed too with the following error:
$.Tags : The term '$.Tags' is not recognized as the name of a cmdlet, function, script file, or operable program.

Am I using the command wrong somehow?

[2020-11-12 10:35] shellby1 commented on #6936
Hi,
Have the same issue with CMDLet

`Connect-AzAccount -Credential $ServicePrincipal -Tenant $configurationData.azureTenant`
`Parameter 'Could not find tenant id for provided tenant domain 'PD*********'. Please ensure that the provided service principal '************-****-****-****-**************' is found in the provided tenant domain.'`

[2020-11-12 11:19] dingmeng-xue commented on #13486
@gavinravenlane , thanks for reporting but I cannot get your problem. What's the DSC module? All module from Azure PowerShell repo have `Az.` as prefix. Could you explain further about your issue?

[2020-11-12 11:21] dingmeng-xue commented on #13484
@Kitwradr , Az.AppConfiguration is under preview. It is not installed with Az together. Please use below cmdlet to install it.
[code]

BTW, this module will be GAed on Nov 17 and packaged with Az.

[2020-11-12 11:21] #13484 closed

[2020-11-12 11:24] dingmeng-xue commented on #13083
Close this issue now. @50Wliu , conditional access is a known unsupported feature. It is tracked by #12489

[2020-11-12 11:24] #13083 closed

[2020-11-12 11:26] dingmeng-xue commented on #13038
@shenglol , please close this issue if it is fixed.

[2020-11-12 11:34] gavinravenlane commented on #13486
Hi
We have a general issue where any DSC module fails to install on the machine. The machine is an Azure VM which is created as part of an Azure Resource Group Manager Template. The VM has two extensions applied - the first is a script extension which fails to install the modules - e.g. the ComputerManagementDsc module to allow us to use the PendingReboot resource, or the ActiveDirectoryDsc module

[2020-11-12 11:57] dingmeng-xue commented on #13486
Thanks @gavinravenlane . I cannot find the module owner of Dsc. One way is to report the issue on https://www.powershellgallery.com/packages/ComputerManagementDsc or please try Azure online support.

I am closing this issue due to it is irrelevant with Azure PowerShell module. Please contact us if you have further question on Az modules.

[2020-11-12 11:57] #13486 closed

[2020-11-12 12:00] dingmeng-xue commented on #13000
@J0F3 , we have released Az.Accounts 2.1.2 recently. This one is included. Sorry for inconvenience.

I'm closing this one. Please contact us if you have further question.

[2020-11-12 12:00] #13000 closed

[2020-11-12 12:43] erich-wang commented on #13361
@anthony-schneider, could you please share the debug stream by using the following cmdlets:
[code]

[2020-11-12 15:07] n-moody commented on #8971
Add underscores like this:
(Get-AzConsumptionUsageDetail -StartDate ([datetime]::Now.AddDays(-30)) -EndDate ([datetime]::Now.AddHours(0))) | Where-Object {$_.Tags -ne $null} | Where-Object {$_.Tags['tagname'] -eq "tagvalue"}

[2020-11-12 16:32] anthony-schneider commented on #13361
@erich-wang - just sent you an email with the details

[2020-11-12 23:25] nexxai commented on #6461
Are you guys serious?  A simple timing problem that's been going on for over 2 years and there's no update from Microsoft as to what's going on aside from a number of milestone changes?

[2020-11-13 02:29] isra-fel opened #13496 "Update `Get-AzKeyVaultSecret`'s example for constrained language mode"
## Description

The way our [current example](https://docs.microsoft.com/en-us/powershell/module/az.keyvault/get-azkeyvaultsecret?view=azps-5.0.0#example-5--get-the-plain-text-value-of-the-current-version-of-a-specific-secret) converts secure string secret to plain text secret does not work in PowerShell constrained language mode, because

and `System.Runtime.InteropServices.Marshal` is not in the

[2020-11-13 02:34] isra-fel commented on #13469
Closing the issue as it is working as designed. Thanks

[2020-11-13 02:34] #13469 closed

[2020-11-13 02:49] isra-fel commented on #12722
Key vault team has updated there API spec to accept "all" as an option in Azure/azure-rest-api-specs/pull/11042

We need to:

- Regenerate Microsoft.Azure.Management.KeyVault SDK
- Update PowerShell code to allow "all" as well

[2020-11-13 03:13] Francisco-Gamino commented on #13379
Hello @DiscoveringWorld,

Could you please tell me what output you get when you run this `(Get-AzContext).Environment` after you connect via ` Connect-AzAccount ...`? E.g.,

[code]

[2020-11-13 06:08] isra-fel commented on #7120
Hi @grayzu could you take a look at this feature request?

[2020-11-13 06:23] dingmeng-xue commented on #13429
Add service attention label because this issue depends on service side update. We will visit it again once new SDK is available.

[2020-11-13 06:37] dingmeng-xue commented on #13423
@slavizh , this is known limitation on dotnet core that it cannot load the same assembly with different versions. We'd like to get PartnerCenter further feedback and which assembly has the problem. We will keep eyes on it.

[2020-11-13 06:41] mcurko commented on #9427
I had to go back to v. 1.9.5 to make it work!

[2020-11-13 06:54] mcurko commented on #13419
I've had a similar problem with Login-AzAccount, and your module version solved it. Is the fact that I had to use -AllowClobber to install it important? (old Az.Accounts was uninstalled beforehand)

[2020-11-13 07:02] mcurko commented on #13419
And then, after deleting Az contet jsons in user folder:

[code]

[2020-11-13 07:08] mcurko commented on #13419
[code]

[2020-11-13 08:42] J0F3 commented on #13000
@dingmeng-xue Makes sense. I am happy about the release of the version 2.1.2. Since then the Az PowerShell works fine for me, again. 😊Thanks!

[2020-11-13 08:49] isra-fel opened #13504 "Cannot switch to interactive login after login with access token"
## Description

If you login using access token, after it expires, if you login again interactively, any following cmdlet will fall with error:
[code]
## Steps to reproduce

[code]

## Environment data

[code]

## Module versions

[code]

## Debug output

[code]

## Error output

[code]

[2020-11-13 09:15] erich-wang opened #13505 "Failed to login if specifying tenant domain name instead of tenant id"
## Description
This should be legacy issue, could reproduce on Az.Accounts 1.9.5

If there're more than one tenants associated with your account, you may get error if using tenant name instead of tenant id.

## Steps to reproduce

[code]

## Environment data

[code]

## Module versions

[code]

## Debug output

[code]

## Error output

DEBUG: AzureQoSEvent: CommandName - Connect-AzAccount; IsSucce

[2020-11-13 10:10] mcurko commented on #13419
I uninstalled all the Azure AzureRm Az modules, reinstalled Az modules, the module you made available, and tried again. I seem to connect with Connect-AzAccount -Tenant '...' -SubscriptionId '.........', but next command fails immediately:

`PS C:\Users\mcurko> Connect-AzAccount -Tenant '<tenant>' -SubscriptionId '<subscriptino>'
DEBUG: 11:05:51 - ConnectAzureRmAccountCommand begin processing with

[2020-11-13 12:25] slavizh commented on #13423
@dingmeng-xue ok, Does that means that PartnerCenter module support has to fix this on their module?

[2020-11-13 12:41] vikram-m commented on #10661
Currently, team is busy with other high priority items and this would be picked up in CY2021 Q1.

[2020-11-13 12:42] vikram-m commented on #10063
Currently, team is busy with other high priority items and this would be picked up in CY2021 Q1.

[2020-11-13 12:42] vikram-m commented on #9663
Currently, team is busy with other high priority items and this would be picked up in CY2021 Q1.

[2020-11-13 12:42] vikram-m commented on #9201
Currently, team is busy with other high priority items and this would be picked up in CY2021 Q1.

[2020-11-13 12:43] vikram-m commented on #8738
Currently, team is busy with other high priority items and this would be picked up in CY2021 Q1.

[2020-11-13 12:43] vikram-m commented on #8238
Currently, team is busy with other high priority items and this would be picked up in CY2021 Q1.

[2020-11-13 12:45] vikram-m commented on #11038
Currently, team is busy with other high priority items and this would be picked up in CY2021 Q2.

[2020-11-13 12:45] vikram-m commented on #11822
Currently, team is busy with other high priority items and this would be picked up in CY2021 Q1.

[2020-11-13 12:46] vikram-m commented on #12322
Currently, team is busy with other high priority items and this would be picked up in CY2021 Q1.

[2020-11-13 12:46] vikram-m commented on #12353
Currently, team is busy with other high priority items and this would be picked up in CY2021 Q1.

[2020-11-13 12:46] vikram-m commented on #12384
Currently, team is busy with other high priority items and this would be picked up in CY2021 Q1.

[2020-11-13 12:46] vikram-m commented on #12552
Currently, team is busy with other high priority items and this would be picked up in CY2021 Q1.

[2020-11-13 12:47] vikram-m commented on #12702
Currently, team is busy with other high priority items and this would be picked up in CY2021 Q1.

[2020-11-13 12:48] vikram-m commented on #12823
Currently, team is busy with other high priority items and this would be picked up in CY2021 Q1.

[2020-11-13 13:35] dingmeng-xue commented on #13423
Yes, we hope PartnerCenter can finalize their module at the first. The issue should be due to one dependency of  Microsoft.Identity.Client.Extensions.Msal. One issue I can find is Az.Accounts is using Microsoft.Identity.Client 4.21.0.0 but PartnerCenter is using 4.8.1.0. Az.Accounts uses MSAL 2.16.2 but PartnerCenter is 2.6.0.

Ideally, this issue should be resolved by loading Az.Accounts before P

[2020-11-13 13:55] DiscoveringWorld commented on #13379
Name              Resource Manager Url                  ActiveDirectory Authority         Type
----              --------------------                  -------------------------         ----
AzureUSGovernment https://management.usgovcloudapi.net/ https://login.microsoftonline.us/ Built-in

[2020-11-13 14:10] sebsalvat commented on #9074
Now that its almost 2021, can we please open this again?
Guest / external invitations are a huge part of our B2B process.

[2020-11-13 14:22] erich-wang commented on #13423
One possible workaround for loading both PartnerCenter and Az.Accounts is to:
1. Comment out the following two dll in PartnerCenter.psd1
                         #'.\Microsoft.Identity.Client.dll',
                         #'.\Microsoft.Identity.Client.Extensions.Msal.dll',
2. Import Az.Accounts first
3. Import PartnerCenter, it should work

As dingment mentioned, the possible solution is to ask P

[2020-11-13 14:39] slavizh commented on #13423
@erich-wang Thanks, the workaround I cannot implement as I am using this in pipeline so it won't be suitable for there but there is logged issue to Partner Center team, hopefully they will respond at some point as it seems their development resources are less than the Az ones.

[2020-11-13 17:10] kokosandim opened #13509 "WebApp:Update-AzWebAppTrafficRouting cannot change traffic % of new deployment slots"
Hi All
az.websites has a module/function Update-AzWebAppTrafficRouting
And it not works with new deployment slots, I mean when I try this
`Update-AzWebAppTrafficRouting -ResourceGroupName <rg-name> -WebAppName:<function-name> -RoutingRule @{ActionHostName='<function-name>.azurewebsites.net';ReroutePercentage="15";Name='tmp'}`
I see this error:
[code]

BUT, when I change traffic percentage manualy

[2020-11-13 19:49] austica commented on #13145
I'm having the same issue.  Any updates would be appreciated!

[2020-11-13 19:50] Vaibhav-Agar commented on #10253
Hi @markcowl, @athlon55,
We do have this in our backlog for Add-AzVhd but we don't have an ETA yet. So, the recommendation is to continue to use the workaround for now. Closing this issue. Please reopen if there are any other questions.

[2020-11-13 21:22] Francisco-Gamino commented on #13379
Hello @DiscoveringWorld -- I have all the information I need. Yes, this is a bug in the cmdlet code (on the client side).

cc: @stefanushinardi @anirudhgarg

[2020-11-14 02:42] dcaro commented on #13145
@austica the updates are in the related issue in the vscode-powershell repo indicated above.

[2020-11-14 08:42] msft-jasonparker commented on #13123
@markcowl  I'd like to reopen this issue.  Can that be done or do I need to open a new issue?

I have the debug results

[code]

[code]

[2020-11-14 15:50] dingmeng-xue commented on #13509
Webapp team, please help to look into this question.

[2020-11-15 11:57] RobinB87 commented on #13340
More or less the same issue here.
I can login by providing an az-context.json file in the image and using that for login in the PowerShell script.

However, when trying to select the correct subscription with I get the same error:
Get-AzSubscription -SubscriptionName $_subscriptionName | Set-AzContext

Error:
WARNING: Unable to acquire token for tenant '..'
WARNING: Unable to acquire token for ten

[2020-11-15 16:59] lesterw1 commented on #11928
The challenge to solve is to simply do a: ```Connect-AzureAD``` and then determine the logged in AzureAD username. You can catch the **Connect-AzureAD** response but (for the purposes of this challenge) you cannot use **Get-AzContext** as that requires a *separate* **Connect-AzAccount** login.

So... does anyone know how to solve this?

[2020-11-15 21:16] yanxiaodi commented on #13104
Thanks @jaspkaur28. Yes, the issue only occurs when using cmdlet but it makes troubles when we automate the pipelines. Hope your team will solve it soon and thanks for your effort.

[2020-11-16 01:08] VeryEarly commented on #13382
can't reproduce, close for now.

[2020-11-16 01:08] #13382 closed

[2020-11-16 02:09] isra-fel commented on #9427
Hi @mcurko if you encountered problems in latest Az.Accounts release, could you [file us an issue](https://github.com/Azure/azure-powershell/issues/new?assignees=&labels=needs-triage&template=az-module-bug-report.md&title=) ? Thanks

[2020-11-16 02:46] VeryEarly commented on #11524
Hi @aydeisen ,

It turned out to be an API to retrieve list of supported log/metric categories existed, one possible solution is we provide a new cmdlet to return this list for you.

[2020-11-16 02:49] dingmeng-xue commented on #11928
@lesterw1, could you tell us more why you cannot call Connect-AzAccount?

[2020-11-16 03:27] VeryEarly commented on #12438
The reason why error message was not thrown properly is because the error defined in swagger (ClusterErrorResponse):
https://github.com/Azure/azure-rest-api-specs/blob/master/specification/operationalinsights/resource-manager/Microsoft.OperationalInsights/preview/2020-03-01-preview/Clusters.json#L322

the generated SDK didn’t add the exception body to exception message:
https://github.com/Azure/az

[2020-11-16 03:48] jdelforno commented on #13405
Duplicate Ticket: https://github.com/Azure/azure-powershell/issues/13165

?

[2020-11-16 06:51] erich-wang commented on #7752
`Get-AzAccessToken` is available in Az.Accounts 2.2.0 which will be released on Nov 17, please have a try and provide feedback by filing a new issue, thanks.

[2020-11-16 06:51] #7752 closed

[2020-11-16 06:58] erich-wang commented on #11446
Close the issue as it has been addressed in Az.Accounts 2.2.0 which will be released on Nov 17, thanks.

[2020-11-16 06:58] #11446 closed

[2020-11-16 07:07] erich-wang commented on #13477
Close the issue as it has been addressed in Az.Accounts 2.2.0 which will be released on Nov 17.

[2020-11-16 07:07] #13477 closed

[2020-11-16 07:12] erich-wang commented on #13340
@RobinB87 , it seems you're reporting different issue, could you please file another issue by providing detail info as described in template?
In addition please add your host OS and container OS as well, thanks.

[2020-11-16 07:18] erich-wang opened #13514 "[Authentication] Fallback to DeviceCode if Browser is unavailable"
## Description of the new feature
Since Az.Accounts 2.x the default auth method has been changed from DeviceCode to Interactive(Browser), it results in error if Browser is unavailable. Some customers are expecting to switch to DeviceCode auth if browser is unavailable.

## Proposed implementation details (optional)

[2020-11-16 07:20] erich-wang commented on #13340
Close the issue as proper error message are shown if browser is unavailable. Also file issue #13514 to track request of automatically switching to DeviceCode if browser is unavailable.

[2020-11-16 07:20] #13340 closed

[2020-11-16 07:22] erich-wang commented on #13337
Close the issue as `Get-AzAccessToken` has been provided in Az.Accounts 2.2 which will be released on Nov 17.

[2020-11-16 07:44] Oechiih commented on #8971
@Barzdaz the underscores following the dollar-signs are not visible here on GitHub. After a pipe you need to use <dollar><underscore> to reference the pipeline variable in PowerShell. @zmustafa Your workaround works fine. But still I feel like either the Parameter needs to be "fixed", properly documented or removed from this CMDLet.

[2020-11-16 07:51] erich-wang commented on #13376
There're two sub issues mentioned in this thread:
1. The issue that "AccountId is not respected" has been fixed in Az.Accounts 2.1.2
2. The issue of "Could not find file 'D:\home\site\wwwroot\.IdentityService" has been fixed in Az.Accounts 2.2 which will be released on Nov 17, thanks.

[2020-11-16 07:51] #13376 closed

[2020-11-16 07:55] erich-wang commented on #13505
Close as it is duplicate with #13400

[2020-11-16 07:55] #13505 closed

[2020-11-16 08:05] erich-wang commented on #13419
@mcurko, this seems a different issue, could you please file new file and provide detail info as described in bug template?

[2020-11-16 08:09] msJinLei commented on #10667
Failure still occurs

[code]

https://dev.azure.com/azure-sdk/public/_build/results?buildId=618431&view=logs&j=c13f50be-40fa-55ea-9864-e9bc7c81964b&t=2e4a7a65-6e62-5c9c-6df6-25e0a9fb7a74

[2020-11-16 08:11] erich-wang commented on #13419
Close the issue as it has been addressed in Az.Accounts 2.2 which will be released on Nov 17.

[2020-11-16 08:11] #13419 closed

[2020-11-16 09:26] vikram-m commented on #12824
Currently, team is busy with other high priority items and this would be picked up in CY2021 Q1.

[2020-11-16 09:27] vikram-m commented on #10404
Currently, team is busy with other high priority items and this would be picked up in CY2021 Q1.

[2020-11-16 09:27] vikram-m commented on #10782
Currently, team is busy with other high priority items and this would be picked up in CY2021 Q1.

[2020-11-16 09:27] vikram-m commented on #11101
Currently, team is busy with other high priority items and this would be picked up in CY2021 Q1.

[2020-11-16 09:28] vikram-m commented on #9983
Currently, team is busy with other high priority items and this would be picked up in CY2021 Q1.

[2020-11-16 09:28] vikram-m commented on #8238
Currently, team is busy with other high priority items and this would be picked up in CY2021 Q1.

[2020-11-16 09:40] nolavime commented on #13429
We are in process of adding that, this requires reviews, deployments and couple of internal processes.
 We are sure that this will be finished and used in the public cloud by the end of H1 2021, we believe that it will be in preview earlier.

[2020-11-16 09:59] YairoR commented on #11653
Hi @Catskan-zz
Can you please confirm alert rule is still exists?

[2020-11-16 10:28] #9057 closed

[2020-11-16 10:29] #10970 closed

[2020-11-16 11:16] AddySanto commented on #12440
chlahav is no longer the owner for this, looking for the appropriate contact

[2020-11-16 11:17] AddySanto commented on #8541
Looking for the appropriate team contact for this issue

[2020-11-16 11:18] AddySanto commented on #10254
Looking for the appropriate team contact for this issue

[2020-11-16 11:19] AddySanto commented on #10842
chlahav doesn't own this now. Looking for appropriate replacement contact.

[2020-11-16 11:21] AddySanto commented on #10232
Looking for the relevant contact person on the team.

[2020-11-16 11:31] aryamo opened #13516 "Could you unify the format of Resource ID in different commands"
The following are the result of Get-AzVM and Get-Azdisk
and all the Resource Group Name are up-case in the result of  Get-AzVM, and the Name of get-azdisk results seem match what I had set before.

if you could  unify the format of resource ID in all commands, that would be very helpful.

PS C:\WINDOWS\system32> $vm= Get-AzVM
PS C:\WINDOWS\system32> $vm.Id

/subscriptions/xxxxxxxx-xxxx-xxxx-xxxx-x

[2020-11-16 12:39] MCKLMT commented on #13096
I can confirm that I encounter the same issue in French. Doing the same trick does work for me as well. I'm on the last release (v5.0.0).

[2020-11-16 13:02] mcurko opened #13517 "Unable to login with Connect-AzAccount"
I installed the latest Az modules, and can't log in to Azure.

(this issue is in reference to https://github.com/Azure/azure-powershell/issues/13419)

[code]

[2020-11-16 14:14] aydeisen commented on #11524
Perfect.  Thank you

[2020-11-16 16:21] alex-frankel commented on #10838
As we are planning to migrate blueprint definitions to template specs, and because template specs are an RG-scoped resource instead of an MG-scoped resource, this is not something we are going to fix. If it any point, it becomes a blocking issue, let us know and we can revisit this decision.

Since the status as "won't fix" will not change, I'm going to close this issue.

[2020-11-16 16:21] #10838 closed

[2020-11-16 16:21] #11146 closed

[2020-11-16 17:27] Splaxi commented on #13247
Any updates on this issue?

[2020-11-16 17:27] Splaxi commented on #13448
Any updates on this?

[2020-11-16 17:31] jcaton-msft opened #13520 "Set x-ms-correlation-request-id header"
## Enable a way to get or set the Http request header x-ms-correlation-request-id

The ask is to provide a mechanism to set a value in the http header when a rest full call is made to ARM by a cmdlet invocation. We need a guarantee that all the restful calls associated with any cmdlet call will set the header if specified. Thus this invocation this will impact all cmdlets available that talk with

[2020-11-16 18:24] TylerLeonhardt commented on #7752
@AnatoliB @Francisco-Gamino @ankitkumarr heads up, this new cmdlet can replace the code here:

https://github.com/Azure/azure-functions-core-tools/blob/be1b76f4b961e37b351aff6aaf74cf2b29dd7bbd/src/Azure.Functions.Cli/Actions/AzureActions/BaseAzureAction.cs#L280-L284

[2020-11-16 20:28] EricHerlitz commented on #13145
Restarting VSCode resolved this issue for me

[2020-11-16 21:38] Francisco-Gamino commented on #7752
Thanks @TylerLeonhardt for the heads up. I have opened https://github.com/Azure/azure-functions-core-tools/issues/2298 to track this.

[2020-11-16 23:04] artmasa commented on #7166
When will this resource type return a valid resource structure?
[code]

Is it that hard to fix? it's been more than 2 years

[2020-11-17 00:21] VeryEarly commented on #13377
fixed in #13456

[2020-11-17 00:21] #13377 closed

[2020-11-17 02:05] isra-fel commented on #13123
Reopening for triage

[2020-11-17 03:08] Youri970410 opened #13522 "One Issue for Az.DeploymentManager"
## Description

Install the 'Az.DeploymentManager' module and test the Cmdlet 'Get-AzDeploymentManagerArtifactSource'.But the error message shows that the service failed when deserializing the response.

## Steps to reproduce

[code]

## Environment data

[code]

## Module versions

[code]

## Error output

[code]

[2020-11-17 03:15] dingmeng-xue commented on #13522
Debug output
[code]

[2020-11-17 03:16] dingmeng-xue commented on #13522
Service team, please help to look into this problem.

[2020-11-17 04:46] dingmeng-xue commented on #13516
Compute team, please help look into this question.

[2020-11-17 06:06] isra-fel commented on #13127
Hi, this issue was fixed by #13317 and the new Az.KeyVault module will be released later today.
Let me close the issue for now. Thanks

[2020-11-17 06:06] #13127 closed

[2020-11-17 06:47] msJinLei commented on #10667
Another failed test case
[code]

[2020-11-17 07:28] isra-fel opened #13526 "[KeyVault] Selective key restore"
## Description

Restore a key vault key from a managed HSM full backup.

## Details

Swagger: https://github.com/Azure/azure-rest-api-specs/blob/master/specification/keyvault/data-plane/Microsoft.KeyVault/preview/7.2-preview/backuprestore.json#L220

.NET SDK: https://github.com/Azure/azure-sdk-for-net/blob/master/sdk/keyvault/Azure.Security.KeyVault.Administration/src/KeyVaultBackupClient.cs#L222

[2020-11-17 09:06] o-l-a-v opened #13527 "Get-AzAccessToken fails when specifying resource url for ARM"
## Description & Steps to reproduce

Using Az.Accounts v2.2.0.

```Get-AzAccessToken``` gives me a access token to resource ```https://management.azure.com/```, no problem. I decoded the access token from base64 to see the resource.

```Get-AzAccessToken -ResourceUrl 'https://management.azure.com/'``` however fails.

[code]

Which is a bit odd?

## Environment data

[code]

## Module versions

[co

[2020-11-17 11:29] aleksandrshvets opened #13529 "Inconsistent status returned by Get-AzSqlDatabaseImportExportStatus"
Az.Sql 2.11.1
PowerShell 7.0.3

According to [documentation](https://docs.microsoft.com/en-us/azure/azure-sql/database/database-import?tabs=azure-powershell#using-powershell) the status of database import operation could be verified by checking `Status` field of the object returned by Get-AzSqlDatabaseImportExportStatus cmdlet.
[code]
However the values of `Status` field can also be: "Pending" and

[2020-11-17 11:35] yossi-y commented on #12438
Adding @yoramsinger .

We will go with option #1. I opened a bug on the team to fix: Bug (https://msazure.visualstudio.com/DefaultCollection/One/_workitems/edit/8824222) Control plane - Incorrect ClusterErrorResponse definition in cluster swagger.

Once we have the .NET SDK updated, do we need to update PowerShell package as well?

[2020-11-17 12:18] alexandair opened #13530 "WARNING: Unable to acquire token for tenant 'organizations'"
Why are we seeing this warning message when we run `Connect-AzAccount` in Az PowerShell v5.x?

[2020-11-17 12:24] o-l-a-v commented on #13527
Also, the ExpiresOn property doesn't seem to work correctly.

![image](https://user-images.githubusercontent.com/6450056/99389993-34464700-28d8-11eb-8611-bdb4aa60cd96.png)

[2020-11-17 12:32] alexandair commented on #13527
The following commands return the token for me (with a proper ExpiresOn property value) after DeviceCode authentication using an account that has access permissions at the subscription level.

[code]

[2020-11-17 13:16] mikejwhat commented on #9141
Fixed in 5.1.0

[2020-11-17 13:17] mikejwhat commented on #9141
(FollowNextPageLink param)

[2020-11-17 13:49] ToMakeSense commented on #9141
@mikejwhat Three cmdlets return only 30 entries in total, it will be much better if you could get the other two fixed.

- [X] Get-AzLogicAppRunHistory
- [ ] Get-AzLogicAppTriggerHistory
- [ ] Get-AzLogicAppRunAction

[2020-11-17 13:53] o-l-a-v commented on #13527
Alright, so it only seems to happen when I use Azure PowerShell with GUID ```1950a258-227b-4e31-a9cf-717495945fc2``` to authenticate, where I first use a refreshtoken to create access tokens to various APIs.

[code]

After that, the problems appear.

This however seems to work as expected.

[code]

[2020-11-17 14:22] erich-wang commented on #13530
@alexandair, could you please share the debug stream by running `$DebugPreference='Continue'` first?

[2020-11-17 14:39] erich-wang commented on #13517
@mcurko , could you please first run `Clear-AzContext` and try `Connect-AzAccount`?

If the issue remains, please manually delete files .Azure\AzureRmContext.json and .Azure\AzureRmContextSettings.json under your user profile folder, normally your profile folder would be:

Windows: c:\users\yourname\
Linux: /home/yourname/

[2020-11-17 15:25] michaelmaillot opened #13531 "WebApp:[Documentation] New-AzAppServicePlan cmdlet missing -Linux parameter"
The New-AzAppServicePlan [documentation](https://docs.microsoft.com/en-us/powershell/module/az.websites/new-azappserviceplan?view=azps-5.0.0) for the last version of the module is missing the property for "Linux" and so provides no details about its availability.

[2020-11-17 15:49] alexandair commented on #13530
@erich-wang

[code]

[2020-11-17 16:01] mcurko commented on #13517
After Clear-AzContext it worked. Very interesting, I haven't changed anything and now it workes.

[2020-11-17 20:30] ktdixit opened #13533 "Add-AzWebAppAccessRestrictionRule: Unable to use ServiceTag"
Hi,

My requirement is to add the Service Tag in the AzureFunction instead of adding all the IPs.

Below script is not working. Please suggest what am I missing? I am using this in AzureDevOps Services Release Pipeline as Azure Powershell Task (v5.0)

**_Add-AzWebAppAccessRestrictionRule -ResourceGroupName $AzureResourceGroupName -WebAppName $AzureFunctionAppName -Name ServiceTagRule -Priority 100

[2020-11-17 22:10] alex-frankel commented on #9547
Unfortunately, there are no plans to add the `Remove-AzBlueprint*` cmdlets given the upcoming plans to move Blueprint Definitions to Template Specs.

[2020-11-17 22:10] #9547 closed

[2020-11-17 22:39] Manikanta455 commented on #13145
I also had the same issue. ran this command and it resolved.
set-executionpolicy remotesigned

[2020-11-17 22:45] amjads1 commented on #13516
Assigning to Avi to look into the issue.

[2020-11-18 00:15] rahuldutta90 commented on #10667
@msJinLei  Ack. For now i will send out a pr to disable the specific tests related to GetFileProperties to reduce the getfileproperties failure

[2020-11-18 03:57] erich-wang commented on #13517
One guess is token cache is broken somehow, we'll investigate if we could reproduce it.

[2020-11-18 04:46] brendan-sherrin opened #13536 "Get-AzureADMSGroup for Az Module"
**## Description of the new feature**
Get-AzureADMSGroup for the Az Module

**## Proposed implementation details (optional)**
Make an eqivalent version of this command for the Az Module.

Specifically you can select Dynamic groups in the old module with a:
Get-AzureADMSGroup | Where-Object {$_.GroupTypes -like "DynamicMembership"}

There's no direct equivalent I've found in the new Az replacement

[2020-11-18 05:01] Sharmistha-Rai commented on #10546
This is an Azure Backup query. I see that @pvrk is already engaged on this thread. Please assign it a tag corresponding to Backup Team.

[2020-11-18 05:49] erich-wang commented on #13530
@alexandair , thanks for raising the issue. We noticed unclear error message is shown again in 2.2.0, we just released 2.2.1. Now it looks like if using Az.Accounts 2.2.1:
[code]
As to warning message `Unable to acquire token for tenant 'organizations`, I agree it is kind of disrupting, we'll take a look if we could eliminate it in such scenario.

[2020-11-18 06:24] erich-wang commented on #13527
@o-l-a-v, thanks for raising the question.

1. Please use `Get-AzAccessToken -ResourceUrl "https://management.core.windows.net/"`, current version doesn't support url alias yet, it only respects url from (Get-AzEnvironment).ActiveDirectoryServiceEndpointResourceId, we may do some enhancement later.
2. If using access token to connect-azaccount, get-azaccesstoken will simply return the token withou

[2020-11-18 06:36] erich-wang commented on #13423
@slavizh , I'm closing this issue as it should be resolved by PartnerCenter team. Please feel free to reopen this issue or file new issue  if you have any concern, thanks.

[2020-11-18 06:36] #13423 closed

[2020-11-18 07:05] erich-wang commented on #13361
The issue is related to ADFS, and it is a bug in MSAL.NET, Bogdan is investigating.

[2020-11-18 07:24] dingmeng-xue commented on #13533
Webapp team, please help to evaluate this feature request.

[2020-11-18 07:33] panchagnula commented on #13533
@madsd isn't support for this already complete?

[2020-11-18 08:10] wahyuen commented on #13533
Just tried the exact same command on v5.1.0 and received the same error

[2020-11-18 09:29] RationalSquash commented on #13240
Having the exact same issue with V 1.4.0

Didn't get the tempfile workaround to work, so i made my own for the time being

[code]

I don't know if this will work for large and complex JSON input, but for my case with simple nested lists, this works perfectly.

[2020-11-18 09:43] blueww commented on #12553
The issue is already resolve in latest Az.Storage module

[2020-11-18 09:43] #12553 closed

[2020-11-18 09:51] ktdixit commented on #13533
also suggest for any other command /script to add IPFilters based on "Region".

[2020-11-18 09:54] blueww commented on #11419
Close this issue since this is long time ago, and  this is actually a server issue and followed with mail.

[2020-11-18 09:54] #11419 closed

[2020-11-18 10:04] madsd commented on #13533
Support for ServiceTag through PowerShell was released two days ago, so the DevOps tasks and/or Agents has probably not been updated to reflect that. Try updating the Az module before running the command with: **Update-Module -Scope CurrentUser -Name Az**

Support for regions in the ServiceTag list should be added in Q1-2021

[2020-11-18 12:36] wahyuen commented on #12042
@MSEvanhi An update on our side, we have since removed the parameters all together from the deployment and we still have the exact same error.

Of note, since we have reworked to remove the parameter, the 'Deployment' on the Azure Managed Resource Group actually indicates it successfully deployed.

NB. these tests were run on v5.1.0 of Az Powershell

[2020-11-18 16:54] ChristopherGLewis commented on #13425
I can confirm this is happening, but also that it DOES NOT happen with AZ CLI

[2020-11-18 17:11] mciancia8 opened #13541 "Tokens still saved to TokenCache.dat file after Disable-AzContextAutosave"
Following steps to repo:

1. I start a new powershell window.
2. I login with my user account with 'Connect-AzAccount'
3. I remove all context with 'Clear-AzContext' (verified that TokenCache.dat file is deleted)
4. I run 'Disable-AzContextAutosave'
5. I login again with my user account with 'Connect-AzAccount'
6. I go to ~/.azure directory and see TokenCache.dat created and has tokens in it.

[2020-11-18 17:53] ktdixit commented on #13533
@madsd thanks for your response. Please note that below functionality is also not working with SubnetName: using AzurePowerShell 5.0 with Inline Script in AzureDevOps Services

Add-AzWebAppAccessRestrictionRule -ResourceGroupName $AzureResourceGroupName -WebAppName $AzureFunctionAppName -Name SubnetRule -Priority 100 -Action Allow -SubnetName **default** -VirtualNetworkName ******-***-***********-

[2020-11-18 20:41] TylerLeonhardt opened #13543 "[Az.TrafficManager] Can't update an endpoint on locked down systems (like SAWs)"
## Description

Locked down systems (like SAWs) use [ConstrainedLanguage Mode](https://docs.microsoft.com/en-us/powershell/module/microsoft.powershell.core/about/about_language_modes?view=powershell-7.1#constrained-language-constrained-language) to provide a "more secure" environment when working with production environments. Unfortunately, this also limits what PowerShell is able to do quite a bi

[2020-11-18 21:56] o-l-a-v commented on #13527
"management.core.windows.net" worked, thanks.

Was looking for the simplest way of finding out if a access token was expired, other than hitting an error when making a new request. Would be great if you could decode the jwt and find ExpiresOn if it's null.

[2020-11-18 23:19] dcaro commented on #13425
@armleads-azure can you please have a look?

[2020-11-19 00:40] trindels opened #13544 "Set-AzVirtualNetwork does not work while VNet Peers exist"
## Description

Set-AzVirtualNetwork produces error when VNet Peering exists with another VNet.  VNet Peering is Cross-Subscription, within same Tenant.  User running Set-AzVirtualNetwork does not have access to peered VNet.  VNet Peering settings are not being changed.

## Steps to reproduce

[code]

## Environment data

[code]

## Module versions

[code]

## Debug output

[code]

[code]

[code]

[2020-11-19 01:26] Drewm3 commented on #13516
This is something that is being investigated as a feature request for VMs. VMs were implemented in Azure Resource Manager before the design for storing resource group casing was implemented. So, VMs have used all uppercase names for resource groups when listing all VMs for a subscription.

I will mark this as a feature request for now, and we will update this item when we have a timeline for chang

[2020-11-19 01:34] dingmeng-xue commented on #13544
Network team, please help to look into this question.

[2020-11-19 01:42] dingmeng-xue commented on #13541
`Disable-AzContextAutosave` just disables saving profile files. But token cache still updates at that location. It is by design.

[2020-11-19 01:45] dingmeng-xue commented on #13536
@brendan-sherrin , thanks for your asking. According to the agreement between Az and AzureAD, Az only provides fundamental features around AAD. Please use AzureAD module for advanced or the latest feature.

[2020-11-19 01:49] #13536 closed

[2020-11-19 01:49] dingmeng-xue commented on #13531
Web App team, please look into this question. The doc should be updated.

[2020-11-19 01:51] dingmeng-xue commented on #13529
@aleksandrshvets , thanks for reporting. Could you provide debug message of `Get-AzSqlDatabaseImportExportStatus` execution? You can enable debug message via `$DebugPreference="Continue"`

[2020-11-19 02:12] dingmeng-xue commented on #13520
@dolauli , please check if there is way to enable this feature on generated cmdlet. We don't hope to change cmdlet one by one.

[2020-11-19 03:19] mciancia8 commented on #13541
Ok, So if that is by design, they why does it work this way.

1. I start a new powershell window.
2. I run 'Disable-AzContextAutosave'
3. I login again with my user account with 'Connect-AzAccount'
4. I go to ~/.azure directory and see TokenCache.dat has NO access tokens.

If I don't connect before running the disable command, then no access tokens are saved.

[2020-11-19 03:56] ChristopherGLewis commented on #13425
Forgot my module list:

[code]

[2020-11-19 05:47] erich-wang commented on #13530
@alexandair, good suggestion, we'll update it in next release.

[2020-11-19 08:04] erich-wang commented on #13504
The behavior is same in Az.Accounts 1.9.5, user need to run `DisConnect-AzAccount` first and then "Connect-AzAccount" again.
Change its priority to P2.

[2020-11-19 09:06] isra-fel opened #13548 "RunVersionController.ps1 doesn't work with Az.StackHCI"
## Description

`RunVersionController.ps1` will wipe out `RootModule` in psd1 and  generates a psm1 file from template.
But `Az.StackHCI` already has a psm1. If we run version controller on it, the psm1 file will be overwritten, and the module will not have any exported cmdlets.

## Cost
S

[2020-11-19 09:23] madsd commented on #13533
@ktdixit the error will occur whenever you add ServiceTag rules or have existing ServiceTag rules **and** are using an old Az PowerShell module (< 5.1.0).
PowerShell module versions are different from Azure DevOps PowerShell Tasks - Azure PowerShell has a release cadence of 3 weeks where the tasks/hosted agents are updated much more infrequent.
You can force update the version by adding a normal P

[2020-11-19 10:55] ktdixit commented on #13533
@madsd : Thank you very much for your quick response. It worked perfectly fine. Added 3 Tasks in AzureDevOps Release Pipeline (as Utility)

1. Powershell Task - Install-Module -Name Az -AllowClobber -Force -Scope CurrentUser
2. Azure Powershell Task - to add Multiple Custom IP Addresses
3. Azure Powershell Task to include Service Tag (AzureCloud) and Virtual Network Name

All worked fine.

[2020-11-19 10:55] #13533 closed

[2020-11-19 13:52] aleksandrshvets commented on #13529
@dingmeng-xue
Sure, here it is:
[code]

Just to clarify. The problem is not that import fails. The problem is that there is no documented way to wait until import is done.
`Status` field can have a set values which are indicates that import is still being in progress. And those values are not documented.

[2020-11-19 14:10] tejassumbha71 commented on #12958
how to update the same for azureautomation account

[2020-11-19 15:41] gerrylaenen commented on #13360
Hi, sorry for the late reply. AzureRm and AzureAD are compatible, both
running on Windows Powershell 5.1. The Az module did not run in Windows
Powershell, I had to import AzureAD in compatibility mode to use it. Which
in fact is a different PowerShell session that does not have access to
certain types etc...

When AzureAD is available in Powershell 7, I'll switch back to Az but for
the moment stic

[2020-11-19 15:41] Agazoth commented on #13405
We have limited access to the customer tenant. New-AzSubscription has been working just fine until updating to 0.8.0. We really want to update to 0.8.0, but we also need to ask the customer for sufficient access to reveal:
[code]
in order to get this:
[code]
Our current access does not allow us to get this information and we are in the middle of implementing a new CAF/CCoE setup.

We do not want t

[2020-11-19 16:51] jformacek commented on #13096
This one hit me as well.
@dagoroz: Looking for fix that added InvariantCulture format provider for parsing, I'm still wondering why the code that processes version info relies on parsing version string as double? I would say it should parse it and handle it as System.Version, something like:
[code]
That's why I don't consider the fix as appropriate because it still keeps mixing together things tha

[2020-11-19 21:52] allegradomel commented on #13544
@altambaw can you help investigate? Thanks!

[2020-11-19 23:50] JimGBritt commented on #12613
@asears - I can no longer repro this after the latest version of Az Cmdlets.  Can you confirm as well on your side?  Heads up there was a big change in the way that az cmdlets handle auth, etc.  This completely broke scripts I had created that were using REST API Auth Tokens - I have remediated those and things are functioning.  However, my initial repro no longer repros at this point so I think t

[2020-11-19 23:54] DiscoveringWorld commented on #13379
So we are waiting for release soon or in several months ?

[2020-11-20 00:30] Francisco-Gamino commented on #13379
Hi @DiscoveringWorld -- I just had a sync with @stefanushinardi and we are trying to prioritize this work item. I will provide you with an ETA sometime next week.

[2020-11-20 03:26] DiscoveringWorld commented on #13379
Actually i used the portal to solve but for others peoples want to use
powershell to make functions, i think it will be a good idea to be fixed
soon.

Le jeu. 19 nov. 2020 19 h 30, Francisco Gamino <notifications@github.com> a
écrit :

[2020-11-20 08:34] amergey commented on #11911
Hi @github-2407 sorry to come back with this, but ubuntu marketplace image seems to be published without plan info, as for a scale set pointing to marketplace ubuntu images it is possible to change sku

[2020-11-20 10:21] ktdixit opened #13553 "WebApp:Remove-AzWebAppAccessRestrictionRule.md in AzureDevOps Services"
I want to use below 3 commands in AzureDevOps Services. Please guide how to use this:

I am installing Powershell Module as a 1st Task: Install-Module -Name Az -AllowClobber -Force -Scope CurrentUser

**#1: Removing existing IPRule**

_Remove-AzWebAppAccessRestrictionRule -ResourceGroupName $AzureResourceGroupName -WebAppName $AzureFunctionAppName -Name MultipleIpRule_

**#2: Removing the ServiceT

[2020-11-20 10:23] motasem13 opened #13554 "Add"
## Description of the new feature

if I made a request https://resources.azure.com/subscriptions/5f4e1a53-5073-41cc-a037-fc5a271ee6c2/resourceGroups/MutasemDNC/providers/Microsoft.Web/sites/MutasemDNC%20%20%20%20%22

I can get a list of the possibleInboundIpAddresses%22:%20%2213.69.68.37%22,

doing a get-azwebapp its not showing this probability
https://docs.microsoft.com/en-us/powershell/module/a

[2020-11-20 14:02] dingmeng-xue commented on #13554
Web App team, please help to look into this feature request.

[2020-11-20 14:03] dingmeng-xue commented on #13553
WebApp team, please help to look into this question.

[2020-11-20 15:07] jeffwmiles commented on #11504
This issue doesn't appear to be resolved by the fix on #12283 - when I repeat the test (with Az.Automation module 1.4.0 on PowerShell Core 7.1 now), I do see the debug output is modified:
![powershellerror_1](https://user-images.githubusercontent.com/40004712/99814849-c92e8780-2b06-11eb-8386-50bfe88a4698.png)

However the output is still malformed (although not actually null):
![powershellerror_2]

[2020-11-20 16:17] bgavrilMS commented on #13467
This is probably a bug in MSAL (not exactly sure if MSAL.Python or MSAL.NET)

CC @henrik-me

[2020-11-20 17:35] ctaggart commented on #13520
@jcaton-msft, is this for [instrumentation and tracing across services](https://github.com/Azure/azure-resource-manager-rpc/blob/master/v1.0/Addendum.md#instrumentation-and-tracing-across-services)? According to the documentation, that is what `x-ms-client-request-id` is for.

[2020-11-20 18:53] jeffdmipshell commented on #13359
Deleteting the two files also worked for me.

[2020-11-20 19:42] github-2407 commented on #11911
Hi @amergey, yes it's possible to change SKU for Ubuntu as there is no plan information.

The[ endorsed Linux distros ](https://docs.microsoft.com/en-us/azure/virtual-machines/linux/endorsed-distros) don't require plan information and hence their SKUs can be updated

[2020-11-20 20:37] avirishuv commented on #11896
Good to know that the issue was fixed. Closing the issue now, but feel free to reopen if you have additional questions on this topic.

[2020-11-20 20:37] #11896 closed

[2020-11-20 22:29] Francisco-Gamino commented on #13379
Hi @DiscoveringWorld -- Great to hear that you were able to create the function app via the Portal. I agree, we should fix this soon.

[2020-11-21 02:26] rayluo commented on #13467
For the repro steps:

Would you mind to first manually find and delete the msal token cache file from disk before step 1, to have a fresh start; and then make a copy of the token cache file after each step, and then send those snapshot files to @bgavrilMS and/or me?

[2020-11-21 08:41] michaelmaillot commented on #13360
@gerrylaenen I'm currently using both Az and AzureAD modules in PowerShell 5 (currently 5.1.18362.752). Below a screen for example.

![image](https://user-images.githubusercontent.com/44271458/99871805-a4f1aa00-2bdd-11eb-868c-03d1998c88f9.png)

[2020-11-22 10:00] martingbrown commented on #10256
This is related to #13529

[2020-11-22 10:11] martingbrown commented on #10256
@sredman Who knows? With a total lack of any documentation about what the fields in the response can contain it's anyone's guess. Currently I'm deploying the database by hand, but my next move I think will be to try deploying it with SqlPackage.exe.

[2020-11-22 11:15] clatini opened #13560 "Connect-AzAccount fails when explict ADFS credential is used"
## Description
I'm unable to connect to Azure using Connect-AzAccount with -Credential parameter when the credential refers to an ADFS user.
## Steps to reproduce

[code]
The interactive login without -Credential parameter works fine.

## Environment data

[code]

## Module versions

[code]

## Debug output

[code]

## Error output

[code]

[2020-11-22 11:23] martingbrown commented on #13529
I've been getting this on my Azure DevOps deployment, but have been unable to reproduce it on my local machine. It seems that the versions of Az.Sql are different 2.10.0 on Azure DevOps and 2.1.2 locally. I decided to do a bit of digging in the code and I think this may be a regression that was introduced with commit 56dbaa9e.

`ImportExportDatabaseAdapter.GetStatus(string)` was switched from call

[2020-11-22 13:21] amitbiton1988 commented on #10842
Hi,
'default' is a parameter used for old API version. the current Powershell uses new api version which contains defender plan name and pricing tier, here is the relevant documentation: [Set-AzSecurityPricing](https://docs.microsoft.com/powershell/module/az.security/set-azsecuritypricing?view=azps-5.1.0).

[2020-11-22 17:01] stefanstranger commented on #7752
I just tested the Get-AzAccessToken cmdlet and I really like to use it in many of the Azure REST API calls I make. Any reason it doesn't contain Subscription information? Now I still have to use the Get-AzContext cmdlet to get that info. Many Azure REST API call require the Azure Subscription ID in the uri. If I still have to use the Get-Az Context cmdlet I can also get the Access Token from that

[2020-11-22 17:11] TylerLeonhardt commented on #7752
I think it just mirrors the behavior that's been in AZ CLI for a while.
[code]
Does the same AFAIK.

[2020-11-23 06:11] shawnxzq commented on #12550
Shared solution to customer and no further feedback from customer, close the issue.

[2020-11-23 07:16] zesluo opened #13561 "[Synapse] Add a Remove-AzSynapseSqlPoolRestorePoint cmdlet"
Guidelines
Do your cmdlets comply with the design guidelines outlined in the PowerShell Design Guidelines document?

Y
Service Release Details
Is this an Embargoed Preview, A Public Preview, or a General Release?

Public Preview
What is the expected service release date?

2020-11
Contact Information
Main developer contacts (emails + github aliases)

zesluo@microsoft.com;
PM contact (email + github

[2020-11-23 07:24] #13561 closed

[2020-11-23 07:56] shawnxzq commented on #13231
@bergmeister ADF doesn't support the "-WhatIf" switch yet, we will try to add the support later, thanks for the feedback.

[2020-11-23 08:06] shawnxzq commented on #13319
@nivohavi This is usually some of the triggers include some invalid properties, could you please try to get the triggers one by one, and share the json code of the problematic one? you can get the json code for the problematic one in UX, thanks a lot!

[2020-11-23 08:11] shawnxzq commented on #13264
@JacobBogossian Thanks for your update, we have coded the fix for this issue, however, it still needs some time to be deployed, and you should be able to get the fix next month, thanks for your patience on this!

[2020-11-23 08:22] bergmeister commented on #13231
You missed the point: That ADF cmdlet already wrongly declares support for WhatIf but does not implement it, which is a severe bug. At the minimum you need to turn the WhatIf option for that cmdlet off right now by setting `SupportsShouldProcess=false` in that cmdlet.

[2020-11-23 08:38] shawnxzq commented on #13231
@bergmeister Yes, we will firstly disable it and then try to add the support ASAP, thanks for the further comment on this.

[2020-11-23 08:50] erich-wang commented on #13560
@clatini , thanks for reporting the issue. This is a bug in underlying library, we're working with corresponding team to get fix, will update you if any progress.

Meanwhile, could you please rollback to Az 4.8 if you don't have to use features in Az 5.*:
1. Close all PowerShell sessions, and start PowerShell
2. Uninstall Az modules
[code]

[2020-11-23 08:56] shawnxzq commented on #13383
@xumou-ms Could you please help this issue? Thanks!

[2020-11-23 08:57] erich-wang commented on #13361
Close this issue as it is duplicate with #13560 which has detail trace. We're working with Identity team to get fix.

[2020-11-23 08:57] #13361 closed

[2020-11-23 09:12] xumou-ms commented on #13383
@fbuser1 Sorry, for a security reason. The cmdlet only supports PowerShell 7.0 or higher. Please refer the [latest official doc](https://docs.microsoft.com/en-us/powershell/module/az.datafactory/new-azdatafactoryv2linkedserviceencryptedcredential?view=azps-5.1.0).
Can you try with PowerShell 7 and let me know if the issue can be resolved?

[2020-11-23 09:30] fbuser1 commented on #13383
I've tried with latest stable PS (7.1), got blank error in output. No option to get error message

Version : 7.1.0

PS C:\Users\xxx\xxx\xxx\xxx\DataFactory> New-AzDataFactoryV2LinkedServiceEncryptedCredential -DataFactoryName "xxx-df-xxx" -ResourceGroupName "xxxx" -IntegrationRuntimeName "IRAgent" -DefinitionFile ".\xxxx.json" -Force -Verbose
VERBOSE: Performing the operation "Encrypting the conne

[2020-11-23 09:52] erich-wang commented on #7752
@stefanstranger, actually we thought the possibility of outputing SubscriptionId, considering outputting SubscriptionId may result in confusion that token is only valid to that subscription, so we decided not outputting current subscription id at moment.

[2020-11-23 11:19] mpriem commented on #10497
+1

And I would like to add that this is quite necessary as importing the AzureAD module in Azure Functions (PS) is not working properly, so one has to jump to quite some hoops to get additional information on the users when using Function apps with PowerShell.

[2020-11-23 12:28] stefanstranger commented on #7752
OK. Thank you for explaining the reasoning.

Stefan

[2020-11-23 12:42] amtayyem commented on #12451
When the storage account is behind a firewall/Vnet, storage access keys cannot be used to connect to the storage account.
Azure SQL services can get access to the storage account by using the SQL server's managed identity.
If you're using powershell or ARM templates, the steps that should be taken here (which the portal does for you):
1. Create a managed identity for the SQL server (if it doesn't

[2020-11-23 13:05] xumou-ms commented on #13383
Can you try run the command with option `-debug` and paste the output here? Thanks.

[2020-11-23 13:12] Kotasudhakarreddy commented on #13509
@kokosandim - you receive that error when the given `Name` in `-RoutingRule`  attributes is invalid/ not exist. please correct and try again. If you still face the issue please run the command with `-debug` and update the issue debug log.

[2020-11-23 13:15] Kotasudhakarreddy commented on #13531
@ThejaChoudary- please update the doc and publish.

[2020-11-23 13:23] Kotasudhakarreddy commented on #13553
@ktdixit - Could try them individually and check at which step it is failing to deserialize. And also provide the  debug log by adding `-debug` and run the command .

[2020-11-23 13:28] fbuser1 commented on #13383
[code]

[2020-11-23 13:36] Kotasudhakarreddy commented on #13554
@motasem13 - at this moment API is not returning the` possibleInboundIpAddresses`.  Will add it to our backlog and we will work on this with API team.
@panchagnula - FYI.

[2020-11-23 13:49] madsd commented on #13553
@ktdixit If you run Resolve-AzError after each command you should get the specific error message and stacktrace. That would be helpful

[2020-11-23 14:05] Msanzdelrio commented on #13405
Hi, can we get any clarfication on what the AliasName parameter is used for? Also, how is the offertype specified in this new version? Thank you!

[2020-11-23 14:17] Agazoth commented on #13405
I figured out that billingAccountName is the id of the billing account in the Enterprise portal. Likewise, accountId is the id of the enrollment account in the Enterprise portal. Once you have these 2 id's, you can build the string needed for -BillingScope.

On top of that, you need to run New-AzSubscriptionAlias in the context of the accountId, so you need username and password of the correspondi

[2020-11-23 15:37] eazykiel commented on #12050
So we cannot call a runbook created in the azure runbook automation account? it has to be 100% local on the VM?

[2020-11-23 16:17] avirishuv commented on #12906
Quick update: the fix for this issue is currently being worked on.

[2020-11-23 16:18] cb55555 commented on #12050
My intention was to call a Powershell script file that already existed on the remote VM that I was trying to automate through a runbook. My runbook was designed to be generic one where you could just pass as an argument any arbitrary path to a Powershell script that's already located on the VM and have it executed in the context of the remote VM.

As it turns out,  Invoke-AzVMRunCommand can only t

[2020-11-23 16:29] avirishuv commented on #13178
@o-l-a-v thanks for the update about your workaround. We will be updating the public doc to reflect that sometimes the power state may be missing due to reliability.

[2020-11-23 16:29] eazykiel commented on #12050
Understood. Thank you very much for your update. Im trying to do something similar and i will probably end up using an hybrid worker which will provide me more with flexibility.

[2020-11-23 16:31] salex89 commented on #11464
I'm not sure if I'm also doing something wrong, but with `az` cli version `2.15.1`, I'm having the same issues. I can't check for incremental copy progress because of this `OperationNotAllowedOnIncrementalCopyBlob` error (and there is no other documented way), and afterwards when I try to start a copy with a newer version of an exported incremental snapshot as a source, I get and `InternalError`.

[2020-11-23 17:03] xumou-ms commented on #13383
According to the payload, you didn't enable remote access of the IR. It's required for this cmdlet. You can refer [this](https://docs.microsoft.com/en-us/azure/data-factory/create-self-hosted-integration-runtime#high-availability-and-scalability) to enable it.

The restriction of AZ module is due to limits of .NET Standard. So if you don't want to enable remote access and/or want to use powershell

[2020-11-23 17:08] cb55555 commented on #12050
Just keep in mind that using a hybrid worker merely changes where the runbook script executes--your own VM instance vs. a Azure-managed instance. In my case, each of the VMs that I wanted to automate is its own hybrid worker. This **may not** be best practices, but I have only 3 VMs to manage, and this simplified things greatly. If you are designating one VM as the hybrid worker to automate other

[2020-11-23 17:56] kokosandim commented on #13509
@Kotasudhakarreddy - thanks for the answer
nothing wrong with the `name` or `routing rule` because this command works after doing manual changes in azure portal

debug output attached in file:
[outputAppFuncError_1.txt](https://github.com/Azure/azure-powershell/files/5584826/outputAppFuncError_1.txt)

and after that, I changed manually directly in azure portal function deployment slot routing rule

[2020-11-23 19:31] Sandido commented on #12906
This bug has been [fixed](https://github.com/Azure/azure-powershell/pull/13437/files). This fix will be released to customers on 12/04.

[2020-11-24 04:56] #12190 closed

[2020-11-24 04:56] #13366 closed

[2020-11-24 05:20] dragonfly91 commented on #13544
I'm facing the same issue. Is there a workaround for this?

[2020-11-24 06:36] DDexheimer commented on #13544
I was able to work around the issue by dropping back to az.network module 4.1 (I (re)moved the 4.3 folder found in C:\Program Files\WindowsPowerShell\Modules\Az.Network which forced 4.1 to be used).  I'd love to know if there was an easier way to force a module version to be used, but this got me past the immediate issue.

[2020-11-24 08:00] jformacek opened #13573 "Get/New-AzRoleAssignment produces error when called as SPN"
## Description
When calling Get/New-AzRoleAssignment as SPN, comand fails and produces this error:
`Exception of type 'Microsoft.Rest.Azure.CloudException' was thrown`

The same command called as user with the same permissions succeeds.

## Steps to reproduce
Let's have AAD Management group MG, User account UA and service principal SPN.
Let's assign Owner role to UA and to SPN on the MG.
Then let'

[2020-11-24 09:37] shiva0010131 commented on #12840
Hi Team,

Any update on this ? I am also having similar issue.

[2020-11-24 09:37] stefanpetter commented on #13573
I have the exact same problem! I am trying to assign a policy with an identity and then give that identity the permissions it needs. Logged in as a service principaI that is owner on the subscription.

[code]
The role assignment results in:
![MicrosoftTeams-image (1)](https://user-images.githubusercontent.com/57794508/100076001-fb125780-2e40-11eb-976c-36f2e2f1460a.png)

I ran a HTTP listener on my

[2020-11-24 09:39] dingmeng-xue commented on #12675
Close this issue to inactivity. Please contact us if you have further feedback.

[2020-11-24 09:39] #12675 closed

[2020-11-24 09:40] dingmeng-xue commented on #12604
I'm closing this issue. Please contact us if you have further question.

[2020-11-24 09:40] #12604 closed

[2020-11-24 09:43] dingmeng-xue commented on #12788
@Garima-msft , could you share debug log when you execute Get-AzResource? You can enable log via `$DebugPreference="Continue"`

[2020-11-24 13:20] kolexinfos commented on #11293
@Sharmistha-Rai Do you have any feedback on this yet?

[2020-11-24 13:56] Agazoth commented on #13405
Another  issue has surfaced. Now we have to figure out, how to do Connect-AzAccount with the Username/Password of the Enrollment Account :-(

[2020-11-24 14:17] Sharmistha-Rai commented on #11293
Hi @kolexinfos - we haven't been able to prioritize yet, due to bigger items on our plate. I will keep this thread updated in case there is any news for the work on this item.

[2020-11-24 15:52] jformacek commented on #13573
And meanwhile, we found a root cause and fix/workaround: seems that command tries to talk to legacy AAD Graph API and resolve objectIDs, and this return Forbidden error
We added permission `Directory.Read.All` application permission to app registration and it started working.
It's kind of shame that Az cmdlets still use the legacy API that has been discouraged for few years now. Also, the document

[2020-11-24 16:21] stefanpetter commented on #13573
This worked like a charm. Thank you very much for sharing. Hopefully, they'll fix this asap.

[2020-11-24 16:56] esalazar1216 opened #13577 "Error add subscription to management group - Powershell (New-AzManagementGroupSubscription)"
## Description
In the company I work for, I am the account owner of a department within the Azure hierarchy, at the EA portal level, I have the privileges of Account Owner and Administrator. Subscription creation is very dynamic in the company, so we use Az-cli code and Popwershell for this need. I have an error when trying to move a subscription of the offer type MS-AZR-0017P, which are for produ

[2020-11-24 17:06] NecroFilja opened #13578 "Tag value containing date as string is converted for image versions"
Hello,

To mark related resources we add special tag "created" containing date as string value, for example "2020-12-14T06:08:28Z".
When querying different resources we receive the same tag value set as different value, so we could not match them.
For example for image versions:
$image = Get-AzGalleryImageVersion  -Name "image-version-name"
$image.Tags
shows
created 12/14/2020 06:08:28

for keyvau

[2020-11-24 18:37] Sandido commented on #13213
I've created a [work item](https://msazure.visualstudio.com/One/_workitems/edit/8867395) to track this bug. We will pick it up when we have bandwidth.

[2020-11-24 20:23] Tornhoof opened #13579 "[Question] Did the Behaviour of Restart-AzVM change from sync to async?"
## Description
Recently one of my automated test scripts for a web application started failing constantly, after working fine for 2-3 years (I once migrated from the old AzureRM namespace). The script does the following steps:
1. Setup VM (Image Windows2019-datacenter-latest)
2. Add IIS, Enable WinRM
3. Restart AzVM (via Restart-AzVM -ResourceGroupName $resourceGroup -Name $vmName)
4. Run a few op

[2020-11-24 22:14] Sandido commented on #13053
The Dev team is working on the fix. It is currently out for review.

[2020-11-25 01:58] dingmeng-xue commented on #11782
@TheOnlyWei , please check again.

[2020-11-25 02:00] dingmeng-xue commented on #13010
Hi @bganapa , do you still see the same error in the latest Az.Accounts?

[2020-11-25 03:08] isra-fel opened #13583 "`Get-AzKeyVaultKey "vaultName" "keyName" -IncludeVersions` throws "Parameter set cannot be resolved""
## Description

When you run `Get-AzKeyVaultKey` and omit the parameter names (because they are positional so it should be OK to do that), an error "Parameter set cannot be resolved" is thrown.

## Steps to reproduce

[code]

## Environment data

[code]

## Module versions

[code]

## Debug output

[code]

## Error output

[code]

[2020-11-25 03:10] isra-fel commented on #13583
Root cause: in `Get-AzKeyVaultKey` some parameters cannot be positional, otherwise some parameter sets are unable to distinguish, for example these two:

[code]

Planned fix: make `-ResourceId` not positional

[2020-11-25 03:13] isra-fel opened #13584 "`Get-AzKeyVaultKey -IncludeVersions | Update-AzKeyVaultKey` only updates latest version"
## Description
`Get-AzKeyVaultKey -IncludeVersions | Update-AzKeyVaultKey` only updates latest version, it should update all versions

## Steps to reproduce

[code]

## Environment data

[code]

## Module versions

[code]

[2020-11-25 03:15] isra-fel commented on #13584
Root cause: in the input object parameter set, `Update-AzKeyVaultKey` does not read version from the object, but uses the version from parameter. So it only updates the default (latest) version.

Planned fix: use the version in input object

[2020-11-25 04:04] blueww commented on #11464
@salex89

From your description, this looks more like a server issue, as the error is from server.
For Server issue, you can open an incident in portal as following picture.
Please attach the detail network trace of the failure request to the incident (or at least requestID, account name, container name, blob name, UTC time, ) , so server team can find the necessary information to investigate this

[2020-11-25 05:02] dingmeng-xue commented on #13579
Compute team, please help to look into this question.

[2020-11-25 05:11] dingmeng-xue commented on #13578
@NecroFilja , thanks for your question. The data format should follow UTC. Could you share the debug message when you execute `$image = Get-AzGalleryImageVersion -Name "image-version-name"`? You can enable it via `$DebugPreference="Continue"`.

[2020-11-25 05:16] dingmeng-xue commented on #13577
According to error message, it seems true that you need sufficient permission to add subscription to management group.

Regarding to your concern, we believe "subscriptions/" is not required. Please reference example https://docs.microsoft.com/en-us/powershell/module/az.resources/new-azmanagementgroupsubscription?view=azps-5.1.0#example-1--add-subscription-to-a-management-group

Please let us know

[2020-11-25 05:36] dingmeng-xue commented on #13573
@jformacek , thanks for your reporting and solution. Could you share us more about legacy AAD graph API? We checked the latest Azure.Graph.RBAC which is using 1.6 as well.

Are you thinking we should use graph.microsoft.com?

[2020-11-25 05:44] bganapa commented on #13010
We tried to repro and we could not repro in a purely disconnected environment

The error might have happened  when the MSAL cache is already populated with azure login information and then the environment was taken out of network. The MSAL cache now has the connected environment information as well and might have failed.

The solution for for this issue is to clear the cache. I believe we can clos

[2020-11-25 05:44] #13010 closed

[2020-11-25 05:52] dingmeng-xue commented on #13541
@mciancia8 , this behavior is related to previous Az.Accounts 1.x. We had released new version of Az.Accounts with MSAL in October. This issue should not be experienced in the latest version.  Please try the new version and check it.

[2020-11-25 05:57] dingmeng-xue commented on #13517
I'm closing this issue. @mcurko , please contact us if you have further asks.

[2020-11-25 05:57] #13517 closed

[2020-11-25 06:21] mciancia8 commented on #13541
So I have version 5.1.0 installed, is that the latest version you are referring to?

If so, I ran the same steps from both posts I have made and I still see the same issue. If I follow my first post, the file has access tokens and if I follow the steps from my second post, it has no access tokens in it.

So back to your first post, you said that tokencache.dat should be updated since its by design