[2018-06-07 09:02] sjwaight opened #6415 "New-AzureRmTag does not URL escape special characters in values, resulting in BadRequest."
### Description

When attempting to create a Tag with a value that contains an ampersand you receive a 'BadRequest' response and the value is not created. The same value can be set via the Portal, however.

It appears the string is being passed directly to the underlying API call and as it is inlined in a URL it causes a problem on the ARM API, resulting in a 500 Internal Server Error (YSOD) from

[2018-06-07 09:56] rkluijt commented on #6337
Dear Ejarvi,

Thanks for the workaround I will try this later today.
Keep you posted on this.

Kind regards
Robni

[2018-06-07 10:09] rkluijt commented on #6337
Hi Ejarvi,

Nope. the 2nd wordaround didn't work. Will have a look into the AAD parameters and hopefully I can get this working.

Keep you posted again.

Kind regards
RObin

[2018-06-07 12:36] codeevaluator commented on #6414
If I use older versions it works as intended.
[code]

[2018-06-07 12:48] whiggs commented on #6214
So just to be 100% clear, this occurs on **ANY** machine that does not have azure installed on it already.  I use vagrant to quickly spin up and tear down test environments to use for deploying scripts, and this occurs **every single time** I run the script on a freshly spun up vm.  But I will run the command if that will assist in fixing the issue.

[2018-06-07 13:00] sjlayton opened #6416 "Timeouts on Start-Azurermvmss"
We have a release pipeline in VSTS to update our virtual machine scale set which is configured with two environments. The first environment creates a temporary VM, deploys our site code to it and then captures the VM as an image. The second environment stops the scale set, updates the scale set definition with the image created in the first environment and then updates the scale set machines to us

[2018-06-07 13:04] bytemech commented on #6337
Works for me!

[2018-06-07 14:03] muntaserq commented on #6343
I figured out this was an issue with how I was handling parameters and strings into the Invoke-AzureRmVMRunCommand call. It would be really nice if the output actually propagated the error to the console window.

Ok to close this ticket.

[2018-06-07 14:03] #6343 closed

[2018-06-07 16:50] whiggs commented on #6214
Furthermore, @markcowl , there are three reasons that I have the script written the way I do, but please feel free to correct me if I am wrong:

1. I would think that #requires would terminate the script if the azurerm module is not installed, and the script I have made I have made for regular, everyday end users, who do not know how to install the azurerm powershell module themselves.  Even if #r

[2018-06-07 17:08] MiYanni commented on #6214
@whiggs Please run:
[code]
And provide us with the output so we are aware of the environment you are using on your VMs. Thank you.

[2018-06-07 17:11] whiggs commented on #6214
@markcowl and @MiYanni .  I can do this, however, knowing that this is a **brand new machine that does not have azurerm installed on it at all, and knowing that the issue only occurs when attempting to use the commands in the same powershell session as the one which installed the module**, unless the "install-module command itself is installing multiple versions of azurerm, how will this help

[2018-06-07 17:12] whiggs commented on #6214
Based on the response I saw from @markcowl , specifically the bullet points in which he outlined what he believed to be the immediate problem, he either does not understand or did not read the nature of the issue that is occuring.

[2018-06-07 17:13] gucalder commented on #6407
This is a false positive.  The reason for the cmdlet to fail is that the PR did not correctly on-boarded.

[2018-06-07 17:13] #6407 closed

[2018-06-07 17:13] whiggs commented on #6214
Before installing azurerm module on clean vm:
 Directory: C:\Program Files\WindowsPowerShell\Modules

ModuleType Version    Name                                ExportedCommands
---------- -------    ----                                ----------------
Script     1.0.1      Microsoft.PowerShell.Operation.V... {Get-OperationValidation, Invoke-OperationValidation}
Binary     1.0.0.1    PackageManagem

[2018-06-07 17:19] whiggs commented on #6214
After installing azurerm Module on clean vm in same session:
    Directory: C:\Program Files\WindowsPowerShell\Modules

ModuleType Version    Name                                ExportedCommands
---------- -------    ----                                ----------------
Script     0.5.1      Azure.AnalysisServices              {Add-AzureAnalysisServicesAccount, Restart-AzureAnalysisServicesInstance

[2018-06-07 17:31] MiYanni commented on #3430
@praries880 has made `Management.Storage`. It isn't used for every project, so this needs to be updated (especially in NetCore).

[2018-06-07 17:46] whiggs commented on #6214
I do not see any part of the debug information which has "subscription" or "tenant" info, and my patience in getting this issue resolved has all but expired, so here is the output from running the debug preference:
DEBUG: 1:37:25 PM - ConnectAzureRmAccountCommand begin processing with ParameterSet 'UserWithSubscriptionId'.
DEBUG: 1:37:25 PM - Autosave setting from startup session: 'Process'
DEBUG:

[2018-06-07 17:50] whiggs commented on #6214
As for the debug output, I did not see any info regarding subscriptionid or tenant in the output, and my patience in getting this resolved has all but expired, so here it is:
DEBUG: 1:37:25 PM - ConnectAzureRmAccountCommand begin processing with ParameterSet 'UserWithSubscriptionId'.
DEBUG: 1:37:25 PM - Autosave setting from startup session: 'Process'
DEBUG: 1:37:25 PM - No autosave setting detect

[2018-06-07 17:51] whiggs commented on #6214
As for the debug output @markcowl and @MiYanni , I did not see any info regarding subscriptionid or tenant in the output, and my patience in getting this resolved has all but expired, so here it is:
DEBUG: 1:37:25 PM - ConnectAzureRmAccountCommand begin processing with ParameterSet 'UserWithSubscriptionId'.
DEBUG: 1:37:25 PM - Autosave setting from startup session: 'Process'
DEBUG: 1:37:25 PM - No

[2018-06-07 17:55] markcowl commented on #6214
@whiggs

Can you please provide the second thing I asked for - the debug log when running connect, save, and the cmdlets that fail authentication?

You can do this by setting:

[code]

Just before the invocation of ```Connect-AzureRmAccount```.  This will enable additional tracing for authentication of the cmdlets, which will help to pinpoint the issue.

A few other notes:

- Yes, if you want to p

[2018-06-07 18:07] markcowl commented on #6214
@whiggs
Thanks for the extra info.

From the debug stream above, the service indicates that the credential you are providing has no access to any tenants or subscriptions..  This shown in the request for tenants you have access to:

[code]
And the request for subscriptions you have access to:

[code]

Can you list the role assignments for this user account?

Debugging problems over issues can be t

[2018-06-07 18:26] jmlane opened #6417 "Should Azure.Commands.*.Models classes be documented?"
Hello!

I've noticed in the documentation that there are no links to the datatypes of any of the Model classes used to pass data or configuration to the Azure endpoints. After a quick inspection of the repository and that of the azure-powershell module, it seems like there is no documentation for these specific Powershell classes.

I think having model class reference documentation that is linked

[2018-06-07 18:31] panchagnula commented on #6352
@maddieclayton i should i have been clearer with my question, the issue states that downgrading to version 5.7.0 fixes the issue & the difference b/w this version & the later ones is that we integrated the previous websites-preview to stable. However, i will investigate further.

[2018-06-07 18:34] markcowl commented on #6410
@jasonpnnl The call stack is complainging about the tenant id.  Are you providing a GUID tenant ID in this case, or are you providing the tenant name?

[2018-06-07 18:36] praries880 commented on #6416
@hyonholee  can you take a look?

[2018-06-07 18:37] markcowl commented on #6417
@jmlane They absolutely should be.  We are currently working with our docs team on making this happen.

The issue tracking this is here: https://github.com/Azure/azure-powershell/issues/5777

You can track progress on this issue there, closing this one as a duplicate.

[2018-06-07 18:37] #6417 closed

[2018-06-07 18:40] markcowl commented on #6402
@cormacpayne @vivsriaus  Can we put together a plan on first class support for management grous as a scope for policy and role assignments?

Also, we should clean up this error in the interim.

[2018-06-07 18:42] praries880 commented on #6414
@panchagnula Sisira can you take a look?

[2018-06-07 18:43] markcowl commented on #6413
@praries880 @hyonholee Can you take a look?

[2018-06-07 18:43] maddieclayton commented on #6352
@panchagnula Apologies, did not understand the question.  As the preview was merged into stable in time for 6.0.0, it was definitely included in the AzureRM.6.0.1 release.

[2018-06-07 18:44] markcowl commented on #6414
@vladimir-shcherbakov Adding you to track

[2018-06-07 18:44] praries880 commented on #6415
@Tiano2017 can you take a look?

[2018-06-07 18:44] markcowl commented on #6415
@cormacpayne Can we fix this quickly?

[2018-06-07 19:24] schuettecarsten opened #6419 "AdalUserMismatchException thrown when accessing multiple tenants"
### Description

AdalUserMismatchException thrown when accessing multiple tenants

The original name of our Azure AD was @teamneusta.onmicrosoft.com. Our users were invited to several customer Azure ADs as guest users. Customers granted us different rights using RBAC in their azure subscriptions.

Some days ago, our Azure AD was merged/synchronized with our On-Premise AD and our login names change

[2018-06-07 19:33] brushwood24 commented on #5652
I am seeing this exact same issue.  We have no clean way to retrieve the master and default keys from a function app service.  I am really trying to avoid needing to make REST calls directly to get it.

[2018-06-07 19:37] markcowl commented on #6157
closing as duplicate

[2018-06-07 19:37] #6157 closed

[2018-06-07 19:45] jasonpnnl commented on #6410
@markcowl thanks for your question. The same thing happens with both. I have tried supplying the tenant ID as a GUID or as the tenant name. Primarily I use the tenant name. Sometimes the Connect-AzureRmAccount will succeed with the tenant name, more frequently it fails with the above error. This was not happening prior to a week or two ago. I updated AzureRM modules and started using cert auth abo

[2018-06-07 19:53] jasonpnnl commented on #6410
Debug output when using GUID tenantID in case this helps.

[code]

[2018-06-07 20:33] whiggs commented on #6214
@markcowl I already did as you asked in the post right above your most recent post.  I never said that the script was failing do to authentication.  That would make no since due to the fact that re-running it after the azurerm module is installed works successfully.  Could you do me a favor and actually read the full description of the problem.  I know it is long, but it is long so that it provide

[2018-06-07 20:37] whiggs commented on #6214
@markcowl The only purpose of this account is to be a service account which is the only user account to have access to secrets stored in a azure key vault.  You are correct that the user does not have any subscriptions associated with it, but that has never stopped the script which contains this code from working in the past, nore does it stop this service account from accessing the values stored

[2018-06-07 20:44] panchagnula commented on #6414
@codeevaluator  thanks for pointing out issue - this infact a bug on our end, API requires AppService Plan, the command isn't handling this case correctly. We will have a fix our with our next release.

[2018-06-07 20:50] markcowl commented on #6214
@whiggs Got it - so the issue is that your user has permissions to the keyvault data plane, but not to the KeyVault resource.  This is a valid scenario, but is not currently supported.

To mitigate, you can provide that use with a 'reader' or similar low-privilege access to the resource in ARM, by adding a role assignment for that particular KeyVaule - this would provide you with enough access to

[2018-06-07 20:53] whiggs commented on #6214
@markcowl That does not really explain anything:
1) This was working just fine until a week or two ago and
2) it does work.  You just have to relaunch the powershell session after the module installs.  I will create a video and post it online, because I still don;t think you understand what is going one

[2018-06-07 20:58] markcowl commented on #6214
That is not likely to be helpful in debugging the issue.  What would be helpful is, if you have a sample of this working, providing a debug log from that execution, to compare with this one that isn't working.

[2018-06-07 21:11] whiggs commented on #6214
https://youtu.be/Ry6MFgt-8tM
Not sure what you want me to do with the debug output, but I will provide it to you..

[2018-06-07 21:17] whiggs commented on #6214
@markcowl Also, I totally agree that remotely debugging scripts is a challenge.  Thankfully, in this case, you there is a very simple way for you to recreate the issue yourself.  Since I have clearly stated that this occurs on any computer that the script is run on, and I know that you are smart enough to know how to build a vm, so all you have to do to recreate/test the issue is to create a fresh

[2018-06-07 21:35] #6214 closed

[2018-06-07 21:51] markcowl commented on #6289
@dufc1923 @DdenBraver @NateB2   Disconnecting the account is appropriate, when you have completed using those credentials, but in any case where you are running automation, it is good practice to use

```Disable-AzureRmContextAutosave -Scope Process```

At the beginning of your script

[2018-06-07 21:55] markcowl commented on #6289
@dufc1923 @NateB2 @DdenBraver BTW - ```Clear-AzureRmContext``` is *not* a good solution when running in automation, you should really start a new session after clearing the context.  Disconnecting the account or removing the context should be the appropriate solution.

[2018-06-07 21:58] markcowl commented on #6289
@dufc1923 Can you comment on whether using Disconnect-AzureRmAccount or Remove-AzureRmContext or Clear-AzureRmContext resolves your issue?

[2018-06-07 22:03] markcowl commented on #6419
@schuettecarsten Unfortunately, this is a known issue: #1665

The problem is that AD is returning a different user id than the id you logged in with.  For now, the best mitigation is to log in to a specific tenant using the ```-TenantId``` parameter to Add-AzureRmAccount.

We have a designed fix for this, but there is currently no schedule for its release

[2018-06-07 22:58] dufc1923 commented on #6289
@markcowl , The only one of those suggestuins that I've used is Disable-AzureRmContextAutosave and that does seem to have helped.

The first workaround I used however was to use
**Set-AzureRMContext -SubscriptionId $subscriptionId -TenantId $tenantId**

It seemed like specifying the subscription AND the tenant also helped to get me going again.

Hope that's useful for others.

[2018-06-08 03:10] maddieclayton commented on #5006
Fixed!

[2018-06-08 05:31] solankisamir commented on #6370
@ToMakeSense I realize there is a bug in powershell in that path

  : Missing type map configuration or unsupported mapping.
    Mapping types:
   PsApiManagementApi -> ApiContract
   Microsoft.Azure.Commands.ApiManagement.ServiceManagement.Models.PsApiManagementApi ->
   Microsoft.Azure.Management.ApiManagement.Models.ApiContract
   At line:1 char:1

I will need to fix it before you can use it.

[2018-06-08 05:36] schuettecarsten commented on #6419
Thank you, yes, #1665 is the same issue. I searched for AdalMismatchException before but did not get any results. Sorry for the duplicate.

[2018-06-08 05:36] #6419 closed

[2018-06-08 05:37] solankisamir commented on #6372
@yuhaii you will first need to create a apirevision 3, using the cmdlet [New-AzureRmApiManagementRevision](https://docs.microsoft.com/en-us/powershell/module/azurerm.apimanagement/new-azurermapimanagementapirevision?view=azurermps-6.2.0).

The `Set-AzureRmApiManagementRevision` can only work on resources which exist and hence the error `NotFound`

[2018-06-08 06:46] yuhaii commented on #6372
@solankisamir thank you. I could add revision now. May I know how to set the revision to current? I use following command. But it doesn't work.

PS C:\WINDOWS\system32> $apiRelease = New-AzureRmApiManagementApiRelease -Context $ApiMgmtContext -ApiId "echo-api" -Rel
easeId "echo-api-release" -Note "Releasing version 2 of the echo-api to public" -ApiRevision "5"

![image](https://user-images.githubu

[2018-06-08 06:49] yuhaii commented on #6372
@solankisamir sorry. I should delete previous first. It works.

$apiRelease = Remove-AzureRmApiManagementApiRelease -Context $ApiMgmtContext -ApiId "echo-api" -ReleaseId "echo-api-release"

$apiRelease = New-AzureRmApiManagementApiRelease -Context $ApiMgmtContext -ApiId "echo-api" -ReleaseId "echo-api-release" -Note "Releasing version 5 of the echo-api to public" -ApiRevision "5"

[2018-06-08 08:45] dalibormesaric commented on #6122
The issue was gone after we updated to azure powershell 6.1.1.

[2018-06-08 08:45] #6122 closed

[2018-06-08 13:52] solankisamir commented on #6372
Closing the issue. This was mostly incorrect interpretation of the cmdlets.

[2018-06-08 13:52] #6372 closed

[2018-06-08 15:09] Vijayaraghavanl opened #6422 "Issue with Type for Parameter 'Receiver' for Set-AzureRmActionGroup (AzureRM.Insights)"
Dear Team,

Need help to sort out an issue that I am experiencing while I am trying to add multiple receivers for Azure Action Group at the same time using a powershell script.

I have written a Powershell script that will import all required inputs for variables for Set-AzureRmActionGroup from a CSV.

My CSV has headers and values as updated below.

EntryType | ActionGroupName | ActionGroupShortN

[2018-06-08 15:16] jaredmoo commented on #6122
Cool, thanks for confirmation :)

[2018-06-08 16:25] praries880 opened #6423 "Refactor/Rename the cmdlet "New-AzureRmVmssIpConfig""
As per the discussion in this cmdlet [design review](https://github.com/Azure/azure-powershell-cmdlet-review-pr/issues/90), The cmdlet _New-AzureRmVmssIpConfig_ is doing more than just create a new resource. It cn be used ot update the IP config of an existing vmss. The cmdlet should be either broken into two cmdlets (New- and Set-) or just renamed to _Set-AzureRmVmssIpConfig_.

The cmdlet is auto

[2018-06-08 16:36] jamesmealing commented on #5982
As above. Any idea when this might be fixed? This has broken the majority of our Azure Automation Runbooks by updating to the latest AzureRM modules... :(

[2018-06-08 18:05] forrestcoward commented on #3215
+1. I am trying to automate the creation of a SP from another SP and hitting this issue during a VSTS RM. Any workarounds? Thanks!

[2018-06-08 18:32] cormacpayne commented on #6402
CC: @Tiano2017

[2018-06-08 18:33] cormacpayne commented on #6335
CC: @Tiano2017

[2018-06-08 18:38] cormacpayne commented on #5814
CC: @Tiano2017

[2018-06-08 18:42] cormacpayne commented on #5685
CC: @Tiano2017

[2018-06-08 18:44] cormacpayne commented on #5551
@Tiano2017 the classes to allow for easy paging using the `List` and `ListNext` calls for a resource are found [here](https://github.com/Azure/azure-powershell/tree/preview/src/ResourceManager/Common/Commands.ResourceManager.Common/Paging) (an example of it being used to list service principals found [here](https://github.com/Azure/azure-powershell/blob/preview/src/Common/Commands.Common.Graph.RBA

[2018-06-08 18:49] cormacpayne commented on #5324
CC: @Tiano2017

[2018-06-08 18:50] cormacpayne commented on #5100
@ravbhatnagar @Tiano2017 would you mind taking a look?

[2018-06-08 19:30] praries880 commented on #6422
@Vijayaraghavanl can you share how you prepare the variables `$EmailUser0,$EmailUser1,$EmailUser2,$SMSUser0,$SMSUser1` that you add to the list?

Heres a sample of a script that I wrote that was able to create the Action Group :

[code]
Let us know if this does not work for you.

[2018-06-08 22:02] #6098 closed

[2018-06-08 23:02] #6331 closed

[2018-06-08 23:40] ejarvi opened #6430 "Get-AzureRmVMDiskEncryptionStatus logic bug when only OS volume is encrypted"
### Description

Get-AzureRmVMDiskEncryptionStatus has a logic bug in reporting status when a VM only has an OS volume and no data volume, and no AAD parameters are supplied.

### Script/Steps for Reproduction
Encrypt a Windows VM with no data disks, then get the status:
[code]

Actual:
OsVolumeEncrypted: NotEncrypted

Expected:
OsVolumeEncrypted: Encrypted

### Module Version

6.2.1

### Environm

[2018-06-08 23:42] ejarvi commented on #6430
https://github.com/Azure/azure-powershell/compare/preview...ejarvi:ade-status-fix

[2018-06-09 00:06] #5937 closed

[2018-06-09 01:14] markcowl commented on #5939
Fixed in the release candidate

[2018-06-09 01:17] markcowl commented on #5938
Fixed in the release candidate

[2018-06-09 01:26] MaximoTrinidad commented on #6052
Thank You!!

[2018-06-09 01:40] markcowl commented on #5893
This is still failing for me, bot if auto-detecting in the current directory, or if passing a GitRepositoryPath

[2018-06-09 01:45] panchagnula commented on #2410
@pcgeek86 run the command without the AppServicePlan - the AppServicePlan is not required for this commandlet & i am planning to remove it so that no one hits this error

[2018-06-09 09:16] Vijayaraghavanl commented on #6422
@praries880 : Thanks for your response.

Below is my script. Part of my problem is that number of email receivers & sms receivers may change based on each action group. Therefore, I may not well in advance be able to define $Receivers in advance. I therefore want $Receivers to contain the variables that I created recently.

Based on your suggestion above I figured out that my variables $EmailUser0

[2018-06-09 19:30] maddieclayton commented on #5006
@matthchr Looks like the issue might have come up again: https://azuresdkci.westus2.cloudapp.azure.com/view/PowerShell/job/powershell/5125/. Can you take a look?

[2018-06-09 19:45] matthchr commented on #5006
hey @maddieclayton - I looked but the only error I see is this:
[code]

I am not sure how I am supposed to diagnose the root cause of the error from the above?
Do you have any suggestions...? I already did your previous suggestion of making all our sleeps in record mode have a very long timeout (unless I missed one somewhere...)

[2018-06-10 08:43] infosatheesh2020 opened #6433 "Get-AzureRmSnapshot throws error when not found even if error is supressed using -ErrorAction Ignore"
### Description

While getting a snapshot of disk using Get-AzureRmSnapshot cmdlet, if the snapshot is not found, I wanted to suppress the error in the output using -ErrorAction Ignore. But it throws error even if supressed

### Script/Steps for Reproduction
try to get non existent snapshot from a resource group with -ErrorAction Ignore optional parameter

[code]

### Module Version

[code]

### E

[2018-06-11 07:02] minghan opened #6434 "New-AzureKeyVaultCertificatePolicy no longer accepts $null for RenewAtNumberOfDaysBeforeExpiry parameter"
Hi,

There is a bug introduced with https://github.com/Azure/azure-powershell/commit/150e4457bf4a17140f08b741237ddd607e43c602#r29314311

Previously, RenewAtPercentageLifetime parameter accepted $null. However, with this change, $null is not accepted and there is no way to disable the new at percentage lifetime. This is a breaking API change for which no heads up was given. Is this a bug?

Thanks,

[2018-06-11 07:35] DdenBraver commented on #6289
@markcowl, those cmdlets did not work as a work-around for us.
It seems that in our case the subscription context of a previous user is saved/kept even after reboot or even after a re-login.
We are currently working together with Premier support on this issue,

[2018-06-11 14:59] krish-gh commented on #5826
Alternatively try force importing the module just before your relevant script until the issue is addressed:
Import-Module AzureRm.Websites -Force

[2018-06-11 15:15] markcandelora commented on #5826
That’s actually what I changed my script to do as well.  Works great for me.

From: Krishnendu Ghosh <notifications@github.com>
Sent: Monday, June 11, 2018 11:04 AM
To: Azure/azure-powershell <azure-powershell@noreply.github.com>
Cc: Candelora, Mark <markc@bluemetal.com>; Mention <mention@noreply.github.com>
Subject: Re: [Azure/azure-powershell] Error calling New-AzureRmWebApp - "Method not found"

[2018-06-11 16:38] praries880 opened #6436 "Look into GetLocation issues in Compute tests on Netstandard builds"
Opening this WRT PR #6394

Comments from @hyonholee
`

https://github.com/Azure/azure-powershell/pull/6394

Not that I disabled some tests in NETSTANDARD mode.

These tests pass in NET45 mode, but failing in the check-in testing for NETSTANDARD mode.

I checked the logs and it looks like Get-Location is not working correctly for NETSTANDARD.

These tests call the following command during the tests

[2018-06-11 17:55] jrudley commented on #3391
Any update on this?

[2018-06-11 20:13] maddieclayton commented on #5006
@matthchr Unfortunately we don't have any more specifics on the error in our logs.  Because it's a cancelled error again, I'm guessing it's still a timeout - would you mind doing a quick scan to ensure you didn't miss any sleeps? I'll also take a look later when I get a free moment.

[2018-06-11 20:13] jrudley commented on #3391
Any update on this? I can reproduce this still

[2018-06-11 23:05] bgsky opened #6439 "Consumption Budget test: add random resource group name"
### Description

Consumption budget test at resource group level use hard-coded resource group name in tests. Make the name test-time generated. This test requires use of the cmdlet New-AzureRmResourceGroup, and Remove-AzureRmResourceGroup. We have errors when calling these two cmdlets.

### Script/Steps for Reproduction

[code]

### Module Version

[code]

### Environment Data

[code]

### Debug

[2018-06-12 06:34] wellsluo commented on #6385
@sptramer,  I really don't know what is the detail info of "-Path" parameter. That's why I submitted this request.   I don't have any fix on hand. Maybe the dev engineer should be consulted.

[2018-06-12 09:35] ratchetnclank opened #6443 "Get-AzureRMResource not returning properties."
### Description

DocumentDB Properties no longer returned via Get-AzureRMResource

Properties is always returned as null.

However browsing the api via https://resources.azure.com it shows that the properties value should be returned.

If trying by resource ID it still fails with an error.

[code]

### Script/Steps for Reproduction

[code]

### Module Version

ModuleType Version    Name

[2018-06-12 11:36] dopsy commented on #3800
any update?

[2018-06-12 12:37] samcook commented on #6414
I've also hit this issue, and would like to note that adding the name of the app service plan using the `-AppServicePlan` parameter doesn't work correctly to avoid this issue if the plan doesn't belong to the same resource group as the web app, as it seems the parameter is passed directly to the REST API rather than being turned into a Resource Id.

I could work around it by specifying the resourc

[2018-06-12 13:14] Vijayaraghavanl commented on #6422
@praries880

Hi, did you get a chance to look any my script? I am using a workaround to bypass this problem while I hear from you. I am not too impressed with this approach though my job is getting done and wonder if you have a better suggestion that I could consider.

$FileLocation = $env:USERPROFILE + "\OneDrive for Business\Scripts\JSON with Powershell\" ## Already there in my script above. I h

[2018-06-12 15:52] cormacpayne commented on #6443
@ratchetnclank Hey Daryl, would you mind setting `$DebugPreference="Continue"` and giving us the debug output from the above call?

[2018-06-12 17:31] maddieclayton commented on #5159
Fixed.

[2018-06-12 17:31] #5159 closed

[2018-06-12 18:20] panchagnula commented on #6414
@samcook  in your scenario not passing AppServicePlan should work once our fix hits PROD with our next release.

[2018-06-12 19:27] jmilczek opened #6447 "Set-AzureRMResource hangs indefinitely instead of failing attempting to apply a tag to a DSC Configuration resource type."
### Description

Unable to perform suggested steps to propagate Resource Group tags to Resources as mentioned in the following article Microsoft:

https://docs.microsoft.com/en-us/azure/azure-resource-manager/resource-group-using-tags

### Script/Steps for Reproduction

$groups = Get-AzureRmResourceGroup
foreach ($g in $groups)
{
    Find-AzureRmResource -ResourceGroupName $g.ResourceGroupName | F

[2018-06-12 19:46] #6294 closed

[2018-06-12 20:19] #6366 closed

[2018-06-12 20:21] jianyunt commented on #6366
Yes the recommended from @blueww works for me. thanks.

[2018-06-12 21:40] cormacpayne commented on #6385
@singhkays Hey Kay, would you mind taking a look at this issue?

[2018-06-12 21:49] cormacpayne commented on #6300
@twitchax would you mind contacting the Advisor team and seeing what their plans are for supporting their service in .NET SDK and PowerShell?

[2018-06-12 21:50] cormacpayne commented on #6361
@malhovic ping on the above request from @SudhakaraReddyEvuri

[2018-06-12 22:03] cormacpayne commented on #5955
@gucalder would you mind taking a look?

[2018-06-12 22:11] cormacpayne commented on #6392
@sergey-shandar 🐻

[2018-06-12 22:56] maddieclayton commented on #5360
Investigation into machines:

### PowerShell

Worker 46 - :59, 1:42, 1:03, :49, :51, 1:26, 1:37

Worker 59 - 1:19, 1:11, 1:10, 36, 1:17, 36, 1:10, 1:20

Worker 58 - 37, 1:31, 1:18, 1:29, 1:26, 1:20, 1:26, 1:23

Worker 39: 1:24, 1:15, :46, :47, :40, 1:18

Worker 27: 1:03, :35, :33, 1:05, :43, :34, 1:02, 1:12, :32, 1:11

Worker 62: 1:21, 1:23

Worker 41 - :46, :47, 1:37, 1:27, :47, 1:08, :47

Worker

[2018-06-12 23:14] bgsky commented on #6439
Added RmResourceModule into test framework to enable a call of New/Remove-AzureRmResourceGroup

[2018-06-13 04:19] twitchax commented on #6300
@cormacpayne, they are comitting to the work, but a firm date is not available yet.

[2018-06-13 08:04] MathieuRietman commented on #6443
Same issue here. My existing script on getting AzureRM objects are failing with Invalid format of the resource identifier.  All with parameter -ResourceId

DEBUG: AzureQoSEvent: CommandName - Get-AzureRmResource; IsSuccess - False; Duration - 00:00:04.8376631; Exception - System.ArgumentEx
ception: Invalid format of the resource identifier.
Parameter name: idFromServer
   at Microsoft.Azure.Comman

[2018-06-13 08:30] rasmusgude opened #6456 "What is the desired behaviour of IsValidPath(string path) in EnableAzureRMContextAutoSave.cs / Enable-AzureRMContextAutoSave?"
Hi,

In PR #6421 I made two corrections in the exception messages in `EnableAzureRMContextAutoSave.cs`.

But it looks like the affected exceptions will only rarely (if ever?) be reached as the code looks now.
This is because `IsValidPath(string path)` only checks that the path is valid (e.g., doesn't contain illegal chars like * or ?). It doesn't check if the path exists.

**Should `IsValidPath(st

[2018-06-13 08:52] MathieuRietman commented on #6443
Is a duplicate issue #6300
 Get-AzureRmResource returns Get-AzureRmResource : Invalid format of the resource identifier. Parameter name: idFromServer on some resources Azure PS Team
#6300

[2018-06-13 11:13] Vijayaraghavanl commented on #6422
@praries880,

Thanks a ton! I sincerely appreciate your time with this. This solves my problem.

I kept my original script as is and took the following lines from what you proposed above. I had to do so, so as to ensure that if a single user has both Email Address & Phone number mentioned we do not end up  creating two different receivers one each for Email Address & Phone Number but instead updat

[2018-06-13 15:22] cormacpayne commented on #6114
@maddieclayton we should add an additional parameter to the `powershell` job that allows us to set the verbosity level for a given PR (`quiet` by default) in the case where we need to get more information

[2018-06-13 16:59] praries880 commented on #6422
Glad to be of assistance @Vijayaraghavanl :)
Closing the issue as of now since the issue is resolved.

[2018-06-13 16:59] #6422 closed

[2018-06-13 18:31] wuy3 commented on #6353
I have the same issue on Azure Functions App and finally found your post. I have already installed the AzureRM.Profile and AzureRM.Resource modules to the wwwroot/<func name>/Modules folder, so I'm not sure what I'm missing. The problem persists

[2018-06-13 19:44] gunnarstolz opened #6461 "New-AzureRmSqlDatabaseCopy : Long running operation failed with status 'NotFound'"
### Description

When calling New-AzureRmSqlDatabaseCopy we sporadically receive error message "Long running operation failed with status 'NotFound'". (on Azure Germany)

### Script/Steps for Reproduction
All the need resources are present.
[code]

### Module Version

[code]

### Environment Data

[code]

### Debug Output

[code]

[2018-06-13 20:20] gunnarstolz commented on #6461
Just to be clear, the originating database is present. This error only appears sporadically. That's why I assume this has something to do with too limited timeouts.
(sorry for the partly German output. I hope the important part is still readable.)

[2018-06-13 21:39] dennis-yemelyanov opened #6462 "Add-AzureRmMetricAlertRule Generic types are not supported for input fields at this time."
Any call to Add-AzureRmMetricAlertRule fails with "Generic types are not supported for input fields at this time.". There is no debug information available when passing -Debug and setting $DebugPreference = "Continue".

I'm using AzureRM 6.2.1/

[2018-06-13 22:12] wuy3 commented on #6353
I figured out what was wrong. For others who find my issue through google, see below for the explanation.

In order for Azure Functions App to run Connect-AzureRmAccount, you need to manually install AzureRM.Profile and AzureRM.Resource through Kudu (zip em up, drop em in a modules folder under your function folder). My Azure Functions App was set to 32-bit by default (why 32-bit by default Azure

[2018-06-13 22:36] #6115 closed

[2018-06-13 23:01] #5415 closed

[2018-06-14 00:44] wuy3 commented on #6353
Actually let me correct myself. Connect-AzureRmAccount seems to enter a state where it will return empty results, but I can solve this by toggling between 32-bit and 64-bit execution

[2018-06-14 13:09] mosharafMS opened #6464 "Get-AzureRmRecoveryServicesVault doesn't exist in AzureRM.NetCore manifest module"
### Description

Using Get-AzureRMRecoveryServicesVault results in error on PowerShell core module
 Get-Command Get-AzureRmRecoveryServicesVault
Get-Command : The term 'Get-AzureRmRecoveryServicesVault' is not recognized as the name of a cmdlet, function, script file, or operable program.
Check the spelling of the name, or if a path was included, verify that the path is correct and try again.
At l

[2018-06-14 16:15] praries880 commented on #6461
@jaredmoo @akromm  can you guys take a look at this issue?

[2018-06-14 16:16] cormacpayne commented on #6464
@mosharafMS currently the RecoveryServices modules aren't a part of the `AzureRM.Netcore` due to the issue outlined [here](https://github.com/Azure/azure-powershell/issues/5756). I'm going to close this issue in favor of the issue previously linked (since it has all of the details about the work needed to port the modules to .NET Core)

[2018-06-14 16:16] #6464 closed

[2018-06-14 16:18] praries880 commented on #6456
@vladimir-shcherbakov  @maddieclayton  can you guys look into this?

[2018-06-14 18:02] praries880 commented on #6443
This is a dupe of #6300, Closing this in favor of #6300.

[2018-06-14 18:02] #6443 closed

[2018-06-14 18:39] praries880 commented on #6462
@dennis-yemelyanov  Can you provide us the exact command you ran?
I tried to create a rule against a resource in a subscription I have access to and was able to create it...

[code]

Kindly paste the complete optput of `gmo -ListAvailable` as well as the command you run and its output (do redact personal information).

[2018-06-14 18:42] ejarvi commented on #6337
The opt-in requirement has now been removed in all regions, so closing this out.   (The workaround should no longer be needed)

[2018-06-14 18:42] #6337 closed

[2018-06-14 18:45] ejarvi commented on #6430
https://github.com/Azure/azure-powershell/commit/2001552

[2018-06-14 18:45] #6430 closed

[2018-06-14 19:28] cloudmelon opened #6466 "Issue Get-AzureVM status same VM but different status"
### Description
Issue Get Azure VM status same commands but different status
The commands :
$vms = Get-AzureVM ( here have some information of Azure VM , the status of VM is : StoppedDeallocated )

But while foreach it

Foreach ($vm in $vms) {

// here I am printing the $vm with Vm status ( it displays stopped )
}

### Script/Steps for Reproduction

[code]

### Environment Data

[code]

### Debug

[2018-06-14 20:30] #2410 closed

[2018-06-14 20:38] twitchax opened #6467 "Azure PowerShell lacks Azure Advisor Support."

[2018-06-14 20:39] twitchax commented on #6300
Closing in favor of #6467, and the fact that the previous behavior was a "spurious feature".

[2018-06-14 20:39] #6300 closed

[2018-06-14 20:41] twitchax commented on #5955
@gucalder, ping. :)

[2018-06-14 20:42] twitchax commented on #5694
@praries880, when we triage this or schedule it, please sync with me on design.

[2018-06-14 20:42] twitchax commented on #5356
Adding this to our hypotheses for customer interviews.

[2018-06-14 20:47] twitchax commented on #5325
It looks like this is scheduled.  @sphibbs, to whom should this be assigned?

Also, I thin kthat we still had some asks on the PS team that may block this (i.e., `OnFirstRun` script or something).  @cormacpayne, have we discussed this with them yet?  Might be a good discussion for our next sync?

[2018-06-14 20:48] twitchax commented on #5281
@markcowl, what is my action item here? :)

[2018-06-14 20:49] twitchax commented on #5183
At this point, still poised to do some more research.  Should have results mid July.

[2018-06-14 20:51] twitchax commented on #5118
Pinged Storage team for update here.

[2018-06-14 20:52] twitchax commented on #4882
This was addressed externally by ADAL across the board for multiple products, closing.

[2018-06-14 20:52] #4882 closed

[2018-06-14 21:43] praries880 commented on #6413
@DanielHWe  I have a local repro as well.

@hyonholee
Here are the steps i ran :
[code]

The LB Rule does exist, as can be seen here:
[code]

The error seems to be coming from the service itself :
[code]

[2018-06-14 21:47] v-tisheg commented on #5189
Has this been resolved?  Is there a valid work around?  I am still getting this error.

[2018-06-14 22:36] maddieclayton commented on #6434
@minghan Sorry for the late reply.  You should be able to get the same functionality by simply not passing in the -RenewAtPercentageLifetime parameter, as the default value is $null.  New-AzureKeyVaultCertificatePolicy creates a in-memory object which will have all values that are not set as "null", which will propagate up when passed into either Add-AzureKeyVaultCertificate or Set-AzureKeyVaultCe

[2018-06-14 22:54] praries880 commented on #6433
@infosatheesh2020  Can you run `gmo -LiatAvailable` and paste its output?

I do not see the behavior you describe in the issue above.

Heres what I see :
[code]

With the ignore flag :
[code]

[2018-06-14 23:04] maddieclayton opened #6468 "Long running test: RaClassicAdmins"
The RaClassicAdmins test in Resources.Test.RoleAssignementTests takes ~30 seconds to run.

Root cause: https://github.com/Azure/azure-powershell/blob/preview/src/ResourceManager/Resources/Commands.Resources/Models.Authorization/AuthorizationClient.cs#L128

[2018-06-15 04:33] infosatheesh2020 commented on #6433
@praries880 Please find my output

`PS C:\Users\samanoh> Get-AzureRmSnapshot -ResourceGroupName parytest1 -SnapshotName sn1
Get-AzureRmSnapshot : Resource group 'parytest1' could not be found.
ErrorCode: ResourceGroupNotFound
ErrorMessage: Resource group 'parytest1' could not be found.
StatusCode: 404
ReasonPhrase: Not Found
OperationID : d27a2694-0d00-48ec-8c12-7f4c4ca22433
At line:1 char:1
+ Get

[2018-06-15 04:35] infosatheesh2020 commented on #6433
[PSError.txt](https://github.com/Azure/azure-powershell/files/2104798/PSError.txt)
@praries880 attached my output

[2018-06-15 05:42] blueww commented on #5118
@twitchax
Would you please give more detail requirement for this?
- Why we need do this change? the background can help the design.
- Support Blob only, or blob and File?
- As Powershell is commandline tool, only support command, no UI?
- Which command should be supported? dir/cd/copy...?
- How the mount work. mount to a local disk or a folder? Only can mount a container?
- After mount, only power

[2018-06-15 06:06] twitchax commented on #5118
I set up a meeting with Sercan to discuss.  At this point, almost none of these question have answers yet. :smile:

This is just meant to track that discussion.

[2018-06-15 06:52] rkluijt commented on #6337
Hi Guys,

I noticed that because the Key-Vault was in a different Region then the VM it failed.
Now everything is working as it should be.

Thanks all for you help and support.

Kind regards
Robin

[2018-06-15 07:13] turowicz commented on #3391
Calling @panchagnula and @Nking92

[2018-06-15 08:36] JulienFloris commented on #1982
Workaround:
Get-AzureRmVmImagePublisher -Location "westeurope" | `
Get-AzureRmVMExtensionImageType | `
Get-AzureRmVMExtensionImage | Select Type, Version
Source: https://docs.microsoft.com/en-us/azure/virtual-machines/extensions/features-windows#discover-vm-extensions

[2018-06-15 10:01] blueww commented on #5118
@twitchax
See, thanks!

[2018-06-15 14:07] alexfreu opened #6470 "Connect-AzureRmAccount: Description for the Environment parameter"
Could you please include a description about the possible values for the Environment parameter?

I found out these:

AzureCloud
AzureGermanCloud
AzureChinaCloud

Why did you choose AzureGermanCloud instead of AzureGerman**y**Cloud like in Connect-MsolService?

[2018-06-15 15:05] panchagnula commented on #3391
@turowicz sorry no ETA at this time

[2018-06-15 18:18] praries880 commented on #6433
@infosatheesh2020
Can you upgrade to the latest Modules for AzureRM, the compute module you are using is older (4.2.0), the latest one is [5.1.0](https://www.powershellgallery.com/packages/AzureRM.Compute/5.1.0)

IT seems there was a [fix for the errorAction handling](https://github.com/Azure/azure-powershell/commit/131546e169bdbeb267f7b7fc212de58754262db7#diff-51d865107381d7e3bebf20dcf569c0d8) in

[2018-06-15 20:19] KirkMunro opened #6472 "In-memory selection of the current storage account isn't working properly"
### Description

Related to #6054 and #6186, if you are using in-memory caching for your Azure PowerShell work, the [Set-AzureRmCurrentStorageAccount cmdlet](https://docs.microsoft.com/en-us/powershell/module/azurerm.storage/set-azurermcurrentstorageaccount?view=azurermps-6.2.0) will run successfully, but then commands such as Get-AzureStorageContainer will fail because the storage context that th

[2018-06-15 22:09] praries880 opened #6473 "New-AzureRmVmss simple param set should fail if a LB with the user specified name exists and is not compatible with what the cmdlet expects"
This issue comes out of this [issue](https://github.com/Azure/azure-powershell/issues/6413).

The user created an LB which did not have the configuration the cmdlet expected. As a result the cmdlet tried to configure the LB which caused configuration to end up in  bad state and the VMSScreation failed as a result.

We should check if this issue can happen with other resources as well that are crea

[2018-06-15 22:12] praries880 opened #6474 "Need to create documentation around the usage of the simple param set in New-AzureRmVmss"
We need to come up with good user scenarios and create examples and guidance around using the cmdlet and the simple param set.

This issue came out of a [customer reported issue](https://github.com/Azure/azure-powershell/issues/6413) when creating a VMSS.

[2018-06-15 22:20] praries880 commented on #5659
[Customer issue](https://github.com/Azure/azure-powershell/issues/6413) reported that is indirectly related to this

[2018-06-15 22:36] praries880 commented on #6413
@DanielHWe

#### Issue description
The [simple param set](https://github.com/Azure/azure-powershell/blob/preview/src/ResourceManager/Compute/Commands.Compute/Manual/VirtualMachineScaleSetCreateOrUpdateMethod.cs#L257) for New-AzureRmVmss is meant to be a one shot command that creates all the required dependencies.

LoadBalancer being a critical component of a VMSS, the cmdlet has tight built in req

[2018-06-15 22:44] praries880 commented on #6466
@cloudmelon
Can you provide us with the output of the following command : `gmo -ListAvailable`

and the output of the cmdlets after you set ` $DebugPreference="Continue"`

Thanks

[2018-06-16 08:34] twitchax commented on #6474
Is this for reference docs or conceptual docs?  If this is for reference documentation, then we typically have the cmdlet authors write the documentation.

[2018-06-17 07:34] cloudmelon commented on #6466
Hi here are the outputs:
![image](https://user-images.githubusercontent.com/4621560/41505821-4c30391e-7211-11e8-9cdd-5e8f7368375a.png)

![image](https://user-images.githubusercontent.com/4621560/41505826-65a5e358-7211-11e8-8715-778c69708a3f.png)

![image](https://user-images.githubusercontent.com/4621560/41505831-76b36efe-7211-11e8-932e-c004171e042d.png)

![image](https://user-images.githubusercon

[2018-06-17 07:38] cloudmelon commented on #6466
After $DebugPreference="Continue" the same command with the following output :

![image](https://user-images.githubusercontent.com/4621560/41505849-c54d2744-7211-11e8-88c4-f43877f41592.png)

![image](https://user-images.githubusercontent.com/4621560/41505852-ec17d338-7211-11e8-8157-67f8eac3cd1e.png)

![image](https://user-images.githubusercontent.com/4621560/41505856-02f18ae0-7212-11e8-91bc-a1e942

[2018-06-17 08:50] minghan commented on #6434
Hi Maddie, I know there is a work around to not pass in the parameter. However, this presents a breaking change to existing scripts. Why can't we support the old behavior? Like I mentioned, this is clearly a bug, not a feature. Thanks.

[2018-06-17 15:48] 47th commented on #4656
The issue doesn't appear to be fixed at the moment. Azure RM commandlets constantly stop working after some time and I have to restart the Azure console.

[2018-06-18 09:37] juancrl commented on #1597
Same issue. GEneralized VHD. Set-AzureRMVMOsDisk runs, then I have to comment out the Set-AzureRMVMOperatingSystem part...
... but then how can I specify Username, Password, and WINRM and ProvisionVMAgent ???

[2018-06-18 11:44] bjh1977 commented on #2085
C'mon peeps! Still open after 2 years and 2 months?! Getting this done would really help to make the deployment story simpler.

[2018-06-18 16:55] markcowl commented on #6470
@alexfreu This was the official name of the cloud at that time.

[2018-06-18 16:55] #6470 closed

[2018-06-18 17:03] praries880 commented on #6466
@hyonholee Can you take a look at the issue?

[2018-06-18 17:58] hyonholee commented on #6466
Can you check the following values?

$vms[0].Status
$vms[0].PowerState

The fist one returns the instance status, and the second returns the power state.

[2018-06-18 18:03] praries880 commented on #6466
@cloudmelon can you paste the output for @hyonholee suggestions?

[2018-06-18 18:05] praries880 commented on #6433
@infosatheesh2020 the latest version of AzureRM is [6.2.1](https://www.powershellgallery.com/packages/AzureRM/6.2.1).

I see that you have AzureRM modules installed at two locations, this can some times cause an older version to be loaded even though a newer version is found on another path.

You have an older set of modules at `C:\Users\samanoh\Documents\WindowsPowerShell\Modules` and a little ne

[2018-06-18 20:44] wolfeno opened #6479 "RequiredAssemblies for module loaded from current working directory instead of module dir"
### Description

Azure Powershell modules loaded are loaded within working directory context.
I'm using OctopusDeploy for deploying my application and it's executing deployment script from the context of project directory. As project uses NuGet package for KeyVault client it brings in specific version of Microsoft.Rest.ClientRuntime.dll and Microsoft.Rest.ClientRuntime.Azure.dll as well as others

[2018-06-18 22:49] bgsky commented on #6439
Pull request related to this issue is resolved and merged. Please refer to the link above and close the issue.

[2018-06-18 22:49] #6439 closed

[2018-06-18 23:04] Diastro commented on #6368
Thank you for fixing this.

[2018-06-18 23:04] #6368 closed

[2018-06-18 23:11] maddieclayton commented on #6472
@blueww Can you take a look at this issue?

[2018-06-19 07:46] Flodu31 commented on #5956
Hi everyone,
I've the same problem from 20 days now...
The workaround of @craiglandis is working fine, but it's a workaround, thank @craiglandis
Florent

[2018-06-19 07:57] blueww commented on #6472
@KirkMunro
Would you please give more detail for "in-memory caching"?
How do you configure it?
It's better if you can provide a script that can repro the issue on a normal computer.

Thanks!

[2018-06-19 10:00] cloudmelon commented on #6466
I see it seems that Status and PowerState is not the same value ( as shown in the following )
![image](https://user-images.githubusercontent.com/4621560/41590733-ff7abb32-73b7-11e8-872a-6e627e906185.png)

[2018-06-19 12:10] Zimtir commented on #5956
Hi everyone,
I too getting null-object from

[code]

[2018-06-19 13:09] KirkMunro commented on #6472
@blueww Here's how I configure my PowerShell runspace for in-memory caching (note, I'm doing this in C#, but this is the PowerShell equivalent, and it assumes you have a few variables predefined, like $credential, $subscriptionId, $tenantId):

[code]

Once I have that set up, I run my other PowerShell commands. This is the context under which I think Set-AzureRmCurrentStorageAccount should work, b

[2018-06-19 13:14] muzzar78 commented on #6344
Will all the cmdlet prefixes be updated? I was wondering why this was labeled 'Azure Stack'. Typing AzureRm over and over is painful.

[2018-06-19 14:08] manuel-74 opened #6483 "empty status in return of Remove-AzureRmVM and Remove-AzureRmDisk"
### Description

The following PowerShell script shows how the Azure Cmdlet Remove-AzureRmVM returns only empty values i.e. for status. The same issue occurs when running Remove-AzureRmDisk. Script has to be executed as a Runbook in Azure so local testing is not enough. Occured also on my local PowerShell but after I uninstalled the module and reinstalled it afterwards the issue was somehow fixed.

[2018-06-19 14:47] gbrueckl opened #6485 "AddAzureADGroupMember not working"
### Description

when calling Add-AzureRmADGroupMember I receive the following error message:

Add-AzureRmADGroupMember : The URI
'https://graph.windows.net//Microsoft.Azure.Commands.Common.Authentication.Abstractions.AzureTenant/directoryObjects/75b92f08-93a5-1234-9d4f-b5b2d6338cd0'
is not valid since it is not based on 'https://graph.windows.net/6a8611db-1234-454c-be8e-68a7d768d450/'.

### Scrip

[2018-06-19 16:19] deathly809 commented on #6344
@muzzar78 This is to update the Azure Stack modules to use the updated Azure cmdlets, i.e Az instead of AzureRM.  I assume the Azure team is changing all cmdlets, otherwise some would have AzureRM and others would have Az.

[2018-06-19 18:47] edyoung commented on #6328
This is not limited to long-running operations. I have been able to reproduce using a variety of azurerm.netcore commands, including Get-AzureRmResourceGroup. The cmdlet continues to present the same expired token when run multiple times, including tokens that expired more than 30 mins ago.

Below is a debug log from one execution.
[code]

[2018-06-19 19:43] BigNStrauss commented on #3800
I'm also experiencing this. Does anyone know of a solution or work around?

[2018-06-19 21:33] maddieclayton opened #6488 "Provide Docs with list of OutputTypes to reflect over"
- [x] Write script to give docs which lists all output type used by cmdlets.

[2018-06-19 21:56] vladimir-shcherbakov commented on #6483
closing as fixes in 5.1.1

[2018-06-19 21:56] #6483 closed

[2018-06-19 22:01] vladimir-shcherbakov commented on #6479
Please run "gmo -ListAvailable" and send us results? Looks like you have mixing of versions.

[2018-06-19 22:08] vladimir-shcherbakov commented on #6474
@twitchax Ping

[2018-06-19 22:17] vladimir-shcherbakov commented on #5918
Closing as resolved.

[2018-06-19 22:17] #5918 closed

[2018-06-19 22:20] vladimir-shcherbakov commented on #6414
@panchagnula  Is it fixed? Please update the status.

[2018-06-19 22:27] vladimir-shcherbakov commented on #6340
@markcowl  Please respond.

[2018-06-19 22:30] vladimir-shcherbakov commented on #6183
@vladimir-shcherbakov
split into subissues

[2018-06-19 22:33] twitchax commented on #6474
Notified the PG, and they will make a recommendation on cmdlet or conceptual doc improvements.

In the meantime, we should split this out into two subtasks:
* Improve the reference doc with better descriptions and examples that indicate that this scenario is not supported.
* Improve the error message in this case in the product.

Assigning back to @praries880 for follow up on this two tasks pendin

[2018-06-19 22:55] maddieclayton commented on #6165
Fixed!

[2018-06-19 22:55] #6165 closed

[2018-06-19 23:01] maddieclayton commented on #6164
@juhacket Have you had a change to look into this test debt issue?

[2018-06-19 23:02] maddieclayton commented on #5667
@irrogozh Has this been completed?

[2018-06-19 23:31] markcowl commented on #4143
This conflicting version issue should be resolved by tthe consolidation of RecoveryServices* modules.  Assigning to @dragonfly91

[2018-06-19 23:32] markcowl commented on #4626
No longer relevant

[2018-06-19 23:32] #4626 closed

[2018-06-19 23:32] markcowl commented on #4709
No longer relevant

[2018-06-19 23:32] #4709 closed

[2018-06-19 23:43] markcowl commented on #6289
@DdenBraver This is because you have context autosave enabled.  Running Disable-AzureRmContextAutosave -Scope Process at the start of every automated script will ensure the script is isolated from previously saved contexts.

The context is saved in user accound AppData by default.  If you have multiple scripts that do login runnign simultaneously in this account, then you may consider turning off

[2018-06-19 23:44] markcowl commented on #6289
@DdenBraver Since it seems your issue is different, can you please open a separate issue.  Closing thsi one as the original issue is resolved.

[2018-06-19 23:46] arluca commented on #6363
@markcowl : Let me know if anything else is needed for this. Does 2018-06-29 milestone mean when it will be investigated? Or when it will be complete?

[2018-06-19 23:50] markcowl opened #6489 "Change default context name to avoid key clashes"
The default context key name uses just the subscription ID as a key - change this to use the subscription name and a hash of subscription Id, Account, and Tenant, so that it will be unique.

[2018-06-19 23:51] markcowl commented on #6289
Closing as the workaround worked for the original issue.  Tracking the fix for the root cause here: #6489

@DdenBraver Since your issue appears to be different than this, if the above advice does not fix it, please file an issue with your particular issue details.

[2018-06-19 23:51] #6289 closed

[2018-06-19 23:55] markcowl commented on #6340
@iricigor This is correct - the serialization of the TokenCache is different between the two cmdlet sets.  This will be resolved by #6000 ultimately.  For now, you can use ```Disable-AzureRmContextAutosave -Scope Process``` to keep this from happening for one or the other.

[2018-06-19 23:55] #6340 closed

[2018-06-19 23:59] juhacket commented on #6164
We have an upcoming change to integrate the latest API version, which will cover this ask.

[2018-06-20 00:00] markcowl commented on #6363
@arluca What is the actual ask here?  Are you asking for a retry timeout in the login cmdlet, or a retry timeout in something like an environment variable?

Those who are interested in managing the time it takes to run a script, and timing out after a certain period can run the script inside a Start-Job cmdlet.

[2018-06-20 05:37] hvermis commented on #4413
Only factories and datafactories are ARM resources in Azure Data Factory provider. The other resource types are getting listed because of the operations on them need special mappings from service side. However, you shouldn't need anything other than factories or datafactories.
RBAC is supported on all actions listed by operations API from ADF. Please let me know if you have more questions.

[2018-06-20 08:07] MPEV commented on #3077
I too have the same issue.

If the [documentation ](https://docs.microsoft.com/en-us/powershell/module/azure/get-azuresqldatabaseserviceobjective?view=azuresmps-4.0.0)is correct, it's **very** out of date with respect to the current SQL Azure [tiers](https://docs.microsoft.com/en-gb/azure/sql-database/sql-database-dtu-resource-limits).

Is a new issue needed to request that Get-AzureSqlDatabaseSer

[2018-06-20 08:13] wolfeno commented on #6479
Hi,

Added steps to reproduce recorded with steps recorded.
[azureps-repro.zip](https://github.com/Azure/azure-powershell/files/2118404/azureps-repro.zip)
[code]

[2018-06-20 08:13] manuel-74 commented on #6483
Wow, 8 hours! That I call agile... ;-) Thank you!

[2018-06-20 08:17] DdenBraver commented on #6289
Thanks @markcowl!
 I will start tracking #6489 ,the current work-around is sufficient for now.

[2018-06-20 09:20] blueww commented on #6472
@KirkMunro

Would you please give more background like why you create the $azureContext, instead use the default? With more background, we can better help you.

I have tried to run the script from you, but the following command fail.

[code]
with error like:
[code]

Add I have installed Azure PowerShell 6.2.1, and it include AzureRM.Profile 5.2.0, instead of 5.0.0. So jsut to confirm you really us

[2018-06-20 12:22] KirkMunro commented on #6472
@blueww Thanks for coming back with questions.

First, regarding the script not working, I'm sorry about that. As I mentioned, I'm running this from C#, not from PowerShell, so all of the commands that set up the context are invoked from .NET. When I converted this yesterday, I forgot to check for extension methods, and I suspect the methods that you cannot invoke are extension methods, so I will

[2018-06-20 13:42] KirkMunro opened #6493 "First lookup of new AD user fails?"
### Description

I have software that dynamically creates new users and assigns them rights to a new resource group that is also dynamically created. Once that is done, an event is fired, and I have a script that attempts to use New-AzureRmRoleAssignment to grant that new user permissions to a pre-existing resource group. The command being fired is a simple one-liner:

[code]

When this fires, the

[2018-06-20 14:05] square10 commented on #6223
Any updates?

[2018-06-20 14:10] legapat commented on #3077
Hi @MPEV  ,
There was the solution for me.

I was using Classic cmdlet  : Set-AzureSqlDatabase.
https://docs.microsoft.com/en-us/powershell/module/azure/set-azuresqldatabase?view=azuresmps-4.0.0  . This was meant for the classic portal and supports only up to edition S3.

For the ARM portal, you can use the new RM cmdlet: https://docs.microsoft.com/en-us/powershell/module/azurerm.sql/set-azurermsq

[2018-06-20 14:21] MPEV commented on #3077
@legapat,

That makes sense - thanks!

[2018-06-20 14:55] Kreby opened #6494 "AzureRm.Compute storage assembly incompatibility with AzureRm.Storage"
### Description

If the AzureRm.Compute module is loaded before the AzureRM.Storage module certain storage objects are created with the AzureRm.Compute storage assembly and seem to be incompatible with the Azure.RMStorage module.  The example below occurs when trying to use the CreateSnapshot method on a "Microsoft.WindowsAzure.Commands.Common.Storage.ResourceModel.AzureStorageBlob" for the three

[2018-06-20 17:08] KirkMunro commented on #6493
One more detail that may be relevant: the script in question is invoked in the context of a service principal that has full rights over the subscription. Just mentioning that in case it is relevant to the issue.

[2018-06-20 18:38] maddieclayton commented on #6367
Confirmed that behavior is only found on NotificationHubs.  Ex:
[code]

Confirmed that tag is not set correctly for NotificationHub or NotificationHubNamespace, but correctly assigned for other resource types.

[2018-06-20 18:39] maddieclayton commented on #6367
@smithab Can you take a look at this issue? Case should be preserved for both the key and the value in a Tag.

[2018-06-20 20:28] praries880 opened #6498 "Fix PowerShell experience for creating a large VMSS (> 100 vms) with the new-azurermvmss simple params set"
#### Original issue

This is in reference to our conversation earlier today regarding the PowerShell experience for large VMSS. I am writing it down so that you can forward it to the appropriate teams/people.

The PowerShell experience for creating a large VMSS seems frankly a bit broken compared to how easy it is for a small VMSS. Let me illustrate this with some commands.

First, let’s take an e

[2018-06-20 20:34] praries880 opened #6499 "Support creation of VM and vmss from Shared Image Gallery in the simple param set and add support for UltraSSD"
#### Requirements
Requirements form @singhkays
We’re creating a new service called Shared Image Gallery that allows easier organization for custom images. We’re going to allow VM deployments from these images like in the API below. This will need a change to the simplified parameter set for New-AzureRmVM. Can you help us with this?

[code]

We need to support this in both VMSS and VM

[2018-06-20 23:18] rakeshvanga commented on #2657
Is there a log file that azure CLI write to with verbose error details that we can use to figure out the issue?
The reason mentioned by @gregjhogan is the reason in my case also. If this was not the reason and something else is causing this issue how can one know the underlying reason?

[2018-06-21 00:38] davidobrien1985 opened #6501 "Bug: Get-AzureRmKeyVault broken in 5.0.2"
### Description

`Get-AzureRmKeyVault` is broken in AzureRm.Keyvault version 5.0.2 when used with the `-Tag` parameter.

### Script/Steps for Reproduction

[code]
returns all the KeyVaults correctly.

[code]

returns _every_ resource in that subscription that has the tag:value `application:app1` assigned to it.
This is a regression from version `5.0.0`.

### Module Version

[code]

[code]

### Env

[2018-06-21 02:03] blueww commented on #6494
@Kreby

The issue is caused by the XSCL (Microsoft.WindowsAzure.Storage ) version is different in Storage module and other feature module (like compute module).
This is known and by design. Actually even we make them use same version of XSCL, the issue can still repro if you load any PowerShell module which use different XSCL version first.

So there are 2 resolutions:
1. Don't run compute cmdlet

[2018-06-21 08:29] ToMakeSense commented on #6370
@solankisamir any updates on this?

[2018-06-21 10:29] ToMakeSense commented on #6261
the latest version 6.3.0 is still not work on my machine, any updates on this?
[code]

[2018-06-21 11:03] blueww commented on #6472
@KirkMunro

If you run the Azure function from C#, why don't you just use the SDK directly instead of use PowerShell in C#?
You can use [Management SDK](https://www.nuget.org/packages/Microsoft.Azure.Management.Storage/8.0.0-preview) to get account Key. [How to use it](https://azure.microsoft.com/da-dk/resources/samples/storage-dotnet-resource-provider-getting-started/).
Then use [Storage Client L

[2018-06-21 11:45] blueelvis opened #6504 "webapp:New-AzureRmAppServicePlan does not parse Region/Location correctly when deploying with AppServiceEnvironment"
### Description

The commandlet `New-AzureRmAppServicePlan` does not accept Locations like `eastus`,'eastus2` but accepts locations like `East US`, `East US 2` only. It should accept both of them. I believe this is a problem at the API because I seem to face this issue even when deploying via ARM templates.

### Script/Steps for Reproduction

1. Ensure that you have an App Service Environment crea

[2018-06-21 11:54] KirkMunro commented on #6472
@blueww

In reverse order:

1. I cannot share the C# code behind this. But it is doing the same as the PowerShell script I have provided. Set-AzureRmCurrentStorageAccount and Get-AzureStorageContainer get invoked after the script I have provided.

1. You are correct, that was a typo in my script, which I have corrected above. My apologies for the typo.

1. Of course I could use C# with the Azure S

[2018-06-21 14:56] antonygibbs opened #6505 "New-AzureRmADAppCredential EndDate parameter value not used when creating new password credential"
### Description

Creating a new application credential with any end date value creates a new application credential with a one-year expiry. EndDate parameter value is ignored.

### Script/Steps for Reproduction

[code]

### Module Version

[code]

### Environment Data

[code]

### Debug Output

[code]

[2018-06-21 18:03] amoghnatu commented on #2286
I'm facing this too. Do you think having a sleep statement would help?

[2018-06-21 19:21] vladimir-shcherbakov commented on #6504
@blueelvis
To avoid issues with the hard-coded parameter value. please use one of the following approaches:
* In the **interactive mode** you may want to use the [tab completer feature](https://github.com/Azure/azure-powershell/blob/ec67339da182e82bfab7fc0cadadbb3700f1e2a3/src/ResourceManager/Websites/Commands.Websites/Cmdlets/AppServicePlans/NewAzureAppServicePlan.cs#L33) to iterate through avail

[2018-06-21 20:05] Cavorter opened #6509 "New-AzureRmDnsRecordSet verbose output is misleading or incorrect"
### Description

When using the `-Verbose` parameter with New-AzureRmDnsRecordSet the verbose output stream appears to output information that is at best misleading and at worst incorrect. Specifically if a RecordConfig is provided for the `-DnsRecords` parameter the verbose output explicitly says "The record set is empty" and that further commands are required to complete the intent of adding a r

[2018-06-21 20:31] maddieclayton commented on #5006
Another failed test here: https://azuresdkci.westus2.cloudapp.azure.com/job/powershell/5413/
[code]

Moving batch tests back to on-demand for now.

[2018-06-21 23:07] maddieclayton opened #6512 "Improve playtps"
- [x] fix yaml bug
- [x] add switch for updating input/output

- [x] Get platyPS released

[2018-06-21 23:19] maddieclayton opened #6513 "ResourceId completer experiments"
Create an experimental module to test different versions of the ResourceId completer.
Experiments:
1) Shortened ResourceId string (ex: maddie1/maddiesvm, where maddie1 is a resourcegroup and maddiesvm is a VM).  Tab completion ordered alphabetical order.
2) Shortened ResourceId string (ex: maddie1/maddiesvm, where maddie1 is a resourcegroup and maddiesvm is a VM).  Tab completion ordered by name,

[2018-06-22 00:28] solankisamir opened #6515 "Api Management - Save Policy adding BOM when saving in UTF-8 format"
### Description

### Script/Steps for Reproduction

[code]

### Module Version

[code]

### Environment Data

[code]

### Debug Output

[code]

[2018-06-22 07:29] blueelvis commented on #6504
@vladimir-shcherbakov - I am facing issue with the ARM Templates as well in this case. Specifying `eastus` or `East US` should work right?

[2018-06-22 09:43] mariusGundersen commented on #54
I get this error message also when creating a webapp in a brand new ASE with its own domain. It seems a webapp in the ASE (that has a private domain) conflicts with a webapp that uses the `.azurewebsites.net` domain. Any way to work around this issue?

[2018-06-22 12:43] mmisztal1980 commented on #5099
Soooo, it's been 6 months, and the issue reappeared for me. Is there anyone who can grace this issue with a potential reason for the issue to occur?

[2018-06-22 13:54] DanielHWe commented on #6413
For me it would works also to use the workaround.

My use case is to create the VM scale set and the LoadBlancer for using it with an Application gateway. The instance VMs would serve http and https, so I have to add more than one health check. So parameter would be nice but not fully match.

In general I want to do a Blue/green deployment like described under [http://work.haufegroup.io/Blue-Green

[2018-06-22 15:53] paylocity-sflanders opened #6519 "We randomly get this error: Add-AzureRmAccount : Unable to find environment with name 'AzureCloud'"
We have noticed from time to time after using 5.1.0 of the AzureRM.Profile module on a machine for a project that other powershell sessions that are using that version or sometimes older versions will randomly get

Add-AzureRmAccount : Unable to find environment with name 'AzureCloud'

The only way to clear it is running

Clear-AzureRmContext -Scope CurrentUser -Force
Clear-AzureRmContext -Scope P

[2018-06-22 16:21] gucalder opened #6520 "[Insights] Set-AzureRmDiagnosticSettings does not support metric categories, only log categories"
### Description

Set-AzureRmDiagnosticSettings does not support metric categories, which are supported by the backend.

### Script/Steps for Reproduction

This what one of our partners reported while trying to use the cmdlet. The storage RP has defined two categories for the storage account metrics. So the following cmdlet throws an exception.

[code]

### Module Version

Not provided, but it migh

[2018-06-22 17:32] maddieclayton commented on #6501
This is fixed in this PR: https://github.com/Azure/azure-powershell/pull/6510.  It will be included in the next release on July 3rd.  Thanks @davidobrien1985!

[2018-06-22 17:32] #6501 closed

[2018-06-22 19:51] tylerd opened #6521 "Get-AzureRmSubscription repeats subscription per tenantid when using AccessToken connection"
### Description

Executing `Get-AzureRmSubscription` results in repeat subscriptions per Tenant.

Interestingly, the Subscriptions listed are only under the Microsoft Tenant. There are other subscriptions under the other Tenants that are not listed (even though the TenantIds are listed)

### Script/Steps for Reproduction

Generate Access Token to access Azure Management API.
Get all Subscriptions

[2018-06-22 21:24] tylerd commented on #6521
FYI for anyone that can't wait for the resolution to this, the workaround is:

`Get-AzureRmSubscription -TenantId $yourTenantGuid`

Also this issue somehow breaks `Select-AzureRmSubscription` where it does not actually change subscriptions for some reason. Also the workaround here is `Select-AzureRmSubscription "name" -TenantId $yourTenantGuid`

[2018-06-22 22:01] MisinformedDNA commented on #6352
How do I downgrade? I keep finding solutions that don't actually work. (grrrr)

[2018-06-22 22:33] tylerd commented on #6521
After debugging the code, the key issue here is that there are multiple places that the code iterates the list of Tenants that the user has access to and re-uses a single Access Token to call the management API for each of the tenants. Which results in repeated values for each tenant.

Access Tokens are inherently Tenant Specific -- If you login using an Access Token, the code should only use the

[2018-06-23 01:25] maddieclayton opened #6524 "Flaky unit test: Format.ps1xml"
Seems like one of the unit tests for the format.ps1xml files is flaky: https://azuresdkci.westus2.cloudapp.azure.com/view/PowerShell/job/powershell/5488/artifact/.

[2018-06-23 21:16] viananth commented on #5229
@darshanhs90 could you please provide the PR number for this bug fix? Stack does not support the latest API version for Resources module. So we'll have to backport the fix. Thanks for your help!

[2018-06-23 23:09] davidobrien1985 commented on #6501
Awesome work @maddieclayton , thanks!

[2018-06-24 16:13] amoghnatu commented on #6368
Is the fix for this already released or yet to be released? I still see the issue re-occurring in the latest release.

[2018-06-24 19:19] vladimir-shcherbakov commented on #6524
Log entry:
[code]

[2018-06-25 01:20] parsoFish commented on #3800
Also experiencing this after a AzureRmApplicationGatewayRequestRoutingRule is there any progress on this issue?

[2018-06-25 07:30] rafnijs commented on #2140
I have the same issue from VS:
New-AzureRmADApplication : Value cannot be null.
- Parameter name: token

any solutions or advise?

[2018-06-25 15:40] MiYanni commented on #5939
@tiwood @kcighon Fixed in [0.12.0 for NetCore](https://github.com/Azure/azure-powershell/releases/tag/v0.12.0-nc-June2018)

[2018-06-25 15:40] #5939 closed

[2018-06-25 15:43] MiYanni commented on #5938
@raghushantha @mrvladis @mosharafMS Fixed in [0.12.0 for NetCore](https://github.com/Azure/azure-powershell/releases/tag/v0.12.0-nc-June2018)

[2018-06-25 15:43] #5938 closed

[2018-06-25 15:47] MiYanni commented on #5785
@cblackuk @henrik-me `-Credential` is removed from the User parameter set (not Service Principal set) for NetCore in [0.12.0](https://github.com/Azure/azure-powershell/releases/tag/v0.12.0-nc-June2018)

[2018-06-25 15:47] #5785 closed

[2018-06-25 15:48] MiYanni commented on #6052
@MaximoTrinidad @jaredmoo Fixed in [0.12.0 for NetCore](https://github.com/Azure/azure-powershell/releases/tag/v0.12.0-nc-June2018)

[2018-06-25 15:48] #6052 closed

[2018-06-25 15:50] sjlouder commented on #955
For those getting the "Certificate specified in WinRM configuration is not defined in the VM model secrets", when I hit this issue, I was missing the Add-AzureRMVMSecret cmdlet. Adding that to the VM config (eg. after the call to Set-AzureRMVMOperatingSystem) fixed it for me.

[2018-06-25 15:56] henrik-me commented on #5785
@jmprieur

[2018-06-25 16:12] MaximoTrinidad commented on #6052
Awesome!! I will be checking it out.

Thanks!
:)

[2018-06-25 17:07] cormacpayne commented on #6108
- Use [Coveralls](https://coveralls.io/) to display results of code coverage from builds
    - Sample site used on my repository found [here](https://coveralls.io/github/cormacpayne/azure-powershell)
- Following the sample outlined [here](https://github.com/csMACnz/Coveralls.net-Samples/blob/core-xunit-opencover-appveyor/appveyor.yml)
    - Uses [OpenCover](https://github.com/opencover/opencover/w

[2018-06-25 18:52] maddieclayton commented on #5274
For policheck:
Write file to src/Package/policheckfiles.txt directory with all files to include in search
policheck.exe /F:"${Packages}\policheckfiles.txt" /T:"9" /O:"${Packagesl}\policheckresult.xml"
Delete src/Packages/policheckfiles.txt
Check output files for exceptions
Delete output files with no exceptions
Fail the build if there are output files with exceptions

For BinScope:
(Get-ChildItem

[2018-06-25 19:16] cormacpayne commented on #6493
@KirkMunro Hey Kirk, thanks for filing this issue. This delay is something that we've seen ourselves and have had to adapt to in certain circumstances (_e.g._, [assigning a role to a newly created service principal](https://github.com/Azure/azure-powershell/blob/preview/src/ResourceManager/Resources/Commands.Resources/ActiveDirectory/NewAzureADServicePrincipalCommand.cs#L385-L402)).

@darshanhs90

[2018-06-25 19:55] cormacpayne commented on #6519
@paylocity-sflanders would you mind running `Get-Module -Name AzureRM* -ListAvailable` on the machine you're running the script and returning the list of modules you see?

[2018-06-25 19:57] cormacpayne commented on #6509
@karravi-msft would you mind taking a look at the above issue?

[2018-06-25 20:06] paylocity-sflanders commented on #6519
PS C:\Code\Corp\CMT\Paylocity.Apis.ContentManagement.Template\Provision> Get-Module -Name AzureRM* -ListAvailable

    Directory: C:\Users\SFlanders\Documents\WindowsPowerShell\Modules

ModuleType Version    Name                                ExportedCommands
---------- -------    ----                                ----------------
Script     0.1.4      AzureRM.ApplicationInsights         {Get-A

[2018-06-25 23:02] cormacpayne commented on #6485
This will be fixed in the upcoming (July 3rd) version of `AzureRM.Resources`

[2018-06-25 23:02] #6485 closed

[2018-06-25 23:02] cormacpayne commented on #6505
This will be fixed in the upcoming (July 3rd) version of `AzureRM.Resources`

[2018-06-25 23:02] #6505 closed

[2018-06-26 05:02] whiggs opened #6534 "Connect-azurermaccount fails to login to azure"
### Description

Attempting to authenticate to azure using "Connect-azurermaccount" fails.

[code]

### Module Version

[code]

### Environment Data

[code]

### Debug Output

[code]

[2018-06-26 10:46] dannyc02 commented on #3717
Any ETA on this please? We're also seeing this happen.

[2018-06-26 14:09] whiggs commented on #6534
Closing this issue.  The problem had to do with our azure environment and the fact that the version of azure ad connect was the preview version and out of date.  Now working

[2018-06-26 14:09] #6534 closed

[2018-06-26 15:40] tonedefdev opened #6535 "Issues with New-AzureRMVM using a SourceImageURI"
### Description

I have looked for as much information about this issue as possible, and all documentation showed that I was able to use a disk image in this manner, however, no matter what I try to specify for the disk image, I keep returning:

[code]

When I create the VM from the GUI and reference the ARM template it doesn't use:

    "storageProfile": {
      "osDisk": {
        "osType": "Win

[2018-06-26 17:37] mentat9 commented on #6055
This is fixed as part of the next Powershell release: https://github.com/Azure/azure-powershell/milestone/49

[2018-06-26 18:07] darshanhs90 commented on #6493
@RBACAsk for FYI

[2018-06-26 18:11] panchagnula commented on #3717
@ruslany or @naveedaz, can you shed some light on this? thank you.

[2018-06-26 18:35] MiYanni commented on #5742
@rahuldutta90 Checking in. The PR you mentioned was merged in April. I'm just making sure updating the Encoding parameter isn't forgotten.

[2018-06-26 18:47] rahuldutta90 commented on #5742
Thanks @MiYanni for reminding. Let me start a PR for this.

[2018-06-26 21:43] vladimir-shcherbakov commented on #6535
@hyonholee  Could you please take a look?

[2018-06-26 22:17] cormacpayne commented on #6519
@paylocity-sflanders thanks for providing this information. Out of curiosity, is there a reason you need multiple versions of each of these modules installed on your machine? Usually, having these multiple module versions (especially for `AzureRM.Profile`) can lead to inconsistent results in cmdlet execution. I would recommend uninstalling all of the above modules (if you don't need them), and ins

[2018-06-26 22:18] vladimir-shcherbakov commented on #4812
Fixed by @MiYanni.

[2018-06-26 22:18] #4812 closed

[2018-06-26 22:22] vladimir-shcherbakov commented on #3493
@MikhailTryakhov  Can you please assign it to a proper team?

[2018-06-26 22:22] MikhailTryakhov commented on #3493
@yushwang from VPN team

[2018-06-26 22:28] vladimir-shcherbakov commented on #1793
@siddharthchatrolams Please take a look.

[2018-06-26 22:33] vladimir-shcherbakov commented on #1968
Closing due to the [comment](https://github.com/Azure/azure-powershell/issues/1968#issuecomment-239554981).

[2018-06-26 22:33] #1968 closed

[2018-06-26 22:40] singhkays commented on #3558
@hyonholee Can you check? This looks like a bug. Remove should show an error if the disk does not exist

[2018-06-26 22:58] MikhailTryakhov commented on #2024
+@danstis to be sure it's now fixed

[2018-06-26 22:59] SiddharthChatrolaMs commented on #1793
This CMDLET (as specified above) wouldn't work in any cloud.

1) VNET capabilities are only supported in Premium Sku (customer is trying to use C1 which is standard)

2) VirtualNetwork should be an ARM Resource Id of VNET (not just name). Also, just providing VirtualNetwork  parameter is not enough, you need to provide "Subnet" as well. (NOTE: "VirtualNetwork" and "Subnet" parameters are marked as

[2018-06-26 22:59] #1793 closed

[2018-06-26 23:20] maddieclayton commented on #6488
This is done.

[2018-06-26 23:20] #6488 closed

[2018-06-26 23:58] paylocity-sflanders commented on #6519
Yes.   We have lots of scripts managed in lots of repos that take advantage of different powershell modules, not just azure ones. These are used for CI/CD related processes.  Since these self provision, over time machines can and will have multiple versions of modules on a machine.   Within a given session we never use multiple versions of modules so that things stay self contained and allow upgra

[2018-06-27 06:51] kduraira opened #6542 "Issue with Set-AzureRmResource in AzureRM version 6.0.0 and above (tested till 6.1.1)"
### Description

Fails to enable / disable App Insights WebTests resource in AzureRM version 6.0.0 and above (till 6.1.1).

### Script/Steps for Reproduction
[code]
It used to work in version 5.5.2 but fails in 6.0 with the below error:
[code]
### Module Version
6.1.1

### Environment Data

Name                           Value
----                           -----
PSVersion                      5.1

[2018-06-27 08:47] blueww opened #6543 "[netcore] Upgrade XSCL in Azure.Storage, need to upgrade it for all projects, or test will fail"
In netcore, when upgrade XSCL for Azure.Storage. we need to upgrade it for all project, or test will fail.
We should remove the limitation.

In .net, we can only upgrade XSCL for Azure.Storage, and build/test still pass.

[2018-06-27 09:13] blueww opened #6544 "IAccessToken should contain a property for the token expire time"
For Storage Oauth feature, we need to add a renewer to renew the token before it's expire.
But Currently, the IAccessToken don't open the token expire time, so we don't know the timespan to call the renewer, so we always use 1 min.

We should open the expire time of the token in IAccessToken, then we can set a proper time to renew the token.

[2018-06-27 09:22] blueww opened #6545 "[netcore] the resource file in project Commands.Management.Storage.csproj not work for netcore"
### Description
When fixing the netcore build failureof PR https://github.com/Azure/azure-powershell/pull/6459 , we found the resource file in project Commands.Management.Storage.csproj not work well, so run test will fail with:

[code]
Cormac tried to fix it but the build still fail(https://github.com/Azure/azure-powershell/pull/6459/commits/407a2ec10289c428c91de5ae82fe92df0f83e1e9), so he hard c

[2018-06-27 09:58] jamesmealing commented on #5982
Are there any updates on this at all? Preferably including an expected fix date...?!

[2018-06-27 10:08] amoghnatu commented on #5982
@jamesmealing As a temporary workaround, you can use the REST API. Rest API is working fine and returning expected output. So as a workaround, you can use that if it helps you. We're also using the same for the moment until this fix comes through.

[2018-06-27 10:34] blueww commented on #6472
@KirkMunro

I tried to debug the issue, and found it might be related with the command:
$PSDefaultParameterValues['*:DefaultProfile'] = $defaultProfile

` Set-AzureRmCurrentStorageAccount` will set the storage account to the DefaultProfile.DefaultContext. (normally, it should be the RMprofile, but in this case, it should be the profile you set.)
Get-AzureStorageContainer will get the strorage acco

[2018-06-27 12:08] AzureAlexN opened #6546 "Set-AzureRmVMBootDiagnostics setting not sticking"
### Description

I'm trying to configure boot diagnostics for multiple VM's through the powershell cmdlet Set-AzureRmVMBootDiagnostics. Whenever I run the cmdlet (as per the instructions on https://docs.microsoft.com/en-us/powershell/module/azurerm.compute/set-azurermvmbootdiagnostics?view=azurermps-6.3.0 ) the initial returned VM attribute "Diagnostics Profile" is returned as {BootDiagnostics}. T

[2018-06-27 12:18] AzureAlexN opened #6547 "Inaccuracy on docs.microsoft.com Set-AzureRmVMBootDiagnostics"
On the docs site for Set-AzureRmVMBootDiagnostics (https://docs.microsoft.com/en-us/powershell/module/azurerm.compute/set-azurermvmbootdiagnostics?view=azurermps-6.3.0)
it states under required parameters the following:
-ResourceGroupName
Specifies the name of the resource group of the virtual machine.

This is not correct, the actual resourcegroup that needs to be specified is the resourcegroup i

[2018-06-27 12:21] alexcastrus commented on #6546
PS. this issue is present in multiple tenants

[2018-06-27 13:23] Liversage commented on #6443
Trying to understand the linked (and now closed) issue #6300 I don't see how I can resolve the clear problem statement in the title: _Get-AzureRMResource not returning properties._

How do I get the properties of a resource with type `Microsoft.DocumentDB/databaseAccounts`? This task seems to no longer be possible using Azure PowerShell. The linked issue explains that _It appears that "recommendat

[2018-06-27 13:39] KirkMunro commented on #6472
@blueww Reasons why I must use C# and PowerShell:
1. I need to capture results from the PowerShell that is invoked in an application. Using C# to invoke the PowerShell script makes this very easy.
1. I define additional binary cmdlets that are loaded automatically into the PowerShell session where the PowerShell script runs, so that those cmdlets can be invoked from within the PowerShell script.

[2018-06-27 13:53] cblackuk opened #6548 "file"
### Description

### Script/Steps for Reproduction

[code]

### Module Version

[code]

### Environment Data

[code]

### Debug Output

[code]

[2018-06-27 13:53] #6548 closed

[2018-06-27 14:07] ratchetnclank commented on #6443
@Liversage Use the command below.

[code]
The error in #6300  only occurs when using resourceID parameter.

[2018-06-27 15:10] kilasuit opened #6549 "Add wildcard support and ensure top level resources can be filtered by Name only"
### Description

I should be able to return VM's without needing to supply a Resource Group name directly from calling  get-AzureRMVM without having to pipe this to Where-Object

### Script/Steps for Reproduction

[code]

forces a request for the resource group name - this should not be a requirement when Name is provided and should be 2 seperate Parameter Sets, one that allows you to get the VM b

[2018-06-27 16:22] kilasuit opened #6550 "Make it easier to work across all subscriptions a logged in user has access to under the user context"
With having more than a small handful of subscriptions you soon have requirements to be able to work across all of them at ease. In the portal we are able to just see all things and not have to log into the subscription to be able to work with it.

Can the login/subscription management be overhauled to be based in the same manner as the portal as per #6549 when you have multiple subscriptions chan

[2018-06-27 16:37] cormacpayne commented on #6443
@Liversage Hey Martin, sorry about the confusion. The error `Invalid format of the resource identifier` was seen from the first cmdlet call provided in the body of the original comment above, which is the same error seen in https://github.com/Azure/azure-powershell/issues/6300, so we closed the issue for that reason, but we should've left this issue open to track the status of the "no properties r

[2018-06-27 17:57] MiYanni commented on #4715
This has been verified to be fixed as of AzureRM 6. See the discussion as part of the PR that has a potential fix, but is no longer needed: https://github.com/Azure/azure-powershell/pull/5958#pullrequestreview-132241298

[2018-06-27 17:57] #4715 closed

[2018-06-27 22:10] mentat9 commented on #6073
This functionality has been added in this PR: https://github.com/Azure/azure-powershell/pull/6482
It will release in this milestone: https://github.com/Azure/azure-powershell/milestone/49

[2018-06-27 22:10] #6073 closed

[2018-06-28 00:11] MiYanni commented on #6436
@praries880 @hyonholee I ran into this issue when converting test projects to NetCore. It is because you have your test recordings using a very old version of the Resources SDK. In my notes:

So, I implemented a workaround without recording all the tests. That's what that `Commands.Compute.Test/AzureRM.Resources.Netcore.ps1` file is. It allows **most** of the tests to run with the current recordin

[2018-06-28 00:19] MiYanni commented on #5365
@praries880 How many of these are remaining? I should have made the original issue a checklist. My bad.

[2018-06-28 00:29] MiYanni commented on #6000
I'll try to get this done as part of my repo refactoring efforts.

[2018-06-28 01:16] felixwa opened #6553 "Get-AzureRmResource cannot get Event-Hub Authorization Rule"
### Description

Get-AzureRmResource cannot get Event-Hub Authorization Rule. It worked in previous versions (5.x)

### Script/Steps for Reproduction

[code]

### Module Version

[code]

### Environment Data

[code]

### Debug Output

[code]

[2018-06-28 07:31] twitchax commented on #6302
Closing in favor of #5982.

[2018-06-28 07:32] twitchax commented on #5982
@hyonholee or @alpon, can you please take a look at this?  This issue is a regression, as far as we can tell.

[2018-06-28 08:38] Liversage commented on #6443
@ratchetnclank @cormacpayne Thank you for your feedback. That was very useful.

[2018-06-28 09:17] number213 commented on #4631
Re-recorded and un-skipped by this commit https://github.com/Azure/azure-powershell/commit/b746a9da4589f5b4600046aa76986fcd60208b95#diff-99938aeaa7750f6a350d002b6cb09333

[2018-06-28 09:17] #4631 closed

[2018-06-28 09:33] number213 commented on #3467
Fixed by this commit https://github.com/Azure/azure-powershell/commit/b353646caa4b2d624d0463779a60fb171cb11e25#diff-07761e8864ed989ef3ffc13327ebc42f

[2018-06-28 09:33] #3467 closed

[2018-06-28 10:35] blueww commented on #6472
This issue is caused by the Storage dataplane cmdlets don't support paramter "-DefaultProfile", so can't get the default stroage context in a user input profile.
I have tried to add the "-DefaultProfile" paramter to dataplan cmdlets, and try to get storage context from default profile (sequence: RMprofile, SMProfile, DefaultProfile and enviromentVariable). And the issue not repro with the change.

[2018-06-28 10:58] BalajiSankarKonakalla commented on #5579
Thank you @cormacpayne

[2018-06-28 11:19] coderangerdan commented on #2617
I get the error but it never works so catching the error would be pointless as the webapp is never created; basically i can't use the SourceWebApp parameter on a decent size app it seems

[2018-06-28 12:40] ouartil commented on #5342
it would be great if $null or "" could be specified in the PublicIpAddressName so it deploys the VM without public IP.

[2018-06-28 16:21] vladimir-shcherbakov commented on #6547
@nibhat Could you please take a look?

[2018-06-28 16:34] vladimir-shcherbakov commented on #6546
@nibhat Could you please take a look?

[2018-06-28 16:51] lwsrbrts opened #6556 "Azure.Storage module version prevents update"
### Description

Unable to update all of the AzureRm modules just by using Update-Module. There seems to be some sort of circular requirement that cannot be satisfied due to the use of `-preview` in version names and where the latest PowerShellGet and/or PackageManagement is not installed also.

### Additional info and the workaround employed:

I initially received the error when attempting to upd

[2018-06-28 17:15] sebbrochet commented on #3215
@forrestcoward , @Make-Make , @donlockhart , @Hoppy7
There's an option we're using on our project to "automate everything".
It's based on a few assumptions
- VSTS SPN should be able to do as much as we can do as _Owner_ of the subscription and _Global Administrator_ of the default AD tenant associated with it.
- We've more trust in VSTS to do the _right thing_ consistently than us when doing it mu

[2018-06-28 22:12] vladimir-shcherbakov commented on #6521
@tylerd
What did you put into the ```$MSFT``` variable?

[2018-06-28 22:33] tylerd commented on #6521
The TenantId GUID for "microsoft.onmicrosoft.com"

[2018-06-28 22:35] vladimir-shcherbakov commented on #6521
I got the [error](https://github.com/Azure/azure-powershell/issues/6410) when I run the command:
[code]

[2018-06-28 22:39] tylerd commented on #6521
`$MSFT = "72f988bf-86f1-41af-91ab-2d7cd011db47"`

[2018-06-28 23:30] yongyangiQ opened #6560 "Add-AzureRmApiManagementApiToProduct give apiId pattern exception"
### Description
Can successful use Import-AzureRmApiManagementApi to import swagger file by use apiId like "alerts.v1".

but use Add-AzureRmApiManagementApiToProduct throw apiId not match pattern exception.

The Add-AzureRmApiManagementApiToProduct should keep use same apiId pattern as Import-AzureRmApiManagementApi.

### Script/Steps for Reproduction

Use apiId like "alerts.v1" when execute Add-A

[2018-06-29 12:41] number213 commented on #6029
Fixed by this PR https://github.com/Azure/azure-powershell/pull/6117

[2018-06-29 12:41] #6029 closed

[2018-06-29 12:42] AndyHerb opened #6561 "New-AzureRmADAppCredential EndDate parameter value not used when creating new certificate credential"
### Description

Creating a new application certificate credential with any end date value creates a new application certificate credential with a one-year expiry. EndDate parameter value is ignored.

I believe this is a mirror issue of #6505, albeit when using a certificate instead of a password.

### Script/Steps for Reproduction

[code]

### Module Version

[code]

### Environment Data

[code]

[2018-06-29 12:43] AndyHerb commented on #6561
This may already be fixed in #6527 - but I wanted to raise it just in case so that it doesn't get lost if it's a separate issue

[2018-06-29 15:38] neblua commented on #6289
I am having this issue also when running a script as a Scheduled Task.  It always works when run interactively.

I have this at the beginning of the script:
Disable-AzureRmContextAutosave -Scope Process

I login and get the subscriptions, then I do a foreach subscription, however it does not select the subscriptions properly.

Disconnect-AzureRmAccount
Get-AzureRmContext | Remove-AzureRmContext -F

[2018-06-29 18:09] #1551 closed

[2018-06-29 18:41] cormacpayne commented on #6561
@AndyHerb Hey Andy, this appears to be related to the issue you linked in the original description, so it will be fixed in the upcoming release of `AzureRM` (which will be available on July 3rd). Please let us know if you have any other questions!

[2018-06-29 18:41] #6561 closed

[2018-06-29 18:44] vladimir-shcherbakov commented on #6521
@tylerd
On my side the cmdlet
[code]
works if
[code]
and  [errors](https://github.com/Azure/azure-powershell/issues/6410) if
[code]

[2018-06-29 18:51] surabhi-pandey commented on #6493
You are most likely hitting AAD replication lag issues. We have added a backlog item on PowerShell side to improve the experience where you create a service principal and then assign a role to it.

[2018-06-29 18:55] tylerd commented on #6521
Where are you using `$authorityName`? I don't see the reference to that veriable anywhere.

Also, it looks like you were able to run `Connect-AzureRmAccount` but the bug was with `Get-AzureRmSubscription`

[2018-06-29 19:06] vladimir-shcherbakov commented on #6521
[code]

[2018-06-29 19:08] tylerd commented on #6521
Ok … that does not really address the issue of the Access Token being re-used for Tenants other than the one generating the token.

[2018-06-29 19:10] vladimir-shcherbakov commented on #6521
Sorry, clicked the wrong button and closes.

[2018-06-29 19:14] vladimir-shcherbakov commented on #6521
Did you try Clear-AzureRmContext -Scope CurrentUser?

[2018-06-29 19:15] tylerd commented on #6521
Yes

[2018-06-29 19:53] vladimir-shcherbakov commented on #6521
@tylerd
I got the repro. Possibly, after I used ```Clear-AzureRmContext -Scope CurrentUser```
Thanks.

[2018-06-29 20:10] neblua commented on #6289
@markcowl
Adding 'Disable-AzureRmContextAutosave' and using 'Disconnect-AzureRmAccount' instead of 'Remove-AzureRmContext' seems to have fixed the issue for us.  We were having a problem with Select-AzureRmSubscription not always working when the script was called from a Scheduled Task.

Thank you.

[2018-06-29 20:45] KirkMunro commented on #6493
@surabhi-pandey: Thank you for creating the backlog item. In @cormacpayne's case, it was with a service principal. In my case, it was with an AD user. I just wanted to draw attention to the fact that this is not just about service principals.

Also, is there a way to work around this replication lag? If I had the actual object ID instead of the UPN, would that be guaranteed to work immediately aft

[2018-06-29 22:59] darshanhs90 commented on #3062
Closing the issue due to no response about the repro

[2018-06-29 22:59] #3062 closed

[2018-06-30 02:05] felixwa commented on #6553
Okay, we found out it has to be authorizationrules not authorizationRules anymore... this is very tricky.

[2018-07-01 11:19] joyal-ks opened #6569 "AzureRM.consumption module support for EA subscriptions"
Does the AzureRM.consumption module support EA subscriptions ?

I couldn't find any relevant documentation on this and I am aware that I can utilize the rest API directly.

Excuse me if this is not the right place for this question,I am new to the git style of doing things

[2018-07-01 18:11] kasunsjc commented on #6413
Same for me
Following this guide at azure docs
https://docs.microsoft.com/en-us/azure/application-gateway/tutorial-ssl-powershell

C:\> New-AzureRmVmss `

VERBOSE: Performing the operation "New" on target "myvmss".
New-AzureRmVmss : 'CreateOption' cannot be null.
At line:1 char:1
+ New-AzureRmVmss `
+ ~~~~~~~~~~~~~~~~~
    + CategoryInfo          : CloseError: (:) [New-AzureRmVmss], ValidationExce

[2018-07-01 18:20] kasunsjc commented on #6413
Need to add the -OsDiskCreateOption FromImage parameter its missing in the docs
C:\> Set-AzureRmVmssStorageProfile $vmssConfig `

[2018-07-02 08:28] DdenBraver commented on #6289
@neblua Do you still have this issue when using the latest version?
I am currently testing with AzureRm 6.3.0 and AzureRm.Profile 5.3.0 and have not run into issues yet*

[2018-07-02 09:42] blueww commented on #5030
Close the issue as:
1. the XSCL version mismatch is fixed in the recently Azure PowerShell release.
2. No more comments from customer for months.

@pixelicous, feel free to contact us if he needs further assistance

[2018-07-02 09:46] #5030 closed

[2018-07-02 10:22] naveenkumarjagtab opened #6572 "issue in running the login-azureRMaccount in both windows server 2012 and 2016"
Hi guys,
am facing the following error in both windows server 2012 and also in windows server 2016.

ran the following command to see:
**get-host
Name             : Windows PowerShell ISE Host
Version          : 5.1.14409.1005**

**Connect-AzureRmAccount : Service returned error. Check InnerException for more details: The underlying
connection was closed: An unexpected error occurred on a receive.

[2018-07-02 13:29] funnay commented on #2617
Hello. Can someone please check this again?

AFAICT, it's still happening and I'm able to reproduce it just using the scripts based on the following book: https://www.microsoftpressstore.com/store/exam-ref-70-533-implementing-microsoft-azure-infrastructure-9781509306503

Is it related to other thing that I may be doing wrong or is it an issue?

Create a Web App deployment slot:

[code]

Clone the

[2018-07-02 13:56] pixelicous commented on #5030
@blueww all good, i managed to overcome this with some playing around with the modules..

[2018-07-02 14:19] mariusGundersen opened #6573 "Creating webapp not possible in powershell, but possible in portal, due to bug in both places"
### Description

The command `New-AzureRmWebApp` checks if the name provided is unique by calling `https://management.azure.com/subscriptions{subscriptionId}/providers/Microsoft.Web/checknameavailability?api-version=2016-03-01`, but doesn't take the domain of the AppServicePlan into consideration. I have an AppServicePlan with a custom domain, and I want to create an app with a subdomain for this

[2018-07-02 15:03] mariusGundersen commented on #6573
It seems this can be fixed by supplying `true` as the third argument to the `CheckNameAvailability` call [here](https://github.com/Azure/azure-powershell/blob/preview/src/ResourceManager/Websites/Commands.Websites/Cmdlets/WebApps/NewAzureWebApp.cs#L156).

That's at least part of the solution

[2018-07-02 16:23] MaximoTrinidad opened #6575 "AzureRM scripts sometime becomes non-responsive on Windows Forms control events."
### Description

I've been noticing the behavior when executing a AzureRM script on a Windows forms application, sometimes the scripts becomes non-responsive.  It seems the script is hung, but it completes on the cloud side.

The main issue is, that it looses getting the results back to the Windows form. This is annoying, as it sometimes work but then it get's hung up.  The forms becomes unreliabl

[2018-07-02 18:04] maddieclayton commented on #5006
Closing as we will be serializing the tests, and should no longer run into this issue.  I'll move the batch tests over to CI once the PR to serialized tests is merged.

[2018-07-02 18:04] #5006 closed

[2018-07-02 18:29] cormacpayne commented on #6549
@kilasuit Hey Ryan, thanks for the feedback -- I think this is something that should be done for all `Get-*` cmdlets to allow for another type of filter 😀

@praries880 would you mind syncing up with @hyonholee about what would need to be done to enable this scenario in the generated cmdlet code for Compute?

[2018-07-02 19:25] panchagnula opened #6576 "AppService: New-AzureRmAppServicePlan throws Microsoft.Rest.Azure.CloudException with Isolated SKU even the App service plan is created successfully."
ustomer is using Powershell with the Azure SDK version 6.3.0, and the exception occurs every time an app service plan is created with the new verb.  The app service plan does deploy and he can create new app services and web apps on it.  In Powershell when the exception occurs, there is no return value from the New-AzureRmAppServicePlan cmdlet.  The New-AzureRmAppServicePlan was only called once w

[2018-07-02 19:31] vladimir-shcherbakov opened #6577 "[Resource] Add Ps1XmlAttribute to cmdlets output types properties."
### Introdution
To make the cmdlets output more convenient and consistent across all the resource providers we developed a mechanism to generate a format.ps1xml file out of a cmdlet output types. Details and examples are [here](https://github.com/Azure/azure-powershell/blob/preview/documentation/development-docs/generate-format.ps1xml-file.md).

### Task
Add  Ps1XmlAttribute to all relevant output

[2018-07-02 19:42] vladimir-shcherbakov opened #6578 "[SQL] Add Ps1XmlAttribute to cmdlets output types properties."
### Introdutcion
To make the cmdlets output more convenient and consistent across all the resource providers we developed a mechanism to generate a format.ps1xml file out of a cmdlet output types. Details and examples are [here](https://github.com/Azure/azure-powershell/blob/preview/documentation/development-docs/generate-format.ps1xml-file.md).

### Task
Add  Ps1XmlAttribute to all relevant outpu

[2018-07-02 19:42] vladimir-shcherbakov opened #6579 "[WebApp] Add Ps1XmlAttribute to cmdlets output types properties."
### Introdution
To make the cmdlets output more convenient and consistent across all the resource providers we developed a mechanism to generate a format.ps1xml file out of a cmdlet output types. Details and examples are [here](https://github.com/Azure/azure-powershell/blob/preview/documentation/development-docs/generate-format.ps1xml-file.md).

### Task
Add  Ps1XmlAttribute to all relevant output

[2018-07-02 19:42] vladimir-shcherbakov opened #6580 "[Network] Add Ps1XmlAttribute to cmdlets output types properties."
### Introdution
To make the cmdlets output more convenient and consistent across all the resource providers we developed a mechanism to generate a format.ps1xml file out of a cmdlet output types. Details and examples are [here](https://github.com/Azure/azure-powershell/blob/preview/documentation/development-docs/generate-format.ps1xml-file.md).

### Task
Add  Ps1XmlAttribute to all relevant output

[2018-07-02 19:42] vladimir-shcherbakov opened #6581 "[KeyVault ] Add Ps1XmlAttribute to cmdlets output types properties."
### Introdution
To make the cmdlets output more convenient and consistent across all the resource providers we developed a mechanism to generate a format.ps1xml file out of a cmdlet output types. Details and examples are [here](https://github.com/Azure/azure-powershell/blob/preview/documentation/development-docs/generate-format.ps1xml-file.md).

### Task
Add  Ps1XmlAttribute to all relevant output

[2018-07-02 19:42] vladimir-shcherbakov opened #6582 "[Storage] Add Ps1XmlAttribute to cmdlets output types properties."
### Introdution
To make the cmdlets output more convenient and consistent across all the resource providers we developed a mechanism to generate a format.ps1xml file out of a cmdlet output types. Details and examples are [here](https://github.com/Azure/azure-powershell/blob/preview/documentation/development-docs/generate-format.ps1xml-file.md).

### Task
Add  Ps1XmlAttribute to all relevant output

[2018-07-02 19:42] vladimir-shcherbakov opened #6583 "[Compute] Add Ps1XmlAttribute to cmdlets output types properties."
### Introdution
To make the cmdlets output more convenient and consistent across all the resource providers we developed a mechanism to generate a format.ps1xml file out of a cmdlet output types. Details and examples are [here](https://github.com/Azure/azure-powershell/blob/preview/documentation/development-docs/generate-format.ps1xml-file.md).

### Task
Add  Ps1XmlAttribute to all relevant output

[2018-07-02 19:47] vladimir-shcherbakov commented on #6183
Spitted into separate tasks by RP.

[2018-07-02 19:47] #6183 closed

[2018-07-02 20:00] panchagnula commented on #6579
@vladimir-shcherbakov  this is something the ASE feature crew on our team will handle. We will have this assigned to the right folks assigned to this. I don't want an issue to be assigned on GitHub when its notyet being worked on by a dev, Thank you.

[2018-07-02 20:28] cormacpayne commented on #6524
Closing as this was fixed for the desktop tests.

[2018-07-02 20:28] #6524 closed

[2018-07-02 20:33] cormacpayne commented on #6414
@panchagnula ping 😀

[2018-07-02 20:36] cormacpayne commented on #6367
@smithab ping 😀

[2018-07-02 20:38] cormacpayne commented on #6164
@juhacket Hey Justin, would you mind applying the correct milestone when you know when this task will be covered in the upcoming work? Thanks in advance.

[2018-07-02 20:40] cormacpayne commented on #5982
CC: @praries880

[2018-07-02 20:41] cormacpayne commented on #5970
@panchagnula ping, any update on this issue?

[2018-07-02 20:43] cormacpayne commented on #5777
@tomkerkhove Hey Tom, as an update, we are working with the docs team to get this information bubbled up on https://docs.microsoft.com in our reference docs, but @twitchax will be able to provide more information (and possibly a soft ETA) on when this will be available.

[2018-07-02 20:46] cormacpayne commented on #5269
@panchagnula Hey Sisira, I removed the milestone since this change didn't appear to get into the last milestone. Feel free to assign it to the appropriate milestone whenever you know when this fix will be made.

[2018-07-02 21:47] panchagnula commented on #5269
@cormacpayne  yes, thank you i do have a fix but haven't started the PR i am trying to group with the other SSL binding related issues, I will add a the new milestone later. thank you.

[2018-07-02 21:48] #6414 closed

[2018-07-02 21:56] vladimir-shcherbakov opened #6585 "The access token expiry UTC time '6/29/2018 8:53:02 PM' is earlier than current UTC time '7/2/2018 9:46:18 PM'."
### Description

After successful login *AzureRm* cmdlets throw the excetpion : " The access token expiry UTC time  '6/29/2018 8:53:02 PM' is earlier than current UTC time '7/2/2018 9:46:18 PM'."

### Script/Steps for Reproduction

[code]

### Module Version

[code]

### Environment Data

[code]

### Debug Output

[code]

[2018-07-02 22:42] twitchax commented on #5777
FYI for @dend. :)

[2018-07-02 22:52] vladimir-shcherbakov opened #6586 "[Compute] If resourceId is provided - Restart-AzureRmVM cmdlet shouldn't require name."
### Description

A resource id includes a resource name by design:
[code]
It's not clear why the Restart-AzureRmVM cmdlet and (some others) requires resource name in addition to the resource id..

### Script/Steps for Reproduction

[code]

### Module Version

[code]

### Environment Data

[code]

### Debug Output

[code]

[2018-07-02 23:17] cormacpayne commented on #6550
@kilasuit Hey Ryan, thanks for the feedback 😀 we will need to have some internal discussions about how to properly implement this, and then roll out some experimental modules with the change to get additional feedback.

A couple of questions for you:
- Our initial idea is that this is something that only applies to `Get-*` cmdlets since they are (usually) the only cmdlet that don't require a `-Res

[2018-07-02 23:23] cormacpayne commented on #6586
@hyonholee Hey Hyonho, would you mind taking a look at this issue? It doesn't seem like providing the name of the VM is necessary if the user provides the resource id.

[2018-07-02 23:29] cormacpayne commented on #6585
@vladimir-shcherbakov are you seeing this issue after restarting your PowerShell session? If so, run `Clear-AzureRmContext`, open a new session and login again using `Connect-AzureRmAccount`. If you still see the same error, set $DebugPreference="Continue" and return the result of the cmdlet execution with the debug stream.

[2018-07-02 23:32] cormacpayne commented on #6575
@MaximoTrinidad Hey Maximo, thanks for filing this issue.

Have you tried running the `AzureRM` cmdlets with the `-AsJob` parameter? This will create a job for a given cmdlet that you can query with the typical PowerShell `*-Job` cmdlets.

[2018-07-02 23:34] cormacpayne commented on #6573
@mariusGundersen Hey Marius, thanks for filing this issue 😀

@panchagnula Hey Sisira, would you mind taking a look at this issue when you get the chance?

[2018-07-02 23:38] cormacpayne commented on #6572
@naveenkumarjagtab would you mind doing the following things for us:

- Set `$DebugPreference = "Continue"`, run the above command again and giving us the resulting debug stream
- After the cmdlet has failed, run `Resolve-AzureRmError` and giving us the resulting error information
- Running `Get-Module -Name AzureRM* -ListAvailable` and giving us the resulting module information

[2018-07-02 23:44] dend commented on #5777
This is coming soon™

[2018-07-02 23:45] cormacpayne commented on #6569
@ms-premp Hey Prem, would you mind answering the above question?

[2018-07-02 23:46] cormacpayne commented on #6560
@solankisamir Hey Samir, would you mind taking a look at this issue?

[2018-07-02 23:56] cormacpayne commented on #6361
Closing due to lack of activity. @malhovic please feel free to re-open this issue if you are still seeing the above error.

[2018-07-02 23:56] #6361 closed

[2018-07-02 23:57] cormacpayne commented on #6433
@infosatheesh2020 ping on the information requested above 😀

[2018-07-03 00:00] cormacpayne commented on #6462
@dennis-yemelyanov ping on the requested information above 😀

[2018-07-03 00:07] ms-premp commented on #6569
Yes, behind the scene, AzureRM.consumption module internally uses [REST APIs](https://docs.microsoft.com/en-us/rest/api/consumption/).
Hence, it supports same offer types as REST APIs.

[2018-07-03 00:08] panchagnula commented on #6573
@mariusGundersen  thanks for the detailed error report I will take a look.

[2018-07-03 00:08] ms-premp commented on #6569
Yes, behind the scene, AzureRM.consumption module internally uses [REST APIs](https://docs.microsoft.com/en-us/rest/api/consumption/).
Hence, it supports same offer types as REST APIs.

[2018-07-03 00:08] #6569 closed

[2018-07-03 00:08] MaximoTrinidad commented on #6575
Hi @cormacpayne,

Yes! I have use the both, submitting the script as a job, and use the cmdlet -AsJob parameter.  Either way seems to work fine.

I just wanted some clarification, or confirmation, it this is way to go when creating Windows forms app to leverage Azure tasks.

:)

[2018-07-03 00:09] dennis-yemelyanov commented on #6462
I tried again, but can't repro anymore... Sometimes I run into weird issues when using "PoweShell Integrated Console" instead of just "powershell" in VS code, anyway I guess it was specific to my system.
![image](https://user-images.githubusercontent.com/10681271/42191934-6d33d8a4-7e1a-11e8-87cd-5ae0e5faf986.png)

[2018-07-03 00:09] #6462 closed

[2018-07-03 05:59] joyal-ks commented on #6569
@ms-premp I am getting not supported offer type while using this cmdlet for EA subscription (attached screenshot)

![da59b051-9b5a-4a2a-8625-02385c4cf8b4](https://user-images.githubusercontent.com/40496362/42201185-4571cab6-7eb4-11e8-8f07-cce211e604a3.jpg)

[2018-07-03 06:00] blueww commented on #6582
@vladimir-shcherbakov

As we discussed before, There are several problems need to resolve. As I see you have resolved most of them like groupBy, listView.

But there are still one problem, some of the cmdlets output the object type from the XSCL (like Azure File ). And other ourput type include object from XSCL as a member (like AzureStorageBlob). Could we also support that? Like:
1. We have a fil

[2018-07-03 09:45] naveenkumarjagtab commented on #6572
@cormacpayne  Hi thanks for responding with the following steps, i have done all the things which mentioned above following are the results :
ran the following with no error: $DebugPreference = "Continue"
after that i have ran again the login-azurermaccount which gave the following error:
""""
[1.txt](https://github.com/Azure/azure-powershell/files/2158590/1.txt)

after which i have ran Resolve-Az

[2018-07-03 15:03] neblua commented on #6289
@DdenBraver after removing all azurerm modules and installing using the 6.3 MSI it appears to always work now when selecting subscription and when run as a scheduled task.

[2018-07-03 15:17] dvanderslice commented on #5956
Would love if this was fixed we have azure automation runbooks that depend on this working, that just have stopped working altogether because of this.

The above adding the $result does work, thanks for the workaround @craiglandis

[2018-07-03 15:22] cormacpayne commented on #6466
@hyonholee @praries880 would you mind taking a look at the output returned from @cloudmelon ?

[2018-07-03 15:30] MaximoTrinidad commented on #6575
@cormacpayne,

Mostly random!  But I used to create VM the advance way, which involves using a series of cmdlets for each VM component.

Of course, if I execute the cmdlets at the console the it works fine.  I feel it works better doing the background jobs as I can do the Get-Job and get the status of Complete or failed.

The issue may relay when, for example, I click on the button to process my a

[2018-07-03 15:50] WiseOldHowell commented on #6361
Attempted to run this script today and seeing the same issue. Fails on "Enabling Soft Delete on KeyVault..." for an existing Key Vault or when creating a new Key Vault at script execute.

Creating new resource group:  (KeyVault2-rg)
VERBOSE: 10:39:54 AM - Created resource group 'KeyVault2-rg' in location 'centralus'
Created a new resource group named KeyVault2-rg to place keyVault
Creating new key

[2018-07-03 16:12] cormacpayne commented on #6572
@naveenkumarjagtab it looks like the underlying error is the following:

Looking at a couple of the remediations for this issue, it appears that enabling TLS 1.2 in the same session that you are authenticating should fix the issue:

[code]

Let me know if this resolves your issue!

[2018-07-03 16:53] cloudmelon opened #6592 "Add Azure RMVMSSExtension with success but extension not updated"
Use AddAzureVMextesion command and execute with success
#Update Azure VM Scale Set

$vmss = Get-AzureRmVmss -ResourceGroupName $RGName -VMScaleSetName $vmssName

$vmss = Add-AzureRmVmssExtension -VirtualMachineScaleSet $vmss -Name $vmssExtensionName -Publisher $vmssPublisher -Setting $vmssSettings -ProtectedSetting $vmssProtectedSettings -Type $vmssExtenstionType -TypeHandlerVersion $vmssTypeHandl

[2018-07-03 17:15] vladimir-shcherbakov commented on #6585
I opened a new PS terminal and logged in.
Of course, Clear-AzureRmContex solves such an issues.
I added the issue as an yet another sample of token cache related issues.

[2018-07-03 17:52] WiseOldHowell commented on #6361
Found a resolution.
Removed all AzureRM.Resources versions prior to 5.5.2 then the script successfully executed (with v5.5.2).

[2018-07-03 19:30] maddieclayton commented on #5274
Done

[2018-07-03 19:30] #5274 closed

[2018-07-03 20:22] cormacpayne commented on #6479
@wolfeno we've seen this issue in Azure Automation, where their sandbox loads an older version (I believe 6.0.4 or 6.0.5) of `Newtonsoft.Json` before the `AzureRM` modules are imported, which load version 6.0.8 of `Newtonsoft.Json` and leverage the `SerializationSettings` property seen in the error above. Does your application use a later version of `Newtonsoft.Json`?

[2018-07-03 20:29] cormacpayne commented on #6519
@paylocity-sflanders I'm not saying that Microsoft is moving away from supporting multiple module versions, I'm saying that sometimes issues can arise with the `AzureRM` modules when multiple versions are installed on the machine (which can happen over time as the `Update-Module` command doesn't delete older installed versions on your machine). If you find that you don't need multiple versions of

[2018-07-03 20:41] kxhawkins opened #6595 "Unable to retrieve MARS backup items with Get-AzureRmRecoveryServicesBackupItem"
### Description
Get-AzureRmRecoveryServicesBackupItem has a required parameter -WorkloadType that only accepts
AzureVM and AzureSQLDatabase. This prevents programatic access to items protected with Azure Backup agent (MARS).

### Script/Steps for Reproduction

Install-Module AzureRm
Import-Module AzureRm.RecoveryServices

Add-AzureRmAccount

$rmSubscription = Get-AzureRmSubscription

Set-AzureRmCo

[2018-07-03 20:41] paylocity-sflanders commented on #6519
Your remedy isn't an option since these are production deployment systems.  Removing these will simply cause the processes to re-download the packages.  So we will still need support to find a root cause.     I'm pretty sure what i'm seeing is a bug in the AzureRM.Profile module.  Has that been looked into?

To clarify again,  we are not loading multiple versions of any module within the scope of

[2018-07-03 20:59] cormacpayne commented on #6410
@jasonpnnl Hey Jason, would you mind running `Clear-AzureRmContext -Scope Process` and then running `Connect-AzureRmAccount` in a new PowerShell session? If that doesn't work, try opening a new PowerShell session and running the previous commands, but before doing so, run `Disable-AzureRmContextAutosave`

[2018-07-03 21:00] cormacpayne commented on #6363
@arluca ping on the question about from @markcowl

[2018-07-03 21:02] cormacpayne commented on #6219
@RBACAsk ping on the question about 😀

[2018-07-03 21:12] cormacpayne commented on #6592
@hyonholee @gbowerman hey guys, would you mind taking a look at this issue?

[2018-07-03 21:12] cormacpayne commented on #6595
@dragonfly91 would you mind taking a look at this issue?

[2018-07-03 21:19] cormacpayne commented on #6553
@v-Ajnava Hey Ajit, would you mind looking at the above issue? It seems there might be a case-sensitivity issue when providing the resource type for `Microsoft.EventHub`. Do you know if this is a known issue on the service side?

[2018-07-03 21:38] cormacpayne commented on #3386
Closing this issue. Please re-open this issue if the problem persists in the latest version of `AzureRM`

[2018-07-03 21:38] #3386 closed

[2018-07-03 21:40] cormacpayne commented on #3688
@epkalyanr any update on this issue?

CC: @momusoru @z01c @wawon-msft

[2018-07-03 21:41] cormacpayne commented on #3699
Closing as this was fixed.

[2018-07-03 21:41] #3699 closed

[2018-07-03 21:41] cormacpayne commented on #3749
@matthchr Hey Matt, would you mind taking a look at this issue?

[2018-07-03 21:43] cormacpayne commented on #3650
@Tiano2017 Hey Tian, would you (or someone from the ARM team) mind taking a look at this issue? It looks like there is a server side issue when making a request to the Microsoft.DocumentDB provider

[2018-07-03 21:46] v-Ajnava commented on #6553
@cormacpayne, Sure. taking a look into. will update thread.

[2018-07-03 21:47] cormacpayne commented on #3617
@dragonfly91 @viverm would you mind taking a look at this issue?

[2018-07-03 21:49] cormacpayne commented on #3823
@MikhailTryakhov Hey Mikhail, would you mind finding the appropriate contact for this cmdlet and assigning them this issue?

[2018-07-03 21:52] cormacpayne commented on #3780
@v-Ajnava Hey Ajit, would you mind taking a look at this issue?

[2018-07-03 21:55] cormacpayne commented on #3920
@athipp @taiwu would you mind taking a look at this issue?

[2018-07-03 22:00] cormacpayne commented on #3319
@ward0 information being propagated to the Portal (and any Portal functionality) is outside the scope of this repository. The Azure PowerShell cmdlets are responsible for making the requests to the server and returning the response. Closing.

[2018-07-03 22:00] #3319 closed

[2018-07-03 22:03] cormacpayne commented on #3720
@mjyeaney please use the `Get-AzureRmAutomationRunbook` cmdlet to get information about an automation account's runbook.

@PropertyOfTuckerSystems would you mind updating to the latest version of `AzureRM` and reporting whether or not you still see this issue?

[2018-07-03 22:03] #3720 closed

[2018-07-03 22:08] cormacpayne commented on #3445
Closing since this is not a first-party Azure service.

[2018-07-03 22:08] #3445 closed

[2018-07-03 22:09] cormacpayne commented on #3946
@Tiano2017 would you mind taking a look at this issue?

[2018-07-03 22:12] cormacpayne commented on #4092
@taiwu would you mind taking a look at this issue? It looks like the resource group name is not being returned from the server, so we should be able to parse the resource id on the returned object to get the resource group name from it.

[2018-07-03 22:13] cormacpayne commented on #4122
Closing.

[2018-07-03 22:13] #4122 closed

[2018-07-03 22:14] cormacpayne commented on #4135
Closing as there has been no traction on this issue in a year. Please feel free to re-open it if this is something that is scheduled.

[2018-07-03 22:14] #4135 closed

[2018-07-03 22:14] cormacpayne commented on #4190
This issue should be fixed in the latest version of `AzureRM`. Closing as a result.

[2018-07-03 22:14] #4190 closed

[2018-07-03 22:15] cormacpayne commented on #4033
@atpham256 Hey Anthony, would you mind taking a look at the above response? We should verify if this is still an issue as well. If not, we can go ahead and close it.

[2018-07-03 22:16] cormacpayne commented on #4218
@momusoru @z01c @wawon-msft would you mind taking a look at this issue?

[2018-07-03 22:18] cormacpayne commented on #4118
@hyonholee any update on this issue?

[2018-07-03 22:21] cormacpayne commented on #3821
Closing due to lack of activity. Please feel free to re-open this issue if you are still seeing this problem.

[2018-07-03 22:21] #3821 closed

[2018-07-03 22:23] cormacpayne commented on #4312
@hyonholee would you mind taking a look at this issue?

[2018-07-03 22:28] cormacpayne commented on #4388
@bganapa Hey Bala, do you know if this issue has been resolved?

[2018-07-03 22:32] deathly809 commented on #4388
@cormacpayne We have deprecated this module and suggest that users move to using the AzureStack module now.

[2018-07-03 22:32] bganapa commented on #4388
This module AzureRm.AzureStackAdmin has been deprecated now , closing this

[2018-07-03 22:32] #4388 closed

[2018-07-03 23:58] MikhailTryakhov commented on #3823
+@yushwang

[2018-07-04 05:51] yaakoviyun opened #6600 "[SQL] Recorder doesn't record storage container creation command"
### Description

[SQL] Recorder doesn't record storage container creation command

### Script/Steps for Reproduction
Remove the catch clause from the "Test-VulnerabilityAssessmentSettingsTest" test in src/ResourceManager/Sql/Commands.Sql.Test/ScenarioTests/VulnerabilityAssessmentTests.ps1.

Run it  in playback mode and see that the test doesn't find the storage after it was created in record mode.

[2018-07-04 05:57] yaakoviyun opened #6601 "[SQL] New-AzureRmResource fails when running the test in record mode"
### Description

[SQL] New-AzureRmResource fails when running the test in record mode

### Script/Steps for Reproduction

Uncomment the test in src/ResourceManager/Sql/Commands.Sql.Test/ScenarioTests/ThreatDetectionClassicStorageTests.cs and try to run it in record mode.

According to M.Yanni:

That function, Create-ClassicTestEnvironmentWithParams, worked previously because your test project was

[2018-07-04 07:21] blueww commented on #6582
@vladimir-shcherbakov

I find an issue of the format: for ListView, when add the Lable and ScriptBlock, the generated format xml, won't include the label, but only scriptBlock.

Such as ：
`  [Ps1Xml(Label = "Logging.Version", Target = ViewControl.List, ScriptBlock = "$_.Logging.Version", Position = 0)]`

Now Will generate:
[code]

Should generate:
[code]

[2018-07-04 09:39] cloudmelon commented on #6592
after deploying VMSS extension, actually, the automation script updated after a few minutes ( I retest it ). But the VMSS extension doesn't execute the scripts version 2...

[2018-07-04 11:30] wolfeno commented on #6479
Yes, it uses newer version. The problem is within manifest of a modules where required assemblies loaded using relative to working directory path like .\Newtonsoft.Json.dll instead of just Newtonsoft.Json.dll

[2018-07-04 13:18] mcduffhackser opened #6602 "powershell 6.4"
### Description

### Script/Steps for Reproduction

[code]

### Module Version

[code]

### Environment Data

[code]

### Debug Output

[code]

[2018-07-04 13:21] AbhishekTripathi opened #6603 "Import-AzureRmApiManagementApi -SpecificationPath doesn't handle relative path"
### Description

`Import-AzureRmApiManagementApi` is not mapping the relative path for `SpecificationPath` to the current working directory. It jumps to the root of the drive.

### Script/Steps for Reproduction

[code]

### Module Version

Update: I updated AzureRM module to latest version at the time of this comment. I don't see a difference in the debug output.
[code]

### Environment Data

[cod

[2018-07-04 14:15] KirkMunro commented on #6493
@RBACAsk: That sounds like a very specific solution to a general problem. What if I was doing something else with the user account? What if I was working with an AD application, AD group, or AD group member? I suspect the majority of these could be affected by replication delays. And with those, in this case I'm assigning a user role, but what else might I be doing that requires the replication to

[2018-07-04 14:41] leovms opened #6604 "Get-AzureRmResource -ResourceId case sensitive provider part"
### Description

Calling `Get-AzureRmResource -ResourceId` returns `null` or empty if the provider part of a resource ID mismatches case.

### Script/Steps for Reproduction

1. Get a resource ID for something like a Compute VM (i.e. `/subscriptions/<subId>/resourceGroups/<rgName>/providers/Microsoft.Compute/virtualMachines/<vmName>`).

2. Execute the PS as shown in the example below. Note the use

[2018-07-04 14:42] dbsanfte commented on #6223
This needs more attention, it happens a *lot*, and it breaks scripts.

[2018-07-04 14:45] LNieuwmegen opened #6605 "Set-AzureRmKeyVaultAccessPolicy does not respect ResourceId across different subscriptions"
### Description

The cmdlet `Set-AzureRmKeyVaultAccessPolicy` does not respect `-ResourceId` across different subscriptions

### Script/Steps for Reproduction
- Create two azure subscriptions
  - `Sub A` [id: `sub-a-id`] and provision a keyvault [name `kv-in-sub-a`; resourcegroup: `myrg`]
  - `Sub B` [id: `sub-b-id`]

- Login to AzureRM and issue `Select-AzureRmSubscription -Subscription "Sub B"`

[2018-07-04 16:52] cormacpayne commented on #6553
This will be resolved in the next release of `AzureRM`

[2018-07-04 16:52] #6553 closed

[2018-07-04 16:53] cormacpayne commented on #6604
@leovms thanks for filing this issue. It is a duplicate of https://github.com/Azure/azure-powershell/issues/6553 and will be fixed in the next release of `AzureRM` 😀

[2018-07-04 16:53] #6604 closed

[2018-07-04 17:16] cormacpayne commented on #6602
@mcduffhackser please provide more information about the issue you are facing and re-open this issue

[2018-07-04 17:16] #6602 closed

[2018-07-05 03:32] marknettle commented on #2723
Here's a workaround:
https://blogs.msdn.microsoft.com/brian_farnhill/2017/09/14/the-provided-value-for-the-template-parameter-is-not-valid-in-arm-template-deployments/

[2018-07-05 08:50] atomeffect opened #6606 "[Compute] [Azure German Cloud] - Get-AzureRmVm (Microsoft.Compute) API Error"
### Description

Trying to execute command "Get-AzureRMVM" @azuregermancloud (Germany Central) recieving following error code.
Tested in other subscriptions, tendants and clients, every time the same error.
No Issues in Azure Europe or others. Worked two weeks ago fine in germancloud for sure - nothing changed..
Get-AzureRmStorageAccount and others also working fine.. only issue with compute..

[c

[2018-07-05 16:05] RBACAsk commented on #6493
Hi Kirk,
AAD Graph APIs already return some information in the response headers that can be used in subsequent calls to indicate that the entity was recently created and help route the request to nodes where the entity has been replicated. Subsequent calls to AAD Graph are still made with the objectId, but you also pass this info in the request headers .

We will look into how to make the Azure RB

[2018-07-05 16:14] gbowerman commented on #6592
+ @rajsqr

[2018-07-05 16:21] #6356 closed

[2018-07-05 16:40] rajsqr commented on #6592
Hi - Could you please check the update mode for this VMSS? If it is in manual configuration, you have to manually update each VMSS instance.

[2018-07-05 17:07] praries880 commented on #6413
@DanielHWe Thanks for your feedback WRT the Probe param.

@DanielHWe @kasunsjc I will look into the issues you are pointing out WRT creating the vmss according to the linked sites.

[2018-07-05 17:08] vladimir-shcherbakov commented on #6582
@blueww
I see no reason for such a behavior in the [source code](https://github.com/Azure/azure-powershell/blob/preview/tools/RepoTasks/RepoTasks.RemoteWorker/AppDomainWorker.cs#L315). Can I user the [commit]( https://github.com/wastoresh/azure-powershell/commit/1670231abc82572aa5478ec5b3209bd6cba40686) to reproduce the issue?

[2018-07-05 17:29] kasunsjc commented on #6413
@praries880 I already create Issue for relevant doc refer below
https://github.com/MicrosoftDocs/azure-docs/issues/11037

[2018-07-05 18:39] praries880 commented on #6413
Thanks @kasunsjc

[2018-07-05 18:45] praries880 commented on #6498
Agreed upon changes :
* Add an optional switch param called `SinglePlacementGroup`, ehich when present creates the vmss with the _single placement group_ option. When its not specified (the default behavior), the vmss will be created with the _multiple placement group_ option.
* Multiple placement groups are not compatible with _SLB v1_ (basic SKU for LB), which according to [this code](https://gi

[2018-07-05 19:58] praries880 commented on #6413
@hyonholee
According to the validate command for the [OSDisk model](https://github.com/Azure/azure-sdk-for-net/blob/psSdkJson6/src/SDKs/Compute/Management.Compute/Generated/Models/VirtualMachineScaleSetOSDisk.cs#L160), `CreateOption` is a required property.

Following instructions [here](https://docs.microsoft.com/en-us/azure/application-gateway/tutorial-ssl-powershell#create-a-virtual-machine-sca

[2018-07-05 20:30] praries880 opened #6608 "Pick a default value for `OSDiskCreateOption` in cmdlet `Set-AzureRmVmssStorageProfile` or make it mandatory"
#### Issue origin
This issue came out of multiple customer reports in https://github.com/Azure/azure-powershell/issues/6413.

#### Issue description
@hyonholee
According to the validate command for the [OSDisk model](https://github.com/Azure/azure-sdk-for-net/blob/psSdkJson6/src/SDKs/Compute/Management.Compute/Generated/Models/VirtualMachineScaleSetOSDisk.cs#L160), `CreateOption` is a required pro

[2018-07-05 20:53] CodeHeadTheo commented on #5704
Any movement or update please?

[2018-07-05 21:21] cormacpayne commented on #6360
This has been fixed in the latest version of `AzureRM`. Closing.

[2018-07-05 21:21] #6360 closed

[2018-07-05 21:45] matthchr commented on #3749
@cormacpayne - I've actually thought about this some before. It's doable but there are a few issues.

1. We colocate the data-plane and management-plane operations in the same powershell module, and while it is true that you could do all of the dataplane operations without having an active login session, you can't do any management plane operations since they don't support sharedkey. I'm not sure

[2018-07-05 21:58] cormacpayne commented on #3749
@matthchr thanks for this information. Let me assign this back to our team for discussion during our next triage.

[2018-07-05 22:01] matthchr opened #6611 "Azure Batch Get-AzureBatchJob and New-AzureBatchJob CommonEnvironmentSettings are not of a consistent type"
### Description
It appears that the Batch `Get-AzureBatchJob` cmdlet converts the dictionary of environment settings into a list of `PSEnvironmentSettings` while the `New-AzureBatchJob` cmdlet requires a generic dictionary type.

If you want to reuse environment settings from one job to another this makes it a pain.

### Script/Steps for Reproduction

[code]

This can be worked around by doing:
[c

[2018-07-05 22:07] matthchr commented on #3749
For some more context, the whole `Get-AzureRmBatchAccountKeys` thing to use the dataplane commandlets isn't even required anymore, you can just use AAD for dataplane through powershell even today. So we have support for sharedkey but it doesn't really "get you much" (mostly just there for legacy reasons).

You can see the changelog note for AAD auth in Batch [here](https://github.com/Azure/azure-p

[2018-07-05 22:56] cormacpayne commented on #4092
This will be fixed in the upcoming release of `AzureRM`

[2018-07-05 22:56] #4092 closed

[2018-07-05 23:09] cormacpayne commented on #4412
This should be fixed in the latest version of `AzureRM`. Please re-open this issue if you are still having this problem.

[2018-07-05 23:09] #4412 closed

[2018-07-05 23:16] cormacpayne commented on #4423
@ravbhatnagar the `Get-AzureRmResource` cmdlet now leverages the ARM SDK rather than using a generic `HttpClient` to make the request to get resources -- is there any plan to support the above scenario in the SDK?

[2018-07-05 23:17] cormacpayne commented on #1340
@blueww Hey Wei, do you know if this issue is still active?

[2018-07-05 23:20] cormacpayne commented on #3829
This issue seems to have been resolved in PR https://github.com/Azure/azure-powershell/pull/4619

[2018-07-05 23:20] #3829 closed

[2018-07-05 23:21] cormacpayne commented on #4470
I believe this issue is resolved in the latest version of `AzureRM`. Please re-open this issue if that is not the case.

[2018-07-05 23:21] #4470 closed

[2018-07-05 23:22] cormacpayne commented on #4350
@rkmanda @chieftn any update on this issue?

[2018-07-05 23:28] tylerd commented on #6521
Just realized. This causes an issue in the Cloud Shell also.
[code]

[2018-07-05 23:29] cormacpayne commented on #4513
@praries880 would you mind handling this issue when you have time? Let me know if you'd like me to reassign this to someone else.

[2018-07-05 23:30] cormacpayne commented on #4527
This can now be done by using the `-DefaultProfile` parameter in all cmdlets to run the cmdlet under a specific context.

[2018-07-05 23:30] #4527 closed

[2018-07-05 23:39] cormacpayne commented on #4565
@chandrasekarsrinivasan Hey Chandrasekar, would you mind taking a look at this issue?

[2018-07-05 23:40] cormacpayne commented on #4566
@gucalder ping

[2018-07-05 23:41] cormacpayne commented on #4543
@v-Ajnava Hey Ajit, would you mind taking a look at this issue?

[2018-07-05 23:43] cormacpayne commented on #4555
@derek1ee Hey Derek, would you mind taking a look at this issue?

[2018-07-05 23:47] cormacpayne commented on #3792
I believe this issue has been resolved in the latest version of `AzureRM`. Please re-open this issue if that is not the case.

[2018-07-05 23:48] cormacpayne commented on #2186
@momusoru @z01c @wawon-msft would you mind taking a look at this issue?

[2018-07-05 23:48] cormacpayne commented on #4435
I believe this has been completed. @bganapa let me know if that is not the case

[2018-07-05 23:48] #4435 closed

[2018-07-05 23:49] rkmanda commented on #4350
@Rick Kessler<mailto:rkessler@microsoft.com> / @Ilie Luican<mailto:iliel@microsoft.com> can you please take a look?

From: Cormac McCarthy <notifications@github.com>
Sent: Thursday, July 5, 2018 4:24 PM
To: Azure/azure-powershell <azure-powershell@noreply.github.com>
Cc: Roopesh Manda <rmanda@microsoft.com>; Mention <mention@noreply.github.com>
Subject: Re: [Azure/azure-powershell] Not possible to

[2018-07-05 23:50] cormacpayne commented on #1528
@ravbhatnagar ping

[2018-07-06 00:07] bganapa commented on #4435
Yes this is done. Thanks

[2018-07-06 00:36] panchagnula commented on #6352
@gabe-rivera  & @MisinformedDNA please run the command without the parenthesis or spaces in the metrics names i.e if you are running Ex.
 Get
-AzureRmAppServicePlanMetrics -ResourceGroupName "someName" -Name "someName" -StartTime 2018-07-04T22:00:00z -EndTime 2018-07-04T22:30:00z -Granularity PT1M -Metrics "CPUPercentage"

the documentation example is incorecct & infact using the parenthesis or sp

[2018-07-06 00:44] rkmanda commented on #4350
Sapan, can you please have a look?

Thank you,
Ilie.

________________________________
From: Roopesh Manda
Sent: Thursday, July 5, 2018 5:49:50 PM
To: Rick Kessler; Ilie Luican
Cc: Mention; Azure/azure-powershell; Azure/azure-powershell
Subject: RE: [Azure/azure-powershell] Not possible to set multiple rights with Add-AzureRmIotHubKey (#4350)

@Rick Kessler<mailto:rkessler@microsoft.com> / @Ilie L

[2018-07-06 01:55] blueww commented on #1340
@cormacpayne
Yes, this issue is still active.
I will find some time try to fix it.

[2018-07-06 02:08] blueww commented on #6582
@vladimir-shcherbakov
You can use this commit (https://github.com/wastoresh/azure-powershell/commit/f6b21690407dcce11388d19a356fae69a6760637#diff-a87cb03e614ebd5f5c52fa3299750409R45) to repro the issue. See the line 45 of file src/Storage/Commands.Storage/Model/ResourceModel/PSSeriviceProperties.cs

[2018-07-06 05:18] Epoxboy commented on #2576
@rohansahai  mate, do you find a solution? I'm in the same situation when using azuresdk/azure-powershell-core.

cheers,

[2018-07-06 06:55] naveenkumarjagtab commented on #6572
@cormacpayne  you really rocked... man. thanks for your help now am able to login.

Thanks for your help really appreciated.

[2018-07-06 06:55] #6572 closed

[2018-07-06 07:20] grik001 opened #6613 "Get-AzureStorageContainer - Forbidden"
Hi,

I am trying to execute the following command:

$ctx = New-AzureStorageContext -StorageAccountName "coditstgweinvictusstore" -SasToken ""
$containers = Get-AzureStorageContainer -Context $ctx

It works locally using powershell, but keep returning 401 when executing it from VSTS. This was working previosly, the only thing I can think of that was changed was the SasToken(re-generated).

I have t

[2018-07-06 08:33] grik001 commented on #6613
Where can I find the : debug log of Get-AzureStorageContainer

[2018-07-06 08:39] grik001 commented on #6613
1:
2: ?sv=2017-11-09&ss=bfqt&srt=sco&sp=rwdlacup&se=2019-07-06T16:21:37Z&st=2017-07-06T08:21:37Z&spr=https,http&sig=
3:

[2018-07-06 08:42] blueww commented on #6613
1. Debug log：
Run ： $containers = Get-AzureStorageContainer -Context $ctx -debug
And the output is debug log.

2.The SAS looks good

3. Please check the module version by "get-module".

[2018-07-06 08:47] grik001 commented on #6613
1: Azure-Storage-PowerShell-3e98e217-9623-45d8-8ad3-77b60b6cb15c
2: ?sv=2017-11-09&ss=bfqt&srt=sco&sp=rwdlacup&se=2019-07-06T16:21:37Z&st=2017-07-06T08:21:37Z&spr=https,http&sig=
3: Is This correct? Get-Module -Name Azure.Storage

[2018-07-06 09:01] cloudmelon commented on #6592
hi @rajsqr I added also **_-AutoUpgradeMinorVersion $true_** in the command, so that would be working ?

[2018-07-06 09:09] blueww commented on #6613
”Get-Module -Name Azure.Storage“ should work.
You should run it in the same PowerShell console, after the issue repro.

[2018-07-06 09:46] grik001 commented on #6613
@blueww

Sorry for the delay, I am trying to figure out how I can get VSTS to output this data. I can see the request ID locally but the DEBUG comments are not being printed in VSTS logs during the build.

[2018-07-06 13:12] grik001 commented on #6613
@blueww

I know it may not be related to this. But do you know how I can use -Debug in VSTS since it requires interactive mode?

[2018-07-06 14:18] MisinformedDNA commented on #6352
@panchagnula Contrary to what you said, @gabe-rivera and I both downgraded to 5.7 and subsequently got past this error.

[2018-07-06 15:53] cormacpayne commented on #6606
@hyonholee @nibhat hey guys, do you know if the latest Compute API has rolled out to the German cloud?

[2018-07-06 16:05] cormacpayne commented on #4702
@gucalder ping

[2018-07-06 16:14] MaximoTrinidad opened #6615 "New-AzureRMVM - Receive-Job not able to save cmdlet error from background job."
### Description

OK! I'm not sure to where to address this issue but I think is a Azure Cmdlet.

So, I'm submitting to a background job the **New-AzureRMVM** command to create a VM but with some existing resources.  In other words, I'm trying to fail the command.

The job is submitted as a scriptblock to be executed with a Start-Job.

The main issue is, when I run the code in the console, the job

[2018-07-06 16:30] cormacpayne commented on #691
@kmouss ping

[2018-07-06 16:30] cormacpayne commented on #4706
This should be fixed in the latest release of `AzureRM`

[2018-07-06 16:30] #4706 closed

[2018-07-06 16:35] cormacpayne commented on #4635
@ravbhatnagar ping

[2018-07-06 16:35] cormacpayne commented on #4613
@bganapa has this been completed?

[2018-07-06 16:40] cormacpayne commented on #4609
@bganapa do you know if this work has been completed?

[2018-07-06 17:34] cormacpayne commented on #4703
@singhkays @hyonholee any update on this?

[2018-07-06 17:36] cormacpayne commented on #4792
Closing due to inactivity.

[2018-07-06 17:36] #4792 closed

[2018-07-06 17:43] cormacpayne commented on #4830
@danielsollondon ping

[2018-07-06 17:44] cormacpayne commented on #4551
@eshaparmar ping

[2018-07-06 17:44] cormacpayne commented on #4022
@NonStatic2014 Hey Klein, would you mind taking a look at this issue?

[2018-07-06 17:44] panchagnula commented on #6352
@MisinformedDNA interesting since I have tried with the version 5.7.0 & I did not get it to work with the spaces & parenthesis in the metric name

PS C:\Users\sisirap> Get-Module -Name AzureRM -ListAvailable

    Directory: C:\Program Files\WindowsPowerShell\Modules

ModuleType Version    Name                                ExportedCommands
---------- -------    ----

[2018-07-06 17:51] cormacpayne commented on #4246
@ravbhatnagar ping

[2018-07-06 17:53] cormacpayne commented on #4899
Closing issue due to lack of activity. Please re-open this issue if you are still seeing this problem.

[2018-07-06 17:53] #4899 closed

[2018-07-06 17:53] cormacpayne commented on #2414
@ravbhatnagar ping

[2018-07-06 17:53] rajsqr commented on #6592
Please check out the documentation here on how to bring up VMs up to date with the latest scale set model- https://docs.microsoft.com/en-us/azure/virtual-machine-scale-sets/virtual-machine-scale-sets-upgrade-scale-set#how-to-bring-vms-up-to-date-with-the-latest-scale-set-model

Adding @nkuchta to comment further.

[2018-07-06 17:55] cormacpayne commented on #4889
@chandrasekarsrinivasan Hey Chandrasekar, would you mind taking a look at this issue?

[2018-07-06 17:55] MisinformedDNA commented on #6352
Oh, you mean the brackets? With the brackets, it doesn't error out, but it also doesn't return any metrics. Removing the brackets returns the expected metrics. What's confusing is that the OP didn't have any spaces or brackets and it still failed, how come?

BTW: I already discussed some of this with support (ticket 118062218445703), but wanted to follow up here for anyone else running into the is

[2018-07-06 17:56] cormacpayne commented on #4928
This has been fixed.

[2018-07-06 17:56] #4928 closed

[2018-07-06 18:03] cormacpayne commented on #4949
This appears to be resolved in the latest version of `AzureRM`. Please re-open this issue if that is not the case.

[2018-07-06 18:03] #4949 closed

[2018-07-06 18:51] cormacpayne commented on #4948
This issue seems to have been resolved in PR https://github.com/Azure/azure-powershell/pull/4981

[2018-07-06 18:51] #4948 closed

[2018-07-06 18:52] cormacpayne commented on #4950
@viverm @bsiva ping on the questions above

[2018-07-06 18:52] cormacpayne commented on #4939
@derek1ee Hey Derek, would you mind taking a look at this issue?

[2018-07-06 18:53] cormacpayne commented on #4436
I believe this has been resolved.

[2018-07-06 18:53] #4436 closed

[2018-07-06 19:09] cormacpayne commented on #3876
@maddieclayton do you know if this is still an issue?

[2018-07-06 19:13] cormacpayne commented on #4991
Closing due to lack of activity. Please feel free to re-open this issue if you are still seeing the problem.

[2018-07-06 19:13] #4991 closed

[2018-07-06 19:13] cormacpayne commented on #4810
@gucalder ping

[2018-07-06 19:21] cormacpayne commented on #5038
@ejarvi Hey Eric, would you mind taking a look at this issue?

[2018-07-06 19:36] cormacpayne commented on #5042
@gucalder @micongjie ping

[2018-07-06 19:36] cormacpayne commented on #5043
@NonStatic2014 ping

[2018-07-06 19:44] cormacpayne commented on #5051
@chandrasekarsrinivasan  Hey Chandrasekar, would you mind taking a look at this issue?

[2018-07-06 19:45] cormacpayne commented on #5055
@v-Ajnava Hey Ajit, would you mind responding to the above comment?

[2018-07-06 19:46] cormacpayne commented on #5057
Closing as this has been resolved. @v-Ajnava you may want to look at calling out this information in the docs for the cmdlet

[2018-07-06 19:46] #5057 closed

[2018-07-06 19:55] cormacpayne commented on #5058
@v-Ajnava Hey Ajit, would you mind taking a look at the comment above?

[2018-07-06 20:17] cormacpayne commented on #5098
@akromm @jaredmoo hey guys, do you know if this fix has been deployed?

[2018-07-06 20:19] cormacpayne commented on #4616
This work has been started by @mentat9 in the [`AzureRM.Resources-preview`](https://github.com/Azure/azure-powershell/tree/AzureRM.Resources-preview) branch -- need to look into what it takes to finish the rest of the cmdlets

[2018-07-06 20:19] cormacpayne commented on #4959
@gucalder ping

[2018-07-06 20:19] cormacpayne commented on #4958
@gucalder ping

[2018-07-06 20:20] cormacpayne commented on #5005
@gucalder ping

[2018-07-06 20:21] cormacpayne commented on #5144
@momusoru @z01c @wawon-msft would you mind taking a look at this issue?

[2018-07-06 20:23] cormacpayne commented on #4766
@bganapa is this issue still active?

[2018-07-06 20:23] cormacpayne commented on #4615
@ravbhatnagar ping

[2018-07-06 20:28] mentat9 commented on #4616
Hmm, I don't think this should be assigned to me: this development has to be done by the cmdlet owners. I've already completed it for my team's cmdlets. I think you need a PM that can discover who all the teams are, and engage them over a period of time to get the work on their radar and get resources on it. This represents quite a bit of work.

[2018-07-06 20:30] deathly809 commented on #4766
@cormacpayne We have deprecated this module.

[2018-07-06 20:30] #4766 closed

[2018-07-06 20:32] cormacpayne commented on #5211
@jaredmoo @maboja-msft ping

[2018-07-06 20:40] cormacpayne commented on #4370
@viananth is this issue still active?

[2018-07-06 20:41] cormacpayne commented on #4811
@bganapa @deathly809 is this issue still active?

[2018-07-06 20:41] cormacpayne commented on #4983
@asheniam Hey Andy, is this issue still active, or can we close it?

[2018-07-06 20:42] cormacpayne commented on #3659
@viananth is this issue still active?

[2018-07-06 20:42] cormacpayne commented on #4309
Closing due to lack of activity. Please feel free to re-open this issue if the problem persists.

[2018-07-06 20:42] #4309 closed

[2018-07-06 20:44] cormacpayne commented on #2263
@ravbhatnagar ping

[2018-07-06 20:44] cormacpayne commented on #5296
@djyou Hey Dongjiang, any update on this issue?

[2018-07-06 20:48] cormacpayne commented on #3002
@maddieclayton would you mind taking a look to see if this has been resolved?

[2018-07-06 20:49] cormacpayne commented on #4946
@corquiri any update on this issue?

[2018-07-06 20:52] cormacpayne commented on #5331
@dragonfly91 has this been addressed?

[2018-07-06 21:05] cormacpayne commented on #5321
@SiddharthChatrolaMs has this issue been addressed?

[2018-07-06 21:09] cormacpayne commented on #5287
@panchagnula Hey Sisira, has this issue been addressed?

[2018-07-06 21:12] bganapa commented on #5197
@hyonholee Do you have any idea on Tim's Q above? Thanks

[2018-07-06 21:17] panchagnula commented on #5287
Not yet @cormacpayne

[2018-07-06 21:22] tylerd commented on #6521
@vladimir-shcherbakov do you want me to just send a pull request for this? I have some cycles this afternoon

[2018-07-06 21:28] cormacpayne commented on #5126
@danielsollondon ping

[2018-07-06 21:33] cormacpayne commented on #5369
@singhkays @hyonholee do you know if this is still an issue?

[2018-07-06 21:34] cormacpayne commented on #5291
@MikhailTryakhov Hey Mikhail, would you mind assigning this to the proper contact? (is it the same as NSG?)

[2018-07-06 21:34] cormacpayne commented on #3268
@rkmanda ping

[2018-07-06 21:35] cormacpayne commented on #3157
@taiwu would you mind taking a look at this issue? We are looking to remove hard-coded locations from tests and replace them with calls to `Get-Location`, which will dynamically get locations based on regions that are available to the user recording the tests.

[2018-07-06 21:52] rkmanda commented on #4350
This issue relates back to newtonsoft -- here is my analysis from last summer:

1.  The command functions by taking user input and mapping it to SDK types.
2.  The command utilizes Newtonsoft's serialization / deserialization capabilities to convert listed access rights to enum type AccessRights types (using IoTHubUtils).
3.  AccessRights uses a StringEnumConverter to map string enumerations to th

[2018-07-06 21:55] darshanhs90 commented on #5673
for a user without a subscription,i donot see any value to get the roleassignments, since there wont be any RA's

[2018-07-06 21:55] #5673 closed

[2018-07-06 21:56] darshanhs90 commented on #5811
This has been fixed in https://github.com/Azure/azure-powershell/pull/6588

[2018-07-06 21:56] #5811 closed

[2018-07-06 21:58] darshanhs90 commented on #793
Allows pipeling now
 <CommonParameters>
     This cmdlet supports the common parameters: Verbose, Debug,
     ErrorAction, ErrorVariable, WarningAction, WarningVariable,
     OutBuffer, **PipelineVariable**, and OutVariable. For more information, see
     about_CommonParameters (https:/go.microsoft.com/fwlink/?LinkID=113216).

[2018-07-06 21:58] #793 closed

[2018-07-06 23:05] taiwu commented on #3157
We consider this as a low priority bug, will create a task on our side and assign to me. Will keep you update. ETA will be 1 week.

[2018-07-06 23:33] twitchax commented on #5144
Sorry, I missed this one. :(  My bad.

[2018-07-07 01:17] bganapa commented on #4811
Yes. This will be fixed for our Aug release

[2018-07-07 01:18] bganapa commented on #4609
This is done. Closing this

[2018-07-07 01:18] #4609 closed

[2018-07-07 01:18] bganapa commented on #4613
We still have this dependency

[2018-07-07 02:25] daozha opened #6622 "ErrorAction does not take effect on Azure Stack Admin cmdlets"
### Description

Currently $ErrorActionPreference is set to Stop in all Azure Stack Admin cmdlets, so when cmdlets fail, it will always stop the script regardless of how ErrorAction is set when calling cmdlets.

### Script/Steps for Reproduction

Using Backup module:
Set-AzsBackupShare -Username "wrongusername" -Password (ConvertTo-SecureString -AsPlainText -Force "wrongpassword") -BackupShare "wr

[2018-07-07 18:35] rohansahai commented on #2576
@Epoxboy unfortunately not, I ended up using a windows computer power shell to do what I needed to do

[2018-07-07 22:30] changov opened #6623 "Unsafe use of HttpClient per request"
https://github.com/Azure/azure-powershell/blob/bbe5ee957de07032bcf7f9062bba91cceee62565/src/ResourceManager/Resources/Commands.ResourceManager/Cmdlets/RestClients/ResourceManagerRestClientBase.cs#L221

The proper usage is [finally] documented in the Remarks section here: https://msdn.microsoft.com/en-us/library/system.net.http.httpclient%28v=vs.110%29.aspx . Here's a sample report of what happens

[2018-07-08 09:51] arvinder-dhar commented on #4953
Thanks @daviburg , it worked
I had updated my AzureRM module earlier, but didn't restarted the console

[2018-07-09 02:03] blueww commented on #6613
@grik001
I am not sure how to use -Debug in VSTS.

But if you can't get the debug log, could you share the test account name and test time (UTC)? I can try to find the log.

BTW, please share the module version by run ”Get-Module -Name Azure.Storage“, and show me the output

[2018-07-09 02:07] Epoxboy commented on #2576
@rohansahai I figured it out, you can set the proxy on Docker deamon in the config.json then container will pick it up.

[2018-07-09 06:36] Jimmyf1 opened #6624 "Get/Remove-AzureRmRoleAssignment with root scope fails"
### Description

Errors may be encountered in the `Get-AzureRmRoleAssignment` and `Remove-AzureRmRoleAssignment` cmdlets when specifying the root scope (parameter **-Scope "/"**). The nature of the error suggests that the user does not have the RBAC action 'Microsoft.Authorization/roleAssignments/read' over the specified scope when they in fact do. The error message indicates the scope to be '/pro

[2018-07-09 10:37] blueww commented on #6582
@vladimir-shcherbakov

The label can be generated in the latest code, so this ListView issue not eixst now.

But there is still one issue, some of the cmdlets output the object type from the XSCL (like Azure File ). And other ourput type include object from XSCL as a member (like AzureStorageBlob). Could we also support that? Like:
1. We have a file to storage the format that can't be define in Po

[2018-07-09 12:18] bsiva commented on #4950
@shubhamgupta514 - dont think your summary is accurate. At a high-level, in host based replication the agent is on the Hypervisor host that hosts the VM that is being replicated, whereas in guest based replication the agent is on the VM that is being replicated.

Process server provides additional functionality such as caching/compression etc., as we dont want to burden the guest with the extra pr

[2018-07-09 13:49] cblackuk opened #6628 "Get-AzureRmRoleAssignment throws unhandled exception on Service Provider account - Azure Stack"
### Description

Similar issues to https://github.com/Azure/azure-powershell/issues/3407 and https://github.com/Azure/azure-powershell/issues/5192

When you run Get-AzureRmRoleAssignment usung SPN it throws an exception:
*Exception of type 'Microsoft.Rest.Azure.CloudException' was thrown.*

The same command when you are authenticated with Azure Public using the same SPN works fine.

[code]

### Sc

[2018-07-09 14:29] cblackuk opened #6629 "Connect-AzureRmAccount - Cannot authenticate on NetCore using SPN"
### Description

Pretty much duplicate of https://github.com/Azure/azure-powershell/issues/5785

This time I am trying to use SPN to autenticate and am having the same issue

### Script/Steps for Reproduction

[code]

### Module Version

[code]

### Environment Data

[code]

[2018-07-09 14:43] cblackuk commented on #6629
Actually I was wrong, if you install NetCore module it works!

Run this and it will work!
Install-Module AzureRM.NetCore -Force

[2018-07-09 14:48] cblackuk commented on #6628
Additional issue with the command is as follows.

On NetCore
[code]

On Desktop Powershell Latest modules:
[code]

[2018-07-09 14:51] #6629 closed

[2018-07-09 16:42] cblackuk commented on #6628
As with the previous issues it appears that Azure Active Directory permissions are to be blamed.

Workaround:
[code]

[2018-07-09 16:49] allar7 opened #6630 "Powershell documentation lacking"
I was referred here as someone said that engineering handles reference documentation.

A customer found the following document lacking:
https://docs.microsoft.com/en-us/powershell/module/azurerm.profile/set-azurermcontext?view=azurermps-6.4.0
Select-AzureRmSubscription is not listed with the others. I'm not sure if other commandlets are missing as that the select one is what we were looking for.

[2018-07-09 17:42] maddieclayton commented on #6605
@LNieuwmegen Unfortunately, because the management client is set up to only change resources in the current subscription, we are not able to update vaults outside of your current subscription.  I will update the failure message to reflect this, as the current error is not very helpful for this situation.  Thanks!

[2018-07-09 18:55] amjad opened #6632 "The term 'Remove-AzureStorageAccount' is not recognized as the name of a cmdlet"
I am getting this error, when I am trying to run this command.

[code]

What can be causing this?

### Module Version

Script     5.4.1      AzureRM
Script     5.0.1      AzureRM

### Environment Data

PSVersion                      5.0.10586.117
PSCompatibleVersions           {1.0, 2.0, 3.0, 4.0...}
BuildVersion                   10.0.10586.117
CLRVersion                     4.0.30319.42000
WSMan

[2018-07-09 19:36] cormacpayne commented on #6632
@amjad this cmdlet is found in the `Azure` module -- do you have this module installed on your machine in addition to `AzureRM`?

[2018-07-09 19:45] cormacpayne commented on #6498
This has been fixed.

[2018-07-09 19:45] #6498 closed

[2018-07-09 19:46] cormacpayne commented on #6605
This has been fixed.

[2018-07-09 19:46] #6605 closed

[2018-07-09 19:55] MaximoTrinidad commented on #6632
@amjad,

Yes! I was going to ask that... it should have been "**Remove-AzureRMStorageAccount**".
:)

[2018-07-09 20:00] amjad commented on #6632
How do I check with `Azure` module is installed?

if I run `Get-Module -Name Azure -ListAvailable` I do not get anything.

[2018-07-09 20:03] MaximoTrinidad commented on #6632
It should be AzureRM module!

[2018-07-09 20:04] MaximoTrinidad commented on #6632
Azure module is the classic (old model).

[2018-07-09 20:06] amjad commented on #6632
Yes I do have AzureRM module installed.

Script 5.4.1 AzureRM
Script 5.0.1 AzureRM

[2018-07-09 20:11] amjad commented on #6632
@MaximoTrinidad **Remove-AzureRMStorageAccount** this worked for me! Thanks!

[2018-07-09 20:28] anusapan opened #6633 "Login screen not redirecting me to powershell console while debugging powershell"
### Description

While debugging the code, First step is to login through login-azurermaccount cmdlet which will ask for the credentials, but the issue is that when I entered the credentials the login popup window redirecting me to "Microsoft Office Home"  screen instead of successfully authenticate.

Adding screen after login screen.

![image](https://user-images.githubusercontent.com/31940305/42

[2018-07-09 20:28] mganeshphani commented on #1724
@singhkays thankyou.. your response really helped me today :)

[2018-07-09 20:48] #6632 closed

[2018-07-09 21:44] edyoung commented on #6585
Likely related to #6328

[2018-07-09 21:45] corquiri commented on #4946
We are still only allowing create operation through Ibiza/PC portal. I think you can close this issue for now.

[2018-07-09 21:45] #4946 closed

[2018-07-09 23:44] maddieclayton commented on #3002
@RandalliLama @schaabs Can we close this issue? It looks like you will have to create a DigiCert or GlobalSign account to test this cmdlet (which makes automation difficult), and the issue has been open for two years.  If you do not plan to add this test, we do need acknowledgement that we will not need to hot fix issues around this parameter, as there are no tests to help us catch possible issues

[2018-07-10 01:06] maddieclayton commented on #6149
Done!

[2018-07-10 01:06] #6149 closed

[2018-07-10 01:07] maddieclayton commented on #6150
Done!

[2018-07-10 01:07] #6150 closed

[2018-07-10 02:57] lczc1988 commented on #6576
Any ETA to fix this? Thank you.

[2018-07-10 03:04] ToMakeSense commented on #6370
@solankisamir any progress?

[2018-07-10 04:19] solankisamir commented on #6370
@ToMakeSense fix should be out by end of this month.

[2018-07-10 04:34] panchagnula commented on #6576
@lczc1988  just wanted to let you know that this bug is to handle the - Microsoft.Rest.Azure.CloudException: Exception of type 'Microsoft.Rest.Azure.CloudException' that is reported even after the app service plan gets created successfully, I updated the title to reflect this. & the answer to your question - No ETA as yet.

[2018-07-10 05:43] ToMakeSense commented on #6370
@solankisamir good news :+1:

[2018-07-10 07:09] holgerjay commented on #2278
Agreed, @abatishchev , that is an easy fix. It is a bit strange though that the conflict is introduced when downloading the pre-created template from Azure.

[2018-07-10 09:09] DdenBraver commented on #4980
Same issue is still hapening for us.
We have now created a do/while loop to get around this issue.

[2018-07-10 10:19] LukeDearden opened #6635 "Set-AzureRmWebApp : The parameter phpVersion has an invalid value"
### Description
Trying to use Set-AzureRmWebApp to disable PHP using the parameter -PhpVersion Off (which used to work) now returns the exception
Set-AzureRmWebApp : The parameter phpVersion has an invalid value

### Script/Steps for Reproduction

[code]

### Module Version

[code]

### Environment Data

[code]

### Debug Output

[code]

[2018-07-10 11:52] DanielHWe commented on #6413
In case I add "-OSDiskCreateOption FromImage" in my sample  so I use

[code]
 give me the a bit ambiguous error message:

[code]

But @kasunsjc gave me the current hint and it works with

[code]

[2018-07-10 15:03] kasunsjc commented on #6413
@DanielHWe are you trying to update the existing VMSS ?

[2018-07-10 15:58] cmptscpeacock opened #6636 "The process 'C:\\Program Files\\Update Services\\Tools\\WsusUtil.exe' with arguments 'postinstall CONTENT_DIR=F:\\WSUS' failed to stop within the specified timeout."
Hi,

I'm deploying a VM with a DSC to install WSUS (taken from here:https://github.com/mgreenegit/UpdateServicesDsc/blob/master/Tests/Integration/UpdateServicesConfig.ps1)

Azure seems to deploy but timeout when the WSUS content is downloaded. There is a lot of data so it will take time. There shouldn't be a timeout, or if it's needed then a switch maybe to select how long the timeout should be.

[2018-07-10 16:30] cormacpayne commented on #6615
@MaximoTrinidad Hey Maximo, I believe that you are only capturing the data from the output stream when assigning the variable to the result of `Receive-Job`, so it shouldn't capture the data from the error stream. I think your best option is to use the `-ErrorVariable` parameter and assign the data from the error stream to a variable that you can later access. Let me know if that doesn't work for

[2018-07-10 16:30] #6615 closed

[2018-07-10 16:37] cormacpayne commented on #6624
@darshanhs90 Hey Haridarshan, would you mind taking a look at this issue?

[2018-07-10 16:40] cormacpayne commented on #6628
@cblackuk Hey Chris, I believe this is due to the fact that the `AzureStack` module uses version 4.4.1 of `AzureRM.Resources`, and the fix for this issue was introduced around version 5.4.0.

@bganapa Hey Bala, do you know if you all plan on consuming a later version of the `AzureRM.Resources` module for `AzureStack` in the near future?

CC: @darshanhs90

[2018-07-10 16:55] sphibbs commented on #6630
Select-AzureRmSubscription is an alias for Select-AzureRmContext. If you run get-help Select-AzureRMSubscription from within PowerShell it will display help for Select-AzureRmContext.

We are working with PowerShell and the documentation team to add better help or ways to identify aliases.

Are there other ways documentation is lacking or just other aliases? Please reopen and add any details about

[2018-07-10 16:55] #6630 closed

[2018-07-10 16:57] #3002 closed

[2018-07-10 17:14] cormacpayne commented on #6633
Closing as this will be resolved offline.

[2018-07-10 17:14] #6633 closed

[2018-07-10 17:40] MaximoTrinidad commented on #6615
Sorry! I didn't notice this until today.  And, this issue is closed before I can even do some test and add more more feedback.
:(

[2018-07-10 17:41] cormacpayne commented on #6635
@panchagnula Hey Sisira, would you mind taking a look at this issue?

[2018-07-10 17:50] cormacpayne commented on #6636
@cmptscpeacock is the above failure coming from an `AzureRM` cmdlet? If so, please provide the cmdlet(s) and the corresponding parameters you used, as well as the version of `AzureRM` you have installed on your machine (this information can be retrieved by running `Get-Module -Name AzureRM -ListAvailable`)

[2018-07-10 17:55] cmptscpeacock commented on #6636
Hi,

Thanks for getting in touch. I run this VM extension during deployment:

        {
          "apiVersion": "2015-06-15",
          "type": "Microsoft.Compute/virtualMachines/extensions",
          "name": "[concat(parameters('vmName1'),'/',parameters('vmName1DscConfig'))]",
          "location": "[resourceGroup().location]",
          "dependsOn": [
            "[concat('Microsoft.Compute/vir

[2018-07-10 17:57] ngoel110 opened #6637 "Get-AzureRmResource and Set-AzureRmResource cmdlet does not support Zones field"
Currently both Get-AzureRmResource and Set-AzureRmResource does not support zones filed. It should supports zones field and return correct value in AZ supported regions.

Already tested with latest Azure Powershell.
Zone is not defined in the Model  https://github.com/Azure/azure-powershell/blob/bbe5ee957de07032bcf7f9062bba91cceee62565/src/ResourceManager/Resources/Commands.Resources/Models.Resour

[2018-07-10 17:58] darshanhs90 commented on #6624
@Jimmyf1 Could you share the stacktrace, so that i can check your permissions and let you know what is the underlying issue

[2018-07-10 18:38] vladimir-shcherbakov commented on #6582
@blueww
I'm not sure I get the idea. Could you please give some example.

[2018-07-10 20:43] cblackuk commented on #6628
@cormacpayne I expected that module version is to blame but I raised it for awareness and to potentially "force" AZS to use newer module :-) Thanks for checking and asking on my behalf.

[2018-07-10 21:06] bganapa commented on #6628
@cblackuk sorry that you are running in to this issue. We will be releasing a new azure stack specific resources module in August end which will have the fix for this. The latest module does not really work against azure stack as azure stack does not support the api version needed.

[2018-07-10 21:09] cblackuk commented on #6628
@bganapa Thanks for a quick reply. Will the new modules also be release for .NET Core?

[2018-07-10 21:31] osemyonov opened #6639 "Import-AzureRmApiManagementApi command started to fire errors"
PS script updats Azure APIs by swagger files. Everything worked. Recently it started to fire errors:
PS script worked last 6 month and was not modified.

**Cmd**:
Import-AzureRmApiManagementApi  -Context $azureContext -SpecificationFormat Swagger -SpecificationPath $fileName -Path $_.Path -ApiId $_.ApiId -ErrorAction Continue -ErrorVariable +azureImportError;

**Error**:
Import-AzureRmApiManagemen

[2018-07-10 21:35] cormacpayne commented on #6639
@solankisamir Hey Samir, would you mind taking a look at this issue?

[2018-07-10 21:43] hakant commented on #6384
It seems like there's no way to reference a VersionSet from either "New-AzureRmApiManagementApi" or "Import-AzureRmApiManagementApi" in Azure Powershell. So after creating an ApiVersionSet using "New-AzureRmApiManagementApiVersionSet" there seems to be no logical next step. What am I missing here? How do I use the VersionSetId and make an API out of it ? Thanks!

[2018-07-10 21:53] cormacpayne commented on #6623
@Tiano2017 @ravbhatnagar would you mind taking a look at this issue?

[2018-07-10 21:56] cormacpayne commented on #2283
@ravbhatnagar ping

[2018-07-10 21:57] cormacpayne commented on #4714
@MikhailTryakhov Hey Mikhail, would you mind assigning this to the proper team?

[2018-07-10 21:58] cormacpayne commented on #4633
@bganapa is this still an issue?

[2018-07-10 21:59] cormacpayne commented on #1817
@ravbhatnagar ping

[2018-07-10 22:01] cormacpayne commented on #5071
@rahuldutta90 is this still an issue?

[2018-07-10 22:02] cormacpayne commented on #5213
@bganapa do we have a timeline for this?

[2018-07-10 22:02] cormacpayne commented on #5212
@bganapa do you have a timeline for when this fix will happen?

[2018-07-10 22:03] cormacpayne commented on #5224
@bganapa do you have a timeline when this fix will happen?

[2018-07-10 22:04] cormacpayne commented on #5233
@pankajsn @daviburg would you mind taking a look at this issue?

[2018-07-10 22:05] cormacpayne commented on #3307
@viananth @bganapa do you all have a timeline for when this should happen?

[2018-07-10 22:06] cormacpayne commented on #4274
@viananth is this still an issue?

[2018-07-10 22:06] cormacpayne commented on #4610
@bganapa is this still an issue?

[2018-07-10 22:09] cormacpayne commented on #4155
@jaredmoo ping

[2018-07-10 22:09] cormacpayne commented on #4156
@jaredmoo ping

[2018-07-10 22:09] cormacpayne commented on #4428
@rahuldutta90 Hey Rahul, would you mind taking a look at this issue?

[2018-07-10 22:11] cormacpayne commented on #3736
@jfuller28495 if you're still seeing this issue, please file a new issue, filling out the provided issue template with the information requested

[2018-07-10 22:11] #3736 closed

[2018-07-10 22:12] cormacpayne commented on #4982
@panchagnula ping on the above question

[2018-07-10 22:13] cormacpayne commented on #3770
@panchagnula Hey Sisira, would you mind taking a look at this issue?

[2018-07-10 22:16] cormacpayne commented on #5417
Closing as fixed

[2018-07-10 22:16] #5417 closed

[2018-07-10 22:18] cormacpayne commented on #5029
Closing as this cmdlet no longer exists. Please feel free to re-open this issue if you are seeing this problem when using the `AzureRM.RecoveryServices.SiteRecovery` cmdlets.

[2018-07-10 22:18] #5029 closed

[2018-07-10 22:20] cormacpayne commented on #5441
@ranisha2 @jaredmoo is this functionality now supported?

[2018-07-10 22:21] rahuldutta90 commented on #4428
Assigning it to @lewu-msft since he owns the management plane of the powershell.

[2018-07-10 22:22] rahuldutta90 commented on #5071
I think now we have debug ability and exception handling. So now this hsould not be an issue.

[2018-07-10 22:22] #5071 closed

[2018-07-10 22:23] cormacpayne commented on #823
@Nilambari would you mind taking a look at this issue?

[2018-07-10 22:24] cormacpayne commented on #3450
Closing due to lack of activity. Please feel free to re-open this issue if the problem persists.

[2018-07-10 22:24] #3450 closed

[2018-07-10 22:29] panchagnula commented on #4982
AFAIK there are no current plans for supporting this via an REST API. @Chibionos is there an ARM Template way to accomplish this?

[2018-07-10 22:32] cormacpayne commented on #4542
@hyonholee ping

[2018-07-10 22:32] cormacpayne commented on #4845
@jaredmoo Hey Jared, do you know if this issue has been resolved?

[2018-07-10 22:43] panchagnula commented on #6635
@LukeDearden the Python Version Parameter needs a string which should be the version of the Python. This property doesn't support 'off' https://docs.microsoft.com/en-us/powershell/module/azurerm.websites/set-azurermwebapp?view=azurermps-6.4.0

[2018-07-10 22:43] viananth commented on #4274
Yes. I will be fixing this as part of the next bootstrapper module release

[2018-07-10 23:04] solankisamir commented on #6639
@osemyonov can you move to https://www.powershellgallery.com/packages/AzureRM.Resources/6.1.0 package, as it seems the [AzureResourceManager](https://docs.microsoft.com/en-us/azure/azure-resource-manager/resource-group-overview) has started blocking our older apis, which had a custom media type implementation.

[2018-07-10 23:21] jaredmoo commented on #4156
@StefanLazic92

[2018-07-10 23:21] jaredmoo commented on #4155
@dealaus

[2018-07-10 23:51] cormacpayne commented on #5518
@EvgenyAgafonchikov would you mind taking a look at this issue?

[2018-07-10 23:55] cormacpayne commented on #4714
@Nilambari Hey Nilambari, would you mind taking a look at this issue?

[2018-07-11 05:12] LukeDearden commented on #6635
@panchagnula Hi, Just to be clear this was for php not python.

This parameter used to be accepted. which is why we added it to a bunch of scripts. If its no longer supported how do we disable Php via powershell?

[2018-07-11 06:02] ranisha2 commented on #5441
@cormacpayne Yes, it is supported now.

[2018-07-11 06:41] DanielHWe commented on #6413
No, it is during the creation of a new VMSS.

Full not working script is (giving Cannot specify user image overrides for a disk already defined):
[code]

Working version:
[code]

[2018-07-11 06:41] panchagnula commented on #6635
@shrirampophali in the json file for the Arm template use this "phpVersion": "". Let me know if this doesn't work

[2018-07-11 06:54] kasunsjc commented on #6413
@DanielHWe In Not working version its missing few parameters

Set-AzureRmVmssStorageProfile -OsDiskOsType Windows -VirtualMachineScaleSet $vmss  -OSDiskCreateOption FromImage

Set-AzureRmVmssStorageProfile -VirtualMachineScaleSet $vmss -ImageReferencePublisher MicrosoftWindowsServer -ImageReferenceOffer WindowsServer -ImageReferenceSku 2016-Datacenter -ImageReferenceVersion latest -OsDiskCreateOpt

[2018-07-11 07:09] DanielHWe commented on #6413
Yes some parameters are missing, so I would expect an error saying parameters are missing not an error message say "Cannot specify user image overrides for a disk already defined in the specified image reference.".

With that error message I was thinking there is a wrong parameter not a missing one.

[2018-07-11 07:12] panchagnula commented on #6635
@LukeDearden  started a PR with the fix

[2018-07-11 10:42] blueww commented on #6582
@vladimir-shcherbakov

Such as Get-AzureStorageFile, return type is "CloudFile" from XSCL.
If we change the type, it will be a breaking change.

Can we have a partially format file, which containes the format defination for type from XSCL, and when build the format file, we will merge it with the format file build from the code.

[2018-07-11 13:12] maptan commented on #6223
Is this the same comandset used on Azure Portal? StartAzureV2 graphical runbook uses this powershell command and I´ve got the same long running status on the job. As a result, the automation account exceded the 500  automation minutes and I´ve had to change the automation account type for a client, to paid. Sometimes it even takes more than 3 hours, and azure kills the job (the VM is started just

[2018-07-11 13:28] MartynJones87 commented on #5826
Is this issue still active? I've just encountered the same problem, only I had two version of the AzureRm module installed side-by-side.

I used the code suggested by @markcandelora above:

[code]

This has allowed me to get my code running, but I now get the following warning when I import the AzureRm module:

[code]

Luckily I don't have any LogicApp instances to manage, so I can carry on withou

[2018-07-11 13:33] MaximoTrinidad commented on #4845
@cormacpayne @jaredmoo

I just tested both in Windows PowerShell and PowerShell Core (Linux).
It seems to work now.

Good Job!!

![azurermsql_2018-07-11_9-33-17](https://user-images.githubusercontent.com/19892435/42574873-816da2b2-84ed-11e8-803f-f7a4cdc30af9.jpg)

[2018-07-11 14:21] square10 commented on #6223
Hi @maptan, Yes, this is actually where I first ran into the issue.  It was with non-graphical runbook but same issue happened to me.  A job that normally took 5-10mins ran for 6 hours.  Once I found out what the issue was I started to monitor the VM while the runbook was in progress.  I could see the VM was up and running in the Azure portal but the Start-AzureRmVm cmdlet was still running.  So f

[2018-07-11 14:45] KarlGW opened #6644 "Connect-AzureRmAccount remembers password, even with Autosave disabled."
### Description

When logging on to Azure RM with PowerShell I do not get prompted for a password, somehow the sign in process from PowerShell remembers the password I have issued. This is quite scary.

Tried to uninstall all Azure related PowerShell modules. Had to enter the password the first time. It still keeps remembereing. Even after `Disable-AzureRmContextAutosave` and resetting all browser

[2018-07-11 15:07] #5441 closed

[2018-07-11 15:07] cormacpayne commented on #4845
@MaximoTrinidad thanks for the verification Maximo 😀

[2018-07-11 15:07] #4845 closed

[2018-07-11 15:46] scabana commented on #6635
I'm having the same issue here. I think the suggested fix is not the right one. From what I see, the old REST Api supported the "off" value and this changed. This would mean anyone currently setting the phpVersion to off explicitly will have this problem and will require code changes to deploy their services using Azure powershell or any Http Rest client. I would really like to get the REST Api su

[2018-07-11 15:55] yell0wc0w commented on #6635
I needed some working ARM templates urgently today, but panchagnula's workaround for "phpVersion": "" works fine for now.  Thanks!

[2018-07-11 15:59] panchagnula commented on #6635
@naveedaz can you comment regarding the phpVersion: off value being supported using older API versions vs not currently. Looking at resources.azure.com seems like the value supported is "" for off instead of the string itself. Thank you! //CC: @Nking92 since I will be out of office for a few days.

[2018-07-11 16:19] elangelo opened #6645 "Import-Module AzureRM takes too long and consumes tons of cpu"
### Description

We are extensively using AzureRM from out of the VSTS release pipeline and notice a huge load on our cpu's when we import AzureRM (which the vststask 'Run Azure Powershell' does automatically does for you)
This is also reproducible on a normal workstation.

I would like to understand better why 'just importing a module' is consuming this much resources. Without looking into the co

[2018-07-11 16:56] praries880 commented on #6413
@DanielHWe , @kasunsjc  Thanks for the input here.
@hyonholee ,  @huangpf Can you guys look at the error message reported by Daniel above and comment on it?

[2018-07-11 17:31] mentat9 commented on #6055
@russellds could you please validate that the problem is fixed in the current release, and close (or update) this issue?

[2018-07-11 17:53] maptan commented on #6223
@square10 In my case it happens with two Windows VMs on Azure. Sometimes with one, sometimes with the other. Can´t find why the error would jump between VMs also. I´ve just setup different schedules at different times for each VMs as a test. I´ll update here if something changes.

[2018-07-11 18:51] bganapa commented on #6628
No, the august azurestack release will not be with .Net core support. Azure powershell is moving to have a single Az Module base on .Net Standard by Aug/Sep.  We will have the support only after that, though we have already started working towards having .net core support for azurestack specific modules. Exact timings of the release with .net core is yet to be determined

[2018-07-11 19:09] bganapa commented on #4633
Yes.  We dont have the auto update of docs yet for stack folders

[2018-07-11 19:10] bganapa commented on #5213
This will be part of August End azurestack release

[2018-07-11 19:12] bganapa commented on #5212
This will be part of August End azurestack release

[2018-07-11 19:13] bganapa commented on #3307
We have not factored this work item yet

[2018-07-11 19:14] bganapa commented on #4610
I am closing this issue and I do not think there is a pressing need to fix this.

[2018-07-11 19:14] #4610 closed

[2018-07-11 20:09] cblackuk commented on #6628
@bganapa Thanks for the confirmation! Really appreciate it!

[2018-07-11 23:06] MikeBazMSFT commented on #5673
This is factually incorrect.

Users have role assignments in Azure AD completely irrespective of subscriptions because directories and subscriptions are independent (but related) entries.  For example, someone can be a Global Administrator in Office 365, which mean in Azure AD, without an Azure subscription.  That was exactly the use case I have stated earlier.

The code is broken as it stands.  I

[2018-07-11 23:19] maddieclayton commented on #4194
Added functionality to New and Update. Thanks @ronbok!

[2018-07-11 23:19] #4194 closed

[2018-07-12 04:04] shrirampophali commented on #6635
Solution suggested by @panchagnula  ( "phpVersion": "") works like a charm. Thanks @panchagnula !

[2018-07-12 10:09] InterceptBV commented on #6635
Using "" doenst work when running Set-AzureRmWebApp in Powershell':

Set-AzureRmWebApp : Cannot validate argument on parameter 'PhpVersion'. The argument is null or empty. Provide an argument that is not null or empty, and
then try the command again.

[2018-07-12 12:01] sorenhansendk commented on #6635
Agree with @InterceptBV - we have the same problem.
What can we do with the Powershell SDK? We don't use ARM templates.

[2018-07-12 12:50] scabana commented on #6635
@sorenhansendk : here's what I did (didn't remove extra parameters...):

[code]

[2018-07-12 15:01] tomerrt commented on #5442
Looking into it.

[2018-07-12 16:56] maddieclayton commented on #5041
Fixed.

[2018-07-12 16:56] #5041 closed

[2018-07-12 17:03] maddieclayton commented on #5360
Done

[2018-07-12 17:03] #5360 closed

[2018-07-12 17:24] stefanstranger commented on #5982
I can confirm the issue using the Invoke-AzureRMVmRunCommand with version 5.2.0 of the AzureRM.Computer PowerShell Module.

I 'solved' the issue by creating my own PowerShell Function which calls the Azure REST API directly. Most important thing is that after calling the PUT request to run a command on the VM you need to receive a Response Header with location information to query the status of th

[2018-07-12 18:29] cormacpayne commented on #6556
@lwsrbrts Hey Lewis, thanks for filing this issue. As you mentioned previously, our mitigation for this issue is to update to the latest **stable** version of `PackageManagement` and `PowerShellGet` -- we don't ship any modules that have a dependency on any `-preview` version modules, only stable, so if this error is ever received when installing or updating a module, then it falls on the `Package

[2018-07-12 18:29] #6556 closed

[2018-07-12 19:05] yobyot commented on #6645
I've noticed this, too. I think it's because `Import-Module AzureRm` imports the *entire* set of cmdlets for *all* Azure services.

If, for example, you know you are just signing in and configuring some Vnets, you could try

`Import-Module AzureRM.profile`
`Import-Module AzureRM.Network`

It should make things faster. Who needs data lake cmdlets, anyway?

[2018-07-12 19:13] yobyot opened #6652 "Comment on the pace of development of the .Net core cmdlets"
I just wanted to let the dev team know that it feels like the Core Azure cmdlets are falling further behind the pace of the development of Desktop cmdlets.

We had a whole-year wait for an update before February, 18 for the Core cmdlets as compared to the near-impossible-to-keep-up-with cadence of Desktop cmdlet releases. And while things have picked up in 2018, the schedule appears to vary.

In c

[2018-07-12 19:44] cormacpayne commented on #6468
This is resolved after the performance improvements to `Get-AzureRmRoleAssignment`

[2018-07-12 19:44] #6468 closed

[2018-07-12 19:52] cormacpayne commented on #6447
@jmilczek I'm unable to reproduce this issue in the latest version of `AzureRM` when updating a variety of resources. Are you only seeing this issue for a specific type of resource (in this case, DSC configuration)?

[2018-07-12 21:45] cormacpayne commented on #6652
@yobyot Hey Alex, thanks for filing this issue. Let me address individual parts of your comment:

Currently, the `AzureRM` (desktop) module is our main product and the one that we release every two weeks to the PowerShell Gallery. By the end of this month, we are looking to publish `AzureRM.Netcore` (.NET Core) to the PowerShell Gallery within a day of `AzureRM` going out and it should be picked u

[2018-07-12 21:45] #6652 closed

[2018-07-13 00:22] vladimir-shcherbakov commented on #6582
@blueww
If I get it right, you have one format.ps1xml file for XSCL types (you maintain it manually ) and one that gets generated with the tool. You want to merge these two files into one. Is it correct?

[2018-07-13 00:38] solankisamir commented on #6560
Working on the fix.

[2018-07-13 00:51] tonjohn commented on #6374
Any updates on this? Our team would like to update our publish scripts accordingly (our PPE/PROD deployment are currently blocked due to an issue with Publish-AzureWebsiteProject)

[2018-07-13 02:44] blueww commented on #6582
Generally correct.
Actually I would like to merge the  format.ps1xml file for XSCL types, when generate the format.ps1xml from code.
So the type we can't add format in code can be in the generated format.ps1xml file.

[2018-07-13 06:30] elangelo commented on #6645
That would work but the VSTS Release pipeline always adds the whole AzureRM module in the runtime. Even importing the 'entire set' of cmdlets i would think that it is nothing more than adding them to your %PATH% variable so powershell knows where to find them.. It's not like they actually have to 'do' anything at that moment in time

[2018-07-13 08:22] InterceptBV commented on #6635
Using "Set-AzureRmWebApp" also works:

$AppSettings = @{"phpVersion" = ""}

Set-AzureRmWebApp -name $WebAppName -ResourceGroupName $RGNameWebApp -AppSettings $AppSettings

[2018-07-13 14:12] andyjballgit commented on #5956
just hit this / eta ?

[2018-07-13 14:49] ikiris04 commented on #5956
Have you tried the latest module? I installed on a new laptop last week and didn’t have any problems.

[2018-07-13 15:52] jebalert opened #6656 "Import-Module AzureRM.Netcore fails"
### Description

I'm unable to Import the AzureRM module in PS core. I've downloaded the most recent version.

### Script/Steps for Reproduction

[code]

### Module Version

[code]

### Environment Data

[code]

### Debug Output

[code]

[2018-07-13 16:58] deathly809 commented on #6622
We are going to fix this in the next release of the Azure Stack admin modules.

[2018-07-13 17:37] AshmaSamaiya commented on #6374
do we have nay ETA on when the new command will be available?

[2018-07-13 17:43] jefffanjoy commented on #6606
Has there been any update on when this API is going to roll out?  This issue appears to affect pretty much every specialized cloud.

[2018-07-13 17:49] cormacpayne commented on #6656
@jebalert you will need to run `Get-Module -Name AzureRM.Netcore -ListAvailable` to display the version of `AzureRM.Netcore` installed on your machine. Do you see the above error _only_ when running `Import-Module -Name AzureRM.Netcore`, or do you also see it when running any command without importing first?

[2018-07-13 17:53] vladimir-shcherbakov commented on #6582
@blueww
PowerShell allows to use multiple format.ps1xml files specified in the Azure.Storage.psd1 module manifest:
[code]
Does it make sense to keep manual and generated files separated instead of merging?

[2018-07-13 17:59] jebalert commented on #6656
@cormacpayne I ran that per the instructions when posting the issue. It returns nothing. However, many Azure specific cmdlets are indeed available to me... connect-azurermaccount requires me to import the module but I’m unable.

When I run Connect-AzureRMAccount I receive an error saying something along the lines of the “cmdlet is available but could not load the module”.

[2018-07-13 18:02] cormacpayne commented on #6656
@jebalert `AzureRM` and `AzureRM.Netcore` are two separate modules, and currently the template says to run `Get-Module -Name AzureRM -ListAvailable`, but in your case, you'll need to run `Get-Module -Name AzureRM.Netcore -ListAvailable`

[2018-07-13 18:04] shantanu1singh opened #6658 "Add support for configuring SSL settings of Api Management instance using Powershell cmdlets"
We're trying to automate our deployment of Api Management using the Api Management git repositories. However, Api Management currently doesn't support configuration for SSL settings of an instance using  Azure PowerShell cmdlets. We would like to have that support so that we can manage APIM completely through Azure Powershell instead of having to change things in the Portal.

[2018-07-13 19:29] tonybendis opened #6659 "Set-AzureRmKeyVaultAccessPolicy used in the pipeline breaks when multiple resource groups are present"
**DESCRIPTION**

"Get-AzureRmKeyVault | Set-AzureRmKeyVaultAccessPolicy ..." breaks if current subscription contains vaults in multiple resource groups. This was working in version 5.7 and was probably introduced with pipeline changes in 6.0.1. It seems that the code grabs the resource group from the first vault and tries to use it for all vaults in the list. Should the ResourceGroupName be set in

[2018-07-13 19:59] jackfruhecolab commented on #5645
Can you also fix this for Get-AzureRmSqlDatabaseExpanded? It appears to have the same bug.

What's interesting is that
`get-azurermresource | where {$_.resourcetype -eq "Microsoft.Sql/servers/databases"}`
 is returning names that have a different case than that returned by the get-azureSQL database or that are displayed in the portal.

[2018-07-13 21:00] deathly809 opened #6664 "[Azure Stack] Admin modules don't include OData dlls"
### Description

Missing ODATA DLLs when shipping modules.  ODATA queries will fail.

### Script/Steps for Reproduction

Admin tests are being skipped due to this issue.

### Module Version

Azure Stack 1.3.0

[2018-07-13 22:46] maddieclayton commented on #6659
@tonybendis Good catch, thanks for opening this issue!  I fixed this here: https://github.com/Azure/azure-powershell/pull/6666, and will hopefully have it merged and released in about two weeks.  In the meantime, you can use this workaround:

[code]

[2018-07-13 23:07] #5518 closed

[2018-07-13 23:07] #6635 closed

[2018-07-13 23:14] mganeshphani commented on #2494
I have a multi-tenant accounts in azure.. one with my employer and one with my client.. the code below, would lead to multiple entries in this case.. hence it would be better to put in multiple conditions in that where clause
$token = ($cacheItem | where { $_.Resource -eq "https://graph.windows.net/" }).accessToken

[2018-07-14 15:54] jebalert commented on #6656
@cormacpayne Wow, long day, my apologies.

Here you go!

[code]

[2018-07-14 23:22] BrainSlugs83 commented on #2278
It also fails (prompting for this 'name' parameter) when you pass it in by file -- which is very lame, considering some of the default Azure RM templates are broken (i.e. if you go to create a new Storage account and export the template there, it doesn't work -- it makes you pass in the `nameFromTemplate` parameter, even though it's stored right there in the .json file).

[2018-07-15 22:22] danstis commented on #2024
@MikhailTryakhov not sure if you mentioned the correct person, I don't think I can be of assistance here?

[2018-07-15 23:30] jefffanjoy opened #6668 "TokenCache is not getting populated after clearing context and then logging in."
### Description

Token cache is not getting populated after clearing context and then logging in.  Context is generated but the TokenCache property does not get populated as expected so that an access token can be retrieved.

### Script/Steps for Reproduction

[code]

### Module Version

[code]

### Environment Data

[code]

### Debug Output

[code]

[2018-07-16 04:32] jefffanjoy commented on #6668
Apparently it has to do with auto save settings.  Since I'm clearing at the process scope, running Enable-AzureRmContextAutoSave -Scope Process allows the saving of the context at the process scope which then successfully seems to write the tokencache.

[2018-07-16 04:32] #6668 closed

[2018-07-16 08:15] cmptscpeacock commented on #6636
@cormacpayne any update?

Chris

[2018-07-16 09:33] LNieuwmegen commented on #6605
Thnx @maddieclayton and @cormacpayne for giving clarity and improving the error message.

To help people who might want to do something similar, I wrote a little helper cmdlet that allows to temporarily switch subscription easily:

[code]

Usage is like:

[code]

[2018-07-16 10:29] blueww commented on #6582
@vladimir-shcherbakov
Using multiple format.ps1xml files work for me.
If you are OK with the solution, I will raise a PR to add the generated format recently.

`FormatsToProcess = '.\Microsoft.WindowsAzure.Commands.Storage.format.ps1xml',  '.\Microsoft.WindowsAzure.Commands.Storage.generated.format.ps1xml'`

[2018-07-16 13:19] ayeletshpigelman commented on #5442
Hi,
we have a bug. the mitigation is to set an email address which starts with a lower case.
I have sent a pull request to fix this and the fix will be part of the new powershell release:
https://github.com/Azure/azure-powershell/pull/6669

thanks,
Ayelet

[2018-07-16 14:31] gabivigo opened #6672 "Connect-AzureRmAccount not working in NON GUI mode"
### Description

Hi all, i am having an issue trying to automate the login to Azure to later on picking up data from Log Analytics.  I am using ansible to call a powershell script (which only means I am calling the powershell through winrm) which should do this.
When I execute this code manually it works perfectly, but when I call the same script from Ansible (and therefore in non gui mode) always

[2018-07-16 16:17] vladimir-shcherbakov commented on #6582
@blueww
I'm OK, please open a PR.

[2018-07-16 18:23] praries880 opened #6673 "Enabl AccelNet on capable VMs by default in PowerShell"
Changes similar to [the ones in CLI](https://github.com/Azure/azure-cli/blob/dev/src/command_modules/azure-cli-vm/azure/cli/command_modules/vm/_validators.py#L562)

Enable accelerated Networking on thw VMs nic if it meets the criteria. Check the changes linked to in CLI for the conditions.

Aggreed to changes :
`
The strategy cmdlet (simple param sets) does not take in a configuration for a Networ

[2018-07-16 18:26] praries880 opened #6674 "Create seperate jobs for network test recorder in jenkins"
Fork the network test job in Jenkins so that different tests can be run under separate subscriptions.

[2018-07-16 18:35] praries880 commented on #6499
[Swagger](https://github.com/Azure/azure-rest-api-specs/blob/master/specification/compute/resource-manager/Microsoft.Compute/stable/2018-06-01/gallery.json)

@hyonholee Where is the SDK for this and what is the preview branch we released the preview cmdlets for "Shared Image Galleries" for?

[2018-07-16 20:10] maddieclayton commented on #6658
@solankisamir Can you take a look at this feature request?

[2018-07-16 21:40] sgoyal85 commented on #6639
@cormacpayne even we are aslo started receiving the same error for all existing applicaitons, we tried updating the module on server, but didn't worked.

Can you please look ?

Importing API Swagger Doc
July 16th 2018 12:48:07Info
FAILURE! An error occurred!!! Aborting script...
July 16th 2018 12:48:07Info
UnsupportedMediaType: The content media type 'application/vnd.swagger.link+json' is not supp

[2018-07-16 23:12] maddieclayton commented on #6363
Closing this issue as it does not include the actual ask. @arluca Please reopen if this is still an issue, and include the full details regarding your ask.

[2018-07-16 23:12] #6363 closed

[2018-07-16 23:14] maddieclayton commented on #6410
Closing this issue for inactivity. @jasonpnnl If you still run into this issue after following the instructions in the previous comment, feel free to reopen.

[2018-07-16 23:33] maddieclayton commented on #6433
Closing for inactivity. @infosatheesh2020 Please reopen if you are still running into this issue after following @praries880 's instructions above.

[2018-07-16 23:33] #6433 closed

[2018-07-16 23:37] maddieclayton commented on #3739
@viananth Is this completed? If not, do you have an estimated date for when this will be done?

[2018-07-16 23:58] maddieclayton commented on #6656
@MiYanni Can you take a look at this issue?

[2018-07-16 23:59] maddieclayton commented on #6447
@jmilczek Ping

[2018-07-17 00:04] maddieclayton commented on #6352
@panchagnula Ping

[2018-07-17 00:10] maddieclayton commented on #5838
@hyonholee @nibhat Can you take a look at this issue?

[2018-07-17 00:11] maddieclayton commented on #6637
@cormacpayne Can you get this assigned to the right person?

[2018-07-17 00:13] cormacpayne opened #6677 "Enable DevTestLabs tests"
Currently there are five tests in the DevTestLabs test suite, but none of them are running as a part of our current build:

- `TestAzureRmDtlVMsPerLabPolicy`
- `TestAzureRmDtlVMsPerUserPolicy`
- `TestAzureRmDtlAllowedVMSizesPolicy`
- `TestAzureRmDtlAutoShutdownPolicy`
- `TestAzureRmDtlAutoStartPolicy`

There is no proper test setup for these tests (_i.e._, resource group(s) aren't created, variabl

[2018-07-17 00:13] cormacpayne commented on #6677
@ryanvog Hey Ryan, would you mind taking a look at this issue?