[2018-10-16 12:53] lukeb1961 commented on #7556
correct. I do not and have never used a ManagedServiceIdentity in the VMSSconfig. This has worked fine for a year or so. See below:

  Write-Verbose -Message 'Creating LINUX VMSS config (Sydney)'
  $SydlxVMSScapacity=2
  $NodePIP=@()
  for ($i=0; $i -lt $SydlxVMSScapacity; $i++) {
    $PipName = 'sydlxVMSSpip{0}' -f $i

    if ( -NOT (    Get-AzureRmPublicIpAddress -Name $PipName -ResourceGroupNam

[2018-10-16 15:37] tr1al3x opened #7589 "Manually roll over a Service Fabric cluster certificate"
I am following bellow doc to renew service fabric certs..
 https://docs.microsoft.com/en-us/azure/service-fabric/service-fabric-cluster-rollover-cert-cn
[certPS.txt](https://github.com/Azure/azure-powershell/files/2483740/certPS.txt)

Getting following errors on couple instances:
----
PS C:\WINDOWS\system32> $keyVault = Get-AzureRmKeyVault -VaultName $VaultName -ResourceGroupName  $KeyVaultResourc

[2018-10-16 17:39] MiYanni opened #7590 "Common: Use internal Storage management SDK for AzureRM.Storage.ps1"
In our ScenarioTests.ResourceManager common package, we have an AzureRM.Storage.ps1. This is used for tests to call Storage 'cmdlets' in a generic way. It hides the SDK surface using this script. However, it would be nice for it to use our internal SDK so that it is consistent. I did this same task for the AzureRM.Resources.ps1 to use our internal SDK.

Client created here:
https://github.com/Azur

[2018-10-16 18:36] chlahav commented on #7552
@MatthewLubbers
Hi,
This module is still being developed :)
We are gathering feedback from customers that uses the preview module to make sure the GA version will have the proper quality and we also create other clients in parallel.
We don't have a release date for GA version yet but it will be in the next few months.

[2018-10-16 18:59] dguertin commented on #7564
@viverm You nailed it. That was exactly the problem. We had one VM that had been erroneously configured with two disks both set as OS disks. All I needed to do was uncheck the "contains the operating system for the virtual machine" box for one of the disks, and the problem was solved.

We had 155 VMs in that container, and it was pretty tedious to find the offending VM, but maybe there's an easy w

[2018-10-16 20:09] praries880 commented on #7479
Pr merged : https://github.com/Azure/azure-powershell/pull/7592

[2018-10-16 20:09] #7479 closed

[2018-10-16 20:30] praries880 commented on #7587
@PoetzelsbergerFranz
The base issue here is that the tenant you are using does not have access to any subscriptions (as you can see from an excerpt from the logs you pasted above)
[code]

Can you check if the following command gives you a list of subscriptions :
[code]

If the above command does not list any subscriptions, then can you validate that when you log into the portal (using the credenti

[2018-10-16 20:41] praries880 commented on #7573
I would also like to suggest that we link to the blogs form the release notes (where it makes sense to do so :) )for individual modules or the release notes for easy discoverability.

[2018-10-16 21:14] MiYanni opened #7593 "StaticAnalysis for Stack: build.proj failure"
In our build.proj, we have [this section](https://github.com/Azure/azure-powershell/blob/cc7d1b0be08ce3de3a9fcad3abed63ee6ac91960/build.proj#L602-L604) which tells StaticAnalysis to run on Stack. Right now, it errors:

[code]

We need to make this either work correctly for Stack or remove it from our build process.

[2018-10-16 21:18] MiYanni opened #7594 "UpdateAzureRM.ps1 error: AzurePowerShell.cs does not exist"
Currently, we run `UpdateAzureRM.ps1` as part of our release process. This does successfully bump up the AzureRM version. However, it encounters an error at the end of the process:

[code]

We moved this file out to the Common repo. I'm not sure what it was intending to update in this file, but it won't be updated by this script anymore. I don't think this situation is covered by: https://github.c

[2018-10-16 21:40] MiYanni commented on #7589
@tr1al3x To fix your first error, simply remove the `Location` parameter. KeyVault names are unique, so `Location` is not part of that parameter set.

After getting that working, let us know if you are still having issues.

[2018-10-16 21:50] MiYanni commented on #6695
@JasonRShaver Ping

[2018-10-16 22:03] MiYanni commented on #7351
This could also be a script to generate the project files (leverage dotnet cli commands).

[2018-10-16 22:05] MiYanni commented on #7370
Docker builds in .NET Core were never intended to be a primary acquisition scenario.

[2018-10-16 22:05] #7370 closed

[2018-10-16 22:09] MiYanni commented on #7430
@kilasuit Can you elaborate on which workflows will be broken for Windows users? As pointed out above, this change is due to security concerns, which is why ADAL pulled the functionality from latest versions. See @cormacpayne's comments above for more details.

[2018-10-16 22:32] jkwon2013 commented on #7402
@cormacpayne we tried the suggestion you suggested but it's not working for us. The list feature won't work if we pass in the the resource type as Microsoft.LabServices/labAccounts/labs as the resource type, since labs are not a tracked resource in ARM.
Please revert back to the old call so that we can list using the resourceid. Will this be available in the 10/19 milestone you mentioned above?

[2018-10-17 05:04] PoetzelsbergerFranz commented on #7587
@praries880

It's true, we have no Azure subscription..., I'm sorry that I  bothering you with these basic problems...
We are a large company (13000 Users) and have to prepare our tenant primary for o365 usage. Our goal is to assign our Teams the least privileges to perform there tasks. The predefined management roles ( User Administrator, Password Administrator...) are to global for our need. For

[2018-10-17 05:55] number213 commented on #7524
PR has been merged, the fix will be available in the next release (November, 7th, I believe)

[2018-10-17 05:55] #7524 closed

[2018-10-17 06:46] Vasu1105 commented on #7416
@hyonholee, @stuartpreston, @cormacpayne we are working on fixing this issue.

[2018-10-17 09:05] ToMakeSense commented on #2554
same there, it works.

[2018-10-17 13:45] oskarm93 opened #7599 "[Feature Request] Support image operations on Container Registries"
Hello.

I would like to perform a number of basic operations on images stored in ACR using Azure PowerShell.
At least some operations listed here: https://docs.microsoft.com/en-us/azure/role-based-access-control/resource-provider-operations#microsoftcontainerregistry

Like listing images, removing them etc.
I can currently do it with Azure CLI like so:
az acr repository list -n <acr_name>

I don't

[2018-10-17 14:59] rajcheval commented on #2723
I am having the same problem. Visual studio code/Json lint do not show any errors in my template.
I have verified that value of _artifactsLocationSasToken is being set to appropriate secure string. I am still getting error: A parameter cannot be found that matches parameter name '_artifactsLocationSasToken'.

    New-AzureRmResourceGroupDeployment -Name ((Get-ChildItem $TemplateFile).BaseName + '-

[2018-10-17 15:49] carlmwright commented on #7558
Hi,

I don't have to set any of them programmatically in order to produce the error.

I get the same result if I have a site with no AppSettings or ConnectionStrings set, or if they have been set through the portal.

C

[2018-10-17 17:02] MiYanni opened #7600 "CleanupBuild.ps1 error on net452 builds"
Currently, there is an error that occurs on net452 builds when running `CleanupBuild.ps1`:
[code]

This does not fail the build, however. It is simply throw as part of the process.

[2018-10-17 17:17] duk3ofed commented on #5760
I'm having a similar problem on PS 6.1.0 (Core). The following code is from within a function I'm writing. On one run of the function (dot sourced and run in a PS Core shell) it will return a complete set of values, then on another, it will miss some. Then the next run, some values wich showed before don't this time. Random results every time - no pattern to it that I can see?
---

[2018-10-17 18:32] nmallick1 commented on #7577
Happens with the latest too.
________________________________
From: Michael Yanni <notifications@github.com>
Sent: Monday, October 15, 2018 5:15 PM
To: Azure/azure-powershell
Cc: Nazeef Mallick; Mention
Subject: Re: [Azure/azure-powershell] New-AzureRmWebAppSSLBinding when used with -CertificateFilePath on ASE, uploads the certificate however it is inaccessible to the site. (#7577)

@nmallick1<htt

[2018-10-17 18:37] MiYanni commented on #7577
@panchagnula @ahmedelnably Could one of you take a look at this? Thanks.

[2018-10-17 18:47] lucidqdreams commented on #5596
I just ran into this issue, is this meant to be fixed in 1808 or is this fix still coming?

[2018-10-17 19:32] dubosecraig commented on #5342
It looks like it is updated with the documentation on:
https://docs.microsoft.com/en-us/powershell/module/azurerm.compute/new-azurermvm?view=azurermps-6.10.0
Find: Example 3: Create a VM from a marketplace image without a Public IP

[2018-10-17 19:33] dubosecraig commented on #5342
It looks like it is updated with the documentation on:
https://docs.microsoft.com/en-us/powershell/module/azurerm.compute/new-azurermvm?view=azurermps-6.10.0
Find: Example 3: Create a VM from a marketplace image without a Public IP

[2018-10-17 19:45] wacsintegra commented on #5342
@dubosecraig I am still running into this issue and just delete the public IP, but during configuration of your vm (New-AzureRmVMConfig) I override with a network security group locking down along with an internal IP in my subnet on the NIC configurations.

[2018-10-17 19:55] sptramer opened #7601 "Az module still references AzureRM cmdlets in error output"
### Description

Error outputs (and possibly others) still reference AzureRM cmdlets in the Az modules.

### Script/Steps for Reproduction

When not logged in:

[code]

### Module Version

Az 0.3.0

### Environment Data

[code]

[2018-10-17 19:57] bganapa opened #7602 "Connect-AzAccount fails in AzureStack ADFS environments"
### Description
It looks like the cmdlet is trying to do instance discovery going to the the common tenant
and it fails with the following

Login-AzAccount : Invalid authority type. This method overload is not supported by 'https://adfs.local.azurestack.external/adfs/Common/'

### Script/Steps for Reproduction
[Needs azurestack environment]
 add-azenvironment -ARMEndpoint https://adminmanagement.l

[2018-10-17 20:47] MiYanni opened #7603 "psm1 commit/generate issue"
Currently, we have the psm1 files in our .gitignore. The problem is, the psm1 files are *tracked files* and *.gitignore does not apply to tracked files.* So, we are still having the psm1 files come up in PRs/commits.

There is no way to make them both tracked and untracked (for everyone). You can `assume unchanged` for files locally, but we can't persist that to the repo itself.

### The solution

[2018-10-17 21:34] praries880 commented on #6499
Add support for UltraSSD as well : https://github.com/Azure/azure-powershell-cmdlet-review-pr/issues/182

The features are going into stable release now... so no longer preview

[2018-10-17 22:03] bganapa commented on #5596
@lucidqdreams what version of AzureRm and AzureRm.Keyvault are you using?  Is this on ADFS environment?

Can you please do Clear-AzureRmContext -Scope CurrentUser -Force and then open a new session, login and then try? If that works, The issue is likely with the saved azurerm context.

[2018-10-18 00:41] MiYanni commented on #7599
@djyou Can you respond to @xenalite's request?

[2018-10-18 00:45] MiYanni commented on #7601
@sptramer This work is already covered here: https://github.com/Azure/azure-powershell/issues/7088

Duplicate of https://github.com/Azure/azure-powershell/issues/7088

[2018-10-18 00:45] #7601 closed

[2018-10-18 00:47] MiYanni commented on #7601
Duplicate of https://github.com/Azure/azure-powershell/issues/7088

[2018-10-18 06:38] yukinwoo commented on #7110
This works for me on AzureRM 6.10.0. But I should execute these clear context scripts after each Import-AzureRmContext.

Turn off context autosave for all session (Disable-AzureRMContextAutosave -Scope CurrentUser) is not effective my environment.

[2018-10-18 08:19] MaximoTrinidad commented on #7553
Copying @SteveL-MSFT

Steve,
This is the issue I talked you about.

:)

[2018-10-18 08:37] DorkaitzVe commented on #7558
Hi,

Same problem here. We reported it in here --> [https://developercommunity.visualstudio.com/comments/357955/view.html](url)

$productionSlot = Get-AzureWebsite -Name #{WebAppName} -Slot "Production"
$appSettingsProduction = $productionSlot.AppSettings

$appSettingsProduction.Add("Deploying", "True")
Set-AzureWebsite -Name #{WebAppName} -Slot "Production" -AppSettings $appSettingsProduction

[2018-10-18 08:38] PlagueHO commented on #3650
Is there any update on this one as it looks like it is still a problem and it looks like it has been like this for over a year?

[2018-10-18 09:02] KumG opened #7607 "New-AzureWebSite - Request to a downlevel service failed."
EDIT:

Duplicate with : https://github.com/Azure/azure-powershell/issues/7558

[2018-10-18 09:10] #7607 closed

[2018-10-18 09:10] KumG commented on #7558
Hello,

Same problem here for "New-AzureWebSite" command :

Script :

Import-AzurePublishSettingsFile -PublishSettingsFile "myFile.publishsettings" -Verbose -ErrorAction Stop

Select-AzureSubscription "MySubscription" -Verbose -ErrorAction Stop

$website = New-AzureWebSite -Name "myWebSiteName" -Location "West Europe" -Verbose -ErrorAction Stop

Exception :

New-AzureWebSite : <string xmlns="http:

[2018-10-18 11:28] mikewo commented on #1135
I've hit this same issue with Get-AzureRMPolicy definition, it doesn't not adhere to the SilentlyContinue on the error action preference if it doesn't find the policy; whereas Get-AzureRmManagementGroup does. Is there any way that something can be put in place so that every cmdlet is tested for this behavior automatically when it is created? The cmdlets as they stand now are very inconsistent in h

[2018-10-18 13:52] lesterw1 opened #7608 "get-AzureRmLogProfile returns RetentionPolicy twice"
### Description

Calling get-AzureRmLogProfile outputs a structure which contains RetentionPolicy twice.
If the output is piped for ConvertTo-json cmdlet, that fails with a duplicate value error.

Note that there does NOT appear to be any issue with the return data type itself (Microsoft.Azure.Management.Monitor.Models.LogProfileResource).

### Script/Steps for Reproduction

This needs to be perfo

[2018-10-18 17:51] RichShillingtonMSFT commented on #7513
This is indeed a problem. I went back to version AzureRM.Insights 4.0.4 and it works fine. All AzureRM.Insights 5.1.x versions appear to be broken.

[2018-10-18 18:16] KedarJoshi commented on #7467
@mihai-dinculescu this is known issue with APIM.  We are working towards changing the API path in next apiVersion which will fix this issue.  Current ETA for new api Version is Jan/Feb 2019.

BTW, just curious on what is the use case for having this in RBAC policy?

[2018-10-18 21:53] wgv-srsedate commented on #7267
We are also having this issue, and it is still present in **AzureRM 6.10.0**.  Even if you explicitly set the enum value for direction in your ScaleRule object, it still defaults to **None** when sent to Azure.  This translates to a **Decrease** behavior.

There's no programmatic workaround that I can see without downgrading your AzureRM module, and I'm not even sure what version the issue showed

[2018-10-18 23:11] cormacpayne commented on #6292
@Tiano2017  @ravbhatnagar would you guys mind taking a look? From looking at this for a bit, it appears that the type of the object passed to the `-TemplateParameterObject` parameter is the same in both scenarios (same values in the hashtable as well), but the request body is sending an inaccurate value for the `adminDomainPassword` property.

[2018-10-18 23:11] wuy3 opened #7621 "Update-AzureRmVM : Changing property 'osDisk.createOption' is not allowed"
### Description
I saw that [issue 4412](https://github.com/Azure/azure-powershell/issues/4412) was closed as fixed, but I'm still running into it with the latest AzureRM package (6.10.0). When trying to swap an AzureVM's OS disk with `Set-AzureRmVMOSDisk` and then `Update-AzureRmVM`, I get  **"Changing property 'osDisk.createOption' is not allowed"** error.

### Script/Steps for Reproduction

[cod

[2018-10-18 23:38] bganapa commented on #7453
This is applicable to Az Module Connect-AzAccount as well

[2018-10-18 23:39] jfrankelp commented on #7215
I'm experiencing this issue also

[2018-10-19 01:10] bganapa opened #7625 "Update ADAL version in Az module to support device auth in ADFS"
The following PR is enabling device code flow ADFS

https://github.com/AzureAD/azure-activedirectory-library-for-dotnet/pull/1282/

This change is needed in the ADAL version consumed by the az.profile module

[2018-10-19 11:43] markcowl opened #7626 "Update Output formatting for Profile cmdlets"
### Description

Add table formats for each of the Profile cmdlet outputs

### Cost: 1

[2018-10-19 15:32] tjrobinson opened #7627 "Feature Request: Support Azure Site Extensions (Azure App Service)"
# Background

It's not currently possible to use either Azure PowerShell, or Azure CLI, to add/remove Azure Site Extensions. It can only be done using ARM templates, the REST API (steep learning curves for beginners, see below) or manually through the Azure Portal. I would like it to be easily scriptable alongside existing CLI or PowerShell scripts I use, including in Azure Cloud Shell.

# Propose

[2018-10-19 16:00] davidebbo commented on #7627
I can't comment on how likely this feature is to make it in. But do note that it is possible to install site extensions today using the low level PowerShell Azure Resource CmdLets. Full sample helpers [here](https://github.com/davidebbo/AzureWebsitesSamples/blob/b566c5bcf2ad3c3783b70d0082a4fc83809181f4/PowerShell/HelperFunctions.ps1#L445-L469).

[2018-10-19 16:16] tjrobinson commented on #7627
@davidebbo Thanks that's just what I need! It'd be great to get first class support for it but in the meantime I can use what you've linked to.

[2018-10-19 19:43] zr-msft opened #7629 "Running `New-AzureRmVmss` with does not allow RDP to VM instances"
### Description

Running `New-AzureRmVmss` with does not allow RDP to VM instances

### Script/Steps for Reproduction

[code]

Attempts to RDP using $IP:50001 or $IP:50003 fails with:

### Module Version

[code]

### Environment Data

[code]

### Debug Output

[code]

[2018-10-19 19:44] zr-msft commented on #7629
FYI @iainfoulds

[2018-10-19 23:10] MiYanni commented on #7621
@cormacpayne Hey buddy. I saw you commented on the original issue. Do you have any info to help @wuy3 out?

[2018-10-19 23:12] MiYanni commented on #7625
@bganapa We already have an issue for this. But, thank you for linking a specific issue. We'll make sure when we update it, we have the version containing that fix.

[2018-10-19 23:12] MiYanni commented on #7625
Duplicate of https://github.com/Azure/azure-powershell/issues/6739

[2018-10-19 23:12] #7625 closed

[2018-10-19 23:35] MiYanni commented on #7627
@panchagnula @ahmedelnably Can you take a look at @tjrobinson's proposal?

[2018-10-20 00:31] MiYanni commented on #7629
@alpon @rajsqr Could one of you take a look at this issue? Thanks.

[2018-10-20 00:46] cormacpayne commented on #7621
@hyonholee Hey Hyonho, would you know why this issue would resurface?

[2018-10-20 00:59] panchagnula commented on #7627
We do want to support site extensions, however, there is no ETA on this support from our end as yet.

[2018-10-20 01:44] #6119 closed

[2018-10-21 11:03] prabhakarreddy1234 commented on #6352
Is it fixed ? I am getting this exception in  Azure Runbook but working locally.   Can't update AzureRM version in Azure Automation as it has so many dependent modules and all needs to be updated before updating AzureRM version to latest. by the way i created Azure Automation account just now with default options.

[2018-10-22 02:23] lukeb1961 opened #7637 "AZ - no RecoveryServicesVault cmdlets?"
running up an existing script that creates recovery services vault and ASR fabric.
Nothing in the current (0.3.0) AZ module.  Is that planned?

[2018-10-22 07:35] HsiaoH opened #7638 "BadRequest when using Set-AzureRmIotHub to change the SKU of IOT hub"
### Description

I am getting a BadRequest when trying to change the SKU and work units of an IOT Hub. The problem seems to be with a blob endpoint. This endpoint is working correctly.

### Script/Steps for Reproduction

    Set-AzureRmIotHub -ResourceGroupName "myresourcegroupname" -Name "iothubname" -SkuName S2 -Units 2

### Module Version

[code]

### Environment Data

[code]

### Debug Output

[2018-10-22 07:42] HsiaoH opened #7639 "BadRequest using Set-AzureRmIotHub to change SKU and units of an IOT hub"
### Description

I am getting a BadRequest when trying to change the SKU and work units of an IOT Hub. The problem seems to be with a blob endpoint. This endpoint is working correctly.

### Script/Steps for Reproduction

    Set-AzureRmIotHub -ResourceGroupName "myresourcegroupname" -Name "iothubname" -SkuName S2 -Units 2

### Module Version

[code]

### Environment Data

[code]

### Debug Output

[2018-10-22 07:52] #7639 closed

[2018-10-22 11:17] HsiaoH commented on #7638
Having tested it further, this seems to be caused by having 2 or more blob endpoints, which are all pointing to the same blob and container (They are all writing to different folders in the container).

[2018-10-22 13:37] mjul commented on #5760
The issue still exists when running the command from inside the in the latest (22nd of October, 2018) Azure DevOps Azure PowerShell task on the default VSTS build agent configuration (using the AzureRM version 5.7.0).

The `HostNames` property works, but the `DefaultHostName` property does not.

Here is the log from the Release Pipeline tasks with more information on the environment configuration:

[2018-10-22 13:39] lukasmrtvy commented on #2286
Same problem with CLI

[2018-10-22 14:37] guidovbrakel opened #7641 "New-AzureRMSubscription doesn't work when more than 49 subscriptions"
When trying to create an new azure subscription with New-AzureRMSubscription. This the error when running the cmdlet:

[code]

**message": "There must be an existing subscription with the offer up to a max number of subscriptions.  Further details: Account must have between 1 and 49 existing subscriptions. 65 subscriptions were found."****

Is it possible to increase this limit?

[2018-10-22 18:09] BrandonBoone commented on #6847
FYI: @OmegaMadLab 's fix is also working when calling `Add-AzureRmVMDataDisk`

[code]

[2018-10-22 19:29] leo130ms commented on #4992
I want to make a csv with the infos of Get-AzureRoleAssignment. But I cant catch the atributes of each role of each resource group

[2018-10-22 20:55] cohowap commented on #2605
Shouldn't this be a bigger issue since Find-AzureRmResource is removed now?  I am not sure how this thread isn't blown up.  Getting resources in a resource group seems like a basic.

[2018-10-22 23:43] Czdarvil commented on #7233
This same error is happening to me. Does anyone know a work around? It seemed to work for the day on 10/19 and then stopped working.

[2018-10-23 01:45] rmodayil opened #7646 "Creating a Service Principle using PowerShell does not register the application under the "Enterprise applications" list"
I have registered the application, generated the key and successfully created the SPN with the application ID using PowerShell. But going back to the portal we noticed it does not end up in the 'Enterprise applications' list, however I can see it when 'All applications' is selected. Is there any way of tagging in the cmdlets to include it as an enterprise application?.

[2018-10-23 08:37] v-hedlund commented on #7558
Facing the same issue when using Set-AzureWebsite

Any updates on this?

[2018-10-23 13:54] KirkMunro opened #7648 "Support for executing commands in a running Azure Container Instance"
### Description

Please add support for executing commands inside of a running Azure Container Instance. The Azure CLI supports this now, but Azure PowerShell does not, and parity is needed for locations where you cannot run Azure CLI.

For reference: https://docs.microsoft.com/en-us/azure/container-instances/container-instances-exec

[2018-10-23 14:01] KirkMunro opened #7649 "Scale Azure Cosmos DB container throughput using Azure PowerShell"
### Description

Currently if you want to scale your Azure Cosmos DB container throughput via the command line, the Azure CLI is the only option. This is not sufficient because there are environments where Azure CLI is not a viable option for automation. Please add this functionality to Azure PowerShell (and in general, the earlier you can reach and maintain parity between Azure PowerShell and the

[2018-10-23 14:09] corystein opened #7650 "Get-AzureRmPolicyDefinition -Custom does not return filtered results"
### Description

Executing the following the does filter correctly as expected

Get-Name                           Value
----                           -----
PSVersion                      5.1.14393.2485
PSEdition                      Desktop
PSCompatibleVersions           {1.0, 2.0, 3.0, 4.0...}
BuildVersion                   10.0.14393.2485
CLRVersion                     4.0.30319.42000
WSManSta

[2018-10-23 16:35] mjfrb commented on #7641
Hi, the limitation of 49 subscriptions is known.  At this point, the recommended option is to set up additional accounts.

[2018-10-23 17:41] vany0114 commented on #7558
I'm facing the same issue but using `New-AzureWebsite`

[2018-10-23 17:51] MiYanni commented on #7637
@lukeb1961 Released (today), Az 0.4.0 has Recovery Services.
https://www.powershellgallery.com/packages/Az/0.4.0

Please reopen this issue if you have further issues.

[2018-10-23 17:51] #7637 closed

[2018-10-23 18:55] panchagnula commented on #7558
Haven't had a chance to look into this in detail. However, need to clarify the version - what version AzureRm.Websites are you using? From above I see 2 versions being used
Script     5.2.0      AzureRM.Websites                    {Get-AzureRmAppServicePlan, Set-AzureRmAppServicePlan, New...
Script     5.0.1      AzureRM.Websites                    {Get-AzureRmAppServicePlan, Set-AzureRmAppService

[2018-10-23 18:59] markcowl commented on #7650
@corystein  Thanks for the report, but can you provide some additional information to help us diagnose:

- The Debug stream output then the filtering is done incorrectly? (Set ```$DebugPreference="Continue"``` and then run the cmdlet with the failing behavior)

- A sample of expected correct filtering

[2018-10-23 19:01] markcowl commented on #7517
I believe this was resolved offline by support folks.  Please let us know if this is not the case

[2018-10-23 19:01] #7517 closed

[2018-10-23 19:03] markcowl commented on #7527
Closing for now, @Kmoodoro, please let us know if you would like to reopen this.

[2018-10-23 19:03] #7527 closed

[2018-10-23 19:06] daspo commented on #7520
Hi, you have any update on this?

Thanks,

Damian Spoltore

Azure Technical Support | Microsoft Corporation | daspolto@microsoft.com<mailto:daspolto@microsoft.com> | Working hours: Mon-Fri 12:00 pm – 9:00 pm UTC
If you need to work with another Azure Technical Support Engineer outside of my working hours, please email Azure Support Backup<mailto:azbackup@microsoft.com> with your case number, avail

[2018-10-23 19:19] MiYanni commented on #7641
@guidovbrakel It sounds like this is by design. Please feel free to reopen this issue if you have further questions/issues.

[2018-10-23 19:19] #7641 closed

[2018-10-23 19:21] MiYanni commented on #7513
The fix for this issue has been merged: https://github.com/Azure/azure-powershell/pull/7619
It will be available in the next release of AzureRM/Az.

[2018-10-23 19:21] #7513 closed

[2018-10-23 19:21] markcowl commented on #7525
@mguirao

Here's a script that would work for this:
[code]

[2018-10-23 19:22] markcowl commented on #7525
@mguirao Please LMK if this doesn't work for you.  Closing for now

[2018-10-23 19:22] #7525 closed

[2018-10-23 19:23] MiYanni commented on #7520
@gucalder Ping

[2018-10-23 19:28] markcowl commented on #6513
@maddieclayton Please add checkboxes for additional work

[2018-10-23 20:27] bdcoder2 opened #7653 "Please change your documentation dates to a human format !!!"
ALL of the docs are using dates of the form nn/nn/nnnn -- For example: 10/07/2018 -- Is it 10-Jul-2018 or 7-Oct-2018???   Who knows !??    Using dd-mmm-yyyy is the most HUMAN friendly way to display dates as there is simply no room for ambiguity !!

If the docs must use numeric dates, can we not standardize to something like: yyyy-mm-dd (classic sort order)?

I know, a small, trival point -- but i

[2018-10-23 21:43] markcowl commented on #7653
@bdcoder2 Which dates are you concerned with?  Are these dates as they appear in examples, as metdata about site pages, or somewhere else?

[2018-10-23 21:45] markcowl commented on #7608
@lesterw1 Can you provide an example of cmdlet output (not debug output) in which logRetentionPolicy appears twice?

[2018-10-23 21:46] markcowl commented on #7602
@bganapa is this covered by the ADAL update?

[2018-10-23 21:50] seanbruck commented on #7517
@markcowl

No, the issue is not resolved. The support engineers pointed us to this thread for resolution tracking.

[2018-10-23 21:51] seanbruck commented on #7517
Not resolved yet...

On Tue, Oct 23, 2018 at 2:03 PM Mark Cowlishaw <notifications@github.com>
wrote:

[2018-10-23 21:51] markcowl commented on #7603
@MiYanni  Please remove these files

[2018-10-23 21:52] bdcoder2 commented on #7653
Sorry -- the dates displayed immediately under an articles main title, for example:
https://docs.microsoft.com/en-us/powershell/azure/get-started-azureps?view=azurermps-6.11.0
The date displayed under the main title shows: 09/10/2018 -- September, October, who knows !!

[2018-10-23 21:57] markcowl commented on #7594
Make sure this is fixed when we fix #7340

[2018-10-23 21:57] #7594 closed

[2018-10-23 22:00] markcowl commented on #7590
Check to see if this is still an issue after we remove net45 build

[2018-10-23 22:00] sphibbs commented on #7347
Last update from @JasonRShaver was on track and no engineering work needed. Removing myself from the issue

[2018-10-23 22:01] markcowl commented on #7589
Closing as it seems this fixed your issue.  Please let us know if there's still an issue.

[2018-10-23 22:03] markcowl commented on #7587
Closing as fixed.

[2018-10-23 22:03] #7587 closed

[2018-10-23 22:09] markcowl commented on #7521
Closing as by design for new, we have work items for profile support, which will address this, in the future.

[2018-10-23 22:09] #7521 closed

[2018-10-23 22:17] markcowl commented on #7430
@slavizh @jseerden @kilasuit Using username/password login with stored credentials is not supported for security reasons - using this means that you cannot set your tenant for multi-factor authentication, and the recommendation for some time has been using SPN credentials for automation.

If you can share some scenarios that are no longer enabled, and cannot use service principal authentication fo

[2018-10-23 22:44] gucalder commented on #6833
The issue reported in this incident is now fixed: the cmdlet does not fail with an exception during creation.
A related issue was mentioned here too (#7513.) The workaround for it is (as mentioned above too) to add the categories to be enabled using the -Category cat1, cat2, ... and/or MetricsCategor AllMetrics. A fix has been merged already: https://github.com/Azure/azure-powershell/pull/7619 but

[2018-10-23 22:52] markcowl commented on #7462
### Description

- [ ] Add trailing '/' to azure data lake resource id endpoints in built-in environments
- [ ] Verify that this resolves the issue in CloudShell

### Cost: 1

[2018-10-23 23:17] markcowl commented on #6827
- [ ] Removal of username/password authentication

[2018-10-23 23:52] MiYanni commented on #6937
Conceptual: https://github.com/Azure/azure-docs-powershell/pull/785
Reference: https://github.com/Azure/azure-powershell/pull/7657

[2018-10-24 00:53] sajayantony commented on #7599
Looping in @SteveLasker to comment more.

[2018-10-24 02:52] arcotek-ltd opened #7658 "Az.Profile (0.4.0) seems to be broken"
### Description

When running cmdlets such as `connect-azaccount` or `get-azsubscription`, I am presented with the following cryptic error:

[code]

When I run `Import-Module Az.Profile`, I get:

[code]

This is a brand new computer that has never had AzureRM cmdlets installed.

### Script/Steps for Reproduction

[code]

### Module Version

[code]

### Environment Data

[code]

### Debug Output

[

[2018-10-24 05:03] jseerden commented on #7430
You're breaking CSP management options to connect with multiple tenant's using Delegated Administrative Permissions.

Documented here: https://docs.microsoft.com/en-us/azure/cloud-solution-provider/overview/azure-csp-management-options

The method to connect is using a partner's user credentials (username/password):
[code]

For example: We wrote our own multi-tenant automation task that stops and

[2018-10-24 05:12] jseerden opened #7659 "Add -TenantDomain to Connect-Az(ureRm)Account"
Connecting to a different Tenant can now be done with Connect-AzureRmAccount -TenantId

Because a GUID is hard to remember, I would like to be able to connect using the TenantDomain.

For example:
`Connect-AzureRmAccount -TenantDomain customer.onmicrosoft.com`

This is also available in the AzureAD Module.

[2018-10-24 07:06] RonnieViklund commented on #7658
I got the same problem on my client which previously had AzureRM that I uninstalled prior to installation of Az 0.4.0. PS version 5.1

import-module : The following error occurred while loading the extended type data file: , C:\Program
Files\WindowsPowerShell\Modules\Az.Profile\0.4.0\Microsoft.Azure.Commands.Profile.types.ps1xml(85) : Error: Unable to find type [Microsoft.Azure.Commands.Profile.Mo

[2018-10-24 10:28] lesterw1 commented on #7608
OUTPUT IS Below. "RetentionPolicy" property is output twice.  The ConvertTo-json further below also shows this.
===
PS C:\PS1> Get-AzureRmLogProfile
WARNING: 11:23:21 - *** The namespace for all the model classes will change from Microsoft.Azure.Management.Monitor.Management.Models
to Microsoft.Azure.Management.Monitor.Models in future releases.
WARNING: 11:23:21 - *** The namespace for output cla

[2018-10-24 11:54] AndreyVladimirovich commented on #7233
This same error is happening to me. Does anyone know a work around?

[2018-10-24 12:14] Strategmsk commented on #7233
Same error for me too, please fix

[2018-10-24 13:01] arnaud-landry commented on #7658
Same problem here ...

[2018-10-24 14:59] deathly809 opened #7660 "[AzureStack] Get-AzureRmResource does not return resource entity if RP namespace in the request URI is in lower-case."
A customer reported that when calling Get-AzureRmResource where the provider is lowercase does not return anything.  The ARM team also said the request was never sent.

![image](https://user-images.githubusercontent.com/1381210/47440282-b0561b00-d762-11e8-994b-cba30585c11c.png)

[2018-10-24 16:11] seandonovancvx opened #7661 "Serialization Exception thrown by AzureRm.Automation v 6.0.0 - Get-AzureRmAutomationSoftwareUpdateConfiguration"
### Description

In AzureRm.Automation version 6.0.0, cmdlet Get-AzureRmAutomationSoftwareUpdateConfiguration gives the error 'Unable to deserialize the response' if a Next Run Time value is 'None'
The error is occurring because the cmdlet cannot serialize the null value to DateTimeOffset

### Script/Steps for Reproduction

There must be an entry in the Scheduled Update Deployments page for the au

[2018-10-24 16:50] tonjohn commented on #7558
My team is hitting the same issue.

Script     4.2.2      AzureRM.Websites

The command appears to complete the intended action (the config gets updated correctly) but the error causes our VSTS release pipeline to stop.

If you look at the debug logs, you can see the exact request that is having issues.

### Failing Request
[code]

### Error Message
[code]
### Stack Trace
[code]

[2018-10-24 17:03] robinmalik commented on #7389
I'm also experiencing this issue. Same AzureRM and PS version as Dan.

[2018-10-24 17:33] cormacpayne commented on #7659
@jseerden Hey John, this functionality should've been enabled as of PR https://github.com/Azure/azure-powershell/pull/6822 -- what are you seeing when you run the above command?

[2018-10-24 18:20] MiYanni commented on #7658
@arcotek-ltd @RonnieViklund @arnaud-landry Hi all. We've seen this issue reported before:
https://github.com/Azure/azure-powershell/issues/6146
https://github.com/PowerShell/PowerShell/issues/7285

But, we've never been able to reproduce it. My first thought was that you don't have [.NET 4.7.2](https://www.microsoft.com/net/download/dotnet-framework-runtime) installed (which is required to run `Az

[2018-10-24 18:44] cormacpayne commented on #7600
This has been fixed.

[2018-10-24 18:44] #7600 closed

[2018-10-24 18:45] arnaud-landry commented on #7658
@MiYanni , you're right , i don't have the .NET 4.7.2 on my desktop,

i will try to update it later and give you a feedback.

Thanks

` Import-Module 'C:\Program Files\WindowsPowerShell\Modules\Az.Profile\0.4.0\PreloadAssemblies\Newtonsoft.Json.9.dll'

Import-Module 'C:\Program Files\WindowsPowerShell\Modules\Az.Profile\0.4.0\Microsoft.Azure.PowerShell.Authentication.ResourceManager.dll'

Import-M

[2018-10-24 18:52] MiYanni commented on #7658
@arnaud-landry That makes sense! Awesome. So, here is the website that will solve most problems with running `Az`:
https://www.microsoft.com/net/download

This contains the links for both `.NET Core` and `.NET Framework`. You will need **both .NET Core 2.1 and .NET Framework 4.7.2** to use `Az` in `Windows PowerShell 5.1`.

![image](https://user-images.githubusercontent.com/17788297/47454047-033fc

[2018-10-24 19:33] jseerden commented on #7659
Hi @cormacpayne

I notice that we can use the tenant domain name now with the TenantId parameter (tried that months ago, didn't work :))

When I try to connect using a TenantDomain (using the -TenantId parameter), I receive an error. Using the TenantId (GUID) of that same domain name, everything works as expected.

I am using Delegated Administrative Permissions from CSP though, providing credenti

[2018-10-24 20:15] MiYanni commented on #7658
If after installing `.NET Framework 4.7.2` you continue to have issues, please feel free to re-open this issue.

I will make sure to note this information in our migration guide issue: https://github.com/Azure/azure-powershell/issues/6827

[2018-10-24 20:15] #7658 closed

[2018-10-24 20:29] #6937 closed

[2018-10-24 21:01] MiYanni commented on #7339
The Authentication.ResourceManager contain namespaces for Profile in it. I'd suggest putting Authentication and Authentication.ResourceManager as projects under Profile (AccountManager).

[2018-10-24 21:11] praries880 opened #7662 "Fix static analysis to pick up alias for a renamed param"
Currently static analysis does not pick up the alias added for the old name of a param after it is renamed and wrongly errors saying that the param set the param belonged to is now deleted.

example  : https://azuresdkci.westus2.cloudapp.azure.com/job/powershell/8583/artifact/src/Package/
PR : https://github.com/Azure/azure-powershell/pull/7655

[2018-10-24 21:28] ruslany commented on #7558
Azure App Service team is in the process of deprecating the old Service Management APIs as described here: https://blogs.msdn.microsoft.com/appserviceteam/2018/03/12/deprecating-service-management-apis-support-for-azure-app-services/.

It looks like even though you have the Azure Resource Manager PowerShell cmdlets installed (Script N.N.N AzureRM.Websites) you are still using the old Service Manag

[2018-10-24 21:40] ruslany commented on #7558
Azure App Service team is in the process of deprecating Service Management APIs as per the announcement here: https://blogs.msdn.microsoft.com/appserviceteam/2018/03/12/deprecating-service-management-apis-support-for-azure-app-services/. New-AzureWebsite, Set-AzureWebsite, etc are the old cmdlets that call the Service Management API endpoint.

We've temporarily unblocked those APIs but we will hav

[2018-10-25 00:33] markcowl commented on #7661
@seandonovancvx Could you run Resolve-AzureRmError after this error occurs and provide the results?

[2018-10-25 01:31] arnaud-landry commented on #7658
everything is ok now , thanks !

[2018-10-25 03:16] a138076 commented on #7430
Just run into this issue, this is a big breaking change thats going to cause alot of issues for a lot of people!

[2018-10-25 04:02] nunicorn commented on #3800
Any update on a fix for this?

[2018-10-25 07:16] LRSFC-DanJ commented on #7389
It's also not fixed in version 6.10.0 which I believe came out this month.

[2018-10-25 08:44] mivica commented on #7129
Hi,  I am experiencing the same issue after I did modules upgrade. I see it has been code fixed, but I need some clarification on a workaround until the fix gets released?
Shall I roll back to the previous version? If so which one and what modules I need to roll back to make Register-AzureRmAutomationDscNode work again?

[2018-10-25 09:04] amuneeb commented on #5074
I am having similar issue with the same command:

**COMMAND**
New-AzureRmLogicApp -ResourceGroupName "resourcegroupforutptesting123" -Name "LogicApp05" -Location "West US 2" -State "Enabled" -DefinitionFilePath "C:\Codebase\Powershell\Definition03.json" -ParameterFilePath "C:\Codebase\Powershell\Parameters03.json"

**Definition03.json**
{
    "definition": {
        "$schema": "https://schema.mana

[2018-10-25 16:01] cormacpayne commented on #6936
This has been fixed and will be available in the upcoming release (2018-11-06)

[2018-10-25 16:01] #6936 closed

[2018-10-25 16:48] #7278 closed

[2018-10-25 17:26] panchagnula opened #7668 "webapp: Mark RDFE commands deprecated with the next release"
AppService team is deprecating old apis https://blogs.msdn.microsoft.com/appserviceteam/2018/03/12/deprecating-service-management-apis-support-for-azure-app-services/
& customers should use the AzureRM* equivalent commands see https://docs.microsoft.com/en-us/powershell/module/azurerm.websites/?view=azurermps-6.11.0#app_service

### Description

### Script/Steps for Reproduction

[code]

### Modul

[2018-10-25 17:28] panchagnula commented on #7558
Thanks @ruslany . Filed the following to mark these deprecated https://github.com/Azure/azure-powershell/issues/7668, Please use the following equivalent ARM commands https://docs.microsoft.com/en-us/powershell/module/azurerm.websites/?view=azurermps-6.11.0#app_service

[2018-10-25 17:28] #7558 closed

[2018-10-25 18:02] MiYanni commented on #6827
https://github.com/Azure/azure-powershell/issues/7430
https://github.com/Azure/azure-powershell/issues/7658

[2018-10-25 18:28] markcowl commented on #7653
@bdcoder2 @arcotek-ltd  So this is directly related to the language code.   en-us is specifically about US ENglish, including the (admittedly illogical) standard US format for dates.

For example, this shows the same date in the (admittedly more logical) international standard format:
https://docs.microsoft.com/en-gb/powershell/azure/get-started-azureps?view=azurermps-6.11.0

[2018-10-25 18:29] markcowl commented on #7653
Closing, as I believe this resolves the issue.  Please let us know if this is not the case.

[2018-10-25 18:29] #7653 closed

[2018-10-25 18:50] arcotek-ltd commented on #7653
Hi @markcowl,

I think @bdcoder2 is referring to the dates in your *documentation*. For instance, in the document you have linked, I read the date as 11th September 2018. As your audience is international, perhaps you could consider using the international date format `yyyy-MM-dd` to remove the ambiguity. The better way is to allow the user's browser to format the date as per their devices' local.

[2018-10-25 19:46] alexeldeib commented on #7233
Just hit this, anyone know what the issue is?

[2018-10-25 20:07] alexeldeib commented on #7233
@maddieclayton @MikhailTryakhov looks like this has been sitting for over a month -- is anyone investigating this?

[2018-10-25 20:10] kdutt commented on #7129
You can roll back to ComputerManagementDsc version 5.2.0.0

[2018-10-25 20:29] mattcowen opened #7670 "New-AzureRMRoleAssignment throws 'roleDefinitions' could not be found...for api version 2018-01-01-preview"
When I run
[code]
I get
[code]

Module Version 6.11.0

Can anyone explain why I am seeing this please?

[2018-10-25 20:59] bdcoder2 commented on #7653
@arcotek-ltd - that is correct -- I was referring to the ambiguous dates in the documentation; I still believe the best option is dd-mmm-yyyy for human readers of any culture.

[2018-10-25 21:16] cormacpayne commented on #7563
Corresponding issue file in the PowerShell repository: https://github.com/PowerShell/PowerShell/issues/8125

[2018-10-25 22:03] cormacpayne opened #7672 "Test list functionality using resource id for Get-AzureRmResource"
Add test(s) for functionality enabled in PR https://github.com/Azure/azure-powershell/pull/7604

[2018-10-25 22:29] cormacpayne commented on #7402
This has been fixed and will be available in the next release (2018-11-06)

[2018-10-25 22:29] #7402 closed

[2018-10-25 22:31] cormacpayne commented on #7169
This has been fixed and will be available in the next release (2018-11-06).

[2018-10-25 22:31] #7169 closed

[2018-10-25 22:43] draggeta commented on #7646
Hey @rmodayil, I've run into the same issue before and you can tag the SPN with the `Tag` parameter. I believe it should be a hashtable. To make it viewable, it should contain `WindowsAzureActiveDirectoryIntegratedApp` as a tag.
[code]

[2018-10-25 23:51] MikhailTryakhov opened #7674 "Customize live testing job to modify region"
Need to implement an ability to override region to the one specified in job

[2018-10-26 04:45] andyjballgit commented on #7143
Hi there,

So does this mean its not working at the moment with oAuth ? as per below I get an error . If I miss off the UseConnectedAccount , ie get prompted for StorageKey

$Context = New-AzureStorageContext -StorageAccountName $StorageAccount -UseConnectedAccount

CommandType     Name                                               Version    Source
-----------     ----

[2018-10-26 07:47] blueww commented on #7143
Powershell works with Oauth now.

But you need to use -UseConnectedAccount to use Oauth.

$Context = New-AzureStorageContext -StorageAccountName $StorageAccount -UseConnectedAccount

After this breaking change of change default parameter set (in a future release that allows breaking), customer can use oauth without specify -UseConnectedAccount.

$Context = New-AzureStorageContext -StorageAccountNa

[2018-10-26 07:55] andyjballgit commented on #7143
Hi Wei Wei

Sorry, I deleted my post as I realised I had somehow messed up name of storage account - it had a space in it.. , but you were too quick for me :-)

but I did notice that the help from the cmdlet is slightly wrong , as doesn't mention requirement to have the -UseConnectedAccount switch included

   Example 10: Create a context by using the OAuth Authentication

    C:\PS>Connect-AzureR

[2018-10-26 08:34] blueww commented on #7143
@andyjballgit
Thanks for raise the help issue!
I have send a PR to fix it: https://github.com/Azure/azure-powershell/pull/7676/files

[2018-10-26 08:42] john-wick-2k17 opened #7677 "Using Start-AzureStorageBlobIncrementalCopy for Managed Disk"
### Description
I understand the advantages that Managed Disks provide. However, I'm having trouble with efficient downloads/backups of such disks because I do not seem to have the underlying Blob access.

For example, when I was using Unmanaged Disks, when I want to export the disk (say for backup purposes), I could use the GetPageRanges() API to get only the used pages to get around Azure's Fixe

[2018-10-26 10:44] LukeDearden commented on #6367
Similar issue for

[2018-10-26 10:47] LukeDearden commented on #6367
Similar Issue for "Microsoft.Web/sites"

This is fine in the AzureRM Module but when using Az and Enable-AzureRmAlias it fudges the case

$tags = @{"UpperCaseKey" = "UpperCaseValue"}
Set-AzResource -ResourceGroupName ldtesting667 -ResourceName ldtesting667 -ResourceType "Microsoft.Web/sites" -Tag $tags -Force

$tags = (Get-AzResource -ResourceGroupName ldtesting667 -Name ldtesting667 -ResourceType

[2018-10-26 10:50] LukeDearden opened #7678 "Set-AzResource changes Tag Key case for "Microsoft.Web/sites""
This is fine in the AzureRM Module but when using Az and Enable-AzureRmAlias it fudges the case

[code]

_Originally posted by @LukeDearden in https://github.com/Azure/azure-powershell/issue_comments#issuecomment-433368328_

[2018-10-26 11:39] clfilipe opened #7679 "Get-AzureRmRoleAssignment -Scope "/subscriptions/$SubscriptionId -IncludeClassicAdministrator not returning expected results"
The command Get-AzureRmRoleAssignment -Scope "/subscriptions/$SubscriptionId does not return the Role Assignments of the subscription that was defined on scope. It only provides the Role assignments that are available for the subscription that is set at the moment of "Connect-AzureRmAccount". The user is not able to change the subscription if he does not run Select-AzureRmSubscription -Subscriptio

[2018-10-26 12:04] blueww commented on #7677
@john-wick-2k17

The IncrementalCopy Source must be a blob snapshot, instead of base blob. And when you do the IncrementalCopy, The destination of an incremental copy must either not exist, or must have been created with a previous incremental copy from the same source blob.

See more details in https://docs.microsoft.com/en-us/rest/api/storageservices/incremental-copy-blob#remarks

Following is m

[2018-10-26 13:08] leszekkoc opened #7680 "Microsoft.Search/searchServices/createQueryKey multiple keys with same name created"
When I execute few times in the row this script:

[code]

I am getting:

[code]

**ERROR**: duplicated QueryKeys

Please add function to check if key exists before add.
I am missing Microsoft.Search/searchServices/listQueryKey to get all existing keys with values.

[2018-10-26 13:16] leszekkoc commented on #7130
Is this command:
Get-AzureRmSearchQueryKey -ResourceGroupName $rgname -ServiceName $svcName
supported on Windows?
I am trying to run it in AzureDevOps and is not recognized command for PowerShell version 6.7.0.

[2018-10-26 14:13] Czdarvil commented on #7233
I did figure out and fix mine, turned out to be a scoping question for a variable. I was using an index of an array that wasnt passed into my function. It was really weird because if I ran in debug mode that variable showed as populated and a few lines above the set- failing that variable was used and worked. Once I passed the variable as part of a function parameter it started working.

[2018-10-26 16:15] cormacpayne commented on #7563
The last bullet appears to be a bug in PowerShell with `Az` being a valid culture. Closing this issue as the status will be tracked through that issue.

[2018-10-26 16:15] #7563 closed

[2018-10-26 16:18] jamesmealing commented on #7430
We have an almost identical situation to @jseerden above. How is this supposed to work for CSP's?

While I agree that storing user credentials *can* be a security concern, however, when the only place those credentials are stored is in an Azure Automation Account Credential object, that concern largely goes away...

[2018-10-26 16:21] cormacpayne commented on #7462
This has been fixed and will be available in the next release (2018-11-06)

[2018-10-26 16:21] cormacpayne commented on #7453
This has been fixed and will be available in the next release (2018-11-06)

[2018-10-26 16:21] #7453 closed

[2018-10-26 16:37] andyjballgit commented on #7143
ah awesome thx !

[2018-10-26 16:41] pquinn262 opened #7682 "WebApp Testing in Production Routing Rules not supported in RM Cmdlets"
With the [Service Management API’s being deprecated](https://blogs.msdn.microsoft.com/appserviceteam/2018/03/12/deprecating-service-management-apis-support-for-azure-app-services/) there appears to be some missing functionality in the RM Cmdlets.

@ruslany mentioned it earlier this week in regards to how this impacts a bunch of cmdlets.
https://github.com/Azure/azure-powershell/issues/7558#issueco

[2018-10-26 17:19] bganapa commented on #5596
Linking to this issue in ADAL https://github.com/AzureAD/azure-activedirectory-library-for-dotnet/issues/1299

[2018-10-26 18:03] markcowl commented on #7677
@singhkays @chagarw Can one of you respond to the query from @john-wick-2k17?

[2018-10-26 18:06] markcowl commented on #7678
@LukeDearden Can you please provide the debug trace in this case (set ```$DebugPreference="Continue"``` before runnign the cmdlet)?  This will help to pinpoint whether this case change occurs in the service or the client.

@cormacpayne @Tiano2017 Unless I am mistaken tags should be case-preserving

[2018-10-26 18:07] cormacpayne commented on #7167
Fix found in https://github.com/Azure/azure-powershell/pull/7684

[2018-10-26 18:08] markcowl commented on #7679
@clfilipe Can you please provide a debug trace showing an improperly returned role assignment?

Per the issue template, set ```$DebugPreference="Continue"``` and then execute the cmdlet with the aberrant behavior

[2018-10-26 18:12] markcowl commented on #7680
@felixwa  This is an ask about the search service, can you take a look

[2018-10-26 18:14] markcowl commented on #7682
@panchagnula Can you take  a look?

[2018-10-26 19:04] praries880 commented on #7530
### Prs
* common repo : https://github.com/Azure/azure-powershell-common/pull/87
* Ps repo : https://github.com/Azure/azure-powershell/pull/7685

[2018-10-26 21:57] theMickster commented on #2605
Receiving this same error when attempting to find all SQL Azure Databases.

Get-AzureRmResource -ResourceType 'Microsoft.Sql/servers/databases'

Running version 6.11.0 of the Azure PowerShell module.

[2018-10-27 01:28] satls commented on #5652
Update please. The fact that this has been sitting broken since at least march is concerning.

The resources.azure.com portal outputs this powershell to run:
Get-AzureRmResource -ResourceGroupName {RG NAME} -ResourceType Microsoft.Web/sites/functions/token -ResourceName "{APP NAME}/admin" -ApiVersion 2018-02-01

However this powershell does not run.

[2018-10-27 05:07] darshanhs90 commented on #7670
@mattcowen Can you share the Debug trace, it will help us determine the reason behind the issue you are seeing

[2018-10-28 00:05] MateusAmin opened #7688 "New-AzAutomationWebhook : Error When Creating a Webhook Over an Existing One is Unclear"
### Description

Error report when attempting to create a new webhook over an existing one is unclear.

[code]
### Script/Steps for Reproduction

[code]

### Module Version
[code]

### Environment Data

[code]

### Debug Output
[code]

[2018-10-28 00:52] alexeldeib commented on #7233
Figured it out on my end too -- mixing IPs and FQDNs on the endpoints.

[2018-10-28 15:18] MateusAmin opened #7689 "Set-AzAutomationWebhook: Misleading Error Message for Missing Or Mispelled Webhook Name"
### Description

Misleading error message for missing Or misspelled webhook name:

[code]
### Script/Steps for Reproduction

[code]

Where $WebhookName does not exist but AutomationAccountName  does.

### Module Version
[code]

### Environment Data

[code]

[2018-10-28 15:49] MateusAmin opened #7690 "Get-AzAutomationWebhook Returns Error When Missing"
Hi Wonderful Person,

- Get-AzAutomationWebhook  returns an error for a missing webhook
- Create-AzAutomationWebhook returns an error for an existing webhook
- Set-AzAutomationWebhook  returns an error for an missing webhook

If I want to programmatically add a webhook it forces me to use Exceptions for my control flow. Not sure if this is intentional or if I am missing something.

A few scenarios

[2018-10-28 23:17] clfilipe commented on #7679
Hello Mark,

Thank you for your e-mail.
As requested, please find attached the Debug for the following command:

$DebugPreference = “Continue”
Start-Transcript -path c:\GetAzureRmRoleAssignment.txt
Connect-AzureRmAccount -TenantId 1b775e95-f070-4703-99c1-7d7ca62539dc
Get-AzureRmRoleAssignment -Scope "/subscriptions/c36c3336-1b80-461f-afc6-0e794a55dfc9" -IncludeClassicAdministrators
Stop-Transcript

[2018-10-28 23:46] lukeb1961 opened #7691 "Register-AzAutomationDscNode 'The term 'New-AzureRmResourceGroupDeployment' is not recognized'"
PS> (get-module -name az).Version
Major  Minor  Build  Revision
-----  -----  -----  --------
0      4      0      -1

PS> $PSversiontable
Name                           Value
----                           -----
PSVersion                      5.1.17763.1
PSEdition                      Desktop
PSCompatibleVersions           {1.0, 2.0, 3.0, 4.0...}
BuildVersion                   10.0.17763.1
CLRVer

[2018-10-29 02:30] blueww commented on #7677
@john-wick-2k17

Would you like to check what's the value of `$GrantSnap.AccessSAS`  in the last commnad? It should be a Blob Uri contains snapshot time and sas. Such like following command works on my side:

[code]

Besides that, The first Copy in your script (following command) should also be an Incremental Copy (Not normal copy). As I indicated in the last comment: "The destination of an increm

[2018-10-29 05:18] lukeb1961 opened #7692 "New-AZServiceFabricCluster : Can't find the template or parameter file"
AZ 0.4.0

previously functional script now silently fails to create a Service Fabric cluster.
  New-AZServiceFabricCluster -Name $ServiceFabricClustername `
                                       -ResourceGroupName $RGSF -Location $Melbourne `
                                       -ClusterSize $clustersize `
                                       -VmUserName $user -VmPassword $securepasswd `

[2018-10-29 06:31] ashtonhsmith opened #7693 "Add-AzsSaleUnitNode Error: "Get-ResourceName : The term 'Get-ResourceName' is not recognized as the name of a cmdlet, function, script file, or operable program.""
### Description
Error when executing "Add-AzsSaleUnitNode" with 1808 versions of Azure Stack modules
Error: "Get-ResourceName : The term 'Get-ResourceName' is not recognized as the name of a cmdlet, function, script file, or operable program."

### Script/Steps for Reproduction
Azure Stack 1808
Example Commands:
[code]
### Module Version
Directory: C:\Program Files\WindowsPowerShell\Modules

Modul

[2018-10-29 09:59] pixelicous commented on #7456
Hi, I am experiencing this issue and the workaround at #7110 is not helping me.. why solve such a critical issue on december?? all our scripts fail now!!

[2018-10-29 10:11] pixelicous commented on #7110
@juancrl I cannot get this to work, I am not sure what i am doing wrong.

Our scripts run jobs, prior to starting the job we run Save-AzureRmContext and save the file locally, then we run Import-AzureRmContext and we get the error message.

If we run Clear-AzureRmContext in our script then we cannot save the profile as it is out the window.. would love some explanation here, thanks a lot in advanc

[2018-10-29 10:28] juancrl commented on #7110
Each job runs in a separate runspace... so probably the AzureRM context has to be separated per job. I don't know what you're trying to achieve, but if each job has to run under a different user, try to do all the context clearing inside each of the job's code, not outside of it...
I don't understand the "it is out the window" part. Which window are you referring to ?

[2018-10-29 10:34] pixelicous commented on #3954
@v-sirebb @markcowl was a new ticket opened on this??

This issue still exists #7110 #7456

[2018-10-29 12:18] pixelicous commented on #7110
Hey Juan, I am basically trying to run async processes, for this we have to save the profile else the job will be out of context, "out the window" i meant that the account is getting cleared 😆
I will try to clear the context inside the job and see what is going on

[2018-10-29 13:18] pquinn262 commented on #7682
We’re updating the routing rules similarly to what was shown by @mbcrump here: https://www.michaelcrump.net/azure-tips-and-tricks24/

Below is the script we’ve got running through Octopus Deploy.  It will output the current rules, change them, and then display the result.
[code]

[2018-10-29 14:54] john-wick-2k17 commented on #7677
@blueww
Thanks again for your response.

This is how the SAS URL looks like
https://md-<hidden>.blob.core.windows.net/vsgkzm2wv0zm/abcd?sv=2017-04-17&sr=b&si=bb1a180a-4fdd-42d5-8dad-a004173f662f&sig=LUc8tVKvhWiu5pnKCjf6Os9K5%2B5%2FFczkE2X%2B2t22VNU%3D

To your second comment, we need a normal copy (baseline) first before triggering any subsequent incremental copy, yes?

[2018-10-29 15:11] deathly809 commented on #7693
Fix will be in next release.  If you do ErrorAction Continue then it continues past failure and succeeds.

[2018-10-29 15:30] deathly809 commented on #7670
@darshanhs90  I think they are running this against Azure Stack, as those are the exact ApiVersions we support for roleAssignment.

@mattcowen If you are using Azure Stack please install AzureRM 2.3.0 for all Azure-PowerShell supported modules.  Or if you only need this cmdlet for now you can use AzureRM.Resources 6.0.2.

There is also a guide [here](https://docs.microsoft.com/en-us/azure/azure-st

[2018-10-29 15:42] gacurtin commented on #4130
I had the same problem.  After uninstalling LAD 2.0, the problem went away.

[2018-10-29 17:18] darshanhs90 commented on #7679
@sneivandt Is looking in to fixing this

[2018-10-29 18:09] dpurge commented on #2085
Have the same need, but since this ticket has not been closed for over two years...
Wasn't powershell supposed to to do everything that GUIs can and more?

:(

[2018-10-29 19:14] Eagdra commented on #7551
I'm currently facing the same issue, can you provide a response ?

[2018-10-29 19:18] markcowl commented on #7688
@vrdmr Please take a look and respond to the customer.

[2018-10-29 19:20] markcowl commented on #7689
@MateusAmin Can you please provide the debug trace from the failed command invocation?  Also, can you execute ```Resolve-AzureRmError``` after the failure and provide the results?

[2018-10-29 19:23] markcowl commented on #7690
@MateusAmin You could list the webhooks and check for the one you want to create, instead of using an exception from getting a specific webhook.

It sounds like you would prefer an idempotent Set-* cmdlet to a New/Set combination, is this correct?

[2018-10-29 19:25] markcowl commented on #7691
@lukeb1961 Are you able to work around this using ```Enable-AzureRmAlias``` before executing the cmdlet?

[2018-10-29 19:33] cormacpayne commented on #7662
This has been fixed.

[2018-10-29 19:33] #7662 closed

[2018-10-29 19:34] cormacpayne commented on #7167
The fix for this will be available in the next release (2018-11-06).

[2018-10-29 19:34] #7167 closed

[2018-10-29 20:54] wuy3 commented on #7621
thanks for looking into this guys. I'm not currently blocked buy this issue, but in the near future I will have to change OS disks "in place" on existing VMs. This issue would block me then.

[2018-10-29 22:29] markcowl commented on #7430
@jamesmealing @a138076 @jseerden  While I agree that breaking changes are painful and should be avoided except when absolutely necessary, any solution we provide in this area would be temporary, at best.

Using a stored password means that you have not enabled multi-factor authentication, which, along with storing passwords, and using credentials that are not scoped to a particular tenant are all

[2018-10-29 22:35] Sambsamb commented on #7389
Same issue

PS Z:\scripts> Get-AzureRmBillingInvoice -Latest
WARNING: Offer id MS-AZR-0017P is not supported.

PS Z:\scripts> Get-Module AzureRM.Billing

ModuleType Version    Name                                ExportedCommands
---------- -------    ----                                ----------------
Script     0.14.0     AzureRM.Billing                     {Get-AzureRmBillingInvoice, Get-AzureR

[2018-10-29 23:17] MiYanni commented on #7374
After a design review meeting, here is what we've decided. The plurality is based on:
https://docs.microsoft.com/en-us/dotnet/standard/design-guidelines/names-of-namespaces
Basically, namespaces should be plural when appropriate. So, we are using plural names here.

### Cmdlets/Modules
[code]

### Clients (Management/Dataplane) [in Common]
[code]

### Framework (no designator) [in Common]
[code]

[2018-10-30 00:32] abhi1509 opened #7700 "New-AzureRMADSpCredential not honoring EndDate"
Resolve-AzureRmError to receive extended information on the error

### Description

New-AzureRMADSpCredential not honoring EndDate. We input end date that is 2 years from start date, but it only registers end date as 1 year from start date.

### Script/Steps for Reproduction

[code]

### Module Version

Get-Module -ListAvailable

    Directory: E:\Code\azs\bin\x64\debug\RollingBuild\AzCmdlet

Modu

[2018-10-30 00:57] #7603 closed

[2018-10-30 01:06] pauldalyii commented on #3074
@konstantin-fugue, sorry for the delayed reply, but no... I've updated the environment-provisioning scripts to retain the applications by default and will only intentionally remove if i know there are changes and I can't script the modification of the app in some way to affect those changes.

[2018-10-30 01:07] lukeb1961 commented on #7691
Hello Mark,  Added
  Enable-AzureRmAlias
to the line beforehand. No, still failed with the same error.

[2018-10-30 02:11] MiYanni opened #7702 "Convert AzureRM.Security and AzureRM.StorageSync to Az"

[2018-10-30 02:12] blueww commented on #7677
@singhkays @chagarw
Would you please look at the issue: the blob snapshot SAS URL `$GrantSnap.AccessSAS` get from following command don't have snapshot time? This make the following copy failed, since the URI is not snapshot  URI.
`$GrantSnap = Grant-AzureRmSnapshotAccess -SnapshotName $SnapshotName -ResourceGroupName $AzResGroup -Access Read -DurationInSecond 3600`

This is how the  `$GrantSnap.A

[2018-10-30 11:07] matthiasluedke opened #7703 "Set-AzResource / Set-AzureRMResource - Tag "Name" starts with lowercase / Powershell Core"
### Description

Applied tags via Set-AzResource / Set-AzureRMResource are starting with Lower Letter
Example

Set-AzResourceGroup
Tag:
Name: "Associated to" / Value:  "Abcde" -> Correct
Name: "Application Stack" / Value: "ABCDE" -> Correct

Set-AzResource
Tag:
Name: "associated to" / Value:  "Abcde" -> Wrong
Name: "application Stack" / Value:  "ABCDE" ->wrong

### Script/Steps for Reproduction

S

[2018-10-30 12:15] sbgillett commented on #5291
Any updates on this?

[2018-10-30 14:39] chrisrpatterson commented on #7358
It would also be great if the cli and powershell could share the login context so I only need to log one in and I could use both.

[2018-10-30 15:05] deathly809 commented on #7358
@chrisrpatterson Sounds great, but I would be worried about security implications.  It would need to be done very carefully.

[2018-10-30 15:10] MateusAmin commented on #7689
'Can you please provide the debug trace from the failed command invocation?'

I have to spend a solid amount of time striping personal data from a debug trace. I will do it but I am not sure what the value add is here.

'Also, can you execute Resolve-AzureRmError after the failure and provide the results?'

I am using the Az module. I tried Resolve-AzError and got nothing.

[2018-10-30 16:00] Francisco-Gamino opened #7705 "Get-AzureRmAutomationSoftwareUpdateRun cannot reply recording because of a DateTime mismatch. Also, StartTime should only be applied to the request when the user specified this via the cmdlet."
### Description
* Get-AzureRmAutomationSoftwareUpdateRun cannot reply recording because of a DateTime mismatch.
* StartTime should only be applied to the request when the user specified this via the cmdlet.

### Script/Steps for Reproduction
DateTime serialization in Linux
[code]
Date serialization in Windows
[code]

[code]

### Module Version

This issue is currently present in 6.0.1-preview
http

[2018-10-30 17:13] MiYanni commented on #7345
Got sign builds working.
Initial pipeline: https://devdiv.visualstudio.com/DevDiv/_apps/hub/ms.vss-ciworkflow.build-ci-hub?_a=edit-build-definition&id=10200
Branch: https://github.com/MiYanni/azure-powershell/tree/microbuild-testing

[2018-10-30 18:09] mirichmo commented on #7688
@MateusAmin  Thanks for creating the issue and for the detailed report. I agree that the error message could be more user-friendly and have created a corresponding issue in our internal system to track it.

Internally, [the cmdlet calls](https://github.com/Azure/azure-powershell/blob/preview/src/ResourceManager/Automation/Commands.Automation/Common/AutomationClientWebhook.cs#L53) the [GenerateUri

[2018-10-30 20:18] maddieclayton commented on #7344
**Previews**

| Management Client | Up to date? | Released in Az? | Link |
| ----------------------- | --------------| ----- | ----------------- |
| EventGrid 2.0.0 | no | no | https://github.com/Azure/azure-powershell/tree/AzureRM.EventGrid |
| Automation 3.4.0-preview | yes | no | https://github.com/Azure/azure-powershell/tree/AzureRM.Automation |
| Sql 1.20.1-preview | no | yes | https://github

[2018-10-30 22:02] maddieclayton commented on #7703
@ravbhatnagar Please take a look at this issue.

[2018-10-30 22:16] maddieclayton commented on #7650
@ravbhatnagar @Tiano2017 Can you take a look at this issue?

[2018-10-30 22:30] maddieclayton commented on #7434
Closing for inactivity.  If you are able to provide the information requested above please add a comment and I will reopen the issue.

[2018-10-30 22:30] #7434 closed

[2018-10-30 22:31] maddieclayton commented on #7431
Closing as no previous version has this parameter as far a we know.

[2018-10-30 22:31] #7431 closed

[2018-10-31 00:15] sptramer opened #7707 "New-AzAdServicePrinctipal fails with NullReferenceException"
### Description

`New-AzADServicePrincipal` does not work for valid inputs.

### Script/Steps for Reproduction

[code]

`$password` was also verified to be a non-null, non-empty value. `$appId` is non-empty. This cmdlet also does not work if `$appId` is of type `String`, rather than type `Guid`.

### Module Version

[code]
### Environment Data

[code]

### Debug Output

[code]

[2018-10-31 00:41] deathly809 commented on #7707
Hmm, I think it should have gone into the parameter set "ApplicationWithPasswordPlain" but went into "SimpleParameterSet".  The parameter set "SimpleParameterSet" has mandatory false on all of it's parameters... shouldn't one of those be set to true?

When you run this with -Verbose what does it output?  I see in the code that it writes more output with that than with Debug.

[2018-10-31 06:05] qishangg opened #7713 "Call Update-AzureRmVmss using latest Az and AzureRM modules failed with Identity operation error."
### Description

### Script/Steps for Reproduction

[code]

### Module Version

[code]

Script     0.4.0      Az.Compute                          Core,Desk {Remove-AzAvailabilitySet, Get-AzAvailabilitySet, New-AzAvailabilitySet, Update-AzAvailabilitySet...}

### Environment Data

[code]
PSVersion                      6.1.0
PSEdition                      Core
GitCommitId                    6.1.0
OS

[2018-10-31 06:26] Vasu1105 opened #7714 "Add regression test for the changes made in SetAzureRMVMChefExtension"
Need to work on add test for this PR https://github.com/Azure/azure-powershell/pull/7598

[2018-10-31 07:31] mattcowen commented on #7670
It's right that I have been using Stack however currently my development machine has only AzureRm for public cloud. I was using AzureRm.Bootstrapper however the scripts I was running were not picking up the correct modules and so I cleared down and installed only AzureRm 6.11.0. Just checked Get-AzureRmContext and I see that my environment is set to my AzureStackUser. I will reset and reopen if I

[2018-10-31 07:31] #7670 closed

[2018-10-31 10:12] ChrisOwczarek commented on #5862
The added quotes actually cause the field values to become invalid. In my case, adding quotes to the thumbprint value make the thumbprint no longer valid.  Removing the quotes manually through portal makes the connection work again.

[2018-10-31 14:09] CHDAFNI-MSFT commented on #7397
Hello @neaggarwMS
Yes it helps. I do disagree in this being the 'norm', I think the 'norm' would be for configurable settings to be 'flags' on the cmdlet.

Your example does show how it is possible to make the change however.

If a flag isn't possible, can your example (or similar) be added as an example to the cmdlet's help file?

[2018-10-31 14:17] CHDAFNI-MSFT commented on #7522
@Tiano2017  @markcowl  poke poke

[2018-10-31 14:20] CHDAFNI-MSFT opened #7716 "Module: Az 0.4.0 - No help file contents"
None of the Az modules I've reviewed have detailed help files when compared to the AzureRM module counterparts.

The Az modules also do not support updatable help thus "update-help" will fail

[2018-10-31 17:57] cormacpayne commented on #7608
It looks like this issue is coming from [`PSLogProfile`](https://github.com/Azure/azure-powershell/blob/preview/src/ResourceManager/Insights/Commands.Insights/OutputClasses/PSLogProfile.cs#L27) defining it's own implementation for the `RetentionPolicy` property, which is already available in its base `LogProfileResource` class. For some reason when this object is written to the output stream, it h

[2018-10-31 18:33] juancrl commented on #3108
Totally agreed. It is not a bug, but an incomplete feature.

You can always login with a Live Account interactively (Connect-AzureRMAccount), which means REST/ADAL/Whatever is on the server side can understand and authorize this account.  It also works when you Import-AzureRMContext with a saved JSON file.
But it does not work when the credentials are passed as a -Credential parameter ???
It break

[2018-10-31 18:35] juancrl commented on #2915
Continued in https://github.com/Azure/azure-powershell/issues/3108
A bug or incomplete feature, in my opinion.

[2018-10-31 19:56] soccerjoshj07 commented on #6202
Also having the issue when upgrading AzureRM to 6.11.0 coming from 5.7.0. Reverting back to 5.7.0 is not feasible because then we cannot take advantage of 6.11.0 features. Do we really need one server for 5.7.0 deploys and one server for 6.11.0 deploys?

See my comment here for task hotfix that worked for me. https://github.com/Microsoft/azure-pipelines-tasks/issues/1660#issuecomment-434824826

[2018-10-31 20:41] sptramer commented on #7707
Interestingly, after adding `-Verbose` and running today, I get this:

[code]

Is creating a service prinicpal now a long-running operation?

[2018-10-31 20:57] deathly809 commented on #7707
When you say "identical error" and "same error" which of the two errors are you talking about?

[2018-10-31 21:30] sptramer commented on #7707
Sorry, for clarity, meant this one:

[code]

[2018-11-01 10:14] lwajswaj commented on #7430
I understand SPN are kind of a solution but it isn't as secure as we are preaching here since I'm replacing a user ID with another which, the "password" (secret) expiration is longer than a user password and also cert authentication isn't supported right away. Plus, Enterprises have configured their Admins users with a set of two credentials: primary accounts and privileged accounts) which they mi

[2018-11-01 12:29] yesveesteps commented on #6352
How did you downgraded the module? could you please share the steps?

[2018-11-01 12:34] yesveesteps commented on #6352
how did you downgraded? could you please share the steps? my module version is

PS C:\Users> Get-Module -Name AzureRM -ListAvailable

ModuleType Version    Name                                ExportedCommands
---------- -------    ----                                ----------------
Script     6.4.0      AzureRM

[2018-11-01 12:56] andsmit9 commented on #5956
Just got this issue as well.

Versions:
[code]
Output:
[code]
accessSAS is null.

[2018-11-01 13:15] Danrawlings-msft opened #7723 "New-AzureRMVirtualNetwork fails to run in automation runbook since 6.9.0"
### Description

Since the AzureRM.Network module version 6.9.0 the following runbook fails to run and does not return any error information. The script executes fine in PowerShell or if executed on a hybrid worker . Also works fine if module is downgraded to previous 6.8.0 version in the automation account.
degubprefence is set to Continue but there is no message returned after the breakingchange

[2018-11-01 16:12] ibondy opened #7724 "New-AzureRmAks error"
### Description

When running  New-AzureRmAks -resourceGroupName mmcgf_rg -Name mycgfcluster command in Azure shell I get this error:
New-AzureRmAks : The value of parameter orchestratorProfile.OrchestratorVersion is invalid.
At line:1 char:1
+ New-AzureRmAks mmcgf_rg -Name mycgfcluster
+ ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
+ CategoryInfo          : CloseError: (:) [New-AzAks], PSInvalidOpe

[2018-11-01 18:07] srividyathirumala commented on #4012
I was not able to reproduce the issue. Please reopen the issue if you still see it.

[2018-11-01 18:07] #4012 closed

[2018-11-01 18:14] TiloGit commented on #3680
fyi, now this get you only enabled one: (**state** instead of status)

`Get-AzureRmSubscription | Where {$_.State -eq "Enabled"}`

[2018-11-01 18:43] jeanfrancoislarente commented on #5956
I've been using 6.6 with no issues

[2018-11-01 18:58] addycluri commented on #5956
@andsmit9 this might be an issue with multiple modules installed and potentially an older one getting loaded maybe? Hopefully the below link helps

https://github.com/Azure/azure-powershell/wiki/Troubleshooting-Module-Version-Incompatibilities-With-Azure-PowerShell

[2018-11-01 20:05] cormacpayne commented on #5910
Proposed fix found in PR https://github.com/Azure/azure-powershell/pull/7727

[2018-11-01 20:13] cormacpayne commented on #5991
Closing as we are now shipping the latest version of `Az` with Cloud Shell as the module is released.

[2018-11-01 20:13] #5991 closed

[2018-11-01 21:03] maddieclayton commented on #7678
Confirmed, can repro in current module

[code]

[2018-11-01 23:16] markcowl commented on #7724
@mboersma Can you take a look?  Perhaps a missing required value?

[2018-11-01 23:30] markcowl commented on #7723
@chandrasekarsrinivasan @avijitgupta Please take a look and respond to the customer

[2018-11-02 02:32] markcowl commented on #7713
@hyonholee this occurs when passing VMScaleSet objects to the Update cmdlet, when the scale set is using SystemAssigned ManagedServiceIdentity.  The type is serialized on the wire with:

[code]

even though the input value is null.

[2018-11-02 02:33] markcowl commented on #7713
Note that this error is not particuylar to Az, it occurs in the AzureRM module as well.

[2018-11-02 09:11] nmikuni opened #7732 "[AzureDiskEncryption]PUTs 'Encryption succeeded for data volumes' as secretUrl and fails when encrypt Restored VM (Option=> only Data Disk)"
Hi team.

I got error when encrypt the VM which restored from snapshot. The -VolumeType is 'Data'.

The whole debug log is attached
[cannotEncRestoreVM_onlyDataDisk.txt](https://github.com/Azure/azure-powershell/files/2541746/cannotEncRestoreVM_onlyDataDisk.txt)
(UTF-8, some message is written in Japanese)

[code]
**Encryption succeeded for data volumes** looks like come from here =>
https://githu

[2018-11-02 13:00] ossentoo commented on #7556
The same or version similar issue for me. Assuming I've already connected to a subscription using Connect-AzureRmAccount,

running these commands results in an error

$vmssConfig = New-AzureRmVmssConfig `
    -Location "East US" `
    -SkuCapacity 1 `
    -SkuName "Standard_D1_v2" `
    -UpgradePolicyMode Automatic

$vmssConfig = Add-AzureRmVmssDataDisk `
    -VirtualMachineScaleSet $vmssConfig `

[2018-11-02 14:50] ninocrudele commented on #7389
Same issue for me, any update?

[2018-11-02 16:09] panchagnula commented on #7682
@pquinn262 ,We will add support to RoutingRules with the SETAZURERM command, before the existing one is deprecated, thanks for bringing this to our attention.

[2018-11-02 18:02] chernovol commented on #6416
any update?

[2018-11-02 19:36] bganapa opened #7736 "ObjectID in RoleAssignment Cmdlets should be String instead of GUID for ADFS scenarios"
The ObjectId Param in RoleAssignment cmdlets Get-AzRoleAssignment, New-AzRoleAssignment and Remove-AzRoleAssignment should be relaxed to string instead of GUID

Relaxing to string in the parameter is not a breaking change for the cmdlet usage. The return object model change will be a breaking change. I think it is a good change to take when Az is in preview mode right now.

Without this change, th

[2018-11-02 19:55] cormacpayne commented on #7358
### General Steps

- Create a new AD application with reply URI pointing at localhost
- Scan for open port (between 8400 and 9000)
- Start a web server that listens for http://localhost:{{PORT}}
- Launch browser that points at the authentication URI
    - If we are unable to launch browser (text browser, no browser, etc.), default back to device code authentication
- Once the user is authenticated

[2018-11-02 20:17] surlypants commented on #7556
Additionally, if supplying '-IdentityType SystemAssigned'

the error will instead be:

ErrorMessage: Identity operation for resource '/subscriptions/___REDACTED___/providers/Microsoft.Compute/virtualMachineScaleSets/___REDACTED___ failed with error 'Failed to perform resource identity operation. Status: 'BadRequest'. Response: '{"error":{"code":"BadRequest","message":"The request format was unexpe

[2018-11-02 20:36] ThmsRynr commented on #6250
I'm writing a compiled cmdlet and getting the same error. Running `import-module azure.storage, azurerm.storage` after importing my module (just the path to the dll), and before running my cmdlet worked around it. Is there something more elegant you can recommend?

Do I need to do something weird like re-order my `using` statements? Right now they read like this.
[code]

The code uses a key from k

[2018-11-02 20:48] markcowl commented on #7716
Yes, there will be no help for Az until the 12/4 release.

Update-help is not supported for *any* of our modules, as they always ship with updated help.

[2018-11-02 20:48] #7716 closed

[2018-11-02 22:11] markcowl commented on #7344
Fixed

[2018-11-02 22:11] #7344 closed

[2018-11-02 22:14] JustinGrote opened #7738 "Azure Automation cmdlets allows illegal characters (hypens) in DSC configuration name. GUI prevents deletion of resources with hypens in name."
### Description

### Script/Steps for Reproduction

[code]

Then try to delete it from the GUI.
![image](https://user-images.githubusercontent.com/15258962/47943136-e9ecfb80-deb1-11e8-81a5-768cae128e7a.png)

### Module Version

0.4.0

### Workaround
Use underscores which are a supported character

### Recommended Fix
Add the input validation to the Azure Automation API backend, don't rely on clien

[2018-11-02 22:16] JustinGrote commented on #7738
Workaround is obviously to use underscores which are valid, but still should probably be fixed before it gets someone in trouble, input validation should ideally be added to the AzAutomation backend and not be solely validated by clients (GUI validates it, Az commands don't)

[2018-11-02 22:29] markcowl commented on #7689
In this case, it tells us whether the issue is on the client or server side.  Here's the result of runnign Resolve-AzError, which tells us the server is returning the right thing (Webhook Not Found):

[code]

[2018-11-02 22:30] markcowl commented on #7689
@vrdmr Per the above, this bad error message is a client-side error.  Please take a look.

[2018-11-02 22:31] markcowl commented on #7593
won't fix - Stack is using older modules that will not be up to date with our current static analysis

[2018-11-02 22:31] #7593 closed

[2018-11-02 22:33] markcowl commented on #7510
@vandreytrindade As it turns out, this is a bug in the PowerShell engine, where it skips the module 'Az' specifically because it corresponds with a language code name (Az = Azerbaijani).  The bug for this has been filed in the powershell repo.

[2018-11-02 22:33] #7510 closed

[2018-11-02 22:36] markcowl commented on #7646
@rmodayil The ServicePrincipal cmdlets inside Azure PowerSehll are barrowly focused at creating service principals used for client-authentication.  If you want a more full implementation of AD object cmdlets, the AzureAD cmdlets allow you to manipulate AAD objects liek Service Principals anmd other AD objects fully.  Closing as 'By Design'

[2018-11-02 22:36] #7646 closed

[2018-11-02 22:37] markcowl commented on #7602
Closing in favor of the ADAL udpate

[2018-11-02 22:37] #7602 closed

[2018-11-02 22:59] bganapa commented on #7602
I am not sure whether ADAL update is going to fix this, I will recheck once updated

[2018-11-02 23:05] cormacpayne commented on #7510
Link to mentioned PowerShell issue: https://github.com/PowerShell/PowerShell/issues/8125

[2018-11-03 00:36] vrdmr commented on #7689
@mirichmo Could you please take a look at this issue? Thanks.

[2018-11-03 02:47] rmodayil commented on #7646
@marcowl thanks for that and @draggeta I just recently noticed the "Tag" parameter will definitely try using it. Thanks for all the help guys.

[2018-11-04 13:16] yaakoviyun commented on #6600
Fixed in : https://github.com/Azure/azure-powershell/pull/7715

[2018-11-04 19:46] ninocrudele commented on #7389
I solved the issue using a different subscription type, I used the type MS-AZR-0003p, but I also used Web API call and not PowerShell.
Using the same API call and using MS-AZR-0017P I get the error below:

An error occurred! The service returned: StatusCode: 400, ReasonPhrase: 'Bad Request', Version: 1.1, Content: System.Net.Http.StreamContent, Headers:
{
  Pragma: no-cache
  X-MS-Correlation-Id:

[2018-11-05 01:12] kilasuit commented on #7389
Offer MS-AZR-0017P relates to an Enterprise Agreement Offer and I think that you can only use the EA portal for billing queries

[2018-11-05 03:20] nirmalpavan commented on #2605
Facing this error while executing in runbook.

Get-AzureRmKeyVault : Parameter set cannot be resolved using the specified named parameters.
At line:13 char:10
+ $value = Get-AzureRmKeyVault `
+          ~~~~~~~~~~~~~~~~~~~~~
    + CategoryInfo          : InvalidArgument: (:) [Get-AzureRmKeyVault], ParameterBindingException
    + FullyQualifiedErrorId : AmbiguousParameterSet,Microsoft.Azure.Command

[2018-11-05 03:56] dingliu opened #7744 "Error when Applying Virtual Machine or ASE Tags"
### Description

When trying to tag a **Microsoft.Web/serverFarms** resource using a PowerShell runbook, it returns error message:

[code]

### Script/Steps for Reproduction

I found the issue is very similar to [an MSDN forum post](https://social.msdn.microsoft.com/Forums/SharePoint/en-US/4934eb8e-e48a-446b-8160-471a63dc3a67/error-when-applying-virtual-machine-tags?forum=WAVirtualMachinesforWindo

[2018-11-05 09:29] imeya opened #7746 "Send messages to Azure Storage Queue via start-job in PowerShell"
I want to send messages to azure storage queue using start-job, but always get the $queue parameter is null error, code like below:

[code]

Get-Job | Receive-Job

I also tried add -ArgumentList after the start-job, but it throws the error "string does not have the method AddMessage"

[2018-11-05 10:53] LRSFC-DanJ commented on #7389
Presumably using it from the portal though, it's not possible to use a script to do things with the retrieved billing data?

[2018-11-05 11:02] ninocrudele commented on #7389
I don't know, I would like to have an official answer on that, I don't see anything in the documentation around, not clear for me....

[2018-11-05 13:53] ninocrudele commented on #7389
I definitely solve the issue by updating all modules executing the command below
Install-Module -Name AzureRM -Repository PSGallery -Force
Now I am able to exclude any command from AzureRM.Consuption like Get-AzureRmConsumptionPriceSheet without get the exception below.
WARNING: Offer id MS-AZR-0017P is not supported.

Hope this can help.

[2018-11-05 14:29] ninocrudele commented on #7389
I think I am starting understanding the issue here...
I had this error executing Get-AzureRmConsumptionUsageDetail (AzureRM.Consumption) on my laptop, but I was able to run this Cmdlet in the Azure Portal.
I solved the problem with updating the PowerShell modules.

If I tried to execute the Get-AzureRMBillingInvoice I get your same exception, even executing the same command in the Azure Portal.
I

[2018-11-05 15:13] mgreenegit commented on #6899
In addition, for anyone that runs in to this issue, if you publish a config using special characters you will not be able to delete it from the portal.  You must use the cmdlets.  We have a bug filed to release a correction but I don't have a date to share yet.

[2018-11-05 16:13] yaakoviyun commented on #6600
Solved in https://github.com/Azure/azure-powershell/pull/7715

[2018-11-05 16:13] #6600 closed

[2018-11-05 16:51] Danrawlings-msft commented on #7723
Looks like this is a memory consumption problem in the new version of the cmdlets? Runbook gets terminated under fair share as it consumes more than 400Mb. This doesn't happen using the same script and version 6.8.0 or lower

[2018-11-05 17:01] markcowl commented on #7691
### Description
- Update the script in the cmdlet with the appropriate cmdlet name for Az
- Work with the Automationt eam to verify and add regression test

### Cost: 1

[2018-11-05 17:11] markcowl opened #7748 "Validate ADAL 4.3"
### Description
- Prototype ADAL 4.3 Usage in Az.Profile
- [ ] Required changes to common modules
- [ ] Required changes to cmdlet code
- [ ] Validate backward compatibility with existing contexts
- [ ] Validate Authentication scenarios (Windows and Mac/Linux)
  - [ ] User device authentication
  - [ ] Username/password authentication for CSP
  - [ ] ServicePrincipal + Password Authentication
  -

[2018-11-05 17:24] markcowl commented on #7692
@lukeb1961 Thanks for the report.  Do you know which version of AzureRM you last successfully executed this script with?

[2018-11-05 17:29] markcowl opened #7749 "Add support for generating password when creating an SPN with Secret"
### Description

For security reasons, we should provide a default option, which uses arendom value to generate SPN credentials, rather than allowing the user to set them.
- [x] Confer with CLI team to determine how they generate credentials in this case
- [x] Implement similar credential generation
- [x] Make appropriate changes to cmdlets
  - [x] New-Az/AzureRmServiePrincipal
  - [x] New-Az/Azur

[2018-11-05 17:40] markcowl commented on #7430
@jamesmealing @lwajswaj

This is an excellent question. There are a few reasons why service principals are considered a better fit for authenticating automation

- Service Principals are scoped to a particular tenant
- Service Principals do not receive Refresh tokens on authentication - they must reauthenticate whenever access tokens expire
- Service principals automatically have credential expira

[2018-11-05 17:49] MiYanni commented on #7691
@markcowl Work for this was already completed in: https://github.com/Azure/azure-powershell/pull/7671
This PR added tests and fixed the cmdlet name issue. You can see the cmdlet names being fixed here:
https://github.com/Azure/azure-powershell/pull/7671/files#diff-1ee47953698b63a50619e0ed1ad9046cR75

This was only merged into the Automation branch. So, once that gets merged into preview, the fix f

[2018-11-05 17:54] MiYanni commented on #6161
@zhangyd2015 is addressing the work for this issue.

[2018-11-05 18:03] markcowl commented on #7305
Closing this in favor of other docs issues.

[2018-11-05 18:03] #7305 closed

[2018-11-05 18:30] mirichmo commented on #7689
Yes, this is an issue with the error message.

@MateusAmin - Regarding your bonus question (my $0.02): No. "Set" cmdlets can optionally create resources, but in general, it is better to use "new" cmdlets for that. It is easier for users to understand the intention of "set" cmdlets if they only modify existing resources. For more details, check out the [PowerShell approved verbs documentation](http

[2018-11-05 18:48] Am018 commented on #7723
@Danrawlings-msft is that something you are looking into?

[2018-11-05 18:56] jontreynes opened #7750 "Microsoft.RecoveryServices/vaults/backupPolicies powershell timezone issue in Azure Portal"
### Description

### Script/Steps for Reproduction

[code]

### Module Version

[code]

### Environment Data

[code]

### Debug Output

[code]

![image](https://user-images.githubusercontent.com/19974635/48019838-425a0e00-e0e9-11e8-8916-d98c2d0ba981.png)
![image](https://user-images.githubusercontent.com/19974635/48019859-4d14a300-e0e9-11e8-9a31-c3ecc45b8871.png)
![image](https://user-images.githu

[2018-11-05 19:30] pecjag opened #7751 "Unable to load AzureRm Classes within script"
### Description

The "using module AzureRm" command does not work from within a script, and ISE complains: "Could not find the module 'AzureRm'".

I wish to use the [Microsoft.Azure.Commands.Network.Models.PSSecurityRule] class as a return type for a method. But in a new PS session, i get get the following error parsing the script:

At C:\Users\xxx\NSGMgt.ps1:171 char:10
+         [Microsoft.Azure

[2018-11-05 19:43] TylerLeonhardt opened #7752 "'az account get-access-token' equivalent in Azure PowerShell"
Right now the Azure Functions CLI relies on Azure PowerShell in order to get an access token to interact with the Azure API:

https://github.com/Azure/azure-functions-core-tools/blob/60ea24fd4408ea876882324a9505c2d43bb37726/src/Azure.Functions.Cli/Actions/AzureActions/BaseAzureAction.cs#L72-L96

I [opened an issue](https://github.com/Azure/azure-functions-core-tools/issues/840) on them to change i

[2018-11-05 20:49] brenak commented on #661
Same here would like to have this added

[2018-11-05 21:38] markcowl commented on #7751
The PowerShell equivalent of a using statement is a #Requires statement, as in

[code]

Once you have done this, the appropriate types should beloaded in your script for usage.

[2018-11-05 21:39] #7751 closed

[2018-11-05 21:45] pecjag commented on #7751
Thank you!

[2018-11-06 01:05] lukeb1961 commented on #2085
Two and a half YEARS later..   FFS

[2018-11-06 01:40] lukeb1961 commented on #7692
This chunk of my script works absolutely fine with AzureRM 6.8.1
I then change to AZ 0.4.0 on my other machine , replace
. New-AzureServiceFabricCluster with
. New-AZServiceFabricCluster and
 it fails.

Note I also see (with AZ 0.4.0) when I run New-AZServiceFabricCluster
WARNING: The provided information does not map to an AD object id.
WARNING: Access policy is not set. No user or application ha

[2018-11-06 10:06] Danrawlings-msft commented on #7723
@Am018 . No, I just realized this was the reason azure automation was suspending the job and thought it might help the investigation. We need to understand why the latest version of the module causes this behavior and correct if it's a bug. Quite a few customers are hitting this.

[2018-11-06 11:53] lwajswaj commented on #7430
Hey @markcowl, I understand the points however that's why I already have in place other mitigations for this type of security concerns (such as Azure AD PIM with approval flows to elevate my credential).
I understand and see the benefit of constraining access to the SPN to whatever task in particular but that's not what the market is doing, not even Microsoft partners (such as Terraform and others

[2018-11-06 12:14] jamesmealing commented on #7430
@markcowl thank you for the detailed reply and for the ongoing conversation here, however, @lwajswaj has just summarised the multitude of issues with this superbly. Principally, this feels very much like an excuse for .NET Core's lack of ADAL support cleverly disguised as a security best practice...

The long and the short of it is this change leaves CSP's with no viable option with regards to aut

[2018-11-06 17:41] veemvve commented on #5577
Hi There - Looks like I'm also going through the same issue.
When I loop through multiple data factories to add it to Key Vault access policies, I'm able to retrieve MSI without any issue for the first 2 data factories and after that its returning NULL for rest of the iterations.
(Get-AzureRmADServicePrincipal -ObjectId $datafactory.Identity.PrincipalId).ApplicationId

[2018-11-06 17:52] bdcoder2 opened #7756 "Add Tab completion to New-AzureRmDiskConfig"
Original request was posted at: [https://github.com/Azure/azure-docs-powershell/issues/799](https://github.com/Azure/azure-docs-powershell/issues/799), copy below:

I want to use the "New-AzureRmDiskConfig" cmdlet to create a premium storage data disk. One of the options is "-SkuName" -- but wait, what are the valid VALUES I can use for that option? There is no list, so I hunt (for 3 hours) until

[2018-11-06 21:28] ajhall opened #7759 "Get-AzIntegrationAccountMap returns only maps in XSLT format"
### Description

`Get-AzIntegrationAccountMap` only supports XSLT format and does not provide a way to work with other formats. Maps in Liquid format, for example, can be added via the portal or the REST API but are inaccessible via Azure PowerShell.

When listing maps, the list is filtered on the following line to show only XSLT:

https://github.com/Azure/azure-powershell/blob/b61106c491fc624776f

[2018-11-06 22:41] maddieclayton commented on #7707
@sptramer Can you run 'Get-AzContext' and send us the output? Thanks.

[2018-11-06 22:42] maddieclayton commented on #7707
@deathly809 It is actually by design that you don't need to provide any parameter for the simple parameter set, as it will automatically generate a random password and set defaults for all other parameters.

[2018-11-06 22:49] maddieclayton commented on #7732
@nibhat @koralski @savyasachisamal Can you take a look at this issue?

[2018-11-06 22:51] maddieclayton commented on #7738
@vrdmr Can you take a look at this issue?

[2018-11-06 22:53] maddieclayton commented on #7744
@dingliu Can you please set $DebugPreference = "Continue" just before running the cmdlet, then run your runbook in the test pane to get debug output?  This will include the exact response from the server that we need to track down this issue.

[2018-11-06 22:56] maddieclayton commented on #7746
@blueww Can you take a look at this question?

@imeya We suggest that, wherever possible, you use PowerShell cmdlets in your script rather than the underlying .NET SDK calls, as PowerShell cmdlets are guaranteed not to break outside of breaking change releases, but .NET SDK calls can have breaking changes.

[2018-11-06 22:58] maddieclayton commented on #7750
@dragonfly91 Can you take a look at this issue?

[2018-11-06 23:06] maddieclayton commented on #7756
@bdcoder2 Thanks for opening this issue, this is a place where we certainly should have a tab completer.

[2018-11-06 23:07] deathly809 commented on #7707
@maddieclayton But she is providing parameters.  Does a parameter set match even if Mandatory=False even though there is another matching parameter set?  Or maybe I missed a parameter.

[2018-11-06 23:09] maddieclayton commented on #7759
@pankajsn @daviburg Can you take a look at this issue?

[2018-11-06 23:11] maddieclayton commented on #7707
@deathly809 You can match a parameter set even if the parameter provided is not mandatory.  As long as the parameter is in the default parameter set, it will default to the default parameter set.

[2018-11-06 23:57] bdcoder2 commented on #7756
Thanks @maddieclayton !! -- ALL cmdlets should have option values listed or a resource given for obtaining the correct value(s) for an option.

Look forward to being able to use some of these cmdlets in the near future.

[2018-11-07 00:01] MouthOfMadness opened #7761 "Set-AzureRmKeyVaultAccessPolicy prompts in VSTS pipeline"
### Description

I'm using several powershell scripts to manage a keyvault. the first time I use Set-AzureRmKeyVaultAccessPolicy it works, then second time I use Set-AzureRmKeyVaultAccessPolicy I receive the error:

Windows PowerShell is in NonInteractive mode. Read and Prompt functionality is not available.

### Script/Steps for Reproduction

The code that fails to add my second policy looks like

[2018-11-07 08:56] benmillaneasos opened #7763 "DaysOfMonth Enum doesnt exist"
### Description

When trying to use New-AzureRmAutomationSchedule:

New-AzureRmAutomationSchedule
[-Name]
[-StartTime]
[-Description ]
[-DaysOfMonth <DaysOfMonth[]>]
[-ExpiryTime ]
-MonthInterval
[-TimeZone ]
[-ResourceGroupName]
[-AutomationAccountName]
[-DefaultProfile ]
[]

[System.DaysOfMonth]/[DaysOfMonth] doesnt exist in any version, including the latest of AzureRM and AzureRM.Automation. Me

[2018-11-07 11:42] AndreasM009 commented on #7130
I have the same problem. Get-AzureRmSearchQueryKey is not recognized as a command.

[2018-11-07 13:33] surlypants commented on #7556
any traction here?

[2018-11-07 13:52] Dziubey commented on #7556
I receive similar error when I copy-paste script from:
https://docs.microsoft.com/en-us/powershell/module/azurerm.compute/new-azurermvmss?view=azurermps-6.11.0
(I fixed issues with resource names, etc)

The error message:

New-AzureRmVmss : The request content was invalid and could not be deserialized: 'Required property 'type' not found in JSON. Path 'identity', line 112, position 3.'.
ErrorCode:

[2018-11-07 15:02] zr-msft commented on #7629
A bit more detail based on testing:

1. When running `New-AzureRmVmss`, an LB rule is created by default, but an NSG is NOT created.
2. Even if I specify an NSG name, one is STILL NOT created:
[code]

Per the docs (https://docs.microsoft.com/en-us/powershell/module/azurerm.compute/new-azurermvmss?view=azurermps-6.12.0) an NSG should be created by default and you should be able to name it using `-S

[2018-11-07 16:29] sphibbs commented on #7433
The fix in AAD should be rolled out this week

[2018-11-07 17:54] mattbowes commented on #7723
I am having the same issue. Module versions after 6.8.1 are suspending our runbooks. Downgrading to 6.8.1 resolves the issue. I opened a ticket with support and they tell me that the runbook is using more than 400MB of memory and that's why it gets suspended

[2018-11-07 17:58] andsmit9 commented on #5956
Thanks for the feedback. I made sure just now to uninstall the AzureRM over and over until there were no modules installed before installing 6.5.0:

[code]

Unfortunately, the result is the same for me: Null value for accessSAS.

Seems to just be my setup but not sure what is causing the conflict. I think we can ignore my issues as no one else seems to have it.

[2018-11-07 18:21] mattbowes commented on #7723
Also this issue is happening outside of `New-AzureRMVirtualNetwork`. We dot not call that cmdlet in any of our runbooks but we experience the same issue. We are using `Get-AzureRmVirtualNetwork` from the AzureRM.Network module

[2018-11-07 19:52] rabrahamOpti opened #7764 "New-AzureDeployment's Configuration parameter should accept URLs to blobs"
Current: The [New-AzureDeployment](https://github.com/Azure/azure-docs-powershell/blob/master/azuresmps-4.0.0/Azure/New-AzureDeployment.md) cmdlet's `-Package` parameter allows users to refer to a package (.cspkg) file that's either on the user's machine via a local filepath, or in blob storage via the blob's URL. However, the `-Configuration` parameter only allows users to refer to a configuratio

[2018-11-07 20:31] ossentoo commented on #7556
Realized v6.12.0 of AzureRM has been released.

I've tried my command above again, and it seems to work for me (though I haven't checked all the deployed resources yet). 👍

https://github.com/Azure/azure-powershell/releases/tag/v6.12.0-November2018

At least I'm no longer getting a json related error.

Can you all try and see if it helps?

[2018-11-07 22:25] deejaygraham opened #7766 "Set-AzureDeployment -Upgrade fails with SSL/TLS Error - Works with Debug"
### Description

Standard way of deploying our classic cloud service packages has started failing with a SSL/TLS error. We have two packages deployed into the same subscription. One deploys with no errors, the other fails with an exception: Could not create SSL/TLS secure channel

Tried on on premise TFS build machine (Server 2008 R2) and on local developer machine (Windows 10) with same outcome.

[2018-11-07 23:38] xenalite opened #7767 "'Get-AzureRmApplicationGateway' - typo in returned object property name"
### Description

When I use `Get-AzureRmApplicationGateway`, it returns an object with `Tag` property.
Other cmdlets like `Get-AzureRmSomething` return an object with `Tags` property instead.
This is an inconsistency.

[code]

### Module Version

[code]

### Environment Data

[code]

[2018-11-08 01:15] mayurpuli commented on #7677
Hello: I have a similar request from one of my customers, they have persistent storage drives created for their AKS clusters. For the DR they want to backup these drives to another location.

Here is what i have tried locally in my lab
1. Created a Ubuntu 16.04 VM with an OS disk and one Data disk
2. My script looks like the below

	$resourceGroupName = <Source Resource Group Name>
	$location = 'w

[2018-11-08 03:03] mattreatMSFT opened #7768 "Get-AzNetworkWatcher returns exception"
### Description

Get-AzNetworkWatcher command does not work.

### Script/Steps for Reproduction

[code]

### Module Version

[code]

### Environment Data

[code]

### Debug Output

[code]

[2018-11-08 03:04] blueww commented on #7677
@singhkays @chagarw
Would you please help to look at the issue: the SAS URI of a snapshot get from `Grant-AzureRmSnapshotAccess` , not point to the blob snapshot, but point to the base blob.

[2018-11-08 06:34] blueww commented on #6250
@ThmsRynr
I don't have any idea how to resolve the Json issue in your cmldet. And I don't see what's the detail error  and don't quite understand the detail repro steps in your comments.

Since this might be a different issue of the original issue, you might can open a new issue for it with detail information.

[2018-11-08 09:54] blueww commented on #7746
@imeya
I can repro the issue.
But since this issue not really caused by the storage cmdlet, but seems related with the usage of Start-Job, I still don't find a way tp resolve it.

The Add message to Queue is a sync operation and generally should be fast, why you need run it in a job? Could you just run it without Start-Job?

[2018-11-08 11:57] matthiasluedke commented on #7703
Same issue wit latest Az Version 0.5.0

[2018-11-08 14:41] toy187 opened #7774 "Get-AzureRmCdnProfile throws NotFound error when CDN profile doesn't exist (in China)"
### Description

Get-AzureRmCdnProfile throws NotFound error when CDN profile doesn't exist when being used in AzureChinaCloud.  We do not get the same behavior when running the cmdlet in AzureCloud environment.  Our code expects the result to be $null (like it does in AzureCloud) when the CDN Profile doesn't exist and we react accordingly later on.  For now we've had to add -ErrorAction Silentlyc

[2018-11-08 15:02] toy187 opened #7775 "New-AzureRmCdnProfile throws NotFound error when trying to create profile in AzureChinaCloud"
### Description
Trying to create new CDN Profile using New-AzureRmCdnProfile throws NotFound error.

### Script/Steps for Reproduction
simply call (in AzureChinaCloud):

New-AzureRmCdnProfile -ResourceGroupName $resourceGroupName -Location $location -ProfileName $name -Sku $sku -Verbose

specifying a CDN profile that doesn't exist.

### Module Version
ModuleType Version    Name

[2018-11-08 15:21] mgreenegit commented on #7738
This appears to be a duplicate of:
[https://github.com/Azure/azure-powershell/issues/6899](https://github.com/Azure/azure-powershell/issues/6899)

I am tracking this as a bug in Azure DevOps for our team as well.

[2018-11-08 15:22] k4lli opened #7776 "AZ Login-AzAccount faIls with ADFS"
### Description

When logging in from Azure Cloud Shell, I get redirected to ADFS and can login.
If I try with powershell core and AZ, I run into error after providing code and authenticating.

[code]

again, this happens after successful authentication.

I tried with debug, see details at end of this post, also envioronment details inline below. in short:
Environment is Mac OSX 10.14.1 (latestMoj

[2018-11-08 15:29] k4lli commented on #7776
only a suspicion, error in debig shows 'Exception has been thrown by the target of an invocation. ---> System.FormatException: The format of value 'Darwin18.2.0DarwinKernelVersion18.2.0FriOct5194149PDT2018rootxnu-4903.221.22/RELEASE_X86_64' is invalid.
maybe related to OSX update (i'm running Mojave latest 10.14.1)

any other info that might help, please let me know. I'm tryin gthis for the first

[2018-11-08 15:36] toy187 opened #7777 "Modifying properties of MySQL server through New-AzureRmResource does not work in AzureChinaCloud."
### Description
Modifying properties of MySQL server through New-AzureRmResource does not work in AzureChinaCloud.  It says that the server does not exist in the resource group but in the portal I can see that it does.

The Resource 'Microsoft.DBforMySQL/servers/mysql2020prodcn' under resource group 'platform-prodcn-rg' was not found.

### Script/Steps for Reproduction
Call
New-AzureRmResource -Re

[2018-11-08 15:57] jontreynes opened #7778 "30 minute multiple for creating policies"
### Description

This documentation does not state that the policy you create must be in multiples of 30 minutes.

### Script/Steps for Reproduction

[code]

### Module Version

[code]

### Environment Data

[code]

### Debug Output

[code]

[2018-11-08 16:33] toy187 commented on #7774
All the info in the previous post is when calling the cmdlet when the profile doesn't already exist.  We still get a "Not found" error when running the cmdlet with a profile that DOES exist but this time this is the extra info from $DebugPreference='Continue' call:

Body:
{
  "error": {
    "code": "NoRegisteredProviderFound",
    "message": "No registered resource provider found for location 'chi

[2018-11-08 17:49] srividyathirumala commented on #2258
Move-AzureRmExpressRouteCircuit no longer accepts name with spaces. It does the same checks as Set-AzureRmExpressRouteCircuit .

[2018-11-08 17:49] #2258 closed

[2018-11-08 18:28] maddieclayton commented on #7763
@vrdmr Can you take a look at this issue?

[2018-11-08 18:32] surlypants commented on #7556
6.12.0 resolves for me also.

[2018-11-08 18:33] maddieclayton commented on #7774
@hytao Can you take a look at this issue?

[2018-11-08 18:35] maddieclayton commented on #7775
Closing in favor of https://github.com/Azure/azure-powershell/issues/7774. Will link this issue so we are sure that it is fixed at the same time.

[2018-11-08 18:35] #7775 closed

[2018-11-08 18:35] maddieclayton commented on #7774
Related issue: https://github.com/Azure/azure-powershell/issues/7775

[2018-11-08 18:38] maddieclayton commented on #7778
@dragonfly91 Can you take a look at this issue?

[2018-11-08 19:35] JustinGrote commented on #7738
Yep it is, it can be closed here and tracked there, once it is fixed there
then it will carry through.

On Thu, Nov 8, 2018, 7:23 AM Michael Greene <notifications@github.com>
wrote:

[2018-11-08 20:08] shailesh91 opened #7780 "Get-AzureRmStorageAccount - "Unable to deserialize the response" - Unsupported Storage Account Type"
### Description

When I try to list all Azure Storage Account using Get-AzureRmStorageAccount I get the following errror
"Unable to deserialize the response.". On running the following command with "Debug" switch I noticed that the module was not able to serliaze "FileStorage" Storage account type which is still in preview.

Microsoft.Rest.SerializationException: Unable to deserialize the response

[2018-11-08 21:34] maddieclayton commented on #7776
Thanks for pointing this out @k4lli! We are working on the fix right now - it will likely be included in 0.6.0, which will be released November 20th.

[2018-11-08 21:45] andsmit9 commented on #5956
Same result on 6.6.

[2018-11-08 21:52] k4lli commented on #7776
Great! Thanks for letting me know. I'll try with upcoming 0.6 then

On Thu 8 Nov 2018, 21:36 Maddie Clayton <notifications@github.com wrote:

[2018-11-08 21:54] MiYanni opened #7782 "Test Framework documentation missing information on traits"
Our test framework documentation:
https://github.com/Azure/azure-powershell/blob/preview/documentation/testing-docs/using-azure-test-framework.md

This is missing any information related to the `Trait` attributes we use specifically in our repository.
- `[Trait(Category.AcceptanceType, Category.CheckIn)]`
- `[Trait(Category.AcceptanceType, Category.LiveOnly)]`
- Any other common traits

These are

[2018-11-09 03:11] blueww commented on #7780
Currently, Storage account Kind "FileStorage" is still not supported by official Azure Powershell release. (It also can't create this kind Account.)

You can install the latest version of preview module of AzureRm.Storage module, the latest preview module support FileStorage Kind.
https://www.powershellgallery.com/packages/AzureRM.Storage/6.0.0-preview

[2018-11-09 09:00] Pynop opened #7787 "Add-AzureRmIotHubRoutingEndpoint cmdlet doesn't exist in AzureRM.IotHub"
### Description

Accoding to MS docs there's a Add-AzureRmIotHubRoutingEndpoint cmdlet in AzureRM.IotHub module
https://docs.microsoft.com/en-us/powershell/module/azurerm.iothub/add-azurermiothubroutingendpoint?view=azurermps-6.12.0

But actually the module lacks this command. Same story for Add-AzureRmIotHubRoute cmdlet.
Nota that in Azure cloud shell it works because it is actually an alias for

[2018-11-09 09:05] siddharth7 commented on #7750
A fix has been initiated : https://github.com/Azure/azure-powershell/pull/7788

[2018-11-09 09:54] amalik99 opened #7789 "New-AzsSubscription does not work when there is no existing subscription"
https://github.com/Azure/azure-docs-powershell/blob/master/azurestackps-1.2.11/AzureRM.AzureStackAdmin/New-AzsSubscription.md

It does not work if the tenant user logged doesn't have/had an existing subscription in AzureStack already

### Description

### Script/Steps for Reproduction

[code]

### Module Version

[code]

### Environment Data

[code]

### Debug Output

[code]

[2018-11-09 10:29] AAM911 opened #7790 "Set-WAPackVM : The remote server returned an error: (400) Bad Request."
### Description

When I'm trying to set new VM size profile in Windows Azure Pack subscription I got error:

[code]

Expected behavior - VM Size profile applied to selected VM without errors.

### Script/Steps for Reproduction

[code]

### Module Version

[code]

### Environment Data

[code]

### Debug Output

[code]

[2018-11-09 16:16] lesterw1 opened #7791 "Get-AzureStorageContainer leaves TCP sockets open - No way to close?"
### Description

When iterating over all containers in all storage account, each  Get-AzureStorageContainer appears to create its own TCP connection which (understandably) stays open for a bit.  In Azure automation runbooks, there is a hard limit of 1000 sockets, after which, the runbook will simply stop.  On a PC, you don't encounter this issue because the socket limit is much higher.  Ideally, t

[2018-11-09 17:11] mastaehe opened #7792 "Connect-AzureRmAccount TargetInvocationException"
### Description

Connect-AzureRmAccount throws a FormatException when trying to log in using a device code from a Mac.

### Script/Steps for Reproduction
Following the steps presented in the documentation at https://docs.microsoft.com/en-us/powershell/azure/install-azurermps-maclinux?view=azurermps-6.12.0:
[code]
This causes a message prompting the user to connect to https://microsoft.com/devicelo

[2018-11-09 17:12] martin77s opened #7793 "VMDscConfiguration"
### Description

### Script/Steps for Reproduction

[code]

### Module Version

[code]

### Environment Data

[code]

### Debug Output

[code]

[2018-11-09 17:14] #7793 closed

[2018-11-09 17:33] jsheetzati commented on #3667
Is there an available work-around for this at the moment? If our swap fails for any reason in AzurePS, I have to go into the portal manually to reset it.

[2018-11-09 19:39] bbhart commented on #7792
I'm having this exact problem and thought it had to be just me. Same overall process and result for me, though OS is slightly different (I'm using Darwin 17.7.0 Darwin Kernel Version 17.7.0: Thu Jun 21 22:53:14 PDT 2018).

[2018-11-09 23:40] #7702 closed

[2018-11-10 00:24] maddieclayton opened #7797 "Add tests for Uninstall-AzureRm"
Add test for new Uninstall-AzureRm cmdlet
- verify deleting multiple directories in multiple paths and errors in deleting directories

[2018-11-10 01:01] maddieclayton opened #7798 "Add test for secret generation in New-AzureRmAdSpCredential"
- Test the automatic secret generation in New-AzureRmAdSpCredential
- Test the new output types of New-AzureRmAdSpCredential and New-AzureRmAdServicePrincipal

[2018-11-10 18:05] MaximoTrinidad opened #7799 "Uninstall-AllModules - Update docs to Add the -WhatIf parameter"
### Description

I like the function so I added the ability to use the -WhatIf parameter, and the counter for the modules been removed.
https://docs.microsoft.com/en-us/powershell/azure/uninstall-azurerm-ps?view=azurermps-6.12.0

### Script/Steps for Reproduction
Here's the modified code:

[code]

### Module Version

[code]

### Environment Data

[code]

### Debug Output

[code]

[2018-11-12 08:47] blueww commented on #7791
@lesterw1
I have tried to run `Get-AzureStorageContainer` on hundreds of storage accounts, and use `(netstat -an)` to check the network connection count (what's your way to check it?).

Following picture shows the network connection count trend when run `Get-AzureStorageContainer`. You can see, the connection count will decrease after the script finish, or when a cmdlets runs long time (see the dr

[2018-11-12 14:50] MaximoTrinidad opened #7800 "Uninstall-AllModules - won't uninstall all dependencies due to version differences."
### Description

While testing my changes (https://github.com/Azure/azure-powershell/issues/7799) in all of my environment (Linux,MacOS, and Windows).

I found that this function will not uninstall all Az modules.

Original script in reference found at:
https://docs.microsoft.com/en-us/powershell/azure/uninstall-azurerm-ps?view=azurermps-6.12.0

### Script/Steps for Reproduction

After loading the

[2018-11-12 15:23] toy187 commented on #7777
Disregard this.  In Azure China there is MySQL Dabatase on Azure and Azure Database for MySQL.  I was trying to use the first and I figured out that it seems to be an old version.  When I use Azure Database for MySQL it works correctly.

[2018-11-12 15:23] #7777 closed

[2018-11-12 16:27] MathieuBuisson opened #7802 "Start-AzAksDashboard creates a tunnel with incorrect dashboard pod name"
### Description

`Start-AzAksDashboard` doesn't result in any error on the PowerShell side, but browsing to http://127.0.0.1:8001/ fails with error :
`ERR_CONNECTION_REFUSED`

### Script/Steps for Reproduction

[code]

No error on the PowerShell side but it a opens browser tab to http://127.0.0.1:8001/ which fails with error :
`ERR_CONNECTION_REFUSED`

According to the job's status message the kub

[2018-11-12 18:16] brsrom commented on #7776
have absolutely the same issue.

[2018-11-12 20:05] bdcoder2 opened #7804 "New-AzureRmVMConfig - allow temp storage letter to be configured"
When configuring Azure VMs, the temporary storage (disk) uses D by default (a poor choice IMO).

The current workaround is to reassign the temporary drive to a different letter AFTER the VM is provisioned  (see: [https://github.com/MicrosoftDocs/azure-docs/issues/18477#issuecomment-437514214)](https://github.com/MicrosoftDocs/azure-docs/issues/18477#issuecomment-437514214)

The New-AzureRmVMConfig

[2018-11-12 21:55] rabrahamOpti commented on #7764
Context: I'm writing a powershell script that deploys several cloud services. The cscfg and cspkg files are generated by our build system and uploaded to an Azure blob. Because I can't directly refer New-AzureDeployment to the cscfg's blob URL, I'm forced to have the script download each of these files locally so I can refer to them. Getting that to work properly has been a pretty big time sink.

[2018-11-12 22:15] maddieclayton commented on #6749
Done

[2018-11-12 22:15] #6749 closed

[2018-11-12 22:32] maddieclayton commented on #7804
@nibhat @koralski @savyasachisamal Can you take a look at this feature request?

[2018-11-12 22:36] maddieclayton commented on #7792
@mastaehe Thanks for opening this issue! We have fixed the issue in our client runtime, and will be releasing the fix on 11/20.

Closing this issue, as we are tracking it here: https://github.com/Azure/azure-powershell/issues/7776.

[2018-11-12 22:36] #7792 closed

[2018-11-12 22:37] maddieclayton commented on #7776
@k4lli @brsrom The issue has been fixed in our Client Runtime, and will be in the release on November 20th.

[2018-11-12 22:42] maddieclayton commented on #7790
@koralski @nibhat @savyasachisamal  Can you take a look at this issue, and assign it to the correct dev?

[2018-11-12 22:49] maddieclayton commented on #7766
@ravbhatnagar @Tiano2017 Can you take a look at this issue?

[2018-11-12 22:50] maddieclayton commented on #7764
@Tiano2017 @ravbhatnagar Can you take a look at this customer request?

[2018-11-12 22:53] maddieclayton commented on #7768
@mattreatMSFT Can you provide us with the debug output? In order to do so, please run the above script with $DebugPreference='Continue' and paste the resulting debug stream.  Also, please remove all AzureRM modules from your machine, and let us know whether you continue seeing this issue with Az.

[2018-11-12 22:57] maddieclayton commented on #7780
@blueww How long until this support comes into stable? We shouldn't have the cmdlet error for customers in stable, even if they are creating the new type of storage account in a different platform.

[2018-11-12 22:59] maddieclayton commented on #7787
@rkmanda @chieftn Can you take a look at this issue?

[2018-11-12 23:03] rabrahamOpti opened #7805 "New-AzureStorageContext not setting StorageAccountName correctly"
### Description

When creating a context with  `New-AzureStorageContext` , the object's StorageAccountName is being incorrectly set to `[Anonymous]` when it should be set to the value passed in with the `StorageAccountName` parameter. See the image below:

![ctxhasanonymousstorageaccountnameedit](https://user-images.githubusercontent.com/28309959/48379920-aa9e8600-e6cd-11e8-8ee8-d4f841f51646.png)

[2018-11-12 23:55] maddieclayton commented on #7805
@blueww Can you take a look at this issue?

[2018-11-13 02:25] blueww commented on #7780
@maddieclayton

Add Try catch might not be very good.
It will make Get-AzureRmStorage Account Can't return the correct output, but fail quietly.

Upgrade to latest SDK might be good. As the Storage Account is wrappered  in PowerShell, I think it won't take breaking change.

[2018-11-13 04:01] blueww commented on #7805
@rabrahamOpti
Thanks for raise this issue!
This is because in Storage Client library, the StorageCredential generated from Oauth token has AccountName as null. (the StorageCredential generated from key will have AccountName).

Currently, the Storage Context generated from SAS will have StorageAccountName: [SasToken], since the StorageCredential generated from SAS also has AccountName as null. So I

[2018-11-13 04:49] taylorbindon commented on #2605
I've started experiencing the same error that others have outlined. Using Find-AzureRmResource as a work around for the time being.
[code]

[2018-11-13 13:19] rabrahamOpti commented on #7805
@blueww Thank you for looking into this.

I don't understand why the value of the field should be different if the StorageCredential is generated from a key vs generated from the Oauth token, and how that affects downstream behavior. What is it supposed to contain, the name of the storage account, or an access token? Perhaps the name of the field should be changed to better reflect what it is supp

[2018-11-13 14:39] rabrahamOpti commented on #7805
Here's the debug output of the failing `Get-AzureStorageBlobContent` command:

[code]

[2018-11-13 15:56] RobertoBorges commented on #3215
The environments and customers I work with do not have the same amount of trust as @sebbrochet. Did anyone manage to figure out the least privilege approach to creating App Reg and Svc Principal through a VSTS Pipeline?

[2018-11-13 18:11] markcowl commented on #7749
Fixed in #7783

[2018-11-13 18:11] #7749 closed

[2018-11-13 18:12] markcowl commented on #7626
Fix in #7755

[2018-11-13 18:15] rabrahamOpti commented on #7805
I verified that I do not get a 403 error from `Get-AzureStorageBlobContent` when I pass the storage account key into `New-AzureStorageContext` and use the resulting context object. So the `-UseConnectedAccount` code path needs to be fixed somehow.

[2018-11-13 19:59] markcowl opened #7815 "Verify that side-by-side module installation is disallowed in Automation"
### Description

- [ ] Verify that side-by-side installation of new AzureRM and Az modules fails
    - [x] First install AzureRm, then install Az
    - [x] First install Az, then attempt to install AzureRM

### Cost: 1

[2018-11-13 21:52] john-wick-2k17 commented on #7677
Is there any update on this?

Could it be that taking snapshot of managed disk creates a separate blob each time?

For example, while creating the snapshot config using New-AzureRmSnapshotConfig, we provide CreateOption as "Copy". I believe Azure does a full snapshot copy of the snapshot and create it as a separate blob, therefore does not have any snapshot hierarchy? Is that assumption correct?

[2018-11-13 22:09] #7357 closed

[2018-11-13 22:09] haitsongmsft opened #7816 "Add support for MongoDb migration of Azure DataMigration"
## Service Release Details

- Is this an Embargoed Preview, A Public Preview, or a General Release?

    - `Public Preview`

- What is the expected service release date?

    - `Already released. API Version - 2018-07-15-preview`

## Contact Information

- Main developer contacts (emails + github aliases)

    - `haitsong;binuj`

- PM contact (email + github alias)

    - `rajpo`

- Other people w

[2018-11-13 22:10] #7342 closed

[2018-11-13 22:35] maddieclayton commented on #7799
@sptramer Can you take a look at this issue?

[2018-11-13 22:38] maddieclayton commented on #7309
Closing for inactivity. @msgerneu Please reopen if you are able to follow the steps above and are still running into this issue.

[2018-11-13 22:38] #7309 closed

[2018-11-13 22:39] maddieclayton commented on #7313
@iyoumans We have now moved completely to Az (where both Core and Desktop work).  Please reopen if you still see this issue in Az.

[2018-11-13 22:39] #7313 closed

[2018-11-13 22:40] maddieclayton commented on #7375
Closing for inactivity. @jrgithub Please reopen if you continue to see this issue in the current version of AzureRM.

[2018-11-13 22:40] #7375 closed

[2018-11-13 22:41] maddieclayton commented on #7417
Looks like this issue has been resolved in Az, closing.  Please open a new issue if you are still seeing any issues in Az.

[2018-11-13 22:41] #7417 closed

[2018-11-13 22:42] maddieclayton commented on #7690
Closing for inactivity. @MateusAmin Please reopen if the proposed solution above does not work for your use case.

[2018-11-13 22:42] #7690 closed

[2018-11-13 22:44] maddieclayton commented on #7802
@mboersma Can you take a look at this issue?

[2018-11-13 22:48] maddieclayton commented on #7767
@xenalite Though this is a good issue to bring up, changing the names out model properties is a breaking change and thus can't be fixed until we make a breaking change release.  We do have plans to address this and other similar issues in the next year.

[2018-11-13 22:48] #7767 closed

[2018-11-13 22:49] maddieclayton commented on #7744
Closing for inactivity. @dingliu Please reopen if you are still seeing this issue and can provide the debug output requested.

[2018-11-13 22:49] #7744 closed

[2018-11-13 23:09] maddieclayton commented on #7674
@MikhailTryakhov Is this completed? I believe you can now set an environment variable to override the preferred location in Get-Location.

[2018-11-13 23:10] maddieclayton commented on #7556
Closing as this issue seems to be resolved.  Please reopen if you continue to see this issue in the current version of AzureRM.

[2018-11-13 23:10] #7556 closed

[2018-11-13 23:15] maddieclayton commented on #6583
Completed.

[2018-11-13 23:15] #6583 closed

[2018-11-13 23:19] praries880 commented on #7674
@maddieclayton @MiYanni
This is what needs to be done :
Add a param to all the [NRP jobs](https://azuresdkci.westus2.cloudapp.azure.com/view/az-ps-network-tests/) such that if the user has specified a non null string for the param, we set the env var `AZURE_NRP_TEST_LOCATION ` to the value specified otherwise its null before we run the tests.

[2018-11-13 23:20] maddieclayton commented on #6466
Closing as by design.

[2018-11-13 23:20] #6466 closed

[2018-11-13 23:20] #6328 closed

[2018-11-13 23:31] maddieclayton commented on #2626
@danielsollondon Can you take a look at this issue?

[2018-11-14 00:04] cormacpayne commented on #5910
This will be available in the next release of `Az` (2018-11-20). More information about cross-platform certificate authentication can temporarily be found here: https://gist.github.com/cormacpayne/6f15ce9bdaf6edc1d7b11c52bb924c44

[2018-11-14 00:04] #5910 closed

[2018-11-14 00:05] MaximoTrinidad commented on #7554
Hi @markcowl,  The AutoSave works!

Thanks,
:)

[2018-11-14 00:05] MaximoTrinidad commented on #7456
@markcowl

This issue need to be reopen.  There's no indication it has been fix, nor which version will contain the fix.

The issue still exist with Az Module 0.5.0.

For now, the only workaround is to use the **Enable-AzContextAutoSave** cmdlet.

![azimportcontextissue_01_2018-11-13_18-35-15](https://user-images.githubusercontent.com/19892435/48450858-d83f0a00-e775-11e8-829d-4452250bb1fe.jpg)

[c

[2018-11-14 00:41] maddieclayton commented on #7776
Closing as fixed. Please reopen after 11/20 if this is still an issue for anyone.

[2018-11-14 00:41] #7776 closed

[2018-11-14 00:50] cormacpayne commented on #4107
@taiwu @athipp @pychuang would one of you be able to take look at this issue?

[2018-11-14 01:35] taiwu commented on #4107
Just seeing this issue, I need to verify with our team to check if updating tags for paused server is allowed.
If it is, I will fix it.

[2018-11-14 06:16] ibondy commented on #7724
Any update on this? We are unable to deploy AKS via PowerShell? Should we be using Azure CLI instead?

[2018-11-14 06:45] blueww commented on #7805
@rabrahamOpti
The Storage Context created with `-UseConnectedAccount `use different authentication than storage account key. The 403 error is caused by your Azure Login account (Set in `Login-AzureRMAccount`), don't have RBAC access to the storage blob.

The `StorageAccountName `property of the storage context will not be used in any authentication, it's just to show the AccountName to customer. S

[2018-11-14 08:10] fiftin commented on #5579
This is actual? I found this instruction: https://docs.microsoft.com/en-us/powershell/azure/install-azurermps-maclinux?view=azurermps-6.12.0

[2018-11-14 09:49] blueww commented on #7780
@maddieclayton
I find upgrade SRP SDK will still take breaking, since the Get Global Storage Usage API is remove in new API version.
So with upgrade SRP SDK, `Get-AzureRmStorageUsage` parameter `-Location `change from optional to mandatory, this is a breaking change.

How do you think we should handle this breaking? Following are 3 options, which do you prefer?
1. Don't upgrade SRP SDK now, and up

[2018-11-14 12:54] EvgenyAgafonchikov commented on #5051
[Related changes](https://github.com/Azure/azure-powershell/blob/preview/src/ResourceManager/Network/Commands.Network/NetworkSecurityGroup/SetAzureNetworkSecurityGroupCommand.cs#L25) were merged

[2018-11-14 12:54] #5051 closed

[2018-11-14 13:40] siddharth7 opened #7823 "Restore-AzureRmRecoveryServicesBackupItem command failing for azureVM"
### Description

### Script/Steps for Reproduction

[code]

### Module Version

[code]
6.12

### Environment Data

[code]

Name                           Value
----                           -----
PSVersion                      5.1.17763.1
PSEdition                      Desktop
PSCompatibleVersions           {1.0, 2.0, 3.0, 4.0...}
BuildVersion                   10.0.17763.1
CLRVersion

[2018-11-14 13:42] siddharth7 commented on #7823
### Issue
The region parameter in the restore request object is not able to get vault location when using the  Set-AzureRmRecoveryServicesVaultContext cmdlet.

### Workaround
There’s a workaround to solve this issue using a vault object.

$vault = Get-AzureRmRecoveryServicesVault -ResourceGroupName <VaultResourceGroupName> -Name <VaultName>
$restorejob = Restore-AzureRmRecoveryServicesBackupItem -

[2018-11-14 13:56] rabrahamOpti commented on #7805
@blueww I do have RBAC access to that storage blob. I can read/write to it through Azure portal using the same credentials. That wouldn't be possible if I did not have RBAC access to that storage blob, correct?

[2018-11-14 14:41] CHDAFNI-MSFT opened #7824 "Req: Get-AzureRmPolicyAlias - change default output format"
The current output of Get-AzureRMPolicyAlias is not conducive to seeing what aliases are available in a **human **readible**** format

In order to 'quickly skim' to see available aliases based on RP and ResourceType…. I feel a better default output for the cmdlet would be similar to:
`Get-AzureRmPolicyAlias | select namespace, resourcetype -ExpandProperty aliases | select namespace, resourcetype,

[2018-11-14 16:15] CHDAFNI-MSFT opened #7825 "Req: Add-AzAccount add flags to open URL & flag to include code"
Today, adding 'Add-AzAccount' outputs a requirement for the end user to open a browser and manually navigate to a URL (based on the Azure environment) and manually entering a code. This is a bit tedious in terms of repetition and copy/paste. This method is different from the previous mechanism (Add-AzureRMAccount) which popped up a built-in web prompt.

Some thoughts on feature ideas:

The request

[2018-11-14 16:45] lesterw1 commented on #7791
There are work-arounds by throttling the runbook, creating sub-jobs, etc. I'm likely to have more storage accounts than any other PaaS resource type, so I'd  rather be able to wholesale close the sockets when I am done with a storage account instance.

Perhaps including the socket information in the storage account context would be an approach (which could then be extracted and the socket forced c

[2018-11-14 18:28] maddieclayton commented on #7780
@blueww If you can, please open a PR to add a breaking change warning to the -Location parameter so we can get it in for the 11/20 release: https://github.com/Azure/azure-powershell/blob/preview/documentation/breaking-changes/breaking-changes-attribute-help.md

[2018-11-14 18:57] maddieclayton commented on #7824
@Tiano2017 @ravbhatnagar Can you take a look at this issue?

[2018-11-14 18:58] cormacpayne commented on #5579
@fiftin Hey Denis, this issue predates our new `Az` module, which is the cross-platform module that we will be switching to in December. It replaced the `AzureRM.Netcore` module around August or September of this year, and will also be replacing the `AzureRM` module in December. The documentation is correct that you should be using the `Az` module 😀

[2018-11-14 19:34] markcowl opened #7827 "Add end-to-end test automation verifying case preservation in Tag keys and Values"
### Description

Some recent customer issues, including #7678, #7703 document a regression in tag case preservation when  using generic cmdlets to set tags.  This was recently fixed, but there should be an end-to-end test to prevent regressions.

[2018-11-14 20:02] Newnton commented on #5291
Please update this

[2018-11-14 21:56] markcowl commented on #7678
Fix in this commit: https://github.com/markcowl/azure-powershell/commit/f78806a1bfdb32ae20e5c86cb815bcf33c3e5ea7

Filx will be released on 11/20

[2018-11-14 21:56] #7678 closed

[2018-11-14 21:57] markcowl commented on #7703
Fix in this commit: https://github.com/markcowl/azure-powershell/commit/f78806a1bfdb32ae20e5c86cb815bcf33c3e5ea7

Filx will be released on 11/20

[2018-11-14 21:57] #7703 closed

[2018-11-14 21:59] markcowl commented on #7691
This will be in the 11/20 release

[2018-11-14 21:59] #7691 closed

[2018-11-14 22:00] markcowl commented on #6929
Closing as duplicate of #7343

[2018-11-14 22:00] #6929 closed

[2018-11-14 22:01] markcowl commented on #7319
Initial stage is done, moving as a placeholder for changes after AutoRest changes have been impleneted

[2018-11-14 23:43] markcowl commented on #7752
@TylerLeonhardt Thanks for the report.  It is actually intentional that we don't expose tokems, for a few reasons:
- They are secret
- They can expire, and while there are refresh tokens, it can be difficult to use one to obtain a new access token from a refresh token
- They are an implementation detail that users shouldn't have to worry about

There are a few options to use instead:
- Use PowerSh

[2018-11-14 23:48] markcowl commented on #7110
@pixelicious Please file a separate issue if the advice above does not work for you.  We need to ensure that we have captured the details of your particular scenario.  If you file an issue, the issue template will guide you to providing the correct information for us to diagnose your particular issue.  Further comments on this issue make it difficult to track where there is still an active issue,

[2018-11-14 23:55] markcowl commented on #7456
@MaximoTrinidad This is the issue that tracks a fix for this - the referenced issue was closed as a duplkicate, to make tracking the fix easier.

Meanwhile, if you are using PowerShell interactively, consider using context autosave instead of importing and exporting contexts.  Context autosave automatically saves your available contexts in between sessions, making it unnecessary to improt and expo

[2018-11-15 00:12] TylerLeonhardt commented on #7752
The problem I am facing was that the Azure Functions CLI (`func` not a part of Azure CLI or Azure PowerShell) relied on the Azure CLI to obtain an access token. See related issue here:
https://github.com/Azure/azure-functions-core-tools/issues/840

I don't agree that they should be relying on Azure CLI but I'm going with it... and am trying to get the same token via Az.Profile so I can rely on tha

[2018-11-15 00:20] markcowl commented on #7430
@lwajswaj @jamesmealing  First, using ServicePrincipal to authenticate automation is not new advice.  This has always been our recommendation, and it is why AzureAutomation (capital A) recommends this as an authentication mechanism, and provides first class support, using RunAs connections, where an SPN is **automatically created** for an automation account.

It is not the case that username/passw

[2018-11-15 00:28] markcowl commented on #7354
@Mahalxim  This was fixed in the 6.10 version.  If you are still seeing an issue can you please provide:

- Module layout on your machine

[code]

- Debug log for the failign cmdlet (```$DebugPreference="Continue"``` before executing the cmdlet).  This will help us to pinoint the issue, as we can't repro it locally.

[2018-11-15 00:31] markcowl commented on #7302
@sdavis3 AzureRM.Netcore has been replaced by Az.  The docker hub images were only for internal consuption at this point, but we will likely add first class docker hub support after the az 1.0 release.  Saving this issue to track first class Docker support for Az

[2018-11-15 00:37] markcowl commented on #7199
No this is separate, and my guess is that you have one or more parameter passing issues in this case.

Closing this as a duplicate of #7456

[2018-11-15 00:38] markcowl commented on #6843
https://github.com/azure/azure-rest-api-specs

[2018-11-15 01:03] hrboyceiii commented on #6843
@markcowl Thanks.

[2018-11-15 01:40] #7815 closed

[2018-11-15 01:46] cormacpayne commented on #7736
@bganapa is there any need for the `AdfsId` property on [`PSADObject`](https://github.com/Azure/azure-powershell-common/blob/dev/src/Graph.Rbac/ActiveDirectory/PSADObject.cs#L25) if we are able to make the corresponding `Id` property of type `string`? If so, do we have any need for [this method](https://github.com/Azure/azure-powershell-common/blob/dev/src/Graph.Rbac/ActiveDirectory/ActiveDirector

[2018-11-15 01:53] bganapa commented on #7736
Thanks for reaching out. This is the commit that I added
https://github.com/Azure/azure-powershell-common/commit/0b86d217d7e537482472151193138ffe0bc2045d#diff-0694ea70afa175a0d7b745bdebf4d5b1

I would prefer removing AdfsId and change the Id type to be string. AssignObjectId method will not be needed

[2018-11-15 01:59] bganapa commented on #7736
Also please note that the following Guid also needs to be changed to string

They are essentially string by the contract, I think ole PS* objects treats them as GUID.

https://github.com/Azure/azure-powershell-common/blob/dev/src/Graph.Rbac/ActiveDirectory/PSADApplication.cs#L24

        public Guid ApplicationId { get; set; }

https://github.com/Azure/azure-powershell-common/blob/dev/src/Graph.Rb

[2018-11-15 02:00] blueww commented on #7805
You can read/write blob from portal don't means you have RBAC access to the storage account.
Please follow up the link to setup the RBAC access to your storage account: https://docs.microsoft.com/en-us/azure/storage/common/storage-auth-aad-rbac?toc=%2fazure%2fstorage%2fqueues%2ftoc.json

[2018-11-15 02:44] blueww commented on #7780
@maddieclayton
PR for breaking warning is added in https://github.com/Azure/azure-powershell/pull/7834

[2018-11-15 05:29] Vasu1105 commented on #7416
@lstyles The fix for this available in latest release. Could you please confirm that the fix is working as expected ?

[2018-11-15 07:34] keyboardfann opened #7836 "Can't get token using AcquireToken in background"
### Description
Hi, I run the following powershell script manually and I can get the token successful.
But when I use nssm to put the powershell as windows service. I can't get the token......
Is there any way to troubleshoot or resolve my issue?

### Script/Steps for Reproduction
[code]

### Module Version
[code]

### Environment Data
[code]

### Debug Output

Manually running result:
[code]

Use

[2018-11-15 07:38] blueww commented on #7791
@lesterw1

Dotnet framework already has Keep-alive enabled by default, see https://docs.microsoft.com/en-us/dotnet/api/system.net.httpwebrequest.keepalive?view=netframework-4.7.2. Since Powershell is on Dotnet, it also has keep-alive enabled by default.

But for your scenario,  since each account has different FQDN address, so they will use different connection even enabled keep-alive.

[2018-11-15 08:29] lstyles commented on #7416
@Vasu1105 sure. Could you confirm what's the latest release version?

[2018-11-15 12:48] Pynop opened #7838 "webapp:Sometimes zipdeploy URL is not available after app function creation"
### Description

When one needs to deploy a function with PS a resource at first should be created and after that a zip containing executables is to be uploaded to a corresponding URL. The problem is that after a resource is created sometimes the URL is not available though. I've noticed it happens when a resource with the same name is recreated (created-deleted-created again) frequently enough. I

[2018-11-15 13:52] rabrahamOpti commented on #7805
@blueww My role to all containers in that subscription is owner. But since it's not clear if my problem with `Get-AzureStorageBlobContent` is related to the context object that `New-AzureStorageContext` is generating, I'll set up a couple of test cases and create a separate issue for `Get-AzureStorageBlobContent`.

In regards to this ticket, I left a review on your PR. Thanks!

[2018-11-15 14:01] cResults opened #7840 "Split-Path : A parameter cannot be found that matches parameter name 'LeafBase'."
we have a Azure DevOps build that has a task with the following code:
[code]

While this code path doesn't get executed very often, it is my understanding that it previously worked.

Here is the error that we are now getting

[code]

[this docs.microsoft.com post suggests that this code should work](https://docs.microsoft.com/en-us/powershell/module/microsoft.powershell.management/split-path?view=

[2018-11-15 14:38] MaximoTrinidad commented on #7456
Hi @markcowl!!  Thanks for the advice!
Greatly Appreciated!
:)

[2018-11-15 17:17] AspenForester commented on #3665
Perhaps this could be re-framed as "Get-AzureStorageBlobContent" should behave more like "Get-Content"

[2018-11-15 20:03] jschwanz opened #7844 "New-AzureRmAutomationSchedule starttime offset not ignored when timezone present"
### Description

I'm trying to create a schedule using New-AzureRmAutomationSchedule, but the start time is not being set correctly. The help doc says this under the `-StartTime` parameter: "If the TimeZone parameter is specified, the offset will be ignored and the time zone specified is used." When I supply the timezone it is not ignoring the offset in the StartTime, but is offsetting the StartTi

[2018-11-15 21:08] maddieclayton commented on #7844
@vrdmr Can you take a look at this issue?

[2018-11-16 01:43] sergeroz commented on #2617
Issue is still happening and clone operation does **not** succeed.

[2018-11-16 02:14] blueww commented on #7805
@rabrahamOpti
The role "owner" is for management plane, not for data plane.
To read/write blob, you need following role:

- Storage Blob Data Contributor (Preview) - this is for read/write
- Storage Blob Data Reader (Preview) - this is for read only

So if you only have "owner" role, you definately will get 403 when try to access blob with context created with -UseConnectedAccount , since you don'

[2018-11-16 06:41] #7746 closed

[2018-11-16 06:48] imeya opened #7848 "Get-AzureStorageBlob behaves strangely when the blob name contains special chars like []"
When use the following code:
[code]

But the $blob is null, and no error occurs.

if I rename the blob without [1], then $blob is not null and I can see the blob.

So why it returns null when the blob name has [] characters? and no error occurs?

And something strange is that, if I just remove  the -Blob, use the below code:
`$blob = Get-AzureStorageBlob -Container $container.Name -Context $contex

[2018-11-16 07:36] blueww commented on #7848
@imeya

In the help of Get-AzureStorageBlob, you can see the -Blob parameter support wildchar search.
https://docs.microsoft.com/en-us/powershell/module/azure.storage/get-azurestorageblob?view=azurermps-6.12.0

For the blob name `"test/new11_22[1].jpg"`, `[1]` will be taken as a set include only one element `1` (e.g. [0-9] means one number)
So the blob name matchs the pattern `"test/new11_22[1].jp

[2018-11-16 11:03] Pynop opened #7849 "CosmosDB Azure tables account is in preview mode when created from PS script"
### Description

When I create a CosmosDB account of type Table manually (using Azure Portal) I get a fully operable account. But when I do the same with a PS cmdlet I get an account in preview mode. That is identified by a corresponding message section in Azure Portal when I observe the resources created with PS.
Here's a link to MS docs, pay attention to the feedback section in the bottom of the

[2018-11-16 11:59] joakimhew commented on #7776
Thanks for working on a fix @maddieclayton What are my options to use a temporarily fix for this while waiting for the 11/20 release?

[2018-11-16 16:04] davidgiesberg commented on #7776
@joakimhew For what it's worth, I downgraded back to 0.4.0 and that got things working for me. I'm sure there's probably a better way (this is all new to me), but it got me unstuck:

    Get-InstalledModule Az* | ForEach-Object {Write-Output $_.name; Uninstall-Module $_ ; Install-Module -Name $_.name -RequiredVersion 0.4.0}

[2018-11-16 17:26] mitchej7 opened #7850 "NullReferenceException calling Connect-AzureRmAccount in a .NET 4.7 application"
### Description

NullReferenceException calling Connect-AzureRmAccount when running a PowerShell script in a .NET 4.7 application using the System.Management.Automation assembly.

Below is the stack trace of the exception.
[code]

It looks like the issue is because you reference version 2.28.3 of the Microsoft.IdentityModel.Clients.ActiveDirectory assembly. This appears to be a known issue that ha

[2018-11-16 17:29] rumenavramov opened #7851 "Errors when using the new AZ module"
### Description

The module seemed to have installed normally, however, it throws errors when I try using it. It is as if some assemblies are missing, but I am having hard time figuring which ones exactly. Here is an example:
[code]
This is running on Win10 Enterperise 1709. Brand new corporate computer.

### Module Version

0.5.0

### Environment Data

[code]

Any help is appreciated!

[2018-11-16 17:45] maddieclayton commented on #7776
@joakimhew, downgrading is likely your best option while waiting for the November 20th release. @davidgiesberg's script looks great - thanks @davidgiesberg! Let me know if that script does not work for you.

[2018-11-16 17:47] maddieclayton commented on #7851
@rumenavramov Can you provide us the modules installed on your machine by running ```Get-Module -ListAvailable```, as well as the debug log (you can obtain this by running ```Connect-AzAccount -Verbose```). This will help us diagnose your issue.

[2018-11-16 18:08] AspenForester opened #7852 "Start-AzureStorageFileCopy - unclear that the DestContext parameter is required"
Azure.Storage Module Version 4.6.1

When using
[code]
The help does not make it clear that the DestContext parameter is actually required, even when the (Source)Context and DestContext are the same.

This is what it takes to get the command to copy a blob to a file share:
[code]

[2018-11-16 18:36] rumenavramov commented on #7851
Hi Maddie and thanks for your response!
There are no other modules (except for whatever comes with a default Windows install).
Adding "-verbose" produces the exact same output as before.

[2018-11-16 20:00] MateusAmin opened #7855 "New-AzureRmEventGridSubscription & Update-AzureRmEventGridSubscription: Add Support for Storage Queue Handler"
This a request for enhancement. Currently, New-AzureRmEventGridSubscription & Update-AzureRmEventGridSubscription  do not support using Storage Queue for the subscription handler.

Applicable Spots in the code:

https://github.com/Azure/azure-powershell/blob/6ab1c8b0048e526302d42e45c670d24aaaf786e2/src/ResourceManager/EventGrid/Commands.EventGrid/EventSubscription/NewAzureEventGridSubscription.cs#

[2018-11-16 20:08] allan-xiazhan opened #7856 "Get-AzureRmVM returns a VM with wrong identity type"
### Description

For a VM with identity type "SystemAssigned, UserAssigned",  Get-AzureRmVm returns a VM object whose identity type is "UserAssigned".

Related issue: https://github.com/Azure/azure-sdk-for-net/issues/4234

### Script/Steps for Reproduction

Assume you already have a VM.  Update it with SystemAssignedUserAssigned identity.

[code]

### Module Version
AzureRm 6.12.0
AzureRm.Compute

[2018-11-17 01:52] maddieclayton commented on #7855
@kalyanaj Can you take a look at this issue?

[2018-11-17 01:58] maddieclayton commented on #7852
@blueww Can you take a look at this issue?

[2018-11-17 03:55] kalyanaj commented on #7855
This has been supported as part of the latest preview PowerShell package for EventGrid: It can be downloaded from here. https://www.powershellgallery.com/packages/AzureRM.EventGrid/0.4.1-preview

The PowerShell usage for this is documented at https://docs.microsoft.com/en-us/azure/event-grid/custom-event-to-queue-storage.

(Note: When this feature becomes GA, the main branch of PowerShell and the

[2018-11-17 03:55] #7855 closed

[2018-11-17 22:26] MatthewJDavis opened #7859 "Connect-AzAccount ServicePrincipalCertificateWithSubscriptionId Parameter Set errors with Parameter name: secureString value cannot be null"
### Description

When running the Connect-AzAccount Cmdlet with the ServicePrincipalCertificateWithSubscriptionId Parameter Set on Ubuntu 16.04, I am unable to connect because of the error:

[code]
Looking at the help and the code, the secureString is type for the Parameter ManagedServiceSecret  of the ManagedServiceParameterSet.

### Script/Steps for Reproduction

[code]

### Module Version

[cod

[2018-11-18 00:00] mikeblas commented on #7658
I'm having this same problem. Thing is, I'm as sure as I can be that I have .NET Framework 4.7.2 installed. What diagnostic information can I provide to help sort out what's going on?

[code]

and then:

[code]

I can provide the Get-Module output if you'd like, but I'm trying to use 0.5.0 of the Az packages.

[2018-11-18 17:05] abbgrade opened #7860 "Optional name for Get-AzureRmLogicApp"
The cmdlet Get-AzureRmLogicApp has the name as required parameter. Other Get-Cmdlets in this module return all objects of this type, if no name is set.
It would be nice to have this parameter optional or add a cmdlet List-AzureRmLogicApp.

[2018-11-19 04:43] markcowl commented on #7573
Blog Plan published to azure-powershell-pr

[2018-11-19 04:43] #7573 closed

[2018-11-19 04:49] markcowl commented on #6831
Why don't we take this opportunity to remove these instructions altogether form azure storage cmdlets?  Csutomers should use cmdlets to perform the tasks they wamt, not methods of cmdlet return types.

Storage os currently the *only* RP to suggest that their dataplane cmdlet output should be used in this way - it means that you need to ensure there are never any brakign changes in your .Net API,

[2018-11-19 04:52] markcowl commented on #6831
Action for our team: ensure this information is added to the migration guide.

@blueww Assignign to you to ensure this is the full set of changes we should document w.r.t. asynchronous APIs

[2018-11-19 04:56] #6739 closed

[2018-11-19 04:57] markcowl commented on #7571
Closing as duplicate

[2018-11-19 04:57] #7571 closed

[2018-11-19 05:05] markcowl commented on #7347
Closing as we don't seem to need this issue in github

[2018-11-19 05:05] #7347 closed

[2018-11-19 05:08] markcowl commented on #6827
Include info from #6831

[2018-11-19 05:11] markcowl commented on #7692
@MiYanni This is likely related to ifdefs work, cna you take a look?

[2018-11-19 06:15] TylerLeonhardt commented on #7752
I don't think I'd consider it fixed.

Is my snippet of code something I can rely on for the future?

Some context - the `func` CLI aka Azure Functions Core Tools is the data plane interface with Azure Functions. It allows you to work with Azure Functions locally AND publish them to Azure.

In order to publish to Azure, it needs an access token so that it can make the necessary API calls to Azure.

[2018-11-19 06:16] TylerLeonhardt commented on #7752
Cc dev of Functions team, @ahmelsayed

[2018-11-19 06:20] blueww commented on #6831
These are the most commonly used XSCL API with storage cmdlets.
Actually, there are so many APIs ( > hundreds) can call with the storage cmdlets output object. I don't think we can cover them all in the doc. But customer should can easily find how to do it with same way in above sample, since they are in same pattern.

Besides that, since there are so many APIs can call from storage cmdlets output

[2018-11-19 09:41] blueww commented on #7852
@AspenForester

Thanks for reporting this!
I can repro the issue. I will try to fix it per our bandwidth and customer requests on this issue.

[2018-11-19 11:49] benmillaneasos commented on #7763
Any update on this?

[2018-11-19 17:50] rs38 commented on #5959
it is still nearly impossible to retrieve the `lastSeenDateTime` property with powershell. even the generic `Get-AzureRmResource` with the correct type, namespace etc. is ignoring the array of workers.

[2018-11-19 18:08] #6499 closed

[2018-11-19 18:14] maddieclayton commented on #6755
Should be just waiting on AzureRM.Storage.

[2018-11-19 18:14] markcowl commented on #6793
### High Risk Changes

Status | Name | Location | Notes
-- | -- | -- | ----------------------------------------------------------------------------------------------------|
High Risk | CertUtils.cs | src\ResourceManager\RecoveryServices\Commands.RecoveryServices\Utilities\ | No methods are 'actually' used from this file. Whole file should be removed. All methods are referenced in the below cmdlet.

[2018-11-19 18:16] bgklein opened #7863 "Azure Batch - Get Node Agent Sku Formatting Error"
### Description
Formatting error for Get-AzureBatchNodeAgentSku cmdlet

### Script/Steps for Reproduction
[code]
Output:
![image](https://user-images.githubusercontent.com/18502617/48726390-08f2c980-ebe4-11e8-9581-fe68e4dee603.png)

Actual values stored:
![image](https://user-images.githubusercontent.com/18502617/48726401-1445f500-ebe4-11e8-9fdc-80fdc39b836e.png)

### Module Version
N/A

### Envir

[2018-11-19 18:19] matthchr commented on #7863
Thanks @bgklein - it looks like this is a display issue with the table formatting. I'll take a look at fixing it.
@cormacpayne can you assign this to me and tag it as "batch"?

[2018-11-19 18:19] john-wick-2k17 commented on #7677
Thanks @ramankumarlive. The email to that address is getting rejected because of a domain filter (I have an outlook.com account).

"Your message was rejected by the recipient's domain because the recipient's email address isn't listed in the domain's directory"

[2018-11-19 18:45] asote commented on #6595
Any status on this? Having the same problem.

Get-AzureRmRecoveryServicesBackupItem -Container $MARScontainers[0]

cmdlet Get-AzRecoveryServicesBackupItem at command pipeline position 1
Supply values for the following parameters:
(Type !? for Help.)
WorkloadType: AzureFiles
Get-AzureRmRecoveryServicesBackupItem : BackupManagementType is not expected for WorkloadType: AzureFiles
At line:1 char:1
+

[2018-11-19 18:50] MiYanni commented on #7658
@mikeblas You don't need .NET 4.7.2 for PowerShell Core 6+. However, your version of PowerShell Core is quite old at this point. [This release](https://github.com/PowerShell/PowerShell/releases/tag/v6.1.1) is the latest stable. I'd try that and let me know if you still have issues.

[2018-11-19 18:50] cormacpayne commented on #7856
@allan-xiazhan according to the issue from the `azure-sdk-for-net` repository linked above, the underlying issue was fixed in Newtonsoft.Json version 10.0.3, which is what we currently use in our `Az` modules. Would you mind installing the `Az` module, running the `Get-AzVM` command and verifying that the issue is fixed in that module?

[2018-11-19 18:54] markcowl opened #7864 "Fix issues in BaseSqlVulnerabilityAssessmentAdapter and VulnerabilityAssessmentEndpointsCommunicator"
## Description

There are discrepancies between the NetStandard and Desktop versions of the code for the following components.  For each, we need to work with the feature team to determine:

- Can we provide equivalent functionality in NetStandard for the 12/18 release
- If not, how to document the behavior discrepancy in the migration guide

### BaseSqlVulnerabilityAssessmentAdapter.cs
- ScanResu

[2018-11-19 18:56] markcowl opened #7865 "Write Migration doc for GetAzureRMRecoveryServicesVaultSettingsFile cmdlet"
### Description

- The base certificate utils used by the cmdlet is not implementable in netstandard.  Need to provide migration advice for customers who are using this cmdlet for the migration guide

### Cost: 2

[2018-11-19 18:58] markcowl commented on #6793
Filed #7864 #7865 to track the high risk changes

[2018-11-19 19:01] markcowl commented on #6755
AzureRM.Storage is complete, they just need to update their management client

[2018-11-19 19:12] cormacpayne commented on #7825
@CHDAFNI-MSFT Hey Chase, thanks for the suggestions -- these are definitely features that we are interested in implementing for an easier authentication experience. Just for some quick background information, `AzureRM` and `Az` use different versions of the [ADAL.NET library](https://github.com/AzureAD/azure-activedirectory-library-for-dotnet) due to the different target frameworks of the modules.

[2018-11-19 19:15] cormacpayne commented on #7836
@keyboardfann this repository does not contain the underlying code for acquiring tokens using ADAL; we have wrappers over this functionality for our authentication. I would recommend opening this issue in the [ADAL.NET library](https://github.com/AzureAD/azure-activedirectory-library-for-dotnet) repository for better traction.

[2018-11-19 19:15] #7836 closed

[2018-11-19 19:19] cormacpayne commented on #7838
@Pynop would you mind setting `$DebugPreference = "Continue"` and re-running the above script? This will give us the full debug log from this script, which includes the requests and responses with information about the failure.

[2018-11-19 19:31] refortie commented on #2539
@cormacpayne The location you linked no longer exists. (The whole common code seems to have been removed). Is there a replacement that should be used?

[2018-11-19 19:38] allan-xiazhan commented on #7856
It works fine in az and it doesn't work for AzureRM. The latest azure .Net sdk for .net framework is still using the old Newtonsoft.Json.

[2018-11-19 20:18] markcowl commented on #6166
Closing in favor of MSAL update

[2018-11-19 20:18] #6166 closed

[2018-11-19 20:18] allan-xiazhan commented on #7856
This issue is being tracked in this issue: https://github.com/Azure/azure-sdk-for-net/issues/5030#issuecomment-439561540

[2018-11-19 20:18] #7856 closed

[2018-11-19 21:50] cormacpayne commented on #7850
@mitchej7 Hey Jon, we are in the process of [moving customers to using the new `Az` module](https://github.com/Azure/azure-powershell/blob/preview/documentation/announcing-az-module.md), which will be GA'd in the middle of December (2018-12-18). This module uses version 3.x.x of the ADAL.NET library, which I believe contains the fix for this issue (as you mentioned above). The release of `Az` that

[2018-11-19 21:55] cormacpayne commented on #7859
@MatthewJDavis Hey Matthew, we will be releasing version 0.6.0 of the `Az` module tomorrow (2018-11-20), which should enable certificate authentication. Would you mind installing the new version of the module when it's released and verifying that it fixes the issue you are seeing?

[2018-11-20 00:50] MatthewJDavis commented on #7859
@cormacpayne Hi Cormac, will do. I'll report back once I've updated and tested.
Cheers.

[2018-11-20 00:50] rumenavramov commented on #7851
Am I the only one experiencing this?

[2018-11-20 02:46] keyboardfann commented on #7836
Hi @cormacpayne,
    Sorry to ask the question in wrong place , I will ask it on ADAL.NET library repository. Thank you.

[2018-11-20 04:56] asmith984 commented on #7406
I am also seeing this issue.

[2018-11-20 11:44] lokeshgupta13 commented on #5862
Do we have any workaround for this issue or fix coming in?

[2018-11-20 11:58] ChrisOwczarek commented on #5862
Depending on your scenario, you could delete and re-create the connection (use Remove-AzureRmAutomationConnection and then New-AzureRmAutomationConnection).

[2018-11-20 12:41] nmikuni commented on #7732
@nibhat @koralski @savyasachisamal @maddieclayton Any updates are appreciated!

[2018-11-20 15:39] nmikuni commented on #7732
Update from my side. It looks like also Azure Disk Encryption Extension matter.

looks like it returns 'Encryption succeeded for data volumes' from here
https://github.com/Azure/azure-linux-extensions/blob/master/VMEncryption/main/handle.py#L1527

but should be 'encryption_config.get_secret_id()'
https://github.com/Azure/azure-linux-extensions/blob/master/VMEncryption/main/handle.py#L1860

[2018-11-20 17:47] clericc commented on #7430
Additional Comment:

we are currently transitioning to SP auth for managing customer subscriptions. We have a deployment scenario where we deploy an azure sql db and then want to connect to it to perform additional SQL actions like create aad users, enroll schemata and so on. For this, we currently use the SqlServerAadAdmin.

Well guess what Azure Sql does not support? Setting SPs as Sql Server Aa

[2018-11-20 19:07] hyonholee commented on #7713
This issue is fixed in the latest release.

https://github.com/Azure/azure-powershell/releases/tag/v6.13.0-November2018

[2018-11-20 19:18] MiYanni commented on #6161
This work was done in: https://github.com/Azure/azure-powershell/pull/7839

[2018-11-20 19:18] #6161 closed

[2018-11-20 21:30] rupanter opened #7873 "Unable to use Get-AzureRMDiagnosticSetting or Set-AzureRMDiagnosticSetting"
### Description

I am trying to run the cmdlets : Get-AzureRMDiagnosticSetting and Set-AzureRMDiagnosticSetting but both are failing with this :

WARNING: 9:15:49 PM - *** The namespace for all the model classes will change from Microsoft.Azure.Management.Monitor.Management.Models to Microsoft.Azure.Management.Monitor.Models in future rele
ases.
WARNING: 9:15:49 PM - *** The namespace for output c

[2018-11-20 22:02] petehauge opened #7875 "Using OData query for DevTest Lab artifacts stopped working with Azure Powershell 6"
### Description
When I query for a list of virtual machines in DevTest Labs, I get the list back.  When I also try to expand the properties (namely get the list of artifacts applied to the machines), I get an error, "Parameter set cannot be resolved using the specified named parameters.".  Examples below.

[code]

### Script/Steps for Reproduction

[code]

### Module Version

[code]

### Environme

[2018-11-20 22:48] MiYanni commented on #7323
This was fixed and merged.

[2018-11-20 22:48] #7323 closed

[2018-11-20 22:52] cormacpayne commented on #7873
@rupanter both of the messages that you pasted are warnings and should not fail the build. Would you mind setting `$DebugPreference = "Continue"` and running the commands that are failing for you?

[2018-11-20 22:56] TylerLeonhardt opened #7876 "`Connect-AzAccount -MSI` does not work in the Azure Web App Sandbox"
Hi there 👋

I work on the [PowerShell language worker](https://github.com/powershell/azure-functions-powershell-worker) in Azure Functions.

### Description

We are trying to get MSI working with Azure PowerShell so that users will be able to use MSI to authenticate their PowerShell functions. The Azure Functions run in the [Azure Web App Sandbox](https://github.com/projectkudu/kudu/wiki/Azure-Web

[2018-11-20 22:59] TylerLeonhardt commented on #7876
If you want to DM me on Teams or shoot me an email, we can coordinate a test environment.

[2018-11-20 23:02] sphibbs commented on #6695
This is not a scenario we will be enabling.

[2018-11-20 23:02] #6695 closed

[2018-11-20 23:13] cormacpayne commented on #7351
Closing as this should be handled by the AutoRest generator.

[2018-11-20 23:13] #7351 closed

[2018-11-20 23:19] cormacpayne commented on #7590
Closing in favor of https://github.com/Azure/azure-powershell/issues/5365

[2018-11-20 23:19] #7590 closed

[2018-11-21 01:03] panchagnula commented on #7682
Here is a workaround for the commandlet
$appName = "<AppService Name>";
$apiVersion = ((Get-AzureRmResourceProvider -ProviderNamespace "Microsoft.Web").ResourceTypes | Where-Object ResourceTypeName -eq sites).ApiVersions[0];
$appService = Get-AzureRmWebApp -Name $appName;
$appConfig = Get-AzureRmResource -ResourceType "Microsoft.Web/sites/config" -ResourceName $appService.Name -ResourceGroupName $

[2018-11-21 01:06] aconn21 commented on #7406
Same issue peering across AAD Tenants. If I wait a day after the network is created, then retry peering, it works. So sounds like something is delayed on Microsoft's end.

[2018-11-21 01:17] SteveL-MSFT commented on #7876
cc @markcowl This is a blocking issue for us

[2018-11-21 04:45] Luo-Liang commented on #1978
How come generalize is not reversible even if I am using Linux?
How does EC2 do that? You create an image, it turns off your instance, it even powers the original instance back on ...

[2018-11-21 08:16] niadak opened #7880 "Can I install AZ and Azure module side by side?"
I have following questions regarding new AZ Module.
1. I understand AZ Module will replace AzureRM module. Will AZ Module replace Azure module also? If no, Can I install AZ and Azure module side by side (using -AllowClobbar option)? In that case, can I use Enable-AzureRmAlias cmdlet with -Scope CurrentUser or LocalMachine?

2. Today MSI installation of AzureRM also install Azure module. Will that

[2018-11-21 11:36] Vasu1105 commented on #7714
@markcowl can anyone here guide me about running the test cases in debug mode. When I am currently trying to run them it does not halt at breakpoint and it shows message as `The breakpoint will not be currently hit. No symbols have been loaded for the document.`

Also I started getting error when I run test locally
[code]

[2018-11-21 19:12] MiYanni commented on #7880
@niadak
1. Azure (RDFE) cmdlets are no longer being actively developed. So, none of these cmdlets exist in Az, other than those that are dataplane modules (Azure.Storage, Azure.DataAnalytics, etc.) These dataplane cmdlets were merged into their management plane modules (Az.Storage, Az.DataAnalytics, etc.) That said, you cannot install Azure and Az side-by-side. Azure relies on AzureRM.Profile. Her

[2018-11-21 19:12] MiYanni commented on #7880
Let me know if you have any other questions.

[2018-11-21 19:16] #7880 closed

[2018-11-21 19:17] phillipgibson commented on #6343
@muntaserq So what exactly resolved the issue involving the params for Invoke-AzureRmVMRunCommand?

[2018-11-22 02:29] MatthewJDavis commented on #7859
@cormacpayne  Hello Cormac,

I've installed the latest version 0.6.1 today on Ubuntu and get a new error, possibly with the way dotnet core handles certificates on linux from what I've read.

[code]

I've tested on a Windows installation and that is working and authenticating to Azure with a service principal and certificate so have included that output too for reference.

Let me know if you need

[2018-11-22 06:04] niadak commented on #7880
Thanks @MiYanni for your quick response.
Given that none of these (Azure module) cmdlets exist in Az, I think, it will be great if we can install both Azure and Az module side by side.

I have few classic resources and fer ARM resources in my subscription. I use a script with classic commands (Azure Module) to manage classic resources and a script with ARM commands to manage ARM resources. I belie

[2018-11-22 08:11] dalibormesaric commented on #6461
This really became critical for us yesterday.

I already opened an issue #6122 but the behavior was that first it failed, and on the second try it succeeded. We were ok with that because we couldn't spend any more time dealing with support regarding this issue.

But yesterday it failed 5 or 6 times in a row. This stops us from deploying to production which is a critical issue.

[2018-11-22 08:44] LRSFC-DanJ commented on #7389
I can confirm that this issue still exists for me with version 6.13.1 of the AzureRM module.

[2018-11-22 10:54] 8 commented on #7851
I have the problem as well.
Get-AzVirtualNetwork : Could not load file or assembly 'System.Net.Http, Version=4.1.1.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a' or one of its dependencies. The system cannot find the file specified.

Which version of the .NET Framework needs to be installed?

Take care,
Martin

[2018-11-22 16:14] mitchej7 commented on #7850
Thanks, we'll try the new Az module.

[2018-11-22 16:42] rupanter commented on #7873
For Get-AzureRMDiagnosticsetting we only get warning, the cmdlet returns nothing. Is that expected behaviour?

For Set-AzureRMDiagnosticsetting, this is the error :
Set-AzureRmDiagnosticSetting -ResourceId "/subscriptions/f28f2c24-b393-4dda-b471-0ef3b69c0578/resourceGroups/Basictesting/providers/Microsoft.Network/applicationGateways/Rupanter" -Enabled $true

** As per documents this should work**

[2018-11-22 17:47] jaredmoo commented on #6461
Sorry for not getting a chance to look at this for such a long time.

[code]

In the longs you can see that the long-running operation succeeded (GET databaseAzureAsyncOperation => "Succeeded"), but then GETting the database itself immediately after that failed.

Are you able to see the database using Azure management interfaces (e.g. Portal or PowerShell), and are you able to connect to the the d

[2018-11-22 22:30] joakimhew commented on #7776
@davidgiesberg Thanks, I'm downgrading now as the november 20th release doesn't seem to fix the issue :( @maddieclayton

[2018-11-23 01:42] marknettle commented on #5704
I am experiencing this with the latest modules.
[code]

[code]
The markdown help and the error message specify (AzureVM, AzureSQLDatabase ,AzureFiles)
The ?! help specifies (AzureVM, WindowsServer, AzureFiles)
None of these work.

[2018-11-23 02:10] haylix-edward commented on #5970
This is still an issue, and further it also seems to happen when removing SSL bindings via Remove-AzureRmWebAppSSLBinding.

[2018-11-23 06:44] blueww commented on #7805
@rabrahamOpti
Have you get any progress after configure the RBAC role for your Azure account?
I will close he issue if don't get more responds from you.

[2018-11-23 06:47] blueww commented on #7791
@lesterw1
Have you get any progress on this issue with my suggestion?

[2018-11-23 07:01] krispenner commented on #6384
I am also having the same problem. Basically this document shows what needs to be done via REST calls to create a version set and add a new API to it. It seems PS now supports the first call (New-AzureRmApiManagementApiVersionSet) but not the second where you can specify the version and version set to use in the new API. I imagine New-AzureRmApiManagementApi is missing parameters such as -VersionS

[2018-11-23 16:07] lesterw1 commented on #7791
Thanks Wei.  The sleep after 800 cmdlets calls solution is what I was planning to do.  Its a shame the Azure runbook environment has such tight limits.

[2018-11-23 17:29] jaredmoo commented on #6049
@sbgillett which version of AzureRm.Sql are you using?

[2018-11-23 17:35] sbgillett commented on #6049
4.11.5

[2018-11-23 18:29] jaredmoo commented on #6049
According to https://github.com/Azure/azure-powershell/blob/preview/src/ResourceManager/Sql/Commands.Sql/ChangeLog.md this was fixed in 4.11.5, but if you look at the released package at https://www.powershellgallery.com/packages/AzureRM.Sql/4.11.5 this change was not included in the release:

![image](https://user-images.githubusercontent.com/3248887/48956947-96972780-ef0a-11e8-99a1-afd13d315776.

[2018-11-23 20:38] krispenner opened #7890 "Set-AzureRmApiManagementApiLogger ??"
### Description

I cannot find a way via PowerShell to set the logger of an API Management API instance to my already created Application Insights logger. I am currently assuming it is not possible or maybe I need to do this via REST as there appears to be no provided function for this. Please point me in the right direction. We can create logger instances via script but I can't find how to refere

[2018-11-24 11:16] minghan commented on #4107
This is a AAS RP bug where the RP returns incorrect provisioningState, resulted in an infinite loop/wait in the Set-AzureRmResource cmdlet.; A fix is being worked on and is tracked by internal PBI VSO 137129. ETA for fix is late December 2018.

[2018-11-24 11:30] minghan commented on #3920
This issue is tracked by Microsoft internal bug https://powerbi.visualstudio.com/Analysis%20Services/_workitems/edit/137132

[2018-11-24 17:46] Chanticrow commented on #2278
I'm a new Azure user trying to implement templates based on the exported files from the portal.  Would someone from Microsoft at least go update the exported templates so that they don't use "name" as a parameter?  I'm grateful that I found this two and a half year old thread that explained what I needed to fix.

[2018-11-25 21:58] abraina opened #7892 "Scripts erroring out with the new Az module"
My customer is running into errors while executing cmdlets in the new Az module. He has installed .Net 4.7.2 and we have verified PS version is 5.1.

Sample Cmdlet (from customer machine) :
-----------------------------------------------------
[code]

OS : Windows 10 (x64)

PS Version :

[code]
.Net Version :

[code]

I can get the Debug stream if required. He is quite keen on moving to the Az mod

[2018-11-26 01:08] krispenner commented on #6384
The Azure SDK does support these two properties however the AzureRM module does not wrap them.

VersionSetId
https://github.com/Azure/azure-sdk-for-net/blob/0afa2cfdf8657958067e29be791772a7c1676e02/src/SDKs/ApiManagement/Management.ApiManagement/Generated/Models/ApiCreateOrUpdateParameter.cs#L179

ApiVersion
https://github.com/Azure/azure-sdk-for-net/blob/0afa2cfdf8657958067e29be791772a7c1676e02/s

[2018-11-26 02:57] blueww commented on #7791
@lesterw1
Do you mind if I close this issue now? If you need any help from us for this issue, you can reactive it.

BTW, from https://docs.microsoft.com/en-us/azure/automation/troubleshoot/runbooks#common-errors-when-working-with-runbooks, I see following information. Not sure if it can help you.

[2018-11-26 09:56] leviustinov opened #7894 "Remove-AzureRmResource - confirm switch does not work"
### Description
Using PS inside Azure web UI.
Remove-AzureRmResourceGroup ignores the confirmation switch.
Yes, I understand that -Force works, but whatever happened to this initiative? https://github.com/Azure/azure-powershell/issues/475
I am just getting into PS in Azure and I am getting a hunch that his trend was not resolved.

### Script/Steps for Reproduction
[code]

### Module Version
Whatev

[2018-11-26 10:08] Pynop commented on #7838
Here's the output for an unsuccessful function app creation:

[code]

[2018-11-26 11:19] aghosh12 opened #7895 "Unable do Deploy from TFS 2015.4 to Web apps in West US"
Description of the issue:

Unable do Deploy from TFS 2015.4 to Web apps in West US.
We are having 60 Web Apps to deploy and these are failing intermittently while using 'Azure Web App' Deployment task.
error:

[code]

Action taken so far:

1. - We have raised it to the MS support Azure team(118102325000310 ) who confirms that they are not supporting the commands like Get-AzureWebSite and they reco

[2018-11-26 14:53] rabrahamOpti commented on #7805
Apologies, @blueww I've been away all week for Thanksgiving. I had switched to using an classic Azure Storage account and didn't run into this issue, but I would still like to recreate this. I'll try again this week.

Also, I had commented on your pull request, but didn't get a response. Can you explain the rationale for this change? https://github.com/Azure/azure-powershell/pull/7835/commits/93aa

[2018-11-26 15:00] JamesDLD commented on #7776
Just got the same with Az.Profile 0.5.0 and confirm that 0.4.0 solves this.

[2018-11-26 16:42] whiggs opened #7896 "connect-azurermaccount vs connect-azaccount: What have you done?!?!?"
### Description

I recently started using the az powershell module in lieu of the azurerm powershell module that I was accustomed to, since the az powershell module is meant to replace the azurerm powershell module.  However, run into a big problem right off the bat when using this module when trying to connect to azure.  When using the azurerm powershell module, I can simply pass the appropriate

[2018-11-26 16:42] ramankumarlive commented on #7677
sorry for sharing a wrong email address. Please use this email address: mdpmteam@microsoft.com

[2018-11-26 16:50] cormacpayne commented on #7890
@solankisamir Hey Samir, would you mind taking a look at this issue?

[2018-11-26 16:57] cormacpayne commented on #7892
@dragonfly91 Hey Samuel, would you mind taking a look at this issue?

[2018-11-26 17:09] markcowl commented on #7892
Here is a stack trace from Resolve-AzError

[code]

[2018-11-26 17:32] markcowl commented on #7433
Fixed (*!!!!!*)

[2018-11-26 17:32] #7433 closed

[2018-11-26 17:36] markcowl commented on #7876
@TylerLeonhardt Nothing has changed in this implementation, so I assume this was always not working in the sandbopx, even for AzureRM.  We are just making standard HttpClient SendRequest calls - do you have any insight into the sandbox capabilities around HttpClient?

[2018-11-26 17:42] cormacpayne commented on #7896
@whiggs Hey William, thanks for providing this information. Regarding your first request with the `-Credential` parameter, we currently have an [existing issue](https://github.com/Azure/azure-powershell/issues/7430) open that we are using to track discussions surrounding this missing scenario in the `Az` module, as well as any future plans or progress made. A quick summary on why the U/P scenario

[2018-11-26 17:45] markcowl commented on #7894
@levustinov.  -Confirm and -Force are used to by pass two different types of confirmation, and they are not interchangeable.

-Confirm bypasses ShouldProcess prompts - in the normal course of events, unless a cmdlet is set as high impact, or the user's ConfirmPreference is set to Low, no confirmation occurs.

-Force bypasses ShouldContinue prompts - these always result in confirmation.

The standa

[2018-11-26 17:45] #7894 closed

[2018-11-26 17:50] markcowl commented on #7849
@Pynop The generic PowerShell celets for creating resources are just using the public api for creating resources, so this behavior seems by design.  It would be nice if there were typed cmdlets for Cosmos DB.

[2018-11-26 17:50] #7849 closed

[2018-11-26 17:50] daxian-dbw commented on #7876
@markcowl Here is an overview about the [network restrictions](https://github.com/projectkudu/kudu/wiki/Azure-Web-App-sandbox#networking-restrictionsconsiderations) applied to the sandbox, I hope it's useful for you to get some insight in what might be the cause.

At the meantime, we found the module `Az.Compute` cannot be loaded from within the sandbox due to an assembly loading issue with the `M

[2018-11-26 17:53] markcowl commented on #7761
@MouthOfMadness Can you please provide some additional information on the failure?

This could be occurring because you are using user authentication and a prompt was required, it could also be occurring because of a SHouldContinue prompt in the cmdlet you are running.  If you can collect debug logs (set ```$DebugPreference="Continue"``` and then run the cmdlets).  We can tell what the issue is.

[2018-11-26 17:54] markcowl commented on #7354
Closiung as no repro.  If you still see this issue on the latest cmdlets, please open a new issue.

[2018-11-26 17:54] #7354 closed

[2018-11-26 18:31] solankisamir commented on #7890
Yes, that is a backlog item on our list. @promoisha FYI

[2018-11-26 18:43] adrinr opened #7897 ""Use for App service" in Application Gateway"
I'm trying to create my deployment scripts for application gateway and I'm missing a param in AzureRmApplicationGatewayBackendHttpSettings. While the option "Use for App service" is available from the portal, I cannot manage to get the same configuration only using Powershell. Did anybody face the same problem?

[2018-11-26 19:21] markcowl opened #7898 "Blog: About Standard Completers in Azure PowerShell"
### Description

Blog describing usage of standard completers in Az, including ResourceGroup, Resource, Location

### Completion Date (all approvals received): 12/28

### Planned Release Date:  1/4

### Cost: 2

[2018-11-26 19:22] markcowl opened #7899 "Blog: AsJob and Jobs in Azure PowerShell"
### Description

Blog describing usage of Job commands and AsJob in azure cmdlets

### Completion Date (all approvals received): 11/29

### Planned Release Date:  12/6

### Cost: 2

[2018-11-26 19:24] markcowl opened #7900 "Blog: Breaking Change Policy / Preview Modules"
### Description

- Blog describing current breaking change policy, breakign change warnings and management
- Blog describing the installation of preview modules, and the flow from preview to stable

### Completion Date (all approvals received): 1/4

### Planned Release Date:  1/11

### Cost: 2

[2018-11-26 19:37] markcowl opened #7902 "Blog: Introducing Az 1.0"
### Description

Blog describing new features and roadmap for Az 1.0, including:
- Roadmap for new authentication features
- Roadmap for Azure Automation Support
- Planned updates for AzureRM
- Migration Guide
### Completion Date (all approvals received): 12/13

### Planned Release Date:  12/20

### Cost: 2

[2018-11-26 19:41] markcowl opened #7903 "Blog: Authentication Flows in Az"
### Description

Blog describing how authen tication flows have changed in Az, including
- Device code auth
- Using SPN creds cross-platform

### Completion Date (all approvals received): 12/13

### Planned Release Date:  12/20

### Cost: 2

[2018-11-26 19:43] markcowl opened #7904 "Blog: Cross-Platform Azure PowerShell"
### Description

Blog describing differences in execution for azure powershell on mac and linux

### Completion Date (all approvals received): 1/11

### Planned Release Date:  1/18

### Cost: 2

[2018-11-26 19:46] markcowl opened #7905 "Blog: Using Az with Azure Automation"
### Description
- Find Runbook for automation and add in support for Az module
- Blog describing how to use Az with Azure Automation
  - Best practices for unattended scripts
  - Updates to module loading in scripts
  - How to handle side-by-side situations
  - Updating to Az

### Cost: 4

[2018-11-26 19:52] MouthOfMadness commented on #7761
I believe the root of the problem is the convergent application that resides in the Application Registration Preview (AAD) as this code works fine when I run it against other service principals.  There's an issue with Application Registration Preview, that we can't see it from the Azure Portal after we've registered an API with apps.dev.microsoft.com/
I've raised this issue with Microsoft, but the

[2018-11-26 20:06] markcowl commented on #6934
Complete

[2018-11-26 20:06] #6934 closed

[2018-11-26 20:45] MiYanni commented on #7880
@niadak Are you able to run the scripts separately? You can have both modules installed (which we still don't recommend), but primarily, they can't be loaded in the same PowerShell session. So, if you can just run Az in one session and Azure in another, it should work fine. Let me know if that won't work for you.

[2018-11-26 21:48] markcowl opened #7907 "Fix nightly and cloudshell build for Az"
### Description
 - [ ] fix the nightly build so it is successfully creating builds from the default branch
- [ ] fix the dependent cloudshell nightly build so it is runnjign against CloudShell

### Cost: 4

[2018-11-26 22:44] kemosabe102 commented on #7269
I've been seeing this issue too using AzureRm module version 6.13.1.

[2018-11-27 01:20] minghan commented on #3920
Closing this bug due to lack of information. Please re-open this bug if the issue is not due to Issue #4107.

[2018-11-27 01:20] #3920 closed

[2018-11-27 01:43] bebattis commented on #6800
Has this issue seen any updates? I just ran into this issue today.

[2018-11-27 05:35] maddieclayton commented on #7761
Closing as it seems this issue is unrelated to the Azure PowerShell module so cannot be fixed in this repo.

[2018-11-27 05:35] #7761 closed

[2018-11-27 08:02] minghan commented on #4107
Fixed has been checked in to Azure Analysis Services service code and will be deployed by 12/21/2018. Feel free to re-open the bug if the issue persists after 12/21/2018. Thanks.

[2018-11-27 08:02] #4107 closed

[2018-11-27 08:12] blueww commented on #7805
@rabrahamOpti
1. I don't see you comments in https://github.com/Azure/azure-powershell/commit/93aad4ec4c973167cb7f057c879e2372d044c151, do you save it? For you questions, this commit change the default parameter set of New-AzureStorageContext to use Oauth, so user can create Oauth storage context by just input the storage account name (without -UseConnectedAccount). This is requested by Oauth feat

[2018-11-27 10:25] Agazoth opened #7920 "Set-AzureRmVirtualNetwork unclear error when trying to rename VNet"
### Description

Unclear error returned when trying to rename a VNet with the Set-AzureRMVirtualNetwork. I am aware that renaming VNets is not supported (the name is part of the URI) but it seems the formatting of the error string is not resolved correctly.

### Script/Steps for Reproduction

[code]

### Module Version

[code]

### Environment Data

[code]

### Debug Output

[code]

[2018-11-27 13:42] MHHenriksen opened #7921 "New-AzBatchPool fails if $context is from Get-AzBatchAccountKeys due to missing assembly Microsoft.AspNetCore.WebUtilities"
### Description

New-AzBatchPool fails if $context is from Get-AzBatchAccountKeys due to missing assembly Microsoft.AspNetCore.WebUtilities.

Workarounds:
- Use Get-AzBatchAccount instead
- Download the Microsoft.AspNetCore.WebUtilities package from Nuget and add the assembly to the Az.Batch module directory

Exception Details:
[code]

### Script/Steps for Reproduction

Any of the examples at http

[2018-11-27 15:32] rabrahamOpti commented on #7805
@blueww I made the comment as a review to the PR:

![image](https://user-images.githubusercontent.com/28309959/49092270-a3c85500-f22f-11e8-9cb1-271b3a0d1658.png)

There's currently an outage for Azure Multi-Factor Authentication that's keeping me from logging into Azure. I'll report back on the roles you told me to look into once that's back up.

[2018-11-27 16:51] cormacpayne commented on #7920
@Agazoth Hey Axel, it looks like you're using the `AzureRM.Netcore` modules. We have deprecated these modules in favor of the `Az` modules, which will GA next month. Would you mind uninstalling all `AzureRM.Netcore` modules on your box, installing `Az` instead, and checking if the incorrect resource string still pops up?

[2018-11-27 17:02] cormacpayne commented on #7921
@matthchr Hey Matt, would you mind taking a look at this issue?

[2018-11-27 17:03] maddieclayton commented on #7776
If anyone is still running into this after installing Az 0.6.1 (please confirm this is the module being used by running Get-Module -ListAvailable), please open a new issue with the requested information in the issue template.  This specific issue was fixed and verified (at least on one version of Mac that was previously failing), so we will need new debug logs to replicate this error.

[2018-11-27 18:20] ActualReverend commented on #6202
I may have had a different cause, but with the same error you had, I was able to fix it by installing https://github.com/Azure/azure-powershell/releases/tag/v1.0.2-December2015  on my build servers.  I had AzureRM 6.13 and was still getting the error.  (I found that link at the page:  https://github.com/Microsoft/azure-pipelines-tasks/tree/master/Tasks/AzureFileCopyV2 )

[2018-11-27 19:44] chandrasekarsrinivasan commented on #7406
Assigning to Amol. @Am018

[2018-11-27 19:48] chandrasekarsrinivasan commented on #2815
Assigning to Amol. @Am018

[2018-11-27 19:50] dedhar commented on #3615
This issue does not seem to repro with latest powershell version. Are you still seeing the issue @maddieclayton

PS C:\temp> New-AzureRmVirtualNetworkGateway -Name $GWName -ResourceGroupName $RG -Location $Location -IpConfigurations $ipconf -GatewayType Expressroute -GatewaySku UltraPerformance
WARNING: The output object type of this cmdlet will be modified in a future release.

Name

[2018-11-27 19:50] dedhar commented on #3615
Please reopen if the issue persists.

[2018-11-27 19:50] #3615 closed

[2018-11-27 20:18] chandrasekarsrinivasan commented on #4889
I believe @rupalivohra  had an incident on this and was looking into this.

[2018-11-27 20:18] chandrasekarsrinivasan commented on #4889
Also adding other NIC owners as well (@wdehrich  @avijitgupta)

[2018-11-27 20:19] feynman11 commented on #6202
@ActualReverend thanks for the suggestion. Installing that version also resolved the issue for us.

[2018-11-27 22:40] cormacpayne commented on #7897
@akshaysngupta Hey Akshay, would you mind taking a look at this issue?

[2018-11-27 22:40] #7896 closed

[2018-11-27 22:45] cormacpayne commented on #7895
@aghosh12 would you mind providing the full script that you are running when you are switching over to ARM? After this, would you mind providing the corresponding exceptions that you are seeing?

[2018-11-27 22:54] cormacpayne commented on #4621
Closing as won't-fix

[2018-11-27 22:54] #4621 closed

[2018-11-27 22:55] #4624 closed

[2018-11-27 22:57] cormacpayne commented on #4623
Closing in favor of templates

[2018-11-27 22:57] #4623 closed

[2018-11-27 22:57] cormacpayne commented on #4622
Closing in favor of templates

[2018-11-27 22:57] #4622 closed

[2018-11-27 23:37] k4lli commented on #7776
Hey @maddieclayton   - Im the original submitter of this problem, I can also verify the issue is resolved.  Thanks a million!

[2018-11-28 03:27] jsheetzati opened #7930 "Get-AzureRmResource followed by Set-AzureRmResource changing JSON data type"
### Description

We are using Get-AzureRmResource and Set-AzureRmResource to automate some logic app deployments. When running the script, Set-AzureRmResource is turning numeric and boolean data types into strings. This looks very similar to this issue: https://github.com/Azure/azure-powershell/issues/5940

For example, in our logic app definition json file, we have the following chunk of json:

[

[2018-11-28 04:04] blueww commented on #7805
@rabrahamOpti
I really don't see your comments in the PR https://github.com/Azure/azure-powershell/pull/7835 (which I add the code change). Not sure if you raise your comments in this PR?

Anyway, to answer  your question: When the authentication is not account name+key, the storage credential not contain the storage account name information, so currently PSH not add the Storage Account name in th

[2018-11-28 11:22] JamesDLD commented on #7776
Hello @maddieclayton I confirm that Az.Profile 0.6.1 is working perfectly for me.
Thanks.

[2018-11-28 12:08] rs38 commented on #5959
finally I got it working by importing the latest Version 0.6.1 from the Az.Automation module. the same is true for the "old" commandlet with prefix AzureRM and Version 6.13.1: https://www.powershellgallery.com/packages/AzureRM/6.13.1
The missing property thing was already fixed in September https://github.com/Azure/azure-powershell/commit/e098199011c3ad09ef94a0b70f6de76f61bddd12#diff-f3a5751aabbc4

[2018-11-28 12:48] boro2g commented on #7178
I found it needed `-ProfileStatus Enabled ` including to avoid the exception

[2018-11-28 13:46] rabrahamOpti commented on #7805
@blueww There's a bit of confusion; the authentication failure I mentioned yesterday was due to an Azure wide outage yesterday. See the entry for 11/27: https://azure.microsoft.com/en-us/status/history/

When I get the chance today or tomorrow, I'm going to look at the storage account in the web portal and try to find where I'd define those roles you're pointing me to.

[2018-11-28 13:52] rabrahamOpti commented on #7805
@blueww Thank you for your patience, by the way, and sorry for all this back and forth. These new fine-grained roles are new to us, as we're just starting to migrate from classic to ARM infrastructure. There's a bit of a learning curve, and there seems to be some difference between how Azure Portal is treating our credentials, and how these Powershell cmdlets are, which adds to the confusion. I'll

[2018-11-28 16:06] RPCMarkR opened #7933 "New-AzStorageContainerSASToken using Access Policy returns Expiry date when none is set in the Policy"
### Description
I create a new Storage Account with Kind: StorageV2. I then create a Blob Container.
Next I create two Blob Container Access Policies, either manually via the Portal and/or with the code:

New-AzStorageContainerStoredAccessPolicy -Container $ContainerName -Policy $PolicyName -Context $StorageContext -Permission wcd

New-AzStorageContainerStoredAccessPolicy -Container $ContainerName

[2018-11-28 16:47] maddieclayton commented on #5959
Closing as fixed.

[2018-11-28 16:47] #5959 closed

[2018-11-29 00:16] k4lli commented on #7776
I'm the one who created this problem and can also confirm it is resolved.
Thanks a million! Works with ADFS.

K4lli

On Tue 27 Nov 2018, 17:05 Maddie Clayton <notifications@github.com wrote:

[2018-11-29 00:52] markcowl commented on #7348
Done

[2018-11-29 00:52] #7348 closed

[2018-11-29 01:57] markcowl opened #7943 "Update messages in Az and AzureRM when the other is detected"
### Description

Need to change the messages printed by our side-by-side installation checks to include information about Azure Automation.

New message text in Az:

New message text in AzureRM:

[code]

### Cost: 2

[2018-11-29 02:42] markcowl opened #7945 "Update Az Definition for 1.0"
### Description
- [ ] Update metadata and release notes
- [ ] Update modules dependencies to RequiredVersion, except for Az.Profile

### Cost: 1

[2018-11-29 02:43] blueww commented on #7805
@rabrahamOpti
Let me know if you need any more help from us.
I will close the issue if you have no more questions for Powershell usage here.

[2018-11-29 05:45] blueww commented on #7933
@RPCMarkR

The SAS token must has expire time, or the authentication  will fail with 403.
So Powershell by default will use `DateTime.UtcNow.AddHours(1)` as expire time.

I have just tested create a container sas without expire time, and use it to list blob in the container, failed with 403. (Add expire time to the sas, list will success)

For more information, you can see https://docs.microsoft.c

[2018-11-29 05:52] markcowl commented on #7456
Candidate fix for this issue is here: #7949

[2018-11-29 09:37] ronbok opened #7954 "0.6.1 Get-AzSubscription"
### Description

VS Code w/Get-AzSubscription.

### Script/Steps for Reproduction

Start VS Code with PowerShell Core 6.1.0 in terminal.  Using the VS Code 1.29.1 w/Azure Account 0.6.2 extension one could simply type Get-AzureRmSubscription and you were signed in using Windows PowerShell 5.1 w/AzureRm (any version).

NOT with Az.  Instead you get WARNING: Unable to acquire token for tenant '6c6485

[2018-11-29 09:56] ronbok opened #7955 "Uninstall-Module -Name "Az""
### Description

Does not uninstall the modules from PowerShell Core 6.1.0.  It leaves them all behind under C:\Program Files\PowerShell\Modules\*

### Script/Steps for Reproduction

[code]

### Module Version

[code]

### Environment Data

[code]

### Debug Output

[code]