[2017-05-15 18:08] markcowl commented on #3939
Fixed and releases in 4.0.1 on 5/12

[2017-05-15 18:08] #3939 closed

[2017-05-15 18:11] markcowl commented on #3411
No traction on this, removing

[2017-05-15 18:11] #3411 closed

[2017-05-15 18:13] markcowl opened #3969 "Signing update for stack-dev branch"
### Cost: 4

[2017-05-15 18:15] markcowl commented on #2920
Fixed.

[2017-05-15 18:15] #2920 closed

[2017-05-15 18:16] markcowl commented on #3426
Closing as no follow up, please reopen if this issue recurs.

[2017-05-15 18:16] #3426 closed

[2017-05-15 18:18] markcowl commented on #2499
I believe this was fixed for DataLak, please reopen if not.

[2017-05-15 18:18] #2499 closed

[2017-05-15 18:20] markcowl commented on #2437
This has been open for quite soem time, with no concrete complaints.  If there is a real scenario where the current mechanisms for adding user agents cannot be used, please reopen

[2017-05-15 18:20] #2437 closed

[2017-05-15 18:21] begoldsm commented on #2499
@markcowl this is correct. Now there is just a performance issue with thread contention when the tracing interceptor is active, even if nothing is being output. I will open a separate issue for that.

[2017-05-15 18:22] markcowl commented on #3024
Handled as part of larger coreclr conversion effort  This moduel has been moved.

[2017-05-15 18:22] #3024 closed

[2017-05-15 18:23] markcowl commented on #3309
Closing as duplicate

[2017-05-15 18:23] #3309 closed

[2017-05-15 18:24] begoldsm opened #3970 "Performance: ServiceClientTracing impacts import/export-adlstoreitem, even when not used."
### Cmdlet(s)
Import-AzureRMDataLakeStoreItem
Export-AzureRMDataLakeStoreItem
### PowerShell Version
Instructions: to get PowerShell version, type `$PSVersionTable` and look for the value associated with `PSVersion`
N/A
### Module Version
N/A (issue is currently worked around)
### OS Version
Instructions: to get OS version, type `$PSversionTable` and look for value associated with `BuildVersion`
N

[2017-05-15 18:24] begoldsm commented on #2499
@markcowl https://github.com/Azure/azure-powershell/issues/3970 opened.

[2017-05-15 18:27] #2235 closed

[2017-05-15 18:30] markcowl commented on #1742
Closing as duplicate of  #3648 and #3649 (which have two concrete solutiosn for this)

[2017-05-15 18:30] #1742 closed

[2017-05-15 18:31] AWahlqvist commented on #3426
Yes, this issue still occurs as far as I know.

I'm sorry if I failed to respond in any way. What do you need more from me?

[2017-05-15 18:33] markcowl commented on #2813
@tstringer @kilasuit You can follow the progress on this in this PR:  #3908 This is planned for release late this month.

Closing as this is tracked in a more specific issue here: #3746

[2017-05-15 18:33] #2813 closed

[2017-05-15 18:37] markcowl opened #3971 "Clean up module package files in post-build script"
### Description

Remove unnecessary DLLs, folder, and miscellanaous files from the package directories for modules as part of package creation.  This includes extraneous psd1 files, localization files for downloaded modules, and the like

### Cost :2

[2017-05-15 18:40] markcowl opened #3972 "Update module definitions for common runtime"
### Description

- [ ] Look at class composition for Common modules - split classes between abstractions related modules and cmdket related modules, and ensure that abstractions-related modules have no depeendencies on cmdlet-related common modules
- [ ] Add common runtime assembly loading to psm1 definition for profile module
- [ ] Remove dependent modules in the common runtime for each module pa

[2017-05-15 18:43] markcowl opened #3973 "Find root cause of PS4 alias disappearance and update alias definitions in modules"
### Description

Aliases disappear in some PS4 configuration for ```Login-AzureRmAccount``` and other aliases in VMS in Azure  Add mechanism to pick up cmdlets aliases in the build, add to module manifest, and psm1 module definition.

### Cost: 6

[2017-05-15 18:52] markcowl commented on #2657
This should be addressed by #3648 #3649 closing in favopr of the more detailed issues

[2017-05-15 18:52] #2657 closed

[2017-05-15 18:53] markcowl commented on #1344
Noa ction on this for quite a while without complaints.  Closing.  If this issue is hit again, please reopen

[2017-05-15 18:53] #1344 closed

[2017-05-15 18:53] markcowl commented on #2335
Hasn't been causing issues.  Removing

[2017-05-15 18:53] #2335 closed

[2017-05-15 18:55] markcowl commented on #2140
No reports for over a year.  Closing.

[2017-05-15 18:55] #2140 closed

[2017-05-15 18:56] markcowl commented on #2130
This will be fixed by the newer installer referenced here #2220  .  Closing in favor of the issue tracking the solution.

[2017-05-15 18:56] #2130 closed

[2017-05-15 18:57] markcowl commented on #1889
This is scheduled in the current sprint as #2728   Closing in favor of the more detailed issue tracking the fix.

[2017-05-15 18:57] #1889 closed

[2017-05-15 18:58] markcowl commented on #1257
The fix for this is scheduled in #2728 Closing in favor of the more detailed issue scheduled for this sprint.

[2017-05-15 18:58] #1257 closed

[2017-05-15 18:59] markcowl commented on #1121
No reports for over a year.  Closing

[2017-05-15 18:59] #1121 closed

[2017-05-15 19:05] markcowl opened #3974 "Allow specifying domain or tenant id when logging in"
### Description

Tokens stored in the cache under domain name are not retrievable using the tenant ID.  Update authentication code (both stack-dev and preview) to allow logging in using domain or tenant ID.

- [ ] Add extra authentication hop if domain is provided instaead of guid tenant Id to retrieve the token for the tenantID.
- [ ] Add live tests to verify login using both tenantId and domain

[2017-05-15 20:25] begoldsm commented on #3649
@markcowl awesome, thank you for adding this to the costing roadmap!

[2017-05-15 20:26] sdwheeler commented on #3564
This was fixed in the 3.8.0 release.

[2017-05-15 20:26] #3564 closed

[2017-05-15 20:34] asktomsk commented on #3578
Quick update for folks who googled this issue.

You face the problem
[code]
it means you use the latest (May 15 2017) version of Azure powershell module: 4.0.1
This version has some incompatibility with latest Azure.Storage 3.0.1.

You need to remove it and install Azure 3.8.0 and Azure.Storage 3.8.0  (April 5th 2017)
https://www.powershellgallery.com/packages/Azure/3.8.0

[code]

This combination

[2017-05-15 20:50] asktomsk opened #3976 "A context retrieved using New-AzureStorageContext command is incompatible with Start-AzureVirtualNetworkGatewayDiagnostics and Start-AzureVNetGatewayDiagnostics"
### Cmdlet(s)
New-AzureStorageContext
Start-AzureVirtualNetworkGatewayDiagnostics
Start-AzureVNetGatewayDiagnostics

### PowerShell Version
5.1.14393.576
### Module Version
Azure 4.0.1 (Azure.Storage 3.0.1)

### OS Version
Windows 10, Windows Server 2016

### Description
I faced the problem when AzureStorageContext retrieved using `New-AzureStorageContext` command is incompatible with `Start-Azure

[2017-05-15 22:52] twitchax commented on #3426
@AWahlqvist, can we get together for a meeting?

[2017-05-15 23:31] markcowl opened #3977 "Regenerate wxi file during build"
### Description

Need to ensure that the ci build takes ~ 30 minutes.  To do this, we should look at the following:

- Generate the wxi file during the build - this will allow generating an msi without requiring building the help.  We can then allow compilign the msi during the ci job.  Doign this will require a new build task for creating the wxi using ```/tools/Installer/generate.ps1```, and add

[2017-05-16 02:15] farzadmf opened #3978 "New-AzureRmResourceGroup : Run Login-AzureRmAccount to login."
### Cmdlet(s)

### PowerShell Version
5.1.15063.296

### Module Version

### OS Version
10.0.15063.296

### Description
I'm out of ideas. I search the Internet, but no success! I run `Login-AzureRmAccount` and I enter my credentials, but when I run `Login-AzureRmResourceGroup`, it tells me that I need to log in. I'm doing it in ISE, and I have no idea why it isn't working

### Debug Output
[code]

[2017-05-16 03:34] farzadmf commented on #3978
Apparently, I had to manually update the `AzureRm.Resources` module to the latest version. Is there a way to make sure all Azure modules are up-to-date?

Thanks

[2017-05-16 03:34] #3978 closed

[2017-05-16 07:45] DdenBraver opened #3979 "Error when using the -Storagecontext parameter when running Set-AzureRmVMDiagnosticsExtension"
### Cmdlet(s)
Set-AzureRmVMDiagnosticsExtension

### PowerShell Version
PSVersion: 5.1.14409.1005

### Module Version
AzureRM.Storage: 3.0.1
Azure: 4.0.1

### OS Version
10.0.14409.1005

### Description
Code:
[code]

Returns:
[code]

This issue started after updating from Azure PowerShell 3 to 4

### Script/Steps for Reproduction
See description

[2017-05-16 07:48] DdenBraver commented on #3976
This issue is linked to #3979 .
Seems this is due to the type change from: Microsoft.WindowsAzure.Commands.**Common**.Storage.AzureStorageContext to Microsoft.WindowsAzure.Commands.Storage.AzureStorageContext

[2017-05-16 08:09] AWahlqvist commented on #3426
Sure! What time zone are you in? I'm at GMT+2/CEST. I have my e-mail on my github profile if you want to arrange the meeting that way.  Thanks for taking the time!

[2017-05-16 13:25] dimitertodorov commented on #3958
Same issue here. I installed donet as well.
Maybe I need dotnet version 1.0 instead of 1.1??

PS Version
[code]

[code]

DotNet:
[code]

[2017-05-16 14:13] letmaik opened #3980 "Get-​Azure​Storage​Blob docs say "Accept wildcard characters: false""
### Cmdlet(s)
Get-​Azure​Storage​Blob

### Module Version
4.0

### Description
The docs at https://docs.microsoft.com/en-us/powershell/module/azure.storage/get-azurestorageblob?view=azurermps-4.0.0 say that no wildcard character is allowed for the `-Blob` parameter, however isn't that exactly what *is* allowed? It says "Specifies a name or name pattern, which can be used for a wildcard search."

[2017-05-16 18:15] hungmai-msft commented on #3829
In the cmdlet, we have the parameter StorageContainerName which is a string and would avoid the type mismatch exception. For example, in your repro script, please use this at the end:

$ContainerName = 'automateddbbackups'
$exportRequest = Start-AzureSqlDatabaseExport -SqlConnectionContext $SqlContext -StorageContainerName $ContainerName -DatabaseName 'Users' -BlobName 'autobackupotest.bacpac' -Ve

[2017-05-16 20:12] UlrichMayr commented on #3958
Hi, I've got the same issue with the .NET Core Version 2.0 (daily build).

**PS Version**
`
Name                           Value
----                           -----
PSVersion                      6.0.0-beta
PSEdition                      Core
BuildVersion                   3.0.0.0
CLRVersion
GitCommitId                    v6.0.0-beta.1
OS                             Darwin 16.5.0 Darwin Kernel Ve

[2017-05-16 21:11] cormacpayne commented on #3980
@blueww Hey Wei, would you mind taking a look at this issue?

[2017-05-16 21:17] cormacpayne commented on #3946
@TianoMS Hey Tian, would you mind taking a look at this issue?

[2017-05-16 21:19] cormacpayne commented on #3945
@singhkays Hey Kay, would you mind taking a look at this issue?

[2017-05-16 21:22] cormacpayne commented on #3931
@consultguru Hey Gururaj, if you remove all `AzureRM` modules from your machine and run `Install-Module -Name AzureRM` , are you seeing the same error?

[2017-05-16 21:23] cormacpayne commented on #3923
@TechnologyAnimal I'm going to close this issue since it seems to have been resolved 😄 please feel free to re-open this issue, or open a new issue, if you have any other questions!

[2017-05-16 21:23] #3923 closed

[2017-05-16 23:10] consultguru commented on #3931
@cormacpayne Hi Cormac, Tried all of that. Removed and re-installed 'AzureRM' modules, Re-installed powershell, but to no avail. Same error.
However, now i could reproduce the issue on another machine as well. We had Visual Studio 2107 RC version and Visual Studio 2015 Enterprise edition. On this machine we had all AzureRM modules.
When we remove all of that and install Visual studio 2017, we are

[2017-05-16 23:22] cormacpayne commented on #3931
@consultguru for the new machine you setup, what were the steps you took to reproduce this error? This will help us determine what the root cause of the issue was.

[2017-05-16 23:27] consultguru commented on #3931
- Install VS 2015 enterprise edition
- Install VS 2017 RC build
- Installed Powershell 5.1
- Install AzureRM (previous version, think it was 3.7?)
- Removed VS 2017 RC build
- Installed VS 2017 enterprise
- Removed AzureRM
- Installed AzureRM 3.8.0

AzureRM.SQL fails..

[2017-05-17 03:24] ciisuke opened #3985 ""Environmentname" parameter is missing in "Add-AzureRmAccount" from v4.0"
This cause template deployment from Visual Studio 2017 not functional.  It looks like VS2017 use "Environmentname" parameter for choosing deployment target.

[2017-05-17 08:21] blueww commented on #2381
This has been fixed on PowerShell 4.0.1.
Will close this issue as it's fixed.
Feel free to open a new issue if find any other problem.

[2017-05-17 08:21] #2381 closed

[2017-05-17 08:35] gutzeit1106 opened #3987 "The parameter name for "SubscriptionID" wad changed from v4.0.0"
The property of subscription info was changed from v4.0.0.

Before the following commit, the object acquired by Get-AzureRmSubscription cmdlet has the property "SubscriptionId". But from v4.0.0, this property name is changed to "Id".

https://github.com/Azure/azure-powershell/commit/ee5e317d986a2b597d7754979f51402fcf825caf

If this change is unexpected, the property name should be returned to "Sub

[2017-05-17 09:12] gutzeit1106 commented on #3987
sorry. this changed was written in the breaking changes.

https://github.com/Azure/azure-powershell/blob/preview/documentation/release-notes/migration-guide.4.0.0.md#breaking-changes-to-profile-cmdlets

close this issue.

[2017-05-17 09:23] CMajeri opened #3988 "Set-AzureRmApplicationGateway : Length cannot be less than zero."
### Cmdlet(s)
Set-AzureRmApplicationGateway, Add-AzureRmApplicationGatewayUrlPathMapConfig
### PowerShell Version
5.1.14393.1198

### Module Version
Tried with 4.0.0 and 3.7.0
### OS Version
10.0.14393.1198
### Description
Cannot add a UrlPathMap to an existing  ApplicationGateway.

### Debug Output

**Debug output was shortened because it was way too long. No-one wants to read a whole JSON descri

[2017-05-17 09:26] blueww commented on #3980
@letmaik
Thanks for report that!
The -Blob parameter supports wildcard. Will try to update the doc and cmdlets help soon.

[2017-05-17 10:29] blueww commented on #3821
@letmaik

I have tried to repro this issue with 500*20MB + 5000*100KB files upload.
I can't repro this issue with 5+ times running.

Could you give more details, like a dump in hang?
Besides that, I will continue try to repro that.
Thanks!

[2017-05-17 17:06] markcowl commented on #3987
@gutzeit1106 No worries, thanks for paying such close attention to the outputs.

[2017-05-17 17:06] #3987 closed

[2017-05-17 17:09] markcowl commented on #3988
@DeepakRajendranMsft Can you take a look?

[2017-05-17 17:11] markcowl commented on #3985
@ciisuke Yes, this change is documented here: https://github.com/Azure/azure-powershell/blob/preview/documentation/release-notes/migration-guide.4.0.0.md#add-azurermaccount-breaking-changes

Keeping this alive, as we will likely add a parameter alias in the next release.

[2017-05-17 17:12] markcowl commented on #3979
This is likely about the parameter not being changed to IStorageContext.  Investigate, and verify that making this change resolves the issue.

[2017-05-17 17:14] markcowl commented on #3976
All such parameters should have been changed to the common interface type IStorageContext, so that they are independent of the storage account version.

[2017-05-17 19:56] ckasabula commented on #3958
Exact same for me. Same versions and errors as  [dimitertodorov](https://github.com/Azure/azure-powershell/issues/3958#issuecomment-301781334). This was working fine for me until I upgraded from PowerShellCore 6.0.0-alpha to 6.0.0-beta, which wiped out my installed modules. After reinstalling `Install-Module AzureRM.NetCore.Preview`, the `Import-Module AzureRM.NetCore.Preview` fails with
[code]

[2017-05-17 22:59] cormacpayne commented on #3980
@letmaik @blueww the fix has been merged and will appear in the documentation of the June release of Azure PowerShell. I have also commented on an existing issue in the `platyPS` repository regarding this error we are seeing when trying to document the `SupportsWildcards` attribute (link is in Wei's PR)

[2017-05-17 22:59] #3980 closed

[2017-05-17 23:04] TarasRoshko commented on #3720
It's not specific to runbook, same failure:

`Get-AzureRmResource -ResourceGroupName <rg> -ResourceType Microsoft.Web/sites/metricdefinitions -ResourceName <web app> -ApiVersion 2016-03-01`

What's the ETA for the fix?

[2017-05-18 00:46] twitchax commented on #3426
Hi @AWahlqvist, on second thought, let me sync with the Automation team first.

[2017-05-18 01:42] Lickkylee opened #3993 "Set-AzureRmVMDiagnosticsExtension install windows diagnostic extension on Linux VM"
### Cmdlet(s)

### PowerShell Version
PSVersion                      5.1.15063.296

### Module Version

### OS Version
BuildVersion                   10.0.15063.296

### Description
Set-AzureRmVMDiagnosticsExtension always attempts to install the Windows diagnostic extension in the VM, even if the VM is Linux-based. There is no parameter to the cmdlet that will override the PublisherName or Type o

[2017-05-18 07:29] AWahlqvist commented on #3426
Sounds good, thanks! Please note that this issue is not unique for Azure Automation though, the same thing happens locally as well. But the problem is bigger when you run the cmdlets in workflows/parallel-iterations since the module(s) are loaded multiple times.

[2017-05-18 10:34] efendimansur opened #3994 "Failed Install-Module AzureRm"
### Cmdlet(s)
Install-Module AzureRm

### PowerShell Version
PSVersion 6.0.0-beta

### Module Version

### OS Version
3.0.0.0
### Description
Install-Module AzureRm failed in CentOS 7 64bit.

### Debug Output
DEBUG: 00:00:00.0000009 Calling New() : MethodName = 'GetDynamicOptions'
DEBUG: 00:00:00.0000938 Name: AzureRm
DEBUG: 00:00:00.0019907 INVOKING PowerShell Fn Get-DynamicOptions with args Prov

[2017-05-18 13:32] cmendible commented on #1665
Any news on the status of this issue?

[2017-05-18 14:44] Georgexp opened #3995 "Get-AzureRMSubscription No longer returns Subscriptionname and SubscriptionID"
### Cmdlet(s)
Get-AzureRMSubscription

### PowerShell Version
Instructions: to get PowerShell version, type `$PSVersionTable` and look for the value associated with PSVersion                      5.1.14393.206

### Module Version
Name                            Version
----                            -------
Azure                           4.0.1
Azure.AnalysisServices          0.3.0
AzureRM

[2017-05-18 15:04] doctordns opened #3996 "New-AzureRmAppServicePlan does not support a -Tag parameter"
### Cmdlet(s)
New-AzureRmAppServicePlan
### PowerShell Version
Instructions: to get PowerShell version, type `$PSVersionTable` and look for the value associated with `PSVersion`
5.1
### Module Version
2.0.1
### OS Version
Instructions: to get OS version, type `$PSversionTable` and look for value associated with `BuildVersion`
Win10 CU
### Description
The New-AzureRmAppServicePlan cmdlet does not p

[2017-05-18 16:32] bigtfromaz commented on #1665
Fredrick,  I don't know if you are using the same user id for both activities or not.  But I experienced this issue.  I had granted access to a resource to a account I am using as a service account (not admin or user) but I had not granted access to account/tenant data. If you are using a user account with limited access my post from November 23, 2016 might be helpful.  This may also be as simple

[2017-05-18 17:41] sphibbs commented on #3985
You have a few options to work around the issue until a fix comes out in our June 2017 Release.
1) Right click on Deploy-AzureResourceGroup.ps1 in your solution. Open with PowerShell ISE. You can now run the script. You will need to login using either Login-AzureRmAccount or Add-AzureRmAccount.
2) Roll back to a previous version of Azure PowerShell.
   -First Remove AzurePowerShell 4.0
      - If

[2017-05-18 17:47] markcowl commented on #3995
@Georgexp This is by design.  Please see the migration guide here: https://github.com/Azure/azure-powershell/blob/preview/documentation/release-notes/migration-guide.4.0.0.md which describes the changes, as referenced from the release notes for AzureRM here: https://www.powershellgallery.com/packages/AzureRM/4.0.0

[2017-05-18 18:08] FredrikGoransson commented on #1665
Yes, same user for this. It is not a SA user either. The user can access the subscription and resources within just fine from the portal so it is likely not a permission issue (unless there is another issue in the portal that erroneously gives acces to subscriptions I shouldnt have acces to.) Looking at Access rights in the portal that doesnt seem to be the problem.

[2017-05-18 19:12] TianoMS commented on #3946
Looks like a bug in Get-AzureRmResource. Add @ravbhatnagar to triage.

[2017-05-18 19:51] bigtfromaz commented on #1665
That does look wrong!

[2017-05-19 00:05] markjbrown opened #4001 "Required parameter 'osDisk' is missing (null)."
### Cmdlet(s)
New-AzureRmVM
### PowerShell Version
5.1.15063.296
### Module Version
3.0.0
### OS Version
10.0.15063.296
### Description
Trying to use the sample script below to create a new Windows VM. I keep getting this error.
Required parameter 'osDisk' is missing (null).

### Debug Output
DEBUG: ============================ HTTP RESPONSE ============================

Status Code:
BadRequest

H

[2017-05-19 01:34] markcowl commented on #3996
@akurmi can you take a look?

[2017-05-19 01:35] markcowl commented on #3993
@signhkays can you take a look?

[2017-05-19 01:37] markcowl commented on #3994
@efendimansur AzureRM is not powershell core compatible.  You can install the current version of the NetCore cmdlets here: https://www.powershellgallery.com/packages/AzureRM.NetCore.Preview/0.3.4

A refresh of this is planned for later this month.

[2017-05-19 01:37] #3994 closed

[2017-05-19 01:38] #3995 closed

[2017-05-19 08:07] efendimansur commented on #3994
Thanks @markcowl for your information.

[2017-05-19 10:15] arcotek-ltd commented on #1530
So this change has broken my script as I catch and handle the error to determine if there is a user logged on in the powershell session. I'll have to check for $null instead of an error.

I agree with @slapointe. A better option would be Test-AzureRmContext.

No biggy to fix, just annoying that the change isn't documented in the release notes (unless I'm looking in the wrong place (powershellgalle

[2017-05-19 13:32] arcotek-ltd commented on #2657
This hasn't been resolved:
New-AzureRmResourceGroupDeployment : Multiple error occurred: . Please see details.
At D:\Test-Template.ps1:53 char:1

PS C:\> get-command New-AzureRmResourceGroupDeployment

CommandType     Name                                               Version    Source
-----------     ----                                               -------    ------
Cmdlet          New-AzureRmR

[2017-05-19 15:10] knlp commented on #3757
Hi. I know that you closed this, but is it still not possible to use this DomainJoin json bit as a part of one big template?

[2017-05-19 16:32] cormacpayne commented on #1530
@arcotek-ltd Hey Adrian, sorry about not mentioning this anywhere for the release (usually these changes are announced on powershellgallery.com or [in the change log](https://github.com/Azure/azure-powershell/blob/preview/ChangeLog.md)). This was not considered a "breaking change" when we decided to take the pull request for the release, but now looking at how the change affects your script, it ca

[2017-05-19 16:51] markcowl commented on #3995
@Georgexp Just posted an update to the script that shoudl work with the new cmdlets here:  https://gist.github.com/markcowl/cf294e4524115a68c034a6604e2fed1d  Please give it a try.

[2017-05-19 16:56] johndehavilland commented on #3957
any updates?

[2017-05-19 17:14] nahalf commented on #3079
Seeing this issue again with New-AzureRmRoleAssignment:
![image](https://cloud.githubusercontent.com/assets/18647532/26258960/c1c1bd5a-3c7b-11e7-84af-b1f3c5103974.png)
This is in Azure Automation.
In PowerShell locally, I am getting another error:
![image](https://cloud.githubusercontent.com/assets/18647532/26258976/d62f54b4-3c7b-11e7-9bef-18b2dc4762a5.png)

Seems like an API issue because I am us

[2017-05-19 17:57] nahalf commented on #3079
Passing in JSON as input to the runbook like this:

 "{\"SubscriptionName\": \"s00161csubnp000001\", \"roles\": [ { \"AccountName\": \"jpeacock@starbucks.com\", \"AccountType\": \"U\", \"RoleDefinitionName\": \"SBUX Contributor\", \"ResourceGroupName\": \"\" } ]}"

Receiving an error on these two lines:

$assignment = get-AzureRmRoleAssignment  -Scope "/subscriptions/$subscriptionID/resourceGroups

[2017-05-19 18:12] markcowl commented on #3836
@viananth can you please put this in a milestone?

[2017-05-19 18:13] markcowl commented on #3730
@singhkays Can you take a look?  Is @mcollier right about the difference between managed disks and 'unmanaged' disks in this scenario?

[2017-05-19 18:16] markcowl commented on #3728
@twitchax This is about driving our static analysis suppressiosn to zero for this and similar issues?  Where should we schedule this

[2017-05-19 18:18] markcowl commented on #3719
@lfshr The generator was fixed in the last release.  Can you verify that this was fixed in 4.0?  If so we can close this.

[2017-05-19 18:19] markcowl commented on #3717
@akurmi, please take a look, and assign to a milestone as appropriate

[2017-05-19 18:21] markcowl commented on #3698
@nwarriorch Can you please try lexecuting the cmdlet with ```$DebugPreference="Continue"``` this will print additoona;l debugging information that will help diagnose the issue.

[2017-05-19 18:22] markcowl commented on #3687
@singhkays Can you take a look and assess whtehter this is a feature we will consider?

[2017-05-19 18:24] markcowl commented on #3631
@harishchakkingal  Please use version 1.2.9 with AzureStack.

[2017-05-19 18:24] #3631 closed

[2017-05-19 18:25] markcowl commented on #3521
@viananth @bganapa I think we have resolved this as version mismatch, please reopen with specific details, inclusing the debug traces, if you think this is somethign else.

[2017-05-19 18:25] #3521 closed

[2017-05-19 18:27] markcowl commented on #3445
@ravbhatnagar Please respond with the appropriate generic cmdlets for using this RP

[2017-05-19 18:29] markcowl commented on #3427
@Bartolomeus-649 We have a solution for this scheduled for the June release here: #3648  This was just checked in, so closing.

[2017-05-19 18:29] #3427 closed

[2017-05-19 18:29] markcowl commented on #3648
Fixed

[2017-05-19 18:29] #3648 closed

[2017-05-19 18:32] twitchax commented on #3728
@markcowl, as soon as possible.  If there is room in June, then we should schedule it now.

[2017-05-19 19:51] RBACAsk commented on #3079
+Hari – can you take a look?

From: nahalf [mailto:notifications@github.com]
Sent: Friday, May 19, 2017 10:15 AM
To: Azure/azure-powershell <azure-powershell@noreply.github.com>
Cc: RBAC Ask <RBACAsk@microsoft.com>; Mention <mention@noreply.github.com>
Subject: Re: [Azure/azure-powershell] New-AzureRmRoleDefinition : InvalidApiVersionParameter (#3079)

Seeing this issue again with New-AzureRmRoleA

[2017-05-19 19:56] webbdog28 commented on #3954
I can confirm that I'm also having this issue. However, it only occurs with a certain organizational login. My other two Azure logins (one MS account and one Org) both work fine.

[2017-05-19 20:41] markjbrown commented on #4001
blew away and reinstalled PS which fixed it. Closing.

[2017-05-19 20:41] #4001 closed

[2017-05-19 23:34] singhkays commented on #3687
@randomnote1 Thanks for the suggestion, I've forwarded it to the VM owner for considering this. In the meantime, I'd suggest looking into implementing this yourself using PowerShell Jobs/Runspaces if you haven't already.

[2017-05-19 23:38] singhkays commented on #3730
Yes, I think this is by design since MD hides the underlying blob from the user for security.

[2017-05-21 07:32] guillemsola commented on #3757
@knlp yes you can. IMO only that managing big templates sometimes can be cumbersome as there aren't a lot of tools to help you with that.

[2017-05-21 19:50] markcowl commented on #3954
@Marc013 @webbdog28 I missed the ```AzureAD``` module previously in your comments - there may be some interaction there with the token cache.  In any of these instances did you use the AzureAD module in the same session?

[2017-05-22 02:25] markcowl commented on #3958
@JamesWTruher @dimitertodorov @UlrichMayr  New version compatible with the latest builds due out in this sprint.

[2017-05-22 03:48] ciisuke commented on #3985
Thanks. I'll use Azure PowerShell v3.8 till next version is out.

[2017-05-22 03:48] #3985 closed

[2017-05-22 05:32] RBACAsk commented on #3079
Sure, I shall look into the issue and get back.

From: Stefan Miltchev
Sent: Friday, May 19, 2017 12:52 PM
To: Azure/azure-powershell <reply@reply.github.com>; Azure/azure-powershell <azure-powershell@noreply.github.com>; Haridarshan Hosakere Sudhakar <hahosake@microsoft.com>
Cc: RBAC Ask <RBACAsk@microsoft.com>; Mention <mention@noreply.github.com>
Subject: RE: [Azure/azure-powershell] New-AzureR

[2017-05-22 05:44] Marc013 commented on #3954
@markcowl
When encountering the reported issue the **AzureAD** module is not imported. However I do have runbooks that do load the Azure, AzureRM and AzureAD module. In that situation the cmdlets are to work as they are intended to, not?

To reproduce the reported issue I performed the described steps in my previous comment, noting more, nothing less.
I don't keep any secrets ;-)
It's way to impor

[2017-05-22 07:32] knlp commented on #3757
I use Visual Studio, so far my templates are not too complicated (few virtual machines, DC and other stuff), so I manage to... manage. :) Anyway it keeps on throwing 1332 on my despite providing credentials. I read that you need a custom OU, but the extension cannot create one, so that's another thing to overcome.

[2017-05-22 08:28] Mauzer93 opened #4006 "Unable to Get/Add user roles with SP"
### Cmdlet(s)
Get-AzureRmRoleAssignment
New-AzureRmRoleAssignment

### PowerShell Version
Instructions: to get PowerShell version, type `$PSVersionTable` and look for the value associated with `PSVersion`
5.1

### Module Version
Azure PowerShell 3.6.0
AzureRM PowerShell 3.6.0

### OS Version
Instructions: to get OS version, type `$PSversionTable` and look for value associated with `BuildVersion`
=

[2017-05-22 09:50] blueww opened #4007 "Improve KeyVault error message when Service Principal does not have correct Graph permissions"
### Cmdlet(s)
Set-AzureRmKeyVaultAccessPolicy

### PowerShell Version
 5.1.14393.1198

### Module Version
3.0.0      AzureRM.KeyVault

### OS Version
BuildVersion                   10.0.14393.1198

### Description
I meet following error when prepare test environment for new cmdlets of customer Key.

When I logon with Service Principle,  and run Set-AzureRmKeyVaultAccessPolicy.
•	Success to set Per

[2017-05-22 10:26] cob999 commented on #3945
should I open a support query for this? it's something we do need to get resolved and just wondering the best way to progress this. there's a 2nd issue I've encountered when trying to encrypt VMs that have TLS 1.0 & 1.1 disabled, but I'll get this one resolved first before opening that

[2017-05-22 11:36] iamGavinJ commented on #3954
Also able to repo this consistently...  I have 4.0.1 installed from the Powershell Gallery AzureRM meta.

No longer able to run the majority of my scripts with automated login as the very first thing I generally do is Get-AzureRmResourceGroup which fails.

[2017-05-22 14:45] gregjhogan opened #4010 "Azure.Storage extremely slow to load in automation account"
A simple Azure Automation runbook that rotates storage account keys and generates a SAS token takes 10 minutes to run.  It looks like more than half the time is spent loading the Azure.Storage cmdlets.  Please improve the performance of loading powershell cmdlets.

Script:
[code]

Output (notice how long it takes to load Azure.Storage.psd1)
[code]

[2017-05-22 14:51] ajklotz commented on #3985
I have PowerShell v5.1.14393.953 and the AzureRm.profile version is 3.0.0 (As shown from **Get-Module -ListAvailable AzureRm.profile**) and I'm having errors performing VSTS tasks that use AzCopy to copy files to Azure resources.

I don't understand how the versioning is working here. I guess the source code for the cmdlet has changed but the version of the AzureRM.profile module is not incrementi

[2017-05-22 15:09] ld0614 opened #4011 "Get-AzureRmExpressRouteCircuitRouteTable : 'peeringName' cannot be null."
### Cmdlet(s)
Get-AzureRmExpressRouteCircuitRouteTable

### PowerShell Version
Instructions: to get PowerShell version, type `$PSVersionTable` and look for the value associated with `PSVersion`

Name                           Value
----                           -----
PSVersion                      5.1.15063.296
PSEdition                      Desktop
PSCompatibleVersions           {1.0, 2.0, 3.0,

[2017-05-22 15:17] sphibbs commented on #3985
Each modules versions following semantic versioning. Not all modules update each release, so they versions won't change in that caes. AzureRM is the roll up module and will bump major versions if any of the modules installed with it have a breaking change.  The last version of AzureRm.Profile was 2.8.0, with the breaking change release the version bumped up to 3.0. We understand how this can be co

[2017-05-22 15:19] ld0614 opened #4012 "Get-AzureRmExpressRouteCircuitStats fails when peering type is specified"
### Cmdlet(s)
Get-AzureRmExpressRouteCircuitStats

### PowerShell Version
Instructions: to get PowerShell version, type `$PSVersionTable` and look for the value associated with `PSVersion`

Name                           Value
----                           -----
PSVersion                      5.1.15063.296
PSEdition                      Desktop
PSCompatibleVersions           {1.0, 2.0, 3.0, 4.0..

[2017-05-22 15:44] ajklotz commented on #3985
@sphibbs Thanks for the quick feedback! I appreciate your time.

[2017-05-22 16:34] CMajeri commented on #3988
Alright so the error comes from me using
`-DefaultBackendAddressPoolId $pool` instead of `-DefaultBackendAddressPoolId $pool.Id`

The error message could be clearer, and it should probably fail instead of letting it through, but at least it's not stopping me in my work anymore!

Thanks

[2017-05-22 17:43] RBACAsk commented on #3079
The screen-shot does not have the full Scope parameter visible. Can you please share the exact parameters passed to the cmdlet and also the precise time-range when the issue was encountered?

Thx
Surabhi

From: Haridarshan Hosakere Sudhakar
Sent: Sunday, May 21, 2017 10:33 PM
To: Stefan Miltchev <Stefan.Miltchev@microsoft.com>; Azure/azure-powershell <reply@reply.github.com>; Azure/azure-powershel

[2017-05-22 17:49] #3658 closed

[2017-05-22 17:50] #3694 closed

[2017-05-22 18:13] SiloReed commented on #1288
Looks like version 3.0.0 of the AzureRM.profile module removes Select-​Azure​Rm​Profile and Save-​Azure​Rm​Profile. I had these working with background jobs but now it's broken with the latest modules. Struggling to find a workaround. Apparently the new Import-AzureRmContext is not equivalent to the old  Select-​Azure​Rm​Profile

[2017-05-22 19:03] nahalf commented on #3079
My apologies, I couldn’t show the full view from Azure Automation output.

This is what is being attempted:

New-AzureRmRoleAssignment -ObjectId $id -Scope "/subscriptions/$subscriptionID/resourceGroups/$($role.ResourceGroupName)" -RoleDefinitionName $role.RoleDefinitionName -ErrorAction Continue

The $role object has the following properties and this what was passed in that instande:
"roles": [ {

[2017-05-22 19:22] RBACAsk commented on #3079
I noticed that the ResourceGroupName is empty. That might be the problem. Can you try with scope set as "/subscriptions/$subscriptionID”?

Thx
Surabhi

From: Natasha Halfin [mailto:notifications@github.com]
Sent: Monday, May 22, 2017 12:06 PM
To: Azure/azure-powershell <azure-powershell@noreply.github.com>
Cc: RBAC Ask <RBACAsk@microsoft.com>; Mention <mention@noreply.github.com>
Subject: Re: [Azu

[2017-05-22 19:50] markcowl commented on #4007
@blueww Can you include the Vault permissions for this service principal?  This may be an expected authorization failure.

Also, PrincipalId may not be the same as Graph ObjectId

[2017-05-22 21:56] markcowl commented on #3996
```<nit>```this should be ```-Tag``` ```</nit>```

[2017-05-22 21:58] markcowl commented on #4006
@Mauzer93 AFAIK PrincipalId is not the same thing as graph objectid.  @darshanhs90 can you take a look?

[2017-05-22 22:00] markcowl commented on #4010
@gregjhogan Which version of the storage module is this?  There isn't  much that shoudl cause slow module loading for storage

[2017-05-22 22:05] markcowl commented on #4011
@nupurkot Can you take a look?

[2017-05-22 22:06] markcowl commented on #4012
@nupurkot Can you take a look?

[2017-05-22 22:40] darshanhs90 commented on #4006
@Mauzer93 Could you provide more information regarding the error you are getting

[2017-05-22 22:40] singhkays commented on #3945
@cob999 Sure, looks like something failed in the VM. This needs deeper investigation of the platform logs. Closing as it does not look like a PowerShell issue. Feel free to reopen if support determines something wrong with PS cmdlets.

[2017-05-22 22:40] #3945 closed

[2017-05-22 23:02] doctordns commented on #3996
Whoops - well spotted Mark. I was writing a script and wanted to add tags but couldn't hence this issue. But yes, it should be -Tag!

I'll take a look at other NEW-* cmdlets to see what other ones need this added. Is adding a -Tags parameter difficult? I assume you can leverage the actual code from othEr cmdlets?

[2017-05-22 23:28] TarasRoshko commented on #3946
@eosfor hit the same issue, after hacking it a bit it seems like an encoding issue, worked around passing filter like this

`%24filter=...`

[2017-05-23 00:12] doctordns commented on #489
This cmdlet still seems missing from AzureRM. Is there any intention in bringing this cmdlet in the ARM module? If not what is the best way to check if a storage account already exists.

[2017-05-23 00:24] gregjhogan commented on #4010
@markcowl Azure.Storage = 3.0.1

![image](https://cloud.githubusercontent.com/assets/4112046/26333556/1026e61e-3f24-11e7-8984-a36702085f06.png)

On a side note, for some reason the cmdlets are not reporting the version of any modules:
[code]

[2017-05-23 11:27] ErikvanMaanen commented on #3985
@ciisuke and for all people using VSTS, a workaround for now would be to modify the cached version of the cmdlet's on the agents.

The following PS command can do so:  (assuming agents on disks F,G,and H.)

#('F:\','G:\','H:\')|%{SL $_;gci -re \*Agent*\_Work\_tasks\AzurePowerShell_72a1931b-effb-4d2e-8fd8-f8472a07cb62\*\InitializeFunctions.ps1}|%{$_.fullname;sc $_.fullname -Force ((gc $_.fullname).

[2017-05-23 13:02] fhljys commented on #3341
I am also facing this issue. Any solutions?

[2017-05-23 15:42] nahalf commented on #3079
So the runbook has conditional statements to allow passing ResourceGroup as empty if the user wishes to only do subscription level scope. The logic in the conditional statement turned out to be incorrect (causing it to attempt to assign an RG level assignment when it should have been a sub level one); after fixing this, the runbook is working now.

However, the error message received in that scena

[2017-05-23 16:25] markcowl commented on #3985
This is a solution, but I would worry that it might be fragile over time.  There should be a version out that fixes this issue within a day or two, btw.

[2017-05-23 16:46] markcowl commented on #1665
@bigtfromaz @FredrikGoransson @cmendible  We made some changes to the Context type to allow saving the information that would fix this issue.  Our sense is that this doesn't impact very many peoiple, but it is painful when it does.

[2017-05-23 16:50] SiloReed commented on #3954
I am also having problems with using Save-AzureRmContext and Import-AzureRmContext in version 3.0.0 of the AzureRm.profile module. With version 2.8.0 I was able to use Import-AzureRmContext in a background job but with 3.0.0 it throws this error: Your Azure credentials have not been set up or have expired, please run Login-AzureRMAccount to set up your Azure credentials.

To reproduce the problem

[2017-05-23 16:51] markcowl commented on #1665
@bigtfromaz Subscriptions are ARM artifacts, so you need to provide RBAC authorization to allow reading the subscriptions in order to list them.  This is separate from the Graph permissions for the user.

Note that you can provide the TenantId to Add-AzureRmAccount to log in to a specific tenant.  We do plan to allow specifying domain name instaed of tenant ID in this case, which should make disco

[2017-05-23 17:20] RBACAsk commented on #3079
+ Ming to look into this.

Thx
Surabhi

From: Natasha Halfin [mailto:notifications@github.com]
Sent: Tuesday, May 23, 2017 8:45 AM
To: Azure/azure-powershell <azure-powershell@noreply.github.com>
Cc: RBAC Ask <RBACAsk@microsoft.com>; Mention <mention@noreply.github.com>
Subject: Re: [Azure/azure-powershell] New-AzureRmRoleDefinition : InvalidApiVersionParameter (#3079)

So the runbook has conditio

[2017-05-23 17:35] bigtfromaz commented on #1665
We seek to provide service accounts with exactly the privileges  it needs and no more. In this case the account being used to maintain DNS records does not need to have a subscription list.  Using a domain name would be convenient because if we were to move the  domain to another subscription it would be one less configuration change to worry about.

Tom Hebert
480-788-6601

From my phone, so this

[2017-05-23 17:49] sdwheeler commented on #2614
@ravbhatnagar - It looks like the current markdown file for this complete. See also: https://docs.microsoft.com/en-us/powershell/module/azurerm.resources/new-azurermresource?view=azurermps-4.0.0

I think this can be closed.

[2017-05-23 17:51] sdwheeler commented on #2627
@pcgeek86 - this has been fixed now.

[2017-05-23 17:51] #2627 closed

[2017-05-23 18:21] hovsepm opened #4015 "Functionality break in piping in version 4.0"
### Cmdlet(s)
Get-AzureRmSubscription
Set-AzureRmContext

### PowerShell Version
Instructions: to get PowerShell version, type `$PSVersionTable` and look for the value associated with `PSVersion`

4.0
### Module Version
AzureRM.PRofile 4.0

### OS Version
Instructions: to get OS version, type `$PSversionTable` and look for value associated with `BuildVersion`
All

### Description
Due to this chang

[2017-05-23 19:58] JLunda opened #4016 "Login-AzureRmAccount -Credential Not Working with Organizational Account"
### Cmdlet(s)
Login-AzureRmAccount

### PowerShell Version
Major | Minor | Build | Revision
------------ | ------- | ------ | ---------
5 | 1 | 15063 | 296

### Module Version

Using Get-Module:

ModuleType | Version Name | ExportedCommands
-------------- | ---------------- | ----------------------
Script | 3.0.0 | AzureRM.profile | {Add-AzureRmAccount, Add-AzureRmEnvironment, Disable-AzureRmDataC

[2017-05-23 22:18] igor-uzhviev opened #4018 "Get-Location in common test code"
### Description

Right now there is no generic Get-Location function which can be reused by all RPs. Different RPs have to implement it using Get-AzureRmResourceProvider. This code looks a bit messy and it is code duplication in many RPs.

It would be great to have a generic Get-Location function which can be re-used by all providers.

[2017-05-23 23:07] sdwheeler opened #4020 "Documentation of the format for -Tag data is incorrect in cmdlet reference"
### Cmdlet(s)
This was reported by a customer via LiveFyre for Set-AzureRmResourceGroup  and Find-AzureRmResourceGroup. It probably affects may other cmdlets that use the -Tag parameter.

### PowerShell Version
Any supported PowerShell version

### Module Version
The change of the format for Tags was made around v2.0.1. The documentation was not updated. The following cmdlets have the -Tag paramet

[2017-05-24 12:01] Digiroka commented on #3954
I was also having issues with Import-AzureRMContext child operations reporting "Your Azure credentials have not been set up or have expired"

I have resolved this by setting the context to include the subscription ID...

Import-AzureRmContext -Path $path
Set-AzureRmContext -SubscriptionId <xxx-xxx-xxx-xxx>

[2017-05-24 14:15] BenedekFarkas commented on #3829
Thanks @hungmai-msft, I can confirm that this workaround is working, but then it also needs the `StorageContext` parameter, which can be supplied using `New-AzureStorageContext`.

[2017-05-24 14:49] WallyDoodlez opened #4022 "New-AzureRmMIWebService is not working when using JSON from Export-AmlWebServiceDefinitionFromExperiment."
### Cmdlet(s)
New-AzureRmMIWebService

### PowerShell Version
PSVersion                      5.1.14393.1198

### Module Version

### OS Version
BuildVersion                   10.0.14393.1198

### Description
I followed instructions from [here](https://docs.microsoft.com/en-us/azure/machine-learning/machine-learning-deploy-consume-web-service-guide) in trying to deploy a web service in power shell

[2017-05-24 17:36] sdwheeler opened #4025 "Cmdlet reference markdown missing URLs in Related Links section."
### Cmdlet(s)
As many as 59 cmdlet reference files have empty URLs in the Related Links section.

For example, in Set-AzureRmDataLakeStoreItemExpiry.md:

This results in a bad link in the web presentation.

### Affected cmdlets
DataLakeStore\Commands.DataLakeStore\help\Set-AzureRmDataLakeStoreItemExpiry.md
HDInsight\Commands.HDInsight\help\New-AzureRmHDInsightCluster.md
LogicApp\Commands.LogicApp\

[2017-05-24 18:09] sdwheeler commented on #4025
@markcowl - Tara @TaraMeyer is working on this. See https://mseng.visualstudio.com/VSChina/_workitems/edit/1006523

[2017-05-24 20:08] jboeshart commented on #3665
As a follow up, I've not been able to get the stream object figured out, but you can download blob content directly to a variable using REST calls with a URI containing a SAS token (or to storage accounts that have blob or container access policy). Would still be nice to be able to do this with the `Get-AzureStorageBlobContent` cmdlet though.

[code]

[2017-05-24 22:27] sdwheeler commented on #4020
@markcowl I reviewed all of the cmdlets that use -Tag parameter and updated the information above. For all of these articles, the description of the -Tag parameter should describe the acceptable syntax.

[2017-05-25 09:34] letmaik commented on #3821
I can't invest more time in this unfortunately, so I would suggest we
leave the issue open so that people who have the same problem can
comment. If there's noone within a few months or so I would close the
issue, because then maybe there were some bug fixes in PowerShell for that.

[2017-05-25 14:26] SquirrelAssassin opened #4029 "Get-AzureRmSubscription Output Incorrect"
### Cmdlet(s)

### PowerShell Version
5.1.14393.1198

### Module Version
3.0

### OS Version
10.0.14393.1198

### Description
Output of Get-AzureRmSubscription not showing subscriptionId

### Script/Steps for Reproduction
run get-azurermsubscription

### Issue
I just ran get-azurermsubscription the output has changed and is breaking code

**Expected**
Subscription Name : Contoso Subscription 1
Sub

[2017-05-25 14:27] SquirrelAssassin opened #4030 "Creating Application Secrets"
### Cmdlet(s)

### PowerShell Version
5.1.14393.1198

### Module Version
3.0

### OS Version
10.0.14393.1198

### Description
Output of Get-AzureRmSubscription not showing subscriptionId

### Script/Steps for Reproduction
run New-AzureRmADAppCredential

### Script/Steps for Reproduction
I was trying to make a secret from PowerShell for a SPN and saw the following: New-AzureRmADAppCredential : Exce

[2017-05-25 16:50] gucalder commented on #3957
I am checking the code and, initially, I cannot find any issue with it. I am still testing and will let you know when I am done with the investigation.
That being said, the second all is subset of the first call. The first call will use Now - 7 days as start date  and Now as end date. The second call will use Now - 5 days as start date and Now as end date. I do not know if the subscription being q

[2017-05-25 17:57] shahabhijeet opened #4031 "Update US Gov endpoints"
Update all the endpoints that are related to US Gov cloud

Cost: 1 (without testing)

[2017-05-25 19:07] rajaprad opened #4032 "'Get-AzureRmServiceBusNamespace' command was found in the module 'AzureRM.ServiceBus', but the module could not be loaded"
### Cmdlet(s)

### PowerShell Version
4.0

### Module Version
Manifest   0.3.1      AzureRM.ServiceBus

### OS Version
6.3.9600.17400

### Description

Seems AzureRM.ServiceBus is broken after installing the recent release 4.0.2

### Debug Output
5/25/2017 2:33:59 PM:The 'Get-AzureRmServiceBusNamespace' command was found in the module 'AzureRM.ServiceBus', but the module could not be loaded. For

[2017-05-25 19:33] zechariahks opened #4033 "New-AzureRMStreamAnalyticsTransformation Failed to create new Transformation"
### Cmdlet(s)
New-AzureRMStreamAnalyticsTransformation

### PowerShell Version
5.0.10586.117

### Module Version

### OS Version
10.0.10586.117

### Description
Getting BadRequest response while trying to create a new transformation in Stream Analytics Job.

![image](https://cloud.githubusercontent.com/assets/13693218/26466990/ad20967c-4145-11e7-8140-db3d287382af.png)

### Script/Steps for Reprodu

[2017-05-25 21:24] irothschild commented on #3958
Wow. I jump through all these hoops installing PowerShell just so I can replace the SSL certificate on my Application Gateway (amazingly no way to do that from the Azure console) and I end up at this dead end.

[2017-05-25 22:58] TaraMeyer commented on #4025
@sdwheeler @markcowl - this has been fixed and is addressed in this pr waiting for review and approval:https://github.com/Azure/azure-powershell/pull/4027.

[2017-05-25 23:42] hovsepm opened #4035 "Get-AzureRmResource -ResourceGroupName "aa" throws "Parameter set cannot be resolved" exception"
### Cmdlet(s)
Get-AzureRmResource
### PowerShell Version
Instructions: to get PowerShell version, type `$PSVersionTable` and look for the value associated with `PSVersion`
latest available.

### Module Version
AzureRM.Resources

### OS Version
Instructions: to get OS version, type `$PSversionTable` and look for value associated with `BuildVersion`
Windows 10

### Description

### Debug Output
Inst

[2017-05-26 13:17] johndehavilland commented on #3957
so I downloaded the csv of the last week from the portal and in there I see 697 events for the past week. If i run Get-AzureRmEvent I only see 200 events. If I look the timestamp seems to be from 3:07am to 1:07pm.

Running Get-AzureRmLog -MaxEvents 50 returns just 50.

Get-AzureRmLog documentation [link](https://docs.microsoft.com/en-us/powershell/module/azurerm.insights/get-azurermlog?view=azurer

[2017-05-26 17:35] SiloReed commented on #3954
Digiroka's workaround does not work in a background job. I updated the scriptblock in my Issue3954.ps1 script to include Set-AzureRmContext:
[code]
I was rewarded with an additional error message:
Provided subscription ########-####-####-####-############ does not exist

[2017-05-26 18:14] sphibbs commented on #4032
@Pradebban  Can you run get-module -listavailable
Try a fresh session and see if that fixes the issue.
What were the exact steps to install? MSI? Gallery?

[2017-05-26 18:20] sphibbs commented on #4030
Output of Get-AzureRmSubscription not showing subscriptionId was changed to just "ID". Check the migration guide here https://github.com/Azure/azure-powershell/blob/preview/documentation/release-notes/migration-guide.4.0.0.md#breaking-changes-to-profile-cmdlets for details.

We believe this resolves the issue, if not please reopen add details of your specific issue

[2017-05-26 18:20] #4030 closed

[2017-05-26 18:21] sphibbs commented on #4029
Yes this is correct. See the migration guide https://github.com/Azure/azure-powershell/blob/preview/documentation/release-notes/migration-guide.4.0.0.md#breaking-changes-to-profile-cmdlets for details.

[2017-05-26 18:21] #4029 closed

[2017-05-26 18:35] sphibbs commented on #4016
This is either a misconfig of STS  because the metadata is not available
or its due to the org requiring web logon. This means you cannot use non interactive login.

Please update error message to list all the reasons why users can see this issue so they have a course of action.

[2017-05-26 18:37] sphibbs commented on #3341
@fhljys can you update to the latest test framework. anything greater that >=1.7.1. If that doesn't resolve the issue please re-open

[2017-05-26 18:37] #3341 closed

[2017-05-26 18:55] Pradebban commented on #4032
I used the MSI to upgrade. I even restarted the machine after the upgrade.
Below is the output of get-module -listavailable

 Directory: C:\Program Files\WindowsPowerShell\Modules

ModuleType Version    Name                                ExportedCommands
---------- -------    ----                                ----------------
Script     0.3.1      Azure.AnalysisServices              {Add-AzureA

[2017-05-26 19:59] Digiroka commented on #3954
Yes I had exactly the same issue in the second attempt - it appears that I needed to reauthenticate and save the .ctx file again, then it worked. I assume that the token timed out. Imagine I will need to reauthenticate and save .ctx next time I try. Not great.

[2017-05-27 09:49] blueww commented on #4007
for the service proncipal ,the permission is:

                                   Object ID                   : ********-****-****-****-*************
                                   Application ID              :
                                   Display Name                : DMTestCredentials (b*******-****-****-****-*************)
                                   Permissions to Keys

[2017-05-28 05:10] nwarriorch commented on #3698
It seems to be because we have disabled TLSv1.1 and TLSv1.0.

[2017-05-30 08:39] lfshr commented on #3719
Closed as this has been fixed. Thanks for your help @markcowl.

[2017-05-30 08:39] #3719 closed

[2017-05-30 09:17] chintan3100 opened #4044 "New-AzureRmADApplication"
Not able to add active directory application using powershell script

$certificateFilePath = "D:\cert\ADTestVaultApplication.cer"
$certificate = New-Object System.Security.Cryptography.X509Certificates.X509Certificate2
$certificate.Import($certificateFilePath)
$rawCertificateData = $certificate.GetRawCertData()
$credential = [System.Convert]::ToBase64String($rawCertificateData)
$startDate= [System

[2017-05-30 13:29] cmendible opened #4045 "Is there a way to enableKeyVault on a Data Lake Store vía powershell?"
Hi guys, is there a way to enableKeyVault on a Data Lake Store (DLS) vía powershell? I know you can create the access policy for the DLS Principal using something like:

`Set-AzureRmKeyVaultAccessPolicy -VaultName $vaultName -ObjectId (Get-AzureRmADServicePrincipal -SearchString "RN_[Data Lake StoreName]").Id -PermissionsToKeys encrypt, decrypt, get`

But after I do so, I need to browse to the DLS

[2017-05-30 16:57] markcowl commented on #4044
@chintan3100 What kind of credentials are you using?  Does the user have sufficient Graph permissions to create a new application?  Can you execute your script with ```$DebugPreference="Continue"``` to produce additional debugging information and include it here?

[2017-05-30 17:07] markcowl commented on #4045
@cmendible Note that you can list (and use) provider operations using the ```Get-AzureRmProviderOperation``` cmdlet in Azure PowerShell, so it is possible to do this with generic resource manager cmdlets.

@begoldsm Do we have or plan to add this functionality to typed cmdlets for DataLake?

[2017-05-30 17:12] cmendible commented on #4045
I was not aware of that cmdlet! Ill check it!

Thanks!

[2017-05-30 17:27] cmendible commented on #4045
The operation Microsoft.DataLakeStore/accounts/enableKeyVault is not listed when running:
`Get-AzureRmProviderOperation -OperationSearchString Microsoft.DataLakeStore/*`

[2017-05-30 17:34] begoldsm commented on #4045
There was a PR request just last week to explicitly add this command: https://github.com/Azure/azure-powershell/pull/4023

As for the operation path it should be here:
providers/Microsoft.DataLakeStore/accounts/{accountName}/enableKeyVault

[2017-05-30 17:59] cmendible commented on #4045
That's great news! hope it gets merged and released soon.

[2017-05-30 19:07] doctordns opened #4047 "New-AzureRmVirtualNetwork gives a warning with no additional details"
### Cmdlet(s)

### PowerShell Version
Instructions: to get PowerShell version, type `$PSVersionTable` and look for the value associated with `PSVersion`
5.1

### Module Version
3.8.0

### OS Version
Instructions: to get OS version, type `$PSversionTable` and look for value associated with `BuildVersion`
Server 2016.

### Description
when you call this cmdlet, it isuses a warning:
"WARNING: The out

[2017-05-30 22:10] pascalnaber opened #4051 "Executing Remove-AzureRmRoleAssignment as Service Principal results in an exception"
### Cmdlet(s)
Remove-AzureRmRoleAssignment

### PowerShell Version
5.1.14393.1198

### Module Version
4.0.2 (23-05-17)

### OS Version
10.0.14393.1198

### Description
After logging in as Service Principal and giving this Service Principal AD access (_Company Administrator_). It is able to execute New-AzureRmRoleAssignment, but is not able to execute Remove-AzureRmRoleAssignment.

How should a Ser

[2017-05-31 09:51] baroska commented on #1978
Hi everyone,

I starting under azure and I noticed that I have the same problem. I tried all your suggestions.
Do you have any idea how to un-generelize the VM source from where I made my image ?

Thanks

[2017-05-31 10:21] MAPMA commented on #1978
It's not possible to un-generelize the VM. You can deete it and recreate a VM using the option -CreateOption Attach on the OS disk if you didn't run sysprep.

[2017-05-31 13:34] chintan3100 commented on #4044
Thanks MarkCowl
I added $DebugPreference="Continue" . Please check above screenshot

[2017-05-31 15:15] knom commented on #1164
Hi,
I would like an Invoke-Rest-Method rather than RestAction.
For instance I'd like to call this here.. https://docs.microsoft.com/en-us/rest/api/advisor/recommendations
From within Powershell.

Which is not working with the RestAction approach..
(at least I cannot get it working..)

Any suggestions?

Thanks.

[2017-05-31 17:58] solankisamir opened #4056 "New-​Azure​Rm​Application​Gateway​Url​Path​Map​Config has Optional Params DefaultBackendAddressPool but it fails if not specified"
### Cmdlet(s)
New-​Azure​Rm​Application​Gateway​Url​Path​Map​Config

### PowerShell Version
4.0.2
### Module Version

### OS Version
Instructions: to get OS version, type `$PSversionTable` and look for value associated with `BuildVersion`

### Description
When we changed the powershell cmd from
New-AzureRmApplicationGatewayUrlPathMapConfig -Name "urlpathmap" -PathRules $echoapiRule -DefaultBackend

[2017-05-31 18:19] darshanhs90 commented on #4044
@chintan3100 Could you verify the end date of the certificate,since it is complaining about the credential's end date being invalid.
Also it would be great if you can send the whole debug message

[2017-05-31 18:59] CtrlDot commented on #661
Sigh....

[2017-06-01 05:30] Pradebban commented on #4032
@markcowl , is there an update on this one?

[2017-06-01 05:48] hermot commented on #3954
I can confirm that I am also seeing the reported issue regarding Import-AzureRmContext and then calling Get-AzureRmResourceGroup after that.
Error I get is:
_**"Your Azure credentials have not been set up or have expired, please run Login-AzureRMAccount to set up your Azure credentials."**_
I installed version 4.0.1 on the 31st of May 2017. Before this I was still on a very old version of 3.0.0 wh

[2017-06-01 08:15] chintan3100 commented on #4044
Thanks Darshanhs.
Yes look like some date formate issue.

[2017-06-01 14:53] clawrenceks commented on #3946
@TarasRoshko - awesome workaround, I have spent a couple of hours trying various different workaround before I stumbled across this thread.

[2017-06-01 16:32] mhockelberg commented on #3958
I have the same issue.  My environment...

![image](https://cloud.githubusercontent.com/assets/686612/26690119/26265e82-46c6-11e7-9a2b-c07acb5ae586.png)

![image](https://cloud.githubusercontent.com/assets/686612/26690146/3de16698-46c6-11e7-8344-0c0d75642f95.png)

[2017-06-01 17:32] gucalder commented on #3957
The back end is returning the data in 200 record pages.
I found the bug in the cmdlet code. I'll fix it ASAP.
Thanks.

[2017-06-01 19:51] darshanhs90 commented on #4044
@chintan3100 Can we close this issue or do you need any more help regarding this issue?

[2017-06-01 19:52] darshanhs90 commented on #4006
@Mauzer93 Could you provide more information regarding the error you are getting.So that it will be easier for us to debug and reproduce the issue.

[2017-06-01 21:40] bganapa commented on #1365
Lets rename and add Alias.  I agree with the suggestion here.

[2017-06-01 22:31] begoldsm commented on #4045
This has been merged and should be in the next release! I won't close this out, though, until that release happens.

[2017-06-02 07:22] 4c74356b41 commented on #3954
+1, after updating to 3.0 this problem appeared.

[2017-06-02 07:31] consultguru commented on #3954
**+1 repros for me.**
Have side-by-side installations of AzureRM (3.8.0 and 4.0.2) which installed AzureRM.profile versions (2.8.0 and 3.0.1).  Under such conditions, getting the following error

Your Azure credentials have not been set up or have expired, please run Login-AzureRMAccount to set up your Azure credentials.
    + CategoryInfo          : CloseError: (:) [New-AzureRmResourceGroup], Arg

[2017-06-02 12:21] #4044 closed

[2017-06-02 12:22] chintan3100 commented on #4044
Thanks for help.

[2017-06-02 12:22] kfarris9 commented on #3979
getting the same problem with Publish-AzureVMDscConfiguration.  Is there a workaround?

[2017-06-02 13:09] madmox commented on #661
Would be appreciated indeed...

[2017-06-02 14:02] Pradebban opened #4065 "Get-AzureRmKeyVault : ErrorAction does not take effect for incorrect ResourceGroup"
### Cmdlet(s)
Get-AzureRmKeyVault

### PowerShell Version
5.0.10586.117

### Module Version

### OS Version
10.0.10586.117

### Description
ErrorAction is not taking effect for Get-AzureRmKeyVault with incorrect ResourceGroup provided, inspite of the response is below,

error": {
    "code": "ResourceGroupNotFound",
    "message": "Resource group 'eastus' could not be found.

### Debug Output
DEBU

[2017-06-02 18:32] shahabhijeet commented on #4065
@Pradebban Get requests are non-error returning pattern.
So this is by design.

[2017-06-02 18:32] #4065 closed

[2017-06-02 18:36] shahabhijeet commented on #4056
@markjbrown can you take a look at this.

[2017-06-02 18:44] shahabhijeet commented on #4047
@doctordns that warning means, the output type will change in the future, because it is being deprecated in a future release.
Could you let us know what would you like it to show.

[2017-06-02 19:13] Pradebban commented on #4065
@shahabhijeet , i do not agree, please re-open.
@markcowl - please advice.

below example (again a get request) returns an error

PS C:\Windows\system32> Get-AzureRmApiManagement -ResourceGroupName 12345 -Name "12345"
**Get-AzureRmApiManagement : ResourceGroupNotFound: Resource group '12345' could not be found.**

[2017-06-02 19:18] rajaprad opened #4067 "Reopen#4065 Get-AzureRmKeyVault : ErrorAction does not take effect for incorrect ResourceGroup"
## Cmdlet(s)

Get-AzureRmKeyVault

## PowerShell Version

5.0.10586.117

## Module Version

## OS Version

10.0.10586.117

## Description

ErrorAction is not taking effect for Get-AzureRmKeyVault with incorrect ResourceGroup provided, inspite of the response is below,

error": {
"code": "ResourceGroupNotFound",
"message": "Resource group 'eastus' could not be found.

## Debug Output

DEBUG: 9:55:4

[2017-06-02 20:07] nutts commented on #1978
I'm new to Azure, had long experience in AWS. In my case, I'm following https://docs.microsoft.com/en-us/azure/virtual-machines/linux/capture-image, I successfully generalized the VM, but when I tried to create Image, I got the error message.

lucasli-OSX:~ lucasli$ az image create --resource-group Campaign --name myImage --source campaignv6-centos
Source Virtual Machine 'campaignv6-centos' specif

[2017-06-02 21:02] sphibbs commented on #386
Closing since the portal has also changed to key1 and key2 a long time ago. Sorry this issues wasn't resolved when that happened

[2017-06-02 21:02] #386 closed

[2017-06-02 21:18] markjbrown commented on #4056
@amitsriva  for Application Gateway. Can you take a look please?

thanks.

[2017-06-02 22:07] solankisamir opened #4069 "New-AzureRmApiManagement should allow creating API with Empty Path"
### Cmdlet(s)

### PowerShell Version
Instructions: to get PowerShell version, type `$PSVersionTable` and look for the value associated with `PSVersion`

### Module Version

### OS Version
Instructions: to get OS version, type `$PSversionTable` and look for value associated with `BuildVersion`

### Description

### Debug Output
Instructions: to get Debug Output, set `$DebugPreference="Continue"` a

[2017-06-03 01:25] jimoneil commented on #2494
@pburkholder @markcowl How does the above respond when the access token expires? With AcquireTokenSilent I'd a new token behind the scenes, but I cannot determine how to access the AuthenticationContext of the already authenticated session in order to make the call to AcquireTokenSilent.

[2017-06-03 16:16] RBACAsk commented on #3771
+ pasinc, armhot and Manik

Hi,
Can you share the exact parameters used with the New-AzurermRoleAssignment cmdlet?

The resource validation is done by ARM team. Manik/armhot to look into this.

Thx
Surabhi

From: nwarriorch [mailto:notifications@github.com]
Sent: Tuesday, May 30, 2017 3:30 PM
To: Azure/azure-powershell <azure-powershell@noreply.github.com>
Cc: RBAC Ask <RBACAsk@microsoft.com>; Men

[2017-06-03 16:55] doctordns commented on #4047
I know what the warning means...  :-)

However, the warning message is not actionable. When is it going to change? What is the impact? what should I do now to avoid issues?  I have had a look and can't find any documentation on the impending changes.  I would like to suggest a more actionable warning message.

Ideally, the cmdlet documentation should be updated to explain what/when, and possibly t

[2017-06-03 17:01] ronbok opened #4071 "New-AzureRmAppServicePlan is missing Tags parameter"
This cmdlet still needs -Tags.

[2017-06-03 19:33] pogarek commented on #3954
The same here.  [Workaround helped](https://github.com/Azure/azure-powershell/issues/3954#issuecomment-303703111)

[2017-06-05 23:02] ejarvi opened #4078 "Disable-AzureRmVMDiskEncryption has no safeguard to prevent rendering a Linux VM inaccessible"
### Cmdlet(s)
Disable-AzureRmVMDiskEncryption

### PowerShell Version
5.1.14393.1198

### Module Version

### OS Version
10.0.14393.1198

### Description

### Debug Output
n/a

### Script/Steps for Reproduction
Disable-AzureRmVMDiskEncryption will render an encrypted Linux VM inaccessible.  The cmdlet documentation does not make it clear that this is currently windows only, and the cmdlet is missi

[2017-06-05 23:40] cormacpayne commented on #4078
@singhkays Hey Kay, would you mind taking a look at this issue?

[2017-06-05 23:46] singhkays commented on #4078
@cormacpayne  This needs to be looked at by the disk encryption team.

[2017-06-06 00:17] ejarvi commented on #4078
I am working on ADE Linux and also willing to investigate and fix.  I opened the issue because I want to ensure we track to resolution.  The cmdlet is Windows only right now, but that isn’t always clear to Linux users since most other commands are hybrids.  Since it is unsafe to use when targeting a Linux VM, I would really like to get a safeguard added here.

From: Cormac McCarthy [mailto:notific

[2017-06-06 00:27] ejarvi commented on #3128
Submitted a PR for this:  https://github.com/Azure/azure-powershell/pull/4079/files

[2017-06-06 00:35] afengli opened #4080 "Add-AzureAccount does not create TokenCache.dat"
### Cmdlet(s)

### PowerShell Version
Instructions: to get PowerShell version, type `$PSVersionTable` and look for the value associated with `PSVersion`

5.1.14393.1198

### Module Version
4.0.2

### OS Version
Instructions: to get OS version, type `$PSversionTable` and look for value associated with `BuildVersion`
10.0.14393.1198
### Description
Add-AzureAccount does not create TokenCache.dat. Th

[2017-06-06 00:59] afengli commented on #4080
some more information. debug shows the call  Microsoft.Azure.Commands.Common.Authentication.ProtectedFileTokenCache.AfterAccessNotification was not called during the token creation.

Even for this one Microsoft.Azure.Commands.Common.Authentication.ProtectedFileTokenCache..ctor(Byte[])

[2017-06-06 02:45] rashadrivera commented on #4044
Hello All,

I was able to create apps on the June 1st, but today I get the same error that **chintan3100** raised.  I don't understand what I need to do as far as formatting dates because the argument I'm passing is of [System.DateTime] type.

I did notice that the certificate that when I created a brand new certificate, this command worked.

**Question:**  Are we not able to upload the same certi

[2017-06-06 07:07] perseusCode commented on #3771
This is by design, we don't do validation for existence of proxy resources as we don't have the information with us. We only validate for the existence of resource if it is tracked. I believe the resource type here is Microsoft.Network/virtualNetworks/subnets which is a proxy resource.

[2017-06-06 07:09] RBACAsk commented on #3771
Replied on the forum directly. The resource in question here is proxy only.
We don’t do any validation for existence of proxy resources. This is because we don’t have the information about resource with us.

Thanks
Manik

From: Surabhi Pandey
Sent: Saturday, June 3, 2017 9:16 AM
To: Azure/azure-powershell <reply@reply.github.com>; Azure/azure-powershell <azure-powershell@noreply.github.com>; Polic

[2017-06-06 11:49] andylyonette commented on #4016
I'm also seeing this issue.  Does anyone know if this has ever worked or if there's a previous module version that works?  I've tried 3.8.0 but am seeing the same issue there as well.

Thanks,
Andy

[2017-06-06 12:43] asgerls commented on #3347
Hi

Did you find a solution to your problem?

kind regards

Asger

[2017-06-06 16:28] cormacpayne commented on #4071
@Nking92 Hey Nicholas, would you mind taking a look at this issue?

[2017-06-06 16:37] cormacpayne commented on #4047
@DeepakRajendranMsft Hey Deepak, would you mind taking a look at this issue? This seems like a reasonable ask (if the warnings are still applicable)

[2017-06-06 16:38] darkshade9 opened #4083 "Set-AzureRmApplicationGatewayBackendAddressPool is not setting BackendIPAddresses"
### Cmdlet(s)
Set-AzureRmApplicationGatewayBackendAddressPool

### PowerShell Version
5.1.14393.953

### Module Version
4.0.2

### OS Version
10.0.14393.953

### Description
Set-AzureRmApplicationGatewayBackendAddressPool is not setting BackendIPAddresses, it is simply returning the Gateway object.

### Debug Output
DEBUG: 12:36:10 PM - GetAzureApplicationGatewayCommand end processing.
DEBUG: 12:3

[2017-06-06 17:03] cormacpayne commented on #4083
@DeepakRajendranMsft Hey Deepak, would you mind taking a look at this issue?

[2017-06-06 17:10] cormacpayne commented on #4078
@SudhakaraReddyEvuri would you mind taking a look at this issue?

[2017-06-06 19:45] #2614 closed

[2017-06-06 19:47] cormacpayne commented on #4071
After looking through our issues a little more, I found that this is a duplicate of https://github.com/Azure/azure-powershell/issues/3996

Closing this issue to track the status on the previously opened issue.

[2017-06-06 19:47] #4071 closed

[2017-06-06 19:59] #2791 closed

[2017-06-06 20:29] cormacpayne commented on #1423
The help for this cmdlet has been updated. Closing this issue.

[2017-06-06 20:29] #1423 closed

[2017-06-06 20:31] cormacpayne commented on #2152
This issue seems to have been resolved as the help for this cmdlet now appears. Closing this issue.

[2017-06-06 20:31] #2152 closed

[2017-06-06 20:32] cormacpayne commented on #2148
This cmdlet has been updated with the appropriate help. Closing this issue.

[2017-06-06 20:32] #2148 closed

[2017-06-06 20:33] cormacpayne commented on #2150
This cmdlet has been updated with the appropriate help. Closing this issue.

[2017-06-06 20:33] #2150 closed

[2017-06-06 20:34] cormacpayne commented on #2151
This cmdlet has been updated with the appropriate help. Closing this issue.

[2017-06-06 20:34] #2151 closed

[2017-06-06 21:02] NelsonDaniel opened #4084 "Resource Providers not registered automatically."
### Cmdlet(s)

[code]
Similar cmdlets giving me this error:
`
New-AzureRmVM`

### PowerShell Version

[code]

### Module Version

[code]

### OS Version

[code]
### Description

I was following this tutorial [Getting started with Azure PowerShell](https://docs.microsoft.com/en-us/powershell/azure/get-started-azureps?view=azurermps-4.0.0) and I got some errors when I tried to **"Create the required

[2017-06-06 21:03] cormacpayne commented on #2440
The help has been updated for the given Websites cmdlets. Closing this issue.

[2017-06-06 21:03] #2440 closed

[2017-06-06 21:08] cormacpayne commented on #4084
@DeepakRajendranMsft @singhkays hey guys, would you mind taking a look at this issue? It looks like there is an error in the sample scripts for creating a VM.

[2017-06-06 21:10] cormacpayne commented on #3763
Closing this issue due to a lack of activity

@ronbok please feel free to re-open this issue if you are still having problems with `Test-AzureRmDnsAvailability` in the latest release of Azure PowerShell

[2017-06-06 21:10] #3763 closed

[2017-06-06 21:28] shahabhijeet opened #4085 "Unable to list CSP subscription"
List-AzureRmAccount -TenantId <tenantId>
List-AzureRmSubscription -TenantId <tenantId>

Does not show list of subscription associated with the tenant.
These subscriptions are CSP subscription.
So this issue is for CSP subscriptions

Works fine with AzureRm.Module 2.4.0
Regression in AzureRm.Module 3.0.0

## Debug Output

[code]

[2017-06-06 22:46] cormacpayne commented on #4085
Need to add the following code before [this line](https://github.com/Azure/azure-powershell/blob/preview/src/ResourceManager/Profile/Commands.Profile/Models/RMProfileClient.cs#L251):

[code]

[2017-06-06 23:13] cormacpayne commented on #4085
Fix is in PR https://github.com/Azure/azure-powershell/pull/4087

[2017-06-07 00:07] NelsonDaniel opened #4088 "For changes that affect only one service, run only tests that are related to that service."
### Description

Currently the PowerShell CI job runs all tests for every check-in. For changes that affect only one service run only the test for that service. This should improve the performance of testing.

- First we need to figure out what are the paths/files that are being changed.
- Then, we need to find the service associated with the paths that were changed.
  - The mappings between the s

[2017-06-07 00:09] #2873 closed

[2017-06-07 02:26] CASSMF commented on #1288
@SiloReed found any Solution to background Jobs?

[2017-06-07 05:52] ashley7070 commented on #3954
I am getting the same problem, the workaround only helps if the following was executed prior to calling
Import-AzureRmContext

`Login-AzureRmAccount -Credential $xxx -ServicePrincipal -TenantId xxx`

This defeats the purpose of caching the authentication in the first place

[2017-06-07 10:00] MSSedusch opened #4090 "Save-AzureRmVhd and Managed Disks"
### Cmdlet(s)
Save-AzureRmVhd

### PowerShell Version
5.1.15063.296

### Module Version
3.0.1

### OS Version
10.0.15063.296

### Description
The Save-AzureRmVhd cmdlet does not support SAS token in the SourceUri and thus cannot download Managed Disks that are exported via Grant-AzureRmDiskAccess or Portal

I would love to see a Save-AzureRmDisk cmdlet that exports the Managed Disks, downloads it

[2017-06-07 15:29] SiloReed commented on #1288
Yes, the workaround I found was to sign into AzureRM with a service principal with certificate authentication. Then the Import-AzureRmContext call works correctly in the background job, most likely because there is no user password when using certificate based authentication. My guess is that Save-​Azure​Rm​Profile doesn't save the user's password, and/or Import-AzureRmContext doesn't use the pass

[2017-06-07 18:22] jzatowski commented on #3958
I am getting the same exact invocation error with the beta version. Unable to import modules AzureRM Netcore

[2017-06-07 19:14] SiloReed opened #4092 "Microsoft.Azure.Commands.AnalysisServices.Models.AzureAnalysisServicesServer does not include a ResourceGroupName property"
### Cmdlet(s)
Get-AzureRmAnalysisServicesServer

### PowerShell Version
PSVersion                      5.1.15063.296

### Module Version
AzureRM.AnalysisServices 0.3.0
### OS Version
BuildVersion                   10.0.15063.296

### Description
Microsoft.Azure.Commands.AnalysisServices.Models.AzureAnalysisServicesServer does not include a ResourceGroupName property. This is not consistent with ot

[2017-06-07 19:21] SiloReed opened #4093 "Get-AzureRmSqlServer 'ServerName' parameter and property should be called 'Name'"
### Cmdlet(s)
Get-AzureRmSqlServer

### PowerShell Version
PSVersion                      5.1.15063.296
### Module Version
AzureRM.Sql 3.0.0
### OS Version
BuildVersion                   10.0.15063.296

### Description
Get-AzureRmSqlServer's ServerName parameter and property should be called Name to be consistent with other cmdlets such as Get-AzureRmAnalysisServicesServer and Get-AzureRMVM
### De

[2017-06-07 19:52] cormacpayne commented on #4092
@athipp @igor-uzhviev Hey Arun and Igor, would you mind taking a look at this issue?

[2017-06-07 19:53] cormacpayne commented on #4093
@akromm Hey Adam, would you mind taking a look at this issue?

[2017-06-07 19:54] cormacpayne commented on #4090
@hyonholee @singhkays Hey guys, would you mind taking a look at this issue?

[2017-06-07 20:03] joedoss opened #4094 "Get-AzureRmImage -Name "XXX" returns all images in the subscription"
### Cmdlet(s)
Get-AzureRmImage

### PowerShell Version
PSVersion                      5.1.14409.1005

### Module Version
Version    Name
-------    ----
3.0.1      AzureRM.Compute

### OS Version
Seen on Server 2012 and Windows 7.  From the Windows 7 machine:
BuildVersion                   10.0.14409.1005

### Description
Using the -Name switch alone returns all images in the subscription, exactly

[2017-06-07 20:21] cormacpayne commented on #4094
@hyonholee @singhkays Hey guys, would you mind taking a look at this issue?

It looks like [this method](https://github.com/Azure/azure-powershell/blob/preview/src/ResourceManager/Compute/Commands.Compute/Generated/Image/ImageGetMethod.cs#L90) only checks for two scenarios:

- `ResourceGroupName` and `ImageName` provided
- `ResourceGroupName` provided

and for the other two scenarios (`ImageName`

[2017-06-07 20:35] frankhinek commented on #3958
@markcowl Hazard a guess on the timing for when a compatible version will be out?

[2017-06-07 20:46] akromm commented on #4093
We could add an Alias for the parameter name.

For the property name (I assume you are referring to the property on the server object that is returned) we have it as "ServerName" so that piping the output of one cmdlet into another works.

eg:
Get-AzureRmResourceGroup | Get-AzureRmSqlServer | New-AzureRmSqlDatabase ...
will create a new database in every server in every resource group in your subs

[2017-06-07 21:14] singhkays commented on #4094
@chagarw FYI

@hyonholee Can you take a look? If we don't have an API for getting the image with just -ImageName then I think the cmdlet should error out

[2017-06-07 21:15] singhkays commented on #4090
@chagarw Is there anything special about MD SAS URI that is different from previous blob SAS URIs?

@hyonholee Can you take a look at why the MD SAS doesn't work?

[2017-06-07 21:37] cormacpayne commented on #4094
@hyonholee @singhkays does it seem feasible to do something like this in the last `else` block?

[code]

We do [something similar](https://github.com/Azure/azure-powershell/blob/preview/src/ResourceManager/Profile/Commands.Profile/Models/RMProfileClient.cs#L278) for `Get-AzureRmSubscription` when the user has provided a subscription name. We have an API call to [get a subscription by ID](https://g

[2017-06-08 05:50] liamdawson commented on #3391
This is _incredibly_ annoying - if I re-run the environment template in CI, an error "Connection attempt failed: The requested address is not valid in its context" returns after **every deploy**. Is there any api at all that can be called? Or even some way I can manually provide my own certificates for the connection? I'm unsure of where the app service gets the private key from.

[2017-06-08 06:05] MSSedusch commented on #4090
@singhkays I don't think there is anything special about MD SAS URI. I think the command never worked for SAS tokens only. It only works with Storage Account Keys or (Resource Group Name and access to the Storage Account in ARM)
But that is never the case for a MD

[2017-06-08 09:41] AndreiAlexandruParaschiv commented on #3958
Same problem at my end as well...

<img width="962" alt="screen shot 2017-06-08 at 11 35 49" src="https://user-images.githubusercontent.com/17162246/26922344-3073fdb2-4c3f-11e7-8952-cd46af3bf025.png">

<img width="943" alt="screen shot 2017-06-08 at 11 36 15" src="https://user-images.githubusercontent.com/17162246/26922364-3bfc2f88-4c3f-11e7-9870-ada65f5b4ce2.png">

[2017-06-08 14:24] Rcho22 commented on #1665
I posted a solution here:
https://www.bountysource.com/issues/29898378-get-azurermsubscription-does-not-work-correctly?show_profile_modal=1

[2017-06-08 15:49] jskii opened #4095 "Get-AzureRmVirtualNetwork doesn't capture logged-in state"
**Cmdlet(s)**

Get-AzureRmWebApp

**PowerShell Version**

PSVersion 5.0.10586.672

**Module Version**

Azure Powershell 4.0.1 release

**OS Version**

BuildVersion 10.0.10586.0

**Description**

The Get-AzurermVirtualNetwork cmdlet always throws error "Run Login-AzureRmAccount to login.".  All other cmdlets tried (Get-AzureRmResourceGroup, Get-AzureRmStorageAccount, others) return logged in state

[2017-06-08 20:14] cormacpayne commented on #4085
Fix is now available in 4.1.0

[2017-06-08 20:14] #4085 closed

[2017-06-09 10:27] arcotek-ltd opened #4106 "Set-AzureRMStorageAccount Pipeline broken in 3.1.0"
### Cmdlet(s)
Set-AzureRMStorageAccount

### PowerShell Version
Instructions: to get PowerShell version, type `$PSVersionTable` and look for the value associated with `PSVersion`

PS C:\> $PSVersionTable.PSVersion

Major  Minor  Build  Revision
-----  -----  -----  --------
5      0      10586  117

### Module Version
AzureRm.Storage 3.1.0 (and 3.0.0)
### OS Version
Instructions: to get OS version

[2017-06-09 11:11] arcotek-ltd commented on #4106
I have now found that if I do:
[code]

I get a further error that doesn't pertain to the available parameters or the documentation:

[code]

[2017-06-09 13:02] YoannGUILLO commented on #3549
Still the same error with the version 4.1.0 of the module AzureRM.Resources
Any issue ?

[2017-06-09 13:19] YoannGUILLO commented on #3677
Still the same error after update the module AzureRM.Resources with the version 4.1.0

[2017-06-09 16:58] cormacpayne commented on #4106
@blueww Hey Wei, would you mind taking a look at this issue?

[2017-06-09 16:59] cormacpayne commented on #4095
@jskii Hey Daniel, would you mind installing the latest modules (AzureRM 4.1.0) from the PowerShell Gallery and see if you are able to repro this issue?

[2017-06-09 17:04] ravbhatnagar commented on #3677
@YoannGUILLO - What permissions were granted to the Service principal when it was created? From error message above, it looks like the service principal does not have permission to perform a write operation for 'Microsoft.Authorization/locks/write' over the indicated scope.

[2017-06-09 17:43] jaredmoo commented on #4093
Thanks for the suggestion @SiloReed . We will investigate and address this soon, but we have some other higher priority fixes for SQL cmdlets that we are working on first. Cheers

[2017-06-09 18:12] cormacpayne commented on #4080
@afengli would you mind providing us with the debug output when executing this cmdlet? You can do so by setting `$DebugPreference=Continue" before executing the set of cmdlets.

Also do you have permissions to read/write in "AppData/Roaming/Windows Azure PowerShell"?

[2017-06-09 18:32] SiloReed opened #4107 "Set-AzureRmResource "hangs" when updating tags on paused AnalysisServices"
### Cmdlet(s)

### PowerShell Version
5.1.15063.296

### Module Version
[code]

### OS Version
10.0.15063.296

### Description
I the Analysis Services server is paused, the Set-AzureRmResource cmdlet hangs for over an hour.

### Debug Output
[code]

### Script/Steps for Reproduction
This script shows the differences between setting the tags on virtual machines, SQL databases and Analysis Services

[2017-06-09 18:45] cormacpayne commented on #4032
@rajaprad it looks like this might be an issue with modules installed from **both** the PowerShell Gallery and MSI. Our suggestion would be to remove any instance of Azure PowerShell that you have on your machine (you can see the locations when running `Get-Module -ListAvailable`) and then once everything has been wiped, install from either the gallery or MSI (but not both 😄 ). Please let us know

[2017-06-09 18:46] cormacpayne commented on #4095
@jskii also, would you mind sending us the result of `Get-Module -ListAvailable` if the issues persists for you? It seems that this is being caused by a mismatch in the versions of modules being used (your `AzureRM.Profile` and `AzureRM.Storage` modules are from a different version of Azure PowerShell than the `AzureRM.Network` module)

[2017-06-09 19:09] afengli commented on #4080
@cormacpayne , yes I am doing it.  you can also try to reproduce it easily. I see multiple instances that the 4.x version module broke the authentication and Azure context.

[2017-06-09 19:24] #555 closed

[2017-06-09 19:39] pearcec commented on #1896
Has this been released?

[2017-06-09 19:45] SquirrelAssassin commented on #1896
Tried PowerShell Module AzureRM.Resources 4.1.0

**hitting:**
Absolute Uri:
https://graph.windows.net/6ac7a1f4-5fb1-4153-bb4f-12d2020a1f7d/getObjectsByObjectIds?api-version=1.6-internal

**with response:**
DEBUG: ============================ HTTP RESPONSE ============================

Status Code:
Forbidden

Headers:
ocp-aad-diagnostics-server-name: dTyuzoHTAk1uQ73PxYsF8j1mcPD3acpzEJCVTKtA5U8=
req

[2017-06-09 19:57] dopic opened #4109 "Get-AzureStorageTable"
### Cmdlet(s)
Get-AzureStorageTable

### PowerShell Version
PSVersion 5.1.14393.1066

### Module Version
Azure.Storage 3.1.0

### OS Version
Windows 10 Pro: 10.0.14393.1066

### Description
I'm trying to get some tables from Azure Storage using the Cmdlet "Get-AzureStorageTable", but the result is always empty. The Cmdlets "Get-AzureStorageQueue" and "Get-AzureStorageContainer" are working correct

[2017-06-09 20:10] darshanhs90 commented on #1896
@SquirrelAssassin Could you let us know the version of azure powershell that you are using.
you can get that by running the following command
Get-Module -ListAvailable -Name Azure -Refresh

[2017-06-09 20:16] cormacpayne commented on #4109
@dopic Hey Douglas, would you mind setting `$DebugPreference="Continue"` and running the cmdlet again so we can get the debug output?

@blueww Hey Wei, would you mind taking a look at this issue?

[2017-06-09 20:18] cormacpayne commented on #4107
@ravbhatnagar Hey Gaurav, would you mind taking a look at this issue?

[2017-06-09 20:38] afengli commented on #4080
@cormacpayne
Adding "$DebugPreference=Continue" does not give more output. There is no permission restriction on th e folder.

[2017-06-09 20:47] akromm commented on #819
#4110

[2017-06-09 20:54] #3047 closed

[2017-06-09 20:54] #3048 closed

[2017-06-09 22:50] #2580 closed

[2017-06-09 23:23] akromm commented on #3662
#4110

[2017-06-10 12:03] 4c74356b41 commented on #3407
appears to be working for me, thanks!

[2017-06-10 17:02] unbreakabl3 commented on #3958
I got the same problem exactly with the same environment.

[2017-06-11 08:38] pixelicous commented on #3954
Same issue here, i have 2.6.0 and 3.0.1 installed - no issued before with import-azurermprofile.

[2017-06-11 08:41] pixelicous opened #4112 "Wrong text in help of Import-AzureRMContext"
### Cmdlet(s)
Import-AzureRmContext
### PowerShell Version
5.1.14393.1198

### Module Version
3.0.1

### OS Version
10.0.14393.1198

### Description
Wasn't sure how to open this if not as an issue.. when running get-help with the full parameter, you get the below text, it should be noted that this file can be created with Save-AzureRmContext..

Example 2: Importing a context from a JSON file
PS C:

[2017-06-12 03:34] blueww commented on #4106
@arcotek-ltd
Set-AzureRmStorageAccount is to change the property of a Storage Account.
But if your script, you don't set any property to change, so nothing to change with this cmdlet, then the cmdlet report error: "Request must specify an account property to update" You can specify any property to change (e.g. - SkuName) then you will not see this error.

If you just want to set the account as the

[2017-06-12 08:30] woter324 commented on #4106
@blueww
I am following an [MS article](https://docs.microsoft.com/en-us/azure/azure-resource-manager/resource-manager-powershell-sas-token) for creating a SAS token on the fly, under the section "Provide SAS token during deployment".

It was working in a previous version of AzureRM.Storage (2.1.0), but it is not working in 3.1.0.
The script broke, trying to do exactly what you prescribe:

[code]

[2017-06-12 08:39] cmendible commented on #4045
Hi guys, I can confirm that the cmdlet is present and working in the latest [4.1.0-June2017](https://github.com/Azure/azure-powershell/releases/tag/v4.1.0-June2017) release.

Thanks!

[2017-06-12 08:39] #4045 closed

[2017-06-12 09:06] blueww commented on #4106
@arcotek-ltd
After review [MS article ](https://docs.microsoft.com/en-us/azure/azure-resource-manager/resource-manager-powershell-sas-token), I see you really want to use Set-AzureRmCurrentStorageAccount .
So the issue is resolved and I will close it.

Feel free to open it if you have any other comments.

[2017-06-12 09:06] #4106 closed

[2017-06-12 09:16] blueww commented on #4109
@dopic

Do you have Storage Tables in your Storage Account? If not, you will get nothing with "Get-AzureStorageTable"

Do you mind try to create a table and then get it?
[code]
If the testable which is just created can be show with "Get-AzureStorageTable",  there should be no tables originally in your Storage Account.

[2017-06-12 10:33] KacperMucha commented on #3954
+1 I'm experiencing the same issue on many computers.

[2017-06-12 11:17] guillemsola commented on #2920
when is this planned to be released?

It seems that Idontknow broke my AzureRM installation... I was unnable to install it again without the clobber option.

[code]

[2017-06-12 12:15] dopic commented on #4109
Hi @blueww! How are you?

Answering your questions:

1) Yes, I have a lot of tables in my Storage Account.
2) No, I'm not using SAS to create the $storageContext. I'm login in using the cmdlet **Add-AzureAccount** and use the cmdlet **Get-AzureStorageKey** to get the storagekey. After that I create the $storageContext.

The two images below will clarify my situation.

This is the storage account t

[2017-06-12 14:39] SquirrelAssassin commented on #1896
Azure is 3.8.0.

[2017-06-12 15:22] YoannGUILLO commented on #3677
I used the azure automation run as account created by default with my automation account, role assigned by default was contributor, I've set to owner and it work now.
Incident can be closed thank for your support.

[2017-06-12 15:56] cormacpayne commented on #2920
@guillemsola this fixed was shipped in the May release of Azure PowerShell (version 4.0.0). I have been unable to reproduce this error when removing all modules from my machine and running `Install-Module -Name AzureRM` and then `Install-Module -Name Azure` (or vice versa). I just tried this on 4.1.0 and was unable to reproduce this error. Would you mind removing all Azure PowerShell modules from

[2017-06-12 16:19] zimmertr commented on #3958
I'm experiencing the same issue on Ubuntu 16.04.

[2017-06-12 17:05] markcowl commented on #4016
@andylyonette This has nothingto do with AzurePowerShell, it has to do with the STS configuration for your organization

[2017-06-12 17:06] markcowl commented on #4016
### Description
Improve error message when authentication fails - provide a good course of action depedneing on the details of the returned exception

### Cost: 2

[2017-06-12 17:07] markcowl commented on #4031
### Description
- [ ] Get Fairfax subscription
- [ ] Run scenarios to verify endpoints
- [ ] Update endppoints

### Cost: 2

[2017-06-12 17:09] markcowl commented on #3954
@ashley7070 Moving the context from one machine to another is an explicit non-goal of this cmdlet.

[2017-06-12 17:14] cormacpayne commented on #4112
@pixelicous Good catch! Thanks for pointing this out. We will update the documentation for this cmdlet and have the fix out next release.

[2017-06-12 17:14] markcowl commented on #3969
This is fixed

[2017-06-12 17:14] #3969 closed

[2017-06-12 17:17] cormacpayne commented on #4112
Fix is in PR https://github.com/Azure/azure-powershell/pull/4114

[2017-06-12 17:39] KacperMucha commented on #3954
I did not try to save context on one computer and import on another. I tried both operations on the same computer, but repeated the procedure on several machines (Win10, Win 2016) and on all of them it failed.

[2017-06-12 17:39] darshanhs90 commented on #1896
@SquirrelAssassin The invalid API version issue was fixed as apart of the 4.0 version release .
Could you install the latest version from here and let me know in case the issue persists still.
https://github.com/Azure/azure-powershell/releases/tag/v4.1.0-June2017

[2017-06-12 18:55] afengli opened #4115 "Import-AzureRmContext does not setup Azure RM profile properly"
### Cmdlet(s)

### PowerShell Version
Instructions: to get PowerShell version, type `$PSVersionTable` and look for the value associated with `PSVersion`

5.1.14393.1198

### Module Version
4.1.0

### OS Version
Instructions: to get OS version, type `$PSversionTable` and look for value associated with `BuildVersion`
5.1.14393.1198
### Description
1. use “Save-AzureRmContext -Path c:\test\azureprofi

[2017-06-12 20:38] guillemsola commented on #2920
@cormacpayne I found that my issue was due to an old installation with the MSI. I think that this came with Visual Studio 2017. Before that I has installed AzueRM module with powershell.

All my modules where very old so I uninstalled them and reinstalled AzureRM with PS.

![image](https://user-images.githubusercontent.com/610476/27053956-8dc43166-4fbf-11e7-8085-6cdaa67c7887.png)

[code]

[2017-06-12 21:27] cormacpayne commented on #2920
@guillemsola okay great, so you are no longer seeing the issue when you remove the old modules and install the new ones? (4.0.0 or later)

[2017-06-13 01:16] markcowl commented on #4112
Fixed

[2017-06-13 01:16] #4112 closed

[2017-06-13 01:19] markcowl commented on #3958
@frankhinek @JamesWTruher   The new modules are due out this week.  They will require using the new beta2 version of powershell core

[2017-06-13 01:23] markcowl commented on #3931
@consultguru Can you run ```Get-Module -ListAvailable``` and post the results when you are able to repro the error?

Does this repro with the latest version (4.1.0)

[2017-06-13 01:31] markcowl opened #4116 "Maintain ci run for Live tests"
### Description

Automate live run using powershell core test suite

- [ ] Store service credentials in KeyVault
- [ ] Update login to use service credentials
- [ ] Set up ci script to run tests and report success / failure
- [ ] Set up scheduled CI run executing tests in netcore and net45

### Cost: 8

[2017-06-13 01:43] #1164 closed

[2017-06-13 02:04] ashley7070 commented on #3954
@markcowl can you please share why this is an explicit non-goal? Our use case is to use it in a CI automated environment such appveyor which uses ephemeral build agents. I believe automation is the main reason why most people would used the cmdlet and expecting it to only on the machine has been created in the first place is not reasonable in my opinion.

[2017-06-13 02:06] jachin84 opened #4118 "Get-AzureRmVM inconsistent results when run against a list of VMs"
### Cmdlet(s)
`Get-AzureRmVM`

### PowerShell Version
`PSVersion                      5.1.15063.296`

### Module Version
[code]

### OS Version
`BuildVersion                   10.0.15063.296`

### Description
When running Get-AzureRmVM against a single VM the details regarding installed extensions are available.
[code]

When running the same command to get all VMs there are no details about the ex

[2017-06-13 02:11] markcowl opened #4119 "Verify machine configuration for signing ci workers"
### Description
- [ ] Contact Shawn about creating an additional ci machine for powershell signing
- [ ] Verify correct execution of powershell-sign job for additional signign worker(s)
- [ ] Ensure that any config changes are reflected in Shawn's setup task/script for the machine

### Cost: 2

[2017-06-13 03:29] blueww commented on #4109
@dopic
Thanks for the reply!
But I can't repro the issue locally. So would you please help to check again if you use same account in PowerShell and the Storage Explorer.

If so, to make the issue simple, would you please run only following cmdlet and give the result and the time(UTC) to run it, I need the account name and request ID in it to query server log and get more clue for this issue:
`Get-

[2017-06-13 05:18] consultguru commented on #3931
Yes, it had reproed with 4.1.0 and 3.8.0 side-by-side.
However, I've forced deleted all Azure* modules and installed 3.8.0 now. should have taken a module listing earlier. Don't have another machine to spare for the tryouts.
Sorry.

[2017-06-13 07:26] 4c74356b41 commented on #3954
@ashley7070 there are other means to automate login (i.e. service principal login). so not save token\use it.

and this is perfectly fine (I'm using SP login), but not being able to parallel this stuff (I cant login in jobs as the user running my scripts might not have SP to login and might not want to share credentials with my scripts) with save\import is not fun

[2017-06-13 07:57] YoannGUILLO commented on #3407
Same error when I use the command with my Automation Account (Run As Account created by default with my Automation account)
Get-AzureRmRoleAssignment : Exception of type 'Microsoft.Rest.Azure.CloudException' was thrown.
My modules have been updated, AzureRM.Resources : version 4.1.0

[2017-06-13 08:35] 4c74356b41 commented on #1200
so, i guess it didn't make it to may 2017 release? any new dates?

[2017-06-13 13:23] guillemsola commented on #3954
Hi,

I'm also affected with this. My way to test it

1 - Open a PS console and execute

[code]

[code]

by the way I came here by [this stackoverflow question](https://stackoverflow.com/questions/44519462/import-saved-azurermcontext-still-requires-password/44519730#44519730)

[2017-06-13 13:29] dnewsholme opened #4122 "Get-AzureRMServiceBusNameSpace doesn't return a value for resourcegroupname"
### Cmdlet(s)

Get-AzureRMServiceBusNameSpace

### PowerShell Version
 5.1.14393.1198

### Module Version
Manifest   0.0        AzureRM.ServiceBus
### OS Version
10.0.14393.1198
### Description
When running
     (Get-AzureRMServiceBusNameSpace)[0] | select *
The resource is returned with a null value for resourcegroup name.

[2017-06-13 14:04] guillemsola commented on #2920
@cormacpayne I installed both and once removed the old MSI installation issue was not anymore.

[2017-06-13 14:18] SquirrelAssassin commented on #1896
So I updated azure: install-module azure -force as seen below and still get the error.  I had another guy test and got the same thing.  Now I went and had someone else go and download the msi for the latest which installs to his x86 directory which worked.  Thoughts?

    Directory: C:\Program Files\WindowsPowerShell\Modules

ModuleType Version    Name                                ExportedComman

[2017-06-13 16:05] pixelicous commented on #3692
It would be good if we can specify -nowait command on removing resources and other scripts.

I have an azure automation runbook that removes resource groups, everytime i run it, i have to wait through the whole process, paying for those minutes, instead of the provider doing the work while i do not wait

[2017-06-13 16:58] cormacpayne commented on #4118
@singhkays Hey Kay, would you mind taking a look at this issue?

[2017-06-13 16:59] cormacpayne commented on #4122
@v-Ajnava Hey Ajit, would you mind taking a look at this issue?

[2017-06-13 17:03] akromm opened #4124 "SQL documentation improvements reverted by platyPS"
Some documentation improvements were reverted by platyPS in PR: https://github.com/Azure/azure-powershell/pull/4110

Need to follow up with platyPS to see if it is possible to improve/modify the output of platyPS to incorporate the improvements that were reverted.

[2017-06-13 17:09] akromm commented on #4093
Resolved with #4110

[2017-06-13 17:09] #4093 closed

[2017-06-13 17:09] akromm commented on #3662
resolved with #4110

[2017-06-13 17:09] #3662 closed

[2017-06-13 17:09] akromm commented on #819
resolved with #4110

[2017-06-13 17:09] #819 closed

[2017-06-13 17:12] ravbhatnagar commented on #3677
Thanks for confirming! Closing this issue.

[2017-06-13 17:12] #3677 closed

[2017-06-13 17:19] singhkays commented on #4118
@jachin84 most likely nothing can be done until REST API supports it. Calling a GET on each VM in the LIST VMs API return will increase the time it takes for List call to return. Also it could lead to your subscription being throttled if many RBAC'd users in your subscription make the same call.

[2017-06-13 17:30] RBACAsk commented on #1896
+ Mark, Abhijeet

This looks like an issue with installing a new version of Azure PowerShell on top of existing one.

One option could be to uninstall the current version and then install the latest version on your machine.

Thx
Surabhi

From: SquirrelAssassin [mailto:notifications@github.com]
Sent: Tuesday, June 13, 2017 7:21 AM
To: Azure/azure-powershell <azure-powershell@noreply.github.com>
Cc:

[2017-06-13 17:32] RBACAsk commented on #3407
Can you share the exception details?

Thx
Surabhi

From: Yoann GUILLO [mailto:notifications@github.com]
Sent: Tuesday, June 13, 2017 12:59 AM
To: Azure/azure-powershell <azure-powershell@noreply.github.com>
Cc: RBAC Ask <RBACAsk@microsoft.com>; Mention <mention@noreply.github.com>
Subject: Re: [Azure/azure-powershell] Get-AzureRmRoleAssignment command failing (#3407)

Same error when I use the com

[2017-06-13 17:57] darshanhs90 commented on #3407
@YoannGUILLO could you run the command after setting $DebugPreference="Continue"
so that it will be easier to know the cause for this issue

[2017-06-13 18:34] pixelicous commented on #3954
@markcowl I think that having this as a non goal between VMs is fine
Problem is it happens on the same VM
As said before hand, happens when starting new jobs with the cmdlet

[2017-06-13 19:10] RBACAsk commented on #1896
‘Azure’ is the module that contains RDFE cmdlets. ‘AzureRM’ is the module that contains ARM cmdlets (and AD cmdlets).  You want to make sure you have the latest version for the ARM module installed.

You can safely remove the folders under Program Files\WindowsPowerShell\Modules\Azure*  and re-install AzureRM.

From: Surabhi Pandey
Sent: Tuesday, June 13, 2017 10:31 AM
To: Azure/azure-powershell <

[2017-06-13 19:24] v-Ajnava commented on #4122
We have deprecated the resource group property for Service bus. please use the 0.3.0 and above. Link: https://www.powershellgallery.com/packages/AzureRM.ServiceBus/0.4.0

[2017-06-13 19:31] cormacpayne opened #4125 "Design pattern for generic SupportsPaging"
Use current `PageEnumerable` and `PageEnumerator` classes to come up with design for generic pagable enumerator that we can use for `-First` and `-Skip` parameters when a cmdlet implements `SupportPaging`

### Hours: 8

[2017-06-13 20:42] SquirrelAssassin commented on #1896
Its working now, thanks for the feedback folk!

[2017-06-13 23:18] shahabhijeet opened #4129 "Acquiring Azure PS modules using Install-Module Troubleshooting guide"
Lately there have been numerous reports of users getting into a state where they are not able to execute certain cmdlets.
Most of the time, this is a result of users not sure what version they installed and how they acquired them.

Currently you can install Azure PowerShell modules using:
1. MSI
2. PowerShell Gallery.

Have a troubleshooting guide that will document:
1) Under what scenarios users

[2017-06-13 23:57] travismc1 opened #4130 "Set-AzureRmVMExtension throws 'Changing Property publisher is not allowed'"
### Cmdlet(s)
Following the powershell for vm access reset: https://github.com/Azure/azure-linux-extensions/blob/master/VMAccess/README.md

$RGName = '<resource-group-name>'
$VmName = '<vm-name>'
$Location = '<location>'

$ExtensionName = 'VMAccessForLinux'
$Publisher = 'Microsoft.OSTCExtensions'
$Version = '<version>'

$PublicConf = '{}'
$PrivateConf = '{
  "username": "<username>",
  "password":

[2017-06-14 01:21] ashley7070 commented on #3954
@4c74356b41 @pixelicous can you please share your thoughts on why it is OK for it to run a single VM(multiple PS session) and not on multiple VMs. The concepts are the same. You are scaling up when doing it on a Single VM. Good architecture would suggest having the ability for software to work whether you are scaling up and out. What would you do if your VM crashes? Building software to work on a

[2017-06-14 03:46] dewanymca commented on #1725
I got into same issue I am using Login-AzureRMAccount command with service principal option, however when I run Select-AzureRMSubscription I am getting below error:Select-AzureRmSubscription : Provided subscription c2403b7f-d35b-405a-bccf-d954202081ef does not exist

Same thing works on my machine and fails on Azure Automation Account runbook,

[2017-06-14 05:33] pixelicous commented on #3954
@ashley7070 I do not want to share my session or token across VMs, in terms of security.. I have a script, it starts parallel jobs and uses the same profile across them.. if something is to happen to my vm, copying the script and running it on another VM would be just fine, that would work, you just cant share that credentials context file between VMs.. there are other means to achieve that.. I cl

[2017-06-14 08:11] 4c74356b41 commented on #3954
@ashley7070 it is pretty clear you dont understand the difference between sharing session and being able to parallel out workloads. first is bad, second is good.

[2017-06-14 08:42] guillemsola commented on #3954
@4c74356b41 @pixelicous agree. I'm currently doing some performance testing where I need to start/stop up to 100 VM so I have many other interesting things to do than waiting one after the other 😄

[2017-06-14 08:47] pixelicous commented on #3954
@guillemsola Azure is sooo slow as is.. imagine without that cmdlet! They need to add -nowait to every cmdlet that handles resources, that annoying wait for a cmdlet to finish although you dont need to wait for it to finish is killing me, especially for runbooks where you pay by the minute and the provider of the resource is doing all the work, while your runbook does nothing but wait

[2017-06-14 09:30] 4c74356b41 commented on #3954
@pixelicous @guillemsola  there will be `-asjob` switch soon, as far as i'm aware (there was an issue on this project, you can try searching for it). also, try using the Azure CLI v2 (the az one, not azure). it has got `--no-wait` on many calls

[2017-06-14 10:18] pixelicous commented on #3954
@4c74356b41 CLI won't do, i am working with powershell as i am using the scripts as runbooks. I have been trying to look for a thread such as this on GIT, wasn't sure where to start, i wrote on the MSDN forums about this today...
Are there any plans for the -asjob to work also with azure automation runbooks?? Right now i have to start automation jobs, meaning the scripts running on premise or runn

[2017-06-14 11:59] 4c74356b41 commented on #3954
@pixelicous I don't understand the question. no one forbids you starting 2 runbooks, or 20, or 20000. whats the problem? i mean, i mostly don't understand what you are asking.

[2017-06-14 14:18] pixelicous commented on #3954
@4c74356b41 Yes of course, but if i want the runbook to run for the least amount of minutes, as we pay by the minute. I want the runbook to continue on, without waiting for the action to complete, as i do not rely on its output, i want to fire and forget.. thus runbook will run much faster. hope i made it a bit more understandable :)

[2017-06-14 15:01] 4c74356b41 commented on #3954
@pixelicous  oh, well, i don't know about that. I never tried jobs inside runbooks. if that works, I don't see a reason why not if not (which might be the case) you are out of luck

[2017-06-14 15:35] pixelicous commented on #3954
@4c74356b41 i also dont work with jobs inside runbooks, according to my check it isn't supported, but i did need to translate my scripts to runbooks as i wanted the azure api functionality to execute runbooks.. so in order to bypass parallel processing issues (without using powershell workflow) i execute child runbooks without waiting for them (as seperate job).. thus was wondering if that -asjob

[2017-06-14 17:23] RBACAsk commented on #3407
Looks like the user or service principal that you are logged-in with doesn’t have sufficient permissions on AAD Graph side.

https://graph.windows.net/24139d14-c62c-4c47-8bdd-ce71ea1d50cf/getObjectsByObjectIds?api-version=1.6<https://na01.safelinks.protection.outlook.com/?url=https%3A%2F%2Fgraph.windows.net%2F24139d14-c62c-4c47-8bdd-ce71ea1d50cf%2FgetObjectsByObjectIds%3Fapi-version%3D1.6&data=02%

[2017-06-14 18:29] YoannGUILLO commented on #3407
The account is owner on the subscription.

[2017-06-14 19:16] RBACAsk commented on #3407
I was referring to permissions in the AAD tenant. The permissions for calls to graph.windows.net are not mapped to Azure subscriptions.

Thx
Surabhi

From: Yoann GUILLO [mailto:notifications@github.com]
Sent: Wednesday, June 14, 2017 11:30 AM
To: Azure/azure-powershell <azure-powershell@noreply.github.com>
Cc: RBAC Ask <RBACAsk@microsoft.com>; Mention <mention@noreply.github.com>
Subject: Re: [Azu

[2017-06-14 21:26] jachin84 commented on #4118
I noticed that 'Get-AzureRmVM -Status' does actually call a GET on each VM getting the required information from the API but still does populate all the properties of the response object. Perhaps '-Status' could be fixed to properly populate the response object?

[2017-06-14 21:58] viananth opened #4133 "AzureRm.Bootstrapper: Review & update Readme.md files"
Update readme files for Enabling & disabling default profiles

[2017-06-14 22:01] viananth opened #4134 "AzureRm.Bootstrapper: Signing & release works"
Finish pending works such as signing for enabling release the next version (bump up version).

[2017-06-14 22:51] ahmedelnably opened #4135 "No command to enable Always On"
### Cmdlet(s)

### PowerShell Version
All

### Module Version
All

### OS Version
All

### Description
No command to enable Always On

### Debug Output
N/A

### Script/Steps for Reproduction
N/A

[2017-06-15 01:14] jskii commented on #4095
Hey @cormacpayne, sorry I missed this. Thanks for the reply. I will get this info for you first thing tomorrow, and ping you again!

[2017-06-15 01:47] ravbhatnagar commented on #1817
@jensmh  @laughtonsm @nik-shornikov - While we try to get the right fix for this issue, may be you can try the serial copies support in ARM as documented here -
https://docs.microsoft.com/en-us/azure/azure-resource-manager/resource-group-create-multiple#serial-copy

Sample - https://github.com/rjmax/Build2017/blob/master/Act1.TemplateEnhancements/Chapter03.SerialCopies.json

@markjbrown to comment

[2017-06-15 08:09] zhiweiv opened #4137 "Set-​Azure​Service​Antimalware​Extension overrides existing settings."
I have two roles in one cloud service, in azure portal I can set different anti-malware setting for each role.

If I enabled anti-malware for roleA first, then I enable anti-malware for roleB by Set-​Azure​Service​Antimalware​Extension, the anti-malware status of roleA will be disabed.

I want to use powershell to set different anti-malware setting for each role, but failed now, is this a bug?

Th

[2017-06-15 09:56] YoannGUILLO commented on #3407
How can I check these permissions ?
The run as service account is owner of my subscription, I don't know how to check the permissions to call graph.windows.net

[2017-06-15 10:33] peterd3270 commented on #3958
Same problem on ubuntu 14.04. Good news that it's being fixed. What was the problem?

[2017-06-15 14:15] jskii commented on #4095
@cormacpayne: Uninstalling all Azure/AzureRm modules and reinstalling from the module gallery fixed this. Thanks for your help!

[2017-06-15 14:15] #4095 closed

[2017-06-15 16:18] mattcowen commented on #3979
As per the previous, is there a workaround please?

[2017-06-15 17:16] RBACAsk commented on #3407
You can log into portal.azure.com<http://portal.azure.com> using an account from this tenant and then check the Applications in the Azure Active Directory section.

+ Vadim for more info.

Thx
Surabhi

_____________________________
From: Yoann GUILLO <notifications@github.com<mailto:notifications@github.com>>
Sent: Thursday, June 15, 2017 2:57 AM
Subject: Re: [Azure/azure-powershell] Get-AzureRmRo

[2017-06-15 17:55] viananth opened #4138 "AzureRm.Bootstrapper: Verify default profile in multiple platforms"
Install & check if setting and removing default profile works as expected across different platforms and different versions of powershell

[2017-06-15 17:58] viananth opened #4139 "AzureRm.Bootstrapper: Run PSScriptAnalyzer"
Check code coverage

[2017-06-15 18:01] #3619 closed

[2017-06-15 18:01] #3308 closed

[2017-06-15 18:29] rajaprad opened #4141 "New-AzureRMRoleAssignment fails with "Object reference not set to an instance of an object""
### Cmdlet(s)
New-AzureRMRoleAssignment

### PowerShell Version
5.0.10586.117

### Module Version
AzureADPreview - 2.0.0.127

### OS Version
10.0.10586.117

### Description

New-AzureRMRoleAssignment fails with "Object reference not set to an instance of an object".
This does not give me any indication on whats going wrong!

PS C:\Windows\system32> New-AzureRMRoleAssignment -ObjectId 386109e0--415

[2017-06-15 19:20] cormacpayne commented on #4141
@RBACAsk would you mind taking a look at this issue?

@rajaprad in version 4.1.0 of Azure PowerShell we introduced a new cmdlet, `Resolve-AzureRmError`, that will allow you to get more information on the errors you are seeing. Would you mind using that cmdlet after you get the error above to get more information?

Also, if you wouldn't mind, could you set `$DebugPreference="Continue"` and run the

[2017-06-15 19:31] cormacpayne commented on #4130
@travismc1 I have contacted the Extensions team to take a look at this issue

[2017-06-15 19:57] akromm commented on #2167
@markpjohnson  have you tried using the [Get-AzureRmMetric](https://docs.microsoft.com/en-us/powershell/module/azurerm.insights/get-azurermmetric?view=azurermps-4.1.0) cmdlets?

[2017-06-15 20:26] akromm commented on #2260
Closing as duplicate of #635

[2017-06-15 20:26] #2260 closed

[2017-06-15 20:26] akromm commented on #635
@pcgeek86 Its been a while, but I've started working on this :)

[2017-06-15 20:33] msevastian opened #4142 "Login-AzureRMAccount pop-up window appears at the background"
### Cmdlet(s)
Login-AzureRMAccount

### PowerShell Version
PSVersion 5.1.14393.1358

### Module Version
Azure Powershell - December 2016

### OS Version
BuildVersion  10.0.14393.1358

### Description
While running at Login-AzureRMAccount cmdlet it is launching pop-up login window at the very background, so all windows should be minimized in order to get access to it. Sometimes when you require to

[2017-06-15 21:07] akromm commented on #2065
@MikalJ backend work has been done to make server delete asynchronous. As a result the cmdlets will be updated to poll for the status of the delete and wait until the server delete is complete. @jaredmoo is currently working on updating the cmdlets.

[2017-06-15 21:07] #2167 closed

[2017-06-15 21:14] sahammer opened #4143 "New-AzureRmSiteRecoveryPolicy Internal Error"
### Cmdlet(s)

### PowerShell Version
5.1.15063.296

### Module Version
4.1.0

### OS Version
10.0.15063.296

### Description
I'm executing the following commands:

[code]

I am *not* getting any errors in PowerShell itself, but when I take a look at the Site Recovery jobs in Azure (Or in PowerShell) the job has failed:

ERROR MESSAGE An internal error occurred.
POSSIBLE CAUSES The operation faile

[2017-06-15 21:25] jaredmoo commented on #2065
Thanks @akromm . After https://github.com/Azure/azure-powershell/pull/4132 is merged, Remove-AzureRmSqlServer will wait until the server is fully deleted.

[2017-06-16 08:48] GoEddie commented on #1803
I got this, please remove the restriction - I am confident that I am capable of managing a set of files :)

[2017-06-16 09:44] DdenBraver commented on #3979
@mattcowen : Workaround I am using is to specify the storageaccountname and storageaccount key, rather then the storagecontext.

[2017-06-16 18:19] sahammer commented on #4143
After some additional troubleshooting when I ran into another issue it *appears* that I had a bunch of conflicting versions of Azure PowerShell.

However, I am still a bit confused. I am able to run the command both **with** and **without** `-RecoveryAzureStorageAccountId `

What exactly is the point of that if it is not required? I also do not see Storage Account when you add a Replication Policy

[2017-06-16 18:48] SwapnilGoad commented on #3954
Here's what I did to make it work for me:
Installed AzureRM version 3.8.0 on top of version 4.1.0:

`Install-Module -Name AzureRM -RequiredVersion 3.8.0`

Into the Script I explicitly imported version 3.8.0
``

Here's the sample script:
[code]
I have tested this with two different subscriptions and it works like charm............

[2017-06-16 19:04] Marc013 commented on #3954
@SwapnilGoad
With all due respect. What you are telling is not a solution. It's simply using an old version.

@markcowl
It's awfully quiet from your side.
Are you still working on a solution?

Currently, we can still make it work with loading the old PowerShell modules however we need to transfer to the latest version at latest 13th July 2017 as that is the date all Azure scheduled runbooks will b

[2017-06-16 19:39] 4c74356b41 commented on #3954
@Marc013 lol, i didn't even think about that, yeah, that sounds like a real blocker.

[2017-06-16 23:17] thatnerdyguy commented on #2192
FYI, for future googbingers, I solved this by making sure to call New-SelfSignedCertificate with -Provider "Microsoft Enhanced RSA and AES Cryptographic Provider", as mentioned [here](https://blogs.technet.microsoft.com/keithmayer/2016/03/26/8-steps-for-using-azure-ad-service-principal-certificate-authentication-with-azure-automation-powershell-workflow-runbooks/)

[2017-06-17 00:54] markcowl opened #4144 "TokenCache.dat not created in profile initialization"
### Description

When there is no TokenCache.dat file, we do not create a new one at profile initialization, because we create a cache using data of zero length.  Instead we need to initialize the TokenCacheData with a default TokenCache here:  https://github.com/Azure/azure-powershell/blob/preview/src/Common/Commands.Common.Authentication/AzureSessionInitializer.cs#L62

- [x] Update ```AzureSessi

[2017-06-17 00:55] markcowl commented on #4080
@afengli We have found the root cause - if you don't have a TokenCache.dat file already, it is not creat6ed at startup.  Filed an issue here: https://github.com/Azure/azure-powershell/issues/4144 to fix in the current milestone

[2017-06-17 01:23] markcowl opened #4145 "AuthenticationStoreTokenCace.CacheData should come from the serialized data in the ADAL TokenCache"
### Description

As seen here: https://github.com/Azure/azure-powershell/blob/preview/src/Common/Commands.Common.Authentication/Authentication/AuthenticationStoreTokenCache.cs When the CacheData proeprty is set or retrieved, the data simply comes from an internal byte array.  Instead, the data should come from and be stored in the ADAL TokenCache using the Serialize and Deserialize methods

- [x]

[2017-06-17 02:00] markcowl commented on #4115
Found the root cause:  https://github.com/Azure/azure-powershell/issues/4145 When there is no ProtectedFileTokenCache file, the tokens will not be transmitted from the saved context.  Slated to fix in the July release.

[2017-06-17 02:03] markcowl commented on #3954
@Marc013 @kuomingwu  @webbdog28  @iamGavinJ  @SiloReed  Found the root cause.  The reason we had such a difficult time reproing was because we were stupidly not using a clean install on  a new machine.  Once we did this, it is easy to repro.

What is happening is that

(1) If you do not have TokenCache.dat in ```'%AppData%\Roaming\Windows Azure PowerShell'``` then you end up using a different Toke

[2017-06-17 02:05] markcowl commented on #3954
Issues: #4144, #4145

[2017-06-17 03:00] rajaprad commented on #4141
@cormacpayne , i the process of trying Resolve-AzureRmError i ended up upgrading powershell version to 4.1.0 and the issue is no more repro.

Thanks for the assistance!

[2017-06-17 03:00] #4141 closed

[2017-06-17 03:31] markcowl commented on #3954
For those hitting this issue, here is a workaround:

[code]

[2017-06-17 03:38] markcowl commented on #3954
Actually, jere is a simpler workaround:

[code]

[2017-06-17 04:05] markcowl commented on #3954
The first may fix the issue permanently on a machine.  The second would need to be run each time you imported the context

[2017-06-17 17:52] Marc013 commented on #3954
@markcowl
Thanks! It's good to have a workaround (I tested it and it does the trick for me) and a date the permanent fix might be present.
Keeping my fingers crossed for the 7th of July ;-)

[2017-06-18 16:40] jaredmoo opened #4148 "Re-record SQL database stretch edition tests"
The stretch edition tests are being disabled in #4132 due to temporary service issues related to stretch edition. When the issue is resolved, the tests should be re-enabled and recorded.

[2017-06-19 13:49] tadmuck commented on #3958
Is there a workaround?  It's still a problem in beta.2:

[2017-06-19 16:52] viananth opened #4150 "AzureRm.Bootstrapper: Update ProfileMap online"
ProfileMap available online should be updated to reflect new module version changes.

[2017-06-19 16:56] #3836 closed

[2017-06-19 17:07] viananth commented on #4139
Finished.

[2017-06-19 17:07] #4139 closed

[2017-06-19 17:10] markcowl opened #4151 "Fix parameter sets for Import-AzureRmContext"
### Description

Import-AzureRmContext has no default parameter set, and two mutually exclusive parameters,Ensure that both:

- [x] Have a parameter set for Path
- [x] Have a parameter set for Profile
- [x] Have specified the path parameter set as the default parameter set
- [x] Will correctly prompt for path if no parameters are provided

### Cost: 1

[2017-06-19 19:40] markcowl commented on #4144
Fixed.  Will ship in next release

[2017-06-19 19:41] markcowl commented on #4080
Fixed.  Will ship in in July release

[2017-06-19 19:41] #4080 closed

[2017-06-19 19:42] markcowl commented on #4115
Fix checked in.  Wil ship in next release

[2017-06-19 19:42] #4115 closed

[2017-06-19 19:42] #4144 closed

[2017-06-20 01:08] markcowl commented on #4145
Fixed

[2017-06-20 01:08] #4145 closed

[2017-06-20 05:25] johanburati commented on #3958
Same error on CentOS 7.3

[code]

[2017-06-20 05:31] sambanks commented on #3958
Same in Ubuntu 17.04

[2017-06-20 05:55] jaredmoo opened #4155 "Rewrite SQL backup tests to be recordable"
The following tests in Commands.Sql.Tests have hardcoded configuration and cannot be easily re-recorded:

- TestListDatabaseRestorePoints
- TestRestoreGeoBackup
- TestRestoreDeletedDatabaseBackup
- TestRestorePointInTimeBackup
- TestServerBackupLongTermRetentionVault
- TestDatabaseBackupLongTermRetentionPolicy
- TestRestoreLongTermRetentionBackup
- TestDatabaseGeoBackupPolicy

When tests cannot be

[2017-06-20 05:56] jaredmoo opened #4156 "Rewrite SQL index recommendation tests to be recordable"
The following tests in Commands.Sql.Tests have hardcoded configuration and cannot be easily re-recorded:

- TestGetIndexRecommendation
- TestCreateIndex

When tests cannot be run live, it becomes substantially more difficult to maintain the product and large changes have an increased risk of regressions. These tests should be rewritten so that they can be re-recorded.

[2017-06-20 06:05] jaredmoo commented on #4156
This issue came up because it contributed to the difficulty of making change #4132 .

[2017-06-20 06:05] jaredmoo commented on #4155
This issue came up because it contributed to the difficulty of making change #4132 .

[2017-06-20 06:15] jaredmoo commented on #3125
I don't see any MSTests any more. Can this be closed?

[2017-06-20 06:52] cloud4shaon commented on #1597
i got stuck with the same issue and therefore I am here. Just looked up at the solution and can see we need to remove the following command : Set-AzureRmVMOperatingSystem.
Microsoft says the same (https://docs.microsoft.com/en-us/powershell/module/azurerm.compute/set-azurermvmoperatingsystem?view=azurermps-4.1.0)

**they say that this piece of command is only for new VM creation.**

[2017-06-20 18:52] rashmi-jha opened #4161 "Get-azurekeyvaultcertificate -VaultName $VaultName -Name $CertName -IncludeVersions returns error instead of iterating through all the cert versions"
### Cmdlet(s)

### PowerShell Version
Instructions: to get PowerShell version, type `$PSVersionTable` and look for the value associated with `PSVersion`

### Module Version

### OS Version
Instructions: to get OS version, type `$PSversionTable` and look for value associated with `BuildVersion`

### Description

### Debug Output
Instructions: to get Debug Output, set `$DebugPreference="Continue"` a

[2017-06-20 19:40] SiloReed opened #4162 "Various issues with the operation names in the Microsoft.Sql provider"
### Cmdlet(s)
Set-AzureRmSqlDatabase,  Get-AzureRMProviderOperation

### PowerShell Version
5.1.15063.413

### Module Version
AzureRM.Sql 3.1.0

### OS Version
10.0.15063.413

### Description
I'm attempting to determine the least amount of privileges necessary to update the tags on a SQL Database. I'm using a service principal with a custom role assignment and role definition. It appears that the

[2017-06-20 19:53] rosshopkins7 opened #4163 "AzureRM.OperationalInsights Bug"
### Cmdlet(s)
Get-AzureRmOperationalInsightsSearchResults

### PowerShell Version
5.1.15063.413

### Module Version
AzureRM.OperationalInsights - 3.1.0
### OS Version
Major  Minor  Build  Revision
-----  -----  -----  --------
10     0      15063  413

### Description
The Get-AzureRmOperationalInsightsSearchResults cmdlet is not returning JSON formatted data as it did in previous builds of the Azu

[2017-06-20 20:23] SiloReed commented on #2979
I'm porting some PowerShell code that I've used to start and stop AWS EC2 instances to AzureRM. I was surprised to find that the Start-AzureRmVM and Stop-AzureRmVM cmdlets were blocking, which is different behavior than the corresponding EC2 cmdlets, Start-EC2Instance and Stop-EC2Instance, which return an object immediately. To workaround this problem I've had to resort to wrapping the AzureRM cmd

[2017-06-20 20:23] cormacpayne commented on #4162
@akromm Hey Adam, would you mind taking a look at this issue?

[2017-06-20 20:25] cormacpayne commented on #4163
@xizhamsft Hey Xiaofang, would you mind taking a look at this issue?

[2017-06-20 21:35] akromm commented on #4162
Hi @shahabhijeet, thanks for reporting this.  I have investigated the issue and determined the cause.  To fix this it will require some backend changes and deployment.  I will update when I have a timeline for the expected fix.

[2017-06-20 22:19] cormacpayne commented on #4162
@SiloReed ^

[2017-06-21 00:58] atpham256 commented on #4033
Sorry for the extremely delayed response.

It sounds like you already have a transformation created based on the error message. Have you done a Get-AzureRMStreamAnalyticsJob to see if there is a transformation already created?

[2017-06-21 09:26] iamshital opened #4168 "Get-AzureRmVMBootDiagnosticsData fails to get data if diagnostic storage account is in another resource group."
### Cmdlet(s)
Get-AzureRmVMBootDiagnosticsData

### PowerShell Version
5.1.15063.413

### Module Version
4.1.0

### OS Version
10.0.15063.413

### Description
When the boot diagnostic storage account is not present in the same resource group as VM, "Get-AzureRmVMBootDiagnosticsData" command fails to fetch the data.

### Debug Output
[code]

Expected:
Command should automatically resolve the Absolu

[2017-06-21 17:15] begoldsm opened #4169 "Tracing output of the x-ms-client-request-id is incorrect, uses "old" ID"
### Cmdlet(s)
All cmdlets.
### PowerShell Version
Any version

### Module Version
Any Version
### OS Version
Any OS

### Description
CmdletInfoHandler.cs replaces the x-ms-client-request-id header after the trace logger has already logged the previous ID. This results in the debug logging having an incorrect x-ms-client-request-id logged in the request. To fix this, either the CmdletInfoHandler sh

[2017-06-21 17:30] zechariahks commented on #4033
Hi,

Thanks for your reply. sorry I forgot to update this ticket. I have figured out the issue.

Issue is with my transformation JSON file. It has the \r \n characters. After I cleaned up these characters, the same command worked fine.

I guess, the error message is misleading. If there is a problem with my JSON, it should have thrown invalid JSON.

Regards,

Zech

________________________________

[2017-06-21 17:38] dopic commented on #4109
Hi @blueww!

I don't know what happened, but I had to format my pc because of a problem in my HD.
After installing everything again, the cmdlet Get-AzureStorageTable worked correctly.

Thanks for yout time!

[2017-06-21 17:38] #4109 closed

[2017-06-21 19:20] jimbrookski commented on #3636
This problem is still occurring.
Running in a published runbook in Azure Automation causes the script to terminate when caught.

[2017-06-21 20:36] atpham256 commented on #4033
Hi Zech,

If you could send me the JSON you were using that reproduces this issue, I can take a look.

Thanks,
Anthony

[2017-06-21 21:33] jonlesada commented on #1135
Same issue here... with Get-AzureRMResourceGroup.  Was using it to validate the entry of a resource group name and just realized that it isn't working.  I have been using many of the Get-* cmdlets to validate data, and it seems that none of them respond to a try/catch block.  Unfortunately some of the data that I need to validate can't be easily queried so I'll have to loop through the output and

[2017-06-21 21:41] abatishchev commented on #1135
To get into a try/catch block you need to add parameter `-ErrorAction Stop` to the call each of the Get-* cmdlets. However, `$_` won't have any meaningful information, all fields will be empty.

[2017-06-21 23:39] tmongero commented on #3958
Same issue with Mac OS 10.12.5.

[code]
Confirmed that I'm able to uninstall the beta, install an Alpha build, and after installing AzureRM.NetCore.Preview, the module imports perfectly (on the alpha build).

Have tried using latest version of dotnet v1.0, and am now on dotnet v2.0 preview 1; no difference.

[2017-06-21 23:41] tmongero commented on #3958
@irothschild Just uninstall the beta version of powershell and install one of the alpha versions (I can confirm it works on build alpha.14). In the alpha build, I can install, import, and fully utilize the AzureRM.NetCore.Preview module.

[2017-06-22 04:14] sandeepk1977 commented on #3700
I am also facing the same issue with my powershell script. Does Microsoft has a solution for this?

New-AzureRmApplicationGateway :
Mapping types:
PSApplicationGatewayBackendHttpSettings -> ApplicationGatewayBackendHttpSettings
Microsoft.Azure.Commands.Network.Models.PSApplicationGatewayBackendHttpSettings -> Microsoft.Azure.Management.Network.Models.ApplicationGatewayBackendHttpSettings
Destinati

[2017-06-22 11:17] theman8860 opened #4174 "Remove-AzureVMExtension Not working to remove all extensions from a specific vm"
I was trying to remove all the extensions from a vm I used this syntax
$service = "testrunning"

$vmname = "testrunning"

$VM1 = Get-AzureVM -ServiceName $service -Name $vmname

Get-AzureVM -ServiceName $service -name $vmname

Remove-AzureVMExtension -VM $VM1 -RemoveAll | Update-AzureVM

It gives mE this output

DeploymentName                    : testrunning
Name                              : te

[2017-06-22 12:32] Mihai-Mircea commented on #1812
Seems that with AzureRM.Network 4.1.0 the issue is solved.
I got this from [PSGallery here](https://www.powershellgallery.com/packages/AzureRM.Network/4.1.0)

[2017-06-22 22:15] akromm commented on #3125
@cormacpayne  I also did a quick scan and did not find any MSTest tests. Closing issue.

[2017-06-22 22:15] #3125 closed

[2017-06-22 22:34] twitchax opened #4179 "Client-side telemetry should be opt-in by default."
### Description
What the title says. :)

[2017-06-22 22:50] twitchax opened #4181 "Exception telemetry is broken."
### PowerShell Version
4.1.0

### OS Version
All.

### Description
We improperly hand off exceptions to application insights which results in bad telemetry.

### Debug Output
[code]

[2017-06-22 23:57] AndyHerb commented on #2336
+1 - I've just lost the best part of a day trying to work out how to do this, only to find this issue and surmise that it can't currently be done.  It'd be nice if it were at least mentioned in the documentation that KeyVault references can only be done via a Parameter File

[2017-06-23 00:09] AndyHerb commented on #3318
It looks like this may be a duplicate of Issue #2336  (Add support for passing keyvault secrets through TemplateParameterObject)

In short, KeyVault references via TemplateParameterObject appear not to be supported at present.

[2017-06-23 01:29] markcowl opened #4184 "WebApp Creation Experiments"
# Improving WebApp Creation Scenarios for WebApps using Git Deployment
## Summary
Azure customers must create complicated scripts to perform simple tasks in Azure PowerShell, like creating a new
web app and connecting it to a local git repo.  This project explores some ways to simplify the required user
input through a set of intelligent, context-sensitive default behaviors in the cmdlets.

For th

[2017-06-23 03:06] #4148 closed

[2017-06-23 07:21] tlisiecki commented on #3958
Hi @markcowl. Any news on the new modules? Were they released? If so, where do we look for them? https://www.powershellgallery.com/packages/AzureRM.NetCore.Preview ?

[2017-06-23 07:23] 4c74356b41 commented on #3318
this is really sad.

[2017-06-23 11:11] AlexKeySmith commented on #1528
Hi, has there been any progress on this?

If the ticket is still relevant, it would be interesting to know which formatting of an object is supported and what isn't.

[2017-06-23 11:31] kuomingwu opened #4186 "Unable to use New-AzureRmResourceGroupDeployment with parameter -TemplateParameterObject"
**Issue describe**
when we use New-AzureRmResourceGroupDeployment with parameter -TemplateParameterObject such as :
New-AzureRmResourceGroupDeployment -ResourceGroupName test -TemplateFile "C:\Users\a-mowu\Desktop\temp20170622\azuredeploy.json" -TemplateParameterObject $h

the $h is hashtable such as

![image](https://user-images.githubusercontent.com/6070952/27479972-c25d649c-5848-11e7-86c5-0defc

[2017-06-23 15:41] KacperMucha commented on #3839
I also stumbled upon this issue. Resolve-Error function returns this:
[code]

The command that I execute:
[code]

I can also add output from command executed with DebugPreference set to Continue later. I'll have to remove subscription ids etc. first.

[2017-06-23 16:34] jocorte opened #4187 "Get-AzureRmNetworkSecurityGroup does not return the complete list of NSGs when NEXTLINK argument is returned in the body of the REST API call"
### Cmdlet(s)
Get-AzureRmNetworkSecurityGroup
### PowerShell Version
Name                           Value
----                           -----
PSVersion                      5.1.15063.413
PSEdition                      Desktop
PSCompatibleVersions           {1.0, 2.0, 3.0, 4.0...}
BuildVersion                   10.0.15063.413
CLRVersion                     4.0.30319.42000
WSManStackVersion

[2017-06-23 17:10] akromm commented on #3138
@cormacpayne what are the requirements/restrictions for making a test a CheckIn test?

[2017-06-23 17:19] akromm commented on #4162
@SiloReed I expect the fix to be rolled out hopefully by the end of next week (June 30).

[2017-06-23 17:42] javiermarasco opened #4189 "No Save-AzureRMProfile cmdlet available - How to persist sessions for workflows"
### Cmdlet(s)
No Save-AzureRMProfile in this release

### PowerShell Version
PS 4.1.0

### OS Version
Windows 10
### Description

Normally in workflows I used Save-AzureRMProfile to a file in the disk and then each thread in the workflow used that file to run commands to Azure. Now that cmdlet is not present anymore and I can't find a way to run a workflow because I can't share my session with all

[2017-06-23 18:00] cormacpayne commented on #4189
@javiermarasco in the 4.0.0 (May) release of Azure PowerShell, the name of the `Save-AzureRmProfile` cmdlet was changed `Save-AzureRmContext`. You can check out the migration guide we released with version 4.0.0 for more information: https://github.com/Azure/azure-powershell/blob/preview/documentation/release-notes/migration-guide.4.0.0.md#save-azurermprofile-was-renamed-to-save-azurermcontext

[2017-06-23 18:05] javiermarasco commented on #4189
@Cormacpayne Thanks for that information I checked the release of 4.1.0 and wasn't able to find it myself.

[2017-06-23 18:05] #4189 closed

[2017-06-23 19:37] starkfell opened #4190 "Get-AzureRmIoTHubConnectionString returns inaccurate Connection String syntax"
When running the Get-AzureRmIoTHubConnectionString using standard parameters, all Connection Strings that are returned are showing the key/value pair for the Shared Access Key Name are displaying it as ShareAccessKeyName instead of SharedAccessKeyName.

This behavior is occuring in the Modules for Azure 4.1.0 and AzureRm.IoTHub 2.1.0, but not in modules Azure 4.0.2 and AzureRm.IoTHub 2.0.1 as show

[2017-06-23 20:31] mathieu-benoit commented on #3410
Hi @Nking92 and @markcowl, any update on that? Any luck this bug is resolved in PowerShell? Thanks!

[2017-06-23 22:18] cormacpayne commented on #4190
@starkfell Hey Ryan, it looks like this change was made in [this commit](https://github.com/Azure/azure-powershell/commit/04e47f8329ba9e64790c974f9666dbf41de7483f#diff-3d34c44c71a08327124d488f0e31217aR29) and was merged in time for the 4.1.0 release

@rkmanda Roopesh, was this change intentional?

[2017-06-23 22:21] cormacpayne commented on #4187
@jocorte thanks for the issue. It looks like the Network team currently has a pull request open to resolve this issue: https://github.com/Azure/azure-powershell/pull/4111/files#diff-fb31200e43f2ce431d741028e62fe481L20

@DeepakRajendranMsft Hey Deepak, let me know if I misspoke above.

[2017-06-23 22:47] cormacpayne commented on #4186
@vivsriaus Hey Vivek, would you mind taking a look at this issue?

[2017-06-23 22:47] cormacpayne commented on #4181
Fix has been merged

[2017-06-23 22:47] #4181 closed

[2017-06-23 23:02] cormacpayne commented on #4174
@huangpf Hey Pengfei, would you mind taking a look at this issue?

[2017-06-24 00:13] arlevitt opened #4191 "Azure Runbook - Asking showing "Run Login-AzureRmAccount to login", after I explicitly call it."
The following script produces the below error in Azure Runbook from the portal.  The script works *just fine from my local machine*, clearly calling the Login-AzureRmAccount command.

[code]
[code]

This seems very strange. It was working previously.  I'm also attempting to run the Update-ModulesInAutomationToLatestVersion powershell script and getting the same error.  Please help! It was working

[2017-06-24 00:30] arlevitt opened #4192 "The term 'New-AzureRmSqlDatabaseExport' is not recognized as the name of a cmdlet, function, script file, or operable program."
I'm attempting to use New-AzureRmSqlDatabaseExport within Azure Runbooks Automation, yet this command does not seem to exist.  I followed the steps in this document to import the "Update-ModulesInAutomationToLatestVersion" script.  Any reason this command does not exist?

https://blogs.msdn.microsoft.com/azuresqldbsupport/2017/02/07/automate-export-azure-sql-db-to-blob-storage-use-automation-accou

[2017-06-24 02:29] arlevitt commented on #4192
Turns out I needed to delete and re-add my Automation account, and wait very patiently for the update script to run, which I had to run manually after importing.

Hope this helps someone.

[2017-06-24 02:29] #4192 closed

[2017-06-25 01:56] ronbok opened #4194 "New-AzureRmAvailabilitySet"
Is missing the ability to provide -Tags as a hashtable.

[2017-06-25 12:38] davenewza commented on #3861
Using Get-AzureRmWebApp has fixed the issue for me, so I will close this.

[2017-06-25 12:38] #3861 closed

[2017-06-26 00:42] sambanks commented on #3958
I can also confirm that rolling powershell back to alpha works on Ubuntu

[2017-06-26 01:52] jimoneil commented on #1530
The description of the change implies that Get-AzureRMContext without having logged in should return $null, but the behavior I am seeing is the return of a PSAzureContext object whose properties are all null/empty.

[2017-06-26 02:25] wangduanyang commented on #4186
I got the some issue, could anyone give me an answer?

[2017-06-26 04:23] wangduanyang commented on #4186
i just made another test which works fine.

$SecurePass = ConvertTo-SecureString $password -AsPlainText -Force
$ParametersObj = @{
        adminUsername = "yang"
        adminPassword = "$SecurePass"
        dnsLabelPrefix ="yangtestvm062333"
        }
New-AzureRmResourceGroupDeployment -ResourceGroupName yangTest -TemplateFile "D:\desktop\azuredeploy.json" -TemplateParameterObject $ParametersObj

[2017-06-26 04:31] kuomingwu commented on #4186
@wangduanyang

Do you delete node "value" for the hash table and successful ?

Thanks

[2017-06-26 09:11] egilh commented on #3958
Last update by @markcowl says "new modules out this week" - 14 days ago.
When can we expect an update to these modules?

[2017-06-26 18:37] matthchr commented on #3758
This will be included in the next Azure powershell release (see the PR above).

[2017-06-26 18:37] #3758 closed

[2017-06-26 18:53] cormacpayne commented on #4191
@arlevitt Hey Adam, I believe you are seeing this issue because you have multiple versions of Azure PowerShell installed on your machine. Would you mind running the command `Get-Module -ListAvailable` and providing us with the output?

My suggestion would be to remove all instances of Azure PowerShell from your machine (whether you installed via the PowerShell Gallery, Web Platform Installer, or d

[2017-06-26 20:57] arlevitt commented on #4191
Thanks for the reply.  I deleted the access account on azure and recreated it.  Then I was patient with the install of the latest updates.

[2017-06-26 23:18] jamesosb-msft commented on #4030
Spent a few hours trying to debug this - I was setting up a certificate for authentication.  I couldn't figure out what was so 'invalid' about the startDate parameter.  I tried using $cer.GetEffectiveDateString(), I tried the actual date string from the cert, various formats, etc.  After suppressing the urge to bang head on keyboard, I tried a date for about 5 minutes from now.  That worked.  It s

[2017-06-27 00:11] RexWheeler commented on #4047
Perhaps a message that said "New-AzureRmVirtualNetwork currently returns type PSVirtualNetwork, but will return PSSuperCoolNewVirtualNetwork in the next release" or if the definition of the return type is changing "New-AzureRmVirtualNetwork returns type PSVirtualNetwork which is has deprecated properties. See http://xxxx for details on the property changes".

The same warning (without suitable con

[2017-06-27 08:56] doctordns commented on #4047
For me, just Warning that the output type changes and the user should see XXX.html for details. Explaining that the output type is changing is good - but what does it mean. I think the warning and a URL is all the warning messages should be.

[2017-06-27 12:14] Mauzer93 opened #4201 "New-AzureRmRoleAssignment"
I am not able to use this command in a VSTS task without seeing an exception.
If I run the script, and the role assignment does not exist yet, I get an CloudException from the ARM api (although the role assignment has been made).
If the role already exists, I got an error: The role is already assigned.

The VSTS task itself always succeeds, however, I prefer not to see those error messages... only

[2017-06-27 16:20] animetauren opened #4203 "Get-AzurRMDNSZone cmdlet not outputting correct results when using where-object"
### Cmdlet(s)
Get-AzureRmDnsZone

### PowerShell Version:
5.1.15063.413

### Module Version
AzureRM.Dns v3.1.0

### OS Version
10.0.15063.413

### Description
If you have two DNS Zones with similar names i.e.(www.example.com and example.com) and you try to do a simple filter of DNS Zones using the where-object cmdlet, the expected result of returning the only one name is not achieved, instead you

[2017-06-27 18:38] SiloReed opened #4205 "Does Get-AzureStorageTable work with SAS token?"
### Cmdlet(s)
Get-AzureStorageTable, New-AzureStorageTableSASToken, New-AzureStorageContext
### PowerShell Version
5.1.15063.413

### Module Version
3.1.0      Azure.Storage
### OS Version
10.0.15063.413

### Description
I'm not sure if this is a bug, but I can't figure it out based on the documentation.

Get-AzureStorageTable throws this exception when using an SAS token with a storage context:
[

[2017-06-27 19:55] drandall-microsoft commented on #2336
+1

[2017-06-27 20:52] cormacpayne commented on #4205
@blueww Hey Wei, would you mind taking a look at this issue?

[2017-06-27 21:31] cormacpayne commented on #4203
@animetauren Hey Henry, thanks for reporting this. We will have a PR out shortly that will fix this issue (just a matter of using the `enumerateCollection` parameter in [this `WriteObject` call](https://github.com/Azure/azure-powershell/blob/preview/src/ResourceManager/Dns/Commands.Dns/Zones/GetAzureDnsZone.cs#L54)).

As a workaround until we get this fix in the next release next Friday, you can d

[2017-06-27 22:42] Chiliyago opened #4209 "Problems with Import-AzureRmContext"
### Cmdlet(s)
Import-AzureRmContext

### PowerShell Version
Instructions: to get PowerShell version, type `$PSVersionTable` and look for the value associated with `PSVersion`
5.1.14394.1000

### Module Version
4.1

### OS Version
Instructions: to get OS version, type `$PSversionTable` and look for value associated with `BuildVersion`
10.0.14394.1000

### Description
Curious if Import-AzureRmContex

[2017-06-28 02:13] wangduanyang commented on #4186
@kuomingwu
Yes, it is working when delete "value" key.

[2017-06-28 03:00] blueww commented on #4205
@SiloReed
From you code, I see you created a Table SAS, which only support operation inside a table (e.g. query entities), but don’t support to list table. (Storage Client Library use Query Table Rest API to check table exsit, which need list permission)
So Get-AzureStorageTable cmdlet need a SAS with list table permission.

You can use following cmdlet to create a SAS that can used in Get-AzureSt

[2017-06-28 13:36] animetauren commented on #4203
@cormacpayne Thanks for the quick update and that fix does the job!

[2017-06-28 14:54] takekazuomi opened #4212 "Get-​Azure​Rm​Web​App​Publishing​Profile -OutputFile should not be mandatory."
### Get-​Azure​Rm​Web​App​Publishing​Profile

### PowerShell Version
5.1.16226.1000
[code]

### Module Version
3.1.0
[code]
### OS Version
10.0.16226.1000

### Description
Get-​Azure​Rm​Web​App​Publishing​Profile cmdlet always requred -OutputFile option.
Without -OutputFile then I will got following error.

[code]

### This is BAD design.
I do not want to write it in a file, because OutputFile con

[2017-06-28 16:14] cormacpayne commented on #4203
@animetauren just opened PR https://github.com/Azure/azure-powershell/pull/4213 to fix this issue

This will enable the scenario you originally mentioned:

[code]

[2017-06-28 16:27] akuryan commented on #3391
I am hitting the same issue from ARM template - and, yes, it is **incredibly annoying**.
In short, I am provisioning web apps in several web app services to be connected to service on VM in VNET. It will not work until I will not resync network.
If it is not possible from ARM - maybe there is a powershell cmdlet which will resync network for me?

[2017-06-28 16:32] Chiliyago commented on #4209
After further testing I think it is safe to say that the Import-AzureRmContext cmdlet is not functioning properly within the ScriptBlock of the Start-Job cmdlet.

[2017-06-28 17:09] matthchr commented on #3863
This was added and will be part of the next version of Azure Powershell

[2017-06-28 17:09] #3863 closed

[2017-06-28 19:04] singhkays commented on #4118
Possibly but it depends on dev team's bandwidth and previous commitments. Adding @hyonholee to take a look at the feasibility of this.

[2017-06-28 19:05] singhkays commented on #4094
@hyonholee what do you think?

[2017-06-28 19:57] jnyiri commented on #1131
Could you tell me which release this made it into? It doesn't seem to be working in 3.3.0.

[2017-06-28 21:33] gucalder opened #4215 "Azure-GetRmLog - Remove 15 days maximum time window"
### Cmdlet(s)
Azure-GetRmLog

### PowerShell Version
4.0

### Module Version

### OS Version
6.3.9600.17400

### Description
This is a change request, not an issue.
The Azure-GetRmLog cmdlet currently includes a maximum time window of 15 days. The request is to remove this limitation and let the backend validate the DateTime ranges provided.

### Debug Output

### Script/Steps for Reproduction

[2017-06-28 21:40] gucalder commented on #3169
This should be resolved by now. I am adding this issue to my next commit (and PR) to close this issue.

[2017-06-28 21:45] gucalder commented on #3153
The metrics API has changed since this issue was filed.
The comment from anblanco is reasonable.
I am closing this issue.

[2017-06-28 21:45] #3153 closed

[2017-06-28 21:46] #3169 closed

[2017-06-28 23:04] akromm commented on #1131
@jnyiri Currently retrieving tags on a database is only supported when requesting a specific database. Listing all databases in a server won't return the tags.

[code]

[2017-06-29 06:25] deekob commented on #661
Please ....

[2017-06-29 11:41] hoppyluke commented on #2180
I'm still seeing this in AzureRM.Automation 3.1.0 - is there any update?

[2017-06-29 16:34] akromm commented on #4162
@SiloReed The fix has been rolled out worldwide and your issue should be resolved now.  Can you try again and let me know if it is working for you?

[2017-06-29 17:36] zechariahks commented on #4033
@atpham256 Below is the JSON file which was throwing the error. After removing \r\n from this file, it worked.

{
 "Properties": {
    "Query": " SELECT  DATEADD(hour, -7, \r\n DATETIMEFROMPARTS(DATEPART(year,UTC_TRANS_DTM)   ,DATEPART(month,UTC_TRANS_DTM)   \r\n ,DATEPART(day,UTC_TRANS_DTM)   ,DATEPART(hour,UTC_TRANS_DTM)   ,CASE    WHEN \r\n
    DATEPART(minute,UTC_TRANS_DTM) >= 0 AND DATEPART(m

[2017-06-29 18:27] gucalder commented on #3127
I think we do not have MSTests in this project.

[2017-06-29 18:28] #3127 closed

[2017-06-29 18:43] shefaliv opened #4218 "Remove ValueFromPipeline parameter from HDInsight cmdlets"
### Cmdlet(s)

### PowerShell Version
Instructions: to get PowerShell version, type `$PSVersionTable` and look for the value associated with `PSVersion`

### Module Version

### OS Version
Instructions: to get OS version, type `$PSversionTable` and look for value associated with `BuildVersion`

### Description

### Debug Output
Instructions: to get Debug Output, set `$DebugPreference="Continue"` a

[2017-06-29 23:37] jachin84 commented on #4118
Thanks! :-)

[2017-06-30 09:25] SvenVR73 commented on #1288
any advice on how to run parallel tasks in Azure (like creaton / stopping / starting VM's is highly appreciated. Like others mentioned, background tasks now fail with message "Run-Login-AzureRMAccount to login". I must login with 2factor authentication. I cannot work around this.

[2017-06-30 09:34] egilh commented on #3958
Relevant info that should have been reported back to this issue:
https://github.com/PowerShell/PowerShell/issues/4090#issuecomment-311404772

[2017-06-30 17:53] akromm commented on #2065
#4132 has been merged so closing this issue.

[2017-06-30 17:53] #2065 closed

[2017-06-30 18:16] shahabhijeet commented on #4201
@Mauzer93 can you not use
[Get-AzureRmRoleAssignment](https://docs.microsoft.com/en-us/powershell/module/azurerm.resources/get-azurermroleassignment?view=azurermps-4.1.0) and then use New-AzureRmRoleAssignment if the role was not assigned.

[2017-06-30 18:18] #4201 closed

[2017-06-30 18:29] shahabhijeet commented on #4212
@takekazuomi thanks for your suggestion.
@ahmedelnably can you take a look at this and let the customer know if we can make the parameter non-mandatory.

[2017-06-30 19:38] SiloReed commented on #4162
@akromm I re-tested and I can happily confirm that everything looks good on my end. Thanks!

[2017-06-30 19:38] #4162 closed

[2017-06-30 20:31] tylerd opened #4223 "Resource : {0}, not found - incmplete error messages using multiple Network cmdlets"
### Cmdlet(s)
`Add-AzureRmVpnClientRevokedCertificate`
`Add-AzureRmVpnClientRootCertificate`
`Get-AzureRmVpnClientPackage`
`Remove-AzureRmVirtualNetworkGatewayDefaultSite`
`Remove-AzureRmVpnClientRevokedCertificate`
`Remove-AzureRmVpnClientRootCertificate`
`Set-AzureRmVirtualNetworkGatewayDefaultSite`
`Set-AzureRmVirtualNetworkGatewayVpnClientConfig`
`Set-AzureRmVirtualNetworkGateway`

### PowerSh

[2017-06-30 20:46] mihymel commented on #3644
@rajaprad  As TDE with BYOK is preparing for public preview in Public Cloud, we are no longer onboarding private preview customers. We're targeting mid July for our public preview in Public Cloud. A rough estimate for when public preview will open up in National clouds (including AzureChinaCloud) is Fall of 2017.

I'm closing this for now, since the underlying issue is not a powershell issue.

[2017-06-30 20:46] #3644 closed

[2017-06-30 20:47] texmx commented on #3700
Having the same issue as well.  Any updates to resolution?

[2017-06-30 22:45] takekazuomi commented on #4212
Add information.

The following document uses -OutputFile null.
Https://docs.microsoft.com/en-us/azure/app-service-web/scripts/app-service-powershell-deploy-local-git?toc=%2fpowershell%2fmodule%2ftoc.json

In this case, a file named "null" will be created. Specifying $ null results in an error.

[2017-06-30 23:32] akromm commented on #635
#4188 has been merged and will be in the next powershell release!

[2017-06-30 23:32] #635 closed

[2017-06-30 23:56] viananth opened #4225 "AzureRm.Bootstrapper: Use-AzureRmProfile after importing a module will throw module not found"
### Cmdlet(s)
Use-AzureRmProfile

### PowerShell Version
5.1

### Module Version
0.2

### Description

### Debug Output
Instructions: to get Debug Output, set `$DebugPreference="Continue"` and then execute the cmdlet or script causing the issue

### Script/Steps for Reproduction
[code]

This throws

[2017-07-01 22:47] kim0 opened #4230 "Start-AzureBatchPoolResize doesnt support low-priority nodes"
### Module Version
3.1.0

### OS Version
Azure Automation

### Description
Start-AzureBatchPoolResize doesn't seem to support low-priority nodes ? Any existing workaround ?

[2017-07-02 07:58] abbgrade opened #4232 "Login-AzureRMAccount misleading error message"
### Cmdlet(s)

Login-AzureRMAccount

### PowerShell Version

[code]

### Module Version

[code]

### OS Version
Instructions: to get OS version, type `$PSversionTable` and look for value associated with `BuildVersion`

### Description

If your try to login with a Account for AzureCloud to AzureGermanCloud you get an error that your browser is not supported instead of that the account does not exis

[2017-07-02 15:05] alexverboon commented on #4163
I can confirm this being an  issue, just been baning my head , until i found this bug report. Works nicely with 3.0.1

[2017-07-03 09:25] yatesy commented on #3675
@AWahlqvist How do you make a setting that is on a slot (non "production") on a webapp have a sticky setting?  The Set-AzureRmWebAppSlotConfigName only ever accesses the "production" slot.

I can add the setting no problem with the Set-AzureRmWebAppSlot but it won't be sticky.

[2017-07-03 11:30] yatesy commented on #3571
Hi guys, any update on this as I want to use the ARM version of rename as well.

[2017-07-03 11:44] AWahlqvist commented on #3675
@yatesy When you add the name of a sticky setting using Set-AzureRmWebAppSlotConfigName that setting will become sticky on all slots, including the production slot. You are just adding the name of the setting though so you will manage/add the settings using Set-AzureRmWebAppSlot as usual.

Are you sure the name matches exactly? Also, if you check this through the Azure portal, make sure you refres

[2017-07-03 15:31] letmaik opened #4233 "Which REST API version is used for Azure Batch?"
There are regular updates appearing on https://docs.microsoft.com/en-us/rest/api/batchservice/batch-service-rest-api-versioning and I was wondering at which version AzureRM is at. Is that information recorded somewhere?

[2017-07-03 17:20] akromm commented on #3921
@rneeft This should be fixed worldwide. Let me know if you see otherwise.

[2017-07-03 17:20] #3921 closed

[2017-07-03 17:22] akromm commented on #3571
@yatesy Unfortunately the work is still in progress.  There are a number of back-end changes that we are working on to enable this. As a temporary work around you will need to use TSQL.

[2017-07-03 18:59] cormacpayne commented on #4233
@matthchr Hey Matt, looks like this should be a quick question to answer.

[2017-07-03 19:22] matthchr commented on #4233
Right now AzureRM.Batch uses the C# SDK version `5.1.2`, which targets REST API version `2016-07-01.3.1`.

I don't think is currently documented anywhere obvious -- I'll make a note and add it to the file [here](https://github.com/Azure/azure-powershell/blob/preview/src/ResourceManager/AzureBatch/ChangeLog.md)

[2017-07-03 19:24] matthchr commented on #4233
Actually it's a bit more complicated than the above because the `AzureRM.Batch` module is both management and data plane operations. For the data plane, the above is accurate, for management plane we target `2015-12-01`.

[2017-07-03 20:27] rajaprad opened #4234 "New-AzureRMRoleAssignment - does not have scope to control AD Objects like Applications"
### Cmdlet(s)
New-AzureRMRoleAssignment

### PowerShell Version
4.0

### Module Version

### OS Version
6.3.9600.17400

### Description

There should be a way to define Azure AD components in Scope for New-AzureRMRoleAssignment.
Please let me know if an alternative already exists for automated/unattended deployments of Azure AD components.

Am trying to use Service Principal for deployments. ( to

[2017-07-03 20:37] rajaprad opened #4235 "Get-AzureRmADApplication - Excpetion/Error message not useful"
### Cmdlet(s)
Get-AzureRmADApplication

### PowerShell Version
4.0

### Module Version

### OS Version
6.3.9600.17400

### Description

There is no useful error messages from Get-AzureRmADApplication
For example when i have insufficient permission on an directory, am getting the below errors,

Get-AzureRmADApplication : **Exception of type 'System.Exception' was thrown.**
Only when i debug i come

[2017-07-04 09:17] AlexKeySmith commented on #1817
Unfortunately "serial" works at first for a small amount, but if you have a large batch to add it fails.

[2017-07-04 11:42] AlexKeySmith commented on #1817
Scrap my last comment, I think it was due to a deployment that had failed to stop and was still running stagnant.

However "serial" is incredibly slow when adding a large batch.

[2017-07-04 13:55] Mauzer93 commented on #4201
Thanks for the suggestion. I have tried that before, but I am getting a cloud exception when trying to retrieve the role. (Powershell is executed in a VSTS task, using a Service principal) Any idea what is causing this?

[2017-07-04 16:30] laxmand17 opened #4238 "PS C:\Windows\system32> Get-AzureRmStorageAccount"
### Cmdlet(s)
PS C:\Windows\system32> Get-AzureRmStorageAccount
Get-AzureRmStorageAccount : Run Login-AzureRmAccount to login.
At line:1 char:1
+ Get-AzureRmStorageAccount
+ ~~~~~~~~~~~~~~~~~~~~~~~~~
    + CategoryInfo          : InvalidOperation: (:) [Get-AzureRmStorageAccount], PSInvalidOperationException
    + FullyQualifiedErrorId : InvalidOperation,Microsoft.Azure.Commands.Management.Storage.

[2017-07-05 02:16] blueww commented on #4238
@laxmand17
Have you run "Login-AzureRmAccount", before run "Get-AzureRmStorageAccount".
 Get-AzureRmStorageAccount don't have credential to list account before run  "Login-AzureRmAccount".

[2017-07-05 16:49] afscrome commented on #661
Until proper cmdlets are implemented, you can perform some tasks through the raw AzureRmResource* cmdlets

[code]

If you want more details on the available resource actions for webjobs use
[code]

[2017-07-05 18:02] laxmand17 commented on #4238
Hi Wei,

Yes, I did run the : Add-AzureRmAccount  and authenticated to Azure Portal, it is not finding Login-AzureRmAccount cmdlet for some reason.

Thanks,
Laxman.

From: Wei Wei [mailto:notifications@github.com]
Sent: Tuesday, July 4, 2017 10:18 PM
To: Azure/azure-powershell <azure-powershell@noreply.github.com>
Cc: laxmand17 <ldobbala@hotmail.com>; Mention <mention@noreply.github.com>
Subject:

[2017-07-05 19:31] markcowl opened #4245 "Update CredScan tool and convert to local repo suppressions"
Per the credscan site (http://aka.ms/credscan), local suppressions per repo can now be supported, which would allow simpler CredScan execution

- [x] Validate new usage scenarios and move current cml suppressions into local suppressions
- [x] Update build task to use new version and take advantage of local suppressions file

### Cost: 4

[2017-07-05 19:59] makhdumi opened #4246 "Set-AzureRmResource issues unnecessary GET request"
### Cmdlet(s)
Set-AzureRmResource

### PowerShell Version
5.1.14393.1198

### Module Version
4.1.0

### OS Version
10.0.14393.1198

### Description
Set-AzureRmResource is broken for a lot of resources that do not support retrieving the resource via GET.

I am trying to run:
[code]

But get an error:
[code]

### Debug Output
[code]

### Script/Steps for Reproduction
Run this
[code]

[2017-07-05 20:03] makhdumi opened #4247 "Get-AzureRmResource provides no option for using POST instead of GET"
### Cmdlet(s)
Get-AzureRmResource

### PowerShell Version
5.1.14393.1198

### Module Version
4.1.0

### OS Version
10.0.14393.1198

### Description
Get-AzureRmResource is broken for a lot of resources that do not support retrieving the resource via GET. There should be an option to specify what type of request to use.

I am trying to run:
[code]

But get the error:
[code]

### Debug Output
[code]

[2017-07-05 20:06] makhdumi commented on #4246
This is *not* the same as https://github.com/Azure/azure-powershell/issues/1277

Some Azure resources do not support being Set by PATCH.

[2017-07-05 20:34] mgaufman opened #4248 "Get-AzureRmRoleAssignment returns role assignments from other resource groups when called with Scope and ObjectId parameters"
### Cmdlet(s)
Get-AzureRmRoleAssignment

### PowerShell Version
5.1.15063.413

### Module Version
AzureRM.Profile: 3.1.0
AzureRM.Resources: 4.1.0

### OS Version
10.0.15063.413
Azure Automation

### Description
Get-AzureRmRoleAssignment returns role assignments from other resource groups when called with Scope and ObjectId parameters.

### Debug Output
Instructions: to get Debug Output, set `$Debu

[2017-07-05 20:50] mgaufman opened #4249 "New-AzureRmADAppCredential throws a generic "Invalid Operation" exception"
### Cmdlet(s)
New-AzureRmADAppCredential

### PowerShell Version
5.1.15063.413

### Module Version
AzureRM.Profile: 3.1.0
AzureRM.Resources: 4.1.0

### OS Version
10.0.15063.413

### Description
New-AzureRmADAppCredential throws a generic "Invalid Operation" exception if executed for an application which already has keys (passwords) created in the portal with non-empty key descriptions.

### Debug

[2017-07-06 03:25] wangshayu opened #4254 "Add-AzureRmEnvironment should set GraphAudience together if it set GraphEndpoint"
### Cmdlet(s)
Add-AzureRmEnvironment

### PowerShell Version
5.0

### Module Version
AzureRm 1.2.10

### OS Version

### Description
When calling Add-AzureRmEnvironment with -ArmEndpoint 'xxx'. The graphendpoint is set but graphresourceId not. This will block the subsequence calling of RBAC roles/assignment requests.

### Debug Output

### Script/Steps for Reproduction
Call Add-AzureRmEnvironment

[2017-07-06 04:38] jahongirman opened #4255 "Can't delete Recovery Service Vault"
### Cmdlet(s)

Remove-AzureRmRecoveryServicesVault

### PowerShell Version
PSVersion                      5.1.14409.1005

### Module Version

### OS Version
BuildVersion                   10.0.14409.1005

### Description
Can't delete RSVault01 using Remove-AzureRmRecoveryServicesVault -Vault 'RSVault01'
### Debug Output

Remove-AzureRmRecoveryServicesVault : Cannot bind parameter 'Vault'. Cannot c

[2017-07-06 05:49] ColdHarbour opened #4256 "Cannot obtain Values from Get-AzureRmOperationalInsightsSearchResults"
### Cmdlet(s)
[code]

### PowerShell Version
[code]

### Module Version
[code]

### OS Version
`BuildVersion                   10.0.14393.1358`

### Description
Cannot return JSON from .Value

I run the following command to pull data from my OMS workspace:
`((Get-AzureRmOperationalInsightsSavedSearchResults -ResourceGroupName $ResourceGroupName -WorkspaceName $WorkSpaceName -SavedSearchId "starc|s

[2017-07-06 18:08] itpropro commented on #3821
I have exactly the same problem. Its really a shame that its still not fixed, since the issue is from may!

[2017-07-06 22:42] ColdHarbour commented on #4256
I've also replicated this issue in Azure Automation

[2017-07-06 23:42] markcowl commented on #1309
@rayone Unfortunately, if you are using a 'live id' or what is now referred to as a 'Microsoft Account', as opposed to an OrgId, or a 'work or school account', then login will not work with PS Credential - for security reasons, you are required to enter your password through the dialog.  This is an unfortunate limitation of microsoft account authentication.  You can get around this in a few ways:

[2017-07-07 03:22] blueww commented on #4238
@laxmand17
"Login-AzureRmAccount“ is the alias of "Get-AzureRmStorageAccount", so run "Get-AzureRmStorageAccount" should be OK.

For you problem, I don't see "AzureRM.Storage" after you run Get-module. This is strange, as "Get-AzureRmStorageAccount" cmdlet is in "AzureRM.Storage" module.

There might be module mismatch issue on your machine, could you install the latest PowerShell from https://git

[2017-07-07 03:28] blueww commented on #3821
@itgpropro

We can't repro the issue , so it's difficult to find the root cause and fix it.
If you can repo that, could you share more information on that, then we can try to investigate it:
1. dump of the hang
2. PowerShell version
3. module version
4. the way to repro it

- File count,
- file size
- repro machine setting (networking, memory, CPU)
- a Script to repro hang would be better

Thanks!

[2017-07-07 04:22] laxmand17 commented on #4238
H Wei,

I think, My Install of powershell may have been messed up. I have uninstalled the Windows Azure PowerShell 2016 Install  two days ago.
But The Cmdlets are working fine now Today looks like. I get the following modules output now. Are these modules list indicates older versions
And are there any more newer versions came out recently. I try to update the Modules and may have caused the Issue

[2017-07-07 06:05] ColdHarbour commented on #4256
My workaround is to pass the values to a hashtable but this is not how the modules are documented -
[](https://blogs.technet.microsoft.com/privatecloud/2016/04/05/using-the-oms-search-api-with-native-powershell-cmdlets/ )

 and the solution is not elegant:

[code]

[2017-07-07 09:28] BrenPutzeys opened #4269 "New-AzureWebsite after ImportRmContext"
### Cmdlet(s)
Import-AzureRmContext
New-AzureWebsite
Add-AzureAccount

### PowerShell Version
4.0

### Module Version

### OS Version
6.3.9600.17400

### Description

We have some scripts that work with the januari version of powershell.
In these scripts our account data is passed via Save-AzureRmProfile and Select-AzureRmProfile

Now to be compliant with the new version of powershell, we are chan

[2017-07-07 11:07] blueww commented on #3665
Thanks @jboeshart  and @mariotoffia for the script to resolve the problem!

As request to read small blob content to a local variable can be done with the script provided by @jboeshart , I will close this issue.
If you have more request or see other issues, please open a new issue.

[2017-07-07 11:07] blueww commented on #4205
As the Issue is resolved in the reply, and no further customer feedback, close this issue.

[2017-07-07 11:07] #4205 closed

[2017-07-07 13:33] erichexter commented on #1724
@singhkays  I do not understand why this issue was closed. At a minimum the powershell team could open a issue with the compute API  team then track this once the ARM api is fixed.

[2017-07-07 18:08] cormacpayne commented on #4142
@msevastian this seems to be an issue with the PowerShell extension in VS Code. Would you mind opening an issue in the PowerShell extension repository?

https://github.com/PowerShell/vscode-powershell

[2017-07-07 18:09] #4142 closed

[2017-07-07 18:13] cormacpayne commented on #4223
@DeepakRajendranMsft Hey Deepak, would you mind taking a look at this issue? A pull request has already been opened to fix this issue: https://github.com/Azure/azure-powershell/pull/4224

[2017-07-07 18:14] #4225 closed

[2017-07-07 18:14] cormacpayne commented on #4230
@matthchr Hey Matt, would you mind taking a look at this issue?

[2017-07-07 18:17] cormacpayne commented on #4232
@abbgrade Hey Steffen, the error suggest that you closed the window before authentication was complete. Are you entering your credentials and getting a response back when running the `Login-AzureRmAccount` cmdlet?

[2017-07-07 18:21] cormacpayne commented on #4234
@rajaprad while this would be a nice feature to have, this is unfortunately by design. Role assignments are ARM objects and should not be treated as AD objects. This is a capability that we are looking at for the future, but it would not be available in this cmdlet.

[2017-07-07 18:21] #4234 closed

[2017-07-07 18:25] cormacpayne commented on #4235
@rajaprad thanks for the issue. Moving forward, if you would ever like to get more information on an error that you receive, we suggest running the cmdlet `Resolve-AzureRmError`, and that will get you more detailed information after the exception occurs without having to re-run the cmdlet.

[2017-07-07 18:27] cormacpayne commented on #4238
@laxmand17 would you mind running `Get-Module -ListAvailable`? We believe that there is a configuration issue with the modules that you have installed on your machine that is causing this error.

[2017-07-07 18:29] cormacpayne commented on #4246
@ravbhatnagar Hey Gaurav, would you mind taking a look at this issue?

[2017-07-07 18:33] cormacpayne commented on #4247
@makhdumi please use the cmdlets `Get-AzureRmProviderOperation` and `Invoke-AzureRmResourceAction` to do POST operations, as well as operations outside of GET, PUT, and DELETE

[2017-07-07 18:33] #4247 closed

[2017-07-07 18:35] cormacpayne commented on #4248
@darshanhs90 would you mind taking a look at this issue?

[2017-07-07 18:37] cormacpayne commented on #4249
@mgaufman Hey Maxim, would you mind running the cmdlet `Resolve-AzureRmError` after this error and provide us with error details it provides? Would you also run the cmdlet you are having issues with again with `$DebugPreference="Continue"` and provide us the debug output?

[2017-07-07 18:39] cormacpayne commented on #4254
@viananth Hey Vishnu, would you mind taking a look at this issue?

[2017-07-07 18:43] cormacpayne commented on #4255
@dragonfly91 would you mind taking a look at this issue? This seems like an important scenario we should be enabling

[2017-07-07 18:47] cormacpayne commented on #4256
@xizhamsft Hey Xiaofang, would you mind taking a look at this issue?

[2017-07-07 18:50] cormacpayne commented on #4269
@BrenPutzeys you will need to run `Add-AzureAccount` if you want to run `New-AzureWebsite` since that is all contained in RDFE. If you want to use `Import-AzureRmContext` / `Add-AzureRmAaccount`, then you can use `New-AzureRmWebAapp`

[2017-07-07 19:18] Lanwin2010 opened #4273 "New-AzureRmAvailabilitySet cmdlet"
### Cmdlet(s)

### PowerShell Version
5.1.15063.413

### Module Version

### OS Version
10.0.15063.413
### Description
Hi, I was using New-AzureRmAvailabilitySet cmdlets to create a new Availability Set. The Sku default value appears to be set to "Managed" which translates to "Aligned" upon execution. However, I am aware that there is  a Classic "Sku" as well which is unmanaged. There isn't a lo

[2017-07-07 19:19] ghost opened #4274 "Get-AzureRmModule returns a version string instead of a true module object"
### Cmdlet(s)
Get-AzureRmModule

### PowerShell Version
5

### Module Version
0.1.0

### Description
Cmdlet should return a true module object. It's returning the version string.
Or it shouldn't be part of the public API.

### Script/Steps for Reproduction
PS C:\windows\system32> Get-AzureRmModule -Profile latest -Module AzureRM
3.7.0

[2017-07-07 19:39] makhdumi commented on #4247
Thank you

[2017-07-07 19:40] ramach-msft opened #4275 "Use-AzureRmProfile doesn't support scripts containing "#Requires AzureRM.*" headers"
### Cmdlet(s)
Use-AzureRmProfile

### PowerShell Version
5.1.14409.1005

### Module Version
0.1.0

### OS Version
10.0.14409.1005

### Description
Use-AzureRmProfile silently doesn't load the correct modules if executing a script containing "#Requires AzureRM.*" headers.

Please note that using "#Requires AzureRM" works fine.
The problem is when requiring AzureRM.* submodules in the header.

I'm g

[2017-07-07 19:57] mgaufman commented on #4249
[New-AzureRmADAppCredential Transcript.txt](https://github.com/Azure/azure-powershell/files/1132153/New-AzureRmADAppCredential.Transcript.txt)

@cormacpayne Hi Cormac, please find the transcript attached (contains both debug output and ResolveAzureRmError).

[2017-07-07 20:11] cormacpayne commented on #4249
@mgaufman thanks Maxim. As an FYI, I edited your comment above to remove the link provided since it appears it may contain a password (different from the `P@ssw0rd` string you provided in the original description) in the cmdlet calls.

[2017-07-07 21:23] markcowl commented on #3967
- [ ] Direct usage of deprecated properties in Newtonsoft.Json (which RP?) in cmdlets
- [ ] Direct usage of newtonsoft.json deprecated properties in tests (which RPs)?
- [ ] Old versions of management libraries (which RPs)?
  - [ ] Update to latest library
  - [ ] Push generated code into repo
  - [ ] Republish older package

[2017-07-07 21:28] singhkays commented on #1724
@erichexter It was closed because the OPs question was resolved. However, since then PowerShell now allows you to do `Get-AzureRmVM -Status` to get status of all VMs in your sub. NOTE: Keep in mind that this is still calling the LIST API for ALL VMs + GET API for each VM so there could be a throttling if your sub has a lot of VMs.

[2017-07-07 22:02] nomorechickenstrips commented on #3954
+1 for being able to repro this, and +1 to the workaround.

A continued theme to MSFT's Azure story is developer headache though.  It's ridiculous that this team can't nail down a mature upgrade process.  Being stuck having to wade through github to find an obscure hack to move forward is something I'd expect from a startup, not Microsoft.  Get it together.  Get your docs centralized, searchable,

[2017-07-08 00:58] viananth commented on #4138
Completed.

[2017-07-08 00:58] #4138 closed

[2017-07-09 10:49] abbgrade commented on #4232
@cormacpayne i closed it, because i could not complete it. I ran `Login-AzureRmAccount`, entered my credentials, then in the window of the login form there was a message, that my browser is not supported (which is wrong, because it worked when i switched between AzureCloud and AzureGermanCloud).

[2017-07-10 09:48] niadak opened #4281 "AddAzureRMAccount is failing with SPN for specific user"
### Cmdlet(s)
AddAzureRMAccount
### PowerShell Version
Latest

### Module Version

### OS Version
Instructions: to get OS version, type `$PSversionTable` and look for value associated with `BuildVersion`

### Description
Add-AzureRMAccount is working with SPN for some user. But if we run the same command with same spn details as different user (Open PowerShell as different user in same machine) it

[2017-07-10 11:57] juancrl commented on #4235
Similar issue, the Exception is not populated :-( :-(  Took some time and Format-Custom to find out.

Now trying Resolve-AzureRMError.

Calling from PowerShell Console Host,  this cmdlet is available.
However, inside the ISE, loading exactly the same module ,
VERBOSE: Loading module from path 'C:\Program Files\WindowsPowerShell\Modules\azurerm.profile\3.1.0\azurerm.profile.psd1',
the Resolve-Azure

[2017-07-10 18:11] matthchr commented on #4230
Hi @kim0 - The PSH cmdlets don't currently support LowPriorityNodes as there have been some breaking changes (both related to low priority as well as other unrelated things) and breaking change policy in PSH doesn't allow us to make the corresponding changes in our cmdlets until a major release, which is still a few months away I think

[2017-07-10 20:31] krishnasun82 opened #4286 "Get-AzureRmSubscription -All option fails. The example has to be updated to remove "-All""
Get-AzureRmSubscription -All option fails. The example has to be updated to remove "-All". MSDN documents have to be updated as well.

Get-AzureRmSubscription

man Get-AzureRmSubscription

NAME
Get-AzureRmSubscription

SYNOPSIS
Get subscriptions that the current account can access.

SYNTAX
Get-AzureRmSubscription -All [<CommonParameters>]

Get-AzureRmSubscription [-SubscriptionId <String>] [-Tenan

[2017-07-11 03:42] sscchh2001 opened #4289 "Azure classic commands fail with "Your Azure credentials have not been set up or have expired, please run Add-AzureAccount to set up your Azure credentials.""
### Cmdlet(s)

### PowerShell Version
PSVersion                      5.1.15063.413

### Module Version
Azure module v4.1.0

### OS Version
BuildVersion                   10.0.15063.413

### Description
When logging in government cloud (Mooncake), classic commands will remember the first user id and environment I used, and try to authenticate with these info even when I have logged in Azure with ot

[2017-07-11 06:58] magol opened #4290 "Azure PowerShell vs Azure CLI"
When searching online, many guides are written with Azure CLI. It is not always clear what the corresponding command are in Azure PowerShell.

Something that I think would have been good is if in the documentation for all Azure PowerShell commands is a link to the corresponding Azure CLI command, and the opposite in the documentation of Azure CLI. In case there is no direct counterpart, I still th

[2017-07-11 09:32] WillHooke commented on #4289
I'm experiencing the same issue, however I can workaround this issue by running the first classic command (e.g. Get-AzureService) 3 or 4 times until it stops returning the credential expired message and starts returning the proper results.

After this, all other classic commands should run as normal.

I believe this issue is related to #332 (#362 and #392) which was _fixed_ in Jan 2016.

[2017-07-11 11:36] laxmand17 commented on #4238
Hi McCarthy,

Sure, Here you go:

PS C:\Windows\system32> Get-Module -ListAvailable

    Directory: C:\Program Files\WindowsPowerShell\Modules

ModuleType Version    Name                                ExportedCommands
---------- -------    ----                                ----------------
Script     0.4.0      Azure.AnalysisServices              {Add-AzureAnalysisServicesAccount, Restart-Azure

[2017-07-11 13:57] HowardHoffman opened #4291 "New-AzureRmStreamAnalyticsJob cannot create Inputs that tie to Operations Monitoring IOT Endpoints"
### Cmdlet(s)
`New-AzureRmStreamAnalyticsJob`

### PowerShell Version
Instructions: to get PowerShell version, type `$PSVersionTable` and look for the value associated with `PSVersion`
`5.1.15063.413`
### Module Version
`AzureRM 4.1.0   C:\Program Files\WindowsPowerShell\Modules\AzureRM\4.1.0\AzureRM.psd1`
### OS Version
Instructions: to get OS version, type `$PSversionTable` and look for value as

[2017-07-11 16:09] cormacpayne commented on #4290
@magol Hey Magnus, thanks for the suggestion! Our docs team is currently working on something similar to this idea, starting with some of the more common services an Azure user might use.

For example, there are currently docs with _Getting Started_ guides in both Azure PowerShell and Azure CLI (and some in the Portal) for the following:
- [Windows Virtual Machines](https://docs.microsoft.com/en-u

[2017-07-11 17:11] markcowl commented on #3954
Fix shipped

[2017-07-11 17:11] #3954 closed

[2017-07-11 17:12] #4119 closed

[2017-07-11 17:19] markcowl commented on #3931
@consultguru So, side-by-side is supported as long as the modules are installed in the same scope - but you cannot mix versions in the same powershell session.  Closing, as it appears this is by design, if you are installing to different scopes.

[2017-07-11 17:19] #3931 closed

[2017-07-11 17:44] markcowl commented on #4281
@niadak The above does not provide enouigh information to diagnose the problem.  Can you please include the full script, including the cmdlet invocations with debugging for the login command?

[2017-07-11 17:45] markcowl commented on #4273
@singhkays Can you take a look?

[2017-07-11 17:46] markcowl commented on #4275
@ramach-msft This is by design.  Scripts should either use #Require AzureRM with a specific version, or use Use-AzureRmProfile.  These methods intentionally do not mix.  Clsoing as by design.

[2017-07-11 17:46] #4275 closed

[2017-07-11 17:47] markcowl commented on #4286
## Description

Update Get-AzureRmSubscription examples to remove '-All' parameter

## Cost: 1

[2017-07-11 17:49] markcowl commented on #4289
@sscchh2001 @WillHooke This is by design.  There is both a current and a default subscription in azure classic.  Use ```select-azurerubscription -Default``` to change the default subscription for subsequent sessions.

[2017-07-11 17:49] #4289 closed

[2017-07-11 17:50] markcowl commented on #4290
@twitchax Can you comment on documentation plans in this area?

[2017-07-11 17:52] markcowl commented on #4291
@atpham256 Can you take  a look?

[2017-07-11 17:54] markcowl commented on #4269
Closign as answered, please reopen if you see a recurrence using the appropriate login cmdlet

[2017-07-11 17:54] #4269 closed

[2017-07-11 17:59] singhkays commented on #4273
@Lanwin2010 You are correct, classic is for unmanaged disks.

@hyonholee Can you take a look why Classic doesn't get accepted?

[2017-07-11 17:59] markcowl commented on #4238
@laxmand17 Please try removing Azure.AnalysisServices module from the two directories listed above, and retry your scenario:  (```Add-AzureRmAccount``` followed by ```Get-AzureRmStorageAccount```).

If you continue to see an issue, please provide additional debugging information by executing these cmdlets with ```$DebugPreference="Continue"```, and including the output here).

[2017-07-11 18:02] markcowl opened #4294 "Diagnose and reduce runtime for Compute, Sql, Network Tests"
### Description

Network, Compute, and Sql check-in tests have been taking a long time in the latest runs.  Determien the cause for the increase and reduce these tests to 15 minutes or less of runtime.

### Cost: 4

[2017-07-11 18:21] twitchax commented on #4290
@cormacpayne mentioned some great documentation that we have today.  As he points out, many of our "getting started" scenarios are well documented in both Azure CLI and Azure PowerShell.  The largest gaps occur in documentation authored by specific service teams.

As of right now, most documentation from service teams prioritizes the CLI that makes the most sense for their users; however, we have

[2017-07-11 21:11] cormacpayne commented on #4203
@animetauren Hey Henry, this has been fixed in [version 4.2.0](https://github.com/Azure/azure-powershell/releases/tag/v4.2.0-July2017) of Azure PowerShell. Please let me know if you are still seeing this issue!

[2017-07-11 21:11] #4203 closed

[2017-07-11 21:12] cormacpayne commented on #4215
The fix for this issue has been merged in [version 4.2.0](https://github.com/Azure/azure-powershell/releases/tag/v4.2.0-July2017) of Azure PowerShell.

[2017-07-11 21:12] #4215 closed

[2017-07-11 21:14] cormacpayne commented on #3043
@pbering @Bpoe this fix can be found in [version 4.2.0](https://github.com/Azure/azure-powershell/releases/tag/v4.2.0-July2017) of Azure PowerShell.

[2017-07-11 21:14] #3043 closed

[2017-07-11 21:15] cormacpayne commented on #635
This fix can be found in [version 4.2.0](https://github.com/Azure/azure-powershell/releases/tag/v4.2.0-July2017) of Azure PowerShell.

[2017-07-11 21:15] cormacpayne commented on #3954
This fix can be found in [version 4.2.0](https://github.com/Azure/azure-powershell/releases/tag/v4.2.0-July2017) of Azure PowerShell

[2017-07-11 21:16] cormacpayne commented on #3957
@johndehavilland this fix can be found in [version 4.2.0](https://github.com/Azure/azure-powershell/releases/tag/v4.2.0-July2017) of Azure PowerShell

[2017-07-11 21:16] #3957 closed

[2017-07-11 23:57] markcowl commented on #2728
Closing as duplicate of #3656

[2017-07-11 23:57] #2728 closed

[2017-07-12 04:38] atpham256 commented on #4291
This should already be available in the latest Azure PowerShell that was released today (4.2.0).

@HowardHoffman Have you tried updating to the latest Azure PowerShell and trying?

[2017-07-12 05:00] afengli opened #4299 "Add-AzureAccount non-interactive flow fail to setup token cache"
### Cmdlet(s)
Add-AzureAccount

### PowerShell Version
Instructions: to get PowerShell version, type `$PSVersionTable` and look for the value associated with `PSVersion`

5.1.14393.1198
### Module Version
4.2.0
### OS Version
Instructions: to get OS version, type `$PSversionTable` and look for value associated with `BuildVersion`
5.1.14393.1198
### Description
Add-AzureAccount does not setup token

[2017-07-12 07:06] raakeshn commented on #3735
Thanks much, martimartin! Your suggestion helped.

[2017-07-12 09:49] NicolaiPetri opened #4300 "webapp:Performance problem when listing app service certificates"
### Cmdlet(s)
Get-AzureRMWebAppCertificate

### PowerShell Version
5.1.15063.483

### Module Version
AzureRM.Websites 2.1.0

### OS Version
10.0.15063.483

### Description
When listing certificates for a specific ResourceGroup with Get-AzureRMWebApp, the filter is applyed after querying all resource groups for information. This means that the command takes a long time - it should only scan the spe

[2017-07-12 15:37] WillHooke commented on #4289
@markcowl

The -default and -current switches are deprecated according to the command when it is running. Regardless of this however, even running

Does not resolve the issue.

It appears to be random whether or not Get-AzureService or Get-AzureVM wants to start working.

[2017-07-12 16:33] hsrasheed opened #4301 "Error When Enabling Disk Encryption on Azure VM [Exception: ProtectKeyWithExternalKey failed]"
### Cmdlet(s)
Set-AzureRmVMDiskEncryptionExtension

### PowerShell Version
5.1.14393.1480

### Module Version

### OS Version
10.0.14393.1480

### Description
I used the pre-requisites script to get all of the required parameters. I successfully ran the command and encrypted 3/4 VMs. But the fourth one threw the following error:

Set-AzureRmVMDiskEncryptionExtension : Long running operation failed

[2017-07-12 17:06] afengli commented on #4299
Following are commands that can verify the problem after non-interactive flow logon.

Get-AzureService
Get-AzureVM
Set-AzureSubscription -SubscriptionId xxx - CurrentStorageAccountName yyy

[2017-07-12 18:07] #3795 closed

[2017-07-12 18:08] #3435 closed

[2017-07-12 19:51] markcowl opened #4303 "Update Profile Module to load common assemblies in AppDomain"
### Description

Update the profile module to load the common dependencies in the AppDomain.  This can be done using a  specific call to ```Add-Type``` for each module or Assembly loading extensions that automatically add the assembly load directory to the assembly search path (Mark has the working prototype for this).  Update module definitions for existing modules to remove the common assemblies

[2017-07-12 21:11] afengli commented on #4299
@markcowl , can we mark this Sprint Candidate?

[2017-07-12 21:24] montereyharris commented on #4256
I have a similar issue. Looks like output is being automatically converted in a Newtonsoft.JSON Jobject. This issue is blocking me from putting a script into production with latest cmdlets. I rolled back to AzureRM module version 4.0.2.

[2017-07-12 23:14] markcowl commented on #4299
@afengli It is actually in the current milestone

[2017-07-13 00:03] cormacpayne commented on #3967
Removed obsolete JsonDictionaryContract.PropertyNameResolver (10.0.1)
- [CamelCasePropertyNamesWithOverridesContractResolver.cs](https://github.com/Azure/azure-powershell/blob/preview/src/ResourceManager/Resources/Commands.ResourceManager/Cmdlets/Json/CamelCasePropertyNamesWithOverridesContractResolver.cs#L63)

Obsoleted TypeNameAssemblyFormat properties on JsonSerializer and JsonSerializerSetting

[2017-07-13 00:05] NelsonDaniel opened #4306 "AzureRM.Websites cmdlets missing Output on documentation"
### Cmdlet(s)
**New-AzureRmWebApp**

[Link to documentation](https://docs.microsoft.com/en-us/powershell/module/azurerm.websites/New-AzureRmWebApp?view=azurermps-4.1.0)

Output should be: Microsoft.Azure.Management.WebSites.Models.ServerFarmWithRichSku

**New-AzureRmAppServicePlan**

[Link to documentation](https://docs.microsoft.com/en-us/powershell/module/azurerm.websites/New-AzureRmAppServicePl

[2017-07-13 08:42] cadumi opened #4309 "Powershell update 11.07.2017 cannot create managed disk"
### Cmdlet(s)
New-AzureRmDisk

### PowerShell Version
Instructions: to get PowerShell version, type `$PSVersionTable` and look for the value associated with `PSVersion`

Name                           Value
----                           -----
PSVersion                      5.1.15063.483
PSEdition                      Desktop
PSCompatibleVersions           {1.0, 2.0, 3.0, 4.0...}
BuildVersion

[2017-07-13 13:25] ChrisLGardner opened #4312 "Feature/Question: ForceRerun parameter on Set-AzureRmVmCustomScriptExtension"
When looking at the Set-AzureRmVmCustomScriptExtension parameter -ForceRerun I see it accepts a String but with no information of what the string should be other than different to what it was previously set to. Digging into the tests in this repo I see the string is set to "RerunExtension" which I'd guess is just a value set for testing purposes.

Is there a reason that it's a String type rather t

[2017-07-13 18:01] cormacpayne commented on #4312
@ChrisLGardner Hey Chris, so it looks like [this value is passed](https://github.com/Azure/azure-powershell/blob/preview/src/ResourceManager/Compute/Commands.Compute/Extension/CustomScript/SetAzureVMCustomScriptExtensionCommand.cs#L180) to a [`VirtualMachineExtension`](https://github.com/Azure/azure-sdk-for-net/blob/psSdkJson6/src/SDKs/Compute/Management.Compute/Generated/Models/VirtualMachineExte

[2017-07-14 03:38] markcowl commented on #4309
@cadumi This is the subject of a hotfix, it was fixed by this pr: #4314

[2017-07-14 06:11] navimondo opened #4317 "The request content was invalid and could not be deserialized"
### Cmdlet(s)

### PowerShell Version
PSVersion                      5.1.15063.483

### Module Version
ModuleType Version    Name                                ExportedCommands
---------- -------    ----                                ----------------
Manifest   4.2.0      Azure
Script     3.2.0      Azure.Storage
Script     3.2.0      AzureRM.Compute
Script     3.2.0      AzureRM.profile
Script

[2017-07-14 15:53] Lanwin2010 commented on #4273
@hyonholee Any updates on this?

[2017-07-14 15:54] cormacpayne commented on #4317
@navimondo Hey Kris, we are currently tracking this issue here: https://github.com/Azure/azure-powershell/issues/4309

We plan on getting a hot fix out for this early next week. Please let us know if you have any questions!

[2017-07-14 15:54] #4317 closed

[2017-07-14 18:25] cormacpayne commented on #4300
@aspaan Hey Aspaan, would you mind taking a look at this issue?

[2017-07-14 22:06] cormacpayne commented on #4233
@letmaik I'm going to close this issue based on @matthchr's response. Please feel free to reopen this issue if you have any other questions!

[2017-07-14 22:06] #4233 closed

[2017-07-14 22:08] navimondo commented on #4317
@cormacpayne Would switching to a previous release solve the problem?

[2017-07-14 22:13] TimCurwick commented on #3896
This is NOT a formatting issue. The cmdlet returns completely different object types in violation of PowerShell standards.

Get-AzureRMVM -Status returns an array of PSVirutalMachineList objects.
Get-AzureRMVM -Status -Name x returns a PSVirtualMachine object.

Get-AzureRMVM returns an array of PSVirtualMachineListStatus objects.
Get-AzureRMVM -Name x returns a PSVIrtualMachineInstanceView object.

[2017-07-14 22:23] cormacpayne commented on #4317
@navimondo using [Azure PowerShell 4.1.0](https://www.powershellgallery.com/packages/AzureRM/4.1.0) ([AzureRM.Compute 3.1.0](https://www.powershellgallery.com/packages/AzureRM.Compute/3.1.0)) should continue to work until the hot fix is available on Monday.

[2017-07-14 22:33] cormacpayne commented on #4191
@arlevitt Hey Adam, was the above issue fixed?

[2017-07-14 22:36] cormacpayne commented on #4187
@jocorte this issue should be fixed in [Azure PowerShell 4.2.0](https://github.com/Azure/azure-powershell/releases/tag/v4.2.0-July2017).

[2017-07-14 22:36] #4187 closed

[2017-07-14 22:46] cormacpayne commented on #3128
This fix is available in Azure PowerShell 4.2.0.

[2017-07-14 22:46] #3128 closed

[2017-07-14 22:49] cormacpayne commented on #4006
Closing this issue due to lack of activity. @Mauzer93 Manaus, please feel free to reopen this issue when you are able to provide the necessary information.

[2017-07-14 22:49] #4006 closed

[2017-07-14 22:52] cormacpayne commented on #3839
@gucalder Hey Guillermo, would you mind taking a look at this issue?

[2017-07-14 22:54] cormacpayne commented on #4032
Closing this issue due to lack of activity. @rajaprad please feel free to reopen this issue if you have any questions.

[2017-07-14 22:54] #4032 closed

[2017-07-14 23:18] TimCurwick opened #4319 "Stopped pipeline not handled correctly by many cmdlets"
### Cmdlet(s)
Lots of them (19 of 21 tested) See below

### PowerShell Version
5.1.15063.0

### Module Version
AzureRM 4.1.0

### OS Version
15063.0

### Description
Stopping a pipeline, for example by using the -First parameter on Select-Object, results in unexpected behavior for almost all tested cmdlets.

The following each behave as expected, outputting a single result, with no error:
Get-Azur

[2017-07-15 00:18] arlevitt commented on #4191
Yes, through deleting the automation account and trying again... per my answer above.

[2017-07-15 00:21] cormacpayne commented on #4191
@arlevitt thanks Adam; just wanted to confirm. Closing this issue now.

[2017-07-15 00:21] #4191 closed

[2017-07-15 19:50] laxmand17 commented on #4238
Hi Mark,

I am able to run the “Get-AzureRmStorageAccount” now, My Issue has been resolved. I just want to get updated to latest
Azure RM Modules. I  have prior Release modules It seems, Can I run the “Update AzureRM” command to get updated
automatically every week.

Please suggest.
Thanks,
Laxman Dobbala

Sent from Windows Mail

From: Mark Cowlishaw<mailto:notifications@github.com>
Sent: ‎Tuesday

[2017-07-17 06:14] ColdHarbour commented on #4163
I didn't see this bug report, raised my own a few days ago: https://github.com/Azure/azure-powershell/issues/4256

Thanks for confirming versions

[2017-07-17 07:14] Mauzer93 commented on #4006
@markcowl it's indeed a bit misleading, but it is the correct object id of the service principal linked with the application. Assigning the role works, getting the role always throws a cloud exception.

Intresting note: I am using a VSTS service principal to do the role assignment.

[2017-07-17 13:49] arcotek-ltd commented on #1982
This was closed over a year ago. Still looking for this command. Has it been created?

[2017-07-17 14:41] ShaharZuberi commented on #4317
Any news?

[2017-07-17 16:00] cormacpayne commented on #4317
@ShaharZuberi we are looking to get version 4.2.1 of Azure PowerShell out tomorrow (Tuesday) that will contain the fix for this bug.